[2022-06-19 21:15] stephentoub commented on #70958
This is an assert in the runtime:
[code]
Maybe a dup of https://github.com/dotnet/runtime/issues/70231, but doesn't look related to this exact test.

[2022-06-19 21:28] bjornen77 commented on #70945
Related:
https://github.com/dotnet/runtime/issues/29861

[2022-06-19 23:41] MichalStrehovsky commented on #70952
This is the same stack as #70815. Could you attach a repro?

[2022-06-20 00:31] Clockwork-Muse commented on #70935
Normally you shouldn't be doing this by comparing the `ToString()` output (which, besides culture issues for things like dates, may or may not insert parenthesis where you expect, for example), you'd manually create the "expected" expression tree and compare against your actual generated tree structurally.
That's if you even care about the structure of the expression, as opposed to the results of

[2022-06-20 00:33] HJLeee opened #70963 "System.DllNotFoundException during p/invoke shows incorrect error message. (Linux)"
### Description

When trying to make a p/invoke call to faulty native library, runtime throws `System.DllNotFoundException`, but it gives incorrect message.

For example, the native library is compiled for 32 bit env and the `dlerror()` message is `wrong ELF class: ELFCLASS32`.
[code]

Currently, dotnet runtime shows `cannot open shared object file: No such file or directory` for the same library.

[2022-06-20 00:33] EgorBo commented on #55325
Closed via
https://github.com/dotnet/runtime/pull/65460
https://github.com/dotnet/runtime/pull/65922
https://github.com/dotnet/runtime/pull/69869

[2022-06-20 00:34] #55325 closed

[2022-06-20 01:23] VincentBu commented on #70642
Failed again in:  [runtime-coreclr jitstress2-jitstressregs 20220618.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1832458&view=ms.vss-test-web.build-test-results-tab&runId=48483996&paneView=debug&resultId=100370)

Failed test:
[code]
**Error message:**
[code]

[2022-06-20 01:29] VincentBu opened #70966 "Test failure tracing\\runtimeeventsource\\nativeruntimeeventsource\\nativeruntimeeventsource.cmd"
Run: [runtime-coreclr jitstress-isas-x86 20220618.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1832542&view=ms.vss-test-web.build-test-results-tab&runId=48487108&resultId=107041&paneView=debug)

Failed test:
[code]
**Error message:**
[code]
No Kusto information.

[2022-06-20 01:35] VincentBu commented on #66625
Failed again in: [runtime-coreclr gcstress0x3-gcstress0xc 20220619.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1833184&view=ms.vss-test-web.build-test-results-tab&runId=48491620&paneView=debug&resultId=106382)

Failed test:
[code]
**Error message:**
[code]

[2022-06-20 01:38] VincentBu opened #70967 "Test failure JIT/Methodical/Arrays/lcs/lcsvalbox_ro/lcsvalbox_ro.cmd"
Run: [runtime-coreclr gcstress0x3-gcstress0xc 20220619.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1833184&view=ms.vss-test-web.build-test-results-tab&runId=48491690&paneView=debug&resultId=110901)

Failed test:
[code]
**Error message:**
[code]

[2022-06-20 01:41] VincentBu opened #70968 "Test failure baseservices\\threading\\generics\\Monitor\\EnterExit04\\EnterExit04.cmd"
Run: [runtime-coreclr gcstress0x3-gcstress0xc 20220619.1
](https://dev.azure.com/dnceng/public/_build/results?buildId=1833184&view=ms.vss-test-web.build-test-results-tab&runId=48491664&paneView=debug&resultId=100178)

Failed test:
[code]
**Error message:**
[code]

[2022-06-20 01:50] jkotas opened #70969 "Could not write lines to file Microsoft.NET.HostModel.ComHost.Tests"
Intermittent build error hit by `Installer Build and Test coreclr windows_x64 Release` in CI:

[code]

[code]

### Report
|Build|Definition|Step Name|Console log|
|---|---|---|---|
|[1896046](https://dev.azure.com/dnceng/public/_build/results?buildId=1896046)|dotnet/runtime|Build|[Log](https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_apis/build/builds/1896046/logs/2334)
|[1894514

[2022-06-20 01:50] jkotas commented on #70969
Failed in #70956. Log https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_apis/build/builds/1833271/logs/1442

[2022-06-20 01:52] jkotas commented on #70969
Failed in #70944. Log https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_apis/build/builds/1832671/logs/2290

[2022-06-20 02:10] xinsiyu2008 commented on #66384
@maraf Good Job,it's works for me. Thanks a million!

[2022-06-20 02:33] VincentBu opened #70971 "Test failure net7.0-windows-Release-x64-CoreCLR_release-Windows.Amd64.Server2022.Open System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http3_MsQuic.Public_Interop_Upgrade_Success"
Run: [runtime-libraries-coreclr outerloop 20220619.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1833104&view=ms.vss-test-web.build-test-results-tab&runId=48491140&resultId=104547&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-06-20 02:36] BruceForstall commented on #70296
@AaronRobinsonMSFT I don't think it's appropriate to push this to "Future" milestone when it is causing outerloop job failures.

[2022-06-20 02:37] VincentBu opened #70972 "Test failure System.PrivateUri.Tests.UriRelativeResolutionTest.Uri_Unicode_SurrogatePairs_Scheme"
Run: [runtime-coreclr libraries-jitstressregs 20220619.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1833056&view=ms.vss-test-web.build-test-results-tab&runId=48490146&resultId=140607&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-06-20 02:39] VincentBu commented on #52631
Failed again in: [runtime-coreclr libraries-jitstress2-jitstressregs 20220618.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1832165&view=ms.vss-test-web.build-test-results-tab&runId=48479454&paneView=debug&resultId=145038)

Failed test:
[code]
**Error message:**
[code]

[2022-06-20 02:52] RussKie commented on #58492
May be @JeremyKuhne has any insights?

[2022-06-20 03:43] RussKie opened #70973 "cli xUnit tests fail since https://github.com/dotnet/runtime build 20220616.9"
### Description

The [update from the runtime](https://github.com/dotnet/winforms/pull/7322) fails at the test leg, see https://dev.azure.com/dnceng/public/_build/results?buildId=1833158&view=results.

It looks like the test runner (or the process?) reports a non-zero exit code despite no failed tests, e.g.:
![image](https://user-images.githubusercontent.com/4403806/174520569-d9b76323-05e4-4b26-9f

[2022-06-20 04:11] VSadov commented on #69222
The fix needs to be ported to 6.0
I have just hit this bug trying to repro an unrelated 6.0 issue. Once you use a newer compiler when building 6.0 runtime, win-arm64 JIT crashes the same way.

[2022-06-20 04:19] danmoseley commented on #58492
If this wouldn't break anyone, we'd welcome a PR.

Does enabling long paths change behaviors:

https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=cmd#enable-long-paths-in-windows-10-version-1607-and-later

[2022-06-20 04:25] danmoseley commented on #70963
Is dlerror() message never useful? Can we retain it when it is useful? The more (accurate) info in these messages the better as it is hard for others to help with such problems as they are often configuration specific.

Cc @AaronRobinsonMSFT

[2022-06-20 04:46] danmoseley commented on #69682
Thanks @teo-tsirpanis . The API review will be interested to see what the consumption in regex looks like, in order to demonstrate the API is the right shape. When you have that code working, we can mark ready for review, and expedite if it's necessary.

[2022-06-20 05:01] jkotas commented on #70973
This is crashing during shutdown at this callstack:
[code]

[2022-06-20 05:02] jkotas commented on #70973
Checked CoreCLR build is failing with assert (it may be a different problem - not sure):
[code]

[2022-06-20 05:03] jkotas commented on #70973
@dotnet/interop-contrib Could you please take a look?

[2022-06-20 05:07] HJLeee commented on #70963
I think it is useful if we return error message for dlopen() attempt that exactly matches the library name.

[2022-06-20 05:09] jkotas commented on #70973
(I have been running `System.Windows.Forms.Primitives.Tests` test.)

[2022-06-20 05:21] RussKie commented on #70973
Thank you @jkotas for the quick check.

For sanity I decided to rebuild several commits previously built successfully, and now I wonder if this is a CI environmental issue than a .NET runtime issue... It looks like the issue may have started sometime over the weekend, but we didn't change anything in dotnet/winforms codebase...
![image](https://user-images.githubusercontent.com/4403806/174530388-1

[2022-06-20 05:32] maraf commented on #66384
I'm happy hear that!

I'm going to close the issue now. Feel free to reopen it when you have more questions.

[2022-06-20 05:32] #66384 closed

[2022-06-20 06:37] smhmhmd commented on #70848
@jkotas

Yes, you are right.

Since libSystem.Globalization.Native.a is an archive, libicu*.a archives need to be linked separately like in the prototype below.
Here is a prototype to make the statically linked binary invoking `ulocdata_getCLDRVersion()` on Alpine Linux:
( pal*.o are from my dotnet build )

[code]

If you are okay with this approach, can I send a PR, assuming pal_icu_shim_static c

[2022-06-20 06:40] agocke commented on #70510
@BruceForstall Thanks, added some more info.

I haven't really proposed anything to hide real product issues. Perhaps this distinction is useful if a new proposal is introduced.

[2022-06-20 06:54] k15tfu opened #70975 "Ability to customize the runtime location for framework-dependent apps (apphost)"
Hi!

We have a number of framework-dependent apps in our bin directory with their dependencies, and we do bundle .NET runtime for different platforms in separate runtime-specific subfolders, and pack it all together for end users. In general, the overall product layout looks like:
* App1.exe (managed app)
* App2.exe
* (other managed dependencies, `.deps.json` and `.runtimeconfig.json` files)
* lin

[2022-06-20 07:05] #70910 closed

[2022-06-20 07:05] #70758 closed

[2022-06-20 07:13] k15tfu opened #70976 "Prevent renaming apphost executables"
Hi!

There was a discussion https://github.com/dotnet/runtime/issues/3496#issuecomment-472589961 that the dotnet executable doesn't work if renamed `A fatal error was encountered. Cannot execute dotnet when renamed to %s` because of security concerns (among others). The point is that the muxer can execute any managed assembly, but for end users it will look like something signed by Microsoft.

The

[2022-06-20 07:27] #70071 closed

[2022-06-20 07:36] ilonatommy commented on #55083
@pavelsavara, was there any progress on fixing them? Are we keeping it in 7.0 targets?

[2022-06-20 07:38] #64159 closed

[2022-06-20 07:43] ilonatommy commented on #56145
@akoeplinger, what is the status on this one?

[2022-06-20 07:47] ManickaP commented on #70971
`quic.aiortc.org:443` is H/3 interop test. This shouldn't even attempt H/2, I'll look into it.

[2022-06-20 07:54] premun commented on #70973
Having a quick look at some of the main builds - this seems to be something inside of the Xunit runner but it's flakey?

For instance this build - [1833634](https://dev.azure.com/dnceng/public/_build/results?buildId=1833634&view=results) - only some legs failed.

However, I don't see anything infra related, especially if you can reproduce locally?

[2022-06-20 07:56] ilonatommy commented on #57519
@pavelsavara, what's the status?

[2022-06-20 08:00] wfurt commented on #70971
downgrade?

[2022-06-20 08:03] ManickaP commented on #70949
We should improve the message and include information from the underlying exception if we attempt but fail to establish an H/3 connection. We shouldn't be using all encompassing message which we use for unavailable H/3 support (missing msquic, disabled h/3, low version of windows, ...)

[2022-06-20 08:03] ManickaP commented on #70971
I don't know, I have to look.

[2022-06-20 08:09] ManickaP opened #70978 "Consider overloadding `==` and `!=` for `IPAddress`"
We hit this in https://github.com/dotnet/runtime/pull/57250 and right know hitting here:
https://github.com/dotnet/runtime/blob/38794de5f2e3198b28df0915e82e33ab3d91f2ee/src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicListener.cs#L191

Customer hitting: https://github.com/dotnet/runtime/issues/38040

However, this is highly likely breaking change (anyone expecting `==

[2022-06-20 08:24] ilonatommy commented on #58707
@radekdoulik, are we able to fix it in 7.0?

[2022-06-20 08:26] filipnavara commented on #70909
I updated the proposal slightly to mention exceptions and rename the `isConfidential` parameter to `isEncrypted` to match the existing `IsEncrypted` property.

[2022-06-20 08:35] ilonatommy commented on #70887
[code]

[2022-06-20 08:50] Symbai commented on #70975
This is just a dupe of the linked issues, for example #3453 which is still opened and can be used as tracking. I'm not sure why you did created a new one. This only adds more noise. If you want to increase priority, you should post within / and upvoting existing issues.

[2022-06-20 08:51] ilonatommy commented on #58812
@pavelsavara, keeping it under the 7.0 target?

[2022-06-20 08:59] ilonatommy commented on #58826
@radical, it seems the Blazor issue got closed with no plans of fixing.

[2022-06-20 09:01] ilonatommy commented on #59034
@navin22 was there any progress in fixing?

[2022-06-20 09:06] ilonatommy commented on #59278
@radical, can we make it in the current iteration?

[2022-06-20 09:07] radical commented on #59211
No blockers, and I have a partial patch which needs to be revived when I get some time.

[2022-06-20 09:17] skyoxZ commented on #70978
I'm curious why `IPAddress.Equals(IPAddress other)` is internal.

[2022-06-20 09:21] karelz commented on #51097
Happened again on [1833334](https://runfo.azurewebsites.net/view/build/?number=1833334) (6/19 AM) -- all 5 tests on net7.0-windows-Release-x86-CoreCLR_release-Windows.7.Amd64.Open

Looking at Runfo, there have been 82 failures (12 failures are on Rolling runs) of all 5 tests on the same platform in last 7 days:
- [System.Drawing.Tests.GraphicsTests.FromHwnd_ValidHwnd_ReturnsExpected](https://runfo

[2022-06-20 09:37] kasperk81 commented on #70976
disallowing file rename is unreliable way to ensure authenticity. nobody else uses this strange method and it only gives us false sense of safety.

you can get away with something out of the operating system

[code]

or something out of shell

[code]

[#overengineering](https://en.wikipedia.org/wiki/Overengineering)
[#safety-through-obscurity](https://en.wikipedia.org/wiki/Security_through_obscuri

[2022-06-20 09:49] jakobbotsch commented on #69222
Seems reasonable to port it, but I would also hope the VC++ team would prioritize fixing this so that newer compilers will not hit this problem in all old source code we compile. @kunalspathak did you hear back from them?

[2022-06-20 09:50] k15tfu commented on #70975
@Symbai Thank you for the suggestion, https://github.com/dotnet/sdk/issues/10366 sounds to me like this is more about managed assemblies rather than hostfxr in the first place. Regarding https://github.com/dotnet/runtime/issues/64430, as was noted in https://github.com/dotnet/runtime/issues/64430#issuecomment-1025668929 there are discussed two different customizations, and the first of them is wha

[2022-06-20 09:55] vitek-karas commented on #70976
The `apphost` is not signed by Microsoft when we ship it. It's also not signed by the SDK when it produces an app (macOS is different, but there it should be using the developer cert only anyway). Also the `apphost` as shipped by Microsoft won't run at all (it will immediately fail). The `apphost` produced as an executable of an app by the SDK is tied to a `.dll` file of a specific name, so it als

[2022-06-20 10:00] karelz opened #70981 "Assert in System.Net.Security.Tests.CertificateValidationRemoteServer.ConnectWithRevocation_*"
Affected tests:
- **ConnectWithRevocation_WithCallback** - `System.Net.Security.Tests.CertificateValidationRemoteServer.ConnectWithRevocation_WithCallback`
    - Frequency in [last 30 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E30+definition%3Aruntime+name%3A%22system.net.security.tests.certificatevalidationremoteserver.connectwithrevocation_withcallback%22) as of 8/25: **12

[2022-06-20 10:03] filipnavara opened #70982 "[API Proposal]: Expose additional flags and validation in `NegotiateAuthentication`"
### Background and motivation

In #69920 the initial `NegotiateAuthentication` API surface was reviewed and approved. This was intentionally scaled down to a minimum viable proposal to unblock client-side and server-side HTTP authentication scenarios without resorting to reflection on internal API surface.

This follows with addition to the API surface to support two additional scenarios:
- Migrat

[2022-06-20 10:07] ilonatommy opened #70983 "[wasm][debugger] Firefox tests cancelled or throwing KeyNotFoundException - test files cannot be found"
Sample [Run](https://dev.azure.com/dnceng/public/_build/results?buildId=1830764&view=ms.vss-test-web.build-test-results-tab).

Around 80 tests on Firefox failing on CI and locally. There are different messages:
- [ ] Test file not found, failing assert: e.g. `MiscTests.CheckThatAllSourcesAreSent`
[code]
- [ ] Test not found, throwing exception, e.g. `DebuggerTests.ArrayTests.InspectGenericValueTyp

[2022-06-20 10:10] lklein53 commented on #68373
Hi,
any update on this issue or guidance on how to provide further information that might help  ?

[2022-06-20 10:16] #70920 closed

[2022-06-20 10:42] ManickaP commented on #68373
I'd suggest filing issue in grpc repo for your particular problem, doesn't seem to be directly related.

[2022-06-20 10:46] AndreasHeisel opened #70984 "Make handling of custom attributes more consistent."
There are multiple APIs to access custom attributes that behave differently (.NET 6).
Example:
[code]

I think it is valid to query for an interface. This enables more flexibility in reflection driven applications.

I propose to relax the restrictions on the throwing or not compiling APIs in a way to allow interfaces as attribute type. This shouldn't affect real world code that works today. I don'

[2022-06-20 10:51] karelz opened #70985 "Tests failed: Wasm.Build.Tests.BlazorWasmBuildPublishTests due to SIGKILL"
Failing tests: Wasm.Build.Tests.BlazorWasmBuildPublishTests due to SIGKILL

Affected tests:
- WithNativeReference_AOTInProjectFile -- `Wasm.Build.Tests.BlazorWasmBuildPublishTests.WithNativeReference_AOTInProjectFile`
- WithNativeReference_AOTOnCommandLine -- `Wasm.Build.Tests.BlazorWasmBuildPublishTests.WithNativeReference_AOTOnCommandLine`
- NativeBuild_WithDeployOnBuild_UsedByVS -- `Wasm.Build.

[2022-06-20 10:52] karelz commented on #70985
Given the high impact on CI, we should consider disabling the tests.

[2022-06-20 11:09] karelz commented on #60933
Happened again in [1825417](https://runfo.azurewebsites.net/view/build/?number=1825417) (6/14 PM) - 10 test failures:
- System.Diagnostics.Tests.InstanceDataTests.InstanceDataCollectionCollection_CopyTo
- System.Diagnostics.Tests.InstanceDataTests.InstanceDataCollectionCollection_Contains_Valid
- System.Diagnostics.Tests.InstanceDataTests.InstanceDataCollection_GetValues
- System.Diagnostics.Tests

[2022-06-20 11:10] craziemac opened #70989 "Upgrading from netcore3.1 to net6.0 breaks relative path support in SQLCommand"
### Description

When running SQLCommand.ExecuteNonQuery with CommandText "CREATE DATABASE {databaseName} ON (NAME = N'{databaseName}', FILENAME = '{databasePath}')" in net6.0 application it does not parse the databasePath correctly if it contains a relative path that navigates more than two levels upwards. Same command in netcore3.1 works properly.

### Reproduction Steps

[code]

### Expected be

[2022-06-20 11:34] janvorli commented on #66568
I can repro this locally, but it takes about 100000 iterations of the test to reproduce. I can see that the bad floating point value binary representation is 0xcccccccccccccccc, which likely represents uninitialized memory. I suspect the issue that is going to be fixed by #69906 may be the culprit.

[2022-06-20 11:41] blowdart commented on #70976
It's very much targeted at Windows because that's where Authenticode lived. On linux there's no such validation built into the OS

However as @vitek-karas says the apphost exes are a more stripped down version of dotnet.exe, and the rename concern doesn't apply because they're not signed, until you make the choice to sign them, and they're tied to what else is published with them, so a rename does

[2022-06-20 11:51] janvorli commented on #70270
This issue happens in the coreclr test running infrastructure, not in the test itself. It seems the code just needs to be hardened against child process exiting.

[2022-06-20 11:55] karelz commented on #45575
Another hit in Rolling build [1832161](https://runfo.azurewebsites.net/view/build/?number=1832161) (6/18 AM).

Hits in [last 30 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E30+definition%3Aruntime-extra-platforms+name%3A%22system.xml.xsl.xslcompiledtransformapi.tests+work+item%22) (as of 6/20):
- Rolling build [1832161](https://runfo.azurewebsites.net/view/build/?number=18321

[2022-06-20 11:58] thaystg commented on #55214
@rmencia-isv are you still getting this behavior?

[2022-06-20 12:14] janvorli commented on #70766
The actual relevant part of the output is this:
[code]
The assert that fires is here:
https://github.com/dotnet/runtime/blob/b9f899e8978fc9e6101823fc630cfc17ab45a7ae/src/coreclr/inc/clrconfignocache.h#L32-L36

I can only see two callers of that function that don't check for the IsSet before calling it:
https://github.com/dotnet/runtime/blob/b9f899e8978fc9e6101823fc630cfc17ab45a7ae/src/coreclr/util

[2022-06-20 12:16] janvorli commented on #67180
@AntonLapounov can you please set the milestone of this issue to remove the untriaged label?

[2022-06-20 12:23] jkotas commented on #14537
The best answer that I have for that is FreeBSD project in https://github.com/dotnet/runtimelab. It is not exactly official build, but it is at least no running under somebody's personal account.

runtimelab projects are forks of dotnet/runtime and the CI for each project can be customized. It should be possible to make it produce crosscompiled SDK by patching runtime in Linux .NET SDK with live b

[2022-06-20 12:25] filipnavara commented on #29270
Maybe we can close this issue in favor of #69920 (API approved) and #70909, #70982 (API suggestions)? Together it should cover the full functionality surface that was proposed here.

[2022-06-20 12:30] eiriktsarpalis commented on #70945
This needs to be considered separately for reflection and source generated serialization:

- The reflection case should be relatively straightforward, since it doesn't affect how properties are populated. Effectively it's implementing https://github.com/dotnet/runtime/issues/29861. Since there's now a language keyword, we can avoid exposing a dedicated attribute for now, but we still need to add a

[2022-06-20 12:51] ilonatommy commented on #52388
Checked on dotnet 7 preview 4 and it either works fine or I don't fully understand the scenario. I created a small repro where we have 2 razors for Croatian:
- `hr.razor` with { "Greeting": "Zdravo svijete! hr", "Greeting2": "Another Zdravo svijete! hr"}
- 'hr-HR.razor` with { "Greeting": "Zdravo svijete! hr-HR"}
Setting the culture for `hr-HR`:
[code]
we are getting the correct view of:
![image](

[2022-06-20 12:54] mgaeckler1964 commented on #69306
Thanks, I will try to create a SSCCE. According to that error message:

/usr/share/dotnet/packs/Microsoft.NETCore.App.Host.linux-x64/6.0.0/runtimes/linux-x64/native/libnethost.a(utils.cpp.o): In function `std::string::_M_check(unsigned long, char const*) const':
/opt/rh/devtoolset-8/root/usr/lib/gcc/x86_64-redhat-linux/9/../../../../include/c++/9/bits/basic_string.h:3390: undefined reference to `s

[2022-06-20 12:59] trylek commented on #70393
FWIW I'm currently investigating a stack overflow I may have recently caused in Crossgen2, please see here:

https://github.com/dotnet/runtime/issues/70385

This is just for reference in case the two issues turn out to be related.

[2022-06-20 13:04] rmencia-isv commented on #55214
Sorry, I'm not doing any debugging on blazor at the moment, I'm working on the API. I was getting very frustrated with blazor dev work, so I decided to complete the API and wait for a few more versions to fix the large number of issues I was finding every day.

Get Outlook for Android<https://aka.ms/AAb9ysg>

Roberto Mencia Franco
Principal Solutions Architect

40 Rosslyn Street
West Melbourne VIC

[2022-06-20 13:08] ManickaP commented on #70971
It was upgrade, PR is up.

[2022-06-20 13:09] jkotas commented on #70848
What would that PR do?

[2022-06-20 13:11] mgaeckler1964 commented on #69306
It seems to me, that I found a possible solution:

  LIBS = "`find /usr/share/dotnet -name libnethost.a | grep x64 | grep -e /5. -e /6. | sort | tail -n 1`"
  LIBS += "`find /usr/share/dotnet -name libnethost.so | grep x64 | grep -e /5. -e /6. | sort | tail -n 1`"

I added both, the static library and the shared library.

I hope, I was not happy too early.

[2022-06-20 13:44] SamMonoRT commented on #61484
@fanyang-mono : assigning to you for tracking

[2022-06-20 14:03] rseanhall commented on #58492
No, at least as of the current Win11.

Yeah, about that... it turns out this probably can't be done in a non-breaking way.

1. From the documentation: `If the executable module is a 16-bit application, lpApplicationName should be NULL, and the string pointed to by lpCommandLine should specify the executable module as well as its arguments.` I don't know how many .NET 7 applications will be running

[2022-06-20 14:08] khellang opened #70996 "[API Proposal]: System.Net.HttpStatusCode.UnprocessableContent"
### Background and motivation

Now that [RFC 9110 - HTTP Semantics](https://www.rfc-editor.org/rfc/rfc9110.html) is official, with the inclusion of the `422 Unprocessable Content` status code, I'd like to propose the following API.

There's already precedent for adding HTTP status aliases after standardization;

- 300 - `HttpStatusCode.MultipleChoices` and `HttpStatusCode.Ambiguous`
- 301 - `HttpS

[2022-06-20 14:08] kunalspathak commented on #69222
They have already fixed the bug and it is set to "Pending Release".

https://developercommunity.visualstudio.com/t/Bad-codegen-for-Arm64-when-upgraded-to-1/10054888

I will start the process to backport it because I am not sure when the release will be out and we will update VC++ at that time.

[2022-06-20 14:19] karelz commented on #58712
We could consider it post-7.0 (as it is risky change), if there are scenarios where it is highly inconvenient to not use `Uri` -- is there more info on how it is being used and why `Path` might not work?

[2022-06-20 14:26] KutanaDev opened #70998 "Sometimes print jobs started by PrintQueueStream suffer an Exception in XpsRasterService.dll"
### Description

The .NET class `PrintQueueStream` lets you copy xps content directly to a destination printer queue.

This method succeeds on win10.

But exactly the same code running on win11 sometimes raises an Exception, always with the same stack trace:

[code]

It doesn't fail for every xps file, only some. In the linked solution, the file NatWest Welcome.xps succeeds, but the Kappris for Ex

[2022-06-20 14:28] SamMonoRT commented on #41357
Moving to 8.0

[2022-06-20 14:31] SamMonoRT commented on #53032
@fanyang-mono - assigning to you, mostly to help plan for amd64 intrinsic work later this summer.

[2022-06-20 14:32] SamMonoRT commented on #53032
Moving to 8.0 as low priority for current release

[2022-06-20 14:32] SamMonoRT commented on #66392
https://github.com/dotnet/runtime/issues/53032 is related

[2022-06-20 14:39] JulieLeeMSFT commented on #70972
@BruceForstall this fails in libraries code. Please take a look and route to a right owner.

[2022-06-20 14:39] SamMonoRT commented on #54399
Assigning for accurate tracking and triaging

[2022-06-20 14:40] SamMonoRT commented on #54395
Assigning for accurate tracking and triaging

[2022-06-20 14:40] SamMonoRT commented on #54393
Assigning for accurate tracking and triaging

[2022-06-20 14:40] SamMonoRT commented on #54392
Assigning for accurate tracking and triaging

[2022-06-20 14:41] kant2002 opened #70999 "NativeAOT FSharp issue"
Not sure if I again on the unsupported territory or not, but let's pretend not.

Get code from this PR https://github.com/JamesRandall/fsharp-wolfenstein/pull/7 and add
[code]
Publish with `dotnet publish -c Release --self-contained`.
Mostly application works, but some diagnostic information triggers
[code]

Which seems to be from this line

https://github.com/JamesRandall/fsharp-wolfenstein/blob/

[2022-06-20 14:41] SamMonoRT commented on #54388
Assigning for accurate tracking and triaging

[2022-06-20 14:41] SamMonoRT commented on #54373
Assigning for accurate tracking and triaging

[2022-06-20 14:42] SamMonoRT commented on #54359
Assigning for accurate tracking and triaging

[2022-06-20 14:42] SamMonoRT commented on #54382
Assigning for accurate tracking and triaging

[2022-06-20 14:43] lambdageek commented on #47462
@SamMonoRT We can probably add the runtime support, but:
1. I'm not aware of an end to end scenario where we have a use case for startup hooks on mobile.
2. We would also need to do updates to the SDKs to bundle the startup hooks on mobile

It might make sense to add the support for desktop only so that, for example, s390x can use startup hooks to more closedly match coreclr behavior on their plat

[2022-06-20 14:47] AaronRobinsonMSFT commented on #70296
@BruceForstall Okay.

[2022-06-20 14:48] #67630 closed

[2022-06-20 14:51] jakobbotsch commented on #70876
ildasm seems to be cutting the last 8 bytes off a bytearray. Before:
[code]
after
[code]

[2022-06-20 15:03] ilonatommy commented on #53239
Thank you @catfiadhaich, your problem falls under this issue: https://github.com/dotnet/runtime/issues/44739. The reasons for shortening the names is provided there and is still under discussion.

[2022-06-20 15:22] jakobbotsch commented on #70876
ildasm has a `SizeOfField` function that tries to compute the size of a field by going through the fields of the type, used when printing fields using RVAs. This algorithm does not seem to take alignment into account which causes the problem.

[2022-06-20 15:25] pavelsavara commented on #70133
I would like to make `JSHost.Import` work, because it's a way how I could allow C# developer to load ES6 module without manipulating `.html` files or doing their own `.js` files, for example in a component.

Currently I'm thinking to add Module parameter to the `JSImportAttribute` like:
[code]
I like it because it allows the developer to construct the URL dynamically before first call.

I could al

[2022-06-20 15:26] danmoseley commented on #58492
For (1) -- 16 bit support does not exist on 64 bit Windows. It's off by default on 32 bit Windows 10 apparently, and 32 bit Windows 11 doesn't exist. So at least in theory, it could safely work on those.

But for (2) and (3) .. that does seem risky as you say.

[2022-06-20 15:28] danmoseley commented on #58492
What about only following this code path when we know the path is too long and will fail anyway? Or, conversely, when process start has failed and we believe this is why (eg error 206 when path is prefixed with `\\?\`) then try again with the other code path?

[2022-06-20 15:29] jakobbotsch commented on #70876
It seems a little unreasonable to me to have to do type layout as part of ildasm.. I can probably fix this particular case, but I cannot imagine that the current algorithm handles anything but the simplest cases correctly.

[2022-06-20 15:38] rseanhall commented on #58492
We would have to assume people weren't doing something crazy like putting all the arguments in the file name. `"path\to\my.exe" assume all the arguments are longer than MAX_PATH "here"` for example.

[2022-06-20 15:41] jkotas commented on #70999
Printf in FSharp is known to use a ton of reflection that is not compatible with trimming. Duplicate of https://github.com/fsharp/fslang-suggestions/issues/919 .

[2022-06-20 15:41] #70999 closed

[2022-06-20 15:50] ClearScriptLib opened #71002 "COM interop converts `VT_BSTR/NULL` variants to `null` instead of `string.Empty`"
### Description

Our project relies on COM interop to bring VBScript support to .NET applications. A user has discovered that COM interop converts `VT_BSTR/NULL` variants to `null`.

According to [this article](https://docs.microsoft.com/en-us/archive/blogs/ericlippert/erics-complete-guide-to-bstr-semantics), a `NULL` `BSTR` must be treated as an empty string. In other words, unlike .NET's [`strin

[2022-06-20 15:50] danmoseley opened #71003 "Microsoft.Extensions.FileProviders.Physical.PhysicalFilesWatcher.RaiseChangeEvents takes down process on an IO exception"
Note, this is in a[ 6.0 run.](https://github.com/dotnet/runtime/pull/70763) But I see no issue that was already fixed.
[code]
I found https://github.com/dotnet/runtime/issues/57266, but this is not creating a symbolic link.

Looking at the dump briefly, I see no test running. Is it possible a test completed without unregistering for events -- so if this had not hit access denied, it would have gon

[2022-06-20 15:53] kant2002 commented on #70999
Just FYI that's slightly different pattern, but I will go report that pattern there too.

[2022-06-20 16:02] jonathanpeppers opened #71004 "DateTimeOffset.Now TimeZone data impacts Android startup"
### Description

Reviewing a [customer issue](https://github.com/jonathanpeppers/maui-profiling/issues/16), we noticed any accidental usage of `DateTimeOffset.Now` has a noticeable impact to startup:

![image](https://user-images.githubusercontent.com/840039/174640114-0de238f2-441d-43de-a1f8-39e518d13f1b.png)

277ms is a lot of time given that the total startup time is 182ms of a `dotnet new andro

[2022-06-20 16:04] trungnt2910 commented on #55803
After some work, currently this is where CoreCLR initialization is failing:

[code]
Here, `reserve_size` is 274877906944 bytes, or 256 GiB!?

What's going on here?

[2022-06-20 16:07] AndyAyersMS opened #71005 "[libraries-pgo] arm64 failure in System.Tests.DoubleTests.ParsePatterns"
This test has been failing off and on for a while with random PGO (and possibly other modes)

One common failure mode is
[code]
Though I have also seen
[code]
and gc heap corruption.

Repros fairly readily with just this test enabled (add `-parallel none -method System.Tests.DoubleTests.ParsePatterns` to xunit args).

Binary search via `COMPlus_JitEnablePgoRange` indicates the problematic method i

[2022-06-20 16:14] EgorBo commented on #69446
Judging by the global history it was just a bi-modal behavior:
![image](https://user-images.githubusercontent.com/523221/174643133-66e77e0d-d607-4849-b2f8-2070f7e5171c.png)

[2022-06-20 16:14] #69446 closed

[2022-06-20 16:16] EgorBo commented on #69280
Decide to postpone this to 8.0 where I plan more changes for the inliner. I tried this locally and it was too impactful

[2022-06-20 16:19] EgorBo commented on #68409
Fixed with https://github.com/dotnet/runtime/pull/67902

[2022-06-20 16:19] #68409 closed

[2022-06-20 16:30] antonfirsov commented on #70684
I updated the proposal with a public constructor `HttpProtocolException(string? message, long errorCode)` modeled after a [similar constructor on `IOException`](https://docs.microsoft.com/en-us/dotnet/api/system.io.ioexception.-ctor?view=net-6.0#system-io-ioexception-ctor(system-string-system-int32)).

[2022-06-20 16:31] jonathanpeppers opened #71007 "RegexOptions.Compiled impacts Android startup"
### Description

Reviewing a [customer issue](https://github.com/jonathanpeppers/maui-profiling/issues/16), we noticed usage of `RegexOptions.Compiled` impacts startup quite a bit:

![image](https://user-images.githubusercontent.com/840039/174644649-99e5ae39-4952-4f7c-acec-42533c644035.png)

This was coming from the AppCenter SDK in the customer's app:

https://github.com/microsoft/appcenter-sdk-d

[2022-06-20 16:36] blowdart commented on #71009
This is right :)

[2022-06-20 16:41] mgaeckler1964 commented on #69306
Now my Jenkins Build is successfull.

[2022-06-20 16:41] EgorBo commented on #63745
The regression almost got fixed by various PRs so moving it to Future
![image](https://user-images.githubusercontent.com/523221/174646844-0d305574-675b-452b-b341-1f5975d6e08a.png)

[2022-06-20 16:47] stephentoub commented on #71007
RegexOptions.Compiled is a tradeoff between startup overhead and throughput: it adds overhead to constructing the Regex in exchange for making regexes execute faster.  Are you seeing this construction cost increase but throughput not also increase?  If they both go up, then the opt-in flag is doing what it's supposed to do, and if a customer doesn't want to tradeoff that construction overhead for

[2022-06-20 16:51] adamsitnik commented on #69377
@slav thanks for a very detailed bug report

@stephentoub thanks for the fix!

Since both 7.0 and 6.0 PRs got merged, I am going to close the issue.

[2022-06-20 16:51] #69377 closed

[2022-06-20 16:53] AraHaan opened #71012 "ManagedWebSocket throws annoying error when connection is aborted in ReceiveAsync."
### Description

Currently I use Remora.Discord, which uses Polly and sockets to manage sockets to Discord, however when the socket goes into Aborted and then it tries to call ``ReceiveAsync`` it results in an annoying throw which then gets logged.

I think what could be done is to instead check for if the state is aborted then return instantly (instead of throwing).

However with this being break

[2022-06-20 16:55] #66089 closed

[2022-06-20 16:55] AaronRobinsonMSFT commented on #71002
@ClearScriptLib Since this behavior was inherited from .NET Framework it is unlikely the built-in system will be changed due to compatibility concerns and relative value to other interop scenarios. The evolution of interop for COM scenarios is in [source generation](https://github.com/dotnet/runtime/issues/66674).

We would consider community contribution of this work but it would come with a disc

[2022-06-20 17:01] SeeminglyScience commented on #40546
I tried to keep the proposal as close to other APIs in the library as possible. If we were adding overloads for performance, I'd rather see `ReadOnlySpan<LabelHandle>` added (but that also is not present in the API surface today). For now, I'm going to keep the proposal as is.

[2022-06-20 17:08] #70156 closed

[2022-06-20 17:15] adamsitnik commented on #69605
@GrabYourPitchforks @jkotas was this problem discussed in the past?

[2022-06-20 17:25] tannergooding commented on #35620
Just reading the issue vs PR description I wouldn't expect it. This issue is around a retyped `TYP_SIMD32` and the assert fix was over `TYP_SIMD12`.

I'd expect this issue to be caused by a `TYP_SIMD32 float` being retyped as a `TYP_SIMD32 int32` instead, for example. If this was fixed by anything I would expect it may have been fixed by some of the fixes @SingleAccretion has been doing around typ

[2022-06-20 17:29] jakobbotsch commented on #35620
I was basing that on your original description which is:

Those links are broken but pointed to the relevant code that @sandreenko changed in #38484, where he made CSE always propagate the class handle.

[2022-06-20 17:30] adamsitnik commented on #70830
Hi @Zastai

The sys-call that is being used is `GetFileAttributesEx`:

https://github.com/dotnet/runtime/blob/df53937aaac84a73253ac8a9dbf49803ee7e95a1/src/libraries/System.Private.CoreLib/src/System/IO/File.cs#L190-L191

https://github.com/dotnet/runtime/blob/df53937aaac84a73253ac8a9dbf49803ee7e95a1/src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.Windows.cs#L120-L123

https://github.

[2022-06-20 17:34] adamsitnik commented on #70798
@stephentoub do you think that it would meet the 3.1 backport bar?

[2022-06-20 17:38] teo-tsirpanis commented on #40546
Yeah, spans would not fit because they are nowhere else used in this library. `IReadOnlyCollection` would be the next most memory-efficient solution (in a library where memory efficiency is a theme), but let's wait for the API owners' opinion.

[2022-06-20 17:39] vcsjones commented on #71009
@MattR-entrust

Do you mean this is a regression in behavior from a previous version of .NET? Did this used to work in .NET Core 3.1 or .NET 5?

Do you have a quick example program that you can show to demonstrate the behavior, assuming `new CngProvider("Some other CNG Provider")` is an available CNG provider for a given KSP?

[2022-06-20 17:42] danmoseley commented on #70798
.NET 3.1 is in its[ final 6 months](https://docs.microsoft.com/en-us/lifecycle/products/microsoft-net-and-net-core) of support. We call that the 'maintenance period' and we [only take security fixes in that period.](https://github.com/dotnet/core/blob/main/release-policies.md#maintenance-support)

@NegativeMjark is it possible to update to .NET 6 to avoid this bug?

[2022-06-20 17:43] Beau-Gosse-dev commented on #70010
@LakshanF or @MichalStrehovsky is this the same failure even though it happened in "System.Runtime.Tests"?

[2022-06-20 17:43] goodjohnscott opened #71014 "ASP.NET 6 - Out of Memory Exception on App Service"
My customer has a large .NET 6 web application that has been migrated over the years from a .NET Core 1.0.  Part of the functionality of the application is the ability to upload files.  When they send a request 100MB or larger, they get an out of memory exception in the middleware when it tries to bind the request to the object (stack trace below).  The memory on the app service plan never gets hi

[2022-06-20 17:47] danmoseley commented on #71007
Just curious, why do they not pass it when targeting .NET Standard?
[code]

[2022-06-20 17:52] ClearScriptLib commented on #71002
@AaronRobinsonMSFT That makes perfect sense.

Of course. After all, it would be a breaking change. Just curious – is there a standard way in .NET to make such changes opt-in rather than enabled by default? Something like V8's system of [flags](https://github.com/v8/v8/blob/master/src/flags/flag-definitions.h)?

[2022-06-20 17:54] AaronRobinsonMSFT commented on #70973
Running just that test doesn't cause a failure. I am going to assume some of the new `ComWrappers` or `LibraryImport` work has a bug in it that missed a GC mode transition - boo.

[2022-06-20 18:17] naricc commented on #61978
@radical This is an issue I crated a while ago to document/track problems I saw in getting the runtime test working with wasm-aot. Not sure if this is still relevant as I have not been working on them. Should I close this out or do you want it?

[2022-06-20 18:23] kunalspathak commented on #35033
Closed by https://github.com/dotnet/runtime/pull/70654

[2022-06-20 18:23] #35033 closed

[2022-06-20 18:29] agocke commented on #70969
@elinor-fung Could this be caused by recent changes?

[2022-06-20 18:32] tannergooding commented on #35620
Ah, it might've fixed it then if that PR causes the handle to always be available.

I think more generally we probably want LSRA to not be dependent on the class handle. The underlying type of a `TYP_SIMD32` doesn't matter for `save/restore upper`. We just care that the raw bits get preserved.

[2022-06-20 18:34] Bouke opened #71016 "Enumerable.Chunk remarks slightly incorrect"
https://github.com/dotnet/runtime/blob/d6d28e40b34ae98f94a9436e7c1d54fd7370676d/src/libraries/System.Linq/src/System/Linq/Chunk.cs#L15

This will only hold when `source.Count() > size`, otherwise the first chunk will be of size `source.Count()`.

Example:

[code]

[2022-06-20 18:42] janvorli commented on #55803
That's correct. GC regions reserve 256GB large VM range. Is Haiku limiting the virtual memory usage? Please note that this is just virtual address space reservation, it doesn't commit that memory. But we plan to reduce that range as there are people on Linux running .NET in an environment that has explicitly limited available virtual memory.

[2022-06-20 18:43] janvorli commented on #69306
I believe the missing symbol should be defined in the standard c++ library, the libstdc++. @mgaeckler1964 is it possible that your app is not linking to that library?

[2022-06-20 18:58] jonathanpeppers commented on #71007
If you look at blame, it doesn't actually give much detail:

https://github.com/microsoft/appcenter-sdk-dotnet/commit/70f79440f0ca6be28108308e9d0faef46c32b693

I'm not sure what issue they're trying to solve here either. It seems like the old code would have worked in Xamarin.Android in 2019 to me?

[2022-06-20 19:05] jkoritzinsky commented on #71016
Technically the comment is correct, as when `source.Count() < size`, then the first chunk is the last chunk, the one chunk that can be less than size `size`.

[2022-06-20 19:16] bgrainger opened #71018 "`StringComparison.OrdinalIgnoreCase` compares `"¡a"` and `"¡B"` incorrectly"
### Description

In `net5.0` and `net48` on Windows, `string.Compare("¡a", "¡B", StringComparison.OrdinalIgnoreCase)` returns a value < 0 (specifically -1).

But In `net6.0` and `net7.0`, that expression returns a value > 0 (specifically, 31).

The `net5.0` result fulfills the meaning of `StringComparison.OrdinalIgnoreCase`; the `net6.0` result does not.

Setting `$env:DOTNET_SYSTEM_GLOBALIZATION_

[2022-06-20 19:24] rseanhall commented on #58492
Repro arguments for what exactly? All I was trying to point out was that because the current `System.Diagnostics.Process` code allows double quotes in the file name, it makes it impossible for us to tell whether the entire string is supposed to be the file name. So the `ProcessStartInfo.FileName` string might be more than MAX_PATH, but the actual file portion isn't. And if we try to parse the file

[2022-06-20 19:27] bgrainger commented on #71018
The prefix can be arbitrarily long (e.g., `string prefix = "\u00A1aaaaaaaaaaaaaaaaaaaaaaaa";`); the common factor seems to be that case differences between different ASCII characters are counted as significant after the first character with code point U+0080 or higher.

[2022-06-20 19:30] tarekgh commented on #71018
@bgrainger thanks for filing the issue. Yes, this is a bug.

[2022-06-20 19:35] agocke commented on #70958
@mangod9 Could someone take a look ASAP?

[2022-06-20 19:36] JeremyKuhne commented on #58492
@rseanhall your repro of the `MAX_PATH` problem.

[2022-06-20 19:36] agocke commented on #70231
This is still failing quite a lot

[2022-06-20 19:40] #70887 closed

[2022-06-20 19:46] trylek commented on #69758
@jkoritzinsky, can you please clarify the delta between the PR you merged in and this issue i.o.w. what remains to be done here?

[2022-06-20 19:46] radical commented on #58707
@ilonatommy do these tests still fail? Has the failure changed?

[2022-06-20 19:53] elinor-fung commented on #70969
We did switch to the arcade infrastructure for using `dotnet test` (https://github.com/dotnet/runtime/pull/69340).

We just rely on that infrastructure to redirect the output to a log file:
https://github.com/dotnet/arcade/blob/e7ede87875f41a9b3df898ae08da5ebc96e24f56/src/Microsoft.DotNet.Arcade.Sdk/tools/VSTest.targets#L30

And then append more information to the file after running the command (w

[2022-06-20 19:53] trylek commented on #69192
I'm wondering whether this might be related to https://github.com/dotnet/runtime/issues/66079 - in this issue we're observing unbounded growth of certain dictionaries due to the generic explosion, at one point I observed 32-bit integer wraparound that might theoretically explain the nullref. I continue working on the fix for 66079 with the hope that this may go away once it's available.

[2022-06-20 19:56] danmoseley commented on #71007
My guess is that they thought it was still broken. I think the to-do here is to just pass on Stephen's guidance. Startup time, throughput, disk size - pick two!

[2022-06-20 19:58] trylek commented on #63411
There has been no traffic on this PR for almost two months. According to my response I believe the issue has been fixed in .NET 7, the only problem is that, in .NET 6, static virtual methods only shipped as a preview so the fix hasn't met the bar for backporting to .NET 6. At this point I'm not aware of any indication that this bug still persists in .NET 7, closing this until proven otherwise.

[2022-06-20 19:58] #63411 closed

[2022-06-20 19:58] thaystg commented on #51358
This is already working, but the view is different then the expected, it doesn't show 0x... in the beginning. But it's really showing in hex. If you want to change the view, then the issue should be opened on vscode-js-debug.

https://user-images.githubusercontent.com/4503299/174670321-33f417d9-d3ba-4041-944b-9630da787fd9.mp4

[2022-06-20 19:59] naricc commented on #59034
@ilonatommy I haven't managed to get the time to look at it.

[2022-06-20 20:00] naricc commented on #58906
This has been resolved.

[2022-06-20 20:00] #58906 closed

[2022-06-20 20:01] #51358 closed

[2022-06-20 20:03] JeremyKuhne commented on #70830
On the Windows side, you might be seeing differences based on whether or not 8.3 file names are turned on for the volume where you are testing. By default they are for the boot drive, but not for any others (afaik). You can check by running `fsutil 8dot3name query C:` from an admin prompt.

I don't know if it matters, but the way deleted files are handled changed in Windows 10 about 2 years ago, i

[2022-06-20 20:05] elinor-fung commented on #70969
Related: https://github.com/dotnet/sdk/issues/10062

It'd be good to figure out why it is happening, but maybe it could be mitigated by using [`ConsoleOutput`](https://docs.microsoft.com/visualstudio/msbuild/exec-task#parameters) to capture the output (instead of the `>` redirect) when running the test command and then writing all the lines in one shot.
https://github.com/dotnet/arcade/blob/e7ede8

[2022-06-20 20:06] jonathanpeppers commented on #71007
On Android, we would pretty much never want throughput for anything. So that is why the default setting might be interesting.

[2022-06-20 20:06] SamMonoRT commented on #67888
Is there a way to filter out infrastructure related issues like timeouts etc. Some of the console logs don't give me any results(exception in showing the log file), and some of them have multiple failing .sh tests timing out. Or even better might be to actually update the table above with most recent hits which should be a smaller set to tackle more efficiently.

[2022-06-20 20:07] trylek commented on #67849
I agree that non-destructive behavior is probably more appropriate, in contrast to NativeAOT we just need to make sure that a bug doesn't end up incorrectly marking all assemblies as Managed C++ as that's a "non-destructive" bug in Crossgen2 but still one we don't want to tolerate as it would cancel all R2R perf wins; so we should probably either add a command-line option to suppress the failure o

[2022-06-20 20:09] SamMonoRT commented on #67888
If we can't get an updated table of recent failures only, then I think @jakobbotsch suggestion makes sense, to close this out, and hope to see newer/relevant failures auto-filling a new issue

[2022-06-20 20:11] am11 commented on #55803
GC regions is a new upcoming NET 7 feature. It is disabled on macOS among other targets. You can disable it on Haiku for now:

[code]

[2022-06-20 20:26] radical commented on #59034
This doesn't seem to fail anymore. The results have:
![Screen Shot 2022-06-20 at 4 24 00 PM](https://user-images.githubusercontent.com/1472/174673252-1b5cf9db-65dd-4e92-ae93-a850724e8433.png)

Closing this. Please re-open if I got this wrong.

[2022-06-20 20:26] #59034 closed

[2022-06-20 20:27] trylek commented on #67074
This is weird. The call to <code>coreclr_initialize</code> shouldn't depend on any particular test being executed so for now I'm closing this as either a one-time infra failure or a bug that no longer reproes. Please feel free to reopen when new occurrences are found.

[2022-06-20 20:27] #67074 closed

[2022-06-20 20:31] trylek commented on #66368
At the first glance this looks like an issue related to CoreCLR runtime diagnostics (event pipe) - do we know whether such a bug existed and has been fixed since or do we need to continue tracking this @tommcdon / @hoyosjs? Thanks!

[2022-06-20 20:37] naricc commented on #48927
This is a useful feature, but not something we have been able to prioritize.

[2022-06-20 20:46] jkotas commented on #70859
I am wondering whether it would look better to replace all these attributes with just one attribute and enum. Something like:

[code]

[2022-06-20 20:47] naricc commented on #41454
@ilonatommy t looks like this is still happening.

 wasm-interpreter: https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_x64_ubuntu%2018.04_CompliationMode%3dwasm_RunKind%3dmicro%2fSystem.Numerics.Tests.Perf_BitOperations.PopCount_ulong.html

mono desktop interpreter:
https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_x64_ub

[2022-06-20 20:50] radical commented on #61978
You can close this.

[2022-06-20 20:51] jkotas commented on #70859
Now that all marshaller features are based on pattern matching, the BufferSize that is the only thing left in `CustomTypeMarshallerFeaturesAttribute` can be switched to pattern matching too by defining as static field:

[code]

Field may be more consistent with the overall design than an attribute. (I do not have a strong opinion about it.)

[2022-06-20 20:53] elinor-fung commented on #70859
We had the buffer size field vs attribute in the alternate designs to make sure to bring it up during API review. (I don't think any of us had a strong opinion either.)

[2022-06-20 20:58] jkotas commented on #70859
Ok - I have missed it.

If we go with this, we may want to allow both `const field` and `readonly field`. Or maybe even a property.

[2022-06-20 20:59] Clockwork-Muse commented on #71004
It's not `DateTimeOffset.Now` - it's everything under that to get the (local) offset that's the real culprit.  The moment you need a localized value of some sort you're going to incur the cost to get the necessary info.

[2022-06-20 21:08] VSadov commented on #63474
In theory languages running on CLR can implement their own memory model. In practice languages typically specify only grammar and single-threaded semantics and leave memory model issues to the runtime.
C# in particular, rarely mentions threading in its documentation. Even the [`lock` statement](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/statements/lock) is specified in terms

[2022-06-20 21:10] jkoritzinsky commented on #69758
The remaining work is to actually remove the P/Invoke emit infra from crossgen2 (including blittable stub support), but this work depends on #70109.

[2022-06-20 21:13] jkoritzinsky commented on #70859
I think the best route to go would be to allow a field or property in this case, as long as it is static and read-only. That gives some extra flexibility for some generic cases that we might find useful.

[2022-06-20 21:18] stephentoub commented on #67914
With the exception of [System.Collections.IndexerSet<Int32>.Dictionary(Size: 512)](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory//System.Collections.IndexerSet(Int32).Dictionary(Size:%20512).html), all of the benchmarks here appear to either be back to where they were before or be bimodal and the test has since gone back to where it was before (or cycled multiple times).

[2022-06-20 21:20] tommcdon commented on #70825
Hi @gruber123! Would you mind telling us which OS's and architectures reproduces the memory growth issue between .net 7 p4 and p5?  Also can you clarify how much extra memory is being used, for example, what does "high 80%" mean?

[2022-06-20 21:34] EgorBo commented on #67914
I have exactly the same observations, will take a look at IL difference in the Dictionary(Size: 512) benchmark this week

[2022-06-20 21:40] #69212 closed

[2022-06-20 21:54] VSadov commented on #63474
It is just another feature in the runtime.

GitHub is an obvious place for bugs, feedback, documentation clarifications or discussions of in-progress items, but items here tend to have action oriented lifetime - Opened/Assigned/Closed...
I am not sure if there is a place specifically for questions.

[2022-06-20 21:59] BruceForstall opened #71023 "Assert failure: Consistency check failed: Crst Level violation: Can't take level 17 lock CrstInstMethodHashTable because you already holding level 17 lock CrstInstMethodHashTable"
Lots of threading tests are failing, on all platforms, with this assert.

https://dev.azure.com/dnceng/public/_build/results?buildId=1834785&view=ms.vss-test-web.build-test-results-tab

e.g.,
[code]

[2022-06-20 22:02] BruceForstall commented on #71023
@davidwrighton Maybe related to your big https://github.com/dotnet/runtime/pull/68919?

[2022-06-20 22:04] stephentoub commented on #62758
Are you able to share your regex?  It'd be interesting to see.

[2022-06-20 22:09] danmoseley commented on #63474
We have https://github.com/dotnet/runtime/discussions. Note that the labeler/notifications do not work there, so if a question gets overlooked, you may have to @-mention the right person.

[2022-06-20 22:10] AaronRobinsonMSFT commented on #70973
This is because of the managed [`IMallocSpy`](https://github.com/dotnet/winforms/blob/0aaae6b455fd229bfb073d6c0687bbde20a1620f/src/System.Windows.Forms.Primitives/tests/TestUtilities/MallocSpyScope.MasterSpy.cs#L14) implementation being used. It has helped to identify we were missing a transition to Preemptive mode in some places. There is also a bug in add/ref logic for things I found with a CHK

[2022-06-20 22:20] vcsjones opened #71024 "TestKeyTransKeyEncryptionAlgorithm_RoundTrip test fails for .NET Framework"
Configuration: .NET Framework Windows 11/22000.675

The TestKeyTransKeyEncryptionAlgorithm_RoundTrip test is failing for me. Reproduces with commit e2cddabc4cc7b8f646472728ada658c922dfb001 (the commit is likely irrelevant, just giving a place to start):

<pre>
[xUnit.net 00:00:02.38]     System.Security.Cryptography.Pkcs.EnvelopedCmsTests.Tests.KeyTransRecipientInfoTests.TestKeyTransKeyEncryptionA

[2022-06-20 22:23] vcsjones commented on #71024
@bartonjs are you able to reproduce this? If so, are you aware of any changes in .NET Framework or Windows that would cause it default to OAEP instead of PKCS#1?

[2022-06-20 22:25] Epic-Santiago opened #71025 "No way to set TransactionManager.DefaultTimeout"
### Description

On .NET Framework we could set the System.Transactions.TransactionManager.DefaultTimeout from the config file as follows:
[code]
On .NET 6 (and presumably all previous versions of .NET and .NET Core), that configuration is not available. Attempting to use it results in this error:

Since DefaultTimeout has no setter, that means there is no way of changing this setting other than r

[2022-06-20 22:49] gruber123 commented on #70825
Os: windows 7 sp1
Installation of .net 7 preview 5 stacked on near the end (cannot move mouse or click on any window, about 20 minutes and after succesful opening taskmanager, I realize that memory is above 80% from 8000 mb, and installation still not finished), after waiting some more time it finished, I've checked on command line:
Cmd:
dotnet --version
There immediately was jump in memory exactl

[2022-06-20 22:52] vladd commented on #63474
@VSadov I'm not sure if the code generation strategy can be seen just as implementation detail. An optimizing compiler can remove variables and rewrite the code completely, so the guarantees about the loads/stores into the memory locations on CLR level may have no counterpart on C# level.

Here is my favorite example: https://godbolt.org/z/YGGffzaab. The optimizing compiler removed the loop variab

[2022-06-20 23:06] gruber123 commented on #70825
@adamsitnik

I cannot check this on .net 7 p5 as I've uninstalled it and now I'm on .net 7 p4 that no noticable growth in memory, sorry.

[2022-06-20 23:13] steveisok commented on #71007
If we were to do anything, I think it would have to be through a runtime feature switch.  @jonathanpeppers, how significant are we talking vs what was in mono/mono?

[2022-06-20 23:43] AraHaan opened #71027 "[AppHost] Don’t assume that last framework in runtimeconfig list contains hostpolicy.dll"
### Description

Currently it seems that the apphost looks for hostpolicy in the last framework that is in runtimeconfig which is not true, instead it should hard code it to look in the Microsoft.NETCore.App framework regardless of how many frameworks are in the runtimeconfig.json file.

### Reproduction Steps

Have an application that generates an runtimeconfig where Microsoft.NETCore.App does no

[2022-06-20 23:44] AraHaan commented on #71027
Oh yeah, forgot to mention this happens in FDD deployments and the code does not have to be published to trigger it.

[2022-06-20 23:48] smhmhmd commented on #70848
Currently, NativeAOT static binaries still have dynamic dependency on underlying Linux libraries.
We want it to be possible to have build on one Linux distribution and deploy to another.

Currently, pal_icu_shim.c does a dlopen() to libicu shared libraries, so, a NativeAOT static binary still has dependency on
shared libraries, the change would statically link libicu*.a into the NativeAOT static b

[2022-06-21 00:05] RussKie commented on #58712
@karelz this bug affects Windows Forms out-of-process designer experience.

/cc: @merriemcgaw

[2022-06-21 00:18] markalward opened #71030 "Using PlaintextStreamFilter results in PROTOCOL_VIOLATION error over HTTP/2"
### Description

When I use the PlaintextStreamFilter property of SocketsHttpHandler to layer a decorator stream on top of the underlying stream, requests sent over HTTP/2 fail with the following exception:

Http2StreamException: The HTTP/2 server reset the stream. HTTP/2 error code 'PROTOCOL_ERROR' (0x1).

This error seems to be server-specific; I get this error against an HttpSys-based server ru

[2022-06-21 00:19] EgorBo commented on #55079
Moving to Future, my snippet was fixed by Andy while the Jakob's one is fixed with PGO - PGO applies GDV for that ToString() call and the later VN/CP eliminates the type check

[2022-06-21 00:22] EgorBo commented on #67854
Moving to 8.0 as 32bit regressions are low priority

[2022-06-21 00:31] RussKie commented on #70318
@karelz this is a core scenario for the Windows Forms designer

[2022-06-21 00:35] jkoritzinsky commented on #70859
I've updated the API proposal with a full list of added and removed APIs.

[2022-06-21 00:36] tarekgh commented on #71018
@bgrainger just checking if this issue is a blocker issue for you for using .NET 6.0? I am asking to know if we need to consider porting it to .NET 6.0 or we can just fix it in .NET 7.0?

[2022-06-21 00:38] janvorli commented on #70307
The CI run was missing a dump, but I was able to repro it locally in a couple of runs. The failure stack is as follows:
[code]
So we are detaching a thread during process shutdown and the assert fires because the thread was not in GC cooperative mode.

Adding @VSadov as he's implemented the `TlsDestructionMonitor` related change

[2022-06-21 00:46] EgorBo commented on #69445
Looks like caused by inliner after https://github.com/dotnet/runtime/pull/68739 (verified locally) moving to 8.0.0 as it won't be easy to fix it there

[2022-06-21 00:49] EgorBo commented on #69447
Checked locally - caused by https://github.com/dotnet/runtime/pull/69160/files#diff-31bfe1fbe604a8b75123ef00a99807cd249a386bf760be4b28a0b11409095ea2R16

[2022-06-21 01:02] karelz opened #71035 "Test failure: System.Threading.Channels.Tests.BoundedChannelTests.ManyProducerConsumer_ConcurrentReadWrite_WithBufferedCapacity_Success - NullReferenceException"
Affected test:
- ManyProducerConsumer_ConcurrentReadWrite_WithBufferedCapacity_Success - `System.Threading.Channels.Tests.BoundedChannelTests.ManyProducerConsumer_ConcurrentReadWrite_WithBufferedCapacity_Success`

Failures:
- [1833880](https://runfo.azurewebsites.net/view/build/?number=1833880) (6/20 AM)
    - net7.0-Linux-Release-arm-CoreCLR_release-(Debian.10.Arm32.Open)Ubuntu.1804.ArmArch.Open@

[2022-06-21 01:04] stephentoub commented on #71035
This looks like a duplicate of https://github.com/dotnet/runtime/issues/70061.

[2022-06-21 01:10] EgorBo commented on #66344
Caused by inliner due to additional `[Intrinsic]` attribute which boost inlining in certain cases. The actual unrolling is not happening here (validated)

[2022-06-21 01:22] jkotas commented on #70848
There are number of other libraries that have same problem. Would you do this for all of them? The particularly hard one case is openssl. Openssl has baked-in distro-specific configuration settings, and so statically linking on one distribution and deploying on another does not work well for it.

[2022-06-21 01:36] EgorBo commented on #63474
isn't when `volatile` enters the game?

[2022-06-21 01:43] VincentBu opened #71036 "Test failure baseservices\\threading\\generics\\threadstart\\GThread23\\GThread23.cmd"
Run: [runtime-coreclr outerloop 20220620.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1834785&view=ms.vss-test-web.build-test-results-tab&runId=48519462&paneView=debug&resultId=100339)

Failed test:
[code]
**One of error message:**
[code]

Queued | OS | Arch | Column1
-- | -- | -- | --
2022-06-20T20:54:48.746Z | osx.1200.amd64.open | x64 | [runtime-coreclr outerloop   Checked-no_t

[2022-06-21 01:54] MichalStrehovsky commented on #70010
It's quite likely the same issue. It happens a bit less often with System.Runtime, but we've seen apparent hangs there too.

[2022-06-21 01:54] VincentBu opened #71037 "Test failure System.Net.Security.Tests.CertificateValidationRemoteServer.ConnectWithRevocation_StapledOcsp(offlineContext: False)"
Run: [runtime-libraries-coreclr outerloop 20220620.5](https://dev.azure.com/dnceng/public/_build/results?buildId=1834010&view=ms.vss-test-web.build-test-results-tab&runId=48503918&paneView=debug&resultId=103264)

Failed test:
[code]
**Error message:**
[code]

[2022-06-21 02:23] #69447 closed

[2022-06-21 02:26] hoyosjs commented on #66368
Closing this - the logs are gone and there's no real incident of this outside of PRs that were abandoned.

[2022-06-21 02:26] #66368 closed

[2022-06-21 02:34] #70482 closed

[2022-06-21 03:16] lateapexearlyspeed opened #71040 "Possible regression: ConfigurationBinder cannot bind private properties of base classes"
### Description

In recent main branch, I found seems ConfigurationBinder cannot bind private properties of base classes, but before that, it can (for example .net 3, 5, 6).

In .net 3, 5, 6:
![image](https://user-images.githubusercontent.com/72254037/174701982-4ff6c35a-cd4e-4d84-a972-5ff127e81452.png)

Recent main branch (I add an test case to show result):
![image](https://user-images.githubuser

[2022-06-21 03:39] huan086 commented on #62758
This regex labels each location name it finds with the [Geoname ID](geonames.org/). The interpreted regex typically runs within 5 seconds for a sentence to 60 seconds for paragraph of about 500 words.

Using a regex instead of a loop and IndexOf to take advantage of matching the longest name. E.g. finding the location "New York City" and "New York" will only match "New York City".

Cutting down th

[2022-06-21 03:47] eerhardt commented on #71040
cc @pedrobsaila. Looks like this might be a regression from #70592.

[2022-06-21 03:53] MichalStrehovsky commented on #69474
Another similarly looking failure in System.Formats.Tar.Tests.V7TarEntry_Conversion_Tests.Constructor_ConversionGnu_BackAndForth_SymbolicLink:

[code]

There are several tests with this failure mode, but only one of them got disabled. https://github.com/dotnet/runtime/pull/69997#discussion_r885209363

The latest one hit in https://dev.azure.com/dnceng/public/_build/results?buildId=1835642&view=log

[2022-06-21 04:00] MichalStrehovsky opened #71041 "thdlist test crashes with ArgumentNullException on mono llvmaot"
Hit in the "mono llvmaot Pri0 Runtime Tests Run Linux x64 release" leg of PR #70977.

Link to the run: https://dev.azure.com/dnceng/public/_build/results?buildId=1835642&view=logs&jobId=e8cc9eb8-98f1-55f3-b6df-6c384ccb39b6

[code]

[2022-06-21 04:31] EdDore commented on #3298
How about stepping back and doing this for .NET 6.0, which is an LTS release. I can't believe there is no ARM64 package install for this LTS release. There is certainly something to be said for install consistency across the different linux architectures here. Not having a simple package manager install for this, makes installing this quite error prone for us linux challenged users, coming from a

[2022-06-21 04:41] danmoseley commented on #70318
@MihaZupan

[2022-06-21 04:54] AntonLapounov commented on #70712
If you still have the issue, please reopen with the correct description and repro steps.

[2022-06-21 04:54] #70712 closed

[2022-06-21 05:03] Bouke commented on #71016
I was stuck with the concept of first != last. Yeah rereading I think it is fine as well.

[2022-06-21 05:03] #71016 closed

[2022-06-21 05:05] jkotas commented on #70848
The static build support in openssl is not sufficient to allow build on one distro and deploy on another. One of the problems is that different distros have different location of the certs stores. This location is hardcoded in openssl.

Anyway, if you would like to propose changes to support static linking, I think we can accept them as long as they are opt-in and do not change any defaults.

[2022-06-21 05:11] buyaa-n commented on #70318
Another workaround could be move the Uri creation code
https://github.com/dotnet/runtime/blob/c8654e7378a085c8221028cf0ebd759d800ceba7/src/libraries/System.Configuration.ConfigurationManager/src/System/Configuration/ClientConfigPaths.cs#L251
to the location where it is used: https://github.com/dotnet/runtime/blob/c8654e7378a085c8221028cf0ebd759d800ceba7/src/libraries/System.Configuration.Configura

[2022-06-21 05:13] Maoni0 commented on #70231
these tests' logs all say "windows.10.amd64.open.rt". what is "open.rt"? I've been trying running the system.IO.pipes tests for a few hours with no repro.

[2022-06-21 05:35] #71018 closed

[2022-06-21 06:05] buyaa-n commented on #70856
The same failure on https://github.com/dotnet/runtime/pull/70610/checks?check_run_id=6978327176
[code]
https://github.com/dotnet/runtime/pull/70610/checks?check_run_id=6978327176

[2022-06-21 06:13] lateapexearlyspeed commented on #71040
@eerhardt Thanks. Yes I noticed that PR before I raise my PR to fix. In short, I turn to keep using loop to retrieve all layers of properties (as .net 3/5/6) to be able to get also private properties (I guess this is reason to loop before). Meantime take care virtual and non virtual ones (even if with same names). Please review, thanks!

[2022-06-21 06:18] VSadov commented on #63474
This is a choice of language designers and depends on their goals.
It is not even either-or choice. There could be some parts that are defined in terms of implementation (like `lock` is defined as a translation to `System.Threading.Monitor` calls) and some, like `x += 1` can be defined in terms of sideeffects.

As another example specifying a C# local variable to be always an IL local would be inc

[2022-06-21 07:44] #43398 closed

[2022-06-21 08:21] janvorli commented on #55803
The `gcenv.unix.cpp` is used for standalone GC (separate GC shared library libclrgc.so), the `gcenv.os.cpp` for the GC that's compiled into `libcoreclr.so`. The standalone GC is used only if you explicitly configure the runtime for it using the `DOTNET_GCName` env variable. It was created primarily to allow us to test various GC changes / fixes at customer systems where replacing the libcoreclr.so

[2022-06-21 08:22] jakobbotsch commented on #35620
Given the change in #38484 and the code added in #35899 I will consider this fixed.

[2022-06-21 08:22] #35620 closed

[2022-06-21 08:35] maraf opened #71047 "[wasm] Add readme about how to run the template"
Add description of how the template works, how to run it.
Console template has some basic information, but browser doesn't.

[2022-06-21 08:37] wfurt commented on #29270
We can. My plan was to close it when  #70720  is merged. (perhaps mention it this there as well so it linked and resolved)

[2022-06-21 08:53] wfurt commented on #70981
It seems like all failures are on same Debian 10
[code]

I don't know if this is sealed but update to newer OpenSSL is available.

[2022-06-21 09:02] jakobbotsch commented on #70876
This passes in .NET 6.0, but it seems to me the roundtripping test there is somehow not actually running the assembly produced by ilasm. For example, I see the following:
[code]
This indicates that the roundtripped assembly was produced at nested.asm.dll and it ran successfully. However, if I delete the input dll, nested.dll, then it fails like in .NET 7:
[code]

So it would seem that somehow exec

[2022-06-21 09:03] filipnavara commented on #29270
I added the mention so it auto-closes.

[2022-06-21 09:14] teo-tsirpanis commented on #71007
@danmoseley they are targeting .NET Standard 1.0 only, which does not have `Compiled`.

[2022-06-21 09:17] MattR-entrust commented on #71009
I have only tested this with the latest .NET. I don't know if the same issue exists in older versions but I expect it will. I should be able to get you a minimal test case shortly.
The symptom is that the alternative provider determines that the pointer to the public key object is invalid in the context of that provider and then fails.
I am confident about my analysis from inspecting the source. A

[2022-06-21 09:29] rp9-next commented on #70789
CLDR data has changed the currency symbol for the fr_CA locale multiple times.

	1. CLDR 34 (CAD -> "$" ) :         Windows 10 uses ICU 63.1 which intern uses CLDR 34
	2. CLDR 38.1 (CAD -> "$ CA") :     Windows 11 uses ICU 68.2 which maps to CLDR 38.1
	3. CLDR  40 (CAD -> "$") :         Windows still lacks support ICU 70 or above which maps to CLDR 40 or above

**Fix:**
The problem will be fixed o

[2022-06-21 09:41] ilonatommy commented on #58707
You're right, running `dotnet build /t:Test src/libraries/System.IO.FileSystem/tests /p:TargetOS=Browser /p:Configuration=Release /p:RunAOTCompilation=true` results in [PASS] for all 48 kinds of `CopyFileWithData`.

[2022-06-21 09:41] #58707 closed

[2022-06-21 09:43] jakobbotsch commented on #70876
The timeline here is:
eb9dd67^ -- passes (by executing the wrong assembly)
eb9dd67 -- fails with "Assembly with same name is already loaded"
5713bea^ -- fails with "Assembly with same name is already loaded"
5713bea -- fails with the reported error

@jkotas is this change in behavior expected? I am not totally sure I understand why executing `nested.asm.dll` was executing `nested.dll` before, and

[2022-06-21 09:57] ilonatommy commented on #61008
@lambdageek, @lewing, does any of you have a clue how to help with exposing handlers?

[2022-06-21 10:00] vitek-karas commented on #71027
@AraHaan do you have a repro for this?

I tried locally with an ASP.NET app and it produces a runtimeconfig.json like this by default:
[code]

Running the app works just fine, looking at the host trace it shows that the host correctly ordered the frameworks:
[code]

And that it correctly looked for `hostpolicy` in the lowest level framework (NETCore.App):
[code]

The code you're referring to relie

[2022-06-21 10:10] karelz commented on #58712
@buyaa-n thanks for the info above. Can you please provide more details about how/where does the `\\?\` path originates? Is there option to change that part to `Path`?

@RussKie understood from the context. Key questions I have: How does it work on .NET Framework? Is it a breaking change between .NET Core and .NET Framework?
Are there workaround options?

The key reason I am asking is that `Uri` i

[2022-06-21 10:17] karelz commented on #70318
I just answered on the other issue - https://github.com/dotnet/runtime/issues/58712#issuecomment-1161543088, trying to explain the context and limitations we are facing in the `Uri` space.
If there is reasonable workaround, we should strongly consider it before investing into `Uri` feature which is risky this late in the release cycle.

Who can help us better understand the details of the above sc

[2022-06-21 10:34] janvorli commented on #71036
Duplicate of #71023

[2022-06-21 10:34] #71036 closed

[2022-06-21 10:41] janvorli commented on #70968
Duplicate of #68431

[2022-06-21 10:41] #70968 closed

[2022-06-21 11:12] jakobbotsch opened #71049 "AVs in emitDispJumpList"
I am frequently hitting access violations inside `emitDispJumpList` on x64 when jit dump is enabled.
Easy way to repro it is to set `COMPlus_JitStdOutFile=foo.txt` and `COMPlus_JitDump=*` and run superpmi.
For the one example case I looked at `iiaBBLabel` is not a valid pointer and the `instrDescJmp*` we are processing is the `jne` in the following code:
[code]

[2022-06-21 11:13] jakobbotsch commented on #71049
cc @kunalspathak

[2022-06-21 11:38] #69920 closed

[2022-06-21 11:38] #29270 closed

[2022-06-21 11:50] tucha commented on #68659
@HongGit any updates, please? :)

[2022-06-21 11:54] MattR-entrust commented on #71009
[Program.zip](https://github.com/dotnet/runtime/files/8948615/Program.zip)

Here's a very simple piece of example code. If the provider is changed, this code will fail. It generates a new ECDH private key and uses a default public key.

[2022-06-21 12:12] ilonatommy commented on #61146
The error still persists. Tried in Blazor wasm app with `RunAOTCompilation` and OP's code pasted to a class in Counter. Are we planning to fix it in 7.0?

[2022-06-21 12:13] rzikm commented on #71037
Looks like duplicate of https://github.com/dotnet/runtime/issues/70322

[2022-06-21 12:15] wstaelens commented on #51929
@carlossanlop @Jozkee what's the status of this?

[2022-06-21 12:16] rzikm commented on #71037
Actually, the duplicate is expected to be fixed since 6 days ago, so the failures should not be occuring anymore, thoughts? @bartonjs ?

[2022-06-21 12:16] ilonatommy commented on #61149
Duplicate of https://github.com/dotnet/runtime/issues/49144.

[2022-06-21 12:20] rzikm commented on #71037
Also seems to affect mono interpreter https://github.com/dotnet/runtime/issues/70981

[2022-06-21 12:21] performanceautofiler[bot] opened #71059 "Regression from hoisting out of nested loop"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Baseline | [e5acd4dfd7b31ed790687e9f3da642fe1c964dc3](https://github.com/dotnet/runtime/commit/e5acd4dfd7b31ed790687e9f3da642fe1c964dc3)
Compare | [261574bf4121b40c7023c73571fb7a690397bd0f](https://github.com/dotnet/runtime/commit/261574bf4121b40c7023c73571fb7a690397bd0f)
Diff | [Diff](https://github.com/dotnet/runtime/compare/e5acd

[2022-06-21 12:21] ilonatommy commented on #61287
@pavelsavara, @maraf, have you tried using the idea with new API? Any thought on that?

[2022-06-21 12:27] pavelsavara commented on #61287
This is related to CSP and I think we would be able to at least reduce it.

[2022-06-21 13:01] lambdageek commented on #61008
@ilonatommy We're now using a slightly different plan - with @kg.

There are three things that we're doing for the mono native-to-JS APIs:
1. We're using `MONO_ENTER_GC_UNSAFE` in the wasm C APIs (by including [gc-common.h](https://github.com/dotnet/runtime/blob/main/src/mono/wasm/runtime/gc-common.h))
2. When the C code calls out to JS, we should wrap those calls in `MONO_ENTER_GC_SAFE`
3. To pas

[2022-06-21 13:15] AraHaan commented on #71027
It probably happens because I also use a framework that depends on ``Microsoft.NETCore.App`` and ``Microsoft.AspNetCore.App`` causing it to look for hostpolicy in aspnetcore.

[2022-06-21 13:20] performanceautofiler[bot] opened #71067 "Regressions in Benchstone.BenchF.Whetsto"

[2022-06-21 13:20] performanceautofiler[bot] opened #71068 "Regressions from JitConsumeProfileForCasts"
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.19042
Baseline | [261574bf4121b40c7023c73571fb7a690397bd0f](https://github.com/dotnet/runtime/commit/261574bf4121b40c7023c73571fb7a690397bd0f)
Compare | [eeb0c1551b5fc9ccd6ceeaf5d2b1504afab249d7](https://github.com/dotnet/runtime/commit/eeb0c1551b5fc9ccd6ceeaf5d2b1504afab249d7)
Diff | [Diff](https://github.com/dotnet/runtime/compare

[2022-06-21 13:20] performanceautofiler[bot] opened #71069 "Regressions in Exceptions.Handling"
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.19042
Baseline | [53e52f28cdc9b800a4b04fee2f200e4087fcfd58](https://github.com/dotnet/runtime/commit/53e52f28cdc9b800a4b04fee2f200e4087fcfd58)
Compare | [3fc61ebb562afc327a8fc6de5c82d76e86bf6f5d](https://github.com/dotnet/runtime/commit/3fc61ebb562afc327a8fc6de5c82d76e86bf6f5d)
Diff | [Diff](https://github.com/dotnet/runtime/compare

[2022-06-21 13:20] performanceautofiler[bot] opened #71070 "Regressions in System.Text.RegularExpressions.Tests.Perf_Regex_Industry_RustLang_Sherlock"
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.19042
Baseline | [3fc61ebb562afc327a8fc6de5c82d76e86bf6f5d](https://github.com/dotnet/runtime/commit/3fc61ebb562afc327a8fc6de5c82d76e86bf6f5d)
Compare | [eca86deef0f485bec5f3c8230ef4f7f3ad157559](https://github.com/dotnet/runtime/commit/eca86deef0f485bec5f3c8230ef4f7f3ad157559)
Diff | [Diff](https://github.com/dotnet/runtime/compare

[2022-06-21 13:26] danmoseley commented on #51929
Could this be achieved by using the code in a non Microsoft owned project?
Is there a way to get a sense of the level of interest in this feature, such that it would justify the cost of maintenance etc?

[2022-06-21 13:36] EricStG commented on #70789
@rp9-next Thanks for the update.
When you say "once windows picks up the latest version of ICU", does this mean a future version of Windows 11, or like Windows 12?

[2022-06-21 13:38] AntonKosenkoDX opened #71424 "Application crashes with "Parent class failed to load, due to: Invalid generic instantiation assembly""
### Description

Hello, we are developing [DevExpress .NET MAUI controls](https://www.devexpress.com/maui/) and experienced crashes when trying to run our DevExpress.Data library on real iPhone. It seems that the issue related to iOS linker. This issue doesn't appear on Xamarin.Forms and doesn't appear on android or iOS simulator.

It's severe for us because we can't run full-functionality DataGri

[2022-06-21 13:47] bgrainger commented on #71018
No, this isn't strictly a blocker for me. It did break my code's ability to read (using a binary search) some sorted data that was compiled into the assembly as an embedded resource; however, I was able to restore functionality across all .NET versions by recompiling the assembly (and the embedded data) with `InvariantCultureIgnoreCase` as the sort order for that data. ( haven't timed this workaro

[2022-06-21 13:48] jkotas commented on #70318
I agree with @karelz that fixing anything in Uri is complex and has very high risks. It does not make sense to push to address this in Uri for .NET 7. It would be a new feature and it may require new APIs.

There are cheaper and lower risk options to address the specific WinForms issue. We should look at those: Workaround it in the System.Configuration.ConfigurationManager library itself, or fix h

[2022-06-21 13:50] antonfirsov commented on #70227
@krwq @eiriktsarpalis can users expect that these kind of old/heavy/complicated BCL objects roundtrip with System.Text.Json? In other words: is this issue a bug, or is serialization of BCL objects something we discourage?

[2022-06-21 14:11] CarnaViire commented on #69684
Thanks for the repro, @JKorf. However, as I've suspected, and it's the server which is spamming us with PINGs -- and per protocol, we have to respond. Nothing we can do about it, sorry. Closing.

<details>
<summary>some logs...</summary>

[code]

</details>

P.S.:

This is interesting, it seems that the server is reacting strangely to receiving unsolicited PONG -- even though it is perfectly valid

[2022-06-21 14:11] #69684 closed

[2022-06-21 14:16] jkotas commented on #70318
Compatibility with .NET Framework.

The original .NET Framework code is here: https://github.com/microsoft/referencesource/blob/5697c29004a34d80acdaf5742d7e699022c64ecd/System.Configuration/System/Configuration/ClientConfigPaths.cs#L343-L411 . Notice that it does not use the problematic Uri constructor.

This is trying to mimic .NET Framework logic that was based on Code Access Security. It looks

[2022-06-21 14:17] eiriktsarpalis commented on #70227
If the type was designed to be roundtripped using private field serialization, then yes, that is something System.Text.Json will not support. Unless the type can be changed somewhat to make roundtripping using properties feasible, our general recommendation in such cases is to author a custom converter that provides the right serialization semantics for the type.

[2022-06-21 14:31] wstaelens commented on #51929
@danmoseley I hope I understand and answer your questions correctly. (I'm not a native English speaker)

reproduction code can be found here: https://github.com/dotnet/wpf/issues/3546#issuecomment-695942720

sample documents can be found here: https://github.com/dotnet/wpf/issues/3546#issuecomment-824713800

the reason why it can't be opened can be found here: https://github.com/dotnet/wpf/issues/

[2022-06-21 14:36] rp9-next commented on #70789
Hey @EricStG,
I can't comment on the exact version of windows it will be released.
We wish to release it as soon as possible (possibly in the next couple of iterations)

[2022-06-21 14:42] jkotas commented on #70876
This change in behavior should be only observable with corerun. You should not see it with the shipping dotnet host or standard build tooling. These won't ever create situation where assembly names do not match filenames, and where there are multiple assemblies with the same name in the app. I do not think we care about maintaining the exact behavior in this corner case.

[2022-06-21 14:53] danmoseley commented on #3298
Cc @richlander

[2022-06-21 14:57] sbland opened #71055 "Internal connection fatal error when connecting from linux docker to mysql/mysql-server docker container"
I cannot connect a `mcr.microsoft.com/dotnet/sdk:6.0` docker container to a `mysql/mysql-server` docker container due to the below error. I can however connect mysql workbench to the `mysql/mysql-server` docker container.

Error from server container:

[code]

[code]

Server Dockerfile:

[code]

Server Project FIle:

[code]

[2022-06-21 14:59] alexrp opened #71056 "`libnethost.lib` appears to be built with LTCG, making it unusable with non-MSVC toolchains"
### Description

It seems that, for Windows platforms, the `libnethost.lib` static library shipped with the .NET SDK is built with [LTCG](https://docs.microsoft.com/en-us/cpp/build/reference/ltcg-link-time-code-generation) enabled, rendering it entirely unusable by non-MSVC toolchains such as [Zig](https://ziglang.org) or just plain [LLD](https://lld.llvm.org) on its own.

I'm not sure LTCG meanin

[2022-06-21 15:02] alexrp commented on #71056
Here's how disabling LTCG is already done for other cases in the repo: https://github.com/dotnet/runtime/blob/663013d579d5eb3e29b2e0f88aeaed0694e74f39/src/coreclr/dlls/mscorrc/CMakeLists.txt#L7-L9

If that's an acceptable fix, I can send a PR.

[2022-06-21 15:09] rseanhall commented on #58492
This is a simplified repro. The actual test is running our native executable to verify we have removed MAX_PATH limitations from it. That is a work in progress and will eventually be at https://github.com/wixtoolset/wix4.

[code]

[2022-06-21 15:20] kmscode opened #71062 "OKTA Saml2 Signing Certs fail to validate in .net 6, same cert works fine in .net 3.1"
### Description

The following exception is received when attempting to validate an OKTA generated cert as part of Saml2 authentication when using .net 6:
[code]
The same code running .net 3.1 validates the same cert just fine.

The following code is used:
https://developer.okta.com/blog/2020/10/23/how-to-authenticate-with-saml-in-aspnet-core-and-csharp

The exception above (line 281) is the follo

[2022-06-21 15:20] kunalspathak commented on #71059
https://github.com/dotnet/runtime/pull/68061

[2022-06-21 15:21] kunalspathak commented on #71059
Some other: https://github.com/dotnet/perf-autofiling-issues/issues/6211

[2022-06-21 15:28] #54850 closed

[2022-06-21 15:29] EgorBo opened #71060 "2x RPS improvement in Json-https benchmark. why?"
It'd be nice to identify why we're seeing a stable **2x RPS** (very uncommon to see) improvement in this benchmark (https://aka.ms/aspnet/benchmarks, 2nd page) but only on AMD machine 😮

![image](https://user-images.githubusercontent.com/523221/174837724-023ec2c0-266f-45ac-b300-a161baddb5c0.png)

commit range in dotnet/runtime: https://github.com/dotnet/runtime/compare/a78211b...4adb117
commit ran

[2022-06-21 15:32] EgorBo commented on #71060
I wonder if it could be https://github.com/dotnet/aspnetcore/pull/41790 cc @meziantou

[2022-06-21 15:32] #70973 closed

[2022-06-21 15:33] Eagle3386 commented on #62966
Just for the sake of completeness: using @Eilon's helper helped (pun intended! 😎) solve the NRE issue & also enabled me to discover that ASP.NET Core's dev cert was included in the chain - although "invisible" as anyone can see in my screenshot above (showing 3 instead of 4 certs).

Everything else was/is discussed over at dotnet/maui/discussions/8131.

[2022-06-21 15:38] EgorBo commented on #71060
ah, looks like https://github.com/dotnet/aspnetcore/pull/42237 so dotnet/runtime is probably the wrong repo for it
cc @halter73

[2022-06-21 15:43] #70152 closed

[2022-06-21 15:47] #71060 closed

[2022-06-21 15:53] rodrigovaras opened #71063 "NativeAOT when building shared library"
### Description

Attempting to create a shared library using the NativeAOT tools on my  managed assembly entry point.
I tried the NativeLibrary and succeeded but not my project.

### Reproduction Steps

Create a .NET project that has several dependencies. Attempt to run:
dotnet publish /p:NativeLib=Shared /p:SelfContained=true -r win-x64 -c Release <Myproject.csproj>

### Expected behavior

Native

[2022-06-21 15:54] Protheon opened #71064 "creating mTLS connection in win2019 server returns "The Local Security Authority cannot be contacted" error"
### Description

I'm running a simple dotnet console app on a windows 2019 to execute a basic httpclient get to a remote machine using mTLS with a client certificate.
I am loading the client certificate in the httpclient by passing a p12 keystore filepath, which has the certificate keypair and chain.

- Executing this get on powershell with invoke-restmethod on the windows 2019 server works (retur

[2022-06-21 16:04] dsplaisted commented on #59282
Looks like this may be a duplicate of [#1418](https://github.com/dotnet/runtime/issues/1418)

[2022-06-21 16:06] tarekgh commented on #71018
@bgrainger thanks again for the information. We have decided to wait a little to see if there is a demand or more scenarios broken because of that. We'll keep our eyes open on that. If you came across more data regarding this issue, please share it with us. This can help in deciding in porting the fix.

[2022-06-21 16:16] mdh1418 opened #71065 "Include runtime flavor and platform information into .mibc Profile"
With the work to [enable PGO-based Profiled AOT on Mono](https://github.com/dotnet/runtime/issues/69512), mono based .mibc files can now be generated. It would be convenient if there was some way to identify the Runtime flavor, Platform OS + Arch for a corresponding .mibc file.

For instance, I had been testing the full pipeline of Profiled AOT on Mono, but unknowingly had generated a coreclr base

[2022-06-21 16:20] vitek-karas commented on #71056
Sounds reasonable - please send a PR if you can.

[2022-06-21 16:28] Maoni0 commented on #70231
so both failures I looked at (System.IO.Pipes and System.Text.Json.Tests) were running on "windows.10.amd64.open.rt". @hoyosjs tells me this is a type of queue that's "Windows Server 2016-Datacenter running on 2 cores". that's a pretty old OS. I've been running these on win10 over night and haven't seen a repro. is it possible to check if we only see ever saw these failures on this particular type

[2022-06-21 16:29] EgorBo commented on #71069
Likely https://github.com/dotnet/runtime/pull/70428 cc @
janvorli

[2022-06-21 16:30] wfurt commented on #71064
This comes from the OS afaik and it is related to how the certificate is loaded and what provider is selected. Can you try to load it with X509KeyStorageFlags.PersistKeySet ? In general, on Windows TLS does not work with ephemeral keys.

[2022-06-21 16:33] rzikm opened #71071 "[libraries-pgo] SIGSEGV in libclrjit.so!Compiler::optMarkLoopRemoved(unsigned int)"
We have a few crashes on the `runtime-coreclr libraries-pgo` leg on Ubuntu 18.04, both ARM and x64.

<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=OneNote.File>
<meta name=Generator content="Microsoft OneNote 15">
</head>

<body lang=en-US style='font-family:Ca

[2022-06-21 16:33] EgorBo commented on #71070
https://github.com/dotnet/runtime/pull/67141 ?

[2022-06-21 16:34] daxian-dbw commented on #70524
That's fine to have this by-design behavior. Then `Name` property should be trimmed too, to be consistent with the `FullName` and `Extension` properties.

[2022-06-21 16:35] unicomp21 commented on #70957
Or maybe clang could target the byte code being used by the mono interpreter?

[2022-06-21 16:39] karelz commented on #71012
Triage: We do not believe that it is ok to succeed (aka immediately return), when the WebSocket is in Aborted state. The right thing to do is to signal to the upstack something is wrong -- via exception.
Success instead would lead to ignoring errors.

It is not clear to us why there are problems in Polly or Remora.Discord. Perhaps we need someone to look at their code and check if they are doing t

[2022-06-21 16:39] #71012 closed

[2022-06-21 16:43] radical commented on #61146
https://github.com/dotnet/runtime/blob/d24bf0991d02ab07b93b71edfed8634de818060c/src/tasks/WasmAppBuilder/PInvokeTableGenerator.cs#L344-L349

Assigning to @maraf as he was working on the table generation.

[2022-06-21 16:44] EgorBo commented on #71070
Probably related: https://github.com/dotnet/perf-autofiling-issues/issues/6201

[2022-06-21 16:46] karelz commented on #70978
Triage: We should take it to make devs lives better. Especially given that even we ourselves made the mistake at least 2x already.
It will be source breaking change (we need to document it) -- let's try to do it early in 8.0 (a bit too risky in 7.0).

[2022-06-21 16:48] ivanpovazan opened #71072 "[mono] Do not collect uninflated generic methods for AOT compilation"
With the change introduced at https://github.com/dotnet/runtime/pull/70838 it can happen that uninflated generic methods are collected for AOTing. Compiling these methods fails and is skipped, which can be observed by passing `--aot=print-skipped` to the AOT compiler when compiling:

[code]
Output:
[code]

The root cause of this problem is that the AOT runtime assumes that the index of 'normal' me

[2022-06-21 16:51] karelz commented on #70227
Triage: We are not sure if it is good idea to work around the problem in Cookie setter.
Does not seem as high pri for 7.0 (only 1 report). Moving to 8.0 for now.

[2022-06-21 16:53] karelz commented on #70996
Triage: We are ok with that. We would take a contribution ;)

[2022-06-21 16:54] EgorBo commented on #71068
win-x64 https://github.com/dotnet/perf-autofiling-issues/issues/6213

[2022-06-21 16:57] karelz commented on #70855
Triage: This is by design behavior of the OS when we close Socket. As @wfurt mentions above, it will disappear.
If you are trying to limit the max number of connections, you can use `MaxConnectionsPerServer` to limit that.
Closing as resolved. Let us know if we misunderstood what you need.

[2022-06-21 16:57] #70855 closed

[2022-06-21 16:57] karelz commented on #70656
Triage: No reply for 1 week, closing. Feel free to reopen once there is aciotnable details available for us.

[2022-06-21 16:57] #70656 closed

[2022-06-21 17:07] #70793 closed

[2022-06-21 17:11] #61978 closed

[2022-06-21 17:12] maryamariyan commented on #65264
@timmydo this went in for the next preview. hopefully you could get to test it out and help with feedback.

[2022-06-21 17:22] mingyaulee commented on #68374
I'm not quite sure I understand what you meant, but I hope the direction that we're heading to is to completely remove string JavaScript from being executed directly, by using something like a C# expression evaluation approach, i.e.

Instead of `return typeof Response !== 'undefined'`, use

[code]

Reference: https://docs.microsoft.com/en-us/dotnet/api/system.linq.expressions.expression

[2022-06-21 17:28] buyaa-n commented on #58712
According to https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=cmd `\\?\` is added for long paths (260+plust characters)

Thanks for  explanation, it seems Uri doesn't support `\\?\` in .Net framework  too, so seems its better to fix it in `AppDomain.CurrentDomain.BaseDirectory` there is open issue [Consider stripping \\?\ from AppDomain.CurrentDomain.BaseDire

[2022-06-21 17:32] lambdageek commented on #71065
There are a couple of subtasks here:
* Extend the mibc format to include optional runtime information - at the very least profile platform/architecture and runtime flavor (coreclr vs mono vs ...).  For example I wonder if collecting a profile on coreclr x64 and deploying to arm64 is worth at least a warning.
* Extend the information in .nettrace files (rundown?) to include platform info and runtim

[2022-06-21 17:34] lambdageek commented on #71065
I don't think we necessarily want a profile to become unusable if it's from the "wrong" runtime/platform, but it would be easier to diagnose profile issues if there was an option for the runtime to report that profile XYZ doesn't match platform/runtime ABC

[2022-06-21 17:58] adamsitnik commented on #69604
I was able to confirm that this bug applies to .NET Framework as well:

<details>

[code]

[code]

</details>

[2022-06-21 18:05] EricStG commented on #70789
I can confirm that it's same version of ..NET on all platforms.

We can get the desired behaviour by setting an app local version of the ICU, but we have to go to a lower version since there's nothing over 68 on nuget:
[code]

Enabling NLS via csproj or env variable also works

[2022-06-21 18:06] adamsitnik commented on #69604
Fun fact: Python and Java have similar bugs despite using different sys-calls:

https://stackoverflow.com/a/40843237/5852046
https://stackoverflow.com/a/67102903/5852046

[2022-06-21 18:08] EgorBo commented on #71065
I planned to try to extend the MIBC format too, was planning to add:
1) versioning
2) "is it app specific or some common profile" flag
3) working set size

[2022-06-21 18:08] naricc opened #71073 "[Mono] Synchronize mono's GCMemoryInfo.MemoryLoadBytes with CoreCLR changes"
CorCLR changed the calculation of GCMemoryInfo.MemoryLoadBytes in this PR:
https://github.com/dotnet/runtime/pull/64128. The same underlying problem most likely exists for mono (I haven't verified this yet, but based on the implementation, this is likely), and it should be updated to be in sync with CoreCLR.

This can probably be done by porting some changes from mono/mono: https://github.com/mono

[2022-06-21 18:09] tarekgh commented on #70789
.NET started to use ICU by default in .NET 5.0 and up. If you compare the app built with .NET 3.1 against apps using 5.0+ you'll notice the differences. Also, .NET does not use ICU on Server 2016 and 2019 so these are 2 other platforms you can notice the difference. I encourage you to read https://docs.microsoft.com/en-us/dotnet/core/extensions/globalization-icu for more info.

I am highly discour

[2022-06-21 18:13] dsisco11 commented on #70227
The System.Net.Cookie type CAN be changed to make roundtripping via properties possible.
The problem with the type is that setting an empty value for Cookie.Port causes the cookie to flag the port as non-implicit.

But my retort here is that this behavior in and of itself makes absolutely no sense. An empty port value within a cookie currently makes the cookie unusable as it can no longer be match

[2022-06-21 18:15] madmox opened #71074 "JsonPatchDocument does not work properly with JsonNode objects"
I am trying to apply a JSON patch to a JSON raw JSON string, so I thought I could use the JsonNode API as an intermediary to do the trick, as it is writable.

This is working as expected:
[code]
But this does not work:
[code]
The exception thrown is:

   at Microsoft.AspNetCore.JsonPatch.Internal.ErrorReporter.<>c.<.cctor>b__1_0(JsonPatchError error)
   at Microsoft.AspNetCore.JsonPatch.Adapters.O

[2022-06-21 18:29] Epic-Santiago commented on #71025
Here's the reflection workaround:
[code]

[2022-06-21 18:31] adamsitnik commented on #69604
I was not able to find any solution that does not come without a perf hit (https://berserkerdotnet.github.io/blog/detecting-namedpipe-exists/), but I have used internal MS mail list to ask Windows experts if there is any API that we could use.

[2022-06-21 18:34] vcsjones opened #71075 "Clean up Windows 7 specific logic in Cryptographic features"
Since Windows 7 is not supported, there are a number of places in S.S.Cryptography where we have Windows-version specific logic for 7.

A few off the top of my head:

* The Windows PBKDF2 one-shots have logic for Windows 7 using `BCryptDeriveKeyPBKDF2` instead of `BCryptKeyDerivation`

    https://github.com/dotnet/runtime/blob/99e58d55c1f02e242f9cbe298d4f31b1a1563207/src/libraries/System.Security

[2022-06-21 18:50] jkotas commented on #70231
We run of libraries tests with checked coreclr on Windows in windows.10.amd64.open.rt queue only. I do not see any other queues running this combination on Windows.

Here is a query you can use to find all libraries tests that failed with runtime asserts in last 10 days. (Some of these failed with a different assert.)

https://dataexplorer.azure.com/clusters/engsrvprod/databases/engineeringdata

[

[2022-06-21 19:04] directhex opened #71079 "[ppc64le] System.Collections.Concurrent.Tests timeout"
### Description

[code]

### Reproduction Steps

Run test suite as normal

### Configuration

git master on ppc64el (community port)

[2022-06-21 19:06] directhex opened #71080 "[ppc64le] Runtime crash in System.Text.RegularExpressions.Tests"
### Description

[code]

### Reproduction Steps

Run test as normal

### Configuration

git master on ppc64le

[2022-06-21 19:26] terrajobst commented on #69675
* `StreamId`
    - Consider renaming to `Id`
* `ReadsCompleted` and `WritesCompleted` is "inverted" as it refers to the state of the other side
* `WriteAsync`
    - The parameter `cancellationToken` should be defaulted
    - Avoid the readonly sequence overloads
    - `PeerReadsCompleted` or `PeerWritesCompleted` might be better
* The terminology of unidirectional is a bit confusing because it see

[2022-06-21 19:26] AndyAyersMS commented on #71005
Debugging this, found it easiest to extract the method as a standalone repro
[code]

Then fix jit so it only puts a patchpoint at offset 0xED, and run with
[code]
Looks like for some reason the untracked lifetime GC info the runtime sees is different than what the jit thinks it produces. In particular the jit places a GC ref at FP offset 0xE0 and consistently uses it this way in the code:
[code]
b

[2022-06-21 19:36] AndyAyersMS opened #71084 "[JIT] Update loop integrity checks"
Update `fgDebugCheckLoopTable` to reflect the full set of canonicalization rules:
* no two loops have a common top
* no loop head is the bottom of some other loop

and address any violations that come up.

Also, maybe (though more challenging):
* no loop top has a dominated pred from outside the loop (for entry == top cases)
* no loop entry has a dominated pred from outside the loop (not enforced

[2022-06-21 19:39] #70802 closed

[2022-06-21 19:50] teo-tsirpanis commented on #71075
I was thinking the same when I saw the announcement. Marking it up-for-grabs, if no one else is interested, I will do it at a later time.

Windows Server 2012 R2 will still be supported under ESUs, so the Windows 8-specific logic should not be removed.

[2022-06-21 19:58] #71030 closed

[2022-06-21 20:01] madmox commented on #71074
This looks really neat, thanks. I could make my sample work with a very minor change (+ including your lib of course):
[code]

I would like to see such functionality built into the framework.

[2022-06-21 20:01] danmoseley commented on #71075
Likely worth a separate pass at some point through the whole tree looking for Windows 7 specific code that can be removed.

[2022-06-21 20:18] teo-tsirpanis opened #71087 "Review issues with the `area-CrossGen-NGEN` label."
CrossGen 1 is a legacy tool that will become completely unsupported by the end of the year, when .NET Core 3.1's support ends.

The `area-CrossGen/NGEN-coreclr` label has [18 open issues](https://github.com/dotnet/runtime/issues?q=is%3Aopen+is%3Aissue+label%3Aarea-CrossGen%2FNGEN-coreclr). It would be a good idea to one day assess whether they are still relevant and either close them or assign the

[2022-06-21 20:22] vuqtran88 opened #71088 "Grpc bidirectional streaming doesn't work with WinHttpHandler."

[2022-06-21 20:27] eerhardt commented on #70010
Happened in my PR -

- https://github.com/dotnet/runtime/pull/70745/
- https://helix.dot.net/api/2019-06-17/jobs/cb5e6f23-6a92-4ed8-acb1-bdcaa36eaaba/workitems/System.Runtime.Tests/console

[2022-06-21 20:57] davidwrighton commented on #71065
This seems pretty good. Adding an extra method to the PGO data to encode this data should be straightforward. I'd like to see it structured as a key/value store. Probably with just strings for keys and values.

[2022-06-21 21:09] TonyValenti opened #71092 "[API Proposal]: ImmutableDictionary.SetItems(params ValueTuple<TKey, TValue>[] Values)"
### Background and motivation

It would be really nice if the ```SetItems``` API allowed me to use ```params``` and value tuples to easily specify items that need to be updated.

### API Proposal

[code]

### API Usage

[code]

### Alternative Designs

This could be made an extension method or left out altogether.

### Risks

None that I can think of.

[2022-06-21 21:12] vuqtran88 opened #71093 "Grpc bidirectional streaming doesn't work with WinHttpHandler."
### Description:
According to this [blog post](https://devblogs.microsoft.com/dotnet/dotnet-6-networking-improvements/#winhttp) and [this closed issue](https://github.com/dotnet/runtime/issues/44784),  WinHttp() should support bidirectional streaming. However, I haven't been able to get it work in my application. I spent a lot of time to debug the issue and was able to come up with a repro as well

[2022-06-21 21:14] eerhardt commented on #67616
This isn't planned for .NET 7 according to https://github.com/dotnet/runtime/issues/64015. We can consider it in the future.

[2022-06-21 21:20] eerhardt commented on #70733
Since this is a regression from 5.0, we should backport this to 6.0.x.

[2022-06-21 21:25] eerhardt commented on #70822
Seems like an easy fix that should be made for 7.0.

[2022-06-21 21:36] steveharter opened #71095 "Add Function Pointer support to Mono Reflection"
Once https://github.com/dotnet/runtime/issues/69273 is in for CoreClr, Mono should uptake that. It is expected that the CoreClr implementation will be done soon for V7.

cc @lambdageek

[2022-06-21 21:38] mdh1418 opened #71096 "[wasm] SocketsHttpHandler_HttpClientHandlerTest.GetAsync_ManyDifferentResponseHeaders_ParsedCorrectly fails with "Unexpected EOF trying to read request header""
[code]
Build: https://dev.azure.com/dnceng/public/_build/results?buildId=1836984&view=logs&j=11c5c840-d20a-5536-428b-70d8cd9c6259&t=73598586-463f-5241-5dc8-b8ffdebf8b89
Log: https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-70851-merge-cbfd4efc983a4e718f/WasmTestOnBrowser-System.Net.Http.Functional.Tests/1/console.efa7fecb.log?helixlogtype=result

[2022-06-21 21:50] krwq commented on #66203
I'm wondering if this isn't some variant of `Nullable<T>` issues with source gen (similar to https://github.com/dotnet/runtime/issues/70475)

[2022-06-21 21:51] vcsjones commented on #71009
@MattR-entrust Can you run your sample program and include the exception that you get (remove the `try` / `catch`)? I can reproduce an issue with a different CNG Provider and I want to make sure I have reproduced the exact issue you are seeing.

[2022-06-21 21:58] janvorli opened #71099 "CoreCLR tests fail to execute if .NET 7 Preview 4 is installed on the machine"
I have started to hit a problem with running coreclr tests that happens only when the .NET 7 Preview 4 is installed on my machine.
In such case, runtime build doesn't download and install .NET into the `.dotnet` subfolder (which is by design, IIRC). So when coreclr tests are executed, it uses dotnet from the `c:\Program Files` and somehow ends up using xunit for 6.0.6 instead of 7.0.0. The log of

[2022-06-21 21:59] janvorli commented on #71099
cc: @dotnet/runtime-infrastructure

[2022-06-21 22:10] schoder-moreno commented on #31094
@steveharter @krwq I'm willing to help move this issue forward with an API design and a prototype as I have a need for this functionality in my own projects.

How were you envisioning the solution with assembly level attributes working?
One similar idea I had was to change `JsonSerializerOptions.Default` from
[code]
to
[code]
Then the options could vary depending on which assembly is calling into

[2022-06-21 22:18] #58708 closed

[2022-06-21 22:32] #51679 closed

[2022-06-21 22:37] radical commented on #71096
cc @pavelsavara @maraf

[2022-06-21 22:50] janvorli commented on #50443
It doesn't seem the managed code handles spurious wakes:
https://github.com/dotnet/runtime/blob/6a889d234267a4c96ed21d0e1660dce787d78a38/src/libraries/System.Private.CoreLib/src/System/Threading/LowLevelMonitor.cs#L88-L93
https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/libraries/System.Private.CoreLib/src/System/Threading/LowLevelMonitor.Unix.cs#L42-L45

[2022-06-21 22:51] janvorli commented on #70341
@jkotas you meant that he has done it in .NET 7, right?

[2022-06-21 22:54] jkotas commented on #70341
Right.

[2022-06-21 22:55] vladd commented on #63474
@VSadov I understand that the code generation is free to do whatever it wants with a variable, and that this freedom is advantageous for the better compiled code quality.

But then, as a developer I am having troubles reasoning in memory locations and loads/stores, because the actual existence of memory locations depends on the compiler's code generation strategy. What I would need is an ability t

[2022-06-21 22:56] #67214 closed

[2022-06-21 23:00] kunalspathak commented on #71059
There is some interesting diff to look into. Specially the `loop` variable is stored and loaded in inner loops

![image](https://user-images.githubusercontent.com/12488060/174910458-92fd49cb-9f88-428b-86f4-d4fa643fb23a.png)

Full diff: https://www.diffchecker.com/BDiOlcSB

[2022-06-21 23:00] vladd commented on #63474
Maybe volatile would guarantee that a C# variable corresponds to a memory location. My point is however that the developers usually need to think in variables, not in memory locations, and given that there is no direct mapping between them (runtime is free to elide the variables and introduce temporary variables or maybe reuse a memory location for different variables etc.) it would be advantageou

[2022-06-21 23:02] jkotas commented on #63474
You can do this sort of reasoning for methods such as `Volatile.Read/Write` or `Interlock.*`, and volatile fields that are equivalent to `Volatile.Read/Write`. Otherwise, all ordinary variable are subject to be optimized out.

[2022-06-21 23:07] janvorli commented on #66856
@vitek-karas looking at the trace logs shared above, do you have any idea what would cause the coreclr path and dir to be reported as empty?
[code]

[2022-06-21 23:09] Beau-Gosse-dev commented on #70010
I'm still trying to reproduce this NativeAOT library test hang on Linux, but it's turning out to be very difficult for me. I was able to get reliable test runs (always passing) on Ubuntu 20.04 x64, but after looking at the logs, it looks like the hang is actually reproducing on Ubuntu 18.04 arm64. So I thought I'd try that OS/arch to see if I can actually hit the hang locally.

I saw that there is

[2022-06-21 23:11] vladd commented on #63474
@jkotas At least there is a guarantee that an immutable _object_ doesn't need any `Volatile.*`/`Interlocked.*` operations to be correctly published, right? I mean, we don't need an explicit synchronization if an immutable object is read from another threads, no matter if variables get their memory locations or optimized out. This is (hopefully) implied by [Object assignment chapter](https://github

[2022-06-21 23:19] VSadov commented on #63474
As far as I know C# makes the same assumptions about observability of accesses to variables that can be shared with other threads. Optimizations are only performed when they are unobservable. See example in https://github.com/dotnet/runtime/issues/63474#issuecomment-1160848251

Either a variable is not observable from multiple threads, and then it can only follow just single-threaded semantics, or

[2022-06-21 23:28] MichalStrehovsky commented on #71099
I hit this all the time. I thought it's specific to my environment.

I cannot uninstall the globally installed preview because that breaks using VS with the repo. The workaround I do is editing artifacts\tests\coreclr\windows.x64.Debug\Tests\Core_Root\xunit\xunit.console.runtimeconfig.json. The content without any changes is:

[code]

I stomp over the 3.1.0 part with the runtime version I have (no

[2022-06-21 23:29] VSadov commented on #63474
Yes, as long as object is initialized before publishing (in program order).
C# compiler will not reorder field modifications past the publishing of the object, and then the "publish" will be a release.

This is a very common pattern when a shared instance is lazily initialized by threads that see the instance is `null`. The pattern does not need synchronization if identity of the instance is unimp

[2022-06-21 23:36] sam-wheat opened #71104 "Environment variable is not set when running published desktop app"
### Description

When an executable is published, no equivalent of `launchSettings.json` is deployed alongside to ensure an environment variable such as `DOTNET_ENVIRONMENT` is set correctly prior to program execution.

### Reproduction Steps

Create a publish profile.
Add environment information as shown:

    <Project>
        <PropertyGroup>
	        <ASPNETCORE_ENVIRONMENT>qa</ASPNETCORE_ENVIR

[2022-06-21 23:47] vladd commented on #63474
Thank you for this valuable addition! I think this _should_ be enough for connecting C# to the CLR memory model, but I'd prefer an opinion of language specialists more experienced then me.

Can I reformulate your point this way:

?

[2022-06-22 00:05] danmoseley commented on #71003
Actually why an event fired is less interesting than why it knocked the process over. It is fragile for this code to read the disk, especially at an arbitrary path, on a threadpool thread, without catching typical IO exceptions. This problem existed before it was updated to follow file links, even File.GetLastWriteTimeUtc can throw UnauthorizedAccessException.

Probably this code here should catch

[2022-06-22 00:20] VSadov commented on #63474
Yes.
Except that lambda capture would be a better example than iterator/async.

yield/await do not imply sharing local variables with another thread.
It is possible to see a different OS thread running the continuation after execution is resumed, when identity of the thread is unimportant, but there is only one thread accessing the locals in async method at a given time, so compiler will treat acc

[2022-06-22 00:30] eerhardt commented on #71104
What is your scenario for wanting an environment set for the application? If you just want some settings to be deployed with your app, you can use appsettings.json and read it from the IConfiguration.

[2022-06-22 00:49] EgorBo opened #71105 "PGO: Consider extending some unroll factors in JIT"
JIT is able to unroll various things like `Unsafe.InitBlock`, `Unsafe.InitBlockUnaligned`, `Unsafe.CopyBlock`, `String/Span Equals/StartsWith`, Jit is able to unroll simple loops, clears prologues. However, it looks like it limits itself everywhere to avoid size/memory increase. I think we can relax those limits when we have PGO data around and it states that method is extremely hot and afford hig

[2022-06-22 01:10] MichalStrehovsky commented on #71063
Could you do a search in your codebase for fields that have `delegate*<void>` somewhere in their type? From the stack the issue you're running into is caused by a field of type `delegate*<void>` but we have explicit code that should make this situation impossible to reach:

https://github.com/dotnet/runtime/blob/46f53e387e0396542f7dcefa2bb7627ef3a2bf1d/src/coreclr/tools/aot/ILCompiler.Compiler/Com

[2022-06-22 01:11] richlander commented on #3298
There is a project to do this and we are in favor it. I believe it's stuck behind some other projects in our backlog.

Is that right @MichaelSimons @leecow?

[2022-06-22 01:14] VincentBu commented on #29683
Failed again in: [runtime-libraries-coreclr outerloop 20220621.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1836331&view=ms.vss-test-web.build-test-results-tab&runId=48539506&paneView=debug&resultId=104376)

Failed test:
[code]
**Error message:**
[code]

[2022-06-22 01:18] VincentBu commented on #69474
Failed again in: [runtime-coreclr libraries-jitstress 20220621.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1836094&view=ms.vss-test-web.build-test-results-tab&runId=48534226&paneView=debug&resultId=133385)

Failed test:
[code]
**Error message:**
[code]

[2022-06-22 01:30] RussKie commented on #70318
Looks like the discussion has split between here and https://github.com/dotnet/runtime/issues/58712. And since the latter is closed, in attempt to merge the forks, @karelz I'm going to reply to your questions here:

In .NET Framework the Windows Forms designer is run in the VS process (as both the host and the designer use the same runtime). To facilitate the .NET support the designer was moved ou

[2022-06-22 01:30] lambdageek commented on #71095
/cc @SamMonoRT

[2022-06-22 01:31] lambdageek commented on #71095
this should be fairly straightforward for mono.  possibly with the exception of creating the calling convention array.

[2022-06-22 01:37] lambdageek commented on #43791
@steveharter Will the https://github.com/dotnet/runtime/issues/69273 MetadataLoadContext work also happen in 7? Will that include also the .NET Framework version of MLC? If so, that will help us with this issue with the wasm tooling.

[2022-06-22 01:40] ThomasMcandrew opened #71108 "Conditional building of LINQ queries"
### Background and motivation

When building LINQ queries there are times when it would be beneficial to conditionally alter the query, the most common problem  would be when changing the order by of the query. Order by is generally at the end of a possibly large query and switched based on an input to a function.

[code]
This feature will keep the functionality of a LINQ query contained, rather t

[2022-06-22 02:19] HypsyNZ opened #71109 "Serious flaw in KeepAlive"
https://github.com/dotnet/runtime/blob/7cbf0a7011813cb84c6c858ef19acb770daa777e/src/libraries/Common/src/System/Net/WebSockets/ManagedWebSocket.cs#L525

You aren't ignoring the exception and this is the reason the socket keeps closing unexpectedly and throwing exceptions for seemingly no reason.

Don't handle Exceptions inappropriately.

Also, No response is required so why are you waiting for one

[2022-06-22 02:24] stephentoub commented on #71109
What isn't true?

Ignoring these asynchronous isn't causing sockets to close.

What is it you'd expect this to do instead?  If this else block were deleted, it would have zero impact on sockets closing; it would simply result in the TaskScheduler.UnobservedTaskException event being raised sporadically and for reasons outside of the developer's code / control.

[2022-06-22 02:27] HypsyNZ commented on #71109
What makes you think you are ignoring the exception.

[2022-06-22 02:28] stephentoub commented on #71109
The fact that we are?
[code]

[2022-06-22 02:29] HypsyNZ commented on #71109
Okay

[2022-06-22 02:30] HypsyNZ commented on #71109
Okay

[2022-06-22 02:33] HypsyNZ commented on #71109
To me it looks like you are handling the exception, Which gives anyone else the opportunity to raise the exception; Just so you can discard it.

I think you need to do an entry level programming course.

[2022-06-22 02:37] stephentoub commented on #71109
I'm closing your issue.  The cited code is doing what it is intended to do.  We also have a code of conduct in this repo (https://github.com/dotnet/runtime/blob/main/CODE-OF-CONDUCT.md) that we ask all participants to follow.  Telling someone they need to do an entry level programming course (I promise you I don't) violates that code of conduct.  Thank you.

[2022-06-22 02:37] #71109 closed

[2022-06-22 02:40] trungnt2910 commented on #55803
Seems like `coreclr_initialize` succeeded now, but `coreclr_execute_assembly` fails:

![image](https://user-images.githubusercontent.com/57174311/174931365-09fd6adc-6cb8-4900-887f-c2149d7412d5.png)

![image](https://user-images.githubusercontent.com/57174311/174931441-0815f674-9ca2-4256-b6c1-54022a34ae71.png)

![image](https://user-images.githubusercontent.com/57174311/174931485-ed4f0f4d-1ab3-4de8

[2022-06-22 02:40] sam-wheat commented on #71104
We don't the name of the config until we know the environment name i.e. appsetings.{environment}.json
We like the Visual Studio workflow i.e. environment is set/maintained external to code.
What I am asking for is basically carrying forward the VS workflow to the deployment environment.

[2022-06-22 02:41] HypsyNZ commented on #71109
You are handling the exception. The discard isn't doing what you think it is doing.

[2022-06-22 02:43] stephentoub commented on #71109
It is.  Tasks that end in the faulted state track whether the exception they contain has ever been "observed", meaning exposed to the consumer in some way.  Exceptions that go unobserved then trigger the TaskScheduler.UnobservedTaskException event, as I mentioned earlier.  Accessing the Task.Exception property on a faulted task marks that exception as observed, thus preventing it from triggering t

[2022-06-22 02:44] HypsyNZ commented on #71109
You are handling the exception. That is all you get to decide.

[2022-06-22 03:04] HypsyNZ commented on #71109
How exactly do you imagine I ended up on this exact line of code in a core library?

[2022-06-22 03:11] AndyAyersMS commented on #71005
Ah, I think the issue is that we are double reporting a stack slot
[code]
and this likely leads to the failures.

Seems like we can fix this by checking if an untracked on-frame (dependently) promoted struct has tracked GC fields, but perhaps the intention was that this combination should be impossible. If so perhaps OSR is missing some key bit of logic somewhere...?

@dotnet/jit-contrib does this

[2022-06-22 03:29] richlander commented on #71075
I updated the link in your issue @vcsjones. The cross-issue linking doesn't work (where the link shows on on the other side) on locked issues, so I used the dotnet/core issue instead. I never realized that before.

[2022-06-22 03:38] HypsyNZ commented on #71109
I just want to reiterate that you are wrong and when `SendKeepAliveFrameAsync()` fails the socket closes unexpectedly.

[2022-06-22 03:41] HypsyNZ commented on #71109
Embarrassing, for you I mean.

[2022-06-22 03:42] stephentoub commented on #71109
It's certainly possible the socket is closed or closing when an exception occurs. But it's not closing _because_ of this code that's suppressing the TaskScheduler.UnobservedTaskException event.

[2022-06-22 03:42] HypsyNZ commented on #71109
No. You are just wrong.

[2022-06-22 03:49] eerhardt commented on #71104
Are you deploying to “production”?

In general, you wouldn’t deploy the other environment’s appsettings.json files with your app. You would just deploy the settings that are relevant for the deployment you are publishing for.

in order to do that, you would need some other app to launch your app with the environment variables set - or a batch file like you said above.

[2022-06-22 04:03] Maoni0 commented on #70231
thanks @jkotas! I can see a scenario where this can happen for regions. I'll submit a fix.

[2022-06-22 04:26] mshann03 opened #71170 "IValidateOptions and IConfigureOptions executing twice"
### Describe the bug

I've got a scenario where I'm using `OptionsBuilderExtensions.ValidateOnStart` to validate some settings to fail fast if there are any values missing etc.

I've wired in an `IValidateOptions<>` implementation to do the validation, and I have an `IConfigureOptions<>` implementation to change some of the settings on load.

The issue I'm experiencing is both the configure and va

[2022-06-22 04:36] #71049 closed

[2022-06-22 05:00] sam-wheat commented on #71104
Why do I need another app to launch my app? Can the publish process do that for me and why is the workflow different than the one in visual studio.  It seems like a big disconnect.

[2022-06-22 05:38] AaronRobinsonMSFT commented on #71002
Not really. .NET Framework did have a quirks mode that was incredibly complicated and just made our lives difficult. In .NET Core, we make these decisions based on how valuable the change is and if it warrants breaking some compat. In this case, I could see an argument for changing this semantic in our new system but leaving it in the old. I am also open to "fixing" the behavior early in .NET 8 an

[2022-06-22 05:46] davidfowl commented on #70951
Is RD.xml documented?

[2022-06-22 05:50] MichalStrehovsky commented on #70951
It's documented here: https://github.com/dotnet/runtime/blob/main/src/coreclr/nativeaot/docs/rd-xml-format.md

But writing any sort of XML (be it this one, or the ILLink trim ones) is such a bad experience that it's sometimes better to forget it exists. I'm working on a fix for this right now, so if it's not urgent, wait a day or two and this problem will go away.

[2022-06-22 05:53] huoyaoyuan commented on #71108
What is the benefit comparing to a simple `?:` ternary operator?

[2022-06-22 06:01] SA-VishalD opened #71114 "Azure App Service Config keyname Starting with Azure_XXX_Abc gives error ."
### Description

**Updating web app settings**

When I try to add a new Key with name 'AzureBlobStorage__AccountKey' in configurations under settings in app service .

It gives me a notification with :
Failed to update web app settings: AppSetting with name 'AzureBlobStorage__AccountKey' is not allowed.
a few seconds ago

![image](https://user-images.githubusercontent.com/96452369/174953974-2a8dcb

[2022-06-22 06:12] #70963 closed

[2022-06-22 06:14] davidfowl commented on #70951
It's not urgent, I'm looking at other ways to make value types work though. We will just say its not supported at the moment, but motivated individuals can use RD.xml to preserve the internal generic methods that get called.

[2022-06-22 06:19] huoyaoyuan commented on #71055
`Microsoft.Data.SqlClient` lives in [dotnet/SqlClient](https://github.com/dotnet/SqlClient) repo.

Moreover, you are using client of MS SQL Server to connect to MySQL. There should be no way to get this work. To connect to MySQL, use clients for MySQL like [MySql.EntityFrameworkCore](https://www.nuget.org/packages/MySql.EntityFrameworkCore) or [Pomelo.EntityFrameworkCore.MySql](https://www.nuget.o

[2022-06-22 06:37] HypsyNZ commented on #71109
Welcome to my application code, imaginary exception from impossible location unless you are just wrong.

[2022-06-22 06:55] #70971 closed

[2022-06-22 07:13] ManickaP commented on #53688
https://github.com/dotnet/runtime/pull/70421

[2022-06-22 07:13] #53688 closed

[2022-06-22 07:13] ManickaP commented on #55995
https://github.com/dotnet/runtime/pull/70421

[2022-06-22 07:13] #55995 closed

[2022-06-22 07:13] ManickaP commented on #56005
https://github.com/dotnet/runtime/pull/70421

[2022-06-22 07:13] #56005 closed

[2022-06-22 07:13] ManickaP commented on #56005
https://github.com/dotnet/runtime/pull/70421

[2022-06-22 07:14] ManickaP commented on #70424
https://github.com/dotnet/runtime/pull/70421

[2022-06-22 07:14] #70424 closed

[2022-06-22 07:26] wfurt commented on #71093
cc: @JamesNK

[2022-06-22 07:26] maraf commented on #61368
The interop API is being reimplemented and this will not to fit in 7.0.

[2022-06-22 07:53] vitek-karas commented on #66856
The trace log is for a single-file self-contained app - so the runtime is statically linked to the host (so there's no CoreCLR .dylib anywhere).

@VSadov has been looking at some single-file macOS related problems relatively recently, maybe he will have an idea.

I would definitely recommend rebuilding the app with the latest .NET 6 SDK.

[2022-06-22 08:00] adamsitnik commented on #70524
I agree that the behaviors should be consistent and aligned. I am afraid we won't have the time to fix it for .NET 7. @daxian-dbw please let me know if this is very important for you

[2022-06-22 08:00] skyoxZ commented on #70822
@garcipat Could you please explain more? I don't see any scope info in your screenshot. And my test shows it works as expected.

`IncludeScopes` has been checked here:
https://github.com/dotnet/runtime/blob/a103efd28d46af39fc22a77458a11d204226e8d4/src/libraries/Microsoft.Extensions.Logging.Console/src/SimpleConsoleFormatter.cs#L182

([Doc about LogScopes](https://docs.microsoft.com/en-us/dotnet/co

[2022-06-22 08:08] vladd commented on #63474
@VSadov That's an interesting topic. Is there really a guarantee that enumeration won't happen on different threads? I mean something like this:

[code]

With this code, `MoveNext()` will be most probably executed simultaneously on different threads. While the outcome might be undefined on the language level (is it? what does the language standard say about this?), the compiler needs to ensure at

[2022-06-22 08:11] jakobbotsch opened #71118 "JIT ARM64: Assertion failed 'argValue->OperIsIndir()' during 'Morph - Global'"
New-ish failure in jitstress.
Pipeline run: https://dev.azure.com/dnceng/public/_build/results?buildId=1838276&view=results
Helix job name: coreclr windows arm64 Checked jitstress1_tiered
Console log: https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-7845cb10b061455d94/Interop/1/console.5274bc02.log?helixlogtype=result

[code]

cc @dotnet/jit-contrib

[2022-06-22 08:20] NegativeMjark commented on #70798
For my use case we'll need to update to .NET 6 at some point anyway. In the meantime writing the array in small page-sized chunks seems to work as a mitigation. So I don't think we urgently need a fix for 3.1.

If you did want to fix it for 3.1 I've put a 2-line PR together at https://github.com/dotnet/corefx/pull/43149

[2022-06-22 08:21] jakobbotsch commented on #70876
Thanks @jkotas. Indeed I confirmed that the behavior is the same when using the dotnet host: it executes nested.dll instead of nested.asm.dll.

Yes, seems like we should do something similar to what the R2R testing does.

[2022-06-22 08:25] jakobbotsch opened #71119 "ilasm roundtrip testing should ensure roundtripped assembly file name matches baked-in assembly name"
The ilasm roundtrip testing produces an assembly with the same baked-in assembly name, but named with a ".asm.dll" suffix instead of ".dll" suffix. It was noticed in #70876 that this leads to dotnet.exe, and previously also corerun.exe, executing the original assembly file instead of the roundtripped assembly file.
After eb9dd67 and 5713bea corerun.exe _does_ execute the renamed file, so we are no

[2022-06-22 08:26] #70876 closed

[2022-06-22 08:29] ilonatommy commented on #62618
Just checked, still failing with the same message.

[2022-06-22 08:29] ManickaP commented on #71088
@vuqtran88 I assume this issue can be closed since it doesn't have any description and you also filed: https://github.com/dotnet/runtime/issues/71093.

[2022-06-22 08:29] #71088 closed

[2022-06-22 08:38] maraf commented on #57519
It's blocked by https://github.com/dotnet/runtime/issues/69273, which is scheduled for 7.0.
After the implementation I will probably enable it here.

[2022-06-22 08:39] maraf commented on #56145
It's blocked by https://github.com/dotnet/runtime/issues/69273, which is scheduled for 7.0.
After the implementation I will probably enable it here.

[2022-06-22 08:47] MattR-entrust commented on #71009
The actual error is bubbling up from the native provider dll so the precise behaviour might vary depending on the provider being used.
With a 3rd party provider bug which NPE-d when passed an invalid public key handle, the stack trace was

StackTrace	"   at System.Security.Cryptography.NCryptNative.UnsafeNativeMethods.NCryptSecretAgreement(SafeNCryptKeyHandle hPrivKey, SafeNCryptKeyHandle hPubKey,

[2022-06-22 09:14] adamsitnik commented on #70830
@JeremyKuhne thanks for providing more information! Since we can't do anything from .NET level about it, I am going to close the issue.

[2022-06-22 09:14] #70830 closed

[2022-06-22 09:18] ilonatommy commented on #64227
@maraf, this suggestion sounds helpful, have you tried it? What's the result?

[2022-06-22 09:21] #64232 closed

[2022-06-22 09:31] trungnt2910 commented on #55803
Nice, thanks!
It printed out a HRESULT, `0x80131524`, which is a... `DllNotFoundException`:

[code]

Seems like I'm missing a few native libraries.
Any way I can copy everything I need for `corerun` into a folder or a tarball that I can copy through `scp`?

[2022-06-22 09:34] pavelsavara commented on #70133
- implemented generic `JSMarshalAsAttribute<T>`,
- relaxed `[JSMarshalAs<>]` enforcement for all numbers except `Int64`, also for `JSObject` and for most `Task<>` and arrays
- removed support for custom native marshaler `[MarshalUsing]`
- removed `in` keyword for `ToJS(XXX value)` methods
- implemented better dynamic import via `JSHost.Import()` and `[JSImport(string functionName, string moduleNam

[2022-06-22 09:34] janvorli commented on #55803
Yes

As for the error, you can try to disable globalization by setting env var `DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=1`, then we would not try to load the ICU libraries.

[2022-06-22 09:37] AignerGames commented on #63747
I like the idea, but after reading this I have a few questions, because Im not sure if / what will be implemented of the following things:

- Will this system also work for generic types (or interfaces), for example IMyGenericInterface<T> which is implemented by MyGenericClass<T> or MyStringClass<string> and uses as a class property of type public ISomeGeneric<string> MyStringProperty {get; set;}

[2022-06-22 10:01] SingleAccretion commented on #71118
Likely cause is #70888. Will take a look.

[2022-06-22 10:06] jakobbotsch commented on #70029
I also cannot reproduce the `TryParse3` other one with the given commits:

|    Method |        Job |               Toolchain |     Mean |    Error |   StdDev |   Median |      Min |      Max | Ratio |  Gen 0 | Allocated | Alloc Ratio |
|---------- |----------- |------------------------ |---------:|---------:|---------:|---------:|---------:|---------:|------:|-------:|----------:|------------:|
|

[2022-06-22 10:11] jakobbotsch commented on #67592
This one seems to have become bimodal around the filing date, but this could easily be caused by other unrelated changes depending on specifics of e.g. memory alignment.
The graph now shows that it is bimodal with one mode being the same as before, so I will close this:
![image](https://user-images.githubusercontent.com/7887810/175004090-ea86e655-c3ac-4ffa-a01f-969c63113d59.png)

[2022-06-22 10:18] trungnt2910 commented on #55803
How? (Except the obvious manual way, of course)

That's not the problem. The problem is that the native libraries are in a different folder. I've moved them to the correct folder and the exception went away.

[2022-06-22 10:22] trungnt2910 commented on #55803
[code]

I got this far.

@am11 seems like I need a real assembly with an entry point here, right?

[2022-06-22 10:26] krwq opened #71123 "Add APIs to JSON Contract customization"
Continuation of https://github.com/dotnet/runtime/issues/63686 - some API additions we wanted to make in this release.

## API changes

[code]

## Sample

[code]

## Remaining work

- [x] Remaining comments in https://github.com/dotnet/runtime/pull/70435
- [x] Adjust polymorphism APIs to match approved API shape
- [ ] check trimmed app size before and after contract customization changes
- [x] Jso

[2022-06-22 10:34] ilonatommy commented on #65244
@radical, running like this:
`dotnet build /t:Test src/libraries/System.Threading.Channels/tests /p:Configuration=Release /p:TargetOS=Browser /p:BrowserHost=Windows` I'm getting no errors.
[code]
I can't find the issue to be disabling tests anywhere neither in libs root nor directly in the Threading tests. Is it likely we're fine with this one already?

[2022-06-22 10:36] JamesNK commented on #71093
It doesn't. [The doc](https://docs.microsoft.com/en-us/aspnet/core/grpc/netstandard?view=aspnetcore-6.0#net-framework) says only unary and server streaming is currently supported.

Changes to support bidi streaming have been made in Windows source code and will be in a future version of Windows 11. I don't know when it will be released. It's hard to get good answers on Windows release dates. Perha

[2022-06-22 10:51] janvorli commented on #55803
I guess I have misunderstood the question. I was thinking you were asking whether you can just copy the runtime and other files to some other location.

[2022-06-22 11:02] eiriktsarpalis commented on #63747
Attribute annotations will not work for generic derived types, such configuration will need to happen using the contract resolver model. See the "Configuring Polymorphism via the Contract model" section in the OP.

Likewise, authoring a custom contract resolver should let you define polymorphic hierarchies programmatically.

It becomes an issue when "MyBaseType" is high enough in the type hierarch

[2022-06-22 11:07] #71064 closed

[2022-06-22 11:16] am11 commented on #55803
You can build `src/tests` as below:
[code]

Then you will be able to use full corerun  pack. Copy `artifacts/tests` directory to Haiku machine, set  environment variable: `export CORE_ROOT=$(pwd)/artifacts/tests/coreclr/Haiku.x64.Debug/Tests/Core_Root` and run `corerun helloworld.dll`, where `helloworld.dll` comes from:

[code]

Then simply run `$CORE_ROOT/corerun helloworld.dll` in Haiku.

[2022-06-22 11:27] darinkes opened #71125 "SpecialFolder ApplicationData is empty on MacOS"
### Description

[code]

### Reproduction Steps

Run the minimal example above.

### Expected behavior

Get a folder where Application Data can be stored on MacOS

### Actual behavior

Nothing is returned

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

% uname -a
Darwin host 21.5.0 Darwin Kernel Version 21.5.0: Tue Apr 26 21:08:29 PDT 2022; root:xnu-8020.1

[2022-06-22 11:30] wfurt commented on #69125
I don't think all the failures are related. For example
[code]

this fails to load because of glibc version mismatch. Also some of the failures above are reported on OS with OpenSSL 1.0 and the code with GCHandle should not even run on them.

I spent fair amount of time trying to reproduce it (so I can verify possible changes) but no luck so far.

[2022-06-22 11:31] ivanpovazan commented on #56385
Mostly note to myself.

Further analysis has been performed on the output generated by `bloaty` as described in my previous comment by running [script](https://gist.github.com/ivanpovazan/8f19dd741a467091c71a88a10b7971fd)

The script reads the bloaty `dotnet` and `oldnet` reports and processes their symbols by:
- categorising them into:
    - `CORLIB` - Symbols from: `System.Private.CoreLib` (and

[2022-06-22 11:37] trungnt2910 commented on #55803
The official preview SDK does not recognize the target `haiku.r1-x64`:

[code]

[2022-06-22 11:40] #64343 closed

[2022-06-22 11:45] darinkes commented on #71125
NVM. just learned about the DoNotVerify and Create Option.

[2022-06-22 11:45] #71125 closed

[2022-06-22 11:50] wfurt commented on #62264
https://github.com/dotnet/runtime/issues/29270 is merged and there is now API sufficient for the handler.

[2022-06-22 12:06] filipnavara commented on #70982
Branch with HttpListener and NegotiateStream converted to the new APIs: https://github.com/filipnavara/runtime/tree/negotiate-policy-api-wip

[2022-06-22 12:29] nicholasamiller opened #71130 "Cannot configure HttpHandler in DI with Azure Functions v4"
### Description

My aim is to configure the HttpHandler used by the IHttpClientFactory in DI an an Azure function.
I followed this documentation from https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-6.0
[code]
There handler is not injected.

### Reproduction Steps

Create an Azure function with the following Startup.cs:

[code]

Create an Azure function with

[2022-06-22 12:36] nicholasamiller commented on #71130
Will put this is the asp.net core repo instead.

[2022-06-22 12:36] antonfirsov commented on #70227
@dsisco11 makes sense to me, should be easy to fix by moving lines around in the setter code:

https://github.com/dotnet/runtime/blob/9b4f152802b6305438bc1f6ddf4733104bb57f6e/src/libraries/System.Net.Primitives/src/System/Net/Cookie.cs#L589-L597

Any chance you are interested raising a PR?

[2022-06-22 12:40] nicholasamiller opened #71133 "Documented method to configure HttpMessageHandler with DI for Azure Functions V4 does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

My aim is to configure the HttpMessageHandler used by the IHttpClientFactory in DI an an Azure function.
I followed this documentation from https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-6.0
[code]
There handler is not injected.

### Expected Behavior

[2022-06-22 12:48] eerhardt commented on #71104
In your expected behavior above you say “ Environment variable is set prior to program execution.” How else do you propose getting that env var set?

No. That isn’t available in the publish process. The publish process isn’t contained in this repo, so if you’d like it changed, you would need to log an issue in dotnet/sdk.

VS is simulating your real hosting environment. A real hosting environment

[2022-06-22 12:54] rcdailey commented on #66856
@vitek-karas what version specifically? I'm always technically using latest. I'm trying to pin down a specific fix version.

[2022-06-22 13:00] CarnaViire commented on #71130
@nicholasamiller HttpClientFactory actually does belong to runtime, not to ASP.NET Core, so I will reopen it now and add a reply to your question a bit later

[2022-06-22 13:03] vuplea opened #71131 "Breaking R2R (crossgen2) input bubble promise results leads to corrupted execution"
### Description

In [this discussion](https://github.com/dotnet/runtime/discussions/70166), it was mentioned that a mismatch between the reference assembly at crossgen2 time and the assembly at runtime should result in a fail-fast behavior.

The following repro results in a corrupted execution. A different scenario of ours also resulted in Access Violation.
Repro:
* Have 6.0.6 runtime installed
*

[2022-06-22 13:17] MichaelSimons commented on #3298
Yes it's on our backlog and didn't make the 7.0 cut because of other higher priority work.

[2022-06-22 13:29] jkotas commented on #69125
These failures are from https://github.com/dotnet/runtime/pull/70111 that is worked-in-progress.

Yes, crashes like this are often hard to reproduce since they depend on specific timing and the timing on your local machine is different.

Do you have a theory on what may be the problem? Have you tried to write a targeted test that hits the problem with high probability?

[2022-06-22 13:30] sec commented on #14537
On the bright side - I was able to perform source-build of latest supported tag 6.0.x (there were some weird errors during the process, but was able to finish). In the end, SDK didn't worked because it was looking for `freebsd.13-x64` and not `freebsd.x64` runtime - but I guess I didn't patched something enough or SDK was quite old (as doing the same build but using raw repositories works well). A

[2022-06-22 13:35] wfurt commented on #14537
search for anything related to portable build. That one should choose RID without specific version.
For the arm64, I assume that is only for FreeBSD 13 and above? I think we can get it into main for 7.x

[2022-06-22 13:55] CarnaViire commented on #71133
Duplicate of #71130

[2022-06-22 13:55] #71133 closed

[2022-06-22 13:58] sec commented on #14537
Yes, it should go for 13 as it's Tier 1 supported.
Tried `--portablebuild`` option, only diffrence is that `freebsd.13-arm64` vs `freebsd-arm64` unknown rid message :) will look/dive deeper I think :)

[2022-06-22 14:10] wfurt commented on #14537
The portable was meant for `freebsd.13-x64` to move to `freebsd-x64`. Arm64 will need some more work.

[2022-06-22 14:17] #65244 closed

[2022-06-22 14:27] rjgotten commented on #68625
FWIW I've on a number of occasions had to map certain ordered items where the result value of the mapping for the current item depends on the context of the previous item. This is where a `Scan` operation can have use.

Just had one such case the other day, actually - when dealing with composing different snippits of content originating from a CMS and deciding whether some kind of horizontal break

[2022-06-22 14:28] trungnt2910 commented on #55803
So, I'm building the managed libraries, and some weird things are happening:

[code]

[code]

Why is it `linux-x64`? Also, what's with the linker error, when the type is actually present?

[2022-06-22 14:46] eerhardt commented on #71104
I think we are talking past each other.

Can you explain your scenario/situation from end-to-end? I don't understand what you are trying to accomplish.

[2022-06-22 14:48] Mapel opened #71138 "Upgrade to .Net 6 from .Net 5 breaks authentication to oData-Webservice"
### Description

We are using and maintaining a web application written in asp.Net 5 running on IIS 10 (inprocess). The app is accessing a oData v4 webservice which is provided by our ERP system (Dynamics NAV 2017). We have a hybrid environment with synced AD/AAD, which is used for the user login. In the app we are using the OIDC-auth-provider and AAD. The windows client of Dynamics NAV 2017 is us

[2022-06-22 14:49] am11 commented on #55803
You can ignore all that for the first hello world app test. You only need a few System libraries, which are already built (untrimmed).

[2022-06-22 15:16] rseanhall commented on #58492
Another thing to consider is that `CreateProcessW` tries to use the current directory of the current process if `lpCurrentDirectory` is NULL or an empty string. When long paths are enabled, the current directory can be longer than `MAX_PATH`. In this case, `CreateProcessW` returns `ERROR_INVALID_PARAMETER` (87). You have to pass in a valid path less than `MAX_PATH` to avoid this error.

[2022-06-22 15:24] tmds opened #71140 "Zip and Tar don't (re)store directory permissions"
The Zip and Tar creation / extraction have code for dealing with unix file permissions, but they don't store and restore directory permissions.

cc @eerhardt @carlossanlop

[2022-06-22 15:29] teo-tsirpanis commented on #3295
@bricelam does the issue reproduce with the latest version of `Microsoft.Extensions.DependencyModel` and .NET Native?

[2022-06-22 15:40] steveisok opened #71143 "[Android] Stack overflow crash when using dotnet-trace for profiled aot"
### Description

A stack overflow crash occurs on Android when stack walking in order to gather the right data for MethodDetails events.  It appears to be `class_loading` profiler events which get fired over and over until we overflow the stack and crash.

### Reproduction Steps

1. Start dotnet-dsrouter

Once a device is connected via USB or an emulator is started:

`dotnet-dsrouter server-server

[2022-06-22 15:45] steveisok commented on #71143
/cc @lambdageek @lateralusX @mdh1418

[2022-06-22 15:49] adamsitnik commented on #68139
It's not a bad idea, but I would prefer to wait until the issue receives feedback from more customers.

[2022-06-22 15:55] #61580 closed

[2022-06-22 16:09] eerhardt commented on #71104
The `launchSettings.json` file is only used at development time by Visual Studio. That file doesn't affect your published app. It is by design that file doesn't affect your published app.

You have a few options (that I know of) that you pick from:

1. Tell your QA testers to set the environment variable `DOTNET_ENVIRONMENT=qa` on their machines or command prompt before launching the app.
2. Publi

[2022-06-22 16:09] #71104 closed

[2022-06-22 16:12] jkotas commented on #14537
The place to add new RIDs is https://github.com/dotnet/runtime/blob/main/src/libraries/Microsoft.NETCore.Platforms/src/runtimeGroups.props#L181 and rebuild the json files in this directory.

[2022-06-22 16:36] mkArtakMSFT commented on #71149
@lewing can you please look into this? Thanks!

[2022-06-22 16:39] daxian-dbw commented on #70524
It's not a high priority. The inconsistent behavior gets exposed through PowerShell and thus we got an issue opened from the community: https://github.com/PowerShell/PowerShell/issues/16922

[2022-06-22 16:43] eerhardt commented on #71104
What you are asking for cannot be fixed in dotnet/runtime. dotnet/runtime contains the code that runs inside your app's process (the CLR and core .NET libraries). You are asking for an environment variable to be set prior to your app being executed, which is not possible in the code that is running in your application.

Feel free to send feedback in Visual Studio (Help -> Send Feedback -> Suggest

[2022-06-22 16:46] carlossanlop commented on #69935
TarEntryFormat, Conversion and GEA changes have been fixed.

[2022-06-22 16:46] #69935 closed

[2022-06-22 17:01] wtgodbe opened #71150 "Undo revert of Arcade update to ingest Workload Manifest task"
Basically, undo https://github.com/dotnet/runtime/pull/71110 (but don't undo the SDK update), and fix up the publish task as described below (copy/pasted from the PR):

[code]

The root cause of this was the change to the workload manifest tasks in Arcade: https://github.com/dotnet/arcade/pull/8645

This requires reaction in runtime's usage of those tasks: https://github.com/dotnet/runtime/blob/62

[2022-06-22 17:05] gsuberland commented on #69591
Yup, I'd be happy with `IsSubPath` or `IsSubPathOf` as a name.

[2022-06-22 17:14] michaelgoin commented on #71093
For others who come across this, here's the Grpc.Core extension communication: https://groups.google.com/g/grpc-io/c/OTj5mb1qzb0 (linked to from [this article](https://grpc.io/blog/grpc-csharp-future/)). Deprecation has been delayed until May 2023 and will be supported in "maintenance mode."

[2022-06-22 17:15] Falco20019 opened #71153 "net6-android: Environment.SetEnvironmentVariable not shared with native library"
### Description

I just ported a Android library from `MonoAndroid` to `net6-android`. Sadly, the library (Grpc.Core.Xamarin) uses environment variables to pass the `xds_bootstrap.json` path over. There is no other way to set it.

On `MonoAndroid`, calling `Environment.SetEnvironmentVariable("GRPC_XDS_BOOTSTRAP", "...")` did work. On `net6-android`, I get a runtime error from the library:
[code]

[2022-06-22 17:18] Falco20019 commented on #71153
@akoeplinger I assume this should be `os-android`.

[2022-06-22 17:32] #71153 closed

[2022-06-22 17:40] trungnt2910 commented on #55803
Hmmm, despite having tweaking some stuff related to platforms and runtimes, I still have this error:

[code]

[2022-06-22 17:43] TanayParikh opened #71443 "Break on first-chance exception in Web Assembly debugger"
Looks like this is an issue impacting the community: https://www.reddit.com/r/Blazor/comments/vhrrl1/blazor_wasm_how_to_break_on_unhandled_exception/

Ideally we can hook into the `System.AppDomain.CurrentDomain.UnhandledException` as we do with WebView for WinForms / WPF.

Repro:

`Index.razor`:

[code]

`Program.cs`:

[code]

Expected: `!!! Encountered exception !!!` console output
Actual: The e

[2022-06-22 17:45] AignerGames commented on #63747
Thank you for the answers @eiriktsarpalis, I must have skipped the contract model section before. I checked the example and it seems to be exactly what I need.

I currently have a custom json serializer which collects all "valid" derived types from a specific "safe" assembly, which contains all the checks to find interface implementations and generic types etc. So it should be possible to simply c

[2022-06-22 17:46] eerhardt commented on #70969
Happened here as well: https://dev.azure.com/dnceng/public/_build/results?buildId=1839229&view=logs&j=e36cdb78-1b23-5f53-5d15-e931194c7d32&t=5f3cc2c3-b299-5f57-0006-9e48b00ce7cd&l=735

[2022-06-22 17:50] schoder-moreno commented on #31094
@eiriktsarpalis I totally get that and agree to some extent. I guess I am a little confused on what the sentiment is. Are we at a point where you are willing to accept a solution with a public static default options (mutable or immutable), or should the solution exhibit other characteristics/behavior, and if so which?

[2022-06-22 17:55] AaronRobinsonMSFT commented on #70859
I'd prefer to avoid the enum for two reasons. The first is it permits multiple instances of an attribute and instead of 1 it becomes 1 up to N where N is the number of unique enumeration values - that is difficult to reason about from my perspective. The second, and @jkoritzinsky or @elinor-fung can confirm, but we would now need to handle the complexity of what enum values are unique or valid com

[2022-06-22 17:55] jakobbotsch commented on #70967
This has the same symptoms as #69092. Will close as a duplicate of that one.

[2022-06-22 18:04] SapphireAmoeba5 opened #71154 "Pressing CTRL+C while polling for user input disables input echoing."
### Description

When the compiled program is polling for user input (through Console.ReadLine, Console.Read, etc) and the user presses CTRL+C to send SIGINT and close the program, input echoing is disabled. You are able to type in commands fine, except any keys you press do not appear on the terminal prompt. You can fix it by typing `stty echo`, however this doesn't seem like a proper fix conside

[2022-06-22 18:10] ericstj commented on #71150
@directhex @steveisok can you prioritize a change to workloads.csproj to fix this and help get Arcade flowing again in 6.0?

[2022-06-22 18:17] trungnt2910 commented on #55803
Already did that (locally, haven't pushed).

Turns out I copied the wrong assembly, it's located in `net7.0-unix` not `net7.0`.

![image](https://user-images.githubusercontent.com/57174311/175108287-b6f219ca-bf37-4d77-8bf8-f47c7bfd02bc.png)

[2022-06-22 18:28] joeloff commented on #71150
Some details. The workload outputs will be organized by feature band to facilitate publishing the specific content for the VS versions being targeted. There's some automation tasks that we have in staging that we haven't been able to use.

artifacts\VSSetup\Debug\Insertion\6.0.100
artifacts\VSSetup\Debug\Insertion\6.0.200
artifacts\VSSetup\Debug\Insertion\6.0.300

Because workload packs can be the

[2022-06-22 18:31] tannergooding opened #71155 "Ensure Arm64 method local constants don't live next to the code"
As per https://github.com/dotnet/runtime/pull/71044#discussion_r902793442, we currently have "method local constants" emitted as part of the method body block on Arm64. This is unlike x64 where we allocate a distinct area separate from the method.

We do this to ensure that these constants can be cheaply accessed via `ldr`. However, much like on x86/x64, placing "data" in the same page as your "co

[2022-06-22 18:35] wfurt commented on #71138
Is the service running on n on-standard port? Could be https://docs.microsoft.com/en-us/dotnet/core/compatibility/networking/6.0/httpclient-port-lookup

[2022-06-22 18:42] SingleAccretion opened #71156 "Bad codegen for a combination of `cpblk` and constant source"
Reproduction:
[code]
Compile & run with a recent build of the runtime.

Expected result: program prints `false`.

Actual result: program prints `true`.

Cause: when importing `cpblk` we create the following type-mismatched tree:
[code]
That is later, after forward substitution of the source, mistakenly assumed to be an init block (where only the lower bits of the constant matter).

[2022-06-22 18:46] sec commented on #14537
Ok, I got to the point, that failed with:
[code]

Had to change toolchain to `aarch64-freebsd` in `eng/common/cross/toolchain.cmake` , made sysroot with FreeBSD13/aarch64 with all needed libraries/headers (I think). I'm not an expert on this topic, maybe some hints on how to go further? If this is not a right place to ask, where's the best place to ask for help with that subject?

[2022-06-22 18:57] CarnaViire commented on #71130
@nicholasamiller I cannot reproduce the behavior, I can see the exception being thrown:
[code]
If the problem still persists, could you please send us a complete minimal repro of the behavior? Otherwise, it is not actionable for us. Thanks!

[2022-06-22 19:04] eerhardt commented on #70882
In your code above, you are passing in the `string correlationId` into the 'func'. If you could customize the `IServiceScopeFactory`, how would your method get access to the `correlationId`?

[2022-06-22 19:15] BruceForstall commented on #70972
@danmoseley This didn't fail when the pipeline was rerun. Can you assign it to the appropriate team to investigate as a potential flaky test, or should we close it as "no repro"?

[2022-06-22 19:17] CarnaViire commented on #60644
Just as an FYI for anyone who might be taking up on this, I have an old branch where I attempted to fix it: https://github.com/dotnet/runtime/compare/main...CarnaViire:http11-fix-retries

The change itself is easy, but I got stuck on not being able to make the tests consistent: closing the socket on the `LoopbackServer`'s side would sometimes cause an error different from `SocketError.ConnectionRe

[2022-06-22 19:18] AaronRobinsonMSFT commented on #51206
Win 7 is going out of support mid .NET 7, so this feature has less value and is unlikely to be addressed.

See https://github.com/dotnet/core/issues/7556

[2022-06-22 19:18] #51206 closed

[2022-06-22 19:35] Thefrank commented on #14537
From what I remember, FreeBSD cross compiles are done using clang and setting a triple (e.g., `x86_64-unknown-freebsd12`). So something like 'armv7a-unknown-freebsd13` might work

[2022-06-22 19:46] agocke commented on #70969
I'm trying to take a look locally and see if we can find a solution

[2022-06-22 19:49] #63905 closed

[2022-06-22 19:52] eiriktsarpalis commented on #31094
.NET 7 will expose an immutable default instance (via #61093). For reasons already stated in this thread, I don't believe we would ever consider making it settable.

One possible alternative might be to supporting "JsonSerializer" instances: an object encapsulating `JsonSerializerOptions` and exposing instance method equivalents to the existing static API. That might be one way of avoiding the com

[2022-06-22 20:03] tommcdon commented on #70825
Closing per https://github.com/dotnet/announcements/issues/226 - .NET 7+ will not support Windows 7 and 8.1.

[2022-06-22 20:03] #70825 closed

[2022-06-22 20:31] Maoni0 commented on #71014
does this mean they are allocating one object that's 100mb+? if you are setting the hardlimit to only 200mb and allocating one object that's 100mb+ it's very likely you'll get OOM.

[2022-06-22 20:55] jkotas commented on #70859
I have been looking at what the code for marshallers looks like and whether it is looks good and intuitive. Here are a few examples of where I think the current proposal falls short.

[2022-06-22 21:29] jkoritzinsky commented on #70859
Yes, that is required by the current design.

If we were to go the `CustomMarshallerAttribute` direction in your comment, how would you recommend developers override behavior with a custom marshaller for a particular stub type and byref kind (instead of the proposed 3 attributes)?

[2022-06-22 21:51] jkotas commented on #70859
ArrayMarshaller can look like this:

[code]

We would always find the most specific marshaller for the scenario. For example, we would first look for `CustomMarshallersKind.ManagedToUnmanagedIn`, then for `CustomMarshallersKind.ManagedToUnmanaged`, and finally for `CustomMarshallersKind.Default`.

[2022-06-22 21:54] AaronRobinsonMSFT commented on #70859
I really dislike the multiple attribute with an enum approach.

[2022-06-22 22:04] jkoritzinsky commented on #70859
I'm not the biggest fan of that design as we'd have to validate that none of the attributes have the same Kind specified. Also, how would we specify a not-supported scenario? Explicitly set the `Marshaller` property to `null` or some constant on the `CustomMarshallerAttribute` type?

Other than those two concerns, I like that it isn't as verbose and would allow us to expand the scenarios list in t

[2022-06-22 22:09] buyaa-n commented on #70318
Tagging @ericstj @jeffhandley for considering porting to .NET 6,

[2022-06-22 22:09] jkotas commented on #70859
Either specify null or not specifying `Default` to fallback to. Depends on what makes more sense in the given situation.

[2022-06-22 22:17] AaronRobinsonMSFT commented on #70859
It's not just that. It is also what does "default" mean and when does it apply? The below case now has cases where the use is implied again and creates far more confusion. The single attribute with multiple values is for sure verbose but it is also very clear about intent and has no ambiguity about when something applies.

[code]

Before we start going down that path as an argument, I'd like to se

[2022-06-22 22:28] #70081 closed

[2022-06-22 22:39] am11 commented on #64026
Found a minor inefficiency in `unsafe` method with daily build 7ab7f83fb1 (7.0.100-preview.6.22322.4).

Setup (NativeAOT):
[code]

Disassembly:
[code]

`push` and `add` in `fabs_pointer` look redundant.

[2022-06-22 22:39] carlossanlop opened #71172 "Document all CI pipelines that can be manually triggered in PRs"
Today I learned about `runtime-community`, an optional pipeline that can be executed in PRs to test code in architectures that we don't officially support but the community maintains.

I tried to find documentation about it but couldn't find any. I only found 3 hits in yaml files: https://github.com/dotnet/runtime/search?q=runtime-community

I did find a document that describes some of the availab

[2022-06-22 22:50] buyaa-n commented on #70579
I don't think it is runtime/threading issue, consider @Clockwork-Muse's suggestion.

Transferring to MAUI for  more suggestions on how such UI should be loaded

[2022-06-22 22:55] AndyAyersMS commented on #71071
Seems like one issue is that `fgReorderBlocks` can relocate rarely run blocks and/or ranges it in a way that tends to scramble their order.

And if a loop entry is rarely run but some loop blocks are not (as in the example above) this can end up both moving top and bottom away from the rest of the loop nest and also reversing their order.

[2022-06-22 22:55] jkoritzinsky commented on #70859
We've talked a little about a struct marshalling source generator that automatically generates a marshaller type for a given managed struct type. There's a question that arises: in this new design with specialized marshallers, which marshaller do we use for field marshalling? Generally, we would want the same behavior as for parameters, but for some types, we want different behavior. Specifically,

[2022-06-22 22:57] tannergooding opened #71173 "runtime-community leg failing for ThreadPoolMinMaxThreadsEventTest"
This has been failing since #70063 (https://dev.azure.com/dnceng/public/_build/results?buildId=1831349&view=ms.vss-test-web.build-test-results-tab).

CC. @eduardo-vp

[2022-06-22 22:58] tannergooding commented on #71173
Notably the community leg is for `linux release s390x mono`. It represents a big endian platform.

[2022-06-22 23:01] janvorli commented on #66922
Based on Kusto, this didn't repro in any of the cases that Kusto now stores. From the details that are in this issue, it is not clear what could have caused this issue.  I am closing it for now.

[2022-06-22 23:01] #66922 closed

[2022-06-22 23:27] AndyAyersMS commented on #71071
Maybe the issue is that while the random profile data is self-consistent at the flow graph level, it may not be consistent with actual flows allowed by the IR. Say we have a redundant branch in `X` and `Y`. Random profile might end up with this self-consistent but nonsensical set of weights:
[code]
and post RBO we would end up with inconsistent data, like seeing that a loop entry has zero weight b

[2022-06-22 23:42] mshann03 commented on #71170
OK thank you for the response @rjgotten, for now I'll just inject the options I need to have validated on startup as IOptionsMonitor instead on IOptions and then it'll only run once.

Do you think there would potentially be a better solution going forward?

[2022-06-22 23:53] #70385 closed

[2022-06-23 00:02] #63045 closed

[2022-06-23 00:22] #69474 closed

[2022-06-23 00:22] #70060 closed

[2022-06-23 00:29] WeihanLi commented on #70882
Hi @eerhardt , thanks for your reply, I'm using a `CorrelationIdProviderAccessor` which similar to the `HttpContextAccessor`, I use the `CorrelationIdProviderAccessor.CorrelationIdProvider.GetCorrelationId()` to get related correlationId

[code]

If we could customize it, think we could make it more simple
[code]

Besides, maybe we could use the `Activity` instead of the `CorrelationIdProvider` be

[2022-06-23 00:30] #63265 closed

[2022-06-23 00:41] brianlagunas commented on #31619
I also need this functionality. Seems silly to me that a naming policy would only apply on serialization and not deserialization. Seems like a massive oversight.

Please fix this.

[2022-06-23 00:44] ThomasMcandrew commented on #71108
With the ternary operator we can only so a conditional operation on a item by item bases inside of the predicate. with this we are able to make changes to the linq query itself. this allows for more advanced linq queries than possible at the moment.

[2022-06-23 00:58] MichalStrehovsky commented on #70010
The build machines do a crossbuild - the `prereqs:ubuntu-18.04-helix-arm64v8` container is an x64 image that has an ARM64 cross rootfs. We build the product, including the tests, with that, and then the resulting binary is sent to execution on an ARM64 machine.

Doing the build on an ARM64 is not something the infra regularly does. It should work. Looks like there might be a bug. That one would be

[2022-06-23 01:13] trungnt2910 commented on #55803
Yeah, Haiku's terminal has an interesting feature that makes the prompt text turn green if the previous command returned zero, and red otherwise.

[2022-06-23 01:15] VincentBu opened #71179 "Test failure Interop\\PInvoke\\Vector2_3_4\\Vector2_3_4\\Vector2_3_4.cmd"
Run: [runtime-coreclr jitstress 20220621.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1838276&view=ms.vss-test-web.build-test-results-tab&runId=48569238&paneView=debug&resultId=100504)

Failed test:
[code]
**Error message:**
[code]
Queued | OS | Arch | Column1
-- | -- | -- | --
2022-06-22T06:41:46.219Z | osx.1200.arm64.open | arm64 | [runtime-coreclr jitstress   Checked-jitstress2

[2022-06-23 01:51] #70263 closed

[2022-06-23 01:52] ThomasMcandrew commented on #71108
That makes sense, I guess my goal was to be able to achieve the same result within a single query.

[2022-06-23 01:56] AndyAyersMS commented on #59973
This no longer happens and we're monitoring libraries-pgo more closely now. So closing.

[2022-06-23 01:56] #59973 closed

[2022-06-23 01:58] AndyAyersMS commented on #59666
Suspect this was fixed by #69878. Haven't seen it happening recently.

[2022-06-23 01:58] #59666 closed

[2022-06-23 02:44] RussKie commented on #70318
Thank you @buyaa-n for the fix. I'll give it a try once it flows through to dotnet/winforms.

[2022-06-23 03:07] niemyjski commented on #35195
This needs to be reopened.

[2022-06-23 03:42] mortifactor opened #71185 "Unable to bind Dictionary with key type "Enum" when key string case is different"
### Description

Hello.
Since ASP.NET Core documentation says:
[code]
https://github.com/dotnet/AspNetCore.Docs/blob/c875045a940e6ce3d24c24573309ff4be71d4fde/aspnetcore/fundamentals/configuration/index.md?plain=1#L404

I suppose that enum keys should be handled the same way as strings.
But at the moment ConfigurationBinder throws an error as it uses "Enum.Parse" method:
https://github.com/dotnet/r

[2022-06-23 04:07] deeprobin commented on #58492
Does this also occur if `lpCurrentDirectory` is not NULL and the current work directory is longer than `MAX_PATH`?

[2022-06-23 04:32] jkotas commented on #71172
There are about 50 different pipelines that can be triggered manually. You can get current full list by running `/azp list`. For example: https://github.com/dotnet/runtime/pull/71100#issuecomment-1162411713

[2022-06-23 05:03] Sapana-Khemkar commented on #71079
Yes I can reproduce issue. This testcase few time works on ppc64le and few time fails.

Here are results when it passed successfully

`ubuntu@dotnet:~/runtime_preview3_test/artifacts/bin/System.Collections.Concurrent.Tests/Release/net7.0$ ../../../testhost/net7.0-Linux-Release-ppc64le/dotnet exec --runtimeconfig System.Collections.Concurrent.Tests.runtimeconfig.json --depsfile System.Collections.C

[2022-06-23 05:29] teo-tsirpanis commented on #67837
Fixed by #69980.

[2022-06-23 05:29] #67837 closed

[2022-06-23 06:59] jakobbotsch commented on #71179
Duplicate of #71118

[2022-06-23 06:59] #71179 closed

[2022-06-23 07:14] tmds commented on #71154
This is the same as https://github.com/dotnet/runtime/issues/64166. It was fixed on main by https://github.com/dotnet/runtime/pull/64200.

It hasn't been backported to 6.0. For that we need a champion from @dotnet/area-system-console.

[2022-06-23 07:16] #66934 closed

[2022-06-23 07:19] 0xced opened #71190 "System.Net.Http.ContentLengthReadStream should provide the length of the stream"
### Description

Accessing the `Length` property of `System.Net.Http.ContentLengthReadStream` should return the length of the stream. Instead, it throws `System.NotSupportedException`.

### Reproduction Steps

Run the following code:

[code]

### Expected behavior

The following output should be printed to the console:
[code]

### Actual behavior

`System.NotSupportedException` is thrown:
[code]

[2022-06-23 07:20] adamsitnik commented on #68212
@mirespace are you still interested in sending a PR?

[2022-06-23 07:22] adamsitnik commented on #68891
By default BDN does not enforce any GC settings, so the defaults are used.

[2022-06-23 07:30] garcipat commented on #70822
There is the "Buhler.Automation.JointForces..." that is the scope. At least I expected that to be the scope.

[2022-06-23 07:31] zgabi commented on #66934
:(

[2022-06-23 07:47] huan086 commented on #62758
You are right, turns out Regex isn't the correct solution. A loop on every location name, finding all positions of the location name in text repeatedly using IndexOf, and handling the few cases where locations are substrings of other locations by looking at the positions matched before, runs faster. The Aho–Corasick algorithm mention in https://stackoverflow.com/a/498349/263003 would be the optimi

[2022-06-23 07:58] Falco20019 commented on #71153
Thanks for the update. I also came up with invoking it and that indeed solved my issue.

[2022-06-23 07:59] wfurt opened #71191 "Add X509ChainPolicy to SslOptions"
### Background and motivation

When TLS handshake is completed SslStream does peer certificate validation. This happens always on client and it can happen on server if client cert is provided. This process can for example download additional certificates over network and there is no way how caller can impact the processing. Only after al this is done custom delegate can be called for additional ch

[2022-06-23 08:01] marek-safar commented on #56385
@ivanpovazan which runtime version is this using? There are many methods which I cannot find in main.

[2022-06-23 08:16] erikzhouxin opened #71192 "Math.Round(double,int,MidpointRounding) Math.Round(decimal,int,MidpointRounding) different result"
### Description

`
            // 单精度浮点数(Float)
            Console.WriteLine(Math.Round(18.254550f, 4, MidpointRounding.ToEven)); // 18.2546
            Console.WriteLine(Math.Round(18.745450f, 4, MidpointRounding.ToEven)); // 18.7454
            // 双精度浮点数(Double)
            Console.WriteLine(Math.Round(18.254550d, 4, MidpointRounding.ToEven)); // 18.2545
            Console.WriteLine(Math.Round

[2022-06-23 08:35] #71118 closed

[2022-06-23 08:44] ivanpovazan commented on #56385
@marek-safar 6.0.301-rtm.22263.15 version was used for these measurements (xamarin repo configuration)

[2022-06-23 08:48] jakobbotsch opened #71193 "JIT: BBF_HAS_NULLCHECK is not set on BB but is required"
[code]

[code]

Reproduces on win-x64 too.

cc @dotnet/jit-contrib

[2022-06-23 08:52] jakobbotsch commented on #71193
I'll take a look.

[2022-06-23 08:53] wfurt opened #71194 "add SslStreamCertificateContext to SslClientAuthenticationOptions"
### Background and motivation

We added `SslStreamCertificateContext ServerCertificateContext` to `SslServerAuthenticationOptions` in  #37933. That allows sever to create pre-validate immutable chain and use it over and over again. Back then, it was not clear if that would be much benefit for client side.

While the client side is more rare, the situation is somewhat more complicated. `SslClientAu

[2022-06-23 08:58] ilonatommy commented on #65672
Still failing.

[2022-06-23 09:13] teo-tsirpanis commented on #65121
Closing, .NET 5 is not anymore supported.

[2022-06-23 09:13] #65121 closed

[2022-06-23 09:22] ilonatommy commented on #66401
@TanvirArjel, thank you for filing the issue and helping us fix the bug. Could you please let us know if the suggestions above were helpful and if you still can reproduce it when versioning problem is sorted out?

[2022-06-23 09:25] VSadov commented on #68891
It would be more realistic to test ConcurrentDictionary with server GC, so that concurrency is not limited by singlethreaded GC.

Anyways, the most likely problem for this regression has been fixed for Windows as of https://github.com/dotnet/runtime/pull/70769
Not sure how soon it will get to the perf lab. I hope we will see improvements.

Thanks for raising this issue!!!

[2022-06-23 09:29] ilonatommy commented on #65796
I can't reproduce it, can you @pavelsavara? Is it probable that it got fixed? Test itself does not have any recent changes.

[2022-06-23 09:49] Falco20019 opened #71195 "AndroidManifest can not be set to an absolute path"
### Description

`Microsoft.Android.Sdk.DefaultProperties.targets` is always settings `$(AndroidManifest)` to `AndroidManifest.xml` if empty. `Xamarin.Android.Common.targets` is settings `_AndroidManifestAbs` always to `$(ProjectDir)$(AndroidManifest)` as long as `$(AndroidManifest)` is not empty.

There is no clean way to set the path to an absolute one (as part of an SDK) besides hooking in befo

[2022-06-23 09:49] Falco20019 opened #73311 "AndroidManifest can not be set to an absolute path"
### Description

`Microsoft.Android.Sdk.DefaultProperties.targets` is always settings `$(AndroidManifest)` to `AndroidManifest.xml` if empty. `Xamarin.Android.Common.targets` is settings `_AndroidManifestAbs` always to `$(ProjectDir)$(AndroidManifest)` as long as `$(AndroidManifest)` is not empty.

There is no clean way to set the path to an absolute one (as part of an SDK) besides hooking in befo

[2022-06-23 09:52] pavelsavara opened #71196 "[wasm] ReferenceError: SharedArrayBuffer is not defined. /p:WasmEnableThreads=true"
many tests in the `runtime-wasm` CI legs are failing when `/p:WasmEnableThreads=true`.
This is blocking clean runtime-wasm CI.

https://github.com/dotnet/runtime/blob/b1221494186e7b8e5199d892dae76481a52f5935/eng/pipelines/runtime-extra-platforms-wasm.yml#L75

See
[Log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-66304-merge-2d2822b422664c0f83/Wasm.Browser.CJS.Sa

[2022-06-23 09:53] pavelsavara commented on #71196
cc @radical @steveisok

[2022-06-23 10:02] pavelsavara commented on #71196
Does yellow CI mean I could ignore it ?
![image](https://user-images.githubusercontent.com/271576/175273431-ee25d328-bf85-423f-b464-eedf391a902c.png)

How do I differentiate on the test tab?
![image](https://user-images.githubusercontent.com/271576/175273711-1dbe17bf-49a1-480f-9765-5c2a7e8e300d.png)

[2022-06-23 10:24] Vandersteen commented on #57213
Any updates on this issue ?

[2022-06-23 10:30] CarnaViire commented on #70348
@krwq did you check the Diagnostics tab on the internal ticket?

[2022-06-23 10:34] dweggemans opened #71197 "DI, AddHttpClient: configured HttpClient not resolved when registered in wrong order"
### Description

It seems the order of registration matters when adding a typed HttpClient and consumer to the DI.
Calling AddHttpClient before registering the dependent class results in a default HttpClient instance being injected.
Calling AddHttpClient after registering the dependent class result in the configured HttpClient being injected.

### Reproduction Steps

[code]

### Expected behavior

[2022-06-23 11:01] pavelsavara commented on #65796
Let's close it and re-open if it appears again.

[2022-06-23 11:37] eiriktsarpalis commented on #71108
I wouldn't support the inclusion of such a method in LINQ. The solution suggested in https://github.com/dotnet/runtime/issues/71108#issuecomment-1163829863 seems just as good or perhaps better than the proposed addition.

[2022-06-23 11:37] #71108 closed

[2022-06-23 11:40] jakobbotsch opened #71200 "Assert failure: heapSize >= initialRequestSize with collectible assemblies on linux-x64"
We have been hitting this on and off in Fuzzlyn jobs for a while now.

To reproduce:
1. Checkout and build [Fuzzlyn](https://github.com/jakobbotsch/Fuzzlyn/) with `dotnet publish -c Release -r linux-x64 --self-contained`
2. Execute Fuzzlyn's execution server with a checked `corerun` and the input file attached to the issue by running the following command:
[code]

The JSON document contains two as

[2022-06-23 12:02] adamsitnik commented on #70014
@stephentoub there are multiple `Process` APIs that are implemented only on Windows, they are not marked with `[SupportedOSPlatform("windows")]` and they do nothing or return defaul value for non-Windows configs:
* `CloseMainWindow`
* `EnterDebugMode`
* `LeaveDebugMode`
* `MainWindowHandle`
* `MainWindowTitle`

These methods don't seem to be hints like `ProcessThread.IdealProcessor` and `ProcessTh

[2022-06-23 12:10] steveisok commented on #71196
It looks like the results for the legs are showing as optional as intended.  The yellow icons indicate that.

The labels in the test tab are confusing and we'll have to look into tweaking them.

[2022-06-23 12:11] performanceautofiler[bot] opened #71214 "Regressions in System.Collections.Sort<Int32>"
### Run Information

Architecture | arm64
-- | --
OS | Windows 10.0.19041
Baseline | [9ab00ef5c8904f28fba9b01b4fefd4ad672567fb](https://github.com/dotnet/runtime/commit/9ab00ef5c8904f28fba9b01b4fefd4ad672567fb)
Compare | [10438a57b888cbdc6dc15771dc662adde9fd6b14](https://github.com/dotnet/runtime/commit/10438a57b888cbdc6dc15771dc662adde9fd6b14)
Diff | [Diff](https://github.com/dotnet/runtime/compa

[2022-06-23 12:17] #69290 closed

[2022-06-23 12:58] #67115 closed

[2022-06-23 13:10] sec commented on #14537
I managed to get past those error, by doing changes in CMake files to find correct binaries (no idea why it work ok, when not doing cross compile, looks like magic to me), managed to start the build, but quick fail
[code]

I don't think this file should be included as `ia32` is not `aarch64` - maybe I've messed up with cmakelist files... hard to tell.

@Thefrank to get pass ```ld.lld: error: unabl

[2022-06-23 13:25] lambdageek commented on #70891
Couple of things:

1. If you compile with `-s EXPORT_ES6`, the `worker.js` is built differently. it does this
   https://github.com/emscripten-core/emscripten/blob/25591f37aa77c415af9c54bc74d073f4653d22d7/src/worker.js#L154-L160

2. We might still need our own version of worker.js since we may need to customize `Module` before it's passed to `createDotnetRuntime`, as we noted here https://github.c

[2022-06-23 13:28] lambdageek commented on #70891
worker.js seems to only add `require` if `ENVIRONMENT_MAY_BE_NODE` is true, which seems like it is set here
https://github.com/emscripten-core/emscripten/blob/2391bfcacbd0396a1cda21843cf3c6a216e6a142/emcc.py#L294
[code]

so we could omit `node` from `-s ENVIRONMENTS=...` when we build with threading

[2022-06-23 13:42] Fabi commented on #63174
Still not implemented???

[2022-06-23 13:42] tannergooding commented on #71192
These aren't equivalent operations.

-----------------------------------------------

To start lets look at the actual values at play here:

`18.254550f` is actually `18.254550933837890625`
`18.254550d` is actually `18.254549999999998277644408517517149448394775390625`
`18.254550m` is actually `18.25455`

`18.745450f` is actually `18.745449066162109375`
`18.745450d` is actually `18.7454999999999998

[2022-06-23 13:44] stephentoub commented on #70014
EnterDebugMode and LeaveDebugMode have little use on anything other than Windows; you'd use them if you wanted to query for certain things that you can only do when you have the right privileges, and you can't query for those on other OSes, so these methods don't need to do anything special on those OSes.  Thus nop is a valid implementation.  We can mark them as unsupported if you want, but I expe

[2022-06-23 13:59] uweigand commented on #71173
Thanks for reporting this!

Looking at the failing test, we have this failed assertion:
[code]

Note that 768 is 0x300 and this value is of type `uint16_t`, so it looks like a missed endian conversion.

I think this is related to the general endian problems with eventpipe that @stefan-sf has been working on for a while, see in particular  https://github.com/dotnet/runtime/pull/68648.   @stefan-sf

[2022-06-23 14:10] steveisok commented on #71004
/cc @mdh1418

[2022-06-23 14:25] adamsitnik commented on #70014
@stephentoub how about just annotating these methods with `[SupportedOSPlatform("windows")]`? I just would like to make sure that our customers know about the fact that these methods are Windows-specific before they deploy their apps to other OSes and find out about it the hard way.

[2022-06-23 14:41] adamsitnik commented on #70529
@JulieLeeMSFT are there any plans to record some demos and share them online?

[2022-06-23 14:46] adamsitnik commented on #68667
#70650 has fixed the issue:

![image](https://user-images.githubusercontent.com/6011991/175327387-453a9197-1cb5-42ec-94c1-a648a84d8407.png)

[historical data](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_arm64_ubuntu%2018.04%2fSystem.Tests.Perf_Array.Reverse.html)

[2022-06-23 14:46] #68667 closed

[2022-06-23 14:54] adamsitnik commented on #70374
Hello @just-ero

It's a duplicate of https://github.com/dotnet/runtime/issues/1124

[2022-06-23 14:54] #70374 closed

[2022-06-23 15:01] ilonatommy commented on #66899
Thank you

Thank you, as far as I know the filtered data files (in your situation `CJK`) should be loaded but you're right that they are not. We're looking into it.

[2022-06-23 15:07] sakno opened #71207 "[API Proposal]: SO_PEERCRED support for Unix Domain Sockets"
### Background and motivation

I would like to verify remote peer connecting to my application through Unix Domain Socket. Linux and FreeBSD allow to do that using `SO_PEERCRED` (or `LOCAL_PEERCRED` on FreeBSD) socket option via `getsockopt` native function. This function needs to be called on accepted socket by server side.

### API Proposal

[code]

The returned data can be represented as `Value

[2022-06-23 15:08] CarnaViire commented on #71197
@dweggemans you don't need to separately register your `IDependency` -- `AddHttpClient` already does that for you. You should *remove* this line:

[code]

By design of DI, whatever is added last via `AddTransient`/`AddSingleton` etc, will *override* the previous registration on the *same* interface. This is what you see as you essentially register your `IDependency` twice.

Thanks! Closing as ever

[2022-06-23 15:08] #71197 closed

[2022-06-23 15:10] EgorBo opened #71208 "Json web benchmark doesn't benefit from PGO on Windows (it does on Linux)"
I think it should be curious to investigate why json-json benchmark doesn't benefit from PGO on Windows while on exactly the same machine it does on Linux:
![image](https://user-images.githubusercontent.com/523221/175332418-9dbaf8a2-a987-4080-aabc-0e19eae76728.png)

cc @AndyAyersMS @jakobbotsch

[2022-06-23 15:16] AaronRobinsonMSFT commented on #70859
That isn't the intent with the hierarchy, although one could assume that. The optimization is for clarity. Yes, there are three attribute possible, but that is it and it is very explicit about intent. It was optimized for UX and explaining the system.

The proposed multi-attribute approach optimizes for less writing but again, has a large number of defaults which the interop team has been working

[2022-06-23 15:19] brianlagunas commented on #31511
Support for private/internal constructors and properties/fields are also required for my scenario. Please implement this.

[2022-06-23 15:21] AaronRobinsonMSFT commented on #70859
I am open to that. Improved UX to me is explicit and and helping to avoid ambiguity. The enum approach reduces writing but introduces a more complex supersede construct that I find increases ambiguity. Given the majority of people are in IDEs and we have all the language services running reducing a few more `typeof` statements doesn't seem to be that beneficial. If the enum didn't have implied hie

[2022-06-23 15:27] adamsitnik commented on #70370
Hi @just-ero ! Is there any chance you would like to work on a fix?

[2022-06-23 15:33] just-ero commented on #70370
Hi! I wouldn't know the first thing about how I would do that!

[2022-06-23 15:34] stephentoub commented on #70014
We can if you really think the benefits outweigh the cons.  It means code like
https://github.com/PowerShell/PowerShell/blob/ea3ea96cc75f51eab30e0bd93c7b4f8c31bbf14b/src/System.Management.Automation/engine/remoting/commands/EnterPSHostProcessCommand.cs#L815-L828
will start issuing warnings.  Does that bring enough benefit to justify it?  Up to you.

[2022-06-23 15:36] stephentoub commented on #69649
@adamsitnik, note this is PipeReader.ReadAtLeastAsync, not the Stream.ReadAtLeastAsync that @eerhardt just added.

[2022-06-23 15:37] radical commented on #71149
@vdanche Could you please add `-bl` to the publish command line, and share the generated `msbuild.binlog`? Make sure to delete the `bin`, and `obj` directories first.

[2022-06-23 15:41] adamsitnik commented on #70275
I agree that we should align the behavior.

.NET 7 is not going to support Windows 7 and 8:

We have tried to use `NtCreateFile` in the past and we have failed to map everything properly and take care of all edge cases. Dealing with `CreateFileW` is all we need.
https://github.com/dotnet/announcements/issues/226

[2022-06-23 15:42] adamsitnik commented on #70275
@huoyaoyuan would you be interested in sending a PR?

[2022-06-23 15:48] adamsitnik commented on #69649
@stephentoub thanks for the clarification! Eric please ignore my previous message

[2022-06-23 15:55] jonathanpeppers commented on #71210
/cc @steveisok @lambdageek

[2022-06-23 16:00] adamsitnik commented on #70370
It's "simple" when you know how:

1. You fork the repo by clicking the fork button in right top corner
2. You clone your own fork and change the current directory to the folder where it got downloaded

[code]

3. You create a new branch

[code]

4. You install the build requirements listed here: https://github.com/dotnet/runtime/blob/main/docs/workflow/README.md#build-requirements
5. You build the

[2022-06-23 16:06] rodrigovaras commented on #71063
Hi Michael, i did more research and our project define the framework target as 'net6.0-windows' , this seems to be reason of the problem. The reason we will forced to do that is because of some winrt C# interop required for some of the components. I experiment removing the dependency and use 'net6.0' and it seems to work now (of course without the full functionality we needed) but it was a good ex

[2022-06-23 16:06] #71063 closed

[2022-06-23 16:07] uweigand opened #71212 "Int128 type layout not compatible with native ABI on big-endian platforms"
The Int128 and UInt128 C# data types are currently defined like this:

[code]

The intent seems to be that the layout should be compatible with the native __int128 type as defined by the platform ABI.

However, this is incorrect for big-endian platforms, certainly for s390x and ppc64.

For s390x, the ABI document (pdf version) is here: https://github.com/IBM/s390x-abi/releases/download/v1.6/lzsabi

[2022-06-23 16:18] radical commented on #61756
this is a *build* error, and the error in the issue description is when the tests are run.

[2022-06-23 16:21] EgorBo commented on #71068
https://github.com/dotnet/runtime/pull/69869

arm64: https://github.com/dotnet/perf-autofiling-issues/issues/6329

[2022-06-23 16:23] EgorBo commented on #71069
Regressions on Windows-arm64: https://github.com/dotnet/perf-autofiling-issues/issues/6330

[2022-06-23 16:28] EgorBo commented on #71214
The only suspect is https://github.com/dotnet/runtime/pull/70809

[2022-06-23 16:32] jonathanpeppers commented on #71007
We discussed this some, and we think:
1. Don't use `RegexOptions.Compile` on mobile, unless you want it for throughput
2. We should be careful about `RuntimeFeature.IsDynamicCodeCompiled` and its use for changes like: https://github.com/dotnet/runtime/pull/69575

If we implement the same System.Reflection changes for Mono, we should test the impact on Android startup. Let me know if I can help wit

[2022-06-23 16:32] #71007 closed

[2022-06-23 16:36] #65625 closed

[2022-06-23 16:48] EgorBo commented on #71214
arm64: https://github.com/dotnet/perf-autofiling-issues/issues/6319

[2022-06-23 16:55] crfrolik opened #71215 "HttpClient.DefaultProxy doesn't understand socks when populated from an environment variable"
### Description

As mentioned in the [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.defaultproxy?view=net-6.0#system-net-http-httpclient-defaultproxy), the value for `HttpClient.DefaultProxy` is populated based on a set of environment variables, including `HTTPS_PROXY`.

[This code](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Net.Http/sr

[2022-06-23 17:22] terrajobst commented on #67444
* Makes sense
    - Let's skip the second one as it seems unfortunate to reverse the order if interface type and proxy type.

[code]

[2022-06-23 17:27] JulieLeeMSFT commented on #70529
@adamsitnik there will be internal presentation on IRExplorer in July. Will forward it to you. We are planning some documentation on Streamline tool. cc @RobertHenry6bev.

[2022-06-23 17:33] EgorBo opened #71217 "PGO: Assertion failed '(sizeDif == 4) || (sizeDif == 8)'"
Failed in various FullPGO outerloop pipelines, e.g. https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-70941-merge-715035df5abc46f3ad/Microsoft.VisualBasic.Core.Tests/1/console.b6d69b24.log?helixlogtype=result

[2022-06-23 17:35] terrajobst commented on #67872
* Let's also add `GetLastPInvokeErrorMessage()`

[code]

[2022-06-23 17:57] terrajobst commented on #68036
* We'd prefer `Concurrent` over `Asynchronous`.
* It seems start is currently also sequential
    - Would we want to configure this as well?
    - Does this imply that this can breaking because people have interdependencies between services?

[code]

[2022-06-23 18:02] #62129 closed

[2022-06-23 18:05] SingleAccretion opened #71219 "`getSIMDStructFromField` is not resilient against struct reinterpretation"
Reproduction:
[code]
Compile `Problem` with a checked Jit targeting x64.

Expected result: things work fine.

Actual result:
[code]
Cause: `getSIMDStructFromField` doesn't account the possibility of struct reinterpretation.

[2022-06-23 18:06] terrajobst commented on #68243
Looks good as proposed, that is handling any method, not just `Marshal.SizeOf`. One thing we need to do is honor the generic constraints so we don't suggest code that wouldn't compile. One way might be to do a speculative binding of the new expression and see whether it produces any diagnostics.

Category: Usage
Severity: Info

[2022-06-23 18:09] terrajobst commented on #68326
Make sense as proposd

[2022-06-23 18:11] janvorli opened #71220 "Review usage of TARGET_XXX ifdefs"
There are places where we have checks like
```#if defined(TARGET_AMD64) || defined(TARGET_ARM64) || defined(TARGET_LOONGARCH64)```
while that really means `TARGET_64BIT`. We should review those and replace them by the `TARGET_64BIT` wherever it makes sense.

There also seem to be places where it is not clear whether the `HOST_64BIT` is necessary instead of `TARGET_64BIT`. Let's audit those too.

[2022-06-23 18:14] kunalspathak opened #71221 "Enable arm64 atomics for standalone GC"
As part of https://github.com/dotnet/runtime/pull/71169, atomics instructions are added for GC code. It is turned off by default for standalone GC. This issue tracks to enable it by having the detection functionality in `isa_detection.cpp` and probably have a separate flag `g_gc_arm64_atomics_present` different from `g_arm64_atomics_present` that is used in GC code base.

cc: @Maoni0

[2022-06-23 18:18] terrajobst commented on #68959
* Makes sense

[code]

[2022-06-23 18:23] terrajobst commented on #68946
* Looks good as proposed

Category: Maintainability
Severity: Info

[2022-06-23 18:23] steveisok commented on #71041
/cc @SamMonoRT

[2022-06-23 18:25] saucecontrol commented on #70422
It's more than a matter of missing constants.  System.Drawing currently throws `OutOfMemoryException` when attempting to load either WebP or HEIC images.  AFAIK, GDI+ should be using the WIC codecs underneath, but even with these codecs present and working from WIC code, they don't work from System.Drawing.

Also, WIC has both decoder and encoder for HEIC/HEIF (although they don't work without the

[2022-06-23 18:27] SamMonoRT commented on #71041
@naricc - please take a look, seems like a GC test.

[2022-06-23 18:36] saucecontrol commented on #70422
Just tested `Image.Save` with the added GUIDs.  It appears to work (no exception thrown), but the output in both cases is actually PNG.

[code]

[2022-06-23 18:47] terrajobst commented on #70422
* Looks good as proposed

[code]

[2022-06-23 18:51] filipnavara commented on #62202
I checked what would be necessary to port dotnet/SqlClient to the new NegotiateAuthentication API. The missing piece are two flags on the authentication (Delegate, MutualAuth). API suggestion is in #70982.

[2022-06-23 18:51] danmoseley commented on #70969
Another option perhaps is to write the command to the file first, then change the `>` to `>>` when subsequently writing the test output.

[2022-06-23 18:53] jaywithers opened #71224 "Azure Virtual Machine serial console - Process terminated error"
### Description

Hi,

I've been advised to open and issue in this repo, after first raising an issue in the PowerShell repo:
https://github.com/PowerShell/PowerShell/issues/17488.

### Reproduction Steps

When using an Azure Virtual Machine's Serial Console and pressing any key within a PS prompt, the error in the Error Details box below is given and I'm taken back to a Bash prompt.
I reported the

[2022-06-23 18:57] terrajobst commented on #70436
* Looks good as proposed

[code]

[2022-06-23 19:06] MichalPetryka commented on #71075
According to https://github.com/dotnet/core/issues/7556#issuecomment-1163798011, this should be put on hold and revisited with .NET 8.

[2022-06-23 19:14] ericstj commented on #51929
It looks to me like “Piece” support is just a wrapper over top of the directory structure of the ZIP to create an aggregate stream that hides the underlying file parts from the zip:
[ZipPackagePart.cs (microsoft.com)](https://referencesource.microsoft.com/#WindowsBase/Base/System/IO/Packaging/ZipPackagePart.cs,83) (location in NETFx that decides to use the abstraction)
[ZipPackagePart.cs](https://

[2022-06-23 19:16] quixoticaxis commented on #68036
It would probably not only break dependencies, but also mess up the exception handling around `StartAsync`.

[2022-06-23 19:18] Maoni0 commented on #71014
so after increasing the hardlimit to 10GB you are still getting the same OOM error? as in, you are seeing the same call stack?

can you check if the hardlimit is being communicated collected to the process? do you see this symbol's value 10gb?

`coreclr!SVR::gc_heap::heap_hard_limit = 0x00000002`80000000`

also what does !ao show?

[2022-06-23 19:19] vcsjones commented on #71075
This currently has a milestone of "Future". Nothing will be done until a final decision has been made for either .NET 8 or any other timeline if it gets adjusted again in the future.

[2022-06-23 19:35] antonfirsov commented on #66297
To me it looks like a combination of the following two mitigations would bring back the upsides of the old 5.0 connection and request cancellation behavior without hurting the benefits introduced in 6.0, and without the need of introducing an arbitrary `ConnectTimeout` value or other intrusive/breaking changes:

1. Spawn a new connection if none is available - within limits, as recommended in Step

[2022-06-23 19:49] eiriktsarpalis commented on #31511
.NET 7 Preview 6 will include support for [contract customisation](https://github.com/dotnet/runtime/issues/63686), which should enable support for private field serialization for those who need it. Here is a functional demonstrating how this can be done:

https://github.com/dotnet/runtime/blob/5877e8b713742b6d80bd1aa9819094be029e3e1f/src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Ser