[2021-01-29 20:56] steveharter opened #47649 "API for writeable DOM and C# dynamic support"
## Background and Motivation
See https://github.com/dotnet/designs/pull/163. This contains various background and API details.

## Proposed API
All types live in the existing `System.Text.Json` assembly.

The raw data from the "ref\System.Text.Json.cs" file:

[code]

To support the `dynamic` keyword in C#, the "inbox" build will also contain:
[code]

Non-inbox builds won't support for dynamic (at

[2021-01-29 20:59] ogxd commented on #44958
I have official 11.1 installed and I do have this crash about one time out of two tries.

[2021-01-29 21:10] janvorli commented on #47627
@josalem this has been failing like this for quite some time, I don't know when it started, but it has been at least a month, maybe more.

[2021-01-29 21:11] Therzok commented on #47584
`opendir` is the one being called in the exception stack trace linked above, so I think it's fair to consider it set.

[2021-01-29 21:13] janvorli commented on #47627
And it is failing on all of my machines, including the new mac M1 in both Rosetta 2 and arm64 mode.

[2021-01-29 21:20] safern commented on #47122
@aijkl libgdiplus at the moment is community driven, so I suggest opening an issue there instead of here as the root cause is libgdiplus and not System.Drawing.Common. We do hope to improve this painful differences in System.Drawing.Common cross plat in the future. Closing as there is no action on our side, please feel free to re-open if you disagree or want to keep discussion open.

[2021-01-29 21:20] #47122 closed

[2021-01-29 21:31] safern commented on #46988
@Cazzar this definitely looks like by design and it would be a breaking change to "fix" this. What I might suggest if we wanted to support this scenario would be adding an option to BindingOptions that is something like: `OverrideLists` or something like that, that would trigger the behavior you're suggesting.

Anyway,  were you able to find a workaround for this? If not I can help finding one. I

[2021-01-29 21:40] haraldsteinlechner commented on #45222
after heavy testing we could not spot any problems - for me this could be closed. @krauthaufen

[2021-01-29 21:40] #45222 closed

[2021-01-29 21:53] rathga opened #47792 "Blazor wasm debugging not working when adding attribute with enum from other project"
### Describe the bug
This was reported in dotnet/aspnetcore#22657 but was thought to be a dupe of dotnet/aspnetcore#22627.  I'm not sure it is.

When using a custom attribute that has an enum from a class library project in it's constructor, Blazor WASM debugging does not work.  The debugger seems to load up fine (`mono_wasm_runtime_ready` in console etc.) but breakpoints are not bound.  (It is no

[2021-01-29 22:08] #47524 closed

[2021-01-29 22:15] Tornhoof commented on #47649
May I suggest to change ``Task WriteToAsync(Stream,`` to ValueTask, just as in ParseAsync?
Maybe also switch the order of cancelationtoken and Options in ``ParseAsync``, having the token at the end is more common.

[2021-01-29 22:17] chivandikwa opened #47652 "An ILogger double out of the box as part of the testing utilities"
### Is your feature request related to a problem? Please describe.
When writing tests for ASP.NET core there are a lot of utilities that make it easy like TestServer. However when it comes to testing logs there is nothing out of the box. Mocking ILogger can be quite tricky and option is to make a double. This seems like a really common case and should be handled out of the box.

Example: I am tryi

[2021-01-29 22:25] briansull commented on #45658
I will take a look at that method to see if there is anything that can be done for it.
If not I will close this issue

[2021-01-29 22:26] briansull commented on #45098
Fixed by #44138

[2021-01-29 22:27] #45098 closed

[2021-01-29 22:42] Pilchie commented on #47653
@maryamariyan FYI.

[2021-01-29 22:45] GrabYourPitchforks commented on #47647
See also the table I put in the description of https://github.com/dotnet/runtime/issues/45397. It gives a few other scenarios where LINQ instantiates objects incorrectly.

[2021-01-29 22:49] danmosemsft commented on #47584
@janvorli any thoghts here? I guess worst case, it is unnecessary code. My only thought (waves hands) that if EINTR is actually a bug here, then who knows if it would just continue to return EINTR, and we would hang.

[2021-01-29 22:49] jkoritzinsky commented on #47615
I would think that most usages an array of an array's dimensions would be used alongside the array, so providing a no-alloc implementation would be useful.

[2021-01-29 22:52] pakrym commented on #47617
I don't have a repro that has as impressive per penalty as 4000x but is very real world.
It's a champion scenario for the Azure EventHubs Processor SDK that has multi-threading and network calls.

In total the startup process throws ~180 exceptions (which are in fact 32 distinct exceptions but multiplied by layers of async state machines re-throwing) and with JMC off the startup time is:

Without

[2021-01-29 22:56] #47554 closed

[2021-01-29 22:57] GrabYourPitchforks commented on #47606
If your app cares about this, consider enabling the existing [CA1305](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1305) analyzer rule in your projects. This will produce a compiler warning (or error, depending on your configuration) when calling `ToString()` if a `ToString(..., IFormatProvider)` overload exists. It would detect calls to `int.ToString()` and respond

[2021-01-29 23:12] tannergooding commented on #36469
I don't have a preference myself. That being said, we prefer to not keep draft PRs open for too long so it would likely be good to wait if you don' think you'll be able to get the remaining changes up within a few days of creating the draft.

[2021-01-29 23:12] rudeGit opened #47680 "Intermediate cert (in addition to leaf cert) is not sent from http client to the server in .net (core/aspnetcore) 5?"
I was not able to make http client code in **.net 5** to send both intermediate and leaf certificates (in 3 certificate hierarchy) to the server. However I was able to send the leaf certificate from client to the server successfully.

Here is my setup:

I have 3 certificates on my windows box:

 1. TestRoot.pem
 2. TestIntermediate.pem
 3. TestLeaf.pem (without private key for server - windows box

[2021-01-29 23:24] vsfeedback opened #47658 "Unable to see Inherited Properties in Blazor projects"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Unable-to-see-Inherited-Properties-in-Bl/1321043)._

---
[severity:It's more difficult to complete my work]
The blazor project I am working on uses classes with inheritance. When in debug mode, when I hover over a derived class object to look at its properties, visual studio only shows

[2021-01-29 23:25] mkArtakMSFT commented on #47658
@lewing FYI

[2021-01-29 23:29] layomia commented on #47550
@julealgon - `JsonStringEnumConverter` was provided to address a common scenario. I'd say this is not quite as common. It would be great to see more folks signal that the converter workaround is not sufficient for them. That would help us see if we should add it inbox.

Thanks. I missed your converter entirely; I'd have pointed to that when mentioning the converter workaround.

[2021-01-29 23:33] AndyAyersMS commented on #45658
I'd rather you not close this outright even if it looks like there's nothing immediately fixable -- I think there's a missed opportunity here to be more aggressive with webs of CSEs in order to effectively promote class fields.

[2021-01-29 23:41] KevinRansom opened #47663 "Stack overflow in F# compiler. on net5.0"
With dotnet 5.0 we have seen a new stack overflow introduced in the F# compiler when running on the coreclr.

Repro:
unzip [StackOverflow.zip](https://github.com/dotnet/runtime/files/5896821/StackOverflow.zip)
to your local zip.

The project assumes that a dotnet sdk with net5.0 is installed in c:\program files\dotnet

build this project and run it
[code]
observe the stack overflow.

If the projec

[2021-01-29 23:51] safern commented on #45921
@ericstj based on your description it is a simple fix, should we service the fix?

[2021-01-29 23:59] AndyAyersMS commented on #46883
Plan here is to use the new schema format to flag return blocks (for both "new" block and sparse edge profiles) and sum up those counts in `fgIncorporateProfileData` introduced in #47646.

If this value is nonzero, then divide all counts by this value immediately.

If this value is zero because there were no flagged blocks, then we have legacy IBC counts, so we first gather profile counts as we do

[2021-01-30 00:10] jkoritzinsky commented on #43939
There's no mechanism to wait for a Promise in Javascript. It only provides a `then` function to specify a continuation when it is complete.

I've tried numerous ways to work around this with Web Workers, but trying something as simple as spin-waiting while waiting for an entry in a shared buffer to be updated seems to block the Web Worker from executing, and the `Atomics.wait` function which would

[2021-01-30 00:10] TonyValenti commented on #47641
I definitely like this idea but I'd prefer to see these enhancements just made to the List class directly.

I often use a LinkedList to save results from a database to avoid the GC issues but I know that a linked list uses 3x more memory than a same sized list.

[2021-01-30 00:12] josalem commented on #46079
I did some local testing with the diagnostics tools and found them to be in working order with the C implementation.

[2021-01-30 00:30] reflectronic commented on #2036
The review only discussed adding the overload which takes a polynomial as a parameter.

[2021-01-30 00:37] janvorli commented on #47584
It seems that opendir can return EINTR on macOS as far as I can tell from https://opensource.apple.com/source/Libc/Libc-1439.40.11/gen/FreeBSD/opendir.c.auto.html. It internally calls fstatfs which can return EINTR according to its documentation.
As for closedir, it calls regular `close` on a handle, thus the behavior of `close` controls the error code. There is an interesting discussion on EINTR

[2021-01-30 00:40] danmosemsft commented on #47641
A list backed by a series of arrays has also been proposed to enable very large lists https://github.com/dotnet/runtime/issues/46586

[2021-01-30 00:40] safern commented on #36010
@Coderrob based on your summary I still incline towards adding a new attribute for this purpose as the others seem pretty UI focused, but since @davidfowl proposed using the existing like `DataAnnotations` attributes, I would like to know his take to see if there is another attribute we might be missing that he is thinking of.

[2021-01-30 01:02] bartonjs commented on #43939
How insane would it be to move the main synchronous flow off of the main thread and have main just be another web worker?

[2021-01-30 01:22] jeffhandley commented on #44920
In order to study this further, we need to define some concrete scenarios for usage and expectations.

1. What would the developer be analyzing?
    a. Their source, but analyzing into the NuGet package dependencies they have
    b. A DLL
    c. A NuGet package
2. Would this analysis happen inside or outside Visual Studio?
3. How far into NuGet package dependencies would we traverse for analysis?

[2021-01-30 01:55] jeffhandley commented on #44922
Related: #47593

[2021-01-30 02:28] Kryptos-FR commented on #47605
@stephentoub will the code above work with `ValueTask`? I thought that awaiting more than once could be an issue.

Or does it mean we need to first convert it to a Task? Where is it better to do it?

[code]

[2021-01-30 02:34] safern commented on #47318
Adjusted the milestone to 6.0.0 as this is fixed in 5.0.0, but we should port the fixes to master and adjust accordingly so that we bulletproof for the future without having to spend time to do this again every time we start a new servicing branch.

[2021-01-30 02:36] safern commented on #36015
@BlacKCaT27 could you propose that as a separate issue? Would that be tight to this new property? I mean, would we throw if we find `ConfigurationRequired` only when `ErrorOnUnknownConfiguration == true` or would we throw always?

[2021-01-30 02:56] wfurt commented on #47580
Thanks for the repro case. I was able to reproduce it on Ubuntu 18 as well.

In the failing handshake, client sends only the provided certificate. In case of the successful case it sends the full chain. I'll take a look why this is happening and why this is not consistent as it should.

It should be sufficient IMHO to feed the intermediate CA to the  server. (e.g. feed the give the ca.crt)

Note t

[2021-01-30 02:57] danmosemsft commented on #47584
Thanks @janvorli . @Therzok would you like to offer a PR?

[2021-01-30 03:04] danmosemsft commented on #47599
Cc @jeffhandley

[2021-01-30 03:20] hoyosjs opened #47668 "Remove Debugger::TraceCall from PInvoke helper"
### Description

The PInvoke stubs are currently using helpers that should only be used for profiling as they incur additional load. There has been an ongoing effort to consolidate and simplify paths used to perform interop setup of stubs. Part of this work was #47610 to fix debugging. The helpers introduced a call to `Debugger::TraceCall` to ensure mixed mode debugging scenarios can work as they

[2021-01-30 03:20] AndyAyersMS commented on #47663
Thanks, this repros. Partial stack trace:
[code]

6.0 seems to hang or is very slow? It is perhaps trying to serialize out this stack trace somewhere.

[2021-01-30 03:30] AndyAyersMS commented on #46882
Trying to build on #47646 and #47476, there's a snag -- we incorporate before import, and instrument after. That means
* any block introduced by the importer will not be visible when we incorporate
* bbNums may not be a reliable keying mechansim as the importer can renumber BBs.

This violates my rule of thumb that instrumentation and incorporation must happen at the same point. Since incorporatio

[2021-01-30 03:40] stephentoub commented on #47605
Technically, yes (with `.GetAwaiter().GetResult()` instead of `.Wait()`).  We'll need to come up with a good way to more specifically describe what's allowed.  You can only hook up one continuation (`.GetAwaiter().{Unsafe}OnCompleted`) and only use `GetResult()` once; `NoThrow` will do the former but not the latter, so it's ok to then do the latter once after.

[2021-01-30 03:42] #40202 closed

[2021-01-30 04:24] #47376 closed

[2021-01-30 04:24] #47421 closed

[2021-01-30 04:25] KevinRansom opened #47670 "ToString formatted output incorrect on net5.0"
This code:
[code]
Produces different output when compiled netcoreapp3.1 and net5.0, note: 3 decimal places in net5.0 and 2 decimal places in netcoreapp3.1
Net5.0
[code]
netcoreapp3.1
[code]

[2021-01-30 05:03] Patrick8639 commented on #47641
@Clockwork-Muse
In my case, more than 100 data types, To avoid having multiple copies of the code, there is a `GetAsync` generic method that takes a database connection and a filter, and that returns an `IEnumerable<T>` with the items. Dependeing on the data type and the filter, the result can be 0 item, 1, 100 or 100K. Big results come when we must to calculate statistics for a full year.
Some al

[2021-01-30 05:08] Patrick8639 commented on #47641
@TonyValenti

The problem is that the `insert`, `Remove` and `RemoveAt` methods are more complicated to implement. And the `Sort`mthod would be a nightmare I think. So the idea to have a "light" list with limited functionalities.

This is 3x the memory for the mechanism to keep the list linked, not for the data.
With the linked array solution, the memory increment is low (a simple pointer for 8K e

[2021-01-30 05:10] tannergooding commented on #47670
I'm fairly certain this is by design and due to standardizing on ICU

CC. @tarekgh, @GrabYourPitchforks

[2021-01-30 05:11] tannergooding commented on #47670
See also https://github.com/dotnet/runtime/issues/44587

[2021-01-30 06:08] moravas opened #47672 "AWS Lambda times out because endless HttpMessageHandler cleanup"
Hi,

I have a .net core 3.1 based AWS Lambda function with 5 min timeout, that performs some http download & data transform & db write.
The problem is that in same cases, and it is very nondeterministic, an HttpMessageHandler clean-up cycle is fired and the AWS Lambda will time-out. Below is the most recent running where the clean-up takes about 4 minute:

[code]

Below I try to collect the releva

[2021-01-30 06:22] Cazzar commented on #46988
@safern I, unfortunately, couldn't find something that worked well enough for my use-case (though it may also relate to the need of the configuration being serialised back in place which was a dirty bit of code, to begin with). Since I was using it with `IOptions`, I had a fair bit to try including late-initializing the properties and ended up moving to the previous setup we had internally.

Given

[2021-01-30 07:14] KevinRansom commented on #47670
@tannergooding , thanks for the info I will update our tests accordingly.

[2021-01-30 07:14] #47670 closed

[2021-01-30 07:33] cjlotz commented on #36907
@adnan-kamili did you open an issue in dotnet/aspnetcore?  if you so, can you please provide the link so that we can follow the detail.  thx

[2021-01-30 07:40] jeffhandley commented on #47599
This came up in the API review for the attributes during 5.0; we decided at that time to intentionally exclude interfaces. We concluded that there's nothing about an interface that is truly platform-specific, but instead it's the implementations of the interface that would be platform-specific. It sounds like you have a scenario that might disprove that assertion.

Is it correct that no classes ac

[2021-01-30 07:41] wocar commented on #44897
Same here, is there a ticket for this somewhere?

[2021-01-30 08:24] SukharevAndrey commented on #47580
@wfurt Unfortunately we can't change software on the partner's side and thereby fix the problem.
Sure their server may be not configured properly either, but it works well enough to accept requests made by other clients such as written in .NET Core 3.1.
There is some sort of state corruption in .NET 5 that prevents sending the full chain in all the requests, so consistency issue needs to be fixed

[2021-01-30 08:57] #47570 closed

[2021-01-30 09:38] hopperpl opened #47675 "Method Optimization in Debug Code"
I often run into the situation that I debug an application to figure out some lacking behavior that was missed during design. That's why we have debuggers.

Debugging and RELEASE usually don't fit well together, but applications often have critical paths that extremely slow down with DEBUG code. With DEBUG/RELEASE I'm just referring to the code optimization settings in the project for simplicity.

[2021-01-30 09:50] danmosemsft commented on #46021
@joperezr @tarekgh the tests for S.DS.P contain instructions for using the OpenDJ server, but I wonder whether that is legacy from the original port to .NET Core, since the tests currently seem to assume an Active Directory LDAP server because they append the domain to the LDAP URL.

It also looks like only 9 of 526 tests hit a server, which will skip unless one is set up, do you know when we last

[2021-01-30 10:06] pinkfloydx33 commented on #47638
This looks like it's https://github.com/NuGet/Announcements/issues/49
Especially considering you're running Debian

[2021-01-30 11:05] RussKie commented on #47668
Would this be causing https://github.com/dotnet/sdk/issues/15542?

[2021-01-30 12:11] GSPP commented on #47136
I like this bug. This is the same method I used to break `StringBuilder` and log issues on this bug tracker 😄

[2021-01-30 13:55] julealgon commented on #47550
@layomia While waiting for more upvotes and similar issues to pop up to do this is fair in most situations, I'd like to argue that it does not apply as cleanly to this one.

Most people who will encounter this problem will probably switch to using `byte[]` once they realize they'd have to create a custom converter (no matter how simple). I think the reason more people are not complaining about thi

[2021-01-30 14:04] joperezr commented on #45921
The fix is trivial, but we should check if it meets the bar or not since doing so may have other implications. For instance, System.Memory is a dependency of a lot of packages in Desktop, and increasing assembly version will introduce the requirement of binding redirects in users projects which we know can be a big pain point for many, and the only way to avoid this would be to service all package

[2021-01-30 14:14] WilhelmW opened #47679 "Error when initializing a coreclr host"
I always get the error "Fatal error. Internal CLR error. (0x80131506)" no matter what I do after initializing.

https://github.com/WilhelmW/CSharpCoreCLRHost

[2021-01-30 14:40] davidfowl commented on #47680
cc @wfurt

[2021-01-30 15:02] #47628 closed

[2021-01-30 15:42] jkotas commented on #47675
Could you please share links to the bug reports that describe the problems you are hitting?

[2021-01-30 16:09] anreton opened #47681 "Checking if a generic collection without constraints contains null item"
Scenario:
- There is a generic class without any constraints: value type and reference type is valid.
- There is ctor with a generic collection parameter.
- Zero, false, "", etc is valid item of the collection.
- But null item is invalid.

Question:
Is there a more performance way to check null item in the generic collection?

E.g.

[code]

[2021-01-30 16:24] lucax88x opened #48128 "segmentation fault (core dumped) dotnet --version"
Suddenly, probably after an OS update, all dotnet commands  (even dotnet --version) are giving the SEGV error.

I am on Archlinux with kernel 5.10.11-arch1-1.

Shouldn't depend on the SDK, as I was already on 5.0.100 and worked for 3/4 months without any problem, tried to delete and download also 5.0.102 but problem persists.

this is the journal logs

<details>
  <summary>journalctl</summary>

sy

[2021-01-30 16:55] huoyaoyuan commented on #47681
[code]

You can use `default`, and guard for reference time. The guard will become a JIT time constant.
If you want also to cover nullable value type, you can use `Nullable.GetUnderlyingType(typeof(T)) != null`.

[2021-01-30 17:54] wfurt commented on #47680
what platform you are on @rudeGit? I can take a look next week. May be related to #47580 as well.

Also you can put itnto system or user intermediate store just like the CertitificateContext does.

https://github.com/dotnet/runtime/blob/0aad03b6303728877521457fc21338ccb9500527/src/libraries/System.Net.Security/src/System/Net/Security/SslStreamCertificateContext.Windows.cs#L42-L46

[2021-01-30 17:57] rudeGit commented on #47680
@wfurt  Currently using windows (details below) for testing. But I would like to see a solution that works on all platforms without any code modification.

Edition	Windows 10 Enterprise Insider Preview
Version	2004
Installed on	‎1/‎28/‎2021
OS build	21301.1000
Experience	Windows Feature Experience Pack 221.501.0.3

[2021-01-30 18:01] wfurt commented on #47580
I think this is regression caused by #38364 and I have preliminary fix. I need to work out test cases.

[2021-01-30 18:03] alighazi opened #47682 "StringReader.ReadLine() doesn't return the line after \n"
### Description

### Configuration

### Regression?

### Other information

[2021-01-30 18:04] #47682 closed

[2021-01-30 19:10] joperezr commented on #46021
It is correct that we only have 9 tests that actually hit a server, all the rest are just unit tests that test the interop with the native library, as well as the c# layer we have.

Those 9 tests should work against any Ldap server, and in order to do so it only requires for you to manually edit the LDAP.Configuration.xml file on the unit tests. We don't run them by default since that would requir

[2021-01-30 19:11] AndyAyersMS commented on #47663
Still trying to sort out what goes wrong... the repeating pattern on the stack is 36 frames long:
[code]
My guess based on some of the comments over in #40864 is that the delegate invokes (`**` in above) could be a factor.

[2021-01-30 19:13] AndyAyersMS commented on #47663
cc @jkotas @jakobbotsch @janvorli

[2021-01-30 19:17] KevinRansom commented on #47663
Ouch!!!  I had a similar issue trying to figure it out from the f# source.  Everything looked idiomatic and normal.

[2021-01-30 19:27] AndyAyersMS commented on #47663
Delegate invoke codegen for 5.0.
[code]

[2021-01-30 19:32] #46986 closed

[2021-01-30 19:33] AndyAyersMS commented on #47663
3.1 has identical codegen here, so perhaps I'm off track.

5.0 also overfflows with TC disabled, so it's not some sort of timing thing where Tier0 frames are larger and 5.0 is taking longer to swap over to Tier1.

[2021-01-30 19:56] jkotas commented on #47663
Note that the repro stackoverflows on .NET Framework 4.8. I suspect that the regression is caused by fixed stack consumption: some frames got smaller from netfx4.8 to netcoreapp3.1 that made it work, and some frames got bigger from netcoreapp3.1 to net5.0 that broke it again.

[2021-01-30 20:46] AndyAyersMS commented on #47663
All the user methods in the above 36 frame chunk have identical frame sizes in 3.1 and 5.0. So could be other methods above or below this that are the culprit, or the dispatcher frames. Dispatcher frame is 96 bytes.

Iff it's other methods it suggests the 3.1 version should be close to overflowing.  Running 3.1 under windb, !etb at process exit shows only 0x1B000 stack extent. Doesn't seem likely

[2021-01-30 20:53] AndyAyersMS commented on #47663
`StackOverflow Information ...`  looks like this first bit is coming from the app name, so not indicative of some sort internal stack size monitoring.

[2021-01-30 21:00] vitek-karas commented on #47679
For example:
https://github.com/WilhelmW/CSharpCoreCLRHost/blob/ee1f3ec9a22e4f3e6481e437910f16b212d5a077/CoreCLRHost/CoreCLR.cs#L17

The native interface defines the `propertyKeys` as `char**`, but default .NET marshalling on Windows will marshal `string` as `WCHAR`. So you're passing the strings as UTF16, while the native API assumes UTF8.

Can I ask what is the purpose of this library? I guess o

[2021-01-30 21:31] BenedekFarkas commented on #47272
Update: Further testing showed that R2R publishing a web project takes "normal" time (roughly double of a normal publish).
So I guess R2R publishing a solution has some problem with how the builds are managed - if I had to guess, it probably goes through each project in the solution and publishes them separately, but doesn't take into account that a project has been build previously as a dependenc

[2021-01-30 21:38] AndyAyersMS commented on #47663
Hmm, maybe in 3.1 this computation is not on the main thread.

[2021-01-30 21:44] Dimension4 opened #47685 "JsonSerializer ignores IntPtr"
[code]

results in

[code]

Instead of the current behavior, I would expect one of two behaviors:
- Either, the `IntPtr` is serialized just fine (e.g. as a number). This would probably make the most sense since other serialization mechanisms serialize this type just fine.
- Or, an exception is thrown (e.g. `NotSupportedException`).

Happens on .net 5.0.102

Relevant discussion: #47164

[2021-01-30 22:05] AndyAyersMS commented on #47663
Not sure the quickest way to figure max stack extent on a random thread in a process that doesn't crash, but it looks like the worker thread in 3.1 has max stack is somewhere between 0x100000 and 0x140000 (measured by setting data breakpoints in windbg). That is compatible with the idea that the extra overhead from the new tail call support, or some slightly larger frames elsewhere, is the culprit

[2021-01-30 22:38] danmosemsft commented on #46021
Sounds good. If we have a way to run a docker container somehow then automated testing is easy and I would imagine as you say that might be useful for networking tests too. Running manually is ok for a while more but it probably sounds be AD + another. I found your AD instructions and I'll try those.

[2021-01-30 22:59] joperezr commented on #46021
Here are the enterprise setup instructions if you are interested in checking out how the docker farm works, if you follow those steps you should be able to run the tests and we know they are passing since we currently have a build pipeline that runs them. That is what I want to do with DirectoryServices in the future.

[2021-01-30 23:15] mguinness commented on #29960
Microsoft docs now has section [Deserialize inferred types to object properties](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-converters-how-to#deserialize-inferred-types-to-object-properties) w/ an example JSON object converter.

When using [Bind(IConfiguration, Object)](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.configuration

[2021-01-31 02:13] davidfowl commented on #46091
Yes please

[2021-01-31 02:25] danmosemsft commented on #46005
This feature was broken in the original port to .NET Core.

We fixed that in May 2020 in https://github.com/dotnet/runtime/pull/37774 which added a little more test coverage but there was already a test DirectoryServicesProtocolsTests.TestAsyncSearch and it is not clear to me why it wasn't already broken; perhaps that older test isn't validating correctly.

Unfortunately a month later, the feature

[2021-01-31 02:33] noahfalk commented on #47617
I spent a little time with a profiler to assess where we are spending our time. I profiled Steve's example that uses depth 10 callstacks without async:
[code]
On my particular machine (Windows, .Net Core 3.1.11, VS 16.8.4) using  Ctrl-F5 is ~1.5ms per iteration of the outer while loop and F5 is ~1.5s, so about a 1000x overhead for me. During the 15ms handling of each exception there are 3 events d

[2021-01-31 04:14] BlacKCaT27 commented on #36015
Great question. I'm personally leaning towards "throw always" and use the attribute in lieu of `ErrorOnUnknownConfiguration`. I'm struggling to see what value giving it a config flag would add. Either you use the attribute, and an exception is thrown if there's missing config data, or you don't and the check never throws for that property.

I can submit this as a separate issue.

[2021-01-31 06:00] amitshukla25 opened #47688 "Is .Net Framework supported as target framework(TF) for Web Jobs migrated to .Net Core 3.1"
As per this [,](https://docs.microsoft.com/en-us/dotnet/core/compatibility/aspnetcore#target-framework-net-framework-support-dropped) starting with ASP.NET Core 3.0, .NET Framework is an unsupported target framework while the support for Asp.Net Core 2.1 packages on  .Net Framework will continue.

We are planning to migrate our web jobs from .Net Core 2.1 (targeting .Net Framework) to .Net Core 3.

[2021-01-31 07:35] WilhelmW commented on #47679
I am trying to sandbox c# code by running it in an modified coreclr host.

[2021-01-31 08:34] WilhelmW commented on #47679
I tried changing all string arguments with IntPtr using Marshal.StringToHGlobalAnsi. But I still get the same error.
I also logged the exception which gets returned by the initialize method: "Unhandled exception. System.Runtime.InteropServices.COMException (0x80131022): Invalid operation. (0x80131022)".
But I can't find any useful information about that exception.

[2021-01-31 09:09] anreton commented on #47681
@huoyaoyuan, an interesting solution. Thanks for the advice.

[2021-01-31 09:09] #47681 closed

[2021-01-31 09:33] Joe4evr commented on #27062
@eiriktsarpalis Is this ready for review?

[2021-01-31 09:59] akoeplinger commented on #47591
@ilyas1974 which issue was closed? https://github.com/dotnet/core-eng/issues/11290 is still open and I can't find another issue mentioning the machine :)

[2021-01-31 10:34] akoeplinger commented on #47518
That's not the case, a Catalyst app doesn't run _on_ iPadOS, it just supports the same APIs and is usually used to port iPad apps to the Mac.

The official name is `Mac Catalyst` (see https://developer.apple.com/documentation/xcode/creating_a_mac_version_of_your_ipad_app) so I wonder if we should call the RID `maccatalyst`. I don't feel strongly though.

[2021-01-31 10:35] SingleAccretion commented on #47679
That's the host not being happy with something.
[code]
For future reference, https://docs.microsoft.com/en-us/windows/win32/debug/system-error-code-lookup-tool is a very handy tool for recovering meaning of error codes.

[2021-01-31 11:00] huoyaoyuan commented on #47688
https://github.com/dotnet/aspnetcore/blob/release/3.1/src/Mvc/Mvc.Core/src/Microsoft.AspNetCore.Mvc.Core.csproj#L13

Probably not, their target framework is already .net core in 3.1 branch, not .net standard.

[2021-01-31 11:02] neographikal commented on #2379
I'm probably having the same issue, seeing 30-50% cpu = half a core on Linux. On Windows however with exactly the same code, cpu usage is next to nothing. There is a performance gap between my Linux box (embedded 4 core celeron) and my Windows machine (I5 9600), but this is significant.

At first I suspected my own implementation due to many tasks, but refactored it, think it's okay now but still

[2021-01-31 11:45] amitshukla25 commented on #47688
@huoyaoyuan Thanks for response. The web jobs targetted for migration are not based on Asp.net Core and do not use AspNetCore mvc packages. Would they still not support taregetting .Net Framework ?

[2021-01-31 11:51] huoyaoyuan commented on #47688
Looking at [azure web jobs](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started) and their [nuget](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions/) package, they are still targeting .net standard.

I'm not sure what are you referring to if you don't use asp.net core.

[2021-01-31 13:04] amitshukla25 commented on #47688
What I mean is the said Web Jobs do no use any Asp.Net Core packages (Microsoft.AspNetCore.*) and only rely on EfCore 3.1 and other .net Core features like Logging, identity, Azure Storage etc (Microsoft.Extesnions.*, Microsoft.Identity.* etc) so in a nutshell no AspNetCore dependency . So they should be good targetting .NET Framework which may not have been the case if this was some AspNet Core M

[2021-01-31 13:11] weifenluo opened #47689 "Add INumberConverter<T> interface into System.Text.Json"
## Background and Motivation

Currently, `JsonConverter<T>.ReadNumberWithCustomHandling` and `WriteNumberWithCustomHandling` are internal, which are not callable from custom (de)serializers.

## Proposed API

We can add the following `INumberConverter<T>` interface:

[code]

and converters which override `ReadNumberWithCustomHandling` and `WriteNumberWithCustomHandling` should implement this inter

[2021-01-31 13:11] huoyaoyuan commented on #47688
They are not really ".NET Core features", and won't necessarily have aligned versioning. You should just view their nuget packages one by one.
As I know, EF Core 3.1 still supports .NET Framework, but EF Core 5 requires .NET Standard 2.1. Microsoft.Extensions generally still support .NET Standard 2.0.

[2021-01-31 15:14] MichalPetryka commented on #2036
The table I'd use would consist of 2048 uints, so it's pretty big. Runtime computation would take a while (67.31 us on my machine according to Benchmark.Net which doesn't include the JIT cost, first run would be much slower) but putting it in code would make a bit of a mess, making the class partial and putting it in a separate file would improve it a bit though.
Embedding it in code would also sa

[2021-01-31 15:27] GSPP commented on #27687
Awesome that this is happening. I guarantee you: These new methods will be appreciated widely and we will see mentions on Stack Overflow and other community places. Developers love little gems like these.

[2021-01-31 15:34] steveisok commented on #47518
The problem with `maccatalyst` is that it's too long.  That said, I do like it better.

[2021-01-31 16:01] GF-Huang commented on #33417
So does `UdpClient.Send(ReadOnlySpan<byte>)` added into .NET 5?

[2021-01-31 16:11] tannergooding commented on #2036
The `CRC32` hardware acceleration support on x86/x64 has been around since approx. late 2008 so the likelihood that the software fallback path gets executed for these platforms is going to be fairly slim.

On the other hand, `CRC32` is optional in ARMv8.0 (approx. 2013) but required in ARMv8.1 (approx. 2016). Likewise, ARM32 currently has no hardware acceleration support.
* Based on the wikipedia

[2021-01-31 16:25] MichalPetryka commented on #2036
Some points regarding the software fallback:
1. On x86 processes (32bit) the ulong overload will also take the software path if I understand correctly?
2. According to Steamworks hardware statistics, in our game (which requires x64) about 1.5% of users (from 35.5k that agreed to collection of statistics last month) have CPUs that don't support SSE 4.2.
3. The software path would be really common o

[2021-01-31 17:20] SingleAccretion commented on #43348
@TaurahSP would it be OK for me to take this over?

[2021-01-31 17:24] bramborman commented on #47518
While longer, it clearly states that it belongs to the Apple/Mac ecosystem. The shorter `catalyst` may be harder to categorize for devs not familiar with Apple.

[2021-01-31 17:24] TaurahSP commented on #43348
@SingleAccretion  Sure

[2021-01-31 17:39] Therzok commented on #47584
@janvorli I dug a bit into the macos source code and the , and via: `getdirentries64` -> `getdirentriescommon` -> `vnode_getwithref` -> `vnode_getiocount` -> `msleep` -> `_sleep` we got a possible EINTR

[2021-01-31 18:00] quixoticaxis commented on #20619
Would it be ok if I extract `ImmutableDictionary` out into a separate project an run benchmarks before and after removing the the value comparer? For now I'm under the impression that it would be easier for me than building through runtime build procedure (I don't have no required dependencies installed and would like to keep it that way).

[2021-01-31 18:44] MichalPetryka commented on #2036
I've tried to benchmark it, but I'm having an issue: awful results with the precomputed table make me think that the optimization from https://github.com/dotnet/roslyn/pull/24621 seems to not kick in, could somebody check what's going on? https://github.com/MichalPetryka/Crc32CBenchmark/blob/master/Crc32CBenchmark/CrcPrecomputedTable.Table.cs#L7

The results I got:

[code]
|                     Me

[2021-01-31 18:52] jkotas commented on #2036
That optimization only kicks in for byte and sbyte arrays. You would need to store the table as byte array.

I do not think the precomputed table makes sense for this. Computing the table on the fly for the fallback case should be just fine.

[2021-01-31 18:53] MichalPetryka commented on #2036
The description of that PR says `arrays of primitive literals.` so I assumed that `uint`s would also count.

[2021-01-31 19:06] Clockwork-Muse commented on #47641
... I mean, if I anticipate I might be processing huge numbers of results, I'd be trying to run some portions in parallel, which would possibly also result in smaller arrays.  Although I'd likely try to run some or all of the processing in the database itself, to avoid transferring large chunks of data.

I don't know enough of what you're doing, but I'd be trying to do all the processing for an it

[2021-01-31 19:15] MichalPetryka commented on #2036
I've changed the table to be stored in a `uint[]` and added a benchmark using `??=`, which seems to have only a minimal impact on performance. As we can see, all table based implementations are roughly the same, while the no table one (which I've taken from https://medium.com/@nxtchg/crc-32-without-lookup-tables-1682405aa048 and adapted into C#) is noticeably slower.

[code]
|

[2021-01-31 19:26] daxian-dbw opened #47693 "'LinkerFatalErrorException' thrown when building PowerShell with Assembly-level trimming"
I know PowerShell may not be the target audence of the App Trimming feature in .NET 5 given that it depends on reflection so much, but I gave it a try out of curiosity and saw a `LinkerFatalErrorException` thrown during the build, so I just report it here:

[code]

[2021-01-31 19:45] tannergooding commented on #2036
The `ReadOnlySpan<byte> => new[] { }` trick only works for `byte` due to endianness.

You need to do `readonly T[] = new [] { }` for other types for it to be efficient: https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA+ABATARgLABQGAzAATakDCpA3oaQ6QA5QCWAbgIYAuM5OSUgCUYnACYB5AHYAbAJ4BlJpykAeAK6sp3AHykAKp2AyYOUgF49UmAHcA2gF1ahAJCNSABgQefvnwFUAGk8EADEsJAAhAA5iD2IgkIBRHGJIgHYPUPTEr1SAViziUJRchEp0gE4AQUr0n

[2021-01-31 19:50] MichalPetryka commented on #2036
Yeah, noticed after reading the commets on that PR, was my fault for not checking them.

[2021-01-31 20:17] tommcdon commented on #47638
@hoyosjs @mikem8361

[2021-01-31 20:32] hoyosjs commented on #47638
@tommcdon sadly there's nothing actionable here.

As @pinkfloydx33 mentioned, there was an issue on Debian where they removed trust from a certificate that is in the chain of the certificate used to sign NuGet packages. The bug was on the ca-certificates package as they should've only removed it's TLS capabilities, but instead removed all the capabilities.

Some possible workarounds until Debian i

[2021-01-31 20:32] #47638 closed

[2021-01-31 21:24] vitek-karas commented on #47679
The test does basically this:
* It runs as .NET Core 3.1 app - so it loads `coreclr.dll` (and the rest of .NET Core) and then runs the test code
* Then it calls `LoadLibrary("coreclr")` - on Windows this returns the already loaded `coreclr.dll` module which runs the test itself
* Then it calls `coreclr_initialize` from that module
* This fails with `HOST_E_INVALIDOPERATION` because CoreCLR can onl

[2021-01-31 21:32] vcsjones commented on #47492
Always failing here. Hmm.

https://github.com/dotnet/runtime/blob/025c4d0bdab3ad55d429cdd5b3ec78c852f8a074/src/libraries/System.Security.Cryptography.X509Certificates/tests/RevocationTests/AiaTests.cs#L74

[2021-01-31 22:32] vcsjones commented on #47492
@bartonjs

I find a few things odd about this.

1. [The docs][1] say:

    My understanding of `X509Chain` is that it uses a Basic Policy, not a SSL policy.

2. It seems that `SecTrustSetNetworkFetchAllowed` controls _all_ network access during chain building, not just AIA. Meaning this, if I understand correctly, affects revocation checking. From Apple's source:

[code]

    Along with this comme

[2021-02-01 00:39] ahdung commented on #46465
same issue [https://github.com/dotnet/aspnetcore/issues/29789](https://github.com/dotnet/aspnetcore/issues/29789), good luck.

[2021-02-01 00:58] VincentBu commented on #47097
Failed again in [runtime-coreclr outerloop 20210130.4](https://dev.azure.com/dnceng/public/_build/results?buildId=972972&view=ms.vss-test-web.build-test-results-tab&runId=30556198&paneView=debug&resultId=109538)

Failed tests:
[code]

Error message:
[code]

[2021-02-01 01:02] drma-dev opened #47712 "system.text.json + azure functios + cosmos db"
In the cosmos, the date is being saved in the following format:
`"birthDate": "2003-01-29T20:11:07.218-02:00"`

but this format does not work with the cosmos functions (DateTimeDiff), because it is waiting in UTC format.

I tried to use this configuration at startup:
[code]

but it seems that it no longer works in .net core 3

what can I do to solve this?

[2021-02-01 01:02] VincentBu commented on #47259
Failed again in [runtime-coreclr jitstressregs 20210131.1](https://dev.azure.com/dnceng/public/_build/results?buildId=973160&view=ms.vss-test-web.build-test-results-tab&runId=30560010&resultId=100254&paneView=debug)

Failed tests:
[code]

Error message:
[code]

[2021-02-01 01:07] VincentBu commented on #46279
Failed again in [runtime-coreclr jitstress-isas-arm 20210130.1](https://dev.azure.com/dnceng/public/_build/results?buildId=972974&view=ms.vss-test-web.build-test-results-tab&runId=30556338&resultId=109796&paneView=debug)

Failed tests:
[code]

Error message:
[code]

[2021-02-01 01:14] VincentBu commented on #13613
Failed again in [runtime-coreclr gcstress0x3-gcstress0xc 20210131.1](https://dev.azure.com/dnceng/public/_build/results?buildId=973189&view=ms.vss-test-web.build-test-results-tab&runId=30560880&paneView=debug&resultId=106056)

Failed tests:
[code]

Error message:
[code]

[2021-02-01 01:21] VincentBu opened #47696 "Assertion failed in test Interop\\ICustomMarshaler\\ConflictingNames\\MultipleALCs\\MultipleALCs.cmd: refCollectionObject != NULL"
Run: [runtime-coreclr gcstress0x3-gcstress0xc 20210131.1](https://dev.azure.com/dnceng/public/_build/results?buildId=973189&view=ms.vss-test-web.build-test-results-tab&runId=30560998&paneView=debug&resultId=100514)

Failed tests:
[code]

Error message:
[code]

[2021-02-01 01:27] VincentBu opened #47697 "Test failed: Regressions/coreclr/GitHub_45929/test45929/test45929.sh"
Run: [runtime-coreclr gcstress0x3-gcstress0xc 20210131.1](https://dev.azure.com/dnceng/public/_build/results?buildId=973189&view=ms.vss-test-web.build-test-results-tab&runId=30561028&paneView=debug&resultId=110399)

Failed tests:
[code]

Error message:
[code]

[2021-02-01 01:33] VincentBu opened #47698 "Assertion failed in test 'Loader\\binding\\tracing\\BinderTracingTest.Basic\\BinderTracingTest.Basic.cmd'"
Run: [runtime-coreclr gcstress-extra 20210130.1](https://dev.azure.com/dnceng/public/_build/results?buildId=973021&view=ms.vss-test-web.build-test-results-tab&runId=30557360&resultId=110516&paneView=attachments)

Failed tests:
[code]

Error message:
[code]

[2021-02-01 01:37] VincentBu commented on #46023
Failed again in [runtime-coreclr gcstress-extra 20210130.1](https://dev.azure.com/dnceng/public/_build/results?buildId=973021&view=ms.vss-test-web.build-test-results-tab&runId=30557296&paneView=debug&resultId=108565)

Failed tests:
[code]

Error message:
[code]

[2021-02-01 01:42] VincentBu opened #47699 "Test failed: Interop\\COM\\ComWrappers\\API\\ComWrappersTests\\ComWrappersTests.cmd"
Run: [runtime-coreclr gcstress-extra 20210130.1](https://dev.azure.com/dnceng/public/_build/results?buildId=973021&view=ms.vss-test-web.build-test-results-tab&runId=30558186&paneView=debug&resultId=105420)

Failed tests:
[code]

Error message:
[code]

[2021-02-01 01:46] VincentBu commented on #47394
Failed again in [runtime-coreclr gcstress-extra 20210130.1](https://dev.azure.com/dnceng/public/_build/results?buildId=973021&view=ms.vss-test-web.build-test-results-tab&runId=30557350&paneView=debug&resultId=108534)

Failed tests:
[code]

Error message:
[code]

[2021-02-01 01:52] VincentBu commented on #47101
Failed again in: [runtime-coreclr r2r-extra 20210130.1](https://dev.azure.com/dnceng/public/_build/results?buildId=973100&view=ms.vss-test-web.build-test-results-tab&runId=30558630&resultId=108221&paneView=debug)

Failed tests:
[code]

Error message:
[code]

[2021-02-01 02:00] VincentBu commented on #43207
Failed again in [runtime-libraries-coreclr outerloop 20210131.2](https://dev.azure.com/dnceng/public/_build/results?buildId=973165&view=ms.vss-test-web.build-test-results-tab&runId=30559828&paneView=debug&resultId=104261)

Failed tests:
[code]

Error message:
[code]

[2021-02-01 02:04] VincentBu commented on #46619
Failed again in [runtime-libraries-coreclr outerloop 20210131.2](https://dev.azure.com/dnceng/public/_build/results?buildId=973165&view=ms.vss-test-web.build-test-results-tab&runId=30559828&paneView=debug&resultId=101942)

Failed tests:
[code]

Error message:
[code]

[2021-02-01 02:09] VincentBu commented on #32955
Failed again in [runtime-libraries-coreclr outerloop 20210131.2](https://dev.azure.com/dnceng/public/_build/results?buildId=973165&view=ms.vss-test-web.build-test-results-tab&runId=30559662&paneView=debug&resultId=102978)

Failed tests:
[code]

Error message:
[code]

[2021-02-01 02:11] eerhardt commented on #47647
If this call isn't changed to `GetUninitializedObject`, we need to revisit the suppression being added here:

https://github.com/dotnet/runtime/pull/47585/files/07c0fc14fbab9b092a2270083bd933cbee8b2248#r567222530

[2021-02-01 02:36] #47510 closed

[2021-02-01 03:11] slav opened #47700 "GC deadlock under Linux (works in Windows)"
### Description
We're working on updating our application from Windows to Linux and we're consistently running into what seems to be a deadlock in GC.

I see thread on Thread Pool is trying to get more space, enters GC, and then it gets stuck.

[code]

Meanwhile Finalizer thread and all GC threads are also stuck in similar manner
[code]

This happens pretty consistently for us.

### Configuration

[2021-02-01 03:29] stephentoub commented on #42154
Whoever implements this will need to make sure that the type serializes/deserializes correctly in both directions between .NET Core and .NET Framework, otherwise it'll defeat the purpose of this.  And to that end, a) there have been several new members added to HttpRequestException in .NET Core, so they'll need to be properly dealt with, and b) the implementation on .NET Framework uses the "safe s

[2021-02-01 03:32] stephentoub commented on #1916
There's a PR open for it: https://github.com/dotnet/runtime/pull/43255.

[2021-02-01 03:47] Jimmy-Hu opened #47701 "[API Proposal]: ConvertAll methods overloading for multi-dimensional array"
## Background and Motivation

`Array.ConvertAll` method for one-dimensional array `[]` has been implemented and the declaration is `public static TOutput[] ConvertAll<TInput, TOutput>(TInput[] array, Converter<TInput, TOutput> converter);`. I am trying to enhance the ability of `ConvertAll` method for using in multi-dimensional array (including `[,]`, `[,,]`, and higher dimensional cases).

## Pro

[2021-02-01 03:49] Jimmy-Hu commented on #47701
I think that the area is area-System.Runtime.

[2021-02-01 04:35] danmosemsft commented on #46021
With respect to the discussion about `LDAP_OPT_SERVER_ERROR` (which is actually `LDAP_OPT_MATCHED_DN` for OpenLDAP) and `LDAP_OPT_ERROR_STRING` above, I wrote various tests to trigger error conditions and ran them on both a Windows client and on a Linux client against OpenDJ, SlapD, and AD servers.

The results - zero output from the former, and almost zero from the latter (only occasionally a str

[2021-02-01 05:42] Varorbc commented on #47612
@wfurt The other party's server problem?

![image](https://user-images.githubusercontent.com/5714438/106418748-fd70dd80-6491-11eb-9628-1f3471990e04.png)

[2021-02-01 06:39] danmosemsft commented on #47693
@vitek-karas could you please transfer to the linker repo? I don't have powers.

[2021-02-01 06:40] danmosemsft commented on #47693
@daxian-dbw what did you do to trigger this -- what flags/repro?

[2021-02-01 07:33] maxild commented on #47638
@hoyosjs I am running pop-os 20.10 (based on Ubuntu 20.10 (Groovy Gorilla)). So right now docker seems my best option. Is https://github.com/NuGet/Announcements/issues/49 where I should track progress? Or is it the issues from the NuGet/Home (NuGet/Home#1050 and/or NuGet/Home#10491)

[2021-02-01 08:23] JinkerLeong opened #47704 "AssemblyLoadContext cant initialize in WPF application method."
Framework: .Net 5
This is code from microsoft docs. Please note the comments in the code

[code]
This is the loading and unloading method (I modified the code from microsoft doc)
[code]
This is part of a wpf program code
[code]
If the unloading code is not together with the loading code
[code]
But if the loading code is not called in the Wpf initialization function "MainWindow()" or wpf applicatio

[2021-02-01 09:45] #47679 closed

[2021-02-01 10:43] #20619 closed

[2021-02-01 10:55] eiriktsarpalis commented on #27062
I think it is, but I leave it to @layomia to determine whether to promote this approach or the one in #15059.

[2021-02-01 11:09] eiriktsarpalis commented on #47641
Duplicate of #46586. I'm going to close this one.

[2021-02-01 11:09] #47641 closed

[2021-02-01 11:12] eiriktsarpalis commented on #20619
That might take more work than just building the runtime. Our build prerequisites are [pretty straightforward](https://github.com/dotnet/runtime/blob/master/docs/workflow/requirements/windows-requirements.md). You can use the infrastructure in https://github.com/dotnet/performance to host benchmarks against custom builds of the runtime.

[2021-02-01 12:13] 304NotModified commented on #36064
Polite bump!

[2021-02-01 12:19] SteveNorwood opened #47706 "HttpClientHandler hangs on simple request with SocketsHttpHandler"
### Bug Description
The HttpClientHandler appears to hang when not using WinHttpHandler in certain situations. The change described in the [HttpClientHandler](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclienthandler?view=net-5.0#remarks) documentation shows that for .NET Core 2.1 and later, the code no longer uses WinHttpHandler, and the code has moved to SocketsHttpHandler. I

[2021-02-01 12:23] Joe4evr commented on #27062
FWIW, `GetOrAdd` wouldn't meet my needs, as I outlined earlier: https://github.com/dotnet/runtime/issues/27062#issuecomment-719916581 (I just want to bubble-up a `KNFE`.)

[2021-02-01 12:39] vitek-karas commented on #47704
In .NET Core unloadability is "cooperative", it means the program needs to release all references to objects and types from the assemblies to be unloaded. So it's not just about the code driving the load/unload, but also about the plugin itself. For example if the plugin registers a callback on the application object, there will be a reference from the application object to the plugin - which will

[2021-02-01 12:40] antonfirsov commented on #46600
We should also find new patterns of code sharing to consolidate sync method duplications in `Socket.cs`.

For example `Receive(byte[] ...)`, `Receive(Span<byte> ...)` and `Receive(IList<ArraySegment<byte>> ...)` are mostly duplicates, and the `ReceiveMessageFrom` duplication introduced in #46285 is even worse.

[2021-02-01 12:57] TamarChristinaArm commented on #43789
@echesakovMSFT btw, this issue ended up focusing only on zero'ing, but the approach outlined in https://github.com/dotnet/runtime/issues/43789#issuecomment-716492368 should help with `Array` and `Span`.`Fill`.

Is it worth splitting that out?

[2021-02-01 13:02] JinkerLeong commented on #47704
I'm pretty sure there is no problem with my plugin, I tested it before. Plugin interface like this
[code]

The problem now is that if I load window-related functions, I cannot unload AssemblyLoadContext in other functions.

I tested loading AssemblyLoadContext in window-related functions, and then unloading, there is no problem. This is what bothers me.

Therefore, I think that if the AssemblyLoad

[2021-02-01 13:03] ahdung opened #47707 "JsonSerializerOptions.PropertyNamingPolicy not effect ExpandoObject"
[code]

[2021-02-01 13:05] JinkerLeong commented on #47704
I'm pretty sure there is no problem with my plugin, I tested it before. Plugin interface like this
[code]

The problem now is that if I load window-related functions, I cannot unload AssemblyLoadContext in other functions.

I tested loading AssemblyLoadContext in window-related functions, and then unloading, there is no problem. This is what bothers me.

Therefore, I think that if the AssemblyLoad

[2021-02-01 13:07] davidfowl commented on #47706
I can reproduce this.

[2021-02-01 13:19] stephentoub commented on #47706
I can check when I'm at my computer,  but it's most likely the server rejecting/ignoring the request because it wants some header the client isn't sending by default,  like an Accept header of some variety.

[2021-02-01 13:30] marek-safar commented on #47518
I think `maccatalyst` would work too but it'd be the longest rid to have. All the existing names are much shorted (e.g. `sles`, `tvos`, `ol`, etc).

[2021-02-01 13:31] SingleAccretion opened #47708 "How relevant is CPU_HAS_FP_SUPPORT?"
I see there is a little bit of code that switches on this define here and there:
[code]
Is that actually all that's needed to support porting to CPUs without FP support?
What is the purpose of this define?

FWIW, it is set to `1` for all currently supported targets.

[2021-02-01 13:41] vitek-karas commented on #47693
/move to mono/linker

[2021-02-01 13:41] #47693 closed

[2021-02-01 13:46] vitek-karas commented on #47704
The plugin interface itself is not very telling. It depends what it actually does when it executes.

But you're right in general - WPF has issues when used from non-default load contexts. Some of it can be worked around by using contextual reflection overrides: https://docs.microsoft.com/en-us/dotnet/api/system.runtime.loader.assemblyloadcontext.entercontextualreflection?view=net-5.0. Also see the

[2021-02-01 13:50] davidfowl commented on #47706
Here's the code I tried. It's really weird:

[code]

The logging stream just prints out the messages read and written and it never gets the HTTP/1.1 response. It's likely a TLS problem not an HttpClient problem.

[code]

The `ReadAsync` call never returns from `SslStream`.

[2021-02-01 14:06] Gladskih opened #47710 "PLINQ: throwing empty AggregateException leads to ObjectDisposedException"
### Description
Being faced this unexpected behavior I found corresponding [thread on stackoverflow.com from 2013](https://stackoverflow.com/a/19392562/2336304)
[Reproducing on .Net 5: https://dotnetfiddle.net/zT8Djq](https://dotnetfiddle.net/zT8Djq)
[code]
The code prints "Bug" when "Expected" expected.

The problem is caused by QueryTaskGroupState.QueryEnd() implementation.

[2021-02-01 14:11] TonyValenti commented on #47649
Yes. Token should always be at the end.

[2021-02-01 14:36] stephentoub commented on #47706
It looks like the server is only allowing HTTP/2.  When I add:
[code]
the repro works fine.

[2021-02-01 14:39] stephentoub commented on #47706
Yeah, for example what I suggested in my initial reply.  If I stick with 1.1 but add this:
[code]
the repro also works.

So, basically, this is the server being picky about what requests look like.

[2021-02-01 14:43] marek-safar commented on #44920
There are multiple scenarios you could build on top of the original requirements. However, the core one is very simple.

A developer is building Blazor/Win/Apple/etc. app and adds a dependency to NuGet to help him solve some of his problems. The NuGet is added to the project and builds successfully. The developer keeps working on the code and after few more iterations, the app suddenly throws PNSE

[2021-02-01 15:04] mkielek commented on #46650
any news on the issue?

[2021-02-01 15:05] davidfowl commented on #47706
What kinda server hangs when it doesn't get an accept header 😱 ?

[2021-02-01 15:11] SteveNorwood commented on #47706
I've got a couple of troublesome URLs and @stephentoub your suggestions seem to fix it. I've put Accept */* which fixes it and HTTP/2 does the same.

Does .NET Framework 4.8/.NET Core 2 automatically put the correct headers onto the call? As I assume they are not defaulting to HTTP/2. Just a little confused as to why it breaks at .NET Core 2.1

[2021-02-01 15:23] CarnaViire commented on #42142
Triage: Reproduces on Azure Functions environment, doesn't reproduce on .NET Core Generic Host. Next step: try ASP.NET Core environment

[2021-02-01 15:40] #47512 closed

[2021-02-01 15:41] stephentoub commented on #47706
I believe both .NET Framework 4.8 and WinHttpHandler are adding a `Connection: Keep-Alive` header, which is not necessary for HTTP/1.1, but that also appears to make this particular server happy.
[code]

[2021-02-01 15:49] maryamariyan commented on #36064
@304NotModified this issue is now part of the user story #43617, which contains a bunch of work items tracking analyzer work.

[2021-02-01 15:49] steveisok commented on #47518
What about `maccat` to keep it short?

[2021-02-01 15:49] bartonjs commented on #47492
Well, revocation checking won't happen unless it can build a chain to a trust anchor.  With AIA off is it completing the chain and just failing as RevocationStatusUnknown?

We can certainly, on macOS, say that if the revocation mode is Online that'll override DisableCertificateDownloads.  Not the happiest of states, but it is two caller-controlled elements and probably doesn't come up much.

I gue

[2021-02-01 15:51] ilyas1974 commented on #47591
I can't seem to find the issue I saw. Either way, it's sounds like it was a mistake for the system to have been put back into rotation. I apologize for any additional work this may have caused.

[2021-02-01 15:55] CarnaViire commented on #42344
Triage: the root problem here is that message handlers are currently created in a manual scope (unrelated to existing scopes). Closing this one as a duplicate of #36574

[2021-02-01 15:55] #42344 closed

[2021-02-01 15:56] CarnaViire commented on #42344
Duplicate of #36574

[2021-02-01 15:57] eiriktsarpalis commented on #47707
I would expect `JsonNamingPolicy` to only concern matching json property names to .NET member names. `ExpandoObject` is something different but I can see why users might expect it to have similar behaviour. @layomia is this something we could consider fixing?

[2021-02-01 16:04] spouliot commented on #47599
Agreed. I understand that, from a .net perspective, its neither platform specific nor does it need availability attributes.

But ObjC protocols are not quite interfaces but they are the closest match there is in .net.

Yes, but `IAVPlayerItemOutputPushDelegate` was a bad example. I picked it up because it was on top of the alphabetical order :-)

Protocols are used for different things. When they

[2021-02-01 16:06] SteveNorwood commented on #47706
Yeah, can confirm that this server and a couple of others seem to be set up incredibly strangely. Got a friend to try running some of this on Python too and they aren't getting anywhere with it either.

Thanks for looking into this, I wasn't aware the culprit servers would just hang without specific requirements being met. There isn't much that can be done if it's not responding, as the timeout is

[2021-02-01 16:06] #47706 closed

[2021-02-01 16:15] vcsjones commented on #47492
That appears to be the case. A complete chain is formed, revocation checking is still skipped.

[code]

I'm still trying to get my head around what is happening. I am finding that the documentation around this is on the misleading side, and it's a bit slow going for me to dig through source code.

It seems to me, that (perhaps unrelated from this issue) this unearthed the issue that we should mayb

[2021-02-01 16:35] eiriktsarpalis commented on #47710
I can reproduce the issue in .NET 5. This seems to be a bug in the `ParallelEnumerable.ForAll` implementation when the source enumerable specifically throws `AggregateException`:
[code]
The above fails with the exception:
[code]

[2021-02-01 16:44] javiercn commented on #47712
@drma-dev this doesn't seem to be related to ASP.NET Core.

I've transferred your issue to the runtime repo since they can give you a faster and better answer.

[2021-02-01 16:48] #43520 closed

[2021-02-01 16:55] stephentoub commented on #16372
Yeah, I think we should just close this.  We could revisit if there's significant demand, but this is such a rarely used corner of the library, there hasn't been and I suspect there won't be.

Thanks for the suggestion and discussion.

[2021-02-01 16:55] #16372 closed

[2021-02-01 16:57] danmosemsft commented on #47712
This is Newtonsoft, not S.T.Json. It seems it's a question about the date formats above changing between 3.1 and 5.0.

[2021-02-01 17:01] vcsjones opened #47713 "DisableCertificateDownloads on macOS disables online revocation checking"
`DisableCertificateDownloads`, which was introduced in .NET 5, will disable all network operations during chain building on macOS, including CRL and OCSP. On Linux and Windows, this property controls AIA fetching independently from revocation checking.

This appears to be the behavior of `SecTrustSetNetworkFetchAllowed` and it is my understanding that `SecTrustSetNetworkFetchAllowed(..., FALSE)` a

[2021-02-01 17:02] antonfirsov opened #47714 "Unlike other variants, ReceiveFromAsync(saea) and ReceiveMessageFrom(saea) does not throw when socket is not bound"
When the socket not bound, all sync and async variants of `ReceiveFrom` and `ReceiveMessageFrom` seem to throw `InvalidOperationException`.

`SocketAsyncEventArg` overloads fail with `SocketError.InvalidArgument` instead. Furthermore: `ReceiveMessageFrom` hits an assertion failure, and on Unix `ReceiveFrom` does not fail at all.

I'm not sure if it's by design, or is it a something we want to chan

[2021-02-01 17:02] vcsjones commented on #47713
@bartonjs

[2021-02-01 17:11] drma-dev commented on #47712
@danmosemsft

im not using Newtonsoft

[2021-02-01 17:16] eiriktsarpalis commented on #47712
@drma-dev the configuration settings you shared would only concern Newtonsoft though. So perhaps your code only configures Newtonsoft but then uses S.T.J?

[2021-02-01 17:18] stephentoub commented on #47525
@eiriktsarpalis, I don't see timeouts represented here.  Weren't you going to have some overloads that took a TimeSpan?  My concern with relying on CancellationToken in this context is we're likely to see devs accidentally write code like:
[code]
and while an analyzer could be written to flag that and suggest it instead be:
[code]
it's easier to get it right with the timeout overload.  The above a

[2021-02-01 17:21] stephentoub commented on #30529
This would simply save the developer having to write out a cast, which doesn't seem worth the surface area.

The performance benefit would be if boxing for a value type T could be eliminated, but a) it's rare that I see value types as the state in calls to {Unsafe}Register, and b) supporting that would be non-trivial complication in the implementation, which pools the nodes that store the objects

[2021-02-01 17:21] eiriktsarpalis commented on #47525
Not reason. Should we use `TimeSpan`, `int` for milliseconds or perhaps both?

[2021-02-01 17:24] drma-dev commented on #47712
I'm not using that setting, because it doesn't work. I showed it only as an example of an attempt I made.

[2021-02-01 17:26] eiriktsarpalis commented on #47712
Could you share a minimal reproduction that demonstrates the issue?

[2021-02-01 17:35] stephentoub commented on #47525
I'd stick with just TimeSpan in the proposal, and call it out as an open issue to discuss in API review in case anyone has a different opinion.

[2021-02-01 17:39] stephentoub commented on #31365
This was opened first, but consolidating with https://github.com/dotnet/runtime/issues/47525.
cc: @eiriktsarpalis

[2021-02-01 17:39] #31365 closed

[2021-02-01 17:42] drma-dev commented on #47712
I'm not sure if it's really an issue or normal behavior.

There's nothing special:

[code]
then I send it to the cosmos:

[code]
[code]

[2021-02-01 17:44] eiriktsarpalis commented on #47712
Which version of the CosmosDB sdk are you using?

[2021-02-01 17:47] drma-dev commented on #47712
[code]
[code]

[2021-02-01 17:53] karelz commented on #46910
@ahdung we do not plan to support direct access to IE proxy via new API. If part of your app decides to override it (incl. env. variables), then it is what will be set.
You can try to take a snapshot early on, before anything in your app overrides it.

[2021-02-01 17:58] safern commented on #36015
The thing that it's making me doubt about that approach is that if I want the system to throw about any unknown configuration, I would have to add the attribute to all the keys? Maybe we could come up with a behavior where if you add it to the class it should throw for all the keys under that class, but if you have a subclass then you would end up annotating all classes, so in that case a switch w

[2021-02-01 18:00] eiriktsarpalis commented on #47712
I've never worked with the v3 cosmos sdk but on quick inspection the library seems to define [its own serialization abstractions wrapping Newtonsoft.Json](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/9e51de53b3f10e20846b7fdb86837b1cccd4efae/Microsoft.Azure.Cosmos/src/Serializer/CosmosJsonDotNetSerializer.cs#L16). It seems possible to use this class as a template to construct a custom "Cosm

[2021-02-01 18:00] #47712 closed

[2021-02-01 18:08] safern commented on #46988
Would you mind submitting a formal API proposal to add that BindingOption as part of this or a new issue?

Here are the instructions on how to do that: https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md

[2021-02-01 18:22] akoeplinger commented on #47591
No worries, I was just wondering if I missed something :)

[2021-02-01 18:23] safern commented on #45396
Update. It seems like currently we do some other stuff that might complicate this process:

1) We sign on windows some parts (not all of them, I believe coreclr signs the diagnostic assets).
2) We sign installer pieces on OSX
3) We need to build the cross DAC pieces in various RIDs. That means that after we build all the collapsed legs we would need to have a leg that depends on these "longer" leg

[2021-02-01 18:23] akoeplinger commented on #47591
Closing this issue since the offending machine was disabled and we're tracking the DNS issue with https://github.com/dotnet/core-eng/issues/11290 already.

[2021-02-01 18:23] #47591 closed

[2021-02-01 18:24] safern commented on #44304
cc: @ericstj

I believe this is a dupe of: https://github.com/dotnet/runtime/issues/45921

[2021-02-01 18:24] #44304 closed

[2021-02-01 18:25] safern commented on #47268
cc: @ericstj

[2021-02-01 18:27] safern commented on #44600
@ViktorHofer I believe this can be closed as it is covered by: https://github.com/dotnet/runtime/issues/47530 ?

[2021-02-01 18:30] AaronRobinsonMSFT commented on #44736
@rolfbjarne and @janvorli I have added a checkbox above for validating the signally logistics as they relate to customer crash collection mechanisms. I need to defer for how to validate these scenarios.

/cc @jeffschwMSFT

[2021-02-01 18:30] TomCJones commented on #47638
I had the same issue with ubuntu 20.04 and tried to commend on the errors in the announcement, but that is not permitted. The announcement is not helpful in telling where to change the reference either.

[2021-02-01 18:32] layomia commented on #47689
What kind of custom logic would you like to implement in these methods that are not handled in the default implementations for the various internal number converters? Just trying to understand the motivation here.

[2021-02-01 18:38] layomia commented on #47707
This is being addressed along with the work on `dynamic` - https://github.com/dotnet/runtime/issues/29690, https://github.com/dotnet/designs/pull/163. I believe the current thinking is to honor this and related options when the feature lands. cc @steveharter.

[2021-02-01 18:39] wfurt commented on #47612
There is Alert in packet 1652. You can look what its in there. But it is the server closing TCP in  1654 followed by close in 1655. If the request body is still being send, it would fail with the exception you posted.

Do you set [HttpCompletionOption](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.sendasync?view=net-5.0#System_Net_Http_HttpClient_SendAsync_System_Net_Http_

[2021-02-01 19:00] gregg-miskelly commented on #47617
I would agree with you that there is some appear in approach #2. On the other hand, that makes the change way way more expensive. So I think it is worth at least thinking about how much we could improve without going that far.

Here are the inefficiencies that I see --
* With JMC on, I believe the only thing the VS debugger does with first chance is to walk the call stack to to mark `[NonUserCode]

[2021-02-01 19:02] josalem commented on #47698
This looks like the thread got hijacked while it was in preemptive mode set by EventPipe logic and `Thread::SetFrame` attempted to put the thread into cooperative mode.  I'll have to investigate it, but I had thought we had marked the EventPipe transitions as special so they wouldn't break gcstress.  I'm not familiar with `gcstress-extra`... I wonder if this is doing something more involved than a

[2021-02-01 19:06] bartonjs commented on #47492
Ah, because I was helpful in `SimpleTest`.  It is already adding the intermediate to chain.ChainPolicy.ExtraStore, so that's the "AIA not needed, but revocation gets impacted" test (maybe you knew that, but I had forgotten).  Since I had not assumed that line, I expected a length 1 PartialChain result (though, thinking about it, I'm not sure why I would have assumed the root was in CustomTrustStor

[2021-02-01 19:16] wfurt commented on #47680
Windows is the most difficult platform. There is no way how .NET can pass the chain to OS and underlying Schannel can only work with certificates visible in store. Adding your intermediates to `StoreName.CertificateAuthority` is right approach. (that will not make them trusted - just available for OS)

This should also make it work on other platforms. On macOS & Linux, we use `X509Chain.Build` to

[2021-02-01 19:22] terrajobst commented on #47599
What @jeffhandley said. We disabled it on interfaces to communicate/shape the intent. However, I've got no problem with relaxing that if that's useful for iOS.

[2021-02-01 19:25] BlacKCaT27 commented on #36015
True, though I think at that point it depends more on the use case. I could see some scenarios where there's only a couple fields where I want this attribute (so an unmatched configuration throws, like a connection string) but for others I don't care.

What if, like you suggest, a switch for all-or-nothing behavior gets added, but then the attribute can be used to configure the systems reaction. L

[2021-02-01 19:31] stephentoub commented on #47525
Also, did you consider alternatives for exposing this? e.g. rather than having a bunch of overloads, you could have one with defaults (though I don't know what we'd do for a TimeSpan default given the type), or potentially a struct with the options:
[code]
etc.  Then you'd just have one new overload per task type `ConfigureAwait(AwaitBehavior)`.

Just throwing out other approaches you might consid

[2021-02-01 19:32] vsfeedback opened #47719 "Work with hardware manufacturers on IoT.Device.Bindings."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Work-with-hardware-manufacturers-on-IoT/1312283)._

---
This applies to a number of interfaces:
https://docs.microsoft.com/en-gb/dotnet/iot/tutorials/temp-sensor
describes how to get e.g. a Raspberry Pi to talk to e.g. a bme280

It would be so much easier to have an I2C interface card o

[2021-02-01 19:33] #47710 closed

[2021-02-01 19:37] twsouthwick opened #47720 "Graphics.DrawImageUnscaled(Bitmap, new Point(0, 0)) causes weird artifacts on Linux"
I am working on a graphics-heavy project that has moved to running on Linux containers. For the most part things have worked ok. However, there is a heavy reliance on System.Drawing for some aspects, which is now using the System.Drawing.Common library to maintain the same behavior. One of the endpoints does essentially the following:

[code]

When run on Windows (.NET 5), the image appears as exp

[2021-02-01 19:38] jeffhandley commented on #47599
Me either.

@buyaa-n -- will the Platform Compatibility Analyzer will work with interfaces as implemented, or will changes be required in the analyzer to handle platform attributes on them?

[2021-02-01 19:38] eiriktsarpalis commented on #47525
@stephentoub seems like a reasonable alternative, should we consider making this a class to account for potential future additions?

[2021-02-01 19:39] #46079 closed

[2021-02-01 19:55] cap-gsvetov commented on #47654
The error shows in the stack trace to be in blazor.webassembly.js, no line number is provided, see below

![image](https://user-images.githubusercontent.com/53909870/106510849-18911c80-6495-11eb-9dec-cbe505a325ed.png)

[2021-02-01 20:02] jeffschwMSFT commented on #44736
This is also an area where coreclr and mono provide different experiences.  For mono providing a hook so that textual traces would be produced was at the tip of possible.  coreclr provides an x-plat post mortem diagnostic experience (out of proc).  So this is likely an area where we can provide an enhanced experience in addition to the signal approach, but perhaps instead of that one as well.

[2021-02-01 20:04] buyaa-n commented on #47599
I don't think there is any change required, but interface attributes only work for the interface references, nor for derived types

The attributes are not inherited, https://github.com/dotnet/runtime/blob/1b1ff800dae81574d9ecea0d106df9c71a6733da/src/libraries/System.Private.CoreLib/src/System/Runtime/Versioning/PlatformAttributes.cs#L63 so in this case, you will still need to add additional attrib

[2021-02-01 20:07] hoyosjs commented on #45396
Yes, otherwise up stack repos won't be able to easily open their dumps in VS.

It's finicky... The reason it's a merge leg is that it needs assets from both Windows and Linux. Even beyond that - say we figure something out with Docker or something alike - I am not sure is about the reproducibility of the native builds, say if two libmscordaccore built on different legs will have different build ID

[2021-02-01 20:18] terrajobst commented on #47599
@spouliot

Are we sure there is significant bloat? Attribute blobs are interned and shared between applications.

[2021-02-01 20:30] maryamariyan commented on #47653
Found this related issue: https://github.com/dotnet/runtime/issues/37356

[2021-02-01 20:36] AaronRobinsonMSFT commented on #47243
@maddinthegreat This class does exist in .NET 5, but was converted into a private type. It is at present only used by the internal marshalers. Is this API needed for some manual marshalling scenario? Any details to help us determine how important this is are welcome.

/cc @elinor-fung

[2021-02-01 20:37] AaronRobinsonMSFT commented on #47248
I believe that @JeremyKuhne's suggestion is appropriate here.

[2021-02-01 20:37] #47248 closed

[2021-02-01 20:38] AaronRobinsonMSFT commented on #46479
@jkoritzinsky Can we close this now that #45637 is fixed?

[2021-02-01 20:39] #46479 closed

[2021-02-01 20:47] ericstj commented on #47518
In that case, should this derive from `OSX` instead of `Unix`?  We have a few places where we build a configuration of a library for OSX.  Here's a couple:
https://github.com/dotnet/runtime/blob/b37f10a504f20faef2558b6d79180411ad0603c3/src/libraries/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj
https://github.com/dotnet/runtime/blob/c58e45c9

[2021-02-01 21:17] ericstj commented on #47268
@Anipik it looks like a bug in how we're building stable packages for System.IO.Ports.  The process didn't result in stable versions for the runtime-specific packages.

https://www.nuget.org/packages/runtime.native.System.IO.Ports/5.0.0
![image](https://user-images.githubusercontent.com/8918108/106519225-d6b1a780-648f-11eb-9efe-8294a3d0501a.png)

We should service for this and also fix whatever in

[2021-02-01 21:33] jeffhandley commented on #36092
I started working on this and found that there might be some additional scenarios that need review; the documentation isn't comprehensive enough for me to understand all of the expected behaviors.

As the documentation ([`Path`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.filesystemglobbing.filepatternmatch.path?view=dotnet-plat-ext-5.0) / [`Stem`](https://docs.microsoft.com/e

[2021-02-01 21:49] directhex commented on #47518
Catalyst is, at least from a build perspective, the iOS API running on macOS libraries. So, random example, the `system` system call exists in macOS but will cause a compile time error if you enable Catalyst (which you basically do by adding a `-target x86_64-apple-ios13.2-macabi` flag to the compiler/linker, which is mutually exclusive with a -mmacosx-version-min flag)

The compiler triple implie

[2021-02-01 21:54] briansull opened #47724 "[release/5.0] Backport Fix for Issue 46529 incorrect 64-bit shift result with cast to int"
### Incorrect behavior a 64-bit long with shift of 32 or more combined with a cast to int

The JIT generates incorrect code for this code pattern:

`(int) (X << C)`

where C >= 32 and
and  X is anything with a potential side-effect and is 64-bit integer type

## Customer Impact

Reported by customer who was migrating to .Net Core from the Desktop runtime.

## Regression?

This is a regression that

[2021-02-01 21:57] briansull commented on #47724
Related issue #46529

[2021-02-01 21:57] Jozkee commented on #47455
The `fileInfo.PhysicalPath != null` check was introduced in https://github.com/dotnet/runtime/pull/37846.

@davidfowl is that PR missing a breaking change doc? Should the user behavior be re-enabled by default or should the workaround suffice?

@maryamariyan this looks to me more on the ground of `Extensions.Configuration`; what's the reason for changing the area to `Extensions.FileSystem`?

[2021-02-01 22:00] hotdiggitydoddo commented on #715
@StephenBonikowsky  Any updates on timeline for implementing this feature?  I am among the many here which am hoping for this sooner rather than later.

[2021-02-01 22:10] Jozkee commented on #40099
Sending back to `api-ready-for-review` in order to discuss a more suitable name for the API:

**1. IgnoreCycle:** Original proposal.
**2. IgnoreCycles:** From https://github.com/dotnet/runtime/pull/46101#discussion_r562182946 one could read `Preserve `as `PreserveDuplicates`, which would be plural too.
**3. BreakCycles:** Given that we are breaking cycles by emitting the JSON `null` token and to b

[2021-02-01 22:10] maryamariyan commented on #47567
Good catch. Thanks for the report

[2021-02-01 22:18] RomainHautefeuille commented on #15704
Is there any efficient alternative to Save + ILSpy for debugging?
My old workflow was to write the target class in C#, write the equivalent class using Emit and compare both using ILSpy, fixing differences one by one.
I can't think of a way to achieve something similar now, or at least somewhat efficient.

[2021-02-01 22:20] qrknx opened #47726 "Unlimited SSL connections for the site with invalid certificate"
### Description

[code]
This resource has invalid SSL certificate. **On Windows this request works as expected. It throws:**
[code]
**But on Linux I get a lot of connections and their number is increased approximately by one per second**:
[code]
[code]
And after about ten minutes:
[code]
I expect to see similar exception to one that is thrown on Windows. I also tested this issue (some time ago tho

[2021-02-01 22:23] safern commented on #36015
While I understand the intent of what you describe above I think not depending on attributes and being able to bind with validation for missing Properties by just turning on a switch is a really good thing to have. Then the attributes could be a separate configuration that doesn't depend on the switch where you can granularly fail for missing properties/keys and also configure the default value fo

[2021-02-01 22:24] josalem commented on #36820
@lateralusX now that we've switched to the C implementation by default, do we need this issue anymore?

[2021-02-01 22:26] BlacKCaT27 commented on #36015
Absolutely. I think my brain was just stuck in attribute mode :)

Having a global switch to start is a good approach. It may even provide us
more insight into how best to introduce an attribute later.

On Mon, Feb 1, 2021, 5:23 PM Santiago Fernandez Madero <
notifications@github.com> wrote:

[2021-02-01 22:28] VSadov commented on #3671
Recent 6.0 and 6.0.preview1 SDK builds should contain the fix.
@richardlalancette - could you check if the fix is sufficient for your scenario?

[2021-02-01 22:29] safern commented on #36015
more insight into how best to introduce an attribute later.

Awesome. Thanks for the discussion. Feel free to open a separate issue for the attribute addition where we can discuss the design of it.

Are you interested on tackling this issue?

[2021-02-01 22:30] richardlalancette commented on #3671
I'm still on .net 5.0 here.

Is the 6.0 preview SDK good enough for production apps?

[2021-02-01 22:47] vcsjones commented on #47726
This appears to be a duplicate of https://github.com/dotnet/runtime/issues/45010.

[2021-02-01 22:50] ericsampson commented on #40099
What about something like

`EmitNullForCycles`

[2021-02-01 22:56] davidfowl commented on #47455
We should fix it by checking if the FileProvider is exactly the PhysicalFileProvider.

[2021-02-01 23:05] Jozkee commented on #40099
@ericsampson sounds like a reasonable name that exactly describes what the API does.

[2021-02-01 23:06] RussKie commented on #47248
Associated docs: https://docs.microsoft.com/dotnet/core/compatibility/windows-forms/5.0/automatically-infer-winexe-output-type

[2021-02-01 23:31] Anipik commented on #47268
yes i will take a look and fix this

[2021-02-01 23:33] akoeplinger commented on #33654
CI/packaging work for iOS was done with: https://github.com/dotnet/icu/pull/77

[2021-02-01 23:50] danmosemsft commented on #45188
@layomia this "user story" needs to be assigned to an engineering owner -- I'm guessing you? need not be the person who will actually do it, but the person that is responsible at the moment.

[2021-02-01 23:56] #47713 closed

[2021-02-01 23:58] bartonjs commented on #47492
With https://github.com/dotnet/runtime/pull/47718 merged, I think the action left in this issue is to make the DisableCertificateDownloads test only check NoCheck revocation on macOS (and remove the activeissue attribute).

[2021-02-02 00:00] mikem8361 commented on #45689
I think we should discuss the possibility of making this API out-of-proc via the diagnostic server IPC. It is available now on both coreclr and mono.  The controller/project watcher code wouldn't have to be injected into the app. It may make it easier for VS to implement this for CTRL-F5 because it could leverage the ENC project rebuilding/delta generation it already has and send the edits over to

[2021-02-02 00:00] eerhardt opened #47728 "HttpWebRequestTest_Sync.ReadWriteTimeout_CancelsResponse failed in CI mono Linux x64"
Failed on https://github.com/dotnet/runtime/pull/47585 in the `runtime (Libraries Test Run release mono Linux x64 Debug)` leg.

See the failures here:

https://dev.azure.com/dnceng/public/_build/results?buildId=974416&view=logs&j=b4344b0d-0f92-5d69-ccaf-e0b24fbf14a2&t=65a58faa-a542-5344-b5c8-897139f242cd&l=151

https://helix.dot.net/api/2019-06-17/jobs/8eff8f20-f91d-4983-a50e-19cefe112349/workitem

[2021-02-02 00:09] akoeplinger commented on #33654
tvOS build/packaging added in https://github.com/dotnet/icu/pull/78. Looks like we're done here :)

[2021-02-02 00:09] #33654 closed

[2021-02-02 00:10] vcsjones commented on #47492
@bartonjs yeah, that's sensible. Will open a PR soon.

[2021-02-02 00:12] weifenluo commented on #47689
There is no custom logic I would like to implement in these methods that are not handled in the default implementations for the various internal number converters. Instead I would like to **consume** the default implementations for the various internal number converters.

The (only) reason converters exist, is to be consumed by (de)serializers, either built-in or custom. Currently, `JsonConverter<

[2021-02-02 00:16] akoeplinger commented on #47518
What we do at the RID level and what we do in the libraries build are two different scenarios: the RID is mostly concerned about _native_ binary compatibility: in that case as @directhex mentioned it's a new ABI so there's no compatibility with existing binaries - hence deriving from `unix` for the RID is the right call.

For the libraries build we can mostly share the managed implementations, tha

[2021-02-02 00:22] Kuinox commented on #42999
So I made a fix but there are still weird things:
An empty sequence will have the flag on End but not Start, but both point to the same position.
If you instantiate a ROSequence with the constructor `ReadOnlySequence(ReadOnlySequenceSegment<T> startSegment, int startIndex, ReadOnlySequenceSegment<T> endSegment, int endIndex)` the End field won't have the flag.

I didn't found anything that relies

[2021-02-02 00:29] ahdung commented on #46910
@karelz I see.

[2021-02-02 00:35] ericstj commented on #47024
I took a look at this and found it failing here: https://github.com/dotnet/runtime/blob/99f3f55697b09e4a03a17e0a62f18d174cd4c285/src/libraries/Native/Windows/System.IO.Compression.Native/zlib/inflate.c#L681

If I compare that to a good log, it should start with the GZip header (0x8b1f).
https://github.com/dotnet/runtime/blob/99f3f55697b09e4a03a17e0a62f18d174cd4c285/src/libraries/Native/Windows/Sys

[2021-02-02 00:46] ericstj commented on #36390
It seems reasonable to treat an empty enumerable in the same way as null.  I'm less inclined to examine the runtime type unless we have some precedent for that.  Additionally, it doesn't fix the cases where folks backed the property with Enumerable.Empty or an Array.  cc @eerhardt @maryamariyan

[2021-02-02 00:53] lambdageek commented on #45689
This API proposal wasn't meant to say anything about project watching, or generating deltas.  It's just about applying deltas to the runtime.  Where they come from is out of scope.

The design I had in mind is somehting like:

[code]

The thinking was that it's easier to write a hot reload listener in C# than in C.  But since the diagnostic server already exists, I suppose that's moot.

Certainly

[2021-02-02 00:58] KirillOsenkov commented on #47024
@ericstj haha, indeed, without GZipStream these open mostly fine (although it did break towards the end of the file where BuildEventArgs had a nonsensical BuildRequestId (large negative number). But at least it read a decent chunk of the file before that:
![image](https://user-images.githubusercontent.com/679326/106537081-7a11b500-64ae-11eb-8e50-8bfa86e1aab9.png)

This is how the GZipStream is cre

[2021-02-02 01:01] Varorbc commented on #47612
![image](https://user-images.githubusercontent.com/5714438/106537169-c56ea680-6534-11eb-9d4a-7c4ac6ce995b.png)
![image](https://user-images.githubusercontent.com/5714438/106537245-e9ca8300-6534-11eb-9b48-d38843018e2d.png)

I have not set HttpCompletionOption
https://github.com/essensoft/payment/blob/dev/src/Essensoft.AspNetCore.Payment.WeChatPay/V2/Extensions/HttpClientExtensions.cs#L10

[2021-02-02 01:03] steveisok commented on #47518
So... what should we call it?  `maccat` or `maccatalyst`?

[2021-02-02 01:06] KirillOsenkov commented on #47024
Update: linux.binlog opened just fine without GZipStream, but linux3.binlog had that issue I mentioned above. I'll call it a fluke (or maybe the file didn't download fully).

It's super strange that small binlogs recorded by Tom are fine, but the huge ones aren't wrapped in a GZipStream at all.

[2021-02-02 01:21] weifenluo commented on #47689
I really hope this can be added to a planned release. It's easy to implement, and has no risk IMO.

[2021-02-02 01:22] runfoapp[bot] opened #47734 "slicebuffers_success variant tests failing sporadically"
Runfo Tracking Issue: [slicebuffers_success variant tests failing sporadically](https://runfo.azurewebsites.net/tracking/issue/130)
|Build|Definition|Kind|Run Name|
|---|---|---|---|
|[996179](https://dev.azure.com/dnceng/public/_build/results?buildId=996179)|[runtime](https://dnceng.visualstudio.com/public/_build?definitionId=686)|Rolling|net6.0-OSX-Release-x64-CoreCLR_release-OSX.1014.Amd64.Open

[2021-02-02 01:23] macrogreg opened #47735 "Inconsistent/contradictory statements on StringBuilder marshaling in PInvoke"
There are a few places in the docs that seem to state inconsistent/contradictory facts on how `StringBuilder` is treated during PInvoke marshaling. Please clarify which is correct, and adjust the docs as appropriate to reduce future confusion.

### Some docs state that when a `StringBuilder` is passed by value to PInvoke, a pointer to the internal buffer is passed to native, and _no copy occurs_.

[2021-02-02 01:29] BlacKCaT27 commented on #36015
If you can point me in the right direction as to where to start in the code
I can maybe give it a shot, but it would have to be in my spare time. If
there's an expectation per your teams processes as to when you'd need this,
I'd appreciate a heads up.

Otherwise, it may be better for someone closer to the code to jump in. I'm
more than willing to dive in, but I'm not that familiar with all the
var

[2021-02-02 01:38] ericstj commented on #47024
My best guess at what's happening here is that something in the transport from Tom's machine is stripping the GZip compression from those files.  Perhaps the method he used to get them off/transport them?

In general we produce binlogs from linux all the time and don't have trouble reading them.  If we have some repro of GZipStream producing this payload directly we could investigate it.  Right no

[2021-02-02 01:39] Varorbc commented on #47612
![image](https://user-images.githubusercontent.com/5714438/106540056-1cc34580-653a-11eb-80b7-e422b083fdfd.png)

I found a lot of warning packets, but no exception was thrown at those points in time

[2021-02-02 02:16] davidwrighton commented on #12454
So, it turns out that I was incorrect in my initial triage of this bug. This test case has a bug. In particular, the `x` member of the `Program` class has private visibility not internal visibility. If `x` were internal, then this test passes. This distinction in behavior is correct, as the `InternalsVisibleToAttribute` provides access to internal members, not private members. Now, in my investiga

[2021-02-02 02:16] #12454 closed

[2021-02-02 02:54] SimonCropp commented on #715
a possible workaround for some: if you are targeting multiple DBs on one sql server instance, you can use [Sql synonyms](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-synonym-transact-sql?view=sql-server-ver15) to proxy all operations+queries through one database. then your code can use one `SqlConnection` and one `SqlTransaction` to talk to all the databases.

[2021-02-02 03:22] phzou204 commented on #43313
can't wait the dotnet version support M1 silicon

[2021-02-02 03:22] HongGit commented on #1395
@ViktorHofer we couldn't repro the issue, can you please let us know whether this test  still fails in recent runs?

[2021-02-02 03:28] noahfalk commented on #47617
Just to confirm you are saying it would be OK if we defined a new exception callback that didn't provide the ICorDebugFrame argument or we kept the current callback and return null for that parameter? If you use that parameter for anything we probably still have to do a stackwalk in DBI.

It is quite a bit more than I was anticipating we'd able to cut. I'm a little surprised we hadn't already cut

[2021-02-02 03:41] maddinthegreat commented on #47243
Hi,

it's needed for i.e.:
`    [Guid("644EFD52-CCF9-486C-97A2-39F352570B30")]
    [ComImport]
    public interface INetFwAuthorizedApplications : IEnumerable
    {
        [DispId(1)]
        int Count
        {
            [DispId(1)]
            [MethodImpl(MethodImplOptions.InternalCall)]
            get;
        }

        [DispId(2)]
        [MethodImpl(MethodImplOptions.InternalCall)]

[2021-02-02 04:03] layomia commented on #45188
Yup I'll assign myself and work with @steveharter to get these in.

[2021-02-02 04:04] lambdageek commented on #44213
This isn't going to be a public API.  The runtimes will just set it up on the platforms where it is necessary, possibly gated by a feature switch.  See https://github.com/dotnet/runtime/pull/47592

[2021-02-02 04:04] #44213 closed

[2021-02-02 04:19] briansull commented on #46529
/backport to release/5.0

[2021-02-02 04:38] #46405 closed

[2021-02-02 04:43] dkoshy opened #50010 "Time out issue happening while preforming scan in azure redis cache."
### Describe the bug
Timeout performing SCAN (5000ms), next: SCAN, inst: 0, qu: 0, qs: 1, aw: False, rs: ReadAsync, ws: Idle, in: 0, serverEndpoint: serverendpoint_name:6380, mc: 1/1/0, mgr: 10 of 10 available, clientName: XXXXXXX, IOCP: (Busy=0,Free=1000,Min=8,Max=1000), WORKER: (Busy=1,Free=32766,Min=8,Max=32767), v: 2.1.58.34321 (Please take a look at this article for some common client-side is

[2021-02-02 06:25] adnan-kamili commented on #36907
@cjlotz Our application is very big, I am not sure if it would help as we can't share any sample code to replicate the issue.

[2021-02-02 06:48] VincentBu commented on #47395
Failed again in run : [runtime-coreclr gcstress-extra 20210131.1](https://dev.azure.com/dnceng/public/_build/results?buildId=973314&view=ms.vss-test-web.build-test-results-tab&runId=30564144&resultId=101160&paneView=debug)

Failed test : `Interop\\UnmanagedCallersOnly\\UnmanagedCallersOnlyTest\\UnmanagedCallersOnlyTest.cmd`

CoreCLR windows x86 Checked gcstress0xc_zapdisable @ Windows.10.Amd64.Ope

[2021-02-02 06:51] hbjorgo commented on #47515
I don't have all the prerequisites for building this set up. Thank you for asking - maybe next time!

[2021-02-02 07:00] huoyaoyuan commented on #47720
Related: https://github.com/dotnet/runtime/issues/47122#issuecomment-770056183

[2021-02-02 07:03] VincentBu opened #47743 "Test failure : baseservices\\exceptions\\regressions\\Dev11\\154243\\dynamicmethodliveness\\dynamicmethodliveness.cmd"
Run : [runtime-coreclr gcstress-extra 20210131.1](https://dev.azure.com/dnceng/public/_build/results?buildId=973314&view=ms.vss-test-web.build-test-results-tab&runId=30564140&resultId=109730&paneView=debug)

Failed test : `baseservices\\exceptions\\regressions\\Dev11\\154243\\dynamicmethodliveness\\dynamicmethodliveness.cmd`

CoreCLR windows x86 Checked gcstress0xc_zapdisable_jitstress2 @ Windows.

[2021-02-02 07:20] VincentBu commented on #47141
Failed again in run : [runtime-coreclr gcstress-extra 20210131.1](https://dev.azure.com/dnceng/public/_build/results?buildId=973314&view=ms.vss-test-web.build-test-results-tab&runId=30565024&resultId=109964&paneView=debug)

Failed test : `JIT\\HardwareIntrinsics\\Arm\\AdvSimd.Arm64\\AdvSimd.Arm64_Part5_r\\AdvSimd.Arm64_Part5_r.cmd`

CoreCLR windows arm64 Checked gcstress0xc_jitminopts_heapverify1

[2021-02-02 07:27] VincentBu commented on #41928
Failed again in run : [runtime-coreclr gcstress-extra 20210131.1](https://dev.azure.com/dnceng/public/_build/results?buildId=973314&view=ms.vss-test-web.build-test-results-tab&runId=30564130&resultId=106240&paneView=debug)

Failed test : `baseservices\\threading\\interlocked\\compareexchange\\CompareExchangeTClass_1\\CompareExchangeTClass_1.cmd`

CoreCLR windows arm64 Checked heapverify1 @ Windows

[2021-02-02 07:39] rolfbjarne commented on #44736
@jeffschwMSFT my main concern is that we don't _prevent_ people from using custom crash-reporting mechanisms, and in that regard it's important to know if CoreCLR are using signals in any way right now (for instance: are NullReferenceExceptions implemented by handling SIGSEGVS like they are on Mono? And what out floating point exceptions such as division by zero / SIGFPE?)

Also on some platforms

[2021-02-02 07:45] Happypig375 opened #47746 "System.String.Concat(object, object, object, object)"
## Background and Motivation

While porting code from .NET Framework to .NET 5.0, one reflection use throws an exception due to `System.String.Concat(object, object, object, object)` not being found. `System.String.Concat(string, string, string, string)` is there. Why is this overload missing?

## Proposed API

[code]

## Usage Examples

[code]

## Alternative Designs

Nope.

## Risks

Nope.

[2021-02-02 07:54] karelz commented on #47583
Would it make sense to generalize it to global switch to disable either IPv4 or IPv6?

[2021-02-02 07:55] cjlotz commented on #36907
@adnan-kamili I'm not interested in source code, but more interested to know whether you managed to work around the performance regression and what you did?

[2021-02-02 07:59] lateralusX commented on #36820
No, since changes will now be done in the shared code, we won't need this. We still might need a way to communicate changes done in runtime specific shim implementation that might make sense to the other runtimes, but that can probably be notified per PR.

[2021-02-02 07:59] #36820 closed

[2021-02-02 08:09] karelz commented on #47035
Closing as there is not enough information to make it actionable.
Feel free to reopen once more info is collected/available.

[2021-02-02 08:09] #47035 closed

[2021-02-02 08:20] huoyaoyuan commented on #47746
The overload was always present since .NET Core 1.0 and .NET Standard 1.0.
Your reflection code may get confused and failed to find the method. Recheck it.

[2021-02-02 08:25] svick commented on #33417
@GF-Huang No, this issue is still open and .Net 5 has been released, which means it won't receive any new APIs.

[2021-02-02 08:28] Zapnologica commented on #44503
I am also having this issue, is there any eta on the fix?

[2021-02-02 08:35] Happypig375 commented on #47746
https://docs.microsoft.com/en-us/dotnet/api/system.string.concat?view=net-5.0
Not there.

https://docs.microsoft.com/en-us/dotnet/api/system.string.concat?view=netframework-4.8
Present.

[2021-02-02 08:37] huoyaoyuan commented on #47746
Sorry. I jumped to the false link.

Since you are using reflection, changing to `Join(object[])` shouldn't harm much.

[2021-02-02 08:39] Happypig375 commented on #47746
Yes, but adding this overload also shouldn't harm much. It fits the theme of reducing allocations and improving performance.

[2021-02-02 08:41] karelz commented on #46683
@eiriktsarpalis @layomia @steveharter can you please help triage this issue? Thanks!

[2021-02-02 08:41] karelz commented on #46514
@eiriktsarpalis @layomia @steveharter can you please help triage this issue? Thanks!

[2021-02-02 08:52] svick commented on #47746
Note that [the .Net Framework method](https://referencesource.microsoft.com/#mscorlib/system/string.cs,83140cb97d1a8514) is a weird beast:

Its actual signature is `public static String Concat(Object arg0, Object arg1, Object arg2, Object arg3, __arglist)`, where `__arglist` is the undocumented and almost never used keyword for functions with variable number of parameters.

This also means that th

[2021-02-02 09:04] neographikal commented on #2379
Okay performance is definitely terrible on Linux... On Windows it's fine. How can we get this higher on the backlog, this is barely usable in, even sending 3 modbusrequests / second on 9600bps is eating up a lot of cpu time while doing some basic string manipulations.

[2021-02-02 09:22] jabak commented on #35995
What is the best way to move forward? The change needed could be as simple as what @dmitry-84 outlines or what @TheXenocide proposes with his prototype code.

[2021-02-02 09:43] EgorBo commented on #43313
You can experiment with it today using our daily builds: https://github.com/dotnet/installer/blob/master/README.md#installers-and-binaries (click on "Installer" in `macOS arm64` x `Master (6.0.x Runtime)` cell) and install it on you M1 machine. Then:
[code]
Most likely you will hit a code signing issue if you try to run the final binary, but you can workaround it via an ad-hoc signing.

[2021-02-02 09:43] ryanheath opened #47748 "Optimized C# compilation code generates wrong values"
### Configuration

* C# compiler dotnet 5.0.102
* Windows, x64

### Description

We encountered a bug in optimized code generation, the code produces wrong results, however, when the NoOptimization attribute is applied, the code produces the correct results.
Unfortunately, we cannot reproduce the bug on its own. We'll provide the piece of source code, the optimized and no-optimized disassembly of

[2021-02-02 09:51] john-h-k commented on #30547
Sometimes it is useful to know if the `TryFormat` method is "real" or just forwards to `ToString` - that is an advantage of it being on `ISpanFormattable`, however, you could expose `bool TryFormatIsFast => false` DIM or similar. But it's a bit ugly

[2021-02-02 10:04] arfilon opened #47749 "Using NativeDigits and DigitSubstitution in formatting numbers"
Hello

I am considering emplement `NumberFormatInfo.DigitSubstitution` property.  since the remark section in (https://docs.microsoft.com/en-us/dotnet/api/system.globalization.numberformatinfo.digitsubstitution?view=net-5.0)
says
**The DigitSubstitution property is reserved for future use. Currently, it is not used in either parsing or formatting operations for the current NumberFormatInfo object.

[2021-02-02 10:04] aleksandr-urakov opened #47750 "A JIT bug in rejected VSD tail call processing logic on macOS x64"
### Description

Running the following code snippet in release mode on macOS x64 using the master branch of .NET Core:
[code]
The output is following:
[code]
The expected output is:
[code]

### Configuration

I run it on a self-built .NET core from the most actual master branch using macOS 11.1 x64. AFAIK, it isn't reproducible on Windows.

### Regression?

The issue is actual for .NET Core 5.0 to

[2021-02-02 10:07] #43933 closed

[2021-02-02 10:12] yyjdelete opened #47752 "HANDLEs is only freed after GC when try to sync wait an Task on windows?"
### Description
Execute the below program in net5.0/netcoreapp3.1/2.1.

Open taskmgr,procexp, processhack(`show unamed handlers=true`) or any other tools to monitor the HANDLEs number used by the program. And see it(type=event) keeps grow about 20/s.

It's not an leak, since the HANDLEs will still be freed after GC, but may long time latter if no other alloc happens.

[code]

### Configuration

*

[2021-02-02 10:28] huoyaoyuan commented on #47752
In the source code of `TaskCompletionSource` and `Task`, I've found only 1 handle creation (for `ManualResetEvent`), which is only used for legacy `IAsyncResult` interface, not `await`.
Are the handles related to thread pool? If so, changing thread pool implementation will get different behavior for them.

[2021-02-02 10:33] janvorli commented on #44736
@rolfbjarne we use signals for handling hardware exceptions like SIGSEGV and SIGFPE on Linux, but not on MacOS where we use exception ports (I was planning to migrate to signals on macOS too soon). But we only handle them when they occur in our code (managed code for both and SIGSEGV also in a few related JIT helpers). When they happen at other places, we call the previously registered handler to

[2021-02-02 10:38] huoyaoyuan commented on #47752
Yes. After a brief comparison between source.dot.net and referencesource.microsoft.com :

.NET Framework implementation of `Task.Delay` creates a native handle every time, and dispose it right after completion.
.NET Core implementation calls `TimerQueue`, which interacts with thread pool. You may be observing handles used by thread pool. I don't see any handle creation direct inside `Delay` and `T

[2021-02-02 10:45] EgorBo commented on #47748
@ryanheath Could you please create a self-contained repro (a console app with Main) because it's not clear what `ViewPosition` and `PrivateDebtDetail` are - are they structs? what layout, etc.

[2021-02-02 10:52] rolfbjarne commented on #44736
@janvorli I think we'll have to come up with some solution then, because that will interfere with third-party crash reporters.

The purpose of a crash reporter is to detect and report crashes _anywhere_ in an app, and they all assume that SIGSEGV/SIGFPE are bad and should be treated as a crash (rightfully so IMHO). They have no way of knowing that SIGSEGVs/SIGFPEs in certain parts of the app shoul

[2021-02-02 10:53] huoyaoyuan commented on #47752
https://github.com/dotnet/runtime/blob/4df29c9715659a7957ffeae8b79ba8b52d71ba02/src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs#L2876-L2878

This should be the really related thing. It says that no handle should be created at all.

[2021-02-02 10:56] jeroenwalter commented on #2379
I ran into the same issues, also addressed them some posts back, but no feedback from the dotnet team unfortunately.
You may take a look in my solution in https://github.com/jeroenwalter/Arduino/tree/netcore30/System.IO.Ports.Mono
My Arduino solution uses an implementation that I found on https://github.com/michaldobrodenka/System.IO.Ports.Mono
It works well on the raspberry pi 3.

[2021-02-02 11:05] janvorli commented on #2379
@wfurt is this something you can look into fixing?

[2021-02-02 11:20] #47728 closed

[2021-02-02 11:21] ramondeklein opened #47753 "System.Text.Json.JsonSerializer cannot deal with base interfaces"
### Description
It seems that `System.Text.Json.JsonSerializer` only serializes the properties of the top-level interface, instead of all the underlying interface. Suppose the following code:
[code]
When serializing the object as `IDerived` then only the properties that are defined in this interface are exported. I could imagine this behaviour when `IDerived` wasn't derived from `IBase` and when `

[2021-02-02 11:22] #47176 closed

[2021-02-02 11:53] Tornhoof commented on #47753
This is documented behaviour: https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-polymorphism (first few lines of text).
In general this is probably a duplicate of #29937

[2021-02-02 11:53] Sergio0694 commented on #43549
Just a thought - it would also be nice to add to the strength reduction category the ability for the JIT to move the base indexing calculation outside of the loop body in cases where the range is just over interior references on the same object, so eg. when doing a `foreach` on an array or a `Span<T>` or `ReadOnlySpan<T>`. We mentioned this a while back on Discord with @AndyAyersMS and I remember

[2021-02-02 11:59] ramondeklein commented on #47753
@Tornhoof The example in the documentation explicitly serializes the base object, but in my example I serialize the derived interface, which should also serialize the base objects. When I don't use interfaces, but use concrete classes, then it does serialize the base properties:
[code]

[2021-02-02 12:04] ryanheath commented on #47748
@EgorBo We have tried to localize the problem in a console app but the problem is not reproduced, not in debug mode, nor release mode, nor with added optimization attributes,

The ViewPosition class is large with lots of properties, see attached source.

[2021-02-02 12:04] akoeplinger commented on #47518
Given the design proposal for the TFM is `net6.0-maccatalyst` (https://github.com/dotnet/designs/pull/174) I'd prefer `maccatalyst` as the RID name so we're consistent.

[2021-02-02 12:07] ryanheath commented on #47748
[Program.txt](https://github.com/dotnet/runtime/files/5910948/Program.txt)

[2021-02-02 12:09] Tornhoof commented on #47753
#29937 is more or less the original issue about polymorphic support in general.
#45189 tracks the work for .net 6.0
#41749 tracks the discovery of properties for interfaces.

[2021-02-02 12:16] ramondeklein commented on #47753
Seems to be a duplicate of #41749, so I'll close this issue.

[2021-02-02 12:16] #47753 closed

[2021-02-02 12:21] netcorefan1 commented on #47704
I found this thread after searching on possible solutions when not all expected assemblies are unloaded.
Time ago I also wanted to do some "wpf load and unload on demand", but it turned out that it is not a supported scenario (and not something expected to be supported in the future). Not sure if it also involve WinForms or any other frameworks.
I suppose this is still valid with .Net 5, right?
Th

[2021-02-02 12:46] JinkerLeong commented on #47704
I gradually found possible solutions with the help of vitek-karas, but failed.
Then, I found that changing the loading method in the code can solve my needs.
I mainly **load the plug-in when opening the software, and then I can uninstall it**, as shown in my question
Change the following code：
[code]
to
[code]
Use the code to test in MainWindow()
[code]
So far, my software is running well, and the

[2021-02-02 12:47] hoyosjs opened #47755 "SDMSample test crash with segv on Debian"
Seen in https://dev.azure.com/dnceng/public/_build/results?buildId=974958&view=logs&jobId=71afe768-e493-597c-228c-037834193aeb

Relevant part of the stack:

[code]

I am not sure why the methodtable is null, but `0x00007fd1f866a9e5` doesn't seem to be a point . The point in the XUnit function is a call into `CORINFO_HELP_CLASSINIT_SHARED_DYNAMICCLASS`. The null issue with the method table happens

[2021-02-02 12:48] #47637 closed

[2021-02-02 12:50] marek-safar commented on #47518
My feeling is that I'd choose `maccat` for exactly that reason :-) to make it clear that maccatalyst TFM serves a different purpose and it's not needed for `maccat`

@ericstj any thoughts on the naming?

[2021-02-02 12:58] akoeplinger commented on #47518
I think from an end-user point of view the purpose is the same ("I want to target Mac Catalyst with managed/native assets") so I don't think we should make a distinction there.

[2021-02-02 13:00] marek-safar opened #47756 "Consolidate AOT pipeline tasks"
It'd be useful to consolidate all Mono AOT related tasks into 1 tool which can run all Mono AOT related work on published input at once. The tool should be able to run them all in parallel as no changes to input files are expected by it. The tool should be wrapped into the configurable task and run after IL linker and before AOT compiler.

We could include all of the following "micro-tasks" and lo

[2021-02-02 13:16] Cazzar commented on #46988
Because I would have just referenced this issue, I have updated the above description based off the process @safern

[2021-02-02 13:17] EgorBo commented on #47748
@ryalanms Thank you for the repro! Slightly more compact:
[code]
Under Debug:
[code]
Under Release:
[code]

[2021-02-02 13:29] tmds commented on #47500
The proposed solution is to lower the priority on the repo files from Microsoft in order to give preference to the dotnet packages that come with the distro.

With this known issue: in case a .NET version is not yet available from distro packages, pulling that version from the Microsoft repo will cause some/all versions not to work.

Can the priority can be added into the repo file at https://pack

[2021-02-02 13:29] lateralusX opened #47759 "System.Darwing.Common Icon tests failures on Mono on Windows."
System.Drawing.Tests.IconTests have a number of tests that hit this code path:

https://github.com/dotnet/runtime/blob/1d9e50cb4735df46d3de0cee5791e97295eaf588/src/libraries/System.Drawing.Common/src/System/Drawing/Icon.Windows.cs#L647

This code depends on COM support and currently Mono on Windows have not enabled COM support (inline with other Mono netcore platforms). This triggers a rather subt

[2021-02-02 13:34] SteveSandersonMS commented on #45689
+1 on keeping the connection/transport concepts out of scope here. They will have to be different for each application framework and deployment scenario. Only the IDEs/frameworks can bake in assumptions about how this has to work in their specific scenarios.

[2021-02-02 13:48] debruyckere opened #47761 "Support PInvokeStackImbalance MDA for 64-bit platforms"
The "PInvokeStackImbalance" Managed Debugging Assistant (MDA) is apparently only supported for 32-bit:
  https://docs.microsoft.com/en-us/dotnet/framework/debug-trace-profile/pinvokestackimbalance-mda

Please consider adding 64-bit support.

[2021-02-02 13:49] ryanheath commented on #47748
@EgorBo Great to see you succeed to reproduce it!

[2021-02-02 13:58] jkotas commented on #47759
Should Mono throw when it encounters unsupported type in the PInvoke signatures? It is what CoreCLR does on non-Windows.

[2021-02-02 14:07] jkotas commented on #44736
What are the third-party crash reporters that this is important to solve for?

[2021-02-02 14:08] CoffeeFlux opened #47763 "Developers using the Mono embedding API can upgrade to modern .NET"
Developers using framework Mono should be able to upgrade to the modern .NET stack with as little pain as possible.

### Work Items
- [ ] Publish runtime/workload packs for relevant targets: https://github.com/dotnet/runtime/issues/46994
- [ ] Run survey to better understand embedder needs and concerns
- [ ] Document embedding API deprecation and stability policy: https://github.com/dotnet/runtime

[2021-02-02 14:09] WizardBrony opened #47764 "Questions about System.Diagnostics.Process"
Does `System.Diagnostics.Process` have any thread-safe guarantees, or should I assume all members are not thread-safe? Additionally, is calling `Process.Kill` multiple times for the same `Process` safe, or is it only safe to call it once?

[2021-02-02 14:11] jkotas commented on #47761
The stack imbalance problem is specific to 32-bit x86 calling convention. It does not exist nor it is possible to detect it on other architectures.

[2021-02-02 14:11] #47761 closed

[2021-02-02 14:15] lateralusX commented on #47759
Yes, I believe that is something we should probably investigate doing, one thing I was a little curious around is how CoreClr handles that signature, is there some logic that will detect that the return in this case is actually the forth parameter of the underlying method so the interop can do the right thing or is that an effect of PreserveSig=false? Reading docs on PreserveSig it only says it wi

[2021-02-02 14:15] cubikca opened #49380 "dotnet-ef doesn't work with dotnet-sdk snap"
1. Install dotnet-ef: `dotnet tool install -g dotnet-ef`
2. Run dotnet-ef `dotnet-ef`

Error is thrown complaining about missing ICU library. libicu66 is installed on Ubuntu 20.04.

Fix:
1. Remove snap `snap remove dotnet-sdk`
2. Install from Microsoft repo `apt install dotnet-sdk-5.0`
3. Reinstall dotnet-ef `dotnet tool uninstall -g dotnet-ef && dotnet tool install -g dotnet-ef`

Now works as exp

[2021-02-02 14:20] jkotas commented on #47759
It is effect of `PreserveSig=false`. `PreserveSig=false` changes the unmanaged return type to HRESULT and moves the managed return type into an extra unmanaged `out` argument.

[2021-02-02 14:24] lateralusX commented on #47759
OK, that was what I suspected, then I believe this hits several underlying issues on Mono, first COM is not enabled/supported, and second, Mono doesn't implement the PreserveSig attribute, so above signature will not be adjusted. Is that behaviour of `PreserveSig=false` documented?

[2021-02-02 15:03] trueromanus opened #47765 "Apply DictionaryKeyPolicy to enum keys (and other primitive key types?)"
### Description

Example for reproducing issue:
[code]
jsonString in result: {"queue":{"**T**estValue1":1}}
jsonString in expected result: {"queue":{"**t**estValue1":1}}

Key name in dictionary not in camel case.

I investigated little bit and find out that **DictionaryKeyPolicy** and **Converters** (in my case JsonStringEnumConverter(JsonNamingPolicy.CamelCase)) don't executing while serializatio

[2021-02-02 15:08] CoffeeFlux opened #47767 "Remove MONO_CORLIB_VERSION"
This is no longer as useful with .NET 6, since we are much less likely to end up in a scenario where the runtime and corelib are out of sync. We haven't been good about bumping it with icall changes and it hasn't been a problem, so it should be safe to just remove.

cc: @akoeplinger @lambdageek

[2021-02-02 15:09] adamsitnik commented on #24847
Hi @alexbudmsft

We are currently working on a `FileStream` rewrite for .NET 6.0. I've done an initial analysis of the problems that we want to solve and it seems that using `OVERLAPPED` for not just async (we are already doing that) but also sync IO (we are not doing that yet) might help us solve #16354, #16341, #27047, and #25905.

If I am right, it could mean that we could fulfill your request

[2021-02-02 15:22] stephentoub commented on #47752
I don't see the cited behavior.  I copy/pasted your code into a .NET 5 app, ran it, and it's holding steady at ~180 handles per Task Manager.

[2021-02-02 15:25] jkotas commented on #47759
Submitted the documentation fix in https://github.com/dotnet/dotnet-api-docs/pull/5303/

[2021-02-02 15:27] adamsitnik commented on #47631
My only concern is that `epoll` does not support regular disk files, so this solution can't be reused for all kinds of streams.

I wonder whether we should revisit using `io_uring` again and adapt `ThreadPool` to work with `io_uring` instead. It has the obvious downside of being Linux-specific and supported only by new kernels, but might be more future-proof (it seems that `io_uring` might finally

[2021-02-02 15:27] directhex commented on #47517
A step is also needed for API review, as adding IsMacCatalyst() and IsMacCatalystVersionAtLeast() entries to src/libraries/System.Runtime/ref/System.Runtime.cs is subject to mandatory API change review.

[2021-02-02 15:41] directhex opened #47768 "Add IsMacCatalyst() and IsMacCatalystVersionAtLeast() to System.Runtime"
## Background and Motivation

As per the header, all changes to src/libraries/System.Runtime/ref/System.Runtime.cs are subject to API review. This is a minimal change to class OperatingSystem to add checks for [Mac Catalyst](https://developer.apple.com/mac-catalyst/), directly copying the existing behaviour of `IsTvOS()` and `IsTvOSVersionAtLeast`

Roughly speaking, Mac Catalyst exposes the iOS AP

[2021-02-02 15:46] davidfowl commented on #47631
I think we this API should work for both windows and linux and should basically abstract this async IO model for all operating systems.

[2021-02-02 15:50] CoffeeFlux commented on #43691
This was initially added a while back with https://github.com/dotnet/runtime/pull/46444

There is more work to be done here, since there is more code we can get behind the flag, but the core functionality exists. The remaining bit is lower priority since it's not useful until the Interop team's work on the PInvoke generation is completed.

[2021-02-02 15:56] stephentoub commented on #47746
Right, as @svick said, there is no overload:
[code]
in .NET, neither in .NET Framework nor .NET Core.  Both have:
[code]
and then .NET Framework also has:
[code]
To call that, you'd have to write code like:
[code]
and then under the covers that's just going to turn around, allocate an object[], and call the previously cited Concat(params object[]) overload.

As effectively no one uses that overloa

[2021-02-02 15:57] #47746 closed

[2021-02-02 16:03] CoffeeFlux commented on #45454
Now that the mirror is off, it should be safe to get rid of the Mono-specific copy of zlib, assuming it's identical to the one in libraries. However, like @akoeplinger mentioned, we do it need for some platforms so we can't get rid of both copies altogether. This is somewhat separate from getting rid of `USE_ZLIB` for the wasm build though.

[2021-02-02 16:05] eiriktsarpalis commented on #46514
Agree with @campersau that seems to be by-design. The workaround as provided in the OP is the recommended solution (but perhaps consider not allocating one options instance per request). I'm going to close this issue.

[2021-02-02 16:05] #46514 closed

[2021-02-02 16:07] stephentoub commented on #47764
No and yes.  There is some locking in the implementation, but that's to ensure that a consumer's single-threaded access doesn't collide in a bad way with asynchronous callbacks from the implementation.  Only one thread at a time should access a Process object.

You can call it multiple times.

[2021-02-02 16:07] ycrumeyrolle opened #47770 "secp256k1 curve does not wok on MacOS"
I am using the secp256k1 curve and it woking fine on Windows & Linux.
On MacOS, there is an exception:
[code]
The code used, also available on [GitHub](https://github.com/ycrumeyrolle/secp256k1_macos_issue):
[code]

Is it related to https://docs.microsoft.com/en-us/dotnet/standard/security/cross-platform-cryptography ?

[2021-02-02 16:10] #47764 closed

[2021-02-02 16:12] tmds commented on #47631
`SocketAsyncEngine` deals with more than polling. It keeps track of multiple async reads/write that are performed against a SafeHandle and executes them in order. It also supports aborting all on-going operations when the SafeHandle gets disposed.

This requires per `SafeHandle` bookkeeping of on-going async operations.

[2021-02-02 16:16] vcsjones commented on #47770
MacOS does not support Koblitz secp256k1. Currently, only nistP256 (also known as secP256r1), nistP384, and nistP521 are supported. My most current understanding of the issue is that the macOS platform does not support this ECDSA curve.

[2021-02-02 16:16] stephentoub commented on #47617
I'll take it :smile:

[2021-02-02 16:36] eiriktsarpalis commented on #46683
That's surprising, since on quick inspection it seems like `HttpClient` will also call `LoadIntoBufferAsync` eventually. Could you provide a minimal reproduction that demonstrates the issue?

I can't help noticing that you're running a v5 library on .NET Core 3.1. I believe `JsonContent` was added in 5 so I wouldn't be too surprised if it depended on implementation details of the v5 HttpClient.

[2021-02-02 16:43] eiriktsarpalis commented on #47765
That seems like a bug to me. @layomia thoughts?

[2021-02-02 16:45] ycrumeyrolle commented on #47770
OK, I misread the documentation at https://docs.microsoft.com/en-us/dotnet/standard/security/cross-platform-cryptography#ecdsa
Thanks!

Elliptic Curve | Windows 10 | Windows 7 - 8.1 | Linux | macOS
-- | -- | -- | -- | --
NIST P-256 (secp256r1) | ✔️ | ✔️ | ✔️ | ✔️
NIST P-384 (secp384r1) | ✔️ | ✔️ | ✔️ | ✔️
NIST P-521 (secp521r1) | ✔️ | ✔️ | ✔️ | ✔️
Brainpool curves (as named curves) | ✔️ | ❌ | ⚠️1

[2021-02-02 16:45] #47770 closed

[2021-02-02 16:49] ericstj commented on #36390
Related: https://github.com/dotnet/runtime/issues/46988 (which could also solve this problem)

[2021-02-02 16:49] danielgerlag commented on #46683
It's not deterministic, bigger payloads are more likely to be sent as empty, so I suspect the `LoadIntoBufferAsync` is not being awaited somewhere, causing a race condition.

[2021-02-02 16:50] antonfirsov opened #47772 "SendTo*** and Receive(Message)From*** throw different exceptions when remoteEP AddressFamily does not match"
If the address family of the `remoteEP` argument does not match the socket's address family, variants of `Receive(Message)From` throw an `ArgumentException` thanks to this guard:
https://github.com/dotnet/runtime/blob/4df29c9715659a7957ffeae8b79ba8b52d71ba02/src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs#L1710-L1714

`SendTo` has the same limitation, but we do not guard those me

[2021-02-02 17:04] ericstj commented on #47518
I see, I had that backwards.  In that case should it derive from the iOS RID?

It is not.  It's meant for both native binaries and assemblies.  It's meant to model both platform API and native binary compatibility, to allow as much asset reuse as possible.  RID hierarchy is entirely pragmatic: it's whatever we find most useful.  The one thing it must be is *internal*; RID's cannot influence compil

[2021-02-02 17:20] eiriktsarpalis commented on #47685
I don't think we should support serializing `IntPtr` OOTB since it really isn't marshallable information. On the other hand, throwing exceptions would likely be a breaking change, even if we only do it for `IntPtr`. (I'm assuming that S.T.J. will do this in principle for any property whose type doesn't have a converter registered, @layomia can you confirm this is the case?).

The workaround seems

[2021-02-02 17:25] tarekgh commented on #47749
.NET doesn't support formatting or parsing none ASCII digits. Although, this is reasonable feature to add but it is not a priority to support it from now considering the other features work we are doing in the next releases.

I would suggest you can support that yourself without the need of the change in the .NET. You can write a simple code use the regular formatting code and then manually replac

[2021-02-02 17:25] #47749 closed

[2021-02-02 17:55] eiriktsarpalis commented on #46683
Are you able to verify that the same behaviour reproduces on .NET 5?

[2021-02-02 18:10] chrishamm opened #47777 "NetworkInterface.Speed broken on Linux"
I am trying to use [NetworkInterface.Speed](https://docs.microsoft.com/de-de/dotnet/api/system.net.networkinformation.networkinterface.speed?view=net-5.0) with .NET 5 on a Raspberry Pi (Raspbian 32-bit). I'm glad it no longer throws an exception like in previous .NET Core versions but it doesn't seem to be working yet for WiFi devices. It always returns 0 for WiFi adapters.

I haven't yet checked

[2021-02-02 18:15] netcorefan1 commented on #47704
Are you trying to just unload your plugin or your plugin along with the wpf assemblies that your plugin loaded? Because in the first case your plugin should unload just fine, but the wpf assemblies will stay loaded for the full lifetime of your application.
@vitek-karas may correct me If I am wrong, but this was when I reported this problem with 3.1 and I suppose should also apply to .Net 5.

[2021-02-02 18:23] wfurt commented on #2379
possibly. I'm mostly focused on other areas right now but the work needed may not be too large. I'll chat with @krwq about plan.

It would be great if people could  share simple projects so we have good baseline how this is used. I can make some guesses from the discussion but having some code easy to run and measure would be nice.

[2021-02-02 18:25] vitek-karas commented on #47704
I wish this were true. Unfortunately the frameworks are still full of issues which cause plugins to fail to unload (hold onto references of things in the plugin). There's a story tracking the work to make frameworks work well with secondary load contexts: https://github.com/dotnet/runtime/issues/43544.

[2021-02-02 18:33] layomia commented on #47765
cc @Jozkee

When we designed the feature to support non-string primitives as dictionary keys https://github.com/dotnet/runtime/pull/32676, we elected to keep applying `DictionaryKeyPolicy` to only string keys, as it wasn't clear whether doing so for other types with JSON string representations (`enum`s, `Guid`s, `DateTime` etc.) is a first-class scenario (https://github.com/dotnet/runtime/pull/329

[2021-02-02 18:42] layomia commented on #47685
@eiriktsarpalis I'd say we can throw `NotSupportedException` for types we explicitly don't want to support. We don't mind making the breaking change, especially if our current behavior is "lossy" (and perhaps surprising) like in this case. Some examples where we made such changes are with `SerializationInfo` (https://github.com/dotnet/runtime/pull/42605) and `Type` (https://github.com/dotnet/runti

[2021-02-02 18:42] wfurt commented on #47777
What `ethtool  -i wlan0` (and ethernet) gives you?

[2021-02-02 18:48] wfurt commented on #47612
We will not be able to peek easily inside the encrypted alerts. Since this seems like general instability of the server and network, you may try to wrap it in some retry mechanism. At this point, I don't see anything suggesting bug with the HttpClient. It is relaying information back to you and you will need to handle it in your app.

[2021-02-02 18:49] layomia commented on #41749
From @ramondeklein in https://github.com/dotnet/runtime/issues/47753:

[2021-02-02 18:49] layomia commented on #47753
Closing as dup of https://github.com/dotnet/runtime/issues/41749.

[2021-02-02 18:52] macrogreg commented on #47735
Btw, it is clear that in order for a no-copy marchaling to be feasible, the `StringBuilder` must be marshaled as `LPWStr`, e.g.

[code]

So, if the best practice is different depending on the Encoding used, please clarify it accordingly in the docs (and here).

Thank you!

[2021-02-02 19:07] safern commented on #46988
Thank you, @Cazzar. Based on the proposed API, would it be reasonable that the flag is named something like: `UseDefaultLists` or something that has to be set to true explicitly to trigger this behavior? Currently overriding the list is the default behavior, so I would like a flag that is explicit about turning on a new feature vs turning off an old behavior, does that make sense?

[2021-02-02 19:08] terrajobst commented on #31350
* Looks good as proposed

[code]

[2021-02-02 19:16] CodeBlanch commented on #46988
@safern The behavior right now is to add to the list, if possible, otherwise it does nothing (the readonly case). The behavior we want to enable is to override whatever is there.

[2021-02-02 19:17] marhja commented on #43637
I just experienced this problem and I vote for changing the default to stop the application on unhandled exceptions. As a .NET developer I don't expect exceptions to be swallowed by the framework. I can always do that myself if that is the desired behavior.

Would it be an alternative that instead of the `HostOptions.BackgroundServiceExceptionBehavior` property, which I assume would affect all bac

[2021-02-02 19:23] janvorli commented on #43349
@tmds I was unable to repro the `(pMDReal != NULL) || !pCF->IsFrameless()` assert problem on my arm64 Linux device and cannot repro it on the Apple Silicon anymore. Do you happen to have a list of tests that failed with that issue so that I can try to run them in a loop?

[2021-02-02 19:26] safern commented on #46988
Sorry I mixed up things. You're right. The proposal looks good.

[2021-02-02 19:30] wfurt commented on #2379
I have few RPi and I used it with serial USB connected to my x64 VM. I'm mostly interested in coding patterns. For example ReadByte() can be greatly simplified but I'm not sure how much that matters.

[2021-02-02 19:32] terrajobst commented on #822
* Looks good as proposed
    - Note: this is just syncing builder and immutable container, no API innovation happened here
* We should consider adding a unit test to make sure we keep API surface in sync between the builder and the immutable container
* We removed `Reverse` due to a source breaking change concern. We should follow up. We believe the concern is very low.

[code]

[2021-02-02 19:36] eiriktsarpalis commented on #47685
Ok, in that case throwing for `IntPtr` is something we could consider changing.

[2021-02-02 19:37] akoeplinger commented on #47518
Sure but it seems to be rare to use it for managed RID-specific assets, only native binaries. The only matches for the former I have in my NuGet packages cache are `Microsoft.*` and `System.*` ones :)

If NuGet authors are mainly using it for native binaries then it'd probably make sense to _not_ derive maccatalyst from ios since the native ABI isn't compatible.

[2021-02-02 19:39] neographikal commented on #2379
Not only for those home/hobby projects. Serial is still relevant, not only for home use, also especially for industrial applications. I'm using a Intel NUC as a modbus slave with a CH340G/RS485 USB stick.

[2021-02-02 19:42] directhex commented on #47518
What about the mobile case? Surely Catalyst can consume iOS managed nugets? Aren't there a whole bunch of Xamarin components out there?

[2021-02-02 19:43] jkoritzinsky commented on #43939
As someone who doesn't work on the WASM backend or on Blazor and only looked into this for the total of an hour or so, it looks like it should be possible, but it would require refactoring all of the Blazor calls into Javascript that touch the DOM to be asynchronous and to work via Promises and message passing from a Web Worker back to the main thread.

Given that everything ASP.NET Core is alread

[2021-02-02 19:47] terrajobst commented on #33765
* On by default as warning seems reasonable, given the scoped nature
* Adding a fixer that offers to multiply the length or call `Array.Copy` instead

[2021-02-02 19:49] CarnaViire commented on #42142
I discovered that by default Azure Functions work with DI scopes in a non-"conventional" way: creating a new scope "hides" an existing scope until that new scope is disposed. That is why the behavior described in this issue is only reproducible in Azure Functions environment. `HttpClientFactory` implementation relies on the fact that any number of scopes can exist and not interfere with each other

[2021-02-02 19:50] lewing opened #47780 "[wasm] plain Task marshaling failing"
The bindings are failing when mashing a non generic task

Reproduce with the wasm console sample and a

[code]

Error is
[code]

[2021-02-02 19:55] kg commented on #47780
What args did you pass when running it?

[2021-02-02 19:56] terrajobst commented on #33778
* On by default as info seems fine

[2021-02-02 19:58] lewing commented on #47780
just did a `make build run` in `src/mono/netcore/sample/wasm/console`

[2021-02-02 20:03] akoeplinger commented on #47518
The existing Xamarin.iOS nugets don't use the RID setup so they'd be pulled in because of the compatibility mappings that will be defined as part of https://github.com/dotnet/designs/pull/174

[2021-02-02 20:05] chrishamm commented on #47777
For WiFi:
[code]

And Ethernet:
[code]

[2021-02-02 20:08] andreispark opened #50011 "Running NetCore console app as a systemd service not working on OpenSuse 15.2"
### Describe the bug

Basically I created this issue but could not comment on it anymore only the collaborators are allowed to comment on it. I am still having the same issue even in dotnet 5.0 I even tested this with a simple hello world application that runs in CentOS, but fails to un in OpenSuse.
dotnet/extensions#2947

I am running a netcore 3.1/5.0 console app as a systemd service following M

[2021-02-02 20:08] lewing commented on #47780
[code]
Works so it looks like we're doing something wrong around AsyncTaskMethodBuilder

[2021-02-02 20:13] AndyAyersMS commented on #47748
@EgorBo can you investigate where things go wrong?

[2021-02-02 20:14] EgorBo commented on #47748
@AndyAyersMS sure!

[2021-02-02 20:14] wfurt commented on #47777
oops. cut & paste error. can you please run the ethtool _without_ the `-i` flag? That should show speed reported by the driver.

[2021-02-02 20:15] terrajobst commented on #33779
* We believe detecting open-ended for loops is too expensive and generally not worth it
* It seems detecting usages of `Equals` with arrays might be worth flagging
* Should we have an analzyer that detects `SequenceEquals` with two arrays and suggests `AsSpan()`
* Should we add an SZ member for `SequenceEquals` that by-passes `Enumerable.SequenceEquals` implementation? Or an extension method?
* An

[2021-02-02 20:15] tannergooding commented on #32879
@AndyAyersMS, do we know how complicated it would be to support this via say some attribute for specific reference types?

I imagine that while we generally want to share when possible, their are likely explicit cases where we know it would be beneficial to specialize (at an opt-in, per method basis).
For example, `string` is fairly common as are cases like `ICollection<T>` or `T[]` for various pe

[2021-02-02 20:15] carlossanlop commented on #33765
Thanks. The `Buffer.BlockCopy` documentation remarks should also be expanded to also describe the suggestions that this analyzer will provide: https://docs.microsoft.com/en-us/dotnet/api/system.buffer.blockcopy?view=net-5.0#remarks

[2021-02-02 20:23] chrishamm commented on #47777
Ahh thanks for pointing me to `ethtool`, it looks like `ip link` fooled me. It turns out my router had throttled the Ethernet connections to 100MBit so the value was actually correct. I've updated my initial comment.

`ethtool` fails to retrieve further details from the WiFi adapter:

[code]

[2021-02-02 20:28] GrabYourPitchforks commented on #33779
I vote for the type check within 'Enumerable.SequenceEquals'. We could special-case a bunch of things: SZArray, ArraySegment, ListOfT, etc.

[2021-02-02 20:50] wfurt commented on #47777
yah. if the driver does not report speed, there is no good way for .NET to know. You can try to ping the community and check if there is perhaps updated driver.
As last resort, you can try to check `/sys/devices/virtual/net/wlan0/speed`. Doing file IO is not great, but we may consider it if the API call fail.

[2021-02-02 20:56] karelz commented on #46944
Triage: May be worthwhile, but only 1 customer asking for it + there is simple workaround. Let's wait if more people upvote the top post before adding yet another API.

[2021-02-02 21:01] karelz commented on #46936
Triage: It sounds reasonable. There may be implementation difficulties if the host is not DNS-resolved, or if proxy is involved and we didn't hit the server yet.
Another option is to use telemetry to see exactly where things failed. Having IP in exception would be nice though (and easy to use).

[2021-02-02 21:04] AndyAyersMS commented on #32879
See also #9682.

From what I know of the runtime it might not be too bad, though I suspect the assumption that ref class instantiations are always shared has crept in a (few?) places, and there's nothing to keep things honest.

Maybe @davidwrighton can comment -- I think he has mentioned perhaps enabling "unshared" ref class instantiation driven by profile feedback.

[2021-02-02 21:11] samsosa commented on #46944
Most RESTful API implementations support implicit `Content-Encoding: gzip`.
We use it for all such kind API services, as it significantly reduces the amount
of JSON-Payload transferred. (... by up to 90 %)

Currently, we compress the payload before sending it using GZipStream and
set the appropriate request header.
We would not reject a clean, reasonable API within .NET. 😉

[2021-02-02 21:15] chrishamm commented on #47777
Unfortunately that file doesn't exit. I already need to use file IO to get the WiFi signal level from `/proc/net/wireless` but it doesn't provide the current bitrate either. Perhaps it's worth to check out the iwconfig/wavemon sources and to check how they read the network speeds/signals.

[2021-02-02 21:17] tannergooding commented on #32879
I see I asked basically the same question 2 years ago and forgot about it 😄

[2021-02-02 21:25] wfurt commented on #29935
fixed by #46897 for 5.0

[2021-02-02 21:25] #29935 closed

[2021-02-02 21:27] gregg-miskelly commented on #47617
First, let me try to be precise for what the VS debugger would need:
1. All of the notifications: obtain the current exception object, and the type
2. User first chance: determine the module+token of the top function to decide if the method has a non-user attribute
3. User unhandled:
    A. Determine if the handler frame is the func eval catch handler or transition frame (Managed->Unmanaged, Unman

[2021-02-02 21:36] arfilon commented on #47749
Thanks for offering help on this.
we already did the necessary workaround.

What I propose is permission to help in actually implementing this for future releases.

But unfortunately, I have to wait until non-ASCII formatting to be added to the roadmap.

And what the point of not supporting non-ASCII, is that for runtime compatibility cross environments and operating systems or just for low priori

[2021-02-02 21:38] #47492 closed

[2021-02-02 21:44] eerhardt commented on #40398
This issue started cropping up again. See https://github.com/dotnet/runtime/pull/40287#issuecomment-771194135

[2021-02-02 21:50] jeromelaban commented on #47334
I'll retry with latest builds, thanks zoltan.

[2021-02-02 21:50] jeffhandley commented on #36092
@Jozkee Could you take a look at this when you get a chance and let me know what you think the behavior is supposed to be? Thanks!

[2021-02-02 21:57] tarekgh commented on #47749
A couple of reasons, first is the perf. we are trying to make formatting or parsing well performed because these used in most popular scenarios. Second, this feature was not getting any demand behind it. we saw most of the users are satisfied with using Ascii numbers.

Usually I see this as a feature that anyone can provide in the Nuget packages and not necessary needed to be part of the core. I w

[2021-02-02 21:59] echesakovMSFT commented on #43789
@TamarChristinaArm Agree, I will try implementing the approach after finish the stack probing work on arm64.

[2021-02-02 21:59] sandreenko opened #47786 "CQ: Don't force const arguments to temps."
Morph has a following todo:
https://github.com/dotnet/runtime/blob/96019a4bccb8e31f4f13f701099550c9cf136e22/src/coreclr/jit/morph.cpp#L1343-L1346

so the code should look like:
[code]

In addition, there are other similar places, from a quick search:
1. the one that is mentioned above;
2. https://github.com/dotnet/runtime/blob/96019a4bccb8e31f4f13f701099550c9cf136e22/src/coreclr/jit/importer.cpp#L

[2021-02-02 22:01] sandreenko commented on #47786
@alexcovington I thought you could be interested in this issue, I expect some positive diffs from it.

[2021-02-02 22:06] EgorBo commented on #47748
@AndyAyersMS ah, actually it doesn't reproduce on master (and even on .NET6-preview1 binaries)
Do you want me to find the exact commit which fixed it (if we want to backport to .NET 5.0) ?

[2021-02-02 22:20] wfurt commented on #47777
it would be best to fix the driver IMHO. I'm going to close this for now as there is not actionable plan and Ethernet works ok.

[2021-02-02 22:20] #47777 closed

[2021-02-02 22:39] jeroenwalter commented on #2379
I use my own .netcore fork of the SolidSoils Arduino library on a rpi3. The rpi is not sending commands to initiate data transfer. Instead the Arduino is constantly putting out firmata messages to the rpi.
The SolidSoils code (my fork as well as the original SolidSoils lib) uses the ReadByte() method in the DataReceived event to parse firmata messages.
See the method SerialDataReceived() in https:

[2021-02-02 22:46] steveisok commented on #47518
Yeah, I think it makes sense to derive from unix then.

[2021-02-02 22:49] netcorefan1 commented on #47704
It seems to be that the situation became worse over the time. Now Wpf tries to keep more assemblies as possible, included the plugin. But not only Wpf, in my case the following assemblies loaded from a third party assembly failed to unload:

System.Runtime.InteropServices.RuntimeInformation.dll
System.Linq.dll
System.Collections.dll
netstandard.dll
System.Collections.Concurrent.dll
Microsoft.Win32

[2021-02-02 23:01] ericstj commented on #47518
You can use Kusto to do a more scientific query.  We shouldn't discount our own packages.  Those packages are going to grow because of this with a redundant copy of the binary.

Native binaries work with either parenting, since `maccatalyst` will be more specific.  Managed binary reuse *only* works if you parent from OSX.

[2021-02-02 23:07] buyaa-n commented on #44231
I was planning to fix browser build warnings by separating all APIs unsupported on the browser, but this issue is still could happen in the future when we add more annotations, which requiring clear separation of platform-specific APIs and forcing developers to duplicate their code to conform to the strict supported-platform name rules.

After having some discussions with the mono team and @terraj

[2021-02-02 23:11] vitek-karas commented on #47704
All these assemblies are framework assemblies - there's no way to unload them. I don't know how you load them, but the only really supported configuration is to load them to the default load context - which means they can't unload.

As discussed in some other issues, there's no support for unloading frameworks (either as a whole or per-assembly). In fact there's no support to "load" frameworks dyn

[2021-02-02 23:32] tarekgh commented on #46704
I have updated the proposal in the top and marked the issue ready for review. If you have any feedback please let's know before this get reviewed by the design committee.

[2021-02-02 23:38] macrogreg commented on #46704
@tarekgh sorry, I was out for a few days, just seeing this. I'll take a close look in the next 2 days.

[2021-02-02 23:41] tarekgh commented on #46704
Thanks @macrogreg. Sorry interrupting you during your time off. I hope you can get back to us before Thursday as I expect the review will be scheduled that day. If you cannot do it, I can try to remove the ready for review mark till you respond. Please let me know what work best for you.

[2021-02-02 23:46] macrogreg commented on #46704
Ok, @tarekgh , I'll review tomorrow morning and if it takes longer I'll add a comment here.

[2021-02-02 23:46] janvorli commented on #47423
I have tried that on my Odroid XU4 (arm32 only device) with Ubuntu 20.04. The default docker reproed the issue, but after upgrading it to the one from the docker repo it worked fine (I had to use repo for bionic, as the one for focal didn't contain armhf packages for some reason). This time the docker version was 20.10.3.
I was googling a bit and found the alpine 3.13 release notes that describe a

[2021-02-03 00:12] danmosemsft commented on #36907
@adnan-kamili an issue over there could still be helpful even if you can't share repro code, eg., they can ask about your configuration, what changed, what you're seeing, etc. Others may notice the same problem, and a picture emerge. Either way, it's probably not connected with the codegen issue here (although nothing's impossible 🙂

[2021-02-03 00:14] Anipik commented on #47268
@sokolovsa can you please the error and machine configuration bcoz i am not able to repro the bug.

[2021-02-03 00:26] eiriktsarpalis commented on #47525
Here's an [example](https://github.com/eiriktsarpalis/runtime/commit/a88f35f351262539000549acdcb5c4274ff6c0d1#diff-c6673cb39b49e84d51d68f22e0f00f4b1ba2ee2a60d40c7b6212163a4803bb9aR2463) of how timeouts could be implemented over the existing proposal. Each new awaiter must allocate a `CancellationTokenSource` instance with delay set to the specified timeout. We'd need to find a good way to dispose

[2021-02-03 00:36] eiriktsarpalis commented on #47525
This is pertinent to @stephentoub's proposal in https://github.com/dotnet/runtime/issues/47525#issuecomment-771101881, in that it would be expected to support scenaria where both a cancellation token and timeout are specified, which would make the implementation more complicated than needed.

[2021-02-03 00:54] buyaa-n commented on #25397
Sounds like we will not fix this, @jp2masa I hope the above workaround was helpful for your issue, could we close this issue?

[2021-02-03 00:56] wmx16835 commented on #1163
This proposal is intended to enhance RAII and avoid resource leak in C#. RAII in C# today is NOT complete because `using` is not cross context, and any code manages resources cross contexts has ambiguous ownership and is NOT exception-safe by definition.

The issue does not seem to be frequent because in many cases people won't easily realize there is an exception-safety bug in their code, which i

[2021-02-03 00:57] stephentoub commented on #47525
_If_ we decided to go with a WithTimeout, I don't think we'd build it this way.  It'd be better in that case to build it on top of Timer (or TimerQueueTimer) directly, rather than the layer of CancellationTokenSource in the middle, throwing an extra layer of exception, etc.

[2021-02-03 01:13] sharwell commented on #1163
❗ The example code has a serious bug.

[code]

The above code relies on `Move()` being a mutable method that assigns a value to a field of a structure. However, since the language defines the value of a `using` statement as a read-only location, the `Move()` call operates on a _copy_ of `resource`, which means the original is unaltered and the resource is always disposed.

[2021-02-03 01:22] eiriktsarpalis commented on #47525
Agreed, I suppose my point is it becomes straightforward to author as an extension method over cancelable awaitables.

[2021-02-03 01:25] stephentoub commented on #1163
I did try it, and I provided my honest feedback about why I don't believe it has a place in the core libraries; I'm sorry if that came across as "trashing" it.  It's great to hear you've had success with it in your libraries, and you can obviously continue doing so.  Without additional language support, though, this feels to me right now as a non-starter.

[2021-02-03 01:28] wmx16835 commented on #1163
I did not find any related section in the [using statement](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/using-statement) page, and could not reproduce the bug: https://dotnetfiddle.net/S5bUA4

When will this happen? Could you provide any related document?

[2021-02-03 01:29] stephentoub commented on #1163
https://en.wikipedia.org/wiki/My_two_cents

[2021-02-03 01:33] stephentoub commented on #1163
@sharwell, are you sure? I see this:
[code]
That ldloca is operating on the original.

[2021-02-03 01:39] vpopescu opened #47791 "Out of range exception/crash during http certificate validation on Linux"
### Description

When running on linux, I receive an exception during https connect ( see full exception at the bottom).

[code]

### Configuration

5.0.102 SDK on both windows and linux.
Linux is WSL2 (Ubuntu distro), however it also fails the same way when running in a docker container with alpine, in azure AKS.

### Regression?

I don't know, but works on windows.

### Other information

I trac

[2021-02-03 01:49] stephentoub commented on #47791
This looks like https://github.com/dotnet/runtime/issues/46654, which was fixed in https://github.com/dotnet/runtime/pull/46904 for the .NET 5.0.3 release.

[2021-02-03 01:49] wmx16835 commented on #1163
I also considered to add it elsewhere in a Microsoft internal NuGet package since there would be less effort on my side, but it turned out the NuGet package only has one type, and it is actually a fix to `using` and `IDisposable`... I just could not think of a more appropriate place than the core library, and I also want to help others avoid such ownership hell in C#. I have seen enough incidents

[2021-02-03 02:04] AndyAyersMS commented on #47748
Yes. I think we'll want to fix this in 5.0.

Since you know which method has bad codegen, you can try diffing the 5.x and 6.x jit dumps to see where they diverge. That will likely pinpoint where the fix happened.

[2021-02-03 02:19] vpopescu commented on #47791
Thanks. I don't know why my search didn't pick that up. Are there any workarounds until 5.0.3 comes out?

[2021-02-03 02:38] jp2masa commented on #25397
Sure, I'll close it.

[2021-02-03 02:38] #25397 closed

[2021-02-03 02:47] sharwell commented on #1163
@stephentoub You're right. I ran into multiple problems with this type, but I mixed it up here. _Visual Basic_ is the language that causes the problem I described. For C#, the problem I ran into was an inability to initialize the holder via an `out` parameter, which is reasonably common in unmanaged interop scenarios.

[2021-02-03 02:49] stephentoub commented on #47791
@wfurt?

[2021-02-03 02:52] wfurt commented on #47791
You can install root CA to the system.

[2021-02-03 03:02] geoffkizer commented on #47714
We should fix the assert at the very least.

What does it do, just never complete?

I think we should just change the behavior here to throw `InvalidOperationException` for consistency. It's a usage error so changing the exception is not a big deal. And that would address the other weirdness here as well.

[2021-02-03 03:10] geoffkizer commented on #47772
I agree, we should change for consistency.

In general it seems better to be throwing `ArgumentException` or similar in these cases, since it represents a usage error, as opposed to `SocketException` which could indicate a variety of different issues.

[2021-02-03 03:19] geoffkizer commented on #47583
I doubt it. I haven't heard any issues re IPv4.

Even if we wanted to do this, I think it would be a separate switch.

[2021-02-03 03:47] John0King commented on #29690
I saw many people in this issue talk about the `dynamic` but what about the Writable JSON DOM ?
As a Newtonsoft.Json user,  I won't use `dynamic`,  instead I  use `JToken`  , because in many case the json is `data: T | T[]` ,
and to handle those data, you can't use just `dynamic` because it hard to know what is the type of the object.
the `JToken`  solve 99% of the serialize/deserialize problem ,

[2021-02-03 03:53] davidfowl commented on #47525
I think we should add the timeout overload. It's a super common scenario and we have the cancellation token one for more control already

[2021-02-03 04:05] wmx16835 commented on #1163
@sharwell

Not only for `out` parameters, even the return types shall not be a "holder". It is the responsibility on the user side to manage the lifetime of a resource, rather than the library side.

I think it is pretty simple to use, just add a "Movable<>" in your `using` statement whenever you want to transfer the ownership of a resource on the stack to an external place. There will be no side

[2021-02-03 04:05] davidfowl commented on #43637
I think one of the problems here is the fact that arbitrary libraries can add background services that run as part of your process. If those misbehave should it crash the application?

It's one thing to crash if it's code you control but it's not clear to me if I'd want arbitrary code to crash my app. It's the same reason ASP.NET catches unhandled exceptions that happen on the request. Otherwise i

[2021-02-03 04:18] BruceForstall commented on #47540
There are still some failures, so this issue should remain open.

[2021-02-03 04:20] vpopescu commented on #47791
Thank you, that worked. Sorry for the dupe. Will close.

[2021-02-03 04:20] #47791 closed

[2021-02-03 04:24] akhilesh84 opened #47793 "Question: Deserializing a claim using BinaryReader fails in netfx if the claim has a property set"
This is w.r.t. to the below issues that I could find:

[28515](https://github.com/dotnet/runtime/issues/28515)
[23004](https://github.com/dotnet/runtime/issues/23004)

I see the problem fixed in netcoreapp 2.1. Is there any workaround suggested for netfx?

[2021-02-03 04:29] sharwell commented on #1163
The issue I have isn't with the attempt to implement move semantics, but rather the subtleties of the type under the current language constraints result in an implementation with "holes".

[2021-02-03 04:30] dotMorten commented on #42460
I just hit the need for a TryGetValue today as well. The class is indeed useful for more than just BinaryFormatter (DataContractSerializers are an example).
I'm forced to use try/catch to get a value, as there doesn't seem to be a way to check if a property is present

[2021-02-03 04:32] sharwell commented on #47776
Also @AArnott

[2021-02-03 04:47] wmx16835 commented on #1163
@sharwell

I see. I think further discussion is needed to ensure no such "holes" are introduced if we think it is the right direction to go. At least I did not find any gap in my daily use of this facility.

It is defined at compile-time but actually works at runtime because exception is a runtime thing.

These should be restricted in the official coding guidelines and maybe in the stylecop as wel

[2021-02-03 05:05] NitishGawde commented on #47267
@karelz and @antonfirsov  what information do you need from my end.
 I will happy to share any information which is in my authority.
please provide a list of things you need.

[2021-02-03 05:29] msftrncs commented on #38966
This looks like a potential problem area.

https://github.com/dotnet/runtime/blob/d1c0fa82435ec5774f038dd7f33dfada1f1083b9/src/libraries/System.Console/src/System/ConsolePal.Windows.cs#L285-L296

Could it be possible that these characters are not triggering IsKeyDownEvent and this loop is eating them?

[2021-02-03 05:42] adnan-kamili commented on #36907
We didn't do anything to work around the performance regression. Just waiting for .NET 6.0, maybe that will improve the performance.

I have opened an issue for the same:

https://github.com/dotnet/aspnetcore/issues/29866

[2021-02-03 06:18] VincentBu opened #47794 "Test failure : System.Net.WebSockets.Client.Tests.CancelTest.ReceiveAsync_CancelThenReceive_ThrowsOperationCanceledException(server: wss://corefx-net-http11.azurewebsites.net/WebSocket/EchoWebSocket.ashx)"
Run : [runtime-libraries-coreclr outerloop 20210202.3](https://dev.azure.com/dnceng/public/_build/results?buildId=975366&view=ms.vss-test-web.build-test-results-tab&runId=30611542&resultId=102766&paneView=debug)

Failed test : `
System.Net.WebSockets.Client.Tests.CancelTest.ReceiveAsync_CancelThenReceive_ThrowsOperationCanceledException(server: wss://corefx-net-http11.azurewebsites.net/WebSocket/E

[2021-02-03 06:43] KalleOlaviNiemitalo commented on #42992
<https://github.com/dotnet/runtime/issues/45592> would let an application developer disable the implicit linking of cache entries and thereby avoid this problem. However:

* The developer would first have to understand that they need to configure MemoryCacheOptions this way. Perhaps that can be achieved by updating code samples.

  If an application is already leaking memory and the developer is t

[2021-02-03 06:59] yyjdelete commented on #47752
Sorry for some mistake, the behavior is the same between netfx and netcore, and may not related to  `System.Threading.Tasks`(see the below code with only Thread and Monitor)

Seems it always need an GC to free handles, but on net48, the max count seems much more smaller.(up to 1 to 3k in net48, and 30 to 50k in net5.0 on the same PC, and then it will be collected and increase from 1xx again)
Is th

[2021-02-03 07:08] marhja commented on #43637
@davidfowl You certainly got an important concern there. But the unhandled exception on a request in ASP.NET isn't just swallowed, it shows up in the developer exception page or as http status code 500.

The main problem I have is that (some) unhandled exceptions are swallowed. The logging added in .NET 6 certainly will help, but as others have pointed out that might not be enough in a production

[2021-02-03 07:21] fredrikhr commented on #43637
@marhja

Well when doing async you always have to, no way around it. That's not just for this case. When you call an async method you always can get exception both on the method call invocation (i.e. before the first await in the method) or while you're waiting on the await of the returned Task.

Yes, when your code is just `await MethodCallAsync()` you get the exception on the same line for both

[2021-02-03 07:38] JinkerLeong commented on #47704
I just uninstalled the plugin, not the wpf assembly, as @vitek-karas said, they are all loaded into AssemblyLoadContext.Default.
My problem is that when creating the context and loading the assembly in the relevant function of the Wpf program, there will be a problem, as if the assembly file seems to be locked.

I think my program should have successfully uninstalled them. I tested it like this:

[2021-02-03 07:39] #36244 closed

[2021-02-03 07:44] marhja commented on #43637
@fredrikhr

Yes, of course. But when implementing `ExecuteAsync` I don't know about it's unexpected behavior unless I read the source code of `BackgroundService.StartAsync`.

[2021-02-03 07:54] #43348 closed

[2021-02-03 08:59] AchimStuy opened #47795 "Move `ResXResourceReader` and `ResXResourceSet` from `System.Windows.Forms` to `System.Runtime`"
Hello everybody,

at first I'm neither sure, whether this is the right repository nor whether it is truely an API proposal. If not, please excuse and help me, where to open the issue.

## Background and Motivation

In an ASP.NET Core application I have a requirement to change ResX-Files without recompile. I would implement a custom `IStringLocalizer`, which reads from the ResX-files instead of the

[2021-02-03 10:38] EgorBo commented on #47786
Related: @AndyAyersMS's comment https://github.com/dotnet/runtime/issues/40381#issuecomment-669298823
(forward substitution during inlining should also allow to inline complex trees like `typeof(T)`).

[2021-02-03 10:45] adamsitnik commented on #13658
@joshudson We are currently working on a `FileStream` rewrite and I am trying to get the right prioritization for every task.

Could you please provide a small repro app of the problem that you are facing and describe exactly what is wrong and why?

From the description above I understand that you hit `OutOfMemoryException` when the framework code calls `SetCurrentStackTrace` or `TrySetException`

[2021-02-03 10:49] marhja commented on #43637
@davidfowl

Is this concern specific to background services? Don't every developer using any library in any type of application deal with this risk every day? To me, an unhandled exception in production indicates a bug, either in my code or in some library code. I'd like to know about that as soon as possible so I can fix it (or report it to the library author) and possible catch a specific except

[2021-02-03 10:49] janvorli commented on #47700
So I’ve found that it is a glibc bug: https://sourceware.org/bugzilla/show_bug.cgi?id=25847. The reported of the issue has analyzed the problem very diligently and found and proposed a fix to glibc to fix that. He/she has hit it in a C# application too, but other people have reported to hit it in Occam runtime and Python. The proposed fix fixed it for all of them.
Ubuntu is also tracing this bug (

[2021-02-03 11:27] netcorefan1 commented on #47704
@JinkerLeong Well, in your specific case you need to constantly run multiple plugins at the same time, therefore it makes perfectly sense to leave WPF loaded. Regarding the locked files, I recently found a thread (not sure where, but I believe in this repo) where this problem could be related to visual studio debugger locking assemblies. I am not sure if they have already fixed this, but you may w

[2021-02-03 11:29] karelz commented on #47791
Duplicate of #46654

[2021-02-03 11:45] JinkerLeong commented on #47704
Ok, when I tried to run the release, the error locking the assembly file disappeared. This surprised me. I didn't expect the problem to be here.

[2021-02-03 11:46] #47704 closed

[2021-02-03 11:47] vitek-karas commented on #47704
Maybe a better way to think about it in terms of load contexts (that's how it's implemented). Your statement above should be true when speaking about things loaded into the unloaded context. If there are any memory (or other) leaks from it, then it's a bug which should be fixed.

But the code in the custom load context is not isolated from the rest of the app so it can cause stuff to happen outsid

[2021-02-03 11:54] davidfowl commented on #43637
The error page only shows up of that middleware is enabled. If it isn't the exception is caught and logged by the server (much like it is in .NET 6 with background services).

I agree with this, the behavior is confusing and I wish we had done a Task.Run from the start. There doesn't need to be an InitAsync because there's already a StartAsync. We can change it now but it'll be a breaking change.

[2021-02-03 13:14] marhja commented on #43637
@davidfowl

When I commented out `app.UseDeveloperExceptionPage();` in Startup.cs the response have http status code 500 and the browser shows a generic error page.

I don't see the problem with this, it's usually a good thing to fail fast on unknown errors instead of keep running and hope that whatever error occurred won't for example corrupt any data. The BCL is taking on a big responsibility he

[2021-02-03 13:35] Vandersteen opened #47798 "<PREFIX_>SHUTDOWNTIMEOUTSECONDS does not affect generic Host shutdown timeout"
### Description

The use of DOTNET_SHUTDOWNTIMEOUTSECONDS environment variable does not affect the generic host

### Configuration

* Which version of .NET is the code running on? 5.0.102
* What OS and version, and what distro if applicable? MacOS
* Do you know whether it is specific to that configuration? No

### Regression?

This issue was already reported here: https://github.com/dotnet/runtime

[2021-02-03 14:03] davidfowl commented on #43637
That's because the server is doing you a solid and preventing your application from crashing.

Easy to say that when logging is configured. I'm sure people would be annoyed if their application died without a trace. No logs, no crash dump.

This doesn't apply.

[2021-02-03 14:13] stephentoub commented on #47752
There are plenty of improvements and tweaks that have gone into the GC, and that can include changes in budgets and what causes a GC to be invoked.  Other changes in the stack can also influence what's being allocated and thus pressure on the GC.  Net effect is GC timings are not constant across releases.

Yes, every object you wait on will end up with its own sync block and associated event, whic

[2021-02-03 14:14] #47752 closed

[2021-02-03 14:31] vcsjones commented on #19877
I'm no longer invested in this proposal, and given the lack of discussion on it, I am going to close this out.

[2021-02-03 14:31] #19877 closed

[2021-02-03 14:43] marhja commented on #43637
I'm certainly annoyed when my background service die without a trace now in .NET 5. 😅 I think it would be preferable that an unhandled exception in the background service would be propagated to the application, but I guess that's not possible. Then logging the exception and shutting down the application as suggested is acceptable.

[2021-02-03 14:54] danwalmsley commented on #44897
@sdmaclea is this a known issue?

[2021-02-03 15:00] mthalman commented on #47423
Thanks for pointing out those release notes.  A few key things here from the [release notes](https://wiki.alpinelinux.org/wiki/Release_Notes_for_Alpine_3.13.0):

For my RPi, Raspbian stable the latest version available for libseccomp is 2.3.3, less than the required 2.4.2.

Again, confirming the old version of libseccomp in Raspbian.

I tried executing my container with this option and it worked.

[2021-02-03 15:02] rakcopa opened #47799 "Assembly-Loading: Interop.HostPolicy.corehost_resolve_component_dependencies causes System.Runtime.Loader.AssemblyDependencyResolver.ctor to Fail"
### Description

**Context**
I'm migrating a C++/CLR DLL from .NET Framework 4.7.2 to .NET 5.
The DLL is a native extension that implements a certain C-interface which allows it to be used by some PowerBuilder-application.
When the application accesses functionality of the DLL it dynamically loads the DLL into the process and makes calls to the C-interface. When it is done using the extension, the

[2021-02-03 15:21] #508 closed

[2021-02-03 15:25] antonfirsov commented on #47714
Exactly.

[2021-02-03 15:35] ericstj commented on #47518
Just to restate the tradeoff here:
1. Parenting to `unix`:
  - Pro: failure behavior of `ios` package is file not found.
  - Con: Packages which build `ios` runtime specific binaries will need to duplicate assets.
2. Parenting to `ios` :
  - Pro: binary reuse of managed `ios` assemblies.
  - Con: failure behavior with an `ios` package is some form of load failure.

IMHO option 2 enables a scenario

[2021-02-03 15:56] davidfowl commented on #43637
Right, it was impossible to be because nothing was tracking the background task itself and that's why it had it be done by the instance and not the host.

Raising it to the application would mean some sort of OnBackgroundSericeUnhandledException event?

[2021-02-03 16:08] marhja commented on #43637
Such an event would not help much since it requires that the developer adds a handler.

[2021-02-03 16:11] codingdave opened #47800 "different behavior of VS 2019 build and dotnet msbuild"
### Description
From what I understand `dotnet msbuild` shall behave identical to building with Visual Studio (I have not read that anywhere and such my premises might be wrong).

My expectation is the behavior of Visual Studio: That the PostBuildEvent is not called if the output is not updated.

When I compile my sample from Visual Studio 2019 16.8.4 this is the output

    Build started...
    1

[2021-02-03 16:13] layomia commented on #46234
Dup of https://github.com/dotnet/runtime/issues/40393.

[2021-02-03 16:13] #46234 closed

[2021-02-03 16:16] EgorBo commented on #47748
I've bisected the problem and it turns out https://github.com/dotnet/runtime/pull/45134 fixed the issue - the ^ repro used to assert in Checked mode:
[code]
Looks like the fix is already backported and should be available in .NET 5.0.3 https://github.com/dotnet/runtime/pull/45989

[2021-02-03 16:16] #47748 closed

[2021-02-03 16:18] AraHaan opened #47801 "[Proposal] Warn when multiple TFMs would produce the same IL Code (When targenting multiple .NET Frameworks, Core, Standards)"
### Describe the problem you are trying to solve

I would like a warning like for example if one had the following on their csproj:
[code]

Where basically all of the .NET Framework targets (the ones where ``TargetFramework`` on each one starts with ``net4``) all produce the same IL Code (nothing conditional that changes the code at all, likewise with .NET Core until 3.0 would produce the same IL

[2021-02-03 16:20] mavasani commented on #47801
Moving to dotnet/runtime repo as this is specific to TFMs. The analysis mentioned above is possible (given we can now pass in MSBuild properties to analyzers), but I do not have background to know whether or not it is safe.

[2021-02-03 16:20] mavasani commented on #47801
Tagging @buyaa-n

[2021-02-03 16:21] layomia commented on #46431
Triage: consider as part of https://github.com/dotnet/runtime/issues/1256.

[2021-02-03 16:21] #46431 closed

[2021-02-03 16:24] AndyAyersMS commented on #47748
Thanks Egor. Looks like 5.0.3 should be available in the next week or so.

@ryanheath when 5.0.3 is out, it would be great if you could verify that it fixes your full app.

[2021-02-03 16:36] eiriktsarpalis commented on #47707
Triage:

* We are working on bringing `dynamic` support via #29690, this will not use `ExpandoObject`.
* It might still make sense to add this improvement for `ExpandoObject` in the future.
* Need to check: how does Newtonsoft treat `ExpandoObject` serialization with camelCase settings?

[2021-02-03 16:49] spouliot commented on #47599
right :-( this differs even more from our current attributes and tooling...

It made a difference in our current attributes, but those are also using string messages. I'm doing more measurements using the new, message-less, attributes...

_applications_ ? you mean it exists once in metadata and each type/member can reference the same entry (when identical) right ?

[2021-02-03 16:52] eiriktsarpalis commented on #47685
Triage: we'd be supportive of changing this into throwing `NotSupportedException`. The mechanism that we use for disallowing types is [DisallowedTypeConverterFactory](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Value/DisallowedTypeConverterFactory.cs). See also this https://github.com/dotnet/runtime/pull/42605#issuecomm

[2021-02-03 16:53] steveisok commented on #47518
@ericstj Thanks for breaking it down like that.  It doesn't seem like there's harm in deriving from `ios`.

[2021-02-03 16:54] qchroman commented on #37860
Hello all. Just in case, I wanted to report the same behavior. I have a service using IOptionsSnapshot to get its settings, but, if you put it under the load, let's say 30+rps and start manually changing the appsettings.json file, you may notice that sometimes the object doesn't contain required settings as if after the appsettings.json update it still tries to load changes you've made even though

[2021-02-03 16:56] #31350 closed

[2021-02-03 16:57] danmosemsft commented on #45441
@layomia I changed this from Proposed to In progress. Hopefully that's correct. It's certainly committed.

[2021-02-03 16:59] layomia commented on #47387
As @slavanap mentioned, converters can be used to provide custom logic for various DateTime(Offset) formats. Please see https://docs.microsoft.com/en-us/dotnet/standard/datetime/system-text-json-support for more info.

[2021-02-03 16:59] #47387 closed

[2021-02-03 17:03] layomia commented on #1256
From @Eneuman in https://github.com/dotnet/runtime/issues/46431:

[2021-02-03 17:04] layomia commented on #47178
Duplicate of https://github.com/dotnet/runtime/issues/1256.

[2021-02-03 17:04] #47178 closed

[2021-02-03 17:05] layomia commented on #1256
From @rathga in https://github.com/dotnet/runtime/issues/47178:

[2021-02-03 17:06] layomia commented on #46846
Will be addressed by https://github.com/dotnet/runtime/issues/45189.

[2021-02-03 17:06] #46846 closed

[2021-02-03 17:07] layomia commented on #46465
Dup of https://github.com/dotnet/runtime/issues/47707.

[2021-02-03 17:07] #46465 closed

[2021-02-03 17:10] bartonjs commented on #47449
Since the performance change is the cost of the key self-check that we intentionally added, and a scenario workaround has already been provided, I'm going to close the issue.

If there's still a compelling reason for something like RSA.Clone, please open a new issue for the API proposal/feature request.

[2021-02-03 17:10] #47449 closed

[2021-02-03 17:19] Anipik opened #47805 "[tests] System.Text.Json.Tests segfault, for `Libraries Test Run release coreclr OSX x64 Release`"
[code]
log https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-9a64c530bf744066ac/System.Text.Json.Tests/console.f709eb52.log?sv=2019-07-07&se=2021-02-22T19%3A41%3A51Z&sr=c&sp=rl&sig=xU%2FU9Zqz9syAbZ7PJnLwtfBYk6DtHDt4CTs5OIRB6dI%3D

build https://dev.azure.com/dnceng/public/_build/results?buildId=975991&view=logs&j=05e92ac1-194e-59cf-664a-fa72d1cdd19b&t=caea1d4b

[2021-02-03 17:20] Anipik commented on #47805
seems similar to https://github.com/dotnet/runtime/issues/46100

[2021-02-03 17:23] layomia commented on #46445
Preliminary note that `System.Text.Json` has the same behavior as Newtonsoft.Json here - https://dotnetfiddle.net/ViFFmX.

We'll likely not do any work here (given it would be a non-trivial breaking change), unless something related spills out of the feature work for snake_case support (https://github.com/dotnet/runtime/issues/782) in an effort to have a central algorithm between snake case, camel

[2021-02-03 17:27] Anipik opened #47806 "[Tests] Accessing an already closed handle in System.IO.FileSystem.Watcher.Tests"
[code]

log https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-73bfe3c9deb84eec88/System.IO.FileSystem.Watcher.Tests/console.00f80181.log?sv=2019-07-07&se=2021-02-22T03%3A07%3A50Z&sr=c&sp=rl&sig=j8bREhoOa%2FpJ6oiX%2BMrHUW7k0JL%2FhFo31NPBd94g37Y%3D

build https://dev.azure.com/dnceng/public/_build/results?buildId=975008&view=logs&j=05e92ac1-194e-59cf-664a-fa72d1

[2021-02-03 17:30] layomia commented on #46520
The larger feature here is allowing custom converters for dictionary keys. This was discussed as part of the design for allowing non-string dictionary keys in .NET 5 - https://github.com/dotnet/runtime/pull/32676. The most likely route to achieving this is exposing these internal methods on [`JsonConverter<T>`](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Text.Json/src/System

[2021-02-03 17:35] eerhardt commented on #45397
Adding a few more scenarios to this issue, as I found the same problem in more places while annotating System.Linq.Expressions for ILLink warnings (#45623).

| Scenario | Expected behavior | Actual behavior | Link To Code |
|---|---|---|---|
| `Nullable<>.GetValueOrDefault()` \[interpreted\] | ctor not invoked  | ctor invoked  | [link](https://github.com/dotnet/runtime/blob/8a52f1e948b6f22f418817e

[2021-02-03 17:36] eerhardt commented on #47647
Closing in favor of #45397. There are a handful of scenarios that need fixing here, it doesn't make sense to track each scenario in a separate issue.

[2021-02-03 17:36] #47647 closed

[2021-02-03 17:51] ryanheath commented on #47748
Thanks @Egor!
@AndyAyersMS I'll test it as soon as it comes out.

[2021-02-03 17:52] rudeGit commented on #47680
@wfurt I modified my client side to do following:

	var intermediateCertBytes = Convert.FromBase64String(File.ReadAllText(@"C:\Temp\TestIntermediate.pem"));
	X509Certificate2 intermediateCert = new X509Certificate2(intermediateCertBytes);

	using X509Store intermediateStore = new X509Store(StoreName.CertificateAuthority, StoreLocation.LocalMachine);

	//******** The following line requires admin p

[2021-02-03 17:53] alexcovington commented on #47786
@sandreenko I can take a look at it, will probably start on it Friday/Saturday as we have some other projects going on right now that need a little more attention.

[2021-02-03 18:00] arkalyanms opened #47812 "ImmutableDictionary has slowly been regressing and in version 5.0 is about 10X slower than Dictionary"
I am on the CPS team in Visual Studio and are benchmarking bottlenecks that [affect solution load](https://dev.azure.com/devdiv/DevDiv/_wiki/wikis/DevDiv.wiki/19818/Speed-up-netcore-solution-load) and a big contributor to the slowdown is Immutable collections. Instead of switching out the collection I started benchmarking across versions of the ImmutableDictionary for example and there is a steady

[2021-02-03 18:15] steveharter commented on #29690
The proposal for 6.0 is to support for `dynamic` and non-`dynamic` cases with an overlapping but consistent programming model. Newtsoft does this as well since `JToken` implements `IDynamicMetaObjectProvider` which supports `dynamic`. This means if you don't want to use `dynamic`, you don't have to. In general, I would expect most consumers to not use `dynamic` since it is slower.

Can you elabora

[2021-02-03 18:16] #3561 closed

[2021-02-03 18:26] carlossanlop opened #47809 "System.IO.FileSystem.AccessControl project has problems loading in Visual Studio"
1. I synced my local main branch to the latest bits.
2. I successfully built everything successfully using:
[code]
3. Also successfully built and executed the unit tests in IO.FileSystem.AccessControl:
[code]
4. But when I open the FileSystem.AccessControl.sln file,  all the types that exist both in `net461-windows` and `net6.0-windows`, show the following error message and red squiggle:
[code]
[c

[2021-02-03 18:31] terrajobst commented on #47599
Yes. The attribute applications point to an entry in the blob table that contains the data passed to it. So long the values are the same between applications even strings should be fine because you only pay for them once.

[2021-02-03 18:35] #30351 closed

[2021-02-03 18:47] danmosemsft commented on #3561
Thank you, @am11.

[2021-02-03 18:52] danwalmsley commented on #44897
@sdmaclea I have a feeling this might be happening sometimes when there are exceptions... but difficult to tell because it terminates everything.

I think this because I had a coding error which caused a NRE everytime... and I was not seeing any exceptions but the invalidjit error.

I ran on intel processor and saw it was reliably causing an exception.

Although I have had other exceptions work wi

[2021-02-03 18:54] danwalmsley commented on #44897
Other information... happens under debugger using jetbrains rider.

[2021-02-03 19:03] echesakovMSFT opened #47810 "[Arm64] Extend Compiler::lvaFrameAddress() and JIT to allow using SP as base register"
At the moment, on Arm64 we always establish frame pointer when allocating a stack frame. Given that fact and based on the logic in `Compiler::lvaFrameAddress()` the JIT would always use `fp` as a base register for addressing locals and temps. This can lead to un-optimal codegen in a situation when the JIT is required to use `frameType=5` (i.e. when `fp` points to a location above locals) instead o

[2021-02-03 19:05] msallin commented on #41586
We discovered that our readiness health checks which are executed by K8s every 10s sometimes timeout (5s). We extended the timeout to 30s, to see if its a kind of deadlock. It isn't but the HealtCheck sometimes run for 12s. Behind the scenes the HealthCheck does a "SELECT 1".

The Kestrel thread-pool starvation warning wasn't logged in this time and additionally, we increased the ThreadPoolMinThre

[2021-02-03 19:22] sdmaclea commented on #44897
@danwalmsley Apple has been driving the Rosetta 2 fixes.  It would help if you provide feedback to them via the developer feedback tool.  That helps them track issues people are seeing in the wild and prioritize them.

/cc @zwarich

[2021-02-03 19:36] #47518 closed

[2021-02-03 19:48] danwalmsley commented on #44897
@sdmaclea shall do :) thanks

[2021-02-03 19:52] davidfowl commented on #43637
Unfortunately there's no practical way to make the application aware other than to crash

[2021-02-03 19:56] #46583 closed

[2021-02-03 19:56] kunalspathak commented on #43713
I hit this problem again when investigating a regression in one of the benchmark because of loop alignment. The problem was in the generated code for `IndexOf()` method shown below:

https://github.com/dotnet/runtime/blob/9f921f470f0d6b9c1c732aced97b9922d34f2fdf/src/coreclr/System.Private.CoreLib/src/System/Collections/Generic/EqualityComparer.CoreCLR.cs#L19-L37

Here, we clone both the loops show

[2021-02-03 20:12] stephentoub commented on #47812
Dictionary uses a hash map and lookup is O(1).  ImmutableDictionary uses a tree and lookup is O(log N).

You mean the same operation with the same inputs has been getting slower and slower with each version of the nuget package?

[2021-02-03 20:15] stephentoub commented on #47812
cc: @adamsitnik

[2021-02-03 20:18] macrogreg commented on #46704
Hi, again, folks, :)

Sorry for having missed this discussion previously. It is, indeed, very similar to what I requested previously in https://github.com/dotnet/runtime/issues/42786, slightly scoped down.

This particular discussion is about the Trace Id only. Customising Span Id may (or may not) be necessary, but it is out of score here. :)

The API looks good, I like that the change is small. H

[2021-02-03 20:20] macrogreg commented on #46704
Minor point: TraceId**Creation**Function, instead of TraceId**Generation**Function?
It's shorter and communicates that an `ActivityTraceId` instance is being created.

[2021-02-03 20:21] arkalyanms commented on #47812
I understand, but lets compare the Dictionary and the Tree(ImmutableDictionary) states with 1 value loaded in them, so the tree doesn't have to look beyond the root. It still compared as 6ns vs 48ns respectively.

Yes, I picked version 1.5 to run the same benchmarks and values were quite a bit lower. Below is a perf trace comparison of the 2 versions with similar data:

**Version 5.0:**
Name | Exc

[2021-02-03 20:24] carlossanlop commented on #17418
The main problem mentioned in this issue was fixed by https://github.com/dotnet/runtime/pull/38742

There are many other problems mentioned in this issue but to avoid confusion, I'll close this. If there's interest in discussing the other problems mentioned here, please open individual issues for each.

[2021-02-03 20:24] #17418 closed

[2021-02-03 20:27] geoffkizer commented on #47631
I don't think this is the appropriate level at which to do something like this. The API semantics are quite different between epoll and IOCP; that's why we have all the `SocketAsyncContext` stuff.

We do have something of an IO abstraction in the Socket PAL. It's not very clean currently, but I think it's more in line with what you are asking for here.

[2021-02-03 20:37] mthalman commented on #47423
Ok, it actually looks like I've been dealing with two separate issues here.  The crash is definitely related to the time64 change in musl 1.2  By running on a compatible environment, that issue can be resolved _except_ for the code sample that I provided above which makes a web request:

[code]

@janvorli, have you tried that code in your environment?  When I run that in a supported environment, I

[2021-02-03 20:39] arkalyanms commented on #47812
Admission time: Only caught the fact that 1.5 was faster accidentally because benchmarkdotnet defaulted to it and it did not match the CPS numbers. Then switched the version to 5 that matches internal usage and the above 10x differences are based off of that. :)

[2021-02-03 20:47] eerhardt commented on #45771
Another instance in System.Linq.Expressions. See : https://github.com/dotnet/runtime/pull/47803#discussion_r569704695.

https://github.com/dotnet/runtime/blob/8a52f1e948b6f22f418817ec1068f07b8dae2aa5/src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Compiler/LambdaCompiler.Expressions.cs#L183-L186

[2021-02-03 20:54] eerhardt commented on #47798
@Vandersteen - #44080 was merged in 6.0 and didn't make it into 5.0. That is why you aren't seeing the old behavior. If you want to try a 6.0 build, it should be fixed.

[2021-02-03 20:54] #47798 closed

[2021-02-03 20:55] NikolaMilosavljevic opened #47814 ".NET Core 3.1 Runtime contains an unsigned binary - wixstdba.dll"
.NET Core 3.1 Runtime contains an unsigned binary: wixstdba.dll. This only affects Windows installers

This binary is part of Wix installer (Burn) and provides setup UI experience.

Windows Device Guard blocks the installation of .NET Core which will also affect distribution of .NET Core updates on WU/MU.

[2021-02-03 21:06] EgorBo commented on #1327
@jkotas @AndyAyersMS a few questions:
1) Can we just hoist `call CORINFO_HELP_GETSHARED_NONGCSTATIC_BASE` from the loop body in `Static` just like it was done for `Field`? https://www.diffchecker.com/mTHFbDfu (`Static` is on the left)

2) Regarding the inlined "is init" check - if I understand it correctly it should be something like this?
[code]

[2021-02-03 21:07] sharwell commented on #47812
It's not going to be possible to have a meaningful improvement to the read access performance of `ImmutableDictionary<TKey, TValue>` while it's backed by an AVL tree (i.e. there will be a significant performance difference in read-heavy scenarios between `Dictionary<TKey, TValue>` and `ImmutableDictionary<TKey, TValue>`). We recently implemented [`ImmutableSegmentedDictionary<TKey, TValue>`](https

[2021-02-03 21:07] janvorli commented on #47423
@mthalman I haven't tried this one, let me test it.

[2021-02-03 21:10] tarekgh commented on #46704
I removed ready for review tag for now till we resolve the feedback comments.

That is a good question. I can see the both ways. if `TraceIdGenerationFunction` throws frequently, that would make the app un-usable I guess. but I am not sure if this will be a concern as we have many other callbacks (like in `ActivityListener`) which can do the same effect. So, my take here is the runtime never catch

[2021-02-03 21:17] DynConcepts opened #47815 ".NET 5: Suggestion: Improve some aspects of mixed (Native + .NET) solutions"

[2021-02-03 21:19] DynConcepts commented on #47815
The first example would be handling of missing NATIVE DLL's. Right now there is no indication of the missing file name in the exception message in .NET 4.7 0 yet the information is likely available as Native applications do display it (I am presuming the low level Native code is the same and that it is the handling of the exception that differs....

There is a major about of mixed code in existanc

[2021-02-03 21:22] DynConcepts commented on #47815
Could not find "best" area label... I think "area-Interop-coreclr" would be appropriate, but could not figure out how to add it post issue creation.

[2021-02-03 21:44] NikolaMilosavljevic commented on #47500
[Triage] We need to break this into specific scenarios and prioritize them. Please consider Previews and future distro support.

[2021-02-03 21:44] dleeapho commented on #47500
/cc @rconard

[2021-02-03 21:47] marhja commented on #43637
What do you mean by "crash"? `Process.Kill()`? `Environment.FailFast()`? I thought the idea was a graceful application shutdown using `IHostApplicationLifetime.StopApplication()`.

[2021-02-03 21:57] arkalyanms commented on #47812
Thanks @sharwell It looks like there is some overlap with my FastImmutableDictionary implementation. My goal was to cover (a. Continue using ImmutableDictionary, but try to speed up with bug fixes like this one b. ImmutableDictionary that should not accept writes after it's been built (ImmutableSegmentedDictionary seems to achieve the same goal) c. Replace with a read-only collection instead since

[2021-02-03 21:59] vcsjones commented on #44738
@bartonjs Spent a bit of lunch time trying to get something done for this one since I thought it would be quick but it raised a few questions.

1. "can we just append to an `AsnWriter` as stuff is added" is a little tricky since it means `Build` can only be called once. That also has the effect of making it difficult to override `ToString` or do a `DebuggerDisplay`. Since this whole thing is seque

[2021-02-03 22:04] zmhh commented on #29932
If you are trying to read TimeSpan that was written with default System.Text.Json behavior, the touted workaround does not work.

Instead you can use this to read a TimeSpan written by the default System.Text.Json behavior:

[code]

[2021-02-03 22:04] BruceForstall opened #47820 "Remove xunit.console.dll workaround in run.py"
It is believed that that xunit.console.dll workaround in run.py (to download and overwrite this file to work around a bug) is no longer needed, and in fact might be harmful, and should be removed.

The code to remove is:
[code]

[2021-02-03 22:04] BruceForstall commented on #47820
@echesakovMSFT

[2021-02-03 22:30] macrogreg commented on #46704
Agreed.

Yes. For the activities that have a remote parent (and thus a `ActivityContex` is passed to `StartActivity(..)`), the `TraceId` comes from the context, doesn't it? So what I am saying is that the custom creator/generator should be able to consider that parent context. :)

[code]

Good point. We could consider some workaround similar to:

[code]

However, I am not saying that the complexit

[2021-02-03 22:33] Dixin commented on #28776
I am finalizing the code https://github.com/Dixin/runtime/commits/linq-index-range. However, I cannot find a place to add the XML comments `/// <summary>...` for the new APIs. I searched the entire repo, cannot find a proper file to add the XML documentation for `Enumerable` and `Queryable`.

@eiriktsarpalis Could you please help?

[2021-02-03 22:36] pentp commented on #43887
With #47085 providing the implementation selection infrastructure it would now be even easier to add a thread-safe implementation for `Random.Current` (or maybe `Random.Shared` to match the `ArrayPool` naming).

[2021-02-03 22:47] GrabYourPitchforks commented on #43887
Riding on @pentp's comment:

`Random.Shared` could be documneted as "returns a special thread-safe `Random` instance." That way, if somebody did store it in a field somewhere, nothing terrible would happen. JIT devirtualization could also ensure that calls to `Random.Shared.Next(...)` wouldn't go through virtual dispatch.

[2021-02-03 22:50] tarekgh commented on #46704
That is right.

This is the point that is unclear to me till now. Should the custom creator/generator be able to change the trace id of the current request? if so, then that is the concern I raised that we should honor the context passed to the StartActivity call without doing any change to it. Or you are saying the custom creator/generator will consider that in the future trace id generation when

[2021-02-03 23:38] MarkoZnidar commented on #44958
Installed 11.2 and the issue is resolved for me. I can debug in Jetbrains Rider, I can't say the same for VS Code because I haven't tried it, but I assume since it was labeled as Rosetta 2 issue  one can debug in VS Code too.

[2021-02-03 23:48] macrogreg commented on #46704
I am not sure I understand this bit:

Overall, that is exactly the topic of my second larger point which I am writing up right now.
The premise is that the guy who creates the trace-id-value value for the local root activity may want to do that both:
a) In cases where the local root activity is also the global trace-root activity - everything is "easy" in that case.
b) In cases where there is an e

[2021-02-03 23:57] smithsj2318 commented on #44958
I was able to debug in both Rider and VS Code after install of 11.2.

[2021-02-03 23:59] afr1983 opened #47826 "Managed Debugging Assistants"
Are there plans to bring the MDAs (Managed Debugging Assistants) to .NET Core / .NET 5?

I just spent an awful lot of time trying to pinpoint an issue that could have been easily fixed by having MDAs.

For those who don't know, in .NET Framework these assistants are extra checks done (when enabled) by the runtime  when dealing with unmanaged code. In my case, a .NET function was passed as a callba

[2021-02-04 00:01] noahfalk commented on #46704
I don't think your (b) was a requirement for AWS. From above in the conversation:

I would be hesitant to use this extensibility point for your (b) goal. I suspect we might want a separate feature that looks at an incoming ActivityContext and decides whether or not to create a new root activity. If it does create a new root Activity it probably also wants to generate various customizations of link

[2021-02-04 00:04] kunalspathak commented on #43227
Another round of analysis.

## Stability

I went through the stability data for [windows x64](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory/refs/heads/master_x64_Windows%2010.0.18362/AllTestindex.html) and [linux x64](https://pvscmdupload.blob.core.windows.net/reports/01_18_2021/report_Weekly_ca=x64_cb=refs-heads-master_co=Ubuntu1804_cr=dotnetruntime_cc=CompliationMode=tiered-R

[2021-02-04 00:06] davidfowl commented on #44435
This should be closed, I'm not exactly sure what a custom Build method would do here. We have an `IServiceProviderFactory<TContainer>` for extensibility in the host which satisfies this need.

[2021-02-04 00:07] davidfowl commented on #43637
The current plan is to do that yes, which will in most cases unblock main and will quit the program.

[2021-02-04 00:17] Webreaper commented on #44958
Can also confirm that debugging in VS for Mac works fine after upgrading to 11.2 (as expected).

[2021-02-04 00:39] ericstj commented on #41528
I took a look at the repro.  This has nothing to do with System.Drawing.Common.  The load is happening from Fonet.
[code]

Code is here: https://github.com/daniiiol/FO.NET/blob/850a249c994bfb4bbaf15e540304838390c192aa/src/Core/Pdf/Gdi/LibWrapper.cs#L11

This is a Windows-only library.  It won't work on Linux as far as I can tell.  Please file an issue in that library's repository.

[2021-02-04 00:39] #41528 closed

[2021-02-04 00:40] macrogreg commented on #46704
I am absolutely OK with scoping to only (a) as  described in the [earlier comment](https://github.com/dotnet/runtime/issues/46704#issuecomment-772907361), however, are we sure it is enough then:

Say, AWS X-Ray cannot process Trace IDs that are not "like they need them". If a call chain begins in an X-Ray monitored service, we cover everything by (a) and all is good. What if the call chain does no

[2021-02-04 00:55] macrogreg commented on #46704
As mentioned earlier, here my second consideration. :)

### II. Making sure custom Trace Id plays nice with trace context propagation in a heterogeneous monitoring environment.

Consider the scenario where vendor A uses default Trace Id creation, vendor B uses a custom Trace Id creation and vendor C uses a custom Trace Id creation that is different from B. Consider the following distributed call c

[2021-02-04 01:01] safern commented on #41528
Thanks @ericstj