[2020-02-25 14:58] stephentoub commented on #19495
There's a PR for perf tests at https://github.com/dotnet/performance/pull/951.

[2020-02-25 14:58] #19495 closed

[2020-02-25 14:59] stephentoub commented on #20915
Thank you for the suggestion.  I'm going to close this.  If we end up removing the old netstandard build, then we'll remove the private queue implementation at the same time, as it'll then be dead code.  If we don't, it's not worth the churn to try to consolidate to the single implementation used in corelib.

[2020-02-25 14:59] #20915 closed

[2020-02-25 15:01] marcselis commented on #31717
Ok, thanks for the backport!

[2020-02-25 15:01] #31717 closed

[2020-02-25 15:05] mikeTWC1984 opened #32797 "Microsoft.Bcl.AsyncInterfaces"
Microsoft.Bcl.AsyncInterfaces has dependency on  System.Threading.Tasks.Extensions  >= 4.5.2, and it works fine with 4.5.2 version. However if upgraded to 4.5.3 app will throw below exception
[code]

[2020-02-25 15:11] stephentoub commented on #23792
@terrajobst, it looks like NuGet added the necessary feature to properly deprecate packages.  Can you help get that taken care of here?

@svick, I'm not seeing the bad reference in the docs, so either I'm missing it or it's been fixed in the interim.  Is there still an issue there?

[2020-02-25 15:15] stephentoub commented on #24093
At this point, I don't see anything actionable in this issue, so I'm going to close it.  If there are places where the docs could be more informative, we'd welcome PRs to https://github.com/dotnet/dotnet-api-docs to do so.  And if there are places where the implementation isn't as prompt in responding to cancellation as it could/should be, we'd also welcome PRs to https://github.com/dotnet/runtime

[2020-02-25 15:15] #24093 closed

[2020-02-25 15:17] kevingosse commented on #28295
It's a mixed bag. I've seen large improvements in some apps and degradation in others (probably because work-stealing is a costly operation, as you identified). I'll re-open the issue if I manage to identify more precisely what workflows benefit from this and why.

[2020-02-25 15:17] #28295 closed

[2020-02-25 15:19] stephentoub commented on #28295
Thanks.

Yeah, that's what I'd expect.

[2020-02-25 15:20] stephentoub commented on #26757
I'm going to close this as non-actionable. If/when the issues can be distilled into something concrete, new issues should be opened. Thanks.

[2020-02-25 15:20] #26757 closed

[2020-02-25 15:24] eerhardt commented on #2643
In .NET Core 3 we've added a few APIs to support plugin based applications. Check out https://docs.microsoft.com/en-us/dotnet/core/tutorials/creating-app-with-plugin-support.

For the DependencyModel, if you know the plug-in assembly, you can get a DependencyContext for that assembly by calling `DependencyContext.Load(Assembly)`. If the `.deps.json` file exists next to that Assembly, it will read

[2020-02-25 15:24] #2643 closed

[2020-02-25 15:26] eerhardt commented on #2823
This is no longer necessary since DependencyModel no longer has a dependency on PlatformAbstractions. See https://github.com/dotnet/core-setup/pull/5218.

[2020-02-25 15:26] #2823 closed

[2020-02-25 15:29] eerhardt commented on #2654
Closing. These tests are not necessary. We've shipped multiple versions without them.

[2020-02-25 15:29] #2654 closed

[2020-02-25 15:30] stephentoub commented on #29496
I'm unable to determine at this point what this issue is tracking.

From the comments it sounds like the previously posted repro had a flaw.  Is there a new repro that shows exactly what bug is being highlighted?

Or is this just a general "the thread pool should handle sync-over-async better" issue?

[2020-02-25 15:32] stephentoub commented on #29881
Thanks for the discussion.  Closing.

[2020-02-25 15:32] #29881 closed

[2020-02-25 15:34] stephentoub commented on #30067
Closing as one specific case of https://github.com/dotnet/runtime/issues/14336.  It'd be good to address this holistically if it's going to be addressed.

[2020-02-25 15:34] #30067 closed

[2020-02-25 15:35] joshudson commented on #29496
The issue is async -> sync -> async can deadlock.

We ended up "fixing" this by writing a replacement for HttpClient using a synchronous streaming model.

[2020-02-25 15:38] stephentoub commented on #29496
Right, that's what I meant by  "a general "the thread pool should handle sync-over-async better" issue".  It's known that the thread pool's current thread injection heuristics don't always do well with significant blocking.  There are other issues, like https://github.com/dotnet/runtime/issues/7657, about that.

As for HttpClient, there are proposals for synchronous APIs here:
https://github.com/d

[2020-02-25 15:38] #29496 closed

[2020-02-25 15:39] eerhardt commented on #3433
@dagood - is this still necessary? I'm going to close it, but if you feel it is still necessary please re-open.

[2020-02-25 15:39] #3433 closed

[2020-02-25 15:40] eerhardt commented on #3657
Triaged. This can't happen until the underlying Utf8JsonReader API is exposed. Moving to future.

[2020-02-25 15:46] stephentoub commented on #31048
From a quick skim, the test looks correct to me.  I'm going to assume there was something broken lower in the stack when this occurred, and close this. If it happens again, we should definitely investigate.

[2020-02-25 15:46] #31048 closed

[2020-02-25 15:47] stephentoub commented on #17393
@benaadams, thoughts on whether this is still important?  If you believe it is, can you please add the API proposal details?  If not, can you please close it? Thanks!

[2020-02-25 15:49] janvorli commented on #32203
@yyjdelete thank you for letting me know, I'll try your sample to see what's wrong. When I was testing it, I've tested stack overflow on both the main thread and also on many secondary threads. Both cases worked for me, generating a stack trace.

[2020-02-25 15:49] #32379 closed

[2020-02-25 15:52] stephentoub commented on #2271
This test does _a lot_ of work (using words like "stress" and "torture" in it).  Seems like simply disabling it on stress runtime runs was the right fix.

[2020-02-25 15:53] orcun commented on #30694
@layomia Custom converters look powerful but too verbose. I guess benefits of fluent builder API is not so straightforward to explain. Perhaps I should develop such functionality as an external library instead. Thanks for your consideration.

[2020-02-25 15:55] stephentoub commented on #31503
@khellang, I think it's unlikely we'll end up doing anything here.  I'm going to close the issue, but please feel free to re-open it or create a new one if you have any good brainstorms on it, etc.

[2020-02-25 15:55] #31503 closed

[2020-02-25 15:55] tester346 commented on #32225
@riku76

I've been struggling with something very similar and that's what helped me https://stackoverflow.com/a/60355879/10522960

	public static void ExecuteScriptRx(string path, int processTimeOutMilliseconds, out string logs, out bool success, params string[] args)
	{
		StringBuilder output = new StringBuilder();
		StringBuilder error = new StringBuilder();

		using (var process = new Process()

[2020-02-25 15:58] stephentoub commented on #30339
Closing for the aforementioned reasons.  Thanks.

[2020-02-25 15:58] #30339 closed

[2020-02-25 15:59] #11542 closed

[2020-02-25 16:00] cheenamalhotra commented on #32774
Thanks @Wraith2 for the tag.

Hi @davidmikh

We're currently working on improving overall tracing experience in SqlClient (see issue dotnet/sqlclient#93), I will move your request to the same issue instead, so we'll remember to address this as well.

Closing issue in this repository.

[2020-02-25 16:00] #32774 closed

[2020-02-25 16:00] stephentoub commented on #24038
Closing as being addressed by an existing library in the ecosystem.

[2020-02-25 16:00] #24038 closed

[2020-02-25 16:02] stephentoub commented on #31008
We don't currently have any plans to add such a type to the core libraries.  If you come up with a solution that works well for you, please consider releasing it as a nuget package for others who may be interested as well.  However, as @svick highlights, this isn't a pattern we intend to promote.

[2020-02-25 16:02] #31008 closed

[2020-02-25 16:10] dagood commented on #3433
It's necessary if we need to push a new version of these packages in 2.1, due to new requirements: https://devdiv.visualstudio.com/DevDiv/_wiki/wikis/DevDiv.wiki/972/NuGet?anchor=attribute-requirements

/cc @NikolaMilosavljevic

[2020-02-25 16:12] cston commented on #32767
@vchirikov thanks for investigating this issue and providing a fix. We will consider fixes for performance regressions.

[2020-02-25 16:12] whoteit92 commented on #32059
@AndyAyersMS Sure thing. Let me know when a build is available and I will validate on the original program.

[2020-02-25 16:14] eerhardt commented on #3806
The reason it looks in .NET Framework 3.5 reference assemblies is mostly legacy reasons. ASP.NET was previously supported on .NET Framework. There is a big difference in our reference assemblies are installed between .NET Framework 3.5 and 4.0, so we needed to implement this "fallback" path to support both 3.5 and 4.0+.

Going forward, it probably makes less sense to keep supporting .NET Framework

[2020-02-25 16:14] #3806 closed

[2020-02-25 16:15] stephentoub commented on #13056
I believe this was addressed by https://github.com/dotnet/coreclr/pull/27115.  If we find further issues, we can open individual issues for them.

[2020-02-25 16:15] #13056 closed

[2020-02-25 16:17] eerhardt commented on #3818
Closing as I believe the question has been answered.

[2020-02-25 16:17] #3818 closed

[2020-02-25 16:43] vchirikov commented on #32767
@cston , thanks.
What do you think about next 3.1 release? Could we include the fix to LTS branch too?

[2020-02-25 16:44] eerhardt commented on #3433
Since we haven't had to service DependencyModel in 2.1 yet, I'd say we can set these attributes if/when we need to service 2.1. I don't think there is a reason to keep this issue open.

[2020-02-25 16:56] dagood commented on #3433
Problem is, if it's forgotten, it only shows up as an error close to release day since we don't have validation baked into the build. (I think we are still unable to validate with "standard" tooling. I'm only aware of some custom-written validation bits, https://www.nuget.org/packages/Jver.VerifyMicrosoftPackage/0.0.1-beta.)

Whether an open issue means it'll be forgotten or not, I don't know.

[2020-02-25 16:58] jaredpar commented on #13403
@stephentoub

No we haven't had any other reports of this problem.

[2020-02-25 17:00] dagood opened #32799 "Add binlog generation to CoreCLR steps missing it"
Per https://github.com/dotnet/runtime/pull/32781#issuecomment-590727168:

This needs to be fixed for diagnosable builds.

[2020-02-25 17:00] jaredpar commented on #13284
@WebDancer69

@benaadams scenario is a plausible reason for why we get some of our customer reported OOMs (via say Watson). It's hard to verify though from a Watson that this is indeed the cause.

As for our unit tests I haven't found a good answer for that yet.

[2020-02-25 17:01] jaredpar commented on #13284
@WebDancer69

@benaadams scenario is a plausible reason for why we get some of our customer reported OOMs (via say Watson). It's hard to verify though from a Watson that this is indeed the cause.

As for our unit tests I haven't found a good answer for that yet.

[2020-02-25 17:08] vitek-karas commented on #32769
Please make sure that you have the debugger setup to stop on all managed exceptions (sometimes the default hides some of them - never understood the logic behind it myself). The `EEFileLoadException` should mean a managed exception, unless it happens in a really weird spot.

As an additional data point (not sure if it's going to help though): You can collect the native hosting trace - run the proc

[2020-02-25 17:12] danmosemsft commented on #27711
@stephentoub no. I was just recording the ask from the partner above. I believe they are using pinvoke today, as far as I know this is not blocking them in any way. I see a note from that time asking for other pinvokes they were doing that they believed suggested platform holes, but I don't have a record of such a list.

[2020-02-25 17:14] danmosemsft commented on #32679
It's true it has semantic differences eg it requires equation to be cheap. Which difference is blocking in your scenario?

[2020-02-25 17:18] stephentoub commented on #13403
Ok, thanks. I'll close this for now, as it doesn't seem actionable right now without more data.

[2020-02-25 17:18] #13403 closed

[2020-02-25 17:18] danmosemsft commented on #30056
Should be @ilyas1974 sorry @ilya-bin

[2020-02-25 17:31] #32784 closed

[2020-02-25 17:32] elinor-fung commented on #32769
By default, for most managed exceptions, the VS debugger will only break if they are unhandled, so as @vitek-karas mentioned, you likely need to enable breaking on all managed exceptions thrown to see the managed exception corresponding to the `EEFileLoadException`

In VS 16.4.*, C++/CLI did not automatically generate a .runtimeconfig.json (https://github.com/dotnet/sdk/issues/3889). This support

[2020-02-25 17:37] yringler opened #32801 "Don't fail silently when an object is passed to JsonSerializer.SerializeAsync<T>"
In #31223 there was confusion about why a class was serializing to an empty object when using JsonSerializer.SerializeAsync<T>.
It was happening, as @yruson explained there,

So if it's given a value of type Object, it'll serialize as empty.

I had the same issue, and found #31223. Calling `JsonSerializer.SerializeAsync(stream, value, value.GetType())` works, but I'll probably switch to generics.

[2020-02-25 17:42] svick commented on #23792
@stephentoub It seems the old MSDN article has been redirected to the updated docs.microsoft.com article since 2018. So I think the docs are okay now.

[2020-02-25 18:03] danmosemsft commented on #27711
Closing since we haven't had an add-ref on this.

[2020-02-25 18:03] #27711 closed

[2020-02-25 18:09] MarcoRossignoli commented on #32527
Bit busy weeks I'll take a look when queue will be empty enough

[2020-02-25 18:16] jaredpar opened #32805 "Inability to unzip assets during build on Unix x64"
Seeing about ~3% of our builds failing with the following error:

Spot checking the failures these seem to be limited to OSX builds.

Runfo Tracking Issue: [Runtime unable to unzip assets ](https://runfo.azurewebsites.net/tracking/issue/40)
|Definition|Build|Kind|Job Name|
|---|---|---|---|
|[runtime](https://dnceng.visualstudio.com/public/_build?definitionId=686)|[1026436](https://dev.azure.com/d

[2020-02-25 18:18] jaredpar commented on #32764
@safern would you be able to take a look at this? It's killing a large number of our builds ATM.

[2020-02-25 18:20] Mpdreamz commented on #32801
Also reported under: https://github.com/dotnet/runtime/issues/31464#issuecomment-589513848

[2020-02-25 18:27] msallin opened #32806 "Usage of IncrementingPollingCounters (e.g. requests per second)"
**Scenario**
Our applications are running in containers, on Kubernetes. Prometheus polls a endpoint all 2min's to gather metrics from the applications. We use EventCounters to gather Runtime and Hosting metrics. As Prometheus polls but we collect the metrics at regular intervals, there is a conceptual mismatch. We decided to not implement our own logic to handle this but just collect the EventCoun

[2020-02-25 18:42] hoyosjs opened #32808 "Fix issues in cross-os DAC build."
#32322 got reverted due to several issues that were impacting official builds. To get it back in we'll have to

- [x] All assets need to have unique names. This includes logs and binlogs. We could use a delayed expansion variable to prepend a `linuxdac_` to the assets needed. Not sure how to do this in some cases like arcade
- [x] Several command-line arguments must be preserved. The original comm

[2020-02-25 18:47] obiwanjacobi commented on #32769
That was it! Thanks! (Duh, makes perfect sense too!)

The debugger stops at the breakpoint in the vst host entry point - which means the assembly is loaded and its entry point is being called. Awesome.

I can probably remove the WinForms dependency -I think I only used it for MessageBox.

(I have so many other questions but I will continue by myself for now)
Thank you very much for helping me out.

[2020-02-25 18:53] vitek-karas commented on #32769
Glad to hear it works!

Please feel free to open new issues on these - it helps us to understand what are the non-obvious things (or pain points), and it acts as a temporary documentation for others to solve the same problem.

[2020-02-25 19:05] terrajobst commented on #32125
* Should we have an analyzer for flagging using sync methods if (1) the call site is in an async method and (2) there is an async version
* Can we promote async methods over sync methods in IntelliSense?

* `HttpClient`
    - The `Send` methods should mirror the structure of the `SendAsync` methods, as opposed to using defaulted parameters.
* There are no convenience methods
    - Such as `GetStri

[2020-02-25 19:06] hoyosjs commented on #32124
I have downloaded the files. Thanks!

[2020-02-25 19:08] satano commented on #28153
@ThyPillow I am not working at it. I did not understand where is the problem, as I stated in my last comment (and nobody answered).

[2020-02-25 19:13] ststeiger commented on #32735
Ah, I see, this is again like in the 2.x series, where the current  working directory was set to system32. That got me there, too.
So in that code
[code]
I'll just have to use  `Process.GetCurrentProcess().MainModule.FileName` instead of `Assembly.Location` and it will work, and had I used a web-application which uses [websdk](https://github.com/aspnet/websdk), it would have worked out of the box.

[2020-02-25 19:18] davidsh commented on #32812
@ddgweb What version of .NET Core are you using? Can you show 'dotnet --info' output?

Please list the external websites that are having trouble.

[2020-02-25 19:27] danmosemsft commented on #8117
This should be an issue or PR in dotnet/docs if it's causing confusion.

[2020-02-25 19:27] #8117 closed

[2020-02-25 19:31] terrajobst commented on #31877
* It seems they should be marked as `Inherited = false`, because that's what we did for the other annotations. But it seems the behavior of this is odd when the method it's applied to is overriden because the inherited method doesn't need to call the base. Should the compiler when the the base isn't called?

[code]

[2020-02-25 19:33] ViktorHofer opened #32813 "runtime-libraries stress-http pipeline is broken since 2/6"
https://dev.azure.com/dnceng/public/_build/results?buildId=535626

cc @eiriktsarpalis

[2020-02-25 20:04] terrajobst commented on #28230
* Should this be `System.Text.Unicode`? Seems odd to have `Ascii` and `Utf8` in different namespaces.
* We called it `EqualsIgnoreCase` because `Ordinal` doesn't add a lot and ASCII is well-defined.
* We think `searchSpace` and `target` are odd choices. We settled on `text` and `value`.
* It seems there is a different behavior for values larger than `127`. Are we sure that's the right behavior?

[

[2020-02-25 20:06] hoyosjs commented on #32124
So far from what I can see:

- You aren't running .NET Core 3.0, but rather .NET Core 3.1. This is version 3.1.101 of the SDK and a 3.1.1 runtime. This is good as this is LTS.
- I tried to repro, but couldn't make it happen at the runtime level. This didn't repro even if I locked the SDK version. I can only see VS being a different version of VS. You have 16.4 29806.167, while my setup is a previe

[2020-02-25 20:09] artelk opened #32815 "JIT: Hint to "inline" generic type parameter"
## Scenario
Let's assume we have a simple buffer writer like this:

<details>
<summary>SimpleBufferWriter</summary>

[code]
</details>

We created some buffer writer consumer as a generic class parametrized by the buffer writer class like this:
[code]

Also there is a struct wrapping the SimpleBufferWriter:
[code]
<details>
<summary>Benchmark test code</summary>

[code]
</details>

Test results:
|

[2020-02-25 20:13] vintzl commented on #1153
in `CanConvert` I want to put some logic, also to avoid [such issue](https://www.blackhat.com/docs/us-17/thursday/us-17-Munoz-Friday-The-13th-JSON-Attacks-wp.pdf).

I did try different registration order but I got the same result.

[2020-02-25 20:16] tmat commented on #32124
Yes, we have fixed some EnC issues.

@Jay1305 Would you mind trying with the latest 16.5 preview?

[2020-02-25 20:16] AndyAyersMS commented on #32815
Seems like the same ask as in #9682. Changing to area-meta.

[2020-02-25 20:26] #32506 closed

[2020-02-25 20:31] eiriktsarpalis commented on #32813
I don't own that pipeline anymore, @dotnet/ncl  could you take a look?

[2020-02-25 20:33] eiriktsarpalis commented on #32813
Looks like adding multi-targeting broke the scripts.

[2020-02-25 20:37] eiriktsarpalis commented on #32813
This change seems to be the culprit https://github.com/dotnet/runtime/commit/725968c3c5562866c0a8a416b9a635fa54139f75.

[2020-02-25 20:45] eiriktsarpalis opened #32816 "[System.Drawing.Common] Bug in printer-comment option resolution on PrintingServices.GetPrintDialogInfo()"
Found in [PrintingServices.Unix.cs](https://github.com/dotnet/runtime/blob/e08396c7d291de20b1aedb260285b5955ec813de/src/libraries/System.Drawing.Common/src/System/Drawing/Printing/PrintingServices.Unix.cs#L669-L670) while annotating System.Drawing.Common in #31716. Seems like a clear-cut copy and paste bug.

cc @JeremyKuhne

[2020-02-25 20:45] artelk commented on #32815
Almost the same. But with GenericSpecialization the author of the HexWriter would need to provide the full list of the buffer writers in advance. I would like to avoid that because the HexWriter could be a defined in some library and the buffer writer a client class.

And as far as I understood the [MethodImpl(MethodImplOptions.NonSharedGeneric)] is supposed to be declared for methods only. And th

[2020-02-25 20:49] eiriktsarpalis opened #32817 "[System.Drawing.Common] Bitmap constructor thrown exception platform mismatch"
It looks like the `public Bitmap(Type type, string resource)` constructor will throw different exception types for the same error condition on the [Windows](https://github.com/eiriktsarpalis/runtime/blob/e483b45468f2763e0d0f5b59366d9eb75804bcdb/src/libraries/System.Drawing.Common/src/System/Drawing/Bitmap.Windows.cs#L18) and [Unix](https://github.com/dotnet/runtime/blob/e08396c7d291de20b1aedb26028

[2020-02-25 20:53] artelk commented on #9682
In this particular case I would try to make a trick like this:
[code]

[2020-02-25 21:02] ViktorHofer commented on #2305
Another hit: https://dev.azure.com/dnceng/public/_build/results?buildId=536066&view=ms.vss-test-web.build-test-results-tab&runId=17016570&resultId=167358&paneView=attachments

[2020-02-25 21:04] ViktorHofer opened #32818 "Timeout_TooShort_AllPendingOperationsCanceled - failure"
Test: `System.Net.Http.Functional.Tests.HttpClientTest.Timeout_TooShort_AllPendingOperationsCanceled`

https://dev.azure.com/dnceng/public/_build/results?buildId=536066&view=ms.vss-test-web.build-test-results-tab&runId=17015970&paneView=debug

Configuration: `netcoreapp5.0-Windows_NT-Debug-x64-CoreCLR_release-(Windows.Nano.1809.Amd64.Open)windows.10.amd64.serverrs5.open@mcr.microsoft.com/dotnet-bu

[2020-02-25 21:05] ViktorHofer commented on #32818
cc @dotnet/ncl

[2020-02-25 21:08] ViktorHofer opened #32820 "Test hang: VirtualNetworkTest.VirtualNetwork_MultiThreadIntegrityTest_Ok"
Test: `System.Net.Test.Common.VirtualNetworkTest.VirtualNetwork_MultiThreadIntegrityTest_Ok`

https://dev.azure.com/dnceng/public/_build/results?buildId=536066&view=ms.vss-test-web.build-test-results-tab&runId=17016594&paneView=attachments&resultId=177050

Configuration: `netcoreapp5.0-Linux-Debug-x64-CoreCLR_release-(Fedora.29.Amd64.Open)ubuntu.1604.amd64.open@mcr.microsoft.com/dotnet-buildtools/

[2020-02-25 21:09] artelk commented on #9682
In this particular case I would try to make a trick like this:
[code]

[2020-02-25 21:16] #32775 closed

[2020-02-25 21:17] jozefizso commented on #869
Support for COM registration functions defined in .NET code and executed by the comhost would be great.

We use them in MS Office Add-ins to automatically register the addin in the Office application. Eg:

https://github.com/NetOfficeFw/NetOffice/blob/releases/netoffice_v1.7.4/Examples/Word/C%23/IExtensibility%20COMAddin%20Examples/ClassicUI/Addin.cs#L97

[2020-02-25 21:18] swaroop-sridhar commented on #32735
Correct, thanks.

UseWindowsService if the os is windows.

Can you please file a CLI template/documentation issue about this in the [SDK](https://github.com/dotnet/sdk/issues) repo?

[2020-02-25 21:19] swaroop-sridhar commented on #32735
Related: https://github.com/dotnet/runtime/issues/3704

[2020-02-25 21:19] MihaZupan commented on #30300
@LokiMidgard
Is the ask here just to have Uri consider such input as valid? Or to also make use of the parsed value?
We could make `new Uri` not throw and `TryCreate` return true for Uris with multiple addresses, but an actual instance of `Uri` is not useful for such input.

`Uri` has the assumption of a single `Host` and `UserInfo`. Would these properties only return information about the first a

[2020-02-25 21:19] swaroop-sridhar commented on #32735
I believe there's no further action required on this issue.

[2020-02-25 21:19] #32735 closed

[2020-02-25 21:21] #3778 closed

[2020-02-25 21:22] #32767 closed

[2020-02-25 21:25] jaredpar commented on #1282
This is presently impacting about 9% of our builds

|Build|Kind|Timeline Record|
|---|---|---|
|[534481](https://dev.azure.com/dnceng/public/_build/results?buildId=534481)|PR https://github.com/dotnet/runtime/pull/2107|Test crossgen-comparison Linux arm checked|
|[534999](https://dev.azure.com/dnceng/public/_build/results?buildId=534999)|PR https://github.com/dotnet/runtime/pull/2107|Test crossgen

[2020-02-25 21:25] swaroop-sridhar opened #32821 "Single-File: Move bundle-processing code into the framework"
Implement bundle-processing as described in:
https://github.com/dotnet/designs/blob/master/accepted/2020/single-file/design.md#startup

[2020-02-25 21:26] swaroop-sridhar opened #32822 "Single-File: Implement loading assemblies from bundle"
Implement runtime changes necessary to load assemblies directly from the bundle, as described here:
https://github.com/dotnet/designs/blob/master/accepted/2020/single-file/design.md#peimage-loader

[2020-02-25 21:29] swaroop-sridhar opened #32823 "Single-File: Implement statically linked apphost"
In order to support single-file apps, implement the "static-host" host-builds as described [here](https://github.com/dotnet/designs/blob/master/accepted/2020/single-file/design.md#host-builds), publish them to be consumed by the SDK.

[2020-02-25 21:30] ViktorHofer opened #32824 "System.Text.Json.Tests crashing"
https://dnceng.visualstudio.com/public/_build/results?buildId=535935&view=ms.vss-test-web.build-test-results-tab&runId=17010234&resultId=175496&paneView=attachments

Configuration: `netcoreapp5.0-Linux-Release-arm64-CoreCLR_release-(Alpine.38.Arm64.Open)Ubuntu.1804.ArmArch.Open@mcr.microsoft.com/dotnet-buildtools/prereqs:alpine-3.8-helix-arm64v8-a45aeeb-20190620184035`

[code]

cc @layomia @steveh

[2020-02-25 21:32] eerhardt opened #32825 "Microsoft.NET.HostModel shouldn't be published to nuget.org"
We are currently publishing `Microsoft.NET.HostModel` to https://www.nuget.org/packages/Microsoft.NET.HostModel. However, this package is not meant for public consumption, so we shouldn't be publishing it to nuget.org.

/cc @jkoritzinsky @swaroop-sridhar @dagood

[2020-02-25 21:32] ViktorHofer commented on #32378
Closing, machines were updated.

[2020-02-25 21:32] #32378 closed

[2020-02-25 21:33] swaroop-sridhar commented on #32825
The HostModel is only designed to be consumed by the SDK.
It’s occasionally useful for external developers in order to extract or inspect the contents of a single-file app. However, the library is not vetted for a public release, and developers interested in it can build it from source.

[2020-02-25 21:33] artelk commented on #32391
Imagine you use memory from a memory mapped file this way: https://github.com/Lokad/CashDB/blob/master/src/CashDB.Lib/MemoryMappedFileSlim.cs.
And you want to use the Utf8JsonWriter to write to the file.
You can expose the file via MemoryManager and implement the IBufferWriter on top of that.
But that is more complex than it could be and that will work visibly slowly than it could.

Actually there

[2020-02-25 21:36] MyBisnisMedia opened #32826 "MBM"
[Mbm](mbm)

[2020-02-25 21:36] ViktorHofer opened #32827 "Native crash on Mono in various test assemblies"
https://dnceng.visualstudio.com/public/_build/results?buildId=535480&view=ms.vss-test-web.build-test-results-tab&runId=16999830&resultId=172041&paneView=attachments

Configuration: `netcoreapp5.0-OSX-Release-x64-Mono_release-OSX.1014.Amd64.Open`

[code]

@akoeplinger @steveisok can you please loop in team members who can look into this.

[2020-02-25 21:39] ViktorHofer opened #32828 "Assert failure HasPerInstInfo() methodtable.h Line: 2908"
https://dnceng.visualstudio.com/public/_build/results?buildId=535480&view=ms.vss-test-web.build-test-results-tab&runId=16999826&paneView=debug

Configuration: `netcoreapp5.0-OSX-Release-x64-CoreCLR_checked-OSX.1013.Amd64.Open`

Dump:   https://helix.dot.net/api/2019-06-17/jobs/1d28c181-b612-4d7b-b57c-ad158d0a1b9e/workitems/System.Composition.Hosting.Tests/files/core.51410

[code]

cc @jkotas

[2020-02-25 21:42] hoyosjs commented on #32826
This sounds like spam.

[2020-02-25 21:42] ViktorHofer opened #32830 "ObjectDisposedException in System.IO.FileSystem.Watcher.Tests"
https://dnceng.visualstudio.com/public/_build/results?buildId=535480&view=ms.vss-test-web.build-test-results-tab&runId=16999832&paneView=attachments&resultId=173437

Configuration: `netcoreapp5.0-OSX-Release-x64-CoreCLR_release-OSX.1013.Amd64.Open`

Dump:   https://helix.dot.net/api/2019-06-17/jobs/d1b4ff26-b147-4042-a1d4-eb92bb7b60f4/workitems/System.IO.FileSystem.Watcher.Tests/files/core.39217

[2020-02-25 21:42] #32826 closed

[2020-02-25 21:43] ViktorHofer commented on #32825
Looks like this regressed 10-12 months ago, presumably with the move to Arcade.

[2020-02-25 21:45] jkotas commented on #32828
@fadimounir Could you please take a look? Looks like regression from your change.

[2020-02-25 21:47] swaroop-sridhar commented on #32825
The HostModel library has only been around since last April.

[2020-02-25 21:47] BruceForstall commented on #1282
@jashook You thought before that this was failing due to overloaded Linux arm hardware, leading to the timeouts. Do you still believe that?

[2020-02-25 21:48] kdbotts commented on #24271
Attached is an implementation of reading symbolic links in .NET under Windows.  (Essentially, an emulation of readlink() from *ix.)  Figuring out the driver level bit-fiddling took somee effort, but it has been working well for several years now.  Do whatever you like with it: I ask no credit or any such.

Curiously, I now find myself deploying via DotNetCore to Linux, and I have to figure out how

[2020-02-25 21:48] jashook commented on #1282
Yes, I think there is more pressure on the hardware with mono running arm now.

[2020-02-25 21:50] steveharter commented on #28877
Closing as duplicates of existing perf-related issues including
https://github.com/dotnet/runtime/issues/19484
https://github.com/dotnet/runtime/issues/23716
https://github.com/dotnet/runtime/issues/7560

[2020-02-25 21:50] #28877 closed

[2020-02-25 21:50] botinko commented on #32767
I also worked with this issue. I created benchmark, which reproduces the slowdown in our use case.
It's just calls to some method, which call 1000 different compiler-generated `Expression.Lambda<TDelegate>` .

[ExpressionLambdaBench.zip](https://github.com/dotnet/runtime/files/4252341/ExpressionLambdaBench.zip)

![image](https://user-images.githubusercontent.com/2981998/75290639-98b6f880-57d5-11ea

[2020-02-25 21:50] steveharter commented on #30556
Closing as fixed (doc added).

cc @GrabYourPitchforks

[2020-02-25 21:50] #30556 closed

[2020-02-25 21:50] jhudsoncedaron commented on #24271
@kdbotts : I put this on nuget and github months ago: https://www.nuget.org/packages/Emet.FileSystems/0.0.1

[2020-02-25 21:55] janvorli commented on #32171
@davidwrighton has also told me today that he has recently seen a similar bug caused by double free of a GC handle that later results in double allocation of the same handle. So I've looked at the stress log again and I can see exactly that. Extending the list of relevant items from the stress log that I've shown before:
[code]

As you can see at 19.530733500 and 20.132816500, the same handle was

[2020-02-25 21:55] fadimounir commented on #32828
Taking a look

[2020-02-25 21:56] MattGal commented on #32320
Sorry for joining the party late, I am taking a look now.

[2020-02-25 21:58] bartonjs commented on #32558
If it changed (broke) between 2.1 and 3.1, then yeah, it's probably good to service it.  (@danmosemsft FYI).

If you want to open the PR against the release/3.1 branch I'll do the paperwork; or I'll open the PR and paperwork tomorrowish.

[2020-02-25 22:02] vitek-karas commented on #32735
@ststeiger May I ask which template you used to create your service? I want to make sure we find the right people to at least get them your feedback about the template lacking Windows-Service integration.

[2020-02-25 22:05] swaroop-sridhar commented on #32735
My understanding was that @ststeiger used `worker` template. Please confirm it. Thanks.

[2020-02-25 22:10] trylek commented on #32320
No worries @MattGal, I have launched a fresh new run re-enabling the Windows ARM32 job so I should have a new set of results available shortly:

https://github.com/dotnet/runtime/pull/32819

[2020-02-25 22:10] speed2048 commented on #3778
A couple of things:

- To confirm, If someone overrides the  DOTNET_BUNDLE_EXTRACT_BASE_DIR environment variable, the directories and files will never be pruned.
- Time Frame for fix?
- In some threads there has been discussion that Dotnet 5.0 will handle it differently, can anyone share what will change?

Thanks.

[2020-02-25 22:15] MattGal commented on #32320
I don't think I actually need the new run, the most recent one died from running out of disk space.  Investigation continues.

[2020-02-25 22:16] swaroop-sridhar commented on #3778
@speed2048

Dotnet doesn't delete any extracted files. The default extraction directory is within the `TEMP` directory, from which the OS removes files from time to time. So this fix aims to recover those files.
If `DOTNET_BUNDLE_EXTRACT_BASE_DIR` is set to a non-temp directory, the files are not expected to be lost.  The extracted files are verified/recovered regardless of whether `DOTNET_BUNDLE_

[2020-02-25 22:19] dagood commented on #32825
From offline:

Yep, this is what the Shipping vs. NonShipping dirs are for, check out https://github.com/dotnet/arcade/blob/ff32e5111ec72af1b280186ae92c6090cb4585d4/Documentation/ArcadeSdk.md#isshipping-isshippingassembly-isshippingpackage-isshippingvsix-bool for the general idea. I think you want `<IsShipping>false</IsShipping>`. You can validate with a local build by looking at `artifacts/packag

[2020-02-25 22:21] karelz commented on #987
Triage: Networking team agreed to take `RequestVersionExact` - see updates above.
@scalablecory please update top post with our latest proposal and let's bring it to full API review.

[2020-02-25 22:28] artelk commented on #32815
To narrow the scope the attribute could be added to the client-side class:
[code]
So it would be complementary to the GenericSpecialization from https://github.com/dotnet/runtime/issues/9682#issuecomment-436435079.

Btw, I believe that GenericSpecialization should be applied for individual generic parameters:
[code]

[2020-02-25 22:34] vcsjones commented on #32558
Correct. It works in 2.1 but not 3.1:

![image](https://user-images.githubusercontent.com/361677/75292673-a5961500-57f2-11ea-8ef0-6b6970249f0a.png)

It looks like this is because [2.1] uses `DerSequenceReader`, and [3.1] uses `AsnReader`, and the former did not perform sort validation at read time.

[2.1]: https://github.com/dotnet/corefx/blob/release/2.1/src/System.Security.Cryptography.X509Certi

[2020-02-25 22:35] scalablecory commented on #28230
in HTTP code we could make use of:

[code]

@GrabYourPitchforks, do you think this is reasonable to add here?

[2020-02-25 22:51] vcsjones commented on #32558
Done.

[2020-02-25 22:53] jkoritzinsky commented on #32712
I believe that @artelk is correct and that the highest performance here for your test case would be the following:

[code]

[2020-02-25 22:55] MattGal commented on #32320
I spent some time pondering JIT.jit64.mcc and the logs.  It's clear that the problem is that we never really expected 3+ GB work item payloads, but we can make it work.  NOte if it's slow to unzip on MY computer, it's slow to unzip on the helix laptops.  [Sample log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-31834-merge-4332d01d2f434951a7/JIT.jit64.mcc.Attempt

[2020-02-25 23:03] sandreenko opened #32834 "Performance PR tests failing with "Could not find/download: ".NET Core SDK" with version = 5.0.100-preview.1.20125.8"

[2020-02-25 23:05] jkoritzinsky commented on #32783
cc: @nattress

[2020-02-25 23:06] sandreenko opened #32835 "Performance PR tests failing with "Could not find/download: ".NET Core SDK" with version = 5.0.100-preview.1.20125.8"."
Error message:
[code]
Examples:
https://dev.azure.com/dnceng/public/_build/results?buildId=536416
https://dev.azure.com/dnceng/public/_build/results?buildId=536459

Looks like that blob was deleted, do we need to use a newer one?

@dotnet/runtime-infrastructure @dotnet/dotnet-perf

[2020-02-25 23:07] brianrob commented on #32835
@DrewScoggins can you please take a look?
cc: @billwert

[2020-02-25 23:08] dagood opened #32836 "WindowsDesktop installer doesn't install a distinct registry key (3.1)"
The .NET Desktop 3.1.2 installer creates this registry key:

Key:`SOFTWARE\dotnet\Setup\InstalledVersions\x64\sharedfx\Microsoft.NETCore.App`
Name: `3.1.2`
Value:`#1`

`Microsoft.NETCore.App` is the .NET Core Runtime, I would expect `Microsoft.WindowsDesktop.App` for the .NET Desktop Runtime.

I believe this is because we're missing `SharedFrameworkName` for the WindowsDesktop installer. That woul

[2020-02-25 23:08] sandreenko commented on #702
Link #32835

[2020-02-25 23:09] #28851 closed

[2020-02-25 23:09] danmosemsft commented on #28851
OK thanks!

[2020-02-25 23:12] GrabYourPitchforks commented on #28230
@scalablecory seems reasonable. What do you expect the behavior to be when non-ASCII data is encountered?

[2020-02-25 23:14] GrabYourPitchforks commented on #32642
FWIW I did verify that the JIT does elide the bounds check on the pattern `if (!Array.IsNullOrEmpty(someArray)) { /* use someArray[0] */ }`. Still not quite sure if it's an important enough optimization for this.

[2020-02-25 23:21] stephentoub commented on #32642
Does it not elide it for:
[code]
or
[code]
?

[2020-02-25 23:51] trylek commented on #32320
I believe that @echesakovMSFT was working on partitioning CoreCLR tests into chunks. I remember from my .NET Native test migration to Helix that we ended up with vastly different characteristics of Intel vs. ARM work items in terms of size. During our chat in Redmond @jashook mentioned that the current design is very inflexible in terms of adjustable work item sizes. If this turns out to be a cruc

[2020-02-26 00:00] eerhardt commented on #26780
After discussing with @jkotas and @ericstj, I have modified this API proposal to just include an API for getting the current RID of the machine. I have updated the original issue comment as appropriate.

The proposed `RuntimeInformation.GetRuntimeIdentifier()` method will return a new AppContext variable `CURRENT_RUNTIME_IDENTIFIER`. This variable will be passed by the dotnet.exe host, and can be

[2020-02-26 00:14] scalablecory commented on #28230
@GrabYourPitchforks throw, or perhaps change signature to Try pattern.

[2020-02-26 00:17] jkotas commented on #26780
Nit: Why not just `RUNTIME_IDENTIFIER`? I do not think that the "CURRENT" in the name is necessary.

I do not think so. The API should be allowed to return null when the RID is not known.

[2020-02-26 00:27] jhudsoncedaron commented on #32125
// Review suggestion: mirror async methods
        public HttpResponseMessage Send(HttpRequestMessage request);

Having actually gone the route of needing a sync HttpClient because deadlocks, we discovered this API is actually unweildy because it requires pregeneration of the entire request body. (The same would also be true of async code but you feel it a lot more with sync code.) We discovered t

[2020-02-26 00:34] KrzysztofCwalina commented on #32125
@jhudsoncedaron, can your problem be solved with a custom or stream based HttpContent, i.e. the generation of the body happens in HttpContent.CopyTo implementation?

[2020-02-26 00:35] eerhardt commented on #1047
My understanding of the logic is that the method returns `true` if it resolved all the Assemblies in the `CompilationLibrary`. In this case there were no `.Assemblies`, so they all were resolved. The other resolvers that we provide behave that way. Here are the other 2:

https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d5f227d30e723/src/installer/managed/Microsoft.Extensions.Depen

[2020-02-26 00:37] echesakovMSFT commented on #32320
@trylek If we need to solve this issue now - we can specify a finer partitioning of JIT.jit64.mcc work item in src\coreclr\tests\testgrouping.proj. Since it's a MSBuild file you can also put conditions on $(BuildOS) and $(BuildArch) and limit this partitioning when targeting win-arm.

It's also doable to have a separate partitioning scheme for each combination of $(BuildOS) x $(BuildArch) if neede

[2020-02-26 00:41] MattGal commented on #32320
@echesakovMSFT thanks for clarifying.  Once we fix up the machines they should have lots more space such that you don't _have_ to change, but unless it will result in duplication of content in work item payloads more, smaller workitems will generally make it through helix faster.

[2020-02-26 00:43] jhudsoncedaron commented on #32125
@KrzysztofCwalina : There's no way to say "Don't call `CreateContentReadStream`".

[2020-02-26 00:48] davidsh commented on #32125
WCF has lots of use cases where they create custom HttpContent object's that are stream based are similar to your scenarios.

[2020-02-26 00:49] jkotas commented on #32830
Dup of https://github.com/dotnet/runtime/issues/30056 cc @wfurt

[2020-02-26 00:49] #32830 closed

[2020-02-26 00:52] jkotas commented on #32834
Duplicate of https://github.com/dotnet/runtime/issues/32835

[2020-02-26 00:52] #32834 closed

[2020-02-26 00:52] VincentBu commented on #32466
Failed again in [runtime-coreclr outerloop 20200225.6](https://dev.azure.com/dnceng/public/_build/results?buildId=536393&view=ms.vss-test-web.build-test-results-tab)

**Related tests:**
JIT\\Directed\\coverage\\importer\\Desktop\\nullsdarr_il_d\\nullsdarr_il_d.cmd
JIT\\Directed\\coverage\\importer\\nullsdarr\\nullsdarr.cmd

**Error message:**
`
\r\nAssert failure(PID 2068 [0x00000814], Thread: 688

[2020-02-26 00:55] dsplaisted commented on #26780
@eerhardt Can you leave the old APIs in for a while (I'd suggest at least a different preview release than we make the SDK change in)?  Otherwise we may have trouble doing the change "atomically" due to how dependencies flow, etc.

[2020-02-26 01:34] stephentoub commented on #32125
@jhudsoncedaron, I don't understand the problem.  You just need a custom HttpContent, e.g. something along the lines of:
[code]

[2020-02-26 01:36] fadimounir commented on #32828
Still don't have more info other than callstack and point of failure. I couldn't repro locally, and i'm still digging into the crash dump to understand what's going on.
The threads in which the assert is triggered are for some odd reason not listed as part of the threads listed in `clrthreads` sos command

[2020-02-26 01:41] karelz commented on #30300
Agreed, looks like `Uri` might not be the best fit for full mailto support ...

[2020-02-26 01:53] eerhardt commented on #1047
Note that if the resolvers didn’t have this behavior, an exception would be thrown any time this situation occurred.

https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d5f227d30e723/src/installer/managed/Microsoft.Extensions.DependencyModel/CompilationLibrary.cs#L82

[2020-02-26 02:05] terrajobst commented on #23792
Good call. Done. It will take a few hours before NuGet has updated its caches, tho.

[2020-02-26 02:07] stephentoub commented on #23792
Thanks, Immo.  Seems like everything here has been done, so I'll close.

[2020-02-26 02:07] #23792 closed

[2020-02-26 02:16] steveisok commented on #32613
@jaredpar I started stubbing out the com interop items and it's going to extend to other features that are enabled like `$(FeatureUtf8String)`.

[2020-02-26 02:16] danmosemsft commented on #2280
Failed again in CI
https://github.com/dotnet/runtime/pull/32288/checks?check_run_id=468133057
[code]

[2020-02-26 02:19] danmoseley opened #32839 "System.Net.Mail.Tests.SmtpClientTest.TestMailDeliveryAsync hung"
netcoreapp5.0-Linux-Debug-x64-CoreCLR_release-(Alpine.311.Amd64.Open)ubuntu.1604.amd64.Open@mcr.microsoft.com/dotnet-buildtools/prereqs:alpine-3.11-helix-bfcd90a-20200123191053

https://dev.azure.com/dnceng/public/_build/results?buildId=536111&view=ms.vss-test-web.build-test-results-tab&runId=17018020&paneView=debug

[code]

[2020-02-26 02:19] danmosemsft commented on #32839
https://github.com/dotnet/runtime/pull/32288

[2020-02-26 02:19] #31710 closed

[2020-02-26 02:30] BruceForstall opened #32840 "Vectorize JIT "long" bitset type"
Currently, the JIT short/long bitset representation (`bitsetasshortlong.h`) uses a `size_t*` base type. For bit set size `< sizeof(size_t*)` (e.g., 64 on x64), the data is stored directly. Otherwise, it is a pointer to an array of `size_t` elements.

Presumably, this could be improved by making the long case an array of `X` elements for the largest size vector on the machine, e.g., 256 bit ymm reg

[2020-02-26 02:31] BruceForstall commented on #32840
cc @echesakovMSFT

[2020-02-26 02:52] joshudson commented on #1816
Since nobody seems to be able to decide if  CA1065 should stand or fall, I came up with an option 3.

    enum FileOptions {
       //...
       DontThrowInDispose = 65536,
    }

This allows calling code to be upgraded in stages, or perhaps not at all.

I've been waiting for somebody to actually be able to decide which path to take before I write one giant patch for handling of `close(2)` failing

[2020-02-26 02:52] joshudson commented on #17418
Since nobody seems to be able to decide if  CA1065 should stand or fall, I came up with an option 3.

    enum FileOptions {
       //...
       DontThrowInDispose = 65536,
    }

This allows calling code to be upgraded in stages, or perhaps not at all.

I've been waiting for somebody to actually be able to decide which path to take before I write one giant patch for handling of `close(2)` failing

[2020-02-26 02:53] GrabYourPitchforks commented on #32642
Correct, those patterns aren't elided. There's a code comment in `string.IsNullOrEmpty` explaining it in more detail.

https://github.com/dotnet/runtime/blob/97b0b37aa1d6875a248751e75ad088961bfe9ff5/src/libraries/System.Private.CoreLib/src/System/String.cs#L458-L467

[2020-02-26 03:03] #32466 closed

[2020-02-26 03:04] briansull commented on #32466
Fixed with #32804

[2020-02-26 03:10] CharlesPublic commented on #32679
@danmosemsft

As i understand the normal Dictionary<K,V> does store HashCodes for every entry. This makes comparisons inside a bucket a little bit faster (depending on the type). Compared to DictionarySlim<K,V> which skips GetHashCode() call for entries inside a bucket and instead calls .Equals() for every key. Correct me if I'm wrong.

What speaks against adding a GetOrAdd() method to the normal

[2020-02-26 03:30] billwert commented on #32835
We don't specify a blob when we run these tests - we rely on the `dotnet-install.ps1/sh` scripts to install the latest SDK. This failure indicates there was something wrong with that path - either a blob got deleted or there was a connectivity issue.

This issue seems to have passed - later runs are moving past this point. (We are hitting other transient nuget failures, however, like [this](https:

[2020-02-26 03:36] danmosemsft commented on #32679
GetOrAdd() assumes the key is not a value type. Yes you're correct that the other requirement is that equating keys is not too expensive. That's a soft requirement though as in most cases there will be no collisions and both dictionaries will equate keys exactly once per lookup

[2020-02-26 03:37] danmosemsft commented on #32679
If you have feedback on it I'd be  interested. It might make it into the platform proper if it's clearly useful enough.

[2020-02-26 03:39] Jay1305 commented on #32124
Thank you so much @hoyosjs , @tmat for your investigation and help!

I had earlier tried with .Net core 3.0 version when I was working with MS support team. The latest demo that I prepared was in 3.1, as you said. But it is failing on both versions and earlier versions work just fine.

Any chance that I can have only Rosylyn language server component as a setup or something like that? My team has

[2020-02-26 03:45] v-haren commented on #32728
also failed in [tracing\\tracevalidation\\tracelogging\\tracelogging\\tracelogging.cmd](https://dev.azure.com/dnceng/public/_build/results?buildId=536417&view=ms.vss-test-web.build-test-results-tab&runId=17025340&resultId=102723&paneView=debug)

[2020-02-26 04:07] v-haren opened #32844 "Test failure in Loader\\binding\\tracing\\BinderTracingTest.Basic\\BinderTracingTest.Basic.cmd"
**failed in job:** [runtime-coreclr crossgen2 20200225.2](https://dev.azure.com/dnceng/public/_build/results?buildId=536417&view=ms.vss-test-web.build-test-results-tab&runId=17025340&resultId=102666&paneView=debug)

**Error message**
`
\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\ncmdLine:C:\h\w\ADEB091F\w\AB580A1A\e\Loader\binding\tracing\BinderTracingTest.Basic\BinderTracingTest.Basic.cmd Time

[2020-02-26 04:28] benaadams commented on #17393
Strange thought I had, added

[2020-02-26 04:43] jkotas opened #32845 "Callsites are not backpatched for large methods in R2R code"
Repro:

1. Save https://gist.github.com/jkotas/2a79b5580127fe2f7ad79580b454eb4c as test.cs
2. csc /o+ /noconfig /nostdlib /r:System.Private.CoreLib.dll test.cs
3. crossgen /r:System.Private.CoreLib.dll test.exe
4. corerun test.exe

Result:
- Tirered JITing kicks in for `Test<T>()` and the method gets JITed succesfully=
- The callsite in `Main` does not get updated. It keeps calling R2R version of

[2020-02-26 04:43] jkotas commented on #32845
cc @kouvel

[2020-02-26 04:48] 616E64726173 commented on #31958
This is also applicable to hot-fixes in console/desktop applications where you would like to have the ability to unload and replace referenced assemblies with new versions pulled down from a server.

[2020-02-26 04:55] v-haren opened #32846 "Test failure in JIT/Methodical/NaN/r8NaNrem_cs_r/r8NaNrem_cs_r.sh"
**failed in job:** [runtime-coreclr crossgen2 outerloop 20200224.1](https://dev.azure.com/dnceng/public/_build/results?buildId=535434&view=ms.vss-test-web.build-test-results-tab&runId=16999006&resultId=104463&paneView=debug)

**Error message**
`
Error: One or more errors occurred. (Code generation failed for method '[r8NaNrem_cs_r]r8NaNrem+CL..ctor()')\nSystem.AggregateException: One or more error

[2020-02-26 04:59] v-haren commented on #32727
also failed in [baseservices/threading/paramthreadstart/ThreadStartObject_1/ThreadStartObject_1.sh](https://dev.azure.com/dnceng/public/_build/results?buildId=535434&view=ms.vss-test-web.build-test-results-tab&runId=16999006&resultId=101273&paneView=debug)

[2020-02-26 05:03] wfurt commented on #32812
you can lso use `openssl s_client -connect <server:ip>` to see what you get at OS level.

[2020-02-26 05:05] ThyPillow commented on #28153
The value at the culture offset in the assembly table is 0 because it is emitted as such.
The compiler is normalizing the culture name in [AssemblyIdentity](https://github.com/dotnet/roslyn/blob/e704ca635bd6de70a0250e34c4567c7a28fa9f6d/src/Compilers/Core/Portable/MetadataReference/AssemblyIdentity.cs#L198), treating `neutral` as invariant culture name and setting `string.empty` to its value.

As i

[2020-02-26 05:12] wfurt commented on #32738
you may create simple repro as a self-contained app and run it as `strace -f -s 200 -e trace=file -e trace=desc` to see what is going on at OS level. One notable difference is that FileStream tries to lock files and that can be problematic on NFS.

[2020-02-26 05:18] dagood commented on #32835
For context, the logs above are missing the actual links, the first two:

[code]

5.0.100-preview.1.20125.8 is this build, 20200225.8:
https://dev.azure.com/dnceng/internal/_build/results?buildId=536364&view=results

It got partway through publishing and failed, which I imagine can cause problems like this.

Related: https://github.com/dotnet/arcade/issues/4922 /cc @mmitche

It doesn't look like C

[2020-02-26 05:28] wfurt commented on #32600
you can do `tempFileStream.Flush(true);` With that, you should see `fsync()` with `strace` on the underlying file descriptor. This is not done by default as that is pretty expensive operation but I think it does exactly what you want.

[2020-02-26 05:43] wfurt commented on #32376
If multiple files are being changed at once (or quicky) you may be running into https://github.com/dotnet/runtime/issues/30846. Actual events are cached and distributed by separate OS daemon as well as the logic to pair events was broken at .Net layer. There is at least one more outstanding bug where available OS API does not allow to disambiguate events properly in all cases.

It may be work or p

[2020-02-26 06:11] normj commented on #32125
What is the trigger for adding this now? From AWS we have been telling users since .NET Core 1.0 days we don't support sync operations in our SDK for the .NET Standard version unlike the .NET Framework version because the HttpClient didn't support sync and best practices as published by Microsoft was to use async. With this being added that messaging is muddled and there is going to be pressure pu

[2020-02-26 06:33] zhxymh opened #32848 "Application exception exit: segfault"
We run the application in docker, and occasionally the application crashes. I found an early issue #10856 similar to this one. But it has been fixed.

I don't know why it happens?

Here are the details:

Environment:
[code]

Exception information:
[code]

coredump:
[code]

[2020-02-26 06:41] LokiMidgard commented on #30300
I tried to used some WinRT API that only accepted URI's. It's some time ago, I need to look what I actually tried to call.

[2020-02-26 06:58] ddgweb commented on #32812
I request that website don't check cert ,It is a https url only, so I have no any cert for request send ,and I already set some "RemoteCertificateValidationCallback" attribute ,no help for this.

[2020-02-26 07:04] ddgweb commented on #32812
@davidsh This querstion occurred  in three months ago, so that maybe .net core 2.1 ~2.2 version , and know I'm updating my linux centos's .Net core runtime to 3.1 version, and I will check this problem alter tell you.

[2020-02-26 07:05] declspec opened #32849 "Proposal: Utf8JsonWriter.WriteUtf8Json"
I would like to propose an addition to the `System.Text.Json.Utf8JsonWriter` API which would allow writing existing UTF8-encoded JSON fragments into the current JSON document.

Something like the following:

[code]

An example of usage would be:

[code]

I believe this would be useful when you are trying to augment or wrap existing JSON payloads (i.e. from external services) in a parent document w

[2020-02-26 07:18] MarcoRossignoli commented on #1047
Understood thank you @eerhardt!

[2020-02-26 07:18] #1047 closed

[2020-02-26 08:06] FiniteReality commented on #32849
I've also had a use for something like this, particularly when interacting with multiple serializers. (With different behaviour to System.Text.Json, which is fairly hard to implement without writing a *lot* of custom code.) The workaround I came up with was to serialize to a JsonDocument and write that to the output.

A better name is probably something like `WriteRaw` though, since you're writing

[2020-02-26 08:08] Jay1305 commented on #32124
Hi @hoyosjs @tmat, I cloned roslyn git repo and built it. I see several executable and dlls. Sorry about my poor understanding but is server project exists in this repo? If yes, can I just build it and replace original file that I have on my machine with new one to check if EnC issue is resolved? Or am I fully on wrong path?

[2020-02-26 08:18] theimowski commented on #3778
Thanks @swaroop-sridhar for adding the fix - do I understand correctly that the validation mechanism is run only upon start of the application? I.e. for long running processes, if some of the extracted files are deleted, one needs to restart the app to restore those files right?

[2020-02-26 08:23] wfurt commented on #32812
If the site is reachable over the internet, it may be worthy of posting specific repro @ddgweb

[2020-02-26 08:23] LokiMidgard commented on #30300
I have tried to work with [Windows.System.Launcher.LaunchUriAsync](https://docs.microsoft.com/en-us/uwp/api/windows.system.launcher.launchuriasync#Windows_System_Launcher_LaunchUriAsync_Windows_Foundation_Uri_)

I now use `Process.Start(new ProcessStartInfo(url) { UseShellExecute = true })`.

I'm writing a Win32 app that is packaged. I'm not sure if this workaround would work for UWP apps.

I also

[2020-02-26 08:26] #31888 closed

[2020-02-26 08:26] declspec commented on #32849
Yeah I ended up deserializing to a `JsonElement` and then re-serializing that; sounds like a similar situation.

As for naming, I'm sure that the team would have some strong opinions as well so I'm happy to leave that open to discussion.

[2020-02-26 08:47] artelk commented on #32815
Both HexWriter and SimpleBufferWriter could be from external libraries and they may know nothing about each other. There has to be another option available for the client-side code:
[code]
So there will be three places where you will be able to declare the generic specification hints:
1. The target class or method
2. The class that is supposed to be passed as a generic type parameter for the targe

[2020-02-26 09:16] adamsitnik commented on #32202
works like a charm, I've tested it on Windows and Ubuntu

[2020-02-26 10:06] obiwanjacobi opened #32851 "Direct assemblies away from `IsolatedComponentLoadContext` towards a single AssemblyLoadContext"
Moving forward from #32769, I am trying to load a managed plugin assembly into a mixed C++/CLI dll that is in charge of gathering all the plugin's dependencies. I am porting this code from Full-Fx to netcore3.1 so I replaced my `Assembly::Load` calls with `AssemblyLoadContext::LoadAssemblyXxxx` calls after [reading more about `AssemblyLoadContext`](https://docs.microsoft.com/en-us/dotnet/core/depe

[2020-02-26 10:18] peppy opened #32852 "Hard crash on macOS Mojave 10.14.5"
We've recently seen users begin to report the inability to start our application on macOS 10.14.x (relevant thread [here](https://github.com/ppy/osu/issues/7791)).

This is reproducible on our latest binaries (built via `publish -r osx-x64`) available at https://github.com/ppy/osu/releases.

Crash log follows:

[code]

[2020-02-26 10:21] LokiMidgard commented on #30300
@MihaZupan to answer your question. What I wan't is to give a method that accepts only 'Uri' objects an "valid" input for that method. But it seems to be more complicated ¬_¬

If `Uri` would parse it according to [RFC 3986](https://tools.ietf.org/html/rfc3986) `test1@test.de,test1@test.de` would be the path. I'm not sure if that matches the AbsolutePath property of Uri.

[code]

The `Uri` parserse

[2020-02-26 10:36] CharlesPublic commented on #32679
Here are some examples of why such a function would be useful.
The redundant pattern is used excessively in algorithms, in popular nuget packages like `Newtonsoft.Json` and all over the .NET Framework.

    // Newtonsoft.Json, XmlNodeConverter
    else if (!dictionary.TryGetValue(propertyName2, out value)) // FindValue
    {
        dictionary.Add(propertyName2, xmlNode); // FindValue again
    }

[2020-02-26 12:25] ManickaP commented on #31997
The dump I've available has a heap corruption in a different place, but might be caused by the same problem. I don't know if there's something more I could get from the dump or if any of this info is anyhow helpful.
I've also tried to run the `HttpListener` test under WinDbg with PageHeap on and wasn't able to reproduce the issue.

Details:
[code]
[code]
[code]
[code]

[2020-02-26 12:32] martincostello opened #32855 "API Proposal: static RandomNumberGenerator.GetDouble() method"
With the addition of the new static methods on the `RandomNumberGenerator` class in .NET Core 3.0 (see #26716), it's been possible to get a random 32-bit integer value without having to worry about creating an instance of `RandomNumberGenerator` (or `Random`) to do so. This has the benefit of saving some allocations/complexity, as well as being secure by default compared to `Random`.

To allow for

[2020-02-26 12:37] izzetuslu opened #32977 "Xml Serialization problem"
Xml Serialization problem

Service response and reference file attached.

< fareComponentGroupList > field in < originDestinationOptionList > has 2 items but serilaized to availabilityFareComponentGroupType[] originDestinationOptionList array one item only.

[serviceresponse.zip](https://github.com/dotnet/core/files/4255698/serviceresponse.zip)

[2020-02-26 12:50] lostmagicK opened #32880 "Centos 7 HttpClient Post request Issue"
# HttpClient Timeout/Cancelled Exception

When i post data Timeout/Cancelled exception is thrown (in Cent Os 7, server nginx) but it perfectly fine when run on windows.
Is there a workaround for this?
Note: It works fine when i call within same application..
Here is my complete error
System.OperationCanceledException: The operation was canceled.
   at System.Net.Http.HttpClient.HandleFinishSendAsy

[2020-02-26 13:35] joozek78 opened #32859 "SqlConnection.Open hangs when connecting to SQL Server 2012SP4"
The following code hangs, when trying to connect to SQL Server 2012 SP4

[code]
.NET Core Version: **3.1** (from  mcr.microsoft.com/dotnet/core/sdk:3.1 docker image)
System.Data.SqlClient Version: **4.3.0**
OS: **Linux** (inside a container)
SQL Server version: **2012 (SP4-GDR)**

This code works on Mac and Windows though, connecting to exactly the same SQL Server.

According to [Microsoft](https:

[2020-02-26 13:36] jkotas commented on #31997
Was it Windows 7 like the one at the top, or newer Windows version?

[2020-02-26 13:46] vitek-karas opened #32862 "ResourceManager contains code which ILLink can't analyze"
The implementation of `ResourceManager` has a code paths that uses `Type.GetType` and `Activator.CreateInstance` on types that are not known by the linker, effectively making all `ResourceManager.GetString` calls potentially linker-unsafe. This in turn means that applications using ILLink during publish may end up broken at runtime due to missing assemblies/types/members.

## Creation of `Resource

[2020-02-26 13:47] vitek-karas opened #32863 "EventSource contains code which ILLink can't analyze"
The implementation of `EventSource` has a code paths that uses reflection APIs which are not analyzable by the linker, effectively making any usage of `EventSource` potentially linker-unsafe. This in turn means that applications using ILLink during publish may end up broken at runtime due to missing assemblies/types/members.

## Manifest creation
[`EventSource.CreateManifestAndDescriptors`](https:

[2020-02-26 13:49] vitek-karas opened #32864 "Delegate contains code which ILLink can't analyze"
`Delegate.GetMethodImpl` calls [`this.GetType().GetMethod("Invoke")`](https://github.com/dotnet/runtime/blob/ba76c377203bc852c6e2c28f4f4a24c7ae71ea1e/src/coreclr/src/System.Private.CoreLib/src/System/Delegate.CoreCLR.cs#L207-L209). This should get the `Invoke` method on the derived delegate type. Linker may decide to remove methods which are not directly referenced by the application code, but del

[2020-02-26 13:54] Wraith2 commented on #32859
Can you try with https://github.com/dotnet/SqlClient and see if you observe the same behaviour? The library (and system version) don't much care what version of sql you're trying to talk to so it's not going to be specific to 2012, at a guess i'd say it'll be one of 3 things 1) network connectivity, 2) culture invariant mode, 3) openssl not installed/working on the container image.

[2020-02-26 14:07] MichalStrehovsky commented on #32863
.NET Native would inject overrides of the [`GetMetadata`](https://github.com/dotnet/runtime/blob/5468699715d37d738f881da6050552c77a4caa82/src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs#L714-L731) method at the time of build. The body of the injected `GetMetadata` method would have all the information EventSource otherwise collects with reflection. I think the tr

[2020-02-26 14:10] MichalStrehovsky commented on #32863
As an aside, why is `Marshal.SizeOf` linker unsafe? This method only works for types that specify sequential/explicit layout. Linker should not touch fields on those (and I believe it doesn't).

[2020-02-26 14:12] guesshe opened #32867 "Build dotnet cli on qnx?"
I managed to build dotnet/coreclr on qnx but it can't run without the dotnet cli toolchain, does anyone know what is used to build dotnet cli and is it feasible to build it on qnx platform? QNX is POSIX compliant and supported x86_64 arch.

[2020-02-26 14:13] obiwanjacobi commented on #32851
I am a bit embarrassed to have posted the question.
I was stuck in thinking that everything had to go into `AssemblyLoadContext.Default` but that is not the case - its not even the best solution for my scenario. Once I let go of that I realized that I could simply load the managed plugin assembly into the same `AssemblyLoadContext` the code was executing from.

I hope this may benifit someone in t

[2020-02-26 14:13] #32851 closed

[2020-02-26 14:25] davidsh commented on #912
Fixed by PR #683

[2020-02-26 14:25] #912 closed

[2020-02-26 14:26] tmds commented on #31325
I tried this with dotnet 3.1.102 snap on a fresh install of RHEL 7.8 Beta, and it is working:

[code]
I think we can assume this works with .NET Core 3.1 on RHEL 7 and no further action is needed.

[2020-02-26 14:34] #31325 closed

[2020-02-26 14:40] stephentoub commented on #32863
What is the negative ramification of this? Let's say I have an event source with 5 events, but my app calls only one of them. Presumably then the linker removes the other 4 event methods, and the problem is that the generated manifest won't contain them. Is that the issue? And if so, since the events aren't getting raised anyway, what does that break? Simply trying to understand the scope of the i

[2020-02-26 14:46] stephentoub commented on #32864
I'm not aware of anything other than Multicast delegate that derives from delegate.

That said, it seems like changing the linker to special-case Delegate rather than MulticastDelegate should cheap, both in terms of dev work and in terms of app impact. If there aren't any other derived types, it'll have no negative impact. And if it turns out there is one, it'll prevent breaks. No?

[2020-02-26 14:48] marek-safar commented on #32680
@karelz we need a decision on how we can support NTLM on Android. The proposed solution is to include a fork of krb5 package in `dotnet/runtime` so we can build it as part of `dotnet/runtime` and package it for Android where this library is not available. Is this something your team can take on or do you have another idea?

[2020-02-26 15:00] steveisok commented on #32613
@jaredpar Since what's not working is isolated to windows, do you think we can land your changes and make it apply to non-windows?

[2020-02-26 15:23] #32813 closed

[2020-02-26 15:52] hopix commented on #26626
@wurf

When fix will be available I could do some test on my ARM device. Then hope to back port it to my [.net 3.1 fork for linux-arm-vfpv3-d16](https://github.com/hopix/coreclr/commits/3.1-linux-arm-vfpv3-d16)

[2020-02-26 15:54] mmitche commented on #32835
I ran a second build that succeeded in publishing. It looks like the main issue should be solved by Cesar's recent changes that retry nuget pushes.

[2020-02-26 16:05] Rathna-K opened #32870 ".Net Core 3.1 HTTPClient Auto Redirect changes POST to GET on 301/ 302 Redirect"
as the title suggests, when I make a POST, I get a 302 from the server and if I have AllowAutoRedirect = True then the httpclient follows the redirect but this time makes a GET instead of keeping the original POST request.

[2020-02-26 16:05] ManickaP commented on #31997
The Helix Queue is: windows.7.amd64.open

[2020-02-26 16:14] stephentoub commented on #32870
This is by design.  From the HTTP specification:
https://tools.ietf.org/html/rfc2616#page-62
[code]

[2020-02-26 16:26] jkotas commented on #31997
Have you tried with page heap on Windows 7? It may be Windows7 specific bug.

[2020-02-26 16:38] ManickaP commented on #31997
I haven't, though I will, good idea 👍

[2020-02-26 16:39] stephentoub commented on #23351
I'm going to close this.  We've considered such a WithTaskScheduler method multiple times in the past, and decided against it for reasons like that outlined in https://github.com/dotnet/coreclr/issues/2184#issuecomment-160673747.  And for the purposes of this thread, it sounds like `AsyncLocal<T>` does fit the bill, and the only concern was around what version of .NET was needed for it, but any ne

[2020-02-26 16:39] #23351 closed

[2020-02-26 16:39] jhudsoncedaron commented on #32125
@stephentoub : Perhaps it does, but I wasn't able to determine it does from the documentation alone.

[2020-02-26 16:41] stephentoub commented on #29123
I don't think there's anything here that's actionable, so I'm going to close it.  We already changed some of the PLINQ tests based on this to not run based on machine configuration (those tests refer to this issue in the source, and we can leave those references for context), in situations where it would try to take over gigantic machines with tons of cores and throw lots of work at them.

[2020-02-26 16:41] #29123 closed

[2020-02-26 16:45] MattGal commented on #32320
I've fixed up these machines so they have their work directory on the 60 GB free disk, so you now have 50 more GB to play with on the work directory.  Do note with payloads this big that downloading and unzipping them is going to be a non-trivial part of their execution;  not much we can do about that.

@trylek can you kick off a fresh run?

[2020-02-26 16:46] #14435 closed

[2020-02-26 16:48] joacar commented on #26727
Hi,

I'm trying to create counters dynamically and it works all though I'm not sure it's the recommended approach. The upper limit of http clients (see zip) is bounded by 50.

The gist of my solution:
1. Create DiagnosticListener and listen to `System.Net.Http.RequestOut.Start` and `Stop`
1. A static instance of EventSource that has a `ConcurrentDictionary` to keep a metric for each http client ma

[2020-02-26 16:51] stephentoub commented on #14435
https://github.com/dotnet/dotnet-api-docs/pull/3940

[2020-02-26 16:53] stephentoub commented on #14472
Closing as by design.

[2020-02-26 16:53] #14472 closed

[2020-02-26 16:56] GrabYourPitchforks commented on #32855
This is actually a more difficult problem than it seems. One thing to keep in mind is that floating point numbers are not evenly distributed across their entire domain. So there's a difference between "give me a random float between 0 and 1" and "choose a real number with even distribution between 0 and 1". Since this is presumably a cryptographic API, we'd need to understand the scenarios deeply

[2020-02-26 17:00] vitek-karas commented on #32863
@stephentoub I think that answering those questions is kind of the point of this issue. I don't fully understand what EventSource does and all the corner case features it supports, so it's hard to tell if the above mentioned places are potentially behavior breaking or not.

I do agree that in general it doesn't sound too bad. That said I know that for example it supports a kind of a serializer (Wr

[2020-02-26 17:03] stephentoub commented on #32863
Ok, that wasn't clear to me. Thanks.  Then this issue is a really a statement that some things might get removed, and we need to determine whether that's ok or not, and if not, then come up with a solution (but "do nothing because nothing bad happens" may also be the outcome).

[2020-02-26 17:04] karelz commented on #32125
@normj see answers above that sum it up:
- https://github.com/dotnet/runtime/issues/32125#issuecomment-585348061 (usage in sync components/SDKs)
- https://github.com/dotnet/runtime/issues/32125#issuecomment-585491076 (usability, prototyping)

Because now we have the feedback. Loud and clear. It's been coming for quite some time and it reached intensity we cannot simply ignore anymore.

Libraries c

[2020-02-26 17:05] epignosisx commented on #32125
Considering .NET Framework only had `WebClient` and `WebRequest` to make synchronous HTTP calls. Could we keep these proposed `HttpClient` sync APIs internal and use them under the hood for `WebClient` and `WebRequest`?

This should unblock customers using those APIs since they can continue to use them and do not have the risk of deadlocks.

[2020-02-26 17:06] martincostello commented on #32855
If this comes into the realm of _”hard problems”_ and the APIs current non-existence is because of that then I guess it wouldn’t be worth the engineering effort.

The reason I thought I’d suggest the API is I stumbled across a usage of Random on some code I’ve not looked at for a while and wondered if I could update it over to use RNG and delete a suppression for “weak random number” while I was a

[2020-02-26 17:09] karelz commented on #32125
`WebRequest` and `WebClient` are legacy APIs which are not even fully implemented (on purpose) - key trouble with them is that they use process-wide configuration model, which makes components in applications impact each other more than they should. Overall they caused too much trouble over time.
We do not plan to improve them, unless there is strong customer signal they block migration to .NET Co

[2020-02-26 17:13] danmosemsft commented on #32679
earlier discussions:

https://github.com/dotnet/runtime/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+label%3Aarea-System.Collections+dictionary+getoradd

[2020-02-26 17:18] karelz commented on #30300
@LokiMidgard please note that WinRT APIs are part of Windows OS and have nothing to do with .NET. The closest thing we do is that we map the native `Uri` type to our managed .NET `Uri` type for interop purposes. Which methods WinRT exposes or how it behaves is defined by its OS implementation though.
As such, this part is out of scope of this repo.

I am not convinced the effort is worth the benef

[2020-02-26 17:19] am11 commented on #32680
re: libkrb5 - took this as a motivation and renewed the android support; with #32800 and accompanying PRs, we were able to build libraries with kerberos support. I have not tested SocketsHttpHandler on the device but the compilation finds gssapi headers and links with library.

Packages containing `libkrb5.so`: [arm](http://termux.net/dists/stable/main/binary-arm/krb5_1.17-2_arm.deb) and [aarch64]

[2020-02-26 17:27] karelz commented on #32680
@marek-safar we intentionally reimplemented NTLM in C# for `SocketsHttpHandler` to avoid adding more dependencies. Overall we are trying to limit the number of dependencies as much as possible.
Is there a reason why Android cannot take the same approach and reuse the simple NTLM implementation?

@wfurt @davidsh may have more thoughts on general authentication and Kerberos integration into `Sockets

[2020-02-26 17:31] Parasrah commented on #13685
`terminate called after throwing an instance of 'PAL_SEHException'`

I'm getting this using VSCode on PopOS 19.10 as well

[2020-02-26 17:33] omajid opened #32875 "Error building ./src/coreclr/src/inc/slist.h with clang 10"
I am trying to build coreclr using clang 10 (rc2), on Fedora 33.

[code]

@tmds suggested the code doesn't look valid at all and he wasn't sure how this was even being compiled at all on clang 9 (or earlier).

If I delete those `#ifndef ...` lines, older versions of clang also complain the code is invalid:

[code]

It looks like clang 10 analyzes code in functions never called: call site is guarde

[2020-02-26 17:35] omajid commented on #32875
cc @leecow since this affects our efforts to include .NET Core in Fedora.

[2020-02-26 17:40] GrabYourPitchforks commented on #32855
There's nothing wrong with hard problems. :) I had to spend a few minutes convincing myself that creating a denormal number and then multiplying would give an unbiased distribution. If we do this, then the produced double will have 52 bits of entropy and will be uniformly chosen from the range `[ 0, 1 )` with a step size of `2 ^ (-52)`.

I am curious as to what happens *after* we return a double b

[2020-02-26 17:51] Anipik commented on #32202
Thanks @adamsitnik for testing

[2020-02-26 17:52] davidsh commented on #32680
Strictly speaking 'libkrb5' doesn't support NTLM; either raw NTLM nor 'Negotiate' protocol where Kerberos falls back to NTLM. On Linux that requires a separate 'gss-ntlmssp' package to be installed which is a plug in to the GSS-API that 'libkrb5' generally supports on Linux. On MacOS, it turns out that their 'libkrb5' bundle includes NTLM support. But that is also because MacOS ships the Heimdal i

[2020-02-26 17:58] bartonjs commented on #22610
There's now a spec/feature proposal at https://github.com/dotnet/designs/pull/93.

[2020-02-26 18:03] tmat commented on #32124
@Jay1305 There is nothing in .NET Core that has changed re Edit and Continue. The changes were in VS.

You can install VS preview on the same machine as the production version without one interfering with the other. See https://visualstudio.microsoft.com/vs/preview/

For EnC Roslyn build is not sufficient. You also need the newer version of VS Debugger. The only way to install it is using the VS P

[2020-02-26 18:09] sandreenko opened #32876 "Build errors: install_force has not been created."
The full error:
[code]

Saw this error in a several runs today:
https://dev.azure.com/dnceng/public/_build/results?buildId=537120
https://dev.azure.com/dnceng/public/_build/results?buildId=537213

The symptoms match this old issue #32483, could cmake be downgraded on these machines?

PTAL @dotnet/runtime-infrastructure

[2020-02-26 18:14] josalem commented on #32863
CC - @tommcdon @sywhang @noahfalk @lateralusX

[2020-02-26 18:15] jaredpar commented on #32876
Changed label to `blocking-official-build`. Generally the `blocking-clean-ci` is meant for issues that block the core PR / CI loop and this isn't affecting that. It is blocking our optional CI runs though. We should probably add a new label for that.

The reason for having a clean separatation of labels here is about prioritization and tracking.

[2020-02-26 18:21] noahfalk opened #32877 "Can't see FormattedMessage for EventSource events in PerfView"
Opening new issue on behalf of @joacar. It wasn't clear if the original issue #26727 was related. Copied from https://github.com/dotnet/runtime/issues/26727#issuecomment-591526718

[2020-02-26 18:26] cston opened #32878 "Remove FEATURE_COMPILE define constant from System.Linq.Expressions"
`FEATURE_COMPILE` is defined on all platforms so the define constant can be removed along with the `#else` blocks from any `#if FEATURE_COMPILE`.

[2020-02-26 18:27] artelk opened #32879 "JIT: Compile every generic specialization separately for all types"
Currently it only works for struct type parameters.
The proposal is to extend that behavior to include reference types as well.

There could be a setting in the config file to switch it off.

[2020-02-26 18:28] artelk commented on #32815
There will be strange corner cases if the target or source classes have subclasses or if both classes are defined in the library and already instantiated there.
I opened created another proposal #32879

[2020-02-26 18:31] marek-safar commented on #32680
@davidsh Android is not really Linux and this is not the only area where we'll hit the difference (just FYI). How would you like to discuss this further? Are you fine to come up with a proposal how you would like to solve it?

[2020-02-26 18:33] leecow commented on #32875
cc'ing a few folks that may be able to help: @janvorli, @jashook

[2020-02-26 18:36] noahfalk commented on #32877
What command are you using to collect the trace and which events are you expecting to see this information for? I assumed the picture you linked is to show an example of behavior you were expecting (it does have text in the FormattedText column), let me know if that isn't the correct interpretation.

When I looked at your repro I saw a few potential issues:
1. The implementation of event logging f

[2020-02-26 18:37] jaredpar commented on #32876
Added `blocking-clean-ci-optional` to track this type of issue

[2020-02-26 18:38] noahfalk commented on #26727
@joacar - it wasn't clear if the issue you were reporting was the same or different from the one here so I opened issue #32877 to track it independently.

[2020-02-26 18:38] DrewScoggins commented on #32835
That last four jobs to finish in the dotnet-runtime-perf pipeline have completed successfully. They all took builds of the CLI that were newer than the broken 20125.8 build. Given that I feel like we can close this issue, or at the very least remove the blocking-clean-ci tag.

I have opened an [issue](https://github.com/dotnet/performance/issues/1209) on our side to see what we can do to harden ou

[2020-02-26 18:50] joacar commented on #26727
Hi @noahfalk, Sorry for not expression my question clearly, which isn’t really a question more seeking guidance in for me unexplored land (eventing). The code is provided to showcase current solution and get some feedback on the implementation and show my use case. So that “question” belongs in this thread and the other correctly moved. I’ll provide some screenshots to that tomorrow as well as cod

[2020-02-26 18:51] noahfalk commented on #32877
If your goal is only to log counters and not to log the explicit events for each RequestStart and request failure then you probably want to remove the [Event(...)] attribute from those methods and use the [NonEvent](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.tracing.noneventattribute?view=netframework-4.8) attribute instead. If your goal is to log an event each time a request s

[2020-02-26 18:54] jeffschwMSFT commented on #32848
@fadimounir

[2020-02-26 19:03] bartonjs opened #32882 "X509Chain tests failing on macOS 10.14"
It looks like 10.14 has started reporting a `GrayListedLeaf` code, which is tripping our "I don't know how to handle this code" code.

It needs to be added to the ignore-this list, with the already present GrayListedKey.

Currently affecting https://github.com/dotnet/corefx/pull/42873, and rolling builds in dotnet/runtime/master.

[2020-02-26 19:06] wfurt commented on #32680
Also old curl handler had it's own implementation. If anything that may be a better path than maintaining Kerberos fork. (unless we need Kerberos as well)

[2020-02-26 19:08] davidsh commented on #32680
The managed CurlHandler didn't have any implementation. But the native 'libcurl' library did bundle an implementation of raw NTLM as well as 'Negotiate' (Kerberos ONLY, no fallback to NTLM) support.  I don't see any advantage of using 'libcurl' for this.

[2020-02-26 19:08] bartonjs commented on #32855
The need for cryptographically sound random numbers for integers has a scenario: picking an array/list/etc index at random, fairly.

I'm having trouble understanding what a CSPRNG-filled double would be used for.

[2020-02-26 19:09] jaredpar commented on #32876
Actually this is happening in our CI jobs right now. Consider this build https://dev.azure.com/dnceng/public/_build/results?buildId=536905

[code]

That seems to be the root of the problem here. We've let this be a warning in PR have it as an error elsewhere. @ViktorHofer @jashook why do we do this? Seems like a significant hole.

[2020-02-26 19:09] jkotas commented on #32878
@marek-safar Is this going to be needed for some of the Mono flavors? (Blazor, Xamarin iOS, ...)

[2020-02-26 19:10] dagood commented on #32835
There's an issue open at https://github.com/dotnet/core-sdk/issues/6572 where I copied that text, but I'm not aware of any more in depth tracking.

[2020-02-26 19:12] wfurt commented on #32680
I was not proposing to use libcurl but more to take maybe a similar approach. e.g. code NTLM support instead of depending on Kerberos/GSSAPI. That can be optional on platforms where Kerberos is not available or does not work (like OSX)

[2020-02-26 19:12] DrewScoggins commented on #32835
OK, going to close this one for now as we are not blocking anymore.

[2020-02-26 19:12] #32835 closed

[2020-02-26 19:16] jkoritzinsky commented on #32876
@safern looks like you might have missed another hole in your recent change.

[2020-02-26 19:21] jaredpar commented on #32876
@jkoritzinsky at the moment @safern is OOF. Can you go about flipping this back to error here? This is blocking a lot of changes at the moment.

[2020-02-26 19:26] jkoritzinsky commented on #32876
We can't flip this back to error without blocking all CI. The current workaround is to mirror #32853 for all of the optional CI runs. (#32853 fixes this for the official build). I can go do that, but I want to wait for #32853 to get merged first so we can decide how we want to handle this specifically since there's some discussion about what fix we want to do.

[2020-02-26 19:27] jaredpar commented on #32876
@jkoritzinsky

Why can't we flip it in a PR and resolve the breaks?

[2020-02-26 19:37] tmds commented on #32875
[code]
There is no assignment operator form `SLink*' to '__DPtr<SLink>`.
Probably earlier versions of clang didn't give an error, because this method isn't used.
clang 10 gives an error for it.

We can make it compile by using the constructor explicitly:
[code]

[2020-02-26 19:41] #32870 closed

[2020-02-26 19:51] xWiiLLz commented on #13685
Just FYI, got that same error while debugging a dotnet core project inside a Docker container using VSCode's debugger: `terminate called after throwing an instance of 'PAL_SEHException'
watch : Exited with error code 134`.

Dotnet project running inside Docker (`Docker version 18.09.5, build e8ff056`), host running `Ubuntu 18.04.2 LTS` (bionic) & accessing debugger (`CoreCLR` packaged with `ms-vsc

[2020-02-26 20:21] jkoritzinsky commented on #32876
The errors are caused by the new version of VS causing the warning but the CMake that ships with VS not having the fix for the VS warning (pre-CMake 3.15.5). Since we have warnAsError set to true, this causes the failures. The VS preview pool has a VS that ships with a new enough CMake that this isn't a problem.

[2020-02-26 20:34] jeffschwMSFT commented on #32766
@leecow

[2020-02-26 20:59] normj commented on #32125
@karelz Sorry I'm trying to avoid a debate over Azure vs AWS SDK but this enhancement just has a bad smell to it.

Like you said the feedback had been coming for a while but I believe the platform took the correct choice and tried to raise the quality of code being produced for .NET and pushed its developers to write better higher performant code. Then it looks like Azure comes in and says this is

[2020-02-26 21:01] vsfeedback opened #32883 "Extent capabilities of Directory.GetFiles to internal skipping system-folders"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/921502/extent-capabilities-of-directorygetfiles-to-intern.html)._

---
the following program produces the System.UnauthorizedAccessException with message
"Der Zugriff auf den Pfad \"D:\\$RECYCLE. BIN\\S-1-5-18\" wurde verweigert."}

[code]
I'd propose to change Enum SearchOpti

[2020-02-26 21:03] danmosemsft commented on #2082
Apparently coming from CreateProcess

@mthalman is this important for 5.0 do you think?

[2020-02-26 21:23] jaredpar opened #32884 "RuntimeFlavor is not consistently set to CoreCLR and Mono"
The MSBuild property `$(RuntimeFlavor)` is not consistently set to known values. When building Mono it is consistently set to `'Mono'`. When building CoreCLR though it will be set to `'CoreCLR`' when building via some of our YML files but not all. It's also not obviously set to `'CoreCLR'` when building locally.

This should be consistently set so our build files can be written consistently.

[2020-02-26 21:30] jaredpar commented on #32876
@jkoritzinsky

I find your comment confusing. Can you clarify? We own all the infra here so what pieces need to change to make this happen.

I want to make sure we have the appropriate priority here. Our official builds are 100% blocked right now. The M2's have commented that official builds must be our highest priority item here. We need to resolve this.

[2020-02-26 21:34] udlose opened #36046 "Add IDistributedCache:RemoveAsync overload that takes multiple keys"
### Problem
I see that `StackExchange.Redis.RedisDatabase` class offers an overload of `KeyDeleteAsync` that takes an array of keys.  Currently, the `IDistributedCache` only exposes a `RemoveAsync` with a single key. This means that multiple trips to the RedisDatabase are made if you need to delete more than one key.  It would be far more efficient and convenient to be able to remove multiple keys

[2020-02-26 21:38] rnelson opened #32885 "Typo in docs/project/public-signing.md"
Doc references "Visual Studio 2016 Update 2". PR coming.

[2020-02-26 21:40] eerhardt commented on #26780
@jkotas -

Good point. I've updated the proposal.

@dsplaisted -

For sure. We have separate issues for adding the new API to `RuntimeInformation` (this issue). And the issue to remove the old PlatformAbstractions library (#3470). The latter can't happen until the new API is in place, and it won't happen at the same time. Separate preview releases would probably make sense, but I'd like to do it a

[2020-02-26 21:41] mthalman commented on #2082
@richlander - Do you have an opinion on this?

[2020-02-26 21:58] eerhardt commented on #3250
We should do this in `5.0` as we move DependencyModel to be more inline with the other libraries we own.

[2020-02-26 22:01] jkoritzinsky commented on #32876
Merging https://github.com/dotnet/runtime/pull/32853 will fix official builds.

The Windows VS machines don't actually have the correct version of CMake on them. The warning we're seeing was introduced during the VS 16.x version cycle. CMake fixed the warning in the CMake generated scripts in 3.15.5. The version of VS on our build machines is > "version which introduced detecting and reporting the

[2020-02-26 22:02] eerhardt commented on #3712
Closing as the questions above haven't been answered. Feel free to re-open if you can provide more information.

[2020-02-26 22:02] #3712 closed

[2020-02-26 22:16] JeremyKuhne commented on #30871
Triage: As we weren't able to reproduce closing until/unless we get more info.

[2020-02-26 22:17] #30871 closed

[2020-02-26 22:19] CoffeeFlux opened #32889 "[mono] MonoImage->references reads should be atomic"
As of https://github.com/dotnet/runtime/pull/32622 we will have a `references_lock` in the `MonoImage` protecting writes to `references`, but reads throughout the code are currently done directly and without locking. This should be changed to use accessor functions that read in the pointer atomically.

[2020-02-26 22:20] #13551 closed

[2020-02-26 22:21] mwpowellhtx commented on #3712
@eerhardt So you are saying that complex resolution contexts are handled seamlessly now? Because from where I was testing, this did not seem to be the case.

[2020-02-26 22:25] JeremyKuhne commented on #30877
I think removing the `FILE_TYPE_DISK` type check is fine for Core.

[2020-02-26 22:25] JeremyKuhne commented on #30877
Whoops, didn't mean to close. :)

[2020-02-26 22:31] eerhardt commented on #3712
No, I'm not saying that complex resolution contexts are handled seamlessly now. I asked for more information on the scenario, but since it wasn't provided I was forced to close the issue. Feel free to re-open if you can provide more information. Sample code illustrating the issue or scenario would be super helpful.

[2020-02-26 22:41] KrzysztofCwalina commented on #32125
It's not that "another Microsoft team wants it". The dynamics we are seeing is the following: there are orders of magnitude more existing applications than new application being written. So far, these old "legacy" applications were mainly left in maintenance mode and so we could have only modern great APIs. But the Cloud is maturing an enterprises suddenly want to port more and more of these old a

[2020-02-26 22:45] steveharter commented on #13298
Please continue to add AV hits here. Unable to reproduce (second local attempt). Running the following on x64 checked:
[code]

[2020-02-26 22:46] mwpowellhtx commented on #3712
The scenario is as I described. I've got a dotnet CLI tooling that I want to invoke during a build. I have the plumbing all working, but it fails because the dependencies are not resolving correctly. Think, I've got something like a grammar parsed by an ANTLR based assembly, based on a Protobuf v2 specification, so on and so forth. This is/was using dotnet core 2.1 runtimes, I think, but admittedl

[2020-02-26 22:47] marek-safar commented on #32878
We don't plan to use the SLE interpreter in .net5. The runtime interpreter should work fine with the "compile" version.

[2020-02-26 22:50] stephentoub commented on #32878
What about for size?  Would a build without the compiler be significantly smaller enough to warrant building without it on some platforms?  Or we think we could remove it via the linker based on how the Compile method is called?

[2020-02-26 22:50] stephentoub commented on #32878
(I have a similar question about System.Text.RegularExpressions, which also has a very similar ifdef for its compiler.)

[2020-02-26 22:55] scalablecory opened #32891 "PipeWriter.Advance with prefix discard"
This API would allow PipeWriter to be used efficiently with protocols which use variable-length enveloping. Without this, one must first buffer data elsewhere before writing into a PipeWriter.

The basic idea is to write code that over-allocates a prefix for the envelope:
░░░░|░░░░░░░░

And then writes the data:
░░░░|▓▓▓▓▓░░░

And finally writes the variable-length envelope into the prefix:
░░▓▓|▓

[2020-02-26 22:57] JeremyKuhne commented on #31002
Adding a new base class wouldn't always be implementable, an interface would:

[code]

@zivkan Would that meet your needs?

[2020-02-26 23:00] jaredpar commented on #32876
@jkoritzinsky thanks for the explanation.

So how do we control the VS that is used on our build pool machines? Given the sensitivity to the native tooling here it seems that we need to have fairly fine grained control over what version of the tools are installed. Or rather I would expect that when the build pool used by dotnet/runtime is updated to a new version of VS there is a test run done fir

[2020-02-26 23:03] karelz commented on #32125
Another angle comes from user studies -- which demonstrate that most developers are confused by async APIs, don't know how to use them and rather give up :(. It is sad eye opener, and a thing to consider.
Most other platforms do have synchronous APIs, which are great for prototyping, experimenting and even ok for majority of production environments (except the top high-performance environments). I

[2020-02-26 23:04] zivkan commented on #31002
yes, that would still make it easy to find the base stream for the 3 HTTP compressed stream types. Proposing an abstract class was quite an oversight on my part. Oops.

[2020-02-26 23:04] marek-safar commented on #32878
My understanding, in this case, is that the non-compile version brings whole SLE interpreter which is a chunk of code as well. If we want to optimize for size, in this case, it should be with e.g. RuntimeFeature.IsDynamicCodeCompiled condition which ILLinker knowns how to remove.

[2020-02-26 23:05] JeremyKuhne commented on #31021
Triage: As described above in https://github.com/dotnet/runtime/issues/31021#issuecomment-537178844 and https://github.com/dotnet/runtime/issues/31021#issuecomment-538065782, this isn't really doable in a robust way. Closing.

[2020-02-26 23:05] #31021 closed

[2020-02-26 23:09] davidwrighton commented on #226
Adding @dotnet/crossgen-contrib for comments. My goal is to implement something as close as possible to my first comment.

[2020-02-26 23:10] marek-safar opened #32893 "Introduce apple interop library"
We already have interop layer into many apple core APIs. Same APIs are used by Xamarin in their managed bindings. It'd be beneficial maintenance and size-wise to extract this code into a library which could be shared with Xamarin SDKs for apple platforms, especially as we can expect this surface to grow in .NET5 context.

The code which would be converted into a separate library and exposed lives

[2020-02-26 23:14] scalablecory opened #32894 "Directly appending buffer segments for a zero-copy PipeWriter"
This API would allow a user to insert their own buffer into a PipeWriter's stream.

This allows a PipeWriter to be truly zero-copy for such a scenario, while currently they must copy their buffer into the PipeWriter's internal buffer. An example might be a block of pre-serialized data that a user might reuse throughout a stream's lifetime. The transport implementation could then take the resulting

[2020-02-26 23:17] jkoritzinsky commented on #32876
As far as I know, we don't directly control it. Someone on the core-eng team does. @MattGal any idea how we can get more validation before build machines are updated on us across the board?

[2020-02-26 23:17] DevDrake commented on #32712
[code]

`| Workaround5 |   10 |  97.32 ns | 0.267 ns | 0.237 ns |`

It is still slower than implementation of Any() with indexer :).
Anyway that doesn't change the fact, it just a dummy test of something that needs indexer and object for predicate, as **Where** does. Using Skip is not universal for that purpose, as Select and Where are.

Also i disagree that Linq should not be used for performance

[2020-02-26 23:18] davidfowl commented on #32894
I'm not sure this can be implemented on the abstract class. What would it do by default? (I'm assuming these are virtual).

[2020-02-26 23:19] jkotas commented on #32893
It would be useful to paste the API shape to this issue so that it is understood what it is about.

[2020-02-26 23:21] darrelmiller commented on #32125
Not giving a sync option removes the need for developers to make the decision on whether they should call Send or SendAsync.  We have been telling developers for years that  they should use async calls for things that wait for IO . Now we are saying sometimes they shouldn't.  Our answer to when they shouldn't use async seems to be "when it is too hard" or for a specific performance scenario where

[2020-02-26 23:21] scalablecory commented on #32894
Yes, they're virtual -- missed that. Default implementation can just call GetSpan()+Copy()+Advance().

[2020-02-26 23:25] #32885 closed

[2020-02-26 23:28] benaadams commented on #32125
Node and JavaScript thrive without any sync apis and have wholeheartily embraced `async` keyword (and Rx); and people are very happy to prototype with them.

Is there anything that can be learnt from how `async` is more approachable and understandable by JS/node devs and bring that to .NET? It must be more than there just being no sync apis?

[2020-02-26 23:33] Clockwork-Muse commented on #32712
... I think part of the issue here is that you're operating from the standpoint that the predicates are filters.  That's true for `Where`, but not for any of your other examples.  It's a specialized case of a _transformation_, like for `Select`, one that's restricted anyways (that is, the return type).

If you're trying to test something about an `N`th element, you should probably be using `Elemen

[2020-02-26 23:34] karelz commented on #32125
Primarily we are enabling higher-level libraries to deliver easier developer experiences (sync) without forcing them to use sync-over-async.
We do not optimize for direct `HttpClient` usage. We should also document the `Send` API drawbacks: no support for HTTP/2+, potential problem with custom Handlers, etc.

[2020-02-26 23:34] marek-safar commented on #32893
Description updated

[2020-02-26 23:36] karelz commented on #32125
@benaadams we are aware of the JavaScript pure async nature. If you have insights what we could learn and how to bring it to .NET, we are all ears ...

[2020-02-26 23:36] Rathna-K commented on #32870
Can you please explain why this is by design? shouldn’t it keep the request as such and try it? Similar requests in Python seems to do this automatically. So if this is by design then one would have to disable allow redirects right? So what is the point of having auto redirects =true?

[2020-02-26 23:37] Anipik commented on #27742
MessageResourceFile should be provided by the user while creating an EventSource.
As a fallback mechanism, .Net Framework started providing a  messageResourceFile(EventlogMessages.dll).
This resource file contains all the possible event ids. (1 - 16000 of them). The resource dll is used to return the message string without any locale modification.

The good thing is that all the necessary info ass

[2020-02-26 23:37] darrelmiller commented on #32125
That's all you needed to say.  :-) Now it will be easy for me to explain to people why they should only use the async methods

[2020-02-26 23:38] Drawaes commented on #32894
This has been an oft requested feature (from all the way back when it worked in the corefxlab version)

#25848 is one request. @benaadams and I may have got some changes into owned memory that lets you tell the pool it came from as well so that you can ensure its the same pool as the pipeline you are trying to append to.

[2020-02-26 23:44] jkotas commented on #32893
We are intentionally keeping all these Common/Interop files as internal. They are not designed as well-rounded public APIs. They do just what we need to implement the netcoreapp libraries, and nothing else.

If other repos need similar interop types, I think the best approach is copy the part they find useful and customize it for their needs.

[2020-02-26 23:47] scalablecory commented on #32125
This concern was brought up during API review. See @terrajobst's [API review comment](https://github.com/dotnet/runtime/issues/32125#issuecomment-591016000) for the video. One possibility we discussed was to make Intellisense understand async, and depending on the user's method being sync or async, to show the sync or async versions of the method first. We understand it is not ideal, but it is als

[2020-02-26 23:48] JeremyKuhne commented on #928
Triage: Conceptually we want to have ACL support for Linux (see [RedHat's support](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/6/html/storage_administration_guide/ch-acls)). The reason we haven't done this yet is that there isn't Posix support yet and there hasn't been significant asks from customers yet.

If we do it we'd also want to see if we can provide some sort of

[2020-02-26 23:51] scalablecory commented on #32894
Yes, this is currently possible via `MemoryMarshal.TryGetMemoryManager()` and would be used to implement the "otherwise" path.

[2020-02-26 23:51] alanisaac commented on #30457
@stephentoub

Submitted #32896 for System.IO.Ports.

[2020-02-26 23:57] swaroop-sridhar commented on #3778
Yes, @theimowski, the extraction is only validated at startup. This is a potential risk for long running processes, but the files extracted in the temp directory are typically not lost for several months.
.net 5 will reduce/eliminate the dependency on extraction to help resolve this problem.

[2020-02-26 23:59] jkotas commented on #32125
The API is going work for HTTP/2+ using sync-over-async fallback. Is that correct? I would not describe it as no support for HTTP/2+. HTTP/2+ is going to be supported with asterisks.

[2020-02-27 00:09] stephentoub commented on #32125
Correct. We already do that when synchronously reading from the response stream, and this will extend it to cover the request issuing as well.

[2020-02-27 00:21] JeremyKuhne commented on #31228
Triage:  Any prototypes to improve this are welcome. We also can consider improvements for non-OSX platforms. Performance is a consideration, of course.

[2020-02-27 00:23] jaredpar opened #32898 "Mono runtime missing several InteropServices.WindowsRuntime types"
The Mono version of System.Private.Corelib is missing a few types that are necessary to satisfy our GenFacades analysis:

- `System.Runtime.InteropServices.WindowsRuntime.DefaultInterfaceAttribute`
- `System.Runtime.InteropServices.WindowsRuntime.IActivationFactory`
- `System.Runtime.InteropServices.WindowsRuntime.InterfaceImplementedInVersionAttribute`
- `System.Runtime.InteropServices.WindowsRun

[2020-02-27 00:24] JeremyKuhne commented on #31256
Triage: We definitely want to do this to make sure we're catching unintentional regressions and document where we intentionally change behavior from .NET Framework.

[2020-02-27 00:25] wfurt commented on #32880
Do you have repro code @lostmagicK? There is not enough data to do any reasonable triage.
I would also recommend doing packet capture with `tcpdump` or `wireshark` to see what is actually going on the wire. (or loopback)

[2020-02-27 00:26] jkoritzinsky commented on #32898
cc: @AaronRobinsonMSFT since this is about WinRT types in .NET

[2020-02-27 00:27] jaredpar commented on #32898
Note: this issue won't make sense until #32881 is merged as this is where the suppressions are added

[2020-02-27 00:28] jhudsoncedaron commented on #32125
I'm having trouble following this conversation. Assuming this means calling Task.Result or Task.GetAwaiter().GetResult() from inside the sync method (which is what the term meant elsewhere); that was one of the drivers that lead for me to abandon HttpClient. (The deadlock wasn't a soft deadlock; we had to bounce the server manually a few times.)

[2020-02-27 00:37] joshudson commented on #31228
I can fix this for Linux immediately. I can't fix the Windows case for set-top NAS boxes. Better to just document the race condition?

[2020-02-27 00:47] jaredpar opened #32900 "System.Security.Cryptography.X509Certificates tests are failing on OSX 14"
## System.Security.Cryptography.X509Certificates.Tests.ChainTests.VerifyExpiration_LocalTime

### Console Log Summary

[code]

### Builds
|Build|Pull Request | Test Failure Count|
| --- | --- | --- |
|[#536515](https://dev.azure.com/dnceng/public/_build/results?buildId=536515)|Rolling|2|
|[#536676](https://dev.azure.com/dnceng/public/_build/results?buildId=536676)|Rolling|2|
|[#536970](https://dev

[2020-02-27 00:52] jkoritzinsky commented on #32900
Is this a duplicate of #32882?

[2020-02-27 00:53] JeremyKuhne commented on #31301
@NattyNarwhal this appears to be a regression from https://github.com/dotnet/corefx/pull/34088. Can you take a look?

[2020-02-27 00:57] jaredpar commented on #32882
This is presently blocking our CI builds

### Builds
|Build|Pull Request | Test Failure Count|
| --- | --- | --- |
|[#536515](https://dev.azure.com/dnceng/public/_build/results?buildId=536515)|Rolling|2|
|[#536676](https://dev.azure.com/dnceng/public/_build/results?buildId=536676)|Rolling|2|
|[#536970](https://dev.azure.com/dnceng/public/_build/results?buildId=536970)|Rolling|2|
|[#537092](https:/

[2020-02-27 00:57] jaredpar commented on #32900
Yep it's a dupe. Lets use the other as primary. WIll copy the relevant info over.

[2020-02-27 00:57] #32900 closed

[2020-02-27 00:58] lambdageek commented on #32377
This is happening during a GC STW when Mono is trying to stop a thread.  Evidently `pthread_kill`  is returning `EAGAIN` (11) which is [an indication that the kernel's global real-time queue has overflowed](https://lkml.org/lkml/2009/3/18/61).  Not clear if this is a transient condition and we could try again or not.

In mono/mono@e30184752b7047007352e7d384cc471875168a15 we added the ability to ab

[2020-02-27 01:02] danmosemsft opened #32902 "On macOS 10.14 X509Certificates.Tests.ChainTests.get_TrustsMicrosoftDotComRoot() failed with X509ChainGetStatusAtIndex returned unexpected error 2"
Lots of similar issues in the past:
https://github.com/dotnet/runtime/issues?q=is%3Aissue+X509ChainGetStatusAtIndex+is%3Aclosed

both mono and coreclr on 10.14
netcoreapp5.0-OSX-Debug-x64-CoreCLR_release-OSX.1014.Amd64.Open
netcoreapp5.0-OSX-Debug-x64-Mono_release-OSX.1014.Amd64.Open

[code]

[2020-02-27 01:02] lambdageek commented on #32325
Depends on outcome of https://github.com/dotnet/runtime/issues/32117

[2020-02-27 01:04] danmosemsft commented on #32902
@bartonjs is this another one where you satisfy yourself the error code is ignorable, and add it to the list ? 10.14 isn't new though.

[2020-02-27 01:04] JeremyKuhne commented on #13658
@stephentoub Is catching arbitrary exceptions and setting them with `TrySetException` the right pattern for using `TaskCompletionSource`?

@joshudson Do you have a call stack where this actually happened? There might be mitigations we can consider when generating IO exceptions.

[2020-02-27 01:05] danmosemsft commented on #32902
Note: `Unknown Chain Status: GrayListedLeaf`

[2020-02-27 01:13] jkoritzinsky commented on #32902
This looks like a duplicate of #32900 and #32882

[2020-02-27 01:20] stephentoub commented on #32125
- When you use the async methods on HttpClient, all I/O is performed asynchronously. The implementation never blocks synchronously on a Task waiting for it to complete.
- Same goes for the async methods on the returned response Stream.
- Stream also has synchronous methods. If you use those on the response stream, with HTTP/1.x we will end up calling through to the synchronous methods on Socket. W

[2020-02-27 01:21] stephentoub commented on #13658
Yup

[2020-02-27 01:24] scalablecory commented on #32632
Hopefully this same optimization could be applied if this were written as:

[code]

[2020-02-27 01:24] Jozkee opened #32903 "NullReference when JsonExtensionData dictionary have a custom JsonConverter"
Repro:
[code]

This only happens in master.

@steveharter @layomia

[2020-02-27 01:36] joshudson commented on #13658
Most of the time it dies with OutOfMemoryException in the log. No stacktrace.

[2020-02-27 01:37] mguinness commented on #912
Thanks to Marco for the PR.  @davidsh Are there plans to backport this to 3.1, or will we need to wait for .NET 5?

[2020-02-27 01:40] davidsh commented on #912
There are no plans for backport to 3.1.  But I'll let @karelz or @danmosemsft comment on that. We would need to see many customers impacted in order to considering a backport.

[2020-02-27 02:03] Rathna-K commented on #32870
Even in the link you sent highlights this as a BUG. Please see this:
Note: When automatically redirecting a POST request after
      receiving a 301 status code, some existing HTTP/1.0 user agents
      will **erroneously** change it into a GET request.

[2020-02-27 02:06] davidsh commented on #32870
See the updated RFC here: https://tools.ietf.org/html/rfc7231#section-6.4

      302 (Found) were defined for the first type of redirect
      ([RFC1945], Section 9.3).  Early user agents split on whether the
      method applied to the redirect target would be the same as the
      original request or would be rewritten as GET.  Although HTTP
      originally defined the former semantics for 301

[2020-02-27 02:27] danmosemsft commented on #32902
I have no idea how I missed that 2nd one

[2020-02-27 02:27] #32902 closed

[2020-02-27 02:31] carlossanlop commented on #17099
@krytarowski I'm closing this issue, it has not been active since 2016. Feel free to reopen the issue if you get a chance to look into the xterm entry to TermInfo.

[2020-02-27 02:31] #17099 closed

[2020-02-27 02:39] #32882 closed

[2020-02-27 03:17] karelz commented on #912
As @davidsh mentioned, it depends on impact - how big, how many customers, how hard to workaround.
So far, this didn't seem to be absolutely terrible adoption blocker IMO.

[2020-02-27 03:17] NattyNarwhal commented on #31301
I'm not entirely sure about that. That patch basically does another check if the dirent is DT_UNKNOWN (since some systems, ahem may not return type info in a dirent), but the code was already doing a stat before anyways (to find the true nature, be it because its a symlink to resolve or an unknown as sentinel) - I just made it do it again if DT_UNKNOWN to check if its a symlink.

[2020-02-27 04:09] GrabYourPitchforks commented on #31549
I updated the proposal to perform best-fit mapping during the narrowing conversion. This provides compatibility with the existing `Latin1Encoding` default behaviors.

[2020-02-27 04:12] lostmagicK commented on #32880
Due to restrictions i cannot share repo, but ill share the code. Its simple post request to call FCM

[2020-02-27 04:18] lostmagicK commented on #32880
`
public class Notifer : INotifier
{
        private readonly IConfiguration Configuration;
        private carddbContext _context;
        private IHttpClientFactory _clientFactory;

        public Notifer(IConfiguration _config, IHttpClientFactory clientFactory)
        {
            Configuration = _config;
            _clientFactory = clientFactory;
        }

	public async Task NotifyOnJoinRe

[2020-02-27 04:23] wfurt commented on #32880
Can you reproduce it with simple HttpClient? The fragment you post it still does not give me a way to run it. You should also verify that you do get data back from the server. (if not, the exception would be legitimate)

[2020-02-27 04:25] lostmagicK commented on #32880
Okay ill do that

[2020-02-27 04:40] MihaZupan commented on #30818
Duplicate of #27399

[2020-02-27 04:40] #30818 closed

[2020-02-27 05:19] LazZiya opened #32907 "Why System.Drawing.Common nuget is asking to install Microsoft.NetCore.Platforms on Asp.NetCore 3.1 Web App as required dependency?"
Hi,

I have Asp.Net Core web app that is targeting **.Net Core v3.1.0**. When I try to install `System.Drawing.Common.4.7.0` nuget via "Nuget Package Manager" it asks to install `Microsoft.NETCore.Platforms.3.1.0` as dependency:
[code]

I tried to install lower versions but lower versions also has the same issue, v4.6.0 is asking to install `Microsoft.NETCore.Platforms.3.0.0` and v4.5.1 is asking

[2020-02-27 05:22] tmds commented on #31719
There are two things blocking me to debug the `TestZeroTimeout` issue:
- I think the `dotnet` host that is used to run the tests is not part of the artifacts. @ViktorHofer, is that the case? Or do the test use the `corerun` executable that is part of `CoreCLRProduct_Linux_x64_Release`?
- `lldb` `sos` isn't working for me. `setclrpath` to the proper directory, results in `Failed to find runtime mod

[2020-02-27 05:23] undergroundwires opened #32908 "FileInfo fails to recognize absolute path"
# FileInfo fails to recognize absolute path

Execute:
- `new FileInfo("C:/Dev/cloudarchitecture.io/build.yaml").FullName`
- or `new FileInfo("C:\\Dev\\cloudarchitecture.io\\build.yaml").FullName`

It returns current dir + whitespace + given path

Tested with .NET Core 3.0 and 3.1 on Windows.

[2020-02-27 05:27] Jay1305 commented on #32124
Unfortunately I am not able to install preview on any of machines. Also as probably it is happening with only our machines since we installed 2019 first time (version 16.3.7) and not to rest of the world, I was assuming that none of the VS build would fix this. We literally updated VS every time and it didn't fix.

I had put most of the time on finding resolution of this issue today and found that

[2020-02-27 05:27] #32124 closed

[2020-02-27 05:38] hoyosjs commented on #32124
@Jay1305 glad to hear it worked out in the end. As for the environment variable, that one enables the runtime at startup to load a profiler. Check if you have COR_PROFILER_PATH or COR_PROFILER set as well. These are loaded at startup and allow you to trace code, or add instrumentation around specific events (module load, method jitted, etc). There are tools that set it without you noticing (normal

[2020-02-27 06:02] Jay1305 commented on #32124
@hoyosjs I found the process that caused this issue just before this post! We had installed stackify prefix on our machines and that added that flag to system. Thanks to Windows Sandbox feature that I could find the issue very quickly!! I had already uninstalled prefix very long time but seems that it didn't remove these entries.

![2020-02-27_11-23-22](https://user-images.githubusercontent.com/31

[2020-02-27 06:11] davidfowl commented on #32125
Aren't responses buffered by default?

[2020-02-27 06:29] tmds commented on #32125
Does it? I hope so!

https://github.com/dotnet/corefx/pull/38804 deals with them. The change is not in any released version of .NET Core.

These are the known limitations:

https://github.com/dotnet/runtime/blob/40e44e7ed07071bd2606b51cf0ac7071a23e3075/src/libraries/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.Unix.cs#L201-L204

[2020-02-27 07:14] safern commented on #32876
I’ve just updated my PR https://github.com/dotnet/runtime/pull/32853 to disable the warning in the native build which help us not depend on a specific version of cmake for the build per @jkotas suggestion.

[2020-02-27 07:30] undergroundwires commented on #32908
Same issue with `Path.GetFullPath` given the same path.

[2020-02-27 07:46] joozek78 commented on #32859
Thanks, I'll try it. As for SQL Server version - I can connect to server from `mcr.microsoft.com/mssql/server:2017-CU14-ubuntu` container without any problem.
I also confirmed network connectivity (I used netcat to establish connection to the server on port 1433)

[2020-02-27 07:54] marek-safar commented on #32893
That's unfortunate. It's not a large amount of code yet but the code will be duplicated multiple time in all size sensitive apps. We don't need to make this public API we could start with a library and IVT.

[2020-02-27 07:55] undergroundwires commented on #32908
I just realized that it was a damn whitespace in the begging that I could not see so long before starting debugging `System.IO`. Closing the issue.

[2020-02-27 07:55] #32908 closed

[2020-02-27 07:56] joozek78 commented on #32859
I checked it with `Microsoft.Data.SqlClient 1.1.1`. Unfortunately, it still reproduces

[2020-02-27 08:04] ststeiger commented on #32735
@vitek-karas: Worker-Template in JetBrains Rider, which should use the same template as Visual Studio, assuming the template is licensed to be reused.

OK, I will.

@swaroop-sridhar:

Correct :)
Though, filewatcher/ChangeToken should be configurable so Microsoft.Extensions.Primitives.ChangeToken.OnChange does not get called twice when I edit a config file in notepad. I understand this is because c

[2020-02-27 08:37] pappasa commented on #715
Do you mean DTC will be supported in .NET 5?

[2020-02-27 09:09] andy-yx-chen opened #32911 "dotnet not longer load dylib from $HOME/lib after upgrade to 3.1.2"
After upgrade to dotnet 3.1.2,  I found dotnet run no longer work with Drawing.Common and libgdiplus installed to $HOME/lib
`System.DllNotFoundException: Unable to load shared library 'libgdiplus' or one of its dependencies. In order to help diagnose loading problems, consider setting the DYLD_PRINT_LIBRARIES environment variable: dlopen(liblibgdiplus, 1): image not found
   at System.Drawing.Safe

[2020-02-27 09:10] andy-yx-chen commented on #32911
`dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   3.1.102
 Commit:    573d158fea

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.15
 OS Platform: Darwin
 RID:         osx.10.15-x64
 Base Path:   /usr/local/share/dotnet/sdk/3.1.102/

Host (useful for support):
  Version: 3.1.2
  Commit:  916b5cba26

.NET Core SDKs installed:
  2.1.803 [/usr/local/share/dotnet/sdk]

[2020-02-27 09:11] andy-yx-chen commented on #32911
The following code with xcode runs fine,
`let h = dlopen("libgdiplus", 1)
if h != nil {
    print("not able to load libgdiplus")
} else {
    print("libgdiplus is loaded")
}
`

[2020-02-27 09:11] lateralusX commented on #32377
On Windows we will follow the semantics (believe mac does similar), if suspend fails (or GetThreadContext) the thread will be left running and mono_threads_suspend_begin_async_suspend will return FALSE and state machine is reset to a state reflecting thread to run as normal (fixed by  mono/mono@e301847). On Linux as you said, you currently get an error that will take down the process before any of

[2020-02-27 09:14] robkuz commented on #3832
Is there a date when this will be released.
It is becoming a real issue for me

[2020-02-27 09:45] joacar commented on #32877
Thanks @noahfalk for clarification and educating me. I assumed that writing an event counter also wrote corresponding event. I've updated the code to call `WriteEvent` but FormattedMessage is still blank.

[code]
![perfview_empty_formattedmessage](https://user-images.githubusercontent.com/439028/75426946-ea7e9080-5945-11ea-8e7c-8d5a3c7531d6.png)

Thanks for the tip about fetching interval counters

[2020-02-27 09:47] stephentoub commented on #32125
At the handler level, no. Any buffering of the response Stream that's layered on by HttpClient is subject to the exact same conditions I described for the response Stream. HttpClient.GetStreamAsync just returns that same Stream, no buffering. GetString/ByteArrayAsync buffer out of necessity. Get/SendAsync buffer to support the HttpCompletionOption.ResponseContentRead option, which is the default f

[2020-02-27 10:28] ststeiger commented on #32735
Note that System.Diagnostics.Process.GetCurrentProcess().MainModule.FileName is "C:\Program Files\dotnet\dotnet.exe" when debugging (and when executing with dotnet).

So fully correct is:
[code]

[2020-02-27 10:29] Wraith2 commented on #32859
/cc @cheenamalhotra

[2020-02-27 11:37] scholtz commented on #887
Hi @davidsh Great work with the dotnet/corefx#42522 .. Is there any chance how i can test it in my environment? How can I compile .net5 source code? Would it take too much effort for you to port it to .net core 3 :) ?

I believe I am missing some very simple configuration thing to make it work. Could you plase take a look at [here](https://stackoverflow.com/questions/60296237/windows-authenticatio

[2020-02-27 12:17] CorrM commented on #32416
@EgorBo @svick

**Here some new information**
`IntPtr.Size = 4`.

**ULONG & UIntPtr**
:white_check_mark:
[code]
**LONG & IntPtr**
:x: Same Problem

[code]

Why `VS2019` Show As 8byte if its 4bytes !! (i think that is a bug in VS)
![27-2-2020 2-00-27 PM](https://user-images.githubusercontent.com/5868825/75443185-8bcb0e00-5969-11ea-9044-619ed151bbe4.png)

[2020-02-27 12:25] DotNetAppCompatFeiWang opened #32913 "dotnet-xtd exception at Regex Match"
Application Name: dotnet-xtd
OS: Windows 10 RS5
CPU: X64
.NET Build Number: 5.0.100-preview.1.20125.9
App Location:
App Source on GitHub link  : https://github.com/nil4/dotnet-transform-xdt

Verify Scenarios:

1). Windows 10 RS5 X64 + .NET Core SDK build 5.0.100-preview.1.20125.9: Fail
2). Windows 10 RS5 X64 + .NET Core SDK build :  3.1.101   Pass

Repro Machine could be found at https://devdiv.vi

[2020-02-27 12:45] einaradolfsen opened #32993 "Exception.Data dictionary is not passed to catch block in dotnet core 3.1"
# Issue Title
Exception.Data dictionary is not passed to catch block in dotnet core 3.1

# General
In my service layer I throw a HttpRequestException and set a origin key to a service name string.
IErrorOriginEnum origin = structure.OriginType;  //origin
ex.Data.Add("origin", origin);
trow ex;
Inspecting the ex instance at this point shows one Data dictionary entry key origin with its value

In th

[2020-02-27 12:51] stephentoub commented on #32878
And there aren't any platforms where IsDynamicCodeCompiled returns true but we still care about size?

If we can have a single build, removing the ifdefs, and then let the linker exclude stuff to optimize for size, that's great. I just want to make sure we use the right guard condition.

The recommendation then is, anywhere we or anyone else has both an interpreter and a compiler implementation fo

[2020-02-27 13:00] vitek-karas commented on #32863
Regarding `Marshal.SizeOf` - thanks for the feedback - I'll investigate if it is really safe. For now just ignore that part of the issue above.

[2020-02-27 13:17] EgorBo commented on #32416
You can't cast `0xff07b000` to IntPtr on x86, it should throw ArithmeticException (even under `unchecked {}` context).

[2020-02-27 13:19] linuxchata opened #32915 "Performance of CRL check"
### Behavior
Our Dockerized ASP.NET Core application implements validation of client certificates by using API from System.Security.Cryptography.X509Certificates namespace. One of the certificate validation checks is whether client certificate is present in revocation list. Everything works as expected and client certificates can be successfully validated. Also CRL are getting cached in file syste

[2020-02-27 13:26] CorrM commented on #32416
No Execption Thrown, it's just pass as nothing !!, and as i know even it's x86 .Net will store long (64bit) into 8byte as here
https://stackoverflow.com/questions/22363503/will-a-long-integer-work-on-a-32-bit-system

[2020-02-27 13:35] EgorBo commented on #32416
Seems like a bug in Mono (non netcore one), it should throw that exception just like CoreCLR does.

[2020-02-27 13:39] Rathna-K commented on #32870
Thank you for pointing that out. It’s funny though, basically saying everyone is doing it wrong so basically lets make that right. :-)
I guess I will make the code changes on my end to capture this and handled it.

[2020-02-27 13:41] CorrM commented on #32416
@EgorBo ok, i think u must edit this issue tag and title

[2020-02-27 14:05] #32876 closed

[2020-02-27 14:18] jkotas commented on #32893
Majority of files under Common/src are included in multiple binaries. This is not OSX specific problem. My gut feeling is that the duplication from non-OSX specific files is going to be dominating the overhead, yet it should be pretty small in absolute numbers.

[2020-02-27 14:19] jkotas commented on #32893
Majority of files under Common/src are included in multiple binaries. This is not OSX specific problem. My gut feeling is that the duplication from non-OSX specific files is going to be dominating the overhead, yet it should be pretty small in absolute numbers.

[2020-02-27 14:24] gbalykov commented on #31793
After #25761 `Platform` is set equal to `BuildArch` instead of `AnyCPU`, which makes dll become platform specific, as I mentioned above.

https://github.com/dotnet/runtime/blob/b52c779818a28cd6e1f480ddff5e8d8dfecc568b/src/coreclr/tests/dir.sdkbuild.props#L12

Why is this change required?

[2020-02-27 14:56] stephentoub commented on #32915
What is the unit on your time measurement? ms?

And have you tried v3.1 rather than v2.1?

[2020-02-27 15:08] jkotas commented on #31793
It should not be required, for majority of test projects at least.

[2020-02-27 15:37] linuxchata commented on #32915
1 unit of time is around 50 ms in our case, so test case with CRL with 2 certificates was execute in 50 ms (average value based on 3 runs).

We did not run performance tests for v.3.1. Were there any performance improvements introduced in v3.0 or v3.1?

[2020-02-27 15:51] AndyAyersMS commented on #32879
The runtime determines which instantiations are shared, so relabelling.

My understanding is that some sharing is required, otherwise there is an explosion in the number of instantations.

[2020-02-27 15:52] bartonjs commented on #32650
Ideally you wouldn't be using any types from the CSP package.  (e.g. for MD5, use `MD5.Create()`, not `new MD5CryptoServiceProvider()`).

But also ideally things should just work.  @ericstj / @safern, any ideas?

[2020-02-27 15:56] davidsh commented on #32870
Basically it is this: https://en.wikipedia.org/wiki/De_facto_standard

[2020-02-27 16:02] stephentoub commented on #32915
Yes, there were extensive perf improvements across the stack in .NET Core 3.0.  In this area specifically, https://github.com/dotnet/corefx/pull/35367 for example overhauled X509Chain processing.

[2020-02-27 16:02] Tragetaschen commented on #32600
I could certainly call `Flush(true)` to fix this if it was my code, but the mentioned library example doesn't currently and I cannot fix/change this from within my application. This example uses the `XElement.Save(string fileName)` convenience API, which only ever calls `Flush()` which is `Flush(false)`. Heck, the entire `StreamWriter` implementation or `File.WriteAllText` only ever call `Flush()`

[2020-02-27 16:06] artelk commented on #32849
Writing raw data can be unsafe. I would propose a method that writes all tokens from a Utf8JsonReader. That would implicitly validate the content.

[2020-02-27 16:14] tl-cristian-bordean opened #32975 "double with value 0 ToString() can return "-0""
# Issue Title

double with the value 0 ToString() can return "-0"

# General

If you have a variable of type double with the value 0, multiply it by -1 and do a ToString on the result you will get "-0".

`var val = 0d
val *= -1;

var result = val.ToString()`

// result = "-0";

The issue only seems to occur with variables of type double and doesn't occurs on the latest version of .Net Framework.

[2020-02-27 16:15] danmosemsft commented on #32915
Did 15,000 validate in 4.2ms altogether, or each cert? What is the goal for your app?

[2020-02-27 16:15] #31162 closed

[2020-02-27 16:27] #32497 closed

[2020-02-27 16:55] janvorli commented on #32852
Based on the comment https://github.com/ppy/osu/issues/7791#issuecomment-586651006, it is an unhandled managed exception caused by inability to load libdl.dylib when the application calls dlopen by interop explicitly. Since the attempt to load it happens from the OSU code, it doesn't seems the problem is related to .NET Core.
Would you be able to check if calling dlopen from a simple C test app fo

[2020-02-27 16:55] MattGal commented on #32876
Simply by inserting "-Int" into the pool provider name (i.e. "`NetCoreInternal-Int-Pool" or "NetCorePublic-Int-Pool", accordingly) in the agent pool name in your yaml will build using machines in the preproduction environment.

The problem here will be that your pipelines use dozens of machines at once and we can't afford to run 4-core VMs at that scale in our staging environment (nor do they have

[2020-02-27 17:01] jkotas commented on #32876
I disagree that bootstrapping is going to solve these problems. When the version of the tools that you bootstrap is incompatible with the silent compiler update, there is still going to be a sudden build break and it is going to take some time for folks to get to the bottom of it and fix it.

[2020-02-27 17:03] jaredpar opened #32918 "Need argument to specify libraries runtime"
Once #32881 is merged it will be possible to build libraries against CoreCLR or Mono yet there is no build argument to specify which. Instead developers must specify MSBuild variables on the command line in order to pick Mono.

[code]

Given this is a supported scenario we should have a supported argument here called `runtimeFlavor`. That should allow both Mono and CoreCLR arguments.

Note: we sho

[2020-02-27 17:03] #32893 closed

[2020-02-27 17:05] B-Esmaili opened #32973 "Strange performance degradation in .net core 3.1"
I was benchmarking `AutoMapper` in .net core  3.1 and found out a strange performance degradation in `.net core 3.1` with respect to `.net core 2.1` here is the screenshot from my benchmark :

**.NET CORE 3.1**
![image](https://user-images.githubusercontent.com/9152515/75466427-6ce76e80-599f-11ea-9c38-ad2e9606a620.png)

**.NET CORE 2.0**
![netcore21](https://user-images.githubusercontent.com/91525

[2020-02-27 17:08] steveharter commented on #1562
@Tragetaschen

Yes array perf was one of the main drivers for this refactoring. Currently 5.0 (master) will no longer box array elements or the array enumerator.

Using your example but wrapping in a loop of 100 in 3.1 generates:
[code]

5.0 generates:
[code]

Also CPU perf is improved with large collections. Serializing a single 10,000 element Int32 array:
- 13.1 seconds in 3.1
- 3.3 seconds in 5

[2020-02-27 17:08] matttrawicki commented on #32465
👍 I find the Channels very intriguing but unusable as implemented. I need to know when the channel is full and writes are being blocked/dropped. Even a simple Count property would be a useful step.

[2020-02-27 17:10] marek-safar commented on #32878
We have only Android in that camp but the speed improvement from the compiled code there outweighs potential size increase.

[2020-02-27 17:11] stephentoub commented on #32465
That now exists: https://github.com/dotnet/runtime/pull/312

[2020-02-27 17:13] matttrawicki commented on #32465
@stephentoub Thank you! I really did try to look before asking, but I missed it. 😥

[2020-02-27 17:15] gbalykov commented on #31793
Is the same true for crossgen2? I.e. can it be built for one arch and used on another?

[2020-02-27 17:19] #10984 closed

[2020-02-27 17:24] marek-safar commented on #32510
/cc @steveisok

[2020-02-27 17:26] markwilkie commented on #32876
As @jkotas has said many times before, managing our underlying toolsets in a sane way is important, and not necessarily straightforward to do.  Unfortunately the long term work is not currently funded due to other "10's", HOWEVER....

@mmitche and I spoke with @shawnro and we agreed that we (the infra team) should do more to proactively test by building key repos when updating toolsets (including

[2020-02-27 17:28] eiriktsarpalis opened #32920 "[System.Net.Security] Potential bug in SslStream.Implementation.cs"
Discovered while annotating the library #32541.

It looks like the `lazyResult` value will never get initialized in this [snippet](https://github.com/dotnet/runtime/blob/d76ef042f8ead9d06a447ab2b1004ae626185ca2/src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Implementation.cs#L429-L443). Similarly [here](https://github.com/dotnet/runtime/blob/d76ef042f8ead9d06a447ab2b1004ae6261

[2020-02-27 17:31] stephentoub commented on #32920
I believe @wfurt is already aware of this and working in it.

[2020-02-27 17:33] wfurt commented on #32920
I'm running final benchmarks and stress on possible fix.  It should be ready today or tomorrow.

[2020-02-27 17:59] davidfowl commented on #32125
I meant at the HttpClient level, I also thought GetStreamAsync was buffered unless `HttpCompletionOption.ResponseHeadersRead` was used.

For HTTP/2, maybe it makes sense to degrade the sync API to make parallel requests to the same connection spin up a new connection since multiplexing over a singe connection is broken anyways?

[2020-02-27 18:07] stephentoub commented on #32125
GetStreamAsync always specifies ResponseHeadersRead; it doesn't provide an alternative. :)

Interesting idea. My hope/expectation is that https://github.com/dotnet/runtime/pull/32917 will be sufficient / strike the right balance.

[2020-02-27 18:23] fanyang-mono commented on #32510
This doesn't seem to solve this problem.

[2020-02-27 18:25] ericstj commented on #32650
That means it should have CSP inside it.

I can't imagine what would make this machine-specific if the app is self-contained.

Could be issue with CSP being loaded in the single-file case.  @swaroop-sridhar @jeffschwMSFT can you suggest some host/loader logging that would help @Rinacm debug on the failing machine?

[2020-02-27 18:38] bartonjs commented on #32915
The CRL processing (both understanding the files, and doing the revocation check) is performed by OpenSSL (on Linux, which your docker container is using); so most of the work that depends on the size of the CRL will be there.

Without peeking too much under the covers, the flow should be akin to:

[code]

The only part that depends on the size of the CRL is serial number matching, which is an O(N

[2020-02-27 18:42] danmosemsft commented on #32913
@stephentoub

[2020-02-27 18:43] stephentoub commented on #32913
I'll take a look.

[2020-02-27 18:52] stephentoub commented on #32913
Is the repro code correct?  I copy/pasted it into an app:
[code]
On both .NET Core 3.1 and .NET 5, I get an exception:
[code]
Similarly on .NET Core 2.1 and .NET Framework 4.8, just with a slightly different exception:
[code]

What is the correct repro?

[2020-02-27 18:55] stephentoub commented on #32913
I found the original expression used from the cited repo... it's a bit different than what's in the repro above:
[code]

[2020-02-27 19:00] vitek-karas opened #32921 "GetAsyncStateMachineDescription may change behavior on app processed by ILLink"
The code in [`AsyncMethodBuilderCore.GetAsyncStateMachineDescription`](https://github.com/dotnet/runtime/blob/5468699715d37d738f881da6050552c77a4caa82/src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncMethodBuilderCore.cs#L95) enumerates all fields on the state machine type and prints out their values into the resulting string.

If a field is not accessed by anything in

[2020-02-27 19:01] vitek-karas commented on #32921
@eerhardt

[2020-02-27 19:04] Anipik opened #32922 "Intellisense is not working for vscode"
The new config system broke the intellisense for vscode. This could be verified from the omnisharp log

[code]

 cc @ericstj @ViktorHofer @safern @danmosemsft @carlossanlop @danmosemsft

[2020-02-27 19:07] infacto commented on #30456
JSON (JavaScript Object Notation) only has one number type. The equivalent in C# is `byte` or `sbyte` or `short` or `ushort` or `int` or `uint` or `long` or `double`, etc. It's a question of bit length. A `byte[]` is not always binary data. For the communication to JavaScript we expect `byte[]` as `number[]`. Now we have to write a lot of code and confuse our developers and reviewers because of th

[2020-02-27 19:11] ericstj commented on #32922
Do we know what's wrong and how to fix it?  It looks like Omnisharp isn't evaluating the project to strip the TargetFramework value.

[2020-02-27 19:12] stephentoub commented on #32913
This is caused by the "Optimize .* in Singleline mode" change in https://github.com/dotnet/runtime/commit/839dd69a25607070d530e785a74bc127999b38fb.

[2020-02-27 19:28] benaadams opened #32926 "Jit currently doesn't compile"
I assume a cross merge issue.

There is now no parameterless `.Print()` method

https://github.com/dotnet/runtime/blob/4f84429fb44801b841c052505935a3cd14da18e2/src/coreclr/src/jit/codegencommon.cpp#L11307-L11312

[code]
As seen in https://github.com/dotnet/runtime/pull/32538/ and https://github.com/dotnet/runtime/pull/32923

[2020-02-27 19:29] AndyAyersMS commented on #32926
Will have a PR up shortly.

[2020-02-27 19:33] kunalspathak commented on #32926
Ah, happened with bad merge of my PR.

[2020-02-27 19:36] karelz commented on #887
@scholtz we do not backport fixes unless there is strong demand for them. You can try .NET 5 daily builds (or public previews coming soon) - see [installers and binaries](https://github.com/dotnet/core-sdk/blob/master/README.md#installers-and-binaries)

[2020-02-27 19:38] jkotas commented on #31793
The managed binaries of crossgen2 driver are platform neutral. The unmanaged JIT binaries loaded by crossgen2 are not. So that makes crossgen2 to be platform specific as a whole.

[2020-02-27 19:51] jeffschwMSFT commented on #32911
@andy-yx-chen can you try running this with an apphost?
`
<PropertyGroup>
  <UseAppHost>true</UseAppHost>
</PropertyGroup>
`
We just got .NET Core into a notarized package and you may be running into a limitation of the default entitlements that we provided on ./dotnet.
https://docs.microsoft.com/en-us/dotnet/core/install/macos-notarization-issues

[2020-02-27 19:57] trylek commented on #32320
Thanks @MattGal. Closed & reopened the PR; the results are kind of weird - the summary in the PR indicates that the Windows legs are still running but in Azure it shows they failed. For the Windows ARM run, if I read the log correctly, it claims that it lost connection to the pool.

https://dev.azure.com/dnceng/public/_build/results?buildId=537911&view=logs&jobId=3ebbb5e8-da96-58d1-d7f8-eda9a2949a

[2020-02-27 19:57] danmosemsft opened #32929 "Environment.UserInteractive can be unexpectedly false"
https://github.com/dotnet/wpf/issues/2663

This is preventing Winforms and WPF popping some dialogs.

Caused by https://github.com/dotnet/runtime/pull/1234   c6ec170197f42ce5ce21ceca27e89af6f1e6030

Since I copied the implementation from .NET Framework, it's surprising there's a problem. Needs investigation.

[2020-02-27 20:01] kouvel commented on #32845
Upon the tier 1 compilation, the JIT switches to MinOpts for the method, probably due to its size. In that case the entry point is not updated to avoid a potential regression, as prejitted code may potentially be better if different policies are used at prejitting time. The JIT traces are currently reflecting this accurately and I have posted PR https://github.com/dotnet/runtime/pull/32928 to fix

[2020-02-27 20:10] wekempf commented on #462
Nothing wrong with Enumerable.Range, other than it doesn't have the nice range syntax. Personally, I like something like this.

[code]

This gives you the following behaviors (note, there are some mistakes in the proposal text above, for example [5..10] can't both include 10 and return a Count() of 5).

[code]

[2020-02-27 20:16] CoffeeFlux commented on #32433
Failure appears to be the result of us not properly calling the managed events. Somehow this regressed with the migration to dotnet/runtime...

My guess would be that this is the reason all the various ALC tests started failing, but I haven't checked anything but this test so far.

Sample program:

[code]

[2020-02-27 20:22] noahfalk commented on #32877
I investigated a bit and there are appears to be more than one issue causing this. The first one that I expected is that you are running into a current limitation with nettrace file serialization. When collecting using ETW (.etl files) the string you put in the Message attribute is transmitted as part of the trace, but the nettrace file isn't saving it. Without the template string available PerfVi

[2020-02-27 20:23] AndyAyersMS commented on #32845
With your fix, do you still see
[code]
That is the important bit.

I guess this is one more avenue for possible R2R -> Tier1 "regressions" -- historically, the jit is willing to spend more time prejitting a method than it would spend jitting, so the optimization circuit-breakers are set lower for jittting (related: #31942).

Perhaps we should reconsider all this, and make sure the Tier1 method get

[2020-02-27 20:28] kouvel commented on #32845
Yes I see that line printed instead of "Tier 1", and in the JitDisasm output it no longer prints "Tier-1 compilation" and only the part about MinOpts code.

Currently if the JIT switches to MinOpts during a tier 1 compilation, the VM won't update the entry point and will continue to use prejitted (or tier 0 jitted) code to avoid a regression. It may be useful to force-optimize methods that were pr

[2020-02-27 20:28] CoffeeFlux commented on #32433
Caused by this change: https://github.com/dotnet/runtime/commit/7c6ec46a637017971d3eaa210fd2b6e4d4a6b737#diff-53c474033a1751601becf0eb958fcb5dL287-R287

[2020-02-27 20:36] AndyAyersMS commented on #32845
I'm not sure either, but Tier0 compilation of large methods often emits a huge amount of code, so the time spent jitting at Tier0 vs Tier1 may be closer than one might imagine. Worth some investigation, anyways.

At any rate, we're now doing a useless Tier0 compilation. Another option is to abandon the Tier1 jit attempt immediately if the jit decides fall back to minopts.

[2020-02-27 20:41] #32926 closed

[2020-02-27 20:43] stephentoub commented on #32913
Simple fix in https://github.com/dotnet/runtime/pull/32930; we weren't initializing a value to 0.

[2020-02-27 20:50] vatsan-madhavan commented on #1724
Please take a look at https://github.com/dotnet/wpf/issues/2663. WPF's OpenFileDialog is broken because `Environment.UserInteractive` is returning `False` all the time.

I don't think WinForms is broken though. I tried it and it seems to work fine.

[2020-02-27 20:53] karelz commented on #32777
@sandreenko only 1 area label please - see [why](https://github.com/dotnet/runtime/blob/master/docs/project/issue-guide.md#motivation-for-triage-rules)

[2020-02-27 20:55] karelz commented on #32812
@ddgweb please post a minimal HelloWorld-style console repro. That will speed up time to resolution and save on back and forth. Thanks!

[2020-02-27 20:56] stephentoub commented on #32921
It's acceptable.  This is used to get a description of the state of the state machine when an async method doesn't complete / hangs and gets GC'd in that state; we output an EventSource event to help the dev track down their bug, and we include in it the state of the state machine as best we can gather it.  It's best effort, and if there's something on the state machine that's never touched such t

[2020-02-27 20:57] karelz commented on #32818
@ViktorHofer do you know why the error text is reported with ugly `\r\n` instead of new line? I have seen it before ... this is rather annoying on bug reports :( ... is there some place we could/should improve this? Thanks!

[2020-02-27 20:59] stephentoub commented on #32921
As an aside, is the linker actually able to remove fields from async state machines?  That surprises me.  I would have expected anything the linker could possibly remove wouldn't have been promoted from locals to fields in the first place by Roslyn.

[2020-02-27 21:00] kouvel commented on #32845
I'll look into abandoning the JIT more closely later, it would be good to avoid the probably long JIT time and large redundant code

[2020-02-27 21:02] vitek-karas commented on #32921
You're probably right - I didn't actually try to see if there's a counter example.

I based the description above on analyzing the code looking for reflection calls which may provide different results on trimmed assemblies. Unless I'm pretty certain I'm trying to avoid definitive statements about the code's behavior as I don't understand the affected area that well.

[2020-02-27 21:03] carlossanlop commented on #23402
@tannergooding @bartonjs should the design discussion continue, or should we make the decision of staying with `IndentedTextWriter` as the preferred option to add indentation?

[2020-02-27 21:07] carlossanlop commented on #30130
@tmds did you get a chance to re-enable these tests?

[2020-02-27 21:07] Anipik opened #32935 "COMPlus_PartialNGen is not being set since repo consolidation"
we are setting this flag _partialCrossgenFlag for some assemblies here https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Build.Tasks.SharedFramework.Sdk/targets/framework.dependency.targets#L427-L431

Before this change these lines of code was never been executed https://github.com/dotnet/arcade/pull/4911 becuase $(OSGroup) can never be linux in installer. we either set it to unix

[2020-02-27 21:18] robkuz commented on #3832
looks like I found the prime suspect (at least in my case). It seems like Dropbox is interfering with the filesystem in a big way and therefore with `createAppHost`
I did run my deploy script which cleans, builds, runs tests, rebuilds, runs partial tests, cleans etc. multiple with either Dropbox sync enabled or disabled. (4 times without and 2 times with) and the results seem pretty clear: wheneve

[2020-02-27 21:19] swaroop-sridhar commented on #3832
@robkuz  I think this fix will make it into the April servicing release.

[2020-02-27 21:22] ericstj commented on #1724
Looking at the intial commit that added this fuctionality I think the logic is inverted. https://github.com/dotnet/runtime/pull/1234#discussion_r385372174

I'll throw up a fix.

[2020-02-27 21:24] tannergooding commented on #23402
Likely the latter.

[2020-02-27 21:24] #23402 closed

[2020-02-27 21:27] swaroop-sridhar commented on #32650
@bartonjs does the failure only happen when published single file? What happens when the app is published self-contained, but not single file?

Can you please check the following:
1) Publish the app as a self-contained app, and verify that `System.Security.Cryptography.Csp.dll` exists in the publish folder.

2) Publish the app as a self-contained app, single-file app, and run it. Inspect the conte

[2020-02-27 21:34] terrajobst opened #32937 "Add extension methods for HttpClient that allow serialization from/to JSON"
The spec is here:

https://github.com/dotnet/designs/blob/master/accepted/2020/json-http-extensions/json-http-extentions.md

Related issues:

* https://github.com/dotnet/runtime/issues/1754
* https://github.com/dotnet/runtime/issues/31550
* https://github.com/dotnet/runtime/issues/31551

[2020-02-27 22:10] #32825 closed

[2020-02-27 22:11] kouvel commented on #13437
I would like to fix this in 5.0, keeping it there for now

[2020-02-27 22:13] bartonjs opened #32941 "Consider revisiting X509ChainStatusFlag parsing on macOS"
The string-matching causes us semi-regular servicing events where we suppress a value that we've previously never seen.

Some thoughts:
* Leave things as is, stay reactionary.
* Reduce the OS question/answer to "build this chain and tell me if it's trusted" (e.g. always send cert.NotBefore as the time for the check).
  * If it fails, run it again without revocation, then try running it with the is

[2020-02-27 22:15] #32799 closed

[2020-02-27 22:31] karelz commented on #32765
Same behavior of `System.Net.Http.Headers.ContentDispositionHeaderValue.Parse` on .NET Framework - also returns quoted text.

[2020-02-27 22:32] microkatz opened #32943 "Digest challenge - opaque fails with empty string"
According to [RFC 7616](https://tools.ietf.org/html/rfc7616#section-1.1), the key 'opaque' is utilized by servers to transport state information for the digest challenge. There is not a requirement that says the value cannot be an empty string.

If a server sends a digest challenge as follows:
`WWW-Authenticate: Digest realm="Use service as User Name in order to log in to the respective level",non

[2020-02-27 23:10] #32913 closed

[2020-02-27 23:17] ericstj commented on #1262
Looks like this is similar issue to what @danmosemsft mentioned here: https://github.com/dotnet/runtime/issues/24571#issuecomment-355397383

Same thing happening for me.  I poked around at it a bit and found I could get past the access denied error by granting LocalService Read permission on my artifacts folder.  Once doing that (and disabling the active issue attribute) I can repro the issue #172

[2020-02-27 23:41] ericstj commented on #1262
An alternative to fixing this would be to run the test services as LocalSystem instead (by passing null for username), which doesn't require special permissions.  I'm not fixing this ATM because I haven't looked deeply enough to understand if it's intentional that we test as LocalService.

[2020-02-27 23:50] danmosemsft commented on #1262
@ericstj  re localservice --

https://github.com/dotnet/runtime/blob/1d1a5f2b70154348b14f7aa11beec91cc907b02f/src/libraries/System.ServiceProcess.ServiceController/tests/ServiceBaseTests.cs#L179-L180

[2020-02-27 23:56] danmosemsft commented on #1262
The event log is only relevant because the tests are trying to verify `ServiceBase.AutoLog` property.

Perhaps we could use LocalService for all the other tests, and fail gracefully if needed for the AutoLog tests. Or, just stop testing AutoLog.

[2020-02-28 00:03] AaronRobinsonMSFT commented on #32462
@lambdageek The CoreCLR is planning on exposing this attribute to provide symmetry with the C# functions pointers language feature. It would be ideal if mono also provided supported. Do you have any thoughts on this?

[2020-02-28 00:05] karelz commented on #32937
@terrajobst you linked 2x the same issue. Does it have to go through API review first?

[2020-02-28 00:34] davidsh commented on #32937
From:  https://github.com/dotnet/designs/blob/master/accepted/2020/json-http-extensions/json-http-extentions.md

Why add these as extension methods to HttpClient? Why not just add them as regular methods to HttpClient?

[2020-02-28 00:36] MattGal commented on #32320
This is super weird.  For now, let's just retry them and if it comes back I can investigate.

[2020-02-28 01:03] AndyAyersMS opened #32950 "Odd build failure"
Only happens on one machine – I can build this same commit on other machines just fine. It repros fairly reliably…

This is based off of 9a47b6b9d75b18e913055759286578850aad958d

[code]
The build also will usually hang -- other link tasks seem to get stuck in endless GC loops.

cc @BruceForstall

[2020-02-28 01:15] AntonLapounov opened #32951 "Test crossgen-comparison Linux arm checked failing"
Failed in #32379 and other recent PRs.
https://helix.dot.net/api/2019-06-17/jobs/50fa1ddf-092f-4146-81e7-2fd73a587551/workitems/WorkItem/console
[code]
According to @echesakovMSFT the last success was https://dev.azure.com/dnceng/public/_build/results?buildId=535935&view=logs&jobId=e14ed261-6507-56f9-47b6-1ad25f52112f.

[2020-02-28 01:20] terrajobst commented on #32937
@karelz

Clipboard is hard man! Fixed.

We did a brief run in a smaller group; at this point we should go ahead with the implementation first to see what issues we encounter and do the API review after with the complete API set and all modifications we made since then.

[2020-02-28 01:22] terrajobst commented on #32937
@davidsh

Good question, this was discussed. Basically it goes like this: do we want HttpClient to depend on the JSON serializer? I think the answer is no; serializers come and go, much more than low networking APIs. We concluded these should sit on top. This also allows customers to use either this one or the existing ASP.NET formatters which will use JSON.NET.

[2020-02-28 01:24] terrajobst commented on #32937
@karelz

I see you set the milestone to 5.0. Please note that we need to ship a preview by Build; it looks like we don't have a milestone for that. Should we?

[2020-02-28 01:30] echesakovMSFT commented on #32951
I am bisecting the regression

[2020-02-28 01:32] echesakovMSFT commented on #1282
It look that we missed a real regression in crossgen_comparison due to our inability to run this test without timing out https://github.com/dotnet/runtime/issues/32951

@jashook Can we increase timeouts for this job?

[2020-02-28 01:34] DotNetAppCompatFeiWang commented on #32929
@dotnet-actwx-bot  FYI since we will track the bug in this new issue in dotnet/runtime

[2020-02-28 01:53] sebastienros opened #33084 "[PERF] Regression on AMD"
Between 3.1 and master (5.0) ... 33% degradation

These numbers are for Plaintext, but the same regression appears on all scenarios.

[code]

[code]

[2020-02-28 01:55] declspec commented on #32849
That was a pattern I was hoping existed when I was first looking for a solution. Alternatively (and this seems like a objectively worse API) only allow `WriteUtf8Json` to be called when `JsonWriterOptions.SkipValidation = true`

[2020-02-28 01:57] steveisok commented on #32510
I can reproduce.  And what's weird is that `DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=1` does not help.

It's important to point out that this all works normal when you don't run under `--llvm`.  I do wonder if there's a loader problem since the exception we're getting suggests that "potentially dangerous" code that throws will cause an infinite loop.

Here's the last bit of the mono trace before it b

[2020-02-28 02:50] karelz commented on #32937
@terrajobst unless we have more than 5-10 issues tracking as must have for Build, I don't think it makes sense to create milestone/label.

[2020-02-28 02:51] karelz commented on #1754
Duplicate of #32937

[2020-02-28 02:51] #1754 closed

[2020-02-28 03:09] andy-yx-chen commented on #32911
@jeffschwMSFT Neat! thanks, that works and the change makes a lot of sense, thank you!

[2020-02-28 03:15] echesakovMSFT commented on #32951
Tracked down to 017a64a - https://github.com/dotnet/runtime/pull/2107

I will see tomorrow where these difference in the images occur

cc @BrianBohe

[2020-02-28 03:28] slavanap opened #32954 "Feature proposal: remove implicit construction of DateTimeOffset from DateTime"
Specifically these 2 lines of code
https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/shared/System/DateTimeOffset.cs#L825-L826
[code]

Misleading usecase is that TimeZoneInfo.ConvertTime has 2 overloads for DateTime and DateTimeOffset. When result of the first one is assigned to DateTimeOffset typed variable, DateTimeOffset record with local time zone offset is created. This

[2020-02-28 03:29] SilentCC commented on #13354
It has been solved.Thank you.

[2020-02-28 03:29] #13354 closed

[2020-02-28 04:00] smoogipoo commented on #32852
I've tested the following simple C test app:

[code]

The following are my observations.

Compiling with `gcc <file>`
* macOS 10.15.3: `Loaded!`
* macOS 10.14.6: `Loaded!`
* macOS 10.14.5: `Failed :(`

Compiling with `gcc <file> -ldl`
* macOS 10.15.3: `Loaded!`
* macOS 10.14.6: `Loaded!`
* macOS 10.14.5: `Loaded!`

The [linux docs for dlopen(3)](http://man7.org/linux/man-pages/man3/dlopen.3.html)

[2020-02-28 07:01] LokiMidgard commented on #30300
I though about editing the docs. But I'm not sure how to phrase it correctly.  So I create an [issue](https://github.com/dotnet/dotnet-api-docs/issues/3956) in the documentation reposetory.

I also would like to open an issue for `LaunchUriAsync`. Where would I do this?
My first guess would be the report a porblem button Visual Studio.

[2020-02-28 07:22] buyaa-n commented on #30491
Thank you @aik-jahoda for fix, test enabled back, closing

[2020-02-28 07:22] #30491 closed

[2020-02-28 07:46] DotNetAppCompatFeiWang opened #33160 "System.ArgumentException: Argument types do not match error in Asp.Net App-52ABP.School"
### Describe the bug
An unhandled exception has occurred while executing the request.
System.ArgumentException: Argument types do not match

### To Reproduce
1) Clone repo from https://github.com/yoyomooc/52ABP.School and build it.
2) On CMD, go to publish folder at C:\Repro\52ABP.School
3) run : dotnet LTM.School.dll
4) Open  http://localhost:5000/Students/Details/1  with Edge

### Further techni

[2020-02-28 08:00] linuxchata commented on #32915
We are using Gatling application (https://gatling.io/) to run performance tests of our application. Currently, we choose the simplest API method that does one request to database per API request and ran set of performance tests with CRL of different size. Each request to this API method validates client certificate including check whether certificate is revoked. Also as mentioned above, CRL is get

[2020-02-28 08:02] linuxchata commented on #32915
This is quite important information (especially https://github.com/dotnet/corefx/pull/35367). We will do migration to v3.1 and perform tests again.

Thank you for proving this information

[2020-02-28 08:18] scalablecory commented on #32937
`JsonContent.Create(...)` usage is unlike other `HttpContent` we have. We should see if these could reasonably be changed to `new JsonContent(...)`.

The verbs are also inconsistent with current naming. Something to consider:
- `HttpClient.GetFromJsonAsync` vs `HttpClient.GetStringAsync`
- `HttpContent.ReadFromJsonAsync` vs `HttpContent.ReadAsStringAsync`

Otherwise I think these APIs look good. I

[2020-02-28 08:18] VincentBu opened #32955 "Test failed: System.IO.Tests.File_Create_Tests.FileSystemWatcher_File_Create_EnablingDisablingNotAffectRaisingEvent"
**Job:**
[runtime-libraries outerloop 20200227.1](https://dev.azure.com/dnceng/public/_build/results?buildId=538834&view=results)

**Error message:**
`
Assert.False() Failure\nExpected: False\nActual: True
`

[2020-02-28 08:23] MichalStrehovsky commented on #32935
This is either because CoreFX stopped embedding IBC data again like in https://github.com/dotnet/corefx/pull/38343#discussion_r294102593 (when Release builds of CoreFX were actually Debug builds), or because the optimization infra is not generating the IBC data for CoreFX to embed.

Cc @brianrob who own the area.

[2020-02-28 08:48] gbalykov commented on #31793
I was wondering about managed part, so that's great to hear, thank you. There is the same problem currently with incorrect format of crossgen2.dll, I'm investigating.

[2020-02-28 09:47] lostmagicK commented on #32880
It seems problem is with https sites only.. posting to regular http works fine.. I think problem is with .net core only..

[2020-02-28 09:48] lostmagicK commented on #32880
You can try posting to any https enabled api it always fails..

[2020-02-28 09:52] lostmagicK commented on #32812
I also have same issue.. i cant figure out problem yet.. problem persists for all https enabled apis, seems like client side encryption problem

[2020-02-28 09:53] lostmagicK commented on #32812
You can try posting to any https enabled api, through Centos Linux

[2020-02-28 09:56] janvorli commented on #32852
@smoogipoo thank you for testing this with the C app. We don't link our binaries with libdl on macOS, as the dlopen is part of libSystem.dylib and libdl.dylib is just a link to the libSystem.dylib ans we link to libSystem.dylib. I've verified it is still that way on my 10.14.6.

So it seems there was some bug in 10.14.5 (as you mentioned that 10.14.6 works fine based on your test) that prevented t

[2020-02-28 10:15] MendelMonteiro opened #32956 "System.GC.HeapCount not recognised when set via runtimeconfig.json"
I've written a very simple .net core 3.1 application and tried to set the GC heap count using either the environment variable or the `runtimeconfig.json` file and have found that it only works when it is set via the environment variable.  I checked that the heaps were created by verifying the number of GC Server threads created (inspecting a dump or using perfview).

Other settings such as `System

[2020-02-28 10:27] smoogipoo commented on #32852
We're ok with telling customers that they need to upgrade, but we're mindful of the wide-ranging scope of this issue. We have users reporting the same problem on earlier versions (https://twitter.com/Paydruwu/status/1233248935038345216) and believe the same issue would occur on anything pre-10.14.6.

Is .NET itself internally stable around this issue? Because it also libdl.dylib via the same proce

[2020-02-28 10:36] mat-kul opened #36044 "Unable to bind dictionary with int key type from appsettings.json to options class"
### Describe the bug
When options class has a dictionary with key of int type is not possible to bind this dictionary into options class.

### To Reproduce
Create Asp.Net core web application
Add options class

[code]

Then modify appsettings.json
[code]

Then in Startup.ConfigureServices add
[code]

Finally inject IOptionsSnapshot somewhere, you will see that dictionary inside these options is em

[2020-02-28 10:42] janvorli commented on #32852
Our CI / nightly lab testing have not shown such a problem. The libdl opening was there since July 2017, so it seems that older versions of macOS were working fine and only a couple of the recent ones were suffering from this issue. I'll try to figure out which versions of macOS we were using in our labs in the past. I'm not sure what's the upgrade plan of our lab.

However, I believe we should ad

[2020-02-28 10:45] #22110 closed

[2020-02-28 10:45] #32436 closed

[2020-02-28 10:45] #32432 closed

[2020-02-28 10:45] #32433 closed

[2020-02-28 10:45] #32434 closed

[2020-02-28 10:45] #32435 closed

[2020-02-28 10:45] #32437 closed

[2020-02-28 10:45] #32439 closed

[2020-02-28 10:56] janvorli opened #32957 "macOS debug / checked builds don't have full debug info"
While helping @fadimounir to debug a core dump on macOS, I've found that our checked and debug binaries built in the coreclr repo don't contain full debug symbols like source code info. After looking into it, I've found that it was that way probably forever. The problem is caused by the behavior of linker on macOS. When the compilation and linking steps are separate, the linker doesn't copy the de

[2020-02-28 11:01] smoogipoo commented on #32852
Sounds like a fine path forward. As a temporary solution we should be able to load libSystem.dylib directly, as far as I can tell?

[2020-02-28 11:04] janvorli opened #32958 "Link libcoreclr to libdl on macOS too"
We were never linking libcoreclr to libdl on macOS. It was fine due to the fact that the functions like dlopen are in fact defined in libSystem.dylib that we link to and the libdl.dylib is just a symbolic link to that library. However, since the libdl exists, we should link to that one too to be future proof in case the libdl starts being a real library and the dlopen and related methods get moved

[2020-02-28 11:05] janvorli commented on #32852
Yes, getting the dlopen from libSystem should work.

[2020-02-28 11:19] peppy commented on #32852
Thanks for your help @janvorli.

We've applied a local fix as above and therefore this is resolved for us. I'll leave the issue open in case you wish to use it for tracking purposes for the future change at your end.

[2020-02-28 11:44] marek-safar commented on #32510
It could be a few issues mixed together. DOTNET_SYSTEM_GLOBALIZATION_INVARIANT requires some hook to be ready very early. We might be not accomodating for that and it's worth checking if it works at all.

There is also some ugly code in https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/SR.cs#L95 which might be CoreCLR specific.

/cc @lambdageek

[2020-02-28 11:58] mariusGundersen commented on #32937
I want to propose having these methods throw an exception when the response status code is not 2xx, and to include the HttpResponse in that exception, so that it can be used to pattern match the error and potentially deserialize the validation mesages, for example:

[code]

[2020-02-28 12:44] jkotas commented on #32958
PInvoke of libdl is problematic on other Unix-like OSes too. IIRC, it has different name in some Linux distros. It is one of the reasons for why we have exposed the NativeLibrary API.

What would be the contract for PInvoke of libdl - are we going to make it always work, on all current and future Unix-like OSes? It basically means that we would be exposing PInvoke of libdl as a public surface. I t

[2020-02-28 13:00] jkotas commented on #32929
Fixed by #32947

[2020-02-28 13:00] #32929 closed

[2020-02-28 13:06] alexandrvslv commented on #30328
I came here to figure out `DeserializeAsync` errors:

And i have custom `JsonConverter` witch can process full item type with referencing properties.

Reason: `Utf8JsonReader` buffer size is not enough to cover one item in array.

Decision: Increasing `JsonSerializerOptions.DefaultBufferSize` to cover item size(i my case: to 128KB)

[2020-02-28 13:08] janvorli commented on #32852
@smoogipoo I've just tried to add libdl to the coreclr build, but it has no effect on the libraries referenced by the binary. Using "otool -L " on the binary, it doesn't show the libdl. I've tried with your testing app too and adding -ldl had no effect.

Can you please get me the output of the otool -L executed on your testing app on the macOS 10.14.5 when compiled both with and withoout the -ldl

[2020-02-28 13:25] realivanjx commented on #7764
Armv6 support for net core would be awesome...

[2020-02-28 13:34] layomia commented on #32849
We are looking into this for 5.0. Closing as a duplicate of https://github.com/dotnet/runtime/issues/1784.

[2020-02-28 13:34] #32849 closed

[2020-02-28 13:57] janvorli commented on #32958
It doesn't have a different name on Linux distros, the difference is on other Unix clones like FreeBSD where the dlopen is in the libc.

I would not try to handle the libdl in a special way for pinvokes. As I've tried to say above, the only reason why I was thinking about adding the libdl to the list of libraries we link to was just to future proof our us against possible change in the future when

[2020-02-28 14:09] janvorli commented on #742
All the known issues were already fixed.

[2020-02-28 14:09] #742 closed

[2020-02-28 14:20] steveisok commented on #32510
I did another pass with and without `DOTNET_SYSTEM_GLOBALIZATION_INVARIANT`.  With the setting I do not see a trace that loads `System.Globalization.Native`, but without I do.

Without:

[code]

[2020-02-28 14:22] reach4thelasers commented on #1419
Hi there, just to chip in, I am presently experiencing this issue with .NET 4.7.  My production server is using 98% of its 4GB of RAM.  And the server process is also page-faulting into a 2GB swap file.  I had got over 4GB of leaked Transaction related objects.

I've rebooted my server a week ago.  And cleaned it out.  It is already back to 1.5GB.  Here's a memory profile snapshot.

![mem-leak](ht

[2020-02-28 14:46] marek-safar commented on #32510
Could you paste the log with the setting of the env variable?

[2020-02-28 14:52] steveisok commented on #32510
https://gist.github.com/steveisok/82454f8fcbaef105084b8bbeae761000

[2020-02-28 15:00] mikem8361 commented on #32756
I looked all over the web and didn't find anything, but there wasn't much on the in-memory layout/format. It was all about the file format itself. None of the other distros we test on (ubuntu, fedora, debian, opensuse) have this problem. I think alpine's loader just doesn't fix up these RVAs.

[2020-02-28 15:06] slavanap commented on #32954
Here's very basic example of the case described

[code]

[2020-02-28 15:10] Madmorgan007 opened #32961 "An assembly specified in the application dependencies manifest (PortableAntiqities.deps.json) has already been found but with a different file extension"
Hi,
I'm using Visual Studio 2019, Dotnet core 3.1 all updates are installed. Getting the following issue.
this issue happens when creating a controller or view.

Error:
  An assembly specified in the application dependencies manifest (PortableAntiqities.deps.json) has already been found but with a different file extension:
    package: 'Microsoft.VisualStudio.Web.CodeGeneration.Design', version: '

[2020-02-28 15:38] techfan101 commented on #31257
I was honestly very excited to see a standardized version of JSON serialization option finally making its way into .NET.  Wrote a bunch of code, started testing, and then I came across this issue.

I MINIMALLY need an EASY option for preventing serialization of properties with the any of the following characteristics: null value, default value, empty string (zero length), and empty collection (zer

[2020-02-28 16:32] CoffeeFlux commented on #32510
The loader behavior looks fine to me from the logs. In the non-`DOTNET_SYSTEM_GLOBALIZATION_INVARIANT` case, System.Runtime.Extensions's reference 0 is corlib, and it resolves that and increments the refcount. In the invariant case, we find the pinvoked library and resolve the symbols without issue. These are two rather different code paths, and the pinvoke one is quite simple, so I'm inclined to

[2020-02-28 16:40] steveharter commented on #31464
Verified fixed with https://github.com/dotnet/runtime/pull/32669. Will add tests to that PR.

The Stream code was missing a check for `typeof(object)` to enter the polymorphic mode by calling `object.GetType()`.

Also consider fixing in 3.1.

[2020-02-28 16:45] steveisok commented on #32510
That's in the gist above.  Do you mean w/o?

[2020-02-28 16:46] CoffeeFlux commented on #32510
Yeah without, sorry.

[2020-02-28 16:46] janvorli commented on #32171
@vanashimko would you be able to try to run your application with a modified coreclr.dll? I could add some additional checks that would trigger right at the spot when handle is double-freed and share a source patch that you can apply and build your own coreclr. I could also share the binary if you'd prefer that.

[2020-02-28 16:48] steveisok commented on #32510
https://gist.github.com/steveisok/71bfdd52b8e37b1cc0c66332e4ae1171

[2020-02-28 16:53] danmosemsft commented on #32961
@anurse can you please transfer to dotnet/aspnet?

also would it be possible to give me write access so that I could do this myself next time?

[2020-02-28 16:53] jonpryor opened #32963 "Allow Marshal.GetFunctionPointerForDelegate() to work with generic types"
There is a difference between Mono & .NET Framework/.NET Core regarding the use of [`Marshal.GetFunctionPointerForDelegate()`](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.marshal.getfunctionpointerfordelegate?view=netframework-4.8#System_Runtime_InteropServices_Marshal_GetFunctionPointerForDelegate_System_Delegate_) and generic delegate types.  Consider:

[code]

On

[2020-02-28 16:53] layomia commented on #32903
Note: custom converters can only be used on serialization. Deserialization is handled by the serializer.

[2020-02-28 16:55] karelz commented on #31220
I was able to hit it once in 534 iterations of Http tests on latest Win10 VM.

[2020-02-28 16:59] karelz commented on #30733
I was able to hit `GetAsync_AddMultipleCookieHeaders_CookiesSent` timeout 1x in 534 runs on latest Win10 VM.
[code]

[2020-02-28 17:03] jaredpar opened #32964 "AzDO losing connection to build agents"
Build jobs are failing with the following message

Impact over last 100 builds

|Build|Kind|Timeline Record|
|---|---|---|
|[540296](https://dev.azure.com/dnceng/public/_build/results?buildId=540296)|PR https://github.com/dotnet/runtime/pull/32858|CoreCLR Pri0 Test Run  Windows_NT x64 checked|
|[540296](https://dev.azure.com/dnceng/public/_build/results?buildId=540296)|PR https://github.com/dotnet

[2020-02-28 17:07] NikolaMilosavljevic commented on #1610
This should be tracked in core-sdk.

[2020-02-28 17:07] jkotas commented on #32963
Marshal.GetFunctionPointerForDelegate for generic types is not straightforward to implement in CoreCLR, and it is even more difficult to implement a good AOT compilation scheme for it.

The recommend way to do this for .NET 5 and beyond is going to the `NativeCallableAttribute` (#32462) and C# function pointers (https://github.com/dotnet/csharplang/blob/master/proposals/function-pointers.md). This

[2020-02-28 17:10] layomia opened #32965 "[System.Text.Json] Utf8JsonReader/Writer should support TimeSpan"
_from @blankensteiner in https://github.com/dotnet/runtime/issues/32536:_

As explained in the related issue #32429, I'm currently writing my own (de)serializer because I need to support creating the object without calling a constructor (using System.Runtime.Serialization.FormatterServices.GetUninitializedObject) and getting/setting private and read-only fields (using System.Reflection.FieldInfo.S

[2020-02-28 17:11] NikolaMilosavljevic commented on #1867
This is not a must-have for .NET 5 but it would ensure Crossgen2 generation doesn't get broken.

There's no anticipated sharing of this code.

[2020-02-28 17:17] layomia commented on #32536
I've split the request for `TimeSpan` into a new issue (https://github.com/dotnet/runtime/issues/32965), as `Char` and `TimeSpan` are separate work items for support.

@blankensteiner can you please update the description to reflect this and include the new API proposals in a format ready for [review](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md)? See https://gi

[2020-02-28 17:20] NikolaMilosavljevic commented on #1956
.NET 1.1 is no longer supported. Please try with a supported version: https://dotnet.microsoft.com/platform/support/policy/dotnet-core

[2020-02-28 17:20] #1956 closed

[2020-02-28 17:21] danmosemsft commented on #380
@karelz have other folks expressed opinions about templates? On repos with these I always seem to end up deleting all the text -- but this isn't about me 😃 I don't mind adding them.

[2020-02-28 17:21] scalablecory commented on #32937
I would expect the convenience methods (the ones not returning `HttpResponseMessage` to do exactly that.

`HttpRequestException` will include a `StatusCode` property in .NET 5. We will not be including the full response, as having an `IDisposable` inside an exception  is just asking for trouble.

[2020-02-28 17:21] ericstj commented on #32766
@jaredpar and @jasonmalinowski can you help transfer this issue to roslyn?

It's a feature request that "Go to definition" honor symbols + source indexing (which I would love too ❤️ 💯 )

Thanks!

[2020-02-28 17:21] jaredpar commented on #32964
This is also blocking the outerloop builds. Here is the data from the coreclr loop

|Build|Kind|Timeline Record|
|---|---|---|
|[540410](https://dev.azure.com/dnceng/public/_build/results?buildId=540410)|Rolling|CoreCLR Product Build Linux_musl x64 checked|
|[540410](https://dev.azure.com/dnceng/public/_build/results?buildId=540410)|Rolling|Libraries Build Linux arm Release|
|[540410](https://dev.

[2020-02-28 17:21] danmosemsft commented on #440
The question here is answered: if there is an update in the summer we'll share it in the usual places. Closing.

[2020-02-28 17:21] #440 closed

[2020-02-28 17:22] layomia commented on #32965
@blankensteiner can you please update the description to address `TimeSpan` only and include the new API proposals in a format ready for review? See #29936 for an example specific to Utf8JsonReader/Writer.

[2020-02-28 17:23] danmosemsft commented on #7347
Up for grabs.

[2020-02-28 17:24] NikolaMilosavljevic commented on #2000
Please ensure it works.

[2020-02-28 17:27] danmosemsft commented on #18258
The remaining ones are all networking except 1. Moving to networking area. We'd welcome anyone who would like to take the attributes off and see which now pass in WSL2.
[code]

[2020-02-28 17:28] danmosemsft commented on #6390
I think this was supposed to be in codegen.

[2020-02-28 17:28] danmosemsft commented on #5689
Closing as this is very old now.

[2020-02-28 17:28] #5689 closed

[2020-02-28 17:29] danmosemsft commented on #4703
I think this would be a good idea, but nobody has picked it up and I don't think it is that helpful to keep this issue open. Perhaps we will get interest in future.

[2020-02-28 17:29] #4703 closed

[2020-02-28 17:30] danmosemsft commented on #13550
This issue has served its purpose.

[2020-02-28 17:30] #13550 closed

[2020-02-28 17:31] danmosemsft commented on #30815
@blowdart can we close this now or do you want to leave these open indefinitely?

[2020-02-28 17:31] lambdageek commented on #32462
@AaronRobinsonMSFT we had some discussion about this at https://github.com/mono/mono/issues/17479

In particular there's a couple of points I want to highlight:
1. It would be great if the `EntryPoint` attribute from CoreRT was part of the API.  This would enable AOT scenarios to dlopen the symbol without having to call into managed first.  On Xamarin.Android we would get faster startup.
2. Mono's

[2020-02-28 17:32] blowdart commented on #30815
I have no preference. Up to you :) Just don't close the corresponding announcement is all I ask

[2020-02-28 17:33] layomia commented on #32801
cc @steveharter

[2020-02-28 17:34] danmosemsft commented on #13300
@jkotas is this contemplated?

[2020-02-28 17:34] karelz commented on #380
I am in favor of not having them (status quo) - we considered them and didn't find them super useful.

[2020-02-28 17:34] #380 closed

[2020-02-28 17:35] danmosemsft commented on #13288
@JasonCard and @SonjaSaltzman for question above?

[2020-02-28 17:35] danmosemsft commented on #13284
I think this is answered @jaredpar. Please reopen if not.

[2020-02-28 17:35] #13284 closed

[2020-02-28 17:35] NikolaMilosavljevic commented on #32187
It would be very nice to have this for long-term maintainability.

[2020-02-28 17:36] danmosemsft commented on #824
I think this is answered.

[2020-02-28 17:36] #824 closed

[2020-02-28 17:37] danmosemsft commented on #9972
Closing as we cannot progress without this info.

[2020-02-28 17:37] #9972 closed

[2020-02-28 17:38] ericstj commented on #18312
Closing this out as it is now 2 years old.

In general what is in NETStandard can be defined by *types* not assemblies.  Those types are the ones defined in `netstandard.dll`.

There are many packages that target NETStandard.  Those packages can be used on NETStandard but are not "part of" NETStandard.

The benefit here is that we can still evolve the API of packages that support NETStandard on ex

[2020-02-28 17:38] #18312 closed

[2020-02-28 17:38] danmosemsft commented on #8243
tracked by https://github.com/dotnet/runtime/issues/936

[2020-02-28 17:38] #8243 closed

[2020-02-28 17:41] #23333 closed

[2020-02-28 17:42] danmosemsft commented on #8514
Out of date now I think.

[2020-02-28 17:42] #8514 closed

[2020-02-28 17:43] danmosemsft commented on #20908
Good feedback but no activity here in some time. I will close this. New suggestions are welcome in a new issue.

[2020-02-28 17:43] ericstj commented on #8137
@leecow @jamshedd can you please help answer this?

[2020-02-28 17:44] ericstj commented on #16182
Framework design guidelines are not part of this repository and I don't think we should be tracking them with issues here.  Perhaps dotnet/core or dotnet/designs.

[2020-02-28 17:44] #16182 closed

[2020-02-28 17:45] ericstj commented on #4906
Closing as there hasn't been any recent discussion here.

[2020-02-28 17:45] #4906 closed

[2020-02-28 17:45] danmosemsft commented on #7867
As far as I can see it is read in corerun.cpp for all platforms now.

[2020-02-28 17:45] #7867 closed

[2020-02-28 17:46] joperezr commented on #18502
Sorry it took a long time to respond, but unfortunately we have to keep the type forwards like they are for compatibility reasons with .NEt Standard, other versions of .NET Core, and .NET Framework. Also, it is not safe to depend on where types live in the runtime, as we can't guarantee that a type won't move into a different assembly across .NET Core versions, unless this is already at the bottom

[2020-02-28 17:46] joperezr commented on #18502
Closing this for now as we can't really fix this, but feel free to reopen if you have any follow up comments.

[2020-02-28 17:46] #18502 closed

[2020-02-28 17:46] danmosemsft commented on #20888
I think this is done for now. Many thanks to all who contributed to make our codebase better!

[2020-02-28 17:46] #20888 closed

[2020-02-28 17:47] benaadams opened #32966 "Outerloop failures GC/LargeMemory missing projects"
[code]

From merges in master e.g. https://dev.azure.com/dnceng/public/_build/results?buildId=540488&view=logs&jobId=721a035e-086a-5f66-d7c2-78d896701c82&j=721a035e-086a-5f66-d7c2-78d896701c82&t=d90f58c6-db3f-521d-96d8-db7a4001b9f4

[2020-02-28 17:49] joperezr commented on #19511
I believe this was recently done by @stephentoub so closing for now.

[2020-02-28 17:49] #19511 closed

[2020-02-28 17:49] ericstj commented on #5102
@wfurt do we have any plans to build / support  NetBSD

[2020-02-28 17:50] danmosemsft commented on #6722
This seems like it would be a breaking change.

[2020-02-28 17:50] #6722 closed

[2020-02-28 17:50] joperezr commented on #19542
We haven't had any more reports about markdown problems with VS Code and we recently changed all documentation when migrating to the runtime repo, So I'll go ahead and close this one.

[2020-02-28 17:50] #19542 closed

[2020-02-28 17:50] ericstj commented on #16618
As far as I know there is no plan to do this.

[2020-02-28 17:50] #16618 closed

[2020-02-28 17:50] stephentoub commented on #19511
Yup.  We might want to enable additional ones in time, but we've enabled all the important ones that currently exist, and we don't need an issue tracking enabling more.

[2020-02-28 17:53] ericstj commented on #4247
Closing due to lack of recent discussion.  Just a thought, this might be better placed in the lang discussion repo.  /cc @MadsTorgersen @jkotas

[2020-02-28 17:53] #4247 closed

[2020-02-28 17:53] CarolEidt commented on #6390
This is not a codegen issue, it is a spec issue. It is only assigned to me because I am the convenor of the CLI spec task group at Ecma.

[2020-02-28 17:55] jkotas commented on #13300
We have no plans in foreseeable future to have a wasm runtime built-in into .NET Runtime.

NuGet packages like https://www.nuget.org/packages/WebAssembly that wrap native wasm runtimes and expose it as .NET APIs are the right way to do this.

[2020-02-28 17:55] #13300 closed

[2020-02-28 17:55] danmosemsft commented on #24192
There was substantial work done here mostly by @adamsitnik . If there are new issues - we should open a new one.

[2020-02-28 17:55] #24192 closed

[2020-02-28 17:57] jkotas commented on #4247
There is discussion on this in csharplang already: https://github.com/dotnet/csharplang/issues/195

[2020-02-28 17:59] MihaZupan commented on #1857
Correct

65535 is also a valid length that could be stored if the input is shorter than 65520 and has characters that would expand it to 65535.

<br>
If we were to implement it, it would most likely be done by changing the minimum amount of fields to int (we could likely keep Scheme, User, Host, PortValue and Path as ushort). That would result in a 4-8 byte size increase of Uri, which might be acc

[2020-02-28 17:59] #1857 closed

[2020-02-28 17:59] ericstj commented on #1605
Closing as this was tracking an crash occuring in customer native code.  Please open a new issue if investigation determines otherwise.

Thanks!

[2020-02-28 18:01] bencz commented on #7220
@mfe- The SPARC support on mono is completely out of date

[2020-02-28 18:02] joperezr commented on #20666
This issue seems to be old and we haven't had any complaints so far from GUI applications wanting us to add these to any additional types, and I'm checking our targetting pack and this attribute seems to be already set and applied to more than 350 types on the framework, so I'll consider this one done for now. Feel free to reopen if that is not the case.

[2020-02-28 18:02] #20666 closed

[2020-02-28 18:02] ericstj commented on #2021
Current support matrix https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1-supported-os.md#linux

It seems this is a request to add Alpine ARM32 to this.  @leecow / @jeffschwMSFT do you know if this is something that's been considered?  Are there any technical blockers?  /cc @wfurt

Marking as 5.0 to answer the question.

[2020-02-28 18:14] JasonCard commented on #13288
@danmosemsft We only localize content which is published to [Microsoft Docs](https://docs.microsoft.com/) from [https://github.com/dotnet/docs](https://github.com/dotnet/docs).
I agree with @mairaw that content valuable for customers should be moved to [Microsoft Docs](https://docs.microsoft.com/), so we can localize it for our international customers.
cc @SonjaSaltzman

[2020-02-28 18:17] ericstj commented on #1076
We don't have a defined public contract between the runtime and libraries.  It's an implementation detail that we reserve the right to change as we see fit.  We do document what managed API is exposed by various versions of our frameworks.  This is what is defined by the TargetFramework moniker.

Typically the boundary that the various runtimes like CoreCLR, CoreRT, .NETNative, etc choose to imple

[2020-02-28 18:20] ericstj commented on #1011
We should just bring the TypeConverters for System.Drawing into System.Drawing.Common (out of System.Windows.Extensions).  I believe these are sufficiently decoupled from the pure drawing usage (attribute + seperate types) to avoid bringing TypeConverter into the working set of an application that only uses drawing types.

[2020-02-28 18:21] ericstj commented on #29288
Closing this, will use https://github.com/dotnet/runtime/issues/1011 to track adding support for drawing converters to linux.

[2020-02-28 18:21] #29288 closed

[2020-02-28 18:27] leecow commented on #8137
My answer above was definitely wrong. We currently do not release .NET Core updates via MU. Enabling that channel is something that's being considered but no firm decision yet.

cc/ @nakarnam

[2020-02-28 18:28] wfurt commented on #5102
it seems unlikely at the moment - at least as an official platform. There is no Azure support AFAIK so this will be limited to community support.

[2020-02-28 18:29] ReubenBond commented on #13300
The [WebAssembly](https://www.nuget.org/packages/WebAssembly) package maps WASM instructions to IL, rather than wrapping an existing runtime. There are two packages that I know of which do wrap a native WASM runtime:

* https://www.nuget.org/packages/Wasmtime/ for https://wasmtime.dev/
* https://www.nuget.org/packages/WasmerSharp/ for https://wasmer.io/

[2020-02-28 18:30] krytarowski commented on #5102
NetBSD 9.0 included hyper-v support so it should be now easier... however I am still preempted with generic NetBSD enhancements.

[2020-02-28 18:30] ericstj commented on #698
Rather than growing System.Web.dll in the shared framework itself I'd recommend we tackle this by building an out-of-band only package.  That package could be part of the Microsoft.Windows.Compatibility package.  We could optionally include a version of System.Web.dll in this package, or make the inbox one support it via dangling typeforwards (like we do for other things in the compat pack).  The

[2020-02-28 18:30] jkotas commented on #32462
I think it is fine idea to add it. Of course, it is going be recognized only when you have native AOT compiler or something equivalent.

Do you believe that you will be able to add support for the EntryPoint attribute in .NET 5 for Mono AOT and use it for Xamarin Android?

What would be your back-of-the-envelope estimate for the improvement? I do not think it would significantly faster to use dlop

[2020-02-28 18:40] IvanOliinychenko commented on #31849
Same here. Had to use options.DictionaryKeyPolicy = JsonNamingPolicy.CamelCase; and do a conversion manually later in the code.

[2020-02-28 18:41] bartonjs commented on #698
For the team I was working with, it wasn't their code that was the problem, it was libraries they were using which had lightup references to System.Web.

For components with no dependencies, it's easy... you know it's not there, delete the code (or conditionally compile it for migration).  Dependencies are the tricky problem.

[2020-02-28 18:46] Anipik commented on #32935
@brianrob any pointers here to fix this ?

[2020-02-28 18:56] lambdageek commented on #31842
Not sure what's the best way to go here.   The stack trace in this specific issue shows the threadpool starting a new worker.  The threadpool already catches some exceptions - wecould just throw `ThreadStartException` instead of `ExecutionEngineException` for example. https://github.com/dotnet/runtime/blob/79e5e2750c653b93cc1b8b07fbaef289b67e7708/src/libraries/System.Private.CoreLib/src/System/Thr

[2020-02-28 18:58] jkotas commented on #32966
Fallout from #32545 ? cc @cshung  @Maoni0

[2020-02-28 19:00] AaronRobinsonMSFT commented on #32963
@jonpryor The discussion was had and decided that it wasn't the best solution due to the better approach described by @jkotas above. Does the recommendation above make sense to you?

[2020-02-28 19:00] vanashimko commented on #32171
@janvorli Yes sure I can do testing with modified coreclr.dll. I don't have experience with building it, so binary ready to go file is what I'd prefer.

[2020-02-28 19:11] CoffeeFlux commented on #32764
Hit in https://github.com/dotnet/runtime/pull/32502 https://dev.azure.com/dnceng/public/_build/results?buildId=540591&view=logs&jobId=40f773ae-1f50-5e5e-c198-773a224261de&j=40f773ae-1f50-5e5e-c198-773a224261de&t=67eb29bf-94a4-5bc4-21bc-5f2ac1aca0aa

[2020-02-28 19:13] danmosemsft commented on #13288
@JasonCard do you have thoughts about this comment above:

Perhaps this was a point in time problem?

[2020-02-28 19:16] rolfbjarne commented on #32462
I've wished for something like this for Xamarin.iOS for years, it would simplify and speed up the native-to-managed transition when Objective-C calls managed code. Exactly how much would depend on a lot of things (number and types of arguments for instance), but I believe it could be substantial (testing would be required to get actual numbers).

For Xamarin.iOS we're generating Objective-C code,

[2020-02-28 19:18] davidsh commented on #32812
@lostmagicK Are you using a self-signed certificate for your server-side ASP.NET Core application? If so, how did you generate it. There is a limitation in Linux OpenSsl that requires extra attributes be set on self-signed certificates being used on Linux. The current 'dotnet devcerts' tool doesn't generate the correct self-signed certificate for Linux. This is a known issue.

[2020-02-28 19:19] danmosemsft commented on #32955
@VincentBu thanks for opening test issues. Could you please include the full output, including callstack if any? In this case, it's
[code]

Let me know if you can't find it in the UI.

[2020-02-28 19:20] danmosemsft commented on #32785
@buyaa-n is this related to what you were lookign at?

[2020-02-28 19:20] danmosemsft commented on #7276
There seems no more action here.

[2020-02-28 19:20] #7276 closed

[2020-02-28 19:21] danmosemsft commented on #7220
@marek-safar to comment on SPARC support in Mono

[2020-02-28 19:27] jaredpar commented on #32764
@CoffeeFlux yeah it's hitting roughly 6% of all builds in dotnet/runtime across all our build definitions. Having trouble finding someone with sufficient Unix skills + AzDO understanding to get this worked around. Typical group is otherwise engaged at the moment.

[2020-02-28 19:29] danmosemsft commented on #30815
OK, I'm going to close this - nobody will find it easily in dotnet/runtime anyway - the right place to look for historic announcements is dotnet/announcements as linked above

[2020-02-28 19:29] #30815 closed

[2020-02-28 19:29] Anipik commented on #32935
cc @ericstj

[2020-02-28 19:29] buyaa-n commented on #32785
That is kind of similar problem but not directly related, it is WPF code not sure who owns https://referencesource.microsoft.com/#WindowsBase/Base/MS/Internal/IO/Zip/ZipIOLocalFileBlock.cs,788. @ericstj might know more about this

[2020-02-28 19:29] danmosemsft commented on #28674
The issue here as served its purpose -- the right way to find old announcements is at dotnet/announcements repo.

[2020-02-28 19:29] #28674 closed

[2020-02-28 19:29] CoffeeFlux commented on #32764
Gotcha, unfortunate. There's no way to get a backport or something from the Nuget team? It's particularly annoying since it seems I can't restart the lane until everything is done thanks to the way AzDO works, and it's an early failure.

[2020-02-28 19:31] danmosemsft commented on #13794
@brianrob is work planned here? Can you provide guidance on what to do with this and https://github.com/dotnet/runtime/issues/13795

[2020-02-28 19:31] ericstj commented on #698
Do you know if they were blocked by this, or were able to rebuild that component?

[2020-02-28 19:32] jaredpar commented on #32764
@CoffeeFlux

The NuGet fix is available now. I'm guessing it will take another few days for this to flow to arcade and then to runtime. Given how deeply it's integrated into the SDK it's not an easy piece to isolate and update separately.

Best path is for us to implement the work around. It's targeted and fairly straight forward.

[2020-02-28 19:35] MichaelSimons opened #32971 "dotnet-runtime-deps deb package needs updating for libicu version included in Focal"
Ubuntu Focal which is in preview recently updated to a newer version of libicu - libicu65.  The dotnet-runtime-deps deb package needs to be updated appropriately so that the libicu dependency is correctly met/installed.

https://github.com/dotnet/runtime/blob/b2ad762793b9f74cb65f02687f0fa6b8c09c68e3/src/installer/pkg/packaging/deb/package.targets#L321

[2020-02-28 19:43] brianrob commented on #32935
It looks like we are publishing IBC data for System.ComponentModel.TypeConverter.dll so this implies that the IBC data isn't being embedded into the IL image before the call to crossgen occurs.  Note that this only happens for official builds so if you try this on your dev box you'll never see the IBC data.

I would recommend looking for the call to ibcmerge.exe in build logs and make sure that th

[2020-02-28 19:44] brianrob commented on #13794
I hope to have all of the data in a format for sharing shortly.  The short answer is that I don't think there is any immediate work that needs to be done here, but I will provide more context on this once I have all of the data compiled.

[2020-02-28 19:46] CoffeeFlux opened #32972 "GArray should scale mulplicatively instead of additively"
The current code just adds 64 to the array size each time we run out of space. We should consider scaling by 1.5x or something instead to ensure fewer allocations on large arrays.

[2020-02-28 19:50] karelz commented on #30300
Visual Studio is not the right avenue either. I don't know if there is any way to report issues for WinRT APIs or their docs.

Closing as there is nothing left to work on here. Thanks!

[2020-02-28 19:50] #30300 closed

[2020-02-28 19:52] antonfirsov commented on #1218
@jspuij I tried to reproduce this, and faced exactly the [same issues](https://github.com/dotnet/runtime/issues/1218#issuecomment-575181229) as @Durkee. I was able to work around the AvaTax and FacebookAuthenticator issues by disabling the plugins and the authentication, but I got stuck at with the `InvalidOperationException` in `ScheduleTaskService`:
![image](https://user-images.githubusercontent

[2020-02-28 19:55] scalablecory commented on #32973
@tarekgh any changes to `DateTime.Now` in 3.x?

[2020-02-28 19:57] scalablecory commented on #32975
Duplicate of #32237

[2020-02-28 19:57] #32975 closed

[2020-02-28 20:03] janvorli commented on #32171
Ok, great, thank you! I'll try to get you something on Monday.

[2020-02-28 20:03] scalablecory commented on #32977
Not sure if runtime or WCF. CC @mconnew @StephenBonikowsky

@izzetuslu can you please reduce your repro to a small piece of runnable C#?

[2020-02-28 20:05] JasonCard commented on #13288
@danmosemsft @huoyaoyuan Each suggestions on localized repos (e.g. docs.zh-cn) are reviewed by our localization vendor who work with their linguistic moderators to review the suggestions. Although we cannot share their internal communication on GitHub, if you have further feedback on the final decision (commit), then you are welcome to add comments and make further suggestions.

For feedback on mi