[2020-04-06 09:42] MaximLipnin opened #34580 "[mono] Tests failed due to PNSE on windows: Microsoft.Extensions.*"
Some `Microsoft.Extensions` test namespaces fail on windows with `System.PlatformNotSupportedException : This API is specific to the way in which Windows handles asynchronous I/O, and is not supported on this platform.`:
- Microsoft.Extensions.FileProviders.PhysicalFileProviderTests
- Microsoft.Extensions.FileProviders.Physical.Tests.PhysicalFilesWatcherTests
-  Microsoft.Extensions.Configuration.

[2020-04-06 09:52] Seamus3131 opened #34581 "System.Text.Json.Serialization JsonConverter not taken in account"
Hi,

I created a simple .net core console application and trying to test serialize/deserialize an object with inheritance.
My goal is to add a property 'type' in the json serialization indicating the children class and use it also for deserialization.
Using JsonConverterAttribute on class does not work.
Adding explicitely JsonCustomConverter to list of known JsonConverter will work (but I want to

[2020-04-06 09:54] #29953 closed

[2020-04-06 09:54] saucecontrol commented on #9766
I've done a quick [prototype](https://github.com/saucecontrol/runtime/commit/62fe4e7a62a81c0c6a6dbae401e6c76b92e5f77f) of the `Vector.Narrow` methods and was able to improve on all but the `double`->`float` narrow, which is identical.

<details>
    <summary>Benchmark results</summary>

[code]
|        Method |                           Toolchain |       Mean |    Error |   StdDev |     Median |

[2020-04-06 10:12] janvorli commented on #34185
This is a known problem of gdb. It cannot step over or continue from a trap instruction. There is a debugbreak library on github and the author mentions this, see:
https://github.com/scottt/debugbreak/blob/5d620814b1a240bbdf50c1dceed1eaf5a3fefce8/debugbreak.h#L64-L79
This library also contains a GDB python script that allows working around this problem. But for continuing execution, it is enough t

[2020-04-06 10:26] MaximLipnin opened #34582 "[mono] Portable threadpool does not support async IO eg ThreadPoolBoundHandle on Windows"
A lot of `System.IO.Pipes.Tests` fail with `System.PlatformNotSupportedException : This API is specific to the way in which Windows handles asynchronous I/O, and is not supported on this platform.` on windows.
The example of the output:
[code]

The whole namespace will be marked with `ActiveIssue` in https://github.com/dotnet/runtime/pull/32592

[2020-04-06 10:35] denispasternak commented on #34572
this means that I have to change the system variable% temp%

[2020-04-06 10:36] abelbraaksma commented on #1080
I can certainly give it a go. At first glance, I think exposing the enum would be fine. We shouldn't be too afraid to add cases to it if future changes warrants that (I think that's within the range of compat guidelines).

[2020-04-06 10:43] denispasternak commented on #34572
Found how to, thank you.
Mast create net environment variabl

[2020-04-06 10:44] MaximLipnin opened #34583 "[mono] Tests failed due to PNSE on windows: System.IO.Tests"
`System.IO.Tests` namespace is disabled in Mono's CoreFX.issues_windows.rsp file and after enabling <s>the only failing tests are `System.IO.Tests.StreamReaderWithBufferedStream_Tests.ReadAsync_Canceled_ThrowsException` and `System.IO.Tests.StreamReaderTests.ReadAsync_Canceled_ThrowsException`</s> a lot of them still fail.
The example of the output:
[code]

The tests will be marked with `ActiveIss

[2020-04-06 11:29] Gnbrkm41 commented on #34575
Why not `.Cast<T>` then `.Select`? It seems weird to only special-case Select for this.

[2020-04-06 12:07] Thaina commented on #34575
@Gnbrkm41 It not always guarantee that the thing that was implemented `IDictionary` will implement `IEnumerator` to return `DictionaryEntry`

Such as `Dictionary<K,V>` which implement `IDictionary` but its `IEnumerator.GetEnumerator()` it internally return `KeyValuePair<K,V>`

[2020-04-06 12:13] NinoFloris commented on #33433
I believe this is because null values do trigger custom converters when the custom converter converts a value type, meaning that you would need to check `options.IgnoreNullValues` yourself when building a value type converter. @layomia is that what's happening here?

[2020-04-06 12:15] svick commented on #34553
Considering that LINQ is inherently fairly allocation-heavy, would this actually significantly decrease the allocations?

[2020-04-06 12:25] temamarvel opened #34584 "System.ArgumentException: Type must derive from Delegate. after call the p/invoke RegisterClass() method"
I tried new .NET Core 5.0.100-preview.2.20176.6 on my code and got an exception
System.ArgumentException: Type must derive from Delegate. (Parameter 't') at at System.Runtime.InteropServices.Marshal.GetDelegateForFunctionPointer(IntPtr ptr, Type t).

On .NET Core 3.1 or .NET Framework 4.6 my code works correctly.

I have prepared the sample to demonstrate this issue
https://github.com/temamarvel/n

[2020-04-06 12:33] liorss18 commented on #32487
We have a service that collects ETW events of the production service that had the issue.
We don't collect all data as perfview, but we do have all Gen2 cycles and an indication of the duration, type and reason.

Since the issue had started we have done some memory optimizations and we haven't been seeing this issue again.
With that said, I'm attaching a file containing the info of Gen2 cycles.
Not

[2020-04-06 13:40] daniel-white opened #34586 "Invalid scoped dependencies with strongly typed HttpClient in 2.1"
This issue appears to be fixed in 3.1, but since 2.1 is an LTS, I'd thought I'd raise it.

Given:
* Microsoft.Extensions.DependencyInjection 2.1.x
* Microsoft.Extensions.Http 2.1.x
[code]
Outputs:
[code]

N.B. that `Dependency` is only created once under 2.1 and is incremented across service scopes. The threading is to simulate concurrent calls like from ASP.NET Core.

But when using the 3.1 versi

[2020-04-06 13:43] daniel-white commented on #34586
When initially researching this issue, I found this one from Azure.

[2020-04-06 13:59] guesshe commented on #33374
@am11 Thanks! I will try to figure it out.

[2020-04-06 14:01] guesshe commented on #33374
@wfurt This shows up in my host linux. Not on target. I thought these could be build output files but they are all empty.

[2020-04-06 14:11] EgorBo opened #34587 "Add empty X64/Arm64 nested classes to some System.Runtime.Intrinsics"
### Rationale
Imagine you have an arm64 CPU with `ArmBase` and `ArmBase.Arm64` support (both are always enabled for any arm64 CPU), but without `Aes`, `Sha1` and `Sha256` features, let's run the following snippet:
[code]
The problem here is the fact that `Aes`, `Sha1` and `Sha256` inherit from `ArmBase` but don't define their own `Arm64` nested classes, see [sharplab.io](https://sharplab.io/#v2:EY

[2020-04-06 14:14] CurlyFire opened #34594 "DateTime.ToString -> DateTime.Parse with culture fr-CA throws FormatException : was not recognized as a valid DateTime using fr-CA culture on Linux OS"
I replicated those problems on github at
[https://github.com/CurlyFire/testcultureconvert](url)

I have boiled down the problem to it's simplest form.  In a console app,  I am taking the ToString value of a DateTime and directlty converting it back to a DateTime and I get a format exception.

I tried 2 different methods:
using the cultureinfo directly in ToString and Parse:
[code]

Or setting the

[2020-04-06 14:21] EgorBo commented on #34587
Ah, looks like the same problem exists for x64 as well, e.g.:
[code]
Prints `true` on a CPU without AVX2.

So we need to do the same for: `Aes`, `Avx`, `Avx2`, `Fma`, `Pclmulqdq`, `Sse3`, `Ssse3`

[2020-04-06 14:43] tannergooding commented on #34587
For x64 this is a possible breaking change if the user recompiles. I still think it provides a better experience, but it is something that needs to be considered.

[2020-04-06 15:12] eiriktsarpalis commented on #34553
My feeling is that if allocations are a source of concern, then you shouldn't be using LINQ in the first place. For the particular issue you bring up, I believe it is almost always the case that you could refactor the code in a way such that only one closure is allocated, the one being passed to the `Select` method.

Given that we'd probably also need to support arities > 2, and the fact that it c

[2020-04-06 15:25] steveisok commented on #32680
@karelz Do you know if [dotnet/Kerberos.NET](https://github.com/dotnet/Kerberos.NET) is viable?  Assuming it fills what `System.Net.Security.Native` is trying to accomplish.

[2020-04-06 15:25] Clockwork-Muse commented on #18644
@qJake -

[Unix-style timezone strings are indeed parseable - on Unix derivatives](https://dotnetfiddle.net/YH0pRV).

This is the actual problem - your string should be parseable, but because it can't find _any_ timezones, it looks like your _specific_ ones don't work.  For that matter, if `GetSystemTimeZones()` returns no results, I'd expect **Windows** timezones to fail as well.

Note that varyi

[2020-04-06 15:26] mzilberman commented on #33433
@NinoFloris .  Agree, but there is no mechanics available to suppress emission of the property. No matter what is implemented within converter some artifact of the property is emitted into the writer.

[2020-04-06 15:28] ViktorHofer opened #34590 "TestWithRelativePaths installer test fails on CI"
https://dev.azure.com/dnceng/public/_build/results?buildId=590125&view=ms.vss-test-web.build-test-results-tab&runId=18599454&paneView=debug

Configuration: `Installer-Linux_x64-Debug`

[code]

[2020-04-06 15:28] davidsh commented on #32680
We have never tried using it. Also, we need NTLM support in both raw NTLM protocol mode and Negotiate (SPNEGO) fallback from Kerberos to NTLM. It isn't clear if Kerberos.NET supports that. From what I see, Kerberos.NET directly implements the Kerberos protocol on a wire level and doesn't seem to implement SPNEGO protocol.

We would have to prototype this and make changes to our PAL layer to see if

[2020-04-06 15:36] danmosemsft commented on #34173
@dsplaisted do you see any work here for the Mono or Libraries teams? My impression is no -- this is what I understand from @terrajobst last week as well.

[2020-04-06 15:38] jaredpar commented on #30056
FWIW @ViktorHofer PR is the only time I see this failure in the last 100 builds. So it does look fairly infrequent but also seems like we have a fix in the works here.

[2020-04-06 15:39] jkotas commented on #33582
See #34548 for (subset) of places that are affected.

[2020-04-06 15:44] MaximLipnin opened #34591 "[mono] Tests failed on windows: System.Drawing.Imaging.Tests.MetafileTests"
The following `System.Drawing.Imaging.Tests.MetafileTests` tests fail on windows due to a runtime crash (`----- exit code -1073740791 --------`):
[code]

The failing tests will be marked with `ActiveIssue` in #32592.

Upd. The same for some `System.Drawing.Tests` and `MonoTests.System.Drawing.Imaging`.

[2020-04-06 15:45] am11 commented on #32680
Maybe it is not the same thing but there are some sources under SpNego: https://github.com/dotnet/Kerberos.NET/tree/develop/Kerberos.NET/Entities/SpNego.

[2020-04-06 15:50] MaximLipnin opened #34592 "[mono] Test failed on windows: System.Drawing.Imaging.Tests.PropertyItemTests.Properties_SetValues_ReturnsExpected"
`System.Drawing.Imaging.Tests.PropertyItemTests.Properties_SetValues_ReturnsExpected` fails locally with the following output:
[code]

This test will be marked with `ActiveIssue` in #32592.

[2020-04-06 15:51] steveisok commented on #34173
@terrajobst We're adding runtime packs for `Microsoft.NETCore.App.Runtime.<Mobile RID>` and Xamarin iOS/Android.  What do you mean by 'shared framework'?   Did you mean the same thing?  I could be misunderstanding the broader view.

[2020-04-06 15:51] HanabishiRecca opened #34593 "[System.Diagnostics.Process] StandardOutput trimmed after child process exited (Win32 implementation)"
When child process prints all the output and exits immediately, you are only able to read first buffer (4KB by default). After that output is trimmed, because pipe dies along with the child process and all further calls of ReadFile will return 0 bytes.
This is caused by full handle inheritance to the child process here

https://github.com/dotnet/runtime/blob/3bd8d1b1bf7b0f7127e00f2db48f1636d0f8e58

[2020-04-06 15:55] #819 closed

[2020-04-06 16:13] scalablecory opened #34596 "SocketInformation is not marked as serializable"
_From @soyang2828 on Friday, February 21, 2020 8:12:06 AM_

Now we have DuplicateAndClone() supported (https://github.com/dotnet/runtime/issues/1760)
But the entire scenario would be needing to serialize SocketInformation to another process.
So should SocketInformation marked as serializable?

_Copied from original issue: microsoft/dotnet#1176_

[2020-04-06 16:14] BruceForstall commented on #34185
Thanks for the info, @janvorli. Since I don't believe we intend to make any code changes to address this, I'm going to close this issue.

[2020-04-06 16:14] #34185 closed

[2020-04-06 16:17] BruceForstall commented on #34557
cc @briansull

[2020-04-06 16:18] AjayKMehta commented on #34553
@eiriktsarpalis Yes, I could write the code so that I have only 1 closure allocated.

This is not pressing. Thanks for looking into this.

[2020-04-06 16:18] briansull commented on #34557
I will look into this

[2020-04-06 16:22] GrabYourPitchforks commented on #34596
\<security-hat\>
There's nothing inherently dangerous about this type that would prevent slapping `[Serializable]` on it. But we __really__ don't want to be in a world where we're encouraging developers to take further dependencies on `BinaryFormatter`. Encouraging our developer audience to make further use of that type is a recipe for disaster.

It's 2020. At this point we've been saying for almo

[2020-04-06 16:23] tarekgh commented on #34594
@CurlyFire this is a duplicate of https://github.com/dotnet/runtime/issues/1340 which we already fixed it in 5.0. Also, there is a way to work around this by passing the format pattern to the DateTime.ToString. Something like:

[code]

Please advise if the workaround is ok to you and if you can try 5.0 too which has the fix. I am closing the issue here but feel free to respond back and I'll be hap

[2020-04-06 16:23] #34594 closed

[2020-04-06 16:28] danmosemsft commented on #34173
Linking the SDK epic https://github.com/dotnet/sdk/issues/11165

[2020-04-06 16:36] Rodrigo-Andrade commented on #34434
I am testing the net5.0 preview 2 , and the awssdk fails to make requests with httpclient with the same error of the issue.
No problems on windows, but fails with mcr.microsoft.com/dotnet/core/aspnet:5.0.0-preview.2 docker image on linux.

[2020-04-06 16:39] soyang2828 commented on #34596
@GrabYourPitchforks , I will take it as an answer.

[2020-04-06 16:42] #34572 closed

[2020-04-06 16:51] iSazonov commented on #29727
It is fixed in https://github.com/dotnet/corefx/pull/38107
/cc @danmosemsft

[2020-04-06 16:59] danmosemsft commented on #1080
There is some info about API proposals here https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md

[2020-04-06 17:02] danmosemsft commented on #1080
Before making it public probably most of the work would be to ensure that RegexParseError was always populated. If you look at RegexParserTests.cs, you will see many cases where they verify null,  because there was no concerted effort to consistently set a parse error. In fact, this work should probably happen before making the API proposal, as it will help validate that the RegexParseError enum h

[2020-04-06 17:03] CurlyFire commented on #34594
@tarekgh I tried searching for something similar, but I wasn't sure where to look.  I didn't know dotnet core used that repo (runtime).

However, I can't use this workaround as the problem I'm having is with asp.net core mvc's model binder.  When I bind a model to a razor view with a datetime property and then post back that value to the controller, that date cannot be bound.

I used the following

[2020-04-06 17:04] iSazonov opened #34598 "Principal.FindByIdentity() method is extremely slow"
In PowerShell repo we started [porting Microsoft.PowerShell.LocalAccounts module](https://github.com/PowerShell/PowerShell/pull/12242) to System.DirectoryServices.AccountManagement API (from p/invokes).
We had to use workarounds because Principal.FindByIdentity() methods is extremely slow - up to 100x(!) vs Principal.PrincipalSearcher().

On my notebook `Get-LocalUser name` ported cmdlet takes 2.8

[2020-04-06 17:07] adamsitnik commented on #33669
@kouvel as agreed offline, I've prepared a repro.

First of all, we need a modified version of `System.Net.Sockets.dll` that allows configuring the minimum number of opened socket connections to allocate a new epoll thread:

https://github.com/adamsitnik/runtime/blob/636cc62615c79d33a67a301d551e093498d1f97b/src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEngine.Unix.cs#L108

Thi

[2020-04-06 17:09] tarekgh commented on #34594
Yes, you can override the default format patterns on CultureInfo.DateTimeFormat. Here is the doc which has some sample https://docs.microsoft.com/en-us/dotnet/api/system.globalization.datetimeformatinfo.longdatepattern?view=netframework-4.8

[2020-04-06 17:09] GrabYourPitchforks commented on #34596
Ultimately the decision is in the hands of the larger product team. I am but one member voicing an opinion. :)

[2020-04-06 17:13] GrabYourPitchforks commented on #2214
We usually get to APIs in chronological order (by date opened) unless they're marked as blocking.

[2020-04-06 17:16] adamsitnik commented on #33669
Edit: important note: the machine has 28 cores (14 physical)

[2020-04-06 17:18] danmosemsft commented on #29727
Thanks for pointing that out @iSazonov

[2020-04-06 17:18] #29727 closed

[2020-04-06 17:23] #34505 closed

[2020-04-06 17:26] safern commented on #34565
thanks @alexvy86, it indeed seems like a test bug hardcoding the `/` in the expected value. Do you feel like putting up a PR to fix it 😄 ?

[2020-04-06 17:27] #32348 closed

[2020-04-06 17:29] Anipik commented on #34568
cc @maryamariyan

[2020-04-06 17:31] #33824 closed

[2020-04-06 17:38] andrewaggb commented on #29666
@carlossanlop

Sorry for the late response.  I am not able to write a proposal at this time.

[2020-04-06 17:47] layomia commented on #34581
As you mention, adding an instance of the converter to the `Converters` collection works. **Why do you want to avoid doing this**?

When the serializer fetches `JsonConverterAttribute` on types, it doesn't include those inherited from parents. So the attribute placed on `DataTypeDTO` will be used only instances declared as that type, e.g. `JsonSerializer.Serialize<DataTypeDTO>(longDataTypeDTO, _op

[2020-04-06 17:57] danmosemsft commented on #34596
We don't plan to mark more types as `[Serializable]`. @soyang2828 can you accmoplish your goal some other way?

[2020-04-06 18:05] soyang2828 commented on #34596
We will move to protobuf after this is confirmed that it's not going to be supported.

[2020-04-06 18:08] alexvy86 commented on #34565
I was planning to take a look at some point, yeah... although I'm confused by the fact that the failed test shows an expected value of `MM/dd/yyyy` and an actual of `MM-dd-yyyy`, not `yyyy-MM-dd`... so it's not just using the system's regional settings, it's somehow mix-and-matching stuff...?

[2020-04-06 18:11] buyaa-n commented on #33763
The UseNameofInPlaceOfString analyzer is enabled in the runtime repo and running just fine, as @bartonjs said i assume those occurrences were on test projects .

Also I had enabled InstantiateArgumentExceptionsCorrectlyAnalyzer to test against runtime repo and got lots of valid/invalid warnings, sent the report by email. Please let me know your thoughts on it

[2020-04-06 18:14] Anipik commented on #31844
@ViktorHofer can i start working on this now ?

[2020-04-06 18:15] CurlyFire commented on #34594
@tarekgh I won't be able to use ParseExact, as this code is in the ModelBinder.  So I thought I would override the incorrect LongTimePattern in a custom CultureInfo based on fr-CA and set the DefaultThreadCurrentCulture and DefaultThreadCurrentUICulture to that custom culture in the hopes that I would be able to affect the parsing code of the ModelBinder:

[code]
Or

[code]

I can see the stringRe

[2020-04-06 18:15] ViktorHofer commented on #31844
Thanks Anirudh but I already started with the next steps in a private branch.

[2020-04-06 18:19] AaronRobinsonMSFT commented on #34584
@temamarvel This is a minor behavioral change and is fixing a long standing bug. We have updated our guidance about `struct` marshaling with `Delegate` fields [here](https://docs.microsoft.com/dotnet/standard/native-interop/best-practices#structs).

Additional details can be found at https://github.com/dotnet/runtime/issues/33919.

[2020-04-06 18:19] AaronRobinsonMSFT commented on #34584
Duplicate of #33919.

[2020-04-06 18:22] temamarvel commented on #34584
Thank you so much for information. I will check it.

[2020-04-06 18:32] layomia commented on #33433
Whether or not the serializer passes `null` to converters is separate from this issue and is discussed in https://github.com/dotnet/runtime/issues/34439. In this example, we are serializing a non-nullable `struct` which cannot be `null`.

In your example, it is the converter that is writing `null`, not the serializer. When a converter is used, the serializer delegates all (de)serialization respons

[2020-04-06 18:43] jkotas commented on #34584
Was this breaking change really required - what is the benefit? Given that we are getting feedback about the breaking nature of this change already, I would strongly recommend reverting it. This is the kind of thing we can make better for the new interop story based on source generators.

If we really want to do this breaking change, we need to have an issue marked with breaking-change label for t

[2020-04-06 18:52] jashook commented on #33872
| f16_v2 MsBuild | f16_v2 Ninja | d2_v3 MsBuild | d2_v3 Ninja | d4_v3 MsBuild | d4_v3 Ninja |
| --------------- | ------------ | -------------- | ------------ | -------------- | ------------ |
| 4.642                 | 3.039            | 33.576             | 25.516           | 19.144              | 12.602          |

## Speedup

Percentage of how much faster the Ninja build is, compared to the msb

[2020-04-06 18:57] jashook commented on #33872
@am11 the msbuild/ninja comparison is difficult entirely to compare in the way you are referring to because the msbuild generator has two levels of parallelization, the msbuild invocation and the cl invocations. Generally we *choose to run msbuild serially*, so that each vcxproj can run fan out in the native build of that proj. The largest downside to this is each vcxproj has to serially wait for

[2020-04-06 18:57] lostmsu commented on #13330
@jkotas this is not a duplicate. The other is "I want my code to be called when runtime sees `DllImport`". This one is "I want to declare an attribute, that can be put on `extern` methods, which will be called to resolve them". It is much more generic.

[2020-04-06 18:59] layomia commented on #11517
@sandreenko how can I tell if this test is still disabled? I can't find the file reference here in this repro.

[2020-04-06 19:02] lostmsu commented on #13330
@jkotas to be precise, this can be covered by any mechanism to set `MethodInfo` -> `MethodInfo` function on `extern` methods. `DllImport` is a special case here. Not everything needs a DLL and a symbol name.

TBH though, all of this is unnecessary if statically resolved delegates (e.g. `static readonly MyFunc val = ...`) would be always dispatched without performance hit over regular non-virtual m

[2020-04-06 19:06] scalablecory commented on #34596
The original Framework type was marked serializable, so we might do it if there's an important compat scenario missing. I suspect the `DuplicateAndClose` method is used pretty rarely though. It seems like any serializer that works with public properties will work just fine here -- like System.Text.Json.

[2020-04-06 19:08] #33690 closed

[2020-04-06 19:14] jkotas commented on #13330
The function pointers that are being introduced for C# will allow you to call methods without paying the delegate overhead. They will be usable only in unsafe context though.

[2020-04-06 19:15] danmosemsft commented on #33763
I have no memory of anything I may have said 😺 Using simple regexes right now, I only see some minor hits like `throw new ArgumentException(SR.InvalidQuery, "*");` and `new ArgumentException(SR.Format(SR.Arg_GuidArrayCtor, "8")` which presumably this rule would not fire for since they aren't parameters. It is a little "odd" perhaps to have anything other than nameof in the 2nd position, but there

[2020-04-06 19:17] layomia commented on #29975
As far as supporting attributes from `System.Runtime.Serialization` is concerned, it is not on the System.Text.Json roadmap to do this en masse. Please open individual issues for each attribute/logical group of attributes for which support is needed, and include use cases.

[2020-04-06 19:17] tannergooding opened #34603 "coreclr.cmd does not support building CoreCLR tests or generating the CoreRoot layout"
As per the title, `.\coreclr.cmd` does not currently support building the coreclr tests (which are built by default by `.\src\coreclr\build.cmd`. Likewise, it does not look to currently support regenerating the `CoreRoot` test layout.

However, using `.\src\coreclr\build.cmd` currently prints the following:

Ideally this would be updated so that native tests can be easily built and so that the tes

[2020-04-06 19:18] jkotas commented on #33872
What prevents us from choosing to run msbuild in parallel?

[2020-04-06 19:18] danmosemsft commented on #34565
We still include es-ES in CI, right?

[2020-04-06 19:19] sandreenko commented on #11517
@layomia I usually check an ADO test run to see if we run it or not, in this case https://dev.azure.com/dnceng/public/_build/results?buildId=589982&view=ms.vss-test-web.build-test-results-tab I can see it is passing on arm32 Linux, so probably the issue was resolved.

@BruceForstall do you remember what file we use to exclude corefx tests?

[2020-04-06 19:19] jkoritzinsky commented on #33872
We do run MSBuild in parallel. The current setup in master runs MSBuild and cl both in parallel.

[2020-04-06 19:20] layomia commented on #30232
There isn't much incentive to do this based on user feedback.

[2020-04-06 19:20] #30232 closed

[2020-04-06 19:27] layomia commented on #30427
The factory pattern is the recommended way to handle polymorphic support - https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-converters-how-to#steps-to-follow-the-factory-pattern. The solution provided here https://github.com/dotnet/runtime/issues/30427#issuecomment-517628135 is also correct.

Please re-open if you still face problems.

[2020-04-06 19:32] Seamus3131 commented on #34581
Thanks for the response.

I wanted to avoid explicit add to Converters, to be able to deliver the object and CustomConverter in lib usable by others without they need to know specific option init to perform json serialization.

I will use this thread for one additional question, using your updates, I see that CamelCase is not used even with the option configure. Do you have an idea on what could b

[2020-04-06 19:35] Seamus3131 commented on #34581
Thanks

Thank you

[2020-04-06 19:42] safern commented on #34565
Ah, right, I didn't realize that difference. We would have to look at the converter to see exactly what it is doing.

Right, in PRs es-ES and in rolling builds, en-US.
https://github.com/dotnet/runtime/blob/master/eng/pipelines/libraries/helix-queues-setup.yml#L97

[2020-04-06 19:45] alexvy86 commented on #34565
Does running with `es-ES` make a difference, though? It still uses slashes as separators, and 01/01 will work no matter if interpreted as MM/dd or dd/MM. Maybe using a date like 12/31 would make for a more thorough test?

[2020-04-06 19:45] tarekgh commented on #34594
@CurlyFire could you please try setting the current culture too and look if this can reflect on ModelBinder?

[code]

[2020-04-06 19:51] danmosemsft commented on #20758
@Marusyk missed your reply. Yup, assigned to you now. Thanks!

[2020-04-06 20:04] AaronRobinsonMSFT commented on #34540
@HanJunJun Here are some observations:

1) The supplied native binary is x86, but the default install of .NET is typically x64. Please ensure the  bitness of the run time matches that of any native binaries used.

[code]

2) Providing details from `dotnet --info` is always appreciated in bug reports.

3) The failing call stack and exception are almost always required to understand the issue - espe

[2020-04-06 20:13] tannergooding opened #34604 "Attempting to `GenerateReferenceSource` for System.Runtime fails"
As per the title, the following fails:
[code]

[2020-04-06 20:43] stephentoub opened #34606 "Consider removing `_version++` from overwrites in `Dictionary<TKey, TValue>`"
We previously removed the `_version++` when Remove'ing from a dictionary.  We should consider doing so as well when just overwriting a value for an existing key in the dictionary.  This would enable update loops that tweak a value in the dictionary without needing to resort to convoluted and more expensive measures.

[2020-04-06 20:53] jkoritzinsky commented on #34603
@tannergooding you can use the build-test.cmd script to just regenerate Core_Root with the `generatelayoutonly` parameter from an updated build, so that should unblock you to move off the old build.cmd script. (full command from the root being `src/coreclr/build-test generatelayoutonly`)

[2020-04-06 20:59] sandreenko commented on #34576
I wrote it to test my struct changes ([test](https://github.com/dotnet/runtime/blob/2e00f954a2ce51f3263b430caffad7fa30f8831d/src/coreclr/tests/src/JIT/Directed/StructABI/structreturn.cs)).

Yes, looks like I do not see that border, for example, can we reinterpreter int as long? Should ECMA state that or how can we determine that?

I have other cases of such casts, should jit behavior be consistent

[2020-04-06 20:59] HanabishiRecca commented on #34593
Hmm, I tested this solution and it doesn't help. Seems like this is native Windows behavior.
So there is nothing can be helped.

[2020-04-06 20:59] #34593 closed

[2020-04-06 21:00] tannergooding commented on #34603
That doesn't simultaneously rebuild the JIT side though, does it? Ideally I'd also be able to do all this from the repo root without needing to dot off into `.\src\coreclr`...

[2020-04-06 21:10] am11 commented on #33374
@guesshe, I remember when NetBSD folks ported coreclr:

* the first thing that was done was to pass all platform abstraction layer (PAL) tests, which excercise the CRT functions used by the runtime: https://github.com/dotnet/runtime/blob/59be94b69845ecfbd5a694483c2a4853e99cc64b/docs/workflow/testing/coreclr/unix-test-instructions.md#pal-tests

* and then run a simple hello world app using corerun

[2020-04-06 21:12] jkoritzinsky commented on #34603
It does not do a product build, no. #33183 would give a way to do that.

[2020-04-06 21:29] GrabYourPitchforks commented on #34596
If you need to transmit a `SocketInformation` struct across a process boundary, there's no need to involve any type of serializer at all. BinaryFormatter, protobuf, even JSON are all very heavyweight solutions to this problem.

Since the struct is just two fields it can be smuggled easily as a single string, as shown below.

[code]

[2020-04-06 21:35] marcbarry opened #34609 "COM support in .NET 5"
.NET core 3.1 projects can reference COM components i.e. `<COMReference Include="NetFwTypeLib.dll" />` which compiles and debugs from Visual Studio.

However, attempting to `dotnet publish` such projects with `COMReference` directives fails with the message, `error : MSB4803: The task "ResolveComReference" is not supported on the .NET Core version of MSBuild. Please use the .NET Framework version

[2020-04-06 21:39] gbalykov opened #34610 "x64 libraries build error"
If I try to build with subsets specified for libraries, lots of different errors show up:
[code]
[code]

Build without subsets is fine:
[code]

Seems that this is related to `depprojs` and #33553:
https://github.com/dotnet/runtime/blob/986518e2ad9ac431d08ff7effb21fbe1f3aeb3ed/eng/Subsets.props#L61

cc @alpencolt @jkotas

[2020-04-06 21:57] Romanx commented on #31645
Hey there,

I'd love to pick this up and take a look at getting these types serializing. Could the issue be assigned to me?

[2020-04-06 21:58] lpereira commented on #33872
Is there a way to limit the number of processes msbuild spawns, regardless of `-maxCpuCount`?

GNU make has a command line parameter to specify that it shouldn't spawn new processes if the system load is beyond a certain threshold (`-l`), so a common trick of calling `make` in parallel in these situations is: `nice --adjustment=20 make -l $NUMBER_OF_CPUS -j`. The highest nice value makes the syste

[2020-04-06 22:00] ViktorHofer commented on #34610
Make sure that you ran -restore once. Currently deprojs only run for the full subsetCategory. We are planning to remove the depprojs so that the upfront restore isn't necessary anymore.

[2020-04-06 22:05] safern commented on #34610
Also, the error is because you're missing to build the ref assemblies which we use to build the src. So after running `-restore` once you would need to build `native-ref-src` if you haven't built the ref subset yet.

[2020-04-06 22:28] mrj001 opened #34612 "NullReferenceException while running Nuget restore with current runtime."
In trying to get nuget to restore, I've already cleared my local caches, and rebooted.

I'm starting with a clean runtime repo by Executing the following sequence of commands:
[code]
Of course, this doesn't work, and results in this output:
[code]
Next, I build the SDK as follows:

[code]
This results in the NullReferenceException, and outputs this information:
[code]
I'm on Windows 10 Home (build

[2020-04-06 22:44] layomia commented on #33433
per offline discussion with @mzilberman, I think it makes sense to provide a way to honor the `options.IgnoreNullValues` even when the converter writes `null` tokens with the writer. This is helpful when the property name is already written which can occur in some scenarios involving converter composition.

[2020-04-06 23:01] layomia commented on #30427
Given the scenario where you can't easily configure a `JsonSerializerOptions` instance, it's reasonable to have a way for the attribute to apply to derived types. For now, the work-around is to place the converter attribute on each type.

[2020-04-06 23:04] layomia commented on #34581
Wrt the `JsonConverterAttribute` being applied to derived types, closing as a duplicate of https://github.com/dotnet/runtime/issues/30427.

[2020-04-06 23:04] #34581 closed

[2020-04-06 23:48] #33925 closed

[2020-04-06 23:56] #1573 closed

[2020-04-07 00:12] kunalspathak commented on #34485
This is the mapping that I can think of at this point. For below APIs that takes data types that are 32-bit or 64-bit variant, use `fmov`.

[code]
[code]

However for the ones, whose arguments are less than 32-bit variants, use `ins`. The reason being if the argument value is negative, we end up storing `0xFF` from 2nd lane onwards if we use `fmov`.
[code]
[code]
Note: We can use `fmov` for `byte`

[2020-04-07 00:14] danmosemsft commented on #34612
https://github.com/NuGet/Home/issues/7052

[2020-04-07 00:15] Lewington-pitsos commented on #23267
Would you be able to specify which "lower level" primitives you were thinking of? I'm not sure where to start looking for alternatives to `HttpClient`

[2020-04-07 00:16] tannergooding commented on #34485
For `Unsafe` in particular, we are free to do whatever is most efficient. The value of the upper bits is "undefined". For `CreateScalar` however, we must ensure the upper bits (anything other than the first element) are zeroed.

[2020-04-07 00:20] danmosemsft commented on #34608
Have you tried using procmon to see where it is looking?

I am not sure what System.Net folks could do if their assembly isn't even getting loaded..

[2020-04-07 00:23] BruceForstall commented on #11517
The exclude file went away; anything that was excluded now should have an xunit properly, e.g. see https://github.com/dotnet/runtime/pull/118 (hopefully there's documentation somewhere, too)

[2020-04-07 00:23] danmosemsft commented on #34582
@MaximLipnin this is because Mono corelib is not built with `<FeaturePortableThreadPool>true</FeaturePortableThreadPool>`. Should it be?
cc @kouvel

[2020-04-07 00:24] danmosemsft commented on #34583
dupe of https://github.com/dotnet/runtime/issues/34582

[2020-04-07 00:24] #34583 closed

[2020-04-07 00:24] danmosemsft commented on #34580
dupe of https://github.com/dotnet/runtime/issues/34582

[2020-04-07 00:24] #34580 closed

[2020-04-07 00:29] danmosemsft commented on #34577
127 - ERROR_PROC_NOT_FOUND
is this failing?
[code]

[2020-04-07 00:40] danmosemsft commented on #33680
@jkotas do you plan to update markdowns in this repo also?

[2020-04-07 00:41] sandreenko commented on #11517
@BruceForstall thank you.

@layomia I don't see `SkipOnCoreClr` in any https://github.com/dotnet/runtime/tree/master/src/libraries/System.Text.Json/tests files, the issue should be closed, thanks for bringing it up.

[2020-04-07 01:10] stephentoub commented on #22903
This is no longer the case.

[2020-04-07 01:13] stephentoub opened #34618 "[Uri] Consider caching PathAndQuery"
Uri caches several results that are likely to be accessed again.  It doesn't do so for Uri.PathAndQuery, but this property is used on every request made by SocketsHttpHandler.  We should _consider_ caching it, for scenarios where the same Url is used repeatedly with an HttpClient.  As with any caching, though, we'd want to make sure it was actually worthwhile and didn't negatively impact other imp

[2020-04-07 01:33] BruceForstall commented on #34485
@kunalspathak As you work on System.Runtime.Intrinsics cases, can you please edit/update the top comment in https://github.com/dotnet/runtime/issues/33308 to be more reflective of the sets of work to do there? When I created that issue, I was a little sloppy for this particular namespace, since there are so many overloads. I'd prefer that the "checkbox items" be split up as appropriate such that i

[2020-04-07 01:37] kunalspathak commented on #34485
Sure, I will update that list as I discover them.

[2020-04-07 01:40] davidwrighton commented on #32714
Yes, crossgen2 should handle this case much better. It doesn't quite make intrinsics useable without paying attention to the rules easy, but it broadens the set of workable cases. I hope to enhance the support to allow Avx2 and above in R2R'd code (with an opt-in) in .NET 5.0. There may be significant restrictions on the scenarios under which the Avx2 and above intrinsics are available, as the ABI

[2020-04-07 01:53] layomia commented on #30803
Closing - this work/investigation is part of https://github.com/dotnet/runtime/issues/29812.

[2020-04-07 01:53] #30803 closed

[2020-04-07 02:06] benaadams commented on #32714
It does though which is what was bothering me; and they are Sse instructions not Avx.

[code]
Generates at crossgen
[code]
Changing `Zero` to `default` instead
[code]
Generates the much better
[code]

[2020-04-07 02:38] joshudson commented on #34562
I found it expedient to use a patch manager to solve this problem. The patch manager would track down the installs and update only the targeted ones. You might find the same.

[2020-04-07 03:05] v-haren opened #34624 "Test failure: profiler/eventpipe/eventpipe/eventpipe.sh"
failed in job: [runtime-coreclr outerloop 20200406.5](https://dev.azure.com/dnceng/public/_build/results?buildId=590731&view=ms.vss-test-web.build-test-results-tab&runId=18616864&resultId=109463&paneView=debug)

Error message
[code]

[2020-04-07 03:14] v-haren opened #34625 "Test failure: The text 'PROFILER TEST PASSES' was not found in the output"
failed in job: [runtime-coreclr outerloop 20200406.5](https://dev.azure.com/dnceng/public/_build/results?buildId=590731&view=ms.vss-test-web.build-test-results-tab&runId=18616864&resultId=102170&paneView=debug)

failed tests:
profiler/rejit/rejit/rejit.sh
profiler/unittest/metadatagetdispenser/metadatagetdispenser.sh

Error message
[code]

[2020-04-07 03:29] layomia commented on #31138
We decided to strictly follow the ISO profile described in the [JSON DateTime/DateTimeOffset docs](https://docs.microsoft.com/en-us/dotnet/standard/datetime/system-text-json-support#the-extended-iso-8601-12019-profile-in-systemtextjson). This doc shows how to add custom support to the reader, writer, serializer, and JsonDocument/Element.

[2020-04-07 03:29] #31138 closed

[2020-04-07 03:44] joshudson commented on #34395
Random `OutOfMemoryException` from GDI+ has been the bane of .NET programmers since at least 2005. It's still a bug and causes no end of support departments chasing nonsense.

[2020-04-07 03:48] joshudson commented on #31228
Can I get someone to check this? I thought I got all the build issues cleaned up but there's one broken build because the build infrastructure faulted.

[2020-04-07 03:51] joshudson commented on #34277
Correct me if I'm wrong, but I think you want a Utf8StringWriter.

[2020-04-07 03:57] joshudson commented on #33843
I know why you would want to build like this. He has a single build server for a multi-platform build. This makes perfect sense for many reasons, and one of which that would be particularly hard to work around is it's calling `dotnet pack`.

[2020-04-07 03:57] AaronRobinsonMSFT commented on #34609
@marcbarry COM will have at least the same level of support in .NET 5 as it does in .NET 3.1.

The SDK issue with the `publish` command is related to the implementation of `COMReference` item processing which is built on top of some .NET Framework's TLB APIs - which are **not** supported in .NET 3.0+. These TLB APIs are not slated to be brought back, but consumption of TLB is still supported. This

[2020-04-07 04:01] xljiulang commented on #34277
@joshudson

I want to use the custom JsonWriter and combine the JsonSerializer to serialize  an object to the format of ini, YML or key-value set

[2020-04-07 04:05] layomia commented on #30258
*This work should also consider sub-objects without setters, not just collections.*

From @johncrim in https://github.com/dotnet/runtime/issues/3145:

[2020-04-07 04:05] layomia commented on #31457
Closing as dup of https://github.com/dotnet/runtime/issues/30258 which considers similar semantics for collections.

[2020-04-07 04:05] #31457 closed

[2020-04-07 04:06] danmosemsft commented on #34395
Another option depending on your scenery is to use another drawing library like ImageSharp which is completely managed.

[2020-04-07 04:07] layomia commented on #31462
cc @steveharter

[2020-04-07 04:20] #34584 closed

[2020-04-07 04:30] layomia commented on #882
Fixed in 3.1 by https://github.com/dotnet/corefx/pull/42867.

[2020-04-07 04:30] #882 closed

[2020-04-07 04:33] Jozkee opened #34626 "Don't forget about JsonSerializerOptions.CreateForWeb()"
This is a leftover from https://github.com/dotnet/runtime/issues/32937, we didn't add the default options that are meant to sync the options between `System.Net.Http.Json` and ASP.NET.

As per the [spec](https://github.com/dotnet/designs/blob/master/accepted/2020/json-http-extensions/json-http-extentions.md#default-serialization-options), the next API should be added as well.

[code]

Above method

[2020-04-07 04:34] jkotas commented on #33680
I have done a pass over the repo docs in #33694

[2020-04-07 04:35] Jozkee commented on #31551
Fixed on https://github.com/dotnet/runtime/pull/33459.

This will be tracked on https://github.com/dotnet/runtime/issues/34626

[2020-04-07 04:35] #31551 closed

[2020-04-07 04:35] Jozkee commented on #34626
cc @terrajobst @layomia

[2020-04-07 04:37] jkotas commented on #33680
I am sure there is more cleanup that can be done in the repo docs and comments, but I think we won't be able to fix all references to .NET Core. For example, if a comment talks about .NET Core 2.0, it should stay as .NET Core 2.0. Changing it to .NET 2.0 would be ambiguous (does it mean .NET Framework 2.0 or .NET Core 2.0?)

[2020-04-07 04:43] vincentparrett commented on #7107
Old thread, but I just ran into this issue while investigating migrating to .net core.

My native host application loads .net plugins, and instantiates .net objects via the _Assembly etc com interfaces... and then interacts with those objects (which implement a known interface).. as far as I can see, there doesn't appear to be any way to achieve this with .net core hosting api?

Any suggestions on

[2020-04-07 04:50] layomia commented on #2144
Closing given design considerations detailed above.

[2020-04-07 04:50] #2144 closed

[2020-04-07 05:01] layomia commented on #31645
@Romanx, certainly. Please let me know if you run into any issue or have any questions

[2020-04-07 05:15] layomia commented on #30259
Merging this with https://github.com/dotnet/runtime/issues/31955.

[2020-04-07 05:15] #30259 closed

[2020-04-07 05:16] layomia commented on #31955
From @steveharter in https://github.com/dotnet/runtime/issues/3025:

[2020-04-07 05:19] layomia commented on #32352
Duplicate of https://github.com/dotnet/runtime/issues/32148.

[2020-04-07 05:19] #32352 closed

[2020-04-07 05:19] #33366 closed

[2020-04-07 05:29] Maoni0 commented on #32487
unfortunately just recording that you did such GCs doesn't help much. the reason you recorded is just trigger reason which tells us why the GC was triggered, not why it actually became a BGC or blocking full GC.

unless we have the events it's difficult to make progress on this.

[2020-04-07 05:38] Wahitler commented on #34535
thanks all,this is my scenario, and i still work at windows and .Net framework 4.6
![image](https://user-images.githubusercontent.com/12858618/78633668-bf884480-78d4-11ea-8d38-89349df4cf2a.png)
I think netcore host is not suittble for me.   do you have another solution?not include COM

[2020-04-07 05:49] sandreenko commented on #34026
I have checked that again and found one case:
https://github.com/dotnet/runtime/blob/247b657d314bf612d74e1c9eda3d3b8911f3769f/src/coreclr/src/jit/morph.cpp#L13279, but we do it pretty inconsistently, for example in another case we do it only for IND(ADDR(IND())) case that is more conservative:
https://github.com/dotnet/runtime/blob/247b657d314bf612d74e1c9eda3d3b8911f3769f/src/coreclr/src/jit/compi

[2020-04-07 05:51] safern commented on #33843
It is working because you guys are referencing the netfx targeting pack nuget package. https://github.com/microsoft/vstest/blob/bbf72dd8026effaa9dfd2fd5e9aafc67e5f6536f/src/package/external/external.csproj#L91
And then you point the build system to it through an environment variable: https://github.com/microsoft/vstest/blob/2f026a9b449d4fa8ef08d3cb1137b9473bbd9b35/scripts/build.sh#L241

Sorry for

[2020-04-07 05:58] v-haren opened #34627 "Test failure: readytorun\\determinism\\crossgen2determinism\\crossgen2determinism.cmd"
failed in job: [runtime-coreclr jitstress 20200406.1](https://dev.azure.com/dnceng/public/_build/results?buildId=589860&view=ms.vss-test-web.build-test-results-tab&runId=18594196&resultId=110401&paneView=debug)

Error message
[code]

[2020-04-07 06:07] ViktorHofer commented on #34612
Please use dotnet restore instead and additionally note that you need to do an upfront restore and build in the repo root: build.cmd/sh -subsetCategory coreclr-libraries

[2020-04-07 06:24] am11 commented on #33872
`/MP` and `CL_MPCount` are our friends. I remembered reading a blog article from VCR team on degree of parallelism couple of years ago, can't find the link anymore. In my experience, as verbose as their XML syntax maybe, we can do [m]any things with msbuild and vcxproj project system, and cmake has means to pass those values to underlying build system.

[2020-04-07 06:31] thepill commented on #34608
@danmosemsft good tip - will do this the next time the when the error is there again - thanks!

[2020-04-07 06:42] AbhitejJohn commented on #33843
@safern : Ah that makes sense. Its been a while since I've made changes to this repo - not familiar with the infra. Yes, this should be good to be closed. Thanks for all the pointers.

[2020-04-07 06:42] #33843 closed

[2020-04-07 06:49] vivekbm commented on #28831
Hi Carlos, I am a beginner in the community and would like to contribute to this issue. I appreciate it is just changing one line of code but would like to begin somewhere. Can you please assign this issue to me?

[2020-04-07 06:51] vivekbm commented on #28409
Hi @ahsonkhan - Is this still up for grabs?

[2020-04-07 07:07] vivekbm commented on #20409
Hi @sepidehkh , Is this still an open issue? What is the current test coverage or areas of focus to increase the coverage? A first time contributor so trying to start small :)

[2020-04-07 07:12] AriNuer opened #34628 "Test failure:JIT\\HardwareIntrinsics\\X86\\Avx2\\Avx2_ro\\Avx2_ro.cmd"
**Job:**
[runtime-coreclr crossgen2:20200405.1](https://dev.azure.com/dnceng/public/_build/results?buildId=589826&view=results)
**Failed tests:**
[code]
**Error message:**
[code]
**Stack trace:**
[code]
**Details:**
https://dev.azure.com/dnceng/public/_build/results?buildId=589826&view=ms.vss-test-web.build-test-results-tab&runId=18593110&resultId=102619&paneView=debug

[2020-04-07 07:14] jkoritzinsky commented on #33872
The problem is that we have a very weird balance between large vcxprojs and small vcxprojs, so we'd have to dynamically determine the best balance or do a ton of additional manual testing to figure out how to balance MSBuild parallelism with CL.exe parallelism. I've done tests, and doing one or the other causes a massive drop in build performance on an 8 core machine (40-50% time increase on the C

[2020-04-07 07:20] MaximLipnin commented on #34582
@danmosemsft Thanks for clarification, but please correct me if I'm wrong - a quick search shows that this flag is [activated](https://github.com/dotnet/runtime/blob/42183b1b86656a348e0b6af7fa7c75072865f759/src/mono/netcore/System.Private.CoreLib/System.Private.CoreLib.csproj#L130) in Mono's SPC

[2020-04-07 07:34] chrisnas commented on #34535
You have no other option than passing COM interfaces back and forth.
This is not a problem when coding in C# and C; no need to use C++.
Look at https://www.amazon.com/NET-COM-Complete-Interoperability-Guide/dp/067232170X/ that covers all interop scenario including your case.

[2020-04-07 07:41] AriNuer commented on #734
Similar test `System.Security.Cryptography.X509Certificates.Tests.RevocationTests.DynamicRevocationTests.CheckEndEntityWithExpiredRevocation` failed here [runtime-libraries outerloop:20200406.2](https://dev.azure.com/dnceng/public/_build/results?buildId=589983&view=results)
**Error message:**
[code]
**Stack trace:**
[code]
**Details:**
https://dev.azure.com/dnceng/public/_build/results?buildId=589

[2020-04-07 08:11] gbalykov commented on #34610
Thank you, that helped. So, the current working solution is:
[code]

[2020-04-07 08:12] ViktorHofer commented on #34610
You could also just do `./build.sh --clang9 --arch x64 --configuration Release --subsetcategory libraries`.

[2020-04-07 08:13] AriNuer commented on #33143
Test `Loader/classloader/generics/Layout/General/Base01b_seq/Base01b_seq.sh` failed again here [runtime-coreclr gcstress0x3-gcstress0xc:20200405.1](https://dev.azure.com/dnceng/public/_build/results?buildId=589459&view=results)
**Error message:**
[code]
**Stack trace:**
[code]
**Details:**
https://dev.azure.com/dnceng/public/_build/results?buildId=589459&view=ms.vss-test-web.build-test-results-tab

[2020-04-07 08:15] gbalykov commented on #34610
@ViktorHofer I want to build only specific subsets, e.g. I don't need `packages` and `native` in some cases

[2020-04-07 08:17] ViktorHofer commented on #34610
Then you are good to go with this: `./build.sh --clang9 --arch x64 --configuration Release --subsetcategory libraries --subset depprojs-native-ref-src` Restore and build is incremental here.

[2020-04-07 08:19] gbalykov commented on #34610
`depprojs` is not available from the command line and is not listed in the list from `--subset --help`

[2020-04-07 08:20] ViktorHofer commented on #34610
Oh right. We plan to remove them anyway soon. I'll fix this in the meantime.

[2020-04-07 08:46] jonathanantoine commented on #1094
Hello,

I just wanted to share an **ugly workaround** for those who needs to stay on 3.1 and can't wait for the release of this fix. Instead of calling :
[code]

Call this private `OpenInReadMode` method using reflection but **disabling the header validation** :
[code]

[2020-04-07 08:54] Tanya-Solyanik opened #34630 "PrinterSettings.SupportsColor should use DeviceCapabilities(DC_COLORDEVICE) instead of GetDeviceCaps(BITSPIXEL)."
This issue was reported by a premier customer as AzDo bug 1090547 on Windows.
The customer wants to determine if a printer supports color printing and uses PrinterSettings.SupportsColor property. However this property returns invalid values for some printers ("MS Publisher Color Printer" for example). It seems that we are using incorrect API, as [GetDeviceCaps](https://docs.microsoft.com/en-us/win

[2020-04-07 09:01] ViktorHofer opened #34631 "Prepare for Publish Prepare Signed Artifacts failing in official builds"
https://dev.azure.com/dnceng/internal/_build/results?buildId=591047

[2020-04-07 09:07] janvorli commented on #33374
That's the way I would recommend too (and we did it the same way when we were porting .NET Core to Linux 5 years ago)

[2020-04-07 09:56] vitek-karas commented on #34535
You should not need any special hosting interfaces. The initial PInvoke can pass a function pointer to the native library. Managed code can marshal delegates to native function pointers relatively easily. The native code would then call the function pointer to interact with the C# host.

The same can be done with COM, but it doesn't have to be COM, pure function pointers would work as well.

[2020-04-07 09:58] egmkang opened #34634 "could JIT can inline closure Action?"
[code]
in the `test` function, call `Foreach` function will new a small object closure.

can CoreCLR JIT Engine inline this simple closure call?

[2020-04-07 10:07] marcbarry commented on #34609
Thanks guys, just what I was looking for.

[2020-04-07 10:07] #34609 closed

[2020-04-07 11:20] frankracis-work opened #34635 "Event Logging is incomplete in System.Net.Security.SecureChannel.Decrypt"
System.Net.Security.SecureChannel.Decrypt logs an "Enter" trace event, but does not log the corresponding "Exit" trace event.

More importantly, this method does not execute NetEventSource.DumpBuffer on the decrypted content.    Using HttpWebRequest on 4.x, this functionality was present as part of System.Net tracing.   I don't see any way of doing this type of tracing with HttpClient.

The patter

[2020-04-07 11:49] omariom commented on #34634
Theoretically, if JIT inlines  a call to Foreach at a particular callsite, it could find that the delegate points to a closure,  get rid of the closure allocation, inline the call and "inline" the closure's fields as local variables.

[2020-04-07 12:31] CurlyFire commented on #34594
@tarekgh It didn't have any positive effects.

[2020-04-07 12:51] EgorBo commented on #34634
Methods with loop never inline, they simply don't pass this check: https://github.com/dotnet/runtime/blob/a605729eee65344b4c63fb036a35405abcc1de31/src/coreclr/src/jit/inlinepolicy.cpp#L492-L495

[2020-04-07 13:03] Rodrigo-Andrade commented on #34434
looks like no https calls work on httpclient on linux on netcore5 preview.2

[2020-04-07 13:37] #34610 closed

[2020-04-07 13:37] #34631 closed

[2020-04-07 13:41] guesshe commented on #33374
@am11 @janvorli Thanks! I will follow this path.

[2020-04-07 13:59] stephentoub commented on #34434
Can you share a repro?  It should work fine.  The error in this issue suggests there was a temporary problem with the certificate being used by the server with which this test was communicating.

[2020-04-07 14:24] ViktorHofer commented on #34610
They are available now on latest master. Closing as I believe this issue is now fixed.

[2020-04-07 14:24] rolfbjarne opened #34637 "Dynamic libraries in the microsoft.netcore.app.runtime.ios-x64 package has incorrect identity"
Repro:

[code]

This should be something like `@executable_path/libSystem.IO.Compression.Native.dylib`.

CC @akoeplinger

[2020-04-07 14:34] 9034725985 commented on #13257
Hi, can you please take a look at Github Actions and guide us what change we need to make?

https://github.com/actions/setup-dotnet/issues/80

[2020-04-07 14:35] ManickaP opened #34638 "Make sync SslStream.AuthenticateAs overload with SslOptions public"
Make `SslStream.AuthenticateAsClient(SslClientAuthenticationOptions sslClientAuthenticationOptions)` public.
Possibly make `SslStream.AuthenticateAsServer(SslServerAuthenticationOptions sslServerAuthenticationOptions)` public as well to keep the API consistent. This one is not required, only suggested.

## Motivation

To properly support sync implementation of `HttpClient` (see #32125).

Without t

[2020-04-07 14:36] ManickaP commented on #34638
Ping: @dotnet/ncl @stephentoub

[2020-04-07 14:39] gbalykov commented on #34610
Thank you

[2020-04-07 14:40] danmosemsft commented on #20409
@buyaa-n now owns this area. @vivekbm your contribution would be welcome. Or, check out other issues labeled “up for grabs “... there are some that are small.

[2020-04-07 14:40] paulovila commented on #16614
Agree, It's confusing, compared to RealProxy in Dotnet Framework, the functionality is broken already because the expected is that ```DispatchProxy.Create ``` returns **a class** rather than an interface. At this point the DispatchProxy.Create is equivalent to implementing your own interface.

[2020-04-07 14:40] danmosemsft commented on #28831
Welcome @vivekbm

[2020-04-07 14:44] mrj001 commented on #34612
@ViktorHofer
The build of the libraries was in the steps I documented in my initial report.
The result from dotnet restore was also a NullReferenceException, but without the stack trace.  I had not mentioned this, as it was less informative.

[2020-04-07 14:57] jkotas commented on #33872
Can we work with the msbuild and C++ teams to find the solution for this? I expect that number of other projects have the same problem.

[2020-04-07 14:59] jashook commented on #33872
They are aware of the issue we face. /cc @jaredpar

[2020-04-07 15:01] jkotas commented on #33872
What's their recommendation to solve it? Do they plan to do anything about it?

[2020-04-07 15:02] danmosemsft commented on #13257
@9034725985  can you please open a new issue.

[2020-04-07 15:05] TamarChristinaArm commented on #34485
Hmm is this because you can pass this type on to a Vector function by accident? There's no instruction that would use the register as a scalar input that would read the top bits.

C compilers usually don't care about this since you can't really do this easily, e.g.

[code]
produces
[code]

So we don't really care about the top bits going into a scalar operation or a by-element as far as I can tell

[2020-04-07 15:50] davidfowl commented on #34638
The effects of making a synchronous HttpClient.Send 😢

[2020-04-07 15:54] tannergooding commented on #34485
`CreateScalar` takes a `T` (like `byte`, `short`, `int`, or `float`) and creates a `Vector128<T>`. It will set element 0 to the given value and sets elements 1 through element `Vector128<T>.Count` to be `default(T)` (which is zero).
`CreateScalarUnsafe` is similar, but rather than explicitly zeroing the upper elements, it leaves them as whatever value was already there.

The former is the default

[2020-04-07 15:55] iSazonov opened #34639 "Can not use Microsoft.Windows.Compatibility 5.0.0-preview.2.20160.6"
Microsoft.Windows.Compatibility 5.0.0-preview.2.20160.6 depends on
[code]
but these packages do not published on Nuget.org and `dotnet restore` fail.

[2020-04-07 16:08] BruceForstall commented on #34627
@sandreenko this is your manual run; they're not supposed to open issues for these.

[2020-04-07 16:11] BruceForstall commented on #34628
@dotnet/crossgen-contrib

[2020-04-07 16:14] ViktorHofer commented on #34639
I believe that was fixed by @mmitche ?

[2020-04-07 16:19] AaronRobinsonMSFT commented on #7107
@vincentparrett There is no real path forward for consuming the underscore COM interfaces provided by .NET Framework (e.g. `_Assembly`) - they have largely been removed. COM interop is still supported, but the key here is the runtime isn't going to be providing well-known interfaces transparently for the user (e.g. `_Assembly`). However, defining new `IUnknown` based interfaces and passing those t

[2020-04-07 16:20] iSazonov commented on #34639
I downloaded 5.0 Preview2 and tried to move PowerShell Core to the version some minutes ago with the error.

[2020-04-07 16:21] ViktorHofer commented on #34639
I believe the fix was made in 5.0-preview3.

[2020-04-07 16:23] mmitche commented on #34639
Yes, fixed i p3 (not released)

[2020-04-07 16:29] michkot opened #34641 "JIT emitting unnecessary code for non-emitted method call"
Both x86 and x64 JIT emits unnecessary stack manipulation code (if I read it correctly) for the following (+- minimal example) code snippets of generic code with some asm-compile-time deduction. It seems that it emits the stack manipulation code required for method-call that is asm-compile-time unreachable.
Tested in Sharplab, Core CLR v4.700.19.57202.
[sharplab.io link with more faulty variatons]

[2020-04-07 16:44] VictorioBerra commented on #30255
@rodion-m Someone should toss that in a NuGet package for super easy consumption.

[2020-04-07 16:45] iSazonov commented on #34639
Ok, thanks. It is not critical so close the issue.

[2020-04-07 16:45] #34639 closed

[2020-04-07 16:52] tarekgh commented on #34594
@CurlyFire is it possible you can format the date with different patterns that make the parser succeed in the ModelBinder? I mean use something like `hh:mm:ss tt` for the long time pattern.

[2020-04-07 16:53] VictorioBerra commented on #30255
Also, can we make sure the converter supports nullable numbers as well as decimals, longs, integers?

[2020-04-07 16:54] JohnGalt1717 commented on #30255
This should just be fixed in .NET 5 so that it just works properly like Newtonsoft.json and handles nullables properly too.

And allows us to set default serialization and deserialization options so that it doesn't have to be passed with every use.

[2020-04-07 16:58] safern commented on #34630
Thanks @Tanya-Solyanik, self-assigned.

[2020-04-07 17:02] VictorioBerra commented on #30255
Oh, and bools! That worked before as well.

[2020-04-07 17:24] scalablecory opened #34642 "Eliminate spurious MemoryStream allocation in ByteArrayContent"
`ByteArrayContent`'s ctor calls `HttpContent.SetBuffer`:

https://github.com/dotnet/runtime/blob/39cde70bf08ee8035f5fc3c291903b225c7edccd/src/libraries/System.Net.Http/src/System/Net/Http/ByteArrayContent.cs#L29

Which then allocates a `MemoryStream`:

https://github.com/dotnet/runtime/blob/39cde70bf08ee8035f5fc3c291903b225c7edccd/src/libraries/System.Net.Http/src/System/Net/Http/HttpContent.cs#L1

[2020-04-07 17:35] tarekgh commented on #34594
It depends on the ICU version used in the system. I am pretty sure the version used in Centos 7 is different than the one used in Ubuntu 18.04

[2020-04-07 17:38] NinoFloris commented on #33433
Ah! Yes agreed, this is for instance critical to `Option/ValueOption` in F#. These conceptually map their `None` value to null yet they are usually called too late to stop the property name from getting written. I tested this by turning on `IgnoreNullValues`, and making my Option converter not write anything for the `None` case, this even causes invalid json to be written (netcore 3.1).

[2020-04-07 17:41] sakno commented on #34634
Related to #6498

[2020-04-07 17:42] terrajobst commented on #33206
* We're fine with taking the `handle` parameter but we have concerns with the `fileStream` parameter because it seems plumbing, not part of a sensible API.
  * Option 1: Move the implementation from the higher level assembly to the assembly containing `MemoryMappedFile` (while the ref assembly setup)
  * Option 2.1 "Smuggle" the file stream via the `SafeMemoryMappedFileHandle` via a field
  * Opti

[2020-04-07 17:54] EgorBo commented on #34641
I guess it's https://github.com/dotnet/runtime/issues/32094#issuecomment-585900405

[2020-04-07 17:57] AndyAyersMS commented on #34634
Are you sure? Simple loops can have 5 or fewer BBs.

Following up on what @sakno said, there are some notes on what it would take to inline a delegate invoke starting at [this comment](https://github.com/dotnet/runtime/issues/4584#issuecomment-385135810), and a number of issues to sort through before we're anywhere close to being able to do this.

[2020-04-07 18:01] AndyAyersMS commented on #34641
Right, the "wrong in both case" seems to be the jit saving the generic context to report it to the VM.

The earlier cases are something different, likely we think we need a frame at one point early on and then optimize something, and don't realize we no longer need a frame.

[2020-04-07 18:01] terrajobst commented on #33618
# Notes

* We should not make the reader `IAsyncDisposable`
* We should not have a `CloseAsync`
* We don't want a cancelable `DisposeAsync`, for scenarios that need that we add an overload to `FlushAsync` that accepts a cancellation token. We generally want to dispose resources even when you're cancelled.

[code]

[2020-04-07 18:01] NinoFloris opened #34644 "System.Text.Json unsafe and ref struct serialization exceptions"
Understandably Span and friends or pointers will not be supported but it shouldn't cause exceptions like this, it would be useful to at least have the offending property path.

This may have already been fixed, I couldn't find any related issues.

SDK: 3.1.102

Serializing Memory<byte> (has a Span property)
[code]

Serializing:

[code]
[code]

[2020-04-07 18:39] jaredpar opened #34647 "CI / PR having issues provisioning resources"
Builds are failing with the following error message:

[code]

|Build|Kind|Timeline Record|
|---|---|---|
|[591699](https://dev.azure.com/dnceng/public/_build/results?buildId=591699)|PR https://github.com/dotnet/runtime/pull/32107|Libraries Test Run release mono OSX x64 Debug|
|[591368](https://dev.azure.com/dnceng/public/_build/results?buildId=591368)|Rolling|Installer Build and Test iOS_x64 Relea

[2020-04-07 18:43] sandreenko commented on #34627
That is a failure from my unmerged changes.

[2020-04-07 18:43] #34627 closed

[2020-04-07 18:43] terrajobst commented on #34439
* In this proposal the converter is only called when a `null` value is included in the payload. If the property is missing in the payload, the the convert still won't be called. Does this satisfy the customer request? While this should probably be an independent feature it seems we'll want to make sure the design for both will work well together.
* Should this be on the non-generic base `JsonConve

[2020-04-07 18:49] Maoni0 opened #34648 "API Proposal: GetGCInfo"
API to monitor per GC Info. This is meant to be used in situations where folks used to use the .NET Memory counters and provides much richer info than the counters used to provide.

## Rationale

We'd like to provide the flexibility for folks who monitor the GC heap on a more detailed level. Previously we had the [GetGCMemoryInfo](https://github.com/dotnet/runtime/blob/master/src/coreclr/src/Syste

[2020-04-07 18:52] Maoni0 commented on #1289
after talking to more customers, I've filed an API proposal [#34648](https://github.com/dotnet/runtime/issues/34648) that supersedes this.

[2020-04-07 18:57] #26780 closed

[2020-04-07 18:58] safern commented on #34646
Thanks @SamuelvVelzen -- could you try running:
[code]
let me know if that fixes your problem or not.

[2020-04-07 19:08] scalablecory commented on #34648
Microseconds? Milliseconds? Can this be a `TimeSpan`?

[2020-04-07 19:13] sdmaclea opened #34649 "Build failing on tip : "./build.sh --subsetCategory CoreCLR -c Release -arch x64""
[code]

[2020-04-07 19:15] terrajobst commented on #34558
* Let's rename `JsonMemberAttribute` to `JsonIncludeAttribute`
* We should change `JsonIgnoreAttribute` to include fields
* We don't see a need for `JsonObjectAttribute` it should be a per property/field decisions
* We can decide to support private/internal fields/properties by applying `JsonInclude`
* We should treat read-only fields like get-only properties

[code]

[2020-04-07 19:16] terrajobst commented on #34558
* Let's rename `JsonMemberAttribute` to `JsonIncludeAttribute`
* We should change `JsonIgnoreAttribute` to include fields
* We don't see a need for `JsonObjectAttribute` it should be a per property/field decisions
* We can decide to support private/internal fields/properties by applying `JsonInclude`
* We should treat read-only fields like get-only properties

[code]

[2020-04-07 19:16] #13382 closed

[2020-04-07 19:16] #13383 closed

[2020-04-07 19:19] VSadov commented on #13739
addressed in https://github.com/dotnet/runtime/pull/34215

[2020-04-07 19:19] #13739 closed

[2020-04-07 19:20] Romanx commented on #31645
@layomia I can't seem to get the project to build.

I've forked and cloned the repo, built everything following [this]().  when I opened vs using `build -vs System.Text.Json` but i'm getting errors in the ref project about `Project System.Memory is not compatible with netcoreapp5.0`.

If i unload that project then I get get everything to build but i can't seem to get the tests to run and looking i

[2020-04-07 19:20] VSadov commented on #33583
Fixed in https://github.com/mono/mono/pull/19407

Thanks!!!

[2020-04-07 19:20] #33583 closed

[2020-04-07 19:22] Maoni0 commented on #34648
MSec is millisecond. microsecond is us.

I don't see much of a time to make it a TimeSpan since in general this duration shouldn't be more than hundreds of ms. ms is what we've always returned in tooling. it seems simple and sufficient.

[2020-04-07 19:22] wfurt commented on #34317
This may be misconfigured machine. Also SLES12 uses systemd and that resolver can synthesize response. I think we should collect more system info on failure. If we have helper diag functions, that may be helpful for other DNS test failures.

[2020-04-07 19:24] janvorli commented on #34649
I have seen this problem in the past and in my case, doing a clean build (git clean -xdf executed in the root of the repo and then rebuild of everything) fixed the problem. Maybe I had to delete the .nuget folder too.

[2020-04-07 19:26] sdmaclea commented on #34649
I did try `./build.sh --clean` which didn't work.

Perhaps `--clean` also needs to be fixed.

[2020-04-07 19:28] hoyosjs commented on #34649
Clean hasn't worked in a while or been supported I believe, at least in coreclr. I am not sure why it wasn't removed.

[2020-04-07 19:28] guesshe commented on #33374
@am11 continuing my debugging journey and getting the test suite running in QNX. I suspect my issue has something to do with how this function is called GetCLRRuntimeHost but I don't know how this related to cruntime implementation.

[2020-04-07 19:35] scalablecory commented on #34648
I propose it for consistency and to disambiguate the unit of measure, not due to `float`'s range/precision.

I'm not aware of any `float`-based time in BCL, only `int` for milliseconds or otherwise `TimeSpan` (ignoring specialized things like `Stopwatch`). If there are other GC APIs in the BCL that I'm not aware of (likely) that use a `float` that we want to be consistent with, or there's a great

[2020-04-07 19:57] Maoni0 commented on #34648
I was more thinking from the other angle, as in I didn't see TimeSpan as a necessary thing to have here since most of what exists on TimeSpan will be unused for this purpose. people will most likely use this as ms and that's it. they will unlikely use it as hours or minutes.

I'm gonna relying on the API folks to make the right decision here as I don't have strong opinions on this.

also including

[2020-04-07 20:01] ViktorHofer commented on #34649
FWIW clean is working fine but it just cleans the artifacts folder.

[2020-04-07 20:02] ViktorHofer commented on #34649
I'm talking about `.\build.cmd/sh -clean`: https://github.com/dotnet/runtime/blob/master/eng/common/build.ps1#L123-L129

[2020-04-07 20:08] hoyosjs commented on #34649
The old coreclr clean used to do a bit more, like cleaning the package cache as it used to be directory based. we decided to defer the logic to nuget/dotnet nuget

[2020-04-07 20:11] sdmaclea commented on #34649
It seems strange that we are using caches outside of the build directory i.e.`~/.nuget`.  It seems to make the build less robust.  Perhaps CI doesn't do this?

[2020-04-07 20:12] ViktorHofer commented on #34649
Clearing the nuget cache should be done via either `dotnet nuget` or `nuget`. There's no need to replicate that logic in dotnet/runtime: `dotnet nuget locals -c global-packages`. Do you have specific suggestion how to improve the current -clean target?

Right, CI doesn't use the user wide cache but instead puts all packages under `runtime/.packages`.

[2020-04-07 20:12] hoyosjs commented on #34649
Indeed, ci generates a local `.packages` folder.

[2020-04-07 20:20] SamMonoRT commented on #34374
Same as https://github.com/dotnet/runtime/issues/34372 .This can be closed as a duplicate.

[2020-04-07 20:23] ViktorHofer commented on #34546
Santiago volunteered to take a look 👍

[2020-04-07 20:27] mrj001 commented on #34612
@ViktorHofer
I've tried building this again.  Today, I used this to build the libraries:

[code]
instead of:

[code]
which I used yesterday.

After the build, running either 'dotnet restore' or 'nuget restore' in the System.Private.Xml folder succeeds.

However, when I open the project in Visual Studio and attempt to build it there, I get the following output:

... numerous similar lines removed f

[2020-04-07 20:30] sdmaclea commented on #34649
Why?

I see several things we are doing wrong:
+ The build is not reproducible.
+ The build depending on global machine state.
+ The dependency is undocumented.
+ The `--clean` operation doesn't clean everything and there is no `--deep-clean` option
+ The dev build is different from the `CI` build,  The dev experience is effectively untested by CI.

[2020-04-07 20:34] ViktorHofer commented on #34612
@Anipik can you please take a look?

[2020-04-07 20:37] safern opened #34653 "Cleanup TargetFrameworks from project that Reference System.Private.CoreLib"
There are some projects which don't have a OS specific implementation but they have a ReferenceFromRuntime into System.Private.CoreLib.

The way `ReferenceFromRuntime` works, is that it translates that reference to a reference to `runtime.depproj` which in the old days used to restore the coreclr runtime specific transport packages. Nowadays, we just get the coreclr assets from the live location o

[2020-04-07 20:38] NinoFloris commented on #33433
@layomia to eloborate on my last point, shouldn't there be a check after invoking a converter to see whether the writer advanced a position?

[2020-04-07 20:39] ViktorHofer commented on #34653
But don't we still multi-target `runtime.depproj` which means it resolves the runtime's assets based on the TargetFrameworkSuffix?

[2020-04-07 20:46] safern commented on #34653
Yeah, we still do, but I think that should be cleaned up. We should resolve corelib from the local location using `TargetOS` of the build, I don't think we need to cross target runtime.depproj for `NetCoreAppCurrent`, only for `netcoreapp3.0`.

[2020-04-07 20:49] ViktorHofer commented on #34653
I see, that makes sense. Do we care about netcoreapp3.0 in runtime.depproj, or let me rephrase, do we need to build the testhost for 3.0?

[2020-04-07 21:05] Rodrigo-Andrade commented on #34434
it was talking to the aws s3 endpoint, ill check it soon.

[2020-04-07 21:08] ViktorHofer opened #34657 "Visual Studio Test Explorer is broken because the OutputPath isn't updated correctly in the Design Time Build"
Repro: `.\build.cmd -vs System.Text.RegularExpressions`

Run a test in the Test Explorer and see the errors in the Test Explorer Output Window:
[code]

Additional logs indicate that the OutputPath is read incorrectly:

[code]

This likely broke with https://github.com/dotnet/runtime/commit/9a14b86ae54ef726819a7be34dac114583d83189.

Removing the `DesignTimeBuild` condition in https://github.com/dot

[2020-04-07 21:09] ViktorHofer commented on #34657
@Anipik I shared the offline conversation with the Test Explorer team with you. As I'll be out the next days please prioritize this issue. Thanks 👍

[2020-04-07 21:15] jkotas commented on #34648
Is there any advantage in Proposal 1?

Proposal 2 looks like more natural API. The general API guideline is to avoid out arguments except for well-established patterns (e.g. TryParse) or exceptional circumstances.

The Proposal 2 is more naturally extensible.

How much of this is specific to the current CoreCLR GC implementation? Is Mono going to be able to provide meaningful implementation of thi

[2020-04-07 21:17] davidwrighton commented on #34628
#34605 fixes this test on my machine, but the failure on my machine wasn't quite the same as I see in the logs from here. I'm going to checkin that fix, and hopefully it fixes the issue entirely. If not, this will be a more tricky fix to reproduce.

[2020-04-07 21:20] jkotas commented on #34634
Duplicate of #6498 and #4584

[2020-04-07 21:20] #34634 closed

[2020-04-07 21:45] safern commented on #34653
It seems like we still use it: https://github.com/dotnet/runtime/blob/master/src/libraries/restore/runtime/runtime.depproj#L39

It seems like we use that to get the netcoreapp3.0 ref assemblies and build against that. Once we remove depprojs and use the SDK to get the ref assemblies we should be able to not build it for 3.0

[2020-04-07 21:49] ViktorHofer commented on #34403
Updated the proposal as I wasn't able to make specifying multiple subsets space separated work on both powershell and bash. Instead you want to combine them with the `+` sign, i.e. `clr.corelib+libs`.

[2020-04-07 21:49] #34628 closed

[2020-04-07 21:56] ViktorHofer commented on #34653
OK that should be easy to do as I already have started with that work in a branch. I'll open a WIP PR later, maybe people want to contribute to it :)

[2020-04-07 22:04] MattGal commented on #34647
Just got off the IcM bridge with the hosted mac pool folks, and the problem seems to be different than the last time.  As noted in https://github.com/dotnet/core-eng/issues/9448, there was a new feature turned on that had a bug and was subsequently turned off; this was not the case here, rather it seems the builds are filling up the disks.

Some more points:

- The MMS team does not have informati

[2020-04-07 22:08] bramborman opened #34660 "Possible bug in regex' character class subtraction"
First of all, I'm not a regex expert so I'm not exactly sure that this really is a bug and not just me but anyway...

When using character class subtraction in combination with the `.` (dot - any character) wildcard, it doesn't really work. I have this string of architectures. There may be one or more of them. If there are more, they are separated by a semicolon. Since I want only the first one, I

[2020-04-07 22:18] vincentparrett commented on #7107
@AaronRobinsonMSFT thanks, I'll take a look at that example. I guess I can just create a loader assembly that exposes the function to create and return my plugin objects.

[2020-04-07 22:37] safern commented on #34653
Sounds good, thanks 😄

[2020-04-07 22:47] kouvel commented on #34582
The portable thread pool implementation currently doesn't support `BindHandle`. I guess that Mono would inherit the PNSE implementation here:
https://github.com/dotnet/runtime/blob/893882f27ec509182e32d7bfd31a06f9440a66bf/src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems#L1807-L1810

I guess IO completion stuff may need to be added to the portable implementation on W

[2020-04-07 23:21] Maoni0 commented on #34648
@jkotas I have no preference between the 2 proposals. the only reasons why I had the first one were

* we already had a GCMemoryInfo so one could imagine you have different categories of info which was why I broke it into different categories;
* I wasn't sure whether it's frown upon to have a type that has so many fields

I dunno how to extend proposal #2 aside from having an overload that just re

[2020-04-07 23:22] Maoni0 commented on #34648
if some of this info does not apply to mono I imagine they can just return 0. I would guess most of it does apply.

[2020-04-07 23:26] #31876 closed

[2020-04-07 23:33] jkotas commented on #34648
You can just keep adding more properties to the `class GCInfo`

[2020-04-07 23:39] AaronRobinsonMSFT commented on #7107
@vincentparrett Yep. That is what we would recommend. Please let us know if you hit issues or have feedback. We are in the midst of trying to plan for future improvements in this area and actual user feedback is very much welcome.

[2020-04-07 23:55] Maoni0 commented on #34648
wouldn't that be a breaking change?

[2020-04-08 00:01] jkotas commented on #34648
Adding new properties to an existing type is not a breaking change.

[2020-04-08 00:04] Maoni0 commented on #34648
ah great; proposal #2 it is then.

what's the next step? do I need to attend an API review meeting? if so when?

[2020-04-08 00:19] sdmaclea commented on #34649
I retried the build like this and it still failed.
[code]
With the same error.

[2020-04-08 00:22] eerhardt commented on #34660
As far as I can tell what is happening in your first example: `[.-[;]]`, this is saying: "All the characters in the set of `.` (which in this case is treated as actually the `.` character - literally `0x2E`), subtract out `;` (which obviously isn't in the set)".

In your second example `[\S\s-[;]]`, now you are saying: "All the characters in the set of any non-whitespace or any whitespace, subtrac

[2020-04-08 00:27] stephentoub commented on #34660
From https://docs.microsoft.com/en-us/dotnet/standard/base-types/character-classes-in-regular-expressions#any-character-
"In a positive or negative character group, a period is treated as a literal period character, and not as a character class."

[2020-04-08 00:47] danmosemsft commented on #34660
Note that we seem to parse this different to Javascript/PCRE. They do not build a stack of square brackets, so `[\S\s-[;]]+` is treated as "one character in the class ` [\S\s-[;]` followed by a literal `]`" whereas we treat it as stated above.

I wonder whether we ought to fix that.

[2020-04-08 00:49] stephentoub commented on #34660
That's because they don't support character class subtraction.

[2020-04-08 00:52] BrianBohe commented on #33189
Hi @echesakovMSFT @BruceForstall

Is anyone following this?

[2020-04-08 00:57] danmosemsft commented on #34660
Ah thank you!

[2020-04-08 00:59] BruceForstall commented on #33189
@BrianBohe Nobody is working on this right now.

[2020-04-08 01:09] danmosemsft commented on #34660
This seems resolved, then.

[2020-04-08 01:09] #34403 closed

[2020-04-08 01:09] tom-corwin commented on #9316
Have there been any updates on this issue? I seem to have ran into this issue as well while looking into writing a binding for [raylib](https://github.com/raysan5/raylib).

[2020-04-08 01:19] #34461 closed

[2020-04-08 01:30] guesshe commented on #33374
@am11 @janvorli So I managed to build and run the pal_test suite on my QNX VM. I got this result but I doubt it is valid as I saw some process crash during the text execution. Does that produce a PASS status? I had to modify the bash script to be able to execute in ksh environment but that was not a big change. Next I will focus on fixing up the crashes I saw during the test execution. Most of the

[2020-04-08 01:36] iUnknwn opened #34669 "System.Drawing.Bitmap.FromStream fails when called with ZipWrappingStream"
I'm currently extracting images from a Word document. However, Bitmap's `FromStream` function is failing with a "Parameter Not Valid" exception when called with the stream from OpenXML's ImagePart (ZipWrappedStream).

[code]

This is using .NET Core 3.1, using the System.Drawing.Common (v 4.7.0) package from NuGet.

[2020-04-08 01:45] guesshe commented on #33374
@am11 @jkotas Do I need this managed library? System.Private.CoreLib.dll for coreclr to work?

[2020-04-08 01:57] #34336 closed

[2020-04-08 01:59] danmosemsft commented on #34403
Your spec at the top says that libs includes all its children. But you also have an example of specifying `libs+libs.tests`

[2020-04-08 02:36] AriNuer commented on #34509
Test `Loader/binding/tracing/BinderTracingTest.Basic/BinderTracingTest.Basic.sh` failed here again:
[runtime-coreclr crossgen2:20200406.1](https://dev.azure.com/dnceng/public/_build/results?buildId=591189&view=results)

**Error message:**
[code]
**Stack trace:**
[code]
**Details:**
https://dev.azure.com/dnceng/public/_build/results?buildId=591189&view=ms.vss-test-web.build-test-results-tab&runId=1

[2020-04-08 04:09] danmosemsft commented on #33680
@jkotas there are 244 hits for .NET Core in docs/**md. I take your point about ambiguity with .NET Framework. But if a year or two from now someone comes fresh to this repo, and is not interested in history, should they have to know about .NET Core?

I don't think we do - but I am also not sure how to reword text like "all .NET Core assemblies are strong-named". "all .NET Core and .NET 5+ assembli

[2020-04-08 04:10] ericstj commented on #34653
So doing this without a guaranteed contract for CoreLib feels like a lie. We are building something that we expect to work for all runtimes but building it against a single runtime.  We also disallow the use of Target* properties in libraries projects since those can change without output paths changing resulting in incremental build problems.

Even though it’s a lie, it might be an acceptable one

[2020-04-08 04:12] AaronRobinsonMSFT commented on #33501
Fixed with #34663.

[2020-04-08 04:12] #33501 closed

[2020-04-08 04:13] safern commented on #34653
That is already the behavior. If you build on Windows, you're getting  the Windows corelib because we're consuming the live built from the coreclr artifacts path, same behavior for Unix. Am I missing something?

[2020-04-08 04:16] danmosemsft commented on #33680
I don't mind making the md exits BTW, if it's clear how to do them.

[2020-04-08 04:17] ericstj commented on #34626
This is one we only plan to do for 5.0, correct? (not in the blazor release)

[2020-04-08 04:19] AaronRobinsonMSFT commented on #31851
@alistairjevans Are you still hitting this issue? I apologize for no one responding for so long. The build scripts have recently been rewritten so perhaps this was a transient issue. Can you please try again from tip?

[2020-04-08 04:20] ericstj commented on #34157
@Jozkee @terrajobst can you please have a look here and consider @rynowak's analysis?  This is precisely the type of feedback we're looking to consider with our preview of this package.

[2020-04-08 04:21] safern commented on #34403
`libs.tests` is not included. I think that is the only subset not included by default on libraries, we should update that.

[2020-04-08 04:22] safern commented on #34669
@iUnknwn thanks for your reprot, which OS are you running on?

[2020-04-08 04:22] AaronRobinsonMSFT commented on #13846
@Kevin920920 We are going to close this due to non-activity. If you are still having issues please respond here and we can reopen. Thank you.

[2020-04-08 04:22] #13846 closed

[2020-04-08 04:23] ericstj commented on #34440
@adamsitnik might be able to provide some advice for better creating reliable benchmarks in blazor.  When I hear things like "second one is always faster" it sounds to me like there isn't control for JIT / warmup in the benchmark.

[2020-04-08 04:27] safern commented on #34653
Also we’re lying even more because in the all configurations leg we’re cross compiling against the Windows version of corelib.

[2020-04-08 04:28] ericstj commented on #34653
That's actually a bug that was introduced with repo consolidation.  It makes it impossible to build AllConfigurations when we have libraries that actually need to differ based on the surface area of CoreLib.  This is what recently broke AllConfiguration on unix.

[2020-04-08 04:30] jkotas commented on #33680
I agree that the need to learn about .NET Core should and will be fading away over time, but .NET Core is always going to be part of the history and it won't be ever possible to erase it completely. For example, I expect that it is always going to be in the repo glossary.

I would reword this one as "all .NET Runtime assemblies are strong named".

I think this one would be fine to change to ".NET

[2020-04-08 04:33] danmosemsft commented on #34403
Yeah, probably in `-subset help` this should make it clearer:
[code]
Would this help? https://github.com/danmosemsft/runtime/pull/new/subsethelp

[2020-04-08 04:45] danmosemsft commented on #33680
Can you clarify what you mean by ".NET Runtime" in your examples? I assume you don't mean it to include .NET Framework. Does it mean ".NET Core and .NET 5+" ? (I do not know where we support ECMA372)

[2020-04-08 04:57] AaronRobinsonMSFT commented on #33614
Closing as duplicate. This is an identical issue to https://github.com/dotnet/runtime/issues/33950.

[2020-04-08 04:57] #33614 closed

[2020-04-08 04:59] jkotas commented on #33680
I think ".NET runtime" is a good name to use for a general reference to .NET Framework or .NET Core. We have used this name in .NET Framework days too.

.NET Framework 2.0+, .NET Core 3.0+, .NET 5+

[2020-04-08 05:01] AaronRobinsonMSFT commented on #13040
Closing based on last comment.

[2020-04-08 05:01] #13040 closed

[2020-04-08 05:04] iUnknwn commented on #34669
@safern Windows 10.

[2020-04-08 05:17] jeremyVignelles commented on #9316
Hello.
We didn't manage to propose a correct API shape, so at VideoLAN, we came up with a manual solution of using the libraries available on the platform :

https://github.com/videolan/libvlcsharp/blob/ff246a39fb9e35541357ffcd90062a8c0cc431f6/src/LibVLCSharp/Shared/LibVLC.cs#L729

https://github.com/videolan/libvlcsharp/blob/ff246a39fb9e35541357ffcd90062a8c0cc431f6/src/LibVLCSharp/Shared/Helpers/

[2020-04-08 05:21] AaronRobinsonMSFT commented on #10436
@voinokin Thanks for the suggestion. We have decided the error message mentions the blittable requirement here and searching for that term results in the description found [here](https://docs.microsoft.com/dotnet/framework/interop/default-marshaling-behavior#default-marshaling-for-value-types). Please let us know if there is any additional concern.

[2020-04-08 05:21] #10436 closed

[2020-04-08 05:33] AaronRobinsonMSFT commented on #4431
Closing as the suggestion is how we current implement marshalers. Additionally, the [source generators](https://github.com/dotnet/runtime/blob/master/docs/design/features/source-generator-pinvokes.md) proposal would allow further user defined optimizations.

[2020-04-08 05:33] #4431 closed

[2020-04-08 05:34] AaronRobinsonMSFT commented on #34309
/cc @jkoritzinsky @scottj1s

[2020-04-08 05:44] AaronRobinsonMSFT commented on #27831
@vcsjones Where did we land on this? Did I miss the PR?

[2020-04-08 05:51] Jozkee commented on #34440
@ericstj I recently discussed this issue with @sebastienros, and yes, its probably the JIT optimizing out stuff due lack of warmup on the benchmark provided by @scottsauber.

Sebastien walk me through the process of creating benchmarks for this using the https://github.com/aspnet/Benchmarks/tree/master/src/BenchmarksDriver2 suite and there is indeed a regression caused by the lack of a persistent

[2020-04-08 07:05] davmason commented on #33367
Hi @ASuurkuusk, thanks for reporting this. I have a fix open for it in #34677

[2020-04-08 07:16] egmkang opened #34678 "dotnet core 3.1 __pv_queued_spin_lock_slowpath"
![1](https://user-images.githubusercontent.com/65175/78754896-d9945680-79aa-11ea-873e-7eb58d2e21a2.png)
![2](https://user-images.githubusercontent.com/65175/78754912-e0bb6480-79aa-11ea-980c-cd1d9e78b9b4.png)
![3](https://user-images.githubusercontent.com/65175/78850460-dac89080-7a49-11ea-8bc4-d460588c254b.png)
![4](https://user-images.githubusercontent.com/65175/78878761-7fb48f00-7a85-11ea-9575-d5

[2020-04-08 07:18] egmkang commented on #34678
this is my flamegraph
[flamegraph.zip](https://github.com/dotnet/runtime/files/4448846/flamegraph.zip)

[2020-04-08 07:24] MaximLipnin opened #34679 "[mono] Test failed on windows: System.DirectoryServices.Protocols.Tests.SortRequestControlTests"
`System.DirectoryServices.Protocols.Tests.SortRequestControlTests` fails on windows with `exit code -1073740940`. It happens somewhere in `SortRequestControl.GetValue` method.

The test will be marked with `ActiveIssue` in https://github.com/dotnet/runtime/pull/32592.

[2020-04-08 08:09] donJoseLuis commented on #34015
Hello @jaredpar , let us know if the situation is ameliorated.

[2020-04-08 08:20] alistairjevans commented on #31851
Hey @AaronRobinsonMSFT, no worries on the delay; I didn't chase because I knew you were working on getting the builds more stable.

Everything works now from tip, so I'll close.

Thanks

[2020-04-08 08:20] #31851 closed

[2020-04-08 08:47] Wraith2 commented on #34606
What is the benefit of doing this? It quietly removes a concurrency correctness safeguard for casual users and replaces it with them needing to make complex decisions about concurrency and immutability that most people aren't equipped to deal with.

[2020-04-08 09:11] janvorli commented on #33374
You don't need it for PAL tests, but you need it for the next steps. This is the core managed library containing all the basic functionality and glue between the managed and native parts of the runtime.

As for some PAL tests failing and the results still showing that no tests have failed, this is strange and seems like we may have a bug not recognizing crashes as failures.

[2020-04-08 09:24] #33667 closed

[2020-04-08 09:35] msedi opened #34681 "Optimizing generic math"
Hello,

I have created a simple example in trying to get rid of my IL code to apply generic math routines.
For example I want to simply add two values but with generic behavior.

`public static T AddGeneric<T>(T a, T b);`

Additionally I have added the simple method

`public static float AddScalar(float a, float b) => a+b;`

Interestingly I do not get the same jitted code for

AddGeneric<float>(10

[2020-04-08 09:47] Rodrigo-Andrade commented on #34434
[code]

Explodes with

`System.Net.Http.HttpRequestException: The SSL connection could not be established, see inner exception.
 ---> System.Security.Authentication.AuthenticationException: The remote certificate is invalid according to the validation procedure.
   at System.Net.Security.SslStream.SendAuthResetSignal(ProtocolToken message, ExceptionDispatchInfo exception)
   at System.Net.Security

[2020-04-08 09:49] EgorBo commented on #34681
@msedi sharplab is quite confusing here, when you select "master" it actually uses .NET Framework.
Here is you code for .NET Core: https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIAYACY8gOgCUBXAOwwEt8YLAMIR8AB14AbGFADKMgG68wMXAG4a9BrIAW2KGIAy2YO258BG6poDMTUgyEMA3jQbuGbj94DaAKV4MAHEYLhllAAoMAE8xGAgAMwiEyQhsDABKDIBdL293HwBZGAwdCAATAElxSQji0orqsUkAeTE+CC5cFgBBAHM+2FxcXgUYSq5JXi5

[2020-04-08 09:49] Rodrigo-Andrade commented on #34434
this is on AWS running docker on 64bit Amazon Linux 2018.03 v2.14.2, on windows (also on aws) works fine.

[2020-04-08 09:55] benmccallum commented on #728
Adding another use case for this feature. The GraphQL spec recommends [here](http://spec.graphql.org/June2018/#sec-Response-Format) that the `errors` prop is rendered at the top, and indeed it's bitten me when debugging things to have it after `data` and not notice the errors as graphql is kind of unique in that it'll return data it resolved successfully and add errors for parts of the tree it cou

[2020-04-08 09:58] marek-safar commented on #34582
This is correct.

Could the tests be guarded with IsBindHandleSupported instead of Windows only or is the BindHandle support something your team can fix?

I know @jkotas would like to use portable TP for CoreCLR too and this could be a blocker.

[2020-04-08 10:11] msedi commented on #34681
@EgorBo: Thx for the correction. Now it looks much better. The question is if the benchmark result only show a hickup or do you think there is a real problem?
[code]

[2020-04-08 10:17] akoeplinger opened #34682 "tvOS: Add PNSE for System.Net.Security methods relying on GSS.framework"
There's no GSS.framework on tvOS (see https://developer.apple.com/documentation/gss) so System.Net.Security.Native.dylib functions won't work, we need to throw PNSE from the managed methods.

[2020-04-08 10:20] svick commented on #34648
I'm a bit confused by the fact that the proposed `GetGCInfo()` is a method that can be called at any time, but the descriptions of fields talks about "this GC". Is the method actually providing information about the *last* GC that completed?

This also raises the question: how is this API meant to be used to monitor the state of GC? Do I call it based on some fixed timer, with the understanding th

[2020-04-08 10:42] EgorBo commented on #34681
@msedi can you add `[DisassemblyDiagnoser]` to your benchmark and compare asm for both benchmarks?

[2020-04-08 10:46] marek-safar commented on #34360
@danmosemsft issues like this one are not Mono specific. They have wrong conditional facts, it should be `IsCOMSupported` or something similar instead of `nameof(PlatformDetection.IsNotWindowsNanoServer)`

Can your team help with cleaning up the wrong facts?

[2020-04-08 10:58] #34503 closed

[2020-04-08 11:00] msedi commented on #34681
@EgorBo: The generated code seems to be identical. Here's the code.
Again with some benchmarks

[code]

## .NET Core 3.1.3 (CoreCLR 4.700.20.11803, CoreFX 4.700.20.12001), X64 RyuJIT
[code]

## .NET Core 3.1.3 (CoreCLR 4.700.20.11803, CoreFX 4.700.20.12001), X64 RyuJIT
[code]

[2020-04-08 11:27] stephentoub commented on #34606
It's not about concurrency; Dictionary is not thread-safe for concurrent reads and writes, and the existing version checks don't help with that.  The checks are there purely for enumeration and to prevent cases where the mutation being performed as part of an enumeration (sequentially) will cause the enumeration to silently repeat data, see corrupted data, etc., and the version check in an overwri

[2020-04-08 11:28] marek-safar commented on #34490
Blocked by #34582

[2020-04-08 11:47] egmkang opened #34684 "what's the difference between Windows and Linux?"
my application is a MMOG GameServer, it runs on linux, but i use Windows to profile and optimize.

on Windows Server 2012 R2, it works well, I don't even need to warm up the program.

but on linux (centos 7.6 64bit), i must run application for a long time, then it works well, Otherwise, the program cannot handle so much requests.

this link is the application start up within 10 minutes: [https://g

[2020-04-08 11:50] MaximLipnin opened #34685 "[mono] Tests failed on windows: System.Diagnostics.Tests"
Several `System.Diagnostics.Tests` tests fail on windows with the following output:
[code]

The failing tests will be marked with `ActiveIssue` in https://github.com/dotnet/runtime/pull/32592.

[2020-04-08 11:51] Wraith2 commented on #34606
By concurrency I meant interleaving of enumeration and modification operations. Those could be on other threads but aren't required to which is why I didn't mention thread safety.

The previous removal enabled a common pattern of cache clearing enumeration and in general was unlikely to lead to problems because the removal left interleaved operations in the state where if one operation had a refer

[2020-04-08 11:56] CurlyFire commented on #34594
@tarekgh I will check what ICU version is used in both systems.  Thanks

[2020-04-08 12:01] SamuelvVelzen commented on #34646
Hi, it gave the following message:
`
Warning: Already linked: /usr/local/Cellar/gettext/0.20.1
To relink:
  brew unlink gettext && brew link --force gettext
`

But I got it to work by installing the following package: runtime.osx.10.10-x64.CoreCompat.System.Drawing (5.8.64)

[2020-04-08 12:06] DaZombieKiller commented on #34681
Something interesting is that using pointer casts or `Unsafe.As` seems to produce less desirable results, which isn't what I had expected: https://sharplab.io/#gist:9016c51ae533ea83d0f43a71e68015b5

[2020-04-08 12:09] stephentoub commented on #34606
This is not different from the removal case. It's trivial to come up with examples where code could be making assumptions about both.

We do not consider turning exceptional situations into non-exceptional situations to be breaking. We frequently do that, making things work that previously threw. Could it change someone's behavior? Sure. We accept that in the name of forward progress.

That's fine

[2020-04-08 12:14] ManickaP commented on #34638
I looked into meaningfulness of adding `CancellationToken` to the sync methods (i.e. adding a new API instead of making private methods public) and IMO it's worth a thought.
If you look at [`ProcessAuthentication`](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Implementation.cs#L197-L214) it already passes `CancellationToken` to t

[2020-04-08 13:07] stephentoub commented on #34648
Next step is an API review meeting.  @terrajobst can comment on when that will be for this issue.

[2020-04-08 13:12] stephentoub commented on #34648
Part of the issue here is that we've frequently heard that lack of units makes working with time-based APIs confusing, even if the unit is in the name of the thing providing the opaque numerical value.  There are long-standing issues like https://github.com/dotnet/runtime/issues/14336 about it.

My preference would be to use TimeSpan (unless there's something about TimeSpan that would actually mak

[2020-04-08 13:16] stephentoub commented on #34648
What is this syntax meant to suggest?  This isn't valid C#.  If we expect it to always be 2, then it could be exposed as a two separate fields, or if not / we want the flexibility for it to be more, it could be exposed as a `TimeSpan[]` (or potentially `Span<TimeSpan>` if that bought us anytyhing), but the `2`-ness of it wouldn't be part of the public API.

Mind editing your post to be the exact p

[2020-04-08 13:16] abelbraaksma opened #34688 "The Build QuickStart for dotnet/runtime has a broken link for running tests from VS"
This README document: https://github.com/dotnet/runtime/blob/master/docs/workflow/building/libraries/README.md, which contains instructions on how to build the runtime.

At the bottom, under "Running tests", it has a link to `https://github.com/dotnet/runtime/blob/master/docs/workflow/testing/libraries/testing-vs.md`, but this link returns a 404. What is the proper location and could the readme be

[2020-04-08 13:17] charlesroddie commented on #34684
Why don't you aot it with corert?

[2020-04-08 13:33] SamMonoRT commented on #34388
@thaystg - assigning this to you. Please check with @CoffeeFlux for any questions.

[2020-04-08 13:34] SamMonoRT commented on #34068
@lateralusX - sending this your way. Try to get to it soon as this is affecting a lot of tests. @marek-safar fyi

[2020-04-08 13:38] SamMonoRT commented on #34389
@CoffeeFlux - sending this your way.

[2020-04-08 13:39] SamMonoRT commented on #34390
@CoffeeFlux - sending this your way.

[2020-04-08 13:40] SamMonoRT commented on #34375
@CoffeeFlux - sending this your way

[2020-04-08 13:44] SamMonoRT commented on #34371
@alexischr - sending this your way. Based on your investigations and comments from CoffeeFlux above, if you think this is an actual codegen issue, please assign it back to me.

[2020-04-08 13:47] MaximLipnin opened #34689 "[mono] Tests failed on windows: System.Management.Tests"
Several `System.Management.Tests` fail on windows with the following output:
[code]
The failing tests will be marked with `ActiveIssue` in https://github.com/dotnet/runtime/pull/32592.

[2020-04-08 13:54] SamMonoRT commented on #34374
@naricc - note while updating the issues.target file, this is a dupe of 34372. Please close this issue once you update that file with the right issue#. Thanks

[2020-04-08 13:55] SamMonoRT commented on #33232
Based on recent set of PRs, is this ok to close @BrzVlad ?

[2020-04-08 13:58] stephentoub commented on #27831
This is marked as api-approved.  Presumably what's next is just for someone to implement it :smile:

[2020-04-08 14:00] vcsjones commented on #27831
Hm, I guess that can be me. I see I offered a little while ago but failed to follow through. Apologies.

[2020-04-08 14:01] SamMonoRT commented on #34377
@imhameed - assigning this to you. Based on comment above this is same/similar to  #34378 #34381
Will assign those to you too. Please close those as dupes if after investigations they are the same actual issue.

[2020-04-08 14:01] stephentoub commented on #27831
No need to apologize :)  Thanks for the offer.

[2020-04-08 14:05] danmosemsft commented on #34360
Would it make sense for @MaximLipnin to make that small change?

In general I don’t think it makes sense to do much of this cleanup “blind” where we can’t see the result of what we did.

[2020-04-08 14:13] SamMonoRT commented on #34387
Possibly same broader bucket as https://github.com/dotnet/runtime/issues/34384

[2020-04-08 14:13] SamMonoRT commented on #34386
Same broader bucket as https://github.com/dotnet/runtime/issues/34384

[2020-04-08 14:26] guesshe commented on #33374
@janvorli @am11 @jkotas Here are two types of crashes I saw during testing. One related to strelen function and the other is thread priority.
Process 114688025 (paltest_fprintf_test2) terminated SIGSEGV code=1 fltno=11 ip=0000000100078e10(/usr/lib/ldqnx-64.so.2@strlen+0x0000000000000000) mapaddr=0000000000078e10. ref=0000000000000000
Memory fault (core dumped)

.{1-807d485} ASSERT [THREAD ] at /ho

[2020-04-08 14:30] jkotas commented on #34582
Adding implementation for IO completion stuff (ie `BindHandle` and friends) is one of the things that will need to be fixed to fully switch to portable TP for CoreCLR on Windows.

To understand the priority: Is Mono going to ship as officially supported on Windows for .NET 5?

[2020-04-08 14:36] MaximLipnin opened #34690 "[mono] Tests failed on windows: System.Net.*.Tests"
There a lot of failures in `System.Net.*.Tests` namespaces on windows. Mostly it's `System.PlatformNotSupportedException: This API is specific to the way in which Windows handles asynchronous I/O, and is not supported on this platform.`
The related tests/assemblies will be marked with `ActiveIssue` in https://github.com/dotnet/runtime/pull/32592.

[2020-04-08 14:39] janvorli commented on #33374
Making the context.cpp stuff work is essential, primarily for hardware exception handling and for GC thread suspension.

As for the failing PAL tests, you can run the specific tests under a debugger and see why it fails or crashes. Each PAL test is a standalone executable that can be run.

[2020-04-08 14:43] beppemarazzi opened #34691 "Proposal: Add support for int keyed dictionaries to configuration binder"
Up to now, only string or enum keys are supported for dictionaries in ConfigurationBinder.
This simple proposal adds support for integer keys:

int
uint
short
ushort

See also dotnet/extensions#3052

I've done a very simple PR implementing this feature dotnet/extensions#3063 but it was closed because that component was migrated to this repo.

[2020-04-08 14:46] beppemarazzi commented on #34691
@Dotnet-GitSync-Bot the area label is area-System.Configuration

[2020-04-08 14:47] egmkang commented on #34684
@charlesroddie it sames like not the JIT problem. running a long time, __pv_queued_spin_lock_slowpath  still cost almost half time .

[2020-04-08 15:25] marek-safar commented on #34360
There is about 140 tests disabled with `PlatformDetection.IsNotWindowsNanoServer`. I very much doubt many if all of them are really Nano Server specific and not disabled .NET features. Using the correct condition would help us to see which tests are real failures on new .NET5 platforms so this is not going blind but categorize libraries tests exclusion correctly.

[2020-04-08 15:55] #33829 closed

[2020-04-08 15:57] jtattermusch commented on #1793
cc @wicharypawel

[2020-04-08 16:07] #13744 closed

[2020-04-08 16:09] lateralusX commented on #34068
Took a brief look, this is new territory for me, but it looks like the constructor used in this specific IL is not setup when setting methods for array in mono_class_setup_methods. I will take a look at adding a ctor method with the a signature (int32, int32) and then look through the rest of code will handle case an instance array in the expected way. This is not a netcore only issue, I can repro

[2020-04-08 16:10] lateralusX commented on #34068
Will work on a fix tomorrow.

[2020-04-08 16:20] ManickaP commented on #33510
Today's (https://github.com/dotnet/runtime/commit/214e2071b17905c42b76bfd66d0a9034205dd928) numbers are 45 minutes for clean build `build -subset clr+libs -runtimeConfiguration Release`. I guess it has something to do with the recent work on restore. 😢

[2020-04-08 16:20] davidsh commented on #34638
Cancellation of an I/O operation is rarely recoverable. At the Socket layer, cancelling a pending I/O might leave the socket in a usable state. But higher-layer APIs like SslStream where cancellation is invoked usually result in the stream being unusable after that.

Do we know if canceling the async AuthenticateAsServer/Client APIs result in the stream still being usable for a subsequent authenti

[2020-04-08 16:24] Drawaes commented on #34638
If you have sent any data to the otherside it is highly unlikely you can do much but re-establish the tcp socket.

[2020-04-08 16:31] AaronRobinsonMSFT commented on #31006
@mika76 The `AnsiBSTR` is a legacy approach even in Win32 and should be avoided when possible. There is little downside to using `BSTR` directly and has much better support when manipulating character based data.

This is done to discourage use. For data that is non-UNICODE characters an alternative here is [`Marshal.AllocCoTaskMem`](https://docs.microsoft.com/dotnet/api/system.runtime.interopserv

[2020-04-08 16:31] marek-safar commented on #34582
It's not high on our priority list to support IO completion stuff anywhere (including Windows)

[2020-04-08 16:33] steveisok opened #34693 "Enable LLVM + AOT for the release build for devices"
The default release build for devices is going to be LLVM + AOT.  We need to modify the build to make this happen:

- [ ] Modify the android & iOS store publish to enable LLVM + AOT for devices.
- [x] Ensure the right files sit next to `mono-aot-cross` https://github.com/dotnet/runtime/pull/35306
- [ ] Validate a simple sample works

[2020-04-08 16:33] AaronRobinsonMSFT commented on #29382
@okman523 Closing this due to inactivity. If the issue continues, please reply here and we can reopen. Thank you.

[2020-04-08 16:33] #29382 closed

[2020-04-08 16:43] guesshe commented on #33374
@janvorli Thanks! Here is a question from our lead developer while I am working on get context.cpp file compiled. I have to change register access for QNX target.
His question is "Is it possible to compile without hardware floating point support? Might help there if there is a compile option for software floating point instead of hw floating point -- there would be no need to save and restore FP r

[2020-04-08 16:44] eerhardt commented on #34660
Closing, as I believe this question is answered. Feel free to re-open if it hasn't been.

[2020-04-08 16:44] #34660 closed

[2020-04-08 16:44] mika76 commented on #31006
Well we have an old legacy component which we use and I call from .net where the definition (one of many) looks like:
`private static unsafe extern string GenerateKeyEx([MarshalAs(UnmanagedType.AnsiBStr)]string pNameParam, int pDateParam);`

AnsiBStr is the only type that works. I'm not a C++ dev so I have no idea how I would use `Marshal.AllocCoTaskMem` to achieve the same effect?

I understand t

[2020-04-08 16:46] leecow opened #34695 "Expand on caller information"
@WhitWaldo commented on [Wed Apr 08 2020](https://github.com/dotnet/core/issues/4544)

That said, I just learned about the utility of the various caller information attributes as described at [https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/caller-information](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/caller-information). These are great,

[2020-04-08 16:46] DustinCampbell opened #34696 "System.Drawing.Printing.PrintDocument is missing DefaultEvent and DefaultProperty attributes"
On .NET Framework, [`PrintDocument`](https://referencesource.microsoft.com/#System.Drawing/commonui/System/Drawing/Printing/PrintDocument.cs,275c61df12f04804) is defined with `DefaultEvent` and `DefaultProperty` attributes, which control the behavior at design-time when this component is being modified via the property grid control. These are missing in .NET Core, which negatively affects the desi

[2020-04-08 16:51] AaronRobinsonMSFT commented on #31006
We aren't removing it, but as mentioned this is to "discourage use". An attribute that says "Don't Use This" doesn't exist so we rely on `Obsolete` instead.

That is a concerning signature. If possible, could you provide the native signature? It is entirely possible the solution would be to convert this to [`UnmanagedType.LPStr`](https://docs.microsoft.com/dotnet/api/system.runtime.interopservices

[2020-04-08 17:05] janvorli commented on #33374
Unfortunately not. The JIT uses xmm registers a lot.

[2020-04-08 17:07] mika76 commented on #31006
Ok if it's staying then I guess we can live with the obsolete flag...

As for the signature:
[code]

and it returns `SysAllocStringByteLen( .. some const char * ...)`

Written looong ago by some long gone dev...

[2020-04-08 17:08] Joe4evr commented on #31006
If nothing else, the `[Obsolete]` on these values could make use of the [recently added properties](https://github.com/dotnet/runtime/pull/33248) so that the warning can be silenced locally without affecting other Obsolete warnings.

[2020-04-08 17:08] AaronRobinsonMSFT commented on #27015
This is an annoying issue and what to do isn't entirely obvious. What should probably happen is support querying the registry for the type, but in this case that entire code path has been removed. In .NET Framework this path was relying on TLB generation to get the COM layout based on the managed metadata. Since that entire code path has been removed it seems like the correct solution here is by-d

[2020-04-08 17:14] AaronRobinsonMSFT commented on #31006
@mika76 Oh boy. I see what you are saying. This is indeed a tough spot to be in. Appreciate you sharing the code. In this case I think we are still going to hold fast because of the desire to keep this API from being used. Hopefully, we can help make this easier for you with @Joe4evr's suggestion. Since this has been captured in #33360 can we close this issue or would you prefer to track this here

[2020-04-08 17:17] AaronRobinsonMSFT commented on #26820
This is similar to https://github.com/dotnet/runtime/issues/27015. Closing here until we get feedback from additional users.

[2020-04-08 17:19] wfurt commented on #34638
I don't think we can recover if we abort in middle of the handshake. The benefit would be ability to stop and unblock synchronous call.  Since the  SyncSslIOAdapter has no way how to pass it down to underline stream, it would be possible only between reading TLS frames.

If overall timeout is desirable, it may be better to set it on NetworkStream/Socket before passed to SslStream constructor.  Tha

[2020-04-08 17:21] 9034725985 opened #34699 "Request help in updating Github actions"
Context: Github Actions is a CI/CD tool.
We can run dotnet build, dotnet test and things like that there.

It is different from Gitlab where we simply say
`image: mcr.microsoft.com/dotnet/core/sdk:5.0`

This is not an issue, more like a help request
as Github actions currently cannot into .NET 5 as far as I can tell

Corresponding issue on Github actions:
https://github.com/actions/setup-dotnet/is

[2020-04-08 17:21] jkotas commented on #27015
We should delete `ActiveIssue` link from the test to this issue before closing this. We do not want to have `ActiveIssue` links to closed bugs.

[2020-04-08 17:22] mika76 commented on #31006
I think the thing that tripped me up is the actual obsolete message

If it's still going to stay but should be avoided then maybe the actual message text should be more specific?

[2020-04-08 17:22] 9034725985 commented on #34699
Demo Github actions yaml: https://github.com/kusl/mydotnet/blob/master/.github/workflows/dotnetcore.yml

[2020-04-08 17:23] jkotas commented on #26820
We should remove `ActiveIssue` on the test before closing this.

[2020-04-08 17:28] Gnbrkm41 commented on #33510
I think it would be nice if the coreclr component can come pre-built or something (just like what we did in corefx pre-consolidation / live-live build change) for those who only work on the libraries component. Building the whole runtime just to change a couple lines on the library part feels like too heavy handed....

[2020-04-08 17:29] AaronRobinsonMSFT commented on #31006
@mika76 That is a reasonable compromise.  Let me see what I can do here.

[2020-04-08 17:33] AaronRobinsonMSFT commented on #22174
@jkotas Is this still worth fixing? I was about to put out a PR for moving `ComEventInterfaceAttribute` into `System.Runtime.InteropServices`? It seems like the rebuild will need to happen anyways with .NET5 so I assume this is fine to move out of SPCL.

[2020-04-08 17:40] safern commented on #34699
hello @9034725985 it seems like you're implying here: https://github.com/kusl/mydotnet/blob/master/.github/workflows/dotnetcore.yml#L19 that the dotnet-version is `5.0` however that is not a valid version of the SDK.

From looking at the code in: https://github.com/actions/setup-dotnet/blob/00f2601192e8671356cd7c79a137000885fa145a/src/installer.ts#L198 it uses a json file which we update everytime

[2020-04-08 17:42] safern commented on #34699
Also, I believe if you don't want to specify a specific version, you can pass `5.x` as the dotnet-version and it will install the latest sdk version listed on that json.

[2020-04-08 17:42] scalablecory commented on #34638
When considering cancellation here, we should look at how it realistically interacts with how someone uses `SslStream`. What does cancellation look like in sync `HttpClient`?

Are we checking for cancellation between I/Os there too? In this case making these cancellable in the same way makes some sense. This sort of best-effort cancellation isn't the best experience when e.g. a `Write()` hangs.

A

[2020-04-08 17:46] stephentoub commented on #34638
We don't currently.  But we used to:
https://github.com/dotnet/corefx/pull/37990/files
We could go back to that for sync.

[2020-04-08 17:49] AaronRobinsonMSFT opened #34701 "Should AllowReversePInvokeCallsAttribute be marked Obsolete?"
Should [AllowReversePInvokeCallsAttribute ](https://docs.microsoft.com/dotnet/api/system.runtime.interopservices.allowreversepinvokecallsattribute) be marked `Obsolete` and point to [`NativeCallableAttribute`](https://github.com/dotnet/runtime/issues/32462)? This appears to be a legacy attribute with no real application anymore.

/cc @jkotas @stephentoub

[2020-04-08 17:52] echesakovMSFT commented on #24784
@tannergooding @TamarChristinaArm Isn't `hash_e` in
[code]
supposed to be of `Vector64<uint>` type since we want the value to be in a SIMD&FP register?

Same for `hash_e` in `HashMajority`,`HashParity` and `FixedRotate`?

[2020-04-08 17:54] safern commented on #34699
Closing the issue as it has been answered, we can continue the thread if needed even if closed.

[2020-04-08 17:54] #34699 closed

[2020-04-08 17:57] safern commented on #34646
It seems like your problem is only a matter of having libgdiplus in a directory that is not in the binaries PATH were we search for the dlls. You can try linking libgdiplus to it.

[2020-04-08 17:57] safern commented on #34646
Closing as resolved, feel free to re-open or continue discussion here.

[2020-04-08 17:57] #34646 closed

[2020-04-08 18:06] safern commented on #33510
You only need to build coreclr to run tests. To build and get yourself unblocked you can just build `-subset coreclr.corelib`.

One of the reasons why we merged the repos was to have a coherent up to date version and avoid having to wait for an official build to publish a version of coreclr, manage breaks, etc. Is something we could consider as an opt-in option.

However I think we should strive t

[2020-04-08 18:07] jkotas commented on #34701
This attribute is part of code access security (CAS) family of attributes. It should be on the same plan as the rest of them.

We should mark all CAS attributes as obsolete once we have the fine grained controls for obsoleting in place (https://github.com/dotnet/runtime/issues/31279#issuecomment-586545318).

[2020-04-08 18:07] illialarka commented on #31622
Hi
I'm new to the codebase. I spent some time researching this bug. Can I take this as my first contribution to the repository?

[2020-04-08 18:08] safern commented on #34653
Yeah I know, what I'm saying is that we could remove the cross targeting because we're not cross targeting coreclr on the build that we are consuming, so if we cross target System.Runtime, we will still be using the same corelib for both targets because of the live build.

[2020-04-08 18:14] mika76 commented on #31006
I'll close this since you don't need it. Thanks for all your help and understanding.

[2020-04-08 18:14] #31006 closed

[2020-04-08 18:15] terrajobst opened #34703 "ImmutableDictionary<K, V> should include key when throwing KeyNotFoundException"
This looks like a regression because [we merged a fix for that](https://github.com/dotnet/corefx/pull/185). `Dictionary<K, V>` still works as expected though.

### Repro

Target .NET Core 3.1 and use the in-box version of immutable collections.

[code]

### Expected output

[code]

### Actual output

[code]

[2020-04-08 18:21] karelz commented on #34638
Triage: (notes from yesterday)
1. We are adding "just" new overload with `SslClientAuthenticationOptions` - other synchronous APIs/overloads already exist -- to be clarified for full API review - DONE
2. Should we add `CancellationToken` arg? - @ManickaP to explore if it make sense -- see ongoing discussion here
3. We decided to take the server counterpart for symmetry (even if it is not strictly

[2020-04-08 18:29] safern commented on #34688
Thanks @abelbraaksma -- it seems like the link should point to: https://github.com/dotnet/runtime/blob/master/docs/workflow/testing/libraries/testing.md#running-tests-from-visual-studio

Seems like a fallout of merging the docs. Fix: https://github.com/dotnet/runtime/pull/34704

[2020-04-08 18:32] danmosemsft commented on #31823
@alexvy86 now your PR is merged, how is the VS experience? Do most (all?) test projects run clean in VS now for you?

[2020-04-08 18:33] layomia commented on #34564
Might be related to any issues uncovered when fixing https://github.com/dotnet/runtime/issues/32145.

Please let us know when you have a repro.

[2020-04-08 18:35] #32821 closed

[2020-04-08 18:39] #34688 closed

[2020-04-08 18:47] jaredpar commented on #34015
@donJoseLuis will do. The other TLS issues we had yesterday are muddying the data a bit. Have to probably wait another day to see if it's resolved. I will definitely be looking at the data though.

[2020-04-08 18:48] bramborman commented on #34660
Thank you all for answers. I was looking in docs but must have overlooked the part about `.` being treated as a literal character in that case.
Things like this would have been much easier to debug if we had something like [RegExr](https://regexr.com/) but for .NET implementation as it explains every part of the expression. I was looking for that but didn't find anything such advanced. Do you know

[2020-04-08 18:48] SamMonoRT commented on #34068
Thank you, I grouped the following failures under this issue, hopefully same underlying issue.
Method not found: void System.Int32[*]..ctor(int,int)
Method not found: void System.Double[*]..ctor(int,int)
Method not found: void GCTest.Test[*]..ctor(int,int)
Method not found: void System.Int16[*]..ctor(int,int)

[2020-04-08 18:49] danmosemsft commented on #34360
Yes, I agree it would be better for many of those to be replaced with capability tests eg., like this pattern
[code]
We can and should do that where possible

That said what is the issue in this case? The test is annotated because Windows Nano Server does not support creating STA threads. Is that not supported on Mono period? I do see it rejected in the mono corelib
https://github.com/dotnet/runti

[2020-04-08 18:50] danmosemsft commented on #34360
I also see that Thread.Mono.cs will never report anything other than ApartmentState.Unknown.

[2020-04-08 18:55] SingleAccretion commented on #34648
It would seem to me that using readonly structures here would be better (or better yet, two properties with one of them being set to zero in case it doesn't apply, since zero delay is no delay).

I also would like to note that in the minds of regular .NET developers (like me), GC is a magical machine that is _on all the time_, so when I see types like `GCGeneralInfo` I think: "Garbage _Collector_

[2020-04-08 18:56] danmosemsft commented on #34660
@bramborman I am not aware of such a thing - perhaps because we do not expose the parse tree in a public API. It seems that RegExr [wrote their own](https://github.com/gskinner/regexr/blob/master/dev/src/ExpressionLexer.js).

It doesn't help you in this case (with the question about the treatment of `.`), but in case it's interesting to someone, there is a mode that allows us to debug the regex en

[2020-04-08 18:57] jkoritzinsky commented on #34701
I believe the fine grained obsoletion support is merged in and supported in Roslyn.

[2020-04-08 19:00] eanova commented on #34394
I'd like to grab and investigate this if there are no objections.

[2020-04-08 19:02] alexvy86 commented on #31823
@danmosemsft it's hard to say, I've only tried opening a few in VS, and lately I've been running into new issues with that. At some point I was able to run tests for `System.Text.Json` in VS, that's how I took some of the initial screenshots, but right now test discovery is failing.

[code]

`System.ComponentModel.TypeConverter` takes a ton of time discovering tests... Once I was able to debug one

[2020-04-08 19:03] Maoni0 commented on #34648
@svick I suppose "this GC" is not a good way to say "the last GC that finished". but that's what it means, I'll change the wording.

I would expect users to call this at the time interval/period of interest. some people might choose to call it for 10 mins every hour; others might call it always. @mjsabby can provide concrete examples how his team might want to this.

[2020-04-08 19:03] danmosemsft commented on #31823
OK, thanks. It would be great to enumerate issues and perhaps we can keep making progress.

[2020-04-08 19:04] alexvy86 commented on #31823
Of note, I haven't gone back to `master`, all of this is in the branch I created for the PR. I'll start testing back in master now that it got merged.

[2020-04-08 19:04] Jozkee commented on #34626
As per our early discussions, yes, this only applies for .NET 5, on the code for 3.1 we define the options directly in the Http.Json project as is done in ASP.NET.

[2020-04-08 19:06] Maoni0 commented on #34648
@stephentoub

I wanted to express this is an array with 2 elements. but now that I think about, it's better to just have an array because we might have more elements in this array in the future. also just making sure, were you suggesting I should change float to TimeSpan?

I'll get rid of proposal #1

[2020-04-08 19:06] danmosemsft commented on #31823
Note there were some recent changes to how building is done: https://github.com/dotnet/runtime/issues/33821
You may want to `git clean -fdx` after pulling, and use the new commands own.

[2020-04-08 19:08] guesshe commented on #33374
@janvorli Thanks!

[2020-04-08 19:12] akoeplinger commented on #34465
Opened an IcM: https://portal.microsofticm.com/imp/v3/incidents/details/183265350/home

[2020-04-08 19:15] Maoni0 commented on #34648
@svick I suppose "this GC" is not a good way to say "the last GC that finished". but that's what it means, I'll change the wording.

this will provide info on concurrent GCs, I'm wondering what made you conclude it wouldn't? I even specifically mentioned BGC:

[code]
I would expect users to call this at the time interval/period of interest. some people might choose to call it for 10 mins at some i

[2020-04-08 19:18] safern commented on #31823
Maybe you built coreclr in `Debug` mode?

Note that you also need to install the latest daily build of the SDK once you pull from master as we updated the SDK we list in the `global.json`. https://github.com/dotnet/installer/blob/master/README.md#installers-and-binaries

[2020-04-08 19:25] alexvy86 commented on #31823
I did at the beginning, yes, but after noticing that test runs in many projects were taking longer than I though they would, I noticed the issue and built the Release version. Tests started running faster, and I thought I was fine, but maybe something (in VS?) was still using the Debug version.

I just installed the latest SDK after reading about it in the announcement, I'll keep playing around wi

[2020-04-08 19:34] akoeplinger commented on #33510
Would be interesting if you could do a comparison with `build -subset mono+libs -runtimeConfiguration Release`, mono builds a lot faster than coreclr usually.

[2020-04-08 19:37] benpye commented on #33506
Adding a simple example

Currently the following will fail:
`
 var categories = PerformanceCounterCategory.GetCategories("192.168.1.42");
`

I would expect to receive the list of performance counter categories from the remote machine. Instead I am getting an exception.

[2020-04-08 19:41] wfurt opened #34708 "Failed to create CoreCLR, HRESULT: 0x8007001F on Catalina"
I bump to this when trying to build runtime repo after sync. It is trying to use 5.0 preview build and the build fails every time.

[code]

I tried to run wit with `COREHOST_TRACE=1` but that did not show any useful.
I'm not sure what would be best next step to debug this.

cc: @janvorli as PAL may be suspect.

[2020-04-08 19:44] DustinCampbell opened #34709 "ReflectTypeDescriptorProvider fails to add ReferenceConverter to intrinsic converter table"
`ReflectTypeDescriptorProvider` _should_ have `ReferenceConverter` in its intrinsic type converter table, but it doesn't. This has significant user impact at design-time. For example, when assigning certain properties via the `PropertyGrid`, such as `Form.AcceptButton`, the `ReferenceConverter` is used to produce a list of potential objects that can be referenced. However, in .NET Core, this doesn

[2020-04-08 19:45] safern commented on #34691
This seems more like a `Microsoft.Extensions` area. @maryamariyan could you please take a look?

[2020-04-08 19:48] #33744 closed

[2020-04-08 19:59] 9034725985 commented on #34699
Thank you @safern

Using '5.0.100-preview.2.20176.6' works but 5.x does not. It would be nice if I could use 5.x or something and it just used the latest available 5.x version. Maybe that can't happen because .NET 5 isn't released?

[2020-04-08 20:11] wli3 opened #34711 "Using the LD LIBRARY PATH to load local libraries does not work on Linux"
_From @sunliusi on Sunday, March 22, 2020 4:21:18 AM_

I need to use the local library for cross-platform. Local libraries have different implementations and Put them in different folders.

it work fine in windows just like this:
Environment.SetEnvironmentVariable("PATH", path + ";" + Environment.GetEnvironmentVariable("PATH"));

it's not working in linux just like this:
Environment.SetEnvironment

[2020-04-08 20:11] wli3 commented on #34711
_From @sunliusi on Sunday, March 22, 2020 4:28:55 AM_

NativeLibrary doesn't work either. There are two local libraries, one dependent on the other. This works only if the local library has no dependencies.

[code]

 ---> System.DllNotFoundException: Unable to load shared library 'test.so' or one of its dependencies. In order to help diagnose loading problems, consider setting the LD_DEBUG environ

[2020-04-08 20:11] wli3 commented on #34711
_From @SourceSkyBoxer on Tuesday, March 24, 2020 9:48:41 AM_

Hello,
I will tell you example with NativeLibrary()
[code]
If you want FullPath like this.
You should use "AppDomain.CurrentDomain.BaseDirectory"
like this:
[code]

You should create delegate with UnmanagedFunctionPointer
[code]
Than you can try as public method if you try out.
[code]

Just it is small example of my made.
I hope my solu

[2020-04-08 20:11] wli3 commented on #34711
_From @sunliusi on Wednesday, March 25, 2020 4:29:01 AM_

Thanks @SourceSkyBoxer  for such a detailed explanation.

Follow the example above:
`// multiple so files
            string[] sofiles =
            {
                "file1.so", "file2.so"
            };
            string rootdir = AppDomain.CurrentDomain.BaseDirectory;
            foreach (string sofile in sofiles)
            {

[2020-04-08 20:11] wli3 commented on #34711
_From @sunliusi on Wednesday, March 25, 2020 4:30:22 AM_

System.DllNotFoundException: Unable to load shared library '.../unix/file2.so' or one of its dependencies. In order to help diagnose loading problems, consider setting the LD_DEBUG environment variable: ./file1.so: cannot open shared object file: No such file or directory

[2020-04-08 20:19] wfurt commented on #34708
failing block may be clue (when running under dtruss)
[code]
35 is EAGAIN and that seems weird. attaching whole trace.
[trace.txt](https://github.com/dotnet/runtime/files/4452620/trace.txt)

[2020-04-08 20:20] stephentoub commented on #34703
That fix was about a duplicate key rather than about a non-existent key.  The latter is just throwing a KeyNotFoundException, with the default message for that exception type:
https://github.com/akoeplinger/corefx/blob/25b88a4034e05ff189b9ea7b187dfcdb7286fc47/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableDictionary%602.cs#L258

[2020-04-08 20:28] rynowak commented on #34157
If we want to talk about this more, I'm game. I also want to amend something I said (based on re-reading).

I think I was wrong about this. Consider the case of a `DELETE`. I think there are probably plenty of cases where you return nothing on success, but have the potential to return an error object on failure.

[2020-04-08 20:31] jkoritzinsky commented on #34711
I believe that `LD_LIBRARY_PATH` has to be set before the program starts (either exported into the environment or when it is started). We don't propagate environment variable changes back out to the system when they're changed in .NET.

[2020-04-08 20:32] jkoritzinsky commented on #34711
Related to/possible duplicate of https://github.com/dotnet/runtime/issues/9529

[2020-04-08 20:43] wli3 opened #34712 "Problem like common error NETSDK1099:"
_From @SourceSkyBoxer on Thursday, March 19, 2020 12:08:23 AM_

Hello everyone,

I am very disappointed because I have to use DotNet 3.1 but it shows always crazy like not support for single executable. That is really dreadfully.
![image](https://user-images.githubusercontent.com/57066679/77018467-e3173980-697d-11ea-9a5c-460e722db7f1.png)
Why do i should understand hard?

I have tried to type like

[2020-04-08 20:45] guesshe commented on #33374
@am11 @janvorli I fixed the register access issue and enabled context.cpp in my build. However, I am facing a new linker issue. But I do have -fPIC in my compilation flag and in the project I have CMAKE_POSITION_INDEPENDENT_CODE set to TRUE. Any suggestions here?
/x86_64-pc-nto-qnx7.0.0-ld: ../../../pal/src/libcoreclrpal.a(context2.S.o): warning: relocation against `CONTEXT_CaptureContext' in read

[2020-04-08 20:49] ericstj commented on #34653
What if corelib cross-targeted as well?

[2020-04-08 20:51] danmosemsft commented on #33506
@benpye any interest in offering a PR, with tests (perhaps against 127.0.0.1?)?

[2020-04-08 20:53] CarolEidt commented on #34576
I don't think the Ecma spec specifically addresses the question of reinterpreting one type as another. But it is fundamentally incorrect to assume that you can load or store a given type from a location of a smaller type. In the past we've had some old tests that accessed an int as a long and although we had people trying to argue that if the test had ever passed it must continue to pass, there's

[2020-04-08 20:55] wfurt commented on #34708
Disabling SIP (System Integrity Protection) fixed it. But is enabled by default and requires reboot to recovery mode to disable it.

[code]

We may not see this in CI as we may have disabled SIP to get crash dumps.

[2020-04-08 20:58] sandreenko commented on #34576
Got it, thanks @CarolEidt, I will delete these cases.

[2020-04-08 20:58] #34576 closed

[2020-04-08 20:59] janvorli commented on #34708
The problem is that there are not enough resources for locking a memory page. There is a system wide limit on the number of pages that can be locked and once it is depleted, all mlock attempts fail until some process frees that memory. I've looked into it few weeks ago, let me add the issue number.

[2020-04-08 21:00] am11 commented on #33374
@guesshe, does adding this line https://github.com/am11/runtime/blob/208143dbb181782119e74441a536c9a8efc29808/eng/native/configureplatform.cmake#L290 at the same place and recompiling (after `rm -rf artifacts`) help? This is currently what I am doing for Solaris bringup (still very much work in progress), and it fixed a similar relocation error for me.

[2020-04-08 21:01] wfurt commented on #34708
If so, why SIP would matter? I have system with 32G of RAM.

[2020-04-08 21:02] janvorli commented on #34708
I don't think it mattered, I think it was just a coincidence that some process has released its wired memory. See #10870 for details.

[2020-04-08 21:04] safern commented on #34699
Yeah I guess it doesn't work because we haven't shipped any stable version. Probably the `.x` feature only works with released, stable versions.

[2020-04-08 21:07] #13819 closed

[2020-04-08 21:13] steveharter commented on #15704
Based on discussion with @AArnott and @GrabYourPitchforks this is not a must-have feature for 5.0. However, this feature is completely valid and important but since it is not on the roadmap for 5.0 this is being moved to Future.

[2020-04-08 21:16] ericstj commented on #34653
So that's one pathway, but I'm still open to doing what was originally suggested, we just need to understand what it would mean.

For example: how do we even build AllConfigurations if we never fix the problem we mention above?  I don't see how we do it, the only reason it still works on Windows today is that the Windows CoreLib happens to be a superset of the linux CoreLib.  If they happened to b

[2020-04-08 21:23] EgorBo opened #34714 "Add Sse.CreateShuffleMask (expose _MM_SHUFFLE) API"
### Rationale
`Shuffle` is a quite popular API in the SIMD world, and in some of the Shuffle APIs masks are passed as a constant argument of `byte` type. Let's say we have a vector and we want to reverse it:
[code]
Current approach we use in the BCL for [Matrix4x4](https://github.com/dotnet/runtime/blob/cb2308b56959175f41fd5a1dbc64660ab6d60c2a/src/libraries/System.Private.CoreLib/src/System/Numeri

[2020-04-08 21:26] wfurt commented on #34713
Do you explicitly disable SocketHttpHandler? That code path should be used only if explicitly subscribed to curl. And what version of Alpine and curl do you have?

[2020-04-08 21:32] am11 commented on #33374
Also if you could show the diff in `context2.S`, that will understand the error better. Maybe suffixing `@gotpcrel` will fix the issue.

[2020-04-08 21:33] GrabYourPitchforks commented on #19484
Faster `FieldInfo` accessors are being tracked by https://github.com/dotnet/runtime/issues/23716.

[2020-04-08 21:33] #19484 closed

[2020-04-08 21:37] steveharter commented on #5446
Closing due to age; also the "dynamic" feature is not intended to be performant.

[2020-04-08 21:37] #5446 closed

[2020-04-08 21:42] GrabYourPitchforks commented on #6445
May as well fix the spelling of the filename _GetCustomAttributes_**ParamterInfo**.cs_ at the same time.

[2020-04-08 21:42] AaronRobinsonMSFT commented on #22174
Decided this is not worth addressing. Closing.

[2020-04-08 21:42] #22174 closed

[2020-04-08 21:52] GrabYourPitchforks commented on #18255
Let's tentatively try to make this a little better in 5.0 for debuggability. Though it's low-priority compared to other reflection work so it may still slip below the cut line.

[2020-04-08 21:56] benpye commented on #33506
@danmosemsft How do we deal with tests that require machine setup? To test this functionality we must go and enable the remote registry service on the target.

[2020-04-08 21:58] guesshe commented on #33374
@am11 I tried this solution and the result is the same. I didn't make any changes to context2.S file under amd64. What do you mean by suffixing @gotpcrel ?

[2020-04-08 22:01] mmitche opened #34715 "System.IO.Ports references non-existent runtime.native.System.IO.Ports in preview2"
In preview2, https://www.nuget.org/packages/System.IO.Ports/5.0.0-preview.2.20160.6 has non-existent dependency runtime.native.System.IO.Ports at a 5.0.0-... version.

[2020-04-08 22:02] steveharter commented on #6633
Closing due to ambiguity; please provide an example of the scenario and current "workaround". cc @GrabYourPitchforks

[2020-04-08 22:02] #6633 closed

[2020-04-08 22:05] am11 commented on #33374
@guesshe, i mean `git diff src/coreclr/src/pal/src/thread/context.cpp` how you fixed context issue? Also are you building master or release/3x branch?

[2020-04-08 22:07] AaronRobinsonMSFT opened #34717 "ComWrappers should support ICustomQueryInterface for Managed Object Wrappers"
The ComWrappers API should support falling back to [`ICustomQueryInterface`](https://docs.microsoft.com/dotnet/api/system.runtime.interopservices.icustomqueryinterface) if the managed object wrapper didn't supply a VTable for the requested IID.

/cc @jkoritzinsky @scottj1s

[2020-04-08 22:08] BruceForstall opened #34718 "Build failure: The CoreCLR artifacts path does not exist"
Previously, I used the following to build after a sync + clean of my clone:
[code]
I believe the equivalent now is:
[code]

But I am getting:
[code]

Is there an issue with the build? Or with the build command?

@ViktorHofer @safern @jkoritzinsky @dotnet/runtime-infrastructure

[2020-04-08 22:13] dmitriyse commented on #34552
@jkotas , unfortunately I am too far right now from a full solution benchmarks.
```QueueUserWorkItem``` and ```UnsafeQueueUserWorkItem``` was just an example where BCL authors decided that "delegates conversion and capturing" should be optimized.
I am writing a general-purpose library, I don't know will my methods would performance-critical or not for certain consumers. But I want to identify and

[2020-04-08 22:15] guesshe commented on #33374
@am11 @janvorli It seems supermi is not as critical as pal. Can I disable these sub-projects to test functionalities of pal?
superpmi-shim-collector
superpmi-shim-counter
superpmi-shim-simple

[2020-04-08 22:18] terrajobst commented on #34703
Gotcha. I assume this means you've got no concerns with fixing this too though?

[2020-04-08 22:18] alexvy86 commented on #31823
So I cleaned up with `git clean -fdx`, I pulled master, built CoreCLR in Release mode (`.\build.cmd clr -c Release`), then built the libraries in Debug mode (`.\build.cmd libs`), and 33 of them errored out complaining about missing Debug-mode artifacts from CoreCLR in `\artifacts\bin\coreclr\Windows_NT.x64.Debug\`. I thought working on the libraries should be possible building CoreCLR in Release m

[2020-04-08 22:19] terrajobst commented on #18255
Like #34703

[2020-04-08 22:30] guesshe commented on #33374
@am11 The way I did was adding QNX specific register access MARCOs. Like following, it is very similar to FreeBSD. I have to include QNX specific header files but not sure if I can share the header file as it is not under any opensource license.
+#elif defined(__QNX__)
+    // For QNX
+#define MCREG_Rbp(mc)      ((mc).cpu.rbp)
+#define MCREG_Rip(mc)      ((mc).cpu.rip)
+#define MCREG_Rsp(mc)

[2020-04-08 22:34] stephentoub commented on #34703
No concerns (other than the standard ones about exposing info, which we generally don't believe outweighs the benefits). cc: @danmosemsft who also cares a lot about this kind of thing.

[2020-04-08 22:35] stephentoub commented on #34703
(that said, it'd be nice to audit all such errors as part of the fix, rather than doing it piecemeal one exception at a time)

[2020-04-08 22:41] layomia commented on #31645
@Romanx can you share the output if running `dotnet --info`? Also what version of Visual Studio are you running?

Did you build the repo before running `build -vs System.Text.Json` as described in [this doc](https://github.com/dotnet/runtime/blob/e298818e7c1327178de8168ed785c0e23d14d298/docs/workflow/building/libraries/README.md)? Specifically -

[code]

[2020-04-08 22:44] guesshe commented on #33374
OK. Now I disabled superpmi sub-project and it builds. But I got a new crash.
Process 173518872 (corerun) terminated SIGSEGV code=2 fltno=11 ip=000000010108352d(/mnt/river/tmp/libcoreclr.so@registerTMCloneTable+0x00000000000118b2) mapaddr=000000000023552d. ref=0000000101bfcb40
Memory fault (core dumped)
Any suggestions on how to debug this?

[2020-04-08 22:49] am11 commented on #33374
https://github.com/dotnet/runtime/issues/33374#issuecomment-609059509 did you try something to fix `fltno=11`?

[2020-04-08 22:58] safern commented on #34718
You're building libraries for Release and coreclr for Debug, so libraries is going to search for Release since no runtimeConfiguration was passed. I think you have to do:

[code]

Note that I will be putting up a PR soon today to add an alias for runtimeConfiguration and librariesConfiguration to be `rc` and `lc`.

[2020-04-08 23:02] safern commented on #31823
I think you missed passing `-runtimeConfiguration Release`. Also you need to pass this to `build.cmd -vs` command, that way projects that have a ReferenceFromRuntime find the right coreclr path.

[2020-04-08 23:10] mburbea opened #34722 "Terrible debugging of default interface generator methods on a variant interface"
Consider the following interface and a dummy class that implements it.
[code]

[2020-04-08 23:15] dmitriyse commented on #4331
Do we have some progress on this feature?
In BCL itself and in a huge amount of other libs we can find a code like this:
[code]
if inside the ```obj``` is any non ```Action``` delegate like ```delegate void MyAction()```, this code will be broken.

Approaches:
 * make ```is```, ```as``` and ```cast operator``` behave especially for delegates with equivalent signature (still problem with ```obj.Typ

[2020-04-08 23:15] Jozkee commented on #34157
As mentioned in https://github.com/dotnet/runtime/issues/32937#issuecomment-592616574, we might not need `TError` on methods that does not directly return a `HttpResponsemessage`, instead we should throw on responses that are not 2xx; that is how `GetFromJsonAsync` works.

[2020-04-08 23:15] richlander commented on #852
FYI: Simple way to run this test:

https://gist.github.com/richlander/12df3cf119acf9b5d423b935e0d8f819

[2020-04-08 23:18] Anipik commented on #31823
Some of the intellisense iand testing issues are resolved by  https://github.com/dotnet/runtime/pull/34721

[2020-04-08 23:19] Maoni0 commented on #852
thanks @richlander.

update: @ivdiazsa is working on a repro.

[2020-04-08 23:23] danmosemsft commented on #33506
@benpye our options are
1. Add something like `[Fact(Skip = "Manual test")]` and run it locally only. That's possibly better than no test at all, as someone can comment that line and run it if they change the code in future.
2. Find something that would exercise the codepath but still succeed against the local box,. eg `127.0.0.1` `\\%machinename%` or something of that sort.
3. Forever maintain so

[2020-04-08 23:23] BruceForstall commented on #34718
I used `-c Debug`, which I interpreted as "build everything 'Debug', except for sub-components that specify otherwise". But it sounds like if I use `-librariesConfiguration Release` that means two things: (1) build the libraries part of the tree Release, and (2) in the libraries build, any reference to CoreCLR is to a Release CoreCLR. Is that correct?

Should I instead use:
[code]
?

One of the re

[2020-04-08 23:35] #2188 closed

[2020-04-08 23:36] danmosemsft commented on #34703
This seems to be the only place we throw KNFE without a key. Aside from 3 in JsonElement.cs which I can't speak to.

Since the adding-duplicate case was mentioned, there may be some unrelated cleanup that could be done there: some collections that could use the more informational forms.
[code]
[code]

[2020-04-08 23:36] Jozkee commented on #34157
As @rynowak suggested, this could be shaped as the following:

[code]

The implementation is probably going to look something like this:
[code]

We do the same for `Put` methods, we will need to rename `TValue` to `TRequest` in the existing `Post` and `Put` methods and `TResponse` in the `Get` methods.

All of this assuming that we agree on adding this set of APIs.

[2020-04-08 23:38] danmosemsft commented on #34703
Re exposing info, it would be nice to consistently use quotes around replacement markers, so that "obfuscate between quotes before writing to log" is a potentially viable strategy. This one violates that: ` <value>An item with the same key has already been added. Key: {0}</value>`

[2020-04-08 23:38] jaredpar commented on #34015
@donJoseLuis it still appears to be a problem. Restricted my query to after 8PM PST on 4/7 and still see 10% failures installing the SDK

|Build|Kind|Timeline Record|
|---|---|---|
|[593126](https://dev.azure.com/dnceng/public/_build/results?buildId=593126)|PR https://github.com/dotnet/runtime/pull/34662|Build System.Private.CoreLib|
|[593105](https://dev.azure.com/dnceng/public/_build/results?bui

[2020-04-08 23:48] Jozkee commented on #34157
For what is worth, having this set of APIs will also prevent the users from having to dispose the `HttpResponseMessage` themselves. https://github.com/dotnet/runtime/pull/33459#discussion_r391207191

[2020-04-08 23:55] safern commented on #34718
Yes that is correct.

I don't think that'll be possible because if you set -runtimeConfiguration or -librariesConfiguration that will override the GlobalConfiguration for that partition.

What you can do though is split your command, you can do:
`build.cmd clr.corelib+libs -c Release && build.cmd clr.runtime+clr.corelib+clr.nativecorelib -arch x64,x86,arm64,arm -c Debug,Checked,Release -librariesC

[2020-04-08 23:59] danmosemsft commented on #18255
My 2c. Many times issues first show up in logs. A debugger may not be available - nor dump file - nor even a repro. If by changing some localized places to add some value that we have easily available into that message, we can make some of these diagnosable without further work. It seems a place where relatively small work in a library is highly leveraged. This is why we added keys to key not foun

[2020-04-09 00:18] sdmaclea commented on #34507
This was fixed by #34658

[2020-04-09 00:18] #34507 closed

[2020-04-09 00:20] sdmaclea commented on #34508
The #34507 implementation bypassed #33072.  I don't think it is a required here either.

[2020-04-09 00:23] sdmaclea commented on #34508
Is there any preference which platform builds the `targetGeneric` tests?

+ My guess is that test will build fastest on OSX based simply on watching the order CI completes.
+ OSX may have lower total machine availability
+ OSX might be under utilized
+ OSX may uncover more tests which we thought were `targetGeneric`, but were not actually.

[2020-04-09 00:25] sdmaclea commented on #34508
I just reread the top post.

[code]

[2020-04-09 00:36] alexvy86 commented on #31823
Ah, *that's* what `-runtimeConfiguration` is for, it makes sense now. It partially helped, the Debug-mode command line build of the libraries succeeded, but once in VS I get weird behavior (this is `System.Text.Json`):

A **Rebuild** on the solution or any of the projects supposedly succeeds:
[code]

But a **Build** of the solution or any of the projects fails and shows these warnings/errors:

![i

[2020-04-09 00:55] #34718 closed

[2020-04-09 00:58] BruceForstall commented on #5350
This is basically complete, so I'm closing.

[2020-04-09 00:58] #5350 closed

[2020-04-09 00:59] BruceForstall commented on #5572
I'm going to close this as a dup of https://github.com/dotnet/runtime/issues/10187 (yes, this one came first)

[2020-04-09 00:59] #5572 closed

[2020-04-09 01:00] AndyAyersMS commented on #33529
There are at least 3 places where we check this block flag during importation:
1. when converting fixed-sized locallocs to local blocks
2. when deciding if a local needs explicit zero initialization
3. when determining relative weights for inline candidates

The last one won't lead to correctness issues, but the first two might, as we enable optimizations if we see that `BBF_BACKWARD_JUMP` is not

[2020-04-09 01:02] BruceForstall commented on #5808
There is no effort to do this now. I'm going to close the issue. If we decide to bring it back, the issue could be re-opened (or, more likely, a new design and issue would be created).

[2020-04-09 01:02] #5808 closed

[2020-04-09 01:10] BruceForstall opened #34726 "GCStress: document how to debug GCStress failures"
We need to add a document on best practices for debugging failures in GCStress. It should cover all architectures, all platforms, and examples of different failure modes.

It might be appropriate to live in the "debugging" section:
https://github.com/dotnet/runtime/tree/master/docs/workflow/debugging/coreclr

or perhaps in the BOTR section: https://github.com/dotnet/runtime/tree/master/docs/design

[2020-04-09 01:12] alexvy86 commented on #32205
It is still happening, I just ran into it.

[2020-04-09 01:12] alexvy86 commented on #31823
Ah the "duplicate frameworks" issue is already tracked in https://github.com/dotnet/runtime/issues/32205

[2020-04-09 01:25] jashook commented on #34508
/cc @trylek

[2020-04-09 01:33] guesshe commented on #33374
@am11 I didn't try anything specific. I bring back the context.cpp file and added qnx as targetOS. Now it complains about registerTMCloneTable, but I can't find this function in coreclr.

[2020-04-09 01:49] BruceForstall opened #34728 "Unnecessary PGO work in CoreCLR build"
If you build with `build-runtime.cmd` and don’t pass `nopgooptimize`, it restores the optimization data package, then does some parsing of it.

In a Debug/Checked build, isn’t this completely unused or wasted? It looks like `pgosupport.cmake` will set `LINK_FLAGS_RELEASE` and `LINK_FLAGS_RELWITHDEBINFO` based on this info, but those aren’t used except for Release builds.

So, shouldn’t we force th

[2020-04-09 01:49] egmkang commented on #34678
[root@VM_16_46_centos ~]# dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   3.1.201
 Commit:    b1768b4ae7

Runtime Environment:
 OS Name:     centos
 OS Version:  7
 OS Platform: Linux
 RID:         centos.7-x64
 Base Path:   /usr/share/dotnet/sdk/3.1.201/

Host (useful for support):
  Version: 3.1.3
  Commit:  4a9f85e9f8

.NET Core SDKs installed:
  3.1.201 [/usr/share/dotnet

[2020-04-09 01:50] ericstj commented on #32205
I believe Viktor made a fix for this but you need to make sure you have the latest VS preview and SDK.  I know @safern hit this too and was able to get past it with an update.

[2020-04-09 02:04] StephenBonikowsky commented on #34151
I followed-up with @mconnew from the WCF team and here is some additional context...

The concrete class returned from Linq expressions changed between .NET Framework and .NET Core. Apparently it is up to individual class owners to own the serializability of their classes and the new concrete type being returned now is not serializable.

[2020-04-09 02:07] egmkang commented on #34678
[CPU off time.zip](https://github.com/dotnet/runtime/files/4453629/CPU.off.time.zip)

[2020-04-09 02:31] kunalspathak opened #34732 "Optimize movz/movk on ARM64"
Since ARM64 has an ISA with fixed 32-bit instruction width, the move instructions have space for 16-bit unsigned immediate. To move bigger immediate value, we need to move the value in multiple steps using chunks of 16-bits (`movz/movk`). Due to this, multiple `mov` instructions are generated to load a single bigger value in register in contrast to x64 where a single `mov` can load bigger immediat

[2020-04-09 02:33] kunalspathak commented on #34732
@TamarChristinaArm , @BruceForstall , @sdmaclea, @dotnet/jit-contrib

[2020-04-09 03:08] AriNuer opened #34734 "Test JIT/HardwareIntrinsics/X86/Sse41/ConvertToVector128_r/ConvertToVector128_r.sh failed with Assertion failed 'varTypeMap[type] != TYP_UNDEF'"
**Job:**
[runtime-coreclr crossgen2:20200407.1](https://dev.azure.com/dnceng/public/_build/results?buildId=592687&view=results)
**Error message:**
[code]
**Stack trace:**
[code]
**Details:**
https://dev.azure.com/dnceng/public/_build/results?buildId=592687&view=ms.vss-test-web.build-test-results-tab&runId=18675572&resultId=102159&paneView=debug

[2020-04-09 03:20] safern commented on #32205
I tried to  update but actually didn't go passed it, I mentioned it to @Anipik in the morning.

[2020-04-09 03:20] #30605 closed

[2020-04-09 03:24] mjsabby commented on #34648
I've written this gist as a way to inform our teams how to use the existing APIs for counters. We use internal calls to the 5 new counters that were added as EventCounters but not exposed as APIs.

https://gist.github.com/mjsabby/45df7c2375a230edbd8ec449f587330e

Teams moving from .NET Framework to .NET Core bring up the deficiency of GC counters that are available on .NET Framework but missing fr

[2020-04-09 03:48] ericstj commented on #34715
We used to build this but something broke that in October: https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet5&package=runtime.native.System.IO.Ports&protocolType=NuGet&version=5.0.0-alpha1.19523.8

[2020-04-09 04:08] layomia commented on #34318
Since you specify the converter on the type, the serializer always sees it and delegates (de)serialization to it, even on recursive calls. This is why you are seeing these stackoverflow exceptions.

As shown in the [doc you linked to](https://docs.microsoft.com/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to#required-properties), adding the converter at runtime is a w

[2020-04-09 04:14] kouvel commented on #33669
Thanks Adam. I found the `threadPoolRepro` branch in a different repo (https://github.com/adamsitnik/Benchmarks-1.git). I think you must have used 512 connections for those machines because with 256 connections I see ~16% regression in throughput with the best config you mentioned, it seems to work as you noted for 512 connections so I'm able to repro what you're seeing now.

[2020-04-09 04:22] layomia commented on #30856
I can no longer repro the issue with (de)serializing an array of dictionaries. This is likely due to various bug fixes and refactoring efforts we have made since 3.x.

Field support to satisfy the initial concern is being tracked here: https://github.com/dotnet/runtime/issues/876

[code]

[2020-04-09 04:22] #30856 closed

[2020-04-09 04:58] davidfowl opened #34739 "[EventSourceLogger]: Improve exception serialization such that it can be re-created on the other side"
### Describe the bug
Today the EventSourceLogger does a manual JSON serialization of the exception missing a set of fields that make it hard to re-create the exception out of process.

### Expected behavior
We should include all of the appropriate fields in order to accomplish this.

[2020-04-09 05:09] kouvel commented on #33669
@adamsitnik, would you be able to summarize the changes in your `threadPoolRepro` branch, which seems to include a bunch of changes to the platform benchmarks, because I'm seeing some rather large improvements and regressions with those changes depending on config, compared to without the changes with the same configs.

[2020-04-09 05:27] layomia commented on #30947
This is fixed for 5.0 following https://github.com/dotnet/runtime/pull/32006.

[2020-04-09 05:27] #30947 closed

[2020-04-09 05:30] wfurt commented on #34080
I will take a look. It should be reasonably easy to see if this is deferred collection or of there is real like - that would be probably in the PAL layer that is quite distinct on OSX.

[2020-04-09 05:46] svick commented on #34648
@Maoni0

My assumption (based on what you're saying, an incorrect one) was that you would want to call `GetGCInfo()` after every GC. But the best way to do that that I could find is `WaitForFullGCComplete()`, which does not notify about concurrent GCs. So, if you called `GetGCInfo()` after every `WaitForFullGCComplete()` notification, you would not get information about concurrent GCs.

If it's un

[2020-04-09 05:47] ericstj commented on #34715
I put up a couple PRs to fix this.  Oddly we were still building all the RID-specific versions of this package, but not the meta-package which references them.

[2020-04-09 06:19] mjsabby commented on #34648
@svick this API is in the same vein as a few others like [ThreadPool.ThreadCount](https://docs.microsoft.com/en-us/dotnet/api/system.threading.threadpool.threadcount?view=netcore-3.1) or [Process.WorkingSet64](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.process.workingset64?view=netcore-3.1) that give you the state of (in this case the last the GC) information at sample/observat

[2020-04-09 07:02] svick commented on #34648
@mjsabby Except some of the proposed members don't work like that. For example, if you check `GC.GetGCInfo().GeneralInfo.CommittedBytes` every X seconds, you will indeed get a good picture of how that value changes over time. But getting a similar picture based on calling e.g.  `GC.GetGCInfo().GeneralInfo.Generation` or `GC.GetGCInfo().PromotionInfo.PromotedBytes` every X seconds is harder, becaus

[2020-04-09 07:09] Maoni0 commented on #34648
all info is based on last GC.

[2020-04-09 07:56] MaximLipnin opened #34748 "[mono] Tests failed on windows: System.Runtime.InteropServices.Tests"
A lot of `System.Runtime.InteropServices.Tests` tests fail on windows.

The example of CI output :
[code]
The failing tests will be mark with `ActiveIssue` in https://github.com/dotnet/runtime/pull/32592.

[2020-04-09 08:11] janvorli commented on #33374
@guesshe do all PAL tests pass now? If they don't, there is not much sense in trying to run corerun. Btw, maybe you do that, but until you get everything running, I would recommend running it under gdb (or lldb if you have one on QNX). It is very unlikely to figure out problems just by executing the code and reasoning based on the crash code. You'll need to view the stack trace, local variables, e

[2020-04-09 08:47] abelbraaksma commented on #34688
@safern thanks for the quick update!

[2020-04-09 08:51] MaximLipnin opened #34749 "[mono] Tests failed on windows: System.Runtime.InteropServices.WindowsRuntime.Tests"
`System.Runtime.InteropServices.WindowsRuntime.Tests` tests fail on windows mostly with `System.PlatformNotSupportedException : Operation is not supported on this platform.`

The following tests classes/methods will be marked with `ActiveIssue` in https://github.com/dotnet/runtime/pull/32592:
- System.Runtime.InteropServices.WindowsRuntime.Tests.EventRegistrationTokenTableTests
- System.Runtime.In

[2020-04-09 09:14] BrzVlad opened #34750 "Add support for removing dead branches in mono interpreter"
The mono interpreter currently does constant folding, but conditional branches are never optimized away. Optimizing them is particularly useful in various bcl places, like Span, where there are many checks with results known at jit compile time. (ex `Sizeof<T> == ct`, `typeof(T) == ct`, `feature.IsSupported` etc)

[2020-04-09 09:18] BrzVlad opened #34751 "Optimize vector operations in mono interpreter"
On the set of microbenchmarks from dotnet/performance, the interpreter behaves by far the slowest on vector related benchmarks. This slowness has repercussions also on other parts of the bcl, mainly Span. Initial improvement might come once https://github.com/dotnet/runtime/issues/34750 is addressed.

Slowest microbenchmarks on interpreter, compared to mono jit, all seem to be vector related :

Be

[2020-04-09 09:20] BrzVlad commented on #33232
Much of the slowness here has been addressed. Closing this in detriment of more specific issues https://github.com/dotnet/runtime/issues/34750 and https://github.com/dotnet/runtime/issues/34751

[2020-04-09 09:20] #33232 closed

[2020-04-09 09:30] ManickaP commented on #33510
Yesterday, I did clean build (after `git clean -dfx`).

I did some remeasuring today. It took **35 minutes** today (clean build). The additional time can be traced back to write timestamps of my nuget packages (as @safern suggested) which spans about 10 minutes:
[code]
I also noticed that the initial download done by `dotnet-install.ps1` (~180MB) takes about **8 minutes**. While downloading the sa

[2020-04-09 09:46] MaximLipnin opened #34753 "[mono] Tests failed on windows: System.Runtime.Serialization.Formatters.Tests"
A couple of `System.Runtime.Serialization.Formatters.Tests` fail on windows with `exit code -1073740791`:
- System.Runtime.Serialization.Formatters.Tests.RoundtripManyObjectsInOneStream
- System.Runtime.Serialization.Formatters.Tests.ValidateBasicObjectsRoundtrip

They will be marked with `ActiveIssue` in https://github.com/dotnet/runtime/pull/32592.

[2020-04-09 10:05] MaximLipnin opened #34755 "[mono] Tests failed on windows: System.ComponentModel.TypeConverterTests.ImageConverterTest"
`System.ComponentModel.TypeConverterTests.ImageConverterTest` tests fail on windows with `exit code -1073740791`.
They will be marked with `ActiveIssue` in https://github.com/dotnet/runtime/pull/32592.

[2020-04-09 10:22] Romanx commented on #31645
Hey,

The results from `dotnet --info` is:
[code]

I was running VS `16.5.3` but then remembered the post for preview 2 saying you have to use the preview VS so installed that so tried with `16.6 Preview 2.1` although had to open it manually since `./build -vs System.Text.Json` didn't open with preview

After building in 16.6 the ref project errors went away but the test error looking for the dll

[2020-04-09 10:37] lateralusX commented on #34068
Looking at ECMA spec it says:

The class that the VES creates for arrays contains several methods whose implementation is supplied
by the VES:

- A constructor that takes a sequence of int32 arguments, one for each dimension of the array, that specify the number of elements in each dimension beginning with the first dimension. A lower bound of zero is assumed.
- A constructor that takes twice as m

[2020-04-09 10:47] vitek-karas commented on #33861
/cc @marek-safar

[2020-04-09 10:52] vitek-karas commented on #33862
/cc @marek-safar

[2020-04-09 11:23] ManickaP commented on #33510
@akoeplinger mono build is quite faster! 👍
22 minutes including the initial download, 12 minutes reported by the build. Since the libraries themselves take around 10 minutes it means that mono is build much much faster than clr! I'd have to rerun it for just runtimes but my guesstimate is that mono build is 5-7 times faster than clr.

[2020-04-09 11:30] janvorli commented on #34515
@igoldin74 I am sorry for the delay. What you have shared is not a core dump, core dump would be hundreds of megabytes large.
To get core dump, you'd need execute `ulimit -c unlimited` from a command line and then start VS from the same command line. After it crashes, the core file should get created in `/cores/` directory, named core.PID where the PID is a process id of the crashed process.

[2020-04-09 11:38] marek-safar commented on #34360
In general, MonoVM does not support COM on any platform. Whether it's better to exclude this test with feature described as COM or smaller one is one of the reasons why I think your team would be better to handle this as they have a broader view on all possible combinations.

[2020-04-09 11:53] MichielDG opened #34758 "Png is an unknown media type in MediaTypeNames"
In the class `System.Net.Mime.MediaTypeNames.Image` png does not exist.

## Motivation
Png is a standaard image type that is widely used.

Existing class: https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Mail/ref/System.Net.Mail.cs#L314-L339

## Proposed Solution
[code]

[2020-04-09 12:00] TamarChristinaArm commented on #24784
@echesakovMSFT Yeah, that's correct. these do need updating.

[2020-04-09 12:24] TobiasKoller commented on #18527
I had to load multiple assemblies and all its dependend assemblies (local and nuget) in a custom context because each assembly could have references to an assembly with different versions.

I first tried to load each assembly by using `DependencyContext.Load(myassembly)` but this returned always `null` which drove me crazy :-).

So I figured out that `DependencyContext.Load(myassembly)` only retur

[2020-04-09 12:31] ramsubbaraoc opened #34761 "SslStream throws badly formatted message exception when using TLS1.3"
How should we set the the signature algorithm for using TLS1.3. There is a difference the way client behaves for TLS1.2 and TLS1.3. I was told that the client has to set the signature algorithm to RSAPSS. How do we achieve this using SSlstream class in c#.I have received the following from the server team. They say "signature algorithm list in the message coming from the client (client hello messa

[2020-04-09 12:53] glatzert commented on #29935
I'm not 100% positive it's the same issue, but it sounds similar.
We are trying to access an SMB-Share while beeing impersonated and get AccessDenied-Exceptions on the share itself.

Inspecting the problem with ProcMon and WireShark showed, that there is no attempt made to get the S4U-Token in such a way it would be acceptable by the target server.
An older .NET Full application doing something si

[2020-04-09 13:24] TamarChristinaArm commented on #34732
Hmm I wouldn't add yet another indirection here with the literal pool. I'm assuming that the address it's building is the address of the managed heap?

[code]

Since it's loading an address into `x0` and then load a value based on that address.
So isn't `0x6543c2fecc8` the address of a value in the heap?

You don't need this if it kept the value live longer. I think this is what you meant with `no

[2020-04-09 13:30] guesshe commented on #33374
@janvorli Thanks! The only crash I saw is strlen and thread priority. I think strlen is fine but thread priority might be an issue. I am setting up debugger at the same time. I am trying to get the dump and reload on host gdb tool. Had a version conflict issue yesterday. Will try to resolve it today. I got some help from our lead developer regarding this crash. he said the qcc compiler supports tr

[2020-04-09 13:37] janvorli commented on #33374
We don't call such a function directly from our code and when I've googled for it, it seems it comes from usage of register_tm_clones function that we also don't use. So I guess it comes from the standard C library or something like that.

[2020-04-09 14:15] lateralusX commented on #34068
https://github.com/mono/mono/pull/19494.

[2020-04-09 14:20] banditoth opened #34765 "Dictionary ToArray throws System.ArgumentException in Mono"
Exception message:
`
[DB_LOGGER][EXCEPTION][2020. 04. 09. 15:36:20]: PollFactory at MainExecute: Main executing failed, exception occured | System.ArgumentException: Destination array is not long enough to copy all the items in the collection. Check array index and length.
  at System.Collections.Generic.Dictionary`2[TKey,TValue].CopyTo (System.Collections.Generic.KeyValuePair`2[TKey,TValue][] arr

[2020-04-09 14:43] davidsh commented on #34761
What OS are you using? Windows or Linux?

Windows does not yet fully support TLS 1.3.

[2020-04-09 14:47] guesshe commented on #33374
@janvorli Thanks! I got some feedback from our kernel developer. Hopefully it will help with understanding the issue.
QNX does not use transactional memory so it has nothing to do with libc.

There is a weak function _ITM_registerTMCloneTable() that gets called by
register_tm_clones() in libgcc (the compiler's supplied runtime
library). Because it's a weak symbol, it's OK to not resolve it and the

[2020-04-09 15:06] #34657 closed

[2020-04-09 15:09] vcsjones commented on #34765
I suspect you are reading (`ToArray`) and writing (`AddPollTask`, `RemovePollTask`) to the dictionary from another thread. The `Dictionary` class is not thread safe - when you are adding things to the dictionary and the underlying array needs to grow, and that happens at the same time you are reading with `ToArray`, the internal state will be inconsistent.

A more minimal example might be somethin

[2020-04-09 15:16] sdmaclea commented on #34732
+ The literal pool contaminates the DCache with data from the instructions.
+ Literal pools are often not packed well so the cache will not be used efficiently
+ The literal pool stresses the Load/Store side of the processor. So it would perform worse in Load/Store bound situations
+ The mov/movk are nearly free from an execution standpoint.  They can be executed early in the processor and will ra

[2020-04-09 15:18] sdmaclea commented on #34732
I thought I had added `movn` to the `mov`/`movk` mix.  It helped a bit with code density with negative constants.

[2020-04-09 15:33] MaximLipnin opened #34768 "[mono] Tests failed on windows: System.Runtime.WindowsRuntime.Tests"
There are test failures in `System.Runtime.WindowsRuntime.Tests` on windows.

[code]
The following test classes will be marked with `ActiveIssue` in https://github.com/dotnet/runtime/pull/32592:
- System.Runtime.InteropServices.WindowsRuntime.Tests.WindowsRuntimeBufferExtensionsTests
- System.Runtime.InteropServices.WindowsRuntime.Tests.WindowsRuntimeBufferTests

[2020-04-09 15:35] scalablecory commented on #34758
Duplicate of #1489

[2020-04-09 15:35] #34758 closed

[2020-04-09 15:36] TamarChristinaArm commented on #34732
Is there no support for relocations?

[2020-04-09 15:47] jaredpar commented on #34015
@donJoseLuis I dug through the build logs here. It seems the remaining SDK installation issues are specific to ARM. Guessing that means it has to do with the distro / image being used here.

[2020-04-09 15:54] #34606 closed

[2020-04-09 16:11] wfurt commented on #34761
On Windows this needs to be enabled via registry as well you need very recent version. As @davidsh it is not  officially supported yet at Windows layer. It may be helpful if you post minimal repro you are using. It may be also worth of trying daily builds https://github.com/dotnet/installeras there were some recent fixes for TLS1.3 on windows.
Last part would be packet capture of the handshake.

[2020-04-09 16:17] NikolaMilosavljevic commented on #33672
Hi @SchoolGuy , I got a notification that a feature request in Jira was created - thank you!

It seems that Jira is internal - is there a way to get notifications of status changes or contribute to discussion?

[2020-04-09 16:17] wfurt commented on #33708
did you get the packet capture @akashlimbani ?

[2020-04-09 16:18] ramsubbaraoc commented on #34761
It is on Windows 10 and the ciphers related to TLS1.3 exists in the windows group policy. It is for testing purpose only.
https://devblogs.microsoft.com/premier-developer/microsoft-tls-1-3-support-reference/

[2020-04-09 16:19] janvorli commented on #33374
No, there is nothing like that. However, looking again at the error
`ip=000000010108352d(/mnt/river/tmp/libcoreclr.so@registerTMCloneTable+0x00000000000118b2`, I've just realized it has probably nothing to do with that symbol. The offset (0x00000000000118b2) is too far away from that symbol to be in the same function. I think that what happens is that it fails at some place where there are no symb

[2020-04-09 16:22] SchoolGuy commented on #33672
@NikolaMilosavljevic It is Internal and for Partners. There are MS Employees who have accounts since MS has partner status as far as I know. So you just need to find the person responsible for the communication with SUSE. They can ask for an account inside Jira for you. We do not grant anyone an account automatically since Atlassian and Plugin Vendors are billing by the number of accounts register

[2020-04-09 16:23] #31201 closed

[2020-04-09 16:26] wfurt commented on #34761
That article states it is for testing only. The functionality (and bugs) change a lot based on build number. Windows 10 is still pretty wide range. It would be best for this purpose if you have access to some preview versions.

It is not just about the ciphers. You will still need https://stackoverflow.com/questions/56072561/how-to-enable-tls-1-3-in-windows-10
In packet capture you should see list

[2020-04-09 16:43] ramsubbaraoc commented on #34761
Yes i had set the keys in the registry.I am testing it on Windows 10 Version 1909.Will capture packet and see.

[2020-04-09 16:48] ericstj opened #34770 "LLVM product build failing on retry"
Rerun caused failure in mono LLVM leg due to duplicate artifact publish:
[code]
I believe that's a bug in the yml. @directhex

Similar bug here: https://github.com/dotnet/runtime/pull/33446#issuecomment-598833492

PR: https://github.com/dotnet/runtime/pull/34738
Build: https://dev.azure.com/dnceng/public/_build/results?buildId=594294

[2020-04-09 16:48] guesshe commented on #33374
Thanks! I will first fix the thread priority issue and then put this bin in
gdb and debug. Do you think the strlen is also related? I am not sure if i
can fix the strlen, it might be some limited supoort issue.

Regards

River He

On Thu., Apr. 9, 2020, 12:20 Jan Vorlicek, <notifications@github.com> wrote:

[2020-04-09 16:52] safern commented on #34770
The build didn't fail per se. That step just warns as it is just publishing the logs. I think the right fix here is that for all UploadPipelineArtifacts task, we append the attempt number to the artifact name. We can get that using `System.JobAttempt` predefined variable in azure devops.

[2020-04-09 16:57] directhex commented on #34770
I don't see how this is similar to #33446 - the artifact name is duplicated because it _is_ duplicated. We upload logs on success _or_ failure, so we _did_ upload the logs in the failing first attempt - https://dev.azure.com/dnceng/public/_build/results?buildId=594294&view=logs&j=a9d8e986-d894-500e-79d4-4a88b1039057&s=d654deb9-056d-50a2-1717-90c08683d50a&t=6cfa02a4-b4fa-5b23-5734-5ed4f287fa17&l=1

[2020-04-09 16:58] safern commented on #33510
I don't know what `ProgressReference = 'SilentlyContinue` will do, but yeah it might be worth opening an issue there to improve those times.

By the way, if you install the same version of dotnet SDK that we specify [here](https://github.com/dotnet/runtime/blob/master/global.json#L8) in your machine and it is on the PATH, the build will skip the install step, so that is another workaround at the m

[2020-04-09 17:03] janvorli commented on #34711
That's correct. And it is not a .NET problem and it is unrelated to propagation env variables settings into the system, setting LD_LIBRARY_PATH has effect only before a process launch for any application written in any language. That's how the dynamic linker works.

[2020-04-09 17:10] banditoth commented on #34765
Your scenario can be valid for the usage of my PollFactory.
Thank you for your fast reply, and exact solution for the problem.
Also sorry for the interrupt.
I'm closing this ticket, MSDN has the documentation for thread safety for Dictionaries (https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.dictionary-2?view=netframework-4.8#thread-safety)

Have a great day, and be safe in

[2020-04-09 17:10] #34765 closed

[2020-04-09 17:12] ericstj commented on #34770
Yep, I think you're right.  Given this is just a non-failing warning on retry I'm going to close this.  Sorry for the noise.

[2020-04-09 17:12] #34770 closed

[2020-04-09 17:13] GKotfis commented on #31269
I've a problems with my dev environment and that stops me.
I'm working on external usb drive and it's unstable (probably problem with hdd usb controler).
Currently cannot even run a benchmark:
[code]

Have a problem also with build runtime:
[code]
But still would like to continue work on this ticket. Just need to overcome this problems.

[2020-04-09 17:13] janvorli commented on #33374
I don't see why something as simple as strlen should be problematic, so it seems we end up getting wrong character pointer (maybe a NULL) somewhere and passing it to the strlen later. So the strlen failing is just an indicator of a problem somewhere else.

[2020-04-09 17:15] BruceForstall commented on #34734
This also fails on Windows, without the distracting crashes/errors at the top of the log:
[code]

[2020-04-09 17:16] danmosemsft commented on #31269
@adamsitnik can probably help with this when he's back next week.

[2020-04-09 17:17] danmosemsft commented on #31269
Actually for the Benchmark.NET runtime issue, you may want to open an issue in dotnet/performance since it seems more about that than this issue.

[2020-04-09 17:18] mrj001 commented on #34612
There's been a change in the build script (-subsetCategory is no longer available).  My new build commands are:

[code]
When I then build the solution in Visual Studio, I get the following output (with numerous similar errors removed for clarity:

The System.Private.Xml project file referenced in the first error contains the following:

I changed it to:

This changed the initial error to:

Accompa

[2020-04-09 17:22] karelz commented on #34758
Thanks for your suggestion @MichielDG -- mainly we want to prevent adding ad-hoc enum names based on anecdotal data (i.e. somebody finds it useful, or some specification uses it somewhere).
We would like to have some usage-driven approach to add the most interesting/important ones - see https://github.com/dotnet/runtime/issues/1489#issuecomment-537625716

If you are passionate about image type nam

[2020-04-09 17:26] BruceForstall commented on #34734
@davidwrighton @dotnet/crossgen-contrib This is a JIT assert, but it's in the importer. Potentially the VM (crossgen2) is passing an illegal type? Would it be better to have someone on the crossgen2 team do a first level investigation of this before the JIT team takes a look? It might be faster.

[2020-04-09 17:28] tannergooding commented on #34394
Thanks @eanova, no concerns on my end so I've assigned it out.

Feel free to let me know if you have any questions, comments, concerns!

[2020-04-09 17:41] andrii-litvinov opened #50017 "Health checks dont run when other IHostedServices are registered as singleton of IEnumerable<IHostedService>"
When I register other hosted services as `IEnumerable<IHostedService>` health checks don't run:
[code]

The way to workaroud it for both .net core 2.2 and 3.1 is to register hosted services as follows:
[code]

Though while preparing the MRE I discovered that plain array works 🙂:
[code]

[2020-04-09 17:43] mharrisn opened #34785 "JWT Bearer Tokens Fail with IDX20803 in 3.1.x on macOS 10.15.4"
# Issue Title

I recently upgraded a .Net 2.1 Web API Project to 3.1 and API now throws an error every time I attempt to make a call with an Authorization header when debugging on my mac OS development machine. The code executes fine when debugging or deployed to Windows.

# General

While inspecting the debug console there is a fairly common pattern.  This issue did not exist using .Net Core 2.x

[2020-04-09 17:44] tannergooding commented on #34714
We should likely have another that takes 2 arguments for use with `SHUFPD` (`_MM_SHUFFLE2` in C++). It may be worth a convenience overload for `PSHUB` which just calls `Vector128.Create(byte, byte, ..., byte)` (discoverability).

I'm not sure if `CreateShuffleMask` is the "best" name. The mask is also used for permutes and other instructions. I don't have a proposed alternative but `CreateShuffleM

[2020-04-09 17:46] eerhardt commented on #33862
I think I understand @stephentoub's position better here, and agree that we shouldn't have a single `[LinkerUnfriendly]` attribute. But instead, we should express what "capability" the code requires and create different attributes for each of those capabilities.

For example, we could have an attribute like `[RequiresDynamicCode]` that we could add to anything that uses `Reflection.Emit`. This is

[2020-04-09 17:58] thomaslevesque opened #34773 "Inject service into JsonConverter"
I have a converter that needs to access a service from the DI container. How can I do that?

I know I could create the converter in a `IConfigureOptions<JsonOptions>` and globally add it to the `JsonSerializerOptions`, but then it would apply everywhere, which I don't want. I want to apply it with an attribute.

Is there a way to inject a service into a converter?

I guess not, especially since th

[2020-04-09 18:03] thomaslevesque commented on #34773
Or, even better: add a property like this to `JsonSerializerOptions`:

[code]
And use it when constructing instances of converter specified with `JsonConverterAttribute`.

[2020-04-09 18:04] danmosemsft commented on #34582
I am interested in this too as it helps us understand what to do about these mono-on-Windows bugs. My assumption is that there is value in getting this test pass clean, regardless.

cc @steveisok

[2020-04-09 18:05] CarolEidt commented on #34732
The register allocator attempts to reuse constants within a `BasicBlock` but it has no notion of reusing a partial constant - i.e. if we have the same high bits in one constant as another, we could in theory avoid redefining those high bits, but that would require a different kind of analysis, and some way to communicate the partial-reuse state of these constants.

[2020-04-09 18:11] michkot commented on #34641
In the https://github.com/dotnet/runtime/issues/32094#issuecomment-585900405 it's a generic method body. Here, in the second example, it is method in a generic class that (might) call another method of the same class. Does it make a difference?

Why am I asking: The think that catches my eye is that the x64 version is short when the eliminated call is non-generic (first example). If the eliminated

[2020-04-09 18:13] elinor-fung commented on #3584
Same root issue as #2320

[2020-04-09 18:13] #3584 closed

[2020-04-09 18:14] AndyAyersMS commented on #10048
Looks like we could remove this block, but broadly speaking it looks like all that happens is that we increase code size -- knock-on benefits seem to be rare. Part of this is that the inlinee still ends up with a call, one that we can't inline, and with a calling sequence is usually more complex than the call to the inlinee.

Delegate invoke is not all that frequent, so net regression is small, bu

[2020-04-09 18:15] gfoidl commented on #34714
I agree with @tannergooding. Within .NET it should be consistent and it's a easy mental tranistion.
Having some APIs starting at 0, others ending at 0 feels awkward.

The same would apply to `_MM_SHUFFLE`. I think it's fine to have a "link" in the name to the C++ macro.

[2020-04-09 18:16] am11 opened #34776 "Run PAL tests in CI"
We used to run PAL tests on every PR, somehow this got broken in the past and it is not clean to me when.

_Originally posted by @janvorli in https://github.com/dotnet/runtime/pull/34710_

---

Other notes:

* PAL tests build is currently failing on macOS.
* Given PAL tests are useful for new platforms bring up, where msbuild/dotnet(1) is not available; we should consider:
  * adding an option in

[2020-04-09 18:18] jeffschwMSFT commented on #34722
@tommcdon

[2020-04-09 18:20] tannergooding commented on #34714
Right, the difference here though is that `_MM_SHUFFLE` was designed when `SSE` was the only thing around.
`Permute` wasn't introduced until much later and just happens to take the same mask/control input.

If someone has a good name suggestion, we might be interested in taking that instead. Otherwise, it's probably not a big deal and people can figure it out (or we can also propose `CreatePermute

[2020-04-09 18:21] NikolaMilosavljevic opened #34778 "Update license acceptance UI to achieve explicit assent"
.NET installer UI needs to be updated to achieve explicit physical assent of license information.

Specific information will be added to this issue.

[2020-04-09 18:22] guesshe commented on #34776
When I notice this issue, I set CLR_CMAKE_BUILD_TESTS in my CMake toolchain file. For each sub-project, I am currently maintain a toolchain file. I found it is flexible for me to do something in the toolchain file instead of modifying CMakeList.txt file that belongs to the folder.

[2020-04-09 18:22] layomia opened #34779 "Examine JsonSerializer behavior for ref structs & pointers"
Related - https://github.com/dotnet/runtime/pull/34777.

We should detect these types and fail gracefully rather than leaking exceptions from lower level APIs like `Type.MakeGenericType`.

[2020-04-09 18:22] VSadov commented on #13731
Resolved in https://github.com/dotnet/runtime/pull/34549

[2020-04-09 18:22] #13731 closed

[2020-04-09 18:23] BruceForstall opened #34780 "Out of disk space building on Docker NanoServer"
stress-http and stress-ssl jobs are failing to build due to out of disk space, e.g.:
[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=592971&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=abae1f68-3c73-5bff-491f-f2b908580ce6

https://dev.azure.com/dnceng/public/_build/results?buildId=592970&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=abae1f68-3c73-5bff-491f-f2b908580ce

[2020-04-09 18:23] VSadov commented on #13733
Resolved in https://github.com/dotnet/runtime/pull/34567

[2020-04-09 18:23] #13733 closed

[2020-04-09 18:24] am11 commented on #34776
You can simply run:

[code]

without modifying any file. But adding formal option in the script for PAL tests would be good (internally which can translate to the above).

[2020-04-09 18:25] tommcdon commented on #34722
Looks like an expression evaluator issue.  @tmat can you help route this?

[2020-04-09 18:27] jaredpar commented on #34780
@MattGal

[2020-04-09 18:31] danmosemsft commented on #34768
Should WinRT on Mono be a scenario we support (@jkotas?)

[2020-04-09 18:33] danmosemsft commented on #34761
@davidsh did the bot's tagging of @dotnet/ncl above successfully subscribe you? since I see it's not bolded, for some reason.

[2020-04-09 18:33] danmosemsft commented on #34748
@MaximLipnin is COM Interop is not supported on this platform expected - doesn't Mono support COM interop?

[2020-04-09 18:41] mrj001 opened #34782 "build.cmd accepting invalid values for -c"
I was able to run the following to build this morning.

[code]

When I tried to run "dotnet" from a library folder, I got this error;

I thought the only valid values for -c for the libraries were "Release" and "Debug".  So it should not accept "Checked".

So I tried this from the reporoot:

This was accepted.  I interrupted the build, and the following folder was found:
artifacts/bin/coreclr/Wind

[2020-04-09 18:43] davidsh commented on #34761
I'm part of dotnet/ncl group.

[2020-04-09 18:46] wfurt commented on #34761
same for me. It did get on my radar when ncl was tagged.

[2020-04-09 18:51] adamsitnik commented on #33669
I have no idea how I could provide a link to a wrong repo... Apologies for that!
I am glad that you got it working!

To tell the long story short, I am planning to create a very simple kestrel transport that has fewer features but is much faster due to lack of the extra overhead.

I've just sent a PR with hopefully a final version of it: https://github.com/aspnet/Benchmarks/pull/1480

I am going t

[2020-04-09 18:52] saucecontrol commented on #34714
I'd just go with `CreateByteMask` or `CreateMaskByte`.  We'll have larger masks if we ever implement AVX-512.  And things like `blendps` also take a byte mask, so making explicit names for each mask purpose could get out of hand.

And agree on the order.  Actual vector order makes way more sense for the masks.  I find when porting code, it's super easy to translate _MM_SHUFFLE to a binary literal,

[2020-04-09 18:52] sdmaclea commented on #34732
There is some support.  I am not sure how extensive it is. It would require relocation table entries which would bloat/complicate the code and slow loading.  The relocation table would require making the loaded code writable, not share with other processes, and run relocation code.  It could be expensive from a memory usage perspective.

That was why I guessed it would work better for live JIT in

[2020-04-09 18:59] omajid commented on #854
FWIW, this should have been fixed by https://github.com/dotnet/runtime/pull/34334 (aside from any new features, like Pressure Stall Information, like mentioned above).

[2020-04-09 19:00] MaximLipnin commented on #34748
@danmosemsft Thanks for taking a look. I'm not sure about Mono's support in this case. What I can do in such cases is to track down possible reason, but because the number of disabled tests/classes/namespaces that I need to check within [my work for removing rsp files](https://github.com/dotnet/runtime/pull/32592) is quite big, it can take long time to investigate. So I just file a tracking issue

[2020-04-09 19:09] ayende opened #34783 "float handling differences between .NET Core and Framework"
The following code gives different results on .NET Core and Framework:

[code]

.NET Framework:
[code]

.NET Core:

[code]

For fun, C++ gives the following:

[code]

Shouldn't it be same?

[2020-04-09 19:10] AndyAyersMS commented on #34641
I took a closer look at the second case and we should actually be able to remove the context reporting. There are two conditions in which we report the context (store it to the stack) -- either if the context is used somewhere in the method, or if the VM requests that the jit report the context.

In the second example the VM does not request reporting. Initially the context looks like it is used b

[2020-04-09 19:18] pranavkm commented on #34773
If the intent is to configure it on a per-callsite basis, couldn't the application code resolve the converter from DI?

[2020-04-09 19:26] MattGal commented on #34780
Hi guys.

First I want to say I'm impressed you filled the whole disk in only 24 minutes, that's impressive. Also, there's nothing about the 2nd job that says disk space full, just a 2 hour timeout?

Anyways, I've had conversations with the MMS folks recently around similar issues in MacOS hosted pools, and I learned that the amount of free space goes up and down randomly with the payloads install

[2020-04-09 19:28] jkotas commented on #34783
cc @tannergooding

[2020-04-09 19:29] VictorioBerra commented on #30255
Another thing, @rodion-m `Utf8Parser.TryParse` returns false for `""`. Which will throw. Before, sending `""` in JSON for a number worked just fine. Your code, and the new .NET 5 fix should account for this.

[2020-04-09 19:40] vcsjones commented on #33744
@joshlang

This has been fixed. I don't believe the fixes made the cut for preview3, but I did confirm that your original repro works with the latest nightly on Linux.

This limitation has been removed. An EC private key that does not contain Q but does contain D will now work, and Q will be re-derived by the platform as needed.

[2020-04-09 19:43] joshlang commented on #33744
@vcsjones Thanks!  I saw the pull request close yesterday, with much excitement :D  I kept refreshing nuget to see if preview3 was out.

Alas, I'll be patient and wait for the next one!

Thanks for taking care of this.

[2020-04-09 19:59] thomaslevesque commented on #34773
@pranavkm no, it's not per-callsite. For instance if have a type like this:

[code]

I can't just add `MyCustomConverter` to `JsonSerializerOptions.Converters`, because it would apply to all `int` properties, which I don't want. So I *have* to use the attribute, but if I do that I have no way to inject a service into the converter.

[2020-04-09 20:00] tannergooding commented on #34783
Computer floating-point (including but not limited to `float`, `double`, and even `decimal`) math does not work like normal math. Given that it doesn't have infinite precision, `(a + b) + c` and `a + (b + c)` may return different results.
This is because after each "operation" the result must be rounded to fit within the confines of the type.

Additionally, due to the underlying representation, no

[2020-04-09 20:08] swaroop-sridhar commented on #34712
@SourceSkyBoxer are you trying to publish a library as a single file?
That's not supported.

`PublishSingleFile=true` requires
* `targetframework=` `netcoreapp3.0` or `netcoreapp3.1`,
* `OutputType=Exe`
* `UseApppHost=true`

[2020-04-09 20:09] swaroop-sridhar commented on #34712
@wli3  I think this issue should have remained in SDK, since this is a publish time concern.

[2020-04-09 20:17] sdmaclea commented on #34508
This note is in eng/pipelines/coreclr/templates/build-test-job.yml
[code]
There is a small finite set of tests which depend on `internal` APIs in `System.Private.Corelib`.  I think this set is ~10 tests. They are controlled by a meta-data flag which I don't remember, but @AndyAyersMS pointed me to in 2017-18. I am not sure a reference assembly would be sufficient.

This may reduce the benefit of t

[2020-04-09 20:20] speshuric commented on #32559
Why this code written as
[code]
instead of
[code]

[2020-04-09 20:26] jamsoftperu commented on #1946
I use this....
/// <summary>
        ///
        /// </summary>
        /// <param name="source"></param>
        /// <param name="degreeOfParallelism"></param>
        /// <param name="body"></param>
        /// <param name="token"></param>
        /// <typeparam name="T"></typeparam>
        /// <returns></returns>
        public static async System.Threading.Tasks.Task ForEachAsync<T>(this IEnu