[2020-11-05 04:28] Maoni0 commented on #43844
@tannergooding those are orthogonal features. the reason we haven't enabled alignment is just because we haven't had time due to other more urgent work. it's something I want to enable because it's clearly useful for some (very specific) scenarios. I know you care about it a lot 😃 it's in the queue... just haven't got there yet.

[2020-11-05 04:36] #2116 closed

[2020-11-05 05:53] v-haren opened #44275 "Test failure: GC\\Regressions\\v2.0-rtm\\494226\\494226\\494226.cmd"
failed in job: [runtime-coreclr outerloop 20201104.6 ](https://dev.azure.com/dnceng/public/_build/results?buildId=875915&view=ms.vss-test-web.build-test-results-tab&runId=28027526&resultId=109999&paneView=debug)

CoreCLR windows x64 Checked @ Windows.10.Amd64.Open

Error message
[code]

[2020-11-05 06:00] v-haren commented on #41929
failed again in job: [runtime-libraries-coreclr outerloop 20201104.3 ](https://dev.azure.com/dnceng/public/_build/results?buildId=875322&view=ms.vss-test-web.build-test-results-tab&runId=28002644&resultId=102678&paneView=debug)

failed test: System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2.Http2_PingKeepAlive(keepAlivePingDelay: 00:00:01, keepAlivePingPolicy: WithActiveRequests, expec

[2020-11-05 06:05] v-haren commented on #41531
failed again in job: [runtime-libraries-coreclr outerloop 20201104.3 ](https://dev.azure.com/dnceng/public/_build/results?buildId=875322&view=ms.vss-test-web.build-test-results-tab&runId=28002666&resultId=103775&paneView=debug)

failed test: System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_Cancellation_Test_Http2.PostAsync_Cancel_CancellationTokenPassedToContent(content: Strea

[2020-11-05 06:07] davmason commented on #44055
This test has been failing about once a day for a week or so now, I am investigating

[2020-11-05 06:11] v-haren opened #44276 "Test failure: System.Net.Http.Functional.Tests.SyncHttpHandler_HttpClientHandlerTest.GetAsync_ServerNeedsAuthAndNoCredential_StatusCodeUnauthorized"
failed in job: [ runtime-libraries-coreclr outerloop 20201104.3 ](https://dev.azure.com/dnceng/public/_build/results?buildId=875322&view=ms.vss-test-web.build-test-results-tab&runId=28002734&resultId=103156&paneView=debug)

net6.0-windows-Release-x86-CoreCLR_release-Windows.7.Amd64.Open

Error message
[code]

[2020-11-05 06:13] v-haren opened #44277 "Test failure: System.IO.Tests.FileSystemWatcher_Multiple_Test.FileSystemWatcher_File_Create_ForceLoopRestart(useExistingWatchers: True)"
failed in job: [runtime-libraries-coreclr outerloop 20201104.3 ](https://dev.azure.com/dnceng/public/_build/results?buildId=875322&view=ms.vss-test-web.build-test-results-tab&runId=28002120&resultId=102641&paneView=debug)

net6.0-OSX-Release-x64-CoreCLR_release-OSX.1014.Amd64.Open

Error message
[code]

[2020-11-05 06:24] v-haren commented on #44114
failed again in job: [ runtime-coreclr crossgen2-composite 20201103.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=875182&view=ms.vss-test-web.build-test-results-tab&runId=27998122&resultId=101103&paneView=debug)

failed test: Interop\\PInvoke\\Delegate\\DelegateTest\\DelegateTest.cmd

R2R-CG2 windows x86 Checked @ Windows.10.Amd64.Open

Error message
[code]

[2020-11-05 06:31] v-haren commented on #43572
failed again in job: [runtime-coreclr crossgen2-composite 20201103.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=875182&view=ms.vss-test-web.build-test-results-tab&runId=27997870&resultId=102596&paneView=debug)

failed test: JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_Part0_ro/AdvSimd_Part0_ro.sh

R2R-CG2 Linux arm64 Checked @ (Ubuntu.1804.Arm64.Open)Ubuntu.1804.Armarch.Open@mcr.mi

[2020-11-05 06:37] v-haren commented on #44055
failed again in job: [runtime-coreclr crossgen2-composite 20201103.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=875182&view=ms.vss-test-web.build-test-results-tab&runId=27997878&resultId=100008&paneView=debug)

failed test: profiler/elt/slowpatheltleave/slowpatheltleave.sh

R2R-CG2 Linux arm Checked @ (Ubuntu.1804.Arm32.Open)Ubuntu.1804.Armarch.Open@mcr.microsoft.com/dotnet-build

[2020-11-05 06:43] geoffkizer commented on #44276
That's very weird, but most likely a transient network issue.

[2020-11-05 06:51] hez2010 opened #44279 "Proposal: Logic Expressions Simplification for Performance"
# Proposal: Logic Expressions Simplification for Performance
There're several logically equivalent formulas which can be used for reducing logic expressions.

For instance,
| logic expression | applicable logic expressions |
| - | - |
| `a` | `!!a`, `a && a`, `a \|\| a`, `a \|\| (a && b)`, `a && (a \|\| b)`, `a \|\| false`, `a && true` |
| `false` | `false && a`, `a && (!a)` |
| `true` | `true \|\

[2020-11-05 07:18] tmds commented on #43349
I ran a few experiments which suggests the issue is in the rhel8 kernel.

[2020-11-05 07:29] geoffkizer commented on #43934
@antonfirsov Do you want to put together the actual API proposal?

[2020-11-05 07:30] geoffkizer commented on #43966
Is there any way we can confirm or deny that?

I've seen references in other projects about leveraging this optimization. (Of course, I can't find them at the moment...)

[2020-11-05 07:32] geoffkizer commented on #43385
Agreed, this seems like a case where RST definitely is the appropriate action.

[2020-11-05 07:44] tmds opened #44280 "Test failure: Microsoft.Extensions.Hosting.Tests.HostTests.CreateDefaultBuilder_ConfigJsonDoesReload"
Our internal Red Hat arm64 CI machine occasionally shows failures for this test:
[code]

Looking at what the test does, I guess multiple notifications may be triggered when the config file changes. Maybe at the first notification, the updated config file hasn't been completely written yet.

cc @omajid @RheaAyase

[2020-11-05 07:50] tmds opened #44281 "Test failure: Microsoft.Extensions.FileSystemGlobbing.Tests.FunctionalTests.StemCorrectWithDifferentWildCards"
Our internal Red Hat arm64 CI machine occasionally shows failures for this test:
[code]

From the output of the test failure it is not clear how the collections differ.

cc @omajid @RheaAyase

[2020-11-05 07:56] lateralusX commented on #36820
Added #43711 to list of tracked PR's.

[2020-11-05 08:09] mjsabby commented on #43844
Will regions be helpful in supporting safe memory mapped files as byte arrays?

[2020-11-05 08:11] tokotech commented on #44018
ok I give up.

[2020-11-05 09:22] njy commented on #44108
Ah, that's interesting. To me is kinda the same, but also it should release any _managed_ resources too, including the ones that they have "transitively".
Now some of them may be inside cache entries and to be disposed their "owner" (should be notified via a post eviction callback, just like it would be done by removing the entries manually.
I suppose the expectation (or better, probably **my** ex

[2020-11-05 09:27] PeterSolMS commented on #44250
@jkotas: I cannot access the dump at \\jkotas9\drops\issue-44250. Will try to repro locally.

[2020-11-05 09:38] njy commented on #44108
Also: in my current scenario I have complete control over the memory cache instance, and I control when it will be disposed, and I can do pretty much whatever I want.

Nonetheless I cannot correctly dispose the remaining entries in the cache before disposing the cache itself because the memory cache does not provide a way to iterate on all entries, so I cannot do proper cleanup.

I thought about c

[2020-11-05 09:50] am11 commented on #44279
Missing from EFCore, but desktop Entity Framework has DNF and CNF converters https://github.com/microsoft/referencesource/blob/3b1eaf5/System.Data.Entity/System/Data/Common/Utils/Boolean/Converter.cs and a way to find best solution among the choices https://github.com/microsoft/referencesource/blob/3b1eaf5/System.Data.Entity/System/Data/Common/Utils/Boolean/BoolExpr.cs#L82. LINQ expressions can ma

[2020-11-05 09:55] mattdarwin commented on #33388
me too please.  maybe we should be able to vote on these issue so you can see how much demand there is for this fix.

[2020-11-05 09:56] rolfbjarne opened #44284 "MonoVM/iOS: libmonosgen-2.0.dylib has dylib version 0.0.0"
## Description

The dylib version for 6.0 is 0.0.0:

[code]

when for 5.0 it was 2.0.0:

[code]

### Regression?

Yes

[2020-11-05 09:56] rolfbjarne commented on #44284
CC @akoeplinger

[2020-11-05 10:17] svick commented on #33388
@mattdarwin

You can, you do that but giving the issue the "+1" (👍) reaction.

[2020-11-05 11:13] KalleOlaviNiemitalo commented on #43795
@ANahr, is the .NET 5 ListSeparator actually wrong for Excel COM interop? I expect this scenario would always use CultureInfo.CurrentCulture rather than look up a culture by name; then, TextInfo.ListSeparator gets the user override from \[HKEY_CURRENT_USER\Control Panel\International\] `sList` instead of using the CLDR data, so I think it will match what Excel uses. Does your application run on a

[2020-11-05 11:17] krwq opened #44287 "XNodeReader.GetAttribute(int) should throw on invalid indices"
Note: this class is internal but this method is accessible through XmlReader's public surface which can be created with i.e. XNode.CreateReader.

All XmlReader implementations except XNodeReader throw ArgumentOutOfRangeException on invalid indices. This specific class returns null though. Documentation of XmlReader says that ArgumentOutOfRange is expected behavior.

Also same method returns null w

[2020-11-05 11:20] krwq commented on #44287
I think we should fix this for consistency but there is no urgency here considering this issue has been there for years and no one has complained.

[2020-11-05 11:54] krwq opened #44288 "OleDbConnectionInternal.BuildInfoLiterals should return non-null"
This method itself is internal but it affects annotations of couple of public methods.

OleDbConnectionInternal.BuildInfoLiterals code suggests that:

[code]

is likely a dead code since dbInfo is annotated as non-nullable which suggests this method will never return null.

Found when applying nullable annotations

[2020-11-05 12:02] danmosemsft commented on #44281
Needs better logging

[2020-11-05 12:05] krwq opened #44289 "OdbcConnection.ServerVersion may return null but docs says it will throw or return "" instead"
See docs: https://docs.microsoft.com/en-us/dotnet/api/system.data.odbc.odbcconnection.serverversion?view=dotnet-plat-ext-3.1

but implementation OdbcConnectionOpen.ServerVersion will return null in some cases.

Either docs or implementation should be fixed here.

Found when applying nullable annotations

[2020-11-05 12:21] stephentoub commented on #44272
ManagedWebSocket.Abort works by disposing the Stream it wraps,  and it expects that will interrupt any pending operations.  @halter73, we've talked about this case with Kestrel in the past; was the stream Kestrel provides ever fixed to do that?

[2020-11-05 12:30] krwq opened #44292 "ValidationAttribute.SetResourceAccessorByPropertyLookup should throw better exception"
Converting TODO-NULLABLE into the issue here since I'm not familiar with the area I'll leave it for area owner to decide if they want to close it or leave it. I'll remove the original comment in case it's decided this should be closed.

In ValidationAttribute.SetResourceAccessorByPropertyLookup (last line):

[code]

Is commented as `If the user-provided resource returns null, an ArgumentNullExcept

[2020-11-05 12:31] rubenprins commented on #43795
@tarekgh what's wrong with Number Patterns' list symbols (https://unicode.org/reports/tr35/tr35-numbers.html#Number_Symbols)? Because for the few European cultures I checked that have ';' as a list separator on Windows, this property is also ';' in CLDR.

Also, the list pattern you mention is a generic list separator for itemizing AFAICT, whereas sList/ListSeparator is used to group numbers (where

[2020-11-05 13:11] roji commented on #44289
Yeah, I ran across this during annotation: https://github.com/dotnet/runtime/blob/master/src/libraries/System.Data.Odbc/src/System/Data/Odbc/OdbcConnectionOpen.cs#L35 (based on https://github.com/dotnet/runtime/pull/689).

[2020-11-05 13:17] KalleOlaviNiemitalo commented on #43795
CLDR 38 has a semicolon `;` without spaces as the number list separator in [en.xml](https://github.com/unicode-org/cldr/blob/d1c59aeea6a26cd1018e164e8c470e4873925cac/common/main/en.xml#L4307), and [en_US.xml](https://github.com/unicode-org/cldr/blob/d1c59aeea6a26cd1018e164e8c470e4873925cac/common/main/en_US.xml) does not override it. So it's not the same as the Windows NLS data, which has used a c

[2020-11-05 14:06] SamMonoRT commented on #41454
Let's keep an eye on the results of this benchmark in next 3-4 days, and then close if we determine it is improved. @EgorBo do you think you changes might help make this even more performant ?

[2020-11-05 14:07] trylek opened #44296 "R2RDump fails parsing GcInfo when emitting PDB for System.Private.CoreLib compiled with Crossgen2 in release mode for ARM"
OS: Windows
Architecture: ARM
Configuration: Release

Until I recently modified R2RDump to load GcInfo lazily, it was doing that when parsing the runtime function table (i.e. early in the R2R loading process). Because of this we observed the following GcInfo crash when emitting PDB symbol information, e.g. in this example run:

https://dev.azure.com/dnceng/public/_build/results?buildId=875055&view

[2020-11-05 14:14] krwq commented on #44289
Yes, this is based on your comment, I'll be removing TODO-NULLABLEs or replacing them with issues or fixing in a PR soon

[2020-11-05 14:15] stephentoub opened #44297 "dotnet-runtime-perf legs are running and failing on every PR"
e.g.
![image](https://user-images.githubusercontent.com/2642209/98251818-378c1b00-1f47-11eb-9bf1-16260737fc5f.png)
https://github.com/dotnet/runtime/pull/44282

cc: @ViktorHofer, @DrewScoggins

[2020-11-05 14:20] am11 commented on #44297
I think it was unintentional https://github.com/dotnet/runtime/pull/44224#discussion_r517807946.

[2020-11-05 14:30] PeterSolMS commented on #44250
I got a crash reproduced locally. Interestingly enough, my case is a little different, but also involves a huge array of object references.

[2020-11-05 15:12] stephentoub commented on #44272
(I expect this issue should be moved to dotnet/aspnetcore, but we can discuss first.)

[2020-11-05 15:27] #44284 closed

[2020-11-05 15:28] #44297 closed

[2020-11-05 15:33] petarrepac commented on #43736
Millions of projects are running on .NET and string manipulation is a very frequent operation.
The effort that it takes for .NET team to fix/change this is minuscule comparing to effort needed to verify all existing code that will be migrated to .NET 5/6.

So, it's quite fair to ask about the "plan" to address this.

[2020-11-05 15:33] djsoul86 commented on #44036
@janvorli it doesn't work

COMPlus_DefaultStackSize=200000
LC_CTYPE=UTF-8
_=/usr/bin/printenv

Visual Studio continues crashing when user mapper.Map<List<Objects>, List<ObjectDto>>.

[2020-11-05 15:33] avivanoff opened #44304 "Version 4.7.1 nuspec does not match the actual System.Memory reference"
The version 4.7.1 of the package specifies the dependency on System.Memory 4.5.4 (assembly version 4.0.1.1):

`<dependency id="System.Memory" version="4.5.4" />`

But the binary was built against version 4.0.1.0, which is version 4.5.1 of the System.Memory package:

[code]

[2020-11-05 15:36] janvorli commented on #44036
Can you please try to run your app without Visual Studio, directly from the command line where you've set the COMPlus_DefaultStackSize?

[2020-11-05 15:56] djsoul86 commented on #44036
@janvorli it works! but, there are a way to make the same on visual studio to debug the solution?

[2020-11-05 16:11] janvorli commented on #44036
I am actually not familiar with the Visual Studio for Mac. @marek-safar, do you know how to set env variables for a process executed under VS for Mac?

[2020-11-05 16:15] ViktorHofer commented on #43981
Just saw that this happened again in. @akoeplinger @steveisok can someone please take a look.

[2020-11-05 16:16] danroth27 commented on #43767
@danmosemsft Yup

[2020-11-05 16:16] ViktorHofer opened #44306 "Many Android JIT tests failing in CI"
https://dev.azure.com/dnceng/public/_build/results?buildId=873257&view=ms.vss-test-web.build-test-results-tab

Configuration: `Mono Android x64 Release @ Ubuntu.1804.Amd64.Android.Open`

@akoeplinger @steveisok is this known?

Runfo Tracking Issue: [Many Android JIT tests failing in CI](https://runfo.azurewebsites.net/tracking/issue/91)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Result

[2020-11-05 16:18] ghost opened #44307 "Handling resiliency with System.DirectoryServices.Protocols"
I have a question to clarify documentation regarding the use of `LdapConnection`, for which the `LdapSessionOptions.AutoReconnect` property let think the connection will be re-established once a disconnected domain controller is up again (see [here](https://docs.microsoft.com/en-us/dotnet/api/system.directoryservices.protocols.ldapsessionoptions.autoreconnect?view=dotnet-plat-ext-3.1)).

However,

[2020-11-05 16:20] #44214 closed

[2020-11-05 16:24] ViktorHofer commented on #42899
This has happened recently again (i.e. in https://dev.azure.com/dnceng/public/_build/results?buildId=871598&view=ms.vss-test-web.build-test-results-tab&runId=27884432&resultId=158379&paneView=debug). Updated the issue to be live tracking via runfo.

[2020-11-05 16:26] marek-safar commented on #44036
Project -> <project> Options -> Run -> Configurations -> Default | Environment Variables

[2020-11-05 16:26] stephentoub commented on #42899
We also saw https://github.com/dotnet/runtime/issues/44037 failing very frequently recently; I disabled the test as it was taking out too many PRs, but it had a similar symptom.

[2020-11-05 16:30] eerhardt commented on #44108
This isn't an official suggestion, but if you really want the post eviction callback to fire, you could try calling `Compact(1.0)` on the cache before calling `Dispose()` (or override `Dispose(true)` and call `Compact`). This should cause the cache to be cleared and the callbacks to fire.

See #36554 and #36026 for proposals in this area.

[2020-11-05 16:37] ViktorHofer commented on #44306
cc @SamMonoRT @vargaz

[2020-11-05 16:39] runfoapp[bot] opened #44309 "profiler/elt/slowpatheltleave/slowpatheltleave.sh failing in CI"
Runfo Tracking Issue: [profiler/elt/slowpatheltleave/slowpatheltleave.sh failing in CI](https://runfo.azurewebsites.net/tracking/issue/92)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Results|Run Client|
|---|---|---|---|---|---|---|---|
|[875973](https://dev.azure.com/dnceng/public/_build/results?buildId=875973)|[runtime](https://dnceng.visualstudio.com/public/_build?definitionId=686)|[

[2020-11-05 16:44] stephentoub commented on #44309
Dup of https://github.com/dotnet/runtime/issues/44055, which is being fixed by https://github.com/dotnet/runtime/pull/44285

[2020-11-05 16:46] #44309 closed

[2020-11-05 16:48] djsoul86 commented on #44036
@janvorli @marek-safar It Finally Works!! Thanks a lot!!

[2020-11-05 16:48] #44036 closed

[2020-11-05 16:50] mangod9 commented on #44036
glad that this is resolved.

[2020-11-05 16:51] ViktorHofer commented on #44306
@danmosemsft the bot isn't mentioning anyone, intentional?

[2020-11-05 17:00] ViktorHofer opened #44313 "Windows libraries test legs are timing out"
See for example here:

[code]

It's not always 19H1, it varies...

cc @safern

[2020-11-05 17:00] njy commented on #44108
Thanks @eerhardt I thought about that (I should've mentioned) but it will not work for entries with priority set to NeverRemove as you can see here:

https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Extensions.Caching.Memory/src/MemoryCache.cs#L432

NeverRemove is intended (I assume) to avoid automatic eviction based on size, but in the case of "clearing the entire cache" it d

[2020-11-05 17:03] steveisok commented on #44306
So, https://dev.azure.com/dnceng/public/_build/results?buildId=873257&view=ms.vss-test-web.build-test-results-tab is a result of an apk installation failure.  That impacted 50+ tests on two runs from https://github.com/dotnet/runtime/pull/38457

It looks like work items completed on the machine that failed afterwards, so my guess is that adb is in a bad state and may be corrected upon the work ite

[2020-11-05 17:06] safern commented on #44313
@ViktorHofer do you have more data? I.e multiple examples? This would help the investigation a lot.

[2020-11-05 17:19] tannergooding commented on #36160
I got most of the changes done (it rounds out to +812, -722 lines, approx), but ran into a bit of "snag".

In particular `JITtype2varType` (https://github.com/dotnet/runtime/blob/master/src/coreclr/src/jit/ee_il_dll.hpp#L152) doesn't preserve the sign of certain types: <https://github.com/dotnet/runtime/blob/master/src/coreclr/src/jit/ee_il_dll.hpp#L152>
For example, while `CORINFO_TYPE_*` for `BY

[2020-11-05 17:24] steveisok commented on #43981
@lambdageek Can you look further?

[2020-11-05 17:26] danmosemsft commented on #44306
The owner is @vargaz -- @vargaz do you want notifications for this area label?

[2020-11-05 17:26] stephentoub commented on #43981
(And can we disable the test against mono if it can't be fixed quickly? :)

[2020-11-05 17:28] danmosemsft commented on #44314
We'll be adding more proposed stories to the list above.

[2020-11-05 17:30] danmosemsft commented on #43546
@scalablecory (or @geoffkizer ) could you please open (or link) appropriate user stori(es) for our work, similar to how the Kestrel one is linked above? Just tag with "User Story". Then we have a place for our own cost.

[2020-11-05 17:31] akoeplinger commented on #44306
@ViktorHofer all of the failures from https://github.com/dotnet/runtime/pull/43740 are known, we're iterating on replacing OpenSSL on Android there.

[2020-11-05 17:32] stephentoub opened #44315 "Add stream conformance tests for HTTP/2, HTTP/3, and request streams"
We've recently added a set of "conformance" tests for streams, a set of tests that we now run against many of the stream types in the core libraries.  In https://github.com/dotnet/runtime/pull/44204 we used these to test the response streams used for HTTP/1.1 with SocketsHttpHandler, but there are other streams it employs, including request streams for posts with HTTP/1.1 and then also a separate

[2020-11-05 17:33] steveharter commented on #29723
Here's a strawman proposal:
- Add extension methods to the existing [`System.Reflection.Extensions`](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Reflection.TypeExtensions/ref/System.Reflection.TypeExtensions.cs) assembly.
  - This avoids runtime knowledge and pay-to-play for consumers.
- These lookup the nullable attributes and return an enum.
  - This is somewhat slow and n

[2020-11-05 17:33] echesakovMSFT commented on #36160
Isn't this related to the fact that CLI models only 3 integral types on the computation stack - `int32`, `native int` and `int64`. Perhaps, you can distinguish between signed and unsigned variants by checking flag `GTF_UNSIGNED`?

[2020-11-05 17:37] marek-safar opened #44316 "Developers can AOT compile .NET apps into WebAssembly format"
As more applications target .Net in the Browser there is a growing demand to support workloads that require additional performance. The .NET5 browser-wasm runtime supports only interpreted mode and can considerably underperform in performance-sensitive code paths. Large performance gains can be realized by compiling the code ahead of time (AOT) rather than interpreting it.

Performance, size, and

[2020-11-05 17:39] cbenard commented on #29643
@danmosemsft I can only really compare to [Core.System.Configuration.Install](https://github.com/flamencist/Core.System.Configuration.Install/tree/master/System.Configuration.Install) from
@flamencist since that's what I'm using now. He might be able to provide some more context.

There do appear to be some file differences but I'm not sure if that's what he had to do via decompilation.

[2020-11-05 17:40] tannergooding commented on #36160
The base type is distinct from the node type and while they often match up, there are many cases where they don't.

That was my initial thought, but `byte`, `ubyte`, `short`, and `ushort` not mapping to `int` ends up not lining up with that and much of the JIT logic uses `genActualType()` to convert a `var_types` to the stack type, where that is relevant.

[2020-11-05 18:03] marek-safar opened #44317 "User Story: WebAssembly developers want smaller published output to speed up their apps load time"
In the .NET 5 release, we established a baseline of 2.2 MB for the fully compressed output of the default Blazor template running with .NET Core setup. For .NET 6 version, we are aiming to reduce that size by at least 20% for the same template to address size regression compare to .NET Core 3.x where the default template size was 1.7 MB. This is an ambitious goal, and will likely require numerous

[2020-11-05 18:09] tarekgh commented on #43795
@rubenprins @KalleOlaviNiemitalo TextInfo.ListSeparator is not for numbers only. it can separate any kind of data. This is why list pattern would fit better. Also if you look at https://unicode.org/reports/tr35/tr35-numbers.html#Number_Symbols it is clearly says

[code]

Which means this number separator is not for linguistic while TextInfo.ListSeprator is a cultural property which should be lingu

[2020-11-05 18:10] kunalspathak commented on #44051
Thanks a lot @adamsitnik for the suggestion. I ran the benchmarks for various heuristics that I was trying and the `ResultComparer` helped me in giving insights about the approach I was taking for loop alignment. I will share my results at appropriate time in one of the related issue.

[2020-11-05 18:10] steveharter opened #44318 "Reflection support for Tuple and ValueTuple"
## Background and Motivation

When using [`Tuple` ](https://docs.microsoft.com/en-us/dotnet/api/system.tuple) and [`ValueTuple`](https://docs.microsoft.com/en-us/dotnet/api/system.valuetuple), metadata is hard to access:
- The name of the members ("Item1", "Item2", etc) must be obtained through reflection. For `Tuple`, they are the property names. For `ValueTuple`, they are field names. Also, `Tup

[2020-11-05 18:14] steveharter opened #44319 "Developers can use Reflection APIs to easily access attribute-based metadata concepts"
With various attributes being address to members and types, that information is cumbersome to access with reflection. These new APIs wrap access to that metadata and are intended to work both with runtime reflection and with `MetadataLoadContext` reflection.

Currently includes
- [x] [Expose top-level nullability information from reflection](https://github.com/dotnet/runtime/issues/29723)

Was pro

[2020-11-05 18:14] kunalspathak commented on #44051
## System.Collections.IndexerSet<Int32>.Span(Size: 512)

This benchmark improved by approx. **36%**.

| Faster                                                                           | base/diff | Base Median (ns) | Diff Median (ns) | Modality|
| -------------------------------------------------------------------------------- | ---------:| ----------------:| ----------------:| -------- |
| Syste

[2020-11-05 18:20] ViktorHofer commented on #44313
I tried to provide you with more info but unfortunately this query doesn't work for me: https://runfo.azurewebsites.net/search/build-logs/?bq=definition%3Aruntime+started%3A%7E2&lq=logName%3A%22Libraries+Test+Run.*%22+text%3A%22.*Attempting+to+cancel+the+build.*%22. Maybe you get it working?

[2020-11-05 18:20] wfurt commented on #44018
ok. It seems like you have same way forward. Feel free to re-open and share more details in the future.

[2020-11-05 18:20] #44018 closed

[2020-11-05 18:23] wfurt commented on #43966
I thin receive can receive less than asked for when more data is awailable  - but I would think that is rare case. If this is optimization, that can still work in our favor IMHO.

[2020-11-05 18:27] ViktorHofer opened #44320 "Installer "Download artifacts for all platforms" step fails because of throttling"
Example: https://dev.azure.com/dnceng/internal/_build/results?buildId=871527&view=logs&j=04b1677b-aa91-548a-e789-89c3d998d0f7&t=3a83d448-e04e-525a-dd07-7a2e77dd6fed

We know about this and we believe that with @jkoritzinsky's new shared framework SDK this will go away.

[2020-11-05 18:30] wfurt commented on #44241
The SslSttream depends on OS implementation - Schannel and OPenSSL. There is no API to control it from .NET.
In practise, I think you can do smaller writes and that will lead to smaller TLS frames.

[2020-11-05 18:32] #44247 closed

[2020-11-05 18:34] roji commented on #29723
For caching to be done effectively outside the API, wouldn't this have to expose [NullableContext] information (which it really shouldn't, since that's a metadata encoding detail)?

For example, say I ask for nullability info on method Foo. Internally, this would potentially walk all the way up to the assembly to find the nearest [NullableContext]. If I then ask for info on method Bar on that same

[2020-11-05 18:42] jaredpar commented on #29723
The approach I'd originally envisioned here is that the API would track only the annotation state of the types. Essentially is the type oblivious, annotated or not annotated. That is the key information that is missing from the reflection API today. The other values listed in the proposal here include attributes which are readily available today.

The other issue is that the attributes are being r

[2020-11-05 18:42] kouvel commented on #42375
This one seems to be a bit more complicated than the other one. We're currently discussing solutions, at the moment I'm reasonably confident that something can be done to resolve the deadlock even if the diagnostics experience is a bit worse when the rare case does happen. Still aiming for the first servicing release.

[2020-11-05 18:44] kouvel commented on #42375
@jeffschwMSFT do you happen to know when the first servicing release for 5.0 would be released?

[2020-11-05 18:45] marek-safar opened #44321 "User Story: Developers need more flexibility for globalization settings to fulfil their needs on the web"
# Description

TBA

# Tracking Items
- [x] Improve invariant mode to be more complete #43774
- [x] Experiment with icu4x usage for wasm #47875
- [ ] Reduce native ICU dependency by slicing or porting the necessary logic
- [ ] TimeZone information can be updated with apps re-deployment

[2020-11-05 18:47] ViktorHofer commented on #43981
I think we should.

[2020-11-05 18:48] jeffschwMSFT commented on #42375
We are taking issues for consideration now for 5.0.1.

[2020-11-05 18:51] MichalStrehovsky commented on #29723
Cc @vitek-karas @marek-safar for linker

We have form factors (Blazor-WASM) where nullability information is [dropped on deployment](https://github.com/dotnet/runtime/blob/8a89f97381d753a76c994fbf21f3c4558ba04585/src/mono/netcore/System.Private.CoreLib/src/ILLink/ILLink.LinkAttributes.xml#L137-L142) by default because it's a size concern.

Linker is not aware of these attributes right now - this i

[2020-11-05 19:06] danmosemsft commented on #35422
@layomia since ASP.NET had to react to that, do you think it is worth a [breaking change note](https://github.com/dotnet/docs/issues/new?assignees=&labels=&template=dotnet-breaking-change.md&title=)? so it appears in https://docs.microsoft.com/en-us/dotnet/core/compatibility/3.1-5.0#core-net-libraries

[2020-11-05 19:07] ViktorHofer commented on #43389
Seeing this again in: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-5b189d3203124e8a92/Microsoft.Extensions.Hosting.Unit.Tests/console.12434f67.log?sv=2019-07-07&se=2020-11-20T20%3A33%3A29Z&sr=c&sp=rl&sig=eO0uA9S8OKpYDqPO68mN5nDZ5R2A%2FXXt20Htf9QFMNY%3D

[2020-11-05 19:08] eiriktsarpalis commented on #27062
So, something like this?
[code]

[2020-11-05 19:10] tannergooding commented on #27062
I believe `public static ref TValue TryGetValueRef<TKey, TValue>(Dictionary<TKey, TValue> dictionary, [NotNull] TKey key, out bool exists);` would just be `public static ref TValue TryGetValueRef<TKey, TValue>(Dictionary<TKey, TValue> dictionary, [NotNull] TKey key);` the user would check `Unsafe.IsNullRef(ref result)` for `does not exist`.

[2020-11-05 19:11] tannergooding commented on #27062
As for `public static ref TValue GetValueRefOrAddDefault<TKey, TValue>(Dictionary<TKey, TValue> dictionary, [NotNull] TKey key, out bool exists);`, does the `out bool exists` make sense? Is it important for users to know if the value already existed in this scenario?

[2020-11-05 19:16] eerhardt commented on #43389
@ViktorHofer - that error trace is actually different than the original bug, but we can continue to use this issue to track the new problem.

What PR and leg was this run on?

It looks like the issue is that the "background" exception is not being thrown on the background - but instead synchronously.

https://github.com/dotnet/runtime/blob/8ed2e953f6b2142cbdef25c157c6425f508b373f/src/libraries/Mic

[2020-11-05 19:17] TailyFair commented on #44241
Thank you for your answer! Could you please confirm that I understood this correctly?

So if I understand correctly, on windows SChannel will be used which according to wiki does not support MFLN and it won't ever be able.
On linux OpenSSL will be used. I currently plan to host on Ubuntu 16.04 which uses OpenSSL 1.0.2 (which does not support RFC6066). So all I need to do is to install newer OpenSS

[2020-11-05 19:21] wfurt commented on #44241
yes, if 1.1.(1?) is available, it will be preferred. Note that 16.04 is close to end of support. Do you have some simple repro app?

[2020-11-05 19:21] jaredpar commented on #44207
@akoeplinger

I've thought about making it easier to file one off issues, issues which don't auto-track against new builds. I haven't thought of a good workflow though to enable here.

For any given build you can already see a list of the tracked data. Essentially insert a build number in this link and you get a dump of all the timeline issues, test failures and issues already assigned to this bui

[2020-11-05 19:22] jkotas commented on #44319
Do we also need more efficient low-level APIs to query custom attributes as part of this, to allow implementing these higher-level APIs efficiently on newer runtimes?

[2020-11-05 19:26] TailyFair commented on #44241
Thank you for super fast response!
Currently I don't, I could provide example app tomorrow.
We plan to use DotNetty https://github.com/Azure/DotNetty for our TCP server.

[2020-11-05 19:30] antonfirsov commented on #43934
@geoffkizer edited the opening post, hopefully all overloads are included.

[2020-11-05 19:38] safern commented on #44321
@tarekgh I would expect this to apply to Android/iOS/tvOS as well... should we change `arch-wasm` to another label?

[2020-11-05 19:38] jkotas commented on #29723
We may need new efficient and linker-friendly custom attribute querying APIs to build this feature on top of: https://github.com/dotnet/runtime/issues/44319#issuecomment-722588772 . The linker would need to understand these new custom attribute querying APIs, but it would not need to have hardcoded knowledge of every place that queries specific attributes.

[2020-11-05 19:41] tarekgh commented on #44321
I am ok either way with more proper labeling. I just marked the best I understood from the description.

[2020-11-05 19:45] Naine commented on #43736
@petarrepac Don't get me wrong, I understand that. But as has been pointed out multiple times in this thread, including in my comment:

1. There is a plan, and it is to provide a runtime configuration switch.
2. The behaviour claimed to be breaking is the existing behaviour of .NET on all non-windows platforms.

100% it is fair to ask about this, but the people who write comments like the one I qu

[2020-11-05 19:50] TonyValenti opened #44323 "GetConsumingEnumerable<T>"
It would be great if ```Stack<T>``` and ```Queue<T>``` had a ```GetConsumingEnumerable<T>``` extension method so I could do things similar to the following:

[code]

[2020-11-05 19:55] stephentoub commented on #44323
You mean something like:
[code]
?

[2020-11-05 19:59] nattress opened #44324 "[Crossgen2] Use assembly Debug flag to control optimizer if not specified explicity"
Crossgen uses the debug flag from the input MSIL assembly to determine whether to optimize or not. Currently Crossgen2 uses an explicit parameter. We should support the same implicit functionality as Crossgen to keep the tools' behavior consistent.

[2020-11-05 20:17] mmaderic opened #44325 "System.Text.Json.JsonException with double quoted values"
Hello,

Please consider writing this code, where we would like to de-serialize quoted values into dictionary.
Second value contains double quoted value string.

`var dictionary = JsonSerializer.Deserialize<Dictionary<string, string>>("{\"first\":\"some_value\",\"second\":\"some \"value\"\"}");`

This will throw an exception:
`System.Text.Json.JsonException: ''v' is invalid after a value. Expected

[2020-11-05 20:20] TonyValenti commented on #44323
@stephentoub Yep!  Can you add that to the framework?

[2020-11-05 20:35] steveharter opened #44327 "Support newer language and runtime features in reflection"
These features are not currently supported, or partially supported:
- `ref` types including `Span<T>` (both passing and invoking). See https://github.com/dotnet/runtime/issues/10057
- Function pointers. See https://github.com/dotnet/runtime/issues/11354
- (perhaps more here pending research)

[2020-11-05 20:38] AArnott opened #44328 "SMR DecodeSignature methods should have nullable ref on second parameter"
The DecodeSignature method (here and perhaps on other classes) behave just fine with a null argument for the second parameter:

https://github.com/dotnet/runtime/blob/ae47aa26544227ef632598d91a798b8f83d56634/src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/TypeSystem/MethodDefinition.cs#L66

There should be a `?` nullable ref annotation on this.

[2020-11-05 20:48] geoffkizer commented on #43934
The new overloads for SendToAsync, ReceiveFromAsync, and ReceiveMessageFromAsync in https://github.com/dotnet/runtime/issues/33418 aren't included above. I think we should include them for completeness, even though they have technically been approved already.

[2020-11-05 20:50] #44077 closed

[2020-11-05 20:52] layomia commented on #35422
@danmosemsft - yes, it is a breaking change and has been shown to be significant. The change was made in https://github.com/dotnet/runtime/pull/32669/files. Will file a breaking change note.

[2020-11-05 20:59] danmosemsft commented on #35422
thanks!

[2020-11-05 21:06] stephentoub opened #44329 "Consider implementing AnonymousPipeServer/ClientStream on Unix on socketpair"
Currently AnonymousPipeServerStream and AnonymousPipeClientStream on Unix are implemented on top of `pipe`.  This makes sense, but it also makes it difficult for us with our current infrastructure to properly implement async I/O for these streams.  This means that Read/WriteAsync on these types are actually async-over-sync and also that cancellation only ends up doing an up-front check and doesn't

[2020-11-05 21:13] stephentoub commented on #44323
Not saying "no" :smile: but I think it'd need a bunch of folks citing its importance before we did.  It's easily done on ones own if they need it (as shown above), with I think little benefit to it actually being part of `Queue<T>` (i.e. I'm not sure there's anything we could do significantly better in an implementation on the type itself).

[2020-11-05 21:26] maryamariyan commented on #37821
closing as remaining work is covered by other issues now.

[2020-11-05 21:26] #37821 closed

[2020-11-05 21:27] steveharter commented on #44319
On the performance, yes that was called out as will be poor.

I don't expect these methods to be called more than once for a given member, so perhaps it is OK. If they are called more than once, then currently higher-level caching would need to be used.

I believe the APIs would be called mostly by tooling and analyzers and not necessarily at run-time. If we need fast runtime support, some thought

[2020-11-05 21:30] Maoni0 commented on #43844
@mjsabby what kind of issues do you hit currently doing that? are you talking about ro segments or something else?

[2020-11-05 21:42] jkotas commented on #44319
Having an expensive APIs that are called just once for given member tends to be still a problem. Note that the real performance challenge for .NET runtime is startup, not steady state performance. Startup is where .NET is often much worse compared to alternatives.

I do not think that these APIs are usable by analyzers. Analyzers do not use Reflection.Emit object model.

Are there concrete tools y

[2020-11-05 21:51] maryamariyan commented on #43898
In [dotnet/extensions/README.md](https://github.com/dotnet/extensions/blob/master/README.md) is listed as no longer shipping for 5.0

[2020-11-05 21:59] BreyerW commented on #44327
What about `ref` in general? Eg ref prop ref returning methods etc? This part historically was half assed since support for it was added relatively recently (several years at this point). Is this on the table?

[2020-11-05 22:01] marek-safar opened #44330 "Developers need faster interop between JavaScript and C# to be able to port large apps to webassembly"
As Browser based .NET applications continue to grow in complexity so does the desire for high performance interaction with the JavaScript host environment. Blazor provides public API for specific use cases and the .NET runtime implements internal methods for low level interaction. We should provide developers with supported APIs to implement high performance unmarshalled host interoperation.

## W

[2020-11-05 22:05] marek-safar commented on #44321
@safern yes but I haven't decided if I'll just link here from different Epic

[2020-11-05 22:06] #44210 closed

[2020-11-05 22:09] marek-safar commented on #43545
Looking at the problem again I think we should redefine this User story to be instead

"Developers can use .NET APIs which depends on code generation when targeting AOT" and move other source generators to different user stories.

[2020-11-05 22:20] stephentoub opened #44331 "NamedPipeXxStream on Unix unnecessarily does sync-over-async / async-over-sync"
PipeStream was initially designed to target Windows, and as such it inherited a Windows-ism into its public API surface area: you need to specify at construction time whether the stream was intended to be used for async operations.  If yes, then Read/Write synchronous methods are implemented as blocking wrappers for the Read/WriteAsync operations, and if no, then Read/WriteAsync operations are imp

[2020-11-05 22:23] samsp-msft commented on #43545
This originally started with Trimming, which has a lot of synergy with AOT, but I don't know what your suggestion would do to the list - I suspect it mainly impacts "Marshaling interop – #43060", but i'd like to understand what @marek-safar's list would look like.

[2020-11-05 22:23] steveisok opened #44332 "System.Diagnostics.PerformanceCounter.Tests Failing"
Seeing this kind of failure across multiple builds.  Can't tell if it's widespread yet.

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=876982&view=results

Helix log from one build:

https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-44046-merge-146881d67d7c4c7ba9/System.Diagnostics.PerformanceCounter.Tests/console.210349c5.log?sv=2019-07-07&se=202

[2020-11-05 22:30] stephentoub commented on #44332
Thanks, @steveisok.  This is https://github.com/dotnet/runtime/issues/44208; I just added an assert to help diagnose the failure, which is why it's showing up as an assert here rather than the exception shown there.

[2020-11-05 22:31] stephentoub commented on #44208
@steveisok hit the new assert:
[code]

https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-44046-merge-146881d67d7c4c7ba9/System.Diagnostics.PerformanceCounter.Tests/console.210349c5.log?sv=2019-07-07&se=2020-11-25T20%3A35%3A23Z&sr=c&sp=rl&sig=gYGgvImTcGJ99mVVeSk%2Bg%2BucMp92%2F6xeEerbQTpkqv8%3D

https://github.com/dotnet/runtime/issues/44332

[2020-11-05 22:31] stephentoub commented on #44332
Closing as dup of https://github.com/dotnet/runtime/issues/44208; copied the assert details to there.

[2020-11-05 22:31] #44332 closed

[2020-11-05 22:34] stephentoub commented on #44208
This assert output is really weird.  The assert I added is:
[code]
So the above shows it failing an `is string[]` check, but then its ToString is reporting that it's a `System.String[]`.

@jkotas, does this ring any bells?  Could this be related to casting changes?

[2020-11-05 22:37] danmosemsft commented on #44208
Well, that's our test
https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.Diagnostics.PerformanceCounter/tests/CounterCreationDataCollectionTests.cs#L99
But it's just going through our API's.

[2020-11-05 22:37] danmosemsft commented on #44208
Oops, of course it's written by our test 😄

[2020-11-05 22:39] halter73 commented on #44272
No we didn't. We recommend calling HttpContext.Abort() instead for now.

We've experimented with aborting the request when the upgrade Stream is disposed, but this causes unwanted truncation of the output during what should have been graceful closes. We can look at doing a "soft abort" instead which would cancel pending reads and/or writes facing backpressure without dropping bytes already in Kest

[2020-11-05 22:41] scalablecory commented on #43934
Yeah. Also, we should make sure to merge this API back into https://github.com/dotnet/runtime/issues/33418 once approved.

[2020-11-05 22:58] steveisok commented on #44208
I tried finding this kind of issue first.  I searched for "PerformanceCounters" and found 3 unrelated issues :-)

[2020-11-05 23:08] jkotas commented on #44208
Yes, I think this looks like race condition in the lock-free hashtable used by casting.

@VSadov Could you please take a look?

[2020-11-05 23:09] VSadov commented on #44208
Will take a look. Thanks!

[2020-11-05 23:12] VSadov commented on #44208
@stephentoub - did this start recently or was like this for months?

[2020-11-05 23:18] srxqds commented on #43544
excited，thank you.
we are waiting for it everyday.

[2020-11-05 23:23] stephentoub commented on #44208
To my knowledge,  recently.

[2020-11-05 23:29] MattGal commented on #44320
@ViktorHofer can you provide more examples?  The linked build did indeed seem to report 2+ hours in Download Artifacts for all platforms, but that's because the MacOS agent machine died after that stage started and it took that long for AzDO to notice it.

[2020-11-05 23:36] lewing commented on #43958
Final fix landed in #44046

[2020-11-05 23:36] #43958 closed

[2020-11-05 23:41] VSadov commented on #44208
Exception message should generally be correct about types.
`string[]` --> `string[]` would be an identity conversion. It should not use cache, unless something bad happened with the type system (i.e. two distinct string types)

I think it is more likely that we are getting a string with `System.String[]` content somehow.

The new assert in #44333 is a good idea - should help to verify this.

[2020-11-05 23:48] mjsabby commented on #43844
It’s not safe. It can be made safe if memory mapped files are backed by GC regions.

There was a discussion on GitHub with @GrabYourPitchforks  and @jkotas

[2020-11-06 00:00] antonfirsov commented on #43934
Ok, will add tomorrow, thanks for checking!

[2020-11-06 00:09] CarolEidt commented on #36160
For example, while CORINFO_TYPE_* for BYTE, UBYTE, SHORT, and USHORT all translate over to the corresponding TYP_*. INT, UINT, LONG, ULONG, NATIVEINT, and NATIVEUINT all go to the signed variant (INT, LONG, I_IMPL).

I'm not sure why this is the case. It does seem quite inconsistent, but I would bet that there's JIT code somewhere that depends on it.

[2020-11-06 00:21] berik commented on #43936
@tommcdon I've tried both version `3.1.9` and `5-rc2`

When you have 1 level nested property it works, when it's 2 level nester and more it fails.
For example
[code]
When I try to get list of blogs and explore at the breakpoint in debug mode, it will crash on VS code and Rider IDE.

PS: I've wrapped both versions .net 3.1 and .net 5-rc2 if you need.

[LazyLoadingVersion3.zip](https://github.com/do

[2020-11-06 00:31] jlennox opened #44338 "Frequent reallocation of 128byte array in `Rune.cs`"
### Description

This was not noticed in a profiler or in program performance, but noticed while reading the code.

https://github.com/dotnet/runtime/blob/177d6f1a0bfdc853ae9ffeef4be99ff984c4f5dd/src/libraries/System.Private.CoreLib/src/System/Text/Rune.cs#L38-L48

I'm not sure if this was instead intended to be an `=` and not a `=>`? If not, would a `Lazy<Byte[]>` perhaps be better suited?

My ma

[2020-11-06 00:42] jkotas commented on #44338
This pattern does not allocate. C# compiler compiles this into returning a singleton read-only memory block.

We are using this pattern in many places.

https://devblogs.microsoft.com/dotnet/performance-improvements-in-net-5/ describes this in a bit more detail.

[2020-11-06 00:42] #44338 closed

[2020-11-06 00:42] steveisok opened #44339 "Multiple System.Net.Http.Functional.Tests Timeouts"
First found in https://dev.azure.com/dnceng/public/_build/results?buildId=876982&view=logs&j=bf603221-817a-5f42-894a-9eb35c3c7f97&t=7b6c19b2-2655-5e8f-d26a-63d3381d63ae

Kusto indicates this suite has timed out 8 times today and 15 times in the last 10 days.

[code]

[2020-11-06 00:51] jlennox commented on #44338
Ah thank you! That's awesome.

[2020-11-06 01:04] kunalspathak commented on #44051
## PerfLabTests.GetMember

Before loop alignment:

|      Method |      Mean |     Error |    StdDev |    Median |       Min |       Max | Gen 0 | Gen 1 | Gen 2 | Allocated |
|------------ |----------:|----------:|----------:|----------:|----------:|----------:|------:|------:|------:|----------:|
|    GetField |  1.567 ms | 0.0119 ms | 0.0100 ms |  1.564 ms |  1.559 ms |  1.592 ms |     - |     -

[2020-11-06 01:16] plooploops commented on #44260
@dsplaisted heads up, PR was merged for the docs: https://github.com/dotnet/docs/pull/21262.

[2020-11-06 01:34] v-haren opened #44341 "Test failure: JIT/Regression/JitBlue/DevDiv_255294/DevDiv_255294/DevDiv_255294.sh"
failed in job: [ runtime-coreclr outerloop 20201105.4 ](https://dev.azure.com/dnceng/public/_build/results?buildId=877217&view=ms.vss-test-web.build-test-results-tab&runId=28069522&resultId=111051&paneView=debug)

failed tests:
JIT/Regression/JitBlue/DevDiv_255294/DevDiv_255294/DevDiv_255294.sh
JIT\\Regression\\JitBlue\\DevDiv_255294\\DevDiv_255294\\DevDiv_255294.cmd

R2R Linux arm64 Checked no_ti

[2020-11-06 01:43] v-haren commented on #41723
failed again in job: [runtime-libraries-coreclr outerloop 20201105.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=876448&view=ms.vss-test-web.build-test-results-tab&runId=28043338&resultId=104412&paneView=debug)

failed test: System.Net.Http.Functional.Tests.TelemetryTest_Http20.EventSource_SuccessfulRequest_LogsStartStop(testMethod: \"InvokerSendAsync\")

net6.0-windows-Release-x6

[2020-11-06 01:45] danmosemsft commented on #43620
@ericstj @layomia as you determine the prioritized list of work for JSON for 6.0 please extend the list above so it links up in https://themesof.net/. It would be great to add a Cost label to each.

[2020-11-06 01:45] wfurt commented on #44339
It seems like predominantly conformance tests like

https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-b77bac7807a8401d8d/System.Net.Http.Functional.Tests/console.dbce9eb1.log?sv=2019-07-07&se=2020-11-24T19%3A19%3A17Z&sr=c&sp=rl&sig=wPx%2BLzcadA%2B%2BS9%2FYAXBehSf65v%2FclxXb7xhNeIWjADM%3D

[code]

https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-ru

[2020-11-06 01:49] v-haren commented on #44015
failed again in job: [runtime-libraries-coreclr outerloop 20201105.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=876448&view=ms.vss-test-web.build-test-results-tab&runId=28043660&resultId=103877&paneView=debug)

failed tests:
System.Net.Sockets.Tests.TelemetryTest.EventSource_SocketConnectsRemote_LogsConnectStartStop(connectMethod: \"Eap\", useDnsEndPoint: True)
System.Net.Sockets

[2020-11-06 01:51] vsfeedback opened #44343 "System.Drawing.Font.GetHashCode() return is not unique because it does not include the fontName"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/SystemDrawingFontGetHashCode-return/998779)._

---
<p>System.Drawing.Font.GetHashCode hashes the fontStyle, fontUnit, and fontSize, but does not hash the fontName.     Thus, New Font(&quot;Arial&quot;, 16, FontStyle.Bold, GraphicsUnit.Point). GetHashCode() returns the same value as New

[2020-11-06 01:54] v-haren commented on #44056
failed again in job: [runtime-libraries-coreclr outerloop 20201105.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=876448&view=ms.vss-test-web.build-test-results-tab&runId=28043668&resultId=104242&paneView=debug)

failed tests:
System.Net.Security.Tests.SslStreamTls13NetworkConformanceTests.CopyToAsync_AllDataCopied_Large(useAsync: True)
System.Net.Security.Tests.SslStreamTls13Netwo

[2020-11-06 01:54] danmosemsft commented on #44343
This should not, of course, cause any observable functional impact. But I assume we would take a PR if offered.

[2020-11-06 01:57] v-haren opened #44344 "Test failure: System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_ServerCertificates_Test.NoCallback_RevokedCertificate_NoRevocationChecking_Succeeds"
failed again in job: [runtime-libraries-coreclr outerloop 20201105.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=876448&view=ms.vss-test-web.build-test-results-tab&runId=28043284&resultId=104344&paneView=debug)

net6.0-windows-Release-x86-CoreCLR_release-Windows.10.Amd64.Server19H1.Open

Error message
[code]

[2020-11-06 02:43] Maoni0 commented on #43844
regions make no difference for that particular issue - I presume you are talking about [#37227](https://github.com/dotnet/runtime/issues/37227). I don't think GC is actually a big part in that issue - essentially from GC's POV, if it gets more ro segs it's not a big deal - we don't reclaim ro segs anyway (they can only be removed by the user code). all GC cares about is if an object points to some

[2020-11-06 03:54] #43646 closed

[2020-11-06 05:32] #43342 closed

[2020-11-06 06:03] wfurt commented on #44344
this clearly looks environmental.

[2020-11-06 06:20] jaymin93 commented on #44343
would like to work on issue if you can please assign me that will be great !!! Thanks.

[2020-11-06 08:14] mjsabby commented on #43844
Today we look at the stack for by refs, couldn't we also look at another special location for memory mapped files? I thought GC regions could accomplish that in a more natural way, maybe not, and the discussion can then stay in that thread.

[2020-11-06 08:16] ayende commented on #42885
Given that the issue is now known. Are there any work arounds?
If we'll upgrade to 5.0? Can we expect this to go away?

[2020-11-06 08:30] kobelobster opened #44346 "dotnet ignores http proxy set via mono nuget.exe and can't build solution with mono nuget.exe"
### Description

Okay, this will be a loooooooooooong description, because this is such a special use case (it seems)

I currently am building a pipeline on GitLab for our .NET projects which should

* Build the project
* Run the unit tests
* Deploy the image (Later...)

We also have a custom NuGet feed hosted at a SonaType Nexus instance on premise. All our services are behind a proxy and use a s

[2020-11-06 08:31] FiniteReality commented on #27062
One use case I can think of would be something like this:
[code]
In this case, this GetOrAdd extension method would return whether the value existed, using the `out bool exists` parameter.

[2020-11-06 08:50] mairaw commented on #44347
@maryamariyan the not didn’t seem to run here. Not sure what do.

[2020-11-06 09:54] GSPP commented on #44314
I'll use this opportunity to bring these "grassroots" issues to attention:

* Add Enumerable.*By operators (DistinctBy, ExceptBy, IntersectBy, UnionBy, MinBy, MaxBy) https://github.com/dotnet/runtime/issues/27687
* Add common helper methods to the String class (Contains(StringComparison), Replace(StringComparison), Left, Truncate, TrimPrefix) #14831
* New API: String.Truncate(int maxLength, string

[2020-11-06 10:11] jkotas commented on #43844
@mjsabby Let's keep this discussion in #37227. Regions do not help with this at all.

[2020-11-06 11:06] vitek-karas commented on #44337
For .NET 5 this is the expected behavior - see the detailed design here: https://github.com/dotnet/designs/blob/main/accepted/2020/single-file/design.md#user-experience

We're working on improving this for future releases - most of the work to get to one file even on Windows is tracked here: https://github.com/dotnet/runtime/issues/43071

[2020-11-06 11:08] Perksey commented on #39734
Note: We've released the [Ultz.Bcl.Half](https://nuget.org/packages/Ultz.Bcl.Half) to do this.

[2020-11-06 11:53] antoinebj opened #44349 "Microsoft.Extensions.Http depends on concrete logging and dependency injection packages"
Hi,

I was surprised when adding Microsoft.Extensions.Http that I had to accept the licenses for Microsoft.Extensions.DependencyInjection and Microsoft.Extensions.Logging instead of just their abstraction counterparts.

IMHO it's counter-intuitive that an HTTP client factory would need access to concrete logging and not its abstractions, and that logging would need access to the concrete DI contai

[2020-11-06 12:11] lateapexearlyspeed commented on #44281
Hi @tmds and @danmosemsft , I just raised a PR #44350 for that, the summary is in that PR. Could you please help reviewing that and give comment, thanks !

[2020-11-06 12:35] antonfirsov opened #44351 "Test hang: Base64EncoderUnitTests.EncodeTooLargeSpan"
`System.Buffers.Text.Tests.Base64EncoderUnitTests.EncodeTooLargeSpan` test hang in in:

https://dev.azure.com/dnceng/public/_build/results?buildId=877008&view=ms.vss-test-web.build-test-results-tab
(net6.0-windows-Debug-x64-CoreCLR_release-Windows.10.Amd64.Server19H1.ES.Open)

https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-44246-merge-d0435e106c844e1b8e/System.Memo

[2020-11-06 12:36] adamsitnik commented on #44051
In theory, it should never happen, but it can be caused by the Tiered JIT background thread allocating memory like in https://github.com/dotnet/BenchmarkDotNet/issues/1542

As long as it's rare you can ignore it (we would need to use a memory profiler and see what exactly is being allocated in both runs)

[2020-11-06 12:39] benaadams commented on #27062
Yes, because it's just added a `default` entry so you need to know that it requires full initialization rather than just an update to some fields

[2020-11-06 12:39] gfoidl commented on #43901
A question on file-organisation. Add these to Socket.cs or a new partial class file (as Socket.cs is already huge)? Or to Socket.Tasks.cs?

[2020-11-06 12:51] antonfirsov opened #44352 "Test failure: SocketsHttpHandlerTest_Http2.SocketSendQueueFull_RequestCanceled_ThrowsOperationCanceled"
#### Outerloop test
`System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2.SocketSendQueueFull_RequestCanceled_ThrowsOperationCanceled`

#### Failed in
https://dev.azure.com/dnceng/public/_build/results?buildId=877008&view=ms.vss-test-web.build-test-results-tab
(net6.0-Linux-Debug-x64-CoreCLR_release-(Fedora.30.Amd64.Open)ubuntu.1604.amd64.open)

Failed only in PR branches, so it's missing

[2020-11-06 12:54] adamsitnik commented on #42760
Adding optimizations typically increases code complexity. This needs to be justified using measurements from real-world applications.

So far I've never observed the internal `Set<T>` type to be hot in any profiles so I don't think that we (.NET Team) should optimize it.

However, if someone is willing to study the optimizations applied to `HashSet<T>` and contributing them to `Set<T>` I am fine w

[2020-11-06 12:56] antonfirsov commented on #44175
Is `System.Net.Security.Tests.SslStreamTls13NetworkConformanceTests.CopyToAsync_AllDataCopied_Large(useAsync: False)` related?

https://dev.azure.com/dnceng/public/_build/results?buildId=877008&view=ms.vss-test-web.build-test-results-tab
(under `net6.0-Linux-Debug-x64-CoreCLR_release-Ubuntu.1804.Amd64.Open`)

[2020-11-06 12:57] sglienke opened #44353 "Inconsistent range check behavior of List<T>.LastIndexOf"
### Description

LastIndexOf has a different behavior about its range checking than IndexOf has.
See the following code:

[code]

The range checking in IndexOf follows the principle index + count <= listsize which means index can be = size when count is 0.
LastIndexOf has two defects imo:
(1) and (2) are not raised because there is an "list is empty" check before the exception would be raised
(3)

[2020-11-06 13:04] adamsitnik commented on #32712
As you have noticed, it was not obvious which methods to use. Linq is already BIG and we should add only new methods and overloads that are hard or impossible to implement using the existing ones. Since here it's a matter of using `Skip` (or `Take`) I believe that it's not worth adding the proposed overloads.

10ns is also very little time and if this particular scenario ever becomes a perf bottle

[2020-11-06 13:04] #32712 closed

[2020-11-06 13:07] stephentoub commented on #44175
Yes. We split the test by TLS version to help confirm the theory this is a TLS 1.3-specific product bug.

[2020-11-06 13:10] KalleOlaviNiemitalo commented on #44349
The LoggingServiceCollectionExtensions.AddLogging call in HttpClientFactoryServiceCollectionExtensions.AddHttpClient causes Microsoft.Extensions.Http to depend on Microsoft.Extensions.Logging:

<https://github.com/dotnet/runtime/blob/c5a3f49c88d3d907a56ec8d18f783426de5144e9/src/libraries/Microsoft.Extensions.Http/src/DependencyInjection/HttpClientFactoryServiceCollectionExtensions.cs#L23-L31>
<htt

[2020-11-06 13:11] adamsitnik commented on #36447
Based on an offline discussion that contained EPYC numbers that can't be shared publicly, I can just say that #44265 helped with this issue.

@sebastienros please let me know when our high-core count CPU machines are online again ;)

[2020-11-06 13:14] SteveSandersonMS commented on #43545
@Pilchie:

Done. There's no direct `Reflection.Emit` (from memory, as far as I can tell via searching sources), but there's a lot of reflection, which I've listed.

[2020-11-06 13:15] antonfirsov commented on #41929
According to our reports and experience, this (and probably #41531) are the most annoying NCL test issues today. It's almost impossible to get an outerloop run without one or both of them failing.

@karelz how about kicking priority here?

/cc @wfurt

[2020-11-06 13:20] antonfirsov commented on #41929
![image](https://user-images.githubusercontent.com/6835152/98370659-33d9c080-203b-11eb-97bd-f0448d43e0a3.png)

Totally missed this in my previous comment.

[2020-11-06 13:21] KalleOlaviNiemitalo commented on #44349
Microsoft.Extensions.Logging depends on Microsoft.Extensions.DependencyInjection because LoggerFactory.Create creates a ServiceCollection:

<https://github.com/dotnet/runtime/blob/c5a3f49c88d3d907a56ec8d18f783426de5144e9/src/libraries/Microsoft.Extensions.Logging/src/LoggerFactory.cs#L93-L95>
<https://github.com/dotnet/runtime/blob/c5a3f49c88d3d907a56ec8d18f783426de5144e9/src/libraries/Microsoft.E

[2020-11-06 13:29] KalleOlaviNiemitalo commented on #44349
If you register ILoggerFactory and ILogger\<\> services before you call AddHttpClient, then LoggingServiceCollectionExtensions.AddLogging won't add the concrete types defined in Microsoft.Extensions.Logging. So the dependencies do not prevent you from using other logging implementations; they just require your application to carry some dead weight. I wonder whether the IL linker can be configured

[2020-11-06 13:35] joakimriedel commented on #42375
Thanks for investigating @kouvel !

Out of curiosity; from the response to this issue not many others seem to be affected by this bug. Our application is a pretty standard .NET Core solution with MVC and Web API - why do I hit this edge case and not other people with a similar setup?

[2020-11-06 13:42] tmds commented on #44329
If the `AnonymousPipeClientStream` is constructed from a handle that is a `pipe` (because the peer is not a .NET 6+ app) it will give issues when we treat it as a `Socket`. `Socket` specific APIs will return `ENOTSOCK`.

We could try make `Socket` more `pipe` friendly by using calls like `read`/`write` instead of `recvmsg`/`sendmsg`. Then the handle can remain a pipe and we can still leverage the

[2020-11-06 13:44] nrandell commented on #42809
I've just seen something very similar. I've just used this stack overflow question ( https://stackoverflow.com/questions/27835064/get-image-orientation-and-rotate-as-per-orientation) and find differences on linux and windows.

[code]

On windows the array returned is [8, 0], but on Linux it is [0, 8] - so my rotation code doesn't work!

[2020-11-06 13:48] stephentoub commented on #44329
Good point.  We could allow APCS to support both; you just wouldn't get the benefits in the case where it was pipe.

Would that have any negative throughput implications for Socket?

I don't want multiple instances of the SocketAsyncEngine in play, so we would need to expose it in some way for the other assembly to use.  This gets back then to how do we push that infrastructure lower for any assem

[2020-11-06 14:07] antonfirsov commented on #43935
@geoffkizer you meant #938 I guess.

[2020-11-06 14:24] huoyaoyuan commented on #44347
As the exception message says, multi-dim array(`long[,]`) is not supported. You should either write a json converter for it (`JsonConverter<long[,]>`), or change the data to jagged array (`long[][]`).

[2020-11-06 14:28] antonfirsov commented on #43934
Done PTAL.

[2020-11-06 14:54] ghelyar opened #44354 "System.Diagnostics.ActivitySource timestamps are not accurate on .NET Framework"
### Description

[Despite using a Stopwatch](https://github.com/dotnet/runtime/blob/3ac170acc89adde016b1297f7c29232cda61c102/src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.DateTime.netfx.cs), Activity start times and durations are not accurate. It's possible to run several activities one after the other, and get overlapping start and stop times. Even an empty act

[2020-11-06 14:54] marek-safar commented on #43545
@samsp-msft yeah, that was my point. The list will look very different if the intent of the user story is for AOT (and which AOT) or if it's for making the output smaller.

If we stay with AOT only it I'd exclude
	- Regular Expressions
	- ASP.NET
	- Marshaling interop

but others could be added, like SLE

[2020-11-06 15:04] #13837 closed

[2020-11-06 15:16] JulieLeeMSFT commented on #13837
Completed optimizing + and - operators. Will open a new issue to track * and /.

[2020-11-06 15:37] stephentoub commented on #44351
I suspect it's not actually a hang and that it was just taking a really long time encoding 2GB in the Base64.EncodeToUtf8 call.  Unfortunately there's no dump included to confirm or deny that.

[2020-11-06 15:38] marek-safar commented on #44213
@terrajobst could you please add this to your review list

[2020-11-06 15:40] antonfirsov commented on #1712
This failure is likely not about port stealing or any other direct interference with other tests.

The test tends to fail when CPU load is high. I can reproduce the failure by running the Theory's cases in parallel with a single other test case that calculates PI.

[2020-11-06 15:49] stephentoub commented on #44339
I checked in #44342 to hopefully help narrow down the ReadWriteAsync_Canceled_ThrowsOperationCanceledException issue.  That could very well be a real product problem.

The other Send_TimeoutResponseContent_Throws one cited isn't in the stream tests.  It looks to have one of the same problems I fixed recently in another test: if the client times out so fast that it never initiates a connection to t

[2020-11-06 15:57] javiercn commented on #44210
@lewing thanks for the quick fix!

Do we need to track this issue for servicing?

[2020-11-06 15:58] steveisok commented on #35836
This looks like something we'll need to resolve similar to our HttpHandler integration.  In mono, we were reaching into Xamarin libraries we won't have access to.

[2020-11-06 16:12] antonfirsov commented on #44351
In any case the "System.Memory.Tests Work Item" failed in OuterLoop, and not 100% sure, but it's probably not the first time I've seen this happening. If it occurs regularly we probably want to do something about it.

[2020-11-06 16:14] antoinebj commented on #44349
Thanks for your detailed replies with links to source code 👍

Well I feel like I'm digging up decisions from years ago, but I see what happened for logging: dotnet/extensions#640
As noted by @davidfowl in that PR, that was unfortunate.
While I understand that it's convenient to have this turn-key solution to create the factory, I find it also pretty confusing, awkward and worrying to see the concr

[2020-11-06 16:15] kouvel commented on #42375
The timing window is typically short. A thread checks that debugger suspension is not in progress, soon afterwards the debugger asks to suspend the runtime, then the thread may for example trigger a GC from allocating a few bytes when calling a virtual or interface method through a new type for the first time, which is also rare. The timing window may increase if there are more threads to suspend.

[2020-11-06 16:27] wfurt commented on #44339
Thanks for quick fix @stephentoub. I'll keep watching and we discussed to update our CI monitoring reports to see this sooner.

[2020-11-06 16:45] pjcollins opened #44358 "GetUtcOffset is not returning the correct value on Android"
`GetUtcOffset` is not working as I would expect on Android:

[code]
Output:
[code]

I've tried to change the system time zone on both a device and emulator to a couple of different US values, but in all cases the offset returned by both the deprecated TimeZone API and the newer TimeZoneInfo API is always `00:00:00`.

You'll likely have a better way to test this code snippet, but here's a repro tha

[2020-11-06 16:50] julealgon commented on #1394
Thanks for linking that, I hadn't seen it. It is quite an intrusive change for me so I have gone with a different strategy that doesn't rely on surrogates anymore for now.

I'm well aware that my opinion doesn't change _how hard it is to implement_, but is it being hard reason enough to close this issue though?

Also, can't you just consider a new mechanism for supporting surrogate serialization t

[2020-11-06 16:55] ManickaP commented on #42198
The only workaround is to avoid cancellation during socket connect. I don't know your exact problem so I cannot help much further at this point.

[2020-11-06 17:08] jkotas commented on #44213
A potential alternative is to think about this as a mechanism specific to Objective C++ interop. We may end up adding more low-level APIs to the runtime to support Objective C++ interop, conceptually similar to low-level APIs that we have added for WinRT interop support in .NET (`System.Runtime.InteropServices.ComWrappers`).

With this design, auto-releasing of the object pools would be hardcoded

[2020-11-06 17:18] terrajobst commented on #44213
The review list is on https://apireview.net which is just querying for the label `api-ready-for-review`. As soon as it's marked, it's on my list 🤗

[2020-11-06 17:20] kouvel commented on #44211
Part of the problem appears to be slower stack walking on the thread pool thread when performing a GC. Even though most of these tests don't use the thread pool, tiered compilation currently uses the thread pool to do its background work, and thread pool thread when waiting for work would have managed frames with GC refs. I could switch tiering to not use the thread pool, I was thinking about that

[2020-11-06 17:20] ManickaP commented on #41929
There's been spike of error in the last 2 days:
[code]
34 errors in the last two days.

[2020-11-06 17:51] geoffkizer commented on #43901
In most cases this is probably just making the existing internal APIs in Socket.Tasks.cs public, as the stuff in SocketTaskExtensions.cs is already just calling directly into those methods.

[2020-11-06 17:53] geoffkizer commented on #43934
Looks good

[2020-11-06 17:58] eiriktsarpalis commented on #44353
I think it's because [this check](https://github.com/dotnet/runtime/blob/03701ba6d2656c1fb52848744980c7b799aabccf/src/libraries/System.Private.CoreLib/src/System/Collections/Generic/List.cs#L818) is incorrect. For example you have the following behaviour:
[code]
Really I think we could simplify the validation logic of this method by copying the behaviour found in [`IndexOf`](https://github.com/dot

[2020-11-06 18:10] danmosemsft commented on #44343
@jaymin93 it's yours. Let us know if you need help - there are docs on how to get started, testing, coding style etc.

[2020-11-06 18:15] layomia commented on #44347
+1

See https://docs.microsoft.com/dotnet/standard/serialization/system-text-json-converters-how-to?pivots=dotnet-5-0 for guidance on how to write custom converters. Please let us know if you're successful with either of these workarounds.

This is not a regression from .NET 3.1, so will triage as future.

[2020-11-06 18:18] lambdageek commented on #44213
The worker tracking within the threadpool itself could be an instance of this mechanism.

More or less the same way (register a delegate that calls back to invoke the work item) but the method wasn't on the threadpool itself https://github.com/mono/mono/blob/b4337dd4e83a8e89c278e5eaa3e3135a1dd672c9/mcs/class/referencesource/mscorlib/system/threading/threadpool.cs#L1238-L1263

[2020-11-06 18:32] lambdageek commented on #44213
Added the `System.Runtime.InteropServices.ObjectiveCSupport` alternative.

[2020-11-06 18:40] layomia commented on #38435
Will close - this issue isn't actionable as is. Please let us know if you still face issues here.

[2020-11-06 18:40] #38435 closed

[2020-11-06 18:56] steveharter commented on #44327
Any common use case that is not supported is being considered. @BreyeW can you share an example so this is properly captured here? Thanks

[2020-11-06 18:58] #44055 closed

[2020-11-06 19:05] mklement0 commented on #32737
Note:

* The following update is based on running the `Assert-ReliableDirRemoval .net` test above successfully in Windows 10 version 20H2 and the information gleaned from [this Stack Overflow post](https://stackoverflow.com/a/60512798/45375).

* As of this writing, the documentation of the underlying [`DeleteFile`](https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-deletefilea)

[2020-11-06 19:09] jlennox commented on #27912
I'd like to also request:

[code]

[2020-11-06 19:34] sglienke commented on #44353
@eiriktsarpalis The exception in your code is indeed correct - the index being passed is the index it starts to search backwards, and starting at index 0 with a count of 2 is invalid.

[2020-11-06 19:36] BruceForstall commented on #42885
@ayende I can't think of any good workarounds. Possibly changing the size of the generated code to reduce the size of local variables to less than ~4K would help. Or to force a GC before functions with known large frame sizes were called. But those are unsatisfactory. If you update to 5.0 the problem should go away, as the probing logic was changed, though @janvorli can probably verify that's true

[2020-11-06 19:44] steveharter commented on #44319
In the [original issue](https://github.com/dotnet/runtime/issues/29723) @terrajobst points out EF and MVC as known scenarios.

The EF scenarios would use the nullability APIs to generate code from model or a model from code and that doing this is generally not performant-critical since these are developer\design-time scenarios, not runtime\production scenarios.

The MVC scenarios may use for desig

[2020-11-06 19:52] eiriktsarpalis commented on #44353
You're right, I suppose I misunderstood the contract of LastIndexOf. I think we should ensure uniform behaviour in bounds checking for the two methods.

[2020-11-06 20:11] danmosemsft commented on #43979
Moved under https://github.com/dotnet/runtime/issues/43617 as there's already a user story.

[2020-11-06 20:17] layomia commented on #38395
Closing this issue as it is not actionable. Please let us know if you still face issues here.

[2020-11-06 20:17] #38395 closed

[2020-11-06 20:19] BreyerW commented on #44327
@steveharter  im not expert on reflection but i remember having trouble with ref return methods when generating dynamic methods it simply fails (dont remember exact exception since its year ago by now). Although theres workaround by defining entire assembly then generating ref return method inside that assembly but it isnt easy to discover i myself found that solution on accident in stackoverflow

[2020-11-06 20:32] PathogenDavid commented on #42241
It's worth noting that the runtime already supports the `TZ` environment variable on Linux:

![image](https://user-images.githubusercontent.com/278957/98411868-7354dc80-203c-11eb-9e5e-c6dcec0f3c18.png)

The value of TZ can basically be any file under /usr/share/zoneinfo. (Or an absolute path to a custom timezone file.)

This functionality is implemented by [`TimeZoneInfo.TryGetLocalTzFile`](https:

[2020-11-06 20:35] layomia commented on #37614
From @buyaa-n in https://github.com/dotnet/runtime/issues/29648:

[2020-11-06 20:52] jkotas commented on #44353
The bounds checks in some of the IndexOf/LastIndexOf methods are more relaxed than what one would expect for backward compatibility. `string.LastIndexOf` has some of the same problems. Changing these corner cases to throw instead would be a breaking change. (IIRC, we have done fix like that in the past in one of these method and it was reverted.)

[2020-11-06 21:08] VSadov commented on #44208
Any new failures? Is there a way to check?

[2020-11-06 21:10] buyaa-n commented on #33767
@terrajobst it would be great if there were some examples of how it could happen, what the analyzer should look up, and what to flag for fix

[2020-11-06 21:12] BruceForstall commented on #42885
There are a lot of considerations for when and how RBP can be established. Some are described here: https://github.com/dotnet/runtime/issues/4651#issuecomment-157184918. I would be worried about unexpected problems if we try to change this.

[2020-11-06 21:14] roblapp commented on #36063
I have a background process that has long periods of time that are blocking. What is the appropriate setup to have it run during the lifecycle of my application? Adding an `await Task.Delay` at the beginning of `ExecuteAsync`? Or using `Task.Run(() => {...});` in `ExecuteAsync`?

[2020-11-06 21:50] buyaa-n commented on #33777
Should this analyzer flag a case without Substring() and suggest Concat? like  `str1 + str2 + str3 => string.Concat(str1, str2, str3)`

[2020-11-06 21:55] stephentoub opened #44365 "Consider changing Enum's cache to store arrays of the underlying type"
https://github.com/dotnet/runtime/pull/44355#discussion_r518977706

[2020-11-06 21:57] robkeimig commented on #30083
This is the only thing stopping us from moving to System.Text.Json. We _really_ want to, but we have to have polymorphic support both ways. It might not be "as intended" or "best practice", but we use JSON for serializing most of our business state to/from durable storage. When you are working with incredibly dense object graphs that can change on a daily basis (over 1000 properties across 100+ ty

[2020-11-06 22:13] smitpatel opened #44368 "Question: Mismatching type for variable when inside expression tree"
Repro code
[code]
prints
[code]
Variable in intellisense shows `IEnumerable<int>` too.

[2020-11-06 22:39] marek-safar opened #44369 "SerializationGuard is used when EnableUnsafeBinaryFormatterSerialization feature switch is disabled"
SerializationGuard logic is still used even if EnableUnsafeBinaryFormatterSerialization feature is disabled via feature switch. This brings unnecessary dependencies for size sensitive workloads.

Ideally, code like
- https://github.com/dotnet/runtime/blob/master/src/libraries/Common/src/System/Runtime/Serialization/SerializationGuard.cs
- https://github.com/dotnet/runtime/blob/master/src/libraries

[2020-11-06 22:39] eiriktsarpalis commented on #44353
Thanks for the context @jkotas. If that's the case I'm going to close this.

[2020-11-06 22:39] #44353 closed

[2020-11-06 22:59] BruceForstall commented on #44132
The `ASSERT("message")` cases are all in the PAL, which is "unique". The VM cases of `ASSERT(!"message")` maybe could be changed to use `_ASSERTE` like most everything else. It's not clear there's value in making it unreached, which as David says can cause warning problems with various compilers.

[2020-11-06 23:09] AndyAyersMS opened #44372 "Support profile instrumentation for inlinees"
The jit and runtime currently do not support instrumenting (BBINSTR) of inlined code. Enabling this may prove useful for a number of reasons -- for example we are currently not be able to observe the behavior of methods marked with aggressive inline attributes.

(This doesn't impact dynamic PGO as it instruments Tier0 code where inlining is disabled).

Outline of how to fix this:
* update the jit

[2020-11-06 23:26] danmosemsft commented on #44369
cc @GrabYourPitchforks

[2020-11-07 00:11] safern commented on #44313
I didn't have any luck either at building a query for this. I don't know if it doesn't fail enough times to get to the point that the limit it hits there is an instance of that log or that the query is just wrong. I did try with higher limits and no luck either. Maybe @jaredpar will be able to get it right.

[2020-11-07 00:13] josalem commented on #43820
It looks like the question has been answered.  If you still need advice, we can reopen it :smile:.

[2020-11-07 00:13] #43820 closed

[2020-11-07 00:15] josalem commented on #43094
Let me know if you come up with any repro steps and we can reopen this issue :smile:.

[2020-11-07 00:15] #43094 closed

[2020-11-07 00:19] josalem commented on #41782
@davmason any news on this, or should we close it?

[2020-11-07 00:20] BruceForstall commented on #43289
Doesn't fail in subsequent runs

[2020-11-07 00:20] #43289 closed

[2020-11-07 00:22] Anipik commented on #44079
it seems like adding the new tfm resolved those errors. I am not seeing any, but the https://github.com/dotnet/runtime/pull/44373 will let us know we require any specific workarounds.

[2020-11-07 00:22] BruceForstall commented on #43201
Doesn't fail in subsequent runs

[2020-11-07 00:22] #43201 closed

[2020-11-07 00:24] davmason commented on #41782
I never did get a repro

[2020-11-07 00:24] #41782 closed

[2020-11-07 00:24] josalem commented on #36962
I'm not aware of this test failing recently.  If we need to we can reopen this issue if it fails again.

[2020-11-07 00:24] #36962 closed

[2020-11-07 00:25] josalem commented on #34839
@sywhang says I can close this so I'm closing it.  Thanks, @sywhang. 😁

[2020-11-07 00:25] #34839 closed

[2020-11-07 00:28] josalem commented on #1791
This work is shipping in 5.0.

[2020-11-07 00:28] #1791 closed

[2020-11-07 00:29] #168 closed

[2020-11-07 00:29] BruceForstall commented on #42514
@echesakovMSFT arm64 CQ issue

[2020-11-07 00:32] #13408 closed

[2020-11-07 00:32] #13248 closed

[2020-11-07 00:35] #13170 closed

[2020-11-07 00:37] BruceForstall commented on #41926
@briansull

[2020-11-07 00:37] #12939 closed

[2020-11-07 00:38] #12844 closed

[2020-11-07 00:40] #12746 closed

[2020-11-07 00:42] josalem commented on #11755
2.2 is out of support and it appears to be working in current versions.

[2020-11-07 00:42] #11755 closed

[2020-11-07 00:54] #28403 closed

[2020-11-07 01:01] josalem commented on #41752
We can reopen this issue when a repro is available.

[2020-11-07 01:01] #41752 closed

[2020-11-07 01:03] josalem commented on #40512
Issue was "moved" to dotnet/wpf; closing

[2020-11-07 01:03] #40512 closed

[2020-11-07 01:12] #26197 closed

[2020-11-07 01:15] josalem commented on #29009
@davmason would your 5.0 work fix this as well?

[2020-11-07 01:18] #26468 closed

[2020-11-07 01:23] BruceForstall commented on #41639
@sandreenko Is this resolved now? Or do we still need superpmi.py scripting work on top of the fixes mentioned here?

[2020-11-07 01:23] JulieLeeMSFT opened #44375 "JIT: Optimize simple MUL/DIV arithmetic with GT_NEG"
This is part 2 of #13837 to optimize multiplication and division arithmetic optimizations with GT_NEG.
Addition and subtraction have been completed in PR https://github.com/dotnet/runtime/pull/43921.

[code]

category:cq
theme:basic-cq
skill-level:beginner
cost:small

[2020-11-07 01:26] BruceForstall commented on #38201
@briansull

[2020-11-07 01:49] BruceForstall commented on #37167
Looks like in the "optimization" case, we clone the loop and elide the bounds checks in one clone. For some reason, the `+= 1` case is preventing the loop cloning.

[2020-11-07 01:58] davmason commented on #29009
No, this is a dupe of #10428

[2020-11-07 01:58] #29009 closed

[2020-11-07 02:15] #42148 closed

[2020-11-07 03:10] Jozkee commented on #28444
@stephentoub I would personally prefer suggestion 3 over 2; that is keep using fsync for FlushAsync() and change Flush(true) to use fcntl(F_FULLFSYNC). Wouldn't be better to just avoid the breaking change? I guess the downside would be that we wouldn't be consistent between sync and async.

[2020-11-07 06:16] huoyaoyuan commented on #44346
Looks like that `dotnet` command doesn't invoke `nuget.exe`. For example, https://github.com/dotnet/sdk/blob/master/src/Cli/dotnet/NuGetForwardingApp.cs

[2020-11-07 08:08] valco1994 commented on #43094
Ok

[2020-11-07 08:10] valco1994 commented on #43820
Your answer is exhaustive,  thank you

[2020-11-07 08:39] Youssef1313 opened #44376 "[Analyzer suggestion]: Usage of LastIndexOf"
LastIndexOf behavior has changed as documented in https://github.com/dotnet/docs/pull/21375.
An analyzer that detects a return value of LastIndexOf that's then used as an index to access the character should report a violation.

## Example

[code]

cc: @mavasani

[2020-11-07 09:53] MihaZupan commented on #44364
Marking as a bug as we should never be throwing NRE.

[2020-11-07 10:22] sakno opened #44377 "Method resolution respects boxing conversion implicitly"
I'm not sure if this a bug. Probably it's just an undocumented behavior.

### Description

`Type.GetMethod` includes boxing conversion when trying to resolve method:
[code]

`TextWriter` class doesn't have overloaded method with `System.Guid` parameter and probably should return `null`. However, it returns `TextWriter.WriteLine(object)` method. Is this expected behavior?

### Configuration

* OS:

[2020-11-07 10:38] choXberg commented on #40272
@mangod9 - I do not have any segmentation faults issues anymore with dotnet core on linux host and linux virtual machine

ubuntu linux 3.1.403

I would say we can close this ticket.

Thank you

[2020-11-07 12:05] EgorBo commented on #44375
A small note: `10` -> `-10` should not be done for IconHandle constant, see https://github.com/dotnet/runtime/pull/44266

[2020-11-07 12:06] stephentoub commented on #28444
The consistency is key. Stream.Flush / FlushAsync should be functionally equivalent except for the one piece that one does sync writes and the other async writes. They shouldn't have different levels of strength/ reliability. But more importantly,  FlushAsync doing the equivalent of Flush(true) means it's failing at its one goal,  to be async.

[2020-11-07 12:21] stephentoub commented on #28444
Actually,  I already fixed that part,  two years ago:
https://github.com/dotnet/coreclr/pull/24902

[2020-11-07 13:29] stephentoub commented on #44208
I haven't seen any more but I'm also not at my computer to run a query right now. (I'm also wondering if this could possibly have been another effect of https://github.com/dotnet/runtime/issues/44250?)

[2020-11-07 14:43] vova-lantsov-dev commented on #36063
@roblapp both should work for you

But you forgot about 'async':
`Task.Run(async () => ...)`

[2020-11-07 14:54] MCCshreyas commented on #44348
Hi @alwilton,
In your csproj file in `<PropertyGroup>` tag, change `<OutputType>Exe</OutputType>`  to `<OutputType>WinExe</OutputType>`.
Please let me know the outcome.

[2020-11-07 15:39] KamranShahid commented on #31257
I again needed similar thing for converting one implementation as mentioned in my stackoverflow post
https://stackoverflow.com/questions/64729381/defaultcontractresolver-equivalent-in-system-text-json

Basically trying equivalent of
[code]

Any help in it?

[2020-11-07 15:44] alwilton commented on #44348
I do not have a OutputType element in the csproj file. This is a .NET Core 3.1 Worker project. Here is what I have at the top of the csproj

[code]

[2020-11-07 15:53] sakno commented on #44377
Closing issue. This behavior is described here: https://docs.microsoft.com/en-us/dotnet/api/system.type.defaultbinder

[2020-11-07 15:53] #44377 closed

[2020-11-07 16:06] mangod9 commented on #40272
great thanks for your response. Closing this for now.

[2020-11-07 16:06] #40272 closed

[2020-11-07 16:16] huoyaoyuan commented on #44368
**You may have misunderstanding about types.**

Expression type and IntelliSense gives **variable type**, where `GetType()` gives **object type**.
https://github.com/dotnet/runtime/blob/6cfef20c1524b8d4c1495a652dfe9e898c5a486b/src/libraries/System.Linq/src/System/Linq/Cast.cs#L38-L40

`Cast` has a shortcut to return the original object if it fits. **Never rely on the returned implementation type f

[2020-11-07 16:16] MCCshreyas commented on #44348
Try putting Console.Title statement in try block after CreateHostBuilder statement!

[2020-11-07 16:18] ddobrev opened #44378 "A structure with a virtual table and a double field incorrectly marshalled with a sequential layout"
I have the following C++ class:

[code]

I've created the following structure to marshal it:

[code]

On x86 Windows with MSVC, as I've specified below, the second field of `Field` has offset of 8. The sequential layout above, however, calculates it as 4 which causes crashes at run-time.

### Configuration

.NET Framework 4.7.2
Windows x86
MSVC

### Other information

I can use explicit layouts, o

[2020-11-07 16:39] tannergooding commented on #44378
For reference: https://godbolt.org/z/xddv7c

[2020-11-07 16:43] tannergooding commented on #44378
It's worth noting however, that for a struct without a vtbl but an explicit first member that is a `void*` the struct is marshalled correctly: <https://godbolt.org/z/1zP5qj>

There would need to be some feature which explicitly annotates that a given field is the `vtbl` and therefore should be marshalled differently.

[2020-11-07 16:54] alwilton commented on #44348
that hangs the program as well.

[2020-11-07 17:18] EgorBo commented on #44378
Or like this:
[code]

[2020-11-07 19:49] tarekgh commented on #42241
@PathogenDavid what is your scenario you want to use this for?

[2020-11-07 20:16] GrabYourPitchforks commented on #44376
I don't think we need an analyzer for this. The return value has always been allowed to be `string.Length`, as given by this example.

[code]

Additionally, it's not really sensible to search for a non-constant substring (_s2_, in your example), then attempt to perform an index into the string in order to retrieve a single character based on the returned index. I can't imagine anybody is ever goin

[2020-11-07 20:48] CBrauer commented on #44347
Thanks huoyaoyuan, your suggestion worked.   All the rest of the suggestions were a great disappointment to me.
Please close the issue.

[2020-11-07 21:58] PathogenDavid commented on #42241
@tarekgh I have 0 use for this feature, I just stumbled upon the discussion and thought I'd mention `TZ` since it's less hacky than the reflection method as long as you don't need Windows support. (Which was seemingly the case for @EvgenyPrikhodko)

[2020-11-07 22:08] EvgenyPrikhodko commented on #42241
Thanks, but your solution doesn't work for me.

[2020-11-07 22:11] ddobrev commented on #44378
@tannergooding thank you for your replies. Do you think such a fix would be difficult or a breaking change?

[2020-11-07 22:35] tannergooding commented on #44378
That would likely be a question for @jkoritzinsky and @AaronRobinsonMSFT.

It's also worth noting that the above trick using `long` only works on Windows. It looks like Linux (and possibly other platforms/architectures) have a slightly different layout: https://godbolt.org/z/h5PT81

[2020-11-07 22:43] ddobrev commented on #44378
Indeed, Linux pads at the end instead.
@jkoritzinsky @AaronRobinsonMSFT could you share your opinions, please?

[2020-11-07 23:48] #44347 closed

[2020-11-08 00:07] RicoSuter commented on #31257
@KamranShahid same is done here: https://github.com/RicoSuter/NJsonSchema/blob/master/src/NJsonSchema/Generation/SystemTextJsonUtilities.cs#L45

But not sure whether this is a “sustainable” solution.

[2020-11-08 03:11] davidfowl opened #44381 "There's no way to handle validation errors with IOptionsMonitor.OnChange"
Today you can use `IOptionsMonitor.OnChange` to subscribe to changes when an `IOptionsChangeTokenSource<T>` cancellation token source triggers. The problem is that if the next call results in an invalid configuration or throws an exception during the building of the changed configuration, that error will throw on a background thread and OnChange will never fire. Even worse is that there's no way t

[2020-11-08 03:26] davidfowl commented on #44381
cc @HaoK did this come up during the initial design?

I can think of 2 ways to address this:
- Implement *another* options interface with an `OnChange` callback that just notifies without first retrieving the new options
- Implement *another* options interface with an `OnChange` callback that pushes the error through (similar to Rx)

We may be able to retrofit it by using:
- Default interface meth

[2020-11-08 03:34] HaoK commented on #44381
Ah yeah, no we didn't really consider how validation errors would interact with OnChange

[2020-11-08 03:42] davidfowl commented on #44381
Yea, it doesn't work well right now if things throw on background threads. The good news is that this can be worked around today because all of the interfaces are public but it basically requires a re-implementation of the OptionsMonitor. I think we should make a tiny change here:

https://github.com/dotnet/runtime/blob/c82abc5cd40ecc9b61c6a8590acb267131727a98/src/libraries/Microsoft.Extensions.Op

[2020-11-08 03:43] HaoK commented on #44381
You prefer letting them fetch the options as opposed to pushing the error (with a null instance I guess to signify an error has occurred?

`IDisposable OnChange(Action<TOptions, string, Exception> listener);` where TOptions will be null whenever there's an exception.  The old OnChange could just call the new overload with an action that ignores the exception too.

[2020-11-08 03:45] HaoK commented on #44381
The tweak of moving the Get into the non null check I think would result in the cache not being populated which is a subtle (not sure if it matters difference)

[2020-11-08 03:55] davidfowl commented on #44381
@HaoK IDEA but likely breaking, what if we pass null with an emptied cache? That would allow you to handle the error by accessing the value but would still fire the callback...

[2020-11-08 03:58] HaoK commented on #44381
That seems decent, so basically we wrap the Get with a try/catch in OptionsMonitor and callers will need to guard against null (if they use options validation).

[2020-11-08 03:58] HaoK commented on #44381
Yeah maybe better for them to opt-in with a new OnChange than blow everyone up

[2020-11-08 04:32] brporter opened #44382 "X509Store.Certificates.Find() results in surprisingly large finalized object counts"
### Description

While debugging a memory allocation issue, I noted a large number of finalized objects were being reported in my perfview trace, specifically over 100,000 instances of finalization for Internal.Cryptography.Pal.Native.SafeCertContextHandle.

After some experimentation, I've found that the following program reproduces this behavior:

[code]

### Configuration
I've reproduced this b

[2020-11-08 05:32] MCCshreyas commented on #44364
For me the first call is working, and second is throwing exception in dotnetfiddle. Can you please check on your side? @RPM1984

[2020-11-08 05:42] RPM1984 commented on #44364
@MCCshreyas correct. The 1st line is ok, I just put it there for an example. The second line is crashing, but shouldn't. The only difference is the trailing slash.

[2020-11-08 05:43] MCCshreyas commented on #44328
You mean `TGenericContext` should be `TGenericContext? ` and putting method under #nullable context?

[2020-11-08 07:11] MCCshreyas commented on #44364
@RPM1984 No, no. I mean the first URL without end / is not working for me, see below screenshot.

![image](https://user-images.githubusercontent.com/17148381/98459305-a4114f00-21bf-11eb-97b5-acddff9f9bfd.png)

[2020-11-08 08:22] sywhang opened #44383 "genEventing.py generates incorrect event enabled checks for Windows builds"
@brianrob reported this issue.

Currently, the EventEnabled* functions that are generated using the event manifest looks like this:

[code]

This is incorrect because it needs to check whether ETW is enabled as well, so it should look like the following:

[code]

This is a regression that happened in all the way back in 3.1, but went unnoticed because most of the runtime uses the EVENT_ENABLED* ma

[2020-11-08 09:10] Youssef1313 commented on #44376
@GrabYourPitchforks I found a pattern which is similar to the one in the issue in aspnetcore repository.

https://github.com/dotnet/aspnetcore/blob/fd1a5c5a9c4812ff5fc760816c7d4d0e0dad7943/src/Tools/dotnet-watch/BrowserRefresh/src/WebSocketScriptInjection.cs#L33-L44

[code]

[2020-11-08 09:24] PathogenDavid commented on #42241
@EvgenyPrikhodko Not sure what to tell you, works fine for me on WSL.

[2020-11-08 10:03] njy commented on #44108
I'm closing this issue since in fact there's no reason to make the IDistributedCache interface an IDisposable directly.

I still believe that the Dispose method of MemoryCache should clean up all entries, mainly because of post eviction callbacks, but that would be for another issue.

Thanks everybody for participating in the discussion.

[2020-11-08 10:03] #44108 closed

[2020-11-08 10:58] stephentoub commented on #44382
Disposing of the X509Store doesn't dispose of all of the certificate objects in the Certificates collection.  Try adding:
[code]
to your test.

[2020-11-08 12:17] 3rdey3 opened #44385 "`KeyValuePair` serialization doesn't follow camel case option in `System.Text.Json`"
### Description

When serializing object of `KeyValuePair` the serializer doesn't take `JsonNamingPolicy.CamelCase` option into consideration. The following example code tries to depict the situation.

[code]

**Result:**

[code]

**Expected Result:**

[code]

### Configuration
**.NET Version:** Core 3.1
**OS:** Windows 10 20H2
**Architecture:** x64

[2020-11-08 12:30] am11 commented on #44385
With .NET 5, it gives the expected output:

[code]

For netcoreapp 3.x, we can reference the latest NuGet package in project file: https://www.nuget.org/packages/System.Text.Json.

[2020-11-08 12:46] ClimberBear opened #44391 "GetCultureInfo for Spanish reports invalid list separator"
# Issue Title

GetCultureInfo for Spanish report invalid list separator (report "." instead of ";")

# General

The standard list separator for Spanish in Spain is the semi-colon, as you can see, e.g., exporting Excel files in CSV format.

But, if you execute
CultureInfo.GetCultureInfo("es-ES").TextInfo.ListSeparator
you get "."

My SDK is: 3.1.403 [/usr/local/share/dotnet/sdk] running in MacOS Ca

[2020-11-08 13:20] KamranShahid commented on #31257
I am looking for solution within System.Text.Json. Not wanted to have NewtonSoft dependency anymore

[2020-11-08 13:51] akraines opened #44387 "net5.0 TargetFramework issues with NuGet packages"
![image](https://user-images.githubusercontent.com/15201927/98466604-3c67fd80-21d9-11eb-9788-ad8087689eb7.png)

"Install failed (project: DCMS, package: PCSModels v1.0.2)
                Package restore failed. Rolling back package changes for 'DCMS'.
                Package PCSModels 1.0.2 is not compatible with netcoreapp5.0 (.NETCoreApp,Version=v5.0). Package PCSModels 1.0.2 supports: net50 (.N

[2020-11-08 13:58] EvgenyPrikhodko commented on #42241
Thank you, we know this option.

[2020-11-08 14:14] MCCshreyas commented on #44387
What framework target that your project uses on which you are trying to install the package? Make sure your package target framework is like this `<TargetFramework>net5.0</TargetFramework>

[2020-11-08 14:31] akraines commented on #44387
Yes it was. I llooks like it was an issue with Rider 2020.2 - We downloaded 2020.3 EAP and it worked.

[2020-11-08 14:35] AArnott commented on #44328
Yes. Except I think it already is under a nullable context because the C# compiler was telling me it's an error to pass null in. If there were no nullable context, the compiler wouldn't have told me that.

[2020-11-08 14:49] MCCshreyas commented on #44387
@akraines, Ohh that's great!

[2020-11-08 14:54] MCCshreyas commented on #44387
@akraines, Ohh that's great!

You can consider closing this issue!

[2020-11-08 15:02] stephentoub commented on #44382
Disposing of the X509Store doesn't dispose of all of the certificate objects returned in the Certificates collection, as they can be used after the store is disposed. Try adding:
[code]
to your test.

However, there does appear to be a bug beyond that.  @bartonjs, the StorePal.CopyTo's method use of SafeHandles is really strange: it's bending over backwards to try to keep pointers in safe handles

[2020-11-08 15:06] brporter commented on #44382
@stephentoub Enumerating the returned certificates collection and disposing of the certificates individually does reduce, but doesn't eliminate, the spike in finalized objects.

[2020-11-08 15:08] stephentoub commented on #44382
Right, see the remainder of my comment (which I added subsequently).

[2020-11-08 15:13] MCCshreyas commented on #44328
Ok. I will get that annotated and will open a PR!

[2020-11-08 15:47] #44387 closed

[2020-11-08 15:47] nathanpovo commented on #33237
I am trying to build the runtime for android (following the directions in https://github.com/dotnet/runtime/tree/a89dcada9eb18e7a370b82027c256c7e16d9e7be/docs/workflow/building/coreclr/android.md). However, the scripts seems to be outdated; there are references to scripts that no longer exist or scripts that have changed names.

The instructions mention the script ```coreclr/cross/init-android-roo

[2020-11-08 17:07] gokhanabatay commented on #31257
Please support a way to handle NHibernate Proxy objects serialization:

[code]

[2020-11-08 17:17] gokhanabatay opened #44390 "Support a way to ignore/handle exceptions on serialization"
NHibernate Reference properties may throw record not found exception on serialization.
With serialization options we could ignore this exception, please give us a way to ignore errors on serialization.

[code]

NHibernate Proxy objects serialization how to define global or property level contract resolver?

[code]

[2020-11-08 17:19] gokhanabatay commented on #44390
area-System.Text.Json

[2020-11-08 17:40] KalleOlaviNiemitalo commented on #44349
# Microsoft.Extensions.Logging depending on Microsoft.Extensions.DependencyInjection

If an application does not call LoggerFactory.Create, I imagine an IL linker can easily detect that and remove the method and all of Microsoft.Extensions.DependencyInjection. I don't see other ways to remove the dependency now that LoggerFactory.Create has already been in released package versions.

# Microsoft.E

[2020-11-08 18:15] davidfowl commented on #44349
I have been following this thread but haven't heard a strong reason behind the why we would do this. I understand the layering concerns but what would you be solving by doing this?

[2020-11-08 18:23] cleftheris commented on #1761
@ahsonkhan @layomia  Recently I came across a case that I had a value type in a collection (lets say `List<GeoPoint>` or `GeoPoint[]`). In aforementioned case the Serializer would not be able to deserialize an throws an `InvalidCastException` with message

    System.InvalidCastException : Unable to cast object of type 'System.Collections.Generic.List`1[GeoPoint]' to type 'System.Collections.Gener

[2020-11-08 18:32] KalleOlaviNiemitalo commented on #44349
Personally, I haven't been troubled by these dependencies; but I'd like to understand the best practices.

[2020-11-08 19:43] stephentoub commented on #44328
Why? If someone wants to pass null,  they should be using a nullable TGenericContext, no?

[2020-11-08 20:10] danmosemsft commented on #44391
Dupe of https://github.com/dotnet/runtime/issues/43795

[2020-11-08 20:12] danmosemsft commented on #44348
@alwilton what behavior are you expecting? There is no console when you are running as a service.

[2020-11-08 20:27] trylek opened #44393 "Team Epic: .NET Runtime Repo Developer Inner Loop Productivity"
In .NET 6 timeframe we intend to improve on the following aspects of developer inner loop productivity based on feedback regarding common pain points:

- Reduce manual steps needed for unit testing of private coreclr dev bits from 4 to 1
- Coreclr up-to-date check takes < 5s on an average dev machine
- Local build time
- Local build reliability and consistency
- Telemetry

**Unit testing**

- [ ]

[2020-11-08 20:35] trylek opened #44394 "Team Epic: Lab Reliability, Accountability and Telemetry"
This epic covers developer interaction with lab pipelines (AzDO); provisions for being able to analyze and investigate AzDO failures and other related forms of telemetry.

- Lab stability and performance
- Reproduction of Helix environment
- Diagnostic files produced by CI
- Dump management
- Documentation

**Lab stability and performance** (5 weeks total)

- [ ] (2 days, P3) Remove x64 binaries b

[2020-11-08 20:42] trylek opened #44395 "Team Epic: Evolution and Hygiene"
This epic revolves around keeping the infrastructure itself healthy:

- Documentation
- Build system and pipeline hygiene
- Adoption of new testing modes
- Lab accountability & telemetry support

[2020-11-08 21:01] alwilton commented on #44348
Yes, that is true. There is no console running as a service. However a very nice feature of the .NET Core Worker Application is you can run the very same EXE as a console program and that is were this problem lies. If you leave the line in of Console.Title = @"AppServices"; it will run as a console application just as expected. however that same EXE will not run as a service application. Taking th

[2020-11-08 21:26] tarekgh commented on #44391
@ClimberBear thanks for reporting the issue. I'll close this one and please please follow up on the issue https://github.com/dotnet/runtime/issues/43795.

Also, I need your feedback regarding the expected list separator value for Spanish culture. I understand you said you expect `;` but would `,` be a wrong value too? I want your feedback on the proposal https://github.com/dotnet/runtime/issues/43

[2020-11-08 21:26] #44391 closed

[2020-11-08 21:34] MakVish opened #44396 "Playing sound file in C#- using Visual Studio Mac 2019"
Is there a way to play a sound file or beep sound in mac while coding using C#? I have tried Console.Beep which doesn't work. I have also tried Systems.Sounds but negative. I know all of this works in Windows and it's just a one line code. However, it seems quite difficult in Mac. Is there a simpler way to play any sound file? I have seen some answers mentioning Xamarin.Mac but I don't know how to

[2020-11-08 22:17] danmosemsft commented on #44348
There will always be some API that behave differently in a service or do not work. I don’t think we want to special case them so they appear to work. The IOException is telling you that it didn’t work: I would just catch it.

[2020-11-08 22:57] fagnercarvalho commented on #1250
Hello @danmosemsft, can I work on this?

I went a little deeper on this issue and I'm seeing that this message is being returned incorrectly also in the following methods:

- `System.Collections.Generic.List.IndexOf(item, index)`.
- `System.ArraySegment.Slice(index)`.
- `System.ArraySegment.Slice(index, count)`.
- `System.Collections.ObjectModel.Collection.Insert(index, item)`.
- `System.Globaliza

[2020-11-08 22:57] ericwj commented on #29547
Suppose I serialize it and write it to disk. Now I want to read it back in?

I certainly don't want to have to dive into openssl or, worse, BouncyCastle. Or the other way around, depending on preference.

[2020-11-08 23:08] jeromelaban commented on #44033
I can confirm that the System.Net.Quic file is now generated properly and that the linker step does not fail anymore.

Thanks!

[2020-11-08 23:24] jinek commented on #15704
Guys, just to understand. Isn't it possible to save assembly in dotnetcore currently out of the box? It's just I've been hitting missing parts since 1.0.
I also don't understand the problem. .NET compiler works somehow both on Windows and Linux.

[2020-11-08 23:35] AArnott commented on #15704
@jinek The problem is that existing .NET APIs under System.Reflection.Emit that can be used to generate dynamic assemblies works on .NET Core except for saving the dynamic assembly to disk. No 3rd party solution addresses this problem as it would require rewriting all your Ref.Emit code to use the new library. Even if this could be done, The Ref.Emit APIs are exclusive in being able to add members

[2020-11-08 23:37] AArnott commented on #44328
Ah yes, that makes sense.
I just tested it in my caller of this API and it works fine. Please disregard.

[2020-11-08 23:37] #44328 closed

[2020-11-08 23:45] GrabYourPitchforks commented on #44376
That pattern is fine for two reasons: (a) it's using an ordinal search instead of a linguistic search; and (b) it's slicing instead of dereferencing.

[2020-11-09 00:07] RPM1984 commented on #44364
@MCCshreyas sorry yes you're right, i had the comment/failing one the wrong way around 😊

[2020-11-09 00:29] isral commented on #15704
@jinek
.net (core) 5 also doesn't have emit methods related to debug information.
https://github.com/Lokad/ILPack mentioned above also can not set entry point.
If you don't need entry point and debug information, give ILPack a try.

[2020-11-09 00:47] davidfowl commented on #15704
This would be super useful for debugging, for my usage, it's used to dump the IL to disk and open it in ILSpy 😄

[2020-11-09 01:00] GrabYourPitchforks commented on #27912
@jlennox What scenario do you have where you end up with a `ROS<Rune>`? I don't think we expose such a construct within our libraries. But if it's common to have a sequence of these then we may want to consider API support beyond "create a string".

In the meantime, here's an \[untested\] equivalent:

[code]

If you need top-tier performance and are willing to drop down to unsafe code you can pin

[2020-11-09 01:03] danmosemsft commented on #1250
Sure. Assigned to you. We would not want to take changes that measurably affect performance of the non exceptional path.

[2020-11-09 01:24] GrabYourPitchforks commented on #23950
@joshudson Not quite. The implementation I suggested is different and should avoid the performance concerns. I suggested deconstructing the `Memory<T>` instance _at the call to `ToEnumerable()`_, which means that the deconstruction cost occurs upfront when the enumerator is created - not on each call to `MoveNext`. The public API would look identical to what has already been approved.

Things get

[2020-11-09 02:49] tonybaloney opened #44397 "CEE_CALL yielding invalid address call instruction on win64"
This relates directly to RyuJIT and the emitter for CEE_CALL to a IAT_PVALUE global method.

I'm working on a project that uses only the JIT and compiles CIL to native code.
When calling Global Static methods, the executable is crashing because the JIT is generating invalid `call` instructions. The call addresses are valid in macOS and Linux, but in Windows they point to an invalid memory address.

[2020-11-09 02:51] tonybaloney commented on #44397
The area is area-CodeGen-coreclr

[2020-11-09 02:55] layomia commented on #44325
The JSON spec ([RFC 7159](https://tools.ietf.org/html/rfc7159#section-7)) allows quotation marks within JSON strings, but they must be properly escaped (`U+0022`). `JsonSerializer` and other types in `System.Text.Json` strictly respect this spec by default, and custom options to allow uenscaped quotation marks in JSON strings is not on the roadmap for System.Text.Json.

When deserializing (parsing

[2020-11-09 02:55] #44325 closed

[2020-11-09 03:06] layomia commented on #35422
Update: a breaking change doc was already filed for this: dotnet/docs#21376, https://docs.microsoft.com/en-us/dotnet/core/compatibility/3.1-5.0#jsonserializerserialize-throws-argumentnullexception-when-type-parameter-is-null.

[2020-11-09 03:12] layomia commented on #44385
This was fixed in .NET 5 (https://github.com/dotnet/runtime/pull/36424). See breaking change notes about the new behavior https://docs.microsoft.com/dotnet/core/compatibility/3.1-5.0#propertynamingpolicy-propertynamecaseinsensitive-and-encoder-options-are-honored-when-serializing-and-deserializing-key-value-pairs.

[2020-11-09 03:12] #44385 closed

[2020-11-09 05:54] briansull commented on #43787
I will close this issue in a couple of days.

[2020-11-09 06:39] GreenYun opened #44400 "Codepage data improvement for"
### Description

### Configuration

### Regression?

### Other information

[2020-11-09 06:39] #44400 closed

[2020-11-09 06:57] GreenYun opened #44401 "Codepage improvement for System.Text.Encoding.CodePages"
### Description

For old Mac OS encodings, such as "x-mac-japanese", of range 0x0080~0x00FF should be mapped to Unicode characters as same as encoding "macintosh". This is just a practical usage as the old Macs will fallback to "Roman" (codepage name "macintosh") when the character not found in the current encoding.

### Configuration

* Which version of .NET is the code running on?
  .NET core 3.

[2020-11-09 07:01] #44376 closed

[2020-11-09 07:05] v-haren commented on #43571
failed again in job: [runtime-coreclr gcstress-extra 20201108.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=879127&view=ms.vss-test-web.build-test-results-tab&runId=28126296&resultId=106273&paneView=debug)

failed test: JIT\\Methodical\\Arrays\\lcs\\_speed_rellcsbox\\_speed_rellcsbox.cmd

CoreCLR windows x64 Checked gcstress0xc_zapdisable @ Windows.10.Amd64.Open

Error message
[co

[2020-11-09 07:20] v-haren opened #44402 "Test failure: r2rdump\\R2RDumpTests\\R2RDumpTests.cmd"
failed in job: [ runtime-coreclr crossgen2 20201107.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=878937&view=ms.vss-test-web.build-test-results-tab&runId=28121332&resultId=100092&paneView=debug)

R2R-CG2 windows x64 Checked @ Windows.10.Amd64.Open

Error message
[code]

[2020-11-09 07:28] v-haren commented on #41930
failed again in job: [runtime-coreclr ilasm 20201107.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=878803&view=ms.vss-test-web.build-test-results-tab&runId=28117950&resultId=105089&paneView=debug)

failed test: baseservices\\threading\\paramthreadstart\\ThreadStartDouble\\ThreadStartDouble.cmd

CoreCLR windows arm64 Checked ilasmroundtrip @ Windows.10.Arm64v8.Open

Error message
[

[2020-11-09 07:31] kobelobster commented on #44346
@huoyaoyuan Which shouldn't be a problem, should it? I'm using `dotnet` on linux so it doesn't know about a `nuget.exe`. I'm using the `nuget.exe` only in combinatin with `mono`. And when both tools write into the same config, the `http_proxy` is ignored by `dotnet`, but I can't use `nuget.exe` to restore the solution, because of multiple projects.

[2020-11-09 07:35] v-haren commented on #43572
failed again in job: [ runtime-coreclr crossgen2-composite 20201107.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=878935&view=ms.vss-test-web.build-test-results-tab&runId=28121196&resultId=102658&paneView=debug)

failed test: JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_Part7_r/AdvSimd_Part7_r.sh

R2R-CG2 Linux arm64 Checked @ (Ubuntu.1804.Arm64.Open)Ubuntu.1804.Armarch.Open@mcr.mic

[2020-11-09 07:36] huoyaoyuan commented on #44346
I have no experience about proxy on Linux. Just guessing the behavior.
Here may not be the correct repo of this issue. NuGet related tools are in dotnet/sdk and NuGet/Home.

[2020-11-09 08:05] kobelobster commented on #44346
@huoyaoyuan I can open an issue in `NuGet/Home` as well, however, right now I'm using the `dotnet` command which isn't working and which is why I opened the issue in here. I could open an issue in `NuGet/Home` stating that I can't use `nuget.exe` to build a solution with multiple projects.

I created another ticket in here: https://github.com/NuGet/Home/issues/10242

[2020-11-09 08:07] huoyaoyuan commented on #44346
The `dotnet` command lives in dotnet/sdk repo.

[2020-11-09 08:07] kobelobster commented on #44346
@huoyaoyuan - Alright. I'm opening an issue in there and will close this issue in here since it's out of scope.

[2020-11-09 08:07] #44346 closed

[2020-11-09 08:10] kobelobster commented on #44346
The issues are now

* https://github.com/dotnet/sdk/issues/14456
* https://github.com/NuGet/Home/issues/10243

[2020-11-09 08:14] Asd911 opened #44403 "Tagging subscribers to this area: @ViktorHofer"
Tagging subscribers to this area: @ViktorHofer
See info in area-owners.md if you want to be subscribed.

_Originally posted by @msftbot[bot] in https://github.com/dotnet/runtime/issues/44220#issuecomment-721793811_

[2020-11-09 08:18] #44403 closed

[2020-11-09 08:31] AntonPlotnikov commented on #24271
Hello. Could you clarify the status of this task? I'm fed up with importing GetFinalPathNameByHandle function. Can we hope that the symbolic link API will have been delivered in the near future?

[2020-11-09 08:43] MihaZupan commented on #44364
Upon a closer look, I can't reproduce any issue here.

The `NullReferenceException` you're seeing here comes from the fact you're not checking the value returned from `TryCreate`. If it returns false, the `Uri` will be null.

The following example works as expected.
[code]

[2020-11-09 08:43] #44364 closed

[2020-11-09 09:08] kjpou1 commented on #43939
Hey everyone.

Right now there really is not a way to do sync over async as webassembly does not support threads at this time and is planned for .NET 7 time frame from my understanding.

Not sure I would classify these as sins of javascript and SubtleCrypto but the way they implemented them could be thought of as keeping up with with the times of bringing an async API to something that can be pote

[2020-11-09 09:33] Joe4evr commented on #24271
Even if there was an update on this issue, it hasn't been reviewed and approved by the Framework team. And .NET 5 is going to release *tomorrow*, so you're gonna be waiting for .NET 6 next year at the earliest.

@JeremyKuhne Is there anything missing keeping this from going to API review?

[2020-11-09 09:50] antoinebj commented on #44349
Imagine if instead of M.E.Logging, it were bringing in Serilog, or NLog. Or if instead of M.E.DI it were bringing in Autofac or Unity. Would it be clearer then that we're bringing in additional potentially redundant "clutter" (no disrespect to those libraries), increasing the number of assemblies for the sake of slightly reducing the complexity of a single line of code in the entire application?
I

[2020-11-09 10:24] herson-he opened #44405 "Set the dictionary json serialized CamelCase not work"
### Description

Set the dictionary json serialized CamelCase, which does not work when the value is NULL or a dictionary.

Expect:

[code]

Actual:

[code]

### Configuration

Version: dotnetcore 3.1
OS: WIN10 1703 x64

[code]

Code:
[code]
### Regression?

### Other information

[2020-11-09 10:49] bonesoul commented on #23267
@scalablecory is there a sample for usage?

[2020-11-09 10:53] stephentoub commented on #23267
https://github.com/dotnet/runtime/blob/7b93881c6c7725fa77fb71fa58277608bd873399/src/libraries/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs#L2394-L2401

[2020-11-09 11:00] iSazonov commented on #24271
Please vote with 👍 on OP.

[2020-11-09 11:27] kjpou1 commented on #43939
There is also a precedent for async within the API surface.

https://github.com/dotnet/runtime/blob/master/src/libraries/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/HashAlgorithm.cs#L123

[2020-11-09 12:09] #44033 closed

[2020-11-09 12:13] janvorli commented on #33237
@nathanpovo I've tried to run the `eng/common/cross/build-android-rootfs.sh`  script for both arm and arm64 and it worked without any changes just fine. I was not following the doc that is really outdated, but looked at the script to see what argument it expected. Here is what I did:
For arm64:
[code]

For arm:
[code]

I've tried to build coreclr  using the command the script has printed at the en

[2020-11-09 12:17] ffMathy opened #44406 "Specifying extremely long filters doesn't work"
Is there a workaround?

See #27604.

[2020-11-09 13:29] WizardBrony opened #44407 "Threading.Timer: timer drift"
When the native timer for a `TimerQueue` fires, the callback sweeps the timers to see which have expired. It does this by first taking a snapshot of the current ticks:

https://github.com/dotnet/runtime/blob/c871e237b00d3f07f76b370c194ae9430137a5d7/src/libraries/System.Private.CoreLib/src/System/Threading/Timer.cs#L135

It then uses that value when processing the timers and finally scheduling the

[2020-11-09 13:55] huoyaoyuan commented on #44396
The BCL (here) doesn't have any "media" support.
`Console.Beep` does have an [implementation](https://github.com/dotnet/runtime/blob/5a5c5cba688caa06b20a2bbd944f49b0ebce41e6/src/libraries/System.Console/src/System/ConsolePal.Unix.cs#L219-L225) for Unix-like system, but the signal may be ignored by your system.

The documentation about using Xamarin.Mac is [here](https://docs.microsoft.com/en-us/xa

[2020-11-09 14:10] Joe4evr commented on #44407
I've encountered this myself even without "lots and lots of timers", just having one or two timers in a process that is continuously on for several days/weeks starts showing a bit of noticeable drift.

[2020-11-09 14:59] eiriktsarpalis commented on #44348
You could try guarding any calls to System.Console with a check to the [Environment.UserInteractive](https://docs.microsoft.com/en-us/dotnet/api/system.environment.userinteractive?redirectedfrom=MSDN&view=netcore-3.1#System_Environment_UserInteractive) property. It should return false for service contexts.

I don't think we should change the current behaviour of Console.Title, as that would probab

[2020-11-09 14:59] #44348 closed

[2020-11-09 15:00] alwilton commented on #44348
For both your comments - Fair enough.

[2020-11-09 15:05] vcsjones commented on #43939
What then would be an eventual end goal with all cryptographic primitives? I would imagine if folks want hashing, they are also going to want symmetric / asymmetric encryption, signing, KDFs, etc. This moves toward having many new API additions for all cryptographic primitive operations.

That, to me, is different than an async cryptographic primitive. That does async IO to update a hash.

I'm rat

[2020-11-09 15:36] joch0a commented on #37435
Hi! Sorry for the late response. We had that issue on hold until the last week.
We have the following scenario:
Root CA: No CLRs distribution points.
Intermediate CA: 2 CLRs distribution points.
Client Certificate: 2 CLRs distribution points.

We ended up solving this issue setting the X509RevocationFlag on EndCertificateOnly. We don't know if this is working as intended or is a corner case but wi

[2020-11-09 15:37] johnkors opened #44411 "Modify HttpClientFactory based HttpClient request logging"
Hi,

I saw [this issue for overriding the default logging / altering the log statements](https://github.com/aspnet/HttpClientFactory/issues/141) emitted when doing requests using a HttpClientFactory based HttpClient, which recommends re-implementing the `IHttpMessageHandlerBuilderFilter` for this.

I wanted 2 alterations from the default logging, to reduce the logs:

1) Don't emit 2 log statements

[2020-11-09 15:37] ViktorHofer commented on #44403
because of the twitter bot, I was pinged on Twitter as well :D

[2020-11-09 15:43] antonfirsov opened #44412 "More convenient ways to work with MemoryManager<T>?"
More a discussion than anything else.

**Update:**
Might make sense to repurpose this discussion around accessibility of non-array backed `Memory<T>`. See https://github.com/dotnet/runtime/issues/44412#issuecomment-725360041

-----

In ImageSharp we faced the following situation:
- We expose overloads `Image.WrapMemory<TPixel>(Memory<TPixel>)` and `Image.WrapMemory<TPixel>(IMemoryOwner<TPixel>)` t

[2020-11-09 15:52] eerhardt commented on #41392
This was fixed in 5.0 by https://github.com/dotnet/runtime/pull/42603.

[2020-11-09 15:52] #41392 closed

[2020-11-09 16:01] Sergio0694 commented on #44412
Just for reference, regarding the [original issue](https://github.com/SixLabors/ImageSharp/pull/1419), just to add a couple more notes:

- That's not really about developers not knowing how to implement a `MemoryManager<T>`, but rather how to avoid all that extra boilerplate code when dealing with these scenarios, ie. not having to reimplement that type manually every time.
- The way I viewed the

[2020-11-09 16:06] jhudsoncedaron commented on #24271
@AntonPlotnikov : Do you want `ReadSymbolicLinkRecursive()`? I have a library and could add such a function.

[2020-11-09 16:34] naricc commented on #44166
@vargaz What is the issue with reproducing it? You were not able to run the benchmarks, or you did and it didn't repro? System.Threading.Tests.Perf_Timer.ShortScheduleAndDisposeWithFiringTimers seems like the biggest difference, so it should be the easiest to see, if it is a real issue.

[2020-11-09 17:05] tarekgh commented on #44401
@GreenYun usually we don't change the encoding mapping for any encoding for app compatibility reason. You still have the option to create your own encoding using https://docs.microsoft.com/en-us/dotnet/api/system.text.encodingprovider?view=netcore-3.1

[2020-11-09 17:19] akoeplinger commented on #43955
We made a fix in xharness (https://github.com/dotnet/xharness/pull/343) and haven't seen this issue since. Closing.

[2020-11-09 17:19] #43955 closed

[2020-11-09 17:20] akoeplinger commented on #43981
Test was disabled with https://github.com/dotnet/runtime/pull/44357, removing `blocking-clean-ci`.

[2020-11-09 17:42] stephentoub commented on #11063
I've been hitting this reasonably frequently, e.g.
https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-44409-merge-8a1a8bc2383a41f093/PayloadGroup0/console.e860a3c4.log?sv=2019-07-07&se=2020-11-29T17%3A18%3A38Z&sr=c&sp=rl&sig=0mS1HKsUz%2FgaWANt6pRwMCfnGXyaOIXCnwq327pVblg%3D
[code]

[2020-11-09 17:42] tannergooding opened #44415 "Bounds checks are no longer elided when using nint for indexing."
Examine the following two methods that only differ based on using `int` vs `nint` for indexing into an array:
[code]

These two methods result in the following codegen:
[code]

As can be seen, the latter is no longer able to elide the bounds checks due to the additional cast around `a.Length` to `nint` which results in significantly worse codegen. A developer must use `Unsafe.Add` to avoid the bou

[2020-11-09 17:43] stephentoub commented on #11063
Which is closed.

[2020-11-09 18:00] EgorBo commented on #44415
I guess `optRecordLoop` gives up when it sees that cast in `i < a.Length`

[2020-11-09 18:02] sfoslund opened #44417 "Failed to create CoreCLR, HRESULT: 0x8007FF02"
---
**Issue moved from dotnet/sdk#14351**
- Please respond to @John0King.

---

_From @John0King on Wednesday, October 28, 2020 4:05:52 AM_

## installed version :
- .net core sdk 3.1
- .net core sdk 5.0 rc2

## platform and hardware

on  MacOs 10.15.3   with  Black Mac (Non Apple hardware)

## command and result
`dotnet`   -> ok
`dotnet --info` -> ok
`dotnet -h`   -> Failed to create CoreCLR, HRE

[2020-11-09 18:20] ViktorHofer commented on #11063
As it was fixed in xunit v3 which hasn't shipped yet.

[2020-11-09 18:24] jlennox commented on #27912
@GrabYourPitchforks

My usecase might be a bit of a stretch. I was experimenting with the Rune API by rewriting an old swear detector that supported substitutions (foo, f00, fo0, etc) to use runes.

[code]

[2020-11-09 18:30] ericsampson commented on #43956
@GrabYourPitchforks , given that 5.0 is coming out very soon, which of options A,B,C,D are going to be implemented for 5.0 GA? Thanks : )

[2020-11-09 18:30] briansull commented on #38201
@EgorBo Dis you want to put up your PR for this issue?

[2020-11-09 18:50] tarekgh commented on #43795
To move forward, I would like to get your feedback which of the following options would be preferable for your scenarios:

- Use the CLDR list pattern data as I listed in the top of https://github.com/dotnet/runtime/issues/43795#issuecomment-722049526.
- Use NLS data listed at the bottom of same comment https://github.com/dotnet/runtime/issues/43795#issuecomment-722049526.
- Just return `,` for al

[2020-11-09 18:52] AndyAyersMS commented on #36907
It's possible the work @kunalspathak is doing might help by aligning of some of those internal branches.

[2020-11-09 18:53] GrabYourPitchforks commented on #27912
@jlennox https://www.unicode.org/reports/tr39/#Confusable_Detection might be of interest to you. It provides a mechanism to detect "confusable" characters, which are characters that look like one another. The machine-readable file that provides this data is https://www.unicode.org/Public/security/latest/confusables.txt.

As an example, check out https://util.unicode.org/UnicodeJsps/confusables.jsp

[2020-11-09 18:54] AndyAyersMS commented on #44397
Is the address the jit is calling the one that is returned in the `CORINFO_CALL_INFO` struct (it would be odd if not)?

[2020-11-09 19:02] GrabYourPitchforks commented on #44412
Sorry - not quite sure I follow. There's not really a bulletproof way to remove the lifetime concerns whenever `MemoryManager<T>` is involved. Whoever holds the `IMemoryOwner` reference is seen as the one true owner of the memory block, but it's still up to them to attest that nobody is using the `Memory<T>` when they call `IMemoryOwner.Dispose`. The runtime doesn't really provide guardrails here.

[2020-11-09 19:08] jlennox commented on #27912
@GrabYourPitchforks This is really cool. Thanks!

This was actually just a coding challenge that's intended to be ASCII only :) so my moving it over to runes was really just for fun of learning the API.

[2020-11-09 19:09] GrabYourPitchforks commented on #43939
Is there any way at all to mimic sync-over-async in wasm? Our security signoff of this feature in .NET 5 was contingent on the managed implementation being __completely removed__ in the .NET 6 timeframe. This was listed as an explicit goal for the .NET 6 timeframe, and it's what allowed our exception to go through.

Aside from the PFX library, we don't normally provide async overloads of methods k

[2020-11-09 19:13] GrabYourPitchforks commented on #43956
@ericsampson This issue is tracking potential Future (.NET 6) work. For .NET 5, [we improved the docs](https://docs.microsoft.com/dotnet/standard/base-types/string-comparison-net-5-plus), and there's a [global runtime switch](https://docs.microsoft.com/dotnet/standard/globalization-localization/globalization-icu) to re-enable the legacy Windows behavior. That switch has no effect on non-Windows pl

[2020-11-09 19:14] AndyAyersMS commented on #44103
Seems like essentially the same issue as in #43787.

[2020-11-09 19:17] eiriktsarpalis commented on #42843
Given the concerns raised by @jkotas, I think it is unlikely such a proposal would be accepted. I'm going to close this issue.

[2020-11-09 19:17] #42843 closed

[2020-11-09 19:18] janvorli commented on #42885
@gregolsky, @ayende  I have a fix for the problem. Would you be willing to test it? I can either build a libcoreclr.so with that fix for you or I can give you instructions on how you can build it yourself.

[2020-11-09 19:21] AndyAyersMS commented on #43805
Not presently, no. The jit has some experimental support for full escape analysis, but nothing for partial escape analysis.

[2020-11-09 19:23] GrabYourPitchforks commented on #44369
Serialization Guard isn't a BinaryFormatter-only thing. It's also currently used in DataSet / DataTable:

https://github.com/dotnet/runtime/blob/96073fd52739ecd8a97be800f23e4ebe5252fddd/src/libraries/System.Data.Common/src/System/Data/Filter/FunctionNode.cs#L515-L519

Interestingly, our implementation of Serialization Guard was the only thing that prevented the original CVE-2020-1147 PoC payload f

[2020-11-09 19:25] Sergio0694 commented on #44412
@GrabYourPitchforks Anton's concern regarding lifetime stemmed from this example I provided in the linked issue, which is the solution I wrote to help out that UWP developer that was trying to use `ImageSharp` to interoperate with a Win2D frame buffer. In particular, I used this approach so that the image processing logic would only work in-place, with no extra buffers:

[code]

The issue is that

[2020-11-09 19:34] GrabYourPitchforks commented on #44412
IMHO that's a legitimate use case. We have an internal type `PointerMemoryManager<T>` that [we use for exactly this scenario](https://github.com/dotnet/runtime/search?l=C%23&q=pointermemorymanager). It'd be nice if we had a first-class way of creating a `Memory<T>` around an arbitrary pointer, but doing that would be difficult without increasing the size of each `Memory<T>` instance in 64-bit apps

[2020-11-09 19:44] janvorli commented on #44417
@John0King this error means that there is not even a single page of wired memory available for our use. We use one such page. There is a system-wide limit to the amount of memory that can be allocated as wired (locked via mlock). The error means that some other application has consumed all the available wired memory. I've seen several such cases reported in the past, one of such applications being

[2020-11-09 19:49] jaredpar commented on #44313
Can u link to a build where this happens?

[2020-11-09 19:53] ViktorHofer commented on #44313
Here's the build that I looked at when I filed the issue: https://dev.azure.com/dnceng/public/_build/results?buildId=872211&view=results.

[2020-11-09 19:56] GrabYourPitchforks commented on #44351
Is there anything special about the machine this was running on? I wouldn't expect this test to take _that_ long unless system memory was so tight that we were hitting the pagefile over and over and over again. Maybe we can use `VirtualLock` to play tricks here?

[2020-11-09 19:57] JulieLeeMSFT commented on #43618
Bolded "in progress" work item.

[2020-11-09 20:03] eiriktsarpalis commented on #41143
This is a known problem of array covariance that is not specific to C#. I'm closing as by-design.

[2020-11-09 20:03] #41143 closed

[2020-11-09 20:19] AndyAyersMS opened #44421 "Ref emit broken for some calli cases?"
Same code works fine on 5.0.

[code]
calls
[code]
calls
[code]
which derefs a null array.

[2020-11-09 20:22] eiriktsarpalis commented on #41740
As others have already mentioned, if the motivation here is to add a type that duplicates the API surface of List<T> in a thread safe way, I don't see how we could meaningfully implement this. Using a lock over List<T> is probably the simplest solution, or depending on the use case, pick one of the existing Concurrent* types.

I'm going to close this issue.

[2020-11-09 20:22] #41740 closed

[2020-11-09 20:25] tyb-dev opened #44422 "Socket.Send not thread-safe on Linux"
### Description

According to the documentation, instances of Socket.Send are thread-safe. This is reliably the case on Windows. When running the same code on Linux, sporadically, the data that is received by the receiving party seems to be partially scrambled when Socket.Send is called from multiple threads concurrently.

### Configuration

.NET Core 3.1.9
Linux Ubuntu 20.04
x64
release mode

###

[2020-11-09 20:27] VSadov commented on #44103
Yes, same as #43787.

[2020-11-09 20:28] GrabYourPitchforks opened #44423 "Update .NET 7 Unicode data to version 14.0.0"
The Unicode Standard version __14.0.0__ [is tentatively scheduled](https://home.unicode.org/unicode-14-0-delayed-for-6-months/) for September 2021. As per usual, since the .NET runtime carries a copy of Unicode-derived data, we should update our data files to match version 14.0.0 when it's released.

This will affect the following APIs:

 * `System.Globalization.StringInfo`
 * `System.Globalizatio

[2020-11-09 20:31] MichaelPeter opened #44424 "Blazor Html WebComponents make binding/setting Array/Object Properties easier"
Hello AspNetCore Team,

it is possible to define for Html Web Components complex objects or arrays as parameters.

Like if I want to pass a list of objects as table content or a list of links in a web component.

Here my sample component:

[code]

Now currently if I want to set this property I need the following code:

Index.razor:
[code]
Javascript:

[code]

How it could be done differently:

[co

[2020-11-09 20:46] sandreenko commented on #41639
Still need a scripting update, it is on my list.

[2020-11-09 20:56] MichaelPeter commented on #44424
Sorry wanted to add to aspnetcore git, my mistake

[2020-11-09 20:56] #44424 closed

[2020-11-09 20:57] samsp-msft opened #44426 "User Story: Source generators to improve trimmability & AOT of blazor apps"
Source generators can be used to convert code that does reflection.emit at runtime to source generators which will create code at build time rather than runtime. The generated code can then be analyzed by the illinker or native AOT enabling those scenarios. Blazor doesn't use Reflection.Emit directly (though it may use it via dependency injection libraries). However Blazor does use reflection exte

[2020-11-09 20:57] samsp-msft commented on #44426
Separated blazor issues from #43545

[2020-11-09 20:59] geoffkizer commented on #44422
Repro code?

[2020-11-09 21:04] jkotas commented on #44421
Looks like a regression introduced by #40587.  @wzchua Are you interested in submitting a PR with a fix?

[2020-11-09 21:06] wfurt commented on #44422
And what docs are you referring to @tyb-dev ? I don't see any claims here: https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket.send?view=netcore-3.1#System_Net_Sockets_Socket_Send_System_Byte___System_Int32_System_Int32_System_Net_Sockets_SocketFlags_System_Net_Sockets_SocketError__

[2020-11-09 21:08] samsp-msft commented on #43545
Refactored out System.Text.JSON & EventSource over to https://github.com/dotnet/runtimelab/issues/248

[2020-11-09 21:12] tonybaloney commented on #44397
@AndyAyersMS

The struct returns the address of the pointer to the function.

[code]

The debugger can see the symbols for m_addr when I put a breakpoint on the line

[code]

That generated the machine instructions: (I can see the value farther down in `mov         rax,7FF646A12078h`)

The invalid call instruction is the 5th down from the preamble (`call        0000021A46673418`). I don't know wha

[2020-11-09 21:15] JSkimming opened #44428 "System.Text.Json fails to deserialise nullable value type through constructor if bound property is non-nullable"
### Description

I'm trying to deserialise an object from a json string. In this case the constructor allows a nullable value type as the parameter, setting a non-null property (defaulting if `null`).

I expect (since it is the behaviour with **Newtonsoft.Json**) the serializer to handle compatible constructor and bound value type properties (or fields) where the only difference is one is nullable

[2020-11-09 21:18] safern commented on #43736
Hello, all. We wanted to give a brief summary of the actions that we took when this issue was open and at the end why we decided to keep the default on Windows 10 May 2019 Update or later to be ICU for .NET 5.0.

When the issue was opened, we started some internal discussions about the potential impact and pain that this could've had with our customers given the inconsistency in between `Contains(

[2020-11-09 21:22] tonybaloney commented on #44397
This is what the stack frame looked like at the call instruction. Its not compiled code, so I don't know where it got the reference from:

<img width="1133" alt="Screen Shot 2020-11-10 at 8 21 24 am" src="https://user-images.githubusercontent.com/1532417/98597852-bad5b400-232d-11eb-8068-35a0220f73c1.png">

[2020-11-09 21:24] santhoshbomma9 opened #44429 "Uri.GetLeftPart splits even for "#", should it not split just for "?" to get the left path away from query parameters"
### Description
Uri.GetLeftPart(UriPartial.Path)
Uri.GetLeftPart splits even for "#", should it not split just for "?" to get the path away from query parameters

https://github.com/microsoft/referencesource/blob/e56279724ddb2715ab3c18c47ecd3b78eb90d3c7/System/net/System/URI.cs#L1416

### Configuration

### Regression?

### Other information

[2020-11-09 21:24] samsp-msft opened #44430 "User Story: Source generators are created to support native AOT"
Source Generators are a new technology that was added to Roslyn in the .NET 5 timeframe, but we have not yet utilized them by creating generators to assist with runtime and framework features. We will work to define customer scenarios in more detail here with customer development.

Code that uses runtime reflection and reflection.emit causes issues for Native AOT. Source generators can be used to

[2020-11-09 21:25] samsp-msft commented on #44430
Refactored from #43545

[2020-11-09 21:36] samsp-msft opened #44432 "Developers can safely trim their apps which use Dependency Injection to reduce the size of their apps"
Source Generators are a new technology that was added to Roslyn in the .NET 5 timeframe, but we have not yet utilized them by creating generators to assist with runtime and framework features. We will work to define customer scenarios in more detail here with customer development.

Code that uses runtime reflection and reflection.emit causes issues for Trimming and Native AOT. Source generators ca

[2020-11-09 21:39] samsp-msft commented on #44432
Refactored from #43545

[2020-11-09 21:47] tyb-dev commented on #44422
It's on the class:
https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket?view=netcore-3.1#thread-safety

The claim is definitely true on Windows, and also almost always true on Linux. It is quite challenging to reproduce, we are seeing this rarely in production where wrong bytes are received, except when lock is used.

A simple loop with Send, run 10 times concurrently, even with 1

[2020-11-09 22:05] geoffkizer commented on #44422
Ah, you are talking about the multi-buffer Send overload.

Yeah, unfortunately I think you are right here. There is no synchronization here that will guarantee that all the buffer segments from a single Send are sent at the same time.

I wish the coordination and queuing logic we have in SocketAsyncContext worked completely differently. We should just have a lock/semaphore that guarantees only one

[2020-11-09 22:10] RPM1984 commented on #44364
@MihaZupan you're right.. i feel dumb 😊 .

i think originally this stemmed from the fact the example without the slash _wasn't_ parsing, but with the slash it was. but then I (wrongly) saw it was throwing an exception.

so yes, issue can be closed -> and I think the confusion here is that the second example above **shouldn't** be successfully parsing -> it's not a valid URI? in other words, both e

[2020-11-09 22:10] fanyang-mono opened #44433 "Creating a separate folder for runtime tests document"
Currently, the documents for runtime tests are located at docs/workflow/testing/coreclr/. Since they are now shared by both CoreCLR and mono, it would be nice to create another folder called something like `Runtime tests` to store the documents of the nature of runtime tests, which could be shared by both mono and CoreCLR.

[2020-11-09 22:17] GrabYourPitchforks commented on #32642
Previously considered and rejected. Closing.

[2020-11-09 22:17] #32642 closed

[2020-11-09 22:18] davmason commented on #12689
Closing this issue as there is nothing to do, CLSID_CLRProfiling is intentionally removed on coreclr

[2020-11-09 22:18] #12689 closed

[2020-11-09 22:18] GrabYourPitchforks commented on #31535
Not enough demand for this. Closing.

[2020-11-09 22:18] #31535 closed

[2020-11-09 22:20] davmason commented on #11580
There's been no traction on this in a long time, if this is still an issue feel free to reopen

[2020-11-09 22:20] #11580 closed

[2020-11-09 22:20] davmason commented on #11107
Closing as by design

[2020-11-09 22:20] #11107 closed

[2020-11-09 22:21] davmason commented on #8615
This is by design, since there is no safe thread suspension API like on windows. Closing.

[2020-11-09 22:21] #8615 closed

[2020-11-09 22:22] davmason commented on #6124
Closing due to inactivity, if this is still an issue feel free to reopen

[2020-11-09 22:22] #6124 closed

[2020-11-09 22:23] mikem8361 commented on #4938
This is finished now in 5.0.

[2020-11-09 22:23] #4938 closed

[2020-11-09 22:25] samsp-msft commented on #44430
Removing as there are applicable issues already for each of these that I have converted to epics.

[2020-11-09 22:25] #44430 closed

[2020-11-09 22:25] wfurt commented on #33537
I did more digging and it comes from SecKeychainItemCopyKeychain Apple’s API call.
.NET uses that to determine if certificate or key is backed by KeyChain or not.
If item is not backed by KeyChain, this returns error code  and sets keychainRef to NULL.
Additionally to that, Apple’s securityd, logs the error message.

Looking at our code and reading published documentation I see no evidence that .N

[2020-11-09 22:39] GrabYourPitchforks commented on #1534
What if we put this on the existing `MemoryMarshal` class?

[code]

It just returns a ref to the underlying *_value* field. No checks are performed.

If we put it on that type, it would be one of the few completely type-safe APIs on that class. It's type-safe because even though the value of any given `Nullable<T>` cannot be publicly set once the `Nullable<T>` is created, if you had a mutable ref

[2020-11-09 22:43] Naine commented on #43956
My two cents:

Option A: This option seems good. The con that concerns me most is the learning curve issue, but I feel this would be largely mitigated if `[EditorBrowsable(Never)]` were employed. Ultimately this would be a bit of a pain point, but one I feel would be worth it in the long run.

Option B: I feel like this compatibility switch will break more code than it will fix. Library authors wi

[2020-11-09 22:43] GrabYourPitchforks commented on #43796
Related: https://github.com/dotnet/runtime/issues/18481

[2020-11-09 22:45] ericsampson commented on #43956
@GrabYourPitchforks oh. I'm a little bit bummed then that ICU was kept opt-out vs opt-in for 5, which would have eased the transition.

[2020-11-09 22:45] GrabYourPitchforks commented on #18417
Per comment at https://github.com/dotnet/runtime/issues/18417#issuecomment-586568423, issue is not currently actionable by the team. Closing. Please reopen the issue if further discussion is warranted. Thanks!

[2020-11-09 22:45] #18417 closed

[2020-11-09 22:46] GrabYourPitchforks commented on #21987
No activity in several months, closing stale issue. If further discussion is warranted please reopen. Thanks!

[2020-11-09 22:46] #21987 closed

[2020-11-09 22:48] GrabYourPitchforks commented on #24277
This issue has gone 2 years without activity. Closing as stale. If further discussion is warranted please reopen. Thanks!

[2020-11-09 23:11] ecls-ecls opened #44436 "Directory enumaration throws I/O exception after umounting"
OS: raspbian (latest)
Arch: ARM

I'm having trouble when calling this function:

var directories = Directory.GetDirectories(absolutePath);

At this point of the code, 'absolutePath' is guaranteed to exist, but what I'm doing differently is that this directory is mounted with "bind" option:

mount -o bind /some/dir/source /some/other/dir/destiny

This happens after I umount it, the folder still exi

[2020-11-09 23:13] EgorBo commented on #38201
@briansull will take a look tomorrow

[2020-11-09 23:20] adamsitnik commented on #40942
With #43065 that provided some really nice improvements, we are getting even closer to contributing to ICU itself (as we run out of ideas on our side).

While reading the ICU source code I got the impression that it was not written with performance in mind (very few hacks, tricks, and comments explaining them). But I assumed that the code is not doing that because ICU is using PGO that does this f

[2020-11-09 23:28] danmosemsft commented on #40942
cc @brianrob

[2020-11-09 23:31] #44436 closed

[2020-11-09 23:32] ecls-ecls commented on #44436
Can't reproduce it anymore.

[2020-11-09 23:45] danmosemsft commented on #44432
@danroth27 how important is DI to Blazor scenarios? I suspect this story would be expensive, so I'd like to understand whether it's particularly valuable.
@glennc My understanding is that this is mainly about startup of ASP.NET apps, so it would not be P0 for this release.

cc @marek-safar

[2020-11-09 23:47] danmosemsft commented on #43540
@agocke do you want to create child stories eg for the proposed analyzer? We have a dependency on it presumably.

[2020-11-09 23:54] tarekgh commented on #40942
For who don't know what is [PGO](https://en.wikipedia.org/wiki/Profile-guided_optimization), it is Profile-guided optimization.

[2020-11-09 23:56] danmosemsft commented on #40942
also cc @lewing

[2020-11-09 23:56] rynowak commented on #43482
We just had a discussion about this in the context of https://github.com/dapr/dotnet-sdk/issues/414

Actor frameworks (or other RPC frameworks) tend to use exceptions of different types to signal different business concerns. There might be a different exception type for a transaction that's rejected for low balance or rejected because the item is out of stock, etc.

Ultimately application code wan

[2020-11-09 23:58] danroth27 commented on #44432
@danmosemsft DI is used heavily in both Blazor and ASP.NET Core.

[2020-11-10 00:03] eerhardt commented on #44432
@danroth27 - But how important is it to have a Source Generator for DI for Blazor? We are able to use DI in a Blazor WASM app just fine in 5.0 without a Source Generator. Is one critical for 6.0 scenarios?

[2020-11-10 00:04] ericstj commented on #44432
@davidfowl was mentioning that this was important to investigate in 6.0 but not "do".

[2020-11-10 00:09] wzchua commented on #44421
Yea, let me take a look

[2020-11-10 00:10] EgorBo commented on #43618
Quick idea: don't expand `x / c` or `x % c` into set of magic operations in cold blocks, e.g.
`x % 10` is currently optimized into:
[code]
while could be just
[code]

[2020-11-10 00:10] tonybaloney commented on #44397
After some more digging, I think that is a callback for CORINFO_HELP_STACK_PROBE.
I don't know why it's jumping to an invalid address. `getHelperFtn` is returning a `void*` pointer

[2020-11-10 00:12] bollhals commented on #41849
Such syntax (as long as it is not allocating) would actually be very nice for when you'd have to invoke each delegate within a try catch block to ensure each gets called. So e.g.
[code]

As of right now we ([Example](https://github.com/rabbitmq/rabbitmq-dotnet-client/blob/master/projects/RabbitMQ.Client/client/impl/ModelBase.cs#L541)) just call GetInvocationList() which always allocates. (It shows

[2020-11-10 00:14] #44383 closed

[2020-11-10 00:38] danroth27 commented on #44432
For Blazor WebAssembly, our goal is to get significantly better runtime performance with AoT compilation to WebAssembly, but while also hitting our download size targets. I don't know for sure if this work is needed to hit those requirements, but I think it makes sense to assume it's not until we have data that shows otherwise.

[2020-11-10 00:42] tonybaloney commented on #44397
@AndyAyersMS what is the correct signature for `CORINFO_HELP_STACK_PROBE`? There are two different implementations (in assembly).

I think its a signature mismatch and `void ftn()` isn't an acceptable signature.

[2020-11-10 00:45] ffMathy opened #44438 "Specifying extremely long filters doesn't work"
Is there a workaround?

See dotnet/runtime#27604.

[2020-11-10 00:45] GrabYourPitchforks opened #44439 "CompareInfo.LastIndexOf does not handle zero-weight sequences correctly on ICU"
Found by @gewarren, related to https://github.com/dotnet/runtime/issues/34828.

Repro code on net5.0 on ICU:

[code]

And net5.0 on NLS:

[code]

It's possible we have an off-by-one error somewhere in our ICU glue.

The reason all of these methods should return __5__ is that `""`, `"\0"`, and `"\u200D"` are all equivalent zero-weight strings, and zero-weight strings always trivially exist as a suf

[2020-11-10 00:48] agocke commented on #43540
Analyzer already exists and shipped in .NET 5 :)

I'll create a tracking issue for the few improvements we would like to make, although many will not require changes to the libraries.

[2020-11-10 01:08] jaredpar opened #44440 "Linux arm64 ilasm not encoding value type constraints as expected"
As a part of a customer request I was updating dotnet/roslyn to build and test on Linux ARM64. This mostly comes down to us consuming the Linux ARM64 version of `ilasm` as the rest of our repository is tooling architecture neutral.

Once I make that change though I found that a number of our unit test, about a dozen, are failing and they all have roughly the same pattern:

[code]

The type paramet

[2020-11-10 01:11] KPixel opened #44441 "ConsoleLoggerProcessor should not throw any exception when disposed"
### Description

This is a mild annoyance, not a bug:

I always debug my console apps in Visual Studio after going to the Exception Settings window and checking the box to catch all CLR exceptions. That way, the debugger will break where any exception originates (instead of where it is unhandled).

However, when adding the Console logger, I always get an exception at the end of the program. It ori

[2020-11-10 01:18] AndyAyersMS commented on #44397
It does not have a standard calling convention. It takes an argument in R11 and doesn't return anything. You can likely get pretty far by just defining it as `__declspec(naked) void JIT_StackProbe() {}` .

If you need to implement it you will need something like the below; the only way to define it is via assembly.

https://github.com/dotnet/runtime/blob/1c1757c040e1735f8e608bc383bb73b3f5f98a38/sr

[2020-11-10 01:20] VSadov opened #44442 "Remove allocation of thread abort exceptions and startup"
As long as thread aborts is not a common scenario, we could save some allocations at start up by removing these:

https://github.com/dotnet/runtime/blob/1c1757c040e1735f8e608bc383bb73b3f5f98a38/src/coreclr/src/vm/appdomain.cpp#L1221-L1232

[2020-11-10 01:21] VSadov commented on #44442
cc: @stephentoub, @jkotas

[2020-11-10 01:51] samsp-msft commented on #43767
Changed the link for the Blazor source generators as it was moved to aspnetcore repo.

[2020-11-10 01:56] lauxjpn opened #44444 "`Regex.Match` with unexpected result when using `startat` parameter"
I just executed the following lines and expected both `Regex.Match()` calls to be semantically equal.
However, they are not. While the first one works as expected, the second one fails:

[code]

I consider this behavior unexpected.
Here is a full console project for a quick repro:

[code]

---

Tested on .NET `5.0.100-rc.2.20479.15`.

[2020-11-10 01:59] danmosemsft commented on #44432
That sounds like Priority:2 (moderately important) until we have data otherwise?

[2020-11-10 02:01] danmosemsft commented on #43540
That sounds great - anything to see the work likely on us.

[2020-11-10 02:03] danmosemsft commented on #43774
@tarekgh could you add an estimated cost label? https://github.com/dotnet/runtime/labels?q=cost

[2020-11-10 02:05] tarekgh commented on #43774
@danmosemsft done.

[2020-11-10 02:06] John0King commented on #44417
but xamarin app  runs fine ,  and also the vs for Mac.   no matter what you try to ensure,  sacrifice the ability to run is not acceptable，so please learn from mono

[2020-11-10 02:06] danmosemsft commented on #44444
I thought this might be https://github.com/dotnet/runtime/pull/42409, but this pattern doesn't start with `.*`. Also, it was fixed in RC2.

[2020-11-10 02:10] lauxjpn commented on #44444
I can recheck this tomorrow after the .NET 5 GA release, to verify that this is still an issue (or not) and report back.

[2020-11-10 02:14] GrabYourPitchforks commented on #33784
Seems reasonable. We should figure out how much we want our analyzers (especially our on-by-default analyzers) to push people into using span. Using `ROS<char>` increases the concept count for scenarios which are currently very simple.

[2020-11-10 02:16] tarekgh opened #44445 "Developers can trace their code using Open Telemetry Metrics"
The API proposal is captured in the design doc https://github.com/dotnet/designs/pull/211/files

[AB#1244406](https://devdiv.visualstudio.com/10e66e43-9645-4201-b128-0fdc3769cc17/_workitems/edit/1244406)
[AB#1244379](https://devdiv.visualstudio.com/10e66e43-9645-4201-b128-0fdc3769cc17/_workitems/edit/1244379)
Providing a set of metrics APIs from the .NET runtime that are compliant to or compatible

[2020-11-10 02:18] tarekgh commented on #44445
@danmosemsft @ericstj I created this issue to track the metrics work.

[2020-11-10 02:18] GrabYourPitchforks commented on #30624
Is there anything actionable by the libraries team here? Seems the discussion has firmly settled on "this is scenario-specific and there's not really a good generalized concept we can add to the BCL."

[2020-11-10 02:20] danmosemsft commented on #44444
Ah, it's because your pattern starts with `^`. Per the docs,
[code]
If you pass a startat that's not zero, it doesn't see the beginning of the string; the `^` will never match, at least unless you have multiple lines and enable multiline matching.

Instead you need `\G`, per the docs for the startat overload:
[code]
If you change the code to `var regex = new Regex(@"\G\w+");` it works as you expec

[2020-11-10 02:20] #44444 closed

[2020-11-10 02:21] danmosemsft commented on #44444
Thanks for the report though!

[2020-11-10 02:22] danmosemsft commented on #44444
If you like, you could click the edit button (top right) on the [topic for these overloads](https://docs.microsoft.com/en-us/dotnet/api/system.text.regularexpressions.regex.match?view=netcore-3.1#System_Text_RegularExpressions_Regex_Match_System_String_System_Int32_) and perhaps point out that `^` doesn't "move" with startat.

[2020-11-10 02:29] GrabYourPitchforks commented on #28704
I've modified the original post to include the API proposal.

[2020-11-10 02:30] naricc commented on #44273
So I determined this issue actually belongs in Benchmark Dotnet. I'm going to close this and open an issue there.

[2020-11-10 02:31] CoffeeFlux commented on #44273
You should be able to transfer this one instead, though it doesn't matter too much.

[2020-11-10 02:34] GrabYourPitchforks commented on #6792
Is there anything left to do here? Seems like this can be closed?

[2020-11-10 02:38] lauxjpn commented on #44444
Thanks, I think I would not have discovered this via the docs, because this is just such an unexpected behavior to me and the docs are not that expressive about this particular case.

But I guess the intention of the `startat` parameter then is not to start parsing and evaluating the input from that position, but to return the matches from that position (unless used with `\G`).
This would mean in

[2020-11-10 02:40] naricc commented on #44273
@CoffeeFlux I tried that, but it seems I don't have the appropriate permissions to transfer things to dotnet/benchmarkdotnet. Odd that I can create issues there but not transfer them though.

Any way, here is the BDN issue: https://github.com/dotnet/BenchmarkDotNet/issues/1591

[2020-11-10 02:40] #44273 closed

[2020-11-10 02:59] AaronRobinsonMSFT opened #44446 "Extend ComWrappers API to better support aggregation"
## Background and Motivation

The [`ComWrappers`](https://docs.microsoft.com/dotnet/api/system.runtime.interopservices.comwrappers) API is intended to permit external developers the ability to create standalone COM interop platforms. During the shut down of the .NET 5 release it was determined the [COM Aggregation](https://docs.microsoft.com/windows/win32/com/aggregation) scenarios are difficult t

[2020-11-10 02:59] AaronRobinsonMSFT commented on #44446
/cc @scottj1s @jkoritzinsky @elinor-fung

[2020-11-10 03:04] v-haren opened #44447 "Test failure: tracing\\tracevalidation\\jittingstarted\\JittingStarted\\JittingStarted.cmd"
failed in job: [runtime-coreclr jitstress 20201108.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=879232&view=ms.vss-test-web.build-test-results-tab&runId=28128968&resultId=110611&paneView=debug)

CoreCLR windows x64 Checked jitstress2_tiered @ Windows.10.Amd64.Open

Error message
[code]

[2020-11-10 03:06] tonybaloney commented on #44397
I've tried reimplementing JIT_StackProbe in a simple MASM file and linking it to be returned back.

As soon as `rip` moves to the call address, an access violation is thrown. I think maybe there is some other system-level protection happening and a flag missing from the compiler

[2020-11-10 03:06] djimenezlegend commented on #38915
Same issue!

[2020-11-10 03:42] infogulch commented on #29634
I also found that it was cumbersome to post-process removed elements efficiently.

So I wrote `RemoveWhereEnumerator` which is just like `RemoveWhere` except it is a generator function that yields each removed element.  This is based on the [referencesource](https://github.com/microsoft/referencesource/blob/master/System.Core/System/Collections/Generic/HashSet.cs#L872) code because I couldn't find

[2020-11-10 03:45] noahfalk commented on #38804
@KalleOlaviNiemitalo - thanks for the suggestion! I haven't scrutinized in detail but 'Possible API 5' looks like a pretty reasonable solution to me. It keeps complexity fairly low, largely reuses the existing API, and has no apparent breaking changes.

[2020-11-10 03:49] naricc commented on #44433
@trylek This seems like documentation piece of your change moving the runtime tests themselves to a common directory.

Are there documents that need to be merged, or is it just a move?  Like, parts of https://github.com/dotnet/runtime/blob/master/docs/workflow/testing/mono/testing.md might actually belong together with some of the exiting coreclr ones?

[2020-11-10 03:58] noahfalk commented on #31862
Closing this issue as there been no further feedback.

Issues [41072](https://github.com/dotnet/runtime/issues/41072) and [docs/20195](https://github.com/dotnet/docs/issues/20195) remain open to track adding an opt-out mechanism and better docs respectively.

[2020-11-10 03:58] #31862 closed

[2020-11-10 04:22] iSazonov commented on #44445
The link is broken.

[2020-11-10 04:22] AndyAyersMS commented on #44397
One thing to check -- since you are returning `IAT_PVALUE` you need to give the jit the address of a location that contains the address of the code.

That is, some thing like
[code]

[2020-11-10 04:53] kjpou1 commented on #43939
Not at this time due to threads and that support is, again from my understanding, scheduled for .NET 7.

[2020-11-10 05:01] danmosemsft commented on #44445
@glennc should this go under some epic under the cloud native theme?

[2020-11-10 05:23] GrabYourPitchforks commented on #43939
We can't even do something naïve like kick off the async work, then spin the original thread waiting for the promise to finish?

[2020-11-10 05:34] wfurt commented on #44429
cc: @MihaZupan

[2020-11-10 06:00] Tornhoof commented on #44421
@AndyAyersMS is 5.0 a Typo in your original post?
Do you mean 3.1?

[2020-11-10 06:08] wfurt commented on #43656
This seems like Windows specific issue. On Linux this seems to work as we check using IsSupportedNonSecureScheme() and that covers `ws://`. On Windows we call WinHttpHelper and that does not seems to handle ws(s) properly. We should perhaps update `GetProxyForUrl()` and add logic to rewrite schema in similar way as Framework.

[2020-11-10 06:09] wfurt commented on #43988
do you have any update @Yuvaraja06? It would be best to share repro with steps.

[2020-11-10 06:24] ayende commented on #42885
The easiest option would be a binary, yes.

[2020-11-10 06:28] v-haren opened #44448 "Test failure: System.IO.Pipes.Tests.AnonymousPipeTest_ServerIn_ClientOut.ReadWrite_Success_Large(mode: SyncArray, writeSize: 10485760, startWithFlush: False)"
failed in job: [runtime-libraries-coreclr outerloop 20201109.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=879404&view=ms.vss-test-web.build-test-results-tab&runId=28133236&resultId=103367&paneView=debug)

net6.0-Linux-Release-x64-CoreCLR_release-Centos.7.Amd64.Open

Error message
[code]

[2020-11-10 07:35] AaronRobinsonMSFT commented on #44378
@ddobrev Thanks for bringing this issue to our attention. It is yet another C++ ABI issue that makes life... interesting is perhaps the word. My initial thought would be what @tannergooding suggested above:

 C++ object layout follows C in most cases so defining vanilla non-virtual objects and then marshalling them typically "just works". When an object has a non-virtual member that compatibility

[2020-11-10 07:35] herson-he commented on #44405
Resolved #43143

[2020-11-10 07:35] #44405 closed

[2020-11-10 07:51] wfurt commented on #44175
It seems like since 11/5 only the TLS13 variant is failing. ( I was originally confused with 16.04 queue name, but that is where we run containers with other OSes)  I will take look and I'll try to reproduce locally.

[2020-11-10 07:55] Rodrigo-Andrade opened #44449 "System.Threading.ThreadPoolWorkQueue.EnsureThreadRequested() hotspot"
This is more like a loose question, feel free to close it if its too off-topic.

For sometime i always see `System.Threading.ThreadPoolWorkQueue.EnsureThreadRequested()` as a hotspot when profiling my code (a reverse proxy, we do plan to move to YARP once its more mature).

Its always something like:

![image](https://user-images.githubusercontent.com/1174384/98645039-23ae3380-2310-11eb-986f-26219

[2020-11-10 08:55] John0King commented on #38804
personally, I think  auto listen  in  constructor is not a good idea,  I'd like the `void ListenEvents()`  is `public` ,  and I also see many api from history  that try fix the old problem.  for example `TranscationScope` and `async`,  today async is everywhere but the default option for `TranscationScope`  is not support async.

here's my suggestion:
-  if the goals for .Net 6 (for .net 5 it's to

[2020-11-10 09:18] jairbubbles opened #44453 "ObjectDisposedException in System.Diagnostics.AsyncStreamReader.ReadBufferAsync"
### Description

We're in the process of switching our `net472` WPF application to `netcoreapp3.1`. So far, it's working great!

But we're receiving crash reports from our users which beta test the .NET Core version. These exceptions are not blocking and we get them from the `TaskScheduler.UnobservedTaskException` event.

The stack traces are not very good as **there's no user code inside it**. Th

[2020-11-10 09:26] janvorli commented on #42885
Ok, to make sure that I'll build a correct drop-in replacement of libcoreclr.so, can you please confirm that you are using version 3.1.7 as you've mentioned in the issue description?

[2020-11-10 09:44] gregolsky commented on #42885
@janvorli The original version we used and found the issue in was 3.1.7, but we updated since and we're now using 3.1.8 there.

[2020-11-10 09:45] ManickaP commented on #38494
@dotMorten you don't have to rewrite your code everywhere. You only need to use explicitly cast  when initializing the content, for instance:
[code]

My proposition is to add a new constructor accepting `Dictionary/IDictionary` instead of changing the current API.

[2020-11-10 09:48] janvorli commented on #42885
OK, thank you. I'll build and share the binary today.

[2020-11-10 10:16] antonfirsov commented on #44422
If I'm not misreading it, OP is talking about about the [synchronous variant](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket.send?view=netcore-3.1#System_Net_Sockets_Socket_Send_System_Collections_Generic_IList_System_ArraySegment_System_Byte___) + blocking sockets. @tyb-dev can you confirm?

[2020-11-10 10:54] EgorBo commented on #44449
Btw, `EnsureThreadRequested` has a few codegen issues, here is a simplified repro:
[code]
Current codegen:
[code]
Codegen on Mono-LLVM (Linux abi):
[code]

[2020-11-10 10:59] OnurGumus commented on #6792
@GrabYourPitchforks is this implemented?

[2020-11-10 11:01] OnurGumus commented on #6792
On the second thought, this could be achieved by string.create

[2020-11-10 11:05] koszeggy opened #44457 "33% performance degradation in .NET 5"
### Description

**Note:** I don't know whether the root cause of my issue is related with #36907 so I report an easily reproducible scenario here.

I have a high performance [core library](https://github.com/koszeggy/KGySoft.CoreLibraries), which has some multidimensional span-like types such as [Array2D](https://github.com/koszeggy/KGySoft.CoreLibraries/blob/master/KGySoft.CoreLibraries/Collecti

[2020-11-10 11:25] Joe4evr commented on #6792
I sincerely doubt this suggestion is *ever* going to be implemented as proposed, for the sheer fact that allowing any type to write to an unbounded `byte*` is quite possibly the worst thing that could ever be done to the .NET ecosystem.

[2020-11-10 11:30] MihaZupan commented on #44364
It's not pretty, but I don't see why it wouldn't be valid. It's an absolute Uri, so it can contain `,` and `:`.

[2020-11-10 11:45] MihaZupan commented on #44429
Given a Uri like `https://host/path?foo=bar#fragment`, the `Path` compoenent is just `/path`.
For a Uri without a query, like `https://host/path#fragment`, the `Path` is still `/path`, not including the fragment.

`uri.GetLeftPart(UriPartial.Path)` is described as `The scheme, authority, and path segments of the URI.`
I believe the behavior here is correct, you will NOT get the fragment, regardles

[2020-11-10 11:45] #44429 closed

[2020-11-10 11:58] OnurGumus commented on #6792
@Joe4evr this was how it is implemented back in 2016. It was some C++ code that does was converting numbers to a string by getting a byte*.

Now check it again the implementation has completely changed. It's using a span as the input or using rented buffers which is good enough already.

https://source.dot.net/#System.Private.CoreLib/ValueStringBuilder.cs,157e1a7ce4de87da

So I think the above pro

[2020-11-10 11:58] #6792 closed

[2020-11-10 12:12] ManickaP opened #44458 "New ctor for `FormUrlEncodedContent` accepting `Dictionary`"
## Background and Motivation

https://github.com/dotnet/runtime/issues/38494

Once we annotated [`FormUrlEncodedContent`](https://github.com/dotnet/runtime/pull/33268/files#diff-1482fe0fd575b1c0514c1a752a77369f7f478d20c1ff7106a0413fd0e3557310R16) we have prevented people from using the ctor with `Dictionary`. `Dictionary`'s `TKey` cannot be null, colliding with key nullability in `IEnumerable<KeyV

[2020-11-10 12:51] marek-safar commented on #44432
I agree with P2 for this one

[2020-11-10 13:54] marek-safar commented on #44369
That API is probably something that will never be used in modern workloads. I'm not sure we actually have to have it at all for example on in the browser.

Secondly, someone would have to have `Switch.System.Data.AllowArbitraryDataSetTypeInstantiation=true` option set for the exploit to work, right? We can pair that with `EnableUnsafeBinaryFormatterSerialization` or some other feature if that's yo

[2020-11-10 13:56] tyb-dev commented on #44422
We're using this overload:
https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket.send?view=netcore-3.1#System_Net_Sockets_Socket_Send_System_Collections_Generic_IList_System_ArraySegment_System_Byte___System_Net_Sockets_SocketFlags_System_Net_Sockets_SocketError__

I made an attempt at creating a repro but did not succeed. In the repro I used the loopback adapter and C# for both se

[2020-11-10 14:19] eiriktsarpalis commented on #40450
I don't think we could add this on the basis of API consistency with the non-generic version. Since a workaround exists, I'm going to close this issue.

[2020-11-10 14:19] #40450 closed

[2020-11-10 14:33] SingleAccretion commented on #44457
I have run the benchmarks on my machine (Ivy Bridge) using your test from the repository, and did not see a regression from `3.1.8` to `5.0.0` (what I did see however was the results tended down with each run):
[code]
I lost the ability to run your tests after that for some reason and now have replicated your setup with Benchmark.NET.
[code]
Using this setup I too was not able to replicate the reg

[2020-11-10 14:40] maikebing opened #44463 "I suggest a uniform name for c and .net. Easy for SEO, just like Java."
Now people have begun to use search engines, but also refer to some well-known sites recommended things.
 Programming languages, too.
The tiobe website has influenced a lot of people!
https://www.tiobe.com/tiobe-index/

For example, java keywords are used to search for anything about it.

But DotNET is different from Java,  people will search for C#  or .Net or VB.Net, or .Net Core !

There are ma

[2020-11-10 14:54] #41212 closed

[2020-11-10 14:56] eiriktsarpalis commented on #29634
A few thoughts on the proposal:

* My first interpretation when reading `HashSet<T>.RemoveWhere(Predicate<T>, Action<T> postProcessingAction)` was that `postProcessingAction` was meant for the elements that were *not* removed. While clearly wrong in hindsight, it demonstrates an inherent ambiguity w.r.t. the semantics of such a method.

* A potential `IEnumerable<T> RemoveWhereEnumerator(Predicate

[2020-11-10 14:57] eiriktsarpalis commented on #29634
I am going to close this issue, since I don't think we could accept such a proposal. Feel free to reopen if you would like the conversation to continue.

[2020-11-10 14:57] #29634 closed

[2020-11-10 15:03] eiriktsarpalis commented on #44323
Given that this can be trivially defined as an extension method, I don't think we would add this unless there was clear demand from many users.

[2020-11-10 15:16] OronDF343 opened #44464 "Expose System.Globalization.CharUnicodeInfo.GetBidiCategory"
## Background and Motivation

Currently, there is no public API for determining whether a Unicode character is strongly right-to-left, strongly left-to-right or neutral. Such an API can be useful when displaying text in right-to-left and left-to-right languages simultaneously.

## Proposed API

[StrongBidiCategory.cs](src/libraries/System.Private.CoreLib/src/System/Globalization/StrongBidiCategory

[2020-11-10 15:35] AndreyTretyak opened #44467 "Setting ApplicationName to random value when using CreateDefaultBuilder fails in Development"
If you are using `Host.CreateDefaultBuilder(args)` to create `HostBuilder`, set environment to `Development` and set application name to a value other then assembly names used in this project [following code path](https://github.com/dotnet/runtime/blob/6a5a78bec9a6e14b4aa52cd5ac558f6cf5c6a211/src/libraries/Microsoft.Extensions.Hosting/src/Host.cs#L81) will fail with `FileNotFoundException`:
[code]

[2020-11-10 15:46] eiriktsarpalis commented on #43215
There are a few reasons why we shouldn't consider such an addition:

* It may communicate that using a linked list representation is generally encouraged.
* Having both `ToArray()` and `ToLinkedList()` methods might bring confusion as to which is preferable.
* It is trivial to write a `ToLinkedList()` extension method, as already demonstrated in the OP.

I'm going to close this issue, but feel fre

[2020-11-10 15:46] #43215 closed

[2020-11-10 15:48] koszeggy commented on #44457
I'm not sure how you tested it but the self allocating constructor uses `ThreadPool` internally on targets where it is available. Are you sure you disposed the `array2d` instance in the end? In your Benchmark.NET tests it is not disposed, at least.

**Using Benchmark.NET**

Unfortunately the overhead of Benchmark.NET is a bit too large for very quick test cases so you need to "magnify" the actual

[2020-11-10 15:57] eiriktsarpalis commented on #21603
I feel like we should close this. Given we're going down the CollectionsMarshal route for #15059, we should probably consider a similar approach for HashSet. cc @GrabYourPitchforks

[2020-11-10 16:00] SingleAccretion commented on #44457
I see, I did not think that would matter because I assumed the test was about the quality of indexer codegen. I have now run the corrected test you provided and there is still no difference:
[code]
[code]

[2020-11-10 16:00] jairbubbles commented on #44453
Important information, it seems the user code provoking htis is not that pretty:
[code]

We're disposing the process while we're still reading the error stream and we don't wait for the process to end.

[2020-11-10 16:05] koszeggy commented on #44457
Hmm, it must be a platform-dependent thing, then. :(

Thanks for the tip, I will provide a disassembly when I will have time again.

[2020-11-10 16:14] ddobrev commented on #44378
@AaronRobinsonMSFT thank you for your exhaustive answer. We'll use our own manual approaches for the time being until the new generator of marshalling code.

[2020-11-10 16:24] janvorli commented on #42885
Here is the binary (gzipped): https://1drv.ms/u/s!AkLV4wRkyHYhyhdJATD-FBghk-TA?e=BeSNB8
Please ungzip it and replace the original `libcoreclr.so` by it.

[2020-11-10 16:39] AndyAyersMS commented on #44421
I'm testing an app that works with 5.0 RC2 but does not work with current master.

[2020-11-10 16:58] AndyAyersMS commented on #44457
Could be you have an alignment-sensitive loop? cc @kunalspathak

[2020-11-10 17:08] infogulch commented on #29634
Your objections are noted in the doc comment for `RemoveWhereEnumerator`:

[code]

If a user wants to do something with the elements that were *not* removed, they can trivially solve the problem by combining existing language features (one example: `setA.RemoveWhere(e => e.X); foreach (var e in setA) process(e);`), whereas processing the removed elements efficiently is not as straightforward accom

[2020-11-10 17:20] nathanpovo commented on #33237
The command

[code]

executes successfully.

The issue I am having is with the printed commands.

Running

[code]

I am getting the following output:

[code]

For some reason, the percentage does not always reach the same amount; if I rerun the command I get higher and higher percentages. I tried running the command multiple times and the highest it got was 25%.

[2020-11-10 17:35] CarolEidt commented on #37079
This and #37216 should be analyzed to see whether they remain after work that was done for .NET 5 to eliminate redundant zeroing.

[2020-11-10 17:36] sedvardsen opened #44470 "IHostApplicationLifetime + Task Scheduler-End does not trigger ApplicationStopping and ApplicationStopped on .NET 4.8"
### Description
We use a BackgroundService triggered by Windows Task Scheduler hosted in (due to required legacy libraries) .NET 4.8. We need to flush the application log on shutdown (when the application is stopped on purpose or due to a fault). This seem to work as expected on .NET Core (3.1), but not on .NET 4.8.

Given the code
[code]

When stopped by CTRL-C in console window this produces thr

[2020-11-10 17:39] am11 commented on #33237
Android with CoreCLR is not an officially supported platform right now; it is a community supported platform. It is 'point in time' kind of support. If we fix it today, there is no guarantee the build will sustain tomorrow as we have evidentially seen in this thread alone; with all the infrastructural as well as the code changes being checked in.

Android with Mono is a an officially supported pla

[2020-11-10 17:47] nathanpovo commented on #33237
I was mostly experimenting to see if it was possible to build the clr for Android to be able to use it in the [Termux app](https://github.com/termux/termux-packages/issues/516).

However, with all the changes it might be worth waiting for .NET 6.0 to come out which should have official support for building for Android.

Thank you for the quick response, @am11.

[2020-11-10 17:47] markusschweitzer commented on #25375
Still persists in v5

[2020-11-10 17:51] tzickel opened #45241 "HttpListener is slower on reused connections than new connections"
# Issue Title

HttpListener is slower (*2 - *3 in microbenchmarks) on reused connections (i.e. HTTP keep-alive) than new TCP socket connections.

# General

Ubuntu 18.04, .NET Core 5.0.100 + 2.1.811

Run this code:
[code]

And test it with something like this (requires python and requests, i.e. pip install --user requests):
[code]

I would think that reusing a connection should be on-par or faster

[2020-11-10 17:54] GrabYourPitchforks commented on #44464
FWIW, .NET Framework has the internal _BidiCategory_ enum, while .NET Core / .NET 5 has the internal _StrongBidiCategory_ enum. The runtime __does not__ carry full UCD bidi information; we only carry enough information to make our own use cases (mainly some System.Uri functionality) work correctly. Carrying full bidi information would require reworking the internal `CharUnicodeInfo` backing tables

[2020-11-10 17:57] GrabYourPitchforks commented on #44463
@richlander Seems like this might be up your alley? Does this belong in the core repo instead of the runtime repo?

[2020-11-10 18:04] geoffkizer commented on #44422
Yeah, good point. So strictly speaking this has nothing to do with SocketAsyncContext.

That said, I still wish there was just a simple read lock and write lock on the socket that serialized operations. That would both fix this issue and simplify SocketAsyncContext significantly.

[2020-11-10 18:04] geoffkizer commented on #44422
@tyb-dev Can you give me more details about what your app does? Is it TCP or UDP?

[2020-11-10 18:05] koszeggy commented on #44457
I was playing with `DisassemblyDiagnoser` a bit and I made the following observations:

* ***There is about a 50% chance that there is no difference between .NET 3.x and 5.0.*** - if this is an alignment issue, maybe the JITter can have a lucky day and put the code to a well-aligned address? Remark: I could not observe such "coin toss" when using my performence test (see the original post) as the

[2020-11-10 18:09] pgovind commented on #44444
I think this is a good issue to implement as an Analyzer. At a high level, implementing this as an Analyzer wouldn't take too long and there's obvious value here. I'll look into it and create a PR if it makes sense!

[2020-11-10 18:17] janvorli commented on #33237
For me, the clr build command passed 100% for both arm and arm64, so it sounds like some missing build dependency or some kind of a problem with the distro you are building it on. Can you please share the full log from the failed build using a gist?

The fact that the percentages are different each time is expected. The build runs on multiple processors at the same time, so it always manages to bu

[2020-11-10 18:20] bartonjs commented on #44025
API Review:

* Flatten things to just the one type
* Add a "Tcp" prefix since it's TCP KeepAlive, not HTTP KeepAlive
* SupportedOSPlatform attributes might not be required, depending on how you handle older OS interaction

[code]

[2020-11-10 18:22] nathanpovo commented on #33237
@janvorli where can I find the log?

[2020-11-10 18:24] janvorli commented on #33237
@nathanpovo just cut and paste the console output starting at the build command.

[2020-11-10 18:24] am11 opened #44472 "runtime (Checkout) leg is failing"
Checkout leg is failing with the following error:

[code]

raw logs: https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_apis/build/builds/881055/logs/8.

[2020-11-10 18:26] danmosemsft commented on #44444
Would it be common enough, @pgovind ? It would require (1) non zero startas + (2) pattern beginning with caret + (3) single line mode (the default).

[2020-11-10 18:27] janvorli commented on #43959
cc: @AaronRobinsonMSFT

[2020-11-10 18:28] halter73 commented on #44025
[code]

https://tools.ietf.org/html/rfc1122#page-101

A default `KeepAliveInterval` of 1 second which is far less than the minimum 2 hours required by the RFC.

Given servers like Kestrel and HTTP.sys have a default 2 minute *HTTP* keep-alive timeout, I wonder why someone would want to enable TCP keep-alive for an HTTP connection. Do we need to expose a similar option in Kestrel?

[2020-11-10 18:33] bartonjs commented on #2406
Looks good as proposed:

[code]

[2020-11-10 18:45] bartonjs commented on #33770
Approved as proposed

Category: Reliability
Suggested severity: Warning

[2020-11-10 18:50] tarekgh commented on #43795
If I didn't hear from you, I'll go with the NLS data to keep the compatibility and in the future releases we can expose new APIs if needed for list patterns.

[2020-11-10 18:56] jrydow opened #44475 "TimeZoneInfo AdjustmentRules broken under Linux"
### Description

* TimeZoneInfo.AdjustmentRules Don't work when run on Linux.
* It seems that Floating Date Rules don't work at all as expected.
* Conversion from the local tz database is mixed up, Start and End rules seem to be swapped.
* The actual rule seem to be wrong in the time of day when to switch to/from daylight saving time.

### Configuration
* .Net 3.1 core
* Ubuntu 18.04 LTS
* x64
* D

[2020-11-10 19:01] bartonjs commented on #33777
* Find calls to `str1 + str2.Substring(...) + ...` (but not `string.Concat(str1, str2.Substring(...), ...)`, since that's in a different analyzer)
* If there's an applicable overload of string.Concat that accepts ReadOnlySpan&lt;char> with the correct number of arguments, suggest changing the Substring call to AsSpan and calling string.Concat
* Don't arbitrarily suggest changing str1 + str2 to str

[2020-11-10 19:02] pgovind commented on #44444
I don't think it'd be too common, no. I still think it'd be good UX though. I wouldn't prioritize the Analyzer, but the work involved in implementing this will likely be small.

[2020-11-10 19:02] bartonjs commented on #33784
* Find argument expressions that are str.Substring(...) and there's an overload (or the same overload) that accepts ReadOnlySpan&lt;char> in that position
* Suggest changing Substring to AsSpan for the call

Category: Performance
Suggested severity: Info

[2020-11-10 19:04] carlossanlop commented on #33777
@Mrnikbobjeff was this one of the analyzer proposals that you had already started working on? It's been approved, so let us know if you'd like to work on it.

[2020-11-10 19:05] carlossanlop commented on #33784
@Mrnikbobjeff also approved in case you already started working on this. Let us know if you'd like to get this issue assigned to you.

[2020-11-10 19:08] bartonjs commented on #42753
Looks good as proposed

[code]

[2020-11-10 19:10] mmitche opened #44476 "Remove -internal archives"
The -internal archives don't serve a strong purpose and largely just take up space. They are also a source of possibility differences between a source and Microsoft build. When https://github.com/dotnet/installer/issues/9042 and https://github.com/dotnet/aspnetcore/issues/27687 are completed, the runtime -internal archives should be removed.

[2020-11-10 19:11] mmitche commented on #44476
Depends on https://github.com/dotnet/runtime/issues/44476 and https://github.com/dotnet/aspnetcore/issues/27687

[2020-11-10 19:15] bartonjs commented on #43901
Looks good as proposed

* Copy all members on SocketTaskExtensions to instance methods on Socket (removing the `this` parameter)
* Mark existing members as EditorBrowsable(Never)
* Remove any members on SocketTaskExtensions that have been introduced for .NET 6.  Be nimble with regard to approved, but not-implemented ones.

[2020-11-10 19:18] geoffkizer commented on #1608
Note, per approval of #43901, this should be added as an instance method and *not* added to SocketTaskExtensions.

[code]

[2020-11-10 19:20] bartonjs commented on #43933
Looks good as proposed

[code]

[2020-11-10 19:21] olmobrutall commented on #43795
Hi @tarekgh. Not sure if you referred to me but NLS looks better to me too.

It is possible to deliver this behavior in Unix? Or the behavior will be different in Unix and Windows?

[2020-11-10 19:24] geoffkizer commented on #33418
Note, per approval of #43901, we should add the new async overloads to Socket itself, not SocketTaskExtensions. I will update above.

[2020-11-10 19:24] bartonjs commented on #44213
@stephentoub believes that this is not in a ready state, transitioning to needs work.

[2020-11-10 19:28] nathanpovo commented on #33237
https://gist.github.com/nathanpovo/927aaabdc5924180d25f32b5351ec75b

I started the build from scratch to show the full log.

[2020-11-10 19:31] olmobrutall commented on #43795
BTW, I just tested in exporting a CSV with Excel in my wife MacBook Pro configured with German and Spanish cultures, the results are consistent with Excel in Windows:

[code]

What about asking Office team what are they using to get the `;` as list separator on Unix environments?

[2020-11-10 19:32] sakno commented on #44467
You should not use `ApplicationName` property to define app name. [Here is the comment](https://github.com/aspnet/Hosting/issues/1179#issuecomment-323597195) from David Fowler. The value of this property is reserved by DI internals. Check [this](https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Extensions.Hosting/src/Host.cs#L81) line of code for more details.

Related issues a

[2020-11-10 19:33] jkoritzinsky commented on #44472
Fixed by #44474

[2020-11-10 19:33] #44472 closed

[2020-11-10 19:38] tommcdon commented on #44447
@sywhang

[2020-11-10 19:38] bartonjs commented on #15136
API Review:

We're not really clear how this would be used in practice, and why something other than `new[] { item }` would be better in that context.  It also seems like the best name for a single item is `Single`, but that has a bad collision with the existing `Single` semantics.  (Yield doesn't seem like it's discoverable, just easily explained.)

With new data (e.g. sample usage) we might come

[2020-11-10 19:38] #15136 closed

[2020-11-10 19:41] tarekgh commented on #43795
The idea is to deliver the behavior in both Windows and Unix. we'll hardcode the data and use it for all platforms.

Thanks for trying your scenario on Mac. Usually Office carry some data for that but I'll double check anyway.

[2020-11-10 19:47] jkoritzinsky opened #44480 "Libraries AllConfigurations leg failing"
The Libraries AllConfigurations leg is failing with the following error:

Looks like something broke now that we released new stable package versions.

cc: @Anipik

[2020-11-10 19:51] bartonjs commented on #20064
Looks good as proposed, but there was a concern raised that the Queryable methods might have an impact on Linq-to-SQL, which would be good to verify (@ajcvickers do you have insight or contacts here?).

[code]

[2020-11-10 19:56] sebastienros opened #44483 "Breaking change in ResourceSet class"
This PR https://github.com/dotnet/runtime/pull/44104 introduces a breaking change that is only experienced at runtime.
`ResourceSet` implements `IEnumerable` and ASP.NET Core is using the contract.

At least there, but other tests break so it might not be isolated.
https://github.com/dotnet/aspnetcore/blob/master/src/Localization/Localization/src/Internal/ResourceManagerStringProvider.cs#L75

Whil

[2020-11-10 19:56] ericstj opened #44484 "FileSystemWatcher doesn't trigger Deleted event for file when watched directory is deleted on OSX"
### Description

Create a FileSystemWatcher that watches a directory.
Create a file in that directory and observe Created event.
Delete the file and observe Deleted event.
Create another file in that directory and observe Created event.
Delete the directory, and no deleted event ever arrives.

### Configuration

* Which version of .NET is the code running on? .NET 5.0
* What OS and version, and wh

[2020-11-10 19:57] #44480 closed

[2020-11-10 19:59] jkotas commented on #44483
Revert in https://github.com/dotnet/runtime/pull/44482

[2020-11-10 20:00] bartonjs commented on #28704
* Returning the length instead of a span allows the method to be more versatile (ReadOnlySpan, Span, ReadOnlyMemory, Memory, etc)
* GetNextTextElementLength allows for better association in IntelliSense

[code]

[2020-11-10 20:00] lambdageek commented on #44213
@stephentoub, @bartonjs  I'm unclear on what my next steps should be here.  Continue to revise the proposal with the feedback I got so far and then flip it back to ready for review?

I guess more generally a question about the API proposal process: Am I responsible for choosing the most promising alternative and just documenting the other alternatives for completeness, or am I proposing a range of

[2020-11-10 20:03] avanigupta opened #44486 "Allow access to child providers in ChainedConfigurationProvider"
### API Proposal

This API proposal provides the ability to enumerate a `ChainedConfigurationProvider`'s child providers:

[code]

### Motivation

Developers tend to add their configuration source via a ChainedConfigurationSource/Provider and they would want to access it from the outer `ConfigurationRoot`.

`ConfigurationRoot` exposed `Providers`. With this new API now, configuration providers tha

[2020-11-10 20:03] GrabYourPitchforks commented on #28704
Updated title to reflect that we're adding APIs only to `StringInfo`, not to `CharUnicodeInfo`.

[2020-11-10 20:07] AndreyTretyak commented on #44467
Thank you for the details @sakno, if it required to be an executing assembly name (I'm not sure is it the case for Asp Net Core or for all application using GenericHost but looks like all of them need it) then maybe it should in fail in all cases not only with some special preconditions like using dev environment, also using other assembly names (ex, `Newtonsoft.Json`) would work fine :)

Maybe it

[2020-11-10 20:09] ericstj commented on #44484
This appears to be unique to only when the root-level watched directory is removed.  If a directory underneath the root directory is removed then the deleted event is observed.   I've updated the sample above to better illustrate this.

[2020-11-10 20:15] eiriktsarpalis commented on #29634
I'm not arguing that it is impossible to use it appropriately if you're careful, my point is that things can very easily go wrong if you're not. `RemoveWhere` performs an operation on the collection, however `RemoveWhereHashSet` does not do anything; the resulting enumerator(s) may or may not trigger the desired side-effects, but that really depends on how it is being consumed. It could even just

[2020-11-10 20:25] stephentoub commented on #44213
Yup.  In particular, it'd be great if you could sync with @kouvel and come to a mutual agreement on the direction / API you both agree on.  Thanks.

[2020-11-10 20:31] agocke opened #44488 "Improvements to single-file analysis"
The existing single-file analyzer covers the top issues customers will likely hit with single-file, but it has some shortcomings.

## Goals

- [x] Single-file analyzer is moved next to the trimming analyzer in the `mono/linker` repo
- [x] Single-file analyzer is enabled in the `dotnet/runtime` repo to identify problems in the framework
- [x] Users can annotate their own APIs as being not compatibl

[2020-11-10 20:31] wfurt opened #44489 "regression in SimpleConstructors test inside System.Xml.Linq.TreeManipulation.Tests"
I can reproduce it locally - the caveat is that this is outer loop test so I guess it got missed by CI.
I was suspecting #44414 but I can reproduce it even when syncing prior to that.

I started to fail 11/10 .e.g. today.
Binary search points to #44300

cc: @krwq and @stephentoub who touch the area recently.

There is not much aside from:
[code]

[2020-11-10 20:32] tarekgh commented on #44475
Thanks @jrydow for reporting it. This is a duplicate of https://github.com/dotnet/runtime/issues/20626 we'll close this one and we can follow up on the other issue.

[2020-11-10 20:32] #44475 closed

[2020-11-10 20:46] MihaZupan commented on #43931
[Kusto query I mentioned](https://dataexplorer.azure.com/clusters/engsrvprod/databases/engineeringdata?query=H4sIAAAAAAAAA62RUWvCMBDH3/0UR19UqE0tIip0sDEEB5NNC3uOzdHGtklJLhuFffildvgwhuxhEHK55O7/+5PL0NIBravJwugTzloqqKQSqVQKDbxpU+0IGwtaXZOd+K30SZ8uVT7uhH//KNEgbKWStkQBdykITkiywUkSJ/EsXs/iOcSbuF/TEXAlIOtahDSF4NhZD4r2SNFR5xWSjTLvtN9rbJBM16fB0DX47/vGWy7r8XCrNE0eDFd5CblWxKWyECyS+WoVTIEx+NaFqyK8HKAkau2GsUJ

[2020-11-10 20:49] tyb-dev commented on #44422
It is TCP:
[code]

[2020-11-10 21:00] AaronRobinsonMSFT commented on #44213
@lambdageek If this is related to macOS in the interop domain I like to be involved in that discussion - primarily for my own education but also because the interop team is looking to add support for more macOS centric scenarios.

[2020-11-10 21:04] janvorli commented on #33237
I've just found what's wrong. I've tried the build again, this time in a different checkout of the runtime repo and it failed the same way as for you. I've then checked the checkout I've tried it in before and it still worked. Looking at the state of that checkout reveals the reason. In the checkout I was trying it before, I had a state from March for some reason (commit bc28cbef855fdb9cb3769c4127

[2020-11-10 21:16] tyb-dev commented on #44422
Here's a working repro.

The error takes a minute or so to pop up. It's very sporadic. I can't reproduce it on Windows or wsl. It could be timing related, or the limitation is in the Linux Kernel. My Linux test machine is Ubuntu 20.04 running with 2 processors on VirtualBox (not very fast).

[code]
Output
[code]

[2020-11-10 21:19] sakno commented on #44467
Oops, sorry for my inattention. Yes, it's the same line of code. I also tried to use this property for app name but without luck. There are many places especially in ASP.NET Core MVC utilizing its _special meaning_.