[2022-04-19 02:03] VincentBu commented on #64888
Failed again in: [runtime-coreclr libraries-jitstress 20220418.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1723402&view=ms.vss-test-web.build-test-results-tab&runId=46756928&paneView=debug&resultId=119923)

Failed test:
[code]
**Error message:**
[code]

[2022-04-19 02:17] kunalspathak commented on #64820
Included in the table above.

[2022-04-19 02:56] AndyAyersMS commented on #68194
Ah, the issue is that the low bit of the offset in the patchpoint info is used to track exposure info, so any local with and odd offset is going to get the wrong value. That made sense for x64 and most arm64, but on OSX the ABI variances make it possible for args to be at odd offsets.

Will need to revise how this information is stored.

https://github.com/dotnet/runtime/blob/544f720704dbfcbd3daba

[2022-04-19 03:06] carlossanlop opened #68200 "`double.TryParse` sometimes doesn't parse the dot"
This issue is currently blocking the CI in my Tar PR: https://github.com/dotnet/runtime/pull/67883

This issue seems to only happen in the CI. I am unable to repro locally. Here's are some logs showing the issue: https://dev.azure.com/dnceng/public/_build/results?buildId=1725098&view=logs&j=457f7e88-dfa2-5bd9-f871-fdf124c2477d&t=bfe52dfb-2099-5c7f-ee52-70a1d81c544e&l=356

My tar code reads the `mt

[2022-04-19 03:24] jeffhandley commented on #68200
On a quick glance, it looks like the test that failed is in the `ES` culture. What might be happening is that in the `ES` culture, `double.TryParse` is expecting the decimal separator to be `,` instead of `.`. Since you're not reading user data, but instead reading data from the PAX format, I think you'd be able to use `InvariantCulture` for the `double.TryParse` call--assuming the PAX format spec

[2022-04-19 03:31] carlossanlop commented on #68200
PAX only mentions that the extended attribute strings are expected to be in UTF8.

So you're saying that the problem might be in the culture used by double? Could the issue maybe come from the code that converts the raw bytes to string? I ask because I'm using `Encoding.UTF8.GetString(bytes)`, then I pass that string to `double.TryParse`.

[2022-04-19 03:32] rseanhall commented on #68180
This is not true. I would like my custom host to support standard functionality. What I want is for the nethost logic to be able to reject locations with the wrong architecture.

I don't have a custom dotnet location. I need nethost to give me the standard path.

I might have to do this, but as I mentioned above that is removing standard functionality so I would rather not.

Why would there be a c

[2022-04-19 03:39] carlossanlop commented on #68200
I'll try the following:

[code]

[2022-04-19 04:00] danmoseley commented on #68200
All parsing operations should be culture invariant unless the data is expected to be culture specific in which case it should be parsed using whatever that culture is.

[2022-04-19 04:07] Danyy427 commented on #66600
@danmoseley Oh, I didn’t think they were actually doing something, I’ll revert them surely.

For replacing, yes that was my goal, and my code would do the exact same thing that you wrote in our case bur I just realized it would be very wrong if we copied the repo from windows to Unix. I’ll change that

[2022-04-19 04:15] AaronRobinsonMSFT commented on #68197
@trylek or @jkoritzinsky Could this be related to the consolidation of tests?

[2022-04-19 04:24] Joe4evr commented on #68200
This is why [CA1305](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1305) exists and should be enabled. 🙃

[2022-04-19 04:50] saucecontrol opened #68204 "[API Proposal]: Add SSE4.2 String Comparison Intrinsics"
### Background and motivation

The SSE4.2 string comparison instructions were omitted from the S.R.I surface area when the remainder of SSE4.2 was implemented, mostly due to inability to agree on an acceptable API.

This omission hasn't caused much pain, because most people looking to use these instructions are actually implementing something along the lines of `IndexOf(char/byte)` or `Contains(ch

[2022-04-19 05:13] GrabYourPitchforks commented on #68144
I think this scenario would be covered by https://github.com/dotnet/runtime/issues/36194. Instead of using `GetUninitializedObject` to alloc and zero-init then calling the ctor as a standard method, one of the factories proposed by that issue would encapsulate all of these operations as a single method call.

That said, since the workaround is to use standard reflection or to use ref emit (as in t

[2022-04-19 05:17] kant2002 opened #68205 "Build failure: "...nativeaot\Runtime\Full\AsmOffsets.cs' could not be found""
### Description

Same as https://github.com/dotnet/runtime/issues/64557

When running minimal steps for building NativeAOT from docs I receive this error. If I remove `+libs` then building succeed.

### Reproduction Steps

[code]

### Expected behavior

Everything ok.

### Actual behavior

Build error.

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

_No re

[2022-04-19 05:53] kant2002 commented on #68205
I think that's related to the fact that `x86` is not supported, so some steps was missing. If working on unsupported RID just temporary hardcode https://github.com/dotnet/runtime/blob/4479fa685e6305db0b35a10793018c9a12203f8a/eng/Subsets.props#L54 to return true.

[2022-04-19 05:53] #68205 closed

[2022-04-19 06:31] tmds commented on #67837
I've added this to the proposal.

[2022-04-19 06:34] simonrozsival opened #68206 "[Android] Some System.Net.Security tests are failing"
The following `System.Net.Security` tests are failing on Android:
- CertificateValidationClientServer.CertificateSelectionCallback_DelayedCertificate_OK
- ServerAsyncAuthenticateTest.ServerAsyncAuthenticate_MismatchProtocols_Fails
- SslStreamAlpnTest_Async.SslStream_StreamToStream_Alpn_NonMatchingProtocols_Fail
- SslStreamAlpnTest_Sync.SslStream_StreamToStream_Alpn_NonMatchingProtocols_Fail
- SslS

[2022-04-19 06:47] huoyaoyuan commented on #68123
The more commonly used StreamWriter does not override them either. Some changes can be done to the base TextWriter class, but without breaking compatibility. It's better to let the area owners to decide what to do here.

[2022-04-19 06:51] GSPP commented on #67891
My suggested fix would be to `checked` multiply, catch and convert to `FormatException`. The JIT should generate optimal code for that overflow check. Would the `try-catch` impose a performance cost? If no or negligible, this would be a performant and clean fix.

[2022-04-19 07:02] GSPP commented on #67642
I have needed this for child process jobs as well. Windows Job Objects are the best way to ensure child process termination.

Setting priority before any code runs was also something that I wanted. I just made due without that capability. In my case, the child processes were consuming 100% CPU by design. It is risky to launch such processes at normal priority. They can crowd out the controlling pr

[2022-04-19 07:45] agocke commented on #68180
Maybe I'm not understanding the scenario fully, but it sounds like `dotnet test` is starting a 32-bit host process, but passing a 64-bit dotnet root. Is that right?

[2022-04-19 07:46] rolfbjarne commented on #67760
Can you run `createdump` from the command line (with the app running) as described under "Command Line Usage" here: https://github.com/dotnet/runtime/blob/main/docs/design/coreclr/botr/xplat-minidump-generation.md#configurationpolicy?

I'm guessing that CoreCLR will launch `createdump` automatically when a signal occurs, I think I'd first look into whether this is happening or not (by debugging th

[2022-04-19 07:51] tannergooding commented on #67891
The additional cost of try-catch or `checked` may be more significant then desired for the "happy path".

Ideally this is limited to a much more trivial check where possible that continues to minimize the cost around processing the format string or only incurs the cost in the rare case (format string is more than 5 digits, etc).

[2022-04-19 07:57] rzikm commented on #68037
managed call stack:
[code]

Curious that `0x00007f2b752bcced` is also at the top of the callstack, but specifies different function. I also checked `SSL_set_fd` source code and I don't see a way how it would callback out of OpenSSL.

[2022-04-19 07:59] saucecontrol opened #68207 "[API Proposal]: Math.MulHigh"
### Background and motivation

On Arm64, there is already a `MultiplyHigh` intrinsic that returns only the high part of an integer multiply.  On x86/x64, `mul` and `imul` calculate the high part and low part at the same time can return the results in 2 registers, however there is no intrinsic that gives access to the high part of the result.

At present, the only way to get the high part of an int

[2022-04-19 08:26] #68029 closed

[2022-04-19 08:31] denisenko93 commented on #68123
These optimizations depend on the types in the internal store. In StringWriter, it is a char array. In StreamWriter it is a byte array

[2022-04-19 08:34] MMaximus111 commented on #68123
Cool boost performance. Its very important for high performance solutions. Thank you @denisenko93 for this case.

[2022-04-19 08:35] jakobbotsch commented on #68187
This does not look codegen related, so reassigning based on above discussion.

[2022-04-19 08:53] tbolon commented on #61947
I am not sure if it is really related to your use case, but [Serilog](https://serilog.net/) (which is one of the defacto logging library for .net) supports '@' prefix in parameter names in logs, and "destructure" the object into the output message:

[code]

renders:

[code]

Tools such as [seq](https://datalust.co/seq) can process such objects and make them useable when searching logs.

[2022-04-19 08:57] jakobbotsch commented on #67821
Same problem now seems to be occurring on DDARM64-125, e.g. [run 1](https://dev.azure.com/dnceng/public/_build/results?buildId=1724402&view=logs&j=bb94f37e-a09b-5b51-09b2-ab78e7aa5103&t=506cadc9-3cc4-5d96-6847-011f75a33382), [run 2](https://dev.azure.com/dnceng/public/_build/results?buildId=1724587&view=logs&j=bb94f37e-a09b-5b51-09b2-ab78e7aa5103&t=506cadc9-3cc4-5d96-6847-011f75a33382&s=96ac2280-8

[2022-04-19 09:21] Slm0nB commented on #63064
Is this issue related to https://github.com/xamarin/xamarin-android/pull/6665 ?

[2022-04-19 09:37] lulu58 commented on #68013
Hi Tom,
I checked my ssh credentials again. If there were missing access rights, wouln't then also the writing and the second reading of the file fail?

[2022-04-19 09:44] vitek-karas commented on #68180
Thanks for reporting this @rseanhall!

The change in https://github.com/dotnet/runtime/pull/53763 caused the `DOTNET_ROOT` to act as the ultimate fallback. If `DOTNET_ROOT(x86)` is set it still takes precedence over `DOTNET_ROOT`. Also after that change `DOTNET_ROOT_X86` is the first one to be checked and if specified is used over anything else.

The x64 `dotnet test` only sets `DOTNET_ROOT`, but

[2022-04-19 10:19] mirespace opened #68212 "[Ubuntu 22.04] libSystem.IO.Compression.Native.so contains an unresolvable reference to symbol log2: it's probably a plugin"
Hi all,

I'm building dotNet6  (v6.0.104) for Ubuntu Jammy from source-build. Build environment is the following one:
[code]

It builds OK, but on cheking the building logs, I found the following warning:

[code]

The first quick idea that came to my mind was to link it against math gcc library, but exploring the creation of the library I saw it is an aggregate of Brotli:

[code]
When brotli is bu

[2022-04-19 10:30] WenJunJi01 commented on #64263
Verified with .NET 7 Preview 4 SDK: 7.0.100-preview.4.22218.29(runtime-7.0.0-preview.4.22217.5) today, detailed test results:
EN and DE language -> Not repro
SC language-> Repro

We will continue to track this issue. One more question, do I need to open a new bug to track the problem with .NET 7 Preview 4?

[2022-04-19 10:35] jakobbotsch commented on #68137
Fixed by #68161

[2022-04-19 10:35] #68137 closed

[2022-04-19 11:12] lpatalas commented on #67821
I took that machine offline and created https://github.com/dotnet/arcade/issues/9088 to follow up

[2022-04-19 11:30] alexavator commented on #66652
hi, is there something about this issue?

[2022-04-19 11:41] jakobbotsch opened #68214 "pin over SPMI has unexpectedly high variance"
Of 10 PIN runs of sequential SPMI over librares.pmi I got the following sorted instruction counts:
[code]
The largest number here is 0.6% higher than the lowest number.

As Andy pointed out there will be some variance simply due to various factors of randomization (e.g. ASLR), but I still think this is an unexpectedly high variance given that PIN uses instrumentation.

[2022-04-19 11:43] ViktorHofer commented on #66600
@tannergooding I don't think this should fall under the area-infrastructure-libraries umbrella but area-Meta. Will change the label now, please let me know if you disagree.

[2022-04-19 11:48] ViktorHofer commented on #22394
After https://github.com/dotnet/runtime/pull/64623 is merged we could ask @danmoseley if he can generate the dead report again.

[2022-04-19 12:06] trylek commented on #68197
I don't think so, tests under baseservices still run using the legacy XUnit wrappers.

[2022-04-19 12:08] ajcvickers commented on #68129
Looks like System.Data.SqlXml is part of [SQLXML](https://docs.microsoft.com/en-us/sql/relational-databases/sqlxml/what-s-new-in-sqlxml-4-0-sp1?view=sql-server-ver15) which is owned by the SQL Server org and as far as I know does not support .NET Core. I don't know if they have any plans to support .NET Core.

@scoriani Do you know anything here?

[2022-04-19 12:35] #68150 closed

[2022-04-19 12:47] stephentoub commented on #68191
Alternatively, might we consider moving IsNaN down? Presumably it could just return false for any type that lacks the concept.

[2022-04-19 12:51] MihaZupan commented on #68164
There's no real "risk".
`Properties` is not strongly-typed, whereas `Options` are. We belive `Options` is the better alternative you should switch to using.
If need be, that includes improving `Options` (e.g. #68149) to make it even easier to use.

Yes. The `IDictionary` you get from `Properties` **is** the `Options` object.
https://github.com/dotnet/runtime/blob/f1e10a53132cc648cea914e75f953ff5a5

[2022-04-19 13:14] TahirAhmadov commented on #68144
To clarify, I wasn't calling the ctor as a standard method on the newly zero-allocced instance of a delegate; instead, I was using that instance as is to pass it to parameter `getAction` in the OP in order to get a strongly-typed `Invoke` delegate back. All this was purely to ensure that I construct the virtual expression tree in a type-safe manner; I was not actually using the zero-allocced deleg

[2022-04-19 13:14] #68144 closed

[2022-04-19 13:38] rseanhall commented on #68180
The [test project](https://github.com/wixtoolset/wix4/blob/8ff62a7cd961ba54d20a93ba6c4cfe57b0bd0be1/src/test/burn/WixToolsetTest.BurnE2E/WixToolsetTest.BurnE2E.csproj) is 64-bit. The tests run both 32-bit and 64-bit versions of the custom host. The test project needs to be 64-bit so it can easily access 64-bit files and registry keys.

`dotnet test` doesn't always have access to the project, in ca

[2022-04-19 13:39] jakobbotsch commented on #68214
I've created a new pintool (well, modified the `inscount_vregs` example part of PIN) that only instruments clrjit. By default the example instruments all code, which includes the SPMI replay layer. The new counts are:
[code]
This is a variance of 0.005%, which seems much more reasonable.
I'll talk to some people internally to figure out if/how we can distribute this for jit devs.

cc @dotnet/jit-c

[2022-04-19 13:48] janvorli commented on #33384
I am not sure how this is related to Alpine. MUSL doesn't version symbols in shared libraries.

[2022-04-19 14:00] tannergooding commented on #68191
My existing plan, to bring to the next API review, is that we need to move a few key functions down that logically "make sense" for all number types which includes things like `MaxNumber`, `MaxNumberMagnitude`, and `IsNaN`.

If we had the ability to do something like the following, then this wouldn't matter and you could relegate concepts like `IsNaN` or `MaxNumber` only to "float"
[code]

However

[2022-04-19 14:11] #41084 closed

[2022-04-19 14:22] rseanhall commented on #68180
Can we tweak the fallback behavior so that DOTNET_ROOT is used last? Meaning that the order would be:

1. Architecture specific DOTNET_ROOT
2. System installed locations and everything else
3. DOTNET_ROOT

This would be a breaking change, but I think this is a better breaking change than the one that was done in .NET 6.

[2022-04-19 14:41] scoriani commented on #68129
There are currently no plans regarding SQLXML and support for .NET 5+, and we haven't heard many requests in this direction. I would recommend opening up a User Voice here to get some traction and consensus on the subject: https://aka.ms/sqlfeedback

[2022-04-19 14:45] jerryk414 commented on #68036
@davidfowl @quixoticaxis
I've added an initial PR for this to make the default behavior asynchronous, with an option for specifying the behavior to be sequential. It would still be a breaking change, but would add the ability to change the behavior back to the way it was.

There are no tests yet - I want to get input if this is the route you would prefer prior to spending time on that.

[2022-04-19 15:28] #65633 closed

[2022-04-19 15:36] meziantou commented on #68147
Once it is approved, and if I have time at that moment, I can contribute to this analyzer

[2022-04-19 15:38] ViktorHofer opened #68218 "Strings.resx is embedded twice into the assembly for projects that set EnableDefaultItems to true"
See title. That's because of the glob that includes all .resx files under the project tree when EnableDefaultItems is set to true and resources.targets then importing it again.

cc @eerhardt

[2022-04-19 15:38] cshung commented on #64263
@WenJunJi01, can you check the commit of the SC language build you used?
If it happened after the fix, we should reopen this issue and investigate.

[2022-04-19 15:43] vitek-karas commented on #68180
I understand that this order makes sense when thinking about child processes of `dotnet test` where currently `DOTNET_ROOT` is pretty much always set. But that's an exception to the rule - most of the time `DOTNET_ROOT` is not set, and if it is, it's an explicit action.
Also generally we don't ask people to use the architecture specific variables unless necessary - mostly it's not needed - since i

[2022-04-19 15:48] mikelle-rogers commented on #62525
@josalem I am currently working on it. Who would you suggest I include in the discussion to decide what the value should be?

[2022-04-19 15:50] BillSeurer commented on #67428
Do the other architectures match the linux reported architecture names?  In any case ppc64le should work fine.

[2022-04-19 15:52] AaronRobinsonMSFT commented on #66154
@lateralusX Yes, there is going to be substantial changes to mitigate these. I tried going down this path but got a bit overwhelmed and took a step back to work on other tasks. I am not sure of the preferred strategy for Mono to mitigate these to be honest. There are so many and as someone who primarily works in CoreCLR I'm likely not the correct person to make a call on how to proceed.

I am more

[2022-04-19 15:54] tarekgh commented on #68200
Any more actions needed on this issue? I think we can close it now.

[2022-04-19 15:55] BillSeurer commented on #67428
For what it is worth I checked on my mac and the architecture there is reported as "i386" and on my old Linux thinkpad it is reported as "x86_64" neither of which seem to match the X86 in the enum list.

[2022-04-19 15:57] adamsitnik opened #68222 "[NativeAOT] Benchmarks using Vector<T> seems to be slow"
While working on the .NET 7 vs .NET 7 NativeAOT micro benchmarks perf study, I've stumbled upon multiple micro benchmarks being 10x slower with NativeAOT on x64, despite having all available Instruction Sets enabled (it applies to arm64 as well, but I had no chance to verify it with Instruction Sets enabled yet).

Most of them are using `Vector<T>`. `Vector.IsHardwareAccelerated` returns `true`.

[2022-04-19 15:59] AaronRobinsonMSFT commented on #66154
@lateralusX That is a fine solution. I agree using this task feasible. I, along with @elinor-fung and likely @am11, would be willing to help with tasks if they could be clearly defined - perhaps down to compilation unit?

[2022-04-19 16:02] lateralusX commented on #66154
I can probably work through component libraries first to get a feeling as well as the total amount of outstanding issues. Once that is done, we could divide on compile unit or sub area, like utils/metadata/mini (different folders), but they will probably need to come in dependency order, since fixing in one might also fix in others (due to shared headers).

[2022-04-19 16:07] #68187 closed

[2022-04-19 16:07] BrennanConroy opened #68223 "[API Proposal]: Add ReadOnlySequence overload for WriteRawValue"
### Background and motivation

When using the `Utf8JsonWriter.WriteRawValue` API, you can't pass multiple segments in to write a single value, you have to allocate a contiguous array and do a single call to `WriteRawValue`. In our use case we already have a `ReadOnlySequence<byte>` and want to write it as a raw json value.

But because the API only accepts string or span, we need to write the foll

[2022-04-19 16:13] layomia commented on #67740
That's what setting `JsonSerializerOptions.DefaultIgnoreCondition` to `JsonIgnoreCondition.WhenWritingDefault` does.

Exactly right. We consider this invalid configuration.

I believe the confusion here is that some folks interpret `DefaultIgnoreCondition` to mean "when should property default values be ignored?" rather than what we intend, "the property ignore condition as applied to default valu

[2022-04-19 16:13] #67740 closed

[2022-04-19 16:14] BrennanConroy commented on #68223
Haha, I was too focused on filling out the API template!

[2022-04-19 16:16] GrabYourPitchforks commented on #59319
Spoke with some folks offline - we still think the current behavior (warning when you access the property) is sufficient for the above-stated reasons.

[2022-04-19 16:17] DDolG commented on #46399
Hello. Can you please tell me if this question is open or closed?

[2022-04-19 16:33] StefanKoell opened #68225 "Unmanaged crashes (heap corruption) on Windows 11"
### Description

I have a commercial application (WinForms on .NET 6) which seems to crash on the user's machine. The app just disappears. In the event log the following can be found:
[code]
In WinDBG analyzing a mini dump submitted by an affected user I always see "A heap has been corrupted" (see below):
[code]

### Reproduction Steps

It seems that only a hand full of users are affected (out of

[2022-04-19 16:39] karelz commented on #67952
Triage: There is value in having information that IPv6 was used as it sometimes causes different problems that straight IPv4.
We are ok considering it as part of the new TCP API, though we might not want it as part of `ToString` even there.

[2022-04-19 16:39] #67952 closed

[2022-04-19 16:41] karelz commented on #67946
Triage: We need to backport main fixes due to Helix changes -- @rzikm can you please cherry pick the necessary changes?

[2022-04-19 16:44] karelz commented on #68037
Triage: We should not crash, so we should investigate.
Might be good to know the frequency and if it is due to OpenSSL shutdown.

[2022-04-19 16:45] vitek-karas commented on #68180
Vast majority of .NET programs are executed without `DOTNET_ROOT` set at all - so those are not affected.

By far the most common usage for `DOTNET_ROOT` is CI systems or local private installs for isolation purposes which all want to force usage of a specific .NET runtime/SDK. In those cases it's always a single architecture (and also almost always single version). In these scenarios it's actuall

[2022-04-19 16:55] karelz commented on #67076
Triage: Looks like mainly/only JitStress - @rzikm to confirm.
Moving to Future. Similar to #53404.

[2022-04-19 16:57] karelz commented on #67509
How often does it fail in PRs?

[2022-04-19 17:08] rseanhall commented on #68180
@agocke @vitek-karas Please make sure https://github.com/microsoft/vstest/issues/3586 gets prioritized correctly.

[2022-04-19 17:08] #68180 closed

[2022-04-19 17:08] agocke commented on #68180
I agree with this -- the design intent is that DOTNET_ROOT is meant to be an override for the framework location. It seems complicated and confusing for, say, macOS ARM64 users to have to use `DOTNET_ROOT_ARM64` instead of `DOTNET_ROOT` to override the framework location, just because their default OS happens to be x64.

This does, however, make things more complicated for users who want to start

[2022-04-19 17:13] hoyosjs commented on #33384
Wrong link, meant to be glibc based Linux

[2022-04-19 17:15] #66623 closed

[2022-04-19 17:18] jkotas commented on #68225
Could you please also dump and share the stacktrace of the crash (`k` command in windbg)?

You can try to enable pageheap for the application .exe (https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/gflags-and-pageheap) and try to reproduce the crash. Pageheap makes crashes caused by heap corruptions much more likely to repro.

[2022-04-19 17:26] mendozagit commented on #68129
Thanks for your feedbacks, I have been created a new suggest on  https://aka.ms/sqlfeedback, so I think only wait for.

[2022-04-19 17:37] wfurt commented on #67683
should be disabled by  #68083. https://github.com/dotnet/runtime/issues/67682 tracks disabled test.

[2022-04-19 17:37] #67683 closed

[2022-04-19 17:37] danmoseley commented on #68129
I'll close then. Thanks for the issue.

[2022-04-19 17:37] #68129 closed

[2022-04-19 17:39] wfurt commented on #67686
fixed by #67935.

[2022-04-19 17:39] #67686 closed

[2022-04-19 17:44] tannergooding commented on #67993
There is a similar failure in https://github.com/dotnet/runtime/pull/68217 for Min/MaxNumber functions

[2022-04-19 17:46] xbIm commented on #63240
Any updates on this issue? The problem still exists in SDK 6.0.202 on mac arm64 version

[2022-04-19 17:47] teo-tsirpanis opened #68227 "[API Proposal]: `IBinaryInteger<TSelf>.ReverseEndianess`."
### Background and motivation

Since the generic math interface `IBinaryInteger<TSelf>` already has the concept of endianess through the `(Try)WriteLittleEndian` methods, perhaps it would be valuable to expose a method that would reverse the number's endianess.

### API Proposal

[code]

### API Usage

The generic `ReverseEndianess` could be used to write this:

[code]

Which could be used to writ

[2022-04-19 17:50] agocke commented on #68180
@rseanhall Reading through, it sounds like my characterization is incorrect:

It sounds like that's not true. If `dotnet test` is running as an x64 process, and running an x64 test, it will be up to you to remove the `DOTNET_ROOT` variable if you start an x86 process. Vitek's proposed solution would only matter if the test host were 32-bit, not 64-bit.

[2022-04-19 17:55] rseanhall commented on #68180
Vitek's proposed solution is for `dotnet test` to only set the architecture specific `DOTNET_ROOT`, which would fix my issue.

[2022-04-19 18:02] agocke commented on #68180
Ah, I missed that, thanks.

[2022-04-19 18:15] Clockwork-Muse commented on #68227
As a point of personal preference, I vastly prefer being explicit about the endianness of my source and destination values; in that sense I find `ReverseEndianess` to be suspect, because reversing endianness isn't a useful thing to do (as opposed to converting to a specific one - so something like `ToLittleEndian`).  Semantics, I know.

[2022-04-19 18:18] #68170 closed

[2022-04-19 18:19] #65606 closed

[2022-04-19 18:23] #68200 closed

[2022-04-19 18:30] denisenko93 commented on #68123
I checked the possibility of making changes to the TextWriter class. I have a question. Why was the Write(char[] buffer!!, int index, int count) overload chosen to be the default (the method that all other overloads call)? I suggest the Write(ReadOnlySpan<char> buffer) overload be chosen as the base one. This will allow you to write stackalloc buffers without unnecessary overhead
[code]
It also al

[2022-04-19 18:32] #68194 closed

[2022-04-19 18:41] AndyAyersMS commented on #67982
Tried coming up with a case where we'd have a `GT_BOX` in a comma but couldn't find one. The importer doesn't create that many commas, and the ones it creates are for stylized patterns. Not saying it can never happen.

A more likely possibility is that we run into one of these during late devirtualization, after more phases have run.

[2022-04-19 18:45] quixoticaxis commented on #68036
For our product it would be easy to switch back to, looks great.

[2022-04-19 18:54] terrajobst commented on #63686
* `CanSerialize` should be named `ShouldSerialize`
* We should design the combinators patter more; this would validate that the shape of the types is correct; also, this feature might be mainstream enough that we want to ship a way to combine them along with a set of best practices in V1 of this feature.
* We should consider removing the generic set/get as it's a pit of failure when structs are in

[2022-04-19 18:59] jtleaming opened #68228 "PushRange empty Array throws exception"
### Description

When using `PushRange(T[] Items)`, if the array is empty an exception is thrown.

However, the logic in `PushRange(T[] items, int startIndex, int count)` suggests an empty array should return from the function with no adverse effects.

### Reproduction Steps

[code]

### Expected behavior

I would expect no exception to be thrown, and the function to just return, as shown in the e

[2022-04-19 19:46] StefanKoell commented on #68225
Hi Jan!

Here's what I get when I dump the stack trace:
[code]

I will also try to repro the issue on my side with Pageheap. Although I'm wondering what can I do when I'm able to repro the issue on my side?

[2022-04-19 20:06] cshung commented on #68060
This comment describes some findings on the issue:

The issue is somewhat obvious when we look into the test case [here](https://github.com/dotnet/runtime/blob/4881a639e7c3f27b5a8d2d160e234d8055333cda/src/tests/JIT/Methodical/Arrays/misc/arrres.cs).

The finalizer of the `Test` object keeps putting itself back into the finalization queue, that is why the `WaitForPendingFinalizers` never completes.

[2022-04-19 20:07] carlossanlop opened #68230 "Tar APIs pending feedback to address"
Initial PR changes were introduced here: https://github.com/dotnet/runtime/pull/67883

The following is pending feedback I need to address (not urgent, for 8.0, mostly just additional testing coverage):

Perf improvements:
- [x] Address stackalloc and stream-related suggestions by @stephentoub .
- [x] Improve code that retrieves the extended attributes from the data section. Use IndexOf and relate

[2022-04-19 20:15] maryamariyan commented on #46064
closing as per comment in https://github.com/dotnet/runtime/issues/46064#issuecomment-1092700983

[2022-04-19 20:15] #46064 closed

[2022-04-19 20:35] steveharter commented on #68026
Without referencing specs, I would say this is sort of an implementation detail due to usage of `MetadataToken` being used to obtain the original method, which perhaps could be considered either an open or closed generic depending on the implementation.

If the raw `MethodInfo` that is passed in is used instead of looking up the `MethodInfo` from the token then the results are the same.

Also was

[2022-04-19 20:38] Danyy427 commented on #66600
@danmoseley Did I just accidentally open a PR request on this repo? or is this pull request on my own repo?

[2022-04-19 20:40] danmoseley commented on #66600
Your PR is against this repo -- see dotnet/runtime in the URL: https://github.com/dotnet/runtime/pull/68231

[2022-04-19 20:51] JakeYallop commented on #61379
I'm running into this issue as well.

To allow users to provide their own documentation, would this not require (at least) something like [partial properties](https://github.com/dotnet/csharplang/discussions/3412) in order to work, or a fundamental re-design of the generator? At the moment, the way that code takes advantage of the library is via source-generated public properties.

Of the 2 option

[2022-04-19 20:58] #67545 closed

[2022-04-19 21:11] #28795 closed

[2022-04-19 21:12] jkotas commented on #68225
This looks like a Windows bug, not much to do with .NET runtime.

https://blogs.windows.com/windows-insider/2022/03/02/announcing-windows-11-insider-preview-build-22567/ talks about crash fixed in `UiaDisconnectProvider` API. It is likely that it is the cause of the crash you are seeing.

I would recommend waiting for the Windows fix to be released and/or reporting this crash via Windows Feedback

[2022-04-19 21:12] #68225 closed

[2022-04-19 21:15] jkotas commented on #68225
@filipnavara I see that you have recently published a UiaDisconnectProvider Windows 11 crashes gist: https://gist.github.com/filipnavara/56c8cc6a0c122d6b4ceab6aa01fb7948

Anything you can share about it? Does it look like the same problem?

[2022-04-19 21:16] maryamariyan commented on #67093
Closing as is, please reopen if you were able to provide a minimal repro.

[2022-04-19 21:16] #67093 closed

[2022-04-19 21:28] kevinwedwards commented on #62136
I can verify that 6.0.4 fixed this issue... if verification is desired.

[2022-04-19 21:43] wfurt commented on #62136
Thanks for confirming. It is always good to know.

[2022-04-19 21:59] teo-tsirpanis commented on #68227
`ReverseEndianess` can be used to implement `ToLittleEndian` and `ToBigEndian`, and has the advantage of being the only platform-ignorant of the three.

[2022-04-19 22:24] danroth27 commented on #45471
No, experimental means there isn't a committed roadmap for this functionality. See https://github.com/dotnet/runtimelab/blob/feature/NativeAOT-LLVM/docs/using-nativeaot/compiling.md#webassembly or additional details.

From what I understand there is still a limitation in browsers that prevents the runtime generation and loading of WebAssembly modules in a manner suitable for JIT compilation.

[2022-04-19 22:45] janvorli commented on #56633
@josalem let me give it a try and see.

[2022-04-19 22:50] GrabYourPitchforks commented on #65577
Updated proposal with early API feedback, marking ready for review.

[2022-04-19 22:56] mpsbauer opened #68238 "Inconsistency in root .editorconfig with published coding style."
### Description

In the [coding style](https://github.com/dotnet/runtime/blob/main/docs/coding-guidelines/coding-style.md) on guideline 10 it states that

"We only use `var` when the type is explicitly named on the right-hand side..."

Later on it mentions

"An EditorConfig file (.editorconfig) has been provided at the root of the runtime repository, enabling C# auto-formatting conforming to the a

[2022-04-19 23:04] mpsbauer commented on #68238
I can not add a label but maybe @danmoseley can, I believe this would fall under area-Meta. @dotnot/area-meta

[2022-04-19 23:18] gamingrobot opened #68240 "Assembly.GetTypes fails on System.DirectoryServices assembly"
### Description

When calling `Assembly.GetTypes` on the assembly `System.DirectoryServices` a `ReflectionTypeLoadException` is thrown.

[code]

### Reproduction Steps

1. Create new console app using .NET 7.0.0 Preview 3
2. Add System.DirectoryServices package `<PackageReference Include="System.DirectoryServices" Version="7.0.0-preview.3.22175.4" />`
3. Add the code below to Program.cs
4. Run

[c

[2022-04-19 23:18] buyaa-n commented on #930
still reproduceable with the attached project on .NET 6/7

[2022-04-19 23:23] stephentoub commented on #68238
Our guidelines are that we _allow_ var to be used when the type is mentioned on the right-hand side. We don't _prefer_ or _require that, however. It guideline is really and when var should never be used, not where it should be used.

[2022-04-19 23:56] mpsbauer commented on #68238
Fair enough, feels like a subtle difference. My problem might be more with ReSharper then. It's default code clean up mechanism does not seem to appreciate the subtlety, and will either replace `var` with the type or vice-versa, not simply allow either. Thanks for the quick follow up.

[2022-04-20 00:01] #40029 closed

[2022-04-20 00:08] AraHaan commented on #67487
What I can think of so far:

Pros:
- Projects can use the types and members from the Extensions assemblies without needing the packages.
- Projects can get less files copied to their outputs when FDD.
- Projects that normally do not maintain nuget dependencies would get free servicing updates when either Visual Studio or Windows Update patches their runtime major version (security and bug fixes th

[2022-04-20 00:15] performanceautofiler[bot] opened #68338 "Regressions in System.Buffers.Binary.Tests.BinaryReadAndWriteTests"
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.18362
Baseline | [5c57f2c0cda44176e237574ceb51d659ef9915fa](https://github.com/dotnet/runtime/commit/5c57f2c0cda44176e237574ceb51d659ef9915fa)
Compare | [f216e77788933d4d6906f7f91d09375719f4e6b2](https://github.com/dotnet/runtime/commit/f216e77788933d4d6906f7f91d09375719f4e6b2)
Diff | [Diff](https://github.com/dotnet/runtime/compare

[2022-04-20 00:41] jkotas commented on #67487
It is not true if your project depends on netcoreapp shared framework only and does not use any of these packages. We do publish packages with netcoreapp shared framework only (https://dotnet.microsoft.com/en-us/download/dotnet/6.0).

[2022-04-20 00:47] buyaa-n opened #68243 "Analyzer: Detect the problem of using a System.Type overload instead of the generic overload"
Related to https://github.com/dotnet/runtime/issues/67444#issuecomment-1087074340

Passing a `System.Type` as a parameter is not AOT friendly, when APIs offers overloads with runtime `Type` parameter and generic type parameter, the former should only used when the type is not known at compile time. But it happens that people use the runtime `Type` overload using `typeof` operator when the type is

[2022-04-20 01:16] danmoseley commented on #68238
Feel free to offer a PR to clarify the wording.

[2022-04-20 01:16] #68238 closed

[2022-04-20 01:27] danmoseley commented on #68228
I agree, this is clearly unintentional given the comment
[code]
and it's also more useful to save the caller having to check for zero.

Thanks for pointing it out. Do you want to offer a PR, with a small test?

[2022-04-20 01:33] danmoseley commented on #68240
@elinor-fung it indeed looks like this was introduced by your change, as noted above. Curious though, why does this not give an error when the type is loaded at runtime? Perhaps our tests simply don't use LSA_FOREST_TRUST_RECORD so it never loads? This makes me wonder whether we almost should have a test that simply loads all types in the shared framework.

[2022-04-20 01:34] stephentoub commented on #68228
This is a duplicate of https://github.com/dotnet/runtime/issues/62121, which was fixed by https://github.com/dotnet/runtime/pull/62126.

[2022-04-20 01:34] #68228 closed

[2022-04-20 01:48] danmoseley opened #68245 "COMPlus_EnableSSE3=0 does not set Ssse3.IsSupported to false"
I set this variable, then ran a build to see what happens.
[code]

[code]
yet this path is protected behind
[code]

[2022-04-20 01:54] VincentBu opened #68246 "Test failure System.Diagnostics.Tests.ProcessStartInfoTests.StartInfo_NotepadWithContent_withArgumentList(useShellExecute: True)"
Frequency:
Day | Run | Notes
-- | -- | --
**4/1-7/22**
7/18 | Official run
7/17 | Official run
7/16 | Official run
7/14 | Official run
7/12 | Official run
6/7 | Official run
5/18 | Official run
5/8 | Official run | 2 failures
4/24 | Official run
4/19 | Official run
4/18 | Official run
4/17 | Official run
4/16 | Official run

[code]

Run: [runtime-libraries-coreclr outerloop 20220419.5](https://dev

[2022-04-20 01:55] saucecontrol commented on #68227
I would find this useful.  Consider writing a parser for a document that can be either endian.  Rather than explicitly matching platform endianness with document endianness on every read, or forking into separate readers for each endianness, you could simply check once "does document endianness match platform?" and save a flag.  Then every read is endian-agnostic and followed by a conditional `Rev

[2022-04-20 02:04] VincentBu commented on #67411
Failed again in: [runtime-coreclr libraries-jitstress 20220419.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1725565&view=ms.vss-test-web.build-test-results-tab&runId=46798268&paneView=debug&resultId=175047)

Failed test:
[code]
**Error message:**
[code]

[2022-04-20 02:10] MichalStrehovsky commented on #68243
We run a dataflow analysis in the compiler for the purposes of reflection so `Marshal.SizeOf(typeof(SampleType))` is not a huge problem (we handle this API as an intrinsic and special case in the AOT compiler). The only problem is if someone does `int SizeOfWrapper<T>() => Marshal.SizeOf(typeof(T))` - we don't run dataflow analysis on instantiated methods and this case would currently be missed (c

[2022-04-20 02:47] elinor-fung opened #68248 "[API Proposal]: Move APIs for generated marshalling to different namespace - System.Runtime.Marshalling"
### Background and motivation

For .NET 7, we added various APIs used for p/invoke source generation:
- https://github.com/dotnet/runtime/issues/46822.
- https://github.com/dotnet/runtime/issues/46838
- https://github.com/dotnet/runtime/issues/66121
- https://github.com/dotnet/runtime/issues/66623

These were all added to the `System.Runtime.InteropServices` namespace. We are proposing moving them

[2022-04-20 02:50] elinor-fung commented on #68248
@AaronRobinsonMSFT @jkoritzinsky I know when we talked before, I was into moving everything - including `LibraryImportAttribute`, but I'm actually not sure I like that now. As the triggering attribute, it is not directly for marshalling, so I'm not sure it really fits with the rest.

[2022-04-20 02:52] AaronRobinsonMSFT commented on #68248
@elinor-fung Agreed on all accounts. I voiced a similar concern to @jkoritzinsky previously. I think we should have a conversation with the API review team and see what some of the API experts think of the concerns.

[2022-04-20 03:10] elinor-fung commented on #68240
That does seem reasonable. I'm pretty sad that nothing caught this.

[2022-04-20 03:32] stephentoub commented on #66342
This is no longer an issue.
<img width="416" alt="image" src="https://user-images.githubusercontent.com/2642209/164144925-f608a78e-3f2a-46e5-a195-10b45e3c336c.png">

[2022-04-20 03:34] #66342 closed

[2022-04-20 03:35] xinsiyu2008 commented on #66384
@lewing I update the link.Thanks!

[2022-04-20 03:38] stephentoub commented on #66768
The regression is gone.
<img width="391" alt="image" src="https://user-images.githubusercontent.com/2642209/164145398-d5231ec6-38c7-4c16-8c6d-d7284e5c7568.png">

[2022-04-20 03:38] #66768 closed

[2022-04-20 03:40] stephentoub commented on #67912
The regression is gone:
<img width="255" alt="image" src="https://user-images.githubusercontent.com/2642209/164145666-9a05a405-e32b-4884-9214-e3707ea97116.png">
<img width="126" alt="image" src="https://user-images.githubusercontent.com/2642209/164145745-2ea70071-d330-4214-961f-46b20a5dbecc.png">

[2022-04-20 03:40] #67912 closed

[2022-04-20 03:42] stephentoub commented on #65607
@olsaarik, this is fixed by https://github.com/dotnet/runtime/pull/68199 and can be closed, yes?

[2022-04-20 03:47] stephentoub commented on #65532
I was hoping this may have been addressed by #68199, but alas, it was not:
<img width="651" alt="image" src="https://user-images.githubusercontent.com/2642209/164146474-93fcc541-0a8d-4b0d-a995-de663679f443.png">

[2022-04-20 04:02] danmoseley commented on #68240
It's possible it broke the manual tests, if you didn't get a chance to run those. But coverage of DS is generally not great.

[2022-04-20 04:09] elinor-fung commented on #68240
Definitely did not run those (did not know they existed). Could you point me at them?

[2022-04-20 05:17] filipnavara commented on #68225
Yep, same problem. Fixed in Windows Insider builds.

[2022-04-20 05:57] StefanKoell commented on #68225
Thanks for looking into it. Hopefully this fix will soon be released to the public.

[2022-04-20 06:01] deeprobin commented on #67966
If it's just this constant and no JIT or VM changes are needed, feel free to assign me.

[2022-04-20 06:03] jkotas commented on #68245
I assume that you are using .NET 6 SDK for the build and the crash happens during the build, not while running the tests.

It is a known issue in .NET 6: https://github.com/dotnet/runtime/issues/60035 . Fixed for .NET 7.

[2022-04-20 06:05] filipnavara commented on #68225
cc @bitcrazed .. is there any more information about the `UiaDisconnectProvider` fix for stable Windows 11 builds?

[2022-04-20 06:25] adamsitnik commented on #67559
Fixed by #67628

[2022-04-20 06:25] #67559 closed

[2022-04-20 06:32] adamsitnik commented on #68139
@eerhardt I've allowed myself to assign you as you are going to solve this issue by solving https://github.com/dotnet/runtime/issues/16598

[2022-04-20 06:36] ViktorHofer commented on #66571
Happened again in https://dev.azure.com/dnceng/public/_build/results?buildId=1726335&view=ms.vss-test-web.build-test-results-tab&runId=46812918&resultId=146155&paneView=debug. I converted this issue to a live tracking one.

@AaronRobinsonMSFT @jkoritzinsky @jeffschwMSFT can you please take a look?

[2022-04-20 06:40] ViktorHofer opened #68254 "Methodical_do, Methodical_others, Methodical_ro work items failing in CI"
Build: https://dev.azure.com/dnceng/public/_build/results?buildId=1726335&view=ms.vss-test-web.build-test-results-tab&runId=46813564&resultId=102141&paneView=debug

Configuration: `mono windows x64 Release @ Windows.10.Amd64.Open`

Console log from Methodical_do:

[code]

[2022-04-20 07:33] jakobbotsch commented on #68254
Duplicate of #68187? This is the same test failing that should be excluded on Mono. However it was supposed to be fixed by #68215.

[2022-04-20 07:41] rzikm commented on #67076
Pipelines: `runtime-coreclr libraries-jitstress` and `runtime-coreclr libraries-jitstressregs`, Five occurences in last 14 days

[2022-04-20 07:52] rzikm commented on #67509
14 failures in the last month across 7 PRs

[2022-04-20 07:55] ViktorHofer commented on #68254
Likely yes. Let me close this one then. It seems the tests ran before that PR was merged into main.

[2022-04-20 07:55] #68254 closed

[2022-04-20 07:58] janvorli commented on #56633
@josalem I cannot repro the issue anymore. I am closing the issue.

[2022-04-20 07:58] #56633 closed

[2022-04-20 08:23] #63463 closed

[2022-04-20 08:27] CptAsgard opened #68255 "NetworkChange.NetworkAddressChanged Event does not fire on tunnel interface change on OSX"
### Description

I want to use [NetworkChange.NetworkAddressChanged](https://docs.microsoft.com/en-us/dotnet/api/system.net.networkinformation.networkchange.networkaddresschanged?view=net-6.0) to detect when a VPN has been enabled or disabled. _ifconfig_ shows that a new tunnel interface is created when the VPN is turned on. However this does not result in the NetworkChange.NetworkAddressChanged b

[2022-04-20 08:27] agocke commented on #67821
Dup against https://github.com/dotnet/arcade/issues/9088

[2022-04-20 08:27] #67821 closed

[2022-04-20 08:32] agocke commented on #68079
This sounds like it's probably https://github.com/npgsql/npgsql/issues/4057. That fix was targeted at 6.0 for npgsql, so I'll assume that the intended fix is to upgrade to that version, and that seems to work.

[2022-04-20 08:32] #68079 closed

[2022-04-20 08:35] #67474 closed

[2022-04-20 08:46] SupinePandora43 opened #68256 "UTF8 pointer + nuint overloads"
### Background and motivation

As said in #67649, `Encoding` can't be edited for sake of compatibility, but Utf8 is a static class! So it can.

### API Proposal

[code]

### API Usage

(string conversion)

### Alternative Designs

#67649 (edit `Encoding`)

### Risks

No such

[2022-04-20 08:48] SupinePandora43 commented on #68256
@dotnet/area-system-text-encoding

[2022-04-20 08:49] karelz commented on #68070
@vamshimupparaju please do not spam directly contributors and team members. Especially not on all channels -- I got email from you, Twitter DM, 2 issues on my web site GH project and runtime issue here -- please do not tag specific people in future anywhere and use only 1 (appropriate) channel - runtime repo. Do not go around to chase down people, it is not appropriate.

As I mentioned in Twitter

[2022-04-20 08:53] SupinePandora43 commented on #68256
@GrabYourPitchforks no breaking changes here

[2022-04-20 08:53] huoyaoyuan commented on #68256
Generally, pointer is risky for buffer overflow comparing to span. Using a single pointer to represent destination is a well known security threat.

[2022-04-20 08:56] SupinePandora43 commented on #68256
Forgot to add `nuint length` arguments 😅 would be interesting to know how it would work without it.

[2022-04-20 08:58] yedf2 commented on #715
Here is a commonly used distributed transaction framework which also support dotnet.
Transaction coordinator: https://github.com/dtm-labs/dtm
Dotnet SDK: https://github.com/dtm-labs/dtmcli-csharp
A blog about how to design a distributed transaction: https://www.c-sharpcorner.com/article/distributed-transaction-in-c-sharp-microservices-using-saga-pattern/

[2022-04-20 08:58] huoyaoyuan commented on #68256
Well, `Span` should really be using `nint` instead of `int` in the first place. This is another pain with using `int`.

[2022-04-20 08:59] SupinePandora43 commented on #68256
*`nuint`* but yeah. it's true

[2022-04-20 09:12] adamsitnik opened #68257 "How to build a project using locally built ILCompiler?"
With CoreRT, it was possible to build an app using ILCompiler that was built locally: https://github.com/dotnet/corert/blob/7f902d4d8b1c3280e60f5e06c71951a60da173fb/Documentation/how-to-build-and-run-ilcompiler-in-console-shell-prompt.md#compiling-source-to-native-code-using-the-ilcompiler-you-built

BenchmarkDotNet supported that, but I've not used it for a long time. Today I wanted to give it a

[2022-04-20 09:42] FiniteReality commented on #68256
I disagree. A signed integer is often better because it makes the error case which is always hiding there obvious, even if you *do* have to include more parameter checks.

[2022-04-20 09:44] TDroogers opened #68264 "System.Text.Json doesn't serialize tuples correctly"
### Describe the bug

System.Text.Json serializes tuples as `{}`

### Expected Behavior

Tuples being serialized and deserialized correctly

### Steps To Reproduce

[code]

EDIT (@krwq): simplified repro to just essentials

[2022-04-20 09:55] soroshsabz commented on #68021
@tarekgh Sorry for delay,

For example in one of my projects, I have a gauge that represents `concurrent calls` (my project in Telephony domain), in this area negative value meaningless totally. but our developer's cannot model this in our code, because we have to write `ObservableGauge<int>`

@reyang I do not have active scenario for `ulong` in my real projects, (I have many examples for `uint`),

[2022-04-20 10:01] SupinePandora43 commented on #68256
What do you mean?

[2022-04-20 10:12] WenJunJi01 commented on #64263
@cshung Yesterday we installed the .NET 7 Preview 4 SDK from https://github.com/dotnet/installer on a machine with SC language(image: Windows-11-Enterprise-21H2-ZH-CN) and it can repro.
![image](https://user-images.githubusercontent.com/87680983/164202299-f1007fa3-72f0-4789-937a-34dbf52ce2ad.png)

But today I installed the latest version of perfview on a clean win11-SC machine to verify again, thi

[2022-04-20 10:12] FiniteReality commented on #68256
As an example, let's look at this code which reads N bytes from a stream:
[code]
If you're using unsigned integers to store the number of bytes to read, you're hiding overflows in `bytesToRead -= bytesRead` and `count - bytesToRead` which may mean this loop may end up running forever. With signed integers, bytesToRead will simply go negative and will always end. This is the case even with large in

[2022-04-20 10:16] rzikm commented on #68037
So far, this is the only segfault on main that I see in the DB, it does not seem as if the OpenSSL was shutting down (`g_err_unloaded` was 0).

However, I notice there is `Interop+OpenSsl.NewSessionCallback` in the `dumpstack` output
[code]

That would explain how we got to a `GCHandle` code on top of callstack, after digging around a bit, I found the relevant `SSL` instance, output in LLDB shows

[2022-04-20 10:27] hessonsu commented on #67391
so, what to do?

[2022-04-20 10:36] mxschmitt opened #68259 "System.Diagnostics.Process with CreateNoWindow does not redirect stdout/stderr to parent process"
### Description

When using `System.Diagnostics.Process` with `CreateNoWindow = true` the output does not get redirected to the parent process. It will end up in no output.

The [docs](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.processstartinfo.createnowindow?view=net-6.0) don't say anything about this behaviour, thats why I'm opening this issue and `CreateNoWindow` changes the

[2022-04-20 10:45] hez2010 commented on #68257
I would recommend to generate a rsp file and pass it directly to ilc.

[2022-04-20 10:56] noahfalk commented on #47239
I was chatting with @adamsitnik about some possible optimizations for MemoryCache:

- DateTimeOffset.UtcNow called in the Add and Lookup paths can be expensive and it gives precision the cache expiration logic probably doesn't need. A different implementation of ISystemClock based on Environment.TickCount would probably be accurate enough and much faster.

- There are a number of fields in the Mem

[2022-04-20 10:57] japj commented on #62522
Is this related to the (generation of the) .deps.json file?
Having good (and official) documentation on this difference in behavior would be greatly appreciated.
It helps also in explaining this (difference) to colleagues.

[2022-04-20 11:05] vitek-karas commented on #62522
We have I think reasonably well documented the new behavior - [Overview](https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/overview) and specifically the [Default probing](https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/default-probing).

We don't have a "differences between .NET Framework and .NET 5+" document I'm aware of unfortunately...

[2022-04-20 11:10] stephentoub commented on #47239
@noahfalk, have you looked at https://github.com/dotnet/runtime/pull/59110?

[2022-04-20 11:11] SupinePandora43 commented on #68256
It just meets use of this codestyle with a cost of 1 bit being used for **sign** instead.
[code]
`byte[]` doesn't accept nint/nuint making it literally useless

[2022-04-20 11:17] gfoidl commented on #68256
`nint`/`nuint` can be used as indexer for `T[]`, or what did you mean?

[2022-04-20 11:25] noahfalk commented on #47239
I wasn't aware of it, I only knew of this one because Adam pointed me here : ) Now I am taking a look...

[2022-04-20 11:33] noahfalk commented on #47239
#59110 looks like it does the first 2 of the 5 size optimizations, nice : )

[2022-04-20 11:43] karelz commented on #68037
Thanks @rzikm for the investigation!
Given the info above, I recommend to close the issue as it is one-time problem only which could have been caused by anything (incl. HW error).

@rzikm can you please store the dump with symbols locally. If it happens again in future, we might want to compare similarities between the dumps to help us track down the root cause.

[2022-04-20 11:43] #68037 closed

[2022-04-20 11:46] tannergooding commented on #67966
This is likely going to be done by the compiler team around the same time they are ready to consume the feature.

We tend to not want to check these changes in early on the off chance the language feature isn't able to make the same release

[2022-04-20 12:05] tannergooding commented on #68256
As for the proposed API. An API dealing with a two allocations more than 2GB in size isn't going to work or behave as well as you might think.

It's definitely convenient to have a single call, but the actual perf here is going to likely be much worse than you're expecting and it wouldn't be how you'd want to handle this in practice.

It would be helpful if you could provide more context as to wha

[2022-04-20 12:17] kzhui125 opened #68261 "C++ cli reference .net 5/6 which reference .net standard2+ not working on Windows"
### Description

C++ cli reference .net 5/6 dll1, and dll1  reference .net standard2+ dll2.
This case doesn't work now.

So I can't use many packages like Grpc.AspNetCore(which use Grpc.Core.Api and is .netstandard)

[2022-04-20 12:19] MattR-entrust opened #71009 "ECDiffieHellmanCng derivekey methods fail if the private key isn't a MicrosoftSoftwareKeyStorageProvider key"
In the latest dotnet, the `ECDiffieHellmanCng` `DeriveKeyFromHash` and `DeriveKeyMaterial` methods will fail if the ECDH key isn't a `MicrosoftSoftwareKeyStorageProvider` key. This is because these methods take the public key from any KSP provider and convert them to a `MicrosoftSoftwareKeyStorageProvider` public key before sending them to the native dll from the provider of the private key. This

[2022-04-20 12:32] tannergooding commented on #68245
Should we consider backporting #60035 to .NET 6 since it's LTS?

[2022-04-20 12:50] amis92 opened #68262 "BinaryData.Empty.ToString throws ArgumentNullException"
### Description

Using package `System.Memory.Data` v6+, `System.BinaryData.ToString()` called on an instance with zero-length data (`BinaryData.FromStream(Stream.Null)`, `BinaryData.FromString(string.Empty)`, `BinaryData.FromBytes(Array.Empty<byte>())` etc.) throws `System.ArgumentNullException`.

### Reproduction Steps

[code]

### Expected behavior

Method should return empty string, as it did/

[2022-04-20 12:55] #68218 closed

[2022-04-20 12:55] ViktorHofer commented on #66625
Converted this to a runfo tracking issue.

[2022-04-20 12:55] KillerBoogie opened #68263 "Text.Json – Deserialization of object does not convert empty or whitespace string to null"
### Description

Text.Json should by default convert an empty or whitespace string to null. It does not work for me. Has this beahvior been changed?

### Reproduction Steps

[code]

### Expected behavior

values of "" (empty string) or "   " (white space string) in JSON input should be converted to null

### Actual behavior

empty strings and white space strings are not converted to null

### Regr

[2022-04-20 13:00] eiriktsarpalis commented on #63686
Concerning the design of baked in resolver combinators, I was having the following implementations in mind:
[code]
In the context of source generation, it could be consumed as follows:
[code]

[2022-04-20 13:11] javiercn commented on #68264
@TDroogers I've transferred this issue to the runtime repo so that they can give you a definite answer here.

[2022-04-20 13:12] DDolG commented on #41376
Hello! I want to help. But I don't know how to start.  I am new at the repo.
Could anyone point me in the right direction to start this thing?
I download the repository to my computer. Looked at what changes were added in the code. Looked at the added test case. I don't understand what is "complexity of pivots" means.

[2022-04-20 13:16] eiriktsarpalis commented on #59268
FWIW I don't think we would be able to support fast-path serialization for IAsyncEnumerable easily. It would require exposing a `SerializeHandler` delegate that supports asynchrony, e.g. something like `Func<Utf8JsonWriter, TAsyncEnumerable, Task>`, but I'm not sure we'd be able to plug this in easily into our existing serialization infrastructure.

[2022-04-20 13:24] eiriktsarpalis commented on #53539
I think we should bring this back in for API review. We are in a position to answer most of the questions raised in last year's review. There's now precedent in bifurcating ns2.0/netcoreapp APIs, cf. `System.Format.Cbor`'s handling of `System.Half` APIs:

https://github.com/dotnet/runtime/blob/30a5b1f75ff72dd6d4f34003f32bcfb10f3f43b9/src/libraries/System.Formats.Cbor/ref/System.Formats.Cbor.netcor

[2022-04-20 13:33] stephentoub commented on #68123
I doubt it.  It'd be a massive breaking change to change the order of delegation.  It's trivial to find implementations that don't override the span-based method.

[2022-04-20 13:51] Frassle commented on #68026
I believe metadata tokens always refer to the open method. Which is why there is an overload of [ResolveMethod](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.module.resolvemethod?view=net-6.0#system-reflection-module-resolvemethod(system-int32-system-type()-system-type())) that takes the generic context to construct the closed method with.

[2022-04-20 13:54] iii-i opened #68266 "Cannot build runtime on s390x: The "ApiCompatTask" task failed unexpectedly."
### Description

For some weeks it's no longer possible to build the master branch on s390x due to an ApiCompatTask failure.
It seems that this task depends on some DLLs (e.g. `Microsoft.Cci.dll`) that cannot be loaded on s390x.

### Reproduction Steps

On an s390x machine:
- Install dotnet sdk 6.0.
- Run `./build.sh`

### Expected behavior

The build succeeds.

### Actual behavior

The build fail

[2022-04-20 13:58] stephentoub commented on #60623
This test no longer exists.

[2022-04-20 13:58] #60623 closed

[2022-04-20 13:58] stephentoub commented on #61710
This test no longer exists.

[2022-04-20 13:58] #61710 closed

[2022-04-20 14:01] stephentoub commented on #63457
Any regression here no longer exists.
<img width="565" alt="image" src="https://user-images.githubusercontent.com/2642209/164247947-a33f16b6-7a32-4894-9b97-a8516e3a3369.png">

[2022-04-20 14:01] #63457 closed

[2022-04-20 14:03] #64275 closed

[2022-04-20 14:04] uweigand commented on #68266
CC @ViktorHofer

[2022-04-20 14:05] #65607 closed

[2022-04-20 14:22] janvorli commented on #68112
I have investigated the problem. It occurs when the managed `LoaderAllocator` gets collected before the `RuntimeTypeHandle::GetInterfaces` is called. To create the managed `Type` objects for the interfaces, we need the managed `LoaderAllocator`s related to the ALCs where the assemblies of the interfaces were loaded, since we need to store it in the `ReflectClassBaseObject::m_keepAlive` in order to

[2022-04-20 14:29] danmoseley commented on #68245
Oh - nuts. I forgot (again) that we had not moved to the 7.0 SDK.

The only argument I can think of for back porting is that it makes it possible to due perf comparisons. But this seems relatively low importance and #62420 seems a large change.

[2022-04-20 14:29] #68245 closed

[2022-04-20 14:31] danmoseley commented on #68245
And set COMPlus_EnableAVX=0 does work.

[2022-04-20 14:45] AndyAyersMS commented on #68148
This has failed once in the past 240 runs and the failure was a timeout. I ran it 100 times locally (must run as admin to get the failing test to run) with no failures.

So suspect this was just a one-off failure.

[2022-04-20 14:45] #68148 closed

[2022-04-20 14:47] niemyjski opened #68267 "System.Text.Json changes the data datatype from double to int on serialization"
### Description

This references this closed but still very valid issue in .NET 6, Please reopen this issue

https://github.com/dotnet/runtime/issues/35195

### Reproduction Steps

This references this closed but still very valid issue in .NET 6, Please reopen this issue

https://github.com/dotnet/runtime/issues/35195

### Expected behavior

This references this closed but still very valid issue i

[2022-04-20 14:52] ThorstenReichert opened #68399 "WebSockets: Authentication of the HTTPS connection timed out"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

We have an ASP.NET Core 6.0 app, which accepts Websocket connections, pretty much exactly as described [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/websockets?view=aspnetcore-6.0#accept-websocket-requests). The server is configured for TLS and uses a self-signed certificat

[2022-04-20 14:54] eiriktsarpalis commented on #68263
I'm not reproducing the behavior as you are describing it:
[code]
This is expected though, the shape of the JSON document doesn't match the contract for `FullNameDTO` but does match the cotnract for `PersonDTO`.

[2022-04-20 15:06] eiriktsarpalis commented on #68267
Thanks @niemyjski, I've reopened the closed issue. Feel free to provide any relevant feedback there.

[2022-04-20 15:08] mangod9 commented on #66625
Looks to be a heap corruption, but possibly uncovered by Regions. fyi @Maoni0 @cshung

[2022-04-20 15:26] AaronRobinsonMSFT commented on #66571
@ViktorHofer Someone will look into this today.

[2022-04-20 15:26] eiriktsarpalis commented on #59268
I've updated the OP, believe we can take this to API review now.

[2022-04-20 15:28] KillerBoogie commented on #68263
Erik, yes that was my fault. I'm sorry. I corrected the post.

According to what I have found, the default behavior of Text.json is to convert empty and white space strings to null. I found questions where people wanted another behaviour. Did that behaviour change or is there a setting that will convert to null?

[2022-04-20 15:30] eiriktsarpalis commented on #68263
To my knowledge we've never supported this. Could you share a link to the source claiming this?

[2022-04-20 15:31] jkotas commented on #68257
The easiest way to use the locally built compiler is do a full build including packaging, add nuget.config path that points to `...\artifacts\packages\Release\Shipping` and use regular project structure.

We have `IlcXXXPath` variables that allow you to override path for each component. This is what the tests are doing: https://github.com/dotnet/runtime/blob/4881a639e7c3f27b5a8d2d160e234d8055333cd

[2022-04-20 15:36] KillerBoogie commented on #68263
I guess I misunderstood https://github.com/dotnet/runtime/issues/34310
Is there an option to convert empty strings to null? I'm working with nulable types and therefore valid inputs are either null or have a string with length >0. I want to tolerate empty strings from the client and convert them to nulls to be handled correctly in the domain layer.

[2022-04-20 15:46] cshung commented on #64263
@WenJunJi01, can you share with me the output of `dotnet --info`?

[2022-04-20 15:51] jkotas commented on #68112
This unit of unloading is whole assembly. We do not support unloading of individual types from the assembly.

This should work based on assembly references. When an assembly picks up a reference to collectible assembly, this reference should be added to the graph of loader allocators. Interfaces that happen to get resolved through this reference should be kept alive by virtue of being contained in

[2022-04-20 16:02] fanyang-mono commented on #60068
When using LLVM as codegen backend, LLVM is able to does the work of sending the data to SIMD register before the operation. Here is an example from x64

c# code
[code]

When LLVM is enabled:
[code]

Thus, this work actually only apply to mini and interp.

[2022-04-20 16:04] danmoseley commented on #68240
See https://github.com/dotnet/runtime/blob/327291967503180b4079720063819da59c3395e3/src/libraries/Common/tests/System/DirectoryServices/LDAP.Configuration.xml

The first two configs are docker based and should not be too difficult. The AD server one (which appears to be the relevant one here) involves at least one VM, which takes time to set up, and I have not always been successful. ideally we ca

[2022-04-20 16:06] #67723 closed

[2022-04-20 16:07] teo-tsirpanis commented on #68267
@eiriktsarpalis you forgot to unlock it.

[2022-04-20 16:07] #58874 closed

[2022-04-20 16:07] #68157 closed

[2022-04-20 16:09] eiriktsarpalis commented on #68263
#34310 refers to deserializing JSON from an empty string, i.e. something like `JsonSerializer.Deserialize<FullNameDTO>("");` It is perfectly valid for string literals within a JSON document to be empty or containing whitespace that doesn't require escaping.

Not out of the box, but you might be able to write a custom string converter that does this, something like
[code]

[2022-04-20 16:15] janvorli commented on #68112
The references between the native loader allocators work fine, these were fixed by my previous change. The `MethodTable`s of the interfaces are kept alive too. But those cannot keep the managed `LoaderAllocator` and `LoaderAllocatorScout` instances alive, as those are kept alive only by the GC and the interface types don't have instances. And without the managed `LoaderAllocator`, we cannot create

[2022-04-20 16:22] tommcdon commented on #68163
@hoyosjs This looks related to @67446 where .NET Core 3.1.23 symbols were not indexed correctly.  Can you try 3.1.24 - symbol indexing should be fixed on that build.

[2022-04-20 16:27] jkotas commented on #68266
I did not repro the issue locally.

The key difference between Linux x64 hosted and Linux s390x build is that the Linux x64 hosted build is using CoreCLR and the Linux s390x build is using Mono. If something works fine in Linux x64 hosted and fails in Linux s390x hosted build, it is most likely a Mono bug.

It may be worth it to try building on Linux x64 with CoreCLR overridden with Mono. It shoul

[2022-04-20 16:29] denisenko93 commented on #68123
I agree. Then I suggest changing the implementations of the Write methods for `long`, `int`, `ulong`, `uint`, `decimal`, `double` and `float` to use `Span<char>` in the `TextWriter` class. This will give a performance boost and reduce the memory allocation in the descendant classes that implement the method `Write(ReadOnlySpan<char> buffer)`

I also suggest override the `Write(format, ...)` method

[2022-04-20 16:31] smhmhmd commented on #68079
@agocke @roji I hope there is a test in npgsql to build nativeaot

[2022-04-20 16:33] hoyosjs commented on #68163
This seems to be a dupe of an issue i already closed - i didn't reindex 3.1.23, but 3.1.24 should be up there.

[2022-04-20 16:42] VSadov commented on #68112
Is this only a problem with interfaces or it is more general problem of types materialized via reflection while not represented by any instances. I.E. can fetching type constraints of some type parameter also see these issues?

[2022-04-20 16:46] carlossanlop commented on #68152
Seemed transient, so I'm closing it.

[2022-04-20 16:46] #68152 closed

[2022-04-20 16:51] janvorli commented on #68112
Actually, I've just realized it would not work even if we made the changes in the GC related stuff I've mentioned. The issue is really with managed `Type` materialization via reflection, so no instances of the actual target type may be present on the heap. It seems it will likely cause the same troubles in all cases of type materialization via reflection.

[2022-04-20 16:55] rolfbjarne opened #68277 "GlobalizationNative_LoadICUData never called when using Invariant mode (Mac Catalyst and other Apple platforms)"
### Description

The initial symptom I get is this exception at startup:

[code]

Debugging in lldb shows that this occurs due to an error in ICU, the `udata_openChoice` function returns an error here:

[code]

Debugging a bit more reveals that `GlobalizationNative_LoadICUData` is never called, and I'm guessing this is the underlying cause for the exceptions above.

Now the question obviously beco

[2022-04-20 16:57] rolfbjarne commented on #68277
CC @steveisok @akoeplinger

[2022-04-20 16:57] janvorli commented on #68112
To be precise, it would happen in all cases when a reflection would return a type from a collectible ALC1 based on something from some ALC2. I am not sure what would be all the other cases besides the GetInterfaces. I'll take a look.

[2022-04-20 17:01] mattjohnsonpint commented on #53539
@terrajobst - FYI, There's a similar issue with https://github.com/dotnet/maui/issues/1100

[2022-04-20 17:06] steveisok commented on #68277
If you're using Invariant mode, I don't believe loading icu should be called at all.

[2022-04-20 17:10] tarekgh commented on #68277
A quick note, when enabling the invariant mode, it is expected that `GlobalizationNative_LoadICUData` not get called. But [GlobalizationMode](https://source.dot.net/System.Private.CoreLib/P/f6bbb0cce0310efc.html#f6bbb0cce0310efc).[Invariant](https://source.dot.net/System.Private.CoreLib/GlobalizationMode.cs.html#e0992f0902ebb204) should get called. And the [IcuInitSortHandle](https://source.dot.ne

[2022-04-20 17:11] hez2010 opened #68278 "Support for RVA static fields with a class constructor on field owning type"
I patched the Microsoft.WinUI.AppX.targets to skip trimming check, and publish a blank unpackaged WinUI 3 app (WASDK 1.1-preview2) with NativeAOT, but got below exception during compilation:

[code]

[2022-04-20 17:12] steveisok commented on #68277
That would be my guess.  @rolfbjarne can you validate?

[2022-04-20 17:18] kunalspathak commented on #64550
Fixed by https://github.com/dotnet/runtime/pull/66109

[2022-04-20 17:18] #64550 closed

[2022-04-20 17:19] lambdageek opened #68279 "[devloop] Debug build linker errors in tests on Unix"
The change to `pal_assert.h` in https://github.com/dotnet/runtime/pull/64631 broke Debug configuration builds of the native test libraries on non-Windows:

[code]

Repro with CoreCLR:

[code]

Repro with Mono:

[code]

The issue is that the new definition of `_ASSERTE` in `pal_assert.h` depends on the `coreclrpal` static library, which is not linked into any of the native libraries in `src/tests`.

[2022-04-20 17:21] lambdageek commented on #68279
As far as I can tell this wasn't caught in CI because we don't have any debug builds of `src/tests` on any legs on PRs

[2022-04-20 17:25] jkotas commented on #68278
Could you please push the project to reproduce this into a scratch repo?

[2022-04-20 17:25] kunalspathak commented on #66579
I am no longer able to repro this.

[2022-04-20 17:26] Arclight3 opened #68280 "System.Text.Json is unable to deserialize FluentValidation.Results.ValidationResult"
### Description

System.Text.Json is unable to deserialize FluentValidation.Results.ValidationResult, while Newtonsoft.Json is able to do it.

### Reproduction Steps

Check this code in .NET 6:

[code]

The _deserialized_ variable contains a ValidationResult object with IsValid = true, and 0 Errors.
The _deserialized2_ variable contains a ValidationResult object with IsValid = false, and 1 Error.

[2022-04-20 17:37] jkotas commented on #68112
Did we have this fundamental problem since forever or was it introduced by #67160?

[2022-04-20 17:41] janvorli commented on #68112
We did have a problem forever, but it would never be hit as the problem that #67160 fixed would hide it.

I have looked more into it. It looks like the culprit for this issue is actually at a bit different place. The issue is that when my newly added fix calls `LoaderAllocator::EnsureReference`, the passed in `pOtherLA` doesn't have the `LoaderAllocator` yet. If it existed, the `LoaderAllocator::C

[2022-04-20 17:41] jeffhandley commented on #64599
The committed .NET 7 issues are completed. When we wind down .NET 7, we will review the backlog illustrated above (along with other issues in the area) for .NET 8 planning.

[2022-04-20 17:41] #64599 closed

[2022-04-20 17:45] ViktorHofer commented on #65552
I spent some more time thinking about how to fix the current broken behavior without increasing the build graph. Out-of-band projects already build on-top of the shared framework since we split the libs build into "libs.sfx" and "libs.oob". As these projects already sit on the top, we can just use the default targeting pack references for OOBs and remove the ProjectReferences that point to inbox p

[2022-04-20 17:49] wfurt commented on #67509
I think we should try to reproduce it locally. Is it always new Windows or do se see other OSes as well @rzikm?
At least the original reports is with `useSsl: False` so it shield be only good old socket. There is 10s timeout that _should_ be enough IMHO but we may try to bump it up.

[2022-04-20 17:55] deeprobin opened #68284 "[tracking]: Reversion of `!!` rollout"
As described in https://devblogs.microsoft.com/dotnet/csharp-11-preview-updates/#remove-parameter-null-checking-from-c-11, the `!!` has been removed.
This also means that this must be also removed in the runtime libraries.

The following commits must be reverted for removal:
* https://github.com/dotnet/runtime/commit/3ae87395f638a533f37b8e3385f6d3f199a72f4f
* https://github.com/dotnet/runtime/comm

[2022-04-20 17:57] vcsjones commented on #68284
This is in progress at https://github.com/dotnet/runtime/pull/68178.

[2022-04-20 18:00] #68222 closed

[2022-04-20 18:01] #66808 closed

[2022-04-20 18:03] deeprobin commented on #68284
@vcsjones
Thank you.

[2022-04-20 18:03] #68284 closed

[2022-04-20 18:03] wfurt commented on #67076
How many total runs? (e.g. what is failure rate)
Can you dig out console log @rzikm? Do you know if we run normal runtime tests on that queue? We may check registry setting if all failures are Ssl3.

[2022-04-20 18:04] elinor-fung commented on #68240
Thanks for the info. I'm not sure I'm feeling ambitious enough to go through the setup. I ran things manually that use the affected code to query for information (on my machine that is connected to Microsoft's Azure AD) and added a test (only for System.DirectoryServices) to get all types in https://github.com/dotnet/runtime/pull/68274

[2022-04-20 18:09] wfurt commented on #39835
Yes, all checks will be done and result would be passing in as parameter.  Basically the chain is always constructed after the handshake completes, SslStream calls chain.Build and passes status and chain itself to the callback.

[2022-04-20 18:14] runfoapp[bot] opened #68286 "System.Text.RegularExpressions.Tests.RegexKnownPatternTests.Docs_Examples_ValidateEmail failure"
[code]

Runfo Tracking Issue: [System.Text.RegularExpressions.Tests.RegexKnownPatternTests.Docs_Examples_ValidateEmail failure](https://runfo.azurewebsites.net/tracking/issue/325)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Results|Run Client|
|---|---|---|---|---|---|---|---|
|[1728898](https://dev.azure.com/dnceng/public/_build/results?buildId=1728898)|[runtime](https://dnceng.visuals

[2022-04-20 18:14] janvorli commented on #68112
Or anymore, which seems to be the case here - the `LoaderAllocator::m_hLoaderAllocatorObjectHandle` is non-null, but the handle value itself is null. So clearly, the handle was allocated and later released.

[2022-04-20 18:27] buyaa-n commented on #68243
From your comment `We can now mark AOT unfriendly APIs with the RequiresDynamicCode attribute so if we were to add it, we can at least annotate it as such.` I thought you are OK with adding the API 😄. For me as the workaround suggested is also not AOT friendly adding more convenient API than the workaround would be helpful

I was guessing there is a general purpose linker analyzer for this, though

[2022-04-20 18:28] jkotas commented on #68112
I would expect that once `LoaderAllocator::m_hLoaderAllocatorObjectHandle` becomes NULL, nothing alive should be holding a reference to the associated assembly and nothing should be able get a new reference to the associated assembly.

[2022-04-20 18:35] MihaZupan opened #68287 "Support for Unicode Case Folding from SpecialCasing.txt"
Does .NET support the special cases defined in https://www.unicode.org/Public/UCD/latest/ucd/SpecialCasing.txt at all?

For example, being able to test `"ẞ"` (german scharfes S) being equal to `"ss"` or `"SS"`?

I just see one mention of it in a test:
https://github.com/dotnet/runtime/blob/7fd3c9293cb17485a12d942992c68b9b4e12649e/src/libraries/System.Globalization/tests/System/Globalization/TextIn

[2022-04-20 18:41] elinor-fung commented on #68286
Seems to happening quite a bit today. Some change from within the last day?
[code]

|TestRunName

[2022-04-20 18:43] nibanks commented on #56954
What about any exceptions/errors related to invalid parameters? TLS/security/crypto related errors? I'm not sure all QUIC errors should be considered IOExceptions necessarily. But I guess it's more of a question: Does the base class of an exception reflect the **type** of exception or **source** of exception?

[2022-04-20 18:50] stephentoub commented on #68286
This test is written strangely... I suspect it's actually a timeout masquerading as a failure, as the test is catching a timeout exception and returning false as if IsMatch failed.  And it's using a fairly small timeout of only 250ms; it could be that my change in https://github.com/dotnet/runtime/pull/68146 is making it more likely to timeout as the timeout will be better respected.  I'll submit

[2022-04-20 18:50] janvorli commented on #68112
The handle becomes NULL once there are no managed objects from the ALC. However, in the problematic case, there was only the managed Assembly containing definitions of the interface in that ALC (and the managed `LoaderAllocator`). A type in another ALC just implements interfaces from the first ALC, so there are never any managed objects of types in the first ALC and the whole managed side goes awa

[2022-04-20 18:51] richlander commented on #36765
In the general case, the apphost version isn't that useful. It is just a bit of info that tells you the SDK version that the user used to build the app. We should still give you the latest 6.0.x version.

The key thing we should focus on is giving users a page focused on (in this example) a Windows x64 download.

/cc @mairaw

[2022-04-20 18:51] ViktorHofer opened #68289 "System.Net.Http.Functional.Tests long running tests"
Unsure if this issue is actionable but still wanted to file it to hear the area owners' opinions.

Configuration: `net7.0-Linux-Release-x64-CoreCLR_release-(Alpine.314.Amd64.Open)Ubuntu.1804.Amd64.Open@mcr.microsoft.com/dotnet-buildtools/prereqs:alpine-3.14-helix-amd64-20210910135833-1848e19`

Build: https://dev.azure.com/dnceng/public/_build/results?buildId=1719581

<details>

[code]

</details>

[2022-04-20 18:53] ViktorHofer opened #68290 "LongContinuationChain_Unwrap_DoesNotStackOverflow long running test"
Configuration: `net7.0-OSX-Release-x64-CoreCLR_release-OSX.1200.Amd64.Open`

Build: https://dev.azure.com/dnceng/public/_build/results?buildId=1721549

[code]

[2022-04-20 18:54] ViktorHofer opened #68291 "System.Diagnostics.Tests.InstanceDataTests.InstanceDataCollectionCollection_CopyTo failing in CI"
Configuration: `net7.0-windows-Release-x86-CoreCLR_release-Windows.10.Amd64.Server2022.ES.Open`

Build: https://dev.azure.com/dnceng/public/_build/results?buildId=1721549

[code]

Runfo Tracking Issue: [system.diagnostics.tests.instancedatatests.instancedatacollectioncollection_copyto](https://runfo.azurewebsites.net/tracking/issue/327)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Result

[2022-04-20 18:59] tarekgh commented on #68287
@MihaZupan you can achieve that today by doing:

[code]

[2022-04-20 19:01] runfoapp[bot] opened #68293 "System.IO.Compression.Tests.ZipFile_Unix.UnixCreateSetsPermissionsInExternalAttributes fail on OSX"
[code]

Runfo Tracking Issue: [System.IO.Compression.Tests.ZipFile_Unix.UnixCreateSetsPermissionsInExternalAttributes fail on OSX](https://runfo.azurewebsites.net/tracking/issue/326)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Results|Run Client|
|---|---|---|---|---|---|---|---|
|[1780676](https://dev.azure.com/dnceng/public/_build/results?buildId=1780676)|[runtime](https://dnceng.visu

[2022-04-20 19:03] ericstj commented on #46272
I'm not sure if this is particularly specific to `Properties` or not, but it seems like predictable deterministic ordering is something we'd want to have consistently in refelection for all APIs.  So if we have problems like this elsewhere (GetTypes, GetMethods, GetCustomAttributes, etc) we'd want to at least consider them when looking at this.

[2022-04-20 19:04] danmoseley commented on #68240
That sounds good to me @elinor-fung

[2022-04-20 19:04] MihaZupan commented on #68287
Thanks Tarek!

[2022-04-20 19:04] #68287 closed

[2022-04-20 19:07] #49580 closed

[2022-04-20 19:19] ulisesh commented on #67821
Unfortunately, the output generated by machines in a bad state is empty so we can generate a known issue for it. I'm not sure how @ilyas1974 is tracking how often machines have to be reimaged

[2022-04-20 19:34] CarnaViire commented on #68289
Seems like https://github.com/dotnet/runtime/issues/56477 is still lurking?

[2022-04-20 19:39] niemyjski commented on #68267
Thank you

[2022-04-20 19:42] vanillajonathan opened #68296 "[API Proposal]: IsPlusAddressable property for MailAddress"
### Background and motivation

Used to determine if an email address uses plus addressing.

### API Proposal

[code]

### API Usage

[code]

### Alternative Designs

_No response_

### Risks

_No response_

[2022-04-20 20:04] stephentoub opened #68298 ""The remote certificate is invalid because of errors in the certificate chain: RevocationStatusUnknown" in XHarness tasks"
This takes out one or more legs in CI very frequently recently.
[code]

[2022-04-20 20:06] KillerBoogie commented on #68263
Thank you! That helps!

[2022-04-20 20:06] #68263 closed

[2022-04-20 20:09] janvorli commented on #68112
Hmm, it should actually work fine, while the `AssemblyLoadContext` is alive and unload has not started yet, the `CustomAssemblyBinder` should hold strong handle to the managed `LoaderAllocator`. I need to investigate what's going on that this doesn't work.

[2022-04-20 20:13] ViktorHofer commented on #68298
cc @premun @akoeplinger

[2022-04-20 20:37] steveisok commented on #68298
Duplicate of https://github.com/dotnet/runtime/issues/67349.  Closing in favor of that issue.

This should be fixed (or fail less) if either https://github.com/dotnet/runtime/pull/68024 or https://github.com/dotnet/runtime/pull/67771 lands.

[2022-04-20 20:37] #68298 closed

[2022-04-20 20:40] buyaa-n commented on #46272
Yes we were talking to apply a deterministic order for all members of Type like  `GetMethods, GetFields, GetProperties` etc. Not sure if `GetMembers()` should also be covered, seems there is no any ordering info kept for those as each member cached in different tables.

[2022-04-20 21:08] plaisted commented on #49317
We're also seeing similar issues with linux pods holding on to memory but haven't had a chance to dig in very much. We have a very bursty workload where memory requirements spike up for pods for short periods of time and then are idle or lower most of the time. We have k8s memory request set to a normal usage ceiling and then limits as the upper boundary for spikes. The pods hold on to 200-300% of

[2022-04-20 21:21] wfurt commented on #66970
Seems like compiler bug. The container had old llvm 3.9. When we rebuild with llvm-10 the crash is gone.
I update the container and I'll try it again.

[2022-04-20 21:28] #68286 closed

[2022-04-20 21:36] danmoseley commented on #68293
The earliest build listed above was 4/20/2022, 11:00:15 AM. I checked in my zip bug fix (not that I can see how it was related) at ~12 PST.

[2022-04-20 21:36] #68035 closed

[2022-04-20 21:39] #67624 closed

[2022-04-20 21:47] #59954 closed

[2022-04-20 21:54] geekley opened #68301 "[API Proposal]: allow making attributes suppress warnings with `(Unconditional)SuppressMessage`"
### Background and motivation

Please make it possible to suppress warnings everywhere an arbitrary attribute is applied.

Just suppressing warnings for unused code is already useful in many use cases. But the flexibility of suppressing any warnings generically based on applied attributes can have a lot of other powerful use cases as well, so this would be the ideal.

Currently, you need to apply

[2022-04-20 21:54] rellis-of-rhindleton commented on #39835
So the callback is just to override or add extra checks? Works for me, thank you.

[2022-04-20 21:56] geekley commented on #68153
Related: #68301

[2022-04-20 22:04] Danyy427 commented on #66600
@danmoseley I have opened another PR for the remainder of the tests (except for System.Speech)

[2022-04-20 22:04] cshung commented on #49317
I am working on an [API proposal](https://github.com/dotnet/runtime/issues/66037) that might help with the situation. If you know you are going into idle mode. you can call that API, and have the GC to release the memory for you.

[2022-04-20 22:18] tudoranghelina91 commented on #34056
Hi @danmoseley. I want to start bringing my contribution to the dotnet runtime too. See that  this is marked with easy label. I'd love to take a shot at it if it's still up for grabs.

[2022-04-20 22:28] kunalspathak commented on #67102
The break happened in https://github.com/dotnet/runtime/pull/45135 while unassigning the interval and restoring the previous interval. I will send out the fix shortly.

[2022-04-20 22:54] janvorli commented on #68112
So I have a full understanding of how we get into the problematic state. The key thing is how the test loads the interface assembly. It creates the collectible ALC1 inside of the ALC.Load method of the other collectible ALC2, loads the interface assembly using that and returns the resulting assembly from the Load method. So when it returns, there are no more references to that ALC1. There is still

[2022-04-20 23:02] maryamariyan commented on #58930
what benefit would we get out of adding this capability? do you have a specific use case?

[2022-04-20 23:10] danmoseley commented on #34056
Hi @tudoranghelina91 . Great! Since this issue is a little old now, let me ask @marek-safar to confirm this is still good to go. @marek-safar ?

[2022-04-20 23:12] elinor-fung commented on #68293
Expected: 3968 -> 7600, which is `S_ISUID | S_ISGID | S_ISVTX`
Actual: 2944 -> 5600, which is `S_ISUID | S_ISVTX`

Lots of hits today. Marking as blocking-clean-ci.

[2022-04-20 23:25] danmoseley commented on #68293
@dotnet/dnceng did anything change in the OSX 12 image?

@eerhardt you recall this code -- any idea?

this line may be relevant, but it suggests that we should expect these bits to be cleared?
https://github.com/dotnet/runtime/blob/c78bf2f522b4ce5a449faf6a38a0752b642a7f79/src/libraries/System.IO.Compression.ZipFile/src/System/IO/Compression/ZipFileExtensions.ZipArchiveEntry.Extract.Unix.cs#L11

[2022-04-20 23:29] wfurt commented on #39835
yes. In most cases people want to override failures and add custom trust. You can add extra restrictions - like pinning - if you want. (or do what ever extra based on your application logic)

[2022-04-20 23:35] gregsdennis commented on #68280
I wonder if this is more something that FluentValidation should provide.  I believe they would need to provide a `JsonConverter` for it.

[2022-04-20 23:44] MichalStrehovsky commented on #68243
It limits the damage, but it's not great (instead of a runtime exception in a random nuget one cannot debug into, one gets a compile-time warning in the same random nuget that one cannot fix anyway because it's how nuget works).

If we have an analyzer that always flags it, I'm fine with that, just noting the duplication.

[2022-04-20 23:48] MattGal commented on #68293
Hi Dan!  Can you comment on time?  The only interesting thing to change here was moving from 12.0 to 12.3 a while back because the GA 12.0 kept timing out.  That wasn't particularly recently though, so your time range would be useful to know.

[2022-04-20 23:54] MattGal commented on #68293
@danmoseley I confirmed the update (12.0 -> 12.3 latest-at-the-time) was on 3/29, about 3 weeks ago.  Beyond this, these machines have done nothing but execute test work items.

[2022-04-21 00:26] mikelle-rogers commented on #45247
Opening the issue because we are no longer using 515 to track this issue.

[2022-04-21 01:31] VincentBu opened #68306 "Test failure JIT\\opt\\OSR\\shortenregisteredlocal\\shortenregisteredlocal.cmd"
Run: [runtime-coreclr jitstress 20220419.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1727744&view=ms.vss-test-web.build-test-results-tab&runId=46842802&paneView=debug&resultId=104488)

Failed test:
[code]
**Error message:**
[code]

[2022-04-21 01:49] WenJunJi01 commented on #64263
@cshung
**Dotnet info:**
C:\Users\v-wenjj>dotnet --info
.NET SDK (反映任何 global.json):
 Version:   7.0.100-preview.4.22219.19
 Commit:    2a412d3454

运行时环境:
 OS Name:     Windows
 OS Version:  10.0.22000
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\7.0.100-preview.4.22219.19\

global.json file:
  Not found

Host:
  Version:      7.0.0-preview.4.22217.5
  Ar

[2022-04-21 02:03] kelicto opened #68335 "`System.Drawing.SystemFonts.DefaultFont` cannot switch automatically according to the system and Do some reflections"
**Version Used**:

Test IDEs: Visual Studio 2017; Visual Studio 2019; Visual Studio 2021;

**Steps to Reproduce**:

1. Install English OS, the default font size is 8.25
2. Change the display language and region to Chinese, I want to change it as 9.

**Expected Behavior**:

I'm a Chinese. My Chinese colleagues use Chinese systems and the default font size for projects is 9. We know that `default fo

[2022-04-21 02:06] jkotas commented on #46272
GetMembers concatenates all other lists, so it should just work.

[2022-04-21 02:13] cshung commented on #64263
@WenJunJi01
This build definitely contains the fix - it must be the case that something else is broken.
Can you try to capture a dump when the crash happens?

[2022-04-21 03:35] Maoni0 commented on #66625
some of these tests are arm32. regions is not supposed to affect 32-bit (we have made changes that would affect 32-bit while working on regions but those should be very small and generally only for code refactoring). I would investigate these first just to get it out of way, for example `GC/API/GCHandle/Alloc_neg2/Alloc_neg2.sh` barely does anything. normally it wouldn't even trigger a GC but gcst

[2022-04-21 04:01] davidfowl commented on #67391
The default container isn't changing so the options are:
- Autofac makes a change, either opt-in or opt-out to change IServiceScopeFactory to be a singleton and decides if the defaults should change.
- Autofac documents the difference in behavior and offers another method to get the root scope from an existing scope.

[2022-04-21 04:01] hez2010 commented on #68278
This is the repro:
[repro_rsp_with_deps.zip](https://github.com/dotnet/runtime/files/8527124/repro_rsp_with_deps.zip)

The path of deps in rsp file may need some changes.

I've excluded dependencies in microsoft.netcore.app.runtime.win-x64 and runtime.win-x64.microsoft.dotnet.ilcompiler.

[2022-04-21 04:07] weichch commented on #33388
I rolled my own version of semantic comparison in my [`SystemTextJson.JsonDiffPatch`](https://www.nuget.org/packages/SystemTextJson.JsonDiffPatch/) package for `JsonValue` including those backed by `JsonElement`. It would be good to have an official version.

[2022-04-21 04:11] MichalStrehovsky commented on #67428
We use the `armel` RID for ARM-softfloat ABI and `arm` RID for ARM-hardfloat (or armhf in Linux lingo) ([source](https://github.com/dotnet/runtime/blob/c78bf2f522b4ce5a449faf6a38a0752b642a7f79/src/libraries/Microsoft.NETCore.Platforms/src/runtime.json#L1529-L1545)). There's only one member of the `Architecture` enum for ARM, despite supporting two ABIs and having representation for them in the for

[2022-04-21 04:26] MichalStrehovsky commented on #68278
(I'm taking some time off so won't be looking at this but just FYI: we have `<ItemGroup><IlcArg Include="--make-repro-path:some\path\to\file.zip" /></ItemGroup>` that will generate a ZIP with a response file and all other artifacts for you - no need to manually hunt for them.

[2022-04-21 04:30] MichalStrehovsky commented on #68278
I got suspicious about the `<GuidPatcherImplementationDetails>` type and they're apparently doing some IL rewriting around there: https://github.com/microsoft/CsWinRT/tree/master/src/Perf/IIDOptimizer. Might not be an ILC bug. But not looking further.

[2022-04-21 04:55] cston opened #68309 "[API Proposal]: Support ref fields in System.Reflection.Metadata.Ecma335.BlobEncoder"
### Background and motivation

Provide methods in `System.Reflection.Metadata.Ecma335.BlobEncoder` to more directly support emitting ref fields, consistent with the corresponding APIs provided for emitting ref parameters and ref locals.

### API Proposal

Provide a `FieldTypeEncoder` type similar to `ParameterTypeEncoder` and `LocalVariableTypeEncoder`.
[code]

### API Usage

[code]

### Alternati

[2022-04-21 04:57] cston commented on #68309
cc @jaredpar, @tmat

[2022-04-21 05:00] wfurt opened #68310 "CertificateSelection callback is not called when client use Unified framing"
Some older TLS implementations can use Unified framing e.g. legacy SSL2 format with TLS 1.x body.
With 6.0, we fail to detect the client hello and therefore we fail to call the callback.
This is going to fail completely with 7.0 code base.

[2022-04-21 05:20] AaronRobinsonMSFT commented on #68278
@jkoritzinsky and @manodasanW Regarding the GUID patcher logic.

[2022-04-21 05:24] AaronRobinsonMSFT commented on #68261
@kzhui125 When you say "not working", what does that mean? Is there a crash? Is there an error message? Would it be possible to share a repro solution? Was this ever working for you or is this a new port to .NET 5/6?

[2022-04-21 05:28] kzhui125 commented on #68261
@AaronRobinsonMSFT I get "Could not load file or assembly" error.

If I replace the .net standard dll to .net 5/6 dll, then it works.

I will try to make a repro solution later.

[2022-04-21 05:29] hez2010 commented on #68278
I decompiled the Microsoft.Windows.SDK.NET and searched for all `<GuidPatcherImplementationDetails>+<SignatureCache>*` types.

Why there're three identical classes for each type in the assembly?

![image](https://user-images.githubusercontent.com/14960345/164380340-c5f4cecb-bc6e-4368-ba81-6cc3c9eca4ee.png)

Will this cause ilc to fail?

[2022-04-21 06:13] performanceautofiler[bot] opened #68624 "[Perf] ARM64 regression in System.Diagnostics.Perf_Activity.ActivityAllocations"
### Run Information

Architecture | arm64
-- | --
OS | ubuntu 18.04
Baseline | [b58d8013dbc4f3a65e5e2242fe09a43f455a329f](https://github.com/dotnet/runtime/commit/b58d8013dbc4f3a65e5e2242fe09a43f455a329f)
Compare | [84b664a9875067a97fe32b654ff32f23f4001a60](https://github.com/dotnet/runtime/commit/84b664a9875067a97fe32b654ff32f23f4001a60)
Diff | [Diff](https://github.com/dotnet/runtime/compare/b58

[2022-04-21 06:13] performanceautofiler[bot] opened #68405 "[Perf] Regressions in System.Text.Perf_Utf8Encoding"
### Run Information

Architecture | arm64
-- | --
OS | ubuntu 18.04
Baseline | [2c3e1c7fee778b1e58c0678eb9bac273fd700216](https://github.com/dotnet/runtime/commit/2c3e1c7fee778b1e58c0678eb9bac273fd700216)
Compare | [d81ac24b2ba08751fe21689b5182806fea6b8735](https://github.com/dotnet/runtime/commit/d81ac24b2ba08751fe21689b5182806fea6b8735)
Diff | [Diff](https://github.com/dotnet/runtime/compare/2c3

[2022-04-21 06:27] jkoritzinsky commented on #68278
It looks like maybe the IID Optimizer tool doesn’t correctly check if it’s already ran on an assembly and something caused it to run on the same assembly multiple times.

[2022-04-21 06:47] hez2010 commented on #68278
I'm a bit surprised that JIT doesn't fail regarding so many duplicated types and fields in an assembly.

[2022-04-21 07:02] hez2010 commented on #68278
I don't think this is the cause root, the IIDOptimizer already has the logic that prevent rerunning on the same assembly:

![image](https://user-images.githubusercontent.com/14960345/164393594-f0c64b3e-4a81-4b92-8394-8d71715b3cbc.png)

[2022-04-21 07:15] t00 commented on #58930
On the surface since the configuration arrays are additive (elements are merged from multiple sources/files), having an empty array does not seem useful.

Problem is that with not being able to establish if the empty array is present in the configuration or not, information is lost for no apparent purpose (than possibly some internal optimizations), and it seems without ability to recover it since

[2022-04-21 07:26] rolfbjarne commented on #68277
I got the logic reversed, this is when Invariant=false, but the problem is really the same, that the call to `System.Globalization.GlobalizationMode/Settings.get_Invariant` is inlined, and thus the Settings static constructor isn't called.

This is the decompiled IcuInitSortHandle:

<img width="1247" alt="Screen Shot 2022-04-21 at 09 17 19" src="https://user-images.githubusercontent.com/249268/164

[2022-04-21 07:30] am11 commented on #67062
@VSadov will it be fixed in the next preview?

[2022-04-21 07:50] eiriktsarpalis commented on #68280
I would recommend filing an issue with the FluentValidation repo. It might be that the type is defining a converter for Json.NET and not STJ or that the type relies on a deserialization convention not currently supported by STJ. If it turns out to be the latter, it might be worth filing a subsequent issue requesting that we support that specific convention.

[2022-04-21 07:50] #68280 closed

[2022-04-21 07:59] krwq commented on #41376
@DDolG you'll need to check the internal implementation details of the sort function and try to understand it. The particular piece mentioned in the other PR is referring to pivot from the [intro sort](https://en.wikipedia.org/wiki/Introsort) - See https://github.com/dotnet/runtime/blob/main/src/libraries/System.Private.CoreLib/src/System/Collections/Generic/ArraySortHelper.cs#L473 - you will need

[2022-04-21 08:03] marek-safar commented on #34056
Please go ahead, we still have some places that need fixing.

[2022-04-21 08:31] NN--- commented on #51556
@vitek-karas Any update on this ?
Thanks.

[2022-04-21 08:58] wilson0x4d commented on #23937
... this is what happens when every few years a group of new developers appear which don't have adequate exposure to technology, declare it bad, then start removing/replacing things that worked perfectly fine.

after 30+ years of programming i've learned that nothing survives, not even good things. sad, but true. everything everyone has worked on in .NET Core these past few years will also, eventu

[2022-04-21 09:07] juliank commented on #53239
@tarekgh: Is it intentional that this won't be fixed before 7.0? If so that is unfortunate, since 7.0 isn't an LTS which in practice means that many might have to wait for 8.0 to get this fixed.

[2022-04-21 09:20] adamsitnik opened #68315 "[NativeAOT arm64] application using sha1 and sha2 Instruction Sets does nothing and quits"
I wanted to verify https://github.com/dotnet/runtime/pull/68142 and encountered a new issue. When `arm64` app is compiled with `--instructionset:sha1,sha2` it publishes an executable, but when I try to run it the app does:
* nothing when executed from powershell, exit code is `-1`
* prints an empty line when executed from `cmd.exe`, exit code is `-1`

I've checked Windows Event Log and there are n

[2022-04-21 09:21] vitek-karas commented on #51556
@NN--- No, this is one of many feature requests, we're trying to prioritize, this one just didn't make it to the top yet.

[2022-04-21 09:31] marek-safar commented on #68277
This looks like linker related so I'll look into it.

[2022-04-21 09:34] karelz commented on #65005
I am a bit confused here:
- Call to content Dispose in HttpClient has been discussed in #14612 and removed PR https://github.com/dotnet/corefx/pull/19082 ... in nutshell, it was a fix to a long-existing design bug which we couldn't simply fix in .NET Framework due to compatibility, but we could fix it in .NET Core (and temporarily in NuGet package).
- System.Net.Http.dll stopped shipping any code

[2022-04-21 09:34] #65005 closed

[2022-04-21 09:35] NiubilityOptimus opened #68316 "Unable to assign values to struct properties"
### Description

such like my title,I'm not good at English and the problems that may be described seem a bit strenuous and I'm sorry

### Reproduction Steps

I'm not sure if there's a problem with my comprehension or a bug with sdk, but I don't think it's my way of writing that's wrong。

my code like this.

the first struct
`struct Packet1 : IProtocol{
   private int _dataNum;
        public int

[2022-04-21 09:35] NiubilityOptimus commented on #68316
Dear Sir or Miss.
This is an e-mail from Johnnie' QQ Mail.Thank you for your E-mail.I apologize that I am unable to respond to you immediately . I will get back to you as soon as I return.

[2022-04-21 09:38] NiubilityOptimus commented on #68316
sorry，i don't know how to add area lable

[2022-04-21 09:39] ladeak commented on #65005
Thank you for the detailed description.

[2022-04-21 09:42] karelz commented on #65005
Here's even more details about the whole story: https://github.com/dotnet/runtime/issues/20777#issuecomment-338418610

(sorry, it took a while to page in all the relevant parts of this ugly story ... I didn't have to answer any questions about it for couple of years now and it is something that I am more than happy to forget about)

[2022-04-21 09:45] adamsitnik commented on #68262
@amis92 @kasperk81 would any of you be interested in sending a PR with a fix?

[2022-04-21 09:50] theodorzoulias opened #68317 "Is the enumeration order of the Stack<T> collection well defined?"
Hi! I used the [`Stack<T>`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.stack-1) collection recently to implement an algorithm, whose correctness now depends on the `Stack<T>` having a LIFO enumeration order. I checked the documentation to see if this enumeration order is well defined, but I can't find an explicit statement about this. I found though an [old StackOverflo

[2022-04-21 09:52] karelz opened #68318 "Pass UseStrongCrypto to server-side TLS"
We should consider passing the flag SCH_USE_STRONG_CRYPTO to server-side TLS in .NET 7.0.
While it is not security issue, it will be better for everyone.

See details in https://github.com/dotnet/runtime/issues/61739#issuecomment-987743707

[2022-04-21 09:52] adamsitnik commented on #34126
In .NET 6 we have introduced a possibility to disable file locking on Unix:

https://github.com/dotnet/runtime/blob/a4d45b2c8ed201d191ed02038b7b28236e22dbf7/src/libraries/System.Private.CoreLib/src/Microsoft/Win32/SafeHandles/SafeFileHandle.Unix.cs#L14-L15

You can do that by setting `DOTNET_SYSTEM_IO_DISABLEFILELOCKING` env var or `System.IO.DisableFileLocking` app setting:

[code]

Since we don'

[2022-04-21 09:52] #34126 closed

[2022-04-21 09:53] karelz commented on #68318
@rzikm @wfurt is it good time to do it now? (no specific rush)

[2022-04-21 09:55] Joe4evr commented on #68317
The entire reason for `Stack<T>`'s existence is to [be a LIFO collection](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.stack-1?view=netframework-2.0), so yes, I'd say it's a publicly documented guarantee.

[2022-04-21 10:09] WenJunJi01 commented on #64263
@cshung  Here is the dump file created on .NET Host. Since the file cannot be uploaded, the path is provided.

\\bvtsrv2\team\E2E\dump.zip

[2022-04-21 10:12] Joe4evr commented on #68316
What you're seeing is the basic fact that structs are copied *by value* (meaning in its entirety) when passed to other methods, so any mutations inside of that method are only visible to that method because the method only works on a full copy of what it was given, not the original instance that was made outside of the method call. This behavior around structs is why you should always consider to

[2022-04-21 10:40] eiriktsarpalis commented on #68317
I would say this is very much by design. The [examples section](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.stack-1?view=net-6.0#examples) in the `Stack<T>` documentation page implies this by showing the print output of the enumerated stacks.

[2022-04-21 10:57] uweigand commented on #67428
Well, there is a test case explicitly verifying the relationship between `Architecture` and the RID: https://github.com/dotnet/runtime/blob/a4d45b2c8ed201d191ed02038b7b28236e22dbf7/src/libraries/System.Runtime.InteropServices.RuntimeInformation/tests/RuntimeIdentifierTests.cs#L18

I can't say whether anything else relies on that relationship, but if it's not supposed to be there, that test case sh

[2022-04-21 11:00] hez2010 commented on #68278
I've proposed a fix in https://github.com/microsoft/CsWinRT/pull/1174
/cc: @jkoritzinsky

[2022-04-21 11:26] Joe4evr commented on #61456
Would the work on `ref` fields be a mitigation for the (current) lack of move-only enforcement?

[2022-04-21 11:31] kasperk81 commented on #68296
`bool HasSubaddressing { get; }` or `bool IsSubaddress { get; }` see https://datatracker.ietf.org/doc/html/rfc5233

[2022-04-21 11:32] marek-safar commented on #64410
I'd start enabling existing tests and see what CI says.

[2022-04-21 11:34] uweigand commented on #67428
Also, I'm not convinced that the ARM soft-float vs. hard-float precedent is really comparable to BE vs. LE Power.   In the ARM case, we have variant ABIs that are at least to some extent compatible: you can run both soft-float and hard-float binaries on the same Linux system, and in many cases (e.g. if there's no floating-point parameters) you can even link them together.

BE vs. LE Power on the o

[2022-04-21 11:51] rzikm commented on #67509
It's a mix of Centos.7.Amd64.Open, Windows.10.Amd64.Server2022.ES.Open, Windows.11.Amd64.ClientPre.Open, Alpine.314.Amd64.Open, Windows.81.Amd64.Open,

The failures are there both with useSsl and without it.

<details><summary>Query</summary>

[code]
</details>

[2022-04-21 12:11] rolfbjarne opened #68321 "macOS / Mac Catalyst / iOS: CurrentThread.Current[UI]Culture is always the invariant culture"
### Description

`Thread.CurrentThread.Current[UI]Culture` is always the invariant culture at launch in macOS and Mac Catalyst (and probably iOS and tvOS as well).

This affects both Mono (on Mac Catalyst) and CoreCLR (no macOS).

Ref: https://github.com/xamarin/xamarin-macios/issues/14740
Ref: https://github.com/dotnet/maui/issues/3962

### Reproduction Steps

1. Create a new Mac Catalyst app:

[

[2022-04-21 12:12] rolfbjarne commented on #68321
In legacy Xamarin, the current culture was set in the [get_darwin_locale](https://github.com/mono/mono/blob/5d2e3bc3b3c8184d35b2f7801e88d96470d367c4/mono/culture/locales.c#L383) method in mono. This function doesn't exist anymore in this repo (removed in 738066c5351f9107991ccff2cb50a3507ef39b83).

Ref: https://github.com/xamarin/xamarin-macios/issues/14740#issuecomment-1099614310

[2022-04-21 12:13] rolfbjarne commented on #68321
CC @steveisok @akoeplinger

[2022-04-21 12:14] rolfbjarne commented on #68321
For reference, this is the output of an equivalent Xamarin.Mac test project:

[code]

[2022-04-21 12:24] MichalStrehovsky commented on #67428
That test happens to work for the architectures we run tests on. Armel is community supported.

Armbe RID for big endian arm would be in the same boat if it's ever added.

[2022-04-21 12:33] NN--- commented on #51556
This request is important in macOS due to need of using '--force --deep' flags for codesign which is not recommended.
Also this makes it possible to put executable separately from the libraries in any environment.

[2022-04-21 12:37] #68257 closed

[2022-04-21 12:58] steveisok commented on #63064
Yes, this issue will be fixed by that PR.  @simonrozsival I assigned you to this issue so that we remember to close it when the PR lands.

[2022-04-21 13:01] akoeplinger commented on #65279
@MihaZupan @wfurt I'm seeing this failing on release/6.0 the same way, can we backport this fix?

[2022-04-21 13:01] nazar322 opened #68323 "Environment.GetFolderPath(Environment.SpecialFolder.MyVideos) returns empty string in OSX"
### Description

It returns an empty string on macOS Monterey running under .NET core 5.
My Electron.NET app runs under .NET Core 5.
It used to work well on the previous versions of OSX, now it returns an empty string.
Environment.GetFolderPath(Environment.SpecialFolder.MyMusic) returns correct path.

### Reproduction Steps

Call the API.

### Expected behavior

Return "/Users/USERNAME/Movies"

##

[2022-04-21 13:45] rellis-of-rhindleton commented on #39835
Okay, great. That's the best of both worlds.

As @kakone observed, it's common to find suggestions on how to disable certification validation, but if you want to add custom validation logic then I'm not sure there is anything in the Microsoft docs to help. I had to come to this issue to find what I needed. I might try to sum some of this up in a docs pull request.

[2022-04-21 13:50] rzikm commented on #68318
I briefly tried "just enabling it" and it will not be completely trivial, it breaks tests:
[code]

If we decide to do this, I might need some pointers what is going on.

[2022-04-21 13:52] steveisok commented on #68321
Looks like we're relying on the default to come out of ICU, which I believe is "en_US_POSIX" and we subsequently ignore

https://github.com/dotnet/runtime/blob/7414af2a5f6d8d99efc27d3f5ef7a394e0b23c42/src/native/libs/System.Globalization.Native/pal_locale.c#L138-L141

The right way would be to add a [get_darwin_locale](https://github.com/mono/mono/blob/5d2e3bc3b3c8184d35b2f7801e88d96470d367c4/mono

[2022-04-21 14:00] am11 commented on #68321
ICU uses system default, which you can check `locale(1)` command or from environment vars like `$LANG`, `$LC_ALL` and `$LC_MESSAGES` etc.

This applies to all supported Unix OS and versions of .NET Core; it is not specific to Darwin and .NET 6.

[2022-04-21 14:16] stephentoub opened #68326 "[Analyzer Proposal]: Convert argument null checks to ArgumentNullException.ThrowIfNull"
In support of the now-defunct `!!` feature, @RikkiGibson built into a Roslyn an analyzer/fixer that found constructs like:
[code]
and replaced them with:
[code]

Now that `!!` is no more, we should salvage this work and transform it to instead use `ArgumentNullException.ThrowIfNull` if available:
[code]

[2022-04-21 14:21] #67102 closed

[2022-04-21 14:29] stephentoub opened #68328 "Vectorize IndexOfAny on more than 5 chars"
EDITED BY @stephentoub on 10/26/2022 to add revised API shape:

[code]

### API Usage

[code]

---

EDITED BY @MihaZupan on 10/24/2022 to add proposed API shape:

### API Proposal

[code]

### API Usage

[code]

### Alternative Designs

Static members on `Ascii` instead of extension methods in `MemoryExtensions`.
Based on feedback from API review on 2022-10-25.

[code]

---

***Original post:***

[2022-04-21 14:44] vanillajonathan opened #71008 "Make UrlAttribute work with the Uri data type"
### Is your feature request related to a problem? Please describe.
I am using ASP.NET Core and tries to validate my view model using the `UrlAttribute` but my property is of the `Uri` data type.

### Describe the solution you'd like
[`UrlAttribute`](https://github.com/dotnet/runtime/blob/main/src/libraries/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/UrlAttribute.cs)

[2022-04-21 14:50] vanillajonathan opened #68755 "Scheme for UrlAttribute"

[2022-04-21 14:58] jemiller0 commented on #23937
@wilson0x4d What you said is exactly how I feel about it. Looking forward to retirement. I have often theorized that all the original developers at Microsoft who created .NET quit for higher paying jobs elsewhere. Then Microsoft was left with people who didn't know the existing code base who decided to re-write everything. That might be fine if the result was something that worked better, but, tha

[2022-04-21 15:04] hez2010 commented on #68278
I managed to build a Microsoft.Windows.SDK.NET.dll for net5.0. Will test it with NativeAOT...

[2022-04-21 15:06] #67980 closed

[2022-04-21 15:18] rzikm commented on #65279
I have a WIP PR which backports bunch of test fixes to 6.0, should be up soon

[2022-04-21 15:50] lambdageek commented on #60068
@fanyang-mono
In your example see how the arguments are actually passed in `%rdx` and `%rsi` and then moved into `%xmm0` and `%xmm1`:
[code]

What this issue is about is two things:
1. making managed-to-managed calls utilize a calling convention where those `Vector128<int>` arguments oculd be passed in SIMD registers directly (so those movs aren't needed - the arguments would already be in `%xmm0`

[2022-04-21 15:51] tannergooding commented on #68323
This is basically the same boat as https://github.com/dotnet/runtime/issues/63214 and https://github.com/dotnet/runtime/issues/40353

[2022-04-21 15:51] fanyang-mono commented on #60068
Gotcha!

[2022-04-21 15:53] karelz commented on #68255
Triage: We assume it impacts also Linux and it is not OSX specific.
It seems that current behavior is by design, so updating docs is the easiest thing. However, we should revisit if there is something simple we can do to support also tunnel interfaces (VPNs).

[2022-04-21 15:58] karelz commented on #64410
NCL Note: We have tests to external servers - that would be easiest for Android to test

@marek-safar can you please triage it regarding your team's importance?

[2022-04-21 15:59] karelz commented on #66990
Mitigation checked in 7.0 (main) in PR #66992 and in 6.0.5 in PR #67226.

[2022-04-21 16:00] tannergooding commented on #61456
Likely not and on top of that `ValueX` is typically a `struct` equivalent of `X` and is not significantly different in implementation (`ValueStringBuilder` is an internal exception).

My TerraFX project provides a `ValueStack<T>` (https://source.terrafx.dev/#TerraFX/Collections/ValueStack%25601.cs,b03392691a1e5a61) and `UnmanagedValueStack<T>` (https://source.terrafx.dev/#TerraFX/Collections/Unman

[2022-04-21 16:00] AaronRobinsonMSFT commented on #68309
@cston Will the following be needed with this new API. It is in the usage example but is also noted in the Alternative design in a manner that implies it wouldn't be needed if this new API was adopted.

[code]

[2022-04-21 16:04] karelz commented on #67478
No response in 2 weeks, closing. Feel free to reopen if there is more supporting evidence in future. Thanks!

[2022-04-21 16:04] #67478 closed

[2022-04-21 16:08] karelz commented on #67509
Triage: We should likely address it in 7.0. Not super urgent.
Note: It is not related to SSL.

[2022-04-21 16:09] tarekgh commented on #53239
@lewing could you please help with @juliank question?

[2022-04-21 16:11] wfurt commented on #39835
There is "Edit" button on doc pages and anybody can submit changes for review.

[2022-04-21 16:13] mirespace commented on #68212
Hi am11,

It fixed it! Thanks a lot for your help.

[2022-04-21 16:17] cston commented on #68309
Actually, in both examples an instance of `CustomModifiersEncoder` is created. The only difference is that the proposed `FieldTypeEncoder` type includes a `CustomModifiers()` method that makes it slightly more obvious how to obtain a `CustomModifiersEncoder`.

The overall difference between use of the existing API and the proposed API is small. It's perhaps just a question of whether the API for e

[2022-04-21 16:18] karelz commented on #68149
Triage: `IReadOnlyDictionary` is strict subset of already implemented `IDictionary`, so the work is minimal. We wouldn't mind having both interfaces, unless it brings some known problems in general (API review to advise here).
BTW: The type `HttpRequestOptions` was introduced in .NET 5.

[2022-04-21 16:21] tarekgh commented on #68321
Yes, setting the `LANG` environment variable should workaround this issue. But I hope this can be fixed as @steveisok mentioned in https://github.com/dotnet/runtime/issues/68321#issuecomment-1105238997.

@steveisok will you take care with this issue? I am seeing you have marked for `6.x`.

[2022-04-21 16:22] karelz commented on #68289
Triage: We should look at frequency. Unless it happens on regular basis, given that it is not actionable, we would just keep observing.
@rzikm can you please add table like the one in #56477 in top post?

[2022-04-21 16:23] hez2010 commented on #68278
Unfortunately, my fix doesn't fix the ilc crash.

[code]

Repro:
[997755573_ComInteropApp.zip](https://github.com/dotnet/runtime/files/8532720/997755573_ComInteropApp.zip)

[2022-04-21 16:26] karelz commented on #68164
Triage: It makes sense to document example of usage for the new property.
Unsure if we can make the obsolete reason any clearer. We are open to suggestions though.

[2022-04-21 16:27] rolfbjarne commented on #68321
That's really only feasible for command-line executables. There's no user-friendly way to set LANG for normal (UI) apps.

[2022-04-21 16:29] am11 commented on #68212
Great! In the `main` branch, this file has been moved to a different location:
`src/native/libs/System.IO.Compression.Native/extra_libs.cmake`

Would you like to send a PR against `main` branch (for .NET 7+)?

[2022-04-21 16:37] tarekgh commented on #68321
Agree. The UI apps can force the culture in the startup code too. I am not suggesting that but just mentioning it.

does `en_US_POSIX` set on the device/machine? I think what is happening is there is no locale set in the environment variable `LANG` nor `LC_ALL` which causes us to fallback to invariant. `uloc_getDefault()` just return empty string I guess.

https://github.com/dotnet/runtime/blob/23

[2022-04-21 16:52] cshung commented on #64263
@WenJunJi01
The dump is fairly normal, most threads are waiting, but thread 10 is still running some JSON stuff.
No exceptions, no deadlock, what is wrong with that?

[2022-04-21 16:53] tudoranghelina91 commented on #34056
Okay @danmoseley and @marek-safar , if it's okay with you, may this issue be assigned to me?

[2022-04-21 17:06] eiriktsarpalis commented on #46399
@DDolG multi-dimensional are currently not supported. We keep this issue open in the backlog but it's not very high in our priority. As a workaround, you might consider authoring a custom converter that supports multi-dimensional arrays.

[2022-04-21 17:07] Grauenwolf commented on #68164
If it answers the four questions in the updated description, it should be sufficient.

That said, it is usual for working APIs to be marked obsolete just because a new alternative is available. That's a compile time breaking change for projects that are strictly enforcing compiler warnings.

In one project that targets both .NET Standard 2and .NET 5, I'm forced to either disable warnings or use co

[2022-04-21 17:09] steveisok commented on #64674
This is going to require RemoteExecutor support in order to work.  It's unknown if / when we'll get to that for mobile.

[2022-04-21 17:10] maryamariyan commented on #36569
This merge/additive behavior is by design.

Closing as for the moment we don't have immediate plans to add this feature.

[2022-04-21 17:11] am11 commented on #68321
Running `locale` on macOS M1 in its factory settings shows this:

[code]

This is the same case with some Linux distros, especially in minimal installation mode (or containers). IMO, we should take those cases into account if we are planning to do something about it (not only Darwin).

[2022-04-21 17:15] tarekgh commented on #68321
What are you suggesting doing here? How you will fix this on Linux? `C` locale is the `POSIX` locale which has very bad behavior with collations. That is why we fallback to Invariant when we see this locale.

[2022-04-21 17:17] terrajobst commented on #66036
* Looks good as proposed

[code]

[2022-04-21 17:23] mirespace commented on #68212
Yes. I'll do it for sure :).

[2022-04-21 17:24] joperezr commented on #68240
I'm unfamiliar with @elinor-fung's recent changes, but in case you are referring to [these](https://github.com/dotnet/runtime/blob/main/src/libraries/System.DirectoryServices.Protocols/tests/DirectoryServicesProtocolsTests.cs) tests, they are specifically for System.DirectoryServices.Protocols, and looks like the changes made on the linked changeset are touching System.DirectoryServices assembly,

[2022-04-21 17:27] #68261 closed

[2022-04-21 17:27] AraHaan opened #68339 "[API Proposal]: Add ArgumentOutOfRangeException.ThrowIfZero()"
### Background and motivation

While ArgumentNullException has ``ThrowIfNull``, there is no way to have it be followed by a call to ``ArgumentNullException.ThrowIfZeroLength(/* params here which are the same as ThrowIfNull. */)`` because it does not exist yet (I think it should exist for those who want to throw this exception when:
- the user passes in an empty ``{ReadOnly}Span<T>`` (it has no len

[2022-04-21 17:31] AraHaan commented on #68339
cc: @dotnet/area-system-runtime

[2022-04-21 17:33] NickCraver opened #68340 "Windows: Implement a way to enable color in console even when the output is redirected"
This is a follow-up to #33980 which was closed as fixed by #47935, but only for Unix/Linux, because Unix and Windows use a different PAL for the tail end of console. The ultimate feature was enabling a new environmental variable: `DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION`, which when set to `1` or `true` will still emit color codes when the console is redirected (e.g. under CI conditions

[2022-04-21 17:33] tudoranghelina91 commented on #34056
@danmoseley @marek-safar, I see that there are some exception that contain certain keywords related to time units (e.g. ticks, milliseconds, etc.) in System.DateTime. Should these be added to the resource dictionary too?

[2022-04-21 17:36] elinor-fung opened #68341 "Add common test for getting all types in each runtime library implementation assembly"
Some libraries don't have tests using every type (for example, internal types only used in hard to automate scenarios). It may be valuable to have a test that just loads all types in runtime libraries.

See:
https://github.com/dotnet/runtime/issues/68240#issuecomment-1103343367
https://github.com/dotnet/runtime/pull/68274#discussion_r854468777

cc @danmoseley

[2022-04-21 17:36] stephentoub commented on #68340
This isn't really about making DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION "work".  This is about changing Console on Windows to use ANSI escape sequences rather than using Win32 API calls as it does today.

[2022-04-21 17:38] #68240 closed

[2022-04-21 17:39] terrajobst commented on #66037
* Makes sense
    - We should rename it because `Maximal` makes it a bit difficult to add more modes later
    - `Aggressive` seems like a good name
* What is currently framed as the alternative design seems mostly complementary and helpful for libraries to participate in an overall decommission of resources when an application goes idle
    - @grabyourpitchforks mentioned that we did a similar AP

[2022-04-21 17:40] tannergooding commented on #68339
Initial thoughts:
* `object` won't work for `ref struct` types (like `Span<T>`)
* Throwing an `ArgumentNullException` for something which isn't null is generally undesirable.
* `ArgumentOutOfRangeException` is generally the more appropriate type.
* This would potentially be better as just `ThrowIfZero(int value, string paramName)`.
  * This fits the `ThrowIfNull` naming and also works for other "c

[2022-04-21 17:41] NickCraver commented on #68340
@stephentoub yeah I agree based on what I'm aware of here (admitted novice though). From the user standpoint though, that'd be the functionality/surface still to maintain existing behavior right? We wouldn't want to suddenly light up color output in all scenarios and need some control - ultimately I'm proposing the same control when this is feasible. All I know is with online tools (Actions, DevOp

[2022-04-21 17:44] am11 commented on #68321
I think in addition to porting [`get_darwin_locale`](https://github.com/mono/mono/blob/5d2e3bc3b3c8184d35b2f7801e88d96470d367c4/mono/culture/locales.c#L383), maybe also port [`get_posix_locale`](https://github.com/mono/mono/blob/5d2e3bc3b3c8184d35b2f7801e88d96470d367c4/mono/culture/locales.c#L459) at the same time? This way when `icuLocale` has `POSIX` locale, before falling back to Invariant on L

[2022-04-21 17:50] agocke commented on #51556
Would single-file work here? You would have to put the native binaries next to the app, but there would be no other .NET DLLs.

[2022-04-21 17:54] stephentoub commented on #68340
I'm not arguing for or against the scenario or its worth, just highlighting that this isn't simply a matter of flipping a switch or adding an if block to respond to the environment variable: it requires fundamentally changing what `Console.ForegroundColor/BackgroundColor/ResetColor` do.

[2022-04-21 17:54] #66970 closed

[2022-04-21 17:58] danmoseley commented on #34056
@tudoranghelina91 the strings (the exception messages) should be in the resources, yes. Those messages would include words like "ticks" and localizers can decide how to translate them.

If you mean the "parameter name" parameter to ArgumentExceptions-- those are not localized and do not go in resources. They should match the API.

[2022-04-21 17:58] wfurt commented on #68289
We can add timer to test constructor and call `Environment.FailFast` to produce core. (or use diag client)
We would need to time it so it kicks in before Helix.
That would allow us to proceed with investigation.

[2022-04-21 17:58] RyanLiu99 opened #68344 "Get rid of IHealthChecksBuilder.AddTypeActivatedCheck<T> in Microsoft.Extensions.DependencyInjection.HealthChecksBuilderAddCheckExtensions"
### Background and motivation

AddTypeActivatedCheck<T> support additional arguments to concert type constructor which implements IHealthCheck.
This sounds good idea, but it brought few issues.

First, I feel it is not really needed.

More important, it might cause memory leak.

It resolves (some) HealthCheck constructor arguments from IoC container, and not resolve HealthCheck itself from Ioc con

[2022-04-21 18:01] #66557 closed

[2022-04-21 18:01] vcsjones commented on #68339
There is also a [`ThrowIfNullOrEmpty`](https://github.com/dotnet/runtime/blob/0f989742c3b22981c2038c08c1efdf30f81c7e25/src/libraries/System.Private.CoreLib/src/System/ArgumentException.cs#L108).

Personally, I find `ThrowIfNull` and `ThrowIfNullOrEmpty` to be about 99% of my use cases.

[2022-04-21 18:06] stephentoub commented on #68339
We've said we're ok with such helpers in general (not this specific proposal), as long as they're common use cases (there are an infinite number of methods we'd have to add if we wanted to handle all of the argument validation anyone does today).  In particular, we've talked about someone needing to come up with a proposal for what the helpers should be for ArgumentOutOfRangeException in order to

[2022-04-21 18:12] wfurt commented on #64674
ServicePointManager is obsolete. I would do anything expensive to make it pass. If this depends on `RemoteExecutor` I would open single tracking issue instead of tracing each single test failure.

[2022-04-21 18:13] tarekgh commented on #68321
@am11 we are currently calling ICU `uloc_getDefault` API, which does all the logic you are mentioning here. https://github.com/unicode-org/icu/blob/main/icu4c/source/common/putil.cpp.

[2022-04-21 18:14] #68279 closed

[2022-04-21 18:18] nazar322 commented on #68323
It used to work on Big Sur 11.6.
Actually, I'm installing Big Sur and Catalina to see if it's going to work there like it used to.

[2022-04-21 18:18] wfurt commented on #67076
Could you put together draft PR to run our functional tests on that particular queue. I'm wondering if we will see some failures as well.

[2022-04-21 18:26] plaisted commented on #66037
This is possible for some scenarios but comes with downsides (cold start time, etc).  This proposal would really help with workers we have running in kuberenetes reading messages off a queue that sit idle for significant periods of time. After processing a message they hold on to a significant amount of memory (an extra 500+ Mb in some cases) that doesn't get released.  We may be able to get aroun

[2022-04-21 18:26] danmoseley commented on #68293
@eerhardt  thoughts? does this pass on your mac hardware (I assume it's 12.3 or you can update it)

[2022-04-21 18:26] xt0rted commented on #68340
This explains why I was able to get my dotnet local tools outputting color on GitHub Actions but not the dotnet cli. I'm using the helpers in [`System.CommandLine.Rendering`](https://github.com/dotnet/command-line-api/blob/dd44dd05a20bf6af02615d8363948a630e821d00/src/System.CommandLine.Rendering/Ansi.cs) which writes to `Console.Out`. I think the [ansi support check](https://github.com/dotnet/comm

[2022-04-21 18:27] terrajobst commented on #67471
* As @jkotas says, we should come up with a pattern here that we can replicate elsewhere.
    - It seems a single method that returns a value is easiest
    - Unlikely to be called in a tight loop
* Currently, the values can never change but we might decide to make these values mutable in the future. For that, it makes sense to have snapshot semantics in that we the method returns the values at th

[2022-04-21 18:30] RyanLiu99 commented on #68344
I have no permission to add label, I cannot find heath check area,  seems area-Extensions-DependencyInjection is the closest.

[2022-04-21 18:33] danmoseley commented on #68293
oh, he's out til Monday. I'll disable the test meantime (I should have done this already)

[2022-04-21 18:42] tudoranghelina91 opened #68347 "Empty string literals in Marshal.cs"
While working on #34056 I noticed that for some exceptions inside `System.Runtime.InteropServices.Marshal` some exceptions get thrown with empty string literals. Wouldn't it be better for these empty string literals to be replaced with the string.Empty constant?

e.g.
![image](https://user-images.githubusercontent.com/16164903/164531111-677293e1-4060-4515-a57f-403605e2d013.png)

[2022-04-21 18:47] terrajobst commented on #66039
* We should rename the method to make it clear that's tied to the no-GC-region feature

[code]

[2022-04-21 18:55] CodeBlanch opened #68348 "System.TimeOnly: Compact round-trip format"
Today for culture-invariant round-tripping `TimeOnly` supports the `o`/`O` format.

[code]

It would be nice if there was a more compact format akin to [`TimeSpan` `c` format](https://docs.microsoft.com/dotnet/standard/base-types/standard-timespan-format-strings#the-constant-c-format-specifier) basically `hh:mm:ss[.fffffff]` for `TimeOnly`.

Something like:

[code]

The benefit of this format woul

[2022-04-21 18:56] NN--- commented on #51556
Single file does work.

However I needed several assemblies to not be included due to license restriction, therefore I cannot afford single file.

[2022-04-21 18:59] tarekgh commented on #68348
can't you just use `hh:mm:ss`?

[2022-04-21 19:07] RikkiGibson commented on #68326
I think this is a good idea, and that this would be done by adjusting the existing analyzer/fixer in the Roslyn IDE code style layer. Tagging @CyrusNajmabadi for a second opinion.

[2022-04-21 19:10] eiriktsarpalis commented on #24460
Came across the need for such a method today while working with Roslyn incremental values. I suspect there might be value in making the `getHashCode` delegate optional, which would help accelerate scenaria like the following
[code]
Calling `GetHashCode` on a comparer that doesn't specify a `getHashCode` delegate would throw `NotSupportedException`. It is fairly common to construct comparers that o

[2022-04-21 19:10] tudoranghelina91 commented on #34056
Hey @danmoseley Sorry to bother you again. I am a bit confused regarding ArgumentExceptions. Which prefix to use? Argument or ArgumentException? is Argument prefix the same as ArgumentException prefix?

[2022-04-21 19:22] ViktorHofer commented on #68341
@elinor-fung  As this is a test coverage problem I'm removing the infrastructure label and changing it to Meta.

[2022-04-21 19:30] CodeBlanch commented on #68348
You can do it with a custom format string, yes. I think the format would need to be `HH':'mm':'ss.FFFFFFF` though.

Basically this issue is because I think this would be useful/common enough that it should be a standard format. We can just leave this out there to see if anyone else feels the same. #53539 is proposing the same format which will probably need the support to go into #53768.

PS: This

[2022-04-21 19:34] danmoseley commented on #34056
Hello, I'm not sure what you're referring to. Could you give me some links into the places in the code?

[2022-04-21 19:40] jkotas commented on #68347
There is no practical functional or performance difference between `string.Empty` and `""` (generates negligibly smaller IL). It is a matter of personal preference on which one to use.

For reference, the libraries subdirectory in this repo has 6_000 instances of `string.Empty` and 21_000 instances of `""`.

[2022-04-21 19:46] CyrusNajmabadi commented on #68326
Yup.

[2022-04-21 19:49] tarekgh commented on #68348
I am wondering why `O` is not enough for your scenario. Is it for display reason to avoid showing the seconds fraction when it is 0?

[2022-04-21 19:58] danmoseley commented on #68341
as mentioned in the original comment -- do folks think this trick would work, so we only write a single test: we put it in a common file that was included in all test assemblies, with a single test that enumerates all loaded assemblies and does GetTypes on each.
potential issues
- does it matter that the same fully qualified test name is in multiple assemblies
- how do we make this test run late (

[2022-04-21 20:00] danmoseley commented on #68347
these can be replaced with `throw new ObjectDisposedException()` though.

[2022-04-21 20:04] jkotas commented on #68347
`ObjectDisposedException` does not have a parameter-less constructor.

[2022-04-21 20:05] jkotas commented on #68347
It can be replaced with `new ObjectDisposedException(null)` that's tiny bit better than empty string.

[2022-04-21 20:06] tarekgh commented on #53539
@layomia

For the format section in your description https://github.com/dotnet/runtime/issues/53539#issue-908514507. are you going manually use the listed format? or you can just use `O` specifier? or you see any difference?

[2022-04-21 20:07] danmoseley commented on #68347
Oh - I missed that it's private. Yup.

[2022-04-21 20:07] tlakollo commented on #68243
Current analyzer delivered with the `ILLink.RoslynAnalyzer` package has the following attributes:
- Analyzer generates a warning every time a method/type has the `RequiresDynamicCodeAttribute` and is referenced by another member.
- There are two code fixers related to this analyzer, one that suggests marking the caller with `RequiresDynamicCodeAttribute`, and another one that suggests marking the

[2022-04-21 20:09] tudoranghelina91 commented on #68347
Well, it makes more sense to me as well. I'm up to take this one too since I brought it up

[2022-04-21 20:12] lambdageek commented on #66361
This is done on the runtime side.   The android team is continuing the work on https://github.com/xamarin/xamarin-android/pull/6940

[2022-04-21 20:12] #66361 closed

[2022-04-21 20:12] elinor-fung commented on #68341
It'd be nice if we could narrow it down more, since I think there would be a lot of duplication in what is being tested. Do libraries tests assemblies have any tracking / way of determining what the product assembly under test is? If the test 'knows' what the target product assembly is, it could explicitly load and get all types.

[2022-04-21 20:19] tudoranghelina91 commented on #34056
https://github.com/dotnet/runtime/blob/e09903f9b1bee58e5def96007e9fd743685ef8e2/src/libraries/System.Private.CoreLib/src/Resources/Strings.resx#L190

https://github.com/dotnet/runtime/blob/e09903f9b1bee58e5def96007e9fd743685ef8e2/src/libraries/System.Private.CoreLib/src/Resources/Strings.resx#L1531

https://github.com/dotnet/runtime/blob/e09903f9b1bee58e5def96007e9fd743685ef8e2/src/libraries/Syste

[2022-04-21 20:22] jkotas commented on #68347
Feel free to include this change in the PR you are working on.

[2022-04-21 20:41] danmoseley commented on #68291
we already have retries here, but evidently those were successful or not needed as there would have been an exception. So `pcc.ReadCategory())` gave us 0 values.

[code]
we should update to retry if there were 0 values. basically add an optional `retryWhen` delegate to RetryOnAllPlatforms that just passes through to the same named parameter on RetryHelper.Execute.  (Tweak if there are other tests

[2022-04-21 20:52] jkotas commented on #34056
Yes, we are not consistent in using prefixes for resource strings. Pick the one that makes the most sense to you.

[2022-04-21 21:32] terrajobst commented on #53751
This could be closed then, right?

[2022-04-21 21:40] tarekgh commented on #68021
@soroshsabz thanks for your reply.

Looks like you are concerned about the programming errors when using the ObservableGauge more than real metrics functionality. Considering the concern mentioned in the comment https://github.com/dotnet/runtime/issues/68021#issuecomment-1100226030 and there is a simple workaround mentioned by @noahfalk https://github.com/dotnet/runtime/issues/68021#issuecomment-1

[2022-04-21 21:40] #68021 closed

[2022-04-21 21:50] buyaa-n commented on #68243
Completely agree, thank you for explaining how that ILLink analyzer works, good to know

[2022-04-21 21:57] #61563 closed

[2022-04-21 22:02] eiriktsarpalis opened #68353 "System.Text.Json incremental source generator performance issues"
The [System.Text.Json.SourceGeneration.Roslyn4.0.Tests](https://github.com/dotnet/runtime/blob/233c40e0fd07924d29f1b6eee6ee9be969a72690/src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/System.Text.Json.SourceGeneration.Roslyn4.0.Tests.csproj) project defines ~35 large `JsonSerializerContext` classes, resulting in approximately 3500 generated source files. The size of th

[2022-04-21 22:11] #67216 closed

[2022-04-21 22:14] CodeBlanch commented on #68348
Here are a few examples. Basically the fractional units get compacted or are not written at all, depending on the value:

[code]

[2022-04-21 22:42] #64416 closed

[2022-04-21 22:55] wfurt commented on #68310
Just to elaborate little bit more:

![image](https://user-images.githubusercontent.com/14356188/164564055-e3c8e45a-4157-4d2b-bd11-3eabcc9ebb4d.png)

The example above is TLS 1.0 session. The first frame comes in as sslv2/Unified formatted hello and server respond with "normal" TLS 1.0 ServerHello. This generally prevents any TLS extensions but it would achieve TLS 1.0 security e.g. no real ssl2 in

[2022-04-21 23:14] tarekgh commented on #68348
I am wondering about your scenario that needs the compact form and the full form is not acceptable. Note, most of the time, TimeOnly will not have such milliseconds without smaller fraction as you see in TimeSpan especially when dealing with system time which I guess will be your scenario. So, it is unlikely to run into cases need to compact the output.

Just in case if anyone wants to get this be

[2022-04-21 23:46] danmoseley opened #68357 "Read_Archive_File failing due to access denied to tar/pax/file.tar"
[code]

Runfo Tracking Issue: [Read_Archive_File failing due to access denied to tar/pax/file.tar](https://runfo.azurewebsites.net/tracking/issue/328)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Results|Run Client|
|---|---|---|---|---|---|---|---|
|[1731439](https://dev.azure.com/dnceng/public/_build/results?buildId=1731439)|[runtime](https://dnceng.visualstudio.com/public/_build?defin

[2022-04-21 23:46] danmoseley commented on #68357
cc @carlossanlop

[2022-04-21 23:54] danmoseley commented on #68357
[code]
can run concurrently with
[code]

[2022-04-22 00:01] noahfalk commented on #23937
I think this got directed to the wrong devs, we want https://github.com/orgs/dotnet/teams/area-system-diagnostics-tracesource for this. Thanks @tarekgh for helping clarify ownership here and I noticed @jkotas fixed the label, appreciate it!

[2022-04-22 00:02] #68262 closed

[2022-04-22 00:03] danmoseley commented on #67948
Not Mono specific, not OS specific, failing on 1x per day.

[code]

|Method|Pipeline|Pipeline_Configuration|OS|Container|Arch|Finished|Build|Message|
|---|---|---|---|---|---|---|---|---|
|RoundTripCollectionsDictionary|runtime-extra-platforms|Release|windows.10.arm64.open|Windows.10.Arm64.Open|arm64|2022-04-10 10:36:11.0780000||Assert.Equal() Failure<br>Expected: 2019-08-01T00:00:00.0000000-07:00

[2022-04-22 00:10] danmoseley commented on #68290
In the last 30 days, these are the tests causing System.Threading.Tasks.Tests to time out:
[code]
It is not specific to flavor, not specific to runtime. It only happens on osx.1200.amd64.open in the last 30 days and all but 2 cases since the start of the year were osx.1200.amd64.open.

[code]

|Queued|FriendlyName|ExitCode|Status|ConsoleUri|PhaseName|Pipeline|RuntimeFlavor|BuildId|QueueName|Source

[2022-04-22 00:11] danmoseley commented on #68289
I've never seen this before -- it seems these tests are all jammed waiting on some common resource for 15 minutes?

[2022-04-22 00:11] danmoseley commented on #68357
I'll throw up a fix

[2022-04-22 00:15] wfurt commented on #68289
Similar to https://github.com/dotnet/runtime/issues/55642. It was thread pool issue back then. I'm not sure if related. cc: @kouvel just in case.

[2022-04-22 00:20] AraHaan commented on #68339
perhaps an ``ThrowIfNullOrEmpty`` should be in ``ArgumentOutOfRangeException`` to where it throws ``ArgumentNullException`` when null, or ``ArgumentOutOfRangeException`` when it's empty?

[2022-04-22 00:24] danmoseley commented on #67816
No hits since the new diagnostics were added.

Execute: [Web](https://dataexplorer.azure.com/clusters/https%3a%2f%2fengsrvprod.kusto.windows.net/databases/engineeringdata?query=H4sIAAAAAAAEAI1SwU4CMRC9k%2fAPzZ4gIYvoGQ6iGDgYBI0HYkylIzvY7WxmugKJH2%2b3ywJHTm1n3nvz%2btp34p%2bph1zarT%2b1y4BBTRjBGXt41jmo4VAly4MERPoKe5%2fOhFy6pJLX8AQOWHsMhQWJPbi7dDAIKPGSnNXUSwklGDVSekOdW9M9tx736MdkAmakbtqtfr9pLL32pcTZE40

[2022-04-22 00:30] AraHaan commented on #68339
perhaps dotnet/runtime could use ``ThrowIfOutsideRange``?

[2022-04-22 00:34] danmoseley commented on #67233
I spent some time with the query below but found no evidence of recent failures with no output like this. There are periodic bad exits for these tests, mostly in GC stress but no common pattern. Hard to action messages like "END: coreclr_initialize failed - Error: 0x80004005". If such issues are a problem, we should open an issue with their distinctive output.

Execute: [Web](https://dataexplorer.

[2022-04-22 00:34] #67233 closed

[2022-04-22 00:40] buyaa-n opened #68359 "System.Net.WebSockets.Client.Tests.MemorySendReceiveTest.SendReceive_Concurrent_Success test fails on CI"
System.Net.WebSockets.Client.Tests.MemorySendReceiveTest.SendReceive_Concurrent_Success test fails on CI leg `Build Browser wasm Linux Release LibraryTests` on [PR](https://github.com/dotnet/runtime/pull/68158/checks?check_run_id=6112001335)

[code]
[Log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-68158-merge-cb24ef6a744f45be8b/WasmTestOnBrowser-System.Net.WebS

[2022-04-22 00:44] danmoseley commented on #68357
I take that back. They don't write to the tar file. But we open tar files to read them with FileShare.None.

https://github.com/dotnet/runtime/blob/a685d88a0c6094340f78c6371507eb222e9f15b2/src/libraries/System.Formats.Tar/src/System/Formats/Tar/TarEntry.cs#L438
https://github.com/dotnet/runtime/blob/a685d88a0c6094340f78c6371507eb222e9f15b2/src/libraries/System.Formats.Tar/src/System/Formats/Tar/Ta

[2022-04-22 00:44] #64169 closed

[2022-04-22 00:48] akoeplinger opened #68360 "Extract_HardLinkEntry_TargetInsideDirectory test from System.Formats.Tar.Tests fails on Android/iOS/tvOS"
Newly added test from https://github.com/dotnet/runtime/pull/67883 fails on runtime-extra-platfroms.
I haven't investigated whether it is expected, just filing this so I can disable the test with ActiveIssue.

Android fails with
[code]

iOS/tvOS Simulators fail with

[code]

FYI @carlossanlop

[2022-04-22 00:54] stephentoub commented on #68360
I expect this is the same root cause as what's being fixed in https://github.com/dotnet/runtime/pull/68361.

[2022-04-22 00:57] akoeplinger commented on #68360
I don't think it's the same issue.

[2022-04-22 01:32] davidfowl commented on #67391
This looks pretty good. I want to say we have something like the second bullet before but maybe not.
cc @eerhardt

[2022-04-22 01:35] carlossanlop commented on #68357
Thanks @danmoseley for sending the fix.

[2022-04-22 01:48] NiubilityOptimus commented on #68316
thanks,Changing the struct to a class does solve this problem, but I don't think it's a good idea, so I'm using “ref”, but the compiler reminds “ref struct” that it can't inherit interface

[2022-04-22 01:56] NiubilityOptimus commented on #68316
I used structs because I overridden the operators and I thought using structs would improve performance。
`[MethodImpl(MethodImplOptions.AggressiveInlining)]
        public static implicit operator Packet1?(byte[] buffer)
        {
            Packet1 f = new();
            return FromArray(buffer, f);
        }
        [MethodImpl(MethodImplOptions.AggressiveInlining)]
        public static implic

[2022-04-22 02:02] danmoseley commented on #67768
#68290 has more info

[2022-04-22 02:02] #67768 closed

[2022-04-22 02:10] danmoseley commented on #67601
In the last 60 days it's occurred 37 times

Execute: [Web](https://dataexplorer.azure.com/clusters/https%3a%2f%2fengsrvprod.kusto.windows.net/databases/engineeringdata?query=H4sIAAAAAAAEAG2PsU7DQBBE%2b0j8w8hNSGOlSmdKS0YCFBIp9XE7Chc7e%2bj2DETi47mQgBuq1ey8Ge1uafmZNg7ZcDP7wiEGRR9UmqDKhF1MfZd5NET9E538y97Hlx%2bszE7OwMcrE4H1yJGCO7h9vF0tZTF5v41tClQZTo%2fuSDQNqs3Jyrrunuo2DLyqncu%2bxOptOdqqqeXywDk3b10Y5pPz

[2022-04-22 02:18] danmoseley commented on #68291
https://github.com/dotnet/runtime/issues/60933 is similar: retries needed on the ctor in those cases.

[2022-04-22 02:20] danmoseley commented on #67601
There is one test already with retries FileSystemWatcher_File_Create_EnablingDisablingNotAffectRaisingEvent and it does not appear above. I'll try this for the others.

[2022-04-22 02:26] #68357 closed

[2022-04-22 02:33] danmoseley commented on #67601
Apparently it's not a problem on mac ?
[code]

[2022-04-22 02:55] wfurt opened #68366 "Enterprise authentication tests are failing with PlatformNotSupportedException"
https://dnceng.visualstudio.com/public/_build/results?buildId=1730894&view=logs&j=47c231e8-52e2-5eb6-8574-66afcfcee82a&t=df5b78b1-c065-5bb1-4636-fc7a07ab8e6a

[code]

This seems to be regression from https://github.com/dotnet/runtime/pull/66879 @filipnavara. I look at the change again and nothing obvious pop up but I sync code just before the change and everything would pass.

It seems to fail on

[2022-04-22 03:08] danmoseley commented on #68360
@carlossanlop

[2022-04-22 03:18] dement6d opened #68369 "HttpResponseMessage.ToString() prints Content as an object"
### Description

The `HttpResponseMessage.ToString()` method appends Content as a `System.Net.Http.HttpConnectionResponseContent` object instead of printing the actual content

### Reproduction Steps

Use HttpResponseMessage.ToString()

### Expected behavior

I expect the `HttpResponseMessage.ToString()` method to print the content itself not just the object type, or at least print both

### Actua

[2022-04-22 03:42] JamesNK opened #68373 "HTTP/2: Possible race when receiving HEADERS and RST_STREAM together"
### Description

Kestrel has recently updated how HTTP/2 is written. One of the changes is to what happens if a request is ended and then the request is immediately reset. At a frame-level, Kestrel is writing a HEADERS frame with an END_HEADERS flag, then writing a RST_STREAM. Before, Kestrel would pause after writing HEADERS, as the bytes are flushed to the client. After the update, Kestrel would

[2022-04-22 03:45] JamesNK commented on #68373
cc @davidfowl

[2022-04-22 04:07] mingyaulee opened #68374 "Make `mono` CSP Compliant"
In the effort to [remove `unsafe-eval` CSP requirement from Blazor WASM](https://github.com/dotnet/aspnetcore/issues/37787), the mono runtime also needs to be CSP compliant by removing the need for `unsafe-eval`.

Although issue https://github.com/dotnet/runtime/issues/59416 has been resolved, the runtime is still not CSP compliant, with the following lines requiring the `unsafe-eval` CSP:

https:

[2022-04-22 04:27] hez2010 commented on #68278
Did some investigation, it failed to compile this method:
[code]

[2022-04-22 04:37] MichalStrehovsky commented on #68278
ILDASM of that method is very weird:

[code]

Notice the `ldtoken    !'!0'` and `ldtoken    !'!1'`. This should be just `ldtoken !0` and `ldtoken !1` (first generic argument of the containing class). I've never seen `!'!0'`. Things are quite broken in that assembly.

[2022-04-22 04:40] ManickaP commented on #68369
This is on purpose, you cannot read the response content stream multiple times. Reading in `ToString` would break consuming it from the application. Apart from that, you can also have scenarios like duplex streaming where the response stream is actually streaming and is not just a small text body, so printing it whole is impossible.

[2022-04-22 04:41] hez2010 commented on #68278
The enclosing class has a signature
[code]

[2022-04-22 04:50] MichalStrehovsky commented on #68278
Ah, I see. So the `<TResult, TProgress>` part is part of the type name and the actual generic parameters are unnamed. That is a pretty confusing setup but okay I guess.

[2022-04-22 05:10] wfurt commented on #68369
ToString is really only primitive debug. There was never intention for to print everything.

[2022-04-22 05:26] hez2010 commented on #68278
I tried compile with un-IIDOptimizer-optimized assembly, but it still fail to compile:
[code]

I hit several assets:

<details>
<pre><code>
---- DEBUG ASSERTION FAILED ----
---- Assert Short Message ----

---- Assert Long Message ----

   at Internal.TypeSystem.TypeSystemComparer.Compare(MethodDesc x, MethodDesc y) in D:\source\repos\dotnet\runtime\src\coreclr\tools\Common\TypeSystem\Sorting\TypeS

[2022-04-22 05:31] hosseinitabar commented on #715
Our code was working just fine under .NET 3.1. We were using this code:

[code]

And after we upgraded to .NET 6.0, it broke.

What is the problem? How 3.1 supported this?

[2022-04-22 05:35] filipnavara commented on #68366
I will have a look, probably on Monday. The weird thing is that the PR should not change anything at all for Linux builds.

[2022-04-22 05:39] jkotas commented on #68278
The crash with IIDOptimized bits is due to this TODO: https://github.com/dotnet/runtime/blob/4881a639e7c3f27b5a8d2d160e234d8055333cda/src/coreclr/tools/aot/ILCompiler.Compiler/IL/ILImporter.Scanner.cs#L998

[2022-04-22 05:40] filipnavara commented on #68366
Ah, actually there's the change to verify the last token after successful authentication (in AuthenticationHelper.NtAuth.cs). That could be related.

[2022-04-22 05:52] jkotas commented on #68278
@hez2010 Would you mind to make a fix in WinRT that sets `beforefieldinit` bit  on the GuidPatcher generated types? It will make the generic GuidPatcherImplementationDetails constructors more efficient (and also avoid the compiler crash).

[2022-04-22 06:01] #61257 closed

[2022-04-22 06:19] davidfowl commented on #68344
You're saying we should delete the API and break people that were using it? How about we add a remarks to the API or potentially add an analyzer that puts out a message about this API.

This API is still useful if your health check itself isn't disposable but has disposable dependencies...

[2022-04-22 06:31] hez2010 commented on #68278
I tried to emit `beforefieldinit` but the compiler is still crashing.

[2022-04-22 06:45] sameerbaveja commented on #68365
@ChrisHolcomb  I tried what you suggested. Now i am not getting DLL error.

**New Error:** The feature is not supported.

**Code :**

            LdapDirectoryIdentifier ldi = new LdapDirectoryIdentifier("", 389, true, false);
            LdapConnection lc = new LdapConnection(ldi);
            lc.AuthType = AuthType.Kerberos;
            lc.Bind(new System.Net.NetworkCredential("", "", ""));

[2022-04-22 06:49] eiriktsarpalis commented on #68353
cc @chsienki

[2022-04-22 06:54] kouvel commented on #68289
There was a thread pool issue that was fixed recently in https://github.com/dotnet/runtime/pull/68171. It looks like the build for this run was from Apr 14 and does not include the fix, though not sure if it would be related.

[2022-04-22 06:57] filipnavara commented on #68366
FWIW here's the [commit](https://github.com/dotnet/runtime/commit/7fc299549dc272a7e3abd7b89f78b39cc7d034b2) that added the check. It may have just never been run for the HTTP authentication because of the ignored last negotiation token. Furthermore, it is totally valid and normal for NTLM to upgrade to confidentiality.

[2022-04-22 07:02] denisenko93 commented on #68123
@stephentoub, what do you think about this?

[2022-04-22 07:09] roji commented on #715
@hosseinitabar .NET Core and .NET 5+ do support TransactionScope on a single database - but they don't support distributed transaction, which is when the same TransactionScope encompasses more than one database.

As for your specific problem, please open a separate issue with a full, runnable code sample showing the code that works in 3.1 but fails in 6.0.

[2022-04-22 07:25] ManickaP commented on #756
From https://github.com/dotnet/runtime/pull/68288/files/31623532e423818c011bf0ddc267216e7526f7a5#r855163759, we cannot ever assume any error code, they always have to come from an application layer. Either as a parameter or as some default settings. Problematic part:
https://github.com/dotnet/runtime/blob/a806647da556f19a5e9476f85758c373814d5251/src/libraries/System.Net.Quic/src/System/Net/Quic/Im

[2022-04-22 07:36] MichalStrehovsky commented on #68278
If the crash is the above assert, that one is likely https://github.com/dotnet/runtimelab/issues/153

[2022-04-22 07:39] ViktorHofer opened #68376 "Test failed: GC\LargeMemory\API\gc\gettotalmemory\gettotalmemory.cmd"
Build: https://dev.azure.com/dnceng/public/_build/results?buildId=1731421&view=ms.vss-test-web.build-test-results-tab&runId=46913906&resultId=101789&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

Configuration: `mono windows x64 Release @ Windows.10.Amd64.Open`

[code]

[2022-04-22 07:59] ViIvanov commented on #24460
Not sure, that `NotSupportedException` is a part of equality comparer (`IEqualityComparer<>` or `EqualityComparer<>`) contract 🤔
Someone can expect `NotimplementedException` or even some `ArgumentException` in that case.

Maybe, for your cases it is better to use explicit delegate?
[code]

[2022-04-22 08:12] hez2010 commented on #68278
I think the assert is different from the issue in the top post, and I only saw the assert when I tested against the assembly which was not modified by the IIDOptimizer.
As for the issue in the top post, I didn't see any assert before the compiler crash.

[2022-04-22 08:30] amis92 commented on #68262
Any chance for this to be backported as a bugfix into 6.x packages, or is it too much of a breaking-unbreaking thing? I've found out because one of my dependencies pulled in higher version and so I couldn't really downgrade and had to make a workaround, and with 6.0 being LTS, this bug will keep being there in many places.

[2022-04-22 08:47] huoyaoyuan commented on #68316
Generally, mutable structs can cause a lot of problems. Shadow copying is a commonly seen one.

An easy solution without breaking a lot is to use C# 10 `record struct` and `with` expression.

[2022-04-22 09:39] marek-safar commented on #64410
We don't have any http3 specific goals for net7 so moving this to future.

@steveisok

[2022-04-22 09:57] rzikm opened #68380 "[QUIC] Support opening a new QUIC stream on the first connection that has streams available."
Currently, we use only a single HTTP/3 connection per client (as specified by RFC). However, scenarios like gRPC and server-to-server connections can benefit from using multiple HTTP/3 connections for performance reasons.

We need to design QuicConnection API such that it is possible to open a new stream on the first QuicConnection from the group that has available streams (within peer's advertise

[2022-04-22 10:11] svick commented on #46272
@jkotas

I think that in an ideal world, `GetMembers()` should return members in the order in which they were declared. I.e. for `class C { int f; void M() {} }` it returns "`f`, `M`", but for `class C { void M() {} int f;  }`, it returns "`M`, `f`".

Concatenating lists does not give you that. But, as far as I know, the runtime has no information about this kind of order, since compilers don't en

[2022-04-22 10:17] vanillajonathan commented on #68296
There could also be a convenience method (a getter) to get the part before the `+` and one getter for the part after the `+` but before the `@`.

[2022-04-22 10:30] tmds commented on #67837
@adamsitnik @Jozkee do you have feedback? Can this move to _ready for review_?

[2022-04-22 10:46] ollie10 commented on #1366
Hello @eiriktsarpalis @layomia @danmoseley , any news on this topic? I just posted a [question on StackOverflow](https://stackoverflow.com/questions/71967431/system-text-json-unable-to-deserialize-doubles-properly-with-culture) becuas it's still happening, 2 years after has been reported...

Nothing to do? Many thanks

[2022-04-22 10:49] WenJunJi01 commented on #64263
Sorry I'm not very clear either. I'll keep watching to see if this problem reappears in future tests.

[2022-04-22 11:51] karelz commented on #53533
Given the load on the team and our capacity, I don't think we will be able to do anything meaningful in 7.0.

[2022-04-22 11:58] gregsdennis commented on #68128
I just remembered that I had another use case in that other issue that bears mentioning here: returning nodes from methods.

Given the method signature:

[code]

it's impossible to know whether the returned value, either a node or null, was found or not.  Perhaps the location exists and contains a null; perhaps it doesn't exist.  We can't know for sure.

Therefore, as a developer, I'm _forced_ to

[2022-04-22 12:09] eiriktsarpalis opened #68384 "Running dotnet test in libraries failing to execute net462 targets"
Running the following command from the base of the runtime repo
[code]
Will produce the warning
[code]
Tests run as expected when using the `Test` target:
[code]
This is an issue for my workflow, since running `dotnet test` solution-wide will skip all our netfx targets.

cc @ViktorHofer

[2022-04-22 12:13] krwq commented on #68128
I'm ok with supporting this assuming there is no other way but I don't like the proposed enum names, what about (don't know if it makes it sound any better):

[code]

@gregsdennis @FiniteReality assuming this gets approved by API review we currently don't have cycles to spend time on this - at earliest next release we would consider adding this and assuming time allows someone would implement it.

[2022-04-22 12:15] Jonathan-a35y opened #68385 "DateTime.ParseExact/ToString: inconsistent handling of abbreviated month names (MMM) in culture de-DE"
### Description

When trying to parse DateTime values from a string using (Try)ParseExact using culture de-DE, abbreviated month names are not parsed/formatted according to the culture's `DateTimeFormat.AbbreviatedMonthNames` (using format specifier MMM).

### Reproduction Steps

Demo project can be found here: https://github.com/Jonathan-a35y/dotnet-datetime-bug

### Expected behavior

DateTime.T

[2022-04-22 12:34] wegylexy commented on #49972
Unlike a TCP stream, which is the connection, QUIC multiplexes streams over a single connection.
Correct me if I am wrong. In HTTP/2, requests are multiplexed with frames on the same stream. In HTTP/3, each request has its own lightweight stream exclusive for that particular request. Resetting a QUIC stream aborts it. This is how HTTP/3 works over QUIC.
Nevertheless, it may be possible to reuse th

[2022-04-22 12:44] eiriktsarpalis commented on #1366
@ollie10 we haven't been able to prioritize this issue yet. Have you considered trying some of the suggested workarounds, like using a custom converter for decimal?

[2022-04-22 12:47] ollie10 commented on #1366
At the moment i'm passing it as a string as another parameter and then deserializing it manually but it's as said a workaround...

[2022-04-22 12:48] pkErbynn opened #68387 "Failure processing application bundle. Bundle header version compatibility check failed."
### Description

When publishing a .net 6.0 (sdk 202) on an windows x64 system using `AppHost` result in,
[code]
...meanwhile, the application launches successfully with target framework dotnetcore 3.1

### Reproduction Steps

Install either .net sdk 101 or 202 on windows

publish a .net core 6.0 console project with
dotnet publish --self-contained true -c Release /p:PublishSingleFile=true

### Ex

[2022-04-22 12:50] wegylexy commented on #756
An application may want to specify a default error code for the default disposing behavior.
[code]
Otherwise, the entire connection should be aborted as the application is leaking a stream out for possible finalizer thread blocking during garbage collection or other undefined consequences.

[2022-04-22 12:51] rzikm commented on #65098
The test failures stopped occuring on 04/15, when wfurt's fixes were merged, so we can consider this resolved.

[2022-04-22 12:51] #65098 closed

[2022-04-22 12:56] Chandra123539 opened #68388 "HostFxr fails to Initialize the host context when tried from a Native Code which is a Part of another .Net App"
### `Issue`

HostFxr fails to Initialize the host context when tried from a Native Code which is a Part of another .Net App.
we are trying to achieve a requirement where ASP.NetCore/.Net Core App loads a Linux .So by PInvoke and that Linux .So in turn tries to load another Managed Assembly.  This is where the issue Occurs.

**Target Platform is Linux or WSL.**

When the Core App starts in Linux,

[2022-04-22 12:59] eiriktsarpalis commented on #1366
That should not be necessary if you register a custom converter for your type, see https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-converters-how-to?pivots=dotnet-6-0

[2022-04-22 13:04] Ben3094 opened #68389 "System.IO.Ports support for Android"
Hello,
All is almost ready for SerialPort access for Android devices (thanks to Linux).
Is the System.IO.Ports support for Android near to deploy?
Thank you in advance,
PS: thank you for this wonderful framework

[2022-04-22 13:06] #68315 closed

[2022-04-22 13:13] vitek-karas commented on #68387
I must admit I don't know what's going on. I tried a repro with both 3.1 and 6.0 and it works just fine.
Based on the trace/error the single-file bundle version is 1. That should only happen if the app was built for `netcoreapp3.1`. `net6.0` apps should use bundle version 6.
It's also really weird that it got to the place where it fails with bundle version 1.

If you have a repro project, that wou

[2022-04-22 13:17] jkotas commented on #68278
Hmm, no what I have expected. Could you please share the commit for cswinrt fix that you have tried?

Yes, there are two different issues. I am pretty sure we are going to hit the second one with IIDOptimizer too, once the IIDOptimizer issue is resolved.

[2022-04-22 13:27] eiriktsarpalis commented on #68353
Here's a [naive workaround](https://github.com/eiriktsarpalis/runtime/commit/49a337f65274659608a6a8cee2ef1ef46f9c4b22) that improves performance when editing the project in Visual Studio. It avoids regenerating sources for unchanged context classes by avoiding `Collect()` and invoking the source generator separately for each newly updated class. It also employs a custom equality comparer that igno

[2022-04-22 13:42] pkErbynn commented on #68387
Thank you for your response.

PS: The application is not published using the sdk but rather it is published programmatically using AppHost.

Here is the link to the project file - https://github.com/morganstanley/Crossroads/blob/migrate-dotnet-tool/src/Crossroads/Services/AppHostService.cs

[2022-04-22 13:49] ViktorHofer commented on #68384
I can repro that failure and found the culprit by emitting diagnostic files: `.\dotnet.cmd test src/libraries/System.Text.Json/tests/System.Text.Json.Tests/System.Text.Json.Tests.csproj -f net462 --diag "diag.txt"`

[code]

@nohwnd @MarcoRossignoli is that a known issue? We can't invoke net462 tests with vstest anymore.

[2022-04-22 13:52] vitek-karas commented on #68387
Let me start with a disclaimer: Using the Microsoft.NET.HostModel directly is in no way supported. We don't treat it as public API and we're likely to break it in future releases.

Looking at the code - you would probably get the behavior you're seeing if you used the 3.1 version of the HostModel package. Newer versions will not do this. Newer versions take a parameter `targetFrameworkVersion` whi

[2022-04-22 13:52] ilonatommy opened #68390 "[wasm][debugger] Add support for ValueTypes in DebuggerProxyAttribute"
Runtime does not support invoking .ctor on ValueType.

Reproduction: remove `return null` from `GetValuesFromDebuggerProxyAttribute` and uncomment //FIXME: Issue #68390
https://github.com/dotnet/runtime/blob/87645922fe4b493213c6d4d9dfc936ad9c9b47b5/src/mono/wasm/debugger/BrowserDebugProxy/MonoSDBHelper.cs#L2273
Run test: `DebuggerTests.EvaluateOnCallFrameTests.EvaluateBrowsableRootHidden` with The

[2022-04-22 14:07] gregsdennis commented on #68128
(Tangentially, JSON Path is moving to recognize JSON null as a valid value as well, see https://github.com/ietf-wg-jsonpath/draft-ietf-jsonpath-base/pull/181/files.)

I'm fine with that naming.  My primary concern is enabling support.

I'd be happy to attend.  Please feel free to email me details on the review meeting as well as to what degree I need to provide implementation/tests to my GH userna

[2022-04-22 14:17] ta264 opened #68391 "#65738 causes SIGSEGV running helloworld on linux-x86 preview 3"
### Description

I can build a functional SDK for linux-x86 for .NET 7 Preview 2 once I fix #68044 and disable ReadyToRun (which causes other issues I will dig into next)

This can run a hello world application OK.

After updating to preview 3, it fails with SIGSEGV.  I bisected and the failure is introduced by https://github.com/dotnet/runtime/commit/eb8460fd29f09d12f48a265d3bfa8c68cf779654 from

[2022-04-22 14:31] hez2010 commented on #68278
I simply put `TypeAttributes.BeforeFieldInit` to every TypeDefinition constructor call.

[2022-04-22 14:36] ta264 commented on #68391
I can also confirm the same issue seems to persist in `main` as of 0e18cfda13a

Stack trace is:
[code]

[2022-04-22 14:38] danroth27 commented on #40619
@lewing @lambdageek Possible duplicate of https://github.com/dotnet/runtime/issues/68162?

[2022-04-22 14:48] mangod9 opened #68393 "`dotnet` exits with exit code `139` on linux, with a core file dumped"
Build: https://dev.azure.com/dnceng/public/_build/results?buildId=1732324&view=logs&j=6f051c1a-c3e7-5cde-411e-64125624a208&t=961bb5d4-39cc-55d0-23ed-82f28319785b

Configuration: `Build Browser wasm Linux Release WasmBuildTests`
[code]

|Build|Kind|Start Time|
|---|---|---|
[1731369](https://dev.azure.com/dnceng/public/_build/results?buildId=1731369)|Rolling|2022-21-04|
[1732324](https://dev.azure.

[2022-04-22 15:04] kant2002 opened #68394 "Cannot run tests outside of nativeaot folder"
I did try to build test using this command
[code]

This command produce following warnings
[code]

When I run tests using `src\tests\run.cmd runnativeaottests Debug` tests fails with missing `xunit.assert`.
What I'm doing wrong?

[2022-04-22 15:15] ManickaP commented on #49972
That's how I understood the issue. I think it's highly unlikely msquic would support re-using their stream object, but maybe I'm wrong, @nibanks?

[2022-04-22 15:19] nibanks commented on #49972
MsQuic stream objects are highly optimized for creation and deletion (most of the time it's just pushing and popping from a pool list). So don't really need/want to support reuse. Now, if that's not easy to do in C#, perhaps you could support reuse by just deleting the old one and opening a new one.

[2022-04-22 15:22] ManickaP commented on #49972
Yeah, I thought so, and since native memory doesn't influence GC, recreating the msquic object wouldn't have any negative impact on pooling our managed wrapper.

[2022-04-22 15:22] ollie10 commented on #1366
many thanks @eiriktsarpalis I used this solution which is more elegant even if it remains a workaround and it's weird it hasn't been covered yet. I mean, these are numbers coming from javascript, javascript doesn't allow culture when serializing / deserializing, why the default behaviour it should?
Anyway if it is useful for someone this is my code and I added the DataAnnotation the the properties

[2022-04-22 15:42] Chris-D-Turk opened #72870 "Profile Blazor WASM using Mono log profiler"
AFAIK there's currently no built-in option to profile Blazor WASM apps (cpu sampling). see dotnet/runtime#76316
But as Blazor WASM uses a Mono Runtime it should be possible to use the [Mono log profiler](https://www.mono-project.com/docs/debug+profile/profile/profiler/)?!
The devs of Uno WASM somehow managed to do this: https://platform.uno/blog/uno-platform-4-1-30-perf-boost-android-12-net-6-mobi

[2022-04-22 15:49] sab39 commented on #66773
It'd be pretty easy to solve the overhead problem through an extension method and helper class (either in the BCL or in individual codebases). A simple API might be:

[code]

There are a bunch of other and more flexible approaches (which I've wasted a bunch of time already pondering and refining before I realized the details don't actually matter here, just the general principle). I think it might

[2022-04-22 15:51] vcsjones opened #68395 "Console can allocate too much on the stack with a custom encoding"
In the unlikely scenario where the console's input is using a custom encoding, and the `GetMaxCharCount` returns a large value, this can lead to a large stack allocation.

Program to reproduce (works on macOS):

[code]

The `stackalloc` is here:

https://github.com/dotnet/runtime/blob/0e18cfda13a8136103c83442e1a649cdecc237b0/src/libraries/System.Console/src/System/IO/StdInReader.cs#L53

The value

[2022-04-22 15:57] danmoseley commented on #68290
Digging deeper, this is has never passed on macOS 12.  Another macOS 12 issue. @ViktorHofer do you have a mac?  We need to know whether it hangs for you, and if so, whether reducing [this](https://github.com/dotnet/runtime/blob/0e6d607015bbf9b42c8914873071fecbd6dfacf0/src/libraries/System.Threading.Tasks/tests/Task/TaskContinueWithTests.cs#L1244) value makes it pass, or it just hangs period.

[cod

[2022-04-22 15:58] stephentoub commented on #68395
Good catch.  Are you planning to put up a PR?

[2022-04-22 15:59] vcsjones commented on #68395
@stephentoub Yep.

[2022-04-22 16:05] danmoseley commented on #67159
@radical have you seen this happen since?

@MattGal is there any mechanism to grep recent build failure logs? I assume not.

[2022-04-22 16:07] radical commented on #67159
No

[2022-04-22 16:16] RyanLiu99 commented on #68344
David,  you are right, adding a remark or mark as [Obsolete] is better idea, and/or maybe a warning it will be removed in few version down the road. I was just trying to make my point.  Thanks

[2022-04-22 16:18] eiriktsarpalis commented on #1366
FWIW it should be possible to avoid annotating every single `double` property by adding the converter to the `JsonSerializerOptions.Converters` list.

[2022-04-22 16:22] RyanLiu99 commented on #68344
While we are keeping the API, the  improvement can be done is for health check runtime to detect if it is a IDisposable/IAsyncDisposable, and dispose it at the end of health check if so.  Health check runtime  creates instance, it is its responsibility to clean it up.

But still some health check just too expensive to be created and disposed each time. So this approach is just a comprise, still be

[2022-04-22 16:36] MattGal commented on #67159
Yes, that's what https://runfo.azurewebsites.net/ is for.  I ping @jaredpar when I get stuck because he wrote it and it's possible to make a few different small mistakes and not find stuff.

I didn't see this when it happened a month ago but it's either a bad .tar.gz or a bad mac VM that has long, long ago been deleted so if it's not happening regularly (runfo can grep this for you) it's not worth

[2022-04-22 16:36] lambdageek opened #68397 "[wasm-mt] Don't hardcode PTHREAD_POOL_SIZE"
Our build hardcodes `-s PTHREAD_POOL_SIZE=2`.  The [docs](https://emscripten.org/docs/porting/pthreads.html#compiling-with-pthreads-enabled) indicate that this could be a javascript expression instead.

From https://github.com/dotnet/runtime/pull/68232#discussion_r853668600

[2022-04-22 16:41] ta264 commented on #68391
Thanks!

[2022-04-22 16:50] tmds commented on #68322
The Host recursively goes through the content root to be able to detect changes for `reloadOnChange` configuration.

[2022-04-22 16:53] danmoseley commented on #67159
OK, thanks for the assessment.

[2022-04-22 16:53] #67159 closed

[2022-04-22 16:53] tarekgh commented on #68348
What I mean is when working with system time, the time precision is higher than milliseconds. Compact formatting of such time wouldn't be noticeable. Here is an example which uses the compact pattern.

[code]

Out something like:

[code]

Compact formatting is not helping much with that.

[2022-04-22 17:01] danmoseley commented on #64389
Using this query
[code]
I see a bunch of hangs in ReadAsync_CancelPendingTask_ThrowsCancellationException  until 4/7 when fixed by #66694. Zero hangs since.

[2022-04-22 17:01] #64389 closed

[2022-04-22 17:07] tmds commented on #68322
The difference you see between the container images may be related to `DOTNET_USE_POLLING_FILE_WATCHER` not being set in some images: https://github.com/dotnet/dotnet-docker/issues/3546.

[2022-04-22 17:11] danmoseley commented on #64153
Removing blocking - it was disabled
https://github.com/dotnet/runtime/blob/0e6d607015bbf9b42c8914873071fecbd6dfacf0/src/libraries/System.Diagnostics.EventLog/tests/System/Diagnostics/Reader/ProviderMetadataTests.cs#L94

Ah, but it was not disabled for Arm64, and it's continuing to fail there. Needs disabling for that.

[code]

|Arch|Message|Method|StackTrace|count_|
|---|---|---|---|---|
|x64|Syst

[2022-04-22 17:18] ollie10 commented on #1366
Thanks but those two were the only two in the whole application

[2022-04-22 17:23] greyhoundgames commented on #66203
This problem has shown up again after no specific change to the file in question. I tried clearing out my bin and obj folders but it did not help. Specifc error is copy and pasted below (3 errors).

For reference the project file is attached and the code is:
[assembly: LambdaSerializer(typeof(Amazon.Lambda.Serialization.SystemTextJson.SourceGeneratorLambdaJsonSerializer<EvertaleLambda.GenJsonSeria

[2022-04-22 17:34] vsfeedback opened #68402 "[wasm] Ensure that debugger proxy, and the app are compatible"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/DevToolsProxy::Run:-Exception-SystemArg/10020488)._

---
[severity:It's more difficult to complete my work]
About 8 out of the 10 times I run my Blazor UI project, Visual Studio crashes and gives me this error:
[code]
---
### Original Comments

#### Feedback Bot on 4/22/2022, 02:17 AM:

[2022-04-22 17:35] mkArtakMSFT commented on #68402
@lewing FYI

[2022-04-22 17:37] Itay2805 opened #68403 "ECMA-335 clarification about assignable-to relation"
Reading the ECMA-335 6th edition, I stumbled upon the following rule (Top of page 39) in the assignable-to relation:

[code]

This seems to implicate that verification assumes `native int` is `int32`, which is of course incorrect on most modern platforms... I can understand `int32` -> `native int` assumption, but in this case it allows both...

Is there a reason for this rule being in place that I

[2022-04-22 17:40] agocke commented on #51556
Unfortunately, there are significant technical hurdles to moving System.Private.CoreLib.dll away from clr.dll. Therefore, I don't think we'll be able to implement this any time soon.

Out of curiosity, which license prohibits use in single-file? Single-file uses embedding, so it doesn't modify the DLL in any way. It's closer to a unix `tar` file than anything else.

[2022-04-22 17:43] Danyy427 commented on #66600
@danmoseley System.Speech tests seem to be unrelated with Line Endings.
[code]

[2022-04-22 17:49] danmoseley commented on #67031
Looking at the last few they're either
[code]
or
[code]
They seemed to stop on 4/15 though (the 1st kind was last). @jkotas do you recall either of these getting fixed? I can't find them in some quick searching.

Execute: [Web](https://dataexplorer.azure.com/clusters/https%3a%2f%2fengsrvprod.kusto.windows.net/databases/engineeringdata?query=H4sIAAAAAAAEAI1QTUvDQBC9B%2fIflpwSKClFr%2fXQ%2bkFEpFKLBxH

[2022-04-22 17:54] anthonycanino commented on #66467
@tannergooding is adding the intrinsic lowering for the mono llvm path required for this implemtation, as seen in (https://github.com/dotnet/runtime/pull/61707) or is adding it to RyuJIT enough?

[2022-04-22 17:56] danmoseley commented on #67031
There is also a Windows dump (no Unix dumps for some reason). It may be unrelated. This was 4/16 on Windows 10 x64. @AndyAyersMS is this something already fixed?

[code]

[2022-04-22 17:56] AndyAyersMS commented on #68405
Utf8 Encoding: None of our PGO training scenarios reach these code paths and so they aren't well optimized.

[2022-04-22 18:00] tannergooding commented on #66467
It shouldn't be required since this is a new ISA and `IsSupported` will report `false`.

However, it is generally preferable to bring both online where possible. CC. @fanyang-mono

[2022-04-22 18:16] greenEkatherine opened #68407 "[HTTP/3] Typo in the header's name"
The [header name in QPACK](https://github.com/dotnet/runtime/blob/c55836ad3304f2d69c10d9a20de180d3d98f554e/src/libraries/Common/src/System/Net/Http/aspnetcore/Http3/QPack/H3StaticTable.Http3.cs#L149) `upgrading-insecure-requests` differs from the standard one `upgrade-insecure-requests` from [RFC](https://datatracker.ietf.org/doc/draft-ietf-quic-qpack/).

[2022-04-22 18:22] fanyang-mono commented on #66467
Yes, if it is possible, it would be nice to add intrinsics support to Mono at the same time as CoreCLR. And I could answer questions if there is any, regarding to Mono.

[2022-04-22 18:25] directhex commented on #62440
This discussion has been open since early December.

Omair's 2-line patch seems to work - if I set `/p:PrimaryRuntimeFlavor=Mono` I have `artifacts/bin/coreclr/Linux.x64.Debug/ilasm` and `artifacts/bin/linux-x64.Debug/corehost/dotnet` and `artifacts/bin/mono/Linux.x64.Debug/libcoreclr.so`. The bike shed colour is fine. The name is fine. We don't need months to agree on a name. @omajid if you PR ht

[2022-04-22 18:25] jkotas commented on #67031
- ` m_alignpad == 0` is a classic GC hole type of crash. I do not recall a fix going in in last week that would be fixing a GC hole.
- `Assertion failed 'arg.IsTemp()' is failure due to a problem in the PR (that was not merged yet).

I do not see this dump. Also, the stacktrace does not look like anything else mentioned in this issue so far.

The source generator tests are running orders of magnit

[2022-04-22 18:28] krwq commented on #68128
@gregsdennis thanks for offering help! I'll request pre-review from JSON folks first, if they have no feedback I'll mark this as api-ready-for-review and request slot during API review and will let you know

[2022-04-22 18:29] NN--- commented on #51556
For instance LGPL license requires an ability to change the provided file by customer.
If the files are packed inside a single file. it is not possible to replace an LGPL licensed assembly.

[2022-04-22 18:37] agocke commented on #62440
Sounds great, no objections on my side either.

[2022-04-22 18:40] MihaZupan commented on #68407
For reference, `KnownHeaders` uses the correct name for the QPACK index:
https://github.com/dotnet/runtime/blob/0e18cfda13a8136103c83442e1a649cdecc237b0/src/libraries/System.Net.Http/src/System/Net/Http/Headers/KnownHeaders.cs#L93

[2022-04-22 18:40] agocke commented on #51556
FWIW https://www.gnu.org/licenses/gpl-faq.html#LGPLStaticVsDynamic seems to imply that you must provide such a layout, but you aren't required to actually ship that version.

[2022-04-22 18:43] kunalspathak commented on #68408
@rzikm, @wfurt

[2022-04-22 18:43] NN--- commented on #51556
Ok. I'll check this. Thanks.

Anyway, several .NET APIs work differently in a single file in-memory and extracted environment.
This means I must also make sure both versions work the same.

[2022-04-22 18:45] krwq commented on #67816
@danmoseley actually there seem to be few hits (also I changed to 1D since I merged my second change yesterday):

[code]

seems that join is causing to show no results.

Here are few relevant stacks I found:

<details>
<summary>Stack trace 1,  at least 2 hits; error code 134</summary>

[code]

</summary>

I'm super surprised by which assert failed - quickly looking at the code further suggests som

[2022-04-22 18:48] AndyAyersMS commented on #67031
I don't know -- from the stack this seems to be related to the TC mechanism.

Looks like there is a windows dump for this merged PR: https://github.com/dotnet/runtime/pull/67184 under https://dev.azure.com/dnceng/public/_build/results?buildId=1701571&view=ms.vss-test-web.build-test-results-tab

[code]

[2022-04-22 18:56] wfurt commented on #68408
I actually experienced something similar when looking at memory allocations. https://github.com/dotnet/runtime/pull/66334 made processing of expired certificates way more expensive as on each round they would be considered expired and we would rebuild the chain over and over.

This is the RS2048 certificate from test.
[code]

I'm not sure how much we care about that, but something to consider. The

[2022-04-22 18:58] AndyAyersMS commented on #67031
Updated query to see windows failures (`-1234` is a cancelled job so excluded those)
[code]

[2022-04-22 19:00] ta264 opened #68411 "JIT_PInvoke asm stubs missing for i386"
### Description

The `JIT_PInvokeBegin` and `JIT_PInvokeEnd` stubs are missing for i386.

Currently you can compile a linux-x86 runtime and it seems functional.  However if you allow the build process to run crossgen2 on the output, the resulting product fails and throws `SIGTRAP` at runtime.

The missing stubs should be here:
https://github.com/dotnet/runtime/blob/0e18cfda13a8136103c83442e1a649cd

[2022-04-22 19:05] danmoseley commented on #67031
There are in fact Linux dumps - query error.

Execute: [Web](https://dataexplorer.azure.com/clusters/https%3a%2f%2fengsrvprod.kusto.windows.net/databases/engineeringdata?query=H4sIAAAAAAAEAH1QS2vCQBC%2bC%2f6HafCgEBOhxxIvUoulFEqVnjfZ0Yzu7oTdWazgj2%2b2YnrrbV7fYz6DAmeCCsajL%2fanjaAN49EVjkwOTuR0ZXAvAS3B9JXrAFc4t%2bgRPiJG1LAEdWCYPi70bFh9cvQNQlVB1lDZxdpQU2oWh1L66IQslh73oWxR6VBaRS6bATuYJK2il3lX9hc%2f8XRo

[2022-04-22 19:07] wfurt commented on #49972
We could add API that allows to assign new stream to existing `QuicStream` instead of always allocations new one.
like stream.Close(); stream = QuicConnection.AcceptAsync(stream, token);
We can certainly use pool allocation behind the scenes but that has also some cost and does not give choices to the caller.

[2022-04-22 19:14] jkotas commented on #67031
I have looked at number of these and they are all from JIT stress runs, typically hitting asserts in the JIT, not something that runs in standard CI by default.

[2022-04-22 19:19] agocke commented on #51556
That's true, although the single-file analyzer should now warn about most of those APIs. Based on the last year or so of customer reports, it appears that Assembly.Location is by far the most impactful.

[2022-04-22 19:20] danmoseley commented on #67031
Non JIT stress ones  too, but on checked CLR, and only up to 4/9.

let wi =
WorkItems
| join kind=leftsemi (Jobs | where Queued > ago (30d) | where Source == "ci/public/dotnet/runtime/refs/heads/main") on $left.JobName == $right.Name
| where ExitCode != 0
| where FriendlyName == "LibraryImportGenerator.Unit.Tests";
Files
| lookup kind=inner wi on $left.WorkItemName == $right.Name
| where ExitCode

[2022-04-22 19:21] NN--- commented on #51556
Definitely agree about the analyzer, it works well and very helpful, however it analyzes your code and not code of third parties.

Thanks for the answers.

[2022-04-22 19:22] danmoseley commented on #67031
It seems to me we can put aside the Linux issues and use this to track the Windows issues - @AndyAyersMS query works for those.

I probably can't debug further myself. Just trying to figure out next actions on these.

[2022-04-22 19:27] Tom60chat opened #68413 "Looping method call in a BackgroundWorker does an access violation instead of a StackOverflowException"
### Description

From [wpf](https://github.com/dotnet/wpf/issues/6469)
Discovery of a rather amusing bug.
I accidentally called a method in a loop in a BackgroundWorker but instead of having an exception and visual studio showing me where the exception took place, the application closes directly with only the message "Program exited with code 3221225477 (0xc0000005) 'Access violation'.", I was con

[2022-04-22 19:28] danmoseley commented on #66600
This Speech failure is from your own local machine?

@dotnet/interop-contrib there is no A/W suffix inference in the new source generated interop model, right?

https://github.com/dotnet/runtime/blame/main/src/libraries/Common/src/Interop/Windows/WinMm/Interop.waveOutGetDevCaps.cs#L89

if so it looks like the above edit was wrong
[code]

[2022-04-22 19:32] Danyy427 commented on #66600
@danmoseley the issue suggests that system.speech tests are broken with LF line endings on windows.

[2022-04-22 19:33] danmoseley commented on #66600
I don't think the Speech issue is a line ending issue

[2022-04-22 19:34] marcopelegrini commented on #36569
This is very counter intuitive and very easily lead to errors and waste time.
Please consider at least given developers the option to explicitly define how sections should be bound.

[2022-04-22 19:36] Danyy427 commented on #66600
@danmoseley then all of the line endings issues are fixed once generators are merged (Except for LibraryImport which I will write a issue for).

[2022-04-22 19:39] BruceForstall commented on #68306
The test was added with https://github.com/dotnet/runtime/pull/68198

[2022-04-22 19:43] stephentoub opened #68415 "Improve handling of lazy loops in regex source generator / compiler"
Lazy loops currently push/pop more state on to the backtracking stack than is generally necessary.  This can be improved.

https://github.com/dotnet/runtime/blob/6aff1a3851a89f20dbc3f11e8724df2a4f059171/src/libraries/System.Text.RegularExpressions/gen/RegexGenerator.Emitter.cs#L3188-L3197

[2022-04-22 19:46] stephentoub commented on #63300
We should ensure we have coverage of all the various optimizations we do around IndexOf/LastIndexOf, to ensure those are kicking in as expected, e.g. https://github.com/dotnet/runtime/pull/68400.

[2022-04-22 19:47] AndyAyersMS commented on #67031
Seems like this crash is perhaps related to https://github.com/dotnet/runtime/issues/67144 which was fixed on 4/15 by https://github.com/dotnet/runtime/pull/67922.

Perhaps these tests are also stressing collectable assemblies?
[code]

[2022-04-22 19:49] AndyAyersMS commented on #68306
Similar assert in https://github.com/dotnet/runtime/issues/67871 also with `JitStress = 1`.

I'll take a look.

[2022-04-22 20:01] CodeBlanch commented on #68348
👍

[2022-04-22 20:13] jkotas commented on #67031
Yes, that sounds plausible.

[2022-04-22 20:13] #67031 closed

[2022-04-22 20:20] danmoseley commented on #66600
I'm expecting the Turkish culture issue to be fixed when https://github.com/dotnet/runtime/pull/67771 is merged, or if not then soon after (we need to ingest a new MSBuild that way)

Sure, I"ll re-do this test once you are merged.

[2022-04-22 20:21] danmoseley commented on #66600
does the speech test pass if you change
`internal static partial MMSYSERR waveOutGetDevCaps(IntPtr uDeviceID, ref WAVEOUTCAPS caps, int cbwoc);` to `internal static partial MMSYSERR waveOutGetDevCapsW(IntPtr uDeviceID, ref WAVEOUTCAPS caps, int cbwoc);` (adding the W)

[2022-04-22 20:33] danmoseley commented on #68413
Hi @Tom60chat . I can't seem to repro this.

* Does this reproduce without the debugger attached (I assume you're hitting F5 in VS - start debugging)
* Can you repro it with a standalone buildable piece of code?
* Is it possible for you to run it under a native debugger and get a stack trace for the native AV?

[2022-04-22 20:40] jakubmaguza opened #68416 "Support for HTTPS proxy"
It has been a while since last conversation on this. Ssl proxies are more and more common.
I even found a company that do not support http proxies.

This topic was discussed [here](https://github.com/dotnet/runtime/issues/22026)

I'm glad there is SOCKS support in .NET 6.

Is it possible to implement https proxy support, or we are still limited by WinHTTP?
How about other platforms than Windows?

[2022-04-22 20:43] jkotas commented on #68411
This should be straightforward to add: Copy over Windows version of these asm stubs https://github.com/dotnet/runtime/blob/main/src/coreclr/vm/i386/PInvokeStubs.asm#L32-L108 and adjust them for Linux asm syntax.

[2022-04-22 20:44] AndyAyersMS commented on #68306
We set `fgDomsComputed` during `fgComputeReachability` and reset it during `fgRemoveDeadBlocks`.

Under jit-stress we then stress remorph trees after `fgDetermineFirstColdBlock` and this ends up trying to fold a conditional; this in turn calls `fgReachable` which asserts.

`fgRemoveDeadBlocks` was introduced recently by #66967, with the reset of `fgDomsComputed` happening here:

https://github.com

[2022-04-22 20:44] anthonycanino commented on #66467
Would that include the mini and llvm lowering pathway of mono, or just one?

[2022-04-22 20:44] steveharter commented on #68128
FYI the design rationale is mentioned in https://github.com/dotnet/designs/blob/main/accepted/2020/serializer/WriteableDomAndDynamic.md#missing-vs-null

The work-around is also mentioned there:
[code]

[2022-04-22 20:45] Danyy427 commented on #66600
@danmoseley the code does not compile.
[code]

[2022-04-22 20:49] danmoseley commented on #63959
Removing blocking clean ci label as I do not see any crashes of "System.Private.Uri.Functional.Tests" in the last 30 days, outside of PR validation.

Execute: [Web](https://dataexplorer.azure.com/clusters/https%3a%2f%2fengsrvprod.kusto.windows.net/databases/engineeringdata?query=H4sIAAAAAAAEAI2QQU8CMRCF7yT8h2ZPkJBtiF7xAEqCB4NB48EYU7YDDO52Np2pSuKPl26BhRunttP5Xt57b%2bS%2fZgIVdzt%2f6mcDHtTUIzhb7p5MBW

[2022-04-22 20:50] elinor-fung commented on #68388
Hi @Chandra123539, the return code `Success_HostAlreadyInitialized` is not actually an error. The [hosting layer return codes](https://github.com/dotnet/runtime/blob/main/docs/design/features/host-error-codes.md) use greater than or equal to 0 indicates success and negative values to indicate failure.

Thanks for including a repro project. I tried it out on WSL (Ubuntu 20.04 LTS). I was not able t

[2022-04-22 21:05] elinor-fung commented on #66600
Yep: https://github.com/dotnet/runtime/pull/68418

I guess the `System.Speech` tests are conditioned such that they don't end up running on PR? https://github.com/dotnet/runtime/pull/67189 was nearly a month ago.

[2022-04-22 21:28] agocke commented on #68387
cc @VSadov

[2022-04-22 21:37] gregsdennis commented on #68128
@steveharter thanks for that documentation on the rationale.  I wholeheartedly agree that the current API works when you're considering getting values into and out of the data model.  But working with the model, passing nodes around and operating on them, becomes much more difficult when JSON null is a value that you need and expect.

I appreciate the openness to this change.  Thank you.

[2022-04-22 21:51] AndyAyersMS commented on #67871
I will fix this one too.

[2022-04-22 21:54] vcsjones opened #68419 "Pkcs12Kdf can stack overflow with an exceptionally large password"
The following code will produce a stack overflow within `Pkcs12Kdf`.

[code]

This overflows calculating the length of `P`, which causes a negative value to go in to the `stackalloc` here:

https://github.com/dotnet/runtime/blob/9a0b22af8ee18c028129f0c889458a718cdee262/src/libraries/Common/src/System/Security/Cryptography/Pkcs12Kdf.cs#L133-L142

This is an unusual use case to have a password that

[2022-04-22 22:02] #45501 closed

[2022-04-22 22:10] am11 commented on #66600
`git` overrides local rules with the repo preferred ones defined in `.gitattributes` file. When we clone a repo, git first checks out this file, overrides user-defined rules then checkout the rest.

We are using `.gitattributes` in this repo. We explicitly set `csharp` to `auto`: https://github.com/dotnet/runtime/blob/9a0b22af8ee18c028129f0c889458a718cdee262/.gitattributes#L28 implying that everyt

[2022-04-22 22:15] Nican opened #68423 "How to control HttpConnectionPool throttle?"
### Description
I am failing to create a lot of concurrent connections. I have this program trying to create hundreds of concurrent connections to Twitter, and it seems to be throttled by some internal throttling mechanism that I am not sure  how to control.

The stack trace:
[code]
Here is the source code for [Tweetinvi](https://github.com/linvi/tweetinvi/blob/91cdf83b87f6c0c75d7ece6a13fce792d820

[2022-04-22 22:17] Danyy427 commented on #66600
@am11 I think that the problem arises when we attempt to compare generated code which automatically comes with <CRLF> with some form of string. For example when we have a string like:
[code]

[2022-04-22 22:21] danmoseley commented on #66600
I suggest we close this now (although it sounds like possibly an edit to .gitattribute might be helpful at some point)

@Danyy427 if you'd like you could pick up another one from the "easy" list 😸

[2022-04-22 22:21] #66600 closed

[2022-04-22 22:23] Danyy427 commented on #66600
@danmoseley I opened that issue in dotnet/roslyn-sdk, I might have messed up the issue template though :) Once that is done, I'll pick another one from the list :)

[2022-04-22 22:23] am11 commented on #66600
Yup, I was only pointing to the checkout aspect. Your changes are needed regardless, @Danyy427. :)

[2022-04-22 22:25] kunalspathak commented on #67326
Fixed via https://github.com/dotnet/runtime/pull/67788 and https://github.com/dotnet/runtime/pull/68085

[2022-04-22 22:25] #67326 closed