[2020-08-28 18:54] jkotas commented on #41379
Another topic to cover is Security: This is parser for potentially malicious input. Are these things to do for that?

[2020-08-28 18:55] vcsjones commented on #41522
Thank you very much for publishing these results! I do have a request, which is perhaps the data could be shared as a public (read only) Excel Office 365 document, complete with all of the charts. I'm not really asking for raw response data, just enough table data that was used to make the charts in the first place.

The reason I ask is because I am struggling to read the text in the images. My vi

[2020-08-28 18:56] eerhardt commented on #41359
(random side question: @lostmsu - it looks like you are building TensorFlow bindings for .NET, have you seen https://github.com/SciSharp/TensorFlow.NET? )

[2020-08-28 19:03] RUSshy commented on #41522
Yeah the screenshot are super low resolution, it's been a while i haven't used Excel, but i'm pretty sure you can save them in higher definition

[2020-08-28 19:05] jeffschwMSFT commented on #41522
Something may have been lost when I cut&pasted.  Trying that chart again.

![image](https://user-images.githubusercontent.com/9561583/91606300-b00ea400-e926-11ea-916a-dfbf9c19a95d.png)

[2020-08-28 19:06] jkoritzinsky opened #41529 "All inherited interface members should be implemented on an interface marked with DynamicInterfaceCastableImplementationAttribute"
An interface marked with a `System.Runtime.InteropServices.DynamicInterfaceCastableImplementationAttribute` attribute should provide a default interface implementation of all inherited interface methods and should not provide any new non-private interface methods without a default implementation.

[code]

**Category:** Usage
**Default:** Enabled
**Severity:** Warning

When a method is not implemen

[2020-08-28 19:29] layomia commented on #40999
Fixed in https://github.com/dotnet/runtime/pull/41490.

[2020-08-28 19:29] #40999 closed

[2020-08-28 19:31] jeffhandley commented on #33125
I left some feedback on https://github.com/dotnet/runtime/pull/41526 that likely applies to all of the obsoletions here.  I'll take a look at the other PRs though.

[2020-08-28 19:44] ManickaP opened #41530 "SyncHttpHandler_HttpClientHandler_Cancellation_Test.Expect100Continue_WaitsExpectedPeriodOfTimeBeforeSendingContent outerloop fail"
Multiple occurrences in #41022
https://dev.azure.com/dnceng/public/_build/results?buildId=792342&view=results

[console.log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-41022-merge-3f8751fb473a41a99b/System.Net.Http.Functional.Tests/console.72b10e34.log?sv=2019-02-02&se=2020-09-17T18%3A34%3A29Z&sr=c&sp=rl&sig=Zgp7c6DXlnUY6RcV3COtRyzPuXJm4%2Ff7ZmtqOSwR5g0%3D)

Er

[2020-08-28 19:46] ManickaP opened #41531 "SocketsHttpHandler_HttpClientHandler_Cancellation_Test_Http2.PostAsync_Cancel_CancellationTokenPassedToContent outerloop fail"
Multiple occurrences in #41022
https://dev.azure.com/dnceng/public/_build/results?buildId=792342&view=results

For this test input:
`System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_Cancellation_Test_Http2.PostAsync_Cancel_CancellationTokenPassedToContent(content: StreamContent { Headers = [] }, cancellationTokenSource: CancellationTokenSource { IsCancellationRequested = False

[2020-08-28 19:54] adamsitnik commented on #41521
I am installing a NuGet package, writing code that compiles perfectly fine, and then I am trying to run it. Once I get `TypeLoadException` my first thought is that I am missing some dependency (a `.dll` file) or there is a `.dll` version mismatch. Since it worked just a few days ago, I am very confused.

If the type has been removed from `net5.0` I should get a compiler error that indicates that.

[2020-08-28 19:54] #41521 closed

[2020-08-28 19:58] jkotas commented on #41521
You would get the compiler if you were not referencing old preview version of the experimental package: https://github.com/dotnet/performance/blob/master/src/benchmarks/micro/MicroBenchmarks.csproj#L42

[2020-08-28 20:04] adamsitnik commented on #41521
One of the first things I've tried was to update to latest version. According to VS update (including prereleases, using dotnet5 NuGet feed) it is not possible:

![obraz](https://user-images.githubusercontent.com/6011991/91610874-5f289b00-e97a-11ea-83ca-8233bd6464dc.png)

[2020-08-28 20:26] jkotas commented on #41521
That is the ~~compile~~ build error. The IDE is trying to be helpful by not allowing an action that would lead to a build error.

[2020-08-28 20:27] wfurt commented on #30767
fixes with sequence of linked PRs

[2020-08-28 20:27] #30767 closed

[2020-08-28 20:32] cspatig commented on #2303
Here is the Output of the failing tests: https://gist.github.com/cspatig/27b9d2663902f773b2b554327d3a23a9
Specific output for tracing.eventpipe.XUnitWrapper: https://gist.github.com/cspatig/a7e922d16c4b8190b28bb59012384aae
Specific output for profiler.unittest.XUnitWrapper: https://gist.github.com/cspatig/6c4ca52bd5f52fd233b0345dbf36653e
Specific output for Loader.binding.XUnitWrapper: https://gis

[2020-08-28 20:39] janvorli commented on #2303
@cspatig thank you! I'll take a look today or on Monday and get back to you.

[2020-08-28 20:40] adamsitnik commented on #41521
As far as I know if a newer package existed VS would show a possible update and fail after hitting the update button. Then I could go to the output tab and see the actual error. But it did not and this is why I created this issue

[2020-08-28 20:47] AndyAyersMS commented on #41521
FWIW I worked around the UTF8String issues by using an older runtime as the BDN host runtime, eg
[code]
Seems odd somehow that this works for older runtimes (including net461) and not for 5.0; from what I can tell the sources do get compiled...

[2020-08-28 20:48] wfurt commented on #3505
ok. So it is tracked separately with more details @jcmcken. And it is separate from question how to update trusted CA list on given Linux distro, right?

[2020-08-28 20:52] jcmcken commented on #3505
@wfurt I believe so. In our case, the system CA works for other tools, just not .NET. So our CA bundle seems correct.

[2020-08-28 20:55] BruceForstall commented on #36681
I found a race condition in the GCStress infrastructure which I believe causes this problem. The details are related to what Jan suggested above about a problem with `atCall`, as follows:

Consider the case of a partially interruptible function where we've replaced each call site with `INTERRUPT_INSTR_CALL` or `INTERRUPT_INSTR_CALL_32`. Even though the call site itself isn't a safe point, we put a

[2020-08-28 20:57] #41267 closed

[2020-08-28 20:59] wfurt commented on #41352
Could you recreate the certificate with different keypair and post repro @jcmcken ? That would speed up the investigation IMHO. Also what his underlying OS and OpenSSL version?

[2020-08-28 20:59] jkotas commented on #41521
The situation here is that the old preview package does not work anymore and there is no replacement. NuGet has no way to communicate that the package is dead-ended without replacement today. It is a feature request on NuGet - not the first time we have a situation like this.

It is side-effect of the creative way this package is constructed.

[2020-08-28 21:00] wfurt commented on #34635
closed by #40998

[2020-08-28 21:00] #34635 closed

[2020-08-28 21:07] eelstork opened #41534 "`string.Replace()` does not recognize the ethiopic colon `፥` on Windows"
### Description

[code]

Expected: z == "x * y"
Found: z == "x ፥ y" (Windows; unexpected result)
Found: z == "x * y" (macOS, Linux; expected result)

### Configurations

**macOS**
.NET Core SDK, Version:   3.1.300, Commit:    b2475c1295
Mac OS X 10.14 Darwin RID: osx.10.14-x64

**Linux**
NET Core SDK, Version:   3.1.302, Commit:    41faccf259
ubuntu 16.04 Linux RID: ubuntu.16.04-x64

**Windows**
.

[2020-08-28 21:07] jcmcken commented on #41352
@bartonjs I think all that information has already been shared through Microsoft support with @mahamr . I'm not really sure if I should be divulging it on GitHub, even though it's public certificates. I think GSA/fpki-guides#736 and the info in the OP should have enough info to reproduce. Basically, sign a certificate with a non-standard policy OID, with no CPS or user notice, and with "Require Ex

[2020-08-28 21:09] am11 commented on #41398
imo, the better fix would be:

[code]
to keep the support for non-Linux Unix-like operating systems intact (macOS, FreeBSD, SunOS and since so forth).

[2020-08-28 21:17] EgorBo commented on #41534
verified: not an issue on .NET 5 + Windows since it's ICU based.

[2020-08-28 21:29] #40531 closed

[2020-08-28 21:30] buyaa-n opened #41535 "Platform compat analyzer: flow analysis not working for the arguments of lambda expression"
Flow analysis not working for the arguments of lambda expression
[code]
Same for the result saved in local:
[code]

_Originally posted by @eerhardt in https://github.com/dotnet/runtime/pull/41209#discussion_r476445352_

[2020-08-28 21:32] mdh1418 commented on #40531
@carlossanlop this issue is due to emscripten not properly throwing an exception when filenames longer than 255 characters are truncated. Temporarily there is a modification to the test until the exception is thrown on Emscripten's side. I haven't gotten around to reproing in a c program for emscripten yet, but I will open an issue there and get to it later.

[2020-08-28 21:41] layomia commented on #41035
Closing as dup of https://github.com/dotnet/runtime/issues/31001.

[2020-08-28 21:41] #41035 closed

[2020-08-28 21:56] AndyAyersMS commented on #36681
I couldn't repro with upped loop counts and also with some sideloaded stress.

Note for arm32 we make multiple reads of instrPtr so perhaps the race window is much larger? It also means the fix is a perhaps bit more complex; we need to be careful to make just one read, then (perhaps?) use interlocked ops to try and update, so there's just one "winner".

[2020-08-28 21:59] richlander commented on #3447
I just noticed this with preview 8.

[code]

This is 6.8MB.

[2020-08-28 22:04] BruceForstall commented on #36681
The reason we read multiple times is to determine if we've got a 2-byte or a 4-byte instruction encoding, using `GetARMInstructionLength`. I don't think there is any other case of reading more than once. However, I don't think that matters because we always replace a 2-byte instruction with a 2-byte instruction and a 4-byte instruction with a 4-byte instruction, so the result of calling `GetARMIns

[2020-08-28 22:05] BruceForstall commented on #36681
With my fix of moving the `(!IsGcCoverageInterruptInstruction(instrPtr))` check, I've run >500 iterations without a failure. Before, it failed consistently in the first 10 or 20 iterations.

[2020-08-28 22:13] AndyAyersMS commented on #36681
I suppose we won't ever see torn reads so you are probably right about re-reads being fairly harmless.

That's great news. Thanks for digging into this one.

[2020-08-28 22:17] BruceForstall commented on #36681
There definitely are assumptions in the GCStress code about not seeing torn reads, and that any `*instrPtr` read will be `atomic`. I'm not sure how valid these assumptions are, and it does seem that switching to use interlocked operations might be safer, although perhaps with some significant performance penalty.

[2020-08-28 22:24] davmason commented on #41125
@kirsan31 @weltkante would one of you be able to verify the fix for #2240 locally? I verified that the sample app provided no longer crashes, but it would be nice to make sure that it solves the original issue for you before going through the servicing process.

I created a release on my fork of coreclr with binaries with the fix: https://github.com/davmason/coreclr/releases/tag/0.0.1

To test it

[2020-08-28 22:25] rcsprakash commented on #41528
area-System.Drawing

[2020-08-28 22:34] AndyAyersMS commented on #40810
For FannkuchRedux_9, all the key perf is in `Run`.

For windows x64 codegen from 3.1 to 5.0 is very similar. 5.0 does a few more CSEs and avoids some spills. Most CQ looks locally better, eg here is the inner loop of the last `for` in `FirstPermutation`:
[code]
Because of this loops end up aligned differently; suspect this might be the root cause for perf issues.

Similar diffs in linux x64 codege

[2020-08-28 22:44] lostmsu commented on #41359
@eerhardt well aware :) We are making a [commercial product](https://ml.blogs.losttech.software/TF-1.15-Release-Candidate/), and they are basically a competitor. TL;DR; we are more performant, and provide much more TensorFlow APIs (especially around SotA algorithms), because we work with the official builds, and expose the entirety of Python API as opposed to trying to rewrite the later manually i

[2020-08-28 23:01] BruceForstall commented on #36681
Since this is GCStress only, moving to 6.0.

[2020-08-28 23:05] BruceForstall commented on #41518
To be particular, it's only the non-VM-matching, or cross-targeting, altjits where you want this. (It's possible to have same-platform, same-architecture altjit, but more rare these days.)

[2020-08-28 23:07] BruceForstall commented on #41455
Looks like mono JIT, not coreclr JIT.

[2020-08-28 23:13] tannergooding commented on #41518
It might be beneficial to do it (or have an opt-in) even for same-architecture.

I'm thinking of cases like AVX-512 or SVE, where the amount of hardware we have that supports it is limited but where you might want to observe and do basic validation of the emitted assembly.

[2020-08-28 23:36] joperezr commented on #38610
Pushing to 6.0.0 for now as this is not required for 5.0.0 but we should finish up the investigation here.

[2020-08-29 00:07] AndyAyersMS commented on #40810
For FannkuchRedux_9, Looking at linux perf, 5.0 has fewer instructions but higher clocks (IPC is 0.99 in 3.1; 0.94 in 5.0). Branch misses are up. So some kind of micro-architectural effect, quite possibly code alignment.

[code]

[2020-08-29 00:24] AndyAyersMS opened #41542 "Jit: reconsider policy for recursive inlines"
A couple of known regressions from 3.1 to 5.0 because of #35020 leads me to think we should explore this a bit more carefully.

* BinaryTrees_2 and BinaryTrees_5:  See #40810.
* Fibonacci: See #13425.

Would be interesting to see if we run across any non-benchmark examples.

category:cq
theme:inlining
skill-level:intermediate
cost:medium

[2020-08-29 00:26] AndyAyersMS commented on #40810
Similar data for BinaryTrees_2. Here we see 5.0 has slightly better IPC but quite a few more instructions to execute;
[code]
Looking at profiles we spend quite a bit more time than I realized in `TreeNode:itemCheck` and looking at the code there, we no longer do the recursive inlines we used to do in 3.1.

So likely the main source of the perf difference in BinaryTrees_2 is from #35020.

Seems lik

[2020-08-29 00:28] AndyAyersMS commented on #40810
I think this is understood and there's nothing we can or need to address in 5.0.

So unless there are any objections I propose we close this.

[2020-08-29 00:31] lindexi commented on #40771
@ericstj No

Although this question may be used as a feature, should we add some comments or documentation to tell future developers?

[2020-08-29 00:41] buyaa-n commented on #41252
@kronic it would be better for prioritizing the issue if the `Background and Motivation` section is filled

[2020-08-29 00:48] tarekgh commented on #41534
@eelstork I cannot reproduce this problem. looks something weird happening on your environment. Could you please try it on other machine and let's know? Thanks.

[2020-08-29 00:51] gregsdennis commented on #40452
Implementation of JSON Pointer and JSON Schema using the `System.Text.Json` namespace: https://github.com/gregsdennis/json-everything

[2020-08-29 01:26] AndyAyersMS commented on #40810
Some more data -- here's the perf history of BinaryTrees_2

![image](https://user-images.githubusercontent.com/10121823/91625320-3e9d1880-e95b-11ea-9219-c4de3c76639c.png)

Timing of the regression correlates with #35020 which merged on April 15.

Similar look for BinaryTrees_5, though somehow we recovered the perf later on, so perhaps we should look into that as well.

![image](https://user-images

[2020-08-29 01:31] AndyAyersMS commented on #40810
(recovery of perf in BinaryTrees_5 may be from #38586 -- need to verify)

[2020-08-29 01:34] srxqds commented on #41522
we are embedding mono runtime, so we hope the mono aot can be continuous iteration and optimization

[2020-08-29 01:49] mangod9 commented on #41416
If you could capture a dump when the process crashes that would be useful, otherwise would be difficult to diagnose.

[2020-08-29 02:02] atotalnoob commented on #41522
I value smaller docker runtimes, a lot. Being able to compile to native would remove a very large portion of our current docker images.

[2020-08-29 02:03] davidfowl commented on #41522
Trimming without AOT would remove a very large portion of your current docker images.

[2020-08-29 03:42] eelstork commented on #41534
@tarekgh well, perhaps that is a good sign.
I will retest this when I have Windows CI setup (hopefully Wednesday).

Do you see a compile error with `char z = '፥'` ? This I could repro on win/macOS.

Ethiopic colon is U+1365

[2020-08-29 03:43] prajaybasu commented on #41522
Most scenarios that would benefit from smaller docker images also benefit from faster startup. So that's a compromise.

Also, the AOT generated code in R2R is equivalent to Quick JIT, right? Wouldn't R2R generating Tier 1 code be closer to "real" AOT?

[2020-08-29 03:53] geoffkizer commented on #41511
@ManickaP I thought this got fixed? Is this a separate issue?

[2020-08-29 04:07] reflectronic commented on #41522
Crossgen does generate "Tier 1" code. However, there are certain limitations on optimizations that can be made (for example, methods cannot be inlined between assemblies). Thus, while it still has most optimizations on, it is considered "Tier 0" in the sense that it can be recompiled later for better performance. Crossgen2 improves many of those types of scenarios (see the [version bubbles](https:

[2020-08-29 05:17] mangod9 commented on #41398
Reopening, so it can ported to .net 5

[2020-08-29 05:34] KalleOlaviNiemitalo commented on #41461
I don't think it should treat `string localname` ([local name](https://www.w3.org/TR/2009/REC-xml-names-20091208/#dt-localname)) as `string name` ([qualified name](https://www.w3.org/TR/2009/REC-xml-names-20091208/#dt-qualname)) just because `string ns` is `null`.

If I'm writing an XML deserializer that should compare [expanded names](https://www.w3.org/TR/2009/REC-xml-names-20091208/#dt-expname)

[2020-08-29 05:53] am11 opened #41548 "Consider incorporating cbor official spec suite"
CBOR has an official spec test suite which validates handful of corner cases: https://github.com/cbor/test-vectors.

In order to fully incorporate that test data as is in `System.Formats.Cbor`'s test project, it would require implementing RFC 7049 [<kbd>**§6 - Diagnostic Notation**</kbd>](https://tools.ietf.org/html/rfc7049#section-6). Diagnostic Notation API will also help comparing the dotnet's

[2020-08-29 05:55] am11 commented on #41548
area-System.Security

cc @eiriktsarpalis, @bartonjs, noticed this discrepancy while investigating: https://github.com/eiriktsarpalis/cbor-fuzz/issues/1.

[2020-08-29 05:59] maomiaoyan commented on #41500
Allright，means I use the same serialport to before in system.dll.

You can create a wpf application on .net461, then download system.io.ports in nuget,you can see system.io.ports in reference,then use object browser to look system.io.ports’s class,just only see 2 namespaces,cant see any class in it

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Jose Perez Rodriguez<mai

[2020-08-29 06:05] mangod9 commented on #41398
I have validated that the simplified repro shows low gen0 collection counts. I am unable to get the benchmarks working on WSL2 (will investigate), @adamsitnik if you could please validate that the benchmarks are showing comparable perf to 3.1 that would be great (guess we need to wait for a daily build anyways). Thx.

[2020-08-29 07:47] charlesroddie commented on #41548
@am11 CBOR should be area-System.Formats now

[2020-08-29 08:04] #41470 closed

[2020-08-29 08:18] janvorli commented on #2303
@cspatig I've found that I get exactly the same errors when running the coreclr tests on my local Mac, so they are clearly unrelated to your changes.

[2020-08-29 08:27] akshays2112 commented on #41473
Need more time. Got involved in something interesting I started on Twitter and buried in a lot of housework. Will work on it soon.

[2020-08-29 08:29] christophwille commented on #41379
Good enough for our purposes.

[2020-08-29 08:51] EgorBo opened #41549 "RyuJIT: Optimize "X / POW2_CNS" via cmovns"
[code]

#### Current codegen:
[code]
#### Expected codegen:
[code]
This micro-peephole-optimization was added recently in LLVM ([PR](https://reviews.llvm.org/D67087)), see godbolt: https://godbolt.org/z/M153rj
My working (ugly) prototype for RyuJIT: https://github.com/EgorBo/runtime-1/commit/9b1d149075406b5400bb39d119ed9fd3bf2fc590 (I believe it should be done the other way - e.g. lower should exp

[2020-08-29 08:59] weltkante commented on #41125
I've tested with the original and the reduced repro scenario, thats both fixed, but lets wait for @kirsan31 in case he wants to test in his actual environment. As far as I'm concerned the fix looks good, great work.

[2020-08-29 09:13] svick commented on #41534
@eelstork

I don't. Are you sure you using U+1365? Or maybe it's some encoding problem with the file you're compiling?

[2020-08-29 09:16] kirsan31 commented on #41125
Tested with our original project and provided repro - all works good.
Thank you!

[2020-08-29 10:16] pjmlp commented on #41522
Thanks for the survey, regarding some of the follow up questions.

I don't see why a distinction is required for F#, the selling premise of Common Language Runtime was being a polyglot runtime, leaving out F# of .NET Native was a big mistake for language adoption. Any decision that makes it into the C# Language Runtime is one less reason to bother with anything else.

Ironically this is one area w

[2020-08-29 11:48] john-h-k commented on #40484
@stephen-hawley

It might be my lack of swift knowledge, but I'm not sure what you mean by

Do you just mean supporting the Swift equivalent to `thiscall` so you can call instance methods?

[2020-08-29 12:10] zachsaw commented on #31493
Just to confirm this is now fixed on 5.0. Tested with preview 8. System.Text.Json is still the slower than Newtonsoft, but at least it is no longer > 5x slower.

Just out of curiosity - what was the problem with .net 3.0 and .net 3.1?

[code]

[2020-08-29 12:18] zachsaw commented on #31493
Interestingly, 5.0 seems to have improved the performance of Binaron.Serializer by 15% in this particular test whereas Newtonsoft.Json remained the same. Loving .net 5.0 already!

[2020-08-29 12:35] huoyaoyuan commented on #41329
@jkotas question: what's the correct way to run benchmark against locally built clr and corelib? I cannot find a documentation that's confidentially up-to-date.

Here's my steps:
1. Create a BenchmarkDotNet project. `Half` is included in latest shipped preview SDK, so no additional step is required here.
2. Modify implementation
3. `build.cmd -c release -rc release`
4. `dotnet run -c Release --cor

[2020-08-29 13:05] huoyaoyuan commented on #41329
It seems to be influenced by step3:
- If I do a clean build by deleting the whole `artifact` folder and `build.cmd -c release -rc release`, the benchmark will run against latest bits.
- If I just delete the `testhost` folder and `build.cmd clr.corelib+libs+libs.pretest -c Release -rc Release`, the benchmark will run against last clean build.

[2020-08-29 13:06] dbeinder opened #41552 "SslStreamCertificateContext forced validation, X509Chain platform differences"
### Description

I was looking forward to the resolution of https://github.com/dotnet/runtime/issues/35844 and being able to explicitly set the certificate chain for a `SslStream`. In testing the current (5.0 preview8) implementation I found a few pain points:
- There is no control over whether to send the Root certificate, this is hard-coded, per-platform
  - Especially on low-throughput / IoT ap

[2020-08-29 13:37] jkotas commented on #41329
@adamsitnik What is the best way to run performance tests on CoreLib updates?

Also, I have noticed that the local instructions we have for running performance tests are outdated: https://github.com/dotnet/runtime/blob/master/docs/project/performance-guidelines.md#running-the-coreclr-performance-tests-on-windows

[2020-08-29 13:44] RUSshy commented on #41522
apple's swift analogy is so true, nice that you mention it @pjmlp

and i don't understand this Ready2Run spam, i get it all the time, i want a native statically compiled exe without dependencies, and people tell me, "lol just use R2R", it's solves nothing at all, it's a fake AOT compiler, it's a pre-warmer, a hot glue, a hack, a bloat (very true, it increases publish size)

provide true AOT compil

[2020-08-29 14:00] huoyaoyuan commented on #41329
Here are benchmark and runs:
[code]

Runs on master:
|           Method |     Mean |     Error |    StdDev |
|----------------- |---------:|----------:|----------:|
|         MaxValue | 1.941 ns | 0.0151 ns | 0.0134 ns |
|            Zeros | 1.857 ns | 0.0196 ns | 0.0193 ns |
|              NaN | 2.150 ns | 0.0167 ns | 0.0148 ns |
| NaNDifferentBits | 1.917 ns | 0.0109 ns | 0.0097 ns |

Change1:
|

[2020-08-29 14:36] pjmlp commented on #41522
@RUSshy there is an alternative, to ignore .NET and just use any upcoming language with AOT story, despite tooling shortcomings. 20 years ago .NET was also a baby ecosystem with similar shortcomings in adoption.

Maybe that way Microsoft will get the message.

[2020-08-29 15:03] maomiaoyan commented on #41500
I test found serialport write need 30ms, usually its 1ms,why it need so much time

Its my serialport class ,sometimes send no response,im no idea where its wrong

        [TestMethod]
        public void TestReceiveMessage485()
        {
            SerialPort485 port = new SerialPort485();
            port.BaudRate = 230400;
            port.PortName = "COM44";
            port.Parity = Parity.Sp

[2020-08-29 15:27] maomiaoyan commented on #41500
Why check isopen will block serialport write and read

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Jose Perez Rodriguez<mailto:notifications@github.com>
发送时间: 2020年8月29日 2:24
收件人: dotnet/runtime<mailto:runtime@noreply.github.com>
抄送: mao.miaoyan<mailto:mao.miaoyan@outlook.com>; Mention<mailto:mention@noreply.github.com>
主题: Re: [dotnet/runtime] System.IO.Ports.dll ca

[2020-08-29 15:46] maomiaoyan opened #41553 "check serialport isopen property will block write or read"
when i use serialport write and check port  isopen property same times ,the write need 30ms and sometimes no receive

[2020-08-29 15:46] jkotas commented on #41329
Using constants like this for benchmarking may not be representative. If the JIT was perfect, it would optimize this into just returning true. You may want to double check that optimizations like this are not affecting your measurements. It is better to use arguments passed into the benchmarking method to avoid optimizations skewing the numbers.

We generally prefer the style in change1.

The perf

[2020-08-29 15:50] huoyaoyuan commented on #41329
# A full benchmark

| Method |        Job |                  Toolchain |  left |  right |      Mean |     Error |    StdDev | Ratio | RatioSD | Code Size |
|------- |----------- |--------------------------- |------ |------- |----------:|----------:|----------:|------:|--------:|----------:|
|  Equal | Job-YIWPNM |     \V1-Inline\CoreRun.exe |     0 |     -0 | 0.4526 ns | 0.0127 ns | 0.0112 ns |  1

[2020-08-29 15:57] huoyaoyuan commented on #41329
Test instructions I've used:
- Do a full release build, and copy the `testhost` folder for multiple times.
- Change the implementation
- Build only corelib by `Build.cmd clr.corelib -c release`. This is quite fast.
- Copy `System.Private.CoreLib.dll` from `artifacts\bin\coreclr\Windows_NT.x64.Release\IL`, hinted by console output.
- Run benchmark against every folder by `dotnet run -c Release --co

[2020-08-29 16:07] huoyaoyuan commented on #41329
After changing to `ArgumentsSource`, style 1 is getting better performance. PR opened with style 1.

The open question is about usage of `AggressiveInlining`.

[2020-08-29 16:43] cspatig commented on #2303
Thanks for checking on this for me! I'll proceed with the assumption that if I don't break any more tests everything is fine.

[2020-08-29 16:46] echesakovMSFT opened #41555 "[GCStress] JIT/Methodical/tailcall/_il_dbgreference_i Assert failure SanityCheck()"
[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=793659&view=results
https://helix.dot.net/api/2019-06-17/jobs/d2e0c1f9-e5dc-4d0c-9252-d4f2d7fe271c/workitems/JIT.Methodical/console

[2020-08-29 16:47] andersson09 commented on #40076
I think this is related. Upgraded Microsoft.CodeAnalysis.CSharp to 3.7.0 and now blazor wasm fails to load:

Failed to find a valid digest in the 'integrity' attribute for resource 'https://localhost:5051/_framework/Microsoft.CodeAnalysis.dll' with computed SHA-256 integrity 'ag/ufmivbbVB76I8dSst/a+kH1PflRSKGbMY90kh9pc='. The resource has been blocked.

[2020-08-29 17:22] #36681 closed

[2020-08-29 18:00] Jlalond commented on #14032
@TimLovellSmith Do we have anyone to do an API review now? I think @eiriktsarpalis is still on vacation, but could @layomia review?

[2020-08-29 18:14] andersson09 opened #41556 "Error NETSDK1032: The RuntimeIdentifier platform 'browser-wasm' and the PlatformTarget 'x64' must be compatible"
### Description

I want to run **Microsoft.ML 1.5.1** in Blazor. When running the application (dotnet run) I get:
"Microsoft.ML currently supports 'x64' and 'x86' processor architectures. Please ensure your application is targeting 'x64' or 'x86'".

If I add <PlatformTarget>x64</PlatformTarget> to csproj to fix the above issue I receive:
"Error NETSDK1032: The RuntimeIdentifier platform 'browser-w

[2020-08-29 18:54] eelstork commented on #41534
After setting up CI I can see that this is caused by an underlying error in our source.
Still not sure why U+1365 is specifically affected by this, let alone on Windows vs Linux/macOS
Pending, should be okay to close this.

[2020-08-29 19:50] Zabato7 commented on #41276
I tested it with lists not with arrays

[2020-08-29 20:13] bruno-garcia commented on #41522
Rust and Dart. But a supported/stable story for building AOT libraries and exposing a C ABI would already be great.

Please account for proper Error Tracking tools like [Sentry](https://sentry.io/)?

[2020-08-29 20:56] #41534 closed

[2020-08-29 21:05] ChadJessup opened #41557 "CS0508 not triggering in net 5 preview-8, which allows runtime TypeLoadException errors"
Sorry if this is the incorrect repo, hard to know where this bug report should go..

### Description
In net 5 preview 7 CS0508 - 'Type 1': return type must be 'Type 2' to match overridden member 'Member Name' would prevent compilation. But in preview 8 this builds just fine, and during runtime a TypeLoadException is thrown that is very difficult to troubleshoot.

This top-level program demonstrate

[2020-08-29 21:05] ChadJessup opened #41571 "CS0508 not triggering in net 5 preview-8, which allows runtime TypeLoadException errors"
Sorry if this is the incorrect repo, hard to know where this bug report should go..

### Description
In net 5 preview 7 CS0508 - 'Type 1': return type must be 'Type 2' to match overridden member 'Member Name' would prevent compilation. But in preview 8 this builds just fine, and during runtime a TypeLoadException is thrown that is very difficult to troubleshoot.

This top-level program demonstrate

[2020-08-29 21:16] Anipik opened #41558 "Microsoft.dotnet.build.tasks.packaging should arcade defined properties to calculate the package version"
Arcade introduced a bunch of properties like StablizePackageVersion And IsShipping properties to calculate the version for the package.

This package relies on stableVersion and VersionSufix being set in a particular way. coreclr already uses the arcade properties to build the packages, we should modify the targets(GetPackageIdentity, CalculatePackageVersion) in the package to do the same as well

[2020-08-29 22:44] Anipik opened #41560 "GA versioning for System.Numerics.Tensors"
Do we want to ship a stable version for System.Numerics.Tensors or dont ship any preview after rc2.

cc @ericstj @ViktorHofer @eerhardt @safern

[2020-08-29 23:04] Anipik opened #41561 "Better way to build non-stable non-shipping packages with non-private & non-experimenatal strings in their name"
There are couple of properties that need to be set in order to not build the non-stable non-shipping packages.
We set them no the basis of package names containing private or experimental string in their names.

System.Numeric.Tensors and Microsoft.Extensions.HostFactoryResolver.Sources doesnt fall in that category. we should either change the name or find a better way to set these properties.

cc

[2020-08-30 00:46] #41307 closed

[2020-08-30 01:36] am11 commented on #41557
Simpler repro without generic type:

[code]
Perhaps, it is related to https://github.com/dotnet/roslyn/issues/44207 (covariant return diagnostics).

[2020-08-30 04:15] RamType-0 opened #41565 "Why is array still covariant?"
Covariant array make lower performance of almost any scenario.
It seems that .NET Core already has many larger breaking change than covariant array,why is it still maintained?

[2020-08-30 04:58] GrabYourPitchforks commented on #41565
This would be an absolutely massive breaking change that would affect libraries and applications all the way up and down the stack. Array writes are already highly optimized and the performance gains for most applications would be negligible, so this doesn't justify the break. For applications which really do need to eke out these extra few percentage points, you could always cast the `T[]` to a `

[2020-08-30 05:41] RamType-0 commented on #41565
I didn't mean runtime internal massiveness.
If we do make array invariant,how external libraries (and also CoreFX part of runtime) are affected?
I think the breaking change for Process.Start was far much greater than this.

#23393
The posted benchmark at here is seems to be representing massive performance improvement,isn't it?

`Span<T>` is not always faster than `T[]`( in platform which uses slo

[2020-08-30 07:34] huoyaoyuan commented on #41557
.NET 5 is supposed to support covariant return, so the right behavior is not causing `TypeLoadException` and run well.

[2020-08-30 08:34] eli-fin commented on #41251
@joperezr #41566

[2020-08-30 09:58] svick commented on #41565
@RamType-0

So what do you mean?

If a platform is not updated to use fast span, what makes you think it will be updated to use invariant arrays?

If you're suggesting something that does not require updating the platform, then I think you need to be clearer about what that is.

[2020-08-30 10:11] RamType-0 commented on #41565
I mean runtime compatibility.(e.g. Process.Start no longer accepts uri by default in .NET Core. I think that was huge breaking changes.)

The solution Replacing T[] by Span'<T'> requires to be implemented by library provider,and would rather make lower performance in slow-span platform.

The solution treating array as invariant doesn't requires any update by library provider,and also never make lo

[2020-08-30 12:12] Mrnikbobjeff commented on #35343
I would like to have this assigned to me. I just completed my work on this analyzer including the code fix provider. One flaw still unadressed is the fact that only Dictionary<T,K> has a ContainsValue method, the interfaces do not. This is the last thing I still need to implement.

[2020-08-30 12:59] Mrnikbobjeff opened #41567 "Analyzer to prefer equality operator over object.equals calls for enums"
Enums shoud always be compared by using == when testing for equality. In Xamarin.Essentials I saw the use of .Equals calls to compare enums for equality, which does the same but incurs a box for enums. A roslyn analyzer can easily detect calls to object.Equals calls where the argument is an enum. If already have a working implementation of this analyzer if this is a desirable feature.

[2020-08-30 13:37] Mrnikbobjeff commented on #33769
Would the fixer simply remove the call? I do not think it can add it earlier in the chain as it may cause race conditions depending on the implementation of the earlier linq chain, e.g. `list.Select(x => NonThreadSafeMethod(x)).AsParallel()` can only be resolved by removing the code. I guess that is the intended fix?

[2020-08-30 13:58] DickBaker commented on #40253
Yes, "System.Numerics.Vectors 4.5.0 is not compatible with netstandard2.0" and your error likely says
Error NU1202 Package System.Numerics.Vectors 4.5.0 is not compatible with netstandard2.0 (.NETStandard,Version=v2.0). Package System.Numerics.Vectors 4.5.0 supports:
- monoandroid10 (MonoAndroid,Version=v1.0)
- monotouch10 (MonoTouch,Version=v1.0)
- netcoreapp2.0 (.NETCoreApp,Version=v2.0)
- uap10

[2020-08-30 14:02] stephentoub commented on #33769
Yes

That's the same fix, in that it didn't change the semantics. It'd be fine to offer multiple fixes, though, with a second option being to move the call to the beginning of the chain, and if the developer chooses that, it's their choice.

[2020-08-30 15:58] Mrnikbobjeff commented on #33769
I have a working analyzer for the described scenario, as well as the safe fix as you described it. I would still have to integrate it with the analyzer structure in this project but otherwise I would love to work on this.

[2020-08-30 15:59] huoyaoyuan commented on #41565
`Process.Start` is a much more minor breaking change because:
- `Process` is much less used than array. Array is one of the fundamental types.
- The change in `Process.Start` is caused by a larger feature deprecation. It's very unlikely to be an implementation detail of something that's not influenced by the whole deprecation.

[2020-08-30 16:20] CoffeeFlux commented on #41567
What is the exact suggestion here—that Roslyn add an analyzer for this or that Xamarin.Essentials switch what they're using? In either case, I think this issue is better filed in the respective repo.

[2020-08-30 16:22] CoffeeFlux commented on #41556
cc: @lewing

[2020-08-30 16:25] Mrnikbobjeff commented on #41567
Xamarin.Essentials was the first place where I found this pattern. As there are other analyzer suggestions listed here such as #33773 I thought this might be the place for it.

[2020-08-30 16:29] ericstj commented on #39895
It is still a servicing change to make this fix.  I don't imagine it'll be any easier to justify this change in 2 years.  If you have a justification to make now that can be tested against the servicing bar it'd be best to share that now.

[2020-08-30 16:29] ericstj commented on #34895
I see, I missed that we didn't have any overloads that take an Array today.  Sure this seems like a reasonable request.  Care to turn this into an API proposal?

[2020-08-30 17:03] sakno opened #41568 "[Question] Static readonly fields and branch optimization"
Does JIT optimize `if` and `switch` statements based on value of **static readonly** field? I understand that value will be available only at runtime, but once the type is loaded and cctor called then the static fields remain unchanged. In this case, constant propagation can be applied and dead branches can be removed.

[2020-08-30 17:08] CoffeeFlux opened #41569 "[mono] Simplify runtime assembly representation/remove MonoImage/MonoAssembly split"
In Mono, we have historically used two high-level structs on the native side to store assembly information—`MonoImage` and `MonoAssembly`. The split existed primarily due to `MonoImage` sharing across domains and multi-module assemblies, neither of which exist in .NET Core and will never be brought back.

For ALC support, we already ensured that on netcore we have a 1:1 relationship between a `Mon

[2020-08-30 17:16] EgorBo commented on #41568
@sakno yes it does, e.g.:
[code]
Codegen for `Test`:
[code]

[2020-08-30 17:36] sakno commented on #41568
@EgorBo , thanks for clarification! Just a few additional questions:
1. Does JIT eliminate the field from the memory associated with the class itself?
1. What if declaring type is a generic class instantiated several times with a reference type as a generic argument? AFAIK, only value types used as generic argument force JIT to produce several specializations.

[2020-08-30 18:37] RUSshy opened #41570 "Remove reflection use in static XmlCharType singleton"
I clicked too fast, i'm editing this to add the description, my bad!

[2020-08-30 18:55] #41570 closed

[2020-08-30 19:18] RUSshy opened #41572 "Clean XmlCharType struct"
Hello

This struct looks kinda messy

https://github.com/dotnet/runtime/blob/503d5602b01c0e362f1636d55da91ff3b8d909d8/src/libraries/System.Private.Xml/src/System/Xml/XmlCharType.cs

- It needs to manually generate a cryptic ``XmlCharType .bin`` file
- It loads it using reflection from ressources
- it's blocking whenever it's first accessed

I suggest:

- only generate a byte array in that file, ei

[2020-08-30 19:21] reflectronic commented on #41572
Some existing discussion about this file exists at https://github.com/dotnet/runtime/issues/944

[2020-08-30 19:22] RUSshy commented on #41572
oh i should have checked.. thanks for the link

[2020-08-30 19:22] RamType-0 commented on #41565
Have you ever wrote a code using array's covariantness?
What makes "any breaking change in fundamental type" huge is because in most of case, it's behaviour is widely used.

But I have not ever seen the code using the behaviour that "array is covariant".
(I have seen a code about array's covariantness only in internal `Memory<T>` or` Span<T>` implementation, but it was just a safety check.This cod

[2020-08-30 19:23] Mrnikbobjeff commented on #33807
I have a working analyzer for this as well, if this is ready to implement. #33806 is very similar, my analyzer would offer a great basis for that issue.

[2020-08-30 19:30] RamType-0 commented on #41565
@GrabYourPitchforks
I think it is acceptable to reject this feature because of runtime internal implementation cost.
But I think it is inconsistent to reject this feature by the reason you said in this issue.

If you really think so,you should also reject #23393 , isn't it?

[2020-08-30 19:43] RamType-0 commented on #41568
Many thinkable optimization for field is disabled because of we could access it through reflection.
We could rewrite readonly fields by reflection.
Obviously,it is evil for almost any scenario,but I think it is useful for deserialization.

In contrast,optimization for function locals are very aggressive.

[2020-08-30 19:59] geoffkizer opened #41573 "SocketsHttpHandler.PlaintextFilter isn't implemented for HTTP/1.1 connections"
### Description

The only place this setting is used is here:

https://github.com/dotnet/runtime/blob/fd9d2baee8c59e23959084ecd0e962ed61def65a/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs#L616

This is an HTTP2-specific path and won't handle the case where we don't try to make an HTTP2 connection.

Also, there seem to be no tests for this feature. We n

[2020-08-30 20:06] Mrnikbobjeff commented on #37039
One issue which seems to have fallen through the tracks seems to be #33808 which is not referenced in the todo list if I read this correctly

[2020-08-30 21:44] teo-tsirpanis opened #41575 "Assembly.GetExecutingAssembly is much slower than typeof(AClass).Assembly"
### Description

When they want to query the currently executing assembly, many codebases forgo using the established and clearly-intended `Assembly.GetExecutingAssembly()` but take the type of the class of the method (say `C`) and use `typeof(C).Assembly instead`.

Upon a closer examination, `typeof(C).Assembly` was significantly faster. Getting the executing assembly should be a simple procedure

[2020-08-30 21:49] teo-tsirpanis commented on #41565
@RamType-0, #23393 does not _change_ the way arrays work; it instead introduces a _new_ type with different behavior.

[2020-08-30 22:00] eerhardt commented on #41560
I don't believe we want to ship a stable version of this package at this time.

cc @jeffhandley @pgovind @eiriktsarpalis - the owners listed on https://github.com/dotnet/runtime/blob/master/docs/area-owners.md.

[2020-08-30 23:01] scalablecory commented on #41434
I haven't tested this but for Linux it appears as easy as P/Invoke `socket(AF_INET, SOCK_STREAM, IPPROTO_MPTCP)` and use the `Socket(SafeSocketHandle)` ctor added in .NET 5.

[2020-08-30 23:06] Dewera commented on #34895
As an create a new issue and reference this one?

[2020-08-30 23:15] scalablecory commented on #41473
I agree this seems rare. I don't know if we need a new API for it, as the current `SendAsync` should work for advanced cases. [The RFC](https://tools.ietf.org/html/rfc7231#section-4.3.5) has a note indicating that although this is not disallowed, some implementations have issues with it:

[code]

[2020-08-30 23:19] scalablecory commented on #41369
Based on the description it's not clear if this is an issue with HttpClient or Kestrel, or both, but we should figure this out for 6.0. It would also be helpful to know if HttpClient exhibits this behavior against any other HTTP/2 servers.

[2020-08-30 23:19] davidfowl commented on #34895
Edit the original text to contain the specific API you want and some usage examples (there's an issue template you can use)

[2020-08-30 23:25] scalablecory commented on #41149
I think the API here is adequate, but we should come up with a concrete recommendation and sample for our docs.

[2020-08-30 23:29] davidfowl commented on #41149
Maybe for the transports we have now. It forces callers to have a mapping between Hostnames and their endpoint type

[2020-08-30 23:34] scalablecory commented on #41250
This is a simple test bug. The server added an unrelated piece of data to the response that happened to contain the content we didn't want.

[2020-08-30 23:43] scalablecory commented on #41552
Thanks for trying out the preview. Do you have some specific APIs you can outline here for us to discuss?

CC @wfurt @bartonjs

[2020-08-30 23:46] scalablecory commented on #41374
@wfurt can you confirm if this is a dupe of #40679, or if this is a regression?

[2020-08-31 00:07] Anipik opened #41576 "ClientAndServer_OneOrBothUseDefault_Ok fails with ObjectDisposedException"
Build url https://dev.azure.com/dnceng/public/_build/results?buildId=794173
Log url https://helix.dot.net/api/2019-06-17/jobs/7cda1081-d581-494e-b3aa-83d0911c5f19/workitems/System.Net.Security.Tests/console

[code]

 cc @dotnet/ncl @ericstj @ViktorHofer

[2020-08-31 00:09] Jaycecoding commented on #40253
Thanks for the reply Dick. Which .csproj file do I add it to? And where would the angle brackets be placed?

[2020-08-31 00:17] Anipik commented on #35916
Seems like tests are still failing on https://dev.azure.com/dnceng/public/_build/results?buildId=793227&view=ms.vss-test-web.build-test-results-tab

we should disable these

[2020-08-31 00:34] tebeco commented on #41374
As I cannot confirm this is a duplicate,
The error message and the side effect of a "timeout" are VERY VERY similar yes

One way to check it, @snickler, can you do this :
https://github.com/dotnet/runtime/issues/40679#issuecomment-673675486
(Settings the value to `1` is probably better than `0`)

[2020-08-31 01:19] jkotas commented on #41568
It does not. Note that the memory footprint of data structures that represent fields is a typically lot more than the memory footprint of the static field itself. Removing the field from the memory would not move the needle in the total memory consumption.

This JIT optimization does not kick in this case.

[2020-08-31 01:20] #41568 closed

[2020-08-31 01:33] JinShil opened #41577 "`Assertion: should not be reached` in `mono-threads-coop.h:48` in Blazor WASM application"
Here's a screenshot of the error message

![image](https://user-images.githubusercontent.com/6023641/91674789-0cff9980-eb75-11ea-8dd1-d37a98e5e2d9.png)

Unfortunately, this is occurring in a relatively large application, and when I try to isolate it to something simple, the symptom vanishes.  As I discover more information, I'll add to the issue.

[code]

Microsoft Edge
Version 85.0.564.41 (Offici

[2020-08-31 01:35] RamType-0 commented on #41565
I'm not comparing it with make array invariant.
I'm comparing it with the solution that make span from array.
’InvariantArray<T>’ is a persistent buffer with better performance of writing reference types and not performant for value types, and requires copy when we convert it to array.

The solution make span from array is performant for any types, and doesn't require any overhead while convering

[2020-08-31 02:08] JasonjhHuang commented on #41416
What dump tool should I use? dotnet-dump? or gdb dump? Because the vendor was providing binary library, I think it's hard to provide gdb dump file. As for dontet-dump tool,  do you have any tutorial page to share? I can only find [this page](https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dotnet-dump#dotnet-dump-collect).

[2020-08-31 02:44] RamType-0 commented on #41565
Oh,I was missing one ,UAP.
UAP still doesn't support .NET Standard2.1.

[2020-08-31 03:48] v-haren opened #41578 "Test failure: JIT\\Methodical\\NaN\\arithm64_do\\arithm64_do.cmd"
failed in job: [runtime-coreclr gcstress-extra 20200829.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=793873&view=ms.vss-test-web.build-test-results-tab&runId=25100142&resultId=110576&paneView=debug)

Configurations: CoreCLR Windows_NT arm64 Checked gcstress0xc_jitminopts_heapverify1 @ Windows.10.Arm64v8.Open

Error message
[code]

[2020-08-31 03:55] v-haren commented on #13613
failed again in job: [ runtime-coreclr gcstress-extra 20200829.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=793873&view=ms.vss-test-web.build-test-results-tab&runId=25099986&paneView=debug&resultId=107282)

CoreCLR Windows_NT x86 Checked gcstress0xc_jitminopts_heapverify1 @ Windows.10.Amd64.Open

Error message
[code]

[2020-08-31 04:01] v-haren commented on #10002
failed again in job: [ runtime-coreclr jitstress-isas-x86 20200829.1](https://dev.azure.com/dnceng/public/_build/results?buildId=793813&view=ms.vss-test-web.build-test-results-tab&runId=25096258&resultId=100746&paneView=debug)

CoreCLR Windows_NT x86 Checked jitstress_isas_nohwintrinsic @ Windows.10.Amd64.Open

Error message
[code]

[2020-08-31 04:54] RalfKornmannEnvision commented on #40430
@lateralusX As the integration was done by someone else I don't know any detail. But as far as I know they used the mono ports that are provided for the XBox One/PS4 and made a simple port for the Switch. themself.

[2020-08-31 06:02] RalfKornmannEnvision commented on #41522
In general every platform that is used for games. But the most pressing onces are game consoles and the web browser as they are lacking the most when it comes to a good C#/.net development story

For the windows platform official bindings for game apis like DirectX would be nice. The community is able to provide these so far. But without official bindings we C#/.net developers always fell a little

[2020-08-31 06:03] v-haren opened #41579 "Test failure: System.Net.Sockets.Tests.SelectTest.Select_AcceptNonBlocking_Success"
failed in job: [runtime-libraries outerloop 20200830.4 ](https://dev.azure.com/dnceng/public/_build/results?buildId=794139&view=ms.vss-test-web.build-test-results-tab&runId=25109996&resultId=103305&paneView=debug)

net5.0-Linux-Release-arm64-CoreCLR_release-(Ubuntu.1804.ArmArch.Open)Ubuntu.1804.ArmArch.Open@mcr.microsoft.com/dotnet-buildtools/prereqs:ubuntu-16.04-helix-arm64v8-bfcd90a-202001271949

[2020-08-31 06:06] v-haren commented on #29683
failed again in job: [runtime-libraries outerloop 20200830.4 ](https://dev.azure.com/dnceng/public/_build/results?buildId=794139&view=ms.vss-test-web.build-test-results-tab&runId=25109494&paneView=debug&resultId=104241)

net5.0-Windows_NT-Release-x86-CoreCLR_release-Windows.10.Amd64.ServerRS5.Open

Error message
[code]

[2020-08-31 06:19] v-haren opened #41580 "Test failure: JIT\\jit64\\opt\\cse\\hugeSimpleExpr1\\hugeSimpleExpr1.cmd"
failed in job: [runtime-coreclr ilasm 20200829.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=793798&view=ms.vss-test-web.build-test-results-tab&runId=25095702&resultId=102914&paneView=debug)

CoreCLR Windows_NT x86 Checked ilasmroundtrip @ Windows.10.Amd64.Open

Error message
[code]

[2020-08-31 06:26] lateralusX commented on #40430
@RalfKornmannEnvision Would be great to get in contact and discuss the experience related to this. The LLVM codegen has (depending on project) very positive performance effects on the generated code so if that was not used (needs to be enabled) there is normally a lot to gain by just enabling that. Are you on the DotNetEvolution discord server, if so maybe we could have an offline discussion there

[2020-08-31 06:30] KalleOlaviNiemitalo commented on #41416
Perhaps the library calls `ioperm` only the first time it is used, but the timer callbacks then run on thread-pool threads that would need their own `ioperm` calls. The `strace` program should show which threads call `ioperm` and which thread gets the fatal signal. You could add a `Console.WriteLine` call immediately before `ReadValues` to make it easy to find in the output of `strace`.

[2020-08-31 07:06] Jure-BB commented on #41522
RalfKornmann's post above sums it pretty well. Without repeating too much, I wish to emphasize that low _max_ latency per frame is essential in games. Anything related to memory management and GC that would help reduce max latency would be much appreciated. Currently, the only solution is to not allocate anything on the heap during gameplay, which is quite limiting and sometimes borderline impossi

[2020-08-31 07:06] jkotas commented on #41572
PR to replace XmlCharType.bin with a ReadOnlySpan static field would be welcomed.

[2020-08-31 07:08] #41329 closed

[2020-08-31 07:14] RalfKornmannEnvision commented on #40430
@lateralusX I am pretty sure the team members who worked on this have enabled the LLVM codegen and tried other things. Their last statement before moving on to another project was that this is the best they could do.

As part of my investigation I build a benchmark with the core component using Xamarin Android and run it on a Tegra X1 based device to see if we lost performances because of an issue

[2020-08-31 07:31] dbeinder commented on #41552
Currently, this factory will silently discard intermediate certificates if the X509Chain verification fails, depending on the platform:
`SslStreamCertificateContext Create(X509Certificate2 target, X509Certificate2Collection? additionalCertificates, bool offline)`
I would like a flag / overload to disable this behavior and just accept the provided chain as is, without creating a dependency on the p

[2020-08-31 07:34] lateralusX commented on #40430
@RalfKornmannEnvision OK, thanks for your information and feedback, all very valuable.

[2020-08-31 07:36] krwq commented on #39415
@lohitakshgupta can you share a tiny repro of the issue?

[2020-08-31 07:58] scalablecory commented on #41149
It's an HTTP client, it's perfectly reasonable to require a valid HTTP URI and to present the resulting DnsEndPoint to the connection. So long as there is some mechanism that works for the people to transform these into whatever is valid for their protocol, as have been outlined here, I think we are fine.

If we see a lot of people wanting to do this, or if there is a quantifiable perf issue, they

[2020-08-31 08:03] huoyaoyuan commented on #41565
No, but seen in BCL. In fact, the implementations of `Span<T>` and `ImmutableArray<T>` use it.

But, answering "no" for myself isn't enough for this question. If we do want to introduce "array invariant mode", the first step must be investigating a very large amount of libraries (both open and closed source).

[2020-08-31 08:10] noahfalk commented on #41034
@mikem8361 - I thought we changed that policy and now the default dumps do have metadata?

[2020-08-31 08:20] RamType-0 commented on #41565
I know that of `Span<T>` and that was just a safety check(Ensures that passed array is T[]).
So it will not be broke.

[2020-08-31 08:24] tmds opened #41582 "Some JSON test suites crash in ConsumeStringAndValidate on Red Hat CI machines"
We do a daily build+test run of dotnet/runtime on Fedora 32 and RHEL8. Since Aug 6th, a number of tests are crashing in `ConsumeStringAndValidate`

* Microsoft.Extensions.Configuration.Json.Tests
* Microsoft.Extensions.Configuration.Functional.Tests
* Microsoft.Extensions.DependencyModel.Tests
* System.Net.Http.Json.Unit.Tests
* System.Net.Http.Json.Functional.Tests
* System.Text.Json.Tests

Examp

[2020-08-31 08:28] adamsitnik commented on #41329
https://github.com/dotnet/performance/blob/master/docs/benchmarking-workflow-dotnet-runtime.md#Preventing-Regressions

Thanks for pointing this out, I've sent a PR with an update: https://github.com/dotnet/runtime/pull/41583

[2020-08-31 08:35] tmds opened #41584 "System.Numerics.Vectors.Tests tests crash on Red Hat CI machines"
We do a daily build+test run of dotnet/runtime on Fedora 32 and RHEL8. Since Aug 6th, System.Numerics.Vectors.Tests is reporting test failures and crashes with SIGSEGV.

CI output:
[code]

When I run on my development machine, the tests pass without crashing.

cc @omajid @RheaAyase

[2020-08-31 08:36] Dewera commented on #34895
@ericstj @davidfowl I've performed the edits, can you let me know if any additional information needs to be provided?

[2020-08-31 08:42] karelz commented on #33125
Fixed in 6.0 in PR #41400

Note: Porting to 5.0 was rejected this late in the game -- see #41526

[2020-08-31 08:42] adamsitnik commented on #41398
@mangod9 what error are you getting? You should be able to run the python script and get 3.1 results:

[code]

And then run the benchmarks as 5.0 using your local build of dotnet/runtime by specifying the path to `corerun`:

[code]

You can read more about benchmarking local builds of dotnet/runtime [here](https://github.com/dotnet/performance/blob/master/docs/benchmarking-workflow-dotnet-runtime.

[2020-08-31 08:44] karelz commented on #31387
Moving to 6.0 -- we won't backport it to 5.0 this late in the game.

[2020-08-31 08:54] davidfowl commented on #41149
@simonferquel  I'd love your opinion here. When talking to the docker daemon over named pipes on windows or domain sockets on linux (similar to https://github.com/dotnet/runtime/issues/28721), what syntax did you envision when making requests over the http client? Also you may have some go expertise here so drawing a comparison on what go does might be interesting.

[2020-08-31 09:03] JasonjhHuang commented on #41416
I add a initialize call before calling `ReadValues` in timer case, but it still crashed. I use `strace` to get some information, does this help? BTW, in thread and timer cases, you can see I do initialize before calling `ReadValues` but only timer case will crash. This is pretty strange.

---
strace: Process 21762 attached
read(0, "\r", 1024)                     = 1
futex(0x563cc6bbdb90, FUTEX_WAK

[2020-08-31 09:19] Kryptos-FR commented on #41522
For DirectX there was https://github.com/sharpdx/SharpDX, but maintenance was stopped for various reasons. That's the kind of project that should have been taken custody by the DirectX team at Microsoft, and/or the dot net foundation (with official support from Microsoft).

Games are how I was introduced to .NET/C# (with Unity and Monogame). And I guess a lot of people have a similar story. Theref

[2020-08-31 09:20] simonferquel commented on #41149
@davidfowl, the approach we have currently in Docker Desktop, is to create one custom HttpHandler per endpoint (we have our own HttpHandler implementation that does very basic HTTP 1.0 handling only for now, and btw, we are very eager to be able to move to .net 5 and use this new stuff!).
We use the host-name part of the http URI solely for adding context in our logs (something like having our URI

[2020-08-31 09:26] simonferquel commented on #41149
Also for the "why gui-to-vm-lifecycle-server and not lifecycle-server only" it is very handy for logging purposes on the server side, as this is automatically passed into the host header. So both on the client and server side, our log entries contain context about both caller and callee very easily (and that is something that we can generalize very easily cross-language)

[2020-08-31 09:31] #41251 closed

[2020-08-31 09:33] jiangzeng01 opened #41585 "Socket: inconsistent exceptions when closing during Accept / TcpListener regression: SocketException at InputShare app"
**Application Name:** Input Share
**OS:** Windows 10 RS5
**CPU:** X64
**.NET Build Number:** 5.0.100-rc.1.20430.2

**Verify Scenarios:**
1). Windows 10 RS5 X64 + .NET Core SDK build 5.0.100-rc.1.20430.2: **Fail**
2). Windows 10 RS5 X64 + .NET Core SDK build 5.0.100-preview.8 : **Pass**
3). Windows 10 RS5 X64 + .NET Core SDK build 3.1.300  **Pass**

**DevDiv bug:**
[https://devdiv.visualstudio.com/

[2020-08-31 09:40] RalfKornmannEnvision commented on #41522
I am aware of SharpDX as I used it in different projects. But as you said it's not official. 
A long long time ago (back in the days when I still was a DirectX MVP) there was an official binding called managed DirectX (or short MDX) which than became XNA. But both are deprecated today.

Monogames is kind of the successor of XNA.

[2020-08-31 09:52] marek-safar commented on #41556
This is ML.Net issue which could handle this architecture better. It supports only x64/x86 for its runtimes so it rejects wasm. You can skip the check by setting `EnableMLUnsupportedPlatformTargetCheck` to `false` which will probably break some functionality.

[2020-08-31 09:54] lhak commented on #40463
I just wanted to add some additional information here because I have found a way around this issue. Previously, my code looked something like this (async void method called on the UI thread when an image is ready to be drawn):

[code]

The thread switching methods are based on the approach from [this](https://devblogs.microsoft.com/oldnewthing/20190329-00/?p=102373) article, calling ThreadPool.Run

[2020-08-31 09:54] marek-safar commented on #41556
This issue was moved to dotnet/machinelearning#5375

[2020-08-31 09:54] #41556 closed

[2020-08-31 09:58] marek-safar commented on #41455
@lewing does this ring any bell?

/cc @vargaz

[2020-08-31 10:00] marek-safar commented on #41472
That's exected, these tests need to be excluded/disabled.

[2020-08-31 10:02] marek-safar commented on #41449
@SamMonoRT who can look into optimizing this?

[2020-08-31 10:04] msallin opened #41586 "Question: Enviornment.ProcessorCount, Kubernetes/OpenShift and ThreadPool Min Threads"
I read through a bunch of Issues and PR comments releated to this question but I'm unsure what the actual state is and whats planned, hence I'm creating this isssue.

I use .NET Core 3.1 (SDK version 3.1.401). The applications are deployed self contained as container to OpenShift.
By default the following CPU ressources are configured:
- Request: 100 milicores
- Limit: 500 milicores

This results

[2020-08-31 10:24] MihaZupan commented on #40776
Closing as resolved by #41022

[2020-08-31 10:24] #40776 closed

[2020-08-31 10:28] marek-safar commented on #41577
@vargaz could you have a look

[2020-08-31 10:34] KalleOlaviNiemitalo commented on #41416
I don't see any `ioperm` calls in that trace. I think it would be better to run your program via `strace -f` than attach to an existing process.

[2020-08-31 10:40] marek-safar commented on #40835
/cc @kjpou1

[2020-08-31 10:57] gregsdennis opened #41587 "UriTemplate not supported in .Net Standard/Core"
The [UriTemplate](https://docs.microsoft.com/en-us/dotnet/api/system.uritemplate?view=netframework-4.8) class is not available in .Net Standard or Core.

Was there a technical reason for not porting it from .Net Framework?

[2020-08-31 11:12] ivanivanyuk1993 opened #41598 "Support Enumerable.Count(this IEnumerable enumerable) for non-generic enumerable in runtime"
# Support Enumerable.Count(this IEnumerable enumerable) for non-generic enumerable in runtime

* [x] Proposed

## Summary
[summary]: #summary

Please Support Enumerable.Count(this IEnumerable enumerable) for non-generic enumerable in runtime

## Motivation
[motivation]: #motivation

I have use case
[code]
I have to either use
[code]
which effectively adds O(n) complexity, because in my use case IE

[2020-08-31 11:30] huoyaoyuan commented on #41587
Because it belongs to `System.ServiceModel.dll` assembly, which is for WCF and not considered for .NET Core at all.
Moving a type between assemblies isn't that trivial. There should be a redirection layer for compatibility.

[2020-08-31 11:33] ivanivanyuk1993 opened #41589 "Segregate Count() to interface ICountable or support Enumerable.Count(this IEnumerable enumerable)"
## Background and Motivation

I have a use case
[code]
I want it to be
[code]
or
[code]

## Proposed API

Now public static int Count<TSource>(this IEnumerable<TSource> source) in System.Linq.Enumerable has to check for multiple Type cases
[code]

It could be

[code]

## Usage Examples

[code]

## Alternative Designs

## Risks

It requires implementing ICountable in ICollection and IIListProvider

[2020-08-31 11:37] aik-jahoda commented on #33125
Reopening to help track the documentation.

[2020-08-31 13:44] stephen-hawley commented on #40484
In older versions of swift if you had, say, a class like this:
[code]
When I called `Useless.performFabulousTrick`, like many language implementations, the implicit `self` (`this`) argument gets prepended to the argument list. In Swift 4 (IIRC), they switched to using a dedicated register on most ABIs for the `self` argument to help cut down on register juggling. For closures, the `self` register

[2020-08-31 13:57] #41311 closed

[2020-08-31 14:02] ViktorHofer opened #41593 "Remove dotnet5* feeds from NuGet.config in master"
The dotnet5* feeds should be removed as soon as all dependencies are available in the dotnet6* feeds. If that's already the case, it should be done now.

cc @dotnet/runtime-infrastructure

[2020-08-31 14:07] kolya5544 opened #41594 "System.Drawing.Graphics DrawImage(Image, Rectangle) doesn't fit the picture perfectly."
### Description

I was trying to change the size of a picture. I used `Graphics`, and DrawImage. The output is not correct, while input is correct.
The code is:
[code]
What did I expect:
DrawImage(Image, Rectangle) to fit the picture entirely inside the rectangle, as stated in docs: `Draws the specified Image at the specified location and **with the specified size.**`
What am I seeing:
DrawImage(I

[2020-08-31 14:15] Youssef1313 opened #41595 "MaxWorkingSet supported platforms"
https://github.com/dotnet/runtime/blob/3130ac980c97c0664eddb04411f8f765a9f908d8/src/libraries/System.Diagnostics.Process/ref/System.Diagnostics.Process.cs#L45

The code specifies supported platforms as Windows only.

However, the [documentation](https://github.com/dotnet/docs/blob/3588fdadac34bee137fe519d50c9a187d704d1fd/docs/core/compatibility/unsupported-apis.md) mentions it throws in Linux only

[2020-08-31 14:21] #41276 closed

[2020-08-31 14:30] kolya5544 commented on #41594
Setting PixelOffsetMode of Graphics object to HighQuality seems to completely resolve the problem.

[2020-08-31 14:30] Youssef1313 opened #41596 "SignedCms supported platforms"
https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.Security.Cryptography.Pkcs/ref/System.Security.Cryptography.Pkcs.cs#L232-L256

The supported OS platforms attribute isn't specified here. However, the [documentation](https://github.com/dotnet/docs/blob/3588fdadac34bee137fe519d50c9a187d704d1fd/docs/core/compatibility/unsupported-apis.md) states tha

[2020-08-31 14:36] vitek-karas commented on #34562
Technically this might be written in the `.deps.json` file... please verify that it does in your case (writing that file is complex and it's hard to say if this works in all cases). Reading it can be done via `Microsoft.Extensions.DependencyModel`, the `RuntimeFile.AssemblyVersion` should be that value. I've never tried this combination though - so it's probably worth a small prototype first.

Ano

[2020-08-31 14:42] EgorBo commented on #41471
All these tests (benchmarks) scan input args (`string[] args`) and if it's not empty - try to parse args[0] as int (iterations count).
So it's not a `int.Parse` issue, just some garbage (args for v8?) is forwarded.

[2020-08-31 14:42] jburman opened #41603 "[wasm] HttpClient 5.0 no longer supports Blob URLs"
### Describe the bug
I am testing updating some of my libraries to .net 5.0 and ran into issue where requesting blob urls no longer works correctly.
This was originally addressed in Mono BCL - see issue [11681](https://github.com/mono/mono/issues/11681) and has regressed in Blazor 5.0 update.
Affected package: [Blazor.LocalFiles](https://github.com/jburman/W8lessLabs.Blazor.LocalFiles)
[Example si

[2020-08-31 14:46] jc1001 opened #41597 "System.Numerics.Vectors binding redirect missing"
### Description
I have a .NET Core 2 application that is targeting the full .NET Framework (v4.8).
It hosts a web server (using HttpSys) that exposes a SignalR hub.
I can make a successful call from a client (in this case a .NET console application) to the SignalR hub.
Both the client and the server applications are making use of the new "SDK-style" projects.

When I upgrade the [System.Collection

[2020-08-31 15:10] naricc commented on #41520
It looks like this test explicitly copies an .il file, and then uses CORE_ROOT to find it. I think changing the tests to copy everything in the test output directory to the wasm file system, and then explicitly propgating the CORE_ROOT variable (with --setenv=VAR=VALUE ) should work.

I'm not sure if this constitutes a wider pattern in the tests and will fix more than just this one. Any idea if th

[2020-08-31 15:19] eerhardt commented on #41359
`AssemblyDependencyResolver` supports whatever folder structure is present in the `.deps.json` file (which is generated using the folder/file layout in the NuGet package).

[2020-08-31 15:22] canton7 commented on #41598
I don't follow I'm afraid: doesn't this already exist?

What would your ICountable interface look like? How would it differ from ICollection? Which other interfaces if any would implement it?

What's actually wrong with the way that Enumerable.Count is implemented today? It makes sense to me that it first checks whether the object knows its own length, and then takes the slow route of calculating

[2020-08-31 15:26] ivanivanyuk1993 commented on #41598
Enumerable.Count() supports generic enumerable IEnumerable<TSource>, hence I have to use .OfType<object>(), which effectively add O(n) complexity to my case

[2020-08-31 15:34] mangod9 commented on #41398
The container was missing libgdiplus on Alpine, but was able to resolve it by adding it from a `http://dl-3.alpinelinux.org/alpine/edge/testing/`.

I was able to validate that the fix gets the perf to be comparable with 3.1:

| Alpine                | 3.1  | 5.0  |  6.0 |
|------------------|-------------:|----------------:|----------------:|
| CtorGivenSize<Int32>.Array|     80.30 ns      |  737.

[2020-08-31 15:41] canton7 commented on #41598
@ivanivanyuk1993

So, add the following extension method to your codebase?

[code]

If that's not what you want, please answer the other questions I asked above.

(Note that if you used `collection.Cast<object>().Count()` instead of `OfType<object>()`, then it becomes `O(n)` only if the collection contains value types: if it contains reference types, then `Cast<object>()` is free)

[2020-08-31 15:41] ivanivanyuk1993 commented on #41598
[code]
Are not uniform, can not be passed to methods that need only Count(), it is more logical to have
[code]

[2020-08-31 15:45] ivanivanyuk1993 commented on #41598
I can and I will, but shouldn't it be in runtime anyway? Isn't it logical?

[2020-08-31 15:49] safern commented on #41528
@rcsprakash  could you please share a sample code that is causing you to hit this?

[2020-08-31 15:49] tannergooding commented on #41597
CC. @ericstj.

Seems devs are still having issues with System.Numerics.Vectors bindings out of the box, is there anything we can do here to improve the situation so the default path "just works"?

[2020-08-31 15:49] trylek commented on #41299
Assigning to .NET 6 milestone as this is a design proposal, not a bug fix, and I believe it's too late in the .NET 5 release cycle to introduce new feature work.

[2020-08-31 15:54] ivanivanyuk1993 commented on #41598
If I understand correctly, it won't in my case, because my code can receive
[code]
which can not be cast to typedSource by this code
[code]

[2020-08-31 15:55] trylek commented on #41084
@mikem8361 - is it safe to remove the "Untriaged" label from this issue or do we need to track this item in the infra backlog reviews for .NET 5?

[2020-08-31 15:55] canton7 commented on #41598
Don't worry about `IIListProvider`: that's part of Linq's internal optimizations, but if you're working with a non-generic `IEnumerable` then you won't be using the other parts of Linq anyway, so you won't hit the code paths which create an `IIListProvider`.

Yes we have both `ICollection<T>.Count`, `ICollection.Count` and `Enumerable.Count`, but that's where we are. It's very rare these days to b

[2020-08-31 15:56] safern commented on #41561
This is how we do it for System.Numerics.Tensors:
https://github.com/dotnet/runtime/blob/c4841c5b62cb23b8d27fc7b675bb0d5515fbf827/src/libraries/System.Numerics.Tensors/Directory.Build.props#L5-L7

I think this is fine as we have it because even though this is a shipping package, we don't want to make it stable so we need to set these properties, one for the package version and `IsShippingAssembly=

[2020-08-31 15:57] canton7 commented on #41598
Thanks to covariance, [`source as IEnumerable<object>` succeeds](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxAgrgOyQExAagB8ABAJgEYBYAKGIAYACY8gOgGEB7AGy7gGMYASw6YoAbhr0m5ACwTajZiwAygzAEd5k0gGYGAbxoNjTUqQNGTVgG4QEDAB4MAvA0xwA7gG0AugYYARAEMAL7yVlYOLAAqcLAAPADywABW/DAAfAAUAJThJiE0hdSSeswAbKYMAKIO8KLCojSG1FbEZeSVxDIMsQnR2TAAFoJQ0npqAA7oMDmWxi0RbeQAnFlTMwyj4/EDeSbzoUVAA===).

[2020-08-31 15:58] trylek commented on #40270
Can someone please confirm whether this issue can be scheduled for the .NET 6 release - or is this something we need to continue tracking in our current .NET 5 backlog?

[2020-08-31 16:00] antonfirsov commented on #41585
`TcpClient` propagates exception from `Socket`, where the related `Accept` behavior has been changed in #40476.

There is a big inconsistency between the various code paths (Sync, APM, EAP/Task) when disposing a socket during accept. Only the APM path seems to throw `ObjectDisposedException`:

|  |  |  |
|--|--|--|
|**EAP/Task**  | System.Net.Sockets.SocketException | The I/O operation has been ab

[2020-08-31 16:01] jkotas commented on #40270
This can be closed. The initial question that started this issue was answered.

[2020-08-31 16:01] #40270 closed

[2020-08-31 16:01] mangod9 commented on #41398
Ported to 5.0 with PR: https://github.com/dotnet/runtime/pull/41547

[2020-08-31 16:01] #41398 closed

[2020-08-31 16:03] jkotas commented on #41561
It would be best for all unstable experimental packages to live in dotnet/runtimelab, and move them to dotnet/runtime only once we are ready to ship them as stable.

[2020-08-31 16:04] mikem8361 commented on #41034
The `dotnet-dump collect` default was changed to full dumps (which includes the metadata), but the env var based createdump crash/unhandled exception trigger still defaults to "mini".

[2020-08-31 16:04] ivanivanyuk1993 commented on #41598
I think it is best to use extension method in my case, as stated in https://github.com/dotnet/runtime/issues/41598#issuecomment-683858756, but it would still be nice if runtime had it

[2020-08-31 16:06] pranavkm opened #41602 "Platform compatibility analyzer does not work for property initializer syntax"
[code]

This fails with

[code]

[2020-08-31 16:07] pranavkm commented on #41602
FYI @buyaa-n \ @jeffhandley

[2020-08-31 16:07] MattGal commented on #3833
Taking this issue to work on as part of the DncEng dependency flow / servicing readiness work, please let me know if you're already working on it!

[2020-08-31 16:10] canton7 commented on #41598
Great, it's good to nail down exactly what is being proposed. Do you mind updating your initial post, so it's clear to others reading this issue?

[2020-08-31 16:10] elinor-fung commented on #37039
Thanks @Mrnikbobjeff - updated the list.

[2020-08-31 16:12] ivanivanyuk1993 commented on #41598
Yes, I will do it now

[2020-08-31 16:20] mkArtakMSFT commented on #41603
@kjpou1 this used to work in Mono.

[2020-08-31 16:26] jkotas commented on #41586
Could you please share more details about the thread starvation symptoms that you are seeing?

[2020-08-31 16:30] eerhardt commented on #36060
@davidfowl and I investigated this issue a bit and here is what we learned:

1. When `HostBuilder` creates a `Host`, it must first an `IServiceProvider` that contains the configured services (one of which is the `Host` itself).
2. Once it has an `IServiceProvider`, it then calls `serviceProvider.GetRequiredService<IHost>()` in order to materialize the `Host`.
3. Nothing about `HostBuilder` is `IDi

[2020-08-31 16:34] ericstj commented on #41597
BindingRedirects will always be required when using nuget packages on desktop.  Usually MSBuild will automatically detect when these are needed, but it is missing the case for System.Numerics.Vectors here.

This is because the conflict is coming from the two assemblies:
System.Memory -> System.Numerics.Vectors, Version=4.1.4.0
System.Net.WebSockets.WebSocketProtocol -> System.Numerics.Vectors, Ver

[2020-08-31 16:43] mkArtakMSFT commented on #41605
@safern FYI

[2020-08-31 16:45] safern commented on #41605
This is because preview8 now uses ICU by default on blazor.

cc: @EgorBo @kg

[2020-08-31 16:46] safern commented on #41593
@mmitche do you know when would this be possible? I guess we can already put up a PR to try it out.

[2020-08-31 16:50] EgorBo commented on #41605
Regressed by https://github.com/dotnet/icu/pull/17

[2020-08-31 16:55] antonfirsov opened #41606 "Timeout: OuterLoop SocketsHttpHandler_HttpClientHandler_ClientCertificates_Test.Manual_CertificateSentMatchesCertificateReceived_Success"
### Test Case
`System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_ClientCertificates_Test.Manual_CertificateSentMatchesCertificateReceived_Success(numberOfRequests: 6, reuseClient: False)`

### Failed on
`net5.0-Linux-Debug-x64-CoreCLR_release-Ubuntu.1804.Amd64.Open`
https://dev.azure.com/dnceng/public/_build/results?buildId=794770&view=ms.vss-test-web.build-test-results-tab&run

[2020-08-31 16:57] ericstj commented on #39375
Moving to 6.0.0.  If you feel this can meet the 5.0.0 bar please fill in detail as requested.

[2020-08-31 17:00] mangod9 commented on #39672
@BruceForstall have there been recent runs where this has reproed? Since there have been a couple of stress fixes in the past few weeks wondering whether this still repro. Thx.

[2020-08-31 17:01] ericstj commented on #39709
cc @eerhardt looks like a linker correctness issue.

[2020-08-31 17:04] mangod9 commented on #39039
@VSadov is there anything which needs to be investigated for .net 5 here?

[2020-08-31 17:05] antonfirsov opened #41607 "OuterLoop SocketsHttpHandler_HttpClientHandler_ServerCertificates_Test.UseCallback_BadCertificate_ExpectedPolicyErrors"
### Test case
[code]

### Failed on
`net5.0-OSX-Debug-x64-CoreCLR_release-OSX.1015.Amd64.Open`

https://dev.azure.com/dnceng/public/_build/results?buildId=794770&view=ms.vss-test-web.build-test-results-tab&runId=25143200&resultId=103150&paneView=debug

### With
[code]

### Stack trace
<details>

[code]
</details>

[2020-08-31 17:05] mmitche commented on #41593
Not sure. Putting up a PR and then identifying which packages need to flow is probalby best.

[2020-08-31 17:08] mangod9 commented on #41571
@janvorli @davidwrighton assume this is something we need to fix in 5?

[2020-08-31 17:13] carlossanlop commented on #41553
Hello @maomiaoyan , we need more information. Are you using .NET Framework or .NET Core? Do you have a code snippet we can look at so we can try to repro?

[2020-08-31 17:16] thenadz opened #41609 ".NET 5, Preview 8 Arm64 Single-File Binary Core Dumps at Startup"
### Description

We've got a single-file binary build using .NET 5, preview 8 which core dumps at startup. We've tried both of the following, each with same bad result -- we were using the trimmed version with .NET Core 3.1 successfully:
`dotnet publish Test.Server/Test.Server.csproj -c Release -r linux-arm64 /p:PublishSingleFile=true -o /app/publish`
`dotnet publish Test.Server/Test.Server.csproj

[2020-08-31 17:19] janvorli commented on #41571
@mangod9 It seems so. I am going to look into it today.

[2020-08-31 17:22] maomiaoyan commented on #41553
Use wpf .net framework 461  when use serialports isopen,need more time to finish it.

Why my serialport sometimes no receive data or not trigger the datareceived event,what can broke it,  I debug some days also not resolve it,   can you help me？

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Carlos Sanchez<mailto:notifications@github.com>
发送时间: 2020年9月1日 1:13
收件人: dotn

[2020-08-31 17:29] brentschmaltz commented on #29935
@bartonjs do you know what the root cause is?

[2020-08-31 17:30] #41447 closed

[2020-08-31 17:34] BruceForstall commented on #39672
We can't tell, due to https://github.com/dotnet/arcade/issues/5786

[2020-08-31 17:34] janvorli opened #41612 "The version string is placed into libcoreclr.so many times"
The version string embedded into libcoreclr.so is present 21 times in the .NET 5.0 RC1 runtime.
In other libraries that are part of coreclr, the version string is also embedded multiple times.

I've found that this problem was caused by the #36847, most likely triggered by using object libraries
instead of static ones for the coreclr libraries subcomponents.

[2020-08-31 17:38] buyaa-n commented on #41602
Hm, PropertyInitializer operation is not counted as block operation and no CFG, so flow analysis not working, is it a bug or expected @mavasani?

[2020-08-31 17:39] BruceForstall commented on #41580
I couldn't repro this. Error 3 is probably `ERROR_PATH_NOT_FOUND`. Maybe an anti-virus issue? Please reopen if it fails again.

[2020-08-31 17:39] #41580 closed

[2020-08-31 17:40] BruceForstall commented on #41578
This is a timeout is a very slow test job. I'm going to go ahead and close it. Please reopen if it happens again.

[2020-08-31 17:40] #41578 closed

[2020-08-31 17:41] ericstj commented on #24948
Moving to 6.0.0

Remaining work is to re-enable these tests.

[2020-08-31 17:42] scalablecory commented on #41585
It's expected for Task-based async to throw with `SocketError.OperationAborted`; we shouldn't change that.

Do we have a regression from 3.x or is this just things being different?

[2020-08-31 17:50] ericstj commented on #41104
@adamsitnik was this the case that was also discovered by UTF8String benchmarks?  Do you know if anyone is investigating yet?  cc @layomia

[2020-08-31 17:52] PriyaPurkayastha commented on #41496
cc @ericstj

[2020-08-31 17:53] eerhardt commented on #40157
@ericstj @maryamariyan - thoughts?

[2020-08-31 17:53] adamsitnik commented on #41104
I don't have enough information to be able to tell (I've not profiled them).

[2020-08-31 17:54] mangod9 commented on #39672
is this something they plan to fix for 5? Given that these are ARM, I propose moving these to 6..

[2020-08-31 17:55] layomia commented on #41104
Yes, I plan to investigate if no one else already is (or wants to do so). Please let me know.

[2020-08-31 17:58] thenadz commented on #41609
I was able to replicate this in a small sample project -- see zip below. The Dockerfile included in the root can be used to build arm64 container with single file app build and setup as entrypoint.
[TestConsole-Arm64.zip](https://github.com/dotnet/runtime/files/5151824/TestConsole-Arm64.zip)

[2020-08-31 17:58] Tragetaschen commented on #36060
I second that analysis—it matches the conclusion I came to.

For those requiring disposal of the "root" `IServiceProvider` within `IHostBuilder` (which in turn disposes all the others as well), here is a "fix" as posted in the Autofac sibling issue https://github.com/autofac/Autofac.Extensions.DependencyInjection/issues/68

[code]

which accesses [the private field](https://github.com/dotnet/runti

[2020-08-31 17:58] BruceForstall commented on #39672
Based on my meeting with them, and lack of movement on the issue, I doubt it. I'm not even sure they plan to ever fix it.

[2020-08-31 18:00] vcsjones commented on #41460
To my knowledge, no. We're setting the chain validation time with `SecTrustSetVerifyDate` before calling `SecTrustEvaluate`. The latter call is taking care of all of chain validation and revocation checking, so the validation is opaque to us. I don't see any options to have `SecTrustSetVerifyDate` change how revocation is checked.

[2020-08-31 18:02] safern commented on #41496
@ericstj I believe this was caused by this change: https://github.com/dotnet/runtime/commit/a4eba0a0e1ecb31b7cb3482509bd461c8e9f5ccf

Maybe we should just revert it.

[2020-08-31 18:08] steveharter commented on #41232
Is this a System.Reflection.Emit issue or a System.Runtime.* issue?

`ILGenerator.Emit()` is low-level and does not verify correctness. We have https://github.com/dotnet/runtime/issues/40620 to track making that experience better.

[2020-08-31 18:08] ericstj commented on #40157
It sounds like an idea for a brand new library / suite of libraries.  Typically we don't start those out here in dotnet/runtime unless there is a super compelling reason they need to be in this layer (like intrinsics).  @weitzhandler why not start out a project independent of of dotnet/runtime and see how it goes.  If you can make a compelling case for integration it can be something to consider.

[2020-08-31 18:13] ericstj commented on #41496
Revert it but add a comment to indicate why its there.  Looks like @danmosemsft pointed out this risk in the initial change.   We should also make sure to add a regression test for this.

[2020-08-31 18:18] GrabYourPitchforks commented on #41565
@RamType-0 Can you clarify the particular question being asked here? So far I think we've addressed two questions.

1. Does the framework offer types that can act as non-covariant arrays? Yes, see `Span<T>` and `InvariantArray<T>` (under discussion) for some examples.
2. Will the framework be updated to make standard `T[]` arrays non-covariant? No, this would break too much code.

Did we correctly

[2020-08-31 18:24] steveharter commented on #41450
Thanks @DevDrake for creating this issue (based on past discussion).

A `Project()` mechanism was left out of the initial MLC design since there was not a hard case for it yet. Currently the Project mechanism used by the MLC tests require an explicit Type to be specified.

A `ProjectToCurrentRuntime` in the current suggestion is somewhat ambiguous IMO and could mean several things:
1) Enable just

[2020-08-31 18:24] null-d3v opened #41617 "System.DirectoryServices.Protocols - FastConcurrentBind does not work on linux"
### Description
`LdapSessionOptions.FastConcurrentBind()` does not work on linux.

Valid or invalid credentials will result in the following:
[code]

Sample:
[code]

### Configuration
* .NET 5.0.0-preview.820414.8
* aspnet:5.0-alpine docker image
* x86_64
* libldap 2.4
* Windows Server 2019 DC

### Regression
The exact code is functional when executing from the docker container's Windows host.

[2020-08-31 18:24] GrabYourPitchforks commented on #41457
Ah, yes, you're right in that it's not an exact dupe. But the resolution would be the same. Either they're all resolved as "by design", or they're fixed all at once.

[2020-08-31 18:24] null-d3v opened #41618 "System.DirectoryServices.Protocols - Cannot use SortControl with custom attribute on linux"
### Description
On linux, using `SortRequestControl` with a custom attribute will cause the search request to fail with the following:
[code]
I am able to use a sort control with something basic, like common name.

Sample:
[code]

### Configuration
* .NET 5.0.0-preview.820414.8
* aspnet:5.0-alpine docker image
* x86_64
* libldap 2.4
* Windows Server 2019 DC

### Regression
The exact code is functi

[2020-08-31 18:25] null-d3v opened #41619 "System.DirectoryServices.Protocols - Cannot use SecureSocketLayer on linux"
### Description
On linux, setting `LdapSessionOptions.SecureSocketLayer` to `true` will result in the following:
[code]

Sample:
[code]

### Configuration
* .NET 5.0.0-preview.820414.8
* aspnet:5.0-alpine docker image
* x86_64
* libldap 2.4
* Windows Server 2019 DC

### Regression
The exact code is functional when executing from the docker container's Windows host.

[2020-08-31 18:25] ericstj commented on #33082
Closing per https://github.com/dotnet/runtime/issues/33082#issuecomment-659163477

[2020-08-31 18:25] #33082 closed

[2020-08-31 18:44] rcsprakash commented on #41528
Hi,
Am using FonetCore to generate pdf from xml document. Attached the sample project. Hope this helps
[WebApplication4.zip](https://github.com/dotnet/runtime/files/5152013/WebApplication4.zip)

[2020-08-31 18:45] davidwrighton commented on #41571
I suspect this is a load level issue where the type load verification is trying to load the type to too high of a load level when checking that the override is valid. This is definitely a runtime bug, and one we should probably fix, but fortunately, the failure behavior is a relatively clean exception, in a circumstance which would not have succeeded without a TypeLoadException in the past, so thi

[2020-08-31 18:48] akshays2112 commented on #41473
@scalablecory makes a lot of sense. Even in all the endpoints I did I never ran into this until the very end.

[2020-08-31 18:53] steveharter commented on #38637
Also see related issue where we improved perf somewhat in 3.1 https://github.com/dotnet/runtime/issues/31103

[2020-08-31 18:55] teo-tsirpanis commented on #41565
@RamType-0, could you also tell us what do you need invariant arrays for? What kind of performance-critical code are you working on, for which platform, and why is using a `Span` not acceptable?

Moreover, how much optimized is your code? There is a chance that the variant array check is not your bottleneck. Have you tried `Span` and found performance differences while benchmarking?

[2020-08-31 18:55] Scottj1s opened #41621 ".NET 5 removal of WinRT support does not correctly reject ComInterfaceType.InterfaceIsIInspectable"
Found when adding ComImport-based unit tests to C#/WinRT.  An interface defined with ComInterfaceType.InterfaceIsIInspectable will cast without error, but subsequent interface calls will AV.  According to @jkoritzinsky, the correct behavior is to throw an exception on the cast.

Repro:
[unit test code](https://github.com/microsoft/CsWinRT/blob/ac42ed401389e8f9b3e23d7659037ccabc603395/UnitTest/Test

[2020-08-31 18:57] benaadams commented on #41232
`area-CodeGen-coreclr` I assume?

[2020-08-31 18:57] benaadams commented on #41232
Its a Jit issue so `area-CodeGen-coreclr` I assume?

[2020-08-31 18:59] bartonjs commented on #29935
@brentschmaltz I don't, no.  But I don't know anything about impersonation.  I believe that the hope is that you would tell us :smile:.

[2020-08-31 19:02] steveharter commented on #31493
@zachsaw I decompiled your tests and the likely reason for the slowness is due to using polymorphism via `Dictionary<string, object>` for the "Book.Metadata" property. Unlike Newtonsoft, STJ doesn't "guess" at what the `object` type maps to and instead creates a `JsonElement` to represent. This is slow because there is an additional alloc per `object` instance as well as other overhead of `JsonEle

[2020-08-31 19:11] DickBaker commented on #40253
see att screenshot as example from an Issue and PR I was working on for
https://github.com/PacktPublishing/C-8-and-.NET-Core-3-Projects-Using-Azure-Second-Edition
![Jaycecoding](https://user-images.githubusercontent.com/2774188/91756985-9474f900-ebc5-11ea-8d72-edcbb5b4fd7d.png)

In VS2019 you can just click on the project name to display the .csproj (no need to unload and poke about)

[2020-08-31 19:24] mangod9 commented on #39672
OK, moving to 6. We can evaluate based on arcade support for ARM.

[2020-08-31 19:31] mangod9 commented on #39577
@BruceForstall assume this is not affected by the arcade issue?

[2020-08-31 19:36] BruceForstall commented on #39577
The arcade issue only affects issue logging and reporting, not the actual test case runs.

But correct, this is Linux x64, so the reporting here would be fine.

Unfortunately, I didn't link this to a CI run.

[2020-08-31 19:36] ericstj commented on #40804
@jaredpar mentioned to me offline that folks would still like us to have coverage of this for 5.0.  I think the next steps here are to enable in master then see what changes would need to be made in 5.0 (likely a subset since product changes need to be evaluated against the 5.0 bar for risk).  We should at least do what we can to get the data in time for 5.0.

[2020-08-31 19:37] msallin commented on #41586
Sure. I might start with some details about the application.

The application consists of 5 Kafka consumers and several produces. A part of the consumed records get saved to a MSSQL database using EF Core. We are using [this](https://github.com/BEagle1984/silverback) library to communicate with Kafka . From external there are a bunch of incomming HTTP requests (not really worth to mention in terms

[2020-08-31 19:38] ericstj commented on #972
@MattGal / @dleeapho any update on this?

[2020-08-31 19:40] isaacrlevin opened #41623 ".NET 5 Preview 8 ReadyToRunCompiler task failure"
I am attempting to publish a .NET 5 P8 WPF project and get the following error

Seems that a particular .dll is being passed twice for whatever reason. Here is the command I am running

And the contents of the publish file

[code]

If I set PublishReadyToRun to false, publish works as expected. Can provide my .props or .csproj if needed

[2020-08-31 19:40] wfurt commented on #41607
dup of #41381

[2020-08-31 19:40] #41607 closed

[2020-08-31 19:41] isaacrlevin commented on #41623
cc @mangod9

[2020-08-31 19:48] VSadov commented on #39039
@mangod9 - I do not think there is something actionable further.

[2020-08-31 19:50] safern commented on #40804
Yeah, agreed. Working on it after taking care of: https://github.com/dotnet/runtime/issues/41496

[2020-08-31 19:57] mangod9 commented on #39577
Ok to close for now assuming most of the GC stress issues were related to a couple of fixes recently?

[2020-08-31 19:58] vargaz commented on #41455
This could be a badly handled out-of-memory error. Does the problem go away when the input data size is decreased ?

[2020-08-31 19:59] mangod9 commented on #41623
Hi @isaacrlevin, is this a regression in p8 ? Adding @AntonLapounov since he has worked on PublishReadyToRun recently

[2020-08-31 20:01] #39039 closed

[2020-08-31 20:02] jkotas commented on #41586
Were you able to identify the code that is blocking the threadpool thread when the heartbeat fails?

If this code is not under your control, it is fine to work around it be setting minimum thread pool threads.

The threadpool does detect the starvation and it will inject additional thread pool threads to resolve it, but it takes some time for the threadpool to react and things may time out in the

[2020-08-31 20:02] jkotas commented on #41586
cc @kouvel

[2020-08-31 20:05] #36590 closed

[2020-08-31 20:08] fanyang-mono commented on #41449
I will look into this issue next will. Will consult with Zoltan when necessary.

[2020-08-31 20:13] agocke commented on #3452
@AaronRobinsonMSFT Do you think we're done here for 5.0

[2020-08-31 20:14] agocke commented on #3156
@vitek-karas @swaroop-sridhar I'm thinking that this is a 6.0 item now, any objections?

[2020-08-31 20:16] thenadz commented on #41609
It looks like replacing `/p:PublishSingleFile=true` with `--self-contained` results in a runnable exe. Help output from dotnet gave me that, but didn't see an equivilent for the trimmed option. Can I get confirmation that --self-contained is the right way to go and if there is anything furhter I should do to optimize output size? Thanks!

[2020-08-31 20:16] wfurt commented on #41552
The root should never go out IMHO. If the peer does not have it (and trust it), the handshake will fail anyway.
The possibility of accepting exactly what user provided was discussed - and rejected.
That would not be generally feasible - at least not on Windows.
And the goal was not to send invalid data for testing.

[2020-08-31 20:19] AaronRobinsonMSFT commented on #3452
@agocke I think so. The outstanding checkbox are are for additional testing. We still don't have this coverage but it shouldn't be blocking in .NET 5. I think we should make some more effort in .NET 6 to fill the gaps though. I would move to .NET 6 for now.

[2020-08-31 20:21] wfurt commented on #41576
dup of #2353

[2020-08-31 20:21] #41576 closed

[2020-08-31 20:21] #40936 closed

[2020-08-31 20:21] vitek-karas commented on #3156
agreed 😢

[2020-08-31 20:22] msallin commented on #41586
Not yet. I only see this occurring in production. I couldn't reproduce it locally nor on other environments. Unfortunately, we haven't yet the possibility to get dumps and/or traces from the container running in prod. We are working on it.

Yep, this is true. The application never stays in this state and always recovers as soon as the thread pool created enough threads to handle the load.

[2020-08-31 20:23] swaroop-sridhar commented on #3156
Me too.

[2020-08-31 20:29] BruceForstall commented on #39577
Sure. Looks like it failed with this assert five times in the last few months but hasn't failed in the CI since mid-July.

[2020-08-31 20:30] mangod9 commented on #39577
great, Thanks

[2020-08-31 20:30] #39577 closed

[2020-08-31 20:32] mangod9 commented on #36204
@xiangzhai so guess we should close this now that its not reproing?

[2020-08-31 20:33] groogiam opened #41625 "AssemblyLoadContext does not provide proper isolation of types"
I am running into an issue where I am trying to port some logic which creates dynamic assemblies from framework to core. In this particular scenario the code that creates the dynamic assembly is in a nuget package that use CodeDomCompiler. The assembly is loaded from CompilerResult.CompiledAssembly which appears to always use the default context. This also happens with typeof comparisons inside of

[2020-08-31 20:45] ericstj commented on #41560
We should just remove this from dotnet/runtime and put back to corefxlab.  It was only moved to dotnet/runtime because it needed to ship *a* stable version and at the time corefxlab couldn't do that.  Now that corefxlab has arcade infra I think this package should be moved back.

For 5.0 let's make sure not to ship any stable versions.  For 6.0 + let's move it back to corefxlab.

[2020-08-31 20:51] isaacrlevin commented on #41623
It worked in Preview 7, so unless I am doing something wrong, it is a regression

[2020-08-31 20:58] #24948 closed

[2020-08-31 21:07] steveoh opened #41630 "JsonIgnoreCondition.WhenWritingDefault and double"
### Description

[code]

When the prop is set to -1, which is the default value, the property is serialized when `JsonIgnoreCondition.WhenWritingDefault` is set. I would expect that property to not be serialized.

### Configuration

osx catalina x64
5.0.100-preview.8.20417.9

[2020-08-31 21:09] trylek commented on #41520
I tried a full-text query over all *.cs and *.il source files under src/tests in the runtime repo and that yielded just 36 references to <code>CORE_ROOT</code>, often with multiple occurrences in the same file so at the first glance I'm expecting just 10~20 tests to be affected by this issue. I suspect that most of these will be safe to mark as WASM-incompatible (e.g. I'm seeing a test using <code

[2020-08-31 21:14] davmason commented on #41125
Thank you both for validating the fix. I opened a PR to port it back to 3.1 in https://github.com/dotnet/coreclr/pull/28090.

[2020-08-31 21:16] MattGal commented on #972
I haven't had a conversation with Dan, but I think I know everything I need to know in this space.

- We have some real challenges for test machines w.r.t. core availability in the post-COVID world, as such we're trying very hard to avoid growing new Linux queues where possible.
- With RedHat, docker-ization from an Ubuntu machine (or any non-RHEL) is blocked, so we'd have to stand up such machine

[2020-08-31 21:16] vitek-karas commented on #41625
The problem is this line:
https://github.com/dotnet/runtime/blob/731eaf35451c2076287416018d4dca5df9843258/src/libraries/System.CodeDom/src/System/CodeDom/Compiler/CompilerResults.cs#L26

`Assembly.LoadFile` will
* Create a new ALC for the each unique file path and load the assembly into it
* The new ALC will always fallback to Default ALC for any other assembly resolution

So the end result is tha

[2020-08-31 21:20] safern commented on #41560
@jkotas was suggesting we move these to runtimelab. What would be the benefit of one over the other?

[2020-08-31 21:23] kronic commented on #41287
Add public string Remove(this string, params char[] value)

[2020-08-31 21:25] jkotas commented on #41560
The right place for experiments going forward is runtimelab.

Once we get runtimelab fully up and running, we should plan on archiving corefxlab. It is mentioned in https://github.com/dotnet/runtime/issues/35609 .

[2020-08-31 21:34] AntonLapounov commented on #41623
@isaacrlevin Do you hit the same issue with a new WPF project ("dotnet new wpf")?

[2020-08-31 21:41] provegard commented on #41351
@vitek-karas Thank you for your response! I'm building with:

    dotnet build /p:Platform=x86

or `x64`. After that, I'm just running the exe (this is a sample application, so there's no need to publish anything).

What's strange is that I cannot reproduce the problem now. I can run the application under 3.1 without the dialog showing. My SDK and runtime lists are the same as they were when I cre

[2020-08-31 21:41] #41351 closed

[2020-08-31 21:49] HKunogi commented on #41421
When i run it on windows it works perfectly fine, the issue only happens at linux arm.

[2020-08-31 22:00] GrabYourPitchforks commented on #40074
As part of this work item, we should also verify that `RandomNumberGenerator` is correctly plumbed down to [`crypto.getRandomValues`](https://developer.mozilla.org/en-US/docs/Web/API/Crypto/getRandomValues). Right now it's plumbed through `/dev/random`, which I think the Mono wasm engine ties through correctly, but it's always good to remove indirection and points of failure where possible.

[2020-08-31 22:02] eerhardt commented on #41421
@HKunogi - looking at your screenshot, I see you are using `Configuration = Release | x64`

![image](https://user-images.githubusercontent.com/8291187/91773080-aea1dd80-ebab-11ea-9c41-9def174855bf.png)

Is that intentional? Is there a reason your Architecture is set to `x64` when you are trying to publish to an `arm` machine?

[2020-08-31 22:05] eerhardt commented on #41421
Also - I'm unable to reproduce this on my Raspberry Pi using a simple console app the just creates a new `TcpListener`. @HKunogi, if you point to a complete project that reproduces this error, that would really speed up the investigation.

[2020-08-31 22:08] ericstj commented on #40895
AssemblyFileVersionAttribute should be set from the value of the MSBUILD `$(FileVersion)` property.
AssemblyInformationalVersionAttribute should be set from the value of the MSBUILD `$(InformationalVersion)` property.

This is the same as is done by Microsoft.NET.GenerateAssemblyInfo.targets https://github.com/dotnet/sdk/blob/456f8081a9700ad5c27f7ff169fee5dc6ae95e56/src/Tasks/Microsoft.NET.Build.T

[2020-08-31 22:11] sandreenko opened #41635 "superpmi: replay of a particular test takes a very long time."
"JIT\jit64\opt\cse\hugeexpr1.cs" takes at least an hour to be replayed at my machine using x64 collection.

It looks like ` void CompileResult::repRecordCallSite(ULONG instrOffset, CORINFO_SIG_INFO* callSig, CORINFO_METHOD_HANDLE methodHandle)` works much slower with SPMI that it is with CoreRun.

MD5 hash for the method was “E602D1102CCE1B86917BBAF7CA2C224B”.

cc @BruceForstall

category:testing

[2020-08-31 22:20] wfurt commented on #41381
my bad @bartonjs. I got the posted certificate when running openssl from command line. When I run the test, SNI _is_ set and test gets _different_ certificate. That on is for `*.badssl.com` so it is curious why OSX would complain about the name.

[2020-08-31 22:34] snickler commented on #41374
@tebeco - I can confirm that adding the reg keys to disable the TLS 1.3 client successfully restored the NuGet package. Looks like it is indeed a dup.

![image](https://user-images.githubusercontent.com/4016293/91775235-95ebf480-ebb8-11ea-8dfa-3f002908e708.png)

[2020-08-31 22:40] ViktorHofer opened #41637 "CoreClr build takes very long and fans out the cpu which results in the machine being unresponsive"
The CoreCLR build takes 10-30 minutes depending on number of cores and other hardware metrics. In addition to that, the machine is completely unresponsive during the build, most likely because the CPU is completely fanned out. We should investigate if there's a way to speed the runtime build up (ie with VS 2019 build improvements and/or Ninja) and lower the CPU utilization to not block a dev's mac

[2020-08-31 22:41] trylek commented on #41637
Related issue: https://github.com/dotnet/runtime/issues/33872

[2020-08-31 22:50] BruceForstall opened #41639 "superpmi: Ensure SuperPMI works well with crossgen2"
This includes both collection and replay, including both assertion checking replay and asm diffs replay.

This issue also includes any documentation required for describing this scenario.

Issue https://github.com/dotnet/runtime/issues/38430 describes various problems encountered trying to use SuperPMI with crossgen2. This issue is more specifically concerned with tracking the SuperPMI work and do

[2020-08-31 22:57] wfurt commented on #41381
It seems like this is essentially dup of #666. The verification fails with CSSMERR_APPLETP_INVALID_EXTENDED_KEY_USAGE  because the self-signed certificate does not have EKU set.

The question is if EKU should cause RemoteCertificateNameMismatch...? (I think RemoteCertificateChainErrors would still make sense if OS cares about EKU)
Or should `AppleCryptoNative_SslIsHostnameMatch focus on name?

cc:

[2020-08-31 23:05] ViktorHofer commented on #40570
Hello @alefranz, thanks for the detailed feedback. I'll try to respond to all of it.

You are right with building the runtime part of the repository takes a considerable amount of time. During that, we fan out the CPU so that it builds as fast as possible but with the caveat of making the machine unresponsive during the build. @jkoritzinsky and others were looking into speeding up the coreclr buil

[2020-08-31 23:10] bartonjs commented on #41381
Ah.  That.

The way we currently detect a hostname mismatch on macOS is to build their version of X509Chain but with an "I'm doing TLS" policy applied.  The assumption is that if the base policy passes, but the TLS policy fails, that it failed because of the hostname; but apparently there are secondary characteristics that can also cause it to fail.

So there's a tradeoff: a few false negatives, o

[2020-08-31 23:20] wfurt commented on #41381
I will rewrite the test to use certificate we can control to make it less dependent on external entities.

We already have enough hooks that we could ignore specific error codes during name validation e.g. use what you described with exceptions. I would expect that we validate rest of the certificate outside of _SslIsHostnameMatch ...?
Or are we not?

[2020-08-31 23:28] vitek-karas opened #41640 "Single-file host"

[2020-08-31 23:33] vitek-karas commented on #41640
Running the grep on `libcoreclr.so` from the same build of dotnet shows for example:
[code]

[2020-08-31 23:40] vitek-karas commented on #41265
`DependencyContext.Default` should now always return null in single-file apps - after https://github.com/dotnet/runtime/issues/41267 is fixed. So serilog should not crash anymore, but it won't find anything anyway since it's going to fallback to directory search which will only see the main executable. So the functionality is somewhat different.

We don't have room to fix the DependencyModel in .N

[2020-08-31 23:41] bartonjs commented on #41381
The X509Chain class is used to determine the RemoteCertificateChainErrors value, and to pass some context into the AppleCryptoNative_SslIsHostnameMatch function in order to build the request (e.g. it always says that the context is trusted so that an untrusted chain doesn't produce hostname mismatch).

Trying to tear apart the false to distinguish "name mismatch" specifically from "generically not

[2020-08-31 23:46] alexcovington commented on #40956
That seems like a pretty good advantage for x86/AMD64 and I assume ARM, but I'm not as familiar with FMA on ARM.

Curiosity got the best of me, so I took your `sinf` implementation and tweaked it to get a `cosf` implementation and compared the numbers:

|      Method |              f |      Mean |     Error |    StdDev |
|------------ |--------------- |----------:|----------:|----------:|
| Manage

[2020-08-31 23:46] #35076 closed

[2020-09-01 00:10] RomainAn commented on #41455
Hello everyone !

Yeah, the error go away when i reduce or i don't send from the server to the client some big bunches of data.

[2020-09-01 00:25] BruceForstall opened #41643 "Stop building JIT as altjit or not altjit"
Currently, a JIT is built with the `ALT_JIT` define if it is intended to be used as an "altjit". Only when this is defined can a JIT define `opts.altJit` to `true`. This alters what functions are compiled by the JIT, and what `COMPlus` variables apply to the JIT versus the non-altjit.

This is problematic because we would like to be able to use any JIT in "altjit position" without this special bui

[2020-09-01 00:45] BruceForstall commented on #648
Fixed with https://github.com/dotnet/runtime/pull/33946

[2020-09-01 00:45] #648 closed

[2020-09-01 00:54] BruceForstall commented on #573
Since this appears to be purely cosmetic, and doesn't affect functionality or usage, I'm going to close this.

[2020-09-01 00:54] #573 closed

[2020-09-01 00:59] CarolEidt commented on #41518
I've often thought this would be a good idea, but never got around to filing an issue.

IIRC we used to be able to do this, but lost the ability when we added more (and generally better) ISA support.

[2020-09-01 01:02] sunny868 opened #41644 "How to view the platform related binary code in DLL file ?"
How to view the platform related binary code in DLL file ?
Maybe there are tools to use,just like objdump can view the binary code in ELF file.

[2020-09-01 01:13] BruceForstall opened #41647 "JIT: add option to print GC info interleaved with asm output"
Currently, when using `COMPlus_JitGCDump`/`COMPlus_NgenGCDump`, GC info is displayed in a block at the end of compilation.

Create options that allow the information to be interleaved into the asm dumped with `COMPlus_JitDisasm`/`COMPlus_NgenDisasm`. These options would be in addition to the current ones, which are still useful.

Interleaved output allows us to always add GC info into our asm diff

[2020-09-01 01:29] BruceForstall opened #41649 "superpmi.py: enable collection/replay of JIT asserts"
The scenario I want to enable using superpmi:
1. JIT assert happens in a test.
2. Do SuperPMI collection of this test run, probably using superpmi.py.
3. Replay the MCH
4. See the exact same assert.

Note that the normal SuperPMI collection process filters out failures during collection, and ensures that the "final replay" is error free. In the mode described here, we would intentionally leave in

[2020-09-01 01:35] xiangzhai commented on #36204
YES!

[2020-09-01 01:46] merthsoft opened #41650 "MathF.Round(float x, int digits, MidpointRounding mode) will throw a misleading ArgumentOutOfRangeException when passing in more than six in digits"
In Round for MathF there's a check that `digits` is less than `maxRoundingDigits`:
https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/MathF.cs#L345

If so, it will throw an exception with a message referenced from here:
https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/Resources/Strings.resx#L1847

The message text is:

[2020-09-01 01:48] BruceForstall opened #41651 "Remove remnant jit-diff automation from CI code"
https://github.com/dotnet/coreclr/pull/8032 added the basics of creating jit-diff automation, based on idea here: https://github.com/dotnet/jitutils/issues/62. It was never used. Simply the CI by removing it.

[2020-09-01 01:50] AndyAyersMS commented on #40810
@danmosemsft per the above I am planning on closing this -- let me know if you agree.

[2020-09-01 01:52] JasonjhHuang commented on #41416
[timer.txt](https://github.com/dotnet/runtime/files/5153430/timer.txt)
[timer_24862.txt](https://github.com/dotnet/runtime/files/5153431/timer_24862.txt)
[timer_24863.txt](https://github.com/dotnet/runtime/files/5153432/timer_24863.txt)

I did `strace -f` again to get these information, I think pid 24862 is main process and 24863 is timer thread. You can see `After Initialize` in 24863.txt, it mea

[2020-09-01 02:12] ufcpp commented on #41565
Yes, I have for performance in Unity.

[2020-09-01 02:24] v-haren opened #41652 "Test failure: profiler/unittest/getappdomainstaticaddress/getappdomainstaticaddress.sh"
failed in job: [runtime-coreclr jitstress 20200830.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=794443&view=ms.vss-test-web.build-test-results-tab&runId=25126518&resultId=100013&paneView=debug)

CoreCLR OSX x64 Checked jitminopts @ OSX.1013.Amd64.Open

Error message
[code]

[2020-09-01 02:27] Anipik commented on #41560
The 5.0.0 related work has been done

[2020-09-01 02:32] BruceForstall opened #41653 "superpmi: enable better % improvement number for asm diffs"
Currently, when doing SuperPMI asm diffs, a % improvement/regressed number is calculated by jit-analyze using only the functions that contained diffs as the total amount of code. This gives skewed data, as we only generate the asm for functions that have any changes. We should calculate the diff using the total amount of code generated in the replay, whether it contained a diff or not.

category:e

[2020-09-01 02:45] #41496 closed

[2020-09-01 02:47] eerhardt opened #41654 "Warnings by default when PublishTrimmed=true TrimMode=link"
### Description

1. `dotnet new console`
2. `dotnet publish -r win-x64 /p:PublishTrimmed=true /p:TrimMode=link`

This emits 2 warnings:

[code]

### Configuration

* Which version of .NET is the code running on? .NET 5.0.100-rc.1.20431.5
* What OS and version, and what distro if applicable? All coreclr based configurations.

### Regression?

This is a regression from previous .NET 5 builds. Previo

[2020-09-01 02:50] RamType-0 commented on #41565
Did You mean that you have wrote a code using array's covariantness,and that will not work if we make it invariant?
If so,would you tell me what was the code like?

Also, I'm proposing this feature for .NET Core,will not affect Unity.
If such a code only available in Unity, maybe that's not a big problem. Unity already has many its local "culture".
We often migrating from .NET Framework to .NET Co

[2020-09-01 03:04] GF-Huang commented on #39987
Is seems not work, still not line numbers.

![image](https://user-images.githubusercontent.com/4510984/91790275-f0319780-ec42-11ea-8e43-9e0217f63996.png)

[2020-09-01 03:19] GF-Huang commented on #39987
`<DebugType>embedded</DebugType>`  works well, but why `<IncludeSymbolsInSingleFile>true</IncludeSymbolsInSingleFile>` not work?

[2020-09-01 03:53] ericstj commented on #37664
I have a PR ready for this but I’m not 100% confident it is low enough risk to take this late in 5.0.  Will move to 6.0.  Folks can still pick up the package and try it out on 5.0 / 3.x.

[2020-09-01 04:16] hoyosjs commented on #41078
Seen in https://dev.azure.com/dnceng/public/_build/results?buildId=796065&view=ms.vss-test-web.build-test-results-tab&runId=25185620&resultId=177012&paneView=debug

[2020-09-01 04:41] wfurt commented on #37318
few notes: Who the request fails with 'nodename nor servname provided' than SSL is not even tried - so there is no way how we would leak in `System.Security.Cryptography.Native.Apple.dylib` (note this can be cause by known bugs in systemd or transient lookup failures)

I modified repro to do 111 request, dispose the `IAmazonKinesis` and wait for input.
Interestingly that does not dispose underlyin

[2020-09-01 04:53] mangod9 commented on #36204
Thanks

[2020-09-01 04:53] #36204 closed

[2020-09-01 05:02] mangod9 commented on #41644
@sunny868 can you elaborate on your question? are you asking about managed assemblies, R2R native dlls or just any windows binaries? For managed assemblies you could use ILDASM, R2RDump for R2R.

[2020-09-01 05:53] xiangzhai commented on #36204
You are welcome!

[2020-09-01 06:01] ZhiqiangTao opened #41656 "[Question]How to inspect the background gc thread?"
recently, I'm inspect gc deeply, I found the description about the **background gc** as below:
https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/background-gc
![image](https://user-images.githubusercontent.com/16182251/91797451-3263d480-ec55-11ea-8d2e-eabf79b8245a.png)
it said :"one dedicated background garbage collection thread". As far as i understand，another one thread that al

[2020-09-01 06:19] sunny868 commented on #41644
It`s R2R native dll . I`m working on Linux platform.
When I use the crossgen tool to cross generate mips64 Arch platform related dll files, I want a tool to view the binary code in this file.
`/coreclr-mips64-dev/bin/Product/Linux.mips64.Debug/x64/crossgen /Platform_Assemblies_Paths /coreclr-mips64-dev/bin/Product/Linux.mips64.Debug/IL  /out /coreclr-mips64-dev/bin/Product/Linux.mips64.Debug/Syste

[2020-09-01 06:22] mangod9 commented on #41644
You can find it here: https://github.com/dotnet/runtime/tree/master/src/coreclr/src/tools/r2rdump. You can also find a readme there describing its usage + R2R Format details. Hope this helps.

[2020-09-01 06:23] ZhiqiangTao commented on #41656
append something....
I rebuild my sample app container, and exec it.
use the dotnet-trace to collect the events trace[[trace.nettrace.zip](https://github.com/dotnet/runtime/files/5154294/trace.nettrace.zip)]
I find that the "GC/Start" event was hit on the threadid "164":
![image](https://user-images.githubusercontent.com/16182251/91806021-6ee7fe00-ec5e-11ea-97f6-d27a6d566e42.png)
but there is no t

[2020-09-01 06:24] mangod9 commented on #41644
BTW, it only supports x64, it appears you are building for mips64 and that isnt quite supported (yet).

[2020-09-01 06:25] #1910 closed

[2020-09-01 06:28] sunny868 commented on #41644
Thank you very much

[2020-09-01 06:29] mangod9 commented on #38290
Moving to 6 since this is a corner case.

[2020-09-01 06:31] mangod9 commented on #41644
You are welcome. Ok to close this issue for now?

[2020-09-01 06:35] tannergooding commented on #40956
AFAIK no one on the .NET team has done it yet. I had only done the initial prototype for `sinf` and had started doing the equivalent work for `sin`.

[2020-09-01 06:43] benaadams opened #41658 "ConfigurationBinder.Bind is not linker friendly"
If `Configuration.Bind` is called on a type an it is the only method of setting its properties all the properties will be removed at link time and the configuration then will not set for bind

https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/Microsoft.Extensions.Configuration.Binder/src/ConfigurationBinder.cs#L107

Repo, link with `<TrimMode>Link</TrimM

[2020-09-01 06:56] wstaelens commented on #29935
https://github.com/dotnet/core/issues/5021

[2020-09-01 07:14] sunny868 commented on #41644
I just ran this command on x64 linux:

``./dotnet exec --runtimeconfig shared/Microsoft.NETCore.App/2.1.0/R2RDump.runtimeconfig.json shared/Microsoft.NETCore.App/2.1.0/R2RDump.dll --in hello.dll
Error:
  An assembly specified in the application dependencies manifest (R2RDump.deps.json) was not found:
    package: 'System.CommandLine', version: '0.1.0-e160119-1'
    path: 'lib/portable-net45+win8+w

[2020-09-01 07:16] campersau commented on #41658
Similar to https://github.com/dotnet/runtime/issues/40551

[2020-09-01 07:30] sunny868 commented on #41644
The System.CommandLine.dll min version is 0.3.0-alpha.20054.1  but not version: '0.1.0-e160119-1' on https://www.nuget.org/

[2020-09-01 07:41] hoyosjs commented on #41656
In lldb you can list the native threads doing `bt all`. that will give you all the stacks. They look like this:
[code]

[2020-09-01 07:42] jc1001 commented on #41597
Thank you for the detailed (and quick) response.  I can confirm that my example application is working when I add the reference to the later version of `System.Net.WebSockets.WebSocketProtocol`.

I'll close this issue and reference the answer on the aspnetcore project (where I initially logged the [issue](https://github.com/dotnet/aspnetcore/issues/24998)) - hopefully they can update the necessary

[2020-09-01 07:42] #41597 closed

[2020-09-01 07:46] gfoidl commented on #40936
Are there any steps needed for the documentation?

[2020-09-01 08:18] Mrnikbobjeff commented on #33780
Should  this only trigger for byte or for other primitives as well?

[2020-09-01 08:23] GSPP commented on #39746
It would be useful if this API was integrated with the normal locking that writing to the console does. `WriteLine` is atomic which is important in multi-threaded console output. Changing colors before and after calling `WriteLine` is racy. Therefore, applications need to introduce their own global console lock if they want atomic colored `WriteLine`. If this was built-in, it could just be handled

[2020-09-01 08:32] pinkfloydx33 commented on #41630
The serializer only looks at the actual default value of the type, meaning `default(T)`. It doesn't look at the `DefaultValueAttribute`

https://github.com/dotnet/runtime/blob/756addda8cf593faf696602d8a9dfef759423849/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoOfT.cs#L137-L138

Aside: your use of `&` in `JsonIgnoreCondition.WhenWritingNull & JsonIgnoreConditio

[2020-09-01 08:38] ZhiqiangTao commented on #41656
@hoyosjs ths a lot, I got it 👍

[2020-09-01 08:38] #41656 closed

[2020-09-01 08:46] krwq commented on #33283
@bartonjs @Kuinox will my doc changes https://github.com/dotnet/docs/pull/20366 related to https://github.com/dotnet/runtime/issues/2042 also cover this? This seems similar if not the same. Should I perhaps add some more details there or would that be sufficient?

[2020-09-01 10:01] xiangzhai commented on #41644
Hi,

The same story: [AspNetCore-2.1](https://github.com/dotnet/aspnetcore/tree/v2.1.7) failed to build for X86 either  https://github.com/dotnet/aspnetcore/issues/11309

Fortunately [AspNetCore-3.1](https://github.com/dotnet/aspnetcore/tree/v3.1.7) is OK!

Why the building process is heavily depends on online packages compares with [OpenJDK building](http://openjdk.java.net/groups/build/doc/build

[2020-09-01 10:27] karelz commented on #40776
Fixed in 5.0 in PR #41610

[2020-09-01 10:27] karelz commented on #40926
Fixed in PR #41022

[2020-09-01 10:27] #40926 closed

[2020-09-01 10:32] karelz commented on #41110
Moving to 6.0 as we won't ship these APIs in 5.0.

[2020-09-01 10:38] karelz commented on #41246
Addressed upstack in PR https://github.com/dotnet/aspnetcore/pull/25344 ... unless we hear more customers hitting it, we do not plan to add the API in BCL.

[2020-09-01 10:38] #41246 closed

[2020-09-01 10:39] karelz commented on #41374
Duplicate of #40679

[2020-09-01 10:39] #41374 closed

[2020-09-01 10:47] stephentoub commented on #33780
byte, sbyte, and bool

[2020-09-01 11:10] GSPP commented on #39601
What I needed a few times is a wrapper stream that ignores `Flush`. `Flush` is sometimes called rather generously for no functional reason. Depending on the concrete `Stream` it can have rather drastic performance implications such as causing network access, disk access or just a kernel call.

[2020-09-01 12:26] marek-safar commented on #41603
/cc @lewing

[2020-09-01 12:42] #40301 closed

[2020-09-01 13:11] RamType-0 commented on #41565
[I got unexpectedly low performance for WithRef in this benchmark.](https://github.com/RamType-0/UniTask/blob/ContinuationQueueCheck/src/UniTask.NetCoreSandbox/ContinuationQueueCheck.cs)
[code]
|                         Method |                    Categories |     Mean |    Error |   StdDev |   Median |
|------------------------------- |------------------------------ |---------:|---------:|-------

[2020-09-01 13:12] ManickaP opened #41670 "Socket.Connect(Start|Stop) activity ID missmatch on Windows"
New telemetry in `System.Net.*` namespace produces unexpected ActivityId in Sockets events, seen only on Windows so far.
[code]

Unexpected number:
[ConnectStart]**00002111**-0000-0000-0000-000076d79d59.00000011-0000-0000-0000-000076f49d59
Missing ActivityId:
[ConnectStop]00000000-0000-0000-0000-000000000000.00000000-0000-0000-0000-000000000000

[2020-09-01 13:32] vargaz opened #41673 "Add stack overflow checking to the interpreter"
Currently stack overflows show up as crashes in:
					child_frame = g_newa0 (InterpFrame, 1);
Would be nice to detect this and print a stack trace, at least in debug configuration.

[2020-09-01 13:37] BrzVlad commented on #41673
Why would we ever stack overflow on the native side ?

[2020-09-01 13:47] chrarnoldus opened #41674 "InvalidProgramException when accessing struct IReadOnlyList<T> in Expression<T>"
### Description

The code included below crashes with the following exception:

[code]

I expected the code to do nothing at all, since I am not even evaluating the `IQueryable`.

[code]

### Configuration

.NET SDK (reflecting any global.json):
 Version:   5.0.100-preview.8.20417.9
 Commit:    fc62663a35

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.19041
 OS Platform: Windows
 R

[2020-09-01 13:50] vargaz commented on #41673
The stack is in linear memory, and either alloca has some checks so it returns NULL eventually, or it overwrites some memory used by something else.

[2020-09-01 14:07] seonyounggg commented on #41512
@eerhardt I just made [PR](https://github.com/dotnet/runtime/pull/41664) for this issue. Please check it!

[2020-09-01 14:25] antonfirsov commented on #41585
@scalablecory if my understanding is correct, with APM there is no way to distinguish those cases from API users perspective. The exception is always being thrown when `EndAccept(IAR)` gets called. This is how it is implemented currently:

https://github.com/dotnet/runtime/blob/2ba65159b970de1af69e350bf8ac67ab4c21e38b/src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs#L3549-L3555

F

[2020-09-01 14:30] krwq commented on #25053
I believe we won't add any new APIs in 5.0 anymore. We need to crystalize the API proposal for this to move forward: [propose specific APIs you'd want to add](https://github.com/dotnet/runtime/blob/master/docs/coding-guidelines/adding-api-guidelines.md) and make sure to ping [area owners](https://github.com/dotnet/runtime/blob/master/docs/area-owners.md) to review.

[2020-09-01 14:31] john-h-k commented on #41522
A long long time ago (back in the days when I still was a DirectX MVP) there was an official binding called managed DirectX (or short MDX) which than became XNA. But both are deprecated today.

There's https://github.com/terrafx/terrafx.interop.windows , which provides raw 1:1 bindings for all of DX11 and 12. It's effectively just the C# version of `d3d12.h` (rather than an attempt to C#-ify DX, l

[2020-09-01 14:32] rolfbjarne commented on #40484
I'm one of the principal authors and maintainers of [Xamarin.iOS/Xamarin.Mac](https://github.com/xamarin/xamarin-macios)

C/Objective-C (specifically on Apple platforms: iOS, tvOS, watchOS, macOS)

Completed.

Where is "can't do it, have to resort to assembly code" on this scale? 11?

Both

Both

Calling conventions:

* There's no C# support for passing SIMD vectors in SIMD registers as
  paramete

[2020-09-01 14:37] RalfKornmannEnvision opened #41675 "GC memory commit issue with currently not supported OS (Nintendo Switch)"
I am in the process of getting CoreRT running on the Nintendo Switch. Most thins are already working. While getting the background GC working I run in a little issue with the way the GC commits the memory for the background GC mark array.
The mark array is reserved together with other management data but the actual commit is postponed until the first background GC is running. This triggers a secon

[2020-09-01 14:55] krwq commented on #41596
`System.Security.Cryptography.Pkcs.CmsSigner..ctor(System.Security.Cryptography.CspParameters)` [will always throw](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsSigner.cs#L63)
`System.Security.Cryptography.Pkcs.SignedCms.ComputeSignature(System.Security.Cryptography.Pkcs.CmsSigner,System.Boolean)` [looks like

[2020-09-01 14:56] krwq commented on #41596
I'm marking as 5.0 since it's doc issue and seems simple enough

[2020-09-01 15:00] wzchua commented on #41674
I have narrowed it down to a generic struct implementing an interface being used in an expression
[code]
when you try to break on even on the first line, the debugger doesn't reach the line
![image](https://user-images.githubusercontent.com/13881045/91867607-687d7480-eca6-11ea-9106-bb9599399ee1.png)

[2020-09-01 15:18] geoffkizer commented on #41585
Making this work like 3.1 is easy enough, we should just add the ThrowIfDisposed check to EndAccept.

I agree that it would be nice to clean up our exceptions to be more consistent here -- we should look at that for 6.0. But right now let's just address this particular issue.

[2020-09-01 15:21] tarekgh opened #41676 "CI System.Windows.Extensions.Test failure in "Libraries Test Run release mono Windows_NT x64 Debug" leg"
https://helix.dot.net/api/2019-06-17/jobs/fdb7cf22-9e0c-41c1-bdca-414b01510861/workitems/System.Windows.Extensions.Tests/console

[code]

[2020-09-01 15:24] geoffkizer commented on #41585
What's particularly weird about this is that TcpListener does not actually implement IDisposable, yet we throw ObjectDisposedException anyway. Strange.

[2020-09-01 15:28] EgorBo commented on #41674
thrown in https://github.com/dotnet/runtime/blob/master/src/coreclr/src/vm/jitinterface.cpp#L3085
[code]

[2020-09-01 15:28] tannergooding commented on #40484
parameters (mono/mono#17868). This makes it
impossible to create a P/Invoke to such functions, so we had to create a
wrapper C function that translates between normal arguments and SIMD
arguments. The downside is that this totally defeats the purpose of using
SIMD vectors in the first place (performance).

@rolfbjarne, for these two the new `Vector128<T>` and `Vector256<T>` types (introduced in .N

[2020-09-01 15:49] dhhoang commented on #37318
@wfurt By default, the AWS .NET SDK uses a global cache of `HttpClient` instances: https://github.com/aws/aws-sdk-net/blob/master/sdk/src/Core/Amazon.Runtime/Pipeline/HttpHandler/_netstandard/HttpRequestMessageFactory.cs#L219 . These instances are assigned to the client objects (i.e. `IAmazonKinesis`) every time a request is made.

There are a couple of ways to manually create and destroy `HttpCli

[2020-09-01 15:51] dhhoang commented on #37318
Also, `HttpClientFactory` class in the code above is `Amazon.Runtime.HttpClientFactory`, not the .NET one.

[2020-09-01 15:52] teo-tsirpanis commented on #41565
This benchmark seems fishy to me. On the first run, it calls a delegate from an array, _and then it sets it to null_, __causing almost always an exception__. The overhead raising and immediately catching an excpetion quite certainly dwarfs the overhead of arrays being covariant.

In other words, the provided benchmarks failed to demonstrate the performance impact caused by the arrays' covariance.

[2020-09-01 16:00] steveoh commented on #41630
Ok thank you for clearing up that misconception. How do I then use both behaviors of ignoring nulls and defaults? If I set ignorenullvalues I am greeted with `System.InvalidOperationException: 'IgnoreNullValues' and 'DefaultIgnoreCondition' cannot both be set to non-default values.` Do I need to write my own converters?

[2020-09-01 16:00] mangod9 commented on #41413
Moving to 6.0 to implement a better fix.

[2020-09-01 16:01] davidfowl commented on #41658
cc @eerhardt

[2020-09-01 16:02] PeterSolMS commented on #41413
Thank you!

[2020-09-01 16:09] pinkfloydx33 commented on #41630
I believe you want `JsonIgnoreCondition.Always`

[2020-09-01 16:10] adamsitnik opened #41677 "Performance regression in ByteMark.BenchIDEAEncryption"
## Repro

[code]

By looking at the [full historical data](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory/refs/heads/master_x64_Windows%2010.0.18362/ByteMark.BenchIDEAEncryption.html) it looks that this particular regression has been introduced in the last few weeks

![obraz](https://user-images.githubusercontent.com/6011991/91876549-1bd17380-ec7d-11ea-9f0a-46614b1c6779.png)

An

[2020-09-01 16:12] vcsjones opened #41678 "macOS: subjectKeyIdentifier and authorityKeyIdentifier mismatch crashes chain building"
This is another "unknown chain status" on macOS chain building. If a leaf and issuing certificate chain to each other but the authority and subject key identifiers do not match, chain building will fail.

A `DynamicChainTest` to reproduce it:

[code]

Unfortunately, the debugging output isn't helpful for this one, for some reason.

I _think_ the chain status string is `"IdLinkage"` based on my exa

[2020-09-01 16:14] vcsjones commented on #41678
@bartonjs

[2020-09-01 16:17] eerhardt commented on #41658
Duplicate of #40551. Closing.

[2020-09-01 16:17] #41658 closed

[2020-09-01 16:23] trylek commented on #40856
I have finally managed to make some progress on this regression even though I'm not completely done yet. I tested three possible causes of the regression - slightly increased allocation size of the generic dictionaries, the extra code for back-propagation of resolved dictionary slots and the JIT change; I believe that my local measurements confirm that the perf regression is due to the JIT aspect

[2020-09-01 16:26] MihaZupan commented on #41670
For reference, with GUIDs translated to activity paths:

[code]

[2020-09-01 16:35] davidfowl commented on #41658
Similar but not the same. The other issue there's a type parameter, this is an object parameter.

[2020-09-01 16:38] #37467 closed

[2020-09-01 16:46] vcsjones commented on #41678
Changing the debug output to use an allocating version got me the right output:

[code]

[2020-09-01 16:48] #27831 closed

[2020-09-01 16:58] eerhardt commented on #41658
The other issue covers that the whole assembly isn't linker-safe.

[2020-09-01 17:02] AaronRobinsonMSFT commented on #39798
@xgalaxy The blog is posted: https://devblogs.microsoft.com/dotnet/improvements-in-native-code-interop-in-net-5-0/

[2020-09-01 17:05] sonicmouse opened #42258 "Allow IHostBuilder to have the convenient UseStartup<> pattern that IWebHostBuilder implements"
### Preamble
I would like to see a way to use the convenient `Startup.cs` pattern that `IWebHostBuilder` has implemented, but at the `IHostBuilder` level.

I don't like working in the `Program.cs` file... That is typically for boiler-plate code to start a host. Now I find myself in there constantly making changes just to work on my DI pipeline, for example:

**Program.cs:**

	// ...
	public static

[2020-09-01 17:10] layomia commented on #41630
@steveoh @pinkfloydx33 , the setting you want is `JsonIgnoreCondition.WhenWritingDefault`. This will ignore both `null` for nullable types and `default(T)` for non-nullable types. `JsonIgnoreCondition.WhenWritingNull` will ignore only `null` properties. Please let us know if you still face issues with this.

wrt. using `DefaultValueAttribute` or a similar mechanism to specify a custom default valu

[2020-09-01 17:10] #41630 closed

[2020-09-01 17:11] layomia commented on #36236
From @steveoh in https://github.com/dotnet/runtime/issues/41630

[2020-09-01 17:14] mangod9 commented on #41675
@RalfKornmannEnvision would you mind linking the PR of the prototype? Assume you are asking for a fix in CoreRT, not .net core?

[2020-09-01 17:15] layomia commented on #41582
The code paths cited in the description have not been modified since 3.1, so I don't believe this is a regression in 5.0. Will triage as a 6.0 issue.

@tmds when did you start running these tests? You mention Aug 6th, but I don't see any commits in System.Text.Json around that date that would have triggered new failures.

Also, are the stack traces identical in each failure case? Are you able to p

[2020-09-01 17:18] layomia commented on #41604
@erikthysell are you able to share a small repro app (sanitized if necessary) that highlights the issue? This would include all types being (de)serialized, any custom converters, and the JSON payload being passed to the serializer.

[2020-09-01 17:18] ViktorHofer opened #41684 "release/5.0 - Update SDK to final P8/RC1"
We are currently using a non-final P8 SDK in release/5.0. We should update to a final P8/RC1 SDK _at some point_.

To consume the RC1 SDK, the following changes are necessary:
- https://github.com/dotnet/runtime/pull/41666
- https://github.com/dotnet/runtime/pull/42146
- https://github.com/dotnet/runtime/pull/42191
- https://github.com/dotnet/runtime/pull/42174 (unpins Roslyn version)
- Fix for ht

[2020-09-01 17:23] adamsitnik commented on #37808
Based on the [full historical data](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory/refs/heads/master_x64_Windows%2010.0.18362/PerfLabTests.BlockCopyPerf.CallBlockCopy(numElements:%201000).html) we can assume that this benchmark is simply unstable:

![obraz](https://user-images.githubusercontent.com/6011991/91885719-8a67fe80-ec88-11ea-9464-4c21ec39e396.png)

Closing.

[2020-09-01 17:23] #37808 closed

[2020-09-01 17:26] terrajobst opened #41686 "Add System.BinaryData"
@KrzysztofCwalina suggested to add a new type called `BinaryData`. The Azure SDK team found in user studies that people struggle with the various ways we represent binary data (span, memory, byte arrays, streams). They experimented with a new type `BinaryData` that is a struct-based wrapper around a `byte[]` and provides constructors, factory methods, and conversion methods to convert data from an

[2020-09-01 17:31] vcsjones commented on #41678
All three platforms have different behavior.

* macOS: 💥
* openSSL: `PartialChain`
* Windows: `NoError`

[2020-09-01 17:31] antonfirsov opened #41687 "SmtpClientTest.SendMail_SendQUITOnDispose timeout on OSX"
### Test case
`System.Net.Mail.Tests.SmtpClientTest.SendMail_SendQUITOnDispose(asyncSend: True)`
`System.Net.Mail.Tests.SmtpClientTest.SendMail_SendQUITOnDispose(asyncSend: False)`

### Failed on
`net5.0-OSX-Debug-x64-CoreCLR_release-OSX.1014.Amd64.Open`
https://dev.azure.com/dnceng/public/_build/results?buildId=796625&view=ms.vss-test-web.build-test-results-tab&runId=25205974&paneView=debug&resul

[2020-09-01 18:02] ManickaP commented on #41670
The weird `ActivityId` of `ConnectStart` (`/1/1/2/1/`) fixed in here: https://github.com/ManickaP/runtime/commit/c4c9a2f99b7e339388199086d3014041abccc21e. It was caused by non-awaited continuation for `ResolutionStop`.

[2020-09-01 18:03] brentschmaltz commented on #29935
@bartonjs i will finally have some time to look into this in this qtr.

[2020-09-01 18:14] Scottj1s opened #41689 "AssemblyDependencyResolver throws exception if target assembly has name change in case only"
Seen when implementing a HostFxr-based hosting shim for C#/WinRT ([PR here](https://github.com/microsoft/CsWinRT/pull/374)).

**Repro**
The repro code is simply:
`new AssemblyDependencyResolver(path);`

where `path` specifies an assembly that has been renamed, such that the dll name differs from the assembly's display name in case only.  For example, if the assembly display name is "Test" but the

[2020-09-01 18:14] Scottj1s commented on #41689
/cc @AdamBraden

[2020-09-01 18:31] jkotas commented on #41675
CoreRT/NativeAOT is using the exact same GC as CoreCLR. We do not want the implementation to diverge. Also, we want all GC fixes to be submitted via dotnet/runtime repo.

The root cause of the issue is that GC commits same region of memory multiple times today. The Windows and Linux memory managers deal with it gracefully, but the Switch memory manager does not.

Can the GC be fixed so that it alw

[2020-09-01 18:31] isaacrlevin commented on #41623
I do not, this happens when I run a build in Azure DevOps, it works locally and I have no idea why

[2020-09-01 18:33] mangod9 commented on #41675
Ok, thanks for the clarification.

[2020-09-01 18:34] abelbraaksma opened #41690 "Attribute to tag methods that implicitly depend on its caller"
### Description

The reference assemblies typically expose the same meta-info as implementation assemblies, but `DynamicSecurityMethod`, or `reqsecobj` is not exposed and only visible in the implementation assembly.

As an example, check `GetCallingAssembly` or `GetExecutingAssembly`.

Is this a deliberate limitation of the reference assemblies? It appears to me that this information should be pre

[2020-09-01 18:39] AntonLapounov commented on #41623
@isaacrlevin Thank you for trying that.  Did you use the same SDK version (5.0.100-preview.8.20417.9) locally?  Or was it a different version?

[2020-09-01 18:41] terrajobst commented on #41686
* The type is very opinionated in order to achieve usability:
    - Serialization is done with `System.Text.Json`, with specific options
    - String encoding is always UTF8
* We're concerned with hard coding the type to `System.Text.Json`, but we acknowledge that defaults are very valuable. If we need to support other serializers, then we can add an enum
    - We could decide to make the construc

[2020-09-01 18:41] ViktorHofer commented on #972
Note to myself, we should discuss this in next CI council's meeting. Also we should discuss if we need this for 5.0 and 3.x/2.x.

[2020-09-01 18:43] ViktorHofer commented on #32935
Note to myself, talk with @brianrob about priority. We need to understand if this is needed for 5.0 which closes very soon.

[2020-09-01 18:46] terrajobst commented on #41318
* Looks good as proposed

[code]

[2020-09-01 18:47] giggio commented on #36590
@agocke is this ready? Should we expect it in the next preview?

[2020-09-01 18:48] ViktorHofer commented on #40804
We need to at least do an one-off validation before we release.

[2020-09-01 18:55] ViktorHofer commented on #24101
Handing off to @trylek as @safern already has enough on his plate :)

[2020-09-01 18:55] agocke commented on #36590
Yup, single-file publishing with managed assembly embedding should be widely available in 5.0

[2020-09-01 18:57] #37661 closed

[2020-09-01 18:57] ViktorHofer commented on #37661
@Anipik believes we don't require this change in 5.0.

[2020-09-01 18:58] wfurt commented on #37318
yes, essentially this is what I was looking for.
With that and the #41657 fix I can get clean run:

[code]

[2020-09-01 18:59] ViktorHofer commented on #1252
@NikolaMilosavljevic do we really need this for 5.0? Just discussed this in the infra meeting and we believe this isn't interfering with the 5.0 release.

[2020-09-01 18:59] danmosemsft commented on #40810
Sounds good to me. Thanks for investigating.

[2020-09-01 19:00] ViktorHofer commented on #39456
We don't believe this is crucial to fix for 5.0. Moving to 6.0.

[2020-09-01 19:00] ViktorHofer commented on #39456
@janvorli @jkotas are you fine with moving this to 6.0?

[2020-09-01 19:01] ViktorHofer commented on #41612
Duplicate of https://github.com/dotnet/runtime/issues/39456

[2020-09-01 19:01] #41612 closed

[2020-09-01 19:01] isaacrlevin commented on #41623
Same SDK. Here is the solution that is not working
https://github.com/isaacrlevin/PresenceLight/

Highlighted task that fails
https://github.com/isaacrlevin/PresenceLight/blob/main/azure-pipelines-wpf.yml#L105

More than happy to modify anything to get to work

[2020-09-01 19:02] vitek-karas commented on #41689
This is a dupe of https://github.com/dotnet/runtime/issues/37162.

[2020-09-01 19:02] #41689 closed

[2020-09-01 19:03] jkotas commented on #39456
This version string is frequently used to identify the exact version of CoreCLR on the system. In best cast, this will just look ugly. In worst case, it is going to break ad-hoc tooling that looks for this string.

[2020-09-01 19:05] jkotas commented on #39456
I think this meets the breaking change point in the ask mode bar.

[2020-09-01 19:06] MattGal commented on #972
From chatting with Eric it looks like RHEL 6 usage is already way down and could be swapped out for 8 soon.

[2020-09-01 19:06] ViktorHofer commented on #39456
Works for me. Still we need someone to drive this. @jkotas do you have cycles to look into?

[2020-09-01 19:08] jkotas commented on #39456
I believe @janvorli has been looking into this.

[2020-09-01 19:08] ericstj commented on #13096
Here's info from a thread with @leculver

https://www.microsoft.com/getsilverlight/locale/en-us/html/Microsoft%20Silverlight%20Release%20History.htm

5.0.61118
5.0.60818
5.0.60401

5.1.50918.0
5.1.50907.0
5.1.40728.0
5.1.10411.0
5.1.20513.0
5.1.20913.0

So we aren't shipping 5.1 for 5.0 we just need to remember not to exceed .59999 (or add an target to check this), or we could just ignore it as @l

[2020-09-01 19:09] ViktorHofer commented on #972
@MattGal do you think we should replace RHEL6 with RHEL8 in servicing branches as well?

[2020-09-01 19:10] #40810 closed

[2020-09-01 19:10] danmosemsft commented on #40810
5.0 will still be a clear improvement on Benchmarks game in general.

[2020-09-01 19:12] MattGal commented on #972
Ideally, it should be remove from 2.x and 3.1 before we remove support for it from Helix, so it doesn't fail your test runs.

As for adding RHEL 8 support to the release branches, I think that's more of a @leecow question and I think would hinge based on whether we officially state support for RedHat 8 for that release.

[2020-09-01 19:14] danmosemsft commented on #41012
/backport to release/5.0

[2020-09-01 19:17] bartonjs commented on #41678
Was this from trawling the string table, or did it come up in reality?

[2020-09-01 19:18] NikolaMilosavljevic commented on #1252
I'm fine if we fix it during 6.0 and backport to 5.0 servicing. The sooner the better. I have actually found some blockers in implementation, so this will certainly take more time to get right.

[2020-09-01 19:19] danmosemsft commented on #41012
oops, should be on the PR!

[2020-09-01 19:22] sttz commented on #36590
@giggio See the section on single file applications in the [.NET 5.0 Preview 8 blog post](https://devblogs.microsoft.com/dotnet/announcing-net-5-0-preview-8/), especially:

[2020-09-01 19:22] NikolaMilosavljevic commented on #1252
I tried to use `mcr.microsoft.com/dotnet-buildtools/prereqs:ubuntu-18.04-debpkg-cfdd435-20200327183254` and ran into issues with build.

[2020-09-01 19:22] dhhoang commented on #37318
I'm still wondering why `leak` would report leak when we don't dispose (but still hold references to) `HttpClient` objects. Isn't `HttpClient` supposed to be reused? We can't simply create new instance for each request because that would be really bad for performance.

[2020-09-01 19:24] NikolaMilosavljevic commented on #31805
Validation in progress - sending PR later today.

[2020-09-01 19:25] vcsjones commented on #41678
Had some spare time during lunch and started looking for more of these in Big Sur. I noticed that IdLinkage was one that applies to 10.15 as well.

[2020-09-01 19:26] ViktorHofer commented on #13096
Based on this additional data I don't think _any_ action is necessary. The probability that the versions collide is _very_ low and it doesn't sound like a collision would cause major issues. Hence closing.

[2020-09-01 19:28] wfurt commented on #37318
I'm not sure it would. I just wanted to make sure I have as little objects as possible.

[2020-09-01 19:32] wfurt commented on #41687
I hit that as well. I'm wondering if this is related to  #41508. We did not see that before AFAIK.

cc: @tmds

[2020-09-01 19:33] jkotas commented on #41690
DynamicSecurityMethod attribute was used for Code Access Security originally. CoreCLR reused it as an internal implementation detail for a different purpose that has nothing to do with security.

If we were to make it a public concept, I think we should give it a new name that captures the intent properly.

[2020-09-01 19:34] agocke commented on #36590
Yes, at the moment we can only fully embed managed assemblies on Mac + Windows. The runtime itself consists of ~4 files. We'll work to reduce that to 1 for .NET 6.

[2020-09-01 19:34] HurricanKai opened #41692 "AggressiveInlining not respected when Method grow too large"
### Description
JIT will refuse to inline AggressiveInlining methods when Methods grow too large (IL size / too many branches, I'm unsure which one, but I expect IL size)
If I understand AggressiveInlining correctly, this is not intended.

This happened to me in a method like the below, but I've encountered it before:
[code]

This does not inline/constant fold, leading to quite the performance hit

[2020-09-01 19:35] externl opened #41693 "AppHost signature not being removed on macOS"
### Description
At some point in the last few weeks C# apps using TLS started crashing on a project I work on. After comparing `Console.app` logs with a colleague who is running with the same system configuration, we noticed one noticeable difference:

[code]

After digging closer we noticed that dotnet apps on my colleague's Macbook were not signed at all while, mine had a bogus signature.

It se

[2020-09-01 19:43] jkotas commented on #41690
There may be alternative designs possible: Add `CallerObjectAttribute` that can be applied to `[Assembly/Type/MethodBase]` argument. The compiler is then required to fill in the caller object, similar to how it fills in names for the existing `CallerMemberNameAttribute` and other similar types. This design would also fix the bad performance of these methods (e.g. https://github.com/dotnet/runtime/

[2020-09-01 19:43] NikolaMilosavljevic opened #41695 "Port infra for regeneration of THIRD-PARTY-NOTICES to runtime repo"
It doesn't look like I linked to my tooling anywhere--it's over here:
https://github.com/dagood/core-setup/compare/bac3b0dc8ec9e0d4d2441524ed2bca24f8bab748...100d6dc55309b01856a15bd991c784f31154f63a ([`regen-tpn`](https://github.com/dagood/core-setup/tree/regen-tpn))

It needs to be ported into https://github.com/dotnet/runtime/tree/master/tools-local/tasks/installer.tasks to be maintainable.

_Or

[2020-09-01 19:44] NikolaMilosavljevic commented on #41695
Infra (target and task) needs to be ported to runtime repo.

[2020-09-01 19:44] karelz commented on #34886
Fixed by PR https://github.com/dotnet/dotnet-api-docs/pull/4720

[2020-09-01 19:44] #34886 closed

[2020-09-01 19:46] karelz commented on #41573
Triage: With Connection Abstractions being pulled out of 5.0, there is nothing to do in 5.0. Moving to 6.0.
If we decide to add additional callback in 5.0, then this would be part of that work in 5.0.

[2020-09-01 19:51] terrajobst opened #41696 "Some projects aren't enabled for nullable"
I did a pass to compare syntax of APIs as they are in reference assemblies and how they are in implementation assemblies. The full spreadsheet can be [downloaded from here](https://github.com/dotnet/runtime/files/5158462/nullable_differences_assembly_mismatch_only.zip).

The spreadsheet only shows API differences if the reference assembly and the implementation assembly differ with their `<Nullabl

[2020-09-01 19:52] agocke commented on #41693
I believe this is expected -- in order to publish a binary, that binary needs to be signed. Since the apphost is now part of your app you'll have to sign it with your own key.

[2020-09-01 19:52] terrajobst commented on #41696
@jeffhandley please assign a dev to this so we can take this for approval.

[2020-09-01 19:53] danmosemsft commented on #40856
@dotnet/jit-contrib can help with JitDump I expect.

With respect to 5.0 I think the most interesting thing would be to characterize how broad the impact might be in any other scenarios (?).

[2020-09-01 19:53] safern commented on #41696
System.IO.Packaging has `<Nullable>annotations</Nullable>` on the source and the ref doesn't have `<Nullable>enable</Nullable>` we should update both as well to enable nullability on both.

[2020-09-01 19:55] AndyAyersMS commented on #41692
Aggressive inline candidates are assumed to be profitable; they bypass the normal profitability checks. So in particular we won't analyze their IL for patterns that might be optimizable.

Can you provide a repro for the issues you're seeing? We are trying to be as aggressive as we can without getting into situations where the jit will create enormous methods or use huge amounts of memory while jit

[2020-09-01 19:55] danmosemsft commented on #1403
@HongGit this is still marked 5.0 -- is your team planning a fix in this timeframe? We are just about finished with the release.

[2020-09-01 19:57] danmosemsft commented on #34739
@maryamariyan is this still 5.0?

[2020-09-01 19:57] danmosemsft commented on #36007
@maryamariyan still 5.0?

[2020-09-01 19:58] danmosemsft commented on #39127
@HongGit I assume this should be marked Future or 6.0

[2020-09-01 19:59] danmosemsft commented on #1238
@jeffhandley I assume not 5.0

[2020-09-01 20:00] externl commented on #41693
Which is expected, the app not being signed at all or having an invalid signature? Which do you get?

My colleagues who try to reproduce as explain above get an unsigned app. I get an invalid signature.

[2020-09-01 20:01] janvorli commented on #39456
Correct, I am planning to fix that today or tomorrow the latest.

[2020-09-01 20:01] AndyAyersMS commented on #40856
@tyrek if you just want to see the code the jit generates then the `-d` option to the perf repo benchmark runner may get you what you need.

Or you can use the `--corerun` option to point things at a checked jit and specify `COMPlus` options to enable disassembly or umping. If you just want one run the `-dry-run` option may do the trick, but you probably don't want that as you won't see Tier1 code

[2020-09-01 20:01] danmosemsft commented on #41677
I assume this is Windows specific @adamsitnik ?

[2020-09-01 20:02] agocke commented on #41693
Invalid signature -- to ship the binary we have to sign it, but once it gets included in your app, the signature will no longer be valid (since it will be pointing at your code).

[2020-09-01 20:02] agocke commented on #41693
@vitek-karas to confirm my understanding here

[2020-09-01 20:04] danmosemsft commented on #40856
I assumed "generic dictionaries" means a native datastructure in the CLR that is related to the type system (?) and is not directly related to "Dictionary<K,V>" ?

[2020-09-01 20:04] externl commented on #41693
From my reading of [CreateHostApp](https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/installer/managed/Microsoft.NET.HostModel/AppHost/HostWriter.cs#L34) it should attempt to remove the signature. That's what everyone else who's tried gets.

[2020-09-01 20:04] vcsjones commented on #41677
Note this isn't benchmarking anything in System.Security - its benchmarking a [hand-rolled implementation][1] of the IDEA algorithm.

[1]: https://github.com/dotnet/performance/blob/master/src/benchmarks/micro/runtime/Bytemark/idea.cs#L53

[2020-09-01 20:05] swaroop-sridhar commented on #41693
When you build the app with `UseAppHost` it is expected that the signature on the apphost is removed and re-written wrt your app. That is, `foo` should be unsigned.

[2020-09-01 20:05] safern commented on #24101
@ViktorHofer thanks for the intention but I had already started working on this 😕

[2020-09-01 20:06] agocke commented on #41693
My mistake! Let's investigate the broken signature.

[2020-09-01 20:06] tinyVishal commented on #37354
@richlander can you please take a look at my code, Let me know if it don't make sense to you.

Anyway it works in NewtonSoftJson

[2020-09-01 20:07] wfurt commented on #41687
4 failures in last 4 days and nothing before in 90 days. This looks like regression @karelz

[2020-09-01 20:07] agocke commented on #41693
Also, let's see if this behavior repro's in 5.0. @externl do you happen to have a .NET 5 copy that you can build with?

[2020-09-01 20:08] ViktorHofer commented on #24101
@safern @trylek sorry for the conflict here. I should have checked first if you haven't already started with this. The intention was to reduce your workload for 5.0.

[2020-09-01 20:08] externl commented on #41693
The fact that I'm getting a bogus adhoc signature kind of leads me to think there's something up with the fact that I installed the xcode 12 beta

[2020-09-01 20:08] adamsitnik opened #41699 "[ARM64] Performance regression: Utf8Encoding"
After running benchmarks for 3.1 vs 5.0 using "Ubuntu arm64 Qualcomm Machines" owned by the JIT Team, I've found few regressions related to `Utf8Encoding`. They are alll reproducible and I've verified that it's not a matter of loop alignment (by running them with `--envVars COMPlus_JitAlignLoops:1`).

It looks like it's ARM**64** specific regression, I was not able to reproduce it for ARM (the 32

[2020-09-01 20:08] JensNordenbro commented on #2021
I just would like to add as the creator of this item that there is much more to this than just symmetry amongst your rids. This is also about embedded support and the fact that all docker images for serious production use tend to gravitate towards Alpine. Basically this will make. Net core attractive on a new market!

[2020-09-01 20:10] leculver commented on #13096
A collision _would_ cause major issues.  @ViktorHofer What version is embedded in coreclr.dll for 5.0?

[2020-09-01 20:10] externl commented on #41693
Is `dotnet-sdk-preview` (dotnet-sdk-5.0.100-preview.5.20279.10-osx-x64.pkg) from brew fine?

[2020-09-01 20:11] danmosemsft commented on #40936
@gfoidl it's complicated -- normally the simple answer is "add XML docs in the src for this new public method" and that may be the correct answer. It's complicated because unlike almost everyone else, the core libraries don't historically generate their docs from the sources. We do want to use XML docs going forward, but only for seeding the docs.microsoft.com text initially. We have a tool that d

[2020-09-01 20:11] safern commented on #24101
Yeah I appreciate that 😄 -- just wanted to raise that I had already made progress on this... I was planning on adding a separate outerloop build that runs just mono outerloop runs... what do you think about doing that? The reason for that is because they can have multiple modes like interpreter and others they plan to add: https://github.com/dotnet/runtime/issues/41365

However I don't know if tha

[2020-09-01 20:11] agocke commented on #41693
Preview 5 is a bit old, but this code hasn't churned much so it's probably fine.

[2020-09-01 20:11] swaroop-sridhar commented on #41693
However, I wasn't able to repro the failure -- not sure how to take any further action. Can you please share the `otool` output for the broken binary? List of load commands to see if there's a signature LC_CODE_SIGNATURE segment? Thanks.

[2020-09-01 20:13] externl commented on #41693
Seems to work fine with .NET 5
[code]

[2020-09-01 20:13] danmosemsft commented on #41398
Thanks @adamsitnik and @mangod9 for resolving, I'm very happy that my data turned out to be rather useful!

[2020-09-01 20:14] rolfbjarne commented on #40484
@tannergooding

Looking back at this, I might have explained myself badly. Our particular problem comes from Clang's `__ext_vector_type__` attribute (of which there's very little documentation). The calling convention changes if a vector is declared using this attribute: https://gist.github.com/rolfbjarne/bff8584f19c0e83d9e194d768b6a22d6

[2020-09-01 20:15] ViktorHofer commented on #39456
Thanks Jan

[2020-09-01 20:15] adamsitnik commented on #41677
@danmosemsft It looks like it's not Windows-specific

The [Ubuntu historical data](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory/refs/heads/master_x64_ubuntu%2018.04/ByteMark.BenchIDEAEncryption.html)

![obraz](https://user-images.githubusercontent.com/6011991/91901523-a2e41300-eca0-11ea-81fe-78b63892fd73.png)

[2020-09-01 20:17] ViktorHofer commented on #13096
That's why I assumed a collision wouldn't cause a major problem.

The latest 5.0 official build produced the following file version: `5.0.20.45102`. The rules for calculating the file version can be found here: https://github.com/dotnet/arcade/blob/c788ffa83b088cafe9dbffc1cbc8155ba88b2553/Documentation/CorePackages/Versioning.md#file-version.

[2020-09-01 20:17] #38288 closed

[2020-09-01 20:17] #38456 closed

[2020-09-01 20:17] stephentoub commented on #41696
System.Runtime.CompilerServices.Unsafe's implementation is IL, not C#.

[2020-09-01 20:17] adamsitnik commented on #41398
@danmosemsft @mangod9  I wonder how we could prevent from a similar problem in the future. Perhaps we should add some asserts to the method to ensure that it never returns 0 again?

[2020-09-01 20:18] agocke commented on #41693
Huh. @swaroop-sridhar since CreateAppHost ships inside the SDK I assume this is fixed if the .NET 5 SDK is used to build netcoreapp3.1 apps as well?

[2020-09-01 20:18] StephenMolloy commented on #1238
I believe this was addressed in #41476

[2020-09-01 20:18] #1238 closed

[2020-09-01 20:18] swaroop-sridhar commented on #41693
This issue was fixed in 5, and ported to 3.1 and 2.1 2.2 releases.

[2020-09-01 20:19] leculver commented on #13096
Ahh ok, if we are shipping within 5.0.20.* then we can safely close this issue (doing so now).

Sorry, my comment above was from over a year ago, and we are in a significantly worse place with respect to watson as we were at the time.  Ensuring these don't collide is very important, but looking at the link there I agree we are good.  Thanks for double checking!

[2020-09-01 20:19] #13096 closed

[2020-09-01 20:19] ericstj commented on #41696
Good point, we could copy the annotations to the .il file from the ref.  Is there value in such an excercise?  It could help anything in the repo that consumes the implementation directly, though I'm not sure we have such a case.

[2020-09-01 20:20] tannergooding commented on #40484
Ah, I see. This is for a clang specific modifier: http://clang.llvm.org/docs/LanguageExtensions.html#vectors-and-extended-vectors

Do you know how it differs from `__m128` or is it functionally treated the same when passing?

[2020-09-01 20:20] mangod9 commented on #41398
@danmosemsft Yeah it was very helpful in pinpointing where the issue might be. @adamsitnik yeah I will create a separate issue to track how we can add a test/asserts for this.

[2020-09-01 20:20] externl commented on #41693
Hmm.... so, there's no `LC_CODE_SIGNATURE` segment in the `foo`.
[code]

[code]

[2020-09-01 20:20] stephentoub commented on #41696
System.IO.Ports's src is annotations because it has some shared files the use the syntax. The ref doesn't need that. That difference is fine.

[2020-09-01 20:21] ViktorHofer commented on #13096
The File Version is a four-part version number and the last part (the revision number) is never `0`, which means we can never collide with the above provided values.

@leculver thanks for double checking 👍

[2020-09-01 20:21] stephentoub commented on #41696
I don't think so.

[2020-09-01 20:21] pinkfloydx33 commented on #41630
@layomia what is the behavior for `Always`? I'd expect that to behave how you describe `WhenWritingDefault`. Or is that a Serialize vs. Deserialize thing?

[2020-09-01 20:21] HurricanKai commented on #41692
[Sample.zip](https://github.com/dotnet/runtime/files/5158588/Sample.zip)
the `B` struct contains a "simple" method with 4000 lookups, and while this is extreme, this is a real-world-like case. I'm writing a Generator that binds native methods, and am generating a table to cache the function pointers to those methods. I generate well over 4000 such cache slots.

[2020-09-01 20:24] stephentoub commented on #41696
I don't see System.CodeDom's src or ref csproj containing Nullable, so I'm not sure why it's in the list.

[2020-09-01 20:24] swaroop-sridhar commented on #41693
OK @externl  that's the expected behavior.
Not sure why codesign would report a bad signature on this binary. Could be a bad interaction of `codesign` tool with XCode?
Is this deterministic on every build of 3.1.4 SDK?

[2020-09-01 20:24] tarekgh commented on #41699
I have changed the tag to jit for now as this is most likely not the UTF8Encoding code itself. if proven otherwise, please re-tag it with encoding label again.

[2020-09-01 20:25] rolfbjarne commented on #40484
I'm sorry to say I have no idea.

[2020-09-01 20:25] danmosemsft commented on #41398
@Lxiamail @billwert  @DrewScoggins this is evidence I think that regular Alpine runs in the lab are important. This would have justified servicing, I think. I'm not sure where we left that conversation @billwert ?

[2020-09-01 20:27] externl commented on #41693
Possibly, but I don't know how.

Yea, every time with `3.1.401` SDK

[2020-09-01 20:30] terrajobst commented on #41696
I don't read the project file, I only check whether the assembly defines `NullableAttribute`. Looks like [CodeTypeReference.ArrayElementType](https://github.com/dotnet/runtime/blob/master/src/libraries/Common/src/System/CodeDom/CodeTypeReference.cs#L306) is annotated in impl only.

[2020-09-01 20:31] eerhardt commented on #39709
We annotated `TypeDescriptionProviderAttribute` correctly to preserve the TypeDescriptionProvider types in .NET 5 RC1. However, it appears this usage exposed an ILLinker issue - it doesn't seem to handle generic types correctly. I've logged https://github.com/mono/linker/issues/1469 for this.

We won't be able to make progress on this issue in dotnet/runtime since this is an ILLinker issue. Adding

[2020-09-01 20:34] stephentoub commented on #41696
That's not sufficient. Any assembly that includes a shared file that uses nullable syntax will have the emitted by the compiler. It's only relevant of that's on public API.

[2020-09-01 20:34] EgorBo commented on #41692
Your repro doesn't have `AggressiveInlining` anywhere. While `Lookup` looks like it should be inlined to a single instruction when the arg is a constant I believe JIT doesn't want to spend time on analyzing big methods, e.g. in your case:
[code]
if you put `AggressiveInlining` on top of `Lookup` it should work fine.

[2020-09-01 20:35] #41621 closed

[2020-09-01 20:37] swaroop-sridhar commented on #41693
Can you also confirm that the total expected load commands are 15?

[2020-09-01 20:39] safern commented on #41696
These are the ones that are really missing nullable enable:

System.IO.Packaging: both annotated correctly, we missed to add <Nullable>enable</Nullable> on the ref: https://github.com/dotnet/runtime/commit/518df4f20d20f233727cba2fcc42603a31f750df
System.Resources.Extensions: Missing nullable enable on both src and ref: https://github.com/dotnet/runtime/pull/37597/files

[2020-09-01 20:42] externl commented on #41693
Not sure if this is what you mean. But 0 - 15 are listed. I assume they're correct.

[code]

[2020-09-01 20:44] trylek commented on #40856
@danmosemsft - Thanks for all the helpful feedback. Correct, "generic dictionaries" I referred to are an internal native CoreCLR detail around shared generics implementation, not directly related to System.Collections.Generic. The issue is that we're now marking the runtime dictionary as "non-invariant" (to make its possible expansion visible to the JITted code), causing JIT to generate slightly l

[2020-09-01 20:45] swaroop-sridhar commented on #41693
I was asking to check the fact that `ncmds` value in the header is 16 (at the start of `otool -l` output)

[2020-09-01 20:46] Lxiamail commented on #41398
@danmosemsft Yes, we have an email discussion about adding additional OS coverage in perf lab. We will looks into @adamsitnik's finalized report of exercises' data, and I'm trying to get .NET Core OS usage telemetry data. Hope we can identify the commonly used OSes and add them to perf lab.

[2020-09-01 20:46] agocke commented on #39987
We recently removed IncludeSymbolsInSingleFile from 5.0 in preference of `<DebugType>embedded`.

[2020-09-01 20:46] externl commented on #41693
Ah, got it. Yes, it's 16

[code]

[2020-09-01 20:48] swaroop-sridhar commented on #41693
Is there any binary difference between the `foo` executable generated on this machine vs any other machine where the signature works?

[2020-09-01 20:49] danmosemsft commented on #41398
@Lxiamail sounds good, thanks! Telemetry aside, I think if we can only do 2 Linux flavors, Alpine probably needs to be one of those because of its unique characteristics.

[2020-09-01 20:52] danmosemsft commented on #41677
Ah, good info, I guess that means we can exclude machine configuration/the crypto work itself.

[2020-09-01 20:54] abelbraaksma commented on #41690
@jkotas, I think you misunderstand my proposal here. This is not about making it available to the general public, nor to change its meaning.

It's about an inconsistency in the attribute not being present in the reference assemblies of dotnet, while the implementation assembly does carry it.

This pseudocustom attribute is emitted as a reserved method flag. While it was originally used for securit

[2020-09-01 20:56] externl commented on #41693
I'll have to check with my colleagues in the morning and get back to you.

[2020-09-01 20:59] bartonjs commented on #41677
It's not using the crypto stack, it's a custom algorithm implementation inside the performance repository just for use as a benchmark.  So it's just low level things like array allocation, array read/write, field access, and GC.

https://github.com/dotnet/performance/blob/454476401e17ed7f4d8b899ecf7661eb6cd63bad/src/benchmarks/micro/runtime/Bytemark/ByteMark.cs

https://github.com/dotnet/performan

[2020-09-01 21:00] danmosemsft commented on #41677
Disregard, I missed your comment @vcsjones

[2020-09-01 21:00] trylek commented on #40856
@AndyAyersMS - I have yet to grab the JIT dumps but I exactly suspect that dictionary access shortcuts within loops have the potential to regress other scenarios where minute details like inlining could previously cause fundamental perf differences due to the runtime code not discovering the expanded dictionary for the entire duration of the loop. I'll share the dumps as soon as I have them so tha

[2020-09-01 21:00] abelbraaksma commented on #41690
@jkotas, just to emphasize: this is **not** an api-suggestion, but a bug, or oversight in the current Base Class Libraries.

## Example:

Take `GetExecutingAssembly`. The reference assembly, i.e. `C:\Program Files\dotnet\packs\Microsoft.NETCore.App.Ref\3.1.0\ref\netcoreapp3.1\System.Runtime.dll` has:

[code]

While the implementation assembly has:

[code]

Note the difference in the signature, the

[2020-09-01 21:09] eerhardt commented on #41654
Resolved by #41680.

[2020-09-01 21:09] #41654 closed

[2020-09-01 21:14] jkotas commented on #41690
We have number of other attributes that are present in the implementation assemblies, but that are not present in reference assemblies.

The `DynamicSecurityMethod` attribute that this is partially about is not in the public .NET 5 API surface. We treat all additions to the public surface as API suggestions.

[2020-09-01 21:15] dsyme commented on #41690
@abelbraaksma I agree with @jkotas - this is really an internal implementation flag.

This is a good suggestion

[2020-09-01 21:16] HurricanKai commented on #41692
Sorry. Not sure what I thought with that sample.

I've just reverted some changes, and it appears what is actually happening (I didn't know this was a thing when I first encountered this issue) is I'm hitting the `m_CallsiteDepth == 1` limitation.
I think it works something like this: I'm generating a `Load(int slot, string entrypoint)` method, which just calls another method, which is the actual

[2020-09-01 21:18] adamsitnik opened #41704 "[ARM64] Possible perf regression: slicing"
After running benchmarks for 3.1 vs 5.0 using "Ubuntu arm64 Qualcomm Machines" owned by the JIT Team, I've found few regressions related to slicing.

It looks like these are ARM**64** specific regressions, I was not able to reproduce it for ARM (the 32-bit variant).

## Repro

[code]

[code]

|          Type |                        Method |     Toolchain |      Mean | Ratio |
|-------------- |---

[2020-09-01 21:21] kunalspathak commented on #41699
@jeffhandley , @BruceForstall , @JulieLeeMSFT

[2020-09-01 21:22] eerhardt opened #41705 "PhysicalFileProvider should implement IDisposable correctly"
### Description

This is code in PhysicalFileProvider:

https://github.com/dotnet/runtime/blob/aa5fdab9654d74bc6274c0b5d820272c8e859621/src/libraries/Microsoft.Extensions.FileProviders.Physical/src/PhysicalFileProvider.cs#L177-L194

There are at least 3 things wrong with it:

1. It has a finalizer, but doesn't manage any native assets.
2. It touches managed objects during its finalizer.
3. It does

[2020-09-01 21:23] Lxiamail commented on #41398
@danmosemsft I'm not familar with the unique characteristics on different Linux OSes. It would be great if someone can articulate what's unique Alpine characteristics that we refer to? From PR: [#41547](https://github.com/dotnet/runtime/pull/41547), I didn't see any Alpine specific runtime code change.

[2020-09-01 21:26] Lxiamail commented on #41398
Just as side note, https://stackshare.io/stackups/alpine-linux-vs-ubuntu shows Alpine has a lot less users than Ubuntu. If only using OS telemetry to pick the Linux OSes for perf lab, Alpine may not pop to the top rank.

[2020-09-01 21:26] ericstj commented on #41705
Same bugs here too:
https://github.com/dotnet/runtime/blob/aa5fdab9654d74bc6274c0b5d820272c8e859621/src/libraries/Microsoft.Extensions.FileProviders.Physical/src/PhysicalFilesWatcher.cs#L231-L249

[2020-09-01 21:30] abelbraaksma commented on #41690
Aha, gotcha. But this one is currently present internally, and since this is a reserved method attribute, we don't need to add the attribute itself to a method in the reference assembly, but only the `reqsecobj`, method flag `0x8000`. I don't mean to expose it.

https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/coreclr/src/System.Private.CoreLib/src/System/Reflect

[2020-09-01 21:32] abelbraaksma commented on #41690
@dsyme, I'm not sure I follow, how would that help the current situation? If it does, that would be great, of course.

[2020-09-01 21:32] adamsitnik opened #41706 "[ARM64] Performance regression: PerfLabTests.CastingPerf2.CastingPerf.IntObj"
After running benchmarks for 3.1 vs 5.0 using "Ubuntu arm64 Qualcomm Machines" owned by the JIT Team, I've found out that `PerfLabTests.CastingPerf2.CastingPerf.IntObj` has regressed x2.

It looks like these are ARM**64** specific regressions, I was not able to reproduce it for ARM (the 32-bit variant).

## Repro

[code]

[code]

| Method |     Toolchain |       Mean | Ratio |
|------- |----------

[2020-09-01 21:38] RamType-0 commented on #41565
that's my old commit.
I posted a result of a new benchmark at first.

[2020-09-01 21:38] pgovind commented on #41699
Just adding a note here: Despite what the name suggests, the 4 regressions listed here are likely from methods in UTF8Utility and/or ASCIIUtility. The `GetString` benchmark doesn't seem to show any improvements, but it's not straightforward to reverse the changes that this benchmark hits because the UTF8Utility and ASCIIUtility methods are highly coupled and they do show decent speedup in the othe

[2020-09-01 21:38] mconnew commented on #31040
@joakimobstfelder, look at the generated code for where an EndpointAddress is constructed. One of the parameters passed to the EndpointAddress constructor will be an EndpointIdentity. Depending on how the server is being run, it could be either an SpnEndpointIdentity or a UpnEndpointIdentity. This needs to be set correctly. If it's using the EndpointAddress overload where an identity isn't provide

[2020-09-01 21:39] mangod9 commented on #41398
Alpine is different since it uses the `musl libc` instead of GNU, thus its different from other distros. For this particular fix constants such as `_SC_LEVEL1_DCACHE_SIZE` are [not defined](https://github.com/dotnet/runtime/blob/ef79765b6e5f656a3e41047e33afac24211f9752/src/coreclr/src/gc/unix/gcenv.unix.cpp#L824) for musl. Hence the fallback to using a difference method to retrieve the cache size

[2020-09-01 21:41] danmosemsft commented on #41398
Right, anything related to libc can have different characteristics. Beyond musl, Alpine is the most "size optimized" distro we currently support, so it may have unique characteristics elsewhere because of those optimizations (eg possibly missing bits of /proc - I don't know, just an example). Plus, folks who deploy to Alpine are presumably particularly sensitive to perf (or at least size) so we sh

[2020-09-01 21:44] mangod9 opened #41708 "Create a unit test for PAL_GetLogicalProcessorCacheSizeFromOS"
There was a bug specific for Alpine Linux where `PAL_GetLogicalProcessorCacheSizeFromOS` would return 0. We should add a unittest or an assert to ensure we dont regress this behavior.

The fix was part of this PR: https://github.com/dotnet/runtime/pull/41532

[2020-09-01 21:44] Lxiamail commented on #41398
@mangod9 @danmosemsft thanks for the info! Looks like we definitly should add Alpine to perf lab. Is there any other OSes have unique charactenstics, which should be considered to monitor in perf lab?

[2020-09-01 21:56] elachlan commented on #40484
We wrote a wrapper around a GO Library compiled to C using CGO.
https://github.com/expert1-pty-ltd/cloudsql-proxy

It was difficult, but we hadn't done much pinvoke before. Most of the work was done on the GO side to add functions to make it easier to manage.

For us speed is incredibly important since its used at "login", we make a function call and it starts the proxy which then triggers a callb

[2020-09-01 22:02] danmosemsft commented on #41398
Others are better positioned to answer that one, off the top of my head I cannot remember Linux regressions that wouldn't show up in either Ubuntu or Alpine.

[2020-09-01 22:05] mangod9 commented on #41398
Adding Alpine is a good start, we can always re-evaluate if we find any other distro specific issues.

[2020-09-01 22:11] teo-tsirpanis commented on #41565
Oh, yeah, I just realized the array was reset after each _iteration_.

[2020-09-01 22:14] HongGit commented on #38362
@Chizkiyahu what exactly is the issue?  Is this blocking your scenario?  If so, could you please elaborate more?  Have you done any comparison with .NET framework?  Is this a regression from .NET Framework?

[2020-09-01 22:16] mangod9 commented on #32935
Based on the discussion above, my recommendation is to move to 6.0

[2020-09-01 22:17] HongGit commented on #38682
@GrabYourPitchforks could this issue be closed now?

[2020-09-01 22:28] richlander commented on #32935
This is "nice to have". We have lots to do in this space for 6.0. I agree with @mangod9 that we should move this to 6.0 at this point.

[2020-09-01 22:39] #41512 closed

[2020-09-01 22:41] jeffhandley commented on #39603
Hey @vcsjones -- @wfurt is going to take a look into this this week.  Thanks for your help on the investigation; you've given us a great place to continue from. :100:

[2020-09-01 22:55] jeffhandley commented on #39603
I'm editing the title to remove "Big Sur" since this repro'd for me on Catalina as well.

[2020-09-01 22:56] SocVi100 commented on #29690
My scenario is about CosmosDB. I'm querying using the new .NET SDK wich uses this JsonSerializer and since it is a schemaless database I don't want to create a class for each projection of the database data I need to do (there are a bunch of different queries).
I need the results of the queries as lists of dynamic objects.

[2020-09-01 23:04] vcsjones commented on #39603
Thanks a ton. Sorry I've just been underwater with other things lately.

[2020-09-01 23:05] JulieLeeMSFT commented on #41699
@echesakovMSFT please look into this.

CC @AndyAyersMS

[2020-09-01 23:06] alexcovington commented on #40956
Here's what I have for a managed implementation, based on glibc:

[code]

Which I am pretty sure is correct, I'm still doing some more testing to make sure I have all my edge cases covered. However, the numbers look pretty good so far for a managed implementation (f varies, n fixed to 2 for these tests):

|        Method |              f |      Mean |     Error |    StdDev |
|-------------- |-----

[2020-09-01 23:07] NetMage commented on #15136
Simple things certainly move slowly for .Net...

[2020-09-01 23:08] danmosemsft commented on #40942
Just curious @tarekgh, why do we still see significant differences between Windows (with your improvement) and Ubuntu? eg
https://github.com/DrewScoggins/performance-2/issues/1283 --- about 240-260 ns
https://github.com/DrewScoggins/performance-2/issues/1334 -- back down from 160ns to 120ns

[2020-09-01 23:08] JulieLeeMSFT commented on #41704
@kunalspathak please look into this.

CC @dotnet/jit-contrib

[2020-09-01 23:12] davidfowl commented on #41658
It doesn't call out this problem in the description of the issue. Basically anything that uses config binding is busted in a very specific way (recursive properties it's not).

[2020-09-01 23:22] JulieLeeMSFT commented on #41692
@AndyAyersMS Since you are looking into it, assigning this to you. Please help triage this.

[2020-09-01 23:24] JulieLeeMSFT commented on #41706
@CarolEidt please help look into this.

CC @dotnet/jit-contrib

[2020-09-01 23:29] eerhardt commented on #41658
The second paragraph of #40551 states:

And the title of the issue is "Microsoft.Extensions.Configuration.Binder is not linker-safe".

I don't see any reason why we would need to keep 2 issues open to track the same problem.

[2020-09-01 23:29] JulieLeeMSFT commented on #39951
@AndyAyersMS, please look into this issue.

cc @dotnet/jit-contrib

[2020-09-01 23:31] NetMage opened #41716 "Expression doesn't think ImmutableArray<T> is compatible with an IEnumerable<T> parameter"
### Description

When using an `Expression` tree to create a call to a method that takes an `IEnumerable<T>` parameter, the argument validation calls `TypeUtils.AreReferenceAssignable` which assumes that value types can't be reference assignable to non-value types, so if the type is a value type that implements `IEnumerable<T>` like `ImmutableArray<T>`, the validation fails.

This can be easily se

[2020-09-01 23:45] jaredpar commented on #40301
🎉

[2020-09-01 23:48] JinShil commented on #41577
This issue was caused by a typo in my code that resulted in an infinite recursion.  The recursion grew the stack beyond its limits and began overwriting memory until the program crashed with the error in the original post.  #41673 captures a potential solution.  Unfortunately, stepping through the program in Visual Studio's debugger did not reveal this issue, leading me to believe the Visual Studi

[2020-09-01 23:48] #41577 closed

[2020-09-01 23:49] AndyAyersMS commented on #41692
[code]

@HurricanKai thanks for the example. The jit should be able to tell after inlining such a method that it wasn't nearly as big as it seemed; I'm trying to think of how it could figure this out ahead of time, or along the way. Ahead of time seems hard; as @EgorBo says, we don't want to spend a lot of time analyzing large methods; and our analysis isn't all that powerful.

But checking along

[2020-09-01 23:51] BruceForstall commented on #39951
This passed in the most recent run:

https://dev.azure.com/dnceng/public/_build/results?buildId=793494&view=results

[2020-09-01 23:51] #39951 closed

[2020-09-01 23:53] trylek commented on #40856
OK, so the JIT logs for the method (with COMPlus_TieredCompilation=0) are here:

Fast version (before my change):

https://gist.github.com/trylek/eda36d83cce74bf55db5828721d9e848

Slow version (after my change):

https://gist.github.com/trylek/ee6512d53d25edab7591a5ea77dba585

As you can easily see, the only actual codegen diff is literally a single extra indirect mov from memory. Considering the

[2020-09-02 00:00] AndyAyersMS commented on #40856
[code]
Oddly it looks like the dictionary lookup is entirely dead in both loops, which might explain the outsized cost -- there isn't much going on besides this. Are we not marking those loads as non-faulting? Let me look a bit deeper...

[2020-09-02 00:15] AndyAyersMS commented on #40856
Seems to be the case:
[code]
Note we have 3 identical IND trees, the middle one is not marked as GTF_IND_NONFAULTING (no `n`) flag.

cc @sandreenko

[2020-09-02 00:19] CarolEidt commented on #41706
@adamsitnik - could you clarify how to run these on one of the Ubuntu arm64 systems? The command you give above appears to be using windows pathnames, and if I try this:
[code]
I get a syntax error on line 39

[2020-09-02 00:20] jeffhandley opened #41720 "Annotate remainder of .NET Core assemblies for nullable reference types"
Across .NET Core 3.0 and .NET 5.0, we annotated 94% of the `netcoreapp` assemblies for nullable reference types.  In .NET 6.0, we plan to annotate the remaining 6% of that surface area and continue through other assemblies built from the dotnet/runtime repo.

This issue represents the assemblies previously tracked in #2339 that did not get completed in .NET 5.0. Following the same practices we use

[2020-09-02 00:21] jeffhandley commented on #41720
@ericstj Do you think we should include the `Microsoft.Extensions` assemblies in our nullable annotations for 6.0?

[2020-09-02 00:23] jeffhandley commented on #2339
Closing this 5.0.0 issue; the remaining annotations will be covered in 6.0 with #41720.

[2020-09-02 00:23] #2339 closed

[2020-09-02 00:24] AndyAyersMS commented on #41677
This is a jit specific benchmark, will relabel as codegen.

[2020-09-02 00:26] trylek commented on #40856
Sounds great, thanks Andy for following up so quickly. For now I understand your response and explanation so that my change basically just uncovered a pre-existing limitation due to which JIT sometimes holds on to bits of dead code around generic lookup in the produced codegen; please let me know if you think I can be of more help in investigating this issue.

[2020-09-02 00:27] AndyAyersMS commented on #41677
History strongly implicates #40535. Wonder if #40871 has any impact here?

cc @briansull @echesakovMSFT @dotnet/jit-contrib

[2020-09-02 00:31] AndyAyersMS commented on #41706
Assuming you have the right builds of 3.1 and 5.0 installed and `dotnet` is on your path, and you have cloned the perf repo (to say ~/repos/performance, then
[code]
should work. Add `-d` to get the BDN produced disassembly.

[2020-09-02 00:32] CarolEidt commented on #41706
Thanks @AndyAyersMS !

[2020-09-02 00:33] AndyAyersMS commented on #41706
Also this may be touching on the relatively new cast caching, so cc @VSadov.

[2020-09-02 00:35] #34080 closed

[2020-09-02 00:38] danmosemsft commented on #41720
I wonder whether the path is smooth enough now (and our [guidance up to date](https://github.com/dotnet/runtime/blob/c87e75e8ef260ccc6e979f9df1cc012536ee036f/docs/coding-guidelines/api-guidelines/nullability.md#L1)?) that community members could help with annotating those. We've had community folks in the past be happy to help with eg dead code and cleaning up analyzer warnings. I know one concern

[2020-09-02 00:41] layomia commented on #41630
@pinkfloydx33 - [`JsonIgnoreCondition.Always`](https://github.com/dotnet/runtime/blob/3a94b2c5a8dfbe570922d1962bc4a95dfe103da7/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonIgnoreCondition.cs#L19-L22) means always ignore when serializing or deserializing. This is the default value of [`JsonIgnoreAttribute.Condition`](https://github.com/dotnet/runtime/blob/3a94b2c5a8dfbe5709

[2020-09-02 00:44] jeffhandley commented on #41720
Good suggestion, @danmosemsft. We'll put some effort into ensuring the guidance is fully up to date. I intend do to some more project planning around this and probably spawn issues for each assembly to annotate, with them all on a project board. When we do that, we can consider which of them could be marked as `up-for-grabs`.

[2020-09-02 00:51] threenub commented on #37641
@tarekgh Does this mean a fix is in fact coming to netcore 2.1?

[2020-09-02 00:57] benaadams opened #41722 "Add GitHub Container Image for dotnet"
Add GitHub Container for dotnet? https://github.blog/2020-09-01-introducing-github-container-registry/

It currently is issued via the Azure Container Registry (mcr) but that's an opaque repository focused on private images; whereas the github one is a public open one that is more public with information, stats etc

/cc @richlander

[2020-09-02 01:09] AndyAyersMS commented on #40856
I think so, yes...

I was thinking we might be able to see a regression on this test from when the dictionary changes first went in (2/24, then reverted 3/6, then un-reverted 3/9), but we only have perf data from the start of March, and if anything it looks like those changes may have helped this test somewhat (slight regression perhaps from 3/7-3/9). So might be worth comparing vs 3.1 too.

The f

[2020-09-02 01:13] ivdiazsa commented on #37431
I was able to repro by adding some nonsense lines in `gc.cpp`. The message shown in console is like the following:

[code]

As expected, I could see the error when viewing the _Binary Log_. I agree it would make a much better experience to see the errors directly in console. I'm willing to try to fix this, but I'd like to ask for some guidance in this subsystem. Where is the error handler in the b

[2020-09-02 01:38] v-haren opened #41723 "Test failure: System.Net.Http.Functional.Tests.TelemetryTest_Http11.EventSource_UnsuccessfulRequest_LogsStartFailedStop(testMethod: \"GetByteArrayAsync\")"
failed in job: [ runtime-libraries outerloop 20200901.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=796476&view=ms.vss-test-web.build-test-results-tab&runId=25203554&resultId=103453&paneView=debug)

net5.0-Windows_NT-Release-x86-CoreCLR_release-Windows.7.Amd64.Open

Error message
[code]

[2020-09-02 01:39] tarekgh commented on #37641
@threenub I have just changed the milestone as this is not 5.0 issue. I'll @danmosemsft comment on the servicing part as he is the one activated this issue so I assumed was looking if we can port it.

[2020-09-02 01:50] tarekgh commented on #40942
@danmosemsft looking https://github.com/DrewScoggins/performance-2/issues/1283 I am seeing the ordinal ignore casing cases is improved. other none ordinal cases  I am not expecting to improve with my change. am I reading the data correctly?

[2020-09-02 02:31] daniel-white commented on #41720
I'd be happy to pick up one.

[2020-09-02 02:36] safern opened #41724 "Add APICompat validation for nullable annotations"
Now that almost 100% of the shared framework is annotated we should add a rule to [APICompat](https://github.com/dotnet/arcade/tree/master/src/Microsoft.DotNet.ApiCompat) to diff nullable annotations yo protect future changes in ref and implementation to make sure we don't miss any annotation on refs specially.

Currently APICompat is using CCI which is a big challenge as the way nullable annotati

[2020-09-02 02:37] safern commented on #41720
I also opened: https://github.com/dotnet/runtime/issues/41724 to keep track of validation.

[2020-09-02 02:39] safern commented on #41724
FYI: I also have made progress on a POC to use Roslyn for APICompat in case I don't have bandwidth to tackle this one I can share it with whoever works in it.

[2020-09-02 02:59] tmds commented on #41687
This is the test that fails, for `asyncSend=true`.

[code]
From the exception, it seems it is throwing on `TimeoutAfter`.

https://github.com/dotnet/runtime/pull/41508 matches the timing. https://github.com/dotnet/runtime/pull/41508 should only be changing behaviour when the `Socket` gets cleaned up by the finalizer. I don't think that happens in this test.

This was reported against macOS, has it

[2020-09-02 03:18] VSadov commented on #41706
If this is a simple unbox, it should be jit-inlined.
Even if not inlined it should not hit cast cache, since unbox requires exact type match*, but it could be calling a managed helper now and there is a small penalty due to tiering/R2R indirection. It is not a lot, but may be noticeable on super fast casts.

I will take a look.

*enums match with underlying types as well and thus have some special

[2020-09-02 03:19] sandreenko commented on #40856
Not sure where we create this ind, is it in `GenTree* Compiler::impRuntimeLookupToTree`?

[2020-09-02 03:22] wfurt commented on #41687
All cases I saw were on OSX 10.14. I don't see direct correlation either but it is suspicious that the test verifies dispose behavior. I'm wondering if all this is timing....? But I don't know why it would be much? slower.

[2020-09-02 03:25] #4778 closed

[2020-09-02 03:54] wfurt commented on #22287
This is too old and the code changed a lot. I don't think it make sense to drag this forward. If we see failures, we should open new issue(s) with relevant details. The assert is still real issue and it is tracked by #36466.

[2020-09-02 03:54] #22287 closed

[2020-09-02 03:56] Anipik opened #41727 "OneCert_MismatchedKey test failing on release 5.0 branch"
[code]

cc @ericstj @ViktorHofer @safern

[2020-09-02 04:04] dshamim commented on #35720
I have the same issue where the following throws intermittent Exceptions:

[code]

Getting the following intermittently

Dealer.Sourcing.Common.Exceptions.DatabaseException: Exception occured on Get Images
 ---> System.InvalidOperationException: The current TransactionScope is already complete.
   at System.Transactions.Transaction.get_Current()
   at Npgsql.NpgsqlConnection.<>c__DisplayClass32_0.

[2020-09-02 04:07] bartonjs commented on #33283
It's about the level I had in mind.

[2020-09-02 04:21] terrajobst commented on #41722
@richlander

[2020-09-02 04:28] danmosemsft commented on #40942
@tarekgh your change is good. I was just curious why Linux and Windows perf were still significantly different but I realized I compared the wrong rows.

[2020-09-02 04:31] danmosemsft commented on #37641
This was in 2.1.21 which released a few days ago.

[2020-09-02 04:31] #37641 closed

[2020-09-02 04:33] threenub commented on #37641
Fantastic. Thanks for the update!

[2020-09-02 04:35] terrajobst commented on #41696
@stephentoub

I’m not trying to make statements about correctness. The goal of this tool was merely to find discrepancies between ref and impl. My assumption was that we use a manual process to ensure these are intentional. This started because we found discrepancies that didn’t seem intentional. The heuristics like looking a NullableAttribute were only meant to reduce the noise because we a lot o

[2020-09-02 06:02] RobbyDeLaet commented on #29690
@SocVi100 Do not put your hopes on Microsoft for this one. Better stick with Newtonsoft's Json.net. @layomia has flushed all hopes for an near future integration. It seems they don't really care about the developer's needs. First they shouted "forget about json.net, we got you covered!" Luckily, developers didn't forget about json.net, or the alikes.

[2020-09-02 06:11] RalfKornmannEnvision commented on #41675
Created a draft PR (https://github.com/dotnet/runtime/pull/41728) with the small change that would be needed to fix this issue.

All it does is changing the start page for the commit of the mark array. So far it always committed starting with the page that contains at least a part of the mark array. The change ensure that it starts with the first page that only contains mark array data. The page t

[2020-09-02 06:28] rs38 commented on #29690
why don't you contribute? implement it and put in a PR!
https://github.com/dotnet/runtime/tree/master/src/libraries/System.Text.Json

[2020-09-02 06:35] Mrnikbobjeff commented on #33802
So we would warn for all primitives used in Marshal.Sizeof() except for char and bool as they differ from sizeof. This could probably also be extended to value types, but then the analyzed would become quite a lot more complicated. I assume the baseline request covers simply known primitives?

[2020-09-02 06:52] Mrnikbobjeff commented on #41529
This seems to be missing from the analyzer board as well.

[2020-09-02 07:06] sunny868 opened #41730 "Where to implement rebasing for R2R in dotnet/coreclr ?"
When I use crossgen to compile the DLL, the jump address in R2R code is the virtual address related to x64.

` /coreclr-mips64-dev/bin/Product/Linux.mips64.Debug/x64/crossgen /Platform_Assemblies_Paths /coreclr-mips64-dev/bin/Product/Linux.mips64.Debug/IL  /out /coreclr-mips64-dev/bin/Product/Linux.mips64.Debug/System.Private.CoreLib.dll /coreclr-mips64-dev/bin/Product/Linux.mips64.Debug/IL/System

[2020-09-02 07:16] RalfKornmannEnvision commented on #41675
I take it back. It seems I have overlooked something here. Beside of a full commit of the whole mark array there seems to be a use case were it is only partially committed. In this case my whole approach to fix this issue break down.

[2020-09-02 07:22] RobbyDeLaet commented on #29690
I which I could.

[2020-09-02 07:24] tjrobinson commented on #29690
It's possible to configure a different serializer, using [CosmosClientBuilder.WithCustomSerializer](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.fluent.cosmosclientbuilder.withcustomserializer?view=azure-dotnet).

Here is an example: [CosmosJsonNetSerializer](https://gist.github.com/richstokoe/c82fc831c6b4020926f5b5f772f7cd70)