[2020-07-28 01:20] AndyAyersMS commented on #36324
All or almost all of the above already appears as part of the method load / unload events. We should create a sample that shows how to process all this.

One crude attempt can be found [here](https://github.com/AndyAyersMS/InstructionsRetiredExplorer/blob/master/src/instretired.cs). It also tries to attribute samples back to jitted code types.

[2020-07-28 01:26] stephentoub commented on #39980
It would be a very visible breaking change. Someone previously could set the default version to 2.0 and 2.0 would be used if available; it wouldn't be available if http were used, falling back to 1.1. This change would instead result in failures rather than fallback when the server didn't speak prenegotiated h2c.

[2020-07-28 01:44] mjsabby commented on #36324
This is not about eventing, it is about statistics that the runtime already has and exposing it through managed APIs makes it easy to consume without using event data to recreate the statistic. A large part of the code in my profiler is just rebuilding these statistics and so I figured it'd be useful if the work involved in exposing it as a managed API is easy.

[2020-07-28 01:50] JamesNK commented on #39980
I thought that might be the case.

Since HttpVersionPolicy solves my scenario well I'll close this.

[2020-07-28 01:50] #39980 closed

[2020-07-28 02:08] symphony2014 opened #39985 "http://msdn.microsoft.com/library/en-us/dncode/html/secure01142004.asp has outdate."
### Description
When I encount this line, try to access the URL, the site says **"We're sorry, the page you requested cannot be found."**. ,https://github.com/dotnet/runtime/blob/2ad46cdeca74a2c3f451cfe31c19ee9ada0edd41/src/coreclr/src/inc/safemath.h#L158

### Configuration

Master.
### Regression?
No.

### Other information
N/A

[2020-07-28 02:34] gruan01 opened #40023 "HttpClient cause AccessViolationException"
# HttpClient cause AccessViolationException

It's occasionally, but if occurrence, program will be shut down immediately.

# General

Program use framework 4.8
System.Net.Http version: 4.3.4

The following exception only can get from eventvwr, program can't catch it.
[code]

Code:
[code]

[2020-07-28 02:41] symphony2014 opened #39986 "mscorlib.dll is outdated in the comment."
### Description
The keyword **"mscorlib.dll"** is outdated, should be replaced by **"System.Private.CoreLib.dll"**.
https://github.com/dotnet/runtime/blob/2ad46cdeca74a2c3f451cfe31c19ee9ada0edd41/src/coreclr/src/vm/binder.cpp#L62

### Configuration

### Regression?

### Other information

[2020-07-28 03:11] v-haren commented on #34337
failed again in job: [runtime-coreclr libraries-jitstress 20200727.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=746400&view=ms.vss-test-web.build-test-results-tab&runId=23135228&resultId=133753&paneView=debug)

failed test: System.Net.Security.Tests.SyncSslStreamSystemDefaultTest.ClientAndServer_OneOrBothUseDefault_Ok(clientProtocols: Default, serverProtocols: Ssl2 | Default | Tl

[2020-07-28 03:23] GF-Huang opened #39987 "Exception stack trace does not have line numbers for Self-Contained(Single Executable) apps with embedded PDBs"
### Description
The publish app as Self-Contained(Single Executable), its exception stack trace does not have line numbers, even if there is a `pdb` file at the same folder to the `exe`.

### Configuration

[code]

### Regression?

.net core 3.1.

### Other information

![image](https://user-images.githubusercontent.com/4510984/88615428-7eef4980-d0c4-11ea-965a-d86603b20ee5.png)

![image](https://u

[2020-07-28 04:07] danmosemsft commented on #39986
Well, "Mscorlib" is all over this file.

[2020-07-28 04:40] terrajobst opened #39989 "Unify MinimumOSPlatformAttribute and UnsupportedOSPlatformAttribute"
The original proposal for marking-platform-specific APIs only considered cases where an API was platform-specific, such as the Windows registry. When trying to design a solution for marking APIs as unsupported by Blazor, it became obvious that we need a way to exclude some platforms without treating the API as platform-specific. Hence, a proposal for platform-exclusion was born [dotnet/designs#143

[2020-07-28 04:58] #39985 closed

[2020-07-28 05:02] jeffhandley commented on #39989
As I [commented on in the spec PR](https://github.com/dotnet/designs/pull/143#discussion_r461282319), I wonder if we should support `params string[] platformNames` on these attributes.  That would make it easier to annotate the iOS family of platforms.

[code]

[2020-07-28 05:29] sywhang commented on #36324
@BruceForstall @AndyAyersMS

My take on the effort to add managed APIs for retrieving metrics across various spaces in the runtime (i.e. GC, JIT, loader, etc.) is to provide a "richer" in-proc diagnostics info for the users without them having to start a tracing session. It is possible for them to get these events by subscribing to the ETW events using EventListener, but EventListener spawns up a

[2020-07-28 05:59] kjpou1 commented on #38803
The issue may be a little misleading.  The issue is basically documenting that the `message` being displayed is a little weird and probably should be changed from `tp` to `thread pool`.

The system handles the case correctly though.

[2020-07-28 06:22] jkotas commented on #36324
We should not be exposing these. If we expose them, it would prevent us from doing AOT optimizations. Also, keeping track of machine code size total for precompiled method is expensive.

[2020-07-28 06:31] castholm opened #39991 "new RegionInfo("NO").NativeName returns different strings depending on the capitalization of the country code"
Norway has two official native names in its two official written standards; *Norge* in Bokmål and *Noreg* in Nynorsk.

When initializing a new `RegionInfo` with a Norwegian country code it will have a different value for its `NativeName` property depending solely on whether you capitalized the country code or not.

[The official documentation for the `RegionInfo(string)` constructor](https://docs.

[2020-07-28 06:57] yyjdelete opened #39993 "Debugger report `null` for uninited static struct field in classes without an `.cctor`"
### Description
Debugger will report `null` instead of `default(...)` for uninited static field(struct) in classes without an static ctor. It's an value type and should never be null.
Get `null` when watch the field in debugger, and `ArgumentNullException` when try to access any member of the field in debugger.

It only affect the debugger, running the program can get the right result. And after a

[2020-07-28 06:58] semyon2105 commented on #31900
@tommcdon yes, still seeing the same CPU increase in repro using the latest .NET SDK Docker image

[2020-07-28 07:04] tommcdon commented on #31900
@sywhang can you take a look?

[2020-07-28 07:05] janvorli commented on #38522
I have verified that the test doesn't hang anymore.

[2020-07-28 07:05] #38522 closed

[2020-07-28 07:09] jkotas commented on #38785
API proposal #31170 was approved. @Sergio0694 Are you interested in submitting PR with the implementation?

[2020-07-28 07:09] agocke commented on #39819
This is not actually true -- I was measuring without passing the `--apparent-size` flag to `du`, which inflated the size of the single file publish by quite a lot. The actual size appears smaller than a regular single-file publish.

[2020-07-28 07:09] #39819 closed

[2020-07-28 07:10] sywhang commented on #31900
@semyon2105 What version of .NET Core 3.1 are you using?

[2020-07-28 07:31] CoffeeFlux commented on #35219
Figured out the exact issue here: the current version of `mono_marshal_get_native_wrapper` assumes that if the pinvoke address can't be resolved at IL generation on non-AOT, it will never be resolved and instead emits IL that just throws an exception. We need to lift those assumptions and fill in the address when the method is jitted if we're unable to resolve it previously, since on netcore we ha

[2020-07-28 07:49] ryannewington commented on #27742
@Anipik

With your statement that
`MessageResourceFile should be provided by the user while creating an EventSource.`

You actually need the c++ compiler to do this. You need to create a message file, compile the message file into a C header file and resource, and finally compile that it into a DLL.
https://docs.microsoft.com/en-us/windows/win32/eventlog/message-files

It's a very heavy burden tha

[2020-07-28 08:03] semyon2105 commented on #31900
@sywhang I'm using version 3.1.6

[2020-07-28 08:24] marek-safar commented on #37817
The ILLink change is in and the tool now produces deterministic output by default

[2020-07-28 08:37] Gnbrkm41 commented on #39886
I had this fortunate opportunity of having to re-install Windows on my laptop, and, to my surprise, after re-installation now it builds fine. *sigh*

Closing for now.

[2020-07-28 08:52] genyx commented on #39769
I was creating a dropdown menu for country selection and implementing it in our software and webpage when i encountered this behaviour. I needed to create a CultureInfo object out of this (the GUI got RegionInfo objects), which is no longer possible in net core since "CH" can not be parsed to the CultureInfo "de-CH"... I switched to store a CultureInfo internally and got rid of RegionInfo completl

[2020-07-28 09:13] ManickaP commented on #39941
Does this mean that custom implementations of the new connection API are expected to catch and encapsulate all existing exception (e.g. from sockets)? Or are we gonna do that for them in some of our code? Or will the mix of new and existing exceptions be flowing outside of the API?

Also linking mentioned existing types:
[`SocketException`](https://github.com/dotnet/runtime/blob/master/src/librari

[2020-07-28 09:21] #39760 closed

[2020-07-28 09:27] scalablecory commented on #39941
This should be the exception that users catch while using this abstraction if they want to respond to network events.

Exceptions should be wrapped if it makes sense to do so. I would not wrap /all/ errors, but rather only the specific ones like ConnectionReset.

[2020-07-28 09:29] Sergio0694 commented on #38785
@jkotas Absolutely, I'd be happy to! 😊

[2020-07-28 09:39] cjblomqvist commented on #30820
@Jozkee thanks for your reply!

I believe a scenario which is probably quite common is that you have let's say 100 types, with various relationships between them. Some contian many, some not so many. Basically all are related to at least one other type one way or another, and you have a REST-like Web API to get them from a Web/Mobile application. To map out all relationships in each scenario and m

[2020-07-28 10:10] kjpou1 opened #39998 "[browser][filesystem] FileSystem test not passing due to working directory"
`System.IO.Tests.DirectoryInfo_Name.CurrentDirectory` does not pass because it is using `Path.GetFileName` on the current directory of "/".

[code]

By setting the current directory as above the test passes.  This should be set via command line args and the setup of the test harness.

Using this active issue for a temporary skipping of this test and flag for later.

[2020-07-28 10:21] KalleOlaviNiemitalo commented on #27742
Are the logging tools scraping the text from the Event Viewer window? The event log APIs do not return that message.

[Microsoft.Diagnostics.Tracing.EventRegister](https://www.nuget.org/packages/Microsoft.Diagnostics.Tracing.EventRegister/1.1.28) embeds mc.exe and rc.exe, but it is intended for manifest-based events; IIRC, those encode version numbers and other things in [event identifiers](<https

[2020-07-28 10:43] #35088 closed

[2020-07-28 10:51] sywhang commented on #31900
Thanks for confirming that. Just to make sure, is https://github.com/semyon2105/leak-repro still a valid repro for your issue?

[2020-07-28 10:52] imaramos commented on #31743
I am having the same issue running on docker with the image mcr.microsoft.com/dotnet/core/aspnet:3.1.6-nanoserver-2004, I have the `ijwhost.dll` installed in the folder, I am making sure that everything is built using x64, even tried to install vc_redist.x64.exe but still getting System.BadImageFormatException.

[2020-07-28 11:14] ViktorHofer commented on #37817
That's great news. @jonathanpeppers would you mind re-validating the scenario so that we know for sure this is fixed.

[2020-07-28 11:16] hoyosjs commented on #38924
I took a look. A few things:

- Symbol packages already have all the necessary binaries + symbols. This will ensure symbol indexing.
- For runtime packs for IL tools, the only RID that has a transport package getting published is win-x64. This makes me think it's unlikely we have direct consumers. I couldn't find any references in dnceng or devdiv.
- The other weird bug here is the Lineup packages

[2020-07-28 11:25] mcpiroman opened #40001 "Use FileOptions.SequentialScan in File.ReadAllBytes"
`System.IO.File.ReadAllBytesAsync` already uses `FileOptions.SequentialScan` flag when opening a file,  but `System.IO.File.Read` does not:
https://github.com/dotnet/runtime/blob/52d4d8c057d24a77b2cf6708d495cf549a8bee9a/src/libraries/System.IO.FileSystem/src/System/IO/File.cs#L331

Furthermore, this could be added in `ReadAllText` and alike, but it would need to be routed through `StreamReader` an

[2020-07-28 11:33] yunfandev commented on #31743
@imaramos

https://github.com/dotnet/core/issues/3927#issuecomment-638580305

[2020-07-28 11:34] gbalykov opened #40003 "Linux x86 build error"
Build with:
[code]

Output:
[code]

Related changes: https://github.com/dotnet/runtime/pull/37702

cc @alpencolt

[2020-07-28 11:36] semyon2105 commented on #31900
Yes, and I've just updated it to use the latest .NET image

[2020-07-28 11:40] imaramos commented on #31743
I see, thanks for the help. So it is specific to nanoserver? Should I use windows/servercore instead and install aspnetcore runtime manually? Unfortunately the image is much bigger :(.

[2020-07-28 11:50] SamMonoRT commented on #38718
@vargaz - Yes, luckily the official runs(atleast for JIT)  have just restarted in the labs again. We should have never set of results at end of the day.

[2020-07-28 11:55] yunfandev commented on #31743
@imaramos

I have tried dotnet core c++/cli program can only run on mcr.microsoft.com/dotnet/framework/sdk, windows/servercore image will not work.

mcr.microsoft.com/dotnet/framework/sdk is over 7GB after decompression.  😂😂😂

[2020-07-28 12:01] imaramos commented on #31743
Wow, that is awful, and in my case is useless because I am using dotnet core 3.1, not the full framework.
If c++/cli is not going to be supported in linux, at least it should be a light and easy to build image.

[2020-07-28 12:18] kg commented on #38627
Even though Zoltan's PR is merged both here and in mono/mono, I can still reproduce the issue. ```new System.Diagnostics.StackFrame().GetMethod();``` is returning null for me in the wasm sample.

[2020-07-28 12:33] kg commented on #39771
I tried to repro this using your steps but the last one (running the test suite) fails:

[code]

Did you set some environment variables to make it use the build from ```artifacts/```?

[2020-07-28 12:54] chriskuech opened #40029 "Add concurrency data structures for TPL"
### Is your feature request related to a problem? Please describe.
A reoccurring problem I see with ASP.NET Core web services is caching data from an API.  Currently this manifests in two primary scenarios:
1. Lazily caching a single request on a field.
2. Lazily caching many requests by a key in a ConcurrentDictionary.

Both of these scenarios have suboptimal solutions.  `System.Lazy` does not su

[2020-07-28 13:26] MithrilMan opened #40007 "PooledByteBufferWriter or similar as .net first class citizen?"
Any plan to expose PooledByteBufferWriter or a similar implementation as a first class citizen in the framework?
actually AFAIK there is just ArrayBufferWriter that implements IBufferWriter and it doesn't uses memory pools.

It can be really useful when dealing with network protocol implementation and you have to serialize/deserialize data using a temporary memory while preserving lot of allocatio

[2020-07-28 13:56] MaximLipnin commented on #39771
No, I didn't set any environment variables besides `EMSDK_PATH` and `PATH` for jsvu-v8, mentioned in the docs from repro steps.

[2020-07-28 14:01] #38984 closed

[2020-07-28 14:09] smoogipoo opened #40009 "Inefficient codegen when a lambda references an instance member"
### Description

We've recently encountered a method allocating even though there was no allocate-y code running. We've since tracked this down to the following:

IL shows the capturing lambda's `DisplayClass` always seems to be "allocated" as soon as the method is entered, but the JIT has the ability to control when the object is initialised. When the lambda captures _both_ a local and `this`, th

[2020-07-28 14:10] jaredpar commented on #40009
Moving back to runtime as the issue is about the JIT generation for the pattern emitted by Roslyn, not the Roslyn pattern itself. At least that is my reading at this point. If the discussion comes back to the pattern emitted here we can move back to Roslyn.

[2020-07-28 14:36] AStefanits opened #40010 "Microsoft.XmlSerializer.Generator fails with BadImageFormatException if used for a .NET Framework project using MEF"
### Description
We are currently in the process to migrate our projects to use the dotnet compiler instead of MSBuild. For that we have exchanged the old csproj format with the Microsoft.NET.Sdk. But still targeting the .NET Framework 4.6.1.

In order to do that we have also exchanged the old sgen with the Microsoft.XmlSerializer.Generator nuget package.
While running the dotnet build we are facin

[2020-07-28 14:40] vcsjones opened #40012 "HMAC one-shot methods"
## Background and Motivation

In #17590 we added one-shot methods for hashing. It might be worth considering similar methods on the HMAC classes to provide some API parity, and to offer the same benefits as one-shot hash: straight forward API, no stateful object allocation, etc.

## Proposed API

[code]

The API is the same as #17590 on the appropriate classes, with the addition of a key parameter

[2020-07-28 14:40] vcsjones commented on #40012
@bartonjs @krwq

[2020-07-28 14:49] jonathanpeppers commented on #37817
I installed:
* https://aka.ms/dotnet/net5/dev/Sdk/dotnet-sdk-win-x64.exe which is:
* https://dotnetcli.azureedge.net/dotnet/Sdk/5.0.100-rc.1.20378.2/dotnet-sdk-5.0.100-rc.1.20378.2-win-x64.exe

It seems like the mvids match now:
[code]

Using this project, I can confirm that assemblies are getting deduplicated for a debug Android build now:
[code]
It seems like this saves ~80mb for a multi-archite

[2020-07-28 14:49] #37817 closed

[2020-07-28 14:57] vitek-karas opened #40013 "AssemblyDependencyResolver doesn't work from SingleFile bundle"
With the new single-file bundles in .NET 5 the logic in hostpolicy which implements the actual functionality of AssemblyDependencyResolver is broken. It assumes the assembly to be loaded will be found in the bundle, and if it's not there weird things will happen.

Not sure about the scope of this problem yet. We should probably not allow loading assemblies from the bundle this way regardless. We s

[2020-07-28 14:58] #36717 closed

[2020-07-28 15:07] kzu commented on #39857
Yeah, I'm "solved" this by having an extension method on `ActivitySource` instead, so, closing.

[2020-07-28 15:07] #39857 closed

[2020-07-28 15:10] eerhardt commented on #39989
Overall, this proposal looks good - it will allow us to model unsupported APIs in Blazor WASM.

`RuntimeInformation.IsOSPlatform()` and the `OSPlatform` struct are in the `System.Runtime.InteropServices` namespace. But these attributes are in a different namespace. Why the difference? They are all about "OS Platforms". The rest of the types in `System.Runtime.Versioning` seem to be primarily about

[2020-07-28 15:11] kzu commented on #39866
Would you care to explain why there is an asymetric API where you have `GetBaggageItem` but *not* a `GetTagItem`? That's unusual, I'd say, and moreover might give the impression that somehow `Baggage` deserves different treatment? As an API user, I see one and not the other... should I infer that `Tags` are not intended to be retrieved by key but `Baggage` is, even though both properties have the

[2020-07-28 15:16] #13439 closed

[2020-07-28 15:26] jkotas commented on #40007
Duplicate of #33598

[2020-07-28 15:26] #40007 closed

[2020-07-28 15:41] antonfirsov commented on #36618
### TLDR
The issue and the difference between Linux and Windows is rooted in the default behavior of sockets created by the OS-es. The related socket options are currently untouched during .NET socket creation.

### Details

**On Windows** and in the .NET `Socket` API (which is modeled on Windows behavior) there are two socket options controlling exclusivity of socket addresses: `SO_REUSEADDR` (`S

[2020-07-28 15:47] vcsjones commented on #31514
My conclusion when investigating this in #35880 is that, no, this is not configurable.

[2020-07-28 15:53] danmosemsft opened #40016 "Some dead resource strings in Microsoft.VisualBasic.Core"
Several area not referenced in code, eg., EnvVarNotFound_Name, WinForms_RecursiveFormCreate, WinForms_SeeInnerException...

These can be removed from src\libraries\Microsoft.VisualBasic.Core\src\Resources\Strings.resx

[2020-07-28 15:54] karelz commented on #36618
At minimum, this does not seem to be critical for 5.0. If we are exposing the native behavior of Sockets and there is no clear "right way" to do it (at least not now without deeper analysis), we should keep it without breaking now (it is not a regression), until we have super-clear plan what to do in the space -- and then do intentional breaking change when we're ready.

[2020-07-28 16:04] ericstj commented on #1011
I chatted with @eerhardt about how linker treats TypeConverter last week, and we believe this is safe to bring into System.Drawing.Common now.

[2020-07-28 16:17] george-polevoy opened #40018 "StringBuilder Join with lambda expression for nested operations."
## Background and Motivation

Joining string values with a separator is a common task involving an algorithm with conditional logic, StringBuilder.AppendJoin is aimed at simplifying this task. StringBuilder itself is aimed to reduce allocations, however allocation is suboptimal when AppendJoin is used with complex values. Consider the following example:

[code]
There are few problems with this app

[2020-07-28 16:26] Tratcher opened #40020 "UserSecrets should reload on changed"
Today the host will reload appsettings.json if it changes.
https://github.com/dotnet/runtime/blob/4b8c5fe2b4757f77f5699d49a072fcb123d2e33b/src/libraries/Microsoft.Extensions.Hosting/src/Host.cs#L74-L77

However, it does not reload the user secrets file.
https://github.com/dotnet/runtime/blob/4b8c5fe2b4757f77f5699d49a072fcb123d2e33b/src/libraries/Microsoft.Extensions.Hosting/src/Host.cs#L84
See
htt

[2020-07-28 17:05] stephentoub commented on #40009
Isn't the concern here that the display class is new'd up at the beginning of the method? That's entirely due to the C# compiler's IL code gen and is not something the JIT would change. I don't see how this is a runtime or JIT issue.

[2020-07-28 17:06] safern commented on #1011
Sounds good. FWIW we already brought typeconverter into System.Drawing.Common closure for .net 5. I can take care of this one.

[2020-07-28 17:07] #38260 closed

[2020-07-28 17:09] john-h-k opened #40021 "JIT poor codegen for calculating field offsets of structs"
### Description

The JIT doesn't generate good assembly when calculating (what should be) constant fields offsets.
[Example sharplab](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxNMAfAAgJgIwCwAUFgAwAEWeAdAEoCuAdjAJZhzUDCA9mAA4sANogDKiAG4sAxnCgBuYsQDaYbgBN6wkOREBrFnwAy3KREFQAkoxYwAuopIBmckygQAZnEo5yncgG9icmDyIJCsZ1gEeikYcgBRAA8IfmEw4MCiEOzKZ2AAT3hyAC1EbgUsnOD0nL4EFnEIIoKigH08JHJWnE7Wxwqq6sqqiPIWrwAxb

[2020-07-28 17:21] #39378 closed

[2020-07-28 17:22] terrajobst commented on #31198
* It seems the setting `Always` is undesirable. Instead of adding this enum, we should just use `WithActiveRequests` as the default
* The API is reasonable an enum is preferred, but let's defer this until we know for we need a way to allow `Always` (even though all other clients have it).

[code]

[2020-07-28 17:23] tarekgh commented on #39991
@castholm did you try the repro with .NET 5.0?

[2020-07-28 17:25] Clockwork-Muse commented on #40018
Unfortunately, `AppendJoin` explicitly calls `ToString()`, so doing something like this:

[code]
... doesn't actually remove string allocations.  Should there be a check/generic specialization for that?

... I thought there had been a proposal for `JoinFormat` or something like that, but I can't find it.

[2020-07-28 17:26] EgorBo commented on #40009
Simplified example:
[code]
[sharplab IL](https://sharplab.io/#v2:C4LglgNgPgAgTARgLAChUwQNgAT2wYQgEMBnE1Ab1Wxty1wBZsAVAUxOAAoBKa2qlLSG4A7AG4+w7GAB2wbBAD2AY2wBebHAmCpuAKwAeWcAB82AGYBXGao091Zpcu1CAvqldA==)

so looks more like an optimization opportunity for Roslyn rather than JIT.

[2020-07-28 17:32] EgorBo commented on #40021
Yeah it's quite confusing, but "master" on sharplab means "master version of Roslyn + .NET Core 3.1 x86 JIT"
It confuses so many people so many times so we should ask sharplab authors to make it clearer 🙂

I'd recommend to either use BenchmarkDotNet's disasm + .NET 5 or use `COMPlus_JitDisasm=method` (preferable)

[2020-07-28 17:33] tarekgh commented on #39769
I am not fully understand the question. Usually when we change the behavior of any API we publish a breaking change doc and explain the change.

For this RegionInfo issue, the .NET Core behavior existed very long ago in .NET Core 1.0 and even existed before that on the framework supported phones platforms.

It is not possible to guarantee you can create CultureInfo from RegionInfo the way you desc

[2020-07-28 17:47] jaredpar commented on #40009
@stephentoub I've been reading it as they want the JIT to special case and optimize this pattern. @smoogipoo is acknowledging the IL difference but in the face of that still wants the JIT ASM to be the same.

[2020-07-28 17:50] pgovind commented on #38872
Yup, I'll take this forward at API review. @terrajobst , any idea when we might be able to squeeze this in?

[2020-07-28 17:57] john-h-k commented on #40021
I did check it with my local copy of the runtime too 😄 , just can't do it on a freshly pulled copy right now because I am having some issues building it

[2020-07-28 17:57] tarekgh commented on #39866
@kzu to clarify, I am not pushing back on your request more than trying to understand your scenario.

Although I don't know the whole history of the Activity class and why each API is added there, this doesn't mean we should proactively add APIs when it is not clear if the users will benefit from it. Even you see Baggage is not symmetric with Tags, doesn't mean we should just add new API for only

[2020-07-28 18:00] isaacrlevin opened #40033 "Config Settings not being loaded in Program.cs on Raspberry PI 4 running as systemd service"
### Describe the bug
This is a bit of an odd one, but I have tried testing it a few ways, and I am unable to load values of `IConfiguration` inside of `Program.cs` when the app is running as a systemd service running on a Rasperry Pi 4. I AM ABLE to load the values if I run the app interactively. I have confirmed that the service running as system root OR admin user does not work. If this is a Sta

[2020-07-28 18:03] AndyAyersMS commented on #39023
Think I've finally figured this one out.

Recall the release jit only sometimes generates bad GC info, and the checked jit never does.

The release jit can sometimes end up in a situation where `fgFirstBB` does not have the `BBF_HAS_LABEL` or `BBF_JMP_TARGET` flags set. If this happens and there are GC references live into the method body, they won't be reported properly as the jit won't create a

[2020-07-28 18:05] scalablecory commented on #40023
This Github repo is for .NET Core only. For Framework, please open an issue at our Community forum: https://developercommunity.visualstudio.com/spaces/61/index.html

Thanks!

[2020-07-28 18:05] #40023 closed

[2020-07-28 18:16] jkotas opened #40028 "Cleanup dead code in CLRConfig"
A lot of code code under CLRConfig is dead or no longer useful: IgnoreHKLM, IgnoreHKCU, ConfigFile_SystemOnly, ConfigFile_ApplicationFirst, reading config from registry.

Context: https://github.com/dotnet/runtime/pull/39994#discussion_r461755527

[2020-07-28 18:16] terrajobst commented on #39989
* We'll rename `MinimumOSPlatformAttribute` and `RemovedInOSPlatformAttribute` to `SupportedOSPlatformAttribute` and `UnsupportedOSPlatformAttribute` respectively
* We'll move them (plus `ObsoletedInOSPlatform`) from `System.Runtime.Versioning` to `System.Runtime.InteropServices` to co-locate them with them guarding API `RuntimeInformation`
* We don't like `InteropServices`. @terrajobst to follow

[2020-07-28 18:21] MythreyaK commented on #39922
Yikes sorry, should've used better keywords for dupe-search.
CoreFX seems to redirect back to this repo.

[2020-07-28 18:24] JamesNK commented on #31198
Yes it is desirable. I explained why it is desirable here - https://github.com/dotnet/runtime/issues/31198#issuecomment-635622175

To go into an example:

Imagine a client that infrequently sends bursts of data, e.g. 1000 HTTP requests once every hour. Without an option to send keep alive pings then all 1000 HTTP requests have high latency while they wait for TCP connections to be created, TLS to

[2020-07-28 18:24] MythreyaK commented on #15936
Is this something a beginner can handle?

[2020-07-28 18:31] scalablecory commented on #31198
Thanks @JamesNK. The function of them was never under question -- pushback we got in API review was on specific scenarios.

[2020-07-28 18:43] tommcdon commented on #37053
@ststeiger We are hoping that the issue is resolved with the latest 3.1 update.  Can you confirm that the issue resolved?

[2020-07-28 18:44] thaystg commented on #38627
I have tested on mono/mono and it's completely working. I think that this PR will fix on dotnet/runtime.
https://github.com/dotnet/runtime/pull/40031

[2020-07-28 18:49] vcsjones commented on #40018
If performance is critical, then I would think using LINQ and other higher-level mechanisms doesn't make much sense. If you do this with straight-forward loops, it's still faster.

[code]

The code [is not pretty](https://gist.github.com/vcsjones/c016b04e644d8854ebe4fb7526bc0346), but it's straight forward to read and avoids any costly abstractions.

[2020-07-28 18:57] MithrilMan commented on #33598
I feel the need of a PooledByteBuffer too as stated in #40007
I understand the concern of misuse, then why don't hide the behavior behind a constructor overload `ArrayBufferWriter(bool usePool)`? (semi joke)
BTW I don't feel the exmple of Span fitting the ArrayPool problem (Maybe I'm underestimating some problem, I can just think about misusing PooledByteBuffer as a long living object not returnin

[2020-07-28 19:02] MichaelSimons commented on #2243
This is rather unfortunate.  These types of fit and finish problems add up over time and can degrade the UX especially for noobs.  That being said is there a larger issue (the shared components ref-counting issue) here that needs attention?  Are there other cases where this has caused issues such as this?

[2020-07-28 19:05] Ninds commented on #39022
Thank you. That's good to know.

Nothing specific, I was on an exploration exercise.

The original context was to have a way of adding attributes to the logging output at the Microsoft.Extensions.Logging level without having to resort to implementation specific details, for example  \:

```ILogEventEnricher``` in Serilog

or

```LoggingEvent.Properties``` in Log4Net

Example of attributes I'd like

[2020-07-28 19:11] NikolaMilosavljevic commented on #37661
Fixed.

[2020-07-28 19:14] #38356 closed

[2020-07-28 19:14] NikolaMilosavljevic commented on #36842
@janvorli is this a developer scenario? Does it also repro in official builds? Is it needed for 5.0?

[2020-07-28 19:16] jashook opened #40034 "Windows_NT Formatting jobs failing"
Windows formatting failure seems to be a configuration issue while configuring Cmake

/cc @jkoritzinsky @dotnet/jit-contrib

[code]

[2020-07-28 19:17] ericstj commented on #39429
Is there a reason this needs a name specified by the caller?  Could it be some token value like `$index` or something?  /cc @davidfowl @maryamariyan

[2020-07-28 19:17] jashook commented on #40034
Based on conversations with @safern I will disable the job is it will fail consistently.

[2020-07-28 19:18] NikolaMilosavljevic commented on #33593
@BruceForstall it seems that the log indicate failure in unmanaged build - can you check if binaries are in fact built?

[2020-07-28 19:19] ericstj commented on #39531
I believe this was fixed in #39534

[2020-07-28 19:19] #39531 closed

[2020-07-28 19:22] dellamonica commented on #39023
@AndyAyersMS, I've run the crashing repro 8x with the new JIT and it did not crashed once. Before we had a failure rate of about 60%, so I'm pretty confident that the problem is solved.

Thank you for your efforts!

[2020-07-28 19:23] NikolaMilosavljevic commented on #31805
@jkoritzinsky do you know if this is handled in the new shared FX infra?

[2020-07-28 19:25] #38924 closed

[2020-07-28 19:27] twsouthwick opened #40037 "Blazor WebAssembly preview 7 failing with 'Why are we accessing an entry that is not allocated'"
I was playing around with an MVVM project for blazor and updating it to .NET 5.0. Everything worked fine on 3.2.0. However, when I updated to .NET 5.0 preview 7, I started getting the following:

[code]

This appears to happen when the https://github.com/chris579/MvvmBlazor tries to bind to some of the events using a weak listener pattern. In order to hook up an event it does the following:

[code

[2020-07-28 19:27] jkoritzinsky commented on #31805
The is one of the areas I need to still look at. I dont know if this is required since ASP.NET doesn't do anything similar to this. I can look at adding this in the new infra if we still feel it is valuable.

[2020-07-28 19:27] fsinisi90 commented on #39945
@AaronRobinsonMSFT Thanks for the workaround. I've been able to make it work on macOS in the way you've proposed but I'm having problems on Windows. When trying to P/Invoke to `LoadLibrary(null)` I'm getting a null pointer and the error code 87.

Here's the code:

[code]

[2020-07-28 19:30] NikolaMilosavljevic commented on #3833
@donJoseLuis are you looking at this for 5.0?

[2020-07-28 19:33] ericstj commented on #39848
Today Information is 2 and Warning is 3.  Enum values cannot change: it is severely breaking as usage captures the literal values in the calling code.  It is possible to assign a new number and place it in the [middle in metadata order](https://sharplab.io/#v2:C4LglgNgNAJiDUAfAAgZgAQFMB2BXAtugDID2A5kZgG6YQCwAUAN6PpvoAqATgIYDGmdAF50ABiit2AEUwAjXGWHoAjBIbt0ASWwAzEl3w9gYEtiUAmNRoByJYwKUB2K+wDqPLtjDZF

[2020-07-28 19:33] karelz commented on #34080
Triage: Happens in C as well, unlikely .NET Core direct problem - moving to Future. Still would be nice to have it understood and solved post 5.0.

[2020-07-28 19:35] NikolaMilosavljevic commented on #3817
No known fixes merged in this area. Potentially obviated by upcoming signing work in Arcade.

[2020-07-28 19:35] #3817 closed

[2020-07-28 19:36] ericstj commented on #39646
Agree that it would be nice to have PR templates in the system for various ask-modes.

[2020-07-28 19:36] NikolaMilosavljevic commented on #3756
@jkoritzinsky is this tracked by your work in shared FX?

[2020-07-28 19:40] ericstj commented on #32805
@safern previously added a workaround to our pipelines for this.  Are we missing that workaround in some places we call DownloadBuildArtifacts?

[2020-07-28 19:42] alefranz opened #40039 "Unable to build library test project in Visual Studio"
### Description

Hello 👋!

I'm trying to work on `Microsoft.Extensions.Logging.Console` in Visual Studio _Preview_.

I can build and run the tests successfully from the command line, but when I open the library project in VS with
```.\build.cmd -vs  Microsoft.Extensions.Logging.Console```
I am unable to build the test projects due to the following error:
[code]
Any idea of what I could be doing wr

[2020-07-28 19:42] alefranz commented on #40039
/cc @ViktorHofer @safern

[2020-07-28 19:43] karelz commented on #1509
Triage: For 5.0 we decided to go without limit (there's a boolean for enabling multiple connections). We should revisit if we need to look at the Max post 5.0 (moving to Future).

[2020-07-28 19:44] NikolaMilosavljevic commented on #3492
@AaronRobinsonMSFT is this something that can be handled in the host test infra? Is this required for 5.0?

[2020-07-28 19:45] alnikola commented on #1509
Implementation was mostly complete in #38748, but then moved post 5.0 due to high complexity and high risk of changes.

[2020-07-28 19:46] vitek-karas opened #40040 "Error message about missing Libs subset when running build-test should mention that it needs Release config"
Running `build-test.cmd` from coreclr fails with:
[code]

The error message doesn't mention that it needs the release configuration (which is NOT the default when building) - it can only be seen in the missing artifacts path, which is not very clear.

[2020-07-28 19:48] ericstj commented on #39371
@MattGal does this look like an old python version on arm64 helix client?  Seems python isn't understanding [function annotations](https://www.python.org/dev/peps/pep-3107/).

[2020-07-28 19:49] NikolaMilosavljevic commented on #2624
@brianrob is this still an issue for perf tracing or do you utilize a workaround? Is this needed for 5.0?

[2020-07-28 19:51] AaronRobinsonMSFT commented on #39945
@fsinisi90 Sorry about that. I always mess this up when not actually in the process of writing code. On Windows, the function to get the process handle is `GetModuleHandle()` - that is what should be passed `NULL`.

I am also updating the original workaround.

[2020-07-28 19:52] safern commented on #32805
I don't think so. This should be disabled by setting a variable on the yml file and we set that variable in a place where all pipelines use:

https://github.com/dotnet/runtime/blob/master/eng/pipelines/common/xplat-setup.yml#L29-L32

[2020-07-28 19:53] safern commented on #32805
Yeah, but this was the issue tracking this failure and the workaround I provided was to prevent that from happening.

[2020-07-28 19:54] MattGal commented on #39371
@ericstj yes I've been raising this issue with folks on my team but you're the first customer caring about it.  It's not understanding function annotations because it's one of the 10 boxes that is still running python 2.x.  We should take those machines offline; let me chat with @ilyas1974 .

[2020-07-28 19:55] safern commented on #40039
Thanks @alefranz for reporting. Something to note, you shouldn't longer need to use the `-vs` switch to run tests from VS as we now use a `.settings` file that the test explorer uses to run the tests.

We will take a look at the issue you're hitting.

[2020-07-28 19:55] ericstj commented on #39927
System.IO.dll is a full facade on .NETCore, which is why you didn't see its XML file in the refpack.  All types are forwarded to System.Runtime and System.Runtime.Extensions.  For which you will see xml files for in `packs/Microsoft.NETCore.App.Ref/3.1.0/ref/netcoreapp3.1`

Agreed this is a duplicate of dotnet/standard#1527.

[2020-07-28 19:55] #39927 closed

[2020-07-28 19:56] AaronRobinsonMSFT commented on #3492
@NikolaMilosavljevic I don't know if this is still an issue now that we have consolidated the dotnet/setup repo into the dotnet/runtime repo. This was a specific issue with the dotnet/setup repo.

[2020-07-28 19:56] dagood commented on #31805
@ericstj can help make this call. My understanding is it's pretty important. (I took some efforts to keep it working over time and run it in dotnet/windowsdesktop.)

[2020-07-28 19:57] AaronRobinsonMSFT commented on #3492
I am going to close this since we do run tests in dotnet/runtime on the ARM platform.

[2020-07-28 19:57] #3492 closed

[2020-07-28 19:57] karelz commented on #34967
Triage: Only 1 customer, there is workaround - handle the redirect yourself. Sadly, not enough time to fix it in 5.0, moving to Future.

[2020-07-28 19:57] danmosemsft commented on #25091
@GrabYourPitchforks I have marked this future based on above comment, seems like a migration glitch?

[2020-07-28 19:57] safern commented on #33593
Yeah, the reason why the packages build failed might have been a fallout from our build not stopping on first failure, but the first line of that log as @NikolaMilosavljevic suggests that it failed before trying to build the packages: F:\gh\runtime2\src\installer\corehost\build.proj(99,5): error MSB3073: The command "F:\gh\runtime2\src\installer\corehost\build.cmd Checked x64 apphostver 5.0.0-dev

[2020-07-28 19:58] danmosemsft commented on #24593
@tannergooding is this required in order to ship 5.0? It seems milestone should be Future.

[2020-07-28 19:59] safern commented on #39379
cc: @lewing

[2020-07-28 20:01] ericstj commented on #39875
cc @safern who is looking at similar attributes in https://github.com/dotnet/runtime/issues/31428

I believe this is a duplicate / overlapping with https://github.com/dotnet/runtime/issues/39375

[2020-07-28 20:01] #39875 closed

[2020-07-28 20:01] tommcdon commented on #39909
Thank you for reporting this issue.  I believe this is referring to [CreateProcessForLaunch](https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/coreclr/src/dlls/dbgshim/dbgshim.h#L13).  The API does not currently check if the launched process matches in bitness.

[2020-07-28 20:03] alefranz commented on #40039
I don't seem to have a .settings file.

So what is the recommended workflow?
Should I simply set the path for the dotnet sdk, cd into the library folder and launch the sln in VS?

[2020-07-28 20:04] tannergooding commented on #24593
Yes, updated. Not sure who the relevant area owner is.

[2020-07-28 20:05] ericstj commented on #39375
@danmosemsft brought up the same things are missing from BackgroundWorker.

@safern has been looking at similar things missing in https://github.com/dotnet/runtime/issues/31428

Most of these attributes have already been pushed down low enough to avoid unnecessary dependencies.  So it's more a question of bloating runtime metadata for the designer time only scenario.

[2020-07-28 20:08] ericstj commented on #39666
Also cc @bartonjs since this is System.Security related.

[2020-07-28 20:11] ericstj commented on #39366
Thanks for the report.  I'm going to combine this with https://github.com/dotnet/runtime/issues/39375

[2020-07-28 20:11] #39366 closed

[2020-07-28 20:11] ViktorHofer commented on #40039
The runsettings file is created automatically during the test libraries build. As that is failing for you, you won't have it. We will look into the test build's failure. Probably a fallout from a recent change that I did.

[2020-07-28 20:12] karelz commented on #35126
@alnikola can you please take a look at this one as well?

[2020-07-28 20:14] MaximLipnin opened #40042 "[wasm] RuntimeError: memory access out of bounds"
From here: https://helix.dot.net/api/2019-06-17/jobs/319ba90b-af16-4898-852f-53242c8e9656/workitems/System.Threading.Tasks.Tests/console

[code]

[2020-07-28 20:17] luckerby opened #40043 "Code Incorrectly Optimized Away"
Consider the following simple code:
[code]

Building to `Debug` will get the application running as expected, but targeting `Release` will end up in a never-ending run.

Looking at the resulting assembly, it appears that some code is optimized away, leaving the equivalent of a `while(true) {}` infinite loop. Using Visual Studio, this can actually be seen in the Disassembly View:
![image](https://u

[2020-07-28 20:19] geoffkizer commented on #35126
I wonder if we could get away with simply changing the enumerator here to not parse and return invalid values.

It's a change in behavior, but I wonder how many people are actually relying on this.

That wouldn't solve all of the problems enumerated above, but it would be a big improvement, and it wouldn't require any new API.

[2020-07-28 20:21] scalablecory opened #40044 "Sockets factories for Connection Abstractions"
**Update:** Partially implemented, the remaining parts needs to be revisited. See https://github.com/dotnet/runtime/issues/40044#issuecomment-674193879 -- @antonfirsov

---
Implementation was merged for https://github.com/dotnet/runtime/issues/1793, sans the sockets factories. This tracks the remaining work to implement that issue.

The `SocketsConnectionFactory` will be trivial to implement: esse

[2020-07-28 20:21] jkotas commented on #40043
This is the expected behavior. `volatile` have to be used to make a lock-free multi-threaded code like this work correctly.

For reference, the documentation is at: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/volatile#example

[2020-07-28 20:21] #40043 closed

[2020-07-28 20:21] scalablecory commented on #1793
Closing this issue. Remaining work is tracked in https://github.com/dotnet/runtime/issues/40044

[2020-07-28 20:22] bartonjs commented on #15936
Not fully. We're currently limited (by various policies) to only using system-provided cryptography; so there's no way to do any of these algorithms on Windows (unless Windows has added some new algorithm support that we've missed), and we don't really like adding new things that don't work on all of our main console app OSes (Windows, macOS, various Linux distros)... though we do it from time to

[2020-07-28 20:23] ericstj commented on #33957
@SpiritBob it looks to me like it already has this?
https://github.com/dotnet/dotnet-api-docs/blob/469d167b84246c5e3ecad1a36e942c7f5c5a22a5/xml/System.ComponentModel.DataAnnotations/ValidationAttribute.xml#L77-L85

Feel free to submit a PR over there with your exact recommended changes.

[2020-07-28 20:23] #33957 closed

[2020-07-28 20:24] MattGal commented on #39371
All 10 "Seattle" Arm64 boxes are offline now; per @ilyas1974 there seems to be some overly helpful lab engineer putting them back online when he takes them off.  Since I offlined them from the Helix API, they shouldn't take work now even if they are on, heartbeating, and wasting electricity.

[2020-07-28 20:24] scalablecory commented on #23267
Closing this -- resolved by https://github.com/dotnet/runtime/issues/1793.

[2020-07-28 20:24] #23267 closed

[2020-07-28 20:24] scalablecory commented on #28721
Closing this -- resolved by https://github.com/dotnet/runtime/issues/1793.

[2020-07-28 20:24] #28721 closed

[2020-07-28 20:25] elinor-fung commented on #35692
Analyzer was added with dotnet/roslyn-analyzers#3879
Doc has also been added now: https://github.com/MicrosoftDocs/visualstudio-docs/commit/df17e88f5cd466580bb32ed9907a38cc3a1dbb67

[2020-07-28 20:25] #35692 closed

[2020-07-28 20:25] BruceForstall commented on #40034
Did the cmake version change on the build machines? What version is it? (btw, we should add `cmake --version` output in the logfiles). I can't repro this locally with `cmake version 3.15.5`

[2020-07-28 20:29] stephentoub commented on #1509
This issue was about MaxConnectionsPerServer.  That's the limit for 1.1. Wasn't it already decided we wouldn't use the same limit for HTTP/2?  If so, this can simply be closed.  Or is this now being used to track something other than MaxConnectionsPerServer?

[2020-07-28 20:31] NikolaMilosavljevic commented on #33593
Thank you @safern ! Closing the issue.

[2020-07-28 20:31] #33593 closed

[2020-07-28 20:31] eerhardt commented on #31331
This issue is still open because the fix hasn't been ported to 2.1. We ported it to 3.1 in January.

However, I haven't heard any reports of issues on 2.1. Should we close this bug until we feel there is a need to port the fix to 2.1? Or do we think we should move forward with a 2.1 port?

[2020-07-28 20:31] am11 commented on #40034
Normally on Windows machine, cmake version should be same as https://github.com/dotnet/runtime/blob/ad939422e1db604a0ff85af01d6cdf636c07fffc/global.json#L11 (this cmake.exe gets downloaded locally from blob storage during the execution of build.cmd)

[2020-07-28 20:37] ericstj commented on #39967
Confirmed this.  Here's a full repro:
[Program.zip](https://github.com/dotnet/runtime/files/4991047/Program.zip)

On .NETFramework it writes
[code]

On .NETCore it writes
[code]

This doesn't appear to be a regression as it's been present since past releases.

[2020-07-28 20:38] Clockwork-Muse commented on #40018
... Side note: I know your example is contrived, but my psychic debugging senses are telling me you're trying to serialize something to JSON.  If that's the case, you'd be better served going through `System.Text.Json`.

[2020-07-28 20:40] danmosemsft commented on #31331
At this point the bar to port to 2.1 is really high and we would not do it without evidence of signficant customer impact.

[2020-07-28 20:41] eerhardt commented on #31331
Sounds good to me. Closing for now. We can re-open once we see customer reports of this issue.

[2020-07-28 20:41] #31331 closed

[2020-07-28 20:49] kzu commented on #39866
My scenario is to add a tag only if it's not there already. In a cross-cutting piece of behavior in a micro-services app running in azure functions (think middleware).

[2020-07-28 20:49] geoffkizer commented on #1509
Yes. Closing.

[2020-07-28 20:49] #1509 closed

[2020-07-28 20:53] tarekgh commented on #39866
thanks @kzu.

in your scenario, are you trying to avoid adding 2 tags with the same key? or you are trying to not overriding the old value of the tag?

[2020-07-28 21:01] kzu commented on #39866
avoid adding 2 tags/baggages. For the latter, I can already get it and check for nulls. For tags, I foreach. I just made myself an extension method just like the one proposed here, so I have the same code for both actually (since I do some tags and some baggages, depending on whether I want them propagated or not).

[2020-07-28 21:05] wfurt commented on #39666
since there is already issue opened, what do you expect here @yuiichiiros?
It seems like duplicate.

[2020-07-28 21:06] CodeBlanch opened #40046 "System.Diagnostics.ActivitySource API Addition"
## Background and Motivation

I'm working on implementing the new System.Diagnostics.ActivitySource API using the OpenTelemetry-dotnet beta that was just released on top of it. I've run into a couple of pain points that I think an API tweak or two would help alleviate.

I'm consuming messages off a queue. These messages have W3C TraceParent and TraceState values stored as message headers. If I wan

[2020-07-28 21:32] tarekgh commented on #39866
for tags you can use `SetTag(...)` This will will not add extra tag. if the tag exists it will just update its value. if the tag not exist it'll get added.

[2020-07-28 21:41] ericstj commented on #20361
We don't plan any investments in System.Configuration.ConfigurationManager.  This was ported largely for legacy code to be able to move to .NETCore.   If there were some low-risk / high-value changes we would consider them, but this doesn't appear to be one of those.

`ConfigurationManager.OpenExeConfiguration(string content);`

This [already exists](https://docs.microsoft.com/en-us/dotnet/api/sys

[2020-07-28 21:41] #20361 closed

[2020-07-28 21:41] cijothomas commented on #40046
Similar ask: https://github.com/open-telemetry/opentelemetry-dotnet/issues/934

[2020-07-28 21:43] tarekgh commented on #40046
This kind of nice to have but not really blocking as the workaround is really easy and simple.

The other workaround it to use reflection to call https://github.com/dotnet/runtime/blob/5d1af65dc66d289d64e54814a4d5e91412b75fe4/src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs#L842.

This is pushed to next release we may look more if we need to expose it.

[2020-07-28 21:44] marek-safar commented on #40037
@SamMonoRT

[2020-07-28 21:53] #39757 closed

[2020-07-28 22:02] geoffkizer commented on #39941
I think we need to distinguish here between exceptions from the System.Net.Connections APIs, e.g. ConnectAsync/BindAsync/AcceptAsync, and the Stream APIs. For System.Net.Connections, we can do whatever we want. For the existing Stream APIs, we are more constrained.

[2020-07-28 22:08] Marusyk commented on #40016
I'll prepare a PR

[2020-07-28 22:08] brianrob commented on #2624
@NikolaMilosavljevic I think its safe to close this now.  We have a tool for downloading symbols now.  Thanks.

[2020-07-28 22:08] #2624 closed

[2020-07-28 22:08] EatonZ commented on #39488
Does anyone have an answer to the min .NET version question? I want to add a check to my software.

[2020-07-28 22:17] Gnbrkm41 opened #40049 "Consider making Visual Studio's CMake integration work with CMake projects within the repo"
When I open the `src/coreclr` folder with VS, I get the following errors during CMake cache generation (with the CMake related components instslled):
[code]
I looked briefly into it, and it looks like some variables aren't defined. Manually defining those variables in `CMakeSettings.json` file does somewhat fix this issue by letting it successfully generate the cache:
[code]
(Without the last vari

[2020-07-28 22:17] geoffkizer commented on #39941
For System.Net.Connections APIs -- that is, ConnectAsync, ListenAsync, AcceptAsync -- here's what I propose:

[code]

I've intentionally simplified the enum here to try to make it more generic and less Socket-specific. Feedback welcome.

The inner exception here would typically be a SocketException when using sockets underneath, and something else for a custom connection factory.

[2020-07-28 22:18] Gnbrkm41 commented on #40049
https://github.com/dotnet/runtime/issues/272 looks like part of this bigger issue.

[2020-07-28 22:23] terrajobst commented on #31198
Excellent. Let's approve this over email.

[2020-07-28 22:27] stephentoub commented on #39941
Why?

[2020-07-28 22:30] geoffkizer commented on #39941
Well, we don't strictly need to, but it seems useful to me. We're adding a bunch of new API in System.Net.Connections, it has a bunch of error cases that it wants to define, so we should have an Exception (or Exceptions) that live in System.Net.Connections and represent those error cases.

[2020-07-28 22:31] danmosemsft commented on #39488
This suggests 4.7.0...although I don't remember context
https://github.com/dotnet/corefx/pull/26137#discussion_r159572493

[2020-07-28 22:33] EatonZ commented on #39488
@danmosemsft I did see your comment there, which unfortunately went unanswered. Is there a way to check that is indeed the min version?

[2020-07-28 22:35] stephentoub commented on #39941
What errors would it define that we wouldn't also want in a NetworkError enum? I'm not seeing the benefit of the split. Can you elaborate?

[2020-07-28 22:37] CodeBlanch commented on #40046
You and I have very different views on what is easy and simple 🤣 The goal is to call the ctor on `ActivityLink`. Not something out of the norm or unexpected, right? Calling Activity.TryParseW3CTraceContext and passing the result would be easy and simple. The workaround means first understanding how Id/TraceParent is composed. Then going through the source to figure out the internal logic. Then sti

[2020-07-28 22:54] GrabYourPitchforks commented on #33598
This isn't the typical pattern used by the .NET team.

Here's a better analogy: we don't often make thread safety guarantees with many of our types. For example, if you have two threads operating on a `List<T>` concurrently, they're going to cause data corruption since we don't make any thread safety guarantees on that type. But the important distinction is that they corrupt data _only within that

[2020-07-28 22:55] jkoritzinsky commented on #3756
This is implemented in the templated platform manifest.

[2020-07-28 22:56] geoffkizer commented on #39941
The Stream APIs (Read/Write) would produce ConnectionReset and ConnectionAborted. The Connection APIs (Connect/Bind/Accept) would produce everything else. No overlap, two different exception types, two different enums.

We can of course mash them all into one exception/enum. It just seems to me it's clearer to have two, since they are used for different purposes.

[2020-07-28 22:57] #39954 closed

[2020-07-28 23:10] #39986 closed

[2020-07-28 23:12] ericstj commented on #39371
Just triaging.  :)

Thanks for the update, if possible it'd be good to get a new python on them and have them online.  Aren't our ARM64 devices a scarce resource?

Closing this for now as it is understood and mitigated.

[2020-07-28 23:12] #39371 closed

[2020-07-28 23:20] ericstj commented on #31805
This validation helps ensure we're shipping a complete shared framework.  It guards against folks taking new dependencies without putting those in the shared framework.  It's important and something we should bring back.

[2020-07-28 23:40] tarekgh commented on #39991
I submitted a PR for this issue.

[2020-07-28 23:43] GrabYourPitchforks commented on #31035
Moving to Future since no outstanding API proposal for 5.0 requires this.

[2020-07-28 23:43] #24416 closed

[2020-07-28 23:58] tannergooding commented on #40049
CC. @ViktorHofer, @safern

[2020-07-29 00:00] AndyAyersMS commented on #40009
Seems like incorrect IL to me -- for this source
[code]
CSC produces this IL:
[code]
Now, given that IL, the jit should arguably be able to optimize away the newobj, but this is blocked because the jit doesn't propagate non-nullness for local 0 fast enough (it could/should happen during local AP in morph), and so the jit thinks the stfld might cause an exception, and that keeps the newobj live lon

[2020-07-29 00:04] AndyAyersMS commented on #40021
@john-h-k thanks. Is this representative of something you've run into somewhere, or just something you happened to notice?

Marking this as future as we're battening down the hatches for 5.0.

[2020-07-29 00:07] arunjvs commented on #38730
I agree with point 1 and point 3, but point 2 seems a bit weak, unless that empty directory is from the environmental variable (which is point 1).

How is an empty directory really different from a single junk file or a single `BEGIN TRUSTED CERTIFICATE` file present in the directory for the purpose of this decision? And what if someone just keeps this directory empty (perhaps he considers them re

[2020-07-29 00:08] AndyAyersMS commented on #39023
@dellamonica thanks for reporting this, and for your help and patience in tracking this down.

[2020-07-29 00:09] safern commented on #40049
cc: @jashook @jkoritzinsky

[2020-07-29 00:27] tarekgh commented on #40046
fair enough. I said simple because the work around is a couple of lines I am pasing below.

We are in the stage of considering the blocking issues or the issues that very difficult to achieve. I don't think this one is either of them.

Here is the workaround I am mentioning which really simple and also creates a wrapper method to create ActivityContext from the Id.

[code]

Your calling code shoul

[2020-07-29 00:34] arunjvs commented on #38730
Also, I just found this clear statement from [this SUSE KB](https://www.suse.com/support/kb/doc/?id=000019003). Quoting:

```The last ca certificate in chain needs to be in /etc/ssl/certs-> /var/lib/ca-certificates/pem/ symlinked by his hash or base64 encoded in bundle file /var/lib/openssl/ca-certificates which is deprecated.```

Oddly the path to the OpenSSL bundle file/directory is wrong there.

[2020-07-29 00:46] ericstj commented on #39488
Seems to me like we could just fix this to setup the PNSE to give more info?
https://github.com/dotnet/runtime/blob/1d08d98a4140b5ee56df744c284decefd1efffaf/src/libraries/System.Management/src/System/Management/ManagementScope.cs#L313-L318

Like, persist the loadlibrary failure message and error code into the PNSE.

[2020-07-29 01:00] stephentoub commented on #40009
Why couldn't Roslyn similarly avoid emitting the dead code?

[2020-07-29 01:01] davidwrighton commented on #32733
This is caused by pathological behavior in `Compiler::optValnumCSE_Index`. In particular, the `optCSEhash` can grow an unbounded amount if the function has numerous trees which are put into the `optCSEhash` as possible CSE candidates, but fewer than `MAX_CSE_CNT` are found, then the compiler will spend excessive amounts of time looking up entries in the `optCSEhash`. I've prototyped a change which

[2020-07-29 01:05] fsinisi90 commented on #39945
That was fast! Thank you. It seems to work, now I'm getting `System.EntryPointNotFoundException` (even after checking the symbols with dumpbin) but I guess that's a completely different story...

[2020-07-29 01:06] BruceForstall commented on #37425
@tannergooding Was this fixed by https://github.com/dotnet/runtime/pull/37882? Or does the issue need to remain open?

[2020-07-29 01:09] CodeBlanch commented on #40046
My closing statements I promise 😄 Thanks for indulging me.

I think it will block the adoption. Once this ActivitySource API drops our mission in OTel will be to go out and get library authors to use it to instrument their code. That job is going to be a lot harder without a really usable API. Imagine how well it is going to go when we tell the Confluent Kafka client team they need to add Activity

[2020-07-29 01:24] tarekgh commented on #40046
Your feedback is always valuable. we are discussing here the importance of this API. I am seeing the API is useful and helpful, only I am trying to know if it is urgent for this release or can wait. Anyway, please keep replying explaining your opinion. We'll discuss this issue and get back to you.

[2020-07-29 01:43] alanwest commented on #40046
Just to chiming in with my two-cents here...

I'm with @CodeBlanch on the importance of this API given that the concept of links between spans has become an integral part of the OpenTelemetry specification. At this point I can't say I'm sure which vendors have backend support for links yet, though it will naturally be on their roadmaps. I work for New Relic, and at the moment New Relic does not ye

[2020-07-29 01:46] CodeBlanch commented on #40046
I think where it will be really important is messaging clients. Adding a "follows-from" type of link to the original TraceParent. That's what I'm working on right now where I ran into the gap. The [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/overview.md#links-between-spans) also talks about scatter/gather pattern and batching cases.

[2020-07-29 02:01] BruceForstall commented on #858
Here is the current state of the open area-CodeGen-coreclr JIT issues:

Row Labels | Count   of Category
-- | --
cq | 541
correctness | 120
implementation | 105
throughput | 35
testing | 31
design | 20
proposal | 18
documentation | 10
eng-sys | 9
reach | 4
question | 2
security | 1
Grand Total | 896

Row Labels | Count   of Theme
-- | --
basic-cq | 99
optimization | 96
intrinsics | 55
vector-codeg

[2020-07-29 02:13] tarekgh opened #40057 "CI failure in System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandlerTest.SendAsync_Expect100Continue_RequestBodyFails_ThrowsContentException"
helix.dot.net/api/2019-06-17/jobs/6b514377-c659-427c-892c-d5b30caa1fe9/workitems/System.Net.Http.WinHttpHandler.Functional.Tests/console

[2020-07-29 02:13] tarekgh commented on #40057
https://github.com/dotnet/runtime/pull/40052

[2020-07-29 02:15] #39991 closed

[2020-07-29 02:23] wfurt commented on #40057
cc: @ManickaP

[code]

[2020-07-29 02:37] botinko commented on #35851
I have made a very simple test that shows that the problem is quite serious in the following scenario. For any code that uses expressions with closure C# compiler generates a call to FieldInfo.GetFieldFromHandle on each field of the closure, which internally calls `System.RuntimeType+RuntimeTypeCache+MemberInfoCache``1.Insert`, which in turn has a lock.

[code]

Turns into
[code]
Problematic calls

[2020-07-29 02:49] botinko commented on #35851
We actually caught a lock convoy on our production servers due to this issue. Despite the fact that the bottleneck is usually the query to the database, we still ran into this.
The solutions so far are as follows:
1. Generate expressions manually
2. Use the Compiled Query Technique
https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/ef/language-reference/compiled-queries-linq-to-entities

[2020-07-29 02:54] maryamariyan commented on #39867
closing, already fixed through https://github.com/dotnet/runtime/pull/39860

[2020-07-29 02:54] #39867 closed

[2020-07-29 02:59] maryamariyan commented on #35060
@JakenVeina I see you originally had a PR prepared for this.
Were you thinking of reviving your PR with the final approved APIs?

[2020-07-29 03:06] #31170 closed

[2020-07-29 03:19] xiangzhai opened #40058 "[HeapVerify=2] Assert failure "Pointer updated without using write barrier""
Hi,

### Description

Testcase: [GC/API/NoGCRegion/NoGC/NoGC.exe](https://github.com/dotnet/runtime/tree/master/src/tests/GC/API/NoGCRegion)

[code]

### Configuration

* [coreclr-mips64-dev](https://github.com/gsvm/coreclr), [coreclr v3.1.6](https://github.com/dotnet/coreclr/tree/v3.1.6) and [runtime master](https://github.com/dotnet/runtime/commit/e671f57b1b8a6efc8febc023a59fdb0a76b5d286) are ab

[2020-07-29 03:21] v-haren commented on #39056
failed again in job: [runtime-libraries outerloop 20200728.3 ](https://dev.azure.com/dnceng/public/_build/results?buildId=748003&view=ms.vss-test-web.build-test-results-tab&runId=23189678&resultId=103678&paneView=debug)

failed test: System.Net.Http.Functional.Tests.HttpClientTest.Send_TimeoutRequestContent_Throws

Error message
[code]

[2020-07-29 03:28] v-haren commented on #31246
failed again in job: [runtime-libraries outerloop 20200728.3 ](https://dev.azure.com/dnceng/public/_build/results?buildId=748003&view=ms.vss-test-web.build-test-results-tab&runId=23189678&resultId=103583&paneView=debug)

failed test: System.Security.Cryptography.X509Certificates.Tests.RevocationTests.DynamicRevocationTests.RevokeEndEntityWithExpiredRevocation(pkiOptions: IssuerRevocationViaCrl | O

[2020-07-29 03:39] maryamariyan commented on #35922
@WernerMairl thank you for the prototype. A couple notes

---

- I see you are updating SimpleConsoleFormatter in the prototype. Also note, we have two other built-in formatters: systemd and json, (found under SystemdConsoleFormatter and JsonConsoleFormatter). (ConsoleFormatters are new concepts introduced since .NET5 preview8, you can follow instructions [here](https://github.com/dotnet/runtime/i

[2020-07-29 03:53] danmosemsft commented on #39488
@ericstj I think the dll was present but necessary exports were added between 4.5.0 and 4.7.0
https://github.com/dotnet/runtime/issues/24536#issuecomment-354765150

If you know your way around the.NET Framework release shares we can dumpbin and see when they appeared. Or if there's a way to download offline installers then @EatonZ can crack them open and do the same thing.
TBH @EatonZ I would just

[2020-07-29 04:01] briansull commented on #34732
Fixed with #39096

[2020-07-29 04:01] #34732 closed

[2020-07-29 04:15] MythreyaK commented on #15936
Thanks for the info!

[2020-07-29 04:51] jkotas commented on #35315
Fixed by #35308

[2020-07-29 04:51] #35315 closed

[2020-07-29 05:18] mangod9 commented on #40058
Hey @xiangzhai, could you please provide additional details on the issue? Does this only repro on mips64?

[2020-07-29 05:30] asklar commented on #35018
this is because the C++ project lacks the .net native compiler nuget package reference. See [this page](https://github.com/asklar/winrtcomponent) for details and [Raymond's blog post on it](https://devblogs.microsoft.com/oldnewthing/20200615-00/?p=103868) too.

@tommcdon I think there was some effort to make this easier/automatic in VS, is that right? Is there a ticket

[2020-07-29 05:36] mangod9 commented on #38626
Moving to .net 6, please move to 5 if this is blocking.

[2020-07-29 05:56] #39955 closed

[2020-07-29 05:57] v-haren opened #40061 "Test failure: System.Memory.Tests.ReadOnlySequenceTestsChar+SplitInThreeSegments.ReadOnlyBufferDoesNotAllowSlicingOutOfRange(fail: Action`1 { Method = Void <get_OutOfRangeSliceCases>b__27_22(System.Buffers.ReadOnlySequence`1[System.Char]), Target = <>c { } })"
failed in job: [runtime-coreclr libraries-jitstress 20200728.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=747777&view=ms.vss-test-web.build-test-results-tab&runId=23182456&resultId=160861&paneView=debug)

Error message
[code]

[2020-07-29 05:57] #38803 closed

[2020-07-29 06:21] xiangzhai commented on #40058
Hi @mangod9

Nope!  It is also able to repro for ARM64 [coreclr v3.1.6](https://github.com/dotnet/coreclr/tree/v3.1.6) and [runtime master](https://github.com/dotnet/runtime/commit/e671f57b1b8a6efc8febc023a59fdb0a76b5d286).

Hardware watchpoint for ARM64 at `ptr` `0x7f10010040`:

[code]

But there is already Store-release register `STLR` and Data Memory Barrier `DMB` for ARM64 [JIT_WriteBarrier](h

[2020-07-29 06:44] mangod9 commented on #40058
Ok thanks for the info. Will try to repro it.

[2020-07-29 06:46] mangod9 commented on #40058
@AntonLapounov could you please try reproing it on linux arm64. I have a win arm64 machine, but that is failing with another issue with HeapVerify.

[2020-07-29 06:56] mangod9 commented on #40058
Actually never mind it does repro on win-arm64.

[2020-07-29 07:21] xiangzhai commented on #40058
Hi @mangod9

You are welcome!

During debugging [GCStress](https://github.com/dotnet/runtime/issues?q=label%3AGCStress) issues, I found that disabled `FEATURE_USE_SOFTWARE_WRITE_WATCH_FOR_GC_HEAP` or `FEATURE_MANUALLY_MANAGED_CARD_BUNDLES` feature(s) for ARM64 or MIPS64:

[code]

Testcase: [GC/API/GC/GetAllocatedBytesForCurrentThread/GetAllocatedBytesForCurrentThread.sh](https://github.com/dotnet/

[2020-07-29 08:00] AndyPook commented on #40044
HI,

The current bits (ie under `Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.Internal` ) all seem to be very focused on supporting "servers".
I've been working with David Fowlers Project Bedrock, but only to create clients for existing services (ie kafka, nats). These kind of project always need to copy SocketConnection from there (see also Orleans)  because they are `internal`.

This is

[2020-07-29 08:06] Nemirtingas opened #40064 "Different System.Drawing.Common.dll on different OSes"
### Description

The runtime library System.Drawing.Common.dll is different on Linux and Windows for example if you build an app that uses it with the .NET Core docker image.

### Configuration

I've build a cross-platform GUI project with the Avalonia Framework and triied to deploy it on Windows/Linux/MacOS with the same code and unfortunatly, using System.Drawing.Image make it impossible to do s

[2020-07-29 08:06] scalablecory commented on #40044
@AndyPook these are public APIs. `SocketsConnectionFactory` is for client side and `SocketsListenerFactory` is for server side.

[2020-07-29 08:09] kjpou1 opened #40065 "[browser][io] Emscripten does not support file locking."
Advisory lock on an open file is provided by calling `flock` on the filestream.
https://github.com/dotnet/runtime/blob/master/src/libraries/Native/Unix/System.Native/pal_io.c#L641-L646

This does not work correctly in the filesystem interface running under wasm.

[2020-07-29 08:17] ManickaP commented on #39056
I just merged it now (I was trigger happy with the labels here), so the failure is from before.

[2020-07-29 08:17] Frassle commented on #935
I'd like to add another pro to @Avid29 suggestion of using the approach of nested arrays. It would allow deque to hold more elements than a plain .NET array allows. I suggested it as one solution to https://github.com/dotnet/runtime/issues/12221.

[2020-07-29 08:26] karelz commented on #40057
@ManickaP do you know more about this failure? How often does it happen? Is it a recent regression?

[2020-07-29 08:27] ManickaP commented on #40057
It's fresh from my recent merge, probably test issue, looking at it right now.

[2020-07-29 08:28] IshmaZX82 opened #40066 "Bug with MeasureCharacterRanges on Linux, if text contains LF/CR"
### Description

Main problem: there is a difference in how method MeasureCharacterRanges work on Windows and on Linux.
On Windows this code works correctly: each char -> rectangle, CR/LF -> empty rectangle.
On Linux: CR symbols disappear, the first symbols of each line after LF also disappear.

Code:
[code]

Results on Windows:

![on win](https://user-images.githubusercontent.com/52139455/8877560

[2020-07-29 08:41] IshmaZX82 commented on #26460
The text measuring also not working with these fonts .....

[2020-07-29 09:10] #38807 closed

[2020-07-29 09:23] scalablecory commented on #39941
We can't depend on this. This API is designed to be composed -- to allow `ConnectAsync()` to do more than a simple `Socket.Connect()` -- so we must assume some I/O like TLS/SOCKS handshake, CONNECT request, etc. will happen during the Connect.

[2020-07-29 09:26] NicoleWang001 commented on #3756
With SDK 3.1.107 and 3.1.401, ref files (files on .\packs\Microsoft.AspNetCore.App.Ref\3.1.3\ref\netcoreapp3.1\) on .exe installer is more recent than .zip installer.
![image](https://user-images.githubusercontent.com/1578239/88782816-9ad81580-d1c0-11ea-9991-3d1039096a5c.png)

[2020-07-29 09:33] geoffkizer commented on #39941
Sure, but it doesn't seem all that useful to be able to report ConnectionReset or ConnectionAborted during ConnectAsync. For one thing, ConnectionAborted is basically meaningless here; what would it mean, that the client logic intentionally sabotaged the connection attempt? ConnectionReset might be slightly useful, but it only really makes sense when there's a layered connect operation, as with a

[2020-07-29 09:38] geoffkizer commented on #39941
I think we're coming at this with different philosophies. I think it's an anti-goal to allow arbitrary error conditions to be exposed from arbitrary operations. Rather, I'd prefer to say: here are a limited number of failure modes you may be interested in -- like abort/reset from Stream ops, and a handful of failure modes (address in use, host not found, connection refused, etc) from Connection op

[2020-07-29 09:47] geoffkizer commented on #39941
Just to expand on my point, relative to this:

Yes, API is designed to be entirely general. Literally anything can happen during ConnectAsync. Pigeons could be sent flying.

The fact that there are an endless number of failure modes from the endless number of underlying transports does not mean there's any value in trying to capture all of these failure modes in a single enum.

In other words, hav

[2020-07-29 09:47] #39907 closed

[2020-07-29 10:03] hoyosjs commented on #37983
The dump is in a state I can't see too much in it:
- All threads are in preemptive mode and this is a server GC in progress. The runtime has 307 active threads and 3 dead ones, all of them trying to synchronize on some type of primitive or blocked in IO.
- There's a lot of locking happening in `plasticd` but very few actually get to the wait, most are waiting for the GC to happen. It's almost as i

[2020-07-29 10:07] JamesNK commented on #39941
Will this exception only be thrown out of System.Net.Connections APIs, or will it also be thrown from HttpClient.SendAsync? (somewhere in the nested inner exceptions)

I think the gRPC client *might* be interested in this.

There is the concept of connection health status in gRPC and one of the states is `TRANSIENT_FAILURE`. Exception detail that helps identify the difference between "this failed

[2020-07-29 10:10] Ninds commented on #39022
@Drawaes just explained the magic with reference to ```AsyncLocal<T>```

[2020-07-29 10:12] #39022 closed

[2020-07-29 10:23] scalablecory commented on #39941
This was a key design goal of the abstraction, we can't be at all hand-wavey about it. Layered connect operations will happen.

(I think your further replies have demonstrated you aren't being hand-wavey, I just want to make sure the expectation is set for all participating)

The people we are targeting in this issue are those that do care about specific network events. Anyone else will probably j

[2020-07-29 10:26] scalablecory commented on #39941
I think it's a given that it'll be somewhere in the nested exceptions, but I'd hesitate to guarantee the structure of inner exceptions.

Though, we did do this recently for timeout exceptions.

[2020-07-29 10:27] geoffkizer commented on #39941
Sure, that's what inner exceptions are for. The inner exception can tell you all the details. But I'm struggling to see how a general purpose consumer of this API would want to make some sort of programmatic decision about this, and yet would not want to make a programmatic decision about the dead pigeon.

[2020-07-29 10:31] yunfandev commented on #31743
I checked the Microsoft.Data.SqlClient version referenced by our program is 1.0.19269.1

I found this pull request: 😢😢😢
https://github.com/dotnet/SqlClient/pull/425

I will try to upgrade the package version

[2020-07-29 10:36] AndyPook commented on #40044
awesome, thanks
really looking forward to this

[2020-07-29 10:37] am11 commented on #38184
This was fixed by #39143. (github keyword parser apparently fails when there is no space between `Fixes:` and issue number)

[2020-07-29 10:40] ManickaP commented on #39056
The failure seems to happen predominantly on Windows machine (single alpine occurrence).
The underlying error: `An established connection was aborted by the software in your host machine.` corresponds to winsock error: `WSAECONNABORTED` which points to server closing the connection.
My working theory is that the server code finishes sooner (not actually expecting the content: `ReadRequestBodyAsync

[2020-07-29 10:41] #40057 closed

[2020-07-29 11:06] CoffeeFlux commented on #35219
This is actually nastier than I thought. You can have the PInvoke fail to resolve, set the callback, and _then_ have it resolve correctly... Updated sample:

[code]

[2020-07-29 11:22] john-h-k commented on #40021
no problem :smile:. Ran into it in a marshalling scenario where I have to relatively frequently offset some pointers based off of a field offset

[2020-07-29 11:29] scalablecory commented on #39941
@geoffkizer will you add to your proposal the 2nd exception type you had in mind for communicating a reset?

[2020-07-29 11:33] gfoidl commented on #40064
Non-windows versions use Mono's [libgdiplus](https://github.com/mono/libgdiplus).
So libgdiplus is a pre-requisite on the linux-target, then at runtime your project should use the correct code-paths to work.

Please provide some steps on how you tried this, so this can be reproduced.

[2020-07-29 11:38] Nemirtingas commented on #40064
Hi,
libgdiplus is already installed on my linux vm, I'll try to provide you an easy reproducable project.

[2020-07-29 11:48] berndku opened #40072 "Thread starvation on high load with System.Text.Json"
### Description

After changing the serializer from Newtonsoft to System.Text.Json in a streaming application, where a high number of objects are serialized concurrently, we observe a thread starvation issue.

After a few hours under heavy load the number of native threads in the process increase slowly until ~500, which results in severe throughput degradation of the application. As a consequence

[2020-07-29 11:59] damageboy commented on #39600
Jumping on this thread just now.

@MichalStrehovsky

The throttling issues are definitely real, but given we start with a scalar version that runs for ~7ms and speeds it up by a good factor of 10x, the extra 650-680usec of throttling incurred AFTER the sorting completes (the downclock is anywhere between 20-30% depending on the amount of cores doing AVX512) does not seem like a bad trade-off to me

[2020-07-29 12:07] apayero opened #40080 "Error using SHA256Managed when create the instance. this work fine in .net31, project server netcoreapp3.1 y shared netstandard2.1"
[code]

Note: Edited for clarity

[2020-07-29 12:11] alnikola opened #40073 "Starting any URI test leads to a stack overflow in System.Private.CoreLib"
### Description
Any attempt to run System.Private.Uri/FunctionalTests leads to a stack overflow in CoreLib and finally fails with StackOverflowException. The exception gets thrown somewhere in the application startup logic **before** actual test code starts executing.

### Configuration
It was reproduced using the latest master on 3 different local machines running Windows 10 (confirmed on ver. 19

[2020-07-29 12:17] GeorgeAlexandria commented on #32171
Presumably we have the same issue (AccessViolation) with `LoaderAllocator` on the `coreclr!MethodTable::GetLoaderAllocatorObjectForGC`, when app targets `.net472`, and would be helpful if we can check fix on our app under .netframework. So was this fix applied for .netframework or just only for .netcore, @janvorli?

[2020-07-29 12:18] marek-safar opened #40074 "Developers targeting browser-wasm can use Web Crypto APIs"
We want to avoid shipping OpenSSL for Browser as that’s not something that aligns well with web nature of WebAssembly as well as it has noticeable impacts on the size of the final app. This would also save us from having to deal with zero-day vulnerabilities as well as support for crypto algorithms which are only secure if they use special CPU instructions (RNG and AES for example).

Using the pla

[2020-07-29 12:23] PeterSolMS commented on #39600
I'm testing an update with limited inlining for the bitonic sorters (saving about 180 kB code size), and using your dynamic packing/unpacking code. Assuming things go well, that'll be the next step. After this, we can certainly do more.

[2020-07-29 12:28] scalablecory opened #40075 "Remove SocketsHttpConnectionFactory"
`SocketsHttpConnectionFactory` was proposed as part of https://github.com/dotnet/runtime/issues/1793.

Its original intent was to provide a number of callbacks for users to customize things without understanding all of the `ConnectionFactory` stuff. However, API review removed all of these callbacks, making this class largely redundant with `SocketsConnectionFactory`.

The only remaining features

[2020-07-29 12:29] jkotas commented on #32171
This bug never existed in .NET Framework. It was introduced in CoreCLR by https://github.com/dotnet/coreclr/pull/21737.

[2020-07-29 12:34] IshmaZX82 commented on #40066
I make some investigations and have an idea that the problem might be in libgdiplus

https://github.com/mono/libgdiplus/issues/663

[2020-07-29 12:35] marek-safar opened #40076 ".NET5 Browser Cryptography Support"
A list of types which would be useful to get working with browser-wasm before we land #40074

- IncrementalHash
- ~~MD5~~
- SHA1
- SHA256
- SHA384
- SHA512

[2020-07-29 12:37] marek-safar commented on #39756
I'm closing this as the original issue was fixed in Preview 8. We are now tracking the .NET5 crypto regressions in #40076.

[2020-07-29 12:37] #39756 closed

[2020-07-29 12:44] SamMonoRT commented on #40042
cc @BrzVlad @vargaz

[2020-07-29 12:53] george-polevoy commented on #40018
You are right. Overloads for IReadOnlyList<T> could be provided, and in fact those optimisations are already employed in AppendJoin, so it is possible to use the same. If this API is accepted, there will be an overload with the same performance characteristics.

Still this abstraction is important, because string join is an algorithm which needs to be implemented by the client.

BTW, it is possibl

[2020-07-29 12:57] vcsjones commented on #40076
This might be interesting, since the webcrypto hashing functions [are one shot](https://github.com/w3c/webcrypto/issues/73), that is they do not support incremental hashing.

I suppose `IncrementalHash` could be supported by allowing one call to `AppendData`, and throw PNSE if multiple calls are made, to at least support using `IncrementalHash` non-incrementally..

[2020-07-29 12:59] Der-Kraken opened #40077 "Wrong hyperlink on nuget.org"
Hi,

the hyperlink "Source repository" on [nuget.org/packages/Microsoft.Extensions.Logging.Abstractions](https://www.nuget.org/packages/Microsoft.Extensions.Logging.Abstractions/) is directing to [github.com/dotnet/extensions](https://github.com/dotnet/extensions) but should direct to [github.com/dotnet/runtime](https://github.com/dotnet/runtime).

[2020-07-29 13:01] jkotas opened #40078 "Math/MathF.FusedMultiplyAdd/FusedMultiplyAdd not treated as intrinsics on ARM64"
Missing ARM64 handling at

https://github.com/dotnet/runtime/blob/4f38b755fd8953830b58b4bc42943c57feeec419/src/coreclr/src/jit/importer.cpp#L4198

[2020-07-29 13:04] akoeplinger commented on #40076
Alternatively we could buffer the data and only call into the browser when the hash value is retrieved.

[2020-07-29 13:05] stephentoub commented on #40072
Your repro is creating a new options instance each time. Does the problem go away if you instead cache and reuse a single instance of it?

[2020-07-29 13:18] john-h-k commented on #40073
@JakenVeina I believe this is the same recurring exception you were having with your stack overflow with GLFW?

[2020-07-29 13:24] GeorgeAlexandria commented on #32171
@jkotas, as I see `GCHandle.InternalFree`, which was a reason of issue, existed before was applied MR, that you mentioned: https://github.com/dotnet/coreclr/pull/21737/files#diff-6f4491bf559af3ad09c5a66fb49ae47cL2391. If you mean some other peace of code, that proves that bug never existed in .netframework or something else, please let me know, but currently I am still not sure for that.

[2020-07-29 13:31] jkotas commented on #32171
`!IsCollectible` check before `GCHandle.InternalFree` prevented this bug from happening in .NET Framework and earlier versions of .NET Core.

[2020-07-29 13:37] george-polevoy commented on #40018
@vcsjones, just implemented an overload taking IReadOnlyList<T>.

[code]

[code]

[2020-07-29 13:48] marek-safar commented on #39489
The method `CreateDefault()` is quite unfortunate as it says nothing on what the implementation does. It's also not clear what the behaviour should be when there are more than 1 handlers available. For example, on Android, we support SocketHttpHandler and AndroidHttpHandler which one is the default?

[2020-07-29 13:48] Nemirtingas commented on #40064
Here's a step-by-step that can reproduce the error, on linux, you also need libc6-dev for System.Drawing to work.

Test project: [test_image.zip](https://github.com/dotnet/runtime/files/4995204/test_image.zip)

[code]

[2020-07-29 13:50] george-polevoy commented on #40018
Your psychic debugging senses deceived you, the original task was building an SQL query with many comma-separated parameters. But please don't tell me I should be using EF. It was a real-world production development, and this API saved tons of allocations and lead to major performance improvement of our in-house developed database utility.

The fact is there are already such APIs, namely string.Jo

[2020-07-29 13:50] Misiu commented on #29643
`ServiceInstaller` would be very useful.
When setting the `CanHandlePreshutdownEvent` [will be added](https://github.com/dotnet/runtime/issues/30386) to `ServiceBase` then we need a way to install the service and set Timeout.

[2020-07-29 13:55] Gnbrkm41 commented on #40049
I looked into this a bit more, and it looks like the `out/build` issue is just the matter of setting `buildRoot` as something else in the CMakeSettings.json.

Currently what I have is this:
src/coreclr/CMakeSettings.json
[code]

Again, I'm not really 100% sure about what I'm doing, so I'm not confident about certain things. One is whether we could / should use Ninja for the generator instead of `V

[2020-07-29 14:02] BrzVlad commented on #40042
From the looks of the stacktrace, this might be a GC related failure. I would like to see this happen again in a more recent build, after zoltan's fix.

[2020-07-29 14:05] jkotas commented on #40073
Step 5. Completely build System.Private.Uri solution rebuilds CoreLib with a broken version.

Before step 5 (good CoreLib):

[code]

After Step 5 (broken CoreLib, notice that the size is different):

[code]

[2020-07-29 14:07] tafo opened #40081 "Optimize Math.Pow(x,y) for basic ranges"
Hi,

I implemented a power function for basic ranges to have fun.

(0..9)^(0...9) &
(0..99)^(0...9) &
(0..999)^(0...9) &
(0..9999)^(0...9)

[code]

Then compared its performance to the performance of Math.Pow(x,y) to check ...

But!

| Method | BaseRange | PowerRange |           Mean |        Error |       StdDev |
|------- |---------- |----------- |---------------:|-------------:|-------------:|

[2020-07-29 14:14] ViktorHofer commented on #40073
@jkotas @ericstj any idea what a "broken corelib" means? Figuring out how rebuilding (via a P2P) CoreLib could result in a different output. Maybe default properties which are set from the coreclr's root build aren't set?

[2020-07-29 14:28] prasadhkumar opened #40082 "System.Text.JSON cant de serialize Unix Epoch WITH a TimeZone e.g /Date(1590863400000+0530)/"
In my .net core API i am using Httpclient Response in Streams

 var options = new JsonSerializerOptions();
                    //options.PropertyNameCaseInsensitive = true;
                    options.Converters.Add(new DateTimeConverter());

                    using (var contentStream = await webResponse.Content.ReadAsStreamAsync().ConfigureAwait(false))
                    {

[2020-07-29 14:29] jkotas commented on #40073
Yes, the broken CoreLib is built with wrong defines. For example, `TARGET_64BIT` does not seem to be defined for it.

[2020-07-29 14:31] kg commented on #18912
While doing some testing/verification for 5.0 I independently ran into a problem mentioned above, where ```CompareOptions.IgnoreWidth | CompareOptions.IgnoreCase``` doesn't work as expected but ```CompareOptions.IgnoreWidth``` does.

We should consider documenting this limitation since it's apparently been around for quite a while and is surprising.

[2020-07-29 14:35] jkotas commented on #40064
You need to publish the app as platform neutral by running ``dotnet publish -c Release` to get a deployment that works everywhere. The app published this way will contain multiple copies of `System.Drawing.Common.dll` under `runtimes` directory.

[2020-07-29 14:39] Nemirtingas commented on #40064
Yes but then I miss the test_image.exe and test_image for macos:
[code]

Is there a way to generate a neutral platform but with all start executables ?

[2020-07-29 14:43] peter-manton commented on #33748
For anyone else who comes across this problem and doesn't have the luxury of using an alternative library libgdiplus can be installed through EPEL on Amazon Linux with:

sudo amazon-linux-extras install epel
sudo yum install libgdiplus

I've confirmed this works with Elastic Beanstalk

[2020-07-29 14:44] jkotas commented on #40064
I do not think we have a single command to do that. You can try copying over the launchers from the platform-specific publish into the platform neutral one.

[2020-07-29 14:46] Nemirtingas commented on #40064
Ok, I'll try and report back.

[2020-07-29 14:56] Nemirtingas commented on #40064
Seems to work, I'll use this workaround.
Do you (.NET Team) intend to work on a way to build the startup exes alongside the project ? If so should I open a new issue somewhere else ?
If not then I'll close this.

[2020-07-29 14:57] daxian-dbw commented on #36944
@skippernl I'm working on refreshing the `ComInterop` code that PowerShell uses and I would like to test it using a real world script. Can you please share one or more fortigate configuration file so that I can test my work using `Fortigate2Excel.ps1`? Thank you in advance!

[2020-07-29 15:04] daxian-dbw commented on #36944
@skippernl Ha, never mind, I just found you already shared a sample config file at https://onedrive.live.com/?authkey=%21ABU9qmGX7uNy1iM&id=208A52F3904C2E29%21123706&cid=208A52F3904C2E29. Appreciate it!

[2020-07-29 15:06] tannergooding commented on #40081
Simply put it is because your function doesn't compute `pow`, it estimates `pow`.

I gave a more in depth answer, with examples, of how floating-point works behind the scenes here https://github.com/dotnet/runtime/issues/39838#issuecomment-663558739. However for convenience a summary is that due to the internal representation and having finite precision, math on a computer may not work exactly the

[2020-07-29 15:08] danmosemsft commented on #40073
Does this repro in P8 branch?

[2020-07-29 15:14] SamMonoRT commented on #38718
@vargaz new numbers from last night's run are published. For plaintextplatform benchmark, MonoVM- Jit config had ~3% increase. I have not pinpointed the exact change which attributed to the increase, but your change in fa72c75 could surely have had an effect.
8.828M reqs/sec June 26th
9.081M reqs/sec June 28th (which should have your change merged)

[2020-07-29 15:16] EgorBo commented on #40078
I guess that code can be just enabled for `arm` with the only change `NI_FMA_MultiplyAddScalar` to `NI_AdvSimd_FusedMultiplyAddScalar` and it will work.

Optional: https://github.com/dotnet/coreclr/pull/27060 for AdvSimd.

[2020-07-29 15:24] lewing commented on #40076
I'm not sure that IncrementalHash actually helps us as is, the problem is still that all the browser apis return a Promise and there is (by design) no way to synchronously wait on that Promise.

[2020-07-29 15:25] ViktorHofer commented on #40073
Probably yes, but it's a developer innerloop issue only.

OK I will diff that with a binarylog later. Thanks

[2020-07-29 15:32] EgorBo commented on #40078
Something like this: https://github.com/EgorBo/runtime-1/commit/0074845aceca270ca815b9668bfc32b33956d706

[2020-07-29 15:35] danmosemsft commented on #39919
Ok thanks. The owners of this area will take a look. It might be a little while since we are focused on shipping 5.0 right now.

[2020-07-29 15:37] marek-safar commented on #40076
It's not about helping but supporting that API in browser. This API looks to be used by for example Roslyn.

[2020-07-29 15:59] skippernl commented on #36944
Let me know if you need more. Wil be waiting for the results.

Thanx for the update

Op wo 29 jul. 2020 17:04 schreef Dongbo Wang <notifications@github.com>:

[2020-07-29 16:02] alnikola commented on #39608
@JamesNK I investigated your repro and it appears to me there isn't any network related issue. Timeouts you observed are almost surely caused by tasks getting into deadlocks due to missing `.ConfigureAwait(false)`. Once I added it to lines 57 and 65 as follows, everything started working properly and test completed successfully after 20000 requests.

[code]

[2020-07-29 16:02] alnikola commented on #39608
cc: @geoffkizer

[2020-07-29 16:22] #38184 closed

[2020-07-29 16:23] ericstj commented on #29400
@gthvidsten @nblumhardt this API was approved, were either of you going to drive the implementation in?  If we want this in .NET 5.0 it would need to be merged before 8/18 or sooner.

[2020-07-29 16:25] ericstj commented on #32411
Moving this to 6.0.0 as it is not yet approved and we're driving 5.0.0 issues down.  Move it back if you think this is still needed in 5.0.0.

[2020-07-29 16:30] ericstj commented on #30688
@layomia this seems out of scope for 5.0.0 at the moment, but I wasn't sure if this scenario might already be covered by other serializer functionality.

[2020-07-29 16:33] ericstj commented on #29002
Per @gafter's comment https://github.com/dotnet/runtime/issues/29002#issuecomment-502904329 closing this.  Please reopen if I misunderstood.

[2020-07-29 16:34] tarekgh commented on #18912
@kg please add some example when you are saying doesn't work. This may help in the future we may consider fix that. Please note, in 5.0 on Windows, we started to use ICU by default and not using NLS.

[2020-07-29 16:37] BruceForstall commented on #40061
From `net5.0-Linux-Release-arm-CoreCLR_checked-jitstress2_tiered`

[2020-07-29 16:40] EgorBo commented on #40078
@echesakovMSFT @tannergooding

looks like `AdvSimd.FusedMultiplyAddScalar` is broken

[code]

`Console.WriteLine(Test(2,4,6))` prints `26` but should be `14` (wrong order of operands [here](https://github.com/dotnet/runtime/blob/master/src/coreclr/src/jit/hwintrinsiccodegenarm64.cpp#L540)?)

Also, `double` version of this method just crashes:
[code]
[code]

[2020-07-29 16:40] campersau commented on #40077
It does since the 5.0 previews e.g. https://www.nuget.org/packages/Microsoft.Extensions.Logging.Abstractions/5.0.0-preview.7.20364.11
The repository has moved serveral times in the past and nuget packages are immutable.

[2020-07-29 16:42] ericstj commented on #2167
Given the linked issue was moved to future, and the timing for 5.0, will also move this to future as well.  @GrabYourPitchforks feel free to move as you see fit.

Also given @jkotas comment about this being runtime-specific, my inclination would be to put this in a System.Memory-related-type instead of Unsafe.

[2020-07-29 16:45] ericstj commented on #28001
Given the timeline for 5.0 and the state of this issue, I don't see it making in.  Moving to 6.0.

[2020-07-29 16:47] kg commented on #18912
if you have a half-width katakana string and the full-width equivalent, ```CompareOptions.IgnoreWidth | CompareOptions.IgnoreCase``` doesn't work, but IgnoreWidth by itself or ```CompareOptions.IgnoreWidth | CompareOptions.IgnoreCase | CompareOptions.IgnoreKanaType``` both work, as mentioned in a previous comment.

[2020-07-29 16:48] tannergooding commented on #40078
The operand order difference is expected. ARM64 takes them as `addend, left, right` rather then `left, right, addend`

[2020-07-29 16:51] EgorBo commented on #40078
@tannergooding I changed the order to `GetEmitter()->emitIns_R_R_R_R(ins, emitSize, targetReg, op1Reg, op2Reg, op3Reg);` re-compiled and got expected `14` for my sample

[2020-07-29 16:54] KlausLoeffelmann commented on #39375
For [`EventLog`](https://github.com/dotnet/runtime/blob/329f0dbfa3a164ee2e3bf9f75b7641165995c799/src/libraries/System.Diagnostics.EventLog/src/System/Diagnostics/EventLog.cs), the attributes are already included. So, I think being consistent would be the right think to do?

[2020-07-29 16:54] ericstj commented on #35997
Given where we are at in 5.0 and that this API is not yet proposed moving out to 6.0.  I think this issue needs more discussion with area-owners (cc @dotnet/ncl).  We need to reach concensus on the scenario and then turn this into a formal API proposal.

[2020-07-29 16:54] tarekgh commented on #40046
We have discussed internally and we'll look at getting this in 5.0. Here is the suggestion of the APIs

[code]

The reason preferring this to avoid throwing in the constructor which make the caller code ugly.

Also, if we provided this, should be enough to parse and create ActivityLink. So, ActivityLink proposed API could be not needed at least for now.

Please let me know what you think as soon a

[2020-07-29 16:55] EgorBo commented on #40078
@tannergooding or are you saying I should reverse them when I call the C# API?

[2020-07-29 16:55] safern commented on #40066
@IshmaZX82 this definitely seems like a `libgdiplus` issue. However, it would be helpful to see the difference in the `ranges` array as well.  It seems like you need to update to a later `libgdiplus`.

Should we close this issue and follow up on `libgdiplus` side?

[2020-07-29 16:58] tannergooding commented on #40078
When constructing the intrinsic node, you should order them as `op3, op1, op2`, rather than as `op1, op2, op3`

[2020-07-29 16:59] terrajobst commented on #31198
[code]

[2020-07-29 17:00] vitek-karas opened #40087 "Assembly.CodeBase returns nonexistent path for assemblies from single-file"
* `Assembly.CodeBase`
* `Assembly.EscapedCodeBase`
* `AssemblyName.CodeBase`
* `AssemblyName.EscapedCodeBase`

all these APIs when called on an assembly loaded from single file return nonexistent path - basically as if the assembly file lives next to the executable.

The question is what is the correct behavior:
* empty string - similar to `Assembly.Location`
* The executable path - this would be

[2020-07-29 17:00] jkotas commented on #40064
You can open issue on this in https://github.com/dotnet/sdk repo.

[2020-07-29 17:00] DrewScoggins opened #40088 "[Perf -22%] System.Xml.Linq.Perf_XDocument.GetRootElement"
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.18362
Changes | [diff](https://github.com/dotnet/runtime/compare/90989b46a1f3791dd57d6ae87578fe22d699c106...6ca600396ee2e80e8bf93c72c2b5439aadc86073)

### Regressions in System.Xml.Linq.Perf_XDocument

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
GetRootElement | 7.85 ns | 9.55 ns

[2020-07-29 17:01] vitek-karas commented on #40087
/cc @MichalStrehovsky @jkotas

I don't know what the intent is for `CodeBase`/`EscapedCodeBase` APIs, so it's hard to tell what the correct behavior should be.
I know we're making them obsolete in .NET 5, but that still doesn't mean they should not work.

[2020-07-29 17:05] KalleOlaviNiemitalo commented on #31389
`lib/net461/Microsoft.Diagnostics.Tracing.EventSource.dll` and `runtimes/win/lib/net461/Microsoft.Diagnostics.Tracing.EventSource.dll` in the [Microsoft.Diagnostics.Tracing.EventSource.Redist 5.0.0-preview.7.20364.11 NuGet package](https://www.nuget.org/packages/Microsoft.Diagnostics.Tracing.EventSource.Redist/5.0.0-preview.7.20364.11) still have the overflow checks.

[2020-07-29 17:06] safern commented on #40064
Thanks, @jkotas for helping @Nemirtingas here... Given the discussion above I'm going to close this and please @Nemirtingas feel free to open an issue in the SDK to discuss the startups hosts issue.

[2020-07-29 17:06] #40064 closed

[2020-07-29 17:07] CodeBlanch commented on #40046
@tarekgh LGTM

[2020-07-29 17:08] BruceForstall commented on #13643
This no longer repros. Closing.

[2020-07-29 17:08] #13643 closed

[2020-07-29 17:10] tarekgh commented on #40046
Thanks @CodeBlanch for your quick reply. do you mind updating the the issue description with the proposal? we should be ok to schedule this for the design review after that.

[2020-07-29 17:13] GrabYourPitchforks commented on #2167
Agree on both counts. Though perhaps if it's runtime-dependent and meant for interop, then `System.Runtime.InteropServices` would be preferred over `System.Memory`?

[2020-07-29 17:14] gafter commented on #29002
I think you misunderstood. All my comment is saying is that it cannot be implemented outside the runtime because of a couple of special cases that only the runtime knows about.

[2020-07-29 17:14] jkotas commented on #40087
The original intent for these APIs was to return URL to use for Code Access Security checks. E.g. if the assembly was downloaded from internet, these APIs can return `http://something`.

I do not have a strong opinion about what to do about these for single file.

[2020-07-29 17:17] echesakovMSFT commented on #40078
I have a draft change in my private branch https://github.com/echesakovMSFT/runtime/tree/Arm64-Math-MathF-FusedMultiplyAdd that I did as a background task a while ago. I can resurrect the change and finish it if this is needed for 5.0.

[2020-07-29 17:18] gafter commented on #29002
This issue track the same request as https://github.com/dotnet/runtime/issues/12260. I believe the current consensus is that it can be done as an API in which the set of types to match are passed as generic type arguments (e.g. the elements of a tuple type).  See https://github.com/gafter/TypeSwitch/blob/master/TypeSwitch/TypeSwitchDispatch.cs for a prototype that does not address the issue mentio

[2020-07-29 17:19] BruceForstall commented on #34214
No longer repros. Closing.

[2020-07-29 17:19] #34214 closed

[2020-07-29 17:20] jkotas commented on #29002
Duplicate of #12260. Let's have just one issue tracking this feature request.

[2020-07-29 17:20] #29002 closed

[2020-07-29 17:21] Nemirtingas commented on #40064
Thanks for your time and the help.

[2020-07-29 17:23] jkotas commented on #40087
Returning empty string sounds most reasonable to me.

[2020-07-29 17:24] BruceForstall commented on #13802
No longer repros. Closing.

[2020-07-29 17:24] #13802 closed

[2020-07-29 17:25] CodeBlanch commented on #40046
@tarekgh Done. I made it static in the proposal. @cijothomas pointed that out to me, it seemed like an oversight. Let me know if you want me to switch to instance-based.

[2020-07-29 17:26] Gnbrkm41 commented on #40049
Continuing to tinker with this, it also appears to support other targets like

[2020-07-29 17:26] EgorBo commented on #40078
Sorry guys, I was on a out-of-date branch, master works fine for me.

[2020-07-29 17:28] echesakovMSFT commented on #38518
I constructed a minimal repro

[code]
that I run with
[code]
the app eventually crashes with the same stack trace as in the CI
[code]

[2020-07-29 17:29] DustinCampbell commented on #39375
Does this really add much more runtime metadata bloat over, say, nullability attributes? :smile:

[2020-07-29 17:29] tarekgh commented on #40046
@CodeBlanch good catch. Thanks a lot. Looks good to me. We should be good to proceed with that.

[2020-07-29 17:31] ericstj commented on #29599
Moving to future since this has been pending for over a year.

It looks to me like this needs an investigation to describe why `DebuggerNonUserCode` doesn't work (or couldn't be fixed to work).   I tried this and it looks to me like the debugger will still break inside the `DebuggerNonUserCode` method when it contains a call to `Debug.Break()`

The debugger isn't highlighting the *cause* of a brea

[2020-07-29 17:31] Gnbrkm41 commented on #40049
It'd be interesting if this also means we could edit sources for Linux/ARM with support of IntelliSense, using the VS integration's WSL / remote building support...

I tried adding a configuration like this:
[code]
In hopes that it could also generate cache for Linux as well, but unfortunately it seems to be complaining about missing `version.c` files under `artifacts/obj/coreclr/Linux.x64.Debug`.

[2020-07-29 17:32] echesakovMSFT commented on #40078
@EgorBo Are you gonna continue working on this or you want me to take over?

@jkotas @tannergooding Do you think this work belong to 5.0?

[2020-07-29 17:34] tannergooding commented on #40078
It should be a trivial change that helps boost perf for functions that use it, I imagine taking it would be worthwhile l.

[2020-07-29 17:38] #39933 closed

[2020-07-29 17:38] agocke commented on #40087
In the single-file case, even corelib will likely be in the bundle and so have an empty string location, so empty string seems most consistent and simplest to understand. I also don't have strong feelings.

[2020-07-29 17:40] AndyAyersMS commented on #39023
Closed via #40038.

[2020-07-29 17:40] #39023 closed

[2020-07-29 17:44] #166 closed

[2020-07-29 17:46] Gnbrkm41 commented on #272
Closing in favour of #40049.

[2020-07-29 17:46] #272 closed

[2020-07-29 17:47] EgorBo commented on #40078
Well, actually, no the both problems I listed ^ still here.
Here is my draft: https://github.com/dotnet/runtime/compare/master...EgorBo:arm64-math-fma?expand=1
it works fine for `float`:

[code]
#### Codegen for `Test_f`:
[code]
However, it crashes for `Test_d`

@echesakovMSFT feel free to take over 🙂 I see your branch also handles FMA variations (depending on NEG).

[2020-07-29 17:50] echesakovMSFT commented on #40078
Let me take a look

[2020-07-29 17:50] AndyAyersMS commented on #40009
@smoogipoo I take it this is distilled from some more complex example? If so, do you have examples where Roslyn hoists the closure construction up above more interesting constructs than `return 0`?

Eager construction is likely deemed safe as the only observable effect is extra heap allocation, but as you note this allocation is not expected and seemingly should be deferred until the point of plau

[2020-07-29 17:51] AndyAyersMS commented on #40078
Marking as 5.0.

[2020-07-29 17:51] Clockwork-Muse commented on #40018
... well, I guess it _is_ annoying to have to declare all the relevant table-valued parameters ahead of time.

[2020-07-29 17:52] AndyAyersMS commented on #40021
Actually marking as future.

[2020-07-29 17:53] KalleOlaviNiemitalo opened #40093 "Microsoft.Diagnostics.Tracing.EventSource.Redist.xml file name does not match Microsoft.Diagnostics.Tracing.EventSource.dll"
### Description

The Microsoft.Diagnostics.Tracing.EventSource.Redist NuGet package contains `Microsoft.Diagnostics.Tracing.EventSource.dll` but `Microsoft.Diagnostics.Tracing.EventSource.Redist.xml`. Because the name of the XML documentation file contains `.Redist` and the name of the DLL file doesn't, Visual Studio cannot find the documentation and show it in Intellisense or in _Go To Definition

[2020-07-29 17:56] Clockwork-Muse commented on #40018
... Also, it turns out [this proposal ended up being debated when `AppendJoin` was first proposed](https://github.com/dotnet/runtime/issues/15267#issuecomment-174578864).

[2020-07-29 17:57] DrewScoggins opened #40094 "[Perf -10%] System.Text.RegularExpressions.Tests.Perf_Regex_Common (2)"
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.18362
Changes | [diff](https://github.com/dotnet/runtime/compare/f3f23b4bde8b0a449d57ef600d99560ac97a784e...5ff4db1a5d22efb02300457d9a7a3154a7a5b0cb)

### Regressions in System.Text.RegularExpressions.Tests.Perf_Regex_Common

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
Email_IsNo

[2020-07-29 17:57] EgorBo commented on #40078
@echesakovMSFT ah, nvm, fixed via `NI_Vector64_Create` for double.
Full PR: https://github.com/dotnet/runtime/compare/master...EgorBo:arm64-math-fma?expand=1 now works for both float and double 🙂

[2020-07-29 17:58] davidwrighton commented on #37579
Test is fixed, and running again.

[2020-07-29 17:58] #37579 closed

[2020-07-29 18:01] KalleOlaviNiemitalo commented on #40093
I believe Microsoft.Diagnostics.Tracing.EventSource.Redist.csproj is the only source project that sets `AssemblyName` as something other than the project name.

[2020-07-29 18:14] jozefizso commented on #38950
@AaronRobinsonMSFT yes, I should have sample project, let me find it...

[2020-07-29 18:14] #40081 closed

[2020-07-29 18:15] danmosemsft commented on #39023
+1 thanks @dellamonica for helping track this down and fix it before final release. Much appreciated.

[2020-07-29 18:15] ViktorHofer commented on #40073
Here's the diff when building from an sln which contains a project that P2Ps to CoreLib vs building CoreLib from the clr.corelib subset: https://www.diffchecker.com/mPYbuYIv.

Just wanna share some findings, will take a closer look later.

[2020-07-29 18:19] davidwrighton commented on #33660
This is no longer failing in outerloop, and looks like it was something wrong with the infrastructure in any case. Closing.

[2020-07-29 18:19] #33660 closed

[2020-07-29 18:21] AndyAyersMS commented on #39256
Moving to future.

[2020-07-29 18:21] danmosemsft commented on #40094
@DrewScoggins thanks for the tightly bounded diff. IThere were no regex changes since July 16th.

There are only two commits in that diff that are even slightly plausibly related

@davidwrighton Fix CanCastTo behavior (#39915) … 13fa14e
@erozenfeld Fix `fgUpdateChangedFlowGraph`. (#39878) …b179d69

eyeballing the raw graph, I get a [slightly larger bracket](https://github.com/dotnet/runtime/compar

[2020-07-29 18:23] carlossanlop commented on #2214
@khellang will you get a chance to work on this in the next week or two? Otherwise, I should move it to Future.

[2020-07-29 18:23] MichalStrehovsky commented on #40021
I ran into pretty much the same thing in #9791 - we can probably merge these issues because they look similar.

The workaround with null is nice. I'll probably use that.

[2020-07-29 18:24] terrajobst opened #40095 "Mark existing Windows-specific APIs without a version number"
We'd like change our stance on marking the existing Windows-specific not as `windows7.0` but as just `windows`.

[From the spec](https://github.com/dotnet/designs/blob/master/accepted/2020/windows-specific-apis/windows-specific-apis.md#which-windows-version-will-we-use):

The lowest version of Windows that we support with .NET Core is Windows 7. Also, we generally don't expose functionality that r

[2020-07-29 18:26] carlossanlop commented on #39428
@akoeplinger can you confirm if PR https://github.com/dotnet/runtime/pull/39355 fixed this issue? If yes, can you please close this?

[2020-07-29 18:27] danmosemsft commented on #40094
Looking at the 2nd test, I think @DrewScoggins tighter bracket is the correct one.

@DrewScoggins did you see any other regressions in other scenarios during those 3 hours, can you check?

[2020-07-29 18:30] mdh1418 commented on #39428
Hi @carlossanlop, PR #39355 does not fix the issue. The tests disabled in the PR with `[PlatformSpecific(~TestPlatforms.Browser)]` such as `ViewsShareData` in `src/libraries/System.IO.MemoryMappedFiles/tests/MemoryMappedViewStream.Tests.cs` still have issues with multiple `MemoryMappedFiles` accessing the same file.

[2020-07-29 18:30] DrewScoggins commented on #40094
I believe that this test also regressed during the same gap, https://github.com/dotnet/runtime/issues/40088

[2020-07-29 18:32] khellang commented on #2214
@carlossanlop I've already done most of the work, but I won't be able to polish it up and submit a PR in the coming weeks as I'm on vacation 😢

[2020-07-29 18:35] danmosemsft commented on #40088
See discussion in #40094

[2020-07-29 18:35] danmosemsft commented on #40094
OK, I'm inclined to put this in codegen area, but I am interested in @erozenfeld thoughts.

[2020-07-29 18:37] KalleOlaviNiemitalo commented on #40077
<https://github.com/NuGet/NuGetGallery/issues/7537> could make the "Source Repository" hyperlink at <https://www.nuget.org/packages/Microsoft.Extensions.Logging.Abstractions/3.1.6> point to <https://github.com/aspnet/Extensions/tree/be18161fbed286d6fb7a7b1c7999ce70a50cf3eb> instead. Then it would redirect to <https://github.com/dotnet/extensions/tree/be18161fbed286d6fb7a7b1c7999ce70a50cf3eb> and y

[2020-07-29 18:39] carlossanlop commented on #2214
No worries. Let's move it to Future then.

[2020-07-29 18:39] jozefizso commented on #38950
Hi @AaronRobinsonMSFT,
here is the sample project: https://github.com/jozefizso/PowerPointAddin-NetCore3-Crash

It should be compilable and the registration script should work.

[2020-07-29 18:40] KalleOlaviNiemitalo commented on #40093
@Dotnet-GitSync-Bot, aren't you going to add any labels? 🤔

[2020-07-29 18:44] jkotas commented on #9791
Duplicate of #40021. (#40021 has more context.)

[2020-07-29 18:44] #9791 closed

[2020-07-29 18:53] jeffhandley commented on #40095
/cc @adamsitnik

[2020-07-29 18:58] tafo commented on #40081
Thanks for the answer. I think, my question was not clear. Your answer is far away from what I focused on. Actually, it was about integers. Because the base and the exponent of the most power operations are between 0 and 100.

I checked the .NET API again and realized that the power function of System.Numerics.BigInteger class is also implemented with the basic "square-and-multiply" logic.

This i

[2020-07-29 19:02] carlossanlop commented on #39428
Ah I see, thanks for clarifying. The order in which the issue and PR were created confused me.
Does it make sense to have this issue marked for 5.0?

[2020-07-29 19:08] tannergooding commented on #40081
If it is purely integer powers you are wanting to do, then doing a simple for loop is likely sufficient and for some values may be more accurate (if the result is greater than 2^53 for double or 2^24 for float). You don't really have to do any special tricks as the representation is 1-to-1 and you don't have any fractional portions to consider (or even really negative powers for that matter). Howe

[2020-07-29 19:09] echesakovMSFT commented on #38518
Turned out the crash I saw happened during the logging itself
[code]

`cxr.pc` points at `00007ffb355bfe6c` and the value of `x8` (that was loaded from `[x19]`) at the moment was `0000000000000007` that lead to AV

[code]

However, at the same location the value of `[x19]` has changed already and points at GC heap object `0000021d0005ea68` (an instance of `System.IndexOutOfRangeException`)

[code]

[2020-07-29 19:10] davidwrighton commented on #32727
This was fixed by infra changes to find the set of dlls instead of using the project name as dll name.

[2020-07-29 19:10] #32727 closed

[2020-07-29 19:11] hoyosjs commented on #39918
@SinxHe this is expected behavior. See the last line of [IEnumerator.Current's remarks](https://docs.microsoft.com/en-us/dotnet/api/system.collections.ienumerator.current?view=netcore-3.1#remarks). You implementation of `Current` dequeues the item. The local view in the debuggers see a property and run the `get` accessor to display a value to you. This ends up having you queuing the item when you

[2020-07-29 19:11] #39918 closed

[2020-07-29 19:12] #40039 closed

[2020-07-29 19:14] davidwrighton commented on #34110
This was fixed by infra changes to compile the set of dlls in the test directory instead of compiling a dll with the project name.

[2020-07-29 19:14] #34110 closed

[2020-07-29 19:17] Jozkee opened #40099 "Should we add support to ignore cycles on serialization?"
## Background and Motivation

Even though we have covered the blocking issue of not being able to (de)serialize reference loops (https://github.com/dotnet/runtime/issues/30820, https://github.com/dotnet/runtime/issues/29900) by adding `ReferenceHandler.Preserve` to S.T.Json, there is many asks for adding an option equivalent to Json.NET's [`ReferenceLoopHandling.Ignore`](https://www.newtonsoft.com

[2020-07-29 19:20] Jozkee commented on #40099
From https://github.com/dotnet/runtime/issues/30820#issuecomment-664608771:

[2020-07-29 19:21] #39940 closed

[2020-07-29 19:21] Jozkee commented on #40099
From https://github.com/dotnet/runtime/issues/30820#issuecomment-664655254

[2020-07-29 19:22] Jozkee commented on #40099
From https://github.com/dotnet/runtime/issues/30820#issuecomment-664925740

[2020-07-29 19:28] ericstj commented on #2167
Yeah, I considered that too (EG: Marshal) however I got the impression it was useful for more scenarios than interop.  EG: Intrinsics and optimizing perf might care about alignment.

[2020-07-29 19:34] layomia commented on #30688
@ericstj yes, out of scope for 5.0. There's no existing serializer feature that covers this.

Closing as this is a duplicate of https://github.com/dotnet/runtime/issues/30258.

[2020-07-29 19:34] #30688 closed

[2020-07-29 19:34] layomia commented on #30258
From @CodeBlanch in https://github.com/dotnet/runtime/issues/30688:

[2020-07-29 19:41] omajid opened #40100 "Add support for Intel CET and -fcf-protection"
I am trying to harden .NET Core 3.1 on Linux. One recent technique a number of other packages are using for security hardening is to use Intel's CET (Control-Flow Enforcement Technology):

https://www.linuxplumbersconf.org/event/2/contributions/147/attachments/72/83/CET-LPC-2018.pdf

https://software.intel.com/sites/default/files/managed/4d/2a/control-flow-enforcement-technology-preview.pdf

Most

[2020-07-29 19:42] omajid commented on #40100
cc @tmds

[2020-07-29 19:46] AndyAyersMS commented on #38518
FWIW this last bit seems reminiscent of a crash I was looking at here: https://github.com/dotnet/runtime/issues/36636#issuecomment-637713137 -- the special handle table the GC keeps for stress has invalid handles.

[2020-07-29 19:52] erozenfeld commented on #40094
#39878 had codegen diffs in `System.Text.RegularExpressions` so it's possible it caused this regression. I'll investigate.

[2020-07-29 20:01] echesakovMSFT commented on #38518
I couldn't get my small test to repro the issue without LogEnable but other tests that failed in the CI fail locally in a different way
[code]

[2020-07-29 20:02] echesakovMSFT commented on #38518
I wonder if there are multiple issues with GCStress on win-arm64

[2020-07-29 20:13] mangod9 commented on #34412
@AntonLapounov is this something you fixed as part of your cg2 nuget changes?

[2020-07-29 20:17] terrajobst commented on #40095
@richlander @mhutch

[2020-07-29 20:23] terrajobst opened #40101 "Mark System.Security.Cryptography.OpenSsl as unsupported on Windows"
When [discussing marking Windows-specific APIs](https://github.com/dotnet/designs/blob/master/accepted/2020/windows-specific-apis/windows-specific-apis.md) @bartonjs mentioned `System.Security.Cryptography.OpenSSL` should be marked as unsupported on Windows. With the recent feature for [marking unsupported platforms](https://github.com/dotnet/designs/blob/master/accepted/2020/platform-exclusion/pl

[2020-07-29 20:25] #32729 closed

[2020-07-29 20:26] #32733 closed

[2020-07-29 20:30] ericstj commented on #36068
Moving to 6.0 as it's too late for this in 5.0.  Is @MichalStrehovsky's suggestion sufficient or does it have [too much overhead](https://github.com/dotnet/runtime/blob/29e9b5b7fd95231d9cd9d3ae351404e63cbb6d5a/src/coreclr/src/vm/appdomainnative.cpp#L67-L120) for your scenario?

[2020-07-29 20:31] terrajobst commented on #38011
@stephentoub @kouvel This is marked as 6.0. If we were to approve this this week, would it still make sense for 5.0?

[2020-07-29 20:33] JamesNK commented on #39608
That's odd. This is a console app. I thought there was no sync context in console apps?

Also the console app is correctly awaiting all tasks. There are no `.Result` or `.GetAwaiter().GetResult()` calls to block tasks. It shouldn't require users of the library to add `.ConfigureAwait(false)`.

I will double check what happens on my computer.

[2020-07-29 20:33] davidwrighton commented on #31687
This sort of work on IBC and PGO will not happen in .NET 5.0. Moving to 6.0.

[2020-07-29 20:33] briansull commented on #38920
I am not able to repro this, no CSE is created and the tree looks like this before/fter morph:

[code]

[2020-07-29 20:34] sywhang commented on #36068
Thanks @ericstj - I think @MichalStrehovsky's suggestion is good for now unless we hear feedback regarding its perf overhead. I can bring back this discussion if I do hear such feedback. I'll close this issue for now.

[2020-07-29 20:34] #36068 closed

[2020-07-29 20:35] NikolaMilosavljevic commented on #1365
@jkoritzinsky is this tracked as part of shared FX work?

[2020-07-29 20:36] jkoritzinsky commented on #1365
I believe so. We're switching to the built-in support in the SDK so we'll do whatever the SDK does.

[2020-07-29 20:36] kouvel commented on #1634
I'm considering changing the affinity on the thread after it starts, as suggested in https://github.com/dotnet/runtime/pull/38795#issuecomment-655195755.

Is anyone blocked on this issue for .NET Core 3.1 in a way where it can't be worked around by any of the suggestions above?

[2020-07-29 20:36] benaadams commented on #38011
Would mean the upstream change in aspnet core could be merged for 5.0 https://github.com/dotnet/aspnetcore/pull/23175

/cc @davidfowl

[2020-07-29 20:39] stephentoub commented on #38011
Yes

[2020-07-29 20:39] NikolaMilosavljevic commented on #1252
We should the latest LTS supported distro where debpkg works - create 20.04 if not yet available.

[2020-07-29 20:40] tafo commented on #40081
There are some decimal powers such as 0.777 ^ 777.
But most of the numbers and exponents are integer.
I am just trying to optimize, even if the current performance is ok.
But now I decided to check the repository of ARM.
Thank you very much (:

[2020-07-29 20:40] NetMage opened #40102 "PrincipalSearcher returns computer objects from AD for UserPrincipal subclasses"
### Description

Documentation for using QBE with `AccountManagement` recommends creating a `UserPrincipal` subclass when needing to query on non-standard directory attributes.

The code in `PushFilterToNativeSearcher` that converts the Example class into an LDAP query uses `GetObjectClassPortion` to determine the base query for the Example.

When the Example class is not a standard built-in `Prin

[2020-07-29 20:42] NikolaMilosavljevic commented on #972
This is not installer or setup related.

[2020-07-29 20:49] #639 closed

[2020-07-29 20:50] dleeapho commented on #972
RHEL VMs are not suitable for public-facing infra since it requires `subscription-manager` registration to be functional. I would suggest using CentOS instead per Red Hat's guidance. An alternative is to switch to containerized solutions such as [UBI](https://developers.redhat.com/products/rhel/ubi)

[2020-07-29 20:51] tommcdon commented on #39935
closing per @josalem's comments

[2020-07-29 20:52] tommcdon commented on #39931
@davmason

[2020-07-29 20:55] tannergooding commented on #37425
Yes, it looks to be resolved. The actual test is quite noisy but it is much closer to the original timing now: https://pvscmdupload.blob.core.windows.net/reports/07_01_2020/SIMD/report_Monthly_ca=x64_cb=refs-heads-master_co=Windows1018362_cr=dotnetruntime_cf=SIMD_cc=CompliationMode=tiered-RunKind=micro_2020-07-01.html

[2020-07-29 20:55] #37425 closed

[2020-07-29 20:56] tommcdon commented on #38524
closing per @josalem's comment that #38474 addresses this.  GCStress lengthens the time the test runs and so the test timeout was removed.

[2020-07-29 20:56] #38524 closed

[2020-07-29 20:57] danmosemsft commented on #40094
OK thanks @erozenfeld

[2020-07-29 20:58] danmosemsft commented on #40088
assuming dupe https://github.com/dotnet/runtime/issues/40094

[2020-07-29 20:58] danmosemsft commented on #40088
Let's try the github feature:

Duplicate of #40094

[2020-07-29 20:59] danmosemsft commented on #40088
Duplicate of #40094

[2020-07-29 20:59] #40088 closed

[2020-07-29 20:59] tommcdon commented on #36028
@davmason is this still an issue we are targeting for 5.0?

[2020-07-29 21:00] mikem8361 commented on #34916
PR #https://github.com/dotnet/runtime/pull/39982 added the guard env var and updated the docs.

[2020-07-29 21:00] danmosemsft commented on #40094
Hooray for (1) prompt detection of a performance regression (2) useful issue that allowed us to narrow it down quickly

[2020-07-29 21:01] tommcdon commented on #168
@josalem close?

[2020-07-29 21:01] tommcdon commented on #12857
@josalem close?

[2020-07-29 21:02] tommcdon commented on #11092
@davmason close?

[2020-07-29 21:07] vitek-karas opened #40103 "Module.FullyQualifiedName throws in single-file app"
On non-single file apps `Module.FullyQualifiedName` returns absolute path to the file of the module (which is basically always the assembly file). If the module is an in-memory module (so loaded from stream), it returns `<Unknown>` string.

In single-file if the module is one of the assemblies which are bundled it will throw from this property.

I think we should make it behave the same as it does

[2020-07-29 21:07] jkotas commented on #40100
cc @janvorli

[2020-07-29 21:08] vitek-karas commented on #40103
/cc @MichalStrehovsky @jkotas
Another API behavior question for single-file.

[2020-07-29 21:11] AndyAyersMS commented on #37223
Simple repro:
[code]
On linux arm32, run with
[code]

[2020-07-29 21:12] jkotas commented on #40103
Agree.

[2020-07-29 21:18] safern commented on #972
We do have a CentOS8 docker image already for building but not for testing. @MattGal @Chrisboh do you think someone from the dnceng team could help adding a helix image to test on CentOS 8?

https://github.com/dotnet/dotnet-buildtools-prereqs-docker/tree/master/src/centos/8

[2020-07-29 21:25] #39935 closed

[2020-07-29 21:31] ericstj commented on #26941
This API suggestion is not progressing, not a candidate for 5.0.  cc @eerhardt @eiriktsarpalis

@dakale are you still interested in this?  If so, please follow the [API process.](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md#steps)

[2020-07-29 21:34] ericstj commented on #25118
I believe @eerhardt's suggestion addressed the original request.

If you'd like to file an API suggestion, please follow the [process](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md#steps) using appropriate template.

[2020-07-29 21:34] #25118 closed

[2020-07-29 21:36] ericstj commented on #24910
Closing as this API request doesn't have a sponsor and has been stale for over 2 years.

[2020-07-29 21:36] #24910 closed

[2020-07-29 21:39] #40073 closed

[2020-07-29 21:39] danmosemsft commented on #38036
Suggest we move to Future. It seems that we could just document it, and folks will be able to re-deploy with full messages if they want to.

[2020-07-29 21:44] mangod9 commented on #13642
I havent been able to repro this recently.

[2020-07-29 21:44] #13642 closed

[2020-07-29 21:45] mangod9 commented on #852
Believe we have a repro and will investigate

[2020-07-29 21:45] mangod9 commented on #13448
This hasnt reproed in a while.

[2020-07-29 21:45] #13448 closed

[2020-07-29 21:46] ericstj commented on #24601
Moving this to 6.0 as it's not going to meet the deadline for 5.0.  @jkotas are you still interested in this issue?

[2020-07-29 21:47] mangod9 commented on #13502
This havent reproed in a while.

[2020-07-29 21:47] #13502 closed

[2020-07-29 21:49] ericstj commented on #24767
cc @carlossanlop (as this is IO scenario)

I don't think there is time to consider this for 5.0 however it does seem like an interesting scenario.  @jkotas what are your thoughts on this?

[2020-07-29 21:50] JamesNK commented on #39608
I added `ConfigureAwait(false)` and it still hangs.

[code]

[2020-07-29 21:53] ericstj commented on #24535
Closing this due to lack of recent interest + complexities with languages.  As @justinvp mentioned this can be developed outside of dotnet/runtime.

[2020-07-29 21:53] #24535 closed

[2020-07-29 21:54] josalem commented on #12857
I think we've got decent coverage for EventPipe in the runtime repo now.  There is also some md in the diagnostics repo documenting what is covered.  I'm going to close this.

[2020-07-29 21:54] #12857 closed

[2020-07-29 21:55] jkotas commented on #24601
I just moved the issue to the right repo two years ago. I am not attached to this issue otherwise.

[2020-07-29 21:57] ericstj commented on #24505
Closing for now due to lack of recent interest as well as a good workaround from @GrabYourPitchforks.

[2020-07-29 21:57] #24505 closed

[2020-07-29 21:59] maryamariyan commented on #37421
@tmds @ericstj

@eerhardt recommended earlier in my [linked PR](https://github.com/dotnet/runtime/pull/38616#discussion_r453132994) that we could choose to strip out the color codes (by using AnsiParsingLogConsole) when the output is redirected and could be solution for fixing the current issue.

But I have postponed this fix for now because of the following two talking points:

- What if someone

[2020-07-29 22:02] mangod9 commented on #13572
@theolivenbaum are you able to repro this on latest versions of the runtime? Ideally on .net 5?

[2020-07-29 22:09] omajid commented on #37421
It's very much possible for the software "reading" the redirected output to parse and display colours.

Please consider this:

- In the current behaviour, there's two possibilities: you get colours, or you get garbage output
- In the proposed behaviour: you get no colours, but never any garbage in the output either

To me, it seems like the safer option is to **remove** colours for now. Producing

[2020-07-29 22:12] theolivenbaum commented on #13572
Have to check, to be honest haven't seen this issue on our code since netcore3.1, but will double check if we just didn't remove the calls all together.

[2020-07-29 22:12] CarolEidt commented on #37223
Yes, that's what I was trying to accomplish, and I was surprised that it went wrong, since I didn't think that codegen paid attention to that killset. Another option to accomplish the same thing might be to allocate an internal register, and force it to use R2. That will cause it to interfere with anything else live at that point. However, I'm still not sure how what was wrong with the kill approa

[2020-07-29 22:21] ericstj commented on #24468
Now that we have Span.Sort is this proposal still interesting?
https://github.com/dotnet/runtime/blob/f0ede2b86b0f1b86744aa1e020ba1df3ac3d2744/src/libraries/System.Memory/ref/System.Memory.cs#L87-L92

I think it addresses the original scenario.

[2020-07-29 22:24] eerhardt commented on #37421
Would a reasonable fix here be:

1. Update [`SimpleConsoleFormatterOptions.DisableColors`](https://github.com/dotnet/runtime/blob/e10da01d6557be2238ab55218f947001a3b35e57/src/libraries/Microsoft.Extensions.Logging.Console/src/SimpleConsoleFormatterOptions.cs#L13-L16) to be `public bool? DisableColors`. The default is `null`.
2. When `DisableColors == null`, its behavior gets defaulted to `Console.

[2020-07-29 22:26] ViktorHofer commented on #40077
Closing as by design.

[2020-07-29 22:26] #40077 closed

[2020-07-29 22:28] AndyAyersMS commented on #37223
Working on this now ... have restored your change and about to debug into one of the failures it causes.

[2020-07-29 22:29] mangod9 commented on #13572
ok thanks, please let us know, else will close the issue. Thx.

[2020-07-29 22:29] ericstj commented on #37421
Nullable bool named with a negative is a little confusing for an API.  Maybe an enum would be clearer (or at least another option to consider). `enum LoggerColorBehavior { DisabledWhenRedirected, Disabled, Enabled }`

[2020-07-29 22:33] ViktorHofer commented on #39641
@ericstj as @joperezr is current OOF, would you be the best person to fix this?

[2020-07-29 22:34] samsp-msft commented on #35126
What we need for YARP is the ability to read and write headers as fast as possible as we transfer data from the source request to the proxied call and back again. When looking at perf graphs of RPS/size, the per-request overhead of YARP seems to be a weak point compared to the other proxies - and headers are going to be an important part of that.
Stepping back, the question is how do we copy the h

[2020-07-29 22:37] eerhardt commented on #37421
As long as we can set enums through configuration that would be fine with me.

How about just `Default`? We may want to add more policy to this in the future beyond just "redirected".

[2020-07-29 22:42] maryamariyan commented on #37421
I think I remember in an API review there was a guideline to avoid using Default for enums. First bulletpoint in https://github.com/dotnet/runtime/issues/34305#issuecomment-634181323, or maybe I misunderstood. I think that was another reason we switched from using Default formatter to simple too.

[2020-07-29 22:46] echesakovMSFT commented on #38518
This one fails at different places but with the similar assertions
[code]

[code]

[2020-07-29 22:57] maryamariyan commented on #37421
[code]

[2020-07-29 23:01] eerhardt commented on #37421
1. I don't believe this should be a Flags enum. What does `Enabled | Disabled` mean?
2. `DisabledWhenOutputRedirected` needs to be the default value.
3. I don't like the name `DisabledWhenOutputRedirected` because it locks us in to a default behavior that I think we will want to change over time. For example, we may want to respect some environment variable by default as well. (i.e. `NO_COLOR` as

[2020-07-29 23:03] ericstj commented on #39641
Lets keep it on the backlog for the moment.  It should be a simple fix, I may be able to get to it or I can assign someone when the time window gets closer to ZBB.

[2020-07-29 23:03] mangod9 commented on #26656
Closing due to no activity and last comment ^^

[2020-07-29 23:03] #26656 closed

[2020-07-29 23:18] maryamariyan commented on #37421
@eerhardt updated. Changed `DisabledWhenOutputRedirected` to `Default`. I was also thinking perhaps Default could change to something like `Varied`, `Variable`, `Conditioned` or `Conditional`, etc.

[2020-07-29 23:23] jabbera commented on #39210
@alnikola can you comment on what issues you are seeing? I was looking at adopting this for .net framework for calling azure functions. I don't want to stumble across a ton of issues.

[2020-07-29 23:28] antonfirsov commented on #26843
@geoffkizer isn't this kind of re-entrance that you are suggesting to remove as part of  #24138 ? Or am I confusing things?

[2020-07-29 23:30] josalem commented on #168
I'm inclined to punt this to 6.0.  I'm not sure it's worth the risk to mess with this infrastructure this close to 5.0.

[2020-07-29 23:42] terrajobst opened #40111 "Moving platform guards out of System.Runtime.InteropServices"
In .NET Core 1.x and 2.x days, we added very limited ability for customers to check which OS they were on. We originally didn't even expose `Environment.OSVersion` and we built a new API `RuntimeInformation.IsOSPlatform()`. The assumption was that doing OS checks is exclusively done for P/invoke or interoperating with native code, which is why `RuntimeInformation` was put in `System.Runtime.Intero

[2020-07-29 23:46] maryamariyan opened #40112 "System.Runtime.InteropServices.JavaScript.Tests.MarshalTests.TestFunctionApply failed on CI (wasm mono subset)"
Some wasm test failures on the PR https://github.com/dotnet/runtime/pull/39825:
https://dev.azure.com/dnceng/public/_build/results?buildId=749999&view=ms.vss-test-web.build-test-results-tab

[code]

e.g.: `System.Runtime.InteropServices.JavaScript.Tests.MarshalTests.TestFunctionApply`
[code]

[2020-07-30 00:01] #33887 closed

[2020-07-30 00:13] davidwrighton commented on #13387
This has been fixed. It now throws a RequiresRuntimeJitException which will cause the compilation to fallback to JIT and work correctly.

[2020-07-30 00:13] #13387 closed

[2020-07-30 00:16] jkotas commented on #40111
The string-based checks like this are slow by design. It means that people will need to cache their results for hot paths.

If all that we got are these string based-checks, the analyzer would need to be smart enough to deal with cached results of these checks.

[2020-07-30 00:17] jkotas commented on #40111
cc @adamsitnik

[2020-07-30 00:25] jkotas commented on #24767
I do like the idea, but the issues mentioned in "Other considerations" paragraph may make it a non-starter.

[2020-07-30 00:26] MattGal commented on #972
@dleeapho : Let's chat when you can, perhaps in a different venue.   We have been providing public-facing Helix RHEL 6 and 7 VMs for some time, there's some magic in the Azure gallery images that doesn't require us to deal with subscription managers.

[2020-07-30 00:32] jkotas opened #40115 "Http2_MultipleConnectionsEnabled_IdleConnectionTimeoutExpired_ConnectionRemovedAndNewCreated test failure"
[code]
Failed in #40053 on net5.0-Linux-Debug-x64-CoreCLR_release-Debian.9.Amd64.Open

Log: https://github.com/dotnet/runtime/pull/40053/checks?check_run_id=925107221

[2020-07-30 00:32] #40016 closed

[2020-07-30 00:33] terrajobst commented on #40111
Will the other overloads be fast enough though or will folks always have to cache if perf is critical? If so, I think we're better off either making the analyzer smarter or just telling people to suppress in hot paths.

[2020-07-30 00:36] danmosemsft commented on #38872
@pgovind you can see here https://apireview.net/backlog

[2020-07-30 00:55] AndyAyersMS commented on #37223
With #37679 restored, I can get JIT/Directed/refbyref/ref2iu_il_d/ref2iu_il_d.dll to crash readily under jitstress/gcstress as in the top message here. One method that has issues is MethodInfo.CreateDelegate.

Here's the relevant bit of the codegen dump. It appears `r2` gets GC killed too early; it needs to remain gc-live across the call.
[code]

[2020-07-30 01:02] AndyAyersMS commented on #37223
Suspect it's because we've added R2 to `RBM_PROFILER_LEAVE_TRASH` to avoid having LSRA allocate it across the call, but this also has the side effect of killing the GC ref in R2 when we do gc liveness.

So we can either forcefully revive R2 in our custom handling (armarch's `genProfilingLeaveCallback`) or else special case this in lsra. Will try the former to see if it works.

[2020-07-30 01:12] GrabYourPitchforks commented on #35851
@tarekgh Do you have any gut feel on whether this would be a candidate for backporting? I think you were involved in some other backporting conversations.

[2020-07-30 01:18] tarekgh commented on #35851
@GrabYourPitchforks do you mean backporting to the Full Framework? or previous versions of .NET Core?

This depend if there is a customer blocked by that and there is no easy workaround can be applied. from what I am reading this is not meeting the servicing bar. we should fix it in 5.0 and if we get any complaint in the future we can back port at that time.

[2020-07-30 01:20] GrabYourPitchforks commented on #35851
Should've clarified - Full Framework servicing. Thanks for the tip. Let's try this out in 5.0 for now and see how things pan out.

[2020-07-30 01:29] AndyAyersMS commented on #37223
Seems like #37679 plus
[code]
will do the trick.

[2020-07-30 01:30] HaloFour opened #40118 "Support for `init` properties in dynamic binder"
See: https://github.com/dotnet/csharplang/issues/39#issuecomment-666012974

Seems that the C# runtime binder ignores `modreq` metadata on members.  This enables `init` properties to be trivially mutated by casting to `dynamic`:

[code]

[2020-07-30 01:30] Maoni0 commented on #38518
that last assert is very odd and therefore would probably be the easiest to start with - when we are actually doing BGC work, settings.concurrent should always be true. when we do a foreground GC, we always save the BGC setting and revert back to BGC settings at the end via

`settings = saved_bgc_settings`

would be good to check other threads are doing - they'd better not be doing any FGC work! '

[2020-07-30 01:56] noahfalk commented on #168
If we think issues are puntable then maybe it should be closed as "Won't Fix"? Did any customer care that we left this unfixed for a year? Would we still support RHEL6 in .NET 6?

[2020-07-30 01:57] jaredpar commented on #40009
Roslyn certainly could. Assuming this wasn't done initially because it can complicate code gen a bit and it's a scenario for which the user has received a warning. Generally that gets prioritized fairly low.

Agree Roslyn would ideally delay the closure allocation until it was actually used. This has come up before and is tracked by [issue 20777](https://github.com/dotnet/roslyn/issues/20777). The

[2020-07-30 02:02] steveisok opened #40121 "[Wasm] System.Reflection.MetadataLoadContext.Tests crash when loading from assembly name"
Per https://github.com/dotnet/runtime/issues/39650#issuecomment-661335171, we are to set `Assembly.Location` to an empty string for any assembly loaded from memory.  In https://github.com/dotnet/runtime/pull/39446, this is attempted and required adjustments to tests that relied on the path `Assembly.Location` to load assemblies.

As you can see in https://github.com/dotnet/runtime/blob/424b7b8c93d

[2020-07-30 02:03] steveisok commented on #40121
/cc @CoffeeFlux @vargaz

[2020-07-30 02:20] jashook commented on #168
I suggest closing this bug. This is not a supported platform for this release. When the bug was opened things were not as concrete.

@janvorli do you object?

[2020-07-30 02:33] #39737 closed

[2020-07-30 02:50] v-haren commented on #39932
failed again in job: [runtime-coreclr jitstress 20200728.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=749233&view=ms.vss-test-web.build-test-results-tab&runId=23231242&resultId=100001&paneView=debug)

failed test: profiler/eventpipe/eventpipe/eventpipe.sh

Error message
[code]

[2020-07-30 03:13] mangod9 commented on #40118
@HaloFour I assume you expect this to not compile in c#, additionally the runtime to also throw?

[2020-07-30 03:18] GrabYourPitchforks commented on #40080
@apayero Please include the text and stack trace of the exception you're seeing. We need this information in order to assist you further. Thank you!

[2020-07-30 03:22] GrabYourPitchforks commented on #40012
What's wrong with using the method name `HashData`, same as we added on the other types? "Hashing" is still the appropriate term. It just happens to be keyed rather than unkeyed.

[2020-07-30 03:25] HaloFour commented on #40118
@mangod9

I'd expect it to compile in C# (since it's being cast to `dynamic`) but to throw at runtime.  It probably should be doing this already since the member would have a `modreq` applied to it and shouldn't be invoked without the binder understanding what that modifier entails.

If you take `dynamic` out of the equation and attempt to mutate the property it will fail to compile: [SharpLab](ht

[2020-07-30 03:26] GrabYourPitchforks commented on #39956
@xtqqczze Can you expand on the motivation for this? The StackOverflow question doesn't really give much context so it's difficult to tease out what problem this is intended to solve.

[2020-07-30 03:51] vcsjones commented on #40012
Nothing. I just thought Hash was not exactly descriptive, but maybe I thought about it too hard. We can keep the name too.

[2020-07-30 04:16] Serentty commented on #36582
How much of COM would this allow other platforms to use through .NET? Consuming COM APIs? Creating them?

[2020-07-30 04:26] EdinaLewis commented on #20270
This missing feature has been the primary reason for my team not adopting .NET Core. Am I to understand then that this will not be part of .Net 5 either?

Please reconsider!

[2020-07-30 04:30] Coderrob commented on #36010
Sure, I’ll see what I can do this weekend. I found that ability to be incredibly useful in binding. We’ll see what happens.

[2020-07-30 05:18] smoogipoo commented on #40009
@AndyAyersMS The example I posted was hoisted from https://github.com/ppy/osu-framework/blob/c857318bdf8d3bb06b2d806bc957be571bded0ed/osu.Framework/Graphics/Cursor/TooltipContainer.cs#L195-L253.

The code which allocates (L237-252) runs <1% of the time, with majority of exits being done through L214.

The resultant IL: https://gist.github.com/smoogipoo/0ae07bebe7478c6960da22b16983a67b

[2020-07-30 05:25] GrabYourPitchforks commented on #23868
Thanks all for the discussion. Some random thoughts on this:

- I don't think we should add any surface area to the `Guid` type. If we add factory methods, it's going to add confusion. "What's the difference between all of these, and which one should I use?" is going to come up.

- For the same reason, I wouldn't add a `Uuid` type. The range of valid `Guid` and `Uuid` values would be identical, so

[2020-07-30 05:35] echesakovMSFT commented on #38518
One more failure like this
[code]

This is what other threads do
[code]

[2020-07-30 05:40] sywhang commented on #31900
@semyon2105 Thanks. I tried running your repro and have some findings I'd like to share, but since the issue is unrelated to any runtime issues (including the one posted here), I will post my findings in the issue you initially reported it in the prometheus-net repo.

@josalem I believe the recurrence that you saw here is related to the mmap fix I made back in 3.1.5 - I'm going to close this issue

[2020-07-30 05:40] #31900 closed

[2020-07-30 05:45] krwq commented on #40088
neat

[2020-07-30 06:28] mafalarz opened #40127 "Net Core 3.1 ignores VerifyServerCertificateCallback"
I added the following code:
ldapConnection.SessionOptions.VerifyServerCertificate += delegate { return true; };

When I run my website locally (IIS Express) on Net Core 3.1 it works, but when I run it on a IIS Server then that line of code gets bypassed and I get The LDAP server is unavailable (If I switch to a LDAP server that has a valid SSL certificate it works, if I switch back to a LDAP serve

[2020-07-30 06:28] nblumhardt commented on #29400
I may get a chance - a bit short of time, though, so I'll be pleased if someone else beats me to it :-)

[2020-07-30 07:06] v-haren opened #40128 "Test failure: JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_Part0_ro/AdvSimd_Part0_ro.sh"
failed in job: [runtime-coreclr crossgen2 20200728.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=749341&view=ms.vss-test-web.build-test-results-tab&runId=23233482&resultId=102552&paneView=debug)

Error message
[code]

[2020-07-30 07:18] iSazonov commented on #24468
Now this proposal is interesting if we want modernize the old Array type.

[2020-07-30 07:18] v-haren commented on #39950
failed again in job: [runtime-coreclr libraries-jitstress 20200729.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=749378&view=ms.vss-test-web.build-test-results-tab&runId=23234516&resultId=123014&paneView=debug)

failed test: System.Numerics.Tests.GenericVectorTests.LessThanOrEqualSByte

Error message
[code]

[2020-07-30 07:35] alnikola commented on #39608
Sorry, my mistake, there should be **one more** `.ConfigureAwait(false)` after `await RunParallel({...})`. Please, find the full `Program` type's code below.

[code]

[2020-07-30 07:39] ManickaP commented on #40115
cc: @alnikola

[2020-07-30 07:42] Unders0n opened #40129 "net core signalr, Getting 401 and Bearer error="invalid token""
I have issue very similar to one mentioned in the thread https://github.com/dotnet/aspnetcore/issues/4620
Unfortunately i can't get what exactly resolves the issue there, from my side i've tried everything mentioned in thread and still getting incorrect behavior mentioned in the thread.
I believe it's something with Startup Configure pipeline sequence.
Facts:
1. backend - Net core 3.1 , Signalr 2.

[2020-07-30 07:55] Marusyk commented on #40020
I'll try to prepare PR for this. Please assign it to me

[2020-07-30 07:58] #37960 closed

[2020-07-30 08:12] karelz commented on #39210
We have seen the interest. Last time we looked at it, there was difficulty in global vs. per session/handle settings - the latter is something we do not expose today.
I'm all for it, if we find a reasonable way to do it ...

[2020-07-30 08:28] imaramos opened #40131 "How to install vc_redist in nanoserver"
AFAIK  it is not possible to install vc_redist in nanoserver at least in the traditional way because nanoserver is not able to install msi packages.
I have tried to copy dlls such as `vcruntime140.dll` and `vccorlib140.dll` from windows server core to `C:/Windows/System32/`, but I am still getting  `System.BadImageFormatException` when running my app (which has mixed mode assemblies).
Can someone

[2020-07-30 08:28] hoyosjs commented on #40129
Given this is ASP Auth issues, I'll transfer your issue to them as they are more likely to know how to help.

[2020-07-30 09:35] Gnbrkm41 commented on #39886
Oh, no, not again.... hitting this issue again, specifically on my laptop.

[2020-07-30 09:45] Gnbrkm41 commented on #39886
I suppose it's a good thing that I'm also hitting this on my desktop as well. 🤨

[2020-07-30 09:51] MichalStrehovsky commented on #40087
From .NET Native experience:

This API is similar to the `Assembly.Location` API - the `Location` API has empty string as a documented value on MSDN and .NET Native used that. We got a lot of questions about this API and bug reports (failure in a NuGet package that the developer is not able to root cause that we then later root caused to not handling the empty string and using it for stuff that la

[2020-07-30 09:55] MaximLipnin commented on #40112
It seems to be flaky - I got the failure 4 times out of 10 locally.

[2020-07-30 09:57] MaximLipnin commented on #40112
Besides that, there can be something like:
[code]

[2020-07-30 10:02] MaximLipnin opened #40132 "[wasm] The unboxing error during the System.Runtime.InteropServices.JavaScript.Tests run"
The raw log from CI: https://helix.dot.net/api/2019-06-17/jobs/672399eb-f936-4a2a-9364-a171d3cc0adb/workitems/System.Runtime.InteropServices.JavaScript.Tests/console

[code]

[2020-07-30 10:05] marek-safar commented on #34168
Implemented in master

[2020-07-30 10:05] #34168 closed

[2020-07-30 10:09] MaximLipnin commented on #40132
It has been seen recently: https://github.com/dotnet/runtime/pull/39069#issuecomment-663498769

[2020-07-30 10:34] vitek-karas commented on #40103
This issue sort of propagates to `Assembly.GetFile`/`Assembly.GetFiles` as well. On non-single-file app `Assembly.GetFile` returns the assembly file opened as a file stream. For in-memory assemblies the method throws `IOException` because it simply tries to open `Module.FullyQualifiedName`.

In single-file it now throws `FileNotFoundException` (that's this issue) so the exception type is different

[2020-07-30 10:38] ViktorHofer commented on #37966
@safern just curious, why did you add the `--no-incremental` flag to the command?

[2020-07-30 11:06] mazzus opened #42337 "FileConfigurationProvider throws FileNotFoundException without filename"
When a file is not found during loading of configuration it would be helpful if the exception included the filename of the missing file.

It looks like it would be very simple to pass the `Source.Path` to the *FileNotFoundException's* constructor.

The line in question is this:
https://github.com/dotnet/extensions/blob/be18161fbed286d6fb7a7b1c7999ce70a50cf3eb/src/Configuration/Config.FileExtension

[2020-07-30 11:10] huoyaoyuan commented on #40111
It should be possible to intrinsify the check: the current OS are constant during JIT, and the the string is typically constant too.

[2020-07-30 11:12] karelz commented on #34858
Not enough information to make it actionable sadly, so closing.
If anyone is in position to dig deeper - collect logs, packet capture, or debug locally, we can reopen and guide you ...

[2020-07-30 11:12] #34858 closed

[2020-07-30 11:18] alnikola commented on #40115
It's caused by a test agent perf downgrade. A bit later, I will try to adjust timeouts again.

[2020-07-30 11:22] CoffeeFlux commented on #40121
That sounds pretty bad. If the crash reason is inconsistent, it could well be memory corruption. This is a wasm-exclusive issue? I wonder if this happens on desktop if you change that to always try and load by name.

[2020-07-30 11:24] karelz commented on #38185
@DavoudEshtehari is it blocking you? Do you have a business case for us to fix it in 2.1 servicing?
I assume there are no workarounds like using reflection, or something like that ... right?

[2020-07-30 11:28] karelz commented on #39926
Thanks for confirmation @iDreamCXK. As it seems to be addressed in .NET 5, is it an option for you to migrate to .NET 5?

[2020-07-30 11:29] karelz commented on #39926
Closing as addressed in .NET 5.
We can keep discussing how to unblock the situation on 3.1 -- e.g. by migration to 5.0.

[2020-07-30 11:29] #39926 closed

[2020-07-30 11:43] jkotas commented on #40087
Good point. Throwing from APIs like this makes diagnostic a lot easier.

[2020-07-30 11:55] jkotas commented on #40111
Yes, it is possible in theory, but it makes the complexity go through the roof once things like AOT are added to the mix.

[2020-07-30 12:06] montyclt commented on #29743
This will support init modifier of C# 9?

[2020-07-30 12:20] Gnbrkm41 commented on #39886
Looks like this might be an issue with the Windows SDK... the code builds fine without the latest preview SDK (20180), but doesn't with the SDK.

[2020-07-30 12:27] vitek-karas opened #40138 "Assembly.LoadFrom works on files inside the single-file bundle"
For example if the single-file application is in `C:\temp\MyApp.exe` and it has `MyApp.dll` bundled in it, calling `Assembly.LoadFrom(@"C:\temp\MyApp.dll")` will actually work and return the `MyApp` assembly. Even though `C:\temp\MyApp.dll` doesn't exist on disk.

For single-file apps I think that `Assembly.LoadFrom` should still work on real files (ability to load a plugin for example). It should

[2020-07-30 12:28] vitek-karas commented on #40138
/cc @MichalStrehovsky @jkotas for API behavioral compatibility

[2020-07-30 12:28] xtqqczze commented on #39956
@GrabYourPitchforks This proposal is purely for developer convenience, `guid.IsEmpty` is less code then `guid == Guid.Empty`. `IsEmpty` would also be listed in IntelliSense. This will reduce the chance of a developer writing something bad like `guid == null` (for example see https://github.com/PowerShell/PowerShell/pull/13285/files).

[2020-07-30 12:30] jkotas commented on #40138
I agree with the behavior you are proposing.

[2020-07-30 12:38] GRustamyan-ST commented on #1634
@kouvel For me it is not blocker right now, since i'm running my app with a classic confinment. But it is really overkill and being able to switch to strict confinment would be great! (it doesn't require --classic command line argument and not all users of my app are familiar with command line)

[2020-07-30 12:40] stephentoub commented on #39956
Thanks. I'm not sure why Guid is special here. I don't want us adding IsEmpty properties to every value type, and I don't see why Guid deserves special treatment here over other value types. `== default` works fine.

[2020-07-30 12:40] GRustamyan-ST commented on #1634
Unfortunatly I wasn't able to test jdstrand suggested workaround, since it is way out of my competense. :(

[2020-07-30 13:13] xtqqczze commented on #39956
@stephentoub I agree there is no reason for this to be `Guid` specific. Is there a case for `IsEmpty` property on types with `public static T Empty` field (this is likely a high number)?

[2020-07-30 13:20] berndku commented on #40072
Thanks, after changing the options to a single instance the issue could not be observed any longer during a 2 hour load test.

[2020-07-30 13:25] Symbai commented on #40138
Curios about the following scenario:

- I have a single application file which is bundled with a `Bla.dll` file
- The single application file is located on my desktop
- I also have a DLL file which is located on m desktop called `Bla.dll`
- I want to force loading `Bla.dll` which is bundled with my single application file but NOT the one on my disk which is in the same existing folder.

How would

[2020-07-30 13:29] #28244 closed

[2020-07-30 13:34] steveisok commented on #39428
Yeah. it does seem doable for 5.0.

[2020-07-30 13:42] IshmaZX82 commented on #40066
Yes. Thank you.

[2020-07-30 13:51] YairHalberstadt commented on #40118
In the discussion about this the C# team seemed to feel it would be better not to throw:

See the discussion in https://github.com/dotnet/csharplang/issues/3376

Specifically see https://github.com/dotnet/csharplang/issues/3376#issuecomment-617899163

[2020-07-30 13:59] vitek-karas commented on #40138
This issue is about the fact that `Assembly.LoadFrom` does not behave like `File.IO` APIs in this case - we need to fix that. Any API which loads assembly from a path (`Assembly.LoadFrom`, `Assembly.LoadFile`, `AssemblyDependencyResolver.LoadFromAssemblyPath`) should only work on real files on disk. So if you want to load the file on disk next to your main `.exe` you would call one of these path l

[2020-07-30 14:01] fededim opened #40140 "System.Text.Json exception when trying to serialize NaN - problem with NTSTopologySuite"
I am working on a project based asp.net core 3.1, EF Code First and NTSTopologySuite. I do have Point properties in my entites to specify geographic location, however when I try to return the entity from a standard WebApi2 controller the serialization fails with the following error:

The problem is that the Point class has some properties with NaN values. I could skip the serialization of Point pr

[2020-07-30 14:02] ViktorHofer commented on #39598
Not that I'm aware of. cc @jkoritzinsky @janvorli

[2020-07-30 14:02] alnikola commented on #35126
Agree, it looks like the best solution from cost/benefit perspective.

[2020-07-30 14:02] ViktorHofer commented on #39225
dup of https://github.com/dotnet/runtime/issues/39641

[2020-07-30 14:02] #39225 closed

[2020-07-30 14:05] chriskuech commented on #40029
@javiercn , thanks for the quick triage.  We do currently store Tasks as you describe, but this leads to some messy error handling code to avoid caching errors and to avoid the appearance of multiple erroring requests instead of one.  I will see if memcache can solve the second scenario.

[2020-07-30 14:05] vitek-karas commented on #40103
Repro is part of the test app here: https://github.com/vitek-karas/single-file-feature-test

[2020-07-30 14:05] vitek-karas commented on #40138
Repro is part of the test app here: https://github.com/vitek-karas/single-file-feature-test

[2020-07-30 14:07] ViktorHofer commented on #32249
Fixed (documented) by https://github.com/dotnet/runtime/commit/b7f809d7e37f8dade15fc6aa588565d3f0ee20a6: https://github.com/dotnet/runtime/blob/b7f809d7e37f8dade15fc6aa588565d3f0ee20a6/docs/workflow/building/libraries/README.md#build-packages

TL;DR:

[code]

is sufficient now. No allconfigurations build needed anymore.

[2020-07-30 14:07] #32249 closed

[2020-07-30 14:10] steveisok commented on #40121
@CoffeeFlux I ran the same changes against desktop. It fails too.

https://gist.github.com/steveisok/0b3e19e03040a01705caad7012a500be

[2020-07-30 14:10] ViktorHofer commented on #35752
Will be fixed with https://github.com/dotnet/runtime/pull/39923.

[2020-07-30 14:10] MaximLipnin commented on #40112
The failing tests will be disabled in https://github.com/dotnet/runtime/pull/40139

[2020-07-30 14:12] stephentoub commented on #40072
@steveharter, can we handle this better? While we encourage folks to cache, not doing so leads to really bad perf with all the code generation and jit'ing.

[2020-07-30 14:13] ViktorHofer commented on #36215
@steveisok moving to infrastructure-mono as the remaining work is updating the interpreter leg to use the new mechanism.

[2020-07-30 14:16] ViktorHofer commented on #39401
@jeffkl what should we do with this issue? Asking as I don't see anything actionable on our (infrastructure) side.

[2020-07-30 14:18] ayende commented on #24767
If this work just for managed code, that would still be a great feature, and NRE handling already does the right thing here.

[2020-07-30 14:24] karelz commented on #39666
Duplicate of #19443

[2020-07-30 14:24] #39666 closed

[2020-07-30 14:25] janvorli commented on #36842
It is a local developer scenario when someone wants to get a local build of all the packages locally. One such case is Alpine ARM32 which is not officially supported / built yet (we produce only Alpine arm64 packages) and people were asking for it. There is nothing preventing it from working except for the inability to generate the packages. Official builds (of Alpine arm64 / x64) don't have this

[2020-07-30 14:36] CoffeeFlux commented on #40121
Oh, I see. `MetadataLoadContext.LoadFromAssemblyName` seems to be triggering a resolve handler that calls back into it again, hence the stack overflow. That seems like the runtime is probably behaving correctly and this is an issue with your changes? Or is CoreCLR passing with your changes and this is mono-specific.

[2020-07-30 15:01] CarnaViire commented on #39011
I've done a little investigation on that. As far as I've seen in my repro, the issue happens with 5.0 client and both 5.0 and 3.1 servers. However, 3.1 client works fine with both 5.0 and 3.1 servers. So I believe the problem is within the client and it was introduced somewhere in 5.0.

The debug of 5.0 client shows that during auth the client goes into negotiations with server using method GetOut

[2020-07-30 15:08] alnikola commented on #38414
@koikin Is there any proxies between the client and the server? To use Windows authentication, you need a strong client to server connection affinity which can get broken by a proxy. Please take a look at very similar issue #13160

@karelz @Tratcher That similar issue with Windows auth failing to go through proxy was [closed as "by design"](https://github.com/dotnet/aspnetcore/issues/13160#issueco

[2020-07-30 15:09] lewing commented on #38987
@MaximLipnin I think this should all be throwing PNSE now, is the reproduction just running the the System.Net tests?

@kjpou1 please follow and verify they are throwing

[2020-07-30 15:10] PSanetra commented on #23868
I think that is just a reason to document those new methods.

I agree

I guess the reason behind avoiding SHA-1 is that it is partially broken for cryptographic use cases. In case of creating UUID v5 this seems to be irrelevant as the hash is truncated to 128 bit anyway for creating the UUID.

[2020-07-30 15:13] sidney-pauly opened #40143 "Add Pattern Matching to Linq.Expressions"
## Background and Motivation

I'm currently building code generating code with Linq.Expressions, that needs to produce a function which switches on the type of an object and performs a specific action specific to the matched class. One option is to use `myObject.GetType().FullName` and make the switch on it. As this is a switch string it should be significantly slower than directly switching on th

[2020-07-30 15:16] SamuelEnglard commented on #23868
Personally, I agree

I disagree. This is a square and rectangle case. All `Guid`s are valid `Uuid`s but not all `Uuid`s are valid `Guid`s.

v3 UUID is created using MD5, another cracked algorithm. I would argue that since in both cases it is not being used for cryptography but ID usage.

How often this is needed I can't say, but implementing correctly can be a pain, even more so if you must do so

[2020-07-30 15:47] jkotas commented on #40072
Add analyzer for this?

[2020-07-30 15:48] geoffkizer commented on #39941
Sure. Something like:

[code]

I don't particularly love the name `NetworkException` here, because it feels too narrow; these exceptions should apply to stuff like in-memory pipes too. I suppose we might call it `StreamException`, but that seems too general... `ConnectedStreamException`? That's kinda wordy... suggestions welcome.

[2020-07-30 15:52] AaronRobinsonMSFT commented on #36582
@Serentty The name of the API and issue implies a bit more than what the support would actually enable. The `ComWrappers` API is about enabling support in the runtime for efficient `IUnknown` identity mapping and support for the [Reference Tracker API](https://docs.microsoft.com/windows/win32/api/windows.ui.xaml.hosting.referencetracker).  Supporting this API in a cross-platform manner wouldn't ma

[2020-07-30 15:52] jkotas commented on #40138
Nit: The best API for this is `Assembly.GetManifestResourceStream`.

[2020-07-30 16:02] #38878 closed

[2020-07-30 16:03] DavoudEshtehari commented on #38185
Hi @karelz

We have several issues related to the PR [#579](https://github.com/dotnet/SqlClient/pull/579) that are blocked by this issue.

If I understood correctly, besides the sample app, you can try the PR I mentioned.

You're right. I have no idea for a workaround. If you have any proven idea please, let me know.

[2020-07-30 16:22] cheenamalhotra commented on #38185
@karelz

Below issues are waiting for PR dotnet/sqlclient#579:
- dotnet/sqlclient#54
- dotnet/sqlclient#459
- There's also an email investigation going on with Azure Data Studio team regarding similar issue they're issue. We're yet to confirm if the fix in proposition applies to that.

As for workaround for driver issue, we have below:
- Enabling MARS connection property.
- Use Sync operations.

A

[2020-07-30 16:25] AndyAyersMS commented on #40009
@jaredpar since you already have an issue for this we can keep this one to cover the codegen aspect. Marking as future.

[2020-07-30 16:26] marek-safar opened #40147 "Use DISABLE_DLLMAP for Browser build"
Browser build still includes Mono's dll map feature. The flag is set in https://github.com/dotnet/runtime/blob/master/src/mono/configure.ac#L1415 but the line is not actually hit.

[2020-07-30 16:28] alnikola commented on #35126
Triage:
### Plan A
The simplest approach that is to disable validation on condition is a safe change.
### Plan B
We decided to proceed with one of the following options for .NET 5.

[code]
[code]

[2020-07-30 16:33] CoffeeFlux commented on #40147
Should this be backported to the preview? If so, what's the process for that?

[2020-07-30 16:35] marek-safar commented on #40147
No, master is fine

[2020-07-30 16:37] EatonZ commented on #39488
I have a Windows 7 VM with an uninstallable .NET Framework 4.8.
I uninstalled it and installed v4.6.2. The error still occurs.
I then tried v4.7, and the error did **not** occur.
It's clear that v4.7 is the min supported version, as @danmosemsft suggested. I just wanted to fully confirm it.

[2020-07-30 16:37] karelz commented on #35184
Bunch of improvements in the pace happened (some just recently) -- we think this is "it" for 5.0, moving to Future for potential further improvements.

[2020-07-30 16:38] janvorli commented on #40049
The version.c is generated by a msbuild script invoked here:
https://github.com/dotnet/runtime/blob/65c9be6388a99739bd72dc2136f4a0a59b00db72/eng/native/build-commons.sh#L104-L108
 It is used to embed the version / git commit hash into the binary so that it can be found using the following command (example for libcoreclr.so, the version is embedded into all of the binaries we generate).
[code]

[2020-07-30 16:40] stephentoub commented on #35126
What is the static type returned from these?

[2020-07-30 16:42] stephentoub commented on #39956
Personally I don't think it's worth it.

[2020-07-30 16:46] geoffkizer commented on #39011
It would be good to debug 3.1 and see why it doesn't get InvalidToken here...

[2020-07-30 16:46] layomia commented on #40140
`NaN` and other floating point constants (infinity, negative infinity) are not valid for (de)serialization using System.Text.Json In ASP.NET 3.1, hence the error you are seeing.

For .NET 5.0, we've added a "[number handling](https://github.com/dotnet/runtime/issues/30255)" feature that allows you to opt in to read and write these floating point constants - https://github.com/dotnet/runtime/pull/3

[2020-07-30 16:46] #40140 closed

[2020-07-30 16:47] stephentoub commented on #40009
@AndyAyersMS, but that won't help with the actual example, no? I don't see how the JIT can eliminate the allocation in the case, unless it's going to stack alloc or something.

[2020-07-30 16:53] karelz commented on #40044
@antonfirsov wants to take it on ...
@geoffkizer can you tell him when it is clear we want both factories in 5.0? (follow up of the ongoing design discussions)

[2020-07-30 16:54] safern commented on #37966
From what I remember there was an issue that if people built with their changes and then try to generate reference source again with dotnet build, the `GenerateReferenceSource` target is skipped and is a no-op because of the inputs and outputs because they're up to date.

[2020-07-30 16:55] wfurt commented on #39011
_if_ the Negotiate is going down the Kerberos path, we made some changes in 5. I'm going to set it up same way as @CarnaViire did and I'll take a look at the the blob.

[2020-07-30 16:56] geoffkizer commented on #26843
No, #24138 is unrelated.

[2020-07-30 16:58] #40066 closed

[2020-07-30 17:00] geoffkizer commented on #24138
This got addressed via #35800.

[2020-07-30 17:00] #24138 closed

[2020-07-30 17:00] ViktorHofer commented on #37966
That makes sense, thanks for clarifying 👍

[2020-07-30 17:02] geoffkizer commented on #40044
Will do.

[2020-07-30 17:02] xtqqczze commented on #39956
@stephentoub OK in that case I shall close this issue.

[2020-07-30 17:02] terrajobst commented on #34033
Is this something that needs to be done for .NET 5?

[2020-07-30 17:05] #39576 closed

[2020-07-30 17:05] #39579 closed

[2020-07-30 17:05] #39581 closed

[2020-07-30 17:06] geoffkizer commented on #35126
Something like this:

[code]

[2020-07-30 17:08] terrajobst commented on #40111
@jkotas, thoughts on [this](https://github.com/dotnet/runtime/issues/40111#issuecomment-666002714)? I'm fine with adding the other overload if that addresses the perf, but if that those aren't good enough than I'd rather improve the analzyer.

[2020-07-30 17:21] danmosemsft commented on #40099
@Jozkee is this required to ship 5.0 (per milestone set here)?

[2020-07-30 17:22] sandreenko opened #40149 "Support Runtime native build on Apple arm64."
Currently, there are many projects that are failing:

<details>
  <summary>All failing targets</summary>
    cmake --build "runtime/artifacts/obj/coreclr/OSX.arm64.Checked" --target libunwind_dac -j 5

    cmake --build "runtime/artifacts/obj/coreclr/OSX.arm64.Checked" --target coreclrpal -j 5

    cmake --build "runtime/artifacts/obj/coreclr/OSX.arm64.Checked" --target clrgc -j 5

    cmake --bui

[2020-07-30 17:23] NikolaMilosavljevic commented on #33672
Confirmed that this is was fixed, using opensuse/leap:15.2 docker image.

OpenSUSE bug for reference: https://bugzilla.opensuse.org/show_bug.cgi?id=1167603

[2020-07-30 17:23] #33672 closed

[2020-07-30 17:29] echesakovMSFT commented on #38518
Looks that `clrjit!Compiler::impCheckCanInline -> coreclr!getMethodInfoHelper -> coreclr!getILIntrinsicImplementationForUnsafe -> coreclr!CoreLibBinder::GetMethod` triggers `coreclr!CoreLibBinder::TriggerGCUnderStress` in the same time while BGC does work.

[2020-07-30 17:30] stephentoub commented on #35126
Should it implement IDictionary?

[2020-07-30 17:30] danmosemsft commented on #37533
@tommcdon this is your area I guess?

[2020-07-30 17:31] Jozkee commented on #40099
@danmosemsft I think it could disappoint many users if we don't ship this on 5.0.

[2020-07-30 17:31] danmosemsft commented on #33796
@jeffhandley is this 5.0 work?

[2020-07-30 17:33] stephentoub commented on #35126
(And as long as we're exposing this, we don't also want to avoid the per header allocation for the value (s)?)

[2020-07-30 17:34] BruceForstall commented on #37082
I ran the System.Memory.Tests case over 450 times and didn't see this assert.

[2020-07-30 17:35] buyaa-n commented on #40111
For now analyzer only keep track of local cache result, we talk about this [here](https://github.com/dotnet/runtime/issues/33331#issuecomment-656953866):
[code]

[2020-07-30 17:36] janvorli commented on #40149
PAL is not aware of the possibility of arm64 on OSX, so there are several places that need to be fixed. These are mostly context related places and asm helpers.

[2020-07-30 17:46] safern commented on #37082
I remember thin being reproing pretty consistently on TestBitmap tests.

[2020-07-30 17:50] scalablecory commented on #35126
True. We could have something like:

[code]

[2020-07-30 17:56] suj87 commented on #895
For anyone else coming across this, see https://github.com/2Toad/Rijndael256/issues/13#issuecomment-637724412 for a quick solution. Requires BouncyCastle.NetCore.

[2020-07-30 17:58] BruceForstall commented on #37082
Unfortunately, due to https://github.com/dotnet/arcade/issues/5786, we aren't getting any Kusto data about Linux arm failures, so we can't look historically and see what the failure rate is.

[2020-07-30 17:59] layomia commented on #30258
From offline discussion with @GrabYourPitchforks about JsonSerializer support for init-only properties:

[2020-07-30 17:59] geoffkizer commented on #35126
That does seem like goodness, but then, HttpHeaders itself does not implement IDictionary, so it would be weird to do it here.

I can certainly see some value here...

Methods on HttpHeaders like GetValues, TryGetValues, Contains, etc presumably don't operate on invalid header values today, so it makes sense to have equivalents of these on HeadersWithoutValidation (or whatever this type is called)

[2020-07-30 18:03] AndyAyersMS commented on #40009
The jit is already optimizing away heap allocations (as in `safeMethod`) when object construction doesn't have side effects and the object is unreferenced after construction.
[code]
resulting code:
[code]
so the jit issue is to try and recognize these cases more broadly, removing completely dead allocations, and perhaps using code motion to sink allocations when objects are conditionally live when

[2020-07-30 18:05] #37223 closed

[2020-07-30 18:08] steveisok commented on #40121
Thankfully, this is actually not an issue.  The modifications I made to the tests were naive and once I better understood, was able to make the right corrections.

[2020-07-30 18:08] #40121 closed

[2020-07-30 18:09] MihaZupan commented on #35126
Would this contain a single value in the case we have the value as a single string, or still try to split it into values?

[2020-07-30 18:09] scalablecory commented on #35126
I would leave these as minimal design -- only enumeration -- and we can add more APIs (lookup etc.) later if we want.

[2020-07-30 18:11] dsplaisted commented on #34033
We are tracking the SDK change for this with dotnet/sdk#1101.  I'm not sure if there's any runtime change that will be needed.  @vitek-karas

[2020-07-30 18:16] AndyAyersMS commented on #38848
Got diverted for a few days -- back to active looking at this one.

[2020-07-30 18:19] danmosemsft commented on #40099
@Jozkee maybe, but master is a 6.0 branch in less than 3 weeks: if we add features, we're implicitly deciding to leave bugs un-fixed.

That's a general statement - I don't have context on this issue or JSON in general so it would be a good discussion to have with @ericstj .

[2020-07-30 18:23] jkotas commented on #40111
The current implementation of the OSPlatform overloads caches the result of the expensive string parsing inside `struct OSPlatform`. `RuntimeInformationHelper.IsOSPlatformOrLater(OSPlatform.Windows, 11)` does not do any string parsing. It just checks bools and ints.

[2020-07-30 18:23] Wraith2 commented on #40143
Why would this be the case?

[2020-07-30 18:23] AndyAyersMS commented on #38848
Trying to repro again. Note a [recent ci run](https://dev.azure.com/dnceng/public/_build/results?buildId=751080&view=ms.vss-test-web.build-test-results-tab) did not see these fail, so it's possible the underlying issue was fixed recently.

[2020-07-30 18:27] jeffhandley commented on #33796
@danmosemsft Moved to Future. Thanks.

We will target delivering this off-cycle soon after 5.0 since it will be good to get this out before folks start producing code that will violate the rule.

[2020-07-30 18:29] rickge opened #40281 "System.Diagnostics.Process.Threads property leaks ProcessThread and ThreadInfo instances in Linux"
I have a process that runs the following code periodically. My application is using netcoreapp3.1
Using dotnet-gcdump collect on this process and comparing two dumps, shows System.Diagnostics.ProcessThread objects building in memory.

[code]
The following code corrects the issue:
[code]

I could not see this same leak when running a dotnet core application in Windows.

Is there a way to avoid this

[2020-07-30 18:36] echesakovMSFT commented on #38518
In another failure that causes AV
[code]

I see a similar situation when `coreclr!WKS::GCHeap::StressHeap` that was trigger by the JIT runs together with BGC
[code]

[2020-07-30 18:36] terrajobst commented on #40046
* We should rename `w3cid` to `traceParent`
* We considered offering a span-based overload but right now the most common case for the use of the API starts with a header value which is currently only ever going to be a string. If the networking layer will give access in a span-based fashion we can add it.
* We should have a corresponding `Parse` method

[code]

[2020-07-30 18:40] layomia commented on #40082
This issue is not about System.Text.Json per se.

The `DateTime(Offset).Parse` methods do not have support for this format. Custom logic within your converter is needed to parse the number of ticks tick and then pass it to the [DateTime constructor](https://docs.microsoft.com/dotnet/api/system.datetime.-ctor?view=netcore-3.1#System_DateTime__ctor_System_Int64_) or [DateTimeOffset.FromUnixTimeSecon

[2020-07-30 18:40] Gnbrkm41 commented on #40049
Ah, I see. Perhaps I can use `remotePrebuildCommand` in the CMakeSettings.json to run the script prior to invoking Cmake...

[2020-07-30 18:40] echesakovMSFT commented on #38518
@Maoni0 Can you please suggest if what I am seeing could be an issue or this looks legitimate to you? In the meantime, I am going to try to see if there anything useful was captured in the stress log.

[2020-07-30 18:47] john-h-k commented on #40021
While implementing the `no. nullcheck` prefix for `ldfld`, i realised if it supported `ldflda` then this would allow this to work. ECMA doesn't say `no. nullcheck ldflda` is valid for some reason (i really am not sure why), but when i allowed it, I got the perfect constant folded codegen 🎉

[code]

[2020-07-30 18:47] vitek-karas commented on #31127
Should we also look into `AssemblyName.CodeBase` and `AssemblyName.EscapedCodeBase` - they are very similar to `Assembly.CodeBase`:
* Runtime fills in the same values for loaded assemblies
* When constructed manually the value is preserved
* Runtime never actually consumes these values - calling `Assembly.Load(AssemblyName)` completely ignores these properties on the name.

[2020-07-30 18:49] CarolEidt commented on #39742
@trylek Can you instruct me how to pass `COMPlus` options to the jit that's invoked by crossgen2?

[2020-07-30 18:50] samsp-msft opened #40151 "Host header transform with invalid value results in duplicate host headers"
Bug found by customer with Yarp. See https://github.com/microsoft/reverse-proxy/issues/334 for full thread.

[2020-07-30 18:50] carlossanlop commented on #38596
I was able to address this in https://github.com/dotnet/runtime/pull/37607

[2020-07-30 18:50] #38596 closed

[2020-07-30 18:53] vitek-karas commented on #38405
Based on discussion in https://github.com/dotnet/runtime/issues/40103 and https://github.com/dotnet/runtime/issues/40087 I suggest to modify the behavior as:
* `AppContext.BaseDirectory`
  * The single-file app directory for `PublishSingleFile=true` apps.  [Done]
  * The extraction directory for `PublishSingleFile=true` `IncludeAllContentInSingleFile=true` apps (netcoreapp3.x compatibility mode).

[2020-07-30 18:53] #35035 closed

[2020-07-30 18:54] terrajobst commented on #40095
* Looks good
* We should consider re-baselining when we bump the minimum Windows version, for similar benefits for net-new code.
* We should consider having an analyzer that flags checks for a higher version than what the guarded code actually needs.

[code]

[2020-07-30 18:59] wfurt commented on #40151
This may be related to #35126. I think this may not show up in enumeration and then YARP adds them even if the (invalid) header already exist.

[2020-07-30 19:00] Maoni0 commented on #38518
@echesakovMSFT thanks for looking into this! this callstack
[code]
says that this thread is *trying* to trigger a GC and is still waiting for `ThreadSuspend::SuspendRuntime` to return so the GC work hasn't started yet so `settings.concurrent` should still be true.

how easy/hard can you repro this? could I please ask you to maybe add a bit of change to help us to get some clues?

[2020-07-30 19:03] jkotas commented on #40103
It would be nice to explicitly throw in this case, and not depend what FileStream is going to throw by accident (it can even succeed if you have a file called `<Unknown>` in the current directory).

[2020-07-30 19:03] echesakovMSFT commented on #38518
It is pretty reliably repro - takes 10s of iterations to get failed. Sure, I would appreciate any suggestion to get this further.

[2020-07-30 19:04] terrajobst commented on #40101
* Looks good.
* It seems the direction is that Windows will require a store package. That's not expressible in an OS check. If that becomes the case we can remove the attribute, build a one-off analyzer, or generalize this into a new attribute.

**Assembly**: System.Security.Cryptography.OpenSsl

[code]

[2020-07-30 19:04] #39423 closed

[2020-07-30 19:08] terrajobst commented on #30657
* It was suggested to add support for custom cultures. New shape:

[code]

[2020-07-30 19:12] janvorli commented on #39742
crossgen2 has a `--codegenopt` option. For the option name, just strip the `COMPlus_` prefix from what you'd use at runtime. Example:
`--codegenopt JitObjectStackAllocation=1`

[2020-07-30 19:13] davidwrighton commented on #13695
Moving to 6.0 as r2rdump is not a shipping part of .NET 5 (its an internal development tool at this time).

[2020-07-30 19:14] tommcdon commented on #37533
@davmason this looks like an ICorProfiler test

[2020-07-30 19:14] buvinghausen commented on #38812
The easiest way to reproduce the issue is to use NodaTime 3.0 which has type converter support added.

This class makes a good test harness..

`public class NodaValues
{
	public NodaValues()
	{
		try
		{
			DateTimeZone = DateTimeZoneProviders.Tzdb.GetSystemDefault();
		}
		catch (DateTimeZoneNotFoundException)
		{
			DateTimeZone = DateTimeZoneProviders.Tzdb["America/New_York"];
		}

		Instant =

[2020-07-30 19:14] davidwrighton commented on #13122
While this would be nice, we don't need this for .NET 5. Moving to 6.0

[2020-07-30 19:15] Gnbrkm41 commented on #30657
Was alteration of the existing format specifier also considered as well? just curious, because it would be a neater solution if it's possible - I'm just not sure if it holds more value than the cost of it being technically a breaking changen although I don't think people would actually do something like `dbl.ToString("D123")` to print the thing, when one could already do that without all the ToStr

[2020-07-30 19:20] davidwrighton commented on #13348
@janvorli, Yes, the runtime handle's spans over unmanaged pointers as byrefs. The way it works is that within the method where the span is created, the JIT may not treat it as such, but when the span is returned to the caller, the caller has no way to know that the span is over an unmanaged pointer, and so must report it as a byref.

[2020-07-30 19:21] halter73 commented on #39941
`IOException` would be great, but I understand not wanting to add another property at this point to such a widely used Exception type. Maybe `ConnectionException`?

[2020-07-30 19:27] tannergooding commented on #30657
There was a lot of oddities in how custom format strings worked and it has a much greater risk of breaking some existing code, even if accidentally.

[2020-07-30 19:28] davidwrighton commented on #39612
This isn't terribly unreasonable. As you note, static methods are not called in a variant fashion, so the change is type-safe. I can explore if we can fix this as a bug fix, but I think the window for putting apis into System.Runtime to indicate the behavior has changed has passed unless this is *really* important.

[2020-07-30 19:31] #32507 closed

[2020-07-30 19:32] AlekseyTs commented on #39612
I guess compilers could use the flag indicating support for covariant returns as a workaround

[2020-07-30 19:40] tommcdon commented on #31500
Duplicate to #31927

[2020-07-30 19:40] #31500 closed

[2020-07-30 19:41] lewing commented on #40132
cc @pranavkm

[2020-07-30 19:49] eerhardt commented on #39102
This work isn't necessary to ship 5.0, so moving to 6.0.

[2020-07-30 19:51] danmosemsft commented on #39910
BTW, I didn't intend to suggest this was required for 5.0.

[2020-07-30 19:52] richlander commented on #39010
@danmosemsft ... good question. Yes.

In short:

- 3.1.7+ and 5.0 will be "preview supported" running as x64 under Rosetta 2.
- .NET 6.0 will support Apple Silicon (AKA ARM64).

[2020-07-30 19:54] eerhardt commented on #38439
In order for Ref.Emit to be completely trimmed in a Blazor application, we would also need to implement #38693. #38693 has perf tradeoffs that aren't desirable at this time. So moving both this and #38693 to 6.0.

[2020-07-30 19:54] danmosemsft commented on #39009
@mattgal are there instructions somewhere to help me see whether we have now gotten a dumpfile since my change?

If I click on History in AzDo I just get this, I don't see a way to get details:
![image](https://user-images.githubusercontent.com/6385855/88968218-ded02680-d263-11ea-9b92-c3a5306d5fc1.png)

[2020-07-30 19:55] eerhardt commented on #38693
Since the performance tradeoff of taking this change isn't necessarily a net-win, we won't be making this change in 5.0. Moving to 6.0.

[2020-07-30 19:55] davidwrighton commented on #39612
Looking a bit deeper at the spec, its been called out for ~15 years that static methods are not subject to variance restrictions, so the fix for this will not involve a note about changes to the ECMA spec.

[2020-07-30 19:56] KalleOlaviNiemitalo commented on #24468
I don't see how the MemoryExtensions.Sort methods address the original scenario. Those methods fully sort the span given, so they are not efficient for partial sort tasks like "what are the five largest of these 100000 integers?"

In C++, [std::partial_sort](https://en.cppreference.com/w/cpp/algorithm/partial_sort) sorts the smallest `middle - first` elements to the start of the range. @iSazonov's

[2020-07-30 20:00] hoyosjs commented on #39414
#39865 fixes this throughout. Missing VS integration to see the results..

[2020-07-30 20:00] #39414 closed

[2020-07-30 20:02] eerhardt commented on #32864
@vitek-karas @MichalStrehovsky - has this work been completed? I'm going to close this issue, since there is no work in `dotnet/runtime` for this. If there is remaining work needed in the linker, please open an issue in `mono/linker`.

[2020-07-30 20:02] #32864 closed

[2020-07-30 20:06] tommcdon commented on #36195
Moving to 6.0.  Out of order events with GC stress enabled needs further investigation.

[2020-07-30 20:08] eerhardt commented on #36782
This work isn't necessary for 5.0, so moving to 6.0.

[2020-07-30 20:09] tommcdon commented on #39932
This looks like a duplicate to #36195

[2020-07-30 20:09] #39932 closed

[2020-07-30 20:10] eerhardt commented on #38404
This isn't necessary for 5.0, there are a lot of APIs that are unsafe that aren't being marked. Moving to 6.0.

[2020-07-30 20:10] tommcdon commented on #11677
closing as dupe of #10539

[2020-07-30 20:10] #11677 closed

[2020-07-30 20:11] eerhardt commented on #37739
This isn't needed to ship 5.0, so moving to 6.0.

[2020-07-30 20:21] vitek-karas opened #40154 "Assembly.GetFile should throw an explicit exception for memory-loaded assemblies"
`Assembly.GetFile` and `Assembly.GetFiles` currently calls `Module.FullyQualifiedName` and then returns a `FileStream` over that path. For assemblies loaded from memory (or any other assembly not loaded directly from a file) this will try to load a file like `"C:\currentdirectory\<Unknown>"` because `Module.FullyQualifiedName` returns constant `<Unknown>` for memory-loaded assemblies. Opening such

[2020-07-30 20:22] vitek-karas commented on #40103
I create https://github.com/dotnet/runtime/issues/40154 to track that as it's not single-file specific behavior.

[2020-07-30 20:28] vitek-karas commented on #34033
@dsplaisted could you please link the right issue in SDK (the one you linked is from 3 years ago, so probably not the right one)?

I guess it's back to the original question above: What TFM will SDK write to `.runtimeconfig.json` - is it the simple one `net5.0` always, or is it more complicated than that.

/cc @agocke

[2020-07-30 20:29] sebastienros opened #40156 "Standardization of runtime assembly attributes"
In runtime assemblies we have these:

[code]

In ASP.NET ones:

[code]

I'd love to see these version metadata standardized across repositories, and probably keep it stable as long as possible, such that application that need to introspect these are broken less often.

Suggestions:
- Use different attributes for the version and the commit hash, like ASP.NET
- Standardize the repository url, probab

[2020-07-30 20:50] dsplaisted commented on #34033
@vitek-karas Sorry, I've now corrected the link.  Our plan is to write the TargetFramework without platform information to the runtimeconfig.json, ie `net5.0` even if the actual TargetFramework is `net5.0-windows`.

Thanks

[2020-07-30 20:52] vitek-karas commented on #34033
Perfect - in that case I don't think there's anything to be done on the hosting side (it all should work just like `netcoreapp3.1` for example)

[2020-07-30 20:53] weitzhandler opened #40157 "Feature request: Proper validation in .NET!"
## Background and Motivation

Validation is one of the most critical building blocks in any application, server or client. Yet the .NET lacks an official and adequate solution to this matter.

DataAnnotations validation have been integrated with the .NET for a long time.
With the advancement of .NET it's been discovered that although decorating properties with inline attributes is a neat way to de

[2020-07-30 21:03] mangod9 commented on #40156
Maybe something to handle at build infra level?

[2020-07-30 21:23] wfurt commented on #39011
For me it only fails if HTTPS is used. If I use HTTP, I get NTLM exchange and 200 at the end.
I'm wondering if we broke ChannelBinding (or something similar) inside SslStream.
From packet capture, I don't see anything wrong at HttpClient - it creates single connection and it fails at the end.
I will take a look at the Ssl layer.

[2020-07-30 21:28] sidney-pauly commented on #40143
@Wraith2 Switching on strings should be slower because two reasons:
- Strings are made up of multiple chars and therefore a comparison has to be done on each individual char.
- The casting/typehierachie is handled by the runtime, comparing them is therefore very fast.

In addition you get rid of one cast and the code is cleaner overall. Also pattern matching not only matches the type itself, but a

[2020-07-30 21:29] jkotas commented on #40156
dotnet/runtime is following standards stablished by .NET SDK, SourceLink and Arcade.

- If you are going to do (inside git repository):
[code]
The binary is going to have the same AssemblyInformationalVersion format as dotnet/runtime binaries.

- The Arcade-specific details of the standard are documented here: https://github.com/dotnet/arcade/blob/master/Documentation/CorePackages/Versioning.md#as

[2020-07-30 21:31] hoyosjs commented on #33564
The critical parts for this have been implemented and are in use. Details left for when @sdmaclea is in the office (current implementation has some dependencies we might want to revisit as the process is somewhat manual)

[2020-07-30 21:49] danmosemsft opened #40159 "Build for System.Runtime fails within VS"
Cleaned and synced to today
[code]
Build in VS and it fails with
[code]
I have a design time binlog available.

Reproes with both VS 16.8.0   and 16.6.5.

From the binlog we know it's when VS is trying to build with TF=Unix.

@ericstj any thoughts? @ViktorHofer and @safern are puzzled.

[2020-07-30 22:05] eerhardt commented on #37973
The `InvariantGlobalization` setting only affects the globalization data that we read from ICU. In relation to TimeZones, the only thing `InvariantGlobalization` affects is how we look up time zone names - we will use a non-localized name from the tzdata file. We will need a new setting here since we've shipped `InvariantGlobalization` already with the current TimeZone behavior.

In Blazor WASM 3.

[2020-07-30 22:15] Symbai commented on #40138
**For this specific issue feel free to ignore the following feedback:**

I'm pretty sure this leads to additional issues / requests in the future.  I can fully understand that its for the .NET team easier to consider everything to be "real" / existing on the disk, rather than having to modify so many APIs to work with both... however. A single file application is meant to be that. And by allowing

[2020-07-30 22:19] MattGal commented on #39009
@danmosemsft I don't think there's specific instructions but since you have Kusto Access, this query gives you 32 dumps since 7/6

[code]
I'll also email you the list of URLs from this query.

[2020-07-30 22:34] hoyosjs commented on #34109
This has been ported to 3.1 and 5.0;

[2020-07-30 22:34] #34109 closed

[2020-07-30 22:34] #39612 closed

[2020-07-30 22:40] danmosemsft commented on #39009
Thanks. Do you believe it's possible to get any of this through the azdo UI itself?

[2020-07-30 22:41] vitek-karas commented on #40138
I do agree that the existing property which let's developers include additional files in the bundle should ideally be eventually deprecated. My reasoning is:
* I don't want to go down the rabbit hole of inventing a way for all of the File IO APIs to work over the in-bundle virtual file system. Honestly it just sounds scary... - for one we would have to invent new syntax and support it pretty every

[2020-07-30 22:52] john-h-k commented on #29681
I don't think there is really any value in adding to delegate, particularly given it would possibly require additional support from tooling, and for prop/event you can just add to the individual accessor

I would be happy to do the PR for this (don't think it will be a very tricky one 😆 )

[2020-07-30 22:55] eerhardt commented on #30931
In .NET 5 we have removed the explicitly rooted entries in `System.ComponentModel.TypeConverter`. Taking the latest build, I created an ASP.NET webapp and added:

[code]

And `dotnet.exe publish -c Release -r win-x64`. This produced an app with ~36 MB of assets in the `publish` directory. Of that ~32 MB is `.dlls`. The resulting `System.ComponentModel.TypeConverter.dll` is 74 KB.

I believe this c

[2020-07-30 22:55] #30931 closed

[2020-07-30 23:20] eerhardt opened #40163 "Trim OSPlatformAttributes from WASM apps"
The new attributes that inherit from `OSPlatformAttribute` that were introduced with #33331 are only needed for build-time analysis. They are not necessary at runtime. We should add these attributes to the list of attributes we remove for linked WASM apps:

https://github.com/dotnet/runtime/blob/a5e2249753147038bc9f317bb556c32e2bc91f29/src/mono/netcore/System.Private.CoreLib/src/ILLink/ILLink.Link

[2020-07-30 23:20] #39698 closed

[2020-07-30 23:22] MattGal commented on #39009
yes, but not in bulk like we can with Kusto.   All files associated with a failed work item show up on the individual run's special Helix tab.

[2020-07-30 23:24] #11092 closed

[2020-07-30 23:47] danmosemsft commented on #39009
Right, but in the Azdo UI, could I theoretically have navigated to a single recent failing "System  DirectoryServices Protocols Work Item"? It felt like that should be a click away from that history graph in the pic above, and probably I'd quickly find a dump doing that.

(I can't get there right now -- getting an error from the page when I click history)

[2020-07-30 23:51] GrabYourPitchforks commented on #23198
@terrajobst @stephentoub Are we still entertaining these ideas? We know that people depend on the current behavior of `Random` (predictable output given a specific seed). The implementation is flawed, yes, but the biases introduced shouldn't affect real-world consumers in any meaningful way, as this class is meant for _non-cryptographic_ use.

[2020-07-30 23:52] stephentoub commented on #23198
I don't think so.

[2020-07-30 23:57] danmosemsft commented on #23198
I agree, This comes up regularly but every time seems to be based on code inspection/theoretical arguments - which are valuable but without widespread feedback from folks who are hitting the limitations in production, I don't think we have enough reason to make a breaking change (nor even add some kind of flag to switch into a new more random mode). I think Random just is how it is, for now.

[2020-07-30 23:57] ghost opened #40166 "Erro MSB3073 while build on Ubuntu 18.04 for armel debian buster"
Host OS: Ubuntu 18.04
commit: 412f022a61a9342ee556d13d4271c487b28a617f
Target rootfs: armel debian buster
Build command: ROOTFS_DIR=/home/god/netcore5/buster_fs ./build.sh --arch armel -c debug -v detailed --cross

Error:
[code]

         Executing cmake --build "/home/god/netcore5/runtime/artifacts/obj/debian.10-armel.Debug" --target install -j 14
         [  1%] Built target hostpolicy_exports