[2020-07-02 20:51] #37119 closed

[2020-07-02 20:51] agocke commented on #33311
Dup of #37119

[2020-07-02 20:51] #33311 closed

[2020-07-02 20:59] AndyAyersMS commented on #33189
In `Globalization:InitICUFunctions` we see
[code]
with debug
[code]
Note we could arguably fuse these last two live ranges, if we adopted the same sort of lazy kill model for variable tracking that we use for GC refs. That is, in `IG_03` var 3 is no longer live, but `rsi` still has the right value.

[2020-07-02 21:01] agocke commented on #38726
I can test on Mac, as I have a Mac laptop

[2020-07-02 21:02] safern commented on #35931
This is done. I expect the story for Wasm, iOS and Android be different.

[2020-07-02 21:02] #35931 closed

[2020-07-02 21:12] danmosemsft commented on #31453
@DrewScoggins is this issue still relevant/useful? Should we track everytihng in https://github.com/dotnet/runtime/issues/37816?

[2020-07-02 21:12] MarkPflug commented on #38660
My understanding is that Java caches hashcodes for strings. I'm not sure if this is done on creation, or lazily, but either way that could easily account for the differences in these numbers. Reinitializing the exists/nonExists arrays with new strings between the timed sections hurts performance for the Java version. This could indicate that caching is done lazily, since it would have be re-hashed

[2020-07-02 21:18] swaroop-sridhar commented on #38726
Thanks @agocke. I'll add more details about the test scenarios.

[2020-07-02 21:57] JimBobSquarePants commented on #2236
@kamronbatman I've been developing a managed solution that is much faster than any other managed implementation (sometimes faster than DeflateStream) and allocates the same as DeflateStream. Dunno if it's of any interest as the planned implementation here does not expose many of the useful zlib options. (levels + mode)

I'm not finished cleaning up yet but will release something soonish.
https://g

[2020-07-02 22:07] buddalasunil999 commented on #28736
I am having the same issue. I am running a .net core app as background service in Ubuntu server. Please check the stack trace below.

Unknown error -1) ---> System.Net.Http.HttpRequestException: Unknown error -1 ---> System.Net.Sockets.SocketException: Unknown error -1 at System.Net.Http.ConnectHelper.ConnectAsync(String host, Int32 port, CancellationToken cancellationToken) --- End of inner excep

[2020-07-02 22:17] wfurt commented on #28736
What version are you on @buddalasunil999? If you can reproduce it, can you check the OS call with `strace` and get the errno?

[2020-07-02 22:21] buddalasunil999 commented on #28736
@wfurt I am using .net core 2.1

[2020-07-02 22:36] eanova commented on #33565
@tannergooding Hi,  I've been unavailable for the past month.  I'd like to finish these Matrix4x4 tasks plus Inversion if you haven't assigned it to someone else already.

[2020-07-02 22:36] joperezr commented on #25498
Given that the ask here is not to correct existing behavior but more to clarify what should be done in new APIs (and this has been answered) I'll go ahead and close this issue for now. @ohadschn feel free to reopen if you think there is still some action item to track here.

[2020-07-02 22:36] #25498 closed

[2020-07-02 22:38] terrajobst commented on #35088
* Looks good as proposed.

[code]

[2020-07-02 22:43] tannergooding commented on #33565
This is something I've actually already finished locally and will be getting up a PR for either later tonight or early Monday. Thanks however!

[2020-07-02 22:46] wfurt commented on #28736
that may be https://github.com/dotnet/runtime/issues/28630 fixed in 3.0. strace would tell for sure. You should give it try with 3.1

[2020-07-02 22:54] joperezr commented on #11421
Given @tarekgh's suggestion above and the lack of activity here I'll go ahead and close this one for now. If the suggestion doesn't work or you disagree feel free to reopen.

[2020-07-02 22:54] #11421 closed

[2020-07-02 22:59] tarekgh commented on #11421
This is a duplicate of https://github.com/dotnet/runtime/issues/19794 anyway.

[2020-07-02 23:00] joperezr commented on #28285
ping @terrajobst can you please take a look?

[2020-07-02 23:05] joperezr commented on #28607
Marked as up for grabs to fix only the XmlException as suggested above.

[2020-07-02 23:07] SingleAccretion commented on #38660
So, I profiled the thing again (with a big `existsStart = count` and `count = 1000000`) (with standard VS CPU profiler), but this time focusing on the `FindEntry` only (95% of inclusive time) and without any allocations in the loop to remove that variable. Here's the result, extracted with the excellent PerfView tool:
[code]
Please note that this is not the current code (which uses a faster modulo

[2020-07-02 23:09] joperezr commented on #12018
From the above there doesn't seem to be anything actionable on the framework side other than perhaps updating docs so I will go ahead and close this for now. Feel free to reopen if that is not the case.

[2020-07-02 23:09] #12018 closed

[2020-07-02 23:13] kamronbatman commented on #2236
Thanks @JimBobSquarePants, I have been wrapping native zlib for my own purposes into a cross-platform compatible nuget. I'll definitely take a look at what you wrote and hopefully it can be used. One advantage of my use case is that the data is small, so streaming is not even needed.

@danmosemsft, I hear quite a bit about .NET 5 milestones, how does it work for .NET Core? Is it a separate impleme

[2020-07-02 23:24] davmason commented on #38639
I looked a little bit and it seems that BulkType events are not being fired. Here is a log from perfview, BulkTypeEventCount:0 and BulkNodeEventCount:1 seems very suspicious.

[code]

[2020-07-02 23:32] danmosemsft commented on #28607
I'm going to close this one because we don't want to increase the functionality of binary serializer. We could reconsider if someone was seriously impacted.

[2020-07-02 23:32] #28607 closed

[2020-07-02 23:34] danmosemsft commented on #2236
.NET 5 is the next version of .NET Core (it's what one you might otherwise expect would be named .NET Core 4.0). More info here https://devblogs.microsoft.com/dotnet/introducing-net-5/    ...

Milestone is described here https://github.com/dotnet/runtime/issues/38286

[2020-07-02 23:41] #33636 closed

[2020-07-02 23:43] safern commented on #34316
Failed again: https://dev.azure.com/dnceng/public/_build/results?buildId=715155&view=logs&j=6ffa34aa-4e0e-5e33-51b1-9621a575e196&t=2fdabd0b-7202-58e4-755d-1556a81de2e1&l=38

[2020-07-02 23:43] safern commented on #36681
Failed again: https://dev.azure.com/dnceng/public/_build/results?buildId=715155&view=logs&j=6ffa34aa-4e0e-5e33-51b1-9621a575e196&t=2fdabd0b-7202-58e4-755d-1556a81de2e1&l=38

[2020-07-02 23:44] #38135 closed

[2020-07-02 23:49] danmosemsft commented on #38716
Just for the sake of clarity -- there's no browser (WASM etc) involved here, right? It's building on the same sandboxing apparatus that the Chromium browser does. Also, based on your link you're doing this on Windows (so it's Job objects and ACL's) right?

Can you use a version of CoreCLR that you have symbols for - any of the 5.0 previews should work, and resolve symbols and get a bit more info a

[2020-07-02 23:54] joperezr commented on #30204
Seems like this issue was originally a question which was answered so I'm closing this for now. Feel free to reopen if there is anything that needs to be done on the BCL side.

[2020-07-02 23:54] #30204 closed

[2020-07-03 00:08] joperezr commented on #13360
@stephentoub when you get a chance can you take a look at @sharwell last comment? If this is also not something we want to take I can go ahead and close this issue.

[2020-07-03 00:21] arunjvs opened #38730 "AuthenticationException on some Linux distros and root cert setups starting 3.0"
### Description

This is a brief summary of a longer internal conversation I had with @bartonjs after I saw outbound SSL (and therefore all HTTP) connections suddenly fail with this exception in some customer machines, after our product upgraded from 2.2 to 3.1, as a result of which, this has now been documented as a breaking change [here](https://docs.microsoft.com/en-us/dotnet/core/compatibility

[2020-07-03 00:27] BruceForstall commented on #38697
`CoreCLR Windows_NT x86 Checked no_tiered_compilation @ Windows.10.Amd64.Open`

[2020-07-03 00:29] BruceForstall commented on #38697
@AaronRobinsonMSFT

[2020-07-03 00:45] #38629 closed

[2020-07-03 00:55] josalem commented on #38639
Hmm that looks like the behavior from 3.0 where the type system wasn't being flushed so the events were never firing.  dotnet/coreclr#26270 fixed that in the 3.1 timeframe.  Next week I'll take a look under a debugger and see if I can find anything.

[2020-07-03 01:38] #38648 closed

[2020-07-03 02:08] mjsabby commented on #698
Would there be any interest in bringing abstract classes like HttpResponseBase and HttpContextBase? The following is a screenshot of our internal slimmed down version we have in Bing which is implemented a top of Kestrel and some home grown HttpContext fillers.

![image](https://user-images.githubusercontent.com/1930559/86424422-63487d00-bc97-11ea-96e7-c2cd302f1071.png)

[2020-07-03 02:10] gregg-miskelly opened #38736 "Debugger.NotifyOfCrossThreadDependency can be slow when a debugger is attached"
### Description

Certain code paths will call Debugger.NotifyOfCrossThreadDependency. NotifyOfCrossThreadDependency is pretty close to free when there is no debugger attached, so if you are in a situation where you do something cheap which calls NotifyOfCrossThreadDependency then you can have a very high overhead for the with debugger case compared to the without case. Recently one such case surfa

[2020-07-03 02:18] ericstj commented on #698
Sure, we can bring more dummy methods.   It looks to me like you probably brought back some of these because you needed the type closure but didn't necessarily need methods to work.  This version of System.Web includes the entire type closure / API surface.

It'd be nice to know which methods you'd need to return default behavior rather than throw.

[2020-07-03 02:22] ericstj commented on #698
Reopening for feedback from @mjsabby

[2020-07-03 02:31] mjsabby commented on #698
Thanks @ericstj -- what happens to enums? I would think we could bring back all the enums?

For implementation there is really only RouteData, RouteValueDictionary, RequestContext and StopRoutingHandler.

We needed HttpContext, but only as a TypeRef, because they are part of signatures.

If the above are available, we can completely retire our fake System.Web hacks.

[2020-07-03 02:47] ericstj commented on #698
Enums are defined completely.  Check out the package here
https://dnceng.visualstudio.com/public/_packaging?_a=package&feed=dotnet-experimental&package=System.Web.Compatibility&protocolType=NuGet&version=0.0.1-alpha.20352.2

Also here's what the generated source looks like:

[System.Web.notsupported.zip](https://github.com/dotnet/runtime/files/4867504/System.Web.notsupported.zip)

[2020-07-03 02:54] AaronRobinsonMSFT commented on #38697
The issue here was introduced in https://github.com/dotnet/runtime/pull/38493.

https://github.com/dotnet/runtime/blob/9df02475e09859a8d24852011cf3515f7a665670/src/coreclr/src/vm/dllimport.cpp#L3058-L3064

We now indicate that any P/Invoke marked with `UnmanagedCallersOnly` required marshalling which breaks the test because we throw `InvalidProgramException` instead of `NotSupportedException` whic

[2020-07-03 03:07] imcarolwang commented on #1409
I've checked this one but my "repro" only get part of the exception stack which doesn't throw ArgumentException, it's like below.  I've run the repro project targeting .NETCore2.1, 2.2, 3.1, all get the same result.

[2020-07-03 03:14] AaronRobinsonMSFT opened #38737 "JIT assert under debugger when running TestUnmanagedCallersOnlyNonStatic"
Observed on Windows-x86-Debug under a debugger when the dynamic function in [`TestUnmanagedCallersOnlyNonStatic`](https://github.com/dotnet/runtime/blob/9df02475e09859a8d24852011cf3515f7a665670/src/coreclr/tests/src/Interop/UnmanagedCallersOnly/UnmanagedCallersOnlyTest.cs#L349-L387) is being jitted. Test doesn't fail.

https://github.com/dotnet/runtime/blob/9df02475e09859a8d24852011cf3515f7a665670

[2020-07-03 03:15] AaronRobinsonMSFT opened #38738 "JIT assert under debugger when debugging TestUnmanagedCallersOnlyNonStatic"
Observed on Windows-x86-Debug under a debugger when the dynamic function in [`TestUnmanagedCallersOnlyNonStatic`](https://github.com/dotnet/runtime/blob/9df02475e09859a8d24852011cf3515f7a665670/src/coreclr/tests/src/Interop/UnmanagedCallersOnly/UnmanagedCallersOnlyTest.cs#L349-L387) is being jitted. Test doesn't fail.

https://github.com/dotnet/runtime/blob/9df02475e09859a8d24852011cf3515f7a665670

[2020-07-03 03:15] GGG-KILLER commented on #34699
I found out there's an option to make `.x` work with prereleases and suggested an option to enable that behavior here: https://github.com/actions/setup-dotnet/issues/105

[2020-07-03 03:16] AaronRobinsonMSFT commented on #38738
Duplicate of https://github.com/dotnet/runtime/issues/38737.

[2020-07-03 03:16] #38738 closed

[2020-07-03 03:23] AaronRobinsonMSFT commented on #38737
This is actually a good assert. The IL being written is missing a `pop` to clear up the stack. This is an interop test bug.

[2020-07-03 03:27] RamType0 opened #38739 "Documentation needed:System.IO.Pipelines.PipeWriter.FlushAsync cancellation represenatation"
When System.IO.Pipelines.PipeWriter.FlushAsync has been canceled,We could retrieve info about it was canceled.

But it seems that there is two way to represent it was canceled.

1. Set FlushResult.IsCanceled to true.

2. Throws OperationCanceledException.

I couldn't find out why there is two way to represent it.
I think that there is two solution.

1. Remove FlushResult.IsCanceled property,and we

[2020-07-03 03:34] mjsabby commented on #698
Excellent. I verified that in fact, those are the only implementations I need.

[2020-07-03 03:56] safern commented on #38284
Just hit this, it seems by the logs that it hung:

https://helix.dot.net/api/2019-06-17/jobs/e2e281bd-94b4-4901-9707-a635ef046d10/workitems/PayloadGroup0/console

[2020-07-03 03:57] #37121 closed

[2020-07-03 04:01] iSazonov commented on #37121
What .Net preview version is we get the fix in?

[2020-07-03 04:36] Anipik opened #38741 "Remove #ifDefs on constants like TARGET_UNIX"
There are a couple of places where we are still using os based if defs.
We should instead have separate files for them and should not be using them

cc @ericstj

[2020-07-03 04:44] safern commented on #37121
This is going to land on Preview8. I can’t point you to the first daily build that contains the fix for Powershell to try it out.

[2020-07-03 04:48] safern commented on #38741
I guess this is referring to framework libraries and not System.Provate.CoreLib, right?

[2020-07-03 05:05] GrabYourPitchforks commented on #38705
I would think this behavior would be by design. A property defined as "`{ get; }`" doesn't have a private setter. It has literally _no setter at all_. There's nothing that can be reflection invoked.

[2020-07-03 05:13] ericstj commented on #698
I will add these.

[2020-07-03 05:54] ericstj commented on #35984
cc @joperezr this might be a "while you're in there" change when you add .NETFramework TFMs to these libs.

[2020-07-03 06:11] v-haren commented on #32749
failed again in job: [runtime 20200702.82](https://dev.azure.com/dnceng/public/_build/results?buildId=715537&view=ms.vss-test-web.build-test-results-tab&runId=22172356&resultId=138426&paneView=debug)

failed test: System.Net.Security.Tests.SslStreamNetworkStreamTest.SslStream_UntrustedCaWithCustomCallback_OK

Error message
[code]

[2020-07-03 06:20] iSazonov opened #38743 "Extra copy of struct before return"
### Description

Looking [Guid.NewGuid()](https://github.com/dotnet/runtime/blob/8b50c519a8deaffed3f221874ecc39bc930a5573/src/libraries/System.Private.CoreLib/src/System/Guid.Unix.cs) implementation I prepared a simple test on [CSharpLab site](https://sharplab.io/#v2:C4LghgzgtgPgAgJgIwFgBQ64GYAEAHMAJ2AEswAbHCYQgVwGNgcBxWkgE1TRx5wG90vHIKG9sOOEgBsOWgDsIYAGYBTCQBYWK4ACUwc9gHsoAIQCewFRAAUAIwsqAVDlu0lq

[2020-07-03 06:48] GrabYourPitchforks commented on #38743
I can't speak for the JIT team, but it's possible that writing directly into the return value's storage address could be an incorrect optimization. Consider:

[code]

If any portion of _SomeMethod_ has a side effect that may result in the method throwing an exception or otherwise not returning, then the write to _MyClass.SomeGuid_ should never have taken place at all, as the write is performed by

[2020-07-03 06:58] v-haren opened #38744 "Test failure: System.Security.Cryptography.X509Certificates.Tests.RevocationTests.DynamicRevocationTests.RevokeEndEntity_PolicyErrors_NotTimeValid(policyErrors: True, notTimeValid: True)"
failed in job: [runtime-libraries outerloop 20200702.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=714372&view=ms.vss-test-web.build-test-results-tab&runId=22141816&resultId=103132&paneView=debug)

Error message
[code]

[2020-07-03 08:17] GrowSharp commented on #38609
Some more info.
I debugged trough the whole process of sending search request trough `System.DirectoryServices.Protocols` and didn't encounter error. I also figured out that the underlying library that `System.DirectoryServices.Protocols` uses on linux is open ldap. My current suspicion is that the open ldap doesn't automatically escape special characters in accepted strings (search request also a

[2020-07-03 08:20] GSPP commented on #34856
Should the timeout parameters be `TimeSpan`? If not it might be better to put the unit in the parameter name (e.g. `timeoutMilliseconds`).

[2020-07-03 08:40] vitek-karas commented on #38716
It can be any number of things - I don't know what the sandbox does to the process, so it's hard to guess. What changed from where it worked to where it doesn't? Did you update the sandbox code, or CoreCLR, or both, what were the versions...

It would really help to get the callstack of the crash.

[2020-07-03 09:02] xformerfhs opened #38745 "API proposal: Add support for counter mode encryption"
.Net Framework and .Net Core support the following block [cipher modes](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.ciphermode?view=netcore-3.1) for encryption/decryption:

   - CBC
   - CFB
   - CTS
   - ECB
   - OFB

Notably missing is one of the most widely used cipher modes:

   - Counter

Counter mode is probably the most important mode beside [GCM](https://docs.m

[2020-07-03 09:07] Symbai commented on #38705
Yes it would be a read-only property then. But guess what, IgnoreReadOnlyProperties is set to false. So I would think it would include read-only properties then, right?

[2020-07-03 09:48] imcarolwang commented on #1410
The program throws the same IndexOutOfRangeException when running on .NetFramework project.

[2020-07-03 10:17] kfrolov commented on #38430
No, #38254 doesn't changes anything.

The main problem, is that `DllMain` function isn't called, then crossgen2 loads JIT library with call to `NativeLibrary.Load`. I have prepared PR which fixes it: #38746.

Unfortunately this doesn't help much:

1) `libsuperpmi-shim-simple.so` always crashed with the following backtrace:
[code]

2) `libsuperpmi-shim-collector.so` not crashed, but unable to compi

[2020-07-03 11:01] oskar commented on #37952
I was able to reproduce this in a Docker container on Windows. Attached is [a pcap file](https://github.com/dotnet/runtime/files/4869314/issue-client-cert.zip) created with tcpdump.

Inspecting the tcpdump in Wireshark, it's possible to see that on the first (failing) request, only the leaf certficate is included in the request. On the second (succeding) request, the leaf certificate along with it

[2020-07-03 11:20] GSPP commented on #38093
Naming suggestion:

`GetBufferSegment` => `GetBufferAsSegment`
`GetBufferSpan` => `GetBufferAsSpan`

There is no such thing as a "BufferSegment". `As` indicated that these methods are differentiated by the format of the data.

[2020-07-03 11:21] TYoung86 opened #38750 "JIT generates redundant vmovaps"
### Description

JIT generates redundant vmovaps.

### Configuration

SharpLab's Release x64 (Core CLR v4.700.20.26901 on amd64)

### Regression?

No.

### Data

[sharplab.io output](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIAYACY8gOgCUBXAOwwEt8YLAMIR8AB14AbGFADKMgG68wMXAG4a9Jq049+ggJI8ovLrmXrNjZu258BLIxhNmLLABoAOJBuqaAzEykDEIIDADeNAzRDFExANoAsjAYABYQACYG4pIAFMlpmdlikg

[2020-07-03 11:51] samsosa commented on #38713
Yeah. There are so many weird servers that send weird content media types, in which case `System.Net.Http.Json` would be worthless.

The first option would solve all problems:

[2020-07-03 11:58] rvanmaanen opened #38751 "Calling AddHostedService multiple times for same class only registers the first hosted service provided"
## Background and Motivation

We are using the factory method overload `public static IServiceCollection AddHostedService<THostedService>(this IServiceCollection services, Func<IServiceProvider, THostedService> implementationFactory) where THostedService : class, IHostedService` to add multiple hosted services, but each with different configuration. Every hosted service is responsible for listenin

[2020-07-03 12:00] LEI-Hongfaan commented on #38555
@sandreenko Thanks for your comment.

Packages can be restored with `<TargetFramework>net5.0</TargetFramework>`.

I compiled and ran my test project with daily build 5.0.100-preview.8.20351.5 (4938de92) and found no problem. I think you're right. However, I can not verify the fix against my original project because the newer preview has other problems.

[2020-07-03 12:17] oskar commented on #37952
Use this `docker-compose.yml` file:

[code]

and run this to reproduce and capture the network traffic:
[code]

Complete command line log:

[code]

[2020-07-03 12:18] tmds commented on #31396
@adamsitnik this issue can be closed. `_handleType` was removed in https://github.com/dotnet/corefx/pull/42400.

[2020-07-03 12:26] adamsitnik commented on #31396
@tmds When I created this issue I was hoping that somebody is going to perform a full investigation and bring the performance on par with Windows. We have solved only the low hanging fruit (20%) and the difference is still very big. That's why I would perfer to keep it open.

[2020-07-03 12:46] MichalStrehovsky commented on #38705
It doesn't, according to this: https://github.com/JamesNK/Newtonsoft.Json/issues/703.

[2020-07-03 12:57] Symbai commented on #38705
If you would have taken my example and ran it with Newtonsoft you would have noticed it **does**

[code]

Also this side note does not change my actual issue about both readonly and private setters are officially supported but practically it doesn't work. So let's keep focusing on System.Text.Json instead of Newtonsoft for now.

[2020-07-03 13:01] tmds commented on #31396
Digging a bit deeper.

The highest cost comes from the syscalls involved:

Windows makes 1 for open, and `Dispose` doesn't make any:

https://github.com/dotnet/runtime/blob/886e4422a0731d5941525db18f69316500670452/src/libraries/System.Console/src/System/ConsolePal.Windows.cs#L1104-L1113

Unix makes 1 for open, and `Dispose` makes 2:

https://github.com/dotnet/runtime/blob/886e4422a0731d5941525db18

[2020-07-03 13:04] alnikola opened #38754 "Merge new Telemetry logging with existing NetEventSources"
It appears that new Telemetry logging/tracing does generally the same thing as existing NetEventSources. We need to consider merge them to improve Telemetry's user experience.

See dicsussions:
- [discussion_r447776811](https://github.com/dotnet/runtime/pull/38620#discussion_r447776811)
- [issuecomment-639164431](https://github.com/dotnet/runtime/issues/37428#issuecomment-639164431)

[2020-07-03 13:06] MichalStrehovsky commented on #38705
I see - you don't want to be able to actually set readonly properties, but to populate existing collections with deserialized data. (I assume Newtonsoft doesn't actually set the readonly property in your sample, but clears the collection and adds new items to it to sidestep problems discussed at length in the Newtonsoft issue.)

[2020-07-03 13:49] Symbai commented on #38705
Yes exactly! 👍 I want the property to be a new collection with all the data from the deserialization (and if there is no data, it leaves the default behavior) I'm sorry, if I was misleading about this.

[2020-07-03 13:54] omajid opened #38755 "runtime depends on extremely recent verisons of cmake, blocking adoption on Linux"
### Description

In order to help make .NET ubiquitous, I am working on packaging and including .NET (Core) into as many Linux distributions as I can. Some of these Linux distributions are included in the official support matrix of .NET:

https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0-supported-os.md

May of the Linux distributions listed in the matrix above include much older ve

[2020-07-03 13:54] omajid commented on #38755
cc @tmds @dleeapho

[2020-07-03 14:42] ManickaP opened #38756 "System.Diagnostics.PerformanceCounter.Tests failure"
System.Diagnostics.Tests.PerformanceCounterTests.PerformanceCounter_BeginInit_ProcessorCounter

net472-Windows_NT-Release-x86-Windows.10.Amd64.Client19H1.Open

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=715815&view=ms.vss-test-web.build-test-results-tab&runId=22181210&resultId=109727&paneView=debug

[Console.log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet

[2020-07-03 14:52] WaleedNaveed commented on #18527
I am getting the same issue with Quartz NuGet package. Can anyone help me to resolve it ?

[2020-07-03 15:00] jkotas commented on #38741
We want to optimize for source readability here. We end up using ifdefs in some cases because of it makes the sources more readable, understandable or efficient compared to split files.

[2020-07-03 15:24] jkotas commented on #38755
cc @jkoritzinsky

[2020-07-03 15:28] #38678 closed

[2020-07-03 15:53] stephentoub commented on #38755
This is a much more minor concern than the one cited, but this also makes it harder to get started contributing to dotnet/runtime.

[2020-07-03 16:26] sakno commented on #34856
@GSPP , the proposed API is updated. Thanks!

[2020-07-03 16:26] wfurt commented on #32749
why is the last failure here @v-haren? It is different test as well as the stack trace is different.

Any thought on "Interop+OpenSsl+SslException : Using SSL certificate failed with OpenSSL error - ee key too small." @bartonjs ? This is the test I added recently using CertificateAuthority from crypto.

[2020-07-03 16:40] GrabYourPitchforks commented on #38705
I've updated the issue title to more accurately reflect what's being requested.

[2020-07-03 16:47] tmat commented on #38462
I take this back. The CI infra had a bug and actually did not run the tests properly. After fixing the issue the test behaves the same as when targeting net472 - that is, the child process fails to find dotnet rutnime unless `DOTNET_ROOT` is set by the test process.

The proposals above are still relevant. The current workaround is as follows:

[code]

[2020-07-03 17:33] kouvel opened #38763 "Prerequisites of enabling the portable thread pool by default in CoreCLR"
From PR: https://github.com/dotnet/runtime/pull/38225

Before enabling the portable thread pool in CoreCLR by default, there are a couple of prerequisites for thread pool events:
- See TODO on `PortableThreadPoolEventSource` for long-term options, use one of those and resolve any issues / handle any of its prerequisites
- Revert the temporary change in EventPipe, see TODO in `EventPipeConfiguratio

[2020-07-03 17:36] vcsjones opened #38764 "Span<byte> on ICryptoTransform"
## Background and Motivation

The current APIs on `ICryptoTransform` are `byte[]` based, and accept an offset and length. This pattern is better represented as a `Span<byte>` today, as developers are more familiar with Span and expect these APIs where the previous pattern was used.

For `TransformFinalBlock`, a byte array is returned, which forces the implementation to allocate on return. The `Spa

[2020-07-03 17:39] vcsjones commented on #38764
cc @GrabYourPitchforks since I think you had thoughts on this.

[2020-07-03 17:45] juliusfriedman opened #38766 "dotnet-trace and dotnet-dump seem to leave the process in a unstable state"
[code]

Run the same command again later...

[code]
This occurs with both `dotnet-trace` and `dotnet-dump` running on:

[code]

[2020-07-03 17:45] juliusfriedman commented on #38766
cc @danmosemsft @jkotas

[2020-07-03 17:50] GrabYourPitchforks commented on #38764
In general I like this concept. @terrajobst and @bartonjs might have thoughts on the use of DIMs, but this seems like a straightforward enough application.

The `TransformFinalBlock` and `TryTransformFinalBlock` methods are potentially problematic, however. Normally, a `Try*` method returning _false_ means "resize the destination buffer and try again." However, in this case the default implementat

[2020-07-03 17:58] ycrumeyrolle opened #38767 "RsaOpenSsl `TryDecrypt` does not behave the same manner than `Decrypt`"
The following test is working on Windows, but does not work on Linux.
The encryption is fine, the decryption with `Decrypt` is also woking.
The `TryDecrypt` method returns `false` since the destination buffer is of the correct size.

Tried on SDK 3.1.301, Ubuntu 18.04, in netcoreapp2.1.

[code]

[2020-07-03 18:04] tarekgh commented on #38756
This is usually happens when the perf counters are corrupted on this machine. you can consult the link https://support.microsoft.com/en-us/help/2554336/how-to-manually-rebuild-performance-counters-for-windows-server-2008-6 on how you can manually fix it.

[2020-07-03 18:07] ManickaP commented on #38756
It's a CI, I cannot fix anything on that machine :disappointed:
But if what you say is true, than this might be an infra issue.

[2020-07-03 18:19] vcsjones commented on #38767
A few things.

First, the code sample as-is does not compile. When I fixed the compilation error, I was not able to reproduce this in net50 or in netcoreapp3.1 on Ubuntu 20.04.

What is your `<TargetFramework>` in the project?

This seems to be the same issue that was reported in #27942, which was fixed in https://github.com/dotnet/corefx/pull/36601.

[2020-07-03 18:26] BruceForstall commented on #38744
`net5.0-Linux-Release-x64-CoreCLR_release-(Fedora.32.Amd64.Open)ubuntu.1604.amd64.open@mcr.microsoft.com/dotnet-buildtools/prereqs:fedora-32-helix-20200512010618-efb9f14`

[2020-07-03 18:56] MaximGurschi opened #38769 "Boxing ref struct using MethodInfo.Invoke"
Hi team,

Accidentally i've discovered the ability to box a ref struct by using reflection.

The scenario is the invocation via reflection of a method that has, say, an in ref struct parameter. Upon the exit of the call the parameter array passed to MethodInfo.Invoke will contain a boxed ref struct.

Small reproduction (call Repro.Test()):
[code]

Can someone please confirm if the outcome of the s

[2020-07-03 19:05] ycrumeyrolle commented on #38767
Fixed

netcoreapp2.1 & netcoreapp3.0

[2020-07-03 19:17] GrabYourPitchforks commented on #38769
Probably something we should address, as boxing ref structs could destabilize the runtime. It's possible that the only reason this worked rather than resulting in an internal VM error is that the ref struct defined in the repro doesn't contain any reference-type fields.

[2020-07-03 19:26] MaximGurschi commented on #38769
Thanks, I've edited the post to include some fields in the struct. Even with fields it works. Yes i was thinking that this should not be allowed by the runtime as it can lead to passed stack frame reads.

[2020-07-03 19:53] carlreinke commented on #38714
@jkotas Just to be clear, I'd like the behavior to be fixed, not the documentation to be changed.  I'm targeting .NET Standard, and having the same method have different behavior in in .NET Framework and .NET Core makes things difficult.

[2020-07-03 19:55] juliusfriedman commented on #38766
Also noting that I run my process under `screen` so I can easily disconnect, when I resume the screen process seems to be stuck and I don't really have a way of knowing if it was my process or the tool etc.

Should I assume that the process itself has become unstable also and terminate and restart?

[2020-07-03 20:02] BruceForstall opened #38771 "JIT crash in System.Memory.Tests"
Windows arm64 and Linux x64 failure. JitStress=1

Release libraries, checked coreclr

Function: `System.SpanTests.ReadOnlySpanTests:MakeSureNoChecksGoOutOfRangeIndexOfAny_TwoString()`

repro:
[code]

Note that trying to run just the failing test with `-method "System.SpanTests.ReadOnlySpanTests.MakeSureNoChecksGoOutOfRangeIndexOfAny_TwoString"` doesn't work.

[code]

[code]

https://dev.azure.com/

[2020-07-03 20:05] diddledan commented on #1634
The offending code might be the `if` following https://github.com/dotnet/runtime/blob/master/src/coreclr/src/pal/src/thread/thread.cpp#L760

It assumes that any error code that is not `ENOMEM` is a failure, and so an `EPERM` will be treated as fatal. This is incorrect. The process should continue when a `sched_setinfinity` returns `EPERM`.

[2020-07-03 20:06] BruceForstall commented on #37880
I also see this in the libraries JIT stress tests,

https://dev.azure.com/dnceng/public/_build/results?buildId=714263&view=ms.vss-test-web.build-test-results-tab&runId=22139664&resultId=172900&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

Minopts Linux arm64:
[code]

Tiered compilation, JitStress=1, Linux arm64:
[code]

[2020-07-03 20:14] BruceForstall opened #38772 "Assertion failed '!foundDiff'"
Linux arm64

https://dev.azure.com/dnceng/public/_build/results?buildId=714263&view=ms.vss-test-web.build-test-results-tab&runId=22139762&resultId=174096&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

[code]

Happens in:
- System.Diagnostics.TextWriterTraceListener.Tests, JitStress=2, JitStress=1 + tiered
- System.Diagnostics.TraceSource.Tests, JitStress=2, Tiered

@

[2020-07-03 20:42] danmosemsft commented on #38766
Can you please reopen in https://github.com/dotnet/diagnostics? Or @tommcdon can transfer..I don't have rights apparently

[2020-07-03 20:47] AaronRobinsonMSFT opened #38773 "Warnings for coreclr_static during build"
The following warnings are triggered when building on `Windows_NT.x86.Debug`.

[code]

/cc @VSadov

[2020-07-03 20:55] juliusfriedman commented on #38766
Sure what would you prefer?

[2020-07-03 21:17] juliusfriedman commented on #798
This would be done by either runtime checks of `ifdef` on the rid but I highly suggest you keep it runtime since technically kernel modules can be loaded and unloaded while processes are running...

[2020-07-03 21:29] vcsjones commented on #38764
I hadn't given the implementation of the DIM too much thought, but you're right - it seems that likely the best solution then is for it to throw. Though if we have to throw for `TryTransformFinalBlock`, I think we should also throw for `TryTransformBlock`. I do not think we should throw for one and best effort the other.

I had also forgotten that the abstract `HashAlgorithm` (and thus all digest

[2020-07-03 21:34] cocowalla commented on #26818
Another concrete example of where this would be nice: length-prefixed protocols.

Let's say I serialize directly to a `PipeWriter` (since it implements `IBufferWriter<T>` - if I don't have full control over the serialization code, I have no way of knowing how many bytes were written.

I'm working around this by serializing to a temporary buffer first, writing the length to the `PipeWriter`, *then*

[2020-07-03 21:41] osamakawish opened #38776 "Regex Capture Trees"
This is to simplify regex captures a little. Although this can be done on the side, it would be more efficiently done in the code behind.

Basically, each regex `Capture` should be treated as a type of a `Match`, with it's own captures which are in the form of an ordered list or a `CaptureCollection`.

This is mainly for captures containing captures, like `"Email" : "((\w+)@(\w+).com)"`.

For `"Em

[2020-07-03 21:58] Zidbrain opened #38777 "Stepping into multidimensional array of tuples in debug causes internal CLR error"
### Description

Trying to step into any statement involving getting value from multidimensional array of tuples causes System.ExecutionEngineException and subsequently internal CLR error. However stepping over or checking the value through locals window does not.

### Configuration

- .Net Core 3.1 (also happens in 3.0)
- Windows
- Any CPU

### Code example

[code]

[2020-07-03 22:10] davidfowl commented on #26818
That’s not allowed. Once you call Advance the buffer you previously retrieved is invalidated

[2020-07-03 22:42] tommcdon commented on #38777
@sdmaclea

[2020-07-03 23:09] #38697 closed

[2020-07-03 23:09] #38737 closed

[2020-07-04 00:00] antonfirsov commented on #798
I did carry out an experiment based on *Case Study 1* in [this article](https://support.microsoft.com/en-us/help/214397/design-issues-sending-small-data-segments-over-tcp-with-winsock). On Windows I was able to disable delayed acks and benchmark significant improve in throughput using the `SIO_TCP_SET_ACK_FREQUENCY` option:

[code]

I tried setting `TCP_QUICKACK` by calling `socket.SetSocketOption

[2020-07-04 00:08] amosonn commented on #38548
That's also true. I don't know which is the worst evil; I do think however that one or the other should be taken, this does not seem to me to be a very niche usecase, I was frankly surprised this doesn't exist. Searching github for `MinAttribute` yields more results than searching for `RangeAttribute`.

My usecase involves generating Swagger docs (via Swashbuckle), and my workaround is exploiting

[2020-07-04 00:45] stephentoub commented on #798
SetSocketOption takes a SocketOptionName, with values that don't necessarily map to the corresponding values on each platform (since each platform often has different values from each other).  As such, the values go through a translation layer in the PAL, so unless you updated that as well, it's going to try to translate "12" into whatever the PAL says that maps to, or fail if there's no mapping.

[2020-07-04 00:46] GrabYourPitchforks commented on #38764
Another option would be to introduce a new interface and not give the methods default implementations. Then if you want spanny APIs you'd cast to the new interface. The built in CryptoStream type could implement both interfaces implicitly to make things more convenient for callers.

[2020-07-04 00:49] HobbsCode opened #38779 "Enum should use the supplied IFormatProvider"
Much of Enum's implementation of IConvertible disregards the supplied IFormatProvider, and instead uses CurrentCulture. Is this intentional? Example:

[code]

[2020-07-04 00:54] AntonLapounov commented on #37196
For the record, this was caused by appending a trailing slash to `TargetPath` in netcoreapp.depproj file in #36781: https://github.com/dotnet/runtime/pull/36781/files#diff-9fac0b3c275ca346bd7e392f9ae3807cL108-R108, which made the native files to be omitted by the following line in Microsoft.NETCore.App.Crossgen2.pkgproj:
[code]

[2020-07-04 04:14] jkotas commented on #38714
The assembly loading behavior has number of by-design differences between .NET Framework and .NET Core.

Even if `Assembly.LoadFrom` was fixed to access file urls, your example would still fail due to other behavior differences between .NET Framework and .NET Core assembly loaders.

[2020-07-04 04:37] GrabYourPitchforks commented on #38779
`Enum` is backed by numeric types (byte, int, long, etc.). Conversion from one numeric type to another is always culture-agnostic because there's no localization that ever has to be performed.

Honestly the implementation should probably be passing _null_ rather than `CultureInfo.CurrentCulture` as an optimization.

[2020-07-04 04:58] carlreinke commented on #38714
What I actually want to do is something like this:
[code]
That couldn't be made to work?

[2020-07-04 05:27] jkotas commented on #38714
`Assembly.Location` would be more appropriate for this purpose.

[2020-07-04 07:23] EgorBo commented on #38750
[code]

[2020-07-04 08:19] grosubogdan opened #38783 "Calling any mthod of HttpClient (i.e. PostAsync, GetAsync, etc) from within a .NET Core 3.1 WinExe Windows Forms results in error on Windows 10 version 1903."
# Issue Title

Calling any method of **HttpClient** (i.e. PostAsync, GetAsync, etc) or **WebClient** from within a **.NET Core 3.1 WinExe** Windows Forms results in error on **Windows 10 version 1903**.

# Reproduction

Your project should have these configurations:

<Project Sdk="Microsoft.NET.Sdk.WindowsDesktop">

    <PropertyGroup>
        <OutputType>WinExe</OutputType>
        <TargetFramewo

[2020-07-04 08:32] Gnbrkm41 commented on #38719
Might be related: https://github.com/dotnet/runtime/pull/33749#discussion_r397916855

[2020-07-04 09:17] Gnbrkm41 commented on #38570
Does this apply to ARM64 as well?

[2020-07-04 09:28] cocowalla commented on #26818
@davidfowl hmm, it's working for me, but perhaps only because of an implementation detail in `StreamPipeWriter` then? So it's clear in my mind, are you saying that any buffer obtained through GetSpan/GetMemory should not be written or read after Advance is called?

If so, then I guess writing to a temporary buffer first, so the length can be obtained, is the way to do this.

[2020-07-04 10:48] mgravell commented on #26818
To be explicit: once you've advanced the buffer:, what happens is *undefined*. There's no reason a reader can't take that data, even without you calling flush. This means that if you keep a hold of that buffer to cheat:

1. your change may or may not make it to the other end
2. you may or may not be over-writing what is now someone else's buffer

Neither option is good, so don't do that.

The thir

[2020-07-04 11:47] cocowalla commented on #26818
@mgravell thanks for confirmation!

I had thought no data could be read until it was explicitly flushed by the writer, but the contract is clear now (expect that the writer implementation could *theoretically* flush data at any time), and I understand that it only works in my case because of an implementation detail.

I confess it's a bit annoying not to expect full control over flushing, but I ca

[2020-07-04 12:35] mgravell commented on #26818
That by itself doesn't make it technically impossible - just perhaps not implemented currently. I recently added precisely this feature into protobuf-net v3, for example. And even without any changes, it is often possible to use a "nul writer" - for example (in the case of JSON) a custom TextWriter subclass that only measures and counts things, but doesn't actually write encode anything yet.

[2020-07-04 13:00] Gnbrkm41 commented on #38777
Can also reproduce with 5.0.100-preview.8.20351.5 with VS2019 16.7 P3.1. This happens with "Just My Code" disabled.

[2020-07-04 13:34] pawod commented on #31514
I finally figured out why this is not working on Linux. The netcore framework does not read from the OS's ca-certificates folder, but from

`~/.dotnet/corefx/cryptography/x509stores/ca`

Therefore the app did not trust ANY certificates. So downoaded Google's sample PEM file from [this page](https://developers.google.com/maps/root-ca-faq?hl=de#should-i-install-all-root-certificates-from-the-google-

[2020-07-04 14:31] ManickaP opened #38781 "System.Security.Cryptography.X509Certificates.Tests outerloop failing"
Fails since 2.7.2020.
These 4 tests are failing:
|Type|Method|Arguments|
| ---|------|---------|
|System.Security.Cryptography.X509Certificates.Tests.RevocationTests.DynamicRevocationTests|RevokeEndEntity_PolicyErrors_NotTimeValid|policyErrors: True, notTimeValid: False|
|System.Security.Cryptography.X509Certificates.Tests.RevocationTests.DynamicRevocationTests|RevokeEndEntity_PolicyErrors_NotTime

[2020-07-04 14:50] vcsjones commented on #38781
This appears to be a duplicate of #38744

[2020-07-04 15:08] ManickaP commented on #38744
Fails since 2.7.2020.
These 4 tests are failing:
|Type|Method|Arguments|
| ---|------|---------|
|System.Security.Cryptography.X509Certificates.Tests.RevocationTests.DynamicRevocationTests|RevokeEndEntity_PolicyErrors_NotTimeValid|policyErrors: True, notTimeValid: False|
|System.Security.Cryptography.X509Certificates.Tests.RevocationTests.DynamicRevocationTests|RevokeEndEntity_PolicyErrors_NotTime

[2020-07-04 15:08] ManickaP commented on #38781
Duplicate of #38744

[2020-07-04 15:08] #38781 closed

[2020-07-04 15:12] isxaker opened #38782 "System.Text.Json 4.7.2 uses System.Buffers >= 4.5.1(4.0.3.0 dll version) but asks for System.Buffers, Version=4.0.2.0"
### Description

Hi, there.

I use `System.Text.Json 4.7.2` nuget package.
It has the following dependencies:
[https://www.nuget.org/packages/System.Text.Json/4.7.2](https://www.nuget.org/packages/System.Text.Json/4.7.2)
.NETFramework 4.6.1
Microsoft.Bcl.AsyncInterfaces (>= 1.1.0)
**System.Buffers (>= 4.5.1)**
System.Memory (>= 4.5.4)
System.Numerics.Vectors (>= 4.5.0)
System.Runtime.CompilerServi

[2020-07-04 17:08] ForNeVeR commented on #4722
@tannergooding, thanks for your thorough answer!

I agree that using `Math.BitIncrement`/`Math.BitDecrement` (these two weren't around when I was filing the issue) should be enough for most numeric-related purposes, and they also have no problem of vague "epsilon" definition. The users will _have_ to think of their purpose and which "epsilon" value (if any) they need to use in their case.

I belie

[2020-07-04 17:36] GSPP commented on #37693
Maybe add `Bytes` so that it becomes `LargeObjectHeapThresholdBytes`? Other GC info APIs have been added recently where this was done.

In the future, the threshold could be different for different types. Or it could be dynamically adjusted at runtime. That would break the meaning of this exposed GC setting.

[2020-07-04 17:43] jakub-klima commented on #33794
Cannot optimization like this be done by the compiler?

[2020-07-04 18:07] jakub-klima commented on #36945
Implementation here if API got approved: https://github.com/jakub-klima/runtime/commit/c411353a3c65c265d9ada592b2f963b0d3d7b9a7

[2020-07-04 19:37] bartonjs commented on #32749
Debian 10 has some config entries that make TLS have some stronger requirements.  Parameterize the keysize for the keygen in the private PKI builder, use 2048 for the TLS tests.

[2020-07-04 19:41] bartonjs commented on #38764
Duplicate of #27118.

Since it requires the use of DIMs, it's going to be "no" for a long time.  An entirely new approach, not modifying the current interface, is much likely a better plan (such as the new oneshot methods, which can be use virtuals to call ICryptoTransform or overridden in the real implementations to ignore all of the middle management.

[2020-07-04 19:42] #38764 closed

[2020-07-04 19:47] bartonjs commented on #38767
Closing since this is something we've already fixed.

[2020-07-04 19:47] #38767 closed

[2020-07-04 19:49] bartonjs commented on #38744
Ah, I had forgotten these tests were marked OuterLoop.   I had a feeling that something was ensuring no TLS-Server EKU was present, but since the tests were passing I shrugged it off.  We can just change this test to look for something else, like codesign.

[2020-07-04 20:26] tmds commented on #38755
For building on RHEL 7 (and CentOS 7), we have a version `3.6.2` available. This is not the default `cmake`, but separate build maintained by the `llvm` team.

That would be our desired minimum version, and support all distros mentioned in the first comment.

[2020-07-04 20:58] GrabYourPitchforks commented on #38764
Is there ever a world in which the runtime repo can ship an interface with a default implementation? I feel this keeps coming up with some regularity. Perhaps it's time to doc that such a thing is not feasible within the runtime repo.

[2020-07-04 22:10] Sergio0694 opened #38785 "Unsafe.NullRef<T> and IsNullRef<T> are missing from the public APIs"
## Summary

There are two new `Unsafe` APIs that have been added to CoreCLR recently: `Unsafe.NullRef<T>` and `Unsafe.IsNullRef<T>`, but they're not publicly available (tested this both on just .NET 5 Preview 6, and from the `System.Runtime.CompilerServices.Unsafe` packages, latest version as well). The comments say this file should be kept in sync with the public `Unsafe.il` file with the APIs th

[2020-07-04 22:11] HobbsCode commented on #38779
If using CurrentCulture doesn't result in any correctness problem, then I'm going to close the issue. Thanks for the quick response.

[2020-07-04 22:11] #38779 closed

[2020-07-04 22:19] Soon5 commented on #24793
I second that. I was just implementing a new class with only Implementing IReadOnlyList. If I also have to implement IList so I can use it with LINQ properly, the whole Idea of having a ReadOnly Interface is gone.

Also the additional Type check performance argument brought up I don't really agree with. If the 2nd Check is done after the IList check, for all legacy code already implementing IList,

[2020-07-04 22:21] stephentoub commented on #38785
The implementation in corelib is for internal use only in corelib. It's often augmented first, at it didn't have the same bar as for public API. Exposing these publicly is tracked by https://github.com/dotnet/runtime/issues/31170. Thanks.

[2020-07-04 22:21] #38785 closed

[2020-07-04 22:34] #38692 closed

[2020-07-04 22:39] vcsjones commented on #38704
Here is what I think is going on - the AIA URL on the leaf certificate points to `http://ca.playtechgaming.com/`. That URL returns a zero byte result when downloaded in `CertificateAssetDownloader`

https://github.com/dotnet/runtime/blob/cfd0172f89d237f79c47de51b64d5778c440bbc6/src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CertificateAssetDownloader

[2020-07-04 22:41] vcsjones commented on #38704
I will address this with a PR shortly.

[2020-07-04 23:37] BruceForstall commented on #38570
No, arm64 is fully supported. At this point I don't think arm64 is missing from any CI testing.

[2020-07-04 23:44] meziantou opened #38786 "System.Text.Json object cycle error message could be better"
## Description

When migrating to S.T.Json from Newtonsoft.Json I got an error when serializing a `CultureInfo`.

[code]

This is ok that the json serializer doesn't handle every possible type. In this case I wrote a custom JsonConverter and it works well.

However, it tooks me a few minutes to find the problematic property in my model as the message/call stack doesn't include any useful data.

[c

[2020-07-05 00:14] hoyosjs commented on #38574
Given that the generation also needs to work in the native build, msbuild and powershell might not be the best candidates. How often do the generated sources change? (or how often do the inputs change)

@sywhang @josalem

[2020-07-05 05:30] kccarter76 opened #38789 "MethodCallExpression constructor not decorated with protected"
### Description

The class System.Linq.Expression.MethodCallExpression cannot be used as a base class outside of the runtime.

the constructor is decorated as internal instead of protected internal.

I believe this to be a bug because the class is not sealed.

I am working my own DAL and I am trying to work past a WhereEnumerable Exception and one of my ideas was to inherit from MethodCallExpressi

[2020-07-05 05:58] logiclrd commented on #38055
Is there a way of getting some insight into how items get prioritized for triage and when this proposal might get assigned an owner?

[2020-07-05 06:03] logiclrd commented on #38055
@marek-safar Sorry for the tag out of the blue, but after some searching I saw you remove the `untriaged` label from another System.Text.Json issue recently. I'm not assuming you're the person to take ownership of this issue, but maybe you know who might be? :-)

[2020-07-05 06:20] bartonjs commented on #38764
Something net new introduced for net5+-only... perhaps.

Modifying an existing interface? Probably not for several years, we need to understand what goes wrong with it before we're comfortable accepting whatever risk we understand at the time.  The unacceptable breaking changes list includes modifying an interface, that still stands for the shared framework, even with DIMs now part of the runtime.

[2020-07-05 07:10] Gnbrkm41 commented on #38777
From what I can see, it enters the `ILStubClass.IL_STUB_Array_Set` method and there's a breakpoint (`INT 3`) at the very beginning of the method; I presume this is because we asked to step in? From what I see CLR tries to hand this over to the debugger, but in `ILStubManager::TraceManager` it looks like it tries to dereference an invalid pointer and this gets propagated as a EEE.

[2020-07-05 07:28] alberk8 opened #38913 "ECDH in Dotnet Core does not match other Library"
# Issue Title

1) The secret created by Dotnet Core 3.1 does not match the secret generate with elliptic.js or golang.
2) Why do I need declare the Q->x and y when the PrivateKey is know.  As far I understand the PrivateKey is used to generate the public key for a known Elliptic Curve.   As an example on Windows 10, I have to declare an empty array for 32bytes for the X and Y but the same code wil

[2020-07-05 08:18] capra314cabra commented on #38739
IMHO, throwing `OperationCanceledException` means it was canceled unexpectedly (it is an exception at all), while the other means it was canceled by user or something like that.

[2020-07-05 10:38] Gnbrkm41 opened #38791 ""Mutual exclusion over || is always a non-zero constant" in optimizer.cpp"
In line 2321:
https://github.com/dotnet/runtime/blob/312c758edc524ef941bce5cebd289a628f0182cf/src/coreclr/src/jit/optimizer.cpp#L2321-L2322
`BBjumpKinds` is not a flag enum, so comparing `block->bbJumpKind` for inequality with `BBJ_COND` or `BBJ_ALWAYS` will always result in `true` as `bbJumpKind` can't be `BBJ_COND` and `BBJ_ALWAYS` at the same time.
![image](https://user-images.githubusercontent

[2020-07-05 10:47] Gnbrkm41 opened #38792 "Possible de-reference of null pointer in `debugger.h`"
https://github.com/dotnet/runtime/blob/312c758edc524ef941bce5cebd289a628f0182cf/src/coreclr/src/debug/ee/debugger.h#L741-L755

dereferencing a possible null pointer `dipce` in `dipce->next = NULL` before the null check nullifies (heh) the null check. `dipce->next = NULL` probably should be moved into `if (dipce != NULL)`.

[2020-07-05 10:48] stephentoub commented on #38789
It's not a bug.  This approach is often used when a library isn't designed for a type to be externally constructed or derived from but itself needs to have derived types, often as an implementation detail (as is the case here, with all of the derived types being internal).

[2020-07-05 10:50] Sergio0694 commented on #38785
Oof, my bad, completely missed that duplicate issue. Thanks! 😊

[2020-07-05 10:51] stephentoub commented on #38785
No worries :)

[2020-07-05 11:03] RamType-0 commented on #38739
You are partially right."Exception" should be expectional.
But "OperationCanceledException" is expection of "Exception".
We usually treats it faulted if Task throws exception,[But if it was OperationCanceledException,we treats it canceled.](https://docs.microsoft.com/ja-jp/dotnet/api/system.threading.tasks.taskstatus?view=netcore-3.1)
If it was canceled unexpectedly,We should throw exception which

[2020-07-05 11:24] capra314cabra commented on #38739
Thank you for teaching!
Now, I feel certain that it should be documented for people who don't understand it like me :grin:.

[2020-07-05 12:03] hoyosjs commented on #38777
Thanks @Gnbrkm41 I also see this and the `int 3` in that stub. I see this too:

<details>
<summary>Stack for assert</summary>

[code]
</details>

Looks like this line checking if a MD corresponds to an NDirect call is triggering an AV because it was called with a bogus `MethodDesc*` :
https://github.com/dotnet/runtime/blob/312c758edc524ef941bce5cebd289a628f0182cf/src/coreclr/src/vm/method.hpp#L187

[2020-07-05 12:20] Sergio0694 opened #38794 "Multiple/unnecessary movzx/movsxd with char -> byte -> IntPtr casts"
### Description

I found a couple places where the JIT seems to be adding unnecessary `movzx/movsxd` instructions when doing unchecked conversions from `char` to `byte` and then up again to `IntPtr`. It's basically just doing the same operation again.

Consider this simple example ([sharplab.io sample here](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKDIGYaBvGgAjZeLo/KRYFcA

[2020-07-05 13:44] Sergio0694 commented on #38794
Possibly related, I also found this other issue that causes an unnecessary memory access.

Consider this method:

[code]

Which is compiled to:

[code]

You can see that `cmp byte  ptr [rdx], 255` shouldn't be there, it's like the JIT "forgets" it already has that value stored in `rax`, so it reads that from memory again. This can be worked around for now by doing this:

[code]

Which gives the co

[2020-07-05 14:21] Ollhax commented on #38716
Correct, no browser or WASM, building using same sandbox as chromium, and on Windows 10.

Alright, I built CoreCLR from the 3.1 branch in release mode. I get the error when I run normally. When I attach a debugger, I see multiple exceptions in the ".NET Timer" thread, starting with:

[code]

Then this:

[code]

Two of these:

[code]

Afterwards, it keeps throwing this repeatedly:

[code]

If I fre

[2020-07-05 16:50] logiclrd commented on #38055
An update: I have become aware of the following scenario:

- The thread pool has a limited number of threads. On my system this limit is not tiny (4K for my memory/architecture) but it is nevertheless quite finite.
- With sync over async, the thread initiating the operation might itself be a thread pool thread. Each new operation that comes in pulls a thread from the pool.
- It invokes the async o

[2020-07-05 18:00] logiclrd commented on #38055
Hmm, I can't think of a way of doing this without breaking existing `JsonConverter`s that doesn't involve implementing the entire write stack twice, sync and async, with a fallback to sync when calling into a custom converter that doesn't support async and then throwing an exception if further down the object graph it hits a call that _needs_ to be async.

[2020-07-05 19:55] ygra commented on #29068
Behaves as documented, though:

And the docs even include the following warning:

That being said, is there that much of a benefit of escaping a _minimal_ set of characters? Even if escaping were very naïve, the string would only double in length (and even with this change it wouldn't be that naïve).

[2020-07-05 21:01] sakno opened #38797 "[Proposal] Stream.IsAsynchronous property"
## Background and Motivation
When I have high-level API to work with streams such as string decoding or deserializing complex structures it's good to know whether the stream natively supports asynchronous methods or not. This knowledge gives the possibility to write more efficient code without async-to-sync transitions caused by `WriteAsync` or `ReadAsync` default implementations.

## Proposed API

[2020-07-05 22:05] kccarter76 commented on #38789
This approach makes it impossible to use this class beyond the runtime as a base class to expand on method call expression which would be useful for my project. With things the way they are. I essentially have to re-invent a wheel plus the undercarriage as well. protected internal provides everything the runtime needs plus making possible for 3rd party development to experiment through polymorphis

[2020-07-06 00:59] GrabYourPitchforks commented on #38789
Making a class properly polymorphic isn't a light undertaking. With LINQ in particular, the infrastructure has dependencies on the concrete implementations of many of the derived types. Adding virtual members to any type requires a very deep analysis of the various scenarios the type designer wants to allow, including whether the overall library will continue to work in the face of customized beha

[2020-07-06 01:30] KalleOlaviNiemitalo commented on #38797
There is a risk that:

- Library X defines its own stream class that overrides the async methods but does not override IsAsynchronous (because it targets an older version on .NET that does not define Stream.IsAsynchronous).
- Library Y, which previously used the async methods only, is modified to read the IsAsynchronous property and call the sync methods if its value is false.
- Library Y is given

[2020-07-06 03:18] v-haren opened #38799 "Test failure: JIT/SIMD/MinMax_ro/MinMax_ro.sh"
failed in job: [runtime-coreclr outerloop 20200704.3 ](https://dev.azure.com/dnceng/public/_build/results?buildId=716701&view=ms.vss-test-web.build-test-results-tab&runId=22210646&resultId=109769&paneView=debug)

Error message
[code]

category:correctness
theme:vector-codegen
skill-level:intermediate
cost:medium

[2020-07-06 03:25] v-haren commented on #36971
also failed in job: [runtime-coreclr jitstress 20200704.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=716707&view=ms.vss-test-web.build-test-results-tab&runId=22210524&resultId=110091&paneView=debug)

failed test: baseservices/threading/paramthreadstart/ThreadStartOperations_1/ThreadStartOperations_1.sh

Error message
[code]

[2020-07-06 05:00] kccarter76 commented on #38789
I have put together a expression that for the most part replicates MethodCallExpression with the additions I want.
I have added overrides for CanReduce and Reduce(). That will reduce my expression to a MethodCallExpression using Expression.Call(method, arguments). time will tell if it meets my needs in the mean time. It would be simpler if I could properly inherit from the class.

[2020-07-06 06:20] molinch opened #38800 "System.Text.Json: IgnoreNullValues ignores field that have a default value"
### Description
When JsonSerializerOptions IgnoreNullValues is true then it won't serialize value type fields having default value.
See below test case as an example:

[code]

### Configuration
.NET SDK: 5.0.100-preview.6.20318.15
Windows 10 or Linux image mcr.microsoft.com/dotnet/aspnet:5.0-buster-slim show the same behaviour
Architecture: x64, but doesn't seem specific to it

### Regression?
It

[2020-07-06 06:27] molinch commented on #38800
This commit might be the root cause: https://github.com/dotnet/runtime/commit/c2291eb865fa542c888cefdb16e669dceffeda5f#diff-6945dba66187c255555ac8232ef4584dR140

See how it added that with Options.IgnoreNullValues we ignore the default values on read/write.
While that is correct for reference fields, it's not the case for structs.

[2020-07-06 06:30] danmosemsft commented on #38797
@stephentoub

[2020-07-06 06:30] v-haren opened #38801 "Crst ordering issue between threadpool and Process.EnableRaisingEvents under GCStress"
failed in job: [runtime-coreclr gcstress0x3-gcstress0xc 20200705.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=716794&view=ms.vss-test-web.build-test-results-tab&runId=22212754&resultId=108339&paneView=debug)

Error message
[code]

[2020-07-06 07:26] kjpou1 opened #38803 "[browser][wasm] Handle null task exception message"
Executing the following:

[code]

Will print the following.

[code]

Other times it prints something like the following with a `tp callback threw a System.NullReferenceException`
[code]

Code lines:

https://github.com/dotnet/runtime/blob/master/src/mono/mono/mini/mini-wasm.c#L606-L615

[code]

[2020-07-06 07:34] sakno commented on #38797
@KalleOlaviNiemitalo , if code ignores `IsAsynchronous` property then its performance remains the same. This fact allows to migrate step-by-step, at least for code in .NET Core. As additional option, `IsAsynchronous` property might return `bool?` type where **null** means no special knowledge about async internals of the stream.

[2020-07-06 09:25] vitek-karas commented on #38716
@mangod9 @kouvel - as there might be something related to threading here.

The OS difference definitely looks suspicious.

[2020-07-06 09:27] John0King opened #38804 "[EventListener] We should add a new method `ListenerEvents()`"
### Description

when I looking this doc https://github.com/dotnet/diagnostics/blob/master/documentation/design-docs/eventcounters.md#sample-code,  I find that there is a private field in the construct that this sample code do not use,
after I "corrent" the code , the  `SimpleEventListener`  won't work.  After debug , I find that the method `OnEventSourceCreated` called before the constructor code

[2020-07-06 09:40] v-haren opened #38805 "Test failure： System.Net.Security.Tests.SslStreamNetworkStreamTest.SslStream_UntrustedCaWithCustomCallback_OK"
failed in job: [runtime 20200704.19 ](https://dev.azure.com/dnceng/public/_build/results?buildId=716691&view=ms.vss-test-web.build-test-results-tab&runId=22209938&resultId=135760&paneView=debug)

failed tests:
System.Net.Security.Tests.SslStreamNetworkStreamTest.SslStream_UntrustedCaWithCustomCallback_OK
System.Net.Security.Tests.SslStreamNetworkStreamTest.SslStream_UntrustedCaWithCustomCallback_T

[2020-07-06 09:45] KalleOlaviNiemitalo commented on #38797
The developers of library Y might not even know that library X exists. The app developer who wants to use both libraries then suffers.

Perhaps the default `Stream.IsAsynchronous` implementation could check whether the async methods are overridden. Would this require reflection that would hinder the IL linker? Apparently, one cannot get a [function pointer](https://github.com/dotnet/csharplang/blo

[2020-07-06 10:33] JonasGoldt commented on #25375
Maybe to add to this issue, we have a smiliar problem in our project and I tried to boil it down into this simple repo https://github.com/JonasGoldt/PortsPackageProblem
There are two projects, both targeting dotnet core 3.1. One class lib and one test. The test references the class lib.

The problem occurs with the library reference "Test"->"Library". When running the test, it loads the System.IO.

[2020-07-06 10:52] MaximLipnin opened #38807 "[wasm] Enable System.Net.WebSockets.Tests.WebSocketTests class"
At the moment `System.Net.WebSockets.Tests` crashes with:
[code]

@vargaz made some fix for that https://github.com/emscripten-core/emscripten/pull/11482. Among others, it should be included to the emscripten release version which we could bump in dotnet/runtime. So the respective tests could be enabled.

[2020-07-06 12:04] kfrolov commented on #37344
Bug was fixed by Microsoft (thi commit: https://github.com/dotnet/runtime/pull/38575)

[2020-07-06 12:44] SingleAccretion commented on #38797
1. What would the guidance be for implementations that only supports some async methods? Is that assumed to be very rare?
2. As this is a performance-oriented API, what is the order of the estimated benefit here?
3. If accepted, it is a good candidate for the "soft abstract" attribute.

[2020-07-06 12:48] MithrilMan opened #38812 "System.Text.Json does not support TypeConverters"
### Describe the bug
I was used to have custom TypeConverter to convert complex types from/to strings
It was working when the serializator was Newtonsoft, now that you moved to internal dotnet serializator it doesn't work anymore

### To Reproduce
Create a controller that returns a class with a complex type where you implemented a  TypeConverter for (and registered using TypeDescriptor.AddAttribut

[2020-07-06 13:24] stephentoub commented on #38797
I appreciate the goal behind the suggestion, but I don't think this is something that should be added.  The base implementation would have to return false, and there are tons of custom streams in the world that won't have overridden this even though it would make sense for them to, leading to a caller paying attention to it experiencing worse behaviors.  There are many async operations on a Stream

[2020-07-06 14:05] jdstrand commented on #1634
@GRustamyan-ST - IME, @diddledan's observation is sound for dotnet to also ignore (or log but continue) on the EPERM unless the application is expected to not work correctly if it runs on a different CPU. Note that the code could also perhaps be adjusted to use `sched_setaffinity(0, <whatever>, <you want>)` (which is compliant with the default snap sandbox) instead of using `pthread_attr_setaffini

[2020-07-06 14:08] jdstrand commented on #1634
To snap publishers encountering this issue, it should be possible to use an LD_PRELOAD for sched_setaffinity to return 0 on EPERM until this issue is sorted out in dotnet proper.

[2020-07-06 14:09] dsyme commented on #38349
Hi Rich

A little late on commenting, but my main thought on this is whether it is possible to adjust the proposal so that  “Microsoft is considered part of the community”.  That is, a rule is established where all contributors (regardless of company) are given credit according to the same set of overall guiding principles as other community members.

Of course Microsoft people are paid to contrib

[2020-07-06 14:10] MaceWindu commented on #36954
BTW, crashes not happen when running netcore 3.1

[2020-07-06 14:43] #4722 closed

[2020-07-06 14:47] tannergooding commented on #31170
Is there anything blocking this from being marked `ready-for-review`? Also, I think this should be milestone future as (AFAIK) it isn't critical for 5.0

[2020-07-06 14:53] tannergooding commented on #38750
SharpLab is generally on the last release (3.1) rather than the latest nightlies, so the disassembly it shows can be quite out of sync with what is actually being produced.
In this case, various fixes have gone in that improve the codegen for these scenarios and the redundant `movaps` no longer exist.

[2020-07-06 14:56] jkotas commented on #31170
This was API reviewed once already and sent back with the `ref` vs `in` question. Do we like the proposal at the top after the follow up discussion?

I agree that this is not critical for 5.0.

[2020-07-06 15:27] steveharter commented on #38693
FWIW we [previously used](https://github.com/dotnet/runtime/commit/5b083defd67e1ddd124478327954c1f7431f447e#diff-06cd88e9e618b6da44f0f2d91397d85bR327-R334) `RuntimeFeature.IsDynamicCodeSupported` but that API requires netstandard 2.1, and we only had support for 2.0 in STJ.dll and due to the switch to netcoreapp (instead of netstandard) it was decided not worth the hit of a larger package just for

[2020-07-06 15:32] mangod9 commented on #38716
@Ollhax is it possible to share a dump when the Timers throw OOM? The fact that it doesnt repro on debug is interesting, possibly some race condition.

[2020-07-06 15:39] adamsitnik commented on #25735
@daxian-dbw ping

[2020-07-06 15:50] EmilSayahi commented on #1634
Perhaps this sounds stupid, and if it does I'm sorry, but how would we go about using `LD_PRELOAD` in a .NET language, like C#, which is a managed language running on the .NET Core runtime? Isn't this a runtime-layer change, which would be below what app developers could actually affect?

[2020-07-06 16:01] layomia commented on #38705
This is a duplicate of https://github.com/dotnet/runtime/issues/30258.

[2020-07-06 16:01] #38705 closed

[2020-07-06 16:01] layomia commented on #30258
From @Symbai in https://github.com/dotnet/runtime/issues/38705:

[2020-07-06 16:03] layomia commented on #38786
cc @Jozkee

[2020-07-06 16:06] layomia commented on #38395
Can you provide more detail so we can try to repro this? What's the source code for `ValueConverter`? What options are you passing to the serializer?

[2020-07-06 16:10] vsfeedback opened #38814 ".NET Core should support out-of-proc COM (i.e. LocalServer32)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1100745/netcore-31-com-interop-missing-localserver32.html)._

---
netcore 3.1 c# project offers building com interop assemblies.
However regsvr32.exe applied to generated yxz.comhost.com **registers only InProcServer**.

**_Please provide LocalServer32 for netcore com inter

[2020-07-06 16:31] terrajobst commented on #34168
@stephentoub @karelz

The goal was to unblock people, which is why I told @scalablecory to remove api-ready-for-review if he disagrees with the proposal.

[2020-07-06 16:35] GrabYourPitchforks commented on #31170
Your API as proposed LGTM.

[2020-07-06 16:44] daxian-dbw commented on #25735
Sorry for missing the comments here.

I presume so. There were similar reports in PowerShell repo, but all had Putty as the ssh client.
I use the Windows OpenSSH client in box and WSL for ssh connections, and the numeric keypad works fine with them.

[2020-07-06 16:46] scalablecory commented on #38783
There's not enough here to go on. It's possible your Windows, .NET, or maybe network drivers were corrupted somehow and updating Windows fixed it. If you are still able to reproduce it and can get us a memory dump, please do!

[2020-07-06 16:48] terrajobst commented on #34168
@pranavkm please don't edit the API with in a comment that represents approval if they are net-new suggestions. These comments are meant to express what was reviewed/approved at a given point in time. Otherwise it will confuse us in the next meeting :-)

[2020-07-06 16:48] scalablecory commented on #38713
This seems worth doing to me. At least to make it configurable.

[2020-07-06 16:49] #38704 closed

[2020-07-06 16:51] Ollhax commented on #38716
Sure, here's one for the first exception: [Sandbox.zip](https://github.com/dotnet/runtime/files/4880241/Sandbox.zip)

[2020-07-06 16:52] Fosol commented on #38395
Here's an example I am currently using.

[code]

Serializer Options

[code]

[2020-07-06 17:07] AaronRobinsonMSFT commented on #38814
Hi Miroslaw, There are two issues here.

1) Failure using `System.Configuration.ConfigurationManager` for a .NET Core component.
1) Out-of-proc COM is supported.

These are actually unrelated to one another and providing (2) won't necessarily solve (1).

(1) I believe that `System.Configuration.ConfigurationManager` typically uses an `app.config`, but I am not sure it is a hard requirement. I woul

[2020-07-06 17:08] CoffeeFlux commented on #32898
Looks like this was fixed by https://github.com/dotnet/runtime/pull/32905; closing.

[2020-07-06 17:08] #32898 closed

[2020-07-06 17:08] directhex opened #38817 "Stack overflow in Mono interpreter on some System.Threading.Tasks.Dataflow.Tests tests"
### Description

Helix log at https://helix.dot.net/api/2019-06-17/jobs/152c3011-8ebe-4f30-a02b-d90abcaae517/workitems/System.Threading.Tasks.Dataflow.Tests/console:

[code]

Supposedly this is a regression because stack limits were added to the interpreter, and some Dataflow tests use a LOT of stack.

### Configuration

Interpreter on x64 Linux

### Regression?

This broke some time between when

[2020-07-06 17:09] CoffeeFlux commented on #36112
`Loader/classloader/DefaultInterfaceMethods/reabstraction/reabstraction.il` should probably be fixed in a 5.0 timeframe as part of https://github.com/dotnet/runtime/issues/34389. Otherwise, these are good to fix but not urgent.

[2020-07-06 17:10] CoffeeFlux commented on #34389
A related CoreCLR test to check when fixing this: `Loader/classloader/DefaultInterfaceMethods/reabstraction/reabstraction.il`

[2020-07-06 17:19] mangod9 commented on #36292
Moving to sockets area, since this is related to epoll changes.

[2020-07-06 17:22] mangod9 commented on #35968
@AhmedMabrouck could you please elaborate on the scenario? You need to synchronize across two asp.net core apps running within separate containers?

[2020-07-06 17:22] jdstrand commented on #1634
Well, maybe I am the one misunderstanding (I only postulated that it 'should be possible to use LD_PRELOAD' with dotnet), but the file @diddledan pointed out is a C++ file, it includes pthread_np.h for `pthread_attr_setaffinity_np()` (`pthread_attr_setaffinity_np()` is a [glibc addon for pthread.h](https://www.gnu.org/software/gnulib/manual/html_node/Glibc-pthread_002eh.html)), which suggests dotn

[2020-07-06 17:29] EmilSayahi commented on #1634
Ah, OK, so you mean we (those trying to publish .NET apps on Snapcraft) should compile a modified version of .NET Core and bundle that with our programs in some way? Apologies for the confusion on my part, I've never dealt with such low-level code before; I'm a teenage amateur.

[2020-07-06 17:31] mangod9 commented on #35777
Dont believe there is consensus on any action items here? Change in behavior here would be quite risky too.

[2020-07-06 17:33] bartonjs commented on #37435
Sorry, I missed the reply notification.

If this is repeatable, can you share a minimal repro?  I assume it requires two different chain builds for two different certificates; so the repro would need to involve those two (or however many) certificates.

If the certificates can't be easily shared, can you try it on a .NET 5 preview build and see if we've already fixed the problem via the various ch

[2020-07-06 17:33] safern commented on #35610
Thanks @darkdragon-001 this definitely seems like a bug in the Unix parsing logic. We will take a look at this, however I don't think this is critical for 5.0 at the given timeframe, so will move it to next release.

[2020-07-06 17:33] tommcdon commented on #33524
@sdmaclea can this issue be closed?

[2020-07-06 17:35] #33524 closed

[2020-07-06 17:39] AaronRobinsonMSFT commented on #27530
I think @tannergooding capture this conversation very well and has folded all the feedback into https://github.com/dotnet/runtime/issues/13788.

Closing as duplicate.

[2020-07-06 17:39] #27530 closed

[2020-07-06 17:39] safern commented on #31276
@LeonSebastianCoimbra looking at this deeply, it definitely looks like a libgdiplus issue, so I will open the issue in https://github.com/mono/libgdiplus -- thanks for reporting the issue. Will close and transfer it to mono/libgdiplus.

[2020-07-06 17:39] #31276 closed

[2020-07-06 17:42] AhmedMabrouck commented on #35968
Yes, I would like to do so.

[2020-07-06 17:42] mangod9 commented on #35933
@sumitdua have you tried with the latest runtime repo to see if this still repros?

[2020-07-06 17:42] AaronRobinsonMSFT commented on #37362
Closing due to lack of information. Please reopen if the issue persists.

[2020-07-06 17:42] #37362 closed

[2020-07-06 17:43] grosubogdan commented on #38783
It is up to you guys. We have reproduced the same bug on 3 of our 30 customers. The same fix the same issue. We have been deubgging for 2 days before we manage to figure out the cause.

[2020-07-06 17:43] mangod9 commented on #34515
@igoldin74 have you been able to capture a latest dump for this issue?

[2020-07-06 17:44] safern commented on #30704
Thanks @devilnest

This is definitely that we're not finding libgdiplus installed in the OS and that is why we're failing when GDI is initialized.

This thread has a bunch of instructions on how to set it up correctly. https://github.com/dotnet/core/issues/2746

Please let me know if that doesn't help.

[2020-07-06 17:44] #30704 closed

[2020-07-06 17:48] Zastai commented on #25735
Some test results:

I upgraded powershell to the current latest version (7.0.2) on the linux box.

Then I logged on using PuTTY and typed `789/*` using the numeric keypad at 3 points:
1. right after connecting
2. after starting `pwsh`
3. after exiting `pwsh`

This results in:
1. `789/*`
2. `OwOxOy` (in yellow); the `/` and `*` produce no output (and no terminal bell)
    Note: In pwsh 6.2, this wa

[2020-07-06 17:48] safern commented on #30467
Closing as this is a `libgdiplus` issue as @gfoidl pointed out.

There is also: https://github.com/mono/mono/issues/9903

[2020-07-06 17:48] #30467 closed

[2020-07-06 17:50] AaronRobinsonMSFT commented on #34805
Related https://github.com/dotnet/runtime/issues/38133

[2020-07-06 17:50] richlander commented on #38349
I agree with that as a starting premise. And in terms of auto-generated contributor lists, that's aligned with what I had in mind.

As the team blogger (for our release posts), I have a unique view that is significantly influencing this proposal. With each release, I find that I'm almost exclusively writing about features that the Microsoft team built. This will not be surprising to anyone. We hav

[2020-07-06 17:52] bartonjs commented on #31514
The `ca` store directory (and the `CertificateAuthority` store from code) is just a cache for intermediate certificates, it's not anything that provides trust (that comes from the `root` directory/Root store, as well as the system root store).  So that import changing anything would be rather unexpected, unless that bundle contains some intermediate certificates which weren't provided by the TLS s

[2020-07-06 17:56] tejasavora commented on #37444
I have been having the same problem. I am trying to attach to Service Fabric Application.
OS: Ubuntu 18.04.4 LTS
OmniSharp: 1.22.1
DotNet: 3.1.301
SF: 7.1

While trying to attach to service from VS code, it is giving an error: 0x80131c08
I am running VS Code as a elevated privileges under sudo and it is using its own private user data directory.

Output from `vsdbg-ui`
[code]

[2020-07-06 17:57] BruceForstall commented on #36599
ilasm round-trip testing added with https://github.com/dotnet/runtime/pull/38490

[2020-07-06 17:57] #36599 closed

[2020-07-06 18:00] jkoritzinsky commented on #38777
It looks like `ILStubManager::TraceManager` doesn't special-case array IL stubs. Considering we had to fix https://github.com/dotnet/runtime/pull/36249 a few months ago, it's possible that the debugger changed a code path that causes more stub types to go down this route. I think `ILStubManager::TraceManager` needs to either be updated to handle array IL stubs, or it should be updated to not assum

[2020-07-06 18:01] mangod9 commented on #35968
I am not aware of any specific mechanisms for this currently. You could try using shared volumes (mounted in each container for some data sharing to use for locking). Might also be worthwhile to check in [aspnetcore](https://github.com/dotnet/aspnetcore/issues) if there are any other ideas.

[2020-07-06 18:04] AhmedMabrouck commented on #35968
There are an option within Docker called IPC which shares some memory between containers which should enable named Mutex to work across container but unfortunately it is not working also.

Thanks a lot for your concern.

[2020-07-06 18:07] BruceForstall commented on #38794
cc @AndyAyersMS

[2020-07-06 18:08] danmosemsft commented on #38716
The failure in `Thread::SetApartment` is an E_OUTOFMEMORY from CoInitializeEx (with COINIT_MULTITHREADED) and probably nothing specific to timers. @Ollhax mentions it works if they show a MessageBox first, which presumably initializes COM, albeit on a different thread

[2020-07-06 18:08] safern commented on #29974
I just looked at kusto data and this hasn't failed in the past 120 days. This might have been fixed by updating the version of libgdiplus in our CI machines.

[2020-07-06 18:08] #29974 closed

[2020-07-06 18:08] diddledan commented on #1634
It's OK @EmilSayahi `LD_PRELOAD` is a rather esoteric concept that even a lot of developers don't really know about. As for the code in question, it's part of the native-code that .NET Core uses as part of its Platform Abstraction Layer for Linux systems. The idea of the PAL is to unify the various operating systems with a single API that .NET Core is targeted to on the premise that the small PAL

[2020-07-06 18:11] MiYanni commented on #35586
It sounds like everything is working as expected then. Overall, it was just a misunderstanding/ignorance on my part for how boundaries for Decimal values are handled. Thank you for clearing that up. 😊

[2020-07-06 18:11] #35586 closed

[2020-07-06 18:12] mangod9 commented on #38716
ah, perhaps @AaronRobinsonMSFT has some thoughts here on why it doesnt repro on debug builds then. Perhaps COM initializes lazily on release which causes such issues?

[2020-07-06 18:14] LBensman commented on #36481
@flaksirus So am I correct in understanding that you launch FFmpeg as child process, and use a _single stream_ to write to and read from FFmpeg?  If so, then the answer is maybe, depending on whether the `Stream` derived class that you use (specifically, does it override `Stream.WriteAsync` and `Stream.ReadAsync` methods), how data is produced/consumed in terms of timing, and how read/write calls

[2020-07-06 18:14] cston commented on #14662
It looks like this issue refers to `DelegateHelpers.CreateObjectArrayDelegateRefEmit()`.

[2020-07-06 18:15] cston commented on #14662
Closing. We should re-open this issue if we see a performance issue.

[2020-07-06 18:15] #14662 closed

[2020-07-06 18:16] danmosemsft commented on #38716
It's a long shot, but might be worth trying building and running a trivial Win32 app in the sandbox, that only initializes COM. Seems unlikely that is all it takes to get this failure though.

[2020-07-06 18:16] safern commented on #28361
@tarekgh investigated this a couple of months ago and he provided a workaround for this by doing:

[code]

`dpiResolution` is the bitmap resolution, if it is not known beforehand it can be read from `Bitmap.HorizontalResolution`.

This is a sample code using this workaround:

[code]

I will close this issue as we're providing a workaround and also, I will post some of @tarekgh's results there from

[2020-07-06 18:16] #28361 closed

[2020-07-06 18:16] JulieLeeMSFT commented on #38743
CC @CarolEidt @sandreenko PTAL

[2020-07-06 18:18] JulieLeeMSFT commented on #38799
CC @erozenfeld

[2020-07-06 18:18] BruceForstall commented on #38750
According to @tannergooding and the output shown by @EgorBo this has already been addressed. I'll go ahead and close this, but feel free to re-open if this is incorrect.

[2020-07-06 18:18] #38750 closed

[2020-07-06 18:19] danmosemsft commented on #35968
Is it possible to solve your problem in a different way? You don't say what you're trying to achieve but if there's a contended resource, could access to it be mediated by a single app/container?

[2020-07-06 18:22] jaredpar commented on #38455
Lets move forward with this suggestion.

Best way to get feedback at this point is send a PR to make the change and see if anyone objects :smile:

[2020-07-06 18:23] tarekgh commented on #36350
CC @ericstj @joperezr any suggestion where this issue go to?

[2020-07-06 18:23] safern commented on #28454
Dupe of: https://github.com/dotnet/runtime/issues/26428

[2020-07-06 18:23] #28454 closed

[2020-07-06 18:26] EmilSayahi commented on #1634
Ah, I get it now! Thank you so much; you're as brilliant as ever, @diddledan.
Before I resign myself to silently spectating, I feel I ought to point out how ridiculous & absurd this is? It feels like adding more layers of duct tape isn't the approach Snapcraft should be taking? Perhaps I'm just too used to the more consumer-friendly world of Windows, but forcing developers to jump through all sort

[2020-07-06 18:27] tarekgh commented on #34320
Registering the provider should take care with this issue. The link https://docs.microsoft.com/en-us/dotnet/api/system.text.encodingprovider?view=netcore-3.1#remarks is providing more info if you want to consult it. I am closing the issue but feel free to respond back with any question which we can help with.

[2020-07-06 18:27] #34320 closed

[2020-07-06 18:31] flaksirus commented on #36481
@LBensman I'm using FFmpeg by creating simple `Process`  and writing data to `StandardInput.BaseStream` via `WriteAsync` (cause it's binary data). I am also subscribed on both `OutputDataReceived` and `ErrorDataReceived` just to log. And actually I realised that I don't really know which Stream exactly is used.  Problem acquires when FFmpeg process can not connect to output (RTSP server) e.g. when

[2020-07-06 18:31] safern commented on #24267
It seems like this hasn't failed in 120 days per my Kusto query.

[2020-07-06 18:31] #24267 closed

[2020-07-06 18:32] vitek-karas commented on #35329
If you're going to load managed code just once into the process then I think https://github.com/dotnet/runtime/issues/35465 is a solution for this issue. If you need to load multiple components of which some may be self-contained, that is currently not supported - we currently don't have plans to support loading multiple runtimes into the same process.

[2020-07-06 18:32] #35329 closed

[2020-07-06 18:32] igoldin74 commented on #34515
@mangod9 I could not get the dump. My /cores/ directory is empty

[2020-07-06 18:32] jaredpar commented on #38677
There are really two issues here:

1. `params Span<T>`
2. The call site optimizations we could in theory do around this feature

As for `params Span<T>` itself this has been roughly approved by LDM and we have developer resources scheduled to start work on it in 1-2 weeks. There are a number of supporting features here as well (like `params IEnumerable<T>`) but I expect all of them to get done fai

[2020-07-06 18:33] danmosemsft commented on #1634
cc @leecow since he's tracking Snap stuff.

[2020-07-06 18:35] joperezr commented on #14484
Not sure why is this one flagged for 5.0, @jkotas @terrajobst I suppose that this one we probably want to push to future instead right?

[2020-07-06 18:35] jkotas commented on #38677
This is exactly the API proposed by https://github.com/dotnet/runtime/issues/25423 . Closing as duplicate.

[2020-07-06 18:35] #38677 closed

[2020-07-06 18:38] safern commented on #22275
@danmosemsft it seems like we can close this issue?

[2020-07-06 18:39] tannergooding commented on #14825
Closing this as I don't think it is super actionable. As indicated by dev's extremely familiar with the area (such as @JimBobSquarePants and @rickbrew) here and on related issues such as <https://github.com/dotnet/runtime/issues/32418>, this space is extremely scenario specific.
Trying to create a general-purpose color type or a set of color types is likely a non-starter and isn't something I can

[2020-07-06 18:39] #14825 closed

[2020-07-06 18:39] cston commented on #17301
@VSadov, it looks like there are no uses of `Type.GetMethods()` in Microsoft.VisualBasic.Core currently. Please re-open if I've overlooked something. Thanks.

[2020-07-06 18:39] #17301 closed

[2020-07-06 18:40] tarekgh commented on #33979
We don't support serializing the encoding objects in .NET Core. You may need to look at your object and try to have it to serialize the encoding name as a string instead of the actual encoding object. if you have more details we can try to look at and try to help providing the workaround.

[2020-07-06 18:40] #30780 closed

[2020-07-06 18:40] safern commented on #30780
Closed as the test is skipped already with `SkipOnTargetFramework`

[2020-07-06 18:43] danmosemsft commented on #22275
Yup.

[2020-07-06 18:43] #22275 closed

[2020-07-06 18:44] agocke commented on #37142
Looks like the core dump is reclaimed and this test hasn't failed again. We'll reopen if we get more info.

[2020-07-06 18:44] #37142 closed

[2020-07-06 18:46] vitek-karas commented on #36801
The original question seems to be answered. If you have any other issues around this, please open a new one.

[2020-07-06 18:46] #36801 closed

[2020-07-06 18:46] carlossanlop commented on #33774
This roslyn analyzer has been merged as well as its documentation, so we can consider it fixed.
Only pending task is to merge the PR that applies this analyzer's findings in the runtime repo, which is being tracked here: https://github.com/dotnet/runtime/pull/37607

[2020-07-06 18:46] #33774 closed

[2020-07-06 18:49] danmosemsft commented on #36517
I believe @bartonjs indicated that these should be `value` - although this feels wrong to me, as it's strictly less helpful, I defer to the rules. Not sure it's worth going through and trying to consistentify though.

[2020-07-06 18:52] danmosemsft commented on #1080
@abelbraaksma any update?

[2020-07-06 18:52] LBensman commented on #36481
@flaksirus Without diving into the code to see what actual stream type is used for `.BaseStream` and how it handles cancellations, my _guess_ is that it's "blocked" trying to finish writing the whole buffer and if FFmpeg is not reading its `stdin`, you got deadlock in this case, or at least until FFmpeg gives up on connecting to RTSP server and exits, at which point it'll signal that stdin is clos

[2020-07-06 18:53] CoffeeFlux commented on #37183
Does this occur frequently? Is there any way for me to query builds to get an idea of how often this is failing? It's been too long, so that particular log is not around now. cc: @akoeplinger

[2020-07-06 18:53] Youssef1313 commented on #36517
@danmosemft, I'd at least have consistency in the same class (if it's hard to be through the whole repo).

If you'd want to have consistency through the repo, perhaps it's a candidate for a configurable analyzer.

[2020-07-06 18:53] danmosemsft commented on #25453
This has sat for a while, if customer scenarios emerge we can reconsider.

[2020-07-06 18:53] #25453 closed

[2020-07-06 18:54] AaronRobinsonMSFT commented on #38716
@mangod9 That is possible for the implicit MTA, but nothing else. I am of the opinion that the implicit MTA is one of those things that causes more grief than benefit. The implicit MTA kicks in if any thread in the process has been initialized on the MTA. If the current thread has been initialized then it is initialized lazily to MTA implicitly. The downside is the ref count on COM initialization

[2020-07-06 18:55] danmosemsft commented on #31027
Marking 5.0 since we should add the compat note.

[2020-07-06 18:56] josalem commented on #38284
@safern, can you link to the AzDO run that created that console log?  That looks new/different considering it is on Windows.

[2020-07-06 18:56] joperezr commented on #18724
Now that we have interface default implementations we probably don't need this to be extension methods any longer so we could use an update on the proposal above.

[2020-07-06 18:56] eerhardt commented on #38693
I ran the attached JSON perf application with and without this change.

[Program (1).zip](https://github.com/dotnet/runtime/files/4880733/Program.1.zip)

### 5.0.0-preview.8.20354.5
| serialize      | deserialize | writer   |
|----------------|-------------|----------|
| Serialization took 1509 ms | Deserialization took 4619 ms | Writer took 1252 ms |
| Serialization took 1548 ms | Deserialization

[2020-07-06 18:57] hoyosjs commented on #37444
@tejasavora private user data directory includes `$TMPDIR`? The process you are trying to debug and the debugger - vsdbg/vsdbg-ui - need to have access to the same temp folders for managed debugging to work.

[2020-07-06 18:59] AaronRobinsonMSFT commented on #38716
The MessageBox API should be on an STA so doesn't impact the implicit-MTA if I am remembering correctly. However that doesn't mean that there isn't some additional COM initialization that is being missed here. I am sticking with my assumption about the sandbox and what it permits. Thread pool threads don't always have the same permission as the main thread and the sandbox could be blocking some ac

[2020-07-06 19:01] vitek-karas commented on #35342
This seems to be resolved - if there's still an issue, feel free to reopen or open a new one.

[2020-07-06 19:01] #35342 closed

[2020-07-06 19:01] bartonjs commented on #36517
"DO use `value` for the name of the implicit value parameter of property setters." was already the guideline from the second edition of .NET Framework Design Guidelines (and probably the first, but I'd have to go grab a copy off a shelf to verify that, and the book doesn't respond to Ctrl+F), with regard to the proper name of `paramName` values in the `ArgumentException` family of exceptions.

So,

[2020-07-06 19:02] safern commented on #38284
Sure, this is the one:

https://dev.azure.com/dnceng/public/_build/results?buildId=715290&view=results

[2020-07-06 19:03] BruceForstall commented on #38799
Same test failed in https://github.com/dotnet/runtime/issues/38496

This failure is `R2R Linux arm64 Checked @ (Ubuntu.1804.Arm64.Open)`

[2020-07-06 19:06] erozenfeld commented on #38799
#38496 was fixed by #38591. This is the same test but very different failure: `Managed assembly not found: No such file or directory`

[2020-07-06 19:08] cheenamalhotra commented on #38185
@wfurt

Isn't .NET Core SDK supposed to be backwards compatible?
I mean, if a product ships only a netcoreapp2.1 DLL, it's not going to be compatible with "netcoreapp3.1" and "net5.0"?

[2020-07-06 19:11] danmosemsft commented on #36517
@bartonjs do you think that is the right guidance - after all, we have the power to change FDG if we don't think it's doing the right thing. It sounds like this pre-dates you. What is/was their reasoning, do you know? Is there a consideration other than diagnosability?

[2020-07-06 19:12] jkotas commented on #38814
What is the stack trace and error message of the PlatformNotSupportedException that you are seeing?

[2020-07-06 19:13] jdstrand commented on #1634
Please note that LD_PRELOAD is a workaround that, perhaps, people can use until dotnet runtime is adjusted to work without process-control (snaps shouldn't be given the ability to influence other snaps by default (which process-control and sched_setaffinity in the way the dotnet runtime is using it allows)). Adjusting software to work within app store sandboxing or other constraints is not somethi

[2020-07-06 19:17] joperezr commented on #30175
In order to consider this we would need a formal API proposal with rationale and usage examples.

[2020-07-06 19:20] bartonjs commented on #36517
The guideline, effectively, is "use the name of the parameter that was invalid, and nothing else".  So don't report that "something.SomeProp" was invalid, instead report that "something" was invalid (and use the message to report what the context was) (yeah, this is a differently contentious issue).  The one for properties is remind you "the name of the parameter is `value`, the name of the curren

[2020-07-06 19:22] danmosemsft commented on #38349
If I understand you correctly @richlander giving particular visibility to community contributions in the near term could help broaden and strengthen our contributor base such that we can evolve towards the place @dsyme describes.

[2020-07-06 19:23] halter73 commented on #38713
Why would this need to be configurable? Couldn't you just check the Content-Type header yourself before calling `ReadFromJsonAsync` if you want content type checking? If the body's not actually Json, parsing would fail anyway.

[2020-07-06 19:23] flaksirus commented on #36481
@LBensman yes, the same was on my mind. But I was expecting that `cancellationToken` will help me to avoid that deadlock.

[2020-07-06 19:28] joperezr commented on #24318
Closing for now due to lack of activity plus the suggestion above of using StringBuilder instead for something like this. Feel free to reopen if you think otherwise.

[2020-07-06 19:28] #24318 closed

[2020-07-06 19:30] BruceForstall commented on #38801
@sywhang @josalem

[2020-07-06 19:31] GrabYourPitchforks commented on #37808
I agree with this. It's useful as a unit test to make sure we don't error out, but as a perf test I don't think it's all that useful. I'd expect the vast majority use case to pass non-0 arguments to this method. And per Jan's earlier comment, we should really be encouraging use of strongly-typed APIs for optimal throughput.

Closing as won't fix. If this ends up being a problem please reopen.

[2020-07-06 19:31] wfurt commented on #38185
It would. But since 2.1 is missing WriteAsync in reference assembly, you will not be able to use it.
This is bug specific to streams and way how SQL client tries to use it,
@ericstj may know if this is something we may be able to service in 2.1.x.

[2020-07-06 19:35] agocke commented on #37972
Closing as dup of https://github.com/dotnet/runtime/issues/38231

[2020-07-06 19:35] #37972 closed

[2020-07-06 19:39] LBensman commented on #36481
@flaksirus , Yeah, I think you'd have to dive into that class' implementation to see how the cancellation token is handled...

[2020-07-06 19:48] wfurt commented on #38679
Do you use client side certificates? Catalina has some changes regarding security partitions. You can also check logs from securityd, there may be some hints.

[2020-07-06 19:53] #13211 closed

[2020-07-06 19:53] jashook commented on #13227
No repro for a bit

[2020-07-06 19:53] #13227 closed

[2020-07-06 19:53] jashook commented on #13318
This has since been addressed.

[2020-07-06 19:53] #13318 closed

[2020-07-06 19:55] jashook commented on #10623
Completed.

[2020-07-06 19:55] #10623 closed

[2020-07-06 19:55] #11526 closed

[2020-07-06 19:56] #12985 closed

[2020-07-06 19:56] #13320 closed

[2020-07-06 19:56] #13321 closed

[2020-07-06 19:57] jashook commented on #13596
Outdated.

[2020-07-06 19:57] #13596 closed

[2020-07-06 20:00] abelbraaksma commented on #1080
@danmosemsft, oops, you're right! I'll set myself to work on this, got a little too involved with F# repo recently. You can expect a PR in a few hours :)

[2020-07-06 20:04] SamMonoRT commented on #38117
Closing the issue, please re-open if this still reproes.

[2020-07-06 20:07] #38450 closed

[2020-07-06 20:19] kbilsted commented on #4779
@joperezr  thanks for getting back.

What is it you need more than the above explanation? Do I need to fill out a template? The code above is the whole code to include

[2020-07-06 20:31] akoeplinger commented on #37183
@CoffeeFlux It's happening at most every few days, with different tests in System.Threading.Tasks.Tests.

I used this query on https://dataexplorer.azure.com/clusters/engsrvprod/databases/engineeringdata:
[code]

It resulted in 21 matches going back to 2020-05-20.

[2020-07-06 20:40] t-mustafin opened #38822 "crossgen2 getClassAlignmentRequirement returns wrong value on arm"
I hit on different input argument r1 usage generated by crossgen2 and Tier-1 compilation on lambda-expression `MyStruct { int a; int b; long c; }`:
[code]
Code generated by crossgen2 uses `r1+36`:
[code]
Code generated by Tier-1 uses `r1+40`:
[code]
[MyStruct.cg2.dump.txt](https://github.com/dotnet/runtime/files/4881110/MyStruct.cg2.dump.txt)
[MyStruct.cg2.S.txt](https://github.com/dotnet/runtime/

[2020-07-06 20:44] danmosemsft commented on #36517
OK fair enough (and I learned a new phrase `ceteris paribus`). Thoughts about taking fixes where we don't use `value` today? I could see this generating quite a few PR's if it was done bits at a time. If we care about regularization (I'm assuming it's not a high priority but we'd take community changes) presumably we'd ask for a small number of PR's, perhaps starting by writing an analyzer.

[2020-07-06 20:44] tejasavora commented on #37444
@hoyosjs I am running code from my source code directory with elevated privileges. WHen you do so, `code` creates bunch of directories - however, I do not see `tmp` directory.

I also tried to set `TMPDIR` variable in `~/.bashrc` file by `export TMPDIR=/tmp/` - that did not work either.
I am running both - `code` as well as `vsdbg-ui` - using elevated privileges.

[2020-07-06 20:44] danmosemsft commented on #36517
That assumes that this isn't already part of @buyaa-n 's analyzer.

[2020-07-06 20:47] cston commented on #19615
Closing. If we identify specific types in Microsoft.VisualBasic.Core that require additional test coverage, we can address those cases with specific issues.

[2020-07-06 20:47] #19615 closed

[2020-07-06 20:48] GrabYourPitchforks commented on #34471
Related: https://github.com/dotnet/runtime/issues/36194

[2020-07-06 20:48] cston commented on #26866
Closing. If there are additional types that need to be ported, we can follow up with specific issues.

[2020-07-06 20:48] #26866 closed

[2020-07-06 20:52] t-mustafin commented on #38822
cc @alpencolt  @jkotas @mangod9

[2020-07-06 20:54] vitek-karas commented on #36677
@sbomer can you please try to repro this? If it does - please "move" this to the mono/linker repo...

[2020-07-06 20:54] hoyosjs commented on #37444
If you start that app, and do an `ls /tmp`, do you see something of the sorts of `clr-debug-pipe-<process PID>-<number>`?

[2020-07-06 20:56] mangod9 commented on #38822
@davidwrighton who has recently added a stress mode for field alignment, might be worthwhile to see if that flags this issue. Also adding @AntonLapounov if this only repros on arm.

[2020-07-06 21:11] Liturgist opened #38824 "Cannot change LastWriteTime or LastAccessTime of a symlink"
### Description
It does not appear to be possible to change the LastWriteTime or LastAccessTime of a symlink. It works on hardlinks.

[code]
### Configuration
[code]
### Regression?
Unknown
### Other information
[code]

[2020-07-06 21:17] vcsjones commented on #35869
@bartonjs @carlossanlop why is this no longer ready for review?

[2020-07-06 21:22] danmosemsft commented on #37851
@Turnerj any interest in hacking a bit to see whether it could usefully be wired up, and inform a discussion?

[2020-07-06 21:23] danmosemsft commented on #36777
@DmitryKhryukin any interest in offering a PR to add such code?

[2020-07-06 21:29] ericstj commented on #36493
@dotnet/ncl any idea why ServerCertificateCustomValidationCallback would not be invoked in Azure Function?

@kontacthimanshu did you try in the same environment without involving ConfigurePrimaryHttpMessageHandler?  For example trying a console app using HttpClient directly and setting ServerCertificateCustomValidationCallback while interacting with the same endpoint.  When you debugged did you fi

[2020-07-06 21:30] agocke commented on #34535
Closing due to inactivity. Let us know if this is still a problem.

[2020-07-06 21:30] #34535 closed

[2020-07-06 21:30] antonfirsov commented on #798
I did some investigations, sharing my results:

- `TCP_QUICKACK` is Linux-specific. According to the manual, and [the analysis in this article (point 3)](https://www.programmersought.com/article/7059675609/) the options is not permanent, therefore it needs to be reset after each `recv` call. In my very basic experiment it persisted though.

- In .NET 5 it can be set with `SetRawSocketOption`:

[co

[2020-07-06 21:31] Turnerj commented on #37851
Yeah, happy to give it a shot. Haven't done any builds locally of the runtime before so might have a few questions and issues with that. 🙂

[2020-07-06 21:34] #35671 closed

[2020-07-06 21:34] cston commented on #22893
With current .NET 5 builds, the call to the constructor succeeds. As @JonHanna reported, there is an exception trying to access `Bar` in that constructor because the anonymous type is inaccessible.

@adamrodger, please re-open this issue if we've overlooked something, thanks.

[2020-07-06 21:34] #22893 closed

[2020-07-06 21:41] fanyang-mono opened #38826 "CoreCLR tests failed with Mono interpreter: Interop/NativeLibrary/API/NativeLibraryTests"
**Repro:**
1. cd src/mono/netcore
2. export MONO_ENV_OPTIONS=--interpreter
3. make run-tests-coreclr CoreClrTest="bash ../../artifacts/tests/coreclr/OSX.x64.Debug/Interop/NativeLibrary/API/NativeLibraryTests/NativeLibraryTests.sh"

**Log:**
[code]

[2020-07-06 21:42] richlander commented on #38349
I don't see what I'm advocating for and @dsyme is advocating for as being a linear progression between two points. I think we're talking about two different topics. They are both trying to affect change, but have different, complementary, goals.

"strengthen our contributor base" is one goal, but as a singular goal would be overly utilitarian and self-serving. Multiple people told me privately tha

[2020-07-06 21:47] geoffkizer commented on #38713
Do we enforce content type for other methods like ReadAsStringAsync?

Seems like we just shouldn't check Content-Type here at all.

[2020-07-06 21:51] wfurt commented on #36493
If TLS resume is used, ServerCertificateCustomValidationCallback would not be called (as there is no certificate exchange)
I don't know about any other cases. I think using HttpClient could provide some useful insight. Is the V3 function backed by Linux or Windows?

[2020-07-06 21:52] joperezr commented on #4779
first of all sorry it took so long to look at this, it got missed somehow. Usually ApiProposals have the following template: https://github.com/dotnet/runtime/blob/master/.github/ISSUE_TEMPLATE/02_api_proposal.md.

Here is a good set of steps we have with good examples of how a good API proposal looks like as well as what is the general process of it: https://github.com/dotnet/runtime/blob/master/

[2020-07-06 21:59] ericstj commented on #36172
I believe the logging is by-design.  It looks to me like your Service is keeping a reference to the HttpClient and that will keep the handler rooted.  The service is registered as a singleton which I think means the service will be created once and kept alive for the lifetime of the host and the host will be kept alive by the handler instance.  The logging is just because you've enabled debug leve

[2020-07-06 22:04] ericstj commented on #36067
Given this fix is breaking I'm reluctant to take it this late in 5.0.  Let's consider this for 6.0.  One way to make it non-breaking is to add a new method that does the scoped registration, `AddTypedClientScoped`.  @davidfowl @maryamariyan @dotnet/ncl any thoughts on this?

[2020-07-06 22:05] bartonjs commented on #35869
@vcsjones Bulk operation error, fixed now.

[2020-07-06 22:05] cston commented on #17298
Agreed.

[2020-07-06 22:05] #17298 closed

[2020-07-06 22:06] Jozkee commented on #38786
@meziantou can you try looking at `JsonException.Path` property, is it of any help?
How did you end up solving this issue? Did you try the suggested workaround of setting `ReferenceHandler.Preserve`?

[2020-07-06 22:11] bartonjs commented on #36517
It... should be covered by that analyzer. Since I feel like that was the last place this conversation came up.  Not sure why this one didn't get caught in the cleanup.

The PR that already got opened at least makes the WebClient type self-consistent.  "Area-sweeps" or "library-sweeps" seem like the right size for me, but I don't think we'd say no to a PR that at least took care of everything in a

[2020-07-06 22:19] cston commented on #18407
Thanks. Closing.

[2020-07-06 22:19] #18407 closed

[2020-07-06 22:21] botinko commented on #35851
We faced exactly the same problem!

[2020-07-06 22:23] Jozkee commented on #24181
I hit this on https://github.com/dotnet/runtime/pull/38056 as well.

https://dev.azure.com/dnceng/public/_build/results?buildId=717974&view=logs&j=c6f8dc49-92a1-5760-c098-ba97b8142bfb&t=22b0078b-0469-5ba6-8725-2121fdbae049

https://helix.dot.net/api/2019-06-17/jobs/17f5e839-0887-4556-9b7a-9fe27e3e0fe5/workitems/System.IO.FileSystem.Watcher.Tests/console

[2020-07-06 22:24] cston commented on #15549
Closing as duplicate of https://github.com/dotnet/runtime/issues/19107.

[2020-07-06 22:24] #15549 closed

[2020-07-06 22:29] jperezpbos commented on #34195
Adding a quick comment from https://github.com/dotnet/core/issues/4917 for visibility and clarification.

Not really need to run as a container as long as we have .NET 5 for s390x for a Linux distribution we can deploy in different ways.
Support for s390x (IBM Z / LinuxONE platform) is a great opportunity to take over mostly Java and Python development in s390x right now. Note that this platform i

[2020-07-06 22:31] danmosemsft commented on #1080
@abelbraaksma to be clear, we're not ready for a PR yet. The next step is to create an API proposal issue, per guidance here:  https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md
There's actually a template for you: https://github.com/dotnet/runtime/issues/new?assignees=&labels=api-suggestion&template=02_api_proposal.md&title=

You can either stick the text here and I'

[2020-07-06 22:31] dsyme commented on #38349
There is also the question of credit and visibility for commercial companies contributing .NET.

For example, imagine a finance company wants to invest in a .NET toolchain for their modelling.  They are deciding whether to do this as closed source or open source.  They might choose to do it as open source if this gives them an advantage in hiring, but as part of that tradeoff they need to be seen

[2020-07-06 22:35] joperezr commented on #36350
Honestly I don't think that there is a clear action item from our side in here and looks like the issue is mostly with the npgsql installer from what I read above (please correct me if I'm wrong) therefore if it is already logged there I would probably close this.

[2020-07-06 22:37] #38507 closed

[2020-07-06 22:37] tarekgh commented on #36350
closing per @joperezr comment. feel free to send any comment or question.

[2020-07-06 22:37] #36350 closed

[2020-07-06 22:38] josalem commented on #38284
Unfortunately, it looks like there aren't logs from the tests themselves so I can't triage it without more info.  It looks like there are a couple of the Binder tests in there that display similar symptoms, i.e., console output prematurely ending after starting the test wrapper (CC @jashook).

Also, @jaredpar, I'm curious: not all of the `console.log`s in the original comment seem to be timeouts.

[2020-07-06 22:39] richlander commented on #38349
Love this idea @dsyme. This is great. The biggest companies we've worked with tend to want to work towards their goals more quietly, but I suspect most would like an opportunity for credit.

This is why I thought that strong community participation in credit giving is critical. All companies will act capriciously at some point.

[2020-07-06 22:41] BruceForstall commented on #32996
AFAIK, the IL tools SDK is available on nuget.org for .NET 5.0 (e.g., https://www.nuget.org/packages/Microsoft.NET.Sdk.IL/), so this issue is resolved.

[2020-07-06 22:42] grosubogdan commented on #38783
Will do the memory dump next time we encounter it.

[2020-07-06 22:46] meziantou commented on #38786
Indeed, `JsonException.Path` contains the full path which is very nice:

[code]

Maybe it should be part of the exception message, so it would be displayed in `JsonException.ToString()`.

I use a custom JsonConverter for CultureInfo. It uses `CultureInfo.Name` when serializing and use `CultureInfo.Get()` when deserializing.

I don't think this is a good workaround here. Even if that _work_ for ser

[2020-07-06 22:57] scalablecory commented on #38797
I agree with @stephentoub.

This is a problem in any async abstraction -- e.g. some 3rd party DbConnection implementations do not implement async still; I don't know that only enabling this visibility in `Stream` will adequately solve it. Also, I think very little code will be willing to dual-path at the `Stream` level for sync/async, so I'm not sure how much use this would see.

[2020-07-06 22:58] ericstj commented on #35992
I still think this is important but it doesn't seem like we have the time to address this in 5.0.  What do you think @dotnet/ncl?  cc @davidfowl

[2020-07-06 22:58] joperezr commented on #26741
@tannergooding I believe this looks ready to review, so feel free to flag it as such, unless @stephentoub's concern above makes this not viable.

[2020-07-06 22:59] CarolEidt commented on #38743
There are at least a few factors at play here:
- First, taking the address of the local variable `g` and passing it to another method will cause every write to `g`'s fields to go to the stack because it's address-exposed. Declaring a separate variable to hold the random bytes, and then assigning it field-by-field to `g` might improve things a bit.
- The JIT doesn't currently have support for shuff

[2020-07-06 23:01] Jozkee commented on #38786
I think including the full JSON path here could be too cumbersome, I was thinking that we could append the last property name before throwing but that would not work well for reference loops in arrays (e.g: `List<object>` which has an element that points to itself).

@meziantou that's a nice workaround.

[2020-07-06 23:03] scalablecory commented on #35992
You can implement a custom `IWebProxy` today that does round-robin proxy selection. Would this work for you, or do you need very explicit control over which proxy each request gets?

[2020-07-06 23:04] jkoritzinsky commented on #33129
I found another bug in the IL emit that incorrectly accounted for the return buffer offset. I'll put out a PR in a few minutes.

This only fixes the bug for when IL stubs are used. If the native function were adorned with `[UnmanagedCallersOnly]` and marked to be `thiscall`, then there would be no IL stub and the JIT would incorrectly not use a return buffer. I'd like to push again for https://git

[2020-07-06 23:04] adamsitnik commented on #37109
@adiaaida ping

[2020-07-06 23:07] vitek-karas commented on #37577
There are several things at play here:

### No default probing in .NET Core
.NET Core by default doesn't probe on disk for assemblies. It follows the `.deps.json` which is produced by SDK. In this case, the `consoleapp.deps.json` doesn't mention S.S.C.ProtectedData, so the runtime will not know anything about that assembly when it starts.

### `Assembly.LoadFrom`
`Assembly.LoadFrom` is an API whic

[2020-07-06 23:07] adamsitnik commented on #30783
Closing, please follow #30778 to be up to date.

[2020-07-06 23:07] #30783 closed

[2020-07-06 23:10] tejasavora commented on #37444
I do not see  those files. Could it be related to these issues?
https://github.com/OmniSharp/omnisharp-vscode/issues/3277
https://github.com/OmniSharp/omnisharp-vscode/issues/3795

[2020-07-06 23:12] juliusfriedman opened #38830 "IFDEF ! is not respected"
[code]

Compiles but only ever in the Release mode.

[2020-07-06 23:13] juliusfriedman commented on #38830
cc @danmosemsft, cc @jkotas

[2020-07-06 23:14] jaredpar commented on #38284
@josalem

Yes we should have issues tracking the different failures here. The reason for creating this uber issue initially is because they were all bucketing into it and there was no discernable smaller failures. If the followup investigation finds them we should be filing bugs to track them.

[2020-07-06 23:17] adamsitnik commented on #1830
@ericstj is there anything we could do to align the version numbers?

[2020-07-06 23:18] meziantou commented on #38786
Adding the full path could be useful. In this case the `Parent` property is not part of my code (it is a property of `System.Globalization.CultureInfo`), so just knowing this name may not be that useful for debugging.
The full path would be useful to know the actual property to fix but I understand this could be cumbersome. Maybe the path could be trimmed to only keep the path before the cycle (e.

[2020-07-06 23:20] joperezr commented on #27655
I'm sorry that this got missed somehow, I think that the Api suggestion is reasonable so mariking this as ready for review.

[2020-07-06 23:20] jkotas commented on #38830
Could you please share project that reproduces the issue?

[2020-07-06 23:31] scalablecory commented on #38713
Yep, I should have been more clear -- I think we can should rid of the check. And if there *is* a reason to care (@rynowak? @Jozkee?) then it should be configurable.

[2020-07-06 23:37] adamsitnik commented on #766
I am closing as it looks like the question was answered.

[2020-07-06 23:37] #766 closed

[2020-07-06 23:39] joperezr commented on #1442
This seems like something we should probably fix for 5.0 but @tarekgh please feel free to move to Future if you think that is the case.

[2020-07-06 23:39] halter73 commented on #36067
I'm agree this is too risky to take for 5.0. Anyone who was resolving a typed client from a the root provider will be broken.

Yep. And this is the scenario that would break if we make the typed client registrations scoped. What's wrong with a Signleton service keeping an HttpClient alive for the duration of the application? The IHttpClientFactory which owns all the HttpMessageHandlers and therefo

[2020-07-06 23:43] AaronRobinsonMSFT commented on #33129
@jkoritzinsky I think fixing https://github.com/dotnet/runtime/issues/12375 would be a good thing. We would need to get that going soon though. Do you know what the JIT would need to do? Is there prior art on what needs to happen?

[2020-07-06 23:44] joperezr commented on #1830
not sure what you mean about aligning version numbers but we don't build this package any longer so no change to  modify this on 5.0, all we could do is in servicing and we don't really have the option to downgrade an implementation assembly version and increasing the assembly version of the ref could cause many other issues, so  I'm more interested into understanding why is this a problem today b

[2020-07-06 23:49] jkoritzinsky commented on #33129
I was just chatting with @CarolEidt about #12375 and apparently the code to implement it would be spread across the JIT in various locations.

[2020-07-07 00:31] Jozkee commented on #38713
The main reason to have it was to have parity with the old APIs from `System.Net.Http.Formatting`
https://dotnetfiddle.net/ijQAdJ

Linking the original discussion for such check https://github.com/dotnet/runtime/pull/33459#discussion_r390700364.

If other `ReadAs*` methods does not have such validation I would agree on adding a parameter to bypass the validation or even remove it so people that is

[2020-07-07 00:39] Jozkee commented on #38786
That implies saving a reference of each object in the current object branch and then removing them when we are done with it, that's probably very expensive. The fact about that error message is that we are not detecting a _cycle_, we are just validating that the `MaxDepth` is not exceeded.
https://github.com/dotnet/runtime/blob/682141eca64f82207bee39e7edf218a0e14daeeb/src/libraries/System.Text.Jso

[2020-07-07 00:49] dsyme commented on #38349
@richlander Yes, I think it's small companies (built in open source) or large companies (venturing into open source tooling work for the first time) who particularly want credit of the style you're mentioning. Those can be crucial for growing a rich, innovative and dynamic ecosystem.

Also to add that the more organic we can make parts of the .net community conference scene, the more the community

[2020-07-07 01:06] LeaFrock commented on #35992
Using IWebProxy is far from being enough. For example, I hope to remove unavailable proxies,  to select better proxies as a spare proxy pool, it requires the ‘explicit’ control of each proxy and flexibility of the strategy developers take.

[2020-07-07 01:11] LeaFrock commented on #35992
Sorry to see that, but 'latter' usually brings 'better'. The design need a careful thinking indeed.

[2020-07-07 01:13] BruceForstall commented on #12690
This happens for ilasm, ildasm, superpmi, mcs, and crossgen (although crossgen has a slightly different failure mode). It happens on Linux as well as Mac. Essentially, it happens for every tool that uses the PAL that starts with `PAL_Initialize(argc,argv)`, where the program itself it specified as just a name, e.g. `ilasm`, without a path. This seems to happen because `INIT_ConvertEXEPath` early o

[2020-07-07 01:14] BruceForstall commented on #12794
This is the same problem as https://github.com/dotnet/runtime/issues/12690

[2020-07-07 01:14] #12794 closed

[2020-07-07 01:14] #32996 closed

[2020-07-07 01:27] AaronRobinsonMSFT commented on #38708
@DasDarki This is possible, but it may require utilizing some non-recommended practices in some cases.

**Calling a C native function**

The below uses the COM-Automation type [`VARIANT`](https://docs.microsoft.com/windows/win32/api/oaidl/ns-oaidl-variant) to marshal the object types. This approach is Windows only and not recommended.
[code]
[code]

The recommended, but more complicated way, is to

[2020-07-07 01:29] #38708 closed

[2020-07-07 01:42] juliusfriedman opened #38840 "Please disable CA1815 with ref struct."
[CA1815](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1815?view=vs-2019)
Is enabled for ref structs and while they can implement `==, !=` and `Equals(ref other)` I don't think they can implement anything else.

[2020-07-07 01:47] pranavkm commented on #38713
System.Net.Http.Formatting performed content-negotation, hence it made sense for it to complain about an unknown media type.

With S.Net.Http.Json since you're explicitly asking to read JSON, there isn't much value in trying to validate this. What would help, is to include the media type as part of the error if deserializing fails and the content-type is unknown. This may help users self-diagnose

[2020-07-07 01:47] BruceForstall opened #38841 "Many test failures in "nohwintrinsics" jobs"
In both the `runtime-coreclr jitstress-isas-x86` and `runtime-coreclr jitstress-isas-arm` pipelines, the "nohwintrinsics" (and for arm, the "nosimd") jobs are failing about 40 tests (about 20 for arm).

https://dev.azure.com/dnceng/public/_build/results?buildId=716582&view=ms.vss-test-web.build-test-results-tab&runId=22206304&resultId=108832&paneView=debug
https://dev.azure.com/dnceng/public/_buil

[2020-07-07 01:50] juliusfriedman opened #38842 "Disable CA2225: Operator overloads have named alternates on ref structs"
Please disable [CA2225](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2225?view=vs-2019) on ref structs especially if they have a public field and that field has `CA1051` disabled.

[2020-07-07 01:56] #35271 closed

[2020-07-07 01:57] BruceForstall opened #38843 "Test failure: tracing/eventpipe/reverseouter/reverseouter/reverseouter.sh"
Timeout

`CoreCLR OSX x64 Checked zapdisable @ OSX.1013.Amd64.Open`

With:
[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=716978&view=ms.vss-test-web.build-test-results-tab&runId=22219026&resultId=109347&paneView=debug

@josalem

[2020-07-07 02:07] wfurt commented on #34806
Last failure is on Windows7. The first link is gone so there is really no information left. If this fails only on Win7, we may disable the test. Interestingly, I did not see any record of this failure in Kusto database. cc: @alnikola

[2020-07-07 02:10] #30524 closed

[2020-07-07 02:21] tannergooding commented on #38841
Will take a look

[2020-07-07 02:54] rynowak commented on #38713
The original intent for the check (in this iteration of the library) is to make sure you get a reasonable error message when parsing fails. The really common case is when you're interacting with a website that returns an HTML page on a failure.

[2020-07-07 03:20] iSazonov commented on #38743
It could be allocated on stack before the method call like an optimization for stackalloc.
Given that the size of structures (and tuples?) can be relatively large there can be a good performance gain.

[2020-07-07 03:34] BruceForstall commented on #38799
Looks like this fails in all the Linux arm64 R2R runs:

https://dev.azure.com/dnceng/public/_build/results?buildId=716993&view=ms.vss-test-web.build-test-results-tab&runId=22219450&resultId=110107&paneView=debug

https://dev.azure.com/dnceng/public/_build/results?buildId=716582&view=ms.vss-test-web.build-test-results-tab&runId=22207570&resultId=110525&paneView=debug

[2020-07-07 03:44] BruceForstall opened #38847 "pauseonstart test failures"
tracing\\eventpipe\\pauseonstart\\pauseonstart\\pauseonstart.cmd has failed in multiple CI runs:

`R2R Windows_NT x64 Checked forcerelocs @ Windows.10.Amd64.Open`

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=716943&view=ms.vss-test-web.build-test-results-tab&runId=22218608&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab&resultId=110533

[code]

A

[2020-07-07 03:47] BruceForstall commented on #37117
This test is failing in other ways as well, e.g.:

`R2R Linux x64 Checked jitstress2_tiered @ Ubuntu.1804.Amd64.Open`
https://dev.azure.com/dnceng/public/_build/results?buildId=716943&view=ms.vss-test-web.build-test-results-tab&runId=22217386&paneView=debug&resultId=100072

[2020-07-07 03:55] BruceForstall commented on #37880
@sandreenko Any chance you'll look at this soon? It's affecting a lot of libraries test runs.

[2020-07-07 04:00] sandreenko commented on #37880
@sandreenko Any chance you'll look at this soon? It's affecting a lot of libraries test runs.

It will be closed with #37745 that I believe will be merged ~tomorrow.

[2020-07-07 04:06] BruceForstall commented on #9358
Obsolete infra. If we decide to reimplement altjit support, we'll have to do some work here.

[2020-07-07 04:06] #9358 closed

[2020-07-07 04:12] BruceForstall opened #38848 "Assert failure: !CREATE_CHECK_STRING(pMT && pMT->Validate()) in System.Runtime.Numerics.Tests"
`net5.0-Linux-Release-arm-CoreCLR_checked-jitstress2_jitstressregs8-(Ubuntu.1804.Arm32.Open)`

wtih:

[code]

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=716453&view=ms.vss-test-web.build-test-results-tab&runId=22202458&paneView=debug&resultId=173916

category:correctness
theme:gc-stress
skill-level:expert
cost:medium

[2020-07-07 04:18] BruceForstall commented on #38848
Also, perhaps the same thing:

System.Text.Encodings.Web.Tests

`net5.0-Linux-Release-arm-CoreCLR_checked-jitstress2_jitstressregs4`
`net5.0-Linux-Release-arm-CoreCLR_checked-jitstress2_jitstressregs0x80`

[code]

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=716453&view=ms.vss-test-web.build-test-results-tab&runId=22202518&paneView=dotnet-dnceng.dnceng-build-release-tasks.hel

[2020-07-07 04:19] stephentoub commented on #38011
@kouvel, any concerns with this being exposed?

[2020-07-07 04:48] benaadams commented on #38011
Was a naming question raised https://github.com/dotnet/runtime/pull/37942#discussion_r445120759

[2020-07-07 05:08] levicki commented on #1442
I am the person who initially reported this almost two years ago. Please fix it for 5.0 if possible, it is deeply disturbing to see this kind of issue being unsolved and postponed for this long.

It may seem innocuous, but it can actually have adverse effects on system environment variables.

[2020-07-07 05:32] wfurt commented on #38702
as far as I know this is done on purpose to keep docker images reasonably small by not installing everything. (this is also true for some other rarely used parts like Printing)
Networking issues can be probably resolved by caching and using local mirrors.

[2020-07-07 05:39] wfurt commented on #38668
I think you should do packet captures and look for differences. Since .NET Core works, this is wring place to file an issue.
You should follow https://dotnet.microsoft.com/platform/support to file .NET Framework bug.

[2020-07-07 05:49] wfurt commented on #38574
This may increase difficulty of porting to new OSes and architectures where one could build natives parts without .NET presence and build managed assemblies on supported platforms.
@am11 @janvorli

[2020-07-07 06:42] drauch opened #38852 "Microsoft.Extensions.Configuration: IReadOnlyList Options with default value are not filled"
LABEL=area-Extensions-Configuration

# Description

When I configure the following Options class:

[code]
The DOES_NOT_WORK is not properly filled, it is always empty, even if there are values in the appsettings.json

### Configuration

.NET Framework 4.8 / Windows 10 / x64 / ASP.NET Core 2.1
(aspnetcore repo says that the Configuration package is now maintained here, which is why I'm filing the i

[2020-07-07 07:08] darkdragon-001 commented on #35610
Sad to hear it won't be part of the 5.0.0 release. Really looking forward to see this fixed (it bothers me every couple days)!

[2020-07-07 07:53] github-cygwin commented on #798
@antonfirsov, can you pleae outline which error that is?  Setting this option works, afaics, so are you talking about a later error in read/write?  Which error code is returned?  And on which OS are you testing?

Thanks,
Corinna

[2020-07-07 08:16] am11 commented on #38574
Agreed. Considering python scripts which are responsible to run coreclr tests; from portability viewpoint:

* powershell is not a good candidate because in addition to the set of dependencies required to build dotnet/runtime, it depends on OMI and other native components which are not available on all platforms.
* msbuild is not a good candidate because it depends on parts of class libraries, whic

[2020-07-07 08:29] antonfirsov commented on #798
@github-cygwin trying to threat option 12 as `TCP_QUICKACK` resulted in `OperationNotSupported` for me (I know this is unexpected, I may try again and post code, but don't think it will change the big picture, it's a different switch anyways.). Setting values 0 or 1 on `TCP_DELAY_FIN_ACK (13)` does not lead to an error, but does not have an impact on delayed ack behavior.

[2020-07-07 09:16] AbeniMatteo opened #38853 "Lock statement is not respected"
### Description
In the following example `lock` is not respected.

The example shows a similar `System.IO.Pipelines.Pipe` write\read operation. Write to the pipe, read and copy to a stream. Before continuing to read from the writer "buffer", the reader waits asynchronously that new data are written.
To simplify the example, no data are really written and only the position of the two stream is modi

[2020-07-07 09:22] hoyosjs commented on #38777
I realized I misread the flags. Flags are `mcDynamic | mdcRequiresFullSlotNumber | mdcHasNonVtableSlot` and extended flags are ` mdPublic | DynamicMethodDesc::nomdILStub`, all of which make sense, except I would have expected to see `mcArray` in there as well.

@noahfalk what's the expected behavior for these stubs? If I add this we step over and there's no AV:
[code]

Is there any case where we'd

[2020-07-07 09:43] benaadams commented on #38853
`lock` is recursive on the same thread so the `lock` in `WaitAsync()` can be entered as part of the completion of `tcs.TrySetResult`

Change the creation of the `TaskCompletionSource` to run on a different thread and it should work as expected

e.g.
[code]

[2020-07-07 09:48] janvorli commented on #38652
@BruceForstall the change in #5595 changed that warning to not to be reported as an error and cause a build failure. Based on what I can see in the log from the build you have referenced, it is still not causing the build to fail.

[2020-07-07 09:53] Ravenheart commented on #38434
Any status updates on this, is there a public bug report I can track for changes?

[2020-07-07 10:04] Sc7-git opened #38856 "Delegate cannot mark attributes, why?"
Delegate cannot mark attributes, why?

[code]

### Configuration

### Regression?

### Other information

[2020-07-07 10:35] AbeniMatteo commented on #38853
Ouch, thank you.
The continuation is guaranteed to be sync without the flag or it is a scheduler choice?
Other than that, you can close the issue whenever you want.

Setting a breakpoint on `TrySetResult` and stepping into the calls shows exactly the problem:

Repro.Program.Reader.ReadAsync(...)
[External Code]
[Resuming Async Method]
[External Code]
Repro.Program.AsyncLock.SignalAll()
Repro.Progr

[2020-07-07 10:47] Evangelink opened #38860 "New rules related to "pure" methods"
### Describe the problem you are trying to solve

I would like to suggest 2 related new rules related to "pure" state of methods. The first rule would report an issue if the method is marked with `PureAttribute` but changes some states. The second rule would suggest to apply the `PureAttribute` when the method doesn't have any side-effect.

### Describe suggestions on how to achieve the rule

I th

[2020-07-07 11:00] DotNetAppCompatFeiWang commented on #37640
@layomia Just want to check again with you, can you please help to confirm the fix is merged to Preview7 branch? This issue still repro with the latest Preview7 build dotnet-sdk-5.0.100-preview.7.20351.2.

[2020-07-07 11:29] benaadams commented on #38853
You could just use a single `TaskCompletionSource` and not use a List since you release them all at once; triggering the completion outside the lock?
[code]

[2020-07-07 12:09] Evangelink commented on #38860
@mavasani @stephentoub Thanks!

[2020-07-07 12:27] ehasis commented on #35937
I tried to do the implementation based on the referencesource, declaring a IDispatch interface locally to test, but when call pDispatch.GetTypeInfo, it throws **System.Runtime.InteropServices.COMException: A null reference pointer was passed to the code fragment. (0x800706F4)** (original message was in my language). Tried to debug, not I could not find the root cause.

[2020-07-07 12:37] qmfrederik opened #38861 "src\libraries\Common\src\Interop\Windows\Kernel32\Interop.DeviceIoControl.cs appears to be a dead file"
`src\libraries\Common\src\Interop\Windows\Kernel32\Interop.DeviceIoControl.cs` (and all other files related to `DeviceIoControl`) appear to be unused in dotnet/runtime.

It looks like they were introduced to support System.Data.SqlClient (dotnet/corefx#29879), but no longer used as Microsoft.Data.SqlClient is maintained in dotnet/SqlClient.

[2020-07-07 12:49] janvorli commented on #38574
I also don't like moving to powershell or msbuild because of the reason that @am11 mentioned.

[2020-07-07 12:56] juliusfriedman opened #38863 "Disable CA1822 on Asp.net Controller methods as well as Startup classes."
CA1822 is provided as a work around on `ConfigureServices` as well as controller methods that don't access instance data such as the `loggger` etc.

[2020-07-07 13:05] janvorli commented on #12690
Let's fix it. I didn't know about this problem, I've probably always lauched these tools using full path.

[2020-07-07 13:08] #38497 closed

[2020-07-07 13:10] tmds commented on #38755
@jkoritzinsky @jkotas can we target `3.6.2`?

[2020-07-07 13:16] javiercn opened #38864 "Export certificate fails under some circumstances"
As part of working on an improvement to dotnet-dev-certs, the export functionality will fail in some cases and will leave an array full of 0s instead of the value of the exported certificate.

<img width="1063" alt="Screen Shot 2020-07-07 at 12 42 10 PM" src="https://user-images.githubusercontent.com/6995051/86786168-f997ec80-c063-11ea-9468-0449fbade56e.png">

This is the appropriate line:
https:/

[2020-07-07 13:19] AbeniMatteo commented on #38853
Thank you again, i was trying to understand the problem, the implementation is not important.

I also found [this article](https://devblogs.microsoft.com/premier-developer/the-danger-of-taskcompletionsourcet-class/) that describes this exact problem.

[2020-07-07 13:19] #38853 closed

[2020-07-07 13:27] AmrAlSayed0 commented on #38860
I think that any use of a property of any kind, getter or setter, should be considered non-pure because they're effectively functions. Getters are often used as lazy initializers of a field which changes state. I don't have a case where setters could be used without changing state but it is possible albeit extremely rare.

So both getters and setters should be treated as non-pure unless they're ma

[2020-07-07 13:34] stephentoub commented on #1493
@karelz, this got triaged to future.  Wouldn't it make sense to fix it for .NET 5 so that we don't need to produce new packages for it?  Or would we still need to anyway for some reason? @ericstj?

[2020-07-07 13:37] vcsjones commented on #38864
I'll take a look. /cc @bartonjs for labels.

[2020-07-07 13:42] onionhammer commented on #30524
@Jozkee so is this coming in .NET 5 only or will it be go into 3.*?

[2020-07-07 13:57] ericstj commented on #36037
I wasn't able to repro the issue.  When I run the sample you provided I see the cache size never exceeds 5.

[code]

[2020-07-07 13:59] adiaaida commented on #37109
I would have expected the validation ring to have flagged this, but I am not finding System.Buffers.dll in the sourcelink validation logs at all, in either the Validation pipeline for dotnet/runtime, or the release pipeline.

[2020-07-07 14:28] Fosol commented on #38395
This appears to be the result of using `interface`.  My example above should have been like this;

[code]

For some reason serialization ignores attributes in the implementation.

[2020-07-07 14:38] LEI-Hongfaan commented on #38567
@Ramobo Sorry for the late reply.

I see your point. It's great to have a counterpart of `CreateFromYawPitchRoll`.

Due to a disagreement on terminology, it may be simply wrong.

In general,
[code]

`CreateFromYawPitchRoll` corresponds to `EulerMatrix[(**), {2, 1, 3}]`. So if one means always 'yaw, pitch, roll' in `EulerMatrix[(**), {2, 1, 3}]` by 'yaw, pitch, roll', it could be fine. Otherwise, t

[2020-07-07 14:42] jkotas commented on #38777
Debugger should be treating these stubs as black box ie return `FALSE` from this method.

It would be better to check for the forward P/Invoke or a CLR-to-COM call stub explicitly before going into "This is either direct forward P/Invoke or a CLR-to-COM call, the argument is MD" path. Once you do that, you can also delete the existing `IsStructMarshalStub` check and the code would be robust agains

[2020-07-07 14:44] bartonjs commented on #30299
This was addressed with https://github.com/dotnet/corefx/pull/39600.

[2020-07-07 14:44] #30299 closed

[2020-07-07 14:45] Fosol commented on #38395
You can see the same issue just using the JsonPropertyNameAttribute

[code]

[2020-07-07 14:53] bartonjs commented on #25928
Even though Default Interface Methods have been added to the C# language and the .NET Runtime, our current breaking change guidelines don't allow altering an interface once it releases, even via DIMs.

Personally, I'm not sure what "limited" means in this context.  So I don't really have an alternative suggestion, other than saying it might be an app-specific problem that requires using a derived

[2020-07-07 14:56] bartonjs commented on #22699
Related to https://github.com/dotnet/runtime/issues/28771.  (This issue focuses more on "make the extension type for the cert.Extensions collection", that issue focuses more on "be able to answer the question from a certificate").

[2020-07-07 14:58] abelbraaksma opened #38872 "Make enum RegexParseError and RegexParseException public"
## Background and Motivation

A regular expression object made with `System.Text.Regex` is essentially an ad-hoc compiled sub-language that's widely used in the .NET community for searching and replacing strings. But unlike other programming languages, any syntax error is raised as an `ArgumentException`. Programmers that want to act on specific parsing errors need to manually parse the error stri

[2020-07-07 14:59] abelbraaksma commented on #1080
Thanks for the extra guidance. I meant with "PR" submitting an RFC (not yet the code change), which is the common way in the F# repo. Here it is done through a tagged issue, indeed I wasn't aware of that.

The proposal is there, thanks for your patience: https://github.com/dotnet/runtime/issues/38872

[2020-07-07 15:07] BruceForstall commented on #38652
@janvorli Correct, it is not causing a build failure. I thought (assumed) the previous "fix" suppressed even this warning, so as not to confuse people (like me) who were searching for an actual failure. If the warning must remain, it's unfortunate, because it's confusing to see warnings like this.

[2020-07-07 15:11] SamMonoRT commented on #31713
Assigning to CoffeeFlux for tracking.

[2020-07-07 15:15] janvorli commented on #38571
What would be the benefit of this? If you build the coreclr once, then making changes in say jit or gc rebuilds just that component and on Unix, the build skims over the up-to date components very quickly (in a matter of few seconds).

[2020-07-07 15:18] jkotas commented on #38755
It would required undoing https://github.com/dotnet/coreclr/pull/26980 and all follow up changes.

[2020-07-07 15:18] #34515 closed

[2020-07-07 15:18] jkoritzinsky commented on #38755
There’s significant dependency now on CMake generator expressions introduced in newer versions of CMake as well as more recent commands that accept generator expressions to support our DAC/Crossgen builds. It’s possible to refactor the builds to not use these commands, but it will take quite a bit of work to lower our minimum to 3.6.2.

[2020-07-07 15:19] steveisok commented on #34202
@jkotas Since a lot of our scope was readjusted for net6, I think we should move this issue to the 6.0 milestone.

[2020-07-07 15:24] janvorli commented on #38755
It would also require reworking the change #36847 that relies on an ability to use object libraries in target_link_libraries. I believe that support for that came in cmake 3.12.

[2020-07-07 15:31] Ramobo commented on #38567
Sorry, I don't understand. I'm not a matrix and quaternion black wizard or whatever, I just want to be done with core graphics already.
My point is: X, Y, and Z are ambiguous terms; yaw, pitch, and roll aren't. We should never assume coordinate systems in something this general-purpose, **and that includes handedness**. They're already failing at that by wanting to follow XNA conventions with very

[2020-07-07 15:44] vcsjones commented on #38864
The problem is that `Export(X509ContentType.Cert)` hands out the underlying `byte[]` of the PAL, instead of a copy like `RawData`. Minimal repro:

[code]

@javiercn fix for now would be to not `Array.Clear` the result of `Export` only when the content type is `Cert` since it only contains the public part of the certificate.

This seems undesirable, so I will submit a PR to fix this here as well.

[2020-07-07 15:45] omajid commented on #38755
I can confirm: runtime's use of `target_link_libraries` is generating errors on 3.11 (RHEL 8).

[2020-07-07 15:48] javiercn commented on #38864
@vcsjones thanks for the quick turnaround!

If this is fixed before 5.0 I'm fine just waiting for the actual fix in corefx.

[2020-07-07 15:49] vcsjones commented on #38864
Interestingly, this reproduces in Core 3.1, so it isn't a regression.

[2020-07-07 15:49] ericstj commented on #36039
Agreed it appears to be same root case.  Set actually ends up calling CreateEntry.  If you wanted to update an entry you could try calling TryGetValue although here that wouldn't help since your value is not mutable (int).  I suspect that there is something that could be tweaked here to improve the case where two entries are created with the same key name.  We can take a look.

[2020-07-07 15:51] bartonjs commented on #31020
Since no one else was able to reproduce this crash there's not much we can do to investigate.  We'd be happy to look with more data.

[2020-07-07 15:51] #31020 closed

[2020-07-07 15:55] IS4Code opened #38873 "Reintroduce RealProxy for MarshalByRefObject"
## Background and Motivation

A core feature of .NET Framework is proxying and being able to treat any object that derives from `MarshalByRefObject` as a transparent proxy, transferring all invocations on the object to another object that can handle them. This is different from the existing `DispatchProxy` in the fact that `DispatchProxy` can only handle interfaces, while `RealProxy` can "fake" an

[2020-07-07 16:00] bartonjs commented on #38864
Following the breadcrumbs, I assume this is only happening on macOS?  Looks like all of the other PALs return new arrays from ICertificatePalCore.RawData, but that one returns a field.

Presumably that means both Export(Cert) and RawData need tests that call it twice and Assert.NotSame on the two results.

[2020-07-07 16:01] javiercn commented on #38864
Yep, at least windows is fine

[2020-07-07 16:04] vcsjones commented on #38864
Yes, does not reproduce on Linux or Windows.

[2020-07-07 16:05] bartonjs commented on #31617
This is getting more attention in the #37577 variant, so closing this one in favor of that one.

[2020-07-07 16:05] #31617 closed

[2020-07-07 16:12] terrajobst commented on #38713
@pranavkm @rynowak

So what do you think the ideal change is? We could check the content type and throw a better exception for known content types that are common and unlikely to produce JSON, such as `text/html`. This would catch common issues resulting in parser errors while avoiding an overly aggressive content type enforcement.

[2020-07-07 16:18] tannergooding commented on #38841
This is essentially https://github.com/dotnet/runtime/issues/35605. Basically, `EnableHWIntrinsic=0` no longer disables `SSE+`. This means that the JIT is setting `Vector<T>` to be 32-bytes but the software fallback is getting executed, which assumes 16-bytes.

The fix should be relatively small and I am testing it out locally.

[2020-07-07 16:45] adiaaida commented on #37109
I looked at the drop that we are validating against, and System.Buffers does not have a symbols package file in the drop, so we do not check it for 5.0. However, the short answer is yes: if there was a System.Buffers.<version>.symbols.nupkg file in the drop, and it had broken source links, we would have caught this in the validation pipeline. As you can see here, though, the source link job is gre

[2020-07-07 16:46] stephentoub commented on #38861
Thanks.  If they're unused, let's delete 'em.  CI will help confirm they're not used anywhere.

[2020-07-07 16:49] bartonjs commented on #30993
(Sorry for it being a long time)

It looks like the bug was introduced in the original port to .NET Core, the only workaround that I can think of for 2.1 is to pre-filter whitespace out of your input before letting the FromBase64Transform process it.  The probably easier answer is to upgrade to 3.1, since the bug is fixed in that release.

[2020-07-07 16:51] cston commented on #28992
@dmitry-lipetsk, as @svick mentioned, the overloads of `AndAlso()` and `OrElse()` that take a `MethodInfo` are intended to support `AndAlso` and `OrElse` for custom types. When a non-`null` method is included, the compiled expression uses the `op_False()` and `op_True()` methods defined in the same type to skip evaluation of the second argument when possible. The `Exception` thrown for missing ope

[2020-07-07 16:51] scalablecory commented on #38713
I think we should not check content type, but if parser throws an exception, throw with a message like "Content of type '{0}' was not valid json...".

[2020-07-07 16:52] bartonjs opened #38875 "Confirm X509ChainPolicy.UrlRetrievalTimeout behavior across Windows/Linux"
Now that we have better testing capabilities for URL retrieval scenarios, we should ensure that Windows and Linux are behaving similarly.

I think currently Linux uses it cumulative, Windows uses it per fetch, and Linux uses 0 as "forever" but Windows might default to 15 seconds (or might cap at 15 seconds?)

[2020-07-07 16:54] vcsjones commented on #38864
@bartonjs Poking around more at this, there are other properties that exhibit similar behavior. For example, `X500DistinguishedName`:

[code]

This actually reproduces on Linux as well.

Should these be addressed similarly?

[2020-07-07 16:55] bartonjs commented on #35646
Since the questions have been answered and there hasn't been activity lately, closing the issue.

[2020-07-07 16:55] #35646 closed

[2020-07-07 16:57] coolboy190 commented on #38679
@wfurt Thanks for the suggestion, I checked the securityd logs and I do see the following exceptions for my application:

(Security) [com.apple.securityd:security_exception] UNIX error exception: 17
(Security) [com.apple.securityd:security_exception] MacOS error: -25294

But I am not too familiar with these errors. It looks like there is something wrong with the keychain, I can try resetting it to

[2020-07-07 17:00] safern commented on #38434
@Ravenheart thanks for confirming this works on .NET 5. The reason why I wanted to know if it worked fine there is because in .NET 5 we changed the GDI+ we use from 1.0 to 1.1. So it seems like this is definitely a regression from GDI+ 1.0. I'll contact the GDI+ team to see if we can get this fixed.

[2020-07-07 17:02] sylveon commented on #35827
ShareX could use this. Today it uses remoting, making porting to .NET 5 a bit of a hassle. I tried migrating to a named pipe, but it caused bugs so we had to revert for now.

[2020-07-07 17:03] Ollhax commented on #38716
I made an example program that demonstrates the problem: https://www.dropbox.com/s/epn7kmr74egczvo/CoreSandbox.zip?raw=1 - slightly messy here and there but hopefully it works. Run Application.sln. I included binaries for the sandbox.exe + CLR since it takes a bit more effort to build them, but there are instructions if you prefer to build it all from source.

Expected output is:

[code]

Actual o

[2020-07-07 17:04] bartonjs commented on #3505
@valeriob Are you still having issues?

Assuming that you mean

* A self-signed certificate was created on the server
* The server is using that self-signed certificate as a TLS server cert
* The calling client is an Ubuntu 18.04 machine, and
  * Copied the certificate, in a PEM format with a `.crt` extension to /usr/local/share/ca-
       certificates
  * Then ran [update-ca-certificates](http://

[2020-07-07 17:04] Jozkee commented on #30524
@onionhammer .NET 5.0, you can also try out the feature in the next preview (5.0 preview8)

[2020-07-07 17:08] pranavkm commented on #38713
👍  with @scalablecory's suggestion. We want to give users good diagnostics when parsing fails rather than police the web.

[2020-07-07 17:09] akoeplinger opened #38878 "Cleanup remaining usages of FrameworkSkipCondition"
It looks like an artifact from the tests ported from aspnetcore and should be replaced with SkipOnTargetFramework from arcade.

Also the usages where it's skipping tests on Mono can be removed since those were meant for the .NET Framework-based Mono, not the one we have in dotnet/runtime.

[2020-07-07 17:11] bartonjs commented on #30424
Since there hasn't been any followup in a while, closing the issue.

[2020-07-07 17:11] #30424 closed

[2020-07-07 17:12] scalablecory commented on #35992
Thanks for the example, that makes sense. We won't have anything for this in .NET 5, but can consider it for .NET 6. I'd love to see some more upvotes on the top comment to see interest.

[2020-07-07 17:13] #34449 closed

[2020-07-07 17:15] MichalStrehovsky commented on #38571
A few seconds for a no-op is still pretty annoying to wait for. When I'm doing crossgen2 work, I often only care about RyuJIT. Skipping the rest of the native build would save me minutes.

[2020-07-07 17:15] bartonjs commented on #30148
Since the question was answered and there hasn't been any recent activity, closing the issue.

[2020-07-07 17:15] #30148 closed

[2020-07-07 17:16] cston commented on #17137
The types `VBCallSiteDelegate0<T>`, ..., `VBCallSiteDelegate7<T>` are `public` members of `internal class DelegateHelpers` so the types were never actually `public`.

We will include or remove these types as part of handling `FEATURE_COMPILE` generally - see https://github.com/dotnet/runtime/issues/32878.

[2020-07-07 17:16] #17137 closed

[2020-07-07 17:18] danmosemsft commented on #38716
cc @leecow who was interested in the various sandboxes we're being run in (Snapcraft was another recent one)

[2020-07-07 17:20] bartonjs commented on #29216
For Windows, at least, the two behaviors are determined by the OS (we just pass the bytes or the string, with a flag saying which it is, into the same native API). I believe the problem might be that some codepaths in the "here are some bytes" path might need to create temporary files.  But that's a detail of the OS function we call, we can't really give guidance on it.

[2020-07-07 17:20] #29216 closed

[2020-07-07 17:22] bartonjs commented on #38864
Yes, please :frowning:

[2020-07-07 17:23] nattress commented on #13726
We support custom modifiers now

[2020-07-07 17:23] #13726 closed

[2020-07-07 17:25] layomia commented on #38395
Thanks for providing more info. I'll take a look.

[2020-07-07 17:25] joperezr commented on #1442
We have opted to change the milestone to future for now ([which doesn't mean it can't be done in 5.0](https://github.com/dotnet/runtime/issues/38286)) because we need to further discuss whether or not we should take in this breaking change and how to deal with it so that it is not as impactful, that means we might opt to either introduce a new API for this or a configuration switch for back-compat

[2020-07-07 17:31] marek-safar commented on #37706
I don't see the change in, what is the plan with this rollout?

[2020-07-07 17:33] trylek commented on #37706
I rebased the change to the latest master yesterday but I hit infra issues in testing and later a conflict. I'm now re-testing the change and hoping it comes out fine, I'll ping the reviewers to approve the merge ASAP as the change is a pain to keep in sync.

[2020-07-07 17:36] layomia commented on #38055
Thank you for your investigation and proposal. Due to time constraints on 5.0, we are unlikely to fit this in. I'll triage this as "Future" for now, and it can be considered for the next release.

[2020-07-07 17:39] layomia commented on #38199
FWIW - this is a duplicate of https://github.com/dotnet/runtime/issues/728 and is a valid feature to be considered for built-in support.

[2020-07-07 17:47] cston commented on #19357
The current behavior matches .NET Framework, throwing `System.InvalidOperationException: 'Collection was modified; enumeration operation may not execute.'` for the following:
[code]
The existing behavior seems appropriate. Given that the behavior matches .NET Framework, we should leave the behavior unchanged.

[2020-07-07 17:47] #19357 closed

[2020-07-07 17:50] DonFrazier commented on #31247
I am hitting this situation with .net core 3.1 in a console app.  I making a sustained high volume of POST requests to the same host/path but each request has a different body.  It appears retry succeeds.   The error usually occurs 10-20 minutes into a period of downloads. I have a somewhat straightforward code base that I can repro on a regular basis but it is not something I can post publicly.

[2020-07-07 17:51] layomia commented on #37769
Closing as the issue here was because of property name conflicts due to case-insensitve matching, which is the expected behavior. Please follow up if you still face issues with this.

[2020-07-07 17:51] #37769 closed

[2020-07-07 17:53] troysteinbauer opened #38882 "Microsoft.Bcl.AsyncInterfaces portability with .NET Standard 2.0"
### Description

Using the [.NET Portability Analyzer](https://github.com/microsoft/dotnet-apiport) on the `.NET Standard 2.0` build of `Microsoft.Bcl.AsyncInterfaces` library gives a result of `96.45%`. See the attached file below which contains the `HTML` and `XML` output of the `ApiPort` tool.

 - [ApiPortAnalysis.zip](https://github.com/dotnet/runtime/files/4886338/ApiPortAnalysis.zip)

This a

[2020-07-07 17:57] safern commented on #35610
@darkdragon-001 I'm sorry to hear that, I'll change the milestone to 5.0.0 to see if we can put up a fix at the right timeframe to make it on time since the fix seems simple enough.

[2020-07-07 17:58] ygoe commented on #24084
@ajcvickers So basically, the built-in validation attributes are useless. Don't use them! Ever! Instead, create your own attributes that provide a decent feature set, like localisation of the messages. Either do it in your own project or build, share and use a NuGet package that replaces the entirely broken validation attributes. They're just wasted space in a project deployment. I've tried severa

[2020-07-07 17:59] safern commented on #38702
Also, I guess the reason why libgdiplus is not in the .NET Core docker images is because System.Drawing.Common is an OOB package and not part of the shared framework. @richlander what do you think we should do here?

[2020-07-07 17:59] BruceForstall commented on #38847
It's failing in outerloop:
https://dev.azure.com/dnceng/public/_build/results?buildId=718997&view=ms.vss-test-web.build-test-results-tab

[2020-07-07 18:01] levicki commented on #1442
I would appreciate if new default behavior would be correct, and if you opted for a configuration switch for back-compat. That way developers would at least be aware that they have something to fix if they want to keep using the same API.

I would say that introducing new API (in some future .Net Framework release, let's call it `N`) makes sense only if it will be orthogonal with existing Win32 AP

[2020-07-07 18:13] danmosemsft commented on #38872
Thanks for writing this up.

Do you have evidence folks need to do this?  If not, we might leave them out - that's up to the API review folks.

For the enum,
* is there some ordering that makes sense other than semi-random?
* you might want to do some regularization eg, either "Ref" or "Reference" and not both "Ref" and "ref".
* maybe "IncompleteSlashP" should say something about unicode categorie

[2020-07-07 18:14] sipsorcery commented on #1766
@SunnyWar if you're still looking for this someone else pointed out a DTLS implementation for .Net Core buried down in the [BouncyCastle project](https://github.com/bcgit/bc-csharp/tree/master/crypto/src/crypto/tls).

[2020-07-07 18:15] #724 closed

[2020-07-07 18:15] #34151 closed

[2020-07-07 18:15] sbomer commented on #36677
Moved to https://github.com/mono/linker/issues/1319

[2020-07-07 18:15] #36677 closed

[2020-07-07 18:18] drauch commented on #38852
@jeffschwMSFT I think System.Collections is not the correct label, it should be area-Extensions-Configuration don't you think?

[2020-07-07 18:19] wfurt commented on #38679
I'm not sure the -25294 (errSecNoSuchKeychain) is relevant. I see them often. You can also check your working system and compare. The cases when I saw internal error were related to accessing private keys. And OS gives us `Internal error` so there is not much we can put to the exception. You can try to run `security unlock-keychain` from the same session where you running your app. If you using ke

[2020-07-07 18:20] ericstj commented on #38393
Source in question is here:
https://github.com/dotnet/runtime/blob/4cb924de165aa8e5373a109a68611d422aa72a09/src/libraries/Microsoft.Extensions.Caching.Memory/src/MemoryCache.cs#L254-L256

I agree it's a little unusual that the act of calling `TryGetValue` modifies the cache entry being created.

Looks like this behavior has been around for a very long time.  Initially introduced here; https://gith

[2020-07-07 18:23] ericstj commented on #38392
@foxjazz can you please provide a repro project that demonstrates the problem you are reporting?

[2020-07-07 18:24] Jozkee commented on #38713
In that case this is my understanding of the change:
1. Remove MediaType-related validations.
2. Wrap `JsonSerializer.DeserializeAsync` on a try-catch.
3. Append the MediaType before rethrowing.

[2020-07-07 18:24] joperezr commented on #12800
@stephentoub I'm pushing this to future for now given that it has been logged for a year now, but feel free to pull back to 5.0 if this is something we want to fix there.

[2020-07-07 18:27] LEI-Hongfaan commented on #38567
Your Proposed API **is good**. But some part of Usage Examples could be misleading. They **are** mathematical black magic. You said that.

My key point is that the yaw in `YawPitchRoll` and the yaw in `PitchYawRoll` are not equal in general cases (if you take my terminology). The Vector3 in your example is merely a storage device. There is no point to change 'yaw, pitch, roll' from/to 'pitch, yaw,

[2020-07-07 18:28] sipsorcery opened #38886 "Play and Capture Audio"
## Background and Motivation

There should be a way to play and capture audio with .Net Core. For some reason it's always been missing and to rub salt in the wounds even newer SDK's, much younger than .Net, such as Go and Rust, have this capability.

On top of that there are numerous Azure API's that take and return PCM 8K and 16K audio samples but to actually use those samples on anything other t

[2020-07-07 18:29] omajid commented on #38755
I am happy to help with the work. I don't think I could do it alone, though: I don't have access to Windows platforms for development.

[2020-07-07 18:29] abelbraaksma commented on #38872
I wasn't sure about the enum values, to leave them as is, or not. I don't particularly like them, I'll see if I can improve the names.

The order of the enum shouldn't matter, I think? But yeah, it's a bit random. I'll go over your other suggestions too.

[2020-07-07 18:30] AndyAyersMS commented on #38743
The .NET analogs of C++'s RVO and NRVO are indeed useful -- but not something the jit is able to do at present. Reverse struct copy-prop (#8887) will eventually allow the jit to construct some structs directly into the hidden return buffer.

However, as @GrabYourPitchforks notes, on the `NewGuid` example, this optimization would likely be blocked by the call to `GetRandomBytes`, since the jit woul

[2020-07-07 18:30] joperezr commented on #29976
@GrabYourPitchforks is this one still planned for 5.0 or should we adjust the milestone?

[2020-07-07 18:32] pgovind commented on #38872
I think this is close to being ready for review, save for the comments that Dan mentioned. Considering that it'd probably not get API reviewed in time for .NET 5, I'm going to mark it as Future, but I'd really like to see this get in for .NET 6. I'll just add that we'll need to document this class(and enum) when we make it public.

[2020-07-07 18:34] joperezr commented on #30859
cc @adamsitnik where we aware of this already? Setting it to future for now since it doesn't seem to be a new regression in 5.0, but that doesn't mean we can't fix it for 5.0 if we need to.

[2020-07-07 18:35] AndyAyersMS commented on #33129
@jkoritzinsky so your fix in #38829 will fix this particular test case? If so, I'll assign this back to you and re-label.

For broader thiscall support, it would be good to clarify what exactly the convention is for non-x86, non-windows, since technically those ABIs don't have thiscall.

[2020-07-07 18:35] joperezr commented on #30924
This coulld also be done now with default interface implementations I believe.

[2020-07-07 18:37] joperezr commented on #31043
FYI: @tarekgh

[2020-07-07 18:38] danmosemsft commented on #38872
I think the only reason would be to make it easier on anyone reading it in the docs. In Visual Studio, I think it orders the completion list by usage.

BTW I was going to suggest to remove `[Serializable]` since we don't want to add that to anywhere new because BinaryFormatter is highly problematic. But it was already there - that would be a breaking change.

[2020-07-07 18:38] josalem commented on #38847
Taking a look at the history on this test, I think the first failures happened on Friday last week.  This indicates to me that recent changes may have caused this failure.  Let me look into recent changes and see if anything stands out.

[2020-07-07 18:39] stephentoub commented on #12800
That's fine, thanks.

[2020-07-07 18:39] stephentoub commented on #29976
I've moved it to future.

[2020-07-07 18:39] jkoritzinsky commented on #33129
Yes, #38829 will fix this specific case.

The broader support is being able to call function pointers pointing to native instance methods that return structs on Windows x86, x64, and ARM64 and being able to define reverse-P/Invoke delegates marked with `[UnmanagedFunctionPointer(CallingConvention.ThisCall)]` or `[UnmanagedCallersOnly(CallConvs = typeof(CallConvThiscall))]` that can be passed to na

[2020-07-07 18:41] buyaa-n commented on #36517
That property calling a private helper method where the exception is thrown correctly (with one of the parameters):
[code]
Also we have configured it to apply only for public members because of too much noise caused by throw helpers

[2020-07-07 18:42] eerhardt commented on #1080
Do we need both #38872 and this issue? Or can this one be closed in favor of #38872?

[2020-07-07 18:43] jkoritzinsky commented on #33129
We'd like to be able to define as part of the "extensible calling convention" support in .NET 6 an "instance stdcall" (stdcall but struct return values are always returned byref) calling convention for Windows since that's technically what COM uses (the differences are visible in DirectX) to enable people like @tannergooding to provide DirectX bindings without having to manually account for the ca

[2020-07-07 18:44] joperezr commented on #13628
@adamsitnik can we close this since as @GrabYourPitchforks pointed above this does seem to be "by design"?

[2020-07-07 18:46] bartonjs commented on #31264
The timeout (consistency) is being investigated by #38782

As already pointed out, even though the delegate returns true, the system has to build the chain first in order to evaluate the values to pass as the SslPolicyErrors (and X509Chain, of course) value(s), and that's where the pause is occurring.

I think we already have enough changes already in flight (or soon to be done) to address the mai

[2020-07-07 18:46] #31264 closed

[2020-07-07 18:49] ygoe commented on #24084
Even worse, I believe the entire API of System.ComponentModel.DataAnnotations is non-localisable by design. While I can create my own `ValidationAttribute` that can do its own validation and provide its own error message, there's nothing that can tell it what language the message is needed in. The only relevant overridable method `FormatErrorMessage(string name)` is only given the field name (usel

[2020-07-07 18:49] terrajobst commented on #38419
[Spec](https://github.com/dotnet/designs/pull/134)

* `ActivityContext.IsRemote` sounds like the instance is remoted, which isn't the case, but we can't think of a better name.
* Making `Activity.Kind` settable seems very unfortunate. Given we do this backward compat only, we should find another way of doing this without making one of the key properties mutable. One option is to disallow changing

[2020-07-07 18:50] tannergooding commented on #33129
@jkoritzinsky, should that comment be a new issue tracking support for `delegate* unmanaged[Thiscall, *]` where `*` is `Stdcall`, `Cdecl`, or `Fastcall`?

I think Stdcall is the primary, but IIRC Cdecl and Fastcalll were slightly tweaked as well (although I've never seen them in practice).

[2020-07-07 18:50] joperezr commented on #31314
@danmosemsft did this ever got fixed? I don't see the test disabled and it doesn't seem to be failing so I'm inclined to close this unless we expect it to fail again with next DST

[2020-07-07 18:51] stephentoub commented on #38011
Either seems fine to me.

[2020-07-07 18:51] Tratcher commented on #38393
Yes, that's an intentional feature. The point is that if you're aggregating items from the cache to build other entries, you may want to expire the composite item when any of the original components expire.

I don't see any docs for this feature, nor a way to opt out of it. There is a whole batch of tests around it:
https://github.com/dotnet/runtime/blob/4233110dfc3336be7e79129d6d7f0a144065d51a/sr

[2020-07-07 18:52] joperezr commented on #31340
I'm closing this for now as I don't see it failing any longer on CI. Feel free to reopen otherwise.

[2020-07-07 18:52] #31340 closed

[2020-07-07 18:52] danmosemsft commented on #31314
Probably not. I don't mind closing since it is so low priority.

[2020-07-07 18:52] #31314 closed

[2020-07-07 18:53] joperezr commented on #31377
@janvorli Is there anything we want to fix around this for 5.0 or is it ok to move to future?

[2020-07-07 18:58] SingleAccretion commented on #38886
There is a wrapper for VLC which should be cross-plat. I do not think it supports capture though.

In general, what are the scenarios? It seems like it would be a lot of work to make this work on Windows, and Linux, and MacOS, and Android, and iOS, and Browser.

[2020-07-07 18:59] joperezr commented on #31402
@buyaa-n do we have to fix this for 5.0?

[2020-07-07 19:00] pgovind commented on #34269
This would be a substantial addition to the regex engine itself. I'd be very interested to get a sense of how popular this request is.

[2020-07-07 19:02] BruceForstall opened #38887 "Test failure: System.Security.Cryptography.X509Certificates.Tests.RevocationTests.AiaTests.DisableAiaOptionWorks"
With:
[code]

Fails for Windows x86, x64, and arm64

e.g., (Windows x64, Release libraries, Checked coreclr)

[code]

category:correctness
theme:tail-call
skill-level:expert
cost:medium

[2020-07-07 19:04] joperezr commented on #314
I assume this is not a regression so I have set milestone to future. Feel free to pull it back to 5.0 otherwise.

[2020-07-07 19:08] jkoritzinsky commented on #33129
I think we have an issue tracking it but we haven’t decided on the final shape (if we’re going to do Thiscall + Stdcall or make a new type CallConvInstanceMethod to avoid confusion)

[2020-07-07 19:10] AndyAyersMS commented on #6569
See also notes/prototype in #780. Tried extending the cloning to cover multiple statements, etc.

[2020-07-07 19:11] ericstj commented on #37384
So today the ConfigurationBinder relies on TypeConverter infrastructure to convert to target types.  There is no built in typecoverter that does what you want, but you can register one.

See the following example:
[code]

/cc @maryamariyan @safern

[2020-07-07 19:11] buyaa-n commented on #31402
@joperezr I was not really planning to fix it, would let area owners fix it

[2020-07-07 19:11] sipsorcery commented on #38886
In my case the scenarios I have needed this capability for in the recent past are;

 - Play and capture audio/video for VoIP calls.
 - Play and capture audio/video for WebRTC sessions,
 - Playback audio from the Azure text-to-speech service,
 - Capture audio for the Azure speech-to-text service,
 - Play and capture audio with the Skype Bot API for a call to Microsoft Teams.

It would definitely be

[2020-07-07 19:13] terrajobst commented on #34168
* Looks good as proposed

[code]

[2020-07-07 19:16] ericstj commented on #37378
It seems we have a number of issues around key handling to deal with the constrained value space in configuration sources.  Similar to https://github.com/dotnet/runtime/issues/35989.  Perhaps we should consider some holistic solution to dealing with these.

[2020-07-07 19:17] abelbraaksma commented on #1080
@eerhardt, I'd suggest to close this in favor of the new one.

[2020-07-07 19:19] joperezr commented on #831
ping @janvorli

[2020-07-07 19:19] daniel-white commented on #37378
@ericstj im fine with either. I'm no longer with the employer when I created this, but I still see some benefit treating it holistically.

[2020-07-07 19:19] SingleAccretion commented on #38872
@danmosemsft  The VS snippet for an exception has it as the default, heh. I was actually wondering, should I make exceptions in my library serializable? The recently added `AsnContentException` and `CborContentException` are both  marked as such.

[2020-07-07 19:19] vexx32 commented on #1442
@joperezr I suggested above (https://github.com/dotnet/runtime/issues/1442#issuecomment-567582433) an additive way to implement a thorough resolution for this without breaking any existing code.

Can we get _that_ done for 5.0 so it's at least _possible_ to utilize these APIs in a safe way if we want to?

[2020-07-07 19:20] joperezr commented on #13694
Closing as this has been fixed. Feel free to reopen if you keep hitting this issue.

[2020-07-07 19:20] #13694 closed

[2020-07-07 19:22] jkotas commented on #31289
area-Serialization does not include System.Runtime.Serialization.Formatters : https://github.com/dotnet/runtime/blob/master/docs/area-owners.md

[2020-07-07 19:23] joperezr commented on #32161
closing as it seems like the original question was answered. Feel free to reopen if you think otherwise.

[2020-07-07 19:23] #32161 closed

[2020-07-07 19:24] danmosemsft commented on #38872
@SingleAccretion we do not recommend future use of BinaryFormatter (the primary reason for using `[Serializable]`) unless you have no alternative. The primary reason is that it is vital you do not deserialize untrusted input, and it's too easy for system to evolve and end up feeding untrusted input. Eg., you have a game that saves state; users load state from their disk. Later, someone reports a b

[2020-07-07 19:24] Ramobo commented on #38567
I agree that it is with what you're talking about, but it must absolutely be considered in general.

By ambiguous, I mean: If you say "X axis", what does that mean? Is that yaw, pitch, or roll? Yes, there are coordinate systems where X is yaw.

I agree with the rest.

[2020-07-07 19:26] danmosemsft commented on #38872
@GrabYourPitchforks we should probably ask them to change that, right?

[2020-07-07 19:27] tarekgh commented on #38419
Just to comment on that, we are not going to obsolete it in this release as it will be a big breaking for libraries using the old way of activity (e.g. asp.net, http client,...etc.). Also, we'll not change the Tags behavior and we'll return only the items which has string values. that is for less confusion and also for the sake of the performance.

[2020-07-07 19:29] SingleAccretion commented on #38872
I see, so I will remove it then. I assume the `*Content*Exception`s should also be made not serializable (maybe there should be an issue/PR for that)?

[2020-07-07 19:32] danmosemsft commented on #38872
@bartonjs should answer that.

[2020-07-07 19:32] BruceForstall opened #38889 "Test failure: System.Drawing.Common.Tests"
Windows x86 and arm64 with:
[code]

Doesn't fail on Windows x64.

x86:
[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=718587&view=ms.vss-test-web.build-test-results-tab&runId=22273786&resultId=178432&paneView=debug

category:correctness
theme:tail-call
skill-level:expert
cost:medium

[2020-07-07 19:33] BruceForstall commented on #38889
Windows arm64 also fails with:
[code]

[2020-07-07 19:35] kunalspathak opened #38890 "R2R: Cache target of indirect cell address to optimize redundant cell address loading"
Today we don't CSE loading the target of indirect cell address because during CSE we don't have that information in the IR. It happens in later phase like lower.

Consider the following code pattern:
[code]
If we can optimize it using peephole or more some ambitious final instructions scanner phase to something like this to:
[code]

With this, we can get an improvement of 8 bytes + 1 elimination o

[2020-07-07 19:38] AaronRobinsonMSFT commented on #38716
@Ollhax I ran this on my machine and it was the "Expected" output from above. All I did was load from Application.sln and press `F5` (debugger) and also tried `Ctrl+F5` (non-debugger). Both approaches succeeded. Seems we need a newer OS version.

![image](https://user-images.githubusercontent.com/30635565/86833317-378a1600-c04e-11ea-88a3-476ad96ea1c1.png)

![image](https://user-images.githubuserco

[2020-07-07 19:39] #1080 closed

[2020-07-07 19:41] Jozkee commented on #37611
Closing this, we may re-open if we consider that `ToString` method should be overriden by `TextWriter` maybe on a similar fashion to `StringWriter`.

[2020-07-07 19:41] #37611 closed

[2020-07-07 19:42] joperezr commented on #1442
As I pointed above setting the milestone to Future doesn't mean we can't get it for 5.0, we will still take PR's for issues that are marked as future, milestone is just so that we can do planning management.

[2020-07-07 19:43] terrajobst commented on #38388
Looks fine to me as proposed. Ideally, we'd combine this with an analyzer/fixer that recommends replacing with `Process.GetCurrentProcess().Id` with `Environment.ProcessId`.

@dotnet/fxdc?

[2020-07-07 19:45] scalablecory commented on #38668
Triage: if you think this is a Framework bug, please file a bug in the community site. This Github repo is for .NET Core issues only.

[2020-07-07 19:45] #38668 closed

[2020-07-07 19:46] tarekgh commented on #38804
@noahfalk @tommcdon can triage this one as owners.

[2020-07-07 19:47] ericstj commented on #38852
Interesting. So if no instance is provided it can bind but if it finds an instance then it cannot.

The problem is here:
https://github.com/dotnet/runtime/blob/4cb924de165aa8e5373a109a68611d422aa72a09/src/libraries/Microsoft.Extensions.Configuration.Binder/src/ConfigurationBinder.cs#L309-L346

If the instance is null then it checks the target type for [known generic interfaces](https://github.com/

[2020-07-07 19:47] safern commented on #38434
@Ravenheart I've reached out the Windows team and they confirmed that there is a known regression that this happens when image size is > 1MB. The sample image you shared is ~2MBs so that falls into that category. Did you see this issue happen with images < 1MB?

They said the fix will be shipped soon. I will close the issue given that this is Windows bug but we can keep the discussion open and I c

[2020-07-07 19:47] #38434 closed

[2020-07-07 19:50] logiclrd commented on #38055
Thanks for your response :-) I have updated the proposal to include a description of the async-over-sync problem and what I believe it would take to resolve it. Ultimately it would be a breaking change, and I have no idea how or if things in the core framework can support that, even over major version number changes.

There's some argument that perhaps making the converter architecture `async` _as

[2020-07-07 19:50] joperezr commented on #33554
cc @terrajobst

[2020-07-07 19:51] ericstj commented on #34691
This appears to be a duplicate of https://github.com/dotnet/runtime/issues/36044

[2020-07-07 19:51] #34691 closed

[2020-07-07 19:51] joperezr commented on #34145
FYI: @tarekgh

[2020-07-07 19:51] tarekgh commented on #31043
We don't have a way to listen for the TZ changes as this will require creating some listener threads. I think the offered workaround for th apps is reasonable if they care about this scenario. The apps can listen to TZ change event and then they can call TimeZoneInfo.ClearCachedData. This way we are not putting the burden on all apps.

[2020-07-07 19:52] ericstj commented on #36044
@beppemarazzi  suggested a PR to fix this.  I think we'd need to consider what this means for existing configuration providers.  Would they break if they start seeing non-string/enum keys?

[2020-07-07 19:52] scalablecory commented on #36292
Triage: worth an investigation. @antonfirsov @adamsitnik can you help here?

[2020-07-07 19:53] joperezr commented on #34162
cc: @tarekgh
Setting as 5.0 for now to investigate if the AV is a regression.

[2020-07-07 19:55] joperezr commented on #34681
cc: @tannergooding

[2020-07-07 20:00] tarekgh commented on #34162
I don't think this is right stack. DateTime.Date doesn't access any managed object. all it access is just internal fields which all are stored internally and all of them are value typed.

[code]

I don't think this issue will be actionable without a repro or debugger dump.

[2020-07-07 20:02] BruceForstall opened #38892 "[Linux/arm32] Hundreds of TailcallStress failures in libraries tests"
The Linux/arm32 checked coreclr + release libraries test run with:
[code]

has 579 failures (non-TailcallStress modes only have a few failures, with other issues opened to track them).

https://dev.azure.com/dnceng/public/_build/results?buildId=718587&view=ms.vss-test-web.build-test-results-tab&runId=22267618&paneView=debug

category:correctness
theme:tail-call
skill-level:expert
cost:medium

[2020-07-07 20:03] janvorli commented on #38652
I think it should be possible to disable that warning. I don't remember why it was not done before.

[2020-07-07 20:05] Jozkee commented on #37841
@maloo Doing this doesn't cause any test to fail?
If this used to work on .NET FW then it may be a functional regression, however it needs more investigation.

[2020-07-07 20:12] josalem commented on #38843
Thanks, this is on my radar.  Work is tracked here: #38156

[2020-07-07 20:26] jkotas commented on #38702
We have the dependency mentioned in https://docs.microsoft.com/en-us/dotnet/core/install/linux-debian#dependencies . Add an explicit note that it is not included in the default dotnet containers?

[2020-07-07 20:32] kouvel commented on #38011
Looks fine to me. I was also wondering if it should be prefixed with `Unsafe` since it would allow changing the EC arbitrarily which may not have been possible to do before, but can determine in the review.

[2020-07-07 20:34] DrewScoggins commented on #31453
Yeah, we should close this and do the tracking in the other bug.

[2020-07-07 20:34] #31453 closed

[2020-07-07 20:42] tommcdon commented on #38804
@sywhang @josalem

[2020-07-07 20:44] mattnischan commented on #34162
That's what I thought as well, but the full dumps show the same stack. We worked internally with a MS support ticket for a while, but we stalled out when the next course of action requested was to adjust GCStress in a test environment, repro it manually, and collect additional dumps. This was just as lockdown was happening and we just didn't have resources.

If there's someone else at MS I can sen

[2020-07-07 20:50] Jozkee commented on #37212
We probably want to investigate why the `path` in `EnumerateFiles` is being trimmed. If we decide to make the change we should consider that not trimming the whitespace on a next version could be considered breaking.

[2020-07-07 21:03] Jozkee commented on #37096
Is this a regression from a previous version? Also is this behavior exclusive to said OS?

[2020-07-07 21:07] GrabYourPitchforks commented on #29976
Thanks for moving it. I'm finishing up the new plan and should have something to publish in the next few weeks. That should supersede this issue, at which point this can be closed.

[2020-07-07 21:07] steveharter commented on #38714
Per discussion with @GrabYourPitchforks if addressed in the future we should only support `file://` not network paths.

[2020-07-07 21:11] steveharter commented on #37576
Due to 5.0 schedule constraints, this is being moved to Future.

[2020-07-07 21:15] steveharter commented on #36753
Due to 5.0 schedule constraints, this is being moved to Future.

Normally fields are always private or internal, not public or protected, so to address this scenario we may need to add a property.

A workaround is to copy the logic from PathAssemblyResolver into a new class and make necessary changes.

[2020-07-07 21:21] #31463 closed

[2020-07-07 21:23] steveharter commented on #30917
Due to 5.0 schedule constraints, this is being moved to Future.

[2020-07-07 21:25] steveharter commented on #29723
Due to 5.0 schedule constraints, this is being moved to Future.

[2020-07-07 21:34] GrabYourPitchforks commented on #24985
Loading an assembly is very expensive. The extra one-time allocation of converting a `Stream` to a `byte[]` is not going to show up in any realistic performance profile when compared against the other costs in this code path.

[2020-07-07 21:34] #24985 closed

[2020-07-07 21:35] lambdageek opened #38897 "[interp] DynamicMethod with a CALL of a P/Invoke throws "BadImageFormatException: Method has no body""
### Description

The following program correctly calls the P/Invoke when runnign with the JIT, but throws a `BadImageFormatException: Method has no body` under the interpreter.

[code]

and `clang -o libFoo.dylib -shared foo.c` where `foo.c` is:

[code]

### Configuration

Mono on OSX. Both net5 and mono/mono master.

### Regression?

not sure

### Other information

Expected output:
[code]

Actua

[2020-07-07 21:37] ericstj commented on #33429
@StephenMolloy it looks like you added this in .NETFramework.  Do you think it makes sense adding to the compatibility assembly for .NETCore?

We consider System.Configuration.ConfigurationManager a technology that is done and we're trying to limit the investments to bugfixes and security fixes.  We've brought it back to help folks port code from .NETFramework but aren't investing in it.

[2020-07-07 21:38] steveharter commented on #21785
Due to 5.0 schedule constraints, this is being moved to Future.

[2020-07-07 21:40] lambdageek commented on #38897
Just calling the method directly, without reflection using `CallThing (IntPtr.Zero)` works as expected with the interpreter.  The IL should be the same, AFAICT...

[2020-07-07 21:44] janvorli commented on #38571
I meant that it skims over all the up to date components in a matter of seconds. So it is not clear to me how it would save minutes. Native part of build-runtime.sh when all components are up to date takes 7 seconds on my 8+ years old devbox.

[2020-07-07 21:45] jashook commented on #38571
Right the other bit is that this is the case on unix; however, unless you are familiar enough with the build system to open a specific vcxproj and rebuild that on windows. The rebuild cycle is less efficient.

[2020-07-07 21:48] joperezr commented on #35562
cc: @tarekgh even though this does seem to be by design, I wonder if we should consider having consistency between DateTime and TimeSpan?

[2020-07-07 21:51] ericstj commented on #32307
I don't believe anyone is using this if we can absorb this breaking change in 5.0.0 that seems best to do now (rather than do it in 6.0.0 which we expect to move to LTS).  If it breaks anyone they can revert to an earlier package and let us know they need it and we can bring it back.

[2020-07-07 21:52] twsouthwick commented on #38882
This occurs because the recommendation is to use ApiPort to analyze users' own code, not necessarily dependencies. In this example, you're actually analyzing against a .NET 4.7.2 version of the interfaces, while there is a .NET Standard build of it. The implementation details of an assembly can be different for different target versions (normally for perf reasons),

When analyzing an application,

[2020-07-07 21:52] joperezr commented on #35698
According to the response abvoe this does seem to be by design, is that correct @tarekgh ?

[2020-07-07 21:54] joperezr commented on #35784
cc: @stephentoub

[2020-07-07 21:54] danmosemsft commented on #38886
As you know this repo is for the base libraries. API at this level needs to be stable for a long time, and is commensurately slow to change. We tend to have a single implementation, that is likely to be uncontroversial and suitable for everyone. We think of tech like audio and video as a better fit for higher in the stack, where libraries can move quickly, break API if needed, and be opinionated -

[2020-07-07 21:56] joperezr commented on #35915
@steveisok I saw you labeled this as runtime-mono but should it be specific to either os-ios or os-android? Not sure what does interpreter test run means.

[2020-07-07 21:56] #1231 closed

[2020-07-07 22:01] joperezr commented on #37099
I'll close this for now given the above solution but @tthiery feel free to reopen if you think that we should still consider the proposal you stated.

[2020-07-07 22:01] #37099 closed

[2020-07-07 22:03] joperezr commented on #37426
@tannergooding I have set the milestone as 5.0 for now assuming this is a regression from 3.1. If it is not, feel free to push to future.

[2020-07-07 22:04] steveharter commented on #38539
This is not working because
- There is no public parameterless constructor for record types meaning the deserializer must call the constructor that contains the record properties as arguments (since it cannot construct an empty object and call the setters directly).
- The name of the constructor arguments for records is the exact name specified when declaring the record (i.e. "Description" in this

[2020-07-07 22:07] joperezr commented on #37691
@stephentoub do we usually keep issues like this open here or do we usually move them to roslyn repo?

[2020-07-07 22:07] jkotas commented on #21785
System.Reflection.Metadata is part of .NET Core surface now, so this is no longer concern.

System.Reflection.Metadata is the right way to solve this going forward. Also, System.Reflection.Metadata is faster and lighter weight API than `AssemblyName.GetAssemblyName` that runs the full runtime assembly loader in a special mode.

[2020-07-07 22:07] #21785 closed

[2020-07-07 22:09] joperezr commented on #37739
@MichalStrehovsky this should be easy to test now with the Trimming Tests infrastructure. Let me know if you need any help with using it or writing this test.

[2020-07-07 22:11] steveisok commented on #35915
At the time I created the issue, we were only running interp on the desktop.  It will apply to all workloads that run against the interp.

[2020-07-07 22:15] tarekgh commented on #35698
Yes this is by design we special case the DateTime.MinValue when converting it to OA date.

[2020-07-07 22:15] #35698 closed

[2020-07-07 22:18] #35531 closed

[2020-07-07 22:19] joperezr commented on #37973
@eerhardt at least the setting seems to already be present in the SDK so isn't this one done already? https://github.com/dotnet/sdk/blob/408fe82020f979ec65862add4d5b1dd85fef5d80/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets#L396-L399

What am I missing?

@Clockwork-Muse The point here is to have a switch so that consumers can choose to always treat the Timezone as Invariant

[2020-07-07 22:21] StephenMolloy commented on #33429
I'm not inclined to believe it makes much sense in .Net Core. The ConfigurationBuilder feature in 4.7.1 was added to try and shoehorn a manner of flexibility and variety of configuration that is available in .Net Core to the full framework. But given the constraints of the old config system, it's a pretty limited feature compared to what is already available to .Net Core apps. Porting Configuratio

[2020-07-07 22:24] sipsorcery commented on #38886
Fair enough although imho playback of PCM 8k/16k audio is as basic as it gets and will not change. I got my hopes up that once Azure ($$) .Net SDK's started requiring audio IO then the next step would for it to get supported in the base class library. I haven't seen anywhere higher up the stack very interested; there are some rudimentary XAML (UWP only) controls with very very rudimentary audio/vi

[2020-07-07 22:24] #38886 closed

[2020-07-07 22:24] danmosemsft commented on #35915
I suggest to put it in area-Codegen-Interpreter-mono as we would for any test that only fails on interpreter.

[2020-07-07 22:24] joperezr commented on #38301
@eerhardt not sure if this one has to be done by 5.0 so I added it to the Linker project and set the 5.0 milestone for now.  Feel free to push to future and remove from the project if you think it is appropriate.

[2020-07-07 22:25] joperezr commented on #38412
cc: @tarekgh

[2020-07-07 22:35] joperezr commented on #33384
Added documentation label and will keep this open to track the work of adding minimum versions to our dependencies in the docs.

[2020-07-07 22:35] abelbraaksma commented on #38872
@danmosemsft, should the exception remain sealed? It doesn't seem sensible to leave it sealed, and u don't think it breaks anything if we open it up for inheritance.

[2020-07-07 22:36] joperezr commented on #34004
I don't believe there is a way to do it from the dotnet command, but you should be able to do it by using the dotnet install scripts. You can get all the info on how to run them here: https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script

[2020-07-07 22:36] danmosemsft commented on #37640
The PR that was linked appears to be:
[code]

[2020-07-07 22:36] joperezr commented on #34004
Closing for now since this seems like it was a question which has been answered. Feel free to reopen otherwise.

[2020-07-07 22:36] #34004 closed

[2020-07-07 22:41] joperezr commented on #35888
Can you give exact repro steps (includding how you publish) so that we can evaluate what is going on? My hunch is that there must be an entry for this file in the runtimeconfig file but it would be good to repro it so that we can fully understand.

[2020-07-07 22:46] joperezr commented on #36173
cc @leecow do you mind taking a look? seems like they are referring to this tag: https://github.com/dotnet/coreclr/releases/tag/v1.0.6

[2020-07-07 22:47] #36523 closed

[2020-07-07 22:47] cston commented on #24234
@Thaina, are there still questions or bugs here that should be addressed or can this issue be closed? Thanks.

[2020-07-07 22:49] hoyosjs commented on #35888
@joperezr there is an entry in the dependency list. It gets shipped in the 3.1 shared framework and results in the asset manifests, so it gets published and added, even though it was only meant as an informational readme. Excluding it in 3.1 got rejected by ship room

[2020-07-07 22:50] joperezr commented on #36670
I'm not sure what is the expectation for this issue from the dotnet/runtime repo side, I believe that in order to support something like this most of the work would be into creating a new NuGet convention which would then specify either a new TFM or something to differentiate Nano Server.

[2020-07-07 22:51] joperezr commented on #36748
cc: @marek-safar

[2020-07-07 22:59] joperezr commented on #36751
Seems like question has been answered so I'll go ahead and close this for now. @Symbai feel free to reopen if you that was not the case.

[2020-07-07 22:59] #36751 closed

[2020-07-07 22:59] mangod9 commented on #35777
Closing for now, we can reopen in the future if required.

[2020-07-07 22:59] #35777 closed

[2020-07-07 23:01] joperezr commented on #35888
I see, has this been addressed for 5.0?

[2020-07-07 23:03] ericstj commented on #31764
This works for me.  [OpenExeConfiguration.zip](https://github.com/dotnet/runtime/files/4887549/OpenExeConfiguration.zip)

Chances are the problem is with the config file that is being loaded.  We'd need more information to properly diagnose.

[2020-07-07 23:05] joperezr commented on #36754
I believe the right place for this issue should be www.github.com/dotnet/aspnetcore instead. Do you mind moving it there?

[2020-07-07 23:07] nkolev92 commented on #36670
@joperezr

NuGet owns the tfm mapping, but the compatibility decisions are made by runtime and net in general.

cc @terrajobst would have the most context here.

[2020-07-07 23:07] tarekgh commented on #35562
This is by design.TimeSpan doesn't allow passing naked separator. if you want to format TimeSpan with any separator you'll need to pass it with like `hh\:mm`. I believe this is done that way as time separator like ':' when used with DateTime(Offset) it doesn't mean the ':' but it means a time separator stored in the current culture. so, if the culture used '.' as a time separator and the format ha

[2020-07-07 23:07] dsplaisted commented on #36670
@joperezr Wouldn't this be handled with a different RuntimeIdentifier?

[2020-07-07 23:07] hoyosjs commented on #35888
Yes, this is no longer an issue in 5.0

[2020-07-07 23:08] joperezr commented on #37104
cc: @ericstj

[2020-07-07 23:09] joperezr commented on #35888
Ok, given that and the fact we won't fix this for 3.1 I'll go ahead and close this for now.

[2020-07-07 23:09] #35888 closed

[2020-07-07 23:11] ericstj commented on #31492
The built-in machine.config only has support for a small subset of the configuration types (largely limited to those which are supported on .NETCore).

On .NETFramework the system.data section would be satsified by this entry in machine.config:
[code]

Now you could define this section and provide a type to store the information your config file uses, but this information will not be *read* by any