[2022-06-14 20:57] amaltinsky commented on #70751
Tagging @ericstj as the area lead

[2022-06-14 21:03] danielchalmers opened #71852 "RegexGenerator fixer hijacks formatting"
**Version Used**: Visual Studio 17.3P2, 7.0.100-preview.5.22307.18

**Steps to Reproduce**:

With code:

[code]

Choose `Convert to 'RegexGenerator'`.

**Expected Behavior**:

Newline preserved after lambda.

[code]

**Actual Behavior**:

Newline removed after lambda.

[code]

[2022-06-14 21:03] jakobbotsch commented on #66254
@BruceForstall can this be closed now?

[2022-06-14 21:16] #36389 closed

[2022-06-14 21:20] #66254 closed

[2022-06-14 21:25] OnamChilwan commented on #782
Is there any update on this, when can we expect this to be added? I am targeting .NET 6 and can only see `CamelCase` as an option..

[2022-06-14 21:27] stephentoub opened #70753 "Revisit locking in SymbolicRegexBuilder"
SymbolicRegexBuilder maintains several HashMaps (e.g. _stateCache) that are potentially read from outside of a lock while potentially being modified inside a lock, which isn't safe.  The intention I believe was that even the reading would be under a lock (or from the ctor), but there are some code paths that now violate this, as is evident by putting a Monitor.IsEntered assert in CreateState.

[2022-06-14 21:30] CyrusNajmabadi opened #70754 "Update .Net source generators to use new SyntaxValueProvider.ForAttributeWithMetadataName api."
Roslyn recently added a new API for greatly speeding up SGs that use the pattern of looking for nodes that have an attribute on it with a particular fully qualified name for the attribute.  For example, the json serialization generator looks for this attribute: https://github.com/dotnet/runtime/blob/978df67ced885aeca5f7e75379451bc1a57cc219/src/libraries/System.Text.Json/gen/JsonSourceGenerator.Par

[2022-06-14 21:47] gregg-miskelly opened #70755 "Crash in coreclr.dll!Debugger::SendException while processing stack overflow in x64 Windows"
### Description

The in-process part of the .NET debugging services will exhaust the guard page while trying to send a stack overflow exception. This results in the target process exiting with an access violation and the debugger never breaking on the stack overflow. I don't know if this is the only way to cause this or just the easiest way, but I don't see this with a "hello world" sync method, b

[2022-06-14 21:52] #70150 closed

[2022-06-14 21:55] runfoapp[bot] opened #70757 "system.net.http.functional.tests crashing"
Runfo Tracking Issue: [system.net.http.functional.tests crashing](https://runfo.azurewebsites.net/tracking/issue/347)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Results|Run Client|
|---|---|---|---|---|---|---|---|
|[1830179](https://dev.azure.com/dnceng/public/_build/results?buildId=1830179)|[runtime](https://dnceng.visualstudio.com/public/_build?definitionId=686)|[PR 70868](https://g

[2022-06-14 22:03] jkoritzinsky commented on #70757
I think the crashes in System.Net.Security.Unit.Tests are related. See this build: https://dev.azure.com/dnceng/public/_build/results?buildId=1823973&view=logs&jobId=d883cc86-ff08-5389-6fca-0d01451458f6&j=d883cc86-ff08-5389-6fca-0d01451458f6&t=5fca1690-df52-529b-9100-c473a9350efd

[2022-06-14 22:05] janvorli commented on #70211
@richlander I would make this extra info part of the message that currently reports the coreclr initialization failure. We currently print this into console:
[code]
I was thinking that it would be sufficient to add some extra number identifying the source of the failure. Alternatively, we could possibly generate a special range of HRESULT codes that we would use instead of the E_FAIL.

[2022-06-14 22:15] mangod9 commented on #70718
@littlehoneybunnytuttifruttipumpkinpie could you please try your repro after setting `COMPlus_GCRegionRange=10700000000` increases the region reserved range to 1TB. By default it only reserves 256gb which might be the reason you are getting OOMs on large memory machines.

[2022-06-14 22:15] #42857 closed

[2022-06-14 22:25] Webreaper opened #70758 ".Net application aborts at startup with "Failed to create CoreCLR, HRESULT: 0x80004005" - .Net 7 preview 5"
### Description

I have a project here: https://github.com/Webreaper/Damselfly which I upgraded to .Net 7 preview 5 this evening, and also updated EF Core and a bunch of other dependencies (https://github.com/Webreaper/Damselfly/compare/master...develop).

The app compiles and runs fine on my M1 Macbook (I'm using VS for Mac 2022). However, when built and deployed to a docker container, and launch

[2022-06-14 22:35] agocke commented on #70510
I do want to keep this focused on dotnet/runtime, though -- that PR was in SDK and I don't want to try to design solutions for dotnet/sdk and dotnet/runtime as they have very different scenarios.

[2022-06-14 22:37] maryamariyan commented on #70326
In both debug and release the value of test shows up the same, I am not getting your repro.

[2022-06-14 22:40] CyrusNajmabadi commented on #70754
Note: teh major offenders i'm seeing in traces are Json and Logging.  So it woudl be great to be able to update these asap and get these into a VS release that has the new updated API.

[2022-06-14 22:47] BruceForstall commented on #70510
Notes:

- You are specifically addressing CI/lab/AzDO/Helix builds and test runs, not developer "local" runs. Make sure this is clear.
- I've always been averse to the term "flaky test" and discussions/solutions that seem aimed at letting tests continue to intermittently fail but not "block" PRs. This doc should make clear that intermittent failures can and often are signs of product failures that

[2022-06-14 22:49] agocke commented on #70543
Fixed by https://github.com/dotnet/runtime/pull/70356

[2022-06-14 22:49] mcm-ham commented on #70326
Thanks for investigating. I'm not referring to build configuration, I'm referring to when you have the debugger attached or not. Will attach screenshots.

[2022-06-14 22:52] #62391 closed

[2022-06-14 22:54] #61248 closed

[2022-06-14 22:59] agocke commented on #65566
I think this will likely be obsolete if we can complete https://github.com/dotnet/runtime/issues/59803. I'm moving to 8.0 for evaluation in that time frame.

[2022-06-14 23:16] mikem8361 commented on #70750
Andrew has a fix.

[2022-06-14 23:27] richlander commented on #65566
I think Mariner can use the portable linux RID.

[2022-06-14 23:28] richlander commented on #70211
SGTM ... look forward to seeing a demo. I love error messages.

[2022-06-14 23:31] buyaa-n commented on #70318
Thanks for the clear repro @tracktownsoftware and the additional details @RussKie as you pointed out the issue caused by the AppDomain.CurrentDomain.BaseDirectory path prefixed with `\\?\` when creating Uri at:
https://github.com/dotnet/runtime/blob/c8654e7378a085c8221028cf0ebd759d800ceba7/src/libraries/System.Configuration.ConfigurationManager/src/System/Configuration/ClientConfigPaths.cs#L251
I

[2022-06-14 23:41] agocke commented on #62554
We don't plan to make any changes for this area for .NET 7. For .NET 8, we're investigating https://github.com/dotnet/runtime/issues/59803, which may address this scenario directly, or cause us to take a different change for this.

In the meantime I see two potential solutions:

1. Use the Microsoft-provided zip files for portable linux-x64 (i.e. from https://dot.net/download)
2. Contact the maint

[2022-06-14 23:55] trylek commented on #70712
I think this is not a matter of VS per se, I believe it should be using the .NET SDK to launch Crossgen2 so it's on our end to fix by modifying the SDK code to emit a response file instead. @AntonLapounov, please correct me if I'm wrong.

[2022-06-15 00:09] #70051 closed

[2022-06-15 00:20] am11 commented on #70712
CG2 task does overrides response file methods e.g. https://github.com/dotnet/runtime/blob/6896e1bb4aae0877a6cb154710b6936e4d69716e/src/tasks/Crossgen2Tasks/RunReadyToRunCompiler.cs#L258 I am not sure if VS is using the same task as dotnet cli.

[2022-06-15 00:28] jkoritzinsky commented on #70754
Since logging ships out-of-band, we could add another build dimension to it now against the newer Roslyn API version since we can put it into a different path in the NuGet package based on Roslyn version.

JSON ships in-box too, so we can't update the in-box version without breaking upstream repos, but we could update the package version for downlevel consumers immediately if we wanted to.

Basica

[2022-06-15 00:29] trylek commented on #69635
I think there are several aspects to consider:

(*) In general, AFAIK <code>CCTOR_TRIGGER</code> needs to be called by all static methods to guarantee the static constructor has run for the type (as opposed to instance methods where the execution of static constructor is guaranteed by the execution of the instance constructor).
(*) We may be able to elide calls to the static constructor if we can

[2022-06-15 00:38] trylek commented on #70712
I am convinced that there's no second implementation of the Crossgen2 command-line composition in the VS (if there was, it would need to be updated every time we've been adding new build features and / or command-line switches and I believe that wasn't happening in the last two .NET releases or so). It's either that <code>GenerateResponseFileCommands</code> should by itself store the response file

[2022-06-15 00:39] tannergooding commented on #70642
I have a possible repro with:
[code]

where
[code]

[2022-06-15 00:41] #70666 closed

[2022-06-15 01:08] VincentBu commented on #70322
Failed again in: [runtime-libraries-coreclr outerloop 20220614.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1823450&view=ms.vss-test-web.build-test-results-tab&runId=48345052&paneView=debug&resultId=103056)

Failed test:
[code]
**Error message:**
[code]

[2022-06-15 01:10] VincentBu opened #70761 "Test failure System.Numerics.Tests.BigIntegerConstructorTest.RunCtorSingleTests"
Run: [runtime-coreclr libraries-jitstress 20220614.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1823267&view=ms.vss-test-web.build-test-results-tab&runId=48341644&resultId=161241&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-06-15 01:17] radical opened #70762 "[wasm] Tracking issue for build/bundler changes"
## Implementation plan
- [x] Split Wasm SDK in the SDK repo (https://github.com/dotnet/sdk/pull/31154)
- [x] Move Wasm SDK to the runtime repo
  - [x] https://github.com/dotnet/installer/pull/15951
  - [x] https://github.com/dotnet/installer/pull/16159
  - [x] https://github.com/dotnet/runtime/pull/84761
  - [x] https://github.com/dotnet/runtime/pull/84924
  - [x] https://github.com/dotnet/sdk/pul

[2022-06-15 02:22] MichalStrehovsky commented on #70719
Do you mean for debugging end user apps, or for inner loop when working on NativeAOT components.

For end user apps, we rely on static analysis: static analysis of both trimming and AOT friendliness. If there's no warnings, there should be nothing to NativeAOT specific to debug because the behavior is going to be same with or without NativeAOT. The aim for NativeAOT apps is to be warning free.

No

[2022-06-15 03:04] danmoseley commented on #70754
cc @joperezr who I believe is looking at source generator perf at the moment.

[2022-06-15 03:10] danmoseley commented on #70751
@eerhardt (as you made the fix) this seems like a good backport candidate, low risk change and apparently has impacted a number of customers. thoughts?

[2022-06-15 03:20] danmoseley commented on #70692
Interestingly though all the core dumps returned by that query are from runtime test configurations, mostly JIT. Eg., this returns nothing:
[code]
a while back I made the script dump ulimit, and i see it contains `ulimit -c value: 0`

and here is why
https://github.com/dotnet/runtime/blob/39078f54011cd78acc378007b024b5cb0f251d47/eng/testing/RunnerTemplate.sh#L134-L142

looking through the issues,

[2022-06-15 03:32] jl0pd commented on #70722
Oh, yes, sure. I've forgot about extra `nop` instruction in debug version. Release works fine with `AsSpan(1, 4)`.

[2022-06-15 03:34] danmoseley commented on #25979
Assuming this query below catches all failures covered by this issue (?) then it's failed 4 times in the last 2 months.

Failures were within either
   at System.Security.Cryptography.CngKeyLite.GenerateNewExportableKey(String algorithm, Int32 keySize) in /_/src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/CngKeyLite.cs:line 411
or
   at System.Security.Crypto

[2022-06-15 03:36] CyrusNajmabadi commented on #70754
@stephentoub @jkoritzinsky

There's a potential hybrid option we can take.

1. use the new roslyn API in all the generators where it is safe to do so immediately.
2. *port* most** of the implementation of hte new API over to the runtime repo for the generators that cannot move over immediately.  This would allow us to get the perf benefit without having to wait a very long.

So what does "most**"

[2022-06-15 03:36] kant2002 commented on #70719
I was thinking more about inner loop, but if things go south for NativeAOT you are in the inner loop.
Do you see variables and can perform deep object inspection and expression evaluation?

[2022-06-15 03:38] hoyosjs commented on #70692
While we could, we still have a work item to investigate createdump dumps being large. capturing them is a matter of adding a couple env vars for all platforms, but I am not convinced that won't cause the same issue we saw before again (although helix has guards for it now)

[2022-06-15 03:57] danmoseley commented on #45868
@vonzshik thank you for the analysis (I haven't looked and confirmed it). Do you have any interest in working on a fix? Perhaps it is possible to create a test that with enough iterations and threads more often repros this locally.

[2022-06-15 04:04] danmoseley commented on #68290
Not sure whether this reflects progressively being updated --

[code]

|QueueName|MachineName|count_|
|---|---|---|
|osx.1200.amd64.open|dci-mac-build-311.local|1|
|osx.1200.amd64.open|dci-mac-build-364.local|1|
|osx.1200.amd64.open|dci-mac-build-113|1|
|osx.1200.amd64.open|dci-mac-build-366.local|1|

@MattGal I wonder whether "exact OS version" might be something worth logging, if not in Kusto th

[2022-06-15 04:09] danmoseley commented on #69125
This is segfaulting about 2x a day.

[code]

|Queued|FriendlyName|ExitCode|ConsoleUri|PhaseName|OS|Pipeline|BuildId|QueueName|Source|
|---|---|---|---|---|---|---|---|---|---|
|2022-06-08 16:09:59.3080000|System.Net.Requests.Tests|139|https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-70111-merge-750d4d8ac641453b8e/System.Net.Requests.Tests/1/console.6f856297.log?helix

[2022-06-15 04:10] danmoseley commented on #69190
@ViktorHofer when is the infrastructure rollout that would bring the fix above?

[2022-06-15 04:13] danmoseley commented on #70692
If Helix has throttling/limits now, is there any reason to not try re-enabling?

We could use the env vars recommended https://github.com/dotnet/runtime/issues/65422#issuecomment-1044923021 .. we'd at least have mini dumps, it seems.

[2022-06-15 04:38] jahmai-ca commented on #70081
I hope this is in 6.0.7. Looking forward to converting our Xam apps to MAUI!

[2022-06-15 05:17] AaronRobinsonMSFT commented on #70758
@Webreaper You might start with setting the environment variable `COREHOST_TRACE=1`. Details on this can be found at https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/default-probing#how-do-i-debug-the-probing-properties-construction and https://github.com/dotnet/runtime/blob/main/docs/design/features/host-tracing.md.

/cc @elinor-fung

[2022-06-15 05:59] WenJunJi01 opened #71098 "[WINARM][Regression] Fail to run the command – & “C:\Program Files (x86)\dotnet\dotnet.exe" test --framework net7.0 --diag:loga.txt"
**Note:**
1.It’s regression issue. It doesn’t repro on dotnet-sdk-7.0.100-preview.5.22225.1-win-arm64.
2. Repro VM: vsengarmsfx041

**Builds info:**
dotnet-runtime-3.1.26-win-x64
dotnet-sdk-6.0.400-preview.22314.17-win-x64
dotnet-sdk-7.0.100-preview.6.22314.18-win-arm64
dotnet-sdk-7.0.100-preview.6.22314.18-win-x64
dotnet-sdk-7.0.100-preview.6.22314.18-win-x86

**Build Link:**
https://aka.ms/dotne

[2022-06-15 06:02] #69296 closed

[2022-06-15 06:30] YohDeadfall commented on #782
@OnamChilwan, you can currently use a package mentioned in https://github.com/dotnet/runtime/issues/782#issuecomment-1018535660. The pull request I made uses it's code with style changes only.

@terrajobst, till what date pull request can be merged and appear in .NET 7? If it's too close and no time left for an approval of public API changes we can go with option 2. It allows to trim the PR only t

[2022-06-15 06:38] tmds commented on #70156
https://github.com/dotnet/runtime/issues/70156#issuecomment-1145042843 describes how you can reproduce the issue without Kubernetes.

[2022-06-15 06:39] MichalStrehovsky commented on #70719
You can see variables and perform object inspection. The gotcha is that properties don't work so you're left with the backing fields.

I don't think it would be feasible for CoreCLR to run with NativeAOT CoreLib. Maybe a couple years from now. Maybe.

[2022-06-15 06:44] agocke commented on #70758
Unfortunately COREHOST_TRACE doesn't tend to work well with EFAIL (that's what 0x80004005 is). That means something has gone wrong during runtime startup. @vitek-karas might have some ideas, and + @VSadov  for potential single-file issues.

[2022-06-15 06:51] agocke commented on #62735
This is currently by-design. `System.Private.CoreLib.dll` must live next to coreclr, it is not intended to be configurable via `TRUSTED_PLATFORM_ASSEMBLIES`.

[2022-06-15 06:55] Webreaper commented on #70758
Okay, thanks. Any other logging I can turn on?

Just on the off-chance it yields any clues, here's the COREHOST_TRACE output for the process (had to rename to .txt, but if you rename to .html it'll render as a table of log entries, newest-first).

[damselfly_log.txt](https://github.com/dotnet/runtime/files/8906573/damselfly_log.txt)

I'll continue fiddling with some build settings to see if I can

[2022-06-15 07:02] agocke commented on #63036
Dup of https://github.com/dotnet/runtime/issues/3453

[2022-06-15 07:03] ViktorHofer commented on #69190
cc @agocke who is driving the SDK upgrade this month. Andy, everything should be ready by now, right? We would need to send out a mail to the runtimerepo alias and open a GH issue and pin it, for internal and external communication.

[2022-06-15 07:06] filipnavara commented on #70757
The RedHat 7 crashes were introduced by https://github.com/dotnet/runtime/pull/70447 and reverted by https://github.com/dotnet/runtime/pull/70747.

[2022-06-15 07:13] kant2002 commented on #70719
I try run under VS and even Reflection-free looks nice. I probably have to change habits to fully form opinion. Regarding waiting. I think I can wait couple years because that's my estimation for maturity of NativeAOT and I have plenty of room to improve things.

[2022-06-15 07:18] agocke commented on #69190
Finishing up testing now: https://github.com/dotnet/runtime/pull/70117

When that's done we can send the email out, pin the issue, and merge.

[2022-06-15 07:31] VincentBu opened #70766 "Test failure tracing\\eventpipe\\diagnosticport\\diagnosticport\\diagnosticport.cmd"
Run:[ runtime-coreclr outerloop 20220614.4](https://dev.azure.com/dnceng/public/_build/results?buildId=1825283&view=ms.vss-test-web.build-test-results-tab&runId=48380928&resultId=106628&paneView=debug)

Failed test:
[code]
**Error message:**
[code]
No Kusto information.

[2022-06-15 07:32] am11 commented on #70758
@Webreaper, does it still fail if you switch to daily build plan?

[code]

[2022-06-15 07:46] agocke commented on #70125
FYI @MichalStrehovsky

[2022-06-15 07:50] MichalStrehovsky commented on #70125
I saw that, I put it in 7.0, but I haven't gotten to it yet.

(Thank you for the detailed analysis @TheSpydog.)

[2022-06-15 07:50] Webreaper commented on #70758
Hey @am11, I just tried that, but it's failing to pull packages from Nuget in my Github build, e.g.:

[code]
Is there anything else I need to switch to allow me to pull that newer version (I've not used the dailies before)?

[2022-06-15 07:52] am11 commented on #70758
https://github.com/Webreaper/Damselfly/commit/3d3e7dd8307375c6c2d9c4eba386b9b56bf76628#r76136400

[2022-06-15 07:53] Webreaper commented on #70758
Thanks, just saw that!

[2022-06-15 08:00] AntonLapounov commented on #70712
Visual Studio uses SDK for publishing and SDK always passes parameters to crossgen2.exe in a response file. The Build Output window does not show the actual command line, it shows the content of the response file to make build debugging easier. That means your actual issue is not related to the length of crossgen2.exe's command line. I created a new project with those settings but could not reprod

[2022-06-15 08:01] agocke commented on #70125
Thanks -- let me know if there's any way I can help with load balancing. Everyone on the team is pretty busy, but it's good to know what's a priority.

[2022-06-15 08:22] manoj-singh commented on #70691
I am checking firewall and other setting(s) on server....

[2022-06-15 08:41] #63499 closed

[2022-06-15 08:47] ilonatommy commented on #50281
@radekdoulik, do we still plan to remove the filters in the light of @jkotas and @stephentoub arguments?

[2022-06-15 08:53] VSadov commented on #70549
https://github.com/dotnet/runtime/pull/70769 enables redirection (asynchronous suspension) on Windows ARM64

If that works, win-arm64 NativeAOT will be at functional parity with win-x64 and with CoreClr counterparts in terms of GC suspension.

[2022-06-15 09:01] #55437 closed

[2022-06-15 09:03] Webreaper commented on #70758
Okay, thanks to @am11 's help, I got a build working using the daily build, but I still see the same CoreCLR failure.

[2022-06-15 09:04] ilonatommy commented on #50957
@BrzVlad, did you hit into any blocker in the part of https://github.com/dotnet/runtime/issues/63399 targeting prev 2?

[2022-06-15 09:08] AntonKosenkoDX commented on #69410
Thank you for the workaround. It works, but it's still very weird bug for us because this property can be set in application, not in libraries, which we distribute. And our customers will still run onto this issue.

[2022-06-15 09:13] kpreisser commented on #68953
Thank you! I can confirm that with 6.0.6 the performance is much better than with 6.0.5.

[2022-06-15 09:18] BreyerW commented on #63747
A question how configurating polymorphism for non-owned types work in case of metadata source gen? AFAIK it was suggested that custom contract resolver will NOT be picked up by source gen path rendering `JsonPolymorphimsOptions` nonviable for sourcegen. Or it is nonissue by virtue of static nature of source gen (that is, it knows all types that are to be serialized and thus can generate exhaustive

[2022-06-15 09:21] Webreaper commented on #70758
Okay, just to see if we can find a more simple repro, and it seems this problem happens with my other projects too. So for example, this is a pretty simple console app without much code:

https://github.com/Webreaper/SonarrAutoImport

I cloned it, switched the framework to `net-7.0`, and the ran:

[code]
Copied this to my Synology Linux box, and ran it. I get the CoreCLR failure. Next I tried remo

[2022-06-15 09:23] ilonatommy commented on #51126
@lambdageek, I tested in 7 preview 4 - it does not crash, hot reload with the button works. I am closing.

[2022-06-15 09:23] #51126 closed

[2022-06-15 09:35] ilonatommy commented on #51855
@lambdageek, what is the status of this?

[2022-06-15 09:36] ilonatommy commented on #51211
@lewing, what is the status here?

[2022-06-15 09:56] vitek-karas commented on #62735
I agree that SDK will always put CoreLib next to coreclr. But the runtime has code to be able to get the CoreLib path from TPA - and apparently that code gets confused if there's an .exe in TPA as well. Currently SDK should never get us into this situation, but we want other scenarios to work as well.
I think it' would be worth it to look into fixing this - but the priority is relatively low (unle

[2022-06-15 10:00] ilonatommy commented on #51499
The repro repo is not available anymore, we need the author to check if it's a still existing problem.

[2022-06-15 10:01] rolfbjarne commented on #62735
When we build a universal app bundle, we have two different `System.Private.CoreLib.dll` assembly files (one for `osx-x64` and one for `osx-arm64`), and a single, universal `libcoreclr.dylib`.

We can't put both versions of `System.Private.CoreLib.dll` in the same directory, so we put them in a subdirectory, and use `TRUSTED_PLATFORM_ASSEMBLIES` to tell CoreCLR where to find it depending on the ar

[2022-06-15 10:03] ilonatommy commented on #51553
Fixed with https://github.com/dotnet/runtime/pull/58878.

[2022-06-15 10:03] #51553 closed

[2022-06-15 10:05] rolfbjarne commented on #62735
Why wouldn't it?

We add all the assemblies in the app bundle to `TRUSTED_PLATFORM_ASSEMBLIES`, and .exes are assemblies.

[2022-06-15 10:05] am11 commented on #70758
So far, I am unable to reproduce the crash locally.

[code]

[2022-06-15 10:10] Webreaper commented on #70758
BTW, you don't need to use the damselfly-base image, that shouldn't be relevant.

Wonder if it's something special about Synology's flavour of linux.... is there any way to get more debug info about the CLR startup failure?

[2022-06-15 10:16] eiriktsarpalis commented on #63747
Good question. There currently is no way make the source generator opt-in non-owned types into polymorphism, but it should still be possible to define a custom contract resolver deriving from JsonSerializerContext:

[code]
In the future we might consider exposing polymorphism configuration options via the `JsonSourceGenerationOptionsAttribute` to make the experience better for source gen scenaria.

[2022-06-15 10:19] Webreaper commented on #70758
One other thought - it could possibly be something related to my build env etc. (M1 Mac). If you want to try the actual binary that's failing on my Synology host, you could pull it from here: https://drive.google.com/file/d/1eW-olYnbcG8L8oMfdSi1bnEvDwQsnGT4/view?usp=sharing (understand if you don't want to or can't though!).

[2022-06-15 10:29] gruber123 opened #70825 "Extensive memory .net 7 preview 5"
Simple checking version
dotnet --version
memory to high 80 %
returned to preview 4
it is not take so much memory

[2022-06-15 10:29] ilonatommy commented on #51893
@radical is this still a problem?

[2022-06-15 10:32] am11 commented on #70758
That worked as well:
[code]

Yes there is [SOS plugin for lldb](https://github.com/dotnet/diagnostics/blob/22c9d6b6f259c45b8e1eba609eac6cf7c9aed373/documentation/installing-sos-instructions.md#installing-sos-on-linux-and-macos), which is what I was going to use to obtain the backtrace. Prerequisite is that you have dotnet and lldb (which has dependencies on llvm and clang libraries) installed. Set

[2022-06-15 10:32] vitek-karas commented on #70758
Unfortunately not many ideas on my end. The one case where this happens which is easily discoverable is if `System.Private.CoreLib.dll` is missing - can you just check that it's there in the app? (I assume it is, but to be sure).

You mention that this got broken by Preview 5. Did you have a chance to try it on a different machine?
My simple attempt on a Ubuntu WSL worked just fine (hello world).

[2022-06-15 10:33] eiriktsarpalis commented on #70732
Closing as by-design behavior.

[2022-06-15 10:33] #70732 closed

[2022-06-15 10:37] garcipat opened #70822 "AddSimpleConsole ignores IncludeScope"
### Description

We use the simple console logging in our CLI and even when we configure it to not include the scope, it includes the scope in the output:

[code]

![image](https://user-images.githubusercontent.com/7288563/173807211-90a5df4e-4993-4a5d-961d-315a75678bb4.png)

### Configuration

We use a regular console application with .NET 6 in Windows x64

### Regression?

There was a breaking ch

[2022-06-15 10:37] Webreaper commented on #70758
Okay, that's a good datapoint, as it implies there's something very specific about the Synology OS that's likely to be affecting this.

That's the key point here - this works fine with Preview 4 which I've been running on the same host for about 3-4 weeks now.

Possibly just because that's how it worked a couple of years ago and I've never bothered to change it. 😁   I am targetting an ubuntu base

[2022-06-15 10:43] vitek-karas commented on #70758
I don't think the RID will make a difference for this issue. that said `linux-x64` should work just fine.
I was curious due to other discussions we're having around RIDs (they're way too complex, so we're trying to simplify them) and one of the theories is that distro specific RIDs are very rare (as in, you don't need them almost ever).

Could you try to run the `dotnet --info` from unzipped insta

[2022-06-15 10:49] Webreaper commented on #70758
Output of preview-5 extracted 'install':
[code]

[2022-06-15 10:56] rolfbjarne commented on #62735
I don't remember the exact scenario anymore.

I was able to work around it fairly easy though (make sure any .exes come last in `TRUSTED_PLATFORM_ASSEMBLIES`), so it's not all that important for us.

[2022-06-15 11:00] Webreaper commented on #70758
Okay, sorry, @am11 , I think where I'm making a bunch of changes I accidentally uploaded the .Net 6 version, which also works for me. Can you try this one, which is very definitely the .Net 7 preview 5 build. /Users/markotway/LocalCloud/Development/SonarrAutoImport/SonarrAutoImport/bin/Release/net7.0/linux-x64/publish/

[2022-06-15 11:12] jakobbotsch commented on #70385
I am seeing a somewhat similar problem on windows when using a recent SDK from dotnet/installer (`7.0.100-preview.6.22313.7`) and replacing the bits with checked clrjit.dll, coreclr.dll and SPC.dll from a recent build. On `dotnet.exe new console` I then hit the same stack overflow and assertion that @EgorBo wrote above.

In debugger the stack trace looks like:
[code]

It does not reproduce with #6

[2022-06-15 11:20] krwq commented on #70732
@eiriktsarpalis shouldn't we leave this open to track improving exception message or making sure we tested this if we decide to make this work?

[2022-06-15 11:35] am11 commented on #70758
Works for me on Ubuntu docker as well. You can run x64 ubuntu container on M1 with `docker run -it amd64/ubuntu` and install icu `apt update && apt install -y libicu-dev`. Run this app and it should work.

[2022-06-15 11:37] Webreaper commented on #70758
I tried this earlier, so: `dotnet publish -r ubuntu.18.04-x64 -c Release /p:Version=1.5.0` and copied the whole thing across to the linux host and it still fails with the CoreCLR issue.

It's a weird one, huh?

[2022-06-15 11:40] ViktorHofer commented on #70754
Here are my thoughts on this:
- We should only bump code analysis dependencies if they work with publicly released Visual Studio versions (including the preview channel).
- For packages, we already include roslyn3.x source generators so that our packages work on older Visual Studio releases. I don't think we want to add another analyzer version as we already have the fall back version. It's imposs

[2022-06-15 12:41] jeromelaban opened #70773 "[Wasm][AOT] Profiled AOT compilation fails with Segmentation fault"
### Description

Unknown crash with AOT compiling the attached repro.

### Reproduction Steps

Under Linux, using the following archive: [70773-workAot.zip](https://github.com/dotnet/runtime/files/8909334/70773-workAot.zip)
Run with the following parameters:
[code]

### Expected behavior

No crash

### Actual behavior

[code]

### Regression?

yes

### Known Workarounds

None

### Configuration

4

[2022-06-15 12:58] BreyerW commented on #63747
@eiriktsarpalis  hmm if sourcegen can actually pick up contracts and afaik public contract design with polymorphism is still in flight maybe there should be public static (or singleton) `PolymorphismOptions` mapping to which sourcegen would populate mapping based on attributes (also user could add programmatically mappings of lower priority than contract's mapping) and in actual serialization it w

[2022-06-15 13:18] eerhardt commented on #70754
The issue with this proposal is that projects building with the `6.0.x00` SDK will now see degraded performance when they use the `7.0.0` System.Text.Json nupkg. With the `6.0.x` System.Text.Json nupkg, they will use the `roslyn4.0` version, which has incremental build support. When the project upgrades to the `7.0.0` nupkg, there is no `roslyn4.0` built version, so they will fall back to `roslyn3

[2022-06-15 13:30] #70663 closed

[2022-06-15 13:37] BiNZGi opened #70774 "Release tag 3.1.26"
### Description

The release tag for version 3.1.26 is missing in runtime repository.

### Reproduction Steps

Go to https://github.com/dotnet/runtime/releases/tag/v3.1.26

### Expected behavior

A tag in both repos should be present like for 6.0.6:
https://github.com/dotnet/core/releases/tag/v6.0.6
https://github.com/dotnet/runtime/releases/tag/v6.0.6

### Actual behavior

The version 3.1.26 was

[2022-06-15 14:03] nojaf opened #70775 ".NET 5 regression in Math.Min behaviour with NaNs"
### Description

There seems to be a regression in the behaviour of NaN handling in `Math.Min` under .NET 5 and 6.

### Reproduction Steps

var default_nan = float.NaN;
var positive_nan = -(1.0f - default_nan) / default_nan;

Console.WriteLine(Math.Min(0f, positive_nan));
Console.WriteLine(Math.Min(positive_nan, 0f));
Console.WriteLine(Math.Min(0f, default_nan));
Console.WriteLine(Math.Min(default

[2022-06-15 14:12] mike-ward opened #70776 "Prefer32Bit flag produces invalid output assembly in .NET 7"
### Description

Project builds and runs using .NET 6.0 Switched to .NET 7 - Preview 5. App builds with no issues but when I run it, it immediately exits.

The debug console has the follow message.

[code]

### Reproduction Steps

- Clone https://github.com/mike-ward/Loon/tree/net7 into Visual Studio.
- Switch to `net7` branch
- Select Loon.Desktop as the startup project
- Press F5 to build and de

[2022-06-15 14:14] trylek commented on #70385
It does seem related to my change, I'll take a look, thanks Jakob for the heads-up.

[2022-06-15 14:19] #51855 closed

[2022-06-15 14:35] #70469 closed

[2022-06-15 14:41] ViktorHofer commented on #70754
Agreed, that's a problem and needs to be solved, thanks for pointing that out. What makes this problematic is that we currently don't have a lifecycle policy for source generators that ship inside packages. I just had this discussion offline with @eerhardt.

Visual Studio 2019, which only works with the roslyn3.11 source generators is supported until April 2029. Based on that, we would need to bui

[2022-06-15 14:46] #68953 closed

[2022-06-15 14:48] AndyAyersMS commented on #65694
[6.06 is out now](https://dotnet.microsoft.com/en-us/download/dotnet/6.0) so if you get a chance, please verify it properly fixes this issue.

[2022-06-15 15:03] Pyrdacor opened #70780 "codesign fails on osx-arm64 binary"
### Description

I publish my app for osx-x64 and osx-arm64 with

`-p:PublishSingleFile=true -p:IncludeAllContentForSelfExtract=true -r <the_mentioned_rids> --no-restore --self-contained`.

Afaik publish will ad-hoc sign the apps automatically. However only the x64 version runs but the arm64 version can't be started on any M1.

So I tried to sign it myself with `codesign -s - --force --verbose --d

[2022-06-15 15:17] lewing commented on #51358
perhaps we should make a tracking issue for all the settings we don't have access to but would like to

[2022-06-15 15:26] ilonatommy opened #70781 "[ICU] Tracking issue for all culture, language and translation problems"
- [x] culture not loaded and not present in [`AllGlobalizationData`](https://github.com/dotnet/icu/blob/8ea608427e5988d3dd25130400947aad0a917bba/icu-filters/icudt_browser.json#L7): https://github.com/dotnet/runtime/issues/43398, https://github.com/dotnet/runtime/issues/53239, https://github.com/dotnet/runtime/issues/67115
"nb_NO", "nb" - got fixed between https://github.com/dotnet/icu/commit/ae1ad

[2022-06-15 15:26] lewing commented on #70743
the underlying issue here is that the tooling we're vendoring uses symbolic links for these duplicated files and since nuget doesn't support that well we end up with copies.  We depending on how the tooling refers to the libraries we might be able to get rid of the duplication but we'll need to validate.

[2022-06-15 15:47] filipnavara commented on #69920
Underappreciated suggestion :) I have been playing with the pattern for the Wrap/Unwrap APIs and I really like it.

[2022-06-15 15:55] Eagle3386 commented on #62966
@simonrozsival Just to clarify things for MAUI (Blazor) consumers like me:

Doing
[code]
inside my `MauiProgram.cs` is _supposed_ to result in a NRE due to the _native_ Android handler getting called (stack trace excerpt):
[code]
as is pointed out over at [Bypass the certificate security check](https://docs.microsoft.com/en-us/xamarin/cross-platform/deploy-test/connect-to-local-web-services#bypass

[2022-06-15 15:58] Pyrdacor commented on #70780
I guess I found my answer: https://alexomara.com/blog/adding-a-segment-to-an-existing-macos-mach-o-binary/

[2022-06-15 15:58] #70780 closed

[2022-06-15 16:01] wzchua commented on #70774
The tag is here https://github.com/dotnet/corefx/releases/tag/v3.1.26

[2022-06-15 16:02] kg commented on #70286
That one went into 7p4, and some stray important fixes arrived in 7p5. I believe that plus the follow-ups fixed it, yes.

[2022-06-15 16:05] StachuDotNet commented on #70286
Thanks, I really appreciate it.

[2022-06-15 16:09] kg commented on #70286
As always, if you hit issues (either this one or a new one) please don't hesitate to either update this one or file a new issue. We're actively monitoring this type of problem and continuing to work on improvements.

[2022-06-15 16:33] BiNZGi commented on #70774
Thanks @wzchua I also found https://github.com/dotnet/core/releases/tag/v3.1.26 as I described. But there is none in runtime repository (this).

In the end the question for me is: Which repository is the best source to get releases or tags details for new releases of dotnet.

[2022-06-15 16:39] wzchua commented on #70774
The runtime code before .net5 is not in this repository.

[2022-06-15 16:40] Paul-Grimes opened #70785 "JsonNode? control = JsonNode.Parse(json) => System.ArgumentOutOfRangeException"
### Description

Specified Argument was out of the range of valid values. (Parameter 'minimumLength')

### Reproduction Steps

Run into this issue with a JSON files that are greater then 800 MB.  Does not work on files that are 400 MB or less.

The json variable is:

`string json = File.ReadAllText(path);`

### Expected behavior

I was expecting it to be able to parse the string data.  The string

[2022-06-15 16:48] MattGal commented on #68290
@danmoseley that'd be fairly cheap to add; feel free to write an issue in dotnet/arcade asking for it and we'll get to it in triage.

As for the "osx1200" machines they're all running 12.3.1 now and have been for some time, Apple just has a much faster versioning cadence these days and we should have probably learned this and named the queues "osx.12.arch..."

[2022-06-15 16:50] CyrusNajmabadi commented on #70754
This would be a pretty bitter pill @ViktorHofer .  That's likely 6 months out.  Can you clarify why we could not get this in for the 17.3 line?

[2022-06-15 16:52] CyrusNajmabadi commented on #70754
@ViktorHofer @eerhardt any thoughts on: https://github.com/dotnet/runtime/issues/70754#issuecomment-1155946743

At least with the idea there, we could get performance benefits to users immediately, albeit with a potential (though hopefully unlikely) functionality regression.  This would be a stop-gap for the immediate future until you could actually adopt this new API (which has all hte performanc

[2022-06-15 16:52] svick commented on #70785
I can reproduce this using the following code:

[code]

The full exception is:

[code]

[2022-06-15 16:56] ViktorHofer commented on #70754
[Your change](https://github.com/dotnet/roslyn/commit/44c573dbbcf982c4fbe7b02240d4d06bcad19b58) was merged into main and https://github.com/dotnet/roslyn/commits/release/dev17.4 but not https://github.com/dotnet/roslyn/commits/release/dev17.3. Based on that, I don't think that your change will be part of the roslyn that ships with 17.3. @jaredpar is my assumption correct? Would it be possible and

[2022-06-15 17:07] BillHiebert commented on #51358
@ilonatommy  hmm, not sure. Maybe @gregg-miskelly  would know.

[2022-06-15 17:07] maraf commented on #62054
I believe I have a fix, PR will land tomorrow.

[2022-06-15 17:13] pavelsavara commented on #70762
I don't understand the `WASI` requirement. It is closer to mono on windows than to mono on the browser.
There is no JS, no fetch, no downloading stuff. @lewing

[2022-06-15 17:15] EgorBo opened #70786 "x86: Assertion failed '!"Too many unreachable block removal loops"' during 'Global local var liveness'"
Fuzzlyn found it in https://github.com/dotnet/runtime/pull/70749

Reproduces on 32bit alt jit x86

[code]

cc @jakobbotsch in case if you already filed this

category:implementation
theme:flowgraph
skill-level:intermediate
cost:small
impact:small

[2022-06-15 17:16] agocke commented on #62735
I see, if this is for universal binary support that might up the priority.

[2022-06-15 17:17] EgorBo commented on #67981
I don't understand the expected codegen - the first codegen doesn't contain any memory loads (because we don't dereference _srcData)

[2022-06-15 17:23] mockjv commented on #70588
So, technically I get a different error message (bus error as opposed to a segmentation fault), but still experiencing a crash with 6.0.301.  More of an FYI, as I assume that means that the changes didn't make their way into the recent release.

[code]

[2022-06-15 17:23] maryamariyan commented on #70326
When it's run with VS I see the value. But when I run on command line even when attaching debugger using:

[code]

the value won't show up. I'm not sure if this is configuration specific per say.

@tarekgh @eerhardt what do you think?

[2022-06-15 17:23] radical commented on #70762
re:wasi, idea is to be able to support building for that also, with our toolchain.

[2022-06-15 17:28] simonrozsival commented on #62966
@Eagle3386 hi! You shouldn't get any NRE exception. The `HttpClientHandler` class is a proxy for `AndroidMessageHandler` on Android so there shouldn't really be any difference.

I tried reproducing it locally in a new MAUI Blazor project and I didn't get any NRE. Can you send me a minimum reproducible example based on a new MAUI Blazor app project?

[2022-06-15 17:33] anthonycanino commented on #65673
Hi @EgorBo , just curious if there has been any more thoughts / prototype work on this?

[2022-06-15 17:38] eerhardt commented on #70326
I would assume launchSettings.json isn't being respected when you run it from the command line.

Try eliminating any Microsoft.Extensions code from the repro steps and just look to see if the Environment Variable is set or not:

`Console.WriteLine(Environment.GetEnvironmentVariable("E_test"))`

[2022-06-15 17:38] jakobbotsch commented on #70786
It started happening occasionally after #69421 I believe, but it's similar in spirit to the other "dead code" issues so I didn't bother opening an issue. Let's set this to .NET 8.
cc @kunalspathak

[2022-06-15 17:38] BrzVlad commented on #50957
That approach was abandoned. I'm not sure what is the best way to support stack traces with wasm code, maybe there will be some additions to the spec that will allow to implement this more easily.

[2022-06-15 17:39] MattGal commented on #25979
For every queue listed in the above query we stay up to date with the most recent Azure gallery images for Server 2K12 R2 and 2016, so the images aren't too old, and most of these machines only live a few hours (pick any work item where this failed and I can demonstrate this via Kusto query).  Is it possible that the problem isn't "we don't reimage often enough"?

[2022-06-15 17:52] BruceForstall commented on #68455
Taking one test as an example: JIT\CodeGenBringUpTests\Add1_do.

corerun.exe is invoked with Add1_do.asm.dll. That assembly is loaded, which then unexpectedly loads Add1_do.dll (the original assembly) with this stack:

[code]

Perhaps this is because the Add1_do.asm.dll assembly manifest is:
[code]
?

This eventually fails with `Unhandled exception. System.IO.FileLoadException: Assembly with same

[2022-06-15 17:54] tarekgh commented on #70326
More things you can check is calling `Console.IsOutputRedirected` to see if the output is redirected. Also, try to select the empty line in the output, it could be colors are tampered.

[2022-06-15 17:55] VSadov commented on #70549
Both ARM64 PR have been merged. If there are other issues with tests pausing hanging on Windows ARM64, they are likely different issues not related to suspension.

[2022-06-15 18:09] vitek-karas commented on #70776
This has the same root cause as https://github.com/dotnet/runtime/issues/64255.

How to diagnose:
Since this is a UI app, it won't print out anything to the console (Windows behaves this way, even if the app itself writes to stdout or stderr).
The error is also written to Event Log though, so simply open event log and look for recent ".NET Runtime" events. In this case I got this:
[code]

This typ

[2022-06-15 18:14] vitek-karas commented on #70776
@agocke @VSadov : Since this is a second time it showed up I looked into this a little bit more from an "end user" point of view. A trivial repro is (using .NET 7 Preview 5):

[code]

This produces output like:
[code]

Given that it's really easy to hit this and that it is likely to affect apps migrated from .NET Framework (which might have this property set), I think we should consider doing some

[2022-06-15 18:15] BruceForstall commented on #68455
@jkotas @trylek @vitek-karas Every ilasm round-trip test has failed, starting with the 20220423.1 build (so, ~2 months). Details elsewhere in this issue. Was there a change in assembly loading behavior? Did any test infra change about how ilasm round-trip tests run?

[2022-06-15 18:21] EricStG opened #70789 "Inconsistent behaviour with fr-CA CultureInfo across platforms"
### Description

When formatting a currency with a fr-CA CultureInfo, we get the same behaviour on Linux and Windows 11: `10,00 $`

However, on Windows 11, it becomes: `10,00 $ CA`

### Reproduction Steps

Run the following on Windows 10, 11 and Linux
[code]

### Expected behavior

The format of the string should be the same across all platform (`10,00 $`)

### Actual behavior

The format of the s

[2022-06-15 18:22] CyrusNajmabadi commented on #70754
pulling in @vatsalyaagrawal .  I'm def a little confused.  I was under the impression that our main branch was 17.3, not 17.4.  @vatsalyaagrawal can you clarify?

[2022-06-15 18:25] BruceForstall opened #70790 "Assertion failed 'assertion->op2.u1.iconFlags != GTF_EMPTY'"
Failure in:

pipeline: runtime-coreclr libraries-jitstressregs
net7.0-Linux-Release-arm64-CoreCLR_checked-jitstressregs3
System.Text.Json.SourceGeneration.Roslyn3.11.Unit.Tests

https://dev.azure.com/dnceng/public/_build/results?buildId=1825354&view=ms.vss-test-web.build-test-results-tab&runId=48379878&paneView=debug&resultId=192608

[code]

@dotnet/jit-contrib

[2022-06-15 18:26] vatsalyaagrawal commented on #70754
Yes, Roslyn main branch is currently pointing to 17.3.P3.

[2022-06-15 18:35] BruceForstall opened #70791 "Test failure: Interop\\IJW\\CopyConstructorMarshaler\\CopyConstructorMarshaler\\CopyConstructorMarshaler.cmd"
https://dev.azure.com/dnceng/public/_build/results?buildId=1825350&view=ms.vss-test-web.build-test-results-tab&runId=48383318&resultId=101751&paneView=debug

Pipeline: runtime-coreclr jitstress2-jitstressregs
job: `coreclr windows x64 Checked jitstress2_jitstressregs1` and `coreclr windows x64 Checked jitstress2_jitstressregs8`

Example:
[code]

Related issue? https://github.com/dotnet/runtime/iss

[2022-06-15 18:37] pellared commented on #70727
@tarekgh

The problem is that caller would need to deal with possible race conditions.

1. If the new listener is created after the previous listener is disposed, then one can lose activities.
2. If the new listener is created after the previous listener is disposed, then one can receive duplicate activities.

[2022-06-15 18:39] ViktorHofer commented on #70754
That's great to hear. That would mean that we can update our internal non-shipping source generators to make use of the new API when 17.3 P3 publicly releases.

[2022-06-15 18:41] CyrusNajmabadi commented on #70754
@ViktorHofer Ok great.  I think that's a much more reasonable time frame :)

[2022-06-15 18:45] AaronRobinsonMSFT commented on #70791
@BruceForstall We disabled the referenced issue because it was only occurring on arm32, but if it is occurring elsewhere it is possible there are underlying issues. This is something we can investigate but it might be faster for someone from the JIT to let us know what invariant is being invalidated. If that can be done we are likely fine fixing the problem if it is something we are doing that is

[2022-06-15 18:45] stephentoub commented on #70754
To make sure there's no disconnect, @CyrusNajmabadi, I believe Viktor isn't talking about the two you actually care about today (json and logging). "internal non-shipping source generators" sounds to me like our generators that only support the building of runtime. @ViktorHofer, can you clarify?

[2022-06-15 18:45] manoj-singh commented on #70691
Thank you, in my investigation I found that there was proxy issue....

[2022-06-15 18:45] #70691 closed

[2022-06-15 18:50] trylek commented on #68455
It's naturally pretty close to my change switching over JIT/Methodical tests to use merged wrappers (4/18) but I believe I did run ilasm roundtrip tests on the change and it's unclear to me how it could affect tests outside of the merged subtree.

[2022-06-15 19:00] jakobbotsch commented on #70790
Presumably from #70521, cc @SingleAccretion

[2022-06-15 19:02] SingleAccretion commented on #70790
Indeed looks related; I am taking a look already.

[2022-06-15 19:10] jkotas commented on #70791
It may be regression introduced by my change #68186. I will take a look.

[2022-06-15 19:13] tarekgh commented on #70727
Reopening till we discuss it.

[2022-06-15 19:16] ViktorHofer commented on #70754
Correct. Let me update my above proposal:

1. We should upgrade non-shipping roslyn4.x source generators to leverage the new API when VS 17.3 Preview 3 is publicly released.
2. We should update our shipping roslyn4.x source generators to leverage the new API when dependent repositories upgraded to the newer code analysis version. If I'm not mistaken, the roslyn version that this depends on, will s

[2022-06-15 19:21] prabh-62 opened #70793 ".NET 6: JsonContent.Create(obj) should set Content-Length HTTP request header"
### Description

Follow-up to #49357

I agree with the original author of the linked issue that "Discovering such issue is not straight". It took me 2 days to make sense.

### Reproduction Steps

- Create a HTTP POST request with a request body
- ```csharp
   var content = JsonContent.Create<T>(json);
   var response = await httpClient.PostAsync(url, content);
[code]

[2022-06-15 19:25] stephentoub commented on #70754
I didn't see an answer to @CyrusNajmabadi proposal. As I understand it, he's proposing adding code for a polyfill into runtime. Generators built against the latest sdk get all the benefits; generators built against older sdks get most of the benefits. If that's an accurate summary, that sounds good to me both from a perspective of helping all customers soon and from a perspective of keeping the di

[2022-06-15 19:32] BiNZGi commented on #70774
Thank you for the fast and detailed clarification @wzchua and @vcsjones :+1: :1st_place_medal:
This is solved for me -> close

[2022-06-15 19:36] ViktorHofer commented on #70754
If we follow my above proposal, that would be .NET 7 Preview 7.

If I understand @CyrusNajmabadi's proposal correctly, this would just be temporary until all source generators can target the new API and we would then remove the polyfill. Is that right? If so, would we able to do so in time for Preview 6 which I believe closes next week?

[2022-06-15 19:38] stephentoub commented on #70754
For _all_ customers? Above you wrote "These would co-exist with the already shipping roslyn3.11 and roslyn4.0 source generators in the package"...who would still be using those?

[2022-06-15 19:40] CyrusNajmabadi commented on #70754
Sorry, i'm asking which *VS* release, not which .net release.  My strong preference is that we have some perf fix in place for 17.3.

[2022-06-15 19:41] hakenr commented on #62054
@maraf Great news!
Is there any chance to test the fix within our projects (non-production env) and confirm the resolution?
Will it make it to .NET 7 Preview 6?

[2022-06-15 19:45] ViktorHofer commented on #70754
Anyone using older versions of Visual Studio:
- Visual Studio 2019 uses the roslyn3.11 source generators
- Visual Studio 2022 < 17.3 Preview 3 uses the roslyn4.0 source generators
- Visual Studio 2022 >= 17.3 Preview 3 uses the roslyn4.3 source generators

.NET and Visual Studio don't release in sync and afaik we haven't yet publicly announced when VS 17.3 releases. I'm following-up on dates offli

[2022-06-15 19:51] jkotas commented on #68455
I will také a look

[2022-06-15 19:56] wfurt commented on #33145
seems to be fixed by underlying OS.

[2022-06-15 19:56] #33145 closed

[2022-06-15 20:22] buyaa-n commented on #58712
Another case reported [Reading application settings in NET WinForms OOP designer fails with exception 'Invalid URI: The hostname could not be parsed"](https://github.com/dotnet/runtime/issues/70318#) with similar root cause, but in this case we need to create Uri as it is used for subsequent calls:
https://github.com/dotnet/runtime/blob/c8654e7378a085c8221028cf0ebd759d800ceba7/src/libraries/System

[2022-06-15 20:37] tannergooding commented on #70775
I have a PR up fixing this for .NET 7 here: https://github.com/dotnet/runtime/pull/70795

I've added regression tests that validate the change, but if you could confirm that it fixes the issue on your end then that will help with the backport PR to .NET 6

[2022-06-15 20:45] janvorli commented on #70758
@Webreaper can you please try to set env var `COMPlus_EnableWriteXorExecute=0` before launching your app and see if it makes a difference? This is one of the things that we've changed in preview 6 (it was disabled by default, now it is enabled by default).

[2022-06-15 21:11] Webreaper commented on #70758
BOOM. That's it - setting that makes it work. Nice spot!

[code]

Anything else I can check/test/investigate to help you track down why that new feature breaks it?

[2022-06-15 21:15] ivanpovazan commented on #56385
After some further analysis the following stats have been gathered by comparing:

- dotnet - version`6.0.301-rtm.22263.15` and
- legacy mono - version `6.12.0` (later referenced as `oldnet`)

builds of `MySingleView` app on iOS.

### Analysis
[bloaty](https://github.com/google/bloaty) was used to generate symbols from both binaries respectively:

- for `dotnet`
[code]

- for `oldnet`

[code]

Bloa

[2022-06-15 21:18] janvorli commented on #70758
Could you please run it without the env var set using the `strace` tool as follows and share the generated `trace.log` file e.g. as a gist? This will trace all the syscalls .NET runtime has made, the arguments passed to those and their results and I should be able to see what was failing.
[code]

[2022-06-15 21:26] RassK commented on #70727
That being discovered today means "Make `AcitivitySource.DetachListener` public" causes  the same issue theoretically as there is a blackout or overlapping when detaching and reattaching logic runs.

[2022-06-15 21:27] tarekgh commented on #70727
To learn more about the scenario. It is mentioned above `We are looking ways to dynamically subscribe to ActivitySources based on assembly loading.`. Can this be handled inside the `ShouldListenTo` delegate? When a new assembly is loaded and a new ActivitySource is created, `ShouldListenTo` should get called at that time and you can just enable listening to the new ActivitySource.  The logic insid

[2022-06-15 21:27] Webreaper commented on #70758
Will give that a go. The challenge is that `strace` isn't available on synology. So I've got to either figure out how to install it, or possibly add it to the Damselfly docker image and try running it there.

[2022-06-15 21:33] janvorli commented on #67824
Is this something that we still want to change for 7.0?

[2022-06-15 21:34] stephentoub commented on #70754
What about .NET 6 apps targeting the .NET 6 SDK?

[2022-06-15 21:36] #68366 closed

[2022-06-15 21:37] tarekgh commented on #70789
This is not a .NET issue; the currency symbol is picked from the ICU library shipped with Windows.

@jefgen on Windows using ICU `68.2.0.6`, the `fr_CA` currency symbol is defined as `$\u00a0CA` while on Linux (at least I check with ICU version 70), the currency symbol is just `$`.

@EricStG I am closing the issue as this is ICU specific issue but @jefgen should be able to help talking about this

[2022-06-15 21:37] #70789 closed

[2022-06-15 21:40] agocke commented on #70776
Agreed. LGTM

[2022-06-15 21:41] #70549 closed

[2022-06-15 21:48] EgorBo commented on #67824
I know that @kunalspathak has some progress in a related issue and I personally probably will just remove that explicit memory barrier for OSX-arm64 at least.

[2022-06-15 21:50] janvorli commented on #70038
@EgorBo do you happen to have stack trace of the AVE? I was trying to repro it locally and the restore step failed to me due to some weird sdk / msbuild version mismatch.

[2022-06-15 21:53] janvorli commented on #70758
@Webreaper what is the Linux kernel version on your Synology device? If it is older than 3.17, that could explain the failure.

[2022-06-15 21:57] Webreaper commented on #70758
Looks like that's it:
[code]

[2022-06-15 22:07] Webreaper commented on #70758
Sounds like we've got to the bottom of it, but just in case it helps, here's that strace log from Damselfly.

[trace.log](https://github.com/dotnet/runtime/files/8913506/trace.log)

Presumably the easy fix for this is for you to check the linux kernel version at startup and set `COMPlus_EnableWriteXorExecute=0` if it's older than 3.17?

[2022-06-15 22:07] #70322 closed

[2022-06-15 22:07] 0xced commented on #70438
Yes, a new method that takes an explicit array of assemblies has been added to support the single-file deployment model in serilog/serilog-settings-configuration#310.

It's not yet released as a stable version but should be [available in Serilog.Settings.Configuration  3.3.1](https://github.com/serilog/serilog-settings-configuration/pull/299).

[2022-06-15 22:07] NegativeMjark opened #70798 "Corrupted output writing large array to an AnonymousPipeServerStream on linux using netcoreapp3.1"
### Description

Writing a large array to an AnonymousPipeServerStream on linux sometimes writes the wrong output. I think the problem is in `PipeStream.WriteCore`
https://github.com/dotnet/runtime/blob/v5.0.17/src/libraries/System.IO.Pipes/src/System/IO/Pipes/PipeStream.Unix.cs#L169-L177
where if the syscall doesn't write the entire array in one go the PipeStream tries to write the remainder of t

[2022-06-15 22:08] SingleAccretion commented on #70790
So, as suspected, the assert has been surfaced by #70521, however, the cause has been there for a long time.

In the dump (for the failure listed in the issue) we have the following tree (reconstructed manually):
[code]
As can be seen, CSE created a "base" VN with its "shared const" functionality, and that base VN was incorrectly assigned to the `ADD` node, here:

https://github.com/dotnet/runtime

[2022-06-15 22:12] janvorli commented on #63481
Closing as resolved.

[2022-06-15 22:12] #63481 closed

[2022-06-15 22:18] #60250 closed

[2022-06-15 22:23] agocke opened #70799 "Repo requires .NET 7 Preview 5"
The runtime repo has recently taken a dependency on .NET 7 Preview 5. To download for your platform, please go to https://dotnet.microsoft.com/en-us/download/dotnet/7.0

[2022-06-15 22:25] jefgen commented on #70789
Hi @tarekgh, just curious, what API does .NET call to get the currency symbol from ICU? (Just to help narrow down where the data is coming from).

Also tagging in @chetanladdha and @rp9-next, who are taking over the handling of the ICU library on Windows going forward.

[2022-06-15 22:33] janvorli commented on #70393
@nilslahr would you be able to share a repro?

[2022-06-15 22:44] janvorli commented on #63325
The arm failure was fixed in #65331, the other failures are all on x86.

[2022-06-15 22:47] #50281 closed

[2022-06-15 22:53] janvorli commented on #64103
@jgiannuzzi with the fix being in 6.0, can this issue be closed or is there still some remaining problem?

[2022-06-15 22:55] terrajobst commented on #69920
Not sure it's worth it TBH. Authentication itself shouldn't happen that often. This would be a bigger concern if the outgoing blob would have to be retrieved on every request, [which doesn't seem to be the case](https://github.com/dotnet/runtime/issues/69920#issuecomment-1146213396).

[2022-06-15 22:57] tarekgh commented on #70789
@jefgen

[code]

[2022-06-15 23:05] janvorli commented on #70758
Yes, the log confirms that:
[code]
You are right, we can either disable the W^X when this syscall isn't implemented or possibly fall back to using `shm_open`. Given the fact that the 3.17 was released in 2015, I tend to the first option.

[2022-06-15 23:07] Eilon commented on #70434
I created a little helper class that I started using that works on Android and Windows to connect to "local" SSL: https://gist.github.com/Eilon/49e3c5216abfa3eba81e453d45cba2d4

And here's how you can use it to call from an Android emulator to a Windows-hosted ASP.NET Core app:

[code]

[2022-06-15 23:16] RassK commented on #70727
I'm afraid we are somehow losing the race between modifying `ShouldListenTo` and creating a new ActivitySource. At first I wasn't focusing to the ActivitySource issue at all, that was the last thing I had to figure out. Which means the race condition was  always lost.

Currently we don't have cases that require dll unloading / cancelling a source. It's a possibility but we don't have any idea, how

[2022-06-15 23:21] prabh-62 commented on #70793
Workaround:

[code]

And use this class to serialize C# object
[code]

[2022-06-15 23:24] AaronRobinsonMSFT commented on #70755
I just tried this on a local Debug build out of the main branch. Using managed debugging in VS 2022 this does break in VS with the following on the console. I will try with a Release build too.

[code]

[2022-06-15 23:54] agocke commented on #63233
This would probably incur a perf penalty, but more importantly we would have to create some sort of logging system to gather this information. That's quite a lot of duplicated effort since the event tracing you linked basically does all that, at minimal overhead.

Overall, I don't think it's likely that we will do this.

[2022-06-15 23:54] #63233 closed

[2022-06-15 23:54] carlossanlop opened #70801 "PAX Tar timestamps from extended attributes parsing may not be a `double`, but `long.long`"
Discussion started here: https://github.com/dotnet/runtime/pull/70325#discussion_r895853560

The pax timestamp that is stored in the extended attributes section can be a string representing a number with a dot, but it most likely is not a double, but a long, a dot, and another long.

Since the discussion in that issue was not related to the problem the PR was fixing, I am opening a new issue to tr

[2022-06-15 23:54] jgiannuzzi commented on #64103
The problem is fully solved since Runtime 6.0.5 / SDK 6.0.300.

[2022-06-15 23:55] #64103 closed

[2022-06-15 23:56] agocke commented on #68434
Closing as by-design

[2022-06-15 23:56] #68434 closed

[2022-06-15 23:58] agocke commented on #70250
Looks like the question was answered.

[2022-06-15 23:58] #70250 closed

[2022-06-16 00:01] kunalspathak commented on #67824
That's right. I am currently working on a prototype to have this removed and hoping to make it to 7.0

[2022-06-16 00:01] lewing commented on #50957
we're getting enough diagnostic info from the current stacks that this isn't urgent, we'll go over it again when planning for 8

[2022-06-16 00:31] AndyAyersMS opened #70802 "[libraries-pgo]: Assertion failed 'fgDominate(head, entry)' in 'System.Text.Encoding:GetByteCount(System.String,int,int):int:this' during 'Hoist loop code' (IL size 109; hash 0x10278d31; Tier1)"
Forking from #70569, see that issue for details.

[2022-06-16 00:32] AndyAyersMS commented on #70569
Opened a new issue for the `fgDominates` assert: #70802

[2022-06-16 00:34] ldsenow commented on #62054
@maraf  Very good news! Not possible to make it to .net 6.x?

[2022-06-16 00:41] carlossanlop commented on #70801
Tarek helped me figure it out: The original parsing is correct, we are dealing with an actual `double`. The decimal part is _fractions of seconds_.

Here is a stackoverflow thread asking about such timestamp: https://stackoverflow.com/questions/21696323/epoch-time-with-dot-1391759952-7056 . Notice that the decimal part is larger than 1000, which means it cannot be milliseconds. And the answer belo

[2022-06-16 00:41] #70801 closed

[2022-06-16 00:44] MichalStrehovsky commented on #70277
Yeah, the experience for building static libraries could be better. It's not fully fleshed out. Maybe we could also just generate a lib that merges all the other libs in it.

We're not going to document/support this option for .NET 7. I'm moving this to .NET 8.

[2022-06-16 00:45] MichalStrehovsky commented on #70072
This was fixed and the disabled test was never commited into main as disabled.

[2022-06-16 00:45] #70072 closed

[2022-06-16 00:53] lewing commented on #62054
we consider this a candidate for servicing in net6.0 so once we are confident it has been resolved in main we will explore the options.

[2022-06-16 00:59] tarekgh commented on #70727
I believe you can just write the `ShouldListenTo` delegate code in a way that doesn't need to be updated later at all, instead the logic inside should handle the cases you want to support automatically, If I correctly understand your scenario, there is a new assembly/component get loaded. and then this component later will create a new ActivitySource object which you want to decide listening to.

[2022-06-16 01:19] VincentBu opened #70804 "Test failure JIT\\HardwareIntrinsics\\X86\\Sse2\\Sse2_ro\\Sse2_ro.cmd"
Run: [runtime-coreclr outerloop 20220615.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1825934&view=ms.vss-test-web.build-test-results-tab&runId=48394796&resultId=100868&paneView=debug)

Failed test:
[code]
**Error message:**
[code]
No Kusto information.

[2022-06-16 01:22] AaronRobinsonMSFT commented on #70755
This does reproduce when built as Release out of the main branch. Debug and Checked builds work as expected.

[2022-06-16 02:05] stephentoub commented on #70798
Yes, this was fixed in .NET 6.

[2022-06-16 02:08] pepe78attempt34 commented on #70796
Even with StringBuilder, while way better, there seems to be still potential when comparing with [custom c++](https://github.com/microsoft/STL/issues/2777).

Also, maybe it's time to initialize string to something larger at the beginning so + operation would not become so slow. 64 characters is not that much in my opinion, or 32.

Perf:
Lower is better - on [Ubuntu](https://ubuntu.com/desktop) 22.

[2022-06-16 03:03] #70750 closed

[2022-06-16 03:06] Clockwork-Muse commented on #70796
You can't, because strings in C# are immutable - the `+` operation doesn't mutate the existing string, but return a new one, so the additional memory would be wasted.

[2022-06-16 03:15] #62146 closed

[2022-06-16 03:15] mingyaulee commented on #68374
@pavelsavara @kg
I attempted to update the TS codes to remove unsafe evaluation of JavaScript during runtime in this [commit](https://github.com/mingyaulee/runtime/commit/645da769b27e8523fd42cdb5262e448e5b91bebb).

I am able to run the Blazor template application without `unsafe-eval` CSP for the Home and Counter page. However when I navigate to the 'Fetch data' page, the `HttpMessageHandler` also

[2022-06-16 03:51] vonzshik commented on #45868
@danmoseley I can 'sorta' emulate reproduction by adding a few `Thread.Sleep` here and there:

https://github.com/dotnet/runtime/blob/24bbfbfb925d1d71d6c2f52d521aab00c65446a9/src/libraries/Microsoft.Extensions.Caching.Memory/src/MemoryCache.cs#L460

[code]

https://github.com/dotnet/runtime/blob/24bbfbfb925d1d71d6c2f52d521aab00c65446a9/src/libraries/Microsoft.Extensions.Caching.Memory/src/MemoryCa

[2022-06-16 04:03] radical commented on #51893
@lambdageek Based on https://github.com/dotnet/runtime/pull/52088#issuecomment-830288424 , should we skip these [two](https://github.com/radical/runtime/blob/main/src/libraries/System.Runtime.Loader/tests/AssemblyLoadContextTest.cs#L73) [tests](https://github.com/radical/runtime/blob/main/src/libraries/System.Runtime.Loader/tests/AssemblyLoadContextTest.cs#L89) on wasm for EAT, and AOT?

You added

[2022-06-16 04:14] radical commented on #54638
This needs to be done on the sdk side, so closing this in favor of - https://github.com/dotnet/sdk/issues/26050 .

[2022-06-16 04:43] tannergooding commented on #70804
Looking at historical results, this looks like a 1-off.

This was and it was passing 20220614.4 and was first seen failing in the immediate following run 20220615.1: https://github.com/dotnet/runtime/compare/4501e3903cbb04138bb85b4910993c1b660e3f36...cd60639f541c736c4a4de8eac0fccae098d34981
It was then passing again in 20220615.2 which ran about 10 hours later: https://github.com/dotnet/runtime/co

[2022-06-16 04:50] MichalStrehovsky commented on #64856
We're spending a lot of time in the expression interpreter. The calls are coming from HostFilteringMiddleware.Invoke and HttpProtocol.ProcessRequests:

[code]

LINQ expressions won't have good perf with native AOT because we can't JIT them. Not much we can do from the runtime side.

[2022-06-16 05:14] radical opened #70807 "[wasm][debugger] Fetching assemblies in the debug proxy is (possibly) slower now"
# Improve how the proxy acquires the assemblies
With https://github.com/dotnet/runtime/pull/69072, the debugger tests/chrome started timing out on Windows after 1 hour. Without that PR, they take 35-40mins. (Note: the tests pass on `main` because the timeout was bumped to 90mins).

- [ ] We need to figure out a better way to do this, or fetch the base64 encoded assemblies only when we need them. F

[2022-06-16 05:21] filipnavara commented on #69920
Agreed for the authentication itself.

I want to run `Wrap`/`Unwrap` (formerly `Encrypt`/`Decrypt` and `MakeSignature`/`VerifySignature`) through API review later. These are the primitives that would power `NegotiateStream.Read/Write` type of scenarios (aside from SASL authentication) and where the allocations are more of a concern. At that point it may be reasonable to allow the same pattern (`IB

[2022-06-16 05:29] radical commented on #70675
The issue here is as described in https://github.com/dotnet/runtime/pull/70704 . `nodejs` is exiting before stdout/stderr have been completely flushed out.

- The fix there didn't work on CI, though it works locally on windows.
- But we maybe want to do the `flush` part in a different place, like before we call `exit(..)`. And/or maybe rework/fix how exiting is handled.

cc @lewing

[2022-06-16 05:49] david-maw opened #71210 "Very Poor ImageSharp Performance in MAUI Android"
### Description

A piece of code which executes in under 100 ms in Xamarin forms on Android or Windows and under 50 ms in Windows MAUI takes over 30 seconds in Android MAUI.

### Steps to Reproduce

1. Clone repository https://github.com/david-maw/ResizeImageMaui.git from github
2. Build the project
3. Run it on Windows
4. Click the button, on Windows the image will be converted to greyscale in un

[2022-06-16 06:05] davidfowl commented on #64856
MVC controller actions, minimal APIs, SignalR hub methods all have runtime generated thunks that use expression trees to quickly invoke methods. It might be worth having an alternative reflection invoke mode on NativeAOT. Here's one of the shared components used to invoke some of these generated thunks:

https://github.com/dotnet/aspnetcore/blob/da6cdcbd5dc75b695cee36d47a22e1399cbea89e/src/Shared/

[2022-06-16 06:12] Joelius300 commented on #62554
Thank you the clarification.

For any Manjaro users stumbling into this issue, a third solution is using the AUR packages (e.g. `dotnet-sdk-bin` and `aspnet-targeting-pack-bin`) instead of the official ones, as those seem to work perfectly fine.

[2022-06-16 06:32] MichalStrehovsky opened #70810 "Add support for ILLink.Descriptors.xml"
We need to parse the file format and root things from it.

[2022-06-16 06:43] danch15 commented on #62966
@simonrozsival I use Microsoft.AspNetCore.SignalR.Client.HubConnection and the DangerousTrustProvider and DangerousAndroidMessageHandlerEmitter Class, which can be started normally on Android 11, but the same code cannot be started on Android 7.1.2. （Windows Machine is OK too.)
See: https://stackoverflow.com/questions/71047509/trust-anchor-for-certification-path-not-found-in-a-net-maui-project-try

[2022-06-16 06:55] crozone commented on #29975
#31081 should not have been closed, it was replaced with this issue but this issue isn't going anywhere judging by [this comment](https://github.com/dotnet/runtime/issues/29975#issuecomment-504610564). Correct enum serialization is an essential feature of any serialization library. [JamesNK](https://github.com/JamesNK) flagged it as an essential feature pre core 3.0. The [package that provides a w

[2022-06-16 06:57] ilonatommy commented on #52469
@radical, where are we with this cleaning up?

[2022-06-16 06:57] epikgit opened #70812 "Weird problem with a .NET CORE 6 Winforms application and Windows 10 scaling"
### Description

Hi,
I have a really simple Winforms application written in C# with VS Professional 2022 (64-bit) version 17.2.4 and .NET Core 6.0.

It's a form that contains a tab control that contains a table layout panel that contains a listbox.
Every child control is set to anchor to Top, Bottom, Left, Right.
The expected behaviour is, when I resize the form, every child control resizes accord

[2022-06-16 07:03] Webreaper commented on #70758
Sounds good. Happy for you to close this issue (presuming you'll spin off a dev ticket for preview 6/7 to fix as above). I've updated my build to set the env var which will workaround the problem until then.

Appreciate all the help, everyone!

[2022-06-16 07:09] wfurt commented on #69920
You can probably start adding to #62202 @filipnavara. That was intended to cover any use beyond just the basic need. (and Kestrel reflection https://github.com/dotnet/runtime/issues/29270)

[2022-06-16 07:23] czd890 opened #70813 "TimeZoneInfo.GetUtcOffset returns different value on Windows and Linux"
### Description

TimeZoneInfo.GetUtcOffset returns different value on Windows and Linux

### Reproduction Steps

[code]

### Expected behavior

They should be the same.

### Actual behavior

// -4 on windows
// -5 on linux

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

_No response_

### Other information

_No response_

[2022-06-16 07:28] am11 commented on #70758
The runtime introspection approach is better than version check. CentOS 7 (aka pretty important distro) has kernel version `3.10.0-1160.el7.x86_64` and it doesn't fail `9858  memfd_create("doublemapper", MFD_CLOEXEC) = 8`.

minor nit: the way runtime config lookup works is for a desired config XYZ, it first looks for  `DOTNET_XYZ` then fallback to "legacy" `COMPlus_XYZ`. So here, you can simply us

[2022-06-16 07:29] filipnavara commented on #70813
Windows time zones don't cover historical data beyond certain point in time. 1950 is definitely way below that point.

[2022-06-16 07:29] nojaf commented on #70775
Hello @tannergooding, many thanks for this quick response. Much appreciated!
@jgiannuzzi will verify this on our end.
We will keep you posted.

[2022-06-16 07:31] pavelsavara commented on #68374
That's in [works already](https://github.com/dotnet/runtime/pull/66304/files#diff-b6d195a92e38a93b2caf4224c4b78afe404048025e1f91c9021901c42208f9f7R7) but it's just small thing.
HTTP is dependent on JS in the browser (there is no TCP socket there etc).
We still need to generate the JS code to make even basic interop work.
The code you deleted would be missing for that.

As Larry said, we are workin

[2022-06-16 07:41] ilonatommy commented on #53021
They are not failing anymore, @radekdoulik do you agree with enabling these 3 tests and closing?

[2022-06-16 07:41] janvorli commented on #70758
@Webreaper I'll keep this open to track it until the fix is in.
@am11 my plan is to base it on the failed `memfd_create` rather than a version check.

[2022-06-16 07:56] pavelsavara commented on #68374
I looked at your change again, I guess you are implementing the "interpreted" interop.
The code you are changing is "old" interop, we will try to do something similar to the upcoming "new" interop.

[2022-06-16 08:20] Webreaper commented on #70758
BTW, some additional info, in case it's of interest. My friend who tested the binary on his WIndows WSL setup got me the kernel version:
[code]
So I'm guessing that MSFT's Win10 WSL Kernel isn't versioned consistently or is built in a different way.

[2022-06-16 08:24] filipnavara commented on #69920
@wfurt Will do. I'd like to get #70720 done first before moving further.

Here's a backlog of my API proposals based on experimenting with the new APIs to support additional scenarios:
- Extend `NegotiateAuthenticationServerOptions` to support scenarios in `HttpListener` and potentially unify SPN validation on NTLM between `HttpListener` and `NegotiateStream`
- Add `Wrap`/`Unwrap` methods to suppo

[2022-06-16 08:25] janvorli commented on #70758
Has he verified that it fails due to the same issue? This kernel version should support this syscall, so I'd think it is some other problem here.

[2022-06-16 08:38] ilonatommy commented on #53880
Duplicate of https://github.com/dotnet/runtime/issues/44739.

[2022-06-16 08:38] #53880 closed

[2022-06-16 08:41] ilonatommy commented on #53874
@pavelsavara, what do you think about @lewing's hypothesis?

[2022-06-16 08:47] ilonatommy commented on #53957
@pavelsavara, did you get any more details when running `SendReceive_VaryingLengthBuffers_Success` as planned?

[2022-06-16 08:56] AlisaZhang3 commented on #65263
We encounter the similar issue in the latest main branch. but the error is NET 7 not NET 6.
![image](https://user-images.githubusercontent.com/32054920/174033019-2e82b9c6-8d3f-4478-bd5e-8961f77d2ce3.png)
![image](https://user-images.githubusercontent.com/32054920/174033129-6f0c5f04-e446-4d1c-a654-580ce36c36ec.png)

[2022-06-16 08:59] ilonatommy commented on #54194
Is it still a problem? I don't see it disabled anywhere in libs and running `System.IO.MemoryMappedFiles` tests gives me no failures. Do you recall @radical how to reproduce?

[2022-06-16 09:48] vitek-karas commented on #65263
Can you please check the version of the apphost?
I guess the easiest way would be to set `COREHOST_TRACE=1` and run the app in question. It will print out much more detailed trace including the version of the host.

[2022-06-16 09:49] kant2002 opened #70815 "NativeAOT compiler crashes if assembly missing"
Create console application which targets net7.0 and attempt to add `Microsoft.Extensions.Hosting` with explicit dependencies and missing reference to `Microsoft.Extensions.Configuration.EnvironmentVariables`. ILC crashes.
[code]

Addition to console app.
[code]

[2022-06-16 09:55] karelz commented on #70641
@jkotas any idea why it still happens on Android? Even after the fix?
Rolling build https://runfo.azurewebsites.net/view/build/?number=1827345 from 6/15 PM has 2 same failures only in JIT/opt/OSR/pinnedlocal/pinnedlocal.sh and only on Android, not on other platforms.

[2022-06-16 09:55] AlisaZhang3 commented on #65263
Ok. I have collected the detailed trace as below:
![image](https://user-images.githubusercontent.com/32054920/174045020-b77852b8-5f81-4a97-9244-c8e3e202da7d.png)

[2022-06-16 09:56] vdanche opened #71149 "With .NET7 preview 6 SDK installed on Turkish OS, error happen when dotnet publish with AOT enable."
Environment: 7.0.100-preview.6.22315.18  (runtime- 7.0.0-preview.6.22312.1) on TK(turkish) OS

Repro steps:
Step1: Install .NET 7 preview 6 SDK(7.0.100-preview.6.22315.18) from main branch of https://github.com/dotnet/installer
Step2:  Install wasm-tools

dotnet workload install wasm-tools --skip-manifest-update

                Step3: New blazorWasm

                                dotnet new bla

[2022-06-16 09:56] pavelsavara commented on #53874
Perhaps it's not that bad ?
https://github.com/dotnet/runtime/blob/3c33b4293107c607ae8669545114d6f9891432cb/src/libraries/System.Net.Http/src/System/Net/Http/Headers/HttpRequestHeaders.cs#L116

https://github.com/dotnet/runtime/blob/3c33b4293107c607ae8669545114d6f9891432cb/src/libraries/System.Net.Http/src/System/Net/Http/HttpRuleParser.cs#L199

[2022-06-16 09:56] ficnar opened #70816 "X509Chain do not build chain online with a download certificate by HTTPS schema on Linux"
### Description

For Certificate Authorities, that publish CA chain by HTTPS protocol, X509Chain do not build chain by online download. The reason is, that X509Chain on Linux now supports only HTTP protocol for downloading CA certificates.
An example is Czech qualified certificate authority https://www.eidentity.cz/ that publish intermediate certificate by URL http://www.eidentity.cz/aca3.1/aca3-1

[2022-06-16 09:59] vitek-karas commented on #65263
Do you have x64 runtime installed?
Basically is there a file `D:\Program Files\dotnet\x64\dotnet.exe` ?

[2022-06-16 10:02] pavelsavara commented on #53957
not really, but maybe this could be related to the issue we found with @maraf yesterday ?

[2022-06-16 10:02] AlisaZhang3 commented on #65263
I checked the folder and found no x64 runtime installed
![image](https://user-images.githubusercontent.com/32054920/174046437-ebc28db3-70e0-4f69-938c-033e127b3ddb.png)

[2022-06-16 10:09] filipnavara commented on #70816
From RFC 5280:

   https URI or similar scheme, circular dependencies can be introduced.
   The relying party is forced to perform an additional path validation
   in order to obtain the CRL required to complete the initial path
   validation!  Circular conditions can also be created with an https
   URI (or similar scheme) in the authorityInfoAccess or
   subjectInfoAccess extensions.  At worst,

[2022-06-16 10:09] greenEkatherine commented on #69669
Team reached agreement, updating the proposal and switching it to ready-for-api-review.

[2022-06-16 10:09] RassK commented on #70727
@tarekgh that sounds as very good idea. It should fix our issue, based on the fact that on the startup time we know either we want all supported sources or user selected sources and it doesn't change afterwards.

[2022-06-16 10:11] vitek-karas commented on #65263
Well - it's weird that there are directories there but no dotnet.exe. It's as if the install is either corrupted or something else went wrong.

In any case, I don't think your apphost has the fix mentioned above - the commit hash it has is from Apr 13, while the fix was ported to 6.0 in May. @elinor-fung do you know which version of 6 has the fix and if it's in one of the public releases?

[2022-06-16 10:17] ilonatommy commented on #54227
@radekdoulik, what's the status?

[2022-06-16 10:23] ilonatommy commented on #55014
@radekdoulik have you decided that the approach should be changed? What was the blocker?

[2022-06-16 10:29] ilonatommy commented on #54644
@radekdoulik, did you get any more info about the file being opened and forcing a shutdown?

[2022-06-16 10:36] MockBird0001 opened #70817 "CSharpCodeGenerator---FromFileBatch Implementation request"
I am preparing to generate a dll file from user code, I use the "CodeDomProvider.CompileAssemblyFromSource()" method, but the report shows that it cannot be used on the NetCore platform, I checked the donet source code and found that this is a feature that is not implemented (https://github.com/dotnet/runtime/blob/3c33b4293107c607ae8669545114d6f9891432cb/src/libraries/System.CodeDom/src/Microsoft/

[2022-06-16 11:08] ficnar commented on #70816
Thank you. I am waiting for the opinion of the eIdentity certification authority.

[2022-06-16 11:35] ficnar commented on #70816
By the way, in RFC 5280:
_CAs that include an https URI in one of these
extensions MUST ensure that the server's certificate can be validated
without using the information that is pointed to by the URI._

In the case of this CA, this requirement is met.
For me it is a bug in .NET.

[2022-06-16 11:35] paulguz-datapa opened #70841 ""No output has been received" when debugging Blazor Wasm in the browser - can't debug"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

After upgrading to .Net 7 Preview 5, when attempting to debug in the browser (Edge), I only receive the following error.  It works in Preview 3.

![image](https://user-images.githubusercontent.com/86300100/174061197-6f4d6e83-0b78-4ff5-bc44-5272452ac813.png)

### Expected Behavior

Should be a

[2022-06-16 11:40] filipnavara commented on #70816
The underlying concern remains the same whether the `https` URI is directly referenced in the certificate or happens as a redirect from the `http` URI.

I am mildly leaning towards supporting the `https` but it requires a LOT of extra care for detecting the circular conditions (https being signed with a certificate that is currently being validated and checked for revocation) which is largely non-

[2022-06-16 11:48] svick commented on #70796
I think the most efficient way to create the string would be to use `string.Create`:

[code]

[2022-06-16 11:56] am11 commented on #70277
I have found an interesting approach for composite archives on SO https://stackoverflow.com/a/68407916/863980, which resorts to partial linking. However, it suffers from size regression. It is very likely that I have missing some option which could avoid this regression..

Consider a solution with two C# library projects having `<PublishAot>true` and `<NativeLib>static`, that -- upon publish -- pr

[2022-06-16 12:03] LeaFrock commented on #35992
This is true in essence. But I hope there will be some improvements in runtime libraries, to offload upper-level developers and help them move in the correct direction of best practices.

[2022-06-16 12:10] performanceautofiler[bot] opened #70845 "[Perf] Regressions in System.Buffers.Tests.RentReturnArrayPoolTests<Byte>"
### Run Information

Architecture | arm64
-- | --
OS | ubuntu 20.04
Baseline | [3d74b00659fec817506e2888f87936518556e01c](https://github.com/dotnet/runtime/commit/3d74b00659fec817506e2888f87936518556e01c)
Compare | [0c3d5ad05754be529e470d7b0399f40a2bc8087d](https://github.com/dotnet/runtime/commit/0c3d5ad05754be529e470d7b0399f40a2bc8087d)
Diff | [Diff](https://github.com/dotnet/runtime/compare/3d7

[2022-06-16 12:10] performanceautofiler[bot] opened #70844 "[Perf] Regressions in System.Buffers.Tests.ReadOnlySequenceTests<Byte>"
### Run Information

Architecture | arm64
-- | --
OS | ubuntu 20.04
Baseline | [fb9be0a9cf88f750bdf5e82ac7ef10eb8d70eaa5](https://github.com/dotnet/runtime/commit/fb9be0a9cf88f750bdf5e82ac7ef10eb8d70eaa5)
Compare | [702c1ea42dcd7c7d0a1ff139bda13b68033dc5ff](https://github.com/dotnet/runtime/commit/702c1ea42dcd7c7d0a1ff139bda13b68033dc5ff)
Diff | [Diff](https://github.com/dotnet/runtime/compare/fb9

[2022-06-16 12:10] ilonatommy opened #70819 "[wasm][debugger][firefox] Add exception handling in evaluateJSAsync"
EvaluateOnCallFrame equivalent in Firefox - `evaluateJSAsync` does not have exception handling mechanism. `CompileAndRunTheExpression` and `Resolve` we are using there might throw from multiple reasons, most of which is exposing the error to the user because the evaluated expression syntax has errors.

Good start for fixing it would be removing the browser type condition on test:
`DebuggerTests.Ev

[2022-06-16 12:13] eiriktsarpalis commented on #70785
@Paul-Grimes could you confirm that @svick's reproduction matches your own stacktrace?

I suspect that the particular error occurs because of an arithmetic overflow in JsonDocument's Enlarge method:
https://github.com/dotnet/runtime/blob/3fc61ebb562afc327a8fc6de5c82d76e86bf6f5d/src/libraries/System.Text.Json/src/System/Text/Json/Document/JsonDocument.MetadataDb.cs#L234

The enlarge method could be

[2022-06-16 12:24] karelz opened #70820 "[Android] JIT/opt/OSR/pinnedlocal/pinnedlocal.sh"
The test fails on regular basis - see [runfo results](https://runfo.azurewebsites.net/search/tests/?q=started%3A~7%20definition%3Aruntime-extra-platforms%20name%3A%22jit%2Fopt%2Fosr%2Fpinnedlocal%2Fpinnedlocal.sh%22):
* 6/16 - 68 failures in last 7 days

Error:
[code]

Full console log:
<details>

[code]

</details>

[2022-06-16 12:26] karelz commented on #70820
@SamMonoRT  @fanyang-mono this is failing in ALL rolling test runs this week (and likely earlier) -- can you (or someone on your team) please disable the test ASAP? Thanks!

[2022-06-16 12:28] performanceautofiler[bot] opened #70842 "[Perf] Regressions in System.Threading.Tasks.Tests.Perf_AsyncMethods"
### Run Information

Architecture | arm64
-- | --
OS | ubuntu 18.04
Baseline | [bab1a1f239325746873d2ae795ea343e7901dbce](https://github.com/dotnet/runtime/commit/bab1a1f239325746873d2ae795ea343e7901dbce)
Compare | [31cd7eb907133929846e5d229d18cc8bc77bde63](https://github.com/dotnet/runtime/commit/31cd7eb907133929846e5d229d18cc8bc77bde63)
Diff | [Diff](https://github.com/dotnet/runtime/compare/bab

[2022-06-16 12:29] karelz commented on #70820
There were similar failures also for non-Android tracked by #70641.

[2022-06-16 12:31] karelz commented on #70482
@steveisok this is failing in every rolling test run this week. Can we please disable the test ASAP?

[2022-06-16 12:42] performanceautofiler[bot] opened #70839 "[Perf] Regressions in System.Buffers.Tests.RentReturnArrayPoolTests<Object>"
### Run Information

Architecture | arm64
-- | --
OS | Windows 10.0.25094
Baseline | [fae7ee8e7e3aa7f86836318a10ed676641e813ad](https://github.com/dotnet/runtime/commit/fae7ee8e7e3aa7f86836318a10ed676641e813ad)
Compare | [21b5b2e8b7c8c0e66c7a041a61cce8ff4d53ea1c](https://github.com/dotnet/runtime/commit/21b5b2e8b7c8c0e66c7a041a61cce8ff4d53ea1c)
Diff | [Diff](https://github.com/dotnet/runtime/compa

[2022-06-16 13:06] jkotas commented on #70641
This bug was filled against CoreCLR. Android runs on Mono. Looks like Mono has a bug exposed by this test as well.

[2022-06-16 13:17] SamMonoRT commented on #70820
Do we still need to disable given the revert https://github.com/dotnet/runtime/pull/70627 PR was merged, as in are there failures since ?

[2022-06-16 13:27] jakobbotsch opened #70824 "Assertion failure while crossgenning ImageSharp: '!op1->TypeIs(TYP_STRUCT) && (op1->TypeGet() == op2->TypeGet())' in 'SixLabors.ImageSharp.PixelFormats.Byte4:ToString():System.String:this' during 'Morph - Global'"
When crossgenning ImageSharp on current main I hit the following assertion:
[code]

Small x64 repro (does not require crossgen, requires opts enabled/TC disabled):
[code]

[2022-06-16 13:33] SamMonoRT commented on #70641
With the revert PR, shouldn't these Mono failures have stopped on rolling builds ?

[2022-06-16 13:52] Grauenwolf commented on #29975
I don't understand.

System.Text.Json is a built-in library. It's part of the SDK.

The System.Runtime.Serialization attributes are also a built-in library, shipped as part of the SDK.

Why is a Microsoft-written library not going to honor the Microsoft-defined standard for serialization libraries?

And how do you know #63686 is even right if you don't have anything inside the library that actuall

[2022-06-16 13:52] steveisok commented on #65840
@fanyang-mono I'll defer to you here.

[2022-06-16 13:58] stephentoub commented on #70817
The recommended way to do this is using APIs from the C# compiler (Roslyn).  .NET Framework ships with csc.exe as part of the installation, and CodeDOM';s CSharpCodeGenerator just shell'd out to that csc.exe; .NET Core doesn't ship with csc.exe, so CodeDOM can't do that.  On top of which, it's not a particularly efficient approach.  Better to just use the APIs the C# compiler exposes for doing thi

[2022-06-16 14:02] jkotas commented on #70641
The test is failing on Mono intermittently for a long time. The Mono failures have nothing to do with the reverted PROCESS.

[2022-06-16 14:05] Eagle3386 commented on #62966
@simonrozsival Alright, that's how I thought it ought to work. Thanks for the clarification! 👍🏻

Of course, but I'm having a _really_ hard time producing such a POC - instead of the NRE, I'm constantly getting `Java.Security.Cert.CertificateException: 'The remote certificate was rejected by the provided RemoteCertificateValidationCallback.'` now.
Though, researching that exception leads to numerou

[2022-06-16 14:06] jkotas commented on #70820
The reverted PR has nothing to do with the Mono failures. This test has been failing intermittently on Mono for very long time.

[2022-06-16 14:06] jakobbotsch commented on #70341
The `Number` struct has following layout:
https://github.com/SixLabors/ImageSharp/blob/75dc96a27f5120451a5a8c00c75d0eaeff68437c/src/ImageSharp/Primitives/Number.cs#L13-L23

Such a struct has size 8, so it should be returned in register. So it looks like the problem is in `SixLabors.ImageSharp.Metadata.Profiles.Exif.ExifValue<Number>.get_Value` which should not be using ret-buffer. But on 7.0, I se

[2022-06-16 14:10] wcdeich4 commented on #67465
7.0.100-preview.5.22307.18 worked for me in Ubuntu 22.04 LTS

[2022-06-16 14:18] eiriktsarpalis commented on #29975
The attributes in System.Runtime.Serialization have been specifically designed for serializers like BinaryFormatter and DataContractSerializer, and are not general-purpose serialization annotations. They might have been adopted by third-party serialization libraries out of convenience, but there is no "Microsoft-defined standard" for serialization libraries as such. The design of System.Text.Json

[2022-06-16 14:22] SamMonoRT commented on #70820
Interesting to hear about these failures only now. Will submit a PR to disable the test for now.

[2022-06-16 14:25] SamMonoRT commented on #63331
cc @fanyang-mono for Mono implementations

[2022-06-16 14:31] bartonjs commented on #70816
Does it work on macOS or Windows?  I know Windows has an http-only initial filter, I assume that they also have an http-only-on-redirect filter.

If it does work on both macOS and Windows (where the OS does the AIA fetches) then we can try to figure out their heuristics and match them in our Linux implementation (where we do it in .NET).  Assuming it doesn't, it's extremely unlikely that we'll tak

[2022-06-16 14:31] Grauenwolf commented on #29975
That's not true. BinaryFormatter is a .NET 1 feature based around the ISerializable interface.

DataContractAttribute was introduced in .NET 3. It is described as "Specifies that the type defines or implements a data contract and is serializable by a serializer". It does on to say "DataContractSerializer" is an example of one such serializer, but it's not the only one. And there's a reason for tha

[2022-06-16 14:35] pavelsavara commented on #70133
This is @lambdageek's proposal applied to the examples. I didn't have time to implement the Roslyn parsing of it.

[code]

[2022-06-16 14:42] eiriktsarpalis commented on #29975
Perhaps, but like I said the designers of System.Text.Json made the conscious decision to deviate from what might have been considered standard 16 years ago. It's not exactly unheard of for older patterns and practices to be deemphasized in favor of newer iterations.

I think you might be making a point about testing in general. My tests for component Foo might be invalid or inadequate regardless

[2022-06-16 14:48] eerhardt commented on #70822
@maryamariyan - do we just need to add a check for that option here?

https://github.com/dotnet/runtime/blob/a103efd28d46af39fc22a77458a11d204226e8d4/src/libraries/Microsoft.Extensions.Logging.Console/src/SimpleConsoleFormatter.cs#L97-L98

[2022-06-16 14:51] Grauenwolf commented on #29975
Making a "conscious decision" does not mean it was the correct decision. Saying, "I was awake when I made this choice" doesn't justify the choice. It doesn't even explain it.

And the "new pattern" is not new. It's the same pattern with different attribute names.

[2022-06-16 14:51] eiriktsarpalis commented on #70785
@Paul-Grimes In the meantime, I would recommend using one of streaming deserialization methods for large JSON data, e.g. `DeserializeAsync` or `DeserializeAsyncEnumerable` for long root-level arrays.

[2022-06-16 14:59] nilslahr commented on #70393
I'll try to get back to a clean env and send some updates.  There was a stack trace.

[2022-06-16 15:01] SeeminglyScience commented on #40546
This is probably not the temporary workaround you're hoping for, but what I did was basically rip out and modify their flow control builder code. Here's the PR where I did that if you want some ideas SeeminglyScience/ILAssembler#19

[2022-06-16 15:04] Zastai opened #70830 "Weird issue with stale File.GetCreationTimeUtc (Windows only)"
### Description

Creating a new file after a file with the same name has been recently deleted or moved results in a file with the old file's creation time (at least, as reported by `File.GetCreationTimeUtc`).

Seeing this on Windows, but _not_ with the same SDK/Runtime versions under WSL on the same machine.

### Reproduction Steps

Given the following console program's `Program.cs`:

[code]

the

[2022-06-16 15:05] pavelsavara commented on #68509
We probably need a way how to customize it.
- so that it's compatible with ES6 when loading the `dotnet.js`
- so that it's compatible our module exports, which are not `Module` object
- so that it's CSP compliant, no `eval`
- so that it doesn't use `require` in NodeJs + ES6

[2022-06-16 15:11] #64879 closed

[2022-06-16 15:23] tommcdon commented on #70755
Thanks for testing against Debug and Release @AaronRobinsonMSFT.  It's interesting that debug/chk builds do not reproduce the problem.  Adding @janvorli for thoughts

[2022-06-16 15:31] AdmiralSnyder opened #70834 "ExecutionEngineException is thrown in .net7 WPF app when i EnC"
### Description

I have a WPF project that I moved to .net7 (upgraded to preview 5 yesterday) where when doing Edit&Continue in a method that is ran by a separate thread throws ExecutionEngineException reliably.
I can reproduce it locally, and the project is on github (here's a link to the commit https://github.com/AdmiralSnyder/Conveyors/tree/a369e34c62020b251e44a281022e538541a445ce ), so you mig

[2022-06-16 15:39] hoyosjs commented on #70755
Wonder if this has anything to do with https://github.com/dotnet/runtime/issues/10539

[2022-06-16 15:40] janvorli commented on #70755
It would be worth checking the stack pointer values at all the handler frames to see how much stack we consume in those.
As for why Debug / Checked work, I guess it is thanks to the fact that we reserve larger number of stack guard pages for non-release builds.

[2022-06-16 15:41] Youssef1313 opened #70835 "`UpgradeToRegexGeneratorAnalyzer` should support top-level statements"
Both the analyzer and fixer can, and should, support top-level statements. See discussion at https://github.com/dotnet/runtime/pull/70767#discussion_r897676903

[2022-06-16 15:43] Youssef1313 commented on #70835
@joperezr I can take a look at this next week. Feel free if you want to assign me, or if someone from the team wants to look earlier.

[2022-06-16 15:43] janvorli commented on #70755
See https://github.com/dotnet/runtime/blob/9ab00ef5c8904f28fba9b01b4fefd4ad672567fb/src/coreclr/vm/threads.cpp#L6487-L6521

[2022-06-16 15:49] karelz commented on #70793
@prabh-62 which server did you run against? Did you consider reporting it as their error -- they are after all not implementing full HTTP 1.1 spec.

Note that computation of length is problematic, because we have to serialize everything first. I am not sure if it is happening in case of your Json API you call.

What kind of error did you receive? Is there something we can do in docs to make it eas

[2022-06-16 15:53] karelz commented on #70713
Triage: @Apollo3zehn it is hard for us to guess what is going on. Do you have a fully runnable repro we could try? (ideally minimal without unnecessary code)

[2022-06-16 15:59] rhuijben commented on #70830
There is some support in Windows itself, that might cause what you are seeing, so I'm not sure this is really a DotNet issue.

[2022-06-16 16:05] garcipat commented on #70822
Seems about exactly what is required. SingleLine is checked and respected there as well, so it would make sense for this too.

[2022-06-16 16:05] prabh-62 commented on #70793
I am invoking an external API and I have no idea how it's built

If I infer from HTTP response headers, it seems as if API is built with Synopse mORMot framework
[code]

"computation of length" is not happening with `JsonContent.Create(obj)`. I have to do it manually as per the workaround.

The error message returns 403 since the server cannot read body. If you carefully review the screenshot in t

[2022-06-16 16:08] radical opened #70836 "[wasm] `Csc` task failing with `Unexpected exception:` - ` (ReleaseMutex failed. WaitOne Id: 13 Release Id: 13)`"
[Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1828271&view=logs&j=06c2b9cd-9a25-5ea1-8363-c1b61a607e70&t=07e56740-dd3a-5379-9df5-8d02f9b6c188) with `-p:EnableAggressiveTrimming=true` failed on rolling build with:

[code]

From the binlog:
[code]

This seems to be random, because the [AOT build](https://dev.azure.com/dnceng/public/_build/results?buildId=1828271&view=logs&j=7f41

[2022-06-16 16:15] Fabi opened #70837 "Marshal.PtrToStructure support in reflection free Native AOT"
Hey,

while working on a project/lib and tried to make it reflection free I noticed that Marshal.PtrToStructure actually throws "Reflection_Disabled" due to it's usage of Activator.CreateInstance. Marshal.StructureToPtr works fine though.

That makes functions like `NetworkInterface.GetAllNetworkInterfaces` that result in `SystemNetworkInterface.GetNetworkInterfaces` calls unusable in reflection f

[2022-06-16 16:20] jgiannuzzi commented on #70775
Thanks a lot for the quick fix @tannergooding. I can confirm that it fixes the issue on our end 👍
We're looking forward to the backport to .NET 6!

[2022-06-16 16:25] DrewScoggins commented on #70839
May be related to https://github.com/dotnet/runtime/pull/70600

[2022-06-16 16:29] Eilon commented on #62966
Hi everyone, I created a little helper class that I started using that works on Android and Windows to connect to "local" SSL: https://gist.github.com/Eilon/49e3c5216abfa3eba81e453d45cba2d4

And here's how you can use it to call from an Android emulator to a Windows-hosted ASP.NET Core app:

[code]

And to use SignalR client in .NET MAUI, here's how I use the helper:

[code]

It seems that to make

[2022-06-16 16:33] manigandham commented on #29975
Nobody is asking to support everything.

That might have been the intention at the start but the "standard" is what they've become and what the community considers to be standardized. You know this, we know this, everyone agrees. *That's* why this adamant position is so strange given that the design is just new attributes that literally do the same thing and are used the same exact way, but offer

[2022-06-16 16:37] SteveSandersonMS commented on #70841
@lewing @thaystg This hasn't been confirmed from our side, but if you think there's anything to investigate here, go for it :)

[2022-06-16 16:41] fanyang-mono commented on #70820
I took a look at the logs. This test usually takes around 1h to finish and often got killed due to over time. I will disable it for now.

[2022-06-16 16:41] elinor-fung commented on #65263
6.0.5 does not have the fix. The fix is in 6.0.6 - just released recently (14-JUN), so you'd need to rebuild the app with that to pick up the fixed apphost.

[2022-06-16 16:42] DrewScoggins commented on #70839
https://github.com/dotnet/perf-autofiling-issues/issues/6155 (Surface Pro X 2 Arm64 hardware)

[2022-06-16 16:44] lewing commented on #70841
https://github.com/dotnet/core/blob/main/release-notes/7.0/known-issues.md

[2022-06-16 16:47] DrewScoggins commented on #70844
https://github.com/dotnet/runtime/compare/042fdf43dedd58dc3e6cdc118df5a7198792a9e7...eeb0c1551b5fc9ccd6ceeaf5d2b1504afab249d7

[2022-06-16 16:47] hoyosjs commented on #69374
Closing this as the incident was closed.

[2022-06-16 16:47] #69374 closed

[2022-06-16 16:49] #69372 closed

[2022-06-16 16:51] SteveSandersonMS commented on #70841
Thanks @lewing! Closing as a known and documented preview issue.

[2022-06-16 16:53] DrewScoggins commented on #70842
Also seeing this on the Ampere hardware (Arm64) https://github.com/dotnet/perf-autofiling-issues/issues/6148

[2022-06-16 16:58] DrewScoggins commented on #70839
We are also seeing a lot of big improvements from this change - https://github.com/dotnet/perf-autofiling-issues/issues/6181

[2022-06-16 17:27] Beau-Gosse-dev opened #70848 "Statically Linked NativeAOT HelloWorld throws Segmentation fault with Globalization Cultural Data"
### Description

Trying to test statically linking a basic hello world app on Ubuntu 20.04 and found that it throws a seg fault inside the globalization code.

### Reproduction Steps

(On Ubuntu 20.04.4 LTS x64)
`dotnet new console`
`dotnet add package Microsoft.Dotnet.ILCompiler --prerelease`
`dotnet publish -r linux-x64 -c Release /p:StaticallyLinked=true --self-contained`
`./bin/Release/net7.0/

[2022-06-16 17:29] mfcallahan commented on #29975
Based on the fact that this comment received 0 thumbs-up and well over 100 thumbs down
👎 it seems that the community really disagrees with that decision. What would it take to change that?

[2022-06-16 17:33] amanasifkhalid opened #70849 "emitter::emitDispIns() does not print LARGEJMP instruction code on ARM64"
### Description

On ARM32, [emitter::emitDispIns()](https://github.com/dotnet/runtime/blob/ab998cc9dc5dcd51881d2e98e3a35102ce83e193/src/coreclr/jit/emitarm64.cpp#L12277) has a special case for printing LARGEJMP instructions; this case does not exist on [ARM64](https://github.com/dotnet/runtime/blob/ab998cc9dc5dcd51881d2e98e3a35102ce83e193/src/coreclr/jit/emitarm64.cpp#L12277). Thus, hex-encoded in

[2022-06-16 17:33] tarekgh commented on #70727
Thanks @RassK. Based on that I am closing the issue. Feel free to send any more questions and requests and I'll be happy to help with them.

[2022-06-16 17:33] #70727 closed

[2022-06-16 17:35] JulieLeeMSFT commented on #70849
cc @dotnet/jit-contrib.

[2022-06-16 17:40] agocke commented on #66866
I believe this is fixed now

[2022-06-16 17:40] #66866 closed

[2022-06-16 17:45] agocke commented on #65228
This should now be happening by default, as the SDK codesigns the apphost by default. Re-open if this is still occurring.

[2022-06-16 17:45] #65228 closed

[2022-06-16 18:09] CyrusNajmabadi commented on #70754
As an example: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1555650 is one of many customer reported cases of this.  In this case basic IDE features are being delayed by 10s of seconds, and the servicehub process is churning through CPU and tons of ram.  In this case 30+GB just from the jsongenerator and logging generator.

Note that these are features which we generally want to run in 1

[2022-06-16 18:20] smhmhmd commented on #70848
There seem to be 2 versions of GlobalizationNative_LoadICU (pal_icushim.c, pal_icushim_static.c).
mono seems to be using the the static version.

Would it be okay to assign this issue to ourselves to use the static version of GlobalizationNative_LoadICU since this is a static build ?

If so, would you suggest using a new entrypoint for static like this in native/libs/System.Globalization.Native/en

[2022-06-16 18:22] Eagle3386 commented on #62966
@Eilon while that's an awesome helper for local debugging purposes, my scenario differs in that my service, i. e. `HttpClient`'s target, is
a) already hosted on a publicly available server (think of `sub.example.net`)
b) has a valid wildcard certificate (i. e. `*.example.net`, for which my company even paid instead of using a Let's Encrypt one & that has the intermediate CA "Sectigo RSA Domain Val

[2022-06-16 18:22] #70651 closed

[2022-06-16 18:28] kunalspathak commented on #70182
This will most likely not happen in .NET 7

[2022-06-16 18:29] #9228 closed

[2022-06-16 18:43] dmcnaughton-nbc commented on #29975
I agree with the overall sentiment here that support for `System.Runtime.Serialization` is an important feature that a lot of users would benefit from. This has been the defacto way of decorating data contracts within .NET for a long time and without this support it makes shifting from Newtonsoft to the new System.Text.Json much more of a burden for existing applications.

I'm not sure why there's

[2022-06-16 18:43] Eilon commented on #62966
@Eagle3386 ah alright that might very well be different. My helper is only for locally hosted sites (e.g. ASP.NET Core running on your Windows machine).

[2022-06-16 18:45] tarekgh commented on #70848
CC @jkotas @MichalStrehovsky

[2022-06-16 18:46] agocke commented on #69998
@hez2010 Sorry, not sure I understand. These look like the same type, but one is in metadata naming format and the other is in C# format. Is there any other different?

[2022-06-16 18:56] tannergooding commented on #38162
Moving to 8.0.0. This is in PR but not high priority and is dependent on someone from @dotnet/crossgen-contrib following up on the potential issue with the ISA flags

[2022-06-16 19:01] jkotas commented on #70837
We have no plans to make Marshal.PtrToStructure work in reflection-free mode. Duplicate of #67193.

However, we are usually happy to take PRs to eliminate `Marshal.PtrToStructure` usage and replace it with manual marshalling that is typically faster and less error prone.

[2022-06-16 19:01] #70837 closed

[2022-06-16 19:03] tannergooding commented on #70499
First one is noise, the other is a known issue related to https://github.com/dotnet/runtime/issues/70182. The overall improvements were greater than the few small regressions.

[2022-06-16 19:03] #70499 closed

[2022-06-16 19:04] kunalspathak commented on #58954
Moving this to .NET 8

[2022-06-16 19:05] kunalspathak commented on #58954
@TIHan - assigning this to you.

[2022-06-16 19:06] Fabi commented on #70837
But isn't this just due to the non generic Activator.CreateInstance usage? The generic one works due to the analyzer catching it and keeping data for it. There is no switch that let us keep data for the non generic function (which calls the non generic one and really not more)

[2022-06-16 19:06] tannergooding commented on #70501
First was resolved in https://github.com/dotnet/runtime/commit/2d5c8dca09ab5a76c1be8b6353b10a3b0b1d02a9

Second was mostly fixed but still has a small regression related to https://github.com/dotnet/runtime/issues/70182

[2022-06-16 19:06] #70501 closed

[2022-06-16 19:07] tannergooding commented on #70503
Second was resolved in https://github.com/dotnet/runtime/commit/2d5c8dca09ab5a76c1be8b6353b10a3b0b1d02a9

First was mostly fixed but still has a small regression related to https://github.com/dotnet/runtime/issues/70182

[2022-06-16 19:07] #70503 closed

[2022-06-16 19:09] Eilon commented on #70028
@whann0205 I think that a workaround for now would be to have your own map of culture identifiers to culture names and not rely on the built-in ones.

Something like this:

[code]

I know it isn't ideal, but you could generate this list from any working platform (e.g. .NET Core on Windows) and then paste the code into your app to run everywhere. Or, if your app only supports a limited set of cultu

[2022-06-16 19:09] tannergooding commented on #70158
Most of these were resolved in https://github.com/dotnet/runtime/commit/2d5c8dca09ab5a76c1be8b6353b10a3b0b1d02a9

A few were mostly fixed but still have a small regression related to https://github.com/dotnet/runtime/issues/70182

[2022-06-16 19:09] #70158 closed

[2022-06-16 19:10] #70824 closed

[2022-06-16 19:10] tannergooding commented on #70161
Most of these were resolved in https://github.com/dotnet/runtime/commit/2d5c8dca09ab5a76c1be8b6353b10a3b0b1d02a9

A few were mostly fixed but still have a small regression related to https://github.com/dotnet/runtime/issues/70182

[2022-06-16 19:10] #70161 closed

[2022-06-16 19:11] tannergooding commented on #69725
Most of these were resolved in https://github.com/dotnet/runtime/commit/2d5c8dca09ab5a76c1be8b6353b10a3b0b1d02a9

A few were mostly fixed but still have a small regression related to https://github.com/dotnet/runtime/issues/70182

[2022-06-16 19:11] #69725 closed

[2022-06-16 19:12] tannergooding commented on #70162
Most of these were resolved in https://github.com/dotnet/runtime/commit/2d5c8dca09ab5a76c1be8b6353b10a3b0b1d02a9

A few were mostly fixed but still have a small regression related to https://github.com/dotnet/runtime/issues/70182

[2022-06-16 19:12] #70162 closed

[2022-06-16 19:14] tannergooding commented on #69727
These look to have been resolved for the most part. They are within the normal/expected noise ranges in most cases.

[2022-06-16 19:14] #69727 closed

[2022-06-16 19:16] tannergooding commented on #70368
Most of these were resolved in or around https://github.com/dotnet/runtime/commit/2d5c8dca09ab5a76c1be8b6353b10a3b0b1d02a9

A few were mostly fixed but still have a small regression that looks related to https://github.com/dotnet/runtime/issues/70182

[2022-06-16 19:16] #70368 closed

[2022-06-16 19:21] tannergooding commented on #70497
Retargeting to .NET 8. We're emitting an extra instruction here but its not something that's high priority to fix.

[2022-06-16 19:33] 0xced commented on #70438
Apparently there's more than _enumerate all assemblies in the app_ use cases out there. In [Carter](https://github.com/CarterCommunity/Carter/blob/6.0.0/src/Carter/DependencyContextAssemblyCatalog.cs#L77-L85), for example, the `Library` and `Dependency` types from `Microsoft.Extensions.DependencyModel` are used:

[code]

This can't work with single-file deployment since the `DependencyContext` is

[2022-06-16 19:37] vfdvfvfvf commented on #70796
You are actually very correct. C# Dictionary insertion is actually fast:

Lower is better - on [Ubuntu](https://ubuntu.com/desktop) 22.04 LTS (Jammy Jellyfish)
Linux-5.15.0-39-generic-x86_64-with-glibc2.35 on 2022-06-16:

|                        Language                       |                       Version                       | Adjusted time based on CPU usage (seconds) | Average time (seconds

[2022-06-16 19:56] Zastai commented on #70830
Mainly wondering whether there might be any flags the runtime might be able to pass to the windows API to ask not to cache or something.

[2022-06-16 20:01] loop-evgeny commented on #70733
Any chance of this being fixed in 6.0.x?

[2022-06-16 20:18] vitek-karas commented on #70438
There is a scenario with `.deps.json` which is probably never going to work in single-file. If asked for `.deps.json` can store compile environment, so things like defines, compiler options and... reference assemblies used to compile the assembly. This is used in scenarios where the assembly in question should be recompiled at runtime (ASP.NET can do this in some cases, where you just edit the sou

[2022-06-16 20:45] #70796 closed

[2022-06-16 20:55] HongGit commented on #70855
Transfer to runtime, this is a question of behavior of IHttpMessageHandlerFactory.

[2022-06-16 20:55] radical opened #70856 "[wasm] Random uncaught js exceptions in `System.Security.Cryptography.Tests` on the browser"
[Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1828769&view=logs&jobId=11c5c840-d20a-5536-428b-70d8cd9c6259&j=11c5c840-d20a-5536-428b-70d8cd9c6259&t=73598586-463f-5241-5dc8-b8ffdebf8b89), and [log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-70814-merge-d4c4104d48384a04a6/WasmTestOnBrowser-System.Security.Cryptography.Tests/1/console.495c3b2b

[2022-06-16 21:03] wfurt commented on #70855
That will go away: https://docs.microsoft.com/en-us/answers/questions/230227/time-wait-from-netstat.html

[2022-06-16 21:07] jkotas commented on #70848
The full static linking is incompatible with any dynamic libraries being loaded in the process. You would need to create a custom build of the runtime, shims and dependencies that can be then all statically linked together and where nothing ever calls `dlopen`.

I am deleting the `StaticallyLinked` property in  https://github.com/dotnet/runtime/pull/70854 to avoid confusion. This property is has n

[2022-06-16 21:12] radical opened #70858 "[wasm] Random `Uncaught Error: Assert failed: subtle crypto not initialized` in `WasmTestOnBrowser-System.Security.Cryptography.Tests`"
This was on an unrelated https://github.com/dotnet/runtime/pull/70814 . [Log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-70814-merge-07841c1038544f74b0/WasmTestOnBrowser-System.Security.Cryptography.Tests/1/console.4113a03d.log?%3F%253Fhelixlogtype%253Dresult):

[code]

I found other instances of this issue via runfo.

cc @eerhardt

[2022-06-16 21:15] SamMonoRT commented on #70820
Merged https://github.com/dotnet/runtime/pull/70843 to disable the test. Removing blocking-ci label and adding disabled-test one for further tracking

[2022-06-16 21:19] #53021 closed

[2022-06-16 21:20] AaronRobinsonMSFT opened #70859 "[API Proposal]: Update to the `LibraryImport` custom marshalling shape"
### Background and motivation

There has been substantial feedback regarding the current `LibraryImport` custom marshaller shapes. The interop team has taken this feedback (internal and external), along with practical usage in the ASP.Net Core and WinForms repositories and decided to revise the current shapes. This revision is primarily designed to improve UX and future use cases with reverse P/In

[2022-06-16 21:21] AaronRobinsonMSFT commented on #70859
/cc @pavelsavara

[2022-06-16 21:23] hypeartist opened #70860 "Strange runtime failure - unmanaged heap corruption"
OS: Windows 11 22000.675
.NET SDK: 7.0.100-preview.5.22307.18
IDE: VS 2022 17.3.0 Preview 2.0

.csproj settings:
[code]

While running/debugging my console app I get this strange error occuring somewhere deep inside runtime:

![image](https://user-images.githubusercontent.com/3519388/174165036-6f10ec20-4329-4168-996d-82e6ed8b4754.png)

Any tips on what actually goes wrong?

PS: btw, why does ```#i

[2022-06-16 21:33] smhmhmd commented on #70848
@jkotas

If a user chooses `-static`, can the static version of the `GlobalizationNative_LoadICU()` in `pal_icushim_static.c` be used instead  of `GlobalizationNative_LoadICU()` in `pal_icushim.c` ?

[2022-06-16 21:39] smhmhmd commented on #70848
Static build compiles in Alpine Linux using libmusl, it did not show the dlopen issue in my test.
I did see the dlopen issue with glibc.

[2022-06-16 21:40] jkotas commented on #70848
You would need to do more than that to get statically linked ICU. For example, you would need to rebuild the whole `System.Globalization.Native.a` with `STATIC_ICU` defined.

[2022-06-16 21:46] luetm commented on #29975
After reading through this I can appreciate the position of the System.Text.Json team here. If they start adding things left right and center, the library will get bloated and more complicated every time. Extending it will be more difficult because of all the interdependencies, and performance will get worse. And then we complain again.

If you expect `System.Runtime.Serialization` attributes to w

[2022-06-16 21:51] #68455 closed

[2022-06-16 21:55] jkotas commented on #70860
The crashing stacktrace indicated unmanaged heap corruption.

Does you console app has an unmanaged interop in it (`DllImport`, etc.)? It is most likely what's causing this crash.

[2022-06-16 22:03] AndyAyersMS commented on #59152
Current data with 7.0 looks better but still not quite as good as 5.0
[code]

|         Method |        Job |  Runtime | Toolchain |     Mean |   Error |  StdDev |   Median |      Min |      Max | Ratio | Allocated | Alloc Ratio |
|--------------- |----------- |--------- |---------- |---------:|--------:|--------:|---------:|---------:|---------:|------:|----------:|------------:|
| DelegateInvoke

[2022-06-16 22:08] hypeartist commented on #70860
@jkotas Not sure about dll importing (my code has no direct uses of it), but I do use unmanaged memory via ```NativeMemory.AlignedAlloc``` and ```NativeMemory.ZeroMemory```. But how could use of those methods affect jitting process?!

[2022-06-16 22:13] Stabzs commented on #66490
This is a tremendous problem and I JUST ran into this during an upgrade.

The fact that this wasn't thought through as a potential migration path and called out in the documentation is incredibly frustrating, especially since as @ScarletKuro pointed out, this behavior previously worked in `IgnoreNullValues` and an upgrade has no backwards-compatible option.

It would be so greatly appreciated if t

[2022-06-16 22:20] #70725 closed

[2022-06-16 22:20] AndyAyersMS commented on #57698
@mangod9 any plans for your folks to work on this, or should we transfer this to another team?

[2022-06-16 22:33] #70817 closed

[2022-06-16 22:37] AndyAyersMS commented on #70549
Seemingly another instance...https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-70809-merge-038c72672ded403397/System.Runtime.Tests/1/console.87b58c26.log?helixlogtype=result

[2022-06-16 22:41] Eilon commented on #70434
I started a discussion topic on how to connect from Android emulators to a local ASP.NET Web API running on Windows: https://github.com/dotnet/maui/discussions/8131

Please check that out and let us know if you have any feedback on any of the solutions presented.

[2022-06-16 22:41] Eilon commented on #62966
I started a discussion topic on how to connect from Android emulators to a local ASP.NET Web API running on Windows: https://github.com/dotnet/maui/discussions/8131

Please check that out and let us know if you have any feedback on any of the solutions presented.

[2022-06-16 22:47] HJLeee commented on #70830
Calling File.SetCreationTimeUtc() right after file creation might be helpful for defensive code.

[2022-06-16 22:51] teo-tsirpanis commented on #40546
@buyaa-n, @tmat can this move forward? And @SeeminglyScience can you also propose an overload that takes an `IReadOnlyCollection<LabelHandle>`?

[2022-06-16 23:01] Eilon commented on #45741
@JamesNK said:

I started a discussion topic on how to connect from Android emulators to a local ASP.NET Web API running on Windows: https://github.com/dotnet/maui/discussions/8131

Please check that out and let us know if you have any feedback on any of the solutions presented.

[2022-06-16 23:06] mangod9 commented on #57698
this hasnt been on our radar. Looks like the issue is about enable non EN scenario within the apps?

[2022-06-16 23:19] jkotas commented on #70860
The runtime and JIT is using the same unmanaged heap as `NativeMemory.Alloc/Free` APIs. If you corrupt the unmanaged heap by using these API incorrectly, you can crash the JITing process among other things.

[2022-06-16 23:25] TIHan commented on #68624
@tarekgh Apologies for circling around. I spent some time and did a much deeper investigation into this. It turns out it is not caused by the `x % 2` changes we've made. In fact, any mod changes wouldn't impact this benchmark because the expression, `x % 2 == 0`, does not benefit from the recent mod optimizations.

I'm assigning back to you.

[2022-06-16 23:27] terrajobst commented on #70133
I believe this is where we landed:

* `JSType`
    - It seems worthwhile to use `System.Type` approach as opposed to `enum`
    - Consider using regular array syntax to express arrays, as opposed to `JSType.Array<JSType.Number>` you'd say `JSType.Number[]`.
* `JSMarshalAsAttribute`
    - We could make it generic, e.g. `JSMarshalAs<JSType.Number>`

[code]

[2022-06-16 23:40] ScarletKuro commented on #66490
@layomia said to just suppress the warring and use `IgnoreNullValues` because they do not plan to remove it. But my problem with that is that `IgnoreNullValues` is an **global** parameter within `JsonSerializerOptions` and it works in both direction - serialization and deserialization. In my case, I want it to be only for deserialization. Also, I want to have control over what property can ignore

[2022-06-16 23:57] TIHan commented on #53822
@am11 Thank you for the added context here, it's very helpful.

We should definitely support portable PDBs for this; it would help make F# debug testing a bit easier.

[2022-06-16 23:59] xperiandri opened #70864 "[API Proposal]: `System.Text.Json`. Add ability to convert a JSON array to `[Flags]` enum"
### Background and motivation

In continuation of https://github.com/dotnet/runtime/issues/30655 I propose to add ability to deserialize a collection of integer or string values into a `Flags` enum

### API Proposal

When such JSON
[code]
or such JSON
[code]
comes it can be deserialized into a field `AllowedCustomerOperations` of type `AllowedCustomerOperations`
[code]

### API Usage

No special s

[2022-06-17 00:14] jkotas commented on #70837
`Marshal.PtrToStructure` cannot just use the generic `Activator.CreateInstance`. `Marshal.PtrToStructure` allows private constructors that the generic `Activator.CreateInstance` disallows. Implementing a special version of the generic `Activator.CreateInstance` just to make this legacy API work in reflection-free mode is not worth it.

[2022-06-17 00:27] AaronRobinsonMSFT commented on #69096
@f2bo We've incorporated the feedback here into a new API shape. I'm going to close this specific issue because I believe we have come up with a solution to be clearer in that proposal. Let's continue the conversation there if there are further issues.

https://github.com/dotnet/runtime/issues/70859

[2022-06-17 00:27] #69096 closed

[2022-06-17 00:28] AaronRobinsonMSFT commented on #69031
Closing this issue since the feedback has been incorporated into https://github.com/dotnet/runtime/issues/70859. If there are still concerns let's have the conversation on the new API shape proposal.

[2022-06-17 00:28] #69031 closed

[2022-06-17 00:31] AaronRobinsonMSFT commented on #69403
This issue should be addressed by the update API proposal. Let's continue the conversation there https://github.com/dotnet/runtime/issues/70859.

[2022-06-17 00:31] #69403 closed

[2022-06-17 00:37] TIHan commented on #49998
I can look into this. As @briansull said, may be as easy as removing a single line.

[2022-06-17 00:40] paulowirth commented on #38751
Hi,

Please, care to provide further details when using `AddSingleton<IHostedService>(factory)` alternative?

I have a scenario where I am working with different schedule services using cron expressions, but I don't think it makes sense to create a class for each expression, say, CronScheduleServiceA, B ... n, and then register using the `AddHostedService`, since the class behavior is the same.

K

[2022-06-17 00:47] #70775 closed

[2022-06-17 00:49] davidfowl commented on #38751
Alternative is to write this code:

[code]

[2022-06-17 00:53] paulowirth commented on #38751
Thank you, will try this and report if it works as expected.

[2022-06-17 01:03] AndyAyersMS commented on #57698
Yes, we need to get some coverage over these currently "cold" paths.

[2022-06-17 01:07] manigandham commented on #29975
Again, nobody is asking for this. It seems the position keeps getting pushed to the extreme of "_add everything and make it newtonsoft again"_ when that's far from the case.

99% of the community's wishes are to support the "standard" attributes found in `System.Runtime.Serialization` so that existing code can be used with a new serializer without modification. If there are fundamental incompatibi

[2022-06-17 01:28] MichalStrehovsky commented on #70277
That looks like an antipattern - we really only want one `.a` file produced by NativeAOT in the app. Otherwise one gets duplicate framework, duplicate System.Object, etc.

It works, as long as one makes sure the `.a` is produced by the exact same version of the ILCompiler package, but if they're not matched, there will be horrible failure modes. Kind of like trying to statically link multiple vers

[2022-06-17 01:47] tarekgh commented on #68624
I have done some measurements locally on my machine to see the cost of the change https://github.com/dotnet/runtime/pull/67938, I got the following:

## With #67938 change

[code]

## Without #67938 change

[code]

I am seeing the `Hierarchical` scenario mentioned in the issue regressed by 15% while in my measurement is shows around 8%. Also, `W3C` scenario in this issue showed it is 7% regression

[2022-06-17 01:52] tarekgh commented on #68624
One last thing I just notices, I am seeing this issue marked with Ubuntu 18.04. Although I did the measurement on my machine which has Windows OS but if my change is the cause, it should show on all OS's and all architecture as the change is not OS or architecture dependent.

[2022-06-17 01:57] #70575 closed

[2022-06-17 01:58] jkotas commented on #70837
I have fixed up `PtrToStructure` instances you have mentioned and a few more in #70866

[2022-06-17 02:00] AndyAyersMS commented on #70569
Ok, finally looking at the right repro. We have a pair of back to back loops:

<img width="462" alt="image" src="https://user-images.githubusercontent.com/10121823/174207013-76739319-23a2-4453-b08a-5a616d483819.png">

and we decide both of them have invariant type tests and should be cloned:
[code]
Note we really should clone L00 instead, but somehow the profile data (which is random here) is inco

[2022-06-17 02:17] AndyAyersMS commented on #70569
Here's the flow graph after cloning L01. BB129-BB130 are the cloning conditions (null check and class check, respectively), BB91 the top of the fast loop, BB119 the top of the slow loop.

The key thing here is that L02 with top BB100 still thinks BB99 is its head block. This is no longer the case.

<img width="401" alt="image" src="https://user-images.githubusercontent.com/10121823/174209684-dfe63

[2022-06-17 02:22] hez2010 commented on #69998
The metadata qualified name is needed in rd.xml. If the exception message contains the metadata type name, developers can write the type name in rd.xml without looking up the source code.

[2022-06-17 02:43] MichalStrehovsky commented on #70799
If you get a `Failed to create CoreCLR, HRESULT: 0x80004005` when trying to build the repo, set `COMPlus_EnableWriteXorExecute=0` environment variable to work around. This is #70758.

WSL 1 is one of the affected platforms where I just ran into that.

[2022-06-17 02:49] MichalStrehovsky commented on #70815
The instructions will have to be more specific. I tried locally, but ran into:

[code]

or

[code]

It depended on timing.

The compiler can generally recover from garbage inputs in some spots, but in other spots it can't. The fixes usually involve doing more upfront validation so that we find the problem in a recoverable spot. Some of which slow down compilation. We're okay with doing the cheap v

[2022-06-17 03:34] JoshLove-msft commented on #70267
This type can be used as a more convenient byte array and be composed onto larger models. For this reason, it would be useful if it could be serialized in the same way as byte arrays.

[2022-06-17 04:34] jacrys commented on #29975
So if I've got this right, the consensus from the implementation team is: "screw the users and developers that actually made this framework successful,  we're Microsoft, we're smarter and better than you in every conceivable way, so obviously we know what you actually want, and you'll take what we give you and like it. " Congratulations, that's very Balmer of you. Does the .NET Foundation know you

[2022-06-17 04:41] noahfalk opened #70870 "Deadlock in EventListener static constructor"
### Description

When an app calls EventSource.GetSources(), (or many other EventSource APIs that would trigger calling EventListener.cctor) it may deadlock. Thread A holds the implicit lock on the static constructor and blocks trying to acquire an internal ETW OS lock. Thread B runs a callback from the OS where the ETW lock is held and blocks trying to acquire the implicit .cctor lock.

### Threa

[2022-06-17 04:50] shushanhf commented on #11057
Hi, @SingleAccretion  @BruceForstall @jkotas  @jakobbotsch
I can supply several LoongArch64's cloud Linux accounts for you, If you need please email to qiaopengcheng@loongson.cn to get the account .

The CoreRoot for runtime will be updated every weekday [here](https://github.com/shushanhf/LoongArch64-Blog-for-.NET-Mono/tree/main/rumtime_main_CoreRoot)

[2022-06-17 04:58] tannergooding commented on #60882
Closing in favor of https://github.com/dotnet/runtime/issues/69676 which tracks the approved API surface

[2022-06-17 04:58] #60882 closed

[2022-06-17 04:59] tannergooding commented on #68191
This was reviewed, approved, and completed.

[2022-06-17 04:59] #68191 closed

[2022-06-17 05:25] kant2002 commented on #70815
[apireflection.zip](https://github.com/dotnet/runtime/files/8924733/apireflection.zip)

Just running `dotnet publish --self-contained` trigger issue for me. I understand that you cannot validate everything, but NRE seems wierd. I worry that making app run in NativeAOT is somewhat laborous process because most people do not jump on R2R + trimming ship, and will have all issues from these modes + Na

[2022-06-17 05:39] Hawxy commented on #63747
One limitation a noticed with the current implementation, it seems that `$type` is ordering sensitive.

If you're using `jsonb` PostgresSQL columns such as with EFCore or MartenDB, keys can end up in any order the database considers ideal for performance.

For example:

[code]
Results in:
[code]

Newtonsoft had a `MetadataPropertyHandling.ReadAhead` setting to get around this, but I don't see anyt

[2022-06-17 05:43] MichalStrehovsky commented on #70815
Thanks for the repro. Yep, this is in the bucket of "we can validate cheaply". The NullRef was just stupid (we ask for the API to return null instead of throwing and then don't check the null). There was one more issue that can be fixed with a try/catch.

The other two stacks I pasted above wouldn't be so easy, but we don't hit them.

[2022-06-17 05:45] kant2002 commented on #70815
At least these 2 issues which you post are pretty explanatory, and even if they look scary, they actionable on dev side.

[2022-06-17 05:47] ishepherd commented on #63747
@Hawxy ugh, is that the behaviour? That seems broken.

[2022-06-17 05:52] zichenlbl opened #70872 "Use .Net core console program how to obtain cpu/memory utilization"

[2022-06-17 06:00] IanKemp commented on #28285
@terrajobst @ericstj bump.

[2022-06-17 06:02] VincentBu opened #70873 "Test failure Regressions\\coreclr\\20616\\UnicodeBug\\UnicodeBug.cmd"
Run: [runtime-coreclr ilasm 20220616.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1829618&view=ms.vss-test-web.build-test-results-tab&runId=48444888&paneView=debug&resultId=107001)

Failed test:
[code]
**Error message:**
[code]
No Kusto information.

[2022-06-17 06:08] BruceForstall opened #70875 "ilasm round-trip test failures"
There are many failures in the ilasm round-trip test pipeline:

https://dev.azure.com/dnceng/public/_build/results?buildId=1829618&view=ms.vss-test-web.build-test-results-tab

Most, but not all, fail on all platforms.

Some failures:
[code]

[code]

[code]

[code]

[2022-06-17 06:11] VincentBu opened #70876 "Test failure JIT\\Directed\\RVAInit\\nested\\nested.cmd"
Run: [runtime-coreclr ilasm 20220616.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1829618&view=ms.vss-test-web.build-test-results-tab&runId=48444888&paneView=debug&resultId=105013)

Failed test:
[code]
**Error message:**
[code]
No Kusto information.

[2022-06-17 06:15] whann0205 commented on #70028
Thanks for you suggestion.
It would help to know how long we have to wait get this fixed.
Since i have other things to do in the app, i can continue with
other things in the meantime.
Would also help to understand why it stopped working to identify
the source of the problem and perhabs get to know if other functions
are affected.

[2022-06-17 06:21] am11 commented on #70277
Turned out the 4 MB size regression is not related number of archive files, but rather partial linking. Linking a single `.a` with the combined `libnativeaotruntime.a` produces 24 MB binary while linking all archives manually is 20 MB.

[2022-06-17 06:26] Grauenwolf commented on #29975
Here is a good example of why this is important. EF Core has to add a serialization attribute specifically for `System.Text.Json` because it isn't honoring `IgnoreDataMember`.

And what does that attribute do? Exactly the same thing as `IgnoreDataMember`, but it's called `JsonIgnore` just to be different.

https://github.com/dotnet/efcore/pull/28084/files

[2022-06-17 06:31] tehmantra commented on #29975
Another example is when a REST API allows the client to specify the `Accepts` header. The API models can use `[DataMember]` for all formats _except_ JSON, where we need to specifically add attributes from `System.Text.Json` which do the same thing.

[2022-06-17 06:41] agocke commented on #69190
Preview 5 SDK update has been merged

[2022-06-17 06:41] #69190 closed

[2022-06-17 06:53] ficnar commented on #70816
_On the Windows platform, it works properly._ - It is not true. It was my mistake, because I was CA certificates in local storage.
Now I use a temporary workaround with install CA certificates to local storage.

[2022-06-17 07:17] runfoapp[bot] opened #70877 "system.drawing.tests.graphicstests tests failing in IsVisibleClipEmpty"
Runfo Creating Tracking Issue (data being generated)

[2022-06-17 07:36] MichalStrehovsky opened #70878 "GVM lookup failure in System.Collections.Immutable test"
Process terminated. Generic virtual method pointer lookup failure.

Declaring type handle: MethodTable:0x00007FF7EB374580
Target type handle: MethodTable:0x00007FF7EB3744F0
Method name: Empty
Instantiation:
  Argument 00000000: MethodTable:0x00007FF7EB33DC68
  Argument 00000001: MethodTable:0x00007FF7EB3743F0

[2022-06-17 07:47] crozone commented on #29975
A very common mantra for .NET is that users should fall into a "pit of success". When a developer uses a library, their first instinct for how to use a library says a lot about the API design the library should have, unless there is a very good reason for the design to break away from that intuition.

When I switched to `System.Text.Json`, using the `DataMemberAttribute` was one of the first thing

[2022-06-17 07:54] Grauenwolf commented on #29975
Here's another way to think about it. We can divide the list of serializers into two categories:

**.NET 1.0 Serialization Libraries**

* XmlSerializer
* BinaryFormatter

**Serialization Libraries that Support Data Contracts**

* [Ceras](https://github.com/rikimaru0345/Ceras)
* DataContractJsonSerializer
* DataContractSerializer
* [fastJSON](https://github.com/mgholam/fastJSON)
* [GroBuf](https://

[2022-06-17 08:01] Eagle3386 commented on #62966
@Eilon & @simonrozsival I still implemented Eilon's snippet nonetheless, but its `CustomHostnameVerifier` isn't even reached: the `CustomAndroidMessageHandler`'s assigned `ServerCertificateCustomValidationCallback` value is accessed first & since I'm in scenario 4 mentioned over at https://github.com/dotnet/maui/discussions/8131 (remote test server & real SSL certificate) the shouldn't ever happen

[2022-06-17 08:04] MichalStrehovsky opened #70880 "Make sure there's runtime mapping for delegate Invoke methods"
We have the metadata for the Invoke method, but not a method body mapping.

Likely dataflow didn't compute the delegate as something that would need methods.

Should look into where/how we get the MethodInfo in the first place. Maybe dataflow should have computed that or issued a warning.

We can also just special case in the compiler. Invoke is already special cased to get the metadata.

Cc @davi

[2022-06-17 08:07] paulguz-datapa commented on #70841
Thanks @lewing @SteveSandersonMS .  While this may be a documented issue, the "known issues" document is not linked from the [Preview 5 release notes](https://github.com/dotnet/core/blob/main/release-notes/7.0/preview/7.0.0-preview.5.md), so not sure how anyone would find that.

[2022-06-17 08:15] marek-safar commented on #53730
Can this land without shuffle LLVM fix?

[2022-06-17 08:20] eiriktsarpalis commented on #63747
@Hawxy yes, this is a known limitation of the JSON metadata reader implementation (also used in features like reference preservation). Without getting into too much detail, it boils down to the fact that the internal converters have been written with async streaming in mind, as such the type discriminator might not even have been loaded in memory when the first properties are being read. In the fu

[2022-06-17 08:33] eiriktsarpalis commented on #29975
Perhaps I didn't make myself clear, this issue is very clearly listed in the use cases under the acceptance criteria for #63686.  It even literally includes a code snippet showing how to do this for `DataMemberAttribute`. When the feature does ship, there will be acceptance testing specifically validating that contract resolution using common System.Runtime.Serialization attributes.

[2022-06-17 08:37] eiriktsarpalis commented on #63791
We likely won't have time to work on this before .NET 7 is done, moving to 8.0.0

[2022-06-17 08:38] eiriktsarpalis commented on #54189
As with the related #63791, we won't be able to look at this in time for .NET 7, moving to 8.0.0

[2022-06-17 08:47] WeihanLi opened #70882 "Question: dependency injection how could I intercept the ServiceScope resolve"
I'm trying to create a trace id for each service scope, could I intercept the service scope resolve and dispose?

Currently, I'm using an extension to create such a scope likes follows:

[code]

While I had to change the code base that `CreateScope`, wondering that maybe there're some better ways to implement this

[2022-06-17 08:52] eiriktsarpalis commented on #70864
I don't think we could support this out of the box, it would warrant authoring a separate custom converter. We generally don't ship custom converters out of the box (`JsonStringEnumConverter` being the only exception).

I don't think we would consider adding more unless there is substantial demand or the converter cannot be implemented by users. Roughly speaking you could do the following (disclai

[2022-06-17 08:52] #70864 closed

[2022-06-17 08:52] mgaeckler1964 commented on #69306
There is no change.

gcc -L/usr/lib64 -L/lib64 -Wl,--gc-sections -Wl,--as-needed -Wl,--no-undefined -Wl,--allow-multiple-definition -Wl,--start-group -o linux_x64REL_gcc_9_YR/libcoomk.so -Wl,--version-script="coomk.map" -shared -Wl,-soname=libcoomk.so -Wl,--whole-archive -Wl,-Bsymbolic-functions  -lz -std=c++11 linux_x64REL_gcc_9_YR/gnudebuglink.o  "`find /usr/share/dotnet -name libnethost.a | gre

[2022-06-17 08:53] Zastai commented on #70830
That only seems to partially help; I added such a call after the initial creation, but before the rename:

[code]

So now foo.txt indeed has the right time at the end, but when it gets renamed to bar.txt, that ends up with the old timestamp from before the create+set-time. This just feels extremely buggy to me.

I do see that `File.CreationTime`'s [documentation](https://docs.microsoft.com/en-us/d

[2022-06-17 09:01] SteveSandersonMS commented on #70841
@paulguz-datapa Sorry for the inconvenience. I wasn't intending to blame you for not finding the issue! I was just noting that it was known to the team for our own purposes. Hopefully you'll have a fixed SDK soon!

[2022-06-17 09:03] Zastai commented on #70830
One assumes that these days, non-LFN aware software is no longer a real concern. Would it then be safe to disable file tunneling?

[2022-06-17 09:23] gfoidl commented on #70872
You mean something like [dotnet-counters](https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dotnet-counters)?
Or from within the app itself?

[2022-06-17 09:23] #70790 closed

[2022-06-17 09:38] Grauenwolf commented on #29975
Then take the next step and actually make it a feature.

[2022-06-17 09:42] zichenlbl commented on #70872
CPU usage of the computer

[2022-06-17 09:44] zichenlbl commented on #70872
Get the total CPU usage of the computer。

[2022-06-17 09:56] #70673 closed

[2022-06-17 10:00] RamanSggs opened #70886 "crash in the application"
### Description

Our application is crashing randomly in production. While performing crash dump analysis we are getting below call stack repeatedly.

_ed ntdll!RtlpCallVectoredHandlers
ee ntdll!RtlDispatchException
ef ntdll!KiUserExceptionDispatch
f0 coreclr!CExecutionEngine::GetTlsData
f1 coreclr!CExecutionEngine::CheckThreadStateNoCreate
f2 coreclr!SaveCurrentExceptionInfo
f3 coreclr!CLRVectore

[2022-06-17 10:16] ilonatommy opened #70887 "[wasm] Microsoft.VisualBasic.Core tests for CurrentDirectory fail for Browser on Windows"
After enabling tests disabled in https://github.com/dotnet/runtime/issues/55429, testing `Microsoft.VisualBasic.Core` fails with 2 failures.

Repro - run:
`dotnet build /t:Test src/libraries/Microsoft.VisualBasic.Core/tests /p:TargetOS=Browser /p:Configuration=Debug /p:BrowserHost=Windows /p:Scenario=WasmTestOnBrowser`

Behavior:
`CurrentDirectoryGet` and  `CurrentDirectorySet` failures. Call stac

[2022-06-17 10:29] BreyerW commented on #63747
@eiriktsarpalis Could you answer my question i made in edit? Need to understand actual limitations since im thinking of moving away from Newtonsoft to STJ and last obstacles are polymorohism and publicly exposed contract (well and support for private members ar least just fields but i think i will be able to workaround it)

[2022-06-17 10:43] eiriktsarpalis commented on #29975
Here's a few reasons why I think we shouldn't ship SRS attribute support OOTB:

1. Enabling SRS attributes by default would be a breaking change. It would either need to be a flag on `JsonSerializerOptions` or (most likely) exposed as a separate contract resolver implementation that users opt into.
2. Potential quirks mapping SRS attribute data defining behaviour that is either:
    - Not applicab

[2022-06-17 10:48] eiriktsarpalis commented on #29975
It's worth keeping in mind that whatever component we ship with the shared framework automatically crosses a threshold of immortality, as it were. It will need to preserve backward compatibility for however long .NET exists. Almost any amendment -including fixes to obviously incorrect behaviour- is a potential breaking change and as such the bar for making it is _very_ high.

This is an important

[2022-06-17 10:55] karelz opened #70889 "NativeAOT - Massive failures"
Massive failures on following test run:
- Build [1831520](https://runfo.azurewebsites.net/view/build/?number=1831520) (6/17 PM) - **1057 failures**
    - net7.0-windows-Release-x64-NativeAOT_Release-Windows.81.Amd64.Open - 215 failures
    - net7.0-windows-Release-x64-NativeAOT_Release-Windows.11.Amd64.Client.Open - 215 failures
    - net7.0-windows-Release-x64-NativeAOT_Release-Windows.10.Amd64.S

[2022-06-17 11:00] huoyaoyuan commented on #70872
.NET itself doesn't implement system wide monitoring.
You can use native Windows/POSIX functionality by P/Invoke: https://docs.microsoft.com/en-us/windows/win32/perfctrs/using-the-pdh-functions-to-consume-counter-data (English)
https://mp.weixin.qq.com/s?__biz=MzIzMjQwNTkwMA==&mid=2247484795&idx=1&sn=30096165cdbf801c441da9bd730d486b&chksm=e8942b98dfe3a28ebd778d0d982543af016f91cde25f989488a12c3bb7f

[2022-06-17 11:01] ilonatommy commented on #55429
The situation changed a bit. Running `dotnet build /t:Test src/libraries/TESTED_DIR p:TargetOS=Browser /p:Configuration=Debug /p:BrowserHost=Windows /p:Scenario=WasmTestOnBrowser` results in:
- [ ] `Microsoft.VisualBasic.Core` [FAIL] `CurrentDirectorySet` and `CurrentDirectoryGet`, https://github.com/dotnet/runtime/issues/70887.
- [X] `System.IO` [PASS]
- [X] `System.Linq.Expressions` [PASS]
- [X]

[2022-06-17 11:17] unicomp21 commented on #53730
Sounds like the current WASM implementation released to all browsers is crashing?  Right?

[2022-06-17 11:18] unicomp21 commented on #53730
@lewing ^

[2022-06-17 11:27] karelz commented on #65840
Looks like in latest run [1829491](https://runfo.azurewebsites.net/view/build/?number=1829491) (6/16 PM), there were also 64 non-JIT failures (GC, tracing, Regressions/coreclr, Reflection, couple of others). So, disabling JIT tests is not going to fully help -- it seems to be indeed infra problem.

Circling back to the original issue - the callstack detected for all these failures:
[code]

@premun

[2022-06-17 11:30] premun commented on #65840
We had a look at this with @fanyang-mono yesterday and:
- One fix is waiting for 4 days here https://github.com/dotnet/runtime/pull/70662 - this should bring retries back as there was a regression with older python version
- One fix will happen on the side of the CoreCLR to improve the logs to make it more clear what's actually going on

[2022-06-17 11:40] am11 commented on #69306
If you could create an [SSCCE](http://sscce.org), that would help us reproducing the issue and provide you with more accurate solution.

One thing I know about compiler driver (gcc/g++) is that order of arguments matter. Especially the ones which are prefixed with `-Wl` which get forwarded to binutils, and then to the linker.

[2022-06-17 11:49] #70880 closed

[2022-06-17 11:50] #70815 closed

[2022-06-17 11:58] karelz commented on #70820
Thanks @fanyang-mono and @SamMonoRT for fast turnaround. It's appreciated!

[2022-06-17 12:13] eiriktsarpalis commented on #63747
The only difference between source gen and reflection is that the former generates metadata at compile-time while the latter uses reflection. The core serialization logic is agnostic as to the source of metadata so if `PolymorphismOptions` is specified it would be honored.

[2022-06-17 12:15] jkotas commented on #70886
This looks like a duplicate of https://github.com/dotnet/runtime/issues/12072 that was fixed for .NET Core 3.0.

What is the .NET runtime version that your application is running on? If it is earlier than .NET Core 3.1, could you please update to a newer version?

[2022-06-17 12:29] deeprobin commented on #69372
@elinor-fung This is not resolved :D

[2022-06-17 12:47] ilonatommy commented on #66498
Yes, we do. For Blazor Server with asp NET core 3.1 runtime and Blazor Server with NET 7 runtime it's working fine. For Blazor Wasm with NET 7 runtime the behavior is as described in the issue. It's definitely something that Wasm is doing differently.

[2022-06-17 12:52] pavelsavara opened #70891 "[wasm] proper startup sequence in `dotnet.worker.js`"
- [x] pass configuration from main thread
- [x] run relevant parts of startup sequence
- [ ] make worker long lived that that we could schedule mono jobs in worker and use promises

---

We compile `dotnet.worker.js` with `-s EXPORT_ES6`, so it used `import(uri).then(callback)` dynamic imports to bring in scripts.

There is still a polyfill for Node in the worker JS file that uses `require` and `e

[2022-06-17 13:02] pavelsavara opened #70892 "[wasm] Design application startup, template, configuration"
# TODO

- [ ] Adopt blazor.boot.json like format, instead of `mono-config.json`
- [ ] Separate assets/manifest from application config from current run arguments
- [x] Unify the templates and it's `runArgs.json`
- [ ] `PATH`-like DLL resolution for nodeJS, (and WASI?)
- [ ] runtimeconfig.json/.bin and launchsettings
- [x] remove features like `proxyConsoleMethod` from template, or integrate them w

[2022-06-17 13:14] realivanjx commented on #70825
`dotnet watch test` on my ubuntu 22.04:
![image](https://user-images.githubusercontent.com/12814796/174305409-d972be58-8774-4efc-bb27-111477a8c14a.png)

[2022-06-17 13:15] LEI-Hongfaan commented on #67151
We already have MinusOne on BigInteger and Decimal. Why come up with a public NegativeOne now? @tannergooding

[2022-06-17 13:20] jkotas commented on #69372
@deeprobin Why do you think that this is not resolved?

I have downloaded the latest nightly dotnet/runtime Windows x64 build from https://aka.ms/dotnet/7.0/daily/dotnet-runtime-win-x64.zip and I see the icon on dotnet.exe:

![image](https://user-images.githubusercontent.com/6668460/174306123-daebddf9-cc8d-4bf1-a788-8156ca65c600.png)

[2022-06-17 13:23] BreyerW commented on #63747
@eiriktsarpalis in that case i was indeed under wrong impression and everything is okay with `JsonSourceGenerationOptionsAttribute` idea (but also feels kinda redundant if default resolver wont be sealed and be public and can be extended). Thanks for clarification.

[2022-06-17 13:27] WeihanLi commented on #36021
Any update on this? Would this come in .NET 7?

[2022-06-17 13:29] vitek-karas commented on #69372
@deeprobin probably means that the issue originally listed support on macOS and potentially other platforms. We've discussed macOS support, but it seems that without taking a dependency on Cocoa APIs this is not easily doable. So for now we decided to not do that.

If somebody has an idea how to add the icon on macOS without introducing additional dependencies we would definitely be interested.

[2022-06-17 13:34] eiriktsarpalis commented on #29975
@edc-jacrys I was very specifically referring to breaking changes, not regressions. There is a difference.

[2022-06-17 13:39] edc-jacrys commented on #29975
It breaks the handling of `DataMemberAttribute.ISRequired` NOW.  So in essence, no there isn't not in this case.  If x doesn't work, you make a change and it does work, then you make another and it doesn't work again, that is both a breaking change AND a regression.  So please stop trying to use semantic traps to justify blindness to the needs of your users.

[2022-06-17 13:41] WeihanLi commented on #70882
In another word, could we customize the  `IServiceScopeFactory`?

[2022-06-17 13:56] edc-jacrys commented on #29975
Failing to apply proper regression testing AND breaking change protection is setting yourself up for failure, and setting the library up for failure.  So again, what we are hearing from you in this thread is that
1. the team (or maybe just you) does NOT care that they broke anything,
2. does NOT do adequate testing to ensure the library works
3. Does NOT care about adding the functionality users a

[2022-06-17 14:00] tannergooding commented on #67151
@LEI-Hongfaan, `MinusOne` was a name decided on 20 years ago in .NET Framework 1.0 that is inconsistent, overall, with the naming and terminology used elsewhere.

`NegativeOne` (and `Negative` in general) was the name decided on for Generic Math and the standardized name to use moving forward when referring to negative numbers.

[2022-06-17 14:02] davidfowl commented on #36021
The milestone is marked as "future", so no, this is not happening.

[2022-06-17 14:05] lambdageek commented on #66168
This is going to affect https://github.com/dotnet/runtime/issues/70133 if the proposal lands with `[MarshalAs<JSType.Number>]`-style attributes

[2022-06-17 14:09] WeihanLi commented on #36021
@davidfowl  thanks

[2022-06-17 14:09] #70860 closed

[2022-06-17 14:19] edc-jacrys commented on #29975
@reflectronic It IS a semantic trap, and I am not misrepresenting what he said in any way.  Please consider going back and reading  other people's comments before responding to them.  So what you are saying is supporting a Core API in a logical way is opinionated by definition?  and putting the onus to enable support "trivially" for a Core API on the implementor is good design practice?  And as fa

[2022-06-17 14:27] edc-jacrys commented on #29975
No, he LITERALLY isn't.  now you are the one not reading comments before responding He said, and I quote:

the qualifier `somehow` literally describes unintentional AND intentional breaking changes

`Intentional change is any change that you make on purpose, with a specific goal in mind. `  You have to try to make them.  If you "somehow" break them, that implies an unknown component to the change,

[2022-06-17 14:54] dazinator commented on #29975
@edc-jacrys - Not sure whether you would agree upon reflection, but I interpreted the tone of some of your recent comments to be a touch adversarial! As someone else who was also very surprised not to see this "feature" present, I worry its possibly not helpful for the cause to be quite so adversarial! Saying that, I appreciate you just care about this and that it can be frustrating, still - there

[2022-06-17 15:03] edc-jacrys commented on #29975
@eiriktsarpalis That isn't a personal insult, that is an observation about the attitude displayed about this topic.  If the statement insulted you, I would suggest a re-evaluation of your stance, or at least your approach, since that is the distinct impression you are giving throughout this conversation.

[2022-06-17 15:22] radical commented on #70887
@ilonatommy Can you print the exception before this line? https://github.com/dotnet/runtime/blob/a78211bef436e634f8bbdc25de78ecde97764d9e/src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/FileIO/FileSystem.vb#L1517

[2022-06-17 15:23] radical commented on #70887
Also, this should have a different failure on CI, because that builds in Release config.

[2022-06-17 15:27] radical commented on #70676
Closing this as it's fixed in preview5. Please re-open if you are still seeing this.

[2022-06-17 15:27] #70676 closed

[2022-06-17 15:33] tannergooding commented on #70182
Just adding in a summary that I gave elsewhere...

There are basically two fighting forces at play. On one hand we have constant folding, containment, and other optimizations that can only kick in when we know we have a constant. On the other hand, if we don't know that one of these optimizations are going to kick in then hoisting these values outside the loop is likely strictly better. However, g

[2022-06-17 15:53] SingleAccretion opened #70898 "Init block morphing is not general enough"
Reproduction:
[code]
Compile with a checked Jit.

Expected result: things compile fine.

Actual result:
[code]
Cause: `MorphInitBlockHelper::MorphStructCases` doesn't handle all local destinations.

[2022-06-17 16:12] eiriktsarpalis commented on #29975
That's pretty common though. To give you a contrived example, STJ does not support `StringDictionary` out of the box, and we would generally recommend authoring a custom converter if somebody does need support for the type. For many reasons, we tend to prioritize good extensibility over feature completeness.

I get that the DataContractSerializer attributes have become something of a de-facto stan

[2022-06-17 16:31] AndyAyersMS commented on #70152
I can repro this (as well as another assert) though it is intermittent.

[code]

[2022-06-17 16:41] paulowirth commented on #38751
Hello David, thank you for your prompt response.

The services are registered accordingly, however, as I register the service configuration/options as a singleton as well, and I am registering multiple services configurations, all instances only take the latest added configuration into account.

Let's say, we have to register multiple cron jobs, where each job has its own cron expression, as seen

[2022-06-17 16:44] Grauenwolf commented on #29975
Which is exactly what all of the other serializers do. Everyone knows that the Data Contract attributes are a compromise. Even DataContractJsonSerializer ignored some parts as being not applicable.

No one said it had be "with the shared framework". We already know that it has to be opt-in. If the way we turn it on is by referencing an optional package, that is perfectly acceptable.

All you have

[2022-06-17 16:46] dazinator commented on #29975
If I author a nuget package containing types that must be serialized / deserialized, I could previously use S.J.S attributes and know I wasn't coupling the consumer to any specific serialiser. So if they wanted to use newtonsoft that's fine, or myriad of others. Sure I can use new S.T.J attributes but then I am forcing the use of S.J.T as the serializer on consumers. I'd now need to address this i

[2022-06-17 16:55] agocke commented on #70877
@jeffhandley who should I assign this to?

[2022-06-17 16:56] agocke commented on #69536
If this was a GC hole, as we suspected, then Preview 5 is merged and this shouldn't happen anymore. Closing until we see new faliures.

[2022-06-17 16:56] #69536 closed

[2022-06-17 17:01] agocke commented on #70757
Fixed by #70747

[2022-06-17 17:01] #70757 closed

[2022-06-17 17:03] agocke commented on #67888
@SamMonoRT Could we triage this into appropriate issues? Failures are still happening, but let's get crisp about the cause

[2022-06-17 17:07] agocke commented on #70320
This appears to be some problem with the tests on Spanish machines. Failures are happening pretty regularly.

@bartonjs Who should I assign this to?

[2022-06-17 17:10] BruceForstall commented on #70876
Related: https://github.com/dotnet/runtime/issues/70875

[2022-06-17 17:10] BruceForstall commented on #70873
Related: https://github.com/dotnet/runtime/issues/70875

[2022-06-17 17:11] steveharter opened #70902 "Remove use of pool and buffer copy in Deserialize(ref Utf8JsonReader reader, ...)"
Reported by @bignoncedric the buffer copy at https://github.com/dotnet/runtime/blob/main/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.Utf8JsonReader.cs#L418 does not appear to be necessary.

After investigation I don't see a reason why the copy is necessary neither nor the need to use the pool. The original reader is expected to have enough data in the buff

[2022-06-17 17:16] davidfowl commented on #38751
@paulowirth  This is an API design problem that is unrelated to the current issue. Maybe start a discussions thread instead?

[2022-06-17 17:17] paulowirth commented on #38751
Of course David. Thank you.

[2022-06-17 17:25] edc-jacrys commented on #29975
Exactly.  the option to self-implement support for something that has been the de-facto standard for 20 years is why we are concerned.  And as @dazinator stated, STJ as it sits tightly couples the serialization to a specific provider rather than providing options.  Which is completely antithetical to the core goal of Core in the first place, which is less coupled, not more.

Also, the entirety of

[2022-06-17 17:25] vcsjones commented on #70320
Is it possible this is infrastructure related? The Spanish error, based on the text, _appears_ to be `EPT_S_NOT_REGISTERED` (0x800706D9) indicating an RPC error coming from `NCryptOpenStorageProvider`.

I find that to be... very odd.

Is this happening on all runs of this locale? Is it happening on one particular machine, or multiple machines with this locale?

[2022-06-17 17:31] edc-jacrys commented on #29975
Why would this necessarily be a breaking change.  considering how you have seen that the community at large expects this to just work and it doesn't, wouldn't NOT doing it break more implementations than doing it?

[2022-06-17 17:53] just-ero opened #70904 "`Process.Modules` does not list all modules/shared objects of a target process when executed on Linux"
### Description

Not all modules/shared objects are listed when calling `Process.Modules` on a process on Linux machines. MacOS machines may also be affected.

Of note for this issue is that `/proc/{proc.Id}/maps` (the file which holds all maps loaded by a process) lists most maps more than once, presumably because they take up multiple memory regions. Those maps look similar to the following outp

[2022-06-17 17:56] #57247 closed

[2022-06-17 17:57] carlossanlop opened #70905 "[Analyzer/fixer suggestion]: Exceptions thrown inside async methods should be wrapped by Task.FromException"
Sparked from this question: https://github.com/dotnet/runtime/pull/70574#discussion_r900368652

Exceptions thrown inside methods that return `Task` or `ValueTask` should be wrapped by `Task.FromException`, except if they are `ArgumentNullException` or `ArgumentException`.

If the method is marked as `async`, we could also `await` the `Task.FromException`.

Suggested category: Reliability
Suggested

[2022-06-17 18:00] AndyAyersMS commented on #70152
Trying to catch the second assert via SPMI but so far it's not reproing readily. Also I get a bunch of errorsunder SPMI collect, likely from child processes not playing along properly:
[code]
not sure where it's getting that folder or jit name from.

[2022-06-17 18:04] bartonjs commented on #70905
If the method is built with the `async` keyword, then any throws are already wrapped by the task(-like) that was returned (which is wrong for argument validation, and why argument validation should be in a non-`async`-keyword wrapper call).

`await Task.FromException(...)` is unnecessary (and probably an anti-pattern)

[2022-06-17 18:22] Grauenwolf commented on #29975
A slight error there. The Data Contract attributes that we care about are from .NET 3 in 2006.

[2022-06-17 18:24] Grauenwolf commented on #29975
Any code that is currently written for System.Text.Json in mind will expect that the Data Contract attributes will be ignored. If they suddenly start working, then it changes the behavior of the code. A behavior the developer may have been relying on.

So yea, we're stuck with this being an opt-in feature that has to be explicitly turned on.

[2022-06-17 18:31] bartonjs commented on #70133
I updated it with things I remembered (removing JSHost.Import, removing the JSObject get/set using `long`, and making the JSObject.SetProperty with "primitives values" not take nullable inputs.

I remember having an opinion that the GetProperty methods for primitives should either not return nullable, or add the word Nullable to their name, but don't think we settled on anything.

[2022-06-17 18:45] bartonjs commented on #70801
GNU TAR writs the value as (more or less)  `sprintf(buf, "%ld.%d", t.tv_sec, t.tv_nsec)`, which means we are flirting with the maximum precision a double can represent, and it gets worse in 2038.  (It's not that simple of a print since 9 ns is "000000009").

GPL warning: https://git.savannah.gnu.org/cgit/tar.git/tree/src/misc.c#n443

If we're concerned with faithfully roundtripping the values, we

[2022-06-17 19:11] edc-jacrys commented on #29975
@Grauenwolf Yeah I know the one's you are concerned with are, but his point was the attributes were "specifically designed" for serializers like BinaryFormatter and I was pointing out that there is a JSON serializer and has been for 20 years that was designed to work with those.  So the attributes are less specialized and more general purpose than he was making them appear to be.

[2022-06-17 19:14] edc-jacrys commented on #29975
That is assuming a lot.  One, it is obvious from this thread that most here assumed the opposite, Two, it could be as simple as an initialization setting in the startup, flipping a flag, not necessarily the contrivance which has so far been proposed.

[2022-06-17 19:19] tarekgh commented on #68624
No, I didn't try arm. But I am wondering now, wouldn't this be more related to JIT then? I cannot think of anything in our changes that can cause such regression in specific architecture.

I would keep the test as it is for now as it looks sensitive to the JIT changes. So, I am seeing the value to keep it. We can consider adding more tests later for real usage scenarios with Activity.

[2022-06-17 19:43] filipnavara opened #70909 "[API Proposal]: Add Wrap and Unwrap methods to NegotiateAuthentication API"
### Background and motivation

In #69920 the initial `NegotiateAuthentication` API surface was reviewed and approved. This was intentionally scaled down to a minimum viable proposal to unblock client-side and server-side HTTP authentication scenarios without resorting to reflection on internal API surface.

This follows with addition to the API surface to support additional scenarios:
1) Implement

[2022-06-17 19:46] filipnavara commented on #70909
Draft implementation available at https://github.com/filipnavara/runtime/tree/negotiate-wrap-api (based on PR #70720 which implements the initial shape of `NegotiateAuthentication` API).

cc @wfurt
cc @xqrzd, would this work for your Kudu scenario?

[2022-06-17 19:59] janvorli opened #70910 "W^X double mapping doesn't work correctly on macOS under Rosetta emulation"
Apple has reported that the memory double mapping we use for x64 macOS doesn't work under Rosetta correctly due to limitations of the emulation. The problem occurs when an existing code generated to a double mapped area is modified.

We need to disable W^X under Rosetta.

[2022-06-17 20:26] janvorli commented on #70636
The dotnet-symbol tool should be able to download the symbols even for these builds.

[2022-06-17 20:35] am11 commented on #70636
It should, but apparently those symbols are not being published:

[code]

I have opened https://github.com/dotnet/symstore/issues/351.

[2022-06-17 20:39] jkoritzinsky commented on #70859
The existing `GenericPlaceholder` type is a struct.  Since a struct can be substituted into more generic constraints, do we want to make the `GenericPlaceholder` type in this PR also a struct?

[2022-06-17 20:39] janvorli commented on #70636
Ah, singlefilehost. The apphost and singlefilehost were always problematic for me w.r.t. the symbols.

[2022-06-17 20:42] AndyAyersMS commented on #70263
Current OSR funclet prolog is
[code]
Could be I'm abusing the frame style here. and while the OSR method can have a type 1 (or whatever style) as the "probing" happens in the Tier0 frame and it is inheriting the T0 SP, but the funclet needs to do its own probing to skip over the ginormous padding it needs to ensure the PSP sym is at the right caller-SP relative offset.

I think reusing T0 PSP slot

[2022-06-17 20:52] xqrzd commented on #70909
It looks like it would work. I'll give it a try when it's ready.

[2022-06-17 21:02] #70516 closed

[2022-06-17 21:02] carlossanlop commented on #68360
Test failure has been fixed, and the test method has been reenabled.

[2022-06-17 21:30] rseanhall commented on #58492
I'm running into this issue, too. The problem is this line:

https://github.com/dotnet/runtime/blob/bfceef9dbd57c1ae9170949ea7845c48ca1ad2ce/src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Windows.cs#L569

According to the documentation:

The code needs to pass the path to the executable into `lpApplicationName` as well so that it can be longer than `MAX_PATH`.

[2022-06-17 22:00] nerai commented on #69192
I have a more or less reproducible crash attached. Is this related?

I'm on .NET 6.0, VS 2022.

[code]

This is the line. The visible IP is in two lines below, probably because it is optimized.

[code]

Seems to happen when physical RAM is exhausted (Count = 94644926, 63 GB).

I don't see which value exactly is null.

[code]

A second thread seemed to be at the exact same IP when this happened.

[2022-06-17 22:04] danlyons-softek opened #70920 "MailAddress.TryCreate: allow null for the address argument"
`MailAddress.TryCreate` overloads currently require `address` be a non-null string.  However, the method already handles validating null/empty values without throwing an exception (#47515).

Annotating the argument to allow null would save callers with #nullable enabled from either having to add a redundant null-check for `address` or a null-forgiving operator.

[2022-06-17 22:26] David-Engel commented on #51836
Re-opening issue for consideration in a future .NET release.

[2022-06-17 22:38] #7959 closed

[2022-06-17 22:42] BruceForstall commented on #70263
OSR funclets are the only case where we might need probing of the initial SP adjustment, as you mentioned in a comment in `genFuncletProlog`:

[code]

[2022-06-17 23:22] EgorBo commented on #48115
Another example of "handle cases where the redundant compare block has side effects":
[code]
`Console.WriteLine("22")` is considered as a side-effect and brakes jump-threading

[2022-06-17 23:43] MohammadAnsari98 commented on #70785
@eiriktsarpalis i really like to work on this issue , can you provide me a help about where i need to start , thanks

[2022-06-17 23:57] AaronRobinsonMSFT commented on #50306
This is still painfully slow on an M1 for a checked build with `DOTNET_GCStress=3`.

[2022-06-18 00:24] AaronRobinsonMSFT commented on #60829
I see what is going on here. I will take this.

[2022-06-18 00:34] BruceForstall commented on #66089
@kunalspathak Can I take this?

[2022-06-18 00:35] kunalspathak commented on #66089
Sure

[2022-06-18 02:08] jeromelaban commented on #70773
@vargaz It may not be super useful, but here one part of the stack:

[code]

[2022-06-18 02:14] danmoseley commented on #69682
Thanks for the update @teo-tsirpanis. To confirm, you plan to continue with your next step to wire it up to regex? If so that sounds good.
Do you think we should get this API into review meantime, or wait?

BTW the team in this repo will be transitioning into mostly bug fix mode in mid July (this need not affect community contributions, but ideally anything that needs stabilization time will be in

[2022-06-18 02:51] jeromelaban commented on #70773
@vargaz
[code]

[2022-06-18 03:05] #60829 closed

[2022-06-18 04:31] #70268 closed

[2022-06-18 04:41] zichenlbl commented on #70872
我想把.net core控制台程序运行在Linux系统上，请问.net core控制台程序如何获取Linux系统的电脑CPU以及内存的使用率？然后我要把CPU使用率和内存使用率保存到数据库中查看。

[2022-06-18 05:09] AndyAyersMS commented on #70152
Ok, above was operator error (not passing all the args to xunit, so remote executor did not properly launch the child runtime).

Can repro and capture via SPMI. Last bit of the jit dump is:
[code]
And we assert here because IG76 thinks it is part of the IG72 loop, but we are processing the IG75 loop.

On the block level we seem to have interleaved blocks from two different loops. IG72 is BB132, IG

[2022-06-18 05:20] AaronRobinsonMSFT commented on #67470
@jkotas and @janvorli Thoughts on removing this compile time check? I agree it is unfortunate, but there is very little active development in this area anymore.

[2022-06-18 05:24] agocke commented on #70320
looks like it's not constant -- some runs succeed. Also looks like it's failing on multiple machines

[2022-06-18 05:26] manfred-brands opened #70925 "Type.Missing doesn't convert to nullable enum in Method.Invoke"
### Description

When calling a method with optional parameters we can use [`Type.Missing`](https://docs.microsoft.com/en-us/dotnet/api/system.type.missing?view=net-6.0#remarks) as a place holder.
This works for most case, except for Nullable enum types.

### Reproduction Steps

[code]

### Expected behavior

The `Invoke` call succeeds and the default value of the parameter (`YesNo.No`) is passed

[2022-06-18 06:02] #69479 closed

[2022-06-18 06:17] huoyaoyuan commented on #70872
This is not specific to .NET. I suggest you to see open source LInux monitoring programs like https://github.com/sysstat/sysstat to find how they get the statistics, and translate the calls into P/Invoke.

推荐参考开源的监控软件，比如sysstat，寻找其是如何读取这些监控数据的，然后转写为P/Invoke

[2022-06-18 06:18] VSadov commented on #63474
It is very much work in progress, but here is an early draft: https://github.com/VSadov/runtime/blob/memModel/docs/design/coreclr/botr/memory-model.md

[2022-06-18 06:39] tmds commented on #70904
Dup of https://github.com/dotnet/runtime/issues/64042?

[2022-06-18 06:50] just-ero commented on #70904
A bit unfortunate that this issue has been known for over 4 years, apparently, forcing people to keep creating their own implementation of `Process.Modules` that fixes it.

[2022-06-18 06:56] Djoums opened #70927 "Performance gap in ImmutableArray loop from sorting the builder"
Using .Net6 on Windows 10 x64, Benchmark.Net.

In the following benchmark there is a large performance gap between two tests that should be identical.
The gap is triggered by sorting the builder, which should have no effect,

[code]

The benchmark gives the following result, with test 2 being 3.5 times slower than the first one.

|   Method |     Mean |     Error |    StdDev | Gen 0 | Gen 1 | Gen

[2022-06-18 07:31] nicklasjepsen commented on #60565
Console app, debug mode with break point. Get the error on the first line of execution after stepping over (F10). Disabling "Edit and continue hot reload" makes the error go away.

[2022-06-18 08:59] tfenise commented on #70927
I guess sorting the `ImmutableArray` breaks cache locality.

[2022-06-18 09:41] Djoums commented on #70927
That shouldn't be possible, Sort() uses Array.Sort() under the hood which is in-place, and builder.ToImmutable() creates a fresh new array anyway.

[2022-06-18 09:51] tfenise commented on #70927
I was talking about the access to `element.Id`. Due to the implementation of the GC, the `Element`s from `new Element(rand.Next())` lie mostly sequentially in the memory. As a result, `foreach (var element in Imm1) res ^= element.Id;` reads memory mostly sequentially, while `foreach (var element in Imm2) res ^= element.Id;` reads memory rather randomly, since `Imm2` is reordered.

[2022-06-18 09:54] tfenise commented on #70927
If you change `sealed class Element` to `struct Element`, this difference should disappear.

[2022-06-18 09:58] Djoums commented on #70927
Yes that's what I was testing and you're right it goes away, I didn't  think of the sequentiality of the created objects in memory. That's a tough one to optimize for in a large program.

[2022-06-18 10:03] #70927 closed

[2022-06-18 10:09] nxtn opened #70928 "Inconsistent internal field handling between `JsonSourceGenerationMode`s"
### Description

`JsonSourceGenerationMode.Metadata` and `JsonSourceGenerationMode.Serialization` handle internal fields differently in serialization.

### Reproduction Steps

[code]

### Expected behavior

The behaviors should be consistent between modes.

### Actual behavior

`JsonSourceGenerationMode.Metadata` doesn't include internal fields.
`JsonSourceGenerationMode.Serialization` includes in

[2022-06-18 10:40] sergey-su opened #70929 "Uri.IsWellFormedUriString false negative"
### Description

Uri.IsWellFormedUriString( "https://test.com?q=%22%7E", UriKind.Absolute) returns false, which is incorrect.

### Reproduction Steps

Demo: https://dotnetfiddle.net/DIc8qw.

### Expected behavior

Uri.IsWellFormedUriString( "https://test.com?q=%22%7E", UriKind.Absolute) should return true

### Actual behavior

Uri.IsWellFormedUriString( "https://test.com?q=%22%7E", UriKind.Absolut

[2022-06-18 10:45] hez2010 opened #70930 "NativeAOT: Failed to compile virtual statics with default implementation"
### Description

Repro:
[code]

### Reproduction Steps

Build with NativeAOT

### Expected behavior

Produce a succesful build.

### Actual behavior

[code]

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

_No response_

### Other information

_No response_

[2022-06-18 10:57] LakshanF commented on #67805
This no longer repro's (#70831) in the latest build with the current merges

[2022-06-18 11:38] jkotas commented on #67470
I believe that some VM code that has to follow these no-return rules is being changed like every week.

Removing this compile time check will turn compile error into some sort of runtime crash. You can try to introduce a bad return inside `HELPER_METHOD_FRAME` and then try to debug the runtime crash to see what the experience looks like with this compile check deleted.

[2022-06-18 11:49] #70889 closed

[2022-06-18 12:16] jkotas commented on #70904
Yes, this is duplicate of https://github.com/dotnet/runtime/issues/64042.

If you need to inspect details of other processes, your best bet are 3rd party libraries that specialize in it. I do not expect we will ever make `Process.Modules` property 100% reliable.

If we were designing the `Process` class from scratch again, `Process.Modules` property would not exist on it. `Process.Modules` propert

[2022-06-18 12:16] #70904 closed

[2022-06-18 12:20] jkotas commented on #70380
As others said, this is too complex to solve across all platforms and too niche to live in .NET runtime core libraries. I think it is save to close this.

[2022-06-18 12:20] #70380 closed

[2022-06-18 12:58] am11 commented on #70930
Library free repro:
[code]

[2022-06-18 13:42] 7enderhead opened #70933 "dotnet pack replaces wildcard version of reference with current actual version"
### Description

`PackageReference` with wildcard version is replaced with currently available version of referenced packaged in packaged nuspec file

### Reproduction Steps

- reference nuget package with wildcard version, e.g. <PackageReference Include="Some.Package" Version="1.2.*" />
- run `dotnet pack`

### Expected behavior

Packaged nuget mimics same semantics of wildcard version in include

[2022-06-18 13:46] Tianfei-Wang commented on #70817
Hi guys, I looked at the above and tested it, but I have new questions about source generators:

My source generator project needs to reference a Net6.0 project (CommonB), and reference the CommonB namespace in the SourceText of the source generator and override the abstract methods of the abstract classes in CommonB.
But I don't know how to properly reference CommonB in the source generator proje

[2022-06-18 14:47] trungnt2910 commented on #55803
This is not a problem in the CoreCLR but a bug in the cross-compiler provided by the Haiku OS project.
A simple Hello World program failed with the same error.

[2022-06-18 14:58] kant2002 commented on #70438
Partially related https://github.com/dotnet/runtime/pull/70934. I discover this issue when playing with Silk.NET + NativeAOT. Based on what I'm reading, call to CodeBase is redundant in .NET context, so hopefully that's not something overboard. Maybe that's not affects OP, but hopefully step in proper direction at least partially.

[2022-06-18 15:06] teo-tsirpanis commented on #69682
Yes, I'm studying the `Regex` code to figure out how to integrate it. The proposal can be marked as ready for review in the meantime.

[2022-06-18 15:21] HypeillingerChillinger opened #70935 "Expression.ToString() does not show milliseconds for DateTime properties"
### Background and motivation

[code]

```lambda.ToString()``` does not show the milliseconds.
Result is ```"x => (x.DateTimeTest != 03.03.2022 02:02:02)"```

### API Proposal

I suggest to use .ToString("o") internally to provide all necessary information of a ```DateTime``` value.

### API Usage

No proposal here.

### Alternative Designs

_No response_

### Risks

_No response_

[2022-06-18 16:46] hez2010 commented on #70930
Note that the library free repro doesn't cover diamond shape. I'm not sure whether it is also causing any issue.

[2022-06-18 19:03] jnyrup opened #70940 "Inconsistent stack trace with .NET 7 preview 5"
### Description

After upgrading from .NET 7 Preview 4 to Preview 5 some unit tests of Fluent Assertions started to fail.

I can't tell exactly where the problem lies, as I haven't been able to create a minimal example yet.
We have a method [`CallerIdentifier.DetermineCallerIdentity`](https://github.com/jnyrup/fluentassertions/blob/net7_issues/Src/FluentAssertions/CallerIdentifier.cs) which uses `

[2022-06-18 19:54] Grauenwolf commented on #29975
That's why I'm saying the "breaking change" argument is nonsense.

If they included this and they did turn it on by default, it would be a breaking change. But I don't think anyone here would object if we had to write `.UseDataContracts = true` in our startup file.

[2022-06-18 20:24] jkotas commented on #70940
Stacktrace can be missing frames depending on the inlining and tail code optimizations. Are you doing anything special to suppress optimization to guarantee that the frames you are interested in are going to be in the stacktrace?

These optimizations can happen in the background thanks to tiered compilation. It can explain the behavior that you are seeing.

[2022-06-18 20:25] EgorBo commented on #70569
Failed in https://github.com/dotnet/runtime/pull/70941 as well

[2022-06-18 20:25] Clockwork-Muse commented on #70935
Alas, this isn't possible - this would require special casing for a specific type, because it's calling the base `ToString()` for all class types.  It would also be a (somewhat - value is culture specific) breaking change because of the change in format.

Why do you want this change?  Because the value is culture specific you can get it to output the format you want by switching the context to usi

[2022-06-18 20:40] jakobbotsch commented on #70802
Still seeing this assert in the latest libraries-pgo run.

Pipeline run: https://dev.azure.com/dnceng/public/_build/results?buildId=1832440&view=results
Helix job name: net7.0-Linux-Release-arm64-CoreCLR_checked-fullpgo_random_edge
Work item: System.Text.Encoding.Tests
Console log: https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-d09ca73c69e646cfbe/System.Text.

[2022-06-18 20:45] ColonelBundy commented on #63535
I also ran into this problem and I came up with a workaround:
[code]

[2022-06-18 21:23] reinux commented on #37483
This is a pretty important feature for robust versioning of APIs. Could this be expedited in any way?

[2022-06-18 21:59] stephentoub commented on #70920
Thanks for pointing this out.  Yes, the `string address` argument for all three `TryCreate` overloads should be `[NotNullWhen(true)] string? address`.

[2022-06-18 23:29] AndyAyersMS commented on #70802
Hmm, ok. Will investigate.

[2022-06-19 00:25] stephentoub opened #70945 "Ensure JsonSerializer / source generator works well with required members"
The new `required` members feature was recently merged into the C# 11 compiler.
https://github.com/dotnet/csharplang/blob/main/proposals/required-members.md
dotnet/runtime is already being built with a version supporting it.

We should ensure JsonSerializer plays nicely with required members, in whatever way is deemed fit.  What should happen, for example, if a type with required members is deseri

[2022-06-19 00:53] davidfowl opened #70946 "Random null reference in NativeAOT build"
### Description

[code]

### Reproduction Steps

I only saw this once, a recompile worked but the code was here:

[code]

### Expected behavior

No null ref.

### Actual behavior

Null reference

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

_No response_

### Other information

_No response_

[2022-06-19 01:17] stephentoub commented on #70946
Duplicate of https://github.com/dotnet/runtime/issues/69192

[2022-06-19 01:17] #70946 closed

[2022-06-19 01:55] AndyAyersMS commented on #70802
We decide to clone this fairly complex loop because
[code]
<img width="584" alt="image" src="https://user-images.githubusercontent.com/10121823/174462453-b8f5682c-deff-4559-a5cd-ee84882a8da8.png">

However, we don't get this right, and after cloning there is now a path from cloning conditions to the slow loop (on the left) over to the fast loop. The edge from BB71->BB72 is problematic; it looks li

[2022-06-19 02:35] AndyAyersMS commented on #70802
<table>
<tr>
<td>
<img src="https://user-images.githubusercontent.com/10121823/174463329-a86e1ff9-fabf-4784-b867-718cb0d4bde6.png" /img>

</td>
<td>
Hmm, seems fairly clear where things go off the rails.

[code]

At left is a simplified linear view, where it is a bit easier to see what's going wrong. We see a middle-entry BB34, top BB15, bottom BB40.

So L00 has some non-loop backedges incident on

[2022-06-19 04:08] tommcdon commented on #60565
Thanks for sharing that this issue reproduces with console apps and a workaround @nicklasjepsen.  This should help us construct a repro to help us understand and develop potential fixes for it.

[2022-06-19 04:20] #67702 closed

[2022-06-19 04:47] JamesNK opened #70949 "HTTP/3: Uninformative message when HTTP/3 connection fails"
### Description

I'm trying to get HTTP/3 setup on a remote computer. It isn't working and the error message provided isn't useful to help me fix it.

Error message:

Stack trace:
[code]

### Reproduction Steps

I haven't figured out why this breaks on the remote computer and works locally yet. I'm not sure why the error message is thrown. I'll try setting up an event source next...

### Expected

[2022-06-19 05:23] Saborion opened #70950 "ImmutableList<T>.LastIndexOf(...) appears to be missing a guard clause"
### Description

Searching for the last index of an item in an instance of `ImmutableList<T>` that holds at least one matching item can return the wrong index. This happens when the `index` argument passed in to `ImmutableList<T>.LastIndexOf(T item, int index, int count, IEqualityComparer<T>? equalityComparer)` equals the collection size, at which point the returned index will be off by one (+1),

[2022-06-19 05:44] cervengoc commented on #62112
Hi @SteveDunn,

Sorry for the very late reply. I get your points, but for me it would be a valuable thing to keep my configuration model clean from needing to introduce quite specific custom collections for this scenario, and describe this logic in the binder.

But I'll consider your suggestions if I see no hope for a library-level support.

[2022-06-19 05:58] davidfowl opened #70951 "NativeAOT fails when calling through generic method with reference type using reflection"
### Description

This might be by design by I don't know why so consider this both a bug and a question. I thought the only problems with using `MakeGenericType` and NativeAOT was the fact that value types needed unique code and that had to be generated ahead of time (since we don't have the fallback to universal shared generics). So for example, if I called MakeGenericMethod(reference type) it wo

[2022-06-19 05:59] davidfowl commented on #70951
cc @davidwrighton You were looking for cases where we would want a late bound API for calling into static interface methods. This is it. Today we do this manually by writing a generic method stub with a constraint, and using MakeGenericMethod method to specialize to the right type.

[2022-06-19 06:24] cervengoc commented on #62112
An alternative, lighter and more flexible solution would be to introduce an extension point in `BinderOptions` like `Action<XY> OnBindProperty`. It would pass the context to the implementor, having the current property value, the new one coming from the configuration (in a settable way), and possibly a settable `bool` property like `SetPropertyValue`, which when set to `false`, could instruct the

[2022-06-19 06:33] SteveDunn commented on #62112
No worries @cervengoc, I think your suggestions are viable approaches. It would be good to get the opinions of @halter73 , @eerhardt , and @maryamariyan.

[2022-06-19 06:40] GSPP commented on #70524
Is it a good idea to have `Name` disagree with `FullName`?

[2022-06-19 07:08] MichalStrehovsky commented on #67745
When closing this, make sure the repro from #70951 works.

[2022-06-19 07:09] MichalStrehovsky commented on #70951
This is #67745 - right now you either need to add a static call to `Parse<StringWrapper>` or add the specific method to RD.XML.

[2022-06-19 07:09] #70951 closed

[2022-06-19 07:17] MichalStrehovsky commented on #70930
Not surprised this doesn't work, because it's not implemented.

[2022-06-19 07:24] JamesNK commented on #70949
Complete logs below. The first request provides more information about the error. Additional error messages aren't helpful.

[code]

[2022-06-19 07:51] trungnt2910 commented on #55803
![image](https://user-images.githubusercontent.com/57174311/174471199-324d7345-4eb4-4cf6-9ae2-f67fae1ff2a3.png)

PAL tests are passing.

[2022-06-19 08:28] karelz commented on #68360
The test is failing again -- @carlossanlop can you please disable it again and take a look?

Failures since 6/17 - [query in ranfo](https://runfo.azurewebsites.net/search/tests/?q=started%3A2022-06-17+definition%3Aruntime-extra-platforms+name%3A%22system.formats.tar.tests.tarfile_extracttodirectory_stream_tests.extract_hardlinkentry_targetinsidedirectory%22)
- 6/19: 43 failures

Rolling builds:
-

[2022-06-19 08:33] karelz commented on #68360
Also, test System.Formats.Tar.Tests.TarReader_ExtractToFile_Tests.**ExtractToFile_SpecialFile_Unelevated_Throws** fails as well with similar error to the 1st one report in the top post:

[code]

[2022-06-19 09:24] trungnt2910 commented on #55803
@am11

How did you get such a tarball?

Running `./build.sh -s host+packs -os haiku -cross -c Debug` spits a bunch of errors like this:
[code]

[2022-06-19 10:18] am11 commented on #55803
With `-os haiku`, it should look for `haiku-x64.Debug`, not `linux-x64.Debug`. Something is missing in the port it seems. I'd check these files:

[code]

I suggest to focus on coreclr subset only at first, in order to narrow down the scope. "Initializing coreclr" is a next milestone after "PAL tests". For that, we have a simple host called `corerun`. You could try to run a simple HelloWorld like a

[2022-06-19 10:19] jnyrup commented on #70940
Thanks for the hints, I narrowed it down to be due to the changes in #67917.

We filter the stack trace based on properties of `StackFrame.GetMethod()`, e.g. if the namespace starts with `"System"`.

For the passing test the stack trace contained `"System.RuntimeMethodHandle.InvokeMethod("`
[code]

where for the failing test the stack trace contained `"InvokeStub_GenericEnumerableEquivalencyStep.H

[2022-06-19 10:30] #70145 closed

[2022-06-19 11:45] vladd commented on #63474
@VSadov Thanks a lot for your effort!

One question about it all: the article is called "_CLR_ memory model". Does this mean that it doesn't describe the guarantees given by the _language_ itself, but rather only the guarantees which are given when using Microsoft CLR? Or other runtimes must give the same guarantees?

Another question: is there a canonical place to ask questions on the memory mode

[2022-06-19 12:03] berkansasmaz commented on #70785
@eiriktsarpalis Hello! I can work on this. Can you assign it to me?

[2022-06-19 12:48] kant2002 opened #70952 "NativeAOT compiler crash with NRE"
This is maybe not an issue, since I see problem almost immidiately.
I have mixed up version of assemblies. I have older version of `SixLabors.ImageSharp.Drawing` and `SixLabors.ImageSharp` build locally. This gives me exception. The only issue which I have here is that it's `Object reference not set to an instance of an object.`

[code]

Maybe not worth doing anything here.

[2022-06-19 13:25] mingmoe opened #70953 "Exposing C code to CoreCLR host"
I want to exposing my c code to the CoreCLR host.

This function should work like the `mono_add_internal_call` function in Mono.
[code]
[code]

Does CoreCLR have similar functions? (I want to use it in native code,not `P/Invoke`)

Thanks

[2022-06-19 14:42] jkotas commented on #70953
You can use C# function pointers with unmanaged calling convention to expose C methods to managed code.

CoreCLR does not support operating on raw object references in non-runtime C code. You still need to marshal the string, just like you would for PInvoke.

[2022-06-19 14:42] #70953 closed

[2022-06-19 14:47] SingleAccretion opened #70954 "`fgMakeOutgoingStructArgCopy` doesn't check the ABI when reusing implicit byrefs"
Reproduction:
[code]
Compile `Problem` with an AltJit targeting ARM64.

Expected result: we pass a copy of `ThreeByteStruct` to `CallForThreeByteStruct`.

Actual result: we pass the implicit byref to it:
[code]

Cause: `fgMakeOutgoingStructArgCopy` doesn't check that the arg it is trying to elide the copy for is actually passed by ref.

[2022-06-19 14:54] mingmoe commented on #70953
I want to expose C methods to managed code by using CoreCLR c headers(such as `nethost.h`).

Because the CoreCLR host is created by my c code,no execute `dotnet.exe`.

PInvoke appears to load dlls from the filesystem.

But the CoreCLR is created by my program,so the native code is also in my program(RAM).

How to do that?

@jkotas

[2022-06-19 15:25] jkotas commented on #70953
Start your managed component using `load_assembly_and_get_function_pointer` API and pass array of pointers to your C methods as one of the arguments of your component entrypoint.

We have a hosting sample here: https://github.com/dotnet/samples/tree/main/core/hosting/src/NativeHost .

The arguments to the component entrypoint are passed using `LibArgs` structure in this sample:
https://github.com/

[2022-06-19 15:32] unicomp21 opened #70957 "tail calls in wasm"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Could someone hold my hand on this one?  Given tail calls are not currently supported in webassembly, how is the "tail" instruction being implemented in Blazor?

### Describe the solution you'd like

I'm wondering if we can reuse the s

[2022-06-19 17:09] SteveDunn commented on #67616
@maryamariyan - is there any update on this one?

[2022-06-19 17:40] onionhammer commented on #63747
One thing that my library appears to have over this is compile time build errors for enum valued type discriminators.. not sure how this proposal handles enums here, the samples rely on ints and magic strings

[2022-06-19 18:47] EgorBo commented on #70957
I hope the mono team will correct me if I am wrong but it looks like explicit tails calls are handled well in Mono-Interpreter (including wasm)
but unlikely anything is done for them in WASM-AOT since, as you said, there is no WASM support for that.

PS: quoting ECMA 335:
![image](https://user-images.githubusercontent.com/523221/174495943-fbaf7591-3cee-4b9e-b1e1-47a8f9409ecf.png)

[2022-06-19 19:23] agocke opened #70958 "System.Text.Json.Tests crash with JsonReaderException"
Test which is failing is `ReadJsonStringsWithCommentsAndTrailingCommas`, dump is in https://dev.azure.com/dnceng/public/_build/results?buildId=1833047&view=results

[2022-06-19 20:36] #70954 closed

[2022-06-19 20:54] HypeillingerChillinger commented on #70935
I wanted to use it for tests to proof that the created expression is correct. Feel free to close this if you like I can work around that one.