[2020-08-25 21:06] bartonjs commented on #41352
I think the first question would be "does Windows produce the same status codes?", because it could be that our Linux version of X509Chain is just confused by the policy state (policy processing is hard, and not rarely used, so there may be bugs where we were trying to match compatibility).

If Windows says it's fine but Linux says that it has policy errors, we'll fix the policy processor to produ

[2020-08-25 21:08] GrabYourPitchforks commented on #41353
Does the actual implementation of your decrypt method differ from what's listed here? For example, in the above code, you're instantiating a new `RijndaelManaged` instance on every call to `Decrypt`. In the actual implementation is this `RijndaelManaged` instance a shared static singleton instead of a fresh instance on each call? Double-check your `Encrypt` method as well to ensure it's not reusin

[2020-08-25 21:08] marek-safar commented on #41355
Closing as duplicate of #36941.

[2020-08-25 21:08] #41355 closed

[2020-08-25 21:10] GrabYourPitchforks commented on #41287
Sure - feel free to edit the post as many times as you need to. :)

I can see use cases for removing all occurrences of certain characters like `'-'` or `'\r'` from a string instance. Do you think it's common to want to remove multiple characters: `'-'` _and_ `'\n'` together? What kind of code do you see benefitting from this?

[2020-08-25 21:11] marek-safar opened #41356 "BrowserDebugProxy project uses wrong Microsoft.Extensions.Logging reference"
https://github.com/dotnet/runtime/blob/master/src/mono/wasm/debugger/BrowserDebugProxy/BrowserDebugProxy.csproj#L8 uses PackageReference with an old version for `Microsoft.Extensions.Logging` library which is built as part of dotnet/runtime repo.

@thaystg @akoeplinger

[2020-08-25 21:16] CoffeeFlux opened #41357 "[mono] Enable -Werror on all CI lanes"
This will make warnings into errors on CI, helping catch when we accidentally introduce them in platforms other than the one we're developing on.

https://github.com/dotnet/runtime/pull/41233 will get us to 0 warnings on OSX and enable it there, but ultimately we want this for every platform.

If I missed a platform, feel free to add it.

Lanes:
- [ ] Windows x64 Debug
- [ ] Windows x64 Release
-

[2020-08-25 21:20] marek-safar commented on #41354
It'd be fine to enable the analyzer for master branch only and we'd backport fixes if there would be any.

[2020-08-25 21:25] marek-safar commented on #41275
Could you try to upgrade to .NET5 version and report back if the issue still persist?

[2020-08-25 21:33] joperezr commented on #41221
@ericstj can go into more details much better than I can, but the reason for pinning the ref version to 4.2.0.0 for netstandard2.0 is very technical, which is that frameworks compatible with netstandard2.0 (netcoreapp2.0, netcoreapp2.1 and others) shipped with this assembly inbox with version 4.2.0.0 and we need the inbox version to win over the one in the package. If we were to instead also versi

[2020-08-25 21:40] cston commented on #37066
@ehasis, thanks for investigating.

I agree, it looks like several of the empty test data and associated tests can be removed because the conditions being tested cannot be hit: `Val_Char_ArgumentException_TestData`, `Val_Char_OverflowException_TestData`.

Are there values for the other empty test data that would satisfy the conditions being tested? For instance:
[code]

[2020-08-25 21:45] svick commented on #40936
@GrabYourPitchforks

For the record, in .Net Core 3.1 corelib, I count 29 methods with `char c` parameter and 9 methods with `char ch`:

* System.Text.Rune: System.Text.Rune op_Explicit(Char)
* System.Text.Rune: Boolean TryCreate(Char, System.Text.Rune ByRef)
* System.Text.Rune: Void .ctor(Char)
* System.IO.BinaryWriter: Void Write(Char)
* System.Globalization.CharUnicodeInfo: Double GetNumericVal

[2020-08-25 21:46] mangod9 commented on #41125
Since this only repros with Debugger attached moving to Diagnostics for now. @kirsan31 are you able to verify that it doesnt occur in .net 5?

[2020-08-25 21:46] danmosemsft commented on #38610
@GrowSharp do you want to give that a try?

Although, as they say, when a perf issue is egregious enough, you don't need a profiler, you need a debugger. Break in once or twice during the delay and inspect where the CPU is. Is that something you could try? I believe you need to use lldb. The closest I could find to instructions are [here](https://github.com/dotnet/runtime/blob/9646df5d76213e673c2c

[2020-08-25 21:47] safern commented on #41350
Ok, makes sense. Set to 6.0.0

[2020-08-25 21:48] lostmsu opened #41359 "PackageCompilationNativeAssetResolver to resolve native assets"
## Background and Motivation

There's a `PackageCompilationAssemblyResolver`, that enables finding assemblies at runtime. However, there's no analogue for native assets. So I can't find a resource file (think an icon) specific to the current runtime without reimplementing probing myself.

## Proposed API

new class:
[code]
## Usage Examples

[code]

## Alternative Designs

`public IEnumerable<stri

[2020-08-25 21:51] Symbai commented on #41287
It heavily depends on the scenario but an extremely common real world scenario is when the line separator is unknown. Different OS, different line separator and .NET Core is cross platform compatible. Thus something like `string.Replace("\r\n", string.Empty).Replace("\n", string.Empty)` is expected. More specific scenarios are:

- Stripping invalid file path characters
- Stripping wildcard charact

[2020-08-25 22:08] AndreyTretyak commented on #41221
Thank you for the explanation, that makes sense. And what would be the downside of pinning netstandard2.0 version of the library to 4.2.0.0? (aside of not updating version)

I'll try to go with setting up proper redirects. We are trying to depricate that repo but its a slow process.

I'll close the issue since this behaviour is by design. Thanks again

[2020-08-25 22:08] #41221 closed

[2020-08-25 22:26] #41333 closed

[2020-08-25 22:29] Clockwork-Muse commented on #41240
.... what exactly are you expecting me to compare here?  Using `ArrayPool` vs `ArraySegmentPool`?  That's **your** job; you're the one that has to show that your proposed API has a net benefit, possibly including things like speed and memory pressure, over what is currently possible.
The current performance tests you've provided don't do anything like that, they just show "what using this pool cos

[2020-08-25 22:34] #40916 closed

[2020-08-25 22:47] ehasis commented on #37066
Yes, there are and I'm working on it.

[2020-08-25 22:51] terrajobst opened #41363 "Add Enumerable.WhereNotNull()"
The compiler has limitations what it can infer and express with respect to nullability, especially in the context of generics. When using LINQ, it's common to deal with sequences that should not contain `null` values. Unfortunately, there is no easy way to make the type checker aware when they got removed.

Consider this:

[code]

Since the `Activator.CreateInstance` may return a null value, the c

[2020-08-25 22:54] BrzVlad opened #41365 "Add testing lane for mono no stack scan debug configuration"
Before turning on full GC on wasm, we would like to stress test an equivalent GC mode which runs on desktop interpreter.

This mode can be activated by having set the following env vars `MONO_GC_DEBUG=coop-no-stack-scan MONO_THREADS_SUSPEND=coop`. We should run the same tests as with the interpreter PR lane.

Ideally, these tests should run a few times per day. It is enough to run only on linux -

[2020-08-25 23:01] safern commented on #41365
Set is as 6.0.0 as it is out of the 5.0 priorities.

[2020-08-25 23:10] Anipik commented on #40895
@ericstj what should be the correct FileVersion here ?

[2020-08-25 23:18] Anipik commented on #40895
[code]

[2020-08-25 23:29] joperezr commented on #38033
@eerhardt @layomia isn't this done already?

[2020-08-25 23:32] joperezr commented on #37359
@buyaa-n I suppose this is still for 5.0? If the change won't be cherry-picked into a release branch (which probably won't given that this is an analyzer) should we change the milestone?

[2020-08-25 23:36] buyaa-n commented on #41354
Overall 41 warnings found with local build, all looks valid warnings and should be suppressed if `window` targets are appropriately produced
[warnings with allconfiguration.txt](https://github.com/dotnet/runtime/files/5126778/warnings.with.allconfiguration.txt)
[local warnings.txt](https://github.com/dotnet/runtime/files/5126779/local.warnings.txt)

the `SupportedOSPlatform` attribute
Overall 48 w

[2020-08-25 23:37] Maoni0 commented on #40058
JIT_WriteBarrier(...) can't really be called _right after_ initGCShadow() 'cause initGCShadow() is only called during a blocking GC. so there has to be some mechanism that communicates the changed shared global variables over. I think if we want to do this properly initGCShadow() should be called before stomp and stomp should communicate the changed g_GCShadow over just like it communicates other

[2020-08-25 23:47] GrabYourPitchforks commented on #40936
@svick right, I'm only considering existing static public methods on the `char` type. That way the parameter names are at least locally consistent.

[2020-08-25 23:51] layomia commented on #38033
@joperezr not yet - I need to update https://github.com/dotnet/runtime/pull/40691 following the new linker warning codes brought in with https://github.com/dotnet/runtime/pull/40865.

[2020-08-25 23:53] GrabYourPitchforks commented on #41287
I wouldn't recommend this API for those scenarios. For scenarios such as automatic slug or filename generation, the best thing to do is to keep characters which are allowed, throwing away everything else.

Are these all that common? For alphanumeric characters in particular, I don't think we'd want to encourage people to call the API `string.RemoveChars(<here's an array of 62 chars>)`. Once we sta

[2020-08-25 23:55] jeffhandley commented on #37359
We just sent the email to seek approval to merge https://github.com/dotnet/roslyn-analyzers/pull/3917 in for RC1.  So hopefully we'll be able to close this very soon. 🤞

[2020-08-25 23:56] buyaa-n commented on #37359
Yes it is for 5.0 and yes it will be merged into roslyn-analyzers repo, not runtime. The PR is about to be merged in the RC1 branch of   that repo.

[2020-08-26 00:00] jeffhandley commented on #41087
We have now filed https://github.com/dotnet/runtime/issues/41354 against the runtime repo to resolve the issues there for RC2.

[2020-08-26 00:09] danmosemsft commented on #40856
@trylek could you help us with the question above?

[2020-08-26 00:15] akoeplinger commented on #41356
We can update to latest 3.1.7 but it doesn't really matter that much since it's all encapsulated in the executable (Blazor launches it via dotnet exec).

[2020-08-26 00:27] layomia commented on #40878
Re-opening until the fix is back-ported to .NET 5 - https://github.com/dotnet/runtime/pull/41366.

[2020-08-26 00:28] layomia commented on #36329
Re-opening until the fix is back-ported to .NET 5 - https://github.com/dotnet/runtime/pull/41366.

[2020-08-26 00:28] layomia commented on #41146
Re-opening until the fix is back-ported to .NET 5 - https://github.com/dotnet/runtime/pull/41366.

[2020-08-26 00:34] proggmatic opened #41368 "System.Text.Json - JsonSerializer issue when deserializing property of type System.Version"
### Description
Property of type System.Version serialized successfully, but on deserialization it returns empty object (in sample below Ver1 = 0.0.0.0)

public class TestClass
{
    public Version Ver1 { get; set; }
}

var ver = new TestClass
{
    Ver1 = new Version(1, 3, 4, 6)
}

string serialized = JsonSerializer.Serialize(ver);    // returns {"Ver1":"Major":1,"Minor":3,"Build":4,"Revision":6,

[2020-08-26 00:36] layomia commented on #41219
@GrabYourPitchforks is correct.

That is indeed the output - https://dotnetfiddle.net/mpqIt4.

When polymorphic support is extended, part of the design would be to honor attributes on the actual type a property is being (de)serialized as - https://github.com/dotnet/runtime/issues/30083, https://github.com/dotnet/runtime/issues/29937.

[2020-08-26 00:36] #41219 closed

[2020-08-26 00:38] GrabYourPitchforks commented on #41363
Is there any way to remove the `where T : class` restriction? I can imagine scenarios where I want to use this within a helper function, but my helper function isn't constrained to `where T : class`. In cases where _T_ is a non-nullable value type the method's implementation would essentially be "return this".

[2020-08-26 00:40] trylek commented on #40856
Thanks Dan for the heads-up. Well, I certainly cannot rule it out. While the change was intended exactly to fix perf issues observed in generic algorithms after Fadi's introduction of expanding dictionaries, I can theoretically imagine corner cases where the additional amount of runtime work upon dictionary expansion and / or the counterpart JIT change to stop treating the dictionary pointer as in

[2020-08-26 00:42] layomia commented on #41138
Duplicate of https://github.com/dotnet/runtime/issues/31619.

[2020-08-26 00:42] #41138 closed

[2020-08-26 00:42] ehasis commented on #37066
Ok, I've managed to almost resolve this issue, except the test bellow. Is failing on `Assert.False(string.IsNullOrEmpty(actual))`. Any suggestion?
[code]

[2020-08-26 00:43] layomia commented on #31619
from @liul in https://github.com/dotnet/runtime/issues/41138:

[2020-08-26 01:29] JamesNK opened #41369 "HTTP/2: REFUSED_STREAM causes delay in sending frames"
This is a follow up to https://github.com/dotnet/runtime/issues/40249. That issue was mostly resolved by limiting SocketsHttpHandler to sending 100 concurrent requests until the HTTP/2 connection is fully negotiated (i.e. the client has received a settings frame from the server).

However there still appears to be an underlying bug if the following conditions are met:
1. The server is configured w

[2020-08-26 01:33] RussKie commented on #41125
@mangod9 I've tested the @weltkante's repro against 3.1.7 and the latest 5.0 RC1 (5.0.100-rc.1.20425.5) in 16.8.0 Preview 3.0 [30421.201.main].
The 3.1.7 version crashes, and the 5.0 version doesn't.

[2020-08-26 01:36] layomia commented on #41368
We can add a new internal converter for this. Given prior art from Newtonsoft.Json and just `.ToString()`, we'd want to serialize `Version` instances as "1.2.3.4" instead of `{ "Major": 1, "Minor": 2, ... }`.

The workaround for 3.1 & 5 is to [write a custom converter](https://docs.microsoft.com/dotnet/standard/serialization/system-text-json-converters-how-to) for the `Version` type.

[2020-08-26 01:39] macriluis commented on #40723
Thank You very much!!!
In Preview 8, the DateTime is correct.
Now there are missing some strings in:

Time Zone DisplayName: @TimeZoneInfo.Local.DisplayName
Time Zone StandardName: @TimeZoneInfo.Local.StandardName

![net5pv8](https://user-images.githubusercontent.com/50157508/91244786-9f421080-e723-11ea-8677-eb6f06621be9.jpg)

But, these for sure will be ok in the final release.

Thank you again,

[2020-08-26 01:40] Gerdya commented on #36699
Looks like we have an ARM64 runtime installer now with .NET 5 Preview 8

Looking forward to WPF support :)

[2020-08-26 02:05] Anipik commented on #40159
The issue here is that we have just buid net5.0-windows from the root and trying to build the tests for net5.0-unix as well from the vs.
When we build from the vs, it doesn't build all the project references and expects that these are already built.
Doing a build on tests
[code]

Adding all the project dependencies solve the problem. project dependencies to the sln.
I dont think this meets the bar

[2020-08-26 02:09] Anipik commented on #40159
We generally require all the project references, but we can make this workflow with just adding system.security.principal.windows

[2020-08-26 02:09] radical commented on #41269
The browser isn't crashing. For some unknown reason, Chromedriver stops responding to `GetLog` commands (`session/{sessionId}/se/log`), and so the socket ends up timing out. I tried to get to debug that, or get it to work, but no luck.
So, instead I tried using CDP to connect to this session, and listen to the console logging events. That .. works, almost! The test runner just stops receiving mess

[2020-08-26 03:02] mburbea commented on #41363
What about just using `OfType<T>()`? It removes null entries and casts a `IEnumerable<T?>` into `IEnumerable<T>`.

https://sharplab.io/#v2:C4LgTgrgdgNAJiA1AHwAICYCMBYAUKgBgAJVMA6AGQEsoBHAbjwwKfQGYiBvPI3k9dFx58RANwCGYIgGciAXiJQApgHcSmAgH4A2gF1OAInEGYUCABtzAX0a4RI0gE4AFNLIB5AGYAVAJ4AHJQAeUgIAPmcASk0yAGUlcyUAY2BXOTC3CiUoAHNgAAtIsgBhAHtoVMjI2xErPCsgA===

[2020-08-26 03:04] xiangzhai commented on #40058
Hi,

I argue that the [fix](https://github.com/dotnet/runtime/pull/41347) by @cshung is just a workaround.

As Chinese old saying: symptoms need to be cured but still need to find the root cause.

I will try @Maoni0 way.

Thanks,
Leslie Zhai

[2020-08-26 03:42] danmosemsft commented on #40856
Thank you @trylek

[2020-08-26 03:49] snickler opened #41374 "Windows ARM64 - .NET 5 Preview 8 and above (rc1, .NET 6 preview) timeout when restoring NuGet packages"
### Description

When attempting to restore NuGet packages through the normal dotnet restore or even running a dotnet tool install, NuGet package restore times out with SSL errors on Windows ARM64. Any attempts to use Ctrl+C to cancel the build will stall on waiting for the RestoreTask to complete, prompting me to kill dotnet.exe manually. This problem occurs on .NET 5 Preview 8 and above, but is

[2020-08-26 03:52] richlander commented on #41374
Thanks for reporting. We'll take a look.

[2020-08-26 03:53] jeffhandley commented on #40076
@marek-safar Should this still be in the 5.0.0 milestone or can this move to 6.0.0 since #40074 is in 6.0.0?

[2020-08-26 03:57] #33331 closed

[2020-08-26 04:00] jeffhandley commented on #41235
This was backported to `release/5.0` with #41239.

[2020-08-26 04:00] #41235 closed

[2020-08-26 04:01] jeffhandley opened #41376 "Add more Array.Sort test combinations, per #41234"
Should we have more test combinations, given this involves the complexity of pivots, etc?

_Originally posted by @danmosemsft in https://github.com/dotnet/runtime/pull/41234#issuecomment-678879413_

[2020-08-26 04:14] #33838 closed

[2020-08-26 04:31] wfurt commented on #39603
I tried to do binary search and even if I go back to December/19, adding to store is still failing. So perhaps this is something prior that or it is related to some other build changes.

[2020-08-26 04:35] jkotas commented on #41374
Dup of #40679 ?

[2020-08-26 04:52] cston commented on #37066
Perhaps `Environment.CommandLine` is returning `null` or `""`. We could log a specific bug and follow up on this test failure separately if that is blocking.

[2020-08-26 05:32] mjd575 opened #41391 "Remove the Trailing Slash from URI when converting to String"
In Asp.net core 3.1, I create a Uri like below:

`Uri uri = new Uri($"https://www.example.com?id=1&name=aa");`

When I convert it to string:

`uri.ToString()`

It will automatically add a trailing slash behind the domain:

`https://www.example.com/?id=1&name=aa`

Is there a way to remove the trailing slash?

[2020-08-26 05:55] christophwille opened #41379 "Make ILCompiler.Reflection.ReadyToRun an Official NuGet Package"
# Background

ILSpy uses a private NuGet created by @cshung to implement the ReadyToRun decompilation functionality. The private NuGet is mostly copies of \runtime\src\coreclr\src\tools\aot\ILCompiler.Reflection.ReadyToRun plus a few common files that are infrequently updated manually.

Private NuGet inclusion see https://github.com/icsharpcode/ILSpy/blob/master/ILSpy.ReadyToRun/ILSpy.ReadyToRun.c

[2020-08-26 06:31] sergey-su commented on #40076
Does that mean that Cryptography in blazor wasm will not be fixed until November 2021 (if one can trust https://github.com/dotnet/runtime/milestone/69)?

That would be a showstopper for some people. I can perhaps hook up browser Cryptography in my own code manually, but no way I can convince Roslyn not to require Cryptography.SHA256. I still use 5.0.0-preview.6.20312.15 for prototyping because cry

[2020-08-26 06:34] v-haren opened #41381 "Test failure: System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_ServerCertificates_Test.UseCallback_BadCertificate_ExpectedPolicyErrors(url: \"https://self-signed.badssl.com/\", expectedErrors: RemoteCertificateChainErrors)"
failed in job: [runtime-libraries outerloop 20200825.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=786483&view=ms.vss-test-web.build-test-results-tab&runId=24782972&resultId=103090&paneView=debug)

net5.0-OSX-Release-x64-CoreCLR_release-OSX.1015.Amd64.Open

Error message
[code]

[2020-08-26 06:50] safern commented on #41381
cc: @dotnet/ncl

[2020-08-26 06:51] xgalaxy commented on #39798
@AaronRobinsonMSFT that Interop blog post you mentioned get posted anywhere ?

[2020-08-26 07:00] Alovchin91 commented on #36699
@Gerdya  Where do you see it? It's not listed on the official website.

[2020-08-26 07:19] adamsitnik commented on #37816
FWIW The `Replace_Char` benchmark regressed for most of the configs:

## System.Tests.Perf_String.Replace_Char(text: "Hello", oldChar: 'l', newChar: '!')

| Conclusion |  Base |  Diff | Base/Diff | Modality | Operating System        | Bit   | Processor Name                                | Base Runtime    | Diff Runtime           |
| ---------- | -----:| -----:| ---------:| -------- | ------------

[2020-08-26 07:24] roman380 commented on #41309
Also, it might be unrelated to this question - I would like to mention one another side effect. If bundle executable is used against [`BeginUpdateResourceW`](https://docs.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-beginupdateresourcew) API, the update strips significant part of the resource and damages the binary.

I am guessing the executable itself is fine (we all know it works wel

[2020-08-26 07:31] kirsan31 commented on #41125
@mangod9

Repro with:
VS v16.8 Preview 2 and .net core 3.1.7.
VS v16.7.2 and .net core 3.1.7.

**Doesn't** repro with:
VS v16.8 Preview 2 and .net 5.0 Preview 8.

Can't test .net 5.0 with v16.7.2 :(  `Use previews of the NET Core SDK` -  doesn't help.

[2020-08-26 07:31] rolfbjarne opened #41383 "iOS: Some of the Environment.SpecialFolders values are incorrect with regards to Xamarin.iOS"
### Description

Test code:

[code]

The output is different between Xamarin.iOS and .NET (5.0.100-rc.1.20414.5 - tested in the simulator).

The folders with different values are:

### .NET

[code]

<details><summary>Full output</summary>

[code]

</details>

### Xamarin.iOS

[code]

<details><summary>Full output</summary>

[code]

<details>

[2020-08-26 07:33] adamsitnik commented on #39031
@DrewScoggins could you please provide a link to full historical data (I've tried to guess it but I've failed)?

[2020-08-26 07:34] marek-safar commented on #41356
That's the point, the latest version is actually 5.0.0-rc1.x.x and will keep updating (trying to avoid future version mismatch)

[2020-08-26 07:36] marek-safar commented on #40076
@jeffhandley this is 5.0 task please keep it that way

[2020-08-26 07:37] andersson09 commented on #40076
Hi guys great work so far on Blazor. Unfortunately I really need this implemented as I need to be able to dynamically compile using Roslyn. The error I'm getting is error CS8113: Invalid hash algorithm name: SHA256. This did not occur in 3.2.0.

Like the user above me said, I also have errors with zip libraries with encryption, e.g. dotnetzip, sharpziplib. These I guess I can live with but the ros

[2020-08-26 07:44] marek-safar commented on #41383
/cc @EgorBo

[2020-08-26 07:54] marek-safar commented on #40723
@EgorBo / @tqiu8 are the display names known issue?

[2020-08-26 07:54] secana commented on #40076
I'm stuck with a webpage in production which I'm not able to upgrade due to this bug. I would be really appreciated if it would be fixed for 5.0, or at least some 5.x release in the near future.

Thanks for your work!

[2020-08-26 07:56] xiangzhai commented on #35853
:gsvm-interest

[2020-08-26 07:56] marek-safar commented on #40076
/cc @GrabYourPitchforks

[2020-08-26 08:29] msschl commented on #39756
@lewing In preview 8 it's actually worse. Before, the above mentioned exception got thrown, then signalr switched to long-polling and the site kept working. In preview 8 another exception (see issue #25259) gets thrown and the site stops working completely.

[2020-08-26 08:57] PeterSolMS commented on #41311
The problem seems to be that the gradual decommitting is still in progress when we enter the no GC region. Gradual decommit will adjust the commit downward while allocation pushes it upward. The decommit target that we determined in the previous GC is thus no longer valid.

The simplest way to fix this that I see is to set gradual_decommit_in_progress_p to FALSE in gc_thread_function():

[2020-08-26 09:06] xiangzhai commented on #41311
Hi @PeterSolMS

Could you paste some Back Trace about the GC hole?

Thanks,
Leslie Zhai

[2020-08-26 09:06] Symbai commented on #41287
Yes, this was a bad idea, sorry. When we talk about smaller arrays someone would like to remove from a string AND the content of the array are common strings/characters I can currently only think about everything which has the same meaning can be written differently. Line Endings: `\n` `\r\n`, quotes: `"` `'`, thousand separators: `.` `,` etc.

I've downloaded this, WPF and Winforms repo and did a

[2020-08-26 09:12] PeterSolMS commented on #41311
We fail with this call stack:

0:021> ~21k
 # Child-SP          RetAddr           Call Site
00 000000a3`12ffcae8 00007ffe`4821363c KERNELBASE!DebugBreak+0x2
01 000000a3`12ffcaf0 00007ffe`47d08e6c CoreCLR!DbgAssertDialog+0x198 [C:\runtime-1\src\coreclr\src\utilcode\debug.cpp @ 700]
02 000000a3`12ffcbf0 00007ffe`47d08cd8 CoreCLR!Object::ValidateInner+0x14c [C:\runtime-1\src\coreclr\src\vm\object.cpp

[2020-08-26 09:14] MichalStrehovsky commented on #41379
When you say "official", do you mean: "is tested, has guarantees around breaking changes to the API surface, and gets published by Microsoft to nuget.org"? Or is this more a request for "a package gets pushed into an Azure NuGet feed with the rest of the artifacts produced by daily builds of dotnet/runtime".

Cc @mangod9

[2020-08-26 09:16] xiangzhai commented on #41311
Hi @PeterSolMS

Thanks for your sharing!

Applied your patch:

[code]

Then repos segfault:

[code]

Thanks,
Leslie Zhai

[2020-08-26 09:19] PeterSolMS commented on #41311
Interesting - this crash is different, it looks like I need to understand no GC regions in more detail.

[2020-08-26 09:22] christophwille commented on #41379
We'd be fine with the latter - built & provided by dotnet/runtime team (as long as the retention on that feed is for a long-ish time). We are aware that the potential number of consumers for this package might be too small for a full-on nuget.org release with all the necessary quality guarantees.

[2020-08-26 09:22] xiangzhai commented on #41311
Sorry! I forgot to say: I also applied [the patch](https://github.com/dotnet/runtime/pull/41375).

Thanks,
Leslie Zhai

[2020-08-26 09:47] EgorBo commented on #40723
@marek-safar I disabled naive time zone names (e.g. print "Московоское время" for Moscow timezone when current culture is ru-RU) but english name are expected to be fine... will take a look.

[2020-08-26 09:58] FiniteReality commented on #41363
@mburbea That's still an extra method call:
[code]
The goal is:
[code]

[2020-08-26 10:00] krwq commented on #41061
I'm making this an uber issue for XML NREs

[2020-08-26 10:10] ToMyAF opened #41387 "System.Net.Sockets.SocketException：Resource temporarily unavailable"
![image](https://user-images.githubusercontent.com/36257915/91291271-6196c380-e7c7-11ea-9247-205c9fc8557a.png)

This is err detail.
--------------------------------------------------------
Resource temporarily unavailableSystem.Net.Sockets.SocketException (11): Resource temporarily unavailable
   at System.Net.Http.ConnectHelper.ConnectAsync(String host, Int32 port, CancellationToken cancellationT

[2020-08-26 10:10] stephentoub commented on #41363
Dup of https://github.com/dotnet/runtime/issues/30381

[2020-08-26 10:10] #41363 closed

[2020-08-26 10:12] #40058 closed

[2020-08-26 10:30] adamsitnik opened #41388 "Performance regression: Utf8String.IsAscii (x86 only)"
## Repro

[code]

@eiriktsarpalis @GrabYourPitchforks @carlossanlop @pgovind  I am setting 5.0 milestone to make sure that it gets triaged within the next few weeks.

There was a similar issue, but I've verified that https://github.com/dotnet/runtime/pull/41198 is not fixing this problem.

@GrabYourPitchforks @eerhardt  The benchmark throws for all other documents for 3.1.6 which **might be a bug

[2020-08-26 10:51] marek-safar opened #41389 "XmlSerializer.Serialize doesn't work when using TrimMode=link"
Repro: [consoleapp-bfe9f43.zip](https://github.com/mono/linker/files/5128072/consoleapp-bfe9f43.zip)

Run `make linked` to run with `TrimMode=link`, and `make notlinked` to run the same command, except without setting `TrimMode`.

[code]

[code]

*** Moved from https://github.com/mono/linker/issues/1454 ***

[2020-08-26 10:52] marek-safar commented on #41389
/cc @eerhardt

[2020-08-26 10:53] marek-safar opened #41390 "Type converters are linked away in .NET 5+ when using TrimMode=link"
Test project: [consoleapp-195d28e.zip](https://github.com/mono/linker/files/5125426/consoleapp-195d28e.zip)

Repro: run `make linked`, which passes `/p:PublishTrimmed=true /p:TrimMode=link` to `dotnet build`:

[code]

Running `make notlinked` (which does not pass `/p:TrimMode=link` to `dotnet build`, but it still passes `/p:PublishTrimmed=true`)shows the type converters exist then:

[code]

***  M

[2020-08-26 10:54] marek-safar commented on #41390
/cc @eerhardt

[2020-08-26 10:55] roman380 commented on #41309
In the view of incompatibility with `BeginUpdateResourceW` API mentioned above I gave a look at how you generate the singlefilehost.exe thing. So you seem to append dependencies to the PE binary without including them into the parent PE structure. No wonder the API strips the byte that do not belong and that are no referenced by the master binary structure.

I wonder if this is documented anywhere

[2020-08-26 11:25] kronic commented on #30381
Maybe WhereNotDefault

[2020-08-26 11:53] weltkante commented on #41125
erm, maybe I'm misunderstanding, but just because a debugger notifies you of a bug doesn't mean its _causing_ the bug, or the bug isn't present when nobody is looking.

This shouldn't be about fixing the diagnostic/debugger experience, this should be about investigating whether this is a security-relevant stack corruption present in a .NET Core 3 LTS release.

[2020-08-26 12:43] Zetanova commented on #41353
@GrabYourPitchforks `PNetEncrypt.Decrypt` is a static method without side effects and the one method in the unit test is only a copy of it.  The exception does only occur in gitlab-runner inside the dotnet/sdk container.

I happens every 2-3 test run with a loop of 100. A retry in der CI/DI will most of the time be successful.

I will try to trigger in local with docker+WSL2

[2020-08-26 12:57] obiwanjacobi commented on #37972
In my test situation the manifest workaround seem to work, but I have now encountered an application where I still need to add ijwhost.dll next to its .exe in order for my mixed assembly to load.

[Here is a link to my mixed C++/CLI project](https://github.com/obiwanjacobi/vst.net/tree/master/Source/Code/Jacobi.Vst.Interop)
and the application in question is [https://www.reaper.fm/](REAPER ) - a D

[2020-08-26 13:00] rolfbjarne opened #41392 "Linq.Queryable.FirstOrDefault doesn't work when using TrimMode=link"
Repro:
[consoleapp-99c9d68.zip](https://github.com/mono/linker/files/5126317/consoleapp-99c9d68.zip)

Run `make linked` to run with `TrimMode=link`, and `make notlinked` to run the same command, except without setting `TrimMode`.

[code]

[code]

CC @marek-safar

[2020-08-26 13:01] #37209 closed

[2020-08-26 13:03] Zetanova commented on #41353
Same behavior with
docker over WSL2
image: mcr.microsoft.com/dotnet/core/sdk@sha256:4805a0ec2e1acae2be9554679acca0ec368aaf50cabdd028c0aa3cb8ff34a751
dotnet 3.1.401

Test run with:
[code]

I will try to make make a test project for it later in few hours.

[2020-08-26 13:07] marek-safar commented on #41392
/cc @eerhardt

[2020-08-26 13:16] ygc369 commented on #4155
@tannergooding @CarolEidt
After more than five years, has this issue been solved?

[2020-08-26 13:28] vitek-karas commented on #36590
Your solution should definitely work. I just wanted to add that currently we don't plan to have an API which would provide access to the assemblies in the single-file directly (as byte-streams).

[2020-08-26 13:31] eerhardt opened #41395 "NullReferenceException in DataContractSerializer"
### Description

Not setting `DataContractSerializerSettings.RootNamespace` can cause NullReferenceExceptions in DataContractSerializer. For example:

[code]

Causes:

[code]

[2020-08-26 13:41] jnm2 commented on #36590
@scamille I usually use `assembly.GetCustomAttribute<AssemblyInformationalVersionAttribute>().InformationalVersion` for that since we also use semver prerelease and/or build metadata.

[2020-08-26 13:50] JeffUnderhill commented on #36699
@Alovchin91  See https://devblogs.microsoft.com/dotnet/announcing-net-5-0-preview-8/ and https://dotnet.microsoft.com/download/dotnet/5.0 - hope this helps.

[2020-08-26 14:13] Alovchin91 commented on #36699
@JeffUnderhill  We are talking about Windows ARM64 installers, right? 😊

I might be missing something, but I can't find them on .NET 5.0 Preview 8 download page:

![image](https://user-images.githubusercontent.com/8490695/91314661-183e7800-e7b7-11ea-8621-96706a64f574.jpeg)

[2020-08-26 14:21] dagood commented on #36699
The release notes look inconsistent: https://github.com/dotnet/core/blob/master/release-notes/5.0/preview/5.0.0-preview.8.md#downloads

IIRC the mechanisms for these tables are different and this is likely not intentional, but it's definitely confusing.

@rbhanda @leecow @mairaw ideas?

[2020-08-26 14:23] volaru77 commented on #40076
What is the official recommendation regarding blazor-wasm projects that rely on assemblies / packages affected by this issue, just stick to .NET Core 3.1 until this is (hopefully) addressed in .NET 6?

[2020-08-26 14:24] rbhanda commented on #36699
@NikolaMilosavljevic who helped add these entries for release notes

[2020-08-26 14:24] sdmaclea commented on #41164
Fixed in #40435

[2020-08-26 14:24] #41164 closed

[2020-08-26 14:25] sdmaclea commented on #41119
Fixed in #40435

[2020-08-26 14:25] #41119 closed

[2020-08-26 14:32] sdmaclea commented on #41133
I think this should be close to working in #40943

Per XCode release notes, we seem to need at least XCode 12 Beta *.  Which requires
[code]

I'll try this upgrade week when I have stable WiFi....

[2020-08-26 14:32] adamsitnik opened #41398 "Performance regression: 6x slower array allocation on Alpine"
From the data that I got from @danmosemsft which was collected by running dotnet/performance microbenchmarks on alpine 3.11 via WSL2, it looks like allocating arrays of both value and reference types became 6 times slower compared to 3.1.

Initially, I thought that it was just an outlier, but I can see the same pattern for other collections that internally use arrays (queue, list, stack etc). The

[2020-08-26 14:41] joperezr commented on #41221
You still want the implementation assembly to version because you want that one to be preferred over the non-serviced one, so when fixing bugs you still version the implementation assembly, just not the reference assembky for the reasons called out above.

[2020-08-26 14:46] sps014 opened #41399 "[Proposal] Add Permutate in LINQ function in C#"
#### Permutation
A permutation is an arrangement of all or part of a set of objects, with regard to the order of the arrangement.

Permutations of numbers 1,2, 3 are
[code]

Permutation function is not that hard to implement, so many people might be asking why not create a Extension Method yourself.

#### That's a fair question , actually until now we have been using Permutate function like this o

[2020-08-26 14:47] sps014 commented on #41399
Permutate for string Class will be a plus a well

[2020-08-26 14:52] karelz commented on #41177
Reopening to wait on the backport

[2020-08-26 14:54] karelz commented on #41013
Reopening until it is backported in #41371

[2020-08-26 14:57] karelz commented on #41009
Reopening to wait on backport in #41372

[2020-08-26 14:58] karelz commented on #40938
Reopening to wait on backport into 5.0 in #41370

[2020-08-26 15:02] teo-tsirpanis commented on #41240
I think that a better solution would be to extend the already existing `MemoryPool` class into something more than a thin layer over `ArrayPool`.

Such efficient implementation that could be used for `MemoryPool.Shared` would essentially require a full-blown memory manager with free lists, _on top of the managed garbage collector_. Value types with no references could use `AllocHGlobal` to fully h

[2020-08-26 15:04] karelz commented on #41391
Try `uri.OriginalString`:

[code]

Output:
[code]

[2020-08-26 15:10] AaronRobinsonMSFT commented on #3740
@bclothier Going the IDL -> TLB -> .NET interfaces is already supported, albeit with the .NET Framework tool - `TlbImp`. The .NET assembly generated by `TlbImp` will/should work with .NET Core without issue. If you discover a scenario that doesn't work please let us know. At present we are relying on the .NET Framework version of `TlbImp` since porting it over isn't a simple task and at present ap

[2020-08-26 15:12] MihaZupan commented on #41391
What is the goal behind removing this slash?

[2020-08-26 15:14] karelz commented on #41387
@ToMyAF it looks like the connection cannot be established from some reason. Are you able to reproduce it?
Are you able to write a small HelloWorld app that reproduces the problem with your specific endpoint?
Are you able to reach the endpoint from a browser?

BTW: Reading code from pictures is difficult, cannot be copy-pasted and is not accessible -- please post code in [markdown](https://guides.

[2020-08-26 15:16] karelz commented on #41381
@wfurt any thoughts?

[2020-08-26 15:20] eerhardt commented on #41390
What version of .NET 5 are you using? We just did work in this area: #39973

cc @layomia

[2020-08-26 15:21] AaronRobinsonMSFT commented on #39798
@xgalaxy I just got back to work. The blog is close to complete - still updating/clarifying some technical details that have been in flux. The survey has been published and can be found at https://github.com/dotnet/runtime/issues/40484. The blog will be published in the normal manner so currently following .NET blogs should be sufficient when it is finally published. Thanks for keeping it in mind.

[2020-08-26 15:25] eerhardt commented on #41389
In order to make XmlSerializer serialization work with the ILLinker, we will probably need to address https://github.com/mono/linker/issues/1087.

[2020-08-26 15:25] antonfirsov commented on #40301
Looks like the issue is not caused by outstanding blocking calls. I have a smaller repro now:
https://gist.github.com/antonfirsov/ce0cb4992e115bb4d6e8dd6862fd6780

Here is what happens in my understanding:
1. `SafePipeHandle.Unix` increases the reference counter on `SocketSafeHandle`:
https://github.com/dotnet/runtime/blob/c6da68cfd7ded9333291fe37881d7d266cfa6acb/src/libraries/System.IO.Pipes/src/

[2020-08-26 15:27] PeterSolMS commented on #41311
It turns out that the GC hole was caused by other changes I had left in my version by accident.

My fix doesn't address the case that gradual_decommit_in_progress_p is turned on by a GC triggered by starting a no GC region.

I have a simple (if somewhat suboptimal) fix for this as well, I'll do more testing than do a PR.

[2020-08-26 15:29] rolfbjarne commented on #41390
I was testing with 5.0.100-rc.1.20414.5 (which failed), today I updated to 5.0.100-rc.1.20414.5, and now this works just fine, so this can be closed.

[2020-08-26 15:32] NikolaMilosavljevic commented on #36699
I'm not sure how table is formatted - I've only provided the link to arm64 installer and asked for it to be added to release notes.

@dagood is the inconsistency with formatting or content?

[2020-08-26 15:35] Alovchin91 commented on #36699
@NikolaMilosavljevic  It looks like the release notes page is missing ARM64 binaries link, while the official download page (https://dotnet.microsoft.com/download/dotnet/5.0) is missing ARM64 runtime installer link.

[2020-08-26 15:36] NikolaMilosavljevic commented on #36699
@rbhanda can these issues be fixed quickly?

[2020-08-26 15:37] AaronRobinsonMSFT commented on #41309
@roman380 Support for consuming COM servers in .NET shouldn't be impacted much - at least nothing on the runtime side has changed here. The project system however is non-trivial since it attempts to reconcile the .NET Framework approach and .NET Core. The only scenarios that have changed from the runtime's perspective is authoring a COM server written in .NET - consumption shouldn't really be impa

[2020-08-26 15:38] #41390 closed

[2020-08-26 15:38] danmosemsft commented on #41398
@billwert

[2020-08-26 15:47] gorazdzagar opened #41401 "Permissions on files created inside /tmp/.dotnet are too open"
# Permissions on files created inside /tmp/.dotnet are too open

While executing the **dotnet restore**, temporary file permissions created under the session subfolders inside /tmp/.dotnet/shm/ are too open.

# General

Dotnet SDK version: 3.1.302

While executing the **dotnet restore**, the build sessions subfolder is created under /tmp/.dotnet/shm/.

Example:

/tmp/.dotnet/shm/session5550# ls -l

[2020-08-26 15:48] CarnaViire opened #41402 "Test failure: System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_ServerCertificates_Test.UseCallback_BadCertificate_ExpectedPolicyErrors"
Failed in #39313

https://dev.azure.com/dnceng/public/_build/results?buildId=788156&view=logs&j=a2c324d3-d1dd-5b5e-9bd2-d56324c8f9e8&t=7a9ad864-1ecc-5f5a-4be6-1a6eb30653af&s=b15d9194-8f26-5328-b47f-5968c76b37e7

Configuration:
`net5.0-OSX-Debug-x64-CoreCLR_release-OSX.1014.Amd64.Open`

And also failed in other places (46 times starting from 2020-08-01 [Link to query](https://dataexplorer.azure.com

[2020-08-26 15:49] GrabYourPitchforks commented on #40076
I believe this is still scheduled for 5.0. As mentioned in the PR - still trying to work through some compliance work on our side. Should have more to share publicly in the next week or two.

[2020-08-26 15:51] ZacharyPatten commented on #41399
I have implemented this topic myself. There is probably room for improvement, but I wanted to share my implementation in case it might help:

Source: https://github.com/ZacharyPatten/Towel/blob/master/Sources/Towel/Permute.cs
Examples:
https://github.com/ZacharyPatten/Towel/blob/5f7240096789ad10d6efd4252f8a38b9d8995ef8/Examples/BasicsAndExtensions/Program.cs#L394

[2020-08-26 15:51] mmitche commented on #3833
I think we will need this for 5.0. Because right now stable builds do not work.

[2020-08-26 16:00] safern commented on #41078
Another failure:

[code]

https://github.com/dotnet/runtime/pull/41358
https://dev.azure.com/dnceng/public/_build/results?buildId=788022&view=ms.vss-test-web.build-test-results-tab&runId=24847778&resultId=179707&paneView=debug

[2020-08-26 16:00] Clockwork-Muse commented on #41399
.... and outside of "competitive" coding (I assume you mean coding challenges on various sites), have you written something that would benefit from this?

Note that `string` is already `IEnumerable<char>` so you'd get that implementation for free.
Note that, if this were placed in LINQ, any implementation would be required to take an additional `N` space, as opposed to using the space of the origi

[2020-08-26 16:06] #40528 closed

[2020-08-26 16:06] #40530 closed

[2020-08-26 16:06] #40532 closed

[2020-08-26 16:07] dallmair opened #41403 "HttpWebRequest.GetRequestStream returns new stream instance on every invocation"
### Description

Some third-party code we're depending on does this:

[code]

Of course, there are things to improve here; Unfortunately, this code is not under our control, so we have no way to change it.

Anyway, the code works fine on .NET Framework 4.7.2 as the `GetRequestStream` method returns the same `System.Net.ConnectStream` object on both calls. In contrast, it fails on .NET Core 3.1.400

[2020-08-26 16:12] sps014 commented on #41399
This is really a handful collection of Utility Classes. @ZacharyPatten

@Clockwork-Muse  I agree that Permutation is something that people don't use often. It's not wrong if it is implemented in C#, other languages have done this already, I see quite a few C# Programmers on coding platform and some game developers , they  may also get benefited.

[2020-08-26 16:26] jaredpar commented on #40301
This should not be happening in the product anymore. After filing the bug I was able to find a few other places these were leaking, made a push to get rid of them, and I *believe* I got them all at this point. It's possible it's still happening in the tests though.

[2020-08-26 16:30] #41139 closed

[2020-08-26 16:40] eli-fin commented on #41251
@eli-fin I would also add the 32 bit signed values , which are what you see if you use echo %ERRORLEVEL% on Windows. When I googled those values, I saw they are mentioned and it would probably be beneficial to include them here too.

Was wondering what would be the most readable way:
1. FrameworkMissingFailure (`0x80008096`, `-2147450730`, `150`) - It was not possible to...
   (with a note at the

[2020-08-26 16:45] pranavkm commented on #41408
The error message is generated by System.Text.Json. Transferring it here to discuss this further.

[2020-08-26 16:50] marek-safar commented on #41406
/cc @radical

[2020-08-26 17:06] wfurt commented on #41402
looks like dup of #41381

[2020-08-26 17:12] mangod9 commented on #41125
Sorry, maybe I misunderstood the original issue. Does the original scenario (or the smaller repro) AV without the debugger attached?

[2020-08-26 17:16] wfurt commented on #41387
What OS? I'm wondering if this can come from transient DNS lookup failure. EAGAIN should normally be handled by the Socket layer.

[2020-08-26 17:20] weltkante commented on #41125
no, the diagnostic instrumentation detects a stack overrun, there is _never_ any AV reported, not even with debugger attached

So something writes the stack in some place that its not supposed to write in, typical stack corruption. Not all kinds of stack corruptions lead to AV.

Its unclear what the consequences are, i.e. if this can have any negative effect or just happens to _always_ overwrite u

[2020-08-26 17:20] ViktorHofer commented on #32935
cc @mangod9

[2020-08-26 17:22] shubhamranjan opened #41409 "Expose Dictionary's comparer through its KeyCollection"
## Background and Motivation

Currently there is no way to get a `Dictionary.KeyCollection`'s comparer that was used in the containing dictionary. This way other classes cannot be aware of its `IEqualityComparer` and won't be able to compare elements with the intended way while performing certain comparison operations.

For e.g. In #41335 , If an attempt to modify hashset's intersect is made to ut

[2020-08-26 17:23] ViktorHofer commented on #40416
@safern what's the status on this?

[2020-08-26 17:24] thargol1 commented on #41096
You're right. I can't find many examples myself. And in the 5 examples you linked, 3 are tests and 1 is a sample.
I'll close this issue.

[2020-08-26 17:24] #41096 closed

[2020-08-26 17:29] jkotas commented on #41398
These tests are measuring raw GC allocation speed. This is GC performance regression.

@mangod9 Could you please find somebody to investigate this?

[2020-08-26 17:31] mangod9 commented on #41125
Ok, thanks for clarifying. Will leave in the Diagnostics area for now, to get a better understanding of the stack instrumentation. @tommcdon assume this is Diagnostics or Tracing?

[2020-08-26 17:32] wfurt commented on #41381
I have local repro. I will take a look. maybe something changed at self-signed.badssl.com.

[2020-08-26 17:35] joperezr commented on #41251
Table sounds great to me 😄

[2020-08-26 17:35] mangod9 commented on #32935
What is the current impact of this issue? Is it that some assemblies are not getting precompiled? + @davidwrighton in case you have any context?

[2020-08-26 17:39] Anipik commented on #41302
Talked with @eerhardt and we can close this one

[2020-08-26 17:39] #41302 closed

[2020-08-26 17:40] Anipik commented on #40416
I didnt see this one reproing any more on official builds.

[2020-08-26 17:41] joperezr commented on #38609
I see, well given you have a workaround for now and this is not blocking you I will push the fix/investigation for this to 6.0. Even if this is an underlying issue with the native library, I think we should either provide a workaround or do more research to see if there are other ways to add filters with special characters.

[2020-08-26 17:41] wfurt commented on #41381
[code]

it seems fresh and the name does not match. It is curious that it fails only on OSX.
I did run on Linux where I would expect same failure but it seems ok.

cc: @bartonjs  for any additional thoughts.

since this is HTTP Client test, perhaps we can construct this with SslStream without reliance on external server we cannot control.

[2020-08-26 17:43] ViktorHofer commented on #39274
@joperezr it's unclear to me what the remaining work is. Is someone actively working on this? Thanks

[2020-08-26 17:44] ViktorHofer commented on #40416
Ok so let's close this for now. Thanks.

[2020-08-26 17:46] ViktorHofer commented on #39598
Will be fixed by https://github.com/dotnet/runtime/pull/41039.

[2020-08-26 17:46] mangod9 commented on #41398
Ok will have someone take a look. @adamsitnik ,  Is the regression specifically with Alpine on WSL2, or Alpine in general?

[2020-08-26 17:46] CoffeeFlux opened #41410 "CI lanes show two Mono Linux x64 LLVMAOT Release builds"
We appear to have two lanes doing very similar work:
* Build Linux x64 Release AllSubsets_Mono_LLVMAOT
* Mono llvmaot Product Build Linux x64 release

It seems they're pulling from separate templates based on the names, but if there's any way to avoid duplicate builds we should consider it, especially since LLVMAOT can take a little while.

cc: @naricc @imhameed

[2020-08-26 17:47] safern commented on #40416
This is not reproing because I baselined the errors. We should still fix this. Will re-open, but I will mvoe to 6.0.0 and remove blocking-clean-ci.

[2020-08-26 17:47] ViktorHofer commented on #41302
What's the outcome of your discussion? :)

[2020-08-26 17:51] kouvel commented on #41238
Similar to what @gfoidl suggested, a workaround could be to use the `Task.Delay(Int32)` overload a max total millisecond count of `Int32.MaxValue`, and when the task runs and `nextRunTime` has not been reached, issue another delay for the remaining time. It seems unlikely that their behavior would be changed, as it would have to behave the same way as above internally anyway with more complication

[2020-08-26 17:51] #41238 closed

[2020-08-26 18:00] naricc opened #41411 "Refactor helix.yml and wasm-runtime-and-send-to-helix.yml to share common parts"
/eng/pipelines/libraries/helix.yml and /eng/pipelines/common/templates/runtimes/wasm-runtime-and-send-to-helix.yml share some comment elements to send stuff to helix. This can probably be factored out into a seperate template.

[2020-08-26 18:01] naricc commented on #41411
@safern Assigning you because you said you wanted this one.

[2020-08-26 18:01] Clockwork-Muse commented on #41399
This is not a reason to implement a new feature.  (It may provide a reason to investigate whether such a feature should be implemented, but it is insufficient on its own)

If you're talking about coding challenge platforms, that is not a reason to implement the feature.  Despite developers liking to challenge themselves, that is by far a minority usage.  If you're talking about something else, ple

[2020-08-26 18:07] adamsitnik commented on #41398
mangod9 The benchmarks were executed with Alpine on WSL2, I don't have "Alpine only" results to be able to answer. FWIW the Ubuntu on WSL2 results are fine so it might be a general Alpine problem

[2020-08-26 18:11] joperezr commented on #39274
We still haven't added a wasm leg for the linker tests, today we only have these 3:

https://github.com/dotnet/runtime/blob/afa4b2f344192c3609dd3c1419f68d99d10d7d62/eng/pipelines/runtime-linker-tests.yml#L61-L64

Ideally we would want to add wasm in there as well to build that vertical and run linker tests for that runtime, so that would be the remaining work. @eerhardt do we still want to do that

[2020-08-26 18:16] EngRajabi opened #42219 "Discuss the longevity of the httpclient handler"
Discuss the longevity of the httpclient handler

Currently the life of the httpclient handler is 2 minutes. Given that 99% of packages do not change the default lifespan and we use them in our projects. And that new architectures based on micro-services have advanced. Wouldn't it be better to extend Handler's default lifespan to improve system performance?
Any program you want can change the lifes

[2020-08-26 18:17] ChrisAhna opened #41413 "GC.GetTotalMemory can crash in rare cases when it races with background GC"
### Description

Calls to [GC.GetTotalMemory](https://docs.microsoft.com/en-us/dotnet/api/system.gc.gettotalmemory) can crash in rare cases where they race with segment deletion processing in the background GC.

The linked [repro app](https://gist.github.com/ChrisAhna/9596dcd5d93306b4f21043b49bdbe090) calls GC.GetTotalMemory in a loop while another thread drives an allocation pattern geared toward

[2020-08-26 18:18] ChrisAhna commented on #41413
cc @Maoni0

[2020-08-26 18:21] jkotas commented on #41398
It repros without WSL2 too.

The problem is that the GC is running like 100x more often than it should. It is likely problem in the budget computation. One of the places to check is `PAL_GetLogicalProcessorCacheSizeFromOS`.

[2020-08-26 18:25] vcsjones commented on #39603
The problem is basically here:

https://github.com/dotnet/runtime/blob/afa4b2f344192c3609dd3c1419f68d99d10d7d62/src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/AppleCertificatePal.cs#L106-L113

We import the X509Certificate2 in to a temporary keychain (because `PersistKeySet` is not set). I think the temporary keychain that the key gets imported in to

[2020-08-26 18:26] #36041 closed

[2020-08-26 18:30] wfurt commented on #39603
Did that part changed? I thought I saw similar code in 3.1 but I may be mistaken.
Also, log seems to complain about old-style keychain outside of ~/Library/Keychains.
I was wondering if the location also may make difference of there is some other way how to avoid that warning.
(But I did not have time (yet?) for experiments)

[2020-08-26 18:32] vcsjones commented on #39603
As a test, if that code is changed to:

[code]

Then the problem goes away, too.

[2020-08-26 18:33] brianrob commented on #32935
This does not impact whether or not an assembly is precompiled, but does impact which assemblies are precompiled with partial NGEN.  Partial NGEN uses IBC data to decide which methods to precompile, in order to reduce assembly size.  This is especially important for assemblies that are loaded into the Visual Studio devenv process, which is 32-bit and needs to save VM address space.

In general, pa

[2020-08-26 18:35] wfurt commented on #39603
It seems like holding ref to the keychain is no longer good enough.

[2020-08-26 18:35] vcsjones commented on #39603
It doesn't. I tried. (I also tried changing the keychain temp file extension to `keychain-db` in case for some reason that matter)

I don't think so. I still haven't been able to nail down why 3.1 is working, but I thought I might be better off looking in to 5.0. It's entirely possible 3.1 is working by luck.

[2020-08-26 18:37] mairaw commented on #36699
@rbhanda just pushed an update to the https://dotnet.microsoft.com/download/dotnet/5.0 but I'm not sure if the issue was resolved or not.

[2020-08-26 18:42] naricc opened #41414 "Android Runtime Test Design Proposal"
This is a proposal for how to get the Dotnet runtime tests running for Android. Not everyhting is pinned down yet, and some things need to be investigated.

### Existing Test Infrastructure

Once built, the runtime test have three parts:

1. An xunit wrapper
2. A shell script
3. The actual test assembly.

The XUnit wrapper runs serves as an interface between the shell script and Xunit. It calls th

[2020-08-26 18:43] Alovchin91 commented on #36699
@mairaw  No, the runtime installer link for Windows ARM64 is still absent.

[2020-08-26 18:49] rbhanda commented on #36699
@mairaw and I are looking into this. However the runtime installer is present in [release notes](https://github.com/dotnet/core/blob/master/release-notes/5.0/preview/5.0.0-preview.8.md)

[2020-08-26 19:01] karelz commented on #41403
Thanks for your report. Can you please help me understand your situation a bit more?
1. How do you use the 3rd party code on .NET Core? Is it a .NET Framework DLL you are running on .NET Core?
2. Is there option to ask the 3rd party to either change their code or target .NET Standard or .NET Core?
3. How wide-spread is usage of the 3rd party code? Is it exclusive to your project, your company, or

[2020-08-26 19:02] vitek-karas commented on #41309
I agree that the native binary needs to live on disk - either from the start as a file next to the bundle, or extracted on startup. In 5.0 we have both options available and it's up to the application to pick one or the other. I was just curious what happens in this specific case, since the default should be that the native binary gets put next to the bundle (no self-extract by default).

[2020-08-26 19:02] #40954 closed

[2020-08-26 19:06] AaronRobinsonMSFT commented on #41319
@blakemcbride Please let us know if @jkotas's suggestion makes sense. If it does but there are still concerns hearing suggestions how better or ideal solutions is always welcome. This is an area we are very interested in improving. See https://github.com/dotnet/runtime/issues/40484 for a survey that involves interop.

[2020-08-26 19:06] mangod9 commented on #32935
Ok, thanks for the context. Guess we can check the size of disk when compared to 3.1 and determine whether it meets the bar for 5.0.

cc @trylek

[2020-08-26 19:08] mangod9 commented on #41398
ok thanks for the context. We will look if there is any Alpine specific behavior which is leading to this.

[2020-08-26 19:08] DrewScoggins commented on #40942
Just wanted to update this thread with the auto-filed results showing big wins (70%) in the System.Memory.ReadOnlySpan benchmarks that regressed.

https://github.com/DrewScoggins/performance-2/issues/1392

[2020-08-26 19:13] AaronRobinsonMSFT commented on #41309
Nice. I didn't realize that.

I think the issue here is the native binary isn't known by the `publish` step and probably isn't copied to the publish directory. We hit issues with COM references not being copied during `publish` and that required letting the Target know it needed to copy additional assets - see https://github.com/dotnet/sdk/issues/10908.

[2020-08-26 19:15] tmds commented on #40301
:+1: Makes sense.

The spinning deals with a race condition that occurs as follows:
1. Thread A refs the SafeHandle
2. Thread B calls TryUnblockSocket
3. Thread A uses the handle for a Socket operation

If Thread B does not call TryUnblockSocket again (which it does now by spinning), the operation on thread A is not aborted.

[2020-08-26 19:17] jkotas commented on #1854
This throughput improvement has a problem in terms of static footprint. Every HashSet instantiation will end up instantiating a matching Dictionary now because this is introducing a new dependency between HashSet and Dictionary. It is not pay for play.

[2020-08-26 19:22] jkotas commented on #41413
We should fix this for 5.0.

Note that event counters will call GetTotalMemory frequently by default, so chances of apps hitting this are higher than before.

[2020-08-26 19:27] eerhardt commented on #39274
It would be good to get the wasm leg in, but I don't think it is required for 5.0 at this point. It can be done early in 6.0.

[2020-08-26 19:29] eerhardt commented on #41302
Since `Microsoft.NET.HostModel` doesn't ship on nuget.org, we don't need to build a stable package of it. The only reason it exists is to be a transport into `dotnet/sdk` to be consumed by the SDK. Since we don't need a stable build of it, it won't need a stable dependency on System.Text.Json.

We still should fix #1823 for this library. It is becoming a pain.

[2020-08-26 19:39] jeffhandley commented on #39603
Is there a possibility of a GC change during 5.0 that could have affected this?

[2020-08-26 19:40] mangod9 commented on #41413
Assigning to Peter since he has been investigating other race conditions recently.

[2020-08-26 19:40] brianrob commented on #32935
Yes, that seems like a reasonable way to go.  I know there was some work done in the 3.1 timeframe around Docker images specifically on Linux, so do make sure that you look at Linux size as well as Windows.

[2020-08-26 19:41] antonfirsov commented on #40301
@tmds I may miss something important but:
do we really need to abort the operation when we are doing an abortive close from a finalizer? Isn't it better to ignore it, and enforce the abortive close?

[2020-08-26 19:42] jeffschwMSFT commented on #39603
I asked @JulieLeeMSFT and @mangod9 to take a look.  Sometimes things that have have lifetime issues can 'work' for many years before a slight change in allocations that yield the failure - we often see this with Timers, etc.

[2020-08-26 19:45] jeffhandley commented on #39603
Thanks, @jeffschwMSFT!

Even if it was introduced by outside factors, I think the fix would likely be along the lines of what @vcsjones [illustrated](https://github.com/dotnet/runtime/issues/39603#issuecomment-681050675).  Are there any objections to moving forward with that as the fix?

[2020-08-26 19:52] vcsjones commented on #39603
That wasn't a complete fix unfortunately, all it did was stop the temp .keychain file from being deleted. That change as-is will leave the disk cluttered with temporary keychains.

I think a correct fix would be to transfer ownership of the `SafeTemporaryKeychainHandle` to the `AppleCertificatePal` iif the PKCS12 file is loaded as non-persisted and the PAL is constructed with a `SafeSecIdentityHan

[2020-08-26 19:52] jeffschwMSFT commented on #39603
I think we need to take a closer look.  Based on the code pattern (embedded within a using), I am surprised that this is failing out of scope.

@jkotas @davidwrighton

[2020-08-26 19:56] vcsjones commented on #39603
I don't think this is a GC issue - I threw in the SuppressFinalize so the GC wouldn't clean up the handle (which deletes the temp keychain) and force it to leak. That snippet was solely there to at least confirm that is the source of some object-lifetime issue.

[2020-08-26 19:56] jeffhandley commented on #39603
Got it; thanks for the clarification, @vcsjones.

[2020-08-26 19:57] Zetanova commented on #41353
I made new a test project and/but it is working fine.
https://github.com/Zetanova/RijndaelManagedBugTest

After i made the same Dockerfile with my origin project
with the single project and UnitTest project and run all tests
The error appeared again.

Then i run only the single `crypt_big_data` test multiple times
and all were successful.

My suspicion is that xunit is executing unit tests in para

[2020-08-26 20:00] jeffhandley commented on #32416
Hi @lambdageek - checking in on this.  Thanks!

[2020-08-26 20:00] AndyAyersMS commented on #39603
I'll take a look at the codegen side to see what we're doing for GC tracking.

[2020-08-26 20:09] ericstj commented on #35076
Looks like @safern added back Editor in https://github.com/dotnet/runtime/commit/3130ac980c97c0664eddb04411f8f765a9f908d8

We are missing `TypeConverterAttribute` which on .NETFramework has the following value:
https://referencesource.microsoft.com/#System/compmod/system/componentmodel/IListSource.cs,17
[code]

@safern did you want to pick this up as it is very similar to the other work you've rec

[2020-08-26 20:12] ericstj commented on #39375
Editor attribute was fixed by @safern with https://github.com/dotnet/runtime/commit/3130ac980c97c0664eddb04411f8f765a9f908d8

@KlausLoeffelmann @DustinCampbell can you address @danmosemsft's question?

[2020-08-26 20:13] wjk opened #43977 "We need an official MSIX for Windows Desktop"
What the title says. I've been trying to shift as much of my deployment to MSIX as I can, but under the current state of affairs I have to copy the entire .NET 5 core and desktop runtimes into every package (either a self-contained app build, or manually copying `C:\Program Files\dotnet` under `VFS\ProgramFiles64`). This wastes space and increases download time. It would be even better if this MSI

[2020-08-26 20:19] ericstj commented on #30656
Not seeing this meet the bar for 5.0 at this point either.  We haven't seen a ton of interest in this outside of this report.  The risk here is substantial as this code has been around for decades now and is a critical piece of windows App models like Winforms and WPF.  We'd need to be very careful when touching this not to change behavior nor impact perf substantially.  We're not prepared to take

[2020-08-26 20:22] ericstj commented on #40208
@ViktorHofer were you going to have a look at this one now that you're back?

[2020-08-26 20:24] jkotas commented on #39603
Note that this is all new code

[2020-08-26 20:25] ericstj commented on #24101
@safern, do you know if this already happened?

[2020-08-26 20:31] jeffhandley commented on #37109
I'm unsure what action is needed on this based on @adiaaida's findings.
@ericstj - can you advise me on this please?

[2020-08-26 20:32] safern commented on #24101
Not yet. I'll take care of this this week.

[2020-08-26 20:32] ericstj commented on #41275
@marek-safar not sure where the best place for linker bugs is in dotnet/runtime, but let's keep them out of area-meta as that doesn't get the right eyes on them.

[2020-08-26 20:33] safern commented on #35076
Sure, why not.

[2020-08-26 20:42] #41231 closed

[2020-08-26 20:43] ericstj commented on #36132
@GrabYourPitchforks @jeffhandley if there is any work you're expecting to happen for 5.0 feel free to move this back.  Based on my read it doesn't meet the bar (unless we think there be risk behind them pragmas).

[2020-08-26 20:44] jeffhandley commented on #36132
@ericstj Thanks, I agree.  6.0.0 is fine.

[2020-08-26 20:47] DrewScoggins commented on #40942
Also seeing wins for System.Globalization.Tests.StringSearch in some of the IndexOf OrdinalIgnoreCase benchmarks. We are seeing that across x64, x86 Windows and x64 Ubuntu.

https://github.com/DrewScoggins/performance-2/issues/1375

[2020-08-26 20:47] jeffhandley commented on #38456
Moved to 6.0.0 per [discussion](https://github.com/dotnet/runtime/pull/40882#issuecomment-680615860) on #40882. Thanks, @huoyaoyuan.

[2020-08-26 20:47] radical commented on #41276
I tried:
[code]

and inspecting `l`, shows:
![Screen Shot 2020-08-26 at 4 45 30 PM](https://user-images.githubusercontent.com/1472/91355090-af0d3380-e7bb-11ea-82ee-a8c5a5795aa6.png)

The 3rd one seems to be fine though? @Zabato7 do you see something like this?

[2020-08-26 20:47] Maoni0 commented on #41413
I already talked to Peter about this.

[2020-08-26 20:49] WizardBrony opened #41417 "Threading.Timer: list thrashing"
Some time ago, `Threading.Timer` was enhanced to make the firing of the native timer more efficient. This was done by introducing the "short" and "long" lists within `TimerQueue`: `Timer`s with short due times will end up on the short list, and the rest will end up on the long list. The idea is that the long list doesn't need to be processed every time the native timer fires, only after a given th

[2020-08-26 20:52] ericstj commented on #41388
@GrabYourPitchforks can you have a look?  (sorry for removing Untriaged, usually when I see a milestone assigned I think it's been triaged).

[2020-08-26 20:52] blakemcbride commented on #41319
I am using C (not C++) in Linux.  I am able to call C# from C and then back to C.  I still need to work with the marshaling a bit.

I've got the following questions, however.

1.  Can you give me a link to the full documentation for load_assembly_and_get_function_pointer?

2.  (I'm not a C#/.NET expert.)  I presume in a DLL more than one class can exist.  In the call to load_assembly_and_get_funct

[2020-08-26 20:58] naricc commented on #41414
@trylek @ViktorHofer @safern @jkoritzinsky   Any suggestions on your end regarding this design?

[2020-08-26 21:01] vcsjones commented on #41353
Thanks for the GitHub repo. I tried running it several times and everything passed.

![image](https://user-images.githubusercontent.com/361677/91356031-ffd15c00-e7bc-11ea-9b78-7b8e145db8e5.png)

Is it possible that you have an old docker image of 3.1 pulled? Just to double check, can you change your `FROM` in your docker image to `FROM mcr.microsoft.com/dotnet/core/sdk:3.1.401` (Or make sure the l

[2020-08-26 21:04] #41368 closed

[2020-08-26 21:07] buvinghausen commented on #38812
@layomia where does this issue sit prioritization wise?  It's a pretty big miss in the json library to not implicitly check for type converters and use them when relevant.

[2020-08-26 21:11] AaronRobinsonMSFT commented on #41319
@blakemcbride These are all good questions. I think a good example of the instance method dispatch can be found [here](https://github.com/dotnet/docs/issues/18174#issuecomment-642124735).

The best documentation for this API is found [here](https://github.com/dotnet/runtime/blob/master/docs/design/features/native-hosting.md#loading-and-calling-managed-components).

See the above link for details,

[2020-08-26 21:13] ViktorHofer commented on #40208
Yeah will take a look

[2020-08-26 21:13] trylek commented on #41414
In the WebAssembly testing plan you also initially planned to build a huge wasm app containing all the tests and then you changed it to per-test wasm apps; do you expect that Android will have larger overhead that would make this impractical? One other partitioning we already support is test grouping into Helix work items / payloads - if it turns out that we need to combine multiple tests in one "

[2020-08-26 21:19] joperezr commented on #34173
ping @terrajobst 😄

Can we consider this done for 5.0 in terms of dotnet/runtime side?

[2020-08-26 21:20] davidwrighton commented on #32935
In particular, I believe the size work here was targeted at improving Linux container size, so that's the detail that needs to be looked at. @MichaelSimons do we have container size measurements?

[2020-08-26 21:21] GrabYourPitchforks opened #41418 "Enumerating type safety guarantees in MemoryMarshal and friends"
I realize that with `Unsafe`, `MemoryMarshal`, and friends entering wide use, we never formally stated what type safety guarantees (if any) the APIs offer. That is, we never provided a list of what APIs are "safe" and which are "unsafe equivalents" (related: https://github.com/dotnet/runtime/issues/31354).

This issue is an attempt to enumerate the APIs on `Unsafe`, `MemoryMarshal`, and related ty

[2020-08-26 21:23] joperezr commented on #2021
Pushing the milestone to 6.0 given @richlander comment above. We might still get it in for 5.0 but won't be tracked as a must-have.

[2020-08-26 21:26] AndyAyersMS commented on #39603
Since this fails with debug codegen it's also unlikely to be a jit GC tracking issue.

GC info leading up to the call to `ImportPkcs12` looks reasonable:
[code]

[2020-08-26 21:32] GrabYourPitchforks commented on #41353
I'd recommend removing your use of `ArrayPool` and rerunning the tests. We try to avoid use of the shared array pool within our own crypto libraries, opting either to use fresh arrays every time or to use an internal non-shared array pool marked exclusively for crypto use.

[2020-08-26 21:33] IronSean commented on #40639
@kouvel sent you a crash dump.

[2020-08-26 21:36] terrajobst commented on #34173
Confirmed

[2020-08-26 21:38] lewing commented on #41276
@Zabato7 what version of blazor are you using?

[2020-08-26 21:44] layomia commented on #38812
@buvinghausen

We've added support for more primitives as dictionary keys in 5.0 (https://github.com/dotnet/runtime/pull/38056), including `DateTime`. To support this feature, we added [new internal methods on `JsonConverter<T>`](https://github.com/Jozkee/runtime/blob/8b30e75791c027ffef3de02bef8ff4d9b86e9625/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs#L435

[2020-08-26 21:49] naricc commented on #41414
I'm still tracking down the numbers, but the overhead per building a minimal android app is much higher than building a wasm app. It takes 10 seconds to build as is roughly 10 MB in size, and on top of that needs to be send over to the simulator (sending 1000 apps is slower than one big app). So I am pretty sure its infeasible.

I believe leveraging the existing partitioning to create several larg

[2020-08-26 21:54] vcsjones commented on #40115
Failed again in https://dev.azure.com/dnceng/public/_build/results?buildId=789020&view=ms.vss-test-web.build-test-results-tab.

[2020-08-26 21:56] jkotas commented on #41418
- `ArrayPool<T>.Shared.Return` is unsafe too: Calling it more than once for given instance will lead to arbitrary state corruption.

- `ToEnumerable<T>(ReadOnlyMemory<T>)` and similar APIs are interesting case. If the memory was created from unmanaged source, the result is unsafe. Should it be considered unsafe by default since you cannot tell in general?

[2020-08-26 21:57] #37066 closed

[2020-08-26 21:59] Zetanova commented on #41353
I made a commit to my demo project
but still i cant reproduce the behavior.

It is basically a copy of the code and project properties.
But still the source projects already fails with only the 4 units test running.
But my demo-project never fails.

... very strange.

[2020-08-26 22:14] GrabYourPitchforks commented on #41418
@jkotas Those are both interesting points. There are lots of APIs which fall over if you create them from a poisoned source. `ToEnumerable` - as you had mentioned - is one example. But even `Memory<T>.get_Span` can be considered dangerous if both of the following are true: (a) the instance is backed by a `MemoryManager<T>`, _and_ (b) the instance was torn somehow. Then the resulting span can point

[2020-08-26 22:17] trylek commented on #41414
Hmm, taking 10 seconds to produce a 10 MB app sounds a bit slow on today HW but I guess it's what it is. Thankfully it seems to me that custom test setup is not that common. The most prevalent (572) is <code>CLRTestExecutionArguments</code> for both <code>BuildAndRun</code> and <code>RunOnly</code> tests. A handful of tests uses <code>CLRTestBatch/BashEnvironmentVariable</code> and I guess that ba

[2020-08-26 22:22] mangod9 commented on #41416
@JasonjhHuang would you be able to provide a repro and/or dump to diagnose the issue further?

[2020-08-26 22:23] EgorBo commented on #41418
I always wanted to make `ArrayPool<T>.Shared.Return` safe - e.g. do nothing if array object doesn't have a sort of "RENTED" bit set in its header (there are spare bits)

reminds me `Unsafe.NullRef<DateTime>().ToString()` leading to a runtime crash 😄

[2020-08-26 22:34] jkoritzinsky opened #41419 "Provide workflow to automatically port API docs to dotnet-api-docs"
During each release cycle we add new APIs and documentation for them. Currently, the process of moving docs over from the triple-slash comments in dotnet/runtime to the API docs on https://docs.dot.net has a number of manual steps.

I propose that we add a GitHub Action (preferable) or manually-triggered Azure DevOps Pipeline to auto-port the doc comments per-assembly to PRs opened against the dot

[2020-08-26 22:50] safern commented on #41419
Cc: @carlossanlop

[2020-08-26 22:50] safern commented on #41419
Marking as 6.0.0

[2020-08-26 22:53] ericstj commented on #36361
You shouldn't have links which rely on the position of a file in source control.  We don't maintain that as a public contract.  Can you update the external references, ideally to use fwlinks/aka.ms so that they're resilient to any changes in the future?

cc @jkotas @jnm2

[2020-08-26 22:57] buyaa-n commented on #37359
The analyzer merged, closing

[2020-08-26 22:57] #37359 closed

[2020-08-26 22:58] ericstj commented on #35691
Do you have a scenario for this?  Those directories don't typically contain useful information in managed (non C++/IJW) assemblies and S.R.M is largely focused on enabling the scenarios needed by managed tools (compilers and other design-time tools).   It doesn't aim to satisfy the scenarios of native toolchains.

[2020-08-26 23:06] ericstj commented on #34895
cc @tmat

As was mentioned this cannot work with Span unless the constructor copies, at which point it probably negates the value.  From where would you get a ReadOnlyMemory<byte> that you could pass to this without actually writing the unsafe code typically needed to implement this.

IOW, what scenario are you envisioning benefits from this API?  We don't usually add an API unless there is a clea

[2020-08-26 23:09] maryamariyan commented on #37860
Thanks for the issue @vladar107, I checked out your sample code and I see that it tries to investigate what happens to IOptionsSnapshot and IOptionsMonitor once a config value changes.

As you pointed out in the description, once the config value changes, even though the IOptionsSnapshot value eventually gets updated to its changed value, for scoped and transient (not singleton), we do also see an

[2020-08-26 23:13] layomia commented on #41408
@IanKemp what additional information would you like to see/add here? The error message contains the JSON path which helps you inspect the JSON property that contained the erring value.

Can you please provide more information here? What data annotations are these; can you point me to an example?

[2020-08-26 23:13] isadorasophia opened #41420 "Invalid backing object for unused nullable static value types"
It seems that the CLR is not correctly handling initialization of nullable static variables. The repro steps below should make the problem clearer.

#### Repro steps:
1. Start debugging the following app, either on x86 or x64, for .NET version **3.1.401** or **5.0.100-preview.8.20362.3**:
[code]

2. Stop at breakpoint;
3. Evaluate ```i``` at the **Watch Window**.  The following error message will

[2020-08-26 23:17] shadowfox87 opened #41421 "Segmentation Fault on .NET 5 build for standalone for ARM"
### Description

This bug is reproduceable on any version of .NET 5 after preview 6.
1. Build a standalone executable for Linux ARM, and use the produce single file option
2. It will give segmentation fault at the point on your code you instantiate a new TcpListener class. It works fine if you try on windows x64.

This is the line at where you will see it:
[code]
If you use the TRIM within the pro

[2020-08-26 23:20] jkotas commented on #41418
I think it is in the same category as `Read<T>(ReadOnlySpan<byte>)` or `AsRef<T>(in T)`. It won't corrupt or crash the core runtime. The incorrect use will introduce inconsistent state with very bad consequences for the program as a whole.

`ArrayPool<T>.Shared.Return` is actually worse than the other APIs because of it will cause data corruptions in unrelated part of the program.

I would not rea

[2020-08-26 23:21] tommcdon commented on #41420
@hoyosjs

[2020-08-26 23:24] tommcdon commented on #41125
Thanks for sending this.  I’m able to reproduce the issue on 3.1.7 x86.  Since the problem does appear to reproduce on 5.0, I’ll change the milestone to 6.0 and we will investigate the root cause and potential fix for 3.1
@davmason

[2020-08-26 23:37] reflectronic commented on #41418
ECMA-335 clearly states "Managed pointers cannot be null" (see §II.14.4.2). It does not take a very strict reading of the specification to see that they are completely disallowed. This is likely one of the parts that can be changed when the team figures out how to rev the specification.

[2020-08-26 23:37] blakemcbride commented on #41319
load_assembly_and_get_function_pointer has a parameter 'type_name'.  I need more detailed documentation on that.  Do have that?

Thanks for all the rapid help.  It really helps.  I appreciate it!!

[2020-08-26 23:48] Zetanova commented on #41353
**No issue with RijndaelManaged**

I found the mistake, it was me.

xUnit executes the tests in parallel,
the Password-UnitTests generated random passwords
and overwrote the static shared secret-dictionary
All used the key `test`

The error-message from RijndaelManaged with `Padding is invalid and cannot be removed.`
is just indicate that it's just the wrong key-material.

[2020-08-26 23:48] #41353 closed

[2020-08-26 23:49] AaronRobinsonMSFT commented on #41319
Bah. Oh that. That value is a huge pain and not obvious. That value is eventually passed to the following managed code:

https://github.com/dotnet/runtime/blob/cd91bf574981838b33ea38871808d3a39153fed9/src/coreclr/src/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComponentActivator.cs#L31-L46

The managed API that uses the string is at

https://github.com/dotnet/runtime/blob/cd91bf574

[2020-08-26 23:54] sbomer commented on #32168
Hi @prasadmamidi7, I was able to use localized resources for a simple console app: https://gist.github.com/sbomer/8ac67fb0a5370251c52fcf6f836353c9

Could you try that and let me know if it works for you? It's important to get the name of the `resx` file right - it should be the name of the type, not including the assembly (assuming the assembly name is the same as the namespace) - and that it matc

[2020-08-27 00:13] #41106 closed

[2020-08-27 00:14] BruceForstall commented on #40250
The set of timeout failures is not consistent. Following your manual trigger run were to scheduled runs:

https://dev.azure.com/dnceng/public/_build/results?buildId=783747&view=ms.vss-test-web.build-test-results-tab
https://dev.azure.com/dnceng/public/_build/results?buildId=784328&view=ms.vss-test-web.build-test-results-tab

There was one non-timeout failure:

Interop\COM\NETClients\Primitives\NET

[2020-08-27 00:21] EricCornelson opened #41447 "When debugging a Blazor WebAssembly project, removing a breakpoint while paused then refreshing the page (while still paused) causes the breakpoint to still be hit"
### Describe the bug

While paused on a breakpoint, if a user removes the breakpoint, then refreshes the page while still paused, the deleted breakpoint is still hit, and will be until the debug session is restarted (or chrome/edge devtools is closed and reopened).

### To Reproduce

Using the default Blazor template from Visual Studio,

1. Set a breakpoint in the `IncrementCount()` method in coun

[2020-08-27 00:36] AndyAyersMS commented on #36681
Seeing if I can repro on Linux arm32.

[2020-08-27 00:44] echesakovMSFT commented on #40607
The underlying issue is identified and it's due to the following transformation in morph:
[code]
while before #40535 such tree would be morphed in the following way
[code]

As a consequence, the upper 3 bytes of local have arbitrary values as it was demonstrated in #40871.

The approach when we set `varDsc->lvForceLoadNormalize = true` and force loads to be normalized doesn't work since we might h

[2020-08-27 00:45] tarekgh commented on #41104
@eiriktsarpalis @GrabYourPitchforks could you please triage this?

[2020-08-27 00:46] GrabYourPitchforks commented on #41388
This is a non-shipping component, but it's still useful to figure out where the perf loss came from.

[2020-08-27 00:52] tarekgh commented on #37641
This is servicing port request so I changed the milestone to 6.0 as we don't have 2.x milestones and this is not 5.0 issue.

[2020-08-27 00:53] blakemcbride commented on #41319
Thanks!  I am passing several different types between C & C#.  All are working well except opaque pointers (void *).  That's very important to me.  I have a pointer I am passing to C# and then back to C.  It should be the same value but it's not.  How can I do that?

Thanks!!

[2020-08-27 00:55] sos-dll commented on #41379
tldr: For convenience reasons. It would be appreciated. 👍

<details><summary>Bear with us (consumers)</summary>
<p>

*Christoph, you beat me to it.* (I was looking for this library on nuget yesterday and didn't find it, and now here's a request..)
It would be nice to avoid using some private feed (or alternatively stop wasting time pulling-compiling and setting up a local feed).
Can't speak to whe

[2020-08-27 00:56] Dewera commented on #34895
There are many scenarios that yield a regular byte array i.e. `WebClient.DownloadData` that could represent the bytes of a portable executable. Currently, if you have a regular byte array and want to use the `PEReader` class, you need to perform a copy as mentioned above. If there was an overload for a `ReadOnlyMemory`, an implicit cast could be used to avoid this copy.

Furthermore, going forward

[2020-08-27 01:02] jonpryor commented on #41414
Question: is there a way to get a "`dotnet` host" built *for Android*?  Not a `.so`; an executable binary.

I know of at least one person who has expressed interest in such a thing. :-)

*If* you can do that, then you don't need to create an Android `.apk` *at all*.

(Channel additional inspiration from: https://gist.github.com/jonpryor/55670ee1b15c421f3fa2f0c9e29a01e9 )

With lots of hand-waving,

[2020-08-27 01:12] sandreenko commented on #41130
https://github.com/sandreenko/runtime/commit/9abb9ad23f93c1da3c90cf4175f55c34d5c6e0dc reproduces the issue:
[code]
working on a fix.

[2020-08-27 01:29] maryamariyan commented on #41117
looking..

[2020-08-27 01:33] GrabYourPitchforks commented on #41388
Transcoding workhorse routine on 3.1.x x86:

[code]

[2020-08-27 01:38] tommcdon commented on #41125
Callstack of debuggee at point of failiure:

0:000> k
  *** Stack trace for last set context - .thread/.cxr resets it
 # ChildEBP RetAddr
00 0317e010 7c1b42bf coreclr!__report_gsfailure+0x17 [d:\agent\_work\3\s\src\vctools\crt\vcstartup\src\gs\gs_report.c @ 220]
01 (Inline) -------- coreclr!DoJITFailFast+0x4 [f:\workspace\_work\1\s\src\vm\jithelpers.cpp @ 5096]
02 (Inline) -------- coreclr!CrawlFr

[2020-08-27 01:40] JasonjhHuang commented on #41416
@mangod9

This library actually is from vendor, so it's hard to provide a repro to you. However, the crash message in dmesg is like this:

`[2497637.480662] traps: .NET ThreadPool[32490] general protection fault ip:7f6ba3dcf3d7 sp:7f6b3973a498 error:0 in libXXXX.so[7f6ba3d95000+5b000]`
`[2567674.665142] traps: .NET ThreadPool[5138] general protection fault ip:7fb5a62243d7 sp:7fb5a5984498 error:0 i

[2020-08-27 01:55] RussKie commented on #41125
I don't think it is, only 3.1 appears to be affected.

[2020-08-27 01:56] AaronRobinsonMSFT commented on #41319
@blakemcbride What are the signatures being used here? Both the C and C# function signatures.

[2020-08-27 02:15] blakemcbride commented on #41319
The pointer is meaningful in C but not C#.  I want to pass it into C# and allow C# to pass it back at another time.  So basically, I don't want the process to mess with the pointer.

Thanks!

[2020-08-27 02:34] AaronRobinsonMSFT commented on #41319
@blakemcbride I get the desire to not impact the pointer value, what I am inquiring about is what signatures have you tried?

Consider the following C function signature:

[code]

In C# the following signatures could be written to call the above function:

[code]

Each of the above has different trade-offs and semantics. Understanding what you have tried and what you haven't is helpful in describi

[2020-08-27 02:48] srxqds opened #41423 "Is there any schedule of .net6 preview1 release date?"
I found this issue https://github.com/xamarin/xamarin-macios/issues/8955 said the .net6 preview1 milestone.

we are embeding with mono runtime, but some features like **Unloadable AseemblyLoadContenxt**, **Profiler** with mono are not working?
We hope these can be compeleted soon.

thank you.

[2020-08-27 02:51] tmds commented on #40301
When the `Socket` gets closed (by the user explicitly, or on the finalizer thread) we want all threads that are performing a blocking operation on the `Socket` to unblock (and return something like `SocketError.OperationAborted`).

[2020-08-27 03:02] tmds commented on #40301
Anton, I think we could `dup` the `SafeSocketHandle` so the `SafePipeHandle` has it's own kernel-level reference. wdyt?

[2020-08-27 03:28] iSazonov commented on #40942
A day before PowerShell MSFT team tried to move to .Net 5.0 Preview8 but without success. I guess I can do some measurements only after we move to RC1.

/cc @SteveL-MSFT @daxian-dbw for information.

[2020-08-27 04:20] prasadmamidi7 commented on #32168
Thank you.

This is resolved once I  have moved to dotnet core 3.1 version.

Thanks
Prasad Mamidi.

On Thu, 27 Aug 2020 at 05:24, Sven Boemer <notifications@github.com> wrote:

--
Regards
Prasad Mamidi

[2020-08-27 05:02] davidfowl commented on #27748
Assigning this to myself to take a deeper look.

[2020-08-27 05:34] GrowSharp commented on #38609
I completely agree.

[2020-08-27 05:46] jkotas commented on #41423
We will start .NET 6 previews after .NET 5 release. I expect that the .NET 6 previews schedule will follow similar pattern as .NET 5 previews. There are no fixed dates nor exact list of features that are going to ship in given preview.

If there are specific features you are looking for in Mono, you may want to watch the issues for specific features. For example,
 https://github.com/dotnet/runtime

[2020-08-27 05:46] #41423 closed

[2020-08-27 06:34] raffaeler commented on #30656
@ericstj Correlating the issues between LoadContexts and the TypeDescriptor is definitely too hard to have some feedback after such a short amount of time.
Also, many companies are just planning the migration of old apps to .NET Core and didn't happen yet.
I suspect this issue can be a blocker for those who will try to migrate and will immediately surrender to the fact that LoadContext «are not wo

[2020-08-27 06:51] mangod9 commented on #41379
@cshung will follow up on the requirements here and we will evaluate the best approach to get it officially published.

[2020-08-27 06:54] pureggerstefan opened #41429 "DateTime returns wrong time after updating target framework to net5.0"
After updating a Blazor WebAssembly App to .net5.0 a problem with DateTime occurs. When using e.g. DateTime.Now, it does not access the local time on my machine, instead it returns the current UTC-Time instead of the expected CEST. Changing any of my settings on the local machine does not affect the given value. With the previous used framework (.netstandard2.1), this problem does not occur.

[2020-08-27 06:58] roman380 commented on #41309
@AaronRobinsonMSFT

Reproducer: https://github.com/roman380/ComDependency_41309 see README for instructions

branch workaround has a solution for the issue: disable isolation, add it manually via manifest, copy the dependency to singlefilehost target folder after the build

[2020-08-27 07:03] RomainAn opened #41455 "Memory access out of bounds"
Hi everyone, hope everyone is healthy.

###  Describe the bug
Memory is out of bounds, when i'm retrieving from SignalR a list of custom objects (class containing 2 strings, 33000 items inside)
I also got this issue when calling using HTTP Get

### To Reproduce
- Create a blazor webassembly application
- Send a pretty decent list to the client when he get connected

### Exceptions (if any)
[code]

[2020-08-27 07:15] ericstj commented on #30656
We're at the RC stage in 5.0., unfortunately it's too late to jam in a change like this.  We still have a year for 6.0, we can put a change in early in 6.0 and let it bake to ensure it's solid before release.

Did anyone identify the specific tables impacted?  Some tables cannot be made completely weak as they back static API that needs to behave predictably.  Others can be made weak easily like `

[2020-08-27 07:18] kronic opened #41431 "Add constructors XmlSerializerNamespaces"
## Background and Motivation
reduction of allocations
## Proposed API
[code]
## Usage Examples
[code]
## Alternative Designs
No
## Risks
No

[2020-08-27 07:18] raffaeler commented on #30656
@ericstj I am not aware of other tables.

Is it also too late to expose a "free" like method to avoid nasty reflection workarounds?

[2020-08-27 07:22] GrowSharp commented on #38610
I was trying to get it work for a few hours yesterday, but unfortunately without success..
On the other side, I started reading `The Book of the Runtime` and discovered that I'm finally confident enough to start learning in depth how it all goes together.
I always wanted to be able to investigate these kind of issues on my own and in the process maybe become contributor. But I'm having hard time f

[2020-08-27 07:32] ericstj commented on #37109
You are looking at a package produced by the 2.1 branch.  This predates source linking infrastructure.

[2020-08-27 08:07] zlatanov commented on #31088
@davidfowl @karelz Now that the main branch is 6.0, will this be considered?

No feedback has been given since the API was proposed, almost 1 year ago (even just to say why it wasn't considered for 5.0 or at all). I'm sorry to say but it feels very off-putting.

[2020-08-27 08:20] yukozh opened #41434 "Does System.Net.Sockets.TcpListener support Multipath TCP?"
https://tools.ietf.org/html/rfc6824
@karelz

[2020-08-27 08:31] akoeplinger commented on #41356
We discussed and agreed we should just bump to latest stable since this is a standalone app.

[2020-08-27 08:43] mjd575 commented on #41391
I'm just curious why this slash is automatically added,  seems it is the default behavior.

[2020-08-27 08:45] KalleOlaviNiemitalo commented on #39895
Will this become easier to do when .NET Core 3.1 goes out of support on December 3, 2022? At that time, the change could still be valuable for use with .NET Framework.

[2020-08-27 09:07] antonfirsov commented on #40301
@tmds what will happen to those ongoing operations if we close the underlying handle?

I think we really need to distinguish between the finalizer and a normal Dispose. It already indicates a user bug, if a finalizer is being executed. Instead of being 100% correct handling blocking operations I would only aim for preventing handle leak in those cases.

I believe the way `CloseAsIs` works now in a

[2020-08-27 09:16] seonyounggg commented on #41391
`ToString`,  `AbsoluteUri` returns the canonically unescaped form of the URI. Otherwise, `OriginalString` returns the original non normalized string.

I think these Docs can help you.
[Uri.ToString](https://docs.microsoft.com/en-us/dotnet/api/system.uri.tostring?view=netcore-3.1) , [Uri.OriginalString](https://docs.microsoft.com/en-us/dotnet/api/system.uri.originalstring?view=netcore-3.1)

[2020-08-27 09:32] tmds commented on #40301
With 3.1 on-going operations didn't ref the `SafeHandle`. With 5.0 they do, and as a consequence they prevent the `SafeHandle` from getting released (that is: actually closing). So we need something to unblock the operations.

In case of a finalizer, we may assume there are no on-going operations, because those would prevent the `SafeHandle` from being finalized, right? So we may skip the `TryUnbl

[2020-08-27 09:39] CarnaViire commented on #41402
@wfurt I was looking for an existing issue before but GitHub search didn't show me that one :( Closing this as duplicate then

[2020-08-27 09:39] #41402 closed

[2020-08-27 09:46] ihlong commented on #40430
Cloud Native and WPF Must be AOT.
Windows client no runtime !   no JIT

[2020-08-27 09:54] krwq opened #41439 "Review #nullable disable files in Common directory"
As part of nullable effort some of the files in the Common directory were disabled. We should annotate them and fix potential errors among all projects it might affect.

(Search for `#nullable disable` in Common directory)

[2020-08-27 09:59] vdanche commented on #33550
Repro on Version 16.7.3 [30425.237.d16.7] with inserted 3.1.402 SDK when test september update
![image](https://user-images.githubusercontent.com/65637796/91426418-12b46100-e88f-11ea-9e6a-3334b4fa2b72.png)

[2020-08-27 10:25] antonfirsov commented on #40301
What I mean is that in a finalizer (instead of waiting for the handle to be released) we may want force-close the handle, independently of the ref-count/release mechanism.

Unfortunately, this is not true. In this particular case we are in the finalizer of the `Socket` instance, so ongoing P/Invoke-s have no effect on whether it's executed or not.

[2020-08-27 10:25] PeterSolMS commented on #41311
This PR has my fixes: https://github.com/dotnet/runtime/pull/41441

This fixes the asserts on both amd64 and arm64 for me.

[2020-08-27 10:36] IanKemp commented on #41408
@pranavkm The error message is generated by STJ, yes, but the **context** is model-binding which STJ has no concept of. My guess is that STJ will need to provide a hook to support this functionality, and ASP.NET will need to add its own hook to configure this in `ConfigureServices`. What is the correct approach for filing issues that are cross-cutting in this manner?

@layomia The attributes in th

[2020-08-27 10:43] KalleOlaviNiemitalo commented on #36165
If you worry about the array allocation, then perhaps `LogValuesFormatter.Format(object[])` can do it lazily when it finds an array element that cannot be used as is, i.e. the value is either `null` or an `IEnumerable` other than `string`. However, it would be best to have some benchmarks before adding such complexity. I don't know what fraction of log calls in real programs have null references a

[2020-08-27 10:49] EgorBo commented on #41414
that is a great idea! (if there are no pitfalls converting the dotnet host to android) but if we're fine with APK we can easily re-use the existing infrastructure. APK size for a typical runtime test shouldn't exceed 1-2 mb.

[2020-08-27 10:58] karelz commented on #41402
Duplicate of #41381

[2020-08-27 11:06] karelz commented on #41009
Fixed in 5.0 by PR #41372

[2020-08-27 11:07] #41009 closed

[2020-08-27 11:37] karelz commented on #31088
@zlatanov yes, we plan to get back to this in 6.0. Sorry if it felt off-putting, but sadly, we have only limited bandwidth and even though this was important, it was less important than other features/APIs and we just didn't have anyone to do the research and provide valuable input.
This API was literally right below the cut line of 5.0 from the business perspective.

Given our current priorities

[2020-08-27 11:38] antonfirsov commented on #40301
I just noticed this comment in `TryUnblockSocket`:

What does "indefinitely" mean here? Is it only for the time the blocking socket call is executing? Is it guaranteed to eventually return? Since it's a rare corner-case, in a finalizer it might be acceptable to wait for a blocking call. (As an alternative of of keeping the behavior where `SafeSocketHandle.DangerousAddRef` is risking a finalizer th

[2020-08-27 11:43] karelz commented on #41391
@mjd575 I believe the slash is required by the Uri RFC. Without slash, it is not well formed IMO -- @MihaZupan will be able to say for sure.

[2020-08-27 11:47] karelz commented on #41434
Never heard of that, so I guess we do not support it.
What do you need it for? Is it widely used standard?
I wonder if the OS -- Windows / Linux / Mac support it.

[2020-08-27 11:56] xiangzhai commented on #41311
Linux ARM64 testcase PASSED!

Thanks,
Leslie Zhai

[2020-08-27 12:08] EgorBo commented on #40723
ok so english names are expected to be in the timezoneinfo binary file cc @tqiu8

[2020-08-27 12:16] xiangzhai commented on #36204
[Fixed](https://github.com/gsvm/coreclr/commit/ab587921f8b91b3c59e24e388ee64eda4af2a43d#diff-4cbc7cebee869048dc921baad12c9240) GCStress=0x4 infinite loop related issue for MIPS64.

[2020-08-27 12:25] xiangzhai commented on #36204
[CoreCLR MIPS64](https://github.com/gsvm/coreclr) is not able to repro the crash either.

[2020-08-27 12:51] #41356 closed

[2020-08-27 12:53] akoeplinger commented on #41414
Only if we run the linker :)

[2020-08-27 13:08] MihaZupan commented on #41391
I believe it may have been required by ancient Url specifications, though not required by the current spec. So having the slash there can theoretically improve compatibility.

Chrome will for example add slash when making a request. See http://example.com?foo=bar

I don't see any value in omitting it - is there a use-case behind it, or just curiosity?

[2020-08-27 13:19] wzchua commented on #25958
It does not fix that. It appears return type also have custom modifiers that aren't being included in the signature

[2020-08-27 13:25] JeroMiya commented on #4584
@ygc369 @AndyAyersMS Couple of questions:

Can the compiler inject hints into the CIL for the JIT to to reduce the performance impact of escape analysis on the JIT engine?

Secondly, however and whenever the escape analysis runs, does the optimization always have to be in the form of stack-allocated objects or scalar replacement? Would it be possible for the runtime/JIT/AOT to allocate and automat

[2020-08-27 13:33] PeterSolMS commented on #41413
See my PR https://github.com/dotnet/runtime/pull/41445

[2020-08-27 13:33] roji commented on #41090
Unfortunately ADO.NET doesn't (can indeed, cannot) fully abstract away the database with all its details. I believe that a properly-written provider would indeed take care of cancelling queries at the server, but if a provider doesn't, that's definitely to be taken up with them.

I'm going to go ahead and close this as not needed, but am happy to continue the conversation or to hear other ideas on

[2020-08-27 13:33] #41090 closed

[2020-08-27 13:38] akoeplinger commented on #40270
@jankotas it should be possible, but might need some tweaks in mono.proj which hooks msbuild with mono's autotools-based  build.

[2020-08-27 14:17] aik-jahoda opened #41446 "Update networking documentation for .net 5"
List of undocumented api:
PR|Api
--- | ---
 dotnet/dotnet-api-docs#4732 | F:System.Net.HttpVersion.Version30
  |  
 dotnet/dotnet-api-docs#4737 | M:System.Net.Http.ByteArrayContent.SerializeToStreamAsync(System.IO.Stream,System.Net.TransportContext,System.Threading.CancellationToken)
  |  
 dotnet/dotnet-api-docs#4737|M:System.Net.Http.FormUrlEncodedContent.SerializeToStreamAsync(System.IO.Stream,

[2020-08-27 14:29] MichaelSimons commented on #32935
@davidwrighton - Here is a generated graph which illustrates the image hierarchy and size comparisons between the 3.1 and 5.0 alpine images.  All sizes are the compressed images (size of the pulled image - wire cost).  If you want to see this for the other distros or for Windows, I can easily generate it.

Runtime and ASP.NET changes are minimal.  SDK growth is noticeable.

![image](https://user-i

[2020-08-27 14:33] KalleOlaviNiemitalo commented on #41391
Omitting the slash could make sense for distinguishing an `OPTIONS *` request ([RFC 7230 §5.3.4](<https://tools.ietf.org/html/rfc7230#section-5.3.4> "RFC 7230. Hypertext Transfer Protocol (HTTP/1.1): Message Syntax and Routing
Section 5.3.4. asterisk-form")) from `OPTIONS /`, as hinted by the URI normalization rule ([RFC 7230 §2.7.3](<https://tools.ietf.org/html/rfc7230#section-2.7.3> "RFC 7230. H

[2020-08-27 14:40] PeterSolMS commented on #41311
Thanks for testing @xiangzhai !

[2020-08-27 14:45] xiangzhai commented on #41311
You are welcome!

[2020-08-27 14:50] KalleOlaviNiemitalo commented on #41431
Do you mean `XmlSerializerNamespaces` would save the `IDictionary<string, string> namespaces` reference, instead of copying the keys and values to its private dictionary and calling `ExtensionMethods.ToUri`, which also allocates?

Or would the savings come only from being able to allocate the private dictionary with the correct size, instead of expanding it repeatedly? In which case, an `XmlSerial

[2020-08-27 15:01] blakemcbride commented on #41319
Hi.  Except for getting or creating detailed docs on load_assembly_and_get_function_pointer parameter 'type_name' parameter, I think I've got everything I need.  I am able to call C -> C# and C# back to C.  I can also pass and return all data types I need.  It all runs on Linux.  If you like, I can upload it for you.

Thanks for all the help!

[2020-08-27 15:03] am11 commented on #41026
Given the excerpt from DbType docs:
<img width="897" alt="image" src="https://user-images.githubusercontent.com/3840695/91459507-632bbe80-e88f-11ea-81ad-68e2dfbf710d.png">

In the context, where `DecFloat16` and `DecFloat34` are intended to be used, do the existing `Double` and `Decimal` hold any particular (differentiating) meaning? If not, can they be used instead, respectively?

[2020-08-27 15:12] jonpryor commented on #41414
One additional "pro" of the [approach discussed above](https://github.com/dotnet/runtime/issues/41414#issuecomment-681201210) is that if any of the tests involve process exit/unhandled exceptions/etc., they will work "reasonably", without pulling in Android+Java process exit complexities.

One "con" of that approach is that it can't easily involve Java code.  "Normal" Android process startup has a

[2020-08-27 15:14] jonpryor commented on #41414
Possibly useful Discord conversation links:

  * https://discordapp.com/channels/732297728826277939/732297837953679412/748284420712038501
  * https://discordapp.com/channels/732297728826277939/732297837953679412/748285976316477540
  * https://discordapp.com/channels/732297728826277939/732297837953679412/748515030898704444

[2020-08-27 15:19] thaystg commented on #41447
@radical , If you want I can take a look! 👍

[2020-08-27 15:19] wzchua commented on #25958
hmm, the methodInfo seems wrong
[code]
The string signature shows `Char& get_Item(Int32)`
The customAttribute is `[System.Runtime.CompilerServices.IsReadOnlyAttribute()]`

From sharplab, the call uses this signature
[code]

[code]
I can confirm that the token can now be resolved but the method still throws an exception when invoked

[2020-08-27 15:27] tannergooding commented on #4155
No, but .NET 5 brought about some register allocator changes that should (hopefully) make it simpler to support now.

[2020-08-27 15:31] tannergooding commented on #41332
@RamType-0, do you mean why do the .NET names differ from the C/C++ names?

e.g `Sse3.MoveAndDuplicate` vs `_mm_movedup_pd`?

[2020-08-27 15:47] eerhardt opened #41448 "SchemaExporter.ExportEnumDataContract is never called, but has a NullReferenceException"
`EnumDataContract` in System.Private.DataContractSerialization has a member `BaseContractName` which is never set on .NET Core:

https://github.com/dotnet/runtime/blob/aa5fdab9654d74bc6274c0b5d820272c8e859621/src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/EnumDataContract.cs#L27

However, this member is dereferenced in `SchemaExporter.ExportEnumDataContract

[2020-08-27 15:51] yukozh commented on #41434
Mac & Linux is supported that in OS level. It will accept TCP kind `30` when hand shake

[2020-08-27 16:01] scalablecory commented on #41434
There appears to be Linux and Mac support, so it may be worth doing. It especially seems like something that would be useful for mobile developers. Note though that the RFC is explicitly experimental and so it's not clear that it's appropriate for us to provide first-party support:
[code]

However, if using it is as simple as setting some socket options, you can use the new `Socket.SetRawSocketOpt

[2020-08-27 16:06] yukozh commented on #41434
Maybe the RFC is long time has no update. Apple is already make this to be production level. It is supported by iOS and MacOS very well. And the linux is also supported this in OS level.

[2020-08-27 16:07] naricc opened #41449 "Microbenchmark System.Threading.Tests.Perf_Volatile.Read_double is 3,630 % slower on Wasm vs. desktop interpreter."
Microbenchmark System.Threading.Tests.Perf_Volatile.Read_double is  3,630 % slower on Wasm vs. desktop interpreter.

System.Threading.Tests.Perf_Volatile.Write_double is also slow (%866), the causes are probably related.

Repro Instructions for running benchmarks locally:
https://gist.github.com/naricc/efdc186951a912507550509b21fb992b

[Results page when reported.](https://pvscmdupload.blob.core.w

[2020-08-27 16:07] DevDrake opened #41450 "MetadataLoadContext could project reflected assemblies to current runtime"
## Background and Motivation

Currently when using `MetadataLoadContext ` an dll we need to provide base(like `mscorlib`) that was used to compile it. When over different runtime dll we are taking types from that library and so the base types cannot be compared. To check if a type is e.g. `bool`, we need to compare the types by `FullName `or with another hack.
This causes that user types, are seen

[2020-08-27 16:08] DevDrake commented on #36682
#41450

[2020-08-27 16:08] mangod9 commented on #41398
Here is a simple repro:

[code]

|                  | 3.1 (Alpine) | 5.0 p8 (Alpine) |
|------------------|:------------:|:---------------:|
| Gen0 Collections |          330 |           12653 |
| ElaspedTicks     |     68689200 |       368227200 |

[2020-08-27 16:12] karelz commented on #31387
@aik-jahoda please add the Obsolete attribute, @MihaZupan will help with writing the right docs later.

[2020-08-27 16:14] naricc opened #41451 "Microbenchmark System.Buffers.Text.Tests.Utf8ParserTests.TryParseDateTimeOffset is 1,781 % slower on Wasm vs. desktop interpreter"
Microbenchmark System.Buffers.Text.Tests.Utf8ParserTests.TryParseDateTimeOffset(value: 12/30/2017 3:45:22 AM -08:00) is  1,781 % slower on Wasm vs. desktop interpreter.

[Repro Instructions for running benchmarks locally](https://gist.github.com/naricc/efdc186951a912507550509b21fb992b  )

[Results page when reported.](https://pvscmdupload.blob.core.windows.net/reports/08_26_2020/report_Daily_ca=x6

[2020-08-27 16:14] MihaZupan commented on #41177
Closing again as the backport PR has been merged.

[2020-08-27 16:14] #41177 closed

[2020-08-27 16:15] karelz commented on #41013
Fixed in 5.0 in #41371

[2020-08-27 16:15] #41013 closed

[2020-08-27 16:17] tannergooding commented on #41262
Has it been determined yet if the issue exists in System.Drawing or in libgdiplus?

[2020-08-27 16:19] wfurt commented on #40938
fixed by  #41370

[2020-08-27 16:19] #40938 closed

[2020-08-27 16:21] naricc opened #41452 "Microbenchmark BenchmarksGame.FannkuchRedux_9.RunBench is 1,395 % slower on Wasm vs. desktop interpreter."
Microbenchmark BenchmarksGame.FannkuchRedux_9.RunBench(n: 11, expectedSum: 556355) is  1,395 % slower on Wasm vs. desktop interpreter.

BenchmarksGame.FannkuchRedux_5.RunBench(n: 10, expectedSum: 38) is also % 1,267 slower, probably for the same reason.

[Repro Instructions for running benchmarks locally](https://gist.github.com/naricc/efdc186951a912507550509b21fb992b  )

[Results page when report

[2020-08-27 16:22] tannergooding commented on #41245
Will check, I need to rebuild dotnet/runtime anyways now that I'm back from vacation 😄

[2020-08-27 16:24] #32168 closed

[2020-08-27 16:26] RamType-0 commented on #41332
No.
I mean `Sse3.MoveLowAndDuplicate` vs `Avx.DuplicateEvenIndexed`.

[2020-08-27 16:29] nxrighthere commented on #41319
Guys, any idea how to get a function pointer of a managed method in .NET 5 with `MethodInfo` obtained using reflection similar to `Delegate.CreateDelegate()` with `Marshal.GetFunctionPointerForDelegate()`? `MethodHandle.GetFunctionPointer()` is for internal runtime usage, so not sure how to handle properly such case.

[2020-08-27 16:36] naricc opened #41454 "Microbenchmark System.Numerics.Tests.Perf_BitOperations.PopCount_ulongis 464 % slower on Wasm"
Microbenchmark System.Numerics.Tests.Perf_BitOperations.PopCount_ulongis  464 % slower on Wasm vs. desktop interpreter.

[Repro Instructions for running benchmarks locally](https://gist.github.com/naricc/efdc186951a912507550509b21fb992b)

[Results page when reported.](https://pvscmdupload.blob.core.windows.net/reports/08_26_2020/report_Daily_ca=x64_cb=refs-heads-master_co=Ubuntu1804_cr=dotnetrunti

[2020-08-27 16:40] jkotas commented on #41319
`MethodHandle.GetFunctionPointer()` does the same thing as `&<method-name>` in C# 9.

If the method is marked with `UnmanagedCallersOnlyAttribute`, it is fine to use `MethodHandle.GetFunctionPointer()` for the scenario that you are describing.

[2020-08-27 16:43] nxrighthere commented on #41319
Oh, that's awesome, thanks!

[2020-08-27 16:45] cincuranet commented on #41026
The i.e. `double` is binary floating point, while `decfloat` is decimal floating point. The range of `DECFLOAT(16)` is -9.999999999999999 x 10^384 to -1.0 x 10^-383 : 1.0 x 10^-383 to 9.999999999999999 x 10^384. That doesn't quite match. I would say it's a similar story to `DbType.DateTime` and `DbType.DateTime2` (at least how it's related to `SqlClient`).

[2020-08-27 16:49] tannergooding commented on #41332
Likely just an oversight here.

`DuplicateEvenIndexed` and `DuplicateOddIndexed` are the logically better names, while `MoveLowAndDuplicate` is the description used for the `double` variant, as it only has two indices for the 128-bit version.

[2020-08-27 16:50] naricc opened #41456 "Wasm Span Benchmarks over 400 % slower than Desktop Interpreter"
Several Span benchmarks are over 400 % slower compared to desktop interpreter:

System.Memory.Span<Char>.SequenceCompareTo(Size: 512)
System.Memory.Span<Int32>.SequenceEqual(Size: 512)
System.Memory.Span<Char>.SequenceEqual(Size: 512)
System.Memory.Span<Int32>.EndsWith(Size: 512)
System.Memory.Span<Int32>.StartsWith(Size: 512)

[Repro Instructions for running benchmarks locally](https://gist.githu

[2020-08-27 17:05] Clockwork-Muse opened #41457 "Random.NextBytes is very slightly biased against 0xFF"
`NextBytes(byte[])` [is implemented like so](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/Random.cs#L237-L244):

[code]
(side note: why no `unchecked` on the cast...?)

The `Span<byte>` version has the same effective implementation if `Next()` has not been overridden.

The problem is that `InternalSample()` returns values in the range [`0`, `int.Max

[2020-08-27 17:10] qmfrederik opened #41458 "ECDsa.ImportSubjectPublicKeyInfo fails for ecPublicKey with algorithm-specific parameters"
I have the following PublicKeyInfo:

[code]

Importing this public key into an `ECDsa` instance like this:

[code]

fails:

[code]

The original `PublicKeyInfo` was generated by BouncyCastle.

Is this a bug or am I using the API wrong?

[2020-08-27 17:29] bartonjs commented on #41458
I think the problem is that your base point is encoded with point compression `03 6B 17 D1 F2  E1 2C 42 47 F8 BC E6 E5
63 A4 40 F2 77 03 7D 81  2D EB 33 A0 F4 A1 39 45 D8 98 C2 96`.  Only uncompressed (04) points are supported.

[2020-08-27 17:30] antonfirsov commented on #40301
Looks like `SafeSocketHandle.DangerousAddRef` became unsafe with this PR:
https://github.com/dotnet/corefx/pull/38499

I wonder if the concern of indefinite spinning (or blocking `close`) was discussed in that PR /cc @wfurt

[2020-08-27 17:33] #41117 closed

[2020-08-27 17:33] vcsjones commented on #41458
Beaten by Jeremy (again), but yes, you're hitting this limitation:

https://github.com/dotnet/runtime/blob/0b02200ebc215496fddd228030fccc3bf0b53ce5/src/libraries/Common/src/System/Security/Cryptography/EccKeyFormatHelper.cs#L438-L442

[2020-08-27 17:34] jeffhandley commented on #37109
OK, thanks @ericstj. Does that mean this should be closed as won't fix?

[2020-08-27 17:35] rjmholt opened #41459 "UTF7 warning unsuppressable"
### Description

We're currently migrating our codebase to .NET 5-preview.8.

We have some code that essentially forwards the UTF7 obsoletion message like this:

[code]

Following [this doc](https://docs.microsoft.com/en-us/dotnet/core/compatibility/corefx#utf-7-code-paths-are-obsolete), I added suppression pragmas around the offending code like this:

[code]

However, when building, we still hit

[2020-08-27 17:39] heng-liu opened #41460 "Chain building doesn't respect X509ChainPolicy.VerificationTime on Linux"
### Description
According to [X509ChainPolicy.VerificationTime Property](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.x509certificates.x509chainpolicy.verificationtime?view=net-5.0), even if the certificate is revoked, we can specify X509ChainPolicy.VerificationTime to a time when the certificate is not yet revoked, to make the chain build successful.
But on Linux, the

[2020-08-27 17:39] marek-safar commented on #41275
This issue was moved to mono/linker#1457

[2020-08-27 17:39] #41275 closed

[2020-08-27 17:41] tannergooding commented on #41108
The test wasn't disabled was it? I don't see the failure in any recent runs.

[2020-08-27 17:46] safern commented on #41262
I remember seeing a similar issue, but I can't find it anymore. I believe this is a problem in `libgdiplus` and it could be the version of `libgdiplus` used on alpine. Given that this doesn't happen on Debian nor Windows, it confirms me that this is an issue with `libgdiplus` on alpine as the managed code is the same for al Unix flavors.

cc: @akoeplinger

[2020-08-27 17:49] rjmholt commented on #41459
Ah I see that in preview.8 the required warning code is `MSLIB0001` not `SYSLIB0001`!

[2020-08-27 17:49] #41459 closed

[2020-08-27 17:49] dleeapho commented on #3298
Let's take do this in 6.0 when we have time to 'close with' any package authoring toolset open questions.

[2020-08-27 17:50] EgorBo commented on #41454
ah, can fix as part of https://github.com/dotnet/runtime/pull/40069

[2020-08-27 17:51] eerhardt opened #41461 "XmlReader.IsStartElement namespace argument should allow null"
## Background and Motivation

XmlReader has 3 overloads of `IsStartElement`:

https://github.com/dotnet/runtime/blob/46dd8ed88bd5f1968ff09aa36d64667c1547aa19/src/libraries/System.Xml.ReaderWriter/ref/System.Xml.ReaderWriter.cs#L805-L807

Calling the last overload with `ns == null` doesn't act like calling the middle overload. In other places in XmlReader, the "namespace" parameter is optional and

[2020-08-27 17:53] #41274 closed

[2020-08-27 17:54] karelz commented on #41304
Reopening for 5.0 backport in #41453

[2020-08-27 17:58] AaronRobinsonMSFT commented on #41319
@blakemcbride Issue filed for clearer APIs: https://github.com/dotnet/dotnet-api-docs/issues/4733

Thanks @vitek-karas!

[2020-08-27 17:59] #41319 closed

[2020-08-27 18:00] ericstj commented on #37109
I believe so.  Just one small thing to clear up.

What did you mean by this, @clairernovotny?  I wouldn't expect a 4.5.1 package to be produced by any current builds.

[2020-08-27 18:01] davidwrighton commented on #32935
Partial ngen isn't really applied to anything in the sdk, so the sdk size growth is something else. To be honest it looks like in the case of the sdk.razor size increase its due to actually crossgenning the sdk in some form, but again, that's not affected by the policy change around partial ngen which probably only affects the runtime and possibly the aspnet containers.

Looking at the results fro

[2020-08-27 18:03] MichaelSimons commented on #32935
@davidwrighton, consider checking with the performance team on this as well.  I was told they were investigating or have some checks in place that monitor the _product_ size.  IDK any details.

[2020-08-27 18:06] GrabYourPitchforks commented on #41459
Glad you found the workaround. Also, from that same page, check out the __Recommended action__ section for the recommended way of checking whether an incoming `Encoding` instance is UTF-7:

[code]

[2020-08-27 18:09] GrabYourPitchforks commented on #41457
Possible dupe of https://github.com/dotnet/runtime/issues/23198.

[2020-08-27 18:10] vcsjones commented on #41458
For what it's worth, this _looks_ like a standard NIST P256 key that's been explicitly encoded. "6b17d1f2e12c4247f8bce6e563a440f277037d812deb33a0f4a13945d898c296" is the G<sub>x</sub>, "5ac635d8aa3a93e7b3ebbd55769886bc651d06b0cc53b0f63bce3c3e27d2604b" is B, etc.

If I am right, I think it would make more sense to have BC use named P-256 curve keys.

[2020-08-27 18:21] jeffhandley commented on #41459
I'm sorry for the trouble on this, @rjmholt!  I'm glad you figured it out.

[2020-08-27 18:24] vcsjones commented on #41460
Hm, I'll take a look.

@bartonjs for labels.

[2020-08-27 18:27] Maoni0 commented on #41398
yeah this is clearly relate to *calculating* the minimal gen0 budget because this test, which allocates only temporary objects, will only trigger gen0 GCs that will always have a min gen0 budget. The min gen0 budget is calculated in `get_gen0_min_size` so something in that method changed.

[2020-08-27 18:27] tannergooding commented on #40956
I don't believe there is a trivial way to adjust the libm bound against today (CC. @jkotas?).
* The closest thing we have is likely the PAL layer, which enables some of its own redirections for various fixups required. I don't believe it is applicable to Windows, however.

The Windows x64 libm implementation is currently mostly https://github.com/amd/win-libm (but is internal and existed prior to

[2020-08-27 18:45] jeffhandley commented on #41354
@buyaa-n can you post instructions on how to recreate these lists so that if someone else picks this issue up, they'll be able to reproduce the list and test their work?

[2020-08-27 18:50] Clockwork-Muse commented on #41457
@GrabYourPitchforks - I mean, that issue is about the fact that there's a deviation in the algorithm used to generate what `InternalSample()` returns.

This one is more about how there's a slight bias due to the fact that `InternalSample()` doesn't return `int.MaxValue`.  That is, even if there was no deviation in the algorithm, there would still be this issue.

Although yes, it may end up being a

[2020-08-27 18:52] sandersaares commented on #11314
We have a scenario where our app processes very large quantities of packets using IOCP to retrieveing and process batches of events on particular threads. This app is currently written in C++ to ensure we have the fine grained control we need. Making greater use of .NET for more developer-friendly business logic and higher-level feature implementation is something that keeps popping up now and the

[2020-08-27 18:57] jkotas commented on #40956
On Linux, the dynamic library loader supports overriding libc methods via `LD_PRELOAD`. It is often used to override malloc. There is not anything like that on Windows.

Should this be filled as performance bug against Microsoft Visual C++? We can always work around it locally, but it does not help in the grand scheme.

[2020-08-27 18:58] ericstj commented on #37109
I think it's fine to close for now, @clairernovotny can reactivate if there are any concerns.  I can say definitively we don't have this issue in 5.0.0 since we don't even produce that package.

[2020-08-27 19:00] #37109 closed

[2020-08-27 19:04] buyaa-n commented on #41354
Sure:
1. build roslyn-analyzer repo (release/dotnet5-rc1 branch) in release mode and copy produced dlls into the corresponding nuget package consumed by runtime repo [instructions here](https://github.com/dotnet/roslyn-analyzers/blob/master/docs/NetCore_GettingStarted.md#testing-against-the-runtime-and-roslyn-analyzers-repo) (or just ping me for the roslyn-analyzer dlls)
2. command used for produc

[2020-08-27 19:05] qmfrederik commented on #41458
OK, thanks for looking into this. This is the point compression algorithm defined in [section 2.3.3: EllipticCurvePoint-to-OctetString Conversion](https://www.secg.org/SEC1-Ver-1.0.pdf) (page 10)?

Is there a specific reason to not support this (in the sense of, would you accept a PR which did this)?

@vcsjones I'll double-check whether BC uses compression by default, or whether it was for this ke

[2020-08-27 19:06] davmason commented on #41125
@tommcdon I'll take a look, my hunch is that it's related to #40637. If not it suggests that the debugger is corrupting the stack somehow

[2020-08-27 19:09] joperezr commented on #41421
cc: @eerhardt this sounds like we are missing an annotation on System.Net.Sockets causing us to trim things that we shouldn't be trimming.

[2020-08-27 19:10] joperezr commented on #41421
if it is indeed a missing annotation, then we probably will want to take this for 5.0

[2020-08-27 19:18] jeffhandley commented on #41354
To resolve this, we should:

1. Use a local build of the analyzer and locally enable it to resolve all of the issues in runtime, and submit a PR for those fixes into `master`, while leaving the analyzer disabled
2. Port the PR from step 1 into the `release/5.0` branch (before Sept 4 to make RC2)
3. Take in an official build of the NetAnalyzers package and enable the analyzer in `master`; this will

[2020-08-27 19:19] eerhardt opened #41465 "NullReferenceException in XmlObjectSerializerReadContext.ReplaceDeserializedObject"
It is possible for `null` objects to be passed to `XmlObjectSerializerReadContext.ReplaceDeserializedObject`:

https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlObjectSerializerReadContext.cs#L400-L416

The `throw` statement de-references the objects to call `GetType()` on them

[2020-08-27 19:27] vcsjones commented on #41458
Yes.

I can't speak for the .NET team, but there are two things working against point compression. The first is patent issues, though my understanding is that patents on point compression expired in 2018 (Not a lawyer, etc). The other, likely due to the former, not a whole not of software accepts compressed EC points. (I don't believe Apple's CoreCrypto accepts compressed keys, for example). OpenS

[2020-08-27 19:28] ericstj commented on #40159
We should also file a bug on the SDK, since they shouldn't NRE when seeing a simple-name reference here: https://github.com/dotnet/sdk/blob/a5f5bb5183517cb301050288b25c9c727e52e8a6/src/Tasks/Microsoft.NET.Build.Tasks/ReferenceInfo.cs#L150

@Anipik / @ViktorHofer why would this test even be *referencing* a `net5.0-unix` configuration.  Even the `unix` build of the test should be using reference ass

[2020-08-27 19:52] fanyang-mono opened #41470 "CoreCLR tests on WASM: function signature mismatch"
### Description
CoreCLR runtime tests failed with this syndrome:
[code]
Affected tests are:
- JIT/HardwareIntrinsics/Arm/AdvSimd/*
- JIT/Methodical/tailcall/_il_reltest_void/_il_reltest_void.sh
- JIT/Methodical/tailcall/_il_dbgtest_void/_il_dbgtest_void.sh
- JIT/Methodical/tailcall/_il_dbgrecurse_ep_void/_il_dbgrecurse_ep_void.sh
- JIT/Methodical/tailcall/_il_relrecurse_ep_void/_il_relrecurse_ep_v

[2020-08-27 19:52] karelz commented on #41421
@joperezr is it something we (Networking team) should help with?

[2020-08-27 19:56] qmfrederik commented on #41458
OK, makes more sense now. The difficulty appears to be (still in section 2.3.4 of the same document) in step 2.4.3, where you need _may_ to solve a quadratic equation $ z^2 + z = \beta $, but only if $ q = 2^m $ and $ x_P \neq 0 $.

So let me figure out if I really need this (i.e. whether BouncyCastle enables compression by default or now), first.

[2020-08-27 20:00] BruceForstall commented on #36681
I simply upped the loops, from `1000000` to `100_000_000`, and `10000` to `1_000_000`. I presume you're already running the `COMPlus_GCStress=C`.

I'm also running with:
[code]
which might all be required.

[2020-08-27 20:04] fanyang-mono opened #41471 "CoreCLR tests on WASM: System.FormatException: Input string was not in a correct format"
### Description

CoreCLR runtime tests failed with this syndrome:
[code]
Affected tests are:
- JIT/Performance/CodeQuality/Benchstones/BenchF/Adams/Adams/Adams.sh
- JIT/Performance/CodeQuality/BenchmarksGame/binarytrees/binarytrees-2/binarytrees-2.s
- JIT/Performance/CodeQuality/BenchmarksGame/fasta/fasta-1/fasta-1.sh
- JIT/Performance/CodeQuality/BenchmarksGame/mandelbrot/mandelbrot-7/mandelbrot-

[2020-08-27 20:15] fanyang-mono opened #41472 "[Mono WASM] CoreCLR tests on WASM: tests depending on thread support failed"
### Description

The following tests are not passing because WASM doesn't support multithreading yet
1. Cannot start threads on this runtime
[code]
Affected tests are
- JIT/Methodical/cctor/misc/threads1_cs_do/threads1_cs_do.sh
- JIT/Performance/CodeQuality/BenchmarksGame/reverse-complement/reverse-complement-6/reverse-complement-6.sh
- baseservices/threading/DeadThreads/DeadThreads/DeadThreads.sh

[2020-08-27 20:16] akshays2112 opened #41473 "System.Net.HttpClient.DeleteAsync needs to also accept content parameter like the rest of the methods."
### Problem:

In Spotify API endpoint there is a scenario in which you are issuing a Delete command but the data cannot be in the Query String but has to be in the Body/Payload.

### Suggest this Solution
The solution is for System.Net.HttpClient.DeletAsync to be overloaded to accept a content parameter like the rest of the methods.

[2020-08-27 20:20] mahamr commented on #41352
@wfurt - I'll get the customer to update that info here

@bartonjs - the problem with that is this affects the dotnet CLI itself, as well - we just identified with a test console app that other apps _can_ experience the same issue

[2020-08-27 20:21] karelz commented on #41473
@akshays2112 did you try to use a workaround: `SendAsync` with `DELETE` and `Content`? Would that work?
I wonder how common pattern this is. If not too much, then a workaround might be enough maybe?

[2020-08-27 20:25] antonfirsov commented on #40301
Just an illustration of the bigger issue we have here. It's this easy to create a finalizer thread hang now:

[code]

[2020-08-27 20:25] ManickaP commented on #41473
IMHO sending a content in `DELETE` won't be a very common scenario.
Also, other methods which are not expected to carry a payload do not accept `HttpContent` parameter, e.g.: [`GetAsync`](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.cs#L328-L328), [`GetByteArrayAsync`](https://github.com/dotnet/runtime/blob/master/src/libraries/System.N

[2020-08-27 20:31] terrajobst commented on #30381
Linq is now annotated and the issue remains.

#41363 has some good comments:

* https://github.com/dotnet/runtime/issues/41363#issuecomment-680367720
* https://github.com/dotnet/runtime/issues/41363#issuecomment-680462755

[2020-08-27 20:33] karelz commented on #41352
@mahamr is there option to fix the certificate? It seems that it is invalid according to Windows (based on your experience) and therefore it would not make much sense to force .NET (incl. CLI) to consider it valid, would it?

[2020-08-27 20:37] karelz commented on #41434
@yukozh do you know if the `RawSocketOption` may be able to enable it?

[2020-08-27 20:41] mahamr commented on #41352
@karelz for that I'll defer to the customer's points noted in the "Analysis" portion of my initial post. I'm guessing their only option here is to continue disabling usage of SocketsHttpHandler until another option is more readily doable.

[2020-08-27 20:49] wfurt commented on #41352
They can use the custom validation as @bartonjs suggested. There is still no good info here about OS or good repro case.
So we can only speculate here.

[2020-08-27 20:50] karelz commented on #41352
BTW: @mahamr I think I misunderstood your "other applications" comment -- I thought you experimented with Windows app using OS APIs and it failed. But it seems you tried simple HelloWorld in C# to demonstrate it is not CLI problem. Can you please confirm?

[2020-08-27 20:50] frankbuckley opened #41475 ".NET 5.0 (Preview 8) breaks sending message in Microsoft.Azure.ServiceBus (4.1.3)"
### Description

Sending a message using Microsoft Azure ServiceBus fails when running under .NET 5.0 (Preview 8) - at least on Windows 10.0.19041 and macOS.

An InvalidOperationException ("Operation is not valid due to the current state of the object.") is thrown from `[Microsoft.Azure.ServiceBus.Core.MessageSender.OnSendAsync](https://github.com/Azure/azure-sdk-for-net/blob/6655f73bdb422c1c3b9c3

[2020-08-27 20:51] joperezr commented on #41421
I don't think so, in dotnet 5 we formed a v-team that has been working on making sure our framework is linker-friendly so we've been adding annotations on the framework and I just want to make sure that this issue doesn't mean that we missed one. We can take a look.

[2020-08-27 20:55] joperezr commented on #41421
@shadowfox87 are you able to get a dump of that so that we can check the managed callstack to see what is the problem here? I tried reproing this using the Preview 8 bits on a RaspberryPi but didn't have any luck. This is the code that I tried:
[code]

I published that for linux-arm and published it Trimmed and single file. I can validate that the linker is in fact running and trimming some assemb

[2020-08-27 21:02] cijothomas commented on #41306
related: https://github.com/dotnet/runtime/issues/31862#issuecomment-676850526

[2020-08-27 21:10] joakimobstfelder commented on #31040
Hi!

I was just wondering if there is a solution for this problem somewhere?

Although I do not have the knowledge on display in this thread, I do have very similar problems. I have a very simple .netcore (3.1.401) console app, comparable to the app that is referenced above - trying to make requests to a WCF service (net.tcp/AX) from a CentOS 7 environment. Kerberos is setup - to my knowledge - co

[2020-08-27 21:17] alexcovington commented on #40956
I can also file this as a bug there too, I was just fuzzy on the details of the implementation in CoreCLR, but it does sound like this isn't a CoreCLR issue directly since the implementation of `scalbn` isn't shipped with the runtime and is dependent on the underlying libc/libm.

I'm a little surprised a managed implementation is beating out the native implementation, but that's pretty cool to see

[2020-08-27 21:17] joperezr commented on #41429
cc: @marek-safar

Thanks for logging the issue @pureggerstefan can you please verify which version of the sdk did you use when you updated to .NET 5? I ask because we recently (I think it was after preview 7 sdk) changed how TimeZone info is packed in a wasm app but the default is that we will pack the timezone info with your application and you should get the right behavior when doing DateTime.No

[2020-08-27 21:20] izzycoding commented on #30456
I am currently seeing issues with byte[] conversion.
In the built-in ByteArrayConverter what is the expected json output?
When I serialise a byte[] i am seeing the value as an array of ints.
I have also created my own converter and assigned it to my property using the JsonConverterAttribute and it appears it never gets called.
How can I find out why this is not converting as expected?

[2020-08-27 21:26] ericstj commented on #40866
This method hasn't changed since we moved the code.  There was a change around the time of this regression in `string.Compare` which this method calls.  @GrabYourPitchforks it looks like https://github.com/dotnet/runtime/commit/189e1aa8f91632c196fe0e6cb1410a85bb7d2283#diff-a70aebfa78baa09ba9bb366e971a14ca occurred around the same time.  Is it possible that this caused a regression here?

[2020-08-27 21:26] rjmholt opened #41477 "Calling CreateFile() API returns ERROR_INVALID_HANDLE in .NET 5-preview.8"
### Description

PowerShell is currently migrating to .NET 5-preview.8 from .NET 5-preview.7, with the work being done in https://github.com/PowerShell/PowerShell/pull/13530.

A new error we've hit here occurs in [this code](https://github.com/PowerShell/PowerShell/blob/4e2b6e9540c1946d22664149f0331447ac0bf797/src/Microsoft.PowerShell.ConsoleHost/host/msh/ConsoleControl.cs#L584-L607), which looks

[2020-08-27 21:27] tannergooding commented on #40956
Definitely, although there are a few contributing factors here including interaction with the GC, which should go away with https://github.com/dotnet/runtime/issues/13820.

Being able to automatically use the VEX encoding and not have any checks to switch between the regular and FMA path also helps (since the JIT can detect this at compile time and drop the dead path).

[2020-08-27 21:27] mahamr commented on #41352
The problem occurs in _both_ the dotnet CLI **and** a simple test console app that uses WebClient.DownloadFile(). It is resolved/worked-around in _both_ when UseSocketsHttpHandler == false.
I've asked our customer for more OS details and will reply here (or they will) once we have those details.

[2020-08-27 21:37] DrewScoggins commented on #39031
I have updated the table in the issue at the top with links to the full test history in the runtime repo.

[2020-08-27 21:45] adamsitnik commented on #39031
@DrewScoggins thanks a lot!

It looks like there is no regression and the benchmark is:

unstable for x64

![obraz](https://user-images.githubusercontent.com/6011991/91497943-24156180-e8bf-11ea-912c-6a0f5af4f2ee.png)

and bimodal for x86:

![obraz](https://user-images.githubusercontent.com/6011991/91498057-62ab1c00-e8bf-11ea-953c-f6cc788f5276.png)

[2020-08-27 21:45] #39031 closed

[2020-08-27 21:48] HKunogi commented on #41421
![unknown (1)](https://user-images.githubusercontent.com/1687701/91498243-67d98c80-e8fa-11ea-90f7-c019ca254ee3.png)
![unknown (2)](https://user-images.githubusercontent.com/1687701/91498252-6a3be680-e8fa-11ea-9e3b-9838d7a44668.png)
![unknown](https://user-images.githubusercontent.com/1687701/91498258-6d36d700-e8fa-11ea-8e62-bac3f6bcd22e.png)
![unknown (3)](https://user-images.githubusercontent.com

[2020-08-27 21:50] layomia commented on #36605
Moving this to 6.0 since this is not a regression and will not be experienced if a compatible `typeToConvert` is passed to the converter.

[2020-08-27 21:53] joperezr commented on #41429
FWIW I just tried preview 8 and it seems like DateTime.Now is correctly displaying localized TimeZone for me. @pureggerstefan I would suggest updating to preview 8 and trying again, it should work.

[2020-08-27 21:54] HongGit opened #41478 "WCF Team Issues"
Group of issues include the following areas:
- System.Serialization
- System.Runtime.Caching
- System.Syndication
- System.Distribution

[2020-08-27 22:08] shadowfox87 commented on #41421
@joperezr I can confirm the answer above. If you need any further information, @HKunogi can answer.

[2020-08-27 22:15] joperezr commented on #41421
Can you confirm which version of the SDK are you using? to figure this out try running `dotnet --list-sdks` and `dotnet --version` as it may be that what you are hitting is already addressed by an annotation that was added later.

[2020-08-27 22:17] rubo commented on #40484
Objective-C, iOS.

8

Need to invoke an Objective-C function with `va_list` (variadic arguments) from C#.

While I was able to do some magic to make it work on ARM64 (real devices), it is still a problem on x86_64 machines (iOS simulator).
Actually, this is a known problem in Xamarin world when using some of iOS localization APIs. [Here](https://xamarin.github.io/bugzilla-archives/46/46452/bug.htm

[2020-08-27 22:25] jkotalik opened #41482 "Support SingleFile FDD published outputs with a native host."

[2020-08-27 22:25] joperezr commented on #41421
Note that Trimming unused assemblies is in preview as noted in the screenshot above, so it is likely for things like this to happen. We will definitely investigate and fix if there is anything to address here but do note that this fix might come after 5.0

[2020-08-27 22:28] joperezr commented on #41421
cc: @vitek-karas @swaroop-sridhar @agocke

Even though trimming unused assemblies is in preview for dotnet 5, we may still want to investigate why when selecting to produce a single file this starts causing issues but when not doing so things work just fine. For this reason I'm marking this issue as 5.0 so that we investigate at least that bit now, while the overall trimming scenario for unused as

[2020-08-27 22:34] joperezr commented on #41388
Changing milestone to 6.0.0 given Utf8String is still experimental and so as to not confuse with remaining 5.0 work.

[2020-08-27 22:36] agocke commented on #41421
The screenshot says TypeLoadException, but the bug says segfault. I'm not sure what we're looking at.

[2020-08-27 22:39] joperezr commented on #41421
If I understood correctly, the TypeLoadException only happens when they decide to trim their application given that we are likely missing an annotation somewhere causing the linker to strip out a method that is required at runtime. The segfault problem seems to be the one that happens only when they decide to publish as a single file, but seems to not happen when unchecking that, which is what we

[2020-08-27 22:41] agocke commented on #41421
Ah yes I missed the middle screenshot, thanks.

[2020-08-27 22:45] frankbuckley commented on #41475
https://github.com/Azure/azure-amqp/issues/165

[2020-08-27 22:45] #41475 closed

[2020-08-27 22:47] HKunogi commented on #41421
Yes, exactly that, about the version, its: 5.0.100-preview.8.20417.9

[2020-08-27 22:53] tannergooding commented on #41245
This still repros and looks to be because we always mark op2/3/4 as delay free: <https://github.com/dotnet/runtime/blob/master/src/coreclr/src/jit/lsraxarch.cpp#L2512-L2516>

Looks like this is because `vpgatherdd` does indeed trash the register. The architecture manual additionaly annotates:

[2020-08-27 22:53] #41245 closed

[2020-08-27 22:53] layomia opened #41485 "System.Text.Json.Serialization.Tests.SpanTests.ReadFromStream failed as long-running test"
Job: Libraries Test Run release mono Windows_NT x64 Debug in https://github.com/dotnet/runtime/pull/41427/

Failure log: https://dev.azure.com/dnceng/public/_build/results?buildId=790933&view=logs&jobId=d5c01a48-52b8-51d9-fe3a-6804ba4b63f8&j=d5c01a48-52b8-51d9-fe3a-6804ba4b63f8&t=215202f9-e149-511e-645c-558c2532aa74

Tracking to see if this happens again.

[2020-08-27 23:01] mairaw commented on #36699
We pushed some fixes to the website yesterday and now we have the ARM64 entry for Windows runtime as well.

[2020-08-27 23:03] layomia commented on #41146
Fixed for 5.0 in https://github.com/dotnet/runtime/pull/41366.

[2020-08-27 23:03] #41146 closed

[2020-08-27 23:03] layomia commented on #40878
Fixed for 5.0 in https://github.com/dotnet/runtime/pull/41366.

[2020-08-27 23:03] #40878 closed

[2020-08-27 23:04] layomia commented on #36329
Fixed for 5.0 in https://github.com/dotnet/runtime/pull/41366.

[2020-08-27 23:04] #36329 closed

[2020-08-27 23:04] HongGit commented on #39123
Sorry @alejandrofuchs you are running into a compatibility issue between .NET framework and .NET standard which there is no solution.

We would suggest you to multi-target your library with .NET framework to make it work.

[2020-08-27 23:04] #39123 closed

[2020-08-27 23:05] jeffhandley commented on #34959
I'm sorry we weren't able to get to this issue during 5.0.0; we're going to have to move it to 6.0.0.

[2020-08-27 23:05] jeffhandley commented on #35610
I'm sorry we weren't able to get to this issue during 5.0.0; we're going to have to move it to 6.0.0.

[2020-08-27 23:10] jeffhandley commented on #39035
Closing this as an expected regression due to https://github.com/dotnet/corefx/pull/40935.

[2020-08-27 23:10] #39035 closed

[2020-08-27 23:10] jeffhandley commented on #39029
Closing this as an expected (and acceptable) regression due to https://github.com/dotnet/corefx/pull/40935.

[2020-08-27 23:10] #39029 closed

[2020-08-27 23:11] rjmholt commented on #41477
FYI I'm currently trying to take our last working release and migrate that to .NET 5-preview.8 to eliminate the possibility that new changes are to blame

[2020-08-27 23:18] SteveSyfuhs commented on #31040
As mentioned in the comment above: https://github.com/dotnet/runtime/issues/31040#issuecomment-537744414

**Server not found in Kerberos database** means the SPN of the target server used by the client doesn't match anything on record in AD. Find out what SPN is being used and update the client to use it, or update the AD service account with the SPN that's actually being used.

[2020-08-27 23:19] rjmholt commented on #41477
Just finished this. Reproduces the same issue.

[2020-08-27 23:19] cshung commented on #852
I have repeated the experiment using server GC. For both the workstation GC case and the server GC case, the process crashed normally like it would with a `System.OutOfMemoryException`. I cannot reproduce the case where the process is terminated by the OOM killer.

[2020-08-27 23:30] akshays2112 commented on #41473
I have not tried SendAsync. Will look into trying to use it for a workaround and get back to you. Well, I do not want to comment on how common. All I can tell you is contributing to completing SpotifyApi.NetCore to complete it I ran into this problem. Only 4 endpoints to cover so I thought I would try and ask. Thanks again for the swift response.

[2020-08-27 23:30] mangod9 commented on #852
its fine to close the issue based on your findings, @hpbieker please reopen if this still repros on 5.0

[2020-08-27 23:59] davidwrighton commented on #32935
@billwert @MichaelSimons has a point, does the perf team have a statement here?

[2020-08-28 00:17] Turnerj commented on #40878
Thanks for working on this so fast and solving the underlying issues @devsko and @layomia - would I expect to see this in 5.0 RC1?

[2020-08-28 00:20] rjmholt commented on #41477
This currently appears to be an issue with our csproj and the nature of the executable generated. Changes in the csproj have caused generation of a GUI exe (subsystem header 2) rather than a CUI exe (subsystem header 3).

[2020-08-28 00:21] #41280 closed

[2020-08-28 00:36] layomia commented on #40878
Thanks @Turnerj. Yes, the fix will come in 5.0 RC1. Please let us know how things go with the fix.

[2020-08-28 00:56] davmason commented on #41125
I don't have answers yet, but it is not due to #40637. What's happening here is we expect that the linked list of Frames we keep will only have either valid frames or FRAME_TOP (-1) but we end up with a NULL Frame in the list. CrawlFrame::SetCurGSCookie will call DoJITFailFast (and therefore __report_gsfailure) if provided a NULL pGSCookie.

[2020-08-28 01:00] geoffkizer commented on #40301
This is definitely related to the fix we made in dotnet/corefx#38499. Before that we didn't really have a socket finalizer, so we would not have hit this issue.

That said, we cannot undo the change in dotnet/corefx#38499 (at least not without making other, extensive changes). The reasoning is explained here: https://github.com/dotnet/runtime/issues/29327#issuecomment-500660152

I think the best f

[2020-08-28 01:19] AndyAyersMS commented on #40810
For BinaryTrees_2, there is a small codegen diff in `bottomUpTree` at Tier1. The `lea` does not get CSE'd in 5.0 and there's an extra `mov` in the pr olog.

[code]
I have not yet confirmed this is the root cause of the perf difference, will try to do that soon.

Since this is a call-crossing lifetime I wonder if this is a consequence of #1463; the PR there shows a small perf score regression so pr

[2020-08-28 01:36] vsfeedback opened #41491 "dll error on ubuntu 18"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1065744/dll-error-on-ubuntu-18.html)._

---
<p>I'm getting some odd issues, the sum of which is my dotnet core dll isn't running on my target machine, which is Ubuntu 18.04. I'm using the latest dotent core SDK 3.1</p><p>My csproj starts with: </p><pre>&lt;PropertyGroup&gt;

[2020-08-28 01:37] vsfeedback opened #41492 "Calling into .NET core dll from unmanaged C++ crashes on ARM64"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1137477/calling-into-net-core-dll-from-unmanaged-c-crashes.html)._

---
<p>Hello,</p><p> I built a dll using .NET 5 preview 7, and have a node based unmanaged app (C++) making calls into this DLL. This setup works on x64, but when I move it to ARM64, it crashes with the fol

[2020-08-28 01:44] geoffkizer commented on #11314
@sandersaares Thanks for posting this. As you can see in the above discussion, we've explored doing this like this in the past but we haven't landed on a solution here.

I would love to get your benchmark code and play with it a bit. Can you post it somewhere or email it to me?

[2020-08-28 01:48] wfurt commented on #3505
did you get it working @valeriob and @jcmcken?
This seems pretty old and @bartonjs provided instructions.
Note that on Linux EKU also must be properly set for self-signed certs (https://github.com/dotnet/runtime/issues/2122)

[2020-08-28 01:57] rjmholt commented on #41477
We've established that the above was the issue, caused by `<UseWpf>true</UseWpf>` in the csproj. Removing this resolves the issue

[2020-08-28 01:57] #41477 closed

[2020-08-28 01:59] SteveL-MSFT commented on #41477
We can close this as it's not related to this interop call, but instead due to a change in how `<UseWpf>` in the csproj overrides our setting for `<OutputType>Exe</OutputType>` to be a `WinExe` which, of course, means pwsh.exe isn't associated with a console on start and fails on this API call.  Removing `<UseWpf>` in the csproj produces a correct exe type, but we need to validate something else d

[2020-08-28 01:59] SteveL-MSFT commented on #41477
Looks like Rob beat me to it while I was typing...

[2020-08-28 02:26] yyjdelete commented on #41420
#39993
And seems this also happened for all structs except primitive types(int, short, byte, ...) .

[2020-08-28 02:36] AaronRobinsonMSFT commented on #41309
@roman380 I am getting the following error when I attempt to build from an elevated Visual Studio 2019. I am using x64 and Release.

[code]

[2020-08-28 02:36] buvinghausen commented on #38812
@layomia see responses inline

Thank you for the update. That is good news and definitely a step in the right direction. I did verify it in preview8 of the v5 SDK.

[I put together a sample repository that benchmarks the type converter operations](https://github.com/buvinghausen/JsonExample/blob/master/src/Server/Program.cs) and it was running anywhere from 64ms to 45ms inside my VM on a Surface P

[2020-08-28 02:40] v-haren opened #41494 "Fail: Http2_MultipleConnectionsEnabled_IdleConnectionTimeoutExpired_ConnectionRemovedAndNewCreated"
failed in job: [runtime 20200827.91 ](https://dev.azure.com/dnceng/public/_build/results?buildId=791218&view=ms.vss-test-web.build-test-results-tab&runId=24981082&resultId=181115&paneView=debug)

net5.0-Linux-Release-x64-CoreCLR_release-(Fedora.32.Amd64.Open)ubuntu.1604.amd64.open@mcr.microsoft.com/dotnet-buildtools/prereqs:fedora-32-helix-20200512010618-efb9f14

Error message
[code]

[2020-08-28 02:45] AndyAyersMS commented on #40810
More or less the same diff in the linux version:
[code]

[2020-08-28 02:48] ahsonkhan commented on #30456
Unsure why this is happening as the JSON handling is part of web api controller implementation and there is certainly not any difference in the JsonSerilazationOptions being used.
Why with the same options are there different converters being used for reading and writing?
Especially as I am specifically targeting my custom converter using the attribute.

Please file a new issue and provide a simpl

[2020-08-28 02:49] v-haren commented on #41078
failed again in job: [runtime 20200827.91 ](https://dev.azure.com/dnceng/public/_build/results?buildId=791218&view=ms.vss-test-web.build-test-results-tab&runId=24981068&paneView=debug&resultId=181418)

net5.0-Linux-Release-x64-CoreCLR_release-Ubuntu.1604.Amd64.Open

Error message
[code]

[2020-08-28 02:54] Jozkee commented on #38812
That's not the reason why we didn't took the approach of relying on `TypeConverter`s for dictionary keys.
The main concern is that TypeConverters APIs onle receive and return `object`, which involves a lot of boxing when dealing with value types (structs) and boxing involves a lot of performance penalty and memory allocation:

Please see the spec for extending support of dictionary keys.
https://g

[2020-08-28 03:04] v-haren commented on #40926
failed again in job: [runtime-libraries outerloop 20200827.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=789975&view=ms.vss-test-web.build-test-results-tab&runId=24927796&resultId=104058&paneView=debug)

failed test:
System.Net.Http.Functional.Tests.TelemetryTest_Http11.EventSource_ConnectionPoolAtMaxConnections_LogsRequestLeftQueue

Configurations:
net5.0-Windows_NT-Release-x86-C

[2020-08-28 03:07] v-haren commented on #32955
failed again in job: [runtime-libraries outerloop 20200827.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=789975&view=ms.vss-test-web.build-test-results-tab&runId=24928342&paneView=debug&resultId=103377)

failed test:
System.IO.Tests.FileSystemWatcher_Multiple_Test.FileSystemWatcher_File_Delet_NotAffectEachOther

Configurations:
net5.0-OSX-Release-x64-CoreCLR_release-OSX.1014.Amd64

[2020-08-28 04:06] tmds commented on #40301
The spinning was introduced as part of https://github.com/dotnet/corefx/pull/38804. In that PR, `Socket` PInvoke changed to use `SafeHandles` instead of `DangerousAddRef`.

Because previously there were no out-standing references, the handle was released as soon as the `Socket` got Closed. On Windows, this caused on-going operations to abort, but on Linux those operations would just keep on blocki

[2020-08-28 04:16] buvinghausen commented on #38812
@Jozkee thank you for the expedient follow up.  So how do I plumb the JsonConverter into getting picked up as a key converter?

[2020-08-28 04:20] bartonjs commented on #41460
Yep, OpenSSL doesn't respect rewinding to before revocation.  Since we don't interpret the CRL this is just one of those things.

But we can update the docs.

[2020-08-28 04:58] vargaz commented on #41449
This happens because wasm is a 32 bit platform, so reading 64 bit values atomically is more expensive. But since there are no threads currently, it should be possible to optimize this.

[2020-08-28 05:05] wfurt commented on #30767
I did manual testing on Azure image with Ubuntu18.04.
[code]

- default app with default self signed certificate.

![SSL2](https://user-images.githubusercontent.com/14356188/91522936-4489ef80-e8b0-11ea-8928-2142ed0e974a.png)

It would get A without trust issue. So we seems to be good there.

I also did check with https://en.internet.nl mentioned above. It does pass the cipher test failed before an

[2020-08-28 05:14] roman380 commented on #41309
@AaronRobinsonMSFT can it be because your is started without elevation? This (running VS "as administrator") might be necessary for Lib.dll to get registered and then to look registered type library up.

[2020-08-28 05:14] kronic commented on #41431
@KalleOlaviNiemitalo The savings come only from being able to allocate the private dictionary with the correct size, instead of expanding it repeatedly.
Constructor **XmlSerializerNamespaces(IDictionary<string, string> namespaces)** added for convenience.

[2020-08-28 05:29] heng-liu commented on #41460
Thanks for clarification. So it's not going to be fixed, right? May I know if it's respected on MacOS?

[2020-08-28 05:31] Grevor opened #41495 "BigInteger performance improvements"
The BigInteger class is fast already, but after doing a bit-twiddling kata/review on the source code I realized there were some further improvements to be made. Due to the ongoing effort to spanify the BigInteger #35565 I will leave the proposed code changes and their rationales below, with performance measurements as delta from existing code. I see no reason the same shouldn't apply for the spani

[2020-08-28 05:50] sandersaares commented on #11314
The app I used for benchmarking the C# Socket performance is https://github.com/sandersaares/Shubar/

This app can generate the test input streams: [grinch.zip](https://github.com/dotnet/runtime/files/5140234/grinch.zip)

In my scenario I used 5 machines running the script in the zip to generate load for 1 benchmark app.

[2020-08-28 05:55] bartonjs commented on #41460
I don't remember.  macOS generally dislikes CRLs, and it's hard to get OCSP to go back in time.

[2020-08-28 06:01] mangod9 commented on #41398
I investigated this more and it appears none of the `_SC_LEVEL1_DCACHE_SIZE` are defined for [Alpine (musl)](https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/coreclr/src/pal/src/misc/sysinfo.cpp#L555), so `PAL_GetLogicalProcessorCacheSizeFromOS` will always return 0.

Wonder if https://github.com/dotnet/runtime/pull/34488 caused the regression, since I notice thi

[2020-08-28 06:05] davidfowl commented on #11314
Ah this is udp, there are some low hanging fruit optimizations that can be made https://github.com/dotnet/runtime/issues/33418, though that's likely only part of the story here.

[2020-08-28 06:46] jiangzeng01 opened #41496 "[5.0.100-rc.1.20427.10] Nuget Package Explorer System.StackOverflowException at launch"
**Application Name:** Nuget Package Explorer (.net5 version)
**OS:** Windows 10 RS5
**CPU:** X64
**.NET Build Number:** 5.0.100-rc.1.20427.10
**App Source on GitHub :** https://github.com/NuGetPackageExplorer/NuGetPackageExplorer
**Location:** \\dtacttestresult\E\HelixTest\ApplicationPayloads\NugetPackageExplorer\Payload\applications\NuGetPackageExplorer

**Verify Scenarios:**
1). Windows 10 RS5 X

[2020-08-28 06:55] geoffkizer commented on #33418
#40750 implemented the ConnectAsync overloads (not including Happy Eyeballs support).

[2020-08-28 07:01] geoffkizer commented on #11314
The specific issue for UDP optimization is here: https://github.com/dotnet/runtime/issues/30797

Feedback welcome.

[2020-08-28 07:05] davmason commented on #41125
This is caused by #2240. I was able to debug to the point where I saw that the frame chain was corrupted, and then by searching through issues that were fixed between 3.1 and 5.0 found this suspiciously similar issue.

I don't know exactly why this only repros under the debugger, but I validated that applying the fix for #2240 makes the provided app no longer crash so I am pretty confident this is

[2020-08-28 07:11] Jozkee opened #41497 "Investigate nullability of members in System.Data.Common affected by XmlSerializer.Deserialize"
also IMO we should file an issue to investigate if this should return nullable here and below

_Originally posted by @krwq in https://github.com/dotnet/runtime/pull/41474#discussion_r478850186_

https://github.com/dotnet/runtime/blob/8e7a2246b7a16b8a2ece50727d02ad113cb4da2f/src/libraries/System.Data.Common/src/System/Data/Common/ObjectStorage.cs#L442

https://github.com/dotnet/runtime/blob/8e7a224

[2020-08-28 07:24] icom85 opened #41498 "ArgumentNullException when retrieving the default value of an Enum property defined with an integer"
It is related to the `DefaultValueAttribute`, the `Enums` and the `PropertyDescriptor` class. The issue is in the static `Enum.ToObject` method.  In order to observe the issue, it is necessary to use an integer as a default value of an enumeration. The code below easily reproduces it:

[code]
I`ve tested with the latest .NET 5.0 - 5.0.100-preview.8.20417.9, the issue is likely to be observed with

[2020-08-28 07:41] ldematte commented on #4584
@AndyAyersMS is there anything already implemented on escape analysis, in the JIT or somewhere else? I'd like to learn more about it. Can you point me at code/docs/discussions?

[2020-08-28 07:48] #41391 closed

[2020-08-28 07:59] janvorli commented on #2303
@cspatig can you please share details on the actual failures? You should see them in the console output printed during the test execution. It would be great if you could share it as a gist instead of a screenshot (copy the text from the console and paste it to a gist that you create). If you never created a gist before, it is very easy. On the top right of this web page, there is a large `+` butto

[2020-08-28 08:01] krwq commented on #41461
@eerhardt one thing to note is that in case of overload without namespace the namespace is ignored. In case of this overload null may mean:
- no namespace (empty namespace) / default namespace
- ignore namespace

we should figure out how to interpret that and do some research on what customers would expect

[2020-08-28 08:03] janvorli commented on #37265
@mangod9 the first bullet is completed (I've just marked it as such), but the second and third are not.

[2020-08-28 08:03] maomiaoyan opened #41500 "System.IO.Ports.dll cant find any class on .netframewrk4.61"
when i use nuget package System.IO.Ports base on my .net461 project,cant find any class in dll,i change some version also not work

[2020-08-28 08:33] Jozkee commented on #38812
As @layomia mentioned, we could expose the mechanism to use `JsonConverter`s for dictionary keys. That would require feature work and will need a new API so we would have to create an API proposal and present it for review.

[2020-08-28 08:43] vitek-karas commented on #41491
I tried to repro this, but no luck. One observation - did you really meant to specify `-c app` ? `-c` specifies the configuration, which is most typically either `Release` or `Debug`. You can definitely define your own, but it's not very common. That said even with that it worked for me just fine.

If it's possible to share the repro project - that would definitely help.
You can also try to specif

[2020-08-28 08:58] aik-jahoda commented on #31387
### Obsoletion status
tracking comment to see status of all necessary steps

- [ ] #41501 - Runtime obsoletion
- [ ] dotnet/dotnet-api-docs#???
- [ ] dotnet/docs#???
- [ ] Redirect https://aka.ms/dotnet-warnings/SYSLIB0013 link to: ???

[2020-08-28 09:04] geoffkizer opened #41502 "Sockets: Reimplement remaining Task-based async methods using SocketAsyncEventArgs"
Most socket Task-based async APIs are implemented using SocketAsyncEventArgs under the covers today.

The few that are not include:

SendToAsync
ReceiveFromAsync
ReceiveMessageFromAsync

These are instead implemented by wrapping the old IAsyncResult-based async methods.

We should change these to use SocketAsyncEventArgs instead.

[2020-08-28 09:35] sander1095 commented on #36383
@karimgsaikali2

Someone pointed out in my stackoverflow post that using `Timer` and `BackgroundService` might not execute the tasks if your API is not getting requests. I can't confirm that. But your link basically uses the same code as my stackoverflow post, so I don't see how this is a 100% better solution?

Your link does have a good point though! In that person's post they lock the jobs so it

[2020-08-28 09:42] msedi commented on #40418
Just as a reference some people call this requirement frugal object or discriminated union. There is also some similar implemention for strings called StringValues in Microsoft.Extensions.Primitives. So obviously despite my needs there is also need from others ;-)

[2020-08-28 09:44] IanKemp opened #41505 "Make System.ComponentModel.DataAnnotations.LocalizableString effectively public"
This was already requested in https://github.com/dotnet/runtime/issues/14735#issuecomment-238482131 and the response to it was https://github.com/dotnet/runtime/issues/14735#issuecomment-295001614:

Is Microsoft unaware of the principle of code reuse over duplication? If they are, why are they suggesting to do the exact opposite (i.e. advising devs to use an antipattern)? The mind boggles!

Saying

[2020-08-28 09:50] geoffkizer commented on #33418
I'm wondering about the overloads of SendToAsync, ReceiveFromAsync, and ReceiveMessageFromAsync that omit the SocketFlags argument.

It looks to me like we don't actually have overloads of SendAsync/ReceiveAsync that omit the SocketFlags argument. So I'm wondering why we are defining overloads for these other methods. Seems like we should define them for all, or none.

@scalablecory Am I missing s

[2020-08-28 09:54] am11 opened #41506 "System.Net.Mail.Tests.SmtpClientTest.SendMail_DeliveryFormat_SubjectEncoded functional test failed on OSX (release mono)"
console logs: https://helix.dot.net/api/2019-06-17/jobs/dae47eb4-8fc4-42db-89a1-238f4904bae7/workitems/System.Net.Mail.Functional.Tests/console

[code]

Runfo Tracking Issue: [system.net.mail.tests.smtpclienttest.sendmail_deliveryformat_subjectencoded](https://runfo.azurewebsites.net/tracking/issue/95)
|Build|Definition|Kind|Run Name|
|---|---|---|---|

Build Result Summary
|Day Hit Count|Week Hit

[2020-08-28 10:26] am11 opened #41507 "System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2.Http2_MultipleConnectionsEnabled_IdleConnectionTimeoutExpired_ConnectionRemovedAndNewCreated functional test failed on Linux (debug coreclr)"
console logs: https://helix.dot.net/api/2019-06-17/jobs/f786bae8-80c4-4c84-83df-d872dd175167/workitems/System.Net.Http.Functional.Tests/console

[code]

[2020-08-28 10:46] marek-safar commented on #41471
@EgorBo could you help with this issue

[2020-08-28 10:49] karelz commented on #39011
Reopening to track porting to 5.0

[2020-08-28 10:50] karelz commented on #39011
(closing again, it was reopened by mistake, sorry)

[2020-08-28 10:50] #39011 closed

[2020-08-28 10:50] karelz commented on #41304
Fixed in 5.0 by PR #41453

[2020-08-28 10:50] #41304 closed

[2020-08-28 10:51] marek-safar commented on #41470
This looks like wrong wasm binding

/cc @vargaz @lewing

[2020-08-28 10:59] karelz commented on #30767
Thanks @wfurt, that is awesome result!
What is the "trust issue"? Is it the fact we do not support self-signed certificates?

[2020-08-28 11:14] vitek-karas commented on #41421
Any kind of repro would help. I tried the trimming problem (TypeLoadException), but no luck - it seems to work fine for me.
I will try linux-arm once I have a machine to test it on.

[2020-08-28 11:18] ViktorHofer commented on #40159
Am I missing a binlog here? What I see from the output above is:

[code]

which looks correct.

[2020-08-28 11:19] ViktorHofer commented on #40159
A test project P2Ps both the implementation and the reference project as we mimic the RefOut behavior.

[2020-08-28 11:25] hpbieker commented on #852
I am fine with that since I no longer work on this. I think the main point was that the server GC did not schedule the garbage collection collection because it was not aware of the cgroup constraint set by Docker. Throwing  System.OutOfMemoryException is better than getting a OOM by the kernel, but I do think that the server GC should be able to garbage collect the memory in time to prevent such a

[2020-08-28 11:38] ManickaP commented on #41507
Duplicate of #41494

[2020-08-28 11:38] #41507 closed

[2020-08-28 11:55] ManickaP opened #41511 "ConnectAsync_CancellationRequestedAfterConnect_ThrowsOperationCanceledException"
### System.Net.WebSockets.Client.Tests

**System.Net.NetworkException : The operation is not allowed on non-connected sockets.**

net5.0-OSX-Debug-x64-Mono_release-OSX.1014.Amd64.Open

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=790029&view=ms.vss-test-web.build-test-results-tab&runId=24931714&resultId=130442&paneView=debug

Hit in https://github.com/dotnet/runtime/pull/4144

[2020-08-28 12:00] akshays2112 commented on #41473
SendAsync does not seem to support HttpContent as a parameter either. :(
Any other suggestions for a workaround.

[2020-08-28 12:03] ManickaP commented on #41473
`HttpContent` is part of `HttpRequestMessage` (which is passed to `SendAsync`): https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Http/src/System/Net/Http/HttpRequestMessage.cs#L61-L61

[2020-08-28 12:53] rventuri76 commented on #27272
I'm having a very similar issue to this debugging a docker compose proj with vs 2019.
https://stackoverflow.com/questions/63493884/system-io-ioexception-function-not-implemented-in-createhostbuilderargs-buil
The call stack is very similar but the error Message is "Function not implemented"
Happens every time I recompile the react js that changes file in ClientApp/build

[2020-08-28 12:56] karimgsaikali2 commented on #36383
@sander1095
I wonder if the lock used in the post [mentioned](https://anthonygiretti.com/2020/01/03/building-a-windows-service-with-service-workers-and-net-core-3-1-part-2-migrate-a-timed-service-built-with-topshelf/) post is correct?

Indeed using Monotor.TryEnter will prevent other threads to enter the sub DoWork(),
but allow the same thread to re-enter the sub DoWork()!

Maybe instead of using

[2020-08-28 12:58] sander1095 commented on #36383
I am not that experienced with `Semaphore` or `Monitor`, sadly.

Also, your code is not formatted and rather hard to read. I would ask one of the dot net experts to look more into this :)

[2020-08-28 13:09] eerhardt opened #41512 "Remove unused USE_REFEMIT define in System.Private.DataContractSerialization"
`#if USE_REFEMIT` is used in a quite a few source files in DataContractSerialization, but it is never defined in a .csproj.

https://github.com/dotnet/runtime/issues/20131 mentioned it should be removed as it is unused, but that issue was closed because the .NET Native piece of it was resolved, and this unused define was never removed.

We should remove it, so it doesn't continue cluttering up the

[2020-08-28 13:10] akshays2112 commented on #41473
Awesome!!! Link to code is really what I was going to ask for next. Will look at the code.

[2020-08-28 13:21] jcmcken commented on #41352
Hi, just to clarify (since I'm involved with the original report this issue is based on), our primary issue is with the ``dotnet`` CLI, not any .NET applications we've written (although as @mahamr mentioned, it does happen in .NET apps as well, we just haven't had any user reports about it yet). So any solution involving custom code doesn't help us necessarily. We have users attempting to use ``do

[2020-08-28 13:22] jcmcken commented on #3505
@wfurt Our problem isn't related to that. [This](https://github.com/GSA/fpki-guides/issues/736) is our issue (I believe). .NET has much stricter X509 policy checking than browsers and other tools.

[This issue](https://github.com/dotnet/runtime/issues/41352) is one we escalated through Microsoft for our specific issue.

[2020-08-28 13:22] ManickaP opened #41514 "System.Xml.Xsl.XslCompiledTransformApi.Tests [LongRunning] hang"
Failing in #41444
https://dev.azure.com/dnceng/public/_build/results?buildId=791795&view=ms.vss-test-web.build-test-results-tab&runId=25012354&resultId=178299&paneView=debug

[Console.log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-41444-merge-6000e0a926004e5b9c/System.Xml.Xsl.XslCompiledTransformApi.Tests/console.38fe69b4.log?sv=2019-02-02&se=2020-09-17T12%3A0

[2020-08-28 13:25] ericstj commented on #40159
Dan shared it offline but it was missing a lot of logging for me when I opened it.  I shared the theory of the source of the NRE above and Dan identified the assembly with short FusionName.  @Anipik shared a theory why this would be, which makes sense.  Typically FusionName metadata is set by RAR though, which is why I said it wouldn’t make sense for RAR to be analyzing the Unix impl — it should l

[2020-08-28 13:32] MichalStrehovsky opened #41515 "Should VXSort go through GCToOsInterface?"
`GetEnabledXStateFeaturesHelper` calls into `WszLoadLibraryEx` that is included from some CoreCLR headers.

This is breaking our ability to use vxsort in Native AOT configurations (CoreRT). I assume it also breaks gcsample.

Should this go through GCToOsInterface?

@PeterSolMS @Maoni0

[2020-08-28 13:43] PeterSolMS commented on #41515
Ah, you mean vxsort should enquire about enabled instruction sets via the GCToOsInterface? I did something like this in the beginning, but there were some objections, so I ended up keeping it local to GC.

[2020-08-28 13:44] aik-jahoda opened #41516 "Remove WebRequest from SoundPlayer"
Current implementation of System.Media.SoundPlayer uses WebRequest which is marked obsolete. This usage is allowed by suppress obsolete warning, however the WebRequest can have a performance and memory consumption penalty.

https://github.com/dotnet/runtime/blob/26a71f95b708721065f974fd43ba82a1dcb3e8f0/src/libraries/System.Windows.Extensions/src/System/Media/SoundPlayer.cs#L262

https://github.com

[2020-08-28 13:48] ChrML commented on #30767
Agree, this is awesome, and exactly what I was hoping for. A new application should be secure by default.

Trust issue has nothing to do with our application. It's just that the tested application was configured with a self-signed certificate that is not trusted by any root authority. It's expected unless you obtain a signed certificate for the test, or automate this test with a service like Lets

[2020-08-28 13:53] jkotas commented on #41398
I think you are right. It means that we had a performance bug for Alpine here even before. The code that I have deleted in #34488 produced provably wrong results for AMD and the logic was questionable for Intel too.

Would you like me to work on getting this fixed?

[2020-08-28 13:54] stephen-hawley commented on #40484
Swift interop. Specifically:
- the ability to match the swift ABI (which has different rules about struct sizes)
- the ability to pinvoke into/from the `self` register (or argument, depending on the CPU)
- the ability to pinvoke into/from the exception register (or argument)
- the ability to guarantee code and data proximity - but only if the other things are done. Swift has a number of type-relat

[2020-08-28 13:55] seonyounggg commented on #41512
Can I try fix this issue?

[2020-08-28 13:58] focusonmx commented on #38949
Let me do this.

[2020-08-28 14:29] jkotas commented on #41515
I think we should avoid depending on coreclr internals, but I think it is ok for it to be local to the GC otherwise: #41517

[2020-08-28 15:00] rolfbjarne commented on #41389
Here is another test case: [linkertestcase-d179b60.zip](https://github.com/dotnet/runtime/files/5142762/linkertestcase-d179b60.zip)

[code]

[2020-08-28 15:02] tannergooding opened #41518 "Consider defaulting AltJIT to all ISAs enabled"
The AltJIT allows one to preview the jitted code for other architectures (such as ARM from x64) or platforms (such as Linux from Windows).

However, certain JIT settings, such as the ISAs used, are largely dependent on the machine being run against and so you cannot currently check codegen for something like `X86.Avx2` if your underlying hardware doesn't support it. Nor can you check for something

[2020-08-28 15:02] tannergooding commented on #41518
CC. @CarolEidt, @kunalspathak, @echesakovMSFT

[2020-08-28 15:03] fanyang-mono opened #41519 "[Mono WASM] CoreCLR tests on WASM: Interop tests failed due to lack of support on WASM"
### Description

The following tests are failing due to lack of Interop support on WASM:
- Interop/ICustomMarshaler/*
- Interop/NativeLibrary/*
- Interop/PInvoke/*
- Interop/UnmanagedCallersOnly/*

### Configuration

1. Get dotnet/runtime repo
2. Remove the test(s) that you would like to reproduce from `<repo_root>/src/coreclr/tests/issues.targets`
2. Build WASM: `./build.sh --os Browser --arch wa

[2020-08-28 15:04] fanyang-mono commented on #41519
One potential related issue https://github.com/mono/mono/issues/8007

[2020-08-28 15:04] buvinghausen commented on #38812
@Jozkee so here comes the compromise.... Since API proposals and reviews take time is there any chance we could meet at a compromise which is if no key converter is registered then as a last ditch fail over to checking for a type converter and it's ability to convert to and from a string and use it rather than throw the exception?  That would leave the existing API as is and the only people who ar

[2020-08-28 15:10] adamsitnik commented on #39115
Looking again at the benchmarks results I got and the full historical data from the lab it looks like Unixes have regressed:

[Ubuntu 18.04](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory/refs/heads/master_x64_ubuntu%2018.04/PerfLabTests.StackWalk.Walk.html)

![obraz](https://user-images.githubusercontent.com/6011991/91582991-dfd2a180-e950-11ea-9cdb-fd8adf8bfb22.png)

[Windows x

[2020-08-28 15:13] janvorli commented on #41125
It looks like the port should just work (only the change in `src/coreclr/src/vm/i386/excepx86.cpp` from my change is relevant, the other part of the change was a removal of a temporary workaround for the issue).

[2020-08-28 15:26] fanyang-mono opened #41520 "[WASM runtime test infrastucture] Environment variable is not set: 'CORE_ROOT'"
### Description
Tests failed with `Environment variable is not set: 'CORE_ROOT'`.

- ilasm/System/Runtime/CompilerServices/MethodImplOptionsTests/MethodImplOptionsTests.sh
- JIT/CheckProjects/CheckProjects/CheckProjects.sh

### Configuration

1. Get dotnet/runtime repo
2. Remove the test(s) that you would like to reproduce from `<repo_root>/src/coreclr/tests/issues.targets`
2. Build WASM: `./build

[2020-08-28 15:37] fanyang-mono commented on #38712
@marek-safar Should we removing these stale info in our code base?

[2020-08-28 15:38] adamsitnik opened #41521 "[RC1] Could not load type 'System.Utf8String' from assembly 'System.Utf8String.Experimental"
## Problem

Unable to use `Utf8String` in 5.0 RC1 SDK (`5.0.0-rc.1.20423.8`), it works fine in 6.0 alpha (`6.0.100-alpha.1.20428.8`)

[code]

## Repro:

The following code fails when using `5.0.0-rc.1.20423.8` SDK:

[code]

[code]

[code]

The problem is currently blocking performance repo from switching to `release/5.0.1xx` channel for downloading `net5.0` SDK (so far we were using `master` chann

[2020-08-28 15:42] wfurt commented on #30767
yes, this is because I used self-signed certificate and there is no good how to make it "trusted" by the tools.
As well as I used the default dev cert with "localhost" and I'm scanning "toweinfu.westus2.cloudapp.azure.com" so the name does not match. It should not really matter since the work was focus on protocol versions and ciphers.

Not that this is not applicable to old systems with OpenSSL 1

[2020-08-28 15:43] jeffschwMSFT opened #41522 "Survey: Native AOT [results]"
Thank you for responding to our .NET Native AOT survey (https://github.com/dotnet/runtime/issues/40430)!  We had over 1,400 responses.  We are in the process of analyzing results and will soon start to reach out for specific follow-up.  Nearly a quarter of the respondents provided their contact information. Thank you! Given the large number of responses, we will not be able to follow-up with every

[2020-08-28 15:43] ericstj commented on #40771
Not a regression: Same behavior in desktop.  Certainly it's not best practice to lock on public objects but given this behavior has been around for decade+ I'm reluctant to change it as it may be part of the design to have a shared lock object between this type and implementers (for example in WinForms).

WRT to the repro: it hangs when you lock on it; don't do that :)  Do you have any real world

[2020-08-28 15:45] jeffschwMSFT commented on #40430
The results of the survey have been posted - https://github.com/dotnet/runtime/issues/41522.  We are now in the process of following up with people that provided their contact information and have some additional follow-up questions.

[2020-08-28 15:47] AaronRobinsonMSFT commented on #41309
@roman380 Thanks for getting back to me. I launched Visual Studio elevated when I started and it was elevated the entire time. This morning, to make sure I wasn't mistaken, I closed down Visual Studio, relaunched again elevated, and then rebuilt - the same error occurs.

Here is a screenshot:

![image](https://user-images.githubusercontent.com/30635565/91586925-ee966580-e90a-11ea-8b0c-87be05d33a47

[2020-08-28 15:48] marek-safar commented on #38712
I'm not personally bothered by that.

[2020-08-28 15:49] ericstj commented on #32307
@safern I don't think this meets the bar at this point in 5.0.0.  Moving out.

[2020-08-28 15:51] KrabatTilt commented on #31460
Sry for the very late answer.

Not realy as it is a legacy format with a lot of files already beeing in circulation.

The thing is that no compression is used at all. The outer as well as the inner archive are just used as containers and are generated using CompressionLevel.NoCompression. The inner archive holds thousands of small entries and can be seen as a readonly container. The outer archive

[2020-08-28 15:53] scalablecory commented on #33418
@geoffkizer I believe suggestion came from @wfurt that most of the time you have no flags, but it has been some months.

[2020-08-28 16:00] AaronRobinsonMSFT commented on #41492
/cc @jkoritzinsky @tgani-msft

[2020-08-28 16:05] AaronRobinsonMSFT commented on #41492
It would be helpful to have more details on what OS is being used here. There have been some issues with missing libs to run C++/CLI binaries - see https://github.com/dotnet/runtime/issues/40131.

[2020-08-28 16:06] mangod9 commented on #41398
I notice that you had an aborted PR: https://github.com/dotnet/runtime/pull/34484 to fix `GetCacheSizeFromCpuId`. Does that need to be resurrected? If so I think I can get that code back..

[2020-08-28 16:12] CarnaViire opened #41523 "Address ConnectionListener.AcceptAsync nullability in tests"
ConnectionListener.AcceptAsync() was allowed to return null in #41304.

There's test code here that implements this API: https://github.com/dotnet/runtime/blob/8b5467e1ea0aa2bc5aa4a4281b71e5299d8c0af1/src/libraries/Common/tests/System/Net/VirtualNetwork/VirtualNetworkConnectionListenerFactory.cs#L56

This code is used in Connection tests, possibly elsewhere.

I assume this didn't break because it'

[2020-08-28 16:18] bartonjs commented on #41352
Can you share a specific certificate/context where you're seeing this error?

[2020-08-28 16:20] AndyAyersMS commented on #41521
I hit this too.

Also ran into issues with the deprecation of binary formatter, the suggested suppression via `SYSLIB0011` did not work and the only way I could get things to build was to delete the files that had binary formatter tests.

[2020-08-28 16:22] mangod9 commented on #37265
ok, moved to 6.0. Guess we can do the documentation update as part of quality week?

[2020-08-28 16:26] marek-safar commented on #41429
/cc @EgorBo

[2020-08-28 16:29] Symbai commented on #41522
No JIT and obfuscation on the last places. I wonder if this will boost readytorun or GAC approach rather than a true native solution I personally has hoped for? At least GUI and WPF on the upper places, so there is a chance for AOT with WPF and not AOT with console / MAUI / Xamarin.Forms only.

I'm really curios what we will get in the end and how the community reacts to it. It turned out there ar

[2020-08-28 16:30] mangod9 commented on #852
Ok, moving to 6.0 for now. @cshung can you continue looking into whether GC can be aggressive in collecting to avoid OOMs?

[2020-08-28 16:31] janvorli commented on #37265
It sounds reasonable, thanks!

[2020-08-28 16:41] #40430 closed

[2020-08-28 16:43] roman380 commented on #41309
@AaronRobinsonMSFT a few notes on how to possibly resolve build problem

1. we are using different VS versions, I have this:

and you seem to have some (fresher? Internal Preview?) one; this might explain the difference

2. I assume you have the lib.dll built and it's the other project (app) which triggers a failure. The COM DLL is different from default template project just by a few lines and I

[2020-08-28 16:49] EgorBo commented on #41414
Currently, it relies on the following JVM APIs:
[code]
to set up "HOME" and "TMPDIR" env. variables.

[2020-08-28 16:50] marek-safar commented on #41414
This sounds like `corerun` or the equivalent we have for Mono. I think it's worth exploring as we could ship shared libraries and a selected number of tests in one batch

[2020-08-28 16:52] marek-safar opened #41525 "Crash after linking code using DataContractSerializer"
---
**Issue moved from mono/linker#1460**
- Please respond to @rolfbjarne.

---

_From @rolfbjarne on Friday, August 28, 2020 2:06:52 PM_

Test case: [linkertestcase-e6b5538.zip](https://github.com/mono/linker/files/5142495/linkertestcase-e6b5538.zip)

To repro run `test.sh`:

[code]

This is the C# code:

[code]

[2020-08-28 16:53] marek-safar commented on #41525
/cc @eerhardt

[2020-08-28 16:56] lateralusX commented on #40430
@RalfKornmannEnvision Are you using the Xamarin Xbox One/PS4 Mono ports and LLVM codegen?

[2020-08-28 16:56] layomia commented on #41521
cc @Anipik, @ericstj I think this has to do with https://github.com/dotnet/runtime/pull/40960 where experimental types were pulled out of RC. As expected, the type are available in master/.NET 6. Is the expectation that consumers can use these experimental types in release candidates/builds?

[2020-08-28 17:08] ericstj commented on #41521
I believe that is expected. We don’t want experimental types in release builds.  They are experimental, not to be released.

[2020-08-28 17:13] #41515 closed

[2020-08-28 17:15] jkotas commented on #41521
The performance repo should not be building these tests by default, or maybe even not have them at all.

[2020-08-28 17:15] volaru77 opened #41605 "Currency format specifier "C" behaves differently in .NET 5.0.100-preview.8.20417.9"
### Describe the bug
Formatting a number with the "C" format specifier has changed, instead of using the CurrencySymbol value it is using the ISOCurrencySymbol value (i.e. for the "en-CA" culture CAD250,000 instead of $250,000).

This was observed in a blazor-wasm project.

### To Reproduce

### Exceptions (if any)

### Further technical details
.NET SDK (reflecting any global.json):
 Version:   5

[2020-08-28 17:22] joperezr commented on #41498
Moving to ComponentModel given the issue seems to be with the way that ReflectPropertyDescriptor is trying to get the default value of the object. This is not a regression, as I can at least repro with 3.1

[2020-08-28 17:22] briansull commented on #40810
@AndyAyersMS  I will take a look

[2020-08-28 17:24] joperezr commented on #41521
Closing this issue as per the discussion above this is expected.

[2020-08-28 17:26] adamsitnik commented on #41521
But how can we then use this type in `net5.0` apps? Even for "experiments"?

they have been useful to measure the ARM64 vectorization improvements (cc @carlossanlop @pgovind) and even exposed some regressions (https://github.com/dotnet/runtime/issues/41388)

I am aware of the fact that we won't include them just to make me or a few other `Utf8String` enthusiasts happy, but if we want to break the

[2020-08-28 17:27] vsfeedback opened #41604 "System.Text.Json.JsonSerializer.Deserialize crashes when parsing large string using Blazor"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1163083/systemtextjsonjsonserializerdeserialize-crashes-wh.html)._

---
[severity:Other] [regression] [worked-in:somewhere before 16.7.1]
Using Blazor/Wasm (3.2.0) and trying to parse a large json-string (135123600 chars) loaded from a file on my local windows machine, Syst

[2020-08-28 17:27] jkotas commented on #41398
#34484 fixed just one of the multiple different bugs that this code had. I think it needs to be written more or less from scratch using current editions of Intel and AMD manuals.

[2020-08-28 17:28] adamsitnik commented on #41521
It might be expected, but the problem still exists and a runtime error that does not contain any explanation is just a very bad user experience. I am reopening so at least a proper error message is added.

[2020-08-28 17:29] jkotas commented on #41521
You cannot. The plan for this is to move experiment like this to dotnet/runtimelab and allow you to publish self-contained apps if you want to play with experimental features like Utf8String.

[2020-08-28 17:31] briansull commented on #40810
I wouldn't expect that
` lea      edi, [rbx-1]`
to be slower than
` mov      edi, ebx`

The extra instruction in the prolog
`mov      ebx, edi`
should be offset by the extra instruction to setup the CSE
`lea      ebx, [rdi-1]`

[2020-08-28 17:31] jkotas commented on #41521
https://github.com/dotnet/runtimelab/issues/3

[2020-08-28 17:33] briansull commented on #40810
CSE doesn't see this as profitable.

[2020-08-28 17:38] carlossanlop commented on #40531
@mdh1418 what's the milestone for this issue?

[2020-08-28 17:39] janvorli commented on #41398
We can also gather this information from the `/sys/devices/system/cpu` without doing Intel / AMD specific kung-fu. There is for example `/sys/devices/system/cpu/cpu0/cache/index0/size` for level 1 cache of cpu0, `/sys/devices/system/cpu/cpu0/cache/index1/size` for level 2 and `/sys/devices/system/cpu/cpu0/cache/index2/size` for level 3.

[2020-08-28 17:42] ericstj commented on #41521
@adamsitnik why would you expect something different than a TypeLoadException here?  The type is missing.  We aren’t shipping this package.  We definitely don’t want to ship some random prerelease version in corelib... that was a mess with Span in 2.0.  I guess we could have a dummy copy of the type that throws an exception in constructor pointing folks to an aka.ms link.  Does that meet 5.0 bar a

[2020-08-28 17:43] jkotas commented on #41521
The workhorse method is used by regular UTF8Encoding (UTF8Encoding.GetCharCountFast ->  Utf8Utility.GetPointerToFirstInvalidByte -> ASCIIUtility.GetIndexOfFirstNonAsciiByte). This regression should have been caught by UTF8Encoding benchmarks too. If it was not, it suggests we may have a UTF8Encoding coverage hole.

[2020-08-28 17:46] bartonjs commented on #41381
Weird, it looks like macOS just didn't do SNI.

I think this test was written prior to CertificateRequest existing, so creating self signed certs had meant a) check one in and wait for it to expire or b) depend on an external resource.  Now that certs can be easily made on the fly, I agree that it can go from an external test to a self-test.

[2020-08-28 17:48] jkotas commented on #41398
We have this code for ARM64, so we can just remove the ifdef around it and use it unconditonally.

[2020-08-28 17:50] AndyAyersMS commented on #40810
But in 3.0 it was considered profitable?

[2020-08-28 17:51] joperezr commented on #41500
Hello @maomiaoyan, thanks for logging the issue. System.IO.Ports NuGet package isn't actually required in order to consume APIs like `SerialPort` in .NET Framework 4.6.1 given that on that framework all those APIs are Inbox.

Please try adding the following to your application which should fix the issue:
[code]

The NuGet package is only meant for .NET Core given that System.IO.Ports is not inbox

[2020-08-28 17:52] joperezr commented on #41500
I'll go ahead and close this issue given that you should be able to consume the APIs without the need of the package reference if you follow my suggestion above, but do feel free to reopen if you still have issues.

[2020-08-28 17:52] #41500 closed

[2020-08-28 17:53] cshung commented on #41379
I am writing this comment to propose and confirm the requirements for publishing.

Just to make sure everybody is on the same page. `ILCompiler.Reflection.ReadyToRun` is a library I extracted from `R2RDump` - a tool for doing a text dump of a ready to run image. The tool is routinely used by the @dotnet/crossgen-contrib team to develop the ready to run compilers.

# Retention and Frequency
Retenti

[2020-08-28 17:55] maomiaoyan commented on #41500
I know that ，my serialport in system.dll sometimes not response with one send in per 20ms,so I want upgrade it to check it
发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
发件人: Jose Perez Rodriguez <notifications@github.com>
发送时间: Saturday, August 29, 2020 1:53:12 AM
收件人: dotnet/runtime <runtime@noreply.github.com>
抄送: mao.miaoyan <mao.miaoyan@

[2020-08-28 17:58] mangod9 commented on #41398
yeah just removing [this](https://github.com/dotnet/runtime/blob/9b79ee6db16b27d10a49c6f73b54cf13c38bdcaa/src/coreclr/src/pal/src/misc/sysinfo.cpp#L568) seems like the best option for 5. Will create a PR, do we need to rethink for 6?

[2020-08-28 18:02] jkotas commented on #41398
Agree. We have a duplicate of this code in gcenv.unix.cpp for standalone GC, so please remove it there as well.

I think it is fine as a permanent fix ... until we discover the next problem with this.

[2020-08-28 18:03] joperezr commented on #41500
Unfortunately, the NuGet package will only work in .NET Core as the implementation is tied to that framework. If you want to use the one in the NuGet package in order to see if that fixes the issues you are hitting, you may want to migrate your application to .NET Core where most of the innovation happens.

[2020-08-28 18:06] safern commented on #41498
Marking as 6.0.0 since it is not a regression. However I might be able to fix this while nullable annotating TypeConverters.

[2020-08-28 18:07] maomiaoyan commented on #41500
The .net standard version dll in runtime windows folder is worked for .net461,others cant see class,but sometimes also not response for my send

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
发件人: Jose Perez Rodriguez <notifications@github.com>
发送时间: Saturday, August 29, 2020 2:04:01 AM
收件人: dotnet/runtime <runtime@noreply.github.com>
抄送: mao

[2020-08-28 18:11] eerhardt commented on #41359
@lostmsu - can you describe the scenario a bit more? Is the Icon file coming from a NuGet package? And by "native" assets you don't mean C/C++ assemblies do you? For those, you can use [AssemblyDependencyResolver](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.loader.assemblydependencyresolver?view=netcore-3.1)

[2020-08-28 18:21] #36752 closed

[2020-08-28 18:22] eerhardt commented on #41525
Similar to #41389.

In order to make DataContractSerializer serialization work with the ILLinker, we will probably need to address https://github.com/mono/linker/issues/1087.

[2020-08-28 18:24] joperezr commented on #41500
That is correct, there is an asset in the package which applies for .NET 461 on the runtimes folder, but if you inspect that file with a tool like ILDasm or ILSpy you will notice that its contents are:

![image](https://user-images.githubusercontent.com/13854455/91602648-8d798c80-e920-11ea-9d37-c5c50e756200.png)

This means that basically this assembly on the NuGet package is only redirecting all

[2020-08-28 18:29] davidfowl commented on #40624
I wrote a sample of an in memory transport and plugged it into HttpClient:

https://github.com/davidfowl/CommunityStandUpNet5/blob/89b849a96cf86904d52ca70adb9d4b37b0baf1bd/APIPlayground/Program.cs#L71-L118

[2020-08-28 18:30] davidfowl commented on #40624
@JamesNK has been working on a named pipes transport for gRPC.

[2020-08-28 18:30] AndyAyersMS commented on #40810
Locally I see a potential regression in FannkuchRedux_9 on windows x64, though the 5.0 run has high variance. But the other two versions seem to be consistently faster.

[code]

|            Type |       RT |  n | sum |      Mean |     Error |    StdDev |    Median |       Min |       Max | Ratio |
|---------------- |-------------- |--- |------------ |----------:|----------:|----------:|----------

[2020-08-28 18:30] layomia commented on #38812
The `ReadJsonAsync` etc APIs in `System.Net.Http.Formatting` use Newtonsoft.Json by default. You can consume the package here: https://www.nuget.org/packages/Microsoft.AspNet.WebApi.Client.

We understand that different scenarios/benchmarks have different perf characteristics and results/comparisons will vary depending on what is being tested. Performance is an area of continuous improvement for S

[2020-08-28 18:31] bartonjs commented on #29513
The general form of the risk of using DIMs to provide base implementations is the introduction of "the diamond problem", which can manifest itself as a recompile break (existing code fails to compile simply by upgrading to a newer version), and possibly also runtime failures.

I'm having trouble finding, offhand, where we'd be likely to introduce the diamond internally here, so I'll have to have t

[2020-08-28 18:32] SingleAccretion commented on #41522
One thing that I feel would improve the AOT story (and make using CoreRT a lot easier) for .NET __a lot__ is a way to tell whether your app/library is AOT-friendly and is guaranteed to not blow up at runtime on some random `Type.GetType`. The linker attributes are huge step towards that and it's feels important to me that we market them not just as "make your library Blazor-friendly", but "make yo

[2020-08-28 18:40] lostmsu commented on #41359
@eerhardt in my specific case I was forced to compress all the package assets, including native binaries, resource files, and scripts into a .tar.xz archive due to 250MB package size limit on NuGet.org. That archive is then the only content of the package. You can [check the source](https://github.com/losttech/PackagedTensorFlow/tree/lin/master) if you want. Most of the relevant stuff is in the pi

[2020-08-28 18:44] rcsprakash opened #41528 "Unable to load shared library 'User32.dll' in aks container"
Hi,
Facing this issue when we use System.Drawing library in AKS container running on linux.
System.DllNotFoundException: Unable to load shared library 'User32.dll' or one of its dependencies. In order to help diagnose loading problems, consider setting the LD_DEBUG environment variable: libUser32.dll: cannot open shared object file: No such file or directory.
Application developed in .netcore

Bel

[2020-08-28 18:44] davidwrighton commented on #41379
- As for retention and frequency, we should have our standard nuget publishing behavior where we publish to a development feed on every official build, and we will publish on occasion to actual nuget. At some point we should probably consider transforming PerfView to use this as the means for generating pdb files, so we'll want a means to do that.

- We need to make sure we sign the binaries.

- T

[2020-08-28 18:46] kouvel commented on #11314
It might be interesting to try using `GetQueuedCompletionStatusEx` again and having it work similarly to how epoll threads work on Linux, only posting to the IO completion port rather than to the thread pool (to preserve the current prioritization).

[2020-08-28 18:53] AndyAyersMS commented on #40810
Ubuntu looks similar for me (note older HW and RC8 vs Preview1, so not directly comparable to the above) -- FannkuchRedux_9 seems slower in 5.0.

[code]

|            Type |       RT |  n | sum |      Mean |    Error |   StdDev |    Median |       Min |       Max | Ratio |
|---------------- |-------------- |--- |------------ |----------:|---------:|---------:|----------:|----------:|----------:|--