[2020-02-05 04:26] #2320 closed

[2020-02-05 05:30] safern commented on #2271
Yep, I'll put up the PR for it.

[2020-02-05 05:31] jonathanmarston commented on #934
Ran into a good use case for this just today. Would love to see this finished up.

One minor nitpick though: doesn't having a single type acting as both enumerable and enumerator create a less-than-obvious inconsistency with the rest of .NET?

[code]

[2020-02-05 05:51] #2100 closed

[2020-02-05 06:10] jkotas opened #31785 "Configure illink task to trim unreachable platform-specific code"
IL linker is capable of constant propagation and dead code removal (see https://github.com/mono/linker/pull/848).

We should configure linking for the runtime package to eliminate platform-specific unreachable code that is under conditions like:
- IntPtr.Size, sizeof(IntPtr)
- BitConverter.IsLittleEndian
- hardware intrinsics IsSupported methods
- System.Runtime.InteropService.OSPlatform

[2020-02-05 06:11] jkotas commented on #31785
Related #31712

[2020-02-05 06:46] #2362 closed

[2020-02-05 06:47] #718 closed

[2020-02-05 06:49] CodeBlanch opened #31786 "System.Text.Json: JsonExtensionData + IgnoreNullValues bug"
Porting a service from .NET Framework to .NET Core we noticed a lot of NULLs started showing up in Kibana for certain fields (but not all fields) pushed from our structured json logs. I tracked this down to a bug in the handling of JsonExtensionData with IgnoreNullValues=true.

Consider this class:

[code]

With IgnoreNullValues=true that will serialize as:

[code]

Now consider this class:

[code

[2020-02-05 07:05] ahsonkhan commented on #31786
The `IgnoreNullValues` flag doesn't apply to collections (for example, list, dictionary, etc.) and only applies to when property values themselves is null. This includes dictionaries that are annotated with `[JsonExtensionData]`. This is by-design and matches `Newtonsoft.Json` behavior

Changing this would be a breaking change.

For example:
[code]

See: https://github.com/dotnet/runtime/issues/29

[2020-02-05 07:05] #31786 closed

[2020-02-05 07:06] ahsonkhan commented on #682
From @CodeBlance in https://github.com/dotnet/runtime/issues/31786

[2020-02-05 07:08] ahsonkhan commented on #682
The `IgnoreNullValues` flag doesn't apply to collections (for example, list, dictionary, etc.) and only applies to when property values themselves is null. This includes dictionaries that are annotated with `[JsonExtensionData]`. This is by-design and matches `Newtonsoft.Json` behavior

Changing this would be a breaking change.

For example:
[code]

See: https://github.com/dotnet/runtime/issues/29

[2020-02-05 07:11] cmeeren opened #31788 "System.Text.Json serializes single quotes as \u0027"
The following:

[code]

outputs

[code]

I would expect it to output

[code]

[2020-02-05 07:17] GrabYourPitchforks commented on #31788
This is by design. See https://github.com/dotnet/runtime/issues/1564#issuecomment-504780719 and https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-how-to#serialize-all-characters for further information.

[2020-02-05 08:14] snowchenlei commented on #31550
When the server returns 400、500, Catch HttpRequestException cannot retrieve the message information in response.Such as some user-friendly tips

[2020-02-05 08:32] safern commented on #2271
https://github.com/dotnet/runtime/pull/31789

[2020-02-05 08:54] raffaeler commented on #2205
Thanks @AlgorithmsAreCool I am already very familiar with preview releases

[2020-02-05 09:13] cmeeren commented on #31788
I see, thanks.

[2020-02-05 09:13] #31788 closed

[2020-02-05 09:20] am11 commented on #31785
If the build machine has different hardware capabilities than that of consumers', wouldn't it produce unexpected result? For instance, if software fallback is removed by this optimization, and some consumer required it.

[2020-02-05 09:58] ayende commented on #31664
When using the following option, will this cause the certificate validation to not leave the machine?

[code]

Is so, that is exactly what we want and I don't need anything else.

[2020-02-05 09:59] Gnbrkm41 commented on #31785
Aren't HWIntrinsics configurable by environment variable before the execution of the runtime? https://github.com/dotnet/runtime/blob/master/src/coreclr/src/jit/jitconfigvalues.h#L223-L245

[2020-02-05 10:08] MichalStrehovsky commented on #31785
I think this is about e.g. all x64 intrinsics never returning `IsSupported == true` on ARM.

[2020-02-05 10:13] ayende commented on #2382
This is running on SVR GC, I believe that my test case here is basically doing nothing, and causing high GC because of the number of objects / references we see.

When we run it for real, we aren't running GC constantly but letting it run at its own pace. The server is loaded, so when we need to do a real GC run, it has real work to do. I think that the real work + the lattice structure I have her

[2020-02-05 10:15] ayende commented on #2382
I don't know if anything can be done with regards to the second case. I think that this is just a case where we put a lot of work on the GC.
But for the second case, with `ThreadLocal` is more concerning. The problem is that if you have lots of instances of that / lots of threads, you end up in this situation.

This can happen easily if you are running using `ConcurrentBag` to do something, which

[2020-02-05 10:19] MaximLipnin opened #31792 "[mono] Test failed: System.ComponentModel.Composition.ExportCollectionTests.ImportCollectionsFromContainerOnly"
`System.ComponentModel.Composition.ExportCollectionTests.ImportCollectionsFromContainerOnly` fails on mono. It will be skipped with ActiveIssue in #2087.

[code]

[2020-02-05 10:30] janvorli commented on #31729
The new tailcall implementation based on my original design doc is still not in, see https://github.com/dotnet/runtime/pull/341.

[2020-02-05 10:32] gbalykov opened #31793 "Execute x64 CoreCLR tests dlls on arm32"
Previously, CoreCLR tests dlls, built for x64, could be executed on arm32, but now there is an error:
[code]

Could you, please, describe what has changed?

cc @alpencolt

[2020-02-05 10:45] luithefirst commented on #31692
I've now added two versions, one that uses `Vector128<float>`:
[code]
and one with `Vector4` (using `DotProduct(this, this)` internally):
[code]

Both generate the code as expected. Using overlapping fields even allow to use own structs, but there is an overhead to pay in the constructor as it requires initialization. .NET 5 should have a solution for that with `Unsafe.SkipInit`.

[2020-02-05 11:27] jakobbotsch commented on #31729
The tailcall stress tests do not rely on helper-based tailcalls working. This is probably an actual bug in the implementation of fast tailcalls in Windows arm64 or a bug in the implementation of the ABI on that platform.

To get a better test case on windows arm64 I would rerun the test with smaller and smaller `--max-params` ([args](https://github.com/dotnet/runtime/blob/08a64b4cf72bebf0906f985e6

[2020-02-05 12:36] bkbartje opened #31795 "deserializing to DataSet returns 0 tables"
when I use this method
var ds = System.Text.Json.JsonSerializer.Deserialize<DataSet>(json);
the dataset has gets no tables and stays empty.

[2020-02-05 12:36] MaximLipnin opened #31796 "[mono] Tests failed: System.Diagnostics.Tests.StackTraceTests.Ctor_Exception_SkipFrames*"
There are two `System.Diagnostics.Tests.StackTraceTests` tests which fail similarly:
- nomethod System.Diagnostics.Tests.StackTraceTests.Ctor_Exception_SkipFrames
- nomethod System.Diagnostics.Tests.StackTraceTests.Ctor_Exception_SkipFrames_FNeedFileInfo

[code]

It looks like that the problem could be resolved like in https://github.com/mono/mono/pull/18241

For now the failing tests will be skip

[2020-02-05 12:42] stephentoub commented on #11594
Why is it important that it not include setting up the connection? In many typical use cases, you're going to be getting an already established connection from the connection pool, and in cases where you don't, from a consumer perspective the setting up if the connection is still part of the time between when the request is sent and the response is received.

If you're comfortable with a timeout t

[2020-02-05 12:58] alnikola commented on #911
### HttpRequestException.StatusCode property
### Rationale and Usage
A new nullable HttpRequestException.StatusCode property exposes a response's status code if it has been already received, otherwise it's set to null. This will enable a direct access to the status code on exceptions thrown from HttpClient's simple GET methods and HttpResponseMessage.EnsureSuccessStatusCode(). New HttpRequestExcep

[2020-02-05 13:04] MaximLipnin opened #31797 "[mono] Test failed: System.Diagnostics.Tests.StackTraceTests.ToString_Invoke_ReturnsExpected"
`System.Diagnostics.Tests.StackTraceTests.ToString_Invoke_ReturnsExpected` fails on mono. It will be skipped with ActiveIssue in #2087.

[code]

[2020-02-05 13:24] #27453 closed

[2020-02-05 13:34] jader1313 commented on #981
@maryamariyan I tried to run the tests but I am getting the following error:

[05/02/2020 9:59:42.882 ] ---------- Discovery started ----------
Microsoft.VisualStudio.TestPlatform.ObjectModel.TestPlatformException: O processo do testhost foi encerrado com o erro: It was not possible to find any compatible framework version
The framework 'Microsoft.NETCore.App', version '5.0.0' was not found.
  - T

[2020-02-05 13:39] jkotas opened #31799 "[mono] Wrong System.Data.SqlClient.dll loaded"
Live-built System.Data.SqlClient is being deleted in #2275. The few tests that use System.Data.SqlClient are being switched to use NuGet package.

The Mono assembly seems to have a bug where it loads wrong System.Data.SqlClient.dll after the switch to use NuGet package that makes these tests to fail. I am disabling these tests against this issue.

[2020-02-05 13:55] EgorBo opened #31800 "[mono] AppContext.BaseDirectory is empty in some cases"
When I run runtest.py (see `make run-tests-coreclr-all`) with Mono Runtime bits inside the Core_Root it crashes with
[code]

It looks like [GetBaseDirectoryCore](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/AppContext.cs#L26) returns empty string on first usage (and then a correct string after).

cc @CoffeeFlux

[2020-02-05 14:06] alnikola commented on #1844
I also think we shouldn't change the default here since it can negatively affect existing applications (even setting it to 256 can cause a throughput degradation). In my opinion, it might be better to ask Azure Storage SDK team to expose this parameter through their API.

[2020-02-05 14:06] EgorBo commented on #31800
Workaround in https://github.com/dotnet/runtime/pull/31739/files#diff-de0eb416fb154da3c76ecf6c8f5105fb

[2020-02-05 14:07] jkotas commented on #31793
cc @trylek  ?

[2020-02-05 14:23] TravisRidge commented on #31743
@jkoritzinsky The "Ijwhost.dll" was added automatically in the folder next to the assembly in both the builds for the C++ and C# projects. (Curiously the dll had used an uppercase "i", but I tried changing it to lowercase on a hunch with no difference in error message.)

As for the others, I'm not sure how I can verify that. I've adjusted my test project's code to remove those unnecessary includes

[2020-02-05 14:25] vcsjones commented on #31703
I think there are two options here.

1. Figure out how to get the DB2 library working without DES.
2. Disable FIPS requirement for RHEL.

The first option is very much the better one.

My understanding is that FIPS enforcement for REHL is an opt-in policy. It seems like the RHEL instance you are deploying to has FIPS enabled intentionally, thus DES is disabled. Can you confirm if the RHEL instance

[2020-02-05 14:44] Tragetaschen opened #36060 "The HostBuilder holds on to Autofac's root IServiceProvider which cannot be disposed"
### Describe the bug
This is a follow up on https://github.com/autofac/Autofac.Extensions.DependencyInjection/issues/68

The `HostBuilder` creates the initial `IServiceProvider _appServices` for the host:
https://github.com/dotnet/extensions/blob/v3.1.1/src/Hosting/Hosting/src/HostBuilder.cs#L233
For the Autofac integration, this service provider holds a reference to the built Container and certai

[2020-02-05 14:44] stephentoub commented on #31783
cc: @kouvel

[2020-02-05 14:48] alnikola commented on #31480
Could you please confirm that in the repro code above the ```token``` value happens to be an empty string whereas you expect it to be that JSON string ```"{"number_token":....."}"```? Is my understanding correct?

[2020-02-05 15:06] MaximLipnin opened #31804 "[mono] Tests failed: System.Runtime.Loader.Tests.RefEmitLoadContextTests.LoadRefEmitAssembly"
`System.Runtime.Loader.Tests.RefEmitLoadContextTests.LoadRefEmitAssembly` fails on mono. This test is disabled in CoreFX.issues.rsp file, but it will be moved into its respective xUnit test with `ActiveIssue` in #2087.

[code]

[2020-02-05 15:12] alnikola commented on #31676
I checked the test and it doesn't expect null actually, instead it compares response's MD5 hash returned from the server to the hash calculated in the test. It means that Assert failed because the response somehow had hash=null which seems to be an intermittent network or server error since this is the only failure on this test's history.

[2020-02-05 15:13] SeeminglyScience commented on #934
@jonathanmarston

The compiler creates a copy of the struct enumerator before enumerating ([SharpLab Example](https://sharplab.io/#v2:D4AQTAjAsAUCDMACciDCiDetE+WMm2uxAbgIYBOiApogLyIB21A7ogMoAuFArgMacAoox4BbahTKcA9hUEAPMqIAOAG2oAKeAAYAlAG4ixHADNZ1MnwAWiDQEtGnRHeeMauo8awxjv5BABOewNPYgBfWFDcMwoLa1sHJxcHdyicbz9jEEDgwx8/CPycQuJPBERYk0QAZ25+Jy5eAWExCSlZBSU1Wgy/ZQo7ck5aRMQAfQcAE2p5PMy0xH7BqVpYsknpRlUAT1c

[2020-02-05 15:18] ViktorHofer commented on #31799
cc @akoeplinger @steveisok

[2020-02-05 15:23] trylek commented on #31793
@gbalykov - can you please clarify whether you're using AOT (Crossgen-compiled) or MSIL code when running the tests? I believe that, when Crossgen compiles MSIL, it checks the architecture word in the PE header and refuses to compile in case of mismatch i.e. it shouldn't let you compile MSIL claiming to be targeting x64 to native code targeting arm32. AFAIK CoreCLR tests are run via corerun.exe -

[2020-02-05 15:26] trylek commented on #31676
Thanks @alnikola for double-checking. If it was a one-off failure, feel free to close this item as no repro. If it happens again, we'll be able to find this item in GitHub history and decide whether further action is needed.

[2020-02-05 15:28] alnikola commented on #31676
Closing as an one-off failure.

[2020-02-05 15:28] #31676 closed

[2020-02-05 15:38] ViktorHofer commented on #31757
That should only be a matter of setting the `DEVPATH` variable in the -vs path in the build.ps1 script. Assigning to myself to take care of this.

[2020-02-05 16:00] #31727 closed

[2020-02-05 16:05] tarekgh commented on #27935
@GrabYourPitchforks I am wondering for IsPrefix and IsSuffix, does it need to return Range? usually, the index would be 0 anyway from start or from the end. returning the matched length may make more sense and simpler in this case.

[2020-02-05 16:07] lambdageek commented on #31799
The disabled tests in question are in this commit: https://github.com/dotnet/runtime/pull/2275/commits/bb16909469e7435e02b6fe39921ddf257858906c

[2020-02-05 16:09] dagood opened #31805 "Fix up NETCoreApp closure validation when assembling runtime packages"
In a recent official build binlog, it looks like `VerifyClosure` isn't running, and its dependency `GetClosureFiles` doesn't show up at all. This is an important check to ensure shared framework integrity.

[2020-02-05 16:10] vasont commented on #14819
Seriously this got booted to next year/release? SMH

[2020-02-05 16:13] CoffeeFlux commented on #31800
In some cases, the domain's `entry_assembly` appears to be null, including during the first call to `GetEntryAssembly()`.

[2020-02-05 16:21] ViktorHofer opened #31806 "Reenable illink subscription"
We disabled the illink subscription and reverted the latest illink update because it strips out assembly attributes from shims which are important.

cc @dotnet/runtime-infrastructure @marek-safar

[2020-02-05 16:26] ViktorHofer commented on #1026
Why does signing depend on the UCRT redist files?

[2020-02-05 16:28] dagood commented on #1026
Someone who knows why CoreCLR needs to sign it would need to answer that. The config in question:

https://github.com/dotnet/runtime/blob/516956a01fee9aa732b199012a6ea0bcc2bd789f/eng/Signing.props#L53-L56

[2020-02-05 16:37] d0tn3tc0d3r commented on #1094
I ran into the same exception while opening some files contained in in large zip files from an external source. It wouldn't surprise me if they were generated by Java based tools. The files can be read without problems with the same code compiled for the .NET Framework. Converting the project to .NET Core 3.1 is now blocked by this issue.

The issue in the zip files that I have is that some files

[2020-02-05 16:40] dagood commented on #1026
I'm not sure what the behavior of that DLL is in general--if it's only packed up in Release builds (so the condition just needs to work right?), if we could enable it in Debug builds, if there's some root issue that could be sorted out....  It's possible it's not hard, I didn't look into it other than filing this tracking issue since it wasn't the priority. Best first step IMO is seeing what happe

[2020-02-05 16:48] ericstj commented on #1094
We should fix the check in servicing for 3.1.  You don't need API, typically we do this sort of thing with AppContext switches, which can be controlled via runtimeconfig IIRC.  The benefit there is that you can do it in servicing without API.

[2020-02-05 16:55] gbalykov commented on #31793
Simpler example is to try to launch x86 tests dlls on x64 runtime, result is the same as for x86/x64 tests dlls on armel.

[code]

I've built runtime using next commands on Ubuntu 18.04:
[code]

After running ildasm on these two dlls diff is only in the next lines:
1) x64
[code]
2) x86
[code]

On previous versions we were able to execute tests, which were built for x86, on armel and vice versa.

F

[2020-02-05 16:56] GrabYourPitchforks commented on #27935
@tarekgh IsPrefix isn't guaranteed to return a 0 index, which surprised me when I tested it. Counterexample: source = `"<ZWJ>hello"`, target = `"he"`, IsPrefix = true with match = (1, 3).

[2020-02-05 16:58] stephentoub commented on #31676
My concern here is that we have millions of tests.  If each sporadically has a one-off failure, we'll never get clean.  We need to find ways to get resilient against such things, retries, whatever.

cc: @ViktorHofer

[2020-02-05 17:01] Jlalond commented on #2293
@danmosemsft @terrajobst
Just an update. I'm working on this, added the interface to private core Lib, just stumbling my way through having collections.generic and immutable pick up on this.

Last question if you know off your head Dan, do I need to make any changes to Mono for this? I'm not insightful on where corefx ends and mono starts. So if you know it could save me from some independent rese

[2020-02-05 17:02] ViktorHofer commented on #31676
In code retries are already possible with the RetryHelper. We should clarify if that's enough or if we want an easier way like flagging tests as flaky so that they retry automatically. As most of such failures happen in System.Net.* I ask for opinions from @wfurt @davidsh @karelz and others.

[2020-02-05 17:06] tarekgh commented on #27935
@GrabYourPitchforks I think you are referring to IndexOf which in some cases not returning 0.  if IsPrefix returns true then 0 index is the still correct answer (and should be always the case). The behavior you are describing is just Windows behavior which I don't think is accurate (even if it is technically correct). moving forward I think 0 index is always the right answer for the prefix. In you

[2020-02-05 17:11] maryamariyan commented on #981
@jader1313 you could perhaps try running the following from the developer command prompt:
[code]
and then use [MSBuild Binary and Structured Log Viewer](http://msbuildlog.com/) to read logs in test.binlog in case there is still a repro.

[2020-02-05 17:14] danmosemsft commented on #2293
@Jlalond you should not need to make changes to Mono. Part of the reason for moving the Mono runtime into this repo is to make it seamless to use the same exact libraries with either CoreCLR or the Mono runtime. There is only a small part of the core library that diverges:
coreclr\src\System.Private.CoreLib vs mono\netcore\System.Private.CoreLib. (Most of the core library is shared out of librarie

[2020-02-05 17:17] danmosemsft commented on #14819
I reached out to XmlPrime (https://www.xmlprime.com/xmlprime/) and they confirmed that they have completed .NET Core support now. This is a commercial offering, so this isn't a solution for everyone. If you try this - it would be great to post your results back here to help others in the community.

[2020-02-05 17:20] MikeCodesDotNET commented on #1094
@d0tn3tc0d3r, I used the 'Advanced Diagnostics' in WinZip to validate the zip files. If you use the standard validation, it'll actually show the Zip files as valid!

@ericstj As far as I can see, most zip tools do not validate, which is why WinZip and 7Zip will successfully unzip these invalide zips. Given that .NET Framework also gracefully handled the invalid zip fles, should we not try and keep

[2020-02-05 17:22] GrabYourPitchforks commented on #27935
Normalizing the result to 0 could introduce a discrepancy where IsPrefix and IndexOf return different ranges given the same input. Wouldn't that possibly lead to coding errors?

[2020-02-05 17:23] ViktorHofer commented on #1026
Thanks, assigning to myself to look further.

[2020-02-05 17:25] Jlalond commented on #2293
@danmosemsft Thanks for the clarification, I hope to have this done shortly.

[2020-02-05 17:26] joperezr commented on #981
@jader1313 The error you are getting while running the tests is probably because you didn't follow all of the steps in order to run them. What we do is that we will build  a special SDK during our regular build in the repo, and then we will use that one to run our tests, but looks like you didn't do that and only installed a 5.0 sdk which is not enough. In order to be able to run our tests please

[2020-02-05 17:30] tarekgh commented on #27935
I don't think so, because both answers are correct. I don't think anyone will call IndexOf and IsPrefix try to match both results (we do that only in our tests but we can change that). Today, if someone doing that, they are already broken. So, we are not really breaking anyone. I think ICU doesn't have this behavior (we can confirm though). Supporting such case just to work with Windows is not wor

[2020-02-05 17:55] ViktorHofer commented on #1026
cc @janvorli @trylek, why do we only produce that files in Releas? Tomas mentioned it might already be obsolete?

[2020-02-05 17:58] CodeBlanch commented on #31786
@ahsonkhan Hang on I wouldn't say this is the same issue as #682.

@steveharter's comments on #682 are spot-on. We don't want IgnoreNullValues=true to mess with the content of enumerables, I'm in no way suggesting that. But [JsonExtensionData] is a special case, right? It is a Dictionary, sure, but as a means to an end; a convenience to attach properties at the root. IgnoreNullValues does apply to

[2020-02-05 18:02] maryamariyan commented on #981
@jader1313 I just realized our official builds on dotnet/runtime don't build for netfx any longer. However you can still follow @joperezr instructions to run any dotnet/runtime test for .net core.

In order to run your test against both netfx and netcoreapp you would need to add it in the release/3.1 branch in dotnet/corefx repo. You can run the tests to make sure that there is a change in behavio

[2020-02-05 18:14] CoffeeFlux commented on #31800
The problem appears to be that the assembly preload hook is triggered early, before `prepare_thread_to_exec_main` is run. On netcore, the preload hook includes a call to managed to locate the BaseDirectory, and the icall returns null because `prepare_thread_to_exec_main` is where the `entry_assembly` is actually set.

[2020-02-05 18:14] marclameu commented on #7764
I'm waiting for this support too...

[2020-02-05 18:16] tannergooding commented on #31785
I don't believe we currently support this for the R2R code. We would have to determine if it is appropriate to support for AOT code in general.

[2020-02-05 18:17] ViktorHofer opened #31809 "[x86 Windows] GC stackwalking crash with R2R PInvoke frames"
Configuration: netcoreapp5.0-Windows_NT-Release-x86-CoreCLR_release-Windows.81.Amd64.Open

console.4a227872.log:
  https://helix.dot.net/api/2019-06-17/jobs/7b2af8b3-f1bf-4cd8-912b-47f19883cf58/workitems/System.Xml.Xsl.XslTransformApi.Tests/files/console.4a227872.log

dotnet.exe.1760.dmp:
  https://helix.dot.net/api/2019-06-17/jobs/7b2af8b3-f1bf-4cd8-912b-47f19883cf58/workitems/System.Xml.Xsl.XslT

[2020-02-05 18:18] trylek commented on #1026
I found a commit that seems related:

https://github.com/dotnet/coreclr/commit/557c8f0078b01a220077f02bc703c4a16c3e4e41

@mmitche - is there any harm in executing the CopyUcrtFiles target even in debug mode so that we can test signing in PR runs?

[2020-02-05 18:20] ericstj opened #31810 "Libraries nuget packages contain XML docs next to runtime assemblies"
Noticed this with System.DirectoryServices.Protocols:
[code]
Both the lib and runtimes xml's will never be used.

[2020-02-05 18:22] vcsjones commented on #31795
Related to https://github.com/dotnet/runtime/issues/29959#issuecomment-503876056. "DataTable and related types" are not supported currently. I would assume that since `DataTable` is not supported, then `DataSet` is not either.

[2020-02-05 18:27] ahsonkhan commented on #31786
@CodeBlanch, thanks for clarifying and sharing your scenario details.

We discussed this previously not only for enumerables but for all collections including dictionaries and `JsonExtensionData` as well. Having the behavior you are suggesting would make dictionaries marked as extension be inconsistent with how any of the other dictionary properties serialized/deserialized, which I think would be

[2020-02-05 18:29] jkotas commented on #31809
We crash during GC while stackwalking `GetFullPathNameW`:

[code]

[2020-02-05 18:33] jkotas commented on #31809
https://github.com/dotnet/runtime/pull/31659 hit it as well. That one crashes under:
[code]

[2020-02-05 18:36] jkotas commented on #31809
@fadimounir This is most likely caused by https://github.com/dotnet/runtime/pull/31811 . I am going to revert it. Sorry...

[2020-02-05 18:37] jkotas commented on #31809
Revert in #31811

[2020-02-05 18:38] am11 opened #31812 "System.IO.FileSystem.Tests failing"
Windows: https://helix.dot.net/api/2019-06-17/jobs/157fb4a8-bef1-48f1-814a-e32b8cfae7fb/workitems/System.IO.FileSystem.Tests/console

[code]

Linux: https://helix.dot.net/api/2019-06-17/jobs/8c37ad05-d0c1-4333-a79c-852bef842904/workitems/System.IO.FileSystem.Tests/console

[code]

another Linux failure: https://helix.dot.net/api/2019-06-17/jobs/21d597b4-edd9-47e4-80fa-8a3d4c531c34/workitems/System

[2020-02-05 18:52] jkotas commented on #31812
All these are 6 month old crashes, with no repro since then. Not worth looking into them.

[2020-02-05 18:55] safern commented on #31760
Closing as we reverted the break.

[2020-02-05 18:55] #31760 closed

[2020-02-05 18:56] am11 commented on #31812
@jkotas, they are all from this and the previous week?

[2020-02-05 18:57] mikadumont opened #59012 "DateTime.UtcNow Analyzer"
Analyzer that suggests DateTime.**UtcNow** whenever DateTime.**Now** is used.

[2020-02-05 19:00] jkotas commented on #31812
Ah, sorry - I got confused by the "2019-06-17" in the link

[2020-02-05 19:02] layomia commented on #30687
If there are such cases, instead of using one enum for both, maybe we can have two properties on `JsonIgnoreAttribute`:

[code]

[2020-02-05 19:02] am11 commented on #31812
It confused me too, but it seems to be the helix web api version 😄

[2020-02-05 19:06] jonathanmarston commented on #934
Ah yes. I see it now. Thanks!

[2020-02-05 19:09] fadimounir commented on #31809
@jkotas Ok thanks. I'll take a look at it. Quite interesting... I've been running a couple of instances of gcstress tests with the fix for a couple of days, and none of them crashed

[2020-02-05 19:42] jkotas commented on #31809
This may be the type of issue that gc stress is not good at catching. Let me know if you need to help with a repro. I think running Guid.NewGuid and some allocations, on multiple threads, with release build, and tiered compilation disabled should reproduce it reliably.

[2020-02-05 19:42] CheloXL opened #31818 "WritePropertyName in JsonConverter doesn't respect casing"
I have a custom JsonConverter. In the write method, I have something like `writer.WritePropertyName(nameof(IOperationResult.Value))`.

The problem is that when using the `JsonSerializer.Serialize` method and passing in the options `PropertyNamingPolicy = JsonNamingPolicy.CamelCase`, the property name is written as **Value** instead of **value**.

I need a way to respect the user settings, either b

[2020-02-05 19:44] CheloXL commented on #31818
Found the method.

[2020-02-05 19:44] #31818 closed

[2020-02-05 19:56] steveharter opened #31820 "Need a better user experience for crash dumps occurring in PRs"
Currently if there is a crash in a PR there is no easy way to diagnose since:
- The symbols are not attached to the PR and not available publically.
- There are no instructions on how obtain the symbols (or runtime files).
- Instructions on how to debug using `lldb` did not work. This may be an issue with the SOS plugin on OSX.

Background: As part of https://github.com/dotnet/runtime/pull/2259 th

[2020-02-05 20:11] Anipik opened #31821 "Neccessary Tasks after the First Iteration"
We need to update our docs to reflect the changes in how we build the libraries subset as well as the vs experience.

cc @ViktorHofer @safern @ericstj

[2020-02-05 20:32] Anipik opened #31823 "Libraries Build and VS Experience Changes"
Libraries Build will now be  using dotnet sdk outerbuild and innerbuild infrastructure to build the BCL.
Configurations.props file will no longer be required. TargetFrameworks can be directly used instead of BuildConfigurations.

I will just summarize the build and VS experience changes for the dotnet community.

# Build Changes
1.	We are no longer overloading the configuration property. The only

[2020-02-05 20:32] danmosemsft commented on #31820
cc @wfurt

[2020-02-05 20:35] danmosemsft commented on #31823
Yay - especially for the Visual Studio improvements.

[2020-02-05 20:43] melanchall commented on #26296
I want this feature too. I'm writing CSV parser using `StreamReader` and can't get exact line ending when CSV value includes `\r` or `\n` or both.

[2020-02-05 20:49] ViktorHofer commented on #31823
What about netstandard2.0 and 2.1? Aren't those implicit as well?

[2020-02-05 20:52] safern commented on #31823
FYI: I just pinned the issue so that it is visible.

[2020-02-05 20:53] jeffschwMSFT commented on #17419
@nguerrera @jaredpar

[2020-02-05 20:53] ViktorHofer commented on #31823
I changed the title to indicate that this is only about libraries (for now).

[2020-02-05 20:56] jeffschwMSFT commented on #2037
Moved to https://github.com/dotnet/sdk/issues/10606

[2020-02-05 20:56] #2037 closed

[2020-02-05 20:59] roji commented on #22336
Small note after looking at this again: a quick grep in dotnet/runtime's System.Data.* reveals that all current EventSources seem to be emitted from DataSet/DataTable/DataRow and related types; in other words, they are not emitted from any actual provider-related code.

[2020-02-05 21:07] lambdageek commented on #31662
This is an orthogonal issue. 839 is about how the assemblies and native code are _built_.

Mono's `--debug` option controls how the runtime behaves - whether the JIT will make provisions for debugging info to be available (by loading PDBs, etc).  This is most directly observable on stack traces on exceptions - without `--debug` even for assemblies compiled with Debug builds, mono will not have lin

[2020-02-05 21:15] ViktorHofer commented on #31820
@steveharter I assume you are talking about this build? https://dnceng.visualstudio.com/public/_build/results?buildId=506909

There was a dump uploaded for the crash, see the attachments section in the failed workitems: https://dnceng.visualstudio.com/public/_build/results?buildId=506909&view=ms.vss-test-web.build-test-results-tab&runId=16085098&resultId=168576&paneView=attachments.

console.b045c

[2020-02-05 21:21] yaakov-h commented on #911
@alnikola yep, that does seem to be the simplest way to proceed, I like it.

The only question I have on it - should `StatusCode` be an `int?`, or ` System.Net.HttpStatusCode?`?

Checking the value would typically require a bit of casting, since everything else under `System.Net.Http` seems to use `HttpStatusCode`, and I think the standard set of non-enum integer constants is part of ASP.NET Core,

[2020-02-05 21:21] wfurt commented on #31820
Getting the core is not that hard. (even if not obvious) Getting matching test bits is more difficult.

[2020-02-05 21:24] ViktorHofer commented on #31820
I was under the assumption that a crash dump would be sufficient to diagnose such issues. I'm unsure what the action item here is. @steveharter can you please clarify?

[2020-02-05 21:35] jader1313 commented on #981
@maryamariyan I had already executed the instructions on the website https://github.com/dotnet/runtime/blob/master/docs/workflow/building/libraries/README.md but I followed the instructions suggested by @joperezr again and got the following results:

Discovering: System.Data.OleDb.Tests (method display = ClassAndMethod, method display options = None)
    Discovered:  System.Data.OleDb.Tests (found

[2020-02-05 21:35] #13575 closed

[2020-02-05 21:35] #24584 closed

[2020-02-05 21:41] jader1313 commented on #981
But the test I would create would be an adaptation of this code:

    string StrConn = "Provider=MSOLEDBSQL;Server=(localdb)\\MSSQLLocalDB;Database=SarathlalDb;DataTypeCompatibility=80;Integrated Security=SSPI; ";
    using (OleDbConnection connection = new OleDbConnection(StrConn))
    {
        connection.Open();
        using (OleDbCommand command = new OleDbCommand())
        {
            com

[2020-02-05 21:42] CarolEidt commented on #31692
It looks like there are still redundant loads, and in the `Vector4` case a failure to fold the (redundant) load into the `vdpps`. Would you be fine with making that the focus of this issue?

[2020-02-05 21:46] maryamariyan commented on #981
@jader1313 I believe we already have tests on the repo exercising the code path you are sharing:

https://github.com/dotnet/runtime/blob/master/src/libraries/System.Data.OleDb/tests/OleDbCommandTests.cs#L137-L175

[2020-02-05 21:46] tannergooding commented on #31692
I believe this is due to the older SIMD code not generally supporting containment; as we had discussed a couple weeks back.

[2020-02-05 21:47] eerhardt opened #31825 "Zip64ExtraField should read StartDiskNumber as uint32"
According to https://pkware.cachefly.net/webdocs/casestudies/APPNOTE.TXT:

And the spec for the Zip64ExtraField doesn't note otherwise:

However, we are reading the "Disk Start Number" as a signed int32, and then throwing an exception if the number is negative:

https://github.com/dotnet/runtime/blob/33b7ed8795d70d28bfeaf40498d94f6bede8769d/src/libraries/System.IO.Compression/src/System/IO/Compres

[2020-02-05 21:52] NikolaMilosavljevic commented on #2431
Not relevant anymore.

[2020-02-05 21:52] #2431 closed

[2020-02-05 21:55] NikolaMilosavljevic commented on #2452
We are deprioritizing this as it is Win7 only. Confirmed that it is already documented and users have a way to install the prereq.

[2020-02-05 21:55] #2452 closed

[2020-02-05 21:58] NikolaMilosavljevic commented on #2530
Source-build is available publicly. We also provide Snap and native installers.

[2020-02-05 21:58] #2530 closed

[2020-02-05 22:07] #27402 closed

[2020-02-05 22:13] #126 closed

[2020-02-05 22:20] rankeren opened #31827 "List<T> RemoveAt to return the removed value"
In the domain of system-modeling (e, systemVerilog, matlab, phyton), lists are obsoleting arrays, stacks (and usually also queues ) altogether. Other domains that use python, perl and ruby have that same mindset, as well.
c# seem so great ..but...

The **Remove&Return** approach is respected by :
C# Stack, C# Queue, Java ArrayList ,Python list, Perl, Ruby, 'e', systemverilog and others.

**A notab

[2020-02-05 22:27] eerhardt commented on #25027
Looking. I'll let you know what I find out.

[2020-02-05 22:29] rankeren opened #31828 "List<T> to Support Pop()"
C# Why should i limit myself to List or Stack ? ( instead of having both)

List is implemented in C# exactly as Stack, see:

https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.stack-1.push?view=netframework-4.8#remarks
https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.list-1?view=netframework-4.8#remarks
Given that:

Why should developers choose, List or St

[2020-02-05 22:31] buyaa-n commented on #1094
@d0tn3tc0d3r

I think that issue should be fixed too, @eerhardt could you add fix for that with your fix? or i can work on the fix CC @ericstj

We had issue ZipArchive extracting a tampered zip file which Uncompressed size in central directory is much bigger that real Uncompressed size https://github.com/dotnet/runtime/issues/27741

[2020-02-05 22:47] jfbueno commented on #31828
I don't wanna dig into the whole idea of List and Stack being different data structures used for different purposes. But, in general, I don't think that this is a good change in List API design.

Although, you can easily achieve your goal this creating a extension method in your projects. Something like:

[code]

[2020-02-05 23:16] terrajobst commented on #20234
@fowl2

We don't define any extension methods in the `File` class today, but wouldn't be a blocker IMHO. What I find odd is that we don't really treat handles as things you invoke methods on (modulo anything related to the life time of said handle). Not that it's wrong, but it's just not the pattern.

Is there a key scenario where avoiding flushing is necessary? Given that `Flush()` will only pers

[2020-02-06 00:05] jaredpar commented on #2176
Looks like right now this is failing 14% of all runtime jobs: CI and PRs. Particularly though it's for OSX10.13 and OSX10.14. Think at this point we need to pull those configurations until we can get the underlying issue fixed.

[2020-02-06 00:23] CarolEidt opened #31831 "Poor loop optimization in BilinearInterpol benchmark"
The `Vector<T>` version of this benchmark (`BilinearInterpol_Vector`) has a number of weaknesses:

First, although the temporary array `doubleTemp` is allocated with a constant length:
[code]
The loop cloning code is unable to determine `V24.length`:
[code]
So it decides to clone the loop, AFAICT so that it can eliminate the range check on `doubleTemp`, but then it eliminates it from both clones s

[2020-02-06 00:29] jader1313 commented on #981
@maryamariyan I redid the previous test with LocalDB and realized that it passes in .Net Core x64 but presents the error in x86.
Visual FoxPro, for example, only has a 32-bit driver.

[2020-02-06 00:45] dagood commented on #789
Sorry I missed this issue back when it was reported! Both the preview branding issue and missing files issues described here were reported elsewhere and documented as known issues for 3.1.0 at https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1-known-issues.md#aspnet-core, with a workaround for the broken install one. They're indeed both resolved with 3.1.1.

[2020-02-06 00:45] #789 closed

[2020-02-06 00:51] danmosemsft commented on #31827
This would be a binary breaking change because it is part of the implementation of `IList<T>`. You would have to add another method.

[2020-02-06 01:02] steveisok commented on #31799
From what I can tell, `System.Data.SqlClient.dll` is the same one loaded into both runtimes.

Here's a snippet of the mono trace:

[code]
I think this might be a reflection problem as the failure is actually happening here:

https://github.com/dotnet/runtime/blob/d491056751496d997dfaa693575190508a0c3cf6/src/libraries/System.Data.Common/src/System/Data/Common/DbProviderFactories.cs#L181-L185

[2020-02-06 01:02] safern commented on #30732
I guess we can close this in favor of: https://github.com/dotnet/runtime/issues/31719 which has all the builds and coredumps information.

We should just make sure to include the test name in the title for discoverability.

[2020-02-06 01:36] echesakovMSFT commented on #13575
The remaning intrinsics (Extract and Insert) that are left unimplemented tracked by #24588

We decided not expose comparison operations with zero and instead implement functionality in the JIT that would allow to determine when one of the operands is either `Vector128<T>.Zero` or `Vector64<T>.Zero` and choose an appropriate encoding based on that analysis.

[2020-02-06 01:36] echesakovMSFT commented on #24588
@tannergooding Are you currently working on this? If not - can I take this issue?

[2020-02-06 01:40] JpratherMS commented on #2176
Apologies for the delay in getting this resolved, we had some miscommunication on our side and we are going through the rest of the machines to fix them. ETA is tomorrow morning.

[2020-02-06 02:14] steveisok commented on #31799
/cc @lambdageek

[2020-02-06 02:50] BruceForstall commented on #31693
cc @echesakovMSFT

[2020-02-06 02:54] BruceForstall commented on #31661
@AndyAyersMS

[2020-02-06 02:55] BruceForstall commented on #31638
@AndyAyersMS @erozenfeld

[2020-02-06 03:01] BruceForstall commented on #31793
It looks like the test build process on x86 now sets 32BITREQUIRED. Maybe it didn't before?

cc @jkoritzinsky

[2020-02-06 03:08] BenLampson opened #31840 "Why the stackalloc need ret to release?"
The localloc instruction allocates size (type natural unsigned int) bytes from the local dynamic memory pool and returns the address (a transient pointer, type *) of the first allocated byte. The block of memory returned is initialized to 0 only if the initialize flag on the method is true. When the current method executes a Ret, the local memory pool is made available for reuse.

But, if we have

[2020-02-06 03:26] jkoritzinsky commented on #31793
It looks like the armel example is from before we switched to using SDK-style projects. The switch to using the SDK may have changed how some things were set. I’ll take a look.

[2020-02-06 04:00] GrabYourPitchforks commented on #31840
In your sample code:

[code]

The C# compiler sees that nobody ever references _x_, so it throws the `stackalloc` away at compile time in a Release mode build. If you instead change the code to this:

[code]

Then you'll see the same behavior as the Debug build.

The `stackalloc` C# keyword corresponds to the IL instruction `localloc`. The instruction is documented as not releasing memory until th

[2020-02-06 04:00] #31840 closed

[2020-02-06 04:19] BenLampson commented on #31840
Thanks for your reply. Thx.

[2020-02-06 04:52] GrabYourPitchforks commented on #31840
@jaredpar @agocke Just as a side question, why does Roslyn optimize this away in Release? I thought the compiler generally avoided optimizing away code that might have a side effect. (One possible side effect of the localloc instruction is process termination.)

[2020-02-06 05:16] agocke commented on #31840
The purpose of optimization is to reduce the use of real resources, while preserving the same semantic effect of a program. Under this definition, resource usage itself cannot be considered a side effect worth preserving.

But speaking more broadly, we don't have any rules per se, we just try to do what we think works best for most customers.

[2020-02-06 05:21] CodeBlanch commented on #30687
@steveharter @lfr I added "Never" to the JsonIgnoreCondition definition in the description.

To mitigate #31786 & #682, here's a curveball:

[code]

Introduces JsonChildItemIgnoreCondition enum which can be applied as "ChildItemCondition" on JsonIgnoreAttribute. "Condition" on JsonIgnoreAttribute renamed "PropertyCondition."

The idea being, JsonChildItemIgnoreCondition.WhenNull will cause null it

[2020-02-06 05:24] #31052 closed

[2020-02-06 05:26] ahsonkhan opened #31842 "ExecutionEngineException due to race between thread creation and shutdown"
From https://github.com/dotnet/runtime/pull/31756 on `Libraries Test Run release mono Linux x64 Debug` CI leg.

Specifically: netcoreapp5.0-Linux-Debug-x64-Mono_release-Debian.9.Amd64.Open

https://helix.dot.net/api/2019-06-17/jobs/b8f6a868-71db-4bc3-9142-3adb3b512af6/workitems/System.Net.Http.Functional.Tests/console
[code]
https://dev.azure.com/dnceng/public/_build/results?buildId=509474&view=ms

[2020-02-06 05:29] ahsonkhan opened #31843 "System.Net.Security.Tests.ApmSslStreamSystemDefaultTest.ClientAndServer_OneOrBothUseDefault_Ok failed on netcoreapp5.0-Windows_NT-Release-x86-CoreCLR_release-Windows.81.Amd64.Open"
From https://dev.azure.com/dnceng/public/_build/results?buildId=509474&view=ms.vss-test-web.build-test-results-tab&runId=16163926&paneView=debug&resultId=165890 in this unrelated PR https://github.com/dotnet/runtime/pull/31756

`System.Net.Security.Tests.ApmSslStreamSystemDefaultTest.ClientAndServer_OneOrBothUseDefault_Ok(clientProtocols: Tls11, serverProtocols: Ssl2 | Default | Tls11 | Tls12)`

[

[2020-02-06 05:31] #2128 closed

[2020-02-06 05:37] Anipik opened #31844 "Removing the use of RefPath and binplacing for old frameworks"
_//edited by @ViktorHofer, copied from https://github.com/dotnet/runtime/issues/31844#issuecomment-588418508_

Make our non-NetCoreAppCurrent projects behave more like normal SDK projects with respect to references.
Eliminate the use of artifacts\bin\ref as the reference path for all frameworks exception NetCoreAppCurrent.  Eliminate the need of depprojs.

Next steps:
- [x] Enable restore for ref

[2020-02-06 05:39] CodeBlanch commented on #31786
@ahsonkhan Sounds good, I threw up an idea for opt-in on #30687. Thanks for the link to the `JsonExtensionData` discussion, very insightful. The most special of all the dictionaries!

[2020-02-06 05:39] ahsonkhan commented on #882
Re-opening until fixed in 3.1

[2020-02-06 05:47] starovernet commented on #11594
Why is it important that it not include setting up the connection?

It's important, because we need to implement different business logic for handle timeout during connection or during request handling, it's in spec of protocol, so, we can't change it..

In many typical use cases, you're going to be getting an already established connection from the connection pool

Yeah, that's our issue.. We hav

[2020-02-06 06:22] lfr commented on #30687
Thanks @CodeBlanch, looking forward to test it!

[2020-02-06 06:52] swift-kim commented on #2067
FYI, with @josalem's patch and some changes in the _TraceEvent_ library (PerfView), dotnet-counter now works on this platform.

[code]

The library has a similar alignment issue in its unsafe managed code.
https://github.com/microsoft/perfview/blob/master/src/TraceEvent/TraceEvent.cs#L4369-L4376
[code]

[2020-02-06 07:37] TsengSR commented on #14819
Slightly off-topic, but now I'm curious (since we're in urge need of such a thing).

The website doesn't seem updated yet with any new information (or downloads) about that one, but I'd be also interested in information on it, if it has async API what the performance is and if it utilize the new .NET Core APIs such as `Span<T>`/`Memory<T>` and/or pipelines? Especially compared to Saxon.NET (via IK

[2020-02-06 08:27] Orphus opened #42048 "Possibility to catch fatal exceptions"
# Possibility to catch fatal exceptions

Currently there is no way (at least I did not find a way) to catch fatal exceptions (such as Stack Overflow, Segfault, ..) with try catch block.

# General

I did some reading and found out that this is by design that CLR kills the application if such state occurs.
Reasoning i found out is that :
1. You should write code that prevents it
2. such exceptions

[2020-02-06 10:36] karelz commented on #1095
No repro for 1 month, closing.
If there is a mininal repro demonstrating a difference in behavior between .NET Framework and .NET Core, please post it and we can reopen. Thanks!

[2020-02-06 10:36] #1095 closed

[2020-02-06 11:09] karelz commented on #29462
@wfurt are you still working on it? Or can @aik-jahoda take a look?

[2020-02-06 11:09] Suchiman commented on #31827
Not just because of `IList<T>`, since you could make it an explicit implementation to keep the void returning implementation for `IList<T>`, but changing the return type is a binary (signature) and source (e.g. delegate conversion) breaking change.

I see now way how this could be done.

 More chances would have #31828 with an overload that takes an index.

[2020-02-06 11:12] alnikola commented on #911
Yes, you are right HttpStatusCode would be better. I will update the comment and description.

[2020-02-06 11:28] Balder1840 opened #31849 "[System.Text.Json] DictionaryKeyPolicy for nested Dictionary does not work as expected when been set to JsonNamingPolicy.CamelCase"
When I use System.Text.Json.JsonSerializer to serialize nested dictionary,
I found the key of the first level of the dictionary not set to camel case when I set DictionaryKeyPolicy to JsonNamingPolicy.CamelCase.

Any workaround?

System.Text.Json v4.7.0
.Net Core v3.1.1

Sample Code

[code]
generated json
[code]

I tried Newtonsoft.Json, which works as expected
Sample Code
[code]
Result
[code]

[2020-02-06 11:41] LarsAndreasEk opened #36059 "DOTNET_SHUTDOWNTIMEOUTSECONDS not respected"
### Setting ShutdownTimeout via environment variable does not affect host shutdown timeout
According to the [docs](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-3.1#shutdowntimeout), setting the DOTNET_SHUTDOWNTIMEOUTSECONDS as an environment variable should affect graceful shutdown time. Configuring it through code work fine.

### To Reproduce
Steps t

[2020-02-06 11:50] jkotas commented on #31799
Sorry about the false alarm. This is a problem in how src/libraries restores NuGet packages and it is also affecting CoreCLR on Alpine. I am reverting the disabled tests in https://github.com/dotnet/runtime/pull/31850/

[2020-02-06 11:50] #31799 closed

[2020-02-06 11:58] alistairjevans opened #31851 "CoreCLR Crossgen Build Failure: Error generating PDB for System.Private.CoreLib.dll - No Native Image"
I'm doing a first-time build of the dotnet runtime on Windows (to work on libraries only), and I cannot get the coreclr build to run successfully.

During the CrossgenCoreLib phase, I am getting the following error in the log file:

[code]

Apologies for having to raise an issue, but I have tried a number of things, and hope this is an obvious thing that is known internally, but there is no github

[2020-02-06 12:03] JDziurlaj commented on #14819
It seems Microsoft does not invest in APIs where third parties are already providing products in (see SFTP). However I think this is different. XML is a core component used throughout the Microsoft ecosystem, and should be treated as such.

[2020-02-06 12:12] Meai commented on #2188
@am11 I tried that and now I still get errors but different ones:

(I git pulled first, now on commit 04e3169)

[2020-02-06 12:47] am11 commented on #2188
There are two parts: managed and native. The native build uses gcc/clang. In the current master we can also pass `--clang` or `--gcc` from top level scripts: `runtime/build.sh --gcc` or `runtimte/libraries.sh --clang9` etc.

this sounds like a separate issue with managed build failing, because some conflicting assemblies trying to load in the same appdomain. Could you `ps uax | grep dotnet` and `k

[2020-02-06 12:50] jkotas opened #31852 "Proposal: Get rid of "checked" build flavor"
`checked` build flavor is a foreign concept that takes a lot of explaining and causes unnecessary complexity.

The `checked` build flavor (ie build with asserts and optimizations on) is left-over from razzle (the original Windows OS build environment). I believe most project still on razzle (including Windows OS) got rid of it and have just debug (that is built with optimizations on by default) an

[2020-02-06 12:52] mgravell commented on #13633
I wasn't able to get my previous bits updated to .NET 5 (too many moving parts), however: here's an update that I did using RESP using @davidfowl's "Bedrock" pieces (with some minor tweaks to make it run on the .NET 5 version of the Kestrel API):

## Baseline (environment variable `0`):

Name	Total (Allocations)
 - System.Runtime.CompilerServices.AsyncTaskMethodBuilder`1.AsyncStateMachineBox`1	738

[2020-02-06 12:57] stephentoub commented on #31852
If I'm understanding correctly, this isn't exactly removing checked; rather it's getting rid of debug and renaming checked to debug, is that right?

[2020-02-06 12:58] jkotas commented on #31852
Yes, that's right.

[2020-02-06 13:04] stephentoub commented on #13633
Thanks, @mgravell. One of the issues here is that allocations are for the most part a secondary indication of perf, in that the hope is that by reducing allocation, you improve throughout. But here to reduce allocation, we're pooling, which has its own costs. So a decrease in allocations that doesn't improve throughput at all isn't necessarily a win, especially if it brings with it other downsides

[2020-02-06 13:05] Meai commented on #2188
Ok I did that and then:

still some errors:

[2020-02-06 13:06] MaximLipnin opened #31853 "[mono] Test failed: System.Runtime.Tests.ProfileOptimizationTest.ProfileOptimization_CheckFileExists"
`System.Runtime.Tests.ProfileOptimizationTest.ProfileOptimization_CheckFileExists` fails on mono. This test is disabled in CoreFX.issues.rsp file, but it will be moved into its respective xUnit test with ActiveIssue in #2087.

[code]

[2020-02-06 13:20] stephentoub commented on #31852
Sounds good to me, but I also almost never build coreclr as debug, only checked and release.

[2020-02-06 13:24] LokiMidgard commented on #14819
I think XPath 3 also support JSON which would be a good addition to the new JSON API's.

---------

I would also like to see Visual Studio tools supporting higher versions of XSLT.
In the past I had used a 3rd party library for .NetFramework. But for Visual studio constantly complained about the XSLT files in my project since it only understood XSLT 1.1 *(I think)*.

[2020-02-06 14:01] MaximLipnin opened #31857 "[mono] Not implemented: System.Reflection.Emit.DynamicILInfo.SetLocalSignature(Byte[] localSignature)"
Because `System.Reflection.Emit.DynamicILInfo.SetLocalSignature(Byte[] localSignature)` is not yet implemented on mono, some related tests fail with `System.Reflection.Emit.DynamicILInfo.SetLocalSignature(Byte[] localSignature)`

Those below are disabled in CoreFX.issues.rsp file, but they will be moved into their respective xUnit tests with ActiveIssue in #2087.

[code]

[2020-02-06 14:16] tmds commented on #31719
This unexpected. I thought we had solved this with https://github.com/dotnet/runtime/pull/22867. I will take a look at the dump.

[2020-02-06 14:21] MaximLipnin opened #31858 "[mono] Not implemented: System.Reflection.Emit.DynamicILInfo.SetExceptions(Byte* exceptions, Int32 exceptionsSize)"
Because `System.Reflection.Emit.DynamicILInfo.SetExceptions(Byte* exceptions, Int32 exceptionsSize)` is not yet implemented on mono, some related tests fail with System.NotImplementedException : The method or operation is not implemented.

Those below are disabled in CoreFX.issues.rsp file, but they will be moved into their respective xUnit tests with ActiveIssue in #2087.
[code]

[2020-02-06 14:29] EffectiveLabs opened #31859 "Linux ARM self contained HelloWorld application consumes 117Mb of RAM"
Hi,

We have a very simple netcoreapp3.1

     static void Main(string[] args)
       {
            while (true)
            {
                Console.Clear();
                Console.WriteLine($"{DateTime.Now} - Hello World!");
                Thread.Sleep(5000);
            }
        }

It is published with the following command
`dotnet publish --configuration Release --framework netcoreapp3.1 -

[2020-02-06 14:35] eltiare commented on #13685
I'm getting this under Rider, too. It might be something with their debugger.

[2020-02-06 14:52] janvorli commented on #31859
@EffectiveLabs is the size you are referring to the virtual memory or the resident set? If you dump the /proc/PID/status and look for VmSize nad VmRSS, you'll get these values. When I launch a simple test app on my Odroid UX4, I get VmSize 144352 kB and VmRSS 32372 kB.
The VmRSS is the real memory consumption, the VmSize represents only the virtual address space reserved.

[2020-02-06 15:00] d0tn3tc0d3r commented on #1094
@buyaa-n Thanks for the explanation of the reasons for the validation.

In any case, I checked the zip file with WinZip Detailed Diagnostics, and it did not report any errors. These are the most important parts of the test results for a file that can't be read using .NET Core 3.0 or 3.1:
[code]
So, only the offset is in Zip64 format, that's why version required is 45 in the central directory. The

[2020-02-06 15:18] aik-jahoda opened #31861 "[HTTP/2] Change headers type in HPack tables from byte[] to string"
This change should avoid unnecessary string -> byte[] conversion and allocation. When Hpack decrypts table values it just returns the string without any conversion.

[2020-02-06 15:18] janvorli commented on #31852
I always use debug build and use checked only in cases where I need to get slightly better perf, like when running coreclr tests suite. On Linux, debugging coreclr with any optimizations is pretty painful. While on Windows you can easily debug even release build, on Linux you get virtually no locals, no parameter values etc. Even checked is quite bad on Linux.
So if we made debug == checked, I wou

[2020-02-06 15:26] gislikonrad opened #31862 "DiagnosticsHandler doesn't support W3C trace context correctly with aspnetcore"
I have two aspnetcore applications using the W3C activity id format. When I have one call the other, the tracing context in the logs is missing a link in the chain.

**Expected behavior**
Trace id is the same in the logs of both services.
Parent id in the logs for the second service matches the span id in the logs of the first service.

**Observed behavior**
Trace id is the same in the logs of bot

[2020-02-06 15:28] TrabacchinLuigi commented on #20234
I avoided replying till now because i have absolutely zero experience on mantaining a framework.
But to me seems a desired behaviour to flush BEFORE setting LastWriteTime or LastAccessTime, because that would be the actual last access time, after flushing.

I see no weirdness in using SafeFileHandle extensions, what really matter to me is not getting an exception doing it, i don't want to give up

[2020-02-06 15:28] jkotas commented on #31852
Yes, a command line option to turn off optimizations for C/C++ would be part of the plan.

[2020-02-06 15:31] davidfowl commented on #13633
Does the working set get better as a result? You should be able to run dotnet counters before and after to get a glimpse of what the metics look like.

[2020-02-06 15:34] stephentoub commented on #13633
(Working set is good to look at it, but working set improvements could also instead suggest tweaks to GC configuration, as such pooling should primarily help working set if the GC has determined it's not worth doing a collection yet.  Even so, as David suggests, it's a good data point.)

[2020-02-06 15:40] davidfowl commented on #31862
You shouldn’t need to do that, can you provide a repro project that shows the problem?

[2020-02-06 15:45] stephen-lim commented on #14819
XmlPrime is not usable for many projects. Their licensing is very restrictive and expensive that is unreasonable for many open source projects and small businesses.

Please consider adding support for XSL 3 in .NET core. This is a much requested feature. It's long overdue.

[2020-02-06 15:54] vasont commented on #14819
My concern with XmlPrime is their website has not been updated since what appears to be 2018 🤷‍♂ and direct email to their sales email address has gone unanswered so far. If their responsiveness to a potential sale and their attention to detail in regard to their website content is any indication of their product quality, we should all have some reservations about paying for that product.

[2020-02-06 15:55] michaelhkay commented on #14819
Actually, XmlPrime's pricing reflects the cost of producing an advanced piece of technology. Be careful what you ask for: Microsoft's reluctance to implement these standards is strongly affected by (some) users' reluctance to pay for them.

[2020-02-06 15:57] vasont commented on #14819
What about a cost proposal to work out the code and a "gofundme" campaign to pay for it? I think there's enough demand for it, we all could throw in $20 and this would get done within the year.

[2020-02-06 16:03] ViktorHofer commented on #30732
Closing in favor of #31719

[2020-02-06 16:03] #30732 closed

[2020-02-06 16:04] JDziurlaj commented on #14819
All the XML specifications (save for a few by OASIS) were developed by the W3C and were meant to be part of modern web infrastructure such as web browsers. The shift from XHTML probably hampered that effort, but nonetheless people expected this to be core infrastructure (i.e. part of platforms).

[2020-02-06 16:05] EffectiveLabs commented on #31859
@janvorli  Thank's for you reply, you helped me to understand that the busybox top command available on my targets calculates %MEM as VSZ/MemTotal instead of RSS/MemTotal.
The issue is documented here https://unix.stackexchange.com/questions/44948/what-do-tops-mem-and-vsz-mean

So it's not dotnet core runtime issue. I'll close this one.

[2020-02-06 16:05] #31859 closed

[2020-02-06 16:12] eerhardt commented on #1094
Yes, can you please send it to me? My email is public in my GH profile: https://github.com/eerhardt

[2020-02-06 16:23] ViktorHofer opened #31866 "TargetFramework property isn't defined if there is no Outer-Build"
The new configuration system hooks into `DispatchToInnerBuilds` which doesn't run always, ie when a Target is directly invoked which doesn't go through the dispatching from outer to inner build procedure.

An example is `GenerateReferenceSource` target which uses the `IntermediateAssembly` item which is undefined because the `IntermediateOutputPath` isn't set correctly: https://github.com/dotnet/r

[2020-02-06 16:28] ViktorHofer commented on #31852
If we do this we should also clean-up the checked conditions in System.Private.CoreLib in mono: https://github.com/dotnet/runtime/blob/1a1a541954db674980b09efe426d3b6dfd6ae3c9/src/mono/netcore/System.Private.CoreLib/System.Private.CoreLib.csproj#L90-L92.

I assume that we align configurations so that their meaning is the same for Mono and CoreClr.

[2020-02-06 16:43] gislikonrad commented on #31862
Here you go:

https://github.com/gislikonrad/dotnet-runtime-bug-repro

[2020-02-06 16:52] ViktorHofer opened #31867 "VS hangs when opening Microsoft.VisualBasic.Core.sln"
Possibly related to the new config system? That sln contains a vbproj.

cc @Anipik @ericstj

[2020-02-06 16:55] jkoritzinsky commented on #31852
I’m with @janvorli on this; I always use Debug. I only use checked when reproing test failures so I match what CI is doing. As long as there’s an option to disable optimizations in debug, I’ll be satisfied.

[2020-02-06 16:59] danmosemsft commented on #31827
#31828 is asking for Pop(), Pop() that takes an index is not something I've seen, and on List is unfamiliar as well.

I can close this issue unless @rankeren you want to propose another name to discuss. Not sure what it would be.

[2020-02-06 17:06] jaredpar opened #31868 "System.Data.Common.DbProviderFactoriesTests failing in CI"
A number of tests are failing, using `GetFactoryWithDataRowTest` as the marker test to follow. The first build to demonstrate this was 509362

## System.Data.Common.DbProviderFactoriesTests.GetFactoryWithDataRowTest

### Console Log Summary

Appears to be a simple test failure

[code]

### Builds
|Build|Pull Request | Test Failure Count|
| --- | --- | --- |
|[#508988](https://dev.azure.com/dnceng/

[2020-02-06 17:06] adamsitnik opened #31869 "Could not load type 'System.Diagnostics.DebuggerHiddenAttribute'"
There must have been some kind of a regression introduced in the last few days which broke the https://github.com/aspnet/Benchmarks/ and I can't run TechEmpower benchmarks anymore ;(

[code]

Repro:

1. Download [latest .NET Core 5.0 SDK](https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-win-x64.zip)

2. Create a console app:

[code]
[code]
[code]

3. Publish a self conta

[2020-02-06 17:07] adamsitnik commented on #31869
/cc @roji @sebastienros

[2020-02-06 17:08] jaredpar commented on #31868
@danmosemsft who owns the `DbProviderFactoriesTests` suite? It's failing 100% on ARM64 right now.

[2020-02-06 17:14] danmosemsft commented on #30284
Original ID #39552

[2020-02-06 17:15] jaredpar opened #31870 "System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests is failing in CI"
This is blocking our ARM64 runs. Using the `RoundtripManyObjectsInOneStream` test as a marker to follow the failure.

## System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests.RoundtripManyObjectsInOneStream

### Console Log Summary

Appears to be a simple test failure

[code]

### Builds
|Build|Pull Request | Test Failure Count|
| --- | --- | --- |
|[#508988](https://dev.azure.com/dnc

[2020-02-06 17:16] omicronZero opened #31871 "Adding further operators for Rune struct w.r.t. char"
The `System.Text.Rune` struct does not offer (in)equality operators w.r.t. chars.
For example, it would be desirable to be allowed to do comparisons such as

[code]
It is understandable that an implicit cast is not allowed due to surrogate code points that require a corresponding high/low surrogate.

Furthermore, I suggest adding an explicit cast to char and maybe to int (which then returns the Va

[2020-02-06 17:24] Suchiman commented on #31827
@danmosemsft i meant, `T Pop(int index)` as an extension to the proposal of #31828 since it's not too far of a stretch to be able to Pop at an index and have that also return the element at that index

[2020-02-06 17:24] ViktorHofer opened #31872 "AdditionalBuildTargetFrameworks should include .NET Framework TargetFrameworks"
(from https://github.com/dotnet/runtime/issues/31823)

Can we change the config system so that .NET Framework TFMs - if set in the project - are built as well, IF the tooling to build is already restored? I don't see a reason why we would filter them out if the vertical is already restored.

This would make it easier to build and run tests on .NET Framework configurations.

cc @anipik @ericstj @sa

[2020-02-06 17:24] EgorBo commented on #31823
What's the current workflow to run a specific test suite?
e.g. I follow the doc: https://github.com/dotnet/runtime/blob/master/docs/workflow/testing/libraries/testing.md#running-tests-on-the-command-line, e.g.:
[code]
I get
[code]
if I specify `/p:TargetFramework=netcoreapp5.0` I get
[code]

[2020-02-06 17:24] jaredpar commented on #31840
@GrabYourPitchforks

Correct. Generally though customers are in the habit of complaining when we produce code that causes process termination. They're usually quite pleased when we change code that reduces process termination.

[2020-02-06 17:24] ViktorHofer commented on #31868
Fixed with https://github.com/dotnet/runtime/commit/4b4d7416393ee7ec13f976c441dc21e0d3eb69b2.

[2020-02-06 17:24] #31868 closed

[2020-02-06 17:27] ViktorHofer commented on #31823
This sounds like you haven't built libraries with a Release configuration from root first: .\libraries.cmd -c Release.

[2020-02-06 17:28] jaredpar commented on #31868
#31850

[2020-02-06 17:30] MikeCodesDotNET commented on #1094
@eerhardt Do you think we'll get an API / the ability to gracefully handle invalid headers or should I focus my efforts on finding a workaround?

Cheers,
Mike J

[2020-02-06 17:34] EgorBo commented on #31823
Didn't help 😢

[2020-02-06 17:36] safern commented on #31823
The path is searching on `Debug`. Can you confirm you're passing down `/p:Configuration=Release`

[2020-02-06 17:43] gislikonrad commented on #31862
I've now reproduced the issue using my sample solution on Windows 10 Enterprise and Mac OsX Catalina.

[2020-02-06 17:46] richlander commented on #1018
I don't see anything in that list for publishing runtime packs. Is that missing? If so, it seems like it should be added. W/o that, there isn't a user experience.

[2020-02-06 17:49] NinoFloris opened #36058 "Passing additional arguments to service resolution"
I'd like to see support in the container for extra arguments being passed that aren't registered services. Quite like `ObjectFactory` (from `ActivatorUtilities`).

These arguments would be passed in via a new `IServiceProvider` method (we have DIM, let's use it).
[code]

_Another option could be to pass them during `IServiceScopeFactory.CreateScope(args)` constraining the feature in exchange for m

[2020-02-06 17:52] ViktorHofer commented on #31868
A commits links to its PR :)

[2020-02-06 17:57] adamsitnik commented on #31823
I got a very similar error.

[code]

[code]

[2020-02-06 18:02] jaredpar commented on #31868
@ViktorHofer correct. But specifying the commit SHA won't cause the PR to link back to the issue. Linking to the PR means it will in turn link to the issue. That way when you look at the PR you can see the issues that are relevant to the changes.

[2020-02-06 18:02] ViktorHofer commented on #31868
That makes perfect sense, thanks for letting me know :)

[2020-02-06 18:05] Anipik commented on #31823
I am looking into it.

[2020-02-06 18:06] jaredpar commented on #1018
When doing the planning for migrating the mono runtime into the repository there was no cleanly defined user experience. Given that we decided to cut the runtime packs and publishing because there wasn't a clear goal for us to plan around. Instead we decided to separate migrating mono into the runtime and then work on publishing, official builds and packaging once we had a defined scenario to plan

[2020-02-06 18:11] carlossanlop commented on #26296
@dfoverdx @melanchall here are the instructions for requesting the addition of a new API: https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md . Let me know if you have any questions.

[2020-02-06 18:12] BruceForstall commented on #31852
What is the advantage of removing checked? If you want unoptimized binaries with the best debugging experience, you'll need to use a new option, which might confuse your builds. E.g., it might be more confusing in your `artifacts` directory to know what is optimized and what is not.

I run Debug when debugging, but Checked when running tests. With the new proposal, I would need to go back-and-fort

[2020-02-06 18:12] BruceForstall commented on #31852
@dotnet/jit-contrib

[2020-02-06 18:13] vcsjones commented on #31866
Does this mean the `GenerateReferenceSource` task is currently not working? I'm receiving "The assembly field is required."

I see it working in 6766eb748a7 but broke sometime later.

/cc @khellang

[2020-02-06 18:14] ViktorHofer commented on #31866
Right, targets like `GenerateReferenceSource` are currently broken.

[2020-02-06 18:14] Anipik commented on #31823
Found the problem BuildConfiguration is being set to a wrong value. I will throw a pr to fix this

[2020-02-06 18:15] ViktorHofer commented on #31823
works on my machine though 🗡

[code]

[2020-02-06 18:16] Anipik commented on #31823
I think it fails just for test projects having reference to Corefx.private.TestUtilities.

[2020-02-06 18:17] ViktorHofer commented on #31823
Which is [every](https://github.com/dotnet/runtime/blob/1a1a541954db674980b09efe426d3b6dfd6ae3c9/src/libraries/Directory.Build.props#L382-L384) test project :)

[2020-02-06 18:19] ViktorHofer opened #31876 "Consider renaming CoreFx.Private.TestUtilities"
We are called .NET Libraries Team 🤙

cc @danmosemsft @stephentoub

[2020-02-06 18:19] buyaa-n commented on #1094
@d0tn3tc0d3r the zip you mentioned above and the zip @MikeCodesDotNET posted before are invalid zips. But as other tools creating them and accepting them we might update the API to allow the zip files having that minor issue, it would be helpful if you can share your file @MikeCodesDotNET for testing

[2020-02-06 18:21] CoffeeFlux commented on #2176
If this isn't fixed by EOD, I'd really appreciate disabling the tests. I'm hitting this constantly, even sometimes on multiple re-runs. I hit it just a little while ago, so at least as of this afternoon it is still not fixed.

[2020-02-06 18:23] safern commented on #2176
Thanks @CoffeeFlux... Do you have the build when you hit it?

@JpratherMS I guess this got delayed a little bit ?

[2020-02-06 18:23] stephen-lim commented on #14819
I'm happy to fund the $100 but how do you know it's enough to get developed? I think XSL is not a simple implementation. It takes a lot of hard work to build.

[2020-02-06 18:29] CoffeeFlux commented on #2176
I've been hitting it frequently on #31814 - I think this time it took 3 runs to get it green? Looks like Koplinger hit a few hours ago as well.

[2020-02-06 18:30] jaredpar commented on #2176
I updated the failed build list for all the failures since last night. Looks like it's hit a number of new PRs.

[2020-02-06 18:32] buyaa-n commented on #1094
@MikeCodesDotNET never mind, I got the file from @eerhardt

[2020-02-06 18:33] eerhardt commented on #1094
The current plan is to introduce an AppContext switch into both `3.1` and `5.0` that will turn the new validation off. So in your application, if you set this setting, it will allow ZipArchive to load even if the headers are invalid, basically falling back to .NET Core 2.1 behavior.

[2020-02-06 18:39] CarolEidt commented on #31852
I totally agree with what @BruceForstall says about wanting to understand the advantages (and the trade-offs). I use Checked most of the time, but will occasionally build Debug when optimization gets in my way. Whatever we do it needs to be friction-free to accommodate varying requirements.

[2020-02-06 18:42] jcouv opened #31877 "New API: `MemberNotNullAttribute` and `MemberNotNullWhenAttribute`"
As part of the nullability feature C# 8, we have shipped a number of attributes already (`NotNull`, `MaybeNull`, `NotNullWhen`, `MaybeNullWhen`, `DoesNotReturn`, `DoesNotReturnIf`, `NotNullWhenNotNull`, listed [here](https://github.com/dotnet/roslyn/blob/master/docs/features/nullable-reference-types.md#null-tests) with some details).

As part of enhancements to nullability analysis for C# 9, some

[2020-02-06 18:43] cshung commented on #31852
Does the proposal include the possibility of building code without assert yet unoptimized?
This flavor could be useful when the asserts are getting in the way diagnosing problems.

[2020-02-06 18:47] jaredpar commented on #2176
@JpratherMS where is the core-eng issue we're using to track the OSX configuration update?

[2020-02-06 18:53] davidwrighton commented on #31852
My experience for checked builds is that debugging them is less than great, but as long as I can remember the magic incantation for disabling optimization on a per file basis, I'm able to make good progress.

For clang its
[code]
For msvc its
[code]

I just stick those at the top of the files I'm mostly working in, and checked builds become more reasonable to debug.

[2020-02-06 18:55] whoteit92 opened #32059 "System.AccessViolationException only in Release x86 in basic console app"
We discovered this issue after moving a project in our product from .NET 4.7.1 to .NET Core 3.1.
We were able to isolate the issue and reproduce it in a standalone console app.

**The issue only occurs in Release x86.**

Below is the most compact code to reproduce the issue.

[code]

If you remove any single yield (or multiple yields), the issue does NOT occur. If you replace the DateTime argument

[2020-02-06 19:01] MikeCodesDotNET commented on #1094
@eerhardt Wonderful! This is perfect.

I'll keep badgering the original zip creators to fix it their end as well but I appreciate the ability to handle it on the .NET side as well.

Thank you!!

[2020-02-06 19:03] CarolEidt commented on #31852
@davidwrighton - while disabling optimization on a per-file basis may **work** I would not describe it as friction-free for development.

[2020-02-06 19:03] CarolEidt commented on #31852
FWIW, what I often do when debugging the JIT and the optimizer gets in my way is to build Debug and copy just the debug JIT over to a checked build.

[2020-02-06 19:04] richardlalancette commented on #3671
ok, this is going to block distribution of the app. Not cool.

[2020-02-06 19:16] AndyAyersMS commented on #31852
FWIW I almost never use debug builds, so I'd be ok with making the "new debug" == "old checked".

In prior systems I worked on we had the notion of a custom build path, you could basically create arbitrarily-named artifact subtrees for your custom builds. Though it seems like in our system the available build types leak into scripts and this is less feasible. Maybe we can keep the current no-opt d

[2020-02-06 19:16] cshung commented on #2382
Running the first repro with server GC, here is a profile with the time range set to a particular induced GC.

Name | Exc % | Exc | Inc % | Inc
-- | -- | -- | -- | --
coreclr!SVR::gc_heap::mark_object_simple1 | 47.0 | 1,423 | 47.6 | 1,441
coreclr!SVR::gc_heap::relocate_address | 16.1 | 486 | 16.1 | 487
coreclr!SVR::gc_heap::relocate_in_large_objects | 14.3 | 433 | 21.1 | 639
coreclr!SVR::gc_heap::

[2020-02-06 19:20] safern commented on #2176
Another hit: https://helix.dot.net/api/2019-06-17/jobs/c8f395b8-56a1-48f5-b36e-31b4eb28503e/workitems/System.Security.Cryptography.Algorithms.Tests/console

I've put: https://github.com/dotnet/runtime/pull/31879 to disable them on OSX.

[2020-02-06 19:21] sebastienros commented on #31869
I can add that this doesn't repro with `5.0.0-alpha.1.20103.10+a7f8cdc0de945561ae3fcaa72440c0ec56d69060`

I could try with later version but there is only one version I can find on this feed:
https://dotnetfeed.blob.core.windows.net/dotnet-core/flatcontainer/microsoft.netcore.app/index.json

And it doesn't work with dotnet-install: `dotnet_install: Error: Could not find/download: `.NET Core Runtim

[2020-02-06 19:25] echesakovMSFT commented on #31852
Can we instead adopt CMake terminology that should be clear for everyone:
- Debug
- Release
- RelWithDebInfo

[2020-02-06 19:30] BruceForstall commented on #31852
Those cmake terms don't (I believe) capture what we do for Debug/Checked/Release. For us, Release is always built with debug info. And Checked has asserts enabled.

[2020-02-06 19:31] jkoritzinsky commented on #31852
I really like @echesakovMSFT’s suggestion. We should follow standard terminology when possible. Also, it would help simplify our CMake scripts a little, and would help simplify onboarding to the repo for new developers.

[2020-02-06 19:32] safern commented on #27721
Given the above discussion and https://github.com/dotnet/runtime/pull/891#issuecomment-583071806 I'm going to close this issue. If people disagree or have any other thoughts, feel free to add them and we can always re-consider.

[2020-02-06 19:32] #27721 closed

[2020-02-06 19:33] janvorli commented on #31852
I really dislike the RelWithDebInfo. I would never want to type that in.

[2020-02-06 19:35] danmosemsft commented on #29588
Is anyone interested in implementing this? I would like to get it in 5.0. @owlstead @vcsjones

[2020-02-06 19:37] JpratherMS commented on #2176
We have people actively working on fixing these. We are close but there are quite a few machines to manually check and resolve.

[2020-02-06 19:37] shreyagr opened #32058 ""dotnet Service.dll" takes 8 seconds more on Windows Server 2019 container vs Windows Server 2016 container for first run"
# General

We are running dotnet core 2.1 app on mcr.microsoft.com/dotnet/core/aspnet:2.1-nanoserver-1809 image for container. However, we are seeing that the command "dotnet service.dll" takes 8-9 seconds to start.

If I try to use Entrypoint to just get a cmd window and manually run "dotnet service.dll", the first attempt takes 8-9 seconds, but all following attempts within the same container in

[2020-02-06 19:39] coldwarrl commented on #12409
Frankly, I do not understand why this issue does not get a higher priority.
The story of .NET core is cross-platform - but that implies you have the same productivity also cross-platform.

[2020-02-06 19:41] danmosemsft commented on #30284
Per @preethikurup we should fix this for 5.0 release.

[2020-02-06 19:47] #31732 closed

[2020-02-06 19:47] danmosemsft commented on #1349
Here are 3 regexes we have seen be high cost in our own services, with your notes @stephentoub :

*      `^(?![;\\s])[^\\p{Cc}]+(?<!\\s)$"`
    *	The `[^\p{Cc}]` set will currently compile down to a lookup table for ASCII and a > 127 fallback call to CharInClass, e.g. `bool result = !(ch < 127 ? (lookup[ch >> 4] & (1 << (ch & 0xF))) != 0 : RegexRunner.CharInClass(“…”, ch));`
    - [ ] We would nee

[2020-02-06 19:52] danmosemsft commented on #31876
"Runtime" or "Libraries" might be fine.

[2020-02-06 19:54] sebastienros commented on #31869
Apparently `5.0.0-alpha.1.20103.10` is actually the latest build (by looking at maestro++) and the version that is on the feed (`5.0.0-alpha.1.20104.1`) seems to be a glitch as it's not in maestro++ and can't be installed using `dotnet-install`.

I would assume that there is an issue with the version that ASP.NET is aligned with (still `5.0.0-alpha.1.20078.2`) and some recent change.

Right now a

[2020-02-06 19:55] safern commented on #2176
@JpratherMS do we have an ETA? To see if it is worth merging my PR to disable.

[2020-02-06 19:56] jader1313 commented on #981
@maryamariyan I prepared a complete solution to carry out the tests, just being able to access a LocalDB. Attached below.

There are 2 projects:
ConsoleTestLocalDBFramework
ConsoleTestLocalDBCore

Running:
ConsoleTestLocalDBFramework -> x64 = OK
ConsoleTestLocalDBFramework -> x86 = OK
ConsoleTestLocalDBCore -> x64 = OK
ConsoleTestLocalDBCore -> x86 = ERROR

[ConsoleTestLocalDB.zip](https://github.

[2020-02-06 19:57] jader1313 commented on #981
Could you please inform me that you managed to reproduce the problem?

[2020-02-06 20:11] BrianBohe commented on #2399
I made some progress.
Using the ,cs example above, which has this IL
[code]

We got 5 statements, which are
[code]

And dumping the IPMappingDsc* I get:
[code]
I have added an extra IPMappingDsc* per each call that made us get that statement. In this example, Main inlined A and then inlined B. The two imported statements of A, has an IPMappingDsc before with the IL offset on Main from where the ca

[2020-02-06 20:11] jkotas commented on #31869
This error is caused by use of new build of references assemblies with old build of SDK and shared runtime.

Duplicate of https://github.com/dotnet/runtime/pull/2189#issuecomment-580877704

[2020-02-06 20:11] #31869 closed

[2020-02-06 20:13] ViktorHofer commented on #31876
The old name was chosen because we had to package that library and uploaded it to our private feeds. We aren't doing that anymore which means we probably want something simpler like TestUtilities.dll?

[2020-02-06 20:14] danmosemsft commented on #31876
SGTM

[2020-02-06 20:15] ViktorHofer commented on #31870
Fixed with https://github.com/dotnet/runtime/pull/31850

[2020-02-06 20:15] #31870 closed

[2020-02-06 20:15] wfurt commented on #29462
he can certainly look :) I had some ideas but I'm focusing on ssl right now.

[2020-02-06 20:18] #2185 closed

[2020-02-06 20:31] ericstj commented on #31872
Downside of this is that we currently require refpaths for this to work.  To get those you need to build the netfx vertical or allconfigurations.  I'm more inclined to just fix https://github.com/dotnet/runtime/issues/31844, then make VS build behave same as SDK (all configurations).

[2020-02-06 20:40] wfurt commented on #29595
As far as I can tell, this is specific to TLS1.3 not necessarily to OpenSSL version. When I fixed SslVersion to TLS12, it works fine even with OpenSSL 1.1.1.

TLS1.3 main focus on cutting down messages and cutting down latency for the handshake.

![image](https://user-images.githubusercontent.com/14356188/73975905-15903a00-48dc-11ea-9ce5-9d6483ba13b1.png)

In this case, part of the handshake will

[2020-02-06 20:41] BrianBohe commented on #2399
I am moving forward with the interface changes needed to have something I could present at the end of my internship and then I will consider the cases in which I could lost debug info (like CSE).

[2020-02-06 20:45] AndyAyersMS commented on #2109
I have been looking into the various checks we run. It is convoluted, and we are doing some redundant checking.

My rough idea was to break down the checks into relatively simple atomic units, and then have the phase pipeline (`compCompile`) keep track of the active check set, adding and removing checks as we progress through the phases. Each phase's post action would then drive checks based on th

[2020-02-06 20:45] ViktorHofer commented on #31844
It has been some time since I last used implicit framework references. Do I remember correctly that when enabling the build would use the default references that come with the framework and by either referencing via ProjectReferences or named references conflict resolution would overrule the default references with the live built references? Does all that apply to .NET Framework as well? cc @erics

[2020-02-06 20:48] wfurt commented on #30172
Failed on Centos.7.Amd64.Open queue.

[2020-02-06 20:49] ericstj commented on #31042
This was fixed with https://github.com/dotnet/arcade/pull/4061

[2020-02-06 20:49] #31042 closed

[2020-02-06 20:57] jbe2277 opened #31882 "Add variant for Validator.TryValidateObject which provides all validation errors"
The [Validator](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.validator?view=netcore-3.1) implementation stops collecting validation errors when some error is found. I need the implementation to collect all validation errors.

Extract of the current [Validator](https://github.com/dotnet/runtime/blob/master/src/libraries/System.ComponentModel.Annotations/src/Syst

[2020-02-06 20:58] jkotas commented on #31852
It is the special CoreCLR-specific thing that I keep seeing leaking to number of other places in the overall dotnet/runtime experience and scripts. FWIW, this is what inspired me to write this proposal: https://github.com/dotnet/arcade/pull/4764#discussion_r375809945

Yes, having this would be nice. The artifacts path is hardcoded to repo_root\artifacts in number places. I have been working around

[2020-02-06 20:58] ericstj commented on #31844
This is more/less true.   We may need to fix / modify conflict resolution to work with ProjectReferences: https://github.com/dotnet/sdk/issues/2674.  .NETFramework has a behavior defined by SDK + [Arcade](https://github.com/dotnet/arcade/blob/c7dca08a5b2dc589392b2a7680c5d64f057ddc0a/src/Microsoft.DotNet.Arcade.Sdk/tools/ProjectDefaults.props#L134-L136), we'd use that.

We better not need conflict

[2020-02-06 21:01] ericstj commented on #31866
@Anipik can we hook GenerateReferenceSource into outer/inner dispatch?

Meantime, workaround is to pass in the TargetFramework value when calling GenerateReferencesource.

EG: dotnet msbuild /t:GenerateReferenceSource /p:TargetFramework=netcoreapp5.0

[2020-02-06 21:03] hmobius commented on #14819
It seems pretty clear given how long this issue has been around that it really isn't a priority for Microsoft, and that this needs to be an open source effort. It's also clear that implementing XSLT is not a trivial thing. There is a list of projects [here](https://github.com/maxtoroq/dotnet-xml#xpath-xquery-and-xslt) but the only one we might be interested in is a form of [XPath2.net](https://git

[2020-02-06 21:13] adamsitnik commented on #14304
I am also working on improving the Sockets performance on Linux. My plan is to get the best of available and stable Linux APIs: `epoll` and `AIO` (I know that they suck in many ways, but we have to live with that) and then give `io_uring` a try.

Below you can see a work of a typical thread pool thread from JSON TechEmpower benchmark:

![obraz](https://user-images.githubusercontent.com/6011991/739

[2020-02-06 21:15] #31662 closed

[2020-02-06 21:23] stephentoub commented on #14304
Yes.  The irrelevance of the JSON serialization in this benchmark is highlighted by the benchmarks themselves.  Number 33 at https://www.techempower.com/benchmarks/#section=data-r18&hw=ph&test=json is ASP.NET Core using Tom's Kestrel transport that uses an affinitized epoll thread per core, at 94% RPS of the top result, and number 60 in the results is ASP.NET Core using the standard sockets transp

[2020-02-06 21:25] ViktorHofer commented on #31844
Funny thing, we already do but not because of any reason, just for consistency with netcoreapp.

I more or less understand what you are proposing here but I thing we should write this down in more detail.

[2020-02-06 21:26] richardlalancetteyoui commented on #3671
What is my alternative to start sharing my dotnet 3.1 application with my clients?

[2020-02-06 21:27] nurevaSaeed commented on #13309
I'm experiencing this issue with .NET Core 3.1

This causes the Linux container to hit OOM. Running the app in VS in debugger has the same issue.

Unfortunately, I cannot share my memory dump. But the summary is that I have the Azure Service Bus  lib in my app. The service bus lib tries to connect to the topic you specify. If the topic does not exists it keeps throwing exceptions indefinitely. Thi

[2020-02-06 21:27] janvorli opened #31885 "Cross build of tests for arm on Linux is broken"
When I cross build tests for ARM using build-test.sh on my Ubuntu running on x64, all the native shared libraries from the "libraries" (like System.Native.so) in the Core_Root are x64 instead of ARM. The shared libraries built from the coreclr are correct.

Here is the sequence of commands that I run from a repo cleaned from the root using `git clean -xdf`:
[code]
This is what the build-test.sh pr

[2020-02-06 21:28] janvorli commented on #31885
cc:  dotnet/runtime-infrastructure

[2020-02-06 21:29] swaroop-sridhar commented on #3671
@richardlalancette  You can distribute your app without publishing it as a single-file. The single-file-ness of apps is less important on MAC, sine MAC treats apps as folders.

[2020-02-06 21:30] tarekgh commented on #31372
@sdmaclea did you close this one by mistake?

[2020-02-06 21:32] janvorli commented on #31885
Here is a gist with the full msbuild log: https://gist.github.com/janvorli/9fc4f0ca2cabe068a3ec1ab0e017310a

Briefly looking at it, it seems the issue would be in the libraries build, as it copies the native .so files from `/home/janvorli/git/runtime/artifacts/bin/native/netcoreapp5.0-Linux-Release-arm`

[2020-02-06 21:32] Anipik commented on #31866
@ericstj  I will start working on fixing it.

[2020-02-06 21:38] richardlalancetteyoui commented on #3671
Oh that's a good point!

[2020-02-06 21:45] janvorli commented on #31885
I've found what's causing the problem - the build-native.sh is not being passed the "cross" option. If I run this script with the same options I can see in the console output from the libraries build, but add "cross", it generates the correct arm binaries.

[2020-02-06 21:45] janvorli commented on #31885
cc: @BruceForstall

[2020-02-06 21:45] BruceForstall opened #31887 "superpmi replay: automatically run replay across a set of assemblies with superpmi.py"
superpmi.py allows you to specify a single MCH file over which to replay, using the `-mch_file` argument. Add a `-mch_dir` argument to allow specifying a directory that will be recursively searched for MCH files to replay. Also, allow `-mch_file` to take 1 or more files, not just one. And allow both `-mch_file` and `-mch_dir` to be used at the same time. Allow `-mch_file` and `-mch_dir` to be pass

[2020-02-06 21:50] lpereira commented on #14304
Batching writes can be beneficial, yes.  One of the things that helped me push Lwan [(current run shows it at #5 in the TWFB for the JSON benchmark; used to be #1 with a good margin a few years back)](https://www.techempower.com/benchmarks/#section=test&runid=350f0783-cc9b-4259-9831-28987799782a&hw=ph&test=json) a little bit further was to avoid using vectored I/O to send the response. If the buff

[2020-02-06 21:53] safern opened #31888 "Official build and CI builds failed with CMake Warning due to build agents updated VS"
Official builds are currently hitting: https://github.com/dotnet/runtime/issues/30845 because the build agents got updated to VS2019 16.4 and CMake is 3.15.1, we need 3.15.5 or later.

I will disable WarnAsError for Windows in the official builds shortly. We should revert that when this is fixed.

cc: @dotnet/runtime-infrastructure @MattGal

[2020-02-06 21:53] gomathip02 opened #31889 "Cannot set PrincipalPolicy"
@mgnsm commented on [Fri Jan 31 2020](https://github.com/dotnet/wpf/issues/2489)

.NET Core Version: 3.1.101
Windows version: 16299.1625
Reproducible in .NET Framework 4.8?: No.

Calling `AppDomain.CurrentDomain.SetPrincipalPolicy` to specify a principal policy of `PrincipalPolicy.UnauthenticatedPrincipal` doesn't seem to work.

If I create a new WPF application using the default `WPF App (.NET Co

[2020-02-06 21:59] wfurt commented on #31843
duplicate of #30724

[2020-02-06 21:59] #31843 closed

[2020-02-06 21:59] BruceForstall commented on #31885
cc @dotnet/runtime-infrastructure

[2020-02-06 22:07] tmds commented on #14304
@adamsitnik this is what I'm trying to do also, and I created this issue to have some awareness, and get some involvement from others.
Should I stop spending time on it? Or do you want to work on this together?

[2020-02-06 22:07] stephentoub commented on #14304
Please work on it together :smile:

[2020-02-06 22:08] tarekgh opened #31891 "Regex malfunction"
This issue is ported from https://developercommunity.visualstudio.com/content/problem/689056/regular-expression-mulfunction.html

[code]

regex suppose to match but it is not.

[2020-02-06 22:12] benaadams commented on #14304
Are read and write serial events; for so can they be made parallel (i.e. read from one socket and write to another at same time)? Or is that just how its showing up in the flamegraph?

![image](https://user-images.githubusercontent.com/1142958/73983096-8875d100-492d-11ea-9610-c0661ec8df2a.png)

[2020-02-06 22:13] vasont commented on #14819
It most certainly would be an effort to get public support for this. I would think you would start with the individuals who up-voted this issue on Microsoft's user voice site. From there, spreading the initiative among .NET user groups, etc. I would think 1,000 devs/companies offering $100 each would do the trick to get the effort underway and to a working beta release. 🤷‍♂

[2020-02-06 22:16] tmds commented on #14304
It's the flamegraph. It's sampled stacktraces, and the most called child function is put to the left below its parent.

[2020-02-06 22:17] terrajobst commented on #14819
@michaelhkay

I don't think that's true. Our primary motivation for doing a platform feature is:

1. Is this a core concern for many users?
2. Would adding it to the platform benefit the feature?
3. Is this a feature that we likely need as a building block for other platform features?

I'm not aware of cases where pricing of external components have influenced our decision; however, the availabili

[2020-02-06 22:26] steveharter commented on #31820
As @wfurt noted the test bits are necessary. It is not possible to debug a crash dump with `lldb` without matching symbols.

The description lists 3 issues: no symbols, no instructions on how to get the symbols, and lldb instructions\SOS plugin not working. The latter may not be an "infrastructure" issue but someone should vet the OSX developer experience for dumps caused in a PR as the lldb instr

[2020-02-06 22:40] FreddyD-GH commented on #981
My experience with using the MS Access OleDb driver aligns with what @jader1313 is saying:

- Queries with more than one parameter succeed on .NET Framework x86/x64
- Queries with more than one parameter fail on .NET Core x86
- Queries with more than one parameter succeed on .NET Core x64

Switching to the x64 driver unblocks me for the moment, but I agree that the .NET Core x86 implementation sho

[2020-02-06 22:45] wfurt commented on #31676
There are many tests failing in that batch. Mostly with

[code]

I'm not convinced that immediate retry will work for  Azure outages.
We may consider something like https://github.com/dotnet/runtime/pull/2369 and skip the content validation if we fail to get a successful response.

Long term, we may convert this to containerized tests similar to enterprise auth.

cc: @davidsh

[2020-02-06 22:54] richlander commented on #12515
Yes. We landed a good implementation for 3.0 and have already started improving tiered compilation for 5.0.

[2020-02-06 22:54] #12515 closed

[2020-02-06 22:55] am11 commented on #31885
@janvorli, i believe it is `--cross` option that works (with double hyphen).

[2020-02-06 23:00] sdmaclea commented on #31372
The ID in the commit message was wrong.  GitHub recently started using the comment message to close PRs...  I saw it was wrong when I created the PR, and fixed the PR, but I didn't realize GH would close based on the commit message... My apologies...

[2020-02-06 23:00] wfurt commented on #31820
Core _may_ be sufficient if we published symbols to symbols server. e.g. official builds. I don't think we do for PRs.  Otherwise, you need the bist and set `setclrpath` @ViktorHofer. @mikem8361 updated FAQ https://github.com/dotnet/diagnostics/blob/master/documentation/FAQ.md#frequently-asked-questions

[2020-02-06 23:04] vasont commented on #14819
Thanks Immo. So that sums it up gang that's it's likely not going to happen. OSS initiative will be the only solution here. Getting technical expertise and developers to dedicate the effort to implement something similar to Saxon or XmlPrime is a relatively large undertaking.

[2020-02-06 23:08] janvorli commented on #31885
@am11 Sigh, I have not realized my change I am working on is based on a bit older state of the repo that didn't have your change that added these options to the top level scripts. I guess with those it will just work.

[2020-02-06 23:08] #31885 closed

[2020-02-06 23:20] JpratherMS commented on #2176
I believe we are very close, just rerunning the automation to verify now.

[2020-02-06 23:34] AndyAyersMS commented on #31661
We haven't put much effort into improving CQ for nullables, seems like we ought to invest here some.

[2020-02-06 23:39] safern commented on #108
I believe this is fixed with the single pipeline changes?

[2020-02-06 23:56] steveharter opened #31895 "System.Reflection and S.R.Emit roadmap for 5.0 [WIP]"
_[Work in Progress]_

To help with priority discussions, this issue is tracking design and functional issues.

In general, the issues fall into the following buckets:
- Design \ roadmap
- Features (large API additions to smaller functional features)
- Performance improvements
- Bugs (crashes, inconsistencies, ...)

# Areas of focus
1) Determine Reflection.Emit roadmap and usage scenarios.
2) Unblo

[2020-02-06 23:59] GrabYourPitchforks commented on #2251
Disabling the BMI2 code paths results in a substantial perf regression on Intel when transcoding CJK text. I'm still investigating to see if there's anything we can do about this.

|               Method | EnvironmentVariables | Toolchain |      Corpus |     Mean |   Error |  StdDev | Ratio | RatioSD |
|--------------------- |--------------------- |---------- |------------ |---------:|--------:|--

[2020-02-07 00:03] BruceForstall opened #31896 "superpmi.py: enable cross-platform replay of native collections"
The scenario I want to enable using superpmi:
1. Do SuperPMI collection of a test run (or other activity) on Linux/arm64.
2. Copy the MCH file back to Windows/x64.
3. On Windows/x64, replay the MCH using a Linux/arm64 targeting JIT (either altjit, or not: see https://github.com/dotnet/runtime/pull/41126, https://github.com/dotnet/runtime/issues/41643).
4. Generate asm diffs or assert checking repl

[2020-02-07 00:12] davidsh commented on #31676
That is what I have been thinking about. In the old days, we would run tests in a physical lab where client and server machines are only separated by a network switch. That had higher reliability than having a remote server somewhere in the Internet separated by many layers of load balancers, proxies, etc.

In fact, the current code that runs as the remote Azure server (https://corefx-net-http11.a

[2020-02-07 00:21] mikem8361 opened #31897 "Assert in DAC running the diagnostics repo tests on Checked/Debug runtime build"
This assert in the DAC happens with SOS runs the below command. It is benign but causes the diagnostics repo's SOS tests to fail.

(lldb) clrstack -i

[code]

[2020-02-07 00:58] terrajobst commented on #14819
Pretty much, which is why I'm closing this.

[2020-02-07 00:59] #14819 closed

[2020-02-07 00:59] jeffska commented on #14819
@terrajobst

I think that's been my frustrations for a long time. In my view XSLT is much less useful for the "traditional" web/client activities than it is for a more generalized standard data transformation framework. I've used XSLT in several project for that type of role, to good effect. However, the restriction of only having  XSLT 1.0 as part of the standard environment limits capabilities a

[2020-02-07 01:04] swaroop-sridhar commented on #108
Yes this issue is fixed.
https://dev.azure.com/dnceng/public/_build/results?buildId=509813&view=results

https://github.com/dotnet/runtime/pull/1102
https://github.com/dotnet/runtime/pull/1596

[2020-02-07 01:04] #108 closed

[2020-02-07 01:16] josalem opened #31900 "Potential recurrence of #13309"
I'm experiencing this issue with .NET Core 3.1

This causes the Linux container to hit OOM. Running the app in VS in debugger has the same issue.

Unfortunately, I cannot share my memory dump. But the summary is that I have the Azure Service Bus  lib in my app. The service bus lib tries to connect to the topic you specify. If the topic does not exists it keeps throwing exceptions indefinitely. Thi

[2020-02-07 01:17] josalem commented on #13309
Closing as the original issue was resolved

[2020-02-07 01:17] #13309 closed

[2020-02-07 01:25] am11 commented on #13475
@Daniel15, thanks, it definitely does! it also helped me run dotnet core 3.1 hwapp on FreeBSD using [Linux®️ Binary Compatibility](https://www.freebsd.org/doc/handbook/linuxemu.html) emulation: https://cirrus-ci.com/build/6435715873505280. Note that we can skip the `cp` step and still use absolute path to wherever the workaround .so is.

---

cc @wfurt, the self-contained repro is [here](https://g

[2020-02-07 01:25] josalem commented on #31900
@nurevaSaeed, could you describe the scenario a little more?  Specifically
* What applications are running (including your own) inside your container or when you are debugging with VS?
* Are you tracing your application using `dotnet-trace` or using another .NET Diagnostics Tool when this happens?
* Are you using `DiagnosticListener` in your application?
* Are you using `prometheus-net.DotNetRunti

[2020-02-07 01:31] Daniel15 commented on #13475
@am11 I'm glad you found the workaround useful :)

For what it's worth, for https://dnstools.ws/ I'm deploying this workaround to all servers as part of an Ansible playbook:

[code]
https://github.com/Daniel15/dnstools/blob/ab2fbd4202530722e6587f3813a0deb5f228e723/ansible/roles/dnstools-worker/tasks/main.yml#L63-L70

Then in my systemd file I have:

[code]
https://github.com/Daniel15/dnstools/blob

[2020-02-07 01:49] noahfalk commented on #11750
I'd need to chat with David to see what work remains here and how much he thinks it would cost. I haven't seen him in the office last couple days so just waiting for that.

Can you describe what you'd do with the API if it was available in 5.0?

[2020-02-07 01:49] trylek commented on #1026
@ViktorHofer / @dagood - does there exist any private branch or PR enabling signing in debug builds so that I could give it a try in combination with the fix for CopyUcrtFiles?

[2020-02-07 01:50] danmosemsft commented on #31891
Unfortunately I don't think it is possible to figure this out without knowing what the emoji represents or if someone can infer it. Really, the original bug report should have been simplified down to a smaller repro case.

https://www.unicode.org/emoji/charts/emoji-list.html#1f626

[2020-02-07 01:50] #31891 closed

[2020-02-07 01:51] stephen-lim commented on #14819
If this is the determining factor, then we can argue the case:

1. Is this a core concern for many users?
Yes, XSLT 2+ was one of the top 3 most requested feature back when it was voted through the VisualStudio UserVoice. See [archive link has 2817 votes "Implement XSLT 3.0 for .NET"](https://web.archive.org/web/20190321120101/https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/cate

[2020-02-07 01:55] cshung commented on #2382
Using `List<ThreadLocal<WeakReference>>` seems to blow up the number of objects quite a bit.

Ignoring the objects like the `List` and the underlying array, the `FinalizerHelper` in `ThreadLocal`, and so on. These objects don't have a high count.

Assuming there are `T` threads and all threads have some thread-specific value.

A `ThreadLocal<T>` internally manages a linked list of slots for each v

[2020-02-07 01:56] buyaa-n opened #31902 "VS not showing all files for all target OSs"
Right not it is showing files for the first target, to see other OS files i need to switch position of target OSs.

@Anipik told me that VS should show all files for all targets

[2020-02-07 02:35] brianrob opened #31905 "PGO Instrumentation Broken on CoreCLR Build"
In the process of bringing up PGO training for the dotnet/runtime CoreCLR build, I've noticed that PGO instrumentation is broken on Linux.

Running this command:
[code]

results in this error:
[code]

Without this functionality, we're unable to ship an optimized runtime for Linux.

[2020-02-07 02:36] brianrob commented on #31905
@jeffschwMSFT can you help find someone to look at this?  Thanks.

[2020-02-07 02:37] mjsabby commented on #11750
If we had this it would unify our eventing story that is fragmented between ETW/EventPipe and Profiler APIs. This would allow us to also react with other APIs in our app that need real time feedback.

[2020-02-07 02:45] dmitriyse opened #31906 "Feature Request: Batch GC allocation for an object aggregation"
Classes are very frequently have an aggregation part, for example:
[code]
The lifetime of the objects in such aggregations are *most probably* 100% the same.

And GC optimization is possible. Rather than have 3 dedicated separately managed chunks,
the GC can allocate one chunk of memory:
[code]

In theory it's possible to add this feature only on the JIT level.

The existing binaries could start b

[2020-02-07 02:56] jkoritzinsky commented on #31905
I’m currently refactoring the CoreCLR build scripts at the moment. I can take a look at this.

[2020-02-07 03:06] brianrob commented on #31905
Thanks @jkoritzinsky.  Very much appreciate it.

[2020-02-07 03:17] scalablecory commented on #31906
Where do you get this 10% from? Have you prototyped this?

[2020-02-07 03:19] terrajobst commented on #13550
Because it really contains the setup/installer.

[2020-02-07 03:28] danmosemsft commented on #14819
@stephen-lim  your examples show that XML and XSLT are widely used but not v3 specifically.

[2020-02-07 03:43] dmitriyse commented on #31906
@scalablecory unfortunately it's a hard feature for prototyping. The estimate is just empirical.

Let's try to estimate "more precisely":
1) 1/2 of the objects have an aggregation part.
2) Aggregation asymptotically have 3 objects.
3) GC throughput overhead by adding this feature is 10%.
Concluding we have ~(50%-10%)=40%  more throughput of GC.

If we dump the memory of some workload and perform t

[2020-02-07 03:49] dmitriyse commented on #31906
The one story is the impact of this feature on existing binaries.
The totally different story is the impact to the new code targeting this feature.

If I know that aggregation allocation is cheap regardless of amount of objects in the allocation, I would create bigger aggregations for performance critical objects with less lazy allocations.

[2020-02-07 03:51] scalablecory opened #31911 "Add DCAS overload of Interlocked.CompareExchange"
A CAS that operates atomically on two pointers at once is useful for writing lock-free algorithms.

This would be an intrinsic for `CMPXCHG8B`, `CMPXCHG16B`, `CASPAL` instructions

Something like:

[code]

[2020-02-07 03:53] stephen-lim commented on #14819
SQL server partially supports Xpath v2. There isn't wide support for v3 because Windows/ASP.NET software like Sharepoint, DNN, Umbraco ultimately rely on the .NET libraries, which only supports XSLT v1. On the other hand, you can find many more examples of v2 and v3 support in Java apps.

The short story is thousands of developers have been asking Microsoft to support v2 for the last 10 years. At

[2020-02-07 04:30] benaadams commented on #31906
Do you mean because they are `readonly` fields? So would be an optimization to aggregate the readonly chunks?

I assume it could only be done if the constructors inlined; or there was annotation on the constructors highlighting size and readonly field aggregate. Likely to have similar issues to Jit stack allocation of objects? https://github.com/dotnet/runtime/issues/1661#issuecomment-573868943

[2020-02-07 04:43] jkotas commented on #30772
Fixed by https://github.com/dotnet/runtime/pull/2275

[2020-02-07 04:43] #30772 closed

[2020-02-07 04:48] #20612 closed

[2020-02-07 04:49] jkotas commented on #28148
Tracked by https://github.com/dotnet/SqlClient/issues/117

[2020-02-07 04:49] #28148 closed

[2020-02-07 04:51] #22406 closed

[2020-02-07 04:51] #21459 closed

[2020-02-07 04:53] jkotas commented on #30030
Addressed by  dotnet/SqlClient#127.

[2020-02-07 04:53] #30030 closed

[2020-02-07 05:02] dmitriyse commented on #31906
When JIT compiles type and its constructors it can infer that some of ```readonly``` fields could be allocated in a batch.
(Relatively deterministic way)
[code]

Not all readonly fields could be included into the object allocation chunk.

[2020-02-07 06:30] benaadams commented on #753
lwn article [The rapid growth of io_uring](https://lwn.net/Articles/810414/)

[2020-02-07 07:02] Gnbrkm41 commented on #31902
This would be nice to have. I often forget to make changes on *.Unix.cs files because it doesn't show up on csproj/sln files.

[2020-02-07 07:05] fluffynuts opened #36057 "Feature request: facilitate testing"
## The problem
I'd like to prove that logging has (or has not) happened from within a test. I'm attempting to use an injected NSubtitute for ILogger<T>. Asserting calls is difficult because methods like `LogInformation` are extension methods -- but that's ok, if we can get down to the lowest `Log<TState>(LogLevel logLevel, EventId eventId, TState state, Exception exception, Func<TState, Exception,

[2020-02-07 07:26] TsengSR commented on #14819
Well, to be honest, XSLT 2.0 and XPath 2.0 would be a **huge** improvement already. XSLT 1.0 is very very limiting  (major blockers being lack of user defined functions - You just have templates, but these can't be used as part of XPath Expressions), same applies for XPath 2.0 (Lot of functions missing, no white-spaces for Namespaces (i.e. no `/*:elementName``)l

Sure, XPath 3.0 and XSTL 3 would b

[2020-02-07 07:42] kevingosse commented on #14304
It was more of a scheduling issue. In an application that favors latency over throughput, once a request has started being processed, you want every available resource to be allocated to that request. This is something achieved nicely by the threadpool local queues (continuations for a given request are enqueued to the local queue of the thread. Assuming that you have no blocking or overly long ta

[2020-02-07 08:05] am11 commented on #31891
😦 U+1F626 - frowning face with open mouth; https://emojipedia.org/frowning-face-with-open-mouth/

[2020-02-07 08:26] d0tn3tc0d3r commented on #1094
@buyaa-n based on which facts are you saying that the zip I'm reading is invalid? WinZip doesn't report it as invalid, and I haven't found any tool that does. Nobody else has reported having problems with these files as far as I know, and I have old files going back nearly 4 years that have the same issue. Right now, I don't think I can report the files as being invalid.

The specifications regard

[2020-02-07 09:08] michaelhkay commented on #14819
As far as Saxonica is concerned, we are eagerly awaiting technical details of what Microsoft is proposing to offer under the "Java interoperability" feature promised in the .NET 5 announcement; that will determine our forwards path for Saxon on .NET. If anyone knows of any details that have been published since the May 2019 announcement, please share!

[2020-02-07 10:50] melanchall commented on #26296
@carlossanlop Thanks for link! I have a question.

In the doc you've provided the first step states that issue should be created under **dotnet/corefx**. I see that current issue was transferred for some reason from **corefx**. Should we create new one under **corefx** with detailed description or continue with this issue?

[2020-02-07 11:01] ycrumeyrolle opened #31914 "[Question] Does the intrinsics SSE4.2 _mm_cmpestri is exposed somewhere ?"
I am looking for the _mm_cmpestri instruction, available on SSE4.2 processors.
Can't find it on the Sse42 object...
@tannergooding ?

[2020-02-07 11:15] jader1313 commented on #981
@FreddyD-GH thanks for your confirmation.

@maryamariyan  as I was unable to run the System.Data.OleDB tests, I took the test you mentioned (https://github.com/dotnet/runtime/blob/master/src/libraries/System.Data.OleDb/tests/OleDbCommandTests.cs#L137-L175) and adapted my project to run it. When running on x86 it shows ERROR.

[2020-02-07 11:35] Gnbrkm41 commented on #31914
It does not appear to exist yet. https://github.com/dotnet/coreclr/pull/20887 suggests that the APIs were left behind due to lack of better design.

[2020-02-07 11:41] Gnbrkm41 commented on #31914
Related: https://github.com/dotnet/runtime/issues/957

[2020-02-07 12:24] stephentoub commented on #31911
Our `ConcurrentStack<T>` is unable to reuse its nodes today due to typical ABA issues. That would be a good test bed to validate this API, with `CS<T>` maintaining a free list and using tagged pointers/references.

[2020-02-07 12:46] MaximLipnin commented on #2084
I have moved this test out of CoreFX.issues.rsp file in https://github.com/dotnet/runtime/pull/2087, but because it's still flaky, I'm reopening this issue and will refer to it as `ActiveIssue` for the test.

[2020-02-07 14:27] rankeren commented on #31827
The important stuff  is List to support `Pop `O(1) and `Pop0` (  O(n), a.k.a Dequeue). ( that is supported by python,ruby, perl,e  and more ) .   But ...
As Pop/Pop0  are *not* in  Java. While Java 'remove-by-pos' , **does** return a value, i was thinking, lets have c# at least as good as java, in that regard.   ( in other regards c#  is not only matching, but above java).  i.e.  `RemoveAt` to ret

[2020-02-07 14:27] vcsjones commented on #29588
@danmosemsft It looks like @owlstead has already invested a good chunk of time in to it, but if @owlstead is unable to or no longer wishes to, I can probably do this next after I wrap up #2406.

[2020-02-07 14:49] rankeren commented on #31827
@danmosemsft : "Pop() of any kind on List is unfamiliar to me as well."
Well...    look at   **python, perl ,ruby and 'e' (specman).**
**`Python`** list `Pop `is O(1), and `Pop(0)` , is O(n) ,  just like in 'e'.
'`e'  (specman)` by Cadence, is the one i know well, it's **strong typed**. `list  `there is implemented  just like `List<T>` in C#.  `Pop `O(1) and `Pop0 `(O(n))  are  common operations o

[2020-02-07 15:01] mmitche commented on #1026
@mmitche - is there any harm in executing the CopyUcrtFiles target even in debug mode so that we can test signing in PR runs?

No idea.

[2020-02-07 15:04] #31914 closed

[2020-02-07 15:10] rankeren commented on #31828
@jfbueno
**Why should  C# `List`, _not_ be as powerful as  python `list`** ?  perl list  ? ruby array ? 'e' list  (specman) ( and more).
**`Python list Pop`** is O(1), and Pop(0)  is O(n) , just like in 'e'.
'e' (specman) by Cadence, is the one i know well, it's **strong typed**. **list** there is implemented just like `List<T> in C#. Pop` O(1) and Pop0 O(n) are common operations on list.

[2020-02-07 15:20] rankeren commented on #31827
@Suchiman "   `T Pop(int index)`  ..and it's not too far of a stretch to be able to Pop at an index and have that also return the element at that index:
**absolutely** ,   and if the parameter is _**optional**_ ( default, is _last_ item),  that 'd be exactly like in Python. Great!

[2020-02-07 15:59] tarekgh commented on #31891
@am11 we need to know what is the shortcut characters that can create this emoji.

@danmosemsft  I have asked on the original report https://developercommunity.visualstudio.com/content/problem/689056/regular-expression-mulfunction.html to get the emoji replacement characters. We can activate this issue when we get more info,

[2020-02-07 16:06] nurevaSaeed commented on #31900
Sorry @josalem, I'd deleted my post before seeing your message. I will send an update with what you're asking soon. For now, I don't think my issue applies to this bug anymore.

[2020-02-07 16:15] dagood commented on #1026
Not that I'm aware of. To get started, just changing the lines called out above will kick it off:

[code]

[2020-02-07 16:18] #31800 closed

[2020-02-07 16:26] vasont commented on #14819
Regarding Saxon and .NET Core, IKVM is obviously shelved. Why not take the runtimes, decomiple using something like DotPeek to C#, and refactor to .NET Core, then implement Saxon to use those libs?

[2020-02-07 16:31] carlossanlop commented on #26296
@melanchall use the dotnet/runtime repo. Don't use the corefx repo anymore.

We recently migrated to runtime, but some documents like this one have not been updated to reflect that. Thanks for pointing it out.

[2020-02-07 16:41] bartonjs commented on #31889
Closing in favor of #31717

[2020-02-07 16:41] #31889 closed

[2020-02-07 16:41] buyaa-n commented on #1094
@d0tn3tc0d3r sorry i told that based on your previous comment:

Which sounded like invalid zip to me, but with debugging your file we see the issue same as you described above which is a bug, we are working on the fix, thanks for the file

[2020-02-07 16:49] alnikola commented on #25760
I ran this test locally in a loop 100+ times and everything completed successfully. Can the issue be fixed already? Or, do we believe it happens only on the cloud?

[2020-02-07 17:07] alnikola commented on #25605
PlatformHandler_HttpProtocolTests.GetAsync_Chunked_VaryingSizeChunks_ReceivedCorrectly was removed some time ago. The remaining **SocketsHttpHandler**_HttpProtocolTests.GetAsync_Chunked_VaryingSizeChunks_ReceivedCorrectly does **not fail**.

[2020-02-07 17:07] #25605 closed

[2020-02-07 17:16] cheenamalhotra commented on #31724
Closing this issue as the original issue is transferred to dotnet/sqlclient.

[2020-02-07 17:16] #31724 closed

[2020-02-07 17:18] danmosemsft commented on #31611
@AgnesAarthy any interest in offering a PR? It looks like what's required is

1. Edit [BinaryFormatterTestData.cs](https://raw.githubusercontent.com/dotnet/runtime/master/src/libraries/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTestData.cs) to add a test. Probably reasonable to just take one of the 3 existing DataSet serialization tests eg, change
[code]
to
[code]
2. Execute this

[2020-02-07 17:18] cheenamalhotra commented on #31491
PR https://github.com/dotnet/corefx/pull/42489 has been merged and would be part of .NET Core 2.1.16 release due soon, closing this issue on that note.

[2020-02-07 17:18] #31491 closed

[2020-02-07 17:24] danmosemsft commented on #31891
@GrabYourPitchforks you're our emoji encoding expert. Can you infer what the original characters were here? We know the emoji is U+1F626....

[2020-02-07 17:25] cheenamalhotra commented on #27966
Closing this issue as we don't reproduce any problems with SqlClient, but the problems emerge due to Azure Functions SDK existing issues.

For anyone facing this issue, please create a new issue with reproducible app provided in **[dotnet/sqlclient](https://github.com/dotnet/sqlclient)** repository if any problems are found with SqlClient libraries.

[2020-02-07 17:25] #27966 closed

[2020-02-07 17:27] cheenamalhotra commented on #20043
Closing as No-op for Microsoft.Data.SqlClient.

[2020-02-07 17:27] #20043 closed

[2020-02-07 17:30] michaelhkay commented on #14819
We're looking at a number of options (which is why we really want to know what .NET 5 will offer), but obviously we're very keen to avoid forking the source code.

[2020-02-07 17:35] GrabYourPitchforks commented on #31891
Emoji expert, eh?
My best guess is a colon followed by an o, but would need to sit down and study the regex syntax to figure out what that means.

[2020-02-07 17:36] John0King opened #31921 "how can I get the CPU usage in percent of my app ?"
I want to get the CPU and Memory usage of my app in .net core,  for .net framework , I can use `PerformanceCounter` class, I have read a few [docs](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Tracing/documentation/EventCounterTutorial.md) about the `EventCounter` class ,  but it seems not able to get the info from it.

[2020-02-07 17:38] tarekgh commented on #31891
I believe the characters have to include `)` to make the open and close parenthesis to balance.

[2020-02-07 17:46] maryamariyan commented on #981
Thank you both for the complete description of the issue. Currently investigating, will update in a bit.

[2020-02-07 17:47] dagood opened #31922 "Official build break during publish: "Duplicates found: ...Microsoft.Private.PackageBaseline.5.0.0-alpha.1.20107.1.nupkg""
Example: https://dev.azure.com/dnceng/internal/_build/results?buildId=510971&view=results

It looks like multiple Libraries jobs produce this package now.

[2020-02-07 18:08] SteveHarveyUK opened #31927 "EventCounter events not filtered by EventSource/EventListener relationship"
When using the System.Diagnostics.Tracing EventSource, EventListener and EventCounter classes, it would appear that the fired EventCounter events are not being filtered through the EventSource to the EventListener.

All of the custom EventListener instances I create seem to receive all EventCounter events regardless of which EventSource I use to EnableEvents on.

Not entirely sure if this is as de

[2020-02-07 18:10] #31682 closed

[2020-02-07 18:47] danmosemsft commented on #31891
This isn't worth further investigation I think :)

[2020-02-07 18:51] stephentoub opened #31932 "Rename COREFX_ environment variables used in System.Net.* testing"
There are a bunch of environment variables named "COREFX_", almost all of which are in the System.Net.* tests.  These should be renamed, to "DOTNETLIBRARIES_" or "TEST_" or some such thing.

[2020-02-07 18:59] stephentoub commented on #25760
I don't know if the issue has been fixed, but often these sporadic failures only manifest under load, and even then only sometimes.

[2020-02-07 19:07] JeremyKuhne commented on #29271
@maryamariyan Fyi, this is `System.Configuration` specific.

[2020-02-07 19:22] hoyosjs commented on #31927
@josalem @sywhang
cc: @dotnet/dotnet-diag

[2020-02-07 19:35] carlossanlop opened #31935 "OS specific files are not being shown correctly in VS Solution Explorer"
@Anipik @ericstj @safern @ViktorHofer

Anirudh and I noticed this yesterday.

In my Windows machine, I rebased my enlistment to the latest changes and built everything successfully.

I have two repro examples:

### 1)

- Open this solution in VS: `runtime\src\coreclr\src\System.Private.CoreLib\System.Private.CoreLib.sln`.
- The `System.Private.CoreLib.Shared` project is not showing the Windows-spe

[2020-02-07 19:36] #2274 closed

[2020-02-07 19:37] Anipik commented on #31935
VS is showing the files corresponding to the first targetFramework in TargetFrameworks list.

Related Issue https://github.com/dotnet/runtime/issues/31902

[2020-02-07 19:40] CoffeeFlux commented on #31650
We seem to throw the correct exception, but the test is failing because the error message itself does not contain the filename and instead has it specified below. This seems unnecessarily strict (though our message isn't great), but if we really want the path included in both places it should be an easy enough fix.

Sample program:
[code]
Mono/CoreCLR output:
[code]

[2020-02-07 19:41] CoffeeFlux commented on #31649
See https://github.com/dotnet/runtime/issues/31650#issuecomment-583570898, failures seem to be for the same reason.

[2020-02-07 19:48] hoyosjs commented on #31921
Do you want to use them programatically? Or just see them?

- To see them we have the [dotnet-counters global tool](https://github.com/dotnet/diagnostics/blob/master/documentation/dotnet-counters-instructions.md).
- You can see some sample usage of the [diagnostics client library](https://github.com/dotnet/diagnostics/blob/f5dc05d18aa7d32faf29511ee98c6958ab7b3958/documentation/design-docs/diagnost

[2020-02-07 20:09] buddhashrestha commented on #1689
Sure @GrabYourPitchforks. For now, I had a fix by increasing the application memory using _largeaddressaware_ header (was using 32bit .netframework). In the long term will need to look into designing the models without cycles. This was a good conversation though. Thank you!.

[2020-02-07 20:09] #1689 closed

[2020-02-07 20:53] lambdageek commented on #31857
/cc @alexischr

[2020-02-07 20:53] lambdageek commented on #31858
/cc @alexischr

[2020-02-07 21:21] #31922 closed

[2020-02-07 21:31] AndyAyersMS opened #31942 "JIT: review and document the various cases where the jit circuit-breakers will kick in"
The jit will disable or limit optimizations for large methods to try and contain jit time or jit memory usage. This can lead to unpleasant surprises, especially for cases where the limiting factors are not obvious in the source language.

One such example is #11905, where the inliner abruptly stops inlining. There are other limits on IL size, local count, etc. I don't know if we have a comprehensi

[2020-02-07 21:35] Tratcher commented on #1584
I have a proposal and demo for the automation:

I've created a Github Action in AspNetCore that I'll schedule to run once per day. The action will:
1. Checkout the master branch of the runtime and aspnetcore repos.
1. Run the existing CopyToAspNetCore.cmd script
1. Diff to see if that caused any changes in AspNetCore
1. If yes, export the diff as an artifact and notify us

Here's a demo with steps

[2020-02-07 21:38] #31905 closed

[2020-02-07 21:38] #2013 closed

[2020-02-07 21:38] #13693 closed

[2020-02-07 21:47] bartonjs opened #31944 "Add easy way to create a certificate from a multi-PEM or cert-PEM + key-PEM"
Something like

[code]

If no `keyPemFile` is specified, `certPemFile` is searched for both the cert and the key.

`certPemFile` probably should be "loads the first CERTIFICATE" entry from it; but if there are popular Unix-ish utilities that read multi-PEMs backwards, or "whichever one matched a private key", then we can consider a different behavior.

The keyPemFile is only allowed to specify one

[2020-02-07 22:09] melanchall commented on #26296
@carlossanlop Thanks.

So should a new issue be created or we can proceed with this one?

[2020-02-07 22:11] carlossanlop commented on #26296
Either way is fine, your choice.
If you decide to reuse this issue, add your API Proposal in a new comment, and make sure to edit the main issue description to add a link to your proposal comment, so people can jump to it quickly. This is the most common way.
If you decide to open a new issue, make sure to mark this as duplicate and close it. This way is a bit cleaner.

[2020-02-07 22:16] melanchall commented on #26296
It's not my issue so I can't edit comments of other users. If I create new issue, will you be able to mark this as duplicate?

[2020-02-07 22:21] los93sol commented on #31944
If this supported openssl encrypted key files from pem that would be great as well.  Hopefully people don't have unprotect pem files laying around with keys in them :)

[2020-02-07 22:35] danmosemsft commented on #31867
migrated to https://github.com/dotnet/project-system/issues/5878

[2020-02-07 22:35] #31867 closed

[2020-02-07 23:13] eerhardt commented on #1094
Looking at the [implementation that used to be in the dotnet/wpf repo](https://github.com/dotnet/wpf/blob/022c3952a34dad5dd77566768b4558eac182e2b5/src/Microsoft.DotNet.Wpf/src/WindowsBase/MS/Internal/IO/Zip/ZipIOLocalFileDataDescriptor.cs#L37-L134), they used a more forgiving algorithm for reading the data descriptor. Maybe using the same algorithm would work for us. I believe it would fix @d0tn3t

[2020-02-07 23:14] daxian-dbw opened #31949 "Console.SetWindowPosition(int left, int top) throws IOException complaining about incorrect parameter from within the Win32 API"
`Console.SetWindowPosition(int left, int top)` throws `System.IO.IOException: The parameter is incorrect.` from within the Win32 API.
This was reported by [a dozen of issues](https://github.com/PowerShell/PSReadLine/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+SetWindowPosition) in PowerShell/PSReadLine repo. Here is one of them: https://github.com/PowerShell/PSReadLine/issues/551, and there are

[2020-02-07 23:42] preetamshetty1 opened #31951 "Add CLR GC heap fragmentation counter"
Linking back from https://github.com/dotnet/runtime/issues/1099.

It would be good to provide the fragmentation statistics per generation to go with the heap size to know true usage.

[2020-02-07 23:43] preetamshetty1 opened #31952 "Support perf counters for core CLR"
Of this list, things we depend on and would like perf counters for are below.
•	GC Heap Size
•	Gen 0 GC Rate
•	Gen 1 GC Rate
•	Gen 2 GC Rate
•	% Time in GC
•	Gen 0 Heap Size
•	Gen 1 Heap Size
•	Gen 2 Heap Size
•	LOH Heap Size
•	Allocation Rate
•	Exception Rate
•	Monitor Lock Contention Rate
Other components of .NET Core also publishes counters: ASP.NET Core Microsoft.AspNetCore.Hosting providerReq

[2020-02-07 23:48] benaadams commented on #31952
Some are already provided by `dotnet-counters`? https://github.com/dotnet/diagnostics/blob/master/documentation/dotnet-counters-instructions.md

[2020-02-07 23:50] danmosemsft commented on #31949
I can reproduce. I think there is an off by 1 somewhere - it's pretty tricky

[2020-02-07 23:52] daxian-dbw commented on #31949
Thanks @danmosemsft for the prompt response! Can you please share the repro to me?

[2020-02-07 23:53] danmosemsft commented on #31949
Sure, I just made a C# console app, with `Console.SetWindowPosition(0, 0);`, put a breakpoint on that and dragged the bottom of the console window to the top so height is zero, then continued.

[2020-02-07 23:55] hoyosjs commented on #31952
We have [`dotnet-counters`](https://github.com/dotnet/diagnostics/blob/master/documentation/dotnet-counters-instructions.md) if you want to just see them. Also there's `EventListener` with the "System.Runtime" provider for in-proc listening. There's also https://www.nuget.org/packages/Microsoft.Diagnostics.NETCore.Client/ to consume them out of proc. However, notice the versioning of this library

[2020-02-07 23:56] hoyosjs commented on #31952
Looks like @benaadams beat me to it :)

[2020-02-08 00:00] TsengSR commented on #14819
Not sure what you mean. IKVM.NET is open source... there is just no one to take it over. IKVM.NET author already [offered](http://weblog.ikvm.net/2017/04/21/TheEndOfIKVMNET.aspx) others to take over the project under the condition it's renamed to something else.

But not sure how much sense that makes anyways, since (as far as I know) it required a lot of changes for each new JRE version, which no

[2020-02-08 00:08] davidfowl commented on #31951
cc @Maoni0

[2020-02-08 00:21] jkoritzinsky commented on #31888
This is showing up now on the runtime-live-build pipeline.

[2020-02-08 00:44] Jozkee opened #31955 "Improve consistency of JSONPath in JsonException"
Also consider the new metadata properties added for `ReferenceHandling`.

Consider [this test](https://github.com/dotnet/runtime/blob/d7ad1520dc2ebf86b658472da2df5c97e75e6c40/src/libraries/System.Text.Json/tests/NewtonsoftTests/JsonSerializerTests.cs#L68-L88).
Should we build the path based on where was the reader when we throw?
* If the answer is yes, then the `array` scenario on line 71 is wrong

[2020-02-08 00:47] sdmaclea commented on #31852
I actually think of `Checked` as `ReleaseWithAsserts` so a know to turn on checking in Release makes more sense to me.  Some of the checks are more expensive than other so having degrees of checking might also be useful.  (On Arm64 a few tests slowed down several orders of magnitude because of heap checking too often.)

[2020-02-08 00:53] scalablecory commented on #31680
Does this behavior differ from how wininet/winhttp uses the wininet exception list?

Note that "localhost" can technically be mapped to a non-loopback address, though that would be weird.

[2020-02-08 00:56] davmason commented on #11750
@mjsabby it is on the backlog for 5.0 but not currently being worked on. My intent is to have it in for 5.0, but I don't think I can promise that it will for sure be there. There's always the risk of me being pulled to other high priority projects.

[2020-02-08 00:57] bahdah opened #34363 "Mac SDK: DirectoryInfo.EnumerateDirectories and DirectoryInfo.EnumerateFiles Method does not handle symbolic link very well"
# Issue Title

Mac SDK: DirectoryInfo.EnumerateDirectories Method does not handle symbolic link very well

# General

I made a recursive call to DirectoryInfo.EnumerateDirectories to get subdirectories and files.
It works on Windows 10 and Ubuntu 18.04. However, it crashes on Mac OS High Sierra 10.13.6. After further investigation, it seems to be caught in an infinite loop when it detects a symbol

[2020-02-08 00:59] stephentoub commented on #31680
I agree with @scalablecory.  This concerns me in two ways.  First, anything can be mapped to 127.0.0.1, so even if we special-case "localhost", we wouldn't be catching any other such mapping.  Second, "localhost" can be mapped to other addresses instead, and in fact some tools do that as part of simulating local access while actually doing a form of remote debugging; it seems potentially problemat

[2020-02-08 01:18] davidfowl opened #31958 "Proposal: Add support for loading application assemblies in memory"
The premise of this issue is driven by this https://github.com/dotnet/aspnetcore/issues/3793. TL;DR when you run your ASP.NET Core applications in IIS, the files are locked. This means to deploy a new application, the site needs to be stopped first, then files need to be updated in place (which results in downtime) then the site can be started again.

IIS supports dropping a file called `appofflin

[2020-02-08 01:44] Davilink commented on #31680
If i want to "NO_PROXY" every loopback address because i use an script that
will dynamicly bind to any loopback ip address how will i proceed to do it?

Le ven. 7 févr. 2020 19 h 59, Stephen Toub <notifications@github.com> a
écrit :

[2020-02-08 02:01] danmosemsft commented on #31949
[Windows says](https://docs.microsoft.com/en-us/windows/console/setconsolewindowinfo)

Here
https://github.com/dotnet/runtime/blob/fcfb4b8a62b0bc30d9ed83a08cf9b322908c3973/src/libraries/System.Console/src/System/ConsolePal.Windows.cs#L941-L955

this should probably be
[code]
In other words -- we were correctly checking newRight against the bounds but then instead of setting the value to newRight,

[2020-02-08 02:04] danmosemsft commented on #31949
@daxian-dbw any interest in offering a PR? If not maybe I can look into that later.

[2020-02-08 02:13] jkotas commented on #31958
Is this alternative scheme going to be reliable enough without stopping the process? Every once in a while, patching of the app will collide with the app loading files that will produce assorted crashes. It sounds like a factory for Watson dumps to me. There is also non-zero chance that it may not crash and do some actual damage (security risk).

My proposal would be to add a new Windows-specific

[2020-02-08 02:14] Maoni0 commented on #31951
if you could describe how you would use the per gen frag stats that'd be great. I'm not opposed to providing more diagnostics data, just want to make sure it's in a usable format.

[2020-02-08 02:21] preetamshetty1 commented on #31951
We traditionally watch heap sizes to track process usage for managed components. Cases wherein processes have a misbehaved by pinning or fragmenting the LOH are not something we can triage without expansive GC traces and/or crash dumps. This gives us the ability to map these issues quickly. Lastly, we trend usage over long periods of time as enhancements/regressions occur, tracking how we actively

[2020-02-08 02:23] Maoni0 commented on #31951
ahh I see; this is most for LOH. sounds reasonable. are you looking to add this as a dotnet-counter?

[2020-02-08 02:25] noahfalk commented on #31921
There are also programmatic options using properties on System.Diagnostics.Process. https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.process.totalprocessortime?view=netcore-3.1

[2020-02-08 02:27] preetamshetty1 commented on #31952
My request here was for windows performance counters which we have had in the framework in the past. I understand that these are from Trace counters that just spit out values. Most services have infra to track and upload windows performance counters at scale. If I understand correctly, the tool about is just pushing trace counters out to a CSV? Custom collectors etc. would be needed to do this on

[2020-02-08 02:35] jkotas opened #31965 "GenerateReferenceSource instructions are outdated"
Following https://github.com/dotnet/runtime/blob/master/docs/coding-guidelines/updating-ref-source.md fails with error:
[code]

@Anipik I believe that this fallout from #1787. Could you please take a look?

Among other things, I believe that these instructions should be updated to use Configuration instead of ConfigurationGroup.

[2020-02-08 02:40] davidfowl commented on #31951
Should be exposed as an event counter (my 2c)

[2020-02-08 02:53] bigteejay opened #31969 "JsonSerializer.Deserialize fails silently in default camelCasing"
Reproduce...
[code]

I didn't not expect the (de)serializer to be case sensitive (especially to not assume the default camelCase format that seems to be the default otherwise).

[2020-02-08 02:55] vcsjones commented on #31965
Supposedly the original instructions will work again when the PR for https://github.com/dotnet/runtime/issues/31866#issuecomment-583108721 is merged?

[2020-02-08 02:56] bigteejay commented on #31969
[Related SO post.](https://stackoverflow.com/a/60123509/3246805)

These [existing](https://github.com/dotnet/runtime/issues/29577#issuecomment-504032913) [issues](https://github.com/dotnet/runtime/issues/29063), lead me to the [docs](https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/docs/SerializerProgrammingModel.md#property-name-feature), which has a solution for the issue

Leavi

[2020-02-08 02:56] #31969 closed

[2020-02-08 02:56] preetamshetty1 commented on #31951
A performance counter would be great. I had another issue open to make sure we had performance counters vs. event counters. Are performance counters still on the table here?

[2020-02-08 03:00] jkotas commented on #31965
Also:
- coreclr/corefx should be replaced with dotnet/runtime in the instructions
- ConfigurationGroup should be replace with just Configuration

[2020-02-08 03:09] GrabYourPitchforks commented on #30740
More __`string`__ goodness:

- [ ] For specific `string` APIs which default to culture-aware comparisons (`string.IndexOf(string)`, `string.StartsWith(string)`, ...), callers should avoid these methods and should instead call equivalents which take a `CultureInfo` or `StringComparison` overload. This rule should not trigger on methods which default to ordinal (non-linguistic) semantics, such as `s

[2020-02-08 03:12] stephentoub commented on #10680
FYI, this test has been changed since this issue was opened.

[2020-02-08 03:27] davidfowl commented on #31951
We’ve moved away from them because they are windows specific and require admin privileges to install. Event counters are the new state of the art. They also flow as ETW events on windows so you can get that counters via anything collecting etw events

[2020-02-08 03:32] daxian-dbw commented on #31949
@danmosemsft Of course! Thanks for the pointers 👍, I will submit a PR next week.

[2020-02-08 03:48] danmosemsft commented on #31949
Cool thanks! You might have a quick scan of other instances in the file (eg in SetWindowSiz)

Not sure whether a unit test is possible

[2020-02-08 04:00] danmosemsft commented on #30740
This is for explicitness/avoid inadvertent bugs right? Many uses may be fine and so the rule wouldn't meet the  "very low noise rate" criterion above. Maybe we should collect that category in another issue?

[2020-02-08 04:04] rynowak commented on #31944
Can you share some more about what kinds of things you commonly need to do? Code samples are great 👍

[2020-02-08 04:07] rynowak commented on #31944
@bartonjs - another example I've come across where `.pem` files are in use: https://github.com/kubernetes-client/csharp/blob/master/src/KubernetesClient/CertUtils.cs

[2020-02-08 04:58] GrabYourPitchforks commented on #30740
I don't think so. In my experience it's almost never correct to call these APIs from Framework code. In fact when I did the sweep in the linked issue I flagged almost every single call site as a bug.

[2020-02-08 05:06] josephsmeng opened #31973 "coreclr_create_delegate cannot load internal class function"
From samples of [HostWithCoreClrHost ](https://github.com/dotnet/samples/tree/master/core/hosting/HostWithCoreClrHost/src)

if we add the ManagedWorker with an internal class which looks like this
[code]
and load the `Internal.Fun` funtion in C++
[code]
or load this funtion in C++ like this
[code]
both failed to working

[2020-02-08 06:09] damienbod commented on #31944
We have an implementation for this here

https://github.com/damienbod/AspNetCoreCertificates/blob/master/Documentation.md#exporting-importing-pem

or here:

https://github.com/oocx/ReadX509CertificateFromPem

The import works for most types

[2020-02-08 08:03] John0King commented on #31921
@hoyosjs
I'm using .net core 3.1, And I want to use it in-proc.

The `RuntimeEventSource` is internal how do I use that ? Is there a sample ?    and does the `PerformaceCounter` work on Linux ?

[2020-02-08 08:06] sywhang commented on #31921
@John0King  You can use ```EventListener``` to subscribe to `System.Runtime` EventSource. Here is a sample ```EventListener``` implementation on how to do that: https://github.com/dotnet/diagnostics/blob/master/documentation/design-docs/eventcounters.md#sample-code

`PerformanceCounter` only works on Windows. `EventCounter` is the recommended cross-platform API.

[2020-02-08 09:30] GrabYourPitchforks commented on #31958
Can somebody weigh the pros and cons of this specific feature request against something akin to the shadow copy feature offered by Full Framework?

[2020-02-08 09:31] GrabYourPitchforks commented on #31871
Aside from the explicit cast operators, any other things you wanted to see? Feel free to list them here.

[2020-02-08 09:32] EgorBo opened #31974 "RyuJIT: Optimze Type.GetType("type id str") to type handle"
I wonder if it makes sense in RyuJIT to optimize things like
[code]
to a runtime equivalent of :
[code]
Once https://github.com/dotnet/runtime/pull/1378 is merged there will be `getStringLiteral` API for ldstr tokens.

Example: [Environment.Unix.cs](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/Environment.Unix.cs#L81) (on tier1 compilation most asse

[2020-02-08 12:01] MaximLipnin opened #31977 "[mono] Test failed: System.Threading.Tests.SynchronizationContextTests.WaitNotificationTest"
`System.Threading.Tests.SynchronizationContextTests.WaitNotificationTest` fails on mono. It's disabled with the reference to the [bugzilla bug](https://bugzilla.xamarin.com/show_bug.cgi?id=60568) which was marked as fixed.

[code]

[2020-02-08 12:28] stephentoub commented on #30740
What is "Framework" here? Are you talking about code in dotnet/runtime? We're talking about a set of rules that are enabled by default everywhere.

[2020-02-08 13:08] peteroupc commented on #1611
That's not what that sentence means; it says that IEEE 754-2008 does not apply to ("does not impact") integer types or floating-point types other than `System.Single` or `System.Double`.  Notably, that sentence doesn't mean that changes in .NET won't happen to `System.Decimal` or any other data types that IEEE 754-2008 (or its successor) does not apply to.

[2020-02-08 13:55] jkotas commented on #31974
I do not think this optimization is useful.

This is one-time initialization already. This method won't ever reach tier 1.

This is using private reflection against internal runtime implementation details. It is something to discourage, not encourage by optimizing it.

This should be fixed by having proper public APIs to detect the runtime you are running on.

[2020-02-08 14:15] EgorBo commented on #31974
Ok, closing it then

[2020-02-08 14:15] #31974 closed

[2020-02-08 15:07] Mahendra95-sys commented on #5429
I am trying to Instrument .NET Core web applications that runs on .NET Core 3.1 using CoreCLR Profiler.
I have set the environment values CORECLR_PROFILER , CORECLR_ENABLE_PROFILING  and CORECLR_PROFILER_PATH, where my CoreCLRProfiler dll gets attached to dotnet.exe and it is getting the callbacks.

I am able to get all the callbacks,but when i allow injecting the code into the Webapplication's me

[2020-02-08 15:10] davidfowl commented on #31958
@jkotas

That’s a reasonable concern. I’ll enumerate some of the differences with shadow copying that @GrabYourPitchforks asked for below but the biggest risk would be the fact that you could be in a torn state for assemblies that haven’t loaded yet. The app could see both old and new until the restart file was dropped.

Some System.Web applications might have been able to mitigate this because I

[2020-02-08 15:31] Hexxonite opened #31979 "GraphicsPath.AddString is wrongly positioned on linux?"
Possibly opened the issue on the wrong repo:

https://github.com/dotnet/core/issues/4237

[2020-02-08 17:52] karelz commented on #25760
@wfurt used to run entire test suite in a loop on his machine. Sometimes other tests may interact. If that does not hir the problem, it was usually good sign to try to re-enable the test and observe if it fails in CI.

[2020-02-08 18:59] jkotas commented on #31717
Regression introduced by https://github.com/dotnet/corefx/pull/34747 here:
https://github.com/dotnet/corefx/pull/34747/files#diff-e388668f95442712879e252fb0d48001R193

cc @MarcoRossignoli

[2020-02-08 19:17] Davilink commented on #31680
NO_PROXY is suppose to contains a list of host name, "localhost" is reserved top domain hostname, but 127.0.0.1 - 127.255.255.255 are not host name, they are IP Adresses.

according to https://tools.ietf.org/html/rfc2606#section-2
` The ".localhost" TLD has traditionally been statically defined in
      host DNS implementations as having an A record pointing to the
      loop back IP address and i

[2020-02-08 19:53] Gnbrkm41 opened #31980 "`Vector.tt` template does not seem to generate as part of `src/coreclr/build.cmd` script"
Looking at `System.Private.CoreLib.Shared.Projitems` it suggests that the code generation is supposed to happen during build, however it does not appear to happen as part of `src/coreclr/build.cmd`. Do I need to pass in an extra flag / etc to make this happen?
https://github.com/dotnet/runtime/blob/850b4a23e513c9d133bad008fdf1058d77ff877c/src/libraries/System.Private.CoreLib/src/System.Private.Cor

[2020-02-08 19:54] Gnbrkm41 commented on #31980
As a workaround I copied the template to a new project, done the generation then copied the changes over.

[2020-02-08 19:55] onchuner commented on #31958
Would it be possible to have two copies of app?
Willie first one is running the second can be redeployed
Upon completion IIS would switch to the second one

From: David Fowler
Sent: Saturday, 8 February 2020 23:10
To: dotnet/runtime
Cc: Subscribed
Subject: Re: [dotnet/runtime] Proposal: Add support for loading applicationassemblies in memory (#31958)

@jkotas
Is this alternative scheme going to be

[2020-02-08 21:10] vcsjones commented on #31944
A lot of PEM bundle I run in to are basically

leaf
intermediate1
IntermediateN
private-key-for-leaf

Where the private key can appear at either the end of the bundle or immediately after the leaf, if it is present at all.

Is there any big value in getting the intermediates out as well in a single go? Perhaps return an array of `X509Certificate2` in the order of the aggregate and match the privat

[2020-02-08 22:10] bartonjs commented on #31944
I think the accelerator on X509Certificate2 would be just like the X509Certificate2 ctors, it produces just one cert.  X509Certificate2Collection could add a new instance ImportFromPem method and/or static CreateFromPem; and could do a semi-complex instance method to match additional keyfiles against existing certs... if that seems useful.

[2020-02-08 23:06] stephentoub commented on #20507
@wfurt, we're hitting this a bunch.  Can you take a look?

[2020-02-08 23:07] stephentoub commented on #20507
Another case here:
https://dev.azure.com/dnceng/public/_build/results?buildId=513117&view=ms.vss-test-web.build-test-results-tab&runId=16262410&resultId=176999&paneView=attachments
[code]

[2020-02-08 23:12] #1975 closed

[2020-02-08 23:31] stephentoub commented on #30740
@GrabYourPitchforks, if your goal is actually to enable such a rule for dotnet/runtime, can we just fix CA1307 to do the right thing (e.g. only fire for a specific set of methods) and then we can turn it on for the repo?
cc: @mavasani, @eerhardt

[2020-02-09 00:01] GrabYourPitchforks commented on #30740
I meant library code as distinct from application code. Somewhat akin to when one should use `ConfigureAwait(false)`, I suppose. :)

Turning it on in the dotnet/\* repos without turning it on by default for the entire dotnet ecosystem is fine by me.

[2020-02-09 00:37] stephentoub commented on #30740
Can we fix CA1307 then to be what it should be? @masavani, the problem is it flags things it shouldn't flag, like saying using GetHashCode() is wrong because there's also a GetHashCode(StringComparison) overload.

[2020-02-09 00:56] mavasani commented on #30740
Yes, seems reasonable to update the defaults for the rule, while also making the rule configurable so end users can specify additional method names/signatures which should be validated. Can you file an issue on https://github.com/dotnet/roslyn-analyzers/issues/new?

[2020-02-09 01:15] wfurt commented on #20507
Can you please take another look at #1949 @stephentoub ?
With that, _internalBuffer and ConsumeBufferedBytes() are no longer used for the handshake.
I have a suspicion of what is going on but that PR fixes few other regressions caused by #453.

[2020-02-09 01:25] wfurt commented on #25760
This also may be dependent on HW configuration e.g. CPU count and others. Maybe we can move them to OuterLoop for now so we get some CI runs while keeping this open.

Also, it seems like old failures were on Win 7/8 queue. What OS did you use @alnikola ?

While back, we had issues when running tests on single-core CPU.
Ather option I see is to wrap the test(s) with timer and Assert() on failures.

[2020-02-09 01:41] wfurt commented on #31680
I'm wondering if there is an opportunity to improve diagnostic. It would be nice if it is easy to diagnose issues like this.

It seems strange that for "loopback" we would try to find all addresses but we would not do it for other names.

[2020-02-09 01:54] dmitriyse opened #31984 "Feature request: expose strongly typed ExecutionContext.RunInternal"
From the BCL source code:
[code]
Please expose this method.

This will help Non-BCL developers also optimize their libraries.
Also an implementation of the ```IValueTaskSource``` suggests usage of the ```ExecutionContext.Run``` and without the typed version most probably additional GC allocation will be required.

[2020-02-09 01:58] davidfowl commented on #31984
Dupe of https://github.com/dotnet/runtime/issues/30867. Feel free to send a PR!

[2020-02-09 02:04] #31984 closed

[2020-02-09 02:40] dmitriyse commented on #30867
Please do not forget to include the proposed API in some version of the NetStandard, to avoid this kind of problem: https://github.com/dotnet/standard/issues/1700

[2020-02-09 02:48] stephentoub opened #31985 "runtime-live-build failing on all PRs"
From @safern:
"I believe it’s the cmake error."
"We've got to pass -warnAsError:0 on the Windows legs"
"Linux is not affected"
https://github.com/dotnet/runtime/blob/master/eng/pipelines/common/global-build-job.yml#L40
"You just need to define an intermediate variable and set it to empty and then to the arg if platform is Windows_NT. Because the syntax is different for bash and PS and this only fa

[2020-02-09 03:02] benaadams opened #31987 "[Api Proposal] Generic Convert.ChangeType"
Rather than boxing back to object and then having to cast to type; it would be good to have a change type that returns the type:

#### Proposed API

[code]

#### Questions

Not sure on nullable return type for structs?

[2020-02-09 03:47] jkotas commented on #31958
Yes, it would be a better way to update an app on a live server.

It is dilemma that we often face: Do we make customers happy by providing a convenient solution that has reliability or security issues; or do we make customer successful by providing less convenient solution that is reliable and secure by construction?

[2020-02-09 04:27] stephentoub opened #31988 "Mono implements EqualityComparer.Default in non-thread-safe way"
CoreCLR implements EqualityComparer.Default as a static readonly singleton initialized in its cctor:
https://github.com/dotnet/runtime/blob/5d9c9daf0d6fbd11ca7c27efdc82d26819e81132/src/coreclr/src/System.Private.CoreLib/src/System/Collections/Generic/EqualityComparer.CoreCLR.cs#L15
That means it'll always return the same object instance.

In contrast, Mono implements it lazily initialized, and wit

[2020-02-09 04:34] stephentoub commented on #3009
I believe the cause of this is https://github.com/dotnet/runtime/issues/31988.

[2020-02-09 07:44] ygc369 commented on #1661
@jkotas

I think that enabling this in AOT is good enough. Is there a Microsoft official AOT compiler for C# to support this now?

[2020-02-09 08:14] odhanson commented on #1975
@stephentoub , @danmosemsft can port this to 3.1 ?

[2020-02-09 08:23] aL3891 opened #31992 "Api proposal: BroadcastChannel<T>"
I've been really addicted to `Channel<T>` lately, it's just so gosh darn useful with its async enumerable support. One thing i've been missing though is the ability to have multiple listeners on a channel that each get all messages. In our system I’ve created a `BroadcastChannel<T>` that is comprised of one input channel and several subscription channels.

My use case is very focused towards async

[2020-02-09 08:50] aL3891 commented on #31992
Just to elaborate on the cancelation token/ grpc bit. Essentially i have a grpc request that returns a stream and what we want is to create a channel/subscription for that when the request comes in and them close the channel when the grpc stream stops.

So in other words, my goal is to close the [subscription] channel when enumeration of the async enumerable is cancelled.

Come to think about it,

[2020-02-09 08:51] ayende commented on #2382
We wrote a different impl of thread local, you can see it here:
https://github.com/ravendb/ravendb/blob/v4.2/src/Sparrow/Threading/LightWeightThreadLocal.cs

The idea here is to avoid the kind of lattice structure and help to deal with large number of `ThreadLocal` instances.

[2020-02-09 09:32] kekekeks commented on #6924
Apparently the "full-fledged" CLR is the only runtime where it doesn't work. Mono and experimental CoreRT have no issues with running this code.

[2020-02-09 10:11] #31921 closed

[2020-02-09 11:01] davidfowl commented on #31958
Part of the issue is that we’re coming from a model that “just worked” albeit with this caveats. People have been doing this for a long time, more mature processes can be layered on top (load balancer to rotate out instances that are being deployed to).

When running on IIS, there’s a single physical target configure in IIS. That can’t and won’t easily be changed to have a second path so the alter

[2020-02-09 11:12] EgorBo commented on #31987
If we make ` object? ChangeType(object? value, TypeCode typeCode)` inlineable Jit should be able to eliminate the intermediate boxing I guess. Isn't `typeCode` a constant in most use-cases?

[2020-02-09 11:16] masonwheeler commented on #1661
@ygc369 Not as official as it should be, but have a look at [CoreRT](https://github.com/dotnet/runtime/).

[2020-02-09 11:24] benaadams commented on #31987
`public static object? ChangeType(object? value, Type conversionType)` is more likely the called overload, and [then it has to do a look up to get the typecode](https://github.com/dotnet/runtime/blob/3b72a4d7013abd36b0f2e145f44df85c43fc83aa/src/libraries/System.Private.CoreLib/src/System/Convert.cs#L287-L352) falling through a bunch of `if` tests.

[2020-02-09 11:26] benaadams commented on #31987
Then when you use it in the generic as well as reboxing the output you then have to cast it to the type
e..g
[code]

[2020-02-09 11:34] EgorBo commented on #31987
yeah but if typecode is a const -- all those `ifs` will be easily eliminated 🙂

[2020-02-09 11:37] EgorBo commented on #31987
Jit eliminates boxing for `(T)(object)varOfT`, see https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIAYACAZQAtsoAHAGW2ADoASgFcAdhgCW+GAG4aNYgGYGZBgGEGAbxoMdDbboDaAKXEYA4jBEwo4sAAoMATw4wIAMzvixASjQMnLu6ePt4Auvo6igwAKgAiuBgMALIAPNFMUGB+cQkAfHbpmf7eEZqlusoA7AwF8RjedhDAAFYwYPUYstQVAL40PUA=

[2020-02-09 11:48] benaadams commented on #31987
As a developer/user would I prefer to write:
[code]
Or
[code]
An the implementation of the second done via generics could be more efficient than the first using type?

[2020-02-09 12:02] ghost opened #32054 "System.IO.Directory.GetLogicalDrives() returns suprising results on Linux"
On Windows, using .NET Core 3.1, GetLogicalDrives returns something like

[code]

On my Ubuntu 19.10 machine, it returns

[code]

This is difficult because Linux treats "drives" (mountpoints) differently. I'm not sure what I expected here, but it's not that. I can't think of many situations where I want GetLogicalDrives to return info about cgroups, at least.

[2020-02-09 12:03] #3009 closed

[2020-02-09 12:03] #31988 closed

[2020-02-09 13:04] stephentoub commented on #1975
@odhanson, you mentioned you were exploring multiple potential leaks. Is this the only one?

[2020-02-09 13:12] odhanson commented on #1975
@stephentoub , I am not sure.  The others require deeper investigation and I haven't found the time yet to do that.  Not even sure if they are product or runtime related ATM.  This was a low hanging fruit one,  so just went ahead and fixed it.

[2020-02-09 14:03] ayende opened #31995 "Thread.GetCurrentProcessorId may return wrong value if HAVE_SCHED_GETCPU is not set"
If `HAVE_SCHED_GETCPU` is not set, then `GetCurrentProcessorNumber` will return 0.

https://github.com/dotnet/runtime/blob/fcd862e06413a000f9cafa9d2f359226c60b9b42/src/coreclr/src/gc/unix/gcenv.unix.cpp#L481

However, the code here assume that we'll get -1, which we won't. See:

https://github.com/dotnet/runtime/blob/aedf8f52006619ef5d4eca65d79f42cc4b7bc402/src/coreclr/src/System.Private.CoreLib/s

[2020-02-09 14:26] stephentoub commented on #31995
cc: @VSadov

[2020-02-09 15:20] reflectronic opened #31996 "Implement IEquatable<T> for AsyncFlowControl"
Similar to https://github.com/dotnet/runtime/issues/2127, all the required members for implementing IEquatable already exist, it just needs to be marked as so in the source.
[code]

[2020-02-09 15:25] jkotas commented on #31958
How do people tell whether they do not need reliable deployment? Could you please propose the paragraph that we will include in the documentation once this is implemented? It should explain the risks and provides recommendation for when it is acceptable to use it.

[2020-02-09 15:34] jkotas commented on #30007
Hit in #31991:
[code]

[2020-02-09 15:37] davidfowl commented on #31958
Not sure what you’re looking for. When we implemented shadow copying in .NET framework, I imagine the same problems existed? Unless I misunderstood how it works.

The default set of tools we have still use the pattern where the file is dropped before and removed after the files are copied. We can absolutely document what a recommended deployment pattern and explain both the caveats (as mentioned a

[2020-02-09 15:49] jkotas commented on #31958
Paragraph we copy and paste into documentation once this is done. I want to make sure that we still like this feature once we explain the caveats in customer facing way.

Probably. The security and reliability standards that we are building for today are different than when  shadow copying was built for .NET Framework 10+ years.

[2020-02-09 16:03] jkotas opened #31997 "Heap corruption in System.Net.HttpListener tests"
Hit in https://github.com/dotnet/runtime/pull/31991 on Libraries Test Run release coreclr Windows_NT x86 Release:

Stacktrace of the crash from https://helix.dot.net/api/2019-06-17/jobs/55fc485f-ed44-4531-8009-fb6441da25d1/workitems/System.Net.HttpListener.Tests/files/dotnet.exe.1880.dmp :

[code]

[2020-02-09 16:36] danmosemsft commented on #1975
Seems reasonable. You would throw up a PR in dotnet/corefx like this one https://github.com/dotnet/corefx/pull/42845 with the same template  filled out, and add the label "servicing-consider" (not "servicing-approved") cc @bartonjs

[2020-02-09 16:40] davidfowl commented on #31958
I'll take a stab at listing out the caveats with the approach. The docs team that can use that as input to a final document. Of course, we as the design evolves, well need to keep this list up to date 😄 .

Here's the current documentation on locked files:
- https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-3.1#locked-deployment-files
- https://docs.microsoft.com/en-

[2020-02-09 17:30] NinoFloris opened #31998 "Exception.TargetSite confusion"
The summary of `Exception.TargetSite` reads: `Gets the method that throws the current exception.`

However it's not updated when an exception that was originally thrown in A, is thrown again in B if the `TargetSite` was examined before throwing it again.

Example:
[code]

The exception from B shows both `TargetSite` reads to be `A()`.
Removing the examination before `throw ex` causes the remaining

[2020-02-09 18:46] jkotas commented on #31958
Thanks! This will help us to get to the details.

This change will increase startup time and private working set. Do you expect this this be on by default? I think it should be opt-in under a config switch. I do not think it makes sense for everybody for pay for this.

My assumption is that we won't even try to load the files under the `NO_FILE_LOCK_PATH` as R2R (ie R2R payload in assemblies under

[2020-02-09 19:09] hmobius commented on #14819
@michaelhkay Completely understand about forking the source code but I for one would be very interested in working on a port around XSLT\XPath in .NET using the new features we have in C#. I'm curious if rather than forking the source code, we could fork \ port the code for the test suite and work from there.

[2020-02-09 19:50] michaelhkay commented on #14819
There are good test suites for XSLT 3.0, XPath 3.1, and XQuery 3.1 on GitHub, and we're happy to share our test drivers. The bulk of the test material is in XML files and is 100% portable; creating a test driver to run the tests on a particular platform is a fairly trivial exercise. The only other requirement is API testing, which is specific to each platform/API/language-binding. But the source c

[2020-02-09 19:50] Gnbrkm41 opened #32001 "`"src/coreclr/build.cmd" -checked` does not generate coreclr `nupkg`s"
https://github.com/dotnet/runtime/blob/master/docs/workflow/using-dotnet-cli.md states that nupkg files should be present under `artifacts/bin/coreclr/[os].[arch].[flavour]` but no matter how many times I run it the nupkgs aren't generated. The folder does exist but it is completely empty. Same thing with different flavours. Am I supposed to provide extra arguments for this to happen, or is it an

[2020-02-09 20:52] #31985 closed

[2020-02-09 21:53] am11 commented on #13647
Does this optimization cascade?

[code]

currently it emits:

[code]

[2020-02-09 22:32] zmj commented on #31348
* Done: The entire input buffer has been processed and the operation is complete.
* NeedMoreData: The input is partially processed, up to the last valid chunk of the input that could be consumed.

These definitions don't seem to provide a clear yes/no to the question "do I need to ask the pipe for more data?" That seems like a missed opportunity.

I've been using OperationStatus like this (in a Pi

[2020-02-09 22:41] jkoritzinsky commented on #32001
That documentation is out of date. You’ll find the packages under in artifacts/packages instead of artifacts/bin/coreclr.

I’m working on some workflow changes so I’ll update these docs.

[2020-02-09 23:11] AartBluestoke commented on #31906
i can see 2 issues, as this optimisation boils down to escape analysis:
1. private readonly's might escape, so the context of all uses of the readonly would have to be known:

public class SomeAggregate{
    private readonly List<string> _myList;
    public IReadonlyList<string> PeekAtList(){return _myList.asReadOnly();} // definitely escapes
    public string SerializeMyList(){string.Join(",",_my

[2020-02-09 23:18] dmitriyse commented on #31906
@AartBluestoke escape analysis can be avoided. If some nested objects will escape the owner, then the owner will live in memory little bit longer (some rounds of GC). We can rely just on case-probability that readonly fields initialized in the constructor most probably are not escaping.

[2020-02-09 23:35] jtorjo opened #32004 "Access violation in [uwp] coreclr / x64"
This was happening while I was testing my app, which using win2d/directx heavily. I can't reproduce it, but here are the events from Event viewer:

Event 1:

	Application: phoatawe.uwp.exe
	CoreCLR Version: 4.6.27902.3
	Description: The process was terminated due to an internal error in the .NET Runtime at IP 00007FF9209F5AF3 (00007FF920850000) with exit code c0000005.

Event 2:

	Faulting applica

[2020-02-10 00:32] mikedn commented on #31906
What is a "separately managed chunk"? How does "separately managed" or not affect throughput?

Even a magician would have a hard time pulling such a number from the hat.

It looks like the magician did actually pull a fox from the hat and now he's trying to convince the public that the fox is in fact a rabbit.

[2020-02-10 00:47] casperOne opened #32005 "Code first model for System.Text.Json"
I am currently publishing libraries which utilize the `System.Text.Json` libraries for parsing JSON content from HTTP endpoints.

Assuming I have a library `Ofl.Twitch`, I like to publish three libraries:

`Ofl.Twitch.Abstractions` ➡ Contains interface definitions, as well as data models that the interface definitions rely on.
`Ofl.Twitch` ➡ Contains the implementation of the interfaces in `Ofl.Tw

[2020-02-10 00:55] Suchiman commented on #31906
Which part of the GC is this supposed to optimize? The allocator or the collector? The existing pointer bump fast path allocator is already extremely fast and the collector would still need to traverse through the subobjects, e.g. to mark the objects referenced from the `List<object>`. Objects allocated chronologically closely together are typically also co-located on the heap. Requiring a `IntPtr

[2020-02-10 01:21] dmitriyse commented on #31906
All of these:
1) Allocation
2) Mark phase (not sure, still all roots should be visited, interior pointers processed)
3) Collect phase

The amount of elements in all algorithms should be reduced.
Algorithms contains iterations, if you are iterating over all managed objects it's one number,
if you are iterating over chunks (maser managed object) you have less iterations.

[code]

Fast pass of GC all

[2020-02-10 01:25] alex-oswald opened #35998 "Add a generic host lifetime for Windows Forms"
Enterprise customers want to keep using Windows Forms, and we want to use the generic host.

Can we add a feature to use the generic host with Windows Forms and use the lifetime of the start up form such as this library I created?

https://github.com/alex-oswald/WindowsFormsLifetime

[2020-02-10 01:28] VSadov commented on #31995
This is the helper used by GC. Need to check what API we use here.
I think I have seen ‘-1’ returned on OSX.

[2020-02-10 02:07] danmosemsft commented on #31998
For what its worth, I see the same behavior on .NET Framework 4.8.

[2020-02-10 02:15] scalablecory commented on #31906
I'd love to see a prototype made that can be benchmarked under a wide array of scenarios. I think this is too complex a change to be able to realistically estimate what effects it will have on perf.

[2020-02-10 02:15] danmosemsft commented on #31710
Thanks @mayorovp . Any interest in offering a PR and test?

[2020-02-10 02:16] danmosemsft commented on #31703
@castasint as an aside, could you please paste in callstacks and errors as text, rather than screenshots? That way they can be searched. Just copy/paste, and put a line above with triple-back-ticks to format it.

[2020-02-10 02:19] scalablecory commented on #32005
Can you provide a more specific example of what you're having trouble doing, and also your proposed solution? Are you thinking some way to annotate a class with a converter, or something else?

[2020-02-10 02:20] danmosemsft commented on #31650
I think I made the CoreCLR change -- where we have the file, we put it in the message, and where it's in the message, ToString doesn't bother repeating it on the next line. The reasoning behind this (beyond compact is nice) is that it's common to see an exception stringized into a log, and sometimes logs contain output from several concurrent activities that can get interleaved (eg., build logs).

[2020-02-10 02:24] Suchiman commented on #31906
In general this feature sounds to me like an automatic form of an arena allocator for which there was a prototype made but without significant gains IIRC.

[2020-02-10 02:30] danmosemsft commented on #31650
Having said that, I can't find such a change, but that's the philosophy. (It's good to have the file name in FileName, also in the message, and ToString should only show the latter.)

[2020-02-10 02:31] danmosemsft commented on #31979
Hello, on Linux, the drawing itself is handled by libgdiplus. Could you please open the issue there?
https://github.com/mono/libgdiplus

[2020-02-10 02:31] #31979 closed

[2020-02-10 02:59] casperOne commented on #32005
@scalablecory Thanks for the response.

I want a cleaner separation between my abstractions, which are in one assembly, and the implementation, which is in another.

Take for example, this definition of a `Video` object, specifically the `Duration` property, which requires me to define a `JsonConverter`:

https://github.com/OneFrameLink/Ofl.Twitch.Abstractions/blob/bdb092c0c0f5343079a0485d949eb146

[2020-02-10 03:00] dmitriyse opened #32009 "Feature Request : Eliminate unpredictable stacktraces when the same Exception object is being concurrently re-thrown"
## Problem
There is a common enough case where the same task is awaited by multiple threads.
In a case where task completed with fault, the awaiters reuse the same ```Exception``` object.

This orders of things produces hidden problem - Stacktrace race condition.
(tested on **.Net Core 3.1**)
### Repro code:
[code]
### The output is the absolute mess:
[code]

## Possible Workaround 1
It would be b

[2020-02-10 03:26] CoffeeFlux commented on #31650
Makes sense to me. It's an easy enough change and I don't see any harm in it, so if you want to leave the tests I'll add it to our messages (and maybe clean them up a bit in the process - I'm not a big fan of just "Invalid Image" everywhere).

[2020-02-10 04:11] danmosemsft commented on #32009
@stephentoub

[2020-02-10 04:24] danmosemsft commented on #31995
This one? There are several functions with this name.

https://github.com/dotnet/runtime/blob/1c9af5ae859c03b36bfbb663d42bb166e880ce3b/src/coreclr/src/pal/src/misc/sysinfo.cpp#L489

[2020-02-10 04:57] rynowak commented on #31958
@davidfowl - do we need to do something to address pdbs for this case? I've seen cases where users report this issue for pbds that have been locked as well. I suppose you have the option not to deploy those too...

[2020-02-10 05:15] fowl2 commented on #20234
Given this is primarily a performance optimisation - a 66% syscall reduction going from `Open()`->`SetXx()`->`Close()` to just `SetXx()` - going back to `Write()`->`SetXx()` could be significant.

Resetting the stream position to 0 is what I'm be more worried about - that's surprising and could potentially cause data loss if mixing Read/Write and SetXx() calls. Unlikely, I guess?

I think that wou

[2020-02-10 05:36] stephentoub commented on #32009
This is how it's always been and is effectively by design. We chose to propagate the original exception and to concatenate on each re-throw (via ExceptionDispatchInfo). If that happens with the same object concurrently, the segments can be interleaved.

[2020-02-10 05:53] pawod commented on #31514
I'm still gettting following errors targeting netcoreapp3.1 :

`unable to get certificate CRL` when using `client.CheckCertificateRevocation = true`
`unable to get local issuer certificate` when using `client.CheckCertificateRevocation = false`

when checking against openssl everything is fine with the certs
[code]

help(?)

[2020-02-10 06:07] dmitriyse commented on #32009
Most of developers don't know about the "accumulation of stacktrace segments" side-effect. And if them face with such behavior they will be very upset.
I see two disadvantages:
1) Potential risk to receive meaningless stacktraces or even super confusing in logs (and spend extra hours how it possible that your code when could have such weird call stack).
2) When you know that your code have the "ac

[2020-02-10 06:17] stephentoub commented on #32009
Not saying it was optimal.  But it was done thoughtfully, a decade ago.

I don't know what that means in this context.  The whole purpose of the existing concatenation is to help understand the flow even when it hops threads, which is very common with async.  Are you suggesting that if thread 1 throws an exception, and the continuation runs on thread 2 that thread 2 wouldn't see the portion of the

[2020-02-10 06:47] dmitriyse commented on #32009
The idea is to use ThreadLocal<T> variable for the stack trace.
So the different thread will have its own view of exception stack traces.
[code]
When the TaskAwaiter rises exception from ExceptionDispatchInfo the _stackTrace should be overwritten to a saved in the ExceptionDispatchInfo value.

There no problems in the basic scenarios,
But in general the proposed change is very very complex.
For ex

[2020-02-10 06:56] dmitriyse commented on #32009
There are other approaches, for example to Configure awaiters to forcefully clone the exception object.
In a worst case, if nothing can be done, the problem should be well documented somewhere.

[2020-02-10 07:24] dmitriyse commented on #32009
There is one thread in which a Task completes with error "Raiser-Thread".

And probably multiple threads that awaits the faulted Task:
Thread 1 -> Independent Stacktrace storage but with the initial copy from the ExceptionDispatchInfo
Thread 2 -> Independent Stacktrace storage but with the initial copy from the ExceptionDispatchInfo
Thread 3 -> Independent Stacktrace storage but with the initial c

[2020-02-10 08:01] theolivenbaum opened #32016 "Threadpool starvation on RHEL"
Unfortunately my [previous issue](https://github.com/dotnet/aspnetcore/issues/18818) on threadpool starvation issues due to the json serializer turns out to be incorrect - the issue started happening again since the change to System.Text.Json.

This time we were able to capture dumps on 4 different occasions, and the only common thread stack trace that happens repeatedly across the dumps is someth

[2020-02-10 08:06] theolivenbaum commented on #32016
If it helps, here are the 4 stack traces we captured when the issue happened this morning:

[clrstack-all-1.txt](https://github.com/dotnet/runtime/files/4179591/clrstack-all-1.txt)
[clrstack-all-2.txt](https://github.com/dotnet/runtime/files/4179588/clrstack-all-2.txt)
[clrstack-all-3.txt](https://github.com/dotnet/runtime/files/4179589/clrstack-all-3.txt)
[clrstack-all-4.txt](https://github.com/d

[2020-02-10 08:25] tmds commented on #31719
I tried opening the dump with `dotnet dump analyze`, but `libmscordaccore.so` is missing:
[code]

From previous time I looked at a coredump, I think these should be downloaded under `~/.dotnet/symbolcache`, but I don't have such a folder.

And an attempt with `lldb`:
[code]

@mikem8361 do you know how I can make this work?

[2020-02-10 08:48] tmds commented on #32016
This call is made on Linux to wait for socket events. It's expected you see this in the coredumps.
Try figuring out from the coredumps what is keeping busy the ThreadPool threads.

I'm trying to understand how I/O threads and threadpool starvation are related.
Are there different priorities set for I/O threads vs threadpool threads?

[2020-02-10 09:10] MarcoRossignoli commented on #31717
I'll take a look today, thank's.

[2020-02-10 09:28] weltkante commented on #30759
@stephentoub @Maoni0 anything I can do to move this proposal along now that the repo transitions are over? There are open questions to address, in particular its unclear (to me) what the thread safety and failure behavior of DependentHandle is, how it compares to WeakReference and whether it may need to be adjusted (not throwing on zero handles) to make the implementation better than doing a `lock

[2020-02-10 09:31] kevingosse commented on #32016
I see no obvious sign of threadpool starvation in your traces, but if you have doubts you can try using this custom version of the CLR: https://github.com/criteo-forks/source-build/releases/tag/v3.1.0-criteo1
It's stable (we use if in production) and it includes a fix for the starvation issue I ran into.

[2020-02-10 09:39] kevingosse commented on #32016
The most suspicious stacktrace I see in your files is:

[code]

And various other callstacks all starting calling `KestrelTrace.HeartbeatSlow` and in turn spending time in your `LoggingAdvanced.Console.AdvancedConsoleLogger.WriteMessage` method. I don't know at what rate the heartbeat is triggered, but could it be that the messages are coming in faster that your logger can process them?

[2020-02-10 09:44] tmds commented on #32016
@kevingosse how did you fix the issue? Is there a patch/commit I can take a look at?

[2020-02-10 09:54] kevingosse commented on #32016
We ran into two issues because of the ways socket I/Os continuations are scheduled on Linux.
 - The first one is that synchronous wait on I/Os suddenly become synchronous waits on threadpool operations, which causes starvation (whereas it was fine on Windows because it uses a dedicated threadpool for I/Os)
 - The second one is a fairness issue, that I've mentioned here: https://github.com/dotnet/r

[2020-02-10 10:20] tmds commented on #32016
To get in this case, the code is using an async Socket API, and then performs a synchronous wait. That's not good, but it does work on Windows.

[2020-02-10 10:28] JohanPetersson commented on #1050
Thanks for your feedback. I will try it out.

[2020-02-10 10:28] #1050 closed

[2020-02-10 10:31] theolivenbaum commented on #32016
@kevingosse the logging calls are only appearing on some of the stack traces, so I don't think it's the issue - I'll investigate it nevertheless. There is no large amount of log messages being generated when this issue happens - and the heartbeat one is only triggered every second.
I'll give a try with your custom version of the CLR - is there any docs on how to switch to another CLR version?

[2020-02-10 10:34] kevingosse commented on #32016
Take the `shared` folder from the dotnet-runtime-3.1.0-criteo1.19565.2-centos.7-x64.tar.gz archive and merge it with the shared folder of your own dotnet installation. Then start your application with `dotnet --fx-version 3.1.0-criteo1.19565.2 yourapp.dll`

[2020-02-10 11:34] MaximLipnin opened #32020 "[mono] Test failed: System.Threading.ThreadPools.Tests.ThreadPoolTests.SetMinMaxThreadsTest_ChangedInDotNetCore"
`System.Threading.ThreadPools.Tests.ThreadPoolTests.SetMinMaxThreadsTest_ChangedInDotNetCore` still fails on mono. It was disabled twice - the first time using `SkipOnTargetFramework` attribute (removed in https://github.com/dotnet/runtime/pull/31920) and the second time in the rsp file. I will move this test into its respective xUnit test with an active issue in #2087.

[code]

[2020-02-10 11:40] jader1313 commented on #981
@maryamariyan Do you have any news?

[2020-02-10 11:51] lothrop commented on #2025
I have found the problem. Our Jenkins was using `nuget.exe restore`. Switching to `dotnet restore` fixed the problem. Not sure why it only happened on this module.

[2020-02-10 11:51] #2025 closed

[2020-02-10 12:44] JDziurlaj commented on #14819
I would assume the problem with SAXON isn't so much the source code being in Java, as it having dependencies on third party Java libraries, which may be hard to decouple.

[2020-02-10 13:10] tmds commented on #32016
It looks like the logger output thread is waiting for something:
[code]

[2020-02-10 13:20] michaelhkay commented on #14819
No, that's not the case. Saxon's dependencies on third party (non-JDK) libraries are very easily isolated and decoupled. Where such dependencies exist (e.g on the ICU-J library) you can either port the third party code as if it were part of Saxon, or you can make do without it.

[2020-02-10 13:24] alistairjevans commented on #31614
Just to update; I've tracked down the problem. In the method ``CSharpCodeGenerator.OutputTypeParameterConstraints``, for every type parameter in the method, a line is added to contain the type constraint for that parameter, even if there are no type constraints.

So the fix is to only write that line if a constraint actually needs to be rendered.

I'll get a PR together.

[2020-02-10 13:28] damageboy commented on #13647
I think it does, but let me check this again specifically through a toy project.

TBH, it's been ages since I actually ran the original test I had, this PR is a "port" of the coreclr PR which I didn't complete in time for the big bang merge.

[2020-02-10 13:56] theolivenbaum commented on #32016
@tmds the wait you mention shouldn't be an issue, as this is a separate non-threadpool thread that just listens to the BlockingCollection and prints the items as they come to the console

[2020-02-10 14:06] CreepyGnome commented on #32005
@casperOne While you should continue to always consider dependencies you are adding to any library, especially on a library you are choosing to call Abstractions why do you have a problem with your Abstractions library having a NuGet package dependency on System.Text.Json?

There is no hard-fast rule that required all Abstractions library to have zero dependencies. While it's nice when any library

[2020-02-10 14:16] ManickaP commented on #31866
For libraries that have OS specific builds the property must contain the OS as well, e.g.: `/p:TargetFramework=netcoreapp5.0-Windows_NT`.
It depends on the obj directory name of the built lib (e.g.: `artifacts\obj\System.Net.Http\netcoreapp5.0-Windows_NT-Debug`.)

[2020-02-10 14:36] Davilink commented on #31680
I find (by googling) this page, maybe we could take some inspiration :
https://developer.mozilla.org/en-US/docs/Archive/Misc_top_level/No_Proxy_For_configuration
Like allowing the use of ip address with CIDR to support range of ip adress in the NO_PROXY

[2020-02-10 14:37] Zetanova opened #32026 "SocketsHttpHandler: suppress follow redirect just for a single request"
If AllowAutoRedirect of `System.Net.Http.SocketsHttpHandler` is enabled,
it will add the handler `System.Net.Http.RedirectHandler` to the chain.
https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d5f227d30e723/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/SocketsHttpHandler.cs#L316

The `RedirectHandler` class could react on a WellKnownFlag in HttpRequestMessa

[2020-02-10 14:50] casperOne commented on #32005
@CreepyGnome All of your points are subject to individual projects, and I agree there is merit in that discussion, but that discussion is orthogonal to the original ask.

The big issue here is that it relies on annotation of a CLR type to provide fine grained-control of the serialization process.

If I do not have control of the CLR type that I want to serialize/deserialize and it already has anno

[2020-02-10 14:52] davidfowl commented on #32016
If you’re using .net core 3 you should be able to use dotnet counters to capture thread pool metrics as well.

You can also try running threadpool -wi to get a summary of the thread pool work item and queues

[2020-02-10 14:57] davidfowl commented on #31958
Yea the pdb thing give me pause on the approach. I fixed an issue in 3.0 wrt pdbs not being renamable, which hopefully mitigated then web deploy issues.

Those can be loaded in memory as well and we may have to apply that here.

[2020-02-10 15:28] janvorli commented on #31995
It should not matter what we return. The GCToOSInterface::GetCurrentProcessorNumber() should never be called if GCToOSInterface::CanGetCurrentProcessorNumber() returns false. If we don't honor that somewhere, it is a bug.

[2020-02-10 15:32] preethikurup commented on #31952
Re-opening, since this request came in again.

[2020-02-10 15:34] CreepyGnome commented on #32005
@casperOne I didn't think it was orthogonal as I thought I was addressing your statement that appeared to me to be the core reason you wrote the issue. I apologize if that is not the case.

I propose the questions basically of:

- Why is it not ideal?
- What is the burden you are placing on those libraries that depend on your Abstractions?
- Is the burden unreasonable?

Then possible solutions tha

[2020-02-10 15:39] aL3891 commented on #31992
Ok, another prototype, this time trying to separate the concepts above by having the Channel part and the AsyncEnumerable-that-closes-the-channel part as two separate things.

I'm still a little unhappy with exposing the entire channel when subscribing, not just the reader part, but i suppose it doesnt matter much.. likewise its a little unfortunate that there is no way to check if a channelwriter

[2020-02-10 15:43] wegel commented on #2130
Is the difference in CPU usage normal between Windows and linux, or does it look like it's something that needs fixing in linux ?

[2020-02-10 15:45] calderhayes opened #32029 "Illegal Instruction running on ARMv7 SAMA5D31 processor despite cmakeargs DCLR_ARM_FPU_CAPABILITY=0x3 and DCLR_ARM_FPU_TYPE=vfpv3-d16"
Hello dotnet team, I am having trouble with a cross compiled dotnet hello world application.

I am building on linux 64bit for an ARM processor (SAMA5D31) with the following information:
[code]

I keep receiving "Illegal Instruction" when running my code on the ARM machine.

I have been following the directions from "Build CoreCLR on Linux" (docker method), and the following issues:

https://githu

[2020-02-10 15:47] aL3891 commented on #31992
Actually perhaps its better to pass in the source/subscription channels to the constructor/subscribe method, that way the caller can configure them the way they like.

It would be nice to be able to pass in just the reader/writer and not a whole channel though

[2020-02-10 15:51] MaximLipnin opened #32030 "[mono] Flaky tests: System.ComponentModel.Composition.Tests"
I have no repro for this test locally, but it fails on `runtime (Libraries Test Run release mono OSX x64 Debug)` lane in https://github.com/dotnet/runtime/pull/2087.

[code]

Runfo Tracking Issue: [tests.integration.recompositiontests.recomposition_integrationtest](https://runfo.azurewebsites.net/tracking/issue/117)
|Build|Definition|Kind|Run Name|
|---|---|---|---|
|[942084](https://dev.azure.com

[2020-02-10 16:10] casperOne commented on #32005
@CreepyGnome I appreciate your attempts to help here, but I'm not currently facing a *blocking* issue; I'm aware of all the ways that this can be solved in order to achieve what I'm looking for.  The point of the issue is that many of them are onerous, and can be circumvented (for many, I believe) by exposing what is already being done, internally.

To answer your questions:

It is not ideal for t

[2020-02-10 16:15] bartonjs commented on #29781
Closing due to lack of response.  We can always reopen it when the requested data is provided.

[2020-02-10 16:15] #29781 closed

[2020-02-10 16:17] alnikola commented on #25760
I ran it on Win 10. Today, I also artificially slowed down the test execution by binding it to one core with "Idle" priority and running another CPU-consuming process on the same core, but didn't get any failures either. So, I will follow the above suggestion to wrap the test with a time and enable it.

[2020-02-10 16:33] jkotas commented on #32029
`CLR_ARM_FPU_CAPABILITY` option is not wired into the installer partition of the build.

@franksinankaya @am11 Would you be interested in helping to get this fixed?

[2020-02-10 16:45] #31932 closed

[2020-02-10 16:49] eerhardt commented on #30740
Another offender for `CA1307` is `string.IndexOf(char)`. Logged here https://github.com/dotnet/roslyn-analyzers/issues/2581.

[2020-02-10 16:56] stephentoub commented on #30740
Thanks, @mavasani.  I re-opened https://github.com/dotnet/roslyn-analyzers/issues/2581 and added your comments.

[2020-02-10 17:04] kant2002 commented on #14819
Where the test cases? Can you give a link?

[2020-02-10 17:07] AndyAyersMS commented on #31661
`fgMorphRecognizeBoxNullable` does part of the job here -- it simplifies the compare tree and removes the call to the box helper. But the struct remains address exposed and so we can't propagate the `hasValue` bit into the compare and finish the cleanup.

If we refactored so we could also have this transformation fire in `gtFoldExprSpecial` then we'd likely realize that the struct is no longer exp

[2020-02-10 17:09] michaelhkay commented on #14819
https://github.com/w3c/xslt30-test (XSLT 3.0)
https://github.com/w3c/qt3tests (XQuery 3.1, XPath 3.1)
https://github.com/w3c/xsdtests (XSD 1.1)

In each case the test suites also include tests for earlier versions, labelled as such in the test metadata.

[2020-02-10 17:12] shirhatti commented on #31927
I'll admit I haven't attempted to run your sample, but I have a good guess on what's going on.

You're conflating `EventSource` (where you synthesize Events/Metrics) with `EventListener` (used for consuming Events/Metrics). In addition to your synthesized metrics, the runtime also synthesizes metrics for things that happen in the runtime.

I'd recommend using this pattern in your `EventListener` a

[2020-02-10 17:19] jkotas commented on #31995
Maybe add a comment and/or assert to make this clear?

[2020-02-10 17:24] alnikola commented on #32026
Could you please provide more context for this proposal? What is the scenario requiring such redirect suppression?

[2020-02-10 17:31] TrabacchinLuigi commented on #20234
Sorry i think i mis-phrased that. The exception was not the issue (but i agree, exception workflow isn't so great, and alternative methods would be nice), the issue was that wasn't possible without closing the filestream first .
So i had to close it, set the lastwrite, reopen it, seek to the end, that part was quite slow.

[2020-02-10 17:56] benaadams commented on #32016
For blocked threadpool threads the two main items in the stack trace to look for are
`System.Threading.ThreadPoolWorkQueue.Dispatch` and
`System.Threading.TimerQueue.FireNextTimers`

[2020-02-10 18:22] janvorli commented on #31995
We actually have such an assert in the src/vm/gcenv.os.cpp and src/gc/windows/gcenv.windows.cpp versions of this function, only the standalone Unix version is missing it. It would be good to add it there too.

[2020-02-10 18:24] terrajobst commented on #20234
`Flush()` wouldn’t change the stream’s position. Or do I misunderstand what you’re saying?

[2020-02-10 18:26] ctaggart commented on #31261
The dotnet ApplicationInsights SDK also [builds on this](https://github.com/microsoft/ApplicationInsights-dotnet/blob/develop/WEB/LibraryInstrumentationGuidance.md). If we create a custom `SocketsHttpHandler`, we loose http request tracking.

[2020-02-10 18:34] benaadams commented on #32016
Second one also have `Parallel.ForEach` going on which uses the threadpool; but they show up under a `System.Threading.ThreadPoolWorkQueue.Dispatch` stack for their parallel parts

[2020-02-10 18:40] jkotas commented on #31995
#32033

[2020-02-10 18:45] tannergooding commented on #954
Closing this. We've updated the containment handling to efficiently do this instead.

[2020-02-10 18:45] #954 closed

[2020-02-10 18:47] tannergooding commented on #1877
I've marked this `up-for-grabs` since the fix is rather trivial. I'll also mark it as 5.0 milestone so I can do the fix myself if no one else grabs it first.

[2020-02-10 18:50] lpereira commented on #3767
Fixed in dotnet/runtime.

[2020-02-10 18:50] #3767 closed

[2020-02-10 18:52] tannergooding commented on #24588
No, I am not working on it right now and am trying to finish going through the architecture manual to find which APIs still need to be proposed

[2020-02-10 18:56] tannergooding commented on #24784
The previous feedback was reviewed in https://github.com/dotnet/apireviews/tree/master/2019/10-29-arm
These APIs have since been implemented and are functioning.

CC. @echesakovMSFT, @CarolEidt

[2020-02-10 18:56] #24784 closed

[2020-02-10 18:58] tannergooding commented on #24771
The `LoadVector*` APIs have already been implemented, we just need to review/approve the surface area.

[2020-02-10 19:00] sywhang commented on #31927
@SteveHarveyUK thanks for reporting this! I've seen this issue before and yup, this shouldn't be happening (i.e. it is a bug).

[2020-02-10 19:03] saucecontrol commented on #1877
Cool, thanks.  I haven't familiarized myself with the test setup for HWIntrinsics yet.  Would the fix for this require new tests, or would a jitdiff on the existing tests be sufficient to demonstrate it's working?

[2020-02-10 19:07] mikedn commented on #31906
Presumably by "interior pointers" you refer to `_someEvent` & `_someCollection` in your example, not to what GC typically refers to as interior pointers - pointers inside the managed object. Real interior pointers are a pain in the back for a GC so it's probably not something you would want to use often.

Well, yes. Except that in the case of the mark phase the "element" is a reference to an objec

[2020-02-10 19:09] tannergooding commented on #1877
The current tests should validate the code is still correct, so just getting a diff to show the codegen improvement should be sufficient.

[2020-02-10 19:13] kfrolov opened #32035 "Option -Werror and Native/Unix/configure.make"
File src/libraries/Native/Unix/configure.cmake contains few minor issues, which might result to *incorrect configuration* due to -Werror option.

Cmake use this file to test if some features available on current platform. This file contains few tests, which should be compiled, and if some particular test compiled successfully it's assumed, that test is passed and particular features is available o

[2020-02-10 19:24] kfrolov commented on #32035
This issue should be fixed to build CoreCLR for Tizen.
@alpencolt @jkotas

[2020-02-10 19:29] carlossanlop commented on #26296
@melanchall yes, I can close this as duplicate for you.

[2020-02-10 19:32] kfrolov opened #32038 "Build failed due to -Werror option."
New compiler versions (both, clang and gcc) might produce more warnings than older version, due to this and the fact that -Werror option is enforced by build system, build might be failed due to minor warnings. Especially, some issues exists when building CoreCLR and CoreFX for Tizen on ARM.  This issue will contain references to PRs which fixes all such issues.

@alpencolt @jkotas

[2020-02-10 19:32] jasonmalinowski commented on #16341
I ran across our large comment in Roslyn that points to this bug and was curious to see what ever came of this. Roslyn still has a pretty fun workaround for this:

https://github.com/dotnet/roslyn/blob/0dc28dc46c494189d1aca48224fa51eca548e8bd/src/Workspaces/Core/Portable/Workspace/FileTextLoader.cs#L106-L171

When we originally discovered this, it was because a customer had Visual Studio hanging f

[2020-02-10 19:34] sywhang commented on #31952
`dotnet-counters` either displays it in real-time on the console or writes it to a JSON/CSV, but you can export the data into any format you'd like using `Microsoft.Diagnostics.NETCore.Client` NuGet package: https://www.nuget.org/packages/Microsoft.Diagnostics.NETCore.Client.

While I'm against the idea of having the runtime write these data into Windows performance counter directly, it's possible

[2020-02-10 19:47] BruceForstall opened #32041 "Avoid using OSX for JIT stress jobs"
https://github.com/dotnet/runtime/pull/31750 reduced the number of platforms on which JIT stress pipelines are run. OSX is currently built/tested because that is the default pipeline configuration. Consider not using OSX at all based on trylek suggestion:

https://github.com/dotnet/runtime/blob/08a64b4cf72bebf0906f985e6521f499192fced8/eng/pipelines/coreclr/r2r.yml#L44