[2020-04-09 20:33] ManickaP commented on #33510
`ProgressReference = 'SilentlyContinue` means it will to report progress which considerably slows down the download. It already is in use for the download [dotnet-install.ps1(105)](https://github.com/dotnet/sdk/blob/master/scripts/obtain/dotnet-install.ps1#L105).

I'll try that, that seems promising :+1:

I do build only clr and libs, i.e.: `build -subset clr+libs -runtimeConfiguration Release`. I

[2020-04-09 20:44] componentspace opened #34784 "Add AES-GCM support to EncryptedXml"
Shibboleth now defaults to AES-GCM for XML encryption (https://wiki.shibboleth.net/confluence/display/IDP4/GCMEncryption) and a number of other platforms include this support.

The System.Security.Cryptography.Xml.EncryptedXml class supports 3DES and AES-CBC for data encryption but not AES-GCM. I would like to see this support added.

[2020-04-09 20:47] nattress commented on #34509
This regression in crossgen2 is caused by https://github.com/dotnet/runtime/commit/c8b9cf1bf6654d5d1ad3fdab1a966590d707de4e where we now skip prepopulating `_assemblyRefToModuleIdMap` if `IsInputBubble == true`. I'm not sure what the root cause here is yet, but it seems fishy that when we skip prepopulating `_assemblyRefToModuleIdMap`, we still set _nextModuleId to be 1 after `_assemblyRefCount`.

[2020-04-09 20:48] scalablecory commented on #34785
[code]

This indicates your cancellation token is triggering or the request is timing out due to the server not responding. The default for `HttpClient.Timeout` is 100 seconds; you might increase it or even set it to `Timeout.InfiniteTimeSpan` if appropriate.

[2020-04-09 20:53] stephentoub opened #34786 "DSAKeyValueTest.LoadXml fails on Unix"
The `Assert.NotNull(parameters.Seed);` is passing on Windows but fails on Linux and macOS.

[2020-04-09 20:57] #33743 closed

[2020-04-09 20:58] eanova commented on #34394
Cool.  Just shortly I'm going to use the DirectXMath library as the reference.  The only thing that immediately jumps out at me is if the Matrix4x4 class has the right structure since it's not using vector128<byte>.  I don't think this is going to be a big issue, but I guess it should also be benchmarked?

Also,  I've read your blog post, looking at Intel's and DotNet docs on Instrinsic, and the B

[2020-04-09 21:01] trylek commented on #34509
I believe Jan's point was to make sure all reference assemblies make it to the manifest metadata as some runtime typesystem code says that "reference assembly A is in the same version bubble iff it's in the manifest metadata" that reference assemblies resolved through the AssemblyRef table didn't satisfy. I was under the impression that the change was passing basic validation but the offset calcul

[2020-04-09 21:04] Pilchie commented on #34785
Microsoft.Identity is not actually ASP.NET actually.  It's a separate team.

[2020-04-09 21:17] Maoni0 commented on #32559
ahh, that's from people removing code that used to exist in the {} but didn't get rid of the extra #endif/#ifdef when they removed it.

I actually have a cleanup PR that I'm working on right now that includes all the extra #endif/#ifdef for things like this.

[2020-04-09 21:27] shirhatti opened #34787 "Change Activity.DefaultIdFormat to W3C"
In 5.0, we should change the Default value for `Activity.DefaultIdFormat` to `ActivityIdFormat.W3C`.

cc @SergeyKanzhelev

[2020-04-09 21:29] danmosemsft commented on #34782
Also, does casing of the configuration matter? On Unix I'm guessing it produces an output folder with the same casing, so perhaps yes?

[2020-04-09 21:31] janvorli commented on #34782
On unix, it matters. The old scripts (the src/coreclr/build.sh) accept any casing and fixes it. The new one doesn't seem to do so.

[2020-04-09 21:35] EgorBo commented on #34394
It can not be changed unfortunately since it's a breaking change. In theory Vector128-like fields could help to avoid unnecessary spills between operations but it can only be done in a some 3rd party Matrix4x4 🙁

[2020-04-09 21:35] janvorli opened #34788 "src/libraries/tests.proj contains incorrect condition"
The test run complains:
`F:\git\runtime4\src\libraries\tests.proj(24,11): error MSB4092: An unexpected token "==" was found at character position 25 in condition "'$(Coverage)' == 'true' == 'true' and '$(SkipCoverageReport)' != 'true'".`

[2020-04-09 21:35] danmosemsft commented on #34782
It would be good to fix that too since it's just another thing to get wrong (or have to remember)

[2020-04-09 21:40] tannergooding commented on #34394
You can see an example of `Matrix4x4` using HWIntrinsics here: <https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/Numerics/Matrix4x4.cs#L1762>

It isn't necessarily "ideal", especially across multiple calls right now but it isn't something we can adjust due to back-compat and the existing fields being `public`.
We might be able to experiment with having

[2020-04-09 21:44] danmosemsft commented on #34788
@safern this was broken by  #33553

[2020-04-09 21:46] EgorBo commented on #34394
@tannergooding I wonder if it makes sense to optimize redundant loads after inlining (in case of Matrix methods are not inlineable mostly but I am about a general case). E.g. after inlining:
[code]

[2020-04-09 21:48] briansull commented on #34732
The CSE phase currently doesn't try to CSE identical large constants, or constants that are within a short distance to each other.  It is something that I want to look into.

[2020-04-09 21:56] safern commented on #34788
I'll take a look and put up a PR in a few mins.

[2020-04-09 21:58] danmosemsft commented on #34755
0xC0000005 -1073741819 STATUS_ACCESS_VIOLATION

[2020-04-09 21:58] tannergooding commented on #34394
@EgorBo, there are likely some possible optimizations. I don't know what scenarios the above would be possible/legal under.

[2020-04-09 22:05] jashook commented on #34508
/cc @trylek, he should have interesting opinions :)

[2020-04-09 22:06] Maoni0 commented on #854
thank you very much for your contribution, @omajid :+1:

[2020-04-09 22:06] wli3 commented on #34712
Did you add all the flags? If not, we will make our decision for these flags

[2020-04-09 22:10] swaroop-sridhar commented on #34712
@wli3  I'm not sure if you're asking me or @SourceSkyBoxer about the flags.
I did add checks for these properties (and the associated errors) in the SDK for PublishSingleFile.

[2020-04-09 22:11] AndyAyersMS commented on #34641
I have a fix, but it doesn't fire very often on FX (4 methods out of 240K).
[code]
Some of the accounting we do (namely `lvaGenericsContextUseCount`) seems flawed in other ways; in particular if we clone trees containing context references we don't bump the count, so it can be an under-estimate.

Also there is some interesting codegen in the non-shared cases that I want to look at, seems like we o

[2020-04-09 22:27] sfoslund opened #34793 "Failed to create CoreCLR, HRESULT: 0x8007001F on MacOSX"
_From @nbkolchin on Sunday, March 15, 2020 5:05:59 PM_

related: #10737

MacOSX: 10.15.3, dotnet installed via brew cask.

Any dotnet cli command in MacOSX fails after starting Windows inside Parallels Desktop. After stopping Parallels, dotnet commands run normally.

[code]

Gist with COREHOST_TRACE: https://gist.github.com/nbkolchin/667e96211531eb277bdb320fcc23fc90

_Copied from original issue: d

[2020-04-09 22:27] sfoslund commented on #34793
_From @am11 on Monday, March 16, 2020 1:03:35 AM_

Decoding this error:

[code]

reveals that it is `ERROR_GEN_FAILURE`, and it might be related to CoreCLR not being about to allocate enough memory, when Parallels is running on the system. Here is a similar discussion about FreeBSD getting the same error when VirtualBox is running on the host: https://github.com/dotnet/runtime/issues/6353#issuecom

[2020-04-09 22:27] sfoslund commented on #34793
_From @nbkolchin on Monday, March 16, 2020 7:20:07 AM_

I closed Linux VM and dotnet runs normally. However, this is a bit strange and doesn't look like memory problem according to vm_stat

[code]

In second sample system has **less** free memory but dotnet runs normally...

P.S. I'm a bit curious why Blender, Libreoffice, Android Studio and R-Studio are able to start at the same time, but `dotnet

[2020-04-09 22:27] sfoslund commented on #34793
_From @janvorli on Thursday, March 19, 2020 12:50:06 AM_

The ERROR_GEN_FAILURE can mean a lot of things. It means that something non-specific has failed during CoreCLR PAL initialization, it doesn't have to be related to memory at all.
@nbkolchin would you be willing to try an instrumented version of libcoreclr.dylib that I would create for you and that would print the exact failure location to t

[2020-04-09 22:27] sfoslund commented on #34793
_From @nbkolchin on Thursday, March 19, 2020 5:33:52 AM_

Yes. How I can get "instrumented version"?

P.S. I'm not able to reproduce the problem after system reboot, but will try on holidays.

[2020-04-09 22:27] sfoslund commented on #34793
_From @janvorli on Monday, March 23, 2020 12:41:37 PM_

I would create one for you and share it via e.g. OneDrive. But let's first wait to see if you can repro the issue again.

[2020-04-09 22:27] sfoslund commented on #34793
_From @nbkolchin on Monday, March 23, 2020 4:23:55 PM_

It is hard to reproduce.  But...

[code]

Notice the updated dotnet version.

[2020-04-09 22:27] sfoslund commented on #34793
_From @janvorli on Monday, March 23, 2020 5:09:29 PM_

@nbkolchin what did the updated version change? It is less frequent than with the 3.1.102 you've reported a week ago?

[2020-04-09 22:27] sfoslund commented on #34793
_From @nbkolchin on Monday, March 23, 2020 5:43:42 PM_

Nothing changed. The problem is hard to reproduce but exist in all tested versions.

[2020-04-09 22:27] sfoslund commented on #34793
_From @nbkolchin on Monday, March 23, 2020 5:48:44 PM_

The problem is actually more serious than I thought. Published .NET applications also don't work.

[code]

This makes .NET not a viable solution for cross-platform development and we bet much on it...

[2020-04-09 22:27] sfoslund commented on #34793
_From @janvorli on Monday, March 23, 2020 8:37:26 PM_

It is not a surprise, as the issue seems to be in the coreclr initialization and that's shared between the dotnet tool execution and any app execution. So it seems you can repro it quite well. Then it seems it would make sense to try to figure out the exact reason for the failure using an instrumented libcoreclr.dylib.
Let me prepare one and s

[2020-04-09 22:27] sfoslund commented on #34793
_From @janvorli on Tuesday, March 24, 2020 10:14:39 AM_

@nbkolchin you can get a modified libcoreclr.dylib here: https://1drv.ms/u/s!AkLV4wRkyHYhyRiRIChDXxs8RvQJ?e=NnoGZ0
After downloading it, you need to ungzip it as follows:
[code]
Then the easiest way to try it is to use the published version of your app and replace the libcoreclr.dylib in its directory by the one you've just downloaded and un

[2020-04-09 22:27] sfoslund commented on #34793
_From @nbkolchin on Tuesday, March 24, 2020 5:16:46 PM_

[code]

[2020-04-09 22:27] sfoslund commented on #34793
_From @janvorli on Tuesday, March 24, 2020 5:47:27 PM_

Hmm, that's interesting. So this is the function that fails:
https://github.com/dotnet/runtime/blob/26eb70b5720fdf925d8ccf47007bcaeaafef321e/src/coreclr/src/pal/src/thread/process.cpp#L3484-L3531

There are three possible failure points there:
* mmap failing to map a single page - this sounds very unlikely that the system would not have a sin

[2020-04-09 22:28] sfoslund commented on #34793
_From @nbkolchin on Tuesday, March 24, 2020 6:12:26 PM_

[code]

[2020-04-09 22:28] sfoslund commented on #34793
_From @nbkolchin on Tuesday, March 24, 2020 7:14:57 PM_

I've tracked problem to `mlock()` call. See https://gist.github.com/nbkolchin/067fb7adc45f2a084915a1ec17ed5e61

[code]

But

[code]

[2020-04-09 22:28] sfoslund commented on #34793
_From @janvorli on Wednesday, March 25, 2020 11:43:52 AM_

It seems that parallels consume all the wired memory allowed. Wired memory is a memory that's locked (not allowed to be swapped to disk). It seems that the system wide limit is set to 80% of the physical memory. And it is the limit that causes the mlock to fail with EAGAIN.

Looking at your vm_stat results that you've reported before, I ca

[2020-04-09 22:28] sfoslund commented on #34793
_From @nbkolchin on Wednesday, March 25, 2020 1:06:11 PM_

Yes 16GB.

I understand that this is weird MacOSX behaviour. Forcing some pages to swap (i.e. running application that eats some memory) make `mlock()` work again without stopping parallels or anything else. I.e.

[code]

[2020-04-09 22:28] sfoslund commented on #34793
_From @janvorli on Wednesday, March 25, 2020 2:13:10 PM_

Maybe there is something else running that consumes a lot of wired pages. Even without parallels, the 2229157 pages means that around 8.5GB of wired pages are consumed, which seems to be a lot and close to the limit that is  approx 12.8GB on your device. On my Mac, the vm_stat reports only around 1.23GB of wired pages.

I've found the follo

[2020-04-09 22:28] sfoslund commented on #34793
_From @sfoslund on Tuesday, April 7, 2020 5:21:03 PM_

@janvorli does this issue belong in dotnet/runtime?

[2020-04-09 22:28] sfoslund commented on #34793
_From @janvorli on Thursday, April 9, 2020 8:30:06 PM_

@sfoslund I am sorry for missing your message. Yes, it belongs there.

[2020-04-09 22:31] wli3 commented on #34712
@swaroop-sridhar I believe runtime own the logic around PublishSingleFile and PublishTrimmed in SDK.

[2020-04-09 22:52] #34783 closed

[2020-04-09 22:55] benpye commented on #33506
I am happy to add a test with 2 - however it looks like I can't repro the bug against localhost, but I can at least add a test that ensures that case doesn't regress. I guess it's the interaction between impersonation and `OpenRemoteBaseKey` that's causing trouble here.

[2020-04-09 23:05] Anipik opened #34795 "Make Intellisense work from the root in vscode"
Currently the intellisense works when we open a libraries project folder in vscode.
But the intellisense doesnt work if open the entire repo in the vscode.
We should investigate and fix the failure there.

cc @ericstj @ViktorHofer @safern

[2020-04-09 23:06] swaroop-sridhar commented on #34712
@wli3 Yes I completely agree about this  -- the issue should be assigned to me.
What I meant is that the issue should be in the SDK repo assigned to me (the permission problem that prevented this is now resolved).

[2020-04-09 23:19] wli3 commented on #34712
I see. OK, I can close this and reopen and assign to you

[2020-04-09 23:19] #34712 closed

[2020-04-09 23:54] davidwrighton commented on #34641
(a) The collectible assemblies case is for scenarios like `List<T>.Add` compiled into `List<Canon>.Add` where `T` is some class that is a canonical type. So, the collectability of the generic context arg is unrelated to the collectability of the code the jit is producing. So, no, flagging collectible methods in the jit doesn't help.

(b) Relaxing reporting of `this` in these methods is only viable

[2020-04-10 00:00] davidwrighton commented on #34641
One note, is that for the purposes of collectability there is no need for the JIT to use the generic context reporting stack slot for reporting the this pointer, and could simply report it via completely normal GC reporting, it just needs to be reported until after the last pointer pulled from a generic dictionary is no longer in use.

[2020-04-10 00:08] cheenamalhotra opened #34798 "How to include "ErrorCode" as well as "Inner Exception" in "DbException" derived classes"
In SqlClient, we construct derived class object of [System.Data.Common.DbException](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Data.Common/src/System/Data/Common/DbException.cs) with an instance of `InnerException` & `message`.  Whereas we also have `ErrorCode` internally in Inner Exception thrown by SQL Server which we cannot expose to users who catch this exception.

So b

[2020-04-10 00:17] bartonjs commented on #34784
For the most part, we consider the crypto XML package to be on minimal maintenance, only present for applications to have an easier time moving to .NET Core from .NET Framework.

Adding new algorithms to it is complicated, since they would only work on newer runtimes, but they're identified from within the payload.  So something that works on .NET 5 would fail on .NET Core 2.1 or .NET Framework.

[2020-04-10 00:23] AndyAyersMS commented on #34641
Ok, thanks.

I added the "ref counting" aspect in dotnet/coreclr#9756 as often times after inlining or various opts we end up not needing the runtime lookup at all, and I wanted to fully dead code them. Didn't realize until now that this may sometimes under-count.

[2020-04-10 00:36] componentspace commented on #34784
If AES-GCM were supported on .NET 5 only rather than earlier releases that would be fine.

The AesGcm class introduced in .NET Core 3.0 exposes this algorithm but unfortunately it doesn't follow the earlier model of extending the SymmetricAlgorithm class. If it did, I think EncryptedXml would then support AES-GCM.

I believe the trend will be to move away from AES-CBC to AES-GCM for XML encryption

[2020-04-10 00:54] liadpaz opened #34799 "Compiler optimizing needed variable away"
I'm developing an UWP app and I'm using a REST client that I have developed by myself. I have checked the REST client independently, and it works just as expected. But when using it on the UWP app I get a null reference exception for a variable that I assigned a value from the REST client.
When I'm debugging and pinning a breakpoint on the the assignment line it works, also if I'm writing "Debug.W

[2020-04-10 01:00] cston commented on #34151
It looks like implementations of `IEnumerable<T>` and `IEnumerable` are not automatically serializable with `DataContractSerializer` in .NET Core, although such types appear to be serializable in .NET Framework.

I will investigate further. But is this a duplicate of https://github.com/dotnet/runtime/issues/724?

cc @StephenMolloy

[2020-04-10 01:09] #2172 closed

[2020-04-10 01:30] AaronRobinsonMSFT commented on #12278
@karpinsn This isn't something we are likely to do, but the VS memory tool should be able to listen to the ETW events mentioned above and automate the tracking. Any chance you could help @gregg-miskelly out with a feature in the memory tool?

[2020-04-10 01:31] hoyosjs commented on #34799
@tommcdon

[2020-04-10 01:32] davidwrighton commented on #34734
I'll take a look with my changes to crossgen2 recently, we've started using precompiling lots of hardware intrinsic code that would have stopped earlier.

[2020-04-10 01:36] AaronRobinsonMSFT commented on #12278
Reference for the destroy event:

https://github.com/dotnet/runtime/blob/8640eed087d0155fbd76c2ded706b2599e06410a/src/coreclr/src/vm/ClrEtwAll.man#L2993-L2997

https://github.com/dotnet/runtime/blob/8640eed087d0155fbd76c2ded706b2599e06410a/src/coreclr/src/vm/ClrEtwAll.man#L1284-L1293

[2020-04-10 01:51] karpinsn commented on #12278
We could add something to the .NET Object Allocation tool for this. I assume we would just need to listen for SetGCHandle events to register an active handler and then watch for DestroyGCHandle to unregister it? Then if we get double freed we would show some event in the tool?

[2020-04-10 02:07] AaronRobinsonMSFT commented on #12278
@karpinsn Yep. The "set" is indicating the `OBJECTHANDLE` now has an `object` associated with it and can be accessed through the handle. `OBJECTHANDLE`s are reused containers so you can think of the "set" as a create. The `DestroyGCHandle` is putting the `OBJECTHANDLE` back into the queue. Making sure you had both would be required to avoid false positives for failure.

Lots of statistics possible

[2020-04-10 02:24] benaadams opened #34800 "Bad speculation in JIT_MonExit_Portable"
There is a high misprediction rate for the common path in JIT_MonExit_Portable

![image](https://user-images.githubusercontent.com/1142958/78956120-3a21b180-7ad9-11ea-9dea-b10ecc10934a.png)

With the common path `action == AwareLock::LeaveHelperAction_None` not being arranged as the common path in asm.

https://github.com/dotnet/runtime/blob/8640eed087d0155fbd76c2ded706b2599e06410a/src/coreclr/src

[2020-04-10 02:33] Anipik opened #34801 "TestOnStartWithArgsThenStop Times out"
[code]

The start signal is not being send to the named pipe and reading side is keep on waiting in it. Tested it with removing the wait.

cc @danmosemsft @ericstj

[2020-04-10 03:11] stephentoub commented on #34648
For a time value, TimeSpan is my personal preference over float, yes.  Obviously we can discuss it as part of the API review.

[2020-04-10 03:22] jcagme commented on #33111
`runtime.win-x64.Microsoft.NETCore.Runtime.Mono` is now deleted. Do we need to remove more packages?

[2020-04-10 03:52] filipnavara commented on #33111
I checked all the packages and there's still few broken versions on the feed:

runtime.linux-arm64.Microsoft.NETCore.Runtime.Mono has 2 wrong packages (6.x)
runtime.linux-x64.Microsoft.NETCore.Runtime.Mono has 6 wrong packages (5.3 + 6.x)
runtime.os-x64.Microsoft.NETCore.Runtime.Mono has 7 wrong packages (5.3 + 6.x)
runtime.win-x64.Microsoft.NETCore.Runtime.Mono has 2 wrong packages (5.3 + 6.x)

[2020-04-10 04:00] wsy opened #34803 "Make System.Management.ManagementObjectCollection implement generic IEnumerable"
### Scenario
ManagementObjectCollection currently does not implement 'IEnumerable<ManagementBaseObject>' nor 'IEnumerable<ManagementObject>'. So there's currently no way to utilize methods defined in System.Linq.Enumerable. Such as 'FirstOrDefault'. This is painful when we use WMI to get a service object such as "Msvm_VirtualSystemManagementService".

### Workaround
So I wrote something like this

[2020-04-10 05:06] 333fred opened #34805 "Support reading calling convention from modreq or modopt on the return type"
Runtime-side tracking of the extensible calling convention proposal. Compiler-side issue: https://github.com/dotnet/roslyn/issues/39865. Will update with a final description of the actual spec when we've settled it.

[2020-04-10 05:09] weitzhandler commented on #24460
I bump into this over and over. I find this very compelling.

[2020-04-10 05:55] AriNuer commented on #34624
Test `profiler/eventpipe/eventpipe/eventpipe.sh` failed here too :
 [runtime-coreclr crossgen2:20200408.2](https://dev.azure.com/dnceng/public/_build/results?buildId=594337&view=results)
[code]

[2020-04-10 06:07] AriNuer opened #34806 "Test failure : System.Net.Sockets.Tests.DualModeConnectionlessReceiveMessageFrom.ReceiveMessageFromV4BoundToSpecificV4_Success"
**Job:**
[runtime-libraries outerloop:20200409.2](https://dev.azure.com/dnceng/public/_build/results?buildId=594510&view=results)
**Error message:**
[code]
**Stack trace:**
[code]
**Details:**
https://dev.azure.com/dnceng/public/_build/results?buildId=594510&view=ms.vss-test-web.build-test-results-tab&runId=18731354&resultId=104098&paneView=debug

[2020-04-10 06:11] kunalspathak commented on #34732
@briansull  - Once we do this, will it optimize these patterns? Here it loads the same MethodTable address twice to create different array size.

[code]

[2020-04-10 06:15] jkotas commented on #34800
Do you mean having a first class lock type (e.g. `System.Threading.Lock`) that is a simple lock without the syncblock baggage? I think that would be useful.

[2020-04-10 06:16] AriNuer opened #34807 "Test failure : System.Net.WebSockets.Tests.WebSocketProtocolCreateTests.WebSocketProtocol_CreateFromConnectedStream_CanSendReceiveData"
**Job:**
[runtime-libraries outerloop:20200409.2](https://dev.azure.com/dnceng/public/_build/results?buildId=594510&view=results)
**Error message:**
[code]
**Stack trace:**
[code]
**Details:**
https://dev.azure.com/dnceng/public/_build/results?buildId=594510&view=ms.vss-test-web.build-test-results-tab&runId=18726758&resultId=102061&paneView=debug

[2020-04-10 07:20] pgovind commented on #33786
There are only 2 real corner cases to consider in this Analyzer:

1) Multiple declarations in a single line. This has already been addressed above.
2) Class fields declared as const strings. I decided to not tag this in the analyzer and only tag(and fix) local const string variable declarations.

1 issue to consider in the code-fix is that it can lead to build breaks in some cases. For ex:

[code]

[2020-04-10 07:21] mwittmann opened #34808 "XslCompiledTransform Transform exception XNodeNavigator.MoveToNext(XPathNodeType type)"
In .Net Core, using the `Transform(IXPathNavigable, XsltArgumentList, Stream)` method overload for an `XslCompiledTransform` throws an error on `.MoveToNext()` for the XSLT command `<xsl:copy-of select="*|text()"/>`. Using the same input XML and XSLT files, but with the `Transform(String, String)` or `Transform(XmlReader, XsltArgumentList, Stream)` method overloads works fine.

The alternative equ

[2020-04-10 07:33] meareindel opened #35986 "Deadlock when creating typed HttpClient with DI and HttpClientFactory"
### Describe the bug

We have a .net core web service with, for simplicity, two controllers, each with one route. One of the controllers, let's say 'scoped' controller, has typed http client injected directly. Other one, - 'singleton' controller, - has some singleton service injected, which, in its turn, has the same typed http client injected. The typed http client itself is registered with heade

[2020-04-10 07:34] EgorBo commented on #34714
Ok, makes sense, should I update the api proposal text or comments are basically part of it?

[2020-04-10 07:36] trylek commented on #34508
I agree that the build split into "targetSpecific" vs. "targetGeneric" tests supersedes the previous plan to build tests against reference assembly for S.P.C so I agree with Steve that the splitting can be easily carried out without that and we can probably forget about the S.P.C. reference assembly plan completely in light of this broader refactoring.

[2020-04-10 07:37] marcusturewicz commented on #1483
So is the idea to implement the equivalent of:

https://github.com/dotnet/runtime/blob/b5f5d71f2d630325235fbda40e9895db28eac571/src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Windows.cs#L110-L130

in `Socket.Unix.cs` ?

[2020-04-10 08:17] am11 commented on #34785
See https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1303, upgrading [Microsoft.IdentityModel.Protocols.OpenIdConnect](https://www.nuget.org/packages/Microsoft.IdentityModel.Protocols.OpenIdConnect/) to latest version (6.x) fixed that issue.

[2020-04-10 08:22] YairHalberstadt commented on #27960
I think this is important not just for type inference but for discoverability. The first thing I did the first time I used valuetask was try to use `ValueTask.CompletedTask`, and `ValueTask.FromResult`, before having to do an internet search to find that `new` is the way to do it.

[2020-04-10 08:23] Mr-Bart-Simpson opened #34809 "Shouldn't Microsoft.Extensions.Hosting.BackgroundService implement IDisposable according to the Dispose pattern?"
In Microsoft.Extensions.Hosting.BackgroundService, the IDisposable interface is implemented via
`public virtual void Dispose()
{
...
}` only - Shouldn't the implementation follow the recommended pattern with somenthing like that?

`public void Dispose()
{
...
}`

`protected virtual void Dispose(bool disposing)
{
...
}`

[2020-04-10 08:25] kunalspathak opened #34810 "ARM64: loop array indexing inefficiencies"
[code]
The line `arr[i] = 1` generates the following code to calculate the address of element to save the value.
[code]
vs. how x64 generates:
[code]

The ARM64 pattern can be optimized to use post-index addressing mode using:
[code]

category:cq
theme:optimization
skill-level:intermediate
cost:medium

[2020-04-10 08:26] kunalspathak commented on #34810
@TamarChristinaArm , @BruceForstall

[2020-04-10 08:52] deokershesh opened #34811 "Changing binary file properties"
Hi,
I need to change the " Product name, Product version and Copyright details" in the similar file (example below). Could someone help me to locate the right resource/property file to make the changes?

![File-Property](https://user-images.githubusercontent.com/38784601/78977937-9961df00-7b36-11ea-9ddd-dee66c294386.png)

[2020-04-10 08:58] fschmied commented on #6633
@steveharter Could you elaborate how this is ambiguous? I was asking for
* the `GetParentDefinition` member on `RuntimeMethodInfo` to be made public (and included on `MethodInfo`, if anyhow possible)
* and for equivalent members to be added to `PropertyInfo` and other `*Info` objects.

What's the scenario? Whenever you need to write reflection code that needs to "walk the overrides chain" for a gi

[2020-04-10 09:07] reflectronic commented on #31208
Closed in favor of #822

[2020-04-10 09:07] #31208 closed

[2020-04-10 09:21] gfoidl commented on #34811
Have a look at [AssemblyInfo properties](https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#assemblyinfo-properties).

[2020-04-10 09:37] filipnavara commented on #33383
We were unable to reproduce the issue again, even on the same machine. Going to close it for now. Thanks for help and ideas!

[2020-04-10 09:37] #33383 closed

[2020-04-10 09:46] ThorstenReichert commented on #6445
@GrabYourPitchforks, I'd like to give this one a try.

[2020-04-10 09:58] benaadams opened #34812 "Add first class System.Threading.Lock type"
## Background and Motivation

Locking on any class has overhead from the dual role of the syncblock as both lock field and hashcode et al. (e.g. https://github.com/dotnet/runtime/issues/34800)

Adding a first class lock type that didn't allow alternative uses and only acted as a lock would allow for a simpler and faster lock as well as be less ambiguous on type and purpose in source code.

## API

[2020-04-10 09:58] benaadams commented on #34800
Exactly. Have raised issue https://github.com/dotnet/runtime/issues/34812

[2020-04-10 10:04] Joe4evr commented on #34812
Should this type not be `sealed`?

[2020-04-10 10:05] benaadams commented on #34812
Yep added, thanks

[2020-04-10 10:08] stephentoub commented on #34812
I'm not clear on the extent of this proposal.

You're proposing that Monitor would special-case this with its existing object-based methods? But only some of Monitor's methods?

[2020-04-10 10:11] deokershesh commented on #34811
Thanks gfoidl,

I could locate the assembly file which has all these details. Below is the content, it says "auto-generated" and changing directly any value may have unwanted run time issues. How do I change these values? Which file/configuration do I need to modify to make sure this "auto-generated" file contents is changed for the values I want to put?
===================

'---------------------

[2020-04-10 10:13] deokershesh commented on #34811
Just to add, the above contents come from D:\corefx-release-3.1\artifacts\obj\Microsoft.VisualBasic.Core\netcoreapp-Windows_NT-Debug\Microsoft.VisualBasic.Core.AssemblyInfo.vb

[2020-04-10 10:14] deokershesh commented on #34811
And D:\corefx-release-3.1\artifacts folder gets generated during the build process.

[2020-04-10 10:19] benaadams commented on #34812
I'm proposing a type that doesn't need to concern itself with the state of the syncblock so it will only be a thinlock and not worry about handling the flags `BIT_SBLK_IS_HASH_OR_SYNCBLKINDEX`, `BIT_SBLK_IS_HASHCODE`, `BIT_SBLK_SPIN_LOCK` etc

[2020-04-10 10:24] Wraith2 commented on #34812
So no special treatment anywhere in the runtime it's just setup so that it'll never have a stored hashcode and the syncblock will only ever be used for locking? Though it'd be a pretty niche case where you have a lock on something that has been hashed i'd have thought.

[2020-04-10 10:25] stephentoub commented on #34812
I understand. But how are you proposing interacting with it? Still via Monitor?

[2020-04-10 10:41] #1980 closed

[2020-04-10 10:45] thomaslevesque commented on #34773
Current workaround :

[code]

[2020-04-10 10:55] pitasoft commented on #30359
Hello, I have the same problem as the previous user, because as I can change the behavior of the JSRuntime serialization to be able to indicate how I can do the realization, how to omit null properties, I am trying to use Google Maps and I have errors when I pass a serialized class that does not Nulls should appear and you are trying unexpected errors.
It would be necessary to implement an attribu

[2020-04-10 11:06] benaadams commented on #34812
Ah, get you point. Have added other methods.

Would still need to go via monitor currently to work with the `lock` statement?

[2020-04-10 11:08] benaadams commented on #34812
Yes; but the handling for the niche case isn't without overhead. So the idea is to introduce a type that drops this overhead by being explicit in only being a lock.

[2020-04-10 11:10] roji commented on #33397
@FransBouma just realized I had forgotten to cc you on this, in case you're interested.

[2020-04-10 11:18] FransBouma commented on #33397
@roji  Looks good to me :) Yeah 'Release' isn't really that interesting, as in general you want to go back to a given point in time in the transaction. It's a niche feature tho. I support it through my ORM API, and use reflection to obtain the Save method on the ADO.NET provider so having a generic interface for this is great, saves me the trouble for reflecting over it :)

[2020-04-10 11:19] roji commented on #33397
Great, that's the perfect example for why this is needed in System.Data :)

[2020-04-10 11:22] stephentoub commented on #34812
Today, yes, though likely C# could be augmented to recognize the type in the future.

A potentially much more impactful (and experimental) variation of this would be to actually only support locking on such a type and eliminate the memory overhead incurred for every other object in the system. Until code fully transitioned, locking on other objects would obviously be more expensive as the runtime

[2020-04-10 11:37] roji opened #34817 "Database-agnostic way to detect transient database errors"
A recurring theme for database programming has been building automated retry policies, but System.Data doesn't currently allow database drivers to expose whether a database error can be expected to be transient or not. This leads to database-specific logic for detecting transient exceptions being built again and again outside of the driver.

# API Proposal

[code]

# Notes

* IsTransient should be

[2020-04-10 11:42] roji commented on #34798
@cheenamalhotra is this about somehow surfacing [SqlError.Number](https://docs.microsoft.com/en-us/dotnet/api/microsoft.data.sqlclient.sqlerror.number?view=sqlclient-dotnet-core-1.1#Microsoft_Data_SqlClient_SqlError_Number) on SqlException (although which one, given that SqlException has a collection of SqlErrors)? If so, is this a SqlClient-specific questions, given that other database provides r

[2020-04-10 11:45] abelbraaksma commented on #1080
I had a quick look at the code, but I couldn't immediately verify your assessment, so I'll set up a test environment in VS and open the regex solution.

[2020-04-10 12:36] #34703 closed

[2020-04-10 13:35] FransBouma commented on #34817
Is `SupportsTransienceDetection ` really necessary? All I'm interested in as a consumer of the exception is whether it's a transient error. Now I have a list of transient error codes per database in my transient error recovery strategy classes and that's not very flexible (if error codes are added I have to maintain this list plus I have to look up these codes for all databases supported). So I ju

[2020-04-10 13:46] roji commented on #22071
The System.Data interfaces in general have been more or less abandoned since .NET Framework 2.0 (IIRC) precisely because it was impossible to evolve them without breaking existing implementations; all modern consumption of ADO.NET (System.Data) happens through the abstract base classes instead. What would be the advantage of bringing the old interfaces back by adding default implementations to the

[2020-04-10 13:54] roji commented on #34817
You're right that it's not terribly useful (i.e. "Note that in general it should be fine to just check IsTransient directly, as it would default to false in any case.").

The main case I had in mind was to be able to surface that information to a user, or possibly to fail at startup if transience isn't supported by a provider. I'm not sure how relevant that really is, if people think it's useless

[2020-04-10 14:22] mharrisn commented on #34785
@am11 Thank you very much for your response. Upgrading packages has resolved the issue for me. I discovered that just installing the dependencies of Microsoft.IdentityModel.Protocols.OpenIdConnect was sufficient to resolve the issue. Here are the additions to my .csproj.  This was definitely a reproducible issue for me for macOS. Are these new packages going to bundled with the 5.x release -or a s

[2020-04-10 14:22] #34785 closed

[2020-04-10 14:23] FransBouma commented on #34817
Ah now I understand it. :) Not sure how that information can be used in a practical way however: a recovery strategy of some sort has to be implemented regardless: a re-entrant aware system that can deal with retrying the commands in a given form, and if that strategy is built around 'IsTransient' it will simply bubble up all exceptions (as they're never 'transient') which is effectively the same

[2020-04-10 14:41] #30445 closed

[2020-04-10 14:43] jkotas opened #34820 "error MSB4017: The build stopped unexpectedly because of an unexpected logger failure."
Hit in https://github.com/dotnet/runtime/pull/34819 on  Android x86 Debug :

From https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_apis/build/builds/596213/logs/816:
[code]

[2020-04-10 14:46] yerroju1984 opened #34821 "XslCompiledTransform in .NET Core does not support the Load(type)"
The XslCompiledTransform in .NET Core  does not support the Load(type) method?

I would assume that the method would throw a PlatformNotSupportedException instead of the FileNotFoundException: Could not load file or assembly 'System.Data.SqlXml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089' .

Can this issue will be fixed ?

[2020-04-10 14:56] #33363 closed

[2020-04-10 15:00] vcsjones commented on #31944
@bartonjs What about something like this?

[code]

[2020-04-10 15:01] CarolEidt commented on #34732
@kunalspathak - that's a case where the register allocator might have reused the constant, except that it's only opportunistic and it doesn't do any analysis ahead of time to figure out that in order to reuse in this case it would need to allocate a callee-save register. I wonder if it might be useful to add some analysis for that (i.e. how often would it help, and what would the additional analys

[2020-04-10 15:02] roji commented on #34817
Yeah, I wouldn't really expect anyone to switch on `SupportsTransienceDetection`for recovery/no-recovery (and I definitely don't think there's any real perf to be gained). But in theory someone could try to do something at a higher level if they know there's no transience detection. I admit I don't really have a compelling use-case - it's more a general idea of allowing consumers to know whether i

[2020-04-10 15:16] bartonjs commented on #31944
@vcsjones Seems like a reasonable starting point.

Probably wants some symmetric API on X509Certificate2Collection for loading a chain/chain+key.  I'm not sure if it needs to be able to support private keys from extra files, or if that's too far off the main scenario and it'll just opportunistically load them from within the same multipem.

[2020-04-10 15:31] tannergooding commented on #34714
I'm not sure `CreateByteMask` accurately describes what is being done here nor that it will retain its meaning alongside future ISAs.

As for AVX-512, it has an entirely new masking system with new registers that won't be able to be tracked by the existing types.

`blendps` also takes a different `imm8` format, so it needs a custom method anyways.

For `blendps` it is 1 bit per entry and specifies

[2020-04-10 15:41] #1262 closed

[2020-04-10 16:04] psmulovics commented on #26141
I'm bringing a usecase where we are affected.

We face this when authenticating using OIDC programmatically.

We try to access a resource service.ms.com/api/Users which is served by an ASP.NET Core resource server.
On the client side (.net framework console app in the test case), we have autoredirect enabled on the HttpClient.

Instead of console client apps, there could be WPF app users, who need

[2020-04-10 16:19] vcsjones commented on #31944
@bartonjs makes sense, updated the above.

My opinion is that since the first PEM is likely to already be a PEM aggregate, I think it's reasonable to expect the certificates and any keys to be in the same path. However I'm not sure about the passwords, so I didn't add those APIs. If they were there, would be just assume each private key is encrypted with the same password?

[2020-04-10 16:32] #34715 closed

[2020-04-10 16:34] danmosemsft commented on #1080
@abelbraaksma my bad: all the error cases seem to set a RegexParseError - in fact, the RegexParseException constructor requires it. I guess you'd still want to satisfy myself that RegexParseError has the best set of values.

[2020-04-10 16:34] bgrainger commented on #31944
@vcsjones Is `X509Certificate2Collection.CreateFromPemFile` supposed to return a `X509Certificate2Collection`? (The proposal above says just `X509Certificate2`.)

[2020-04-10 16:36] vcsjones commented on #31944
@bgrainger

Yes. Fixed, and thank you.

[2020-04-10 16:40] abelbraaksma commented on #1080
I noticed that, so I assumed you meant something like places where an `ArgumentException` was raised instead, which wouldn't have the internal field set that's used in testing.

The set of values appears pretty exhaustive, but I wouldn't be surprised if, while work is still ongoing on the performance, that new cases emerge for further fine tuning.

[2020-04-10 16:43] briansull commented on #34732
IN the above case I believe that we compute the constant into a scratch register that is killed by the call  to the JitHelper, so it doesn't get reused.

With the CSE approach we have heuristics that try to balance the cost of allocating a new local variable, (in a caller saved register) and possibly having to spill and reload an extra register in the prolog and epilog to hold this constant value

[2020-04-10 16:52] bartonjs commented on #31944
I'm fine with leaving the encrypted version off of the collection until there's a clear scenario for it.

Currently the collection type uses Import methods to load from files.  I don't think there's a strong reason to be import for everything except multipem... so probably

[code]

[2020-04-10 16:55] danmosemsft commented on #34820
Does this MSBuild contain @ViktorHofer 's "temporary change": https://github.com/microsoft/msbuild/pull/4355

[2020-04-10 16:59] ramsubbaraoc commented on #34761
@wfurt I had updated the problem description with the client hello packet,please can you have a look and suggest where i am doing it wrong

[2020-04-10 17:01] KernelErr0r opened #34824 "An infinite loop of implicit convertions"
This smart hack to remove generics makes an infinite loop of implicit conversions. I think it shouldn't call the same operator twice in a row. Is it some kind of a bug, unpredicted behavior or does it have to work that way?
[code]

[2020-04-10 17:07] mangod9 commented on #33856
@adamsitnik is there any action required for this issue?

[2020-04-10 17:12] mangod9 commented on #33571
@urbanecm closing this issue for now since it hasnt had much activity for a few weeks. Please reopen if the issue still persists. Hoping you can capture a dump at that time.

[2020-04-10 17:20] danmosemsft commented on #34360
OK. Then we should add in PlatformDetection.cs
[code]
and conditionalize tests here and those listed in
https://github.com/dotnet/runtime/issues/34442
https://github.com/dotnet/runtime/issues/34685
https://github.com/dotnet/runtime/issues/34689

I didn't distinguish COM interop from setting thread apartment since they generally go together/

[2020-04-10 17:20] danmosemsft commented on #34442
https://github.com/dotnet/runtime/issues/34360

[2020-04-10 17:20] #34442 closed

[2020-04-10 17:20] danmosemsft commented on #34685
dupe https://github.com/dotnet/runtime/issues/34360

[2020-04-10 17:20] #34685 closed

[2020-04-10 17:20] danmosemsft commented on #34689
dupe https://github.com/dotnet/runtime/issues/34360

[2020-04-10 17:20] #34689 closed

[2020-04-10 17:32] ericstj commented on #34679
This is C0000374‬ STATUS_HEAP_CORRUPTION.

[2020-04-10 17:34] BruceForstall commented on #34810
A case of a simple optimization where a STR or LDR immediately followed by an address variable addition could be transformed to subsume the addition into the STR/LDR instruction was discussed [here](https://github.com/dotnet/runtime/issues/33532#issuecomment-600266336) in the context of the intrinsics.

It looks like what you are suggesting would be a sequence of transformations, loop induction va

[2020-04-10 17:34] gfoidl commented on #34811
Why do you want to change this information for a Microsoft-Assembly? You are not the owner of this library and I don't think this conforms with the license.

For your own projects see the link above.

[2020-04-10 17:38] ericstj commented on #34592
Interesting, looks like a bug in Mono's PtrToStructure
https://github.com/dotnet/runtime/blob/f5ecd6bc936cb9502d5faf8e156d00cf526c9b76/src/libraries/System.Drawing.Common/src/System/Drawing/PropertyItemInternal.cs#L74-L75

This should work since the calling code has access to the constructor
https://github.com/dotnet/runtime/blob/f5ecd6bc936cb9502d5faf8e156d00cf526c9b76/src/libraries/System.Drawin

[2020-04-10 17:41] ericstj commented on #34591
This is STATUS_STACK_BUFFER_OVERRUN

[2020-04-10 17:51] AndyAyersMS commented on #34641
This turns out to be one of the multi-use box cases (see #9118) that we don't yet handle. Root method boxes, inlinee uses box in both type test and unboxing. We can clean some of this up, but are not able to undo the box.

[2020-04-10 18:06] danmosemsft commented on #34753
0xC0000005 -1073741819 STATUS_ACCESS_VIOLATION

Conceivably a dupe of https://github.com/dotnet/runtime/issues/34755 since no doubt some drawing objects are getting instantiated..

[2020-04-10 18:08] ericstj commented on #34497
ThreadPoolBoundHandle, see https://github.com/dotnet/runtime/issues/34582

[2020-04-10 18:08] ericstj commented on #34502
See https://github.com/dotnet/runtime/issues/34582

[2020-04-10 18:08] davidwrighton opened #34826 "FilterNamedIntrinsicMethodAttribs checks className for unsupported isas not classname"
As noted by @saucecontrol in https://github.com/dotnet/runtime/pull/34550#issuecomment-611850762_ crossgen doesn't correctly check for isaName instead of className which checking for the use of the crossgen2 corelib unsupported isas like Avx, Avx2, etc. We should fix this as it might cause very odd behavior for code in corelib which uses such logic.

[2020-04-10 18:09] ericstj commented on #34495
This is STATUS_STACK_BUFFER_OVERRUN

[2020-04-10 18:09] danmosemsft commented on #34591
Probably worth a look.

[2020-04-10 18:10] ericstj commented on #34493
ThreadPoolBoundHandle, see #34582

[2020-04-10 18:11] ericstj commented on #34492
This looks like an exception difference in mono runtime when attempting to read AssemblyName from a locked file.

[2020-04-10 18:14] danmosemsft commented on #34749
@MaximLipnin could you please add sample callstacks in issues like this where there's an exception message? That would show where this exception is coming from.

Perhaps `        public static bool IsWinRTSupported => IsWindows && IsNotWindows7;` should also exclude Mono; but interestingly, this attribute is actually applied on very few tests. So it would be too to know what is throwing here.

[2020-04-10 18:19] danmosemsft commented on #34328
@MaximLipnin could you perhaps attach the testResults.xml? The stack above only applies to one of the tests. The xml file would show the assert or exception causing the others to fail.

[2020-04-10 18:24] danmosemsft commented on #34328
* `System.Tests.TypeTests.* (invoke Type.GetTypeFromCLSID in TypeTests cctor)` is because Type.GetTypeFromCLSID is not supported on Mono. It just needs disabling against something like "PlatformDetection.SupportsComInterop"
* Same for System.Reflection.Tests.MemberInfoTests.HasSameMetadataDefinitionAs_CornerCase_CLSIDConstructor
* All the other MemberInfoTests directly or indirectly use this API.

[2020-04-10 18:26] #33367 closed

[2020-04-10 18:26] mangod9 commented on #1674
looks like this should just fail compilation?

[2020-04-10 18:26] danmosemsft commented on #31648
Mono runtime issue.

[2020-04-10 18:28] tannergooding commented on #34826
This looks like an oversight on my part when I changed the logic in https://github.com/dotnet/coreclr/pull/25365

[2020-04-10 18:28] mangod9 commented on #13235
closing since this doesnt appear to have repro-ed recently.

[2020-04-10 18:28] #13235 closed

[2020-04-10 18:30] danmosemsft commented on #34690
The tests failing with the message above is a dupe of https://github.com/dotnet/runtime/issues/34591.

What are the other failures -- @MaximLipnin could you please break them out or share the testresults.xml? I am guessing they are not interesting but perhaps there is another distinct category.

Networking folks - I don't think there is any suggestion there is a networking bug here. Either Mono ru

[2020-04-10 18:38] mangod9 commented on #33913
Hi @sandreenko, are you going to be investigating this? Thx.

[2020-04-10 18:41] danmosemsft commented on #34454
GetConsoleTitleW is failing with ERROR_PATH_NOT_FOUND. Would need a debugger to figure out why. Either a wierd Windows bug or a wierd interop bug in Mono runtime? We do properly `SetLastError = true` on this call.

[2020-04-10 18:43] danmosemsft commented on #34396
Maybe change `public static bool IsWinRTSupported => IsWindows && IsNotWindows7;` to `public static bool IsWinRTSupported => IsWindows && IsNotWindows7 && IsNotMono;` and then disable test with that.

[2020-04-10 18:43] mangod9 commented on #32783
Hi @v-haren is this still failing? This appears to be some infra issue which is possibly resolved?

[2020-04-10 18:44] mangod9 commented on #32663
appears to be resolved?

[2020-04-10 18:45] mangod9 commented on #31687
should this be resolved @trylek ?

[2020-04-10 18:45] danmosemsft commented on #34493
Let's just track it all with #34582 and if/when fixing that, they can enable tests from linked issues like this.

[2020-04-10 18:45] #34493 closed

[2020-04-10 18:45] danmosemsft commented on #34502
Let's just track it all with #34582 and if/when fixing that, they can enable tests from linked issues like this.

[2020-04-10 18:45] #34502 closed

[2020-04-10 18:45] danmosemsft commented on #34497
Let's just track it all with #34582 and if/when fixing that, they can enable tests from linked issues like this.

[2020-04-10 18:45] #34497 closed

[2020-04-10 18:46] nattress commented on #32783
Looks like it's been green for a month now: https://dev.azure.com/dnceng/public/_build/results?buildId=595961&view=ms.vss-test-web.build-test-results-tab&runId=18768308&resultId=109141&paneView=history

Closing this issue out.

[2020-04-10 18:46] #32783 closed

[2020-04-10 18:47] danmosemsft commented on #34490
Tracking all by #34582

[2020-04-10 18:47] #34490 closed

[2020-04-10 18:49] danmosemsft commented on #34578
They are already conditioned by `[ConditionalClass(typeof(PlatformDetection), nameof(PlatformDetection.IsWinUISupported))]`. Need to update these so they return false on Mono:
[code]

[2020-04-10 18:52] danmosemsft commented on #34543
The apartmentstate ones just need disabling against PlatformDetection.SupportsCom or something like that.

The Principal ones seem like they should work. This was fixed recently in ed9fed1f41ddbd12df12e372059147ee72ae73ce but it was in the shared part of corelib. Would need investigation.

[2020-04-10 18:52] mangod9 commented on #32507
can this be closed @trylek ?

[2020-04-10 18:55] DrJohnMelville commented on #1674
Why should it fail at all.  A class of type Open satisfies the constraint that the class be of type Open or one of its descendants.  It is frequently useful to define generic methods which require a subclass of the generic type of the main method.  (This is especially helpful if you want to return one of the arguments and allow the subtype information to "flow through" the method call.

[2020-04-10 18:55] danmosemsft commented on #34495
Maybe caused by https://github.com/dotnet/runtime/issues/34591 ? Although I don't see a Metafile specifically in src\libraries\System.Resources.Extensions\tests\TestData.cs just Bitmap, Icon...

[2020-04-10 18:57] kunalspathak commented on #34810
Just verified that gcc seems to do that optimization but clang doesn't.
https://godbolt.org/z/Wp9Xhu

[2020-04-10 19:01] sandreenko commented on #33913
Yes, you can assign me.

[2020-04-10 19:01] danmosemsft commented on #34492
https://github.com/dotnet/runtime/blob/5c2ee148ab63dc8b6a751cd6535a4e3d58f441ef/src/mono/mono/metadata/icall.c#L6073

[2020-04-10 19:03] mangod9 commented on #1674
hmm.. the original issue was that the `class` contraint was broken since `EmptyLogEntry` is a struct. Your repro is different and needs to be investigated.

[2020-04-10 19:08] saurabh500 commented on #34817
While working on SqlClient, I realized that the classification of Transient errors is a combination of recommendations offered by the database and the nature of the customer workload and the customer's own understanding of their infrastructure running the applications and databases.

A driver can classify an error as transient, if it is recommended. And such recommendations are usually made for a

[2020-04-10 19:13] danmosemsft commented on #31656
`Environment.ExitCode` is set, then SIGTERM signal is sent. On CoreCLR, the app exits with the specified exit code; on Mono, it returns with 128+SIGTERM.

I guess it should follow CoreCLR behavior since the docs don't specify that ExitCode won't be respected in these circumstances.

this behavior is defined in the Mono runtime -mono_environment_exitcode_set etc.

[2020-04-10 19:16] AndyAyersMS commented on #34641
#34827 should fix the second case -- haven't looked at the first case yet, and may not get to it for a while, since it is x86 only.

[2020-04-10 19:16] danmosemsft commented on #34030
https://github.com/dotnet/runtime/blob/5c2ee148ab63dc8b6a751cd6535a4e3d58f441ef/src/mono/mono/metadata/appdomain.c#L2705

[2020-04-10 19:17] danmosemsft commented on #34030
similar to https://github.com/dotnet/runtime/issues/34492

I'm assuming we follow CoreCLR

[2020-04-10 19:27] ericstj commented on #34366
Most appear to be a mix of missing this behavior on Mono:
https://github.com/dotnet/runtime/blob/ab6e225d0c3e3b8d2c085ab68f8a6511a64dc562/src/libraries/System.Runtime/tests/System/Threading/WaitHandleTests.cs#L353

Last one is #34360

Lets let this issue track the behavior of WaitHandles on mono.  Needs to be updated to match exception behavior or net core.

[2020-04-10 19:32] GrabYourPitchforks opened #34828 "CompareInfo.IndexOf / LastIndexOf early-exit code paths do not account for zero-weight characters"
Repro code:

[code]

This should print `0` on all platforms unless we're running under the invariant globalization mode, in which case it should return `-1`. The reason for this is an incorrect early-exit in `CompareInfo.IndexOf`, as shown below.

https://github.com/dotnet/runtime/blob/1ae617bc8f3644cd51faf124e399fb01c952be45/src/libraries/System.Private.CoreLib/src/System/Globalization/CompareInf

[2020-04-10 19:35] tarekgh commented on #34828
@GrabYourPitchforks thanks for filing it. just wondering if you'll get the fix? or expect someone else to do it?

[2020-04-10 19:39] ericstj commented on #34366
So this should track:
Signaling an already signaled Mutex should throw an ApplicationException.
Signaling an already signaled Semaphore should throw InvalidOperationException.
WaitAll on array with named Mutex containing more than one Mutex with same name should throw ArgumentException.

[2020-04-10 19:44] GrabYourPitchforks commented on #34828
The fix is included in https://github.com/dotnet/runtime/pull/1514. I'm hoping to get a new iteration of that out by the end of today.

[2020-04-10 19:55] guesshe commented on #33374
@janvorli I fixed the thread priority issue. Now, apart from the strlen issues I am having following exceptions. However, these exceptions are not considered failed tests, I still get 726 test cases passed and 0 failure.
...'paltest_namedmutex_test1' failed at line 397. Expression: m != nullptr
'paltest_namedmutex_test1' failed at line 463. Expression: m2 != nullptr
'paltest_namedmutex_test1' fail

[2020-04-10 20:08] davidwrighton commented on #31687
Well, right now we just ignore any details beyond the first. This is "ok" as we don't actually use the ibc block data, but will need to be handled more correctly once we do. I think that means we should keep the workitem open.

[2020-04-10 20:15] isolin opened #34834 "MathF.Round produces misleading exception"
[code]

produces an `ArgumentOutOfRange` exception stating
[code]
This is a wrong statement (actually it applies to `double`), since `private const int maxRoundingDigits = 6;`

It would be great to fix the exception message to avoid confusion when rounding with `MathF`.

[2020-04-10 20:22] davidwrighton commented on #32663
I don't believe this is resolved. We now bail out, which matches crossgen behavior, but when targeting the container compile scenario, it is clear that a large number cases of the bail out are being hit by async state machine code. So, this bail out is a significant negative towards achieving our goals of crossgen2 having better AOT compilation for containers.

[2020-04-10 20:23] safern commented on #31645
Anipik it seems like the path is missing the TFM, was this fixed with yesterday's PR as well?

I think if you don't open with `build -vs ...` you won't be able to run the tests because we're setting some environment variables needed for VSTest to run against the lively built shared framework. If it didn't open with preview, you might be missing the Preview devenv in the path, or you're opening a d

[2020-04-10 20:25] layomia commented on #31645
cc @Anipik

[2020-04-10 20:26] roji commented on #34817
Thanks for these thoughts @saurabh500.

I think there may be a bit of confusion here between the transient retrying implemented *inside* of SqlClient, and external retrying implemented outside of any specific driver, and which would leverage the proposed IsTransient property. Anything happening inside SqlClient is specific to that driver, and although you could add an API to make its retry mechani

[2020-04-10 20:27] danmosemsft commented on #34023
Likely relates to different GC behavior on Mono. Test says "depends on the GC and timing."

[2020-04-10 20:28] danmosemsft commented on #33549
-1073740791 STATUS_STACK_BUFFER_OVERRUN

[2020-04-10 20:29] danmosemsft commented on #34091
dupe of https://github.com/dotnet/runtime/issues/32743

[2020-04-10 20:29] #34091 closed

[2020-04-10 20:34] danmosemsft commented on #32295
@akoeplinger @marek-safar where an issue is in the Mono runtime, do we track it here or there? Presumably here?

[2020-04-10 20:34] danmosemsft commented on #32030
#32295

[2020-04-10 20:35] danmosemsft commented on #32020
Is this because Mono is using "portable thread pool" ?

[2020-04-10 20:35] jeffschwMSFT commented on #34805
@AaronRobinsonMSFT

[2020-04-10 20:36] danmosemsft commented on #31857
@MaximLipnin for failures like this can you please include a callstack or line number so we can see which method is throwing this? Eg., it might be in corelib rather than ref.emit itself.

[2020-04-10 20:49] saurabh500 commented on #34817
I am not asking for ADO.Net base classes to be database aware or to categorize errors. That would not be desirable and may not serve all databases and their ways of categorizing errors.
I should have not used too many references to SqlClient in my explanation :)

For a driver to say whether DbException.IsTransient should be set true or false is prior knowledge. So a driver knows that there are err

[2020-04-10 21:11] saurabh500 commented on #34817
I had a chat with Shay:

The fundamental problem is that every driver / database has errors which need to be interpreted differently, they may be in different formats, an error code may be overloaded with lot more information.

Hence providing a DB agnostic way of getting these errors from the ADO.Net layer, may not satisfy all providers.

The recommendation would be to have the driver expose a me

[2020-04-10 21:12] saurabh500 commented on #34817
@roji, I hope this captures the discussion. Please add to it if I missed anything.

[2020-04-10 21:15] AaronRobinsonMSFT opened #34831 "Analyzer for MarshalAs usage"
Defining how types should be marshaled via a P/Invoke or COM interop is difficult to get correct and many bad practices have been developed over the years. The [Native interoperability best practices](https://docs.microsoft.com/dotnet/standard/native-interop/best-practices) page should be converted into an analyzer to help developers do the right thing.

Related to https://github.com/dotnet/runtim

[2020-04-10 21:23] roji commented on #34817
Yeah, I think that makes sense.

I admit that for Npgsql (where IsTransient already exists) I haven't received requests to tweak its meaning. However, if for a particular driver it makes sense to expose a configuration interface (via connection strings or via a special API), which affects what the driver returns via InTransient, then it's by all means free to do so (again, this would be specific t

[2020-04-10 21:30] #34788 closed

[2020-04-10 21:34] akoeplinger commented on #32295
Tracking here is fine.

[2020-04-10 21:34] wfurt commented on #34761
can you upload whole packet capture with the handshake? (you may need to zip it to pass GH restrictions)

[2020-04-10 21:48] danmosemsft commented on #31858
@steveharter would these be in the Mono runtime or corelib? If so, there are labels for those.

[2020-04-10 21:48] layomia commented on #30964
cc @steveharter, @Jozkee

[2020-04-10 21:51] danmosemsft commented on #33867
should also delete https://github.com/dotnet/runtime/blob/master/docs/coding-guidelines/pinvoke-checker.md

[2020-04-10 21:54] jaredpar opened #34832 "Losing connection to agents during CI / PR"
The builds will fail with the following message

|Build|Kind|Timeline Record|
|---|---|---|
|[596628](https://dev.azure.com/dnceng/public/_build/results?buildId=596628)|PR https://github.com/dotnet/runtime/pull/34827|CoreCLR Pri0 Test Run  Linux arm64 checked|
|[596628](https://dev.azure.com/dnceng/public/_build/results?buildId=596628)|PR https://github.com/dotnet/runtime/pull/34827|Libraries Test

[2020-04-10 22:27] danmosemsft commented on #34831
There may be more in
https://github.com/dotnet/runtime/blob/master/docs/coding-guidelines/interop-guidelines.md
https://github.com/dotnet/runtime/blob/master/docs/coding-guidelines/interop-pinvokes.md (which I'll merge into the former)

Of course, anything unique in those would be candidates for adding to the official doc as well.

[2020-04-10 22:31] #34717 closed

[2020-04-10 22:37] jcagme commented on #33111
Done, can you please verify?

[2020-04-10 23:05] #34546 closed

[2020-04-10 23:17] davmason opened #34838 "AssemblyLoadContext is collected while still in use"
While investigating CI failures for #34677, I ran across some unexpected behavior with AssemblyLoadContext.

The issue is that an Assembly loaded in an ALC do not root the ALC, so the ALC can be garbage collected and finalized prematurely.

This seems like unexpected behavior from an ALC. I would expect the ALC to be rooted by any assemblies loaded within it and it wouldn't be collected until eith

[2020-04-10 23:18] davmason commented on #34838
cc @janvorli

[2020-04-10 23:25] sywhang opened #34839 "Enabling EventPipe via the managed EventPipe class isn't thread-safe"
Reported by @xiaomi7732:

[code]

This code may leak an EventPipe session when EventPipe.Enable() is called concurrently where two session may be enabled from different codepaths and both of them will be enabled, but only one of them will be tracked via s_sessionID meaning whichever session isn't tracked will be leaked when Disable() is called.

On top of that, even without involving concurrency,

[2020-04-10 23:27] filipnavara commented on #33111
All the 5.3.x.x versions disappeared but I still see the rest.

[2020-04-10 23:35] danmosemsft commented on #30457
anyone interested in doing more?

[2020-04-10 23:46] #304 closed

[2020-04-10 23:51] YohDeadfall commented on #30964
@layomia this issue should be fixed by #32107. Just need to write one more test and change naming style for new visibility tests as requested.

[2020-04-10 23:54] #862 closed

[2020-04-10 23:57] danmosemsft commented on #34820
It was `/__w/1/s/.dotnet/sdk/5.0.100-preview.4.20202.8/MSBuild.dll `

[2020-04-11 00:04] danmosemsft commented on #34820
https://github.com/microsoft/msbuild/issues/5267

[2020-04-11 00:04] #34820 closed

[2020-04-11 00:16] wfurt commented on #33748
There is no way how this could work without libgdi. That is OS dependency .NET needs.
cc: @safern

[2020-04-11 00:18] wfurt commented on #33077
Did your libgdi come from Brew? You can try to reinstall it. https://medium.com/@hudsonmendes/solved-system-drawing-netcore-on-mac-gdiplus-exception-c455ab3655a2

[2020-04-11 01:07] wfurt commented on #34080
I can see process grow. I don't know if the Close after Dispose is intentional but changing that standard `using() {}` patter did not changed that.

The managed heap goes up & down.

This is output collected after running for.a while with (dump heap -stat)
The `AppleCertificatePal` certainly looks suspicious.  I will take a look.

[code]

cc: @bartonjs

[2020-04-11 01:19] AndyAyersMS commented on #34279
@fadimounir do you still have the GC info reported for the method? Looking at the jit code I don't see offhand how the GC state could change between the PINVOKE_BEGIN and the actual pinvoke.

[2020-04-11 02:50] rgarrison12345 commented on #34817
Thanks everyone for the conversation on this.  I've been reading through and this is the first time a suggestion of mine has made it to an API proposal.  What is the next step for this to take this from a proposal to an actionable item?  This looks to appear to be adding a property to DbException with a default implementation so this shouldn't be a breaking change.  I wouldn't think this would req

[2020-04-11 03:15] jkotas commented on #34279
This is specific to R2R codegen. If you would like to debug it under JIT, you can set `flags.Set(CORJIT_FLAGS::CORJIT_FLAG_USE_PINVOKE_HELPERS);` flag. It will hit the same problem.

The GC Info looks like this:

[code]

The problem is the `F9 1F 05 05    | 0045        call [ ] argMask=05 (iargs=05)`. It corresponds to `PINVOKE_BEGIN` call. `PINVOKE_BEGIN` should have no arg mask, just like the ac

[2020-04-11 03:26] jkotas commented on #34279
My guess is that the problem is missing `GT_START_PREEMPTGC` on the `ShouldUsePInvokeHelpers` path in `Lowering::InsertPInvokeCallProlog`

[2020-04-11 03:33] #26820 closed

[2020-04-11 03:33] #27015 closed

[2020-04-11 05:05] fadimounir commented on #32848
Fixed via #33733

[2020-04-11 05:05] #32848 closed

[2020-04-11 05:06] fadimounir commented on #34524
Fixed

[2020-04-11 05:06] #34524 closed

[2020-04-11 05:09] #12957 closed

[2020-04-11 05:10] tommcdon commented on #34625
@davmason

[2020-04-11 05:12] fadimounir commented on #13487
I believe this should be fixed now. Test is excluded from R2R lab runs using:
[code]

[2020-04-11 05:12] #13487 closed

[2020-04-11 05:13] tommcdon commented on #34624
@davmason

[2020-04-11 07:51] deokershesh commented on #34811
@gfoidl, You are right, I had given only example, not the same DLL at all.
Anyway, I figured out, by adding "<GenerateAssemblyInfo>false</GenerateAssemblyInfo>" in the project file and adding our own customized Assembly file in the the project, would solve the purpose.

Thanks for everyone's help and pointers.

[2020-04-11 07:51] #34811 closed

[2020-04-11 07:53] deokershesh commented on #34811
...False for " <GenerateAssemblyInfo>false</GenerateAssemblyInfo> " in the project file.... looks like tool chops off the special symbols!

[2020-04-11 07:54] deokershesh commented on #34811
...False for " <  GenerateAssemblyInfo  > false < / GenerateAssemblyInfo > " in the project file..

[2020-04-11 08:01] svick commented on #33877
I definitely like this idea, though I think it becomes much more valuable if you add the ability to compare multiple keys. That would mean instead of:

[code]

you could write something like:

[code]

[A NuGet package that implements this already exists](https://github.com/jehugaleahsa/ComparerExtensions), though, to my dismay, it's not very popular.

[2020-04-11 08:38] gfoidl commented on #34811
... or you use the values in `<PropertyGroup>` and omit the `AssemblyInfo.cs` (as this file will be generated by the tooling when the value is `true`). Either way will result in the same information in the assembly.

On benefit (amongst others) of using the csproj-Items is that they can be easily automated, e.g. via environment variables (use info from build-system, git-Tags, etc.).

[2020-04-11 08:59] marcusturewicz commented on #29293
I've had a crack at this with the following benchmarks:

[code]

which produces:

|                      Method |     N |        Mean |     Error |    StdDev |   Gen 0 | Gen 1 | Gen 2 | Allocated |
|---------------------------- |------ |------------:|----------:|----------:|--------:|------:|------:|----------:|
|        WriteStringMinimized |   100 |    159.3 ns |   0.42 ns |   0.37 ns |  0.2294

[2020-04-11 09:01] roji commented on #34817
@rgarrison12345 let's give this a bit more time to let other people comment and post their views; it's always good to have a consensus from multiple people involved in .NET database programming and drivers. Having said that, this indeed is a small non-breaking change, which I think we'll be able to get in to .NET 5.0.

[2020-04-11 09:44] mockte opened #34850 ".net core runtime 3.1 not work when centos reboot!!!!!"
OS: Centos 7.4

I  install .net core runtime version 3.1:

$sudo yum install aspnetcore-runtime-3.1

and run program:

$dotnet aaa.dll

it works!

then, i type reboot:

$reboot

ssh connection, run .net corre program:
$dotnet aaa.dll

.......
Did you mean to run .NET Core SDK commands? Install a .NET Core SDK from

it not work !!!, i must remove asp.net core runtime, and re-install, it works, if r

[2020-04-11 09:48] #6445 closed

[2020-04-11 11:42] MBurtsev commented on #33131
@danmosemsft I looked at the tests you pointed out. In this [folder](https://github.com/dotnet/performance/tree/master/src/benchmarks/micro/libraries/System.Collections/Concurrent). Using Task's to measure performance is not correct. Tasks are launched using the thread pool. Which does not guarantee instant start of thread. To obtain objective indicators, it is extremely important that the threads

[2020-04-11 11:47] MBurtsev commented on #33131
@stephentoub
I added a lot of unit tests that prove the absence of bugs. I would like to ask you to see [this code](https://github.com/MBurtsev/MBur.ConcurrentDictionary) if you have time for this.

[2020-04-11 11:50] MBurtsev commented on #33131
@jkotas As it turned out, my approach consumes 3 times less memory. Due to the lack of a linked list in the bucket.

![8](https://i.imgur.com/ryvAe3y.png)

[2020-04-11 11:53] sakno commented on #1674
@mangod9 , `EmptyLogEntry` is a struct, yes. However it is implementing interface which contains default implementation of the method. I still don't understand why it's incorrect.

[2020-04-11 11:57] jkotas commented on #34279
BTW: We may want to use `CORJIT_FLAG_USE_PINVOKE_HELPERS` for debug codegen / min-opts. It produces smaller and slightly slower code.

[2020-04-11 12:21] Joe4evr commented on #1674
@sakno You misunderstand your own code: `EmptyLogEntry` isn't implementing anything that contains a default implementation.

If I'm reading this right, the appropriate fix here should be for the compiler to expand `where TRecordImpl : TRecord` as all of `TRecord`'s constraints, and because those include the `class` constraint, it becomes a compiler error to pass a struct implementation.

[2020-04-11 12:22] Serentty opened #34852 "User-friendly single-file cross-platform binaries"
Looking at the documentation for .NET Core, it seems that even when generating cross-platform CIL DLLs, it's necessary to distribute a native app loader stub for each platform. What I would appreciate is a way to compile an application as a single file that you can double click and run on any operating system or CPU architecture (assuming that the runtime is already installed), similar to the expe

[2020-04-11 12:27] DrJohnMelville commented on #1674
@sakno The following code:
    private interface IAuditTrail<TRecord> where TRecord : class, ILogEntry

requires that the type argument to IAuditTRail much be a class.
      private sealed class AuditTrail : IAuditTrail<IRaftLogEntry>

attempts to instantiate IAuditTrail with an interface.  An interface is not a class, therefore IRaftLogEntry is not a valid type parameter to IAuditTrail, and the c

[2020-04-11 12:31] Joe4evr commented on #1674
@DrJohnMelville Interfaces will actually satisfy the `class` constraint perfectly fine.

[2020-04-11 12:36] DrJohnMelville commented on #1674
Thanks.  I just learned something.  I checked and you are right.

On Sat, Apr 11, 2020 at 8:31 AM Joe4evr <notifications@github.com> wrote:

[2020-04-11 13:14] sakno commented on #1674
Once again, the code from my original post can be compiled successfully by Roslyn compiler and produces valid IL code. I understanding that calling of interface method with default implementation which is not overridden by value type should cause boxing. This is fine. However, instead of this CLR just crashes.

[2020-04-11 13:31] sakno commented on #1674
@Joe4evr , thanks for fixing me. The original post was a long time ago)

[2020-04-11 14:04] g101519 commented on #34535
I have an unmanaged "plain" C application that places a GUI around the SQLite database machine.
The GUI then adds a scripting language "broadly" based on VB. To make it more flexible I added the ability to call COM objects using CreateObject, GetIDsofNames and Invoke.
(Totally independent of type libraries!)
Throw in DLL access and the ability to dynamically add GUI objects (Windows, edit fields,

[2020-04-11 15:06] Romanx commented on #31645
I managed to get the tests running on my machine after marking sure my default program for `.sln` files was the preview version of devenv and after pulling from master which seems to have fixed the TFM problem.

I started taking a look using the `ImmutableDictionary` example from above to help guide me through the codebase. The reason it stops is that `jsonPropertyInfo.RuntimeClassInfo.CreateObjec

[2020-04-11 15:55] #1074 closed

[2020-04-11 16:06] joshudson commented on #31228
@jkotas : Somebody needs to look at the failing test cases on the PR. The test cases are actually testing for the behavior being broken on Mac OSX.

[2020-04-11 17:09] sakno opened #34855 "Ping class ignoring timeout on Linux"
`Ping` class ignoring timeout on Linux when running from regular user, not from the root. I guess that the reason is in [SendPingCore](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Unix.cs) method which uses `ping` utility if raw socket cannot be created (due to non-root user). As a result, `timeout` used only for process exit on

[2020-04-11 17:26] sakno commented on #34855
My original use case is to use `Ping` class for path MTU discovery. The very simple code for this is [here](https://gist.github.com/sakno/d348b772f0842d0336a655df69e6bbf8). I was surprised that on Linux I got `IPStatus.TimedOut` result. On Windows, I have `IPStatus.PacketTooBig` as expected. Just pass large value to `timeout` parameter and you will see that freeze on `Send` method is no longer tha

[2020-04-11 18:06] sakno opened #34856 "Proposal: Memory and Span friendly overloads in Ping class"
I'm using `Ping` class for path MTU discovery using one of the proving method described [here](https://tools.ietf.org/html/rfc4821). My [implementation](https://gist.github.com/sakno/d348b772f0842d0336a655df69e6bbf8) sending packets with different MTU in a loop. Each iteration requires allocation of byte array in the heap. As a result, it produces a lot of garbage. It would be great to have Memory

[2020-04-11 18:15] vcsjones commented on #31944
@bartonjs makes sense. Since `AsymmetricAlgorithm` has similar functionality that takes content instead of paths, is that something we want to consider here?

[2020-04-11 18:16] sakno commented on #34856
I'm ready to fix that and create pull request if you will mark this issue with up-for-grabs label.

[2020-04-11 18:22] davidsh commented on #34856
Thank you for the issue. It looks like you are proposing several new APIs for the Ping class. Before you can submit a PR, these new APIs need to be reviewed and approved with our API review [process](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md).

[2020-04-11 18:23] davidsh commented on #34856
@scalablecory

[2020-04-11 18:24] davidsh commented on #34855
@wfurt

[2020-04-11 18:29] jnm2 commented on #33877
@svick One thing I've been favoring even with LINQ instead of ThenBy is to select a tuple:

[code]

The only thing this doesn't let you do is specify a comparer for each tuple element, but that's a proposal I have on my list to file separately from this because I want it without selectors too.

[2020-04-11 18:44] sakno commented on #34856
@davidsh , I need to wait for approve, right?

[2020-04-11 19:38] groogiam opened #34857 "dotnet publish leaving out local package dependencies"
I'm running into an issue after installing SDK 3.1.201 where dotnet publish is not publishing local package dependencies.  The project I am using references the blazor web assembly preview which I'm not sure if it is related to the issue. Adding the local package dependence directly to the published csproj does not seem to help either.

See csproj below. The reference AppPotion.Sandbox is dependen

[2020-04-11 19:46] davidsh commented on #34856
Yes. It needs to be formally reviewed and marked as "api-approved".

[2020-04-11 20:33] danmosemsft commented on #33131
@adamsitnik  thoughts about this?

[2020-04-11 20:58] stephentoub commented on #33131
Not true.
a) these are "LongRunning". Each is spinning up its own dedicated thread.
b) even if that wasn't the case, barriers are being used to block all the workers until they all reach the point to be measured, and measurement doesn't start until all threads have reached that point.

[2020-04-11 21:13] kEpEx opened #34858 "Unable to ignore SSL certificate validation, request in curl works fine"
I am getting the exception bellow when calling a specific HTTPS url, it works for others and same url works fine with curl and other clients.

Our system setup:

OS: Ubuntu 16.04 amd64
Dotnet Core Version: 3.1.100

Curl in same server for same exact URL returns fine.
Note that the callback and the exception triggers after around 100 seconds, like a client timeout it seems

I am aware of the possib

[2020-04-11 21:16] MBurtsev commented on #33131
[code]

[2020-04-11 21:31] GrabYourPitchforks commented on #34812
/cc @davidwrighton as FYI since we were coincidentally talking about this just the other day.

[2020-04-11 22:08] wfurt commented on #34855
That sounds reasonable. It seems like that should work with busybox as well as OSX & FreeBSD.

[2020-04-11 22:11] MBurtsev commented on #33131
@stephentoub Yes, you are right, i can use tasks if barriers are used. This is so obvious. In my tests, I started threads manually, I used barriers the same way, and I don't see a problem in this.

[2020-04-11 22:14] sunkin351 opened #34859 "`Matrix4x4.CreateLookAt()` does not create a matrix with proper translation"
I attempted to use this method to create a proper lookat matrix for Vulkan, went to render, and found that the rendered geometry wasn't properly translated away from the camera.

I ported GLM's LookAt function to C# which translated the geometry properly away from the camera to make sure there was not a bug in my code.

Reference glm implementation:
[code]

[2020-04-11 22:38] eriawan commented on #30457
@danmosemsft
I'll take the System.Runtime.Serialization.Formatters. PR fpr will be submitted today.

[2020-04-11 23:05] davidwrighton commented on #34812
:) This brings back memories of the early days on the .NET Native project, when we actually implemented this type, and tied it into Monitor (so uses of this `Lock` type were really great, and other objects had a perf penalty due to the cost of checking for the `Lock` type. We eventually concluded penalizing all existing `Monitor.Lock` usage (even slightly) was a poor choice, and reverted back to s

[2020-04-11 23:19] stephentoub commented on #34812
Why? What prevents us from just removing that?

[2020-04-11 23:22] benaadams commented on #34812
Is this due to the min size of 12 bytes?

https://github.com/dotnet/runtime/blob/c06810bf654e09f016fe34dd2b4ac31fb73370a1/src/coreclr/src/vm/object.h#L108-L111

What would be performance the drawback? Due to an extra `_lock.GetType() == typeof(object)` check to determine the code path?

[2020-04-11 23:26] wfurt commented on #34858
curl on Ubuntu 16 .04 uses GnuTLS instead of OpenSSL so validation restrictions will be different. You can check with `curl --version`. However, with custom callback you should be able to bypass validation and you should be able to connect even to untrusted servers.

Can you post output from `openssl s_client -connect sjc04p1galap01.teslamotors.com:8904`

[2020-04-12 00:51] tannergooding commented on #34859
There are both `left-handed` (https://github.com/microsoft/DirectXMath/blob/master/Inc/DirectXMathMatrix.inl#L2044-L2066) and `right-handed` (https://github.com/microsoft/DirectXMath/blob/master/Inc/DirectXMathMatrix.inl#L2057-L2066) implementations.

They are functionally similar but with `f` being inversed. That is:
* in `left-handed` you do `target - position`
* in `right-handed` you do `positi

[2020-04-12 02:23] jkotas commented on #34812
This implementation is still [there](https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/Threading/Lock.cs) .

In CoreCLR, the lock can take two paths: The thinlock path that just flips the bit in the object header is used as long as there is no contention that requires waiting or other special situations. Once the thin lock hits the contention, the syncblock (a piec

[2020-04-12 02:42] marcusturewicz commented on #15660
I have tried running the following test on OSX, but the `getValue` returned is null rather than the expected empty string. Is this what you were intending?

[code]

[2020-04-12 02:42] sunkin351 commented on #34859
How do we reverse "handedness" in the meantime? And being that XNA is discontinued at this time, do you think we can, you know, reverse the handedness of this method?

[2020-04-12 04:35] kEpEx commented on #34858
Hi the output is bellow,  @wfurt  can you please kindly edit out the servername, I would prefer to keep it private I forgot to remove it earlier.

curl --version output

    curl 7.47.0 (x86_64-pc-linux-gnu) libcurl/7.47.0 GnuTLS/3.4.10 zlib/1.2.8 libidn/1.32 librtmp/2.3
    Protocols: dict file ftp ftps gopher http https imap imaps ldap ldaps pop3 pop3s rtmp rtsp smb smbs smtp smtps telnet tftp

[2020-04-12 08:38] GSPP commented on #34648
Would it be possible to define an event for when a GC has occurred? This would be a natural complement.

The event could receive a GCInfo for that GC cycle. One issue here is that GCInfo is mutable (the arrays in it). Is it possible to make GCInfo completely immutable from the start?

[2020-04-12 08:56] egmkang opened #34863 "one thread allocate too many object will effect other threads work"
![5](https://user-images.githubusercontent.com/65175/79064577-a587a100-7cdc-11ea-80a0-867b55eefcab.png)

in this thread, a lot of **mongodb writing operation** will be executed. it seems like mongodb C# driver is not a well design library, it allocate too many objects.

and this cause computation intensive part (of my application) runs very slow.

my appliance has many Producer Consumer Work, such

[2020-04-12 10:12] yyjdelete commented on #1918
@Anipik
Seems the buildin version of System.Runtime.CompilerServices.Unsafe in net5.0(preview) now has two AssemblyRef at the same time: System.Runtime 4.0.0.0 and 5.0.0.0. But it works well and seems nothing is affacted . So is this by design or another issue?

[2020-04-12 10:31] roji commented on #34817
A couple more thoughts on in-driver and external resilience from the conversation with @saurabh500 (this doesn't have a direct bearing on this issue):

* Azure SQL seems to *require* clients to implement retrying strategies, because apparently transient errors there are a normal occurrence, as opposed to other scenarios. I'm not aware of the same thing with other cloud database services (e.g. Citu

[2020-04-12 10:50] FransBouma commented on #34817
It's new to me that SQLClient does the retrying itself on Azure, is this behavior introduced in Microsoft.Data.SqlClient? As I had to deliberately implement retry strategies for azure for System.Data.SqlClient.

[2020-04-12 11:50] roji commented on #34817
I think the relevant info is in https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connectivity-issues#net-sqlconnection-parameters-for-connection-retry, but @saurabh500, @David-Engel and @cheenamalhotra can provide more info.

[2020-04-12 14:30] jkotas commented on #1918
@yyjdelete Thanks for letting us know. I have submitted a fix in https://github.com/dotnet/runtime/pull/34870

[2020-04-12 15:36] flatrick opened #34871 "Path.GetFullPath() doesn't throw exception with malformed paths"
# General

I was trying to write a function to validate that a pathway was even remotely correctly supplied before trying to create the folder-structure, and I noticed that no matter what I did, it never threw the **NotSupportedException** that I was expecting, it wasn't until I tested the same code in .Net Framework 4.7.2 that it behaved as expected.

For example, with .Net Core 3.1.201, it doesn

[2020-04-12 15:41] tannergooding commented on #34859
I don't think that breaking change is worth it. Various engines use one of the handedness or the other and there isn't really a "correct" default. Even between DirectX, Vulkan, and OpenGL, they all use a different handedness and/or origin which impacts how your vertices are rendered, the default winding order, etc.

Instead, we should likely just update the documentation to explicitly call out the

[2020-04-12 18:05] saurabh500 commented on #34817
@FransBouma The behavior was introduced in System.Data.SqlClient.SqlConnection.Open() in 4.6.1 and has been carried over to Microsoft.Data.SqlClient. The link above from @roji provides the connection string parameters that can be used to control this feature.

@roji
Whether this specific feature is available in other drivers or not, I am not sure about it. @David-Engel and @cheenamalhotra will def

[2020-04-12 18:27] roji commented on #34817
Don't get me wrong, given that Azure SQL DB works this way, I think it does make sense for SqlClient (and other drivers) to implement this, otherwise it seems that it would be unusable with Azure on its own. However, what is basically happening is that Azure SQL DB is passing a mandatory resiliency handling burden onto its clients (i.e. onto drivers), where it would have been better to it to simpl

[2020-04-12 18:29] drieseng opened #34872 "Socket considered connected when Select is interrupted by shutdown"
When a (blocking) `Socket.Select(...)` is interrupted by a `Socket.Shutdown(SocketShutdown.Both)` from another thread, in some cases `Socket.Connected` continues to return **true** for some time on Linux.

Even though **Socket** compatibility with .NET Framework has greatly improved in .NET 5.0 Preview 2 (due to https://github.com/dotnet/corefx/pull/38804?), the result on Linux is still not always

[2020-04-12 18:59] danmosemsft commented on #34871
This is by design. There is an open issue to fix the docs, which we would welcome a contribution to if you're interested.
https://github.com/dotnet/dotnet-api-docs/issues/1685
You can see the rationale in the issue /PR linked from there. Can you just try to create the path?

[2020-04-12 19:02] danmosemsft commented on #34863
It seems this is a bug report for the mongodb driver? @roji thoughts?

[2020-04-12 19:05] danmosemsft commented on #15660
It's it indeed the case that on macos the empty and undefined values are distinct? If so the API should probably distinguish. (What about Linux?)

[2020-04-12 19:09] danmosemsft commented on #34856
@sakno could you give a sample usage? How is this better than just pooling the buffers you pass in? Are you trying to pass views over one large buffer?

[2020-04-12 19:23] roji commented on #34863
@egmkang thanks for submitting this. If I'm understanding you correctly, you're saying that your usage of the MongoDB driver creates an unexpectedly huge amount of allocations, leading to very high CPU usage? And that this slows down your other threads which are attempting to do computation?

If so, this indeed sounds like an issue to be raised with the MongoDB people, but are you able to reproduc

[2020-04-12 19:28] saurabh500 commented on #34817
I am curious as to where this discussion is going. What are you planning to achieve from this discussion about retries?
I have put in a bunch of historical data points here about what how we handled it with Azure SQL DB and I feel that I am giving the wrong perception that Azure SQL DB is full of problems with with transient errors. Certainly not the picture I was trying to paint :)

I know about

[2020-04-12 20:17] sakno commented on #34856
@danmosemsft , the example in my gist which is specified in the original post. Path MTU discovery algorithm uses half-interval search between lowest and highest possible MTU values. As a result, it's not possible to pre-allocate byte arrays. `ArrayPool<byte>` can't help me because I need precise length of the array. These overloads can help me because then I able to use `ArrayPool<byte>` and alloc

[2020-04-12 20:38] Rodrigo-Andrade opened #34873 "[Uri] A lightweight alternative for System.Uri"
As the `SocketsHttpHandler` gets faster, many of my hot paths are now in `System.Uri class.`

There is a lot of parsing in any case of paths and/or QueryString parameters that varies on each request. `System.Uri` will always validate the entire string, not to mention that a string must be allocated each time. Would be nice to have an alternative, be forsake `System.Uri` for a new type in `HttpRequ

[2020-04-12 20:40] davidsh commented on #34873
@MihaZupan

[2020-04-12 20:50] ptasev opened #34874 "Matrix4x4 Decompose failing"
I'm not sure if this is a bug (since I don't quite understand the math fully) and I was hoping someone here could tell me.  I am creating an SRT matrix, and then inverting it.  When I decompose the inverted version it fails.  Is this behavior expected?

I am using dot net core 3.1.3. My CPU is AMD Ryzen 5 2600.
[code]
I'm starting to think this is due to floating point precision. I see the impleme

[2020-04-12 20:56] Rodrigo-Andrade commented on #525
@scalablecory sory, for some reason i didn't see this sooner.

We have a bunch of microservices and an API Gateway that runs on dotnet core. I am kind of the "performance guy" and every time there are issues of performance i get to profile a different system on a different team. After most obvious optimizations, most performance to win are from HttpClient.

Things got really better,  but making ht

[2020-04-12 21:12] svick commented on #34856
* Is there a reason for including `SendAsync` overloads, when we have `SendPingAsync`?
* Should the new overloads of `SendPingAsync` return `ValueTask<PingReply>`? It has the potential to avoid `Task`-related allocations.

[2020-04-12 21:51] roji commented on #34817
Sorry @saurabh500, that's not at all what I wanted to express...

I really think SqlClient is doing the right thing here, and am not criticizing any of it. I also admit most of the above isn't very relevant in a concrete way to this proposal (which is just about adding IsTransient to DbException).

The above comes only from my surprise in learning that Azure SQL DB passes the burden of resilience

[2020-04-12 22:34] sakno commented on #34856
@svick , usage of `ValueTask` is useless due to request-reply nature of ICMP. When using sockets, sending requests and waiting for the reply in 99,9999% cases will never be completed synchronously. Under the hood, the current implementation uses `Socket.ReceiveFromAsync` which has `Task` return type. Of course, you can derive from `SocketAsyncEventArgs` and use `ManualResetValueTaskSourceCore` to

[2020-04-12 22:39] sakno commented on #34855
It looks like BusyBox [supports](https://busybox.net/downloads/BusyBox.html#ping) necessary flag.

[2020-04-12 22:55] meziantou opened #34876 "System.ArgumentNullException in JsonSerializer.SerializeAsync when serializing ImmutableArray<T>"
[code]

[code]

[code]

[2020-04-12 23:20] stephentoub commented on #1483
Today on Unix we just throw a PlatformNotSupportedException if a non-null accept Socket is supplied:
https://github.com/dotnet/runtime/blob/c09a25e1e21a36cf0625fb0d871f6b1e5402495e/src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Unix.cs#L149-L159
Instead, we would need to:
- Allow a non-null Socket, but put it aside for the moment
- Perform the accept using a new Socket, as the Unix

[2020-04-13 00:16] ispysoftware opened #34879 "icmp ping broken on osx under su account with PingOptions"
icmp ping broken on osx under su account

# General

in a dotnet core app calling ping works if not running under the super user account. If you run it as root it fails with operation not supported errors.

using dotnet core v3.1.201 on OSX Mojave

sample app provided. Output:

seans-Mac-mini:Agent sean$ dotnet testping.dll
found 192.168.15.1
found 192.168.15.7
found 192.168.15.0
found 192.168.15.

[2020-04-13 01:26] marcusturewicz commented on #1483
Ok. I'll have a go at implementing this, including tests.

[2020-04-13 01:57] stephentoub commented on #1483
Thanks!

[2020-04-13 01:58] marcusturewicz commented on #1483
Is this on the right track?

[code]

[2020-04-13 02:00] stephentoub commented on #1483
Yes and no. Yes, that's the kind of copying to be done. No, this isn't the right place to do it: it would need to be after the accept had already happened.

[2020-04-13 02:14] scalablecory commented on #34879
@wfurt

[2020-04-13 02:17] marcusturewicz commented on #15660
Not sure about Linux, but I'm able to set an empty env variable on macos:

<img width="383" alt="Screen Shot 2020-04-13 at 12 10 42 pm" src="https://user-images.githubusercontent.com/24448509/79086566-dff64a00-7d7f-11ea-8dec-e41daf1f6aae.png">

This cannot be set via .NET, as per above test, so is this a bug then?

[2020-04-13 02:42] egmkang commented on #34863
@roji I mean, not all libraries are well designed, can GC make some improvements in this case? there are a lot object that used for only one time, in C++/Rust they have RAII and libc's object pool, objects allocated on the heap is a little problem.

but in .net, we can only rely on GC, or rewite library using ArrayPool or something, that is hard and a lot of work.

[2020-04-13 03:47] davidfowl commented on #34863
Well the GC can only do so much, sometimes libraries need to do the work. We should improve both but it would be better to improve the mongodb library so that everyone wins (esp older platforms that don’t have those GC improvements)

[2020-04-13 04:17] v-haren opened #34881 "Test failure: Loader/AssemblyDependencyResolver/AssemblyDependencyResolverTests/AssemblyDependencyResolverTests/AssemblyDependencyResolverTests.sh"
failed in job: [runtime-coreclr outerloop 20200412.3](https://dev.azure.com/dnceng/public/_build/results?buildId=598005&view=ms.vss-test-web.build-test-results-tab&runId=18835524&resultId=107112&paneView=debug)

Error message
[code]

[2020-04-13 04:26] v-haren opened #34882 "Test failure: Loader\\AssemblyDependencyResolver\\AssemblyDependencyResolverTests\\AssemblyDependencyResolverTests\\AssemblyDependencyResolverTests.cmd"
failed in job: [runtime-coreclr outerloop 20200412.3](https://dev.azure.com/dnceng/public/_build/results?buildId=598005&view=ms.vss-test-web.build-test-results-tab&runId=18835598&resultId=109084&paneView=debug)

Error message
[code]

[2020-04-13 04:55] wfurt commented on #34879
`at System.Net.Sockets.Socket.set_DontFragment(Boolean value)` this is not supported for IP AFAIK on OSX. We may need to skip it if it is set for RAW socket as well.

[2020-04-13 05:15] ispysoftware commented on #34879
@wfurt it only fails when run under super user account on OSX. Works fine on linux and windows.

[2020-04-13 05:17] wfurt commented on #34872
cc: @tmds

[2020-04-13 05:28] wfurt commented on #34879
yes, I understand that. https://stackoverflow.com/questions/4415725/ip-dont-fragment-bit-on-mac-os (and others) Unlike other systems, macOS does not support IP_DONTFRAG. It would be bug if we try to use it.  I'm not sure if we can make it work so this may throw PNSP or be silently ignored at the end. This will need some research.

[2020-04-13 05:29] v-haren commented on #33948
failed again in job: [runtime-coreclr gcstress-extra 20200412.1](https://dev.azure.com/dnceng/public/_build/results?buildId=598025&view=ms.vss-test-web.build-test-results-tab&runId=18835866&resultId=109218&paneView=debug)

Error message
[code]

[2020-04-13 05:31] ispysoftware commented on #34879
i'm not sure how it's working fine when run under the user account though.

The code I have is passing in false for don't fragment. If I don't pass in anything at all and exclude it from the SendAsync call it still fails with the same exception.

[2020-04-13 05:48] v-haren opened #34883 "Test failure: Interop/MarshalAPI/FunctionPointer/FunctionPtrTest/FunctionPtrTest.sh"
failed in job: [runtime-coreclr gcstress-extra 20200412.1](https://dev.azure.com/dnceng/public/_build/results?buildId=598025&view=ms.vss-test-web.build-test-results-tab&runId=18835866&resultId=100671&paneView=debug)

Error message
[code]

[2020-04-13 05:56] wfurt commented on #34858
Few thoughts on this @kEpEx. It is curious that the OpenSSL claims unknown CA. Maybe that is expiated few other people hit this. You can run 'openssl version -a' and check OPENSSLDIR to see where OpenSSL expects trusted CA certificates. That may be a link but make sure all the data are readable bu user you running as.  You can check https://askubuntu.com/questions/73287/how-do-i-install-a-root-cer

[2020-04-13 05:58] v-haren opened #34884 "Test failure: Loader\\classloader\\TypeGeneratorTests\\TypeGeneratorTest24\\Generated24\\Generated24.cmd"
failed in job: [runtime-coreclr gcstress-extra 20200412.1](https://dev.azure.com/dnceng/public/_build/results?buildId=598025&view=ms.vss-test-web.build-test-results-tab&runId=18836346&resultId=110530&paneView=debug)

Error message
[code]

[2020-04-13 06:03] svick commented on #34856
@sakno `ValueTask`-returning `Socket.ReceiveFromAsync` has been accepted (https://github.com/dotnet/runtime/issues/33418), so it's likely it will be in .Net 5. And while using `ManualResetValueTaskSourceCore` manually does add some complexity, if the return type is `Task`, you close that door forever. Also, if https://github.com/dotnet/runtime/issues/13633 is enabled, implementing allocation-avoid

[2020-04-13 06:21] egmkang commented on #34863
@davidfowl
thanks to reply.
my application have 24 logic thread  processing game message, and 16-32 thread writing MongoDB operation. the writing operation is using `block api`, not async's, the most is `IMongoCollection.UpdateOne`.  i used UpdateMany, it seems not fix this problem.

![6](https://user-images.githubusercontent.com/65175/79096784-a2e68380-7d90-11ea-9f0d-3eff85f0cf93.png)

now, i'm n

[2020-04-13 06:32] AaronRobinsonMSFT commented on #34883
This test was recently updated to permit throwing an exception instead of catching it and reporting a failure via `Console.WriteLine()`. See below for the previous version of the test: https://github.com/dotnet/runtime/blob/9ddbf5f63c8375aaabec83c3054af9bbf8107170/src/coreclr/tests/src/Interop/MarshalAPI/FunctionPointer/GetFcnPtrForDel_Negative_Security.cs#L28-L59

This would appear to be somethin

[2020-04-13 06:35] AaronRobinsonMSFT commented on #34883
@dotnet/jit-contrib Any known issues with exception handling and GC Info on ARM64? The test update was to remove the enclosing `try`/`catch` instead of using it to handle reporting failures.

[2020-04-13 06:43] jkotas commented on #34884
@fadimounir Is this duplicate of one of the GC stress issues you have been looking into?

[2020-04-13 06:53] jkotas commented on #34883
This is a looks like a bug in:

https://github.com/dotnet/runtime/blob/master/src/coreclr/tests/src/Interop/MarshalAPI/FunctionPointer/SingleMulticastTest.cs#L22

The delegate has to be kept alive for as long as the function pointer created from it can be used.

[2020-04-13 06:57] drieseng opened #34886 "Socket.Select throws ObjectDisposedException when one of the sockets is disposed"
In (desktop) .NET Framework, `Socket.Select(....)` throws a **SocketException** when one of the sockets that you specify is disposed:

In .NET Core 2.1 and 3.1, this is also the exception that is thrown on Windows. On Linux, no exception is thrown.

Now in .NET 5.0 Preview 2, an **ObjectDisposedException** is thrown on both Windows and Linux:

To reproduce, compile and run the following code fragm

[2020-04-13 06:59] wfurt commented on #34879
When executed as regular user, process does not have access to raw sockets so the Ping will spawn new process for every request using system ping utility.

The code will try to set DontFragment as long as options are provided:

https://github.com/dotnet/runtime/blob/21a7f5e1a6538214804fb6ed2dbbed28d025ed3b/src/libraries/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Unix.cs#L82-L85

You ca

[2020-04-13 06:59] jkotas commented on #34882
Duplicate of #34881

[2020-04-13 06:59] #34882 closed

[2020-04-13 06:59] v-haren commented on #34110
failed again in job: [runtime-coreclr crossgen2 outerloop 20200411.1](https://dev.azure.com/dnceng/public/_build/results?buildId=597748&view=ms.vss-test-web.build-test-results-tab&runId=18828686&resultId=100318&paneView=debug)

failed test: baseservices/threading/paramthreadstart/ThreadStartGenerics_1/ThreadStartGenerics_1.sh

Error message
[code]

[2020-04-13 07:09] v-haren commented on #33464
failed again in job: [runtime-coreclr crossgen2 outerloop 20200411.1](https://dev.azure.com/dnceng/public/_build/results?buildId=597748&view=ms.vss-test-web.build-test-results-tab&runId=18829224&resultId=107324&paneView=debug)

failed test: tracing\\eventpipe\\eventsvalidation\\GCFinalizers\\GCFinalizers.cmd

Error message
[code]

[2020-04-13 07:09] sakno commented on #34856
@svick , I think that `ReceiveMessageFromAsync` with `ValueTask` can be completed synchronously only if the incoming packet has been received and already placed to OS packet scheduler. In case of ICMP echo it will always be false just because CPU is faster that network and at the time of `ReceiveMessageFromAsync` call, the response is not yet received.

[2020-04-13 07:17] v-haren commented on #32844
failed again in job: [runtime-coreclr crossgen2 outerloop 20200411.1](https://dev.azure.com/dnceng/public/_build/results?buildId=597748&view=ms.vss-test-web.build-test-results-tab&runId=18829224&resultId=107184&paneView=debug)

failed in test: Loader\\binding\\tracing\\BinderTracingTest.Basic\\BinderTracingTest.Basic.cmd

Error message
[code]

[2020-04-13 07:19] jkotas commented on #34881
The test depends on internal implementation details that got changed by https://github.com/dotnet/runtime/pull/34813

[2020-04-13 07:54] egmkang commented on #34863
i change the gc mode to ServerGC, it looks like better now.  up to 4700 qps writing looks good.

workstation gc is not good. in my complex case, it cannot work well.

[2020-04-13 08:11] v-haren opened #34887 "Test failure: System.Text.Json.Tests.Utf8JsonWriterTests.WriteLargeJsonToStreamWithoutFlushing"
failed in job: [runtime-libraries outerloop 20200412.1](https://dev.azure.com/dnceng/public/_build/results?buildId=597835&view=ms.vss-test-web.build-test-results-tab&runId=18829848&paneView=debug&resultId=103121)

Error message
[code]

[2020-04-13 08:12] wfurt commented on #34855
I would personally use ceiling. Since Unix is not generally real-time OS, timeout(x) usually means atLeast(x). It seems like in most cases waiting little bit longer and getting positive answer would be more appreciated than failing - as long as there is some cap to avoid super long delays.

[2020-04-13 08:21] v-haren opened #34888 "test failure: Microsoft.Win32.SystemEventsTests.CreateTimerTests.TimerElapsedIsRoughlyEquivalentToInterval"
failed in job: [runtime-libraries outerloop 20200412.1](https://dev.azure.com/dnceng/public/_build/results?buildId=597835&view=ms.vss-test-web.build-test-results-tab&runId=18830130&paneView=debug&resultId=102059)

Error message
[code]

[2020-04-13 08:29] MihaZupan commented on #34873
It tries not to - it will lazily parse more if/when some properties are actually read. One big problem with this rn is that if the Uri contains just a single non-ascii char/escaped sequence it will give up completely and do a full parse every time. Changing this would be beneficial, though not trivial.

Before considering a new type, we should invest into perf improvement opportunities in the Uri

[2020-04-13 08:32] MaximLipnin commented on #34749
@danmosemsft I've updated the PR description with the example of the output.

[2020-04-13 08:54] MaximLipnin commented on #31857
[code]

[2020-04-13 08:57] MaximLipnin commented on #31857
https://github.com/dotnet/runtime/blob/5cd7e970487c4cc9ae652185a2f867159c48c9a0/src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/DynamicILInfo.cs#L132-L136

[2020-04-13 08:59] Joe4evr commented on #1674
According to a chat with @CyrusNajmabadi, this appears to be legal according to the C# spec and maybe it *should* be fixed in the runtime:

(Emphasis mine) [Source](https://github.com/dotnet/csharplang/blob/master/spec/classes.md#type-parameter-constraints) (several paragraphs down, [image](https://files.gitter.im/dotnet/roslyn/nGuM/image.png)).

[2020-04-13 09:01] MaximLipnin commented on #31858
[code]

[2020-04-13 09:02] CyrusNajmabadi commented on #1674
this is also legal and both compiles and runs today:

[code]

The `class` constraint only impacts the type parameter it is actually declared against.  It doesn't require a dependent type parameter also have that constraint.  It would also be a large breaking change to reuqire that (as it would break those simple examples demonstrated above).

[2020-04-13 09:05] MaximLipnin commented on #31858
https://github.com/dotnet/runtime/blob/5cd7e970487c4cc9ae652185a2f867159c48c9a0/src/mono/netcore/System.Private.CoreLib/src/System/Reflection/Emit/DynamicILInfo.cs#L125-L130

[2020-04-13 09:49] alexalok opened #34891 "Inconsistencies with folder publishing commands between NET.Sdk and NET.Sdk.Web projects"
I have noticed that it is impossible to use the same command to publish both Console and Web applications to a folder. I have created a minimal repro that is available here: https://github.com/alexalok/DotNetPublishIssue. In this repo there are two projects, both of them having a directory publish profile with a custom directory set. I have observed that `dotnet build` and `dotnet publish` behave

[2020-04-13 10:17] marcusturewicz commented on #4850
This file doesn't seem to exist anymore so can this issue be closed?

[2020-04-13 10:23] alexalok commented on #34891
Update: I have found out that explicitly specifying directory via `/p:PublishDir=` switch works with `dotnet publish` and Web application, using `dotnet publish` with this switch in both application types is a viable workaround.

[2020-04-13 10:23] marcusturewicz commented on #4860
Is this still relevant or can it be closed?

[2020-04-13 10:45] marcusturewicz commented on #12815
Not sure why the original PR https://github.com/dotnet/coreclr/pull/25741 was closed, but was this correct?

[2020-04-13 10:52] Hermholtz opened #34892 "Add SynchronizedCollection<T> to .NET Core"
My use case is an ordered collection of items (I need to preserve the order in which they've arrived) **which is mutable** (sometimes, albeit rarely, an item may be removed), which may be modified by different threads (Add/Remove), where the final enumeration is done by a single thread.

There is no collection in System.Collections.Concurrent or other standard namespaces that implement `Remove<T>(

[2020-04-13 10:53] ViktorHofer commented on #34891
Moving to dotnet/sdk.

[2020-04-13 11:15] ViktorHofer commented on #31872
What if we change the default not just for VS so that a `dotnet build` on an individual projects builds all configurations as well? That would be the expected behavior that you get from the sdk by default.

[2020-04-13 11:27] michkot commented on #21042
I digged for ~4hrs via google into several SO issues and various dotnet/* github issues and MS.com docs, to find out more about this, what I found out:

- .csproj with OutputType Exe and TFM netstandard produces a binary (with .dll suffix, but that's nothing new in the portable .NET world)
- Mono really seems to run these somehow (how well?) , here at https://github.com/dotnet/runtime/issues/21042

[2020-04-13 11:31] reflectronic commented on #34892
`SynchronizedCollection<T>` is actually available in .NET Core, in the [System.ServiceModel.Primitives](https://www.nuget.org/packages/System.ServiceModel.Primitives/) package.

However, to your point, have you looked at Immutable Collections? They are designed to be immutable data structures that are safe to use and update concurrently. For example, you could safely do `RemoveAt` concurrently wit

[2020-04-13 11:37] gbalykov opened #34894 "CoreCLR build failure with ./src/coreclr/build-runtime.sh"
After #34697 `clr.buildtools` in build.sh subsets is required for native build, however, build-runtime.sh doesn't seem to be changed accordingly

1) ok
[code]

2) error
[code]

[code]

cc @alpencolt

[2020-04-13 11:38] Dewera opened #34895 "Add support for Span<T> and/or Memory<T> to PEReader"
The PEReader class currently only supports Streams and ImmutableArray<Byte> in a safe context and a   Byte* in an unsafe context. If working with the new API's (Span<T> / Memory<T>) you are required to make an unnecessary copy into an array of bytes before creating a Stream or ImmutableArray over the array to initialise a PEReader. It would be nice to see support for the new API's to avoid these u

[2020-04-13 11:48] reflectronic commented on #21042
Some of this is related to https://github.com/dotnet/runtime/issues/34852, which asks for a portable executable binary format

[2020-04-13 12:27] am11 commented on #34894
Workaround for `build-runtime.sh` is:

[code]

[2020-04-13 12:29] gbalykov commented on #34894
Thanks!

[2020-04-13 12:29] #34894 closed

[2020-04-13 12:30] Hermholtz commented on #34892
Thank you... I tried to find the package but failed because there are multiple System.ServiceModel.* packages. [The docs](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.synchronizedcollection-1?view=netframework-4.8) are only available for .NET Framework 4.8, not .NET Core and they mention System.ServiceModel.dll...

As for Immutable Collections, they're quite fast, I'll lo

[2020-04-13 12:30] #34892 closed

[2020-04-13 12:31] gbalykov commented on #34894
Actually, shouldn't this be enabled by default for build-runtime.sh?

[2020-04-13 12:37] KerosenoDev commented on #30820
Hi. In ConfigureServices I have added:

`services.AddControllers().AddJsonOptions (options => options.JsonSerializerOptions.ReferenceHandling = ReferenceHandling.Preserve);`

But when I run it I keep getting this error:

`System.Text.Json.JsonException: A possible object cycle was detected. This can either be due to a cycle or if the object depth is larger than the maximum allowed depth of 32. Con

[2020-04-13 12:55] Rodrigo-Andrade commented on #34873
I don't have examples of the most expensive uris, but i think i have an snapshot of a trace from our Api Gateway (runs on dotnetcore), it sees all uris from all microservices.

![image](https://user-images.githubusercontent.com/1174384/79121866-b3850280-7d6c-11ea-9afb-ff25606c9d85.png)

This is the use breakdown from that app.

I'll try to check if non-ascii chars is a common case.

[2020-04-13 13:23] am11 commented on #34894
On supported platforms like Linux arm{64} and x{86,64} with {g,musl}libc, I think it should. We can apply https://github.com/dotnet/runtime/commit/a4486f769a4e10e6c91b549e4e46f7ccbf021833#diff-341bf51f34e3c6ab4a7abd4bc0a09880 to `build-runtime.sh` with condition:

[code]
in `build_tools()` function (like done in `restore_optdata()`). This way, it will abide by the existing `-skipmanaged` switch se

[2020-04-13 13:37] jasonpugsley opened #34897 "Use correct OpenSSL libraries for FreeBSD"
src/libraries/Native/Unix/System.Security.Cryptography.Native/opensslshim.c

`OpenLibrary()` doesn't currently find the correct libraries on my FreeBSD 11.3 build box.

The version of OpenSSL included in the base 11.3 install is 1.0.2
[code]
OpenSSL 1.1.1 can be installed with the FreeBSD package manager
[code]

`OpenLibrary()` needs to look for `libssl.so.11` and `libssl.so.8` to support these ve

[2020-04-13 13:38] gbalykov commented on #34894
@am11 what I meant was that `DFEATURE_SINGLE_FILE_DIAGNOSTICS=OFF` could be enabled by default in build-runtime.sh, keeping other semantics the same (i.e. no tools build in build-runtime.sh)

[2020-04-13 13:42] am11 commented on #34894
Other similar features which depend on msbuild are on by default, so by principle of least surprise, it can also be disableable with `-skipmanaged`, and should work on supported platform (which is currently broken and this issue is tracking).

[2020-04-13 13:51] jkotas commented on #34881
@EgorBo Could you please take a look? This test is failing in all CoreCLR jobs.

[2020-04-13 14:04] jasonpugsley commented on #34897
#34898

[2020-04-13 14:07] tmds commented on #34886
This is caused by https://github.com/dotnet/corefx/pull/41763.

With the old behavior, no reference counting was performed. The `SocketException` refers to using a handle which is no longer a socket.
In a worse scenario, the handle could have been reused for a different `Socket` causing the `Select` to be performed against the wrong socket.

With the change, `Select` will require the handle to be

[2020-04-13 14:07] AaronRobinsonMSFT commented on #34883
@jkotas Yeah. I thought that too, but this code didn’t really change here between the current version and past and is now failing. I guess there is the scope but I thought that was the same as the try/catch block. How was the previous okay if the current is not?

[2020-04-13 14:15] jkotas commented on #34883
The previous code was caching the delegate in static variable. It kept the unmanaged marshaled delegate alive.

The current code is caching it in a local. The local scope does not guarantee that object reference stays alive. The JIT is free to stop reporting the reference to the GC after its last use (ie much earlier than end of the variable scope).

This is very common gotcha with delegate marsha

[2020-04-13 14:17] jkotas commented on #34883
Also, bugs like this can come and go due to very subtle changes. The exact place where the JIT stops reporting the reference to the GC depends on how optimizations kick in.

[2020-04-13 14:25] AaronRobinsonMSFT commented on #34883
Doh. I completely missed I converted the stored variable to a local from a static. Yes I see the issue now. Will fix.

[2020-04-13 14:54] bartonjs commented on #31944
@vcsjones `CreateFromPem` as a sister API (with higher testability) seems fine; though I expect the main scenario for this one to be from-file.

[2020-04-13 15:17] vcsjones commented on #31944
Updated.

Makes sense; agreed.

[2020-04-13 15:20] jcagme commented on #33111
Where do you see the versions? When looking for a package in VS, looking at the blob feed, or?

[2020-04-13 15:54] Jozkee commented on #30820
@KerosenoDev that's a current problem in ASP.NET side which make it unaware of new features in `JsonSerializerOptions`; for now you can workaround it by passing an `Encoder`.
[code]
cc @pranavkm

That is already fixed in https://github.com/dotnet/runtime/pull/34700.

[2020-04-13 16:00] AaronRobinsonMSFT commented on #13273
@maikebing Have you been able to try the suggestion by @jkoritzinsky? If the above isn't possible, is there some semantic dependency on `UnmanagedType.ByValTStr` that requires its application in the above scenario?

[2020-04-13 16:06] AaronRobinsonMSFT commented on #13273
@maikebing Just to elaborate on this. Changing/updating the semantics of `UnmanagedType.ByValTStr` isn't something that is likely to happen. This is an area where the cost of any breaking change isn't worth the benefit. This would warrant further consideration if porting from .NET Framework to .NET Core is the scenario and the semantics have changed.

The suggested plan would be to follow @jkoritz

[2020-04-13 16:07] maikebing commented on #13273
`char[][MarshalAs(UnmanagedType.ByValArray)]
`
Cannot be used for utf8 or Chinese characters

I used
`byte [][MarshalAs(UnmanagedType.ByValArray)]
`
 So, every field needs to be converted to a string, which can be done, but I don't think it should be so cumbersome.

So, I hope it can still be done directly in some way.

[2020-04-13 16:12] maikebing commented on #13273
Is there any way to add a method or option, the last byte does not change to `\0`, and add a `\0 `as the end of the character?

[2020-04-13 16:15] maikebing commented on #13273
This usage is commonly used to interact with other languages, such as the structure of the C language that is directly mapped to the structure of C# .

[2020-04-13 16:24] AaronRobinsonMSFT commented on #13273
Cannot be used for utf8 or Chinese characters

Ah ha. That is an important consideration we missed. Thank you for calling it out.

byte [][MarshalAs(UnmanagedType.ByValArray)]

Yep. That is the appropriate solution here.

Possibly, but that would require a new API and therefore a [proposal](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md). I don't know if this part

[2020-04-13 16:28] BruceForstall commented on #34684
@egmkang Isn't this the same as #34678?

@janvorli This looks like a PAL/Linux kernel issue.

[2020-04-13 16:32] maikebing commented on #13273
Indeed it is.

[2020-04-13 16:35] ericstj commented on #1918
That fix was incomplete.  We need to update all versions of the assembly.

[2020-04-13 16:35] #1918 closed

[2020-04-13 16:36] elinor-fung commented on #870
Documentation has been updated to indicate that self-contained .NET Core COM components are not supported: dotnet/docs#17792

[2020-04-13 16:36] #870 closed

[2020-04-13 16:50] David-Engel commented on #34817
@roji SqlClient is the most feature-rich in terms of this type of functionality, but yes, other drivers do implement resilience logic. ODBC has automatic connection open retry logic, for example and automatic reconnection of idle connections which have been disconnected by network devices. Saurabh touched on what I believe is the biggest use case for these features: existing/legacy applications wh

[2020-04-13 16:55] pepone commented on #25344
Having gathered write will allow to optimize the SSL Record size in SslStream, currently if you have several buffers and use separate Write calls it will create separate records adding more overhead

See https://hpbn.co/transport-layer-security-tls/#optimize-tls-record-size

[2020-04-13 16:55] #28160 closed

[2020-04-13 16:59] roji commented on #34817
Thanks @David-Engel, makes complete sense.

Let me know if you guys think that the IsTransient property proposed here makes sense as-is (as well as SupportsTransienceDetection).

[2020-04-13 17:14] #34197 closed

[2020-04-13 17:18] patrickiscoding opened #34904 "Pass proxy to handler IHttpClientFactory"
I would like to somehow pass a proxy when creating an instance of IHttpClientFactory. I know you can configure a HttpClientMessageHandler in Startup.cs but then I can't change the proxy afterwards. Normally I would just create a HttpClient each time I need it and pass a proxy to the handler i'm using for it. How would I do this when using IHttpClientFactory?

[2020-04-13 17:18] jaredpar opened #34905 "AssemblyDependencyResolverTests failing"
## Loader/AssemblyDependencyResolver/AssemblyDependencyResolverTests/AssemblyDependencyResolverTests/AssemblyDependencyResolverTests.sh

### Console Log Summary

[code]

### Builds
|Build|Pull Request | Test Failure Count|
| --- | --- | --- |
|[#597929](https://dev.azure.com/dnceng/public/_build/results?buildId=597929)|Rolling|8|
|[#597960](https://dev.azure.com/dnceng/public/_build/results?buildI

[2020-04-13 17:21] danmosemsft commented on #15660
As pointed out above, SetEnvironmentVariable in .NET Core and .NET Framework unfortunately treat empty value as null, which removes the variable. This would be too breaking to change now, I think.
https://github.com/dotnet/runtime/blob/65d5a72c5d13a4d69225a72bb4dcd4e6dce44034/src/libraries/System.Private.CoreLib/src/System/Environment.cs#L189

BTW it does appear that Win32 allows you to create an

[2020-04-13 17:21] #15660 closed

[2020-04-13 17:23] ericstj commented on #34582
Libraries rely on this API in order to create an IO completion ports.  This is necessary for any of our async IO implementations to work on Windows.  I agree with @jkotas here: if you care about running mono on Windows I wouldn't leave this as throwing.

[2020-04-13 17:25] mangod9 commented on #1674
Thanks for the follow up, I believe we have a fix which will validate.

[2020-04-13 17:26] michkot opened #34906 "JIT: "default(T) == null" does not emit a constant when T is Nullable<>"
After toying with efficient detection of reference types / value types / nullable types I triggered a  discovery of generic context issue https://github.com/dotnet/runtime/issues/34641.

I now also find out that `default(T) == null` for T being  `Nullable<XXX>` in the following snippet does not produce a constant in ASM but rather builds what seems to be a composed "struct + HasValue bool" on stac

[2020-04-13 17:28] dagood opened #34907 "Delete task code that has been moved to the shared framework SDK in Arcade"
This copy of `CreateFrameworkListFile` is unused and should be deleted:

https://github.com/dotnet/runtime/blob/59a24e5/tools-local/tasks/installer.tasks/CreateFrameworkListFile.cs

True source:

https://github.com/dotnet/arcade/blob/8935804/src/Microsoft.DotNet.Build.Tasks.SharedFramework.Sdk/src/CreateFrameworkListFile.cs

Any other leftover copies of tasks from the sharedfx SDK should be remove

[2020-04-13 17:30] echesakovMSFT commented on #12815
Hmm, good question - I also don't why. IMO, the changes in that PR were going in the right direction - the only part that left missing is renaming `initRegZeroed` to `initRegModified` in `genFnProlog()` where the variable is defined.

@ivanbuha Would you be interested in finishing up your PR in dotnet/runtime repo?

[2020-04-13 17:31] EgorBo commented on #34906
why should it produce a constant? a variable of a Nullable type can be null (or not)

[2020-04-13 17:32] AndyAyersMS commented on #34279
The pinvoke begin helper call should be getting similar treatment to `GT_START_PREEMPTGC`, both of them feed into `Compiler::killGCRefs`.

Think maybe it's just an ordering issue. The GC ref killing label appears after the helper call and so the registers are reported live at the call. They should be getting killed before the call.

[2020-04-13 17:33] safern commented on #34857
@ericstj I don't know which area to redirect this to.

[2020-04-13 17:34] EgorBo commented on #34905
duplicates https://github.com/dotnet/runtime/issues/34881 (and fixed in https://github.com/dotnet/runtime/pull/34903)

[2020-04-13 17:35] khellang commented on #34906
@michkot Have you seen https://github.com/dotnet/runtime/pull/1157 and https://github.com/dotnet/runtime/pull/32098?

[2020-04-13 17:36] benaadams commented on #34906
`default` of a nullable is always null so its constant?

e.g. `default(int?)` is always `null`

[2020-04-13 17:37] karelz commented on #34904
In general, you need to create your `HttpClientHandler` with the setting - see https://stackoverflow.com/a/52526366
cc @rynowak

[2020-04-13 17:38] EgorBo commented on #34906
Ah, oops.

[2020-04-13 17:39] safern commented on #33748
Hello @godshades... as @wfurt mentioned this can't work without having `libgdiplus` installed. However, we can resolve `libgdiplus` in other ways, you can deploy it as part of your app (if that doesn't work, set `LD_LIBRARY_PATH` env variable to point to the path where `libgdiplus` is).

Also, if that doesn't meet your expectations or it is too much for what you need, I recommend looking at: https

[2020-04-13 17:39] #33748 closed

[2020-04-13 17:41] EgorBo commented on #34906
@benaadams @michkot anyway I can't repro it on my master, probably is already fixed (e.g. here? https://github.com/dotnet/runtime/pull/32269/files)

[2020-04-13 17:46] jaredpar commented on #34881
How was #34813 green given that it broke CI after merge? Did it conflict with a different green PR post merge?

[2020-04-13 17:48] ivanbuha commented on #12815
@echesakovMSFT Yes. Thanks for missing part. I will go over once more to make sure everything is correct in PR.

[2020-04-13 17:49] karelz commented on #34886
So it is technical breaking change in 5.0.
We should either document it as such, or wrap the `ObjectDisposedException` in `SocketException`.

@drieseng how did you discover the difference? Did you run into it in your app?

[2020-04-13 17:55] jkotas commented on #34881
It did not run CoreCLR tests. I do not understand why.

The CoreCLR tests should run for any changes under src/libraries/System.Private.CoreLib : https://github.com/dotnet/runtime/blob/master/eng/pipelines/coreclr/ci.yml#L9

[2020-04-13 17:59] eanova commented on #34394
Hi just wanted to provide an update on progress.  I've written up the code in a Benchmark project and was able to get a 20% improvement using SIMD.  I still have to test for correctness.

[2020-04-13 18:01] rynowak commented on #34904
The request that we hear over and over from users re: `IHttpClientFactory` is not **How do I configure XYZ for HttpClient once?** - it's closer to **How do I configure XYZ for a request?**. (I know that's not how HttpClient works).

Here's the points that stand out to me:

These usage patterns don't reflect how HttpClient wants to be used for best performance (long-lived) - but users want answers.

[2020-04-13 18:03] jkotas commented on #34582
One option to consider is to use Windows OS build-in threadpool that comes with IO completion port support. It is what CoreRT does: https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/Threading/ThreadPool.Windows.cs . It comes with trade-offs, e.g. Windows OS build-in threadpool has different heuristics.

[2020-04-13 18:08] karelz commented on #34904
What are the scenarios to use proxy per request?
Or is it different proxy per endpoint / set of endpoints?

@patrickiscoding can you help us understand what exactly you're trying to achieve (regardless of APIs used)?

[2020-04-13 18:12] stephentoub commented on #34886
It's fine to document it.  It's a bug that should have been fixed years ago when things were moved to be SafeHandle-based.  It's a handle-recycling issue.

[2020-04-13 18:13] patrickiscoding commented on #34904
Yes sure @karelz , I want to use a different proxy in each controller. I make requests using HttpClient in a asp.net core api controller and the user passes the proxy he wants to use to the controller. Now I do not want to use HttpClient with using() statements since this could result into DNS issues and problems with too many open sockets. My question is, how would I achieve the same thing (as in

[2020-04-13 18:17] AndyAyersMS commented on #34279
Well that's not quite it -- the label seems to be in the right spot with the right properties. However there's a disconnect somewhere.
[code]
Here `IG03` is the label we emit to kill GC refs. They happen to die before
then anyways. Yet gc info shows gc live regs at the byref call.
[code]
Wondering if it is the logic in to back up the PC for reporting at calls that are not at top of stack -- that i

[2020-04-13 18:19] eerhardt opened #34910 "Introduce a way to opt-out of source info in Diagnostics StackFrame"
The source line info support for System.Diagnostics.StackTrace/StackFrame comes with a noticeable cost for workloads which are size sensitive and don't contain PDB information anyway.

With change https://github.com/dotnet/runtime/pull/32023, we added a `PreserveDependency` attribute here:

https://github.com/dotnet/runtime/blob/768c6fc99c099465491fbf0185b145581243f130/src/coreclr/src/System.Priva

[2020-04-13 18:22] #34883 closed

[2020-04-13 18:34] karelz commented on #34856
Just a heads up that Ping on Linux will spin off a new process per call if you are not admin:
https://github.com/dotnet/runtime/blob/f498a3171b65215ae3176598869233fee8e4da58/src/libraries/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Unix.cs#L25-L29
In such scenario, I don't think the perf overhead of an allocation matters.

In general, I wonder how common is the scenario where the overlo

[2020-04-13 18:34] FransBouma commented on #34817
Transient errors and retries aren't only connection open / reconnect oriented, i.e. if you have issued 3 commands and the 4th fails due to error 1205 (result streaming) you have to retry all 4, if they're in the same transaction. I have no idea if SqlClient's connectionstring retry logic takes care of that (I doubt it).

Hence it's a nice idea, but to get full resilience you really have to perform

[2020-04-13 18:38] danmosemsft commented on #34910
Added to Linker project which I guess is how we keep track of all such work.

[2020-04-13 18:41] danmosemsft commented on #34888
This kind of test is inherently flaky (at least at the upper end).

[2020-04-13 18:46] vcsjones commented on #30457
For what it's worth, all of:

* `D:\repos\corefx\src\Common\src\System\Security\Cryptography\Asn1Reader\AsnReader.cs(105,21)`
* `D:\repos\corefx\src\Common\src\System\Security\Cryptography\Asn1Reader\AsnReader.cs(130,21)`

Are fixed, since these got flagged multiple times since they are included in multiple projects.

[2020-04-13 18:46] karelz commented on #34904
@patrickiscoding who is the user? Developer using your library? Or is it configuration of your app? Or is it the real user of the web app?
Does the app know the list of proxies upfront? Or is it dynamic information, potentially even changing?
What is the real-world scenario? (the setup) ... I can't quite wrap my head around it.

Each proxy requires its own connection / connection pool. The `HttpCl

[2020-04-13 18:49] karelz commented on #34886
OK, marking as such. cc @antonfirsov

[2020-04-13 18:52] karelz commented on #34879
@wfurt any reason why NOT to mark it as dupe of #33430?

[2020-04-13 18:58] GrabYourPitchforks opened #34912 "Cannot build checked coreclr: "... contains more than one project file.""
From a completely clean c:\runtime\ directory synced to latest master, with latest VS dogfood and latest 5.0 x64 nightly SDK installed:

[code]

I've also attached a build log showing related failures:
[CoreCLR_Windows_NT__x64__Checked.log](https://github.com/dotnet/runtime/files/4471258/CoreCLR_Windows_NT__x64__Checked.log)

[2020-04-13 18:59] kEpEx commented on #34858
I added the Accept and User-Agent that I see in the `curl -v` but still same output

    ...
    Console.WriteLine(DateTime.Now.ToString() + " Calling URL: " + url);
    client.DefaultRequestHeaders.Add("User-Agent", "curl/7.47.0");
    client.DefaultRequestHeaders.Add("Accept", "*/*");

    Console.WriteLine(DateTime.Now.ToString() +" " +client.DefaultRequestHeaders.Accept.ToString());
    Consol

[2020-04-13 19:01] NikolaMilosavljevic opened #34913 ".NET Host MSI's upgrade during one major release and across several releases"
.NET Host MSI installs components shared across releases, to a shared location, using static component codes.

This issue tracks defining valid experiences and desired outcomes and will serve as a source for new issues, fixes or features in the product.

While components are shared across releases, and properly ref-counted, MSIs in different .NET (Core) releases are different (distinct) and do not

[2020-04-13 19:01] layomia commented on #34887
Dup of https://github.com/dotnet/runtime/issues/34481.

This was fixed for preview 4/master in https://github.com/dotnet/runtime/pull/34489. Looks like we need to port the fix to preview 3: https://dev.azure.com/dnceng/public/_build/results?buildId=583321&view=results.

cc @jaredpar

[2020-04-13 19:15] kEpEx commented on #34858
Additionally tried curl removing accept and user agent with: `curl -v -H'Accept: ' -H 'User-Agent: '  'https://URL'`

Previous output:

    * ALPN, server did not agree to a protocol

    < HTTP/1.1 401 Unauthorized
    < Date: Mon, 13 Apr 2020 19:14:51 GMT
    < Server: Kestrel
    < Content-Length: 0
    < Cache-Control: no-cache

Still work without sending Accept/Agent:

    * ALPN, server did

[2020-04-13 19:15] saurabh500 commented on #34817
You are right @FransBouma There is no retry around command execution in SqlClient.

What would a retry framework do in case `IsTransient` is set to false and there is no feature detection (i.e. no SupportsTransienceDetection property)? Will the retry framework fallback to the user configured retry strategy?

[2020-04-13 19:17] wfurt commented on #34879
#33430 did not hit the `DontFragment`  so that part is unique to this.

[2020-04-13 19:17] ajcvickers commented on #34817
The things that SqlClient can retry on are necessarily limited based on the limited context that the ADO.NET provider has about what the application is doing--as @FransBouma points out. This is why, in my opinion, resiliency is something that should, in general, happen at a higher level than the ADO.NET provider.

EF (both EF6 and EF Core) have more of this context available, and hence are able to

[2020-04-13 19:27] scalablecory commented on #34856
I'd be okay with some spannified overloads here for consistency with rest of BCL.

I would remove the `SendAsync` overloads, and consider (if implementation allows) removing the `timeout` parameter in favor of a `CancellationToken`.

[2020-04-13 19:27] #34904 closed

[2020-04-13 19:28] hoyosjs commented on #34912
Now you need to build `Clr.BuildTools` as well for DAC resource generation

[2020-04-13 19:30] karelz commented on #34879
If the other is subset of this one, should we make this one primary and the other one as dupe?

[2020-04-13 19:35] filipnavara commented on #33111
NuGet Explorer when looking at the specific feed.

[2020-04-13 19:41] sebastienros commented on #33111
Here is the url that lists what is available: https://dotnetfeed.blob.core.windows.net/dotnet-core/flatcontainer/runtime.linux-x64.microsoft.netcore.runtime.mono/index.json

Note that nothing after April 5 has been added to the feed (which is a concern for me personally)

[2020-04-13 19:42] filipnavara commented on #33111
@sebastienros The primary feed has changed to https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json.

[2020-04-13 19:44] fadimounir commented on #34884
@jkotas I can't tell from the logs. I'll debug this and see where it fails, and add more details here.

[2020-04-13 19:50] cheenamalhotra commented on #34798
Yes, the first parent exception number will be provided to user, as it is provided by SQL Server and also JDBC driver does the same: [SqlServerException.java#L197](https://github.com/microsoft/mssql-jdbc/blob/d4362039923a77caa080152d75d18fc8d1c7ff88/src/main/java/com/microsoft/sqlserver/jdbc/SQLServerException.java#L197)

If someone is willing to capture `SqlClient` specific exception, only then t

[2020-04-13 19:51] sebastienros commented on #33111
FYI here is the url listing all available versions on this feed, confirming anything after April 5th hasn't been added, and all 6.* version are available there.

https://pkgs.dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_packaging/7d9f5c21-0d79-403f-bfe3-9a4506529760/nuget/v3/flat2/runtime.linux-x64.microsoft.netcore.runtime.mono/index.json

[2020-04-13 19:58] mikem8361 opened #34915 "Create a Windows version of createdump"
Create a Windows version of the createdump app that uses MiniDumpWriteDump to genearte the minidump.

Change the runtime's unhandled exception path to invoke this createdump when enabled by the same Linux environment variables (see [createdump](https://github.com/dotnet/runtime/blob/master/docs/design/coreclr/botr/xplat-minidump-generation.md#configurationpolicy)).

[2020-04-13 20:01] mikem8361 opened #34916 "Create a MacOS version of createdump"
This is going to be quite of bit of work even with Noah’s idea of using the existing ELF core dump writing from the Linux createdump. The work is changing the read memory API and gathering the crash info state (memory, threads, modules) and it is completely different on MacOS. The biggest difficulty is that the MacOS vm_read_overwrite/task_for_pid APIs used to read memory requires the app (created

[2020-04-13 20:06] pgovind commented on #33785
Taking a crack at this one

[2020-04-13 20:11] cheenamalhotra commented on #34817
I like @saurabh500 's suggestion:

And as @ajcvickers mentioned:

We have seen that from the time this feature was implemented in SqlClient, till now, the list of transient error codes have increased, and we're also considering making amendments to include more error codes. But having said that, we should consider client application as well along with what driver does so they can freely update the

[2020-04-13 20:24] roji commented on #34817
From my point of view, transient error recognition and resilience/retry is something that affects all databases, not just Azure SQL - any database can have an intermittent networking issue, or some other transient problem causing it to momentarily fail. I've definitely received requests for this for Npgsql, and [IsTransient is in fact implemented there](https://github.com/npgsql/npgsql/blob/dev/sr

[2020-04-13 20:29] steveharter commented on #27019
Not able to repro the failure locally with .NET framework. Please re-open if this continues to cause failures\issues.

cc @GrabYourPitchforks

[2020-04-13 20:29] #27019 closed

[2020-04-13 20:30] David-Engel commented on #34817
@roji I think IsTransient is a good first step. I'm on the same page as everyone else here. SupportsTransienceDetection adds a small amount of value. I could take it or leave it.

For reference, we have SqlClient issue [#416](https://github.com/dotnet/SqlClient/issues/416) that is related to transient errors and retry functionality at the SqlClient level. There's some good background information.

[2020-04-13 20:33] #34881 closed

[2020-04-13 20:34] roji commented on #34798
Oh, I missed that you were referring to the already-existing [DbException.ErrorCode](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.externalexception.errorcode?view=netframework-4.8#System_Runtime_InteropServices_ExternalException_ErrorCode).

This property has a very specific use - for surfacing native Windows HRESULT error codes coming up from native interop. I don't

[2020-04-13 20:42] steveharter commented on #22558
Closing; this scenario is undefined. cc @GrabYourPitchforks

Also it doesn't appear to be high enough priority to lock down the semantics with doc or functional checks.

[2020-04-13 20:42] #22558 closed

[2020-04-13 20:52] roji commented on #34817
Thanks @David-Engel, and thanks for the link too. I posted a comment there with insights from here on why attempting full resiliency within the database driver may not be feasible, hopefully that's helpful...

[2020-04-13 20:53] cheenamalhotra commented on #34798
I wonder why there's no error code standard in .NET data providers.

If you see JDBC Specs, [SqlException](https://docs.oracle.com/javase/7/docs/api/java/sql/SQLException.html?is-external=true)(Java) exposes SQLState, which seems closest to me that even [mssql-jdbc](https://github.com/microsoft/mssql-jdbc/blob/d4362039923a77caa080152d75d18fc8d1c7ff88/src/main/java/com/microsoft/sqlserver/jdbc/SQLS

[2020-04-13 21:00] michkot commented on #34906
Thanks for looking into it. I will close the issue now then 👍 . Can you point me at some resources/docs so I can try it myself at current master @EgorBo ? (I had luck the last time with sharplab, so I tried it again).

[2020-04-13 21:00] #34906 closed

[2020-04-13 21:00] safern opened #34920 "CoreCLR should error if `clr.buildtools` are not built and you try to build a subset that is dependent of that"
Right now if I do: `build clr.runtime` I get a native error... something like:

  C:\Program Files\dotnet
  Specify which project file to use because this 'C:\repos\runtime\artifacts\obj\coreclr\Windows_NT.x64.Release\src\dlls\mscordac' contains more than one project file.
C:\Program Files (x86)\Microsoft Visual Studio\2019\Preview\MSBuild\Microsoft\VC\v160\Microsoft.CppCommon.targets(231,5): erro

[2020-04-13 21:00] rynowak commented on #34904
@patrickiscoding - did you mean to close this?

[2020-04-13 21:03] michkot commented on #34906
I did not explicitly, but I noticted that work being done in other issue. That feature/opt. is also nice when you need reference/value type distinction. I trully care about null being a default here though :)

[2020-04-13 21:07] guesshe commented on #33374
@am11 @janvorli Is feature no stress_log supported? If I set -DFEATURE_NO_STRESSLOG, will this disable the feature?

[2020-04-13 21:10] kg opened #34921 "Adding exception filter infrastructure to the BCL for WebAssembly"
I'm working on an exception filter emulation system for the WebAssembly target due to the fact that filters can't be implemented the normal way on this target. Part of this necessitates adding some support code to mscorlib, because we now have BCL classes that use exception filters. I'd like to do a first pass design review on the support code so that it will be easier to land it once it's ready.

[2020-04-13 21:11] layomia commented on #34558
Updated proposal approved offline:

[code]

`IgnoreReadOnlyFields` was added for parity with [`IgnoreReadOnlyProperties`](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsonserializeroptions.ignorereadonlyproperties?view=netcore-3.1).

---

The serializer's defintion for "read only" is as follows:
* for properties, "read only" means has a public getter but no public setter.
* for fie

[2020-04-13 21:12] swaroop-sridhar commented on #34852
@Serentty Thanks for filing the issue.

Basically, we want platform-independent framework-dependent single-file apps.
For this feature, we need the ability to build single-file app DLLs -- which will enable us to run the app using the framework's dotnet host.

Effectively, this issue is a dup of https://github.com/dotnet/runtime/issues/13677

[2020-04-13 21:12] #34852 closed

[2020-04-13 21:15] layomia commented on #876
@YohDeadfall, are you still interested in implementing this feature? API approved in https://github.com/dotnet/runtime/issues/34558:

[code]

[2020-04-13 21:22] #31965 closed

[2020-04-13 21:24] stephentoub opened #34923 "Enable knownValues for custom KnownHeaders in HttpClient"
We currently prohibit "knownValues" in KnownHeader in HttpClient:
https://github.com/dotnet/runtime/blob/f380910ce9dd4f38e68efec6feb7b80c8019f397/src/libraries/System.Net.Http/src/System/Net/Http/Headers/KnownHeader.cs#L24
But for headers where we expect only a few predictable header values, adding them can help save string allocations.  We should remove this constraint, and update KnownHeaders to

[2020-04-13 21:29] Anipik commented on #27981
Related to https://github.com/dotnet/runtime/issues/34568

[2020-04-13 21:42] steveharter commented on #20909
I agree that HasDefaultValue==false would be the better default in order to distinguish between an explicit default value and an implied default value other than null.

If the default value is changed to `false` I don't think this would be a breaking change to consumers of the IL since a `null` value for the `DefaultProperty` property seems to work fine for value types (i.e. no exception or appare

[2020-04-13 21:49] EgorBo commented on #34906
@michkot
my workflow is this:
[code]
once it finishes:
[code]
Also, let me promote my add-in for that: https://github.com/EgorBo/Disasmo (it still needs a pre-built runtime in Checked config)

[2020-04-13 21:51] scalablecory commented on #34923
I'd also love to revamp the knownvalues concept to function for HTTP/2 static table headers.

[2020-04-13 21:55] roji commented on #34798
I think you're absolutely right. I was thinking about this along with IsTransient, but looking around the various providers showed spotty support:

1. SqlClient currently doesn't expose it. Thanks for the JDBC link - that's valuable information! It does seem like there's translation only for a precious few codes, so I wonder how useful that actually is (compare with [PostgreSQL's error code page](

[2020-04-13 22:01] hoyosjs commented on #34920
Partially a dupe of https://github.com/dotnet/runtime/issues/34912

Building corelib doesn't need it at all, hence why I believe it makes sense it's still separate. I just think it should be implied by `clr.runtime`. However, as a workflow for a lot of the native dev's inner loop, overall this is still a pain point as they avoid touching msbuild at all, so they just directly call the `build-runtim

[2020-04-13 22:21] BruceForstall commented on #34920
Also related: https://github.com/dotnet/runtime/issues/34894

When did this change?

Are you suggesting that the first time you build "clr.runtime" you need to also build "clr.buildtools", but after that you can build "clr.runtime" alone?

Wouldn't it be better to automatically just build "clr.buildtools" if it can be easily/cheaply determined it hasn't been built yet, and is needed? Then, `build

[2020-04-13 22:34] #34801 closed

[2020-04-13 22:35] Anipik commented on #33427
Closing this as it was fixed here https://github.com/dotnet/runtime/pull/34025

[2020-04-13 22:35] #33427 closed

[2020-04-13 22:38] AndyAyersMS commented on #34279
Think what's going on here is that the gc liveness effect of `CORINFO_HELP_JIT_PINVOKE_BEGIN` can't properly be expressed with partially interruptible reporting, as normally whatever is gc live before the call gets reported live. Since this call is often the first call post entry what we see is that any GC ref params end up getting reported live at the call, as the only thing that can report a kil

[2020-04-13 22:42] hoyosjs commented on #34920
This was related to single-file diagnostics support changed that went in last Friday.

Yes, or use the `build-runtime` scripts as long as you don't clean artifacts.

Yeah, I share the same opinion, hence why I said "I just think it should be implied by clr.runtime". If someone is using build.sh/cmd they already paid the big cost of such scripts (dotnet acquisition + spinning up msbuild)

Right now

[2020-04-13 22:43] cheenamalhotra commented on #34798
Sure thing!

I will investigate on SqlClient side if there are any limitations, then we can create an API Proposal for SQLState support.

[2020-04-13 22:44] Anipik opened #34925 "Not Building Referenced projects while BuildingInsideVisualStudio"
After doing a pass of a vertical build if i build an individual project for a /p:BuildTargetFramework=netcoreapp5.0-unix config from the command line as ResolveProjectReferences builds all the projectReferences for this tfm.

This is not the case while building the project from building inside the VS eg
[code]
This is bcoz sdk assumes the project references are already build by the IDE and doesnt

[2020-04-13 22:52] EgorBo commented on #13515
Closing this (I guess it's fixed by the `x != x` implementation for `double.IsNaN`
Codegen for the snippet in the description:
[code]

[2020-04-13 22:52] #13515 closed

[2020-04-13 22:54] jkoritzinsky commented on #34920
I think I'd be fine with adding it to the `clr.runtime` subset in Subsets.props, but I feel strongly that the `build-runtime` scripts should be the native build only. I want to keep those as slim as possible (and possibly slim them down more in the future) and as thin wrappers around the native build whenever I can. (The fact that is has to generate the native file headers and restore PGO info is

[2020-04-13 23:11] layomia commented on #31645
@Romanx, yes it does 😄

`JsonPropertyInfo` and `JsonClassInfo` are used to cache type metadata & to set/get properties, and can be used by multiple threads at the same time. They thus can't store any (de)serialization specific state as this won't be thread-safe.

`ReadStackFrame` would be a good place to add a new dictionary property to temporarily hold extension data, as each instance is specific

[2020-04-13 23:14] roji commented on #34798
Ok! Do you prefer to wait until you check it out for SqlClient or should I open an issue for this tomorrow?

[2020-04-13 23:25] SergeyKanzhelev commented on #34787
Thank you for filing it!

[2020-04-13 23:34] cheenamalhotra commented on #34798
I'd like to discuss this with @saurabh500 once before we finalize in case there is a specific reason why this not supported till now in SqlClient, otherwise when comparing with Java Standards, this seems an appropriate API proposal for .NET Data providers.

You can open new issue to start discussions and I'll close this one, we can discuss more there.

[2020-04-13 23:34] #34798 closed

[2020-04-13 23:35] Serentty commented on #34852
Thank you! I searched for an issue like this already, but it was hard to put into words for a search, so I didn't find anything.

[2020-04-13 23:37] Anipik commented on #30035
Here is some info on events on mac https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/EventOverview/MonitoringEvents/MonitoringEvents.html

[2020-04-13 23:37] #30035 closed

[2020-04-13 23:50] jcagme commented on #33111
Packages from https://dotnetfeed.blob.core.windows.net/dotnet-core should all be removed by now (please confirm if this is not the case). For the artifact feeds in Azure, I don't have any automation to delete packages.

[2020-04-14 00:24] echesakovMSFT opened #34929 "Consider adding Vector64<double>.CreateScalar, Vector64<ulong>CreateScalar and Vector64<long>.CreateScalar or renaming Create"
We should probably either add these methods to be consistent with other types or rename existing `Create` methods that accept `double`, `long` and `ulong` to `CreateScalar` since we usually append suffix `Scalar` to the name of the methods operating on or returning `Vector64<double>`, `Vector64<long>` or `Vector64<ulong>`.

[code]

[2020-04-14 01:49] Clockwork-Muse commented on #34892
.... although note that `RemoveAt(int index)` is _incredibly_ unthreadsafe if multiple threads are removing items.

[2020-04-14 02:11] AndyAyersMS commented on #34279
The "special casing" would basically mean changing the offset of the pinvoke begin call in the GC info, so that if a GC happens during the pinvoke, we check the GC info after that call, not before.

Seems cleaner to me just to pass the actual pinvoke return address into the helper; this makes the helper case symmetric with the inline case and would be less plumbing on the jit side.

[2020-04-14 03:00] egmkang commented on #34684
@BruceForstall yes. it's the same problem.

[2020-04-14 03:32] v-haren opened #34932 "Test failure: GC/Scenarios/ServerModel/servermodel/servermodel.sh"
failed in job: [runtime-coreclr outerloop 20200413.2](https://dev.azure.com/dnceng/public/_build/results?buildId=598681&view=ms.vss-test-web.build-test-results-tab&runId=18856804&resultId=109867&paneView=debug)

Error message
[code]

[2020-04-14 05:29] v-haren commented on #34002
failed again in job: [runtime-coreclr jitstress 20200412.1](https://dev.azure.com/dnceng/public/_build/results?buildId=598080&view=ms.vss-test-web.build-test-results-tab&runId=18860850&resultId=107264&paneView=debug)

Error message
[code]

[2020-04-14 05:31] TimLovellSmith commented on #14032
@stephentoub I assume you mean that its less efficient for some scenarios where there's a small number of timers. But how does it scale?

[2020-04-14 05:34] BruceForstall commented on #34684
I'm going to close this one and let #34678 track the issue.

[2020-04-14 05:34] #34684 closed

[2020-04-14 05:53] v-haren commented on #1725
failed again in job: [runtime-libraries outerloop 20200413.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=598251&view=ms.vss-test-web.build-test-results-tab&runId=18843458&resultId=100406&paneView=debug)

Error message
[code]

[2020-04-14 05:54] BruceForstall commented on #34780
@dotnet/ncl Can someone look at this? It's failing every run.

[2020-04-14 06:36] pweissenbacher opened #34954 "System.Drawing: Image.Save() changes color of image"
# Issue Title

When saving a BMP image file as JPEG, using System.Drawing.Image.Save() changes colors of resulting image.
Specifically: Cyan colors (#2ce7b2) become magenta (#b22be7).

# General

Bug can be reproduced using following code (test image can be found in attached ZIP archive):

[test_small.zip](https://github.com/dotnet/core/files/4473260/test_small.zip)

[code]

# Environment

We trie

[2020-04-14 06:56] safern commented on #34780
I think we should just move these builds out of the Hosted pools as they use considerable disk space.

cc: @eiriktsarpalis

[2020-04-14 07:08] marek-safar commented on #34910
I don't think this should be feature switch in the design sense as above but illinker property which controls debugging support.

[2020-04-14 07:22] Hermholtz commented on #34892
@Clockwork-Muse  That's why I needed `SynchronizedCollection<T>` or just a lock around the `List<T>`. I tested the concurrency of adding and removing data using 100,000 tasks and it meets my expectations.
An explicit lock around a collection works fine, but must be used consistently and that leads to the nastiest bugs.
Both solutions exhibit similar performance which is excellent. The difference i

[2020-04-14 07:24] marcusturewicz commented on #30273
BigInteger has the following coverage (as of today):

<img width="560" alt="Screen Shot 2020-04-14 at 5 19 05 pm" src="https://user-images.githubusercontent.com/24448509/79196981-5a07fb00-7e74-11ea-9b0f-0cdd9465d32e.png">

The following lines could be improved:

<img width="824" alt="Screen Shot 2020-04-14 at 5 18 32 pm" src="https://user-images.githubusercontent.com/24448509/79197074-83288b80-7e7

[2020-04-14 07:25] KerosenoDev commented on #30820
Thanks you @Jozkee, it worked for me.

Now the service does not give problems, but the application that consumes it does, when deserializing.

I've added `ReferenceHandling = ReferenceHandling.Preserve` and `Encoder = JavaScriptEncoder.Default`.

But I get the following error: `The '$id' and '$ref' metadata properties must be JSON strings. Current token type is 'PropertyName'...`

[2020-04-14 07:31] YohDeadfall commented on #876
Will take a look and implement. Probably will resurrect the closed PR with the requested API above.

[2020-04-14 07:34] noahfalk commented on #34916
I'd suggest we at least explore mechanisms we could use in-proc to collect memory/thread/module lists, then expose that data via diagnostic server RPC APIs. This may not make the work any cheaper, but if we can do it we have avoided the signing requirements on Mac as an ongoing concern. The work probably also gets us closer to being able to do CreateDump on Linux without using ptrace.

[2020-04-14 07:50] stephentoub commented on #14032
No, I meant the common case is that you have lots of timers at any moment, but very few are firing. This is what results when timers are used for timeouts. And the important thing there is the speed at which you can add and remove from the data structure... you want that to be 0(1) and with very low overhead. If that becomes O(log N), it's a problem.

[2020-04-14 08:10] svick commented on #34892
@Hermholtz I think the point is that `RemoveAt` both depends on the index of items and changes the index of items, so you have to be very careful with how you use it. Consider this example of having a `SynchronizedCollection<int>` and then removing all even numbers from it using `RemoveAt`:

[code]

This code is *not* thread-safe, because the index of an item can change between the two lines in th

[2020-04-14 08:11] kunalspathak opened #34937 "ARM64: Optimize a % b operation"
Optimize `a % b` operation for ARM64 for following scenarios:
### `a` is unsigned int, `b` is power of 2.
[code]
Today we generate something like this:
[code]
We can generate:
[code]

### `a` is signed int, `b` is power of 2.
[code]
Today we generate:
[code]

We can generate:
[code]

### `a` is an int, `b` is a variable.
[code]
Today we generate:
[code]
We can generate using `msub`:
[code]

Refere

[2020-04-14 08:14] kunalspathak commented on #34937
@BruceForstall

[2020-04-14 08:22] kunalspathak opened #34938 "Strength reduction for add operations performed power of 2 times"
[code]
Above code should obviously be `return 4 * i`, but today if we see something like this, we don't optimize it that way and perform `add` operations. We could optimize it to `lsl` if adds are performed in power of 2.
Today we generate:
[code]
We should generate:
[code]
We never optimize even for 8 or 16 operations and thus emitting series of `add` operations.

category:cq
theme:basic-cq
skill

[2020-04-14 08:22] kunalspathak commented on #34938
@BruceForstall

[2020-04-14 08:29] RichardBr opened #46678 "MetadataTypeAttribute doesn't influence DataAnnotations validation result"
### Update by @SteveSandersonMS: please see the comment https://github.com/dotnet/runtime/issues/46678#issuecomment-747533844 for a description of the underlying issue/question.

Please ignore the parts of this thread that are specific to Blazor. That's just how the issue was originally reported, but it looks like the underlying concern is about DataAnnotations itself.

---

### Describe the bug
W

[2020-04-14 08:52] EgorBo commented on #34937
Jit currently always gives up on `%` on Arm and always converts it to `a - (a / b) * b` in the morph phase, thus existing `%` optimizations don't work for it (happen later).

[2020-04-14 08:53] EgorBo commented on #34938
I guess it's not arm-specific (could generate a single `lea` on x86)

[2020-04-14 09:08] adamsitnik commented on #33131
As @stephentoub has explained, our benchmarks are correct.

 @MBurtsev could you please follow the instructions from [this doc](https://github.com/dotnet/performance/blob/master/docs/benchmarking-workflow-dotnet-runtime.md) and run ConcurrentDictionary benchmarks against your local build of .NET runtime?

It should be a matter of running a single command:

[code]

Once you share the results we sho

[2020-04-14 09:13] Hermholtz commented on #34892
@svick fantastic example :) I wouldn't do it, but can imagine somebody doing so. I get your point: using SynchronizedCollection itself is not enough, still some thinking is required.  Thanks!!

[2020-04-14 09:43] Sergio0694 commented on #1711
Hi @kouvel - thank you for the info! 😄
I just wanted to mention an example of where that `AggressiveOptimization` doesn't work, since as you mentioned already, having tier 1 code might also depend on when exactly the tiered JIT kicks in.
Consider this snippet (from https://github.com/ashmind/SharpLab/issues/479):
[code]
Surrently sharplab.io produces this:
[code]
Which always include those additio

[2020-04-14 09:52] marek-safar commented on #33328
@terrajobst who can review this as you are the only assignee?

[2020-04-14 09:55] marek-safar commented on #34465
@jaredpar is there any update on this?

[2020-04-14 10:10] am11 commented on #4173
@tracker1, @jkotas, since the remaining work here is about Solaris (Alpine and FreeBSD work was done separately) and the thread is heavily invested on Solaris related discussion, I am using this one as tracking issue. Can we reword the title with Solaris and add `os-solaris` label?

[2020-04-14 10:22] svick commented on #1711
@Sergio0694

There is [`RuntimeHelpers.RunClassConstructor`](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.runtimehelpers.runclassconstructor). I wonder if it would make sense to use that in SharpLab. (Though I'm not certain whether it would actually do something, since the type in question requires static initialization, even though it doesn't have a static construct

[2020-04-14 10:24] janvorli commented on #33374
@guesshe you can set that, but I am not sure why would you want to do that.

[2020-04-14 10:28] adamsitnik commented on #33856
@mangod9 After reading what @jkotas wrote in https://github.com/dotnet/coreclr/pull/27612 I am closing this issue as it looks like the doc was removed on purpose and there are no intentions to bring it back

[2020-04-14 10:28] #33856 closed

[2020-04-14 10:35] vitek-karas commented on #34535
I suggest you look at the official sample for this: https://github.com/dotnet/samples/tree/master/core/hosting/HostWithHostFxr

You should be able to build that from scratch and get that to run (please let us know if there are issues with that - follow the readme there for details on how to do it). Once you have that working you can start by tweaking it to match your needs. That's probably a faste

[2020-04-14 11:27] akoeplinger commented on #34465
Ugh, looks like I didn't receive emails for updates on the IcM and they didn't see the issue on recent builds (which is expected since we disabled them...) and closed it.

I'll try reenabling and will reactivate the IcM if we still see the issue.

[2020-04-14 11:41] akoeplinger commented on #33111
@filipnavara yes we stopped publishing these `runtime.*` packages in favor of runtime packs like https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet5&package=Microsoft.NETCore.App.Runtime.ios-x64&protocolType=NuGet&version=5.0.0-preview.4.20213.12.

We haven't done the work to add runtime packs for desktop OS since we'll need to figure out how to distinguish between coreclr vs. m

[2020-04-14 11:50] krytarowski commented on #4173
I object. I'm working actively on the NetBSD port, but currently on the Operating System layer. We have just finished LLDB to the point of importing it to the basesystem. There is ongoing work on reworking of synchronization primitives that will help in .NET as well.

Meanwhile, keep your good work on Solaris.

[2020-04-14 12:03] akoeplinger commented on #34465
Still happens, reactivated the IcM.

[2020-04-14 12:03] am11 commented on #4173
@krytarowski, I only meant that the title of this issue is too broad to tackle something meaningfully. We have had specific issues for FreeBSD, NetBSD and other operating systems. I am proposing this one can be repurposed for Solaris, one particular operating system or simply closed.

[2020-04-14 12:14] janvorli commented on #34920
Using managed tool by the native build is a bad thing due to the fact that native build now depends on the managed one. I have taken a look at the GetModuleIndex tool and it just extracts the build id / uuid / file size and stamp on Linux / OSX / Windows. That can easily be achieved by existing native tools. The `readelf -n` on Linux, `dwarfdump -u` on OSX and some .cmd script or simple "C" app ex

[2020-04-14 12:16] janvorli commented on #34920
I volunteer making such a change unless someone else want to do so.

[2020-04-14 12:48] DaZombieKiller commented on #34895
I imagine that since `PEReader` is a reference type, it wouldn't be able to take a `Span<byte>` without copying, but `Memory<byte>` would probably be fine. In the absence of a built-in constructor taking a `Memory<byte>` you can at least make use of the pointer constructor, if you manage the `MemoryHandle` as well:

[code]

[2020-04-14 13:06] TamarChristinaArm commented on #34732
But it sounds like whatever you do with CSE you'd still need this changed right? You'd don't want it to spill and reload it after the call when it had plenty of free registers available. (In this case also not move it to some non-caller saved registers if it would have allocated to that register to begin with.)

Out of pure curiosity, is most things such as this implemented as a single pass? e.g.

[2020-04-14 13:19] am11 opened #34944 "Tracking issue for Solaris x86-64 port work"
Cut from https://github.com/dotnet/runtime/issues/4173.

Given below is a high-level list of work items for Solaris x86-64 port:

- [x] Native configurations (#34756)
- [ ] CoreCLR native components
  - awaiting next release of libunwind https://github.com/libunwind/libunwind/releases/tag/v1.5-rc1 or higher with changes from https://github.com/libunwind/libunwind/pull/171, for Solaris support.
- [

[2020-04-14 13:20] am11 commented on #4173
I have opened #34944 to track Solaris port work.

[2020-04-14 13:24] am11 commented on #34944
`CoreCLR native components` is WIP with branch from libunwind that has all Solaris patches. If someone wants to pick up other items, feel free. :)

[2020-04-14 13:25] janvorli commented on #34678
@egmkang the `__pv_queued_spin_lock_slowpath` is a spinlock implementation in the Linux kernel. In the flame graph, it seems to be called from the futex syscall, called by pthread mutex locking. There are so many places in the runtime that use the mutexes that I cannot guess what are the ones that you are seeing on the flame graph. I am not sure why the flame graph doesn't show the functions from

[2020-04-14 13:29] rseanhall opened #34946 "How to locate coreclr.dll from hostfxr_initialize_for_runtime_config"
TL;DR What's the correct way to locate coreclr.dll using the results of a successful call to `hostfxr_initialize_for_runtime_config`?

I am writing a custom .NET Core host for https://github.com/wixtoolset/issues/issues/6108. The use case here is that the main application (the Burn engine, or burn.exe) is a native application that loads basically another application (the Bootstrapper Application,

[2020-04-14 13:41] bahusoid opened #34947 "Compiled regex can lead to infinite matching"
See below examples of regex and values that lead to infinite matching:

[code]
Regexs are not really used anywhere so no need to suggest how it can be improved.

Tested on .NET Core 2.0/3.1 and Full .NET Framework 4.7

Maybe it's related to https://github.com/dotnet/runtime/issues/27282.
Though I'm not sure why it's targeted as 3.0 - I checked it on .NET Core 3.1 and it's still can't be evaluated.

[2020-04-14 13:46] stephentoub commented on #34947
This isn't related to RegexOptions.Compiled.  It's entirely about the expression you've input, which has what's referred to as "catastrophic backtracking".  For a backtracking-based regex engine, it can lead to an exponential amount of processing.  You can see the same thing with the PCRE engine if you go to http://regex101.com and enter `^([^a-wA-WyzYZ]*\d+[^a-wA-WyzYZ]*)+$` as the expression and

[2020-04-14 13:47] #34947 closed

[2020-04-14 13:54] jkotas commented on #7533
This test does not seem to exist anymore

[2020-04-14 13:54] #7533 closed

[2020-04-14 14:09] TamarChristinaArm commented on #34810
Clang uses a more complicated addressing mode but also equally valid. (your example is missing an `-O1`).

[code]

[2020-04-14 14:13] krytarowski commented on #4173
I propose to just open a dedicated issue for Solaris and be done.

[2020-04-14 14:38] jkotas commented on #34279
I am trying to understand why we are doing the GC reporting for `CORINFO_HELP_JIT_PINVOKE_BEGIN` call, but not the actual PInvoke call instruction. Is the problem that the actual PInvoke arguments are pushed on the stack when the helper is called? If it is the case, would it help to emit the `CORINFO_HELP_JIT_PINVOKE_BEGIN` helper call before the arguments are pushed to the stack?

Thinking about

[2020-04-14 14:41] bahusoid commented on #34947
Well it works well with GoLang engine...

[2020-04-14 14:45] stephentoub commented on #34947
Yes, RE2 uses a non-backtracking engine.  It has deterministic performance, but can't support all of the syntax that the .NET regex engine supports, e.g. back references.

[2020-04-14 14:56] Reza1024 commented on #30342
Related to #31156

[2020-04-14 14:58] #33057 closed

[2020-04-14 15:18] briansull commented on #34732
When we make it into a CSE we assign the constant into a GT_LCl_VAR which the register allocator knows how to handle properly.  It will typically correctly pick either a caller cased or scratch register to hold the CSE value, depending upon the liveness requirements.

[2020-04-14 15:19] briansull commented on #34732
I will investigate this issue further, so I have assigned this issue to myself.

[2020-04-14 15:26] egmkang commented on #34678
@janvorli i'm sorry, english is not my mother language. can you tell me how to switch the view of the profiler samples to view inclusice times?
`perf`, or `flamegraph`'s parameters?

is it `perf timechart`?

[2020-04-14 15:27] jaredpar commented on #34780
Agree. This is the only way we're going to get the desired reliability here.

[2020-04-14 15:35] ehelin opened #34950 ""CreateAppHost" task failed unexpectedly fix release date"
Hi:

We are using .net core 3.1 and get this error most of the time running local host (see 'Error').  I found issue 3831 (see 'Fix Issue') and it says a fix should be part of this April's release.  Has this been released?  I installed 3.1.3 and the issue is still present.

Thank you!

Eric

**Error**
Error MSB4018 - The "CreateAppHost" task failed unexpectedly AND HResultException: 8007006E

Fix

[2020-04-14 15:36] ehelin commented on #34950
area-SDK

[2020-04-14 15:44] Jozkee commented on #30820
@KerosenoDev Can you share your JSON payload and maybe a code snippet of what you are doing?

[2020-04-14 15:46] jaredpar opened #34952 "Microsoft.Extensions.Caching.Memory.Test hitting FailFast in CI"
### Console Log Summary
[code]

### Builds
|Build|Pull Request | Test Failure Count|
| --- | --- | --- |
|[#596902](https://dev.azure.com/dnceng/public/_build/results?buildId=596902)|#34344|10|
|[#597884](https://dev.azure.com/dnceng/public/_build/results?buildId=597884)|#34868|1|
|[#597986](https://dev.azure.com/dnceng/public/_build/results?buildId=597986)|Rolling|1|
|[#598049](https://dev.azure.

[2020-04-14 15:48] ViktorHofer commented on #34952
@jaredpar thanks for reporting. When opening such issues can you please check if the bot sets the right label so that area-owners are notified?

[2020-04-14 15:50] jaredpar commented on #34952
FYI: I don't think that is the right label. The failure is due to an assertion in `metadata.c`. Seems like a runtime issue. Also pretty much all of CI is down right now with a FailFast exception. Guessing it is the single root cause of all the failures.

[2020-04-14 15:51] jaredpar commented on #34952
Here is the full list of failures

Common.Tests Work Item 12
Invariant.Tests Work Item 12
Microsoft.CSharp.Tests Work Item 12
Microsoft.Extensions.Caching.Memory.Tests Work Item 12
Microsoft.Extensions.Configuration.Binder.Tests Work Item 12
Microsoft.Extensions.Configuration.CommandLine.Tests Work Item 12
Microsoft.Extensions.Configuration.EnvironmentVariables.Tests Work Item 12
Microsoft.Extensi

[2020-04-14 15:51] ViktorHofer commented on #34952
Got it, still this definitely isn't area-Infrastructure.

[2020-04-14 15:55] akoeplinger commented on #34952
The Mono test issues look like what should be fixed by https://github.com/dotnet/runtime/pull/34951 but since I see some CoreCLR runs in your list those might be different issues?

[2020-04-14 15:58] jaredpar commented on #34952
@ViktorHofer

Sure I can fix the label. But next time you need to give me more than two minutes to do so. Given that CI is completely busted I had attached a higher priority at sending an alert that we needed to fix that.

@akoeplinger

How did this change get through the PR process without triggering a failure? Given that it took down all of CI I think it's important we understand what this gap i

[2020-04-14 16:02] akoeplinger commented on #34952
It did show on the PR but was still merged.

[2020-04-14 16:02] jaredpar commented on #34952
What was the source PR?

[2020-04-14 16:03] akoeplinger commented on #34952
https://github.com/dotnet/runtime/pull/34877

[2020-04-14 16:03] ViktorHofer commented on #34952
@jaredpar this was meant as constructive feedback. I didn't mean to offend you in any way.

[2020-04-14 16:10] Anipik opened #34953 "CLS-Compliant issue spotted during intellisense for ref in System.DirectoryServices"
System.Runtime references are not getting resolved in during the design time build for netstandard2.0

cc @ericstj @ViktorHofer @safern

[2020-04-14 16:16] carlossanlop commented on #33206
We will close the PR and come back to this if a customer requests the feature.

[2020-04-14 16:16] #33206 closed

[2020-04-14 16:16] carlossanlop commented on #941
We are closing the PR. Will reopen once there is a customer request for this.

[2020-04-14 16:19] danmosemsft commented on #30273
That seems pretty good (although it looks like there are some paths still reachable).

I'm going to close this as good enough for now: if anyone would like to add more tests, they would be welcome. Thanks @marcusturewicz

[2020-04-14 16:19] #30273 closed

[2020-04-14 16:26] karelz commented on #34780
@alnikola can you please help us here?
Why does the stress cause so much trouble?

[2020-04-14 16:27] arivoir opened #34956 ".Net 5 WPF reflection failing"
I'm trying to load by reflection a WPF class-library targeting _netcoreapp5.0_ from a .Net5 console app, and I'm getting the following exception.

With the following call stack

Is reflection working on .Net 5.0.100-preview.2.20176.6?

[2020-04-14 16:33] AndyAyersMS commented on #34279
In the case I'm looking at we currently don't emit anything for the pinvoke call because of this early out in `emitRecordGCcall`:

https://github.com/dotnet/runtime/blob/4335c82b7b6e4932ae12e79b302bbe4200732744/src/coreclr/src/jit/emit.cpp#L6078-L6087

[2020-04-14 16:47] jaredpar commented on #34952
@ViktorHofer no worries. I just got caught up digging into the tests right after I submitted. The failure assert rung a bell and I ran off in that area.

[2020-04-14 16:54] g101519 commented on #34535
Cheers.
I will follow the suggestions.
I strongly suspect that I have taken on more than I can handle.
I, and a very small number of work colleagues, use my plain C unmanaged "interpreter" primarily for scripting the embedded SQLite engine.
But most of the colleagues are Excel orientated, so I added the ability to use COM (from the plain C interpreter) and thus made it possible to use COM objects

[2020-04-14 16:58] BruceForstall opened #34957 "GCStress failures in _il_*jumps4, _il_*valftn_t"
Failures in Linux arm GCStress=C

There are multiple failure modes. E.g.:
`
/root/helix/work/workitem/JIT/Methodical/VT/callconv/_il_dbgjumps4/_il_dbgjumps4.sh: line 275: 2491 Segmentation fault $LAUNCHER $ExePath "${CLRTestExecutionArguments[@]}"\n\nReturn code: 1\nRaw output file: /root/helix/work/workitem/JIT/Methodical/Reports/JIT.Methodical/VT/callconv/_il_dbgjumps4/_il_dbgjumps4.output.txt\n

[2020-04-14 17:00] armitagemderivitec opened #34958 "Mixed C#/Swig/C++ debugging in vscode"
Initially filed on https://github.com/microsoft/vscode-cpptools/issues/5292.

- OS and Version: OSX Remote SSH Connection to Amazon Linux 2 (RHEL7 equivalent)
- VS Code Version: 1.44.0
- C/C++ Extension Version: 0.27.0
- Swig 4.0.1
- GCC Version: 9.2
- GDB Version: 8.3
- Other extensions you installed (and if the issue persists after disabling them): C#, CMake, CMake Tools, Test Explorer UI, .Net

[2020-04-14 17:00] BruceForstall commented on #34957
Related: https://github.com/dotnet/runtime/issues/34002

[2020-04-14 17:02] armitagemderivitec commented on #34958
I managed to cure the crash and hit the cpp breakpoint by adding the following to the setup commands in the attach config for the debugger:
[code]

I noticed the SIGTRAP signals from dotnet and wondered if this was relevant, which it turns out it was. My knowledge of the debugger is limited however, do you know whether there is any harm in doing this? Or does it shed any more light?

[2020-04-14 17:06] vitek-karas commented on #34535
In your C host code point it to the `.dll` file (not the .exe).
Ideally you would actually build the managed project as classlib (exclude `<OutputType>exe</OutputType>` in the project file) and the other changes as per the sample project.
You have the type name and method name right. But you will need the delegate type.
Just add `delegate int MyDelegateType(string arg)` to the `InjectExample` name

[2020-04-14 17:08] TechnologyAnimal commented on #914
Can someone at least acknowledge this issue and offer some sort of assurance that this is being looked at?  My concern is the untriaged tag being removed.  I hope that doesn't mean someone is under the impression this issue has actually been fixed...  Thank you.

@karelz karelz

[2020-04-14 17:10] daviatorstorm opened #34960 "Read plain Rsa keys"
Using dotnet core 3.1

Have generated private and public and need to do extra actions to transform from plain to xml style key. Is there any official way to transform? If not - I have a suggestion to use [this](https://github.com/stulzq/DotnetCore.RSA/blob/master/DotnetCore.RSA/RSAHelper.cs) code to read the keys.

[2020-04-14 17:13] TechnologyAnimal commented on #34858
Not sure if it's helpful at all since this is in powershell, but I was able to ignore invalid certificates with System.Net.Security.SslStream on line 229 from the link below.

https://github.com/TechnologyAnimal/Test-TlsProtocols/blob/master/Test-TlsProtocols/Test-TlsProtocols.psm1

[2020-04-14 17:20] davidsh commented on #914
The issue is still Active and not Closed. It is assigned to @wfurt and will be investigated for fixing during our current .NET 5 milestone.

[2020-04-14 17:20] wfurt commented on #34858
The problem is that this is _not_ complaining about certificate but it is probably timing out @TechnologyAnimal. You would see authentication exception and complain about certificate.

[2020-04-14 17:27] TechnologyAnimal commented on #914
Thanks for the reply!  I am using this daily to scan hundreds of thousands of servers for tls configuration.  Due to no tls alert and no error messages, I've had to put less than ideal workarounds in place to workaround the bug.  I am eager to get that mess out of the code base, so if there is anything I can help test or clarify, I would be happy to do so.  Thanks again.

[2020-04-14 17:27] danmosemsft opened #34962 "DCS_MyPersonSurrogate_Stress test failed"
The assert indicates that there are distinct NonSerializablePersonForStress objects, with the same field values.

This comment suggests that the test is intended to verify referential identity:
[code]
[code]
https://dev.azure.com/dnceng/public/_build/results?buildId=598762&view=ms.vss-test-web.build-test-results-tab&runId=18856272&resultId=101137&paneView=debug

netcoreapp5.0-Linux-Debug-arm64-Mon

[2020-04-14 17:27] daviatorstorm commented on #34960
Its okey to use this practice https://vcsjones.dev/2019/10/07/key-formats-dotnet-3/ ?

[2020-04-14 17:27] wfurt commented on #914
Some improvements were maid. Part of the problem is that Schannel does not generate alert in all cases - version mismatch is one of them. However, the AuthenticateAs*() will throw and in case of server, that would typically close connection and client would see that as IOException.

If you have sample code or packet captures let me know @TechnologyAnimal. I left this one open to look at macOS

[2020-04-14 17:28] jasonliaocn opened #34963 "System.Speech.Synthesis.SpeechSynthesizer not implemented in core?"
I'm trying to migrate some of the Wpf application from .net framework to .net core, then I cannot find a replacement of the System.Speech.Synthesis.SpeechSynthesizer which exists in the System.Speech.dll.
And the [msdn docs](https://docs.microsoft.com/en-us/dotnet/api/system.speech.synthesis.speechsynthesizer?view=netframework-4.8) says not supported in .net core.
Is this removed or how can we use

[2020-04-14 17:29] wfurt commented on #914
one more note @TechnologyAnimal is that the alert was not generated on the server side. It seems like your scenario is client. With that, if server does not sent alert and does not close connection, there is really nothing we can do besides timeout.

[2020-04-14 17:32] eerhardt commented on #32205
I just hit this as well in System.Utf8String.Experimental.sln.

Visual Studio Version 16.6.0 Preview 2.1

.NET SDK - 5.0.100-preview.4.20213.14

[2020-04-14 17:34] danmosemsft commented on #34963
@AlexGhiondea is this an Azure service that your team tracks?

[2020-04-14 17:34] TechnologyAnimal commented on #914
Hi @wfurt .  I [replied above ](https://github.com/dotnet/runtime/issues/914#issuecomment-599169905) with a detailed breakdown of what I've been experiencing, along with the code I have been using.  Unfortunately, it's written in PowerShell, which I assume is less than ideal, but it's all that I have.

My goal is to scan a few hundred thousand servers regularly to identify what TLS protocols are s

[2020-04-14 17:36] armitagemderivitec opened #34964 "Mixed C#/Swig/C++ debugging in vscode"
Initially filed on https://github.com/microsoft/vscode-cpptools/issues/5292 and referred here by @pieandcakes.

- OS and Version: OSX Remote SSH Connection to Amazon Linux 2 (RHEL7 equivalent)
- VS Code Version: 1.44.0
- Dotnet Runtime: 2.2.8
- C/C++ Extension Version: 0.27.0
- Swig 4.0.1
- GCC Version: 9.2
- GDB Version: 8.3
- Other extensions you installed (and if the issue persists after disabl

[2020-04-14 17:36] safern commented on #34959
Thanks @Deepak211 I will have to debug this to see what's going on. Thanks for opening the issue.

[2020-04-14 17:37] safern commented on #34954
Related to: #34959

[2020-04-14 17:37] danmosemsft commented on #34964
@tommcdon (BTW @tommcdon , I am happy to get you or someone else set up to get tagged on area-diagnostics issues - just LMK)

[2020-04-14 17:38] danmosemsft commented on #34958
dupe of #34964

[2020-04-14 17:38] #34958 closed

[2020-04-14 17:45] kunalspathak commented on #34938
Yep, I agree. I have seen x86 too emitting `lea      r8d, [rcx+rcx]`. Updated the title and label.

[2020-04-14 17:47] danmosemsft commented on #34925
I don't have full context here, but my general assumption as a user is that a build in VS will build only projects that appear in VS. IOW, if I work on library X, I expect to build all other libraries (using the command line) then open X and have build just build X. This makes the inner loop fastest. If I want to build more, I should be able to add it to my solution and it build build too. If I wa

[2020-04-14 17:54] AndyAyersMS commented on #34279
If I disable the early bail out then we see reports for the pinvoke and the pivoke end calls:
[code]
I don't understand how the early bail out is safe. Seems like the logic should be tracking whether the call we're looking at has different GC reporting than the previous call, or something like that.

[2020-04-14 17:58] ericstj commented on #34953
Is this for reference assembly or implementation?  Did you look into how the reference is satisfied during actual build to see what was going wrong in design time?

[2020-04-14 18:02] buyaa-n commented on #33763
-According to test run results discussion following pdates made to analyzer:

1. Increased severity from hidden to info (`IdeHidden_BulkConfigurable => IdeSuggestion`)
2. Don't warn when the enclosing method has no parameter

- Plus while implementing analyzer decided not to show multiple diagnostics for reversed arguments, it looks ugly and reporting the same issue for 2 reversed parameters, one

[2020-04-14 18:04] tommcdon commented on #34964
@danmosemsft Thanks. I'll let you know if we need to add someone else.

[2020-04-14 18:07] wfurt commented on #914
In that case this GH issue is really irrelevant. The servers you connecting to may or may not have updated .NET or may not run .NET at all.

I'm not familiar with PowerShell and their APIs so I'll outline few strategies.
You generally deal with situation when you expect response from server but it is not coming - neither error nor success. I think in that case (short?) timeout is really only optio

[2020-04-14 18:12] wfurt commented on #914
reading through the thread, it seems like your use case is different @pbsis. Do you limit ciphers or TLS versions when you do AuthenticaterAsServer()? What OS you running on? It may be worth of trying [daily](https://github.com/dotnet/installer) builds and posting packet capture. (from side between client and your proxy e.g. .NET plays server)

[2020-04-14 18:24] #29743 closed

[2020-04-14 18:24] #34453 closed

[2020-04-14 18:26] danmosemsft commented on #34964
OK, I've added you.

[2020-04-14 18:29] kunalspathak commented on #13727
Another case to note:
[code]

Code generated for x64:
[code]

Code generated for arm64:
[code]

[2020-04-14 18:31] ericstj commented on #34925
@Anipik can you elaborate on why you think this is a problem?  Perhaps describe the end to end experience you are aiming for?

[2020-04-14 18:35] briansull commented on #34279
I thought that the way that partially interruptible GC reporting worked on x86 was that if nothing is record for a particular offset then nothing get reported as being alive.   It should not be reporting what it saw alive at a earlier callsite.    Fully interruptible does keep updating the state and reports what it has incrementally computed as being alive.  But that isn't how partially interrupti

[2020-04-14 18:39] kunalspathak commented on #34937
Yes, I have already spoke to @sandreenko  about it and reverted some of the changes he did in https://github.com/dotnet/coreclr/pull/18206. With that it handles the 1st case (where `a` is unsigned and `b` is power of 2). I need to handle other 2 cases yet.

[2020-04-14 18:42] layomia commented on #1569
Closing as dup of https://github.com/dotnet/runtime/issues/1570.

[2020-04-14 18:42] #1569 closed

[2020-04-14 18:43] layomia commented on #1570
From @steveharter in https://github.com/dotnet/runtime/issues/1569:

[2020-04-14 18:47] cston commented on #21943
Regarding `ShiftMask`:
[code]
The C# compiler will probably emit `(sizeof(nint) * 8) - 1` explicitly, instead of using the `ShiftMask` member, since the compiler should fallback to the explicit value if the member is missing anyway.

[2020-04-14 18:48] AndyAyersMS commented on #34279
This is why the pinvoke begin gc descriptor has a nonzero arg mask, yes.

Maybe the issue is that the pinvoke args are byrefs and not native ints?

[code]
Seems like the IL or the jit could cast these to non-gc types.

[2020-04-14 19:04] #14713 closed

[2020-04-14 19:05] briansull commented on #34279
What is the signature of the callsite?  I believe that  is what determines if it reports a byref or not.

[2020-04-14 19:17] janvorli commented on #33837
@ViktorHofer, @wli3, @safern I keep hitting this issue locally on my Linux box with Ubuntu 16.04. Latest master cleaned with `git clean -xdf`. DOTNET_CLI_HOME workaround works, but is someone working on a real fix?

[2020-04-14 19:19] Martin11175 opened #34967 "WebClient Negotiate DefaultCredentials not handled on redirect"
Hi all,

I seem to be running into an issue with .NET Core 3.1 not negotiating NTLM credentials on receiving a redirect.
Using .NET Framework 4.5.1 (recorded in wireshark):
![image](https://user-images.githubusercontent.com/2590156/79264255-305ace00-7e8c-11ea-99c7-c33b784097c2.png)

Whereas in .NET Core 3.1:
![image](https://user-images.githubusercontent.com/2590156/79264352-56806e00-7e8c-11ea-834

[2020-04-14 19:20] mrj001 commented on #34413
Closing as PR #34416 has been merged.

[2020-04-14 19:20] #34413 closed

[2020-04-14 19:25] trylek commented on #32507
I filed this issue as @davidwrighton specifically pointed that out as a gap when reviewing my composite changes, my understanding is that this is something we should fix before shipping.

[2020-04-14 19:26] CarolEidt commented on #34732
The register allocator, in its build phase, will record which values are live across a call, and will attempt to put them in callee-save registers. Note, though, that we don't have any form of rematerialization (#6264) to allow the constant to be reconstructed if it's spilled, so if it doesn't get a callee-save register it will be spilled and restored from the stack.

[2020-04-14 19:28] davidsh commented on #34967
In general, credentials are dropped during redirects. That is done for security reasons.  So, it is by-design.

But if you want to preserve credentials during a redirect, you can use a CredentialCache object and store the default credentials against a specific uri.

[code]

[2020-04-14 19:29] janvorli commented on #34838
I'll look into it.

[2020-04-14 19:32] davidsh commented on #34967
On a further note, I will say that the behavior difference between .NET Framework and .NET Core probably still needs to be investigated/fixed.  .NET Framework would remove credentials during redirects but only if redirecting to a different hostname:port in the Uri.  For redirections within the same 'authority' portion of the Uri, it would preserve credentials.

.NET Core, however, seems to drop cr

[2020-04-14 19:56] jkotas commented on #34279
Yes, good point. The ECMA specs says:

permitted to match a parameter that requires a managed pointer (type &). The reverse,
however, is not permitted since it would allow a managed pointer to be “lost” by the
memory manager.

I guess that we can start with declaring this to be invalid IL, and fix the IL stub generation accordingly.

[2020-04-14 19:58] vcsjones commented on #34960
I'm not clear what a "plain" RSA key is, can you give an example?

I assume for "xml-style" you mean the output of `RSA.ToXmlString`?

[2020-04-14 20:00] jkotas commented on #34279
But it would be also useful to add at least an assert to the JIT that fires when GC tracked value is passed into PInvoke.

[2020-04-14 20:16] Maoni0 commented on #34932
how do I get the dump?

[2020-04-14 20:25] jaredpar commented on #33837
@janvorli

Have you tried nuking your NuGet package cache? Essentially run the following:

[code]

It's possible an old package is cached that is impacting this restore. If that doesn't fix it though we should probably open a new issue to track this as it's unlikely to be related to this specific instance.

[2020-04-14 20:33] mconnew commented on #34151
I've tracked down a code difference between .NET Framework and Core. On Core in [CollectionDataContract.IsCollectionOrTryCreate](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.DataContractSerialization/src/System/Runtime/Serialization/CollectionDataContract.cs#L1115) we are throwing is there's no default constructor. On Framework we have the additional constraint that w

[2020-04-14 20:41] tarekgh commented on #31373
https://github.com/dotnet/apireviews/pull/117

[2020-04-14 20:45] #4673 closed

[2020-04-14 20:50] davidwrighton commented on #32507
We need to implement this, or ngen pdb's won't have correct semantics.

[2020-04-14 20:51] eiriktsarpalis commented on #34780
FWIW this is happening when [building the clr and libraries](https://github.com/dotnet/runtime/blob/1db45ed953745c0e270d09df99828cb58772f4ad/eng/docker/build-docker-sdk.ps1#L22) on the host machine.

[2020-04-14 20:55] AaronRobinsonMSFT commented on #34946
/cc @elinor-fung

[2020-04-14 20:59] #34826 closed

[2020-04-14 21:01] karelz commented on #34780
Are the machines supposed to handle the build?
Do we use the right design for this workflow?

[2020-04-14 21:04] jeremymclain commented on #34021
I just had an occurance of this with .NET Core 2.0. What's the likelihood

[2020-04-14 21:18] eiriktsarpalis commented on #34780
The failures seem to have started abruptly 10 days ago, which suggests that
one change may have broken it.

On Tue, 14 Apr 2020, 22:01 Karel Zikmund, <notifications@github.com> wrote:

[2020-04-14 21:30] safern commented on #34780
one change may have broken it.

Actually the build was failing with an unknown switch for linux and the build was not marked as failed
[code]
https://dev.azure.com/dnceng/public/_build/results?buildId=587364

What changed the way we build this was: https://github.com/dotnet/runtime/commit/42183b1b86656a348e0b6af7fa7c75072865f759#diff-41f10863d38cf298ee01c22c64e1b53a

We normally don't use Hosted m

[2020-04-14 21:34] hoyosjs commented on #34920
cc: @noahfalk @mikem8361

[2020-04-14 21:36] AndyAyersMS commented on #34279
Looks like the pinvoke call site sig has nativeint, but the jit doesn't do anything with this particular mismatch (see `impPopCallArgs`).

Seems like this mostly happens with pinvokes that take byrefs.

Assert is something like:
[code]

[2020-04-14 21:41] jkotas commented on #34279
@jkoritzinsky @AaronRobinsonMSFT The interop stub generators are generating invalid IL (passing byref values as pointer arguments) that is hitting subtle issues in the JIT.

Can you please take a look at fixing the stub generators and adding the assert that Andy suggested?

[2020-04-14 21:46] jkotas commented on #34956
Does your app reference the WPF?

Note that WPF is not referenced by default in .NET Core.

[2020-04-14 21:46] layomia commented on #34887
Fixed in https://github.com/dotnet/runtime/pull/34914.

[2020-04-14 21:46] #34887 closed

[2020-04-14 21:46] jeffhandley commented on #2162
I'm late to the game here, but I'm struggling with the word "redundant" in the API name, as I don't think we're matching the [definition of "redundant"](https://www.bing.com/search?q=define+redundant). The path `/foo/bar/../baz` does not have any _redundant_ segments as nothing is repeated or excessive--instead `..` _negates_ `bar`; it cancels it out.

Node has a [`Path.normalize` function](https:

[2020-04-14 21:46] saucecontrol commented on #34714
My point was that it's kind of strange to have a helper to create shuffle/permute masks if there's no helper for others mask types.

Going back to the rationale for needing this helper in the first place, the masks are often demystified simply by writing them as binary literals.  For example,  `0b_01_01_01_01` is much easier to follow than `0x55`.  Likewise, `0b_00_01_10_11` is easier to follow th

[2020-04-14 21:49] tannergooding commented on #34714
I think at that point it isn't much effort to just manually reverse the binary literal.

The purpose of these is so you can construct an appropriate mask in a "readable" fashion using regular "decimal" values. They also help in porting native code that is already using the "equivalent" helpers.

[2020-04-14 21:56] AndyAyersMS commented on #34279
I see 93 cases when crossgenning SPC for x86 (changing the assert to a printf) -- some of these stubs have multiple byref args, so maybe 50 stubs in all?

[code]

[2020-04-14 22:06] mangod9 commented on #1674
fix is merged.

[2020-04-14 22:06] #1674 closed

[2020-04-14 22:11] AaronRobinsonMSFT commented on #34279
@jkotas and @AndyAyersMS Will take over issue.

[2020-04-14 22:14] #34509 closed

[2020-04-14 22:17] jeffhandley commented on #33801
@Jozkee Can you discover all of the types that meet the following criteria and add a comment here with that list of types please?

1. Implement `IEnumerable<T>`
2. Have an `int Count` property
3. Have a `bool IsEmpty` property

We will want to review that list, look at the implementations of `Count` and `IsEmpty` and verify that across the whole list, `IsEmpty` is a cheaper getter than `Count`.

[2020-04-14 22:31] pviotti commented on #30457
howdy, it appears that
 - the variables reported in EventSource.cs are not there anymore
 - all the files in System.Data.SqlClient.csproj are not in this repo

I've submitted #34975 to sort out files reported in System.Configuration.ConfigurationManager.csproj and System.DirectoryServices.csproj.

[2020-04-14 22:31] roji commented on #33392
@cheenamalhotra @Wraith2 happened to come across this, is there anything left to do here or can we close?

[2020-04-14 22:32] tracker1 commented on #4173
@am11 thank you... I do agree, that if you want to track a specific OS, then a specific issue should be in place...

[2020-04-14 22:33] mikem8361 commented on #34920
I really don't like that we can't use managed build tools (with the resulting SDK dependency), but if this is an absolute requirement, then we could turn off the FEATURE_SINGLE_FILE_DIAGNOSTICS by default. But we will need it back on as soon as the superhost is implemented.

@janvorli if you want to write the scripts (which probably will take longer than it took me to write GetModuleIndex since I

[2020-04-14 22:36] hoyosjs commented on #34950
This is set for release 3.1.4 (April release) of the runtime. Currently it hasn't been released, usually this happens in the later portion of the month.

[2020-04-14 22:36] jkotas commented on #34441
`System.Speech.Synthesis` is part of .NET Framework. It is not supported on .NET Core.

[2020-04-14 22:38] jkotas commented on #34963
#30991

[2020-04-14 22:41] swaroop-sridhar commented on #34950
I've made a note about the expected release date in #3831

[2020-04-14 22:42] eerhardt opened #34977 "Change Environment.OSVersion to return actual OS version on macOS"
Similar to https://github.com/dotnet/runtime/issues/33643, but for macOS (or OSX). We are now returning an understandable version for Windows 10 (ex. `10.0.18363.0`), we should start returning understandable versions for macOS.

Today if I run:

[code]

On my macOS Mojave computer it says `18.7.0.0`. But the "About This Mac" window says `10.14.6`.

We should change `OSVersion.Version` to return `1

[2020-04-14 22:44] Wraith2 commented on #33392
Unless someone has more to add I'd say it's ok to close.