[2022-08-02 06:54] MichalStrehovsky commented on #73169
The problem is in removing parameter names on the constructor of the Tuple class and that one is in CoreLib. So you would need to disable trimming on CoreLib.

The workaround works because ExampleValueItem is now defined in your assembly and I assume your assembly is not manifested as trimmable and it's not trimmed as a result. (By default, pretty much only the framework is trimmed.)

It would be

[2022-08-02 07:43] ViktorHofer commented on #50914
Closing as [by design](https://github.com/dotnet/runtime/issues/50914#issuecomment-1201532772).

[2022-08-02 07:43] #50914 closed

[2022-08-02 07:45] ViktorHofer commented on #72987
AFAIK we still depend on this hack as we can't build all native runtime packages for System.IO.Ports on a single machine. Today, the `testPackages` validation runs as part of the windows allconfigurations legs.

[2022-08-02 07:55] ilonatommy commented on #72946
Head on 0ef117e33e711950b0e6ac41c8fdb87503167e75, all of above are passing (tested in Codespaces).

[2022-08-02 08:19] BrzVlad commented on #54381
Tests were re-enabled already in https://github.com/dotnet/runtime/pull/66947

[2022-08-02 08:19] #54381 closed

[2022-08-02 08:20] #54382 closed

[2022-08-02 08:21] MichalStrehovsky commented on #73076
Thank you for the repro! The fix is in #73218.

[2022-08-02 08:22] krwq opened #73219 "JSON needs object initializer equivalent APIs"
Recently C# has added two features which rely on the object initializer syntax:
- init-only properties
- `required` keyword

In the current state JSON reflection APIs can ignore the fact that property is `init-only` and still set it and `required` constraint is not enforced. For source-gen on the other hand regular setter code simply won't compile and similarly for `required` properties constructo

[2022-08-02 08:25] Junjun-zhao opened #73220 "[dotnet-sdk-7.0.100-rc.1.22379.5] NamedPipeServerStream.WaitForConnectionAsync() method throw "The operation was canceled." exception"
**Application Name**:  ScreenToGif
**OS**: Windows 10 RS5
**CPU**: X64
**.NET Build Number**: dotnet-sdk-7.0.100-rc.1.22379.5
**App or App Source checking at**: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1585543
**Github Link**:
https://github.com/NickeManarin/ScreenToGif

**Verify Scenarios**:
1). Windows rs5 x64 + dotnet-sdk-7.0.100-rc.1.22401.1: Fail
2). Windows rs5 x64 + dotnet-sdk

[2022-08-02 08:40] #60865 closed

[2022-08-02 08:43] eiriktsarpalis commented on #73169
Yes, I would say it is fairly well-documented both in the API and conceptual doc level. See also https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-source-generation-modes

I would still recommend using the source generator in .NET 6 since the reflection-based serialization modes are not supported with trimming and could fail in unexpected ways.

I think we can close t

[2022-08-02 08:43] #73169 closed

[2022-08-02 08:44] jeffhandley commented on #61015
Given this behavior was the same in .NET Framework and therefore this behavior has been in place a long time, I'm going to close this issue without intention of fixing it. It's still ostensibly misleading, but the workaround is reasonable.

[2022-08-02 08:44] #61015 closed

[2022-08-02 08:48] jeffhandley commented on #69443
@stephentoub / @GrabYourPitchforks - Do you both think we should revert #68799?

[2022-08-02 08:50] Junjun-zhao opened #73221 "[dotnet-sdk-7.0.100-rc.1.22379.5] Unable to bind IList<string> type from appsettings.json with Configuration.Binder"
**Application Name** : Smartstore
**OS**: Windows 10 RS5
**CPU**: X64
.NET Build Number: dotnet-sdk-7.0.100-rc.1.22379.5

Devdiv Bug checking at: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1585569

**Github Link**: https://github.com/smartstore/Smartstore

**Verify Scenarios**:
1). Windows rs5 x64 + dotnet-sdk-7.0.100-rc.1.22401.1: Fail
2). Windows rs5 x64 + dotnet-sdk-7.0.100-rc.1.223

[2022-08-02 08:51] EgorBo commented on #69443
It does not look like it's still relevant:

![image](https://user-images.githubusercontent.com/523221/182334041-7d5188d5-f2a4-4452-ad4a-b71d6855ce9c.png)

[2022-08-02 09:01] andriipatsula commented on #73210
Hello @bartonjs , we have a known issue https://github.com/dotnet/arcade/issues/10139 for that. It's related to ARM64 machines, but I believe the problem is the same for amd64 too. I'll link this one to arcade issue.

[2022-08-02 09:20] ronaldvdv opened #73223 "[API Proposal]: Access Regex group without allocations"
### Background and motivation

In class `Capture` (namespace `System.Text.RegularExpressions`) we now have the nice addition of the `ValueSpan` property which allows me to access the captured text efficiently. However, to be able to access that property I would still need to access `Match.Groups[num]` which would allocate the full `GroupCollection` and all `Group` instances, which (for my specific

[2022-08-02 09:24] jeffhandley commented on #73094
I confirmed that this is not a regression from net6.0. Moving out to Future.

[code]

[2022-08-02 09:29] jeffhandley commented on #70419
This isn't in consideration for .NET 7. @habbes Would you like to refine the original proposal here to align with @GrabYourPitchforks' proposal to see if this could get queued up for API Review?

[2022-08-02 09:32] karelz commented on #70314
Triage: No response for 2 weeks, closing. Feel free to reopen if there is more info available. Thanks!

[2022-08-02 09:32] #70314 closed

[2022-08-02 10:01] SupinePandora43 commented on #68110
Could be done with *profiles*?!

[2022-08-02 10:42] ilonatommy commented on #72946
Might be random race as @pavelsavara says it was passing on CI re-run.

[2022-08-02 10:50] stephentoub commented on #69443
Thanks, @EgorBo.

[2022-08-02 10:50] #69443 closed

[2022-08-02 11:15] eiriktsarpalis commented on #73094
Same holds for `netcoreapp3.1`. The reproduction is large, so I can't necessarily discern if and how this is a bug. @Asivaprasadam it would be really helpful if you could trim this down to a minimal reproduction, see [this guide](https://github.com/dotnet/runtime/blob/main/CONTRIBUTING.md#why-are-minimal-reproductions-important) for tips.

[2022-08-02 11:19] michaldobrodenka commented on #73169
@MichalStrehovsky  thank you for your comprehensive answer! really appreciate it.

I'll stay with my custom non generic class and will avoid serializing Tuples.

[2022-08-02 11:21] #52436 closed

[2022-08-02 11:26] madelson commented on #72320
I agree that this would be confusing, since .NET doesn't have a way to represent a nullable reference (although you can do `Unsafe.NullRef<T>()`). It's also consistent with how we're already treating cases like this `MyMethod([AllowNull] ref string s)`.

@smdn I agree that perhaps differentiating between n/a and unknown in the API would be helpful, but only if it were applied universally and not j

[2022-08-02 11:30] svick commented on #73223
What would be the reason for that? The whole point of this new method is to avoid allocations, but then you also add a version that has an extra allocation? Especially since anyone who does need a `string` can just call `ToString()` on the returned span.

This one does sound useful to me.

[2022-08-02 11:32] ronaldvdv commented on #73223
Agree! The idea/question mark came from the fact that we provide both `ValueSpan` and `Value` on `Capture`, but I suspect that is for backward compatibility only.

[2022-08-02 11:48] karelz commented on #65379
@madelson can you please give us some numbers on how often it happens to you? How much it impacts your service? Potentially any business impact on your company or your customers.
We will need the info to justify backport into 6.0.

[2022-08-02 11:52] rzikm commented on #73141
Whoops I forgot to map CONNECTION_TIMEOUT status to QuicError. should be easy to fix.

Also, it looks like the decision we made at https://github.com/dotnet/runtime/pull/72599#discussion_r927462715 bit us sooner than expected, because the connection closes with CONNECTION_TIMEOUT when there is a pending ack for longer than DisconnectTimeoutUs (some 16s by default I think), which may happen when cl

[2022-08-02 11:56] karelz commented on #65379
Triage: Given that we might need to backport the fix to 6.0 (per discussion above - pending impact details), we should fix it in 7.0 (although the impact on 7.0 is much lower than on 6.0) to have the fix ready for potential backport to 6.0.x and to avoid servicing 7.0 if we decide in future to service 6.0.

[2022-08-02 12:01] rzikm commented on #73144
I was not able to reproduce this. Also, from looking at our and MsQuic source code (https://github.com/dotnet/runtime/blob/main/src/libraries/System.Net.Quic/src/System/Net/Quic/QuicConnection.cs#L454 and https://github.com/microsoft/msquic/blob/main/src/core/connection.c#L1487), the order of operation seems to be:
- QuicConnIndicateShutdownBegin -> QuicConnection.HandleEventShutdownInitiatedByTra

[2022-08-02 12:08] vargaz commented on #73184
Can't reproduce this

[2022-08-02 12:08] performanceautofiler[bot] opened #73242 "Regressions in System.Text.Json.Serialization.Tests.ReadJson"
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.18362
Baseline | [20b42d582956965a97376da96e709d1074d51f36](https://github.com/dotnet/runtime/commit/20b42d582956965a97376da96e709d1074d51f36)
Compare | [1dc6524d3d4dc9ba2b661ffd9689dcca6bcebf55](https://github.com/dotnet/runtime/commit/1dc6524d3d4dc9ba2b661ffd9689dcca6bcebf55)
Diff | [Diff](https://github.com/dotnet/runtime/compare

[2022-08-02 12:28] MihaZupan commented on #65379
@madelson can you also please confirm whether the workaround mentioned in the top issue (accessing the `User-Agent` header before sending the request) fully resolves this issue for you (we expect it should)?

[2022-08-02 12:34] rzikm opened #73229 "[QUIC] CONNECTION_TIMEOUT may be misreported as IDLE_TIMEOUT"
when handling SHUTDOWN_COMPLETE event in QuicStream, we assume that an immediate local shutdown on a transport level is due to an idle timeout

https://github.com/dotnet/runtime/blob/main/src/libraries/System.Net.Quic/src/System/Net/Quic/QuicStream.cs#L549

However, as https://github.com/dotnet/runtime/issues/73141 shows, we can hit the same branch due to CONNECTION_TIMEOUT. The difference between

[2022-08-02 12:41] #68992 closed

[2022-08-02 12:47] jkotas commented on #73219
The reflection object does allow you to check whether the property is required by looking for `System.Runtime.CompilerServices.RequiredMemberAttribute`.

[2022-08-02 12:49] SamMonoRT commented on #73081
This is one of our slowest lanes, but equally important given the focus on ARM64 perf this release. I agree, we need to bump the timeout.

[2022-08-02 12:50] SamMonoRT commented on #45831
This work is completed. Closing the issue.

[2022-08-02 12:50] #45831 closed

[2022-08-02 12:54] #72548 closed

[2022-08-02 13:28] stephentoub commented on #73220
I'm not understanding the problem.  A cancellation token is passed in to WaitForConnectionAsync so that if cancellation is requested it'll be canceled.  Cancellation is requested.  The await on the WaitForConnectionAsync throws a cancellation exception, which is how cancellation is communicated in every API throughout .NET that accepts a cancellation token.  This is all by design.

[2022-08-02 13:40] tommcdon commented on #73183
Each bucket is stored by a hash.  It's my understanding that the hash is calculated using the Exception type and the callstack.

[2022-08-02 13:45] lambdageek commented on #73180
@BrzVlad could this be due to #70649?  do you know if we ran `runtime-wasm` tests on that PR?

[2022-08-02 13:47] Kahbazi opened #73231 "[API Proposal]: Add TResource in RateLimitPartition.Factory"
### Background and motivation

[`RateLimitPartition.Factory`](https://github.com/dotnet/runtime/blob/f3483388f770602373cbf031ffbce108784bcf4a/src/libraries/System.Threading.RateLimiting/src/System/Threading/RateLimiting/RateLimitPartition.T.cs#L31) is used to create the `RateLimiter` for a specific partition. At the moment only partition key is available in the creation but what if the type of the

[2022-08-02 13:58] IainStevenson opened #73232 "Ping class responding Timedout not reading response when ICMP Time-to-live exceeded."
### Description

With reference to https://github.com/dotnet/runtime/issues/61465 it appears that the fix already produced is not working, At least on linux containers.

I read the above issue and it matched my scenario so was expecting update my framework/sdk's and move on.

I noted that the fix was not included in 6.0.7 so I pushed on to preview .net 7.

### Reproduction Steps

Note: its a few h

[2022-08-02 14:00] havocbcn commented on #72263
According to https://docs.microsoft.com/en-us/dotnet/core/extensions/logging?tabs=command-line#log-event-id
the same EventId could be repeated in different logs.

[2022-08-02 14:03] fanyang-mono commented on #60068
Nice to have, moving to 8.0.0

[2022-08-02 14:08] lambdageek commented on #73081
It looks like the "LLVM AOT cross-compile CoreCLR tests" step is taking the most time (1hr 54m on an arbitrary build that I looked at).  But this is also the step that doesn't need to run on arm64 machines.  Can we farm out the AOT cross-compilation to some beefy x64 linux VMs?

[2022-08-02 14:10] IainStevenson commented on #73232
I would label as 'area-System.Net' and 'os-linux' but dont have write permissions.

[2022-08-02 14:20] fanyang-mono commented on #73003
This could be a dup of https://github.com/dotnet/runtime/issues/60792

[2022-08-02 14:21] stephentoub commented on #73220
You can see this with your repro, actually.  The repro cites "Expected Result: The app will be ended without exception.", but if you try your repro on .NET 6, you'll see that after pressing ctrl-C, the app doesn't actually end.  It just hangs forever waiting for a connection.

[2022-08-02 14:39] #73212 closed

[2022-08-02 14:42] filipnavara commented on #73232
There are two implementations of `Ping` on Linux which are switched depending on the permissions. #61592 addressed the issue for the one that uses raw sockets. That one is always used on macOS but on Linux it can be used only if you have permission to use raw sockets. You can try to run the program under `sudo` to see how it behaves (or grant cap_net_raw capability using setcap).

The other implem

[2022-08-02 14:46] enriqueraso commented on #64207
@ajcvickers, in which .net version is this issue included? I tested with 6.0302 and it stills happen.

![image](https://user-images.githubusercontent.com/16336745/182403339-238f15d2-7fcd-465a-b71f-f5a29e32de4c.png)

[2022-08-02 14:47] BrzVlad commented on #73180
@lambdageek Oh, it is possible. I'll look into it

[2022-08-02 14:49] ajcvickers commented on #64207
@enriqueraso As the milestone indicates, it will be included in .NET 7.

[2022-08-02 14:51] VadimPeczynski opened #73237 "CultureInfo is not returning proper system language on Mac Big Sur (Version 11.6) M1 (ARM64)"
### Description

I want to get operating system language on Mac Big Sur with .NET 6 and .NET 7 preview 6, but it is always returning en. Tested for de, pt and pl

### Reproduction Steps

Can be reproduced with this code snippet:

using System;
using System.Globalization;

Console.WriteLine($"Language UI Culture: {CultureInfo.CurrentUICulture.TwoLetterISOLanguageName}");
Console.WriteLine($"Languag

[2022-08-02 14:56] IainStevenson commented on #73232
@filipnavara  thanks for the note: I have confirmed by cloning the internal  `RawSocketPermissions` class to use in my code, to determine that it has permissions to use sockets in my environment.

My container log reveals at startup

`netmon.cli.AppHost[0] Can use Sockets On this host... True`

I had already read the source code for `System.Net.NetworkInformation` and determined that was an option

[2022-08-02 15:01] kouvel commented on #34812
What about making the `Lock` type a struct, analogous to `SpinLock`? Perhaps it could save some allocations, and it could potentially be integrated into the `lock` statement while keeping it separate from locking on arbitrary objects with `lock (ref _lock)` or even just `lock (_lock)` with implied passing by ref particularly for the `Lock` type.

[2022-08-02 15:10] ivanpovazan commented on #72181
The build log in VisualStudio should have a line stating the cause of the failure. From what I described above that line should be something like:
[code]
@dr1rrb it would be great if you could confirm this.

[2022-08-02 15:16] lewing commented on #73184
@radical is this happening on more than one machine?

[2022-08-02 15:19] MattGal commented on #73210
As I was working on https://github.com/dotnet/arcade/issues/10139, I will take a look however that's not likely particularly related as that problem was purely with different, erroneous, setup steps on M1 Mac machines.

[2022-08-02 15:19] davidfowl commented on #72263
Event ids are per category

[2022-08-02 15:19] lewing commented on #73213
looks like a dup of #73180

[2022-08-02 15:19] eiriktsarpalis commented on #58947
Appears to have been fixed by #67618. Root cause was attempting to polymorphically serialize a `RuntimeType` instance whose invocation of `get_DeclaringMethod` was throwing `InvalidOperationException`.

[2022-08-02 15:19] #58947 closed

[2022-08-02 15:25] dr1rrb commented on #72181
@spouliot @ivanpovazan

Indeed, I didn't scroll the log enough:

[code]

[2022-08-02 15:26] krwq commented on #49131
Honestly looking at this issue again, I don't believe it's worth to add these APIs just for the sake of nullability. Instead I'd recommend extension method:

[code]

[2022-08-02 15:26] #49131 closed

[2022-08-02 15:28] eiriktsarpalis commented on #73219
We might want to address this in combination with #71944.

[2022-08-02 15:29] MattGal commented on #73210
@bartonjs I fixed up the ARM64 machines yesterday, it would seem we have the same problem on recently imaged 11.00 and 12.00 AMD64 machines as well.  https://github.com/dotnet/arcade/issues/10139 is still open and I'll investigate and get those machines fixed today.

I would also note that the OSX failures linked in this issue are all over the place and many are not LibSSL related... that certainl

[2022-08-02 15:34] danespinosa commented on #73097
Hi everyone, thanks a lot for your input, based on the repros that @stephentoub  and myself provided.

Do we need more repros? If so, how can I help?
If we are ok with the repros that we have, would it be ok if I start a draft PR including the changes @JamesNK  and myself suggested?

[2022-08-02 15:36] TahirAhmadov commented on #49131
I hope you reconsider. This is becoming more and more of an issue where across multiple types and verticals in BCL, things are marked as returning nullable where it doesn't make much sense. This seriously hinders the usefulness of NRT as a feature. The purpose of it is, allow developers to clearly indicate what can and cannot be null; these nullable return methods blur that line.

Yes I can create

[2022-08-02 15:44] stephentoub commented on #73209
The problem is in our handling of optional empty matches (via an alternation, via an optional, etc.) in lazy loops.  The semantics of our engine (and most others) dictate that loops and lazy loops needs to stop iterating once an iteration matches as empty, as otherwise they could match infinitely.  We track in a local whether the last iteration seen was empty.  However, we fail to handle the fact

[2022-08-02 15:49] edgarfgp opened #73240 "Seemingly making NaN the lowest number only affects Min not Max."
### Description

Seemingly making NaN the lowest number only affects Min not Max.

While contributing to https://github.com/dotnet/fsharp/issues/13207.  and based on @tannergooding comment https://github.com/dotnet/fsharp/issues/13207#issuecomment-1194417377

### Reproduction Steps

[code]

### Expected behavior

NaN
NaN
NaN
NaN

### Actual behavior

3
3
NaN
NaN

### Regression?

_No response_

##

[2022-08-02 15:52] MihaZupan commented on #73097
I don't see a reason not to make the change here. Feel free to open a PR @danespinosa, thanks!

[2022-08-02 15:58] #67660 closed

[2022-08-02 16:09] tannergooding commented on #73240
The root issue is that `Max`/`Min` don't follow any documentable IEEE 754 behavior around `NaNs`.

There are effectively three behaviors we could consider:
1. `max`/`min`
2. `maxNumber`/`minNumber`
3. `totalOrder`

`max`/`min` always propagate `NaN` back and thus `Max(NaN, number)` and `Min(NaN, number)` will both return `NaN`. Likewise, `-0` is less than `+0`.

`maxNumber`/`minNumber` always prop

[2022-08-02 16:13] vargaz commented on #73184
Can somebody reproduce this locally ? If so, would it be possible to upload the build dir somewhere ?

[2022-08-02 16:23] lambdageek commented on #72857
Not sure what I was thinking in 6726fae1e7fc8a8e80892f28215e18b89e3a61c7.  Coop suspend is really `mono_os_sem_wait` which boils down to `__timedwait_cp` which processes queued calls.  So it should be ok to suspend the main thread in the first phase together with other threads

[2022-08-02 16:24] vargaz commented on #73180
Reverting #70649 fixes it for me.

[2022-08-02 16:26] tarekgh commented on #72381
I don't think the issue is related to cultures or resources at all. There is another severe problem that is hiding there. Even when using culture different than `en-US`, we should fall back to the neutral resources at the end which is the English resources. Looking at the stack, I am seeing NullReferenceExcpetion is thrown twice in the stack. This can suggest something wrong in general, not allowi

[2022-08-02 16:27] EgorBo commented on #73242
https://github.com/dotnet/runtime/pull/72789 cc @eiriktsarpalis

[2022-08-02 16:30] #72270 closed

[2022-08-02 16:35] krwq commented on #48456
I've took a quick look at this and I think we can close this as by design. Here is the scenario:

[code]

while this is unfortunate it is technically correct and I'm not sure about any good way to fix this other than forbidding document fragments

[2022-08-02 16:35] #48456 closed

[2022-08-02 16:35] karelz commented on #72959
Triage: No hit in CI, likely environmental issue. Moving to Future.

[code]

[2022-08-02 16:38] BrennanConroy commented on #73231
My issue with this is that once the `key` has been created, the `Factory` will only be called once (not entirely true, but for the purposes of this discussion we'll assume once). But the factory here changes behavior based on the resource passed in, which would only apply on the first resource for that specific key. And because the factory is called once per key (which hopefully applies to multipl

[2022-08-02 16:39] karelz commented on #73097
Triage: It is transport (NamedPipe) problem, but given that the fix is simple, we should just swap the read and write calls (while adding comment explaining the order requirement).

[2022-08-02 16:40] wfurt commented on #73232
May be worth of setting up complete unable repro with container @IainStevenson. I'm not sure if we would be able to reproduce otherwise.

[2022-08-02 16:41] tarekgh commented on #73237
@steveisok this is the same issue I believe you have fixed but I am not sure if your fix was in P6? Could you please have a look?

This is not expected to work on .NET 5.0 not .NET 6.0.

[2022-08-02 16:41] EgorBo commented on #73242
Also WriteJson: https://github.com/dotnet/perf-autofiling-issues/issues/7007 (win-x64)

[2022-08-02 16:42] eiriktsarpalis commented on #73240
Seems like something we don't need to address in .NET 7?

[2022-08-02 16:42] jkotas commented on #72381
Yes, we would need a full crash dump to diagnose this issue. @KiristonK Is it possible to share the crash dump with us somehow?

You can either save the dump in debugger, or you can configure OS to collect the crash dump on all fatal errors https://docs.microsoft.com/en-us/windows/win32/wer/collecting-user-mode-dumps when running without debugger.

Does you app has a lot of custom interop with nat

[2022-08-02 16:43] bartonjs commented on #43884
I looked into this now to hope to say that our chain build rewrite for 5 solved this, but it hasn't.  Using `CustomTrustStore` I tried with leftRoot first, or rightRoot first, and both of them terminated on the expired root.

I'm guessing, without looking at code to verify, that when we do our first chain build we say that expiration doesn't matter (with the intent of moving on past an expired cer

[2022-08-02 16:47] #71552 closed

[2022-08-02 16:58] jkotas opened #73246 ""native" instruction set alias for AOT compilers"
It would match the native architecture of the processor on which publishing happens.

Context:
- https://github.com/dotnet/runtime/pull/71911
- https://github.com/dotnet/BenchmarkDotNet/issues/2060

[2022-08-02 17:00] tannergooding commented on #73240
Right, its a bit late in the cycle to consider a break like this and the current behavior, although confusing, has been around for many years.

We should consider it for .NET 8 and if nothing else improve the documentation around the type to call out the handling of NaN.

[2022-08-02 17:03] runfoapp[bot] opened #73247 "GC/API/GC/GetGCMemoryInfo/GetGCMemoryInfo.sh test failing intermittently on CoreCLR Linux ARM32"
Failures - 4/5-8/5 (incl. PRs) via Runfo - [last 120 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E120+definition%3Aruntime+name%3A%22gc%2Fapi%2Fgc%2Fgetgcmemoryinfo%2Fgetgcmemoryinfo.sh%22)
- two failures 7/21, however these occured on arm64 and x64 (first was PR #72229) and nothing further until 7/28
- Failures on arm start on 7/28 [first one](https://runfo.azurewebsites.net

[2022-08-02 17:09] kouvel commented on #53166
The presumed cause of the deadlock while debugging shouldn't be an issue in .NET 7 after https://github.com/dotnet/runtime/pull/67160 and the mitigation in https://github.com/dotnet/runtime/pull/69121 should be available in .NET 6.0.6.

[2022-08-02 17:09] #53166 closed

[2022-08-02 17:10] joperezr commented on #61895
This will likely miss ZBB but will still make it before 7.0. Adjusting the milestone just because this is not technically a blocker for 7.0.

[2022-08-02 17:10] AndyAyersMS commented on #72986
.NET semantics are different. The return value is always "widened" to a stack type. So, the jit will always ensure that upper bytes of small return values are properly cleared/set.

[2022-08-02 17:11] joperezr commented on #61896
This will likely miss ZBB but will still make it before 7.0. Adjusting the milestone just because this is not technically a blocker for 7.0.

[2022-08-02 17:11] lambdageek commented on #73180
Changed https://github.com/dotnet/runtime/pull/73187 to be a revert of 70649

[2022-08-02 17:15] cshung commented on #65466
@antonfirsov, @brianpopow can you still reproduce the issue?

[2022-08-02 17:15] cshung commented on #64884
@jkotas, can you still reproduce the issue?

[2022-08-02 17:17] joperezr commented on #65289
This test is only disabled on .NET Framework now, and seems to be fine on the rest of the frameworks and engines, so I'll go ahead and close this for now.

[2022-08-02 17:17] #65289 closed

[2022-08-02 17:29] joperezr commented on #73223
Thanks for the proposal @ronaldvdv. Not sure if you are aware, but we added some amortized-allocation free APIs that loop through matches in .NET 7, in particular, we added `regex.EnumerateMatches(ReadOnlySpan<char> input)`.  Today, this returns an enumerator that eventually gets you `ValueMatch` structs which contain the index and the length of the match. We didn't have time to add groups and cap

[2022-08-02 17:33] deeprobin commented on #68578
Can we add ReadOnlySpan-APIs (or ReadOnlySequence?)

[code]

[2022-08-02 17:35] deeprobin commented on #68578
& Why is `Token` not a (readonly) struct?

[2022-08-02 17:35] Kahbazi commented on #73231
Yeah I'm aware of that. I would have to guarantee that for each specific resource key, factory have the same behavior.

This would work for hard-coded config, but I was thinking to have `HttpContext.RequestedService` and get the options from database or some configuration. This way I could have dynamic options. I know it won't affect immediately.

...Unless, there will be a `RemoveAllRateLimiter`

[2022-08-02 17:36] #73123 closed

[2022-08-02 17:36] terrajobst commented on #29861
* Looks as proposed

[code]

[2022-08-02 17:38] #29861 closed

[2022-08-02 17:39] wfurt commented on #73210
This is nature of Runfo to bundle unrelated failures together ;(. I trained myself to only look at rolling builds -> there is one hit @MattGal
[code]

[2022-08-02 17:40] IainStevenson commented on #73232
@wfurt thanks, I was jsut working on that very thing to help out. The project I am working right now is here:

https://github.com/IainStevenson/network.monitor

and if you clone it and checkout the `devlop` branch load it into Visual Studio 2022 and run the docker as startup it will spin up a linux container in docker for windows and start it up.

It should take about 10-20 seconds tracing the rou

[2022-08-02 17:43] terrajobst commented on #71775
* Looks as proposed

[code]

[2022-08-02 17:44] karelz commented on #71927
Triage: We had a meeting where we decided the scenario is fairly corner-case (Kestrel users won't see anything, unless they enable Diagnostics).
It would still be nice to have it implemented in msquic, but it is nice to have. Playing nicely with the server is desirable.

[2022-08-02 17:44] antonfirsov commented on #65466
This has been reported by an ImageSharp user in https://github.com/SixLabors/ImageSharp/issues/2001 for Raspberry Pi OS 11 - Bullseye. I don't have the any HW to repro. ImageSharp implemented a sub-optimal workaround to deal with this issue.

Was there a change in the runtime that potentially addressed this?

[2022-08-02 17:45] lewing commented on #73217
You are allocating in a relatively tight loop and there is some caching that happens in the json code for various reasons that might be causing the GC some difficulty in collecting collecting things https://github.com/dotnet/runtime/pull/51160

[2022-08-02 17:47] lewing commented on #72969
I would recommend you try net7 preview6 and enable AOT, there has been considerable improvement in the json performance since net6

[2022-08-02 17:50] lewing commented on #73069
wasm-opt optimizes all the native code in a single pass post compilation, if there is a lot of AOTd code this can require substantial resources.   Without more information about what your application there is no way to know if there is anything wrong.

[2022-08-02 17:52] MattGal commented on #73210
Yup, I found the one bad machine about 20 minutes ago and added notes in https://github.com/dotnet/arcade/issues/10139.    It should be clean everywhere and I have chatted with the DDFUN folks who set up macs, as well as updated their docs.

[2022-08-02 17:54] karelz commented on #73123
Duplicate of #56876

[2022-08-02 17:56] jkotas commented on #68578
It would be de-optimization. Command line parsing should be optimized for minimal code size and startup time. Span APIs like this do not help with that.

[2022-08-02 17:57] karelz commented on #73045
Triage: Limited to corner-case scenario - 2 QuicListener using the same port in the same process. Moving to Future.

[2022-08-02 18:03] eiriktsarpalis commented on #72170
When I created this issue, I had assumed that this would be a metadata validation concern, but this is not the case with dictionary types; we'd need to validate individual key/value pairs at runtime which is not ideal from a performance perspective, and may not even be possible if we have a converter that overrides [`WriteAsPropertyName`](https://docs.microsoft.com/en-us/dotnet/api/system.text.jso

[2022-08-02 18:04] karelz commented on #73151
Triage: We agree with `AuthenticationException` as stated above - in principal whatever bad happens during the handshake means that the authentication failed (same in `SslStream`).
If simple, we should get it in 7.0.

[2022-08-02 18:06] ronaldvdv commented on #73223
Interesting!! Yes, indeed if we have an amortized-allocation free option, it's nice to extend that to include access to individual captures within the match.
- If we would match a single `Regex` pattern against a large set of strings consecutively, would I be sharing the same single `Match` instance throughout those many calls to `Regex.EnumerateMatches()`?
- If we would reuse that `Match` instanc

[2022-08-02 18:15] karelz commented on #73152
Triage: Either we need ability to close connection with `CONNECTION_REFUSED` error code (not possible today) from our async operation, or we would need ability to defer result until we are done with our async operations.
In both solutions we need msquic changes.

Impact on customers is that the client will receive `USER_CANCELED` when `CONNECTION_REFUSED` would be more appropriate.

Does not seem

[2022-08-02 18:16] sebastienros opened #73254 "Memory usage regression"
I am noticing an important regression in GC heap sizes and working set measurement on ASP.NET benchmarks (most of them).

These are the charts for Json MVC.

![image](https://user-images.githubusercontent.com/1165805/182445204-f087594a-7ae6-4e13-82ba-56c0bcc9866e.png)

![image](https://user-images.githubusercontent.com/1165805/182445121-2bf4dabe-415c-4665-bc58-8ae3e4bb9092.png)

~~An early range o

[2022-08-02 18:17] terrajobst commented on #72881
* We believe `Path.GetTempFileName()` was a mistake (should have been called `Path.CreateTempFileName()`)
    - Not bad enough to obsolete, but let's at least hide it
* We'd prefer dedicated APIs on `File` and `Directory`
    - We believe customizing the prefix and extension (suffix) for files is desirable.
    - We should disallow path separators for both `prefix` and `suffix`

[code]

[2022-08-02 18:18] eiriktsarpalis opened #73255 "System.Text.Json should handle attributes in virtual properties consistently"
Currently, System.Text.Json suffers from a few consistency/reliability bugs when it comes to consuming attributes defined in virtual/shadowed property hierarchies. These also manifest as divergences between reflection-based and source generated contract resolution semantics. We should try to fix as many of these as possible and expand our test coverage in this space. It might be the case that we n

[2022-08-02 18:18] mrsharm commented on #67909
Closing as this regression was fixed:

![image](https://user-images.githubusercontent.com/68247673/182445595-0b98e5f8-9d76-43a0-aaa1-b82e196ae191.png)

We are below the level of when segments were enabled.

[2022-08-02 18:18] #67909 closed

[2022-08-02 18:20] IainStevenson commented on #73232
OK that was quite eeasy tos et up everything on my mac, its behaving ther same there too.  Docker desktop for mac with linux containers, so its a linux specific problem. I will try and run code natively on mac next and see.

[2022-08-02 18:21] karelz commented on #73229
Triage: Desired behavior is reporting consistently `CONNECTION_TIMEOUT` also from `QuicStream` (consistency with `QuicConnection`).
We need msquic change -- which has been merged and then 2 lines of code. If it is that simple, we should do it in 7.0 to make error conditions (although rare) consistent.

[2022-08-02 18:23] IainStevenson commented on #73232
Sorry folks, emergency stop. The repo netmon.cli which is executed via the docker compose startup is using net6 which as I understand it missed the boat for teh last change anyway. In that repo is a small PingFixTest project which when you do a build and run of its docker file will get you the simple code I posted originally. I ahvent upgraded the repo yet to .net7 preview. Let me know if you want

[2022-08-02 18:28] cshung commented on #65466
I confirmed that the managed API, `GetGCMemoryInfo.TotalAvailableMemoryBytes`, faithfully reports the value stored in `gc_heap::total_physical_mem`, the field is a `uint64_t`, which cannot be negative (but of course, could be a wrong value). The property `GetGCMemoryInfo.TotalAvailableMemoryBytes` is a long, which is a 64-bit signed integer, and there is a possibility that the conversion generated

[2022-08-02 18:29] karelz commented on #71401
Triage: We do not have 7.0 repro - it seems to be solved there. Closing as Fixed in 7.0.

[2022-08-02 18:29] #71401 closed

[2022-08-02 18:33] akoeplinger commented on #73081
Note that the "LLVM AOT cross-compile CoreCLR tests" step happens on the AzDO build machine so that is already running on an x64 Linux VM. The timeouts are mostly due to the ARM64 Helix queue which runs the tests not having enough capacity to finish in time.

We can a) increase the timeout or b) only run a subset of tests on PRs.

[2022-08-02 18:34] rzikm commented on #73229
MsQuic-side of the change was done in https://github.com/microsoft/msquic/pull/2932

[2022-08-02 18:43] Maoni0 commented on #73254
does this use Server GC? If so it's not affected by [#72923](https://github.com/dotnet/runtime/pull/72923).

[2022-08-02 18:43] elinor-fung commented on #71735
I hit this too - will take a look.

[2022-08-02 18:47] agocke commented on #73169
One more note that [reflection-based serializers](https://docs.microsoft.com/en-us/dotnet/core/deploying/trimming/incompatibilities#reflection-based-serializers) are known to be incompatible with trimming and the recommendation is to use a source generated replacement, like the source-generated version of System.Text.Json that Eirik linked to.

[2022-08-02 18:49] sebastienros commented on #73254
The benchmarks use Server GC. Is there a slight chance that it's still affecting it, because I can repro consistently with just this changeset, and all the other commits have nothing to do with the GC. Is there a trace I can provide that would confirm it?

[2022-08-02 18:54] cshung commented on #65466
Turn out I am able to repro on an ARM64 device by installing an ARM dotnet SDK. I will take it from there.

[2022-08-02 18:54] mrsharm commented on #73254
Could you provide instructions on how to repro? I can try to see if I see the same error locally with and without the change.

[2022-08-02 18:54] #73140 closed

[2022-08-02 18:55] antonfirsov commented on #65466
If this helps or is interesting for any reason: The value [reported by the user](https://github.com/SixLabors/ImageSharp/issues/2001#issuecomment-1041831012) was `-456847360` which is `18446744073252704256` unsigned.

[2022-08-02 18:56] agocke commented on #73183
That doesn't seem too bad then -- you would only see mixed buckets if things had the same callstack but different exceptions. Seems pretty rare.

[2022-08-02 18:57] IainStevenson commented on #73232
OK I built a docker image of pingfixtest and ran it as a linux image in docker for mac under net7 and it fails as described.
I then ran the code via `dotnet build pingfixtest.csproj` followed by hop into bin folder and  `dotnet pingfixtest.dll` where it worked as expected.
So same code different OS and it changes behaviour.

So in all my environments: in linux it is a problem, on the mac its fine,

[2022-08-02 18:57] antonfirsov commented on #65466
I'm stupid, and missed that @brianpopow had a repro: https://github.com/SixLabors/ImageSharp/issues/2001#issuecomment-1042041079

[2022-08-02 18:59] dr1rrb commented on #72181
Hey @ivanpovazan I just tried to build the "Commerce Sample App" with the version "2.2.0-dev.70" (which contains my workaround for the `GetHashCode`) and I noticed that the build (release - device) also fails on the AOT step. But if I target an emulator (still in release, but without AOT), the build succeed ... and my original bug (crash at runtime) is fixed.

I'm wondering if it's not 2 different

[2022-08-02 19:03] tommcdon commented on #62044
Hi @Inerska I was not able to find a UWP project at the https://github.com/Inerska/iutnc_edt_widget link.  My guess is that the project was taking a dependency on a .net 6 library that was incompatible with UWP, but without seeing the project I cannot know for certain.  If this is still blocking you, would you mind sharing the failing project?

[2022-08-02 19:04] terrajobst commented on #72967
* If the goal is to have parity with .NET Framework then we should probably not have more APIs than .NET Framework
    - It seems we need to make some changes because in .NET Framework each subsystem that supported configuration would call into configuration to read data from `app.config` which we don't do in .NET Core because we treat app.config as legacy API that sits on top of everything else.

[2022-08-02 19:10] fanyang-mono opened #73261 "[Mono] Intrinsify loading/storing, reordering, and extracting a per-element "mask" API's of Vector{64, 128, 256}"
Refer to https://github.com/dotnet/runtime/issues/63331 for details.

[2022-08-02 19:11] agocke commented on #73183
Eh, I guess not really if you have some sort of async situation with aggregateexception where everything gets thrown out of one method, but I guess that can't be helped.

[2022-08-02 19:25] tannergooding opened #73262 "Expose Vector512<T> to support the x86/x64 AVX-512 instruction set"
## Summary

Today .NET exposes `Vector64<T>`, `Vector128<T>`, and `Vector256<T>` types which map to the ABI primitives, which are used to support hardware specific functionality available to x86, x64, and Arm64 architectures, and which provide a cross platform abstraction for certain "core" functionality.

x86/x64 also defines/supports a 512-bit vector type but .NET doesn't expose a type that allo

[2022-08-02 19:26] tannergooding commented on #73262
CC. @anthonycanino, @jeffhandley

[2022-08-02 19:28] #69690 closed

[2022-08-02 19:29] tannergooding commented on #73262
This is simply parity with `Vector64/128/256`

It doesn't cover any "new" APIs such as the discussed Leading/Trailing APIs, VectorMask support, etc.

[2022-08-02 19:34] terrajobst commented on #72968
* We don't like `ReferenceEquals` because it's not clear that it covers start and length (as opposed to just start)

[code]

[2022-08-02 19:37] EgorBo commented on #73254
Can confirm it's https://github.com/dotnet/runtime/pull/72923 (I sent patched binary to crank where I reverted that PR)

[code]

[2022-08-02 19:40] terrajobst commented on #72970
* We decided to rename it to match other attributes

[code]

[2022-08-02 20:14] naricc commented on #73081
Here is a PR to increase the timeout: https://github.com/dotnet/runtime/pull/73265

[2022-08-02 20:30] robcamer commented on #73192
Thanks for the quick feedback

[2022-08-02 20:35] fanyang-mono commented on #73081
Note that the timeout count for 1 month is the same as 7 days. I suspect that a recent change caused this. I did some digging and found that full AOT lanes on both Arm64 and X64 started to slow down since the build on July 19th (https://dev.azure.com/dnceng/public/_build/results?buildId=1889738&view=results)

Comparing to the previous build (https://dev.azure.com/dnceng/public/_build/results?build

[2022-08-02 20:44] kunalspathak commented on #71059
I added a flag to disable "hoisting expression out of nested loop" in https://github.com/kunalspathak/runtime/commit/a29daa4f84529f5e50f9e8b1b20c91124165187a to see what the impact is on performance post https://github.com/dotnet/runtime/pull/70271. Hoisting doesn't change the generated code as seen in https://www.diffchecker.com/wQsuJBye. Here, left is code generated without "hoisting out of nest

[2022-08-02 20:44] #71059 closed

[2022-08-02 20:53] vargaz commented on #73081
It's possible, it does add some instances which were not there before, therefore slowing down the AOT process.

[2022-08-02 20:57] Clockwork-Muse commented on #72881
In python temp files/directories are context objects, you can do the equivalent of:
[code]
... and the objects are automatically cleaned up afterwards.  Of course, doing that also auto-opens the file as well...

Should something like this be considered?  Or this is just the base functionality, and that's a feature that should maybe be considered later.

[2022-08-02 21:01] eerhardt commented on #72881
See the linked issue above - https://github.com/dotnet/runtime/issues/2048

[2022-08-02 21:04] barry-bvl commented on #64207
@ajcvickers Will such regression not be solved in a LTS as .NET 6 as well?

[2022-08-02 21:06] jkotas commented on #64884
I am not able to reproduce it with latest .NET 6 servicing nor current .NET 7 anymore.

It might have been fixed by https://github.com/dotnet/runtime/pull/69106.

@ahowroyd Could you please try latest .NET 7 preview https://dotnet.microsoft.com/en-us/download/dotnet/7.0 and verify that it is not crashing for you either?

[2022-08-02 21:07] steveisok commented on #73008
@vargaz These are still failing because it's trying to JIT:

https://github.com/dotnet/runtime/blob/aac729ff906a31f327823587748687c0308a4043/src/libraries/System.Runtime.InteropServices/tests/System.Runtime.InteropServices.UnitTests/System/Runtime/InteropServices/Marshal/PtrToStructureTests.cs#L153-L160

https://github.com/dotnet/runtime/blob/aac729ff906a31f327823587748687c0308a4043/src/libraries/

[2022-08-02 21:07] tarekgh commented on #73119
We are currently not supporting TOML support in BCL. This is something we can consider if we globally support this format cross BCL. We are closing this for now and we can reopen if we decide to support TOML globally in the future. The community libraries outside the runtime can still choose to do this.

[2022-08-02 21:07] #73119 closed

[2022-08-02 21:13] tarekgh commented on #73016
@JokerFunny how this is strictly blocking you? Is it ok to consider this for the next release?

[2022-08-02 21:16] joperezr commented on #73223
Assuming you are using the same regex object to call for the different inputs, then yes. When `EnumerateMatches` is called, only one internal `Match` object will be created `RegexRunner._runmatch` (if it wasn't created already by a previous call to the same regex instance) and this will get reused both while enumerating all of the results on each input, as well as everytime you provide a new input

[2022-08-02 21:16] tarekgh commented on #71170
@lateapexearlyspeed we are considering the fix for this in the next release to reduce the risk of the changes in the current release. Thanks for opening the PR. can we just close the PR for now and we reopen when branch for next release?

[2022-08-02 21:29] #64015 closed

[2022-08-02 21:30] steveisok commented on #73237
For desktop, the change I made was a backstop in the event your `LANG` environment variable was not set.  On OSX, it should always be set and change when you alter your preferred language and region.

@VadimPeczynski can you confirm your `LANG` environment variable is set to the language / region you want?

[2022-08-02 21:39] Myriachan commented on #12779
NT API `NtAllocateVirtualMemoryEx` is documented as kernel32 API `VirtualAlloc2` / `VirtualAlloc2FromApp`.

[2022-08-02 21:48] Maoni0 commented on #73254
I took another look at 72923 and I do see a problem with it _for WKS GC_. it needs to initialize the saved_allocated in the else case when `shigh` is 0. but still, this PR should not have any effect on SVR GC. so I'm very curious what's causing what you are seeing. I tried to retry this locally but I can't even get an mvc project to build with the latest preview7 build...

[2022-08-02 21:51] ivanpovazan commented on #72181
hey @dr1rrb, if it is failing with the same error message (mentioned above) in the fullAOT build - device build, then it is most likely the same issue.
Regarding the simulator, it is a bit more difficult to trigger the actual call which causes the problem, so the AOT build should be your measuring (repro) point.

[2022-08-02 21:54] sebastienros commented on #73254
Confirming it's running with Server GC, we do output the value during the run to be certain it is doing so:

http://asp-citrine-win:5001/jobs/245/output:

[code]

And the code that displays this line:

https://github.com/aspnet/Benchmarks/blob/main/src/Benchmarks/Program.cs#L197

[code]

[2022-08-02 22:01] steveharter commented on #72967
Since these are static events, the [guidelines](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/event) state: _DO pass null as the sender when raising a static event.

This implies bringing back `ConfigureSwitchEventArgs` and `ConfigureTraceSourceEventArgs.TraceSource`.

These are needed in case a `TraceSource` or `Switch` is removed from a config file and `Trace.Refresh()` is c

[2022-08-02 22:04] BrennanConroy commented on #73231
The key is chosen by the user:
[code]

[2022-08-02 22:05] stephentoub commented on #72586
The issue here stems from HttpConnection not passing the CancellationToken down into the underlying Stream.ReadAsync operations and instead registering with the token to Dispose of the stream if cancellation is requested.  That causes a problem for this specific test because the test is simply issuing a read (with no writes) and waiting for a cancellation request.  And while it sounds like the iss

[2022-08-02 22:08] Asivaprasadam commented on #73094
@eiriktsarpalis I'll look into adding a minimal example after reading the guide.

Without Visualisation, this code produces the error/ bug.
[code]
The C will not have the expected value, which is `F8 07 F8 07 F8`!

I just wanted a quick way to allow others to visualize and replicate the error. Hence the long code with printing and so forth for visualizing.

Additionally, the problem might only be

[2022-08-02 22:26] Maoni0 commented on #73254
do you know why I'm getting this?
[code]

[2022-08-02 22:29] sebastienros commented on #73254
Maybe you have installed nightly bits (preview7) but not the full SDK (with aligned runtime/aspnet).

[2022-08-02 22:32] Maoni0 commented on #73254
I see, that makes sense. next Q is where do I install the full SDK from? I installed preview7 from https://github.com/dotnet/installer.

[2022-08-02 22:36] jkotas commented on #73254
If you install nightly SDK builds, you need to manually add nightly nuget feed to your nuget config: https://github.com/dotnet/runtime/blob/main/docs/project/dogfooding.md#obtaining-daily-builds-of-nuget-packages

[2022-08-02 22:49] mrsharm commented on #73254
@Maoni0: I was able to repro the issue using (thanks @EgorBo):

[code]

and found that reverting the following on line number 28726 in ``plan_phase``

[code]

back to:
[code]

Fixes the memory issue. This is one of the cases that isn't in WKS. Continuing to investigate why this is the case.

[2022-08-02 22:56] #73127 closed

[2022-08-02 22:58] m-chandler commented on #73217
Hi @javiercn and @lewing thanks for the response and for looking into this.

My sample project was an attempt to highlight the issue I'm seeing in our app. I certainly didn't want to invent an issue because of bad code in the sample project 😂. When I noticed the climbing memory utilisation via the custom JSON converter (and that this didn't happen without the custom JSON converter), I thought I wa

[2022-08-02 23:02] JamesNK commented on #73045
Could this go into 8?

I agree it's not common, but people do all kinds of crazy stuff in server apps. Having a clear error message when they mess this up would stop those people from getting stuck with an unhelpful error message.

[2022-08-02 23:02] Maoni0 commented on #73254
oh, I see the problem......... you missed an 'S' in the #ifdef

[code]
is supposed to be

[code]
this change is supposed to not have any effect on Server GC because `saved_allocated` is supposed to be

[code]
for Server GC.

[2022-08-02 23:13] wfurt commented on #73045
Since it seems like there is no distinct error, we would need MsQuic changes to detect this reliably.
cc: @nibanks for more thoughts.

[2022-08-02 23:17] #73076 closed

[2022-08-02 23:24] #72498 closed

[2022-08-02 23:27] #69652 closed

[2022-08-03 00:50] tarekgh commented on #69724
Looking at the list of commits https://github.com/dotnet/runtime/compare/6e4eba8c98f4e05ece31a883dc23076a78f7c7b9...15dda0efe52c2aaa7a4e783f443eefb558529248 I am not seeing any commit for logging nor globalization which can cause any regression.

@AndyAyersMS do you think https://github.com/dotnet/runtime/commit/41491a397324f9dfad5c57f9a09daee4591711a7 can cause such regression?

[2022-08-03 00:51] #71775 closed

[2022-08-03 00:59] wfurt commented on #72586
I was running with change @stephentoub suggested as try and the issue disappears
[code]

While this is test change, we should still keep this issue open for product fix. Since this is now understood and it seems like it is very corner case specific to not using the stream after cancelation and using special in-memory stream, I'm going to move it to future (and leave the tests disabled for now)

[2022-08-03 01:34] #73254 closed

[2022-08-03 01:57] Maoni0 commented on #12779
Windows will automatically use 1GB pages if it can find one. so no action needs to be done by us. so this can be closed.

[2022-08-03 01:57] #12779 closed

[2022-08-03 02:02] lateapexearlyspeed commented on #71170
Closed for current release for now @tarekgh

[2022-08-03 03:06] AndyAyersMS commented on #69724
No, it was a bug fix for a very rare case.

Seems like whatever the cause of these regressions, most now are faster now -- perhaps we can just close this.

![newplot - 2022-08-02T195059 943](https://user-images.githubusercontent.com/10121823/182513705-8189c9f8-daf8-4ae1-b872-acfd534ffa68.png)
![newplot - 2022-08-02T195202 485](https://user-images.githubusercontent.com/10121823/182513844-b3df56a3-c

[2022-08-03 03:18] rodrigovaras commented on #73076
Thanks @MichalStrehovsky, when can we expect this on the nuget feed ?

[2022-08-03 04:17] AntonLapounov commented on #41291
Implemented in #71661.

[2022-08-03 04:17] #41291 closed

[2022-08-03 04:53] MichalStrehovsky commented on #73076
We have daily builds so there should already be an ILCompiler package with it.

[2022-08-03 05:01] huoyaoyuan commented on #69694
@tannergooding I have some further questions about versioning.
Some generic math interfaces members are approved but not yet implemented, for example IEEE754 suggested operations. There are still members be added to the interface recently.
Would the interfaces be versioned like normal interfaces, that no abstract member can be added in order to not break external implementations? Would this become

[2022-08-03 05:39] carlreinke commented on #72968
`IdentityEqual`?

[2022-08-03 05:40] jamsoft opened #73280 "NativeAOT Symbol Stripping on OSX with binutils"
I have a NativeAOT application compiling on Windows, Linux and OSX.

On Linux post compilation I can run this command and strip successfully:

[code]

When I tried the same on OSX at first it couldn't find the command and doing a few `mdfind` searches didn't turn anything up. So I installed `binutils` using `brew install`.

Once I'd run the same command against the OSX executable it processed the

[2022-08-03 05:46] KiristonK commented on #72381
@jkotas As i said before, now i can't reproduse this problem.  The project that i attached still have wierd Flyout behavior (items does not show in release config, problem in `FlyoutItemTemplate`), but app launches and does not throw `Infinite recursion during resource lookup within System.Private.CoreLib`. That is MAUI project so maybe problem was caused by MAUI and recent update fixed it.
Today

[2022-08-03 05:50] jkotas commented on #72381
Yes, that's quite possible.

For the " Infinite recursion during resource lookup" crash like the one at the top, it is better to start with dotnet/runtime.

[2022-08-03 05:50] #72381 closed

[2022-08-03 05:51] MichalStrehovsky commented on #73280
The latest builds support setting `<StripSymbols>true</StripSymbols>` in your project file to do this for you: https://docs.microsoft.com/en-us/dotnet/core/deploying/native-aot#native-debug-information

You need pretty bleeding edge latest NativeAOT since this is relatively new (Preview 7 builds might have it, RC1 for sure).

[2022-08-03 06:07] jamsoft commented on #73280
Right, thanks for the reply.

Due to some other issues in the libraries and frameworks I'm using I can't currently switch from the preview to RC versions. I think I have a bit of a waiting game on my hands.

[2022-08-03 06:08] MichalStrehovsky commented on #73246
I think the most maintainable way might be to extract the CPU flag detection from the runtime:

https://github.com/dotnet/runtime/blob/cdf21f143735b8d104c8e636a37eb068904cdd8b/src/coreclr/nativeaot/Runtime/startup.cpp#L162-L305

Into a place that can be shared with the JitInterface native library:

https://github.com/dotnet/runtime/tree/cdf21f143735b8d104c8e636a37eb068904cdd8b/src/coreclr/tools/ao

[2022-08-03 06:09] Junjun-zhao commented on #73220
@stephentoub Thanks for your detailed clarification and confirmation. Since this behavior change is by design, we will close this bug.

[2022-08-03 06:09] #73220 closed

[2022-08-03 06:18] MichalStrehovsky commented on #73280
You can reverse engineer what it does on OSX from the targets; https://github.com/dotnet/runtime/blob/6251d496e307ed39f1e600cd036106cc1bd7e340/src/coreclr/nativeaot/BuildIntegration/Microsoft.NETCore.Native.Unix.targets

Looks like it's dsymutil and strip.

[2022-08-03 06:18] jamsoft commented on #73280
Ahhhhh, many thanks. Will investigate.

[2022-08-03 06:30] yaakov-h opened #73281 "PollingFileChangeToken.ActiveChangeCallbacks says it is always false but can be true"
### Description

`PollingFileChangeToken.ActiveChangeCallbacks` is documented to be "Always false.", but it can be set to `true` by `PhysicalFilesWatcher` here:

https://github.com/dotnet/runtime/blob/2201016c1e13bdb9abf49e2e38cadf4ee0568df2/src/libraries/Microsoft.Extensions.FileProviders.Physical/src/PhysicalFilesWatcher.cs#L195

The issue seems to have been introduced here when an `internal` se

[2022-08-03 06:35] JamesNK opened #73282 "HTTP/3: Error when multiple connections to a server"
### Description

I've noticed the gRPC benchmark has failed requests when there are multiple connections.

### Reproduction Steps

1. `git clone https://github.com/jamesnk/grpc-dotnet`
2. `git checkout jamesnk/net7`
3. `dotnet run -c Release --project .\perf\benchmarkapps\GrpcAspNetCoreServer\ -- --LogLevel Trace --protocol h3`
4. `dotnet run -c Release --project .\perf\benchmarkapps\GrpcClient\ -

[2022-08-03 07:01] haiduong87 commented on #72177
I also have the same issue

Configuration

    Client: Windows Server 2016
    Server: minio k8s (https://docs.min.io/minio/k8s/index.html)
    .NET Core 3.1
    x32

https://github.com/minio/minio-dotnet/issues/667

[2022-08-03 07:02] JamesNK commented on #73282
I tested this more and found the problem is related to https://github.com/dotnet/runtime/issues/72511.

It turns out the answer to my [first question here](https://github.com/dotnet/runtime/issues/72511#issuecomment-1189990477) is no, the callback doesn't run when AcceptConnectionAsync is called. It runs in the background as connections are received.

[2022-08-03 07:05] JamesNK commented on #72511
The alternative proposal doesn't work. The callback **isn't** run when `AcceptConnectionAsync` is called. It happens in a background thread. Saving state of the current connection via closure doesn't work. Neither will passing in state via `AcceptConnectionAsync`

That brings us back to the idea of adding a property bag to `QuicConnection`.

[2022-08-03 07:47] WenJunJi01 commented on #71856
Today we tested the latest .NET 7 RC1 SDK from main branch of https://github.com/dotnet/installer, detailed results are as below.

**x64 version:**
![image](https://user-images.githubusercontent.com/87680983/182539856-f0755789-fe8b-4c96-99c9-0677d5e38325.png)
Detailed logs: [x64_errorlog.txt](https://github.com/dotnet/runtime/files/9249097/x64_errorlog.txt)
Dotnet info:
![image](https://user-image

[2022-08-03 07:52] #39256 closed

[2022-08-03 07:59] srxqds commented on #73197
@vargaz  @lambdageek  can you help me?

[2022-08-03 08:14] YongChingShieh opened #73303 "Event log file is full"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I use ILogger in net core 6.0 and running  windows ,about a few months ,i get error "Event log file is full"

### Expected Behavior

[code]

### Steps To Reproduce

_No response_

### Exceptions (if any)

_No response_

### .NET Version

6.0.100

### Anything else?

dotnet info:
.NET SDK (ref

[2022-08-03 08:35] chuacw opened #77464 "Uri constructor cannot parse http://hostname:port/ when hostname is * or +"
### Description

* The Uri constructor cannot parse http://hostname:port/ when hostname is * or +, ie, http://*:9999/ or http://+:9999 will cause an exception to be thrown.

[code]
* On the "new Uri(url)" line, the following exception occurred
System.UriFormatException
  HResult=0x80131537
  Message=Invalid URI: The hostname could not be parsed.
  Source=System.Private.Uri
  StackTrace:
   at Syst

[2022-08-03 08:49] #71856 closed

[2022-08-03 09:01] srxqds commented on #73197
![image](https://user-images.githubusercontent.com/5187024/182568765-0756b358-993b-4cb6-b3c7-7fa00f428e6d.png)

I found the code - buf == buf_len， it must be < ?

[2022-08-03 09:03] MichalStrehovsky commented on #73280
I think we can close this.

[2022-08-03 09:03] #73280 closed

[2022-08-03 09:06] ahdung commented on #65593
Any news?

[2022-08-03 09:06] MichalStrehovsky commented on #72801
@LakshanF could you milestone the issue and remove untriaged? It shows up in queries.

[2022-08-03 09:07] MichalStrehovsky commented on #72415
@LakshanF could you milestone the issue and remove untriaged? It shows up in queries.

[2022-08-03 09:08] MichalStrehovsky commented on #73172
@tlakollo  could you milestone this and remove untriaged? It shows up in queries.

[2022-08-03 09:08] MichalStrehovsky commented on #73116
@VSadov could you milestone this and remove untriaged? It shows up in queries.

[2022-08-03 09:08] IainStevenson commented on #73232
I am going to go out on a limb here and suggest this may be an endian problem.  Windows Works, Mac works, Linux fails.

The code paths in PingRawSockets.cs will result in a Timedout response in its calling code if the returned message Identifier is not the same as was configured for the socket.

This fits the problem profile of the observed (in wireshark)  message returning and being 'ignored' and

[2022-08-03 09:10] eiriktsarpalis commented on #73217
I'd honestly be very surprised if adding the custom converter played a substantial role in the performance issue you're experiencing, considering it is not being used at all by the type your reproduction is deserializing. To illustrate, this console app will execute without any exceptions being thrown:
[code]
will deserialize successfully.

The only substantially difference at runtime when registe

[2022-08-03 09:17] IainStevenson commented on #73232
Well I found my linux contaier is little-endian (same as windows) so maybe not.

[2022-08-03 09:20] eiriktsarpalis commented on #73217
I think the problem here is not specfic to Blazor WASM or using custom converters. It would seem like the loop in your application is instantiating a new `JsonSerializerOptions` instance on each iteration:
[code]
This is [not recommended](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-configure-options?pivots=dotnet-6-0#reuse-jsonserializeroptions-instances) since

[2022-08-03 09:28] filipnavara commented on #73232
I'm trying to reproduce it under WSL. I do get similar symptoms but I still need to confirm that it's ultimately the same cause.

[2022-08-03 09:28] VadimPeczynski commented on #73237
@steveisok @tarekgh thank you for your response.
Yes, lang variable is set to the proper language e.g. for **pl**:

but for **de** I'm getting:

[2022-08-03 09:40] BrzVlad commented on #58828
@radical Is there a way to see how often this crash happened in the last months and for which suites ? Crashes containing `major_scan_object_concurrent_with_evacuation`

[2022-08-03 09:43] Symbai commented on #73262
Isn't that already tracked with #35773 ?

[2022-08-03 09:53] vargaz commented on #73197
It was fixed by:
https://github.com/mono/mono/pull/18195

[2022-08-03 09:55] JokerFunny commented on #73016
Hi @tarekgh
No, it's not blocking for us, we handled it via second 'Known Workarounds'. But in general, this behavior is unexpected (from just using of existing API) for users and should be fixed.

[2022-08-03 09:56] srxqds commented on #73197
ok thank you
but what the reason about it?

[2022-08-03 10:01] IainStevenson commented on #73232
@filipnavara  I was wondering that myself, the common problem denominators so far are docker & linux.

I will also work on a wsl environment here to see if I can eliminate docker from the environment. I am certaily learnig lots with this one :)

[2022-08-03 10:06] #37848 closed

[2022-08-03 10:17] ilonatommy opened #73287 "[wasm][debugger][codespaces] Enable debugger's Firefox tests in Codespaces"
Running debugger tests in Codespaces for Firefox (with ` /p:DebuggerHost=firefox`) results in:
[code]
It's that we are looking in the path: `/workspaces/runtime/artifacts/bin/DebuggerTestSuite/wasm/Release/../../firefox/firefox/firefox` when we should be looking here: `/workspaces/runtime/artifacts/bin/DebuggerTestSuite/wasm/Release/../../../firefox/firefox/firefox` (1 lvl higher).

[2022-08-03 10:18] filipnavara commented on #73232
What happens on my WSL is that the [ReceiveFrom call](https://github.com/dotnet/runtime/blob/25f82d5eb851fa391bebfbfb865561e27eeca211/src/libraries/System.Net.Ping/src/System/Net/NetworkInformation/Ping.RawSocket.cs#L253) doesn't even get the ICMP timeout replies. It just times out.

[2022-08-03 10:19] #73197 closed

[2022-08-03 10:28] Inerska commented on #62044
Hey @tommcdon, that's an old project and I guess that I changed the framework I used, maybe checking an old commit.
https://github.com/Inerska/ULApi/tree/0e532b9cf0df4c089c57eec311d5a4e287b7b567

But I can ensure that the issue is here

[2022-08-03 10:57] Robelind opened #73396 "XSD validation"

[2022-08-03 11:01] karelz opened #73290 "[HTTP/3] Support Single-file on Windows"
HTTP/3 should be supported also in Single-file scenario on Windows.

Linux is simple as msquic is "part of OS" - external package that is prereq for HTTP/3 to work.
On Windows, we build and include msquic.dll as part of .NET Runtime.

@vitek-karas can point us to what needs to happen to make it work.
cc @jkotas

[2022-08-03 11:04] IainStevenson commented on #73232
While I was downloading a WSL distro I ran the pingfixtest code through a windows container on dokcer and it worked as expected.

I modified my code to loop  from hop 1 to 30 and exit on success.

# linux container

[code]

# windows container
[code]

So that agreees with your results. Something about the linux environment which dives down into Ping.RawSockets.cs has a problem with the socket call

[2022-08-03 11:04] mkhamoyan commented on #67853
Closing as duplicate of #51390
After #51390 is fixed , will enable all these tests

[2022-08-03 11:05] karelz commented on #73290
Triage: We discussed with @vitek-karas that such work should be part of 8.0 -- it is too late for 7.0 and the usage of HTTP/3 is not that much widespread yet.
Moreover, there is workaround (which we can document on demand) to copy msquic.dll next to Single-file (while not perfect, it is at least functional).

[2022-08-03 11:11] karelz opened #73291 "[HTTP/3] Support NativeAOT on Windows"
HTTP/3 should be supported also in NativeAOT scenario on Windows.

Linux is simple as msquic is "part of OS" - external package that is prereq for HTTP/3 to work.
On Windows, we build and include msquic.dll as part of .NET Runtime.

@vitek-karas or @MichalStrehovsky can point us to what needs to happen to make it work.
cc @jkotas

Related to Single-file support in #73290

[2022-08-03 11:12] karelz commented on #73291
Triage: We discussed with @vitek-karas that such work should be part of 8.0 -- it is too late for 7.0 and the usage of HTTP/3 is not that much widespread yet.

[2022-08-03 11:14] IainStevenson commented on #73232
I guess the next question is, Are you getting a reply showing up in wireshark that is getting lost, or is there genuinely nothing coming back? I am seeing replies coming back in. I can post my saved session for you?

[2022-08-03 11:18] vitek-karas commented on #73290
@VSadov should know the technical details, but high level:
* `msquic` needs to be statically linked into the `singlefilehost.exe` during our build
* The native entry points which `msquic` exposes and are used by managed code need to be "marked" as internal, so that interop redirects them into the exe (and won't try to load `msquic.dll`
* The managed code which uses `msquic` might need changes - th

[2022-08-03 11:20] ahmed-salem-me commented on #73069
@lewing We are working on this opensilver.com , which runs as a blazor wasm app, though doesn't use any blazor specific features.
So I'm not sure I can isolate the issue without using opensilver libraries.
I will try, but I might have to send you an opensilver test app, where the issue appears.

[2022-08-03 11:24] filipnavara commented on #73232
I do see the requests/replies on the outer host machine:

<img width="1054" alt="image" src="https://user-images.githubusercontent.com/1764393/182596407-2d6bd06e-8d3e-4744-99e2-07ac145de5e3.png">

That doesn't necessarily mean the guest machine sees the same.

[2022-08-03 11:27] karelz commented on #72977
Triage: Looks like a recent regression -- happening 8x per day. We should disable the test ASAP - @rzikm can you please do it? Thanks!

[2022-08-03 11:31] terryryan1431 opened #73292 "https://github.com/dotnet/runtime/blob/main/.github/fabricbot.json"

[2022-08-03 11:38] karelz commented on #72830
@rzikm can you please check how often it happens? Thanks!

[2022-08-03 11:43] IainStevenson commented on #73232
i think it may be an linux default firewall issue.

I read [here ](cyberciti.biz/tips/linux-iptables-9-allow-icmp-ping.html) taht this may help.

[code]

I am going to switch back to linux containers and try ad see if it the problem and if that helps.

[2022-08-03 11:43] MESINDUPA opened #73293 "acc"
### Description

### Configuration

### Regression?

### Data

### Analysis

[2022-08-03 11:44] MESINDUPA commented on #73293
follow to work in well

[2022-08-03 11:44] MESINDUPA commented on #73293
acc

[2022-08-03 11:44] MESINDUPA commented on #73293
.

[2022-08-03 11:45] MESINDUPA commented on #73293
ok

[2022-08-03 11:45] MESINDUPA commented on #73293
-

[2022-08-03 11:49] CarnaViire commented on #73177
Both issues fixed after ASP.NET Core update, closing.

[2022-08-03 11:49] #73177 closed

[2022-08-03 12:01] madelson commented on #65379
@MihaZupan thanks for following up. We've deployed the fix and are actively monitoring. The error was transient, so we want to wait a week or so before declaring victory.

[2022-08-03 12:09] teo-tsirpanis commented on #73290
I wonder if we could create bespoke single-file hosts that link to custom static libraries at publish-time. The apps that don't use `HttpClient` won't have to bear the burden of half a megabyte of code they won't use, and these that do use it but don't need HTTP/3 would be able to remove support for it with a feature switch, and other libraries could use it to bundle their own native dependencies.

[2022-08-03 12:12] vitek-karas commented on #73290
So far we've been trying to avoid dependency on platform linker for these scenarios. I think we might be able to do this for the NativeAOT version of this problem, since that one already has a dependency on platform linker.

[2022-08-03 12:26] rzikm opened #73295 "Incorrect certificate chain used in SslStream_UntrustedCaWithCustomTrust_OK test."
Discovered while working on https://github.com/dotnet/runtime/issues/72873.

During the original implementation, there was a typo at

https://github.com/dotnet/runtime/blob/cfa4f6f26e303eb0f0f67e3798fcf005e0124092/src/libraries/System.Net.Security/tests/FunctionalTests/SslStreamNetworkStreamTest.cs#L791

From discussion with @wfurt, the second argument should be `serverChain`. However, the change

[2022-08-03 12:31] IainStevenson commented on #73232
@filipnavara Ah how the thick plottens!

I checked the firewall rules eventually by adding run arguemtns for docker to allow me to.

[code]
And installed iptables and sudo

[code]

and only to find its already accepting everything.

[code]

So I dug deeper and installed `tcpdump` and this was the output on the container console whilst the code ran in another cosnole.

[code]

So the container is s

[2022-08-03 12:39] IainStevenson commented on #73232
@filipnavara OOO errr. this does not look good. :(

I stepped up the detail and can see a laod of bad cksum on incoming data

[code]

[2022-08-03 12:59] mikegoatly opened #73297 "[API Proposal]: Allow C# models to be decorated with an attribute to indicate required code generation, not JsonSerializerContext"
### Background and motivation

I've been looking at enabling trimming for some of our projects now we've migrated to .NET 6, and have found the current design for configuring the supported types on a `JsonSerializerContext` to be quite cumbersome.

Some of our projects have a reasonable, though not excessive, number of models that can be both serialized and deserialized from a third party API. Thi

[2022-08-03 13:14] IainStevenson commented on #73232
@filipnavara  Well the linux Ping utility also gets those so that is not a factor.

[code]

[code]

[2022-08-03 13:21] ilonatommy opened #73298 "[wasm][debugger] Detect when overriding field is overridden on `GetProperties`"
Continuation of https://github.com/dotnet/runtime/issues/69788 for VOO case.

Problem:
having derived classes of the structure as in DebuggerTests.GetProperties, where "X <- Y" means "X inherits from Y":
DerivedClass2 <- BaseClass2 <- BaseBaseClass2 ; that have member properties, correspondingly:
override prop <- override prop <- virtual prop
should result in displaying 1 property on GetProperies

[2022-08-03 13:25] jkotas commented on #73291
We do not need to a separate issue tracking this for NativeAOT. The solution and the work required to make it happen should be 95% same between singlefilehost and NativeAOT.

Duplicate of https://github.com/dotnet/runtime/issues/73290

[2022-08-03 13:25] #73291 closed

[2022-08-03 13:48] eiriktsarpalis commented on #73297
It might be something we might consider, that being said there are a couple of drawbacks with that approach:

* The new attribute makes it possible to point to contexts not in the current project, which a source generator cannot support. It shouldn't be a huge issue assuming we detect this and provide a user friendly diagnostic explaining why this cannot work.
* It might negatively impact performa

[2022-08-03 14:02] jkotas opened #73299 "Intermittent crash in DynamicGenerics test on OSX x64"
[code]

[2022-08-03 14:03] jkotas commented on #73299
Hit in #73271. Full log https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_apis/build/builds/1920116/logs/1036

[2022-08-03 14:03] fanyang-mono commented on #72938
@vargaz Any thoughts?

[2022-08-03 14:03] #65466 closed

[2022-08-03 14:04] #58690 closed

[2022-08-03 14:24] SamMonoRT commented on #73081
This issue is to ensure no build time outs. Any other code changes to actually reduce aot compilation times should be tracked via linked issue

[2022-08-03 14:28] tannergooding commented on #73262
Yesn't. #35773 was a general discussion issue requesting AVX-512 support be added. However, it was not actionable from the perspective of API review.

This issue we can actually take to API review for approval. I'm working on and will likewise be getting up 1 or more issues covering the `class Avx512` types that are necessary for the platform specific intrinsics.

[2022-08-03 14:31] SamMonoRT commented on #72778
@lewing @mkArtakMSFT - should this be moved to the aspnet repo ?

[2022-08-03 14:33] vargaz commented on #72938
There is caching done during the wasm AOT build. However, AOT images currently depend on the exact versions of their input assemblies and the assemblies referenced, so if something changes they need to be recompiled. Another issue is that the linker creates one of a kind assemblies so it's hard to share them between projects.

[2022-08-03 14:33] SamMonoRT commented on #72181
@ivanpovazan - other than backporting to mono\mono, does any more work remain for this for the dotnet/runtime repo for 7.0.0 ?

[2022-08-03 14:34] SamMonoRT commented on #72778
cc @SteveSandersonMS

[2022-08-03 14:37] ivanpovazan commented on #72181
@SamMonoRT, I don't think so

[2022-08-03 14:37] tannergooding commented on #69694
There is only 1 approved API that didn't actually get exposed and that is `compound`. Other functionality called out in the doc represent functionality that .NET likely won't expose (as it represents legacy IEEE 754 concepts we aren't supporting) or wouldn't expose as part of the generic math interfaces (often because it operates over a collection of `T` and so would be better suited for exposure

[2022-08-03 14:38] SamMonoRT commented on #71195
@jonathanpeppers @steveisok : do we know if there is a corresponding issue in xamarin-android repo or the move command didn't work ?

[2022-08-03 14:39] rzikm commented on #72830
Very often, 98 hits in the last 14 days. Curiously, none of these are on main

[2022-08-03 14:43] SamMonoRT commented on #72858
cc @lambdageek

[2022-08-03 14:44] SteveSandersonMS commented on #72778
It sounds like you might have mutually conflicting requirements here:

 * You want to return a real 404 as part of the initial page response, which implies you **must** enable server-side prerendering (otherwise the page hasn't even executed its logic when the initial HTML is returned, so it would be impossible to know what the eventual status code would be)
 * But you also want to do auth based o

[2022-08-03 14:44] SamMonoRT commented on #71079
@alhad-deshpande @directhex : Is there any more work remaining here or can this be closed ?

[2022-08-03 14:45] eerhardt commented on #65593
@ahdung - we don't have any plans on addressing this in the near future.

If you need to persist preference/config data in your application, my suggestion is to do it some other way than through IConfiguration. Your app can write to your appsettings.json file (or whatever config location you chose) through normal I/O APIs. Then you can reload your config using the new file contents.

[2022-08-03 14:47] #73221 closed

[2022-08-03 14:47] SamMonoRT commented on #71855
cc @lambdageek @vargaz

[2022-08-03 15:05] Kiritsu opened #73302 "System.Text.Json POCOs with constructor deserialization doesn't support metadata reads ($ref)"
### Description

I'm trying to deserialize some JSON that references other objects but it fails to do so.

I have the following configuration (only for the ReferenceHandler)
[code]

But when trying to deserialize the JSON, it fails with the following exception:
[code]

I assume this issue is caused for the same reason as #66604 which attempted to be fixed in #67183. I had the issue with other obje

[2022-08-03 15:24] #73302 closed

[2022-08-03 15:29] jonathanpeppers opened #73304 "Android AOT+LLVM `InvalidOperation_EnumEnded`"
### Description

In a PR where we have `$(EnableLLVM)` working on Android in .NET 7: https://github.com/xamarin/xamarin-android/pull/7188

Some of our unit tests fail with:
[code]

I think it's just the result of `foreach` over an array twice?
* https://github.com/xamarin/java.interop/blob/a3de91efdaec04b3927b755a07018e8d26cfdc71/tests/Java.Interop-Tests/Cadenza.Collections/CollectionContract.cs#L

[2022-08-03 15:49] jonathanpeppers commented on #71195
Yes, we should move this issue to the repo that contains:

https://github.com/xamarin/xamarin-android/blob/main/src/Xamarin.Android.Build.Tasks/Microsoft.Android.Sdk/targets/Microsoft.Android.Sdk.DefaultProperties.targets

@Falco20019 dotnet/maui is already doing exactly what you describe:

https://github.com/dotnet/maui/blob/f1c358800c5276bc16290164eaf98c60f92da9fe/.nuspec/Microsoft.Maui.Controls

[2022-08-03 15:52] SamMonoRT commented on #59816
@radekdoulik - based on your last measurements, do you think we can close this ?

[2022-08-03 15:54] tarekgh commented on #69724
Per @AndyAyersMS reply, I am closing this issue for now as the regression is not there anymore. Thanks @AndyAyersMS!

[2022-08-03 15:54] #69724 closed

[2022-08-03 15:55] crummel commented on #69611
Corresponding libc versions, thanks for the script @omajid:
| Distribution | glibc version |
| --- | --- |
| Alpine 3.13 | N/A |
| CentOS 7 | 2.17 |
| CentOS Stream 8 | 2.28 |
| CentOS Stream 9 | 2.34 |
| Debian 9 (Stretch) | 2.24 |
| Debian 10 (Buster) | 2.28 |
| Debian 11 (Bullseye) | 2.31 |
| Fedora 35 | 2.34 |
| Homebrew | 2.23 |
| OpenSUSE Leap 15.3 | 2.31 |
| OpenSUSE Tumbleweed | 2.35 |
| R

[2022-08-03 15:58] directhex commented on #71079
As I understand it, we should be good to close this

Sent from my iPhone

[2022-08-03 16:03] SamMonoRT commented on #71079
Closing the issue - please reach out if issue isn't resolved.

[2022-08-03 16:03] #71079 closed

[2022-08-03 16:04] alhad-deshpande commented on #71079
@SamMonoRT
Yes, we are good to close this issue. Thanks.

[2022-08-03 16:10] bartonjs commented on #72906
Newer tests show that even RSASSA-PKCS1 is failing with big-exponent keys; it looks like RsaVerificationPrimitive is not working how we'd expect.  That makes big-exponent encryption also suspect.

[2022-08-03 16:18] SamMonoRT commented on #71195
Attempting to transfer to xamarin repo

[2022-08-03 16:36] SamMonoRT commented on #43953
Closing, no recent hits.

[2022-08-03 16:36] #43953 closed

[2022-08-03 16:38] SamMonoRT commented on #61693
are these passing on llvm lane or is there more work needed ? If passing, can we exclude only for relevant lanes via the issues.target file ?

[2022-08-03 16:44] #70039 closed

[2022-08-03 16:46] NikolaMilosavljevic commented on #66459
Has not reproed in a long time.

[2022-08-03 16:46] #66459 closed

[2022-08-03 16:46] #73209 closed

[2022-08-03 16:53] NikolaMilosavljevic commented on #61849
The original issue was fixed in January.

[2022-08-03 16:53] #61849 closed

[2022-08-03 16:56] #58141 closed

[2022-08-03 16:57] #49083 closed

[2022-08-03 17:00] Sergio0694 commented on #73297
This can still be quite efficient on Roslyn 4.0 already (use `CreateSyntaxProvider` ([example](https://github.com/CommunityToolkit/dotnet/blob/96517eace88d95ec52a881e3e1ed74ea51436b40/CommunityToolkit.Mvvm.SourceGenerators/Input/RelayCommandGenerator.cs#L28)) filtering types with at least one attribute, then work on filtering those out), but especially with recent Roslyn versions there's now a new

[2022-08-03 17:10] joperezr commented on #43864
We won't have time to add the documentation before ZBB. Adjusting milestone accordingly.

[2022-08-03 17:24] jzabroski commented on #59492
@stephentoub  I re-read this whole thread and I can see why you didn't follow my logic.  My poignant feedback is:

I don't like passing in a string for the culture name.  You can customize cultures. Just my opinion, but if this is the API for the next 10 years, it would be ideal if the Regex constructor took in an actual `CultureInfo`, not some string `cultureName`.

I suppose the problem with pas

[2022-08-03 17:26] MichalPetryka commented on #73262
[code]
What AVX512 instruction sets would be required for this to be true?

[2022-08-03 17:27] ViktorHofer commented on #73162
AFAIK, we can delete the old preview branches and they shouldn't enqueue builds anymore anyway. Does this also happen on main?

[2022-08-03 17:27] stephentoub commented on #59492
We're talking about the source generator here. The problem with passing in a CultureInfo is this is all at build time; there's no user code being executed.

[2022-08-03 17:30] tarekgh commented on #59492
In addition to @stephentoub  reply:

The documentation can be a little bit misleading but what you mentioned here is not true. The CurrentCulture is not tied to specific thread and can be used in any other threads.

[2022-08-03 17:32] wfurt commented on #72830
Aside from some authentication changes, #70046 would be biggest suspect. It may not be root cause as the assert is in Sockets. I tried to reproduce it (main on Linux) but I did not get hit. We can probably look at some of the Linux/Windows core files to see what particular tests are running.

[2022-08-03 17:33] mikem8361 commented on #71472
I've been investigating this and figured out why createdump's memory usage is increasing so much but I don't have any fix yet. I haven't come up with any work around other than creating "full" dumps or any fix especially one that will fit in our 7.0 schedule.

[2022-08-03 17:40] radical opened #73312 "[wasm] Wasm.Build.Tests build failing with `Workload ID wasm-tools is not recognized`"
Wasm.Build.Tests CI builds are [failing](https://dev.azure.com/dnceng/public/_build/results?buildId=1920824&view=logs&jobId=6f051c1a-c3e7-5cde-411e-64125624a208&j=6f051c1a-c3e7-5cde-411e-64125624a208&t=b731ef43-7f67-5a47-0aca-433fa8d3212b) with:

[code]

This is with the latest sdk - `7.0.100-rc.1.22403.4 `.
Sdk side issue: https://github.com/dotnet/sdk/issues/26967

[2022-08-03 17:49] radical commented on #71887
This seems to be still failing.

[2022-08-03 17:59] ViktorHofer commented on #73162
I just deleted the old branches which already have their corresponding tag:
- release/7.0-preview4
- release/7.0-preview5
- release/7.0-preview6

[2022-08-03 18:01] ErhanAtesoglu opened #73313 "Old account"
Hi,

I made a few contribution under the eanova account.  I got locked out of that account and was hoping someone could stop the emails from coming through.  I believe a simple ban can remove the emails.

Thanks,

Erhan Atesoglu

[2022-08-03 18:02] #71606 closed

[2022-08-03 18:08] ivdiazsa commented on #49037
I think this may have been fixed at some point, unless I'm not doing the correct repro. This is the command line I'm using:

[code]

`$COREROOT` here is just a temp environment variable I set to avoid typing the whole path to my _Core\_Root_. Running this command yields the following error:

[code]

Tried it on Windows and the results were the same. Thought about removing the `--reference` flag as

[2022-08-03 18:26] AndyAyersMS commented on #71214
Looks like this regression is device specific and only seems to happen on the surface pro x's in the lab.

Still puzzled why the results on other Arm64 boxes are so bad, but that's a separate issue.

[2022-08-03 18:29] SamMonoRT commented on #33557
moving tracking issues to 8.0.0

[2022-08-03 18:30] SamMonoRT commented on #37509
moving tracking issues to 8.0.0

[2022-08-03 18:32] mangod9 commented on #38626
Closing for now, please reopen if this is still a concern. Thx!

[2022-08-03 18:32] #38626 closed

[2022-08-03 18:34] AndyAyersMS opened #73315 "Sort benchmark numbers vary wildly across Arm64 devices"
See https://github.com/dotnet/runtime/issues/71214#issuecomment-1182648796

Numbers on the Ampere are 3x that of my local dev box, which seems wrong. Also, windows/linux ampere numbers are also quite different. Seems likely the benchmark is not reliably reaching Tier1 code and so is measuring something different than one might expect.

May be difficult to make progress here until profiling issues

[2022-08-03 18:35] AndyAyersMS commented on #71214
Given this only seems to affect surface pro x, going to close.

[2022-08-03 18:35] #71214 closed

[2022-08-03 18:37] AndyAyersMS commented on #72578
Note this is not just x64. I see similar issues on arm64.

[2022-08-03 18:38] AndyAyersMS commented on #68031
@DrewScoggins sorry to nag but could you help me track down the recent perf history here? There is no all test history link for alpine 3.15 and the global history above is not showing anything recent.

[2022-08-03 18:39] mangod9 commented on #57698
should this be moved to 8, or is the expectation to add the new scenario in the next week?

[2022-08-03 18:42] mangod9 commented on #71314
closing as this a single failure and we have resolved some non-deterministic problems in vm and gc areas recently. Please reopen if this repros again.

[2022-08-03 18:42] #71314 closed

[2022-08-03 18:45] mangod9 commented on #59690
Single failure from early 7 days, closing as not repro.

[2022-08-03 18:45] #59690 closed

[2022-08-03 18:47] jtschuster opened #85465 "Linker doesn't track references/addresses for ldind.ref and always push an UnknownValue to the stack"
The linker doesn't properly handle when a ref variable is assigned to another ref variable by value.

For example, all values below are properly annotated, but will warn as assigning an unknown value to an annotated variable:
[code]

[2022-08-03 18:48] mangod9 commented on #60825
This was being hit early during the 7 timeframe, but the same assert hasnt reproed since Jan, so closing for now.

[2022-08-03 18:48] #60825 closed

[2022-08-03 18:51] mangod9 commented on #65281
@davidwrighton is this something you could look into since its related to intrinsics?

[2022-08-03 18:53] mangod9 commented on #67398
is this something which can be done in 7? Otherwise we could move this broader decision around avx2 to 8.

[2022-08-03 18:57] AndyAyersMS commented on #57698
I really think we should try this for 7. It has been almost a year.

@EgorBo is willing to do the work.

[2022-08-03 18:57] mangod9 commented on #72703
@janvorli are you working on this?

[2022-08-03 19:03] fanyang-mono commented on #68914
https://github.com/dotnet/runtime/issues/73304 is also a Enum related failure. I wonder if they could have the same root cause.

[2022-08-03 19:05] jzabroski commented on #59492
I see.  (4) with fallback to (3) is the ideal, in my opinion.  If in the future .NET makes Attribute metadata more robust, the RegexGenerator can be extended to add a CultureInfo parameter.

Just wondering, is the full proposal for (4) to:

1. Add `string cultureName` as a ctor parameter to Regex, RegexGeneratorAttribute
or
2. Add `CultureInfo cultureInfo` to Regex ctor, add `string cultureName` t

[2022-08-03 19:07] vsfeedback opened #73319 "strange Constructor behavior under last version"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/strange-Constructor-behavior-under-last-/10091433)._

---
[severity:It's more difficult to complete my work] [regression] [worked-in:17.3.0 preview 2]
String json = someTextData
ProgramSettings? tmpProgramSettings = new ProgramSettings(someText_Required);

The following line is trigerrin

[2022-08-03 19:08] trylek commented on #49037
Correct, I have just audited the source code and the check for zero input files was apparently added sometime last year, in fact according to *git blame* soon after I created this issue. I believe this can be safely closed as completed.

[2022-08-03 19:08] #49037 closed

[2022-08-03 19:08] tlakollo opened #73321 "NativeAOT doesnt produce warnings when using Func"
### Description

NativeAOT compiler doesnt generate warnings in certain Requires scenarios related to special handling of ld token, see examples

### Reproduction Steps

[code]
Or
[code]

### Expected behavior

A warning should be produced by NativeAOT

### Actual behavior

A warning is only produced by linker/analyzer

### Regression?

_No response_

### Known Workarounds

_No response_

### Conf

[2022-08-03 19:10] #599 closed

[2022-08-03 19:15] janvorli commented on #72703
No, I was considering this for 8.0.

[2022-08-03 19:20] AaronRobinsonMSFT opened #73322 "TypeEquivalence - value types with a `static` method shouldn't fail to load"
If an assembly is marked with `PrimaryInteropAssemblyAttribute`, all public value types are validated for TypeEquivalence. This works without issue unless the value type contains a method, at which point a failure will occur:

[code]

However, if the type only has methods that are marked `static`, this should be permitted.

Fails as expected:
[code]

Consider supported:
[code]

[2022-08-03 19:20] antonfirsov commented on #42211
## SslStress 2022/8/3

Since #72940 there were 6 SslStress runs on Linux, all green. The Windows runs suffer from #73154.

[2022-08-03 19:22] #598 closed

[2022-08-03 19:23] atarz opened #73324 ".NET 7: Tiered compilation causes high memory usage and slowdown"
Hello, first of all apologies for my bad english.

As a civil engineer and software developer, we can work with very large unknown numbers in building analysis.

I wanted to test the new gc region in net 7 with a simple loop like the one below. It's not real code but I wanted to see how it would work in LOH.

        for (int i = 0; i < 1000; i++)
            {
                double[] bak = new d

[2022-08-03 19:25] Elringus commented on #70235
We can use a private getter here, eg:

[code]

[code]

I was actually hoping DI will ship support for this with `required` introduction.

[2022-08-03 19:25] MichalPetryka opened #73327 "`build.sh` fails when run in a directory that contains spaces"
Running in such directory results in:
[code]
It looks like this line is the cause:
https://github.com/dotnet/runtime/blob/main/eng/build.sh#L156

[2022-08-03 19:26] jonathanpeppers commented on #68914
I think #73304  might mean "enumeration", it's this error message after the linker removed the text for it:

https://github.com/dotnet/runtime/blob/a9b3898ee4b568cba09236cc71a63faf3ec52eea/src/libraries/System.Collections.NonGeneric/src/Resources/Strings.resx#L96-L98

I think this is if you use an `Enumerator` yourself and try to move past the end?

[2022-08-03 19:30] verdie-g opened #73328 "[API Proposal]: ConsoleFormatterOptions.MergeScopes"
### Background and motivation

Here is a log of my application using JsonConsoleFormatter:
[code]

In my log collector I would like to filter logs by `enduser.id` but its key depends on the request. Here it's `Scopes.4.enduser.id` but it could also be `Scopes.3.enduser.id`. Also if for some reason, a middleware decides that the user is actually someone else and create a new scope I don't want to s

[2022-08-03 19:31] MichalPetryka commented on #73327
It seems like fixing that line leads to more errors later on.

[2022-08-03 19:31] jnkarate commented on #73039
After looking at this further I do not believe that the case sensitive file system is to blame.  The application works fine on Maci
( I recompiled the C++ library for Maci).  The application works on every platform except for Maca.   The name of the library here is libfibLibrary.dylib, The output is:

 System.DllNotFoundException : Unable to load shared library lib'libfibLibrary.dylib' or one of i

[2022-08-03 19:33] NikolaMilosavljevic commented on #64756
Completed.

[2022-08-03 19:33] #64756 closed

[2022-08-03 19:35] ViktorHofer commented on #73327
Thanks for brining this to our attention. Would you mind submitting a PR with the fix? And can you please post the failures that happen when this line is fixed?

[2022-08-03 19:35] dr1rrb commented on #72181
FYI, to workaround the build issue we do have on projects (including our sample "commerce app") I had to push my workaround further by converting my objects to `class` instead of `record` (and implement the `GetHashCode` and the `Equals` manually). So even if for me (which is not used to deal with that kind of issues) it's not "natural" that a runtime bug can be reproduced at build time with AOT,

[2022-08-03 19:38] AaronRobinsonMSFT commented on #73039
There is something very odd with that error message. Our message is defined as

https://github.com/dotnet/runtime/blob/6e07ea4dc0d26c4a33f321cbe70bbd13307b5d3a/src/coreclr/dlls/mscorrc/mscorrc.rc#L165

So, the "lib" prior to the first single quote is an oddity.

I am unable to reproduce this on the Mac arm64 locally. Can you share the full source in a repo form? There is something very odd going o

[2022-08-03 19:42] #71735 closed

[2022-08-03 19:44] jkotas commented on #73327
Related:
https://github.com/dotnet/runtime/issues/42397
https://github.com/dotnet/runtime/issues/13740

[2022-08-03 19:44] radical commented on #58828
https://runfo.azurewebsites.net can be used for this. But I'm not being able to get it to search the helix console logs.
@akoeplinger could you please help with this?

[2022-08-03 19:51] eiriktsarpalis commented on #73319
Would it be possible to share a minimal reproduction as well a stacktrace of the error you are experiencing? It looks like you are using [Json.NET](https://github.com/JamesNK/Newtonsoft.Json), I would recommend opening an issue in that project.

[2022-08-03 19:51] burtonrodman commented on #70235
@Elringus very interesting...  i had thought of that pattern of property definition.

in the meantime, I have started a Source Generator that generates a constructor for all `private readonly` fields.
https://github.com/burtonrodman/ServiceConstructorGenerator

i've already ran into a few cases where it crashes and I haven't had time to debug, but it's a start.

[2022-08-03 19:52] jkotas commented on #73322
Is there an end-to-end scenario that this would enable?

Roslyn would not be able to copy the method over for no-PIA embedding, so you would be able to really take advantage of the static methods in end-to-end scenarios that the type equivalence was designed for.

[2022-08-03 19:52] #69113 closed

[2022-08-03 19:56] mangod9 commented on #72703
@hoyosjs ok to move to 8 or is this blocking for 7?

[2022-08-03 19:57] #41927 closed

[2022-08-03 19:58] joperezr commented on #59492
Ok so after thinking a bit more about this I agree with @stephentoub that we should change to default to InvariantCulture. I don't think that it is a good experience to have the exact same source code produce two different behaviors depending on where it gets built, especially when a lot of times you don't control where is your code getting built (for example when you use build servers that may be

[2022-08-03 19:58] #63487 closed

[2022-08-03 20:00] mangod9 commented on #71098
A similar issue is closed: #71856, Please validate that this is now fixed.

[2022-08-03 20:03] mangod9 commented on #73324
we had a recent regression in this with servergc enabled. @mrsharm could you please verify that your latest fix resolves this? Thx!

[2022-08-03 20:04] joperezr commented on #59492
Add string cultureName as a ctor parameter to Regex, RegexGeneratorAttribute
or
Add CultureInfo cultureInfo to Regex ctor, add string cultureName to RegexGeneratorAttribute which is effectively equivalent to new CultureInfo(cultureName) but an implementation detail (it may be acceptable to peer through the BCP-47 language tag to see if it's Turkish or Azerbayan and not construct any culture in som

[2022-08-03 20:05] jzabroski commented on #59492
cf - guess the docs should be updated? It does use AsyncLocal :shrug:  https://github.com/dotnet/runtime/blob/main/src/libraries/System.Private.CoreLib/src/System/Globalization/CultureInfo.cs#L378-L397

I am always pro hardening code vs. hitting moving targets. I would move it to vNext, and document the default culture change as a breaking change to the library.  Given the number of bug fixes .NET

[2022-08-03 20:06] omajid commented on #69611
We seem to have switched from a "should source-build support building on old distros where the distro-default cmake is too old?" to "what distros should .NET drop support for?" Or am I mixing up source-build and (Microsoft-build of) .NET here?

Or, to put it another way, are we thinking of moving the minimum requirements to *build* .NET from source or to *run* .NET?

Moving the runtime baseline fr

[2022-08-03 20:08] radical commented on #73180
Fixed by https://github.com/dotnet/runtime/pull/73264 .

[2022-08-03 20:08] #73180 closed

[2022-08-03 20:10] joperezr commented on #59492
The source generator engine is new in .NET 7, so this particular API we are talking about is not a breaking change. The overall changes we did with IgnoreCase during this release do have some breaking changes against different versions, but we have tried keeping them to the minimum, and for cases where we are breaking, we are doing so in order to "correct" behavior (for example, previously we woul

[2022-08-03 20:10] MichalPetryka commented on #73327
I've already moved my repo to a path without spaces and closed the terminal so I can't tell exactly but it was an error when invoking `msbuild`, so changing that one line for sure is not enough. I'll try fixing it again tomorrow.

[2022-08-03 20:12] GrabYourPitchforks opened #73329 "API Proposal: JavaScriptEncoder.JsonDefault"
## API Proposal: `JavaScriptEncoder.JsonDefault`

The API `JavaScriptEncoder.Default` is intended to be the single entry point for escaping all things ECMAScript and ECMAScript-adjacent, but it's doing a bit too much right now. For example, since it's trying to handle _both_ ECMA-262 (ECMAScript) _and_ ECMA-404 (JSON), it needs to support the subset that is common to them both.

This results in `J

[2022-08-03 20:16] tannergooding commented on #73262
Likely, `F`, `BW`, and `DQ`.

That is what provides floating-point and integer support that we need for the "core" set.

We might also include `CD` there since that is part of `x86-x64-v4`, which is the "baseline" that defines `AVX-512` support.

[2022-08-03 20:17] radical opened #73330 "[wasm] `test-main.js` needs an unhandled exception handler"
When running tests with xharness on browser, we are not able to get the traces for uncaught exceptions. A handler for that can print the trace which can be usable by anyone looking at test logs.

[code]

Also, note the timings above. `xharness` continues to wait for 13mins after the `uncaught` exception, because the app did not signal that it had crashed.

[2022-08-03 20:20] antonfirsov commented on #72977
This is test from #71785. It's only happening on Ubuntu and only for HTTP 2.0.

[2022-08-03 20:22] stephentoub commented on #59492
There's still time. We just need to do it asap if we're going to.

My suggestion would be:
- Source generator defaults to invariant.
- We add a ctor that takes the culture name. Probably two, actually, one with timeout and one without.
- If you specify the culture name, we use that instead of invariant. If you also explicitly specify RegexOptions.InvariantCulture, we error outside to the explicit

[2022-08-03 20:27] msedi commented on #65593
@eerhardt: I assuming mostly every desktop application needs to read and write configuration settings. Currently both solution that are presented by .NET do not fully support common scenarios. System.Configuration does not allow to load the config from a user-defined place, Microsoft.Extensions.Configuration do not allow to be saved.

I would really be good to have one solution that fits common us

[2022-08-03 20:28] omajid commented on #69611
I asked our libc maintainers, and their stance is that glibc is backwards compatible, not forward compatible. If you build against a RHEL 8.x build of glibc (CentOS Stream 8 roughly corresponds to RHEL 8.7 right now), .NET will run against that version of glibc or newer. In other words, building against glibc 2.28 in CentOS Stream 8 today may produce binaries that don't work on RHEL 8.6 or older.

[2022-08-03 20:32] eerhardt commented on #65593
Can you explain why writing to the file directly doesn't work for you?

[2022-08-03 20:33] AaronRobinsonMSFT commented on #73322
This was something I noticed while updating some tests. It wasn't obvious why this is the case.

The shape/layout of the struct should still be copiable though. If this idea blocks Roslyn though then I agree it should be kept as is.

[2022-08-03 20:34] #73242 closed

[2022-08-03 20:41] steveisok commented on #73237
Strange, I would have expected osx to set that for you when you change languages.  Does it ask you to reboot?  I'll have to see if I can get a Big Sur machine to test on.

[2022-08-03 20:41] #29547 closed

[2022-08-03 20:49] bartonjs commented on #27417
This will be possible in .NET 7 (as of #73023).  It's not super convenient, but it is possible now.

[code]

[2022-08-03 20:49] #27417 closed

[2022-08-03 20:52] NikolaMilosavljevic commented on #3823
[Triage] @NikolaMilosavljevic can you check if this still repros?

[2022-08-03 20:55] radical commented on #72752
Another instance of this on a rolling [build](https://dev.azure.com/dnceng/public/_build/results?buildId=1920255&view=logs&j=55f4943c-f76d-585b-7250-deab324f0a54&t=9d909c2f-e8c7-58b9-4308-45796ed0b70f), and [log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-ecc4721a89cb4aa5a9/WasmTestOnBrowser-System.Runtime.Tests/1/console.283d3f26.log?helixlogtype=result)

[2022-08-03 20:55] radical commented on #72752
https://github.com/dotnet/runtime/issues/73330 should help with debugging this.

[2022-08-03 20:56] DPetersen257 commented on #65593
@msedi
An example provided to me a week ago on the C# discord that has worked pretty well:

https://pastie.io/pqertx.cs
Then just register it in dependency injection with
builder.Services.AddSingleton(OgmaConfig.Init("MyConfig.json"))

You then have the ability to bind it to an object and save as desired

[2022-08-03 21:20] VadimPeczynski commented on #73237
Yes, I have tried it with automatic restart (just after language change)
and manuał restart (reject restart and did it from main menu). Weirdly I'm
getting only value for polish language (default installed) and not for
languages installed later. I can also check this on Mac Monterey after
system update

śr., 3 sie 2022, 22:41 użytkownik Steve Pfister ***@***.***>
napisał:

[2022-08-03 21:22] msedi commented on #65593
I'm not exactly sure what you mean. Do you mean simply saving the configuration via a Json file writer? I could save each configuration to a separate file, thats true but my own solution (not using one of the two *.Configuration classes) has a structured subfolders like a filesystem, so I can bind any hierachical object in substructure.

As you see, I already have a working solution but I wanted t

[2022-08-03 21:25] jaredpar commented on #59492
@stephentoub

100% agree, this is my main concern as well. It's a very subtle, but significant break for determinism to do this. Enough so that I've added this API, and a few others, to the list of "banned APIs" we'll be checking generators against with an analyzer we have in the works. Essentially APIs we know to be dangerous in generators / analyzers that we want to push customers to stop using

[2022-08-03 21:28] joperezr commented on #59492
Makes sense, I will send out a PR soon that addresses all @stephentoub's points above.

[2022-08-03 21:31] BruceForstall commented on #66279
If there is a way to disable for GCStress only on arm32, I don't know how. If possible, it should be documented in https://github.com/dotnet/runtime/blob/main/docs/workflow/ci/disabling-tests.md.  fwiw, the test seems aggressively slow. On the other hand, maybe GCStress=3 is too slow, also.

[2022-08-03 21:32] BruceForstall commented on #72427
Looks like @jakobbotsch just assigned himself, so we'll find out.

[2022-08-03 21:33] StephenMolloy commented on #69019
For context, this ignoring the negative sign is also the behavior with DCS, and it is also true of both serializers in 4.8 as well.

[2022-08-03 21:35] jaredpar commented on #59492
Oh the culture APIs are still being added to the ban list for reference of future customers.

There are a lot of APIs that are effectively banned in the compiler and an analyzer is the best way to communicate that to generator / analyzer authors. Some of the banned APIs are more obvious, like don't do file IO, but others like culture are more subtle. I hadn't even thought of culture as a specific

[2022-08-03 21:45] NikolaMilosavljevic commented on #41695
Fixed with https://github.com/dotnet/runtime/pull/60091

[2022-08-03 21:45] #41695 closed

[2022-08-03 21:47] karelz commented on #73290
@jkotas we build Windows in our fork https://github.com/dotnet/msquic -- that's how Windows DLLs are built for .NET Runtime product.
I assume that building and publishing .lib should not be a big problem in the same repo. cc @wfurt

[2022-08-03 21:48] BruceForstall commented on #72904
This comes up every once-in-a-while, e.g., https://github.com/dotnet/runtime/issues/61331#issuecomment-963749269, https://github.com/dotnet/runtime/issues/33697, but it's never been deemed worth changing/fixing.

[2022-08-03 21:51] danroth27 opened #73334 "Provide a description for the wasm-experimental workload"
Looks like the new wasm-experimental workload is currently missing a description:

![image](https://user-images.githubusercontent.com/1874516/182718826-9d424d93-2992-4d26-8c37-9512241902b2.png)

@lewing

[2022-08-03 21:51] danroth27 opened #76968 "Localized string needed for `workloads/wasm-experimental/description`"
Looks like the new wasm-experimental workload is currently missing a description:

![image](https://user-images.githubusercontent.com/1874516/182718826-9d424d93-2992-4d26-8c37-9512241902b2.png)

7.0.100-preview.7.22370.3

@lewing

[2022-08-03 21:51] ronaldvdv commented on #73223
Thanks for providing more background! I still struggle a little bit to understand how the approach described in #65011 would help for the original question in this issue. I hope you don't mind me asking a follow-up here.

If we would tell `EnumerateMatches` to also store capture data, would that mean `Match` instance(s) are populated just like when we would _not_ be using `ValueMatch` at all? Then

[2022-08-03 21:54] m-chandler commented on #73217
@eiriktsarpalis thanks for your response and help / explanation.

That indeed does fix the issue in my sample project, and presumably fixes the issue in our app, as I'm doing the same thing there.

I'm not sure why I thought it was okay to construct a new JsonSerializerOptions every time. Should have read the manual I guess.

Thanks to all for your help, hope I didn't waste too much of your time!

[2022-08-03 21:54] #73217 closed

[2022-08-03 21:55] mikem8361 commented on #71472
I put that comment in the wrong issue.  This was supposed to be in issue https://github.com/dotnet/runtime/issues/72148.  The workaround of creating a full dump won't help in the target process memory usage. It may even make it worse.

[2022-08-03 21:56] mikem8361 commented on #72148
I've been investigating this and figured out why createdump's memory usage is increasing so much but I don't have any fix yet. I haven't come up with any work around other than creating "full" dumps or any fix especially one that will fit in our 7.0 schedule.

[2022-08-03 21:56] hoyosjs commented on #72703
Yup, i think 8 is fine.

[2022-08-03 21:57] jzabroski commented on #59492
@jaredpar What would be your guidance for culture then?  Is `string cultureName` as a BCP-47 tag ok?

[2022-08-03 22:01] wfurt commented on #72977
[code]

while Ubuntu is base image, the test is actually running on Debian.

[2022-08-03 22:11] jkotas commented on #73290
Yes, it is certainly doable. If the .lib is built in one repo and consumed in second repo, there are details you need to be careful about - like making sure that the compiler versions and compiler options are the same or at least compatible between the repos. It may be challenging to manage at times when the compilers are getting upgraded.

[2022-08-03 22:22] joperezr commented on #73223
Not at all, questions are always welcomed 😄

Nothing would change with the internal Match object, that would still have the same fields that track capture data, but remember that this Match object gets reused, so we can't rely on it to get the capture groups data. That means that the way to get this info would have to be through the `ValueMatch` instance that gets returned for each match, meaning

[2022-08-03 22:25] EgorBo commented on #57698
Filed a PR there

[2022-08-03 23:09] noahfalk opened #73339 "CI build failed: "Agent was purged, cancelling the pipeline""
CI build [1918768](https://dev.azure.com/dnceng/public/_build/results?buildId=1918768) failed with a cryptic error "Agent was purged, cancelling the pipeline"

https://dev.azure.com/dnceng/public/_build/results?buildId=1918768&view=logs&j=86357178-b8b8-53d0-d37b-335a1e08c946

This issue was reported in another build as well and there is an unconfirmed hypothesis that it relates to an underlying is

[2022-08-03 23:23] NitinKMathur commented on #27417
I was able to make it work, it's really long. Let me know if you still need
help with this. Cheers!

On Wed, Aug 3, 2022 at 4:49 PM Jeremy Barton ***@***.***>
wrote:

--
Nitin Mathur

[2022-08-03 23:37] MichalStrehovsky commented on #73299
Also failed in #73131: https://dev.azure.com/dnceng/public/_build/results?buildId=1917271&view=logs&jobId=d0e6dc78-17a8-5646-915d-5d9284339059&j=2de479a8-eae7-5324-c49d-bebaef329288&t=bb577e75-8247-55f1-4164-04f3b0f2d1eb&s=96ac2280-8cb4-5df5-99de-dd2da759617d

[2022-08-03 23:41] noahfalk commented on #72818
System.Net.Mail.Functional tests are still failing in CI. I submitted PR https://github.com/dotnet/runtime/pull/73340 to disable the test.

[2022-08-03 23:42] Clockwork-Muse commented on #73313
I'd first recommend attempting to contact GitHub customer support about recovering the old account (Especially since you do have access to the email account).

That aside, you should be able to configure your email provider to auto-delete emails based on the username.

[2022-08-03 23:43] #51368 closed

[2022-08-03 23:59] radical commented on #73213
Fixed by https://github.com/dotnet/runtime/pull/73264 .

[2022-08-03 23:59] #73213 closed

[2022-08-04 00:01] #66815 closed

[2022-08-04 00:05] #73081 closed

[2022-08-04 00:07] radical opened #73342 "[wasm] Debugger tests with chrome broken on CI"
~31 tests broken on rolling builds. [build](https://dev.azure.com/dnceng/public/_build/results?buildId=1921244&view=logs&j=2faa758f-d959-52c5-709a-e1668666302f&t=0098ba4c-bbd0-5919-9451-eb10fb062039), and [log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-1e3a64f2fa1e491aa8/chrome-DebuggerTests/1/console.7d96a7fb.log?helixlogtype=result).

This broke with h

[2022-08-04 00:07] buyaa-n commented on #72320
Right adding a new state in NullabilityState could be useful for those scenarios, but could break people that was already using old state for those scenarios

[2022-08-04 00:12] runfoapp[bot] opened #73343 "system.net.security.tests.negotiateauthenticationkerberostest.loopback_success"
This test failed in CI rolling build [1920255](https://dev.azure.com/dnceng/public/_build/results?buildId=1920255).

https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-d6e349c2b9554af286/System.Net.Security.Tests/3/console.eb09806e.log?%3Fhelixlogtype%3Dresult

[code]

Runfo Tracking Issue: [system.net.security.tests.negotiateauthenticationkerberostest.loopback_s

[2022-08-04 00:13] runfoapp[bot] opened #73344 "system.net.security.tests.negotiateauthenticationkerberostest.loopback_success"
Runfo Creating Tracking Issue (data being generated)

[2022-08-04 00:14] runfoapp[bot] opened #73345 "system.net.security.tests.negotiateauthenticationkerberostest.loopback_success"
Runfo Creating Tracking Issue (data being generated)

[2022-08-04 00:18] runfoapp[bot] opened #73346 "system.net.security.tests.negotiateauthenticationkerberostest.loopback_success"
Runfo Creating Tracking Issue (data being generated)

[2022-08-04 00:20] noahfalk commented on #73344
Closing accidental dupe

[2022-08-04 00:20] #73344 closed

[2022-08-04 00:20] noahfalk commented on #73345
Closing accidental dupe

[2022-08-04 00:20] #73345 closed

[2022-08-04 00:20] noahfalk commented on #73346
Closing accidental dupe

[2022-08-04 00:20] #73346 closed

[2022-08-04 00:33] radical opened #73347 "[wasm] Regression: `System.Text.Json` tests failing with trimming"
Hit on #71203 - [build](https://dev.azure.com/dnceng/public/_build/results?buildId=1921448&view=logs&jobId=06c2b9cd-9a25-5ea1-8363-c1b61a607e70&j=06c2b9cd-9a25-5ea1-8363-c1b61a607e70&t=8781fc1b-ea29-5eeb-5abc-12f9c52a8e0d), and [log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-71203-merge-7223bdfa4bc748b689/normal-System.Text.Json.Tests/1/console.ce2601ab.log?he

[2022-08-04 00:57] radical commented on #73184
I haven't seen this again. I'll ping here again, if I see it.

[2022-08-04 01:07] radical commented on #68393
ping @DrewScoggins

[2022-08-04 01:11] ahdung commented on #65593
@eerhardt As a configuration solution, just can only read, can't store, then it is a disabled solution, isn't it?

[2022-08-04 01:13] razfriman commented on #27727
Is there any roadmap update to when this might happen?

Local dev of gRPC and MacOS is pretty sub-par with the only workaround currently to manually disable security features and to toggle this code snippet with directives.

Would love to see 1st class support for this experience while programming on Mac OS

[2022-08-04 01:18] creizlein opened #73527 "Cannot call CoInitializeSecurity in time"
### .NET version

6.0.302

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, it works in both, .NET 5.0.* and .NET Core 3.*

### Issue description

There seems to be a bug in .NET 6.0 runtime where a WinFormsApp cannot initialize CoInitializeSecurity properly because it always complain that must be run earlier.

`Security must be

[2022-08-04 01:24] BruceForstall opened #73349 "superpmi: x86 asm diffs using `-target_arch` have relocatable constant differences"
If you use `-target_arch x86` to generate asm diffs (on a Windows x64 host) you get diffs with the clrjit_win_x86_x64.dll cross-arch cross-compiler. Even with a diff compiler with no changes, you will get empty textual diffs due to relocated constants being given different values in base and diff versions, e.g. (from `superpmi.exe -a` disassembly output):
[code]

If you use `-arch x86` there is no

[2022-08-04 01:40] davidfowl commented on #27727
Agree, we need to revisit the plan here, even if it's just for dev purposes

[2022-08-04 01:49] shimingsg commented on #71702
Failed again in: [runtime-coreclr r2r 20220802.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1919888&view=ms.vss-test-web.build-test-results-tab&runId=49733856&resultId=102860&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2022-08-04 01:49] davidfowl commented on #65593
Yes, it is, but it was designed to be mostly read only. There are lots of strange behaviors to work out when persisting back to the configuration provider is allowed (order, multiple, etc etc). While I don't want to downplay the use cases, they pale in comparison to the reading cases, so this work isn't going to be prioritized over other configuration work.

[2022-08-04 02:08] shimingsg commented on #72427
Failed again in: [runtime-coreclr libraries-jitstress 20220803.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1920081&view=ms.vss-test-web.build-test-results-tab&runId=49735324&resultId=133395&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2022-08-04 02:23] vsfeedback opened #73352 "Code analyzer should issue a warning when variable name at wrong place in ArgumentException and ArgumentOutOfRangeException constructor call"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Code-analyzer-should-issue-a-warning-whe/10041877)._

---
I'm sure it isn't on purpose that `new ArgumentException(string? message, string? paramName)` expects the argument name as second argument, but `new ArgumentOutOfRangeException(string? paramName, string? message)` as first argumen

[2022-08-04 02:23] vsfeedback opened #73353 ".Net SMTP client throttling outgoing mail"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Net-SMTP-client-throttling-outgoing-mai/1283706)._

---
<p>We have an application that uses the .net smtp client class to send email notifications.  This is a multi-threaded process and should be sending out numerous emails, however it seems that on windows server 2016,  the .net smtp c

[2022-08-04 02:25] #72759 closed

[2022-08-04 02:42] #73282 closed

[2022-08-04 02:48] eiriktsarpalis commented on #73347
This was introduced by #73241, but it would seem that the errors being thrown are appropriate in this context — the constructor parameter names have been trimmed away and therefore it is not possible to bind them to a meaningful JSON contract.

I’m surprised we’re running the reflection serialization tests with trimming enabled, since that is not supported and they could fail in all sorts of ways,

[2022-08-04 02:51] v-hozha1 commented on #71098
This issue still repro on today's build dotnet-sdk-7.0.100-rc.1.22403.8. Here is the repro VM: 172.20.30.177

Please refer to the project & dump file from: \\mlangfs1\public\v-hozha1\20220804-71098\

PS C:\tmp\mstest> &"C:\Program Files (x86)\dotnet\dotnet.exe" test --framework net7.0 --diag:log1.txt
  Determining projects to restore...
C:\Program Files (x86)\dotnet\sdk\7.0.100-rc.1.22403.8\Sdks\M

[2022-08-04 03:15] jonathanou opened #73354 ".NET 6 platform compatibility analyzer warns const string is only callable in certain OS platform"
### Description

My project is targeted to `net6.0-windows` has several `SupportedOSPlatformGuard("windows8.0")` attributes.  I created a `const string PlatformIdentifier = "windows8.0"` and updated my code to `SupportedOSPlatformGuard(PlatformIdentifier)`.

Surprisingly, I started to get CA1416 warning about the const string being callable by all platforms, but is only supported in Windows 7.0 or

[2022-08-04 04:25] cshung commented on #57752
This is happening again when compiling `System.Private.CoreLib` targetting ARM64.

Here is the repro command:

[code]

And here is the assertion:
[code]

The repros on 197ae4c596553f7e6acb327ca2e31cc00c794c4d.

When the assertion happens, we have a curious case that a variable is dying but also spilled. This doesn't make sense to me, why would we spill a variable if we know it is dying?

[code]

T

[2022-08-04 04:58] BruceForstall commented on #57752
@cshung It probably would be best to open a new issue, even if it's the same assert. Linking to the existing issue is ok.

[2022-08-04 05:02] jkotas commented on #73322
Roslyn seems to be handling it just fine. I guess we can delete the superfluous validation if we care around.

[2022-08-04 05:06] cshung opened #73355 "JIT: Assertion failed '!m_VariableLiveRanges->back().m_EndEmitLocation.Valid()'"
[This](https://github.com/dotnet/runtime/issues/57752) is happening again when compiling `System.Private.CoreLib` targetting ARM64.

Here is the repro command:

[code]

And here is the assertion:
[code]

The repros on 197ae4c596553f7e6acb327ca2e31cc00c794c4d.

When the assertion happens, we have a curious case that a variable is dying but also spilled. This doesn't make sense to me, why would we s

[2022-08-04 05:06] cshung commented on #57752
@BruceForstall, ok, let's take this on https://github.com/dotnet/runtime/issues/73355.

[2022-08-04 05:06] #57752 closed

[2022-08-04 05:21] mangod9 commented on #70341
@michi2525 we would need more info on your issue. This appears to be different -- is there a managed stack shown when the failure occurs? Please open a separate issue for it.

For now will close this original issue.

[2022-08-04 05:21] #70341 closed

[2022-08-04 05:23] MichalStrehovsky opened #73356 "[NativeAot] System.Reflection.Context.Tests.CustomReflectionContextTests.MapType_MemberAttributes_Success"
The library test fails.

[code]

[2022-08-04 05:25] jonathanou opened #73357 "Platform compatibility analyzer doesn't recognize operating system checks that return or throw"
### Description

I am calling an API that is supported on windows only.  I am throwing `PlatformNotSupportedException` if `OperatingSystem.IsWindows() == false`, but still getting CA1416.

I also get CA1416 if I `return` instead of `throw PlatformNotSupportedException`.

### Reproduction Steps

[code]

### Expected behavior

No CA1416 warning.

### Actual behavior

`WinApi()` is flagged with CA141

[2022-08-04 05:36] mangod9 commented on #70038
@ryanbrandenburg I notice that the repro is from preview4, have you continued to see such failures on latest previews (6 or 7)? We have fixed a few non deterministic failures in various parts of the runtime since then.

[2022-08-04 05:38] mangod9 commented on #70307
@VSadov do you plan to investigate this soon as its marked for 7?

[2022-08-04 05:44] mangod9 commented on #70845
I am closing this since looking at the chart there appears to be a dip and then a bump to a normal pattern, also the threadpool change should have nothing to do with this test.

[2022-08-04 05:44] #70845 closed

[2022-08-04 05:45] mangod9 commented on #69454
@trylek @MichalStrehovsky do you know if this is still blocking/failing within builds?

[2022-08-04 05:51] jonathanou opened #73358 "Platform compatibilty analyzer doesn't treat "windows" as "windows7.0" by default"
### Description

I have a multi-target project that targets to both `net6.0` and `net6.0-windows`.  The project has an API that is `[SupportOSPlatform("windows")]` whose implementation references a cross-platform type.  When building `net6.0-windows` though, I'm getting CA1416 about the API accessing a windows 7 or later type.

It appears the analyzer treats code defined under `net6.0-windows` as

[2022-08-04 06:11] buyaa-n commented on #72943
Moved to future milestone for now, @marek-safar please let us know if it is needs to be fixed in 7.0

[2022-08-04 06:28] #72768 closed

[2022-08-04 06:29] BruceForstall commented on #55235
The time for feature work in .NET 7 has passed, so closing this.

[2022-08-04 06:29] #55235 closed

[2022-08-04 06:34] wfurt commented on #73343
cc: @filipnavara

[2022-08-04 06:45] filipnavara commented on #73343
There are multiple unrelated errors in the log:
- NativeAOT failing because of some reflection in Kerberos.NET
- Two builds failing with `Unsupported` in the Kerberos tests. In both cases it seems to be ARM32 and Debian (different machines though). It could be a misconfigured machine but I don't have access to anything even remotely similar to that configuration.

[2022-08-04 06:51] VSadov commented on #70307
I'd like to figure why this happens and it is a stress nuisance.
It might be just an assert though. We have seen no crashes or deadlocks due to this.

[2022-08-04 06:58] jeffhandley commented on #73357
In this scenario, the prescribed approach would be to annotate `Caller` as only being supported on `"windows"`, since it's throwing PNSE on all other platforms. That would allow `Caller` to advertise to _its_ callers that it will throw everywhere except windows.

Was it intentional to not annotate `Caller` in a scenario you have?

[2022-08-04 08:00] ByboyCn opened #73360 "client.PostAsJsonAsync 方法出现了错误"
我在使用httpClient的client.PostAsJsonAsync方法时,在windows上没有出现任何问题,但是在docker中出现了报错System.Text.Json.JsonException: The input does not contain any JSON tokens. Expected the input to start with a valid JSON token, when isFinalBlock is true.
json内容如下
[code]

[2022-08-04 08:00] #73342 closed

[2022-08-04 08:03] adamsitnik commented on #72881
I have few questions regarding:

[code]

I wonder what the typical scenario is going to be: just creating the file or creating and using it right away. If the latter, we could make it more performant by returning `FileStream` (fewer sys-calls: calling `open` just once).

Also, is our goal to create a file in temporary directory or a temporary file that disappears after being closed? We could use [

[2022-08-04 08:11] black-empower opened #73361 "High CPU usage in docker when service is not doing anything"
### Description

Hi,
currently we are experiencing the problem that our dotnet api run with 200% CPU on linux if they are contained in a docker container and not doing anything at the moment.
This problem does not seem to happen if the application is run natively on the system.
But it happens if the application is startetd through kubernetes or as a normal docker container.

### Configuration
The

[2022-08-04 08:18] jakobbotsch commented on #73355
Note that you are compiling x64 SPC for Arm64. So it is probably the same as https://github.com/dotnet/runtime/issues/57752#issuecomment-910769048 where crossgen2 is telling the JIT that a lot of x64-only intrinsics might be supported in an Arm64 compilation. So this probably ends up being some kind of ABI stress test for the JIT, with all these intrinsics becoming regular calls taking vectors.
Ju

[2022-08-04 08:27] karelz commented on #72818
Ah, @antonfirsov accidentally removed untriaged without setting milestone, so it did not show up in our Triage queries :(

[2022-08-04 08:27] jakobbotsch commented on #73355
Andy has a note here on the cause:
https://github.com/dotnet/runtime/pull/38894#issuecomment-655840714

[2022-08-04 08:29] karelz commented on #72818
@noahfalk we will need to somehow break down this mega issue - it is rather confusing.
I see that you didn't track failures in the OneNote for Test Monitor. Do you have other ways you keep list of frequency? (Runfo is sadly not helpful here :()

[2022-08-04 08:36] radical commented on #73347
We are using trimming just to reduce code size for AOT, to save on build time.

[2022-08-04 08:38] filipnavara commented on #73343
I submitted fix for problem #1. For the other one I will try to open a test PR to redirect KRB5_TRACE logs into xUnit output to get more information.

[2022-08-04 08:44] EgorBo commented on #73361
Just curious what does `Environment.ProcessorCount` return in your container vs native?

[2022-08-04 09:09] radical commented on #73312
`main` is using a working fixed version for now, to work around this.

[2022-08-04 09:17] v-xiaofchen commented on #71856
This issue still repro on x64 and x86 SDK 7.0.100-rc.1.22403.8 when running on ARM64.(The repro machines are created on Azure ).
![image](https://user-images.githubusercontent.com/99376012/182809688-3ec2c7e0-8cf3-4c74-8ef5-f5c01de64659.png)
![image](https://user-images.githubusercontent.com/99376012/182809800-7d7763a8-b59c-43fb-a402-ffc0c4c56c02.png)

[2022-08-04 09:19] #72904 closed

[2022-08-04 09:24] black-empower commented on #73361
I created a test application and let it run both on the system and in the container.
Both times it returned the following output:

No of CPUs: 4

[2022-08-04 09:34] jonathanou commented on #73357
This was just a simplified example.  Perhaps this example may be more convincing:

[code]
Marking `GetValue` as windows-specific forces all callers to check the OS and use the default value, and is not that convenient.

[2022-08-04 09:36] radical commented on #53621
Yeah, that sounds correct. Closing this. @lewing please re-open if anything is pending here.

[2022-08-04 09:36] #53621 closed

[2022-08-04 09:37] MichalStrehovsky commented on #72801
This doesn't have the exception type but I'm fixing an EventSource-listening related bug in #73363 (if the EventSource descendant wasn't defined in CoreLib). We should re-test with that. The manifestation of that one was a IndexOutOfRange exception.

[2022-08-04 10:11] quan0zhou commented on #73360
I think it's a problem with your json itself, it seems to have an extra comma
![image](https://user-images.githubusercontent.com/27860834/182822345-24572c68-49d4-43d8-a553-6f7527823e58.png)

[2022-08-04 10:18] quan0zhou commented on #73361
Is there a dead loop in the program, it feels like the cpu is always in a busy state

[2022-08-04 10:27] eiriktsarpalis commented on #73347
Understood, but at the same time these are tests for components that are inherently incompatible with trimming. We should probably just disable the tests for trimmed applications if there is such an attribute.

[2022-08-04 10:28] trylek commented on #69454
If this is indeed a duplicate of #69192 (hard to say as the issue title doesn't include any details and the quoted run is long gone but I think I looked at it while it still existed and it did look similar) then it's a manifestation of the generic cycle problem I talked about yesterday. I'll try to attack it using the tool DavidWr described in the Crossgen2 sync-up meeting.

[2022-08-04 10:29] radical commented on #73347
Can we add something to preserve the needed bits though, so the tests can pass? We can do that just for the wasm+trimming case.

[2022-08-04 10:37] eiriktsarpalis commented on #73347
As in specifically prevent trimming of Tuple parameter names? We use [`ILLink.*` files](https://github.com/dotnet/runtime/blob/main/docs/workflow/trimming/ILLink-files.md) in product code to suppress trimming of required members, although I haven't done it for tests (and I'm not sure how one could specifically prevent trimming for parameter names). @eerhardt might know.

[2022-08-04 10:38] eiriktsarpalis commented on #73360
@ByboyCn does the above answer your question?

[2022-08-04 10:43] radical commented on #73347
We use similar stuff in some test projects, like:

https://github.com/dotnet/runtime/blob/8daeec27929d15576f034a8743c2c9c524d24609/src/libraries/System.Runtime.Loader/tests/System.Runtime.Loader.Tests.csproj#L66-L69

[2022-08-04 10:54] danmoseley commented on #73360
Should the exception message have contained a line number and offset? Or perhaps I'm just missing it.

[2022-08-04 11:05] isakgjaerum commented on #20009
Did you ever find a solution to this other than the reflection hack @espenrl?

We have stumbled upon the same problem because of the norwegian standard for message exchange in health care.

[2022-08-04 11:17] stephentoub commented on #73352
Have you tried enabling CA2208?
https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2208

If I'm understanding your request correctly, that's exactly what this analyzer provides.

[2022-08-04 11:17] eiriktsarpalis commented on #73360
`JsonException` generally do append line numbers and offsets. When I try to serialize the same payload on my machine.
[code]
Note the different exception message. The reported exception message is typically thrown in async deserialization when the reader runs out of data:

https://github.com/dotnet/runtime/blob/8daeec27929d15576f034a8743c2c9c524d24609/src/libraries/System.Text.Json/src/System/Text

[2022-08-04 11:21] #73141 closed

[2022-08-04 11:34] mfkl commented on #47563
So, some context here.

This issue has been acknowledged. Initially, the solution was proposed as an API proposal (see first comment of this issue), but after some discussion, we decided to enable the strict validation checks by default. This work was merged in the main branch with https://github.com/dotnet/runtime/pull/61768.

In .NET 7 preview builds, we realized in https://github.com/dotnet/run

[2022-08-04 11:51] stephentoub commented on #47563
Does it need to be specified at construction, or is is possible to query a property after reading to eof to see whether it had the correct footer?

Isn't the proposed validation only about decompression? This ctor is only for compression.

[2022-08-04 11:55] janvorli commented on #71856
@v-xiaofchen yes, it will repro until my fix will make it into a SDK.

[2022-08-04 11:55] eiriktsarpalis commented on #65399
I think we can close this. Can revisit if more data arises.

[2022-08-04 11:55] #65399 closed

[2022-08-04 11:56] eiriktsarpalis commented on #68353
Moving to 8.0.0 as we won't have time to address this in .NET 7

[2022-08-04 12:00] #73287 closed

[2022-08-04 12:05] janvorli commented on #71856
I can see that my change came in couple of commits after the commit from which the 7.0.100-rc.1.22403.8 was created. So I assume the next one that will come out will have it.

[2022-08-04 12:07] #72264 closed

[2022-08-04 12:13] tudor-turcu commented on #63941
One very real use-case for HttpListener today is in stand-alone desktop applications which must use OAuth2/OpenIdConnect to authenticate the users - in such case a minimal, self-hosted HTTP endpoint must be exposed by the application on localhost, where the OAuth2 flow will 'callback' using a redirect, from the browser, in order to send the authorization code.
Is there an alternative to this in .N

[2022-08-04 12:17] performanceautofiler[bot] opened #73389 "Regressions in System.IO.Compression.Gzip"

[2022-08-04 12:19] performanceautofiler[bot] opened #73388 "Regressions in System.Text.Json.Serialization.Tests.ColdStartSerialization<SimpleStructWithProperties>"
### Run Information

Architecture | arm64
-- | --
OS | ubuntu 20.04
Baseline | [d7c8bc10ac00fe330daa633f8a2b16ba208e6e56](https://github.com/dotnet/runtime/commit/d7c8bc10ac00fe330daa633f8a2b16ba208e6e56)
Compare | [44f1c1ec1eed7662d47dfbbf506d55d0152029eb](https://github.com/dotnet/runtime/commit/44f1c1ec1eed7662d47dfbbf506d55d0152029eb)
Diff | [Diff](https://github.com/dotnet/runtime/compare/d7c

[2022-08-04 12:26] filipnavara commented on #63941
Note that in many cases you can use app-specific URLs for OAuth2 and avoid the HTTP callbacks completely.

[2022-08-04 12:32] jkotas commented on #73347
The test should be marked with `[ConditionalFact(typeof(PlatformDetection), nameof(PlatformDetection.IsNotBuiltWithAggressiveTrimming))]` to disable it for runs with aggressive trimming. It is what we do in other similar places.

[2022-08-04 12:40] jkotas commented on #57588
We have `PlatformDetection.IsDebuggerTypeProxyAttributeSupported`. If it is not done already, it should get wired in for wasm and the tests marked with it `[ConditionalTheory(typeof(PlatformDetection), nameof(PlatformDetection.IsDebuggerTypeProxyAttributeSupported))]`.

[2022-08-04 12:40] jkotas commented on #57588
Updating aread label - the failing tests are under System.Collections.

[2022-08-04 12:45] jkotas commented on #50721
We still have several tests disabled against this issue: https://github.com/dotnet/runtime/blob/f25b23e075d311abe7114d0f73cdb1f71a0de3f4/src/libraries/System.Text.Json/tests/Common/CollectionTests/CollectionTests.Generic.Read.cs#L619

[2022-08-04 12:58] eiriktsarpalis commented on #72170
Related issue: #72170.

[2022-08-04 13:04] liveans commented on #1483
I'm going to take a look at this issue @karelz

[2022-08-04 13:14] JulieLeeMSFT commented on #73355
Thanks @jakobbotsch for triaging this issue.

[2022-08-04 13:17] bdovaz commented on #35288
@eerhardt We have been using Microsoft.Extensions.* for years with Unity including Microsoft.Extensions.Hosting.... The "only" problems we have encountered:
* Having to implement our own IHostLifetime specific to Unity.
* Having to implement our own IHostEnvironment specific for Unity
* Have to modify IHostBuilder SetFileProvider due to Unity (Android / WebGL) particularities.
* Having to make a f

[2022-08-04 13:20] riccardogentilucci commented on #20009
Detached XML signatures are not deemed necessarily dangerous in the eIDAS world and are widely supported in different Java frameworks. The good news is that hack is working even in the newest .NET stacks, although it feels obviously a bit uneasy to rely on.

[2022-08-04 13:29] jeanplevesque opened #73371 "STJ source generation fails when class contains a property of type JsonSerializerOptions"
### Description

System.Text.Json source generation fails when a class containing a property of type `JsonSerializerOptions` is registered to a `JsonSerializerContext`.

### Reproduction Steps

1. Create a class like this:
[code]

2. Create a JsonConverter like this:
[code]

3. Enable source generation for the original class:
[code]

### Expected behavior

Source generation should work.

### Actua

[2022-08-04 13:29] eiriktsarpalis commented on #73347
The test in question has been marked `DynamicallyAccessedMemberTypes.PublicConstructors`:

https://github.com/dotnet/runtime/blob/44cb67e2bd2400cf46f54a6044c88d615d134b1e/src/libraries/System.Text.Json/tests/Common/ConstructorTests/ConstructorTests.ParameterMatching.cs#L501-L503

Perhaps the linker is being too eager when trimming parameter names in a constructor that has been explicitly opted out

[2022-08-04 13:40] Greendq opened #77392 "Ubuntu: dotnet-dump/gcdump can not dump process memory if application was compiled on windows machine"
### Description

When project is cross-compiled under Windows for Linux, dotnet-dump and dotnet-gcdump can not create dumps for the running process. Tested on Ubuntu 20.04 and Ubuntu 22.04. Tested on Amazon VMs, but looks like virtualization does not matter here.

When the same application is compiled under Linux on testing machine - tools works as expected, dumps are created.

To reproduce:
[cons

[2022-08-04 13:46] SamMonoRT commented on #48915
@fanyang-mono - I believe we can close this as fixed. Can you confirm ?

[2022-08-04 13:51] SamMonoRT commented on #62485
@radekdoulik - please follow up here if this will be ready before RC1 snap.

[2022-08-04 13:54] SamMonoRT commented on #60266
@radekdoulik -any more work remaining here ?

[2022-08-04 13:55] jkotas commented on #73347
The test also depends on the Tuple with just one argument to be preserved. Check the error message - it complains about `Tuple`1`. It is due to Tuple chaining. You would also need to add the dynamic dependency on Tuple with one arg if you want to make the test work with trimming.

[2022-08-04 13:57] SamMonoRT commented on #58706
@BrzVlad - moving this to 8.0.0, but something to consider sooner rather than later.

[2022-08-04 14:00] eerhardt commented on #73303
This is an error coming from the operating system:

[2022-08-04 14:09] eiriktsarpalis commented on #73347
By the sound if it, it might be possible to fix by declaring the nested tuple type as a dynamic dependency as well.

[2022-08-04 14:11] eerhardt commented on #35288
The first two seem reasonable - Unity is a completely different environment/platform. I would expect needing to implement a new lifetime for it. The IHostEnvironment is just a simple data holder, so I guess I don't fully understand why the built-in HostingEnvironment doesn't work.

For the SetFileProvider, we could add an option to the [HostApplicationBuilderSettings](https://github.com/dotnet/run

[2022-08-04 14:13] jkotas commented on #73347
Also, if you are using the DynamicDependency attribute, you should not need this: https://github.com/dotnet/runtime/pull/73372/files#diff-b8294480320d6e62845fa3a393faf73aa67a38242797c5552544d5cac0e778fdR508-R509

It has same effect as the DynamicDependency attribute.

[2022-08-04 14:18] stephentoub commented on #63941
I agree with David.

[2022-08-04 14:18] #63941 closed

[2022-08-04 14:37] mfkl commented on #47563
I guess enabling strict checks does not have to decided only at construction time indeed. Did you have something like this in mind?

[code]

Though the throw behavior more closely matches other libs (like SharpZibLib). Maybe

[code]

This would be specific to `BrotliStream` and `GZipStream`.

Indeed, I edited my comment.

[2022-08-04 14:40] bdovaz commented on #35288
About IHostEnvironment I have not explained well, I mean that I had to implement it by the ContentRootFileProvider property which is of type IFileProvider and I run into the same problem as in point 3. That is, in Android / WebGL you can not set a PhysicalFileProvider:
* WebGL for obvious reasons, you can't access the physical file system.
* Android, the same thing happens, you can't read the file

[2022-08-04 14:41] c-ohle opened #73376 "BigInteger.TrailingZeroCount(0) returns 32"
### Description

BigInteger.TrailingZeroCount(0) returns 32.

### Reproduction Steps

[code]

### Expected behavior

The return value should be -1 like in professional c++ math packages.

### Actual behavior

BigInteger.TrailingZeroCount(0) returns 32.

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

_No response_

### Other information

_No response_

[2022-08-04 14:42] antonfirsov commented on #33509
Duplicate of #69238.

[2022-08-04 14:42] #33509 closed

[2022-08-04 14:58] rzikm opened #73377 "[QUIC] Long running test: System.Net.Quic.Tests.QuicStreamConformanceTests.Parallel_ReadWriteMultipleStreamsConcurrently"
Occurrences 7/17-8/7 (incl. PRs):

Day | Run
-- | --
7/31 | 2x Rolling run
7/29 | Rolling run
7/28 | 2x Rolling run
7/27 | Rolling run
7/26 | Rolling run
7/25 | Rolling run
7/24 | 3x Rolling run
7/23 | Rolling run
7/22 | 4x Rolling run + 2x PR #72670
7/18 | 3x Rolling run
7/17 | 3x Rolling run
before 7/16 | Logs not available anymore

[code]

Example occurrences:
https://helixre107v0xdeko0k025g8.b

[2022-08-04 15:00] MrM40 opened #73379 ""CTRL+M" is captured as "Enter" in console app on Linux"
### Description

In .Net 6 vb.net `Console.ReadKey()` read "CTRL+M" as "Enter"
![image](https://user-images.githubusercontent.com/16258063/182876144-109cbc45-2331-499b-af00-8d0f556ce404.png)

Any other CTRL+ combinations seems to work fine e.g. "CTRL+L":
![image](https://user-images.githubusercontent.com/16258063/182877294-a03245c0-9aa0-4ae3-9c74-51dd96176ebd.png)

I worked fine in .net core 2.2

[2022-08-04 15:10] antonfirsov commented on #69238
Triage:

- According to google search results, and past reports like #33509, people are hitting this issue out in the wild. It might make sense to investigate it.
- [Error 12175](https://docs.microsoft.com/en-us/windows/win32/winhttp/error-messages) is `ERROR_WINHTTP_SECURE_FAILURE`. It might be an environmental error with the certificate or some WinHttp issue, hard to tell.
- The [logs](https://g

[2022-08-04 15:19] #72181 closed

[2022-08-04 15:24] Clockwork-Muse commented on #72881
Part of the problem here is that it depends on the APIs the caller needs to use.
I'm working with Blender via Python at the moment, and am somewhat annoyed because their file API only takes file paths, not file objects, meaning I require closed named files.
It's definitely something we should consider for an overall "tempfile" API, as the earlier link I was pointed to deals with.

[2022-08-04 15:43] karelz commented on #70981
Looks like @bartonjs disabled the test already on Debian 10 (I added disabled-test label). I assume we might disable it for Mono interpreter as well, or perhaps entirely.

@bartonjs should we be concerned about the test failures? It is a new feature?
Would it be ok if we disable the test entirely as problematic?

[2022-08-04 15:44] c-ohle commented on #73376
@dakersnar I guess GNU GMP is the most common.

[2022-08-04 15:57] wfurt commented on #63941
Should we at least turn it into documentation issue to discourage usage for new work?

[2022-08-04 16:08] karelz commented on #73353
Triage: System.Net.Mail does not have any built-in throttling. It is usually the server doing the throttling. Please check it first.
Closing. If there is more evidence there is something wrong with System.Net.Mail on .NET Core, feel free to reopen with additional info. Thanks!

[2022-08-04 16:08] #73353 closed

[2022-08-04 16:10] danroth27 opened #73386 "Provide a way to disable using subtle crypto on WebAssembly for the .NET crypto APIs"
.NET 7 provides a new implementation of the .NET crypto APIs on WebAssembly based on the browser's subtle crypto API. This new implementation relies on support for shared array buffers, otherwise it falls back to the existing managed crypto implementations. The subtle crypto based implementation is coming in a bit late in the release. Given the risk of regression, we should provide a switch somewh

[2022-08-04 16:10] danroth27 commented on #73386
@lewing @GrabYourPitchforks @eerhardt @SteveSandersonMS

[2022-08-04 16:11] karelz commented on #73377
Triage: We should disable the test due to higher impact on CI.
We should figure out why it is happening in 7.0. Perhaps tweak the test to fail instead of hanging.

[2022-08-04 16:13] ivanpovazan commented on #57512
Didn't have bandwidth to work on this in .NET7. Moving to milestone 8.0.0.

[2022-08-04 16:16] karelz commented on #73144
Triage: We believe that all behaves correctly, except that clients have to be resilient to different timing/race conditions -- for example interpret `QuicErrorCode` on exception and check the reason for closing the stream.

@JamesNK what do you think? If you agree, we should close the issue. Thanks!

[2022-08-04 16:22] tannergooding commented on #73376
The exact value returned by `TrailingZeroCount(0)` is often left up to be "undefined".

.NET normalized, quite some time back, on it being a value between `0` and `GetByteCount() * 8` and since `BigInteger` is variable length, this means that it will currently return "32".

[2022-08-04 16:22] #73376 closed

[2022-08-04 16:29] bartonjs commented on #73386
I fundamentally disagree with having a way to opt-in to the managed implementations, especially because we added new algorithms as a part of this effort.  (A switch to say "it's on, or fail" I think is fine... and if it's a build switch then it could trim out the managed fallback code)

As with all feature work, if it broke something that used to work, we'll fix it in servicing.

+ @blowdart

[2022-08-04 16:30] EgorBo commented on #73388
Likely caused by https://github.com/dotnet/runtime/pull/72228 cc @eiriktsarpalis

[2022-08-04 16:38] EgorBo commented on #73389
Zlib update https://github.com/dotnet/runtime/pull/73082 cc @GrabYourPitchforks (win-arm64)

[2022-08-04 16:39] #70311 closed

[2022-08-04 16:42] tactical-drone opened #73390 "TaskExtensions.Unwrap threads going missing."
I need some advice.

I have this pattern:

[code]

I pass an extra `boolean` to instruct `ExecuteTaskOnScheduler` to unwrap the inner task like so:

[code]

`ExecuteTaskOnScheduler` is just a simple wrapper for `Task.Factory.StartNew` that does this:

[code]

If this setup is used in the following way, the original thread just "disappears" when the block containing `ExecuteTaskOnScheduler` goes ou

[2022-08-04 16:52] c-ohle commented on #73376
@tannergooding Yes, many things are currently "undefined" or not really logical - and not to be changed later - I will do my best not to make such mistakes for the BigRatioan spec.
Please, if there is time - big progress on BigRational, builder obsolete and the new approach could easily be applied to BigInteger - at least to solve the buffer problem and reduce memory wastage.

[2022-08-04 16:55] SteveSandersonMS commented on #73386
@bartonjs I appreciate your point, and do agree in the long term that's where we want to get to.

The short-term concern here is that the new unmanaged code paths haven't had the level of real-world customer testing that we'd expect, since they aren't shipping until RC1, and we know the implementation is unusually sophisticated (going through SharedArrayBuffer and a WebWorker). We're concerned abo

[2022-08-04 16:55] tannergooding commented on #73376
.NET 7 has already reached "code complete" and no more significant changes are planned, only minor bug fixes and perf improvements.

.NET 8 may get perf improvements for BigInteger and other scenarios, but as indicated on the other issue it will likely not use a stack based or similar approach. It will likely use something like a standard builder pattern instead.

[2022-08-04 16:55] kunalspathak commented on #73391
https://github.com/dotnet/runtime/pull/72266
@stephentoub

[2022-08-04 16:59] steveisok commented on #72840
https://github.com/dotnet/runtime/pull/72851 has been merged.  It contains an arcade bump that installs the arm64 SDK on helix when the target queue is arm64.  This fixes the problem.

[2022-08-04 16:59] #72840 closed

[2022-08-04 16:59] BrzVlad commented on #64455
I'm unable to properly test this due to current limitations related to cryptography. However based on my investigation, there is no difference in code for the microbenchmark path compared to desktop, so I'd expect this benchmark to be between 6-10 times slower than coreclr on desktop (somewhat slower when using MoveNext). Some external factors that can make it seem like the code is much slower are

[2022-08-04 16:59] #64455 closed

[2022-08-04 17:06] #72873 closed

[2022-08-04 17:06] eerhardt commented on #72881
There are many places that call `Path.GetTempFileName()` today that immediately just turn around and open the file to use it. So I think there is a case to be made about returning a FileStream instead of a FileInfo from CreateTempFile. However, given the many different ways to configure the FileStream, we might want to consider taking a `FileStreamOptions`. But one issue there is that FileStreamOp

[2022-08-04 17:09] espenrl commented on #20009
The reflection hack is working like a charm. The application processed millions of messages an hour with no problem ever.

[2022-08-04 17:11] LakshanF commented on #72415
The native AOT application publishing experience is outlined below for supported scenarios for PublishAot property and when an explicit package reference to `Micsoroft.dotnet.ilcompiler` is present

Publishing a native AOT application requires 2 external packages, `Micsoroft.dotnet.ilcompiler` (hereafter referred as build package) and platform dependent one, `runtime.<RID>.microsoft.dotnet.ilcompi

[2022-08-04 17:19] ahmed-salem-me commented on #72938
If by input assemblies you mean my project assemblies or any assemblies they reference, then I don't really notice caching happening for them, otherwise the compilation would have been very fast in subsequent publishing.

One proof of this, is that publishing the exact same project two times without making any changes, take roughly the same time to publish.
Or changing one single line in one singl

[2022-08-04 17:19] bartonjs commented on #68393
FWIW, there's now a bug on Ubuntu's side (https://bugs.launchpad.net/ubuntu/+source/openssl/+bug/1983100).  Per the comments there, a fix has been built; hopefully it flows out to general distribution and we can stop having the position of "yeah, we get crashes on Ubuntu 18.04..."

[2022-08-04 17:26] davidfowl commented on #63941
Sounds good to me.

[2022-08-04 17:28] danroth27 commented on #73386
@bartonjs It is not our intent that disabling the subtle crypto implementations be a common configuration. It is purely a risk mitigation in the event of regression. Note that we're not proposing to change the default behavior, which starting in RC1 will use the new subtle crypto implementation by default if it is available.

The risk here also isn't just about functional issues that can be servic

[2022-08-04 17:29] mangod9 commented on #13465
Resolving this as a dupe of https://github.com/dotnet/runtime/issues/67180. Anton is working on getting his PR: https://github.com/dotnet/runtime/pull/68639 merged in 7

[2022-08-04 17:29] #13465 closed

[2022-08-04 17:32] RobertHenry6bev opened #73392 "Illegal runtime behavior in C++ code taking reference to null pointer"
### Description

On linux-x64 using clang-11 -fsanitize-undefine -O3 -g ... to compile the runtime at tag v7.0.0-preview.6.22324.4 shows several (more) cases at runtime where a reference is created by going through a null pointer.  Since this is a runtime check (inserted by the C++ compiler), there is no guarantee that there are not more cases of this in code I didn't happen to execute in my trivi

[2022-08-04 17:36] tudor-turcu commented on #63941
Why.. discourage? :) I see no practical alternative for the use case I am speaking of..

[2022-08-04 17:43] eiriktsarpalis commented on #73388
Guessing you mean #72937? That PR is outside the reported range.

[2022-08-04 17:45] radical commented on #72938
Can you share the binlogs for:

1. Clean publish
2. Second publish with no changes
3. Publish with the one line change that you mentioned.

[2022-08-04 17:45] kouvel commented on #70845
I've confirmed that https://github.com/dotnet/runtime/pull/70478 is not the cause of the regression. On one of my arm64 machines, these tests have ~30-50% StdDev within a single run, so the change in value may not be significant. Looking at a narrower diff of changes that caused the relevant regression ([example for the first test](https://github.com/dotnet/runtime/compare/b603a5decc3de9e5c8146a12

[2022-08-04 17:45] EgorBo commented on #73388
@eiriktsarpalis yeah, I meant the one which is outside, it seems we didn't file an issue for it, see "global history" https://pvscmdupload.blob.core.windows.net/reports/allTestHistory/refs/heads/main_arm64_ubuntu%2020.04/System.Text.Json.Serialization.Tests.ColdStartSerialization(SimpleStructWithProperties).NewCustomConverter.html

![image](https://user-images.githubusercontent.com/523221/18291652

[2022-08-04 17:55] SamMonoRT commented on #2084
haven't seen recent failures. We'll keep it open, move to 8.0.0 milestone and triage the disabled-test issues next month.

[2022-08-04 17:57] stephentoub commented on #73390
I'm not following the code snippets in your post.  Can you share a minimal, runnable project that shows the behavior you're seeing and not understanding?  Thanks.

[2022-08-04 18:00] SamMonoRT commented on #44165
Moving to 8.0.0 and assigning to @lateralusX

[2022-08-04 18:03] SamMonoRT commented on #48165
@akoeplinger - we didn't work on this, and your last comment makes me think we can close this as is, unless we want to move to 8.0 and design a better solution to handle tooling issues. Please close or move to 8.0.0 as appropriate.

[2022-08-04 18:13] SamMonoRT commented on #66337
@BrzVlad -- I assume this is fixed by https://github.com/dotnet/runtime/pull/66350 ? IF so, please close this issue.

[2022-08-04 18:14] SamMonoRT commented on #67457
@steveharter @BrzVlad -- Is this work necessary to be completed for 7.0.0 or can be moved to 8.0 ?

[2022-08-04 18:15] SamMonoRT commented on #49904
@lambdageek @BrzVlad - There are a couple unchecked ones. Are these required for 7.0 or can this be moved to 8.0.0 ?

[2022-08-04 18:18] SamMonoRT commented on #57941
@BrzVlad - any ideas, anything we should fix for 7.0.0?

[2022-08-04 18:20] c-ohle commented on #73376
@tannergooding Just to make sure - it works for `BigInteger` and oll other cases, **without stack**, simply using the standard arithmetic syntax.
This is what I'm simulating in the examples. A "standard builder pattern" approach to numerics would simply mean overhead.

[2022-08-04 18:24] SamMonoRT commented on #56887
Moving to 8.0.0 for any new Mono support needed.

[2022-08-04 18:25] eiriktsarpalis commented on #73388
Got it. That particular PR changes how converters are resolved for properties (they are now resolved lazily via the metadata cache) which may or may not result in redundant calculations being made.

Given that the particular benchmark measures serialization with metadata being regenerated from scratch, unless regressions have been recorded in other benchmarks, I don't believe this is blocking rele

[2022-08-04 18:25] #73347 closed

[2022-08-04 18:25] SamMonoRT commented on #69155
@lambdageek -- are we going to have this by RC1 snap ?

[2022-08-04 18:26] SamMonoRT commented on #69795
@BrzVlad please take a look
cc @fanyang-mono fyi

[2022-08-04 18:27] stephentoub commented on #73391
This is a perf test bug.
cc: @adamsitnik

The test is assuming that all work associated with a write happens during the write:
https://github.com/dotnet/performance/blob/e03024567eb5b6c66e51751c08f0ae1f7f3d3059/src/benchmarks/micro/libraries/System.IO.Compression/CompressionStreamPerfTestBase.cs#L57-L64
That isn't the case.  In fact, the higher the compression algorithm, the larger the internal bu

[2022-08-04 18:28] SamMonoRT commented on #69330
@radical @fanyang-mono -- is this still failing, or can we remove the blocking clean ci label ?

[2022-08-04 18:29] SamMonoRT commented on #69794
@BrzVlad - similar to other issue, please investigate.

[2022-08-04 18:50] BrzVlad commented on #66337
yes

[2022-08-04 18:50] #66337 closed

[2022-08-04 18:53] sschmieta-qontigo commented on #61528
Can this please be included in the next 6.0.x release.?The objects we are working with are time-series of yield curves and volatility cubes which contain tens of thousands of DateTime objects. This bug is causing deserialization to take much longer in .NET vs .NET Framework and is causing a serious performance regression for our Azure compute grid when run under .NET Core.

[2022-08-04 18:59] jasper-d commented on #73051
I would like to take a stab at it. Feel free to assign me.

[2022-08-04 19:01] davidfowl commented on #63941
@wfurt There might be prior art for a similar message in the System.Linq.Experssions for what types of changes we’d be willing to accept.

@tudor-turcu its about setting expectations about what changes we’d take in the area to avoid disagreement on both sides. e.g. You can send a PR to add HTTP/3 support to HttpListener, we wouldn’t review it or take it.

[2022-08-04 19:06] davidwrighton commented on #60343
As Ibc isn't the static pgo tech we want to maintain going forward, instead of adding a flag to disable ibc processing, I'm going to add a flag to enable ibc processing. We haven't had good results with Ibc tech as the mibc logic works much better, and its been a bit of a bug farm, so I'd prefer to just turn it off, and push folks to our more capable mibc pathway.

[2022-08-04 19:15] eerhardt commented on #73386
Note that the only crypto API that worked in WebAssembly in .NET 6 was the SHA family of hashing algorithms. That used the managed/C# algorithm in .NET 6. In .NET 7, we added the subtle crypto implementation for the SHA APIs, and enabled HMAC, AES, Rfc2898DeriveBytes, and HKDF. The algorithms that were enabled didn't work in .NET 6, so there is no risk of regression there.

So the only risk of reg

[2022-08-04 19:16] BrzVlad commented on #68928
Implementing this would make invoke on mono jit a bit over 2x faster. However there is still a bit of work for the implementation and there is a bit of risk shipping it so late in the release cycle. This will be implemented early for the 8.0 previews to support future API's leveraging it.

[2022-08-04 19:16] ErhanAtesoglu commented on #73313
Thanks everyone,  I'll give it another go with GitHub support.

[2022-08-04 19:29] pavelsavara commented on #72810
![image](https://user-images.githubusercontent.com/271576/182936906-4f536092-fa46-4207-b4d5-d9d177afe06b.png)

[2022-08-04 19:45] eiriktsarpalis opened #73398 "JsonSerializer.SerializeToDocument results encapsulate buffers rented from the shared ArrayPool"
Please do... and if I understood correctly that we're already dropping pool arrays as part of JsonDocument on success paths, please open an issue about that as well.  Thanks.

_Originally posted by @stephentoub in https://github.com/dotnet/runtime/pull/73338#discussion_r938182934_

Relevant code:

https://github.com/dotnet/runtime/blob/4f835ae4409d6c68f3af808b1d21bdb0bf037008/src/libraries/System.

[2022-08-04 19:48] AntonLapounov commented on #72425
The Debug Directory size in the `ActiproSoftware.Shared.Wpf.dll` binary is corrupted (which might be caused by running some old obfuscation tool).  You can fix it by opening the file in a hex editor and changing the byte at offset `0x12c` from `0x96` to `0x1c`.

[2022-08-04 20:03] vargaz commented on #67734
Already fixed by #72978.

[2022-08-04 20:03] #67734 closed

[2022-08-04 20:04] jkotas commented on #73051
It is yours!

[2022-08-04 20:06] ViktorHofer commented on #60290
We no longer support System.Drawing on non Windows. Closing.

[2022-08-04 20:06] #60290 closed

[2022-08-04 20:06] eiriktsarpalis commented on #73398
Closing per feedback in https://github.com/dotnet/runtime/pull/73338/files/3604bcbe4f4cad74e2c430e1a45bb0a3180cbfc5#r938200249

[2022-08-04 20:06] #73398 closed

[2022-08-04 20:10] ericstj commented on #58741
This was fixed in 5.0 and 3.1 in the November 2021 updates.

[2022-08-04 20:10] #58741 closed

[2022-08-04 20:21] ViktorHofer commented on #2060
Triage: Now that we don't support non Windows anymore, we could re-enable the test and see if now passes. Moving to 8.0

[2022-08-04 20:47] ViktorHofer commented on #42877
Triage: Let's look at this again in 8.0 to unblock the scenario when using the properties in the designer.

[2022-08-04 20:48] steveisok opened #73401 "CI build: Slow macs causing random legs to timeout"
Our OSX legs are sometimes given an extremely slow mac from the pool, resulting in the “Build Product” stage timing out. In most cases, the build will only make it half-way through the runtime portion and make it seem like there is something fundamentally wrong. 
 
When we get an impacted machine, I’ve noticed the following behaviors:
 
	•	Checkout of dotnet/runtime takes longer than normal
	•	Ins

[2022-08-04 20:50] ViktorHofer commented on #49469
Closing as dup of https://github.com/dotnet/runtime/issues/51565

[2022-08-04 20:50] #49469 closed

[2022-08-04 20:54] RobertHenry6bev opened #73402 "const attribute of an instance of host_interface is ignored"
### Description

using tag v7.0.0-preview.6.22324.4

Consider this line: https://github.com/dotnet/runtime/blob/main/src/native/corehost/fxr/fx_muxer.cpp#L143

which establishes a const reference top a `host_interface_t`

However, the current libhostpolicy_contract has its load function bound to function corehost_load(host_interface_t*).  This is to say that the corehost_load function is declared

[2022-08-04 20:55] ViktorHofer commented on #60823
Closing as we support Drawing on non Windows anymore.

[2022-08-04 20:55] #60823 closed

[2022-08-04 21:00] ViktorHofer commented on #67320
Triage: Closing until we see this happening again. Presumably a machine problem. If this happens again, we should hold the machine.

[2022-08-04 21:00] #67320 closed

[2022-08-04 21:03] NiubilityOptimus commented on #68316
Dear Sir or Miss.
This is an e-mail from Johnnie' QQ Mail.Thank you for your E-mail.I apologize that I am unable to respond to you immediately . I will get back to you as soon as I return.

[2022-08-04 21:05] davidwrighton opened #73403 "Crossgen2 determinism issue found in Roslyn"
### Description

Crossgen2 isn't always producing the same results every time.

### Reproduction Steps

See issue dotnet/roslyn#63145 for details.

### Expected behavior

Crossgen2 should produce the same file every time

### Actual behavior

Sometimes it doesn't.

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

_No response_

### Other information

_No res

[2022-08-04 21:10] noahfalk commented on #72818
At the moment this issue is intended to track exactly the two failures listed in first comment, and I am hoping that with PR #73340 it is now mitigated. If any other tests fail with a similar issue I can open a new issue to track them. There was also the assert 0 <= fd thing which was a different error occuring in the same tests which has a separate issue already tracking it.

At the moment I was

[2022-08-04 21:19] noahfalk commented on #72818
I'm waiting to see the afternoon rolling build, but assuming we see no failures there I will remove the blocking CI tag.

[2022-08-04 21:19] #73313 closed

[2022-08-04 21:21] AaronRobinsonMSFT commented on #73402
This looks like simply a bad signature, thankfully not a functional issue.

[2022-08-04 21:22] SteveSandersonMS commented on #73386
I thought the risk was more general than that.

Let’s say that in some particular deployment scenario, the act of trying to load the web worker JS file causes an error. Won’t that then happen regardless of which crypto algorithm (or none) you are using? I thought it goes through this new process during app startup, not just when you start using a particular crypto API.

It’s totally possible we’re

[2022-08-04 21:22] danmoseley commented on #73396
@Robelind What do you get on .NET Framework (if you have Windows), and earlier .NET Core?

[2022-08-04 21:23] #66341 closed

[2022-08-04 21:24] #46522 closed

[2022-08-04 21:25] danmoseley commented on #61528
Cc @HongGit @StephenMolloy  for comment above.

[2022-08-04 21:32] vitek-karas commented on #72310
We should probably generate a warning/error in the SDK if this happens.
We're not going to try to make it work for 8.

Once we do the SDK work, we can move this bug to 8.

[2022-08-04 21:33] runfoapp[bot] opened #73405 "DataContractSerializerTests.DCS_MyPersonSurrogate_Stress fails in CI"
Test failures in [last 30 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E30+definition%3Aruntime+name%3A%22DataContractSerializerTests.DCS_MyPersonSurrogate_Stress%22) as of 8/26:

Day | Run | Details
-- | -- | --
8/12 | PR [1939151](https://runfo.azurewebsites.net/view/build/?number=1939151) | Alpine.314.Arm32.Open
8/8 | PR [1929242](https://runfo.azurewebsites.net/view/build/

[2022-08-04 21:35] wfurt commented on #73295
The test got broken by https://github.com/dotnet/runtime/pull/47729 in 6.0. Originally introduced by  #46664.

[2022-08-04 21:36] vitek-karas commented on #73025
https://github.com/dotnet/runtime/pull/73380 should fix this - it brings the changes from linker repo (or rather duplicates them adapted to runtime repo)

[2022-08-04 21:41] mrsharm commented on #73324
Hi @atarz,

I am unable to repro this issue. Could you please provide the commit hash for the runtime version you used i.e., dotnet-sdk-7.0.100-rc.1.22378.2-win-x64? Also, could you please collect a trace with the issue?

To repro this, I created a console app with the aforementioned code using the bits from the latest main branch of the runtime, enabled server GC and observed the peak working set

[2022-08-04 21:47] danmoseley commented on #73379
Can you try with the latest daily build of .NET 7?

[2022-08-04 21:49] ovidiucosteanet commented on #70267
Hello! I am almost done with the development of the fix for this issue. Can you please provide me a bit of guidance in the following matter?

It seems that I need to add the attribute `[JsonConverter(typeof(BinaryDataConverter))]` also to the `BinaryData` class in the `ref` folder, in order to avoid the exception: CannotRemoveAttribute : `Attribute 'System.Text.Json.Serialization.JsonConverterAttr

[2022-08-04 21:49] danmoseley commented on #73358
@buyaa-n

[2022-08-04 22:07] trylek opened #73407 "Clean up and fix management of ExplicitThis in the CoreCLR native runtime"
According to the PR comments in

https://github.com/dotnet/runtime/pull/73341

CoreCLR runtime handling of explicit this in function pointer signatures is incomplete and inconsistent
and needs improvements and fixes. This issue tracks this work that is expected to happen in .NET 8 timeframe.

Thanks

Tomas

/cc @jkotas @davidwrighton - please feel free to add more details or clarifications, my exp

[2022-08-04 22:16] jkotas commented on #73407
cc @steveharter This is related to function pointers support in reflection

[2022-08-04 22:17] jkotas commented on #73407
https://github.com/dotnet/runtime/issues/69273

[2022-08-04 22:26] noahfalk commented on #73405
@tlakollo - This test failed one other time earlier today in [your build](https://dev.azure.com/dnceng/public/_build/results?buildId=1912310&view=results). It doesn't look like this arm leg runs in all builds so it could be your build introduced it, or the failure is non-deterministic and existed before, or it is determinstic but so many builds skip the arm leg we aren't seeing it much yet. I am t

[2022-08-04 22:37] RobertHenry6bev opened #73409 "placement new does not return properly aligned instance"
### Description

https://github.com/dotnet/runtime/blob/9f1dd1aa499a882453b34d4e8810626423fbfed8/src/coreclr/jit/ee_il_dll.cpp#L163

Code in and around CILJitSingleton is returning a pointer in to a static char[] CILJitBuff, which in turn is returned from a placement new invocation.  operator new is supposed to return memory aligned to `__STDCPP_DEFAULT_NEW_ALIGNMENT__` which for linux x64 is 16.

[2022-08-04 22:46] ivdiazsa commented on #72823
This looks like one of those unlucky random crashes in Helix. It hasn't reproduced for a while and I can't get it to happen locally either. So, closing for now. If it repros again, we can reopen.

[2022-08-04 22:46] #72823 closed

[2022-08-04 22:47] #67509 closed

[2022-08-04 22:49] jkotas commented on #73356
This is caused by subtle behavior differences in CoreCLR vs. NativeAOT reflection.

It should be fixed by deleting https://github.com/dotnet/runtime/blob/main/src/coreclr/nativeaot/System.Private.CoreLib/src/System/Reflection/Attribute.NativeAot.cs, replacing it with https://github.com/dotnet/runtime/blob/main/src/coreclr/System.Private.CoreLib/src/System/Attribute.CoreCLR.cs, and tying up loose e

[2022-08-04 22:50] ivdiazsa commented on #63396
Closing for now due to no updates and I haven't been able to reproduce in my local environment. We can reopen if necessary.

[2022-08-04 22:50] #63396 closed

[2022-08-04 23:02] atarz commented on #73324
Hi [mrsharm](https://github.com/mrsharm)

•Runtime Version: V 7.0.22.40210

The trace I obtained is attached. I don't have much experience, I hope I succeeded.

I tested it on wpf. Today I tested it in the console application with the last main branch. Nothing changed.

In addition to high memory usage, with or without server GC enabled, net 7 completes the process much slower than net 6.
On my co

[2022-08-04 23:03] MrM40 commented on #73379
I will tomorrow....thanks for the suggestion.

[2022-08-04 23:03] #72822 closed

[2022-08-04 23:19] cshung opened #73411 "Fixing ETW event emission from revisit_written_pages"
1. revisit_written_pages is firing revisit events without resetting these after LOH so for POH it's just firing something totally wrong (eg if revisiting POH didn't end up revisiting any pages it would just fire the same event twice). It needs to reset -
                total_dirtied_pages = 0;
                total_marked_objects = 0;
For regions we are also firing this event for gen0/gen1 with I

[2022-08-04 23:23] cshung opened #73412 "Should add Working Set accounting in our tooling"
We can do this where we do gen aware analysis.

[2022-08-04 23:24] cshung opened #73413 "Consider putting the AllocTick event on a different keyword so we can get the join events"
Consider putting the AllocTick event on a different keyword so we can get the join events without increasing the trace size by so much as AllocTick events can be very voluminous - this would break all the people who expect this event on the GC keyword. Another approach is to add a config to change the 100k number but setting an env var/a config isn't necessary trivial for some customers' env

[2022-08-04 23:24] buyaa-n commented on #73358
By design SDK adds assembly level SupportedOSPlatform attribute for targeted build, not the analyzer, for some reason it adds `SupportedOSPlatform("windows7.0")` attribute instead of `SupportedOSPlatform("windows")` for versionless windows targets.

So this is SDK/MSBuild issue not analyzer, I would not like to special case only `Windows` in version checks logic in the analyzer.

Tagging @terrajob

[2022-08-04 23:24] cshung opened #73414 "SIP region alloc isn't accounted for in any ETW events"

[2022-08-04 23:25] cshung opened #73415 "Induced aggressive GC needs to be added to trace event."

[2022-08-04 23:33] #71902 closed

[2022-08-04 23:39] cshung opened #73417 "keep total_committed_so_far and total_decommitted_so_far counters"
Keep total_committed_so_far and total_decommitted_so_far counters that monotonically increase as the process runs so we could report numbers for each GC how much commit/de-commit we did for that GC (we can record it at the end of each GC and save the diff in the GC's global history).

[2022-08-04 23:41] #60343 closed

[2022-08-05 00:02] #70393 closed

[2022-08-05 00:02] #67424 closed

[2022-08-05 00:32] srxqds commented on #68928
hope you can merge the pr, and you can disable it, but we can merge your pr pushed on 8.0  by ourself

[2022-08-05 00:39] srxqds commented on #68928
I found monovm side work always slower, always inconsistent, and seems the team always forgets to continue work on it util the deadline of milestone.
I think it may be some risk and difficulty, you need to keep not introducing bugs first.
but it is so sad for those who love in c#.

[2022-08-05 01:01] ByboyCn commented on #73360
多谢

[2022-08-05 01:01] #73360 closed

[2022-08-05 01:04] radical opened #73419 "[wasm] WBT test failure - `SimpleSourceChangeRebuildTest.SimpleStringChangeInSource`"
[Rolling build](https://dev.azure.com/dnceng/public/_build/results?buildId=1923908), and [log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-d05c7af00b554824ba/Workloads-.SimpleSourceChangeRebuildTest/1/console.4a0a724a.log?helixlogtype=result).

[code]

Some of the source assemblies are getting aot'ed again, when rebuilding with no changes. This seems to ha

[2022-08-05 01:15] MichalStrehovsky opened #73420 "[NativeAot] Microsoft.Extensions.Hosting.Tests.HostFactoryResolverTests"
Tried to debug this for 15 minutes but most of "Microsoft.Extensions" is code from an alternate universe and I can't make sense of it. I assume one of the service factory factory is not compatible with trimming so I'm just going to milestone as Future.

[code]

[2022-08-05 01:24] MichalStrehovsky opened #73421 "[NativeAot] ThreadPoolBoundHandle should throw for unmanaged arguments"
Look for the issue number in libs tests.

https://github.com/dotnet/runtime/pull/73363#discussion_r937748984

[2022-08-05 01:29] shimingsg commented on #72977
Failed again in: [runtime-coreclr libraries-jitstress 20220804.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1922506&view=ms.vss-test-web.build-test-results-tab&runId=49773620&resultId=194135&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2022-08-05 01:31] #73352 closed

[2022-08-05 01:32] MichalStrehovsky opened #73422 "[NativeAot] OverlappedTests.PropertyTest3"
Linux specific:

[code]

[2022-08-05 01:35] antonfirsov commented on #72977
@shimingsg that is a different, unrelated test: #73343

[2022-08-05 03:11] davidfowl commented on #73420
Yep skip this feature completely.

[2022-08-05 03:15] kouvel commented on #68427
The first regression doesn't look like a clear regression to me from the history, it just looks like the newer measurement used is a higher one within the regular fluctuations. I can repro the second regression, but it's reproing even with slot backpatching disabled (which doesn't use the changed code paths). It's probably something external that's causing the difference, like layout or inlining d

[2022-08-05 03:15] #68427 closed

[2022-08-05 03:47] richlander commented on #67398
We'll take another run in .NET 8.

[2022-08-05 03:53] davidfowl commented on #73422
These aren't supposed to run on linux right?

[2022-08-05 03:58] radical commented on #73334
`.NET WebAssembly experimental features - non-blazor templates, and multi-threading support`? too long?

[2022-08-05 04:00] VSadov opened #73429 "[NativeAOT] reintroduce the use of personality routines in PInvoke stubs"
`RhpPInvokeExceptionGuard` is supposed to be used by PInvokes. Somehow that was lost and should be reintroduced.

Also consider use in suspension hijack probes and other assembly helpers.
Perhaps either all should use a personality routine or none.

Re: https://github.com/dotnet/runtime/pull/73216#discussion_r938363589

[2022-08-05 04:00] MichalStrehovsky commented on #73422
Most of the tests pass on Linux. I didn't debug it, but it likely fails on the line where the test wants to ToInt32 the handle and it doesn't fit. That wouldn't be a fundamental problem, but also I have several thousands of other tests to get running for 7.0.

[2022-08-05 04:14] radical commented on #72810
This needs a test in Wasm.Build.Tests . It can use playwright to click on some button to trigger a crypto call. An existing blazor test - https://github.com/dotnet/runtime/blob/main/src/tests/BuildWasmApps/Wasm.Build.Tests/WasmTemplateTests.cs#L250-L278 :

https://github.com/dotnet/runtime/blob/bf56a7c7e876ba12bddcc1df1c024deb86ab4ff8/src/tests/BuildWasmApps/Wasm.Build.Tests/WasmTemplateTests.cs#L

[2022-08-05 04:25] tactical-drone commented on #73390
So far so good.

I cannot seem to reproduce the issue on stock runtime. It is clear that I am introducing the bug though a custom scheduler. This custom scheduler is suspect still.

But I am triggering some kind of failure in the runtime by introducing my own scheduler. The debugger cannot handle it. So I will narrow it down and figure out what part of my custom bits are causing this.

Please stan

[2022-08-05 04:38] terrajobst commented on #72967
We did a review update via email and agreed changed the API shape to this:

[code]

Reasons given by @steveharter:

[2022-08-05 04:41] MrM40 commented on #73379
Ohhh....I see I need to reinstall (or at least update) my Visual Studio 2022 for 7.0 support, which I don't dare right now. It's my production PC :-/
If you already have a 7.0 environment up an running, can you make a quick test-project?
Or perhaps just take a quick look in the 6.0 code.....I wouldn't be suppressed if it was just the switch-value for CTRL-M which wasn't updated (I have no clue whe

[2022-08-05 04:46] iskiselev opened #73430 "Incorrect overload visible for Analyzer in OparationAction for Interpolated string handler"
### Description

When two method overload available:
[code]
one of them has interpolated string handler argument and other `string` argument, for an invocation of such methods with interpolated string incorrect overload visible to analyzer.

### Reproduction Steps

Use next analyzer:
[code]
Use next test case:
[code]

### Expected behavior

No warnings from analyzer - method with `InterpolatedStri

[2022-08-05 04:54] jkotas commented on #73422
Overlapped is just a piece of memory that you can allocate/free. Nobody bothered to replace it with PNSE on non-Windows, it works just fine.

`ThreadPool.UnsafeQueueNativeOverlapped` is the piece that does not work on non-Windows. It is properly annotated as Windows-specific and throws PNSE on non-Windows.

[2022-08-05 05:35] huoyaoyuan commented on #73430
This should be a roslyn issue. Analyzers are driven by the compiler.

[2022-08-05 06:02] #66938 closed

[2022-08-05 06:22] MichalStrehovsky opened #73431 "Get System.Text.Json.SourceGeneration tests running with NativeAot"
It would be good to go over these failures to see if #73124 is really the only AOT issue.

Full run log is here:
[jsonfail.txt](https://github.com/dotnet/runtime/files/9265839/jsonfail.txt)

The main buckets:

* xUnit doing its thing. If a Fact/Theory is a generic method, xUnit will MakeGeneric it at runtime. This tends to fail. Can be worked around with RD.XML. Not a customer issue.
* Enum conver

[2022-08-05 06:42] radical commented on #71475
Sorry, I missed this. No, I don't have access to a M1 Mac.

[2022-08-05 06:43] danmoseley commented on #73379
You do not need to modify VS. See

https://github.com/dotnet/runtime/blob/main/docs/project/dogfooding.md

VS will not be directly affected. You will just change the TargetFramework of your test project, by editing it directly.

[2022-08-05 06:47] MichalStrehovsky opened #73432 "Annotate System.Security.Cryptography.Xml for trimming"
Hitting following test failure in Microsoft.Extensions.Configuration tests.

The underlying problem seems to be that GetDecryptionKey has a string with the crypto algorithm name and calls into an API annotated as RequiresUnreferencedCode.

I don't want to block the test on aggressive trimming (it will probably be the ultimate fix for that) because the test is currently not calling into anything an

[2022-08-05 06:53] radical opened #73433 "`System.Threading.Tasks.Dataflow.Tests` failing with NRE in `S.T.Tasks.ConcurrentExclusiveSchedulerPair.ProcessConcurrentTasks`"
Failures per Runfo - [last 30 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E30+definition%3Aruntime+name%3A%22system.threading.tasks.dataflow.tests+work+item%22) - status as of 8/24 (unrelated failures omitted):

Day | Run | Details
-- | -- | --
8/13 | PR [1942101](https://runfo.azurewebsites.net/view/build/?number=1942101) | Alpine.314.Arm32.Open
8/13 | PR [1941527](https://r

[2022-08-05 06:57] #73312 closed

[2022-08-05 07:11] MichalStrehovsky opened #73436 "Microsoft.Extensions.Logging.Console failures"
This looks like a trimming issue around one of the Microsoft.Configuration things.

Either the suppressions within the framework are wrong or we have a dataflow bug.

[code]

[2022-08-05 07:15] jamsoft commented on #73280
Just a quick follow up for anyone else reading.

[code]

Works like a charm!

[2022-08-05 07:17] eiriktsarpalis commented on #70267
Your assumption is correct, the APIs in the ref assembly should match the public APIs in the implementation assembly.

[2022-08-05 07:23] am11 opened #73437 "[API Proposal]: architecture definitions for RISC-V ISA"
### Background and motivation

RISC-V is the fifth generation of RISC architecture, which is currently supported by mono; while the coreclr port is in progress. We should add the relevant identifiers visible for consumers and to the higher-level APIs.

### API Proposal

Ref: https://docs.microsoft.com/en-us/windows/win32/debug/pe-format#machine-types
[code]

### API Usage

[code]

### Alternative

[2022-08-05 07:23] ovidiucosteanet commented on #70267
Great, thank you. In this specific case can I do the API changes in this PR, or should I follow the flow described here https://github.com/dotnet/runtime/blob/main/docs/project/api-review-process.md?

[2022-08-05 07:25] MichalStrehovsky opened #73438 "[NativeAot] Microsoft.Extensions.Logging.EventSource.Tests failure"
I think these tests are just untrimmable, but I can't make sense of this.

I think it's about the serializer-like pattern in EventSource but someone who actually understands what's going on might want to go over this.

[code]

[2022-08-05 07:31] jkotas commented on #73437
[code]
These numbers do not match the numbers in https://docs.microsoft.com/en-us/windows/win32/debug/pe-format#machine-types

[2022-08-05 07:38] shimingsg commented on #71624
Failed again in: [runtime-coreclr outerloop 20220804.3](https://dev.azure.com/dnceng/public/_build/results?buildId=1924538&view=ms.vss-test-web.build-test-results-tab&runId=49806678&paneView=debug&resultId=104326)

Failed test:
[code]

**Error message:**
[code]

[2022-08-05 07:42] am11 commented on #73437
Fixed, thanks.

[2022-08-05 07:43] eiriktsarpalis commented on #70267
Adding an attribute is effectively just implementation detail, so a full review is not needed.

[2022-08-05 07:48] jkotas commented on #73405
@noahfalk We have started getting intermittent arm32 crashes all over the place. E.g. https://github.com/dotnet/runtime/issues/73433 https://github.com/dotnet/runtime/issues/73247 https://github.com/dotnet/runtime/issues/71624#issuecomment-1206143496 . It looks like a GC hole that was introduced sometime this week. Could you please look into it? (I believe that you are still the test monitor.)

[2022-08-05 07:48] shimingsg commented on #71755
Failed again in: [runtime-coreclr outerloop 20220804.3](https://dev.azure.com/dnceng/public/_build/results?buildId=1924538&view=ms.vss-test-web.build-test-results-tab&runId=49806456&paneView=debug&resultId=110486)

Failed test:
[code]
**Error message:**
[code]

[2022-08-05 07:50] LeaFrock commented on #41287
What should be the result of `string stripped = "eee".RemoveCharacters("ee");`?

[2022-08-05 07:57] wolfkor commented on #72425
That's not really a solution. It is a third-party dll installed on many build agents. And why does it work with .NET 5?

[2022-08-05 07:58] kasperk81 commented on #71856
fix should be in runtime 7.0.0-rc.1.22403.8 and sdk 7.0.100-rc.1.22404.5 (daily build installers published few hours ago)

[2022-08-05 08:06] eiriktsarpalis commented on #73431
A common theme in these stacktraces is the presence of `Verify()` methods:

https://github.com/dotnet/runtime/blob/dafc6dfd9dd0a38adc3ff10b0f178b3920151ce7/src/libraries/System.Text.Json/tests/Common/TestClasses/TestClasses.cs#L457-L475

TL;DR sourcegen uses reflection serialization as the baseline for validating serialization results. We should try to remove that dependency but it is going to be

[2022-08-05 08:08] adamsitnik commented on #73379
Hi @MrM40

Every Unix Terminal maps keys pressed by the user to their byte representation that .NET reads via `read()` sys-call.

The best utility for finding out the mappings is using `showkey -a` Linux command line tool.

In the following picture I've pressed `Enter`, `Ctrl+J` and `Ctrl+M`:

![image](https://user-images.githubusercontent.com/6011991/183032177-3e10316f-e742-4032-89a4-386bbfa873cf

[2022-08-05 08:08] #73379 closed

[2022-08-05 08:09] iSazonov opened #73440 "Tar crashes on reading the specific file"
### Description

I am experimenting with new Tar API to develop PowerShell cmdlet and catch the issue.

I get `System.IO.EndOfStreamException` if reading the specific file. Other small tar and tar.gz files I created for testing were read well.

### Reproduction Steps

1. Download https://github.com/PowerShell/PowerShell/releases/download/v7.3.0-preview.6/powershell-7.3.0-preview.6-linux-x64.tar.gz

[2022-08-05 08:10] eiriktsarpalis commented on #73431
For the `Verify` methods specifically, serialization is a quick-and-dirty method to obtain structural equality. We should probably do the legwork and implement proper structural equality comparison that doesn't depend on reflection not supported by AOT.

[2022-08-05 08:13] iSazonov commented on #73440
/cc @carlossanlop

[2022-08-05 08:34] MrM40 commented on #73379
@adamsitnik
Confirmed!
I guess it wasn't work in .NET Core 2.2 after all :-/
Thanks for sharing your wisdom and sorry for the "noise".

[2022-08-05 09:00] filipnavara commented on #73343
So, there's no Kerberos trace in the logs even in the latest builds. This matches the behavior when the environment variables are not correctly passed to the second process. It's a wild guess and I am not sure why would that happen specifically in the ARM32/Linux environment.

I think I can verify the theory easily.

[2022-08-05 09:03] karelz commented on #72818
Yeah, Runfo is really not useful for tracking these kind of failures (i.e. not just specific test) -- we did it by hand until now to avoid confusion.
For example, there is no clarity on frequency of each of the failures -- therefore it is hard to determine how much it impacts CI.
This kind of info keeps getting lost during Test Monitor transitions :( ... I will try to backfill some of it for last

[2022-08-05 09:06] karelz commented on #72586
@wfurt can you please clarify what kind of product change is needed?
Is it "just": `HttpConnection` should pass `CancellationToken` to `Stream.ReadAsync` operations?

[2022-08-05 09:12] ilonatommy commented on #56029
Fixed by https://github.com/microsoft/vscode-js-debug/pull/1354.

[2022-08-05 09:12] #56029 closed

[2022-08-05 09:45] karelz opened #73447 "Long running test: SendMailAsync_CanBeCanceled_CancellationToken"
Long running test:
- **SendMailAsync_CanBeCanceled_CancellationToken** - `System.Net.Mail.Tests.SmtpClientTest.SendMailAsync_CanBeCanceled_CancellationToken`

Regression on **7/18**
- Test disabled on 8/4 for Mono only in PR #73340
- Test disabled on 8/5 for all Unix platforms in PR #73452

Failures 6/6-8/5 (incl. PRs):
- `x64` is default architecture
- `CoreCLR` is default runtime

Date | Run | N

[2022-08-05 09:54] ssrmm commented on #68810
Somethings seems to have changed since recently. The behavior is now different for certain VS/.NET SDK versions. In those versions the minimal example I posted above does compile without errors now.However now there is a different problem: Referencing the NuGet package causes different errors instead. The `_wpftmp.csproj` file now complains about duplicate definitions of the source generated types

[2022-08-05 10:12] radical opened #73453 "`Internal CLR error. (0x80131506)` in `System.Reflection.InvokeInterpreted.Tests` on `coreclr windows x64 Release`"
Hit on https://github.com/dotnet/runtime/pull/73427 .
[Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1924759&view=logs&jobId=8679535e-9046-505f-8bbe-da251e73ecbd&j=8679535e-9046-505f-8bbe-da251e73ecbd&t=ab7958ed-5297-5b46-f99a-06ce433e067d), and [log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-73427-merge-82a29466814246b5b7/System.Reflection

[2022-08-05 10:17] karelz commented on #72818
- `ReadAsync_CancelPendingValueTask_ThrowsCancellationException` failures are tracked in #72586
- `SendMailAsync_CanBeCanceled_CancellationToken` failures are tracked in #73447 (BTW: @noahfalk it is failing also on CoreCLR, so I put up PR #73452)

Closing this issue as it tracks basically anything wrong in Networking, which is not useful.
If there are specific issues still occurring, we should cre

[2022-08-05 10:17] #72818 closed

[2022-08-05 10:28] filipnavara commented on #73343
The environment variable theory didn't pan out but to my surprise there are some dumps in the artifacts of the test: https://dev.azure.com/dnceng/public/_build/results?buildId=1925111&view=ms.vss-test-web.build-test-results-tab&runId=49813094&resultId=202895&paneView=dotnet-dnceng.dnceng-anon-build-release-tasks.helix-anon-test-information-tab

[2022-08-05 10:28] #69889 closed

[2022-08-05 10:31] #73419 closed

[2022-08-05 10:35] filipnavara commented on #73343
Uff, looks like Azure Pipelines UI just doesn't show the test output but it's actually there:

[code]

The interesting part is likely `Decrypt with preauth AS key failed: 1859794432/ASN.1 failed call to system time library`.

[2022-08-05 10:42] karelz commented on #73419
Thanks @radical for quick fix! I removed blocking-clean-ci label, assuming the problem is now gone.

[2022-08-05 10:53] vargaz opened #73454 "SIMD problems when mixing llvm and non-llvm code"
### Description

Currently on mono, SIMD is only supported when using LLVM compiled code. This can lead to various problems when mixing llvm and non-llvm compiled code. This mixing can happen for various reasons:
- profiled AOT
- LLVM doesn't support some IL constructs like filter clauses

1. Different calling conventions
LLVM code passes SIMD types in SIMD registers, while JITted code passes them

[2022-08-05 10:54] vargaz commented on #73454
@fanyang-mono

[2022-08-05 11:19] karelz opened #73455 "Crash - JIT/Performance/CodeQuality/BenchmarksGame/binarytrees/binarytrees-5/binarytrees-5.sh"
Failures 7/5-8/5 (incl. PRs) - [Runfo last 30 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E30+definition%3Aruntime+name%3A%22jit%2Fperformance%2Fcodequality%2Fbenchmarksgame%2Fbinarytrees%2Fbinarytrees-5%2Fbinarytrees-5.sh%22):

Day | Run | Details
-- | -- | --
8/1 | Rolling run [1915087](https://runfo.azurewebsites.net/view/build/?number=1915087) | [Console log](https://heli

[2022-08-05 11:20] karelz commented on #73455
@adamsitnik would you be able to tell if it is problem with perf infra, or with the specific benchmark?
Any idea where to route it?

[2022-08-05 12:07] adamsitnik commented on #73455
@karelz these particular benchmarks are used as unit tests (not to measure perf). Based on:

[code]

I think it's Mono Runtime bug.

[2022-08-05 12:07] karelz commented on #71962
Removing 'blocking-clean-ci' - the tests were disabled on non-Release runs in PR #73181

[2022-08-05 12:24] karelz commented on #72114
@lewing it happens more often - see updated top post with Kusto query. Overall about 2x per week.
Marking as untriaged again.

[2022-08-05 12:26] iSazonov commented on #73440
Such issue was mentioned in #68230

[2022-08-05 12:26] filipnavara commented on #73405
FWIW I tried to repro #73343. I setup an arm32 container on M1 MacBook Air with the exact same Helix image as used for the test run and the same downloaded payloads. All the xunit runs fail with NullReferenceException somewhere in generated `MethodInvoker` code when xunit tries to reflect over attributes. :-/

[2022-08-05 12:38] CarnaViire commented on #72619
"Completed unexpectedly" still happens: [Run #20220804.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1922992&view=logs&j=0da5d1d9-276d-5173-c4c4-9d4d4ed14fdb&t=1451f5f3-0108-5a08-5b92-e984b2a85bbd&l=1127) from yesterday (04.08)

[2022-08-05 12:42] directhex commented on #67853
Reopening. This issue is a collection of entirely unrelated issues, and likely not even tvOS specific. We have dozens of ActiveIssue for this bug number, will close when those are handled.

[2022-08-05 12:51] #73422 closed

[2022-08-05 12:52] stephentoub opened #73457 "Incorrect nullable annotations on most MemoryExtensions methods"
Most of our MemoryExtensions methods have a shape like:
[code]
where the `T` is constrained to be `IEquatable<T>`.  The questionable nature of the constraint in general aside (we can use `EqualityComparer<T>.Default`), the constraint is too strict with regards to nullable reference types.  The constraint should be `where T : IEquatable<T>?` rather than `where T : IEquatable<T>`; otherwise, it's pr

[2022-08-05 12:55] iSazonov opened #73458 "How delete entry from Tar archive?"
PowerShell team started to develop new PowerShell module with Tar support as @carlossanlop requested in https://github.com/PowerShell/Microsoft.PowerShell.Archive/issues/116

While experimenting with new Tar API I discovered that ZipArchive API explicitly support [deleting entries](https://docs.microsoft.com/en-us/dotnet/api/system.io.compression.ziparchiveentry.delete?view=net-6.0) but Tar API do

[2022-08-05 12:55] Blackclaws opened #73459 "UriBuilder creates Uri with wrong scheme if scheme has only one letter"
### Description

When using UriBuilder it is possible to get a Uri with the wrong scheme if the scheme has only a single letter.

This is similar to the issue that the Uri class itself does not parse "a://hostname:3456" correctly.

### Reproduction Steps

[code]

This writes "file:///a://hostname:3456/" even though the Scheme was set to "a"

### Expected behavior

This should write: "a://hostname:

[2022-08-05 12:59] Blackclaws commented on #73459
This might be related: https://github.com/dotnet/runtime/issues/59099

[2022-08-05 13:09] smdn commented on #72320
@madelson

Thank you for pointing that out.　I had not considered about nullability from the caller's viewpoint.

@buyaa-n, @madelson
There's a concern that the changes to the `NullabilityState` would break existing code like you mentioned. So I have come up with another proposal.

Here, we add the following three members to `NullabilityInfo`.

[code]

First off, `HasElementType` indicates that it

[2022-08-05 13:24] karelz commented on #73040
6 unique hits per Runfo table above as of 8/5, incl. 1 Rolling run - [1909685](https://runfo.azurewebsites.net/view/build/?number=1909685) on 7/28 AM (2nd run)

[2022-08-05 13:25] lambdageek commented on #47875
Since https://github.com/unicode-org/icu4x/pull/911 icu4x builds with `no_std`.  Also they recently hit 1.0.0-beta1 https://crates.io/crates/icu/1.0.0-beta1

It's worth revisiting this

[2022-08-05 13:35] BrzVlad commented on #73040
I can't reproduce this or investigate it. Also this hang seems to have happened only once. I think we should close this for now.

[2022-08-05 14:06] tannergooding commented on #66082
@jkotas, got pointed to this from discord and I'm not quite sure this is "expected".

.NET certainly assumes that addresses are aligned and you must use, for example, `Unsafe.*Unaligned` APIs to work with "unaligned memory".

Given then that the natural alignment of `byte` is `1`, that `Span<T>` can be over `T*` address, that there are platforms, like Arm32, which may not support "general unaligne