[2020-07-15 09:29] vargaz commented on #38480
ikvm changes:
https://github.com/mono/mono/pull/20119

[2020-07-15 09:30] terrajobst commented on #35692
Approval for which part? Throwing the exception, the analyzer or both? I thinking doing both seems great to me.

[2020-07-15 09:34] vargaz commented on #38480
monodis prints:
calli signature-0x11000006
for all calli signatures.

[2020-07-15 09:42] pinkfloydx33 commented on #39297
Wasn't the motivation behind `Path.Join` to side step all the logic of `Path.Combine` wrt things like rooting and (at the time) path validation? `Join` simply combines two or more values with the directory seperator for the current environment. The assumption made when calling it seems to be that you have already validated your inputs.

[From the docs](https://docs.microsoft.com/en-us/dotnet/api/s

[2020-07-15 09:54] noahfalk opened #39353 "Debugging an app using TplEventSource keyword 0x80 generates spurious ActivityIDs."
### Description

The following sample program exercises EventSource and EventListener logging with Activity IDs. Copy and build it in a new Visual Studio .Net Core console app project.
[code]

2. Run it using CTRL-F5 to avoid using the debugger and note the output. For example:
[code]
Notice that each GUID in the RelatedActivityId column matches the first row GUID in the ActivityId column. This is

[2020-07-15 09:57] #38822 closed

[2020-07-15 10:03] ysmoradi opened #39354 "support for SIMD in mono/wasm"
SIMD/WASM is now supported in chrome 84
Can we expect support for SIMD in mono/wasm?

[2020-07-15 10:35] juliusfriedman commented on #39232
I have Tom, please let me know if I missed anywhere.

[2020-07-15 10:40] noahfalk commented on #38754
Thanks! Yeah that seems like pretty good evidence to me that the existing EventSource won't be missed : ) I also took a look through the events and saw that most of the usage was treating EventSource as an unstructured logging provider which would make it much harder for a customer to have created a useful automated consumption scenario.

In that case we could delete the old provider and we've got

[2020-07-15 10:42] noahfalk commented on #38754
@brianrob - does this plan to eliminate the pre-existing networking EventSource provider raise any concerns for you?

[2020-07-15 10:53] EgorBo opened #39357 "Marshalling differences between 3.1 and 5.0 for classes"
Simplified repro from https://github.com/ControlzEx/ControlzEx/issues/120

[code]
Output for `netcoreapp3.1`:
[code]
Output for `net5.0` (latest public preview):
[code]
If I change `MONITORINFO` to `struct` - it'll work fine on both.

/cc @punker76

[2020-07-15 11:21] ViktorHofer commented on #32320
Presumably this isn't happening anymore. Closing. Feel free to reopen.

[2020-07-15 11:21] #32320 closed

[2020-07-15 11:23] ViktorHofer commented on #32950
@andy-ms I'm closing this of age. If this still happens on your machine please reopen the issue and we will take a closer look. Thanks

[2020-07-15 11:23] #32950 closed

[2020-07-15 11:30] ViktorHofer commented on #34988
Closing as we haven't heard back. @HrenuS feel free to reopen.

[2020-07-15 11:30] #34988 closed

[2020-07-15 11:31] ViktorHofer commented on #35001
@ixje sorry for not getting back to you earlier. What's the current status on this, are you still blocked?

[2020-07-15 11:33] ViktorHofer commented on #36860
@MattGal do you know if we capture dumps during the build?

[2020-07-15 11:35] ViktorHofer commented on #36930
I see, thanks for clarifying. Our goal is to deliver the desired experience without such "hacks". @Anipik is working on Intellisense support.

@jmaine can you provide repro steps so that we better understand what's currently broken in vscode? Thanks

[2020-07-15 11:36] ViktorHofer commented on #38138
any update on this? Are the work items still hanging?

[2020-07-15 11:37] ViktorHofer commented on #38631
Sure no concerns from my side. Whoever wants to give it a try feel free to loop us in.

[2020-07-15 11:38] ViktorHofer commented on #38284
Curious, did we already file follow-up issues?

[2020-07-15 11:40] ViktorHofer commented on #39244
Closing as this is tracked by linked issue.

[2020-07-15 11:40] #39244 closed

[2020-07-15 11:41] ViktorHofer commented on #38041
@DrewScoggins what's the status on this? Are we still running mono perf interpreter tests on PRs? Should we close this issue?

[2020-07-15 11:46] ViktorHofer commented on #36519
Thanks for doing that in https://github.com/dotnet/runtime/commit/56ee1b0b3f78d03af75434224ea9bd0cd54ec51f#diff-0b05377ea358dd4929229ced386ea133.

Some of these tasks are very specific to our repository, I don't think it makes sense to port them to Arcade. We already moved most non repo specific ones over.

[2020-07-15 11:50] ViktorHofer commented on #33082
@jaredpar thoughts? Dup of https://github.com/dotnet/runtime/issues/34015 but for perf runs?

[2020-07-15 11:51] ViktorHofer commented on #33256
@trylek that might be related to your runtime tests refactoring work.

[2020-07-15 11:52] ViktorHofer commented on #34148
Closing as we haven't heard back. @mrj001 feel free to reopen.

[2020-07-15 11:52] #34148 closed

[2020-07-15 11:52] ViktorHofer commented on #36485
@trylek is this still happening now that we moved the tests?

[2020-07-15 11:54] #33470 closed

[2020-07-15 12:00] alnikola commented on #38754
Our plan is to firstly implement new event/activities and then go through the old ones to delete/move them. However, some pieces have been already deleted. In example @stephentoub helped us recently by deleting obviously redundant Enter/Exits.

[2020-07-15 12:33] vargaz commented on #38337
Should be fixed.

[2020-07-15 12:33] #38337 closed

[2020-07-15 12:54] Wraith2 commented on #39233
I had a look into this to see if it was anything I could diagnose and/or fix. The answer seems to be no but what I found may be of use to someone more knowledgeable. Using managed profiling tools it looks like it's just spending a lot of time reading and spinning, not helpful. Using VTune I think it's clear that it's spending a lot of time in window_output_flush which is memcopying. Here's what I

[2020-07-15 13:06] SamMonoRT commented on #38041
No, we aren't running it on all PRs. We can close this issues.

[2020-07-15 13:06] #38041 closed

[2020-07-15 13:07] jkotas commented on #36519
https://github.com/dotnet/runtime/blob/master/tools-local/tasks/installer.tasks have quite a bit of duplication with tasks in the installer repo. For example:

- https://github.com/dotnet/runtime/blob/master/tools-local/tasks/installer.tasks/GenerateMsiVersion.cs
- https://github.com/dotnet/installer/blob/master/src/core-sdk-tasks/GenerateMsiVersion.cs + https://github.com/dotnet/installer/blob/ma

[2020-07-15 13:35] martinm1000 commented on #39283
@bartonjs

Do you know if the extension for AuthorityKeyIdentifier was also added in .NET 5 ?

[2020-07-15 13:36] ixje commented on #35001
@ViktorHofer no problem, I'm no longer blocked. Thanks for checking back in.

[2020-07-15 13:36] #35001 closed

[2020-07-15 13:38] HASSEN-MEDDEB-ATOS commented on #39014
Hi @mconnew any suggestion please :)

[2020-07-15 13:54] bartonjs commented on #39283
I do!  It was not 😦.  The new System.Formats.Asn1 package makes it reasonably easy, though; like we do in our tests.

https://github.com/dotnet/runtime/blob/83a15e3b95642e11918dd3e9ba37dd6245e15597/src/libraries/Common/tests/System/Security/Cryptography/X509Certificates/CertificateAuthority.cs#L753-L800

[2020-07-15 14:07] vcsjones commented on #17590
New APIs are in. Work left to be done:

- [ ] Cache results of `EVP_sha1`, `EVP_sha256`, etc in `HashAlgorithmToEvp` to avoid a P/Invoke call.
- [ ] Optimize CNG implementation to not allocate a stateful hash object.

[2020-07-15 14:45] #38482 closed

[2020-07-15 14:53] ericwj commented on #39297
Thanks for that. I am quite content in fact that you can quote the docs and point out the error is mine. That speaks to the quality of .NET as well as the docs, for which I gladly thank Microsoft and the community.

Seeing the last line I wrote, I should have given `Combine` these arguments and find that it does what I wrote to expect. I might use this API sometimes now that I know the difference

[2020-07-15 14:53] #39297 closed

[2020-07-15 14:58] martinm1000 commented on #39283
Interessting !

Thank you.

[2020-07-15 15:00] caroe2014 commented on #37664
Any Update in this Issue?

[2020-07-15 15:10] MattGal commented on #36860
Actually yes... it requires Kusto access to find them, but they're normal helix machines so if the core got written to the right spot, we'll have it. Checking that build now.

[2020-07-15 15:13] MattGal commented on #36860
@ViktorHofer unfortunately the build listed above is deleted, so I can't get its orchestration id back.

If it happens again, if you go to https://dev.azure.com/dnceng/public/_apis/build/builds/{build id} , copy off the orchestration plan id, and note that down we'll have a durable GUID that lets us find cores if they were uploaded.  Otherwise someone pushes a commit and the build and its metadata

[2020-07-15 15:17] mangod9 commented on #39071
Hey @HossienMehdikhah, could you please provide a simple repro + error its generating. Assume you are checking whether base.CreateAsync should be allowed from within the overridden CreateAsync ?

[2020-07-15 15:21] mangod9 commented on #38981
Hey @clamp03 could you please clarify what R2R tool you are using for your comparisons? For crossgen2 specifically we are planning improvements for compiling multiple small binaries, but that will be in 6.0.

[2020-07-15 15:25] GrabYourPitchforks commented on #39289
From offline conversations the most straightforward way to do this would be to mark the `Binary` enum field as obsolete and to have the `SerializationFormat` property setter throw `ArgumentException` if any value other than `Xml` is provided. Let that bake for a release, then if all is well rip out the now-unused logic.

[2020-07-15 15:27] #39283 closed

[2020-07-15 15:30] danmosemsft commented on #39233
It would be interesting to know whether we are calling zlib in the same pattern. Maybe we are asking it to do more work. Also I wonder whether it would be difficult to swap in the older zlib library to remove that variable.

[2020-07-15 15:37] ericwj commented on #39300
The relevant documentations is here:

* [Enable Long Paths in Windows 10, Version 1607, and Later](https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file#enable-long-paths-in-windows-10-version-1607-and-later)

Scrolling slightly up, [the section above that](https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file#maximum-path-length-limitation) reads:

But this does not me

[2020-07-15 15:55] jkotas opened #39361 "eventpipe/gcdump test failing on large number of PRs"
[code]

[2020-07-15 15:56] jkotas commented on #39361
8 CoreCLR failed on this in https://github.com/dotnet/runtime/pull/39356/  https://dev.azure.com/dnceng/public/_build/results?buildId=730698&view=ms.vss-test-web.build-test-results-tab&runId=22603798&resultId=102658&paneView=attachments

[2020-07-15 16:03] jkotas commented on #39361
I am disabling the test in https://github.com/dotnet/runtime/pull/39362
cc @hoyosjs @tommcdon

[2020-07-15 16:05] jkotas commented on #39361
Failed in #39082 https://dev.azure.com/dnceng/public/_build/results?buildId=730857&view=ms.vss-test-web.build-test-results-tab&runId=22608916&paneView=debug&resultId=102828

[2020-07-15 16:16] ViktorHofer commented on #36860
Thanks Matt. FYI @dotnet/runtime-infrastructure in case you encounter a FreeBSD crash during building.

[2020-07-15 16:18] josalem commented on #39361
CC @davmason, can you take a look at this?

[2020-07-15 16:19] josalem commented on #38523
CC @davmason for profiler tests

[2020-07-15 16:23] sdmaclea commented on #2014
I have been working on other issues.  I can probably look at https://github.com/libunwind/libunwind/pull/187 later this week.

[2020-07-15 16:26] sdmaclea commented on #2014
#39213 restored some of the code which was removed in #26082.  It makes it simpler to fix this issue more directly.  @mikem8361 has been considering an approach like this...

[2020-07-15 16:26] DrewScoggins commented on #38138
I have been working on a bunch of 3.1->5.0 perf comparison work so I have not gotten around to adding the additional logging that we need here. I believe that @safern was still seeing some hangs.

[2020-07-15 16:44] danmosemsft commented on #39365
@mkArtakMSFT @pranavkm can one of you please clarify what you believe the bug is for us?

[2020-07-15 16:50] KlausLoeffelmann opened #39366 "Add missing Designer support attributes to the BackgroundWorker component"
### Description

Several Attributes providing Designer support for the BackgroundWorker component are missing for the class itself but also for some of its properties and events which results in missing Designer support.

### Configuration

* These affects all .NET Core versions on all OS.

### Regression?

This is a regression from NetFx.

### Other information

* The `DescriptionAttribute` is mi

[2020-07-15 16:50] ViktorHofer commented on #38138
We should fix this asap, otherwise we probably need to disable the leg.

[2020-07-15 16:54] Wraith2 commented on #39233
netcore 3.1:
![Capture netcore](https://user-images.githubusercontent.com/13322696/87572655-c8eb2f00-c6c3-11ea-8900-c9b4dfc95f49.PNG)

netfx 472:
![Capture netfx](https://user-images.githubusercontent.com/13322696/87572678-d0aad380-c6c3-11ea-8684-f3c51be89c8d.PNG)

Focussed on the part that stands out as taking more time between the two. It looks like the netcore version is doing byte reads from t

[2020-07-15 16:58] josalem commented on #38284
I haven't checked up on the status of the non timeout tests in the list, e.g., Binder, base services, the BCL AVs, etc.  I've been investigating the workitem timeout as time permits, but haven't discovered anything.

#38167 seems to show the same behavior.  I'm not sure what is going on yet, but I'm not 100% convinced that this is a test failure.  A test timeout in this payload _should_ cause the

[2020-07-15 17:08] safern commented on #38138
Yeah I agree. We should enable the logs today ASAP before disabling the legs to get some logs and so that MSBuild can investigate.

[2020-07-15 17:08] davidfowl commented on #29741
Closing this as it doesn't look like it's happening often enough. We'll keep an eye out

[2020-07-15 17:08] #29741 closed

[2020-07-15 17:13] #34805 closed

[2020-07-15 17:13] #38133 closed

[2020-07-15 17:16] #38956 closed

[2020-07-15 17:19] AndyAyersMS commented on #39256
cc @dotnet/jit-contrib

We can either reject this IL or try and tolerate it. Seems odd that this apparently works in full framework

[2020-07-15 17:20] elinor-fung commented on #35692
@terrajobst Approval for the analyzer. We were told we would need to go through an official API review process via marking this issue as `api-ready-for-review`. Is that still the case - should we be marking it differently or are we no longer expecting an API review for analyzers?

[2020-07-15 17:23] #39128 closed

[2020-07-15 17:32] ericwj opened #39370 "`Directory.EnumerateFiles` does not respect per-directory case-sensitivity setting"
See also #34235. Area `System.IO`.

### Description

#### Summary
After creating `file.txt` and `FILE.txt` in a directory configured to be case-sensitive, running `Directory.EnumerateFiles` against it with a pattern of `f*` returns two elements instead of one, where `FindFirstFileEx` returns just the one.

#### Test result
[code]

#### Enable `NtfsEnableDirCaseSensitivity` globally (optional, reco

[2020-07-15 17:35] josalem commented on #34015
I'm getting a similar error in one of my PRs which is routinely failing the Linux x64 libraries build:
[code]
https://dev.azure.com/dnceng/public/_build/results?buildId=729905&view=logs&jobId=423ae147-26a3-5a4d-a4d3-4b3fc1dd598e&j=86357178-b8b8-53d0-d37b-335a1e08c946&t=75d29754-3c44-5c16-fcdb-e0edbf440620

[2020-07-15 17:41] #39310 closed

[2020-07-15 17:41] AndyAyersMS commented on #39349
Thanks for the report. Was half expecting this to be about the implicit byref promotion heuristic, but it looks like it's more likely that the jit is not able to disambiguate the dereferences despite knowing the actual variables involved, so perhaps some form of forward sub.

Am going to mark this as future. We still need to take a closer look to figure out exactly what is going on.

[2020-07-15 17:44] BruceForstall opened #39371 "arm64 Helix reporter script error"
On `net5.0-Windows_NT-Release-arm64-CoreCLR_checked-tailcallstress-Windows.10.Arm64.Open` failure in `System.Collections.Concurrent.Tests Work Item` of this pipeline:

https://dev.azure.com/dnceng/public/_build/results?buildId=730506&view=ms.vss-test-web.build-test-results-tab&runId=22603680&resultId=148545&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

This log file

[2020-07-15 17:44] dradhamohan commented on #34080
Hi - Looks like .NetCore on Mac is using Apple Transport Layer Security APIs. Attaching a sample program that just repeatedly performs a TLS handshake and close. Interestingly, there seems to be a small memory increase for every handshake/close. Can this be an with the Apple TLS stack ? Or is there anything wrong in the Apple TLS API usage in the attached program ?
---------------snip------------

[2020-07-15 17:50] am11 commented on #39279
Noticed the same error with `SDK Version: 5.0.100-preview.8.20362.3` in a helloworld app on FreeBSD, using linux x64 binary (in Linux® emulation mode): https://api.cirrus-ci.com/v1/task/6736777027256320/logs/emulate%20dotnet.log  |  [ci job](https://cirrus-ci.com/task/6736777027256320)

[2020-07-15 17:50] wfurt commented on #34080
Thanks for the update @dradhamohan. I'm planning to look at this after next public beta. The C repro is super useful as I plan to go back to 10.12 and use Valgrind to look for leaks. (unfortunately, it is not supported on current versions but it may be good enough to point at the problem)

[2020-07-15 17:52] am11 commented on #33051
@janvorli, sorry the above links are dead. I have tested with latest SDK and the build is failing with socket issue: https://cirrus-ci.com/task/6736777027256320. Underlying issue is: https://github.com/dotnet/runtime/issues/39279. I will keep an eye on it and close if it works after the socket issue isresolved.

[2020-07-15 17:56] dradhamohan commented on #34080
Sorry - I accidentally closed the ticket. Re-opened it. Was about to reply to your comment stating that the Apple leaks utility doesn't show any leak with the attached program though one can clearly see a memory increase. And we can see the same behavior across High-Sierra, Mojave and Catalina.

[2020-07-15 17:58] scalablecory commented on #39232
For features that are currently only possible via `SetRawSocketOption`, I think it's worth discussing proper APIs. While not an explicit blocker, it is strongly ideal that these new APIs would work cross-platform or at least not cause confusion when supporting multiple platforms -- as an example, lack of confidence here is the reason the quick ack APIs were delayed.

For features that are currentl

[2020-07-15 18:04] danmosemsft commented on #38138
+1 to @safern comment.

[2020-07-15 18:08] danmosemsft commented on #39232
As part of the motivation text, it might be helpful to note existing implementations in other stacks, or libraries. That can help demonstrate there's a need.

[2020-07-15 18:20] KlausLoeffelmann opened #39375 "Add missing Designer support attributes to the FileSystemWatcher component"
### Description

Several Attributes providing Designer support for the `FileSystemWatcher` component are missing for the class itself but also for some of its properties and events which results in missing Designer support.

### Configuration

*These affects all .NET Core versions on all OS.

### Regression?

This is a regression from NetFx.

### Other information

* The `DescriptionAttribute` is

[2020-07-15 18:34] bartonjs commented on #32954
This seems better as an analyzer.  The breaking change would be very disruptive, and it should be relatively rare that something accepts both DateTime and DateTimeOffset via overloads.

I'd even limit the analyzer to identifying the confusing cases, where a DateTime is provided to a method that takes a DateTimeOffset in an overload and the output of that method is a DateTime that is implicitly con

[2020-07-15 18:37] #38800 closed

[2020-07-15 18:38] carlossanlop commented on #39227
@safern so far I've seen it in my ARM64 surface, but if I see it in my x64 PC I'll let you know.

[2020-07-15 18:40] #36688 closed

[2020-07-15 18:41] safern commented on #39227
Then I think that confirms @ericstj statement.

[2020-07-15 18:48] benaadams commented on #32389
@AndyAyersMS is the instruction stream still mutable post emit?

e.g. `lea` is emitted; next is `test` could the `test` emit then undo the `lea` and change it to an `add`? (Since when the `lea` is being emitted it doesn't know next will be a `test`; but the `test` can look back)

[2020-07-15 18:49] juliusfriedman commented on #39232
https://github.com/ngraziano/SharpRTSP

https://github.com/BogdanovKirill/RtspClientSharp

All are not RFC compliant without this

[2020-07-15 18:52] AndyAyersMS commented on #32389
Perhaps? We are streaming other things along with emission, in particular gc liveness tracking, so "undoing" a previously emitted instruction may not be so easy.

[2020-07-15 18:53] steveharter commented on #39081
@jaredpar is this issue a duplicate of https://github.com/dotnet/roslyn/issues/45510?

[2020-07-15 18:56] safern commented on #39081
@jaredpar are there any plans on supporting the record type downlevel?

[2020-07-15 19:13] AaronRobinsonMSFT opened #39378 "Read all modopts for for unmanaged CallKind"
In https://github.com/dotnet/runtime/pull/39030#discussion_r455255709 a clarification was provided that indicates we need to always read all `modopt`s. This was a confusion on my part regarding how we could implement this. We always need to read all of them because from Roslyn's perspective, the order of `modopt` doesn't matter and therefore functions pointers:

`delegate* unmanaged[Cdecl, Stdcall

[2020-07-15 19:14] tagcode commented on #29068
Well I was looking for the minuscule benefit of being able to _rely_ on Regex.Escape() to do just that in context of character class as well.

I must have missed that. So the case was considered and purposefully excluded by the designer of the method.

[2020-07-15 19:14] #29068 closed

[2020-07-15 19:27] akoeplinger opened #39379 "AssemblyLoadContext issue with satellite assemblies on Browser"
The tests `System.Runtime.Loader.Tests.SatelliteAssembliesTests.SatelliteLoadsCorrectly` and `System.Runtime.Loader.Tests.GetAssemblyNameTest_ValidAssembly` can't load satellite assemblies for some reason, we should investigate.

[2020-07-15 19:28] safern opened #39380 "WASM: System.Reflection.Tests.InvokeRefReturnNetcoreTests.TestNullRefReturnOfPointer crashes"
[code]

It is hitting this assert: https://github.com/dotnet/runtime/blob/4e1ada2aa1419634f3728ce9c09458654db3f411/src/mono/mono/metadata/object.c#L5740

[code]

It is crashing when doing `p.GetValue(tc)` instead of throwing a `NullReferenceException`

cc: @akoeplinger @marek-safar @steveisok

[2020-07-15 19:32] billwert commented on #38138
Just pushed #39381 to address this.

[2020-07-15 19:36] AndyAyersMS commented on #32389
cc @kunalspathak as this just came up after a presentation Kunal gave that included the new arm64 peepholes...

[2020-07-15 19:41] steveharter commented on #38539
Json.Net does supports the binding between parameter name and property allowing a completely different JSON name for example.

However Json.Net doesn't require that binding like STJ does so this should be documented.

[2020-07-15 19:46] AndyAyersMS commented on #33189
Was aiming for getting this into P8 but now seems unlikely:
* Have hit at least one blocking issue trying to re-enable this (plus prospective fix), see https://github.com/dotnet/runtime/pull/38894#issuecomment-656283167
* Haven't yet verified that my prospective fix actually handles the cross-crossgen debug diff that lead this to be reverted.

Seems like this is at risk for not making it into .Net

[2020-07-15 19:51] #39308 closed

[2020-07-15 19:56] AndyAyersMS commented on #34279
Yes, more or less, at least for byrefs, motivated by IL from C++/CLI that passes byrefs to unmanaged callers.

We're hoping that the IL producer has somehow guaranteed that the byref won't change values across a GC, and want to make sure we don't cause the program to fail for other reasons.

We could just reject the IL, but since we've tolerated this for a long time it would likely cause more trou

[2020-07-15 19:58] mikem8361 commented on #2014
I have this coded up and I'm testing.

[2020-07-15 19:59] carlossanlop commented on #39227
@safern @ericstj I built my x64 PC and I also saw the failure there:

[code]
This is the command I used:
`.\build.cmd clr+libs+libs.tests -c release -arch x64`

[2020-07-15 20:02] jkotas commented on #34279
I agree with your statement: "It doesn't seem likely on x64". We have not seen an actual problem caused by it on x64.

[2020-07-15 20:03] jkotas commented on #33189
Agree - this should wait post .NET 5.

[2020-07-15 20:03] IllidanS4 opened #39384 "JsonElement implement standard interfaces"
## Background and Motivation

`JsonElement`, for example when provided for an `object` property, cannot be easily manipulated generally, without using its concrete type. It cannot be converted to any specific type without using methods like `GetInt32` on the unboxed value, cannot be cloned and cannot be compared. This complicates code that uses it and harms generality, since it requires the code t

[2020-07-15 20:16] marek-safar commented on #39380
@vargaz could you please look into this?

[2020-07-15 20:28] #39171 closed

[2020-07-15 20:30] AaronRobinsonMSFT commented on #39357
@jkoritzinsky It appears this is a consequence of the marshaller updates. See the two outputs below.

Note in .NET 3.1, the class is pinned and passed through. In .NET 5.0 we allocate some memory for this and pass that instead. In this case we should copy the current struct contents. Technically the signature is incorrect because the struct isn't "out" it is actually "in/out". I am not sure how we

[2020-07-15 20:32] echesakovMSFT commented on #39243
Pushing this to 6.0

[2020-07-15 20:32] AaronRobinsonMSFT commented on #39357
Just a note, if one checks the return value of `GetMonitorInfo()`, it is indicating `false` because the call didn't succeed.

[2020-07-15 20:34] AndyAyersMS commented on #33189
Ok, I'm going to change the milestone.

[2020-07-15 20:35] slavanap commented on #32954
A DateTimeOffset typed variable can be constructed from either DateTime or DateTimeOffset.

This case is pretty often and dangerous when one works with DateTimeOffset typed variables and time conversions.

Please let me know if the basic example of the issue above that I've listed is not clear.

[2020-07-15 20:38] sbomer opened #39385 "Unused resources in System.Threading.Overlapped"
### Description

These resources seem to be unused: https://github.com/dotnet/runtime/blob/master/src/libraries/System.Threading.Overlapped/src/Resources/Strings.resx.

This causes a linker warning because we are generating substitutions for `System.SR`, but that type doesn't exist (presumably it is removed by the linker):

[code]
(I hit this running on blazor bits).

@eerhardt mentioned that perh

[2020-07-15 20:38] slavanap commented on #32954
Don't get me wrong, I'm not for removing the constructor, I'm for removing the implicit construction. The one who wants to construct DateTimeOffset from DateTime will still be able to do it, but such obsoletion will force them to list this conversion explicitly, e.g. new DateTimeOffset(DateTime.Now)

[2020-07-15 20:45] ericstj commented on #2017
Last we discussed we were going to eliminate RID-specific restores from this test process and make the RID-less run test all runtime-targets of the package against references instead of implementation.

[2020-07-15 20:50] #35869 closed

[2020-07-15 20:51] omajid commented on #2014
Yes, we can use the bundled libunwind until the features are available upstream.

[2020-07-15 20:54] #39238 closed

[2020-07-15 20:54] #38400 closed

[2020-07-15 20:54] eerhardt commented on #39385
@joperezr - do you think you have time to look at this?

[2020-07-15 20:58] MgSam commented on #16443
So no one ever made an API proposal for this? Maybe you guys should add the up-for-grabs label.

[2020-07-15 21:02] bartonjs commented on #32954
In addition to the obvious source-breaking change, removing the implicit conversion is a binary breaking change which would make .NET (Core) no longer compatible with .NET Standard, so it's unlikely to happen in the foreseeable future.

The conversion could potentially be marked as `[Obsolete]`, but that would make reasonable code like

[code]

start to get obsoletion warnings.  (In point of fact,

[2020-07-15 21:15] eerhardt commented on #39385
@safern also pointed out that we could add more assemblies to this test to make sure certain assemblies are empty:

https://github.com/dotnet/runtime/blob/69b0d160953f5c920e52f021366743623693c158/src/libraries/System.Runtime/tests/System/NullableMetadataTests.cs#L134

[2020-07-15 21:17] safern commented on #39385
Note that the `.resx` on that assembly seem to be a leftover from when moving all the types down to System.Private.CoreLib. The resources are defined in `System.Private.CoreLib` and only used there: https://github.com/dotnet/runtime/search?q=Argument_PreAllocatedAlreadyAllocated&unscoped_q=Argument_PreAllocatedAlreadyAllocated

So the fix would be to just delete that folder and add a a test if we

[2020-07-15 21:22] ahsonkhan commented on #38269
For this particular case, it is because there is no case-sensitive matching property within the `Model` class that exactly matches with the name `string`. S.T.J is case-sensitive by default. It would be equivalent to passing in something like `"{\"foo\": 2}"`. That property is just ignored.

You could annotate your model with the expected name, or add a case-insensitive option to the serializer, a

[2020-07-15 21:24] ericstj commented on #39227
I looked at Carlos's machine.  The assembly had the types present.  The problem is that the tool was running on an old shared framework.
1. Carlos had the verison of dotnet required by the repo installed machine-wide, so build didn't acquire a local copy.
2. Carlos had a 2.x shared framework installed machine-wide.
3. The tool preferred the 2.0.0 machine-wide framework, which couldn't analyze the

[2020-07-15 21:24] slavanap commented on #32954
IMHO, I don't think such code expresses clearly what it's doing. I personally would prefer
[code]

P.S. Just noticed that HEREDOC is not very precise for DateTimeOffset.

[2020-07-15 21:58] jaredpar commented on #39081
@steveharter

Essentially yes it's a dupe

@safern

The issue here isn't so much downlevel support as we're missing a type required for code geneartion of the feature. The type is just a marker type (used for some `modreq`). If the down level frameworks have this type defined then the compiler can emit record types properly.

Going back in time it's very similar to extension methods. The type nece

[2020-07-15 21:59] safern commented on #39081
I see.

@steveharter if you wanted those tests to work, then we can just define the type on the test project for net472 then, right?

[2020-07-15 22:07] #1720 closed

[2020-07-15 22:13] wfurt commented on #34080
I'm not familiar with that tool. Memory may not be shown as leak if there is reference to it. For example, session cache can grow but it is not leak because entries can be reached. I think we will need to figure out where the memory is used.
You can open issue with Apple - just in case there are some answers to it. With plain C it should be easier than giving them c#.

[2020-07-15 22:15] steveharter commented on #39081
Yes essentially. Currently I just have an `#if` but could have moved the tests to a separate .cs file along with a conditional include in the csproj. The latter approach would be best if this is going to be a long-term issue.

[2020-07-15 22:15] timmydo opened #39390 "Unexpected regex match failure with Compiled and IgnoreCase on net 5"
### Description

Console app:

[code]

Console output

[code]

### Configuration

win x64

### Regression?

yes, from 3.1.x

[2020-07-15 22:19] HongGit commented on #34962
Duplicate #35066

[2020-07-15 22:19] #34962 closed

[2020-07-15 22:19] safern commented on #39081
It seems like that is how it  is going to be based on:

[2020-07-15 22:38] joperezr commented on #39385
Yup I'll take care of this.

[2020-07-15 22:40] noahfalk commented on #38754
Probably the sooner you can delete the old stuff the better so that you can flush out any issues that might be lurking. I imagine @stephentoub would be bummed if we added the new EventSource and then later discovered that we couldn't delete the old ones for some unexpected reason.

[2020-07-15 22:41] AndyAyersMS commented on #38848
Ok, taking a look.

[2020-07-15 22:41] HongGit commented on #1407
We will close the issue for now as there are not much votes.

[2020-07-15 22:41] #1407 closed

[2020-07-15 22:43] #38539 closed

[2020-07-15 22:46] HongGit commented on #1405
@pengweiqhca this should have been fixed in the recent 3.1.5 release.

[2020-07-15 22:47] timmydo commented on #39390
[code]

[code]

[2020-07-15 22:51] safern commented on #39081
@steveharter maybe we should either close this issue or fix it as suggested above. Up to you what direction we want to go here.

[2020-07-15 22:53] carlossanlop commented on #38902
Followup of my last comment: After adding the line suggested by @ericstj to bypass the installer.tasks step, and editing the line suggested by @eiriktsarpalis to force the usage of `x86`, I built using this command: `.\build.cmd clr -c debug -arch arm64`, which failed with a error in crossgen-corelib. Since it's unrelated to the installer.tasks problem reported here, I will open a separate issue t

[2020-07-15 22:55] danmosemsft commented on #39390
I repro - very surprising!

[2020-07-15 23:00] steveharter commented on #39081
So I should add this type to the test project for `#if !NETCOREAPP`:
[code]
?

[2020-07-15 23:03] mjsabby commented on #39390
Requires `RegexOptions.Compiled | RegexOptions.IgnoreCase`

[2020-07-15 23:03] HongGit commented on #599
Dupe#1388

[2020-07-15 23:12] safern commented on #39081
Yeah, I think so. We should just put it in a separate file though and conditionally include it to the Compile items based on the TFM.

[2020-07-15 23:13] brianrob commented on #38754
No concerns on removing this one.  I am not aware of any tools out there that use it, including PerfView.  Thanks for checking.

[2020-07-15 23:18] BruceForstall opened #39393 "Assert failure: (size (xl) > 0)"
Job:

https://dev.azure.com/dnceng/public/_build/results?buildId=730394&view=ms.vss-test-web.build-test-results-tab&runId=22596042&resultId=171798&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

Test log:

https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-45e329275d614728b6/System.Memory.Tests/console.b69cee47.log?sv=2019-02-02&se

[2020-07-15 23:20] danmosemsft commented on #39390
It requires Ignore Case ( a good clue) but not Compiled. This is as simple as I can get it. Very curious that it is so sensitive.

[code]
[code]

[2020-07-15 23:22] joperezr commented on #38782
This is technically ok and the fix is to include a binding redirect. The reason why it works just fine when you consume it from an .exe is most likely because that application is getting a binding redirect which is fixing this. You mentioned you tried generating binding redirects but that didn't work for you, how did you try to generate them? Depending on the SDK you are using it may be different,

[2020-07-15 23:23] noahfalk commented on #5051
I'm fine with the approach @AaronRobinsonMSFT suggested above. The thing I care about most is that we don't break any CLI syntax for scripts/build projects already succesfully using ilasm. Having new syntax that is understandable/consistent with csc is certainly nice as well. I don't fret about it too much because I assume there are a relatively small set of people in the world who will need to fo

[2020-07-15 23:27] Robo210 commented on #1167
Please install the latest cumulative update (July 2020 or later) and let us know if the issue persists.

[2020-07-15 23:28] carlossanlop opened #39394 "Windows ARM64 build failure in CROSSGEN-CORELIB"
Related to https://github.com/dotnet/runtime/issues/38902

There is a [suggestion](https://github.com/dotnet/runtime/issues/38902#issuecomment-655795427) in that issue, which I applied so I could unblock me. The suggestion was to add `<Target Name="_CollectTargetFrameworkForTelemetry" />` to line 10 in the file `runtime/Directory.Build.targets` to avoid having the installer.tasks step freeze.

The

[2020-07-15 23:31] danmosemsft commented on #1167
Thanks @Robo210 . @Gnbrkm41 can you confirm, and we can close thi?

[2020-07-15 23:33] danmosemsft commented on #1167
In fact, I'm going to optimistically close and do continue the conversation if it's not fixed.

[2020-07-15 23:33] #1167 closed

[2020-07-15 23:54] janvorli commented on #38522
This is the thread that runs GC. It was triggered from a finalizer System.Gen2GcCallback.Finalize allocating a new object (I guess it is GCMemoryInfoData) in System.GC.GetGCMemoryInfo.

[code]

The main thread is waiting in FinalizerThread::RaiseShutdownEvents() on hEventFinalizerToShutDown
[code]

I'll look into it more tomorrow.

[2020-07-16 00:12] erozenfeld commented on #13727
Analysis of the example in https://github.com/dotnet/runtime/issues/13727#issuecomment-613607317.

For simplicity I reduced the number of
[code]
from 16 to 3.

Before null check folding optimization (in earlyProp) we have:

[code]

The optimization gets rid of the last `nullcheck` but can't do anything with the earlier `nullchecks`. It doesn't understand that tmp1, tmp2, and tmp3 all have the same

[2020-07-16 00:14] mangod9 commented on #39393
Does this imply this is a recent regression?

[2020-07-16 00:16] safern commented on #37121
@iSazonov I forgot to let you know as we were having trouble to update the SDK to a new runtime, but the latest daily SDK should contain this fix if you want to try it 😄

https://aka.ms/dotnet/net5/dev/Sdk/dotnet-sdk-win-x64.exe

https://github.com/dotnet/installer/blob/master/README.md#installers-and-binaries

[2020-07-16 00:31] BruceForstall opened #39398 "Test failure: System.Collections.Concurrent.Tests.ConcurrentStackTests.Add_TakeFromAnotherThread_ExpectedItemsTaken"
The failure is not a consistent repro, but I see it fail about 50% of the time. It will fail without GCStress as well, if you are "lucky". The failure mode also changes, but always looks like one of the set of common GCStress asserts.

[code]

[code]

In a separate run under a debugger, I see:
[code]

and the function being examined:
[code]

category:correctness
theme:testing
skill-level:expert
co

[2020-07-16 00:37] BruceForstall commented on #39393
No.

I haven't seen this failure before, but it could just be rare.

One thing to note is that due to all the new stress mode jobs, we are running all the libraries tests, including with stress modes, much more frequently than before, and that can cause rare bugs to show up in "stress mode jobs" that have nothing to do with the stress mode itself.

[2020-07-16 00:47] jeffhandley opened #39401 "Support building System.DirectoryServices ref assembly against net5.0"
For https://github.com/dotnet/designs/pull/139, I need to be able to mark 2 types in `System.DirectoryServices` as `[Obsolete]` starting in .NET 5: `DirectoryServicesPermission` and `DirectoryServicesPermissionAttribute`.

At present, the `src` project has the following:
[code]

And the `ref` assembly has simply:
[code]

I can conditionally add the attributes to the `src` project, but I cannot cur

[2020-07-16 01:02] AndyAyersMS commented on #38848
Trying to repro the failure in `System.Runtime.Numerics.Tests`, no luck so far:
[code]
I suppose I should add in the other xunit args, maybe they matter...?

[2020-07-16 01:09] RossNordby opened #39403 "Optimizations introduce null reference exception on latest preview 8 daily build"
With tiered compilation off, optimizations enabled, targeting net5.0 on win10 x64 under latest daily build (f37dd6fc8595e130909dcb3085a56342d04aa20c, 5.0.0-preview.8.20361.2), calling `TestRepro` throws a null reference exception:
[code]
The resulting assembly for Test:
[code]
Preview 7 works as expected.

[2020-07-16 01:15] AndyAyersMS commented on #39403
cc @dotnet/jit-contrib -- anyone want to take this?

[2020-07-16 01:16] mconnew commented on #1300
From the documentation [here](https://docs.microsoft.com/en-us/dotnet/api/system.xml.serialization.xmlattributeattribute?view=netcore-3.1):

You can see the property for an attribute is expected to be an XML primitive or an array of XML primitives. This would work if the type of the property was declared as:
[code]
You can see the code that is used to determine the "kind" of the property [here](ht

[2020-07-16 01:16] #1300 closed

[2020-07-16 01:25] jkotas opened #39404 "Microsoft.Extensions.Logging.Console.ConsoleLoggerProvider tests failing on non-Windows platforms"
[code]

[2020-07-16 01:25] jkotas commented on #39404
Failed in https://github.com/dotnet/runtime/pull/39376/

[2020-07-16 01:26] jkotas commented on #39404
Failed in #https://github.com/dotnet/runtime/pull/39082

[2020-07-16 01:27] jkotas commented on #39404
Introduced by https://github.com/dotnet/runtime/pull/38616

[2020-07-16 01:34] #13591 closed

[2020-07-16 01:39] pengweiqhca commented on #1405
Yes, this have been fixed, is have a related PR?

[2020-07-16 01:41] maryamariyan commented on #39404
looking..

[2020-07-16 01:47] safern commented on #39404
I'm investigating the failure and I believe this is because of: https://github.com/dotnet/runtime/pull/39209/

`kernel32.dll` shouldn't come into play in OSX nor Linux and `Linux` and `OSX` test runs are failing with:

[code]

I'm doing a run without  https://github.com/dotnet/runtime/pull/39209/

[2020-07-16 01:48] safern commented on #39404
cc: @ericstj

[2020-07-16 01:59] ahsonkhan commented on #38437
Though I can understand that the current behavior could be surprising, it was intentionally done this way to be compatible with the semantics of `Newtonsoft.Json` when it comes to camel casing to avoid subtle breaks in the serialized JSON when folks coming from `Newtonsoft` use S.T.J.

See
https://github.com/JamesNK/Newtonsoft.Json/blob/666d9760719e5ec5b2a50046f7dbd6a1267c01c6/Src/Newtonsoft.Json/

[2020-07-16 02:01] jkotas commented on #39404
I do not think that #39209 is the problem. I believe that the problem is how this is calling P/Invokes with SuppressGCTransitionAttribute.

One of the side-effects of SuppressGCTransitionAttribute is that the JIT will load the target eagerly to minimize overhead. It means that it does not compose well with platform specific checks in platform neutral assemblies.

I think this assembly should be ei

[2020-07-16 02:01] jeffhandley opened #39405 "ImageAnimator.StopAnimate (on Unix) could throw PNSE"
With dotnet/designs#139 and #39269, we are marking `Thread.Abort()` as Obsolete because it unconditionally throws PlatformNotSupportedException. The tests for the PR turned up that `ImageAnimator.Unix.cs` uses `Thread.Abort()` inside `StopAnimate`.

[code]

I am going to put a `#pragma warning disable` around the `Thread.Abort()` call, but this code would be unexpectedly throwing PNSE right now, w

[2020-07-16 02:09] safern commented on #39404
I see... I think reviewers were pushing against making it platform specific to avoid much overhead in the package.

[2020-07-16 02:16] ericstj commented on #39404
What’s better, ifdef out the attribute or make a non-inlinable method?

Are we OK with the attribute behaving this way?  In the past we haven’t needed to think about inlining and pinvokes.

[2020-07-16 02:18] v-haren commented on #39361
failed again in job: [runtime 20200715.46 ](https://dev.azure.com/dnceng/public/_build/results?buildId=730968&view=ms.vss-test-web.build-test-results-tab&runId=22614564&resultId=102688&paneView=debug)

failed test: tracing/eventpipe/gcdump/gcdump/gcdump.sh

Error message
[code]

[2020-07-16 02:18] JeremyKuhne opened #39406 "API Proposal: Expose `System.Drawing.Graphics.NativeGraphics`."
## Background and Motivation

In Windows Forms painting it would be helpful if we had the option to plug our own P/Invokes calls into existing `Graphics` objects. We could, for example, have lighter-weight `GpPen` and `GpBrush` wrappers (structs perhaps) and invoke the GDI+ API directly with them via the exposed `Graphics` pointer.

While we could create our own `GpGraphics` object, that usually i

[2020-07-16 02:21] jkotas commented on #39404
Either way should work.

This attribute is for advanced cases where one needs to reduce PInvoke overhead to minimum around a cheap PInvoke. If you are using it, you have to think about its interaction with inlining.

[2020-07-16 02:24] ericstj commented on #39404
Can we make JIT deterministically fail here?  Or would that hurt perf?

[2020-07-16 02:25] jkotas commented on #39404
It would add a few extra instructions.

[2020-07-16 02:28] safern commented on #39406
@JeremyKuhne given the timeframe I think this would need to be added in 6.0, right?

[2020-07-16 02:32] jkotas commented on #39404
For Microsoft.Extensions.Logging.Console.ConsoleLoggerProvider, I think it would be more appropriate to just ifdefed out the attribute. It is a big and slow library (e.g. using generic virtual methods). Micro-optimizations like this do not matter for it.

[2020-07-16 02:33] ericstj commented on #39404
I see. I agree then that we need to be extra careful when using this.  Should we use a naming convention to identify these PInvokes so it makes it clear at callsite when someone uses one of these methods?

[2020-07-16 02:35] JeremyKuhne commented on #39406
Probably. Fyi, I'm investigating the painting loops so I'll likely open more API proposals on System.Drawing.

[2020-07-16 02:45] jkotas commented on #39404
Sounds reasonable. I cannot think about one that would look good. Do you have something in mind?

[2020-07-16 03:10] echesakovMSFT commented on #39338
@BruceForstall Do you remember how you reproduced this issue? Have you built the libraries and runtime from the sources or you downloaded some of the assets instead? I am asking because I have no luck of reproducing this issue locally (I built everything from the sources) but I noticed a difference in number of tests in my run vs. yours:

[code]

[2020-07-16 03:11] ericstj commented on #39404
Some suffix on either interop class name or the method name (assuming this doesn’t increase overhead).  Like `Unsafe`, `Direct`, `Inline`

[2020-07-16 03:11] agocke opened #39409 "R2R images are not properly loaded when using single-file publish on Windows"
Repro:

Publish a hello-world app on Windows as single-file

[code]

Now test the time (I did this using Git Bash):

[code]

Now check the same thing vs the non-single-file publish:

[code]

If you disable R2R images on the non-single-file version, you get numbers close to the single-file:

[code]

and the `COMPlus_ReadyToRunLogFile=log.txt` file for single file R2R does seem to contain problems:

[2020-07-16 03:22] iSazonov commented on #38437
@ahsonkhan Thanks for the explanation!
I am trying to migrate PowerShell Core from `Newtonsoft.Json` to the new API and for compatibility reasons the behavior is ok.
But I opened the issue because I'd expect that users will catch the behavior from time to time and ask about "standard" implementation.
So I think your explanation could be moved to .Net documentation as well as the workaround.

[2020-07-16 03:48] #36804 closed

[2020-07-16 03:49] #39152 closed

[2020-07-16 03:50] clamp03 commented on #38981
Hi, @mangod9 Thank you for the comment.
I used crossgen. Actually, I am investigating and optimizing based on crossgen. Should I move to crossgen2? I used crossgen because COMPlus_NgenDump is not worked when I used crossgen2. Is there any other way to see code generation in crossgen2?
Could you share what is "improvements for compiling multiple small binaries"? Is it different from compositeR2R? A

[2020-07-16 04:02] jkotas commented on #38981
Yes please!

[2020-07-16 04:05] clamp03 commented on #38981
@jkotas Thank you!

[2020-07-16 04:28] danmosemsft commented on #39390
Investigating. FindFirstChar() seems to be returning false.

[2020-07-16 04:33] am11 commented on #34793
@janvorli, I was discussing about `FlushProcessBuffers` Win32 API's suitable Unix counterpart on illumos channel. Folks were not clear and in turn questioned how are mono, java, rust, ruby and other runtimes handling this concept on Unix. Currently, we need to given additional privilege (`proc_lock_memory`) on top of `basic` set on illumos distros for CoreCLR, which other runtimes (including mono)

[2020-07-16 04:50] jeffhandley opened #39412 "Potentially unused ES_BUILD_PCL build constant in EventSource"
As was [discovered](https://github.com/dotnet/runtime/pull/39269#discussion_r455015252) during #39269, there's an `ES_BUILD_PCL` build constant in the EventSource code. It was first identified in `TraceLoggingEventSource`. I couldn't find any place where the constant is defined, so I think the `#if (!ES_BUILD_PCL)` blocks will always be applied.

For #39269, I'm augmenting the condition to be `#if

[2020-07-16 04:59] jeffhandley opened #39413 "Mark DirectoryServicesPermission and DirectoryServicesPermissionAttribute as Obsolete"
Per dotnet/designs#139, `System.DirectoryServices.DirectoryServicesPermission` and `System.DirectoryServices.DirectoryServicesPermissionAttribute` should be marked as Obsolete in .NET 5.

In #39269, it was found that this will require the `System.DirectoryServices` ref assembly build to distinguish between `netstandard2.0` and `net5.0`, which it doesn't do today.  #39401 was filed for the infrastr

[2020-07-16 05:00] BruceForstall commented on #38848
I can't remember if I manually repro'ed these, or just copied the failures from the logs.

For libraries tests, I always repro with the RunTests.cmd wrapper script (to start). Remember to use the release libraries testhost with a checked coreclr -- that's what the CI does.

You might also try setting GCStress.

[2020-07-16 05:14] jaredpar commented on #33082
Yes that looks like a dupe to me.

[2020-07-16 05:19] agocke opened #39414 "Single-file apps are not debuggable by VS/VS Code"
I believe the root of the problem is that the debugger is getting the wrong value for `fInMemory` https://github.com/dotnet/runtime/blob/1bdcd669e70d687bb0c56fe20aafa7c104b6aa0e/src/coreclr/src/debug/daccess/dacdbiimpl.cpp#L4477

Single-file apps seem to be loaded like they are file loads, not like in-memory loads. This means that the offsets in the module are file offsets, not RVAs.

Unfortunatel

[2020-07-16 05:21] BruceForstall commented on #39338
I cross-built Linux/arm32 in Docker on Linux/x64 from source, both debug and checked, using a script like:
[code]

Copy to Linux/arm64 machine. Run under Docker using:
[code]

Copy the Checked libclrjit.so from /home/brucefo/build/runtime/artifacts/bin/coreclr/Linux.arm.Checked to /home/brucefo/build/runtime/artifacts/bin/testhost/net5.0-Linux-Release-arm/shared/Microsoft.NETCore.App/5.0.0

Then c

[2020-07-16 05:35] danmosemsft commented on #39390
Boyer Moore table is messed up

[2020-07-16 05:58] lohitakshgupta opened #39415 "Facing System.ArgumentException: Illegal characters in path at System.Security.Permissions.FileIOPermission.EmulateFileIOPermissionChecks(String fullPath)"
### Description

I am facing `System.ArgumentException: llegal characters in path` at `System.Security.Permissions.FileIOPermission.EmulateFileIOPermissionChecks(String fullPath)` error while converting a `net452` project to `nestandard2.0`. This conversion is intended for Windows platform for now.

In order to debug, I tried print out the `fullPath`. The path seems to be fine with no illegal char

[2020-07-16 06:04] terrajobst commented on #39375
Do we want/need to enable designer support for non-visual components? AFAIK these attributes will cause a dependency on System.ComponentModel which might be overkill. I'm not sure we care about File System Watcher in particular, but I'm more curious where we draw the line and why.

[2020-07-16 06:09] #2014 closed

[2020-07-16 06:11] danmosemsft commented on #39390
I think I have a fix.

[2020-07-16 06:27] YairHalberstadt opened #39419 "Not inlining trivial default interface method on known struct"
Consider the following code:

[code]
I was hoping to use this pattern to avoid boxing m, since I would have expected `UseDefaultM` to be inlined, therefore avoiding boxing `m` when it's a struct, since either the static `DefaultM` method will be called, or the instance of `IM` overrides the DIM for `M` in which case it doesn't require boxing. However when I look at the jit asm on [sharplab](https:

[2020-07-16 07:05] sandreenko commented on #39403
Thanks RossNordby  for testing daily builds and the detailed repro.

The problem was exposed by https://github.com/dotnet/runtime/pull/38316, but it is a different https://github.com/dotnet/runtime/pull/39066, working on a fix.

[2020-07-16 07:22] MichalStrehovsky commented on #39419
The type of `this` within the default interface implementation is `IM<int>`, not `M` (it's a reference type, not byref to a valuetype). The code generator would have to retype the `this` and then deal with situations where the retyping could be invalid (e.g. `bool UseDefaultM(T instance) => new object[] { this }.Length > 0;` - placing the `this` into an `object[]` is not possible without it being

[2020-07-16 07:25] YairHalberstadt commented on #39419
@MichalStrehovsky

It manages to inline it when `IM` is not generic:

[code]

[2020-07-16 07:31] MichalStrehovsky commented on #39419
#9588 is probably the main reason then.

[2020-07-16 07:35] YairHalberstadt commented on #39419
A decent workaround is:

[code]

[2020-07-16 07:56] MichalStrehovsky opened #39423 "Crossgen2 doesn't respect NeedsCopyConstructorModifier/IsCopyConstructed"
IL marshallers generated by crossgen2 might assume things that have a copy constructors are simply blittable because crossgen2 is not aware of these modifiers. This could result in wrong p/invoke stubs getting generated (copy constructor not getting invoked).

[2020-07-16 08:08] isxaker commented on #38782
Thanks for the idea.
I'l try it and return back with feedback.

Just to double check it - you did get the same error and when you added binding redirects to .csproj file the error gone away, right ?

[2020-07-16 08:12] stevetemple commented on #33121
The caution in this [MSDN article](https://docs.microsoft.com/en-us/dotnet/api/system.drawing?redirectedfrom=MSDN&view=dotnet-plat-ext-3.1) says that

[code]

Should this be in the Future milestone? A lot of effort went in to finding a solution but nobody explained that this isn't a supported use case.

[2020-07-16 08:26] MichalStrehovsky commented on #38981
You can pass `--codegenopt NGenDump=...` argument to crossgen2 to pass the NGenDump flags (any COMPlus_ NGEN flags will work this way - note you have to remove the `COMPlus_` prefix).

[2020-07-16 08:38] ligf commented on #898
I also encountered a similar problem
The class library refers to odbc, and the console refers to the dll file, and it will prompt "System.Data.ODBC is not supported on this platform."

[2020-07-16 09:26] isxaker commented on #38782
Could you please also share you test project ?
I've tried the same - add to my class library .csproj file the following lines:
[code]

Then I imported that dll to ps.exe as usual but the error is still here.
Basically it didn't help me.

I've found only this way for redirecting .dlls in PS
[https://stackoverflow.com/a/33302645/364429](https://stackoverflow.com/a/33302645/364429)

[2020-07-16 09:41] punker76 commented on #39357
@EgorBo If I use `struct` for both then I get empty RECT. (.NET 5 5.0.100-preview.6.20318.15)

![image](https://user-images.githubusercontent.com/658431/87655961-27aeb800-c759-11ea-98c5-d1002fc05651.png)

[2020-07-16 10:19] atykhyy opened #39425 "Add constructors (ReadOnly)Span<T> (ref T)"
## Background and Motivation

Currently, it is impossible to construct a `(ReadOnly)Span<T>` from a `ref T` without unsafe code. In some circumstances, enabling compilation of unsafe code on an assembly may trigger additional security reviews or be otherwise undesirable. The existing constructors from `void*, int` and `ref T, int` are of course dangerous because the count argument is not checked,

[2020-07-16 10:30] EgorBo commented on #39100
Once fixed, `MonoPInvokeCallbackAttribute` should be removed from `System.Private.CoreLib`

[2020-07-16 10:33] eiriktsarpalis commented on #35036
Addressed by #38707.

[2020-07-16 10:33] #35036 closed

[2020-07-16 10:59] akoeplinger opened #39428 "Detect multiple memory mapped to the same file on Browser and throw exception"
In https://github.com/dotnet/runtime/pull/39355 a few tests were disabled since multiple `mmap()` to the same file don't result in data being shared in emscripten's VFS implemenation.

We should investigate whether we can detect that and throw a proper `NotSupportedException`.

[2020-07-16 11:04] SingleAccretion commented on #18844
@steveharter Given https://github.com/dotnet/coreclr/pull/17877 has been merged for quite some time now and the titular bug does not repro on .NET Core 3.1, maybe it is time to close this issue?

[2020-07-16 11:10] SingleAccretion commented on #31895
@steveharter Given #12924 has been closed as by (unfortunate) design, should it be removed form the roadmap?

[2020-07-16 11:44] alfkonee opened #39429 "Support Top Level Json Array Files in Json Configuration"
## Background and Motivation
This API will enable using Arrays as Root for Json Files and Still be able to Import then into the Configuration System

## Proposed API
I envision something like
[code]
The `rootElement` will need not to be empty when the file is detected. This is what the parser will use as the top level Node for the Array

## Usage Examples
### Objects Array
For a Json File `data.js

[2020-07-16 11:51] MarioZ opened #39430 "IOException when viewing XpsDocument with DocumentViewer"
I'm getting an `IOException` and "_Entries cannot be opened multiple times in Update mode._" message when providing `XpsDocument` to `DocumentViewer` control.

The issue occurs only in .NET Core, it doesn't occur in the .NET Framework.

I'm generating the `XpsDocument` in-memory and displaying it with `DocumentViewer`, but this issue can also be reproduced by creating the `XpsDocument ` from the X

[2020-07-16 11:55] MarioZ commented on #39430
I don't have write-permissions, but I think the "area-System.IO.Compression" should be used, just like in #24962 and #27397.

[2020-07-16 12:21] SingleAccretion commented on #39425
What would this API do in case of an "invalid" `ref`? How would it detect it?
[code]

[2020-07-16 12:24] #39404 closed

[2020-07-16 12:33] Quinquangle opened #39471 "Double.ToString() truncates large numbers"
I have tested this on a number of systems and it seems like it is the same in all version of .Net on all platforms that I have tested

If you take a large number such as 572572217245701600d and execute the ToString() method it will truncate the number to "572572217245702000" if using a string format pattern or with none it will give you the sci notation version of the same number.

I have tried ma

[2020-07-16 12:35] stephentoub commented on #39425
This already exists as MemoryMarshal.CreateSpan.

[2020-07-16 12:42] juliusfriedman opened #39432 "Reading bits from arbitrary data types (especially byte[array])"
## Background and Motivation

Is very common, we have `BitVector` `BitSet` both of which are little endian only afaik.

## Proposed API

[code]

## Usage Examples

Writing a LE 16 bit value on BE

[code]
Writing a BE 16 bit value on LE

[code]

## Alternative Designs

Not sure, Prior art [here](https://github.com/juliusfriedman/net7mma_core/blob/master/Common/Classes/Binary/Binary.cs)
## Risks

LO

[2020-07-16 12:48] yecril71pl opened #39433 "InterpreterFrame.SaveTraceToException publishes a private type"
### Description

The type `InterpretedFrameInfo` is private and should not be published as a key to exception data map.

[code]
### Configuration

Name                           Value
----                           -----
PSVersion                      7.0.2
PSEdition                      Core
GitCommitId                    7.0.2
OS                             Microsoft Windows 10.0.18363
Platform

[2020-07-16 12:57] janvorli commented on #32958
It looks like the problem in #32852 was not caused by us not linking libdl directly.

[2020-07-16 12:57] #32958 closed

[2020-07-16 13:01] mburbea commented on #39432
Are you missing some parameters in your example?
What's wrong with the existing `BinaryPrimitives`?

[code]

[2020-07-16 13:23] eiriktsarpalis commented on #39351
I'm reproducing the same error. I wasn't when I was writing the test, so presumably there might have been a regression?

[2020-07-16 13:37] atykhyy commented on #39425
So it does, albeit not in netstandard2.0 (but that ship has long sailed). `MemoryMarshal.CreateSpan` however is unsafe, because the `count` parameter is not checked, and is accordingly stuck in `System.Runtime.InteropServices` together with other methods that can wreck the process despite not being `unsafe`. The proposed constructors would be safe.

[2020-07-16 13:42] ivanpovazan opened #39436 "Change ilasm command line arguments for PDB generation to match csc convention"
Based on discussion from #5051 thread (which can be seen bellow) I am opening a new issue which can be referenced when the fix is available.

---

@ivanpovazan I would agree that taking inspiration from the `csc` options is appropriate here.

[code]

Since the `debug` flag appears to have a predefined set of options for `ilasm` and I personally wouldn't want to deal with the matrix of multiple arg

[2020-07-16 13:47] ivanpovazan commented on #39436
I will fix this asap.

[2020-07-16 14:05] jkotas commented on #39425
It would not be safe. The rules that C# compiler enforces for ref structs would not kick in for this correctly. For example:
`Span<byte> f() { byte b; return new Span<byte>(ref b); }` would compile fine, but it is clearly unsafe.

This can be fixed by adding more rules or special cases to the rules that C# compiler enforces for ref structs, but that is a lot more work than just adding an trivial A

[2020-07-16 14:17] atykhyy commented on #39425
Hm. If that's the case, then I agree, but the compiler already realizes that this variant of your example leaks a local reference:
[code]

[2020-07-16 14:30] juliusfriedman commented on #39432
Nothing but I just want the higher level class that can do both as the same time, I think my proposed API is more user friendly.

[2020-07-16 14:53] eiriktsarpalis commented on #39351
So it seems like the test is passing when testing from the Windows terminal (whether using WSL2 or ssh'ing to a remote linux box), but is failing when using a local terminal (tested using gnome-terminal).

[2020-07-16 15:00] CincySteve opened #39450 "Blazor Wasm Exception Messages Need Line Number References"
I am developing a Blazor Wasm app in Visual Studio Community 2019.  I get exception messages on certain exceptions that don't communicate the line in my code where the exception occurred.   I think this represents a bug versus a feature request, but that's a judgement call.

I realized this occurs when a component (BBTUndefined in the message below) has html that contains an @ reference to a field

[2020-07-16 15:05] Ablim opened #39467 "Error in culture fr-BE on macOS Catalina"
# Error in culture fr-BE on macOS Catalina

Hi. I have an issue that the CurrencyGroupSeparator and NumberGroupSeparator for the culture fr-BE returns " " instead of expected "." on my mac. The same binary returns "." in Windows. I am aware that both " " and "." are used in Belgium, but why does it differ between Core runtimes?

Thanks for any help!

The code in particular:
`CultureInfo.CreateSpec

[2020-07-16 15:34] richlander commented on #39281
I am looking at the same thing. PTAL https://gist.github.com/richlander/74e04d1d59169c28012797bb4e36d0af

Initial findings (assuming my script/methodology is good):

## Regressions

- Linux 5.0 P7
  - Runtime-dependent increased to 216k from 96k (3.1)
  - Self-contained increased to 82MB from 78MB (3.1)
  - Self-contained multi-file linked increased to 41MB from 35MB

## Wins

- Windows 5.0 P8
  -

[2020-07-16 15:35] aik-jahoda opened #39440 "System.Runtime.Intrinsics.Arm.AdvSimd build failure in preview 8"
there is System.Runtime.Intrinsics.Arm.AdvSimd failure in release/5.0-preview8
The problem is visible here:
https://github.com/dotnet/runtime/pull/39434/checks?check_run_id=877743259

error:
[code]

It can be caused by #39416

cc @Anipik @jeffhandley

[2020-07-16 15:37] janvorli commented on #38522
I was able to reproduce the issue locally. The finalizer thread is really running in an infinite loop, executing the finalizer of the System.Gen2GcCallback, re-adding itself for finalization, creating new object in System.GC.GetGCMemoryInfo, that triggers GC and it all gets repeated.

[2020-07-16 15:38] CincySteve opened #39449 "Show Blazor Wasm Singleton Services Class Data in VS Community 2019 Debugger"
I have setup some Services Singleton data classes to share data across Blazor Wasm components.  I can't see any of the data in the debugger, either via mouse-over in the code or by entering statements in the VS Immediate Window when stopped at a break point.  If I assign the Services data to local variables in my code, I am able to see it in those variables using the debugger, so I know it is in t

[2020-07-16 15:43] eerhardt commented on #39281
Note I am also seeing `.a` files in my publish directory which are also bloating the size. This is tracked by #3447.

[2020-07-16 15:45] mburbea commented on #39432
Your api lists a method for write with 5 parameters, yet you're calling it with 4.

[2020-07-16 15:47] simon-curtis opened #39443 "Add an Enumerable.Match method"
## Background and Motivation

Simple proposal to return both matched and unmatched results from a where query in a one-liner.

[code]

For readability I would normally do the following; but requires and extra pass
[code]

You can achieve this in one pass using a for loop, but goes against the point of Linq and is longer
[code]

## Proposed API

The proposed method buffers the results. The returned

[2020-07-16 15:49] richlander commented on #39281
I am seeing the same thing:

[code]

[2020-07-16 15:50] #39357 closed

[2020-07-16 15:53] HASSEN-MEDDEB-ATOS opened #39442 "Badrequest .NET Core RedHat"
Hi,

i get `bad request when i call API :/

[code]

[2020-07-16 15:57] 333fred commented on #39443
This is an API request, moving to the correct repo.

[2020-07-16 15:59] am11 commented on #39430
Related issue: https://github.com/dotnet/wpf/issues/3206.

[2020-07-16 16:00] simon-curtis commented on #39443
@333fred oh sorry, at some point it must have sent me to the runtime repo... I will close and re-open in the correct repo

[2020-07-16 16:05] aik-jahoda opened #39444 "System.Text.Encodings.Web.dll ref api compat issue in preview 8"
There is System.Text.Encodings.Web.dll failure in release/5.0-preview8
The problem is visible here:
https://github.com/dotnet/runtime/pull/39434/checks?check_run_id=877743259

Error message:
[code]

cc: @Anipik @ericstj  @GrabYourPitchforks @layomia @tarekgh

[2020-07-16 16:05] wfurt opened #39445 "ServerAsyncAuthenticate_SniSetVersion_Success failing on Debian10"
[code]

It seems like Debian no longer allows TLS11 requested by the test.

[2020-07-16 16:06] #36037 closed

[2020-07-16 16:07] janvorli commented on #39281
I did some initial investigations doing local builds. Here are the findings:
* It is not caused by a different compiler version. Building .NET 5 with Clang 3.9 and 9 gets almost identical sizes of libcoreclr.so (difference < 10kB)
* Comparing file sizes from a build of the runtime repo in the early days (end of December) and the current state shows 430kB growth in libcoreclr.so size which is far b

[2020-07-16 16:08] HASSEN-MEDDEB-ATOS commented on #39442
`
i have called the same API with script bash, it work perfectly

[code]
@stephentoub  @davidsh @karelz  can you investigate please 💯  ?

[2020-07-16 16:12] 333fred commented on #39443
@simon-curtis sorry if that wasn't clear. I moved it already.

[2020-07-16 16:14] ericstj commented on #39444
Here's the error messages from https://dev.azure.com/dnceng/public/_build/results?buildId=733219&view=logs&j=423ae147-26a3-5a4d-a4d3-4b3fc1dd598e&t=98a4dd5a-baea-5dc4-484b-ccbd315f07c8&l=4551
[code]

I believe regression was caused by https://github.com/dotnet/runtime/pull/38707.  @eiriktsarpalis

[2020-07-16 16:18] aik-jahoda commented on #39444
For the `System.Runtime.Intrinsics.Arm.AdvSimd` I created an issue there: #39440.

[2020-07-16 16:19] canton7 commented on #39443
Just a note, there was a big discussion about this [on gitter](https://gitter.im/dotnet/csharplang?at=5e6a313202dbe022a180ee67) earlier this year. Turns out it's tricky.

One problem is that Linq wants to be lazy (where possible) and avoid iterating the source collection twice. It's hard to do a partition like this in a lazy way, because it depends on when you decide to enumerate `matched` and `un

[2020-07-16 16:20] karelz commented on #39442
@HASSEN-MEDDEB-ATOS which version do you run on? Why do you use `UseSocketsHttpHandler` context switch? That should be default.
By API you mean a GET request to specific URL?
Did you try to use vanilla `HttpClient` API? That way you will avoid bugs in your code.
The repro above is sadly not actionable for us -- I recommend to create a minimal repro, using hardcoded value and minimal amount of code

[2020-07-16 16:21] #17590 closed

[2020-07-16 16:23] FiniteReality commented on #39432
I don't think users get this wrong enough to warrant APIs like this. BinaryPrimitives works good enough for >8 bits, and just getting the byte out of the array works for <=8 bits.

[2020-07-16 16:23] #37250 closed

[2020-07-16 16:24] eiriktsarpalis commented on #39444
I think this might be caused by the shimmed AdvSimd APIs [used for netcoreapp3.0 builds](https://github.com/dotnet/runtime/commit/7fab504a54e97b20d08946c2ed621b48cca4fbc6#diff-41fd4c3dcafff7e9e07b5eed514a9e22). Something is causing the `USE_INTERNAL_ACCESSIBILITY` constant not being defined. I'll take a look.

[2020-07-16 16:24] aik-jahoda commented on #39444
I expect the fix can be as simple as in: https://github.com/dotnet/runtime/commit/6be3ce77c4fc6cf451c9ef87f760365c943cceae

The IsPrerelease has changed in this branch: https://github.com/dotnet/runtime/commit/bf35bfd11f74fb1efe1c3a1e749636113270eccd

[2020-07-16 16:27] eiriktsarpalis commented on #39444
Tagging @pgovind

[2020-07-16 16:27] bartonjs commented on #39197
Closing as duplicate of #23763.

[2020-07-16 16:27] #39197 closed

[2020-07-16 16:29] kunalspathak commented on #38522
Thanks @janvorli . I will assign the issue to you then. I hope that is ok.

[2020-07-16 16:32] FiniteReality commented on #39429
I also have a use for something like this - loading a MIME type database as a configuration parameter. (The contents are static, and not expected to change during application runtime, but are configurable as users may want to "teach" the database about new MIME types.) The current structure means the JSON file is an array of entries, which I map using a custom configuration provider to a subkey so

[2020-07-16 16:37] vitek-karas commented on #39167
I'll try to answer as I investigate:

This is on by default when using the new initialization APIs (which `hostfxr`/`hostpolicy` does): https://github.com/dotnet/runtime/blob/master/src/coreclr/src/dlls/mscoree/unixinterface.cpp#L243

I don't know the answer to this - @janvorli would you know if there's a way to get this behavior without setting the flag on AppDomain via native code?

The config p

[2020-07-16 16:40] simon-curtis commented on #39443
Oh I see, thanks! Sorry, still reasonably new to GitHub

[2020-07-16 16:46] kunalspathak commented on #32389
@benaadams - We don't have the infrastructure yet to undo the already emitted instruction. @BruceForstall and I discussed some ideas on possibility to do that. But currently, only thing we can do is to avoid emitting current instruction by looking at previous instruction. E.g. #38586 and https://github.com/dotnet/runtime/pull/38179

[2020-07-16 16:48] mkArtakMSFT commented on #39449
@lewing FYI

[2020-07-16 16:49] echesakovMSFT commented on #39338
Thanks, Bruce. I was building and running using similar commands, but let me try yours.

[2020-07-16 16:51] mkArtakMSFT commented on #39450
@marek-safar FYI

[2020-07-16 17:13] joperezr commented on #38782
Yes I do get the error as binding redirects are required in order to load that version of System.Text.Json package.

Sure, I'm using SDK-style projects for the repro, here are the contents:

[code]

The really important bit is that after you build this, you should see a `<yourProjectName>.dll.config` file dropped right next to your dll on the bin output folder with the binding redirects, for my ex

[2020-07-16 17:15] terrajobst commented on #2214
* Looks good as proposed
* The `[EnumeratorCancellation]` attribute might be needed in the implementation if we use `yield return`, but it doesn't have to be part of the ref.

[code]

[2020-07-16 17:16] layomia commented on #38327
We want to hold off on doing this until the ramifications to the ongoing [JSON code generation](https://github.com/dotnet/runtime/issues/1568) efforts are well understood - https://github.com/dotnet/runtimelab/tree/JsonCodeGen.

[2020-07-16 17:18] ericstj commented on #39440
This is a duplicate of https://github.com/dotnet/runtime/issues/39444

[2020-07-16 17:18] #39440 closed

[2020-07-16 17:18] jnm2 commented on #39443
Basing it on IEnumerable is dubious as mentioned, but declaring this for concrete collection types like ImmutableArray and ImmutableList is very handy. I call my extension methods `Partition` like Rust's.

[2020-07-16 17:20] Clockwork-Muse commented on #39443
[`GroupBy`](https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.groupby?view=netcore-3.1#System_Linq_Enumerable_GroupBy__2_System_Collections_Generic_IEnumerable___0__System_Func___0___1__) can at least get you _close_, as a workaround.  Note this won't be two separate iterators.  Or (ab)using `Join` for a full-lazy iterator (although results won't be grouped by partition).

[2020-07-16 17:32] #38061 closed

[2020-07-16 17:34] billwert commented on #38138
Just merged the logging fix.

[2020-07-16 17:37] ericstj commented on #39444
@eiriktsarpalis can this be closed now?

[2020-07-16 17:43] janvorli commented on #38522
It seems it was already fixed by #38909, I'll verify it.

[2020-07-16 17:48] #39078 closed

[2020-07-16 17:51] BruceForstall commented on #2231
The latest **runtime-coreclr gcstress0x3-gcstress0xc** has these GCStress0x3 timeouts:

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=726396&view=ms.vss-test-web.build-test-results-tab&runId=22494226&paneView=debug

[2020-07-16 17:54] terrajobst commented on #13788
* Looks good
* We should add ctors for the smaller sizes.

[code]

[2020-07-16 17:54] mangod9 commented on #38981
Almost all improvements for .net have been done in cg2, and will continue going forward. So trying that would be ideal. You can also use R2RDump to look at code generated by cg2.

[2020-07-16 18:01] wfurt commented on #39442
I would suggest to use something like `sproxy` as man-in-the-middle and do packet capture.
The reflection use and TryAddWithoutValidation looks suspicious.
Without repro, this really is not actionable @HASSEN-MEDDEB-ATOS.
Note that curl add some extra headers and it matters to some servers.

[2020-07-16 18:02] echesakovMSFT opened #39456 "@Commit appears multiple times in strings libcoreclr.so output"
Noticed this while working on a bug, `@Commit` string appears multiple times during `strings libcoreclr.so | grep "@Commit"` command that suggest version.c was included multiple times. While this behavior was reproduced on linux-arm, it is probably not specific to the architecture.

[code]

cc @janvorli @VSadov

[2020-07-16 18:02] tannergooding commented on #13788
@AaronRobinsonMSFT, @jkotas; I've moved this to 6.0.0 as it likely requires some runtime work that its too late to do for 5.0.0 (given we've changed branding to RC1 now).

Let me know if you disagree and I can move it back to 5.0.0

[2020-07-16 18:08] terrajobst commented on #413
* Makes sense, but we should make them proper instance methods, especially because the implementation private state of `X509Certificate2`

[code]

[2020-07-16 18:11] terrajobst commented on #587
* Makes sense. The implementation will throw `NotSupportedException`.

[code]

[2020-07-16 18:12] davidwrighton commented on #33737
@tannergooding I've taken a look at what we claim here currently, and I believe it is good for .NET 5.  Do you agree? If so, please close this issue.

[2020-07-16 18:14] AndyAyersMS commented on #38848
Got a repro using the above (after ~ 20 runs, each takes about 5 mins). Now, how to debug...

[2020-07-16 18:16] terrajobst commented on #783
* Looks good as proposed.
* @jkotas pointed out that you may no longer need it. If you don't, please close this issue. If you do, consider it approved.

[code]

[2020-07-16 18:16] CarolEidt opened #39457 "[LSRA] Add support for allocating consecutive registers"
This is currently supported in a limited form for Arm32 double registers, which must be an even/odd pair. However, this support is not well structured, and penalizes the common path that requires only a single register.
In order to support the Arm64 ~`LoadPairVector` intrinsics (#39243)~  intrinsics that would correspond to LD1-LD4, ST1-ST4 instruction, we need the ability to allocate consecutive

[2020-07-16 18:17] danmosemsft commented on #38138
Thanks. Once we have the logs, if the job is unstable we should disable it until we have a fix.

[2020-07-16 18:19] vcsjones commented on #413
I guess since I spiked this out, I should clean it up and open a PR.

[2020-07-16 18:22] tgani commented on #783
We went with a different design based on @jkotas feedback. I'll close this issue.

[2020-07-16 18:24] #783 closed

[2020-07-16 18:26] terrajobst commented on #2236
* Looks good as proposed.

[code]

[2020-07-16 18:31] terrajobst commented on #2340
* Looks good as proposed.
* We should consider doing an analyzer that flags that.
* @terrajobst to file a request.

[code]

[2020-07-16 18:33] maryamariyan commented on #38491
@HaoK thanks for the feedback thread.

[2020-07-16 18:33] danmosemsft commented on #2236
@carlossanlop note that @stephentoub is on leave for a while (just in case you were assuming he'd complete his change above). Perhaps a community member is interested in taking it to PR.

[2020-07-16 18:35] #33737 closed

[2020-07-16 18:36] terrajobst commented on #35692
The analyzer makes sense.

[2020-07-16 18:39] echesakovMSFT commented on #39338
No success of reproing the test failure, but after rebasing on top of e708795013a1bcca337daeee09732d4d5fad6281 hit this with
COMPlus_TieredCompilation=0 COMPlus_JitStress=2
[code]

@dotnet/jit-contrib Has anyone seen this already?

[2020-07-16 18:39] #1902 closed

[2020-07-16 18:40] terrajobst commented on #35693
Shipping this as a warning and off by default makes sense. Setting the severity as suggestion would likely mean that nobody will ever see this.

[2020-07-16 18:40] Anipik commented on #34953
The inellisense for the sources is working , ref intellisense throws some cls compliant errors. Moving it to 6.0.0

[2020-07-16 18:46] safern commented on #39401
I looked into this and basically the problem is that `System.IO.FileSystem.AccessControl` builds against `netstandard2.0` and you're getting:

[code]

If I go and add `NetCoreAppCurrent` to `System.IO.FileSystem.AccessControl` and fix the build issues, then I can build `System.DirectoryServices` ref assembly for net5.0.

@ericstj is that desired?

[2020-07-16 18:48] terrajobst commented on #35695
Looks good as proposed.

[2020-07-16 18:48] joperezr commented on #38666
Closing as this one is done now.

[2020-07-16 18:48] #38666 closed

[2020-07-16 18:51] terrajobst commented on #38076
Looks good as proposed.

[code]

[2020-07-16 18:53] #39288 closed

[2020-07-16 18:57] maryamariyan commented on #39140
Here's the EndsWith logic on StringSegment:

https://github.com/dotnet/runtime/blob/bd6cbe3642f51d70839912a6a666e5de747ad581/src/libraries/Microsoft.Extensions.Primitives/src/StringSegment.cs#L333-L352

The problem is on the comparisonLength.

@adams85 would you like to push up a PR to fix this?

[2020-07-16 19:04] terrajobst commented on #38238
* We like the analzyer and we're OK with that not being handled by all languages
    - @terrajobst to fill in more details after the meeting
* The analyzer should only consider missing overrides in the direct base type. Warning on more derived base types isn't useful because the base type is most likely the one that would need to provide behavior.
* We should do a scan for all types that have virt

[2020-07-16 19:10] erozenfeld commented on #39156
@EgorBo Perhaps a better fix would be to teach `gtExtractSideEffList` to keep the parent `COMMA` for `ARR_BOUNDS_CHECK`.

[2020-07-16 19:15] ericstj commented on #39168
All unused references will not appear in package-references for all extensions packages that moved to 5.0 as we calculate package dependencies based on assembly references in the final DLL, not those that were in the project file.  Still this is good cleanup.

[2020-07-16 19:16] #39444 closed

[2020-07-16 19:25] VSadov opened #39462 "pal/src/map/map.cpp could use some clean up"
As was noticed in https://github.com/dotnet/runtime/pull/39454 code review, naming of page-rounding helpers in not intuitive.
For example `GetSizeFromPageStart` could be better than `RoundToPage`

Another observation is that relying on sections being sequentially laid out and thus not overlapping even when padded is a bit subtle. It would be nice if the code can be refactored to make that apparent

[2020-07-16 19:31] adams85 commented on #39140
@maryamariyan No, I'd pass on this. I guess it's not too much work to fix the method itself but then - if one wants to be thorough - the full codebase needs to be scrutinized to make sure the fix doesn't break anything. Unfortunately, I won't have the time for this in the near future.

[2020-07-16 19:31] eiriktsarpalis commented on #39443
The [F# equivalent](https://msdn.microsoft.com/visualfsharpdocs/conceptual/list.partition%5b%27t%5d-function-%5bfsharp%5d) is also called `partition`.  In C# it might look as follows:
[code]

[2020-07-16 19:38] echesakovMSFT commented on #39338
[code]

[code]

[code]

I see that `SuppressGCTransition` attribute was added to `SetTerminalInvalidationHandler` in 84c1f62cc29ced0ea7e6b0f6a7d87aaf3b88679a which explains why I didn't see the issue earlier yesterday.

[2020-07-16 19:40] varunmankal commented on #39328
Hey @ViktorHofer, @stephentoub and @jkotas, can you help with this issue.
Thanks.

[2020-07-16 19:42] safern commented on #37356
Thanks, @xolott. It seems like `Microsoft.Extensions.Hosting.Abstractions` is part of the ASP.NET shared framework and that it got serviced on `3.1.4` and the implementation assembly version got bumped and somehow is causing a mismatch on the version with what your app was built against when you move to the newer docker image.

I believe the short workaround would be to rebuild your solution again

[2020-07-16 19:47] jkotas opened #39466 "Sort<T, TComparer> extensions performance"
Sort overloads that take `TComparer` as a generic argument were approved in https://github.com/dotnet/runtime/issues/19969 . However, the implementation did not take advantage of the generic `TComparer` and the `TComparer` overload is actually the less  efficient option.

This issue tracks fixing the implementation of `Sort<T, TComparer>` to take full advantage of the generic `TComparer`.

Full co

[2020-07-16 19:52] jkotas commented on #39466
cc @nietras

[2020-07-16 19:57] kamronbatman commented on #2236
Question, will this still generate headers/footers? If so, will there be an option to not?

[2020-07-16 19:58] johnterickson commented on #39149
This was fairly transient (a few minutes).  If reliability is your top priority, you can make yourself more resilient with a retry or two:
`dotnet restore || (sleep 60 && dotnet restore) || (sleep 300 && dotnet restore)`

[2020-07-16 20:02] echesakovMSFT commented on #39338
@erozenfeld Can this be related to GCPolls work you did recently?

[2020-07-16 20:04] erozenfeld commented on #39338
Yeah, I'll investigate.

[2020-07-16 20:06] jkotas commented on #39328
Strong name signing is deprecated in .NET Core. The runtime does not check strong name signatures. I believe that the build scripts support it only on Windows and only for assemblies that need to run on .NET Framework.

What are you trying to do?

[2020-07-16 20:08] safern commented on #39467
Hello @Ablim the reason why it differs in between runtimes it is because in .NET Core 3.1 for Windows we used NLS as the underlying locale data source and ICU for Unix.

Starting on .NET 5 we're using ICU on Windows as well when running on Windows Creators Update 2019 or later. I expect this to return the same result in .NET 5 for both runtimes. Let me try it out.

[2020-07-16 20:09] danmosemsft commented on #31468
@DrewScoggins is this still valid - did it revert to before? (I do'nt know how to see the data 😞)

As a general rule if we already shipped this regression, by default I would not consider it must-fix for 5.0 and I'd put the Future milestone (unless there's demonstrated customer impact, etc)

[2020-07-16 20:10] danmosemsft commented on #1250
Not required to ship 5.0

[2020-07-16 20:10] danmosemsft commented on #31452
@DrewScoggins any updated data on this one?

The runtime and libraries barely changed from 3.0 to 3.1 so that is curious.

[2020-07-16 20:11] tarekgh commented on #39467
@Ablim I am closing the issue but feel free to respond with any question and we'll be happy to help with.

[2020-07-16 20:11] #39467 closed

[2020-07-16 20:16] HASSEN-MEDDEB-ATOS commented on #39442
Hello @karelz  @wfurt

First, i want to thank you for your answer, I will answer all your questions :
 which version do you run on? I use .NET Core 3.1
why do use UseSocketsHttpHandler ?  just for test
Did you try to use vanilla HttpClient API?  no i don't know vanilla :(
the client doesen't want to install software like wireshark in production environment:/
the last sentence of @wfurt, when he ta

[2020-07-16 20:19] rogatec commented on #28736
I had this same issue today and the google search brought me here.

#### Situation
On my workstation I have an ActiveMQ ArtemisBroker running (just http://localhost:5672) and was developing a `.net core 3.1` cli app with MassTransit.ActiveMQ library.
After work and back at home I continued work and suddenly the .net core app could not connect to the Broker anymore.
I got this same weird `System.Ne

[2020-07-16 20:21] ericstj commented on #39401
Technically you could fix this by adding a reference to netstandard.dll (facade) to DirectoryServices.  That would let it unify the types.  We don't currently build netstandard.dll  early enough though, so @safern's suggestion is probably best if we want to do this.  Another option would be to push down the types if we thought that would be cleaner.

Question: why would we ship a nuget package in

[2020-07-16 20:24] maryamariyan commented on #36880
closing as dupe of https://github.com/dotnet/runtime/issues/37356

[2020-07-16 20:24] #36880 closed

[2020-07-16 20:28] ViktorHofer commented on #39401
When https://github.com/dotnet/runtime/pull/35606 goes in, the netstandard shim is built early enough and can be referenced. Another option would be to P2P the shim.

[2020-07-16 20:37] jhudsoncedaron commented on #39469
It's a doc issue and probably doesn't matter much anymore. At the time, the list of breaking changes was a github query.

[2020-07-16 20:46] HongGit commented on #1405
Glad this is working for you now.  As a reference, see PR [#42912](https://github.com/dotnet/corefx/pull/42912).

[2020-07-16 20:46] #1405 closed

[2020-07-16 20:48] echesakovMSFT commented on #39338
I will open a separate issue to track `Assertion failed '!"Unexpected block kind"'` since looking at https://dev.azure.com/dnceng/public/_build/results?buildId=733583&view=logs&j=2845845c-bfb0-5f35-d712-13f6aa4acce2&t=1eea787e-19ba-5879-da86-a8ad1dabcc65 the assertion failure are not specific to the test library.

[2020-07-16 20:48] ericstj commented on #37356
.NET core should not error when version of def is higher than ref.  This error indicates that the def was lower than the ref.   This would happen when running on a 3.1.0 shared framework, or if the host decided to load the wrong assembly due to bad information in the app or shared framework's deps file.  @vitek-karas could provide some debugging steps to enable logging from the host to see what fi

[2020-07-16 20:49] #39471 closed

[2020-07-16 20:50] echesakovMSFT opened #39472 "Assertion failed '!"Unexpected block kind"' in 'ILStubClass:IL_STUB_PInvoke(TerminalInvalidationCallback)' during 'Insert GC Polls'"
Below are the stack traces from #39338

COMPlus_TieredCompilation=0 COMPlus_JitStress=2
[code]

[code]

[code]

[code]

I see that `SuppressGCTransition` attribute was added to `SetTerminalInvalidationHandler` in 84c1f62cc29ced0ea7e6b0f6a7d87aaf3b88679a which explains why I didn't see the issue earlier yesterday.

[jitDump.txt](https://github.com/dotnet/runtime/files/4934106/jitDump.txt)

[2020-07-16 20:53] echesakovMSFT commented on #39472
Corresponding CI failures https://dev.azure.com/dnceng/public/_build/results?buildId=733583&view=logs&j=2845845c-bfb0-5f35-d712-13f6aa4acce2&t=1eea787e-19ba-5879-da86-a8ad1dabcc65

[2020-07-16 20:55] jhudsoncedaron commented on #35128
I'm not going to back this at all, but in fact this is to my eyes a very clear item. API surface is something like `bool ForceCaseInsensitive {get;set;} = false;` Trying to provide case insensitive APIs in general is very hard for lots of obvious reasons, but it's easy enough to do on a pure reader. Or maybe `ForceLowerCase` is better; hard to tell.

[2020-07-16 20:56] danmosemsft opened #39473 "Tests failed on WASM with NRE in CustomAttributeTypedArgument.CanonicalizeValue"
net5.0-Browser-Release-wasm-Mono_Release-Ubuntu.1804.Amd64.Open

https://dev.azure.com/dnceng/public/_build/results?buildId=733324&view=ms.vss-test-web.build-test-results-tab&runId=22691562&resultId=139620&paneView=debug

https://github.com/dotnet/runtime/pull/39420
[code]

[2020-07-16 20:57] danmosemsft commented on #39473
Same for unrelated Asn1 test:
[code]

[2020-07-16 20:58] #39390 closed

[2020-07-16 21:00] vitek-karas commented on #37356
You can turn on host tracing to determine what versions it looked at and which it chose:
[code]

This should produce `host_trace.txt` in the current directory which will have very detailed information about the assembly resolution process. If you decide to share this file, please be aware that it can contain names of local files, environment variable values and so on from the machine you're runnin

[2020-07-16 21:00] echesakovMSFT commented on #39338
@BruceForstall  I don't see the test failure with `COMPlus_TieredCompilation=0 COMPlus_JitStress=2` when running on top of df8d056ef651f18eb6bc9ba5d387076489c164c1 and don't see them in the CI as well - https://dev.azure.com/dnceng/public/_build/results?buildId=732793&view=logs&j=2845845c-bfb0-5f35-d712-13f6aa4acce2&t=1eea787e-19ba-5879-da86-a8ad1dabcc65.

While I am here I am going to try to repr

[2020-07-16 21:04] echesakovMSFT commented on #39338
The failure with JitStressRegs happened at least one more time - https://helix.dot.net/api/2019-06-17/jobs/a7a8c41b-8ddc-48ac-8043-ff5c85e01a65/workitems/System.Runtime.Numerics.Tests/console but with JitStressRegs=8

[2020-07-16 21:05] Pilchie commented on #37356
Tagging the rest of @dotnet/aspnet-build here.  Does this look like one of our previous issues?

[2020-07-16 21:08] #39277 closed

[2020-07-16 21:10] wtgodbe commented on #37356
This is a known issue with the 3.1.300 SDK - it contains a version of the AspNetCore targeting pack that contains a bug causing these assembly load issues. Upgrading to 3.1.301 or 3.1.302 should resolve the issue.

If upgrading your SDK is impossible, you could also add the following workaround to your project file:

[code]

This will tell the SDK to use the patched (`3.1.3`) targeting pack, rathe

[2020-07-16 21:11] dougbu commented on #37356
Yes, this looks like our previous issues. I _think_ 3.1.4 may have been the last time we had to fix our (ASP.NET Core-specific) targeting pack but it could also have been 3.1.5. @wtgodbe do you have a quicker way to confirm the versions❔

In any case, targeting pack information isn't listed above directly but 3.1.302 is newer than 3.1.300 and should include our most recent targeting pack IIRC.

[2020-07-16 21:11] DrewScoggins commented on #31468
You can go ahead and do that. I have not been managing the milestones on these are anything like that.

[2020-07-16 21:11] danmosemsft commented on #31027
Fixed by https://github.com/dotnet/docs/issues/19545

[2020-07-16 21:11] Rick-Anderson commented on #36041
Customer complaints this is not working. Perhaps remove?
https://github.com/dotnet/AspNetCore.Docs/issues/19236

[2020-07-16 21:11] dougbu commented on #37356
Oops, didn't see @wtgodbe's response😺

[2020-07-16 21:12] #31027 closed

[2020-07-16 21:12] DrewScoggins commented on #31452
No update, and my guess is that we probably just close this issue.

[2020-07-16 21:13] safern commented on #39473
@akoeplinger and I were looking at this. This is a flaky issue that started happening yesterday morning. @akoeplinger is suspecting of: https://github.com/dotnet/runtime/commit/ef2ecfdf2634ebec75bda708c4535f36a37bc137#diff-a70a13cf973dcdf79e3a506980ae1a2d

I looked at the first build that hit this which ran against the following commits:
HEAD is now at 23d574901 Merge 5e493d6053b0896a85ccf7a0050cd

[2020-07-16 21:15] danmosemsft commented on #31452
@layomia?

[2020-07-16 21:16] JimBobSquarePants commented on #2236
Looks like I'll be carrying on my my implementation. This misses too many features.

[2020-07-16 21:17] danmosemsft commented on #31468
My bad - that was addressed to area owners 😄

@layomia since this is old, not large, only one sub-scenario, we don't have updated data, and it's x86 Windows only, I suggest closing.

[2020-07-16 21:17] safern opened #39475 "SocketsHttpHandlerTest_Http2.GoAwayFrame_NewRequest_NewConnection test failure on Windows"
https://helix.dot.net/api/2019-06-17/jobs/802052ef-d341-4c6b-94fe-54771d721591/workitems/System.Net.Http.Functional.Tests/console

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=733906&view=results

cc: @dotnet/ncl

[2020-07-16 21:20] safern commented on #38772
Hit this again. @CarolEidt any update on this issue?

https://helix.dot.net/api/2019-06-17/jobs/802052ef-d341-4c6b-94fe-54771d721591/workitems/System.Net.Http.Functional.Tests/console

[2020-07-16 21:26] mateoatr opened #39476 "Bundler tests should clear files extracted to tmp"
Some single-file tests require the extraction of bundled files out to disk, such files will go to the `tmp` dir, potentially causing the machine to run out of space if the developer runs the installer tests many times (and this can happen rather quickly; the total size of the files extracted by these tests is 582M). This doesn't cause much problem since the user can manually delete such files, alt

[2020-07-16 21:43] echesakovMSFT commented on #39457
@CarolEidt Small correction: we need consecutive vector registers allocation for Arm64 intrinsics that would correspond to LD1-LD4, ST1-ST4 instruction not for LoadPairVector/StorePair since the latter can operate on an arbitrary pair of SIMD registers.

[2020-07-16 21:48] agocke commented on #39476
Is this test-only or could this also affect customers? If you run a single-file app is it guaranteed to re-use the extraction directory that it used in its last run?

[2020-07-16 22:01] mateoatr commented on #39476
This is a test-only problem. Every time the installer tests are run, a new single-file app is published (with a new bundle ID).

[2020-07-16 22:06] AndyAyersMS commented on #39419
Right, devirtualization is failing in `resolveVirtualMethodHelper`.

I should plumb through failure reason reporting and pass the reason back to the jit, so it's more obvious on the jit side what is happening.  Currently we just see a generic failure:
[code]
Going to mark this as future and relabel as a VM issue.

[2020-07-16 22:19] wfurt commented on #28736
If this happens to anybody it would be great to set breakpoint on ConnectEx and check return code from the call. That would allow up to triage if this is something wrong at .NET layer or this is caused by some underlying OS condition.
At the same time, I would suggest to check TCP table and maybe system/security logs.

[2020-07-16 22:25] wfurt commented on #39442
Do you have link to any previous discussions @HASSEN-MEDDEB-ATOS?
I did not say it os wrong but it looks suspicious to me personally.
If packet capture is not an option, could you enable and collect .NET tracing? At this point, I think HTTP alone  (without verbose) would be sufficient.
Alternatively, could you run your code in your environment? You may not see the 500 but at least you should be ab

[2020-07-16 22:54] mdh1418 opened #39480 "System.Text.RegularExpressions test fails on Browser wasm"
`CharactersComparedOneByOne_Invariant` in `RegexCultureTests.cs` fails when running library tests on Browser with
[code]

[2020-07-16 22:55] AaronRobinsonMSFT commented on #39436
@ivanpovazan I think that is a reasonable argument. I am fine with the flag itself, but the flag argument should really match `csc` at the very least. That seems to change `-pdbfmt=CLASSIC` to `-pdbfmt=FULL`?

[2020-07-16 22:59] CarolEidt commented on #39457
@echesakovMSFT - thanks for clarifying!

[2020-07-16 23:07] CarolEidt commented on #38772
@safern - I don't see the assert in the log that you linked to. What test run is this?

I've been unable to repro this on arm64, as per the original issue.
Note that the "!foundDiff" assert can be due to many things. One instance of that assert was reported in https://github.com/dotnet/runtime/issues/39221, and is due to a liveness issue with the "FramesRoot", but it's not clear that it's the same

[2020-07-16 23:09] safern commented on #38772
Ah, damnit my clipboard betrayed me 😢 -- this is the actual one: https://helix.dot.net/api/2019-06-17/jobs/f11a6a15-7cec-47ea-9592-33af900327ae/workitems/System.Net.Requests.Tests/console

Looks very similar to this one... so I think it is the same issue (maybe?)

[2020-07-16 23:10] #39385 closed

[2020-07-16 23:25] VSadov opened #39484 "Assertion failed '!foundDiff' in 'OpenSsl:GetSslError(Microsoft.Win32.SafeHandles.SafeSslHandle,int,byref):int' during 'Linear scan register alloc'"
In   Libraries Test Run checked coreclr Linux_musl arm64 Release

Failed here:
https://helix.dot.net/api/2019-06-17/jobs/844320ef-6ca1-4f63-8a1d-ea6c61cde3c9/workitems/System.Net.Requests.Tests/console
https://helix.dot.net/api/2019-06-17/jobs/844320ef-6ca1-4f63-8a1d-ea6c61cde3c9/workitems/System.Net.Security.Tests/console

Also here:
https://helix.dot.net/api/2019-06-17/jobs/81d8492e-f2a0-461c-8f

[2020-07-16 23:26] HASSEN-MEDDEB-ATOS commented on #39442
@wfurt  yes : https://github.com/dotnet/runtime/issues/39014, but now  when i tested my request with my script bash, i get all record, i can't find any difference between my request in C# and Bash.

[2020-07-16 23:33] juliusfriedman commented on #39432
People need to read nibbles and bits. Sometimes 1 likely more, mostly not aligned.

[2020-07-16 23:37] wfurt commented on #39442
Can you share both traces publicly or privately @HASSEN-MEDDEB-ATOS ? There probably is _some_ difference unless the server have strong intuition and hates .NET :)

[2020-07-16 23:52] danmosemsft commented on #39432
@juliusfriedman some examples of evidence of need we see in API proposals are - existing .NET libraries that are widely used to solve this problem; popular examples in other major ecosystems; several customers or community members sharing examples of how they would use it; examples of code in this repo or other repos ([grep.app](https://grep.app)) that would be improved if this API exists; etc.

E

[2020-07-16 23:53] danmosemsft commented on #39484
[code]

[2020-07-16 23:54] danmosemsft commented on #39484
@maryamariyan the bot should have added 'untriaged' ?

[2020-07-16 23:55] EatonZ opened #39488 "WMI - Expand PlatformNotSupported_FrameworkUpdatedRequired error coverage"
### Description

Issue https://github.com/dotnet/runtime/issues/24536 outlined an exception where WMI would fail to work correctly if the machine has an old .NET Framework version installed. https://github.com/dotnet/corefx/pull/26137 improved the situation by adding a better error message. It appears that this "fix" does not cover all cases as a customer reported this exception to me today:
`The

[2020-07-16 23:57] AntonLapounov commented on #39484
Hit it in my PR as well:
runtime (Libraries Test Run checked coreclr Linux_musl arm64 Release)
https://helix.dot.net/api/2019-06-17/jobs/c3ca6d1c-8d69-4a13-96ba-88e69e6cf1dd/workitems/System.Net.Requests.Tests/console
https://helix.dot.net/api/2019-06-17/jobs/c3ca6d1c-8d69-4a13-96ba-88e69e6cf1dd/workitems/System.Net.Security.Tests/console

[2020-07-17 00:15] JamesNK opened #39489 "SocketsHttpHandler feature flag"
## Background and Motivation

If you are creating a cross-platform client today you are probably targeting netstandard2.x and using `HttpClientHandler`. This handler works well everywhere: .NET Core, Blazor WebAssembly, mobile, etc.

Now if you want to use the more advanced configuration on `SocketsHttpHandler` you can multi-target netcoreapp3.1 and use `#ifdef netcoreapp3.1` to create and configu

[2020-07-17 00:40] jeffhandley commented on #39401
@ericstj

Correct that we would not be able to use the new properties.  Additionally, features like CER and CAS are functional on .NET Framework, whereas they are not functional on .NET 5--the spirit of the obsoletions was to annotate features that are no longer functional in .NET 5, so I was only opting to apply the attributes where we know the feature isn't available. https://github.com/dotnet/d

[2020-07-17 00:42] juliusfriedman commented on #39432
I understand you.

With that typed, how would you suggest users handling something like a MPEG TS bit stream? Most of the fields are bit packed there and also mostly not aligned.

Yes they can read in bytes, mask and shift but this is work which users will get wrong where as these API's cannot.

I will find the examples but SNIPacket I believe as well as TDS Stream are going to use these as well a

[2020-07-17 00:46] AndyAyersMS commented on #39484
cc @CarolEidt

Possibly a dup of #39221

[2020-07-17 00:58] safern commented on #39480
I think this is the expected behavior on `GlobalizationMode.Invariant` and that test run was done in invariant mode. If I run these tests on any runtime on Invariant mode I get the same result. See: https://github.com/dotnet/runtime/pull/39470#discussion_r456159087

cc: @tarekgh

[2020-07-17 01:00] janvorli commented on #39281
Looking at current master branch vs 3.1 and dumping the sections of the libcoreclr.so,  I've found that one section had a growth of 2.5MB. It is the .rodata (read only data) section.
The .text section (code) has grown only a tiny negligible bit - 160kB.
The other sections have grown a bit too, but each in terms of tens of kilobytes.

Compiler options are the same for 3.1 and 5, linker options diff

[2020-07-17 01:02] mangod9 opened #39493 "Crossgen2 fails with TableIndexOutOfRangeException"
Try to compile the repro listed in https://github.com/dotnet/runtime/issues/13339 using crossgen2. It fails with the following stack:

[code]

[2020-07-17 01:07] tarekgh commented on #39480
I am a little bit confused here. the description of the issue is showing the expected result matching the actual result. no?

[2020-07-17 01:11] maryamariyan commented on #39484
@danmosemsft I'll take a look

[2020-07-17 01:12] #1296 closed

[2020-07-17 01:13] safern commented on #39480
because the unicode points are different but the console is showing it correctly cause it understands unicode.

[2020-07-17 01:17] vahida opened #39546 "Getting Socket Exception, high response time and Http 500 when performance testing using JMeter"
Hi,
We are currently running performance testing using JMeter (results attached) by sending concurrent requests to our API.
Getting high response time and HTTP 500 and netstat result showing lots of Time_Wait. After 2 minute ramp up we start seeing degradation in response times and timeouts on requests that exceed the 100s default timeout (these show up as HTTP 500 Errors)

JMeter at peak - 50 con

[2020-07-17 01:18] tarekgh commented on #39480
Usually this happen visually and not really changing the underlying Unicode codepoint. so I expect still to be 2 different strings even if they are showing same. but this is not the case here as the underlying string are exactly same. do you have a pointer to the test case?

[2020-07-17 01:20] safern commented on #39480
This is the line that is failing:

https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.Text.RegularExpressions/tests/RegexCultureTests.cs#L48

The two unicode points are: u004F and u00D6

[2020-07-17 01:22] terrajobst commented on #33397
@ajcvickers @roji let me know if you still want to do this for .NET 5 and I'll schedule a review.

[2020-07-17 01:27] AntonLapounov commented on #37132
This test failed in my PR (CoreCLR Pri0 Runtime Tests Run Windows_NT arm checked).
https://helix.dot.net/api/2019-06-17/jobs/97e4a4cc-c6f6-4393-87cd-50b9aabe3ca2/workitems/PayloadGroup0/console
[code]

[2020-07-17 01:37] tarekgh commented on #39480
The part I don't understand is who converted `\u004F\u0308` to `\u00D6`? to clarify more I would expect the text displayed as `Ö` which actually 2 codepoints `\u004F\u0308` and not just `\u00D6`.

[2020-07-17 01:47] clamp03 commented on #38981
@mangod9 @MichalStrehovsky Thank you. I will try it. :)

[2020-07-17 01:57] safern commented on #39480
I see, I believe the problem is in Xunit itself. The exception is constructed with the string itself:
https://github.com/xunit/assert.xunit/blob/3af483c3e851ef4f463a8ce8b9399b7bc8ab4dc0/StringAsserts.cs#L115

And then Xunit is setting the exception message with those strings which will be the full underlying strings:
https://github.com/xunit/assert.xunit/blob/3af483c3e851ef4f463a8ce8b9399b7bc8ab4d

[2020-07-17 02:11] tarekgh commented on #39179
Fixed through the linked PR

[2020-07-17 02:11] #39179 closed

[2020-07-17 02:24] noahfalk commented on #2213
Going to close this assuming the question is answered : ) If not we can always re-open.

[2020-07-17 02:24] #2213 closed

[2020-07-17 02:32] #39332 closed

[2020-07-17 03:20] #30291 closed

[2020-07-17 03:35] jkotas commented on #39281
I see a lot of duplication in the .rodata section caused by duplication of SELECTANY data. For example, the `SOFTWARE\\Policies\\Microsoft\\Windows\\Windows Error Reporting\\DebugApplications` string is duplicated in the libcoreclr.so 383 times. That's 60kB wasted right there and it is just one of the many SELECTANY variables we got. We had the same problem in 3.1, but it was slightly less severe

[2020-07-17 03:46] jkotas commented on #39281
One example: `shash_primes` table is duplicated 22 times. That's 5.5kB wasted.

[2020-07-17 03:46] wfurt commented on #39014
The point I was trying to make is that  `HttpClient.DefaultProxy = proxy;` sets `HttpClient.DefaultProxy.Credentials` to `null`. You either need to flip the order or set credentials like  `proxy.Credentials = new NetworkCredential();`
It is hard to help you with small fragments you showing. If you want to move forward, please provide full runnable repro.

[2020-07-17 05:27] SofiaXu commented on #38069
Great job!

[2020-07-17 05:35] RainingNight commented on #36091
any news?

[2020-07-17 05:40] EnricoMassone commented on #36067
@halter73 just a question, above you said:

Based on my understanding, having a captive HttpClient keeped alive for the entire duration of the application could lead to **missing reaction to DNS updates**, as pointed out above by @nicklundin08

This seems to be confirmed by [this Micorsoft docs on IHttpClientFactory](What's wrong with a Signleton service keeping an HttpClient alive for the duratio

[2020-07-17 05:45] v-haren opened #39499 "Test failure: System.Tests.TimeZoneInfoTests.BinaryFormatter_RoundTrips"
failed in job: [runtime 20200716.146 ](https://dev.azure.com/dnceng/public/_build/results?buildId=734524&view=ms.vss-test-web.build-test-results-tab&runId=22732908&resultId=137481&paneView=debug)

Error message
[code]

[2020-07-17 06:18] jkotas commented on #39281
Also related: https://github.com/dotnet/runtime/issues/39456

[2020-07-17 06:19] wfurt commented on #36067
As far as I can tell, the HttpClient will not pro-actively pick up new nodes resolving to same name as far as there are available connections. But it does not cache any DNS lookups e.g. when time comes to create new connection, it will do new DNS lookup (subject to OS caching) and it will connect to some IP returned by the lookup. You can use PooledConnectionLifetime to force discovery of new node

[2020-07-17 06:31] kronic opened #39502 "RegularExpressionAttribute does not work correctly"
[code]

[2020-07-17 06:33] Ablim commented on #39467
Ok, thanks. So is there anything I can do as a workaround, like configuring my runtime or OS?
Or are my only options to either switch to Windows or wait for .NET 5 and hope we upgrade the project?

[2020-07-17 06:47] Anipik opened #39503 "TestParserDouble_SpecificValues failing on browser"
System.Tests.RealParserTests.TestParserDouble_SpecificValues failed on https://github.com/dotnet/runtime/pull/39498

log https://helix.dot.net/api/2019-06-17/jobs/875a70b3-492a-42d9-ad1e-d87cb37c2bf3/workitems/System.Runtime.Tests/console

cc @akoeplinger @marek-safar @safern @ericstj

[2020-07-17 06:48] #39253 closed

[2020-07-17 06:51] MichalStrehovsky commented on #39493
I see RewriteComponentFile in the stack - this is a WPF application and therefore Managed C++. The input is probably sneaking past the checks @trylek added in #38113.

[2020-07-17 07:21] sandreenko opened #39504 "JitStress job is failing to build ILVerification.Tests.csproj"
Build test job is failing with:
[code]
[Ci link (note that it is a scheduled run, not a manual one)
](https://dev.azure.com/dnceng/public/_build/results?buildId=734828&view=results)I could repro that locally and found that it stopped working after https://github.com/dotnet/runtime/pull/39340

The strange thing is that it is passing in the outerloop:
[code]

I was not able to find what is the diffe

[2020-07-17 07:22] sandreenko commented on #39504
I opened a PR to delete the project as a workaround to unblock important testing for jit changes: https://github.com/dotnet/runtime/pull/39501

[2020-07-17 07:27] sandreenko commented on #39504
Update: it does fail in outerloop, could somebody approve PR to delete the project until we have a fix?

[2020-07-17 07:35] ststeiger opened #39505 "There is a directory /.dotnet"
### Description

On my Linux system, there is a directory /.dotnet.
Since it contains optimizationdata, I presume it is created by runtime.

This doesn't belong here.
This should probably be in /var/lib/dotnet or /usr/lib/dotnet or /usr/share/.dotnet

[2020-07-17 07:41] safern commented on #39503
Dupe of: https://github.com/dotnet/runtime/issues/39473

[2020-07-17 07:41] #39503 closed

[2020-07-17 07:41] ivanpovazan commented on #39436
@AaronRobinsonMSFT yes, I am down to change the CLASSIC into FULL, but would like to check two things.

1. If I am not mistaken, I believe Roslyn compiler would in case of `-debug:full` produce the old "classic" PDB on Windows, while on other systems, this would actually mean producing PDBs in portable format.
So, if we are trying to follow the convention, the same should apply to ilasm as well. A

[2020-07-17 07:46] safern commented on #39467
I think the only workaround I can see is to either override it on Windows:
![image](https://user-images.githubusercontent.com/22899328/87761666-b6a5e980-c7c6-11ea-9c77-d4680ab65ff4.png)

Or set it in MacOS to match `Windows`

[code]
https://source.dot.net/#System.Private.CoreLib/NumberFormatInfo.cs,334

[2020-07-17 08:14] v-haren commented on #2352
failed again in job: [runtime-coreclr libraries-jitstressregs 20200712.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=726304&view=ms.vss-test-web.build-test-results-tab&runId=22490830&resultId=138030&paneView=debug)

failed test: System.Net.Security.Tests.ClientAsyncAuthenticateTest.ClientAsyncAuthenticate_MismatchProtocols_Fails(serverProtocol: Tls11, clientProtocol: Tls, expected

[2020-07-17 08:22] MichalStrehovsky commented on #39419
The VM side is tracked in #9588 so we can just call this a dup and close.

[2020-07-17 08:22] #39419 closed

[2020-07-17 08:25] janvorli commented on #39281
The #39456 is very likely a result of a move to the object libraries instead of static ones, so I believe it is a separate problem.

[2020-07-17 08:39] safern commented on #39480
Closing per discussion above.

[2020-07-17 08:39] #39480 closed

[2020-07-17 08:51] isxaker commented on #38782
@joperezr Let's add a bit of transitivity here.

I have a class library - ClassLibararyForPS.
This ClassLibararyForPS does not contain System.Text.Json itself.
But ClassLibararyForPS uses another class library - ClassLibrary_1.
And ClassLibarry_1 has System.Text.Json which uses System.Buffers 4.0.3.0

Also ClassLibararyForPS uses one more ClassLibary_2 which uses System.Buffers 4.0.2.0

ClassLibar

[2020-07-17 09:13] EnricoMassone commented on #36067
Hi,

I don't really know the underlying implementation details. My high level understanding is the following:

- the `HttpClient` delegates the HTTP request handling to the wrapped HttpMessageHandler
- the connections are handled at the HttpMessageHandler level
- HttpMessageHandler must be pooled because creating an arbitrary amount of them could lead to socket exhaustion under heavy loads
- the H

[2020-07-17 09:22] v-haren opened #39512 "Test failure: System.Linq.Parallel.Tests.ZipTests.Zip_Unordered(leftCount: 1, rightCount: 1)"
failed in job: [runtime-coreclr libraries-jitstress2-jitstressregs 20200711.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=725908&view=ms.vss-test-web.build-test-results-tab&runId=22477892&resultId=144374&paneView=debug)

Error message
Assert.Equal() Failure
Expected: 1
Actual:   0

Stack trace
   at System.Linq.Parallel.Tests.ZipTests.Zip_Unordered(Int32 leftCount, Int32 rightCoun

[2020-07-17 09:27] viralmodi commented on #39328
@jkotas Our product is a strong named signed library (nuget package with strong name signed dll) which has a dependency on Microsoft.CSharp. Our library will be incorporated by another application that belongs to another team in our company. Their application binaries are strong named signed. Our library has a target framework of .NET Standard 2.0. The partner team's .NET application is targeting

[2020-07-17 09:31] k15tfu commented on #35391
@mikem8361 Any thoughts why this happens?

[2020-07-17 09:54] roji commented on #33397
@terrajobst yes, if possible I'd still like to get this in for 5...

[2020-07-17 09:57] alpencolt commented on #38981
Unfortunately `R2RDump`  doesn't support ARM and cannot show disassembly.
@clamp03 the only possible way to see dump is using `--codegenopt` option.

[2020-07-17 10:22] karelz commented on #798
Moving to Future based on above analysis by @antonfirsov: https://github.com/dotnet/runtime/issues/798#issuecomment-654475815

[2020-07-17 10:27] karelz commented on #39116
@DrewScoggins any thoughts on @stephentoub's reply? Looks like we can't reproduce it outside of perf lab :(
cc @adamsitnik

[2020-07-17 10:35] karelz commented on #39489
@terrajobst what is the best way to handle platform-specific API availability? Is the above API the right approach?

[2020-07-17 10:43] MichalStrehovsky commented on #38981
I think the arm support was fixed 2 days ago: https://github.com/dotnet/runtime/pull/39318

[2020-07-17 10:56] JamesNK commented on #31261
What about making DiagnosticsHandler public?

[2020-07-17 11:57] nietras commented on #39466
@jkotas thanks. Moving conversation from https://github.com/dotnet/runtime/pull/37941#issuecomment-659633427 here :)

I was really hoping we could get this in. The changes shouldn't be that big. As far as I understood, from a standup video I think, "feature freeze"/branch for .NET 5 RC might happen around 8th of August. That's doable in my view. Could you perhaps expand on why you think it won't b

[2020-07-17 11:59] YohDeadfall commented on #782
@layomia @terrajobst Do I correctly understand that the team isn't willing to introduce the feature in .NET 5? Am really interested in it since it intersects with some stuff in Npgsql, and we should have the standard way to convert strings using the snake case convention.

[2020-07-17 11:59] lothrop opened #39515 "Improve file locking of files contained in a self-contained executable or change extraction logic"
I'm not sure how widespread this issue is, but I just saw the following phenomenon:

Our .NET Core 3.1 Windows service is packaged as a self-contained executable. When Service Control Manager first launches the executable it gets extracted to somewhere under C:\Windows\Temp and executed from there.

On a test machine, we now saw messages in the log that DLLs could not be loaded because they could

[2020-07-17 12:00] paulhickman-a365 commented on #30255
I'd like to this proposal include an overload on ````Utf8JsonWriter.WriteNumberValue```` to specify if it should be quoted or not. e.g.

[code]

This avoids having to do the extra memory allocation in
[code]

and it allows you to write efficient code when the JSON schema you have to comply with has some numbers quoted but not all of them.

[2020-07-17 12:05] HASSEN-MEDDEB-ATOS commented on #39442
7/17/2020 2:01:05 PM   |  quest : Method: GET, RequestUri: 'https://**************/mediation/v1/hmac/vsmp/contracts/?&startDate=2020-05-02T11:55:05Z&endDate=2020-07-17T12:01:02Z&count=100', Version: 1.1, Content: System.Net.Http.StringContent, Headers:^M
{^M
  Authorization: Signature keyId="fcfb8f286a4d4f098afc05f5c8712c27",algorithm="hmac-sha1",signature="Qxs5Z9lA8KEdwbc6wHvia%2B%2FBWbQ%3D"^M

[2020-07-17 12:11] karelz commented on #37865
@CarnaViire you discussed this with @MihaZupan - it should be very straightforward fix with adding a test. Would be nice to have it in 5.0 given its simplicity.

[2020-07-17 12:28] jkotas commented on #39505
This directory is created by .NET SDK. It contains user-specific configuration settings. It should be located in your home directory. For example, it is `/home/jkotas/.dotnet` for me.

Did you happen to run `dotnet` SDK commands in environment  without home directory or with home directory set up to point to `/`? The container environments are sometimes setup that way.

[2020-07-17 12:31] jkotas commented on #39505
For reference, this is the code that computes this location: https://github.com/dotnet/sdk/blob/849aa0027aff6e50e5f5c548b90606ed269d5c93/src/Cli/Microsoft.DotNet.Configurer/CliFolderPathCalculator.cs#L51

Moving to dotnet/sdk repo.

[2020-07-17 12:54] IllidanS4 commented on #39425
It always seemed to me that the compiler should know that when a ref struct is constructed from a reference, the reference *could* be captured in there somehow.

[2020-07-17 13:02] jkotas commented on #39425
https://github.com/dotnet/csharplang/issues/1147#issuecomment-534657035 and related posts have discussion about what it would take.

[2020-07-17 13:11] HASSEN-MEDDEB-ATOS commented on #39442
I thought that i had a problem with the date but no :/
[code]

[2020-07-17 13:14] jkotas commented on #39466
I agree for functional correctness. I suspect that this work will uncover codegen issues that we won't have time to fix in next 3 weeks.

[2020-07-17 13:23] scalablecory commented on #39489
This is a larger issue than just `SocketsHttpHandler`. A solution might tie in with the proposal at https://github.com/dotnet/designs/blob/master/accepted/2020/windows-specific-apis/windows-specific-apis.md

[2020-07-17 13:24] tmds commented on #39232
Can we focus on socket options for this issue? and move network interface related things to another issue?

These are the socket options in the proposal:

[code]

Can you make a table with info for each option, like corresponding C optlevel and optname for Windows and Linux, and what 'type' of values the option takes?

For example:

| Name | Windows | Linux | value |
| --- | --- | --- | --- |
| Tc

[2020-07-17 13:29] cesarsouza opened #39518 "Regex.Match parameter name "startat" should be camel case"
Hi,

Currently, the parameters of Regex.Match(string, int) are called "input" and "startat". Shouldn't the latter be named "startAt" to match the rest of the framework's naming conventions?

https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Match.cs#L89

[2020-07-17 13:31] jkotas commented on #31127
@terrajobst Is marking it as `[EditorBrowsable(Never)]` still valid with the new obsoletion plan? We are marking a lot of other methods obsolete, but we are not marking them as `[EditorBrowsable(Never)]`. What is special about this method that it deserves to be marked with `[EditorBrowsable(Never)]`?

cc @jeffhandley

[2020-07-17 13:33] nietras commented on #39466
That is of course a possibility/concern, given my experience with codegen here incl. net5 previews I am pretty optimistic, though. :) We should try at least. But I need guidance on how to refactor the whole ArraySortHelper stuff and whether the Comparison<object> trick is viable/acceptable. My guess would be that if you, @jkotas, did this you could do the code changes in a couple of hours. 😉

[2020-07-17 13:35] Gnbrkm41 commented on #39518
Wouldn't it be a breaking change for those who use named parameters?

[2020-07-17 13:40] jkotas commented on #39466
If it was the only workaround for the codegen issues in the change, I think it would be acceptable. I suspect that the problem that it is trying to workaround is going to be present in more situations that are not possible to workaround.

[2020-07-17 13:43] ericstj commented on #39401
I have a hard time making myself comfortable with the idea that in a nuget package that supports multiple frameworks we make it more complicated to obsolete the types exposed by that package and we expend more effort in supporting those types in down level platforms.

[2020-07-17 14:07] danmosemsft commented on #39518
Yes it would be a breaking change and this is why we are stuck with it. Thanks for the suggestion.

[2020-07-17 14:07] #39518 closed

[2020-07-17 14:07] jkotas commented on #39328
.NET Framework comes with its own copy of Microsoft.CSharp.dll. The binary you would build yourself would not work well and it is not supported on .NET Framework.

.Microsoft.CSharp.dll built from dotnet/corefx and dotnet/runtime is for .NET Core runtime. .NET Core runtime binaries are not strong name signed (it is not needed as I have explained above). For example:
[code]

You cannot achieve that

[2020-07-17 14:08] #39328 closed

[2020-07-17 14:10] #39081 closed

[2020-07-17 14:24] NinoFloris opened #39519 "Devirtualization isn't acting on devirtualizable calls past the first"
Ran from a VM due to https://github.com/dotnet/BenchmarkDotNet/issues/1499
[code]
|   Method |      Mean |     Error |    StdDev | Code Size |
|--------- |----------:|----------:|----------:|----------:|
| Combined | 3.6617 ns | 0.9868 ns | 0.0541 ns |      42 B |
| Separate | 3.6139 ns | 0.4095 ns | 0.0224 ns |      42 B |
|   JustMe | 0.0000 ns | 0.0000 ns | 0.0000 ns |       6 B |

The idea is

[2020-07-17 14:36] aik-jahoda opened #39520 "wasm release/5.0-preview8 test failure: System.Runtime.InteropServices.Tests.dll System.NullReferenceException"
There is a failure on release/5.0-preview8 in System.Tests.BitConverterArray.ConvertFromUInt

[testResults.xml](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-release-50-preview87d439295e58f4c8eb8/System.Runtime.Extensions.Tests/testResults.xml?sv=2019-02-02&se=2020-08-06T08%3A33%3A31Z&sr=c&sp=rl&sig=a7Uz2FecLJAwQSJbnnybfEnk65agWoaP7w%2F2UmYzyio%3D)

`System.NullR

[2020-07-17 15:11] Gnbrkm41 opened #39521 "Certain tests in Microsoft.Extensions.Logging.EventSource may fail in non-ASCII locales"
### Description

Run tests in `Microsoft.Extensions.Logging.EventSource.Tests` test project in non-ASCII locales. The expected data that's constructed in runtime do not match with the actual data.

[code]

### Configuration

* Windows 10 Pro Insider Preview, Build 20170, x64
* Locale ko-KR
* Ran with VS2019 16.7 P4, with `./build.cmd -vs Microsoft.Extensions.Logging.EventSource -runtimeConfigurati

[2020-07-17 15:21] Clockwork-Muse commented on #39512
[Comment is correct](https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.Linq.Parallel/tests/QueryOperators/ZipTests.cs#L62-L63):

// If this test starts failing it should be updated, and possibly mentioned in release notes.

I guess I'm a bit surprised it's lasted this long.
I'll get a PR later today.

[2020-07-17 15:29] Gnbrkm41 opened #39522 "`System.Globalization.Nls.Tests.ToUpper/ToLower_netcore` test failures in local environment"
### Description

Run tests in `System.Globalization.Nls.Tests` test project. The characters after the ToLower/ToUpper call do not change even though we expect it to change.
[code]

Please note that this only seems to happen when no culture name is specified (`new CultureInfo("")`); the exact same test but with the culture name `en-US` / `fr` / `fr-FR` passes fine.

https://github.com/dotnet/runtim

[2020-07-17 15:39] Happypig375 opened #39523 "\u007F is ignored for non-Ordinal comparisons in StartsWith, EndsWith and Contains on Linux and Mac but not Windows"
During https://github.com/verybadcat/CSharpMath/pull/143, the following bug was encountered.

The following behaviour for Linux and Mac is consistent across .NET Core 3.1.5 and .NET 5 preview 6.

For Windows, this is a regression from .NET Core 3.1.5 to .NET 5 preview 6 with the introduction of ICU as noted by @danmosemsft.
[code]

[code]

[2020-07-17 15:43] atykhyy commented on #39425
I've looked at the code in Roslyn binder where it checks escape levels and I agree that special-casing some ref struct object creation expressions would not be trivial, albeit incomparably simpler than the general problem of ref fields in ref structs. However, since `Span`s are already subject to escape analysis and are allowed as members of ref structs, perhaps such special-casing would help with

[2020-07-17 15:55] HASSEN-MEDDEB-ATOS commented on #39442
I didn't understand something I send a UTC Date
[code]

 it returns a GMT in response Header, it is problem ?
![Probléme](https://user-images.githubusercontent.com/58071802/87805981-7aba6500-c856-11ea-81c8-60cfb0b4897f.png)

[2020-07-17 16:15] tarekgh commented on #39467
Note that, changing user overrides on Windows settings will work only if you have the culture is set as the default user locale in the user profile. I would say it is better to control that by setting the Culture.NumberFormat properties in your app.

[2020-07-17 16:18] karelz commented on #39442
That is response header, isn't it?
How is it relevant to the problem?
Did you capture traffic of C# vs. bash? What is the difference there?
Can you please create MINIMAL HelloWorld style app sending just 1 request to a URL? (remove all unnecessary code that still reproduces the problem)

[2020-07-17 16:18] mangod9 commented on #39493
Thanks @MichalStrehovsky for taking a look. Will assign to @trylek so we can handle this case.

[2020-07-17 16:19] tarekgh commented on #39512
Thanks @Clockwork-Muse please tag me on the PR when you have it.

[2020-07-17 16:21] jashook commented on #31793
This should be addressed. Please reopen if the problem comes up again

[2020-07-17 16:21] #31793 closed

[2020-07-17 16:24] jashook commented on #32546
Addressed

[2020-07-17 16:24] #32546 closed

[2020-07-17 16:26] danmosemsft commented on #39523
@safern if this was an ICU thing it would show up in Windows on Preview 6 right?

[2020-07-17 16:27] karelz commented on #31261
@JamesNK it is one of the options listed above - https://github.com/dotnet/runtime/issues/31261#issuecomment-604514391 ... we just didn't get to making a decision here :(.

[2020-07-17 16:31] Happypig375 commented on #39523
@danmosemsft Oops I missed that Windows .NET 5 is consistent with Linux and Mac. Sorry!

[2020-07-17 16:35] Gnbrkm41 commented on #1167
Can confirm this no longer fails on 20170. Thanks! ❤️

[2020-07-17 16:36] HASSEN-MEDDEB-ATOS commented on #39442
Hi @karelz ,

I have 2 APIs, one for the prod and one for the dev, the when i test with the dev the request works because the date is not mandatory in the Header, but when I use the URL of the prod there it returns BadRequest. I can't undestand, i have tested the same script in bash script, the request works with no problem.

I called the service that manages the API they told me that I have a pro

[2020-07-17 16:46] scalablecory commented on #1793
Current gist:
[code]

[2020-07-17 16:49] DrewScoggins commented on #39116
I am going to try and track down what is going on next week. I have some other stuff I have been working on this week.

[2020-07-17 16:51] tarekgh commented on #39523
THis is expected to have Windows .NET 5 be consistent with Linux and Mac because we are using ICU and it is expected to see some behavior change from .NET Core 3.x because 3.x was not using ICU. you have the option to set a config switch to revert back to old behavior if you like.

[2020-07-17 16:51] taoyouh opened #39526 "Comment in SortedList Does Not Match The Code"
The comment of EnsureCapacity does not match the code. It says "if the current capacity is less than min" but the code will double the capacity even if min is 0.

https://github.com/dotnet/runtime/blob/c5d60890e37138bbc66dc393b7ee052a3da78763/src/libraries/System.Collections/src/System/Collections/Generic/SortedList.cs#L529

[2020-07-17 16:52] danmosemsft commented on #39523
@Happypig375 here's the flag you can try:
https://docs.microsoft.com/en-us/dotnet/standard/globalization-localization/globalization-icu

[2020-07-17 16:53] Anipik commented on #39520
Its a copy of this https://github.com/dotnet/runtime/issues/39473

[2020-07-17 16:54] jashook commented on #33071
Addressed

[2020-07-17 16:54] #33071 closed

[2020-07-17 16:54] danmosemsft commented on #39469
If we just need a breaking change documented, you can fill in https://github.com/dotnet/docs/issues/new?template=dotnet-breaking-change.md

[2020-07-17 16:54] tarekgh commented on #39523
@Happypig375 I am closing the issue but feel free to respond back with any question we can help you with. Thanks!

[2020-07-17 16:54] #39523 closed

[2020-07-17 16:56] danmosemsft commented on #39526
I think you're right @taoyouh . Do you want to offer a PR to fix it?

[2020-07-17 16:56] juliusfriedman commented on #39232
Its already in my source I had it there the first time, I'm sure you have much more access to headers and source than I do, would you mind doing the table work and I will make the issues separate?

[2020-07-17 16:57] juliusfriedman commented on #39232
Also an enum was not in my proposal.

[2020-07-17 16:58] danmosemsft commented on #39520
duplicate. that one is also preview 8

[2020-07-17 16:58] #39520 closed

[2020-07-17 16:59] janvorli commented on #39281
I've tried to remove all usages of SELECTANY and the results are stunning. Here is the size of my local build with and without that change.
[code]
I'll send out a PR today.

[2020-07-17 17:03] tarekgh commented on #39522
@Gnbrkm41 I am running on Windows 10 v19577 and I am not seeing this behavior. So this most likely a new change coming from Windows. I am trying to confirm that now. Thanks for reporting that.

[2020-07-17 17:05] Gnbrkm41 commented on #39522
`System.Text.Tests.RuneTests.Casing_Invariant` under `System.Runtime.Nls.Tests` appears to be failing with the same test data.

[2020-07-17 17:05] jashook commented on #34603
Script has been removed

[2020-07-17 17:05] #34603 closed

[2020-07-17 17:07] tarekgh commented on #39522
do you see any other failures than with this data "\U00010400"?

[2020-07-17 17:10] jhudsoncedaron commented on #39469
@danmosemsft : Done https://github.com/dotnet/docs/issues/19562

[2020-07-17 17:10] #39469 closed

[2020-07-17 17:14] jashook commented on #37381
Addressed

[2020-07-17 17:14] #37381 closed

[2020-07-17 17:14] Gnbrkm41 commented on #39522
No, that is the only failure I'm noticing with existing test data.

[2020-07-17 17:37] Anipik commented on #32659
no longer reproducible so closing this one

[2020-07-17 17:37] #32659 closed

[2020-07-17 17:38] mikem8361 commented on #35391
I haven't had a chance to investigate.

[2020-07-17 17:41] mdh1418 opened #39528 "System.Text.RegularExpressions test fails on Browser wasm"
When running library tests on Browser wasm, `Groups` in `Regex.Groups.Tests.cs` fails on one test case https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.Text.RegularExpressions/tests/Regex.Groups.Tests.cs#L859

### Repro
[code]
Result: False
Expected: True

[2020-07-17 17:51] Anipik commented on #33286
The failure seems to be related to pinvoke analyzer and we no longer runs in the repo.
@ViktorHofer  can we close this one ?

[2020-07-17 17:53] mikem8361 commented on #35391
I can repro this problem on the 3.1.5 runtime, but not on the latest 5.0 from master so this issue is fixed in most stack overflow cases.

[2020-07-17 17:57] davidwrighton commented on #39504
I'll put together the fix, as I broke this in the first place.

[2020-07-17 17:58] MattGal commented on #39522
Also observed on ARM64 Windows 10.0.19619

[2020-07-17 18:01] maryamariyan opened #39531 "[Bug] Add space padding in logged message before writing exception message"
### Description of bug:

In the use case when we are also logging exception, there is a missing padding space between message and exception, when we use the single-lined default simple formatter.

### Expectation:

![image](https://user-images.githubusercontent.com/5897654/87812232-b5031280-c814-11ea-91f3-d5912fc95e9e.png)

### Actual
![image](https://user-images.githubusercontent.com/5897654/8779

[2020-07-17 18:11] viralmodi commented on #39328
@jkotas Thanks for responding. We have a similar issue/requirement with System.Componentmodel.Annotations. Does the above comment from you hold true for that package as well?
Just to make my understanding clear, based on your above comment, can I assume any project meant for .NET Core does not need to be strong name signed i.e. the following things are no longer true from MSFT docs:
1) You want to

[2020-07-17 18:12] safern commented on #39528
I think this is just a limitation of the ICU data, since we don't support the `az-Latn-AZ` culture/locale. This is the table of locales we support in WASM: https://developer.chrome.com/webstore/i18n?csw=1#localeTable

cc: @EgorBo is my assumption correct?

[2020-07-17 18:12] Anipik commented on #28403
@maryamariyan can you take a look at this https://github.com/dotnet/runtime/issues/28403

[2020-07-17 18:14] maryamariyan commented on #28403
Looking..

[2020-07-17 18:15] safern commented on #33286
I think the `PInvoke` analyzer is still running on the repo. However this was a bug which @ViktorHofer fixed were the analyzer was not hooked up correctly. I think we can close this.

[2020-07-17 18:15] #33286 closed

[2020-07-17 18:19] Anipik commented on #35496
@andv15 system.Diagnostics.EventLog is not supported on netstandard2.0 https://github.com/dotnet/runtime/blob/master/src/libraries/System.Diagnostics.EventLog/src/System.Diagnostics.EventLog.csproj#L11

[2020-07-17 18:20] cheverdyukv commented on #39167
Thank you so much for such detailed answer!

2. I will wait for answer on this

Everything else looks like working correctly. Except that I got strange errors everywhere in WPF that I didn't have before. Could it be related to hdt_load_assembly_and_get_function_pointer function that loading assemblies into secondary ALC?

If yes, is there any other way to load assembly into default ALC by specifyi

[2020-07-17 18:23] GrabYourPitchforks commented on #2340
Per offline discussions with Phil, it looks like doing this via an _explicit_ interface implementation is sufficient to address the scenario. I'd rather do it this way so that it doesn't pollute the normal API surface.

[2020-07-17 18:25] safern commented on #39521
Could it be related that this test was probably written based on `NLS` data and now we use `ICU`?

cc: @tarekgh

[2020-07-17 18:27] safern opened #39535 "CI build failure: Artifact libraries_test_assets_* not found for build"
This is a fallout from: https://github.com/dotnet/runtime/pull/39402

Investigating now, seems like the dependencies are not set correctly.

cc: @dotnet/runtime-infrastructure

[2020-07-17 18:28] #35496 closed

[2020-07-17 18:31] Gnbrkm41 commented on #39521
Not exactly sure how they relate, unless with NLS data Korean characters were not considered candidates for escaping before being written to JSON output, and now with ICU they suddenly are?

I don't know much about the JSON spec so I can't tell much.

[2020-07-17 18:35] maryamariyan commented on #39531
@ericstj This is a low risk bugfix and improves readability, so it would be good if we could submit this in preview 8.

[2020-07-17 18:41] GrabYourPitchforks commented on #39140
Reiterating my previous comment:

The index needs to be fixed, sure. But this code __should not__ use `string.Compare`. It should instead use `CompareInfo.IsPrefix` or `CompareInfo.IsSuffix`, as mentioned earlier.

[2020-07-17 18:42] tarekgh commented on #39521
This is related to codepoints "\uC624\uD6C4" just in case make the investigation easier.

[2020-07-17 18:50] Anipik commented on #13701
It seems like it was fixed for net core by https://github.com/dotnet/runtime/pull/1059
@jkotas any update on fix for .NetFramework ?

[2020-07-17 18:56] Anipik commented on #35284
@Fs00 can you modify the description to fill this template https://github.com/dotnet/runtime/issues/38011

You can mention both the implementation details in the descripition.
After that i can take this up with api-reviewers and they will make the final decision.

[2020-07-17 19:00] GrabYourPitchforks commented on #39499
I think this was fixed by https://github.com/dotnet/runtime/pull/39487?

[2020-07-17 19:01] danmosemsft commented on #28403
This was 18 months ago - I believe we added retries in many of these tests since then. If that's the cas,e maybe next action is to switch it on, with the retries, and see how it goes.

[2020-07-17 19:07] terrajobst commented on #1793
* Approved. We're done with it!

[code]

[2020-07-17 19:08] joperezr commented on #31563
Hello @ehnap I'm so sorry for some reason I missed the pings on this issue until now. What you are seeing is by design, and the reason is that building a class library will by default not include it's dependencies with it on the output directory so what your ManagementProxy project is doing is only building the .dll and copying only ManagementProxy.dll over into the bin folder of your TestManageme

[2020-07-17 19:08] #31563 closed

[2020-07-17 19:09] joperezr commented on #31563
Also just for bonus points, Once I got this to work on my machine I noticed that you will start hitting a different exception on your Class1.cs because you forgot to initialize sDeviceNameString :) here is the fix:
[code]

[2020-07-17 19:12] jkotas commented on #13701
The fix for .NET Framework is tracked by https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1026837 in the internal bug database.

@JulieLeeMSFT Could you please look into what we want to do here?

cc @dotnet/jit-contrib @eerhardt @GrabYourPitchforks

[2020-07-17 19:26] MarkPflug commented on #39502
I think the problem is with your regex pattern. All of these inputs are matching the first alteration `[0-9]{2}`. The problem is that RegularExpressionAttribute checks if the pattern matches, then subsequently checks that the match covers the entire input string start == 0, matchlength== inputlength. The first alteration doesn't cover the entire input in the second and third cases. Probably debata

[2020-07-17 19:32] AndyAyersMS commented on #39023
Failures are reproing once more, am going to look at a simplified repro provided by @dellamonica.

[2020-07-17 19:35] TimLovellSmith opened #39542 "Does SecureChannel.GenerateToken need to be blocking the IO threads?"
In our .net framework app, I notice that `SecureChannel.GenerateToken` blocks the IO thread for some time as part of SSL negotiation - I think this is probably part of the `async` callback series we are doing for `SslStream.AuthenticateAsClientAsync` or `SslStream.AuthenticateAsServerAsync`, right?

Is there some way we could get this to not block the thread? Could the framework use `SspiInitializ

[2020-07-17 19:37] ryan-hollister-q2 commented on #29690
@layomia thanks for the code here, was exactly what I needed. Wanted to point on a very subtle but important change needed. The two lines that parse the "Number" type are incorrect in your compressed version:

`JsonTokenType.Number => reader.TryGetInt64(out long l) ? 1 : reader.GetDouble(),`

should be

`JsonTokenType.Number => reader.TryGetInt64(out long l) ? l : reader.GetDouble(),`

`JsonValueK

[2020-07-17 19:39] vcsjones commented on #39542
/cc @wfurt

[2020-07-17 19:52] jkotas commented on #31563
Also, once you are get ManagemtProxy.dll published correctly, you may consider loading it using `Assembly.Load`. `Assembly.LoadFile` loads the assembly into its own load context that is typically not what you want for standalone application.

[2020-07-17 19:58] AndyAyersMS commented on #39519
It's not readily apparent from the disassembly above, but both calls are in fact devirtualized. But this happens "late" as the object being dispatched is the return value from a call, and because of this, we currently can't do inlining or box removal optimizations.
[code]

The calls end up getting invoked via an indirection cell which makes them look like they're possibly still virtual.

[2020-07-17 19:59] AndyAyersMS commented on #39519
Linked this into the devirtualization "todo" issue #7541. Marking as future.

[2020-07-17 20:00] wfurt commented on #39542
Bar for .net framework  is really really high. It is unlikely we would do any major changes at this point.

The bottom is all synchronous and moving it to different thread would come with performance and complexity penalty IMHO. The NextMessgae/GenerateToken as still somewhat trivial but the [InitializeSecurityContext](https://docs.microsoft.com/en-us/windows/win32/api/sspi/nf-sspi-initializesecur

[2020-07-17 20:01] AndyAyersMS commented on #39256
Going to mark this as 5.0.

[2020-07-17 20:02] #39535 closed

[2020-07-17 20:06] juliusfriedman commented on #1793
So I have a whole class to do my Setup when I just needed a method, ConnectionFactory does a lot of stuff, would love to see some implementations of it soon

[2020-07-17 20:15] danmosemsft commented on #39518
by the way @cesarsouza , perhaps you'd be interested in contributing to the repo? we have many possibilities -- https://github.com/dotnet/runtime/issues?q=is%3Aopen+is%3Aissue+label%3Aup-for-grabs

Let me know if you have interest and I can provide any help.

[2020-07-17 20:24] vitek-karas commented on #39167
Running WPF in secondary ALC is known to have issues - some of it might be possible to overcome with https://docs.microsoft.com/en-us/dotnet/api/system.runtime.loader.assemblyloadcontext.currentcontextualreflectioncontext?view=netcore-3.1 but I don't know if it solves all known problems.

We don't have a first class support for loading assemblies by path into default ALC - simply didn't get to it

[2020-07-17 20:26] jeffhandley commented on #31127
Per the [non-goals](https://github.com/dotnet/designs/blob/master/accepted/2020/better-obsoletion/better-obsoletion.md#non-goals) of the better obsoletion spec, it is not expected that we'll mark `[EditorBrowsable(Never)]` in conjunction with the obsoletion but that they should be independent decisions.  I took the approach to _not_ apply the `EditorBrowsable` attribute in the big obsoletion PR.

[2020-07-17 20:35] JulieLeeMSFT commented on #13701
@briansull please port the .NET Core fix to Framework.

[2020-07-17 20:50] jkotas commented on #39328
Yes, it holds for all assemblies that ship with .NET Framework.

[code]

Correct. I have submitted https://github.com/dotnet/docs/pull/19567 to clarify this.

[2020-07-17 20:58] janvorli commented on #32724
@mangod9 this test is failing because it requires the object stack allocation feature to be enabled (COMPlus_JitObjectStackAllocation=1). For crossgen2, it would have to be passed to the JIT at crossgening time. The test passes it in at runtime, so the feature is off for jitted code and the test finds that objects are allocated from heap instead of stack.
This test should be marked as crossgen inc

[2020-07-17 21:09] maryamariyan commented on #34742
@jskeet the above APIs made their way to preview 8. It would be great to get feedback while the feature is in preview. As for the built-in Json formatter. Here's a screenshot of how it wouldlook like:

screenshot below is:
![image](https://user-images.githubusercontent.com/5897654/86962618-10981680-c118-11ea-9342-13bf23c5d44e.png)

for
[code]

Other samples:
![image](https://user-images.githubuser

[2020-07-17 21:34] jskeet commented on #34742
@maryamariyan: Great, thank you. I'll try it out next week.

[2020-07-17 21:36] cheverdyukv commented on #39167
I created new assembly and it has only one class, one method and one delegate. Then I got pointer to that method via `hdt_load_assembly_and_get_function_pointer`. There I have following code:
[code]
and in DotNetTools I have
[code]
that will load assembly from path and create root object for our application to use. I seems to work and WPF works correctly.

1. Is it correct way to do what you said

[2020-07-17 21:48] karelz commented on #39442
What problem with date did they tell you that you have?
Who sets the date format? Your code? Or 'HttpClient'?
If you use EXACTLY same date format in bash, does that work? Or is the format of the request different?
Did you compare the outgoing requests between failing and working client? What is the difference?

[2020-07-17 21:55] vitek-karas commented on #39167
1. In general yes, but it won't work for self-contained (see #2 below) - also I personally would not use `CreateInstanceFrom` - it calls `Assembly.LoadFrom` which has "old" .NET Framework semantics and sometimes doesn't play nice with new .NET Core code (for example if you ever had assembly which has dependency on some cross-platform NuGet package this will run into trouble). I would be more expli

[2020-07-17 21:55] mangod9 commented on #32724
ok thanks, moving it to 6 then. I assume this test is probably already disabled for cg2 runs?

[2020-07-17 21:59] xqrzd commented on #1793
Looks pretty interesting. I have a bunch of obscure use cases that I'm curious what would look like using this (the context is a client for Apache Kudu).

1) Apache Kudu does TLS and GSSAPI authentication wrapped in protbuf messages. The current setup looks like,

    `Socket => NetworkStream => StreamWrapper => SslStream`

    then finally SslStream is turned into a pipe with Pipelines.Sockets.Un

[2020-07-17 22:00] karelz commented on #39232
To be honest, I am getting lost at what this issue tracks. I wonder if it would be best to close it and start over with SIMPLE and CLEAR self-contained description of MINIMAL feature set and brief description of scenario. No links to external code unless it is also cleaned up and minimalistic.
If it is enabling larger end-to-end scenario, let's break it into small standalone chunks that make sense

[2020-07-17 22:03] juliusfriedman commented on #39232
What is the ask here? I want everything listed and more but what I listed for sure.

[2020-07-17 22:12] karelz commented on #39232
We don't understand what you "want", so the ask is: Help us (or anyone else) to understand, WHAT you think is valuable addition to .NET and WHY.

The way to do it is by breaking what you want into small standalone chunks.
The same way, one would develop an application for a customer -- instead of "all or nothing" list of capabilities, you break down things into features (which you carefully descri

[2020-07-17 22:15] HASSEN-MEDDEB-ATOS commented on #39442
they told me that the date ils missed when I call the API.

The only differce between my bash script and my C # code in the response

in bash script it returns :
Date: Fri, 17 Jul 2020 15:29:23 UTC
In NET it returns :
Date: Fri, 17 Jul 2020 15:29:23 GMT

In m'y code C# i send a UTC format date, why in response i get GMT. Maybe thé problem comes from this 😕.

[2020-07-17 22:18] karelz commented on #39442
So what you're saying is that the request on the wire is EXACTLY the same, yet C# gets bad request from server?
That doesn't make much sense, right?
Did you use packet capture tool to confirm? Eg Wireshark?

[2020-07-17 22:20] danmosemsft commented on #35284
@Fs00 we actually have an issue template for API proposals now, if you like you can use that, but instead of opening a new issue, paste into the top post of this one.

https://github.com/dotnet/runtime/issues/new?assignees=&labels=api-suggestion&template=02_api_proposal.md&title=

[2020-07-17 22:22] lewing commented on #39449
cc @radical

[2020-07-17 22:24] danmosemsft commented on #39502
@MarkPflug is correct that the regex will match the first alternation.

Another option is to reverse the alternation eg `[0-9]{8}|[0-9]{5}|[0-9]{2}`. Note that this will still match 4 digits, but as two matches. I don't know whether that's what you want.

This is not specific to .NET. Most .NET regexes are also valid in other dialects, and you can use an online tester to experiment. Here's a good

[2020-07-17 22:24] #39502 closed

[2020-07-17 22:25] HASSEN-MEDDEB-ATOS commented on #39442
Exactly i get Bad request in C#, i can't install whireshark in production environenment, but do you have an explanation why in response it returns GMT instead of UTC ?

[2020-07-17 22:28] HASSEN-MEDDEB-ATOS commented on #39442
``

                var utcFormattedDate = utcDate.ToString("ddd, dd MMM yyyy HH:mm:ss UTC", gbCulture);

                //string Date = "date:" + UpperCaseUrlEncode(str);
                string Date = "date: " + utcFormattedDate;
                //Date = "date:Thu%2C+21+Apr+2016+13%3A32%3A18+UTC";
                using (HMACSHA1 hmac = new HMACSHA1(_secretKeyUTF8))
                {

[2020-07-17 22:34] juliusfriedman opened #39554 "(unsafe) Object Header Verification may read to finalizer queue acting on ValueType or interface"
[code]

Now this object gets into the finalizer queue!

Is this intended behavior and shouldn't there be checks for these kinds of hacks?

cc @jkotas @danmosemsft @GrabYourPitchforks

[2020-07-17 22:39] jkotas commented on #39554
If you are hacking on runtime internals like this using unsafe code, you are in unsupported territory. We do not make any guarantees about the behavior in this case.

Your program can hang, crash, silently corrupt data, format your hard drive, ... . All these behaviors would be by design.

[2020-07-17 22:39] #39554 closed

[2020-07-17 22:40] juliusfriedman commented on #39554
Thank you for your time!

[2020-07-17 22:41] cheverdyukv commented on #39167
I would like to briefly explain structure of our application.

We have main native application and many different modules. Some of these modules are native, some are written in .NET Framework. All communications between modules done via COM interfaces (even it is not 100% COM as there is no interfaces and co-classes registrations etc). So every module has factory function that returns interface to

[2020-07-17 22:41] juliusfriedman commented on #39232
Every single API I listed above I want, do you need a justification for each and every API in there?

[2020-07-17 22:46] wfurt commented on #39442
It does make sense. https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1
[code]

[2020-07-17 22:51] sandreenko opened #39556 "Pmi run on some test dll-s hits some jit asserts."
I was running PMI on test using a command like this:
[code]
and has hit many failures: `Warning: Failures detected generating asm: 36`, for example,
`corerun pmi.dll PrepAll runtime\artifacts\tests\coreclr\Windows_NT.x64.Checked\JIT\Regression\CLR-x86-JIT\V1.2-Beta1\b210352\csharpgenerictypes\csharpgenerictypes.dll` fails with:
[code]
with stack like:
[code]

Has anybody seen this behaviour? Is it

[2020-07-17 22:52] juliusfriedman commented on #39554
[code]

[2020-07-17 22:54] vitek-karas commented on #39167
1. I see - I guess this should work - no complains if you need it.
2. Sorry I missed the `dotnet_root` setting - well, if you give it the same structure as in program files\dotnet then this is a different way to effectively achieve self-contained without building self-contained. This is definitely doable - I was kind of always hoping somebody would try this in a real-world app (you're the first I

[2020-07-17 22:56] danmosemsft commented on #39554
@juliusfriedman are you asking a question?

[2020-07-17 22:59] juliusfriedman commented on #39554
No I am just saying that:

[code]
Unhandled exception. System.NullReferenceException: Object reference not set to an instance of an object.
   at C.M[T](T t)
Command terminated by signal 6
[code]

[2020-07-17 23:00] CarolEidt commented on #39556
I haven't seen that behavior - I think the last time I ran PMI diffs was probably more than a week ago, though.

[2020-07-17 23:01] kunalspathak commented on #39556
Same here - I ran pmi with altjit yesterday and didn't see anything like that.

[2020-07-17 23:05] scalablecory commented on #39232
Our process does not allow for us to have one issue that affects multiple areas (e.g. "networking" owns Socket and is separate from "System.Runtime" that owns Array). Additionally, packing a ton of disparate APIs -- even in a single area -- into one issue makes things much harder to discuss and reason about. As you've seen here, you're getting more feedback about how your issue is made, and not th

[2020-07-17 23:05] #39232 closed

[2020-07-17 23:08] sandreenko commented on #39556
@CarolEidt @kunalspathak were you runnin pmi on tests?

[2020-07-17 23:11] kouvel opened #39559 "Maybe spin-waits in the thread pool can be tuned better for arm/arm64"
- The `yield` instruction has a very short delay on some machines and may also be implemented as a NOP
- In bursty scenarios relatively more time is spent in `Sleep(0) / sched_yield`, relatively little in the `yield` loop, and relatively a lot more time spent in swapper
- In ASP.NET when a low number of connections is used such that CPU usage is squarely less than 100%, there is a sudden and dispr

[2020-07-17 23:11] juliusfriedman opened #39560 "String enhancements"
## Background and Motivation

Because we force people to ask for the length we already know

## Proposed API

[code]

## Usage Examples

[code]

## Alternative Designs

Extension methods

cc @scalablecory

[2020-07-17 23:12] juliusfriedman opened #39562 "Array enhancements"
## Background and Motivation

## Proposed API

[code]

## Usage Examples

[code]

## Alternative Designs

Extension methods

cc @scalablecory

[2020-07-17 23:13] cheverdyukv commented on #39167
Thank you again for your help!

Should I to create new issue for APPDOMAIN_IGNORE_UNHANDLED_EXCEPTIONS for hostfxr or should I wait? This is my last problem with hostfxr.

[2020-07-17 23:15] juliusfriedman opened #39563 "NetworkInformation Enhancements"
## Background and Motivation

To allow people to get the information they need especially as network switches occur over different network interfaces e.g. from cell to wifi.

## Proposed API

[code]

## Usage Examples

[code]

cc @scalablecory

[2020-07-17 23:16] CarolEidt commented on #39556
I usually just run it on frameworks and benchmarks (since it's kind of slow)

[2020-07-17 23:16] danmosemsft commented on #39560
@juliusfriedman sorry, this is not enough justification.

As I mentioned in another issue, it is not enough for an API to be potentially useful to some people. New API also comes with cost: maintenance and cognitive burden for potentially 10, 20 or more years. Consider how many times people will hit "." in Visual Studio on String. This is a new entry in the list they see. It has to earn its place.

[2020-07-17 23:17] juliusfriedman opened #39565 "NetworkInterface Extensions"
## Background and Motivation

People need to be aware of how to adapt to network change such as cell to wifi or network failover.

I might be using a usb nic etc.

## Proposed API

[code]

## Alternative design

On `NetworkInterface` itself so people don't have to use it or can import the statics they want.

## Usage Examples

[code]

cc @scalablecory

[2020-07-17 23:19] jkotas commented on #39554
Right, `unsafe` C# keyword does not prevent you from using unsafe library functions. https://github.com/dotnet/runtime/issues/31354 is about that.

[2020-07-17 23:19] danmosemsft commented on #39560
Another way of thinking about it -- consider `String` to be similar to `std::string` in the C++ standard library -- as you imagine, they have their own process and threshold for adding new members to it. Perhaps ours is not quite as high but it's not an unreasonable analogy. I don't want to deter you from making proposals - just trying to help suggest how they can be most effective.

[2020-07-17 23:19] #39221 closed

[2020-07-17 23:21] juliusfriedman opened #39566 "NetworkInformation and Socket helper methods"
## Background and Motivation

## Proposed API

[code]

## Usage Examples

[code]

cc @scalablecory

ps,

I think connections should be something like this... I would love to work with you on it as I already had one in .net core MicroFramework, I can try to dig it up if you want but this is probably the same just without the client server piece.

[code]

[2020-07-17 23:22] juliusfriedman commented on #39232
@scalablecory  done.

[2020-07-17 23:25] sandreenko commented on #39556
I see this issue only with tests, benchmarks and frameworks are passing for me as well.

Could you please try to run `corerun pmi.dll PrepAll runtime\artifacts\tests\coreclr\Windows_NT.x64.Checked\JIT\Regression\CLR-x86-JIT\V1.2-Beta1\b210352\csharpgenerictypes\csharpgenerictypes.dll` and see if it asserts for you or not?

[2020-07-17 23:27] danmosemsft commented on #39562
My comments in #39560 also apply to this one.

[2020-07-17 23:29] radical commented on #39449
@CincySteve Could you please elaborate on the problem?

- What are you hovering your mouse over? Could you share a screenshot of what it shows? A screencast would be even better, if possible.

- The Immediate window case is a known bug.

[2020-07-17 23:29] danmosemsft commented on #39562
Also, what value does `Array.ToArray(1, 2, 3)` add over `new[] { 1, 2, 3 }` ? The latter will also cause the compiler to verify you assign it.

[2020-07-17 23:30] danmosemsft commented on #39562
`Array.IsNullOrEmpty` is a duplicate of https://github.com/dotnet/runtime/issues/16359

[2020-07-17 23:34] kunalspathak commented on #39556
Worked for me.

[2020-07-17 23:34] BruceForstall commented on #39484
Also hits in the `runtime-coreclr libraries-jitstress` job:

https://dev.azure.com/dnceng/public/_build/results?buildId=734948&view=ms.vss-test-web.build-test-results-tab&runId=22752754&resultId=173996&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

[2020-07-17 23:36] jkotas commented on #32642
That is a bug to fix in the JIT, not to workaround by adding new APIs.

[2020-07-17 23:36] danmosemsft commented on #39565
@juliusfriedman thank you for the proposal.

Can you please share more about the motivation in your proposal? What kinds of applications might particularly use this -- apps, servers, devices? What approaches do they use today, without this API?

For the Try* API's, please see the relevant [Framework Design Guidelines commentary](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/ex

[2020-07-17 23:39] danmosemsft commented on #39565
Did you consider exposing these on `NetworkInterface` itself instead?

Could you please fix the syntax above, eg., `public BigInteger BytesSent System.Net.NetworkInformation.NetworkInterface networkInterface, ProtocolType protocolType);`

[2020-07-17 23:40] alexcovington opened #39568 "Unable to build on Windows in Visual Studio 2019"
I've been having difficulty building in Visual Studio 2019. I believe the issue is related to CMake and could use some help figuring out what I'm doing wrong. Here is the error:

[code]

I have all of the .NET and C++ workloads installed, Python 3.7, CMake 3.18.0, and Git 2.26.2 installed, so I don't think I'm missing any dependencies. Any help would be appreciated!

[2020-07-17 23:40] BruceForstall commented on #39484
Another case from the libraries-jitstress job, for

net5.0-Linux-Release-arm64-CoreCLR_checked-zapdisable, System.Runtime.Extensions.Tests:
[code]

[2020-07-17 23:42] BruceForstall commented on #39484
Another, from

net5.0-Linux-Release-arm-CoreCLR_checked-jitstress2, System.IO.FileSystem.Tests:
[code]

[2020-07-17 23:43] sandreenko commented on #39556
Thanks Kunal, I will try to do a clean build/update jitutils and see if that fixes this for me.

[2020-07-17 23:43] juliusfriedman commented on #39562
it could be an intrinsic. I used a template array or a pool to pull from and then returned in the finalizer or dispose.

[2020-07-17 23:44] juliusfriedman commented on #39562
How? I read it twice and didn't see a method proposal there.

[2020-07-17 23:46] safern commented on #38964
I think I haven't seen this anymore. Closing

[2020-07-17 23:46] #38964 closed

[2020-07-17 23:47] danmosemsft commented on #39562
It's not in the right format (this was 4 years ago) but the top comment literally says "In corefx the method string.IsNullOrEmpty as a replacement to checking if a string is null and has a length of 0.. Maybe we should have a similar API for Array that is implemented in the exact same way for string"

It's also a dupe of https://github.com/dotnet/runtime/issues/32642 as well.

[2020-07-17 23:47] juliusfriedman commented on #39565
yes but I figured people might not want to see all that? I dunno I would...

[2020-07-17 23:49] juliusfriedman commented on #39560
But these are used on hot paths and would reduce the number of calls therein by 2.

[2020-07-17 23:49] danmosemsft commented on #39562
I don't follow. Do you mean a JIT intrinsic? Couldn't the JIT generate the same code for either?

[2020-07-17 23:51] danmosemsft commented on #39565
That's a reasonable concern -- just suggesting your proposal include it as an alternative. I see you added an "alternatives" section - you might also note there why you suggest one rather than the other.

[2020-07-17 23:52] juliusfriedman commented on #39562
I don't think so, one is a pattern and the other is free for the caller to do as they choose, the JIT should be able to do both, we already need so many cast hacks and hints.

[2020-07-17 23:57] vitek-karas commented on #39167
New issue might be better.

[2020-07-17 23:57] juliusfriedman commented on #39554
Consider also:

[code]

[2020-07-17 23:58] BruceForstall opened #39571 "GCStress infrastructure assert running ManagedCallingNative.cmd"
Windows/x86 with:

[code]

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=726589&view=ms.vss-test-web.build-test-results-tab&runId=22500688&resultId=101492&paneView=debug

I can repro this locally, maybe 1 out of 10 or 20 runs.

@AndyAyersMS @AaronRobinsonMSFT @jkoritzinsky

[2020-07-18 00:01] danmosemsft commented on #39560
It would be good to have evidence that in real scenarios, this difference is measurable. (Eg., using [Benchmark.NET](https://github.com/dotnet/BenchmarkDotNet))

It looks like the method is already inlined (see [sharplab](https://sharplab.io/#v2:C4LghgzgtgPgAgJgIwFgBQcDMACR2DC2A3utmbjgEYD21ANtgLIAUcSADNgB4CUxp5QQMFk4AdmzMAhAGVgAJwCWAOwDmAOgCSEAHIBXOnQDy8gKJQADsACezXtgBkD7uoAyAUzXAAFtgB82Bw8ANzC2AC

[2020-07-18 00:06] danmosemsft commented on #39562
Either the JIT can recognize the pattern or it can't. If it can - that is better than a new API, as all code gets better without source changes or even recompilation.

Let's say we have the new API and it's specially recognized. What how would you improve the codegen? [Here is what it does today](https://sharplab.io/#v2:C4LghgzgtgPgAgJgIwFgBQcDMACR2DC2A3utmbjnACzYCyAFNgJYB2wz2AlMaeX73zIA3MACdsAD2w

[2020-07-18 00:10] juliusfriedman commented on #39560
What about handling many different lengths in a switch epression?

[2020-07-18 00:12] #17837 closed

[2020-07-18 00:14] danmosemsft commented on #39560
Again, where is the demonstrated performance impact? I mean, measurable, significant, in realistic code.

[2020-07-18 00:16] juliusfriedman commented on #39562
[By making case O like case M or better](https://sharplab.io/#gist:6ae614cab9f68f830b5006f3efb7ff48)

[2020-07-18 00:17] AntonLapounov opened #39572 "Crossgen2 does not work with PublishTrimmed"
Specifying both `PublishTrimmed` and `PublishReadyToRunUseCrossgen2` properties leads to incorrectly skipping the `_CreateR2RImages` target and a failure during the `_CopyResolvedFilesToPublishPreserveNewest` target.

Repro steps:
[code]
Output:
[code]
@davidwrighton @mangod9

[2020-07-18 00:18] VSadov commented on #39445
fails in Preview8 branch too:
https://dev.azure.com/dnceng/public/_build/results?buildId=735836

[2020-07-18 00:18] AndyAyersMS commented on #39571
I'm not entirely sure what this bit of code in gccover it is trying to check. It seems we are putting gc stress interrupts into non-gc safe epilogs and prologs on x86 so we can stress the unwinder.

[2020-07-18 00:20] sandreenko commented on #39556
Interesting, it is working for me with SHA that you gave me (10 days old), I will search when it stopped working, maybe my local changes.

[2020-07-18 00:24] danmosemsft commented on #39562
I do not follow. In your example, O does not improve on M or N.

It doesn't matter -- you still have not offered evidence of measurable performance improvements in real code.

[2020-07-18 00:25] juliusfriedman commented on #39560
Look at the code yourself it's huge...

[code]

[2020-07-18 00:26] juliusfriedman commented on #39562
Explain,

[code]

is the smallest the JIT can get it cause it created the array, hence an intrinsic is already doing this... just not enough

[2020-07-18 00:32] AntonLapounov opened #39573 "Crossgen2 does not work with PublishReadyToRunEmitSymbols"
Specifying both `PublishReadyToRunEmitSymbols` and `PublishReadyToRunUseCrossgen2` properties leads to PDB generation failures during the `_CreateR2RSymbols` target (composite mode only).

Repro steps:
[code]
Output:
[code]
@davidwrighton @mangod9

[2020-07-18 00:37] danmosemsft commented on #39560
I am asking for measurements that show significant performance impact in realistic code. Eg., using Benchmark.NET.

[2020-07-18 00:39] AntonLapounov commented on #39568
`kernel32.lib` is a part of Windows 10 SDK.  Please make sure it is properly installed.  For instance, on my machine this file resides at `C:\Program Files (x86)\Windows Kits\10\Lib\10.0.17763.0\um\x64\kernel32.Lib`.

[2020-07-18 00:41] safern commented on #39473
@vargaz I sent a private job that ran `System.Memory.Tests` 30 times and added:

[code]

To this if block:
https://github.com/dotnet/runtime/blob/c80cc2a035b1915f84361eeb1046ba1e7861035b/src/mono/mono/mini/interp/interp.c#L1915-L1921

And it did print the warning when failed:
[code]

So it seems like: https://github.com/dotnet/runtime/commit/c80cc2a035b1915f84361eeb1046ba1e7861035b is what introdu

[2020-07-18 00:41] danmosemsft commented on #39562
I do not follow. In your example, `M(1, 2, 3)` is nothing but overhead you have created. The method M is doing all the work.. If you look at the size of that, it's the same as the others. Sure, you could imagine a built-in method that creates the array, but you're swapping a method call to create the array for a method call to a method that creates the array. Either way, the cost is negligible, in

[2020-07-18 00:48] agocke commented on #39414
Good news -- I don't think this is entirely true. It looks like https://github.com/dotnet/runtime/pull/39275 *did* fix debugging for the source assembly. It just broke it for the framework assemblies. 😄 In this case it looks like the framework assemblies are actually loaded in the expanded format, which is the opposite of the source assembly.

[2020-07-18 00:49] juliusfriedman commented on #39560
Can you provide an example template please

[2020-07-18 00:52] juliusfriedman commented on #39562
Okay well don't take it if you don't wan it, the IsNullOrEmpty is just about the same type of thing as for String in the other proposal.

[2020-07-18 00:54] BruceForstall opened #39576 "GCStress=C + JitStress=1 test failures in Vector tests"
These tests fail on Linux/x64 (but not Windows/x64) with:
[code]

Tests:
[code]

Vector128_1_ro, Vector128_r failures:
[code]

Vector64_1_r failures:
[code]

Vector64_ro, Vector64_r failures:
[code]

These failures occur in the `runtime-coreclr gcstress-extra` pipeline:

https://dev.azure.com/dnceng/public/_build/results?buildId=726589&view=ms.vss-test-web.build-test-results-tab

category:testing

[2020-07-18 00:58] echesakovMSFT commented on #39338
After applying the commit in #39335 and running the test in a loop for hours I haven't seen a single failure and I am quite confident that the original `SIGSEGV` failures we saw in these tests were due to `r2` being reported as killed by call to `CORINFO_HELP_PROF_FCN_LEAVE`.

**Without #39335**
[code]

**With #39335**
[code]

cc @AndyAyersMS

[2020-07-18 00:58] #39338 closed

[2020-07-18 00:59] BruceForstall opened #39577 "Assert failure: xl <= end"
[code]

Frequently, when trying to run:

[code]

on Linux/x64, I see the above assertion.

Related? These tests fail in this same scenario with apparently bad GC info: https://github.com/dotnet/runtime/issues/39576

[2020-07-18 01:02] BruceForstall commented on #39576
@tannergooding @CarolEidt @echesakovMSFT @kunalspathak

[2020-07-18 01:04] taoyouh commented on #39526
I'd love to provide a PR.

My question is, shall I fix the code or change the comment? As this is a private method and is called only when resizing is required, I think the code behaviour is acceptable.

[2020-07-18 01:14] abelbraaksma commented on #38872
@danmosemsft, is there anything else that needs attention, or can it be marked `api-ready-for-review`?

[2020-07-18 01:21] BruceForstall opened #39579 "GCStress=C + JitStress=2 test failures in Vector tests"
These tests fail on Linux/x64 with:
[code]

Tests:
[code]

Vector128_ro, Vector128_r failures:
[code]

Vector256_ro failures:
[code]

Vector64_1_ro, Vector64_1_r failures:
[code]

Vector64_ro, Vector64_r failures:
[code]

These failures occur in the `runtime-coreclr gcstress-extra` pipeline:

https://dev.azure.com/dnceng/public/_build/results?buildId=726589&view=ms.vss-test-web.build-test-results-

[2020-07-18 01:21] BruceForstall commented on #39579
@tannergooding @CarolEidt @echesakovMSFT @kunalspathak

[2020-07-18 01:27] vargaz commented on #39473
I can't reproduce the failures locally, but it does look like this is the cause, we should revert.

[2020-07-18 01:30] halter73 commented on #1793
My assumption is that the Connection created by FromStream is going to lazily call `PipeReader.Create(Stream, StreamPipeReaderOptions)` and `PipeWriter.Create(Stream, StreamPipeWriterOptions)` when Connection.Pipe.Reader and Connection.Pipe.Writer are first accessed (if ever) respectively.

It makes sense for StreamPipeReaderOptions and StreamPipeWriterOptions to be configurable, but the method si

[2020-07-18 01:40] BruceForstall opened #39581 "[arm64] GCStress=C + JitStress=2 test failures in Vector tests"
These tests fail on Linux/arm64 with:
[code]

Tests:
[code]

failures:
[code]

These failures occur in the `runtime-coreclr gcstress-extra` pipeline:

https://dev.azure.com/dnceng/public/_build/results?buildId=726589&view=ms.vss-test-web.build-test-results-tab

Related: https://github.com/dotnet/runtime/issues/39576, https://github.com/dotnet/runtime/issues/39579

category:testing
theme:vector-cod

[2020-07-18 01:40] danmosemsft commented on #39562
In the string case it’s to save typing an extremely common pattern.

[2020-07-18 01:40] #39562 closed

[2020-07-18 01:43] BruceForstall commented on #39581
@tannergooding @CarolEidt @echesakovMSFT @kunalspathak

[2020-07-18 01:58] vcsjones opened #39583 "macOS Big Sur: System.Globalization.Native deprecation build failure"
While building the CLR on macOS Big Sur beta (10.16, or 11) the build fails with the following error.

<pre>
In file included from /Users/kjones/Projects/runtime/src/libraries/Native/Unix/System.Globalization.Native/pal_casing.c:8:
  /Users/kjones/Projects/runtime/src/libraries/Native/Unix/System.Globalization.Native/pal_icushim_internal.h:184:1: error: 'ucol_setVariableTop' is deprecated [-Werror

[2020-07-18 01:58] #39512 closed

[2020-07-18 02:08] tarekgh commented on #39583
@janvorli this looks similar to https://github.com/dotnet/runtime/issues/5914 and https://github.com/dotnet/coreclr/pull/5309/file. looks we need to handle this for macOS Big Sur

[2020-07-18 02:20] BruceForstall opened #39584 "Test failure: Interop\COM\Dynamic\Dynamic is very slow under GCStress"
On Windows x64/x86, I measure about 2 minutes to run Interop\COM\Dynamic\Dynamic\Dynamic.cmd with:
[code]

However, adding:
[code]
(which some of the scenarios in the `gcstress-extra` pipeline do) makes the test run a very long time (I gave up waiting for it to finish).

[2020-07-18 02:21] BruceForstall commented on #39584
e.g., https://dev.azure.com/dnceng/public/_build/results?buildId=726589&view=ms.vss-test-web.build-test-results-tab&runId=22500980&resultId=109452&paneView=debug

[2020-07-18 02:37] juliusfriedman commented on #38574
Just use the system shell, what complex works needs to be done?

stop parsing YML and just do things like normal people...

[2020-07-18 02:38] safern commented on #39473
It reproed 2 times out of 30 runs for System.Memory.Tests and that took like 3 hours to run 😫

[2020-07-18 02:41] danmosemsft commented on #38574
@juliusfriedman  unlike shell scripts, Python works on all platforms.

Please be careful with your tone.

[2020-07-18 03:17] AaronRobinsonMSFT commented on #39436
Yes, the old PDB format is what 'full' means.

Yes. The default should remain. I was just implying the terminology should be the same, not suggesting we change the default values.

Thanks for confirming!

[2020-07-18 03:23] john-h-k commented on #39554
There isn't "memory checking" anywhere causing your error. You just wrecked the header to the point where a component tried to dereference what it expected to be a valid pointer wasn't so it AV'd. The object header is pretty well packed with data,  i can't remember the file the flags for it are in but I've looked at it before a couple of times

[2020-07-18 03:28] sylveon commented on #39554
Access violations are always interpreted as NRE because in safe/UB-free code accessing a null pointer is the only way to trigger an AV.

[2020-07-18 03:31] loic-sharma commented on #38491
@maryamariyan is the up-for-grabs label correct? The PR for this issue has been merged already: https://github.com/dotnet/runtime/pull/38513

[2020-07-18 04:18] #2340 closed

[2020-07-18 04:19] cheverdyukv opened #39587 "How to pass APPDOMAIN_IGNORE_UNHANDLED_EXCEPTIONS using hostfxr"
I was using https://docs.microsoft.com/en-us/dotnet/core/tutorials/netcore-hosting#create-a-host-using-mscoreeh to host .NET runtime. But after discussion in #39167 I was told to use hostfxr to host .NET runtime.

But as far as I can see there is no way to pass APPDOMAIN_IGNORE_UNHANDLED_EXCEPTIONS and our application needs for 2 reasons:
1. We use some 3rd party components that create threads and

[2020-07-18 04:38] GrabYourPitchforks commented on #39560
Hi Julius! Thanks for the suggestion. I think part of the confusion stems from that the team's not quite sure what scenario this would help. Consider the two examples below.

[code]

These two patterns would result in the exact same x86 codegen. Furthermore, Pattern 1 is more "natural" to the typical C# developer. So who is the target audience for Pattern 2, and what scenario would it help?

[2020-07-18 04:43] juliusfriedman commented on #39560
#2 would be for lexers or parser but if the optimization is done at the JIT then the method is useless, It is good to know this is already the case in .net core.

[2020-07-18 04:46] GrabYourPitchforks commented on #32642
Yeah, I only found around 30-ish call sites within System.Private.CoreLib that would be candidates for using this helper method. (See https://github.com/GrabYourPitchforks/runtime/commit/ef639cd4ecf4f39e540438709c723aee43bbd618.) That might not be enough to justify the work. Even `string.IsNullOrEmpty` has around 5x that many call sites within CoreLib.

[2020-07-18 04:48] juliusfriedman commented on #39562
And an string is not an array of chars?

[2020-07-18 04:59] GrabYourPitchforks commented on #39560
As the claimant, the burden of proof that this new API helps perf lies with you. :)

But to your question about the output asm, we can do it through a thought exercise. Say that the local _s_ is already in a register `rdx`. To check for null, it's a test against zero.

[code]

Now here's the check against zero ("is empty?"):

[code]

These first two checks are part of `IsNullOrEmpty`. Now here's t

[2020-07-18 05:03] juliusfriedman commented on #39560
https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxNMAfAAgJgIwCwAUFgMwAEu5AwuQN7HlOUVYAs5AsngBQCU9Rs2EBlGAgCWAOwDm5AG7kAvOQBEEANYArCABMoWmQHIANhogyDR1QG4hwphIBmPLHgAMAOgCSUAHIAriYmAPIIAKJgAA4wAJ488nwCWADsdkTM9g5OAPYIPNIw5BLK5O42xeQAPAqeADJwsjAAFhUA1G0SfFnCDBkOAz3MAL5Zo/1MWVlklBycOPyCEw5ikrIKperaegbGZhZWtkOOLm5evoHBYZEx8YnJacfFUkUAXqXy9Y0yLekDTLl8oVKipypUaq92p1ustek9hE9xsIkZkJsRhkA=

[2020-07-18 05:05] GrabYourPitchforks commented on #13701
Huh, not sure why that internal issue was assigned to me. I've given it to Brian.

[2020-07-18 05:07] #39472 closed

[2020-07-18 05:11] danmosemsft commented on #39560
I’m going to close this for the reasons stated above.

[2020-07-18 05:11] #39560 closed

[2020-07-18 05:12] alexkeh opened #39589 "Add the TCP KeepAlive APIs to .NET Standard"
These 3 options are not in .netstandard 2.1 right now, do you have a plan to add them into netstandard?
- TcpKeepAliveInterval
- TcpKeepAliveRetryCount
- TcpKeepAliveCount

_Originally posted by @kerryjiang in https://github.com/dotnet/runtime/issues/24041#issuecomment-554154891_

[2020-07-18 05:18] GrabYourPitchforks commented on #39560
The JIT has some extra logic to enregister the string's length when it sees that the length is dereferenced as part of the loop condition. In your sample you're seeing an interaction of `string.IsNullOrEmpty` and this JIT optimization. There are some edge cases where the JIT could be smarter (such as skipping the "is empty?" comparison if the caller's going to turn around and compare against 10 an

[2020-07-18 05:19] juliusfriedman commented on #39560
Even though the API provides a way around ur JIT  that is straight forward?

[2020-07-18 05:21] juliusfriedman commented on #39589
See also: https://github.com/dotnet/runtime/issues/39566

You can do this yourself with little interop around setsocketopt and getsocketopt

[2020-07-18 05:22] jkotas commented on #4882
Duplicate of https://github.com/dotnet/runtime/issues/24767

[2020-07-18 05:25] csteegz opened #39590 "Add additional APIs to support common certificate scenarios"
## Background and Motivation
HTTPClientHandler offers a callback, CertificateCustomValidationCallback which enables custom validation of server certificates in the client. It also offers a pre-written delegate, DangerousAcceptAnyServerCertificateValidator which implements allows any server certificate. There are other common server certificate validation scenarios, specifically trusting certificat

[2020-07-18 05:27] jkotas commented on #6710
This was fixed by https://github.com/dotnet/coreclr/pull/16464. The output is now:
[code]

[2020-07-18 05:27] #6710 closed

[2020-07-18 05:30] #39071 closed

[2020-07-18 05:31] juliusfriedman commented on #32642
Having this method not return the length via out is dumb

[2020-07-18 05:32] HossienMehdikhah commented on #39071
hi @mangod9. sorry for incomplete question. i fix it so can  you delete it ?

[2020-07-18 05:34] macrogreg opened #39591 "Improve perf of Activity Get/SetCustomProperty API for auto-instrumentation (codeless attach) APM scenarios."
[edited by @tarekgh adding this line] We are optimizing the case here without exposing any new APIs. If we see any need in the future to improve more, we can revisit that.

## Background and Motivation

Hi!

I propose to state enrichment API to the `System.Diagnostics.`**`Activity`** class.
The purpose of the API is to cater for specific high-performance scenarios typical for auto-instrumentation

[2020-07-18 05:37] #1445 closed

[2020-07-18 05:38] GrabYourPitchforks commented on #39560
A reminder: you still haven't demonstrated that. :)

What you did demonstrate is that the JIT produces different codegen when the `Length` property is dereferenced before the loop begins vs. within the loop itself. And [this is already known](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxNMAfAAgJgIwCwAUFgMwAEu5AwuQN7HlOUUCWAdjOQLJ4AUASnqNmogMowEHAObkAbuQC85AEQQA1gCsIAEyibpAcgA26iNP2GVAbhGimHLlACuYJeQ

[2020-07-18 05:38] #4882 closed

[2020-07-18 05:42] juliusfriedman commented on #39560
How can there be any argument that needs proof that the method would not give you an out that you can totally eliminate later, we are already improving multi reg returns... what do you want me to provide to prove it?

it's a bit nebulous and I can't seem to appreciate that.

[2020-07-18 05:43] macrogreg commented on #39591
Hey @noahfalk , @davmason  thanks for chatting to us about the TRacer the other week. After the main chat we chatted about prototyping the OTel tracer to use "new style" activities. This proposal is that result of that investigation.

Another outcome was a question / request for clarification on when is it OK or not OK to mutate Activities. Especially doing it in ActivityStopped handlers can lead

[2020-07-18 05:44] macrogreg commented on #39591
@kevingosse @zacharycmontoya @lucaspimentel @tonyredondo @colin-higgins FYI

[2020-07-18 05:53] GrabYourPitchforks commented on #39560
Here's what I'd recommend to get traction on this. Separate _the problem_ from _your perceived solution_. The issue as currently stated here provides a solution but doesn't clearly state what problem it's trying to solve.

You obviously have a sample in mind, so focus on that. Open a new issue and include three things: (a) a sample C# application that produces inefficient codegen, (b) the actual c

[2020-07-18 05:57] juliusfriedman commented on #39560
I feel like I just did that and this is the definition of insanity, my entire lib is built around these functions...

[2020-07-18 06:19] Gnbrkm41 opened #39593 "Can't run System.Net.Http tests via VS test explorer due to build failure "Metadata file ... System.Runtime.InteropServices.JavaScript.dll could not be found""
I built the runtime several times using different configurations (`build.cmd`, `build.cmd Clr+Libs+Libs.Tests -rc Release -lc Debug` etc) and then launched VS using `build.cmd -vs System.Net.Http -rc Release -lc Debug`. When I attempt to run the test, I get an error `Metadata file 'C:\Users\gotos\source\repos\runtime\artifacts\bin\System.Runtime.InteropServices.JavaScript\net5.0-Browser-Debug\Syst

[2020-07-18 06:27] danmosemsft commented on #39593
@lewing ?

[2020-07-18 06:33] JamesNK opened #39635 "Blazor WebAssembly error from GZipStream"
### Describe the bug
Blazor WebAssembly throws an error when `GZipStream` is used.

GZipStream use to work. The error started after moving Blazor app from netstandard2.1 to net5.0.

Seen when building app in `mcr.microsoft.com/dotnet/nightly/sdk:5.0` container. Current SDK version is `5.0.100-preview.7.20364.3`

### To Reproduce
1. git clone https://github.com/JamesNK/grpc-dotnet.git
2. git checko

[2020-07-18 06:35] sandreenko commented on #39556
Found the issue and probably a fix, it started to fail after #37745.

[2020-07-18 06:47] mangod9 commented on #39071
thanks for the update.

[2020-07-18 06:55] jeffhandley commented on #39289
@GrabYourPitchforks would we want to reuse the same diagnostic id for binary formatter’s obsoletion (`SYSLIB0011`)?

[2020-07-18 06:57] lewing commented on #39593
The current test runner is likely failing against http because we're testing against v8 (js shell) which is not the same a (headless) browser. @kjpou1 and @radical what is the current state of our networking tests on dotnet/runtime?

[2020-07-18 07:07] GrabYourPitchforks commented on #39289
@jeffhandley I don't think so. There are two issues at play here.

The first issue (as tracked here) is the removal of `BinaryFormatter` _within_ `DataSet` itself. This would still allow `DataSet` instances themselves to be serialized with `BinaryFormatter`, it's just that they'd be forced to use the same XML-based payload format that Full Framework uses. This is different from "consumes of .NET s

[2020-07-18 08:05] GrabYourPitchforks commented on #39522
@tarekgh Do you know if Windows ever _removes_ case conversion mappings between versions? Win7 didn't support case conversion between characters from the Deseret alphabet, Win8 did, and now it looks like recent versions of Win10 may have backed it out?

[2020-07-18 08:42] taoyouh commented on #39526
I have submitted my PR.

Further more, I found that the only usage of the method EnsureCapacity is the following line:
https://github.com/dotnet/runtime/blob/c5d60890e37138bbc66dc393b7ee052a3da78763/src/libraries/System.Collections/src/System/Collections/Generic/SortedList.cs#L668

I think this method does not need to check whether "newCapacity < min". If DefaultCapacity is not 0, newCapacity will

[2020-07-18 09:47] slavanap commented on #33360
Can I obsolete specific objects from _another library (including .NET itself)_ in my project, if they aren't obsoleted in their source?

[2020-07-18 09:49] chucker commented on #33360
You can write an analyzer. Consider forking https://github.com/dotnet/platform-compat

[2020-07-18 10:07] slavanap commented on #33360
@chucker is it correct if I would ever want to restrict some API usages in my project, I would need to build custom analyzer for it which I would later use for code check?

[2020-07-18 10:58] slavanap commented on #39443
What about this approach?

[code]

[2020-07-18 12:10] juliusfriedman commented on #38574
Look at the other comments in this thread, compared to mine what did I say that was so bad?

Please, Show me 1 script I can't rewrite using pure cmd or bash and I will `watch` my tone, rather observe the extent of my written words such they hopefully not be interpreted with tone as you have.

I bet its the YML related ones and I bet I could make something to split them up easily enough... [here](h

[2020-07-18 12:16] juliusfriedman commented on #1793
Hope not otherwise whats the point?

[2020-07-18 12:52] jnm2 commented on #39443
.ToLookup(...) is better than .GroupBy(...).ToDictionary(...). More efficient is:

[code]

[2020-07-18 12:53] jkotas commented on #37911
Failed in https://github.com/dotnet/runtime/pull/39594

[2020-07-18 12:58] #39281 closed

[2020-07-18 13:06] jkotas opened #39598 "libSystem.IO.Compression.Native size increased 15%"
Context: https://github.com/dotnet/runtime/issues/39281

- libSystem.IO.Compression.Native.so in .NET 3.1 is 771 KB
- libSystem.IO.Compression.Native.so in .NET 5 is 900 KB

This is 15% increase even though we have not added any new compression algorithms.

Is this increase expected?

[2020-07-18 13:07] jkotas commented on #39281
I have opened a new issue on libSystem.IO.Compression.Native.so.

[2020-07-18 13:18] jkotas commented on #39587
This option is left-over from Silverlight. It worked ok for Silverlight sandboxed applications that were severely limited in what they can do.

For .NET Core, there is number of ways managed exceptions can go unhandled even when this is set. I am not sure whether it makes sense to try to make it more first class in its current form. It is a poorly defined feature.

Related discussion: https://gith

[2020-07-18 13:20] mlidbom commented on #23405
I had a look at the CancellationTokenSource code and put together this hack. It uses a private field in CancellationTokenSource to figure out if any callbacks have ever been registered and decides based on that whether to invoke Cancel synchronously or via Task.Run.

I'm offering it here as a possible workaround for those for whom whom this behaviour is badly needed.

A warning though. I'm anythin

[2020-07-18 13:30] Fs00 commented on #35284
@Anipik @danmosemsft Just updated the first comment with the template you linked. Let me know if you would like to see some other changes.

[2020-07-18 13:35] #39526 closed

[2020-07-18 13:57] slavanap commented on #39443
@jnm2 good point!

To sum up, currently there are 2 solutions for the Match problem:
1) copy (cache) elements into new collections (.ToLookup, 3rd code chunk in @simon-curtis message),
2) run 2 iterators over original IEnumerable (for example, if IEnumerable created from a file) (2rd code chunk in @simon-curtis message)

[code]

The non-buffered approach can be extended for IQueryable, but would r

[2020-07-18 13:57] simon-curtis commented on #39443
I had this thought from a project I’m doing in blazor with EFCore, where I was separating entities’ UI elements by its archived property.

‘’’c#
foreach (var entity in matched) ...
foreach (var entity in unmatched) ...
‘’’

I wouldn’t want to go back to the database on every render so would definitely want some form of buffering, in this instance I’m using DbContext. But I could see how in other c

[2020-07-18 13:59] jkotas commented on #35177
Failed in https://github.com/dotnet/runtime/pull/39538

[2020-07-18 14:01] #39504 closed

[2020-07-18 14:18] slavanap commented on #32954
Hi @joperezr,

Before this issue drowns deep into your future milestone, could you please ask someone of the framework developers to comment on it? I have a strong feeling there are lots of bugs in production code associated with this API misuse.

Thanks,
Vyacheslav

[2020-07-18 14:33] davidfowl commented on #1793
It sounds like you want to be able to change pipe implementation which sounds reasonable. Something we’ll need to decide

[2020-07-18 15:34] KalleOlaviNiemitalo commented on #32954
One can already use [Microsoft.CodeAnalysis.BannedApiAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.BannedApiAnalyzers) for this.

BannedSymbols.txt:

[code]

A resulting warning:

[2020-07-18 15:38] slavanap commented on #32954
@KalleOlaviNiemitalo thanks for potential solution!
One correction: it may use not UTC, but local timezone offset.

[2020-07-18 15:56] jkotas opened #39599 "coreclr.dll size regressed ~200kB due to constexpr changes"
https://github.com/dotnet/runtime/pull/39532 introduce unexpected ~200kB size regression in coreclr.dll size on Windows x64:

commit a9b0bebdbb3b7fc50f295bb26acaa39b045634ae

5,028,352 coreclr.dll

commit 902645707215bcd0c22900d0a9ba4d01ca1a2fbe

5,209,600 coreclr.dll

[2020-07-18 15:56] ehnap commented on #31563
Thx! 😁

[2020-07-18 15:59] jkotas commented on #39599
It may be best to just move to the constant data to .cpp where possible. It seems to be the only full portable and reliable way to avoid the constant duplication.

https://github.com/dotnet/runtime/pull/39532#issuecomment-660296905

[2020-07-18 16:22] jkotas opened #39600 "coreclr.dll regressed by ~300kB due to vxsort"
coreclr.dll sizes

64c9e7c6d12db0e03d5a2589239b53b0a4046761 4,728,832
69b0d160953f5c920e52f021366743623693c158 5,027,840

[2020-07-18 16:23] jkotas commented on #39600
Is it really expected for vxsort to be 300kB of code? That's almost as much as the rest of the GC.

[2020-07-18 16:23] jkotas commented on #39600
cc @PeterSolMS

[2020-07-18 16:40] CincySteve commented on #39449
@radical I haven't been able to create a screencast, so here's a screenshot as the best alternative.  I put the variables I would like to see in the Watch list to reflect what mouseover is showing me.  When I mouseover frcst.ForecastHeader or D_.ForecastHeader, nothing shows.  But when I mouseover just frcst and D_, you can see what displays.  I am not showing the data that's in the frcst.Forecast

[2020-07-18 16:49] juliusfriedman opened #39601 "Stream Facade Pattern and Stream enhancements"
## Background and Motivation

Pipes are great and easy to use but what if I have an `byte[]` or even `IEnumerable<byte>`, should I not be able to combine multiple instances of these into something which represents a contiguous piece of memory?

## Prior Art
[SegmentStream](https://github.com/juliusfriedman/net7mma_core/blob/fd895adbce2f4776eee5695431c7b35eb9c1be78/Common/Classes/SegmentStream.cs)

[2020-07-18 16:52] juliusfriedman commented on #39601
cc @stephentoub since he created Pipes (I think)

[2020-07-18 17:02] GrabYourPitchforks commented on #39601
An API to create a read-only `Stream` from a `ReadOnlySequence<byte>` might be useful. I tried searching briefly but couldn't find one. Seems like it'd be a weird omission.

[2020-07-18 17:27] FStapenhorst opened #39602 "Add parameter InheritHandles to System.Diagnostics.ProcessStartInfo class"
## Background and Motivation

When working with C++ DLLs that create file handles, for example log files, using the MFC CFile class or CStdioFile class, the DLL holds a file handle to the file opened. If this DLL is loaded into the address space of a .Net Framework application and this application starts a new process using the ProcessStartInfo.UseShellExecute parameter set to FALSE, all file hand

[2020-07-18 17:40] jnm2 commented on #39443
How would the non-buffered approach work when the matched or unmatched enumerables are enumerated more than once?

Assume that `source` returns a different sequence on each enumeration, which enumerables are explicitly allowed to do:

[code]

You would assume that elements in `a` and `b` are based on the same source sequence and are correlated by index. But what about `c` and `d`?

[2020-07-18 17:43] slavanap commented on #39443
For non-buffered approach I've personally assumed that the source sequence is stable, i.e. does not change over time. For files & databases this is easily achievable. For random generators - of course, not.

[2020-07-18 17:48] jnm2 commented on #39443
For databases, enumerating `source` a second time means querying the database a second time. I might be wrong, but I think the way to state through strong typing that a sequence is stable is `IReadOnlyCollection<T>`.

[2020-07-18 17:48] AlgorithmsAreCool commented on #39601
Some thoughts...

I worry about encouraging creating a stream from an `IEnumerable<byte>`. While functional, it is a very high overhead pattern.

A stream from a single `byte[]` is just a MemoryStream, your API would likely just be a wrapper around that. But I do think it is a little more discoverable.

`Span<T>[]` isn't legal. I don't think there is any way to express an arbitrary collection of S

[2020-07-18 17:51] slavanap commented on #39443
@jnm2 , yes. Enumerating database twice will query database twice. You can lock database state with a transactions mechanism. But for databases one would need to implement approach with IQueryable to stream data effectively, because conversion to IEnumerable will trigger data stream of full results set over a network.

[2020-07-18 17:55] jnm2 commented on #39443
If the method accepts `IEnumerable<T>`, people will certainly pass enumerables that return different sequences on each enumeration. This isn't far-fetched from the code I've seen. If the Partition method doesn't buffer, what should the returned enumerables do if they are enumerated more than once?

[2020-07-18 17:55] juliusfriedman commented on #39601
It depends on what implements it, I don't have that  overhead in my [class](https://github.com/juliusfriedman/net7mma_core/blob/fd895adbce2f4776eee5695431c7b35eb9c1be78/Common/Classes/MemorySegment.cs#L53)

[2020-07-18 18:02] slavanap commented on #39443
Usually it depends on the implementation. IEnumerable is allowed to be enumerated more than once.

[2020-07-18 18:05] cheverdyukv commented on #39587
1. Well it is already first class as it is exposed via public API (Create a host using Mscoree.h)
2. Perhaps that feature is not cover every possible case, it cover 95% of our need
3. I believe host should not be terminated because some plugin throws exception. Yes, we can put try catch around every call even it requires months of work. But as I said nothing prevents plugin to create new thread, t

[2020-07-18 18:05] jkotas commented on #39602
Duplicate of #13943

[2020-07-18 18:17] jnm2 commented on #39443
@slavanap My worry is, what should that implementation be? I'm not sure how to avoid buffering and be safe. And you can't get away from all buffering. If the first half doesn't match and the second half does, and you fully enumerate the matched enumerable first, you have to buffer half the data.