[2022-07-12 04:22] c-ohle commented on #71641
@stephentoub, thanks for the fix. Is there a way to get a pre-release version? I work on a core solution for NET 7 where GCD plays a central role and could need it for test, comparisons and benchmarks.
I'm a outsider but already in [discussion with MS dotnet/dev's](https://github.com/dotnet/runtime/issues/71791).

[2022-07-12 04:24] jkoritzinsky commented on #71990
cc: @pavelsavara

[2022-07-12 04:24] stephentoub commented on #71641
Sure, you can either build it yourself from main, grab a build from CI, wait for the bits to show up in daily builds at https://github.com/dotnet/installer/blob/main/README.md#installers-and-binaries (which should happen in the next day or so), or wait for .NET 7 Preview 7.

[2022-07-12 04:36] c-ohle commented on #71641
many thanks for the quick response. I'll try it.

[2022-07-12 04:38] pavelsavara commented on #71990
Should be fixed by https://github.com/dotnet/runtime/pull/71976

[2022-07-12 04:44] NewUserHa opened #71993 "improve `you must install .NET Desktop Runtime` with the `updater of .NET Framwork` UI, instead of a weird window"
the .NET Framwork has a nice wizard to one-click to install the required version .NET Framwork. However dotnet core has only a simple error window to ask users to download it by hand.

![image](https://user-images.githubusercontent.com/32261870/178409770-6d5b7c85-1fd9-49a6-a831-6cbcc744f4f2.png)
*To users, this seems like a blur and suspicious, and untrust window that also has a sawtooth icon*

Al

[2022-07-12 04:56] AraHaan commented on #71027
Ok, I tried the workaround and it seems to not have worked.

[2022-07-12 05:44] AntonLapounov commented on #61584
This is a .NET 5 to .NET 6 upgrading issue. What happens here is a composite build (the default R2R compilation mode for .NET 5) got mixed with a non-composite build (the default R2R compilation mode for .NET 6).  Some assemblies were not recompiled and still reference the PluginTrampoline.r2r.dll composite binary, which is no longer produced when for .NET 6.  `coreclr!NativeImage::Open` tries to

[2022-07-12 05:51] AntonLapounov commented on #62065
The answer is given above.  Please let us know if you have further questions.

[2022-07-12 05:51] #62065 closed

[2022-07-12 05:52] HongGit commented on #49003
This should have been fixed in .NET 6.0.

Feel free to reactivate this if that is not the case.

[2022-07-12 05:52] #49003 closed

[2022-07-12 05:59] SilentCC opened #71994 "System.IndexOutOfRangeException when using System.Text.Json 7.0 Preview 5 to do polymorphism serialize/deserialize"
### Description

Recently I noticed that System.Text.Json support polymorphism deserialization in [.NET 7 Preivew 5](https://devblogs.microsoft.com/dotnet/announcing-dotnet-7-preview-5/#polymorphism)
When I tried to using System.Text.Json to serialize **polymorphism class** that has a **nested structure**, it throwed an exception:

[code]

### Reproduction Steps

- System.Text.Json package version

[2022-07-12 06:02] #69734 closed

[2022-07-12 06:14] ilonatommy commented on #68360
I'm facing a very similar issue on unconnected PRs ([Run](https://dev.azure.com/dnceng/public/_build/results?buildId=1867809)) on:
- net7.0-Linux-Release-x64-Mono_Release_LinuxBionic-Ubuntu.1804.Amd64.Android.29.Open
- net7.0-Linux-Release-arm64-Mono_Release_LinuxBionic-Windows.10.Amd64.Android.Open
The error:
[code]
It looks the same as above, just different platforms.

[2022-07-12 06:42] radical opened #71995 "`System.Net.Quic.Functional.Tests` crash on coreclr/windows/x64"
Hit on unrelated PR https://github.com/dotnet/runtime/pull/71875.
[build](https://dev.azure.com/dnceng/public/_build/results?buildId=1873866&view=logs&jobId=55b384d0-d6b0-5894-fd8a-d754d713246e&j=55b384d0-d6b0-5894-fd8a-d754d713246e&t=8dcacd81-cb5e-5ac9-93e5-c3f19b19e19b), and [log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-71875-merge-82003482303e48ceb6/Syste

[2022-07-12 06:43] #68604 closed

[2022-07-12 06:44] #71561 closed

[2022-07-12 06:49] Atulin commented on #66773
You're right, yeah. `OrderedDictionary` and `SortedSet` then

[2022-07-12 06:52] mayadav1 opened #71996 "Error while building main branch of runtime"
I am facing below error message while building main branch of runtime .

ninja: error: mkdir(libs-native/System.IO.Compression.Native/CMakeFiles/System.IO.Compression.Native-Static.dir/C_/Us
  ers/mayadav1/Desktop/manoj/net7mainbranch/runtime/src/native/external): No such file or directory
  ninja: build stopped: .
  BUILD: Error: native component build failed. Refer to the build log files for det

[2022-07-12 06:53] runfoapp[bot] opened #71997 "system.net.security.tests work item timeout on mono"
Runfo Tracking Issue: [system.net.security.tests work item timeout on mono](https://runfo.azurewebsites.net/tracking/issue/359)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Results|Run Client|
|---|---|---|---|---|---|---|---|
|[1874711](https://dev.azure.com/dnceng/public/_build/results?buildId=1874711)|[runtime](https://dnceng.visualstudio.com/public/_build?definitionId=686)|[PR 71203]

[2022-07-12 07:03] TeddyAlbina commented on #33083
void is System.Void struct in dotnet

[2022-07-12 07:15] AberHatschi opened #71998 "DataSet corrupting Form Designer Code in NET 6"
### Description

So if you create a class something like

`Public Class Test1 Inherits Control End Class`

and compile so you are able to drag this class onto your form. The designer will create these lines:
`Friend WithEvents Testcontrol1 As testcontrol`
`Me.Testcontrol1 = New ProjectName.testcontrol()`

In this case the designer recognizes ProjectName as a Namespace

However if you add now a Dat

[2022-07-12 07:53] BickelLukas commented on #51924
Seems to work now!

[2022-07-12 07:53] #51924 closed

[2022-07-12 08:11] EgorBo commented on #52313
Don't they look fine on the global picture? e.g.
![image](https://user-images.githubusercontent.com/523221/178442352-1e0d3b15-59bf-4cba-bb7c-9dc7e01c1ec4.png)

[2022-07-12 08:11] roji commented on #63630
@xygon and others, I have an experimental version of the System.Data.Odbc package with the limit removed, and I'd like your help in verifying it. Could you please write to my email (on my github profile) and I'll share it?

[2022-07-12 08:19] jakobbotsch commented on #71931
Looks like that is coming from this line of bash:
https://github.com/dotnet/runtime/blob/cf8327316337d7909a00e6207c7335adf1078f04/src/tests/Common/CLRTest.CrossGen.targets#L65
I guess `scriptPath` is not set to anything so this is incorrect syntax, cc @trylek

[2022-07-12 08:35] ViktorHofer commented on #53002
@jeffhandley I don't think belongs in area-Infrastructure, at least this isn't actionable on our side.

[2022-07-12 08:36] jakobbotsch commented on #71987
This looks like a GC hole in JIT's codegen. The test is computing the offset of a field in the following way:
[code]

The JIT produces:
[code]
the 32-bit subtraction is illegal, `esi` cannot contain the lower half of a byref this way.

[2022-07-12 08:49] krwq commented on #71960
IMO following behavior which is proposed here feels like designing APIs around linker. In both cases `null` gets translated tot he same instance the only difference is that in this proposal it happens in some seemingly magic moment in time (we as devs know that moment but I doubt trying to explain that to anyone will make sense)

[code]

current behavior:

[code]

it just feels more consistent the

[2022-07-12 08:51] krwq commented on #71964
See my example here:

https://github.com/dotnet/runtime/pull/71908#issuecomment-1180374414

also `null` defaulting to `do what options do` is more consistent with the rest of the framework (and also seems NSJ) than `override default options behavior and always serialize`

[2022-07-12 08:53] tmds commented on #70311
Yes, I was suggesting this approach in https://github.com/dotnet/runtime/issues/70311#issuecomment-1157686760.

https://github.com/dotnet/runtime/pull/72000 implements it.

[2022-07-12 08:58] vitek-karas commented on #71993
This has been discussed at length here: https://github.com/dotnet/runtime/issues/3816. https://github.com/dotnet/runtime/issues/71288 is also related (and there are other issues about basically the same thing).
We are reconsidering improving this in .NET 8.

Please note that it can't (should not) use the same UI as .NET Framework - .NET Framework is part of Windows OS itself. .NET (5+) is not part

[2022-07-12 08:58] #71993 closed

[2022-07-12 09:03] gfoidl opened #72004 "Codegen: Bound check not elided in ref struct Span field index access"
Repro:
[code]
Codegen (x64):
[code]

Workaround: fetch the span to a local.
[code]

When the index is not constant (here 3), the same issue occurs.

<details>
  <summary>Complete listing of code (C#)</summary>

[code]
</details>

<details>
  <summary>Complete listing of generated code</summary>

[code]
</details>

Cf. https://github.com/dotnet/runtime/pull/67448#discussion_r918311418

[2022-07-12 09:12] NewUserHa commented on #71993
I think since .NET Framework will not get newer versions and .NET 5+ is the successor, so Microsoft Windows should have a nice way to get the cool features from the newer version .NET.
an advantage of .NET is that it does need not users to download runtime, since it's supported by the OS. Therefore I think Microsoft Windows should keep supporting the .NET 5+ just like it supports the old .NET Fram

[2022-07-12 09:19] NewUserHa commented on #71993
should post the above one to https://github.com/dotnet/runtime/issues/71284?

[2022-07-12 09:28] Tanya-Solyanik opened #72006 "TypeConverter.ConvertFrom does not support trimming but is not attributed as such."
### Description

For example: https://source.dot.net/#System.ComponentModel.TypeConverter/System/ComponentModel/TypeConverter.cs,49

Type to convert to/from is passed in as a System.Object type which is cast to a string representing type name or a Type descriptor. Object type is not working well with assembly trimming and winforms code has to add opt-out attributes -
[code]

https://docs.microsoft

[2022-07-12 09:31] EgorBo commented on #72004
I don't see any bound checks in Main:
![image](https://user-images.githubusercontent.com/523221/178459063-a5f0940c-0d3d-4515-8a0c-1ba0dd462416.png)

[2022-07-12 09:40] Tanya-Solyanik opened #72008 "ITypeResolutionService.GetType is not decorated with RequiresUnreferencedCode attribute"
### Description

Types that implement ITypeResolutionService interface should be able to find "known" types and report "unknown" types as missing, this interface is not compatible with assembly trimming.

### Reproduction Steps

This prevents derived types in winforms from consuming the latest Arcade - https://github.com/dotnet/winforms/pull/7376

### Expected behavior

[code]

### Actual behavior

[2022-07-12 09:42] krwq commented on #71984
@Emeka-MSFT I'd suggest contributing to the library here. I think (I might be wrong) that having more than 64 parameters on the constructor is rather rare. IMO:
- we should not add public APIs to control this
- ok to increase the limit
- let's make sure we don't make scenarios of less than 64 args slower but anything above can be much slower (if it can be fast that's fine but priority should be to

[2022-07-12 09:45] krwq commented on #71962
is this consistent repro? this looks more like something wrong with machine rather than JSON

[2022-07-12 09:58] gfoidl commented on #72004
Hm, interesting. Tried it with https://github.com/dotnet/installer version 7.0.100-preview7.22362.1 (win-x64, current main as of now), and there is a bound-check.
Was there a recent change in JIT? How does the codegen look when this method is called -- it's small enough to be inlined, then I saw the bound-check. Didn't look in isolation to that method.

[2022-07-12 10:38] EgorBo commented on #72004
![image](https://user-images.githubusercontent.com/523221/178471800-cefec15b-65c7-441a-95ff-53186a6d24fc.png)

[2022-07-12 10:38] ilonatommy opened #72009 "[wasm][debugger] Fix previous frame evaluation in Firefox"
In tests for Chrome we are sending the information about the `scopeId` when asking for `onEvaluate`. Thanks to that such tests as `EvaluateStaticFieldsFromDifferentNamespaceInDifferentFrames`, e.g. case
[code]
work. In Firefox we are sending this info to `DebuggerTestFirefox.EvaluateOnCallFrame` as `id` and then we do not pass it any further to the Debugger Proxy. In Debugger Proxy we always assum

[2022-07-12 10:48] krwq commented on #71962
@jakobbotsch this seems like it happened in the same run 2min apart from each other (`7/11/2022, 10:18:42 AM` & `7/11/2022, 10:16:39 AM`) but machines do in fact look like they're different: a000XKI & a000XJR. I'm curious if there was some external factor perhaps.

I'd be interested in seeing if we have more instances of this before investigating.

[2022-07-12 10:55] jakobbotsch commented on #71962
libraries-jitstress runs many scenarios (different environment variables) and triggers multiple helix job runs simultaneously, so it is not surprising that the timestamps are close to each other since indeed the pipeline run that triggered them is the same.

[2022-07-12 10:57] davmason commented on #71331
I verified on my machine that I hit it almost 100% when the machine was at 100 CPU usage, and after the fix in #72010 it passes every time.

The only way this could not be a timing issue is if somehow the JIT recognizes that the code here doesn't actually do anything and removes it. From my understanding that is not currently something the JIT would do. https://github.com/dotnet/runtime/blob/246f2

[2022-07-12 11:06] jakobbotsch commented on #71962
I do see pretty significant memory usage in this test when running it locally:
![image](https://user-images.githubusercontent.com/7887810/178476292-df0e2a78-ef7b-4ead-bd38-213f2f4ad9e8.png)

[2022-07-12 11:14] CarnaViire commented on #56851
Tracked in #71995

[2022-07-12 12:05] eiriktsarpalis commented on #71960
cc @jkotas @eerhardt who might have opinions on the matter.

I don't think "designing APIs around the linker" is the right way to look at this. It is about designing a type that works for scenaria beyond the narrow scope of reflection-based serialization. If we do ship `JsonSerializerOptions` with the current semantics/annotation, the type will be forever coupled to reflection-based serialization:

[2022-07-12 12:10] ilonatommy commented on #43184
This issue got fixed in wasm debugger in https://github.com/dotnet/runtime/issues/63082. As the result, sorting by protection level works fine in Browser. It does not work in VS yet though. Checking the communication between Debugger Proxy and VS it turns out that we are sending the CDP message correctly: properties are separated into 3 groups:
[code]
Then, a wrong DAP response is created based on

[2022-07-12 12:43] SamJongenelen commented on #64430
Another example would be running a ServiceFabric cluster containing a lot of dotnet modules, all using the exact same runtime.
My interest would purely be reducing the total applications` size.

[2022-07-12 12:47] krwq commented on #69420
Possibly but we're guessing, we'd need more data telling us that it would be useful i.e. more users responding here with their scenarios and possibly upvoting.

XML has been generally in maintenance mode for some time (since most of the people moved away to JSON) so we avoid adding any new APIs unless there is strong need.

We can leave this issue open for some time and wait for other people respo

[2022-07-12 12:53] antonfirsov opened #72015 "HTTP/2 stress tests failing massively"
[Example log](https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_apis/build/builds/1873683/logs/12)

They are reporting a `ProtocolException` with `INTERNAL_ERROR`. From a quick look it looks like the first failure appeared on June 30, after merging #71345.

[2022-07-12 12:58] krwq commented on #63861
There two other OutOfMemory issues I've noticed:
https://github.com/dotnet/runtime/issues/71962
https://github.com/dotnet/runtime/issues/67943

I'm not sure they're related but it might be useful hint for whoever is investigating

[2022-07-12 12:59] ManickaP commented on #71995
Interestingly, it didn't surface on #71579. This will be properly solved with #71783, but I'll put up a quick fix in the meantime.

[2022-07-12 13:07] eiriktsarpalis commented on #71962
Since this concerns unit testing for the source generator, wonder whether this could be related https://github.com/dotnet/runtime/pull/71653

cc @CyrusNajmabadi

[2022-07-12 13:07] ahmed-salem-me commented on #71592
@radical , we have several people failing to publish with .net version on different machines with different projects, even empty ones using our framework which is based on blazor.
it runs for long hours and doesn't give errors

[2022-07-12 13:07] ilonatommy commented on #43184
This work is blocked by:
- https://github.com/microsoft/vscode-js-debug/issues/1331 (correcting display of `public` members in VS)
- https://github.com/dotnet/runtime/pull/71148 (JustMyCode would start working correctly).
Then we should make sure inherited members are popped into the right group: `result` or `private`.

[2022-07-12 13:12] EgorBo commented on #72004
hm.. actually it might be PGO... 🤔

[2022-07-12 13:14] JosieBigler commented on #68840
I'd be interested in making the above changes @Jehoel outlined. In terms of testing, would that be a new `Assertion` in the current `Theory` or a new `Theory`?

[2022-07-12 13:19] EgorBo commented on #72004
So, in some cases JIT doesn't eliminate bound checks inside cold blocks - it's pretty normal behavior to me. So an example where it happens in non-cold block would be nice to have.

Example:
[code]

Here is the codegen for `Set` in Tier1 with PGO enabled:
[code]
Now let me change the call from `f.Set(1)` to `f.Set(100)` so we will never step into the condition inside Set, the codegen will be:
[cod

[2022-07-12 13:30] janvorli commented on #66568
Unfortunately the #69906 doesn't fix the problem.

[2022-07-12 13:55] jkotas commented on #53002
@janvorli Can we check how much TLS is consumed by .NET runtime - just to make sure that it is reasonable?

Otherwise, I think this can be closed. There is not much we can do about this in .NET runtime.

[2022-07-12 14:01] eerhardt commented on #72006
Not all TypeConverters require unreferenced code, and the contract itself -`TypeConverter.ConvertFrom` - doesn't inherently require unreferenced code. For example converting the string `"4.5"` to the double `4.5` doesn't require unreferenced code.

I don't think we should mark the virtual method as `RequiresUnreferencedCode`. Instead, if you have a derived TypeConverter that is not trim-safe, you

[2022-07-12 14:06] janvorli commented on #68511
Based on Kusto, this has been happening in the `readytorun\coreroot_determinism\coreroot_determinism\coreroot_determinism` test once or twice a week during the last 30 days or so.

[2022-07-12 14:13] eiriktsarpalis commented on #71984
This is where this upper bound is being used:

https://github.com/dotnet/runtime/blob/0a68c2029a1dcf962b6f488c860fa062b41c1262/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/ReflectionEmitMemberAccessor.cs#L79-L106

I might be missing something, but this restriction seems artificial to me. The constructor is compiled to a `Func<object[], T>` delegate so arities should b

[2022-07-12 14:21] janvorli commented on #37310
It seems that all the questions have been asnwered, closing the issue.

[2022-07-12 14:21] #37310 closed

[2022-07-12 14:26] #65187 closed

[2022-07-12 14:27] stephentoub commented on #66009
These have all recovered or significantly improved.

[2022-07-12 14:27] #66009 closed

[2022-07-12 14:28] stephentoub commented on #66014
This has recovered.

[2022-07-12 14:32] kevingosse opened #72023 "ICorProfileCallback:ThreadDestroyed race condition on shutdown"
### Description

We noticed some crashes with our profiler during calls to `DoStackSnapshot`, with an error code `0x8013135E` (`CORPROF_E_STACKSNAPSHOT_INVALID_TGT_THREAD`). Upon further inspection, it seems to happen when the thread dies before `DoStackSnapshot` has time to suspend it.

[This article](https://github.com/dotnet/runtime/blob/05473449c1db9edbbbc565b39d73a59bf517de96/docs/design/core

[2022-07-12 14:33] #70022 closed

[2022-07-12 14:40] stephentoub commented on #69140
Minimal difference, not actionable.

[2022-07-12 14:40] #69140 closed

[2022-07-12 14:51] steveharter commented on #70289
Verified as issue. Simple repro:
[code]

[2022-07-12 14:54] wfurt commented on #71997
[code]

looks like infrastructure issue. Any idea @MattGal ?

[2022-07-12 14:54] steveharter commented on #70289
This is likely an issue that does not properly detect a cycle with value types, which are not allowed.

[2022-07-12 14:55] wfurt commented on #71997
cc: @marek-safar since this seems mono specific

[2022-07-12 15:03] radical commented on #71981
Oops, sorry, missed this one!

[2022-07-12 15:13] vitek-karas commented on #72008
As mentioned in https://github.com/dotnet/runtime/issues/72006 we are very careful about annotating virtual methods (on class or interface) as trim-incompatible. Annotating the interface method this way basically makes a statement that all implementations of the interface are trim-incompatible - which we can't know.

I can envision an implementation of the GetType method which has a switch over co

[2022-07-12 15:14] richlander commented on #71993
I'll respond here.

We decided against integrating .NET Core into Windows, back before 1.0 shipped. We want new .NET versions to be available in all supported Windows versions on .NET ship dates. That includes previews. That's not possible with software that is integrated into Windows. While I agree that there would be some advantages if .NET 6 was built into Windows, there would be significant di

[2022-07-12 15:16] gfoidl commented on #72004
This is what I'd except too. But when run via BenchmarkDotNet it should be hot enough to get "optimized" Tier-1 code.
Also "NoInlining" isn't like real-world usage here (I know you know this, of course).

May this be related to something in BDN and a preview version of .NET?

[2022-07-12 15:20] eerhardt commented on #72008
`ITypeResolutionService` might be an exception here. I could imagine it being marked as `RequiresUnreferencedCode`.

https://github.com/dotnet/runtime/blob/c9feedf55ea613a2b9220fe6b9e8feda2aa72287/src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/Design/ITypeResolutionService.cs#L7-L12

1. It is in the "Design" namespace
2. It's summary says "load types at design time".
3

[2022-07-12 15:20] performanceautofiler[bot] opened #72030 "[Perf] Changes at 7/5/2022 10:32:06 PM"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Baseline | [338db1a1ba498f308797ce7a54c0ed54e7286d50](https://github.com/dotnet/runtime/commit/338db1a1ba498f308797ce7a54c0ed54e7286d50)
Compare | [ffcb0149763663a55a79784be216afe81f6bf76c](https://github.com/dotnet/runtime/commit/ffcb0149763663a55a79784be216afe81f6bf76c)
Diff | [Diff](https://github.com/dotnet/runtime/compare/338db

[2022-07-12 15:21] performanceautofiler[bot] opened #72026 "[Perf] Regressions in System.Tests.Perf_String"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Baseline | [49288b4ebea7f1792fbd1e09726cb7ee21aa1088](https://github.com/dotnet/runtime/commit/49288b4ebea7f1792fbd1e09726cb7ee21aa1088)
Compare | [c9feedf55ea613a2b9220fe6b9e8feda2aa72287](https://github.com/dotnet/runtime/commit/c9feedf55ea613a2b9220fe6b9e8feda2aa72287)
Diff | [Diff](https://github.com/dotnet/runtime/compare/49288

[2022-07-12 15:21] performanceautofiler[bot] opened #72025 "[Perf] Regressions in System.Buffers.Tests.ReadOnlySequenceTests<Char>"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Baseline | [d5f084e5a36eec83f60beccfed9ded3f4473a5bf](https://github.com/dotnet/runtime/commit/d5f084e5a36eec83f60beccfed9ded3f4473a5bf)
Compare | [a959c3ee2f4ae21e1eb3a6d8f4089ecdea76d649](https://github.com/dotnet/runtime/commit/a959c3ee2f4ae21e1eb3a6d8f4089ecdea76d649)
Diff | [Diff](https://github.com/dotnet/runtime/compare/d5f08

[2022-07-12 15:22] JulieLeeMSFT commented on #71519
@AndyAyersMS PTAL this blocking outerloop test failure.

[2022-07-12 15:25] NewUserHa commented on #71993
I didn't mean "integrate .NET core to windows", I mean Windows benefit from .NET(including .net framework), so windows should provide a nice way for end-users to update/download .NET 5+ runtime, instead of something like JRE

I didn't say .NET should treat windows special.
I mean since .NET 5+ is the successor of .NET Framework, it should benefit from that updater UI from windows too, which is coo

[2022-07-12 15:31] radical commented on #71592
@ahmed-salem-me can you run the build with `/v:diag`? That will produce a very verbose log on the console, so you need to redirect that to a file, then share that file.
I'm planning to add some stuff to the process so we can show details of the progress when it takes too long.

[2022-07-12 15:31] mangod9 commented on #63106
Assigning to Jeremy for now and leaving it in 7.0. Please move based on risk.

@trylek fyi.

[2022-07-12 15:32] vitek-karas commented on #71993
Not a solution, but related: We do offer updates (not clean installs) of .NET through Microsoft Update.

[2022-07-12 15:35] vitek-karas commented on #71027
The workaround is in the SDKs - so in your case for example Serilog.App. It's runtimeconfig needs to list the `Microsoft.NETCore.App` as the last dependency (and all of the others need to do that as well). I tried this locally with the original repro and it "Fixed" it.

[2022-07-12 15:38] NewUserHa commented on #71993
but win10 users still get that blur error window, when use .NET 6 apps, so I think the UI updater from .NET Framework should be the better solution.

[2022-07-12 15:39] Emeka-MSFT commented on #71984
@eiriktsarpalis, yes, it seems artificial to me as well.
@krwq, I can make a short term fix and send a PR.

**Two Fix Options:**
There are two short-term fixes that I can create:
1. Increate the max from `64` to (e.g.) `256` for now.
2. Remove the [test for max-params](https://github.com/dotnet/runtime/blob/0a68c2029a1dcf962b6f488c860fa062b41c1262/src/libraries/System.Text.Json/src/System/Text/Jso

[2022-07-12 15:42] danmoseley commented on #71003
As it's terminal and flaky product I'd suggest a 7.0 fix.

[2022-07-12 15:59] buyaa-n commented on #68840
Thanks @JosieBigler, assigning to you. If it is covered well with current tests then no need to add new tests, just need to fix the current test behavior, could not say for sure as I did not check the existing tests. you would see test  coverage after fixing the issue and running the tests

[2022-07-12 16:01] krwq commented on #71984
I'm wondering why the limit was added in the first place... We should definitely add a test with some large number of args (something artificially generated) to make sure there is no weird issues like corrupted stack or similar. Assuming no issues I agree we should remove limit

[2022-07-12 16:05] jkotas commented on #53002
These sizes are like 2x more than I would expect. Could you please dump the symbols from the TLS section so that we can tell where it is coming from?

[2022-07-12 16:12] janvorli commented on #58045
@DrewScoggins does this issue still occur?

[2022-07-12 16:18] AndyAyersMS commented on #71909
Seems like this could be handled by value numbering:
[code]
If VN sees a helper with a known type handle it could create a pseudo-constant for the type object. This would allow it to optimize the `EQ` and hopefully we'd then be smart enough to dead code the helper calls.

We could do likewise for GetType...

[2022-07-12 16:26] #71995 closed

[2022-07-12 16:33] DrewScoggins commented on #72026
Seems related to https://github.com/dotnet/runtime/pull/71659

[2022-07-12 16:33] ManickaP opened #72027 "[QUIC] QuicConnection API follow up"
- [ ] it should AFAIK. It would be nice to have some assert about it. It differs among platforms but MsQUIC now uses native layout e.g. same as SocketAddress.

_Originally posted by @wfurt in https://github.com/dotnet/runtime/pull/71783#discussion_r919126830_

- [ ] It would be nice to throw or at least log. I know this is what we we in SslStream for historical reasons but the failures when we sil

[2022-07-12 16:35] DrewScoggins commented on #72026
Related regressions https://github.com/dotnet/perf-autofiling-issues/issues/6704

[2022-07-12 16:43] DrewScoggins commented on #72026
Also related: https://github.com/dotnet/perf-autofiling-issues/issues/6700

[2022-07-12 16:43] DrewScoggins commented on #72025
Also related: https://github.com/dotnet/perf-autofiling-issues/issues/6700

[2022-07-12 16:43] Jozkee commented on #68734
Thanks to @jonathanpeppers for consuming our previews and reporting the issue.

[2022-07-12 16:43] DrewScoggins commented on #72025
Seems related to https://github.com/dotnet/runtime/pull/71687

[2022-07-12 16:53] AndyAyersMS commented on #71909
Or since we already have a VN func for this helper, we could just key off that.

[2022-07-12 16:55] richlander commented on #64430
Can you do some back-of-the-napkin math and tell us how much size you think you'd save?

[2022-07-12 16:55] eerhardt commented on #31094
I chatted a bit with @vitek-karas about this yesterday. Being able to put all the "JSON source gen information" (i.e. JsonTypeInfos / JsonSerializerContext, or an instance of JsonSerializer) into DI makes a lot of sense to me. This could be a nice way for ASP.NET to use the JSON source generated code when they serialize objects.

One scenario that might need thinking about is if you want to serial

[2022-07-12 16:59] vitek-karas commented on #71848
https://github.com/dotnet/linker/pull/2889 has a fix to make linker not crash.

[2022-07-12 16:59] Emeka-MSFT commented on #71984
How long does it normally take for fix to be publicly released?

[2022-07-12 17:05] krwq commented on #71984
If we merge fix today before 4PM Redmond (today is snap date) it will be available in Preview 7 (release around Aug 9) if fix is made before Aug 12 then RC 1 release is around Sep 13

[2022-07-12 17:06] vitek-karas commented on #31094
I think another important capability which ASP.NET would probably make use of is the ability to "merge" several such instances. For example let's say my app uses a library FabulousObjects which contains source generated serialization code for its objects because it calls into ASP.NET on my app's behalf. But my app also contains other source generated code for app's objects, which again are seriali

[2022-07-12 17:11] #71987 closed

[2022-07-12 17:17] AraHaan commented on #71027
Perhaps my attempt to workaround it was not matching what you did. Mind if I can see what you did different to fix it?

[2022-07-12 17:19] stephentoub opened #72036 "Hitting LibraryImport asserts in VS"
I cleaned and sync'd to latest this morning:

![image](https://user-images.githubusercontent.com/2642209/178553745-4d37b62a-5a53-48cc-a92a-a58338de2920.png)

[2022-07-12 17:33] elinor-fung commented on #72036
I think this from trying to look for v1 shapes on string marshallers - some bad effect of moving to v2 for string marshallers while we still have v1 support?

I expect https://github.com/dotnet/runtime/pull/71989 would fix this, since it removes the v1 path and its asserts.

[2022-07-12 17:34] MattGal commented on #71997
Taking a peek...

[2022-07-12 17:39] richlander commented on #71284
I responded at https://github.com/dotnet/runtime/issues/71993#issuecomment-1181888306

[2022-07-12 17:43] jeffhandley commented on #71259
@ww898 With the updates in dotnet/core#7513, Ubuntu 18.04+ will be supported. I understood from your report that 18.04 was working as expected, but 16.04 was failing. I'll close the issue with that understanding, but please let me know if I misunderstood and we can reopen if 18.04 is not working for you.

[2022-07-12 17:43] #71259 closed

[2022-07-12 17:44] MattGal commented on #71997
@wfurt can you share the correlation id or work item id where you're getting this log?  At least the first four linked runs this doesn't appear in the logs for system.net.security.tests so I can't investigate without that detail.

[2022-07-12 17:52] radical commented on #71592
Or use `/fl /flp:v=diag`, and that will generate a `msbuild.log`.

[2022-07-12 18:03] danmoseley commented on #71607
@jeffhandley following up re being in last 6 month phase of 3.1 lifecycle.

[2022-07-12 18:04] tfenise commented on #72039
#6924

[2022-07-12 18:05] janvorli commented on #53002
Here are the numbers from
This is for coreclr:
[code]

And this for JIT:
[code]

[2022-07-12 18:06] terrajobst commented on #69675
* Looks good as proposed, given that it's in preview.

[code]

[2022-07-12 18:12] steveharter commented on #71984
@GrabYourPitchforks do you recall a discussion around an upper limit? I believe the algorithm is O(n2) so it may be related to that.

[2022-07-12 18:13] eiriktsarpalis commented on #71981
@radical PTAL at this comment: https://github.com/dotnet/runtime/pull/71875/files#r919266335

Judging by the original code in this change, this appears to be a regression in System.Uri contructor validation.

[2022-07-12 18:13] agocke commented on #31094
Having an "instance" serializer makes a lot of sense to me. The interesting pivot point to me is the concept of having a "serializer" vs a "serialization context".

What I mean by that is that we could consider three separate levels of serialization state.

At the highest level we have a static `Serialize` method that takes a type and some options, and preferably consumes no global state at all. T

[2022-07-12 18:17] jeffhandley commented on #71607
The issue as submitted does not describe enough impact to support backporting this to .NET Core 3.1. @Maxyeah, if this issue is substantially impacting a production application (as opposed to tests), you don't have a workaround, and you can't immediately move to .NET 6.0, please let us know more of that context for us to reconsider.

We have approved the fix for port to 6.0.

[2022-07-12 18:22] terrajobst commented on #71352
* Let' use `Get`

[code]

[2022-07-12 18:23] richlander commented on #71993
Which UI updater are you thinking of? Is that the one for .NET Framework 3.5 apps? If so, that's only available to Windows components.

[2022-07-12 18:28] jkotas commented on #53002
I was missing the PAL exception handling, but that is hard to fix. It is part of the larger problem of eliminating the PAL.

[2022-07-12 18:28] #53002 closed

[2022-07-12 18:29] eiriktsarpalis commented on #71981
I think simply reverting the accidental change would be good for now.

[2022-07-12 18:29] wfurt commented on #71997
Console log: 'System.Net.Security.Tests' from job b06c709d-4d98-4ff3-860e-0654faf7d5d7

https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-71725-merge-b06c709d4d984ff386/System.Net.Security.Tests/1/console.710c0d9a.log?%3F%253Fhelixlogtype%253Dresult

I clicked through more links and this seems to be mix of reasons runoff incorrectly lump together. ;(

[2022-07-12 18:33] EgorBo commented on #72004
Ok, I think I can reproduce yeah

[2022-07-12 18:33] terrajobst commented on #71775
* We don't like the proposed name `AcquireAsync` as it would imply that the existing sync `Acquire` method is the non-async counterpart, which some tooling also depends on (e.g. code fixer in async context).
    - We decided on `WaitAndAcquireAsync`

[code]

[2022-07-12 18:38] EgorBo commented on #72026
While these regressions are unfortunate, it seems that there are way more improvements from that PR than regressions, e.g. https://github.com/dotnet/perf-autofiling-issues/issues/6724

[2022-07-12 18:42] MichalPetryka commented on #71909
Does it also handle the case from https://github.com/dotnet/runtime/pull/71685#issuecomment-1179782811?

[2022-07-12 18:44] AndyAyersMS commented on #71909
Looks like it should, yes.

[2022-07-12 18:49] AndyAyersMS commented on #69323
@Martin-Molinero 6.0.7 is now out and hopefully fixes this and other issues you ran into with PGO: https://devblogs.microsoft.com/dotnet/july-2022-updates/

Let me know you get a chance to try it out.

[2022-07-12 18:50] AndyAyersMS commented on #69621
6.0.7 is out with the fix, so closing this.

https://devblogs.microsoft.com/dotnet/july-2022-updates/

[2022-07-12 18:50] #69621 closed

[2022-07-12 18:53] AndyAyersMS commented on #71519
Seems like a failure in crossgen2, but I'll dig in and get more info.

[2022-07-12 18:54] NewUserHa commented on #71993
maybe it is?
because .NET Framework eventually will become outdate, so better make that useful for the new .NET 5+? This way can also make .NET 5+ more popular as well!

[2022-07-12 18:59] alexandrehtrb commented on #62730
I imagine that using a Regex in StringBuilder would save memory compared to converting the StringBuilder to string first, then applying the Regex.
I think this feature is quite interesting.

[2022-07-12 19:05] cpurdy999 commented on #71902
In almost all cases I would be using this I would be writing and reading the same type, so I really like Immo's idea of providing a default of assume source matches `TSelf`

[2022-07-12 19:08] terrajobst commented on #71902
* Looks good as proposed.
    - Note: The top six will all be DIM'ed

[code]

[2022-07-12 19:13] filipnavara commented on #71902
I feel there's a weird disparity between the Write methods (eg. `uint.TryWriteBigEndian`) that write 4 bytes without telling you whether it is signed or unsigned (and which don't zero-prefix unsigned numbers with MSB set). If you wanted to use a combination of a generic write (`TryWriteBigEndian`) followed by generic read (`TryReadBigEndian`) what would you pass for `isUnsigned` if you really know

[2022-07-12 19:19] tannergooding commented on #71902
All number types expose the relevant information here. You can always determine if the source value is positive or negative (and therefore unsigned or signed). You can determine if the destination type is signed or unsigned as well (via properties or via `is IUnsignedNumber` and `is ISignedNumber`).

[2022-07-12 19:26] giladfrid009 commented on #71902
I don't understand the need for `isUnsigned` parameter.
After all, the class / struct that implements the interface knows if it's value is signed or not, and even if it's passed to a generic method as `IBinaryInteger` the implementation itself is already correct.
for example:
`Int32` will implement read methods as `signed`
`UInt32` will implement read methods as `unsigned`

When both passed to a g

[2022-07-12 19:27] sksk571 commented on #61151
We moved the application to Linux AKS cluster and the issue stopped occuring. I still have the memory dump files demonstrating the issue, but it's not clear how to share them without disclosing sensitive data.

[2022-07-12 19:31] MihaZupan commented on #68581
Fixed for 7.0 in #69016 and backported to 6.0.8 in #70744.

[2022-07-12 19:32] #69669 closed

[2022-07-12 19:32] filipnavara commented on #71902
I agree, it just felt awkward at first sight.

It doesn't always know. For `BigInteger` the bytes `0xff_ff_ff` could mean a different thing whether it is defined as signed or unsigned (unless you enforce `0x00`-byte prefix as a differentiator). For other types it could differentiate between negative value and an overflow.

[2022-07-12 19:43] Youssef1313 opened #72047 "`UpgradeToRegexGeneratorCodeFixer` crashes with `InvalidCastException`"
### Description

Test:

[code]

### Expected behavior

No crash. The test should pass

### Actual behavior

Test fails

### Other information

The fix here is pass `true` for `getInnermostNodeForTie`. The fix was included in https://github.com/dotnet/runtime/pull/71264, but we're breaking down the PR now.

[2022-07-12 19:44] Youssef1313 commented on #72047
@joperezr I'll take care of this once https://github.com/dotnet/runtime/pull/72046 is merged. You can assign me :)

[2022-07-12 19:49] joperezr commented on #72047
Good catch, thanks for logging. I've assinged you since you already have the fix ready.

[2022-07-12 19:53] cpurdy999 commented on #71902
After all the confusion over isUnsigned (I also didn't understand the need for it initially) I think it's really important that it's called out in the docs why you need it, and probably a code example of what a user should do if their expectation is that they're consuming the output of an equivalent `Write` call for the TSelf they're given. (Effectively this would be the implementation of the defa

[2022-07-12 19:53] richlander commented on #71993
Are you referencing this dialog?

https://docs.microsoft.com/en-us/dotnet/framework/install/dotnet-35-windows

We don't have access to that. It isn't a feature available to third parties (which we are in this context).

[2022-07-12 20:05] ViktorHofer commented on #71559
I asked @ericstj to take a look as I'm unsure if bumping the CodeAnalysis version is sufficient to make this work.

[2022-07-12 20:21] ManickaP opened #72052 "[JSInterop] cannot build System.Net.Http.sln"
Probably fallout from https://github.com/dotnet/runtime/pull/66304

[code]

cc @pavelsavara

[2022-07-12 20:40] danmoseley commented on #70419
@dotnet/area-system-text-encodings-web  it looks like triage missed this. could we share whether this is something we'd consider? @GrabYourPitchforks may have an opinion here.

[2022-07-12 20:40] neon-sunset commented on #41128
If it helps, other features are detected since https://github.com/dotnet/runtime/commit/3580ba795d92444e99fe5a5bfa4883458a0d4ac5
While it doesn't cover all everything reported like Sha3 and Sha512, which might get support in JIT similar to other cryptography intrinsics, I guess all existing ARM-specific features are taken advantage of more or less since xplat Vector64/128/256 changes.

p.s.: Since

[2022-07-12 20:44] #71295 closed

[2022-07-12 20:44] AndyAyersMS commented on #71519
I can't repro this, and it's only failed once in the past 14 days (with over 500 successful runs in the meantime, though maybe not all on this particular config).

Since it's crossgen2 that is failing perhaps there is some bug in 7p5 (which is hosting crossgen2 here).

[2022-07-12 20:44] #71519 closed

[2022-07-12 20:48] eerhardt commented on #69245
@malylemire1 - If you'd like to move this scenario along, can you update this issue to follow the examples in [the template](https://github.com/dotnet/runtime/issues/new?assignees=&labels=api-suggestion&template=02_api_proposal.yml&title=%5BAPI+Proposal%5D%3A+)? That way we can bring it to API review.

Moving to `Future` as this scenario isn't critical for 7.0.

[2022-07-12 20:49] richlander commented on #71993
We won't be able to build an experience like feature on demand. Windows does not have a third party solution like that and we don't have a good technical path to building one.

[2022-07-12 20:50] Emeka-MSFT commented on #71984
OK, I made quick fix that quadruples the count from `64` to `256`, if that is ok.
[!72053](https://github.com/dotnet/runtime/pull/72053)

[2022-07-12 20:58] rhyous opened #72061 "DateTime.ToString("MMM", CultureInfo.CreateSpecificCulture("DE-de")) returns an extra period in netcore"
### Description
There is a breaking change in DateTime.ToString(string format,  IFormatProvider provider) that looks to be a bug. In german, de-DE, it is adding a extra period '.' in net6.0 that isn't added in net4.8

When running the same unit test for DateTime.ToString("dd MMM yyy") net6.0 fails while net4.8 works.

### Configuration

* Which version of .NET is the code running on? both net4.8 a

[2022-07-12 21:03] #71319 closed

[2022-07-12 21:32] zlsmith86 opened #72057 "System.DirectoryServices.Protocols.LdapConnection Methods in .NET 6 - Alpine Linux > 3.14"
### Description

When trying to access Ldap running on Alpine Linux it is looking for a specific version of libldap.  Once we updated the OS from 3.14 to 3.15, it changed the version of this library and caused a runtime issue.  I would request that it be able to work with any installed version of libldap

[code]

### Reproduction Steps

[code]
Run app on docker Alpine Linux version 3.15 or greater

[2022-07-12 21:32] #20234 closed

[2022-07-12 21:32] AaronRobinsonMSFT commented on #71890
I've found the issue and am now tracking down all the needed changes. This is related to how we pass `TypedReference` around and report the byref field to the GC.

[2022-07-12 21:36] steveharter commented on #69273
@[DaZombieKiller](https://github.com/DaZombieKiller)

For your scenarios, do you care about non-calling convention custom modifiers?

[2022-07-12 21:39] DaZombieKiller commented on #69273
Certainly not as much, though it would be nice to have the ability to handle them.

[2022-07-12 21:39] alrz commented on #71581
Exactly my point. I'm saying that the `GetOrCreate` extension *could* justify its existence by considering thread-safety. At the very least, that is what I'd expect from an API named "GetOrCreate"..

[2022-07-12 21:50] alexrp commented on #69273
FWIW:

Being able to introspect a function pointer `Type` is, if we're being realistic, effectively useless if you can't know the calling convention. Any result you produce based on the information you have at hand is strictly speaking going to be incorrect.

Imagine having a nominal `Type` that you can introspect for its fields, methods, etc but you can't ask if it's a class or a struct. Or a `Me

[2022-07-12 21:53] jtschuster opened #72060 "System.Threading.RateLimiting.Tests.PartitionedRateLimiterTests.AllIdleLimitersCleanedUp_DisposeThrows failed in rolling build on net7.0-windows-Release-x86-CoreCLR_checked-Windows.10.Amd64.Open"
[Build](https://runfo.azurewebsites.net/view/build/?number=1873896), [Log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-5928ea518b814997b5/System.Threading.RateLimiting.Tests/1/console.d9650dfa.log?%3Fhelixlogtype%3Dresult)

[code]

First instance of the test failing

[2022-07-12 22:01] jtschuster commented on #65119
Hit again in rolling build [1873896](https://runfo.azurewebsites.net/view/build/?number=1873896) on `net7.0-windows-Release-x86-CoreCLR_checked-Windows.10.Amd64.Open`
[Log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-5928ea518b814997b5/System.IO.FileSystem.Tests/1/console.ddd4dfc7.log?%3Fhelixlogtype%3Dresult)

[2022-07-12 22:08] jtschuster commented on #67152
Looks like this might have been hit again in rolling build [1874165](https://runfo.azurewebsites.net/view/build/?number=1874165), but it's on arm (`net7.0-Linux-Release-arm-CoreCLR_checked-(Alpine.314.Arm32.Open)Ubuntu.1804.ArmArch.Open@mcr.microsoft.com/dotnet-buildtools/prereqs:alpine-3.14-helix-arm32v7-20210910135806-8a6f4f3`).
[Log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet

[2022-07-12 22:13] MichalPetryka commented on #72061
Does this reproduce with `DOTNET_SYSTEM_GLOBALIZATION_USENLS` set to 1?

[2022-07-12 22:18] tarekgh commented on #72061
Please have a look at https://github.com/dotnet/runtime/issues/68385#issuecomment-1107152290 for the explanation. I am closing the issue but feel free to send any follow up questions and I'll be happy to help with.

Also, please have a look at the doc https://docs.microsoft.com/en-us/dotnet/core/extensions/globalization-icu for more information regarding the globalization behavior difference betwe

[2022-07-12 22:18] #72061 closed

[2022-07-12 22:20] tarekgh commented on #72061
We don't recommend enabling the NLS mode except if it is crucial to have its behavior. Moving forward, NLS is a legacy behavior which will deviate from the current behavior. Also will cause inconsistency with other platforms (Linux, MacOS,...etc).

[2022-07-12 22:48] VSadov commented on #71507
Looks like I assumed that every scenario where R2R is enabled goes through MAPMapPEFile.

I think we could make it work for byte arrays.
Another alternative is to just disable R2R in such case.

I wonder what happens on Windows?

[2022-07-12 22:53] MaximMikhisor commented on #44855
Please implement this feature.

[2022-07-12 23:02] #71191 closed

[2022-07-12 23:02] danmoseley commented on #62730
We added `ReadOnlySpan<char>` overloads to Regex methods this release to reduce the need to materialize a string simply to run a regex on it. The problem is that StringBuilders are (in general) a linked list of buffers.  The existing regex engines would need significant work to be able to run over a list of buffers. This is essentially the "streaming regex" feature. As far as I'm aware, most engin

[2022-07-12 23:11] danmoseley commented on #62730
@egvijayanand just curious what you have in mind by 'efficient' here. Would the primary win for you be - not creating strings from StringBuilders? Or not creating strings when you do replacements?

If most of the allocations are the replacing part, you can of course do that without creating strings -- just implement Replace yourself. Also, if it would be used enough, Regex could add Replace overlo

[2022-07-12 23:20] Foxtrek64 opened #72064 "[API Proposal]: TimeSpan - Parse ISO8601 Durations"
### Background and motivation

Currently I am integrating with a JSON REST API which returns its timespans formatted as [ISO8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations). Attempting to parse these values with `TimeSpan.Parse()` is currently not available. Parsing with `TimeSpan.ParseExact()` may work with a custom formatting string, but I have not had any luck and currently, no

[2022-07-12 23:32] afilatov-st commented on #71472
`--type Heap` behaves in the same way

[2022-07-12 23:35] #70859 closed

[2022-07-12 23:35] #69281 closed

[2022-07-12 23:40] Saborion commented on #70950
Yes, good catch. I noticed that as well since I discovered the original bug when writing a wrapper. Chances are I would have missed it though.

[2022-07-12 23:41] jkoritzinsky commented on #63106
I finally root-caused this bug:

This is a class-layout bug. Crossgen2 thinks that the layout should be one thing, but CoreCLR treats it differently. This only shows up in the `Marshal.StructureToPtr` call since that method calls into CoreCLR itself, which generates the structure marshalling code based on CoreCLR's idea of the type layout. I'll put up a PR to fix it, but due to it touching type la

[2022-07-12 23:55] Saborion commented on #70950
I have been busy but was just about to give this a go. Before doing so, however, I am curious. This will be a change of behavior which may have impact on existing applications, since the above mentioned methods (and potentially more) will now start to throw exceptions for previously "accepted" values.

Based on the information in [breaking changes](https://github.com/dotnet/runtime/blob/main/docs/

[2022-07-12 23:58] elinor-fung commented on #72036
Should be fixed by #71989.

[2022-07-12 23:58] #72036 closed

[2022-07-12 23:59] #25918 closed

[2022-07-13 00:08] mangod9 commented on #63106
Thanks for investigating. Agree that we should move to 8.

[2022-07-13 00:29] AndyAyersMS commented on #67152
There is no OSR for arm so it's likely a different issue.

[2022-07-13 00:47] Clockwork-Muse commented on #72064
Being able to parse into a `TimeSpan` isn't going to solve any problems, it's immediately going to give you a new one: For any field larger than "Day", durations are only relative.  "Month", for instance, may be equivalent to 28, 29, 30, or 31 days.  You cannot reliably translate this to a `TimeSpan` and then add it to a `DateTime`/`DateTimeOffset`, you're going to be dealing with incorrect values

[2022-07-13 01:02] lheinold opened #72067 "High Private Memory Size on CentOS"
### Description

Running a simple console app results in very high private memory usage:

Code:
[code]

Output:
[code]

The Working Set is 0.016GB, while the Private Memory Size is 2.9GB.

### Configuration

`dotnet --info`:
[code]

### Regression?

Not sure, I've never run dotnet on CentOS before. I plan on running under an older version of dotnet just to see what happens.

### Data

dotnet-count

[2022-07-13 01:03] jkotas commented on #63106
The type layout bugs are hard to debug, and fixing them is typically R2R breaking change. We took R2R breaking change for 7.0. We should get all type load bugs fixed for 7.0, so that we do not have to take R2R breaking change in 8.0.

[2022-07-13 01:05] AndyAyersMS commented on #71214
My local box doesn't see a regression; it has main about 7% faster.

diff is 42c321ae05fbfa165481ce6ab25a4212269d5f2d
base is 1a02f0d62481b9830ded42d514053aab8b3aca3c (just before #70809).

| Method |        Job |             Toolchain | Size |     Mean |     Error |    StdDev |   Median |      Min |      Max | Ratio | RatioSD | Allocated | Alloc Ratio |
|------- |----------- |--------------------

[2022-07-13 01:06] AndyAyersMS commented on #71909
@MichalPetryka feel free to take over my proof of concept (I polished it a bit, it may be ready to go) if it builds on top of your PR.

[2022-07-13 01:11] AndyAyersMS commented on #71214
As a sanity check here's the local net6 vs net7(p5) data. I will try and grab similar on the Ampere (Linux)...

| Method |        Job |  Runtime | Toolchain | Size |     Mean |     Error |    StdDev |   Median |      Min |      Max | Ratio | RatioSD | Allocated | Alloc Ratio |
|------- |----------- |--------- |---------- |----- |---------:|----------:|----------:|---------:|---------:|---------:|-

[2022-07-13 02:06] VincentBu opened #72069 "Test failure JIT\\CodeGenBringUpTests\\ArrayMD1_do\\ArrayMD1_do.cmd"
Run: [runtime-coreclr r2r 20220711.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1874001&view=ms.vss-test-web.build-test-results-tab&runId=49066854&resultId=104160&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-07-13 02:12] buyaa-n commented on #70318
@RussKie please let us know your test result so that we can complete the [servicing request](https://github.com/dotnet/runtime/pull/71452)

[2022-07-13 02:16] AndyAyersMS commented on #71214
I wonder if this benchmark is just broken. `-p ETW` profiling shows really odd time distributions that make no sense.

[2022-07-13 02:22] VincentBu commented on #12339
Failed again in: [runtime-libraries-coreclr outerloop 20220712.5](https://dev.azure.com/dnceng/public/_build/results?buildId=1874397&view=ms.vss-test-web.build-test-results-tab&runId=49071808&paneView=debug&resultId=102119)

Failed test:
[code]
**Error message:**
[code]

[2022-07-13 02:28] Bosch-Eli-Black commented on #69420
@krwq Sounds fair to me! Thank you 🙂

[2022-07-13 02:28] #71625 closed

[2022-07-13 02:43] #71352 closed

[2022-07-13 02:44] introspection3 opened #72381 "Infinite recursion during resource lookup within System.Private.CoreLib"
### Description

[code]

### Configuration

### Regression?

### Other information

[2022-07-13 03:10] MSDN-WhiteKnight commented on #69273
I remember some uses are blocked just because MetadataLoadContext currently dies with NotSupportedException whenever it hits a signature with function pointer, even if it does not try to access the function type itself. They needed to manually exclude some methods to evade this error, which is pretty ugly. So even the limited ability to support function pointers without calling convention could be

[2022-07-13 04:21] agocke opened #72071 "NativeAOT + trimming docs should reflect new TrimMode"
The new TrimMode options are `full` and `partial`, and old options are effectively deprecated. `TrimmerDefaultAction` is also deprecated.

[2022-07-13 04:28] cston opened #72074 "[API Proposal]: System.Diagnostics.CodeAnalysis.UnscopedRefAttribute"
### Background and motivation

There are several cases where the C# compiler treats a `ref` as implicitly `scoped`, where the compiler does not allow the `ref` to escape the method.

1. `this` for `struct` instance methods
1. `ref` parameters that refer to `ref struct` types
1. `out` parameters

For specific instances where the `ref` should be allowed to escape, we should provide a well-known attr

[2022-07-13 04:28] NewUserHa commented on #71993
know that.

Hope windows team can think about giving some support, to keep ability to update .NET Framework to required versions of .NET 5+

[2022-07-13 04:29] cston commented on #72074
cc @jaredpar, @AaronRobinsonMSFT

[2022-07-13 04:39] richlander commented on #71993
We will see if something develops on that front. Thanks for the feedback.

[2022-07-13 04:46] #71890 closed

[2022-07-13 04:52] AaronRobinsonMSFT commented on #72074
@cston Is this expected for .NET 8 or do we need it for .NET 7?

[2022-07-13 05:01] radical commented on #71990
Closing.

[2022-07-13 05:01] #71990 closed

[2022-07-13 05:34] NewUserHa commented on #71993
Thanks.

[2022-07-13 05:51] #49998 closed

[2022-07-13 05:59] smhmhmd commented on #70848
Thank you @jkotas, yes, it would be a simpler solution, it would also be opt-in.

Here is a draft change, assuming an already built shim.
User's NativeAOT code compiles with the user-supplied shim and invokes it instead.
User-supplied shim = `/p:LocalSystemGlobalizationNative=/home/ubuntu/bug/sample1/libSystem.Globalization.Native.a`

##### User NativeAOT code can get compiled with a switch (Local

[2022-07-13 06:38] agocke commented on #42607
I feel as though we have a lot of concrete issues on this topic, and this one is somewhat vague. I'm going to close it in favor of the others, but happy to re-open if we want to be more specific in direction.

[2022-07-13 06:38] #42607 closed

[2022-07-13 06:50] agocke commented on #42497
Overall, it looks like the problem here has been identified -- the glibc configuration provided by asuswrt is not sufficient. Either the versions are incorrect, or there are problems with multiple versions being installed.

At the moment it doesn't look like there's anything wrong with the .NET binaries. Closing for now, but we can re-open if the glibc configuration matches any of our supported di

[2022-07-13 06:50] #42497 closed

[2022-07-13 06:54] agocke commented on #51101
I believe this is now complete. Is that right?

[2022-07-13 06:55] agocke commented on #50798
Closing as complete. We can track individual items separately if we still feel they're useful.

[2022-07-13 06:55] #50798 closed

[2022-07-13 06:59] AraHaan commented on #71027
I have just now tested a locally built hostfxr with these changes with success to my application that I could not fix locally with this code change:

![image](https://user-images.githubusercontent.com/15173749/178670721-0be7e147-bb6a-4c10-b12e-4764fad4f202.png)

Looks like ``get_root_framework`` was another option that can fix it ironically.

[2022-07-13 07:22] #68902 closed

[2022-07-13 08:20] wfurt commented on #62202
closing this as  #70982 is merged.

[2022-07-13 08:27] ilonatommy commented on #51708
The error changed - I checked locally. Now we have 2 failures:
[code]

[2022-07-13 08:27] NGame1 commented on #15073
OMG! After about 7 years of opening this issue. Again is it postponed?
No way!

[2022-07-13 08:27] NGame1 commented on #15073
@jeffhandley
OMG! After about 7 years of opening this issue. Again is it postponed?
No way!

[2022-07-13 08:33] #62202 closed

[2022-07-13 08:44] MichalStrehovsky opened #72081 "Assertion failed 'sizeBytes != 0'"
Ran into this while NativeAOT compiling the System.Runtime.Intrinsics.Tests but this has a simple repro with CoreCLR. Not clear why we're not seeing this in test runs.

Compile following:

[code]

With `csc test.cs /noconfig /nostdlib /r:System.Private.CoreLib.dll /O`. Run with corerun.

[code]

[2022-07-13 08:46] #71997 closed

[2022-07-13 09:20] eOkadas commented on #28218
Hi, when switching to NET 6 (from net 5 and netcore 3.1) we get the BOM for UTF8 added to our XML outputs.

The previous workaround offered by @sksk571 didn't work.
[see fiddle with the workaround working in 4.7.2](https://dotnetfiddle.net/A3GYfv)
[code]
  [see fiddle with the workaround NOT working in Net6]( https://dotnetfiddle.net/g1hS06)

[code]

[2022-07-13 09:21] eOkadas commented on #63585
cross answer from https://github.com/dotnet/runtime/issues/28218#issuecomment-1182980078

Hi, when switching to NET 6 (from net 5 and netcore 3.1) we get the BOM for UTF8 added to our XML outputs.

The previous workaround offered by @Andrei-NZ didn't work.
[see fiddle with the workaround working in 4.7.2](https://dotnetfiddle.net/A3GYfv)
[code]
  [see fiddle with the workaround NOT working in Net6

[2022-07-13 09:38] Youssef1313 opened #72085 "`Debug.Fail` in `UpgradeToRegexGeneratorCodeFixer` is reachable"
### Description

The assumption here is incorrect:

https://github.com/dotnet/runtime/blob/d434c4a55b17be5b21de3a0c6fc05f2deb267823/src/libraries/System.Text.RegularExpressions/gen/UpgradeToRegexGeneratorCodeFixer.cs#L287-L289

This path is reachable.

### Reproduction Steps

Tests extracted from #71264:

[code]

### Expected behavior

Tests above should pass.

### Actual behavior

`Debug.Fail` is

[2022-07-13 09:46] eiriktsarpalis commented on #71984
The release of new language features such as positional records and init-only properties (for the case of sourcegen) means that it will become increasingly likely for users to hit this threshold. We should try to fix this, but I don't think simply raising or eliminating the upper bound is a sustainable approach. We need to make sure that the implementation scales well enough for a large number of

[2022-07-13 10:03] #71960 closed

[2022-07-13 10:29] jakobbotsch commented on #71611
I was able to repro this after running the test in a loop for a while. I can take a look.

[2022-07-13 11:11] stephentoub commented on #72060
@BrennanConroy

[2022-07-13 11:50] Sergio0694 opened #72090 "Incorrect TypeLoadException message for byref field in non-byref-like type"
### Description

Due to https://github.com/dotnet/roslyn/issues/62596, I could build a non-byref-like type with a byref field. Trying to load it, I got a `TypeLoadException`, as expected, but the error message seems to be incorrect, or at the very least not phrased great:

<img width="640" alt="image" src="https://user-images.githubusercontent.com/10199417/178726337-7ed74f55-0d8c-42e8-a7d2-6e23fe7

[2022-07-13 12:00] aaronegger commented on #38049
+1

[2022-07-13 12:33] stephentoub commented on #72090
The message looks correct to me. There's an instance field in a non-byref type (Foo), and that field's type is a byref type (ref int)...?

[2022-07-13 12:47] alexrp commented on #58381
@adamsitnik Is this likely to make it into .NET 7?

[2022-07-13 12:56] stephentoub commented on #72074
@cston, is this instead of the proposed "unscoped" keyword?

[2022-07-13 13:01] alexrp commented on #63602
Is this likely to be addressed in the .NET 7 timeframe?

[2022-07-13 13:08] cston commented on #72074
@Sergio0694, it's likely that `ref` parameters to `ref struct` types will be considered implicitly `scoped ref`.

[2022-07-13 13:16] cston commented on #72074
@stephentoub, yes, this attribute is instead of the proposed `unscoped` keyword.

[2022-07-13 13:20] jakobbotsch commented on #71611
I was able to get a consistent repo with the attached PGO data. It repros only if GDV is enabled for `Microsoft.CodeAnalysis.CSharp.Binder:ConvertSwitchExpression` (hash 0xd4a27064) using that data. GDV can be disabled for all other methods.

[pgo.txt.10287.zip](https://github.com/dotnet/runtime/files/9102090/pgo.txt.10287.zip)

It does not repro with `COMPlus_JitCloneLoops=0`, so seems loop cloni

[2022-07-13 13:31] lambdageek commented on #72039
(Checked that .NET Preview 6 MonoVM doesn't have this issue - no TLE from the above repro)

[2022-07-13 13:35] Sergio0694 commented on #72090
Yes, but the issue is that the message says it's of a byref-_like_ type, which is not true. You can also see that:

[code]

Prints `false`. What I'm saying is that the message should distinguish fields of a byref type from those of a byref-like type, just like the reflection type does as well (see above). This message is just confusing for users because it's not correct: it's telling them that the

[2022-07-13 13:37] lewing commented on #71887
@radical do we know the cause of this?

[2022-07-13 13:38] lewing commented on #71840
This appears to be from very outdated node.js versions on the perf machine that is causing a broken jsvu install.

[2022-07-13 13:57] Sergio0694 commented on #72090
Yes, my concern was that right now the message is the same for both byref-like types, and actual ref types (ie. ref fields), and just says "byref-like" in both cases. I got pinged by a dev that stumbled upon this and couldn't understand the message, and I'm thinking a clearer error message might've helped (especially given here it's not just unclear, it's just incorrect) 🙂

[2022-07-13 13:57] CarnaViire commented on #71130
Thanks for providing the repro @nicholasamiller and sorry it took some time to get back to you.

What's missing in your case is `FunctionsStartup` attribute in your function declaration. Because of that, the Startup class was not called at all. After putting this line above namespace, the behavior became as expected (attempting to create HttpClient started throwing as configured)

[code]

Unfortun

[2022-07-13 13:57] #71130 closed

[2022-07-13 14:19] antonfirsov opened #72096 "HttpStress is not running on Windows in CI"
[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=1877931&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3

@dotnet/dnceng any idea what happenned to this image and how to address this problem?

[2022-07-13 14:25] jkotas commented on #70848
How would people who want to use this build the shim?

[2022-07-13 14:29] bgever commented on #69923
No longer having this issue with SDK 6.0.302. 🎉 (6.0.301 sill had it)

[2022-07-13 14:36] SamJongenelen commented on #64430
~50mb per module, in my case 20 modules so 1000mb. Roughly ofcourse.

[2022-07-13 14:45] riarenas commented on #72096
@antonfirsov the pipeline looks to be misconfigured. The image should be Build.Windows.Amd64.Pre**.Open.** The non-open versions are exclusively for use by the internal project and cannot be used in pipelines in the public project.

You can find the valid images for the public project here: https://helix.dot.net/#1ESHostedPoolImagesWestUS-rg-Public

[2022-07-13 14:49] Yustos opened #72099 "ObservableGauge holds disappeared metrics"
### Description

Gauges can be distincted by tags, but process holds old gauge with old tags, after this removed from data source.
This behaviour is fine for counters, but make unuseful metrics values for gauges.

### Reproduction Steps

Example source code:
[code]

### Expected behavior

Run example and watch its metrics:
`dotnet-counters monitor --name ConsoleApp HatCo.HatStore`

After process s

[2022-07-13 15:02] ahmed-salem-me commented on #71592
@radical here is an output from one machine using /v:diag
[Machine 1-empty-os-app-aot-output.zip](https://github.com/dotnet/runtime/files/9103454/Machine.1-empty-os-app-aot-output.zip)

My machine freezes, but I'll leave it running for a while and send you the output as well

[2022-07-13 15:04] jtschuster opened #72100 "System.Text.Json.Tests.Utf8JsonReaderTests.ReadJsonStringsWithComments rolling build failure on net7.0-Linux-Release-arm-CoreCLR_checked-(Alpine.314.Arm32.Open)Ubuntu.1804.ArmArch.Open@mcr.microsoft.com/dotnet-buildtools/prereqs:alpine-3.14-helix-arm32v7-20210910135806-8a6f4f3"
[Build](https://runfo.azurewebsites.net/view/build/?number=1874165)
[Log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-455133167ff14f12a7/System.Text.Json.Tests/1/console.dfb6e8f2.log?%3Fhelixlogtype%3Dresult)

[code]

[2022-07-13 15:04] jtschuster commented on #67152
Made a new issue: https://github.com/dotnet/runtime/issues/72100

[2022-07-13 15:04] #67152 closed

[2022-07-13 15:09] greenEkatherine opened #72101 "System.Text.Json.SourceGeneration intermittent failures"
Frequency:
- 4/1-7/22 ... 618 failures, first one starting on 7/5 ... 36 failures per day. Many of them in Official runs

[code]

Assertions failed in several builds for tests:

- System.Text.Json.SourceGeneration.Tests.ConstructorTests*
  - https://runfo.azurewebsites.net/view/build/?number=1865333
  - https://runfo.azurewebsites.net/view/build/?number=1864252
  - https://runfo.azurewebsites.net/

[2022-07-13 15:15] steveharter commented on #67916
Closing; this code base was updated again and the new perf numbers are good: https://github.com/dotnet/runtime/pull/69575#issuecomment-1139213010

[2022-07-13 15:32] Clockwork-Muse commented on #72086
.... regardless of whether this gets "fixed" or not, your actual problem is that you're using a poorly-performing design.

You're filtering based on individual ids; you should likely be using some alternate design to restrict the individual ids.  a LINQ `Join` operator may perform significantly better; if the `DataTable` isn't the original source of truth, you may be able to restrict the rows on i

[2022-07-13 16:00] N0D4N opened #72103 "[API Proposal]: Add new overloads to ReadFromJsonAsync method in HttpContentJsonExtensions"
### Background and motivation

Currently `ReadFromJsonAsync` method parameters follow pattern (with parameter names skipped): `this HttpContent, Type/*if it isn't generic overload*/, JsonSerializerOptions? = null /*or JsonSerializerContext or JsonTypeInfo<T>*/, CancellationToken = default`
https://github.com/dotnet/runtime/blob/a5f3676cc71e176084f0f7f1f6beeecd86fbeafc/src/libraries/System.Net.Http

[2022-07-13 16:11] radical opened #72104 "[wasm] All `performance` jobs failing due to NRE in `BenchmarkDotNet.Autogenerated.UniqueProgramName.AfterAssemblyLoadingAttached`"
All the wasm jobs are failing on `dotnet/runtime` perf pipeline.

[code]

https://github.com/dotnet/BenchmarkDotNet/blob/41a15173e435be919ae5f531e781352f1e9fae46/src/BenchmarkDotNet/Templates/BenchmarkProgram.txt#L25-L86

Last working build was `20220713.1`, and the failing one `20220713.2`.
The runtime changes between them https://github.com/dotnet/runtime/compare/d434c4a5...199580be

The `dotnet

[2022-07-13 16:21] mangod9 commented on #72067
@janvorli have you seen something similar before?

[2022-07-13 16:21] AndyAyersMS commented on #71214
For comparison here's the same profile on windows x64. Also seems a bit messed up (R2R not resolving) but otherwise more or less reasonable.

![image](https://user-images.githubusercontent.com/10121823/178782882-7bd0a3cd-cddc-4f59-9649-610a179712f9.png)

[2022-07-13 16:22] radical opened #72105 "[wasm] `mono-aot-cross` crashing all `performance` `wasm-aot` jobs"
This is from `20220713.2`.

[code]

Last working build was 20220713.1, and the failing one 20220713.2.
The runtime changes between them https://github.com/dotnet/runtime/compare/d434c4a5...199580be

cc @vargaz @radekdoulik

[2022-07-13 16:24] tannergooding opened #72107 "[API Proposal] Expose missing BinaryPrimitives APIs"
`System.Buffers.Binary.BinaryPrimitives` exposes many APIs but there are few notable ones missing for core number types. We should extend the type to ensure that it supports the basic operations for all basic number types.

[code]

### Additional Notes

Also missing are some APIs around `char`, `Half`, `float`, and `double`. However, there are concerns around `char` not being a "core" numeric type

[2022-07-13 16:25] tannergooding commented on #72107
CC. @dakersnar, @GrabYourPitchforks

Any concerns here or do you think this is fine to mark `api-ready-for-review`?

[2022-07-13 16:29] lewing commented on #72105
https://github.com/mono/mono/issues/15093

[2022-07-13 16:31] Mikolaytis commented on #69010
Huge thanks for a fix! Also HUUUUGE thanks for backporting this to 6.0.7. We will try everything this week and our next app update will launch with 100% ratio. YES!

[2022-07-13 16:34] vargaz commented on #72105
Probably build/linker/infra changes, not related to those dotnet/runtime changes.

[2022-07-13 16:34] EdCharbeneau commented on #70434
I added some bits to help with setting up DI. LMK what you think.

https://gist.github.com/EdCharbeneau/ed3d44d8298319c201f276de7a0580f1

[2022-07-13 16:36] jdasilva-olo commented on #63585
@eOkadas you need to pass the xmlWriter in line 22 like so:
`serializer.Serialize(xmlWriter, new Test());`

[2022-07-13 16:42] a74nh commented on #64820
**Optimize System.Text.ASCIIUtility for arm64 using cross-platform intrinsics**
**Issue**: https://github.com/dotnet/runtime/issues/41292
**PR**: https://github.com/dotnet/runtime/pull/70080 and https://github.com/dotnet/runtime/pull/71637
**Approach taken:**
The existing Sse2/Sse41 implementation was moved to use the Vector128 API.
Arm64 was switched to use the Vector128 implementation instead of

[2022-07-13 16:45] #72057 closed

[2022-07-13 16:46] tannergooding commented on #72107
-- Noting that there is still the "downside" that `BinaryPrimitives` isn't very discoverable and its where most of the `Endianness` APIs are, except for `IsLittleEndian` which is on `System.BitConverter`.

These are "split" due to an old layering scenario around .NET Standard and ensuring the APIs were available "downlevel". It might be worth exposing an `static bool IsLittleEndian { get; }` (and

[2022-07-13 16:49] Sergio0694 commented on #72074
Q: wouldn't that make it harder to read and understand code, if the scope of refs will now depend on how the type itself is defined rather than just what's visible at the parameter declaration? As in, I can no longer just see whether I'm taking a `ref` or a `scoped ref`, but now I have to CTRL + click on that type to double check whether it's a `struct` or a `ref struct` to understand whether that

[2022-07-13 16:49] #70835 closed

[2022-07-13 16:50] BrennanConroy commented on #72060
Race in test code between the internal timer stopping (and running the heartbeat loop continuation) and the test code running the timer after doing its actions to make the limiters idle. If the initial heartbeat continuation is still running while the test code does its setup then it's possible for that continuation to observe the exception we are expecting in the test code and when the test code

[2022-07-13 16:50] dakersnar commented on #72107
What does `IsLittleEndian` get called on? The type, the `source` data, or the machine's architecture?

[2022-07-13 16:51] ViktorHofer commented on #67040
cc @JeremyKuhne

[2022-07-13 16:57] lheinold commented on #72067
A couple of updates:

- Saw the same issue with .NET Core 3.1 and .NET 5 (on CentOS7)
- Ran on Ubuntu 20 and didn't run into any problems - Private Memory is around .06GB (technically higher than windows but a much more reasonable number)

So it appears this issue is on CentOS7 only.

[2022-07-13 17:00] tannergooding commented on #72107
It's a case that does have endianness considerations in that there is explicitly both `UTF-16 LE` and `UTF-16 BE` so this will be "useful" for manual lexing/parsing scenarios. Also notably, `char->ushort` is an implicit conversion but `ushort->char` is not, so `ushort bits = BinaryPrimitives.ReverseEndianness('c');` works, but not `char bits = BinaryPrimitives.ReverseEndianness('c');`, exposing th

[2022-07-13 17:00] ViktorHofer commented on #49866
@dhhoang sorry for not responding earlier. If you would like to work on this, please update the initial post or add an comment below with the information required, according to https://github.com/dotnet/runtime/blob/main/docs/project/api-review-process.md.

[2022-07-13 17:02] ViktorHofer commented on #49866
cc @dotnet/area-system-diagnostics-eventlog

[2022-07-13 17:04] Clockwork-Muse commented on #72107
.... a reverse-endianed float/double isn't (likely) to be a valid value, so whether the output gets coerced to something or not is a bit of a mystery.
I could have sworn we just had an issue about it around here...?

[2022-07-13 17:12] alexrp commented on #72107
I don't know about "just", but there was some discussions on the subject in this issue: https://github.com/dotnet/runtime/issues/2365#issuecomment-564274467

[2022-07-13 17:26] danmoseley commented on #62730
Right-- I was assuming it would be the same size.

Given this would need streaming as written, my suggestion is to close this. It would be fine to open an issue that's entirely focused on streaming although I don't expect us to do that anytime soon given the size of the work vs. the limited known need. (My guess is that if we really needed streaming support in .NET we'd first look at what interop

[2022-07-13 17:27] steveharter commented on #43791
Moving to 8.0; we need to update the API and design based on feedback from https://github.com/dotnet/runtime/pull/71516.

[2022-07-13 17:29] steveharter commented on #11354
Moving to 8.0; we need to update the API and design based on feedback from https://github.com/dotnet/runtime/pull/71516.

[2022-07-13 17:36] steveharter commented on #71095
Moving to 8.0; we need to update the API and design based on feedback from https://github.com/dotnet/runtime/pull/71516.

[2022-07-13 17:41] bartonjs commented on #71366
We're exposing GCM in the same way the underlying providers are, which leaves the algorithms loose tag processing as an application problem.  (I'd've included the tag length in the tag calculation, but I guess the GCM designers disagree)

Generally the application context should know what the tag size is.  In the case of JWA, it's supposed to always be 128 bits (https://datatracker.ietf.org/doc/ht

[2022-07-13 17:42] #40737 closed

[2022-07-13 17:53] JeremyKuhne commented on #67040
I think we should expose a new `StockIcons` to get at the set that are exposed via `SHGetStockIconInfo`. UI modernization is a tenet and this would help enable this for the WinForms runtime and WinForms apps. There isn't a good way to update the existing ones as some users will undoubtedly want the current behavior.

Something like the following:

[code]

Here is a current related WinForms runtime

[2022-07-13 17:54] jkotas commented on #68511
Duplicate of https://github.com/dotnet/runtime/issues/70231

[2022-07-13 17:54] #68511 closed

[2022-07-13 17:58] steveharter commented on #63419
Moving to 8.0.

We should embrace Spans more in Reflection including the Emit APIs as originally mentioned. However, another important area that could use Span is the many APIs that return arrays (e.g. `MethodInfo.GetParameters()`) where a defensive copy is made since arrays cannot be made read-only and because we need to prevent cached array elements from being replaced in the array. For these, i

[2022-07-13 17:58] ViktorHofer opened #72111 "Packages need to stabilize for shipping .NET 7"
1. Product dependencies in the Versions.props files must not be prerelease. Fixed with https://github.com/dotnet/runtime/pull/72068 and https://github.com/dotnet/runtime/pull/72110
2. Product dependencies in the Versions.props files must be on the latest patch version for libraries dependencies. https://github.com/dotnet/runtime/pull/73871
3. We must be using the compiler from the SDK and unpin th

[2022-07-13 18:01] janvorli commented on #70231
The case that @jkotas has just closed as a dup happened on Linux arm64. I am in a process of attempting to repro it on Linux at the moment. Maybe I'll get more lucky with the repro there.

[2022-07-13 18:01] #69675 closed

[2022-07-13 18:04] Clockwork-Muse commented on #72107
Sure, but what I was getting at is the possibility the runtime or even the hardware might end up coercing them to a valid `NaN` value, which means you couldn't roundtrip with it, and if you'd been given the "wrong" one to begin with it likely wouldn't be a valid value you could reverse either, in such a scenario.

[2022-07-13 18:11] buyaa-n commented on #56075
It is not planned for 7.0, moving to 8.0

[2022-07-13 18:13] ViktorHofer opened #72112 "Brand dotnet/runtime to NET 8"
This work should be done as soon as possible when .NET 7 branched off and main starts targeting .NET 8.

- [x] Branding (update package versions) so that packages don't collide with existing ones in the feed -> https://github.com/dotnet/runtime/pull/73985
- [x] Update the assembly version that will be hardcoded to 7.0, to 8.0. https://github.com/dotnet/runtime/pull/78354
- [x] Update projects to t

[2022-07-13 18:14] dakersnar opened #72113 "System.Number.BigInteger.DivRem can output an incorrect remainder"
## Summary
`Number.BigInteger.DivRem` outputs an incorrect remainder when some of the computed remainder blocks are zero.

## Explanation
`Number.BigInteger` is an internal helper type (not to be confused with the public `System.Numerics.BigInteger`), so reproduction is tricky, but I can outline the scenario that led to me discovering this bug.

`Number.BigInteger` is internally represented as an

[2022-07-13 18:18] radical opened #72114 "mono `minijit` runtime tests failing with `coreclr_initialize failed - Error: 0x80004005`"
Failures 4/5-9/8 (incl. PRs and 7.0 branches):

Day | Run | OS
-- | -- | --
9/5 | **Rolling run** [5191](https://runfo.azurewebsites.net/view/build/?number=5191) (only in Runfo) | mono Linux arm64 Release @ (Ubuntu.1804.Arm64.Open)Ubuntu.1804.Armarch.Open
9/5 | **Rolling run** [4698](https://runfo.azurewebsites.net/view/build/?number=4698) (only in Runfo) | mono Linux arm64 Release @ (Ubuntu.1804.

[2022-07-13 18:19] buyaa-n commented on #54657
Moving to 8.0 as it is not planned for 7.0

[2022-07-13 18:19] lheinold commented on #72067
I originally saw the issue on a CentOS machine with 16 cores and 64GB memory. However I tried running dotnet on a CentOS machine with 8 cores and 32GB memory (matches my Ubuntu machine) and I got the exact same output.

I have a program that is calling a native function that allocates some unmanaged memory. So I expect the private memory to go up a small amount, but not by much.

On CentOS7:
Befor

[2022-07-13 18:24] AndyAyersMS commented on #59152
Procrastination not paying off here. 7p6 is not any faster.

BenchmarkDotNet=v0.13.1.1786-nightly, OS=macOS Monterey 12.4 (21F79) [Darwin 21.5.0]
Intel Core i5-4278U CPU 2.60GHz (Haswell), 1 CPU, 4 logical and 2 physical cores
.NET SDK=7.0.100-preview.6.22352.1
  [Host]     : .NET 7.0.0 (7.0.22.32404), X64 RyuJIT
  Job-SVXENR : .NET 5.0.11 (5.0.1121.47308), X64 RyuJIT
  Job-AZCEHU : .NET 6.0.6 (6.

[2022-07-13 18:26] bartonjs commented on #68892
Given that we're tracking the native resources with a SafeHandle, the release will get called eventually (even if CertGetCertificateChain returns false).  It doesn't sound like the leak is coming from .NET.

Windows 7 is long out of main support and Extended Support ends soon. .NET 8 will not support running on Windows 7.

Without demonstration of the problem on a more modern OS there's nothing we

[2022-07-13 18:26] #68892 closed

[2022-07-13 18:29] janvorli commented on #72067
Ok, if you are getting OOMs, then there is definitely a problem. For the beginning, can you please check and share the following?
* overcommit ratio you have set on your CentOS? - `sysctl -a | grep "vm.overcommit*"`
* virtual memory limit - `ulimit -v`

[2022-07-13 18:30] Kaelum commented on #54657
@buyaa-n can we be assured that this will be in 8.0.0?  We have a work-around (the NuGet package from @koszeggy), but the work-around is not safe, and we are seeing increased pressure from our policy team to remove these vulnerabilities.  We are being given a pass through the end of this year, but I don't think that we'll be given a pass through the end of next year, when 8.0.0 would be released.

[2022-07-13 18:35] lheinold commented on #72067
[code]
and `ulimit -v` gives `unlimited`.

Out of curiosity I ran the same commands on my Ubuntu machine and the outputs were the same.

[2022-07-13 18:38] AndyAyersMS commented on #59152
FWIW TieredPGO does nicely here in .NET 7, thanks to @jakobbotsch

|         Method |        Job |  Runtime | Toolchain |     Mean |   Error |  StdDev |   Median |       Min |      Max | Ratio | Allocated | Alloc Ratio |
|--------------- |----------- |--------- |---------- |---------:|--------:|--------:|---------:|----------:|---------:|------:|----------:|------------:|
| DelegateInvoke | Job-KI

[2022-07-13 18:43] janvorli commented on #72067
Can you please also try .NET 6 and .NET 7 preview to see if the behavior is the same? We have made some changes in the memory reservations for GC, so it would be easier to reason about it with the recent runtime versions.

[2022-07-13 18:58] jkotas commented on #72107
Reverse-endianes on float/double was discussed in the original set and explicitly rejected for these reasons.

[2022-07-13 19:03] eerhardt commented on #30024
Moving to Future as this issue has been around for a long time and is not critical to fix in 7.0.

[2022-07-13 19:04] janvorli commented on #72067
Ah, thank you @MichalPetryka for pointing it out, I am sorry for missing that.

[2022-07-13 19:15] AndyAyersMS commented on #59152
Some non-OSX data on Intel CPUs
[code]
|         Method |        Job |  Runtime | Toolchain |     Mean |   Error |  StdDev |   Median |      Min |      Max | Ratio | Allocated | Alloc Ratio |
|--------------- |----------- |--------- |---------- |---------:|--------:|--------:|---------:|---------:|---------:|------:|----------:|------------:|
| DelegateInvoke | Job-ROQCLI | .NET 5.0 |    net5.0 |

[2022-07-13 19:29] eerhardt commented on #30656
Moving to Future as this issue has been around and is not critical to fix in 7.0.

[2022-07-13 19:30] #59068 closed

[2022-07-13 19:39] steveharter commented on #57531
Planned steps:
1) Verify the issue using `Kentico.Content.Web.Mvc.dll`
2) Verify the metadata decoding is correct in MetadataLoadContext, and the problem is a corrupt assembly (how did it get this way?)
3) Determine action from there:
3a) If it is a corrupt assembly, consider using the internal `ArrayBuilder<T>` which will allocate dynamically. If we eventually get a `BadImageFormatException` late

[2022-07-13 19:42] #72090 closed

[2022-07-13 19:51] vargaz commented on #71838
This looks like a mono runtime problem.

[2022-07-13 20:02] dss539 commented on #61547
This can be worked around by defining redundant `ILogger` members in every partial file. e.g. _logger, _logger2, _logger3.
Assign the same logger to each field and the generated code will use it.

[2022-07-13 20:10] jeffhandley commented on #54657
To better capture this, let's go ahead and move this into Future. But if we bring it into our .NET 8 plans, we'll change the milestone back to 8.0.0.

[2022-07-13 20:11] BrennanConroy opened #72121 "[API Proposal]: Rename resourceID in PartitionedRateLimiter"
### Background and motivation

Resource is a better name for the parameter passed into `PartitionedRateLimiter<TResource>`. We are passing in a resource not a resource ID.

### API Proposal

[code]

### API Usage

[code]

### Alternative Designs

_No response_

### Risks

_No response_

[2022-07-13 20:13] janvorli commented on #72067
@lheinold would you be able to create a simple repro that you could share?
I also wonder, do you use server GC or workstation GC in your app?
Another thing that you could do would be to open the dump you've created in lldb and use the sos plugin to get some more details on the heaps. The steps to debug a dump with SOS are described here: https://github.com/dotnet/diagnostics/blob/main/documentatio

[2022-07-13 20:19] peter-glotfelty commented on #69380
We are setting COMPlusDbgMiniDumpName in the pod spec, and yes, I did format the above lines to remove the actual application names.

The full name includes the container and pod name as requested by the Azure Watson folks in [this document](https://eng.ms/docs/products/azure-watson/azurewatson/aks1p#exposing-service-containers-os-information-and-pod-name-to-watsonagent-required-in-the-future-for-

[2022-07-13 20:45] mikem8361 commented on #69380
Oops, I didn't see what CONTAINER_NAME_SEPARATOR was defined to ().

[2022-07-13 20:46] LiorBanai opened #72123 "[Question] Type.GetTypeCode And Half Type"
I was wondering why the call to ``` Type.GetTypeCode(typeof(Half))); ``` returns Object and not the IEEE 16-bit float.

shouldn't the Enum be updated to support it (and maybe also Int128/Uint128))

[2022-07-13 20:49] tannergooding commented on #72107
The same issue exist with `ReadSingleLittleEndian` and other APIs that were approved. While a runtime is free (under the IEEE 754 spec) to normalize NaNs to a single representation, that will in practice break a lot of code. Things like `SIMD` rely on being able to get and produce `AllBitsSet` as do various other APIs throughout the JIT. Various bit manipulation tricks involve using "alternative"

[2022-07-13 20:53] dakersnar opened #72125 "Decimal to double conversion loses precision"
### Description

The current algorithm for casting a decimal to a double loses precision.

### Reproduction Steps

[code]

### Expected behavior

The above three prints should print the same value.

### Actual behavior

There is a precision loss when casting from decimal to double. I included two methods of constructing the decimal to demonstrate that the behavior is specifically tied to the decim

[2022-07-13 20:59] TIHan opened #72127 "ILASM roundtrip fails on `poison.sh`"
ILASM roundtrip fails on the test `JIT/Directed/debugging/poisoning/poison/poison.sh`

[code]

[2022-07-13 21:16] #69907 closed

[2022-07-13 21:20] steveharter commented on #58319
We do not plan on supporting WinMD per https://github.com/dotnet/runtime/pull/58344#issuecomment-945240122

[2022-07-13 21:20] #58319 closed

[2022-07-13 21:28] KoB-Kirito opened #72131 "[API Proposal]: ModuleInitializerAttribute for VB.NET"
### Background and motivation

I need [this](https://github.com/dotnet/runtime/issues/35749) functionality in VB.NET, but sadly:
[BC42381] 'System.Runtime.CompilerServices.ModuleInitializerAttribute' is not supported in VB.

### API Proposal

-

### API Usage

[code]

### Alternative Designs

_No response_

### Risks

_No response_

[2022-07-13 21:29] #63106 closed

[2022-07-13 21:31] GrabYourPitchforks opened #72132 "[Breaking change]: Calls to BinaryFormatter APIs to produce build errors"
## Breaking change notification: Calls to BinaryFormatter APIs to produce build errors

As part of [the BinaryFormatter long-term deprecation plan](https://github.com/dotnet/designs/blob/main/accepted/2020/better-obsoletion/binaryformatter-obsoletion.md), we are continuing to cull BinaryFormatter functionality from our libraries and to wean developers off of the type.

Starting with .NET 7 RC1, ca

[2022-07-13 21:33] jkotas commented on #72107
That's not correct, as long as the number you are reading is well formed. Also notice that ReadSingleLittleEndian are intentionally implemented to read the value as integer, swap endianness on the integer, and finally convert the value with the correct endianness to float.

[2022-07-13 21:35] tommcdon commented on #68760
Closing per @davmason's comment that this is by design and can be worked around in the profiler

[2022-07-13 21:35] #68760 closed

[2022-07-13 21:35] davmason commented on #67106
Closing as it's a one off that hasn't recurred, please reopen if it happens again

[2022-07-13 21:35] #67106 closed

[2022-07-13 21:40] tommcdon commented on #70541
@vindicatorr  It looks like the issue is reproduced on an unsupported OS flavor of Linux - Arch Linux.  Does this issue reproduce on a supported distro?

[2022-07-13 21:42] SingleAccretion opened #72133 "Importer's spilling logic is incomplete in subtle ways"
Reproduction (requires Fody.InlineIL):
[code]
Compile and run.

Expected result: program prints `1`.

Actual result: program prints `2`.

Cause: the importer doesn't spill `a` when it appends the `stobj`:
[code]

[2022-07-13 21:45] dakersnar opened #72135 "Double to decimal conversion loses precision"
I'm making a separate issue to discuss what was discovered [here](https://github.com/dotnet/runtime/issues/68042#issuecomment-1100258233) in more detail.

## Summary
The current double to decimal conversion code relies on some false assumptions. Namely, it assumes a double can only represent 15 base-10 digits of precision, which is incorrect. This leads to quite a number of inaccuracies when conve

[2022-07-13 21:46] dakersnar commented on #68042
Closing this and moving to the more in-depth issue above

[2022-07-13 21:46] #68042 closed

[2022-07-13 21:47] steveharter commented on #69427
The fix here is to implement Equals() + GetHashCode() on `MethodInfo` at least. Consider `FieldInfo`, `PropertyInfo`, ... pending research into these other areas and implementation cost.

The implementation would likely compare Module+Token, perhaps with a `ReferenceEquals()` pre-check for performance although checking Module+Token should be simple\fast.

@stakx what is your real-world scenario an

[2022-07-13 21:48] tommcdon commented on #71472
Our current working theory is that createdump is reading memory from the target process which causes pages to be "swapped" back in or read from the module files into the target process memory.   This requires more involved investigation and so moving .net 8.

@afilatov-st  Can you provide details on how memory is being measured?

[2022-07-13 21:49] steveharter commented on #68002
Todo for v7: review above and have a plan forward for V8.

[2022-07-13 21:53] GrabYourPitchforks commented on #72107
Copying chars to/from byte streams is not the correct way to perform UTF-16 conversion. We have existing APIs in the framework that do this the correct way. I really don't want people to think the APIs being proposed here are a blessed (or "fast") way to do this.

[2022-07-13 21:53] AndyAyersMS commented on #71909
Fair enough, I went ahead and put up a PR: https://github.com/dotnet/runtime/pull/72136

[2022-07-13 22:00] andrewaggb opened #72153 "async sockets in linux (windows is fine) use 5-8x expected cpu vs synchronous sockets or comparables in other languages"
I'm finding that any form of async tcp or unix socket in c#/.net 6 is using 5-8x the cpu usage compared to using synchronous sockets in c# or doing essentially the same thing in python3, nodejs, or netcat in listen mode.  Async sockets in c# on windows perform fine.  I've tried several different forms of async with sockets in c# and they all seem to behave the same.

In my test scenario I'm satura

[2022-07-13 22:07] oransel commented on #69923
Confirmed as well

[2022-07-13 22:07] lheinold commented on #72067
I did previously try the `eeheap` and `dumpheap -stat` commands on the dump file and didn't see anything useful but I'll paste them here (this is just the app that prints out memory; not the one with the native function call to avoid potential proprietary code issues. If not having the native function call doesn't give you what you need I can try to get a dump of the full thing):

[code]

I decide

[2022-07-13 22:12] janvorli commented on #72067
You can use the dotnet-symbol tool to extract those as described in the doc that I've linked above. You just run it on the dump and it will fetch everything that's needed. You may also add the symbol files (the one for libcoreclr.so should be sufficient) manually in lldb, it doesn't seem to be able to fetch it automatically. The lldb command is:
`target symbols add /path/to/libcoreclr.so.dwarf`

[2022-07-13 22:15] LiorBanai opened #72138 "[API Proposal]: Expose _dayNumber of DateOnly"
### Background and motivation

In my Library (https://github.com/LiorBanai/HDF5-CSharp) I need to write the Type to H5 file.
I can write standard primitives so If I can get the int _DayNumber I could just write it directly
Right now I convert it to DateTime and save the ticks.

### API Proposal

Just expose the
[code]
from ```DateOnly```

### API Usage

[code]

### Alternative Designs

_No respons

[2022-07-13 22:23] GrabYourPitchforks commented on #72138
/cc @tarekgh

[2022-07-13 22:28] ahmed-salem-me commented on #71592
@radical , all I know is that is seem to freeze after 30mins or so, it builds fine in minutes, someone mentioned it completed for him after 10 hours.
the opensilver.dll used to publish in aot fine with previous .net versions
here is another output from a different machine
[Machine 2-empty-os-app-aot-output.zip](https://github.com/dotnet/runtime/files/9106499/Machine.2-empty-os-app-aot-output.zip)

[2022-07-13 22:29] svick commented on #72138
[`DateOnly.DayNumber` already exists.](https://docs.microsoft.com/en-us/dotnet/api/system.dateonly.daynumber)

[2022-07-13 22:36] tannergooding commented on #72107
Which can still be constant folded and optimized to normalize a value that ends up as a NaN, even temporarily. All these operations are non side-effecting "constant" operations.

[2022-07-13 22:37] janvorli commented on #72067
I have tried it on my local installation of CentOS 7 in a VM and I can repro what you were getting:
[code]

So I can investigate it locally

[2022-07-13 22:40] LiorBanai commented on #72138
@svick  I'm not sure how I missed it.
Thanks :)

[2022-07-13 22:40] #72138 closed

[2022-07-13 22:41] tarekgh commented on #72138
https://docs.microsoft.com/en-us/dotnet/api/system.dateonly.daynumber?view=net-6.0

[2022-07-13 22:43] tarekgh commented on #72138
@LiorBanai could you please share how you are going to use the `DayNumber`? I want to learn about your scenario.

[2022-07-13 22:46] tannergooding commented on #72107
This entirely depends and there are always two considerations at play. One is having the low level building blocks for our primitive types and the other is providing built in functionality that most users should be pushed towards.

Most users should use the encoding types, but that doesn't also mean that there aren't users and scenarios where you will be doing these operations yourself and where h

[2022-07-13 22:49] LakshanF opened #72140 "[NativeAOT] Enum.GetValues(Type) should have an aot safe implementation"
We have annotated the above API, public static `System.Array GetValues(System.Type enumType)`, as dangerous (`RequiresDynamicCode("It might not be possible to create an array of the enum type at runtime. Use the GetValues<TEnum> overload instead.")`).

Consider removing the RDC and providing a native AOT safe implementation.

[2022-07-13 23:41] hakenr commented on #62054
Hi all,
my very first tests confirm, that the issue is resolved in .NET 7 Preview 6.
Many thanks to everyone involved!!!
🥇 🥇 🥇

[2022-07-13 23:48] davmason commented on #50306
@AaronRobinsonMSFT how are you hitting this? It is marked as GCStress incompatible already: https://github.com/dotnet/runtime/blob/305952cf8338ca60b9a1640e167774bd182ce394/src/tests/profiler/transitions/transitions.csproj#L7

I can take out the conditions if they are not working correctly, but I do not see this as a good investment of time to fix GCStress for just this test, it is not an interesti

[2022-07-13 23:51] noahfalk commented on #57962
Sorry it looks like that original ping back in September was while I was out on sabbatical and I missed it. Thanks @dmex for the great investigation! This will probably take some further investigation on how best to resolve the issue, but my initial thoughts on solutions in order of preference:

1. The runtime would eliminate usage of RtlInstallFunctionTableCallback and solely rely on RtlAddGrowab

[2022-07-14 00:06] AaronRobinsonMSFT commented on #50306
I have an M1 so occasionally just go through old GCStress issues and see if they still reproduce. I was making a note it still has the slow behavior. No action needed as it is already low priority.

[2022-07-14 00:10] davmason commented on #50306
Thanks, moving to future

[2022-07-14 00:15] jkotas commented on #72107
The pain point is very minor. If you know what you are doing, the workaround is trivial, like add a cast or call an extra method. It is the usual question on whether the APIs have enough value given the sharp edges.

[2022-07-14 00:20] hoyosjs commented on #67818
<img width="471" alt="image" src="https://user-images.githubusercontent.com/19413848/178857151-6328183d-4a42-42ec-bd54-1cce779a4ffc.png">

I can debug this fine with centos on an older kernel, and centos stream 9 in both 6.0 and 7.0:

[code]

[code]

Closing this as no repro since centos + kernel version wasn't enough to repro even with the same project.

[2022-07-14 00:20] #67818 closed

[2022-07-14 00:27] runfoapp[bot] opened #72149 "matrix4x4createfromaxisangletest failing on NativeAOT"
Frequency - [last 30 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E30+definition%3Aruntime-extra-platforms+name%3A%22system.numerics.tests.matrix4x4tests.matrix4x4createfromaxisangletest%22) as of 8/27:
- 8/26 - Rolling run [1971318](https://runfo.azurewebsites.net/view/build/?number=1971318) (7.0) - 4x hits
- 8/22 - PR [1959582](https://runfo.azurewebsites.net/view/build/?num

[2022-07-14 00:28] jkotas commented on #72149
cc @LakshanF

[2022-07-14 00:30] radical commented on #62054
@maraf can this be closed now?

[2022-07-14 00:34] davmason commented on #56888
@am11 @janvorli I am going through bugs, I don't see that a fix (at least not the one discussed here) was made, but when I attempt to recreate I do not see the same same error. I am setting `DOTNET_EnableEventLog=1` and running a random C# app with a debug corerun.

Is there something I'm missing?

[2022-07-14 00:37] lindexi commented on #64430
My software uses the mulitple process mode which need some Exe entry file. Per EXE entry file is one of the entry assembly. The bad news is today we can not find any practices about multiple entry assembly in dotnet. The core problem is we will reference difference version assembly which will be conflicting. To solve it, we have to publish each entry project independently.

Without share the dotne

[2022-07-14 00:40] MichalPetryka commented on #72123
Technically speaking, updating the enum would be a breaking change. nint, nuint are missing from it too also. So are pointers.

[2022-07-14 00:41] lindexi commented on #68892
@bartonjs  The Win7 ESU will be supported to 2026

[2022-07-14 00:43] MichalPetryka commented on #72123
I'd personally advise against using GetTypeCode outside of working with enums, it's just too restricted to represent things exactly. Type equality checks in current runtimes are fast too.

[2022-07-14 00:53] #69928 closed

[2022-07-14 00:53] #69943 closed

[2022-07-14 00:53] #69944 closed

[2022-07-14 00:56] agocke commented on #72140
Looks like this already exists as `Enum.GetValues<Type>`

[2022-07-14 01:00] stephentoub opened #72152 "Lots of NegotiateStream tests failing locally on Win11"
When I run the System.Net.Security functional tests locally, I now get a bunch of failures, e.g
[code]
cc: @filipnavara, @wfurt

[2022-07-14 01:09] stephentoub commented on #72152
@filipnavara, it looks like this is due to https://github.com/dotnet/runtime/pull/71280.  If I check out that commit, I still get all of these failures, but if I check out its parent (https://github.com/dotnet/runtime/commit/6c1d3210aa1399351dd5e89b8fe127e1deb8b1a7), the failures disappear and all tests pass.

[2022-07-14 01:09] c-ohle commented on #71791
@tannergooding, a .NET7 BigRational version is available for testing. MathR is gone, the missing conversions and the new interfaces are implemented and tested, - only not finally optimized.
Some open questions about the interfaces, is there a more detailed paper or specification?
The complete public interface so far:

[code]

[2022-07-14 01:09] davmason commented on #72023
Thanks for reporting this, Kevin. I took a look and I don't think this behavior was intentional - there shouldn't be anything in the profiler code that prevents callbacks even after g_fEEShutDown is set, but we bail from `Thread::OnThreadTerminate` before we call the profiler back.

I can't think of a clear right thing to do here, if we move the callback to before that check then I can easily imag

[2022-07-14 01:12] MichalPetryka commented on #72140
Well the issue is that AOT generally requires the type to be known since it can't generate code for every enum possible.

[2022-07-14 01:16] MichalStrehovsky commented on #72140
The problem is with creating the array type at runtime, not with "what values to fill in". We keep enough metadata to be able to fill it in.

We are discussing "fixing" this by having the API return the underlying type of the array. The signature is `Array GetValues(Type)`. It currently returns `SomeInt32Enum[]` for `SomeInt32Enum`. But it could also return `int[]` and still satisfy the contract.

[2022-07-14 01:26] DaZombieKiller commented on #72107
A use case I typically have for a `float`/`double` `ReverseEndianness` is when I'm reading in a bunch of structured data at once, and then want to correct it later if I'm running on a big endian system:
[code]
What would be the optimal alternative here? Changing the structure to use `int`/`uint` and exposing properties that use `Int32BitsToSingle`/`SingleToInt32Bits`?

[2022-07-14 01:39] VincentBu commented on #29683
Failed again in: [runtime-libraries-coreclr outerloop 20220713.6](https://dev.azure.com/dnceng/public/_build/results?buildId=1877619&view=ms.vss-test-web.build-test-results-tab&runId=49132626&paneView=debug&resultId=104105)

Failed test:
[code]
**Error message:**
[code]

[2022-07-14 02:16] radical commented on #71592
It's the same `OpenSilver.dll` which it is stuck on. Can you confirm that `mono-aot-cross.exe` is still running when you think it is frozen?
cc @vargaz TL;dr `mono-aot-cross` seems to be taking a lot of time to compile `OpenSilver.dll` from the project here. You can find the logs in the comments above.

[2022-07-14 02:17] radical commented on #72105
This seems to be because of a recent linker update. Opened an issue for it - https://github.com/dotnet/linker/issues/2893 .

[2022-07-14 02:41] AntonLapounov commented on #71856
@marswe Thank you for reporting this.  You can set this environment variable as a workaround: `set DOTNET_EnableWriteXorExecute=0`.

@janvorli @mangod9 Emulation of x86/x64 on ARM64 is completely broken by W^X.  It fails due to access violation at random locations.  Should we disable it for the emulated execution mode?

[2022-07-14 02:53] am11 commented on #56888
@davmason, thanks for testing it, great news! I forgot about this issue. :)

On linux-x64 machine, I cannot reproduce it with latest  `main` branch. I quickly tested it with https://github.com/dotnet/runtime/commit/5bef921d41e1dc6832c61d2d6e7cae13dc35a2db (from top post; the state of main, when I originally found it) and reproduced on the same machine.

It is very possible that it has been fixed d

[2022-07-14 02:53] #56888 closed

[2022-07-14 02:59] huoyaoyuan commented on #72123
Related: https://github.com/dotnet/runtime/issues/936#issuecomment-663728243
/cc @tannergooding

In my view, `TypeCode` is a highly legacy concept, together with `IConvertible`.

[2022-07-14 03:08] AntonLapounov commented on #71816
Christian Ohle, thank you for reporting this. Please see @EgorBo's reply above.

[2022-07-14 03:08] #71816 closed

[2022-07-14 03:25] vargaz commented on #71592
How can I get that OpenSilver.dll file ?

[2022-07-14 03:44] davidfowl commented on #72153
Can you try setting the environment variable `DOTNET_SYSTEM_NET_SOCKETS_INLINE_COMPLETIONS` to 1 and re-running your test?

[2022-07-14 04:01] jkotas opened #72155 "[NativeAOT] llvm-objcopy is missing in default build pre-requisities"
Repro:

1. Install Linux pre-reqs according to https://docs.microsoft.com/en-us/dotnet/core/deploying/native-aot#prerequisites
2.
[code]

Result:
[code]

[2022-07-14 04:04] jkotas commented on #72155
@am11 What is the advantage of using `llvm-objcopy` for nativeaot? Can we just always default to `objcopy` since it is comes with binutils that we indirectly depend on via clang.

Otherwise, we would need to add `llvm` to out pre-requisites to make `p:StripSymbols` work that is not very desirable.

[2022-07-14 04:08] radical commented on #71887
Yes. It's on my todo list, and I will get to it soon.

[2022-07-14 04:09] AraHaan opened #72156 "cmake error when trying to generate solution for corehost."
### Description

When trying to make a solution for the cmake files under the src/native/corehost folder it results in:

[code]

When running ``cmake -G "Visual Studio 17 2022" -A x64``.

### Reproduction Steps

- Clone dotnet/runtime.
- Use cmake from latest preview 3 of VS2022.
- run ``cmake -G "Visual Studio 17 2022" -A x64`` on a computer with an AMD64 cpu.
- notice that it errors.

### Expect

[2022-07-14 04:13] jkoritzinsky commented on #72155
@janvorli made the change to use `llvm-objcopy` as it handles cross-compilation scenarios significantly better.

[2022-07-14 04:18] #51101 closed

[2022-07-14 04:31] agocke commented on #46720
It sounds like the only compatible solution is to provide the manifest directly next to corlib, even for non-Windows Desktop apps. That doesn't sound like an acceptable solution to me. I'd rather take the compat break. As far as fixing the experience in new apps, I'll leave that up to the WindowsDesktop framework authors.

For now, this is Won't Fix.

[2022-07-14 04:32] LiorBanai commented on #72123
@MichalPetryka  & @huoyaoyuan Thanks for the information. I guess I got my answer :)

[2022-07-14 04:33] #72123 closed

[2022-07-14 04:34] agocke commented on #63602
Yes, let's fix this. @elinor-fung do you have the bandwidth to look at this?

[2022-07-14 04:35] #59833 closed

[2022-07-14 04:39] AntonLapounov commented on #72125
At present we mimic behavior of `VarR8FromDec`: https://github.com/dotnet/runtime/blob/7f9ed8f271df8fb83862b3812d9c490e4ff74711/src/libraries/System.Private.CoreLib/src/System/Decimal.DecCalc.cs#L1870-L1882

[2022-07-14 04:46] Clockwork-Muse commented on #72107
Not sure _how_ optimal, but... write a source generator that writes a method that either just calls `MemoryMarshal.AsBytes(...)` when little endian, or calls separate generated `ReadX` methods when big endian.  Obviously you can't dodge the cost of reversing the endianness, the question would be how much a difference the block blit would save you over separate reads (or other pipeline consideratio

[2022-07-14 04:53] am11 commented on #72155
Currently, we expect user to additionally pass `ObjCopyName=objcopy` in case they installed `clang` package without  `llvm` as, that prerequisite document suggests (at least this is how Debian packages it and it can be different for other packaging systems).

During the runtime build, if llvm-objcopy is available on the machine && toolchain being used is llvm, only then we use it. Otherwise we use

[2022-07-14 04:54] andrewaggb commented on #72153
I tried setting DOTNET_SYSTEM_NET_SOCKETS_INLINE_COMPLETIONS=1 and running the async example on my intel 12400 bare metal machine running rocky linux 8.5. The async cpu usage went from 47% cpu to 2% cpu.  So that's pretty huge and puts the performance right where I'd expect.

I also tried the ubuntu VM that I did my earlier testing in and the cpu usage dropped from about 52% to 7% which is compara

[2022-07-14 04:55] jkotas commented on #72155
I think it would be nice to make `llvm-objcopy` preferred, but not required. It would be great if you can prepare PR that does it. Thank you!

[2022-07-14 04:58] Clockwork-Muse commented on #72138
@tarekgh - I would imagine it's being used for something like a calendar dimension in an analysis dataset, given the apparent use of the filetype - in these cases you don't necessarily have a column that's a `Date` type, but an integer epoch day, then a calendar file with the date in multiple formats and with multiple fields pulled out as columns.

The other primary use for an epoch date is for tr

[2022-07-14 05:10] andrewaggb commented on #72153
I tried my actual application with the flag enabled and while I do see a significant drop in cpu usage for the application as a whole (4-5x) it seems to be unstable as-is with some video feeds reconnecting and whatnot so I'd have to experiment some more and see what works and what doesn't.  It's too early to say without further investigation what to actual cpu reduction reduction will be as some f

[2022-07-14 05:12] LiorBanai commented on #72138
@tarekgh, the H5 type system doesn't have direct .net representation for each type. This force me to use lower level primitive to store (and read back) the data.  So it make sense to use the underline type as the base for the mapping

[2022-07-14 05:13] filipnavara commented on #72152
Is the machine where you tried it domain joined?

[2022-07-14 05:25] Maoni0 commented on #70231
so I just started looking at some dumps that @mrsharm gathered. from an initial look nothing seems unusual. it's not hitting what I fixed so either that issue was no longer reproing (which is good as it was definitely an issue) or it was never not due to that reason. nextObj looks correct (as in, it is indeed the next obj from the object that's being validated) and is always in gen0 so just got al

[2022-07-14 05:44] SteveDunn commented on #61547
That's a reasonable workaround, although I would guess analyzers, such as ReSharper would compain of 'field is assigned but never used'. Hopefully this PR will be approved soon and it'll make it into .NET 7 🤞

[2022-07-14 05:54] HongGit commented on #61243
@0xced just like the warning listed in your repro step, please refer to https://docs.microsoft.com/en-us/dotnet/core/additional-tools/xml-serializer-generator for guidance.

I couldn't repro your issue with either .NET 5.0 or .NET 6.0 following the steps in the above article.  Feel free to reactivate the issue after following the steps in the MSDN article.

[2022-07-14 05:54] #61243 closed

[2022-07-14 06:08] MichalStrehovsky opened #72158 "Assertion failed 'ins != INS_invalid'"
I know I keep doing this to myself (#72081), but I ran System.Runtime.Intrinsics.Tests with NativeAOT and checked JIT. Found another assert. This test is an assert goldmine. This one looks real.

Reproes with CoreCLR/corerun. Save this as test.cs and put where corerun is:

[code]

Then do following:

[code]

JitDump here: [jitdump.txt](https://github.com/dotnet/runtime/files/9109005/jitdump.txt)

[2022-07-14 06:14] elinor-fung commented on #63602
The real issue is making arcade support it: https://github.com/dotnet/arcade/issues/8374

I can try to get back to looking at it.

[2022-07-14 06:33] #70819 closed

[2022-07-14 07:07] JamesNK opened #72160 "QUIC: DefaultStreamErrorCode and DefaultCloseErrorCode default values cause error"
### Description

This is on the preview7 branch, reacting to API changes.

`QuicConnection.ConnectAsync` errors when passed `QuicConnectionOptions` without having `DefaultStreamErrorCode` or `DefaultCloseErrorCode` set.

### Reproduction Steps

1. Create `QuicClientConnectionOptions` and don't set default error codes
2. Call `QuicConnection.ConnectAsync`
3. Get error.

### Expected behavior

I wou

[2022-07-14 07:34] maraf commented on #62054
I'm still looking for a way to backport it to 6.0.

[2022-07-14 07:57] ManickaP commented on #72160
These properties are required, user needs to set them up.
In the last round of API review, it was decided to forgo the `required` since it's not exactly nice to work with from user's perspective and we still have properties that cannot be validated by this (ALPN list, SslAuthenticationOptions). So we gave the user ability to construct the object in whatever way they deem the best and validate ever

[2022-07-14 07:59] janvorli commented on #71856
Let me investigate what's wrong first. I have no idea why it would fail.

[2022-07-14 08:04] Chakrygin opened #72163 "[API Proposal]: Consider DI overloads to use implementation factory with open generic types"
### Background and motivation

Hi!

Now we can register an implementation factory for an open generic type, but we can't use it because it doesn't have any information about the type of the object to be created.

For example:

[code]

### API Proposal

This proposal about to add implementation factory overloads that also have the type parameter of the object being created.

[code]

### API Usage

[2022-07-14 08:09] filipnavara commented on #72152
Does [this](https://github.com/dotnet/runtime/compare/main...filipnavara:runtime:sspi-alloc-fix?expand=1) fix it for you?

[2022-07-14 08:12] maraf commented on #38988
How should the .NET API behave when the browser API is not available?

We have several situations that can happen
- The browser API is not available for NodeJS/V8.
- This browser API is well supported on all new browsers, but if we speak in general, it could happen, that the API we are relying on is missing/disabled/monkey patched etc.

We could deal with it in these ways
- Silently do nothing (no

[2022-07-14 08:21] ManickaP commented on #55103
Fixed in #71969 #71783 #71579

[2022-07-14 08:22] ManickaP commented on #59346
Closed by #71969

[2022-07-14 08:22] #59346 closed

[2022-07-14 08:30] ManickaP commented on #71927
Triage: looks like reliability issue, let's investigate in 7.0. It should be fairly simple to reproduce locally.

[2022-07-14 08:30] m-gallesio opened #72164 "Invalid cast exception when using "or" for compatible types in pattern matching in a switch expression"
### Description

When using:
- pattern matching
- in a switch expression
- using an `or` clause to test for multiple types
- trying to cast the result to a type which should be compatible with all of them
the codes compiles, but at runtime an `InvalidCastException` is raised.

### Reproduction Steps

[code]

### Expected behavior

The result get correctly cast to the specified, compatible type.

#

[2022-07-14 08:37] ManickaP commented on #72160
Triage: let's discuss user-friendliness of postponed options validation as well as how to better surface errors from failed inbound connections.

[2022-07-14 08:41] MichalStrehovsky opened #72165 "SaveWmfAsPngDoesntChangeImageBoundaries test failure with NativeAOT"
Interop bug?

[code]

[2022-07-14 09:01] ViktorHofer opened #72166 "TrimOOBAssemblies target shouldn't hardcode untrimmable assemblies"
The `TrimOOBAssemblies`'s dependent target currently hardcodes the list of untrimmable out-of-band assemblies: https://github.com/dotnet/runtime/blob/f0a756649c0f335b654e9b1ce2725b497e377a2a/src/libraries/oob.proj#L48-L59

This information is already provided by the projects themselves and should just be accessed by flowing it through the `TargetPathWithTargetPlatformMoniker` item. That static dat

[2022-07-14 09:14] EgorBo commented on #72164
You can't unbox byte as integer, e.g.:
[code]
throws IOE as expected

[2022-07-14 09:29] kg commented on #38988
For `NetworkInterface.GetIsNetworkAvailable`:
* In any case where we cannot return a valid yes/no answer, we should throw. The developer and user may develop false expectations otherwise. This will be cases where the host doesn't have the API or the API has been disabled/monkeypatched. We should not produce speculative values like "well, this is a blazor app, so they're probably connected to the n

[2022-07-14 09:37] eiriktsarpalis commented on #72101
The failing assertion according to the build logs is this one:

https://github.com/dotnet/runtime/blob/f0a756649c0f335b654e9b1ce2725b497e377a2a/src/libraries/System.Text.Json/tests/Common/TestClasses/TestClasses.Constructor.cs#L1076

Seems related to #69800. The output does not match the assertion inputs so wondering if this might be a runtime issue.

[2022-07-14 09:39] m-gallesio commented on #72164
Understood. This works, though:
[code]
I expected pattern matching to, having narrowed down the possible types, be somehow able to recognize that the type can indeed be cast correctly line in this example.
I realize they are different cases and I guess it's my bad for not knowing the difference. Still feels kind of obtuse.

[2022-07-14 09:44] Suchiman commented on #72140
@MichalStrehovsky couldn't the TypeLoader dynamically typeload `SomeInt32Enum[]` by basing it off the underlying type? Given that they have identical layouts and calling conventions, etc.

[2022-07-14 10:25] #68690 closed

[2022-07-14 10:25] #70966 closed

[2022-07-14 10:37] ilya-scale commented on #63747
The new model that you guys have introduced seems like a big improvement and is a very welcome addition! One thing I was wondering and cannot find an answer to is how a type discriminator would behave if we will have the exact same field that we want to use in a runtime:

Example:
[code]

What will happen if the `DiscriminatorPropertyName` will collide with an existing field and if it is possible

[2022-07-14 10:48] MaceWindu commented on #31529
Covered by #70422 ?

[2022-07-14 10:55] stephentoub commented on #72152
Azure domain joined, yes.

Will try out your suggested fix in a little while, thanks.

[2022-07-14 10:58] eiriktsarpalis commented on #63747
@ilya-scale that's a good question actually. It would seem like the metadata writer does not check for property name conflicts even though the metadata reader does and will throw an exception. I think it might make sense to introduce a fix so that some form of validation takes place on the serialization side as well. I'll fork this into a separate issue.

[2022-07-14 11:03] eiriktsarpalis opened #72170 "System.Text.Json metadata writer does not check for property name conflicts"
_Originally posted by @ilya-scale in https://github.com/dotnet/runtime/issues/63747#issuecomment-1184282250_

This can be reproduced both with `ReferenceHandler.Preserve`:
[code]
and polymorphism
[code]
We should validation for both cases to ensure invalid JSON is not emitted over the wire.

[2022-07-14 11:38] skelendal opened #72173 "System.IO.FileNotFoundException thrown when using System.Text.Json in mixed .Net version solution. Assembly versions do not match."
### Description

We have a fairly large code base which consist of different .Net version projects. Mostly .Net6.0 and .NetStandard2.0 but a few .Net Framework 4.7.2 projects as well. We are migrating all of these to .Net6.0 but it will still take a lot of time before everything is done.

The issue we are facing is with System.Text.Json. We have installed the 6.0.5 nuget package to the projects th

[2022-07-14 11:58] deeprobin commented on #30718
I don't know if you are the right one to tag here: @danmoseley. But I think such an API is very useful.
Even if most WebAPIs and high-performance applications use gRPC and JSON, XML is still often used today (APIs of some governments, SOAP APIs, ...).

I think a new Xml API in a similar architecture as System.Text.Json makes a lot of sense (and must be more performant than System.Xml).

Do you thi

[2022-07-14 12:06] eiriktsarpalis opened #72175 "System.Text.Json contract customization: stack overflow when adding recursive properties via JsonMetadataServices"
Minimal repro:
[code]
This was probably introduced by #71908: the [`DetermineSerializationCapabilities` method](https://github.com/dotnet/runtime/blob/1a0c9cac0ae3c511a51217736e212495510e85b4/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfoOfT.cs#L475-L509) used to determine whether read-only properties should be ignored was moved out of the final `Config

[2022-07-14 12:17] janvorli commented on #72067
@lheinold so this memory is really just what we reserve in virtual memory space with PROT_NONE. 2GB out of that is reserved for executable code allocator for performance reasons so that it resides close to the libcoreclr.so and JITted code can use PC relative calls / jumps as much as possible.

And I can confirm that on Ubuntu 18.04, this is not accounted for in the PrivateMemorySize64 (which mean

[2022-07-14 12:21] shadow-cs opened #72177 "HttpClient The response ended prematurely"
### Description

I'm running a legacy HTTP server and I randomly get the `The response ended prematurely` error while receiving the payload body. I was trying to investigate which ultimately led me to a possible bug in `HttpClient` `Connection: close` handling.

I'm using a HTTP 1.0 server implementation, and I'm always sending `Connection: close` and `Content-Length` headers.

The server tries to

[2022-07-14 12:26] ManickaP commented on #72027
@wfurt how would we assert that the layout is the same? We have an assert about size, but I'm not sure what else we could do, any ideas?

[2022-07-14 12:37] ilya-scale commented on #72170
Would there be a way to have both polymorphic deserialization and a possibility to read the property, i.e. the discriminator from the resulting C# object, or you want to explicitly prohibit it so that it will not be possible?

[2022-07-14 12:47] MichalStrehovsky commented on #72140
It would probably leak out from the implementation of generic interfaces on the arrays. Maybe something like cast to IEnumerator(SomeEnum), do GetEnumerator and on the returned enumerator call the non-generic IEnumerator.Current. It would return a boxed Int because it's hardcoded in code. We need shared code over enums to get around that.

[2022-07-14 12:51] eiriktsarpalis commented on #72170
I think it would make sense to explicitly prohibit.

[2022-07-14 12:57] bachratyg commented on #63747
@ilya-scale this is a known limitation. See https://github.com/dotnet/runtime/issues/63747#issuecomment-1158624112

[2022-07-14 13:00] Yustos commented on #72099
I see that area is area-System.Diagnostics.Metric, but i have no idea how to add label for issue.

[2022-07-14 13:04] noahfalk commented on #60565
I just put up a PR that should resolve the PinnedHeapHandleTableCrst part of the issue. With no known repro I can't guarantee it fixes the problem, but I think I have a decent guess what happened and I am able to use the debugger to confirm that the new debugger suspension point is outside the PinnedHeapHandleTableCrst lock.

I am planning to mark the bug resolved once that fix gets checked in and

[2022-07-14 13:37] #62474 closed

[2022-07-14 13:39] deeprobin commented on #30718
/cc @jeffhandley @dotnet/area-system-xml

[2022-07-14 13:40] BrunoJuchli commented on #71921
@mangod9
I've looked a bit closer at it and had to correct my last comment. At the moment I don't have a clear indication that would point to StackExchange.Redis - it's being used in affected and unaffected apps.

[2022-07-14 13:47] jonathanpeppers commented on #71640
@lateralusX did you try a `dotnet new maui` project? I was also doing `Release` builds.

[2022-07-14 13:56] MihaZupan commented on #65379
This has been mitigated by #68115 in 7.0 - you should only hit this issue if the request message's headers are modified after it was sent.

Moving to future.

[2022-07-14 13:59] dr1rrb opened #72181 "Crash in GetHashCode with generic record"
### Description

In a library, I've a generic record that inherits from another generic record https://github.com/unoplatform/uno.extensions/blob/450d19f8fd9d4c53f327e5ecddbeeb50f86b020f/src/Uno.Extensions.Reactive/Operators/FeedToListFeedAdapter.cs#L14, but as soon as I try to use an instance of that record in a `Dictionary` my app is crashing.

### Reproduction Steps

Unfortunately I was not abl

[2022-07-14 14:17] stephentoub commented on #72152
Yes

[2022-07-14 14:19] EgorBo opened #72182 ""coreclr Pri0 Runtime Tests Run windows arm64 check" timeouts"
This JOB timeouts in various PRs, e.g.: https://github.com/dotnet/runtime/pull/72141, https://github.com/dotnet/runtime/pull/72168, https://github.com/dotnet/runtime/pull/72084, https://github.com/dotnet/runtime/pull/72167

[2022-07-14 14:39] GrabYourPitchforks commented on #67082
We should consider unsealing the exception. It's not all that common for exception types to be sealed unless they're "special" exceptions that represent something very special to the runtime.

[2022-07-14 14:40] #71040 closed

[2022-07-14 14:44] danmoseley commented on #30718
As mentioned above, this area has different owners than the folks you @-mentioned here.

As a general observation @deeprobin, not specific to XML serialization, when an issue proposes a new major investment of some sort, it is not meaningful to ask "do you think this could be taken on the plan". Such an issue just forms the start of a possible discussion. Bear in mind that high performance seriali

[2022-07-14 14:46] eerhardt commented on #72163
Duplicate of https://github.com/dotnet/runtime/issues/41050.

[2022-07-14 14:46] #72163 closed

[2022-07-14 14:50] greenEkatherine opened #72185 "Request with HttpVersion > 3 and RequestVersionOrHigher policy sent as H/3 request"
### Description

Request message with HttpVersion higher than currently supported 3.0 is not checked on the HttpVersionPolicy. In case when it is set to RequestVersionOrHigher we get unexpected behavior -- request is treated as H/3 request.

### Reproduction Steps

[code]

### Expected behavior

Throw request version cannot establish

### Actual behavior

No exception from HttpConnection pool and

[2022-07-14 14:51] sdrapkin commented on #71366
Thanks for the response. I would encourage .NET team to consider adding tag-length-fixing constructor overloads to `AesGcm`, based on @bartonjs reply.

Do note that the `AesCcm` behavior does not have the same problem - ie. truncated `AesCcm` tags (that are still length-permitted based on `AesCcm.TagByteSizes`) will fail to decrypt. This creates 2 different (and undocumented) behaviors for `AesGcm

[2022-07-14 14:52] eiriktsarpalis commented on #71964
Given the issue surfaced by #72175 I think we can put this to bed for now. We can re-evaluate in the future.

[2022-07-14 14:52] #71964 closed

[2022-07-14 14:54] davidfowl commented on #64427
@commonsensesoftware Can you put your prototype up on github?

[2022-07-14 14:54] MihaZupan commented on #71215
This request makes sense to me. From what I can tell it should be mainly updating the [`HttpEnvironmentProxy.GetUriFromString`](https://github.com/dotnet/runtime/blob/a712828583b54a283d0e5343457d4b16d2234b31/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpEnvironmentProxy.cs#L122) to not assume http-only.

[2022-07-14 14:57] janvorli commented on #72067
The Valgrind unrecognized instruction error in RtlRestoreContext is a known issue. It doesn’t understand the iret instruction. I think there was a fixed version of valgrind, but I may be mistaken. Anyways, when I’ve used Valgrind in the past, I’ve always built it from the latest sources.
As for the vmmap like tool, what were you missing in what pmap is providing? It seems to show basically the sam

[2022-07-14 15:04] eiriktsarpalis opened #72187 "System.Text.Json instances of polymorphic types emit type discriminator when serialized as `object` types"
Creating an issue to track

https://github.com/dotnet/runtime/blob/main/src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/PolymorphicTests.CustomTypeHierarchies.cs#L937-L943

[2022-07-14 15:13] lambdageek opened #72308 "`sudo dotnet workload --help` segfaults on Apple M1 in .NET 7 Preview 6"
### Describe the bug

Installing .NET 7 Preview 6 on osx-arm64 and then running `sudo dotnet workload --help` results in:

[code]

**Impact** It is impossible to install any workloads on an M1 Mac using .NET 7 Preview 6 or later.

### To Reproduce

Download the .NET7 Preview 6 arm64 OSX installer from https://dotnet.microsoft.com/en-us/download/dotnet/7.0 and install it.

Open a terminal and run

[2022-07-14 15:22] wfurt commented on #71215
Is there anything beyond that function? I assume fixing just the parser would not be enough, would it @MihaZupan ?

[2022-07-14 15:24] viewizard opened #72190 "[Question] CoreCLR debug API usage, evaluation after `ICorDebugController::Stop`."
Hello,

I am testing our debugger with simple application (console "hello world", managed only, 1 thread),
[code]
and found, that in case we stop debuggee process by breakpoint we receive `ICorDebugManagedCallback::Breakpoint` and could create in separate thread (we can't stay in ICorDebugManagedCallback and eval, since eval also use ICorDebugManagedCallback routine) `ICorDebugThread::CreateEval`

[2022-07-14 15:27] wfurt commented on #72027
perhaps separate test for the helper? Serialize given buffer as SocketAddress and compare equality?
AFAIK the only one special case was macOS were the layout was different. Conceptually, test would probably fail on platforms where we do it wrong. Perhaps just remove the comment with the doubts....?

[2022-07-14 15:30] jtschuster commented on #70096
Looks like this might have been causing an issue in a [rolling build](https://runfo.azurewebsites.net/view/build/?number=1880188) and a number of PRs.
[Failures](https://runfo.azurewebsites.net/search/tests/?q=started%3A~7%20definition%3Aruntime%20name%3A%22methodical_ro%20work%20item%22)

Could be a separate issue though.

[2022-07-14 15:33] ivanpovazan commented on #71537
Closing this issue since we implemented a [different approach](https://github.com/dotnet/runtime/issues/71532#issuecomment-1172429913) and did not exclude tests which were testing support for this attribute on Mono

[2022-07-14 15:34] sdrapkin opened #72191 "[API Proposal]: AesGcm/AesCcm.KeyByteSizes, AesGcm/AesCcm.KeySize"
### Background and motivation

System.Security.Cryptography:

**Proposal-1:**
`AesGcm` and `AesCcm` currently expose [`.NonceByteSizes`](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.aesgcm.noncebytesizes) and [`.TagByteSizes`](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.aesgcm.tagbytesizes). However they do not expose allowed `.KeyByteSizes`

[2022-07-14 15:47] wfurt commented on #71876
triage: we should look at the dump, unless you have already some insight @davidfowl. Also we should see if this is new behavior on 6.0.

[2022-07-14 15:50] jtschuster commented on #72101
Also hitting similar assert failures in System.Text.Serialization.Test.ContinuationTests
https://runfo.azurewebsites.net/view/build/?number=1869899

[2022-07-14 15:54] dakersnar commented on #72125
Yes, I believe that's the actual conversion code. @tannergooding and I were brainstorming some ways to improve its precision. We think a method in which we split the decimal into a fractional and integral part using Truncate, translate each mantissa to a double, process the fractional part, and then combine the two parts could be the correct solution.

[2022-07-14 15:58] wfurt commented on #71549
triage: we should look if we can surface some better error - like the error response even if we failed to write the body.

[2022-07-14 16:04] dazinator commented on #36378
So I also came to the same sort of solution as posted here, independently.
I too, want to be able to re-configure http clients at runtime, for example, changing the base address, or handlers.

I realised the best way to do this is to "cache bust" the `IHttpClientFactory` by requesting a http client, with a new name, so it builds an entirely new http client configuration.

So for example in your ap

[2022-07-14 16:06] wfurt commented on #72177
triage: we should investigate the repro

[2022-07-14 16:15] jchannon commented on #70438
That is something I considered for Carter (https://github.com/CarterCommunity/Carter/issues/291) and it could be an answer, my guess is that would slow the startup time of Carter if I'm calling Assembly.Load. I could narrow down the assemblies it loads by not loading assemblies starting with Microsoft/System. @agocke @vitek-karas does the DependencyContext.RuntimeLibraries list call Assembly.Load

[2022-07-14 16:15] jchannon commented on #70438
cc @davidfowl

[2022-07-14 16:34] dakersnar commented on #72194
All the above regressions have been solved except for System.Buffers.Tests.RentReturnArrayPoolTests<Object> MultipleSerial and SingleParallel

[2022-07-14 16:36] qingyiwebt opened #72195 "[Host] Failed to get pointer of a function, statusCode: 0x80070057"
Here is my C++ code:
[code]

Here is my C# code(`YaE.Engine.dll`):
[code]

C# code was compiled successfully, and `get_delegate_fptr` was called successfully.
But when I try to get the pointer of `YaE.Engine.Bootstrap.Run(...)`:
[code]
`load_assembly_and_get` returned `0x80070057`, and `bootstrapMethod` is zero.

what's wrong with this code?

(I'm sorry for my poor English, if you can't understand

[2022-07-14 16:39] jtschuster opened #72196 "[Quic] System.Net.Quic.Tests.MsQuicTests.WriteTests timeout in rolling build"
[Build](https://runfo.azurewebsites.net/view/build/?number=1880188), [Log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-86f871399ad4442b86/System.Net.Quic.Functional.Tests/2/console.ab8d2f0f.log?%3Fhelixlogtype%3Dresult)

[code]

Runfo Tracking Issue: [system.net.quic.tests.msquictests.writetests](https://runfo.azurewebsites.net/tracking/issue/361)
|Build|D

[2022-07-14 16:43] rhyous commented on #72061
Thank you so much for responding so quickly. I read through the other articles linked. I didn't not try NLS.

Clarifying question: What is the option the doesn't include a period? Or are saying is that the extra period '.' is just going to be there and I have to code a fix for this myself?

If I do have to fix it myself, no biggie. I can do something like this.

[code]

However, it seems like the

[2022-07-14 16:47] wfurt commented on #72196
Do you know if this is windows-11 specific @jtschuster ?

[2022-07-14 16:53] jtschuster commented on #72196
It looks like it's happened on Windows 10 as well, but only on 2 builds so far.
https://runfo.azurewebsites.net/search/tests/?q=started%3A~7%20definition%3Aruntime%20name%3A%22system.net.quic.tests.msquictests.writetests%22

[2022-07-14 16:59] commonsensesoftware commented on #64427
@davidfowl Just to be clear, are you asking me to take the attached prototype (at the top) and turn it into a repo (instead)? If so, I'll work on that ASAP.

[2022-07-14 17:05] qingyiwebt commented on #72195
Problem solved.
Just use a delegate.
[code]
[code]

[2022-07-14 17:05] #72195 closed

[2022-07-14 17:27] bartonjs commented on #59282
* We would prefer an option without a static setter, like using AppContext to allow the setting to be set (and loaded into a `Lazy<T>` so it only gets read once)
* As the next fallback, it might be helpful to have the setter only allow set-once (throw on a second call to set)

[code]

[2022-07-14 17:29] filipnavara commented on #59282
A similar implementation of AppContext switch for timeout is in the [Regex class](https://github.com/dotnet/runtime/blob/7ab6c18428cf7b102beb126b55bbfdb0a3878091/src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.Timeout.cs).

[2022-07-14 17:30] dhhoang commented on #49866
@ViktorHofer  please see my proposal below
**[API Proposal]: `EventBookmark.Create()` and `EventBookmark.GetBookmarkXml()`**
## API proposal
[code]
## API usage
[code]

## Alternative Designs
Another way to achieve the same functionality is to change the `EventBookmark` constructor and `BookmarkText` property from `internal` to public. However, that might break compatibility with existing code tha

[2022-07-14 17:31] davidfowl commented on #64427
Yep!

[2022-07-14 17:41] nthalpy opened #72202 "Null dereferencing makes AccessViolationException under certain condition."
### Description

With `MethodImplOptions.NoInlining` method option and Visual Studio debugger attached, null dereferencing makes System.AccessViolationException, not System.NullReferenceException.

### Reproduction Steps

[code]

I executed the code above on Visual Studio 2022, .NET 6.0, Release, AnyCPU configuration.
I launched with debugger, with breakpoint set on `o.Foo();` statement.
Native de

[2022-07-14 17:47] bartonjs commented on #71804
Looks good as proposed. (Changed resourceID to resource to match an in-flight rename request)

[code]

[2022-07-14 17:47] #72152 closed

[2022-07-14 17:48] bartonjs commented on #72121
Looks good as proposed

[code]

[2022-07-14 18:07] tarekgh commented on #72061
Thanks @rhyous for the question. @Clockwork-Muse question to you is good too to answer as you may targeting a scenario that is not desirable by your customer.

The period is included in the abbreviated genitive month names. This is part of the `de-DE` culture. You may choose formatting your date differently to avoid getting the abbreviated genitive month names.  Usually, the genitive month names w

[2022-07-14 18:09] vargaz commented on #71592
Thanks, I can reproduce.

[2022-07-14 18:13] vcsjones commented on #71607
I believe this issue has been resolve then.

1. The .NET Core 3.1 OpenSSL fix was not accepted per @jeffhandley's comment.
2. .NET 6 and up are already fixed for OpenSSL.
3. The .NET 6 Android fix was accepted and will be in 6.0.9.
4. The .NET 7 Android fix will be in .NET 7.0-preview7.

I'm going to close this, but @Maxyeah if you would like to re-open it to further discuss the 3.1 fix as @jeffha

[2022-07-14 18:13] #71607 closed

[2022-07-14 18:14] Eilon commented on #70434
@EdCharbeneau very nice!

[2022-07-14 18:27] MattGal commented on #72096
I'm interested in how you made this conclusion given that the build image in question is not part of that PR?

[2022-07-14 18:42] SingleAccretion opened #72206 "`[U]Int128` alignment handling is in the wrong place"
There is code here:

https://github.com/dotnet/runtime/blob/cb57fbb00a8ca39df359c0e7bdf600b72abea09f/src/coreclr/vm/methodtablebuilder.cpp#L9909-L9923

Which is intended to handle the special alignment requirement of the type on Unix x64/ARM64.

However, this code is currently dead because it is in an `if` block under `bmtGenerics->HasInstantiation()` (i. e. the `if` only handles generic types).

[2022-07-14 18:45] #70684 closed

[2022-07-14 18:53] bartonjs commented on #22699
Looks good as proposed

[code]

[2022-07-14 19:01] elinor-fung commented on #57243
I believe this was addressed with https://github.com/dotnet/runtime/pull/69528

[2022-07-14 19:01] #57243 closed

[2022-07-14 19:08] bartonjs commented on #33914
* Changed "Value" to "Element"
* Made SingleElementType a method instead of a null-returning property

[code]

[2022-07-14 19:08] tannergooding commented on #72125
Right. `double` has `52` (well 53) bits of significand precision. It can exactly represent whole integers up to this value. It can correctly represent any integral up to 2^53 before it starts losing precision.

For values above 2^53, we already have a valid (and efficient) `Int128->Double` conversion. For values between `2^52` and `2^53` we may need to consider the fractional part for rounding.

S

[2022-07-14 19:09] jtschuster opened #72209 "System.Net.Http.Function.Tests and System.Net.Websockets.Client.Tests work items failing on runtime-extra-platforms Mono_Release runs"
[Http.Functional](https://runfo.azurewebsites.net/search/tests/?q=started%3A~7%20definition%3Aruntime-extra-platforms%20name%3A%22system.net.http.functional.tests%20work%20item%22)
[WebSockets.Client](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E7+definition%3Aruntime-extra-platforms+name%3A%22system.net.websockets.client.tests+work+item%22)

[2022-07-14 19:10] rzikm commented on #71518
This does not look like .NET Runtime bug, the error comes from MsQuic.

I was able to reproduce this even outside MsQuic using the sample app from https://docs.microsoft.com/en-us/windows/win32/winsock/sio-acquire-port-reservation, the problematic range seems to be ports 50000-50059.

I filed issue with MsQuic to see if they can do something about it: https://github.com/microsoft/msquic/issues/289

[2022-07-14 19:11] rzikm commented on #71518
There is something called _Port Exclusion Ranges_ apparently that affects this:

[code]

[2022-07-14 19:12] joelverhagen commented on #57531
@steveharter - I did a ninja edit of my repro and output. I realized it wasn't clearly showing the problematic attribute that causes the memory spike.

[2022-07-14 19:14] JulieLeeMSFT commented on #71950
@TIHan PTAL. cc @dotnet/jit-contrib.

[2022-07-14 19:22] sec commented on #71338
With help from @janvorli (tbh he did debug and hack part) - it turns out, that crashing was due missing implementation of `unw_is_signal_frame` function on FreeBSD aarch64 host - it was returing `-UNW_ENOINFO` - with change to `return 0` (I think @janvorli did a fair roll of dice here), sample app with Writeline/throw new exception is finishing with:
[code]

If I compile the same app using SDK on

[2022-07-14 19:43] hoyosjs commented on #70096
Those failures are unrelated.

[code]

They do see libraries. There's one odd case there that doesn't have logs.

[2022-07-14 19:50] #71884 closed

[2022-07-14 20:02] davidfowl commented on #70438
Just FYI none of these very common application patterns are linker friendly, scanning all assemblies or relevant assemblies is problematic for trimming, this is one of the reasons the app frameworks like ASP.NET Core avoid it now. MVC isn't trim safe yet but is inching towards this. Today we scan assemblies at build time, find the relevant ones and add them to the main assembly via an attribute.

[2022-07-14 20:03] steveharter commented on #72175
Is it well-known what scenarios can cause this?

Can this change to a lazy model? Such as what we have normally where recursion is prevented by just capturing the Type for
 a property and then resolving the metadata later once first-time (de)serialization occurs for that property.

[2022-07-14 20:06] 333fred commented on #71559
I don't know of an attribute like this that we allow, even with a warning. For example, extension methods are represented by an attribute, but it is illegal to use that attribute in C# itself.

[2022-07-14 20:11] #64986 closed

[2022-07-14 20:14] janvorli commented on #71338
@sec unhandled exception are supposed to call abort, which in turn can generate core dump if enabled on the system. So it seems the behavior is correct. Provided the exception is supposed to be unhandled.

[2022-07-14 20:20] vitek-karas commented on #70438
I personally would also prefer build-time solution as the default for these cases. I know that some users will want truly dynamic behavior (I drop in a file and it gets picked up), but that should be opt-in in my opinion. Lot of things in .NET SDK make a soft assumption that it can see the entire app during build - especially the newer features (single-file, trimming, NativeAOT, ...), so adding th

[2022-07-14 20:26] antonfirsov commented on #72096
It changed `http.yml` and `ssl.yml` to use `Build.Windows.Amd64.VS2022.Pre`, at least this is what I found from history.
https://github.com/dotnet/runtime/pull/67771/files#diff-b129ff040baeefd1f9c0455447879e0bfa41edeed681cae64da75fdb6e0d52aa

Is there some piece of information I'm missing?

[2022-07-14 20:32] deeprobin commented on #30718
@danmoseley
You're right, it would be a very big project.

Nevertheless, I think that we can achieve significant added value through it.

Alternatively, we could plan a general serializer for SGML-derived (System.Text.Sgml) on which we could then build System.Text.Xml.

I would go for an XML API for now:
XML will always/for a long time be part of applications that require at least a relatively goo

[2022-07-14 20:41] Symbai commented on #41287
What's missing for getting this proposal reviewed? @kronic: done.

[2022-07-14 20:49] ericstj commented on #71559
I noticed some other ones like `AsyncStateMachineAttribute` and `AsyncIteratorStateMachineAttribute`.  I'm not saying I have a huge opinion here, just saying I was surprised.  I think of _errors_ as things that would halt the compilation and this didn't feel like it was that severe.

[2022-07-14 20:51] MattGal commented on #72096
Oh I see, you're totally right, I missed that because that was outside the scope of an Arcade update (it's not in the eng/common folder).  Should probably fix that.. those were commits from @agocke / @hoyosjs  not the arcade update from the Blame.

[2022-07-14 21:03] masonwheeler opened #72220 "Please revert PR #57561"
Brotli compression defines several compression levels, with each higher level providing a greater degree of compression at the cost of a larger amount of processing time.  The `CompressionLevel` enum is mapped onto it in [BrotliUtils.cs](https://github.com/dotnet/runtime/blob/main/src/libraries/System.IO.Compression.Brotli/src/System/IO/Compression/BrotliUtils.cs) in an extremely unforgiving manne

[2022-07-14 21:08] stephentoub commented on #46595
@carlossanlop, this was closed by #57561, but it only addressed half of this issue.  Was closing it intentional?

[2022-07-14 21:09] snakefoot opened #72225 "HostingAbstractionsHostExtensions RunAsync disposes without logging"
### Description

The RunAsync in HostingAbstractionsHostExtensions.cs disposes the Host on exit:

https://github.com/dotnet/runtime/blob/2be87c9c976c0cd21b66ea12ae406a559aacaac0/src/libraries/Microsoft.Extensions.Hosting.Abstractions/src/HostingAbstractionsHostExtensions.cs#L60-L70

This disposes the ServiceProvider and the LoggerFactory, so unable to perform any logging after this point.

Inside

[2022-07-14 21:12] stephentoub commented on #72220
The intent of https://github.com/dotnet/runtime/issues/46595 was to both fix the silent passthrough (which makes the abstraction leaky and which leads to really weird behavior in that the value is treated very differently based on its value) _and_ to reset CompressionLevel.Optimal to map to Brotli's 6 rather than 11.  What is the value you wanted to use?

[2022-07-14 21:12] #50590 closed

[2022-07-14 21:16] eiriktsarpalis commented on #72175
To my knowledge it is only possible when adding `JsonPropertyInfo` constructed via `JsonMetadataServices` with the reflection-based contract resolver when used with recursive types. It has only been possible since #71908 and I'm reverting the relevant logic that is causing it.

In general properties have used lazy converter resolution to work around recursive type structures. It's just that #71908

[2022-07-14 21:17] #72175 closed

[2022-07-14 21:19] jtschuster commented on #72149
Deleted duplicates in runfo, didn't mean to close this

[2022-07-14 21:24] masonwheeler commented on #72220
I agree, there's some weirdness there.  In particular, under the existing scheme it's not possible to access levels 2 or 3.  This could likely be rectified by adding a new constructor that takes an int rather than a `CompressionLevel` and validates that it's within the accepted range.  (The `CompressionLevel` constructor could be easily rewritten to call this one with the mapped value.)

I have ex

[2022-07-14 21:26] stephentoub commented on #72220
The intent is to expose such fine-grained configuration via APIs like https://github.com/dotnet/runtime/issues/42820.

[2022-07-14 21:31] masonwheeler commented on #72220
That would probably be acceptable, though the current state that PR left the code in is still quite bad.  In particular, it throws an exception with a generic "argument out of range" message.  If you're making a breaking change to existing code *and* providing a better way to do the same thing, it would really help if the error message said "try using this new API instead."  (And yes, I understand

[2022-07-14 21:32] jtschuster commented on #37093
`System.Numerics.Tests.GetBitLengthTests.RunGetBitLengthTestsLarge` failed in runtime-extra-platforms rolling build on tvOS.
https://runfo.azurewebsites.net/view/build/?number=1871170

[2022-07-14 21:32] stephentoub opened #72226 "SslStreamCertificateContext has public fields in its implementation that aren't in the contract"
SslStreamCertificateContext has two public fields in its implementation that aren't in the contract:
https://github.com/dotnet/runtime/blob/617de07699b8d9041be4fa5ddd81ec3b9509f641/src/libraries/System.Net.Security/src/System/Net/Security/SslStreamCertificateContext.cs#L11-L12

This was done for System.Net.Quic to be able to use these without actually making public API for them.  But there are a v

[2022-07-14 21:33] eerhardt commented on #36062
Closing as this is not a dotnet/runtime issue. If someone is blocked on the VS Docker Tools, please open an issue at https://github.com/microsoft/dockertools/issues.

[2022-07-14 21:33] #36062 closed

[2022-07-14 21:34] am11 opened #72227 "System.Net.Security.Tests crashed on Alpine.arm32 and OSX.1200"
Occurrences ?-8/24 (incl. PRs):

Day | Run | Notes
-- | -- | --
~8/22-8/23~ | ~PR #74363~ | ~39x failures in System.Net.Security.Tests, System.Net.Security.Unit.Tests and System.Net.Security.Enterprise.Tests~ - most likely specific to the PR
~8/15~ | ~PR #67049~ | ~RedHat.7.Amd64.Open~ - unrelated problem - see https://github.com/dotnet/runtime/issues/72227#issuecomment-1225626802 for details
8/7

[2022-07-14 21:38] bartonjs commented on #71366
@sdrapkin Your insistence that our implementation is wrong and/or against spec isn't productive.

We have the implementation we have, and we're not going to change it.  The specific example that you cited from JWA nearly automatically requires separate contexts that are only tied together by a specification; and NIST often writes "this is how things are" which only means "this is the only acceptab

[2022-07-14 21:38] eerhardt commented on #42643
We will consider this in a future release. Moving this issue out of the 7.0 milestone.

[2022-07-14 21:38] LakshanF commented on #72149
#72108 has the RR passing (including the Linux-arm64 platform). Waiting for some checks to complete in the runtime pipeline that seems to be due to service outage

[2022-07-14 21:39] eerhardt commented on #35989
We will consider this in a future release. Moving this issue out of the 7.0 milestone.

[2022-07-14 21:39] eerhardt commented on #44517
We will consider this in a future release. Moving this issue out of the 7.0 milestone.

[2022-07-14 21:41] eerhardt commented on #43359
We will consider this in a future release. Moving this issue out of the 7.0 milestone.

[2022-07-14 21:42] steveisok commented on #37093
Looks like the failure was OOM.  It may be a fluke.  Will monitor to see.

[2022-07-14 21:43] masonwheeler commented on #72220
@stephentoub  BTW it looks like you reopened issue #46595 after I posted this, but the issue remains in "locked as resolved and limited to collaborators" status, with non-team members unable to comment.

[2022-07-14 21:43] eerhardt commented on #47191
Half of this feature was completed in .NET 7. We will consider the rest in a future release. Moving this issue out of the 7.0 milestone.

[2022-07-14 21:44] stephentoub commented on #72220
fixed

[2022-07-14 21:48] eerhardt commented on #67616
The "Built-in configuration providers can do more robust key handling" feature #44517 has been moved out of 7.0.

We will consider this in a future release. Moving this issue out of the 7.0 milestone as well.

[2022-07-14 21:49] Maoni0 commented on #70231
some updates on this (and I will be OOF tomorrow) - @PeterSolMS continued the investigation and made a lot of progress on it - his theory is the nextObj was allocated from a free list item but it's escaping the demotion check (I didn't write the code in NextObj to begin with but my guess is the same as Peter that it's for escaping verifying when nextObj is allocated from the free list). and the sy

[2022-07-14 22:02] eerhardt commented on #69851
Duplicate of https://github.com/dotnet/runtime/issues/38852. Closing as dupe.

[2022-07-14 22:02] #69851 closed

[2022-07-14 22:02] ericstj commented on #71559
It looks like `required` is a `LangVersion`=`preview` feature, but GenFacades just uses roslyn without specifying a langversion, so that's another issue here.

[2022-07-14 22:07] afilatov-st commented on #71472
@tommcdon I run `ps aux` and assume RSS column shows me the memory consumed

[2022-07-14 22:28] ldsenow commented on #62054
@maraf please try your best to make it to .net 6. I will be crying when I see it and you n the team will be forever my hero

[2022-07-14 22:59] #72155 closed

[2022-07-14 23:03] #72166 closed

[2022-07-14 23:15] MichalStrehovsky opened #72231 "Clear Background flag when thread is stopped"
System.Threading.Thread.Tests

[code]

[2022-07-14 23:19] MichalStrehovsky opened #72232 "ApartmentStateTest_ChangeBeforeThreadStarted failing"
[code]

[2022-07-14 23:36] agocke commented on #72096
That was a complicated change -- not surprised there was a typo. Thanks for catching it.

[2022-07-14 23:41] nagya commented on #68623
@mangod9, @stephentoub Can you please at least clarify if this would be a threading bug, correct code that relies on an undocumented feature of the memory model, or something else?

[2022-07-15 00:03] ericstj commented on #71559
I went ahead and fixed this: https://github.com/dotnet/arcade/pull/10021

[2022-07-15 01:06] StephenMolloy commented on #30718
From the 'area-Serialization' owner standpoint... something like this would be quite a large project and we just don't have anywhere near the resources to tackle it. Xml is quite a bit more expressive than Json which complicates things. I'm going to move the area tag to Runtime (the folks who did System.Text.Json I believe) in case they want to chime in. But this isn't something that my team has t

[2022-07-15 01:13] spouliot commented on #72181
@vargaz does that ring any bells to you  It seems mono does not like the compiler generated `GetHashCode` ?!? thanks!

[2022-07-15 01:30] williamfigtree opened #72237 "Will loading IJW (mixed C++/CLI) assemblies into a collectible AssemblyLoadContext be supported?"
Currently attempts to load an IJW (mixed C++/CLI) assembly into a collectible assembly load context throws the following exception:

It is not clear to me why this is the current behaviour. I have only been able to find https://github.com/dotnet/runtime/issues/11164 which offers no explanation.

I have a scenario which dynamically loads plugins (consisting of multiple assemblies) into assembly loa

[2022-07-15 01:32] vargaz commented on #72181
Would need some kind of testcase to track this down.

[2022-07-15 01:39] VincentBu opened #72238 "Test failure System.Net.Quic.Tests.MsQuicTests.SetListenerTimeoutWorksWithSmallTimeout"
Run: [runtime-libraries-coreclr outerloop 20220714.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1880437&view=ms.vss-test-web.build-test-results-tab&runId=49187402&resultId=104088&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-07-15 01:42] davidfowl commented on #70438
I would too but people have been building libraries like this for years on .NET and source generators are new and not as approachable as this. It'll get easier but there's a big learning curve shifting to this model and restrictions as well.

[2022-07-15 01:43] charles-lambert-kc opened #72239 "the conversation in this issue has a link that is no longer valid"
The issue reported here https://github.com/dotnet/runtime/issues/31788 has an invalid URL in the answer. The link should be updated to https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-character-encoding  . Searching bing only produces that issue page when trying to figure out why the JsonSerializer saves single quotes as an escaped unicode sequence. Like literally th

[2022-07-15 01:46] VincentBu opened #72240 "Test failure System.Security.Cryptography.X509Certificates.Tests.RevocationTests.TimeoutTests.AiaFetchDelayed"
Run: [runtime-libraries-coreclr outerloop 20220714.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1880437&view=ms.vss-test-web.build-test-results-tab&runId=49186850&paneView=debug&resultId=104025)

Failed test:
[code]
**Error message:**
[code]

[2022-07-15 01:48] Cassie-Li01 opened #72241 "Application goes to "No symbol loaded" mode and pops up an exception when stop running application"
### Description

System.TypeLoadException
  HResult=0x80131522
  Message=Could not load type 'System.Runtime.InteropServices.Marshalling.AnsiStringMarshaller' from assembly 'Microsoft.Win32.SystemEvents, Version=7.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' due to value type mismatch.
  Source=Microsoft.Win32.SystemEvents
  StackTrace:
   at Interop.Kernel32.GetProcAddress(IntPtr hMod

[2022-07-15 01:49] VincentBu commented on #71242
Failed again in:[runtime-libraries-coreclr outerloop 20220714.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1880437&view=ms.vss-test-web.build-test-results-tab&runId=49185496&paneView=debug&resultId=100001)

Failed test:
[code]
**Error message:**
[code]

[2022-07-15 02:36] stephentoub commented on #30718
As noted, we have no plans to create a brand new set of APIs here. Obviously anyone else interested in investing in their own new library and sharing it on nuget is able to do so. Thanks.

[2022-07-15 02:36] #30718 closed

[2022-07-15 02:37] StephenMolloy opened #72242 "[API Proposal]: DataContract API's to enable external Schema Import/Export package"
### Background and motivation

We're trying to bring DCS and friends back to par with .Net 4.8 in this release. One of the capabilities of the DCS library in .Net 4.8 is to generate XSD schemas or import XSD schemas into usable code. This functionality is used to support WCF and svcutil. The code that handles schema importing however, had a dependency on System.CodeDom. After some extended discuss

[2022-07-15 02:37] StephenMolloy opened #72243 "[API Proposal]: XSD DCS Schema API's from 4.8"
### Background and motivation

We're trying to bring DCS and friends back to par with .Net 4.8 in this release. One of the capabilities of the DCS library in .Net 4.8 is to generate XSD schemas or import XSD schemas into usable code. This functionality is used to support WCF and svcutil. The code that handles schema importing however, had a dependency on System.CodeDom. After some extended discuss

[2022-07-15 03:24] greatvovan opened #72245 "Event Log message is not shown in the way it is sent"
### Description

Messages sent to Event Log as per the [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.eventlog?view=dotnet-plat-ext-6.0) do not look as expected.

Instead of the string supplied to `EventLog. WriteEntry()` verbatim, user sees the following:

The problem seems [very old and well-known](https://stackoverflow.com/questions/3412463/description-for-event-

[2022-07-15 03:49] peter-glotfelty commented on #69380
We can definitely switch to %e as part of general housekeeping. I think we onboarded when most of our services were still on 3.1, and the guidance may have been different.

Just to check nothing weird was happening with the names, I changed `()` to `__`, and I still see the issue so I don't think it's the naming convention.

[2022-07-15 04:02] danmoseley commented on #72245
@ericstj as he did the original change and perhaps can recall useful context here.

[2022-07-15 04:06] danmoseley commented on #72241
Moving to interop as nothing changed here.

[2022-07-15 04:56] #72104 closed

[2022-07-15 04:56] #72105 closed

[2022-07-15 05:09] MichalStrehovsky opened #72246 "ThreadTests.PriorityTest fails on Linux"
[code]

[2022-07-15 05:23] jw30-lee opened #72247 "How to check GC Collection information that does not affect performance."
To improve the behavioral responsiveness of the app
I am using the garbage collection ETW event to output information when GC is collected as follows.

DN_s-13376 [000] .... 485.320112: user: [gctracer] #46 / Gen 1 / took 77.446ms
DN_s-13376 [000] .... 488.226540: user: [gctracer] #49 / Gen 2 / took 183.220ms
DN_s-13376 [000] .... 491.545770: user: [gctracer] #61 / Gen 1 / took 17.134ms

However,

[2022-07-15 05:57] Thefrank commented on #71338
@sec I might have missed something in the patching for installer especially for net7.

Things there typically don't change enough to break patches but I will take another look at it as net7rtm should be coming soon(tm)

[2022-07-15 06:20] VincentBu commented on #71702
Failed again in: [ runtime-coreclr outerloop 20220714.4](https://dev.azure.com/dnceng/public/_build/results?buildId=1882214&view=ms.vss-test-web.build-test-results-tab&runId=49216106&resultId=106711&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-07-15 06:43] teo-tsirpanis commented on #72237
Quoting from #23430:

[2022-07-15 06:43] #72237 closed

[2022-07-15 06:46] alexrp commented on #72237
That doesn't look like the right issue.

[2022-07-15 06:48] teo-tsirpanis commented on #72237
Ahh. 😩 Fixed, thanks for spotting it.

[2022-07-15 07:05] adamsitnik commented on #71970
@pedrobsaila would you be interested in fixing this issue?

[2022-07-15 07:18] Siyi1701 opened #72249 "."

[2022-07-15 07:28] ManickaP commented on #72196
The windows 10 are reporting success in the console log:
`System.Net.Quic.Functional.Tests  Total: 295, Errors: 0, Failed: 0, Skipped: 2, Time: 64,125s`

The windows 11 are failing and I'll investigate.

[2022-07-15 07:34] smoogipoo commented on #65850
Also going to link https://github.com/dotnet/runtime/issues/48937 here, where we've experienced Gen1 collection times greater than the 16ms window of 60fps, which is a bare minimum for us.

In my testing there, we didn't see what I would consider a "large amount" of promotion: https://user-images.githubusercontent.com/1329837/118099109-c0f93a00-b40f-11eb-80ae-db3ccf4a39a0.png as what's shown in th

[2022-07-15 07:37] ilya-scale commented on #72170
It is probably not a bad idea though to allow reading the type discriminator unless it will lead to some unforeseen consequences or complicated implementation?

[2022-07-15 08:01] ManickaP commented on #72226
https://github.com/dotnet/runtime/issues/67552 could be just reopened for the API suggestion.

[2022-07-15 08:04] vitek-karas commented on #70438
You're absolutely right. I meant my comment as "going forward it would be really good to use built-time solutions", which I didn't make very clear.

[2022-07-15 08:05] rzikm commented on #72227
.NET has some problems running under QEMU (see e.g. https://github.com/dotnet/runtime/issues/13648), this needs to be debugged on an ARM machine.

Coincidentally, I have one at home, I will try to look at the dump when I have time.

[2022-07-15 08:12] #32066 closed

[2022-07-15 08:13] rzikm commented on #55619
Fixed by https://github.com/dotnet/runtime/issues/70669.

[2022-07-15 08:13] #55619 closed

[2022-07-15 08:20] jakobbotsch commented on #69635
The only thing that disambiguates these two calls to the JIT is the fact that crossgen2 returned different entry points for them. This is an R2R-only thing, for runtime JIT the entry point is uniquely identified from the helper name.
Since I don't think we want to introduce new R2R helpers just for cosmetic reasons the only disambiguating thing I think we could do is have the JIT print the entry p

[2022-07-15 08:40] am11 commented on #69635
Sounds reasonable. I have just noticed that with NativeAOT, it only calls the helper once:

[code]

[2022-07-15 08:42] #72249 closed

[2022-07-15 08:44] adamsitnik commented on #61728
The issue has been fixed by #42585 which got released as part of .NET 6.

[2022-07-15 09:04] jakobbotsch commented on #69635
NAOT might have evaluated the static constructor at compile time since it is trivial.

[2022-07-15 09:09] eiriktsarpalis commented on #31788
From @charles-lambert-kc in #72239

Updated @GrabYourPitchforks's answer for posterity.

[2022-07-15 09:15] vikasgupta8 commented on #71080
The crash is observed due to self modifying code at runtime by JIT.
On debugging we found below sequence of powerpc instruction are generated at run time.
In multithreaded environment, these instructions should be thread safe, as these instructions are not thread safe, while one thread is reading these instruction another thread tries to modify these instructions and hence as a result r12 register

[2022-07-15 09:22] wstaelens commented on #51929
@KevinCathcart any idea when this will be added/released in .NET 6?

[2022-07-15 09:59] krwq commented on #71984
FYI, if we change this behavior we should update following exception message:

[code]

[2022-07-15 10:21] rzikm commented on #70981
Updating to latest openssl does not seem to fix it

[2022-07-15 10:51] rzikm commented on #52361
No recent hits, closing as not actionable

[2022-07-15 10:51] #52361 closed

[2022-07-15 11:02] LakshanF commented on #72149
The NativeAOT rolling runs are passing with #72108

[2022-07-15 11:56] owlstead commented on #71366
To be honest, I don't think much of the previous implementations, leaving such a security detail to users of the libraries. The fact that this kind of thing is not even mentioned in the API's clearly shows a lack of responsibility by the creators of such API's. API's, in my opinion, should contain indication on how to use them correctly. Just brushing this off as something that OpenSSL does as wel

[2022-07-15 12:10] ManickaP commented on #72209
@greenEkatherine WebSocket failures seem related to your recent change, failing are some `System.Net.WebSockets.Client.Tests.ConnectTest_Http2.*` tests.

[2022-07-15 12:14] ManickaP commented on #72209
And System.Net.Http failure is:
[code]

I'm wondering is H/2 web socket tests should even run on Android/Browser/mono...
cc @pavelsavara

[2022-07-15 12:19] ManickaP commented on #72209
Lastly, I don't see any occurrences of the image mentioned here: `Unable to pull image mcr.microsoft.com/dotnet-buildtools/prereqs:fedora-34-helix-20220523150939-4f64125`
I see we reference `fedora-34-helix-20220708122731-4f64125`

So where does it come from? Seems like extra-platform related.

[2022-07-15 12:20] krwq commented on #71994
Ok, seems the problem we're not increasing size of the stack correctly (off by 1). I'll send a patch soon, let me just try to find if there are any similar places which also need a fix

[2022-07-15 12:36] jernejg commented on #71861
Wrt to [How to create HttpClientHandler later than configuration time #521](https://github.com/dotnet/extensions/issues/521) am I right thinking that you could actually configure HttpClient's later?

When checking the default implementation of `IHttpClientFactory` I noticed it is injecting and using `IOptionsMonitor<HttpClientFactoryOptions>`.

Looking at the implementation of `IOptionsMonitor<T>.

[2022-07-15 12:55] davidfowl commented on #72153
I'd be interested in the results using golang if you have time to test that. Python3 and nodejs are both single threaded.

[2022-07-15 13:06] jernejg commented on #71861
I can also see that `IOptionsMonitorCache<TOptions>` (the `_cache` above) is a thread safe concurrent dictionary with `Lazy<TOptions>` values which would make creating new `HttpClientFactoryOptions` at runtime thread safe.

[2022-07-15 13:20] alhad-deshpande commented on #71079
We could reproduce this on Power by implementing a small test program. The test program tries to simultaneously push and pop items to ConcurrentStack. Only first item gets pushed onto stack and then nothing happens. This is the reason that this test case is timing out on CICD pipeline. We are debugging this to find out the root cause and probably something is going wrong in generating power assemb

[2022-07-15 13:32] davidfowl commented on #71861
Would you create a unique name based on `<customer, destination, id?>`?

[2022-07-15 13:44] simonrozsival commented on #72209
The SSL issues seem to be similar to what I'm trying to fix with https://github.com/dotnet/runtime/pull/71385 so I'll try to extend the PR to cover the failing tests added in #70895

[2022-07-15 13:53] maxkoshevoi opened #72263 "False positive for `SYSLIB1006` when user haven't specified `EventID`"
### Description

Related to discussion in https://github.com/dotnet/runtime/discussions/70147#discussioncomment-3156868
CC: @davidfowl

[SYSLIB1006](https://docs.microsoft.com/en-us/dotnet/fundamentals/syslib-diagnostics/syslib1006) warning states that multiple logging methods cannot use the same event ID.

But it also fires when EventID isn't specified at all. I've annotated my methods without ev

[2022-07-15 13:56] fsuk opened #72264 "HttpClient.SendAsync ignores set Content-Type header in Blazor Web Assembly"
### Description

When calling HttpClient.SendAsync(HttpRequestMessage httpRequestMessage) the ContentType header on the content is ignored and "text/plain" is always sent.

This works in a .NET 6 console application but not in a Blazor Web Assembly (client) project.

### Reproduction Steps

[code]

### Expected behavior

The "Content-Type" header should be send in the request as "application/json;

[2022-07-15 14:05] Naine opened #72265 "[x86] Returning struct from UnmanagedCallersOnly method throws AccessViolationException"
### Description

When I publish my project with R2R targeting `win-x86`, I get a `NETSDK1096` error due to a crash in crossgen. I've managed to reduce my project to a minimal reproduction that triggers the crash. I don't know exactly what aspects of this code lead to the crash, so I wasn't sure on a more specific title. Almost any simplification of the reproduction causes the crash to not occur.

[2022-07-15 14:36] Naine commented on #72265
I've just realized this is affects coreclr, not just crossgen, and disabling R2R as a workaround does not work.

If `Main()` is modified to call `A()` (via unsafe function pointer), the code crashes at runtime with:
[code]

[2022-07-15 14:44] alpencolt commented on #72190
cc @jkotas

[2022-07-15 14:45] riarenas commented on #72096
I see that https://helix.dot.net/#1ESHostedPoolImagesWestUS-rg-Public-Windows shows how the old pool has the docker artifact installed, but this one doesn't.

Two options:

* Open an issue in https://github.com/dotnet/arcade for us to install all the requirements for this pipeline in the new pool (it might be missing more than docker for your scenario)
* Move to using the 1es-windows-2022 image th

[2022-07-15 14:47] ivanpovazan commented on #71430
#### Result
With a [toy implementation](https://github.com/ivanpovazan/runtime/compare/5e088b093fb7e698412aad9f939efa121b388b2e..de22d2da9da8f24b5dfe79968d16278421c886b8) of custom linker substitutions for replacing `Scalar<T>` method bodies with stubs, the reduction of approximately `55kb` has been recorded for HelloWorld iOS application.

#### Assumption
The assumption for this attempt was that

[2022-07-15 14:50] eiriktsarpalis opened #72268 "[API Proposal]: Add `Lock()` and `IsLocked` methods to JsonSerializerOptions"
### Background and motivation

The `JsonSerializerOptions` class supports mutation of its settings, until first used in a serialization operation. After that, the class gets locked and any attempt to update settings will result in `InvalidOperationException`:
[code]
The issue with this design is that users have no clear indication of whether an options instance is locked or not. Often, users need

[2022-07-15 14:57] SteveDesmond-ca opened #72269 "[API Proposal]: string.ToTitleCase() extension method(s)"
### Background and motivation

I often find myself needing to title case strings, and the current API for doing so isn't so intuitive. As the action is being performed on the string, it seems more idiomatic for a `.ToTitleCase()` method to happen on the string itself.

### API Proposal

[code]

### API Usage

[code]

### Alternative Designs

This could also be done as a single method with an optio

[2022-07-15 15:05] eerhardt commented on #42364
I'm going to close this issue as "not planned". In .NET 7, we've added `Host.CreateApplicationBuilder` (see https://github.com/dotnet/runtime/issues/61634#issuecomment-1033038101) which is designed like `WebApplication.CreateBuilder`. You can unify how you configure services across web apps and worker services by calling a method from `Main`, passing in the ServiceCollection you get from each `bui

[2022-07-15 15:05] #42364 closed

[2022-07-15 15:11] CarnaViire commented on #71861
Thanks for the ideas @jernejg. I was actually also thinking in the similar direction.

About initializing primary certificates --
There's a much safer alternative to the trick you came up with -- that's `LocalCertificateSelectionCallback`. It will be triggered upon HTTP connection creation and allows you to select the cert based on the destination, as well as other things. If set up inside `HttpCl

[2022-07-15 15:13] svick commented on #72268
This has been previously discussed at https://github.com/dotnet/runtime/issues/54482. I think one of the two issues should be closed.

Also, I stand by the comment I made there saying that `Freeze` would be a better name for this. (Especially since `Lock` in .Net usually implies mutual exclusion, and this is not that.)

[2022-07-15 15:14] jakobbotsch opened #72270 "JIT: Illegal return buffer/argument aliasing on native ABIs"
The SysV x64 ABI states the following for returning values:

value and passes the address of this storage in %rdi as if it were the first
argument to the function. In effect, this address becomes a “hidden” first ar-
gument. This storage must not overlap any data visible to the callee through
other names than this argument.

Yet for
[code]

the JIT produces
[code]
where the argument and return buf

[2022-07-15 15:17] eerhardt commented on #72225
The application crashes because an unhandled exception is being thrown and killing the Main thread. `StartAsync` is called directly on the Main thread, and until you `await` a Task it continues on the Main thread. See https://github.com/dotnet/runtime/issues/36063 for more info on that.

You can workaround this by wrapping your `StartAsync` method in a `Task.Run`, which will execute your code on a

[2022-07-15 15:23] MattGal commented on #72096
Worth a shot, it at least has docker & VS 2022 on it.

[2022-07-15 15:26] eiriktsarpalis commented on #72268
That's a good point, although I've never heard of "Freeze" being used in this context. Any other alternatives? One I can think of `IsImmutable`/`MakeImmutable()`

That's my bad, I should have gone through the backlog before opening this.

[2022-07-15 15:28] Clockwork-Muse commented on #72268
`Build`?

[2022-07-15 15:29] lateralusX commented on #71640
I think I have located the issue, it's a regression from https://github.com/dotnet/runtime/pull/68134 that will overwrite the first stack frames address with event payload, due to struct padding on 64-bit systems not taken into account when calculating buffer manager buffer offsets. Its only in release builds, since debug adds another set of items in the stacks, that will get the corruption, but s

[2022-07-15 15:30] #72121 closed

[2022-07-15 15:30] eiriktsarpalis commented on #72268
Closing as duplicate of https://github.com/dotnet/runtime/issues/54482.

[2022-07-15 15:30] #72268 closed

[2022-07-15 15:32] vcsjones commented on #72240
Hm, I can reproduce it on Ubuntu 22.04. Doesn't reproduce on 20.04.

[2022-07-15 15:37] janvorli commented on #71856
I have found the problem for x86 emulated code - it was an incorrect cache flushing for GC write barriers. We were flushing them at the original location instead of their copy in allocated memory. But the x64 flushing at that point looks correct, so I'll need to debug that too.

[2022-07-15 15:41] ericstj commented on #72245
Can you share a repro project?  Your repro steps left out the type of project you created, and the package references you added.

EventLog isn't part of the base .NET product, it's only part of ASP.NET.  ASP.NET includes the `System.Diagnostics.EventLog.Messages.dll` which fixes this.

My best guess of what's going on is that you've built a .NET 6 project, but you're pulling in an old version of S

[2022-07-15 15:42] filipnavara commented on #72269
. NET relies on ICU to do the case conversions. There is [an API to title case a string](https://unicode-org.github.io/icu-docs/apidoc/dev/icu4c/ucasemap_8h.html#aa49d8b403bd91c52f127fe80679bac11) but you would likely be disappointed with the result if default options are used. Neither the Unicode standard not the CLDR data have data for the stop words, so for `lord of the flies` you would get `Lo

[2022-07-15 15:46] #71559 closed

[2022-07-15 15:49] ericstj commented on #71559
This should be fixed in arcade now.  You'll be able to use that change once it merges to dotnet/runtime - likely next week.  Check on Monday if it's made it by looking for a build of GenAPI / GenFacades that's *newer* than 7.0.0-beta.22365.1.  If it hasn't landed by then we can manually pick up the new packages to get this functionality before Darc flows the build.

[2022-07-15 16:10] jtschuster opened #72276 "readytorun\coreroot_determinism\coreroot_determinism\coreroot_determinism.cmd test failure"
[Build](https://runfo.azurewebsites.net/view/build/?number=1881535)
[Log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-de6bb606c9244711b8/PayloadGroup0/1/console.20ad0b2c.log?%3Fhelixlogtype%3Dresult)

Runfo Tracking Issue: [readytorun\\coreroot_determinism\\coreroot_determinism\\coreroot_determinism.cmd](https://runfo.azurewebsites.net/tracking/issue/372)

[2022-07-15 16:11] SteveDesmond-ca commented on #72269
How does the current `TextInfo.ToTitleCase()` handle it? This is really just syntactic sugar on top of that. Or are you saying (similar to the "Risks" section above) that there are different implications/assumptions if `ToTitleCase()` is called on a `string`?

[2022-07-15 16:12] TobiasKnauss opened #72277 "[API Proposal]: property MessageEN in class System.Exception"
### Background and motivation

https://www.google.com/search?q=c%23+english+exception+messages
There are dozens of more or less bad and ugly workarounds to get English exception messages instead of localized exception messages:
https://stackoverflow.com/questions/209133/exception-messages-in-english
https://stackoverflow.com/questions/2092298/force-exceptions-language-in-english
https://stackoverf

[2022-07-15 16:19] filipnavara commented on #72269
My bad, I didn't see that on mobile (the right part of the code block was a hidden). It doesn't handle it, you get "Lord Of The Flies". So if the ask is just syntactic sugar for that I guess it's fine (although it may run against the goals in https://github.com/dotnet/designs/pull/207).

[2022-07-15 16:20] viewizard commented on #72190
@jkotas thank you for explanation!
But, do we have any assure way for `ICorDebugEval` usage in this case, when debuggee application stopped by `ICorDebugController::Stop` call?

I am asking, because I see, that VScode C# debugger (vsdbg, developed by MS) can evaluate (call managed method and get result) in this case.
[code]
![1](https://user-images.githubusercontent.com/15098562/179262627-1911327a

[2022-07-15 16:29] pfeigl commented on #58384
Why has this been dropped from 7.0?

Looking at the `BinderOptions` property
[code]

This issue even looks more like a bug than a feature request, because a property with only a getter is `read-only` from the perspective of the binder.

The code behind the `ConfigurationBinder` changed quite some bit but I think based on these lines it'll still suffer from the same problemd.
[code]

It'll first tr

[2022-07-15 16:29] tracktownsoftware opened #72278 "Scenario where DesignMode is false from the NET WinForms OOP designer"
### Description

When using my NET6 Windows Forms custom control to display a dialog at design time, the DesignMode value is incorrectly false even though it is running in the DesignToolsServer process.

### Reproduction Steps

My github sample to reproduce:
https://github.com/tracktownsoftware/MicrosoftWinFormsDesignerSDK_DesignModeBug

The above repository includes a Nuget package you can use to

[2022-07-15 16:29] SteveDesmond-ca commented on #72269
Yeah, we can tweak this so it better aligns with https://github.com/dotnet/designs/pull/207 as well

[2022-07-15 16:39] danmoseley commented on #72277
@TobiasKnauss in .NET Core, error messages for the core libraries have never been localized. Are your customers running .NET Framework? Or is the problem libraries higher in the stack that do localize (I'm not sure which do)

As far as making this work, one challenge I see here is that much of the time, exceptions are constructed (by some library/user code) with a message already loaded, rather th

[2022-07-15 16:42] svick commented on #72277
This is mostly a duplicate of https://github.com/dotnet/runtime/issues/46656.

[2022-07-15 16:49] tarekgh commented on #72269
@SteveDesmond-ca this kind nice to have a feature but nobody requested that for long time which can tell there is not much demand for it. Also, as @filipnavara, we are trying to not expose more things inside string class that can have implicit linguistic behavior. It is proven this causes a lot of pain and we are already in the process of working to enhance this experience. I suggest closing this

[2022-07-15 16:55] danmoseley commented on #40427
That that's not true for all apps. I worked on a product that was itself localized and displayed system error messages to the user, for example if they chose an invalid directory and we got an IO exception, we would show the message like "Directory 'c:\foo' does not exist." This was useful and often times we could not get that detail without parsing the message ourselves (as an aside, [IO error co

[2022-07-15 16:55] danmoseley commented on #46656
linking https://github.com/dotnet/runtime/issues/40427 as well.

[2022-07-15 16:56] danmoseley commented on #72277
It is a duplicate -- in that issue it was called 'InvariantMessage'

I'll close as dupe, but this keeps coming up and there's no doubt it's important. We should continue the conversation.

[2022-07-15 16:56] #72277 closed

[2022-07-15 16:56] danmoseley commented on #46656
#40427 is a duplicate. I'm going to close in favor of that one and discussion can continue there.

[2022-07-15 16:56] #46656 closed

[2022-07-15 16:57] danmoseley commented on #24402
Closing in favor of #40427.

[2022-07-15 16:57] #24402 closed

[2022-07-15 16:59] mikem8361 commented on #69380
If you are still on 3.1 (I assumed 6.0), then you should continue use %d. Later .NET Core versions do have better diagnostic logging.  The only thing I can come up with on this containerd/runc issue, is that the createdump process doesn't have sufficient permissions to write the dump to the target directory even though the dump open/writes don't fail. I'm grasping at straws here because I don't th

[2022-07-15 17:00] #71793 closed

[2022-07-15 17:22] AaronRobinsonMSFT commented on #72241
This is because of the breaking change in the marshaller shapes introduced between Preview 7 and RC1. The solution is to stay within the same version of the SDK and implementation. If using RC1, then RC1 of WinForms should be used - mixing Preview 7 and RC1 will result in the above issues.

@jkoritzinsky or @elinor-fung may have another mitigation but this is a known break.

See https://github.com

[2022-07-15 17:41] deeprobin commented on #68770
I like the proposed API shape.

---

On Windows it is technically not so easy to elevate a process at runtime via UAC (there are some possibilities via undocumented APIs). On Unix you could setuid to 0.

However, you can drop the privileges under Windows. This would be a good addition to this API in my opinion.

See [Advapi32: AdjustTokenPrivileges](https://docs.microsoft.com/en-us/windows/win32/a

[2022-07-15 17:43] jernejg commented on #71861
Thank you @CarnaViire I'll take a look.
Looks like in the end I'll need to decide between less safer way or blocking the thread since `LocalCertificateSelectionCallback` is not async :/

[2022-07-15 17:44] richlander commented on #64430
Could you elaborate on that?

[2022-07-15 17:46] SteveDesmond-ca commented on #72269
OK, I'll reconsider once dotnet/designs#207 has been implemented. At the very least, now there's an official record that this functionality is desired in some capacity!

[2022-07-15 17:46] #72269 closed

[2022-07-15 17:49] jtschuster commented on #52124
Test failed in a rolling runtime-extra-platforms build: https://runfo.azurewebsites.net/view/build/?number=1869899

[2022-07-15 17:57] jkotas commented on #72190
Visual Studio debugger tries hard to evaluate expressions non-invasively, without running any code in the debuggee. It uses `ICorDebugEval` only as the last resort when non-invasive evaluation is not possible.

[2022-07-15 17:57] jtschuster opened #72282 "System.Collections.Immutable.Tests.ImmutableInterlockedTests.UpdateArray_HighConcurrency test failure on tvOs"
[Build](https://runfo.azurewebsites.net/view/build/?number=1881678)
``NullReferenceException at System.Threading.Tasks.Task.AddToList[Task](Task item, List`1& list, Int32 initSize)``
First instance of the failure.

[2022-07-15 18:39] davidfowl commented on #71861
The cert callback does work if you can use the host name (sni) but it’s not enough because of the other cache keys required. The other problem with the callback is the lack of async

[2022-07-15 18:41] TobiasKnauss commented on #72277
This contradicts the statement "The error message should be localized." in https://docs.microsoft.com/en-us/dotnet/api/system.exception.message
But I am still happy to read this. English exception messages is what I and many other expect and need.

I tested with a .NET 6 console app, and I already assumed something like that, because I did not get localized exception messages for all managed excep

[2022-07-15 18:44] danmoseley commented on #40427
Is there a request here for .NET Core, given we do not localize? Eg., perhaps exception strings from another part of the .NET Core stack are localized?

If it is only for .NET Framework, we should close this. As mentioned, that will not be changed at this point.
For .NET Core, if someday we do make it possible to get localized exception messages (i think there was another issue requesting that) it

[2022-07-15 18:44] #68723 closed

[2022-07-15 18:45] AaronRobinsonMSFT commented on #72265
This looks like a JIT issue. I think it is confused about the buffer for return structs. I'm more than willing to fix this but would appreciate some hints on where to begin in the JIT. /cc @dotnet/jit-contrib

https://github.com/dotnet/runtime/blob/c5759fae0f279c47b010348bbc2bbff3e45b213b/src/coreclr/jit/ssarenamestate.cpp#L45-L55

[code]

Collected JIT Dump using the following flags:

[code]

<de

[2022-07-15 18:46] kouvel commented on #67266
On the Linux Ampere machine, quick tests on JsonPlatform and Json didn't show any significant improvements from decreasing the IO poller thread counts. It still seems like relatively more IO poller threads are necessary on arm64 platforms than on x64 platforms. Probably the heuristics could be more fine-tuned, and I haven't done an exhaustive test.

[2022-07-15 18:49] richlander commented on #71287
I was just looking at this post: https://devblogs.microsoft.com/dotnet/dotnet-apphost-improvements/

There are a couple variations of the following message, but its good enough to just focus on this one:

[code]

There are two MS links there. I'm going to ignore the help message but focus on the last one.

Here's a proposal on what it could say:

[code]

The technical problem is that this message

[2022-07-15 18:57] #64764 closed

[2022-07-15 18:59] vitek-karas commented on #71287
This would have to be hardcoded in the apphost:
* Would only work for the frameworks which we knew about when releasing the apphost (if we or somebody else adds frameworks later on, this would not work)
* Can we confidently create the mapping? Meaning, are the package names the same across all Linux flavors/package managers?

Honestly the apphost is the least flexible component in the system - wha

[2022-07-15 19:00] wfurt commented on #72196
`Windows.10.Amd64.Server2022` S2022 is mostly same stack as W11. But all the failures are Windows/schannel e.g. no Linux. But I agree with @ManickaP - the console.log shows pass so I'm not sure why they are even in the list @jtschuster

[2022-07-15 19:04] jkotas commented on #71287
The people who are using the Microsoft-built apphost are likely going to run on Microsoft-built runtime.

I do not think it makes sense to optimize for mixing and matching bits from different .NET distros. It gets complex.

[2022-07-15 19:11] AaronRobinsonMSFT commented on #72265
I stand corrected :-) I think this is something best left to the JIT.

[code]

[2022-07-15 19:14] #46595 closed

[2022-07-15 19:14] #64185 closed

[2022-07-15 19:14] #72220 closed

[2022-07-15 19:16] richlander commented on #71287
We could start by making this proposal source-build only.

A perfect scenario is global tools. That's where this experience would be useful.

[2022-07-15 19:18] AndyAyersMS commented on #11354
FWIW the jit currently mis-optimizes some cases involving function type comparison.

The fix is in https://github.com/dotnet/runtime/pull/72136 where the jit will defer to the runtime to decide what sort of optimizations can apply. If/when the runtime type for function pointers changes those new bits of jit interface can potentially be revised to enable a little more optimization.

[2022-07-15 19:20] danmoseley commented on #51929
@ericstj this is marked 7.0, but we are now in stabilization mode for that release. from your comment above, I believe the status is that this isn't currently scheduled, but we would take a contribution as you described if offered?

I need to post an announcement in this repo with the schedule. I'll do that now.

[2022-07-15 19:23] MarcoRossignoli opened #72284 "AV x64 dotnet.exe on windows arm64"
### Description

Full description inside the [item](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1576188)

[2022-07-15 19:25] MarcoRossignoli commented on #72284
cc : @jkotas

[2022-07-15 19:25] #59152 closed

[2022-07-15 19:26] TobiasKnauss commented on #46656
If other issues are a duplicate of this one and are being closed, this one seems to be the issue that should remain open. So why did you close it?
According to other issues like mine (#72277) and https://github.com/zkSNACKs/WalletWasabi/issues/7669, there are still localized exception messages, which are all [Win32Exception](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.win32ex

[2022-07-15 19:32] AndyAyersMS commented on #65688
Suspect this may no longer repro...? @BruceForstall I can take this over if you like.

[2022-07-15 19:55] cremor commented on #40427
This is a problem in .NET Core/5/6 with exception messages that are passed through from Windows. More details by @TobiasKnauss here: https://github.com/dotnet/runtime/issues/72277#issuecomment-1185810554

[2022-07-15 20:11] #68338 closed

[2022-07-15 20:12] BruceForstall commented on #65688
@AndyAyersMS sure; I've assigned it to you.

[2022-07-15 20:21] jkotas commented on #72284
Potentially related to https://github.com/dotnet/runtime/issues/64884

[2022-07-15 20:22] jtschuster opened #72288 "Microsoft.Extensions.FileProviders.Physical.Tests Failure on Mono in runtime-extra-platforms"
[Build](https://runfo.azurewebsites.net/view/build/?number=1880254)

[2022-07-15 20:28] wfurt commented on #59979
Client and server now have option to pass in `X509ChainPolicy` via `CertificateChainPolicy` in ssl options. If present, chain constructed inside `SslStream` will respect the setting including `DisableCertificateDownloads`.

[2022-07-15 20:28] #59979 closed

[2022-07-15 20:29] jtschuster opened #72290 "0x800705AF - "The paging file is too small for this operation to complete" in Mono_Release in runtime-extra-platforms"
Causing failure in System.AppContext.Tests, System.Net.ServicePoint.Tests, System.Net.Security.Tests, and System.Net.Primitives.UnitTests.Tests in this [Build](https://runfo.azurewebsites.net/view/build/?number=1880254)

[2022-07-15 20:32] wfurt commented on #59944
Client and server now have option to pass in `X509ChainPolicy` via `CertificateChainPolicy` in ssl options. If present, chain constructed inside `SslStream` will respect the setting including `DisableCertificateDownloads`. I think the chain would still build if intermediates are already cached and available in the system but that is as close as we can get IMHO.

[2022-07-15 20:32] #59944 closed

[2022-07-15 20:37] wfurt commented on #40423
Client and server now have option to pass in `X509ChainPolicy` via `CertificateChainPolicy` in ssl options. If present, chain constructed inside `SslStream` will respect the setting. You can customize it anyway you want (including disabling AIA) but as far as I can tel there is no way to disable the validation completely. I don't know how the options would surface in Kestrel but @Tratcher can prob

[2022-07-15 20:37] #40423 closed

[2022-07-15 20:39] wfurt commented on #35839
Client and server now have option to pass in `X509ChainPolicy` via `CertificateChainPolicy` in ssl options. If present, chain constructed inside `SslStream` will respect the setting including `DisableCertificateDownloads` and `UrlRetrievalTimeout `.

[2022-07-15 20:39] #35839 closed

[2022-07-15 20:41] mangod9 commented on #72284
assume this is a dupe of https://github.com/dotnet/runtime/issues/71856. @janvorli is looking into it.

[2022-07-15 20:51] #71994 closed

[2022-07-15 21:06] wfurt commented on #66632
Is there some way how to detect we are running `jitstress` @MattGal? This test is time sensitive and I'm not sure if we can may it really reliable in this case.

[2022-07-15 21:23] jtschuster opened #72292 "net7.0-iOSSimulator-Release-x64-Mono_Release-OSX.1015.Amd64.Open timeout failure"
Appeared on https://runfo.azurewebsites.net/view/build/?number=1873007
[Log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-09d696e128b24f49b0/System.Net.Primitives.Pal.Tests.Attempt.3/1/console.ec5f631f.log?%3Fhelixlogtype%3Dresult)

[2022-07-15 21:31] wfurt commented on #49083
This should be workable now IMHO
[code]
and
[code]

[2022-07-15 21:31] davmason commented on #71243
There's only one failure of this sort and it looks more like an arcade infra issue than a test failure. Closing, please reopen if it happens again.

[2022-07-15 21:31] #71243 closed

[2022-07-15 21:38] dakersnar commented on #69637
This seems worth considering. @tannergooding do you see anything additional needed for this proposal, or know of anyone else I should tag for opinions?

[2022-07-15 21:39] davmason commented on #65984
Only failed once in the last month and it was on #71516, which was causing lots of random crashes across the libraries tests. Closing, please reopen if the failure happens again.

[2022-07-15 21:39] #65984 closed

[2022-07-15 21:49] tarekgh commented on #40427
@cremor could you provide example of getting localized messages in Win32Exception? The exception class itself is not the issue but how the library using this exception class is getting the message from Windows. I expect this is not common cases anyway.

[2022-07-15 21:50] madelson commented on #67260
I have some interest in working on this.

One thought: could `TimeSpan timeout` be changed to `TimeSpan? timeout = null`? This would allow you to fall back to the default timeout as is possible with the `int` timeout APIs.

[2022-07-15 21:53] lheinold commented on #72067
So I think I was wrong about this being CentOS specific - I have now run into it on Ubuntu as well, although it took me running my code a couple times to see it (which is odd).

The OutOfMemory exception is actually thrown here:
[code]
Out of Memory is thrown if the line `if (!newThread->CreateNewThread(0, BackgroundWorkerBootstrapper0, newThread, W(".NET Tiered Compilation Worker")))` in `tiered