[2021-02-14 18:51] dharmaturtle opened #48282 "`JsonSerializer.Deserialize<JsonElement>` fails for some values (e.g. bool, string)"
From page 13 of [the JSON spec](https://tools.ietf.org/html/rfc8259):

   "Hello world!"
   42
   true

I believe these values should be valid `System.Text.Json.JsonElement`s, but the following fails:

[code]

Stacktrace:

   at System.Text.Json.ThrowHelper.ThrowJsonReaderException(Utf8JsonReader& json, ExceptionResource resource, Byte nextByte, ReadOnlySpan`1 bytes)
   at System.Text.Json.Utf8Jso

[2021-02-14 18:55] mburbea commented on #48282
The issue is you have an invalid json value. To get it to deserialize the text you need to change it to the following::
[code]
With double quotes, otherwise it's not valid json.

[2021-02-14 19:06] dharmaturtle commented on #48282
Well I feel silly. Thank you @mburbea :)

[2021-02-14 19:06] #48282 closed

[2021-02-14 19:20] SingleAccretion opened #48283 "Vector256<Integer>.AllBitsSet emits illegal instructions on a machine without AVX2"
### Description

On a machine without AVX2 but with AVX (Sandy Bridge / Ivy Bridge), `Vector256<IntegralType>.AllBitsSet` will emit illegal instructions and cause the program to crash.

In particular, this method:
[code]
Will emit the following:
[code]
According to https://www.felixcloutier.com/x86/pcmpeqb:pcmpeqw:pcmpeqd, `vpcmpeqd` with `ymm` operands is only available when AVX2 is.

This is als

[2021-02-14 19:22] theodorzoulias commented on #47605
Hi @noseratio! Thanks for pinging. I've seen [your answer](https://stackoverflow.com/questions/12007781/why-doesnt-await-on-task-whenall-throw-an-aggregateexception/62607500#62607500), and I've upvoted it a long time ago. It's a great solution, but Stephen Toub's approach is hard to beat!

[code]

[2021-02-14 20:39] deiruch opened #48284 "TimeSpanFormat crashing with "Fatal error. Internal CLR error. (0x80131506)""
### Description

When running the following .NET 5.0 Core Console Application in Visual Studio with Debugger attached (F5), this program produces an internal CLR error approx. every fifth time it is started:

[code]

Expected outcome (happens most of the time): `System.FormatException: Input string was not in a correct format.`
Actual outcome (happens sometimes): Program crashes with this stack tr

[2021-02-14 20:48] danmoseley commented on #48267
Thanks for the suggestion. Could you update your top post to match the API proposal template? There is a special new issue template for it.

[2021-02-14 20:52] noseratio commented on #47605
Stephen's approach is simple and nice, I agree. The extension approach might be of interest to those who don't want to introduce another local variable for a `Task`, while also taking advantage of `ex.Flatten()`.

[2021-02-14 21:20] GrabYourPitchforks commented on #48284
Are you F10 stepping over this line, F11 stepping into this line, or something else? My best guess is that the debugger is trying to show a data structure in the locals window but that the data structure hasn't yet been initialized.

[2021-02-14 21:30] astrohart opened #48285 "Please create a C# Interface 'IStack' for the .NET Framework Stack to implement"
\[severity:It’s more difficult to complete my work\] \[regression\] \[worked-in:16.8.3\]
I like to develop using IoC and Dependency Injection (DI). This means I have to pass dependencies into my class’ constructor using an interface (for best practices).

I have a C# class that depends on `[Stack<T>](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.stack-1?view=net-5.0)`. I a

[2021-02-14 21:41] davidfowl commented on #48285
Why do you need to inject the stack? What's the use case? Or any other collection for that matter. I locr using IoC but I've never found myself trying to abstract these low level concepts in my dependencies. Maybe you want to model a different concern that uses one of these low level APIs an a default implementation?

[2021-02-14 21:49] GrabYourPitchforks commented on #48285
In addition to what David said, I want to address this question:

.NET Framework 4.x is feature-complete. There are no plans to add new APIs to the Framework or to implement new functionality in the Framework. All new investment is being done in .NET 6+. (Some packages developed in this repo target netstandard and thus can be consumed by .NET Framework, but that's all out-of-band functionality and

[2021-02-14 21:52] deiruch commented on #48284
This happens without stepping. F5 is all it takes.

[2021-02-14 22:40] vitek-karas commented on #48249
If the string literal was without assembly name, trimmer would figure it out, the problem is pointing to effectively non-existent assembly name - which with this could in theory happen.

[2021-02-14 22:49] EgorBo commented on #48284
@deiruch What is your `CultureInfo.CurrentCulture`? Also, could you please specify the VS version.

[2021-02-14 22:59] deiruch commented on #48284
InvariantCulture shows the same effect:
[code]

Visual Studio 16.8.5

[2021-02-14 23:04] EgorBo commented on #48284
Do you place a breakpoint or just hit F5 and eventually the crash occurs?
I have exactly the same setup and see no crashes so far.

[2021-02-14 23:05] vitek-karas commented on #48162
From all I can tell, the type `ModelBindingHelper` was "removed" from ASP.NET Core in 3.0 - it was from an "Internal" namespace and in 3.0 it was actually made internal: https://github.com/dotnet/aspnetcore/commit/8d66f104f7f2ca42ee8b21f75b0e2b3e1abe2e00

My guess is that you will need to upgrade the version of `Kendo.Mvc` to something newer which can work with ASP.NET Core 3.0 or higher.

[2021-02-14 23:06] deiruch commented on #48284
I just hit F5, without any breakpoints.

[2021-02-15 00:32] danmoseley commented on #48284
Routing to diagnostics as it only happens under debugger.

[2021-02-15 00:47] wfurt commented on #48240
Did you look at https://github.com/dotnet/runtime/tree/master/docs/workflow/building/libraries ? And other docs there? Feel free to put up PR with improvements.
Lot of code come from .NET Framework and was based on msbuild. I don't think there is compelling reason to rewrite it.

I also suggest you take a look at https://github.com/dotnet/source-build if you are interested in building everything.

[2021-02-15 00:59] pranavkm commented on #48016
There's still a bunch of these in the runtime:

![image](https://user-images.githubusercontent.com/174281/107894811-c82eab80-6ee5-11eb-8012-9267f04a8e5b.png)

The SDK explicitly omits them:

* https://github.com/dotnet/sdk/blob/master/src/BlazorWasmSdk/Targets/Microsoft.NET.Sdk.BlazorWebAssembly.Current.targets#L471
* https://github.com/dotnet/sdk/blob/master/src/BlazorWasmSdk/Targets/Microsoft.NE

[2021-02-15 01:58] #48233 closed

[2021-02-15 02:05] wfurt commented on #887
That sounds good @JeroenBer. Since it is also MIT License I assume you would not mind if we take the md4 back to runtime, right? I wish there is better way than the CloneAsync() but I could not find any without reflection.

[2021-02-15 02:10] q512 commented on #593
@msdmcmurrian

Could not we do something like this:
[code]

[2021-02-15 02:57] steveisok commented on #43865
@MaximLipnin Please arrange the functional tests similar to how the tasks are listed in this issue.

Also, with respect to `Set default features flags to match to SDK defaults`, you're going to need to look at how XA/XI initially set up their configuration.  For example, we want to mirror as much as possible the AOT arguments in XA https://github.com/xamarin/xamarin-android/pull/5539 .  It will re

[2021-02-15 03:37] Thefrank commented on #14537
release/5.0 branch (and v5 tags) can be initially cross built. that product can be used natively under FreeBSD to build release/5.0 (and its tags). both cross and native also produces an SDK that is stable (enough) for building other things (@ta264 was able to build the radarr app with crossbuilt dotnet5 and has a good way of cross building dotnet5 for FreeBSD if you need it in your CI/CD toolchai

[2021-02-15 03:42] steveisok opened #48288 "Fix iOS & Android Test Failures"
These tests are most likely new and need some sort of platform detection added to them:

[TrimCompatibilityTests](https://github.com/dotnet/runtime/blob/b8db68c52d817b2cb0bff30c0f43eb47901c5d2f/src/libraries/System.Resources.ResourceManager/tests/TrimCompatibilityTests.cs#L35-L46)

Since mobile/wasm does not support RemoteExecutor, the `[ConditionalFact(typeof(RemoteExecutor), nameof(RemoteExecuto

[2021-02-15 03:50] Dharshanbs commented on #48162
Thank you very much for the insights, I'll check it out. I have also tried
upgrading the kendo UI to latest version but it was a trial version(2021)
it worked well.

On Mon, Feb 15, 2021, 04:35 Vitek Karas <notifications@github.com> wrote:

[2021-02-15 04:33] theodorzoulias commented on #47605
@noseratio as you pointed out [elsewhere](https://stackoverflow.com/questions/12007781/why-doesnt-await-on-task-whenall-throw-an-aggregateexception/62607500#comment117041811_62607500), the `WithAggregateException` method posted in [my previous comment](https://github.com/dotnet/runtime/issues/47605#issuecomment-778827371) does not handle the case of a canceled task nicely. It propagates a task tha

[2021-02-15 05:21] Summpot opened #48290 "How to implement dependency injection through the generic host of Microsoft.Extensions.Hosting in wpf?"
Not under normal circumstances by constructing an `IServiceCollection` in `Application.OnStartup()` to achieve dependency injection, I want to set the project property `EnableDefaultApplicationDefinition` to false (this can prevent a Main method from being generated in App.g.cs), and then write my own Main method using GenericHost to implement dependency injection.
After all, it is dependency inje

[2021-02-15 05:28] noseratio commented on #47605
@theodorzoulias this snippet is rather elegant but there's still one thing. In general, I'm not a fan of using `ConfigureAwait(false)` in extension methods.

E.g., if `source` is a promise-like task which will be completed via `TaskCompletionSource.SetResult` on a thread with a synchronization context (e.g., a UI thread), there may be [some redundant context switching](https://stackoverflow.com/qu

[2021-02-15 05:30] wfurt commented on #14537
for all the FreeBSD enthusiast, I'm trying to make a case to make regular FreeBSD builds and publish packages. It would be great if everybody can share their stories and use case for .NET on FreeBSD. If you can, please shoot me email to my GH address.

[2021-02-15 05:36] sudominmonk commented on #46945
Is there any way this can be achieved?
- Dotnet core using kestrel server
- Hosted on a linux container
- Sql server connection with integrated security
If possible using the impersonate user creds.

[2021-02-15 06:01] wfurt commented on #46945
the problem is that even with impresonification, you need credentials in you app @sudominmonk. If I understand @hameedshk  correctly the concern is about credential management. AFAIK there are only two ways: authenticate with OS and use "DefaultCredentails" at .NET e.g. inherit your identity from OS or use explicit authentication, credentiasl  and identity inside .NET.
Perhaps @hameedsh can clarif

[2021-02-15 06:43] gpetrou opened #48726 "System.Private.CoreLib.xml is missing from the ref folders"
I assume that this is related to the installation, if not please move it to the appropriate repository.

Check the contents of the dotnet ref folders such as:
C:\Program Files\dotnet\packs\Microsoft.NETCore.App.Ref\3.1.0\ref\netcoreapp3.1
C:\Program Files\dotnet\packs\Microsoft.NETCore.App.Ref\5.0.0\ref\net5.0

Other XML files are present and can be used to extract documentation.
System.Private.Co

[2021-02-15 06:54] alrz commented on #1511
Is this an ask for `PushStreamContent`? I was surprised that we don't have that type in core.

[2021-02-15 07:47] danmoseley commented on #34441
Note this is now ported and released
https://github.com/dotnet/runtime/issues/46730

[2021-02-15 07:48] danmoseley commented on #34441
https://www.nuget.org/packages/System.Speech

[2021-02-15 08:01] hoyosjs commented on #48284
@deiruch Quick thing that could help narrow this quite a bit.

- What version of the runtime are you using?
- What version of the VS debugger are you using?

[2021-02-15 08:03] JeroenBer commented on #887
@wfurt Sorry I did not pay attention to the licensing yet, I just wanted to get something to work. Better to not take the MD4 since I found the source on internet and it does not specify any license. Also I only verified the hash in my situation and it was good but I did not do any further testing. I just looked at the RFC and it's not that difficult I think, it also has a reference implementation

[2021-02-15 08:10] tmds commented on #42023
@JulieLeeMSFT I ran the tests, and the `"Instruction cannot be encoded: IF_DI_2A"` is no longer present in the log. This issue can be closed.

@sdmaclea the PR you reference was not merged.

Is there an issue for the `NullReferenceExceptions` you've observed on the Apple Silicon?

@JulieLeeMSFT @echesakovMSFT We've discussed this internally, and we've changed our milestone for .NET on arm64 to .NE

[2021-02-15 08:11] davidfowl opened #48293 "Channel<T> allocates on .NET Core/5 when the ValueTask is completed before OnCompleted is called"
In the default case when there's no task scheduler, we can use UnsafeQueueUserWorkItem to schedule the continuation instead of QueueUserWorkItem. See https://github.com/dotnet/runtime/blob/b3d7d670f56bc5f6055e33c5621cb44ca14890ca/src/libraries/System.Threading.Channels/src/System/Threading/Channels/AsyncOperation.cs#L272, which results in a call to QUWI https://github.com/dotnet/runtime/blob/b3d7d

[2021-02-15 08:25] atrauzzi opened #48294 "Facilitating convention based configuration loading"
I'm having a difficult time piecing together the correct approach from docs for something I'm trying to set up in a class library I'm making.

In point form, my objectives are:

 - I would like to be able to make use of `IOptions<MyOptions>` within my extension method to configure other services.
 - I've discovered that `IConfiguration` is not normally configured as an injected service, and I'd lo

[2021-02-15 08:30] tmds commented on #43349
@janvorli I ran these tests again for https://github.com/dotnet/runtime/issues/42023.
The failed asserts happen in the `Loader.classloader` tests.

You can find the full log here: [pri1.log](https://github.com/dotnet/runtime/files/5980316/pri1.log).

[2021-02-15 08:51] Summpot commented on #48270
If this Api or its similar Api can be implemented, I think it will be very useful.
For me, the problem I mentioned in #48290  can be solved very well.
Like this
[code]
Just to demonstrate this possibility, there are threading issues.

[2021-02-15 09:15] CaringDev commented on #47602
As a (hopefully temporary) workaround I resorted to `public record Foo([property: Required] string Bar)`

[2021-02-15 09:33] Thefrank commented on #14537
Just to list a few projects off hand: jellyfin (https://github.com/jellyfin/jellyfin), Ombi (https://github.com/Ombi-app/Ombi) Radarr (https://github.com/radarr/radarr) actually most of the *arr programs are looking to migrate into dotnet and would rather not leave the FreeBSD users behind if avoidable, and Azure Pipelines Agent all come to mind. Most of those build with little to no code changes.

[2021-02-15 09:42] vitek-karas commented on #48162
Since it works with the latest, I'm closing this issue as there's very likely nothing problematic from runtime's point of view.

[2021-02-15 09:42] #48162 closed

[2021-02-15 10:17] marek-safar commented on #48016
The fact that the files are in the runtime pack does not mean they need to be in publish folder.

[2021-02-15 10:22] #26726 closed

[2021-02-15 10:25] deiruch commented on #48284
Where do I find the version?

[2021-02-15 12:31] EgorBo commented on #48283
As far as I remember that optimization was introduced in .NET 5.0

[2021-02-15 12:37] GeorgeAlexandria opened #48792 "Dependency manifest (deps.json) has no entry for Private=false reference and additionalProbingPath doesn't work"
Hello,

I try to move app from net472 to net5 using Visual Studio 16.8.3 and netcore sdk 5.0.101. App use external libraries/apps (that are build under net472) and reference a couple of them. To avoid a several copy of references (`Private=false`) and to separate them from main app in folder them are placed in sub folder and app has a corresponding `probing` in the `app.config` to correctly load t

[2021-02-15 13:07] rogerge88 commented on #48249
Thank you all. We will study it and apply it in our application for testing. Thanks.

[2021-02-15 13:37] TheJaysH commented on #48158
@eiriktsarpalis Thanks for getting back to me. The reason for the exception is so that the users is informed why the property is null should they try to access it. Since the property is only populated if they provide the API with extra parameters. (This is a third party API so changing this is not possible)

[code]
But now you mention it I see why the serializer ignoring exceptions would be a terr

[2021-02-15 13:53] Bonsai11 commented on #29935
Does anyone know since when this has been broken? I recently moved from 2.1 to 3.1 and now realised this is not working correctly. I'm not sure if this was working on 2.1 and I can't go back so easily just to test this. I remember successfully trying this longer ago on 2.1 but I might have been using an IP address and therefore unknowingly avoiding this problem.

[2021-02-15 13:57] stephentoub commented on #29935
Since (including) 2.1.

[2021-02-15 14:10] SingleAccretion commented on #48283
Indeed, that is my understanding as well and why I pointed it out as a regression.

I. e. this application works fine when targeting `netcoreapp3.1` and but throws `SEHException` when targeting `net5.0`:
[code]

[2021-02-15 14:24] stephentoub commented on #48293
Actually,  we already do this in at least one of the other places i was thinking of.  I'll just change it here,  too.

Still interested in the answers to my questions,  though.

[2021-02-15 14:47] CarnaViire commented on #35987
Triage:
We cannot disable/remove handler rotation entirely because of 2 reasons:
 - it will have to stay for .NET Framework
 - it will have to stay for custom primary handlers as it might not be backed by `SocketsHttpHandler` at all, e.g. `WinHttpHandler`

We may still use `SocketsHttpHandler` for default primary handlers on .NET Core, but the benefit will not be as big (we cannot remove the rotat

[2021-02-15 15:15] eerhardt commented on #48016
It looks like #41966 was undone for `$(TargetsMobile) == true`

https://github.com/dotnet/runtime/blob/6c8f9fff6adcf6c661072646dbdafabed5267ec5/src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.sfxproj#L107-L109

The `runtimes/<RID>/native` folder is not the correct place for static library `.a` files, `.c`, or `.h` files. This folder is for architecture-specific files that

[2021-02-15 15:18] hameedshk commented on #46945
@wfurt in simple words what I am trying to achieve is like windows authentication in Unix based server . Windows authentication authenticate the application via ldap protocol against directory services. I am trying to authenticate some credentials against AD and then connect to ms sql server .
I hope I am more clear now and also if you can share some articles regarding w.r.t explicit authenticatio

[2021-02-15 15:50] eiriktsarpalis commented on #48158
That's right, however since C# 8 it is possible to declare nullable and non-nullable reference types. It's a compile-time feature that provides useful warnings if it thinks you are trying to dereference a null value. See https://docs.microsoft.com/en-us/dotnet/csharp/nullable-references for more info.

[2021-02-15 15:54] Maniues commented on #48240
@wfurt I looked for these files, but I'm looking for instructions for packaging all packages in deb/rpm files.
In my previous issue report I asked for packaging and I received these command for .NET 5.0 and new .NET 6.0: "./build.sh -c Release -subset packs+packs.installers -p:BuildDebPackage=true"
and for .NET 5.0: "./build.sh -c Release -subset installers /p:BuildLinuxPackages=true"
I think ther

[2021-02-15 16:02] davidfowl commented on #48293
It is very rare it seems .0.0025% of the time it allocates 😄

[2021-02-15 16:22] stephentoub commented on #48293
Thanks.  I'll still change it,  but, phew :-)

[2021-02-15 16:23] ViktorHofer commented on #48210
cc @Anipik @mmitche

[2021-02-15 17:15] #27183 closed

[2021-02-15 17:17] jeffschwMSFT commented on #48191
@John-Hart

[2021-02-15 17:50] dbc2 commented on #47707
In .NET 5, `System.Text.Json` serializes `ExpandoObject` as an `IDictionary<string, object>` so setting `JsonSerializerOptions.DictionaryKeyPolicy = JsonNamingPolicy.CamelCase` will cause expandos to be serialized using camel casing.

Demo here: https://dotnetfiddle.net/jf29xe.

[2021-02-15 18:23] wfurt commented on #46945
Ok. So you  *DO* want your app to manage credentials.  In that case I'm perhaps confused by the " But via username and password is a bad practice" note.

[2021-02-15 18:31] wfurt commented on #887
Can you open separate issue with detail  in https://github.com/wfurt/Ntlm @marcino239. I'm interested in info about server, packet captures and any exception you may see.

[2021-02-15 18:35] mj1856 commented on #45318
FYI, I'm working on a PR for the clock virtualization.  This has also been discussed in #36617 (and previously in #29139).  I'll add to that thread, but IMHO it should also be part of this top-level user story.

[2021-02-15 18:38] stephentoub opened #48304 "API Proposal: MemoryExtensions.SequenceEqual with IComparer<T>"
## Background and Motivation

We currently have MemoryExtensions.SequenceEqual overloads that work with spans, but they constrain `T : IEquatable<T>`:
[code]
This means there's no built-in support for using `IEqualityComparer<T>`.  It also means APIs like `Enumerable.SequenceEqual` that are unconstrained aren't able to delegate to this in general when provided with array inputs.

## Proposed API

[2021-02-15 19:47] ViktorHofer opened #48306 "Microsoft.Extensions.Options package is missing a net5.0 configuration and doesn't exclude $(NetCoreAppCurrent)"
Also, did we intentionally ship a net5.0 asset for that package?

cc @maryamariyan @ericstj

[2021-02-15 19:51] tibel commented on #48290
I think dotnet/wpf#499 has the information you are looking for.

[2021-02-15 19:52] alexcovington commented on #47786
@sandreenko Thanks for your help! I think I now have this resolved after getting the debugger properly setup for crossgen2. Here are the library diffs with all cases addressed:

[code]

Going to do a little more testing/cleaning up, but I will submit a PR soon for this.

[2021-02-15 19:57] tarekgh commented on #45318
Please keep discussing the issue on #36617 and not here. the reason is #36617 is talking in general about mockability and also protentional breaking changes for removing the ISystemClock types from all other extension libraries. This is not about just adding a simple interface. The design review video on the issue is discussing all of that.

[2021-02-15 20:00] ViktorHofer opened #48307 "Microsoft.Extensions.DependencyInjection package is missing a net5.0 configuration and doesn't exclude $(NetCoreAppCurrent)"
Also, did we intentionally ship a net5.0 asset for that package?

cc @maryamariyan @ericstj

[2021-02-15 20:01] KathleenDollard commented on #33980
@eerhardt @jonsequitur

[2021-02-15 20:04] ViktorHofer commented on #48307
Also why does the package's nuspec list dependency groups for `netcoreapp2.1` and `netcoreapp3.0`? Is this a packaging infra bug? cc @Anipik @ericstj

[code]

[2021-02-15 20:05] sdmaclea commented on #42023
It is not called out specifically, but it was some of the symptoms I was seeing with intermittent failures #46365 and gcstress failures #46330 & #46471.

[2021-02-15 20:14] benaadams commented on #48304
Would it need a `IEqualityComparer<T>? comparer = null` to be used as your example? (which doesn't specify the comparer)

[2021-02-15 20:19] stephentoub commented on #48304
My example does pass a comparer... ?

[2021-02-15 20:25] lifengl opened #48309 "ImmutableDictionary.ContainsKey compute hashcode even it is an empty dictionary"
ImmutableDictionary.ContainsKey compute hashcode of the searching value even it is an empty dictionary. For a string dictionary, computing hash code costs time.

It should be a minor change to skip the entire logic for this special case.

[2021-02-15 20:26] annaisabelhuber opened #48310 "The Generic Enum.Parse<T> method should have a Generic Type Constraint on Enum"
## Background and Motivation

Right now, the generic `Parse<T>` and `TryParse<T>` methods have only a type constraint on struct, but not on enum.

This means the following code compiles:

[code]

At runtime it throws an exception that the type provided must be an `Enum`. This can already be detected at compile time if the Parse<T> method uses a `where T: struct, Enum`.

## Proposed API

Add `Enum`

[2021-02-15 20:28] ViktorHofer opened #48311 "Disallow usage of `$(NetCoreAppCurrent)` in projects that don't exclude such configuration and generate a package"
With 6.0 Preview 1 there were a few packages that unintentionally contain a `net6.0` configuration:
- https://github.com/dotnet/runtime/issues/48307
- https://github.com/dotnet/runtime/issues/48306
- https://github.com/dotnet/runtime/issues/48248

Reason for that is that these packages use the `$(NetCoreAppCurrent)` msbuild property which maps to .NETCoreApp version which is currently in developme

[2021-02-15 20:41] benaadams commented on #48304
😅 So it does

[2021-02-15 20:47] SingleAccretion commented on #48310
This would be a breaking change - extremely unlikely to happen.

The design for constraints on generic `Enum` methods is the way it is because it makes using them possible in generic contexts where the `T` is not constrained to `Enum, struct`.

[2021-02-15 20:54] MichalStrehovsky commented on #48310
Just last week I was looking at some code that needs to do some ugly reflection just because of the `struct` constraint:

https://github.com/dotnet/aspnetcore/blob/0fc8560af08ad580cea0e96a37db62b8c46d06a5/src/Components/Components/src/BindConverter.cs#L1496-L1498

If it was up to me, instead of doing a breaking change and constraining it even more, I would drop the `struct` constraint since it doe

[2021-02-15 20:56] pgolebiowski opened #48314 "Amend the commit message"
I'd like to amend the commit message for https://github.com/dotnet/runtime/commit/826aa4f7844fd3d48784025ec6d47010867baab4, because currently it has squashed commit messages from 50 commits. The desired message is just:

[code]

[2021-02-15 20:58] pgolebiowski commented on #48314
@eiriktsarpalis could you give a hand? 😄

[2021-02-15 21:00] CoffeeFlux commented on #48314
We can't amend the commit after it's pushed to master, sorry. The squashed commit message is fine, no need to worry about it :)

[2021-02-15 21:00] #48314 closed

[2021-02-15 21:28] GrabYourPitchforks commented on #48309
This is technically a behavioral change, as hash code calculation might (but really isn't supposed to) have observable side effects.

[2021-02-15 21:33] fsinisi90 commented on #40203
Very clear, thanks again. I hope this is going to be useful to others as well -  I'm closing the issue now.

[2021-02-15 21:33] #40203 closed

[2021-02-15 21:36] SingleAccretion opened #48317 "Use standard booleans throughout RyuJit"
Some methods in the compiler are still using `BOOL`. This leads to amusing situations like in this method:
https://github.com/dotnet/runtime/blob/56d0eb94ec83473d99c1050072a224da327bc02a/src/coreclr/jit/importer.cpp#L18922-L18952

There is some value in using `bool` everywhere. This is not a high priority item, logging it so that it doesn't get lost.

This has already been fixed for the Jit/EE int

[2021-02-15 21:47] Tratcher commented on #1511
@alrz PushStreamContent is mostly unrelated. The ask here is for HttpClient to allow streaming the response data before the request data upload is finished. PushStreamContent might be convenient for providing the request content, but wouldn't affect the bidirectionality.

[2021-02-15 22:28] ViktorHofer commented on #48240
cc @NikolaMilosavljevic (@jkoritzinsky) for packaging docs

[2021-02-15 22:36] bjornharrtell opened #48320 "Documentation references MemoryExtensions.Read{T} that do not appear to exist"
https://github.com/dotnet/runtime/blob/56d0eb94ec83473d99c1050072a224da327bc02a/src/libraries/System.Private.CoreLib/src/System/Buffers/Binary/Reader.cs#L13

[2021-02-15 22:51] MeikTranel commented on #47180
@buyaa-n i have a question regarding the description - how detailed is the description expected to be? Because there's two very different reasons this analyzer is needed:

1. A user had existing code where `string.Contains(string)` was invoked because they were aware that `string.Contains(char)` used to fall back to `System.Linq.Enumerable.Contains(this string, char)` incurring a very steep perfor

[2021-02-15 23:37] buyaa-n commented on #47180
For me the 2nd message sounds good enough for both cases, could also include the offered overload `String.Contains(char)`, so that `User 1` could realize that this will not fall back to `System.Linq.Enumerable.Contains(this string, char)`.

 We might also want to check if the `String.Contains(char)` overload exist before suggesting that

[2021-02-15 23:59] eerhardt commented on #33980
In System.CommandLine.Rendering https://github.com/dotnet/command-line-api/pull/966, I prototyped the idea of a `ConsoleFormatInfo` class that is similar to `NumberFormatInfo` and `DateTimeFormatInfo`.

The [default behavior ](https://github.com/dotnet/command-line-api/blob/34a2df49f1dcf3fdc46d0c4a3daedf84b3057e05/src/System.CommandLine.Rendering/ConsoleFormatInfo.cs#L83-L94) is to write ANSI code

[2021-02-16 00:07] zedseven opened #48321 "Ancient Greek Pamphylian Digamma Is Considered Equal To Ancient Greek Yot"
### Description
The ancient Greek characters for Pamphylian Digamma (`ͷ` `U+0377`) and Yot (`ϳ` `U+03F3`) are considered equal by a `StringComparer` using the Greek culture (`el-GR`). From my (non-native, amateur) perspective, this seems incorrect and I can't find any information in the Unicode spec or historically that would suggest they are equal.

This issue affects dictionaries created using s

[2021-02-16 00:27] Summpot commented on #48290
Before I created this issue, I have read it, and there is really nothing I need.

[2021-02-16 00:27] #46884 closed

[2021-02-16 01:01] #46545 closed

[2021-02-16 01:16] wizofaus commented on #43587
I'm also having trouble getting System.Text.Json deserialize "true" and "false" into a bool field of an anonymous type, even using JsonNumberHandling.AllowReadingFromString (accepting "bool" is debatably a number).  But I rely on this behavior that the Newstonsoft implements due to the some of the 3rd party APIs we communicate with (that send back bools as `"true"` or `"false"`, but only accept th

[2021-02-16 01:32] t-mustafin commented on #47537
Aot for armel inlines functions `Tables:.ctor`:
[code]
[ILCompiler.ReadyToRun.ngendump.zip](https://github.com/dotnet/runtime/files/5985213/ILCompiler.ReadyToRun.ngendump.zip)

[2021-02-16 01:32] #47537 closed

[2021-02-16 01:48] GrabYourPitchforks commented on #48320
Comment intended to reference `MemoryMarshal.Read` (API was renamed before release). But IMO we should delete this line from the comment since documentation for a safe API shouldn't be driving people toward an unsafe API.

[2021-02-16 01:55] theodorzoulias commented on #47605
@noseratio that's a controversial opinion! Anyway, in the future we'll have more incentives to use the `ConfigureAwait` method, because it will be enhanced with some cool new options (#47525). Like the `SuppressExceptions` option, that should be handy quite often.

[2021-02-16 02:02] #48293 closed

[2021-02-16 02:24] NewellClark commented on #33809
I would like to be assigned to this.

[2021-02-16 02:30] theodorzoulias commented on #47525
@eiriktsarpalis does this mean that the new `AwaitBehavior` functionality may not be extensible? I am confused about whether adding members to a `struct` breaks the backward compatibility. [Here](https://stackoverflow.com/questions/37865610/is-changing-the-size-of-a-struct-a-breaking-change-in-c) they say it's OK (but nuanced).

[2021-02-16 03:30] stephentoub commented on #48106
We would fix whatever race is leading to us trying to use a null SafeHandle.

Exactly, which means we're potentially triggering a bunch of exceptions that a) we didn't intend to and could lead to functional problems and b) could be adding non-trivial overheads.

[2021-02-16 03:37] noseratio commented on #47605
I like that proposal about `ConfigureAwait` enhancements, it looks interesting! But I'm also glad I've embraced the use of `await TaskScheduler.Default.SwitchTo()` explicitly where I might be concerned about `ConfigureAwait`, at least about its synchronization context-related side-effects :)

[2021-02-16 04:10] stephentoub commented on #14484
Sorry for the delay, @geeknoid.

Yes, all of those are part of productizing a ValueStringBuilder-like type for the purposes of a C#-based string interpolation target.  We've been saying "ValueStringBuilder" just because it's the general approximation of what's needed.  There are other aspects of it that would differ as well; as noted, for example, we would likely want to hide it away in System.Run

[2021-02-16 05:47] noseratio commented on #47525
@eiriktsarpalis, I think this `AwaitBehavior` proposal could be very useful, thank you for it. And thanks @theodorzoulias for pointing me at this thread.

Could we consider making `ContinueOnCapturedContext`,  `ForceAsync`, `SuppressExceptions` an `enum` flags instead, similar to [`TaskContinuationOptions`](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.taskcontinuationoptions?

[2021-02-16 05:55] mfkl commented on #47563
I'm still looking into when (and when not) to throw, as buf errors should really be ignored in some cases.

Relevant https://github.com/nodejs/node/commit/0fc0902c21c9c9ed180e575f34b9b39366d57685#diff-55807528c167d8a7fc7f345ce23dc5c5e4d4e2635caaf21b90f6153044b4aa39

[2021-02-16 06:14] buyaa-n commented on #47599
I have tested by adding `AttributeTargets.Interface` target to the `SupportedOSPlatform` and `UnsupportedOSPlatform` attributes, here is how the analyzer works with interfaces and its children:
[code]

[2021-02-16 06:46] hoyosjs commented on #48284
@deiruch I was able to repro the issue. Using JMC is the only way I've found to repro.

Looks like the unhandled exception hijack happened, then we were trying to notify the debugger of the second change exception and we started draining funcevals. One of them was to do a ToString on a `System.Span<Char>`, I can't seem to find what the debugger is evaluating (not sure if it's something in the exce

[2021-02-16 06:51] NN--- commented on #48174
Did you try setting env var DOTNET_BUNDLE_EXTRACT_BASE_DIR ?
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet

Another option is to use .NET 5.0 which doesn’t extract any file.

[2021-02-16 07:01] En3Tho commented on #48309
As @stephentoub usually points out, adding such check will speed up only one case (when dictionary is empty) while slowing the main use case (when dictionary is not empty). Why would you pay the cost of checking count for every operation after you've put an item there? Especially when you know it's not empty.

[2021-02-16 08:33] sywhang commented on #48214
@ekzoor `nohup` will prevent any SIGHUPs to be sent to the runtime, which is why it's preventing the socket to be closed. We register a signal handler for SIGHUP/SIGINT that will close these sockets upon exit without fatal exceptions (i.e. SIGABRT) and I'm not sure there's anything the runtime can do anything about if you're spawning up processes without the capability for them to receive SIGHUP.

[2021-02-16 08:39] thomasclaudiushuber commented on #48310
I think it makes sense to adjust it. Right now it looks inconsistent to me with other generic methods in the Enum class, like for example the GetNames<T> method, as that one has the type constraints struct, Enum.

![image](https://user-images.githubusercontent.com/7116546/108038030-aa268f80-703a-11eb-820c-627f738ccf0c.png)

[2021-02-16 08:42] safern commented on #48311
Something to consider here is that sometimes we need to use a new API or feature in some of these packages that is only available in `NetcoreAppCurrent`. So there are releases where we need to include an asset for `NetcoreAppCurrent` in the package. So we need a way to either turn off that error or prevent those packages from being blocked in shipping an asset for `NetcoreAppCurrent`.

[2021-02-16 08:49] alrz commented on #1511
Currently we already can stream *from* HttpClient, to stream *to* HttpClient I think we need something like PushStreamContent. Should I file an issue for that?

[2021-02-16 09:21] Dimension4 commented on #36481
Just ran into the deadlock situation when writing tests and providing a mock for a NetworkStream. Took me a while to find this issue.

[2021-02-16 10:00] karelz commented on #48220
Reopening to track backport to 5.0

[2021-02-16 10:08] drocx commented on #1388
Will the bug be fixed with .NET 6?
Is there any news?

[2021-02-16 10:16] Ap0k commented on #1388
@drocx The creation of dynamic assemblies in the unloaded contexts, and therefore the work of the XML serializer, is fixed in PR #48072

[2021-02-16 10:43] vitek-karas commented on #29842
#48072 implemented the change in existing APIs. I'm leaving this issue opened to track the work to add a new API which can explicitly state the load context to use.

[2021-02-16 10:50] ekzoor commented on #48214
@sywhang Thanks for the explanation, it looks like I have to change the restart method.
I close issue because this is not a bug.

[2021-02-16 10:50] #48214 closed

[2021-02-16 10:51] vitek-karas commented on #41421
@whatevergeek if I understand it correctly this is happening on Linux running in userland (as in https://userland.tech/), right? That is a configuration we don't test as far as I know, so it's not surprising it doesn't work. Feel free to create a new issue to request support for this configuration.

[2021-02-16 10:57] krwq opened #48328 "DirectoryServices have couple of places where they likely should throw exception but they don't"
Found while adding nullable annotations.

There are couple of places in directory services which seem like they should use `throw ExceptionHelper.GetExceptionFromCOMException(...);` but they do no-op instead. Some examples:

https://github.com/dotnet/runtime/blob/master/src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/ReplicationConnection.cs#L977-L980
https://gi

[2021-02-16 11:03] vitek-karas commented on #48112
This is basically a dupe of https://github.com/dotnet/sdk/issues/10621, or https://github.com/dotnet/sdk/issues/3465. It's unclear if the problem is in host-model or SDK at this time.

[2021-02-16 11:21] ViktorHofer commented on #48311
Absolutely. I'm talking about disallowing the use of the literal `$(NetCoreAppCurrent)` string in favor of the inlined value, i.e. `net6.0`.

I believe this could be part of the package validation by reading the project file and searching for `$(NetCoreAppCurrent)`. Pseudo code:

[code]

It would be better to use a regex search here to only look at the content inside the `<TargetFramework(s) />` s

[2021-02-16 11:38] ViktorHofer commented on #46485
@safern is there a way to identify if the build is a runtimelab build? I currently have this placeholder in code which obviously doesn't work: https://github.com/dotnet/runtime/blob/d77092decb2bbd7bc94cd548af925d801a032e9e/Directory.Build.props#L242

[2021-02-16 12:26] eiriktsarpalis commented on #48309
Do you have a use care where the current behaviour results in noticeable performance issues? We'd probably need some sort of benchmark (that looks up dictionaries of various sizes) to measure any potential improvements (or degradations) that such a change might bring.

Note that there are many lookup methods that use `SortedInt32KeyNode<T>` under the hood, so if we do decide to make such a change

[2021-02-16 12:30] joperator commented on #14537
I've also noticed this problem, @Thefrank and therefore created a PR (see above) that contains the necessary adjustments to build and run Azure Pipelines Agent on FreeBSD. Please let me (and perhaps also the azure-pipelines-agent team) know if you're able to build and run this with your cross- and/or native-built .NET SDK.

[2021-02-16 13:29] eiriktsarpalis commented on #47525
That's the goal. I don't believe struct size or layout to be a breaking change in this context.

That was part of the original proposal, however we decided to adopt a configuration struct instead. It minimizes the amount of added overloads, is more extensible and also makes it easier to have the `default` instance respect existing defaults (because of this the original enum had to define a `NoCapt

[2021-02-16 13:31] BenedekFarkas commented on #47272
It looks like that the "-graph" switch ([source](https://docs.microsoft.com/en-us/visualstudio/msbuild/build-process-overview?view=vs-2019#graph-option)) solves the issue (which can be passed on to dotnet.exe too) bringing the publish time to a reasonable level (few minutes).

Anything else you would add/recommend for using R2R publishing (e.g. additional configuration that affects crossgen)?

[2021-02-16 13:33] webczat commented on #22977
does that include any api to view/control session info? or is there any issue tracking it?

[2021-02-16 13:42] candritzky opened #48352 "RSA.ImportParameters terminates Win32 service application at reboot"
### Description

We have an ASP.NET Core 3.1 application that is running as a Win32 service (`IHostBuilder.UseWindowsService`) using the Local System account. The Win32 service is configured to start automatically at system startup.

Our application calls `RSA.Create` followed by `RSA.ImportParameters` within the `Startup.ConfigureServices` startup code using a properly configured `RSAParameters`

[2021-02-16 13:47] pentp commented on #47525
I guess what `ContinueOnAnyContext` would mean is that the continuation is fine to execute on any scheduler and `ExecuteSynchronously/ForceAsync` would be independent of this (existing await continuations run synchronously by default anyway).
This could help by avoiding thread switching and async scheduling for example in library methods that do only a small fixed amount of work in their continuat

[2021-02-16 13:56] SteveSandersonMS commented on #45689
This totally makes sense, and the first implies the second. If one of the supported developer experiences is a mode where we guarantee not to restart the app without asking for permission, and attempting certain edit types may kill the runtime forcing a restart, then we must know in advance not to attempt those edit types speculatively.

However this does put responsibility for knowing which edit

[2021-02-16 14:06] vtbassmatt commented on #48174
We plan to move the app to .NET 5 when we have some cycles, so I'm glad to know that will fix it for good.

The env var seems like an OK workaround if someone is hard blocked by this, so I'll pass that along. (In case it wasn't clear - we are a Microsoft/GitHub team shipping a .NET app. It was one of our customers, not us, who first raised the problem, and we don't have a means to set environment

[2021-02-16 14:23] fcorbeil commented on #44503
Who is the ApplicationInsights team representative here?

[2021-02-16 14:24] jeffschwMSFT commented on #44394
I am neutral, what is confusing about the title?

[2021-02-16 14:31] trylek commented on #44394
I think that Dan's point was just that having "Team Epic" at the front of each title seems a bit superfluous.

[2021-02-16 14:35] jeffschwMSFT commented on #44394
I am fine either way.  I feel the titles are unique to the issue at hand, so I was curious if this was hitting a query or something.

[2021-02-16 14:39] EskeRahn commented on #48267
ADD:
Just noticed by an accident, that it is allowed today to add several entries with identical names, so the duality looking op a single name would be the same as an case-insensitive lookup of entries that differed by case only

[2021-02-16 14:51] jchannon opened #48337 "ASP.NET 5 docker image fails to communicate with TLS1.2 server"
### Description

We have a ASP.NET Core app inside `mcr.microsoft.com/dotnet/aspnet:5.0-buster-slim` that talks to a server via https (via HttpClient) that seems to report it has TLS1.2 support and ciphers that the image should support. It fails to connect via HttpClient with an SSL exception and also can be seen in curl
![curl](https://user-images.githubusercontent.com/105126/108078568-bffd7a00-7

[2021-02-16 15:01] ViktorHofer commented on #44842
@tkapin @lukas-lansky @riarenas as briefly mentioned in the last "Harmonize Arcade and Runtime" meeting, we currently have [custom publishing logic](https://github.com/dotnet/runtime/tree/1d9e50cb4735df46d3de0cee5791e97295eaf588/src/installer/publish) in place which we would like to get rid of, which should save 5-15 minutes in our official builds.
I hope we can prioritize this task as its cost sh

[2021-02-16 15:07] ViktorHofer opened #48338 "Remove installer's GetLatestCommit target in favor of Arcade infrastructure"
Installer's `GetLatestCommit` target is used to build the corehost and to publish assets. That custom target should be replaceable by what Arcade already offers (version.targets): https://github.com/dotnet/runtime/blob/75c0b990ce249d6c37adfa4037ef3ba5b280085c/src/installer/Directory.Build.targets#L140-L151

cc @dotnet/runtime-infrastructure

[2021-02-16 15:33] krwq commented on #48167
@nschuessler to move this forward, are you perhaps interested in figuring out why is BadImageFormatException happening? It seems to me you should never get that for a valid DLL+PDB

[2021-02-16 15:36] Benjiinator commented on #46921
@danmoseley and @joperezr i resolved the issue after setting the TargetFramework[s] in my solution to Net5.0.
Thanks for the help.

[2021-02-16 15:36] #46921 closed

[2021-02-16 15:38] luboid opened #48340 "Is there an efficient way to get System.Text.Json.JsonDocument as Utf8JsonReader without buffering."
Is there an efficient way to get System.Text.Json.JsonDocument as Utf8JsonReader without buffering.
I'm trying to solve the next problem when creating custom JsonConverter

[code]

this is very complicated:

[code]

and here how it is in Newotonsoft.Json

[code]

[2021-02-16 15:42] nschuessler commented on #48167
I actually only opened the PDB file, which doesn't have method information in it. My workaround was to use `icsharpcompiler.decompiler` for now.

I have a few fires going I have to put out at the moment so responses may be slow.

[2021-02-16 15:43] #44287 closed

[2021-02-16 15:49] krwq commented on #46681
@eerhardt are you planning to send a PR assuming this gets approved? I'll put this into 6.0 backlog for now.

[2021-02-16 15:51] eerhardt commented on #46681
I can, yes.

[2021-02-16 15:51] ViktorHofer opened #48341 "ProductVersion property's meaning is ambiguous"
`<ProductVersion />` is defined centrally in the Versions.props file and is currently set to `6.0.0`: https://github.com/dotnet/runtime/blob/54f6250216a8f73025ccd3340560f26455b3ec18/eng/Versions.props#L3-L4.

In addition to that, installer defines the `<ProductVersion />` property as well which means the central one is overwritten: https://github.com/dotnet/runtime/blob/54f6250216a8f73025ccd334056

[2021-02-16 15:59] krwq commented on #47079
Would using https://github.com/dotnet/runtime/blob/master/src/libraries/System.Reflection.Metadata/src/System/Reflection/PortableExecutable/DebugDirectory/DebugDirectoryEntry.cs#L35-L40 with a local copy of https://github.com/dotnet/runtime/blob/1d9e50cb4735df46d3de0cee5791e97295eaf588/src/libraries/System.Reflection.Metadata/src/System/Reflection/Metadata/PortablePdb/PortablePdbVersions.cs
I'm se

[2021-02-16 16:05] jkotas commented on #47274
@lambdageek Is it acceptable for Mono to always enable editability for any assembly compiled as debug by default? Would that mean that assemblies compiled as debug have to always use interpreter on Mono (for now at least)?

If we were to enable all assemblies compiled as debug to be editable by default, 3rd party tools will find creative ways how to use it. For example, I can imagine diagnostic to

[2021-02-16 16:20] n777ty opened #48342 "Possible deadlock in System.Diagnostics.Tracing.EtwEventProvider.System.Diagnostics.Tracing.IEventProvider.EventUnregister"
We are observing a possible deadlock (at minimum it's an infinite hang) as follows:

 - The process is shutting down

[code]

 - During shutdown, cleanup is taking place on Finalizer thread

[code]

 - Finalizer thread is blocked trying to acquire SRWLock

 - Finalizer thread owns another lock itself

[code]

 - Another thread is waiting on Finalizer's lock

[code]

 - Both of these threads are de

[2021-02-16 16:21] ViktorHofer commented on #45560
Reopening to track backporting into release/5.0.

[2021-02-16 16:25] eerhardt commented on #39102
Resolved by #48120.

[2021-02-16 16:25] #39102 closed

[2021-02-16 16:26] msallin commented on #41586
@davidfowl we observed the counters for a whole day (1s sampling interval). The thread pool threads never reached the maximum configured min threads. Hence, I conclude that its not a thread pool issue.

We also found some other interesting things like that it seems that the time spend is not when we receive the response but before even sending the request/query/command.  However, we are still unsu

[2021-02-16 16:51] vcsjones commented on #48337
Well, the `curl` issue reproduces in the original `debian:buster` docker image, and likely in Debian as well.

This isn't exactly a cipher suite issue. Using the stock Debian container, I can see that the client and server agree on `ECDHE-RSA-AES256-GCM-SHA384`, but fail because the SigAlg being used is SHA1:

[code]

By changing the SECLEVEL, you're permitting SHA1 signatures.

_Interestingly_, i

[2021-02-16 16:51] steveharter commented on #47649
@Tornhoof

The current design section "Features not proposed in 6.0" states that we don't want to have every permutation that `JsonSerializer.Deserialize` already has. This is for varying reasons but one is to that the overloads add clutter at least for non-common cases -- e.g. the design has static "Parse()" method on all 4 node types in order to prevent casts, so every time we add another "Parse

[2021-02-16 16:55] jchannon commented on #48337
I have no knowledge or control over the server

On Tue, 16 Feb 2021 at 16:51, Kevin Jones <notifications@github.com> wrote:

[2021-02-16 17:02] lambdageek commented on #47274
I think the optimal situation for Mono is to have some global flag (environment variable or switch) to signal that editability is desired, and after that we can choose the editable assemblies based on the assembly debug attribute.

---

There are two constraints:
1. Even if we could robustly pick JIT or interpreter as the execution engine based on whether the assembly is compiled for Debug or Rele

[2021-02-16 17:17] davidfowl commented on #41586
I don't see anything that looks like starvation there.

[2021-02-16 17:20] jeromelaban opened #48345 "[Wasm] mono_bind_static_method return value interning breaks parameter interning"
### Description

Repro: https://github.com/jeromelaban/Wasm.Samples/tree/master/Bug48345/Bug48345

Given the following code:
[code]

The result is the following:
[code]

The reason for this is that the second invocation uses the same string as the returned value from the first invocation, and the string interning cache is not storing the proper structure, passing an incorrect value to the managed

[2021-02-16 17:32] marek-safar commented on #47989
/cc @lambdageek

[2021-02-16 17:33] JulieLeeMSFT commented on #48283
CC @echesakovMSFT

[2021-02-16 17:35] Apostolique opened #48347 "API Proposal: Add the ability to set a version in a ProjectReference"
## Background and Motivation

When including a project using a `ProjectReference`, it would be useful to be able to give a version number manually. This would be useful when the included project is setup to get a version number from a CI and therefore no version is set locally.

This would be useful in projects where you have a PackageReference that depends on a version of the ProjectReference.

T

[2021-02-16 17:43] Tratcher commented on #1511
@alrz yes please.

[2021-02-16 17:45] sywhang commented on #48342
Thanks for reporting this @n777ty. I've identified the issue to be with the way we hold the EventListener lock inside EventSource. I'll follow up with you on additional details offline.

[2021-02-16 17:51] lambdageek commented on #48012
Duplicate of https://github.com/dotnet/runtime/issues/47989 which has some runtime tests that are currently disabled on Mono.

[2021-02-16 18:03] mmitche opened #48421 "projectUrl elements in nuspec now showing git:// prefixed url for Microsoft.NETCore.App.*"
This blocks pushes to nuget.org. The projectUrl appears to have been changed over from https://dot.net, aspnetcore.net, etc. and is now showing a git:// prefixed cloning url instead. This blocks any nuget.org push because that is not viewed as a valid project url.

[2021-02-16 18:20] layomia commented on #43587
Closing as fixed for 5.0 by https://github.com/dotnet/runtime/pull/45452.

[2021-02-16 18:20] #43587 closed

[2021-02-16 18:22] cleftheris commented on #38812
I have written something similar here https://github.com/dotnet/runtime/issues/1761 it has been battle tested accross multiple projects migrated to system text json.

[2021-02-16 18:22] terrajobst commented on #45689
* It's not a mainline API, but it's logically similar to the existing `TryGetRawMetadata()`
* However, we don't believe this should be an extension method because most people would never need it

[code]

[2021-02-16 18:26] layomia commented on #43587
@wizofaus -`bool` is not considered a .NET "number" type (i.e. an [integral numeric type](https://docs.microsoft.com/otnet/csharp/language-reference/builtin-types/integral-numeric-types)). The `JsonNumberHandling` feature does not treat it as such.

To support reading quoted booleans with System.Text.Json's serializer, you'll need to register a custom converter which has logic to parse them - http

[2021-02-16 18:27] agocke commented on #48259
Update issue: this looks like a problem with the runtime when placed in a folder with backslashes

[2021-02-16 18:31] terrajobst commented on #47990
* We could also overloads to create a reader straight from a `byte[]` or `ReadOnlyMemory<byte>` but those can be constructed by creating a sequence, so we can add them later if we think that's common enough.

[code]

[2021-02-16 18:33] #46349 closed

[2021-02-16 18:35] #47236 closed

[2021-02-16 18:50] terrajobst commented on #24897
* Let's drop the name `DeriveBytes` from the method name because it doesn't really add anything
* We considered a separate type but it seems the difference is streaming vs non-streaming and static vs non-static seems to convey is sufficiently.

[code]

[2021-02-16 18:50] lambdageek commented on #47989
Not sure this is true.  Mono has support for `InternalsVisibleTo`.

@krwq is there some conceptual case that you have in mind?

[2021-02-16 18:50] echesakovMSFT commented on #48283
I will take a look

[2021-02-16 18:50] #48012 closed

[2021-02-16 18:53] #41593 closed

[2021-02-16 19:02] buyaa-n commented on #44063
That is right, transferring the issue to `dotnet/dotnet-api-docs`

[2021-02-16 19:04] terrajobst commented on #42784
* We should add a simplified overload that only requires name and kind

[code]

[2021-02-16 19:04] CoffeeFlux opened #48349 "Document wasm relinking functionality"
Once https://github.com/dotnet/runtime/issues/43689 is resolved we should be able to relink a project for even greater size reductions savings, most notably linking out ICU. We should document this and probably stand up a test.

- [ ] public properties, items
- [ ] default settings

[2021-02-16 19:05] LetMeSleepAlready opened #48350 "System.Text.Json Overflow throw exception"
According to [https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-handle-overflow]() one can capture object-unknown fields inside the deserialized object by using JsonExtensionData

Without adding such an extension to all my objects, how can I make the deserializer throw an exception when an unknown field is encountered? I find it strange that upon an extra comma an exc

[2021-02-16 19:17] terrajobst commented on #43853
* We don't need this API because we just added `CreateActivity`

[code]

[2021-02-16 19:17] buyaa-n commented on #34112
The failure logs are gone, from the stack trace and log, and after looking into the code in `.NET Framework` i don't think this issue is caused by a code/test bug, by accounting that this failure hasn't happened for a while i am gonna just close this issue

[2021-02-16 19:17] #34112 closed

[2021-02-16 19:20] vcsjones commented on #48223
Hit this with the new assertion to get better output. [Output]:

[code]

Which is... interesting. I will dig in.

[Output]: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-48107-merge-b2df4b8fda03419db5/System.Security.Cryptography.X509Certificates.Tests/console.8603011e.log?sv=2019-07-07&se=2021-03-08T18%3A40%3A27Z&sr=c&sp=rl&sig=l2MmVVhHu93qlEB9RLg%2F%2Fj%2Fe%2BZy

[2021-02-16 19:22] wfurt commented on #22977
not at the moment @webczat. For server I'm working on stateless support with session tickets to replace old #32763.
It feels like the client should have control via API but then there is the platform reality. AFAIK there is no way how to control this directly on Windows (other than global registry) That is very different from Linux where everything is contained in your app.

[2021-02-16 19:25] terrajobst commented on #44738
* Let's just drop the nested type and replace it with an `int`

[code]

[2021-02-16 19:29] webczat commented on #22977
seems like using openssl even on windows could have it's advantages hah
And seriously, what about tls 1.3 way of session resumption? this uses none of that, or more like it uses something similar to session tickets if I get it correctly, unsure... like never read session ticket spec, and forgot details from tlsv13 spec

[2021-02-16 19:31] buyaa-n commented on #46066
@Marie-Shi seems your question answered by @vitek-karas's comment above. Does it resolve your issue? If you have no any other questions could we close this issue?

[2021-02-16 19:33] wfurt commented on #48207
It feels like last option would give most consistent experience. Since the stores probably don't change too frequently and are probably reasonably small, I'm wondering if we can pre-compute the list so it can be added in O(1).
even with O(N) the cost may be small comparing to the crypto.

[2021-02-16 19:34] safern commented on #46485
What would happen when we are producing a servicing stable release (i.e no prerelease label is inclduded).

I was thinking about this the other day, the problem is that runtimelab is based off `dotnet/runtime`. So we have the `runtime-master` branch in runtimelab which is mirrored automatically when a commit goes into `dotnet/runtime`. That means that any new experiment, would be created from that

[2021-02-16 19:38] safern commented on #48341
IIRC `ProductVersion` under installer is what drives the produced package versions.

[2021-02-16 19:43] ViktorHofer commented on #46485
I think that sounds reasonable as other parts that rely on `<GitHubRepositoryName />` wouldn't work either already today. Let's add that as a requirement to the Markdown file. Can you take care of that and I'll update the condition to use that property?

[2021-02-16 19:47] agocke opened #48354 "Improve support and docs for signing"
Customers who've previously only done signing with framework-dependent apps may not be aware of the ways they can support signing what options they should be aware of.

Some interesting pieces around signing:

- [x] Trimming breaks signature, so signing should happen after
- [x] Single-file bundles can both have signed bundled assemblies and authenticode signing for the bundle itself
  - [x] If th

[2021-02-16 19:47] CoffeeFlux opened #48355 "[wasm] Estimate ICU data size savings when only shipping English"
It should be possible to modify https://github.com/dotnet/icu/tree/maint/maint-67/icu-filters and generate the data file for only English instead of EFIGS to see how much space we save.

To generate the file, you need to build the full repo, and then you can rebuild the data files after adjusting the filter with `make -f icu.mk data-icudt TARGET_OS=browser TARGET_ARCHITECTURE=wasm`.

[2021-02-16 19:47] layomia commented on #45441
@danmoseley - yup it's in progress, and we've started to get some numbers on potential size savings due to having source generation for JSON.

Now that we can generate code that statically references metadata on input object graphs, we can, based on a prototype linker feature switch (e.g. [this snippet](https://github.com/layomia/JsonSourceGenPerf/blob/main/SizeOpts/ConsoleAfter/ConsoleAfter.cspro

[2021-02-16 19:48] CoffeeFlux commented on #48355
If the size savings looks worthwhile, we can adjust this issue to split up the files further.

[2021-02-16 19:51] Ap0k commented on #29842
@vitek-karas DefineDynamicAssembly API Extension PR #48353

[2021-02-16 19:52] sandreenko opened #48356 "PAL_EXCEPT_FILTER: windows rewrites `pSPMIEParam->exceptionPointers.ExceptionRecord->ExceptionCode`"
Consider the following program:
[code]
it currently fails with the assert on Windows,

`// Point 1 ` has correct value in `param.exceptionPointers.ExceptionRecord->ExceptionCode`, `//Point 2` has incorrect value in `param.exceptionPointers.ExceptionRecord->ExceptionCode`, it is updated somewhere here between, the stack when it happens:
[code]

[the full test, rename to cpp.txt](https://github.com/

[2021-02-16 19:53] sandreenko commented on #48356
PTAL @davidwrighton @BruceForstall, I have discussed this issue with you, now I got a smaller repro, please take a look and advice what area it should be in.

cc @dotnet/jit-contrib

[2021-02-16 19:57] safern commented on #46485
Sure.

Yeah, I'll put up a PR to all branches to take care of that.

[2021-02-16 20:00] ViktorHofer opened #48357 "Default branch has been renamed to main"
**Part of March's batched infrastructure rollout: https://github.com/dotnet/runtime/issues/48168**

On March 1st 2021 (Monday) we're going to rename the default branch in this repository to `main`. For more details, see [our earlier announcement](https://github.com/dotnet/announcements/issues/172). Expect the process to begin around 8AM UTC.

[2021-02-16 20:01] layomia commented on #48350
This is describing a feature to throw an exception when a JSON property doesn't match with a CLR property. It is technically doable, but I'd like to understand the motivation here a bit more. Do you have a real-world scenario where this is useful? Is there existing functionality in other JSON serializers in or outside the .NET ecosystem that provides similar functionality?

[2021-02-16 20:03] akoeplinger commented on #46485
@ViktorHofer which packages are we talking about here? runtime packs? or OOB nugets?

[2021-02-16 20:04] davidfowl commented on #47990
@Alxandr the API's been approved! Have at it. I'll gladly review the implementation.

[2021-02-16 20:04] EgorBo opened #48358 "[RyuJIT] Drop redundant static initalizations"
To track https://github.com/dotnet/runtime/pull/48279#issuecomment-780075820

Example:
[code]
With https://github.com/dotnet/runtime/pull/48279 we now should be able to inline that `Equals` (because we know the exact type of `comparer` local) thus, the `comparer` variable becomes unused and we don't need to statically initialize the `EqualityComparer<int>`, but we currently do:
[code]
If we manage

[2021-02-16 20:05] EgorBo commented on #48358
Marking as 6.0 in case if it can be fixed in a few hours (it looks so) 🙂

[2021-02-16 20:11] layomia commented on #48205
Later in .NET 6.0 when we expose the internal serialization metadata classes as part of the JSON code gen work - https://github.com/dotnet/runtime/issues/34456 - users will be able to specify the deserialization constructor to use for any type (including non-owned types), without `JsonConstructorAttrbute`.

[2021-02-16 20:19] terrajobst commented on #47525
* Let's make it readonly so that we can mark APIs as `in`
* We need to decide whether to have a type `AwaitBehavior` or whether we should use optional parameters
* It seems `ValueTask` and `Task` might differ in what they can support; the same might be true for other `IAsync` interfaces

[code]

[2021-02-16 20:45] ViktorHofer commented on #46485
All packages that we produce in dotnet/runtime except .sfxprojs (shared framework packages) which come with their own servicing infra.

[2021-02-16 20:47] karelz commented on #47583
Triage: We cannot do today IPv6 only, so let's add DisableIPv6 switch.

[2021-02-16 20:48] MihaZupan opened #48363 "ConnectionPool exhaustion when using Proxy and MaxConnectionsPerServer"
When using both an http proxy and setting `MaxConnectionsPerServer`, `SocketsHttpHandler` will limit the total number of connections it will open to `MaxConnectionsPerServer`.

These connections are not shared, so opening some connections to host `foo` might mean all requests to `bar` will timeout until `foo`'s pools expire and are reclaimed.

This affects requests that would establish the proxy c

[2021-02-16 20:51] karelz commented on #47586
Triage: Nice to have, removes some duplicate code
We're committed to DualMode sockets (starting with `SocketsHttpHandler`)
May be better to do in larger PR rather than one by one.

[2021-02-16 20:52] karelz commented on #47726
Duplicate of #45010

[2021-02-16 20:52] #47726 closed

[2021-02-16 20:52] akoeplinger commented on #46485
Ok then yeah to answer to your question:

We need to ship the runtime packs for Browser/iOS/tvOS in servicing, as well as possibly packages like BrowserDebugHost and BrowserDebugProxy in servicing if they have bug fixes.

There's also the s390x work ongoing in dotnet/runtimelab and we'll need a way to still create packages there (not in CI though).

[2021-02-16 20:53] karelz commented on #48062
Triage: We are supportive.
@haraldsteinlechner do you want to put up a PR?

[2021-02-16 20:55] karelz commented on #48123
Triage: We need investigation -- if there is exception on socket, we should bubble it up. If we don't get error from OS, then there is nothing we can do.

[2021-02-16 20:56] stephentoub commented on #39873
This was fixed by https://github.com/dotnet/runtime/pull/48160, correct?

[2021-02-16 20:56] karelz commented on #48246
Triage: We should update the state (assuming it is possible).

[2021-02-16 20:59] #39873 closed

[2021-02-16 21:01] karelz commented on #46832
Triage: This is not specific to sockets. We should expose API on `SafeHandle` instead - general one.

[2021-02-16 21:11] jkoritzinsky commented on #48341
`ProductVersion` in installer is driven by the Arcade properties, but it has to add additional information to get the installer versions to match what they're supposed to for the given platform installer (like using a `~` instead of a `-` in deb package versions).

[2021-02-16 21:16] crowo opened #48365 "String.LastIndexOf inconsistency"
`string str = "123";
var ix = str.LastIndexOf("3", str.Length); //OK
var ix2 = str.LastIndexOf('3', str.Length) //Throws Exception`

the char overload throws exception while string overload works as expected.
usually if you write generic code you start with str.Length and go backwards. using char overload prevents it and you have to check if str.Length > 0 and call with str.Length -1. string versi

[2021-02-16 21:24] tarekgh commented on #43853
Just to clarify: the requested functionality is covered by the proposal https://github.com/dotnet/runtime/issues/42784.

[2021-02-16 21:36] noseratio commented on #47525
@eiriktsarpalis

To add to @pentp's comment, isn't `ExecuteSynchronously` already the default behavior for `await` continuations *without* `ConfigureAwait` modifiers at all? For example:

[code]

Provided there is no synchronization context and no custom task scheduler, the `continuation` passed to this task's `TaskAwaiter.UnsafeOnCompleted(continuation)` will be called synchronously by the timer

[2021-02-16 21:38] LetMeSleepAlready commented on #48350
Right, fair enough question.

I am working on an api (ordering, money, you probably understand the restriction there on error margin), where certain fields are optional. However, this optionality completely changes the result of the order. As such, a typo where a fieldname is mistyped or whatever will go unnoticed in code, but not in the end result. I can not return an error because the code simpl

[2021-02-16 21:42] LetMeSleepAlready commented on #48350
Also, from [https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to?pivots=dotnet-5-0]()

MissingMemberHandling

This would then be solved :)

[2021-02-16 21:43] hoyosjs commented on #42008
Sadly I haven't been able to take a stab at this. There's a few things I have that take priority over this. I'm removing the assignment in case someone else has bandwidth to pick it up.

[2021-02-16 21:45] carlossanlop commented on #43976
I updated the description to get this proposal ready for review. @TKharaishvili @tarekgh let me know if you have any comments about my edit. Otherwise, let's wait for the API review meeting to discuss this.

[2021-02-16 21:51] steveharter commented on #43413
FWIW a quick git log showed no obvious JSON or encoding changes: ```git log --after="2020-10-1" --before="2020-10-7" --oneline```. The nearest JSON change I saw was https://github.com/dotnet/runtime/commit/527f9ae88a0ee216b44d556f9bdc84037fe0ebda

[2021-02-16 21:54] tarekgh commented on #43976
I am fine with the proposal. Only the last part `lower = s.ToLower/ToUpper(CultureInfo.InvariantCulture);` is not really necessary as I am seeing both usages still correct.

[2021-02-16 21:58] carlossanlop commented on #33783
[TODO] Define more positive and negative cases. For now, we only have the ones suggested in the description. cc @buyaa-n

- Suggested category: Performance
- Suggested severity: Info

Examples:
[code]

[2021-02-16 22:21] eerhardt commented on #48061
Just to follow up here, this is the latest results from perf lab:

![image](https://user-images.githubusercontent.com/8291187/108128843-fdb4cf80-7072-11eb-842b-ec278bedafdd.png)

Nice work here @tqiu8!

[2021-02-16 22:33] vcsjones commented on #48352
Is anything else in the event viewer that may be relevant leading up to the crash? Possible event sources may be the "Crypto-CNG" or "Crypto-NCrypt" event sources, or an "Application Error" with the application's fault info.

Is it possible for you to try on 5.0, just to help gather more information?

[2021-02-16 22:35] tlakollo opened #48367 "Change runtime annotations/suppressions after linker change"
### Description

- After changes in https://github.com/mono/linker/pull/1829 we need to remove the suppressions for warnings this change resolves.
- Type.GetMembers uses the annotation [DynamicallyAccessedMembers(DynamicallyAccessedMemberTypes.All)], this annotation keeps more stuff than what GetMembers should keep (GetMembers should not keep interfaces nor members inside a nested type).

[2021-02-16 22:36] Jozkee commented on #44546
Just as an update, I tried to repro the issue using [WinNFSd](https://github.com/winnfsd/winnfsd) on a Windows Pro machine and then mounting to the nfs server with WSL2 Ubuntu… I had to use NFSv3 since v4 is not supported on WinNFSd.

However I wasn't able to repro the issue with said config; I ran the provided code on the linux client and it successfully writes to the file in the nfs server.
This

[2021-02-16 22:49] eerhardt commented on #48367
Should be able to fix this as well:

https://github.com/dotnet/runtime/blob/0026a202ab4087d237f6be8824dff322d3a7d6be/src/libraries/Common/src/System/Drawing/ColorTable.cs#L23-L26

[2021-02-16 22:51] rogerge88 commented on #48249
@eerhardt By following your "to workaround this for now, to unblock yourself..." and we have successfully resolve this issue. Freat!

Thank you all for all the helps and suggestions.

We understood that this bug will be fixed in the next release. thanks.

[2021-02-16 22:56] eerhardt commented on #48249
Reopening, as we need to fix the product to support this out of the box.

[2021-02-16 22:57] jwaffe75 commented on #35299
Hello,

I understand your point of view on this, and you don't have to support every bizarre hack out there, but I wish you would reconsider your decision on this.

### Paths:
- Yes, it's true that `Path.Combine` and other methods are without a doubt superior to concatenation with `\`. That is the **right thing** to do, and I always did it and never shut up about it for years (I was a riot at part

[2021-02-16 23:07] t-mustafin opened #48368 "SIGSEGV at coreclr tracing"
### Description
Coreclr got a SIGSEGV during tracing crossgen2 via `dotnet-trace.dll`:
[code]

Also it fails to trace via enabling environment variables:
[code]

### Configuration

It reproduces both on x64 ubuntu 18.04 and armel tizen 6.0.0.
Runtime state 83143a4a882590101a5b986e333390c94df1bd1f.
Diagnostics state d7663b388b16f8f64c08f9700ba09fa230c57235.

### Regression?

That SIGSEGV behaviour

[2021-02-16 23:24] kg commented on #35299
Since this thread was revived,

Win32 itself contains a feature like this - When performing file operations like open, rename etc via Win32 APIs, various things happen to your paths before they are passed on to the underlying filesystem (NTFS, etc) because this both provides backwards compatibility and improves ease of use for both developers and end-users. Generally speaking, NTFS is case-sensiti

[2021-02-17 00:21] teo-tsirpanis commented on #47525
Pardon me if I am wrong but no. `await x` is equivalent to `await x.ConfigureAwait(true)` (that's why you always see `ConfigureAwait` being passed a `false`). I also persume that in most cases where the awaitable is not completed, the continuation is executed asynchronously (i.e. on a different thread; usually from the therad pool) but that's subject to configuration from properties like `ManualRe

[2021-02-17 00:32] BruceForstall commented on #48356
The filter function copies the `EXCEPTION_POINTERS` structure, but that is just two pointers, and the data pointed to by those is not copied. Also, the data there is only valid during the filter function (it's probably constructed on the stack during SEH processing). See https://docs.microsoft.com/en-us/windows/win32/debug/getexceptioninformation: "This function can be called only from within the

[2021-02-17 00:32] #47329 closed

[2021-02-17 00:43] janvorli commented on #44897
@danwalmsley if you have already reported the issue via Apple feedback tool, could you please share the feedback number?

[2021-02-17 00:45] jeffhandley commented on #47599
Thanks, @buyaa-n. I assume no changes were necessary in the analyzer itself to achieve that result; let me know if that is not correct.

@spouliot, would this behavior of the analyzer match your expectations?

@terrajobst, do you have concerns about misleading users (to think attributes are inherited) here, or do you think we (can) cover this well enough in documentation that no form of based type

[2021-02-17 01:00] echesakovMSFT commented on #48283
Setting 6.0 milestone for now

[2021-02-17 01:04] terrajobst commented on #47525
Marked as ready for review & blocking so it shows up for next week agin

[2021-02-17 01:12] mangod9 commented on #45862
@ivdiazsa is currently working on porting this change. Thx

[2021-02-17 01:13] buyaa-n commented on #47599
That is correct

[2021-02-17 01:22] noseratio commented on #47525
I might be wrong too, so just to make sure we're on the same page, when I mentioned `continuation` above I referred to the `continuation` callback passed to [`TaskAwaiter.UnsafeOnCompleted(Action continuation)`](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.taskawaiter-1.unsafeoncompleted?view=net-5.0#System_Runtime_CompilerServices_TaskAwaiter_1_UnsafeOnCompleted_Sys

[2021-02-17 01:29] tarekgh commented on #48237
@shirhatti if you are satisfied with the workaround proposed by @noahfalk, can we close this request? just for the record here is some high level idea how to force the Activity creation:

[code]

Please let me know if have any question.

[2021-02-17 01:37] dougbu commented on #48238
dotnet/aspnetcore almost never uses `<PackageReference />` or `<ProjectReference />` in our C# projects. Instead we use `<Reference />` elements and convert them to `@(ProjectReference)` items as part of MSBuild evaluation and to `@(PackageReference)` items later, in a `ResolveCustomReferences` target that runs e.g. before `ResolvePackageAssets`.

This works relatively well but is a bit confusing

[2021-02-17 01:43] danwalmsley commented on #44897
@janvorli FB8989324

[2021-02-17 01:45] janvorli commented on #44897
@danwalmsley thank you!

[2021-02-17 01:48] geeknoid commented on #14484
@stephentoub thanks for the feedback.

Improving the interpolated string perf is key, but I think strictly focusing on that use case is missing other significant opportunities for perf gains.

The StringMaker type that's in my code takes as ctor input an initial capacity and internally decides to allocate its buffers on the heap or stack based on a fixed constant. The C# compiler can make an educa

[2021-02-17 01:52] JulieLeeMSFT commented on #13573
jit-diff shows 1440 methods improvement.

[code]

[2021-02-17 02:14] BruceForstall opened #48376 "SuperPMI Linux collections failing"
Failure is running "dotnet restore" in jitutils bootstrap.sh:

https://dev.azure.com/dnceng/internal/_build/results?buildId=996650&view=logs&j=d7551aa0-372e-58fa-df5d-8d135d54bb15&t=4968ae23-9fd9-5a8e-ad9e-7108e9d9a9b7

[code]

Maybe due to https://github.com/dotnet/jitutils/pull/315/?

[2021-02-17 02:14] BruceForstall commented on #48376
@kunalspathak

[2021-02-17 02:18] stephentoub commented on #14484
You can ship a nuget package that anyone can use :)

[2021-02-17 02:37] jason-daly commented on #29937
There should be a big disclaimer at the start of the System.Text.Json documentation, of "**Use at your own risk! The JsonSerializer doesn't do what you want, need, or expect. Does not support OO programming!**".

It is very lame of m'soft to not have resolved this weakness by now.

After several days of writing code to make use of System.Text.Json I discovered this fundamental flaw, and now have t

[2021-02-17 02:53] cshung opened #48378 "_ASSERTE(bRes && "Failed to SetThreadContext in RedirectThreadAtHandledJITCase - aborting redirect.");"
### Description

We hit this assertion when running the `JIT\CodeGenBringUpTests\LocallocLarge_r` test, it is non-deterministic, but is repros pretty regularly.

### Configuration

release/5.0
Windows/x64/Debug
COMPLUS_GCSTRESS=1

### Regression?

I don't know.

### Other information

The failure call stack:
[code]

GetLastError
[code]

[2021-02-17 02:53] jaredpar commented on #14484
For the interpolated string case I feel very good about the C# 10 chances assuming that runtime has the bandwidth to get the `ValueStringBuilder` type into .NET 6 as well.

This is the only part that makes me hesitate a bit. If we feel like interpolated strings can be solved independently of other string formatting issues then I'd actually hoped to move forward rather soon. If we think they're rel

[2021-02-17 03:02] PureKrome commented on #29937
@jason-daly At least you had the smarts to create a burner-github-account before you ranted at everyone on the internet.

Now, if you've can't be polite when you disagree, then please refrain from attacking people who are trying to be positive and do good for the community. There are Community Standards, here - like respecting each other.

[2021-02-17 03:22] jkotas opened #48379 "[Mono] Missing error handling in Marshal.GetDelegateForFunctionPointer"
See test being disabled in #48362

[2021-02-17 03:24] stephentoub commented on #14484
FWIW, I do like the additional support of being able to a) TryFormat the result of string interpolation rather than always going into a string, and b) being able to seed the builder with the destination output buffer so that there's no additional copying needed.  For (a), I could imagine us implementing that for string interpolation where the compiler transforms something like:
[code]
into code li

[2021-02-17 03:26] VSadov commented on #38974
Fixed in:
6.0 - https://github.com/dotnet/runtime/pull/47212
5.0 - https://github.com/dotnet/runtime/pull/47447
3.1 - https://github.com/dotnet/coreclr/pull/28131

[2021-02-17 03:26] #38974 closed

[2021-02-17 03:27] VSadov commented on #47859
fixed in https://github.com/dotnet/runtime/pull/48140

[2021-02-17 03:27] #47859 closed

[2021-02-17 04:02] VSadov commented on #48378
I am able to reproduce this on 6.0

[2021-02-17 04:07] AndyAyersMS commented on #13573
Unfortunately I think this may be telling you something has gone wrong -- for a change like this we would expect baseline and new jit to process the exact same number of methods.

Output like this means the new jit did not jit (or failed while trying to jit) some methods.
[code]

Was there a message printed before he output you show above about "reconciling"?

[2021-02-17 04:08] jason-daly commented on #29937
Don't be such a baby. Fix the problem!

[2021-02-17 04:16] richlander commented on #44897
I installed the `.tar.gz` option for 5.0.3 @ https://dotnet.microsoft.com/download/dotnet/5.0. Is that build unsigned? It is behaving as if it were (tons of malicious software warnings). If I use the `.pkg` option, I get expected behavior. I see the same behavior with the nightly 6.0 P1 build. I would like to use the `.tar.gz` option so that I can play with any .NET version privately (no global in

[2021-02-17 05:14] #44519 closed

[2021-02-17 05:35] null-d3v commented on #43929
Definitely consistent response times based on the size of the search results. Here is a highly reduced summarization:

[code]

[2021-02-17 05:52] tpups opened #48732 "[wasm] Log when source files fail to be loaded into DebugStore"
I have a .NET 5.0 (previously .NET Core) application using the Blazor hosted model. Thus, my solution is comprised of three projects - Client, Server, and Shared (I believe this is what you get when you use the 'Progressive Web' option on creation).

I am trying to debug some Okta OAuth issues in my client application, however I can't seem to get the debugger to hit any breakpoints in the client.

[2021-02-17 06:14] alrz opened #48386 "Backport PushStreamContent"
Currently we already can stream *from* `HttpClient`, in order to stream directly *to* `HttpClient` (without using `MemoryStream`) we need something like [`PushStreamContent`](https://docs.microsoft.com/en-us/previous-versions/aspnet/hh995285(v=vs.118)).

Sample usage: https://blog.stephencleary.com/2016/10/async-pushstreamcontent.html

[2021-02-17 06:14] alrz commented on #1511
Files https://github.com/dotnet/runtime/issues/48386

[2021-02-17 06:19] whatevergeek commented on #41421
hi @vitek-karas ,

That's correct. I'm using linux via userland.
Ok will create a new issue to request support for the configuration.
Thanks for the consideration.

[2021-02-17 06:35] whatevergeek opened #48389 "Please add support to run dotnet in arm64 (userland)"
Copying details here from the other issue (https://github.com/dotnet/runtime/issues/41421)
as discussed with @vitek-karas.

Installation is by tarring arm64.tar.gz from the dotnet [arm64 site](https://dotnet.microsoft.com/download/dotnet/thank-you/sdk-5.0.103-linux-arm64-binaries)

I've investigated further and got the following observations:

## TLDR:
Latest arm64 package (dotnet-sdk-5.0.103-linu

[2021-02-17 07:02] richlander commented on #44897
I cannot get .NET 5 ASP.NET amd64 container images to work on M1. It is apparently [supposed to work](https://docs.docker.com/docker-for-mac/apple-m1/#known-issues).

An Arm64 image works:

[code]

A small sample works with amd64:

[code]

My experience with the `aspnetapp` sample as amd64:

[code]

[2021-02-17 07:15] roji commented on #22336
Take the Activity API into account as well when looking into this (e.g. https://github.com/open-telemetry/opentelemetry-dotnet/issues/675).

[2021-02-17 07:35] vargaz commented on #43689
This should work now, set the `InvariantGlobalization` and `WasmBuildNative` msbuild properties to `true`.

[2021-02-17 08:00] marek-safar commented on #43689
@vargaz does it work for interpreter mode?

[2021-02-17 08:06] vargaz commented on #43689
Yes.

[2021-02-17 08:55] #43689 closed

[2021-02-17 09:44] eiriktsarpalis commented on #47525
Regarding the points raised about `ValueTask` supporting `SuppressExceptions`: fundamentally it is a limitation of `ValueTask`, but nothing prevents the feature from being implemented as specified. One could argue there exist use cases where a caller needs to suppress `ValueTask` exceptions without needing to know about the result of the computation. If they do, the workaround is straightforward:

[2021-02-17 09:55] james-hunt-ra opened #48394 "Possible miscompile in loop inside try/finally"
### Description

The function F, below, returns 1 when run in Release mode on .NET 5 on x64 Win 10.

It is expected to return 0 - which it does indeed return in both Debug configuration, and also under .NET Core 3.1.

[code]

### Configuration

.NET Version: .NET 5
OS: Windows 10
Arch: x64

Does not occur on .NET Core 3.1 or below.
Does not occur in Debug builds.
Not tested on other architectures

[2021-02-17 10:15] MaceWindu opened #48396 "Add property JsonNamingPolicy.ConvertName() overload with Type parameter"
## Background and Motivation

During migration from `Newtonsoft.Json` we discovered following unsupported scenario.

We had special naming policy for properties of specific types. In our case we were adding type-specific prefix to property names of some types (they are complex types with custom converters) which were used by consumer (javascript app in our case) to apply deserialization logic base

[2021-02-17 10:16] mjeanrichard commented on #48237
Just for reference, this is basically the solution for my question over here https://github.com/dotnet/runtime/issues/45843

[2021-02-17 10:33] olivier-spinelli commented on #1784
Sorry for the noob question but @StephenBonikowsky moving this issue to *.NET 6 Committed* does it mean that it is planned for .Net 6? (The milestone on the card is "Future", so I doubt it.)

(If it is, it's cool! I'd very like to see `WriteRaw` available method(s).)

[2021-02-17 10:46] marek-safar commented on #48349
I don't think this should be only documented but automatically included in the release build config

[2021-02-17 10:52] eiriktsarpalis commented on #48396
I'm not very familiar with the Json.NET feature, but wouldn't there also need to be a corresponding construct for deserialization?

[2021-02-17 11:06] MaceWindu commented on #48396
This proposal is about richer context for json property name generation logic. Don't think it has anything with de/serialization.

[2021-02-17 11:09] marek-safar opened #48399 "Microsoft.Extensions.DependencyInjection.Abstractions library embeds trimming attributes"
which breaks their trimming. They are public API and should not be [embedded](https://github.com/dotnet/runtime/blob/6f93c0b826e5824408e16bcdab749cb006e54af3/src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/src/Microsoft.Extensions.DependencyInjection.Abstractions.csproj#L12-L14) in netcore builds as we do [elsewhere](https://github.com/dotnet/runtime/blob/6f93c0b826e5824408e16b

[2021-02-17 11:10] karelz commented on #47905
Triage: Looks like regression we introduced during 6.0. Low cost, we should do it and prevent 6.0 from shipping it.
If cost goes higher, we can revisit.

[2021-02-17 11:16] krwq commented on #47989
@lambdageek I assume you mean in general for this issue: DispatchProxy and Ref.Emit in general is what needs IgnoresAccessChecksToAttribute the most. Without it you can't really use any private types.

[2021-02-17 11:25] philippdolder opened #48400 "LINQ to XML: Inconsistent namespace prefix handling"
### Description

I'm experiencing inconsistent behavior regarding XML namespace prefixing. When I create an XElement via `new XElement()` the code behaves differently from when I use `XElement.Parse()` to parse the equivalent XML structure.
See code sample below. The first assert succeeds.
The `root` element knows about the namespace prefixing. After adding both elements to it, only the one create

[2021-02-17 11:29] vitek-karas commented on #48387
@sdmaclea can you please take a look - the target RID is osx-arm64

[2021-02-17 11:49] eiriktsarpalis commented on #48396
Out of curiosity, how were you able to achieve the same result in Json.NET? At quick glance the equivalent construct seems to be the [`NamingStrategy`](https://www.newtonsoft.com/json/help/html/T_Newtonsoft_Json_Serialization_NamingStrategy.htm) class, which doesn't seem to accept a `Type` parameter either.

[2021-02-17 12:04] MaceWindu commented on #48396
1. we used class, derived from [CamelCasePropertyNamesContractResolver](https://www.newtonsoft.com/json/help/html/T_Newtonsoft_Json_Serialization_CamelCasePropertyNamesContractResolver.htm) and override `CreateProperties` method
2. also for model binding from request (asp.net mvc app) we were customizing [System.Web.Mvc.DefaultModelBinder](https://github.com/aspnet/AspNetWebStack/blob/master/src/S

[2021-02-17 12:17] ayousuf23 commented on #48119
@pgovind I got an assert failure error when trying to test a double with . at the 19 digit place. It appears the double parsed from the string is different than the double I expected (the difference is in the 17th digit).

[2021-02-17 12:47] EgorBo commented on #48394
A bit simplified repro:
[code]
Here is the asm diff https://www.diffchecker.com/yYXyTBgm
Left: SSA-phase is disabled, Right: SSA is enabled (by default)

Left one produces the expected output.
(I also disabled finally-cloning for both to make asm less verbose)

/cc @dotnet/jit-contrib

[2021-02-17 13:50] rogerge88 commented on #48249
@eerhardt Thank you for helps and we  had it to work based on your "to workaround this for now, to unblock yourself 1 & 2..." . However, after implemented the fix you provided the Devop throw below error during build:
------------Error message below-----
 021-02-16T16:18:53.3623358Z C:\Program Files\dotnet\sdk\5.0.101\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.ILLink.targets(88,5): error MSB6006

[2021-02-17 13:51] FiniteReality commented on #48347
This isn't an API proposal since it only regards project build infrastructure - it would probably be more suited to the [.NET SDK](https://github.com/dotnet/sdk) or [NuGet client](https://github.com/NuGet/NuGet.Client).

[2021-02-17 14:01] watfordgnf commented on #48400
The order of operation appears to matters here. If `original` is detached from `root` when you create `deserialized` then you receive the behavior you see.

If you change your source like so you receive the intended behavior:
[code]
Not sure if this helps in the interim.

[2021-02-17 14:09] philippdolder commented on #48400
@watfordgnf thanks for the suggestion.

Unfortunately in the real use case, I don't have access to the root element at this level. Only later will it be composed from all the different parts making up the complete XML.

[2021-02-17 14:24] ViktorHofer commented on #48399
They are exposed on net5.0 and above only right? I think libraries like DI only embed them on configurations where the API isn't available like netstandard or netcoreapp2/3.x.

[2021-02-17 14:37] marek-safar commented on #48399
That's not the case for Microsoft.Extensions.DependencyInjection.Abstractions

[2021-02-17 14:42] ViktorHofer commented on #48399
DI.Abstractions doesn't have a .NETCoreApp configuration?

[2021-02-17 14:47] marek-safar commented on #48399
no, check the source code link in the description

[2021-02-17 14:50] tmds commented on #46832
@shirhatti opened https://github.com/dotnet/aspnetcore/issues/30079 to fix it for the systemd use-case in Kestrel using DllImport.

I also think we can close this.

[2021-02-17 14:59] ViktorHofer commented on #48399
Right, but my point is that DI.Abstractions doesn't have a [.NETCoreApp configuration](https://github.com/dotnet/runtime/blob/6f93c0b826e5824408e16bcdab749cb006e54af3/src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/src/Microsoft.Extensions.DependencyInjection.Abstractions.csproj#L4) which means those APIs aren't exposed and need to be embedded.

[2021-02-17 15:01] watfordgnf commented on #48400
In both cases `original.Name == deserialized.Name` so functionally they're identical and this matches the XML spec. From ["Namespaces in XML 1.0"](https://www.w3.org/TR/xml-names/#sec-namespaces):

It appears `XElement.ToString` is the behavioral difference based on the presence or absence of a parent element containing the namespace binding to a prefix. Delving into `XElement.ToString`, you end u

[2021-02-17 15:02] JulieLeeMSFT commented on #13573
@AndyAyersMS you are right. There were 2 base and 3 diff error messages before this, and I was looking into it. Will ping you.

[2021-02-17 15:05] atakane opened #48401 "DateTimeOffset.TryParse fails on .Net 5 with Globalization while it works on all other releases"
### Description

While working on culture-based DateTime parsing, .NET 5 acts totally different than the previous ones, including Core 3.x, Rosyln 3.8, and 4.7.2. For all previous releases, the output is always the same, while 5.0.102 returns false.

[code]

The expected output is: ```2/17/2021 12:03:25 PM```
.NET 5 (on Windows, Linux (ubuntu), and macOS) returns ```01/01/0001 00:00:00```

### Con

[2021-02-17 15:36] candritzky commented on #48352
No, sorry, no "Crypto-CNG" or "Crypto-NCrypt" events, no "ApplicationError" with the application's fault info, no errors (despite the service timeout error after 30 seconds), nothing else that looks helpful.

Yes, this is possible. Tried with .NET 5.0.3 (System.Security.Cryptography.*.dll file version 5.0.321.7212). Same problem here.

[2021-02-17 15:45] eerhardt commented on #48399
@marek-safar - can you explain how this breaks their trimming? The original intention of these attributes is that the linker finds them by name, so any assembly can declare the attribute as long as it has the right namespace + name + shape.

@ViktorHofer is right that DI.Abstractions doesn't build for .NET Core. It only builds for netstandard2.0 and net461. We have quite a few assemblies like this

[2021-02-17 15:46] vcsjones commented on #48352
@candritzky okay, thanks! I will attempt to reproduce. Just to double check:

[code]

I take it that you are importing `RSAParameters` that have _only_ `Modulus` and `Exponent`, i.e. a public key? Not a private key?

[2021-02-17 15:50] eerhardt commented on #48249
It sounds like the linker is throwing an exception for some reason. Is that all the error logs you are getting? It should be printing out what exception occurred, which will point you to what is wrong.

I'm just guessing, but you might have the wrong file name in your .csproj. Make sure you are pointing to the right file in

[code]

And make sure the `ILLink.Descriptors.xml` file exists on the mac

[2021-02-17 15:54] lambdageek commented on #45961
Fixed in Emscripten 2.0.11

[2021-02-17 15:54] #45961 closed

[2021-02-17 15:56] l0hn opened #48402 "System.InvalidOperationException: 'overlapped' has already been freed and System.IO.IOException: Unable to write data to the transport connection: 'overlapped' was not allocated by this ThreadPoolBoundHandle instance. (Parameter 'overlapped')."
We have a crash report from an app in the wild that seems to be related to a double free bug  (netcoreapp3.1 / x86 standalone / Windows 10 x64)

[code]

Also possibly related:

[code]

[2021-02-17 16:10] candritzky commented on #48352
@vcsjones Yes, correct, it's public key and only Modulus and Exponent are set.

[2021-02-17 16:11] vcsjones commented on #48223
`PartialChain` makes way more sense as a flag but I can see `NotSignatureValid | UntrustedRoot` also making some sense if you treat the leaf like an anchor - it isn't self signed (`NotSignatureValid`) and it's also untrusted (`UntrustedRoot`). What doesn't make sense is the inconsistent result.

I think we can try using two intermediates, and add the first to the extra store and let the second one

[2021-02-17 16:16] kunalspathak opened #48403 "Assertion failed 'call->gtControlExpr == nullptr' in 'System.Text.Json.JsonParameterInfo`1[Nullable`1]"
Seeing below failures in libraries-jitstressregs on Linux arm64/Windows arm64/Linux x64. It got introduced in https://github.com/dotnet/runtime/pull/47808

[code]

https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-47307-head-5275d70d52b544f981/System.Text.Json.Tests/console.ebed8485.log?sv=2019-07-07&se=2021-03-09T08%3A58%3A31Z&sr=c&sp=rl&sig=fuZORDqaA2Hwbji7AAwR%2B%2

[2021-02-17 16:16] kunalspathak commented on #48403
@briansull , @dotnet/jit-contrib

[2021-02-17 16:17] candritzky commented on #48352
@vcsjones Here are example parameters, maybe it helps:

[code]

These are the public key parameters of a public/private key pair that was generated using a .NET Framework 4.5 application.

[2021-02-17 16:28] AndyAyersMS commented on #48394
Seems like it could be the new in 5.0 optimization that removes redundant zero inits (#36918, and subsequent PRs like #37786, #38314).

[2021-02-17 16:35] chlsmith opened #48405 "Alpine images for 3.1"
Why is the 3.1 runtime image still stuck on Alpine 3.12?   3.13 has been available for approximately a month.

[2021-02-17 16:38] ViktorHofer commented on #43049
Moving to future as this is nothing we plan to do for 6.0.0.

[2021-02-17 16:39] AndyAyersMS commented on #48394
The redundant zero init opt is checking `lvLiveInOutOfHndlr` but only after possibly optimizing away a store.

Wonder if the last bool in this clause was meant to be `&&`? cc @erozenfeld

https://github.com/dotnet/runtime/blob/9195df699fe25d2e752c2bc350c16dc199f02f7a/src/coreclr/jit/optimizer.cpp#L9475-L9478

[2021-02-17 16:45] vcsjones opened #48406 "S.S.C.X509Certificates.Tests.ChainTests.BuildChainCustomTrustStore failing locally"
The test `BuildChainCustomTrustStore` is failing locally for me, all theories.

[code]

[code]

[code]

Most recently seen at 9195df699fe25d2e752c2bc350c16dc199f02f7a.

--------

I suspect this is occurring because the certificate under test is part of VeriSign whose roots are in-flux in various Linux distributions.

[2021-02-17 16:48] candritzky commented on #48352
I can reproduce this in a Windows Server 2012 R2 VM (x64) running on a Windows 10 (x64) host in Hyper-V.

New observation/correction: The process doesn't crash, it just hangs on the ImportParameters call for 30 seconds until it is killed by the Windows SCM.

[2021-02-17 16:52] brianrob opened #48407 "Crash When Enabling Threading Events on Windows"
### Description

When running the latest dotnet SDK with threading events enabled, writing out the ThreadPoolWorkerThreadStart event causes a crash.

Steps:
1. Build the tip of https://github.com/dotnet/installer.  The latest official build does not consume the latest runtime yet.
2. Start a PerfView session: PerfView.exe collect /ThreadTime
3. Run `dotnet new console`

The following is output:

[

[2021-02-17 16:52] brianrob commented on #48407
cc: @sywhang

[2021-02-17 16:54] StephenBonikowsky commented on #1784
@olivier-spinelli thank you for pointing out that discrepancy.
@ericstj is this still planned for .NET 6?

[2021-02-17 16:56] PeterSolMS commented on #41928
Should be fixed by PR #48295

[2021-02-17 17:02] sdmaclea commented on #48387
Big Sur requires executables to be signed to be run.  `dotnet publish -r osx-arm64` will produce unsigned binaries.  You will need to sign the published binary before it will run (Unless you are running with Apple SIP disabled and in developer mode).

You can sign the binaries with the Apple `codesign` tool.  A simple adhoc signature would be sufficient for you to test.  `codesign -s - <path-to-si

[2021-02-17 17:04] ViktorHofer commented on #28193
Based on 2.x being out of support the priority for fixing this is low. @ericstj is this issue also observable in our LTS branhces (3.x and master)?

[2021-02-17 17:10] ViktorHofer opened #48409 "ILLink SDK is defined in multiple places which causes Arcade validation builds to fail"
With https://github.com/dotnet/arcade/commit/023bcee5e5f291c5a0fbcbb735a0b3845cc72316, the ILLinker is now referenced globally, similar to the compiler package. As the SDK doesn't allow to have multiple PackageReferences of the same Identitiy when `IsImplicitlyDefined` is set to true, the PackageReference in illink.targets should be removed.

This will unblock the Arcade validation builds: https:/

[2021-02-17 17:13] jeffschwMSFT commented on #48389
@mangod9 @agocke can y'all take a look?  This looks like a potential regression.

[2021-02-17 17:15] jeffschwMSFT commented on #48343
Seems related to https://github.com/dotnet/runtime/issues/48389

[2021-02-17 17:21] aik-jahoda commented on #43682
Works without an issue on core 3.1. I'm on Windows insider 21313. @RobSiklos what version of OS do you use?

[2021-02-17 17:26] sywhang commented on #48407
Thanks @brianrob. Seems like it's a dup of https://github.com/dotnet/runtime/issues/48368 that I've been looking at since last night. This is a regression from #47829

[2021-02-17 17:31] sdmaclea commented on #48343
This is the issue with not supporting side by side arm64 & x64 installs.

/cc @vitek-karas @richlander

[2021-02-17 17:36] brianrob commented on #48407
Definitely could be.  Sorry, I did a quick search for dupes, but didn't find this one.

[2021-02-17 17:58] candritzky commented on #48352
Issue happens only on Windows Server 2012 R2, not on Windows Server 2016.

[2021-02-17 18:13] shirhatti commented on #48237
As mentioned in the other thread, Activities created using new Activity() don't have `ActivityKind` and `ActivitySource` correctly populated.

As a consequence, a diagnostic listener subscriber will see different behavior based on whether there is another `ActivityListener` in the process. I'm not a fan of having unrelated subscribers cause side-effects.

That being said, I could be convinced if b

[2021-02-17 18:13] JulieLeeMSFT commented on #13573
jit-diff error message

[code]

This is the error message when running one of them, but I cannot relate it with my code change.

[code]

[2021-02-17 18:18] ericstj commented on #40208
Right we build against some old libraries if those packages have been removed from the branch, as is the case with `System.Trheading.Tasks.Extensions`, the same is true for `System.Memory` and some others.

Many of these happen to reference `System.Runtime.CompilerServices.Unsafe` and will reference the old version of that package.

I'm not seeing this.  https://www.nuget.org/packages/System.Threa

[2021-02-17 18:24] Joe4evr commented on #47525
Shouldn't all the methods on the Task-types then be:
[code]

[2021-02-17 18:28] pakrym commented on #43853
@noahfalk had concerns with the approach of changing `IdKind` after running sampler callbacks. We should reconsider adding the parameter.

[2021-02-17 18:36] marek-safar commented on #48399
We have them pinned for removal under SPC because they are public API. See
https://github.com/dotnet/runtime/blob/master/src/mono/System.Private.CoreLib/src/ILLink/ILLink.LinkAttributes.xml#L24

[2021-02-17 18:37] lewing commented on #48185
I wasn't able to reproduce this with a simple test either.  Will investigate more.

[2021-02-17 18:43] sywhang commented on #48407
@brianrob no worries at all! I've identified the issue and will be following up with a fix soon. Thanks for reporting this

[2021-02-17 18:47] briansull commented on #48403
I will investigate

[2021-02-17 19:03] AntonLapounov commented on #42008
What issues did we have? I just tried `build -s clr` and it worked fine for a long time until hit this issue with DacTableGen:

    BUILDMSG: System.BadImageFormatException: An attempt was made to load a program with an incorrect format. (0x8007000B)
       at Dia.Util.DiaFile.DllGetClassObject(Guid rclsid, Guid riid)
       at Dia.Util.DiaFile.GetDiaSourceClass() in C:\Runtime\src\coreclr\ToolBox

[2021-02-17 19:21] sdmaclea commented on #44897
@richlander Based on:
- the `qemu: uncaught target signal 6 (Aborted) - core dumped` above
- the docker M1 tech preview comment `However, attempts to run Intel-based containers on Apple M1 machines can crash as QEMU sometimes fails to run the container.`

I would assume docker is using qemu rather than Rosetta to make this work.

[2021-02-17 19:25] erozenfeld commented on #48394
We should never remove zero inits that are in a loop so these lines should be:

[code]

[2021-02-17 19:26] misterspeedy commented on #3792
Hit identical issue on Ubuntu 20.4.2:

Repro, brand new Ubuntu 20.4.2 VM:

    sudo snap install dotnet-sdk --classic --channel=3.1
    sudo snap alias dotnet-sdk.dotnet dotnet
    mkdir demo
    cd demo
    dotnet new console -lang F#
    dotnet run
    *** stack smashing detected ***: terminated

[2021-02-17 19:35] carlossanlop commented on #48039
This is not a bug. This was an intentional breaking change introduced in .NET Core so we could handle UNC paths correctly.

An UNC path root consists of `servername + share`, where `servername` is the first segment after the double backlash and before the first single slash, and `share` is the first folder after the first single slash. The official MS Docs article describing UNC paths confirms thi

[2021-02-17 19:35] #48039 closed

[2021-02-17 19:35] MichalPetryka commented on #48401
Probably related to .Net 5 using ICU on Windows. Could you check if parsing works when you force NLS with a runtime switch? https://docs.microsoft.com/en-us/dotnet/core/run-time-config/globalization#nls

[2021-02-17 19:38] TonyValenti opened #48415 ".RemoveAt(Index)"
## Background and Motivation
Sometimes you want to remove items based on their position from the end.

## Proposed API
```MyList.RemoveAt(^1)```

## Usage Examples
```MyList.RemoveAt(^1)```

## Alternative Designs
```MyList.RemoveAt(MyList.Count - 1)```

## Risks
None.

[2021-02-17 19:39] atakane commented on #48401
Isn't ICU related to Windows apps? It's failing on all operating systems including Windows. So, I think it should be something else. (I'll give it a try though on Windows)

[2021-02-17 19:41] sywhang commented on #48368
Thanks for reporting this - https://github.com/dotnet/runtime/issues/48368 should fix this.

[2021-02-17 19:41] grendello opened #48416 "[net6] monovm_initialize should allow an alternative to properties for initialization"
## Background and Motivation

`monovm_initialize` takes a list of properties (specified as two arrays of keys and values) and parses them in order to set certain parameters for VM initialization.
This parsing not only adds an initialization overhead but also makes the initialization awkward and insecure in certain cases. For instance, the `PINVOKE_OVERRIDE`
property is assumed to be an integer, wh

[2021-02-17 19:46] spouliot commented on #47599
Yes :-)

If you use a protocol (interface in C#) provided by the OS then you'll have the warnings. If you implement the interface then it's up to you (the implementer) to add the attributes if/when required.

Thanks @buyaa-n !

[2021-02-17 19:57] ViktorHofer commented on #30056
Happened again on https://dev.azure.com/dnceng/public/_build/results?buildId=998815&view=ms.vss-test-web.build-test-results-tab&runId=31247430&resultId=175805&paneView=attachments with dump and all again.

core.15975:
  https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-48318-merge-06a5edf750084416b3/System.IO.FileSystem.Watcher.Tests/core.15975?sv=2019-07-07&se=2021-0

[2021-02-17 19:57] ViktorHofer commented on #47806
Closing as dup of https://github.com/dotnet/runtime/issues/30056

[2021-02-17 19:57] #47806 closed

[2021-02-17 20:07] haraldsteinlechner commented on #48062
yes, will prepare it..

[2021-02-17 20:09] MichalPetryka commented on #48401
ICU was always used for other platforms, .NET 5 moved from NLS to ICU to provide the same behavior everywhere.

[2021-02-17 20:10] ericstj commented on #1784
This is part of the https://github.com/dotnet/runtime/issues/43620 epic -> https://github.com/dotnet/runtime/issues/45190 user story.  We expect to get to this in 6.0.  I've adjusted the milestone.

[2021-02-17 20:11] pgovind opened #48418 "Add trailing zero check to `NumberBuffer.CheckConsistency`"
For floating point numbers, we don't keep track of trailing zeros that occur after a decimal point. This check needs to be added to the `NumberBuffer.CheckConsistency` method. My first attempt to do this was

[code]

However while this works for `double.Parse`, it doesn't work for `double.Format` because of how the number buffer is populated. Example error below:
[code]

The likely fix here is to

[2021-02-17 20:13] RobSiklos commented on #43682
@aik-jahoda Unfortunately, I can no longer reproduce the problem. However, I did upgrade my OS to "Windows 10, version 20H2" since I tested previously. So either it's fixed on the client OS side, or the maintainer of the web site did something which prevents the issue from happening in the first place.

[2021-02-17 20:14] eerhardt commented on #48399
We will need to fix the ILLink.LinkAttributes.xml file to tell the linker to remove these attributes from any assembly.

https://github.com/dotnet/runtime/blob/ada53f0c05efd882e29e8f225a483521f08e3caa/src/mono/System.Private.CoreLib/src/ILLink/ILLink.LinkAttributes.xml#L18

Just like we do for:

https://github.com/dotnet/runtime/blob/ada53f0c05efd882e29e8f225a483521f08e3caa/src/mono/System.Private

[2021-02-17 20:19] wfurt commented on #43682
I think this is Windows bug so getting fix through Windows update make sense to me. As this is really not actionable at .NET, I'm include do close this issue @RobSiklos.

[2021-02-17 20:44] VSadov commented on #48378
Actual status (before getting into assertion stuff):
[code]

[2021-02-17 20:46] #36391 closed

[2021-02-17 20:59] ericstj commented on #48238
Being at the bottom of the stack I think it's pretty important to have the distinction between PackageReference and Reference|ProjectReference.  This is an indication of whether the project expects and live-built library or a previously shipped one.  I think it's important to record and track changes like that at the consumption site.

I'm less interested in the difference between Reference and Pr

[2021-02-17 21:07] FiniteReality opened #48419 "PEReader does not throw BadImageFormatException for some invalid PE files"
### Description

Creating a `PEReader` for an invalid file type, such as an ELF can sometimes lead to a situation where the `PEReader` thinks the file is valid and it will return garbage data, causing errors to occur downstream.

[Attached](https://github.com/dotnet/runtime/files/5998542/invalid.zip) is a zipfile containing an ELF which reproduces the issue, trimmed using `dd` to reduce its filesi

[2021-02-17 21:08] mangod9 commented on #48378
Might need a backport to 5 if this is related to the recent AVX change.

[2021-02-17 21:24] VSadov commented on #48378
It seems to be ignorable situation when in some relatively rare cases under stress a context cannot be set on a thread that does a lot of stackallocs. If assert is ignored, we continue and on the next try can suspend the thread.
Redirection detects a few cases when it just returns `false` meaning that the caller should let the thread to run a bit and try again. It happens in this case as well + as

[2021-02-17 21:27] RobSiklos commented on #43682
@wfurt Agreed. Thanks for your help.

[2021-02-17 21:27] #43682 closed

[2021-02-17 21:31] rogerge88 commented on #48249
@eerhardt The issues has been fixed and we can get the correct result coming from the server.

Thank you!

[2021-02-17 21:48] sdmaclea commented on #48388
@richaverma1 Why do we think this is expected?

[2021-02-17 21:51] ivan2007 opened #48423 "'System.PlatformNotSupportedException' and 'System.Configuration.ConfigurationErrorsException' in System.Configuration.ConfigurationManager.dll"
### Description
Win32 app that calls a c++/cli NET Core 3.1 lib. The c++/cli lib calls a WPF NET Core 3.1 lib
Running the app the output window of VS shows:
'System.PlatformNotSupportedException' in System.Configuration.ConfigurationManager.dll
'System.Configuration.ConfigurationErrorsException' in System.Configuration.ConfigurationManager.dll
You can find more details [here ](https://github.com/w

[2021-02-17 22:01] sdmaclea commented on #44897
It appears to be unsigned.

[code]

[2021-02-17 22:09] ericstj commented on #48423
Duplicate of https://github.com/dotnet/runtime/issues/25027, already fixed in 5.0.

These are first chance exceptions.  Can you clarify how your application is impacted by this issue?

[2021-02-17 22:19] atakane commented on #48401
@MichalPetryka I see the point here. If I force NLS, it works on Windows environments. Upgrading to .NET 5 changes behaviors on Windows systems.

However, in my case, the behavior (parsing DateTime) has been changed for the other platforms as well. According to the documentation (and to you also), ICU has always been used for Linux, macOS, and Dockerized versions, therefore upgrading a codebase fr

[2021-02-17 22:34] SimonCropp commented on #47113
@danmoseley can you comment on this issue https://github.com/JamesNK/Newtonsoft.Json/issues/1972 ? ie should the fix be included in jsondotnet or in the runtime?

[2021-02-17 22:41] t-mustafin commented on #48368
Thanks for fast fix, it works for me.

[2021-02-17 23:07] richaverma1 commented on #48388
@sdmaclea mybad, I misread it as x64 installer. For arm64 we don't need Rosetta.

[2021-02-17 23:16] ivan2007 commented on #48423
Ok, I only followed the suggestion of @SamBent. I am not trying to use an app.exe.config file so for this issue I am fine

[2021-02-17 23:43] NetMage commented on #40102
Yes, that is the code to change. This article is old, but the section on Extensibility Model at the end covers extending UserPrincipal and still holds: [Managing Directory Security Principals in the .NET Framework 3.5](https://docs.microsoft.com/en-us/archive/msdn-magazine/2008/january/managing-directory-security-principals-in-the-net-framework-3-5)

This [Stack Overflow question](https://stackove

[2021-02-17 23:47] ericstj commented on #48307
Those are projections of the netstandard dependencies, trimming inbox packages.

.NETStandard 2.0
Microsoft.Bcl.AsyncInterfaces (>= 5.0.0)
Microsoft.Extensions.DependencyInjection.Abstractions (>= 5.0.0)
System.Threading.Tasks.Extensions (>= 4.5.4)

.NETStandard 2.1
Microsoft.Extensions.DependencyInjection.Abstractions (>= 5.0.0)

So .NETCoreApp2.1 supports .netstandard2.0 and it has Threading.Tas

[2021-02-18 00:12] richlander commented on #44897
Thanks on that. Sent mail to folks to get a resolution on this.

[2021-02-18 00:12] agocke commented on #48389
@sbomer can you take a look?

[2021-02-18 00:20] jeffschwMSFT commented on #48389
cc @janvorli @sdmaclea

[2021-02-18 00:24] janvorli commented on #48389
Let me try it on my local arm64 linux device

[2021-02-18 00:36] #46827 closed

[2021-02-18 01:00] sbomer commented on #48389
I was able to repro this in debian running on UserLAnd on my phone - but I don't have another ARM64 device on hand to check if it repros on a plain install without a compatibility layer. It's difficult to debug in UserLAnd since gdb/strace don't work.

[2021-02-18 01:15] janvorli commented on #48389
In a debian 9 docker container running on my Odroid N2 arm64 device (host is Ubuntu 18.04), I've tried what was shown in the screenshots above and it worked:
[code]

So I believe the issue is UserLAnd specific.

[2021-02-18 01:20] leecow commented on #44897
Hm, I downloaded and installed a fresh 5.0.103 from dot.net and everything checks out. Example ...

[code]

[2021-02-18 01:30] danmoseley commented on #48405
@MichaelSimons  should this be in your repo, could you transfer?

[2021-02-18 01:36] #48423 closed

[2021-02-18 01:36] danmoseley commented on #48421
@ViktorHofer

[2021-02-18 01:37] ericstj commented on #48423
Thanks for the clarification

[2021-02-18 01:37] YurongHe opened #48434 "HttpClient.DefaultProxy .net core 3.1 doesn't on Linux ubuntu 16.4 kubernetes container"
### Description

Have http_proxy, https_proxy env configured in Linux ubuntu 16.4 Kubernetes container.
Using HttpClient.DefaultProxy, the calls doesn't go through proxy server.

code:
HttpClient httpClient = new HttpClient();
HttpResponseMessage result = httpClient.GetAsync(new Uri("https://google.com")).GetAwaiter().GetResult();

But if I use httpClientHandler to set WebProxy with the same env v

[2021-02-18 01:39] mateoatr commented on #46128
Closing -- the API was already merged.

[2021-02-18 01:39] #46128 closed

[2021-02-18 01:47] VSadov commented on #48378
It is not related to the AVX change. Not a regression either. We should have seen this unless it is a new test or OS was more permissive in the past.
It is a benign assert, but could be a nuisance for stress testing. Not sure if that meets the servicing bar.

PR with a fix - https://github.com/dotnet/runtime/pull/48433

[2021-02-18 02:04] buyaa-n commented on #47228
If we apply for those `[Obsolete]` attribute what we would do in case the API get supported on any of the OS? For example i see an [issue](https://github.com/dotnet/runtime/issues/18768) for  adding support for the [CSharpCodeGenerator.CreateFromBatch()](https://github.com/dotnet/runtime/blob/8a52f1e948b6f22f418817ec1068f07b8dae2aa5/src/libraries/System.CodeDom/src/Microsoft/CSharp/CSharpCodeGener

[2021-02-18 02:28] VincentBu commented on #47096
Failed again in run [runtime-coreclr jitstress 20210216.2](https://dev.azure.com/dnceng/public/_build/results?buildId=997975&view=ms.vss-test-web.build-test-results-tab&runId=31232472&resultId=109662&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-18 02:32] VincentBu commented on #47097
Failed again in run [runtime-coreclr jitstress2-jitstressregs 20210213.1](https://dev.azure.com/dnceng/public/_build/results?buildId=993930&view=ms.vss-test-web.build-test-results-tab&runId=31138846&resultId=109657&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-18 02:36] VincentBu commented on #46279
Failed again in run [runtime-coreclr jitstress-isas-x86 20210213.1](https://dev.azure.com/dnceng/public/_build/results?buildId=994000&view=ms.vss-test-web.build-test-results-tab&runId=31140840&resultId=109780&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-18 02:41] VincentBu commented on #47394
Failed again in run [runtime-coreclr gcstress0x3-gcstress0xc 20210214.1](https://dev.azure.com/dnceng/public/_build/results?buildId=994348&view=ms.vss-test-web.build-test-results-tab&runId=31147718&resultId=110044&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-18 02:42] am11 commented on #46128
Note, the API was later changed to:

[code]

[2021-02-18 02:44] VincentBu commented on #46023
Failed again in run [runtime-coreclr gcstress0x3-gcstress0xc 20210214.1](https://dev.azure.com/dnceng/public/_build/results?buildId=994348&view=ms.vss-test-web.build-test-results-tab&runId=31147552&resultId=108655&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-18 02:50] wfurt commented on #48434
what do you set exactly @YurongHe ?

[2021-02-18 02:55] VincentBu commented on #47699
Failed again in run [runtime-coreclr gcstress-extra 20210214.1](https://dev.azure.com/dnceng/public/_build/results?buildId=994529&view=ms.vss-test-web.build-test-results-tab&runId=31153290&resultId=105971&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-18 02:57] llorch19 commented on #26460
Same issue! Linux's PrivateFontCollection doesn't behave as Microsoft Windows'.

[2021-02-18 02:59] VincentBu commented on #47697
Failed again in run [runtime-coreclr gcstress-extra 20210214.1](https://dev.azure.com/dnceng/public/_build/results?buildId=994529&view=ms.vss-test-web.build-test-results-tab&runId=31152616&resultId=109352&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-18 03:05] agocke commented on #48389
Ah, I somehow missed the `userland`-specific thing.

[2021-02-18 03:09] sdmaclea commented on #44897
Hmm I downloaded using the link @richlander provided.  https://download.visualstudio.microsoft.com/download/pr/3de2d949-fcb5-4586-a217-2c33854d295f/943f0d92252338e11fd11b002a3a3861/dotnet-sdk-5.0.103-osx-x64.tar.gz

[2021-02-18 03:13] danmoseley commented on #47113
Perhaps @steveharter  can help there.

[2021-02-18 03:15] jarodrig commented on #47016
Just wanted to say:  CRT memcpy was updated to use AVX registers -- this change shipped in VS 2019 P3.

[2021-02-18 03:24] #47087 closed

[2021-02-18 03:37] Anipik opened #48439 "AssemblyLoadContext30Extensions tests failing on Mono llvmaot Pri0 Runtime Tests Run Linux x64 release"
Build https://dev.azure.com/dnceng/public/_build/results?buildId=998551&view=logs&j=e8cc9eb8-98f1-55f3-b6df-6c384ccb39b6

log https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_apis/build/builds/998551/logs/2065

[code]

[2021-02-18 03:48] Anipik opened #48440 "GetResponseFileCmdArgs_ValidCmdArgs_ReturnsExpected failed"
[code]

log https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-2852a6a51a0a40fb88/System.CodeDom.Tests/console.f9860a0d.log?sv=2019-07-07&se=2021-03-08T05%3A14%3A51Z&sr=c&sp=rl&sig=waBBRvqaFtPdV%2FA9R7KLwVBAtfja2Ki%2Bl1vdwAZBKfs%3D

build https://dev.azure.com/dnceng/public/_build/results?buildId=995771&view=logs&j=be745447-21d7-5722-3f01-3e5709978455&t=80dd1e1

[2021-02-18 03:51] Anipik opened #48441 "Finalizer_CollectibleWithNoAssemblyLoaded timing out"
log https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-ff21d1c614844278a9/System.Runtime.Loader.Tests/console.d0941490.log?sv=2019-07-07&se=2021-03-04T19%3A44%3A01Z&sr=c&sp=rl&sig=U4IY9ADPyw7wp%2BcB1k77xpgdyBEnMYaH%2FyZWy5ruKmA%3D

build https://dev.azure.com/dnceng/public/_build/results?buildId=992449&view=logs&j=3f13e9dd-5fbe-5edd-198d-04c8537bca02&t=2dfef947

[2021-02-18 03:57] #48439 closed

[2021-02-18 03:57] Anipik commented on #11063
There has been an uptick in these failures.
https://dev.azure.com/dnceng/public/_build/results?buildId=997790&view=logs&j=e8cc9eb8-98f1-55f3-b6df-6c384ccb39b6&t=7ec1aa02-369c-51d1-7a60-8e709c4509a9
https://dev.azure.com/dnceng/public/_build/results?buildId=996779&view=logs&j=f5bbf73d-4d5d-5c21-6748-018818b1d8ec&t=49b7db0f-7ab2-56d3-55e4-df171e8b3dbb
https://dev.azure.com/dnceng/public/_build/resul

[2021-02-18 04:01] Jozkee commented on #39244
I am consistently hitting the errors reported here on https://github.com/dotnet/runtime/pull/46101

run: https://dev.azure.com/dnceng/public/_build/results?buildId=990999&view=logs&j=f0c437f4-e81d-5464-8b65-dcbe7e70316d&t=42aef4d2-6bf8-50cc-612b-d0d7fef2403f

helix log: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-46101-merge-6304fdb9d579499197/Common.Tests/conso

[2021-02-18 04:02] Jozkee commented on #48169
I'm hitting this issue consistently on https://github.com/dotnet/runtime/pull/46101

build: https://dev.azure.com/dnceng/public/_build/results?buildId=990999&view=logs&j=8568df52-d94f-59a3-cf78-357510bb4d77&t=46f3998b-4412-560c-c2a3-70b5b38b861a

@safern any idea why is that?

[2021-02-18 04:03] buyaa-n commented on #48440
@Anipik you can disable the [test ](https://github.com/dotnet/runtime/blob/77c939c9c9acfc49fcb7dc695ff33d03ca06f99e/src/libraries/System.CodeDom/tests/System/CodeDom/Compiler/CodeCompilerTests.cs#L461) for .Net framework if you want to unblocked see details from https://github.com/dotnet/runtime/issues/34112

[2021-02-18 04:04] #40099 closed

[2021-02-18 04:10] safern commented on #48169
@Jozkee it seems like you were doing retry. Retry will use the same YAML. The fix for this issue was remove the two build that were failing from the YAML. You would have had to rebase on top of master and push, or open and close your PR to get the build to pass.

[2021-02-18 04:11] Anipik opened #48443 "Failure to restore 2.1.808 SDK dependency"
we have a 2.1.808 SDK dependency because of a partner plugin. There has been couple of failures while restoring the sdk.

We should either try to get rid of this dependency. In the mean time we should try to mitigate the failure by manual retry in .yml or some other method.

cc @dotnet/runtime-infrastructure

[2021-02-18 04:19] YurongHe commented on #48434
export http_proxy=52.152.145.65:3128
export https_proxy=52.152.145.65:3128
exprot no_proxy=localhost, 127.0.0.1

[2021-02-18 05:20] lewing commented on #48016
so what is the correct place for architecture-specific files needed to create the publishable runtime?

[2021-02-18 05:24] wfurt commented on #48434
use
[code]
or simple `export all_proxy=http://52.152.145.65:3128`

[2021-02-18 05:39] VincentBu commented on #47101
Failed again in run [runtime-coreclr r2r-extra 20210214.1](https://dev.azure.com/dnceng/public/_build/results?buildId=994631&view=ms.vss-test-web.build-test-results-tab&runId=31155302&resultId=108123&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-18 05:45] VincentBu commented on #46075
Failed again in run [runtime-libraries-coreclr outerloop 20210217.1](https://dev.azure.com/dnceng/public/_build/results?buildId=998306&view=ms.vss-test-web.build-test-results-tab&runId=31237660&resultId=103175&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-18 05:50] VincentBu commented on #43207
Failed again in run [runtime-libraries-coreclr outerloop 20210217.1](https://dev.azure.com/dnceng/public/_build/results?buildId=998306&view=ms.vss-test-web.build-test-results-tab&runId=31237668&resultId=103983&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-18 05:57] VincentBu commented on #30724
Failed again in run [runtime-coreclr libraries-jitstress 20210215.1](https://dev.azure.com/dnceng/public/_build/results?buildId=995844&view=ms.vss-test-web.build-test-results-tab&runId=31183514&resultId=140094&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-18 06:05] VincentBu commented on #48091
Failed in [runtime-coreclr libraries-jitstress2-jitstressregs 20210213.1](https://dev.azure.com/dnceng/public/_build/results?buildId=993735&view=ms.vss-test-web.build-test-results-tab&runId=31132534&resultId=140406&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-18 07:19] #36092 closed

[2021-02-18 07:59] JamesNK commented on #45246
I've been thinking about what the minimum viable product could be to support gRPC load balancing.

I think the requirements could be simplified down to one method to ensure there is a connection, and combine it with using `SocketsHttpHandler.ConnectCallback` to track connection status.

[code]

`EnsureConnectionAsync` will either establish a connection to the target URI if one doesn't exist, or re

[2021-02-18 08:08] rolfbjarne commented on #47121
@lambdageek I'm running into this now on iOS:

[code]

is there a way to disable hybrid suspend on my side, or do I have to wait until it's fixed in mono?

[2021-02-18 09:42] marek-safar commented on #48016
Some of these are temporary build files, we probably need some msbuild magic to store them in temporary obj/ folder

[2021-02-18 09:51] am11 commented on #48016
We probably just need a property next to: https://github.com/dotnet/runtime/blob/caa00d4b76c87d648a94852bb6aac93e33fb9d04/src/mono/wasm/wasm.proj#L13 say `MicrosoftNetCoreAppRuntimePackSourceDir: $([MSBuild]::NormalizeDirectory('$(MicrosoftNetCoreAppRuntimePackRidDir)', 'source')` and then adjust this item group: https://github.com/dotnet/runtime/blob/caa00d4b76c87d648a94852bb6aac93e33fb9d04/src/m

[2021-02-18 10:25] philippdolder commented on #48400
I was hoping that I could work around this by using `XElement.Load` with custom `XmlReaderSettings` but from what I understand it's how XElement and friends are implemented

[2021-02-18 10:48] Symbai commented on #1541
Bummer, I was about to create an API proposal for this as well. Files are getting bigger and bigger and calling the existing APIs freezes the GUI until its done.

We have `File.WriteAllBytesAsync` and `File.ReadAllBytesAsync`, it shouldn't be too hard to modify the source to add an async version of extract and create a ZIP file. Cannot speak about open / getentry because I wouldn't need this.

Wha

[2021-02-18 11:38] ygc369 commented on #4155
@tannergooding
From this blog [Announcing .NET 6 Preview 1](https://devblogs.microsoft.com/dotnet/announcing-net-6-preview-1/), I see that there will be a new overload of DivRem for .Net 6, which returns a tuple. Will this new overload be able to do division only once?

[2021-02-18 12:02] eiriktsarpalis commented on #48415
Duplicate of https://github.com/dotnet/runtime/issues/321. Feel free to continue the conversation in the other issue.

[2021-02-18 12:02] #48415 closed

[2021-02-18 12:09] TonyValenti commented on #321
I'd really like this feature too.

[2021-02-18 12:16] eiriktsarpalis commented on #42008
Last time I checked the issue was primarily due to x64 build tool dependencies. Upcoming x64 emulation support on Windows ARM should fix the problem eventually. According to [this post](https://blogs.windows.com/windows-insider/2020/12/10/introducing-x64-emulation-in-preview-for-windows-10-on-arm-pcs-to-the-windows-insider-program/) it should already be available in the Dev channel of insiders pre

[2021-02-18 12:26] hoyosjs commented on #42008
It was mostly that. Things like the DAC table generation would require to use x86 as there isn't such a DIA based solution on arm64 in-box in VS. If you run that as an x86 process there would be no issue, but then all is running under emulation. The native build would always need the emulation though afaik, given that there's no ARM64 VS. That's also the case for WiX (I believe all their binaries

[2021-02-18 13:20] roji opened #48455 "Make IMemoryCache fully generic to avoid boxing"
I was surprised to see that IMemoryCache is a non-generic API, meaning that both keys and values box if they're value types, leading to unnecessary allocations. This showed up when profiling EF Core, where we took care to have a value type key.

/cc @ajcvickers

[2021-02-18 13:30] jods4 opened #48456 "Nullable annotations: XmlNode.AppendChild"
After migration to .NET 5.0 we got tons of nullable warnings (that we treat as errors) because `XmlNode.AppendChild` was annotated as returning a possibly null `XmlNode?`.

I looked at the source code and I think this is technically correct but would happen _only if you pass an empty xml fragment_ as a parameter.

Because of this edge case, tons of common valid code like this one creates warning:

[2021-02-18 13:49] vitek-karas commented on #48112
https://github.com/dotnet/runtime/pull/48336 adds a better error message which will contain the conflicting file paths. It will take a couple of day to flow to dotnet/installer, but once there it should be possible to take a nightly build of .NET 6 SDK and build the app with it to get the info from it.

[2021-02-18 14:02] mletterle commented on #48443
Is the dependency being restored via the [dotnet-coreclr feed](https://dotnetfeed.blob.core.windows.net/dotnet-coreclr/index.json ) ? I've begun to see intermittent failures restoring from that feed that hasn't been an issue in the past.

[2021-02-18 14:05] antonfirsov commented on #47734
Yeah this is a new test introduced in #47479 which intends to test slicing for the new span overload from #47230.

The problem is not with the slicing itself but rather the fact that `preBuffer` and `postBuffer` are sent separately on Unix, and on Mac it seems to result in independent receives:
https://github.com/dotnet/runtime/blob/0ff4f4ade4971e4f9e2db9fe393def70f40af64f/src/libraries/System.Net

[2021-02-18 14:15] LirazShay opened #48473 "ILogger<T> was implemented in such a way that it isn't being cached (for the same type) unlike non generic version"
When using `ILogger<T>` in class dependency, and creating multiple instances of the same type, a new  `ILogger<T>` instance is created for each instance instead of logger being cached and reused like in non generic ILogger

### To Reproduce
This unit test can explain the issue:
[code]

### Expected behavior
When calling loggerFactory.CreateLogger<T>() multiple times with the same type - it should

[2021-02-18 14:30] lambdageek opened #48458 "[mono] Add debugger-agent command to apply hot reload update"
Currently we have an `ApplyUpdateSdb` private method on System.Reflection.Metadata.AssemblyExtensions that can be invoked with `byte[]` blobs, but it has to be kept alive by the IL linker descriptor which means it won't get trimmed even if hot reload isn't used.

Instead we should just extend the soft debugger protocol to include an apply update command.

Part of #44806

[2021-02-18 14:30] lambdageek commented on #48458
Related to https://github.com/dotnet/runtime/pull/48380#discussion_r577397860

[2021-02-18 14:38] #48248 closed

[2021-02-18 14:38] #48306 closed

[2021-02-18 14:38] #48307 closed

[2021-02-18 14:42] ViktorHofer commented on #48443
No, that feed isn't used anymore in dotnet/runtime.

[2021-02-18 14:45] ViktorHofer commented on #48443
@Anipik it's the ESRP task that requires the 2.x SDK to be installed. @MattGal can you help us get in touch with the ESRP team so that we don't need to install that SDK anymore?

From my offline conversation with one of the ESRP PMs from which I haven't heard back unfortunately:

[2021-02-18 14:48] JeremyEspresso commented on #48317
If this is worthwhile, I'll personally like to take it up as my first contribution.

Thanks in advance,
Jeremy

[2021-02-18 14:50] yanivamrami commented on #43936
Same thing here.
MacBook Pro, macOS Big Sur v11.2.1.
VS Code v1.53.1
.NET Core 5.0
 <PackageReference Include="Microsoft.EntityFrameworkCore" Version="5.0.3" />
<PackageReference Include="Microsoft.EntityFrameworkCore.Proxies" Version="5.0.3" />
<PackageReference Include="Microsoft.EntityFrameworkCore.SqlServer" Version="5.0.3" />
<PackageReference Include="Microsoft.EntityFrameworkCore.Tools" Ver

[2021-02-18 14:57] ViktorHofer commented on #11063
We would need to patch xunit.execution's library to mitigate the issue until xunit v3 is released. Maybe there is another hacky way that avoids reshipping that assembly ie via reflection?

[2021-02-18 14:58] ViktorHofer commented on #11063
@dougbu @jaredpar have you seen such issue in aspnetcore / roslyn?

[2021-02-18 15:05] lambdageek commented on #47989
Sorry, I phrased my question poorly.  I know we don't have `IgnoresAccessChecksTo` - so we will definitely need to add support for it. I meant is there a use of `InternalsVisibleTo` that you suspect doesn't work? Mono has had `InternalsVisibleTo` for a really long time, but maybe there's some corner case that doesn't work.

[2021-02-18 15:11] ViktorHofer commented on #48307
I didn't know about this packaging feature. Are we concerned that we won't have a similar mechanism with NuGet's pack task? I guess not as there's still conflict resolution which will remove the unnecessary reference during the build.

[2021-02-18 15:21] ToxicLand commented on #42885
Is this also fixed in 5.0.3? Using 5.0.2, I am also experiencing a crash with the same error, few times a week.

[2021-02-18 15:28] ViktorHofer commented on #48238
Thanks @dougbu for the detailed response and for the links to the implementation.

PackageReferences are mainly used for `.NETStandard` and `.NETFramework` configurations in runtime's libraries to add functionality which is often already available in `.NETCoreApp` inbox. We are less interested in such configurations going forward which means continue using `PackageReference` items makes sense.

I

[2021-02-18 15:44] tannergooding commented on #4155
The new API surface is setup in a way that would enable that optimization on x86/x64. I don't believe there is any instruction to compute quotient and remainder simultaneously on ARM32/ARM64.

Whether or not it gets enabled likely depends on prioritization and availability from the dev's familiar enough with that area of the codebase.

[2021-02-18 15:47] mayorovp commented on #48400
@philippdolder you can workaround this by cleaning all namespace declarations after deserialization:

[code]

or by adding all required prefixes before serialization:

[code]

[2021-02-18 16:01] rbhanda commented on #44897
https://github.com/dotnet/core/blob/master/release-notes/5.0/releases.json is the one which drives the downloads. These are generated during the release process and the bits are tested and picked from the release file drops.

[2021-02-18 16:04] BickelLukas commented on #3740
@AaronRobinsonMSFT Is there any way to circumvent the missing typelib generation in .Net 5 right now? We are trying to migrate a huge legacy VB application to dotnet and will have the need for COM Server interop for at least a few years. As the API surface on the Dotnet side grows, strong typing is going to be absolutely crucial.

Right now we are solving it with late binding but the lack of intel

[2021-02-18 16:06] Lesthad commented on #36062
I am running into the same issue for a console app running in docker. Any news on this?

[2021-02-18 16:16] MattGal commented on #39244
The errors you pasted are expected and come from [these lines](https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Helix/Sdk/tools/azure-pipelines/reporter/run.bat#L30-L32).  That's the output of the system letting it know they're not already installed so it can "pip install them".

From the log you posted, there's nothing wrong with Azure Devops reporting in this log, rather the tes

[2021-02-18 16:27] MattGal commented on #39244
@Jozkee another thing to note, the log you posted wasn't even from an ARM machine:

`Console log: 'Common.Tests' from job 6304fdb9-d579-4991-97d9-3ec74269c0d4 (windows.10.amd64.serverrs5.open.rt) using docker image mcr.microsoft.com/dotnet-buildtools/prereqs:nanoserver-1809-helix-amd64-08e8e40-20200107182504 on a0023ZE`

Given your run was 100% failure with this call stack on every work item and e

[2021-02-18 16:29] ww898 opened #48461 ".NET 6.0-preview1 frequently hangs on shutting the engine down during ETW provider enabling"
Hi, I tried new .NET6 in our CI, some test scenarios 100% hangs on slow computers. So, I created the dump and ready to share it with the .NET team for final investigation. My investigation shows that there is the deadlock between enabling the ETW provider and shutting the CoreCLR engine down.

Windows 10 Pro x64 Version 1809 (Build 17763.557)
.NET 6.0.100-preview.1.21103.13

The application:
[code

[2021-02-18 16:33] AndyAyersMS commented on #48394
Thanks Eugene... let me see what this does.

[2021-02-18 16:39] wfurt commented on #47734
yah. while singe receive may be common, we should not depend on it. I think we have examples in other tests.

[2021-02-18 16:50] jkotas commented on #48461
Duplicate of #48342 ?

cc @sywhang

[2021-02-18 16:52] VSadov commented on #48378
Fixed in https://github.com/dotnet/runtime/pull/48433

[2021-02-18 16:52] #48378 closed

[2021-02-18 16:53] ManickaP commented on #48386
Triage: we would look at API proposal for .NET 6.0. If you wish to push this you can check rules for APIs proposals here https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md

[2021-02-18 16:56] eerhardt commented on #48016
I believe we will need to "make one up", like @am11 is suggesting above. I don't believe there is already a "canonical" place for these kinds of assets.

Looking deeper into how this works, another possibility would be to remove these files from the `RuntimeList.xml` file. The `ResolveRuntimePackAssets` looks there for which files to copy out of the runtimepack:

https://github.com/dotnet/sdk/blob

[2021-02-18 16:56] ManickaP commented on #47425
Triage: discovered during our tests, not reported by a customer, pushing to future.

[2021-02-18 16:58] ManickaP commented on #47469
Triage: discovered during our tests, not reported by a customer, pushing to future.

[2021-02-18 17:01] ManickaP commented on #47472
Triage: to keep is consistent we should throw on Linux, we should fix this for 6.0 until someone depends on not throwing.

[2021-02-18 17:03] jhdscript opened #48771 "[NET5] PerformanceCounter and invalid culture identifier exception"
Hello,

I try to use PerformanceCounter in a FW 5 project. So i install this dependancy: https://www.nuget.org/packages/System.Diagnostics.PerformanceCounter/5.0.1

But when i try to use it with  new PerformanceCounter(category,counter,instance) i have issues with culture and culture identifier

I m under Windows 10 :-)

If someone can help me I appreciate that.

Regards

[2021-02-18 17:03] jeromelaban commented on #47334
Testing this issue is not possible with preventing to run with profiles: https://github.com/dotnet/runtime/issues/47887

[2021-02-18 17:06] leecow commented on #44897
I believe we only sign and notarize pkgs. @mmitche, can you confirm that?

[2021-02-18 17:06] ManickaP commented on #47714
Triage: it makes more sense to throw in advance for protocols that require binding, we should fix for 6.0.

[2021-02-18 17:06] lambdageek commented on #47121
Thanks for the stack trace, @rolfbjarne.  PR is up.  meanwhile setenv `MONO_THREADS_SUSPEND` to `preemptive`

[2021-02-18 17:06] krwq commented on #48456
Thanks @jods4! I agree this is a pain point. I do not promise we will fix it in this release but I hope we will at least figure out some generic solution for APIs like this so we know what the next steps should be (I want to make sure we clarify the guidelines about this).

For now I'd recommend you to create an extension method which returns non-nullable.

[2021-02-18 17:07] ViktorHofer commented on #31505
@Anipik what's left to do here? I believe anything necessary to service 5.0 for next ~11 months should already be in place?

[2021-02-18 17:07] janvorli commented on #42885
@ToxicLand what are the symptoms in your case? Are you sure it is the same problem?

[2021-02-18 17:07] ManickaP commented on #47772
Triage: we should fix for 6.0.

[2021-02-18 17:08] ViktorHofer commented on #47268
@Anipik should this issue be closed now?

[2021-02-18 17:09] JensNordenbro commented on #2021
Still not part of https://hub.docker.com/_/microsoft-dotnet-runtime/

[2021-02-18 17:10] mmitche commented on #44897
I believe that is correct. I don't think you can notarize a non-pkg.

[2021-02-18 17:10] krwq commented on #47989
@lambdageek, no, nothing specific. I solely based this on a guess - I've been involved in a similar issue in coreclr and they were implemented using similar code paths

[2021-02-18 17:11] sywhang commented on #48461
From the call stack, it does look like a duplicate of #48342.

[2021-02-18 17:13] mthalman commented on #2021
@JensNordenbro - This is blocked by https://github.com/dotnet/runtime/issues/47423.

[2021-02-18 17:13] ViktorHofer commented on #48421
Probably regressed with some of the packaging property consolidation changes. Just assigned myself and will fix before we branch off for P2.

[2021-02-18 17:13] ManickaP commented on #48402
Triage: this might be a serious issue, we should investigate for 6.0.
@l0hn could you give us a more information about your app and environment? What is your app doing/calling? Is it calling Dispose or cancelling the request at the same time? Could you reproduce the problem in a simple app?

[2021-02-18 17:19] ManickaP commented on #48337
Triage: this might not be an issue with .NET 5.0 but a server problem.
@jchannon does the issue happen outside of docker as well?

[2021-02-18 17:21] ManickaP commented on #47267
Triage: seems like workaround worked. There's nothing actionable at the moment, closing.

[2021-02-18 17:21] #47267 closed

[2021-02-18 17:21] t-mustafin opened #48466 "crossgen2 fails after generating ILCompiler.ReadyToRun.ni.dll on armel with --inputbubble"
### Description

On armel crossgen2 produces a wrong ni files for `ILCompiler.ReadyToRun.dll` and `ILCompiler.TypeSystem.ReadyToRun.dll`. It leads to any following compilations crash:
[code]

### Configuration

Runtime state: bc544bd171674762d8ba8694f55df15465d6e3b0 Release build
Os: tizen 6.0.0
Architecture: armel

cc @jkotas @davidwrighton @alpencolt @gbalykov

[2021-02-18 17:22] philippdolder commented on #48400
@mayorovp Thanks for the hints

I'm not claiming this is valid xml anywhere though. I'm totally aware that in isolation it needs to have the namespace prefix declaration inside the tag itself.

[2021-02-18 17:23] AndyAyersMS commented on #48317
@JeremyEspresso sure -- let's try and scope this first.

@dotnet/jit-contrib can anyone provide some guidance here? Should we eradicate all `BOOL`?

[2021-02-18 17:24] AaronRobinsonMSFT commented on #3740
@BickelLukas The solution for the missing TypeLib generation is to define all interfaces in IDL and then produce a TLB using the [MIDL compiler](https://docs.microsoft.com/windows/win32/midl/using-the-midl-compiler-2). This TLB can then be registered on the machine instead of being provided in an ad-hoc manner which was the previous manner for .NET Framework. The workaround was described above in

[2021-02-18 17:26] sdmaclea commented on #44897
We need to create an issue for this somewhere.
+ It makes no sense for us to distribute unsigned macos tar.gz on our release download pages
+ We have the signed files in our installer pkg
+ Macos does have signing tools to sign files

[2021-02-18 17:27] SingleAccretion commented on #48317
FWIW, here are all the places that show up when grepping for `BOOL ` in `src/coreclr/jit`:
<details>
<summary>126 lines of code</summary>

[code]
</details>

There is quite a bit of dead verification code there.

[2021-02-18 17:29] ManickaP commented on #48009
Triage: @mconnew could you tell us what's the reason to support these? We're leaning towards not fixing this so we'd like to know your reason.

[2021-02-18 17:30] jchannon commented on #48337
What exact distro would you want it tested on?

On Thu, 18 Feb 2021 at 17:19, Marie Píchová <notifications@github.com>
wrote:

[2021-02-18 17:31] leecow commented on #48421
Thanks, Viktor. Do we have any reasonable options for validating the nuspec so that this type of issue can be caught before we attempt to push packages?

[2021-02-18 17:34] radical commented on #48016
that should already be fixed on master

[2021-02-18 17:42] vcsjones commented on #48337
I can reproduce it with `openssl` in plain Debian buster images.

[code]

Debian buster takes a fairly aggressive stance on disabling old algorithms by default, in this case SHA1 signature algorithms. The site is using a configuration that uses SHA1 signature algorithms. My suspicion is that the site uses a buggy version of OpenSSL, indicated by the varying behavior of SNI.

[2021-02-18 17:44] janvorli commented on #44897
I think it still makes sense to distribute macos tar.gz. We've been doing that forever and I was always using that package and never had any issues except of the M1. It still works on my Mac Mini x64 with BigSur installed and SIP enabled. Our builds use the .tar.gz packages too without problems.

[2021-02-18 17:46] AndyAyersMS commented on #48394
Seeing a fair number of diffs.

Will take a while to sort which of these are fixes and which of these are us now being too cautious, and to assess how much of the original opt is now undone.

[2021-02-18 17:49] sdmaclea commented on #44897
Ack.  We should create an issue.  So we can have a formal discussion in an appropriate place.

[2021-02-18 17:51] DefinitelyADev opened #48467 "Add the ability to support list of claim values, of the same claim type"
**Continuing discussion from #46464.**

Add the ability to support list of claim values in the System.Security.Claims.HasClaim method.

The issue is that when I pass an array of claims of the same type to this method `System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler.WriteToken` it groups them into an array.

_Originally posted by @TsakiDev in https://github.com/dotnet/runtime/issues/46464#i

[2021-02-18 17:53] MichaelSimons commented on #48405
The main issue tracking the work to add support for Alpine 3.13 for 2.1 and 3.1 is https://github.com/dotnet/core/issues/5687.  https://github.com/dotnet/dotnet-docker/issues/2530 is the specific issue tracking Docker images.

I apologize for the slowness in adoption.  It has taken longer than we would like.

[2021-02-18 17:53] #48405 closed

[2021-02-18 18:04] mikem8361 commented on #47274
Then lets define an opt-in env var for debug built assemblies. A binary flag name something like DOTNET_MODIFIABLE_DEBUG_ASSEMBLIES=1.  I think an environment variable is better instead of a host property because it makes it a lot easier for dotnet-watcher (or other "controller") to enable it.

The DOTNET_MODIFIABLE_ASSEMBLIES env var may also still be useful to specify assemblies that are not deb

[2021-02-18 18:06] ViktorHofer commented on #44897
cc @mmitche

[2021-02-18 18:06] YurongHe commented on #48434
I will try it without setting no_proxy and see if it works.

[2021-02-18 18:09] jeromelaban commented on #47887
I've re-validated with 9195df699fe25d2e752c2bc350c16dc199f02f7a, the runtime error is still valid.

[2021-02-18 18:10] #46811 closed

[2021-02-18 18:11] mmitche commented on #44897
I think this could be done in 5.0 reasonably easily, and I *think* it would apply to the current 6.0 process. Otherwise we could modify the post-build signing in 6.0 to handle tar.gz files.

[2021-02-18 18:11] ViktorHofer commented on #48421
Apparently `dotnet verify` only checks a package's signature. @nkolev92 does nuget offer validation of the nuspec, in this case the ProjectUrl?

[2021-02-18 18:13] mikem8361 commented on #47274
DOTNET_ENABLE_MODIFIABLE_DEBUG_ASSEMBLIES might be a better name.

And DOTNET_MODIFIABLE_ASSEMBLIES would be useful for testing to always enable the test assembly or assemblies regardless of how they are built.

[2021-02-18 18:16] ToxicLand commented on #42885
The program I use crashes with a very similar log:
Feb 18 06:25:51 ns3135016 kernel: [616938.853900] .NET Background[15168]: segfault at 7f5c00000000 ip 00007f5f1e170ebb sp 00007f599affc7c0 error 4 in libcoreclr.so[7f5f1de69000+36a000]
Feb 18 06:25:51 ns3135016 kernel: [616938.854111] Code: 8b 8c 24 68 07 00 00 48 89 de 48 c1 ee 09 41 8b 04 b1 48 89 d9 48 c1 e9 04 bf 01 00 00 00 d3 e7 0f a3 c8 72

[2021-02-18 18:18] ViktorHofer opened #48469 "Long Running Test: IPInfoTest_AccessAllProperties_NoErrors"
Build: https://dev.azure.com/dnceng/public/_build/results?buildId=996817&view=ms.vss-test-web.build-test-results-tab&runId=31208508&paneView=debug

Configuration: `net5.0-Linux-Debug-x64-Mono_release-(Fedora.32.Amd64.Open)ubuntu.1604.amd64.open@mcr.microsoft.com/dotnet-buildtools/prereqs:fedora-32-helix-20200512010618-efb9f14`

[code]

cc @dotnet/ncl

[2021-02-18 18:19] #36071 closed

[2021-02-18 18:19] YurongHe commented on #48434
Then how do we skip internal traffic?

[2021-02-18 18:21] carlreinke commented on #35324
@GrabYourPitchforks Any other concerns or can this be put into the review queue?

[2021-02-18 18:22] sywhang commented on #36324
@BruceForstall do you have any other suggestions or modifications you'd like to make on this API? Otherwise I'd like to start moving this forward and get them submitted for API design review.  Thanks!

[2021-02-18 18:24] janvorli commented on #42885
Ah, this indicates just SIGSEGV, there can be many reasons for such a problem and it doesn't indicate that it is related to the specific issue here. Can you please create a new issue for your problem? I'll try to cooperate with you there to get more details on the issue.

[2021-02-18 18:25] jkotas commented on #47274
Can we have just one env variable that can be set to different values? E.g. `Debug`, `All`, etc.

[2021-02-18 18:28] jkoritzinsky commented on #45740
Here's a tool for generating a list of test collections based on the XUnit test results from an assembly:
https://gist.github.com/jkoritzinsky/0f67aee654cc53997fdcf53e127d1c07

[2021-02-18 18:28] adamsitnik commented on #48255
@bartonjs We (@carlossanlop and @Jozkee) are surprised that this has not been proposed before and wonder whether there is a good reason for that. We have introduced similar File-specific APIs in the past (https://github.com/dotnet/runtime/issues/18344). Do you believe that it's worth presenting it in the API Review meeting?

[2021-02-18 18:36] jkoritzinsky opened #48471 "Re-enable AES GCM assert for decrypted bytes"
In https://github.com/dotnet/runtime/pull/48432, an assert was disabled because it caused a test suite to crash instead of failing gracefully on Android, which meant we couldn't get test results.

We should re-enable this assert once the issue causing the test to fail is fixed. See https://github.com/dotnet/runtime/pull/48432#discussion_r578541642

[2021-02-18 18:49] qidydl opened #48472 "Cannot export RSACng private parameters"
### Description

For context: we're trying to use https://github.com/aws/amazon-s3-encryption-client-dotnet to do client-side encryption and decryption of S3 objects. The new version of that library needs to be able to export the private parameters from an RSA object in order to initialize a cipher. The problem can be easily reproduced without using that library at all, so it's not a problem with

[2021-02-18 18:56] adamsitnik commented on #48278
Is there any scenario where `Open` method lacks something and introducing the new `ctor` would allow for that?

[2021-02-18 18:57] madelson opened #48474 "SignedXml rejects signature that is accepted by online validators"
### Description
We are trying to use the `SignedXml` class to validate the XML signatures on SAML tokens. While this has worked well for us for many years, recently we've received some SAML tokens where `SignedXml` rejects the signature as invalid. When those same responses are run through online validators such as https://www.samltool.com/validate_response.php and https://www.rtr.at/TKP/was_wir_t

[2021-02-18 19:01] EskeRahn commented on #48278
No, AFAIK, it is purely a cosmetic issue, of having the code/interface look cleaner.

[2021-02-18 19:03] vcsjones commented on #48474
This seems to have the same underlying cause as #27500.

[2021-02-18 19:12] bartonjs commented on #48472
This is just a duplicate of #36899.  PFX loading only sets the CNG "exportable" bit, it doesn't set "plaintext exportable".

`ExportPkcs8PrivateKey` was added in .NET Core 3.0.  2.1 goes out of support in August (https://dotnet.microsoft.com/platform/support/policy/dotnet-core), upgrading will allow this scenario to work.

[2021-02-18 19:13] #48356 closed

[2021-02-18 19:16] jeromelaban commented on #47887
@BrzVlad the error does not happen anymore when disabling the linker with :

[code]

It's likely to not happen during CI because setting `ArchiveTests` disables the linker:
https://github.com/dotnet/runtime/blob/2e36f1b3a81a2d43d0c0d3597a7ead1bcda35a27/src/mono/wasm/build/WasmApp.targets#L115

[2021-02-18 19:18] qidydl commented on #48472
It was not clear that this scenario is unsupported in .NET Core 2.1. Thanks for the information. If there are no workable alternatives then this issue can be closed.

[2021-02-18 19:19] nkolev92 commented on #48421
That wouldn't get validated by the client at this point.
In this particular situation, NuGet would validate that the content is a Uri but not much more than that.

[2021-02-18 19:21] jeromelaban commented on #47334
Disabling the linker makes this issue appear clearly:

[code]

[2021-02-18 19:22] bartonjs commented on #48472
Once you know you have an RSACng you can do some... messy... P/Invokes to work around things, in particular you can overwrite the key to make it be plaintext exportable:

https://stackoverflow.com/questions/57269726/x509certificate2-import-with-ncrypt-allow-plaintext-export-flag/57330499#57330499

[2021-02-18 19:22] #48472 closed

[2021-02-18 19:22] vcsjones commented on #48472
For what it's worth, if you import in to the `EphemeralKeySet`, then changing the export policy with `RSACng` works while staying in netcoreapp2.1, at least on Windows 10.

[code]

[2021-02-18 19:23] bartonjs commented on #48472
Oh, yeah, or use EphemeralKeySet.  ::whistles innocently::

[2021-02-18 19:30] AndyAyersMS commented on #48394
@EgorBo is going to follow up here.

[2021-02-18 19:36] maryamariyan commented on #47372
We are already tracking logging source generation in issue https://github.com/dotnet/runtime/issues/36022. Please take a look and if you think there is something missing please propose it there so we keep all discussion in one place.

[2021-02-18 19:36] #47372 closed

[2021-02-18 19:41] erozenfeld commented on #48394
Slightly less conservative check is:

[code]
similar to what we do in `fgVarNeedsExplicitZeroInit`

[2021-02-18 19:42] erozenfeld commented on #48394
@EgorBo ping me if you have questions about the algorithm

[2021-02-18 19:51] madelson commented on #48474
@vcsjones that issue has been open since 2018; any idea when it will be fixed?

[2021-02-18 19:51] wfurt commented on #48434
no_proxy is unrelated IMHO. You can still use it.

[2021-02-18 19:56] wfurt commented on #48469
probably related to #47288

[2021-02-18 19:56] maryamariyan commented on #45897
LoggerFactory has a static Create() method shown below:

https://github.com/dotnet/runtime/blob/3bcee54244c3e58d0435d8a09cd149cd9ae9a438/src/libraries/Microsoft.Extensions.Logging/src/LoggerFactory.cs#L92

I believe the sample in the documentation should work.

[2021-02-18 19:57] vcsjones commented on #48474
I'd have to defer to @bartonjs for that.

[2021-02-18 19:59] madelson commented on #48474
@vcsjones I was able to amend my repro to verify that validating on a child document does appear to fix the issue:

[code]

[2021-02-18 20:09] bartonjs commented on #48474
Essentially, the only bugs we actively fix in SignedXml are where .NET Framework gives one (desired) answer and .NET (nee Core) gives another (less desired).

If someone can come up with a small/scoped fix for this behavior we'd consider it.  If it requires a big change we won't.  Apparently the other issue didn't have an up for grabs label (though it had essentially these same words), so I've gon

[2021-02-18 20:12] #47121 closed

[2021-02-18 20:14] jods4 commented on #48456
@krwq Thank you, sounds good.

I apologize but I'll take this opportunity to go on a short rant.

I would love to move my piece of code away from `XmlDocument` and co. and use the `XDocument` apis, which are better and more modern.

Sadly it seems MS stopped working on XML technologies a long time ago (no adoption of old standards such as newer xslt, xpath, etc.; no perf work despite everything el

[2021-02-18 20:18] pgrawehr commented on #45897
My bad. Due to an incorrect package source configuration, I got the correct version of `Microsoft.Extensions.Logging.Abstractions` but only saw a completelly outdated version of `Microsoft.Extensions.Logging`. Now after updating, the methods are as they should be.

[2021-02-18 20:18] #45897 closed

[2021-02-18 20:20] imhameed opened #48475 "[mono] Support 4-arg ops in mini IR"
Needed for intrinsics with four arguments.

[2021-02-18 20:31] krwq commented on #48456
@jods4 I understand the frustration. See https://github.com/dotnet/runtime/issues/14819 for the explanation for why this is not being worked on. In short we've done investigation on that but we've found that there is relatively little gain and a lot of work (we do not have data on that many people using newer version to justify the cost). I'd recommend you to respond to that thread with any more d

[2021-02-18 20:31] AndyAyersMS opened #48476 "optOptimizeLayout introducing edge profile inconsistencies"
See for instance https://github.com/dotnet/runtime/pull/48364#issuecomment-780129816

category:cq
theme:block-layout

[2021-02-18 20:33] #42323 closed

[2021-02-18 20:36] mconnew commented on #48009
I have worked around the issue so opening the issue was as much to help those who follow as it was to get a change. CoreWCF implements a message property on our Message object which exposes some underlying HTTP protocol information. Things like method, request uri, and headers which is exposed as an instance of WebHeaderCollection. CoreWCF reads the headers from the ASP.NET Core property HttpConte

[2021-02-18 20:38] BickelLukas commented on #3740
@AaronRobinsonMSFT yes you did understand correctly. The question was about consumung .Net types in VB. This is needed since the core of the app is (and probably will stay for a while) in VB but new functionality is developed in .Net. If you are interested in hearing more about the application and our migration approach you can email me at lukas.bickel@consolidate.at

I did stumble upon the manual

[2021-02-18 20:41] mikem8361 commented on #47274
Ok, how about just the DOTNET_MODIFIABLE_ASSEMBLIES env var with two special case-insensitive keywords "debug" and "all" and they can be used with module paths seperated by ";".

Just debug built assemblies:
`set DOTNET_MODIFIABLE_ASSEMBLIES=debug`

All assemblies (except "system", "dynamic", etc.):
`set DOTNET_MODIFIABLE_ASSEMBLIES=all`

Debug built assemblies and a test assembly:
`set DOTNET_MOD

[2021-02-18 20:43] scalablecory opened #48477 "Cancellable SocketAsyncEventArgs methods"
## Background and Motivation

We already have (or [will likely have](https://github.com/dotnet/runtime/issues/33418), for UDP) a cancellable implementation of these methods, but they are not public. I propose making them public.

There are some scenarios where using SocketAsyncEventArgs will be more performant than the Task-based methods, but you must currently trade off cancellation support or ge

[2021-02-18 20:45] ericstj commented on #48307
This optimization was much more important when we regularly referenced so many inbox packages (netcoreapp1.x,  netstandard1.x).  As part of the work when moving to NuGet pack folks should be closely looking at the diff of nuspecs and understanding the reason and implications of the differences. I suspect very few will notice this difference and those that do will be OK with conflict resolution doi

[2021-02-18 20:53] #48288 closed

[2021-02-18 20:54] wizofaus commented on #43587
Ah great, thank you @layomia , I figured it might need a custom converter but was only starting to get familiar with the library so assumed it might have built-in functionality.

[2021-02-18 20:54] jods4 commented on #48456
@krwq Thanks for the feedback. In that issue XmlPrime is mentionned and it looks like a good (commercial) alternative for newer XQuery, XPath, XSLT, XSD specs.

To be fair, even though I'm working with a lot of XML documents I don't have much use for those newer techs, so I'm not gonna push this with an upvote.

If that's ever possible I'd rather see MS improve the fundamentals of working with XML

[2021-02-18 20:55] scalablecory opened #48479 "Incomplete writes on Unix"
## Background and Motivation

Windows behavior of sockets is to have every `send` call complete once the entire buffer has been sent.

We chose to emulate this in our Unix pals, but this creates some sub-optimal behaviors in the case where send() must be called more than once.

- We may have buffered more data in the mean time, and would prefer to include that in the subsequent writes. Not having

[2021-02-18 21:00] AaronRobinsonMSFT commented on #3740
Yep, IDL is a rather esoteric language and exposes a lot of RPC concepts that clutter what most .NET developers want from it. In order to get at the IDL I would go about this as follows.

1) In a .NET Framework project, define all interfaces that are expected to be exposed to VB.
1) Compile the project into a `.dll`.
1) Take the `.dll` from the previous step and use the [`TlbExp.exe`](https://docs

[2021-02-18 21:00] aelij commented on #36022
I've also created a logger source generator, but with a slightly different approach:
https://github.com/aelij/LoggerSourceGenerator

[code]

This uses `ITuple` and compiler `ValueTuple` support to avoid generating the struct for each method. It supports both partial classes and interfaces.

Example:

[code]

Generates:

[code]

Features:
* Infers log level (defaults to `info`; `error` if  there's

[2021-02-18 21:05] jkotas commented on #47274
This is undocumented CoreCLR-specific switch. We want something that is documented and that works the same way on both CoreCLR and Mono. I do not think we would want to add `COMPlus_ForceEnc` to Mono.

Are we going to actually use this for anything in near future? I sounds like unnecessary complication to me.

[2021-02-18 21:09] aelij commented on #36022
@JamesNK Why are numeric IDs useful? It's hard to keep track of them throughout an entire project (unless you have one bit enum or something). We only use string IDs (mapped to method names), as they are much easier to read in logs and locate in code.

[2021-02-18 21:13] jkotas commented on #47274
We should also clarify how `All` works together with inlining. Is `All` going to prevent inlining by turning off optimizations for the whole process?

[2021-02-18 21:23] timcassell opened #48482 "Add Dispose to IAsyncStateMachine"
## Background and Motivation

Unlike most exceptions, cancelations should be considered to be normal program flow. It is considered bad practice to use exceptions to control program flow, yet that is exactly how the `async Task` API was architected.

Not only that, but throwing an OperationCanceledException is expensive. [UniTask](https://github.com/Cysharp/UniTask#cancellation-and-exception-handl

[2021-02-18 21:31] aelij commented on #36022
@davidfowl There's one disadvantage to the static partial class IMO - the user get an `ILogger` and can potentially use one of its methods, such as `Info`. We want to discourage that - all log writes in our project are typed.

[2021-02-18 21:38] wfurt commented on #48337
Purpose of the change was to have secure defaults @jchannon so I think the answer is no. I also feel that is ok if different bistro vends have their unique setting to reflect their preferences.

I try same command @vcsjones  on Ubuntu 20 and it seems to work.

Could you try 5.0-focal  @jchannon to see if that works for you?

[2021-02-18 21:39] davidfowl commented on #36022
@aelij I get it but I'd rather not have people create a bunch of new logging contracts that need to be added to the service provider. They vary per category. Today we can inject a single type and do all the things.

[2021-02-18 21:41] mikem8361 commented on #47274
We may want it for testing to enable just a test assembly regardless of how it is built.  Hopefully @pranavkm can tell us if specifying individual modules will be useful for dotnet-watch.

[2021-02-18 21:41] aelij commented on #36022
@davidfowl I can say that it's not a big issue for us. We just put the `AddMyComponentLog` within the `AddMyComponent` method. My code generator also adds that method.

[2021-02-18 21:43] davidfowl commented on #36022
@aelij but your implementations don't inject an ILogger, they inject an interface that needs to break every time there's a new method to log.

[2021-02-18 21:44] aelij commented on #36022
@davidfowl Sorry not sure I follow

[2021-02-18 21:47] vcsjones commented on #48337
@wfurt this actually fails for me in Ubuntu focal as well. When you tested did you get an exit code of 0 or 1?

[2021-02-18 21:47] jkotas commented on #47274
Are we going to support hot-reload e2e for the release build configuration? If not, we should rather always build the test assemblies for this as debug.

[2021-02-18 21:48] davidfowl commented on #36022
When you change an interface it's a breaking change (yes I know default interface methods on .NET Core 3.x). Interfaces also change the contract of the class. The class goes from injecting a logger, to injecting a specific interface (that isn't a logger) which means it changes the public contract).

[2021-02-18 21:51] jbrenner15 commented on #44855
I've made some clarifications in the feature request. @SamMonoRT, @lambdageek, @CoffeeFlux, what is the likelihood of getting a user story added to the 6.0.0 milestone?

As MAUI developer targeting Android, I want to be able to strip the CIL from our shared and head projects when building on armeabi-v7a and arm64-v8a architectures, reducing the resulting assemblies to nothing but metadata, so that

[2021-02-18 21:55] aelij commented on #36022
It hasn't really been an issue for us, as the interfaces were always generated (using Emit until now). Also, you could instead inject a concrete partial class instead of an interface. Looks a bit weird in a DI-based system but since it's generated and based on interfaces (`ILoggerFactory` and `ILogger`) I think it's fine.

[2021-02-18 21:56] JulieLeeMSFT commented on #47101
@kunalspathak This test repeatedly fails. PTAL.

[2021-02-18 21:56] #47708 closed

[2021-02-18 21:58] kunalspathak commented on #47101
Yes, I have started looking into it this morning. I was able to repro it on my local machine.

[2021-02-18 22:00] pranavkm commented on #47274
dotnet-watch is aware of the set of projects / assemblies it's building. It would be fairly easy for us to specify the list of projects being built as a value to the env variable. That said, in the ordinary case specifying `Debug` should suffice. We can provide UX to users telling them hot reload is being disabled because they're building their app in release if that complicates things.

[2021-02-18 22:06] aelij commented on #36022
I do see your point if you're publishing a library. But I think most users don't care about that :)
Perhaps the generator can support both options.

[2021-02-18 22:06] SamMonoRT commented on #42322
Need https://github.com/dotnet/runtime/issues/48475 to implement a subset of these

[2021-02-18 22:06] SamMonoRT commented on #42280
Need https://github.com/dotnet/runtime/issues/48475 to implement a subset of these

[2021-02-18 22:09] vcsjones commented on #47977
I guess to "proposalify" this:

[code]

[2021-02-18 22:12] stephentoub commented on #48482
The C# compiler is providing the implementation of IAsyncStateMachine... what would its generated Dispose method do?  Are you suggesting Dispose would execute any finally blocks as if an exception had been thrown but without one actually being thrown?

[2021-02-18 22:19] JulieLeeMSFT commented on #42023
@tmds thanks for the note. Will close this now.

[2021-02-18 22:19] #42023 closed

[2021-02-18 22:20] dougbu commented on #11063
My https://runfo.azurewebsites.net -fu isn't the greatest but I couldn't find matches for Xunit.Sdk.DisposalTracker.Dispose in aspnetcore-ci pipeline over the last two weeks.

[2021-02-18 22:21] timcassell commented on #48482
@stephentoub Yes, that's exactly right. Currently, if I try to short-circuit the async method this way, any finally blocks would not be executed.

[2021-02-18 22:28] rainmang opened #48484 "Directory.GetFiles does not work using a WEBDAV-Share"
The following code works perfect in .Net 4.8 but not when using Net V5.0.3 or the current first preview of Net 6:
Drive letter z: represents the network drive connected to a WEBDav-Share, which works perfect for all standard Windows apps.

Please have a look at the complete code:
[code]

[2021-02-18 22:31] samsmithnz opened #48485 "Microsoft.Extensions.Configuration.UserSecrets 6.0.0-preview.1.21102.12 throwing secrets.json error in CI/CD pipelines"
### Description

User Secrets error is being generated in a CI/CD pipeline, when secrets.json file shouldn't be expected.

Steps:
1. Create .NET 5 project
1. Added user secrets.
2. Code runs locally and in CI/CD pipelines.
3. Upgrade to .NET 6 project (and preview NuGet 6.* packages)
3. Code runs locally, but fails in CI/CD pipelines, with error:

"The configuration file 'secrets.json' was not fou

[2021-02-18 22:36] tarekgh commented on #42784
Discussed offline more the proposal with @dotnet/fxdc to ensure we are addressing the request in https://github.com/dotnet/runtime/issues/43853 and decided we'll add the extra parameter `ActivityIdFormat idFormat = ActivityIdFormat.Unknown` to the last 2 overloads. the final approved proposal now is:

[code]

[2021-02-18 22:36] wfurt commented on #48337
yeah. I spoke too soon. 20.04 fails. Ubuntu 18.04 works with & without SNI
[code]
That suggest there should be some solution for this particular server.

[2021-02-18 22:37] jaredpar commented on #11063
This is a good query for aspnetcore-ci

https://runfo.azurewebsites.net/search/helix-logs/?bq=definition%3Aaspnetcore-ci+started%3A%7E6+result%3A%21succeeded&lq=logkind%3Aconsole+text%3A%22disposaltracker%22

Paging through I didn't see any of the failures. Same query will show failures for runtime.

[2021-02-18 22:37] tarekgh commented on #43853
After discussion we'll address this issue with the final approved proposal https://github.com/dotnet/runtime/issues/42784#issuecomment-781681054.

[2021-02-18 22:37] #43853 closed

[2021-02-18 22:38] #48407 closed

[2021-02-18 22:46] JulieLeeMSFT commented on #47097
@sandreenko PTAL. It is failing on OSX.

[2021-02-18 22:48] JulieLeeMSFT commented on #47096
@Sergey for the failure on OSX.

[2021-02-18 22:50] JulieLeeMSFT commented on #48376
@kunalspathak to prioritize the outerloop blocking issue.

[2021-02-18 22:59] kunalspathak commented on #48376
This is already fixed by Bruce in https://github.com/dotnet/runtime/pull/48375.

Passing run: https://dev.azure.com/dnceng/internal/_build/results?buildId=1000601&view=results

[2021-02-18 22:59] #48376 closed

[2021-02-18 23:11] maryamariyan commented on #45668
Closing as it seems not to have failed since.

[2021-02-18 23:11] #45668 closed

[2021-02-18 23:21] CoffeeFlux commented on #43689
At what point will I be able to replicate this with a nightly SDK drop? Does Blazor need to pick up runtime changes, or should this work right now? And if so, what exactly do I need to do in order to see it work - just make a new blazorwasm project and set `WasmBuildNative` in the csproj?

[2021-02-18 23:24] eerhardt commented on #47262
There are different meanings for "equals" for a ServiceDescriptor. For example, our `TryAdd` method only checks for `ServiceType` being equal:

https://github.com/dotnet/runtime/blob/8a52f1e948b6f22f418817ec1068f07b8dae2aa5/src/libraries/Microsoft.Extensions.DependencyInjection.Abstractions/src/Extensions/ServiceCollectionDescriptorExtensions.cs#L73-L95

I don't think we want to add Equals/GetHash

[2021-02-18 23:26] eerhardt opened #48488 "Enable ILLink warning analysis for OOB libraries"
In #38033 we enabled ILLink warning analysis for assemblies that are in the NETCoreApp shared fx / runtimepack.

With #48428 we are marking all libraries built in `dotnet/runtime` as "trimmable". We should enable ILLink warning analysis for these libraries as well. And then once we are finished resolving the warnings in the libraries in the runtimepack (#45623), we will start working on the rest o

[2021-02-18 23:35] maryamariyan commented on #45278
Closing issue based on reasoning explained in https://github.com/dotnet/runtime/issues/45278#issuecomment-734839029

[2021-02-18 23:36] #45278 closed

[2021-02-18 23:40] maryamariyan commented on #45497
Related to https://github.com/dotnet/runtime/issues/36021

[2021-02-18 23:49] iamphi opened #49091 "Executable from `dotnet publish` for Apple Silicon is not working. .net 6 preview 1."
The executable from `dotnet publish --self-contained -r osx-arm64` does not run as expected. It fails with a kill signal like: `zsh: killed`

Test script:
[code]

My output:
[code]

Machine information:
[code]

[2021-02-18 23:49] SimonCropp commented on #47113
@dandanmu @steveharter not the "suggested solution" points to my workaround [here](https://github.com/JamesNK/Newtonsoft.Json/issues/1972#issuecomment-734032924), which i would consider a temporary hack, which is also in no way discoverable when the problem occurs

[2021-02-19 00:07] lambdageek opened #48490 "Mono crash "Opcode 'popcnt64' missing from machine description file.""
Not sure if this happens on master.  I got it by building https://github.com/lambdageek/runtime/tree/weird-crash with `build.sh -s mono+libs -rc Debug -c Release /p:MonoMetadataUpdate=true` on OSX amd64 and then running `dotnet.sh build /p:Configuration=Release /t:Test` in the `src/libraries/System.Runtime.Loader/tests` test project.

Full stack trace https://gist.github.com/lambdageek/cf23e43f515

[2021-02-19 00:07] lambdageek commented on #48490
/cc @imhameed @SamMonoRT @vargaz

[2021-02-19 00:21] maryamariyan commented on #46409
This is by design. The API
[code]

guarantees to give a unique instance of TService, it does not restrict uniqueness on TImplementation.

[2021-02-19 00:21] #46409 closed

[2021-02-19 00:27] sharpninja opened #48654 ""System.UnauthorizedAccessException: Access to the path is denied." from Console.WriteLine on Ubuntu 20.10"
When writing to the Console on Ubuntu 20.04 from the latest Dotnet Core 5.0 SDK Snap Package, `System.UnauthorizedAccessException: Access to the path is denied.` is thrown.

You can find affected code at [sharpninja/FizzBuzz](https://github.com/sharpninja/FizzBuzz) (look in any of the Dotnet projects under `src`) and [compiled binaries](https://github.com/sharpninja/FizzBuzz/blob/478c87754f42290f2

[2021-02-19 00:44] birojnayak opened #48491 "System.DirectoryServices.Protocols - Linux - kerberos(keytab)"
Hi Guys,
We are planning to use System.DirectoryServices.Protocols to get claims info in CoreWCF.(https://github.com/CoreWCF/CoreWCF/issues/265). I was doing a simple test to see if it supports keytab, couldn't make it work ?

Below query works in my Linux (I have Keytab and my KRB5_KTNAME is set to proper location)

But below snippet throws me below error,
[code]

[code]
So just checking if kerbe

[2021-02-19 00:46] bartonjs commented on #47977
Have we put Obsolete on X509Certificate2.PrivateKey and PublicKey.Key yet?  Though to fully obsolete PublicKey we would probably want to put GetRSAPublicKey/etc on it.  (Or just feel we got far enough there by adding SPKI export)

[2021-02-19 00:57] halter73 opened #48492 "Add CancellationTokenSource.TryReset()"
## Background and Motivation

When a library or framework exposes a `CancellationToken` that usually does not get canceled (e.g. [HttpContext.RequestAborted](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.httpcontext.requestaborted?view=aspnetcore-5.0)) they often still need to dispose the backing `CancellationTokenSource` (CTS) after an operation completes rather than reusi

[2021-02-19 01:04] smithago commented on #36091
Is this ever going to be fix. We need better support in the framework for platforms like K8s config map. I cannot believe this is not fixed it and we have .net 6 preview now.

[2021-02-19 01:35] VincentBu opened #48494 "Test failure : JIT\\Regression\\CLR-x86-JIT\\V1-M12-Beta2\\b59899\\b59899\\b59899.cmd"
Run: [runtime-coreclr outerloop 20210218.4](https://dev.azure.com/dnceng/public/_build/results?buildId=1001621&view=ms.vss-test-web.build-test-results-tab&runId=31315280&resultId=102923&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-19 01:39] BruceForstall opened #48495 "Assertion failed 'm_compGenTreeID == m_compiler->compGenTreeID'"
After https://github.com/dotnet/runtime/pull/48364, spmi replay of libraries.crossgen2.windows.x64.checked.mch fails with:
[code]

Also, due to the same PR, libraries.crossgen.windows.x64.checked.mch has a single new "missing" method (possibly expected?)
[code]

@AndyAyersMS PTAL
cc @dotnet/jit-contrib

[2021-02-19 01:44] VincentBu commented on #48494
Dozens of tests failed with same Assert failure in [runtime-coreclr outerloop 20210218.4](https://dev.azure.com/dnceng/public/_build/results?buildId=1001621&view=ms.vss-test-web.build-test-results-tab&runId=31315272&resultId=109528&paneView=debug)

**One of Error message:**
[code]

[2021-02-19 01:53] VincentBu opened #48496 "Test failed : threading.SetThreadDescription.test1"
Run: [runtime-coreclr outerloop 20210218.4](https://dev.azure.com/dnceng/public/_build/results?buildId=1001621&view=ms.vss-test-web.build-test-results-tab&runId=31316134&resultId=109694&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-19 02:10] dsplaisted commented on #48016
I think that it's correct that you can just remove the files from RuntimeList.xml if you don't want them published.  If other tooling needs those files, then it will need to find them somehow.  You could do it by convention, looking in the same folder as some runtime asset, or in a different folder relative to that folder if that's cleaner.

We also might want to update the RuntimeList.xml format

[2021-02-19 02:27] echesakovMSFT commented on #48283
Reopened to track 5.0 backport

[2021-02-19 02:35] timcassell commented on #48482
I actually didn't consider awaiting something within the finally block, so I'll close this issue and start a discussion in csharplang.

[2021-02-19 02:35] #48482 closed

[2021-02-19 02:51] BruceForstall commented on #48317
I'm in favor of eradicating all `BOOL` where they aren't used to match Windows API parameters/return values. In many cases in our code, they still exist because #45630 wasn't quite thorough enough.

[2021-02-19 02:53] davidfowl commented on #36091
@ericstj this is an important one for cloud native scenarios that there's no easy work around for.

[2021-02-19 03:35] #47315 closed

[2021-02-19 03:37] lewing commented on #47887
mono-cil-strip is different from il linking and is not at all safe to use in AotInterp mode right now.  We're planning to work on a replacement but do not combine WasmStripAOTAssemblies with AOTMode.AotInterp right now.

[2021-02-19 04:04] jeromelaban commented on #47887
This issue was fixed by https://github.com/dotnet/runtime/pull/48184

[2021-02-19 04:04] #47887 closed

[2021-02-19 04:05] jeromelaban commented on #47334
This issue can now be reproduced without changes to the runtime since https://github.com/dotnet/runtime/pull/48184 (aside from the profile to be used to AOT).

[2021-02-19 04:09] imhameed opened #48499 "[mono] Try using tablegen-derived data to auto-generate LLVM IR fragments"
See https://github.com/dotnet/llvm-project/blob/release/9.x/clang/include/clang/Basic/arm_neon.td and https://github.com/dotnet/llvm-project/blob/release/9.x/clang/utils/TableGen/NeonEmitter.cpp.

[2021-02-19 04:36] jaykrell commented on #47336
Is this really node-specific, or just wasi?

[2021-02-19 04:41] YairHalberstadt commented on #48492
Why can't they?

[2021-02-19 04:48] ericstj commented on #36091
@adamsitnik @Jozkee @carlossanlop @jeffhandley It looks like we need some support for symlinks in System.IO to fix this. Either support in FileSystemWatcher, APIs to follow the symlink, or something similar.  I’m not seeing a good workaround in extensions that doesn’t introduce platform-specific code which isn’t appropriate for this level of the stack.

[2021-02-19 04:59] jeffhandley commented on #36091
@carlossanlop This looks like the same issue that is reported in #25078 to me; do you agree?

[2021-02-19 05:15] halter73 commented on #48492
Resetting a canceled CTS would uncancel associated CancellationTokens. That's a surprising behavior we'd like to avoid.

[2021-02-19 05:40] danmoseley commented on #48496
Possibly related to https://github.com/dotnet/runtime/pull/47465

[2021-02-19 05:44] YairHalberstadt commented on #48492
I'm assuming that you can only use Reset if you know (or can reasonably assume) that there are no cancellation tokens in the wild. Otherwise reusing the CTS for something else would cancel them at the wrong time, plus removing registrations would also be surprising.

[2021-02-19 05:47] danmoseley commented on #48484
@rainmang I edited your comment to format the code with triple ticks: https://docs.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks

[2021-02-19 05:48] danmoseley commented on #48484
cc @JeremyKuhne in case he might be aware why this may have worked on .NET Framework but not in the new file enumeration code.

[2021-02-19 06:13] danmoseley commented on #43207
This fails only on Server Core, and always on Server Core - interestingly it passes on Nano.

https://engsrvprod.kusto.windows.net/engineeringdata?query=H4sIAAAAAAAEAHWRUUvDMBDH34V9h2Mva6Eb3R6FCmMqTNBNN%2fDBiWTNbc22JiN3wU388Cat2AoKgeT%2b97vc%2f5IlEj8huQMTdC4%2bYWeUhr3SMlNao4VnY%2fdTxpLA6J9gKv9k78y6wvw%2blQF4L9Ai3CqtqEAJVxlIwciqxGiUjtJ%2bOuwPIb1Mw4qbgnvkwkjIMuguvb2Zvjlh7hgnjtiUE1OWQstu4AFPjFrCjozOj

[2021-02-19 06:24] danmoseley commented on #43207
@ViktorHofer just curious, which of these do we run elevated? This test only runs when elevated:
`        [ConditionalFact(nameof(IsProcessElevated))]`

But, perhaps if it wasn't elevated, it would not show up as a pass, but rather skipped. (@MattGal are the two distinguished?)

[2021-02-19 07:02] angelaki opened #48518 "FeatureRequest: Being able to set TimeZoneInfo.Local per thread"
Right now the property `TimeZoneInfo.Local` is readonly (haven't investigated further, propably it doesn't have a backing field), but being able to set a Threads timezone would be very great!

Right now we are able to set a threads culture what is widely used in AspNetCore environments, allowing the program to return "stringed" values based on the clients locale. I guess it would be great to allow

[2021-02-19 07:03] ericstj commented on #36091
I think that's the case, however I'm not sure how feasible it is to have FileSystemWatcher follow symlinks.  We may need to follow them ourselves and set up additional watches.  One step along this path would be to first do #24271 which would likely be needed anyway.  This could let a user manually create those watchers, or poll the files themselves.

[2021-02-19 07:19] ericstj commented on #25078
Do you know if clearing IN_DONT_FOLLOW would still follow file symbolic links when watching a directory?  The docs indicate that IN_DONT_FOLLOW controls following `pathname` which could be a directory.  It wasn't clear to me if it would just follow the symlink on the directory or it would also follow symlinks on files within the directory.  If it didn't do the latter we'd probably need to enumerat

[2021-02-19 08:09] Marie-Shi commented on #46066
@buyaa-n I have asked customer to see **vitek-karas**'s comment above, once have any update will let you know.

[2021-02-19 09:05] freddyrios commented on #33297
@amsoedal did you end up trying it?

When upgrading to dotnet 5 we had increase the delay to 20+ms as the 10+ms was no longer enough. Probably something got faster :D

[2021-02-19 09:06] kunalspathak opened #48504 "Assertion failed 'gtOper == GT_CNS_INT' in 'System.Numerics.Tests.BitOperationsTests:BitOps_PopCount_Constant()' during 'Importation'"
Seeing lot of `runtime-coreclr libraries-jitstressregs` failures in Linux arm and Windows x86 . It started happening between 1/21 and 1/24.

Run from 1/21: https://dev.azure.com/dnceng/public/_build/results?buildId=961156&view=results
Run from 1/24: https://dev.azure.com/dnceng/public/_build/results?buildId=963693&view=results

The only related change that went in was https://github.com/dotnet/run

[2021-02-19 09:06] kunalspathak commented on #48504
@dotnet/jit-contrib

[2021-02-19 09:10] kunalspathak commented on #48504
@SingleAccretion

[2021-02-19 09:23] marek-safar commented on #43689
Blazor need to pickup new runtime pack and then you set `InvariantGlobalization` msbuild property

[2021-02-19 09:27] kunalspathak commented on #47101
I spent some time debugging this  and the problematic code generated is for https://github.com/dotnet/runtime/blob/51d8e98159adbd60943a6449a221ee003f427608/src/tests/JIT/Directed/cmov/Float_And_Op.cs#L13742

Here, `t1_i.mfb_false = false`. We create the tree to be:

[code]

After block renumbering, it turns to

[code]

However, during assertion propagation, we conclude that `B35` is always true an

[2021-02-19 09:37] lsoft commented on #1388
@Ap0k if I understand correctly, it will be fixed in NET6; is there any chance to backport this fix to NET5?

[2021-02-19 09:41] Ap0k commented on #1388
@lsoft Yes, the problem is only solved for NET6. Technically, these changes can be made in NET5 as well, but this is up to the repository owner.
cc: @vitek-karas @jkotas

[2021-02-19 09:45] lsoft commented on #1388
Thanks, @Ap0k. Looking forward for repository owner's decision.

[2021-02-19 10:51] harborsiem commented on #46066
I had send the ticket to the Developer Community.

I have checked the answers from @steveharter and @vitek-karas for my plugin app. Either `Assembly.LoadFrom` or the usage of `AssemblyLoadContext` are working fine. The usage of `AssemblyLoadContext` costs more effort and is not compatible when I want to use the code also for the .NET Framework.
So I decided to use the `Assembly.LoadFrom`.

It may

[2021-02-19 11:15] jasper-d commented on #36091
@ericstj I'm not sure if #24271 and #25078 will make it in 6.0, given that both are in the Future milestone.
Being able to provide a custom implementation of IPollingChangeToken would enable a feasible workaround from my point of view, even if #24271 doesn't get implemented in time for 6.0.

[2021-02-19 11:48] msschl opened #48506 "Best way to convert a ReadOnlySpan<byte> containing text to an Integer or Double"
For context:

we parse a http response stream containing text in the `iso-8859-1` encoding. Here a short sample of the text returned:
[code]

Each line is converted to a new entity. While parsing an integer or a double we first convert the span to a string using `encoding.GetString(span)` and then convert the string to an int or double:
[code]

Is there a way to convert the `ReadOnlySpan<bytes>` c

[2021-02-19 12:14] gfoidl commented on #48506
You can use the [Utf8Parser](https://docs.microsoft.com/en-us/dotnet/api/system.buffers.text.utf8parser) for the numbers `iso-8859-1`, `ASCII` and `UTF-8` are equal. Just be aware of the culture, as the Utf8Parser is invariant (and your shown example uses invariant too, so no problem).

[2021-02-19 12:17] tmds opened #48507 "source-build on unknown linux distros"
For source-build we want to be able to build .NET using source-build on a system where the rid is not known to .NET.

We want this build to succeed, and the rid to be known to .NET.

For the build to succeed, we need to build using another rid which is known and compatible. I think this may be possible already (to some extent) by using the DOTNET_RUNTIME_ID envvar.

For the rid to be known to .NET

[2021-02-19 12:20] scalablecory commented on #48009
They don't belong in this collection -- pseudo-headers are an underlying protocol version detail and not part of semantic HTTP. The spec is explicit here saying "Pseudo-header fields are not HTTP header fields". Supporting this would get people into trouble trying to blindly pass these values to some other HTTP code.

There's another question of: is this class owned by `HttpWebRequest`? If so, the

[2021-02-19 12:40] ManickaP commented on #48009
The headers get skipped:
https://github.com/microsoft/reverse-proxy/blob/main/src/ReverseProxy/Service/Proxy/HttpTransformer.cs#L49-L53
[code]

Which is pretty much the same thing WCFCore does now:
https://github.com/CoreWCF/CoreWCF/blob/main/src/CoreWCF.Http/src/CoreWCF/Channels/HttpContextExtensions.cs
[code]

[RFC](https://tools.ietf.org/html/rfc7540#section-8.1.2.1) is pretty specific about th

[2021-02-19 13:15] marek-safar commented on #44855
We would like to support AOT mode for Android RIDs but we will probably run out of time to finish the work in .NET6 time frame.

[2021-02-19 13:16] t-mustafin commented on #48466
Assert in debug mode:
[code]

[2021-02-19 13:24] rainmang commented on #48484
@danmoseley Tanks a lot for your hint regarding the code formating.

[2021-02-19 13:26] rolfbjarne opened #48508 "tvOS: Mono runtime for device is missing bitcode"
Trying to link with libmonosgen-2.0.dylib from the tvOS runtime pack yields:

This is also evident in the size difference between the runtime pack and the old mono archive:

[code]

[2021-02-19 13:27] rolfbjarne commented on #48508
CC @akoeplinger @steveisok

[2021-02-19 13:44] rainmang commented on #48484
I have now tested the code with 3 different WEBDav Providers, same problem with all providers.

The problem also exists
when you use "DirectoryInfo(<folder>).EnumerateFiles("*.*", SearchOption.AllDirectories)
instead of Directory.GetFiles(<folder>, "*.*", SearchOption.AllDirectories).

In all cases you can easily use the functions in .Net 4.x and  see all files in Windows Explorer

[2021-02-19 13:50] madelson commented on #48474
@bartonjs is that because `SignedXml` is considered deprecated? Does .NET provide an alternative fully-supported API for XML signature creation/validation?

[2021-02-19 14:59] vcsjones commented on #47977
Not yet.

That one makes sense to me since there are good APIs to success it, so I added it.

I'm less convinced there is a good replacement for that. The SPKI APIs work:

[code]

Perhaps we can open a separate proposal for that.

-------

Another one that strikes me as a bit weird is the parameterless constructor for `X509Certificate{2}`. Since `Import` doesn't work does it have any valid use cas

[2021-02-19 15:10] #48399 closed

[2021-02-19 15:13] omajid commented on #48507
Thanks for filing this issue, @tmds ! I think this captures our issues with RID well: we just need a way for a random Linux distro to get an RID automatically, and assign some parents RIDs (mostly `linux`, but maybe `musl` too).

cc @dagood @MichaelSimons @dleeapho

[2021-02-19 15:32] vcsjones opened #48510 "Add public key methods for S.S.C.X509Certificates.PublicKey"
## Background and Motivation

The property `PublicKey.Key` is not recommended for use since it does not handle EC key types (and it cannot since the algorithm is ambiguous between `ECDsa` and `ECDiffieHellman`). We should consider similar APIs that are on `X509Certificate2` to get the correct public key algorithm instance.

## Proposed API

[code]

## Usage Examples

Similar to how `X509Certificat

[2021-02-19 15:37] tmds commented on #46991
I think this can be closed.

[2021-02-19 15:40] janvorli commented on #48466
cc: @dotnet/crossgen-contrib

[2021-02-19 15:42] danmoseley commented on #48484
https://github.com/dotnet/corefx/commit/66ada723c1b0ae9062a0e7b0b28862014b985019 was likely the change

If you install 2.0 from here https://dotnet.microsoft.com/download/dotnet (out of support) I'm guessing it works?

[2021-02-19 15:45] JeroenBer commented on #887
@wfurt I wrote a new MD4 implementation based on the RFC and added some unittests in the repo. You can take it for the runtime if you want: https://github.com/JeroenBer/Ntlm/blob/main/NtlmHttp/MD4.cs

[2021-02-19 15:50] shadow-cs opened #48512 "[Mono] Invalid covariant interface calls"
### Describe the bug

If implementing an interface with covariant method result invalid implementation is called. Please see the code sample (better than thousand words, right).

This may be related to https://github.com/mono/mono/issues/7009.

I'm aware that this may be a Mono problem but since I'm unaware of the state of .NET 6 migration I'm posting it here so others may find it easier, please r

[2021-02-19 15:51] msschl commented on #48506
Thanks @gfoidl,

I didn't know that API yet. Still learning every day ;)

[2021-02-19 15:51] #48506 closed

[2021-02-19 16:04] tmds commented on #47604
This error message says the working directory doesn't have a `.git` folder. The most likely cause is `psi.WorkingDirectory` is not being set correctly.

If you add this before you start the process, it will probably throw:
[code]

[2021-02-19 16:25] AndyAyersMS commented on #48495
Taking a look.

[2021-02-19 16:26] SingleAccretion commented on #48504
I will take a look.

[2021-02-19 16:33] tmds commented on #33297
How can I reproduce this issue?
Does it happen on .NET 5?

[2021-02-19 16:37] #47734 closed

[2021-02-19 16:37] MattGal commented on #43207
@danmoseley couple things here:

- Passed vs Skipped is indeed distinguished both when test results are ingested to Kusto as well as in Azure Devops
- Helix machines have UAC prompting turned off and most things run in an effectively elevated context ; low-rights helix clients was kind of a non-starter and something we haven't had for at least 4 years.
- At some point, Docker scenarios (core and n

[2021-02-19 16:39] eddynaka commented on #47604
Hi @tmds ,

At first, I was thinking that was the issue....but, I can see this problem happening in the same pipeline at different times. And, i'm sure that the pipeline contains the .git folder

[2021-02-19 16:41] freddyrios commented on #33297
@tmds yes, it happens on .net 5. I am using a self contained - single file deployed application deployed to a raspberry pi's with raspbian lite.

Unfortunately I don't have an isolated reprod right now, but if it is about to get attention I could look into attempting to isolate a reprod. Specially because although the code we have to run the child processes is open source for my case is OSS, the d

[2021-02-19 16:53] pranavkm commented on #48512
FYI @lewing

[2021-02-19 16:58] stephentoub commented on #48492
Yes.  TryReset really wouldn't be doing anything to "reset" the CTS, other than stop any associated timer, and from that perspective the name is a little strange, but I don't have a better one in mind.  CancellationToken is just a struct-wrapper for a CancellationTokenSource, so any CT previously handed out will still be referencing this CTS, and any usage of that CT after TryReset would still wor

[2021-02-19 17:09] bartonjs commented on #47977
Yeah, it just produces a certificate in the same state as one gets in after Dispose(), so it's probably not all that useful.  Obsolete away!

[2021-02-19 17:13] akoeplinger commented on #48508
@rolfbjarne is this a tvOS specific requirement? from what I can see we're doing pretty much the same on iOS/tvOS.