[2022-09-08 15:57] danmoseley commented on #74827
It might be helpful if you have a way to at least test on .NET 6 - if you don’t see it there that might suggest what the cause might be.

[2022-09-08 16:01] jeffhandley commented on #74684
@bartonjs Have you gotten any updates from the crypto board on whether or not we should take this change?

[2022-09-08 16:01] karelz commented on #75184
Triage: Right now we have last couple of days to make these kind of changes and even that is border-line meeting the bar for 7.0.
Given that there are more concerns on usability from @JamesNK we should rather properly rethink what we want long term and do the right thing in 8.0 (as a technical breaking change of this particular API).
Moving to 8.0.

[2022-09-08 16:02] lateralusX commented on #75125
So the issue seems to be located to this:

[code]

and it will translate to the following assembler:

[code]

`Unsafe.As<byte, char>(ref firstValue)`

will incorrectly be generated as a word load into eax, but should just be a byte load that should be casted to a char. Need to look into how we lower that and where it makes incorrect assumptions.

[2022-09-08 16:14] pavelsavara commented on #75268
I think that `dotnet.js` version used by the test didn't match the `test-main.js`.
We could check that and fail fast. Draft here https://github.com/dotnet/runtime/pull/75279

[2022-09-08 16:14] danmoseley commented on #75275
Are IDs in the TZ info specified to be case sensitive? If so perhaps we do not want to match insensitively.

[2022-09-08 16:15] chrarnoldus opened #75280 "What is the intended way to ship System.Memory.dll for use in a .NET Framework app?"
We maintain an application that targets .NET Framework 4.6.2. We would like to use a third-party library that is available on NuGet, let's call it X. X lists .NET Framework 4.5 as a supported target framework. X also has a dependency on System.Memory. As far as I can tell, this now requires us to ship the following DLLs with our application, to be deployed next to the EXE, which are the direct and

[2022-09-08 16:16] radical commented on #75268
And I think that happened because the build picked the wrong runtime pack, which is broken on `main` right now.

thanks 👍

[2022-09-08 16:17] danmoseley commented on #75228
@lonix1 You would be welcome to offer a PR to the docs repo to clarify if you wish. Click edit on the doc page. I'll close as this seems answered.

[2022-09-08 16:17] #75228 closed

[2022-09-08 16:19] c-ohle commented on #75204
@tannergooding To make it more clear and this belongs to some (old) sensitive floating-point math functions and the not very precise string builder functions:

The (hardware) implementation of the base ops: +,-,*,/ includes already a rounding. This is hardware dependent, different IEEE specs etc..
The rounding happens internal at normalization what is a shift op. (to adjust the higest bit) In this

[2022-09-08 16:21] radical commented on #75257
cc @radekdoulik @pavelsavara @SteveSandersonMS @kg

[2022-09-08 16:25] akoeplinger opened #75281 "BinaryFormatterTests.SerializeHugeObjectGraphs hangs on ppc64le"
As seen on CI:
[code]

[2022-09-08 16:30] VSadov commented on #75005
I am able to reproduce the failure. Somehow `bgc_start_event` fails on OSX.
`Wait` returns a failure.

[2022-09-08 16:30] Clockwork-Muse commented on #75280
This implies that what they _want_ is to install/use `System.Whatever` DLLs as part of the actual .NET Framework install, not as part of the application install.... so it sounds like you have a conflict of intentions here.  You might try asking them if renaming the DLLs would solve the issue.

Fundamentally, DLL name/package name/code namespace is not a security boundary.  It makes no difference w

[2022-09-08 16:33] jkotas commented on #75280
Next to the application .EXE.

[2022-09-08 16:33] #75280 closed

[2022-09-08 16:39] tannergooding commented on #75204
What you're stating is not clear to me and trying to give a concrete example of where `Math.Round(T value)`, `Math.Round(T value,  MidpointRounding mode), `T.ToString`, or `T.Parse` produces an error is likely necessary.

IEEE 754 floating-point has many considerations that users may need to take into account when building more complex algorithms. However, within the confines of what IEEE 754 requ

[2022-09-08 16:47] wfurt commented on #73610
I'm not sure if logging would help much since it is possibly inside OpenSSL. As far as the modulus, it seems like there are other posts like https://github.com/openssl/openssl/issues/6841. So it may be specific to particular openssl versions.

It _is_ suspicious that it would start happening after .NET upgrade but we may simply use more functionality from OpenSSL and/or timing and data flow is dif

[2022-09-08 16:54] shadow-cs commented on #72177
@karelz always, I could test tomorrow to be sure. I have an older VM on my PC (I downloaded a VHD some time ago) and I could share this image with you if it helps (and I'll be able to reproduce the issue).

[2022-09-08 16:56] c-ohle commented on #75204
@tannergooding You need to understand what is happening at processor level. Then it is easy to re-evaluate the several math functions based on pure (hardware) floating-point arithmetic.
More then this, then it is also easy to construct the cases with wrong results.

Please let me know at which point my stating is not clear.

[2022-09-08 17:03] akoeplinger commented on #75281
@alhad-deshpande filing this so we have a tracking issue, I'll disable the test in the meantime with #75282

[2022-09-08 17:06] c-ohle commented on #75204
@tannergooding

It is trivial and not time critical. Only some lines and a integer division. The division can be a partial divison since only low bits needed. Not time critical since a bit mask test could be used to detect the critical cases.

[2022-09-08 17:09] tannergooding commented on #75204
I promise I'm intimately familiar with how floating-point processing works. Other team members are likewise familiar to varying degrees.

Than please do so.  As stated multiple times above, we are not aware of any issues with several of the above functions. The two `Round` cases that do have known issues are non-trivial to fix for multiple reasons given above, not because coming up with a correct

[2022-09-08 17:12] karelz commented on #72177
That would be great if we have something we can reproduce ourselves locally.

[2022-09-08 17:12] JulieLeeMSFT commented on #75249
@jakobbotsch PTAL. cc @dotnet/jit-contrib.

[2022-09-08 17:15] karelz commented on #74629
Reopening to track 7.0 backport.
@wfurt are we ready to start the backport, or are we blocked on other changes to msquic 2.1.1 deployment to our Docker images and into Helix?

[2022-09-08 17:23] jkotas commented on #72107
https://github.com/dotnet/runtime/issues/75221#issuecomment-1240759974 has an example of what can happen with NaNs on x86 today.

[2022-09-08 17:31] lambdageek commented on #75263
Report from

[code]

| Size | Library | Required | Notes |
|-----|---------|----------|------|
| 40K | libGL-mt.a |
| 1.6M | libasan_rt-mt.a |
| 6.3M | libc++-mt.a | ✅
| 916K | libc++abi-mt.a | ✅
| 3.4M | libc-mt.a | ✅
| 528K | libcompiler_rt-mt.a | ✅
| 532K | libcompiler_rt-wasm-sjlj-mt.a | ❓| not sure what this is
|  80K | libdlmalloc-mt.a | ✅ |
|  68K | libemmalloc-memvalidate-mt.a |
|  80K | l

[2022-09-08 17:34] karelz commented on #73688
Fixed in 8.0 (main) in PR #74634 and in 7.0 (RC2) in PR #75179

[2022-09-08 17:34] #73688 closed

[2022-09-08 17:36] c-ohle commented on #75204
@tannergooding

Please let me know at which point my stating is not clear.
I suspect there is a misunderstanding.

[2022-09-08 17:40] tannergooding commented on #75204
You're stating there are issues here and that it is trivial to produce them. You have not provided any concrete examples or explicitly stated which specific methods you believe to have issues.

You are likewise making statements that fixing these, while maintaining perf, is likewise trivial to do. This is done without example, proof, or references to existing papers that go over this in detail.

I

[2022-09-08 17:43] wfurt commented on #75262
Update for Windows
https://github.com/dotnet/runtime/pull/75287

[2022-09-08 17:45] akoeplinger commented on #74795
Mono Linux arm64 tests were disabled with #75266

[2022-09-08 17:48] karelz commented on #73610
If someone has a repro - I wonder if they could try to update OpenSSL to help us confirm/disproved @wfurt's theory above.

[2022-09-08 17:54] #73851 closed

[2022-09-08 17:57] karelz commented on #73851
Thanks for the changes @filipnavara!

[2022-09-08 17:58] daxian-dbw opened #75289 "`Console.ReadKey` behaves differently in .NET 6 and .NET 7-preview.7 comparing to .NET 5 when TERM is set to rxvt"
### Description

### Description

We got a report in PowerShell repo about "arrow keys not functioning properly in PowerShell 7.2 with rxvt terminals", see https://github.com/PowerShell/PowerShell/issues/16606.

It turns out `Console.ReadKey` behaves differently in **.NET 6 and .NET 7-preview.7** comparing to **.NET 5** when TERM is set to rxvt.
In .NET 5, the `ConsoleKeyInfo` returned for `LeftAr

[2022-09-08 17:58] daxian-dbw commented on #75289
/cc @adamsitnik

[2022-09-08 18:00] lewing commented on #75223
We're attempting a workaround until https://github.com/dotnet/installer/pull/14402 makes it, meanwhile we've disabled the tests in #75274

[2022-09-08 18:03] filipnavara commented on #67232
We should probably fix GC_PAGESIZE definition (https://github.com/dotnet/runtime/blob/31bdc77701b2f4b2f3391e990938ed8e17eb410f/src/coreclr/gc/gcpriv.h#L6226). Unfortunately I have a bit of trouble capturing the GC failures under lldb.

[2022-09-08 18:04] layomia commented on #73992
@steveharter yes I did observe a sharp perf tank as serialization went on. Your suggestion to allocate the full buffer after reaching halfway fixed the slow perf. In the reported issue, we reach the OOM very quickly now with the PR fix - https://github.com/dotnet/runtime/pull/75147.

[2022-09-08 18:09] mmitche opened #75290 "Packages inside source build intermediate packages have improper nupkg branding"
### Description

Inside the source-build intermediate packages produced out of the official build, the branding of the individual nupkgs is "dev-ci" rather than the official build ID.

### Reproduction Steps

See https://dev.azure.com/dnceng/_apis/resources/Containers/11722659/PackageArtifacts?itemPath=PackageArtifacts%2FMicrosoft.SourceBuild.Intermediate.runtime.centos.7-x64.8.0.0-alpha.1.22457.1

[2022-09-08 18:09] vcsjones commented on #75289
Based on the https://github.com/dotnet/runtime/commits/v7.0.0-preview.7.22375.6 tag, it's last commit was July 25th.

The fix wasn't merged until August 1st. https://github.com/dotnet/runtime/commit/f1de614c74589fe8f682dda39889d189f2522504

So it would seem the fix is not present in preview7, however I do see it in the RC1 branch.

[2022-09-08 18:20] daxian-dbw commented on #75289
Please keep this issue open until it's verified fixed with RC1 release.

[2022-09-08 18:24] hoyosjs opened #75292 "All build legs need to move off macOS 10.15"
There's currently a brownout and the image is scheduled to be decommissioned by 9.30; we need to patch all pertinent servicing branches.

- [x] Main
- [x] 7.0
- [x] 6.0
- [ ] 3.1 (corefx + coreclr + core-setup)

cc: @dotnet/runtime-infra

[2022-09-08 18:28] carlossanlop commented on #75002
@dotnet/area-infrastructure-libraries should we consider doing something similar for runtime libraries legs?

[2022-09-08 18:51] steveisok commented on #75292
https://github.com/dotnet/runtime/pull/75294 is for 6.0

[2022-09-08 19:06] tannergooding commented on #75204
All of it. More specifically:
* You've made claims that there are issues, but not which APIs have issues.
* You've made claims that it is trivial to produce these issues, but not given any example of a function you'd call that has unexpected output as compared to the value you would it expect it to return
* You've made claims that fixing these, while maintaining perf, is likewise trivial; but not

[2022-09-08 19:06] carlossanlop opened #75296 "WASM CI build failure: "ReleaseMutex failed" in Microsoft.Extensions.Logging.Generators.Roslyn4.0"
Found in a release/7.0 backport PR: https://github.com/dotnet/runtime/pull/75284

Please help determine if this needs a fix to get backported to 7.0.

- Queue: `Build Browser wasm Linux Release _Threading_PerfTracing_BuildOnly`
- Job results: https://dev.azure.com/dnceng-public/public/_build/results?buildId=8964&view=logs&j=8d661eb8-1694-5b60-6fbc-3f561a726c69&t=85fabc09-846c-57ca-7481-53449124685

[2022-09-08 19:39] #74876 closed

[2022-09-08 19:47] carlossanlop commented on #75296
@lewing @radical @steveisok @akoeplinger

[2022-09-08 19:50] radical commented on #75296
Looks similar to https://github.com/dotnet/runtime/issues/70836 .

[2022-09-08 19:52] mangod9 commented on #74631
Removing blocking-outerloop since the test has been disabled on arm64

[2022-09-08 19:52] steveisok commented on #75296
Should we run these tests on wasm/mobile at all?

[2022-09-08 19:55] radical commented on #75296
This is probably getting triggered because `src/libraries` has changes.

[2022-09-08 20:02] radical commented on #75296
This is not even running any tests, it's failing while building. And the will *only build* - `Build Browser wasm Linux Release _Threading_PerfTracing_BuildOnly`.

[2022-09-08 20:03] lewing commented on #75296
yeah this is a CSC crash it isn't really wasm related

[2022-09-08 20:05] tarekgh commented on #75296
[code]

Does this suggest something not supported on WASM?

[2022-09-08 20:08] filipnavara commented on #67232
I finally managed to get the assert under lldb. The interesting thing is that two thread try to do GC at the same time:
[code]

[2022-09-08 20:14] lewing commented on #75296
There is no wasm running at all at this point, it looks like the generator failed for some reason.

[2022-09-08 20:15] jkotas commented on #67232
You may be seeing #75298

[2022-09-08 20:17] karelz opened #75302 "System.Tests.AppDomainTests.MonitoringIsEnabled - Assert.InRange - on NativeAOT arm64"
Affected test:
- **MonitoringIsEnabled** - `System.Tests.AppDomainTests.MonitoringIsEnabled`

Frequency:
- 9/8 - **21x** occurrences in [last 30 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E30+definition%3Aruntime-extra-platforms+name%3A%22system.tests.appdomaintests.monitoringisenabled%22) on Runfo -- first occurrence on **8/30** in run [1977040](https://runfo.azurewebsites.

[2022-09-08 20:17] tannergooding commented on #72107
Its worth noting the same "general" issue would be present for doing it manually with `BitConverter.Int32BitsToSingle` and `BitConverter.SingleToInt32Bits`.

If the represented value was at any point a `sNaN`, then it might get normalized and not write/reverse the exact bit value originally represented.

[2022-09-08 20:19] VSadov commented on #67232
`assert (settings.concurrent);`  is indeed https://github.com/dotnet/runtime/pull/75298

[2022-09-08 20:19] jkotas commented on #75278
That looks better to me.

We need to make sure that this is compatible with our servicing policies and source build. If we were to keep cecil in separate repo, I expect that we would need to move it to dotnet/cecil at least.

[2022-09-08 20:20] radical commented on #75296
[code]

[2022-09-08 20:21] tarekgh commented on #75296
Make sense @lewing.

Looking at the build analysis results too, and I am seeing https://github.com/dotnet/runtime/pull/75284/checks?check_run_id=8258063425 all failures are on Mono only. This suggests specific to that runtime.

[2022-09-08 20:23] lewing commented on #75296
There is no mono running at this point either, perhaps it is a linker bug that is breaking the generator?

[2022-09-08 20:24] tannergooding commented on #72107
The general point is that a dedicated API that takes `float` is one we can ensure does the right thing, even if that involves specialization in the JIT to help assert other optimizations don't happen.

The risk of NaN normalization exists regardless, and is likely a bigger "hole" if the user has to consider those edge cases themselves than if we considered it for them.

Because the user has no con

[2022-09-08 20:28] hoyosjs commented on #75245
@noahfalk @janvorli @jkotas Do we always do EventLog reporting in core and do we do so for unmanaged resources? I don't know if our SEH logic tries to do anything for such cases or if that's a Windows capability

[2022-09-08 20:30] jkotas commented on #72107
Right, depending on bit-to-bit identical roundtripping of floats is a slippery slope.

It is safe to depend on value roundtripping (e.g. 1.23456 won't turn into NaN silently).

The specific problem with `BinaryPrimitives.ReverseEndianness(float)` API is that you can have a value that happens to be NaN when the bytes are reversed, and that will break even the value roundtripping.

[2022-09-08 20:30] tarekgh commented on #75296
Ok, it looks make sense to move this to Roslyn repo then.

[2022-09-08 20:34] tannergooding commented on #72107
Right, and the same general issue exists for the `BitConverter` approach on 32-bit.

At a minimum we should likely document this scenario under the `BitConverter` `#remarks` section. But, I think have a `ReverseEndianessUnsafe` API that takes `float`/`double` and helps call out the scenario will make it more visible to users trying to handle this scenario on the potential pitfalls

This isn't a ha

[2022-09-08 20:35] lambdageek commented on #75263
@lewing what do you think about a separate (OOB) nuget that just has the mt libs and some SDK.props that injects emscipten linker flags?

So to do a multi-threaded native build one would have to do something like this:

[code]

[2022-09-08 20:35] karelz commented on #74902
@mangod9 can you please disable it ASAP?
It impacts CI -- including Rolling runs (see updated top post). Happens almost **3x per day**.

[2022-09-08 20:35] daxian-dbw opened #75305 "`[System.Console]::ReadKey()` returns escape sequence characters when pressing arrow keys in PowerShell on Linux"
### Description

This is with PowerShell 7.3.0-preview.7, which runs on top of .NET 7-preview.7.

Running `[System.Console]::ReadKey()` in PowerShell, and then press <kbd>UpArrow</kbd>, it returns the escape sequences character by character -- `Escape` and then `A`.
It's the same to other arrow keys: <kbd>DownArrow</kbd>, <kbd>LeftArrow</kbd>, <kbd>RightArrow</kbd>

However, when using `Console.Re

[2022-09-08 20:37] filipnavara commented on #67232
Confirmed, with https://github.com/dotnet/runtime/pull/75298 I no longer see the crash.

[2022-09-08 20:37] daxian-dbw commented on #75305
Is this also addressed by https://github.com/dotnet/runtime/commit/f1de614c74589fe8f682dda39889d189f2522504?

[2022-09-08 20:38] lewing commented on #75263
we can do it all in the workload invisibly, the complicated part is packaging it and setting the appropriate compiler options

[2022-09-08 20:43] lewing commented on #75263
The steps are essentially adding the threading package to the emsdk build, and referencing it in the emscripten manifest when WasmEnableThreads.  It's props should add the required flags and paths to the emcc options.

[2022-09-08 20:44] lambdageek commented on #75263
@lewing I was thinking OOB in case we don't make it by RTM 😁

[2022-09-08 20:46] lambdageek commented on #75263
I'm looking at the emsdk build right now - moving the -mt.a files out of the way (instead of deleting) and making a new nuget seems straightforward. I'll try to have something to show by tomorrow or Monday

[2022-09-08 20:55] jogibear9988 commented on #75245
I get an Eventlog Entry, but without any Stacktrace

[2022-09-08 20:57] vitek-karas commented on #75278
Moving Cecil to runtime repo is problematic. So far we've used mono/cecil as only a way to ship predictable bits and have a way to quickly fix issues without waiting for upstream merge. But we always send all our changes upstream and most of the time mono/cecil and upstream are identical. If we were to move cecil into runtime repo, it would have to be a mirror, which seems impractical.

[2022-09-08 21:02] lewing commented on #75263
either way it starts with making the pack ;)

[2022-09-08 21:06] elinor-fung commented on #75052
The analyzer/fixer for converting `DllImport` to `LibraryImport` is only enabled by default in RC1. Most of the analyzer/fixer experience for p/invokes and custom marshalling source generation did not make Preview 7 and is only in RC1.

The one for converting to `LibraryImport` is `SYSLIB1054` and can be explicitly in an .editorconfig, but it had some known issues that would result in false positi

[2022-09-08 21:14] kevincrans commented on #13277
Sorry for the bump, it's up to the OS developers to make G4/G5 forward compatible.

But it would be cool for the future when variation in computers becomes common again.

Not only for BSD and Linux, but also for AIX, which uses a similar executable format as Windows.

[2022-09-08 21:14] tannergooding commented on #55914
CC. @terrajobst, could you comment on how the view of these APIs are with respect to the newer `OSPlatform` and `OperatingSystem.Is*` checks?

[2022-09-08 21:18] hoyosjs commented on #75245
Is your app deployed as a self contained publish?

[2022-09-08 21:23] tannergooding commented on #55290
Agree with @GrabYourPitchforks that this seems like a very domain specific API and not something we'd be interested in expose on `System.Guid` directly.

Given that `Guid` can format to a `Span<char>`, `Utf8Formatter` can be used to format to a `Span<byte>`, and `Base64Encoder` likewise has APIs that can process a `Span`, you can already do this "allocation free" just potentially with an additiona

[2022-09-08 21:23] #55290 closed

[2022-09-08 21:26] JulieLeeMSFT commented on #75221
Setting this to Future.

[2022-09-08 21:26] tannergooding commented on #55115
This is "by design". `System.Decimal` is a type designed for and around `currency` and does not expose many of the concepts required to correctly support transcendental functions.

We may in the future look at providing the IEEE 754 `decimal` types and would provide such APIs for said types if that happens.

[2022-09-08 21:26] #55115 closed

[2022-09-08 21:27] tannergooding commented on #55114
This is "by design". `System.Decimal` is a type designed for and around `currency` and does not expose many of the concepts required to correctly support transcendental functions.

We may in the future look at providing the IEEE 754 `decimal` types and would provide such APIs for said types if that happens.

[2022-09-08 21:27] #55114 closed

[2022-09-08 21:27] tannergooding commented on #55113
This is "by design". `System.Decimal` is a type designed for and around `currency` and does not expose many of the concepts required to correctly support transcendental functions.

We may in the future look at providing the IEEE 754 `decimal` types and would provide such APIs for said types if that happens.

[2022-09-08 21:27] #55113 closed

[2022-09-08 21:28] tannergooding commented on #54828
CC. @karelz, this is another API proposal that impacts `Uri`. It's likely better handled by the networking team where the domain expertise resides.

[2022-09-08 21:29] tannergooding commented on #54400
CC. @tarekgh for input on this since it impacts date/times.

[2022-09-08 21:29] tannergooding commented on #53768
@teo-tsirpanis could you open a separate proposal for `Half`?

[2022-09-08 21:31] jogibear9988 commented on #75245
no. I'll try if I could recreate a sample app

[2022-09-08 21:36] hoyosjs commented on #75245
How are you running the app?

[2022-09-08 21:37] noahfalk commented on #75245
This is probably relevant code for whether we get a callstack in the error report: https://github.com/dotnet/runtime/blob/main/src/coreclr/vm/eepolicy.cpp#L458-L464

I don't recall that we made an intentional change to change the error report text, but it is certainly possible that it is a byproduct of other changes .NET Core made to have a simpler and more consistent cross-platform exception hand

[2022-09-08 21:38] tannergooding commented on #52188
This doesn't sound like something we would be interested in provided due to the potential dangers it represents.

Using the `Slice` API alongside `Math.Min` (or `int.Min` now in .NET 7) -or- the relevant range pattern is a safer and less error-prone alternative that can be customized to the consumers needs.

[2022-09-08 21:38] #52188 closed

[2022-09-08 21:39] tannergooding commented on #52081
@tarekgh, any other feedback here or is this in a shape that could be marked `ready-for-review`?

[2022-09-08 21:42] tannergooding commented on #51710
Closing this based on the above feedback from @GrabYourPitchforks and @danmoseley

[2022-09-08 21:42] #51710 closed

[2022-09-08 21:43] tannergooding commented on #51573
CC. @stephentoub, is this something you think we should look more into providing?

[2022-09-08 21:44] tannergooding commented on #51465
Going to close this based on the comments/feedback above. It doesn't seem like this API would add much value over the existing alternatives and may end up much more complicated in the long run.

[2022-09-08 21:44] #51465 closed

[2022-09-08 21:45] karelz opened #75307 "System.Net.WebSockets.Client.Tests crash on OSX Mono"
Frequency in [last 30 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E30+definition%3Aruntime-extra-platforms+name%3A%22system.net.websockets.client.tests+work+item%22) in Runfo:
- 9/8 - **33x failures**
    - First occurrence in Rolling run [3461](https://runfo.azurewebsites.net/view/build/?number=3461) on **9/2 -- recent regression**
    - Each run fails on 2 platforms:

[2022-09-08 21:47] JulieLeeMSFT commented on #75243
cc @jeffschwMSFT @mangod9.

[2022-09-08 21:47] karelz commented on #75307
@akoeplinger @steveisok this is blocking clean CI -- happens 5x per day. Can you please look into it ASAP? Thanks!

[2022-09-08 21:52] karelz commented on #54828
Looks like a need for span overload -- @MihaZupan any thoughts?

[2022-09-08 21:54] karelz commented on #54828
@tannergooding System.Net is the area for System.Uri -- it is called out in [area-owners](https://github.com/dotnet/runtime/blob/main/docs/area-owners.md) - feel free to move it area-System.Net in future. Thanks!

[2022-09-08 21:59] jogibear9988 commented on #75245
in minidump I get the stacktrace.
I will post the messages from eventlog when I've created the sample.

![image](https://user-images.githubusercontent.com/364896/189233323-4e6be5db-6025-484e-bbc8-0b0b0136edf0.png)

The Stacktrace is in manged code. And this one I also get in fullframework in the eventlog

[2022-09-08 21:59] jkotas commented on #72107
Are you saying that BitConverter breaks value roundtripping? I do not think that it is the case for any of the existing BitConverter APIs. BitConverter may not return the exact bits as what they were in memory, but it will be still the same value.

[2022-09-08 21:59] tarekgh commented on #54400
I recall there was some other similar request but couldn't find it now. Anyway, this is a request to expose things like `Duration` or `Period` type. I suggest triage this to keep the issue open for the future.

[2022-09-08 22:00] #74467 closed

[2022-09-08 22:02] bartonjs commented on #74684
@jeffhandley Sort of. A "yes, enforce it" followed by two "no, don't enforce it"s :smile:.

We're not helped by me saying "be forward flexible, don't take this change" and @blowdart saying "take this change".  Something something pocket veto, something something.  ::whistles innocently::

[2022-09-08 22:02] jogibear9988 commented on #75245
If I debug the minidump mixed, I get this:
![image](https://user-images.githubusercontent.com/364896/189233860-05fe7792-badc-4b40-ab99-e5df65358f72.png)

But I only need the managed stacktrace, wich was in the eventlog in fullFramework

[2022-09-08 22:06] steveisok commented on #75307
Looks like it's an mlaunch issue that can't start the app.  We'll need to figure out how widespread this is.

[2022-09-08 22:06] #48898 closed

[2022-09-08 22:06] tarekgh commented on #52081
The API (after renaming it to `TotalOffsetMinutes` looks good to me. I am not sure if @JeremyKuhne still need it through for his perf scenario?

[2022-09-08 22:09] tannergooding commented on #48310
Closing this. As indicated we cannot fix this without it being a breaking change and that is a very high bar that is unlikely to be hit for something as core and widely used as `System.Enum`.

[2022-09-08 22:09] #48310 closed

[2022-09-08 22:13] tannergooding commented on #46832
Closing this based on the above feedback

[2022-09-08 22:13] #46832 closed

[2022-09-08 22:14] ericstj opened #75310 "Microsoft.Extensions.DependencyInjection is the best library ever!"
### Description

This is to test the board automation

### Reproduction Steps

do stuff

### Expected behavior

it works

### Actual behavior

it does work, it's amazing!

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

_No response_

### Other information

_No response_

[2022-09-08 22:15] Nick-Stanton commented on #75310
Test comment!

[2022-09-08 22:16] #75310 closed

[2022-09-08 22:16] tannergooding commented on #43796
Closing. This is now feasible using the generic math interfaces. In particular anything `where T : INumber<T>` can now `T.Min`, `T.Max`, or `T.Clamp`

[2022-09-08 22:16] #43796 closed

[2022-09-08 22:17] tannergooding commented on #43303
CC. @tarekgh for input. Seems like a simple ask and likely can mark `ready-for-review` if there is no pushback

[2022-09-08 22:18] jeffhandley commented on #74442
@adamsitnik Should we consider reverting #73481 for 7.0? It looks like the gains from that change are less significant than this regression.

[2022-09-08 22:19] tannergooding commented on #42757
Closing. This is much easier to handle now by using `T.Clamp` directly which constrains all three parameters to exactly `T`.

So `uint.Clamp` won't accidentally pick the `ulong` overload and `byte.Clamp` won't accidentally pick or allow inputs over `byte.Min/MaxValue`, etc.

[2022-09-08 22:19] #42757 closed

[2022-09-08 22:20] tannergooding commented on #41822
Closing this based on the feedback from @stephentoub and @GrabYourPitchforks above.

[2022-09-08 22:20] #41822 closed

[2022-09-08 22:22] tannergooding commented on #41341
@eerhardt, so this basically gets the path to the folder containing the file that has the managed `Main` method (whether that remains implemented in IL or compiled down to native directly for AOT scenarios)?

[2022-09-08 22:23] jkotas commented on #75302
Likely the same underlying problem as https://github.com/dotnet/runtime/issues/74902

[2022-09-08 22:23] jeffhandley commented on #74148
@tannergooding (and @dotnet/area-system-numerics), have you reached a conclusion on this? If we decide to add the expressions, we would need to do so before the RC2 snap.

[2022-09-08 22:23] tannergooding commented on #41341
Do you know how we would implement this differently from `Assembly.GetEntryAssembly().Location`?

[2022-09-08 22:23] JulieLeeMSFT opened #75312 "Calling GetControllingUnknown () generates an assert"
Reported by @ocallesp.

[severity:I’m unable to use this version]

I have a project dll ATL (COM).

The project has enabled .NET Core Runtime Support (/ clr: netcore) (NET 6.0).

In this project when the GetControllingUnknown() function is called we have an assert.

![image](https://user-images.githubusercontent.com/63486087/189236271-85da19cf-5acc-4c5c-b3a2-074118c3a7f5.png)

IUnknown* _GetRawUnk

[2022-09-08 22:25] JulieLeeMSFT commented on #75312
CC @EgorBo, @dotnet/jit-contrib, @AaronRobinsonMSFT, @jeffschwMSFT, @ocallesp.

[2022-09-08 22:25] jeffhandley commented on #74115
@bartonjs and @GrabYourPitchforks reported progress on these discussions and work is underway to refactor the tests. While this isn't blocking the release, we will want to get the text changes into the release/7.0 branch so that we have regression protection there for servicing.

[2022-09-08 22:27] c-ohle commented on #75204
@tannergooding

Since you asked and mentioned: "that there is a longstanding known issue that's been around since .NET Framework."
It's all about the Round() functions:
-  for double in Math `public static unsafe double Round(double value, int digits, MidpointRounding mode);`
- for float in MathF  `public static unsafe float Round(double float, int digits, MidpointRounding mode);`
And the Round()

[2022-09-08 22:31] JulieLeeMSFT commented on #75312
@kunalspathak please help debug this issue with EgorBo.

[2022-09-08 22:31] tannergooding commented on #39816
@tarekgh, were you able to take a look at this? Is it something we should look at moving forward around or is it something we can close as not planned at this point?

[2022-09-08 22:32] wfurt commented on #75262
Ubuntu 18.04 and 22.04
https://github.com/dotnet/dotnet-buildtools-prereqs-docker/pull/687
(22 builds from sources as there is no OpenSSL 1.1)
Fedora
https://github.com/dotnet/dotnet-buildtools-prereqs-docker/pull/688

Debian Arm32
https://github.com/dotnet/dotnet-buildtools-prereqs-docker/pull/689

[2022-09-08 22:33] blowdart commented on #74684
Jeremy you know I don't want to veto you in public but ... 👿

[2022-09-08 22:34] kunalspathak commented on #75312
@ocallesp - can you share some more details, repro steps, environment, etc?

[2022-09-08 22:35] jeffhandley commented on #74684
Thank you both. Let's come to a conclusion on this by end of week so that if we do decide to take the change we can get it in before the RC2 snap on Tuesday.

[2022-09-08 22:35] jkotas commented on #41341
We have deprecated the "expand to temp single-file" publishing scheme that had this problem. The default single-file experience does not have this problem anymore. `AppContext.BaseDirectory` returns the directory where the application lives.

This implementation would not work for single-file where `GetEntryAssembly().Location` is empty string.

[2022-09-08 22:37] eerhardt commented on #41341
My thinking was that it would be an AppContext property that was passed from the host. Similar to how `RuntimeInformation.RuntimeIdentifier` is implemented:

https://github.com/dotnet/runtime/blob/cc9d46546b8e72b34a5f387a5ec9615197d79f1f/src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/RuntimeInformation.cs#L46-L47

We definitely wouldn't want to use Assembly.Location, becau

[2022-09-08 22:37] tannergooding commented on #72107
Right, I'm saying that `BitConverter` may not preserve the bitwise value and may for example normalize some `NaN` to a different NaN` representation (such as `sNaN` to `qNaN`).

[2022-09-08 22:47] VSadov commented on #74711
One interesting scenario on OSX - https://github.com/dotnet/runtime/pull/75264#discussion_r966477503

[2022-09-08 22:54] jkotas commented on #41341
How would the hosts that we maintain compute the value? What are the cases where this would be different from `AppContext.BaseDirectory`?

The documentation has a text to clarify this "In .NET 5 and later versions, for bundled assemblies, the value returned is the containing directory of the host executable." What else would you like to see the documentation to say?

[2022-09-08 22:55] jakobbotsch commented on #75221
When you say lenient, what do you mean? If normalization is permitted then the best solution seems to be to normalize NaN literals in the JIT IR.

[2022-09-08 23:04] tannergooding commented on #75204
So no new issues, only issues that have been stated to already be known and which are problematic to fix for many reasons.

Not wrong but less precise in general and different string representations on different platforms what could be avoid.

This has already been covered as "by design". We return the shortest roundtrippable string. `6.55e4` is shorter than `6.5504e4` and both round to the same u

[2022-09-08 23:04] karelz commented on #72114
Another massive hit on 9/5 PM Rolling run [5191](https://runfo.azurewebsites.net/view/build/?number=5191) - 200x failures.
@SamMonoRT who is taking action on this? Can you please find someone on your team or another team? This is blocking CI ...

[2022-09-08 23:19] tarekgh commented on #43303
@tannergooding the ask is kind nice to have helper methods. I wouldn't mind having them, but we need to figure out where we draw the line between things that should be part of the .NET libraries, and which can be defined in the apps and 3rd party libraries.

As example, `DateTime.ToShortDateString(IFormatProvider provider)` can be easily done using `DateTime.ToString("d", provider)`.

[2022-09-08 23:27] jeffhandley commented on #69694
@tannergooding (and @dotnet/area-system-numerics) Can you add a checklist to the issue description of other docs that need to be updated? I presume we'll want to complete the updates before we ship GA.

[2022-09-08 23:28] teo-tsirpanis opened #75313 "[API Proposal]: Parse/format `Half`s from/to UTF-8."
### Background and motivation

The `System.Buffers.Text.Utf8Parser` and `Utf8Formatter` classes allow exchanging between various primitive types and UTF-8 text, but `System.Half` is not on them. I propose to add support for it.

### API Proposal

[code]

### API Usage

[code]

### Alternative Designs

_No response_

### Risks

_No response_

[2022-09-08 23:29] tarekgh commented on #39816
@tannergooding we have already done some of this by exposing `DateOnly`, `TimeOnly`, educating user directly when to use `DateTimeOffset` and when avoid using `DateTime`.  To be honest, I don't think we can obsolete `DateTime` in near future. `DateTime` mostly a problem when used for time zone related operations. We have some thoughts exposing a new type like `ZonedDateTime` which can be used in g

[2022-09-08 23:52] Clockwork-Muse commented on #39816
... which is mostly a problem due to `DateTimeKind`.  You actually want a no-zone combined type like `DateTime` for certain scenarios (so you wouldn't deprecate `DateTime`, but instead `DateTimeKind`), but in most cases you need other/different types, depending on what your application is doing.

[2022-09-09 00:02] steveisok commented on #75307
@mandel-macaque We haven't bumped xharness/mlaunch in runtime yet.  Is this an mlaunch problem or with devices?

https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-9747453e45bd47beab/System.Net.WebSockets.Client.Tests/1/console.83d2be01.log?helixlogtype=result

[code]

[2022-09-09 00:29] karelz commented on #74710
cc @LakshanF as it seems to be specific to arm64 NativeAOT -- I think you mentioned there are problems with arm64 NativeAOT recently ...

[2022-09-09 00:31] AhmedZero opened #75314 "Memory leaking with Serializing JSON on Large Objects"
now there is Memory leaks with `JsonSerializer.Serialize` when i convert list of objects, the memory increases from 950 MB to 2.5 GB.
[code]
before  `JsonSerializer.Serialize`
![image](https://user-images.githubusercontent.com/26312527/189248348-3169e369-1f6d-4da2-a437-4ec5808f1cb1.png)
after  `JsonSerializer.Serialize`
![image](https://user-images.githubusercontent.com/26312527/189248418-ed92ff4e

[2022-09-09 00:52] karelz commented on #75307
Note: It happens also in 7.0 branch -- Rolling run [9064](https://runfo.azurewebsites.net/view/build/?number=9064) on 9/8 AM (release/7.0) ... so perhaps it is something environmental? Or some shared infra?

[2022-09-09 01:01] neon-sunset opened #75317 "[API Proposal] SplitOnce() convenience methods for strings and Span/Memory<char> slices"
### Background and motivation

While working with various solutions both internal and external, it appears there is a commonly used pattern to split strings just once which can be improved with an allocation-free helper similar to `split_once()` function in Rust.

Specifically, such patterns are especially common when processing headers and fields in JSON payloads.
For example, when handling OAuth

[2022-09-09 01:10] AndyAyersMS commented on #75229
We now run asserion gen "early" for some block expansions, so we miss out on some assertions for some kinds of expansions.

In particular in the baseline jit we did:
[code]
In the current jit we don't get this assertion. This optimization happens later during assertion prop, but by then it is too late to hoist invariants. So, we end up with the following inner loop codegen where a load is not hois

[2022-09-09 01:27] stephentoub commented on #75314
Is it actually a leak? Has the GC run? If you look at the objects still alive, where are they rooted?

My guess is these are large arrays in the ArrayPool, and there simply hasn't been enough memory pressure and/or GCs to cause it to release them all.

[2022-09-09 02:06] AhmedZero commented on #75314
I don't know but I build the app again with x64 and my PC rams 16GB and the same problem.
![IMG_20220909_040616.jpg](https://user-images.githubusercontent.com/26312527/189257088-cc16adc7-f4ed-44c1-8c04-f62391fe898d.jpg)

[2022-09-09 02:14] stephentoub opened #75322 "[API Proposal]: MemoryExtensions.Replace(Span<T>, T, T)"
### Background and motivation

`string.Replace(char, char)` is useful for replacing every occurrence of a character value.  When using spans/arrays to build up strings, that capability is also useful, but today it needs to be hand-rolled, e.g.
[code]
It'd be good to have this as a reusable helper on MemoryExtensions so that such open-coded loops can be replaced.  There are other more complicated v

[2022-09-09 02:18] stephentoub commented on #75314
Working set doesn't mean there's a leak.  In a managed environment, the GC gets to decide when to decommit memory.

I'd recommend taking a memory profile:
https://docs.microsoft.com/en-us/visualstudio/profiling/memory-usage-without-debugging2?view=vs-2022
and in the resulting snapshot looking to see what objects are taking up all the space and what their "roots" are.  That will tell you if there's

[2022-09-09 02:29] danroth27 opened #75324 "Error hot reloading new method in Blazor WebAssembly app"
### Description

I get an error in the browser dev console when hot reloading a new method in a Blazor WebAssembly app.

### Reproduction Steps

- Create a new standalone Blazor WebAssembly app
- F5 to debug
- Add the following to Index.razor:

[code]

- Apply changes to the running app

### Expected behavior

Changes applied without error

### Actual behavior

Error shows up in the browser dev co

[2022-09-09 02:29] danroth27 commented on #75324
@lambdageek

[2022-09-09 02:31] v-wenyuxu opened #75325 "Test failure JIT\\Performance\\CodeQuality\\Benchstones\\BenchI\\Fib\\Fib\\Fib.cmd"
Run: [runtime-coreclr crossgen2 20220907.1](https://dev.azure.com/dnceng-public/public/_build/results?buildId=8394&view=ms.vss-test-web.build-test-results-tab&runId=166882&resultId=102661&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-09-09 03:27] c-ohle commented on #75204
@tannergooding

But this is what I want to say and nothing else. It is possible to fix, with less code and without performance impact.
Only some lines are necessary and must not called always - the problem cases can detected by simple bitmask tests.
The same approach can be helpfule to improve the precision for many functions, string formatting as example - but it must not used.
This was alredy te

[2022-09-09 03:57] mrsharm commented on #74756
Hi @MartinZid,

Apologies but I tried a bunch of steps to try to get the stacks to resolve for coreclr but unfortunately, I am still unable to look up the symbols due to a similar failure as before. From the error log, the suggestion to try to merge the etl i.e. the CPU command will now be:

[code]

Also, just in case that fails, it'll be helpful to get the .pdb files for coreclr. I think once we

[2022-09-09 04:12] JavaScript-zt opened #75327 "The type 'Microsoft.EntityFrameworkCore.Query.Internal.EntityQueryable`1[xxx]' can only be serialized using async serialization methods. Path: $."
### Description

serialized  Task<IQueryable<xxx>>  get a error：
[code]
source code：
[code]

how to fix it?

### Reproduction Steps

    var iQueryable = await _bookRepository.GetEntity();
    retrun new {Data=iQueryable ;};

### Expected behavior

e

### Actual behavior

e

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

_No response_

### Other informatio

[2022-09-09 04:16] elinor-fung commented on #71288
Another variation could be to keep the things like architecture and version in the main content and have the 'see details' only include the full download link. Or show it with the details expanded by default (but the full - usually long - link shown by default might be a bit noisy). I know we've gotten feedback in the past about wanting to have architecture/version clearly called out, so it might

[2022-09-09 04:24] carlossanlop commented on #75021
@steveisok I noticed you disabled them directly in 7.0. Did they get disabled in main too? If yes, then this issue can be closed.

[2022-09-09 04:33] carlossanlop commented on #75040
FYI I just saw it again in a release/7.0 backport PR: https://github.com/dotnet/runtime/pull/75308

- Queue: Libraries Build windows arm64 Release
- Job results: https://dev.azure.com/dnceng-public/public/_build/results?buildId=9466&view=logs&j=da825fe5-de3c-5b40-c5a9-57db49ac53e0&t=12e813f5-e306-5337-95e5-a913cd66313d&l=75
[code]

[2022-09-09 04:40] #75021 closed

[2022-09-09 04:43] riverar commented on #74909
@ViktorHofer Did some sort of discussion occur that put this on the map for 8.0? Just curious, thanks!

[2022-09-09 05:55] MichalStrehovsky commented on #75005
Fixed in https://github.com/dotnet/runtime/pull/75298.

[2022-09-09 05:55] #75005 closed

[2022-09-09 05:57] PopeyeZhong commented on #75116
@roji Thanks a lot for your answer, now I understand why those methods were not added to the `IDataRecord` interface.

This problem is because of the problems we encounter when accessing some new databases such as ClickHouse/TDengine through some third-party data drivers, because they do not provide data reader inherited from `DbDataReader`, but directly implement `IDataReader` / `IDataRecord` int

[2022-09-09 05:59] jkotas commented on #74710
I have taken a look at the two most recent core dumps. It is still same pattern - function pointer overwritten in libcrypto
 data structure.

My guess is that this crash is another manifestation of the problem that is behind other mysterious crashes in networking tests: https://github.com/dotnet/runtime/issues/74795 and https://github.com/dotnet/runtime/issues/72830 . There seems to be a stray mem

[2022-09-09 06:07] MichalStrehovsky commented on #74710
I was looking at the System.Security.Cryptography.Tests crash in #75306 that also looks similar (we end up in some location that is not valid code) - https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-75306-merge-171bd00681b64e6184/System.Security.Cryptography.Tests/1/console.108589f8.log?helixlogtype=result.

That one is not a networking test, but libcrypto is the com

[2022-09-09 06:10] JoakimJohesan commented on #73610
We are running `OpenSSL 1.1.1n  15 Mar 2022`, what version should we try out?

[2022-09-09 06:12] MichalStrehovsky commented on #74710
The stack for the System.Security.Cryptography test failure is (notice the offset of the last frame is very far away from anything known):

[code]

[2022-09-09 06:37] jammehcow commented on #75049
@Maoni0 With an initial output of `29`MB, committed bytes is `78265664`.

[2022-09-09 06:53] Maoni0 commented on #75049
ahh, so the numbers you quoted were working set, not committed bytes.

I didn't notice that you were running in a container without memory limits. that explains what you are seeing. on linux our OS layer does some bookkeeping to keep track of pages it gives out. and that bookkeeping uses one byte for each page. since you don't have a memory limit, in .net 7.0 we reserve a 256GB range which takes 6

[2022-09-09 06:54] liveans commented on #75134
Merged into release/7.0.
Closing

[2022-09-09 06:54] #75134 closed

[2022-09-09 06:57] rzikm commented on #73610
I would start by downgrading to the same version as on the working image if possible. If it does not reproduce anymore, it is possible that it is not our fault.

[2022-09-09 07:16] MichalStrehovsky opened #75329 "System.Diagnostics.Tests.ProcessTests.GetProcessesByName_ProcessName_ReturnsExpected [FAIL]"
Seen in https://github.com/dotnet/runtime/pull/75055/checks?check_run_id=8264228552

[code]

There were recent changes around it in #67589.

[2022-09-09 07:22] adamsitnik commented on #75289
@vcsjones is right, #72193 was not included in Preview  7, but it in RC 1

Now we have tests for these particular keys for rxvt and I am 100% sure they work as expected:

Arrow keys and all modifiers:

https://github.com/dotnet/runtime/blob/1f6ebd011d5be79cc545d3358774d465d91ab9b4/src/libraries/System.Console/tests/KeyParserTests.cs#L1088-L1107

Home:

https://github.com/dotnet/runtime/blob/1f6ebd

[2022-09-09 07:23] jammehcow commented on #75049
So just to clarify, this is intended behaviour for both:
 - Linux containers without set memory limits
 - non-containerised Linux hosts?

[2022-09-09 07:30] Maoni0 commented on #75049
correct. I was told that we are planning to get rid of this bookkeeping in our linux OS layer but not in this release.

[2022-09-09 07:31] JoakimJohesan commented on #73610
Working image is running `OpenSSL 1.1.1n  15 Mar 2022` as far as i can tell. (Checked with docker) So we are not actively doing anything about our OpenSSL version.

[2022-09-09 07:35] rzikm commented on #74629
From what I understand, the PR updates the relevant docker images to a version which works, and later, there will be another PR which updates to images to the official 2.1.1 bits on all tested platforms.

[2022-09-09 07:38] adamsitnik commented on #75305
Is there any chance PowerShell could set `TERM` env variable?

I am not 100% sure as I don't know what caused the difference in first place. Could you please test it with RC1?

[2022-09-09 07:43] akoeplinger commented on #75307
The MacCatalyst runs shouldn't be related to mlaunch since afaik we don't use mlaunch to run Catalyst apps.

[2022-09-09 07:51] JoakimJohesan commented on #73610
This looks similar: https://github.com/dotnet/dotnet-docker/issues/3976

I was not able to find OpenSSL on the previous working image, it looks like ssl_client was used there?

[2022-09-09 07:55] vitek-karas commented on #71288
That sounds good as well - I was kind of hoping that the architecture/version should be handled by the website - since mostly it's needed to pick the right URL on the existing website. But either way works great.

[2022-09-09 08:33] Joe4evr commented on #75204
This is not something that changed with .NET 7, [it changed in .NET Core 3.0](https://devblogs.microsoft.com/dotnet/floating-point-parsing-and-formatting-improvements-in-net-core-3-0/#making-the-formatter-ieee-754-2008-compliant).

[2022-09-09 09:12] gfoidl commented on #75322
I'm looking forward that this API gets approved -- so I can implement it 😉

[2022-09-09 09:17] perpetualKid commented on #73250
I've rerun on different hardware, and capture the result header as well, but doesn't change anything on my former observation.

[code]

|    Method |                Job |            Runtime |     Mean |   Error |  StdDev |
|---------- |------------------- |------------------- |---------:|--------:|--------:|
| ReadInt32 |           .NET 6.0 |           .NET 6.0 | 195.3 us | 2.90 us | 2.71 us |
| R

[2022-09-09 09:32] c-ohle commented on #75204
@Joe4evr Thanks for the info, very helpful, then it's probably mature and I don't need to expect further changes for my implementation for arbitrary number types that should be 100% compatible. But I will leave it switchable.

[2022-09-09 09:54] mhlindstr commented on #74159
PR merged in.

[2022-09-09 09:54] #74159 closed

[2022-09-09 09:55] shadow-cs commented on #72177
@karelz unfortunately I couldn't reproduce the issue on either of my VMs (Windows Server 2019 and 2022). I did retest again on our DEV environment and was able to reproduce the issue again. I also tested on our STG environment and I was also able to reproduce the issue (but both VMs run on the same cluster).

I'd very much like to provide you with more information, but at this point, I don't know

[2022-09-09 10:00] c-ohle commented on #75204
@Joe4evr One question. Maybe you are familiar with the algorithm. I recognized that the more precise rounding version not automatically need more digits what is logic since the other version is the more precise representation for another input value close to this. Is this in the for me new algorithm already taken into account?

[2022-09-09 10:06] PeterSolMS commented on #75224
I think we are reading 16 bytes, but then sign extending the low 8 bytes to 8 dwords.

So I think that from the out of bound access, there is no functional problem in that the sort will still work ok.

I agree with @cshung that adding 8 more bytes at the end will fix the out of bounds access, and won't cause issues.

[2022-09-09 10:11] PeterSolMS commented on #74014
Right, workloads that do lots of object pooling and low allocation may conceivably run into this. The escape hatch that we provide would be to set COMPLUS_GCWriteBarrier=3 which would use a less precise but faster write barrier. That is the same writebarrier we used with SVR GC on .NET 6.0, so performance should be the same.

[2022-09-09 10:16] stephentoub commented on #74014
Doesn't this describe ASP.NET itself?

Did this show up in TechEmpower benchmarks at all?

[2022-09-09 10:25] EgorBo commented on #75224
There is still a very small chance you'll hit an AV if you read more than required, if next 8 bytes are located on next page

[2022-09-09 10:30] uweigand commented on #75329
I just saw similar errors in a run on s390x-linux:
[code]

What seems to have happened here is that I had some older `dotnet` processes running on my system (some msbuild compile server jobs that were still around), and it seems to have picked up the start time of those?

After killing those processes and re-running the test, the errors are gone.

[2022-09-09 10:32] quan0zhou commented on #72644
**The problem has been solved, after the system update there is no longer this problem,very amazing**

[2022-09-09 10:45] #72644 closed

[2022-09-09 10:50] neon-sunset commented on #75317
Here are the numbers for prototype impl. that can only handle `char` separator from https://gist.github.com/neon-sunset/df6fb9fe6bb71f11c2b47fbeae55e6da
[code]
|    Method |                Value |      Mean |     Error |    StdDev | Ratio |  Gen 0 | Allocated |
|---------- |--------------------- |----------:|----------:|----------:|------:|-------:|----------:|
|     **Split** | **Autho(...)token

[2022-09-09 10:52] rjgotten commented on #74273
At the very least allow re-opening of a closed 'stale' issue when someone replies _after_ automatic closure.
Mind: not just the original author of the request for the new API! New people looking for the same - or an extremely similar - API can show up over time as well, after all. And do you really want them to create new issues and restart from scratch?

[2022-09-09 10:53] lukaszch commented on #73754
Hi @jeffschwMSFT,
Is there any chance that somebody will check if there is any chance to fix this issue in .NET 6, which is LTS, and we would love to use it now, instead of waiting for .NET 8?

We are completely stuck with our migration from .NET Framework to .NET 6 until this issue is resolved, or we have some workable workaround. Unfortunately, so far, we haven't found any.
The code is working f

[2022-09-09 11:31] DaZombieKiller commented on #72107
Am I correct in thinking that the following would not suffer from normalization issues?
[code]
Since the address of `example` is taken, that should prevent it from being enregistered and thus the values being operated on will never be in floating-point registers, right?

[2022-09-09 11:48] shadow-cs commented on #72177
@karelz could I run `Perfview` or some other tracing tool (which trace data would be useful to you in this case) to gather some data from the process?

[2022-09-09 12:14] filipnavara commented on #73299
I wonder if the root cause could be similar as https://github.com/dotnet/runtime/pull/75264#discussion_r966997766.

[2022-09-09 12:19] #75329 closed

[2022-09-09 12:21] marek-safar commented on #75278
I don't think mono/ org should be a problem for source build (we have or had sources used by source build there before) but I have no objection to creating another fork under dotnet/ org. We just need to be careful about versioning of the internal cecil package/dlls.

[2022-09-09 12:29] ovska commented on #75317
Seems like a large and compilated api surface, considering it can be done with an `IndexOf` and two slices, as is done the linked implementation.

[2022-09-09 12:45] ivanpovazan opened #75337 "[mono] iOS HelloWorld sample build configuration does not use same size optimizations as MAUI"
When building MAUI iOS apps the build process includes stripping the IL code from referenced assemblies to produce smaller output in full AOT builds. This is achieved by including a build step to invoke [`ILStrip`](https://github.com/dotnet/runtime/tree/main/src/tasks/MonoTargetsTasks/ILStrip) build task as it can be seen:

- [Xamarin.Shared.Sdk.targets](https://github.com/xamarin/xamarin-macios/b

[2022-09-09 12:46] ivanpovazan commented on #75337
cc @SamMonoRT @LoopedBard3

[2022-09-09 12:59] karelz commented on #72177
Let's see if @wfurt or @rzikm have any ideas what we might want to collect ...
Note: We are a bit busy with 7.0 finish at this moment, so answer from them might be delayed for few days / a week ... just FYI

[2022-09-09 13:09] shadow-cs commented on #72177
Understood @karelz I just wanted to handle this in time while we're able to reproduce the issue somewhere. After our patching window, the issue may go away without us knowing the culprit. We're spinning up a clean VM and trying to reproduce it there, I'll post the results as soon as I have them.

[2022-09-09 13:23] stephentoub commented on #75325
Another here:
https://github.com/dotnet/runtime/pull/75303/checks?check_run_id=8259916750
https://dev.azure.com/dnceng-public/public/_build/results?buildId=9329&view=logs&jobId=e93c566c-b6be-5acb-6fc2-de2972d01fec&j=e93c566c-b6be-5acb-6fc2-de2972d01fec&t=2dc174be-b57a-56b6-9566-e621f39fb1f6

[2022-09-09 13:26] neon-sunset commented on #75317
Thanks, I have seen the linked proposal but thought the above use case is a "low hanging fruit" that can serve one of the most often used `.Split()` scenarios sufficient to warrant a separate proposal. In general, the span split proposal would benefit greatly if C# had first-class span-taking iterator type. E.g. Rust iterators which effectively mirror C#'s `IEnumerable<T>` but work in high-perform

[2022-09-09 13:36] karelz commented on #75134
Fixed in main (8.0) in PR #75193 and in 7.0 (RC2) in PR #75246.

[2022-09-09 13:36] stephentoub commented on #75317
It just doesn't seem like it saves a lot.  Presumably all of these would have to throw an exception if the separator wasn't found (putting everything into one of the two sides seems arbitrary and likely bug-inducing), and I'm not sure that actually maps to the majority use case where this would be used (you have a header parsing example, but I struggle to imagine real-world usage for header parsin

[2022-09-09 13:36] AaronRobinsonMSFT commented on #75052
@elinor-fung Should we add explicit mention of the `A` and `W` mechanism?

[2022-09-09 13:42] jeffschwMSFT commented on #73754
Thank you for providing details on the impact.  On process is to first fix it in our primary branch and then consider backporting.  Adding some folks that might be able to offer a suggested workaround in the meantime.

cc @jkoritzinsky  @elinor-fung @AaronRobinsonMSFT

[2022-09-09 13:53] karelz commented on #74710
I added System.Security.Cryptography into the table in top post. There have been 2 PRs yesterday to hit it.
@bartonjs any ideas?

[2022-09-09 13:59] mangod9 commented on #74014
We haven't noticed any latency/throughput regressions in TE. @sebastienros as fyi.

[2022-09-09 14:02] AaronRobinsonMSFT commented on #73754
I don't know of the correct fix here as I've just not had time to take a look. To be honest I was considering this very low priority because of COM Events. I can make some time when I get back if this is a priority. I don't know of a workaround without debugging.

arr

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Jeff Schwartz ***@***.***>
Sent: Friday, Septe

[2022-09-09 14:24] roji commented on #74170
See update in https://github.com/dotnet/runtime/pull/74570#issuecomment-1242035821 - I propose to block ARM for rc2 and am updating PRs #74226 and #74570 to do so. We can continue investigating in parallel, of course.

[2022-09-09 14:35] lukaszch commented on #73754
Thank you for your prompt reaction!

@AaronRobinsonMSFT, from our point of view, it's critical as the application hangs, and there is no known workaround.

In the repo https://github.com/MichalWeczorek/COM-event-with-recursion-.net-6-problem, there's ready code for debugging. We are also happy to provide any required feedback to resolve this issue.

Keeping our fingers crossed for your findings an

[2022-09-09 14:40] danmoseley commented on #74795
As we have reason to suspect a product bug, should this be milestone 7.0?

[2022-09-09 14:47] rzikm opened #75343 "QuicListener will not throw when listening on IPv6 address on systems with disabled IPv6"
### Description

QuicListener will not throw when attempting to listen on IPv6 address if IPv6 was disabled on the system. This diverges from the behavior common e.g. on Sockets (which will throw when binding to an IPv6 address on such systems).

### Reproduction Steps

1. Disable IPv6
2. Start QuicListener on IPv6 loopback (or other IPv6 address)

### Expected behavior

`QuicException` with `Quic

[2022-09-09 14:49] jkotas commented on #74795
Yes, I think so.

[2022-09-09 14:52] davidfowl commented on #74014
I need an ELI5 to better understand how this affects workloads. What does object pooling mean here exactly? Does it matter what technique is used to do the pooling or just the fact that objects are long lived and reused?

[2022-09-09 15:04] stephentoub commented on #73250
Something very strange is going on. @adamsitnik, can you take a look?

This also doesn't appear to be related to BinaryReader but rather all about FileStream, e.g. this:
[code]
run with:
[code]
gives me this:

| Method |            Runtime |     Mean |    Error |   StdDev | Ratio |
|------- |------------------- |---------:|---------:|---------:|------:|
|   Read |           .NET 6.0 | 69.45 us | 0

[2022-09-09 15:06] jakobbotsch commented on #75249
This looks like fallout from #74384. From a cursory glance we do an illegal copy propagation: `vr1` in the example is promoted, the local created for `vr.F0` is address exposed, yet we remove the copy of `vr1` to a temp. (We do not address expose the parent struct in this case).

Presumably the fix is simple and is to make copy propagation illegal if any field is address exposed.

I won't have tim

[2022-09-09 15:17] jkotas commented on #72107
Yes, however I do not think you would want to write this code this way, for the structure in your example at least.

The signature of an API optimized for in-place swapping that you are trying to do here would be `void ReverseEndianness(ref float value) => Unsafe.As<float,uint>(ref float) => ReverseEndianess(Unsafe.As<float,uint>(ref float))`. You can implement this as a one-liner helper yourself

[2022-09-09 15:17] lateralusX commented on #75125
So the same thing happens in a simple expression like this:

[code]

so our intrinsic implementation in Mono will just return the input ref firstValue as the output of the function (internally handled as a System.IntPtr) and then the next instruction loads the value from that pointer, but since the load IL is loading a char, it will read two bytes from the pointer. Reading up on the documentation

[2022-09-09 15:22] Hazardu opened #75345 "[wasm] Emscripten cache being unwritable due to permissions can cause AOT build to get stuck"
### Description

I am trying to build a Blazor WebAssembly app referencing a C++ library built with `emcc`, but the build problem halts after finishing the pre-build event and a warning about a nullable field, and prints out this warning:
[code]

The cache file is not cache.lock is not created

### Reproduction Steps

https://github.com/Devsh-Graphics-Programming/GPU-With-C-Sharp-Angular-WASM/tree

[2022-09-09 15:35] jkotas commented on #74710
The interesting detail in this dump is that there is `libmsquic_lttng_so_2_2` loaded, but `libmsquic` is not. It means that the process loaded `libmsquic` at some point in the past for the msquic IsSupported check, unloaded it, but `libmsquic_lttng_so_2_2` stayed around.

@rzikm @wfurt @karelz Is it expected that `libmsquic_lttng_so_2_2` stays loaded even after libmsquic is unloaded? Any chance th

[2022-09-09 15:40] eiriktsarpalis commented on #75314
Couple of questions:

* Is this a regression from .NET 6?
* Can you share a console app containing a minimal reproduction of the issue?

Thanks!

[2022-09-09 15:43] steveharter opened #75347 "[API Proposal]: Reflection invoke support for FunctionPointer"
[primarily a placeholder for now for planning]

This adds invoke capability to function pointers, layering on See also https://github.com/dotnet/runtime/issues/69273.

This will likely create a new `MethodSignature` class that will have an `Invoke()` method, analogous to [Delegate.DynamicInvoke(https://docs.microsoft.com/dotnet/api/system.delegate.dynamicinvoke)]() and [MethodBase.Invoke(https://d

[2022-09-09 15:44] steveharter opened #75348 "[API Proposal]: IL Emit support for FunctionPointer"
## Background and motivation
.NET has supported reflection introspection of function pointer types since .NET 8. This feature works well for existing type definitions, but currently there is no built-in way to construct `System.Type` instances representing *arbitrary* unmanaged function pointer types. This has implications in runtime code generation (`System.Reflection.Emit`), where it is currentl

[2022-09-09 15:46] danmoseley commented on #75327
@JavaScript-zt I edited your post with ``` fences to make it more readable. Thanks for the issue.

[2022-09-09 15:56] steveharter opened #75349 "[API Proposal]: byref parameter collection for invoke"
[primarily a placeholder for now for planning]

This will likely need to be done in 8.0 without support for byref-like generic support since that is not a given for 8.0. This means that byref-like types in this collection will need to be passed as unsafe pointers.

See also:
- https://github.com/dotnet/runtime/issues/45152
- https://github.com/dotnet/runtime/issues/38488

[2022-09-09 15:57] eiriktsarpalis commented on #75269
I tend to agree that this is an omission that should be fixed. However, it doesn't meet the bar for a .NET 7 fix.

[2022-09-09 16:03] eiriktsarpalis commented on #75327
This is by design; types implementing `IAsyncEnumerable` can only be serialized using one of the `JsonSerializer.SerializeAsync` overloads and cannot be handled using the sync methods. As a workaround you might consider registering a custom converter for the type in question that serializes using sync-over-async.

[2022-09-09 16:03] #75327 closed

[2022-09-09 16:07] Stroniax opened #75351 "[API Proposal]: IEnumerable<T> Default Implementation for IEnumerable"
### Background and motivation

`System.Collections.Generic.IEnumerable<T>` implements `System.Collections.IEnumerable`, and initially because there were no default interface implementations this meant that the `GetEnumerator` method must be implemented twice on any type that implements the generic `IEnumerable<T>`. `IEnumerator<T>` implements `IEnumerator`, which means that generally the non-gener

[2022-09-09 16:10] stephentoub commented on #75351
Duplicate of https://github.com/dotnet/runtime/issues/29513

[2022-09-09 16:19] mandel-macaque commented on #75307
As @akoeplinger mentioned, mlaunch is not needed for maccatalyst, since it does not need to be added to a device neither it needs the TCP tunnel. Yet, the stack trace from @steveisok points to an issue when creating the tcp tunnel with an apple tv.

@steveisok there area  few things we need to clarify what exactly is happening.

1. As per logs, there are two different apple tv devices: DNCENGTVOS-

[2022-09-09 16:19] mattjohnsonpint commented on #39816
@tarekgh - I don't believe this proposal was for obsoleting `DateTime`, but rather to systematically look for properties on .NET classes that are exposed only as `DateTime` where they would be better exposed as `DateTimeOffset` (or `DateOnly` or `TimeOnly`)

The clear example is `System.IO.FileSystemInfo`, which has pairs of `DateTime` properties for creation, last access, and last write, all of w

[2022-09-09 16:22] mattjohnsonpint commented on #52081
LGTM also.

[2022-09-09 16:24] eiriktsarpalis commented on #33388
I wouldn't think so. For one, it is probably too inefficient for any use beyond testing (e.g. as an equality comparer in a dictionary). Fundamentally, this reflects the type's design and implementation: unlike `JToken`/`JsonNode` objects aren't represented using dictionaries so these need to be constructed on each comparison.

If we did add a built-in implementation of equality, I think `JsonDocum

[2022-09-09 16:27] tannergooding commented on #72107
Updated to exclude `char`, `double`, `Half`, and `float` for the time being.

[2022-09-09 16:28] eiriktsarpalis commented on #37483
Given the added complexity, we might want to hold off on adding this unless there is a proven use case. Perhaps focus on exposing enum support for now.

[2022-09-09 16:28] wfurt commented on #74710
cc: @nibanks. My understanding is that `libmsquic_lttng` is bridge from msquic to Linux tracing. AFAIK the main focus was to avoid active running threads more so than completely unload. The crashes seems older than https://github.com/dotnet/runtime/pull/75163, right?

[2022-09-09 16:29] tarekgh commented on #39816
from the proposal:

[code]

That is fine, I am not opposing that :-)

[2022-09-09 16:33] daxian-dbw commented on #75305
PowerShell doesn't set `TERM` env variable, it just derives that env variable:
[code]

[2022-09-09 16:37] #75351 closed

[2022-09-09 16:41] bartonjs commented on #74710
[code]

I can think of no reason why X509_get_pubkey_parameters would call (shadow_)DES_check_key.  https://github.com/openssl/openssl/blob/6e6aad333f26694ff39aba1e59b358e3f25a9a1d/crypto/x509/x509_vfy.c#L1948-L1981

DES would have nothing to do with a chain build.  SO some sort of memory corruption is happening somewhere.  (I don't even see anything there that would be calling an object-stored fn

[2022-09-09 16:58] wfurt commented on #75343
How is the IPv6 disabled? We would fail to create IPv6 socket? Or just fail to bind/connect to `::1` ???

[2022-09-09 17:04] Tratcher opened #75353 "[API Proposal]: Determining the http protocol version chosen by ClientWebSocket"
### Background and motivation

.NET 7 now supports WebSockets over HTTP/2. ClientWebSocket can negotiate with the server to choose HTTP/1.1 or HTTP/2 based on what's available. However, there's not an easy way to determine which protocol was used. HttpResponseMessage has the Version field to let you know this, but ClientWebSocket does not.

This information is mainly useful for testing, logging, d

[2022-09-09 17:04] mattjohnsonpint commented on #39816
Sure.  To be more precise on the 6 steps proposed in this issue

1. > Implement a Date structure for those scenarios that require only date.

    Already completed with `DateOnly` / `TimeOnly`

2. > Incrementally add supplementary `DateTimeOffset` properties anywhere that `DateTime` is used in Dotnet

    I believe this has the most value.  Similar work was done with adding `TimeSpan` properties/p

[2022-09-09 17:07] danmoseley opened #75354 "SendFileGetsCanceledByDispose failed with ObjectDisposedException"
I'm not sure whether this is specific to the test, or just random timing that could affect any test (in which case this issue could be closed as a dupe maybe).

Was running locally, with today's main, on Windows 21H2.

[code]

[2022-09-09 17:09] danmoseley commented on #72959
Still failing for me -- if anyone has steps I can use to investigate more (than I did above) -- LMK..

[2022-09-09 17:10] jeffschwMSFT commented on #74756
@mrsharm @mangod9 thoughts on who should investigate next?

[2022-09-09 17:20] davidni opened #75355 "UnobservedTaskException's from ReadAheadWithZeroByteReadAsync"
### Description

We are seeing a large number of UnobservedTaskException's as below:

[code]

The fault seems to originate from here, where indeed exceptions will go unhandled:
https://github.com/dotnet/runtime/blob/071fe7ce868a63113143b949c3c4185f9e5578cf/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs#L221-L234

### Reproduction Steps

Unclear but shouldn't

[2022-09-09 17:24] MihaZupan commented on #75355
Duplicate of #61256

Sadly not, that change never went in.

[2022-09-09 17:24] #75355 closed

[2022-09-09 17:25] MihaZupan commented on #75355
I'll update the original issue with the stack trace so it's easier to find

[2022-09-09 17:26] lambdageek commented on #75263
bit of a change of plans.  Emscripten doesn't make it easy to look for some (but not all) system libs in another directory.  So we're going to spin out the whole emscripten cache into a separate nupkg instead and put both normal and -mt libraries in there

[2022-09-09 17:29] mrsharm commented on #74756
I think since this is turning out to be a more generic perf investigation with some symbol resolution issues, I think @brianrob could help.

Will be more than happy to revisit in case we get the symbol resolution working for these traces, however, until that point, it's difficult to attribute the underlying issue.

[2022-09-09 17:33] MihaZupan commented on #61256
I think we should fix this in 8.0. Leaking internal exceptions like this is ugly.

[2022-09-09 17:33] danroth27 opened #75356 "Unable to run WebAssembly Browser App from VS or CLI"
### Description

I'm unable to run a new WebAssembly Browser App from VS or the CLI.

### Reproduction Steps

[code]

Or create the project from VS and try to run in VS.

### Expected behavior

App runs successfully

### Actual behavior

The application to execute does not exist: 'C:\Program'

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

7.0.100-rc.1.224

[2022-09-09 17:34] mangod9 commented on #74756
@MartinZid is it possible to also narrow down the repro without the use of `dotnet test`?

[2022-09-09 17:36] tarekgh commented on #39816
Mostly I agree with you @mattjohnsonpint. for no. 2, do you have any candidate list for that? I am aware about `System.IO.FileSystemInfo` but wondering if you already have any list in mind?

[2022-09-09 17:43] AndyAyersMS commented on #64626
Moving this to area-gc since it seems to be related to recent gc changes.

[2022-09-09 17:53] mattjohnsonpint commented on #39816
Not off hand.  Someone should do a comprehensive search.

[2022-09-09 17:54] wfurt commented on #73610
do you generate the keys/certificates automatically or is that static/permanent @JoakimJohesan ?
cc: @bartonjs in case he has more insight into the `rsa_ossl_public_decrypt:data too large for modulus`

[2022-09-09 17:58] radical commented on #75356
Fix is being backported for rc2: https://github.com/dotnet/runtime/pull/75295

[2022-09-09 18:02] wfurt commented on #72830
Got another repro on RedHat.7 https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-75287-merge-d8d21444e6d84e278f/System.Net.Mail.Functional.Tests/1/console.30b0113a.log?helixlogtype=result

dump is [here](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-75287-merge-d8d21444e6d84e278f/System.Net.Mail.Functional.Tests/1/core.1000.23697).

[2022-09-09 18:11] bartonjs commented on #73610
Offhand, something is computing an RSA signature verification, but the signature is N bytes, and the key is M bits, where `M < N * 8`, e.g. the public key is a 2048-bit key and the signature was larger than 256 bytes.

But since I don't overtly see handshaking in the callstack, I'm confused.  Once the session key is established RSA no longer has any role.

There's always the possibility that the m

[2022-09-09 18:16] steveharter opened #75357 "Change IL Emit invoke path to use function pointers and OpCodes.Calli"
Currently, the invoke fast-path generates IL using [either `call` or `callvirt`](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Private.CoreLib/src/System/Reflection/InvokerEmitUtil.cs#L77-L84). If this is changed to use `calli` and function pointers, it is possible to cache the generated dynamic method and use it for all such calls to the same signature. This reduces the memory

[2022-09-09 18:18] lewing commented on #75356
With that fix

[code]

[2022-09-09 18:18] steveharter opened #75358 "System.Reflection work planned for .NET 8"
This issue captures the planned work for .NET 8. This list is expected to change throughout the release cycle according to ongoing planning and discussions, with possible additions and subtractions to the scope.

## Planned for .NET 8

### Function Pointers
- [x] [original issue]: [Representation of function pointer types in the reflection stack](https://github.com/dotnet/runtime/issues/11354)
- [

[2022-09-09 18:18] JeremyKuhne commented on #52081
Yes. :)

[2022-09-09 18:18] lewing commented on #75356
@thaystg can you take a look?

[2022-09-09 18:19] akoeplinger opened #75359 "VectorConvert_r_Target_64Bit and VectorConvert_ro_Target_64Bit fail with LLVM 14"
Discovered on https://github.com/dotnet/runtime/pull/75055

[code]

from here https://github.com/dotnet/runtime/blob/ca0d3e4ddd50311ebb4320db0637713cb1ec23ce/src/tests/JIT/SIMD/VectorConvert.cs#L209-L227

[2022-09-09 18:20] radical commented on #75356
Looks like it is not running the WasmAppHost, and instead trying to find an apphost as it normally would. @thaystg do confirm the `$(RunArguments)` are correct. You can also try running the command manually to check that it isn't something else.

[2022-09-09 18:21] zcsizmadia commented on #29975
[DataContractResolver](https://github.com/zcsizmadia/ZCS.DataContractResolver) is trying to solve this. Unfortunately it requres STJ v7+.

Please provide test cases for data contracts with an expected serialized output.

[2022-09-09 18:22] mandel-macaque commented on #75307
@akoeplinger if @premun does not have the time, I can take a quick look, that should be a simple fix in xharness.

[2022-09-09 18:22] Jozkee opened #75360 "Tar: ustar entries with long name unable to roundtrip"
When you use `new UstarTarEntry(TarEntryType entryType, string entryName)` there's no exception about the entryName length, so I would expect that the format could handle any name but when I try to write a name larger than 100, the chars past 100 are written to the prefix.
When you read back the entry, we concat prefix + '/' + name, which makes the name different to what you wrote.

[code]

We nee

[2022-09-09 18:22] radical commented on #75345
cc @radekdoulik

[2022-09-09 18:28] tarekgh commented on #52081
I have updated the API name in the original proposal. Should it return `int` instead of `short`? I know `short` is enough but looking at the API usage in the code sample looks using `int` anyway.

[2022-09-09 18:34] AnteaterStudios opened #75362 "[API Proposal]: Type.HasDefaultConstructor method"
### Background and motivation

The purpose of the method is to check whether a type has a default (parameterless) constructor of not.

An example of usage is to check whether `Activator.CreateInstance(Type type)` method with return an exception due to missing necessary argument or not before it is called.

### API Proposal

[code]

### API Usage

#### IPlugin interface

[code]

#### Loading the IP

[2022-09-09 18:37] AnteaterStudios commented on #75362
The method would be directly implemented into the Type class. Ignore the fact that I have written it as an extension method.

[2022-09-09 18:37] eerhardt commented on #75276
You can do this today by using a class derived from `WindowsServiceLifetime`, which is derived from `ServiceBase`.

In your builder code, add a Singleton service for `IHostLifetime` for your derived class, so it gets used, and call the method from OnStart :

[code]

[2022-09-09 18:38] #74494 closed

[2022-09-09 18:38] brianrob commented on #74756
I'm reading through this thread now to get a full understanding of the issue as we know it so far.  Containers add some complexity into how we capture - the lack of ability to resolve coreclr symbols is likely related to this.  @MartinZid, can you tell me more about how the tests are deployed and how you're capturing?  Specifically, when you capture these traces, are the tests running inside of th

[2022-09-09 18:41] radical commented on #75345
1. Does this happen only when you have the NativeFileReference?
2. Are you able to reproduce this from the command line? if so, then can you run it with `/v:diag`? That should give us some idea about where it is actually stuck.

[2022-09-09 18:42] danroth27 commented on #75356
Once build and run from VS and the CLI Just Works:tm: do we still need the README? The README could use some cleanup, or maybe it could just be removed.

Some suggested README updates if we want to keep it:

![image](https://user-images.githubusercontent.com/1874516/189421633-0e34bad5-322a-429b-8c84-da232224caa6.png)

## .NET WebAssembly Browser app

## Build

You can build the app from Visual Stu

[2022-09-09 18:48] cshung commented on #75224
@EgorBo, If I am reading correctly, https://stackoverflow.com/questions/37736496/sse-unaligned-load-and-store-that-crosses-page-boundary seems to imply crossing page boundary is okay, am I missing something?

[2022-09-09 18:49] eerhardt commented on #41341
I would like to see the `Summary` change:

[code]

That way in the future when we have some new app model (shadow-copy? another extract assemblies thing?) that probes for assemblies in a different directory than where the application lives, we ensure that `AppContext.BaseDirectory` points to where consumers expect it to point to. The reason given why it wasn't fixed for the 3.x extract-to-temp sin

[2022-09-09 18:52] EgorBo commented on #75224
It's not correct if you don't own the next page, consider this example: https://gist.github.com/EgorBo/aeaaae0755c2dfa04320b2a9372b900e

It has a function with a bug - it works fine when you pass a managed array there, but if you pass a native memory that is located at the page boundary - it crashes with AVE

[2022-09-09 18:55] cshung commented on #75224
Oh, the idea is that if we pad the array with 8 more 0s at the end, then we will own the page.

[2022-09-09 19:11] gregsdennis commented on #33388
The entire point of this issue, and everyone's argument, is that we need some sort of JSON-equality comparison (the model, not the text).  That's the use case that everyone is describing.  No one in this thread has requested some other kind of equality.

[2022-09-09 19:14] #75229 closed

[2022-09-09 19:14] jkotas commented on #41341
Sounds good to me.

[2022-09-09 19:29] JeremyKuhne commented on #52081
I'd say int is the better choice given @GrabYourPitchforks comment above.

[2022-09-09 19:29] AndyAyersMS commented on #75249
Seems like we ought to block this as assertion gen, not assertion prop? We won't reason about struct kills properly if any part of a struct is exposed.

We already check for exposure during assertion gen, but we don't check for dependent field exposure.

[2022-09-09 19:29] carlossanlop opened #75368 "CI failure: Native mono arm64 crash in System.Net.Requests.Tests"
## Build Information
Build: https://dev.azure.com/dnceng-public/cbb18261-c48f-4abb-8651-8cdcb5474649/_build/results?buildId=8084
Build error leg or test failing: Libraries Test Run release mono Linux arm64 Debug / Send to Helix
Pull request: https://github.com/dotnet/runtime/pull/75222

## Error Message
Fill the error message using [known issues guidance](https://github.com/dotnet/arcade/blob/main

[2022-09-09 19:31] wfurt commented on #75368
dup of  #74795

[2022-09-09 19:31] #75368 closed

[2022-09-09 19:32] terrajobst commented on #74755
We discussed this over email and concluded that we like the proposal as-is:

[code]

[2022-09-09 19:35] jonathanpeppers commented on #73304
This one appears to be fixed in .NET 7 RC 2, we were able to enable these tests again here:

https://github.com/xamarin/xamarin-android/pull/6901

[2022-09-09 19:35] #73304 closed

[2022-09-09 19:47] JakeYallop commented on #62937
I'm not sure if this issue should still be open - it seems like this is fixed in .NET 7.0.

[2022-09-09 19:57] ViktorHofer opened #75370 "Autogenerate mobile app LocalBuild.props file"
See [src/mono/msbuild/apple/build/AppleApp.LocalBuild.props](https://github.com/dotnet/runtime/pull/75168/files/2a1000e6b716971ec8889df0d508026c7cd8ec9d#diff-35cc0050d79761f0c9aa2d62d19991ffbb779ee80301f592f6ddd15d50d8f8a6) which contains duplicated version properties like `<NetCoreAppCurrent>`. Those properties are centrally defined in the root Directory.Build.props file and that file is the sour

[2022-09-09 20:18] MichalStrehovsky commented on #74710
Unless check_key is more than 0x73ee640 bytes long, we're not actually in check_key method body. It was just the symbol debugger picked up.

[2022-09-09 20:27] lambdageek commented on #75263
Fixed in emsdk.  Now we wait for flow...

[2022-09-09 20:29] lambdageek commented on #74654
Looks like we will probably get AOT in RC2, also :tada:

[2022-09-09 20:30] Hazardu commented on #75345
1. No, if i remove the native file reference it compiles just fine
2. After running it with `dotnet run --verbosity diag` the build process stalled after
[code]

[2022-09-09 20:47] wfurt commented on #74795
This is interesting. I can reproduce with `debian-11-helix-arm64v8-20220820185253-06f234f ` @akoeplinger  used. But not with `debian-11-helix-arm64v8-20220908131932-59ee6b3` that has MsQuic 2.1.1. (note that begin of the numbers is date when the image was built)

Is there any known issue fixed in msquic in ~last month @nibanks that could cause memory corruption?
I can see that quince and noquic ca

[2022-09-09 20:56] danroth27 commented on #75356
It would also be great if the displayed app URLs on the command line used "localhost" instead of 127.0.0.1. Otherwise, I don't think the ASP.NET Core dev certificate gets used and user can get HTTPS errors in the browser. Let me know if you want me to open separate issues for this feedback.

[2022-09-09 20:59] rzikm commented on #75343
I used `sysctl` to set all `net.ipv6.conf.*.disable_ipv6=1`, I found it in some guide.

That essentially got me the same behavior as on the OpenSUSE image we have on CI

[2022-09-09 21:04] lambdageek commented on #75324
i'll take a look on monday

[2022-09-09 21:13] stephentoub commented on #59466
This is another interesting example of the issue described in https://github.com/dotnet/runtime/issues/75175, where in the past we may have waved something away as being trivial to implement as a simple loop, but with the performance of vectorization on the table and the lack of an auto-vectorization story, developers would end up needing to write a lot more code to approximate the performance of

[2022-09-09 21:21] grbell-ms commented on #75362
Now that value types can have explicit parameterless constructors, should `HasDefaultConstructor` return true for a value type without such a constructor?

[2022-09-09 21:23] eerhardt commented on #490
Another hit here:

https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-75176-merge-d74b2d2bdf234482b8/System.Net.Mail.Functional.Tests/1/console.2530842b.log?helixlogtype=result

[2022-09-09 21:24] #75031 closed

[2022-09-09 21:29] vcsjones opened #75374 "Unable to run any Libraries tests on Ubuntu 22.04 ARM64"
Using a brand new installation of Ubuntu 22.04 ARM64, I am unable to execute any tests for `dotnet/runtime`. It always results in "Testiest process exited with error: . Please check the diagnostic logs for more information".

Steps to reproduce.

1. Fresh install of Ubuntu 22.04 ARM64
2. Install dependencies as documented in the [workflow instructions](https://github.com/dotnet/runtime/blob/main/d

[2022-09-09 21:39] Thefrank commented on #14537
For those trying to build net6 with newer docker images and getting ICU failures during the build I have backported the commit in net7+ that covers the `ucol_safeClone` / `ucol_clone`  issue (`ucol_setVariableTop` / `ucol_setMaxVariable` looks like its already covered). It can be found here: https://github.com/Thefrank/dotnet-freebsd-crossbuild/blob/main/patches/runtime_backport_icunet7_to_net6.pa

[2022-09-09 21:40] vcsjones commented on #75374
Using `testhost` directly, this is what LLDB shows:

[code]

[2022-09-09 21:40] carlossanlop commented on #75374
What is `dotnet.sh`  in your command `/dotnet.sh test src/libraries/System.Formats.Asn1/tests`?

Can you try this, see if it works?:

[code]

[2022-09-09 21:40] Jozkee commented on #74684
Seems like we finally got the nod for keep as-is from @blowdart on the crypto board offline thread. Closing this issue now. Thanks, Jeremy.

[2022-09-09 21:40] #74684 closed

[2022-09-09 21:46] vcsjones commented on #75374
It's the `dotnet.sh` script [in the root of the repository](https://github.com/dotnet/runtime/blob/main/dotnet.sh).

Same result with different text output. It results in a segmentation fault.

[code]

[2022-09-09 21:47] tannergooding commented on #32954
CC. @tarekgh, is this an issue we should keep open or close?

If we should keep it open, is it near a point where it can be marked ready for review?

[2022-09-09 21:50] tannergooding commented on #59012
CC. @tarekgh, does this sound like something we should move forward on/around?

[2022-09-09 21:51] tannergooding commented on #1658
This seems like an area where the System.Net experts should weigh in on the pros/cons and if this is a direction we should move forward around.

[2022-09-09 21:52] Jozkee commented on #75360
Moving to 8.0 as ustar is not a very popular format and the workaround is to use Pax or Gnu format instead.

[2022-09-09 21:54] tannergooding commented on #661
Closing this based on the feedback above.

[2022-09-09 21:54] #661 closed

[2022-09-09 21:58] Clockwork-Muse commented on #59012
.... and/or what happens if we ever get a clock, as proposed in #36617 (since then the recommendation would be to usually get the time from the clock, as opposed to the static property).

[2022-09-09 21:59] deeprobin opened #75376 "LibraryImport fails to Marshal ByValTStr (SYSLIB1051)"
### Description

I just noticed a strange behavior when implementing the Winsock API.

### Reproduction Steps

[code]

### Expected behavior

That it works.

### Actual behavior

SYSLIB1051

### Regression?

_No response_

### Known Workarounds

* Usage of `DllImportAttribute` instead of `LibraryImportAttribute`.

### Configuration

7.0.100-preview.7.22377.5

### Other information

_No response_

[2022-09-09 22:00] tannergooding commented on #30624
Closing based on the discussion above.

[2022-09-09 22:00] #30624 closed

[2022-09-09 22:03] jkoritzinsky commented on #75376
This is a known deficiency in the new system. We do not have a source-generator today for generating marshalling information for a user-defined type. You'll need to manually define a marshaller using the new custom type marshaller model if you want to use a non-blittable user-defined type with LibraryImport.

[2022-09-09 22:05] runfoapp[bot] opened #75378 "System.Net.Mail.Functional.Tests work item failures"
Runfo Tracking Issue: [System.Net.Mail.Functional.Tests work item failures](https://runfo.azurewebsites.net/tracking/issue/428)
|Build|Definition|Kind|Run Name|
|---|---|---|---|

Build Result Summary
|Day Hit Count|Week Hit Count|Month Hit Count|
|---|---|---|
|0|0|0|

[2022-09-09 22:08] tannergooding commented on #28753
Closing this based on the above feedback.

[2022-09-09 22:08] #28753 closed

[2022-09-09 22:11] Maoni0 commented on #74014
a simple thing that you can use to gauge how much your workload might be affected is to see how much time `JIT_WriteBarrier` and `JIT_ByRefWriteBarrier` take up in a CPU profile - those are where the changes on the WB side are affecting. in general, I'm seeing in real workloads these are taking 1% or less. so even if we doubled the 1%, we'd regressed at most 1%. but we improved by making less work

[2022-09-09 22:18] tannergooding commented on #28199
As with https://github.com/dotnet/runtime/issues/14084 this isn't a direction we'd like to move forward on.

The idiomatic bit operations are guaranteed to be efficient where-as these named methods aren't and potentially push users towards a pit of failure.

[2022-09-09 22:18] #28199 closed

[2022-09-09 22:18] tannergooding commented on #20008
As with https://github.com/dotnet/runtime/issues/14084 this isn't a direction we'd like to move forward on.

The idiomatic bit operations are guaranteed to be efficient where-as these named methods aren't and potentially push users towards a pit of failure.

[2022-09-09 22:18] #20008 closed

[2022-09-09 22:21] AntonLapounov commented on #75325
This is a duplicate of #75041.  The issue is fixed in current builds; however, we are still testing Preview 7 bits.
[code]

[2022-09-09 22:25] tannergooding commented on #24601
@tarekgh, is this something that's ready for review and if not, what's blocking it?

It sounded like you were in favor above, let me know if that isn't the case.

[2022-09-09 22:28] halter73 commented on #1658
I think `Base64Url` belongs alongside `Base64` in the corelib. If you are using the Web SDK or otherwise have a Microsoft.AspNetCore.App FrameworkReference we offer a slower version of these APIs via [WebEncoders](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.webutilities.webencoders?view=aspnetcore-6.0#methods). ASP.NET Core uses it internally for some auth logic.

I bet it wou

[2022-09-09 22:28] halter73 commented on #1658
Can we label this api-ready-for-review?

[2022-09-09 22:38] AntonLapounov commented on #71702
This might be a dup of #75041.  Closing as non-actionable.

[2022-09-09 22:38] #71702 closed

[2022-09-09 22:39] jkotas commented on #74710
Right, the above stacktrace is with export symbols only so it is not accurate. For reference, the stacktrace with resolved private symbols is:
[code]

The corrupted function pointer is `verify_cb`: https://github.com/openssl/openssl/blob/OpenSSL_1_1_1-stable/crypto/x509/x509_local.h#L116

The function pointers next to it look fine. It is just the low 4 bytes of `verify_cb` that are overwritten:
[c

[2022-09-09 22:39] AndyAyersMS commented on #75206
Forward sub and or VN prop might also be places to consider.

Forward sub is currently blocked by the fact that these sorts of locals have many appearances, but if there are adjacent statements that both def the same local.....

[2022-09-09 22:41] gfoidl commented on #1658
@halter73 in https://github.com/dotnet/aspnetcore/pull/11047 main goal was to reduce the intermediate allocation -- a previous PR with vectorization was declined.

But I'd be happy if `Base64Url` comes with .NET as usage is in place.
I have a vectorized version for base64Url around, but the implementation isn't updated to latest xplat-code and maybe some new vector-tricks -- though it can serve ve

[2022-09-09 22:43] AndyAyersMS commented on #74969
I'll take a look.

[2022-09-09 22:46] tarekgh commented on #52081
Ok, I have updated the proposal and marked it as ready for review.

[2022-09-09 22:49] lambdageek commented on #57365
@danroth27 I think need to re-open https://github.com/dotnet/aspnetcore/issues/32867 since https://github.com/dotnet/sdk/pull/24538 reverted the fix for that issue

[2022-09-09 22:54] lambdageek commented on #75125
I bet it works on CoreCLR due to some accident of alignment or something.

I think this should probably just use a normal C# cast `(char)firstValue`

[2022-09-09 22:57] bartonjs commented on #74710
We do hook that callback into managed:

https://github.com/dotnet/runtime/blob/e55c908229e36f99a52745d4ee85316a0e8bb6a2/src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/OpenSslX509ChainProcessor.cs#L644-L677

The delegate is kept alive for the call via GC.KeepAlive.  If NativeAOT/arm64 doesn't respect that, maybe we've jumped to where a delegate used to

[2022-09-09 22:58] tarekgh commented on #32954
I don't think we'll go with the proposal. As suggested, adding analyzer rule for it would be better as not all hear agreeing with obsoletion.

[2022-09-09 23:03] tarekgh commented on #59012
I don't think we need to have this analyzer. There is a legitimate use for `DateTime.Now` . Suggesting `DateTime.UtcNow` everywhere wouldn't be good. I will agree only if the analyzer can detect the usage of the result and suggest `DateTime.UtcNow` only in the wrong usage cases.

[2022-09-09 23:05] AhmedZero commented on #75314
1- No, it's .NET 7.0.0-rc.2.22451.11
2- anyway it's Avalonia, not console, and I think the problem is caused by serialization of the class inherited from `ReactiveObject`. and it has a list containing more than 100,000 Objects.
anyway, I'll specify which cause the memory leak in JsonSerializer.Serialize by using dotmemory.
`public sealed class ProductInformations : ReactiveObject`

[2022-09-09 23:12] MihaZupan commented on #1658
I'm not opposed to the idea of adding Base64Url APIs to libraries, but I will repeat my concerns from https://github.com/dotnet/runtime/issues/31099#issuecomment-1231685777.

What are the expected usages of the proposed API? Existing usages of these APIs in ASP.NET are dealing with strings, but the current proposal is for UTF8 helpers. Would ASP.NET be able to consume these helpers to optimize the

[2022-09-09 23:14] tarekgh commented on #24601
I think the proposal need to be updated a little to be ready for review. Mainly, the deconstruct or need to have all DateTime parts (including year, month, day...). The thing we need to think more about if we need to include milli and micro seconds too?

Also, I am in favor adding deconstructor for DateOnly and TimeOnly too.

[2022-09-09 23:19] NickCraver commented on #59012
@tarekgh What's the harm in having an opt-in analyzer? In some codebases, there's zero legitimate usages and we want to actively prevent that. I've worked on many of these...and we ended up writing an analyzer in the solution.

[2022-09-09 23:23] tarekgh commented on #59012
I'll be fine if it is opt-in analyzer and not on by default.

[2022-09-09 23:27] AhmedZero commented on #75314
![IMG_20220910_012655.jpg](https://user-images.githubusercontent.com/26312527/189458557-a5832fa2-eb51-4988-894d-a82fe62ec28d.jpg)

[2022-09-09 23:32] lewing commented on #75324
@danroth27 versions of everything please

cc @thaystg

[2022-09-09 23:33] stephentoub commented on #75314
The title of that view is missing, but it appears to be the stack that allocated the objects. What's more interesting is the path to root that's keeping the objects alive.

[2022-09-09 23:36] danmoseley commented on #32954
Do we have an issue tracking a potential analyzer? I hit this recently myself and it's insidious

[2022-09-09 23:37] jkotas commented on #74710
Yes, it looks like a native aot problem then.

[2022-09-09 23:43] AhmedZero commented on #75314
Is it related to the same problem or not?
https://github.com/dotnet/runtime/issues/66102

[2022-09-09 23:47] commonsensesoftware commented on #1658
ASP.NET is just one common area where this would be useful. `Base64Url` is potentially useful anywhere `Uri` is used for a URL. For example, creating the URL `http://my.files.com/file.txt/` is not _safe_ and `file.txt` should be encoded (but not the entire URL). This could occur in nearly any application or serialization context, not just ASP.NET.

My primary push to support it was because when I

[2022-09-09 23:54] commonsensesoftware commented on #1658
Since it was over 2 years ago and it was just a simplified link, it may have been lost to the discussion that I did provide a Gist that has the complete implementation for what would be `System.Buffers.Text.Base64Url`:

https://gist.github.com/commonsensesoftware/aa59ac440650437b6baa607b21b28522

@tannergooding, @gfoidl - from the `Base64` commit history it would seem you have both touched the sou

[2022-09-09 23:57] AhmedZero commented on #75314
Do you need any more information???

[2022-09-10 00:02] tarekgh commented on #32954
I don't think there is an analyzer issue for that. We can open one or repurpose this issue to the analyzer.

[2022-09-10 00:04] Clockwork-Muse commented on #24601
A tick is smaller than a microsecond.
Also, there's no constructor that takes anything smaller than a millisecond, so you couldn't roundtrip back through a constructor.

[2022-09-10 00:07] AnteaterStudios commented on #75362
I imagine that someone would potentially use it to try to instantiate a new object using the "default" constructor (the one without parameters). In that case, I think that checking for value type is valid. But indeed, maybe that's not what the developer will want anyway.

Well, the method checks whether the type can be instantiated with no parameters or not. Since that is the purpose of the method

[2022-09-10 00:29] trylek commented on #34084
@eduardo-vp's attempt to remove this exclusion from issues.targets in

https://github.com/dotnet/runtime/pull/75363

apparently made this repro again, reopening.

[2022-09-10 00:35] trylek commented on #46666
@naricc - @eduardo-vp tried to remove the issues.targets exclusion for this closed issue in

https://github.com/dotnet/runtime/pull/75363

and the problem still apparently reproes, I'm reopening the issue to decide what to do here. In general I believe that all issues.targets exclusions should be temporary until a particular bug is fixed. If we decide that a certain test is not designed to run on

[2022-09-10 00:38] stephentoub commented on #75314
I'm not yet convinced there's a problem.

Yes, what I asked for above:
"in the resulting snapshot looking to see what objects are taking up all the space and what their "roots" are"
"What's more interesting is the path to root that's keeping the objects alive."

Alternatively if you have a dump of the process to share that's fine, too.

[2022-09-10 00:39] tarekgh commented on #24601
Not true. https://source.dot.net/#System.Private.CoreLib/src/libraries/System.Private.CoreLib/src/System/DateTime.cs,568

[2022-09-10 00:44] adam-dot-cohen opened #75385 "[API Proposal]: Interlocked.CompareExchange and Interlocked.Exchange Generic Overload with Unmanaged Type Constraint"
### Background and motivation

It would be useful to have a generic overload for `Interlocked.Compare` and `Interlocked.CompareExchange` with a constraint of "unmanaged" for global support of structs, etc...

**Benchmark of Sample Code**

The following benchmark of the proposed code for illustrative purposes only.  It's based on two competing threads making random `CompareExchange` assignments to

[2022-09-10 00:57] trylek commented on #56814
Reopening as there exist test exclusions in the issues.targets file tagged with this issue and the tests continue failing after removal of the exclusions in @eduardo-vp's PR #75363. We need to decide what to do here, ideally issues.targets should only be used for temporary test blocking until a particular bug is fixed; if we come to the conclusion that a certain test is not designed to work in a g

[2022-09-10 00:59] AhmedZero commented on #75314
![IMG_20220910_025841.jpg](https://user-images.githubusercontent.com/26312527/189462530-f109d7b9-d917-4ebe-8e12-284c496636a6.jpg)
There is anyway to serialize only specific fields only?

[2022-09-10 01:09] Clockwork-Muse commented on #24601
Ah.  Which is new in 7, and the documentation shows 6 currently (because 7 is in preview).

[2022-09-10 02:06] stephentoub commented on #59012
Does that really need a specific analyzer?  Couldn't such code bases just add the method to a banned API list?
https://github.com/dotnet/roslyn-analyzers/tree/main/src/Microsoft.CodeAnalysis.BannedApiAnalyzers

[2022-09-10 02:30] ufcpp commented on #59012
I think the biggest problem with `DateTime` is that the cast operator converts "DateTime" with `Unspecified` kind to `DateTimeOffset` as `Local` kind.

[code]

Should `operator DateTimeOffset(DateTime dateTime)` be unconditionallly banned? or banned only when `DateTime` has `Unspecified` kind? The banned API list is sufficient for the formater but not for the latter?

[2022-09-10 03:27] afilatov-st commented on #71472
It seems I was able to reproduce the problem in a synthetic test. I created 450 threads in the thread pool. When the dump is made the memory usage jumps to 3.72 Gb.

Program to reproduce:

`Program.cs`
[code]

`DumpTest.csproj`
[code]

`Dockerfile`
[code]

I also noticed that if the dump was successfully made the CPU usage stays slightly increased, but this is not the main concern for now.

[2022-09-10 04:13] jkotas commented on #74902
Test disabled by https://github.com/dotnet/runtime/pull/75309

[2022-09-10 04:15] jkotas commented on #75302
Test disabled by https://github.com/dotnet/runtime/pull/75306

[2022-09-10 04:20] Penguinwizzard opened #75387 "Dotnet apps fail to start when run in a directory containing a backslash"
### Description

If a dotnet self-contained app starts up from a path where a component contains a backslash (e.g. `/home/cooluser/fancy\folder/app_binary`, where one of the folders in the path is named `fancy\folder`, with a backslash in the folder name), the runtime startup will fail, and the cryptic error message `Failed to create CoreCLR, HRESULT: 0x80004005` will be displayed.

### Reproducti

[2022-09-10 04:34] davidfowl commented on #75314
https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-ignore-properties?pivots=dotnet-7-0#ignore-individual-properties

[2022-09-10 06:34] wfurt commented on #74795
I have finally some smoking gun.
@tmds was right, something is easing out pids.

[code]
14 is the signal handler and 20 is another .NET thread. I fiddle with that more and I got `strace` that supports stack traces.

[code]

and sure enough lttng is using `wait()` instead of `waitpid()`. This will happily collect children from another threads within same process.
https://github.com/lttng/lttng-ust/

[2022-09-10 06:35] teo-tsirpanis commented on #75385
Methods of the `Interlocked` class imply atomicity. Structs of arbitrary size cannot be handled atomically.

[2022-09-10 06:40] AhmedZero commented on #75314
![IMG_20220910_025841.jpg](https://user-images.githubusercontent.com/26312527/189462530-f109d7b9-d917-4ebe-8e12-284c496636a6.jpg)
There is anyway to serialize only specific fields only?
I known that but I need ignore all and add attribute like [Jsonspecific] to serialize that.

[2022-09-10 06:55] davidfowl commented on #75314
Maybe you should [write a custom JSON converter](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-converters-how-to?pivots=dotnet-7-0). It looks like we don't have any memory leak here though, so the issue is resolve right?

[2022-09-10 07:01] AhmedZero commented on #75314
But why duplicates when I serialize it and still alive even I don't use it or create it?

[2022-09-10 08:29] gfoidl commented on #1658
@commonsensesoftware we shouldn't talk about implementation at the moment.
First step is to decide if that api gets approved and in what form. Then it's about implementation (where I could also restate that an implementation incl. (fuzz-) tests is there 😉).

---

Just a short not to the implementation: while the encoding path is almost the same for base64 and base64Url, the difference is the decod

[2022-09-10 09:03] CommonLoon102 commented on #57365
Related:
https://github.com/dotnet/razor-compiler/issues/144

[2022-09-10 09:37] AhmedZero commented on #75314
I will test serialize with Newtonsoft JSON.NET if the same case I'll use custom converter.

[2022-09-10 10:41] Unknown6656 opened #75388 "[P/Invoke] Tuples should be marked with LayoutKind.Sequential instead of LayoutKind.Auto"
Tuples have been marked with the Attribute `[StructLayout(LayoutKind.Auto)]` since #18250 in order to improve performance.

The trouble is, that using `[StructLayout(LayoutKind.Auto)]` on tuples makes them unable to be used in P/Invoke APIs. I therefore propose to change tuples to be annotated with `[StructLayout(LayoutKind.Sequential)]` instead of `[StructLayout(LayoutKind.Auto)]`, making them us

[2022-09-10 10:43] simonrozsival opened #75389 "[wasm-mt] The System.Threading.Tasks.Dataflow.Tests TransformManyBlockTests.TestProducerConsumerAsyncEnumerable fails on Browser when multi-threading is enabled"
The test fails with the following output:

[code]

[2022-09-10 12:16] AhmedZero commented on #75314
I use Newtonsoft JSON.NET
before `Newtonsoft.Json.JsonConvert.SerializeObject`
![image](https://user-images.githubusercontent.com/26312527/189482910-40cdd5a6-0387-4418-aa5b-cc5056a28ef9.png)
after `Newtonsoft.Json.JsonConvert.SerializeObject`
![image](https://user-images.githubusercontent.com/26312527/189482960-a4a5096f-eaf7-4885-8145-bb684e936fb7.png)

[2022-09-10 12:23] AhmedZero commented on #75314
comparison before and after using System.Text.Json serialize
![image](https://user-images.githubusercontent.com/26312527/189483118-0ccb439a-a58d-44f1-86f6-4055006f808f.png)

[2022-09-10 12:33] teo-tsirpanis commented on #75385
Here's a (likely) correct implementation:

[code]

Supporting `CompareAndExchange` with bytes and shorts is tracked in #64658. `Exchange` is not tracked anywhere, feel free to to open an issue (maybe it could be implemented with `CompareAndExchange`, I am not sure). Because it can't work with any arbitrary unmanaged struct, I don't think it can be a part of the BCL.

[2022-09-10 13:13] stephentoub commented on #74014
Thanks.

Yes, please :-)

[2022-09-10 14:24] DaZombieKiller commented on #75388
Personally, I don't find `ValueTuple<...>` to be a suitable set of types for interop scenarios. Changing them to `LayoutKind.Sequential` _purely_ to allow them in interop sounds like a "square peg in round hole" situation to me.

The use case doesn't seem compelling enough to eschew the benefits of giving them auto layout to me, either.

If you're writing interop code, you should probably be defin

[2022-09-10 14:32] dewanymca commented on #74827
Thanks @danmoseley , we are working on migration path however will take some time before roll out , in interim I need to support this in production.

[2022-09-10 14:34] radical opened #75391 "[release/7.0][wasm] Multiple `JIT.*` runtime test failures on rolling builds"
Occurrences:

Day | Run | OS | Details
-- | -- | -- | --
9/23 | Rolling run [28406](https://runfo.azurewebsites.net/view/build/?number=28406) (7.0) | Mono Browser wasm Release @ Ubuntu.1804.Amd64.Open | 1x JIT.* failures
9/23 | Rolling run [28106](https://runfo.azurewebsites.net/view/build/?number=28106) (7.0) | Mono Browser wasm Release @ Ubuntu.1804.Amd64.Open | 3x JIT.* failures
9/23 | Rolling

[2022-09-10 14:36] radical opened #75392 "[release/7.0][wasm] Debugger test `ExceptionTestUncaughtWithReload` failing"
[Build](https://dev.azure.com/dnceng-public/public/_build/results?buildId=11459), and
[log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-release-70-86cf3625b0f44c3a9a/chrome-DebuggerTests/1/console.a62cc7da.log?helixlogtype=result):
[code]

[2022-09-10 15:01] stephentoub commented on #75391
Also on PRs in main, e.g.
https://github.com/dotnet/runtime/pull/75318/checks?check_run_id=8279068492
https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-75318-merge-3cb5f6cbea0a472187/JIT.HardwareIntrinsics.General.Vector256/1/console.f2f14acf.log?helixlogtype=result
[code]

[2022-09-10 15:02] stephentoub commented on #75391
And:
https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-75212-merge-244fe847cfa44a98ac/JIT.HardwareIntrinsics.General.Vector256/1/console.480092cf.log?helixlogtype=result
https://dev.azure.com/dnceng-public/public/_build/results?buildId=10368&view=ms.vss-test-web.build-test-results-tab&runId=209152&resultId=102987&paneView=dotnet-dnceng.dnceng-anon-build-release-tasks.

[2022-09-10 15:22] tmds commented on #74795
Great!

If we can't reap the process, we can't determine it's exit code.
Now we `FailFast` when we detect unexpected state.

If we'd fake an exit code, we're corrupting the state.
If we'd only throw if someone gets the exit code, we're still introducing an exception where none is expected. It may become less likely the exception crashes the process, but the issue still exist, and it can still cras

[2022-09-10 15:23] radical commented on #75391
And [build](https://dev.azure.com/dnceng-public/public/_build/results?buildId=11388&view=logs&j=e8cc9eb8-98f1-55f3-b6df-6c384ccb39b6&t=d16724ec-b5a0-5bc4-baf7-c436b48cff3d), [log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-75200-merge-1dc6991bb94a4f2dab/JIT.Regression/1/console.d5a5987a.log?helixlogtype=result):

[code]

[2022-09-10 15:35] Clockwork-Muse commented on #59012
Just ban `DateTimeKind.Unspecified`?  It's going to cause problems in places other than the conversion operator.  Some of those uses may show up during runtime, though, which an analyzer wouldn't be able to catch either.

Although if you're doing a lot of work where `Unspecified` would show up a lot, you're probably better off using NodaTime (because you're dealing with other timezones).

[2022-09-10 15:37] jkotas commented on #74795
LTTng tracing is meant to be initialized by default so that one can start the tracing session remotely without changing anything else. It matches what we do for coreclr itself in https://github.com/dotnet/runtime/blob/main/src/coreclr/pal/src/misc/tracepointprovider.cpp#L63 .

[2022-09-10 16:00] radical commented on #75223
Fixed by https://github.com/dotnet/runtime/pull/75200 .

[2022-09-10 16:00] #75223 closed

[2022-09-10 16:18] adamsitnik opened #75394 "[WASM] Anonymous pipes issue"
In https://github.com/dotnet/BenchmarkDotNet/pull/2092 I wanted to use Anonymous Pipes for communication between Host and Benchmark process.

The idea was very simple. The host process (always a .NET console app) creates two anonymous pipes:

[code]

Starts a new process and provides the handles as strings:

[code]

Then the benchmark process parses the ids, creates a `SafeFileHandle` from it and

[2022-09-10 16:26] #75249 closed

[2022-09-10 16:49] NickCraver commented on #59012
Nope - I wasn't even aware of this and it didn't exist when we went to solve this problem. I agree that's an excellent solution to the problem, thanks for the pointer!

[2022-09-10 17:05] danmoseley opened #75395 "Try improved method for generating bounded random integers"
https://github.com/apple/swift/pull/39143 (Apache license)

Currently we use a simple rejection loop for generating int/long in a range https://github.com/dotnet/runtime/blob/c746b8bad1af001351efa2056c35c51597998724/src/libraries/System.Private.CoreLib/src/System/Random.Xoshiro128StarStarImpl.cs#L91 and other overloads. It may be that the Swift algorithm above is faster.

(Note that our existing a

[2022-09-10 17:21] lewing commented on #75391
This seems to have come in with the new sdk

[2022-09-10 17:22] danmoseley commented on #75378
@jkoritzinsky  I’m confused by this issue. It aspires zero failures and no info about any failures. Yet we have issues linked to it. How does that work?

[2022-09-10 17:23] lewing commented on #75391
cc @rainersigwald

[2022-09-10 17:30] jkoritzinsky commented on #75378
I think the tracking query I put in isn't working. Here's a link to the test query separate from the tracking issue: https://runfo.azurewebsites.net/search/tests/?q=started%3A~7%20definition%3Aruntime%20name%3A%22system.net.mail.functional.tests%20work%20item%22

cc:@jaredpar tracking issue doesn't seem to be reporting occurrences

[2022-09-10 17:35] lewing commented on #75391
https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-75220-merge-4f48f0e0781f4dfc9a/JIT.jit64/1/console.8abd5707.log?helixlogtype=result

[2022-09-10 17:45] MichalPetryka commented on #75395
Looking at that impl, we'd need the `TryAdd` intrinsics that were discussed a few times with @GrabYourPitchforks on discord to avoid the `catch(OverflowException)` cost here.

[2022-09-10 17:54] commonsensesoftware commented on #1658
Agreed and I kind of thought that was where the discussion was evolving to.

I'm not sure I understand or follow the difference in encoding and decoding between the two implementations. The spec says:

At least in my small squirrel brain, the vectorization for encoding and decoding are the same, save for the two-character difference in the alphabet (e.g. table), which also includes validation. Exa

[2022-09-10 18:02] tarekgh commented on #59012
DateTime.Now has a legitimate usage and I don't think we need to add it to the banned API list. Imagine you have UI app that wants to show the current time? There are more scenarios for DateTime.Now too.

We have the discussion in the issue https://github.com/dotnet/runtime/issues/32954 which talking about that. It makes sense adding the implicit operator `DateTimeOffset(DateTime dateTime)` to the

[2022-09-10 18:23] radical commented on #75268
Fixed by https://github.com/dotnet/runtime/pull/75200 . The perf pipeline has a different failure now.

[2022-09-10 18:23] #75268 closed

[2022-09-10 18:30] NickCraver commented on #59012
@tarekgh The banned API list is user opt-in per project or solution for ones _they_ want to ban, it's not a global change to the framework.

[2022-09-10 18:54] jkotas commented on #74795
Our tests have a specific pattern that is prone to hit the lttng bug: The tests are initializing Quic on one thread while there is a remote executor exec storm of short-lived processes on other threads. I think that it is unlikely for real world applications out there to have the same pattern.

Until we get lttng fix in place, we may want to set `QUIC_LTTng=0` in our CI docker images.

[2022-09-10 19:41] radical opened #75398 "[wasm] perf pipeline: All wasm jobs broken with `RuntimeError: Unable to determine the .NET SDK used for net7.0`"
`Run ci setup` step failing with:

[code]

[2022-09-10 20:13] MihaZupan opened #75399 "WebSockets gives up on HTTP/2 on network failure during handshake"
Managed WebSocket will attempt to downgrade to HTTP/1.1 if we failed to establish HTTP/2 and the version policy permits.

The logic currently sets `HTTP2_ENABLED` exception data if we fail to establish TLS:
https://github.com/dotnet/runtime/blob/cb1343dacb8718aff22fc74218218ebc05520277/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs#L94-L96

This is wrong. Tha

[2022-09-10 20:33] Marusyk commented on #1250
well, does anyone work on this?

[2022-09-10 20:53] vargaz commented on #75394
v8/emscripten in general doesn't support communicating with the host machine except console output. So emitting structured output to the console and parsing it is a possible way to make (one way) communication work.

[2022-09-10 21:28] tarekgh commented on #59012
Thanks @NickCraver. What is not clear to me if we have a ready to use banned list file for users to use? If users create their own file and add the API to it, then I am fine with that.

[2022-09-10 21:59] tarekgh opened #75400 "Add analyzer for DateTimeOffset implicit operator with DateTime."
The `DateTimeOffset` implicit operator internally convert the input `DateTime` to `DateTimeOffset`. This conversion will depend on the `DateTime.Kind` value. If the value is `Unspecified` or `Local`, will automatically calculate the offset between the current local time zone and UTC and use this offset for creating `DateTimeOffset`. If the `Kind` value is Utc, will use 0 offset to create the `Date

[2022-09-10 22:03] tarekgh commented on #32954
I have opened the [analyzer issue](https://github.com/dotnet/runtime/issues/75400) to track adding the analyzer for this implicit operator. if all agree, we can close this issue now and follow up with the analyzer issue.

[2022-09-10 22:13] stephentoub commented on #59012
Correct.

[2022-09-10 22:22] tarekgh commented on #59012
Thanks @stephentoub. Per that I am closing this issue. Please let me know if anyone wants to discuss more and I can re-open the issue.

[2022-09-10 22:22] #59012 closed

[2022-09-10 22:24] davidfowl commented on #75314
The serializer uses pooled memory so it’s allocated and reused for future calls. As for your specific situation, I’m still not clear on what the leak is… Maybe providing a runnable sample would be the next step here.

[2022-09-10 23:08] oliveira-alexdias opened #75402 "JsonSerializer.Serialize does not serialize properties as interface data type"
### Description

**Library**: System.Text.Json
**Version**: 6.0.0.0
**Class**: JsonSerializer
**File**: [JsonSerializer.Write.String.cs](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.String.cs)

`JsonSerializer.Serialize` is not able to proper serialize an object when its properties are interfaces data type.

###

[2022-09-10 23:14] danmoseley commented on #32954
I agree

[2022-09-10 23:16] danmoseley commented on #1250
Is there anything left to do here? I recall a PR, but it doesn't seem linked here.

[2022-09-10 23:19] danmoseley commented on #75395
Is there an issue for those? I'm not familiar with that proposal.

[2022-09-10 23:35] jammehcow commented on #75049
Cool. Is it okay to leave this issue open until it's fixed in whatever release that is? If anyone else runs into this there will at least be an open issue for them to find.

[2022-09-11 00:37] stephentoub commented on #75314
Right, this is what I was expecting we'd see.
"My guess is these are large arrays in the ArrayPool, and there simply hasn't been enough memory pressure and/or GCs to cause it to release them all."

[2022-09-11 00:43] mangod9 commented on #75049
Yeah we will leave the issue open and resolve early in 8.

[2022-09-11 01:06] #24460 closed

[2022-09-11 01:19] MichalPetryka commented on #75395
I don't think one has been opened in the end.

[2022-09-11 01:32] #73992 closed

[2022-09-11 01:49] ufcpp commented on #59012
I use at least `default(DateTime)` and `DateTimeOffset.Date` - whose `Kind` is `Unspecified`.

[2022-09-11 02:40] AhmedZero commented on #75314
why newtonsoft  reverse 400 MB and system.text.json reverses 1.6 GB? After serializing

[2022-09-11 02:41] tannergooding commented on #75395
We have a couple proposals covering `AddWithCarry` which achieves the same thing.

The usage in this particular scenario also looks simple enough we can just do the pattern of:
[code]

[2022-09-11 03:47] AaronRobinsonMSFT commented on #75376
@deeprobin This is by design. See our documentation for this [here](https://docs.microsoft.com/dotnet/standard/native-interop/pinvoke-source-generation#differences-from-dllimport).

[2022-09-11 03:47] #75376 closed

[2022-09-11 06:01] wfurt commented on #75378
Most of the query is garbage and the tests would not even start - clearly not `Mail` issue. There are some occurrences of #72830 and #73447. I see no reason to open new issue like this.

[2022-09-11 06:29] jkoritzinsky commented on #75378
The case I opened for was likely https://github.com/dotnet/runtime/issues/73447. I’ll close this as a duplicate of that since the tracking isn’t working.

[2022-09-11 06:29] #75378 closed

[2022-09-11 07:33] sajjadarashhh commented on #74864
@lewing for this issue dotnet/linker#3028 I cant test in my solution and i have tried to get .net 7 rc1 but i cant found download links for that...
However thank you for tracking I test when .net 7 rc 1 is released and comment again here

[2022-09-11 07:51] Mochongli opened #75409 "Native Generate MapFile?"

[2022-09-11 07:54] Unknown6656 commented on #75388
OK, thank you very much. I'd try to avoid creating new structs (such as e.g. `COORD` or `RECT`) if they are reasonably small and I only use them in P/Inovke  - instead preferring tuples (if they were supported)....

Just purely out of interest - how much is the performance improvement of using `[StructLayout(LayoutKind.Auto)]` on tuples? Do you have some kind benchmark or statistics? :)

[2022-09-11 07:54] #75388 closed

[2022-09-11 09:00] liujian1368928 opened #75410 "buiLd runtime C:\WINDOWS was unexpected at this time."
Executing "F:\SourceCode\Net\runtime\src\coreclr\build-runtime.cmd" -x64 -debug -os windows
  BUILD: Starting Build at 16:51:22.72
  BUILD: Commencing CoreCLR product build
  BUILD: Checking prerequisites
  BUILD: Using CMake from E:\WorkingSoftware\VS2022\Common7\IDE\CommonExtensions\Microsoft\CMake\CMake\bin\cmake.exe
  BUILD: Number of processor cores 6
  BUILD: Commencing build of native compo

[2022-09-11 09:51] Youssef1313 opened #75412 "Analyzer suggestion: Don't perform bitwise operations on non-Flags enums"
I think bitwise operations don't make much sense for non-Flags enums (I just had a bug due to that). If there are small cases where this might make sense, the analyzer could be disabled by default.

Example:

[code]

[2022-09-11 11:01] MichalPetryka commented on #75412
FYI, Resharper has a warning for this: `Bitwise operation on enum which is not marked by [Flags] attribute`.

[2022-09-11 12:15] SkiFoD opened #75413 "Unnecessary add emitted for repeated multiplication"
### Description

Noted during work with https://github.com/dotnet/runtime/issues/74020 , that a series of multiplications generates unnecessary operations. Here is the [example](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIGYACMhgYQYG8aHunGBLAHYYGAFQAUg4QFdyASg5ceS4gHYGMgFSktO0gG5F3AL6GGp+g0mjSEoerkLqS5Ws10N7zwac8T1I0A)
I played with the code for a little bit and figured

[2022-09-11 12:16] huoyaoyuan commented on #75410
I think most of the contributors install VS at default path, so there may be something we are unaware of when VS is installed into another drive.

[2022-09-11 12:24] stephentoub commented on #75388
It's about size and allocation, and in particular when an instance of the struct is boxed or contained in another object, e.g. in this example it saves 8 bytes per object on 64-bit:
https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEUCuA7AHwGIAHKAQwHMBbcgAgHdyo8BLPSugE1YGdzgAGxh0AjEgCcAWABQAAQBMo2XIAMdOaIB0AJXwZW1GFoCSeDDCgQSAZUsA3VmBi8A3LNlneJGGAxaACRhyEgAKLhgAM3IcQQxQgEEASiT3GS8fP0DgsIjo2PiAIRS02V

[2022-09-11 12:42] BreyerW commented on #75358
Some links are broken like Support for generating IL Emit for field get\set and Support byref invoke for return parameter and target.

[2022-09-11 12:47] lemire commented on #75395
Reference: [Fast Random Integer Generation in an Interval](https://arxiv.org/pdf/1805.10941.pdf) ACM Transactions on Modeling and Computer Simulation 29 (1), 2019

[2022-09-11 12:58] liujian1368928 commented on #75410
thanks I'll try it tomorrow

[2022-09-11 13:24] c-ohle opened #75416 "bugs: System.Int128 operator * and % at overflow"
### Description

### In case of an overflow for multiplication `*` and remainder `%`  `System.Int128` gives wrong results.
All other C# integer types behave in this case correctly like standard on all machines and platforms.
The problem is that there are many algorithms that assume correct partial results in case of an overflow as part of the calculation.
All these algorithms can fail with Int128

[2022-09-11 14:13] sgryphon commented on #39816
Great work with the progress on things like DateOnly (removing one of the reasons to use DateTime)

Once steps 1-5 have been done, what is the reasoning for not Obsoleting DateTime (note that obsolete doesn't mean remove now, but does mean an intention to remove in the future).

Is it because builds that have "treat warnings as errors" will fail?  Or is it because you don't think that we could eve

[2022-09-11 14:53] jkotas commented on #75409
Not enough details to be actionable. Consider using one of the issue templates https://github.com/dotnet/runtime/issues/new/choose

[2022-09-11 14:53] #75409 closed

[2022-09-11 15:13] jkotas opened #75417 "System.Diagnostics.Tests.InstanceDataTests.InstanceDataCollectionCollection tests failing in CI"
Hit in #75264. Full log: https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-75264-merge-084c1315e5b040e5a8/System.Diagnostics.PerformanceCounter.Tests/1/console.03a615ce.log?helixlogtype=result
[code]
[code]

[2022-09-11 15:15] jkotas commented on #75417
This is still failing despite multiple attempts to fix this issue https://github.com/dotnet/runtime/search?q=InstanceDataCollectionCollection

[2022-09-11 15:16] Clockwork-Muse commented on #39816
This one.  Because `DateTime` is occasionally useful on its own.
That said, I wouldn't be opposed to marking `DateTimeKind` (and a few related properties/methods) obsolete.

If you're doing this sort of work, you'd be better off using NodaTime, as we currently lack a `DateTimeZoned` type.  That aside, even if you had the type you're still generally going to need to keep track of the offset for som

[2022-09-11 15:29] joelrevans opened #75418 "BoundedChannelReader.TryRead deadlocks if WriteAsync called in parallel thread while at capacity"
### Description

When a BoundedChannel fills up, a WriteAsync command will asynchronously wait for a read operation to free up space in the queue. While it waits, it appears to lock the queue. When TryRead is run on a separate consumer thread, it also tries to lock the queue before it reads, resulting in a deadlock.

### Reproduction Steps

https://github.com/joelrevans/ChannelDeadlock

[code]

##

[2022-09-11 15:31] Marluwe opened #75419 "[7.0][garbage collector] Performance issue for non-concurrent server garbage collection"
### Description

The current preview .Net7 preview 7 shows a performance issue related to the garbage collector with ServerGarbageCollection enabled and ConcurrentGarbageCollection disabled.
The program starts with the expected good performance and suddenly drops by factor about 2.5-3 and stays at that.

We were able to narrow it down to the GC settings. We run a loop with 70 iterations. Each iter

[2022-09-11 15:58] stephentoub commented on #75418
This repro has a race condition. If the read attempt happens before the writes, it won't have anything to read and will return false, then the second write will wait indefinitely.

[2022-09-11 16:29] AndyAyersMS commented on #74631
I don't think the exclusion is working.  I still see this test running and failing.

Eg https://dev.azure.com/dnceng-public/public/_build/results?buildId=11496&view=ms.vss-test-web.build-test-results-tab

[2022-09-11 16:47] AndyAyersMS commented on #57033
For divide at least the operator side effects are modelled.

Wondering if we should consider modelling all the possible effects or consider what it would mean to have some generalized exception VN to model the all exceptions we don't specifically track -- I suppose for the latter we might have a lot of unique exception VNs running around since it might be hard to deduce when two different bits of

[2022-09-11 16:53] AndyAyersMS commented on #75100
We don't hoist control flow, only cloning can do things like this. And we won't clone for general invariant constructs, just array bounds checks (and now some type tests).

We don't do the kind of aggressive DCE that assumes everything is dead until proven otherwise, so we probably keep other trivial loops around too.

[2022-09-11 16:53] SingleAccretion commented on #57033
#63559

FWIW, we now model all exception sets precisely, modulo those coming from calls (both helper and user). Once that's fixed, we can start using them a bit more liberally.

There is also the possibility of a more low-tech solution, say enhancing the VN-based constant propagation to clear the exception bits with some kind of `GTF_DIV_NONFAULTING`, akin to how VN-based non-null prop works (whic

[2022-09-11 17:42] tarekgh commented on #75400
@KalleOlaviNiemitalo that is a good question. The current proposal is for implicit casting so does not include explicit casting.

I would say explicit casting is explicit user intention, but I believe it will suffer from the same thing if the user is not aware about the expected behavior. So, it makes sense the analyzer will include this case too. But I want to hear more feedback if this can be an

[2022-09-11 18:01] martincostello commented on #75400
I think the implicit version is the most important one to focus on, as it's often done by accident and can lead to bugs that can take up to six months to become apparent.

This has been the source of a number of major bugs in applications I've worked on over the last few years where behaviour around daylight savings transitions is important and implicit conversions have caused values to end up bei

[2022-09-11 18:23] En3Tho commented on #75418
As Steven stated above: it is not a deadlock, but a race condition.

You have 2 writes and only one read.

This leaves you with 3 situations:

Write -> Read -> Write -> good
Write -> Write -> Read -> good

Read -> Write -> Write -> bad

2nd write will wait for at least one more read operation

[2022-09-11 18:26] EgorBo commented on #75100
I assume it can be optimized with a limited support of a sort of strength reduction (where we try to precalculate final value of a bound loop)

[2022-09-11 18:50] david-acker opened #75420 "Add EventSource/EventCounter tracing and metrics for WebSockets"
### Background
dotnet/aspnetcore#2461 discusses adding EventSource/EventCounters to SignalR and WebSockets in ASP.NET.

It was recently suggested on the issue that it might be beneficial for these counters to be added to [ManagedWebSocket](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/ManagedWebSocket.cs) instead, so they would be availab

[2022-09-11 18:59] #67232 closed

[2022-09-11 18:59] #64337 closed

[2022-09-11 19:19] speed2048 commented on #74737
Interesting  it was working ( according to spec )  incorrectly before  .NET 6.0.7.

I have the following code to create subdirectories  of yyyy\mm\dd and after the .update it would create a single directory called 2022-08-07.

`private static string setFileDirectoryTimeStamp(DateTime dt) => dt.ToString("yyyy/MM/dd").Replace('/', Path.DirectorySeparatorChar);`

I looked at the release notes for 6.0

[2022-09-11 19:35] tarekgh commented on #74737
@speed2048 `dt.ToString("yyyy/MM/dd")` will treat the `/` as the date separator and not treating it as a literal `/`. meaning when formatting the date will replace every `/` with the formatting culture date separator. I don't know what exactly the culture used in the formatting in your case but for sure that culture is using `-` as a date separator. That is why you ended up with something like `20

[2022-09-11 19:46] mattjohnsonpint commented on #39816
The main reason I'm opposed  is that `DateTime` has many valid use cases, and is widely used in real-world applications. Obsoleting it would create too much friction.

With regard to the cited advice:

This is *wrong* in my opinion.  We should not recommend *any* type to be the default.  Rather, each type should be described and developers should be advised to pick the type that best fits their sc

[2022-09-11 19:52] AhmedZero commented on #75314
https://github.com/AhmedZero/ReactiveObjectSerializeTest
that's my sample.

[2022-09-11 20:29] thaystg commented on #75324
@lambdageek @lewing I have a local fix for this issue, I will open a PR soon.

[2022-09-11 20:40] #71706 closed

[2022-09-11 21:28] radical commented on #74302
[Rolling build](https://dev.azure.com/dnceng-public/public/_build/results?buildId=11973&view=results), and [log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-release-70-47717c4d76814b0291/WasmTestOnBrowser-System.Collections.Tests/1/console.2d28fe92.log?helixlogtype=result):

[code]

[2022-09-11 21:36] sgryphon commented on #39816
I'm not sure it is even occasionally, as I struggle to come up with a scenario when you actually have a valid use for DateTime?

The one I used to use was always to store date only, e.g. for calendaring type applications; but with DateOnly that is no longer the case.

Is there any other valid use case for DateTime remaining? (i.e. that doesn't have a hidden implicit offset assumption)

I agree it

[2022-09-11 22:07] joelrevans commented on #75418
Closing until I can reproduce the issue properly. Comnmenters are correct that this issue is a race condition.

[2022-09-11 22:07] #75418 closed

[2022-09-11 22:27] Maoni0 commented on #75419
it would be helpful to indicate what performance this is - is it throughput? heap size? something else?
there's [a fix](https://github.com/dotnet/runtime/pull/74298) related to non concurrent for regions. of course without any data it's impossible to say whether that affects you or not. if possible, could you please try a recent daily build that includes that fix? if that's not possible, or that d

[2022-09-11 22:29] Maoni0 commented on #75419
it would be helpful to indicate what performance this is - is it throughput? heap size? something else?
in rc1 I've disabled something that causes problems for non concurrent GC. would it be possible to try the rc1 build?
if that's not possible, or that doesn't solve the problem, could you please capture some top level GC traces so we can start investigating it?

**How to collect top level GC metr

[2022-09-11 22:35] AntonLapounov commented on #75410
If you run the following command from a command prompt, does it fail as well?
[code]
If yes, you may `set VSCMD_DEBUG=3` to get verbose output from it.  If that command does not fail, you may `set _echo=1` to get verbose output from `build-runtime.cmd`.

[2022-09-11 22:40] mattjohnsonpint commented on #39816
Yes, many - and they are almost always in the *future*.  Here are some that are easy to remember:

- "On Christmas day this year, all our stores will close early at 2:00 PM" - ex., a national/global retailer.  `DateTime` value: `2022-12-25T14:00`
  - It's not valid to include a time zone or offset, because there could be stores in different time zones.
- "Set an alarm for next Tuesday at 8:00 AM"

[2022-09-11 22:49] mattjohnsonpint commented on #39816
Oh, and I forgot to mention - just because one *should* use a `DateTimeOffset` in a given scenario doesn't mean that everything will fall apart if you don't.  There are many cases where you can get by just fine using a `DateTime` and never have any problems.

Say, for example, that you stored `DateTime.UtcNow` into a database field and then queried that field.  The `Kind` is probably `DateTimeKind

[2022-09-11 22:50] wfurt commented on #74795
This is not just the docker, right? Since this is showing up so far only on ARM64, we may choose to update only that.
I put up #75424 with alternative approach to load msquic early before tests runs. That also seems sufficient.

I'm working on issue for LTTNG. They don't use GitHub for tracking and my registration to submit issue is pending for approval. I look at the code again and changing `wait

[2022-09-11 22:50] aloraman opened #75426 "System.Numerics.IModulusOperators inconsistencies with naming and documentation"
#### TL;DR:
The interface `System.Numerics.IModulusOperators` uses term `modulus` but means `modulo` (probably should use only `remainder`)

#### Long preamble:
Basically, this interface defines a constraint on implementing types to have `%` operator.
This operator is generally used to compute a _remainder_ of two values. E.g., `22 % 5` produces `2`, where `22` is _dividend_, `5` is _divisor_ and

[2022-09-11 23:05] mattjohnsonpint commented on #39816
Thinking about this more, if we *were* to flag potentially problematic usage with an analyzer, I would flag `DateTime.Now` and `DateTime.UtcNow`, recommending `DateTimeOffset.Now` or `DateTimeOffset.UtcNow` instead.  There's very little purpose in storing a *current* date and time without also storing the offset.

I'd also flag the `DateTime` to `DateTimeOffset` [implicit operator](https://docs.mi

[2022-09-11 23:22] luanmm opened #75427 "PlatformNotSupported after system updates (Ubuntu 22.04 LTS x64)"
### Description

After system updates, something occurred and a project that was working in the same machine/environment (connecting to SQL Server) started giving an error:

System.PlatformNotSupportedException: Strings.PlatformNotSupported_DataSqlClient
   at Microsoft.Data.SqlClient.SqlConnectionStringBuilder..ctor(String connectionString)
   at Microsoft.EntityFrameworkCore.SqlServer.Storage.In

[2022-09-12 00:46] jkotas opened #75429 "Microsoft.DotNet.CoreSetup.Test.HostActivation tests failing in CI"
Hit in #75408. Full log: https://dev.azure.com/dnceng-public/public/_build/results?buildId=11824&view=ms.vss-test-web.build-test-results-tab&runId=235664&resultId=100162&paneView=debug

[code]

[code]

### Report
#### Summary
|24-Hour Hit Count|7-Day Hit Count|1-Month Count|
|---|---|---|
|0|0|0|

[2022-09-12 00:48] jkotas commented on #75429
Failed again in https://github.com/dotnet/runtime/pull/75407

Full log: https://dev.azure.com/dnceng-public/public/_build/results?buildId=11802&view=ms.vss-test-web.build-test-results-tab&runId=235336&resultId=100032&paneView=debug
[code]

[2022-09-12 00:57] Clockwork-Muse commented on #39816
.... yeesss, although probably this gets turned into per-store date/time values pretty quickly.

I want `DateTimeZoned`, for this reason.
That said, sometimes you still want to estimate/store the offset (usually, query optimization).

[2022-09-12 01:03] tarekgh commented on #39816
@Clockwork-Muse

Are you interested in submitting a proposal for that? It is in our radar, but we haven't gotten into it yet.

[2022-09-12 01:15] davidfowl commented on #75314
Most of the memory seems to be coming from the fact that you're deriving from this ReactiveObject type. I'm not sure if that's just a convenience but the entire object graph is being serialized that that's not what you want. There's no leak here.

I'm pretty sure the difference between this an JSON.NET is the fact that it respects `IgnoreDataMemberAttribute` which is used by ReactiveUI to ignore s

[2022-09-12 01:21] AhmedZero commented on #75314
I told you that.
it's problem from ReactiveObject. and I want to ignore them.

[2022-09-12 01:30] davidfowl commented on #75314
I told you how to ignore them, but you don't own ReactiveObject so the attributes won't do you any good. Write a custom JSON converter and be done with it 😄.

[2022-09-12 01:44] AhmedZero commented on #75314
I already write a custom JSON converter, but I hope to support it soon like JSON.NET
`[JsonObject(MemberSerialization.OptIn)]`

[2022-09-12 01:51] davidfowl commented on #75314
Maybe there's some clever way to use [JsonInclude](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.serialization.jsonincludeattribute?view=net-6.0) that I'm not aware of to solve this problem.

cc @eiriktsarpalis

[2022-09-12 01:56] ufcpp commented on #75400
[code]

[2022-09-12 02:08] radical opened #75430 "[wasm] `System.IO.MemoryMappedFiles.Tests` failing with `memory access out of bounds`"
Linux, interpreter - [rolling build on main](https://dev.azure.com/dnceng-public/public/_build/results?buildId=12016&view=logs&j=11c5c840-d20a-5536-428b-70d8cd9c6259&t=73598586-463f-5241-5dc8-b8ffdebf8b89&s=96ac2280-8cb4-5df5-99de-dd2da759617d), and [log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-30d232de713f4aa383/WasmTestOnBrowser-System.IO.MemoryMappe

[2022-09-12 02:18] stephentoub opened #75431 "[API Proposal]: Random.Next<T>"
UPDATED PROPOSAL: https://github.com/dotnet/runtime/issues/75431#issuecomment-4104777252

---

### Background and motivation

Now that we have the generic math interfaces, we should be able to write a method for generating a random value that can work with any T where T implements the appropriate interface.

### API Proposal

[code]

### API Usage

[code]

### Alternative Designs

- We might need

[2022-09-12 02:34] danmoseley commented on #75431
Same for NextSingle() so I think so.

It might be interesting to have a quick look at what random methods other stacks expose.

[2022-09-12 03:29] apws commented on #28070
I hit this int/uint array/span indexing issue too during work on processor emulator, but probably because I cant figure yet how to place some raw inline array into struct to be able to pin/fix it to obtain damn unsafe pointer for it, instead of safe ref usage and tackling with heap byte array... (want also to share as much code logic in methods/functions possible between C# and C implementation ..

[2022-09-12 04:36] liujian1368928 commented on #75410
F:\SourceCode\Net\runtime\src\coreclr>if "" NEQ "" (
set __VCVARS_SCRIPT_ERROR=
 exit /B 1
)

F:\SourceCode\Net\runtime\src\coreclr>exit /B 0

F:\SourceCode\Net\runtime\src\coreclr>set "__VSCMD_INTERNAL_INIT_STATE="

F:\SourceCode\Net\runtime\src\coreclr>set "VSCMD_ARG_STARTDIR="

F:\SourceCode\Net\runtime\src\coreclr>goto :end

F:\SourceCode\Net\runtime\src\coreclr>set __VSCMD_ARG_APP_PLAT=

F:\S

[2022-09-12 05:17] liujian1368928 commented on #75410
[1.txt](https://github.com/dotnet/runtime/files/9544767/1.txt)

[2022-09-12 05:38] wfurt opened #75434 "HttpClientHandler always set LocalCertificateSelectionCallback delegate in SslOptions"
Besides extra work this prevents TLS resume on Linux so HttpClient won't be able to benefit from #64369

https://github.com/dotnet/runtime/blob/855c475fd9c0b3a303e3de15785b63456108f7e3/src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs#L298-L310

Since the delegate _could_ return different certificate, we would somehow need to track what was actually selec

[2022-09-12 05:49] JoakimJohesan commented on #73610
Certificates are permanent and not managed by the application.

[2022-09-12 07:23] dev991301 opened #75437 "Performance regression when deserializing compressed binary XML streams using data contract serializers"
### Description

When compared to .NET Framework 4.8, the output from BenchmarkDotNet shows execution time has greatly increased in .NET6/7 when deserializing from compressed binary XML streams using data contract serializers for large collections of objects (>1000). For example, using my configuration, deserializing 10,000 objects is around 200 times slower in .NET6/7 when compared to .NET Framew

[2022-09-12 07:42] premun commented on #75307
That's a nice find @akoeplinger! Fix is here: https://github.com/dotnet/xharness/pull/946

[2022-09-12 07:46] RussKie opened #75439 "[release/7.0] Unhandled exception. System.NotImplementedException: The method or operation is not implemented."
### Description

https://github.com/dotnet/winforms/pull/7753 is [failing to build](https://dev.azure.com/dnceng-public/public/_build/results?buildId=11613&view=logs&j=71ffe38c-ed83-5650-b269-3e2a870c2d94&t=fad00996-4079-5863-c72b-581eb696fd7e&l=126) with the latest build introduced in https://github.com/dotnet/winforms/commit/bf78399105aa9d058399f0a047e09fb5d4d2d032.
There are multiple errors of

[2022-09-12 07:53] RussKie commented on #75439
@jaredpar @dotnet/roslyn-analysis perhaps you may be able to guide or help redirecting to the right folks.

[2022-09-12 08:20] ovska commented on #75402
You can work around this by using a custom converter:
[code]
https://gist.github.com/ovska/6bab3cb39ff63f23daa11fe5a4235929

[2022-09-12 08:35] Unknown6656 commented on #75388
Ah ok, thank you vey much!

[2022-09-12 08:58] ManickaP commented on #75184
I like @CarnaViire suggestion with `UserCallbackError`.

[2022-09-12 09:15] JamesNK commented on #75184
AuthenticationException can come from the client rejecting the server certificate. Ie a non callback cause.

[2022-09-12 09:20] vitek-karas commented on #75387
https://github.com/dotnet/runtime/pull/75097 should be able to tell us more.
@janvorli maybe you can try the repro of this as a test for your change?

[2022-09-12 09:23] ManickaP commented on #75184
I haven't read the description properly. I don't think we should wrap those three, just the last one. And if we decide to wrap `AuthenticationException` and `ArgumentException` we should reconsider what we throw from `QuicConnection.ConnectAsync` since those two methods throw analogous exceptions.

[2022-09-12 09:37] shadow-cs commented on #72177
@karelz unfortunately the new VM (same host) did not exhibit the same behavior. I think this has to be OS related (it is highly likely we have different OS updates applied on the new VM than the ones still exhibiting the odd behavior). Is there are system information I can pull from the OSes (maybe some diff can be made on these updates so we can pinpoint which one fixed this).

[2022-09-12 09:40] #75221 closed

[2022-09-12 09:55] liujian1368928 commented on #75410
The default installation still doesn't work

[2022-09-12 10:04] ViktorHofer commented on #75002
Can you please elaborate on what you mean by that? If I'm not misunderstanding, libraries testing is part of what this issue is tracking.

[2022-09-12 10:18] pavelsavara commented on #74302
I can reproduce it on my machine. It takes ~60 attempts to get one failure. I'm trying to capture better trace now.

[2022-09-12 10:29] rgueldenpfennig commented on #74078
@wfurt Thanks for providing the additional info.

In the meantime I was able to test and compare the basic implementation with both .NET Framework 4.8 and .NET 6.

The results are quite confident. For now the port exhaustion issue due to the high number of TCP connections in `TIME_WAIT` state is mitigated. .NET 6 seems to reuse the established TCP connections as expected instead of creating always

[2022-09-12 10:44] jakobbotsch opened #75442 "JIT: Bad codegen with loop"
[code]

Repros on win-x64 too. Does not repro with .NET 6, but repros with .NET 7 from two months ago, so not a recent regression it seems.

category:correctness
theme:value-numbering
skill-level:expert
cost:medium
impact:small

[2022-09-12 10:57] krwq commented on #75402
you can:
- custom converter as mentioned above

for 7.0 (or 7.0 nuget package) you also have options of:
- setup polymorphic behavior for your type if you want different behavior per type: https://github.com/dotnet/runtime/blob/main/src/libraries/System.Text.Json/ref/System.Text.Json.cs#L881-L888
- contract customization if you want it to serialize/deserialize in specific way
(you can also combine

[2022-09-12 10:58] krwq commented on #75402
Closing this issue. Please re-open if you feel this didn't answer the question or you have further

[2022-09-12 10:58] #75402 closed

[2022-09-12 11:19] MartinZid commented on #74756
@mangod9 what exactly do you have in mind?
To execute the tests thru `dotnet run` or something different?

[2022-09-12 11:23] shadow-cs commented on #72177
Quickly looking at the logs, the VM that I'm able to reproduce the issue on was last patched on 6/22/2022 so maybe if you're able to create such a machine it could be used for testing. Unfortunately my options are limited. Both VMs (the one with the issue and the one without it) were installed from the same image, the only difference is that the newer (working) one was updated during the install.

[2022-09-12 11:31] krwq commented on #1250
Supposedly this is the PR? https://github.com/dotnet/runtime/pull/67696 - it was linked to this https://github.com/dotnet/runtime/issues/67423

Current error message is now `System.ArgumentOutOfRangeException: Index must be within the bounds of the List. (Parameter 'index')`
which seems better. Closing this, please re-open if you feel this needs further change

[2022-09-12 11:31] #1250 closed

[2022-09-12 11:43] am11 commented on #75387
I debugged it a bit and turned out it fails to match the file hash in coreclr/vm/hash's `LookupValue`. The value stored in the hash is `/s\test/`, while the value being compared (during the assembly load) is `/s\\test/`. We would need to maintain the escaping parity in insertion and lookup.

This is the first error, there may be others after this is fixed (i.e. if we want to make this scenario wor

[2022-09-12 11:53] janvorli commented on #75387
I have debugged it too. With my change #75097, which besides adding logging for E_FAIL also stopped reporting all failures in the EE initialization that resulted in an exception as `E_FAIL` we now get 0x80070002 instead, which is "not found" error. I've stepped through the code and the culprit is in `FILEDosToUnixPathA` called from `CreateFileW`, see the call stack below.
The problem is that this

[2022-09-12 12:05] janvorli commented on #75387
If I patched the string at the `FILEDosToUnixPathA` to not do to any transformation, then it progressed further and as a next failure, it failed to load the JIT.

[code]

[2022-09-12 12:23] CarnaViire commented on #74508
Thanks for the suggestions @SamGuoMsft.

I see that there are two main points:

1) How to stop `HttpClientFactory` from managing handler's lifetime and use `SocketsHttpHandler` connection pooling instead
2) How to safely use typed clients in singleton services

This can currently be achieved by setting `SocketsHttpHandler` as a primary handler (as you mentioned) and at the same time turning off fa

[2022-09-12 12:23] Mr0N opened #75446 "Get,Post,Put methods......"
I suggest adding synchronous Get, Post, Put,....methods to HttpClient, since there is an implemented Send method, well, there are no synchronous access methods to it, in fact, it will not be difficult to add such methods, and they are useful in some situations.
Making a Result on a task is not very good!

[2022-09-12 12:23] CarnaViire commented on #74508
Duplicate of #35987

[2022-09-12 12:23] #74508 closed

[2022-09-12 12:24] janvorli commented on #75387
My mistake, I have forgotten to copy over the jit I've built. So there were no further issues:
[code]

[2022-09-12 12:31] janvorli commented on #75387
Now as for the `FILEDosToUnixPathA` behavior. The point for it was that the CreateFile and other PAL emulated APIs working with file paths, can be called with Windows style paths from user apps that were ported from Windows. But clearly, its behavior is too big hammer in the scenario from this issue. I wonder though how to fix it without making a breaking change.

[2022-09-12 12:32] jakobbotsch commented on #75442
We seem to hoist the access of `vr1[0]` out of the loop, even though it is modified inside the loop. Looks pretty similar to #54118.
It was exposed by #58696 which allows us to now reason about this code in VN/hoisting.

[2022-09-12 13:00] eiriktsarpalis commented on #75314
There's not much that can be done with base types in third-party libraries using attributes. Starting with .NET 7 it should be possible to influence what properties do get serialized using [contract customization](https://github.com/dotnet/runtime/issues/63686), which removes the need (and pitfalls) of writing a custom converter. Here's what such a contract resolver could look like: (NB this hasn'

[2022-09-12 13:12] #75314 closed

[2022-09-12 13:13] filipnavara commented on #75437
Can you try wrapping the `DeflateStream` with `BufferedStream`? I have seen half a dozen similar regressions due to the fact that the buffering works differently. For consumers that use small reads it could often make a huge difference.

[2022-09-12 13:25] MihaZupan commented on #75446
We want to discourage developers from using synchronous APIs as they come with many limitations (e.g. only HTTP/1.1 support) and should only be used as a last resort when `async` is not an option.
Adding convenience APIs directly works against that.

What is the use case that is preventing you from using the async APIs?

If you need such helpers, they are trivial to add as your own extension metho

[2022-09-12 13:31] Mr0N commented on #75446
The program is not always asynchronous! And Result, on the contrary, reduces performance

[2022-09-12 13:39] MihaZupan commented on #75420
We would have to come up with the right set of events and counters, but I think this request makes sense.

`ManagedWebSocket` seems like the correct place for such telemetry to me. Libraries that build on top of WebSockets shouldn't have to reimplement it (but they can of course augment it with their domain-specific information).

[2022-09-12 13:45] vitek-karas commented on #75429
I looked at the logs of both of those failures and it's weird. The test log says something like (simplified):
[code]

There's no stderr printed out. The two failures are on a different test assets but otherwise look very similar.

Looking into the logs, the msbuild binlog for the publish command says that the command succeeded in both case.

So it's happening for different test assets, on differen

[2022-09-12 13:47] MihaZupan commented on #75446
Not every project should be using these APIs. As I said, they should only be used as a last resort when `async` is not available (e.g. running in a callback of a legacy API that is out of your control and doesn't support `async`).

While not every program is asynchronous, every program *can* be.
Using sync APIs is better than "sync over async" (`.Result`), but it is not better than properly using

[2022-09-12 13:52] Mr0N commented on #75446
Apparently, due to asynchrony, the program slows down by 20 percent more than without it, if I don't want my program to not do very well, at all 100 percent, what should I do in this case?

[2022-09-12 13:54] adamsitnik commented on #75125
@lateralusX I've moved away from using `Unsafe.As`: https://github.com/dotnet/runtime/pull/75012/commits/61066590fec7809c1168d88396839d69fd91a52c

Big thanks for your help and apologies for creating an issue that was not an actual bug.

[2022-09-12 13:55] MihaZupan commented on #75446
Can you share the benchmark you used to determine that using sync APIs is 20% faster than using async ones?

[2022-09-12 14:08] jeffschwMSFT commented on #72297
![image](https://user-images.githubusercontent.com/9561583/189675268-0b78a61a-c056-432f-9403-0a5a858b8f6a.png)

[2022-09-12 14:13] jakobbotsch commented on #75442
The problem seems to come when we value number
[code]

We properly mark `vr1[0]` as having a loop dependency on the LHS, but on the RHS we hit the `MapSelect` cache and thus the tree on the right does not get the mark (annotated with some comments):

[code]

[2022-09-12 14:18] jakobbotsch commented on #75442
#54118 was in the product for years and this seems like an even harder to hit variant of that. I don't think this is needed for 7.0.

[2022-09-12 14:19] SamMonoRT commented on #46666
Moving to 8.0.0 milestone.

[2022-09-12 14:24] steveisok commented on #74066
@ComptonAlvaro Is this an Android issue? The description of the issue appears to be WPF oriented, but some of the comments indicate Android.

[2022-09-12 14:24] karelz commented on #74795
@wfurt do we understand why it is happening only on System.Net.Request on not on other test suites?
Will we need to initialize msquic in more test suites in future?

[2022-09-12 14:27] adamsitnik commented on #75394
@vargaz thanks!

[2022-09-12 14:27] #75394 closed

[2022-09-12 14:27] karelz commented on #74795
Also, does it impact also release/7.0 branch? Should we backport it as test-only change?

[2022-09-12 14:28] Mr0N commented on #75446
using System.Net;
using System.Net.Http;
using System;
using BenchmarkDotNet.Running;
using BenchmarkDotNet.Attributes;
using BenchmarkDotNet.Jobs;

var summary = BenchmarkRunner.Run<Test>();

Console.ReadKey();
[SimpleJob(RuntimeMoniker.Net60)]
public class Test
{
    private void Set() { }
    [Benchmark]
    public void Get()
    {
        for (int i = 0; i < 100000; i++)
        {

[2022-09-12 14:29] steveisok commented on #74505
@hoyosjs Do you know who is the right person to tag?  The objwriter branch is pulled in by NativeAOT and is not something we manage.

[2022-09-12 14:31] stephentoub commented on #75446
That benchmark doesn't include anything to do with HttpClient.  The `Set()` in your benchmark will also be completely removed such that your `Get()` function will be an empty loop.

[2022-09-12 14:33] stephentoub commented on #75437
Yes, this is the same as https://github.com/dotnet/runtime/issues/39233.  Here Deserialize is your benchmark and Deserialize2 is your benchmark but with a BufferedStream added in between:

|       Method |            Runtime |     N |      Mean | Ratio |
|------------- |------------------- |------ |----------:|------:|
|  Deserialize | .NET Framework 4.8 | 10000 |  37.77 ms |  1.00 |
|  Deserializ

[2022-09-12 14:33] ComptonAlvaro commented on #74066
@steveisok Perhaps I wasn't be clear. The problem is in the android device, from a windows client, like WPF, I don't have problems to connect.

[2022-09-12 14:36] Mr0N commented on #75446
![image](https://user-images.githubusercontent.com/61237140/189682137-9190e96b-5f28-43d2-bbe6-3ff20658939f.png)
https://sharplab.io/#v2:EYLgZgpghgLgrgJwgZwLQBMCWUA2B7Ac1RgAsIBbTAOwIB8ABAJgEYBYAKHoAYACe5gKwBuDvQDMfRjwAqKGBwDeHHip4AHBJgBusCHwAsPAMoQYACgCUPBTwC+HZavEGeAcVOXHKpe1V+eYHgIPGbUMDyYPAC8PFxCETwAPDzMXGlp8ZgA1FkWXv4+/kXGHhYivsX2FSpVfhraunwAHHwAbCUwAILIAJ5UAMaW1nbK+c70LfTt7l29A0P5hcWBwaFU4ZExc

[2022-09-12 14:37] AhmedZero commented on #75314
it's better than JSON.NET now.

[2022-09-12 14:37] Mr0N commented on #75446
and what's the point of HttpClient here, I'm talking about the concept of making the entire program asynchronous

[2022-09-12 14:38] stephentoub commented on #75446
I'm not sure what that's trying to show.  It'll be removed by the JIT, not the C# compiler:
[SharpLab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIAYACY8gVgG4biBmJ0hgFRi4MNAN40GkhgAcoASwBu2DDCYoGAZRgYAFAEoGohgF8aEqdzUMA4tv3nJ46lJcMAZtAY65AOwwM5BgBeBjo2AIYAHgZyOji48LkAaiS9B1cnVyzNOz0OZ2zTAskil1lFZVViAA4mJByMAEFcAE8fMH1DEwl0yxq6m21mto6DdMzsjygvX39AkLCI6Nj4xeTU9JcJ7IsATgbh9

[2022-09-12 14:39] stephentoub commented on #75446
The point is you're asking for synchronous methods on HttpClient, and you claimed that "the program slows down by 20 percent more than without it", so Miha asked for a benchmark showing that your program using HttpClient slows down by 20% when using async rather than sync.

[2022-09-12 14:45] Mr0N commented on #75446
![image](https://user-images.githubusercontent.com/61237140/189684380-e0433ed9-f9f3-4dd7-a9da-a0b46d981fc4.png)
using System.Net;
using System.Net.Http;
using System;
using BenchmarkDotNet.Running;
using BenchmarkDotNet.Attributes;
using BenchmarkDotNet.Jobs;

var summary = BenchmarkRunner.Run<Test>();

Console.ReadKey();
[SimpleJob(RuntimeMoniker.Net60)]
public class Test
{
    public int setIntS

[2022-09-12 14:46] Mr0N commented on #75446
it is difficult to conduct such a test

[2022-09-12 14:46] Mr0N commented on #75446
Well, I think that's enough

[2022-09-12 14:51] lambdageek commented on #69409
@kg I think this issue is done. Feel free to reopen, or create new issues if we need to revisit

[2022-09-12 14:51] #69409 closed

[2022-09-12 15:05] rzikm commented on #75446
@Mr0n You do realize that your benchmarks only measure the overhead of calling an async method vs non-async method (if they measure anything). Like Clockwork-Muse said, when you call the actual HttpClient methods, the "overhead" of async call is negligible compared to the implementation of the methods and the network stack underneath.

[2022-09-12 15:06] Mr0N commented on #75446
And if I have a lot of resources, and I don’t want to save them, but I want speed? And I don’t want the il code for async to be executed

[2022-09-12 15:07] Mr0N commented on #75446
yes, I understand, and I want to have a choice of what to save on

[2022-09-12 15:13] tommcdon commented on #68018
Removing the "blocking-release" tag as the fix is likely more involved than we can fit into the .net 7 release, and so we will target addressing this issue in .net 7 servicing.

[2022-09-12 15:25] kunalspathak commented on #74773
Yes, will address reviews soon and merge.

[2022-09-12 15:32] karelz commented on #75378
Duplicate of #73447

[2022-09-12 15:34] karelz commented on #74710
Reopening to track the 7.0 backport ...

[2022-09-12 15:34] jnyrup opened #75455 "SqlServer.Types regressed on .NET 7"
### Description

When trying out .NET 7 Preview 7 the runtime of some our tests approximately increased by ~100% from 0.9s from 1.8s compared to .NET 6.0.8.

I traced the majority of the regression to calls to [Microsoft.SqlServer.Types](https://www.nuget.org/packages/Microsoft.SqlServer.Types/14.0.1016.290) and bisected the regression to be introduced in .NET 7 Preview 5.

To reproduce download [

[2022-09-12 15:45] mangod9 commented on #74631
hmm. perhaps excluding it via `<ExcludeList Include="$(XunitTestBinBase)/GC/API/GC/GetTotalPauseDuration.csproj">` (notice `csproj`, rather than `*`. @trylek do you happen to know if individual tests can be disabled this way or only wildcards are supported?

[2022-09-12 15:49] stephentoub opened #75456 "Consolidate System.Private.Xml tests into a single csproj"
System.Private.Xml currently has 27 different test projects!  It makes it near impossible to determine whether some change has appropriate test coverage.  With the exception of the trimming tests, we should consolidate them all into a single test project.

[2022-09-12 15:52] eiriktsarpalis commented on #63898
@robert-stratecglobal what should be the value of `TypeToConvert` for something like [`JsonStringEnumConverter`](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.serialization.jsonstringenumconverter?view=net-6.0)?

[2022-09-12 15:53] dakersnar commented on #74148
@tannergooding and I discussed this on Friday and have decided we are not going to include this feature. He plans on sending a longer explanation here but for now we can remove the blocking-release tag.

[2022-09-12 15:54] AntonLapounov commented on #75410
Thank you for the verbose output.  There is an issue with the `Path` variable in your environment:
[code]
You need to remove this part (including quotes) from its value:
[code]
Having quotes in `Path` breaks batch scripts.

[2022-09-12 15:54] mangod9 commented on #75325
Closing as dupe till we get a newer SDK drop.

[2022-09-12 15:55] steveisok commented on #75307
The tweak to make the app not crash has been merged into both main and 7.0

[2022-09-12 15:55] #75307 closed

[2022-09-12 15:57] karelz commented on #75307
Fixed in main (8.0) in PR #75344 and in 7.0 (RC2) in PR #75423

[2022-09-12 16:01] hopperpl commented on #75431
is maxValue inclusive or exclusive? minValue respectively.

[2022-09-12 16:02] jkotas commented on #75387
We should make the breaking change.

99+% of the cases that take paths go through libraries shims that do not have this adjustment. It is just the few remaining cases that still go through the Win32 PAL have this odd behavior.

[2022-09-12 16:03] stephentoub commented on #75431
In the existing APIs, minValue is inclusive and maxValue is exclusive.  This is using the same naming as the existing overloads and would have the same semantics as the existing overloads.

[2022-09-12 16:04] radical opened #75459 "[release/7.0][wasm] V8 segfault on perf pipeline"
`dotnet-runtime-perf` build `20220912.3`:

[code]

Earlier in the log:
[code]

cc @radekdoulik

[2022-09-12 16:27] Clockwork-Muse commented on #75446
We don't change things for a single unknown customer.
 It is unrealistic for us to assume that the majority of our customers will have the sort of resources you're claiming here.  For that matter, it's likely unrealistic for _you_ to assume your customers have the sort of resources you're claiming as well.  If they do, absent some compelling use-case you haven't yet disclosed, they're most likely

[2022-09-12 16:38] jkotas commented on #74795
Any test that launches child processes and ends up loading Quic is prone to hitting this issue. I expect that we will see this problem in a few more tests over time.

An alternative big hammer fix that would address it everywhere would be to set `QUIC_LTTng=0` in the environment. I think we try the proposed fix and see how it works, and only go back to the big hammer fix if we get signal that the

[2022-09-12 16:41] wfurt commented on #74795
Note this is initialization race. So when Quic is initialized befe test runs and child processes it is OK. That for example happens when we conditional tests where XUnit evaluates conditions before test run.

[2022-09-12 16:47] karelz opened #75463 "Test failure: System.Security.Cryptography.Tests.HashAlgorithmTest.ComputeHashAsync_SupportsCancellation - no exception"
Failures in [last 30 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E30+definition%3Aruntime+name%3A%22system.security.cryptography.tests.hashalgorithmtest.computehashasync_supportscancellation%22) as of 9/12:

Day | Run | OS
-- | -- | --
9/12 | PR [12608](https://runfo.azurewebsites.net/view/build/?number=12608) | net7.0-Linux-Debug-x64-Mono_release-(Centos.7.Amd64.Open)Ubuntu.

[2022-09-12 16:52] hopperpl commented on #75431
then it should be noted that way...

- because `Next<T>(T.MinValue, T.MaxValue)` will not be the same as `Next<T>()`
- also `Next<T>(0, T.MaxValue + 1)` will not be possible (assuming T is a signed variant)... if the goal is to have any value of the positive range (of a signed T variant)

I'm not against it, but it has to be clearly stated, I fell into that pitfall many times. The documentation me

[2022-09-12 16:52] karelz commented on #75463
Happens 1x per 2 days -- blocking-clean-ci

[2022-09-12 16:57] carlossanlop commented on #74588
@naricc @SamMonoRT can you please backport the disabled test to release/7.0 too? I saw this failure happen in a PR in that branch. Example:

PR: https://github.com/dotnet/runtime/pull/75326
Job results: https://dev.azure.com/dnceng-public/public/_build/results?buildId=11593&view=logs&j=ac444259-14dc-5e9e-4846-f4aabcc22cf0&t=8b5dcf28-4222-5bb1-452d-824912c72244&l=28
Log: https://helixre107v0xdeko0k

[2022-09-12 17:10] carlossanlop commented on #75429
Seen also in this other release/7.0 PR: https://github.com/dotnet/runtime/pull/75407

Please help determine if this test failure need a fix to get backported to that branch, or if the test can get disabled.

[2022-09-12 17:12] jeffhandley commented on #75416
@tannergooding / @dotnet/area-system-numerics Since this is broken new functionality, I'm going to apply the `blocking-release` label. If the fix comes in this week, we can request servicing into RC2. Next week and beyond we'd be looking at the GA milestone.

[2022-09-12 17:15] Nick-Stanton commented on #36122
Just was able to repro this in .NET 7. Confirmed that unexpected behavior doesn't happen when SizeLimit isn't used, or if any get() or set() is called just before the Item3 Set(). Seems like eviction kicks off when the Item3 Set() is called but does so after the item is set. Is this by design?

CC @Tratcher

[2022-09-12 17:15] jeffhandley commented on #72194
@AndyAyersMS Has the PGO update come through, and/or should we go ahead and close this?

[2022-09-12 17:21] Tratcher commented on #36122
There are conflicting requirements here:
- We didn't want to run active timers for every entry expiration
- Avoid doing too much work on any thread directly interacting with the cache (e.g. don't do a full scrub when someone tries to get or add).
This results in transient states like the one described above where the cache knows it's full and doesn't add, but also triggers a background thread to p

[2022-09-12 17:22] jkotas commented on #74710
Backport has been merged.

[2022-09-12 17:22] #74710 closed

[2022-09-12 17:27] mangod9 commented on #74756
yeah some way to isolate the test into something independent -- perhaps a standalone test which we can repro easily?

[2022-09-12 17:30] karelz opened #75465 "Test failure: WasmTestOnBrowser-System.IO.MemoryMappedFiles - Memory access out of bounds"
Frequency [last 30 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E30+definition%3Aruntime+name%3A%22wasmtestonbrowser-system.io.memorymappedfiles.tests+work+item%22) in Runfo as 9/12:

Day | Run | Details
-- | -- | --
9/11 | Rolling run [12016](https://runfo.azurewebsites.net/view/build/?number=12016) | net7.0-Browser-Release-wasm-Mono_Release-WasmTestOnBrowser-Ubuntu.1804.Amd6

[2022-09-12 17:31] karelz commented on #75465
@lewing @steveisok can you please help route it to the right folks? Not blocking CI yet, but close ...

[2022-09-12 17:35] radical commented on #74328
@ilonatommy The `RuntimeList.xml` issue was because WBT on main was broken. Could you please try it again now?

[2022-09-12 17:36] radical commented on #74328
@ilonatommy Also, yours is a different issue. This one is about `dotnet build` exiting with code 1, with *no* errors at all.

[2022-09-12 17:36] danmoseley commented on #73866
setting milestone 7, but if all the "investigating" issues have something tracking them (for 7 or later) or are determined not worth tracking, presumably we can close this.

[2022-09-12 17:37] karelz commented on #74629
Based on discussion on the PR: https://github.com/dotnet/runtime/pull/75330#issuecomment-1243910432 ... we believe some fix should happen in 7.0 - either in RC2/GA or in servicing.

[2022-09-12 17:37] mangod9 commented on #73783
This doesnt seem specific to arm64, moving to 8 to continue to investigate what impact writerbarrier has added.

[2022-09-12 17:37] trylek commented on #74631
There are two problems involved:

* The exclusions refer to the generated cmd / sh scripts, not the primary ilproj / csproj files.
* As the scripts are searched in test outputs, the project name emits another directory level.

As a result, I would expect that the right exclusion syntax in this particular case is as follows:

<code>&lt;ExcludeList Include="$(XUnitTestBinBase)/GC/API/GC/GetTotalPaus

[2022-09-12 17:38] Mr0N commented on #75446
using System.Net;
using System.Net.Http;
using System;
using BenchmarkDotNet.Running;
using BenchmarkDotNet.Attributes;
using BenchmarkDotNet.Jobs;

//var test = new Test();
//test.Setup();
//Console.ReadKey();
//test.Clear();
//return;
var summary = BenchmarkRunner.Run<Test>();

Console.ReadKey();
[SimpleJob(RuntimeMoniker.Net60)]
public class Test
{
    [GlobalSetup]
    public void Setup()

[2022-09-12 17:39] Mr0N commented on #75446
It turns out better to use the result than the synchronous Send method, it's somehow strange.......

[2022-09-12 17:40] mangod9 commented on #73782
Moving to 8 to continue to investigate why prefetching would cause such regressions.

[2022-09-12 17:41] dakersnar commented on #73866
Usually we close these once the next report gets released (which should be in the next couple days). Feel free to close it now if it makes things easier.

[2022-09-12 17:43] wfurt commented on #74795
reopening for 7.0

[2022-09-12 17:44] radical commented on #75430
Closing in favor of https://github.com/dotnet/runtime/issues/75465 .

[2022-09-12 17:44] #75430 closed

[2022-09-12 17:47] jeffhandley commented on #800
We have discussed this potential feature again and concluded that we are going to close the request. Features related to tab/word completion and/or other key handling behaviors are commonly needed in shells, and that is the layer where we think the feature is best implemented. With the Unix Console.ReadKey rewrite (#72193) complete in .NET 7.0, we expect that key-level functionality should now be

[2022-09-12 17:47] #800 closed

[2022-09-12 17:50] elinor-fung commented on #75429
Seems like this is only happening in release/7.0 right now?

The tests run the SDK used by the repo to publish test projects/assets. Potential difference I see is that release/7.0 is using RC1
https://github.com/dotnet/runtime/blob/cd483c16cc23b99c303c83f73c69a8fcde99abf6/global.json#L7-L8

while main is using Preview 7
https://github.com/dotnet/runtime/blob/467fef4a77a44d68b7062ebb5ad77a50fa7f78b

[2022-09-12 17:53] AndyAyersMS commented on #72194
We had a PGO update on 8/17 just after the RC1 snap that got backported: https://github.com/dotnet/runtime/pull/73973

But nothing much seems to have changed for these two tests (note the lab is measuring `main`). Maybe a slight improvement in the "single parallel" results.

![newplot - 2022-09-12T104331 245](https://user-images.githubusercontent.com/10121823/189721150-7888350b-48a1-4cea-b539-14c9

[2022-09-12 17:56] #75446 closed

[2022-09-12 17:59] #75337 closed

[2022-09-12 18:00] AndyAyersMS commented on #75100
Yeah, there are two cases -- (a) the values computed in the loop are not consumed after the loop; (b) the values computed in the loop are consumed but the final values are predictable before entering the loop.

Both of these are kind of "benchmarky" optimizations -- we would rarely expect users to intentionally write such loops for anything they seriously care to compute.

[2022-09-12 18:13] Clockwork-Muse commented on #75431
Which can cause slight bias to results downstream, as I brought up in #41457 .

.... what are these scenarios?

[2022-09-12 18:19] #66568 closed

[2022-09-12 18:22] vitek-karas commented on #75429
This looks basically identical to https://github.com/dotnet/runtime/issues/74328
The symptoms of that bug:  publish returns 1 on success

[2022-09-12 18:25] eiriktsarpalis commented on #62937
@layomia According to https://github.com/dotnet/runtime/issues/62937#issuecomment-1037259847 this is a regression in servicing. Should we consider backporting #63837 to .NET 6?

[2022-09-12 18:31] #58954 closed

[2022-09-12 18:34] LakshanF opened #75468 "Explore ways to reduce Microsoft.DotNet.ILCompiler size"
We bundle the build package, `Microsoft.DotNet.ILCompiler`, with the SDK and the size of the package is not small (zipped SDK[7.0.100-rc.2.22459.2] is around 245MB and the expanded bundle size of `Microsoft.DotNet.ILCompiler` is around 1MB). It will be good to help reduce the SDK size if possible.

The bulk of the size (~722K) comes from the task, ILCompiler.Build.Tasks.dll, and the associated dep

[2022-09-12 18:46] hopperpl commented on #75431
raytracing, (audio) signal processing, field density, math, geometry, anything that is too complex to completely calculate... you use a randomization of a normalized set (so 0 to 1) and then calculate until you have enough result values... as the calculation will theoretically go on forever... if the 1 is missing as a random value, one "edge" will be "not sharp"

If you have a large input set, the

[2022-09-12 19:03] wfurt opened #75471 "Quic tests timing out on Linux arm32"
https://helix.dot.net/api/2019-06-17/jobs/6ec242ba-cfb7-4f1f-811d-c3906f36fd88/workitems/System.Net.Http.Functional.Tests/console
[code]

and similar for Quic https://helix.dot.net/api/2019-06-17/jobs/6ec242ba-cfb7-4f1f-811d-c3906f36fd88/workitems/System.Net.Quic.Functional.Tests/console
[code]

it is not clear if this is just timing difference or if we have fundamental issues on arm32.

[2022-09-12 19:18] lambdageek opened #75474 "[wasm-mt] AOT compilation with threading enabled results in out of bounds memory access"
Compiling with `dotnet publish -c Release -p:RunAOTCompilation=true -p:PublishTrimmed=true -p:WasmEnableThreads=true` results in crashes at runtime

* Install 7.0.100-rc.2.22462.1 from [dotnet/installer](https://github.com/dotnet/installer)

* create a NuGet.config for the dotnet7 feed
[code]
* install the `wasm-experimental` workload using `dotnet workload install wasm-experimental`

* create a n

[2022-09-12 19:22] lambdageek commented on #75474
I dont' think it's a trimmer issue:  this is in the published System.Private.CoreLib.dll:

[code]

[2022-09-12 19:27] MichalPetryka commented on #75455
Could you try runnig the benchmark with `DOTNET_GCName=clrgc.dll`?

[2022-09-12 19:27] mangod9 commented on #74631
ah thanks, have updated it in this PR now: https://github.com/dotnet/runtime/pull/75475

[2022-09-12 19:31] lambdageek commented on #75474
Note also that `dotnet publish -c Release -p:WasmBuildNative=true -p:PublishTrimmed=true -p:WasmEnableThreads=true` works

[2022-09-12 19:37] dhhoang opened #75476 "Why is `System.Diagnostics.Eventing.Reader.EventMetadata.Id` a `long`?"
### Description

I am working with `System.Diagnostics.EventLog`. I've noticed that `EventMetadata.Id` is 64-bit (https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.eventing.reader.eventmetadata.id). However the EventId in `EventRecord.Id` is 32-bit https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.eventing.reader.eventrecord.id.

Also according to https://docs.microsoft.c

[2022-09-12 19:43] Nick-Stanton commented on #36507
Thanks for the catch @smbecker, `ConfigurationReloadToken`'s RegisterChangeCallback method has been changed to avoid this case

[2022-09-12 19:43] #36507 closed

[2022-09-12 20:01] jnyrup commented on #75455
Using `$Env:DOTNET_GCName="clrgc.dll"`

.NET 7.0: The result is identical.
.NET 6.0.8: I get `Failed to create CoreCLR, HRESULT: 0x80004005`

[2022-09-12 20:12] JulieLeeMSFT commented on #64626
@AndyAyersMS, are you still looking into this? Should we assign a different owner in GC team?

[2022-09-12 20:13] vitek-karas commented on #75429
Closing this as dupe of #74328 since it has the exact same behavior.

[2022-09-12 20:15] aloraman commented on #75431
#### Thoughts on API shape
I don't think having the same random API for all numeric types is a good idea. Integer numbers and floating-point numbers have different behaviors and expectations. Single generic API for all of them would have very weird behavior. The very core of RNG is producing sequence of uniformly distributed byte values, other methods produce values of specific types from these by

[2022-09-12 20:16] mrsharm commented on #64626
I'll take over from here since this is prospectively a GC issue. Investigation in Progress.

[2022-09-12 20:16] hoyosjs commented on #74505
fyi @MichalStrehovsky  @jkotas @LakshanF

[2022-09-12 20:31] dakersnar commented on #72194
@AndyAyersMS Taking a second look I think I was mistaken. I was referring to the larger July 3rd regression, but this issue is actually referring to the smaller regression on June 27th, which you are correct has not been solved.
![image](https://user-images.githubusercontent.com/18474647/189752774-558ab010-f591-438e-bc3a-8fc417d10f2d.png)

[2022-09-12 20:39] LakshanF opened #75480 "Annotate remaining runtime libraries for NativeAOT"
The below set of runtime assemblies need to be annotated for AOT (the # of warnings might not be accurate and need to be validated). Related issues - #69739, #61231, #67741

Assembly | Aot Warnings
-- | --
System.Linq.Expressions.dll | 124
System.Private.Xml.dll | 78
System.Xml.XmlSerializer.dll | 39
System.Xml.XmlDocument.dll | 39
System.Xml.XPath.dll | 39
System.Xml.XPath.XDocument.dll | 39
Syst

[2022-09-12 20:42] jvbsl commented on #75427
Did you try .Net 7 or .Net 5 respectively? Because I have a problem which could be the same:
https://github.com/jvbsl/DotnetDependencyProblem
Example for System.Drawing.Common, which throws PlatformNotSupportedException, as well as a Project using a modified SharpFont version of myself which needs to load a library from the runtimes folder dependent on platform which can't be loaded.

Basically th

[2022-09-12 20:45] Jozkee opened #75482 "TarWriter uses ASCII to write down fields and should use UTF8 instead"
All formats use ASCII encoding to write down fields, which is unfortunate because a UTF8 name like "földër" will look garbled when read back.

[code]

This is visually mitigated on Pax because UTF8 encoding is used to write down extended attributes and fortunately, that's the default format. However, legacy fields on Pax entries do get garbled but when using .NET APIs, we overwrite the legacy fiel

[2022-09-12 20:53] karelz commented on #74710
Fixed in main (8.0) in PR #75393 and in 7.0 (RC2) in PR #75403.

[2022-09-12 20:57] #32954 closed

[2022-09-12 21:01] danmoseley commented on #75482
Should we fix for 7.0? What is the risk of breaking something else if we fix this?

[2022-09-12 21:05] stephentoub commented on #75482
https://github.com/dotnet/runtime/pull/75373#discussion_r967650446

What is the impact if we don't do this?  Does it prevent roundtripping / another tool deserializing tar archives produced by TarWriter?

There's a high liklihood file names will contain non-ASCII characters.

[2022-09-12 21:06] luanmm commented on #75427
Not really. The project I'm working on, when this happened, is using .NET 6 (that is the current LTS).

If I have some time to try these other versions in this project, I update here.

[2022-09-12 21:08] teo-tsirpanis commented on #75427
@jvbsl [`System.Drawing.Common` is not supported on non-Windows](https://docs.microsoft.com/en-us/dotnet/core/compatibility/core-libraries/6.0/system-drawing-common-windows-only).

[2022-09-12 21:10] Jozkee commented on #75482
I tried opening with 7Zip an archive created with TarFile.CreateFromDirectory and that worked just fine.

I tried BDS Tar on WSL Ubuntu with all the supported formats and all of them encode the name as UTF8.

For formats other than Pax, containing a name or some other field (such as LinkName) that contains non-ASCII characters, those characters will be garbled as shown in the picture of the origin

[2022-09-12 21:12] jvbsl commented on #75427
Well yes and no. The problem has nothing to do with whether it is supported on non-windows or not, because it still works, it is even still meant to work on Linux in .Net 6

further down in your URL (Which btw. currently does not change a thing, because the problem mentioned here is a different one)

And as I said, just an example(and it works with .Net 7 btw) and I also have an example using anot

[2022-09-12 21:13] stephentoub commented on #75482
But they'll be garbled not just if someone inspects the value in a debugger but also if any other non-.NET tool tries to untar them, right?  i.e. they'll produce garbage names in the file system?

Sure... and we make it easy to do something other than the default.

[2022-09-12 21:13] danmoseley commented on #75482
Is there any impact on reading archives using our API, created by other Tar tools, and using non-ASCII metadata?

[2022-09-12 21:13] Jozkee commented on #75482
This might be as easy as replacing `Encoding.ASCII` for `Encoding.UTF8` and nothig else.

[2022-09-12 21:14] Jozkee commented on #75482
Right, even our own `TarReader` will read them back as garbled as I show in the snippet in the original post.

[2022-09-12 21:15] stephentoub commented on #75482
Then this needs to be fixed for 7.0.

It won't be. Several code paths assume that the input and output lengths will be the same; that's a valid assumption for Encoding.ASCII but not for Encoding.UTF8.

[2022-09-12 21:15] hoyosjs commented on #70776
@VSadov should this be closed?

[2022-09-12 21:20] kouvel commented on #71921
Yes, `dotnet-trace` samples managed thread stacks and it cannot know whether a thread is blocked or not, so the sample count will include blocked time, which can make it more difficult to analyze on-CPU usage. [`perfcollect`](https://docs.microsoft.com/en-us/dotnet/core/diagnostics/trace-perfcollect-lttng) can produce on-CPU traces that may be easier to analyze for CPU usage.

I'm not able to open

[2022-09-12 21:23] David-Engel commented on #75481
System.Data.SqlClient is unlikely to ever see support for that Microsoft.SqlServer.Types package. System.Data.SqlClient is in strict maintenance mode and not receiving anything other than critical security and bug fixes. Migrate to Microsoft.Data.SqlClient for the latest features and support.

We have an issue in the SqlClient repo to track the status of spatial support: https://github.com/dotnet/

[2022-09-12 21:23] saucecontrol commented on #11626
that's x64 code.

here's x86

[code]

[2022-09-12 21:23] #75481 closed

[2022-09-12 21:24] eusebiu opened #75483 "HttpClient crashes app with no error"
### Description

Using the sample from https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient?view=net-6.0 just crashes the app with no error message in either console or Event Viewer.

### Reproduction Steps

Create a console app with VS 2022 17.3.3
Run code from https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient?view=net-6.0

### Expected behavior

HTTP error/

[2022-09-12 21:24] karelz commented on #74795
@wfurt can you please also re-enable the disabled test from PR #75266

[2022-09-12 21:24] karelz opened #75484 "System.Net.Security crash on arm64-Mono"
Frequency in [last 30 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E30+definition%3Aruntime+name%3A%22system.net.security.tests+work+item%22) in Runfo as of 9/12:

Day | Run | Details
-- | -- | --
9/11 | Rolling run [11861](https://runfo.azurewebsites.net/view/build/?number=11861) | net7.0-Linux-Release-**arm64-Mono**_release-(Ubuntu.1804.ArmArch.Open)Ubuntu.1804.ArmArch.Open

[2022-09-12 21:25] anthonycanino commented on #11626
Got it --- thanks for that. My mistake.

[2022-09-12 21:25] hoyosjs commented on #69465
We need to figure out capacity for this.

[2022-09-12 21:27] karelz commented on #75484
@wfurt @akoeplinger could it be related to #74795?

[2022-09-12 21:28] AndyAyersMS commented on #74969
Looking at asm diffs with and without SPMI collection, I see a lot more jit temps marked as "is exact" across a lot of methods, and in this method it leads to actual codegen diffs and presumably bad code:
[code]
So SPMI is not faithfully passing results either to the VM or back from the VM.

[2022-09-12 21:31] wfurt commented on #75483
It is unlikely the application would crash without any feedback. Can you try it will `dotnet build` & `dotnet run` from command line?

[2022-09-12 21:32] AndyAyersMS commented on #74969
From the diff in jit dumps
[code]

[2022-09-12 21:36] wfurt commented on #75484
Yes, this looks likely  https://github.com/dotnet/runtime/issues/74795  but we will need to fix it separately. It is somewhat sad that `Quic` creeps into test sets that do not really use it.
It will be sucked in via reflection from certificate validation code.
cc: @bartonjs for visibility.

[2022-09-12 21:39] VSadov commented on #70776
yes, https://github.com/dotnet/sdk/pull/27796 has just merged

[2022-09-12 21:39] #70776 closed

[2022-09-12 21:42] danmoseley commented on #75482
You'll want to include chars that encode as more than 2 bytes, too, not just `földër` (`föld€r` ? )

We should have tests for every string in our API both reading and writing that use non ASCII chars -- I guess that includes entry name and link name, and extended attributes, but I think user/group are limited by POSIX to a subset of ASCII.

[2022-09-12 21:44] exyi opened #75487 "Reflection-free Native AOT and Enum.IsDefined"
**Problem:** `Enum.IsDefined` always returns `false` in NativeAot with `IlcDisableReflection=true`, which triggers guards at many places. For example, it's not possible to use [`Environment.GetFolderPath`](https://source.dot.net/#System.Private.CoreLib/src/libraries/System.Private.CoreLib/src/System/Environment.cs,97) for this reason.

I understand the point that the metadata is not there, so this

[2022-09-12 21:45] exyi commented on #75487
I don't have permissions, but label should IMO be `area-NativeAOT-coreclr`

[2022-09-12 21:50] wfurt commented on #74795
That was part of #75424 unless I missed something. @jkotas already asked for it during review.

[2022-09-12 21:52] wfurt commented on #74795
https://github.com/dotnet/runtime/pull/75266 does not seems to make it to 7.0 so that part is missing the back-port PR.

[2022-09-12 21:55] karelz commented on #74488
I still see hits on some PRs, some of them created 1-2 days ago. Reopening.

[2022-09-12 21:57] AndyAyersMS commented on #74968
I'll take a look.

[2022-09-12 22:02] jkotas commented on #74505
@crummel Do you have a simple example of it is about from other repos? I was not able to figure it out from the linked documentation.

[2022-09-12 22:02] jkotas commented on #74505
Also, is it still going to be required for 8.0 given the planned source build changes?

[2022-09-12 22:19] jkoritzinsky commented on #65317
I don't think we'll be able to do this for the GA release. We recently accepted a change to update the Roslyn compiler for some ref-fields-related work (https://github.com/dotnet/runtime/pull/75156) that only exists in the RC2 SDK. As a result, we'd need to either update to a nightly SDK for the release/7.0 branch or wait until after RC2 is finalized (so basically right before GA) to fix this. Add

[2022-09-12 22:21] WalkerCodeRanger commented on #75225
I understand that our use case may be rare and you may decide not to support it. If it is not supported, I still think the cancellation behavior should be clearly documented so developers know when they will have a problem. In general, I find the documentation of what guarantees are or are not provided when canceling to be lacking in the API docs. For example, the [Stream class](https://docs.micro

[2022-09-12 22:21] eusebiu commented on #75483
Yes, I thought that too. Ran those commands also, but the same result.

[2022-09-12 22:27] karelz commented on #73447
More hits updated in the top post

[2022-09-12 22:30] karelz commented on #75483
Is it happening on more than 1 machine? This is highly suspicious.
Did you try to run it under debugger to see waht is happening? (if VS doesn't show anything, you can try windbg)

[2022-09-12 22:32] eusebiu commented on #75483
Yes, tried it only on 1 machine under VS debugger.
Will try windbg too...

[2022-09-12 22:34] karelz commented on #75483
FYI: One machine problems are time consuming to root cause -- especially when they are suspicious.
Based on my experience, it can be anything ranging from installation corruption to HW error. If you want to root cause it, go ahead. We will most likely not invest into it, unless it is confirmed problem on multiple machines.

[2022-09-12 22:36] danmoseley commented on #75480
our systems expect exactly 1 area label -- I'm assuming you're doing it @LakshanF so leaving area-nativeaot-coreclr.

[2022-09-12 22:38] mrsharm commented on #74771
Repeated the ``WithContent`` experiment in a GC centric way where we hardcoded the iterations, reduced the number of forced induced GC by BDN and prevented the removal of outliers between segments, regions and regions with a more precise write barrier and concluded similar results as above:

1. Regions and Regions w/ the Write Barrier regressed.
2. The Write Barrier regressed more than the Regions

[2022-09-12 22:39] karelz commented on #74795
Yep, sorry - I looked accidentally only at 7.0 change where it was not disabled ... I updated to post and removed the disabled-test label.

[2022-09-12 22:42] carlossanlop opened #75491 "CI failure: `Installer-coreclr-Linux_x64-Release` `Microsoft.NET.HostModel.ComHost.Tests`- Constructor parameters did not have matching fixture data: SharedTestState fixture"
[code]

- Seen in this release/7.0 backport PR: https://github.com/dotnet/runtime/pull/75461
- Job tests: https://dev.azure.com/dnceng-public/public/_build/results?buildId=13115&view=ms.vss-test-web.build-test-results-tab
- Build: https://dev.azure.com/dnceng-public/cbb18261-c48f-4abb-8651-8cdcb5474649/_build/results?buildId=13115
- Callstack:

Error message
[code]
Stack trace
[code]

- Affected t

[2022-09-12 22:43] Fabi commented on #75487
I suggest providing source generators for those cases. With them you can actually generate extensions for enums to handle Enum.Parse and IsDefined properly.

[2022-09-12 22:46] jkoritzinsky commented on #75491
We don't upload the binlog from these builds inside the installer tests, so this is extremely difficult to diagnose the underlying intermittent issue as the info above is all we have to go on.

[2022-09-12 22:47] karelz commented on #74170
@roji should we re-enable the tests and remove links to this issue? https://github.com/dotnet/runtime/search?q=74170

[2022-09-12 22:50] wfurt commented on #75483
what `dotnet --info` gives you? I assume the build you give you see feedback ... and that looks right?
You can `set COREHOST_TRACE=1` -> that should give you some insight to runtime initializetion.

You can also write and run simple "Hello World!" app and check if that runs OK

[2022-09-12 22:53] joeloff commented on #75491
None of that seem related to the workload changes itself, but I suppose it could be caused by the Arcade update. There were a lot of changes that got pulled in that I'm not 100% sure about. The changes under `eng` all came from updating Arcade, other than getting the new task DLL, none of the Arcade changes are related to the workload change either.

[2022-09-12 22:57] eusebiu commented on #75483
[code]

Where should I get the logs from COREHOST_TRACE=1?

[2022-09-12 22:59] jkotas commented on #75491
Duplicate of https://github.com/dotnet/runtime/issues/75429 and https://github.com/dotnet/runtime/issues/74328

[2022-09-12 22:59] #75491 closed

[2022-09-12 23:05] roji commented on #74170
@karelz no, unfortunately the issue still persists... My proposal was to block distributed transactions on arm64 because of this, but we may want to allow it instead (see https://github.com/dotnet/runtime/pull/74570#issuecomment-1242984514). In any case, the intention is to get to the bottom of this post-rc2, possibly post-7.0.

[2022-09-12 23:19] AndyAyersMS commented on #74968
For ref classes, `getClassNumInstanceFields` includes fields from parent classes. The simple field handle enumeration done in `makeExtraStructQueries` fails (well, produces a bogus field handle) because the type itself won't have all the fields.

In this case `SimpleClassWithGCField` has 3 fields, but only one field handle of its own; the other two are on the parent class `SimpleClassA`:

[code]
P

[2022-09-12 23:33] jkotas commented on #74488
Stack trace of the crash (the hangs seems to be caused by crash reporting taking too long, so same root cause):
[code]

[2022-09-12 23:42] danroth27 opened #75492 "Hot reloading a change in Blazor WebAssembly app after hitting a breakpoint causes browser to crash"
### Description

When I hot reload a change to the IncrementCount method in a default Blazor WebAssembly app after hitting a breakpoint and then continuing execution, sometimes the browser crashes.

### Reproduction Steps

- Create a new Blazor WebAssembly app
- F5 to debug
- Set a breakpoint in `Counter.IncrementCount()`
- Click the Counter button
- F5 to continue
- Add the following line of code