[2021-02-28 20:16] stephentoub opened #48885 "Dns event counters"
We should consider adding some event counters around name resolution, e.g.
- Number of Dns requests issued
- Number of Dns requests currently in fight
- Number of unique Dns requests currently in flight

[2021-02-28 20:50] davidfowl commented on #46266
Timer related allocations (UnmanagedThreadPoolWorkItem)

![image](https://user-images.githubusercontent.com/95136/109395565-dddaa280-78e1-11eb-8c35-721622f7bbab.png)

Removal of the QCall.

[code]

[2021-02-28 21:00] davidfowl commented on #36025
Yes this seems wrong. I don't recall why we did this preemptively. I wonder what serilog does.

[2021-02-28 21:17] SparkyTD opened #48887 "Implement Edit and Continue on other platforms"
Since the new .NET versions seems to focus on cross-platform support, I find it very surprising that such an important feature has not been implemented yet on platforms other than Windows. For many developers, including me, this is unfortunately a deal-breaker. We are being forced to either go back to Windows, develop our apps in a VM or just give up on E&C.

On behalf of all C# programmers on lin

[2021-02-28 21:17] noseratio commented on #47525
I use a helper for that in every single project I've worked on, frontend or backend.  It's not quite trivial to get right, so it'd great to have it built-in.

E.g., there could be an `AggregatedException` error for `Task.WhenAll` where (say) the first exception is `OperationCanceledException`, but the rest aren't. In this case [the default error unwrapping behavior of `await`](https://stackoverflo

[2021-02-28 21:31] KalleOlaviNiemitalo commented on #48473
Improving the documentation would be uncontroversial, I hope. Add a note to the [LoggerFactoryExtensions.CreateLogger](https://docs.microsoft.com/dotnet/api/microsoft.extensions.logging.loggerfactoryextensions.createlogger?view=dotnet-plat-ext-5.0) page saying that these methods are not very efficient, and that performance-sensitive code should do one of:

* cache the result; or
* resolve ILogger\

[2021-02-28 21:36] #44929 closed

[2021-02-28 21:57] pergardebrink commented on #36025
Do you mean the equivalent calls using Serilogs own logger instead of going through their Microsoft.Extensions version and passing arrays?

When using either Serilogs or NLogs own loggers, both will retain the array and pass it on to it's layout renderers. Here's SeriLog:

[code]

[code]
Produces (prettified):
[code]

[2021-02-28 22:29] willdean commented on #31525
Does "The timer will be paused while user code is executing and will resume the next period once it ends." mean that the actual cycle period is the total of the code execution time plus the configured timer interval?   If so, is there any substantive difference between the proposed timer simply using `Task.Delay(period)`, like this:

[code]

But maybe that's not what "paused" implies?

[2021-02-28 22:46] reflectronic commented on #39406
We should expose these for CachedBitmap (https://github.com/dotnet/runtime/issues/36105) too.
[code]

[2021-02-28 22:52] davidfowl commented on #31525
I hope in API review we discuss the other option as well (where the next dueTime is interval - time to execute your code) as it could support both easily.

It's also more efficient than Task.Delay:
- There's no task allocation per delay
- There's no timer allocation per delay

The last thing is that the pattern that makes it nice is the `ValueTask<bool>` return type means you don't need to `While(

[2021-02-28 22:52] stephentoub commented on #48887
Closing as dup of https://github.com/dotnet/runtime/issues/12409. Thanks.

[2021-02-28 22:52] #48887 closed

[2021-02-28 23:07] BruceForstall opened #48888 "crossgen2 SuperPMI collections failing due to unimplemented APIs"
After https://github.com/dotnet/runtime/pull/48534, crossgen2 collections stopped working due to unimplemented JIT-EE interface methods in crossgen2. See more details in the discussion in https://github.com/dotnet/runtime/pull/48578.

[2021-03-01 00:15] davidnmbond commented on #47525
For syntactic sugar, can we please have await AND awaitf keywords (or similar)?

That way, all my code that is like:

`var x = await thing.CallAsync(cancellationToken).ConfigureAwait(false);`

...can just be:

`var x = awaitf thing.CallAsync(cancellationToken);`

[2021-03-01 00:29] davidfowl commented on #47525
Looks like syntax salt 😆

[2021-03-01 00:50] noseratio commented on #47525
The idea of syntax sugar is interesting though, given how pervasive `ConfigureAwait` is. Although it probably should be pitched to the C# compiler team 🙂

[2021-03-01 01:30] xgbzsc opened #48891 "The same request, the same settings. Httpclient in NETCORE is better than framework slow"
The same request, the same settings. Httpclient in NETCORE is better than framework  slow

[2021-03-01 01:36] RussKie commented on #40103
We get more users trying to run Windows Forms apps as single file and hitting this bug. It would be great to have a fix.

[2021-03-01 01:56] VincentBu commented on #48496
Failed again in [runtime-coreclr outerloop 20210228.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1015947&view=ms.vss-test-web.build-test-results-tab&runId=31632410&resultId=109694&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-01 02:06] VincentBu commented on #47096
Failed again in [runtime-coreclr jitstressregs 20210227.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1015245&view=ms.vss-test-web.build-test-results-tab&runId=31617474&resultId=109670&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-01 02:13] davidfowl commented on #48567
Can you file an issue for this? With details and usage patterns etc.

[2021-03-01 02:14] VincentBu opened #48892 "Test failure : JIT/Methodical/fp/exgen/10w5d_cs_ro/10w5d_cs_ro.sh"
Run: [runtime-coreclr jitstress2-jitstressregs 20210228.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1015875&view=ms.vss-test-web.build-test-results-tab&runId=31630184&resultId=104615&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-01 02:15] Zheng-Li01 opened #48893 "Missing the description for some properties & events of migrated DataSet control"
* .NET Core Version:
.NET 6.0.100-preview.3.21123.4

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
Missing the description for some properties & events of migrated DataSet, DirectorySearcher, DirectoryEntry, PerformanceCounte controls.

**Expected behavior:**
There have the description for some properties & events of migrated DataSet control.

**Minimal re

[2021-03-01 02:21] VincentBu commented on #46279
Failed again in [runtime-coreclr gcstress0x3-gcstress0xc 20210228.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1015821&view=ms.vss-test-web.build-test-results-tab&runId=31629662&resultId=109696&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-01 02:26] VincentBu commented on #48579
Failed again in [runtime-coreclr gcstress0x3-gcstress0xc 20210228.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1015821&view=ms.vss-test-web.build-test-results-tab&runId=31629662&resultId=110528&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-01 02:32] VincentBu commented on #13613
Failed again in [runtime-coreclr gcstress0x3-gcstress0xc 20210228.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1015821&view=ms.vss-test-web.build-test-results-tab&runId=31629670&resultId=107391&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-01 02:43] VincentBu commented on #47697
Failed again in [runtime-coreclr gcstress-extra 20210227.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1015497&view=ms.vss-test-web.build-test-results-tab&runId=31622576&resultId=110131&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-01 02:46] xgbzsc opened #48896 "The same request, the same settings. Httpclient in NETCORE is better than framework slow"
The same request, the same settings. Httpclient in NETCORE is better than framework slow

 var httpClientHandler = new HttpClientHandler();
            httpClientHandler.MaxConnectionsPerServer = 512;//very important!!

                httpClientHandler.ServerCertificateCustomValidationCallback = (message, cert, chain, error) => true;

            var httpClient = new HttpClient(httpClientHandler)

[2021-03-01 02:53] VincentBu opened #48895 "ARM64 - Assertion failed 'isSharedConst' in 'Test:Main():int' during 'Optimize Valnum CSEs'"
Run: [runtime-coreclr r2r-extra 20210227.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1015629&view=ms.vss-test-web.build-test-results-tab&runId=31624618&resultId=100126&paneView=debug)

**Error message:**
[code]

[2021-03-01 02:53] BruceForstall commented on #13613
This continues to periodically fail in the CI. I've removed the milestone and re-added `untriaged` so it can be re-triaged for 6.0 product cycle.

[2021-03-01 02:59] VincentBu commented on #30724
Failed again in [runtime-coreclr libraries-jitstressregs 20210228.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1015762&view=ms.vss-test-web.build-test-results-tab&runId=31627126&resultId=137679&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-01 03:12] MihaZupan commented on #48885
Right now we have
- `dns-lookups-requested` - DNS Lookups Requested (total counter)
- `dns-lookups-duration` - Average DNS Lookup Duration

Something like `current-dns-lookups` seems reasonable - we have that for `Net.Security` and `Net.Http` as well.

With #48566 in mind, the meaning of this would likely be "number of not-finished `Dns.Foo(...)` calls".

I assume this would be 1:1 with the `curre

[2021-03-01 03:18] stephentoub commented on #48885
Ah, I didn't see that one.  That's the "Number of Dns requests issued" I was asking for.

Yes, if we're already tracking number of requests initiated, then if we also tracked number of requests finished, it would be the difference.

There might be some duplication, but whatever we do for #48566 is likely to only apply to a portion of requests, e.g. those that are implemented by queueing work items

[2021-03-01 03:19] xgbzsc commented on #48896
How long can there be a reply? The project is waiting to go online。This is very important

[2021-03-01 03:26] skyoxZ commented on #43359
I find a workaround for #46996:
[code]

[2021-03-01 04:04] AshleighAdams commented on #47525
@davidnmbond Nah, `ConfigureAwait` is a Task library construct, and `await` is a language construct.

The best proposal to this I've seen is to allow extending an `await` operator, so you can provide a `ConfiguredTask await(this Task t)`. I can't remember the exact syntax now, but it was far more flexible and means the compiler doesn't have to have edge cases with a `Task`.

[2021-03-01 04:05] davidfowl commented on #48896
If you have a paid support contract, you can call Microsoft support. Other than that, it'll be when somebody wakes up and triages the issue.

You can load the symbols from the framework and step into the code if you're blocked. It might give you some clues. Maybe it's something to do with that website specifically.

[2021-03-01 04:13] jcotton42 commented on #48896
Since you're making an issue about performance you should include some numbers to back up what you've found. You'll want to take a look at [BenchmarkDotNet](https://benchmarkdotnet.org/), it will help you get consistent numbers you can share here.

[2021-03-01 04:21] stephentoub commented on #48896
FWIW, I tried your repro on both .NET Framework 4.8 and .NET 5.0.  On the former I got an average time of 347ms, and on the latter I got an average time of 337ms.  I'm not seeing anything problematic.

[2021-03-01 04:36] xgbzsc commented on #48896
Run directly in visual studio,It may have something to do with visual studio。There is no problem opening the application directly in the folder。The way visual studio works at different runtime may be different。

[2021-03-01 04:36] xgbzsc commented on #48896
Run directly in visual studio,It may have something to do with visual studio。There is no problem opening the application directly in the folder。The way visual studio works at different runtime may be different。

[2021-03-01 04:38] xgbzsc commented on #48896
Run directly in visual studio,It may have something to do with visual studio。There is no problem opening the application directly in the folder。The way visual studio works at different runtime may be different。

[2021-03-01 05:11] scalablecory commented on #48685
Ultimately I want to have everything needed to support `SocketsHttpHandler.QuicConnectCallback`.

There are some QUIC-specific APIs like waiting for stream shutdown ACK and aborting a stream with an error code.

Yeah. This bleeds into the connection abstraction stuff. At a minimum I'd like to have a thought experiment on how we could in the future insert some abstract `MultiplexedConnection` type.

[2021-03-01 05:18] codeex commented on #48896
Run independently, Dont in vs ！

[2021-03-01 05:28] BruceForstall commented on #48895
Probable regression from https://github.com/dotnet/runtime/pull/44419

[2021-03-01 05:29] BruceForstall commented on #48895
@briansull
cc @dotnet/jit-contrib

[2021-03-01 05:30] BruceForstall commented on #48892
@dotnet/jit-contrib related to #44419?

[2021-03-01 05:38] xgbzsc commented on #48896
Thank you very much，I've never seen such a big difference in framework before。

[2021-03-01 05:44] BruceForstall opened #48897 "Support loop cloning with struct arrays"
Loop cloning, in `optExtractArrIndex()`, determines if there are interesting, optimizable array index expressions in a loop that can be optimized by removing the bounds check. It does not support array index expressions for arrays of structs.

E.g., for a simple byte array index `b[i]`, it matches:
[code]

for a simple struct `public struct B1 { public byte b1; }`

accessing `a[i]` (such as in a `

[2021-03-01 06:46] furesoft opened #48898 "Support Uniform Device API"
## Background and Motivation

There are many different libraries to communicate with bluetooth, audio output, microphone etc. It is really hard for cross platfrom applications to choose the right one, because one library is used for one platform.

## Proposed API
[code]

## Usage Examples

[code]
## Device Ideas
BluetoothDevice
SpeakerDevice
MicrophoneDevice
HIDDevice

## Risks

It is hard work to

[2021-03-01 06:57] rolfbjarne commented on #48796
@jkotas

Yes, here's an example (they aren't very common, but they do show up in a few API, some quite important like this one): https://developer.apple.com/documentation/foundation/nsstring/1497301-localizedstringwithformat

and here's how we've had to bind it due to the lack of varargs:

https://github.com/xamarin/xamarin-macios/blob/effe7dc49986bdafeb3e8c72c8e907908095c7b9/src/Foundation/NSStri

[2021-03-01 06:57] #48029 closed

[2021-03-01 07:26] jkotas commented on #48796
Does this work on Apple ARM64? If it does, the method is not actually using vararg calling convention. It has variable number of arguments, but the arguments are not passed using vararg calling convention, so adding support for vararg calling convention would not help.

[2021-03-01 07:39] rolfbjarne commented on #48796
The managed code calls our own native functions (without varargs), which call Apple's API (with varargs): https://github.com/xamarin/xamarin-macios/blob/effe7dc49986bdafeb3e8c72c8e907908095c7b9/runtime/nsstring-localization.m#L22-L82

Here's an example of where we call Apple's API with varargs directly from managed code: https://github.com/xamarin/xamarin-macios/blob/effe7dc49986bdafeb3e8c72c8e907

[2021-03-01 07:57] Xaeco commented on #46678
So I have coded two working solutions.

Solution 1
- produces the same results as .Net 4.8
- requires `TypeDescriptor.AddProviderTransparent()` method.
- doesn't use the `MetadataType` attribute.
- could potentially be made so that any declaration of the `MetadataType` attribute would auto register the `TypeDescriptor.AddProviderTransparent()` method negating the need for code.

Solution 2
- produ

[2021-03-01 08:18] wolfgangschneider commented on #46678
I prefer Solution 2 , Its the same as old silverlight WCF RIA services used.

[2021-03-01 08:20] iSazonov commented on #1541
- Windows Explorer can open zip archives and allow to work with them as with regular directories.
- NTFS has a compressed file/directory feature that also allow transparently work with the compressed content.

The both seem demonstrate a good experience for most scenarios. If so we could think about using the experience in .Net too (since generic operation are the same).

This would be very conven

[2021-03-01 08:46] willdean commented on #31525
Thanks @davidfowl, that makes sense.  If either is feasible, then I would vote (as if I have a vote!) for the cycle time to be the configured interval (or best effort at) rather than (the interval + the execution time).   To me that that's what a 'timer' implies - something which keeps time independently of the code execution duration.

But this would require a definition of what happens about cod

[2021-03-01 09:49] pergardebrink commented on #36165
If you take my numbers with a grain of salt (haven't been running BenchmarkDotNet a lot), I did some quick benchmarks with some of the things discussed here, like the lazy init or custom formatter. I couldn't yet get the dotnet/runtime repo to build locally for me, so I have created roughly equivalent code in a small repro project to test different scenarios. I am running each method with two diff

[2021-03-01 10:17] ViktorHofer commented on #48357
Will leave this issue open to make the change _very_ visible. See also the following on the repo home page
![image](https://user-images.githubusercontent.com/6431421/105438083-2fbf4700-5c17-11eb-87ec-904a35e55df6.png)

[2021-03-01 10:21] ViktorHofer commented on #48168
The rollout is now completed. Closing.

[2021-03-01 10:21] #48168 closed

[2021-03-01 10:22] john-h-k commented on #48898
This isn't a full API proposal. You need to include IDevice

[2021-03-01 10:33] furesoft commented on #48898
that was a mistake

[2021-03-01 10:36] omariom commented on #31525
A TimeSpan parameter in WaitForNextTickAsync  would make the next scenario possible:

[code]

[2021-03-01 10:38] john-h-k commented on #48898
It still isn't. Is your entire API proposal these 2 methods? If so, why do they need to exist? There need to at least be a few devices included in the initial proposal 😄

[2021-03-01 10:57] john-h-k commented on #48898
Equally, if these devices do exist - why do we need this API? Why can a consumer not just do

[code]

[2021-03-01 10:58] furesoft commented on #48898
thats a point, so we only need the device implementations

[2021-03-01 11:28] KalleOlaviNiemitalo commented on #46749
[FormattedLogValues](https://github.com/dotnet/runtime/blob/c636bbdc8a2d393d07c0e9407a4f8923ba1a21cb/src/libraries/Microsoft.Extensions.Logging.Abstractions/src/FormattedLogValues.cs#L16) is currently internal in Microsoft.Extensions.Logging.Abstractions. To let Microsoft.Extensions.Logging.EventLog access it, would you make it public or add another InternalsVisibleToAttribute?

[2021-03-01 11:32] the-black-wolf commented on #12409
Lol, their "commitment" to multiplatform was more than obvious in net50 when they cancelled .net standard and moved Linux support from dedicated standard implementation (that we could count on always working) into compile warnings/runtime exceptions inside common net50 libraries. So now, when I include a nuget package I have to hold my breath and wait to see if library maker made the effort to att

[2021-03-01 11:59] k15tfu opened #48902 "dotnet publish crashes with EXC_BAD_ACCESS (SIGBUS, SIGSEGV) on Apple M1"
Hi! I see some crashes when running dev builds of .NET SDK for macOS arm64, downloaded from https://github.com/dotnet/installer/blob/master/README.md#installers-and-binaries (specifically, [dotnet-sdk-6.0.100-preview.1.21108.2-osx-arm64](https://dotnetcli.azureedge.net/dotnet/Sdk/6.0.100-preview.1.21108.2/dotnet-sdk-6.0.100-preview.1.21108.2-osx-arm64.tar.gz)):
[code]
(full log is here [dotnet_202

[2021-03-01 12:45] XXXBold commented on #47848
Any updates on this?

[2021-03-01 13:07] #48891 closed

[2021-03-01 13:08] stephentoub commented on #48891
Dup of #48896

[2021-03-01 13:09] stephentoub commented on #48896
Closing, as there isn't a runtime concern here. Thanks.

[2021-03-01 13:09] #48896 closed

[2021-03-01 13:14] rolfbjarne opened #48907 "Creating a pinned GCHandle to an array of a blittable type may fail"
### Description

Just for the fun of it, try figuring out under which conditions this may fail (answer further below):

[code]

Surely an `int[]` is a blittable type?

Let's try:

[code]

Yes, that works just fine. However, the array might actually be an array of enum values, which isn't blittable (even though it's identical enough to int[] for the runtime to accept casting from one to the other):

[2021-03-01 13:42] tmds commented on #48822
@gerlachch you're right, thanks for tracing down the leak! `free(mem_usage_filename)` is missing. Do you want to make a PR to add it?

cc @janvorli @omajid

[2021-03-01 13:56] #48631 closed

[2021-03-01 14:07] kiru1283 commented on #48806
Send async was my desperate effort to see the client certificates got added at least while sending,  @davidfowl I have tested it from the constructor also having the same results.
@wfurt the logging indicates that the handler is invoked on application startup and also on on new instance creation (after 2 min idle time) it also indicates that the certificates got added to the hander but the SSL han

[2021-03-01 14:16] kiru1283 commented on #48806
My final version of the code which works only with 3.1 and not in 5.0
**on Startup.cs**
[code]
**on SwishpayHandler.cs**
[code]

[2021-03-01 14:45] TofuBug commented on #48840
While I respect your position its not like the language hasn't created alternatives to inconsistently named classes, methods etc in the past leaving the old one available for a time to let people adjust and eventually deprecating it. That's happend many many many times since .NET 1.0 dropped.

It's really no skin off my back I'm just pointing out the inconsistency of its naming convention around a

[2021-03-01 14:54] hlippke commented on #48822
@tmds I've worked with @gerlachch on this, he is on vaction today but we discussed this (PR) briefly. We'd welcome if you add the missing line and make the PR. Will this find its way into the next 5.0 service releases or only in 6.0?

[2021-03-01 15:09] davidfowl commented on #48840
I appreciate it but its unrealistic at this point. I have lots of namespaces I'd like to rename as well but its extremely hard to justify breaking changes like this.

[2021-03-01 15:19] gerlachch commented on #48822
@tmds I wouldn't mind contributing the fix but as @hlippke said, I am not available today. I could get familiar with the guidelines and create a PR tomorrow. But either way would be fine.

[2021-03-01 15:20] tannergooding commented on #48907
This might be related to the `DISPARAM` scenario that @AaronRobinsonMSFT mentioned here: https://github.com/dotnet/runtime/issues/12258#issuecomment-472991760.

There are a few spots where the marshalling expectations for types holds true for regular `P/Invoke`, but not for COM Interop.

[2021-03-01 15:35] john-h-k commented on #48907
Looks like this code is causing the issue

[code]

For some reason it seems enums are not considered blittable.

If one of the unused method table flags was changed to be `enum_flag_AutoLayout`, then this method could be trivially rewritten (either in the runtime or even in managed code and avoid the transition) to:

[code]

[2021-03-01 15:38] eiriktsarpalis commented on #48769
Hi @buyaa-n, should I move this to the Future milestone?

[2021-03-01 16:12] davidfowl opened #48913 "Add PipeWriter.UnflushedBytes"
## Background and Motivation

Sometimes its useful to know how many bytes have been buffered and not flushed by the pipe writer. This can be used to optimize how much the other side can see at once (a scenario where the pipe writer wants to write with a minimal chunk size). The JSON serializer does a similar thing today when it writing to the output stream https://github.com/dotnet/runtime/blob/f7

[2021-03-01 16:28] fanyang-mono opened #48914 "[MONO][LLVM][ARM64] Exception handling issue"
The following runtime test failed on CI lane `Mono llvmaot Pri0 Runtime Tests Run Linux arm64 release`:
- JIT/Regression/CLR-x86-JIT/V1.1-M1-Beta1/b143840/b143840/b143840.sh

[code]

[2021-03-01 16:38] fanyang-mono opened #48915 "[MONO][AOT][LLVM][ARM64] Failed to AOT some runtime tests"
This issue is related to CI lane `Mono llvmaot Pri0 Runtime Tests Run Linux arm64 release`. It was exposed by #48397.

Here is a piece of the failure log. The full log could be found via this [link](https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_apis/build/builds/1015413/logs/1880). Then search for `sha1_ro`.

[code]

cc: @imhameed

[2021-03-01 16:50] AaronRobinsonMSFT commented on #48907
That is true. Enums are not technically blittable since they can be backed by non-blittable types (e.g., `bool` and `char`) - see https://github.com/dotnet/runtime/issues/12258#issuecomment-473048186.

[2021-03-01 16:50] AaronRobinsonMSFT commented on #48907
This isn't to say we can't consider this issue but in practice I would likely consider this similar in priority to https://github.com/dotnet/runtime/issues/12258.

[2021-03-01 17:15] bartonjs commented on #48806
Your skepticism is justified :smile:.  Neither of those flags has any meaning on Linux.  On Windows they would be an appropriate combination if the certificate was being added to the LocalMachine\My store.

[2021-03-01 17:18] bartonjs commented on #48806
@wfurt this sounds like https://github.com/dotnet/runtime/issues/47580 to me... is it different?

[2021-03-01 17:51] #48367 closed

[2021-03-01 18:04] BruceForstall opened #48919 "SuperPMI collection broken"
https://dev.azure.com/dnceng/internal/_build/results?buildId=1015876&view=results

Error:
[code]

This is due to: https://github.com/dotnet/runtime/pull/48738

[2021-03-01 18:04] BruceForstall commented on #48919
cc @dotnet/jit-contrib

[2021-03-01 18:23] sandreenko commented on #43867
Link https://github.com/dotnet/runtime/issues/43867

[2021-03-01 18:36] wfurt commented on #48806
#47580  is somewhat not predictable as it depends on cache hit. One could probably just get maintenance build https://github.com/dotnet/installer before 5.0.4 is official available to check that out.
Could you reproduce it with simplified app outside of the factory @kiru1283? Having simplified repro would help with investigation. I would assume you would see similar behavior towards any server ask

[2021-03-01 18:51] AndyAyersMS commented on #48919
Looks like `jitoption` needs to be a common option.

[2021-03-01 19:10] ViktorHofer commented on #47116
Closing as probably a one-off.

[2021-03-01 19:10] #47116 closed

[2021-03-01 19:14] ViktorHofer commented on #46718
We believe this issue got fixed with https://github.com/dotnet/xharness/commit/ad45fbdf54dba09fd2f0c493dfc7f90af61e20c4. Closing, feel free to reopen if you hit it again.

[2021-03-01 19:14] #46718 closed

[2021-03-01 19:15] vsfeedback opened #48922 "Improve Performance of ToString() for Record Types"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Improve-Performance-of-ToString-for-Re/1337296)._

---
Looking at the PrintMembers method for record types, performance could be increased by using constants for " = " and ", ". Property names could be constants too. Also, look into possibly using StringBuilder from a object pool.

[Nul

[2021-03-01 19:19] ViktorHofer commented on #47185
Most likely mitigated with fixes mentioned in https://github.com/dotnet/core-eng/issues/11891.

[2021-03-01 19:24] kouvel commented on #38763
Fixed by https://github.com/dotnet/runtime/pull/47829 and some related more recent PRs

[2021-03-01 19:24] #38763 closed

[2021-03-01 19:26] #34693 closed

[2021-03-01 19:26] ViktorHofer commented on #34693
Not relevant anymore, closing.

[2021-03-01 19:27] #48504 closed

[2021-03-01 19:31] ViktorHofer commented on #38210
Fixed by @directhex in _some_ commit.

[2021-03-01 19:32] ericstj commented on #37108
self-assigning since I'm driving a PR for this.

[2021-03-01 19:32] ViktorHofer commented on #38213
Closing as potential memory issues have been mitigated.

[2021-03-01 19:32] #38213 closed

[2021-03-01 19:59] jeromelaban commented on #48814
This issue can be reproduced by enabling dedup generation

[2021-03-01 20:02] jeromelaban commented on #48814
This is a regression from https://github.com/dotnet/runtime/pull/48818

[2021-03-01 20:04] fanyang-mono commented on #38210
@directhex Could you please link your PR with this issue?

[2021-03-01 20:07] #42906 closed

[2021-03-01 20:09] directhex commented on #38210
That was https://github.com/dotnet/runtime/pull/47193 wasn't it?

[2021-03-01 20:44] Wraith2 commented on #48913
Are you sure it needs to be nullable?

[2021-03-01 20:52] omajid commented on #48764
Thanks for fixing this so quickly!

[2021-03-01 21:19] directhex commented on #38210
Apparently that was a different issue. Reopening.

[2021-03-01 21:20] LoicBaumann commented on #24847
One of the use case I have is about raw data reading/writing where a Stream is not particularly useful: I don't need an object that keeps track of the current `Position` into the file and updates it. I have no use of it and it is a problem if I want to issue concurrent reads and writes.
So yes, being able to issue read/write specifying the position would be ideal and I'd expect this to be as fast

[2021-03-01 21:35] jhudsoncedaron commented on #24271
So now I have something to say. I did make attempts to design an API that fit into the existing FileInfo/DirectoryInfo stuff. File.CreateSymbolicLink(string, string) and Directory.CreateSymbolicLink(string, string) are fine. FileInfo.ReadSymbolicLink(string) is fine. new FileInfo/DirectoryInfo(string) does indeed need a second argument for whether to see through the symbolic link or not. Note that

[2021-03-01 21:45] AndyAyersMS opened #48925 "PGO considerations for finally cloning"
Current finally cloning algorithm is roughly:
[code]
With PGO data, we should reconsider:
1. We might want to adjust the size threshold based on relative profile counts.
2. We should pick the hottest exit path, not the "normal" path
3. We might consider multiple clones
4. We should rescale the profile counts in the clone to reflect how much of the finally execution now flows there.

At a minimum,

[2021-03-01 21:51] stephentoub commented on #14484
Just to circle back, @333fred has a spec that we're moving forward with that enables something very similar to what I outlined in https://github.com/dotnet/runtime/issues/14484#issuecomment-780271020 and https://github.com/dotnet/runtime/issues/14484#issuecomment-734950020.  He can share the details when he's ready, but I think folks will be happy.

[2021-03-01 22:04] vijayrkn commented on #44503
@cijothomas - Ping on this. Is it okay to close the devcommunity ticket in favor of the sdk issue? microsoft/ApplicationInsights-dotnet#2161

[2021-03-01 22:07] cijothomas commented on #44503
@vijayrkn Yes.

[2021-03-01 22:13] rodion-m opened #48926 ".NET number values such as positive and negative infinity cannot be written as valid JSON."
In .NET 5 `double.NaN` is written to json as "NaN". Why not to write `double.PositiveInfinity` and `double.NegativeInfinity` as "PINF" and "NINF"? And the same for `float`.

It's not good that Infinity values throw an exception (`.NET number values such as positive and negative infinity cannot be written as valid JSON.`);

[2021-03-01 22:17] #48822 closed

[2021-03-01 22:34] 333fred commented on #14484
I was just submitting a PR with the spec: https://github.com/dotnet/csharplang/issues/2302.

[2021-03-01 22:37] Tornhoof commented on #48926
JSON does not support NaN or Inf.
See https://tools.ietf.org/html/rfc8259#section-6
That said, did you enable the appropriate flag https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsonserializeroptions.numberhandling?view=net-5.0?

[2021-03-01 22:43] CoffeeFlux commented on #48355
@lewing do you think this is worth splitting up further, or is the savings here not worth the added complexity? I'd prefer to defer that judgement to you since I don't have a good idea of the complexity this would add on the Blazor end.

[2021-03-01 22:44] naricc opened #48927 "[MONO] Add AOT compiler to desktop runtime pack"
The runtime pack should include the mono-sgen binary for use as an AOT compiler; this simplifies a lot of testing and benchmarking tasks. It might also be useful for developers who want to test any AOT stuff with out using an iOS/Android simulator.

[2021-03-01 22:48] rodion-m commented on #48926
@Tornhoof `AllowNamedFloatingPointLiterals` helped me, thanks a lot! The developers should add this info into the exception text.
Something like:
[code]

[2021-03-01 22:50] SittenSpynne commented on #47525
I see some features in proposed APIs I don't get, I'm not going to argue against them. But what I'd like to see is methods that do what they say. I want call sites that look like:

    await DoSomethingAsync().WithCapturedContext();
    await DoSomethingAsync().WithContext(customContext);
    await DoSomethingAsync().WithoutContext();

These methods say what they do. "Await this thing with a captu

[2021-03-01 22:58] jeffschwMSFT commented on #48902
Same issue as https://github.com/dotnet/runtime/issues/48343

[2021-03-01 23:01] noseratio commented on #47525
I really like this proposal, and I can heartily relate to the reasons @SittenSpynne provides behind it.

I'd also add `ForceAsync`, `IgnoreErrors`, and `IngnoreCancellations` (all discussed previously in this thread), and made them easily combinable in an fluent way:

[code]

I think this concept would play well with [another proposed API, `await TaskScheduler.Default.SwitchTo()`](https://github.c

[2021-03-01 23:21] buyaa-n commented on #48769
Yes it can be in future milestone, I will update

[2021-03-01 23:26] maryamariyan commented on #44467
Closing issue as by design

[2021-03-01 23:26] #44467 closed

[2021-03-01 23:29] #44435 closed

[2021-03-01 23:30] maryamariyan commented on #44280
Related to https://github.com/dotnet/runtime/issues/48696

Closing this one as dupe

[2021-03-01 23:30] #44280 closed

[2021-03-01 23:43] davidfowl commented on #48913
I was thinking about it being 0 and what sort of defensive code you'd need to write if it was zero or some sentinal value. Maybe it should default to int.MaxValue 😄

[2021-03-01 23:49] Wraith2 commented on #48913
Given that the natural range will be 0>max I'd have thought the sentinel would be one of the usual suspects of -1 or MinValue. Being nullable just raises the question of what null means to me, negatives I can apply similar experience to and gloss over but null? not sure what that'd mean. For high perf code if it has no real meaning avoiding unneeded nullables seemed wise.

[2021-03-02 00:02] ericstj opened #48929 "Segfault when running Microsoft.Extensions.DependencyInjection.ExternalContainers.Tests on mono interpreter - desktop"
### Description

Tests are failing with segfault.  Log copied here.  Dump analysis is in log, but no dump was uploaded.
[console.987db203.txt](https://github.com/dotnet/runtime/files/6065180/console.987db203.txt)

[code]

The same tests do not run in WASM since it doesn't support threading.  Tests pass when run without the interpreter on both mono and coreclr.

### Configuration
* Which version of

[2021-03-02 00:23] TimothyByrd commented on #28998
Just so I can understand, if I do a PUT and get back a 303 does net core do another PUT to the URI of the Location header, or to the original URI?
Is there anything to indicate that the Location header indicates a place to PUT, since for POST it's a place to GET?
I just converted a utility from Net Framework to Net 5.0, and a PUT with a 303 response is now doing 50 retries of the PUT.

[2021-03-02 00:40] radical commented on #48927
/cc @lewing

[2021-03-02 00:47] CoffeeFlux commented on #48349
Automatically including it seems nice from a size perspective but it would require fetching emscripten on customer machines, no? Either way, it would be really nice to get a successful ICU-less build on my machine for size estimation purposes sooner rather than later.

[2021-03-02 00:51] trylek commented on #48719
I see a similar failure in a recent run PR verifying the Armel Crossgen2 fixes,

https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-45058-merge-3770451e4b38461095/PayloadGroup0/console.d9b9651c.log?sv=2019-07-07&se=2021-03-21T23%3A47%3A03Z&sr=c&sp=rl&sig=mSdU4fmeMfJxQz1WXDmNKcSInkLhEqhT%2FGubPJMh9Po%3D

<pre>
  Starting:    readytorun.coreroot_determinism.XUnitWrapper

[2021-03-02 00:55] BruceForstall commented on #48496
@am11 @esoros @jkotas This test has been failing every coreclr outerloop job since it was introduced 11 days ago (https://dev.azure.com/dnceng/public/_build?definitionId=655&_a=summary).

Can we either get it (1) disabled (for just Alpine, or for all platforms), (2) fixed, or (3) deleted ASAP?

[2021-03-02 00:59] FiniteReality commented on #47525
This would mean a *huge* explosion of APIs (the awaiter returned by ForceAsync() needs WithoutContext() and IgnoreCancellations(), as well as the awaiter returned by WithoutContext(), as well as the awaiter returned by IgnoreCancellations(), and so on so forth for each API), which is what the original API proposal (ConfigureAwait(AwaitBehaviour)) is supposed to prevent.

[2021-03-02 01:01] BruceForstall commented on #45326
@trylek : @sandreenko disabled this in https://github.com/dotnet/runtime/pull/46350 but just for jitstress. Can we just disable it for all runs for now?

[2021-03-02 01:06] noseratio commented on #47525
I don't see why they cannot be composable *without* provisioning for all possible combinations?

Each API could create an awaiter which is responsible for one thing (e.g, make it async), and that can be composed with another awaiter (e.g., ignore errors), in any particular  order.

[2021-03-02 01:38] lewing commented on #48927
I think the plan is to move to using the AOT compiler nugets to pull in the compiler, and remove the included one?

[2021-03-02 01:39] lewing commented on #48927
cc @steveisok

[2021-03-02 01:45] davidfowl commented on #48913
So:

[code]

If you make it int.MaxValue the code could stay the same 😄 . I'm worried about subtle bugs when people use the field for arithmetic operations on the sentinel value.

[2021-03-02 01:50] StephenCleary commented on #47525
I think this is the key point here. Can they really be combined in any order? If so, can they be implemented as extension methods *today*, on `ConfiguredTaskAwaitable`?

[2021-03-02 01:51] buyaa-n commented on #45986
We can remove that row when https://github.com/dotnet/runtime/issues/46272, keeping this issue as a reminder for that

[2021-03-02 01:51] hoyosjs opened #48933 "System.IO.FileSystem.Watcher.Tests"
I've been seeing cases where the FileWatcher tests use a closed handle and crash the WorkItem on macOS systems.

[code]

Seen in: https://dev.azure.com/dnceng/public/_build/results?buildId=1016617&view=ms.vss-test-web.build-test-results-tab&runId=31645086&resultId=183971&paneView=debug

[2021-03-02 01:53] steveisok commented on #48927
@naricc I responded to you earlier w/o thinking and skipped a few important details.  The pattern for our AOT compilers moving forward is to not be bundled inside the runtime pack, but within their own nuget package.  At the end of the day, it'll be similar and I don't think generating an osx mono-aot-cross binary is going to be that big of a thing.

You would add something like `<BuildMonoAOTCros

[2021-03-02 01:59] echesakovMSFT commented on #48820
This should be resolved by now (https://github.com/dotnet/core-eng/issues/12343#issuecomment-786952638)

[2021-03-02 01:59] #48820 closed

[2021-03-02 02:03] danmoseley commented on #48933
Dupe of https://github.com/dotnet/runtime/issues/30056. @wfurt, do you plan to take a look at one of the dumps? I know it was not highest priority as it's failing only ~8 times a month.

[2021-03-02 02:03] #48933 closed

[2021-03-02 02:10] jkotas commented on #45326
This is regression introduced by #46238.

The problem is that EECodeManager::GetReturnAddressHijackInfo is missing `return false` for reverse PInvoke methods.

@jkoritzinsky Could you please take a look?

[2021-03-02 02:10] jkotas commented on #48719
See https://github.com/dotnet/runtime/issues/45326#issuecomment-788520454

[2021-03-02 02:12] echesakovMSFT opened #48934 "[Arm64] Use stp (SIMD) in genCodeForInitBlkUnroll and genCodeForCpBlkUnroll"
Use an approach suggested by Tamar in https://github.com/dotnet/runtime/issues/43789#issuecomment-716492368
Also see follow up in https://github.com/dotnet/runtime/issues/43789#issuecomment-786993244

We should investigate if we can use `DC ZCA` for `genCodeForInitBlkUnroll` when `src->IsIntegralConst(0)` in the same fashion as it is done in #46609

cc @dotnet/jit-contrib @TamarChristinaArm

[2021-03-02 02:13] jkoritzinsky commented on #45326
I'll take a look tomorrow.

[2021-03-02 02:17] VincentBu opened #48935 "Test failure JIT\\Directed\\intrinsic\\pow\\pow0_cs_d\\pow0_cs_d.cmd"
Run: [runtime-coreclr outerloop 20210301.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1016258&view=ms.vss-test-web.build-test-results-tab&runId=31641576&resultId=108264&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-02 02:24] peppy opened #48937 "High gen0 collect overhead with (suppressed) finalizer objects"
## Overview
When allocating many objects with a finalizer present, there is a non-negligible overhead on GC gen0 collects, even if the finalizer has been suppressed via `GC.SuppressFinalize`. The hypothesis is that this is due to the emptying of the finalizer queue.

This is causing our real-time application to hitch on every gen0 collection (around 5-10ms pause time). These gen0 collections only

[2021-03-02 02:27] VincentBu commented on #40965
Failed again in [runtime-coreclr gcstress-extra 20210228.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1015934&view=ms.vss-test-web.build-test-results-tab&runId=31634196&resultId=105462&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-03-02 02:30] wfurt commented on #48933
yes it is on TODO list but currently pretty deep down.

[2021-03-02 02:54] carlossanlop commented on #44969
We are ready to ask each area pod to help backport the documentation for each one of the assemblies they own. **We will let each pod decide if they want to address the backporting of their documentation in 6.0 or in Future**: If your pod cannot get this done by 6.0 for one of your assemblies, MS Docs will continue being the source of truth for that assembly (and it won’t block shipping).

We [wrot

[2021-03-02 02:58] carlossanlop opened #48938 "Microsoft.Win32: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:01] carlossanlop opened #48939 "System.Diagnostics: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:02] carlossanlop opened #48940 "System.Diagnostics.EventLog: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:04] carlossanlop opened #48941 "System.Diagnostics.PerformanceCounter: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:05] carlossanlop opened #48942 "System.Diagnostics.TraceSource: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:06] carlossanlop opened #48943 "System.Diagnostics.Tracing: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:07] carlossanlop opened #48944 "System.Management: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:08] carlossanlop opened #48945 "System.ServiceProcess: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:13] carlossanlop opened #48946 "DependencyModel: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:14] carlossanlop opened #48947 "Extensions-Caching: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:14] carlossanlop opened #48948 "Extensions-Configuration: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:15] carlossanlop opened #48949 "Extensions-DependencyInjection: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:16] carlossanlop opened #48950 "Extensions-Hosting: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:17] carlossanlop opened #48951 "Extensions-Logging: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:18] carlossanlop opened #48952 "Extensions-Options: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:19] carlossanlop opened #48953 "Extensions-Primitives: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:24] carlossanlop opened #48954 "System.ComponentModel: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:25] carlossanlop opened #48955 "System.Diagnostics.Activity: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:25] carlossanlop opened #48956 "System.Drawing: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:26] carlossanlop opened #48957 "System.Globalization: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:27] carlossanlop opened #48958 "Extensions-FileSystem: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:28] carlossanlop commented on #48958
cc @adamsitnik @jozkee I marked this for 6.0.

[2021-03-02 03:29] carlossanlop opened #48959 "System.Console: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:29] carlossanlop commented on #48959
cc @adamsitnik @jozkee I marked this for 6.0

[2021-03-02 03:30] carlossanlop opened #48960 "System.Diagnostics.Process: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:31] carlossanlop opened #48961 "System.IO: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:32] carlossanlop commented on #48961
cc @adamsitnik @Jozkee I marked this for 6.0

[2021-03-02 03:33] carlossanlop opened #48962 "System.IO.Compression: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:34] carlossanlop opened #48963 "System.Linq.Parallel: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:34] carlossanlop commented on #48963
cc @adamsitnik @Jozkee I marked this for 6.0

[2021-03-02 03:35] carlossanlop opened #48964 "System.Memory: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:35] carlossanlop commented on #48964
cc @adamsitnik @Jozkee I marked this for 6.0

[2021-03-02 03:36] carlossanlop opened #48965 "System.Threading.Channels: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:36] carlossanlop commented on #48965
cc @adamsitnik @Jozkee I marked this for 6.0

[2021-03-02 03:37] carlossanlop opened #48966 "System.Threading.Tasks: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:37] carlossanlop commented on #48966
cc @adamsitnik @Jozkee I marked this for 6.0

[2021-03-02 03:38] carlossanlop opened #48967 "System.Buffers: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:38] carlossanlop opened #48968 "System.Numerics: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:39] carlossanlop commented on #48968
I addressed Numerics.Vectors in https://github.com/dotnet/runtime/pull/47725 , pending adressing the rest of the namespace.

[2021-03-02 03:40] carlossanlop opened #48969 "System.Numerics.Tensors: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:41] carlossanlop opened #48970 "System.Runtime: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:42] carlossanlop commented on #48970
I know this area has a huge number of APIs, so that's why the DocsPortingTool is able to port only APIs that belong to specific namespaces from a particular assembly. You can use that to submit smaller PRs. Let me know if you need help using that feature.

[2021-03-02 03:43] carlossanlop opened #48971 "System.Runtime.Intrinsics: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:43] carlossanlop opened #48972 "System.Text.RegularExpressions: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:44] carlossanlop opened #48973 "System.CodeDom: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:45] carlossanlop opened #48974 "System.ComponentModel.Composition: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:46] carlossanlop opened #48975 "System.Composition: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:46] carlossanlop opened #48976 "System.Configuration: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:47] carlossanlop opened #48977 "System.DirectoryServices: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:47] carlossanlop opened #48978 "System.Reflection: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:48] carlossanlop opened #48979 "System.Reflection.Emit: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:48] carlossanlop opened #48980 "System.Reflection.Metadata: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:49] carlossanlop opened #48981 "System.Resources: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:49] carlossanlop opened #48982 "System.Runtime.CompilerServices: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:50] carlossanlop opened #48983 "System.Xml: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:50] carlossanlop opened #48984 "System.Collections: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:50] carlossanlop opened #48985 "System.Formats.Cbor: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:51] sharwell commented on #44969
Let me know if there are any formatting or other discrepancies between the actual and desired output from this tool. I've written a bunch of code fixes for manipulating XML documentation comments in source code.

[2021-03-02 03:51] carlossanlop opened #48986 "System.Linq: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:53] carlossanlop commented on #48986
@eiriktsarpalis Can I assume that we can include in this issue all the APIs that belong to `area-System.Linq.Expressions`? I ask because I did not see that area explicitly mentioned in the document with area pod ownership.

[2021-03-02 03:53] carlossanlop opened #48987 "System.Text.Encoding: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:54] carlossanlop opened #48988 "System.Text.Encodings.Web: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:54] carlossanlop opened #48989 "System.Text.Json: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:55] carlossanlop opened #48990 "System.Formats.Asn1: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:55] carlossanlop opened #48991 "System.Security: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:56] carlossanlop opened #48992 "System.Net: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 03:59] carlossanlop commented on #48992
@dotnet/ncl I am assuming we can track the documentation backport for all the Networking areas with just one greater `area-System.Net` issue, but if you prefer to open individual ones for `Http`, `Quic`, `Security`, `Sockets`, `Extensions-Http*`, feel free to do so.

Also, the DocsPortingTool is capable of porting documentation for only a specific namespace. That could be helpful if you want to ba

[2021-03-02 04:00] carlossanlop opened #48993 "System.ComponentModel.DataAnnotations: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 04:01] carlossanlop opened #48994 "System.Data: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 04:02] carlossanlop commented on #48994
@ajcvickers @cheenamalhotra @david-engel I am assuming we can use this general `area-System.Data` issue to track the backport of the subareas `Odbc` `OleDB` `SqlClient`, but if you prefer to create individual issues for each, feel free to do so. Just add them to the [Documentation backport](https://github.com/dotnet/runtime/projects/65#card-55976610) project.

[2021-03-02 04:03] carlossanlop opened #48995 "System.IO.Pipelines: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 04:10] carlossanlop opened #48996 "System.ServiceModel.Syndication: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 04:11] carlossanlop opened #48997 "System.Transactions: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 04:13] carlossanlop opened #48998 "System.Runtime.InteropServices: Backport MS Docs documentation to triple slash"
We are working on a [new documentation process plan](https://github.com/dotnet/runtime/issues/44969#issuecomment-788536998), in which the main objective is to make triple slash comments the source of truth for documentation, instead of MS Docs: We want developers/maintainers to have an easier time maintaining the documentation for their APIs.

You can use the [DocsPortingTool](https://github.com/c

[2021-03-02 04:15] #48496 closed

[2021-03-02 04:19] declspec commented on #32465
@stephentoub Yep that'll work perfectly, thanks.

[2021-03-02 04:30] AaronRobinsonMSFT commented on #48998
/cc @jkoritzinsky @elinor-fung @tannergooding @lambdageek

[2021-03-02 04:58] #48819 closed

[2021-03-02 04:58] jkotas commented on #48937
The typical pattern that we use in the core libraries is to just let garbage collector to take care of cleaning up after rare error cases. I do not think we have any place in the core libraries where we have a finalizer just to return memory to the array pool.

[2021-03-02 05:14] FiniteReality commented on #47525
If you want to make them composable without defining, e.g. a `ContinueOnCapturedContextWithoutCatchingExceptionsAwaitable` and a `ContinueWithoutCatchingExceptionsOnCapturedContextAwaitable`, they need to be implemented as classes, or boxed to the heap, which means a lot of allocations at each configured `await`.

[2021-03-02 05:14] tarekgh commented on #48781
@noahfalk I'll go ahead and fix this. let me know if you'll have any concern. of course, you'll get a code review request from me :-)

[2021-03-02 05:24] peppy commented on #48937
@jkotas That is what I could see in my investigation (the lack of finalizer), but could you explain how the clean-up is done in this case? Will the arraypool eventually assume the array isn't being returned and stop tracking it?

We have a few other cases where we do use finalizers for non-`ArrayPool.Return` reasons (although are currently looking to remove them as a result of this investigation).

[2021-03-02 05:27] timcassell commented on #47525
That's not necessary if the struct contains all the fields for each method, then you just return a copied struct with that field changed.

[2021-03-02 05:27] Fyko opened #48999 "Utf8JsonWriter#flush takes exceptionally long"
### Description
`Utf8JsonWriter#flush` takes an excruciating amount of time. Upwards of 100ms for a single object. I apologize in advance for the brevity of this issue, I'm not very fluent when it comes to C# ecosystems.

Relevent Issue: https://github.com/Tyrrrz/DiscordChatExporter/issues/502

### Configuration
.NET Version: `5.0.103`
Ubuntu 20.04.2 LTS on Windows 10 [WSL2] ~ x86_64

### Data
Her

[2021-03-02 05:33] FiniteReality commented on #47525
But then you're not really satisfying the "responsible for one thing" point you seem to be so keen on. Also, at that point, you could just have a singular API which creates the singular struct with all the fields set anyway, which brings us back to the original API proposal.

[2021-03-02 05:43] jkotas commented on #48937
The pooled arrays are just regular arrays. Once they become unreachable, they will get collected just like regular array. Of course, you do not want to depend on the pooled arrays getting collected all the time since it would effectively disable pooling. It is fine to depend on GC to collecting the pooled array in rare circumstances.

Finalizers make sense on types that are holding unmanaged resou

[2021-03-02 05:44] timcassell commented on #47525
I think you have me confused with someone else, but yeah, a single API with optional parameters makes sense to me.

[2021-03-02 05:48] #48919 closed

[2021-03-02 05:50] En3Tho commented on #48937
Having worked with wincrypt and other unmanaged apis, my 2 cents is that you should only use finalizers when it's absolutely necessary. For example, when array is not returned to pool there is no risk of application blowing up, only risk of a slowdown and that could be detected by some kind of script runner and collecting GC/fps/other info in your building system. But when unmanaged resources are

[2021-03-02 05:56] noseratio commented on #47525
That was me. Not saying it's 100% possible, but let's see if I can put some PoC code together.
I don't think extra allocations is a big issue, even if I come up with an extra `Task` object per each of those fluent calls. I have lots of trust in .NET GC :) For performance-critical code,  there still will be existing `ConfigureAwait` and/or ValueTasks.

[2021-03-02 05:58] briansull commented on #48895
I will take a look

[2021-03-02 06:03] davidfowl opened #49000 "SSlStream reads TLS records one frame at a time"
### Description

See https://github.com/dotnet/aspnetcore/issues/30545#issuecomment-788557331 for more background on the issue. Kestrel does 4K buffer writes to SslStream on the server side and this results in only being able to read 4K buffers on the client side. The amount of TLS frames shouldn't affect how they are read on the client side. The extra cost here ends up being the amount of reads t

[2021-03-02 06:21] briansull commented on #48895
I am having trouble trying to get a repro for this.
These repro instructions don't help me too much
I don't seem to have a local copy/build of dotnet-cli in my enlistment

My test builds doesn't have JIT\Generics\Typeof\struct01\struct01.cmd, but maybe this is a priority 1 test, so I am rebuilding the tests.

[code]

[2021-03-02 06:29] briansull commented on #48895
I tried running:

[code]

[2021-03-02 06:34] briansull commented on #48895
Running this command passes:

[code]

[2021-03-02 06:40] BruceForstall commented on #48895
@briansull all the failures are on arm64:

https://dev.azure.com/dnceng/public/_build/results?buildId=1015629&view=ms.vss-test-web.build-test-results-tab

[2021-03-02 06:53] jwdonahue opened #49458 "PostBuild failing randomly: "apphost.exe' as application host executable as it does not contain the expected placeholder byte sequence""
I've been encountering this post build failure on about 33% of my builds, since taking some VS 2019 updates a few weeks back. See attached [BuildTest.zip](https://github.com/dotnet/sdk/files/6066601/BuildTest.zip) for 10 build logs where 3 of them failed. [build.zip](https://github.com/dotnet/sdk/files/6066619/build.zip) contains the batch file that drives the dotnet build/test. Any ideas what I c

[2021-03-02 07:51] psxvoid commented on #33796
It seems you are correct. Let's consider an example:

[code]

We will get `InvalidOperationException` if we attempt to deserialize such class. But if we add `IncludeFields` option (or add `JsonInclude` attribute to the `age` field):

[code]

Then the class will be deserialized correctly without any runtime errors.

But for **private** fields the `InvalidOperationException` will be thrown every tim

[2021-03-02 07:54] #47199 closed

[2021-03-02 08:23] MichalStrehovsky commented on #48907
`bool` and `char` don't have the problem with being castable by size to a pinnable array type (so if I have a `MyEnum[]` where `MyEnum` is an enum based on `bool`, I will not be able to cast it to `byte[]` and get an "unexpected" ArgumentException when trying to pin the array).

Only int8/16/32/64/nint and uint8/16/32/64/nuint are castable by size and can hit the issue OP is discussing.

[2021-03-02 08:47] davidfowl commented on #25344
I think we should do this and get some numbers to back it up. We'd need a basic minimal implementation in order to compare apples to apples. Here's the logic that SSL Stream uses to write TLS record frames (which have a max size of 16K) to the wrapped Stream.

https://github.com/dotnet/runtime/blob/79ae74f5ca5c8a6fe3a48935e85bd7374959c570/src/libraries/System.Net.Security/src/System/Net/Security/S

[2021-03-02 09:21] roji commented on #48994
This is great news, I'll definitely take a look at this at some point. I can probably handle all the subareas, we can just use this issue for now.

[2021-03-02 09:58] davidfowl opened #49001 "SSLStream should not use the ArrayPool for it's internal buffers"
### Description

Today SSLStream uses a 4K buffer for the TLS handshake and a 16K buffer for the reading TLS frames. These buffers come from the array pool today which makes it really easy to exhaust the buckets in the shared array pool for those commonly used sizes. This affects websocket and any other scenario that results in a large number of long lived concurrent connections.

### Regression?

[2021-03-02 10:06] davidfowl commented on #37539
I've updated the proposal to add the Stream addition as well.

[2021-03-02 10:14] #48031 closed

[2021-03-02 10:48] bneumann opened #49003 "Microsoft.XmlSerializer.Generator is not setting the correct version number in build/publish"
### Description

I have a pretty basic project with some DTOs that should be serialized. I have set the project up according to the documentation on the [Microsoft.XmlSerializer.Generator page ](https://docs.microsoft.com/en-us/dotnet/core/additional-tools/xml-serializer-generator) ( see project file below).
I build everything with
```dotnet build -c Release ```

And after the build I see the outp

[2021-03-02 11:11] eiriktsarpalis commented on #44969
Presumably though there are aspects of documentation that cannot be backported to triple-slash comments? I'm thinking about examples and code snippets but surely there are others too.

[2021-03-02 11:14] eiriktsarpalis commented on #48985
FWIW all CBOR documentation has been authored via triple-slash comments and automatically ported to dotnet-api-docs. We'd probably still need to backport to account for any changes that have been made on dotnet-api-docs only.

[2021-03-02 11:36] #38201 closed

[2021-03-02 11:49] eiriktsarpalis commented on #48985
I tried running the backporting tool for CBOR and got the following errors:
[code]
This is after running both Debug and Release builds in dotnet/runtime. Could you take a look?

[2021-03-02 11:58] stephentoub commented on #49001
That _may_ be true,  but i don't know that's supported by the data here.  You can have 5000 buffers from the same bucket in the pool all out at the same time; what matters is how many end up being returned at the same time. If the arrays only spend a small amount of time in the pool,  you can have a much larger number than the bucket size with few being discarded. (I've called out before we don't

[2021-03-02 12:04] eiriktsarpalis commented on #48926
I think this is a clarification that might make sense to incorporate in the exception message (with strong wording indicating that this  will generate json incompatible with many applications). @layomia thoughts?

[2021-03-02 12:28] MarcoHuib opened #49011 "Data Annotations on record fails in unittest"
Currently we are setting up a new project and like to use the new records introduced in C# 9.
We encounter a problem with DataAnnotations inside the record (constructor) not being triggered during the unittest.

Now the DataAnnotation is triggered when calling the Controller, but when i try to simulate this in a unittest (see code below) it will never return any errors.

[code]

Currently we try d

[2021-03-02 12:54] #45056 closed

[2021-03-02 12:56] smoogipoo commented on #48937
Hi, I'm working on the same project referenced in the OP.

One case that we've recently discovered is `WeakReference<T>`. We're using ImageSharp's memory allocator to allocate buffers in the hopes that we can keep texture-related data using the same pool.
As it turns out, ImageSharp's [`ArrayPoolMemoryAllocator`](https://github.com/SixLabors/ImageSharp/blob/master/src/ImageSharp/Memory/Allocators/

[2021-03-02 12:59] iSazonov commented on #24271
Great! @jhudsoncedaron Thanks for your efforts!
I am happy to see that this is possible. If you have managed to adapt most of the API, then this I suppose is a good confirmation that this is the right way to design the API.
For me it is still an open question whether to look for a common abstraction for Windows reparse points. I think it's worth a try.

As far as performance for enumeration is con

[2021-03-02 13:21] akoeplinger opened #49007 "Use LLVM for AOT in Android functional tests"
With https://github.com/dotnet/runtime/pull/47167 we added AOT functional tests for Android, but it doesn't use LLVM to do the AOTing. This needs to be switched to AOT (see also `-no-integrated-as` workaround in src/tasks/AndroidAppBuilder/Templates/CMakeLists-android.txt)

[2021-03-02 13:25] TamarChristinaArm commented on #43789
I see.. If you never know the exact size you can still do somewhat better than a scalar loop though. You can still emit a loop that uses STP of Q registers to set 64 bytes at a time for some cases.  Looking at https://docs.microsoft.com/en-us/dotnet/api/system.span-1.fill?view=netcore-2.2 since `T` must be a value type you can create a vector allowing you to store `128/sizeof(T)` `T`s at the same

[2021-03-02 14:14] SamMonoRT commented on #46915
@eerhardt - trying to find the right owner for this. Is that someone on your team ?

[2021-03-02 14:40] atanasa opened #49010 "XmlDictionaryWriter.WriteNode does not preserve the namespaces declared in the original context"
### Description

I have a source XML document that looks like this:
[code]

#### Actual

If we copy over the `target` element into an empty document using `XmlDictionaryWriter.WriteNode`, the actual result looks like this:

[code]

In this case the value of xsi:type cannot be evaluated any more as it is using a namespace prefix that is not defined at the destination.

#### Expected

I would expect

[2021-03-02 15:14] Joe4evr commented on #49011
Use the `property` target specifier:
[code]

[2021-03-02 15:15] marek-safar commented on #46915
I changed System.Net.Quick to be PNSE assembly so this should no longer be a concern for mobile

[2021-03-02 15:20] davidfowl commented on #49001
Anyone renting 32K buffers wouldn't end up allocating them from the heap since the pool is drained. In websocket scenarios that end up with lots of pending reads, this *could* be a win. Though ultimately I think the better answer in this case is to [read directly into the user's buffer](https://github.com/dotnet/aspnetcore/issues/30545#issuecomment-788693925), I figured I'd file this issue anyways

[2021-03-02 15:21] MarcoHuib commented on #49011
Hi,

I tried but this results to an error.

[2021-03-02 15:23] meziantou opened #49012 "Nullable annotations of ProcessStartInfo properties"
## Background and Motivation

I'm migrating a project to .NET 5 and the compiler reports nullable warnings.

## Proposed API

Many string properties are not nullable. When looking at the code, the return value is not nullable, but it seems valid to set a null value.

[code]

[2021-03-02 15:26] stephentoub commented on #49001
But instead SslStream would be allocating those same buffers, no?  That's what I'm trying to understand.  At the end of the day, is it not just changing who's allocating the buffer?

[2021-03-02 15:28] davidfowl commented on #49001
I don't want to conflate the issues but yes, this particular isn't about reducing overall memory usage (maybe I should file that one too). It's other code in the app trying to use the pool and ending up allocating because the bucket(s) are drained.

[2021-03-02 15:30] MarcoHuib commented on #49011
Funny part, this works with my mvc api. but when I create a unittest it doesn't detect an error.

[code]

[2021-03-02 15:32] Joe4evr commented on #49012
Full API snippet:
[code]

[2021-03-02 15:37] adiaaida commented on #48000
Just a quick note: runtime and windowsdesktop both produce and svg with the same file name. With the changes to the aka.ms links (what we use in the table), we need to have these two repos generate different file names. When you add this back, can you add a runtime moniker of some variety to the svg filename?

[2021-03-02 15:42] stephentoub commented on #49001
I'm still trying to understand.  Let's say the buckets are drained because SslStream consumed them.  How is that different from the buckets being empty because no one has allocated / returned any arrays yet?  And if these components allocate arrays and then return them, in general won't the arrays be there for them when they then go back to get another?   Sorry if I'm not understanding the concern

[2021-03-02 15:45] karelz commented on #48637
@shirhatti is it tied to existing .NET 6.0 theme? What's the priority?
Can we link it from there?

[2021-03-02 16:01] davidfowl commented on #49001
Maybe I'm misunderstanding something but ArrayPool.Shared is optimized for synchronous operations. When the array pool is used for arrays are being rented and returned quickly then there's very little allocation and lots of reuse. When used for operations that may be pending for a long time (like the websocket scenario) the array pool it is more likely that arrays are out of the pool than in. TL;D

[2021-03-02 16:11] jkotas commented on #49001
less useful != useless

We know about many situations where the current ArrayPool behavior is sub-optimal (#853, #12800, #13289, ...). The GC team has allocated time in .NET 6 to make this better.

[2021-03-02 16:13] jhudsoncedaron commented on #24271
@iSazonov : "As far as performance for enumeration is concerned, these are implementation details." Only if you're willing to to pay one disk access per file returned from the API as the immediate caller asks "is it a file, directory, or symbolic link" of every string returned from GetFileSystemEntries. That was the cost that was too high to pay. Note that right now (in the non-symbolic link case)

[2021-03-02 16:13] stephentoub commented on #49001
To make sure we're on the same page, ArrayPool doesn't preallocate the max number of arrays for a given bucket size.  It's just a temporary drop-off / pick-up location used to hand off arrays from one consumer to another with a size that will only allow some max number of a given size to be stored at once.  If there are no buffers currently in the pool, for whatever reason, a new one will be alloc

[2021-03-02 16:17] t-mustafin opened #49013 "arm64 crossgen2 performance measurements"
I have profiled crossgen2 on arm64 architecture with dotnet-trace and with perf, here is measurement results.
[dotnet_trace.zip](https://github.com/dotnet/runtime/files/6069834/dotnet_trace.zip) was collected by command:
[code]
[perf.zip](https://github.com/dotnet/runtime/files/6069839/perf.zip) was collected by command:
[code]

System dll's was precompiled by crossgen2 with `-O --inputbubble --co

[2021-03-02 16:25] jkotas commented on #49013
I would recommend measuring crossgen2 performance in the context of specific scenario.

As you have said, crossgen2 is to designed to precompile more. On the other hand, crossgen2 is designed to take advantage of all cores on the machine that make it faster in number of scenarios.

[2021-03-02 16:40] JimBobSquarePants commented on #48878
[code]

I just wanna see what these look like!

[2021-03-02 16:42] ViktorHofer opened #49014 "DisableAiaOptionWorks test failing on Mono Win81"
https://dev.azure.com/dnceng/public/_build/results?buildId=1018830&view=ms.vss-test-web.build-test-results-tab&runId=31715448&resultId=158099&paneView=debug

Configuration: `net6.0-windows-Debug-x64-Mono_release-Windows.81.Amd64.Open`

[code]

[2021-03-02 16:58] geoffkizer commented on #49001
I think we *want* to pool the buffers used by SslStream (and similar); this helps reduce GC cost.

It's possible that ArrayPool.Shared is not the right way to do this; if so, we should implement a different pool with different policy. But I'm not clear how the policy would be different.

[2021-03-02 17:04] Nirmal4G opened #49017 "How to preserve refspec to patches and branches after the repo renamed 'master' to 'main'"
For all those who can't pull `master`, it has renamed to `main`.

To preserve refspec to patches and branches, just changing the `heads/master` to `heads/main` should work.

[code]

[2021-03-02 17:07] Nirmal4G commented on #49017
Alternative to #48357. For those who **cannot** change the default branch for _obvious_ 😉 reasons.

[2021-03-02 17:09] Nirmal4G commented on #48357
Alternative solution #49017 without changing your local setup; that is, if you have a more complicated setup (_like mine_)

[2021-03-02 17:11] BruceForstall commented on #1282
@echesakovMSFT I noticed that the crossgen-comparison job is still commented out in ci.yml, so it's not running in the outerloop job. Should we fix that?

[2021-03-02 17:14] ViktorHofer commented on #48357
Inlined content from https://github.com/dotnet/runtime/issues/49017 into this discussion.

@Nirmal4G wrote:

To preserve refspec to patches and branches, just changing the `heads/master` to `heads/main` should work.

[code]

[2021-03-02 17:14] ViktorHofer commented on #49017
Closing in favor of https://github.com/dotnet/runtime/issues/48357

[2021-03-02 17:14] #49017 closed

[2021-03-02 17:19] davidfowl commented on #49001
I think if the underlying reads are fast and the array pool is being used then it'll reduce GC cost. Otherwise it's the same as allocating the array (like in the websockets case), since the bucket may be empty if buffers aren't being returned quickly enough.

Spoke to @stephentoub offline about this and I'm not convinced there's an issue her as yet since we don't have counters or events to underst

[2021-03-02 17:19] geoffkizer commented on #25344
+1

"More efficient" in what sense? I'm trying to understand what we are proving out here.

[2021-03-02 17:19] #49001 closed

[2021-03-02 17:26] davidfowl commented on #49001
The scenario above is a long running websocket scenarios where SSL stream instances can last for minutes/hours/days.

[2021-03-02 17:30] JulieLeeMSFT commented on #48843
@kunalspathak will this be .NET 6 or future? Please set milestone and remove untriaged.

[2021-03-02 17:31] geoffkizer commented on #49000
Yeah, I agree, we could do better here.

That said, I'm not sure how much of a potential win there is here in practice. As you say above, it's mostly about avoiding extra async machinery here. Should be relatively straightforward to measure.

[2021-03-02 17:34] davidfowl opened #49019 "Reduce memory usage by SSLStream"
### Description

For long running scenarios where reads are pending and data is only occasionally sent back and forth, the cost of using SSLStream is high from a memory POV. Today SSL Stream allocates a 8K buffer for the handshake and a 32K buffer per read. It optimizes for reading the TLS header and payload into the same buffer and in the end copies that to the user specified buffer.

### Regress

[2021-03-02 17:34] wfurt commented on #49001
The buffer will be returned every time SslStream consumed all data via ReturnReadBufferIfEmpty(). The overall duration does not really matter. (and "allocated" again via ResetReadBuffer if needed when more data arrives)

[2021-03-02 17:39] davidfowl commented on #49000
The issue filed in Kestrel was filed by a customer that experience slow downloads. My guess is that this also affects YARP performance for large responses. We should measure regardless though.

[2021-03-02 17:53] GrabYourPitchforks commented on #48926
Any exception text that helps developers better accomplish their task is goodness. :)

The trick is that the exception text shouldn't say "do _xyz_" unless _xyz_ is undoubtedly the right thing to do. If there's any nuance involved (e.g., "you can do this, but you need to be aware that it will create non-interoperable JSON") then it's often best to provide a link to a page that better explains all

[2021-03-02 18:10] davidfowl commented on #25344
2 ways:
- Less syscalls (they've become really expensive)
- Faster writes - Today we need to await each write separately, this could end up stalling mid-write instead of a single write with all the buffers.

I don't think we would add the APIs if it didn't have any performance improvements, its just that we need to actually add them to measure.

[2021-03-02 18:10] JulieLeeMSFT commented on #48832
@tannergooding, I assigned .NET6 for now.

[2021-03-02 18:12] geoffkizer commented on #49019
We need the entire frame buffered in order to decrypt it. So we can't allow the user to dictate the buffer size.

[2021-03-02 18:13] geoffkizer commented on #49019
I do wish we used the same buffer for the handshake and the app data.

[2021-03-02 18:14] davidfowl commented on #49019
I don't understand this. Can you elaborate?

[2021-03-02 18:16] geoffkizer commented on #25344
I understand the potential benefits here. I'm just not sure what specific experiment you are proposing here, and how it would demonstrate these. What's the A vs B here?

[2021-03-02 18:17] aelij commented on #45671
@maryamariyan Could you please reopen the issue?

[2021-03-02 18:17] wfurt commented on #49019
BTW the handshake buffer should be returned back when handshake finishes. So it may not really matter.  We could unify them but the renegotiation path would need to done carefully. e.g. handshake starts again during read/write

[2021-03-02 18:22] davidfowl commented on #25344
- Throughput of a large download would be one customer scenario that we have.
- YARP scenarios with TLS. We can measure if the large responses improve.

[2021-03-02 18:32] iSazonov commented on #24271
@jhudsoncedaron It is how the enumeration API _already_ work. All the methods use the same `InternalEnumeratePaths()` https://source.dot.net/#System.IO.FileSystem/System/IO/Directory.cs,169 and `InternalEnumerateInfos()` https://source.dot.net/#System.IO.FileSystem/System/IO/DirectoryInfo.cs,174 methods.
You could look how PowerShell 7 works with symlinks. (There is additional p/invoke call to get

[2021-03-02 18:38] wfurt commented on #49019
It feels like this could be driven by buffer size passed to Read, right? If somebody passes buffer size of 1, we probably d not need huge buffer. While somebody can pass in large chunk it suggest that build read (e.g. multiple frames make make sense). This would have benefit that it can be related to HTTP data e.g. be more flexible based on content rather than set once in constructor.

The note ab

[2021-03-02 18:40] imhameed commented on #43842
The arm64 intrinsic tests were enabled in https://github.com/dotnet/runtime/pull/48397.

[2021-03-02 18:43] jhudsoncedaron commented on #24271
@iSazonov : lol I must be the only person who noticed the perf drain, but I must have reached for the native hammer too quickly and ended up with a bad idea of how .GetFiles() works.

[2021-03-02 18:44] carlossanlop commented on #44969
@eiriktsarpalis they could potentially be ported as markdown, but we are trying to encourage people to avoid that. For those cases, the suggestion is to move the whole remarks section to `*.md` files in dotnet-api-docs and link them as INCLUDE files in the remarks. That way, we don't get code examples backported to triple slash.

[2021-03-02 18:51] #37108 closed

[2021-03-02 18:52] AndreyTretyak commented on #44467
@maryamariyan  should not docs and error message be more explicit about this problem?

[2021-03-02 18:55] trylek commented on #35489
The current POR is to make Crossgen2 the default in .NET 6 and obsoleting Crossgen[1] so this is probably not worth fixing at this point; /cc @dotnet/crossgen-contrib for additional feedback.

[2021-03-02 18:57] samsp-msft commented on #49000
We do see a drop off of performance in YARP compared to Envoy for 10k response size. I'm wondering if this is a factor there?

[2021-03-02 18:58] trylek commented on #35489
I have changed the label - while the problem is caused by a somewhat silly behavior of DiaSymReader that I had to fix myself for Crossgen2, I believe this is logically a bug in the crossgen native app, not in the surrounding infrastructure.

[2021-03-02 19:04] briansull commented on #48895
@BruceForstall
Any advice on the best way to repro/debug this issue?

[2021-03-02 19:06] davidfowl commented on #49019
That's right, if the buffer is passed to ReadAsync is

That sounds reasonable. It's really about controller the memory usage of the internal buffer. FileStream has a similar optimization so I took from prior art. If you feel like we could mostly avoid the buffer completely in SSLStream without that, then I'll defer to you.

It's much better from a memory POV which is why you should let the caller

[2021-03-02 19:33] CarnaViire commented on #47091
While discussing this API proposal we've found some additional complications.

Users that want to use `PreserveExistingScope` scenario might also want to set some Primary Handler parameters like `MaxConnectionsPerServer` or `SslOptions` at the same time, so we need to address that.

For users to be able to do that, we will need to separate configuring a primary handler from configuring the rest of

[2021-03-02 19:43] wfurt commented on #49019
I will take a look @davidfowl. I'm remote this week and off-grid next week. But I think we should be able to look into this in 6.0.

[2021-03-02 19:45] halter73 commented on #48637
We're considering this as part of the inner-loop theme because we want to switch the default VS dev experience from using IIS Express to using Kestrel which should enable faster startup. We want this feature before making the switch from IIS Express to avoid connection refused errors while the process is starting. See https://github.com/dotnet/aspnetcore/issues/27277.

[2021-03-02 19:54] carlossanlop commented on #44969
For APIs that have multiple OS/platform implementations, this is what we decided to do:

- All triple slash comments are defined in all public API definitions and have to match. The backporting tool is capable of copying the docs on top of all the implementations of the API.
- We add validation that all the .xml's match in the all configurations build (csproj outer build).
- We choose whichever *.

[2021-03-02 20:02] scalablecory commented on #25344
I'm working on proving this out right now.

The scenarios I have in mind for writes are:

- HTTP PUT with small content. (headers + user content)
- HTTP/1 chunked encoding. (enveloping)
- HTTP/2 framing. (enveloping)

And for reads:

- Segmented buffering strategies (Pipelines is a good example, but I'm also trying this out for HTTP/2 receive processing in LLHTTP) where you might be trying to fill

[2021-03-02 20:14] geoffkizer commented on #49019
We have to pass the entire frame to SCHANNEL. Otherwise it can't decrypt the frame, and will give us an error like SEC_E_INCOMPLETE_MESSAGE.

[2021-03-02 20:16] hoyosjs opened #49026 "Symbol and NetHosts Archives no longer produced"
Both the symbols zip and nethost zips stopped getting published after we moved to the SFX SDK. If these are still needed for something, we should bring them back and add them to the nightly table.

cc: @NikolaMilosavljevic @jkoritzinsky

[2021-03-02 20:21] buyaa-n commented on #44922
## Conditionally-Supported Platform Annotations

Thanks, I think we can have more generalized attribute to support `null`, `not null`, or other values

From the conditional platform support occurrences I found from [Mark Windows-specific APIs](https://github.com/dotnet/designs/pull/138) design doc there is usually APIs are supported only on windows when a parameter is `not null`, some depend on en

[2021-03-02 20:26] davidfowl commented on #49019
I see, so we can read the frame header to get the length and determine if we can full fill the request using the user's buffer or decide if we need to need an internal buffer to complete the operation successfully.

[2021-03-02 20:26] geoffkizer commented on #49019
One thing we could potentially do here is release the SslStream read buffer back to the pool when it becomes empty. This would add a small cost of acquiring/releasing the buffer in scenarios where we are reading in a tight loop, but it's probably not rhat expensive -- we should just measure to be sure.

That said, I'm not sure how much this helps in practice. It only helps when the user's read cod

[2021-03-02 20:29] geoffkizer commented on #49019
We want to read as much as we can in a single read. Syscalls are expensive, as you know :)

[2021-03-02 20:35] noseratio commented on #47525
@FiniteReality [here's a gist](https://gist.github.com/noseratio/73dd6af4e4d710cb85cd4947256e9d5e ) with a quick proof of concept of what I meant [above](https://github.com/dotnet/runtime/issues/47525#issuecomment-788373184). It's almost untested and hasn't been optimized to reduce allocations, but it allows to chain awaiters in a fluent way:

[code]

[2021-03-02 20:36] davidfowl commented on #49019
See the comment above:

[2021-03-02 20:37] wfurt commented on #49019
That is trade-off IMHO read-ahead and maybe use more memory or try to read as much as possible.
Reading 5 byte header may not do syscall if the underlying stream reads ahead. Perhaps this could be configuration option if the underlying stream is memory.

It probably does not belong to SslStream but I have seen systems where the perf vs memory trade-off changes depending system state e.g. fast by d

[2021-03-02 20:46] davidfowl commented on #49019
Stepping back for a minute, I would say that the BCL components do have to make tradeoffs to be as generic as possible, should also be as policy free as they can be and where they can't, let the caller choose. In this case, I'd like to tradeoff throughput for memory.

[2021-03-02 20:48] karelz commented on #49000
Triage: @wfurt wants to do a BenchmarkDotNet test to see how much we could get. Based on estimated impact, we can decide if it is worth it in 6.0.
This will help with decryption. Encryption might have similar problem, but in different code path.
YARP may benefit from this.

[2021-03-02 20:49] geoffkizer commented on #49019
I agree, that's a reasonable thing to do; the trick is figuring out how to do this effectively.

[2021-03-02 20:55] #7986 closed

[2021-03-02 21:00] karelz commented on #48637
Triage: Per offline info, it is not committed for 6.0 or blocking.
If it is needed, there is workaround to PInvoke directly.

On Linux we should solve it in general on `SafeHandle` rather than specific to Networking -- it will be cross-platform solution (though only Linux will be usable in this scenario).
On Windows, we will need the Networking API.

Moving to Future for now.

[2021-03-02 21:00] buyaa-n commented on #44922
## Platform-Guard Assertion Annotations

I think we do not need additional attributes for covering these, I propose to just add `[SupportedOSPlatform]` and `[UnsupportedOSPlatform]` attributes for those helper methods or Field/Propert/Enum. When the analyzer found them in the conditional statement it will evaluate its attribute to figure out what attribute it is guarding.

Example: For `IsThreadSt

[2021-03-02 21:00] antonfirsov opened #49028 "Test failure: PlatformHandler_HttpClientHandler_ServerCertificates_Http2_Test.NoCallback_BadCertificate_ThrowsException"
The mentioned System.Net.Http outerloop test started to fail after #48817. This is an overlook in that PR and a regression.

[2021-03-02 21:03] davidfowl commented on #45671
How would this work if all names aren't known up front.

[2021-03-02 21:08] briansull commented on #48895
I think that I have a fix for this

[2021-03-02 21:12] ViktorHofer commented on #49026
Who would know what these are/were for? I don't anything about the nethost one and I presume the symbols one is just an aggregation of all symbols available to being downloaded for better debugging?

[2021-03-02 21:16] imhameed commented on #48475
Will work around this for now by emitting branch tables at the mini IR level.

[2021-03-02 21:16] #48475 closed

[2021-03-02 21:19] geoffkizer commented on #49019
I think it would help me if I understood better the scenarios where you would want to trade off throughput for memory. Is it for WebSockets that go idle? Something else?

[2021-03-02 21:20] NikolaMilosavljevic commented on #49026
Can you list all files that are not being produced anymore?

[2021-03-02 21:22] JulieLeeMSFT commented on #48791
CC @sandreenko if this is CodeGen issue or if we need to assign it to @mangod9's team since it is related to Threading.

[2021-03-02 21:28] JulieLeeMSFT commented on #48640
@nealef Assigning this to you. Please let us know if you can resolve this by following jkotas's recommendation.

[2021-03-02 21:38] sandreenko commented on #48791
With JitStress failures we usually start with codegen label, I will look at it and change the label if it is not Jit.

[2021-03-02 21:39] ViktorHofer commented on #44969
@carlossanlop I'm really about this change of direction and proposal. Just a few things that I want to mention that should be watched out for when implementing the underlying infrastructure:

- Generating xml docs as part of the compiler invocation which happens in the inner build (i.e. per OS) will likely degrade performance. Measurements are important as a degradation of 200-300 managed librarie

[2021-03-02 21:40] davidfowl commented on #49019
Yep, that's the typical scenario, lots of concurrent connections with very low traffic. Where a connected client/device is waiting for a server initiated notification. That's the scenario I'm currently testing.

We optimize for this scenario at multiple layers in the stack by doing zero byte reads, but we need to do it in a couple more places to make it more optimal.

[2021-03-02 21:40] AndyAyersMS opened #49030 "Loop opts should not be recomputing pred lists from scratch"
Several loop opts end up calling `fgUpdateChangedFlowGraph` when done, and this calls `fgComputePreds`, leaking previous pred lists and losing the profile weights carefully calculated earlier.

This seems wrong-headed; I think those optimizations should maintain pred lists and not rebuild them.

Removing the call to `fgComputePreds` shows a number of places in loop opts where pred lists are not pr

[2021-03-02 21:41] AndyAyersMS commented on #49030
See notes in #48850 for some context.

[2021-03-02 21:42] AndyAyersMS commented on #49030
cc @BruceForstall

[2021-03-02 21:54] shirhatti commented on #48637
Acknowledging this.

[2021-03-02 21:56] geoffkizer commented on #49019
Yeah, I almost mentioned this... I wonder if some sort of zero byte read support in SslStream would be useful here.

[2021-03-02 21:56] carlossanlop commented on #33792
Suggested severity: Hidden
Milestone: Future

[code]

[2021-03-02 22:01] carlossanlop commented on #47801
@sharwell should this analyzer proposal belong to the Roslyn repo?

[2021-03-02 22:09] aelij commented on #45671
In our use case all names are registered to the DI engine.

I experimented a bit, and it turns out the following works for validating all named options (the alternate design I suggested):

[code]

But the API is not easily discoverable (passing `null` as name). Maybe consider adding extension methods for the above?

[2021-03-02 22:13] davidfowl commented on #45671
I'm not sure I'm following... What works. Can you describe the end to end here?

[2021-03-02 22:17] danmoseley commented on #48999
Thanks @Fyko is it possible to share a standalone repro? the code you linked is helpful but does not run alone.

[2021-03-02 22:19] aelij commented on #45671
The problem we had was that an unexpected name was used, which retrieved an unconfigured and **unvalidated** instance of an option.

I suggested 2 solutions:
* Ensure that only names that were registered could be fetched from `IOptionsMonitor<T>`
* Enforce validation for all instances, whether pre-registered or not

The latter is possible with the above code sample.

[2021-03-02 22:22] davidfowl commented on #45671
And this has nothing to do with validation on startup right?

[2021-03-02 22:23] aelij commented on #45671
Right. Validating this at start-up could be an added bonus.

[2021-03-02 22:24] agocke commented on #40103
This should be fixed as of 5.0.4 https://github.com/dotnet/runtime/pull/47565

[2021-03-02 22:24] #40103 closed

[2021-03-02 22:25] MeikTranel commented on #47180
The draft PR is now up and mostly ready to pass things back to the team - one last requirements question remains tho...
@carlossanlop suggested that the default severity should be `Warning` - testing against the suggested repositories it occured to me that maybe this should be an `Info` level diagnostic.
This is probably not the first time y'all encountered this basically what happens alot is that

[2021-03-02 22:30] sharwell commented on #44969
Omitting documentation comments (and the subsequent reduction of language accuracy) is not a scenario I would expect users to follow in order to reach performance targets. This would be equivalent to disabling the use of Nullable Reference Types because it impacts build performance. Alternatives include:

1. Disable documentation comments only for a select subset of builds where the output artifac

[2021-03-02 22:33] davidfowl commented on #45671
Got it, this only works when you specify which names up front.

[2021-03-02 22:44] scalablecory commented on #49019
`SslStream` limitations seem somewhat recurring; exposing more primitives here seems worth exploring.

[2021-03-02 22:45] Wraith2 commented on #49019
SslStream allocations are high on the list for SqlClient performance as well, improvements here would be welcome.

[2021-03-02 22:45] davidfowl commented on #49019
@geoffkizer

It already supports it. https://github.com/dotnet/runtime/issues/37122

I think you're onto something, here's a strawman:

- We can use the 0 byte read as an indicator to only read the header and not the payload part of the TLS Record.
- Once the header read completes, we store the length of the payload, we return to the caller who will provide a buffer to read the payload.
- If the u

[2021-03-02 22:50] joperezr commented on #45475
I might be missing something, but if we are going to need the typeforward then presumably we wouldn't be getting rid of the assembly file right?

[2021-03-02 22:57] geoffkizer commented on #49019
Didn't know that... awesome!

I think we could do something even simpler here...

When the user does a 0 byte read, and there's nothing in the internal buffer, then we can:
(1) release the existing buffer back to the ArrayPool
(2) Do a zero byte read on the underlying stream
(3) When that completes, complete the zero byte read to the user
(4) The next read operation will allocate the internal buff

[2021-03-02 23:02] scalablecory commented on #49000
I don't really see any downsides to doing this, assuming it won't need a huge code refactor, and so long as we don't introduce extra reads on the base stream.

[2021-03-02 23:08] scalablecory commented on #49019
Keep in mind `SslStream` is built on top of `Stream`, not `Socket`... 0-byte reads are not part of `Stream`'s guarantees. We'd either special case it for `NetworkStream`, or have some flag the user can set to enable the behavior.

[2021-03-02 23:11] carlossanlop commented on #47180
@MeikTranel can you share the error output you get if you turn on this analyzer in the runtime repo and then build it?

To test your analyzer in runtime:

- Clone dotnet/runtime
- Edit this file: https://github.com/dotnet/runtime/blob/1bf0610e30dff8b3fb1328a2a8772e738d73157a/eng/CodeAnalysis.ruleset#L10
- Add a row with your RuleId
- Go to `C:\Users\<your_usename>\.nuget\packages\microsoft.codeana

[2021-03-02 23:16] mavasani commented on #47180
@carlossanlop I thought the initial bar for analyzers to be warnings by default was that they need to flag critical functional issues. Performance improvement analyzers should not be warnings by default. Has this stance changed recently? Can you confirm in the dotnet/runtime triage meeting?

[2021-03-02 23:16] RussKie commented on #44969
Seems I'm a little late to the party, didn't know this discussion existed. Thank you for doing this 👍

This concerns me a little, _in the target state_ I'd like code samples to live with the code as well.

AFAIK back in the days docs were often placed in external files and then linked by xml-doc like so, and perhaps we should continue using this approach for samples.
[code]
Perhaps we can build sa

[2021-03-02 23:21] nealef commented on #48640
My colleague [Uli Weigand](https://github.com/uweigand) is developing 4 patches to address this using the approach suggested by @jkotas. It involves adding ilasm/ildasm as subset that the mono build will include. He has also found an endian issue and a fix for libunwind to support s390x. He will be generating a PR when he's confident it works and doesn't break anything.

[2021-03-02 23:30] normj opened #49035 "Coreclr v2.1.25-dependencies tag incorrectly"
### Description

We are struggling building the .NET Core 2.1.25 based on the `v2.1.25-dependencies` tag of the **coreclr** repository. It looks like `v2.1.25-dependencies` was tagged in the wrong location. For example v2.1.25 contains **17,015** commits where as v2.1.25-dependencies contains **22,378**. I would only expect one or 2 commit differences for version number changes.

What we are speci

[2021-03-02 23:31] danmoseley commented on #44969
Even for the F5 scenario? As I recall, the F5 build already takes some shortcuts to be faster. We would not argue eg that Prefast should run on F5. It has to be a system of "rings". The question is just which goes in which ring.

[2021-03-02 23:34] buyaa-n commented on #47180
@MeikTranel isn't the analyzer bail out when the overload not exist? If it does then i wouldn't expect it to warn or make noise for lower versions

[2021-03-02 23:39] safern commented on #44969
Yeah, we were thinking of an extra MSBuild task to compare the files. This would only be validation to make sure that we are producing the right .xml file that will ship side by side to the ref regardless of the OS compilation. This step of course will only run as part of the all configurations build which is where we build for all OSs.

[2021-03-02 23:40] MeikTranel commented on #47180
Yes and that works as you expected but when a single project builds against two TFMs where one offers the overload and the other doesn't, you're left with a fixer that'll immediately generate a build error for the older target framework.

This is a general issue with analyzers that remind of better alternatives that were only  introduced in later successions of the frameworks.

[2021-03-02 23:42] gewarren commented on #44969
I didn't know about the [`<include>` tag](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/xmldoc/include). @carlosanlop we could use that for lengthy remarks and keep the included XML files in the dotnet/runtime repo?

[2021-03-02 23:44] ViktorHofer commented on #44969
Sounds good.

It would also need to run as part of an individual library's build which builds all configurations by default and on which you can do a `dotnet pack` to generate the package.

[2021-03-03 00:01] safern commented on #44969
Yeah, good point.

[2021-03-03 00:01] carlossanlop commented on #44969
@RussKie We have discussed the possibility of bringing the code samples to the source code repo, and validate them by building them alongside the unit tests, but the problem is that sending them to MS Docs becomes quite complex, so we decided to move this feature to the Future.

Meanwhile, area owners are free to decide if they want to keep lengthy remarks, or even whole code snippets (instead of

[2021-03-03 00:01] buyaa-n commented on #47180
Oh sorry, I misunderstood, that makes sense now i see the original description had `Suggested default severity: Suggestion` but in our triage, we made it `Suggested severity: Warning` i guess we did that because was not expecting a false positives. And looks like we didn't talk about severity in the API review meeting. By accounting for the false positives in the multitargeted environment i agree

[2021-03-03 00:05] tarekgh opened #49036 "Introduce Date and Time only structs"
## Background and Motivation

.NET expose DateTime and DateTimeOffset for handling date and time. It has been requested multiple time to expose Date only and Time only structs. There are many scenarios users need to handle Dates without caring about time at all. And scenarios need to handle time without caring about Date. Users today try to work around that by using DateTime or DateTimeOffset but

[2021-03-03 00:07] mavasani commented on #47180
IMO, analyzers reporting performance issues should never be a warning by default in the .NET SDK, even if we expect no false positives. Only critical functional or security issues should be candidate for being warnings by default.

[2021-03-03 00:08] Fyko commented on #48999
Sure, I've pushed the reproducable example to https://github.com/Fyko/export-api/tree/bug/48999
once cloned, cd into ExportAPI and run `dotnet run`.

Then, with a tool like Postman, `POST` to `http://localhost:5000/v2/export` with the JSON body:
[code]
where `token` is a valid discord bot token and `channel_id` is the ID of a discord channel the bot has access to.

[2021-03-03 00:09] sandreenko commented on #48786
`optOptimizeLayout` calls `fgReorderBlocks` that calls `fgOptimizeBranch` that calls `gtPrepareCost` and swaps tree order under JitStress without updating gtNext/gtPrev.
It is interesting that it is arm64 apple specific, can't be reproduced with an altjit.

[2021-03-03 00:11] stephentoub commented on #47180
This should not be a warning.

[2021-03-03 00:12] buyaa-n commented on #47180
@mavasani that makes sense to me, i will keep that in mind while triaging

[2021-03-03 00:14] maryamariyan commented on #35007
Closing as dupe of https://github.com/dotnet/runtime/issues/36015, fixing that would address this issue as well

[2021-03-03 00:14] #35007 closed

[2021-03-03 00:15] buyaa-n commented on #47180
@stephentoub do we want to fix the warnings found in runtime? Sounds like we need to do `ifdef` for multitargeted builds

[2021-03-03 00:24] safern commented on #47985
Based on Kusto queries I don't see this happened again since the issue was opened, closing based on that.

[2021-03-03 00:24] #47985 closed

[2021-03-03 00:25] trylek opened #49037 "Crossgen2 silently creates an empty R2R file when no input files are specified"
When no input files are specified on Crossgen2 command line, CG2 pretends to work normally but doesn't actually compile anything, it just produces an empty R2R file. While this behavior may be useful in some corner scenarios, in most cases it rather amounts to silently ignoring malformed command line. We should display at least a warning in this corner case.

/cc @dotnet/crossgen-contrib

[2021-03-03 00:37] maryamariyan commented on #48485
This behavioral change was a fix introduced in 6.0 for Issue https://github.com/dotnet/runtime/issues/44150.

Adding user secrets sets the optional bool flag as false and we should throw an exception (which wasnt happening before). If you wish to make it optional you need to pass the flag yourself in https://github.com/samsmithnz/UserSecretsRegression/blob/2c1cda555cde2a4b14ac3b968ed2044bb16181c4/

[2021-03-03 00:37] #48485 closed

[2021-03-03 00:39] MeikTranel commented on #47180
I have the fixes ready for runtime locally - it's just one that would actually surface for consumers and another one in testing/infrastructure code. It's pretty late in Germany so I hope y'all can live with me opening up the PR tomorrow 😊

[2021-03-03 00:41] davidfowl commented on #49019
@geoffkizer

Yes that works as well. I guess we'd end up allocating the buffer only until the entire frame is read.

Kestrel doesn't use a NetworkStream, that wouldn't be viable.

I discussed this with @stephentoub this morning and he was thinks it might be possible to retcon the definition to allow 0 byte reads to Streams to not be an error.

If we're not OK passing on the 0 byte read to the unde

[2021-03-03 00:43] buyaa-n commented on #47180
Thanks, @MeikTranel, sounds good, i don't think we need an issue with that, you can reference this issue in your PR

[2021-03-03 00:57] samsmithnz commented on #48485
@maryamariyan: This is an odd one. After reading the notes, I understand the scenario and why you've added an exception, but does this make sense for CI/CD situations and secret management in general?

I definitely don't want to commit/push my secrets.json file to my Git repo. Do you recommend I add a parameter to my appsettings.json file to pass in the false when building with CI/CD, and leave it

[2021-03-03 00:59] dmikov commented on #45189
Please, please keep deserializing the shape of the declared type by default. This unintended information disclosure was the thing I hated about Json.Net the most. It is imperative that if your array of type User, it doesn't show Parent instead. It has to be opt-in. Thank you for making it for us.

[2021-03-03 01:19] AaronRobinsonMSFT opened #49040 "Enable targeted Assembly trimming"
Narrowing the impact of the Linker to a single Assembly to trim would be convenient for scenarios involving large monolithic SDK style assemblies. The scenario would permit consuming one of the assemblies from https://github.com/dotnet/pinvoke and indicating that only the P/Invoke assembly should be trimmed. The Linker would run over the entire application but the trimming operation would be limit

[2021-03-03 01:19] AaronRobinsonMSFT commented on #49040
/cc @agocke @sbomer @vitek-karas @AArnott @tannergooding

[2021-03-03 01:24] Maoni0 commented on #48937
hi @peppy, thanks for your report. a comment -

so that's not exactly what I said in the doc 😃 this is what I said in the [Finalizers section](https://github.com/Maoni0/mem-doc/blob/master/doc/.NETMemoryPerformanceAnalysis.md#finalizers) -

it just says GC will not need to promote it. it doesn't say GC would not need to scan it, and this text is about scanning -

having said that, I completely agr

[2021-03-03 01:34] maryamariyan commented on #48485
The default value for `optional` is false. If you would like to keep the old behavior, (to keep optional behavior) then you need to specifically set optional to true in [AddJsonFile](https://apisof.net/catalog/84529c3b-1071-5f6a-64d2-4f2ff58a9e0b).

[2021-03-03 01:49] BruceForstall commented on #49030
We used to always need to rebuild pred lists after renumbering blocks due to pred list ordering being dependent on block number, so presumably phases knew they could be sloppy and things would get cleaned up later. But with the new `ensurePredListOrder()/reorderPredList()`, that's no longer required, as renumbering also keeps preds lists properly ordered.

Maybe we need a pred list checker that ru

[2021-03-03 01:51] sbomer commented on #49040
There's an option that tells the linker to trim a particular assembly:
- `--action link PInvokeAssembly` will let it link (remove unused members from) that assembly

Whatever MSBuild logic adds that assembly to the output could set some [metadata](https://docs.microsoft.com/en-us/dotnet/core/deploying/trimming-options#trimming-granularity) on it to pass the above option to the linker.

The current

[2021-03-03 01:55] buyaa-n commented on #47228
Could not we use the `[SupportedOSPlatform] or [UnsupportedOSPlatform]`  attributes with framework names (with optional version)? (especially in case we want the PCA analyzer warn for their usages)

For example, by my understanding the above [CSharpCodeGenerator.FromFileBatch()](https://github.com/dotnet/runtime/blob/8a52f1e948b6f22f418817ec1068f07b8dae2aa5/src/libraries/System.CodeDom/src/Microso

[2021-03-03 02:11] BruceForstall commented on #47096
@mangod9 please triage

[2021-03-03 02:18] peppy commented on #48937
@Maoni0 Thanks for your reply; glad you found this issue. Also apparently I am blind since I missed that specific part about scanning. I think the structure of the document may have played part in that – the "Finalizer" section header is a weird bullet point rather than looking like a header, and is also smaller than the sub-headers following it, making them look like a new section.

[2021-03-03 02:20] stephentoub commented on #49019
Special-case what?  SslStream provides the "wait for data" semantics if the stream it's wrapping does as well.  So as long as Kestrel uses such a stream, everything "just works".  If someone wants to substitute their own custom stream, they would need to support 0-byte reads as well.  If they're using a stream today that doesn't and Kestrel starts depending on it, yeah, they could be broken, but A

[2021-03-03 02:21] sunkin351 commented on #33244
+1 from me as well, an overload of `void* Alloc(int cb)` would also be nice for just calling into the CRT's normal `malloc()` implementation.

[2021-03-03 02:29] Maoni0 commented on #48937
@peppy I agree - I really struggled with the formatting since markdown offers pretty primitive options. I tried to make the line that says Finalizer part be more prominent by adding some kind of symbol but then it wouldn't let me make it a link *sigh* :) maybe I'll get one of the folks on my team who's better at this stuff to help me with formatting this better.

[2021-03-03 02:51] wfurt commented on #49000
I did quick PoC to bundle the frames and still get only frame.Lenght of data back from OpenSSL. So there may be little bit more trickery and possibly OS dependency.

[2021-03-03 02:59] steveisok opened #49042 "[Mono] Bus error when running dotnet exec on osx arm64"
On an M1, build the mono runtime using:

`./build.sh -Subset mono+libs -os osx -arch arm64`

Next, run a test:

`./dotnet.sh build /t:Test src/libraries/System.Buffers/tests/ /p:TargetOS=osx /p:TargetArchitecture=arm64`

You'll notice the process terminates with:

`Bus error: 10           (core dumped) "$RUNTIME_PATH/dotnet" exec --runtimeconfig System.Buffers.Tests.runtimeconfig.json`

Sample log

[2021-03-03 02:59] steveisok commented on #49042
/cc @lambdageek @vargaz

[2021-03-03 03:00] davidfowl commented on #49000
What do you mean? You can't get the next frame after reading the first one?

[2021-03-03 03:12] wizofaus commented on #31274
Would also like this feature, currently using the GetRawText() hack.

[2021-03-03 03:17] SimonCropp commented on #47113
@danmoseley @steveharter  can i provide any more information or help on this one?

[2021-03-03 03:25] klementi commented on #48709
Correct, coreclr

[2021-03-03 03:28] AndyAyersMS commented on #49030
I get post-phase check failures about missing preds if I remove the call to `fgComputePreds` so I think the current checking may be sufficient?

The missing jump target flags might be harder to track down; it's not clear if we have agreement about when the jump target bit needs to be set, and we don't seem to check this post phase. It is checked in codegen.

[2021-03-03 03:40] AndyAyersMS commented on #48925
See also https://github.com/dotnet/runtime/issues/48850#issuecomment-787110525

[2021-03-03 03:51] AlirezaHaghshenas opened #49375 "After updating to 5.0.200-1 using package manager, it appears that no sdks are installed."
OS: Fedora 33.

Last night I `dnf distro-sync`d my system as usual, and there was this .net sdk update to 5.0.200-1.

After that, `dotnet --list-sdks ` shows no results and my .net programs fail to compile.

More info: I've been using .net on this system before .net 5 and have installed all updates to .net without any similar problems.

Also, doing `sudo dnf install dotnet-sdk-5.0` does nothing, c

[2021-03-03 03:55] scalablecory commented on #49036
What is the behavior of the conversion operators re: `DateTimeKind`?

No need for a conversion from `DateTimeOffset`?

NodaTime uses the name `LocalDate`.

[2021-03-03 04:30] dagood commented on #49035
It looks like the commit tagged `v2.1.25-dependencies` is is the same as `v3.1.12`, https://github.com/dotnet/coreclr/commit/3c95aa2a7e0ca9d28447c2b8520ab333001e91d1. The checked-in version number here confirms it's actually 3.1.12: https://github.com/dotnet/coreclr/blob/3c95aa2a7e0ca9d28447c2b8520ab333001e91d1/eng/Versions.props#L5.

/cc @jamshedd FYI on tag status.

[2021-03-03 04:37] jamshedd commented on #49035
/cc @leecow, @rbhanda, @markwilkie

[2021-03-03 05:36] mangod9 commented on #47096
Does this fail only with jitstress? We will take a look.

[2021-03-03 05:48] jkotas commented on #49036
We have said no new `[Serializable]` types in .NET 6+: https://github.com/dotnet/designs/blob/main/accepted/2020/better-obsoletion/binaryformatter-obsoletion.md#net-6-nov-2021

[2021-03-03 05:51] jkotas commented on #49036
These should be properties. Properties have better perf characteristics than readonly fields.

[2021-03-03 05:53] wsq003 opened #49044 "ThreadPool.MinThread need better default value"
Async programming became more and more popular, and threadpool starvation became a serious problem.

It is very difficult to do all things right as suggested https://github.com/davidfowl/AspNetCoreDiagnosticScenarios/blob/master/AsyncGuidance.md

Occasional cache expiration may easily cause threadpool starvation because “By default, the minimum number of threads is set to the number of processors

[2021-03-03 06:02] BruceForstall commented on #47096
no (I mentioned that above)

[2021-03-03 06:04] mangod9 commented on #47096
Ok sorry missed that. Unless this is urgent it will have to wait till JanV is back.

[2021-03-03 06:05] smoogipoo commented on #48937
@Maoni0 Thanks for letting me know about the `FinalizeObject` event, it's already come in handy.

This would definitely help, as we're still trying to determine whether all remaining overhead is related to finalizers or not - they're just the biggest clue we have right now. Part of it is that we don't have full coverage due to WeakReference not being output as you mentioned, which is unfortunate g

[2021-03-03 06:09] iSazonov commented on #44969
From my experience in PowerShell repo processing docs in dev workflow is annoying and slow down dev process.
Obviously .Net team will have to add more CI checks for docs (to check syntax, gramma, cross links, external links and so on). This will lead to many negative consequences.
If only a line of code has been changed in a PR, then it makes no sense to rebuild all the documentation. And vice ver

[2021-03-03 06:21] thepirat000 commented on #31274
what's the GetRawText() hack?

[2021-03-03 06:44] KalleOlaviNiemitalo commented on #44969
The XML documentation files output by the C# compiler will contain elements from the included files, rather than `<include>` elements, so the included files will not be needed in further processing.

Except perhaps if there is a dangling [`xref:` link](<https://dotnet.github.io/docfx/tutorial/links_and_cross_references.html#different-syntax-of-cross-reference> "Different syntax of cross reference

[2021-03-03 06:59] En3Tho commented on #49044
I think you should post some kind of example where this really improves performance. Or even few of then

[2021-03-03 07:44] marek-safar commented on #45475
The illinker by default rewrites type forwarders with the declaration types.

[2021-03-03 07:55] davidfowl commented on #39183
The change here is non trivial because HttpListener would need to implement a buffering layer for request body reading. Today it directly reads from the socket when the user calls Read on the request body. This is important because you can't have both the HttpListener implementation calling Read and the user calling Read at the same time. You need them to be independent in order to detect FINs. Th

[2021-03-03 09:03] d-vs opened #49049 "DI container should not capture transient IDisposables"
According to the below documentation, transient services that implement IDisposable will be captured by the DI container of Extensions.DependencyInjection.

https://docs.microsoft.com/en-us/dotnet/core/extensions/dependency-injection-guidelines#disposable-transient-services-captured-by-container

For me, this is not correct behaviour. By their nature, transient services should be created and disca

[2021-03-03 10:03] vitek-karas commented on #48902
@sdmaclea this feels like something which should be investigated on the runtime side.
I don't think it's the same issue as #48343.

[2021-03-03 10:14] wizofaus commented on #31274
`JsonSerializer.Deserialize<SomeObject>(element.GetRawText())`

[2021-03-03 10:15] wsq003 commented on #49044
bool cacheHit = false;

public async Task<string> GetUserName(Int64 userID)
{
	if (cacheHit)
	{
		return "cacheResult_Mike";
	}
	else
	{
		var name = await LoadDB(userID);
		return name;
	}
}

private async Task<string> LoadDB(long userID)
{
	//Sorry I forget to call the async function, so thread blocked here.
	//It works fine in test. And it even works find in benchmark because of cacheHit.
	//Bu

[2021-03-03 10:22] antonfirsov commented on #41249
Probably regression from #48817 (similarly to #49028) I'm OOF today, will take care of it tomorrow, but if someone manages to prove the connection (eg by checking timeline data on Kusto), possible quick fix is to revert that PR.

[2021-03-03 10:57] #46646 closed

[2021-03-03 10:57] #46645 closed

[2021-03-03 10:59] ViktorHofer opened #49051 "Specification Tests package version is causing official builds to fail"
[code]

https://dev.azure.com/dnceng/internal/_build/results?buildId=1020407&view=logs&j=ba23343f-f710-5af9-782d-5bd26b102304&t=6e277ba4-1c1e-552d-b96f-db0aeb4be20a

cc @ericstj @directhex

[2021-03-03 11:06] krwq commented on #46900
@mdbill if I understand correctly if UWP without native toolchain works but it doesn't with native toolchain enabled I'd assume this is a bug. I do not currently have information if this is officially supported or not, I'll see if I can find more information. Marking as 6.0 until we have better response. I can't promise this will be fixed in this release.

[2021-03-03 11:28] omariom commented on #49036
[code]

Operators losing information should be explicit.

[2021-03-03 11:59] megakid opened #49054 "System.Linq.EmptyIfNull() API Proposal"
## Background and Motivation

Quite often I end up wanting to be dismissive of null vs empty when using LINQ.
E.g. when using `.Any()` I do not want it to throw when the `source` collection is null (see https://github.com/dotnet/corefx/blob/b8b81a66738bb10ef0790023598396861d92b2c4/src/System.Linq/src/System/Linq/AnyAll.cs#L16).

I always see the existing `.DefaultIfEmpty()` [docs](https://docs.mic

[2021-03-03 12:08] marek-safar opened #49055 "Annotate DebuggerVisualizerAttribute to be linker safe"
Annotate [DebuggerVisualizerAttribute](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Private.CoreLib/src/System/Diagnostics/DebuggerVisualizerAttribute.cs) to be linker safe

@eerhardt

[2021-03-03 12:24] samsmithnz commented on #48485
Thanks I did this and it works: https://github.com/samsmithnz/UserSecretsRegression/pull/3

I'm going to leave the repo around for when others run into this, as I feel like we've broken a lot of code in a subtle way (and the default should be true) :).

Thanks for your patience and input! Appreciate it.

[2021-03-03 12:52] MichalStrehovsky commented on #49040
Trimming doesn't happen unless the user specifies `PublishTrimmed` and at that point we're trimming the entire app (some assemblies more, some less). Is the request that we would run trimming even if the user didn't specify `PublishTrimmed` in this case?

[2021-03-03 12:59] steveisok commented on #35093
The effort to make a c++ headers only ICU is not something we want to take on at this point.  Therefore, we're going to stick with relying on the system ICU for .NET 6.

[2021-03-03 12:59] #35093 closed

[2021-03-03 13:24] rbhanda commented on #49035
@Anipik can you help us here to correct these tags.

[2021-03-03 13:26] eiriktsarpalis commented on #49054
I would say that `??` is the language construct intended for this type of scenario, in your example:
[code]
It's longer by a few characters, sure, but I don't see much value given the overhead of introducing yet another concept for dealing with the same problem. Like you said, it should be fairly trivial to incorporate such a method as an extension in your code.

[2021-03-03 13:26] #49051 closed

[2021-03-03 13:32] #47792 closed

[2021-03-03 13:40] krwq commented on #46900
@mdbill I was able to repro your issue. Can you also point me to CosmosDB issue you mentioned?

After quick investigation I think I found a workaround for you.

Add

[code]

into `Properties\Default.rd.xml` inside `<Application>` section. Note that using different APIs might trigger other errors and without specific use case it's hard to provide solution.

Simpler workaround is to just disable tri

[2021-03-03 13:44] krwq commented on #1395
@joperezr I'm removing this from our project board since this is owned by serialization team (assuming they can even repro)

[2021-03-03 13:51] krwq commented on #48167
@nschuessler I'm not super familiar with the PDB format/APIs to answer but I know that method definitions are definitely in the DLL (they technically could be in both places but my rough guess is that you need to read it from DLL, if icsharpcompiler can read it from just PDB then I assume PDB has enough information - it could be automatically opening DLL though).

[2021-03-03 13:53] krwq commented on #46344
@joelverhagen let me know if that helps whenever you have a chance to test.

[2021-03-03 13:56] krwq commented on #45283
@teo-tsirpanis I'll close this issue as a dup of #45102 for now. Once the issue is closed and you're still seeing the issue please reopen or recreate it.

[2021-03-03 13:56] #45283 closed

[2021-03-03 14:01] directhex commented on #44652
Closing as resolved by https://github.com/dotnet/runtime/pull/44671

[2021-03-03 14:01] #44652 closed

[2021-03-03 14:07] robertdavidsmith opened #49058 "Memory load includes the file cache on Docker Linux"
### Description

We have a complex C# application that makes heavy use of memory mapped files.

In Docker it spends most its time hitting the container memory limit, but this is only due to page cache so shouldn’t be a problem. Our app isn’t failing due to lack of memory. However it’s running at half the speed on Linux compared to Windows. G2 garbage collections are also way more frequent on Linux

[2021-03-03 14:29] Barshan-Mandal opened #49059 "Please introduce pauseless GC in c#"

[2021-03-03 14:32] Barshan-Mandal opened #49060 "[making hidden services for android and ios]: [Service for android , ios,linux,tizen and mac]"
How to make background services in android , ios,linux,tizen and mac

[2021-03-03 14:39] sharwell commented on #47801
The analyzer driver doesn't have ability to operate across multiple compilations at the same time. If someone wanted to use this (ignoring side effects outside the binary like app.config files), it would need to be implemented as a separate kind of tool.

[2021-03-03 14:49] nschuessler commented on #48167
Yeah, I've concluded that the only place we reliably have a matching PDB with the binary is right after the build completes, I will extract information during the build. Then the data can be pulled from DLL or PDB it won't matter.

[2021-03-03 15:02] AraHaan commented on #47801
Hmm or perhaps it could be done in a build task inside of the Sdk which somehow analyize the IL code that is generated then hash them out (maybe crc32 of the generated IL code) and then if any TFM matches that hash then it would warn about it from the SDK?

Perhaps somehow that could be done.

[2021-03-03 15:14] eerhardt commented on #49055
What does it mean for this attribute to be linker safe?

I assume at a minimum we will need to preserve public ctors. But what about public properties? What about interfaces the visualizer implements? Does VS check for any interfaces? Should we just mark the Type as preserve `All`?

cc @mikem8361

[2021-03-03 15:20] huoyaoyuan commented on #49059
Absolute zero pause should be theoretically impossible for GC. The team is trying their best to eliminate GC latency.

[2021-03-03 15:23] huoyaoyuan commented on #49060
For linux, Microsoft.Extensions.Hosting.Systemd provides some integrations.
For other OS, Xamarin may have provided corresponding app model.
There can't be a unification among OSes because they provide far different features.

[2021-03-03 15:26] mdbill commented on #46900
Thanks for the workaround, I haven't tried it yet, but it's good to have some progress/attention on this.

Sure, both the V3 and V2 SDKs have dependencies on configurationManager. And both have open bug reports.  The simpler one to repro is V3. Just one line of code to attempt instantiate the CosmosClient class crashes.
https://github.com/Azure/azure-cosmos-dotnet-v3/issues/2049#issuecomment-75490

[2021-03-03 15:44] TamarChristinaArm commented on #43789
@echesakovMSFT Also I'm wondering, unless I misread the dock, doesn't `Span.Fill` also work for non-byte sized element fills? What does it do in those cases? `CORINFO_HELP_MEMSET` looks like a standard byte oriented `memset`?

[2021-03-03 15:49] AArnott commented on #49040
Trimming can cause runtime malfunction do to removal of private members that are accessed via reflection. Yet some assemblies are relatively safe from such regressions and would greatly benefit from trimming, such as the Win32 p/invoke assemblies mentioned above. So yes, I think the ask is to trim specific assemblies all the time.

That said, given trimming requires scanning all assemblies deploye

[2021-03-03 15:59] directhex commented on #44234
CI failure resolved by https://github.com/dotnet/runtime/pull/44404 (although the underlying issue still needs fixing)

[2021-03-03 15:59] #44234 closed

[2021-03-03 16:29] directhex commented on #45440
Theoretically fixed by https://github.com/dotnet/core-eng/issues/11539

[2021-03-03 16:29] #45440 closed

[2021-03-03 16:29] eerhardt opened #49062 "ConfigurationManager is not trim compatible"
Using the latest 6.0 SDK

[code]

[code]

[code]

______

Because https://github.com/dotnet/runtime/pull/48428 marked all assemblies building from `dotnet/runtime` as `IsTrimmable=true`, System.Configuration.ConfigurationManager is now getting aggressively trimmed. However, since we haven't addressed the ILLink warnings in the assembly, it is not trim compatible.

We should probably remove `IsTrim

[2021-03-03 16:29] directhex commented on #45516
Marking resolved, as per Premek's comments

[2021-03-03 16:29] #45516 closed

[2021-03-03 16:30] eerhardt commented on #46900
Looking at the ILLink warnings in the above console app, I see the following warnings:

[code]

So it looks like ConfigurationManager will need some trim annotations to make it trimming safe.

I'm able to reproduce the same error on the latest `net6.0` bits, outside of UWP.

[code]

[code]

[code]

I've split this off into its own issue: https://github.com/dotnet/runtime/issues/49062. That way thi

[2021-03-03 16:31] mdbill commented on #46900
Both of the workarounds do make the test case here pass.  Unfortunately, neither fixed the issue with the Cosmos V3 SDK...which is the whole reason I opened this bug report.
The V2 SDK also still crashes.
@krwq Since you lowered the priority thinking maybe this workaround helps, I'd appreciate the priority going back up.

[2021-03-03 16:32] marek-safar commented on #49055
I think we should preserve everything as we did for DebuggerTypeProxyAttribute

[2021-03-03 16:40] marek-safar commented on #49062
@eerhardt I don't see any linker suppressions in System.Configuration.ConfigurationManager, is that because it's OOB package?

[2021-03-03 16:50] directhex commented on #39943
Hasn't happened since January. Closing.

[2021-03-03 16:50] #39943 closed

[2021-03-03 16:52] directhex commented on #47474
https://github.com/dotnet/xharness/issues/430 was closed a couple of weeks ago

[2021-03-03 16:52] #47474 closed

[2021-03-03 17:00] directhex commented on #41108
No failures since October. I'm closing, since it seems happy now. Yes I know it was kinda intermittent, but the gap between the previous "it's fine, closing" and failure, and the gap between the last failure and today, are pretty big.

I'm sure this comment will come back and bite me eventually

[2021-03-03 17:00] #41108 closed

[2021-03-03 17:00] eerhardt commented on #49062
Yes. We only run the linker analysis on the shared framework / runtimepack assemblies currently. https://github.com/dotnet/runtime/issues/48488 tracks adding analysis for OOB libraries.

[2021-03-03 17:02] directhex commented on #44657
Closing, fixed by https://github.com/dotnet/runtime/pull/45976

[2021-03-03 17:16] joelverhagen commented on #46344
Apologies on the delay @krwq. I tried `PEStreamOptions.PrefetchMetadata | PEStreamOptions.LeaveOpen` and it seemed to have the same result as `PEStreamOptions.PrefetchMetadata` -- an `IOException` is thrown instead of a `false` boolean.

[code]

This is easy enough to work around (I just avoided using `PrefetchMetadata):
https://github.com/joelverhagen/ExplorePackages/blob/734404bf00aec69408f527e0

[2021-03-03 17:23] Clockwork-Muse commented on #49036
[code]
`DateTime` doesn't retain its reference to the `Calendar` after initialization.  Assuming that to be the case here as well, we should be explicitly calling that out so people aren't completely confused when `AddMonth` (and a number of other methods) don't do quite what they expect.

[code]
Presumably this returns the count of days, but this will hamstring us if we ever introduce a relative

[2021-03-03 17:27] softworkz commented on #39183
Hi David,

thanks a lot for responding (even though a bit late 😄). I know this is one of your core areas of expertise, while for me, it was just a drive-by issue at that time and I don't remember much of the details.

I hope my description of the problem was accurate at least.

For our netcore deployments we moved to some ripped-out Kestrel implementation (without aspnetcore) and for MONO and Xama

[2021-03-03 17:28] #40815 closed

[2021-03-03 17:31] tarekgh commented on #49036
right, I am removing it.

[2021-03-03 17:36] ststeiger opened #49065 "Font API"
## Background and Motivation

Right now, it's fundamentally impossible to list all available fonts.
The existing API is Windows only.
If I want to generate a PDF on Linux, Mac, Android or iOS, I can't get a list of installed font files.
On Linux, I can call libfontconfig, if it's installed, which is relatively straight-forward.
But on OSX, the entire thing is a nightmare.
I can either hard-code th

[2021-03-03 17:36] imhameed commented on #48499
Some problems with this:
- While arm_neon.td does provide a complete description of everything necessary to generate something like arm_neon.h, each individual intrinsic is implemented in terms of clang builtins, and these don't necessarily directly correspond to individual LLVM IR operations. There's still lots of special-case hand-written C++ that turns clang builtins into IR sequences: https://

[2021-03-03 17:36] mangod9 commented on #49059
@Barshan-Mandal, could you please provide more context on what latencies you are observing. Perhaps we could provide some guidance on your specific case.

[2021-03-03 17:38] tarekgh commented on #49036
Unspecified.

No, DateTimeOffset is kind offset from UTC. Converting date or time to that would be strange as these not related to the time zones at all. Also, we didn't find any real scenario need that.

we didn't choose this name for 2 reasons. First, it can be confusing for users will assume it is related to local time zone. Second, we wanted a name that start with the word Date for discoverabi

[2021-03-03 17:39] steveisok commented on #46831
@lewing Does `microsoft.net.runtime.emscripten.<host-rid>.<runtime-version>.<emscripten-version>` work for you naming wise?

[2021-03-03 17:56] ViktorHofer commented on #48848
Moving to issues to area-Meta as it this isn't actionable by the infra team.

[2021-03-03 17:57] tarekgh commented on #49036
Yes, we'll not retain the calendar. This constructor is provided as a helper to create a Date from any other calendars dates. We can clarify the doc to be explicit about the behavior and not confuse it with the AddMonth.

Yes, this will return the number of days. The caller of this operator would see it return an integer number and if doesn't understand it would look at the doc. providing explicit

[2021-03-03 17:58] ViktorHofer commented on #48709
@klementi could you please provide the command that you used to clone the repo and build it?

[2021-03-03 17:59] mangod9 commented on #49058
Hey @robertdavidsmith, is there a standalone repro you could share for this issue?

[2021-03-03 18:15] robertdavidsmith commented on #49058
Not currently, the app is closed-source and relies on our internal infrastructure.

If the problem isn't obvious I can try and create one. It looks like  https://github.com/dotnet/runtime/blob/main/src/coreclr/gc/unix/cgroup.cpp is including file cache in memory load though.

[2021-03-03 18:23] ericstj opened #49069 "System.TestStructs ships with Micrososoft.Extensions.DependencyInjection.Specification.Tests but builds from test directory"
https://github.com/dotnet/runtime/pull/48858 started shipping System.TestStructs.

Micrososoft.Extensions.DependencyInjection.Specification.Tests is shipped to be used by 3rd party implementers of Micrososoft.Extensions.DependencyInjection in order to test their implementations.  This was something done in dotnet/extensions, then dropped when we moved the source to dotnet/runtime, and brought back

[2021-03-03 18:24] kevingosse opened #49070 "Segfault in AdjustContextForVirtualStub"
I have an application that consistently crashes only on Linux/ARM64, with the following stacktrace:

[code]
This is an application that throws a bunch of exceptions, on top of lengthy callstacks (this one is 153 frames long).

It's important to note that the crash only occurs when our profiler is attached and we've ReJITted some methods. So it's entirely possible we're corrupting something. Still,

[2021-03-03 18:28] mangod9 commented on #49058
Ok sure, we will take a look.

[2021-03-03 18:31] krwq commented on #46118
Hey @acaly @DaZombieKiller

This works correctly for me:

[code]

would that be acceptable solution for you?

[2021-03-03 18:32] safern commented on #44657
I don't know if @agocke once to bring those tests back from the staging pipeline to the main one?

[2021-03-03 18:35] eerhardt commented on #49069
The test added in https://github.com/dotnet/runtime/commit/21ff47c4e8dc1d4ab7006c2112bb9e6594e66712 did find a behavioral difference in Unity DI container: https://github.com/unitycontainer/microsoft-dependency-injection/issues/87. So it seems like a valuable test.

Note that once the [C# feature](https://github.com/dotnet/csharplang/issues/99) comes in which allows parameterless constructors on s

[2021-03-03 18:38] ViktorHofer commented on #49069
Is that a NET6 deliverable? If yes then I'm fine to wait, otherwise I would prefer to address this issue sooner.

[2021-03-03 18:40] alexcovington opened #49071 "[Perf] Burgers.Test3 Regression on x64"
### Description

The `Burgers.Test3` scenario from [dotnet/performance](https://github.com/dotnet/performance) is regressing in 6.0. I can reproduce by running the following after cloning dotnet/performance:

[code]

### Configuration

Configuration below in Data.

### Regression?

Regression from .NET 5.0 -> .NET 6.0.

### Data

<details>

<summary>AMD Ryzen 7 5800</summary>

.NET 5.0 Results

[c

[2021-03-03 18:42] agocke commented on #44657
Yeah, let's keep it open. I do eventually want to get to the bottom of this.

[2021-03-03 18:43] krwq commented on #46900
@mdbill I can't repro the Cosmos v3 issue after I add `<Assembly Name="System.Configuration.ConfigurationManager" Dynamic="Required All" />` to the Default.rd.xml file.

[2021-03-03 18:46] eerhardt commented on #49069
According to https://github.com/dotnet/roslyn/blob/master/docs/Language%20Feature%20Status.md#c-next, it is currently in progress.  @cston @jcouv @333fred could answer if parameterless struct constructors will make it for NET6.

[2021-03-03 18:51] buyaa-n commented on #47801
Thanks, @sharwell @AraHaan, transferring it to SDK repo

[2021-03-03 18:53] sbomer commented on #49040
We do limit trimming to assemblies marked `IsTrimmable` or with an `--action` argument, but it doesn't exactly mean they are "safe" to trim, since this depends on the context (for example nothing prevents user code from reflecting over a pinvoke assembly). Instead we try to provide correctness guarantees via [analysis warnings](https://docs.microsoft.com/en-us/dotnet/core/deploying/trimming-option

[2021-03-03 19:07] 333fred commented on #49069
Chuck is working on them. I would expect that they should make it.

[2021-03-03 19:10] radekdoulik opened #49073 "Crash in GlobalizationNative_GetSortHandle related to System.Globalization.GlobalizationMode"
Context: https://github.com/xamarin/xamarin-android/pull/5669

In above PR we are experiencing crash in `GlobalizationNative_GetSortHandle` function. I found out that it happens only in trimmed apps. After further investigation, it can be worked around by preserving `System.Globalization.GlobalizationMode` type.

It might be related to these recent changes: https://github.com/dotnet/runtime/pull/4

[2021-03-03 19:17] radical commented on #43865
Heads up: Once https://github.com/dotnet/runtime/pull/47683 is merged, you might want to add these test projects as xunit tests.

[2021-03-03 19:23] Anipik commented on #49035
@aik-jahoda can you take care of this ?  we need to make it similar to the 2.1.25 tag

[2021-03-03 19:34] tarekgh commented on #49036
@omariom

You are correct. Thanks!

https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/operator-overloads#conversion-operators

[2021-03-03 19:38] safern commented on #49073
cc: @eerhardt @marek-safar

[2021-03-03 19:44] ivan-prodanov commented on #43411
Guys, could you please help me find out how this issue was fixed? I sense this was fixed specifically and only in Blazor.

My non-blazor wasm app has the same issue as OP. If I move the code to a blazor app it works just fine. In my non-blazor wasm app I get the same error "Cannot wait on monitors on this runtime.".

[2021-03-03 19:49] msallin commented on #49036
@jkotas

Might you point me to the resource where I can learn why this is the case or shortly elaborate?

[2021-03-03 19:50] Qowy opened #49076 "net 6 Preview Target Android results in SSL error"
Hi
I was trying the .net 6 preview samples for android (HelloAndroid)

When I add a HttpClient and then request a https page I get the following exception at runtime.

`[Mono] DllImport unable to load library 'libSystem.Security.Cryptography.Native.OpenSsl'.`

[2021-03-03 19:56] BreyerW commented on #49059
@huoyaoyuan  actually this isnt impossible there was firm that developed truly pauseless gc but at first it required specialized hardware and thus was viable only for medium/large servers enviroments. However perf advancements allowed to port this gc to any hardware. Link to paper presenting general implementation was provided in one of gc related topics here. That being said im not sure how feasi

[2021-03-03 20:01] echesakovMSFT opened #49077 "runtime-coreclr crossgen2 outerloop / Test crossgen2-comparison failures"
Pipeline [runtime-coreclr crossgen2 outerloop](https://dev.azure.com/dnceng/public/_build?definitionId=701) has been red for a while.
This includes, crossgen2-comparison jobs that are supposed to validate changes in the JIT that break cross-bitness scenarios.

For example, https://dev.azure.com/dnceng/public/_build/results?buildId=1018480

The jobs fail during crossgen2_comparison.py script run, s

[2021-03-03 20:01] pr-benchmarks[bot] opened #49081 "Build size regressions"
A publish size regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old Build (KB) | New Build (KB) | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| json  | Json CG2 composite aspnet-citrine-amd | 02/19/2021 08:34:23 | 151,273 | 328,772 | 117 % (177,499)  :thumbsdown: | 12,083.99 σ | 15 |
| j

[2021-03-03 20:01] eerhardt commented on #49073
Just guessing by looking at the code, but is anything explicitly loading ICU on the xamarin android app?

What could be happening is the following line getting trimmed away:

https://github.com/dotnet/runtime/blob/a43deba4c8236165e649779a996294d65fcf8044/src/libraries/System.Private.CoreLib/src/System/Globalization/GlobalizationMode.Unix.cs#L25

And nothing else is loading ICU. So the `ucol_open`

[2021-03-03 20:01] echesakovMSFT commented on #1282
@BruceForstall I think it is okay.

We still have crossgen-comparison job triggered in PRs (if they affect code under src/coreclr). One of the latest runs is green - https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-48830-merge-9b43a99dd41241aaa5/WorkItem/console.42781747.log?sv=2019-07-07&se=2021-03-23T08%3A59%3A24Z&sr=c&sp=rl&sig=Eu7gjhAYzP2ozwKcOMC%2FsAzV9caUqAe2qe

[2021-03-03 20:03] kevinmv opened #49078 "Possible OSX/Linux JIT Inlining Optimization Bug .Net Core 5.0.200"
Hello!

We are seeing what looks to be a JIT optimization bug in .Net Core 5.0.200 but only for OSX and Linux, Windows does not present any issues.

### Description

We have a function `ScheduleFlushSend(JobHandle dep)` which takes a small struct as an input parameter:
[code]
Inside `ScheduleFlushSend` we pass along the `dep` JobHandle parameter to an implemented interface method `ScheduleSend` ho

[2021-03-03 20:05] danmoseley commented on #43411
@lewing ?

[2021-03-03 20:07] kevinmv commented on #49078
Adding area owners @BruceForstall @dotnet/jit-contrib

[2021-03-03 20:15] echesakovMSFT commented on #49077
It looks that the error comes from running crossgen2 on System.Utf8String.Experimental.dll, so could be an issue with crossgen2 itself

[code]

[2021-03-03 20:15] tarekgh commented on #49073
@eerhardt is it possible to trim the line you pointed at even Invariant mode is off?

[2021-03-03 20:39] sdmaclea commented on #48902
This looks like multiple stability issues

- One looks related to GC Holes in the runtime/JIT.
- One looks related to Write No Execute permissions during `EEJitManager::CleanupCodeHeaps()`

[2021-03-03 20:48] wfurt opened #49080 "dotnet-trace can produce corrupted traces when traced process does not exit cleanly"
I have trivial project like I'm trying to trace:
[code]

When I press ^C while running or if this throws, I get corrupted trace. I cannot open it either with PerfView or Microsoft.Diagnostics.Tracing packges:
[code]
I would expect that tracing will produce valid output up to process exit.
Without it, it will be very difficult to use diagnostic to trace bugs.

I'm running on ubuntu 16.04 with Micro

[2021-03-03 20:55] eerhardt commented on #49073
My assumption is that `LoadICU()` line is getting trimmed because I changed Xamarin apps to explicitly set `<InvariantGlobalization>false</InvariantGlobalization>`. That feature switch rewrites the method that calls into this line to just `return false;` all the time. Thus, this line isn't getting called anymore.

[2021-03-03 21:02] geoffkizer commented on #49000
@wfurt can you post the code?

[2021-03-03 21:05] geoffkizer commented on #49019
I'm looking at the code and I don't see where it's actually relying on a zero-byte read from the underlying stream. That is, SslStream is correctly implementing "wait for data" but it's doing it by simply always reading into its internal buffer.

Code here: https://github.com/dotnet/runtime/blob/main/src/libraries/System.Net.Security/src/System/Net/Security/SslStream.Implementation.cs#L754

So I t

[2021-03-03 21:07] stephentoub commented on #49019
Exactly.  SslStream is in my category (3).

[2021-03-03 21:08] mangod9 commented on #49081
moving to VM for now, looks like all native binaries increased in size.

[2021-03-03 21:12] stephentoub commented on #49019
I think that's reasonable.  We just need to be aware that we may be wrapping a stream that doesn't have the wait for data semantics.  In practice I think what that really means is, whereas we might otherwise have chosen to do a synchronous read (since we know there's data available), we still need to do the subsequent read asynchronously.

[2021-03-03 21:13] stonstad commented on #31274
Doing the same hack as described above.  Using System.Text.Json in a high throughput/performance system and it is painful having to use this hack.

[2021-03-03 21:17] geoffkizer commented on #49019
And to be clear, what are you proposing we do for category (3) in general, in terms of guidance/conformance tests/etc?

Are you saying these *should* do what I'm proposing for SslStream above? That is:

When the user does a zero-byte read, and the stream needs more data from the underlying stream, then the wrapping stream should:
(1) Issue a zero-byte read against the underlying stream
(2) Try to

[2021-03-03 21:19] geoffkizer commented on #49019
Yep, but as you say, the result here is benign and we would end up doing basically what we do today, just with the added cost of a zero-byte read that always succeeds immediately.

[2021-03-03 21:21] sdmaclea opened #49083 "[macOS-arm64] CoreCLR System.Security.Cryptography.OpenSsl.Tests fail on M1 Helix queues"
From https://dev.azure.com/dnceng/public/_build/results?buildId=1019012&view=results

`No usable version of libssl was found`

[code]
[code]
/cc @directhex

[2021-03-03 21:25] marek-safar commented on #49040
I think you are asking for exactly what Sven shared earlier. You can mark your assembly as https://github.com/mono/linker/blob/main/docs/design/trimmed-assemblies.md#assemblymetadataistrimmable-true trimmable and that will trim it all the time automatically.

[2021-03-03 21:28] geoffkizer opened #49086 "SslStream should avoid copying read buffer data when it already has another frame to process"
The logic in SslStream.ReadAsyncInternal calls ResetReadBuffer whenever it finishes processing the previous decrypted frame and thus needs to decrypt another frame. However, this is unnecessarily aggressive. We should only do this when we are about to actually issue a read against the underlying stream. If we already have a frame buffered, then we won't read and will just process that frame immedi

[2021-03-03 21:29] geoffkizer commented on #49000
@wfurt if you are working on a fix for this it would be nice to fix #49086 at the same time -- that may just fall out of the fix here.

[2021-03-03 21:34] tommcdon commented on #47896
Tracking this issue via #47895

[2021-03-03 21:34] #47896 closed

[2021-03-03 21:37] tommcdon commented on #43936
Looks like a duplicate to #12739

[2021-03-03 21:37] #43936 closed

[2021-03-03 21:37] stephentoub commented on #49019
Basically, don't add an upfront guard for `if (count == 0) return 0;`", or the equivalent.  Instead, a wrapper stream asked for 0 bytes should end up asking the underlying stream for 0 bytes (if the wrapper didn't already have some buffered).

[2021-03-03 21:38] sdmaclea opened #49088 "[macOS-arm64] System.Linq.Tests crashing on CoreCLR"
From https://dev.azure.com/dnceng/public/_build/results?buildId=1019012

[code]

[2021-03-03 21:39] BrennanConroy commented on #48995
@ericstj Would it be possible to piggy-back off someone on your team who may be doing this in other areas?

[2021-03-03 21:41] tommcdon commented on #38901
Not needed for single file, so closing

[2021-03-03 21:42] sdmaclea commented on #49088
This is probably a GC hole, but it is occurring in the managed thread pool

/cc @kouvel

[2021-03-03 21:44] Clockwork-Muse commented on #49036
@tarekgh

The ask was for _from_.  So `var result_date = (DateOnly)some_offset_value;` instead of `var result_date = (DateOnly)((DateTime)some_offset_value);`.  You can reasonably get date/time components out of a `DateTimeOffset`.  Ignoring NodaTime, I'd be avoiding plain `DateTime` as much as possible to be explicit about my offsets.

What I meant was that we should have something like the follo

[2021-03-03 21:44] geoffkizer commented on #49019
That's my bullet (1) above. I think suggesting (2) is useful as well, because that's what would actually help with the original scenario here.

I think it's more complicated than that in general; wrapping streams are typically managing internal buffers etc. But that's a detail.

[2021-03-03 21:47] mangod9 commented on #49081
FYI @jkoritzinsky @trylek @jkotas  if they are aware of any build changes around symbols not getting stripped or something similar?

[2021-03-03 21:50] EgorBo commented on #49081
Can it be https://github.com/dotnet/runtime/pull/48444 from that list of commits?
cc @am11

[2021-03-03 21:51] sdmaclea opened #49089 "[macOS-arm64] System.Text.Json.Tests failing with CoreCLR"
From https://dev.azure.com/dnceng/public/_build/results?buildId=1019012
[code]
[code]

[2021-03-03 21:52] jkotas commented on #49036
Static properties that just return a constant value are very easy for the JIT to inline, without no special measures.

readonly static fields are not as easy. They can be only inlined in certain cases. It requires either tiered compilation to kick in after the static constructor that initialized the field run. Or it requires a complex global analysis in AOT compiler that attempts to prove that the

[2021-03-03 21:52] softworkz commented on #39183
PS: I had posted the same issue in the MONO repository. For strategical considerations, I had skipped cross-referencing to avoid possible responsibility ping-pong.

But now, that we have a winner (hehe):

Related: https://github.com/mono/mono/issues/20127

[2021-03-03 21:53] steveisok commented on #49076
This won't be resolved until P3 where we'll default to using the native http handler.

[2021-03-03 21:53] mikem8361 commented on #38901
This is needed for MacOS single-file because the RVA of the global DAC table in the single-file exe isn't consistent. The DAC needs to use the global symbol to find the table.

[2021-03-03 22:01] davidwrighton commented on #1282
@echesakovMSFT I intend to get around to fixing some of those crossgen2 comparision issues soon.

[2021-03-03 22:02] jkotas commented on #49081
I agree that this is the problematic change. cc @janvorli

I think we should revert it. Thoughts? Also, we may want to push the revert into preview2 since the bug is there as well.

[2021-03-03 22:04] ericstj commented on #48995
@carlossanlop and @safern are driving this effort.  I believe the process is well documented and makes things significantly better for documenting the libraries.  I believe it's important for area owners to be involved in reviewing the results for validity.

[2021-03-03 22:04] davmason commented on #49070
I am not familiar with this code path, but it may just be a bug on the runtime. There is no check for `pExceptionRecord` being null here: https://github.com/dotnet/runtime/blob/f7de865465532de372f65b55e00a8ec2be1e5274/src/coreclr/vm/arm64/stubs.cpp#L1197

But `UnwindManagedExceptionPass1` calls `AdjustContextForVirtualStub` with null here: https://github.com/dotnet/runtime/blob/f7de865465532de372f

[2021-03-03 22:06] tommcdon commented on #44909
Docs added: https://docs.microsoft.com/en-us/dotnet/core/diagnostics/debug-stackoverflow

[2021-03-03 22:06] #44909 closed

[2021-03-03 22:07] stephentoub commented on #49019
That's what I meant by "or the equivalent" :)

[2021-03-03 22:09] ViktorHofer commented on #48726
The official API docs tell you in which assembly an API is exposed. I.e. for StringBuilder it's "System.Runtime": https://docs.microsoft.com/en-us/dotnet/api/system.text.stringbuilder?view=net-5.0.

Does that answer your question?

[2021-03-03 22:16] davmason commented on #46274
We talked about this today during triage, since it reproes back to desktop we are moving it out to future.

[2021-03-03 22:19] kevingosse commented on #49070
I'll give it a try tomorrow. That would be my first time building the CLR on ARM64, but I suppose it shouldn't be much harder than x64.

[2021-03-03 22:25] AntonLapounov commented on #42008
@hoyosjs I do have the ARM64 version at "%VSINSTALLDIR%DIA SDK\bin\arm64\msdia140.dll".  It might have been installed with ARM64 build tools, which are a prerequisite for ARM64 builds.  I am going to submit a PR and ask you for CR.

[2021-03-03 22:25] eerhardt commented on #49073
I can repro this outside of Xamarin, just on a plain linux machine using the latest SDK.

[code]

[code]

[code]

[2021-03-03 22:25] tmat commented on #46274
I don't understand why the fact that it reproes on desktop has any impact on scheduling of the fix. We are spending a lot of effort on improving EnC/Hot Reload experience for .NET 6. This issue is relevant to this effort.

[2021-03-03 22:26] jkotas commented on #49081
#49092

[2021-03-03 22:31] Qowy commented on #49076
Ok, goot to know :) maybe it could be added to the known issues then?

[2021-03-03 22:33] directhex commented on #48216
To confirm my understanding of the issue:

* Currently, ios-x64 means "Simulator" and ios-arm64 means "Device"
* But on M1, the Simulator is arm64
* The Simulator and Device runtimes differ in ways other than the CPU architecture, so we need both ios-arm64-device and ios-arm64-simulator configurations

Should we also rename ios-x64 to unify with whatever ios-arm64-simulator ends up looking like? I

[2021-03-03 22:48] RobertBouillon opened #49144 "[wasm][debugger] Properties in the watch window show "𝑓 <Property>" instead of the value of the property"
### Describe the bug
Watch window does not show the value of properties for Blazor WASM projects, requiring you instead to navigate to and expand each property to see its value.

### To Reproduce
1. Create a new Blazor WASM project
2. Add a new .NET library project to the solution
3. Add the `Foo` class to the library with the code below
4. Add a reference to the .NET library project from the WASM

[2021-03-03 22:49] steveisok commented on #48216
Your understanding is my understanding.

I think having ios-arch-simulator packs makes a lot of sense.  So, yes, I would support an x64 rename.

[2021-03-03 22:49] #45689 closed

[2021-03-03 22:53] RobertBouillon opened #49143 "Watch window does not execute ToString() on objects"
### Describe the bug
The watch window doesn't execute the `ToString()` method in Blazor WASM, which is valuable in debugging to inspect identifying properties of an object without having to expand it, especially when the objects are members of a collection.

### To Reproduce
1. Create a new Blazor WASM project
2. Add a new .NET library project to the solution
3. Add the `Foo` and `Something` class

[2021-03-03 23:12] mdbill commented on #46900
Strange, I was sure it threw an exception, but it did seem to get past the instantiation now that I re-tested it.
I'll try the full app since I still see an exception which may not be related or fatal (Exception thrown: 'System.TypeLoadException' in TestCosmos.UWP.McgInterop.dll)  Thx for testing it!  I probably would not have tried again without new info.

[2021-03-03 23:19] echesakovMSFT commented on #1282
@davidwrighton Thank you, David!

[2021-03-03 23:28] RobertBouillon opened #56022 "Blazor WASM interactive debug session doesn't work with default project settings"
### Description
ALT+SHIFT+D will result in the following error
![image](https://user-images.githubusercontent.com/612152/109886121-9b9cc280-7c4d-11eb-8e57-5192d15d7769.png)
(Regression of dotnet/aspnetcore#26824)

### Workaround
Prevent VS from opening a browser by disabling "Launch Browser" in the project settings.
![image](https://user-images.githubusercontent.com/612152/109886174-a8211b00-7c4d-

[2021-03-03 23:34] davmason commented on #46274
The reasoning was that there are broader areas we could spend engineering effort to improve the experience as a whole, and this is more of a corner case.

cc @tommcdon @noahfalk

[2021-03-03 23:36] mattjohnsonpint commented on #49036
It's important with time-of-day operations, because *comparison* can only be done within a single day.   In other words, it is easy to test if "now" is between 1:00 and 3:00, but a lot more challenging to test if "now" is between 23:00 and 01:00, and even more challenging to have a single operation that can do both.

In pseudocode, given a `test` value, and the half-open interval `[start, end)` wh

[2021-03-03 23:48] davmason commented on #49070
It's largely the same except setting up the cross building environment. It's documented here: https://github.com/dotnet/runtime/blob/main/docs/workflow/building/coreclr/cross-building.md, we have docker images with the environment preconfigured that makes it a lot easier.

[2021-03-04 00:15] BruceForstall commented on #40965
@jeffschwMSFT Could this get an assignment and some traction?

[2021-03-04 00:16] RobertBouillon opened #49142 "Blazor WASM "step over" doesn't work properly for referenced assemblies"
### Describe the bug
Pressing F10 (Step Over) when debugging a WASM project doesn't always step over the current expression. This can be frustrating when debugging because the STEP OVER command acts unpredictably

### To Reproduce
1. Create a new Blazor WASM project
2. Add a new .NET library project to the solution
3. Add the `Foo` class to the library with the code below
4. Add a reference to the

[2021-03-04 00:18] jeffschwMSFT commented on #40965
@AaronRobinsonMSFT looks like this has been a persistent failure.  Can you take a look?

[2021-03-04 00:31] jkotas commented on #46274
- This was filled by a customer via VS feedback.
- The customer repro actually used tuples. Tuples were not a thing in .NET Framework, but they are gaining popularity in .NET Core. It can explain why have not seen it in .NET Framework, but it showed up on the radar now.

[2021-03-04 00:34] RobertBouillon opened #49141 "Blazor WASM doesn't correctly step through code when debugging"
### Describe the bug
Stepping through code acts unpredictably, sometimes skipping over expressions that should be hit.

### Workaround
You can guarantee that code will stop on a given line by adding a breakpoint. Because STEP OVER acts so unpredictably, adding a breakpoint is really the only way you can guarantee that your code is going to stop on a given line.

### To Reproduce
1. Create a new Bl

[2021-03-04 00:36] #42589 closed

[2021-03-04 00:46] BruceForstall commented on #49078
@kevinmv Thank you for the report, and investigation. It does smell like a codegen bug. Given that it's not reproducing in .NET 6, perhaps we just need to figure out what fixed the problem and backport the fix. Let me figure out how to get an upload from you of the repros.

In the meantime, if you have the capability to build your own version of .NET from source, and can build a Checked build, run

[2021-03-04 00:58] sywhang commented on #42488
Closing this issue due to inactivity - please feel free to reopen

[2021-03-04 00:58] #42488 closed

[2021-03-04 01:44] BruceForstall opened #49102 "Consider hoisting of class init checks for loop cloning and inversion"
Cloning to allow for a loop with a class init check, and one where the class init check is removed, could be profitable.

AndyAyersMS writes:

Related: https://github.com/dotnet/runtime/pull/47901

category:cq
theme:loop-opt
skill-level:expert
cost:medium

[2021-03-04 01:53] safern commented on #49083
cc: @bartonjs

@ilyas1974 does the M1 machines have libssl installed?

[2021-03-04 02:05] stephentoub opened #49103 "Builds in main failing to build mono"
[code]

https://github.com/dotnet/runtime/pull/49047/files#r586976271

cc: @vargaz

[2021-03-04 02:08] #49103 closed

[2021-03-04 02:13] sdmaclea commented on #49083
More specifically arm64 libssl.

[2021-03-04 02:15] jkotas commented on #49081
Fixed by #49092

[2021-03-04 02:15] #49081 closed

[2021-03-04 02:17] briansull commented on #11063
Failed again here:
https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-49029-merge-e7a0fb9c237e44cdaf/PayloadGroup0/console.cf19b373.log?sv=2019-07-07&se=2021-03-23T23%3A31%3A42Z&sr=c&sp=rl&sig=FgM7e689DITmgVRp899rLb%2F%2FjB%2FVFzskAIwVSF6%2Ftqk%3D

[2021-03-04 02:34] sdmaclea opened #49104 "[macOS-arm64] 233 System.IO.MemoryMappedFiles.Tests failing on CoreCLR"
Initial scan of the log shows most fail with
`System.IO.PathTooLongException : The specified file name or path is too long, or a component of the specified path is too long.`

See https://dev.azure.com/dnceng/public/_build/results?buildId=1021947

For instance

[code]

[code]

[2021-03-04 02:41] sdmaclea opened #49105 "[macOS-arm64] 55 System.DirectoryServices.Protocols.Tests fail on CoreCLR"
See https://dev.azure.com/dnceng/public/_build/results?buildId=1021947

First few failures.
[code]

/cc @sandreenko These look a bit like ABI issues.

[2021-03-04 02:45] sdmaclea opened #49106 "[macOS 11] System.Tests.EnvironmentTests.OSVersion_ValidVersion_OSX fails on CoreCLR"
See https://dev.azure.com/dnceng/public/_build/results?buildId=1021947

[code]

[2021-03-04 02:49] sdmaclea opened #49107 "[macOS-arm64] System.Diagnostics.Tests.ProcessTests.TestVirtualMemorySize64 [FAIL] on CoreCLR"
See https://dev.azure.com/dnceng/public/_build/results?buildId=1021947

[code]

/cc @sandreenko Might be an ABI issue ???

[2021-03-04 02:54] clamp03 opened #49108 "Support PREJIT & FNV in Crossgen1"
For years, we used FNV to optimize app launch time in the embedded systems.
However, as I know, FNV is almost deprecated. I couldn't build and test FNV on .net6.
I tested other alternatives such as crossgen1's r2r or crossgen2. However, in our embedded systems, its launching time is 2x slower.
Actually, customers will not accept such performance degradation, so we cannot make products with .net6.

[2021-03-04 02:57] sdmaclea opened #49109 "[macOS-arm64] System.Net.Http.Functional.Tests failures on CoreCLR"
See https://dev.azure.com/dnceng/public/_build/results?buildId=1021947

[code]

This looks like it is a CoreCLR runtime issue.

[2021-03-04 03:06] ericstj commented on #49069
@eerhardt in this case do you want to remove this test for now until we have the language feature.

[2021-03-04 03:44] sdmaclea opened #49110 "[macOS-arm64] XUnit crashes while running libraries tests on CoreCLR"
See https://dev.azure.com/dnceng/public/_build/results?buildId=1021947

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
https://dev.azure.com/dnceng/public/_build/results?buildId=1031518
[code]
These are probably GC issues....

[2021-03-04 03:48] sdmaclea opened #49111 "[macOS-arm64] System.Drawing.Tests.GdiplusTests.IsAtLeastLibgdiplus6 [FAIL] on CoreCLR"
See https://dev.azure.com/dnceng/public/_build/results?buildId=1021947

[code]

[2021-03-04 03:50] Jimmy-Hu opened #49112 "[API Proposal]: Generic ForEach For Multidimensional Array"
## Background and Motivation

There is a method `Array.ForEach` existed `public static void ForEach<T>(T[] array, Action<T> action);` and its input is specified on one dimensional array case. I want to propose another version `Array.ForEach` implementation for multidimensional array cases (`ForEach([,], ...)`, `ForEach([,,], ...)` and `ForEach([,,,], ...)`)

## Proposed API

[code]

## Usage Examp

[2021-03-04 03:51] Jimmy-Hu commented on #49112
I think that the area is area-System.Runtime.

[2021-03-04 03:54] GrabYourPitchforks opened #49113 "Span bounds check elision doesn't work properly when method calls occur between bounds check and access"
If the caller performs a bounds check on a span, the runtime will not elide future bounds checks satisfied by that condition if a method call occurs between the original check and the subsequent access. The following repro code demonstrates this issue.

[code]

x64 codegen, courtesy SharpLab:

[code]

[2021-03-04 05:05] rambabunethi opened #49114 "Installing ASP.NET Core Runtime 2.1.25 hosting bundle on a machine where ASP.NET Core Runtime 2.1.5 hosted bundle is resulting in error 0x80070666- Another version of product is already installed)"
### Description

Upon installation of ‘Microsoft ASP.NET Core Runtime 2.1.25 Hosting Bundle’ on a machine where ‘Microsoft ASP.NET Core Runtime 2.1.5 Hosting Bundle’ is installed I see an error(0x80070666- Another version of product is already installed).

### Configuration

* What OS and version, and what distro if applicable? - Windows server 2012 R2.
* What is the architecture x64.

### Regress

[2021-03-04 05:24] arisewanggithub opened #49115 "In .net 5, When timeout happens, HttpClient throws TaskCaneledException. But the innerException is IOException instead of TimeoutException"
Based on .net 5 document, when timeout happens, HttpClient should throw TaskCanceledException. And the InnerException should be a TimeoutException. But I'm receiving IOException as the InnerException instead. Any reason why this can happen?

[2021-03-04 05:30] acaly commented on #46118
@krwq Thank you for the reply. I tried the code again. As you said, it works as expected.

I think I was trying to read the result from VS immediate window, which would give you zero even the console writes 3. It might not be the problem from reflection, because directly assigning the value would also fail from showing up in VS. I am sorry for not checking carefully.

[2021-03-04 05:38] davidfowl commented on #37539
@stephentoub I want to take this back to API review as is, without the Stream API.

[2021-03-04 05:45] safern commented on #49111
This test would need to be disabled as I don't think libgdiplus is available for mac_arm64 yet.

cc: @marek-safar @danmoseley

[2021-03-04 05:49] gpetrou commented on #48726
Hmm, not sure I understand this recommendation.
If you do for example:
Console.WriteLine((new StringBuilder()).GetType().Assembly.GetName());
you get something like:
System.Private.CoreLib, Version=5.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e
What do you need to use to get System.Runtime?
Please note, I am not specifically interested in StringBuilder. I am just using it as an example.

[2021-03-04 06:18] ericstj commented on #48995
I went ahead and gave it a try to dogfood the process.  Have a look at the PR. https://github.com/dotnet/runtime/pull/49118

[2021-03-04 06:24] huoyaoyuan commented on #49112
This implementation boxes and unboxes via non-generic `IEnumerable`. It should be not OK for new BCL api.

[2021-03-04 06:44] sirinath opened #49119 "Access multiple return values in multicast delegates"
One drawback with the current implementation of delegates is that multiple return values cannot be accessed. Can the language/api be enhanced so that multiple return values can be accessed.

[2021-03-04 06:53] ericstj opened #49120 "We should enable CS1591 on projects that have migrated their docs"
@carlossanlop @safern

Once a project migrates its docs it should be a build error if docs are missing from a publicly visible member.  I just tried this and it's not flagging CS1591.

[2021-03-04 06:55] sirinath opened #49121 "Delegate composition and combination"
- Combination: Given I have functions `f(x)` and `g(y)` I want to create a delegate `p(x, y)` to call `f(x)` and `g(y)`
- Compositions: Given I have functions `f(x)` and `g(y)` I want to create a delegate `q(x)` to call `f(g(x))`

As multiple functions can be added to a delegate this will be for each function added to the delegate than the delegate as an whole.

[2021-03-04 07:09] huoyaoyuan commented on #49121
You can already do this by writing lambda. It's simple enough.

One implementation for different arities will require HKT.

[2021-03-04 07:11] huoyaoyuan commented on #49119
The better design would be remove multicast at all and use a list of delegates.
Once considering exceptions, it will be as complex as using list or array.

[2021-03-04 07:14] sirinath commented on #49121
@huoyaoyuan I guess so, but delegates does not have seam to keep up with the improvements with rest of .net. Since it is part that cannot be deprecated and removed any time soon, it would be good to see improvements in delegates also.

[2021-03-04 07:25] safern commented on #49120
Good catch. We will take care of this ASAP.

[2021-03-04 07:28] krwq commented on #46118
no problem @acaly. Do you think issue can be closed now or do you expect the follow up work here?

[2021-03-04 07:46] karelz commented on #49115
@arisewanggithub can you post the full exception here? Do you have a repro, how often does it happen?

[2021-03-04 07:50] krwq commented on #46900
you might want to disable trimming for all assemblies which cause any issues if you still see errors (better to disable specific types if you care about the size though)

[2021-03-04 07:51] karelz commented on #49109
@sdmaclea is it deterministic or intermittent? If intermittent, how often does it happen?

@MihaZupan can you check the telemetry test? `System.Net.Http.Functional.Tests.TelemetryTest_Http20.EventSource_SuccessfulRequest_LogsStartStop`

[2021-03-04 07:52] arisewanggithub commented on #49115
Here is the stack trace:
at System.Net.Http.HttpConnection.d__56.MoveNext()
at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
at System.Net.Http.HttpConnectionPool.d__72.MoveNext()
at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSu

[2021-03-04 07:58] #48895 closed

[2021-03-04 08:23] clamp03 commented on #49108
An issue in #49052 is in R2R (crossgen1)  as well as FNV.
I tested on arm machine (RPi4) like below.
[code]
I checked firstSchemaIndex is -1 with a debugger.

[2021-03-04 08:25] marek-safar commented on #48216
I agree we should not suffix with -device and that it should be the shorter rid. I'm thinking about

`ios-x64-sim`
`ios-arm64-sim`

This also means we need to change existing RIDs

[2021-03-04 08:41] MichalStrehovsky commented on #49108
Crossgen2 introduces a couple enhancements that will help with startup time:

* Composite ready to run compilation (couldn't find docs, but maps to the `--composite` argument of crossgen2). In this mode, the compiler composes multiple input assemblies together and also enables inlining between those assemblies. This leads to better code generations and limits file I/O at startup.
* Profile guided

[2021-03-04 08:42] RussKie commented on #44969
Thank you @iSazonov for the feedback.

This is a certainly complex issue - if we place xml-docs near the code than we'd have run 2 build pipelines, but if we don't we likely degrade the developer experience, and hence less likely get quality docs.

We can probably be smart about the pipelines, and with some heuristics decide whether to run one of the other, or both by checking git-diff for lines t

[2021-03-04 09:39] geoffkizer commented on #28998
Here's my take on the RFC language, taken from https://tools.ietf.org/html/rfc7231#section-6.4

`300 Multiple Choices` is a weird one and not really used in practice. The RFC is unclear here. I would suggest we not make any change here.

`301 Moved Permanently` and `302 Found` both explicitly state:

So I think our current behavior here (only change POST) is correct.

`303 See Other` explicitly st

[2021-03-04 09:41] clamp03 commented on #49108
@MichalStrehovsky Right. There are many enhancements in crossgen2. And I think crossgen2 will be better than FNV soon.

Last month, I  tested with ```--composite```. It improves startup time, but it is still 2x slower. (I checked ```--mibc```, but it didn't work well. I will check ```--mibc``` and ```--callchain-profile``` again.)
Startup time of a simple sample app (org.tizen.example.Alarm)
- FNV

[2021-03-04 09:46] EgorBo commented on #49102
What is going to happen for, let's say:
[code]
Here we already going to clone the loop for Length>=1000 check. Will it look like this then?:
[code]
I am not sure about the real world but in the BCL we mostly use `beforefieldinit` which is hoisted from loops just fine.

[2021-03-04 09:56] scalablecory commented on #32079
There are three scenarios I'd like to enable here.

## Just open me a stream

This is the most user-easy operation: just open a stream, and if none are available, wait for one to become available.

[code]

## Try to open a stream, without waiting

This is something useful for for both YARP and HttpClient. -- if a stream is available right now, let me use it. otherwise, fail immediately. This can b

[2021-03-04 09:59] ManickaP commented on #49115
@arisewanggithub  could you also post a code causing this? I don't see `HttpClient` on the call stack.

[2021-03-04 10:01] MSDN-WhiteKnight commented on #44969
But if documentation is in triple slash comments, could the docs build be separated from code build? To my understanding, if we enable `GenerateDocumentationFile` property, the compiler would build both the assembly and documentation, validating that cref's in triple-slash actually bind to symbols available in current scope. Additional build task can be created to validate markdown in remarks, but

[2021-03-04 10:09] Bonsai11 commented on #29935
Are there any news about 3.1? Is there maybe any workaround for this at least?
Would really need this to be working.

[2021-03-04 10:10] krwq commented on #48167
@nschuessler do you think there is anything to fix on our side for this issue or can this be closed?

[2021-03-04 10:14] krwq commented on #28218
Per conversation in https://github.com/dotnet/dotnet-api-docs/issues/2377 I'm reopening this issue

[2021-03-04 10:18] karelz commented on #29935
@Bonsai11 the easiest workaround is to use .NET 5.0.3+ ... or I wonder if you can go back to using IP which worked for you on 2.1 as you mentioned above.

If you need 3.1 backport, we would need business justification - how much impact is it on your service/app (number of customers impacted, size of the service, importance of the scenario, etc.) and why 5.0 is not an option for you.

[2021-03-04 10:25] RussKie commented on #44969
I was more alluding to runnable samples that require additional verifications, e.g. like https://github.com/dotnet/docs-desktop/pull/173.

[2021-03-04 10:37] krwq commented on #46344
At first glance it doesn't seem by design to me. Thanks for testing!

[2021-03-04 10:42] karelz commented on #32079
@scalablecory I still don't get the value of the last scenario "Allowing the caller to perform their own wait":
Why would users want to do their own wait? Typically the increase will be 1 stream (when another stream finishes), unless server sends new higher stream count.
I think the `Open` and `TryOpen` should be enough -- either I want to wait, or I have some fallback option.

For more aggressive