[2020-01-24 15:45] ealsur commented on #2122
I checked and my cert does not have the Key Usage, which I guess is the issue, will investigate further

![image](https://user-images.githubusercontent.com/1633401/73081982-769c2480-3e7d-11ea-94a4-4f769ef55b81.png)

[2020-01-24 15:47] tannergooding commented on #2036
Right, this is namely meant to be a "cross-platform" version of the hardware intrinsics (much like the other functions on `System.Numerics.BitOperations`) and should allow users to easily get:
[code]

I agree that having a more general purpose class that allows polynomial customization and trivial operation over spans of data would be useful, but that isn't the immediate goal of this API.

[2020-01-24 15:54] MihaZupan commented on #2113
Are you asking about a scenario like this (method in an api controller)? Otherwise if you can provide a short example of what you mean.

[code]

[2020-01-24 16:13] BruceForstall commented on #2100
It seems like unless we have a defined queue of AVX-not-AVX2 machines in Helix, this characteristic wouldn't be consistent and could change without our knowing.

The various SIMD stress modes are meant to approximate this by preventing certain instructions from being used, right? So running on actual specific hardware is really just verification of that?

[2020-01-24 16:26] tannergooding commented on #2100
Correct.

The problem with running on modern hardware is that, if an instruction or path isn't limited correctly, it will still get emited and will "just work" since the underlying hardware still supports it (even though the JIT is supposed to be configured to not emit it).

We had originally run into a few issues since `System.Numerics` was course grained and required AVX2 for the 256-bit code pa

[2020-01-24 16:37] CarolEidt commented on #2100
Thanks @tannergooding for pointing out this issue. I agree that an outerloop job would be useful and sufficiently effective to ensure that we don't regress, assuming that we can provision the right combination of hardware. That said, it's always been a bit scary just how complex the support-test matrix is.

[2020-01-24 16:37] danlyons-softek commented on #2116
My project has some legacy remoting components that I have been porting to .NET Core, and the remote end of one of them was performing WMI calls to interact with the Windows DNS service.

It had been passing the ManagementException through the remoting boundary, likely because it was convenient to do so, as both objects appear to be serializable in .NET Framework (based on referencesource [Managem

[2020-01-24 16:57] marek-safar opened #2147 "Better library build defaults"
The build.sh should build only the minimal required set of configurations for .NET 5 app to work. If someone needs additional configurations for testing they should use configuration options.

Today default libraries build also builds netstandard2.0-{configuration} and netstandard2.1-{configuration} which I think should be under opt-in mode.

[2020-01-24 17:11] AndyAyersMS opened #2148 "coreclr build-test.cmd can quietly fail to update files"
Common failure is to inadvertently have an active debug session while you're building. Any files kept open by the debugger will quietly fail to update in Core_Root. Next time you debug you're looking at a stale binary.
[code]
This failure should be more prominent.

[2020-01-24 17:27] jkotas commented on #1018
Xamarin and Blazor are the primary workloads for Mono. CoreCLR GC (as is) is likely a worse option for these workloads than the current Mono GC. We may experiment with it, but the Mono GC is here to stay until we have a data that confirm the .NET Core GC would be a better choice for the primary Mono workloads.

[2020-01-24 17:32] danmosemsft commented on #1520
Thanks. We'd take PR's to stop either of these throwing.

[2020-01-24 17:50] lpereira commented on #753
For the record, here's an ASP.NET transport by @tkp1n that reimplements liburing in C#: https://github.com/tkp1n/IoUring

[2020-01-24 17:50] jkotas commented on #2091
https://docs.microsoft.com/en-us/dotnet/framework/deployment/ lists the different option for deploying .NET Framework applications.

[2020-01-24 17:50] #2091 closed

[2020-01-24 17:56] SoftCircuits commented on #2091
So is there any interest in feedback that these options don't cover a basic scenario?

[2020-01-24 18:08] jkotas commented on #2091
Yes. You can leave feedback by clicking you Feedback button at the top of the docs page.

I believe all that the options described on the docs do cover the basic scenarios. It is not just described well.

[2020-01-24 18:17] #1089 closed

[2020-01-24 18:37] jkotalik opened #2150 "Random "Internal CLR error. (0x80131506)" when calling dotnet build from dotnet/extensions"
I'm running into an error fairly consistently when building the dotnet/extensions repo (2 times in a row). I cleaned before the second run as well.

### Repro steps
1. Clone https://github.com/dotnet/extensions. Specific commit hash is bcf0ef7e8f94b178214b34fe78fedc7205810434 if this doesn't repro after a dependency update.
2. Run build.cmd inside of the root of the project.

During that build, I

[2020-01-24 18:38] jkotalik commented on #2150
Oops, sorry for messing up the labels XD

[2020-01-24 18:39] jkoritzinsky commented on #2150
That's fine haha. I'll take a look into this.

[2020-01-24 18:42] mabrahamsen commented on #983
Hi @carlossanlop,

I have extracted a simple sample and attached hit here. This will generate an Excel sheet using the Microsoft OpenXML SDK, and I have code with or without the hyperlink. You will see how the hyperlink version doesn't scale if you change the rowcounts. With the current rowcount a profiler will show you that about 98% of the time is sued calling InternalRelationshipCollection.Add,

[2020-01-24 18:59] jagbarcelo opened #2152 "Server-side generation of images from a Canvas does not work in IIS but does in IIS Express"
# Issue Title

Server-side generation of images from a Canvas does not work in IIS (Release) but does in IIS Express (both Debug & Release)

# General

This is a controller class used to generate a PNG file on the server side and return it to the client (browser). The image is made through the creation of a System.Windows.Controls.Canvas object first (along with some operations on it), which is th

[2020-01-24 19:00] alexrp commented on #2133
It's for interoperation with another product that turned out to use a *very slightly* non-standard SHA-1 variant.

This was written quite a few years ago, but I think the fact that I inherited from `SHA1` might just have been out of early convenience (to get things like `HashSize` and being able to just pass it into existing code expecting a `SHA1` instance), and never having gotten around to clea

[2020-01-24 19:02] MeikTranel commented on #2136
There's a constructor that lets you switch off the bom. See https://docs.microsoft.com/en-us/dotnet/api/system.text.utf8encoding.-ctor?view=netcore-3.1#System_Text_UTF8Encoding__ctor_System_Boolean_

[2020-01-24 19:04] jaredpar opened #2153 "RegularExpression tests are failing in the CI builds"
The tests look to be hanging / crashing. Here is the helix log

[code]

Queues where the tests have failed:
- netcoreapp5.0-Linux-Release-x64-Mono_release-(Ubuntu.1910.Amd64.Open)ubuntu.1604.amd64.open
- netcoreapp5.0-Linux-Release-x64-CoreCLR_release-RedHat.7.Amd64.Open
-  netcoreapp5.0-Linux-Release-x64-Mono_release-(Fedora.29.Amd64.Open)ubuntu.1604.amd64.open

Builds where the tests have failed

[2020-01-24 19:04] jaredpar commented on #2153
FYI @stephentoub

[2020-01-24 19:06] leecow commented on #2092
It would be worth exploring http://refspecs.linuxfoundation.org/FHS_3.0/fhs/index.html before making a final decision.

[2020-01-24 19:10] aka-STInG opened #2155 "Inconsistent behavior for bitwise operations with Nullable<bool> typed local variable and Nullable<bool> typed member binding expression"
Here is some sample code. Checked it in console app targeting netcoreapp3.1.
[code]
Actual:
res1 != res2 and res3 != res4

Expected:
res1 == res2 and res3 == res4

[2020-01-24 19:12] stephentoub commented on #2153
Hmm, I'll take a look. Thanks.

[2020-01-24 19:14] stephentoub commented on #2153
ps Those tests are doing a lot of work. It's possible it's just too much for those machines.

[2020-01-24 19:19] vcsjones commented on #2133
The Implementation is getting the value from `HashProviderDispenser` which asks the platform for the size (e.g. BCryptGetProperty). Would it makes sense to pull this down in to the abstract `SHA1` or simply know that "SHA1 is 160 bits" like .NET Framework was doing?

Seems kind of a waste to ask the platform the size of the digest for a user-implemented version.

[2020-01-24 19:38] mikernet opened #2156 "Possible JIT inlining optimization: removing multiple argument null checks"
Would it make sense for the JITer to eliminate redundant "if null then throw" (i.e. `if (arg == null) throw Exception();`) checks for a given argument if it is not possible for that argument value to have changed between the checks? As far as I can tell this does not currently happen, even for simple cases.

For example:
[code]

[2020-01-24 19:38] isilence commented on #753
Going back to the ignored question... Guys, what's your use case and what would you need to integrate `io_uring`? Support for `futex(2)`? Something else?

[2020-01-24 19:52] billwert commented on #2130
What precise environment are you running in? What's the base OS? Are you using virtualization or rebooting to a different partition?

[This doc](https://github.com/dotnet/runtime/blob/master/docs/project/linux-performance-tracing.md) describes perf tracing on linux. [This doc](https://github.com/dotnet/runtime/blob/master/docs/project/performance-guidelines.md#profiling-and-performance-tracing) is

[2020-01-24 19:56] GrabYourPitchforks commented on #2133
I'd pull it down into the abstraction. The scenario for subclassing `SHA1` and changing the hash size to anything other than 160 bits seems unrealistic. But the subclassed type could nonetheless override the virtual if they really need to provide a different value.

[2020-01-24 20:07] Anipik opened #2162 "Add Path.RemoveRelativeSegments Api"
# Rationale
Currently there is no direct way to normalize the path or to remove the relative Segments from any path string. We can use ```GetFullPath``` to normalize the path but it will resolve it relative to root directory or working directory which is not always desired.
eg

- working with relative paths in archives where we may require normalized paths that are "full" paths in said archive, bu

[2020-01-24 20:11] vcsjones commented on #2133
@GrabYourPitchforks Just so I'm clear on my question...

`SHA1+Implementation` gets the digest algorithm's size using:

https://github.com/dotnet/runtime/blob/cb1fc80f020c87a8720ea895e203c1f14cb456b8/src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/SHA1.cs#L30-L31

Are you suggesting moving that to the base abstract SHA1? My suggestion was "Set it to 160" (and

[2020-01-24 20:13] jaredpar commented on #2153
@stephentoub FYI added one more failure queue to the list.

[2020-01-24 20:18] jaredpar opened #2165 "System.Threading.Tasks.Task tests failing on Mono in CI runs"
The tests appear to be triggering a stack overflow in Mono. Helix job for one of the logs.

[code]

Jobs this is impacting:
- netcoreapp5.0-OSX-Release-x64-Mono_release-OSX.1013.Amd64.Open
- netcoreapp5.0-OSX-Release-x64-Mono_release-OSX.1014.Amd64.Open

Failed Build Examples
- https://dev.azure.com/dnceng/public/_build/results?buildId=493797
- https://dev.azure.com/dnceng/public/_build/results?bu

[2020-01-24 20:18] jaredpar commented on #2165
FYI @steveisok

[2020-01-24 20:26] vcsjones commented on #2127
Well, I think the question is that `ConsoleKeyInfo` already has all of the implementation to satisfy implementing the `IEquatable<ConsoleKeyInfo>` interface. It already has `bool Equals(ConsoleKeyInfo)` implemented.

https://github.com/dotnet/runtime/blob/cb1fc80f020c87a8720ea895e203c1f14cb456b8/src/libraries/System.Console/src/System/ConsoleKeyInfo.cs#L55-L58

I think then this is an API proposal

[2020-01-24 20:34] benaadams commented on #2156
Think it does? [sharplab.io](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIAYACY8gOgCUBXAOwwEt8YLAMIR8AB14AbGFADKMgG68wMXAG4aNYgGYmpBkJoBvGgzNMUDALLkAFM0YLskjjACUDALwA+a6VtOLjAMAPwhDBgAFlAQAO4MXDDxAIJQAOYcAjwAchySkgCiCCpifBBctm5uGtSm5gDaVjBREAAmAJLikrZNLR1dAPKlvOW4LMlpabC4uLwKMO1ckrxcK2luALp1ZsSWVv4ODIGuHj7W2gHOrqHhUTHxiSnpmTA5eYXFMMPlldWa1OYGI1mpE2p0xN1eqD+hChmUuGMJlNVLN5

[2020-01-24 20:47] tomesendam commented on #1946
@tarekgh it's updated to the current state

[2020-01-24 20:48] karelz commented on #2057
@xqrzd this is area where we have been investing for a while. It is tricky and we do not have everything automated and documented yet.
@davidsh is our expert and will be interested in details. He should be back at work in 1-2 weeks. Is that ok to wait?

[2020-01-24 20:50] steveisok commented on #2165
@jaredpar I think it's failing for coreclr as well

https://dev.azure.com/dnceng/public/_build/results?buildId=495810&view=ms.vss-test-web.build-test-results-tab

[2020-01-24 20:51] jaredpar commented on #2165
@steveisok that is a regex test though, not tasks. The regex failures are tracked in #2153

[2020-01-24 20:57] xqrzd commented on #2057
Yeah I'm in no rush for an answer, I have a solution that seems to work across many machines (OS platform check). I just wasn't sure if the platform check is the correct answer here.

[2020-01-24 20:59] StephenBonikowsky commented on #1383
If I understand this correctly, the necessary fix should be done in the tool that analyzes an app and is supposed to link away unneeded assemblies.

What area label should be applied to this issue?

[2020-01-24 21:00] steveisok commented on #2165
doh!  sorry :-)

[2020-01-24 21:07] GrabYourPitchforks commented on #2133
I guess what I'm thinking is something like this:

[code]

Where everything else stays the same. The internal subclass of `SHA1` would remain line-for-line as it is today. That should be the minimal change that would fix the problem.

[2020-01-24 21:14] lpereira commented on #753
Yeah, futex support for `io_uring` would be very welcome, especially if it had the `FUTEX_WAIT_MULTIPLE` command that was [proposed a while ago](https://lwn.net/Articles/794969/) (the use case is for Wine's implementation of `WaitForMultipleObjects()`, which is currently using polled `eventfd`s, but we also have an implementation in our PAL that could benefit from this.)

[2020-01-24 21:15] JohnGalt1717 commented on #1570
I would love to see this. Major perf enhancement for both memory and time to first data to clients (and clients could handle the stream instead if they wanted and parse the stream in json immediately instead of waiting for the entire response which has a perf benefit too.)

The key is to make sure that the entire MVC pipeline can handle the IAsyncEnumerable so that if you return ActionResult<IAsyn

[2020-01-24 21:24] BruceForstall commented on #2120
This makes sense. `unreached()` should only be used for things that can truly never happen and can't be recovered from (leading to unknown behavior). It sounds like unrecognized intrinsics is a case where there is a reasonable possibility of it happening in some circumstance (mismatched JIT/VM/library?), and there is a simple recovery that would work.

[2020-01-24 21:24] GrabYourPitchforks opened #2167 "API proposal: Unsafe.AlignOf<T>()"
Forked from a conversation at https://github.com/dotnet/corefx/issues/26465.

API proposal:

[code]

The behavior of this API would be that it returns the natural alignment (in bytes) of the data type `T`. This is most useful for components which need to *reinterpret_cast* between two different types `T` and `U` and wish to check ahead of time whether alignment problems might result. See further d

[2020-01-24 21:24] mikernet commented on #2156
Hmmm....
[code]

[2020-01-24 21:34] jkotas commented on #2162
Should this return Span, like existing `Path.TrimEndingDirectorySeparator`? Returning string means that this API will allocate unnecessarily when the path does not contain any redundant segments.

[2020-01-24 21:35] jaredpar commented on #2165
No problem. 😄

[2020-01-24 21:36] benaadams commented on #2156
Tiered Compilation? Try adding to the .csproj:
[code]

[2020-01-24 21:39] tarekgh commented on #1946
@tomesendam thanks for the update.

I think @stephentoub suggested the following

[code]

But I am still seeing you are proposing the other overloads. if you agree with @stephentoub suggestion, please update the proposal one last time.

[2020-01-24 21:42] jkoritzinsky commented on #2150
I'm having trouble reproducing this. Any chance you're able to grab a crashdump of the failure?

[2020-01-24 21:43] mikernet commented on #2156
Same result

[2020-01-24 21:44] benaadams commented on #2156
Or pop in a `[GlobalSetup]` that calls your benchmark methods a many times, then sleeps for 300ms; so get Tier1 to kick in
[code]

[2020-01-24 21:44] benaadams commented on #2156
Tier0 doesn't do any inlining

[2020-01-24 21:46] MikeKenyon commented on #2113
Yes.  As an example.  Though any case where you are using the URI type on an API definition it's an issue, but vastly more so when it's serialized.

In the example given:

You two options here are take and return string ... Defeating the purpose of having a URI type.

Or you can take and return a URL and th URL being passed will not be appropriate for some purposes.

In general:
If I have you a Sy

[2020-01-24 21:47] Clockwork-Muse commented on #2155
Tweaking things to:

[code]

Spits out:
[code]

[2020-01-24 21:48] akoeplinger commented on #2165
This test was already disabled with https://github.com/dotnet/runtime/commit/d28b9eebd9fc41539da44b31fcdd5baa590fd351

Please reopen if you still see it on builds after that commit.

[2020-01-24 21:48] #2165 closed

[2020-01-24 21:53] danmosemsft commented on #2150
@jkotalik what version of .NET is this running on? I remembered https://github.com/dotnet/corefx/issues/42201 which @jkoritzinsky already fixed (?)

[2020-01-24 21:55] mikernet commented on #2156
Tiered on/off and adding global setup don't change the results for any of my tests. Interestingly enough, if I make the methods static instead of instance I get this result:
[code]
What that means, I don't know :)

[2020-01-24 21:56] benaadams commented on #2156
Have gist with the benchmark code?

[2020-01-24 21:58] GrabYourPitchforks commented on #2136
True, it's easy for somebody to construct this themselves. But a devil's advocate argument: we define an internal property `UTF8NoBom` in around a half-dozen places throughout our codebase. If we're doing this frequently then it stands to reason that our customers are doing it frequently as well.

[2020-01-24 21:59] mikernet commented on #2156
https://gist.github.com/mikernet/342634b69265d73cdd5ee3e035553bf0

[2020-01-24 22:00] MihaZupan commented on #2113
Use `OriginalString` whenever you want to know the originally used string. For example, Json.Net will use this value, so if you want the Json representation to be in escaped form, you have to use an escaped representation when constructing the Uri.
If the string that was originally used was not escaped, `OriginalString` obviously won't be either.

If for whatever reason, you wish to look at the un

[2020-01-24 22:00] benaadams commented on #2156
/cc @kouvel

[2020-01-24 22:01] mikernet commented on #2156
Oh wait, the static result might makes sense...M1 probably isn't; getting inlined...? The instance one I'm a bit confused about though.

[2020-01-24 22:04] brianpursley commented on #2155
@aka-STInG and @Clockwork-Muse I think it has to do with the defined bool? bitwise operator truth table, it works differently for | and &.  See below:

https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/nullable-value-types#operators

x | y | x&y | x\|y
-- | -- | -- | --
true | true | true | true
true | false | false | true
true | null | null | true
false | true | fals

[2020-01-24 22:04] mikernet commented on #2156
Applying aggressive inlining to M1 fixes the static case, all ate 5us now.

[2020-01-24 22:05] bartonjs commented on #2133
For some reason, when I was looking at it this morning I thought that the SHA1+Implementation had a literal 160, hence "move it up".  We can leave the implementation assigning it accurately (or, maybe just asserting that it's right), but hard-coding the value in the algorithm base class protected ctor seems legit.

[2020-01-24 22:05] stephentoub commented on #2153
I see this in a failure on macOS on Mono:
[code]

[2020-01-24 22:13] dleeapho commented on #2101
This is not a setup issue, it's about file properties in publishing an FDE. @nguerrera is this an SDK issue?

[2020-01-24 22:16] undecided2013 opened #2174 "Kerberos GSSAPI operation failed when running in Linux container"
I am creating a new issue per

https://github.com/dotnet/corefx/issues/32291#issuecomment-578281670

Attempting to use .net core 3.1 on linux container for which a valid krb5.conf configuration exists.

Code uses HttpClient like this:

[code]
This results in an exception:
[code]
Thanks

[2020-01-24 22:22] jkoritzinsky commented on #2150
@danmosemsft you make a very good point.

I've done some investigating, and it looks like the dotnet/extensions repo's CLI is using a runtime built from dotnet/coreclr@cea2bba3c295c5, which was after the change that introduced the bug but before the fix.

I'm willing to call this a duplicate of dotnet/corefx#42201.

[2020-01-24 22:22] #2150 closed

[2020-01-24 22:23] jkotalik commented on #2150
Yeah go ahead and dup it! Thanks for investigating.

[2020-01-24 22:31] jkoritzinsky commented on #1918
This is blocking #2115 which in turn is blocking dotnet/sdk#3884.

[2020-01-24 22:36] aka-STInG commented on #2155
@brianpursley I'm a bit confused. How this table explain difference between
`null | true` in one case is `null` and in other is `true`?
@Clockwork-Muse It seems like in your case method invocation instead of literal causes it to produce valid output. It would be nice to have valid output for all cases.
It looks like expression
[code]
is actually transformed to something like this
[code]

[2020-01-24 22:37] brianpursley commented on #2155
Aren't you using | for res2 and & for res4?

[2020-01-24 22:40] brianpursley commented on #2155
OK maybe I misunderstood the issue.  Let me check again

[2020-01-24 22:43] tomesendam commented on #1946
@tarekgh @stephentoub I do not agree on the CancellationToken. There might not always be a need for one thus simplifying use (a minor amount) is a good thing in my opinion. I'll remove it if this adds some major drawback I'm not seeing.

[2020-01-24 22:45] bramakrishna16 opened #2170 "CurrentConnections property in ServicePoint object returns zero all the time"
I want to report the number of HTTP outgoing connections for telemetric purpose. [Doc](https://docs.microsoft.com/en-us/dotnet/api/system.net.servicepoint.currentconnections?view=netcore-2.1) says I should be able to get number of open connections, but I am getting `CurrentConnections `as zero for any URI I test for. [CurrentConnections](https://github.com/dotnet/runtime/blob/e7866101d856043808eec

[2020-01-24 22:47] StephenBonikowsky commented on #1388
@mconnew is there a workaround for @zengqinglei ?

[2020-01-24 22:47] nguerrera commented on #2101
Root cause is https://github.com/dotnet/core-setup/issues/8763

cc @swaroop-sridhar

[2020-01-24 22:51] billwert opened #2172 "-runtimeConfiguration breaks -r as a shortcut for restore on build.ps1"
[code]

This previously would run restore. Passing -restore works fine. Trivial fix is to just clean up the help text.

[2020-01-24 22:52] brianpursley commented on #2155
No you guys are right.  This is messed up.  It isn't even consistent with itself:
[code]

Output:
[code]

[2020-01-24 22:52] safern commented on #2172
cc: @ViktorHofer this is due to PS not letting 2 arguments start with the same substring.

[2020-01-24 22:53] tarekgh commented on #1946
@tomesendam you may list this as an open issue in the proposal that can be discussed during the design review. I marked the issue ready for review.

[2020-01-24 22:57] tomesendam commented on #1946
@tarekgh will do! Thanks

[2020-01-24 23:00] MeikTranel commented on #2136
True. I'm in favor of this as well. It was more me making sure people immediately see that there is an easy workaround when they land on this page via google.

[2020-01-24 23:01] stephentoub commented on #1946
First, we're talking about the difference between:
[code]
vs
[code]
That's a _very_ minor amount and is not worth exposing two additional overloads.

Second, without the cancellation token being exposed there, it'll be really easy for code to accidentally omit it.  Static analysis tools can look at the signature and say "I see a CancellationToken is being passed into your delegate, but your call t

[2020-01-24 23:03] carlossanlop commented on #2162
@jkotas I see what you mean. I am working on this right now and as I was implementing that method, I started wondering about that. You were faster than me in asking about it. 😸

I did a quick replay of the video, but I couldn't find any mention of the return value, so I suppose it was a small oversight (I could've also missed it).

Question to the reviewers in the video: Should we update the secon

[2020-01-24 23:05] GrabYourPitchforks commented on #2136
@tarekgh Do you have any thoughts on this?

[2020-01-24 23:06] tomesendam commented on #1946
@stephentoub I'll remove the overloads. You're right, I overlooked these issues.

[2020-01-24 23:13] bartonjs commented on #2162
No, the guidance is to only return a span that is a slice (including the trivially-all slice or trivially-none slice) of an input parameter.

Someone wanting the non-allocating one will just have to use the Try method.  (And/or make is one return null if the input is unchanged, but that might make it harder to use.  The one that accepts a string and returns a string can return the input argument o

[2020-01-24 23:14] stephentoub commented on #1946
We don't do that for the sync overloads, we shouldn't for the async overloads.  Even for things that are I/O bound, we can still choose some reasonable default, either Environment.ProcessorCount or unbounded, and document that's the default; then if that maps to what the dev wants, great, they don't need to allocate and pass in a ParallelOptions just to use our defaults.  If that's inappropriate f

[2020-01-24 23:23] tarekgh commented on #2136
No objection here. I am just wondering, do we need to add properties like `UnicodeNoBom` and `UTF32NoBom`?

Minor issue, regarding naming. I think 'Bom' is ok but, is it better to use `UTF8NoBOM`? we did a similar thing when we used 'ISO' and `UTF`. Or use the full name `UTF8NoByteOrderMark`.

[2020-01-24 23:31] GrabYourPitchforks commented on #2136
I don't know if there's much evidence that people use `UnicodeEncoding` or `UTF32Encoding` anywhere near as much as `UTF8Encoding`. But if we had such evidence then an accelerator on those might also make sense.

[2020-01-24 23:37] omariom commented on #2155
Both [generate](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBLANgHwAEAmARgFgAoKqkgAgGUIBbGAeWACsYwMqBvKnWF1CAZjrAIEXHQBC03ADUAhrgCuMANxUAvjUqFSSUcTpsMACxhQAwrhUBnRwKEjxo45MUB+OgAUoCDAYZwAKJlYObl46CC4ASjoAemS6J0d1VjoAO3VcWQAHDJgAEzdhQUoRGu8ZPwA3NU06AF44rh8AOgUZVQ1tCtrCAHY6JoG6fDoMKE0tFLT22c0h4SH9apEhjyMTKXqAoJDnYgiWdi4eDA7OJNT05yyYXPyikvKtyrX3MfjObq9ZTNF7TFbaRZtV4FDZ6IA) _interesting_ IL

[2020-01-24 23:40] tarekgh commented on #2136
Unicode encoding usually used with System.IO. UTF32 is rarely used. We can wait not exposing any properties for these till we get a demand.

[2020-01-24 23:57] tannergooding commented on #2167
Would this be the heap alignment or stack alignment of the type (as these sometimes differ)?

What would the consideration be when the native alignment of a type and the heap alignment differ (e.g. `Vector128<T>` is 16-byte aligned on the stack and in native, but is 8-byte aligned for the heap)?

[2020-01-24 23:59] tannergooding commented on #2120
I'm working on updating the `hwintrinsic*` files to remove unnecessary `unreached` calls.
`simd*` is likely another easy one I could handle.

[2020-01-25 00:05] #1971 closed

[2020-01-25 00:17] danmosemsft commented on #2138
@ericstj thoughts about merging  System.Collections? @eanova was about to work on a change to HashSet that woudl benefit from it being inside corelib. If we want to merge it, he can do it. If we don't, we could just move HashSet.

[2020-01-25 00:20] stephentoub commented on #2165
Dup of https://github.com/dotnet/runtime/issues/2084, which should I guess also be closed.

[2020-01-25 00:23] stephentoub commented on #2084
https://github.com/dotnet/runtime/pull/2097 disabled this.

[2020-01-25 00:34] jaredpar opened #2176 "System.Security.Cryptography.OpenSsl.Tests failing on CI runs"
Tests are crashing on several OSX runs

[code]
Builds
- https://dev.azure.com/dnceng/public/_build/results?buildId=495563
- https://dev.azure.com/dnceng/public/_build/results?buildId=493950

Test Runs
- netcoreapp5.0-OSX-Release-x64-CoreCLR_release-OSX.1013.Amd64.Open
- netcoreapp5.0-OSX-Release-x64-CoreCLR_release-OSX.1014.Amd64.Open
- netcoreapp5.0-OSX-Release-x64-Mono_release-OSX.1014.Amd64.Ope

[2020-01-25 00:39] Suchiman commented on #1640
@tannergooding thanks again for the answers. With some more tinkering, i was able to come up with the following helper class that manages to emulate for all cases that previously produced inconsistent output between C# and JS for me.

Interestingly enough, when you try to google for `toFixed rounding`, answers vary from "does not round" to "rounds but incorrectly" and "does round" and generally a

[2020-01-25 00:49] safern commented on #2176
This was supposed to be fixed by @ilyas1974 already. OpenSSL was not installed correctly. He installed it now in all the OSX machines. @ilyas1974 could you please follow up in this?

[2020-01-25 00:49] davmason commented on #1792
Hi @TheElse, have you verified your profiler is loaded when you don't see the events? My suspicion is that something is preventing your profiler from loading.

[2020-01-25 00:50] GrabYourPitchforks commented on #2167
I would assume heap-alignment, since that's the worst-case scenario where a VM or compiler might naturally put a field of type `T` insider of a larger object. That's assuming I'm understanding the scenario correctly.

[2020-01-25 01:08] jkotas commented on #2167
`System.Runtime.CompilerServices.Unsafe` is runtime agnostic today. This API cannot be implemented in runtime agnostic way. Adding it to `System.Runtime.CompilerServices.Unsafe` would mean killing it as runtime agnostic package. Should be rather be somewhere else?

Yup, there is a lot of different values that this method can return depending on what it is meant to be  used for...

[2020-01-25 01:17] BruceForstall opened #2181 "Assertion failed 'localVarInterval->assignedReg->isCalleeSave'"
On Linux/arm64, JitStress=1 or JitStress=2, JIT/HardwareIntrinsics/General/Vector128_1/Vector128_1_ro/Vector128_1_ro.sh fails with:

[code]

with:
[code]

Example in CI:
https://dev.azure.com/dnceng/public/_build/results?buildId=496122&view=results

[2020-01-25 01:19] BruceForstall opened #2182 "Assertion failed 'type == lvaTable[lnum].lvType || (lvaIsImplicitByRefLocal(lnum) && fgGlobalMorph && (lvaTable[lnum].lvType == TYP_BYREF))"
On Linux/arm64, JitStress=1 or JitStress=2, these:

[code]

fail with:

[code]

with:
[code]

Example in CI:
https://dev.azure.com/dnceng/public/_build/results?buildId=496122&view=results

[2020-01-25 01:19] GrabYourPitchforks commented on #2167
In ECMA-335, Sec. I.12.6.2, the below clause appears.

If we wanted to use this sentence as a guide, then the return value of `AlignOf<T>()` might be defined as "the address alignment value at which accessing a pointer of type `T*` will not generate unaligned memory faults or incorrect data on the current architecture, even if the instruction has not been decorated with an `unaligned.` prefix."

O

[2020-01-25 01:23] BruceForstall commented on #2182
cc @CarolEidt @tannergooding @echesakovMSFT

[2020-01-25 01:24] BruceForstall commented on #2181
cc @CarolEidt @tannergooding @echesakovMSFT

[2020-01-25 01:33] jaredpar opened #2185 "System.IO.FileSystem.Watcher.Tests failing on Libraries OSX Outerloop CI runs"
There is no explicit failure listed in the logs. Possible these are just timing out.

[code]

Builds
- https://dev.azure.com/dnceng/public/_build/results?buildId=493872
- https://dev.azure.com/dnceng/public/_build/results?buildId=491012
- https://dev.azure.com/dnceng/public/_build/results?buildId=490329

Test Runs
- netcoreapp5.0-OSX-Release-x64-OSX.1013.Amd64.Open
- netcoreapp5.0-OSX-Release-x64-

[2020-01-25 01:59] jkotas commented on #2167
There is a number of cases where misaligned `T*` will not generate fault, but accessing it comes with performance penalty. Would any penalty be acceptable? 1.5x? 5x? 15x?

[2020-01-25 02:04] BruceForstall commented on #2182
Looking at JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/AdvSimd.Arm64_ro/AdvSimd.Arm64_ro.sh:

`STRESS_CLONE_EXPR` is active.

stack at assert:
[code]

During import we have:
[code]

After inlining we have:
[code]

Note that V215 looks to be used with two different types:
[code]
and
[code]

Q: is that correct?

The assert happens because we try to clone `[002044]` which is type `simd16` but the local

[2020-01-25 02:12] AndyAyersMS opened #2186 "jit\HardwareIntrinsics\X86\Bmi1\Bmi1_ro fails under jitstress/gcstress"
With
[code]
we get a runtime assertion failure:
[code]
Failing method is `JIT.HardwareIntrinsics.X86.ScalarBinaryOpTest__BitFieldExtractUInt32:RunClassLclFldScenario`

The jit reports `eax` as gc live just after the `bextr`, when it has just been killed.
[code]
Have not done stress mode isolation yet.

[2020-01-25 02:24] tannergooding commented on #2181
I was going to say this one is probably related to https://github.com/dotnet/runtime/pull/1280, but it looks like its been failing for a bit longer than that...

[2020-01-25 02:27] CarolEidt commented on #2182
I'll have to look at the test case, but it may be fallout from the fact that an HVA (even with a single SIMD field) is passed & returned as SIMD16. This would then be kind of like the cases where we pass a register-sized struct "as if" it is a scalar type - but in this case the "scalar" is a SIMD16.

[2020-01-25 02:40] tannergooding commented on #2186
@CarolEidt, @BruceForstall. @echesakovMSFT

Looking at the JIT Stress test logs, it seems like this along with https://github.com/dotnet/runtime/issues/2182, https://github.com/dotnet/runtime/issues/2181, and others not logged yet all started failing around the same time.

Was there any recent change that could be attributed to these?

[2020-01-25 02:42] tannergooding commented on #2186
Looking at just the "Scheduled" jobs for "master: https://dev.azure.com/dnceng/public/_build?definitionId=658&_a=summary

It was passing for ea9bfd2 (https://dev.azure.com/dnceng/public/_build/results?buildId=492108&view=ms.vss-test-web.build-test-results-tab)
It was failing for fd7a5e8 (https://dev.azure.com/dnceng/public/_build/results?buildId=493690&view=ms.vss-test-web.build-test-results-tab)

[2020-01-25 02:45] tannergooding commented on #2186
The delta between the passing/failing should be: https://github.com/dotnet/runtime/compare/0dcdbac75870a63cb92300b6aa6a7d6fc0cdc08e...fd7a5e8cf1748b7aefa90dd8e6966af2cbb4fe8b (or https://github.com/dotnet/runtime/compare/ea9bfd213bd025db11ff7c8477d81ad822f53335...fd7a5e8cf1748b7aefa90dd8e6966af2cbb4fe8b, if you exclude the manually scheduled run)

But nothing immediately pops out as a potential cu

[2020-01-25 03:01] AndyAyersMS commented on #2186
The "special stress modes" enabled by JitStress=2 don't announce themselves in the log, so they are easy to overlook when doing stress mode isolation.

[2020-01-25 03:02] #1024 closed

[2020-01-25 04:17] ahsonkhan commented on #2144
I certainly see the benefit of adding a string indexer to `JsonElement`, where the code you write becomes smaller/simplified.

However, this was brought up in the initial design and discussion of `JsonElement` and we decided not to do so.
https://github.com/dotnet/corefx/issues/33968

For some context, unlike `JObject` which is a type that represents only Json Objects, `JsonElement` is a union typ

[2020-01-25 04:24] ahsonkhan commented on #2144
Thanks, appreciate the offer. Given the design of `JsonElement`, the ideas you proposed were intentionally left out when discussed previously. **We could consider re-evaluating this but I doubt the conclusion will change.** In the meantime, we have several JSON features and issues in the backlog and would love contributions if you are interested:
- https://github.com/dotnet/runtime/issues?utf8=%E2

[2020-01-25 04:29] ahsonkhan commented on #1925
This is similar to https://github.com/dotnet/corefx/issues/38569. Closing as duplicate.

[2020-01-25 04:29] #1925 closed

[2020-01-25 04:35] ahsonkhan commented on #2019
Agreed with what @Gnbrkm41 stated.

Whether the API should be static methods or extension methods was discussed when the JsonSerializer class was being designed and we explicitly chose to keep them as static methods instead of extension methods on types like string/object that are used in a lot of different contexts.

See the following (which has the link to the API review video as well):
https://

[2020-01-25 04:42] ahsonkhan commented on #1575
@GREsau, presumably you were running on .NET Core 3.0 OR referencing an older version of the System.Text.Json package (4.6.0).

Were you able to upgrade to .NET Core 3.1 OR System.Text.Json package (4.7.0) and resolve this issue?

[2020-01-25 04:49] ahsonkhan commented on #432
@Arthi93 could you try out the `ReferenceHandling.Preserve` feature we just added and let me know if it works to resolve the issue you were initially seeing? Is it sufficient for you?

[2020-01-25 05:21] ahsonkhan commented on #1015
The type where the cycle was detected might be different from the actual property type. Would having the type info still be useful and helpful as part of the exception message?

For example, here is what `Newtonsoft.Json` throws:
`Unhandled exception. Newtonsoft.Json.JsonSerializationException: Self referencing loop detected for property 'Module' with type 'System.Reflection.RuntimeModule'. Path '

[2020-01-25 05:34] ahsonkhan commented on #1574
@niemyjski - were you able to find benchmarks that showcased performance regressions when doing async serialization compared to sync only (preferable ones that are reproducible/isolated)?

[2020-01-25 05:46] ahsonkhan commented on #1808
@vitalie-ucommerce, is there any reason you couldn't wrap the `IEnumerable<T>` into a containing class that has the properties you want serialized as @colathro mentioned?

[2020-01-25 08:38] ahsonkhan commented on #1784
Yep. In the initial design discussions of `Utf8JsonWriter`, we had considered adding `WriteRaw` APIs, but decided against it: https://github.com/dotnet/corefx/issues/33552

We could consider revisiting that decision, if there is evidence of a significant performance benefit in doing so. Do you have some benchmarks for your scenario that would potentially show a win or is there a general concern fo

[2020-01-25 09:22] Meai opened #2188 "Build errors under libraries/native when building with GCC"
gcc 9.2.1
clearlinux
dotnetcore 3.1.1

First error (happens all over):

Then a whole bunch of this:

[2020-01-25 10:07] jkotas commented on #1291
Failed again in #2151

[2020-01-25 10:42] #1959 closed

[2020-01-25 11:54] mrange opened #2191 "The frustrating state of tails calls in .NET"
# The frustrating state of tails calls in .NET

I listened to [Microsoft Language & Runtime Community standup on twitch](https://www.twitch.tv/visualstudio)
were they said they like "aggressive" well-informed feedback from the community
so I figured I bring up something that has been rubbing me the wrong way a long
time in .NET; tail call performance.

I am sure that has been discussed before but

[2020-01-25 12:23] tomesendam commented on #1946
@stephentoub Having an overload without `ParallelOptions` and thus no CancellationToken sounds okay to me. But Can we give the devs a warning that the default DOP might be bad trough the compiler? Or by the optional rosyln analyzers? @GSPP

I have included ValueTask in the suggestion.

So we should leave this to the devs calling the code?

[2020-01-25 14:24] Blumster opened #2193 "Expression bodied property vs Jagged Arrays"
Hey! I hope I've opened this to the right place.

I was debugging my code and noticed that I can not set the value of the inner arrays with an expression bodied property containing a jagged array. The code compiles perfectly just doesn't act like one would expect it.

I've attached an example program that compiles and fails to set up the inner arrays.

I'm using .NET Core 3.1.

[code]

[2020-01-25 14:31] stephentoub commented on #2193
Your repro is returning a new array every time you access "JaggedArray":
[code]
If you want to have it create just once and return the same array on every access, write it instead like:
[code]

[2020-01-25 14:31] #2193 closed

[2020-01-25 15:05] akoeplinger commented on #2153
@stephentoub I've seen that in a couple of mono builds now but it's weird since that is in native code so shouldn't be mono-specific.

[2020-01-25 15:11] stephentoub opened #2195 "SystemNative_GetCpuUtilization assert failing under load"
So far I've only seen it on Mono.
See https://github.com/dotnet/runtime/issues/2153#issuecomment-578320515
[code]
https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d5f227d30e723/src/libraries/Native/Unix/System.Native/pal_time.c#L165

cc: @akoeplinger

[2020-01-25 15:12] stephentoub commented on #2153
I've opened https://github.com/dotnet/runtime/issues/2195 for the assert.

For this issue, I put up PR #2194 to address it.  I'm pretty sure the test is just too expensive for CI; that one test class was doing ~58M regex operations, and I think the machines were just falling over (more frequently on mono, but the failures @jaredpar shared show it happening on coreclr as well).

[2020-01-25 15:14] akoeplinger commented on #2195
Here's a full crash trace:

[code]

[2020-01-25 15:16] stephentoub commented on #2153
For anyone interested and seeing this, this is a little utility I've used in the past (and here) to quickly get a sense from the xunit test results log which tests are the long poles in a particular test suite:
[code]

[2020-01-25 15:26] stephentoub commented on #2195
FYI @jkoritzinsky who added this in https://github.com/dotnet/corert/pull/3863, and @filipnavara who ported it to SystemNative in https://github.com/dotnet/corefx/pull/34806.

[2020-01-25 15:45] canthonyparkinson opened #2241 "Add APIs like "int? int.TryParse(string? s)" to the Framework"
TryParse method in many ValueTypes is very useful, but would be more useful if it supported fluent API.

**### Rationale and Usage**

Many classes in .NET (Int32, Int16, Int64, Decimal, Double, ...) have a method called TryParse.  The existing signature (I will use Int32 as an example) is:

`public static bool TryParse(string? s, out int result)`

There are additional overloads, but my proposal wi

[2020-01-25 16:13] manandre commented on #2062
In next release, a new `Stream.CopyToAsync` overload will be available as described in https://github.com/dotnet/corefx/issues/21472
[code]
Enabling this type of code:
[code]
Would it fit your need?

[2020-01-25 17:22] jkotas commented on #2195
#2196

[2020-01-25 17:27] stephentoub commented on #1946
The default is going to be unbounded if the developer just passes in `new ParallelOptions()`, so I'm not clear on what kind of warning you're hoping for when one isn't provided.

[2020-01-25 17:39] BruceForstall commented on #2186
@tannergooding I look at your "It was failing for" link, and it is for the "runtime-coreclr jitstress" pipeline, and I don't see any x86 failure, or any Bmi1 failure. But this issue is for gcstress+jitstress. Is the AzDO link wrong?

[2020-01-25 18:00] #2133 closed

[2020-01-25 18:26] AndyAyersMS commented on #2186
Seems like xarch `emitOutputRRR` needs a gc kill clause at end like a lot of other emit methods. Will put up a PR.

[2020-01-25 18:59] jaredpar opened #2198 "System.Threading.Tasks.Tests.AsyncTaskMethodBuilderTests.DroppedIncompleteStateMachine_RaisesIncompleteAsyncMethodEvent failing on Libraries Outerloop Windows Job"
This just began failing last night but it's failing across enough runs that it looks like a real failure:

[code]

Builds
- https://dev.azure.com/dnceng/public/_build/results?buildId=496826

Test Runs
- netcoreapp5.0-Windows_NT-Release-x64-(Windows.Nano.1809.Amd64.Open)windows.10.amd64.serverrs5.open@mcr.microsoft.com/dotnet-buildtools/prereqs:nanoserver-1809-helix-amd64-61052b7-20190723211353
- n

[2020-01-25 19:00] AndyAyersMS commented on #2186
Couple of random thoughts I had while looking at this:
* I wonder if we could have a stress mode that increases the chances we will spot a missing GC kill like was the case here. Seemingly this bug has been in the code a while, but spotting it requires a combination of things: the register being killed must have a GC live reference, and we must have a GC in the window after the instruction overwri

[2020-01-25 19:10] AndyAyersMS commented on #2191
@mrange thanks for the feedback.

We have been looking at tail calls recently and have a big change in the works that has not yet landed.  It would be good to try these examples with #341 to see if it addresses your concerns.

cc @jakobbotsch @erozenfeld

[2020-01-25 19:25] jaredpar opened #2199 "Official build broken restoring internal tools"
The change to restore our internal tools appears to have broken the official builds. Post merge they are failing with the following error:

[code]

PR that appears to have broken this https://github.com/dotnet/runtime/pull/1846

Builds
- https://dev.azure.com/dnceng/internal/_build/results?buildId=496808
- https://dev.azure.com/dnceng/internal/_build/results?buildId=497020

[2020-01-25 19:27] BruceForstall commented on #2186
I think this is to reduce the size of GC info, by only killing refs as late as possible, possibly batching the kills at a block boundary. Possibly no kill happens at all if it gets replaced by another gc ref.

[2020-01-25 20:05] ntovas commented on #2128
I would like to fix this, can you assign me?

[2020-01-25 20:07] tomesendam commented on #1946
@stephentoub If we set it automatically based on cpu or something else. Then I would like there to be some kind of warning if that's possible to do. With this I mean either a compiler warning or from analyzers. I get that there currently isn't one but could or should there be one?

[2020-01-25 20:54] stephentoub commented on #1946
I'm still not understanding. Even for the overload that takes a ParallelOptions, the default is still unbounded, because `new ParallelOptions()` defaults to unbounded. Are you suggesting we always warn for every call to any of these overloads?

[2020-01-25 21:36] scalablecory commented on #2130
Related: https://github.com/dotnet/runtime/issues/1897

[2020-01-25 22:26] stephentoub commented on #2198
EventID == 0 means there's some kind of EventSource error happening. We'll need to see more of the event details to know what's wrong. If I can repro locally when I'm back at my computer, I'll see, otherwise we can submit an update to the test to print out more details overall of that "...".

[2020-01-25 23:09] nahk-ivanov commented on #1784
Thanks for taking a stub at this and doing some benchmarking!

At this point it is a general concern for too much unnecessary work being done - this is part of an ASP.NET Core web app hosted in Azure App Service and I'd like to host on as little nodes as possible using smallest SKU possible, so that we scale horizontally, rather than vertically when needed. This looked like a low-hanging fruit to

[2020-01-25 23:56] #2195 closed

[2020-01-26 00:40] elinor-fung commented on #2022
@jaredpar and I looked at this together and it turned out that when the tests were succeeding on `netcoreapp2.1`, they were actually loading the .NET Core version of MS.VB.dll, not the desktop one.

[2020-01-26 02:02] tomesendam commented on #1946
@stephentoub no I'm suggesting it for the overload without parallel options. And or a warning if the dop isn't manually changed in ParallelOptions (which probably isn't possible). That would by my ideal.

Or do you think any kind of warning is unnecessary? And that the documentation should suffice.

[2020-01-26 02:40] casperOne opened #2202 "Roadblocks when writing custom JsonConverter instances"
I'm currently writing a `JsonConverter<T>` to serialize an `Exception` (the type isn't really important here).

The idea is that I would serialize a common set of properties on the type, as well as insert some additional information (in this case, I want to insert some additional information about the `Type` of the `Exception` as a `"$Meta"` property).

I find myself running into the following pro

[2020-01-26 05:25] krwq commented on #2077
@tester346 does the device file disappear from `/dev/` when you unplug? We rely on the OS to tell us if the file is open so we would likely need to do something special to get it to work correctly if we even can detect it.

[2020-01-26 05:38] krwq commented on #2102
I think it might make sense to swap the order: `(CryptoConfig.CreateFromName(name) ?? CreateFromKnownName(name)) as T` or provide some way to override the default behavior (new API) - swapping might cause some perf hit but considering the signing and transformations are relatively slow anyway that shouldn't make significant difference (I think)

cc: @bartonjs

[2020-01-26 07:05] oliverjanik commented on #2062
Nah, I'm suggesting a convenience function. Your solution is longer than using ReadAsync in a while loop.

As a side note, is there any guidance on when to use streams vs the new pipelines?

[2020-01-26 10:16] am11 commented on #2188
In the stock Clear Linux docker, these environment variables are set:

[code]

we just need to make sure to not pass that `CFlags` to out script, so instead of:

[code]

do:

[code]

and the build will succeed.

we can unset fortification and other flags explicitly which cause build failure if inherited by the environment to avoid such failures.

cc @janvorli

[2020-01-26 12:34] Symbai opened #2204 "Linux - Enforce running as root"
How do I enforce a .NET Core app to run as root under Linux? The application manifest file is only valid for targeting Windows.

[2020-01-26 13:01] Drawaes opened #2205 "ReadOnlySequence<T> seems to hand out incorrect position"
When stress testing a bedrock client, I have an error that occurs frequently. Thanks to the hard work of @davidfowl this has been isolated to an issue in the BCL. The error that occurs is below

   at System.ThrowHelper.ThrowInvalidOperationException_EndPositionNotReached()
   at System.Buffers.SequenceReader`1.IsNextSlow(ReadOnlySpan`1 next, Boolean advancePast)
   at System.Buffers.SequenceReade

[2020-01-26 14:20] Mrpankaj666 opened #2207 "User defined table value type in Ado.net cause issue after upgrading to .net 3.1"
In .net core 2.2 its working fine but once I upgrade the project to .net core 3.1 its start failing only for user defined data type in ado
Error: Object must implement IConvertible
please assist on this

[2020-01-26 15:27] jkotas commented on #2204
Linux does not have equivalent of Windows application manifests.

If you need launch your app as root on Linux, you need to do it explicitly, e.g. via `sudo <your app>`.

[2020-01-26 15:28] jkotas commented on #2207
Could you please share the stacktrace of the "Object must implement IConvertible" exception?

[2020-01-26 15:56] Mrpankaj666 commented on #2207
`   at Microsoft.Data.SqlClient.SqlCommand.<>c.<ExecuteDbDataReaderAsync>b__164_0(Task`1 result)
   at System.Threading.Tasks.ContinuationResultTaskFromResultTask`2.InnerInvoke()
   at System.Threading.Tasks.Task.<>c.<.cctor>b__274_0(Object obj)
   at System.Threading.ExecutionContext.RunInternal(ExecutionContext executionContext, ContextCallback callback, Object state)
   at System.Runtime.Except

[2020-01-26 16:09] Symbai commented on #2204
I've seen Linux apps enforcing root rights using policyconfig & desktop file, something like this https://unix.stackexchange.com/questions/411251/unable-to-execute-gui-application-as-a-different-user-using-pkexec. When opening the application via double click in Ubuntu it prompts for root login. No sudo is required. Isn't that an equivalent? Is there a way this can be added to .NET Core Linux appl

[2020-01-26 18:11] jkotas commented on #2204
You should be able to create the Linux desktop policy for .NET Core app just like you create it for any other app.

[2020-01-26 18:17] jkotas opened #2209 "CI infrastructure failure: Unable to pull image mcr.microsoft.com/..."
I have seen this intermittent error on number of different CI jobs in last few days.

cc @dotnet/runtime-infrastructure

[2020-01-26 18:18] jkotas commented on #2209
Failed in https://github.com/dotnet/runtime/pull/2203 :

[code]

[2020-01-26 18:19] jkotas commented on #702
https://github.com/dotnet/runtime/issues/2209: Unable to pull image mcr.microsoft.com/...

[2020-01-26 19:01] mrange commented on #2191
Thanks sound great you are working on tail calls. The PR mentions that there is no need to change x86 tail call because that is already fast. From my my experience of x86 tail calls might not be as bad as x64 but it's IMHO not fast. I find that x86 tail call makes the simple pushstream pipeline take 3.6 sec in my quick benchmark vs x86 non-tail that take 0.6 sec.

[2020-01-26 19:38] BrennanConroy opened #2210 "Nullable with TaskCompletionSource"
Not sure if there is anything tracking nullable changes so filing this one off issue.

`TrySetResult` and `SetResult` should allow null, Task was changed to allow null
https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d5f227d30e723/src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Future.cs#L368
and `TaskCompletionSource` calls that method.

cc @stephentoub

[2020-01-26 20:25] stephentoub commented on #2210
If your TResult is nullable, you can set something that's null. I'm not understanding the concern.

[2020-01-26 20:27] #2210 closed

[2020-01-26 20:33] jakobbotsch commented on #2191
It has been a while since I looked at x86 but my impression when I did was that there was not much that could be done to make the general case faster. This is because the calling convention in x86 means that we have to adjust stack pointers and move arguments and the return pointer. There is no easy workaround to make this faster; it is slower simply because it has more stuff to do.

The state of

[2020-01-26 20:49] bartonjs commented on #2102
Perhaps.  I think we just did it because we needed the accelerator for the hash algorithms at one point, and then we added everything else there to avoid CryptoConfig... or we did it all when CryptoConfig didn't exist.

We might be able to just entirely remove the CreateFromKnownName method; or reduce it to the 4 items at the bottom.

[2020-01-26 21:02] mrange commented on #2191
I understand from the respect of jitter it has to implement tail correctly but as for correctness isn't the problem to prevent long tail call chains from running out stackspace? Or are there other differences I am not aware of?

I guess I should register an issue in the F# compiler to allow us suppress .tail attributes reliably.

[2020-01-26 22:00] scalablecory commented on #953
We'd make use of such an API in networking. socket addresses, HTTP/2, HTTP/3 all use big-endian integers.

[2020-01-26 22:29] stephentoub commented on #953
We should just improve BinaryPrimitives now. Whoever improves BinaryPrimitives can do so in whatever way makes the most sense, be it an internal intrinsic that's used or a JIT optimization.

Would we actually do anything differently than we currently do? We use / should use BinaryPrimitives, and that just gets better.

[2020-01-26 22:32] stephentoub commented on #2156
So this can be closed, right?

[2020-01-26 22:33] #2153 closed

[2020-01-26 23:39] jaykrell commented on #2191
It is a subte area, with much misunderstanding and confusion.

I guess, I think, there should be two tail call operators:
 1 a hint to JIT, hey, please try a little, you probably can figure it out, and I don't mind the debugging impact
 2 a demand to JIT, hey, please try super duper hard, even if the result is slow.

Presently there is only #2 which I believe F# outputs aggressively, and C# output

[2020-01-27 01:08] AndyAyersMS commented on #2191
Right, it is not easy for the jit to give feedback to the developer. There are tools like the [Inlining Analyzer](https://marketplace.visualstudio.com/items?itemName=StephanZehetner.InliningAnalyzer) that show some promise here. I am not sure how hard it would be to pull something like this off in F#.

The jit relays tail call outcomes back to the runtime, and these end up as ETL records if you en

[2020-01-27 01:40] mikernet commented on #2156
No - the instance methods still exhibit the problematic behavior.

[2020-01-27 02:15] AndyAyersMS commented on #1258
Just to verify, we're now saying, given
[code]
which currently produces the following, because
`canInlineTypeCheckWithObjectVTable` return false for `__Canon`:
[code]
can now be done via vtable comparsion, and produce something like:
[code]
Looks like maybe we should keep the vestigial `canInlineTypeCheck` callback from jit to runtime, since it looks like (?) maybe crossgen2 will vary behavior her

[2020-01-27 02:21] jkotas commented on #1258
Yep.

I do not think crossgen2 will vary behavior here.

The only reason I can think of for keeping the callback would be whether the codegen team still cares about running CoreCLR JIT against desktop for testing purposes. If not, it can be deleted to make things simpler. (There is actually quite a bit of other cruft on JIT/EE interface that can be deleted if we do not need that anymore.)

[2020-01-27 02:24] #1232 closed

[2020-01-27 02:57] AndyAyersMS commented on #2156
In the instance case, CSC is producing IL that the jit isn't quite prepared to handle in an inlinee -- there is a throw with more than one element on the evaluation stack.
[code]
End result is a failure to inline, despite the aggressive inline attribute:
[code]
I think this inlining restriction is bogus, but will have to look deeper.

[2020-01-27 03:41] jkotas commented on #2209
Failed in #2212
[code]

[2020-01-27 04:02] scalablecory commented on #953
JIT optimization could help with users of `IPAddress.HostToNetworkOrder`, but I'd take `BinaryPrimitives` too.

[2020-01-27 07:20] Mrpankaj666 commented on #2207
@jkotas and the same issue with "FromSqlraw" method as well in Ef Core
but previously it was working with "fromsql" method

[2020-01-27 07:36] vitalie-ucommerce commented on #1808
@ahsonkhan that would be easiest, of course. But it's not what the requirements are, we need like a `IEnumerable` with some meta information

[2020-01-27 08:15] AndyAyersMS commented on #2156
Seems straightforward to remove the inlining limitation. With my local changes I now see identical code for callers of `M1` through `M4`. I am generally in favor of removing arbitrary inlining blockers but would also like to see this help improve code somewhere specific.

@mikernet, is this a pattern you've seen used frequently somewhere?

There are a few new inlines now happening in FX code, but

[2020-01-27 08:45] mrange commented on #2191
The issue I see for a library LINQ-like library that relies on tail calls is that the user of the library will sometimes get really good performance and sometimes really bad performance. They might not be the user that checks ETL records for what is wrong and even if they do they can't really do much to eliminate the tail calls as that is part of the library.

This means that as a LINQ-library dev

[2020-01-27 09:15] jaykrell commented on #2191
@mrange,

The basic reason some things go slow, is that
there are "easy" tailcalls and "difficult" ones.

Roughly speaking, an "easy" one has a key characteristic:
 - the number of outgoing params is equal to or less
   than the incoming params. Or rather, their stack space.

[code]

Before working on this area, I would have deemed "difficult"
to be "impossible", but it is not. Desktop CLR has bee

[2020-01-27 09:29] Mrpankaj666 commented on #2207
@jkotas
here is the same error has been discussed which is most probably fixed in .net standard 2.0 for dapper
https://github.com/dotnet/corefx/issues/19708#issue-228274758

[2020-01-27 09:47] shawnzxx opened #2213 "Question: How to store Activity.Id before start it?"
### Context:
I have a special requirement to store "dependencyActivity.id" in a transaction, see a line of code attached below:
**await SaveOutgoingEventAsync(String.Empty);**
I am currently storing an empty string as a temp version of dependencyActivity.id, and update it to the actual value of dependencyActivity.Id after I start the dependencyActivity. Use this way to pass down the parent and chi

[2020-01-27 10:03] khellang opened #2214 "API Proposal: File.ReadLinesAsync"
I'd like to propose the following new methods to the `File` type:

[code]

The methods would basically be async counterparts to `File.ReadLines`, so they would mirror what `File.ReadAllLinesAsync` does, but read line by line lazily. These would fill the remaining gap for async reading done by the `File` type, mentioned in https://github.com/dotnet/corefx/issues/11220.

[2020-01-27 10:12] janvorli commented on #2084
I have had a local experimental change that can generate output like this for quite some time. However, there was a discussion about a need to shorten the trace in some way (finding repeating segments and dumping them once e.g. with a repeat count, dumping just part of the trace, etc.) so that we don't end up dumping. I wanted to figure out a way to do that that would cover non-trivial cases too (

[2020-01-27 10:55] AdamRiddick commented on #1803
Thanks,

I'll keep an eye on this and if we do experience this on any further servers I'll try the above steps - unfortunately we haven't been able to reproduce and we've had to apply quick solutions, so we don't currently have a machine in this state.

I can re-open when I have the above info, should we experience this again.

[2020-01-27 11:05] gstester opened #2374 "TextEncoderSettings AllowCharacters '<' '>' don't work with JavaScriptEncoder"
# Issue Title

TextEncoderSettings AllowCharacters '<' '>' don't work with JavaScriptEncoder

# General

Trying to serialize xml string to json don't work as expected. It produces escaped '<' and '>':

[code]

result is:
`\u003CData\u003E\u003CXML\u003E\u003CObjectRevision\u003E1\u003C/ObjectRevision\u003E\u003C/XML\u003E\u003C/Data\u003E`

How we can serialize an xml-field of an object.

ProjectS

[2020-01-27 11:25] tester346 commented on #2077
@krwq

Hi!

I'll provide code & screens, and flow:

I'm starting Raspberry Pi with 3rd device connected via usb connected

then I'm starting this simple console app which finds which port is used by 3rd party device (basing on response)

and then I'm displaying date in `while (USB.IsOpen)` loop.

The thing is, that this loop doesn't end even when I disconnect device and there is no `file` in `/dev

[2020-01-27 11:34] Symbai commented on #2138
Wouldn't this cause a potential conflict with `PublishTrimmed=true` by making the output size even bigger? Or is the linker now smart enough to eliminate unused code in assemblies?

[2020-01-27 11:44] hikalkan opened #50031 "Make OptionsFactory.Create virtual"
I had created a PR before (see https://github.com/aspnet/Options/pull/258). It is a simple change for you, but important for us. I [explained it](https://github.com/aspnet/Options/pull/258#issuecomment-406503119) very detailed. Please consider to make this method virtual.

[2020-01-27 12:49] Drawaes opened #2220 "API Proposal PipeReader ReadAsync could take an expected size"
Because the flow is inverted with pipelines there is less understanding at the lower levels of the expected data. Often the application protocols have an idea (or if no the application protocol at least the intermediate ones).

For instance in Tls if I only get a partial frame, I know the size of the rest of the frame. Rather than having to loop over and over on ReadAsync() if I haven't got enough

[2020-01-27 13:46] mikernet commented on #2156
Won't using a throw helper guarantee that the multiple checks won't get eliminted?

https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIAYACY8gOgCUBXAOwwEt8YLAMIR8AB14AbGFADKMgG68wMXAG4am6jQa69u4gGYmpBkJ369AbwuXLAbQCyMDAAsIAEwCS4yQApnN08fMUkAeTE+CC5cFgBBAHME2FxcXgUYLy5JXi5chIBKAF1bOz0jJhQGR3I/ZkYFbEkOGAKGAF4APmrSP0bmmAYAfiGGABVXKAgAdwA1Jpa4qASOAR4AOQ5JfwKCjW1qModA929fAJdTkPDI3mj

[2020-01-27 14:09] desdoades opened #2252 "Core 2.1.x docker: 'de-DE' short date pattern is 'dd.MM.yy' instead of 'dd.MM.yyyy'"
# Issue Title

On .NET Core 2.1.x linux docker for culture 'de-DE' the short date pattern is 'dd.MM.yy' instead of the expected 'dd.MM.yyyy'.

# General

The short date pattern for 'de-DE' culture is expected to be 'dd.MM.yyyy' as also written in a note in the [official documentation](https://docs.microsoft.com/en-us/dotnet/api/system.datetime.toshortdatestring?view=netcore-2.1)

The following lin

[2020-01-27 14:16] janvorli opened #2222 "Some mono files show as modified on Linux even with clean checkout"
I guess that it is most likely caused by wrong line endings, as there was a problem recently with the same symptoms caused by that. I get the following output from git status even though my local repo clone is completely clean:
[code]
Trying to do `git checkout --` on any of these files has no effect.

[2020-01-27 14:25] janvorli commented on #2222
@akoeplinger - are you the right one to look into this?

[2020-01-27 14:36] mikernet commented on #2156
Throw helpers make a lot of sense in the BCL to reduce JIT code size, but then you have to add a bunch of internal `M1Impl()`, `M2Imple()`, etc. methods which skip the null check to avoid rechecking the same argument multiple times, which adds complexity to the code. Throw helpers also impede the JIT's ability to cleverly rearrange asm to push the throw code to the end of a method because it doesn

[2020-01-27 15:00] Logerfo opened #2226 "Framework dependent self contained windows app locks the file"
## Steps to reproduce
1. Open a framework dependent self contained windows application. The contents will be extracted into something like `%temp%/.net/$AppName/$RandomKey`.
2. Try to rename the original file (not the temp one) with the application open. It will do just fine, since the file is not locked.
3. Close the application.
4. Open the application again (using the original file, not the tem

[2020-01-27 15:06] waldnercharles commented on #535
I believe this issue should be re-opened. The issue doesn't appear to be editor specific. The debugger crashes in Visual Studio, VS Code, and JetBrains Rider.

[2020-01-27 15:17] ilyas1974 commented on #2176
Yes, I will follow up on what is going on with these systems.

[2020-01-27 15:41] akoeplinger opened #2227 "Enabling IL trimming of Mono System.Private.CoreLib causes an assertion"
When enabling trimming after https://github.com/dotnet/runtime/pull/2141 we get the following assert during tests:

[code]

[2020-01-27 15:47] akoeplinger commented on #2227
This is because of this method which is called from the runtime but not kept by the linker xml:
https://github.com/dotnet/runtime/blob/cd622cd50c7104fc14a25fb199f8377472920f2e/src/mono/netcore/System.Private.CoreLib/src/System/Threading/Thread.Mono.cs#L250-L251

[2020-01-27 16:00] CoffeeFlux commented on #2227
Haven't we regressed and had to fix this a whole bunch of times? We should really have this on CI somewhere.

[2020-01-27 16:02] akoeplinger commented on #2222
Hm I'm not seeing this in a clean Linux Docker container. What's the value of your `core.autocrlf` setting?

[2020-01-27 16:04] marek-safar commented on #2227
/cc @vargaz

[2020-01-27 16:07] janvorli commented on #2222
I don't have it set to anything, but googling suggests that the default is "false".

[2020-01-27 16:08] akoeplinger commented on #2222
Ok, can you please share more details about your environment? Linux distro/version, git version etc. And maybe try deleting the checkout and cloning again.

[2020-01-27 16:10] akoeplinger opened #2228 "System.Net.Tests.InvalidClientRequestTests.GetContext_InvalidRequest_DoesNotGetContext fails on Mono on Linux"
This test seems to fail pretty consistently recently. Need to figure out what happened.

Examples:
- https://dev.azure.com/dnceng/public/_build/results?buildId=497907&view=results
- https://dev.azure.com/dnceng/public/_build/results?buildId=497696&view=results
- https://dev.azure.com/dnceng/public/_build/results?buildId=498678&view=results

[2020-01-27 16:11] Mrpankaj666 commented on #2207
Closing this issue as it was namespace issue
https://github.com/dotnet/SqlClient/issues/323

[2020-01-27 16:11] janvorli commented on #2222
Ubuntu 16.04, git 2.7.4. I did a brand new clone and I have the same issue.

[2020-01-27 16:11] #2207 closed

[2020-01-27 16:22] akoeplinger commented on #2222
Ok I can repro on that environment. It seems to be git version specific since I don't see this issue on Ubuntu 18.04 with git 2.17.1.

It seems to be a bug in git fixed by this: https://github.com/git/git/blob/228f53135a4a41a37b6be8e4d6e2b6153db4a8ed/Documentation/RelNotes/2.10.0.txt#L248-L254

[2020-01-27 16:27] jeffschwMSFT commented on #535
Thanks @waldnercharles for the feedback.  The developercommunity issue can be used to help with all these products.  Can you jump on that issue and provide additional details?

[2020-01-27 16:36] mikernet commented on #2156
Or maybe you mean this pattern, which keeps the throw statement in the original method:

[code]

I got the same result with this throw helper as before, with and without `[MethodImpl(MethodImplOptions.NoInlining)]` applied to the throw helper.

[2020-01-27 16:42] jkotas commented on #2138
I expect that it will be a noise at the end. It will reduce number of tiny files that survive and make the few files bigger. Note that most of the tiny facades that this is about are used by *every* reasonable app, so the chances that the linker was able to remove them are pretty low.

The default for `PublishTrimmed=true` is assembly level trimming currently. This leaves a lot of unused code on t

[2020-01-27 16:57] janvorli commented on #2222
Ok, but it still seems there is something wrong with how the files were checked in. It doesn't happen to other files and I believe we should fix it. I would not like to require that people install a newer git version to fix this.
I've tried to run `git check-attr -a` on one of the problematic files (one of the .cs files) and then on another .cs file that doesn't have such a problem. Here is the re

[2020-01-27 17:06] AndyAyersMS commented on #2156
Hmm, you're right -- the throw helper pattern does not get properly cleaned up here. Will have to follow up on this. I suspect the fact that the helper must look like it returns a value is a contributor

It is a relatively easy fix.

That should no longer be the case, at least most of the time, see eg dotnet/coreclr#6103

[2020-01-27 17:08] BruceForstall opened #2230 "tracing\eventpipe\providervalidation\providervalidation\providervalidation.cmd fails in gcstress3, Windows x86"
This test fails in the CI in the last 3 runs of Windows x86 GCStress=0x3:

`\r\nAssert failure(PID 4216 [0x00001078], Thread: 7224 [0x1c38]): Consistency check failed: Invalid transition into managed code!\r\n\r\nWe're walking this thread's stack and we've reached a managed frame at Esp=0x00F7D758. (The method is Advapi32::EventWriteTransfer_PInvoke) The very next FS:0 record (0x00F7D760) up from

[2020-01-27 17:08] BruceForstall commented on #2230
@josalem

[2020-01-27 17:10] stephentoub commented on #2084
Thanks, Jan.

[2020-01-27 17:11] BruceForstall commented on #1664
To make it worse, the AzDO UI for viewing ends up creating a very wide window with a horizontal scrollbar, so you have to constantly scroll back-and-forth (and read through a mass of no-whitespace text) to find the relevant bits of information.

[2020-01-27 17:14] dagood commented on #1664
I always copy the text out and replace escaped newlines with newlines in np++. I would love to see this fixed.

[2020-01-27 17:17] BruceForstall opened #2231 "Linux arm32 GCStress=3 timeout test failures"
The following tests time out in GCStress=3 test runs (after an hour?).

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=497294&view=ms.vss-test-web.build-test-results-tab

So are they really that slow? Are the machines overloaded or underpowered? Is there a GCStress=3 bug, or a VM bug exposed by GCStress=3 leading to this?

Should these be disabled for GCStress=3 until such time

[2020-01-27 17:18] BruceForstall commented on #2231
@janvorli

[2020-01-27 17:21] jkotas commented on #2226
Looks like a dup of #1260. cc @swaroop-sridhar

[2020-01-27 17:31] antonfirsov commented on #1481
Related: #1712

Third option: introduce centralized logic to distribute non-ephemeral ports to test cases in a thread-safe way.

[2020-01-27 17:32] Logerfo commented on #2226
Thanks, @jkotas! I'm close this one.

[2020-01-27 17:32] #2226 closed

[2020-01-27 17:35] AndyAyersMS opened #2233 "Look at throw helpers in ?? contexts"
Follow-up from #2156.

If we use the following helper pattern, we don't see the right optimizations kick in.
[code]
which produces
[code]

If we pull the throw up then we see the right pattern but inline the helper; we here might want to throttle back inlining further in rare blocks.
[code]
which produces
[code]

category:cq
theme:inlining
skill-level:intermediate
cost:medium

[2020-01-27 17:43] ealsur commented on #2122
Got it to work!

The key here was to Clone the PFX that I had, but add the `-KeyUsage CertSign, DigitalSignature, KeyEncipherment`

![image](https://user-images.githubusercontent.com/1633401/73199155-2c1ee000-40e9-11ea-9c8c-4208a14bf760.png)

The resulting certificated had the Key Usages.

I then created the CRT in Linux with:

`openssl pkcs12 -in MyPFX.pfx -clcerts -nokeys -out MyCert.crt`

Then

[2020-01-27 17:43] #2122 closed

[2020-01-27 17:43] marek-safar opened #2234 "Docker exits with 126"
[code]

[2020-01-27 17:45] akoeplinger commented on #2222
For the ones with `-crlf` those are most certainly historical artifacts so we can get rid of it if that fixes the issue, same for the mixed line endings.

[2020-01-27 17:45] jaredpar commented on #1664
I've complained to AzDO about this before (we have same issue in Roslyn). They constantly push back the issue is on our end not there's but even when digging in I could never see where we were doing extra escaping.

[2020-01-27 17:50] BruceForstall commented on #2181
Stack:
[code]

[code]

[2020-01-27 17:57] wfurt commented on #2122
good to know you got it workign. OpenSSL is just more picky about attributes so certificate working on Windows may not work on Linux. (That is also true for new macOS)

[2020-01-27 18:01] Ryder25 opened #2236 "Add support for zlib data format (RFC 1950)"
Currently .Net doesn't support the zlib data format despite the majority of the work having been done by DeflateStream. I propose a new class be added similar to GZipStream to support [RFC 1950](https://www.ietf.org/rfc/rfc1950.txt).

Personally I'm encountering the zlib format in two areas. Many games depend on zlib, and save files using this format.  We also use zlib in the firmware of one of ou

[2020-01-27 18:08] tannergooding commented on #2186
Yes, looks to be. Let me see if I can find the other jobs...

[2020-01-27 18:08] mikernet commented on #2156
Yeah, it seems that the helper return value in this case causes the issue. It cleans it up properly if I rearrange things so there is no return value, which is pleasantly surprising, I didn't expect that.

It's kind of interesting that it doesn't actually inline the throw helper but acts kind of like it has been  inlined...yet if you ask it to be inlined or not inlined then everything kinda falls

[2020-01-27 18:10] Logerfo commented on #1260
@swaroop-sridhar thanks for the link.
Looking at #6576, I can see that the behavior on Linux and Windows are different.
Check out the full context: https://github.com/dotnet/runtime/blob/bcd203df101793a6d8c03d2c8285c5bc335ebfa1/src/installer/corehost/cli/apphost/bundle/runner.cpp#L42-L64
Note that `map_host` is always called, but `unmap_host` is only called when the extraction **cannot** be reused

[2020-01-27 18:14] jkoritzinsky commented on #1664
Is it possible that it's the Helix xunit reporter that's doing the escaping? That's the common factor between Roslyn and dotnet/runtime that other repos using xunit on AzDO don't have.

[2020-01-27 18:18] AlgorithmsAreCool commented on #2220
I think this can be done in an extension method right?. It would just be a loop that that calls `Advance(Buffer.Start, Buffer.End)` until `Buffer.Length` exceeds expected size or until `ReadResult.IsCompleted` returns as true.

It would probably be pretty useful.

[2020-01-27 18:28] Drawaes commented on #2220
It could be, and that might be the first iteration but you might never call the ReadAsync continuation of there isn't enough data as well, saving a whole lot of code from running.

[2020-01-27 18:31] undecided2013 commented on #2174
To add some more information to this. I used curl from the terminal and it operated properly.
I had to:
1. kinit -V [principalname]
2. Enter password
Got response 'Authenticated to Kerberos v5'
3. curl -v -k -i --anyauth -u : [url]

Looks like curl tried a bunch of things to get through:
It got a 401, server was Microsoft-IIS/8.5
The authenticate headers said "Negotiate" and "NTLM"
curl used "Nego

[2020-01-27 18:34] mikedn commented on #2156
AFAIR the problem with returning a value from the helper is that the JIT needs to discard the part of the tree that uses the return value (in this case it looks like it is assigned to a lclvar). Given that the inliner anyway splits the tree and then merge it again at `RET_EXPR` it may be that this isn't difficult to fix.

[2020-01-27 18:39] tmeschede opened #2238 "System.Text.Json: The collection type 'Microsoft.AspNetCore.Http.IQueryCollection' on 'Microsoft.AspNetCore.Http.HttpRequest.Query' is not supported"
Writing some middle ware where I am capturing the request and response of customers interaction with our web site.  I am trying to log the request object as JSON, but I am getting the error message below:

The collection type 'Microsoft.AspNetCore.Http.IQueryCollection' on 'Microsoft.AspNetCore.Http.HttpRequest.Query' is not supported.

at System.Text.Json.JsonClassInfo.GetElementType(Type propert

[2020-01-27 18:46] jkotas opened #2240 "[Windows x86] InlinedCallFrame popping during EH corrupts Frame chain"
From https://github.com/dotnet/runtime/pull/1929#issuecomment-578290763

The problem is in the Windows x86 path here: https://github.com/dotnet/coreclr/pull/24199/files#diff-5eb922d9071dbbd2c84a9fa5f4468ea0R1880

We are missing a check like this: https://github.com/dotnet/coreclr/pull/24199/files#diff-d5e4cb27da3539140a16dc576906b925R1857

It results into unwinding too many Frames that sometime le

[2020-01-27 18:48] GrabYourPitchforks commented on #953
To clarify, if this were implemented wholly in the JIT (no public API surface), then under this proposal the patterns the JIT would recognize would be:

 * A call to `BinaryPrimitives.ReverseEndianness` followed by a memory store; or
 * A memory load followed by a call to `BinaryPrimitives.ReverseEndianess`.

Helper APIs like `BinaryPrimitives.ReadInt32BigEndian` are already implemented using this

[2020-01-27 18:48] jkotas commented on #2240
I am adding a workaround for this issue in #1929. The workaround should be removed as part of the fix.

[2020-01-27 18:52] safern commented on #2209
cc: @MattGal could you take a look at this please? It seems like helix is sometimes failing to pull down the image to run the tests.

[2020-01-27 18:54] GrabYourPitchforks commented on #1689
Cycle handling is inherently dangerous. Even the "safe" `BinaryFormatter`-compatible serializer I was working on forbids cycles by default, requiring the caller to opt-in explicitly.

If you're willing to post a self-contained repo somewhere of the "Invalid BinaryFormatter Stream" error you're getting I can take a look. Even though we discourage `BinaryFormatter`, I don't recall any change offhand

[2020-01-27 19:06] Xantrul commented on #1094
Any news on this one?

[2020-01-27 19:08] safern commented on #1723
@janvorli it seems like the way we build rootfs in dotnet-buildtools-prereqs-docker, arcade doesn't need to flow as when we call `build-rootfs.sh` it clones arcade and uses that fresh clone for the cross scripts: https://github.com/dotnet/dotnet-buildtools-prereqs-docker/blob/master/src/ubuntu/build-scripts/build-rootfs.sh#L35

Since we commented the helix-queues here and the way libraries do test

[2020-01-27 19:13] janvorli commented on #1723
I've realized that too. There was a recent change in the https://github.com/dotnet/dotnet-buildtools-prereqs-docker repo (4 days ago), so there should be new images will be generated due to that and we can just use them.
@MichaelSimons do the new images get automatically generated for docker repo PRs or do you need to trigger their build manually?

[2020-01-27 19:15] GrabYourPitchforks commented on #2241
As previously mentioned, dupe of https://github.com/dotnet/corefx/issues/25885. Specific scenario mentioned is fluent design, but the justification (and the API shape) is particularly opinionated as to how things like errors should be handled, and that behavior differs from existing `TryParse` methods.

[2020-01-27 19:24] VSadov commented on #1258
Inlined typecheck looks much better.
I cannot think of a reason for `canInlineTypeCheckWithObjectVTable` to return false.

[2020-01-27 19:26] MichaelSimons commented on #1723
@janvorli - the builds automatically run when a PR is merged.  The entire set of images do not get rebuilt, only the Dockerfiles affected by the PR are built.

Unfortunately there was an [infrastructure issue](https://github.com/dotnet/dotnet-buildtools-prereqs-docker/issues/238) that impacted updating the versions repo with the latest images.  If you tell me which image you are looking for I can

[2020-01-27 19:34] janvorli commented on #1723
@MichaelSimons the image we need to get is the new version of  mcr.microsoft.com/dotnet-buildtools/prereqs:ubuntu-16.04-cross-arm64-alpine-406629a-20191023143847. We need the rootfs in it to be rebuilt based on a recent change in the Arcade repo. As there was no change in the related Dockerfile, based on what you've said above I am not sure if it got built.

[2020-01-27 19:37] josalem commented on #2230
Taking a look today

[2020-01-27 19:40] MichaelSimons commented on #1723
@janvorli - the most recent image is `ubuntu-16.04-cross-arm64-alpine-406629a-20200121150126`.  It was rebuilt as a result of merging [this change](https://github.com/dotnet/dotnet-buildtools-prereqs-docker/commit/bfcd90a7a269f4163f4b521d33afb65db12499ac).  If you need a newer build, let me know and I can trigger the build.

[2020-01-27 19:40] krwq commented on #2077
Perhaps possible solution could be that we probe for the file existence whenever the IsOpen is called and manually close the file handle, @wfurt?

[2020-01-27 19:43] tommcdon commented on #1986
@cshung do you plan on working on this?

[2020-01-27 19:46] janvorli commented on #1723
@MichaelSimons  I've checked the image you've mentioned and it doesn't have the necessary change in the rootfs. Could you please trigger a build of a newer one?

[2020-01-27 19:51] tommcdon commented on #1957
Seems like this item should be coordinated with Roslyn. Should we use dotnet/csharplang#3102 to track this? @jaredpar

[2020-01-27 19:56] YohDeadfall opened #2242 "JSON serializer should not support non-public properties by default"
While working on #2192 observed that the serializer opt-ins non-public member support. At least it blocks field serialization support from behaving the same way as for properties. In worst case as @Drawaes said the issue leads to data leaks.

The issue exists starting from the first PR of JSON serializer (see [#35609](https://github.com/dotnet/corefx/pull/35609/files#diff-d94322d11e50b60b48c128b06

[2020-01-27 20:08] cshung commented on #1986
Nope, I do not plan to fix the compiler.

However, it is a prerequisite to @BrianBohe 's work (so that we have a reasonable post-condition to verify for debug info correctness) and https://github.com/icsharpcode/ILSpy/issues/1886 which require an unambiguous interpretation of the debug info in order to produce reasonable visualization, which I wanted to do.

[2020-01-27 20:11] AndyAyersMS commented on #1258
Not sure; I will follow up on this.

[2020-01-27 20:17] ericstj commented on #2138
System.Collections is actually somewhat large: 324 KB.  @jkotas you had this in wave 2 originally.  Are you concerned about growth of working set?  I see that the console template doesn't normally use System.Collections, but MVC does.  I didn't check all the templates.  I tend to agree that most apps probably use this.  I wonder if we could get data on this to back up that claim. 🤔

An alternative

[2020-01-27 20:20] Gnbrkm41 commented on #2241
I agree with what has been decided in dotnet/corefx#25885; While I wouldn't veto against such methods in user codebases, having this in BCL seems like a lot of work to be done for no functional gains.

[2020-01-27 20:21] undecided2013 commented on #2174
This is not an issue. kinit needed to run before the .net core stuff.  I had assumed that .net core would call the init but it doens't. Calling kinit in the shell prior to dotnet run makes everything work.

Thanks

[2020-01-27 20:22] MichaelSimons opened #2243 "Rename ThirdPartyNotices.txt to THIRD-PARTY-NOTICES.txt"
When you install the .NET Core runtime there is a `ThirdPartyNotices.txt` that gets installed.  If you install other .NET Core components such as the ASP.NET Core runtime or the .NET Core WindowsDesktop SDK, they install TPNs named `THIRD-PARTY-NOTICES.txt`.  .NET Core should be consistent.  I propose the upper case variant as it aligns nicely with the convention used by the `LICENSE.txt` file.

[2020-01-27 20:24] jamescourtney opened #2251 "Performance Regression: UTF8 Span Methods 3x slower on AMD Platforms (NetCore2.1 -> 3.1)"
Performance of some UTF8 string methods seems to have regressed in a major way on AMD platforms in .NET Core 3.1. Others may be affected as well.

Test:

[code]

AMD system results:
[code]

Intel system results:
[code]

[2020-01-27 20:26] AndyAyersMS commented on #2191
Ah, there already is a [tail call diagnoser](https://github.com/dotnet/BenchmarkDotNet/pull/573) for BenchmarkDotNet, though I can't figure out how to get it to compile on this example.

cc @adamsitnik

[2020-01-27 20:29] canthonyparkinson commented on #2241
I am disappointed that no one will back me on this, I accept the decision.  BTW, usability and productivity gains are just as valid reasons as functional gains to make an improvement.

[2020-01-27 20:29] #2241 closed

[2020-01-27 20:32] kgkoutis opened #2250 "dotnet bug on MacOS Catalina 10.15.2"
I just downloaded it today from https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install

<img width="568" alt="Screenshot 2020-01-27 at 21 27 42" src="https://user-images.githubusercontent.com/47277030/73211177-05de5c00-414c-11ea-8bbe-48908972a32d.png">

[2020-01-27 21:00] MattGal commented on #2209
Taking a look...

[2020-01-27 21:00] BruceForstall opened #2245 "Update documentation for running Windows perf tests"
https://github.com/dotnet/runtime/blob/master/docs/project/performance-guidelines.md#running-the-coreclr-performance-tests-on-windows

It should be updated based on current consolidated repo steps and documentation.

[2020-01-27 21:10] #803 closed

[2020-01-27 21:10] swaroop-sridhar commented on #1260
Thanks a lot for the detailed analysis @Logerfo. I'll fix the issue, Thanks.

[2020-01-27 21:10] briansull commented on #803
Fixed by
Fix for IlAsm round-trip issue #803 #2168

[2020-01-27 21:15] MattGal commented on #2209
Relevant Kusto query:

[code]
In short, this has only happened once, on three machines in history for Windows, and it seems like something really horked Docker starting from the first work item on these machines.

The machines in question are all recycled; if this reproduces again, we need to get on a machine and investigate the state of the Docker windows service, as we've never seen this in 1.5

[2020-01-27 21:17] MichaelSimons commented on #1723
The build completed.  The newest tag is now `ubuntu-16.04-cross-arm64-alpine-406629a-20200127195039`

[2020-01-27 21:19] jkotas commented on #2138
Compare this to S.P.CoreLib size that is 10MB. The profile-guided layout for S.P.CoreLib is a must-have to split these 10MB into what is actually used and get a decent working set. These extra 300kB from System.Collections would just get for a free ride.

[2020-01-27 21:21] janvorli commented on #1723
@MichaelSimons awesome, I have verified that the crossfs now contains the necessary change.
@safern could you please try to update our yml files to use this new image for building for arm64 alpine?

[2020-01-27 21:39] safern commented on #1723
Yes, I'll work on that and spin a new CI build to see if we still hit those build errors.

[2020-01-27 21:57] undecided2013 commented on #2174
Closing issue.
It was the way I was using the api.
With
`Credentials = new NetworkCredential("someaccount@somedomain.com", Environment.GetEnvironmentVariable("SVC_PASSWORD")),
`
it fails on the 1st call but then works on subsequent calls.
With
` UseDefaultCredentials = true `
instead of NetworkCredential, it works fine.

Not sure if this is how it is meant to work.

[2020-01-27 22:03] scalablecory commented on #2251
@GrabYourPitchforks

[2020-01-27 22:05] scalablecory commented on #2252
@tarekgh

[2020-01-27 22:18] jkotas commented on #2209
Ok, thanks for taking a look.

[2020-01-27 22:31] jkotas commented on #2250
cc @jeffschwMSFT

[2020-01-27 22:41] ahsonkhan commented on #2242
@YohDeadfall, do you have a test case that shows JSON serializer supporting non-public properties by default for some cases?

I don't believe this is a breaking change. The actual check for whether a property is public and should be supported is here:
https://github.com/dotnet/runtime/blob/89965be3ad2be404dc82bd9e688d5dd2a04bcb5f/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Js

[2020-01-27 22:43] jeffschwMSFT commented on #2250
@kgkoutis we are working through getting our packages notarized.  As part of that change, we are also runtime hardening and providing a default set of entitlements for ./dotnet (which enable it to load dynamic libraries).  I offer that as I have seen similar failure paths on 10.5.* when not using our notarized package.

It is my understanding that regardless of notarization this should be working

[2020-01-27 22:45] tarekgh commented on #2252
@desdoades this issue has been fixed in version 3.x. you may try either to upgrade or to force the desired date pattern like the following code:

[code]

[2020-01-27 22:45] #2252 closed

[2020-01-27 23:27] jkotas opened #2257 "Restore System.Buffers package in System.IO.Pipelines build"
Here: https://github.com/dotnet/runtime/blob/master/src/libraries/System.IO.Pipelines/ref/System.IO.Pipelines.csproj#L5

From https://github.com/dotnet/runtime/pull/2189#discussion_r371376490 :

[2020-01-27 23:39] isilence commented on #753
Good, I'll try to take a look. I'm concerned about not having fast-path in-userspace locking, but it should be any better than `eventfd + epoll`. I haven't seen FUTEX_WAIT_MULTIPLE, but will need it to be merged first.

[2020-01-27 23:42] wfurt commented on #918
fixed by https://github.com/dotnet/runtime/pull/453.
That change caused some regressions and follow-up changes are tracked by other issues.

[2020-01-27 23:42] #918 closed

[2020-01-27 23:49] Symbai opened #2258 "Publishing as framework depedent creates self-contained instead when not explicitly disabled"
## Issue:
Publishing as explicit framework dependent is always published as self-contained instead. Unless the user explicitly sets `--self-contained false` flag.

## Repro:

### 1.
Create a console app then:
### 2.
#### Either CLI:
Following the docs on how to publish a framework dependent app: https://docs.microsoft.com/en-us/dotnet/core/deploying/deploy-with-cli and publish with `dotnet publish

[2020-01-27 23:52] safern commented on #1723
I have a build going with the change here: https://dev.azure.com/dnceng/public/_build/results?buildId=498569

[2020-01-27 23:56] wfurt commented on #1161
any idea @safern or @ViktorHofer ???

[2020-01-28 00:11] safern commented on #1161
@Gnbrkm41 does this apply for `ConditionalFact` and `ConditionalTheory` or only for one of them?

[2020-01-28 00:16] AndyAyersMS commented on #1258
Codegen team's consensus is that we are not leveraging desktop to test core jit sources anymore and cleanup makes sense. I am running this idea past a few more folks as we speak.

Probably best to do the interface cleanup in one PR to avoid needing to repeatedly churn the GUID. It would be nice if that cleanup was a no-diff change. So perhaps do it before or after fixing this.

[2020-01-28 00:19] wfurt commented on #404
Aside from jitstress, this only failed twice on PRs(#402 and #242) at the end of November and never in an official run. All recorded failures are on `windows.10.amd64.open` queue and I'm wondering if this is caused by some infrastructure issues and runaway test nodes.

[2020-01-28 00:21] jkotas commented on #1258
After fixing this would be better.

[2020-01-28 00:27] tommcdon commented on #1986
@cshung Thank you for in depth information. Just as a data point, is the above suspicious debug info a regression? Please work with @hoyosjs to run the diagnostics tests against R2R images for debugger validation.

[2020-01-28 00:33] wfurt commented on #2204
The `double click` depends on what UI  and application you running and there is no general solution for Linux AFAIK. (to for example work from shell or systemd)
You can set SUID bit on your app to always grant it root access but of course that creates security weakness as access is granted automatically.
You can also check within the  app and fail with an explanation if the application was not sta

[2020-01-28 00:39] wfurt commented on #2185
This test is generally very slow test and as `*DangerousFileSystemWatcherTests*` suggests not really safe to run as it is trying to exhaust system limits. I saw similar failures recently and I'm wondering if anything changed somewhat recently with OSX infrastructure.

I think we should disable the test for CI if we cannot run it reliably.

cc: @safern @MattGal

[2020-01-28 00:43] stephentoub commented on #1946
Why do you see that overload as being different from the one that takes ParallelOptions?

When a developer sees they need to pass in a ParallelOptions, they'll likely do:
[code]
at which point they're getting the unlimited behavior.

You're concerned about the behavior when a ParallelOptions isn't provided but not when they get this default unlimited behavior?

With the APIs shaped as they are, I

[2020-01-28 00:46] safern commented on #2185
Nothing change. I believe this is an outerloop test and it is failing on outerloop runs, I guess that is the intention of that test.

If you look at the build link it is happening in outerloop osx:
https://dev.azure.com/dnceng/public/_build/results?buildId=493872

[2020-01-28 00:48] scalablecory opened #2262 "[QUIC] QuicListener.ListenEndPoint returns a port of 0 if Start() hasn't been called"
We should probably make this property throw if the listener hasn't been started.

[code]

CC @jkotalik

[2020-01-28 00:49] wfurt commented on #2185
I'm sure there was time this test was passing reliably as I wrote this test and did many runs in various configurations. Relevant Watcher code did not change AFAIK.
I will take a look.

[2020-01-28 01:09] #1170 closed

[2020-01-28 01:09] #1267 closed

[2020-01-28 01:09] iUnknwn opened #2265 "Utf8JsonReader Fails When Provided Incomplete Json Data, even if isFinalBlock is false"
If a Utf8JsonReader is provided a span of bytes that does not begin or end on an element boundary, the parser will fail with a JsonReaderException.

Here is an example of the behavior that occurs when reading json data from a stream. In this example, we are only trying to read one value, so we're waiting for the appropriate token to appear, and using a buffer that is smaller than the stream length

[2020-01-28 01:16] tomesendam commented on #1946
@stephentoub

What I mean is: if the dop in ParallelOptions = default then give a warning. And don't get me wrong I don't always want the warning to show. Only when there's no manually set DOP.

[2020-01-28 01:18] stephentoub commented on #1946
How are you going to write an analyzer to detect that?

Is there going to be a warning for this?
[code]
?

[2020-01-28 01:25] Drawaes commented on #2205
Does this seem to be a duplicate of what is fixed by  #276

[2020-01-28 01:35] BruceForstall opened #2267 ""runtime-coreclr r2r" AzDO pipeline misconfigured?"
The "runtime-coreclr r2r" pipeline hasn't run any jobs:

https://dev.azure.com/dnceng/public/_build?definitionId=670&_a=summary

It appears to have no triggers and no cron jobs.

In contrast, the "runtime-coreclr r2r-extra" pipeline (https://dev.azure.com/dnceng/public/_build?definitionId=663&_a=summary) is running on weekends.

I believe this is intended to be a normal outerloop run but with Read

[2020-01-28 01:43] josalem commented on #2230
Took a look at the dump that got generated and picked out a few things.  I think the linked list of exception handlers might be corrupted.  I took a look at `0x00F7D760` which points at the top level `FS:0` entry and the address it has for a handler is `0x72e381bd`.  This seems to point to a seemingly random spot in the middle of jitted code (`PAGE_EXECUTE_WRITECOPY` owned by coreclr.dll) that doe

[2020-01-28 01:58] BruceForstall commented on #2230
I don't have an easy idea for why this corruption would occur. My first suggestion would be to run with `COMPlus_GCStress=0xF` and see if it reliably repros in a different location. If that occurs, and the issue is within JIT'ed code, then perhaps that indicates a JIT compiler GC reporting issue/hole. If not, it's possible that some VM stub/etc. is incorrectly preserving GC objects.

@janvorli Any

[2020-01-28 02:06] AlgorithmsAreCool commented on #2205
@Drawaes that stack trace is exactly like mine, and i was stress testing my code when it happened.

Can you test your code under a netcoreapp5.0 preview?
That fixed it for me(although i can't take a preview to production :/)

[2020-01-28 02:08] #1848 closed

[2020-01-28 02:36] ThadHouse opened #2270 "Add docs for cross compiling Mono for arm"
One of the big advantages of adding Mono as a runtime target is the support for much easier builds on more obscure platforms, such as armel, which are approaching impossible to being buildable. Mono has support for many of these platforms, which would be awesome to have full .net core support on. My specific use case is armel, which does have an RID and has been well tested in Mono except for a kn

[2020-01-28 02:48] josalem commented on #2230
Could this be related to #2215?

[2020-01-28 02:50] harsha544 commented on #1862
@BruceForstall we made considerable efforts to port coreclr to IBM's ppc64le arch, we started closely monitoring ARM Cross-compilation on x86_64, however with Microsoft's decision to consolidate  repo(s) and merge into dotnet/runtime, the instructions listed were still old/not-precise until few days back.

Instructions here https://github.com/dotnet/runtime/blob/master/docs/workflow/building/corec

[2020-01-28 02:56] jkotas opened #2271 "RunContinueWithStressTestsNoState timing out in CI"
[code]

I have seen this on multiple PRs.

Runfo Tracking Issue: [system.threading.tasks.tests timeout](https://runfo.azurewebsites.net/tracking/issue/40)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Results|Run Client|
|---|---|---|---|---|---|---|---|
|[143308](https://dev.azure.com/dnceng-public/public/_build/results?buildId=143308)|[runtime](https://dnceng-public.visualstudio.com/pub

[2020-01-28 02:57] jkotas commented on #2271
Failed in https://github.com/dotnet/runtime/pull/2237 on "Libraries Test Run checked coreclr Windows_NT x86 Release"

[2020-01-28 03:12] BruceForstall commented on #1862
At this point, most of the main documentation files on "how to build" have been updated (as far as I know). I'm sure there is room for them to improve. The documentation probably will never be comprehensive in describing the "build.sh" command-line arguments.

As a concrete example, when I cross-build for Linux ARM32 in a Linux/x64 Docker container that contains the correct (current) rootfs, I do

[2020-01-28 03:16] BruceForstall commented on #1664
@MattGal Can you suggest someone with knowledge of the Helix xunit reporter upload to AzDO that might be able to investigate this?

[2020-01-28 03:37] benaadams opened #2273 "What tier does ProfileOptimization use?"
From https://github.com/dotnet/aspnetcore/issues/18605#issuecomment-579027883

Does it  eagerly jit at Tier0 or Tier1?

How does it interact with R2R?

/cc @AndyAyersMS @kouvel

[2020-01-28 04:13] YohDeadfall commented on #2242
Indeed... In that case it's just a perf issue.

[2020-01-28 04:18] ahsonkhan commented on #2220
@maryamariyan - the bot didn't label this issue.

[2020-01-28 05:56] jaredpar commented on #1664
@jkoritzinsky

Roslyn doesn't use Helix yet so it's not a common factor for this.

Note: it should be possible to see if we are or aren't escaping by looking at the raw xUnit logs. They should be available in XML form for every test that fails in Helix correct? If so we can just look there and see if the values are escaped. That would at least eliminate infra in dotnet/runtime as the culprit.

[2020-01-28 06:09] GrabYourPitchforks commented on #2251
@tannergooding Is the Ryzen CPU listed here one of the models that suffers from poor `pdep` / `pext` performance? Those instructions can occur on the ASCII processing code paths.

I can investigate using some of the SIMD instructions here where possible (`packuswb` and the like), but it's almost certainly going to increase the latency in these code paths.

[2020-01-28 06:10] jaredpar commented on #2022
Indeed. The `AssemblyLoadContext` implementation in our tests use the TPA as part of it's decision on whether to load the desktop or .NET Core version of a given assembly. The TPA changed between `netcoreapp2.1` and `netcoreapp3.0` such that the `Microsoft.VisualBasic.dll` present in our output directory was added to the TPA list. Hence our test code began preferring that, a desktop version of Mic

[2020-01-28 06:10] #2022 closed

[2020-01-28 06:39] GrabYourPitchforks commented on #2214
Is the `CancellationToken` parameter at the end correct? I thought the pattern was that the `IAsyncEnumerable<T>`-returning component didn't take a `CancellationToken` and that a token was instead passed via an extension method.

[2020-01-28 06:41] #2186 closed

[2020-01-28 07:16] Maoni0 opened #2274 "FinalizeWeakReference should distinguish between when EE is suspended and when it's not"
when EE is suspended this should do very little work. right now it's written in the way that always prepares for when EE is not suspended. we don't even call it with EE is not suspended but we will in the future. when we are doing blocking GCs this should not do extra work as it lengths the STW pauses.

[2020-01-28 07:18] ahsonkhan commented on #2205
Yes. I just tested the above test and it has been fixed in master. We should backport the fix as part of a the release/3.1 serivcing.

[2020-01-28 07:18] ahsonkhan commented on #2205
Waiting to close until https://github.com/dotnet/runtime/pull/276 has been ported.

[2020-01-28 07:29] tmds commented on #2204
If you want to create a pop-up that asks for root credentials, you do try something like this:
[code]

[2020-01-28 07:53] wfurt commented on #2185
It seems like a system limit for open files has changed. With the current limit ~ 10K, it takes more than 20 minutes to exhaust system resources on my MacBook. I have some ideas on how to fix the test to be more predictable.

[2020-01-28 09:11] MichalStrehovsky commented on #1258
Is the plan to keep `canInlineTypeCheck` and only delete `canInlineTypeCheckWithObjectVTable`?

I'm asking because if we ever want to bring e.g. frozen string literals or preinitialized arrays a la .NET Native into CoreCLR (building on top of the existing `FEATURE_BASICFREEZE` in the GC), we would want to keep the ability to disable inline typechecks for those - .NET Native relied on emitting mult

[2020-01-28 10:07] desdoades commented on #2252
@tarekgh Thanks. Will this also be fixed in a future 2.1.x release or do I have to upgrade or change the short date pattern manually?

[2020-01-28 10:39] jamescourtney commented on #2251
That's really interesting, actually. I've learned something today!

Based on my reading, it looks as if this instruction is implemented in microcode on my chip, while Intel has a hardware implementation for it. Also understand why the CLR wouldn't want to be in the business of micro optimizations like this for different architectures.

Running a quick experiment using the Kernel32 APIs for MultiBy

[2020-01-28 10:56] tomesendam commented on #1946
@stephentoub that's the question. I'm asking if that's possible at all.

[2020-01-28 10:57] janvorli commented on #1723
It is strange, the failure is still there and I can see that coreclr build has used the right docker image.
However, there is something strange. The installer build has failed at the packaging time, so it is not clear to me where it has taken the dotnet binary for running the tests from. If it uses some previously built dotnet sdk for it, that would explain the fact that the problem persists. It i

[2020-01-28 11:00] stephentoub commented on #1946
Warnings for that would easily be wrong. You don't know whether a custom dop was stored into the options or not.

[2020-01-28 11:23] tomesendam commented on #1946
@stephentoub well if it's not possible then it's not possible. Then we should just make this clear enough in the documentation.

[2020-01-28 12:06] Symbai commented on #2204
@tmds Thanks, this is what I want.

[2020-01-28 12:06] #2204 closed

[2020-01-28 12:53] YohDeadfall commented on #2242
Since there is nothing to fix (the serializer doesn't support private properties), closing this. #2278 removes creation of info for non-public properties.

[2020-01-28 12:53] #2242 closed

[2020-01-28 13:07] kgkoutis commented on #2250
@jeffschwMSFT I see the difference in the commit, however following the link that you gave me did not solve the issue. Also, the commit appears the same.

[2020-01-28 13:08] cmeeren opened #2279 "Use Uri.ToString() instead of Uri.OriginalString when serializing Uri"
When serializing a `Uri`, System.Text.Json seems to use `Uri.OriginalString`. Unfortunately this may not be correct if the Uri has been transformed by a UriBuilder, see https://github.com/dotnet/corefx/issues/41679. Specifically, `OriginalString` may contain a port that was not in the original `Uri` and which can be avoided by using `Uri.ToString()`.

Quoting @davidsh https://github.com/dotnet/cor

[2020-01-28 13:21] kgkoutis commented on #2250
@jeffschwMSFT Update: using `brew cask install dotnet-sdk` did the trick for me. Thanks for the help

[2020-01-28 13:21] #2250 closed

[2020-01-28 13:23] harsha544 commented on #1862
@BruceForstall - Thanks, I will give cross-compile ARM on x86_64 inside docker env a try.

I along with @SriramaSharma would like to propose adding a new architecture ( IBM's ppc64le ) for _dotnet/runtime_ repo and we are making progress towards the same. I will propose via a new github issue unless there is a standard template that needs to be submitted.
FWIW, is there a weekly community call whe

[2020-01-28 13:58] stephentoub opened #2280 "GCExtendedTests.GetTotalAllocatedBytes failed on Mono on Ubuntu in CI"
https://dev.azure.com/dnceng/public/_build/results?buildId=494262&view=ms.vss-test-web.build-test-results-tab&runId=15733104&resultId=166198&paneView=debug
[code]
cc: @akoeplinger

[2020-01-28 14:00] khellang commented on #2214
I think so, yes. I'm assuming the `CancellationToken` parameter would be annotated with an `EnumeratorCancellationAttribute` and used inside the actual implementation, like this:

https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d5f227d30e723/src/libraries/System.Threading.Channels/src/System/Threading/Channels/ChannelReader.netcoreapp.cs#L19-L28

This was the only similar API I c

[2020-01-28 14:26] stephentoub commented on #2198
@jaredpar, how do I see on what build configurations this is failing? e.g. in the above queues you listed, are these all using a release coreclr, or a checked coreclr, or a mix?  I haven't reproduced it locally yet.

[2020-01-28 15:01] akoeplinger commented on #2280
@BrzVlad can you please take a look at whether this test makes sense on Mono's sgen? https://github.com/dotnet/runtime/blob/2645da670164c4a2e3acd662ff23888f217d135f/src/libraries/System.Runtime/tests/System/GCTests.cs#L847

[2020-01-28 15:18] BrzVlad commented on #2280
We added this API just recently. It's not clear why it fails this way, it should work. @naricc can you take a look ?

[2020-01-28 15:32] tannergooding commented on #2251
Yes. `pdep`/`pext` are implemented in Microcode for all zen microarchitectures.

You can see this in the `x86 instruction scheduling model` that AMD contributed for LLVM:
* Znver1 - https://github.com/llvm/llvm-project/blob/master/llvm/lib/Target/X86/X86ScheduleZnver1.td#L748-L752
* Znver2 - https://github.com/llvm/llvm-project/blob/master/llvm/lib/Target/X86/X86ScheduleZnver2.td#L748-L752

`Write

[2020-01-28 15:46] Sm1le291 commented on #721
Hi! I have similar problem with Microsoft.NETCore.App 3.1.1 on openSuse Linux
I am trying to execute dotnet solution and it told me that it has found only SDK version 3.1.0

[2020-01-28 16:05] naricc commented on #2280
Yes, I am looking into it. First thought; is this just failing because mono and the dotnet-core runtime use diffirent object layouts and thus allocate different amounts of memory? The difference is like .4 %

[2020-01-28 16:13] BrzVlad commented on #2280
This has nothing to do with coreclr. According to the failure, this counter is not monotonic on mono.

[2020-01-28 16:29] tarekgh commented on #2252
No, the fix is not there. 2.1 now is servicing release which the bar is very high to fix anything there especially if there is an easy workaround for the issue.

[2020-01-28 16:34] naricc commented on #2280
Ah, I see.... We only ever add to the counter, so maybe it is a synchronization error where two threads are clobbering the value. Except the test itself looks single threaded?

Any way, looking into it.

[2020-01-28 16:38] BrzVlad commented on #2280
Also the test expects the precise value to be lower than the imprecise value, for whatever reason. I'm not sure we guarantee this, or if we do, we do it by accident. Maybe also double check there if we can have same behavior.

[2020-01-28 16:52] stephentoub opened #2284 "GetContext_InvalidRequest_DoesNotGetContext failing on Mono in CI"
This test is frequently failing on Mono in CI:
e.g.
https://dev.azure.com/dnceng/public/_build/results?buildId=499316&view=ms.vss-test-web.build-test-results-tab&runId=15871258&resultId=170215&paneView=attachments
[code]
cc: @akoeplinger

[2020-01-28 16:56] dagood commented on #246
Closing: as of https://github.com/dotnet/runtime/pull/1835, non-CI builds no longer use the date for filenames! 🎉

[2020-01-28 16:56] #246 closed

[2020-01-28 17:04] MattGal commented on #2185
Yes, at the request of folks from the runtime team our Macs should have:
[code]
... this was requested specifically so various folks' tests could pass.

[2020-01-28 17:08] akoeplinger commented on #2228
Closing in favor of https://github.com/dotnet/runtime/issues/2284

[2020-01-28 17:08] #2228 closed

[2020-01-28 17:08] MattGal commented on #1664
@jaredpar 's comment likely obviates this but you can read the full sources here: https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Helix/Sdk/tools/azure-pipelines/reporter/azure_devops_result_publisher.py and @alexperovich wrote it.

[2020-01-28 17:12] nick-beer opened #2286 "Inconsistent behavior in Directory.GetDirectories when using long path prefix (\\?\)"
While porting to .NET Core, our test suite uncovered a difference in behavior in the Directory.GetDirectories API depending upon whether the long path prefix "\\\\?\\" is used or not.  Consider the following code:

[code]
The first call to GetDirectories throws an IOException stating

The second call to GetDirectories returns the expected (admittedly questionably so) directories and does not throw

[2020-01-28 17:18] MihaZupan commented on #2279
Related: dotnet/corefx#41733 microsoft/OpenAPI.NET#441 JamesNK/Newtonsoft.Json#2190

Changing the value used to ToString would mean writing different json than Json.Net, as Uris that were originally escaped would be written in unescaped form. While such Uris can be reconstructed, this would break anyone depending on the serialization behavior.
I doubt Json.Net would consider making such a change a

[2020-01-28 17:30] jkotas commented on #1258
I guess we can keep `canInlineTypeCheck`. We can discuss what makes sense to cleanup and keep in the JIT/EE interface cleanup PR.

[2020-01-28 17:51] GrabYourPitchforks commented on #2251
@jamescourtney - Can you set the environment variable `COMPLUS_ENABLEBMI2=0` and see if that improves your performance? That will disable the BMI2-specific instructions that we use as an optimization.

[2020-01-28 17:53] talboren opened #2288 "Buggy extraction mechanism in the Single-file executable feature introduced in .NET Core 3.0"
### Describe the bug
My application is using NServiceBus as the implementation to the Service Bus pattern.

NServiceBus generates several SQL scripts for its persistence mechanism and then executes those script when starting up (to create the necessary tables), these scripts are generated by an MSBuild task at compile time.
The scripts are generated in to a folder called NServiceBus.Persistence.Sq

[2020-01-28 17:55] trylek commented on #2267
Hmm, I guess that's probably my overlooking, I can easily set it up to run daily.

[2020-01-28 18:01] #2199 closed

[2020-01-28 18:08] jaredpar opened #2289 "CoreCLR and Mono artifact publishing is conflicting"
The CoreCLR and Mono Build legs are uploading build artifacts using the same name. Consider for example Windows x64 release builds. There is a single artifact uploaded, BuildLogs_Windows_NT_x64_release, even though both the Mono and CoreCLR builds are producing and uploading this artifact. This effectively means we only see the build articts from the one which ran last and effectively removes our

[2020-01-28 18:12] safern commented on #1723
We get the host here:
https://github.com/dotnet/runtime/blob/master/src/libraries/restore/runtime/runtime.depproj#L50

I just put up a PR to update the version to use the latest produced host from dotnet/runtime. I will update that in the branch where I update the container and queue another build.

[2020-01-28 18:20] steveharter commented on #1562
I assume this is because different collections may need different converters for their elements. Otherwise, you'd just specify a converter for the element type which would be used for both single object and collection elements.

[2020-01-28 18:22] safern commented on #1723
I queued: https://dev.azure.com/dnceng/public/_build/results?buildId=499531

Thanks for the investigation @janvorli. @dagood might know faster than I do what we should update for packaging to work on the installer side.

[2020-01-28 18:54] #1967 closed

[2020-01-28 19:00] StephenBonikowsky commented on #1518
@AArnott Thanks for reporting this!

[2020-01-28 19:08] naricc commented on #2280
So I am a bit confused due to the repo move and all; how do I actually run this test locally?

[2020-01-28 19:08] dagood opened #2294 "Stop dotnet/runtime from building NETStandard.Library.Ref 2.1.0?"
Right now, dotnet/runtime produces and publishes packages like `NETStandard.Library.Ref.2.1.0-alpha.1.20078.2.nupkg` from the official build.

This isn't *too* unexpected: dotnet/runtime is responsible for creating NETStandard targeting packs until dotnet/standard is able to build them itself: https://github.com/dotnet/standard/issues/1209.

I don't think we should be building version `2.1.0` thou

[2020-01-28 19:14] nahk-ivanov commented on #1562
@steveharter, sorry, I don't fully understand what you are trying to say.

There is a difference between
[code]
and
[code]

First converter is expected to return an `IEnumerable<MyObject>`, while the second one will be creating instances of `MyObject` directly.

If I'm not missing any APIs - first one is possible and second one is not today. What I was trying to say is that second scenario is very

[2020-01-28 19:17] wfurt commented on #1862
cc @janvorli for the  ppc64le

[2020-01-28 19:18] akoeplinger commented on #2280
You can follow https://github.com/dotnet/runtime/blob/master/docs/workflow/testing/mono/testing.md and then run the tests in src/libraries/System.Runtime/tests

[2020-01-28 19:20] steveharter commented on #1562
Today the converter for 'MyObject' can be specified by placing `[JsonConverter]` on that type, or by calling `JsonSerializationOptions.Converters.Add(myConverter)` where `myObjectConverter`. The converter will get called for every `MyObject` whether in a collection, another property or root.

I'm assuming this wouldn't work for your scenario?

[2020-01-28 19:24] alexperovich commented on #1664
The build linked in the issue is too old for the results file to still exist. I looked at the latest build but the xunit file isn't avaliable for the JIT.HardwareIntrinsics work item. If we can catch another instance I can grab the xunit file and check.

[2020-01-28 19:26] BruceForstall commented on #1862
There is no community call meeting that I am aware of.

Note that PPC support has been requested and discussed in several issues (in the unmerged repos): https://github.com/dotnet/coreclr/issues/17294, https://github.com/dotnet/coreclr/issues/26252.

cc @richlander Platform porting work

[2020-01-28 19:27] BruceForstall commented on #1664
@alexperovich How about https://dev.azure.com/dnceng/public/_build/results?buildId=498865&view=ms.vss-test-web.build-test-results-tab&runId=15859996&resultId=109037&paneView=debug

[2020-01-28 19:32] dagood commented on #1723
This sounds like a failure for the Installer jobs to properly find the live bits, and getting it from packages instead. (Matching the rest of the comment.) @jkoritzinsky might know something about how this is happening silently since he wrote the live build override code.

I encountered something related where `OutputRID` wasn't being set properly--that property in particular must be `linux-musl-a

[2020-01-28 19:36] dagood commented on #1723
On a recent official build, the corehost ended up where it's expected fine:

[code]

https://dev.azure.com/dnceng/internal/_build/results?buildId=499150&view=logs&j=1c5cde80-30dc-5a19-5a62-3435737b176e&t=ca6580f5-e0e5-5a44-ef57-d2e78cef564b&l=275

[2020-01-28 19:45] MatthewLymer commented on #2293
Do it, I dare you!

[2020-01-28 19:45] dagood commented on #1723
The build args are identical (except build version), but the first few lines of the native build are different:

[code]

It looks like RID detection has gone bad due to changes in the container...

[2020-01-28 19:48] safern commented on #1723
I don't think it is related to the live build. @janvorli meant the dotnet that we use to run libraries tests, which is always acquired from a NuGet package in runtime.depproj. We have an issue to move libraries tests to use the live built host.

[2020-01-28 19:48] dagood commented on #1723
The new container probably broke this detection, checking...

https://github.com/dotnet/runtime/blob/23c54f183c9faf2049223a44197c6b8b282b90c4/eng/native/init-distro-rid.sh#L140-L143

[2020-01-28 19:56] dagood commented on #1723
The command output changed:

[code]

We could add the old detection method back in, it still looks like it works: https://github.com/dotnet/runtime/issues/1363#issuecomment-571694651

[code]

[2020-01-28 19:57] alexperovich commented on #1664
That workitem doesn't have the test results file uploaded for some reason. The older one did, it just doesn't exist anymore.

[2020-01-28 19:58] safern commented on #1723
Given this, I believe what we should do is, update the docker container image (keep tests disabled), fix the RID detection, then wait for an official build to produce a new host package, update the version to that one so that it contains @janvorli fixes in the rootfs folder and then run the tests using that host and see what happens.

[2020-01-28 19:58] BruceForstall commented on #1664
@alexperovich What should I look for to find the uploaded test results file?

Is there logging in this case that indicates _why_ there is no uploaded test results file?

[2020-01-28 20:02] alexperovich commented on #1664
I just used the JobId and WorkItemId in the Comments section in this api https://helix.dot.net/swagger/ui/index#!/WorkItem/WorkItem_ListFiles

I believe the xunit file is only avaliable in that old run because you guys have the legacy xunit reporter turned on. The VSTS reporter doesn't actually upload the file.

[2020-01-28 20:18] wfurt commented on #1488
no failure on Linux for 90 days. Some tests are still disabled on  OSX and ARM64 (tracked by https://github.com/dotnet/corefx/issues/32797).

[2020-01-28 20:23] svick commented on #2293
@terrajobst

Is this still true even with default interface methods? Does that mean https://github.com/dotnet/corefx/issues/41409 should be closed?

[2020-01-28 20:24] wfurt commented on #1082
This repo only tracks .NET Core issues. For the framework you should follow https://support.microsoft.com/en-us/supportforbusiness/productselection?sapId=df2c02f6-9610-d46d-2d76-fa570bd8c86a

cc: @davidsh in case he know the answer anyway.

[2020-01-28 20:24] #1082 closed

[2020-01-28 20:34] wfurt commented on #1132
Let's track the first issue here. I think that one is fixable. It would be nice if you add simple runnable repro @HugKitten. (and OS and version used)
Seeking on HTTP request/response is problematic in general. While it may be possible in some cases I don't think it could work in all cases and that would bring inconsistent behavior. If you feel strongly about it, please open a new issue with an HT

[2020-01-28 21:00] janvorli commented on #2230
I'll take  a look.

[2020-01-28 21:04] janvorli commented on #2230
@josalem I cannot find the dump - could you please tell me where to get it?

[2020-01-28 21:12] josalem commented on #2230
It got uploaded as part of the Helix workitem.  [Here's a direct link.](https://helix.dot.net/api/2019-06-17/jobs/b0c0372a-b88a-4c60-9a41-531c234769a0/workitems/PayloadGroup0/files/CoreRun.exe.4216.dmp)

The build artifacts can be downloaded from AzDO for symbols.

[2020-01-28 21:13] swaroop-sridhar opened #2300 "Single-file: Antivirus deletes extracted files"
In .net core 3.x, Single file apps run by extracting the embedded contents within the %temp% directory. The extracted binaries have the exact same content (including code signature) as the original files themselves. However, some Antivirus applications still perceive the extracted binaries are threats and delete them -- thus causing the single-file apps to crash.

In particular, this behavior is r

[2020-01-28 21:16] ThadHouse opened #2301 "Clarify steps for building the entire runtime and class libraries for armel"
Looking at all the documentation, building for armel seems to be supported, at least according to this document.

https://github.com/dotnet/runtime/blob/master/docs/workflow/building/coreclr/cross-building.md

However, this doesn't really go into how to build the runtime libraries, and how to package everything together for production use. A full guide on how to build for the 3 arm platforms (arm,

[2020-01-28 21:18] ThadHouse opened #2302 "Add docker image for cross compiling armel (Or post source to docker images)"
Cross compiler docker images for compiling arm and aarch exist, and it would be really nice if an armel docker image was added, seeing as it is supported by the build system.

Also, I couldn't find the source for the docker images, if those were posted somewhere this might be possible to do myself.

[2020-01-28 21:23] sdmaclea opened #2303 "CoreCLR -- Audit C++ use of macro names and identifiers with leading underscore"
@lpereira Noted that the use of identifiers with leading underscores is prohibited by the C++ standard in certain cases.

I will fix a number of them related to TARGET_* and HOST_*, but more remain.

 The general rule is that any identifier with a leading underscore or a double underscore is reserved for use by the implementation of the compiler et al. in global scope.  This includes macros.

See

[2020-01-28 21:26] danmosemsft commented on #1692
@jkotas would that work?

cc @ericstj

[2020-01-28 21:38] jkotas commented on #1692
`System.Runtime.InteropServices.dll` ships inbox on .NET Framework. You would need to use assembly redirects to replace the inbox one with your NuGet OOB version to do this properly (unless you want to have orphaned references at runtime). It gets you into a hell of overriding inbox .NET Frameworks components with NuGet packages, like what we have been with System.Net.Http.

What would work is cre

[2020-01-28 21:46] YohDeadfall commented on #2242
@ahsonkhan should this be listed under milestone 5.0?

[2020-01-28 22:03] lambdageek opened #2305 "[mono][loader] CI test failure "appdomain.c:1591, condition !ass->image->references [i]' not met""
Full assertion:

```* Assertion at /Users/runner/runners/2.164.6/work/1/s/src/mono/mono/metadata/appdomain.c:1591, condition `!ass->image->references [i] not met', function:add_assembly_to_alc, Did not expect reference 0 of /private/tmp/helix/working/AF4D0979/p/shared/Microsoft.NETCore.App/5.0.0/System.Net.Http.dll to be resolved```

Happened on an OSX CI lane.  [Failure log here](https://helix.do

[2020-01-28 22:05] danmosemsft commented on #1692
@AArnott do you see any issues with creating such a type forward yourself as suggested?

[2020-01-28 22:06] mikedn opened #2306 "JIT asserts when accessing Vector2/3/4 field via reinterpretation"
[code]
[code]
Basically morph doesn't notice that the field type is different than the SIMD base type and proceeds with replacing field access by `SIMD get[i]`:
[code]

category:correctness
theme:vector-codegen
skill-level:intermediate
cost:medium

[2020-01-28 22:24] wfurt commented on #807
If you still have system to reproduce it on, could you do packet capture with Wireshark @elonmallin?
I tried to reproduce but everything works fine for me. I do see two independent TCP connections and two independent TLS handshakes.
From the output, it seems like we at least process ServerHello message since you get second certificate callback.
We may need to enable schannel diagnostic to see why

[2020-01-28 22:25] kouvel commented on #129
Fixed by https://github.com/dotnet/runtime/pull/1457. When the JIT switches to optimized code for a method that contains a loop, the method's tier is updated after the native code slot is updated. There was a race where a parallel thread calling the same method would read the native code slot but not see the tier change, and thinks it needs to be counted.

[2020-01-28 22:26] kouvel commented on #129
Need to enable the test, reopening

[2020-01-28 22:34] ericstj commented on #2205
Removed Servicing Consider.  We should only use that on PRs ready to merge.
@JeremyKuhne can open a release/3.1 PR for this and add the template?

[2020-01-28 22:35] JeremyKuhne commented on #2205
Sure.

[2020-01-28 23:06] jamescourtney commented on #2251
Setting that environment variable resolves the issue completely. Write performance more than doubles over NetCore2.1:

[code]

[2020-01-28 23:24] AArnott commented on #1692
@jkotas In that case, the `lib\net472` folder can just contain the `_._` file so that nothing actually ships with a .NET Framework targeted app. No need to replace inbox assemblies with the nuget package content then, right?

@danmosemsft Yes, we *could* do that. At the cost of an assembly load in VS, likely in the startup path, where we typically monitor assembly loads very closely.

[2020-01-28 23:33] AArnott commented on #1692
@jkotas (cont.)... oh, but I guess the .NET Framework in-box version of System.Runtime.InteropServices doesn't have the type forwarder for the attribute. So we *do* need to provide a runtime facade assembly for this. That would be fine, but it's a bummer that it would mean another assembly load in VS.

[2020-01-28 23:36] terrajobst commented on #2293
We discussed this. We used to think that that DIMs *would* work, but when we walked the solution we concluded that it would result commonly in a shard diamond which would result in an ambiguous match. However, this was recently challenged so I think I have to write it down and make sure it's actually working or not working.

[2020-01-28 23:59] danmosemsft commented on #1692
I suggest to go this way for now and see whether it pops out of performance measurements you do when everything's working - I have no doubt there will be some things to fix.

[2020-01-29 00:01] #2156 closed

[2020-01-29 00:15] jkotas commented on #2136
Most of these internal places defined a NoBom + throwing. Do we want the encoding returned by this property to be non-throwing or throwing? Do we want to have both variants (throwing and non-throwing)?

[2020-01-29 00:18] Leonardo-Ferreira opened #2315 "Task.Kill - A Journey, Chapter 1: where do I begin?"
Ultimately speaking, my goal is to be able to kill (efficiently) a Task.
I imagine that the api would be something like:

     var myTask = DoSomethingAsync();
     myTask.Kill();

I feel that such a api would be very valuable to anyone creating platforms that will run code from third party developers, where you can't rely that the `CancellationToken` will be taken seriously.

So, please help me:

[2020-01-29 00:18] matkoch commented on #1374
`DOTNET_ROOT=/Users/runner/.dotnet`

But seriously, if I start `dotnet` from the freshly installed location, then it should OF COURSE consider the SDK that it's installed along with it.

[2020-01-29 00:19] matkoch commented on #1374
Please mark this as a  bug. No one can possibly expect this behavior.

[2020-01-29 00:22] tarekgh commented on #2136
I think providing both options (throwing and non-throwing) would be the best. but the priority would be for non-throwing as users will have more control.

[2020-01-29 00:22] dagood opened #2316 ""Libraries Test Run release mono Linux x64 Debug" known failures"
@akoeplinger is working on some tests in this job that are known to fail right now, and are missing skip attributes. (Please edit to add details, filing to reference when merging regardless.)

It seems to be flaky but is happening more often recently.

[2020-01-29 00:24] chuckries opened #2317 "ICorDebugManagedCallback::DebuggerError when unloading AssemblyLoadContext"
Running the following code in VS d16.5 typically fails with an error dialog due to the CLR's debugging interfaces returning DebuggerError with the error set to E_INVALIDARG.

[code]

originally reported here: https://developercommunity.visualstudio.com/content/problem/698374/vs2019-and-fatal-error-has-occurred-and-debugging.html

[2020-01-29 00:25] jaredpar commented on #2316
Is this failing in PRs? Can you link to a few builds where this is happening?

[2020-01-29 00:30] caioproiete commented on #2136
A simple `UTF8NoBOM` property should be non-throwing for consistency with the other properties in the `Encoding` class (UTF8, Unicode, BigEndianUnicode, etc...) which are all non-throwing.

My understanding is that a non-throwing instance is always used for reading (relaxed), whilst a throwing instance is always used for writing (strict), so it would be great if both options were available.

[2020-01-29 00:30] dagood commented on #2316
Yes, PRs. For me, https://dev.azure.com/dnceng/public/_build/results?buildId=499534&view=results for https://github.com/dotnet/runtime/pull/2291. @safern also noticed it somewhere. There's a thread on Teams, infra channel.

[2020-01-29 00:36] jkotas commented on #2136
That is not correct. For example, the new JsonReader uses throwing to reject invalid UTF8 data: https://github.com/dotnet/runtime/blob/master/src/libraries/System.Text.Json/src/System/Text/Json/Reader/JsonReaderHelper.Unescaping.cs#L39

From security point of view, it is always better to use throwing variant because of it prevents invalid data from getting through the system.

I won't disagree if

[2020-01-29 00:42] dagood opened #2319 "Official build break in publish stage: NuGet library mismatch vs. SDK"
First repro: https://dev.azure.com/dnceng/internal/_build/results?buildId=499590&view=results

This is a common class of issue where the Arcade SDK is built against a certain NuGet version, but the SDK contains another that is incompatible when used at runtime. We recently updated the SDK, triggering it.

We need to update the Arcade SDK to take this fix: https://github.com/dotnet/arcade/issues/19

[2020-01-29 00:46] jkoritzinsky commented on #2319
Our maestro PR is currently blocked on something. It looks like it might be linker issues. https://github.com/dotnet/runtime/pull/2074

[2020-01-29 00:47] caioproiete commented on #2136
Interesting, thanks. I read the comment "[_The high level goal is to be tolerant of encoding errors when we read and very strict when we write_](https://github.com/dotnet/runtime/search?q=%22The+high+level+goal+is+to+be+tolerant+of+encoding+errors+when+we+read+and+very+strict%22&unscoped_q=%22The+high+level+goal+is+to+be+tolerant+of+encoding+errors+when+we+read+and+very+strict%22)" in different fi

[2020-01-29 00:51] dagood commented on #2319
Alternative: downgrade the SDK. (Optionally, disable restoring internal tools to also remove flakiness.)

[2020-01-29 01:09] dagood commented on #2319
FYI @dotnet/runtime-infrastructure

[2020-01-29 01:09] safern commented on #1723
What I don't understand is that coreclr build for linux arm on the same build, using the same docker container, set the RID correctly:

[code]

@dagood how would that be any different?

I just tried running the Init RID script that we use in a container using the new image and it prints the right output.

[2020-01-29 01:14] safern commented on #2319
I just merged a PR which should hopefully help with that.

[2020-01-29 01:16] dagood commented on #1723
The issue is the `musl` part, Linux arm (implicitly glibc) is not affected.

I can't explain that. I'd suggest trying the commands in `init-distro-rid.sh` to try to see why they might be working differently in your environment than mine (and presumably the build machines').

[2020-01-29 01:17] GrabYourPitchforks commented on #2315
I suggest reading about the problems with `Thread.Abort`. That will give you a good handle on why .NET Core has largely abandoned the abortive cancellation model. In summary, the overwhelming majority of code (including within .NET Core itself) is not written to be resilient to abortive cancellation, and attempting to do could corrupt the global process state. Developers are instead encouraged to

[2020-01-29 01:21] dagood commented on #1723
May have found a missing bit of context--this isn't quite right:

It has always been `linux-musl-arm64.Release` for Core-Setup/Installer.

[2020-01-29 01:25] sdmaclea opened #2322 "Corrupt linux format.patch"
My pull request introduced some CoreCLR JIT format errors.

The format.patch artifact was corrupt.  It contained superfluous diffs.  The superfluous diffs included files from mono which my PR didn't touch as well as a diff of format.patch itself.

[code]

[2020-01-29 01:27] BruceForstall commented on #2267
I manually ran the pipeline, and it's clean:

https://dev.azure.com/dnceng/public/_build/results?buildId=499679&view=results

Hopefully it does what it is supposed to do, but I don't know how to check that with the current system not saving success logs.

[2020-01-29 01:28] lpereira commented on #2322
I know that Mono has some `.gitattributes` forcing some files to have CRLF line endings (I don't know about why; the source history wasn't much helpful; maybe those files should be nuked?). Maybe related?

[2020-01-29 01:29] sdmaclea commented on #2322
Looks like when we ported to `dotnet/runtime`, we accidentally checked `format.patch` into the repo.

[2020-01-29 01:32] sdmaclea commented on #2322
Looks like #1735 added format.patch.  @erozenfeld I assume this was accidental.

[2020-01-29 01:33] ahsonkhan commented on #2242
I believe so, yes. I don't think any other milestone makes sense here and this issue _was_ created while working on the current milestone.

[2020-01-29 01:37] safern commented on #1723
You’re right probably since I got confused enough from my local environment, I just wanted to read -musl-arm64 and my mind betrayed me, haha.

Yeah, I’ll keep digging a little bit.

@am11 any ideas?

This is the failing build: https://dev.azure.com/dnceng/public/_build/results?buildId=498569

[2020-01-29 01:37] dagood commented on #1723
Found something interesting. The `ldd` in the new image is a symlink, not a binary. I don't know why this would be the case, but it probably explains why the error is different. *Some* sort of difference makes sense because https://github.com/dotnet/arcade/pull/4657 changed some native tooling versions.

[code]

[2020-01-29 01:41] dagood commented on #639
Fixed in dotnet/runtime for 5.0+ by https://github.com/dotnet/runtime/pull/2291.
core-setup 3.0: https://github.com/dotnet/core-setup/pull/8991
core-setup 3.1: https://github.com/dotnet/core-setup/pull/8992

I've opened https://github.com/dotnet/runtime/issues/2294 to independently decide whether to keep building NETStandard in `master`.

[2020-01-29 01:41] janvorli commented on #2230
I have figured out what's going on. It is not a corruption. The check that fails is actually wrong in this state where we have just returned from a PInvoke and the stack walk was triggered from the JIT_PInvokeEndRarePath.

The problem is actually quite interesting and it has to do with the calling convention of the function that was pinvoked - namely the fact that the callee pops the arguments fro

[2020-01-29 01:50] janvorli commented on #1723
You are right, I was mistaken in this - it is that way for coreclr / libraries, but not for installer.

[2020-01-29 01:56] janvorli commented on #1723
That's the reason for the failure. The link is relative, so it ends up trying to execute the aarch64 binary in the rootfs (the crossrootfs/arm64/lib/ld-musl-aarch64.so.1). In the previous image, it was a shell script that tried to load /lib/ld-musl-aarch64.so.1 using absolute path, so it was looking for it out of the rootfs and didn't find it.

[2020-01-29 01:59] sdmaclea commented on #2322
@BruceForstall I was pretty sure the format checking used to only check the coreclr src/jit directory.  Perhaps mono also support format checking, but their formatting is broken...

[2020-01-29 02:05] BruceForstall commented on #1664
@alexperovich When I look at the Helix api above I can grab the console log for my example case, here:

https://helix.dot.net/api/2019-06-17/jobs/d6ddab18-811b-40b1-b694-f49decd8f192/workitems/JIT.HardwareIntrinsics/files/console.17dc63b4.log

This has some interesting sections, e.g. uploading the results:
[code]

Isn't this the Helix uploader?

I guess you wanted to see the XML file to see what i

[2020-01-29 02:15] BruceForstall commented on #2322
Yes, the format job should only check src/coreclr/src/jit. If that's not true, it's a bug.

[2020-01-29 02:17] BruceForstall commented on #1664
One of the AzDO logs shows:
[code]
but I don't know where that ends up.

[2020-01-29 02:21] GrabYourPitchforks commented on #1478
The related item https://github.com/dotnet/corefx/issues/7864 was discussed and approved in today's API review. Closing this item.

[2020-01-29 02:21] #1478 closed

[2020-01-29 02:31] benaadams opened #2325 "Jit double zeros"
Given [sharplab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8BYAKAAEAGAAnIEYA6AIQFcAzNmKXAbjKtqMASiwB2GAJb4YDAMIR8ABwkAbLgGUuANwlgYvMvwDMtAEzVZ1MgG8y1e7RPkU1ALIAKAJRXSD6rd8/By1sKGpsfGBqAF5qAEFcAE9RMAA1bBUWGHIkVxgMAAsIABNWVWKuAB4hGGximtwWFQwAPjlYbAwYLz5A+wBfMkHSY2oO4ohRFUTqXAwoFjAMahq6hqaMGzsHCXEuUQyx2ompmdXigHlTzQBHLJSYSuBErpbqAH1YRubWDi5evy7LpQA4qI51SbTahAj5fDYAMRU2AA5gZSP0gA)
[code

[2020-01-29 02:32] GrabYourPitchforks commented on #256
@tannergooding is there anything missing from the proposal? If not I suppose we can mark it ready for review.

[2020-01-29 02:39] GrabYourPitchforks commented on #414
@kevin-montrose, can you clarify what .NET Core versions you were running the repro on? I see from your repo that you're targeting _netcoreapp3.0_, but the demo file there seems like it's testing extra functionality and I don't know whether it affects the runtime you're intending to target.

[2020-01-29 02:46] am11 commented on #1723
[`ldd(1)`](http://man7.org/linux/man-pages/man1/ldd.1.html) is an executable program that is even available in the minimal base systems of various distros, symlink'ing it to an so library is something that should be avoided? What was the reason to create this symlink, is it caused by some typo?

[2020-01-29 02:47] AndyAyersMS commented on #2325
cc @erozenfeld

[2020-01-29 02:51] GrabYourPitchforks commented on #474
By design - dupe of https://github.com/dotnet/coreclr/issues/2051. If you want to perform an ordinal (non-linguistic) comparison, pass `StringComparison.Ordinal` or `StringComparison.OrdinalIgnoreCase` to one of the `string.StartsWith` overloads.

[2020-01-29 02:51] #474 closed

[2020-01-29 02:56] GrabYourPitchforks commented on #786
Related: https://github.com/dotnet/runtime/issues/2251

[2020-01-29 03:05] #129 closed

[2020-01-29 03:12] sdmaclea commented on #2322
So I understand the failure.  @lpereira guess was good.

From the logs
[code]

So part of the problem is that the jit diff is generated by running clang-tidy to modify the files in place.  Then we run `git diff` on the repo whole to generate the patch.  Because these files are in the repo wrong they show up in the diff.

We can make this more robust by only running the git diff on `src/coreclr/src

[2020-01-29 03:19] GrabYourPitchforks commented on #895
I'd like to put a finer point on something mentioned earlier. The AES standard that we all know and love supports __only__ a 128-bit block size. If an application is using Rijndael with a 256-bit block size, it's almost certainly doing something custom which doesn't conform to any industry standard or regulation.

I understand the desire to keep the surface area small for consumers of this applica

[2020-01-29 03:45] AArnott commented on #1692
sounds good. I guess we can close this issue for now then.

[2020-01-29 03:45] #1692 closed

[2020-01-29 04:05] benaadams commented on #2325
A more specific/common example is async, for example ReadResults in System.IO.Pipelines; which may be more problematic as currently the C# statemachine generation inserts the saving of parameters before the call to `.Create` and assign, which does the second zeroing.
[code]
[code]

[2020-01-29 04:46] YohDeadfall commented on #2242
Does it mean that to get a list all fixes and changes pull requests should be used instead? Am wondering how to determine was an issue resolved or was wrong without opening it.

[2020-01-29 04:54] sdmaclea commented on #2303
There are quite a lot.

[code]

Most are in src/coreclr/src/pal. Maybe they are OK...

[2020-01-29 05:08] BruceForstall commented on #2306
@tannergooding @CarolEidt @echesakovMSFT

[2020-01-29 05:10] BruceForstall commented on #2322
Related: https://github.com/dotnet/runtime/issues/2222

[2020-01-29 05:27] ufcpp opened #2330 "order of DeclaredMethods"
I found order of `DeclaredMethods` is a bit strange when the number of members are greater than 85.

step to repro:

https://gist.github.com/ufcpp/06e2c9e82c0c518b654c0e30eeb9cd63#file-methodorder-cs

expected result:

All of the result of `Console.Write` are

[code]

actual result:

The result using Type.GetMethods/TypeInfo.DeclaredMethods [on .NET Core 3.0](https://gist.github.com/ufcpp/06e2c9e8

[2020-01-29 05:41] wfurt commented on #2198
This now seems to fails with NRE on Linux & OSX

[code]

[2020-01-29 05:46] wfurt commented on #2238
this seems like a wrong repo. Perhaps https://github.com/dotnet/aspnetcore ???
cc: @Tratcher

[2020-01-29 05:46] jkotas commented on #2230
I do not think that this is the problem. The contract for `m_pCallSiteSP` always was that it ESP after pushing the arguments. It is documented in the doc - look for:
[code]

I think the problem is  https://github.com/dotnet/runtime/blob/master/src/coreclr/src/vm/i386/cgenx86.cpp#L617 in combination with https://github.com/dotnet/coreclr/pull/22560#discussion_r261204782 .

The ReadyToRun helper doe

[2020-01-29 05:47] jkotas commented on #2230
cc @fadimounir

[2020-01-29 05:48] jaredpar commented on #2198
@stephentoub

Not sure there is a good way from the test run name. The name listed there is the label our YML adds as it expands out the templates. I agree it's unclear at a glance if the "Release" portion refers to libraries, runtime or both.

@ViktorHofer is there a way to decipher these in their current form?

[2020-01-29 06:00] wfurt commented on #2198
You can do this in Kusto explorer. (and that also give you stack traces)
[code]

I currently see 302 failures. In the last 90 days, it only failed on 2020-01-25 11:36:00.1750000 GMT and consistently after. It is failing on mix of OS and both Release and Debug builds.

[2020-01-29 06:11] wfurt commented on #2198
One more note, that if you have a link to console like:
https://helix.dot.net/api/2019-06-17/jobs/33f64f22-23da-4692-8be1-b87e3cd3473d/workitems/System.Threading.Tasks.Tests/console

going all the way up to above `workitems` gives you basic info:
https://helix.dot.net/api/2019-06-17/jobs/33f64f22-23da-4692-8be1-b87e3cd3473d/

`Properties` will have OS, Configuration (release/debug) and Architectur

[2020-01-29 06:12] Tratcher commented on #2238
System.Text.Json can't serialize arbitrary complex types, and the request object is really complicated. You should only capture the key elements like the headers, full url, method, etc..

[2020-01-29 06:35] dehghani-mehdi commented on #895
@GrabYourPitchforks

I don't control over their data and I have to use Rijndael with a 256-bit block size, because they do. I'll try to contact them and maybe send link of this issue to them, maybe they change their implementation. in the meanwhile, what you mean by `use a standardized algorithm approach`.

[2020-01-29 06:52] jkoritzinsky commented on #2319
I’d rather not downgrade the SDK since to unblock #2115 and dotnet/sdk#3884 I need to update to an SDK with #2264 once that’s published (which would be after we fix this, but would lead us back to the same problem very quickly).

I think we should either update our dotnet/arcade subscription or back out the linker upgrade from the Maestro PR until the blocking issue is fixed.

[2020-01-29 07:02] damageboy commented on #2251
Just adding a small something to this discussion.
While it's early in my morning and I'm too groggy to actually look at the code calling PDEP...
If we had something like CPUID and willingness to use specific code paths depending on CPUID @ runtime, some PDEPs can be converted rather efficiently to beat AMD's microcode:

https://github.com/zwegner/zp7

[2020-01-29 07:09] fghzxm commented on #2127
A common scenario could be implementing a TUI and maintaining a dictionary of `ConsoleKeyInfo`s to hotkey handlers (think of tmux or emacs or anything that allows programmable hotkeys).  It is possible to use an equality comparer lambda, but it would be nicer for `ConsoleKeyInfo` to already implement `IEquatable`.

[2020-01-29 07:09] Drawaes commented on #2315
Adding to above, if you have misbehaving 3rd party libraries that you must run and you can control. Then I would suggest and have done before writing a method to launch them inside their own process and communicate the results via something like pipes. Then you can terminate the process safely without hurting your app if they freeze/don't return.

[2020-01-29 07:40] dagood commented on #1723
It looks like `ldd` was officially a symlink to the library in Alpine until https://gitlab.alpinelinux.org/alpine/aports/commit/d4a7955cc72b9395779c20755df88f983763c43b changed it to an executable script, if I'm reading that commit and the context right. From the linked email thread, seems like it was considered a bug.

I don't know exactly what versions are involved here... https://github.com/dot

[2020-01-29 07:56] GrabYourPitchforks commented on #895
"Use a standardized algorithm" means migrate to AES proper, as recommended in an earlier comment. You could write a tool in .NET Framework to perform this migration. Alternatively, you could use a third-party library (even from .NET Core) to perform this migration.

[2020-01-29 08:47] #1258 closed

[2020-01-29 09:23] ArtBlnd commented on #1140
I am collecting the model. I'll show all the testcases and its threshold ASAP.

[2020-01-29 09:40] karelz commented on #1488
@wfurt do we have any tests disabled against this specific bug? If not, let's close it.

[2020-01-29 09:42] janvorli commented on #1723
It was a fix - we were accidentally pulling in some stuff from the edge/main and edge/testing repositories like the latest libstdc++ into the Alpine rootfs. So that obviously pulled in the new way of ldd as a script.

[2020-01-29 09:48] ViktorHofer commented on #2319
I just removed the linker update (again) and disabled the subscription (again) to get the Arcade update in. @marek-safar is following-up on the break illink.

https://github.com/dotnet/runtime/pull/2074

[2020-01-29 09:52] vitek-karas commented on #2330
Please note that the user code must not rely on the ordering of the methods returned from reflection - DeclaredMethods is one such example. The API officially specified that the returned order is "undefined". The reason for the differences is that the method doesn't internally sort the list before returning it (for performance reasons), it simply walks the runtime structures. So any change to how

[2020-01-29 09:55] ViktorHofer opened #2332 "Use globally defined AssemblyVersion and FileVersion in ilproj"
Currently we hardcode the file and assembly version in our IL-only assemblies. See  https://github.com/dotnet/runtime/blob/ec7aac66c36bf12bf649b803568ca882d052205b/src/libraries/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.il#L44.

We should `ifdef` in the .il files and introduce those defines centrally for ilproj project files.

cc @ericstj @Anipik

[2020-01-29 09:58] ViktorHofer commented on #2198
Libraries Outerloop only runs on coreclr Release at the moment: https://github.com/dotnet/runtime/blob/ec7aac66c36bf12bf649b803568ca882d052205b/eng/pipelines/libraries/outerloop.yml#L23.

[2020-01-29 10:00] janvorli commented on #2230
@jkotas thank you, I've missed the comment on the m_pCallSiteSP.

[2020-01-29 10:06] am11 commented on #1723
@dagood, you are right, just realized that `.so` itself is an executable file. 😅

interestingly, i am unable to reproduce this issue:

[code]

[2020-01-29 10:08] tmds opened #2333 "[QUIC] open-source QUIC provider"
The prototyping efforts for QUIC, HTTP/3 are being done using the "msquic" library.

To make this usable in open-source builds of .NET Core, an open-source quic provider is needed. This allows source-build .NET Core packages to reference/include it.

If there are some QUIC providers that come with popular distros, it would be good to consider those. That avoids having to build yourself, and may co

[2020-01-29 10:33] janvorli commented on #1723
I am unable to repro it myself locally too. But I believe the reason is that I have qemu installed that can run the aarch64 code on my x64 Ubuntu. This is from my x64 machine:
[code]

[2020-01-29 10:35] sheitmann opened #2335 "Microsoft.XmlSerializer.Generator 2.2.0 - created assemblies are not added to the nuget package"
I followed this guide/example https://docs.microsoft.com/en-us/dotnet/core/additional-tools/xml-serializer-generator and used the workaround mentioned in #1390 to generate the XmlSerializer assembly.
When I enable the nuget package creation in the project settings the package is created but the XmlSerializer assembly is not included.

[2020-01-29 10:58] dehghani-mehdi commented on #895
@GrabYourPitchforks

If you mean I can build an app (using .NET Framework) to convert non-standard data (from service which I'm working with) and then change it to standard data and then I use this data, I mentioned before, with this solution I have to run my app on Windows (because that convertor app).

About _third-party library_ I also mentioned this before, using other libraries to deal with t

[2020-01-29 11:27] am11 commented on #1723
Ah, tested it in a fresh VM and was able to reproduce the issue. added a fallback condition: https://github.com/dotnet/runtime/pull/2336.

[2020-01-29 11:44] pentp commented on #1258
Is the sealed array opportunity (comment by @omariom) tracked somewhere or was this also resolved by the same PR?

[2020-01-29 11:57] MaximLipnin opened #2337 "[mono] System.Drawing.Imaging.Tests.ImageAttributesTests.SetColorMatrix_InvalidFlags_ThrowsArgumentException fails"
0. Make sure that you have the [libgdiplus ]( https://docs.microsoft.com/dotnet/core/install/dependencies?pivots=os-macos&tabs=netcore31#libgdiplus) dependency installed.
1. `./build.sh /p:RuntimeFlavor=mono`
2.  `cd src/libraries/System.Drawing.Common/tests`
3. `dotnet msbuild /t:BuildAndTest /p:RuntimeFlavor=mono`

Actual:
[code]

Expected:
`System.Drawing.Imaging.Tests.ImageAttributesTests.SetC

[2020-01-29 14:01] Entomy opened #2340 "IComparable for Rune"
`Rune` seems to be missing the non-generic `IComparable` interface. Because of this, comparison operators from F# can not be used with the type. Was there a design decision behind omitting this? If not, could this get implemented?

*There's mitigation code down below if you're effected by this in F#. I don't think there's a mitigation for C#/VB.*

[2020-01-29 14:52] bartonjs commented on #895
We just seem to be circling here. The only options that I can think of:

* Using .NET Framework, you do a one-time decryption all of the data then re-encrypt it with AES.
  * This is for data at rest, and you're the data encryptor, but neither of those applies here.
* You convince the data encryptor to change to AES.
  * In progress?
* You write Rijndael yourself to decrypt the 256-bit blocksize d

[2020-01-29 14:52] #895 closed

[2020-01-29 14:58] jaredpar commented on #2198
Working on getting console log links into the tooling I've been using to file bugs like this. Want to minimize distance between issues and actionable data.

[2020-01-29 14:58] stephentoub commented on #2198
I'll take a look at the get_Keywords null ref.

[2020-01-29 15:15] mjsabby opened #2341 "Look into the possibility of removing the crst for AssemblyIterator during GC"
DevDiv workitem: https://devdiv.visualstudio.com/defaultcollection/DevDiv/_workitems/edit/125447/

From @jkotas in an internal email thread:

Callstack causing the performance problem

[code]

cc @Maoni0 @PeterSolMS

[2020-01-29 16:16] #2322 closed

[2020-01-29 16:30] vcsjones commented on #2340
Interesting. To make a formal API proposal out of this:

[code]

@GrabYourPitchforks

[2020-01-29 16:37] jkotas commented on #2341
Fixing the lock should not be hard.

I am wondering why we are doing this while the world is stopped at all. All statics are rooted by GC handles as well, so this piece of logic in GCToEEInterface::GcScanRoots is just frontloading scanning that could have been done in the background into the STW time.

Is this left-over from the days we did not have server background GC? Should the condition for d

[2020-01-29 16:38] waldnercharles commented on #535
The issue on developercommunity was closed and re-reported here:

https://github.com/dotnet/runtime/issues/2317

[2020-01-29 16:40] cedricmelancon commented on #2317
Duplicate of https://github.com/dotnet/runtime/issues/535.

Not sure if it's a runtime issue or a Visual Studio issue, but it's a show stopper for us. Impossible to debug our plugin management except by putting console comments since it crashes.

[2020-01-29 16:46] WenningQiu opened #13849 "Building CoreCLR 3.1 fails on CentOS 7"
I executed the following commands on a CentOS 7 VM to build CoreCLR 3.1:
- git clone https://github.com/dotnet/coreclr.git
- cd  coreclr
- git checkout remotes/origin/release/3.1
- docker run --rm -v /home/wqiu/git/coreclr:/coreclr -w /coreclr mcr.microsoft.com/dotnet-buildtools/prereqs:centos-7-d485f41-20173404063424 ./build.sh -Release

The build failed with the following linker error. I had no

[2020-01-29 16:49] waldnercharles commented on #2317
I don't believe this is a visual studio issue. The issue occurs when debugging in Visual Studio, VS Code, _or_ IntelliJ Rider.

I have not yet tested with Samsung's netcoredbg here: https://github.com/Samsung/netcoredbg

[2020-01-29 16:50] AndyAyersMS commented on #1258
Array types that appear in type equality checks now get optimized. For more general is/as checks we have to worry about variance and the like.

[2020-01-29 16:51] MattGal commented on #1664
If we're talking about the most recent AzDO link you pasted, it's on the artifacts tab:
![image](https://user-images.githubusercontent.com/7862010/73377772-71bbe400-4274-11ea-97bc-9c1687896c86.png)

... if I'm mistaken and you're referencing a different pipeline execution, please share its link.

[2020-01-29 16:54] stephentoub commented on #2234
Just hit this again in https://dev.azure.com/dnceng/public/_build/results?buildId=500648&view=logs&j=6164c92f-30fd-595a-34ac-982c8db24ee3&t=5cca32af-616f-55b1-ac95-63599badd60c

[2020-01-29 16:55] jkotas commented on #702
A lot of PRs are failing with:
[code]

https://github.com/dotnet/runtime/pull/2344 is reverting the change that introduced the problem.

[2020-01-29 17:09] jkotas commented on #1918
The fix was reverted.

[2020-01-29 17:09] jeffschwMSFT commented on #535
@hoyosjs can you help sort out if this issue should be tracked on developer community or github?  Thanks

[2020-01-29 17:11] jkotas commented on #2230
Thoughts about how to fix this?

[2020-01-29 17:15] hoyosjs commented on #535
I looked at it a tiny bit yesterday. So far I'd keep it here until I can investigate a little more.

[2020-01-29 17:15] jkotas commented on #1258
@pentp I do not think we have an issue on it. Feel free to open one if you care about this case.

@AndyAyersMS is right that this cannot be done for all arrays. It can be done only when we can prove that the cast cannot be done via variance and the like. For example, `int[]` casts still need to use the helper, on the slow path at least.

[2020-01-29 17:30] GrabYourPitchforks commented on #2340
Not an intentional omission. Thanks for the report. And now I've learned that in API reviews I should be on the lookout for this pattern to improve compatibility across languages. :)

[2020-01-29 17:32] Entomy commented on #2340
@GrabYourPitchforks I miss this all the time in my own libraries. Some of the generic interfaces include their non generic ones implicitly. Some don't. I always forget which don't, and usually don't even notice until I'm implement F# bindings later.

[2020-01-29 17:33] BruceForstall commented on #1664
@MattGal Thanks -- the AzDO UI changed and I couldn't find the artifacts. Now I found them, so I see this. Obviously, this folder does not include any `testResults.xml` file.

The log file I referenced was: (1) download all log files (looks like there isn't a deep link into these), (2)  "CoreCLR Pri1 Test Run  Linux_musl arm64 checked" folder, (3) "19_Publish Logs.txt" file:
[code]

So that's pres

[2020-01-29 17:48] safern commented on #2199
I can confirm this is correctly fixed, we haven't hit this since my last fix went in.

[2020-01-29 17:56] fadimounir commented on #2230
Can we make some changes to the JIT to make it pass the PInvoke MethodDesc to JIT_PInvokeBegin helper? The MethodDesc can be loaded by a R2R helper call

[2020-01-29 18:01] jkotas commented on #2230
Yes, that may be one option. Another option is to make the JIT to pass the size of the stack-arguments to ` JIT_PInvokeBegin` helper, on x86 only.

[2020-01-29 18:18] fadimounir commented on #2230
[code]
Is that applicable also to arm32?

[2020-01-29 18:21] BruceForstall commented on #1664
Ok, I ran manually and got a testRun.xml file (not sure who chooses this name or why it's not testResults.xml). For a particular failure case, I see:
[code]

So while the "correct" text is there, the "escaped" failure message text that is used by the xunit.py parser (in run.py) is apparently coming from `<failure exception-type="Xunit.Sdk.TrueException">`. So perhaps whichever xunit we're using is

[2020-01-29 18:25] jkotas commented on #2230
I do not see why this would be needed for anything but Windows x86.

[2020-01-29 18:25] wtgodbe commented on #2294
I think that sounds good, though I'd be curious to know what the plan is going forward for the Standard repo

[2020-01-29 18:26] eiriktsarpalis commented on #2340
FWIW I ran a bit of reflection against CoreLib in netcoreapp3.1 and it looks like System.Text.Rune is the only public type that doesn't do this.

[2020-01-29 18:34] fadimounir commented on #2230
Interesting... probably legacy code before the time of arm/arm64 then. @BruceForstall

@josalem did you try to repro this with complus_gcstress=0xf? If so, did it start to fail deterministically?

[2020-01-29 18:38] chuckries commented on #2317
There is a small chance that the root issue is somewhere in the VS Debugger portion of the managed debugger that is shared between VS/VS Code, but I need somebody on the runtime to investigate and confirm/deny.

[2020-01-29 18:40] BruceForstall commented on #1664
@ViktorHofer Looks like you've worked on the xunit console runner. Do we still use the one in the arcade repo?

Assuming we use the xunit from https://github.com/xunit/xunit (or some close cousin), the answer seems to be in src\xunit.runner.utility\Visitors\XmlTestExecutionVisitor.cs:

[code]

Interestingly, in that same file, when creating the "output" item (also a `CDATA`), it uses (in `CreateTe

[2020-01-29 18:53] wfurt commented on #2198
I do agree @jaredpar. I know some parts you can get via REST but it would be nice to have essential info either in build output or console itself. OS/Container and link to tested bits would be nice IMHO.

[2020-01-29 19:02] wfurt commented on #2170
HttpClient does not use ServicePoint in .Net Core.

[2020-01-29 19:21] wfurt commented on #1488
We have four tests disabled at this moment for OSX and the same for ARM64 under https://github.com/dotnet/corefx/issues/32797.

I suspect most of the failures are not product bugs and are caused by test environment.
AFAIK we changed our macOS infrastructure as well as ARM64 support matured.
How about moving the test to Outerloop? That would allow us to collect some stability data without impacting

[2020-01-29 19:28] erozenfeld commented on #2325
I'll investigate.

[2020-01-29 19:35] ericstj commented on #1692
One hack would be to define an mscorlib assembly with this type in it.  That'll work on both .NETFramework and .NETCoreApp and not require an assembly at runtime.  (ducks to avoid rotten fruit)

[2020-01-29 19:38] therealjohn opened #2349 "Enable Edit and Continue support for Mac"
From what I understand, Edit and Continue (EnC) is only supported in Core CLR on Windows. We'd like to have EnC support for .NET Core projects in Visual Studio for Mac.

[2020-01-29 19:46] alexperovich commented on #1664
We could unescape them, but I don't like it messing up paths and other places \r or \n shows up. A CDATA section shouldn't have any escaping in it at all. Newlines in xml don't even need to be escaped. Even attribute values can have literal newlines in them.

I don't think the xunit console runner is in active development so a change there would be hard to get published. If you can switch to using

[2020-01-29 19:49] ericstj commented on #2332
Small correction: no ifdefs, just define values and use as macro, similar to how we use CORE_ASSEMBLY macro already.

We can generate a header file that defines the assembly version etc, similar to what the SDK already does for C# and VB.   If we wanted to do even better we could move all the assembly attributes that have MSBuild properties out of the checked-in IL file and just generate it.  We'd

[2020-01-29 20:00] AArnott commented on #1692
Nice. The strong name public key token would have to match, but I wouldn't have to worry about real signing since I can open source sign the ref assembly, and no runtime assembly is needed. :)

[2020-01-29 20:18] Maoni0 commented on #2341
since this was encapsulated in `GcScanRoots` and GC just calls it naturally called this. it's trying to distribute objects more evenly on different GC threads so we don't have one thread doing all the work that one object holds onto if it happened to be the one that got to it first. this was done before Background GC existed. clearly someone did this at some point and saw benefits. but that was a

[2020-01-29 20:19] wfurt commented on #2352
I see 3 failures in the last 90 days. All on Windows, last one 1/25

[2020-01-29 20:24] wfurt commented on #2353
I see ~ 3K failures in the last 90 days - all on Windows failing for few different reasons.
https://github.com/dotnet/runtime/issues/2352 is probably the same root cause.

[2020-01-29 20:38] cedricmelancon opened #2357 "Unload assembly with shared assemblies."
Framework: .Net Core 3.1

I am developing a plugin manager that loads and unloads plugin and I'm having issues while unloading. I have an interface in a nuget package that is used by my host application and the plugin. If I load the interface DLL in an AssemblyLoadContext, I have a problem while casting an instance to the interface (as described in https://docs.microsoft.com/en-us/dotnet/core/depe

[2020-01-29 20:53] Jlalond commented on #2293
@terrajobst / @danmosemsft Has Anyone been assigned to this?

And, @terrajobst to clarify the work we want to achieve is:
[code]
As well as implementing the above interfaces on HashSet, SortedSet.

The scanning being just look for anything and bring it up if it looks questionable.

If this is still up for grabs I'd be interested

[2020-01-29 20:58] ylibrach commented on #1130
While my specific example dealt with an F#-specific scenario, this issue is not F#-specific. Also, adding built-in support for F# types into System.Text.Json will not alleviate the root cause of this problem, either. This F# scenario simply highlights the underlying problem, but it isn't the cause of it.

[2020-01-29 21:03] ericstj commented on #1692
We do something similar in our build to make winmd's work: https://github.com/dotnet/runtime/tree/master/src/libraries/mscorlib.WinRT-Facade/ref.

[2020-01-29 21:10] jkotas commented on #2341
It should not be hard, but the changes in code that runs with runtime suspended tend to come with stress bug tail. The less structures we use while the runtime is suspended the better...

[2020-01-29 21:11] Leonardo-Ferreira commented on #2315
I did consider that option @Drawaes. I moved away from it for 2 reasons:

1. If the root platform itself crashes, the other process would live on out of control.
2. The overall performance of the platform would increase due to the fact of the overhead of each separate process (thread pools, and others)...

[2020-01-29 21:13] Leonardo-Ferreira commented on #2315
@GrabYourPitchforks please note that I don't want to kill a Thread, but kill a Task! It's an important distinction here: a task may span several threads during its lifetime. Killing a thread might serve no purpose if you intend to kill a task because it might have switched and continued somewhere else!

[2020-01-29 21:14] danmosemsft commented on #2293
@Jlalond nope, assigned to you.  Thanks for the offer.

[2020-01-29 21:17] terrajobst commented on #2294
We're working through this. My expectation is that this repo will become similar to CoreFX/CoreCLR in that it's only used for servicing older releases and the moving forward it'll be replaced by the runtime repo. However, this doesn't mean we need to build netstandard assets from the runtime repo. My expectation is that the `net5` TFM will subsume both netcoreapp and netstandard.

[2020-01-29 21:21] GrabYourPitchforks commented on #2315
@Leonardo-Ferreira You're right in that a logical task might span multiple threads during its execution. As a strawman implementation I'm thinking that any proposed `Task.Kill` API would first figure out what threads are executing a particular Task - keeping in mind that it might be multiple threads in parallel if child Tasks were spawned from the parent Task - and to call `Thread.Abort` on each o

[2020-01-29 21:48] danmosemsft commented on #2364
re-adding approved label

[2020-01-29 21:51] danmosemsft commented on #2365
re-adding api approved label

[2020-01-29 21:59] danmosemsft commented on #2362
setting area-interop since sni.dll is loaded with regular managed interop.

[2020-01-29 22:00] Clockwork-Muse commented on #2315
@Leonardo-Ferreira - As another way of looking at it, you're trying to kill something that could be running:

[code]

.... there isn't a good way to stop this **except** to kill the thread - that's what's actually executing the code.  So you can't dodge `Thread.Abort` for this sort of thing.

<hr />

 1. OS's are generally going to reap orphaned zombies, because of this exact concern.  Some may ev

[2020-01-29 22:25] ThadHouse opened #2368 "MSBUILD : error MSB1008: Only one project can be specified attempting to build"
Trying to compile for armel with the following steps on a fresh ubuntu 16.04 system. Ran the following steps, according to the following doc.

https://github.com/dotnet/runtime/blob/master/docs/workflow/building/coreclr/cross-building.md

1. `apt-get install qemu qemu-user-static binfmt-support debootstrap`
2. `apt-get install binutils-arm-linux-gnueabi`
3. `ROOTFS_DIR=/home/armel ./eng/common/cro

[2020-01-29 22:36] ThadHouse commented on #2368
Based on the output of `./build.h -h`, I tried using `--arch armel` instead, and get the following output

[code]

[2020-01-29 22:44] RomBrz commented on #2362
I know that i'm nobody to disagree with what MS do with it owns products, but in my modest opition, this case wasn't a question about "aiming for fewer permissions", but the fact that this is the default behavior since ASP.NET Framework 2.0 (i have some legacies apps that run with 2.0 and work with "Read" without Traverse), Framework 4.x, Core 1.x, Core 2.x... The apps basically just know the root

[2020-01-29 23:57] Marusyk commented on #2128
@ntovas are you working on this?

[2020-01-30 00:23] jnm2 opened #2376 "Nullability of StreamReader encoding parameter is not consistent"
❌ [`StreamReader(Stream, Encoding)`](https://github.com/dotnet/runtime/blob/ac1af50ee7a32dabccbe744c99ac7a78ca865cad/src/libraries/System.Private.CoreLib/src/System/IO/StreamReader.cs#L113) **does not throw** when `encoding: null` is passed

❌ [`StreamReader(Stream, Encoding, bool)`](https://github.com/dotnet/runtime/blob/ac1af50ee7a32dabccbe744c99ac7a78ca865cad/src/libraries/System.Private.CoreLi

[2020-01-30 01:14] #1864 closed

[2020-01-30 01:21] stephentoub commented on #2376
The overloads where you have an X next to them historically have thrown when Encoding is null, and still do on .NET Framework.  It was only recently changed for .NET Core, in https://github.com/dotnet/coreclr/pull/24056, specifically because of a desire to have optional arguments.

We should probably change the other Encoding arguments to be nullable as well.

[2020-01-30 01:23] stephentoub commented on #1775
I spoke offline with several folks, including @MadsTorgersen and @agocke.  General consensus was the current annotations are the right ones.  We don't, for example, have a `List<T>.Contains(object value)` overload that lets you search a `List<T>` for arbitrary objects that may be outside of the valid domain of `T`; `null` is a similarly invalid value to pass to `Contains` when the `T` is explicitl

[2020-01-30 01:29] safern commented on #702
I just saw an issue related to helix in one of my PRs:

https://github.com/dotnet/core-eng/issues/8694

Adding to the description.

[2020-01-30 02:46] stephentoub commented on #2376
That said, it's strange that we allow null for Encoding with the Stream-based constructors but not with the string-based constructors.

@JeremyKuhne, what's the rhyme/reason for that?

[2020-01-30 02:54] MikeKenyon commented on #2113
`OriginalString` requires three things that you don't always have.

1. Foreknowledge that some person who may use this URL months or years from now needs it encoded in this particular fashion.
2. Knowledge that the Uri that a random Uri that you've been handed which was created by someone other than  you was encoded in a particular fashion that would make `OriginalString` useful and the default no

[2020-01-30 03:01] jnm2 commented on #2376
The overload without an X throws on .NET Framework also.

[2020-01-30 03:02] stephentoub commented on #2376
I understand that.

[2020-01-30 04:41] Maoni0 commented on #2341
I'll talk to Peter about this.

[2020-01-30 05:07] dehghani-mehdi commented on #895
@bartonjs

Yeah, they won't do that anytime soon.

So I guess the only option is using "3rd party implementation of Rijndael". I have to convince my clients. is there any chance so I can copy non-standard .NET Framework implementation directly to my source code?

[2020-01-30 05:35] YairHalberstadt commented on #1775
Thanks for considering this further @stephentoub - your efforts are greatly appreciated!

[2020-01-30 05:35] #1775 closed

[2020-01-30 05:59] GrabYourPitchforks commented on #2374
The default `TextEncoderSettings` behavior always disallows `<`, `>`, and `&` as a defense-in-depth mechanism. The reason for this is that it's extremely common for JSON payloads to end up within HTML or within a web page's `<script>` block. This defense-in-depth behavior makes it less likely that malicious payloads can cause XSS vulnerabilities on your web site.

If you wish to suppress this beha

[2020-01-30 06:08] mikedn commented on #2315
And that would likely render the whole task killing story infeasible. Thread abort is already problematic, now you also have to find the right thread. "find" and "abort" operations will race and you need to figure out how to avoid aborting the wrong thread. For example:
* find thread
* suspend thread
* find again and check if it's the same thread as the one you suspend, give up if not
* abort thre

[2020-01-30 07:44] GrabYourPitchforks opened #2378 "Update .NET 5 Unicode data to version 13.0.0"
The Unicode Standard version __13.0.0__ [will be released](https://www.unicode.org/versions/Unicode13.0.0/) on March 10, 2020. As per usual, since the .NET runtime carries a copy of Unicode-derived data, we should update our data files to match version 13.0.0 when it's released.

This will affect the following APIs:

 * `System.Globalization.StringInfo`
 * `System.Globalization.CharUnicodeInfo`
 *

[2020-01-30 07:47] MoienTajik opened #36000 "UseStartup with IHostBuilder rather than IWebHostBuilder"
### Is your feature request related to a problem? Please describe.
At this time, there's no possibility to use the `UseStartup` method in applications other than `Microsoft.NET.Sdk.Web` because `ConfigureWebHostDefaults` doesn't exist in them.

This means that we cannot have a separate **Startup** class to use in projects like [Worker SDK ](https://docs.microsoft.com/en-us/aspnet/core/fundamentals

[2020-01-30 08:43] michaldobrodenka opened #2379 "SerialPort - high CPU usage"
Tested on Linux. I have a embedded application where I have a separate thread with sync Read/Write operations in loop and after migrating from mono, this thread CPU usage went from 5% to 25%.

Typical use case for SerialPort like ModBus with small poll intervals, where serial port sends & recieive small packets many times per second make .NET Core Serial consume a lot of resources.

[2020-01-30 09:16] vitek-karas commented on #2357
The unload should work as long as nothing holds any reference to the assemblies loaded into the "plugin" context. Having the interface in the default load context should not violate that.

Unless the interface dll holds references to the loaded plugins - that would obviously make it impossible to unload the plugin.

Maybe if you could share a bit more about who holds references to the plugins, or

[2020-01-30 10:05] ayende opened #2382 "Very high latency for GC when using (lots of) ThreadLocal"
The problem below reproduce an issue that we have run into in production.

We have a lot of ThreadLocal instances and quite a number of threads and we noticed very high latency for GC / CPU time spent collecting.

The code below creates a large number of `ThreadLocal<WeakReference>` and uses them from a number of threads. We manually induce GC into the system to measure its costs on a frequent bas

[2020-01-30 10:07] MihaZupan commented on #2113
You have to decide. Do you care about the original representation or do you care about the functional aspects of the Uri.
By comparrison, do you care whether a number 3 was originally "2 + 1", "0b11" or "iii" or do you only care about the value.

The way I read your comment is that you can't make assumptions about all producers/consumers of Uris. Completely reasonable.
The solution is to **not mak

[2020-01-30 10:21] MaximLipnin opened #2383 "[mono] Tests failed: System.Reflection.Emit.ILGeneration.Tests"
This is a tracking issue for multiple failures in System.Reflection.Emit.ILGeneration.Tests on Mono.
The following tests are disabled in CoreFX.issues.rsp file and will be moved into their respective xUnit tests in https://github.com/dotnet/runtime/pull/2087.

- System.Reflection.Emit.Tests.CustomAttributeBuilderTests
- System.Reflection.Emit.Tests.SignatureHelperAddArgument.*
- System.Reflection.

[2020-01-30 10:23] ayende commented on #2382
Here is another reproduction, this time without `ThreadLocal` or any threading work, which shows interesting results.

We created a lattice like structure, many arrays that are forming doubly linked list to other nodes in the same index on the other arrays.

The cost of GC here is around 250 ms.
Removing the `Prev / Next` references removes 20% of the cost, and removing the `Array` as well reduce

[2020-01-30 10:31] janvorli commented on #2382
cc: @Maoni0

[2020-01-30 13:40] HASSEN-MEDDEB-ATOS opened #2385 "WebRequest.DefaultWebProxy Return null exeption"
Hello,

I have migrated my project .NET FrameWork to .NET Core, and i have a null exeption when i used
WebRequest.DefaultWebProxy.GetType().GetProperty("WebProxy", BindingFlags.NonPublic | BindingFlags.Instance);

This is my full code
[code]

[2020-01-30 13:46] stephentoub commented on #2385
This is trying to use private implementation details. They're private for a reason, and are in no way guaranteed to work the same from version to version.

[2020-01-30 14:01] HASSEN-MEDDEB-ATOS commented on #2385
Hello, thank you for your answer, what can i do in this situation, i readed in some other disccsussion that i should delete         private static IWebProxy proxy = WebRequest.DefaultWebProxy;
beacause is not supported,

[2020-01-30 14:03] stephentoub commented on #2385
WebRequest.DefaultWebProxy should work fine.  Did you try it and it doesn't work?  If so, what version of .NET Core are you using?

[2020-01-30 14:07] HASSEN-MEDDEB-ATOS commented on #2385
I used .Net Core 3.1, WebRequest.DefaultWebProxy.GetType().GetProperty("WebProxy", BindingFlags.NonPublic | BindingFlags.Instance); at this line, it return NullExeption

[2020-01-30 14:08] stephentoub commented on #2385
Why are you doing ".GetType().GetProperty("WebProxy", BindingFlags.NonPublic | BindingFlags.Instance)"?  That's the bad part.  Don't do that ;)

[2020-01-30 14:13] HASSEN-MEDDEB-ATOS commented on #2385
This will force the DefaultWebProxy to use default credentials

[2020-01-30 14:23] stephentoub commented on #2385
You can do that with just WebRequest.DefaultWebProxy.  It is the IWebProxy.  You don't need to try to use its private members, which is what that NonPublic reflection code is trying to do.
[code]

[2020-01-30 14:27] HASSEN-MEDDEB-ATOS commented on #2385
Perfect ! tkank you, i find it also

Cordially ;)

[2020-01-30 14:34] #2385 closed

[2020-01-30 14:39] Fr1z2r opened #2387 "JsonSerializer throws InvalidCastException"
Using .NET Core App 3.1.101
This code throws an exception when IgnoreNullValues=true, and doesn't throw when IgnoreNullValues=false:
[code]

[code]

[2020-01-30 14:53] HASSEN-MEDDEB-ATOS opened #2388 "Could not load type 'System.ServiceModel.Description.MetadataConversionError"
Hello again,

i have migrated my project from .NET Framework to .NET core. i have changed  this line from
[code]

but it return Exception: Could not load type 'System.ServiceModel.Description.MetadataConversionError' from assembly 'System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'.

Thanks for all helps

Cordially

[2020-01-30 15:26] MaximLipnin opened #2389 "[mono] Tests failed: System.Reflection.Emit.Tests"
This is a tracking issue for multiple failures in System.Reflection.Emit.Tests on Mono.
The following tests are disabled in CoreFX.issues.rsp file and will be moved into their respective xUnit tests in #2087.

- System.Reflection.Emit.Tests.AssemblyTests.DefineDynamicModule (Mono behaves like coreclr but the test doesn't detect it)
- System.Reflection.Emit.Tests.MethodBuilderEquals.Equals
- System

[2020-01-30 15:39] stephentoub opened #2390 "System.Security.Cryptography.Encoding.Tests seg faulting in CI"
Libraries Test Run release coreclr Linux x64 Debug
https://dev.azure.com/dnceng/public/_build/results?buildId=501840&view=logs&jobId=71afe768-e493-597c-228c-037834193aeb&j=71afe768-e493-597c-228c-037834193aeb
[code]

[2020-01-30 15:40] stephentoub opened #2391 "Read_FromClosedConnectionAsynchronously_ThrowsHttpListenerException test timing out on Mono in CI"
https://helix.dot.net/api/2019-06-17/jobs/50e7502e-a749-4812-a7f0-e5edf3eeba61/workitems/System.Net.HttpListener.Tests/console
[code]
cc: @akoeplinger

[2020-01-30 15:48] akoeplinger commented on #2391
I've tried reproducing these System.Net.HttpListener.Tests timeouts but wasn't able to, even using the Docker containers on my Mac.

@directhex can you please try to repro and/or disable these tests?

[2020-01-30 16:07] stephentoub commented on #2391
Another timeout, different test:
https://helix.dot.net/api/2019-06-17/jobs/01ad5712-0a89-4684-9e9d-b80612973f2e/workitems/System.Net.HttpListener.Tests/console
[code]

[2020-01-30 16:08] directhex commented on #2391
@akoeplinger what's the quickest way to try and repro?

[2020-01-30 16:09] stephentoub commented on #2391
Another, again different PR, different test:
https://helix.dot.net/api/2019-06-17/jobs/5a44346f-0d12-4dc5-9847-8e3ddda83ed6/workitems/System.Net.HttpListener.Tests/console
[code]

[2020-01-30 16:10] Gnbrkm41 commented on #280
Appears that VS2019 16.5 P2 introduced an `Auto` option which seem to default to x64.

[2020-01-30 16:11] akoeplinger commented on #2391
@directhex The way I did was to look at e.g. https://helix.dot.net/api/2019-06-17/jobs/01ad5712-0a89-4684-9e9d-b80612973f2e/workitems/System.Net.HttpListener.Tests and download the run_client.py log which contains the various payloads, then I launched a docker container, downloaded and unzipped all the payloads and used the RunTests.sh from there.

[2020-01-30 16:12] Gnbrkm41 commented on #1161
Both it seems. It also happens for other attributes like `PlatformSpecific`.

[2020-01-30 16:18] directhex commented on #2391
`  Starting:    System.Net.HttpListener.Tests (parallel test collections = on, max threads = 8)`

[2020-01-30 16:20] #280 closed

[2020-01-30 16:22] directhex commented on #2391
Which Docker image do we use to run this on Helix? I want my runs to match where it's failing as closely as possible

[2020-01-30 16:22] ViktorHofer commented on #1161
Yes, that's the expected behavior as VS Test Explorer by default doesn't filter on traits. I started a discussion with vstest some months ago to allow specifying default included/excluded traits via the runsettings file.

[2020-01-30 17:05] jkotas commented on #2379
cc @wfurt

[2020-01-30 17:07] alpencolt opened #2394 "[Tizen] CI for pull requests"
Would be good to have CI builds for Tizen/armel to prevent merging PRs which breaks this platform.

cc @jkotas @gbalykov

[2020-01-30 17:27] maryamariyan commented on #2389
@marek-safar

[2020-01-30 17:28] bitbonk opened #2395 "Assembly.EscapedCodeBase does not correctly escape"
The Property `Assembly.EscapedCodeBase` does not always return a path that is correctly escaped when the path contains the `#` character under Windows (I haven't tried this in any other OS).

When I run an a simple `notecoreapp3.1` console application if a folder named `C:\temp\C#\ConsoleApp1`, the following code

[code]

Will yield the following text which is **not escaped correctly**:
`file:///C

[2020-01-30 17:31] steveharter opened #2396 "Test failure on some platforms when (de)serializing Queue, Stack"
Creating this to flag tests as `ActiveIssue` to unblock PR https://github.com/dotnet/runtime/pull/2259

These tests are failing:
[code]
on

[code]
Apparently due to the wrong converter being selected. Message is like:

`System.NotSupportedException : Deserialization of reference types without parameterless constructor is not supported. Type 'System.Collections.Queue'`

[2020-01-30 17:35] maryamariyan commented on #2388
cc: @dotnet/dotnet-wcf

[2020-01-30 17:38] danmosemsft commented on #2315
There are ways to deal with this, eg., have a thread in the child process watch the parent. In Windows terms you would wait on the parent process handle. If the parent exits, the child would terminate itself.

@Leonardo-Ferreira I am going to close this since as discussed above it is not possible using an API and you should use a custom isolation mechanism.

[2020-01-30 17:38] #2315 closed

[2020-01-30 17:49] safern commented on #1161
@ViktorHofer do you want to close this issue then, or open is fine to have it under your radar to track the status of the discussion you're having with VS Test Explorer

[2020-01-30 17:50] snappyfoo commented on #728
Have an unusual use case where we have one set of services in .NET for GETs and another set of services for write operations on another platform. We are doing ETag / If-Match checking by hashing JSON responses, so responses have to match across both platforms. It would be nice to be able to control this from the .NET side.

Also, if order really isn't important, could you consider putting the base

[2020-01-30 17:54] Drawaes commented on #728
Hashing for cache invalidation/etag is also one I have come across. As it was a service to service scenario we moved to protobuf in the end to get the control over the order and bytes but that is not always possible for everyone

[2020-01-30 18:11] jeffschwMSFT commented on #2288
@swaroop-sridhar

[2020-01-30 18:17] jeffschwMSFT commented on #2041
@fadimounir

[2020-01-30 18:23] ahsonkhan commented on #2242
I don't know if there is a way to do this given our current labels/milestones. @danmosemsft, @karelz - what is the recommendation for filtering out issues that were "wrong" (or say "duplicate", especially when setting the milestone/issue label? Do we need some other labels?

[2020-01-30 18:24] jkotas commented on #2395
`Assembly.CodeBase` and `Assembly.EscapedCodeBase` properties have many problems. Please avoid using them. We are going to mark them as obsolete - https://github.com/dotnet/corefx/issues/41695 .

[2020-01-30 18:24] #2395 closed

[2020-01-30 18:35] bitbonk commented on #2395
@jkotas How can I get the actual location of an assembly in the current process then? In a way that works even when the assembly was shadow copied?

[2020-01-30 18:36] danmosemsft commented on #2242
We do not use milestones consistently during most of the cycle. We use them more carefully near the end of the cycle when we are carefully gating fixes going into the release, and during servicing processes for the same reason.

To figure out whether a change gets into a release, the most reliable way is to know which branch the release is coming from, or the SHA it was generated from, and see whe

[2020-01-30 18:40] jkotas commented on #2395
There is not 100% reliable way to do that in .NET Framework. `Assembly.Codebase` can lie in number of different ways. For example, it can be the `http://...` URL that the assembly was download from in some cases.

[2020-01-30 18:45] JeremyKuhne commented on #2376
Oversight, really. The original issue was targeting `leaveOpen` which has no meaning for the `path` constructors.  I agree that we should be consistent with the `path` constructors and `Encoding`.  @carlossanlop, any thoughts?

[2020-01-30 18:46] bitbonk commented on #2395
@jkotas So according to the issues you linked, the normal `Assembly.Location` should be a reliable way in .NET Core, correct?

[2020-01-30 18:49] jkotas commented on #2395
Correct.

[2020-01-30 18:54] kouvel commented on #2273
It looks like the profile only records methods that are actually jitted, so R2R'ed methods would not be impacted. Then multi-core JIT tries to eagerly JIT the recorded methods, in the same way as normally, so it would use the default initial tier (tier 0 unless it contains a loop or is attributed with `AggressiveOptimization`, etc.).

[2020-01-30 18:56] BrianBohe commented on #2090
There is an open [PR](https://github.com/dotnet/runtime/pull/2107) to turn of the changes.

[2020-01-30 18:58] jeffschwMSFT commented on #2362
@AaronRobinsonMSFT @jkoritzinsky

[2020-01-30 18:58] kouvel commented on #2273
After a tier 0 JIT, the methods would transition similarly to tier 1, including with the tiering delay. Multi-core JIT just generates code and records the entry point somewhere, when the method is called for the first time the entry point is fetched and set to be used. It's as though the method is being jitted, just the code may already be available due to eager jitting.

[2020-01-30 18:59] BrianBohe commented on #2090
An approach @BruceForstall said we can follow is to add variable liveness information to [jit-dasm](https://github.com/dotnet/jitutils/tree/master/src/jit-dasm) tool

[2020-01-30 19:08] jeffschwMSFT commented on #1633
@vitek-karas

[2020-01-30 19:15] BrianBohe opened #2399 "Get the inline stack on IP level"
It would be great if we can get the virtual stack frame of inline functions.

Given the following code:
[code]
If we put a breaking on the second line of function C, we expect the debugger to show a call stack like
- C(int a)
- B(int a)
- A(int a)
- Main(string[] args)

but we would get
![image](https://user-images.githubusercontent.com/9440186/73481902-90dc7380-4351-11ea-8f4f-4736d5e71b6f.png)

W

[2020-01-30 19:25] jkotas commented on #2302
The sources for docker images that use to build .NET Core are in
https://github.com/dotnet/dotnet-buildtools-prereqs-docker repo.

[2020-01-30 19:25] #2302 closed

[2020-01-30 19:32] jkotas commented on #2394
Ok, here are the steps to make this happen:

- [ ] Add sources for docker image with the right Tizen ROOTFS to https://github.com/dotnet/dotnet-buildtools-prereqs-docker repo
- [ ] Add one new configuration (armel checked) to the CI that is built under same condition as CoreCLR. @safern can help you with this step.

We should start with builds only (no tests for now). We can look at tests later if

[2020-01-30 19:35] safern commented on #2394
cc @dotnet/runtime-infrastructure

[2020-01-30 20:15] stephentoub commented on #2391
Another failure here, though not manifesting in the same way (so not sure if it's actually the same or not):
https://helix.dot.net/api/2019-06-17/jobs/b9a45ad2-d9fb-455a-a6e6-e66dc29cf73b/workitems/System.Net.HttpListener.Tests/console
[code]

[2020-01-30 20:17] directhex commented on #2391
I've just run these tests 40 times without reproducing the problem :man_shrugging:

[2020-01-30 20:43] AndyAyersMS commented on #2399
There are quite a few things you will need to change to pull this off.

One is knowing which inlines are "active" at any given point in the code. Internally, the jit keeps a tree of inlines (largely accurate, but not guaranteed to be perfect) ; each statement in jit IR should point at a node in this tree indicating the method that the statement came from. You can dump this tree from a checked jit

[2020-01-30 20:45] elinor-fung commented on #1990
Looks like it is occasionally needing longer than the timeout to run. Successful runs were regularly 50-55 minutes. There is nothing inherently incompatible with GC stress for these. This is actually a bunch of test cases wrapped into one project, so we could just split them up.

[2020-01-30 20:59] danmosemsft opened #3009 "System.Collections.Immutable.Tests.ImmutableSortedDictionaryTest.EqualsTest failed on Mono OSX"
netcoreapp5.0-OSX-Debug-x64-Mono_release-OSX.1013.Amd64.Open

https://dev.azure.com/dnceng/public/_build/results?buildId=502018&view=ms.vss-test-web.build-test-results-tab&runId=15943916&paneView=debug
[code]

[2020-01-30 21:00] danmosemsft opened #3036 "Read_TooMuchSynchronous_Success test failure on netcoreapp5.0-Linux-Debug-x64-Mono_release-SLES.15.Amd64.Open"
netcoreapp5.0-Linux-Debug-x64-Mono_release-SLES.15.Amd64.Open

[code]
https://github.com/dotnet/runtime/pull/2397
https://dev.azure.com/dnceng/public/_build/results?buildId=502018&view=ms.vss-test-web.build-test-results-tab&runId=15945118&paneView=debug

[2020-01-30 21:06] danmosemsft commented on #2391
What configuration did you use @directhex ?

Eg., I've seen it on netcoreapp5.0-Linux-Debug-x64-Mono_release-Centos.7.Amd64.Open

@safern can tell you the docker image.

[2020-01-30 21:21] danmosemsft commented on #2391
https://dev.azure.com/dnceng/public/_build/results?buildId=502018&view=ms.vss-test-web.build-test-results-tab&runId=15945120&resultId=168480&paneView=debug is another instance, it's on
netcoreapp5.0-Linux-Debug-x64-Mono_release-(Fedora.29.Amd64.Open)ubuntu.1604.amd64.open@mcr.microsoft.com/dotnet-buildtools/prereqs:fedora-29-helix-a12566d-20191210224553

[2020-01-30 21:22] valeriob opened #3505 "What is the equivalent of the Trusted Root Certification Authority on Linux"
where i can put my self signed certificate so that when i make a http request to an host that uses it with System.Net.HttpClient it does work correctly instead of the exception ?

System.Net.Http.HttpRequestException: The SSL connection could not be established, see inner exception. ---> System.Security.Authentication.AuthenticationException: The remote certificate is invalid according to the vali

[2020-01-30 21:22] safern commented on #2391
I just looked at all the links that @stephentoub pasted, none of them ran in a docker container, I found that there are 3 different flavors that hit this issue:

Centos7
Debian9
SLES15

Maybe that's why you can't repro?

This is the test dll and its dependency for one of the jobs above:
https://helixde107v0xdeko0k025g8.blob.core.windows.net/helix-job-4c5b489e-62be-4fc0-8eaa-319efce3de0d30db8ad0257

[2020-01-30 21:25] danmosemsft opened #3584 "CI test Failure in Microsoft.DotNet.CoreSetup.Test.HostActivation.NativeHosting.ComponentActivation.CallDelegate"
`Microsoft.DotNet.CoreSetup.Test.HostActivation.NativeHosting.ComponentActivation.CallDelegate(validPath: True, validType: True, validMethod: True)`
on
`Installer-Windows_NT_x86-Debug`
https://dev.azure.com/dnceng/public/_build/results?buildId=501284&view=ms.vss-test-web.build-test-results-tab&runId=15922422&paneView=debug
[code]

[2020-01-30 21:25] danmosemsft commented on #3584
https://github.com/dotnet/runtime/pull/2373

[2020-01-30 21:27] safern commented on #3036
cc: @akoeplinger

[2020-01-30 21:53] ahsonkhan commented on #2242
I believe, the question is less about tracking code changes/commits, and more about **issues on GitHub** themselves. As a contributor, I want to file an issue and I see similar/related issues already closed with the 5.0 milestone. What do I do? Assume the issue I had has been fixed in that milestone? Still open the issue? Sometimes, all the milestone on the issue indicates is during which release

[2020-01-30 21:53] dagood commented on #906
This was completed by https://github.com/dotnet/runtime/pull/1859 Jan 17, I missed closing this issue.

A few tracking issues for cleanup:
* https://github.com/dotnet/runtime/issues/1869 "Stop producing Crossgen2 transport package (use Crossgen2 pack downstream instead)"
* https://github.com/dotnet/runtime/issues/1867 "Integrate Crossgen2 pack infrastructure into the shared framework tooling in Ar

[2020-01-30 21:53] #906 closed

[2020-01-30 21:57] #3849 closed

[2020-01-30 22:16] zer0n opened #4116 "Will CoreCLR support C++/CLI crossplat?"
I'm not sure whether this is the appropriate repo to ask this question. If not, please advise the correct one.

I want to do .NET development in Linux. I haven't been able to do it yet due to lack of important features in Mono. One of them is C++/CLI. I wonder whether and/or when this will be available soon.

[2020-01-30 22:17] BrianBohe commented on #2399
The JIT is giving this information for the debugging
[code]
on Compiler::eeSetLIinfo and Compiler::SetLIDone, as a way of mapping from IL to IP. The debugger assumes the ILOffsets are of the function being jitted.