[2020-06-22 22:48] maryamariyan commented on #33486
sorry @saurabh500 :) updated

[2020-06-22 22:51] BruceForstall commented on #34002
I don't see any recent failures, so closing.

[2020-06-22 22:51] #34002 closed

[2020-06-22 22:55] safern commented on #38105
Thanks @eerhardt for finishing chasing down this. This was definitely a fall out from: https://github.com/microsoft/msbuild/issues/5445

And was fixed on: https://github.com/dotnet/runtime/pull/38104.

Will close and we can open an issue on the linker with regards to busting the signature.

[2020-06-22 22:55] #38105 closed

[2020-06-22 22:55] janvorli commented on #38239
I remember hitting this issue with crossgen2 when I was fixing the initial bugs last year. The cases I've seen were caused by object layout disagreement between crossgen2 and runtime. CG2 generated code was writing behind the end of an object (from the runtime point of view) and overwriting the m_alignpad field in the syncblk of the next object on the heap.

[2020-06-22 23:01] cheenamalhotra commented on #36879
Hi @mdh1418

Please provide us more info:
- Have you always seen these failures with System.Data.SqlClient in this environment or has something changed recently that is leading to these issues?
- Could you reproduce the issues in a standalone console app and upload here - that would be easier to diagnose.

cc @saurabh500

[2020-06-22 23:05] janvorli commented on #38239
Or maybe it was with the large version bubble work in CG1, I'm not sure.

[2020-06-22 23:31] ericstj commented on #30056
@stephentoub I agree with you assessment, I think this should be fixed for reliability.  @carlossanlop we should try to fit this in 5.0 if possible.

[2020-06-22 23:32] ericstj commented on #37629
Dup of #30056

[2020-06-22 23:32] #37629 closed

[2020-06-22 23:32] BruceForstall commented on #31692
@tannergooding @CarolEidt Is there any work left to do here? Does the issue need to remain in 5.0? Does the title accurately reflect the issue?

[2020-06-22 23:33] BruceForstall commented on #31685
@tannergooding @CarolEidt Is there any work left here? Should the issue remain in 5.0?

[2020-06-22 23:36] Clockwork-Muse commented on #36617
@FiniteReality - If I was worried about a dependency on getting the current time, but was bound to only first-party libraries (that is, no NodaTime), I'd instead inject a `Func<System.DateTimeOffset>` for everything that was going to get the current time.  Saves looking for weird redefinitions, and makes it really easy to deal with injection/forwarding.

Note that, while mocking the current system

[2020-06-22 23:36] BruceForstall commented on #31613
@erozenfeld Can you verify if any work remains here?

[2020-06-22 23:43] tarekgh commented on #38046
@almazik sorry I missed this part before.

@terrajobst @stephentoub is it feasible to add `IThreadPoolWorkItem` to ns2.1 too? I know maybe we don't want to go that far just for that, but I was just wondering if this is feasible at all.

[2020-06-22 23:43] kunalspathak commented on #31685
In one of my previous PRs Tamar pointed out in https://github.com/dotnet/runtime/pull/37624#issuecomment-641451575 that `addp` or `uminp` is cheaper than `uminv`, so may be that's the minimum we should do. If @tannergooding  is busy, I can take some time to do it.

[2020-06-22 23:44] jkoritzinsky commented on #38231
Would it be possible to ask the C++/CLI project system to include an assembly manifest like the one in your workaround for #37972 in either their templates or automatically as part of the build?

[2020-06-22 23:52] HumanEquivalentUnit opened #38244 "System.Drawing.Color is possibly missing 8 colors"
## Background and Motivation

It appears that the `System.Drawing.Color` names are intended to track the CSS color names; if that is correct, there are some colors which need to be added. Two reasons for thinking the names are supposed to track CSS colors are:

 - The [Documentation for System.Drawing.Color](https://docs.microsoft.com/en-us/dotnet/api/system.drawing.color?view=netcore-3.1) says "*

[2020-06-22 23:59] safern commented on #38244
THanks @HumanEquivalentUnit -- this would be an API proposal because we need to add these new members to `[KnownColor](https://docs.microsoft.com/en-us/dotnet/api/system.drawing.knowncolor?view=net-5.0)`

For new APIs we need to follow this process: https://github.com/dotnet/runtime/blob/97e553f5c3244b7df65ebfb7de3bb712081228cc/docs/project/api-review-process.md

So first we need to format the iss

[2020-06-23 00:03] speed2048 commented on #38194
Hi Swaroop,

That was the case, I did not update that application and publish using the .net core 3.1.4 SDK. My assumption was wrong about runtime vs sdk. From now on I will not rely on just having the runtime installed I have to rebuild the app against the .sdk.

Thank you,
Bob

[2020-06-23 00:07] tannergooding commented on #31692
The latter issue called out [here](https://github.com/dotnet/runtime/issues/31692#issuecomment-582348469) (unnecessary moves in the existing codegen)  has been largely fixed by the iterative work of porting the GT_SIMD nodes to be imported as GT_HWINTRINSIC nodes instead.

https://github.com/dotnet/runtime/pull/37882 is likely the last one we should take for .NET 5 as it handles `DotProduct` (whic

[2020-06-23 00:13] RussKie commented on #38174
Thank you. Now all we need is wait for another test crash...

[2020-06-23 00:16] CyrusNajmabadi commented on #38238
I agree this should be an analyzer.  I agree that teh IDE should respect it in features like "implement abstract class".  We would also likely want to hook that up automatically for that new diagnostic id.

Proposal as it stands sounds very reasonable to me.  I would certainly have liked it many times in roslyn itself :)

[2020-06-23 00:16] #38123 closed

[2020-06-23 00:30] carlossanlop opened #38248 "Exclude System.IO.Pipes.AccessControl new APIs from older targets"
Follow up of this merged PR: https://github.com/dotnet/runtime/pull/38177

The new APIs added to System.IO.Pipes.AccessControl only need to be built for 5.0.

This is what we merged so that the build and tests could finish successfully:

https://github.com/dotnet/runtime/blob/80a7935c3accde1a9a97299de456d6f3d75cd57c/src/libraries/System.IO.Pipes.AccessControl/src/System.IO.Pipes.AccessControl.cspr

[2020-06-23 00:41] HumanEquivalentUnit commented on #38244
@safern I have rewritten the issue description from the API proposal template, as best as I can. I have limited C# experience, and am not sure what the full diff would look like, or whether [System.Windows.Media.Colors](https://docs.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=netcore-3.1) needs to be involved/included either.

NB. If the .Net colors are not intended to track th

[2020-06-23 00:44] swaroop-sridhar commented on #38194
Thanks for the clarification @speed2048

[2020-06-23 00:44] #38194 closed

[2020-06-23 00:50] ericstj commented on #30056
One trick we can use to repro this is force the scenario @stephentoub describes and manually invoke the GC + WaitForPendingFinalizers.  This can force the case where we are executing instance method of collected object.

[2020-06-23 01:10] davidwrighton commented on #38239
Sigh. Well, this is exactly the sort of thing that this test is supposed to find. This is some sort of field layout disagreement between the runtime and compiler. I keep meaning to write some sort of stress mode that allows the runtime to flag disagreements in an easier fashion, but fortunately this test is generally simple enough that simple inspection of code near the failure point will find the

[2020-06-23 01:42] AaronRobinsonMSFT commented on #38189
I honestly have no idea why this is failing, but is (a) recent and (b) doesn't happen when I use pthreads manually. Therefore I am going to use pthreads manually on non-Windows platforms.

@janvorli If you are feeling bored and interested in picking at some weird behavior, this is something for you :)

[2020-06-23 01:49] #37612 closed

[2020-06-23 02:02] JackTiber commented on #3203
Adding on that this is not working for Ubuntu 20.04 fresh install, using the stable channel to install the 3.1 SDK. Happy to alias the command, but would definitely be nice to see that during the install rather than having to search for this issue.

[2020-06-23 02:46] #35413 closed

[2020-06-23 02:53] PremSha20 commented on #27446
Can I know why this is removed from planning and get closed

[2020-06-23 02:53] scott-xu commented on #14540
Looking forward about signing API (sign/verify) for PE/COFF formats. The SignTool.exe is windows only and has no switch to turn off revocation check.

[2020-06-23 03:00] danmosemsft commented on #36879
@ajcvickers @cheenamalhotra please disregard this issue. Any and all issues tagged os-ios or os-android can be ignored for 5.0. (Apologies for not communicating this broadly enough.)

Only @safern is looking at these. Besides, any fixes here are likely outside of System.Data.

[2020-06-23 03:02] danmosemsft commented on #36879
Eh, I think the glob issue already has an issue tracking it..

[2020-06-23 03:19] AaronRobinsonMSFT commented on #38189
I finally found the issue. It is because during the `std::thread` constructor call, there is an inner data structure that is allocated using the call stack below - which uses the `new` provided by coreclr. During the cleanup, a different `delete` is used that uses the system `free`. This inner data structure is merely for convenience in with the `std::thread` API. I am confident with fix since it

[2020-06-23 03:27] jkotas commented on #38189
Does this mean that a 3rd party code that happens to use std::thread is going to hit the same problem?

We are supposed to link the CoreCLR overridden operator new with private visibility, so that it is used just by the CoreCLR code and nothing else. Maybe this got broken again?

[2020-06-23 03:31] AaronRobinsonMSFT commented on #38189
Probably since the test doesn't link against anything special here.

Boo. That is unfortunate. Let me look into this some more then. If that is indeed the case it might make sense to leave this code as is since it is helpful finding that regression.

[2020-06-23 03:51] #37236 closed

[2020-06-23 04:06] ourplan9000 opened #38257 ".net core, can't set this legacyUnhandledExceptionPolicy?"
.net core 2.1
To avoid program crash, I use AppDomain.CurrentDomain.UnhandledException to catch the unhandledexception，but the program still crashes and exits

Where to set this property of UnhandledExceptionEventArgs.IsTerminating ?

.net, can set this legacyUnhandledExceptionPolicy
<runtime> <legacyUnhandledExceptionPolicy enabled="true" /> </runtime>

but in .net core, hot to do?

Copied from o

[2020-06-23 04:45] srisuk2519 commented on #38257
5c125edb32d388eea765334d465b3b312fe55f5e0ad53174e6f643fb0e461eb147ca28e66b093f85ae26fab658f23f88af5253684c4bf170aa4fa663902449d8

เมื่อ อ. 23 มิ.ย. 2563 เวลา 11:07 ourplan9000 <notifications@github.com>
เขียนว่า:

[2020-06-23 05:10] v-haren commented on #34316
failed again in job: [runtime-coreclr r2r 20200621.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=698064&view=ms.vss-test-web.build-test-results-tab&runId=21631952&resultId=108565&paneView=debug)\

failed test: JIT\\Regression\\JitBlue\\GitHub_27924\\GitHub_27924\\GitHub_27924.cmd

Error message
[code]

[2020-06-23 05:16] v-haren commented on #35885
failed again in job: [runtime-coreclr crossgen2 20200621.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=698080&view=ms.vss-test-web.build-test-results-tab&runId=21631540&resultId=102227&paneView=debug)

failed test: tracing/eventpipe/rundownvalidation/rundownvalidation/rundownvalidation.sh

Error message
[code]

[2020-06-23 05:18] nattress opened #38259 "CG2: Time out in JIT\Regression\CLR-x86-JIT\V2.0-Beta2\b399444\b399444a"
Example run:
https://dev.azure.com/dnceng/public/_build/results?buildId=698082&view=ms.vss-test-web.build-test-results-tab&runId=21633748&resultId=109838&paneView=debug

Tests failing:
JIT\Regression\CLR-x86-JIT\V2.0-Beta2\b399444\b399444a
JIT\Regression\CLR-x86-JIT\V2.0-Beta2\b399444\b399444b

Platform:
Win10 x64, Linux x64

Item Log:
<pre>
Could Not Find C:\h\w\A62C0917\w\A98C097A\e\JIT\Regressi

[2020-06-23 05:19] nattress commented on #38259
The test has 65,536 fields in a type which are each initialized in the constructor. The calls to `getFieldInfo` dominate compilation. It looks like our version bubble computation may be overly expensive on this path since we iterate all fields on the type for each `getFieldInfo`.

[2020-06-23 05:35] nattress opened #38260 "CG2: Test failure JIT\Generics\Arrays\TypeParameters\MultiDim\class01 and struct01"
Example run:
https://dev.azure.com/dnceng/public/_build/results?buildId=698082&view=ms.vss-test-web.build-test-results-tab&runId=21633748&resultId=100954&paneView=debug

Tests failing:
JIT\Generics\Arrays\TypeParameters\MultiDim\class01
JIT\Generics\Arrays\TypeParameters\MultiDim\struct01
Loader\\classloader\\regressions\\Dev12_518401\\dev12_518401\\dev12_518401

Platform:
Win10 x64

Item log:
<pr

[2020-06-23 06:00] nattress commented on #38260
The runtime fails to parse the signature of `void !0[0...,0...].Set(int, int, !0)` in ``class01!Gen`1[System.__Canon].StoreTArray(System.__Canon[])`` because of a missing type context. Crossgen1 closes the instantiation over the containing type's `__Canon`: `void __Canon[...,...].Set(int, int, !0)`

[2020-06-23 06:27] safern commented on #38136
This was fixed in: https://github.com/dotnet/runtime/pull/38127

[2020-06-23 06:27] #38136 closed

[2020-06-23 06:39] buzzers opened #38262 "When will the PrepForRemoting method be available?"
I'm using the Orleans framework.
I want to propagate exceptions across processes in this framework and retain the original stacktrace.
Which has been done in the past, but when upgraded to .net core, because the `Exception.PrepForRemoting` method is no longer supported, we can only get the stack that is truncated.
This is a huge problem for debugging. When do you plan to re-offer this approach, or

[2020-06-23 06:48] obiwanjacobi commented on #37972
Yep - works for me.
Thank you very much!

[2020-06-23 07:31] #38199 closed

[2020-06-23 07:55] CalinBunea opened #38263 "Performance improvements on collections"
### Description
Hello,
My name is Calin Bunea and I work as a .NET developer in BigData area. We use .NET for most of our data processing and performance + memory usage is something we must always have in mind. So I will get straight to the proposal.
A LIst<T> in .NET is great because it can dynamically grow without any headache from developers (same applies for other collection structures like Ha

[2020-06-23 08:12] shirhatti commented on #33486
@wiktork Do we need this for dotnet-monitor?

[2020-06-23 08:33] marek-safar commented on #38238
I think this should better be fixed at the language level

[2020-06-23 08:43] enzian opened #38264 "MediaTypeHeaderValue should ignore unknow parameters in MIME types"
### Description

When `System.Net.Http.Headers.MediaTypeHeaderValue(string)` is used to parse a MIME type which contains an unnecessary parameter like in `image/png;charset=UTF-8` a format exception is thrown. While this modifier makes admittedly little sense, the IEEE spec explicity states that ["MIME implementations must also ignore any parameters whose names they do not recognize"](https://tool

[2020-06-23 08:59] voroninp commented on #38045
@maryamariyan But scope does not affect filtering, doesn't it? So if log level is set to `Warn` all 'Info' will be filtered out in the scope. That's not what I need.

[2020-06-23 09:08] marek-safar commented on #38154
Could you please include full verbose log and share the output folder

[2020-06-23 09:13] archanasoni commented on #38224
@scalablecory  here is repro:
[code]

Output:
[code]

[2020-06-23 09:36] GrowSharp commented on #36888
Hello there,
I just wanted to let you know, that
`connection.SessionOptions.SecureSocketLayer = false;` throws `operation is not supported on this platform` exception. Tried on Ubuntu 20.04, .NET Core 3.1, *.Protocols version `5.0.0-preview.5.20278.1`.

[2020-06-23 10:14] #33675 closed

[2020-06-23 10:50] voroninp opened #38267 "[area-Extensions-Logging] Logging.LogLevel.Default category seems to have no effect."
I have the following settings:
[code]

Whe I call `ILogger<WeatherForecastController>.LogInformation` I can see the message in console, but nothing is shown for `LogTrace`.
However, if I change the settings to:
[code]
I see the message from `LogTrace` call.

For these settings:
[code]
I would expect that `LogInformation` won't yield any output, yet I still see the message:

      => RequestPath:/w

[2020-06-23 11:09] SingleAccretion commented on #38263
Note that if I understand you correctly, this will essentially make `array.Length` a mutable property which does not seem desirable.

[2020-06-23 11:10] weltkante commented on #38174
Can confirm local dumps are already working again, would expect any CI dumps taken today work as well.

[2020-06-23 11:28] MihaZupan commented on #38224
Uri will parse the # in `file:///C:/Users/foo#App/bar.dll` as a fragment.
If # is meant as a character belonging to the file path, it should be escaped: `file:///C:/Users/foo%23App/bar.dll`.

Uri will correctly escape the # when you retrieve the absolute Uri:
`new Uri("C:/Users/foo#App/bar.dll").AbsoluteUri` => `file:///C:/Users/foo%23App/bar.dll`

So I would argue that the problem here is not wit

[2020-06-23 11:44] CalinBunea commented on #38263
Ok, you are right, but then there can be another method exposed by the Array class which will return the newly created Array (if is created). Currently, Array.Resize will generate a new object of type Array eitherway and that new type will have a new Length and the original Array will be actually floating in memory and available for garbage collection, so in any case I don't see your point with Le

[2020-06-23 12:02] SingleAccretion commented on #38263
Well, yes, but you can store reference to the array itself which is arguably equivalent.
In any case, a lot of code throughout the whole stack right now relies on `array.Length` being immutable, so changing that would be quite a break. For example, right now, if you store the array field in a local, JIT can safely assume that its length is not going to change and optimize based on that. If the arr

[2020-06-23 12:21] adamsitnik commented on #27251
Hi @kichalla

I am the new owner of `System.Console` area.

Before I proceed with this proposal I would like to get a better understanding of what you need.

1. Do you need this information only during debugging? If so we could just add `[DebuggerDisplay]` attribute for the `ArgumentList` property (no need for new API or API review) and whenever you would hover your mouse this particular property

[2020-06-23 12:25] CalinBunea commented on #38263
Well, I think there are 2 different things here. I didn't said that array should be allowed to "grow" but rather to provide tools to developer to allow to "expand" the current array in a more efficient way. Thread safety should be a concern for developer as it is today if you try to add items in a List<T> from multiple threads because behind the scenes List<T> has a field T[] _items which actually

[2020-06-23 12:32] SiggyBar opened #38269 "Migrating from Newtonsoft.Json to System.Text.Json reduces quality of error messages"
We are in the process of migrating from `Newtonsoft.Json` to `System.Text.Json` following similar steps as described [here](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to).

Unfortunately `System.Text.Json` exception messages are of lower quality than the corresponding exception messages produced by `Newtonsoft.Json`.  In our ASP.NET

[2020-06-23 12:37] kichalla commented on #27251
Thanks @adamsitnik. Thanks for reaching out to me regarding this.

In my case I was trying to use in both debugging and logging. In my team we try to use Process api to run docker containers in our tests and when ever a test fails we try printing out the command that was run as part of the test. We develop on Windows machines but run our tests on Linux machines, so logging could be helpful too if

[2020-06-23 12:38] #38267 closed

[2020-06-23 13:12] benaadams commented on #38011
@stephentoub are you happy for this to be for review?

[2020-06-23 13:17] renemadsen opened #38423 "Inconsitency for Danish DateTime using MMM formatter"
If you have a DateTime object for any given date in May and using the Danish culture, the result of the following code will render "maj"

`DateTime dateTime = new DateTime(2020, 5, 1, 0, 0, 0);`
`Console.WriteLine($"{dateTime:MMM}");`

But do the same for any other date in any of the other moths will render the following output:

jan. feb. mar. apr. jun. jul. aug. sep. okt. nov. dec.

Why this inc

[2020-06-23 13:22] jkotas commented on #38262
`ExceptionDispatchInfo.Throw(Exception source)` allows rethrowing an exception while preserving the original stack track. Unlike `PrepForRemoting`, this method is a proper fully supported public API.

Can Orleans use this API?

[2020-06-23 13:39] adamsitnik commented on #30124
Hi @nick2893

Thank you for your valuable suggestion!

We should add two new APIs that would allow for:

* specifying Processor Group and Affinity when starting a new process
* specifying Processor Group when setting Affinity of a process that is already running

If possible, the new APIs should support 1 Processor Group with more than 64 CPUs.

This would make .NET definitely more Numa-friendly (

[2020-06-23 13:39] tannergooding commented on #38238
That would also require it be solved for F#, VB, etc.

[2020-06-23 13:46] jkotas commented on #38263
Thank you for taking a time to write a long list of suggestions.

All these APIs use the same memcpy method from C++ runtime for buffers that are [larger than 2kB - on x64](https://github.com/dotnet/runtime/blob/6b5850fa7cf476b66be9d01a3ed05f4484b01d3a/src/libraries/System.Private.CoreLib/src/System/Buffer.Unix.cs#L17). They will have identical performance for collections of 50 million items that

[2020-06-23 13:48] jkotas commented on #38257
Ignoring unhandled exceptions is not supported in .NET Core. https://github.com/dotnet/runtime/issues/11546 has more discussion on this.

[2020-06-23 13:51] SiggyBar opened #38271 "Migrating from Newtonsoft.Json to System.Text.Json reduces quality of validation errors"
This issue is related to [this](https://github.com/dotnet/runtime/issues/38269) dotnet/runtime issue.

The examples below use a vanilla ASP.NET Core application with this controller:
[code]
In each example below, the body for a `POST` request is listed first.  Then comes the response when using `Newtonsoft.JSON` for doing the model binding, and then the response when using `System.Text.Json`.

Exa

[2020-06-23 13:52] srisuk2519 commented on #38257
เมื่อ อ. 23 มิ.ย. 2563 เวลา 20:49 Jan Kotas <notifications@github.com>
เขียนว่า:

[2020-06-23 13:54] pranavkm commented on #38271
MVC reports deserialization errors as-is. Addressing https://github.com/dotnet/runtime/issues/38269 should resolve this issue. We could close this as a dup.

[2020-06-23 13:58] ManickaP commented on #35068
It failed again for me in this run: https://dev.azure.com/dnceng/public/_build/results?buildId=700110&view=ms.vss-test-web.build-test-results-tab&runId=21707460&resultId=100008&paneView=debug

[2020-06-23 14:54] sake402 commented on #31742
[code]
If we then do
[code]
We get
[code]
Despite using object as the serialization type

[2020-06-23 15:05] layomia commented on #31742
@sake402 I couldn't get your repro to compile: https://dotnetfiddle.net/kLEyqt

[2020-06-23 15:07] eiriktsarpalis commented on #28114
Hi @SteveL-MSFT, this seems like a useful addition, but I'm not sure that `AsNetCredentialOnly` is a good name for such a property. I would probably use the following:
[code]
Specifying both flags should result in an `ArgumentException` being thrown, unless running on non-windows platforms where the flag should be a no-op.

[2020-06-23 15:15] jaredpar commented on #38238
Doing the support in an analyzer or the compiler requires it to be solved in all three languages separately.

This is borderline for me. On first reading this feels a bit domain specific in which case it would be better served as an analyzer.

At the same time though the libraries team has to make a decision: what level of enforcement do they want for this attribute? If they want this actually enf

[2020-06-23 15:15] vincentkam opened #38274 "dotnet run --no-build does not work when the `platform` environment variable is set"
### Description
If the environment variable `platform` is set in Powershell, `dotnet run --no-build` errors out with the following message like so:

[code]
A minimal repro can be created like so:
[code]

The work around of course, is to simply unset the environment variable. However, it would be nice to be able to specify the platform without needing to set/unset an environment variable. For examp

[2020-06-23 15:23] Anipik opened #38275 "AllConfigurationsBuild Failing Locally"
[code]

The above command seems to fail with an error message

[code]

Tried installing the developer pack, still not able to resolve the error.

cc @ericstj @ViktorHofer @safern

[2020-06-23 15:27] Anipik opened #38276 "Adding Ci protection for Building Individual Projects"
This issue is to provide ci protection against some basic scenarios regarding building individual project
- Simple src,ref, test build.
- Simple Solution Build.
- Build for a specific tfm or os
- run tests for an individual project.

We can run these commands on a list of projects after a vertical build.

cc @safern @ViktorHofer @ericstj @danmosemsft

[2020-06-23 15:28] lg2de opened #38277 "Documentation of PipeReader.AdvanceTo overloads is incomplete"
### Description
The documentation of the two overloads of [PipeReader.AdvanceTo](https://docs.microsoft.com/en-us/dotnet/api/system.io.pipelines.pipereader.advanceto) is incomplete:
The difference in behavior of the overloads is not described in detail.

There are two overloads
1. AdvanceTo(SequencePosition)
2. AdvanceTo(SequencePosition, SequencePosition)

The difference in API is the second para

[2020-06-23 15:34] sake402 commented on #29937
@jan-johansson-mr I second lwansbrough with his comment.
Worse now is if given
[code]
If we then do
[code]
We still get
[code]
which entirely strip off upper class hierachy property yet. Despite using object as the serialization type

[2020-06-23 15:35] Anipik opened #38278 "Remove Hardcoding wasm pinvoke paths"
Currently We are hardcoding the pinvokes paths https://github.com/dotnet/runtime/blob/master/src/mono/wasm/wasm.targets#L12

The  list is error pone and we should move away from it.

One was possible solutions suggested by @safern is adding p2ps and getting output assemblies.

cc @safern @ViktorHofer @ericstj

[2020-06-23 15:37] bartonjs commented on #22610
Fixed by #36729.

[2020-06-23 15:37] #22610 closed

[2020-06-23 15:39] Anipik opened #38281 "Adding dotnet build /t:help support for individual effects"
The purpose here to provide list of properties that developers can use to build different scenarios,

eg TargetOS, TargetArchitecture, Tfm, BuildTargetFramework, etc.

cc @safern @ViktorHofer @ericstj

[2020-06-23 15:39] ViktorHofer commented on #38275
Will be fixed with https://github.com/dotnet/runtime/pull/35606.

[2020-06-23 15:41] ViktorHofer commented on #38281
How does a developer know that the `help` target exists? If the developer already has to read the docs to find out about it, why wouldn't we prefer that place over a help target to document these properties?

[2020-06-23 15:51] SiggyBar commented on #38271
What is causing `Path` to change from `$.Id` to `$` (and the type from `System.Guid` to `ApplicationName.Controllers.Model`) in the first example when comparing [#38269](https://github.com/dotnet/runtime/issues/38269) with this issue?

[2020-06-23 15:55] #38189 closed

[2020-06-23 16:04] mdh1418 opened #38283 "Libraries thread-related failures on WASM"
There are several thread-related failures when testing libraries on WASM following these testing [instructions](https://github.com/dotnet/runtime/blob/master/docs/workflow/testing/libraries/testing-wasm.md).

To stand up helix test runs on WASM, `ConditionalFact` and `ConditionalTheory` were added to failing tests in the following PRs: #38232 #38089 (#37822 overwritten by #38039).

### Related tes

[2020-06-23 16:07] jaredpar commented on #35068
Looks like this test is flaky again. We should disable

### Builds
|Build|Pull Request | Test Failure Count|
| --- | --- | --- |
|[#699878](https://dev.azure.com/dnceng/public/_build/results?buildId=699878)|Rolling|1|
|[#700110](https://dev.azure.com/dnceng/public/_build/results?buildId=700110)|#34948|1|
### Configurations
- Installer-coreclr-OSX_x64-Release

[2020-06-23 16:17] ajcvickers commented on #1034
@Wraith2 Did your PR linked above fix this issue?

[2020-06-23 16:34] #34116 closed

[2020-06-23 16:37] Wraith2 commented on #1034
SqlDecimal was improved but I didn't add a new api because it hasn't been proposed or reviewed. So no.

I do think it would be helpful to review various SqlTypes members including SqlDecimal and ensure we have span enabled paths for use. Recently I found that SqlBinary has a similar lack of access and that can have significant memory costs.

[2020-06-23 16:41] jaredpar opened #38284 "PayloadGroup0 is timing out"
This test group is failing in a lot of different runs right now, most commonly it is timing out.

### Console Log Summary

### Builds
|Build|Pull Request | Test Failure Count|
| --- | --- | --- |
|[#696661](https://dev.azure.com/dnceng/public/_build/results?buildId=696661)|#37882|2|
|[#697941](https://dev.azure.com/dnceng/public/_build/results?buildId=697941)|#36847|2|
|[#697959](https://dev.azure

[2020-06-23 16:43] safern commented on #38244
I'm not sure if it has been our intention over the past, but I think it doesn't hurt to add those colors if they help matching other frameworks with default colors.

Marked as ready for review.

[2020-06-23 16:46] mkArtakMSFT commented on #38285
@lewing FYI

[2020-06-23 16:46] safern commented on #38281
We thought that adding `/t:help` might be really helpful for people to remember what is available for that specific project. Based on project type we could expand available common targets, how to run tests, what properties are available, etc.

[2020-06-23 16:50] #38174 closed

[2020-06-23 16:51] safern commented on #35068
The test was just re-enabled in: https://github.com/dotnet/runtime/pull/38143

[2020-06-23 16:54] safern commented on #38284
Related:
https://github.com/dotnet/runtime/issues/37132|
https://github.com/dotnet/runtime/issues/38121

[2020-06-23 16:54] danmosemsft opened #38286 "Setting 5.0 milestone in this repo"
As you know we’re working hard to release .NET 5 in November.

## Milestones

We expect to use much the same process we used last year to ship .NET Core 3.0. Over the next 3 weeks in this repo we’re working to clear the 5.0 milestone of everything except those issues we must fix for that release. You’ll see us set the 5.0 milestone on some issues and remove it from others. That doesn’t mean we won

[2020-06-23 16:56] danmosemsft commented on #702
Unpinning for a bit

[2020-06-23 16:58] jaredpar commented on #702
@danmosemsft why? This is pinned so that devs can find active infra issues easily.

[2020-06-23 16:59] Anipik opened #38287 "Restore Target Not working on indivual Projects when building with specific targetFramework"
expected behavior
[code]

Actual Behavior
[code]

msbuild commanf works as it doesnt runs restore

cc @ericstj @ViktorHofer @safern

[2020-06-23 16:59] wiktork commented on #33486
I wouldn't say need, more of a nice to have. It's a gap between inproc ILoggers and what we can collect.

[2020-06-23 17:06] GrabYourPitchforks commented on #24416
Going through some old stale bugs. Seems that this is probably a non-actionable issue and should be closed?

[2020-06-23 17:06] danmosemsft commented on #702
Because we can only pin 3 issues and I added a new one. Which do you want to drop? :)

[2020-06-23 17:18] pgovind opened #38288 "Consider adding HalfToInt16Bits and Int16BitsToHalf to BitConverter"
https://github.com/dotnet/runtime/pull/37630 adds `HalfToInt16Bits` and `Int16BitsToHalf` as internal methods to BitConverter. We should consider exposing them as public.

## Proposed API
[code]

cc: @tannergooding

[2020-06-23 17:18] roji commented on #37719
@pkoelbl thanks for filing this. Would it be possible to get a small, runnable code sample that demonstrates the issue?

[2020-06-23 17:20] jkotas commented on #702
FWIW, I find the permanently pinned issues distracting. I am actively forcing myself to avoid clicking on the "x" button because it would unpin the issue for everybody. I have done it several times by accident. Muscle memory: you see "x" next to a thing that you do not want to see anymore, so you automatically click it to make it go away. I wish github allowed me to hide the pinned issues that I h

[2020-06-23 17:26] ViktorHofer commented on #38287
Works fine for me:

[code]

[2020-06-23 17:27] ericstj commented on #38278
I would expect that this table should consider every assembly which is part of the runtimepack, is that right @akoeplinger?

This seems similar to some other things that @ViktorHofer has been working on.

[2020-06-23 17:28] #1968 closed

[2020-06-23 17:29] ViktorHofer commented on #38281
So again, how would a developer know that the help target exists without finding it in the docs? I don't see much value in doing that and would instead want to focus on improving the existing docs. Some of those are long and hard to read.

[2020-06-23 17:30] tannergooding commented on #38288
This isn't critical for .NET 5 so marking as future. This just provides parity with the equivalents exposed for Single/Double.

[2020-06-23 17:32] ajcvickers commented on #898
@esso23 Please attach a small, runnable project or post a small, runnable code listing that reproduces what you are seeing so that we can investigate.

[2020-06-23 17:33] ajcvickers commented on #20289
Closing as we don't intend to make any changes here.

[2020-06-23 17:33] #20289 closed

[2020-06-23 17:34] roji commented on #29658
Duplicate of #38028

[2020-06-23 17:34] roji commented on #29658
@tanbchr FYI this will probably be going in for .NET 5.0.

[2020-06-23 17:34] #29658 closed

[2020-06-23 17:36] danmosemsft commented on #702
I hear you - I don't know we have any better way to communicate with the community. Unless we add something to the top of the readme, which may not be noticed.

[2020-06-23 17:38] ajcvickers commented on #22071
System.Data and many applications built on System.Data assume that the interfaces can be cast to the base types. This greatly reduces the usefulness of the interfaces since in many cases different implementations than expected with result in exceptions. This means that, even with default interface implementations now available, we still don't plan to evolve these interfaces.

[2020-06-23 17:38] #22071 closed

[2020-06-23 17:38] josalem commented on #38284
Spot checked those logs.

Looks like a few of these are #38156.  I'm currently investigating that failure.  However, it seems the frequency of hitting it has increased recently.  If need be, we can temporarily disable this test, but I think it might an actual regression and not just flakiness.

I am also noticing several that are varying failures of Crossgen2 Determinism test failrues.  Some of th

[2020-06-23 17:39] ajcvickers commented on #23020
Closing as this is not something we plan to fix.

[2020-06-23 17:39] #23020 closed

[2020-06-23 17:40] roji commented on #35069
Missed this discussion... FWIW Npgsql also works just like @bgrainger describes - it's fine to create a new command while a previous command is still un-disposed. What's disallowed is executing it while a previous reader is still un-disposed. I agree that this should be handled as a SqlClient enhancement rather than a general new ADO flag.

I'm going to close this for now as not needed, but if the

[2020-06-23 17:40] #35069 closed

[2020-06-23 17:40] josalem commented on #38284
CC @mangod9 for R2R failrues.

[2020-06-23 17:40] ajcvickers commented on #25739
Closing as this is not something we plan to implement.

[2020-06-23 17:40] #25739 closed

[2020-06-23 17:41] roji commented on #36168
Duplicate of #26505

[2020-06-23 17:42] sdmaclea commented on #32596
Customer reported issue appears resolved.

[2020-06-23 17:42] #32596 closed

[2020-06-23 17:42] ajcvickers commented on #26006
This is not a direction that we plan to go with System.Data.

[2020-06-23 17:42] #26006 closed

[2020-06-23 17:43] roji commented on #36168
@rgarrison12345 ADO interfaces such as IDataRecord and IDbConnection are mostly a legacy detail - all new APIs are introduced on the base classes instead. Also, is there any reason you can't use DbDataReader instead of IDataRecord?

Am closing this as a duplicate for now, but we can continue discussing.

[2020-06-23 17:43] #36168 closed

[2020-06-23 17:43] ajcvickers commented on #26505
System.Data and many applications built on System.Data assume that the interfaces can be cast to the base types. This greatly reduces the usefulness of the interfaces since in many cases different implementations than expected with result in exceptions. This means that, even with default interface implementations now available, we still don't plan to evolve these interfaces.

[2020-06-23 17:43] #26505 closed

[2020-06-23 17:43] #32096 closed

[2020-06-23 17:45] danmosemsft commented on #38281
I don't know whether I'm a representative user, but I am confident I can remember `/t:help`, but will certainly forget the various names of the properties and their possible values (viz: the recent discussion about how to build for FreeBSD). And they may change in future.

The docs are important, but for simple mainstream commands I'd like to get the job done quickly without heading to look at doc

[2020-06-23 17:46] #26771 closed

[2020-06-23 17:47] mangod9 commented on #38284
@trylek have you noticed any AVs within your recent cg2 CI runs like the one noted above? It appears its probably unrelated to cg2, but some corruption similar to the socket AV.

[2020-06-23 17:48] ajcvickers commented on #29335
Closing as this is not something we plan to implement.

[2020-06-23 17:48] #29335 closed

[2020-06-23 17:48] ajcvickers commented on #29685
Closing as this is not something we plan to implement.

[2020-06-23 17:48] #29685 closed

[2020-06-23 17:49] ajcvickers commented on #30364
@aiba7339 Please provide more details on what you mean by, "There are some codes generated by VS."

[2020-06-23 17:50] sdmaclea commented on #1227
This was clearly designed to meet Linux perf needs.  If it would be useful on macOS, thaen feel free to submit a PR.

As you said it may be a matter of enabling the flag during build.  Add conditional logic to fix any compilation issues. The jitdump feature may be less useful for macOS and may need to have a separate flag to disable it.

We do not plan to fix for 5.0, but we would very likely acce

[2020-06-23 17:50] ajcvickers commented on #30707
Please attach a small, runnable project or post a small, runnable code listing that reproduces what you are seeing so that we can investigate.

[2020-06-23 17:51] ajcvickers commented on #31467
Closing as this is not something we plan to implement.

[2020-06-23 17:51] #31467 closed

[2020-06-23 17:52] ajcvickers commented on #31470
Closing as this is not something we plan to implement.

[2020-06-23 17:52] #31470 closed

[2020-06-23 17:52] ajcvickers commented on #33628
Closing as this is not something we plan to implement.

[2020-06-23 17:52] #33628 closed

[2020-06-23 17:52] ViktorHofer commented on #37358
Spoke with @jeffkl. Static graph restore currently doesn't work on slns. We probably need to bring back this piece of code in the TargetFramework SDK: https://github.com/dotnet/arcade/commit/4a290d3ff8fffd52451040ab09e482af814511ce#diff-e3462a51d4395b12c22c7012edc37a3fL43-L59

[2020-06-23 17:53] trylek opened #38290 "CG2/Composite: BinderTracingTest.ResolutionFlow.cmd - FileLoadException in LoadFromAssemblyPath_FoundInAppPath"
Example run:

https://dev.azure.com/dnceng/public/_build/results?buildId=699843&view=ms.vss-test-web.build-test-results-tab&runId=21699982&resultId=102428&paneView=attachments

Platform:

Windows x64, arm64 (all architectures currently supported by Crossgen2)

Diagnostics:

<pre>
[7:04:02 AM] Launching process for LoadFromAssemblyPath_FoundInAppPath...
[7:04:03 AM] Running LoadFromAssemblyPath_Fou

[2020-06-23 17:53] ajcvickers commented on #35417
Closing as this is not something we plan to implement.

[2020-06-23 17:53] #35417 closed

[2020-06-23 17:55] ajcvickers commented on #30952
Closing as this is not something we plan to implement.

[2020-06-23 17:55] #30952 closed

[2020-06-23 17:55] #38248 closed

[2020-06-23 17:55] ajcvickers commented on #21383
Closing as this is not something we plan to implement.

[2020-06-23 17:55] #21383 closed

[2020-06-23 17:55] ajcvickers commented on #31533
@saurabh500 Do you believe that there is still work to be done here?

[2020-06-23 17:56] jaredpar commented on #38284
@josalem

Given the hit count right now we should be disabling unless a fix is eminent. Even if this is a regression we should still be disabling the test. In the current state it's just serving to mask other failures in the system.

[2020-06-23 17:56] trylek opened #38291 "CG2/Composite: baseservices\TieredCompilation\BasicTest_QuickJitOff_R2r\BasicTest_QuickJitOff_R2r.cmd fails to compile"
Example run:

https://dev.azure.com/dnceng/public/_build/results?buildId=699843&view=ms.vss-test-web.build-test-results-tab&runId=21699982&resultId=102305&paneView=attachments

Platform: all

Diagnostics:

<pre>
Error: Module with same simple name already exists C:\h\w\BE120A59\w\A05F08BC\e\baseservices\TieredCompilation\BasicTest_QuickJitOff_R2r\IL\BasicTest_QuickJitOff_R2r.ni.dll
System.IO.FileN

[2020-06-23 17:56] #37519 closed

[2020-06-23 17:57] ajcvickers commented on #29969
Closing as this is not something we plan to fix.

[2020-06-23 17:57] #29969 closed

[2020-06-23 17:57] ajcvickers commented on #31497
@saurabh500 Do you believe that there is still work to be done here?

[2020-06-23 17:58] trylek commented on #38291
Hits 5 tests total:

<pre>
baseservices\TieredCompilation\BasicTest_QuickJitOff_R2r\BasicTest_QuickJitOff_R2r.cmd
baseservices\TieredCompilation\BasicTest_DefaultMode_R2r\BasicTest_DefaultMode_R2r.cmd
baseservices\TieredCompilation\BasicTest_QuickJitForLoopsOn_R2r\BasicTest_QuickJitForLoopsOn_R2r.cmd
baseservices\TieredCompilation\BasicTest_QuickJitForLoopsOff_R2r\BasicTest_QuickJitForLoopsOff_R2r

[2020-06-23 17:58] josalem commented on #38284
Sounds good; PR incoming.

[2020-06-23 18:00] ViktorHofer commented on #38281
So I probably missed the point. I though this is about improving the first time contributor scenario.

[2020-06-23 18:07] trylek commented on #38284
@mangod9 - I didn't hit it in the Crossgen2 runs but I have seen the PayloadGroup0 timeouts pretty regularly in my recent PR runs.

[2020-06-23 18:14] danmosemsft commented on #38281
The first time contributor is inevitably going to have to walk through the docs. The idea behind something like this is to try to reduce the number of times they have to return to those docs, I guess.

[2020-06-23 18:17] ViktorHofer commented on #37896
@akoeplinger would you mind doing another runfo?

[2020-06-23 18:22] sake402 commented on #31742
@layomia Please check again here.
https://dotnetfiddle.net/cGBgIp

[2020-06-23 18:25] n-shay commented on #36384
Can someone at MS provide us with a bit of clarity whether there is any intention to improve this weird behavior?
It doesn't follow common sense, or patterns in other frameworks.

If someone have any good workaround, Please share. As of right now, my workaround bypasses the extension's `PhysicalFileProvider` (or `AddJsonFile`) which is not the desired outcome.

[2020-06-23 18:27] #200 closed

[2020-06-23 18:30] jkotas commented on #702
I am wondering who is the target audience for the pinned issues. The pinned issues communicate the following currently:

- We have 12 overarching themes that we are working on in .NET 5. Should this rather be mentioned next to the roadmap link in the readme?
- We have 30 different sources of CI and official build flakiness
- We are using 5.0 as the milestone for .NET 5.0 issues
- We are going to r

[2020-06-23 18:30] safern commented on #38281
Yeah the point of this is once you know how the repo build works, you already read the docs, so that you don’t have to go back to the docs and just remember about /t:help and that will help you without having to leave the terminal at all.

A lot of people reach out why doesn’t /p:TargetArch work, because they forget it is /p:TargetArchitecture. Also they forget various combinations to cross compil

[2020-06-23 18:42] nattress commented on #13665
This no longer repros on a checked runtime with COMPlus_TieredCompilation=0, COMPlus_GCStress=0x3.

[2020-06-23 18:42] #13665 closed

[2020-06-23 18:48] akoeplinger commented on #38278
Yes it should consider every assembly.

[2020-06-23 18:49] #38121 closed

[2020-06-23 18:51] safern commented on #38278
Yeah I agree we should consider every assembly instead of hard coding a list of assets.

[2020-06-23 18:55] #38106 closed

[2020-06-23 19:01] scalablecory commented on #1793
Current gist:
[code]

[2020-06-23 19:01] akoeplinger commented on #37896
@ViktorHofer I don't get any reports for that string but runfo hit issues on a bunch of builds:

[code]

[2020-06-23 19:05] mthalman commented on #13291
I've updated the original issue posting to include a more comprehensive description of the problems being faced.

[2020-06-23 19:19] JamesNK commented on #1793
`EstablishConnection` returns an `IConnection`. Should it be `ConnectionBase`?

Should `ConnectionBase` have some kind of status? i.e. idle, connecting, ready, closed. That would allow code to decide whether a connection can be used.

[code]

See https://github.com/grpc/grpc/blob/master/doc/connectivity-semantics-and-api.md

[2020-06-23 19:26] ViktorHofer commented on #37896
ok thanks, cc @jaredpar

[2020-06-23 19:29] ViktorHofer commented on #2332
@Anipik would you be interested in picking this up? We definitely need it, ideally before we branch to net6.

[2020-06-23 19:29] ViktorHofer commented on #36858
@Anipik what's the status on this?

[2020-06-23 19:33] danmosemsft commented on #702
😁
Maybe the stickies should only be for announcements (sticks around for a week or two only) and anything else should be linked from the readme. My guess is that nobody reads the readme after they've read it once, of course.

[2020-06-23 19:34] ViktorHofer commented on #34953
@Anipik do you have more data on this to follow-up?

[2020-06-23 19:38] scalablecory commented on #1793
It should be `Connection`; thanks.

It looks like this state could be tracked/deduced based on the current API. To make it pay-for-play (not all users would want overhead needed to track these things) I would suggest implementing some sort of `StateMonitoringConnectionFactory` that performs this work and exposes the state as a connection property.

[2020-06-23 19:41] #36588 closed

[2020-06-23 19:46] halter73 commented on #35088
I think `MaxConnectionsPerHttp2Server` is both much more clear and more flexible than `StrictMaxConcurrentStreams`. The only downside I see is that WinHttpHandler cannot support it, but `EnableMultipleHttp2Connections` seems like a fine alternative in that case.

[2020-06-23 19:58] alnikola commented on #35088
@JamesNK Could you please clarify whether you need to balance load among opened HTTP/2 connections or not? The proposed implementation in SocketsHttpHandler will open new connection only when the active streams limit reached on the existing connection. Meaning, it will minimize the number of opened connection, but will **not** balance load across them.

[2020-06-23 19:58] mthalman commented on #13291
cc @leecow, @richlander, @NikolaMilosavljevic, @dagood

[2020-06-23 20:07] swaroop-sridhar commented on #35068
The test now failed in a different mode.
Previously, the test failed to start, but now it runs to completion but output wasn't captured properly.
Also, the failures so far are Osx release only.

I'll disable the test again and investigate.

[2020-06-23 20:15] JamesNK commented on #35088
That is fine. I'm about to start looking at load balancing with gRPC in detail, but I don't see this feature as being used for it. Load balancing would likely use lower-level connection abstractions.

With the current proposal in this issue I imagine that SocketsHttpHandler will try to minimize the number of open connections. e.g. it will open 100 streams on connection A, then open 100 streams on

[2020-06-23 20:15] #34696 closed

[2020-06-23 20:17] ViktorHofer commented on #38287
Probably because you didn't specify the TargetFramework via the `-f` switch. Closing, feel free to reopen.

[2020-06-23 20:17] #38287 closed

[2020-06-23 20:17] kqr commented on #1227
I did attempt a PR, #1228. It wasn't quite as easy as just enabling the toggle, and then I had a baby and then I switched to Linux anyway, so I'm no longer a very strong advocate for this -- if that changes anything in terms of prioritization.

[2020-06-23 20:21] safern commented on #38287
Doesn't the `-f` switch get's transformed to `/p:TargetFramework`? Why shouldn't `/p:TargetFramework` work?

[2020-06-23 20:26] JamesNK commented on #1793
I think I edited this paragraph in after you started replying:

There is a `CloseAsync` on `ConnectionBase` but no `ConnectionAsync` or state.

As a user of this, I'm trying to figure out whether out whether I should be interacting with the socket to connect, disconnect, reconnect, determine state, etc. Or should this be functionality exposed on the connection abstraction?

[2020-06-23 20:29] akoeplinger commented on #38164
https://github.com/dotnet/runtime/pull/38256 fixed the crash but we're still reporting `System.IO.IOException : Not supported` from the property so we still need to fix that.

[2020-06-23 20:30] ViktorHofer commented on #25257
We aren't actively building most of these System packages anymore. I tend towards closing this. Feel free to reopen if you disagree.

[2020-06-23 20:30] #25257 closed

[2020-06-23 20:30] JamesNK commented on #35088
@geoffkizer @stephentoub Benchmarks show performance benefits of spreading streams across connections. Do you have any thoughts on using a feature like this to increase RPS?

[2020-06-23 20:33] bilalchraibi commented on #29658
@roji  This is great news!

[2020-06-23 20:33] ViktorHofer commented on #25664
@ericstj should we close this issue of age? Don't think this issue still applies to the current set of packages that we build.

[2020-06-23 20:35] #37358 closed

[2020-06-23 20:39] rainersigwald commented on #38138
Would it be possible to get a list of all running processes at the point of the hang? The handshake changes may be related but I hope they aren't.

cc @Forgind

[2020-06-23 20:39] safern commented on #38164
Also, the test should be re-enabled or skipped without ActiveIssue before we close the issue.

https://github.com/dotnet/runtime/blob/4aef3cc24e6394a6656de866236ea5bc800543dc/src/libraries/System.Runtime.Extensions/tests/System/Environment.UserName.cs#L9

[2020-06-23 20:41] BruceForstall commented on #37470
Did the 967d216 build pass the test, and the current one consistently fail the test, for you?

[2020-06-23 20:42] ViktorHofer commented on #38287
There must be a difference. Can't look into the dotnet/sdk source right now but on the same SHA locally:

[code]

[2020-06-23 20:44] tlakollo opened #38301 "Allow deletion of custom attributes with the linker"
## Background and Motivation

The proposal is to create an attribute for specifying "always" removed attributes. The main purpose is to reduce size on final applications by deleting the attributes we know are not necessary. The proposed name for this attribute is `LinkerRemovableAttribute` and is used to annotate other custom attribute types. Adding the `LinkerRemovableAttribute` attribute on a cu

[2020-06-23 20:44] AndyAyersMS commented on #37470
I can't get this to fail locally.

Am going to modify the runtime to assert if the return value is not an "expected" value and see if can use this to get some dumps from CI.

[2020-06-23 20:45] ericstj commented on #38283
@mdh1418 @steveisok what is the action item here?  Is it to implement threading on browser or something else?

[2020-06-23 20:46] Forgind commented on #38138
What MSBuild version did you use? We just merged a change to the handshake that would prevent MSBuild from making too many connections, but if it's from before we masked out the first byte, that version could make too few connections and fail to shut down all MSBuild nodes.

[2020-06-23 20:48] AndyAyersMS commented on #37470
Looking at commits in that range I wonder if somehow #37274 is involved... among other things it renamed at least some of these tests (to include the `Target...` suffix) and from what I can tell the tests that got renamed did not fail under their old names.

[2020-06-23 20:48] ViktorHofer commented on #30826
This was done with https://github.com/dotnet/runtime/commit/da97f17219da1cea3a53fbdb7f80b0a2012b982f#diff-891b50b7d5fe7380fc246ed310019d61.

[2020-06-23 20:48] #30826 closed

[2020-06-23 20:48] BruceForstall commented on #37470
fwiw, it's interesting that _il_dbgsizeof64.ilproj has:
[code]

which seems probably wrong for arm32, since all the other proj files have something like:
[code]

[2020-06-23 20:49] tlakollo commented on #38301
cc @stephentoub @terrajobst @marek-safar @vitek-karas @jkotas

[2020-06-23 20:50] geoffkizer commented on #35088
Yes, that's part of what we mean by "load balancing" here. I think it's beyond the scope of this particular feature, but it's interesting to look at longer-term.

Ideally we can improve the connection concurrency here so that spreading streams across connections is less of a win.

[2020-06-23 20:56] reflectronic commented on #38244
If `KnownColor` members are being added, static members should be added to `Color` as well.

[2020-06-23 20:59] BruceForstall commented on #37470
Looks likely. (Although I don't know why you can't repro. Maybe you could download assets built by the CI and see if those repro locally)

Looks like `_il_dbgsizeof64.ilproj` didn't get the same conversion done that the others did, so its build is not properly specified.

[2020-06-23 20:59] scalablecory commented on #1793
ConnectionFactory.ConnectAsync() will return an already connected Connection. Once closed, the Connection can't be reused.

Were you to track the state yourself, it would look like:

[code]

with "idle" needing to wrap the `Stream.Read` etc. with some opinionated timers.

[2020-06-23 21:01] AndyAyersMS commented on #37470
Oddly enough `_il_dbgsizeof64` only fails for x86, where it is "properly" specified.

[2020-06-23 21:12] steveisok commented on #38283
Yes, enabling threading would solve the problem.

To get it working in the current state, the action items would be to reshape the tests / figure out how or if we can get a message pump in the correct place.  We're only working with the main thread, so waiting (and the like) is not supported.

Given the schedule, it's unclear whether we're going to be able to devote enough time.

[2020-06-23 21:27] stephentoub commented on #38301
I'm not understanding why this requires a new attribute.  If the primary use case is just naming it in the XML file, why can't specifying the removal of an attribute just be a feature of the XML file?

[2020-06-23 21:28] tannergooding commented on #7951
There hasn't been a response here in 3 years. Going to close.

Please feel free to reopen with more details if you have them 😄

[2020-06-23 21:28] #7951 closed

[2020-06-23 21:30] tannergooding commented on #6967
Going to close this. `Vector<T>` now lives in S.P.Corelib and there are new types, `Vector64<T>`, `Vector128<T>`, and `Vector256<T>` which can be used for more fine grained optimizations.

[2020-06-23 21:30] #6967 closed

[2020-06-23 21:34] tannergooding commented on #5482
Going to close this as we are not looking at making breaking changes to how `IntPtr` works.

For C# 9, there are two new language keywords `nint` and `nuint` which map to `IntPtr` and `UIntPtr`, respectively.
When using these new keywords, you get support for checked/unchecked contexts, operators, and other niceties normally expected from integral types. They can be used to avoid overflow, when th

[2020-06-23 21:34] #5482 closed

[2020-06-23 21:35] vitek-karas commented on #38301
Couple of notes from our thinking about this:
* We don't plan (want) to make this attribute public for .NET 5 - we don't have a need for a public one, only internal one right now. We wanted to go through at least some API discussion to reduce the burden of renaming it (and other changes) in the future once we do make it public.
* Currently we plan to have most of it in XML because it's the fastest

[2020-06-23 21:38] tannergooding commented on #12897
Closing as the custom-numeric format string issue was fixed and the change to regular formatting is by design.

[2020-06-23 21:38] #12897 closed

[2020-06-23 21:38] stephentoub commented on #38301
There's multiple aspects of public, though.  If developers will be able to name it in an XML file they pass to the linker, referring to some internal attribute in corelib, then if we delete/rename/etc. that attribute, we'd break them.  So while it's not public from the perspective of C# code using it, it is public from the perspective of these XML files using it.

Or am I misunderstanding the inte

[2020-06-23 21:44] marek-safar commented on #38301
@tlakollo it would be helpful for the review to include example how this attribute will be used in c# only (no XML)

[2020-06-23 21:46] vitek-karas commented on #38301
You're right (no misunderstanding) - I think we should not advertise this capability too widely - we'll use it for Blazor (and even that is not 100% yet - depends on actual size wins).
The alternative to an "internal" API is to have a feature in the linker (something similar to what you suggest) - but that would also be "temporary" and would fall into the same "we'd have to support this going forw

[2020-06-23 21:52] #31483 closed

[2020-06-23 21:54] stephentoub commented on #38046
@terrajobst can correct me if I'm speaking out of line, but I don't believe we have any precedent for adding to the already released .NET Standards and wouldn't do so for this.

[2020-06-23 22:16] joperezr commented on #36888
Hello @GrowSharp yes, that is by design: https://github.com/dotnet/runtime/blob/adab8f20bb14677e5395e2c6a13c4ecda228adc8/src/libraries/Common/src/Interop/Interop.Ldap.cs#L67

the native library that we use underneath for our Linux implementation is openldap, which doesn't support this option like wldap32 does. Here is more info  on openldapand the options they do support in case you are interested

[2020-06-23 22:18] tlakollo commented on #38301
I update the usage section with the attribute usage directly on the class and an example with the feature switch on the xml

[2020-06-23 22:20] jeffschwMSFT commented on #38274
@marcpopMSFT is this a CLI issue?

[2020-06-23 22:22] jeffschwMSFT commented on #38214
cc @richlander

[2020-06-23 22:23] stephentoub commented on #38301
Thanks, but wouldn't such a removal be problematic for, e.g., our usage in dotnet/runtime? What would prevent the linker from trimming out these attributes when doing the assembly build (rather than the subsequent app build)?

[2020-06-23 22:28] danmosemsft commented on #38138
@Forgind would that lead to a hang though? Would the "server" MSBuild be left hanging because it didn't get enough bytes, for example?

[2020-06-23 22:29] swaroop-sridhar opened #38304 "SingleFile: Statically link core native libraries to Linux SingleFileHost"
Statically link System.Native, System.IO.Compression.Native, System.IO.Ports.Native, System.Net.Http.Native, System.Net.Security.Native and System.Security.Cryptography.Native.OpenSsl native libraries with singlefilehost.

[2020-06-23 22:32] danmosemsft commented on #37641
Thanks for the information. Based on your commentary I will close this and we will reconsider if it turns out it is having more widespread impact.

[2020-06-23 22:43] Anipik commented on #38287
It works on dotnet new console project. Shouldn't we make it work ?

[2020-06-23 22:46] k15tfu opened #38306 "System.Private.CoreLib.dll cannot be opened because the developer cannot be verified"
Hi!

When I unpack an official dotnet-sdk-5.0.100-preview.5.20279.10-osx-x64 archive I cannot build a simple app without tons of `*.dll cannot be opened because the developer cannot be verified` warnings for PE files on macOS 10.15. I found some code that uses pread in case of PROT_EXEC when IsRunningOnMojaveHardenedRuntime which looks like a workaround for the same problem (https://github.com/dot

[2020-06-23 22:47] maryamariyan commented on #38063
Noted @vcsjones :)
Updated with https://github.com/dotnet/runtime/issues/38306#issuecomment-648466874

[2020-06-23 22:47] #38063 closed

[2020-06-23 22:50] Forgind commented on #38138
I don't think so, but I might be wrong. As I understand it, the child will disconnect if the parent's handshake doesn't match, which will cause the parent to stop waiting. If the parent's handshake matches, the client handshake should match, since it's just the opposite of the host handshake. Maybe if there's a critical exception in the node client, it wouldn't disconnect properly? The number of b

[2020-06-23 22:57] janvorli commented on #38306
That is not a workaround for a similar problem. That code is to enable us to map pages from managed R2R compiled assemblies as executable. On Mojave hardened runtime, it is not allowed to create executable mappings directly from a file. So we have to create anonymous mapping that's executable and read the executable section data into it using pread.

[2020-06-23 23:56] alepikhov opened #38308 "Currency symbol may be wrong after apply string format method"
### Description
Code:
[code]
Expected value for text variable: "100,00 €"
 but in .net 5 runtime we see "100,00 ¤".

.NETCore 5 -  text[7] | 164 '¤'
.NET 4.8	- text[7]  | 8364 '€'
.NETCore 3.1 -	text[7]  |  8364 '€'

### Configuration
5.0.100-preview.5.20279.10
OS Version:                10.0.18362 N/A Build 18362

### Regression?
For netcoreapp3.1 / .NET 4.8:
Code:
[code]
Text  - "100,00 €"

[2020-06-24 00:02] marcpopMSFT commented on #38274
Issue moved to [dotnet/sdk #12159](https://github.com/dotnet/sdk/issues/12159) via [**ZenHub**](https://www.zenhub.com/)

[2020-06-24 00:04] bartonjs commented on #37144
Since this is a documented behavior of the API, closing the issue ("by design").

[2020-06-24 00:04] #37144 closed

[2020-06-24 00:06] rgarrison12345 commented on #36168
Hello @roji

I currently have some code that looks like the below.  I am using DbDataReader to iterate through the result set, but I'm mapping a record from the current record in the reader.  I'm Using MapRecord<T> to map an instance of IDataRecord.  If there's a better way to do this I am open to suggestion.

My interest in the approach is there may be some business logic where I need to skip a r

[2020-06-24 00:07] bartonjs commented on #36938
Even with the API proposal from https://github.com/dotnet/runtime/issues/37383, how would you expect the PFX load to understand to associate the private key to an HSM?  Or are you just hoping it creates a new key, instead of accessing an existing persisted key?

[2020-06-24 00:09] bartonjs commented on #36899
While this is another nudge in the direction of working around the underlying difference in exportability notions, I don't think we're ready to do anything about it yet. So I'm going to go ahead and close the issue.

[2020-06-24 00:09] #36899 closed

[2020-06-24 00:12] bartonjs commented on #35646
We have an analyzer which should help: https://docs.microsoft.com/en-us/dotnet/standard/analyzers/portability-analyzer

[2020-06-24 00:14] AndyAyersMS commented on #37470
Seeing if I can get some dumps from CI via #38309.

[2020-06-24 00:18] bartonjs commented on #31664
Across the existing revocation mode value, the new disable AIA option, and the in-progress API for SslStream to prebuild the certificate context for multiple uses, the scenarios from here are taken care of now.

[2020-06-24 00:18] #31664 closed

[2020-06-24 00:18] k15tfu commented on #38306
@janvorli My bad, I meant addresses the same problem :). But how it should work with .dll files like System.Private.CoreLib.dll? Not sure if they are mapped as executables, but still it should work without warnings after your change. Any thoughts why we get this?

[2020-06-24 00:22] GrabYourPitchforks commented on #38308
Repros on my box as well running Win10 19041. Also confirmed that setting the environment variable `DOTNET_SYSTEM_GLOBALIZATION_USENLS=1` fixes the regression. So it's definitely related to the NLS / ICU conversion.

[2020-06-24 01:39] danmosemsft commented on #38138
@Forgind i had the same conclusion so we need the logs.

[2020-06-24 02:36] stephentoub commented on #38257
This issue is a word-for-word copy of https://github.com/dotnet/runtime/issues/11546#issue-557925198.

[2020-06-24 02:36] #38257 closed

[2020-06-24 02:37] AaronRobinsonMSFT commented on #38133
Seems like we are going to also have to update [`System.Runtime.InteropServices.CallingConvention`](https://docs.microsoft.com/dotnet/api/system.runtime.interopservices.callingconvention) to support the [`ILGenerator.EmitCalli()`](https://docs.microsoft.com/dotnet/api/system.reflection.emit.ilgenerator.emitcalli#System_Reflection_Emit_ILGenerator_EmitCalli_System_Reflection_Emit_OpCode_System_Runt

[2020-06-24 02:39] stephentoub commented on #38205
@tarekgh, might this outerloop failure be related to some of your Activity changes?

[2020-06-24 02:40] AaronRobinsonMSFT commented on #38133
I have updated the above proposal. We could also not support it since the API doesn't seem to have a place to add `modopt`s?

/cc @davidwrighton

[2020-06-24 02:43] tarekgh commented on #38308
This is by design. CLDR data having the international currency symbol associated to "de" culture. that makes sense because this is a parent culture to other cultures that have currency different than the euro. Windows data looks not updated to that for compatibility reason.

[code]

if you want to get back to Windows behavior you have the option to use the config switch to do that.

[2020-06-24 02:43] #38308 closed

[2020-06-24 02:47] tarekgh commented on #38308
CC @@jefgen
https://github.com/dotnet/runtime/issues/37743

[2020-06-24 03:08] tarekgh commented on #38205
@stephentoub I am not seeing any direct relation between this failure and my changes. this looks more an HTTP issue.

cc @noahfalk

[2020-06-24 03:41] wfurt commented on #38185
I may misunderstand the use case but IO don't think it is safe to mix random assemblies from .NET versions.
SslStream in particular does depend on matching native part.
cc: @ericstj as he may have more insight to deployments with mixed versions.

[2020-06-24 03:59] Jacko1394 commented on #31326
Adding the `--interpreter` flag to the additional Mtouch args seems to fix the problem for me.
`<MtouchExtraArgs>--interpreter</MtouchExtraArgs>`
Tho I agree annoying it just doesn't work...

[2020-06-24 04:03] dotMorten opened #38319 "No way to null-annotate a validation method that throws if null"
### Description

Often you write little reusable validations methods to validate the state of an object, including it not being null.
So you might write something like this:
[code]
So in a public method you could imagine having something like this (of course overly simplified):
[code]
It seems like a bit of an oversight, because there are annotations to specify a method will never return, or if a

[2020-06-24 04:10] weitzhandler commented on #35993
I'm willing to contribute.

[2020-06-24 04:12] meziantou commented on #38319
I think you can just use `[NotNull]` here

[code]

[2020-06-24 04:17] #31944 closed

[2020-06-24 04:17] dotMorten commented on #38319
@meziantou Oh good call! Didn't notice that can go on a parameter as well. I should have read the second part of that sentence closer:

Thanks!

[2020-06-24 04:17] #38319 closed

[2020-06-24 04:29] carlossanlop commented on #37538
I have a fix and will submit a PR to get it considered for servicing.

@ericstj when I made this change, I did not make a mirrored change in coreclr. Should I make a similar change there?

[2020-06-24 04:48] jkotas commented on #38133
`enum CallingConvention` is used in other more common contexts like `DllImport` where this new value would be confusing.

The use of `enum CallingConvention` in the Reflection.Emit APIs is broken, e.g. `CallingConvention.WinApi` is mapped to StdCall [here](https://github.com/dotnet/runtime/blob/5c667210d0f41b8e0ba94eeee2c29eb3d07bb0f0/src/coreclr/src/System.Private.CoreLib/src/System/Reflection/Em

[2020-06-24 04:53] AaronRobinsonMSFT commented on #38133
That is what I was thinking as well. Perhaps it would be worth marking that API as `Obsolete`?

[2020-06-24 04:59] logiclrd commented on #1570
API proposal: https://github.com/dotnet/runtime/issues/38055

[2020-06-24 05:25] TerryWarwick commented on #35318
@jtbrower - You are absolutely correct in that the PointOfService/POSPrinter interfaces do not support USB POSPrinters as native devices today.  This is largely due to the lack of hardware standards for most POS devices.  However, you can use our legacy compatibility support for POSPrinters by installing OPOS and the associated service object for your POSPrinter.  Once this OPOS infrastructure is

[2020-06-24 05:38] GrowSharp commented on #36888
Oh, I see, thanks. Today I'm going to implement role searching. Will let you know how it went.

[2020-06-24 06:00] cyberphone commented on #16471
An RFC building on this scheme will be published in the coming weeks:
https://www.rfc-editor.org/authors/rfc8785.html

[2020-06-24 06:38] czd890 commented on #37733
@manandre  I think they should be equivalent?

await MyEvent?.invoke(0);

==>

if(MyEvent!=null) await MyEvent.Invoke(0)

[2020-06-24 07:32] lindexi opened #38321 "Can we custom the ConsoleLogger output color by configuration?"
I want to custom the ConsoleLogger output color, such as we can use the Blue color as the info color and use the white-black color as the warning color

As we know, we can only do it by re-write a new custom console logger, and we can not use configuration to do custom it.

https://github.com/dotnet/runtime/blob/d908270add914db0e9fb3ce72e93c410e8f0f95a/src/libraries/Microsoft.Extensions.Logging.Co

[2020-06-24 07:49] ayende commented on #31664
I'm sorry, I looked a bit, but I can't find what you mean by AIA and in progress API. Can you point me to them?

[2020-06-24 07:49] ayende commented on #31664
WRT to the in progress API, are you referring to https://github.com/dotnet/runtime/issues/35844 ?

[2020-06-24 07:54] AndyAyersMS commented on #37470
Looks like it worked; we have [dumps](https://dev.azure.com/dnceng/public/_build/results?buildId=701494&view=ms.vss-test-web.build-test-results-tab&runId=21753294&resultId=107332&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab).

[2020-06-24 08:36] #37790 closed

[2020-06-24 08:51] AndyAyersMS commented on #37470
Confirmed that in CI, _il_dbgsizeof64 is running the wrong test case for x86; when I build it locally I get the right one which is why I couldn't repro.

[2020-06-24 09:03] Ruudiiii commented on #32623
Hi, sorry first of all, have not been working on this for a while. But I was able to reproduce the same error (I think) now (see attached). @jeffschwMSFT I am using Dotnet version 3.1.101, and the error I produced below was not from debugging, but just from running a set of Nunit tests. @mangod9 not exactly sure what type of instructions you are thinking about, but I will check comments here regul

[2020-06-24 09:29] janvorli commented on #32623
@Ruudiiii if you launch your app from terminal, it should print the error there.

[2020-06-24 09:44] ManickaP commented on #38205
First occurrence seems to be from this build: https://dev.azure.com/dnceng/public/_build/results?buildId=695914&view=results, i.e. Friday 19.6. It happened between [this](https://github.com/dotnet/runtime/commit/8dd3619c4fcb0cf0be05f545eb74992708b7f279) and [this](https://github.com/dotnet/runtime/commit/9a323d72d9ffbcbaf978425fa90f742270d631b6) commits. According to System.Net.Http history, it do

[2020-06-24 09:48] vitek-karas commented on #38301
There will have to be a way in the linker to disable attribute removal all up anyway, so I assume the libraries build would set that option.

[2020-06-24 09:48] ManickaP commented on #38205
Two places where it fails:
https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs#L511
https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs#L576

[2020-06-24 09:56] hypeartist commented on #38105
5.0.100-preview.7.20319.6
[code]

[2020-06-24 10:03] stephentoub commented on #38205
@tarekgh, this is due to your change https://github.com/dotnet/runtime/commit/c5edc006987847b15741576cbcfddd42e6f87768.

[2020-06-24 10:09] MichalStrehovsky commented on #38301
Whether an attribute is removable really depends on what you as an end user are trying to do. It's not a property of the attribute itself. It feels weird to have this as a custom attribute placed on the attribute.

I understand the use case for this when it's in an XML file under a feature switch (e.g. "remove "feature" nullable annotations"). But for that we don't need an actual attribute type. I

[2020-06-24 10:14] stephentoub commented on #38301
I agree.  The whole purpose of the XML file is to exert fine-grained control over what's kept and what's not.  Up until now it's been a way to say "even if you would have gotten rid of this, keep it".  It makes sense to me that the mechanism would be expanded to also allow you to say "even if you would have kept this, get rid of it".  I don't think an actual attribute in corelib is the right way t

[2020-06-24 10:23] Misiu opened #38324 "Add support for path in JsonPropertyName to access nested property when deserializing json payload"
I couldn't find any info on how to access the nested property when deserializing with System.Text.Json, not sure if this is currently supported, if not please add first-class support for it.
Use case:

You have a large response from API that has multiple levels of nesting:

[code]

but you only need to get 2 or 3 properties:
[code]

With Newtonsoft you can write a custom converter:
[code]

and add

[2020-06-24 10:53] swtrse commented on #33796
It should also considered that the JsonPropertyAttribute should be able to decorate constructor parameters.
This way the exact name in case sensitive format can be defined for the constructor parameters.

[2020-06-24 10:59] buzzers commented on #38262
@jkotas But ExceptionDispatchInfo can't be serialized, how does this deal with cross-process exceptions?

[2020-06-24 11:01] Ruudiiii commented on #32623
I guess I need [mono](https://www.mono-project.com/docs/about-mono/supported-platforms/macos/) or something to be able to compile c# from terminal?

[2020-06-24 11:06] swtrse opened #38327 "Constructor decorated with the JsonConstructor attribute should be able to be non-public"
In general, a constructor decorated with the [JsonConstructor] attribute should be able to be a non-public constructor.

This would address cases where there is a special internal constructor that is solely used for json deserializing and that should not be called from user code.

Category: Design

[2020-06-24 11:13] #32921 closed

[2020-06-24 11:37] adamsitnik commented on #37465
Hi @mdh1418

I am the new owner of `System.Console` area. This issue had no milestone set in an explicit way so I've set it to `6.0.0` and removed the `untriaged` label as it's something that we clearly need and the label was jut added by the bot.

Thanks,
Adam

[2020-06-24 11:39] adamsitnik commented on #37421
I've changed the are from `System.Console` to `Extensions-Logging`. If there is a bug somewhere in `System.Console` that blocks this issue please let me know what exactly needs to be fixed or how to reproduce the problem.

[2020-06-24 11:41] adamsitnik commented on #36440
I've added 5.0.0 milestone as there is a PR (#37078) that should solve this issue.

[2020-06-24 11:50] kjpou1 opened #38328 "[browser][wasm] Exception in InteropServices JavaScript with Tasks"
The bindings do not handle `AsyncStateMachineBox` correctly.

Tasks are still be handled but the JS needs to support the `AsyncStateMachineBox`

[2020-06-24 12:01] janvorli commented on #32623
No, you need just the dotnet SDK. In the terminal, you'd change to the directory where you have your project file and then run
`dotnet build` to compile it and "dotnet run" to run it.
What is your current workflow?

[2020-06-24 12:43] adamsitnik commented on #35063
Hello @Akarinnnnn

It looks like it's a duplicate of #800 Could you please take a look at #800 and specify your requirements there?

Thank you!

[2020-06-24 12:43] #35063 closed

[2020-06-24 12:47] adamsitnik commented on #30738
No answer to the question asked in September 2019, closing.

@Happypig375 Please feel free to respond to the question and reopen the issue. Thanks!

[2020-06-24 12:47] #30738 closed

[2020-06-24 12:48] adamsitnik commented on #30130
@tmds ping

[2020-06-24 12:52] marek-safar commented on #38301
Let me offer a bit different perspective on this. The XML syntax is here to stay and it's actually required in some scenarios. What I think is worth discussing is if we should have an attribute which allows us to connect an attribute with feature-switches in the source code. If we find that valuable should the name/syntax be the same in XML or not.

I think having clearly visible annotation for fe

[2020-06-24 12:55] adamsitnik commented on #23073
We did not know how to implement it in 2017 and there was no proposal|suggestion since then so I am just closing it.

If somebody has a good idea for how we can implement that, please feel free to reopen the issue.

[2020-06-24 12:55] #23073 closed

[2020-06-24 12:58] adamsitnik commented on #21726
No response since April - I am closing this issue.

If anyone can reproduce this with .NET Core 3.1+ please reopen the issue and provide a repro case.

[2020-06-24 12:58] #21726 closed

[2020-06-24 12:59] janvorli commented on #38306
@k15tfu can you please share steps that you do to repro the problem? I have just downloaded that tarball to my Mac Mini with macOS 10.15.5 and then created a hello world app using
[code]

And it worked fine.

[2020-06-24 13:00] adamsitnik commented on #31063
@bry-guy could you please respond to the quesiton asked by @khellang ? Thank you!

[2020-06-24 13:16] adamsitnik commented on #25735
@eiriktsarpalis can it be related to #802 ?

[2020-06-24 13:22] eerhardt commented on #38105
There are multiple versions in the product - I was referring to the version of the packages produced by `dotnet/runtime`. The version you are seeing above `5.0.100-preview.7.20319.6` is the SDK version. You can tell this by the 3rd number, the SDK versions start at `x.y.100` (see [SDK Versioning](https://github.com/dotnet/designs/blob/master/accepted/2018/sdk-version-scheme.md)).

The change hasn'

[2020-06-24 13:24] marek-safar commented on #37601
Should be fixed in master

[2020-06-24 13:24] #37601 closed

[2020-06-24 13:46] eiriktsarpalis commented on #25735
It seems very likely, though we'd probably need to test putty just to be sure.

[2020-06-24 13:50] ViktorHofer commented on #38287
It's not fixable on our side as the TargetFramework.Sdk reslies on restore not passing in the `TargetFramework` property as a global property: https://github.com/dotnet/arcade/blob/5a99acb9c13bddf0174054c3b04c9cfff3fa8586/src/Microsoft.DotNet.Build.Tasks.TargetFramework.Sdk/src/build/Microsoft.DotNet.Build.Tasks.TargetFramework.Sdk.props#L11. That property modification doesn't have any affect beca

[2020-06-24 14:04] MichalStrehovsky commented on #38301
Feels like what we need is a way to tag the attribute (or attribute constructor?) as a "feature".

Can we meld that with the mechanism for feature switches that we have in the linker?

[2020-06-24 14:05] k15tfu commented on #38306
@janvorli I found something: for some reason this `mmap` (https://github.com/dotnet/coreclr/blob/018cfd06dceb19b6eb1e9217a500fb1071946fcd/src/pal/src/misc/utils.cpp#L343) doesn't fail, so IsRunningOnMojaveHardenedRuntime returns 0 on my macOS 10.15.5, and that's why I see these warnings (if interested, they look like in https://github.com/microsoft/azure-pipelines-agent/issues/2457). Mono project

[2020-06-24 14:06] jkotas commented on #38262
You are right. `ExceptionDispatchInfo` does not work for binary serialization.

[2020-06-24 14:07] #37506 closed

[2020-06-24 14:21] adamsitnik commented on #2127
@terrajobst `ConsoleKeyInfo` implements `Equals(object)`, `Equals(ConsoleKeyInfo)` and overrides `GetHashCode` but does not implement the `IEquatable<ConsoleKeyInfo>` interface. Do I need an API review for:

[code]

@jeffhandley it looks like a good candidate for an analyzer (#31996 is another example)

[2020-06-24 14:47] #32125 closed

[2020-06-24 15:19] akoeplinger opened #38337 "Microsoft.Extensions.Logging.Tests fail on WASM with an assertion in mono_exception_new_by_name_domain"
Some tests in Microsoft.Extensions.Logging.Tests fail with an assertion:

[code]

The problematic tests were disabled so to reproduce it you need to remove https://github.com/dotnet/runtime/blob/cd4c4c99ba438866584e5265fc9c248dd40bbeb1/src/libraries/Microsoft.Extensions.Logging/tests/Common/LoggerFactoryTest.cs#L202

[2020-06-24 15:25] NickCraver opened #38339 "Proposal: Move DbConnectionPool timers into one timer"
### Description

We have observed a large number of timers in our multi-tenant environment and have traced the vast majority (thousands vs. a few) to [`DbConnectionPool`, which has a cleanup timer](https://github.com/dotnet/corefx/blob/c68bc274ce95cb5eda143223942d6fd86a547a0d/src/System.Data.Odbc/src/Common/System/Data/ProviderBase/DbConnectionPool.cs#L127).

While the general approach for pool cl

[2020-06-24 15:25] dazinator commented on #37545
@davidfowl - it looks like decorating an IServiceProvider / IServiceScopeFactory is not really possible anyway, so I cannot use this approach to keep track of scopes as they are created even if I wanted to.

So now I am looking at addressing this further up the stack using a combination of:

1. IServiceProvidersFeature (Responsible for creating the scope at the start and disposing of it at the end

[2020-06-24 15:29] juliusfriedman opened #38340 "Dictionary, List and other Collection should have Empty concept"
## Background and Motivation

Like `Array.Empty` one typically wants an empty version of a collection.

## Proposed API

Please provide the specific public API signature diff that you are proposing. For example:
[code]

Similar changes for List, HashSet, and others might also be useful.

## Usage Examples

Especially useful once `nullable enable` is applied, you either have to choose to annotate t

[2020-06-24 15:29] bartonjs commented on #31664
Yep, #35844 and #37485

[2020-06-24 15:35] rharpavat commented on #37318
@vcsjones Did you get a chance to try and reproduce the issue? I think it happens when the request fails for any reason. Going to try and step through the code later today to see if I can pinpoint the exact code path being called.

[2020-06-24 15:45] vcsjones commented on #38340
This was discussed in #24031 and that `ImmutableDictionary` has an `Empty` member that works for `IDictionary` and `IList`.

[code]

[2020-06-24 16:20] jaredpar opened #38342 "Cannot build on Ubuntu 18.04"
Attempting a standard build of the runtime on Ubuntu 18.04 (via WSL2) and getting an error. This is a clean enlistment and the build command is straight forward `./build.sh -subset clr` hence a bit surprised this is failing.

The full error list is at the bottom of the issue but the first error I see is

The contents of that file are

Indeed that directory does not exist. There is a `crossgen2` di

[2020-06-24 16:37] safern commented on #38342
This is a legit failure that cmake 3.14.5 was not found but the build kept going and then failed with other errors because the native build didn’t happen.

In order to fix that issue of stopping on first failure we need: https://github.com/microsoft/MSBuildSdks/pull/186 to be merged and then update the SDK we use.

[2020-06-24 16:42] ericstj commented on #38287
Could we make it fail more gracefully?  For instance, if TF is passed to restore have an error telling folks what to do rather than a NullRef?

[2020-06-24 16:45] jaredpar commented on #38342
Always important to read [the documentation](https://github.com/dotnet/runtime/blob/master/docs/workflow/requirements/linux-requirements.md#toolchain-setup) when setting up a new machine

![image](https://user-images.githubusercontent.com/146967/85597337-62607d00-b5ff-11ea-9a88-e380f5dbef04.png)

[2020-06-24 16:45] #38342 closed

[2020-06-24 16:48] juliusfriedman opened #38344 "`JsonSerializerOptions`"
## Background and Motivation

Streaming large JSON data to a client sometimes requires the use of streaming the response to get the ideal latency during loading.

E.g. one usually knows the entire data size and their position in that buffer and can typically easily display a progress element client side during such streaming.

## Proposed API

Please provide the specific public API signature diff

[2020-06-24 16:51] ViktorHofer commented on #38287
I don't think it's common to use pass in `TargetFramework` as a global property when doing `dotnet build`. I would rather make sure that the documentation is right and try to make progress on https://github.com/NuGet/Home/issues/5154.

[2020-06-24 16:54] akoeplinger commented on #38339
The link you mention links to the Odbc version but you probably want the SqlClient one which is in a different repo: https://github.com/dotnet/SqlClient/blob/5e943028d702cdc948263f96d60a5677860577f4/src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/ProviderBase/DbConnectionPool.cs#L395

[2020-06-24 17:09] tarekgh commented on #38205
Thanks, @stephentoub. I'll try to look more later on how these are connected.

[2020-06-24 17:19] safern commented on #37926
I will close this since there was no response in the last 8 days and I think I provided the right guidance for the question. Feel free to re-open if that is not the case.

[2020-06-24 17:19] #37926 closed

[2020-06-24 17:52] jkotas commented on #38340
Duplicate of https://github.com/dotnet/runtime/issues/24031

[2020-06-24 17:52] danmosemsft commented on #38340
@juliusfriedman you might consider updating the top post to explicitly list the public API you want (eg including HashSet if you want it) so it can be considered together.

[2020-06-24 17:53] danmosemsft commented on #38340
Oh yes. I guess it is rare a empty concrete Dictionary<K,V> is needed.

[2020-06-24 17:56] vcsjones commented on #2043
@bartonjs are you working on this? If not, mind if I do? General thought would be to 1. Make changes 2. follow up PRs to remove defensive copies where possible.

[2020-06-24 17:56] brianrob commented on #38223
This restriction is not required by ETW (or any of the other loggers that we support).  I've created #38347 to address this.

[2020-06-24 17:57] tannergooding commented on #10036
It looks like this will be required to support the new Apple Silicon (Arm on macOS): https://github.com/mono/mono/pull/20014

[2020-06-24 17:59] safern commented on #38244
That is correct. Will add it to the description as well, thanks @reflectronic

[2020-06-24 18:05] juliusfriedman commented on #38340
@danmosemsft  Will do

@jkotas I agree in the aspect of Dictionary as proposed it is a duplicate

I need to think this through a bit and will update the proposal in due course, I feel that `ICollection` etc should probably support this as well.

[2020-06-24 18:06] bartonjs commented on #2043
It's currently like 6th on my todo list, so go for it.  I agree with the approach of making the small PR first (just the new throw and tests verifying it), then followup PRs to stop being wasteful.  (Be careful of the Pkcs library, since it ships netstandard, so it would probably want a helper method like

[code]
)

[2020-06-24 18:09] davidwrighton commented on #38133
I think we should hold off on adding new support to reflection emit for this in this release. We're very close to ship, and I'm not aware of any scenarios where we need calli support for this in the .NET 5 timeframe. Support in System.Reflection.Metadata is different though, as that is the api surface used by the compilers to generate code, we should fix that so that the Roslyn team doesn't need t

[2020-06-24 18:11] Anipik commented on #31563
cc @joperezr

[2020-06-24 18:14] davidwrighton commented on #13395
This was fixed by #38236

[2020-06-24 18:14] #13395 closed

[2020-06-24 18:15] Anipik commented on #32238
Currently we dont have any plan to port this type.

@HimanshuZinzuwadia Can you some more context on what ur use case scenario is, we might be able to help u woth the transition.

[2020-06-24 18:16] ericstj commented on #38287
Fair, if we get more feedback we could reactivate and fix

[2020-06-24 18:19] Zastai commented on #802
Note that one issue not mentioned here before (but the main issue with the recently referenced #25735) is that aside from the interpretation issues, the runtime also changes the tty mode (possibly switching from raw to cooked or vice versa, that part I'm not sure about) and never resets it. So after running a dotnet app, some keys (the numeric keypad in particular) stop working, even though they w

[2020-06-24 18:24] FrantzUml commented on #38160
I suggest this implementation.
Do you think I have to pull a request and close this issue ? (sorry but I'm not a professional developer and not very used to github).
`public static unsafe double Round(double value, int digits, RoundingMode rounding) `
`{ `
`	if ((digits < 0) || (digits > kMaxDoubleDigits))`
`	{`
`		throw new ArgumentException();`
`	}`
`	if (digits == 0)`
`	{`
`		return Round(value

[2020-06-24 18:24] almazik commented on #38046
The corresponding pull request (#38053) has been merged, closing this issue

[2020-06-24 18:24] #38046 closed

[2020-06-24 18:25] elinor-fung commented on #13803
The binder tracing tests are marked `UnloadabilityIncompatible` now and query of test results from the past month don't show this failure.

[2020-06-24 18:25] #13803 closed

[2020-06-24 18:25] bartonjs opened #38348 "Allow creating more cryptographic objects from ReadOnlySpan<byte>"
## Background and Motivation

Many crypto objects currently require `byte[]` inputs, frequently lacking overloads which accept an offset and count parameter.  These objects frequently can accept a `ReadOnlySpan<byte>`, since they either parse once or make defensive copies, but currently force span-based callers to use intermediate arrays.

## Proposed API

[code]

This proposal creates a `ReadOnly

[2020-06-24 18:29] Anipik commented on #36858
We can close this one

[2020-06-24 18:29] #36858 closed

[2020-06-24 18:30] danmosemsft commented on #38340
My comment overlapped with closing it - I do not have an opinion on whether it is worth reconsidering it. But perhaps the properties on ImmutableDictionary/ImmutableList are not as discoverable as we would like.

[2020-06-24 18:31] vcsjones commented on #38348
This would have been helpful for the X509 from PEM to allow decoding in to a pooled buffer. Should maybe have a task / ticket for this if it gets approved and I'll circle back around and fix that...

(I tried implementing it myself as `internal` but it was non-trivial on macOS)

[2020-06-24 18:31] wfurt commented on #38141
I think @davidsh is right. That is controlled by OS layers and I I'm not aware of anything you could at SslStream level.
You can try to search through articles to see if there is any way how to control the behavior through registry keys.

[2020-06-24 18:32] josalem commented on #38156
I'm not positive this is the same issue, but I've managed to recreate _an_ issue locally using a modified version of the test that infinitely loops under a debugger.  My conjecture is that the target process is exhausting its limit of file descriptors.  My local repro infinitely loops the one test case without recycling the app (which may exacerbate the problem slightly) and eventually the monitor

[2020-06-24 18:35] MichalStrehovsky commented on #38301
In the [original link-time framework feature removal model](https://github.com/dotnet/designs/pull/42) (that was largely inspired by how `ConditionalAttribute` works during source compilation), the extension would be straightforward because it would work the same as when `ConditionalAttribute` is placed on a custom attribute. I don't have a good mental model for the current removable feature desig

[2020-06-24 18:36] bartonjs commented on #38348
Yeah, it took some plumbing changes, but all of the guts are ReadOnlySpan now (I have everything implemented already, except the feature that, y'know, _just_ got added).

[2020-06-24 18:36] richlander opened #38349 "Improving credit for community contributions"
# Improving credit for community contributions

We're nearly five years into [.NET Core as an open source project](https://devblogs.microsoft.com/dotnet/net-core-is-open-source/). As a .NET team member and Microsoft rep, I want to share a big thanks to everyone in the community that has taken the time and interest to participate in the project. I would like to start a conversation about community

[2020-06-24 18:37] juliusfriedman commented on #38340
Since we also have `ToHashSet` from `Linq` I feel like `HashSet` definitely needs support for an `Empty`, I feel like it's handled by when the underlying Enumerable is empty and via `ImmutableHashSet<T>` as @vcsjones  indicated.

I agree that the discover-ability may be slightly less than desired and hence why I mentioned default interface implementations.

An alternate design might be an interfac

[2020-06-24 18:38] Anipik commented on #34953
No, i will take another look

[2020-06-24 18:39] Anipik commented on #31757
@ViktorHofer is this fixed ?

[2020-06-24 18:39] #31823 closed

[2020-06-24 18:49] kevinpayne opened #38350 ".NET Core 2.X does not resolve valid certificate chain path when there is an intermediate cross-signed certificate (Linux only)"
@bartonjs @GrabYourPitchforks @krwq

It appears that certificate chains where there’s a choice of cross-signed intermediate certificates, is “resolved” differently between 2.x and 3.x.

On May 30th, a security certificate from Sectigo (formerly Comodo Certificate Authority) expired. In preparation for this event, we had added a new cross-signed intermediate certificate to our servers.

When the ce

[2020-06-24 18:52] lambdageek opened #38351 "[Mono] Loader should check requested version if assembly is already loaded"
When Mono loads an assembly, we do a version check following the .NET Core rules - if an assembly has a version that is newer than what is requested, loading succeeds.  If the assembly has an older version and a newer version is requested, the load fails.

However if the assembly was previously loaded, we ignore the version when trying to load it again.

[code]

---

Reproduction:

Download and un

[2020-06-24 18:53] safern commented on #34953
Is the `System.Runtime` reference correct, should it be excluded from `netstandard2.0` configuration, there we should be building against `netstandard.dll` not `System.Runtime`, right?

[2020-06-24 18:55] carlossanlop commented on #35035
@BruceForstall @tannergooding below are the 3 APIs to fix for this area, but I realized that only the first API can be found in `Utf16Utility`. The other two exist in `Utf8Utility` instead:

- `System.Text.Unicode.Utf16Utility.GetPointerToFirstInvalidChar()` -> [Utf16Utility.Validation.cs#L45](https://github.com/dotnet/runtime/blob/6b5850fa7cf476b66be9d01a3ed05f4484b01d3a/src/libraries/System.Priv

[2020-06-24 19:05] bartonjs commented on #38350
The chain resolution was overhauled between 2.1 and 3.1 to make scenarios like this work better.

[2020-06-24 19:10] bartonjs commented on #38350
Essentially: In 2.1 the chain walker is greedy (the first cert is used that has the right match characteristics), but in 3.1 it considers more potential chains before picking the "best" one (where "trusted root" beats "untrusted root" and "not expired" beats "expired")

[2020-06-24 19:17] kevinpayne commented on #38350
Got it. Makes sense and gives us yet another reason to migrate over to 3.1 sooner rather than later. Thanks for the help!

[2020-06-24 19:25] danmosemsft commented on #38340
If you want to pursue this, you'd want to edit the top-post to be the complete proposal, and reopen.

[2020-06-24 19:46] omajid commented on #2014
cc @tmds

[2020-06-24 19:49] NickCraver commented on #38339
@akaroml That's the `Microsoft.Data.SqlClient` ;) It's weird because some stuff has forked - current repos vs. 3.1 we're currently on diverge a bit. But overall: it lives in `DbConnectionPool`. That seems to have been forked/duplicated in odd ways with the SqlClient moving out of band, though. I'm not 100% sure we understand the current state TBH.

[2020-06-24 19:53] wfurt opened #38356 "Investigate SslStream.AuthenticateAs*() with empty TargetHost"
This is follow-up on discussion in #38202.
It should be fully optional to specify server name (SNI) when client connects to TLS server.
However, current .NET implementation would create something like "?124" and it would send it on the wire.
This behavior seems to be inherited from Framework but it is not clear why this exists.
If this is limitation of Windows API, that should perhaps live in PAL.

[2020-06-24 20:15] lambdageek commented on #10036
The relevant Apple guidance is https://developer.apple.com/documentation/apple_silicon/porting_just-in-time_compilers_to_apple_silicon

[2020-06-24 20:26] janvorli opened #38358 "Standalone GC for Unix arm doesn't have FEATURE_64BIT_ALIGNMENT defined"
When debugging a GC issue on arm Linux, I've tried to use the standalone GC. I've found that in debug build we assert `assert ((flags & GC_ALLOC_ALIGN8) == 0)`, because the FEATURE_64BIT_ALIGNMENT is not defined for the standalone GC build. It is defined for the built-in GC.
In release build, I've hit an alignment fault in jitted code instead.
I've found that just defining the FEATURE_64BIT_ALIGNM

[2020-06-24 20:29] jkoritzinsky commented on #36684
You can pass the `-os` flag with the `TargetOS` value that you want when building `System.Private.CoreLib` to cross-compile it.

[2020-06-24 20:29] danmosemsft commented on #35035
cc @GrabYourPitchforks

[2020-06-24 20:33] AndyAyersMS commented on #37470
@jashook @trylek still sorting where things go off track here but I strongly suspect the failures above are from running the wrong versions of these tests on 32 bit platforms. This seems to be a consequence of #37274.

Either we're building the tests incorrectly or we're building both 32 and 64 bit versions and then running the wrong one...

[2020-06-24 20:39] vcsjones commented on #37318
I _think_ so? If it is it is slow for me, I'm working on trying to get a managed debugger and sos working on my mac again.

Will your program eventually crash and OOM? Or is memory usage just unusually high?

[2020-06-24 20:40] janvorli commented on #38306
Ah, so downloading it via Safari causes the trouble. Download via wget from the command line that I was using works fine, it doesn't add the com.apple.quarantine.
So after all, it is not related to the hardened runtime support, but rather to the fact that download via Safari marks all downloads with this com.apple.quarantine attr just to stay on the safe side. It is fine until the code tries to cr

[2020-06-24 20:42] HimanshuZinzuwadia commented on #32238
The context is that my .NET program fires WMI events under some error conditions.   This is done so that system monitoring tools can hook into that event and set off some support workflows.  There are many well established system monitoring tools (including Microsoft's own SCOM) that hook on to WMI events.  By not having it, users of my upgraded program have to rewrite how their monitoring rules.

[2020-06-24 20:43] BruceForstall commented on #35035
It's certainly likely to be a typo. I created the initial list using, essentially, findstr/grep with a little bit of intelligence thrown in. I easily could have made a mistake.

Bottom-line: anything in `System.Text.Unicode` that has been intrinsics optimized for Intel should be considered tracked by this issue for optimizing for arm64. Feel free to update the list of APIs listed in #33308 to be m

[2020-06-24 20:43] SingleAccretion commented on #38160
So, this is the process for API changes like this one in the runtime repository:

1\. Someone creates an API proposal, that has:
  - The motivation behind the proposal.
  - The proposed APIs.
  - Other relevant info.

#13933 is often quoted as a good template for a proposal.

2\. Someone from the team thinks it would be worth implementing and marks the proposal `api-ready-for-review`.

3\. The pro

[2020-06-24 20:47] danmosemsft commented on #38160
@SingleAccretion that is a great summary I wonder whether it would be worth a PR to improve https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md?

@FrantzUml you can format code nicely by using three back ticks. So you start with
[code]
on its own line and end with 3 ticks on their own line. I updated your post above as an example.

[2020-06-24 20:51] lewing commented on #37818
Fixed in #38029

[2020-06-24 20:51] #37818 closed

[2020-06-24 20:51] #38098 closed

[2020-06-24 20:51] carlossanlop commented on #35035
Thanks Bruce. I'll adjust the signatures in the original issue.

[2020-06-24 20:51] echesakovMSFT commented on #37014
ExtractNarrowingSaturateUnsignedLower and ExtractNarrowingSaturateUnsignedUpper are needed for the "intrinsification" work that @carlossanlop is doing, so I will implement this next.

[2020-06-24 20:57] jbe2277 commented on #31882
#31400

[2020-06-24 21:06] SingleAccretion commented on #38160
@danmosemsft I think the document is great, the only things I would add are these links:
 - https://aka.ms/ready-for-api-review
 - .NET Foundation's YouTube channel
 - https://apisof.net

I am not quite sure yet how to properly fit these into the structure (inline/separate section) and it is approaching midnight here so I'll leave it to my tomorrow's self to figure out.

[2020-06-24 21:23] jtbrower commented on #35318
@TerryWarwick thank you for the update.  POS is a wildwest of a world that is for sure.

[2020-06-24 21:28] jashook commented on #37470
/cc @sdmaclea

[2020-06-24 21:29] trylek commented on #37470
@AndyAyersMS - AFAIK @sdmaclea's work was about building all managed test components just once for all the architecture-specific test flavors, having Roslyn mark them as AnyCpu so that they are portable across execution architectures. From this viewpoint the <code>_il_dbgsizeof64.ilproj</code> project seems wrong, we shouldn't be using conditional <code>&lt;Compile</code> clauses based on target a

[2020-06-24 21:32] jashook commented on #37470
As @trylek has mentioned conditional compilation of managed tests using bitness is not supported as we will always build the managed components of the test on x64 OSX in CI.

Specifically below would not work in CI:

[code]

[2020-06-24 21:33] steveharter commented on #36635
Update on the code-gen front: other than having must faster first-time (de)serialization and less memory consumption, the throughput will increase by ~10% on deserialization and ~15% on serialization. We are still determining whether 5.0 will support the code-gen effort or whether that will move to 6.0.

[2020-06-24 21:40] jashook commented on #37470
Seems like this specific ilproj should just be deleted. There is already an ilproj for _il_dbgsizeof64_target_64bit and _il_dbgsizeof64_target_32bit

[2020-06-24 21:41] #38070 closed

[2020-06-24 22:25] mangod9 commented on #37196
Tagging @AntonLapounov as well since he is looking into enabling composite mode in sdk.

[2020-06-24 22:26] mangod9 commented on #34144
Closing for now.

[2020-06-24 22:26] #34144 closed

[2020-06-24 22:28] Chizkiyahu opened #38362 "CacheItemPolicy with HostFileChangeMonitor takes time to clean the cache"
When I use [CacheItemPolicy with HostFileChangeMonitor][1] and the file changed i**s taking 5-7 ms for cache to remove the item**

[code]
**Pay attention without sleep the test fail with 5-7 ms sleep is past**

### Configuration
windows 10
visual studio professional
net framework 4.6.1

### Analysis
[My solution](https://stackoverflow.com/a/62558722/10899908)

[1]: https://docs.microsoft.com/en-us

[2020-06-24 22:36] AndyAyersMS commented on #37470
@trylek @jashook the x86 case seems to be in hand. Now trying to figure out what gets built and what gets run for the arm32 failures.

I have core dumps for these on arm32 from https://dev.azure.com/dnceng/public/_build/results?buildId=701494&view=ms.vss-test-web.build-test-results-tab&runId=21752388&resultId=107271&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab but h

[2020-06-24 22:37] Chizkiyahu commented on #38362
area-System.Runtime.Caching

[2020-06-24 23:37] tarekgh commented on #38205
I discovered that the HTTP request will set the fields `transparent` and `tracestate` to the header if the Activity Id Format is W3C which we make default now. that is why the test is failing. I'll submit the test fix soon.

[2020-06-24 23:50] hoyosjs commented on #37444
sorry @psantosl This slipped my radar. Anything different between the hello world and the production app (environment variables that start with "COMPlus" for example, restrictions on pipes, or deployment - say if it's a service is it under PrivateTmp, or inside a container)? For the production app, under `/tmp`, do you see a pipe with the name `clr-debug-pipe-<PID>-*`?

[2020-06-24 23:57] fanyang-mono commented on #38117
I am not able to reproduce this crash either on MacOS using .NET SDK 5.0.100-preview.5.20279.10 + Microsoft.AspNetCore.Components.WebAssembly.Templates 3.2.0-rc1.20223.4, or on Windows 10 using the same step up from command line or using visual studio 16.7 Preview 3.

@mkArtakMSFT were you able to reproduce this crash?

[2020-06-25 00:02] cjberg commented on #37306
@karelz Unfortunately, my attempt at using [ProcDumpHelper](https://techcommunity.microsoft.com/t5/azure-app-service/capturing-dumps-on-multiple-instances-automatically-using/ba-p/392394) to capture a memory dump hasn't been successful, so I need to reconfigure it somehow. However, a recent crash produced an improved stacktrace:

[code]

So it occurs during the foreach enumeration of `ConcurrentDi

[2020-06-25 00:31] swaroop-sridhar commented on #34187
@mikem8361  wrote:

"It looks like the symbol support in the runtime needs the full assembly path to open and extract the PDB info needed to then open the PDB to get the line/source info. There is support for “in-memory” modules but they require an “in-memory” PDB which normally happens with the Assembly.Load(byte[], byte[]) or AssemblyLoadContext.LoadFromStream() reflection APIs (a special case).

[2020-06-25 01:07] roji commented on #36168
There's not a lot of code in your sample to give me context, but you could simply have MapRecord accept the reader as a DbDataReader and access all functionality there. It's true that this may expose unwanted methods (e.g. Read, NextResult), but if you really care about that you can wrap the reader in your own facade which would hide those (not unlike what IDataRecord provides).

One additional co

[2020-06-25 01:17] richlander opened #38367 "Support WebAssembly (Mono Runtime)"
# Support WebAssembly (Mono Runtime)

[WebAssembly](https://webassembly.org/) is a relatively new virtual machine execution environment that can run any program that can be described in and target the web assembly [binary instruction format](https://webassembly.github.io/spec/core/binary/index.html). It is supported by all major browsers, although isn’t browser-specific. We expect more general use

[2020-06-25 01:25] stephentoub commented on #37306
In theory, sure.  I think more likely though would be something in the process causing corruption, e.g. something overwriting memory using unsafe code it shouldn't be.  Simply because there have now been three different call stacks failing due to null reference issues.

[2020-06-25 02:43] echesakovMSFT commented on #37014
ExtractNarrowingSaturateUnsignedLower and ExtractNarrowingSaturateUnsignedUpper should correspond to sqxtun and sqxtun2

[2020-06-25 02:46] JamesNK commented on #35088
The original proposal was a boolean `StrictMaxConcurrentStreams` property. I'm guessing `MaxHttp2ConnectionsPerServer = int.MaxValue` is basically the same as setting `StrictMaxConcurrentStreams = true`?

On the name, does HTTP/3 have an equivalent max concurrent streams feature? If so, consider whether there is a property name that isn't specific to HTTP/2.

[2020-06-25 03:30] am11 commented on #36684
Thanks. Forgot to close this issue. Yes, I am using `-cross -os illumos` in the CI script to cross-compile the whole set of artifacts: https://github.com/am11/runtime/blob/cc00c2c828d1/.github/workflows/main.yml#L26.

[2020-06-25 03:30] #36684 closed

[2020-06-25 04:03] am11 opened #38373 "UnwindManagedExceptionPass1 is failing on illumos amd64"
With a simple app that throws exception:

[code]

after the exception is rethrown and message is printed to stderr, application `abort()`s on SmartOS amd64.

[code]

On Linux, it cleanly exits the process (without `abort()`).

coredump inspection yields:

[code]

From libunwind, we hit this condition: https://github.com/dotnet/runtime/blob/581dc193406082f76ae3c58511f724ab5d5c0d6d/src/coreclr/src/p

[2020-06-25 04:08] iSazonov commented on #2339
I looked `System.DirectoryServices` and found many inconsistencies there. Which option does MSFT team prefer - ref-only annotation or full src review with code fixes?
The second option may require a lot of effort since there are a lot of files and a lot of comments from owners of the code since the design is not always clear (it seems there is a lot of confidence in ADDS).

[2020-06-25 04:15] am11 commented on #38373
@jasonbking suggested that if it is libunwind misbehaving, it would be helpful to come up with a short repro (preferably in plain C).

@janvorli, is there any such repro available offhand? I am not sure whether to cut off the assembly stubs (`RtlCaptureContext` and friends) in repro.

[2020-06-25 04:18] sandreenko opened #38374 "JitStress: assert(m_CallsiteDepth > 0)"
I suspect this PR has caused new failures like (jitstress=1):
[code]
see https://dev.azure.com/dnceng/public/_build/results?buildId=701636&view=ms.vss-test-web.build-test-results-tab&runId=21759702&paneView=debug&resultId=105581 for more examples.

_Originally posted by @sandreenko in https://github.com/dotnet/runtime/pull/38163#issuecomment-648856281_

[2020-06-25 04:29] iSazonov commented on #37301
If the fix is "to throw" the issue should be fixed in 5.0 milestone - later it will be a breaking change.

[2020-06-25 05:08] tmds commented on #802
The runtime resets the mode when the application exits. This is done by an `atexit` handler:

https://github.com/dotnet/runtime/blob/eb30d2a0b5d4a7389eb22b78fa032e3c222d460f/src/libraries/Native/Unix/System.Native/pal_console.c#L455

One thing to watch out for is that this will reset to the state that was observed when the `Console` was first used.

Suppose an application A uses `Console` (which t

[2020-06-25 05:11] am11 commented on #38223
Do tools like [perfview](https://github.com/microsoft/perfview) and message analyser require Send/Receive/Start opcodes for activities?

[2020-06-25 05:28] brianrob commented on #38223
They should not fail with different opcodes, but these opcodes have specific semantics that tools may choose to implement.

[2020-06-25 05:56] scalablecory commented on #35088
Yes.

Sort of. It more or less accomplishes the same goal, but in a very different way that makes a client-side bypass feature a little less exact. We'll likely want a similar bypass for HTTP/3, but we'll need to think/discuss on how to reasonably implement it.

I think because HTTP/3 uses UDP and is limited differently, a new setting is reasonable. But, this isn't a strong opinion.

[2020-06-25 05:59] kunalspathak commented on #33707
`IndexOf(char)`, `IndexOf(byte)` , `IndexOfAny(byte)` are now optimized with ARM64 intrinsics. We didn't optimize `SequenceCompareTo(byte)` and `SequenceEqual(byte)` because the existing SIMD vector implementation is fast enough and comparable with ARM64 intrinsics.

[2020-06-25 05:59] #33707 closed

[2020-06-25 06:41] koikin opened #38414 "WindowsIdentity.RunImpersonated sending wrong credentials"
Hi all!
I'm using windows authentication to  impersonate my request to the api like this:

[code]
On the API side I just get the identity with HttpContextAccessor.
[code]

This works fine as long as only one user is signed in and makes the calls to the API.
But when two users are making calls.
User 1 is sometime receive user 1 data and sometime user 2 data same with User 2.
Debugging inside RunImp

[2020-06-25 06:41] layomia opened #38377 "Show full path for manually added test files in linker trimming tests output"
Following the changes in https://github.com/dotnet/runtime/pull/38216, we can share source files between linker trimming tests by manually adding the test files in the `Library.TrimmingTests..proj` file. Files can be added using `TestConsoleAppSourceFiles` and `AdditionalSourceFiles` properties.

When tests under a `TrimmingTests` directory are manually added, the full path of each test file is no

[2020-06-25 07:59] buzzers commented on #38262
So if I need to propagate an exception across processes, is there a solution at the moment?

[2020-06-25 08:51] janvorli commented on #38373
The behavior you are seeing is correct. Unhandled exception should exit via abort and it does so on Linux too. This is from my Ubuntu 16.04:
[code]

[2020-06-25 08:51] #38373 closed

[2020-06-25 09:35] psantosl commented on #37444
I think the problem is that we're launching the process with a different TMPDIR

[2020-06-25 10:09] tmds commented on #923
This issue is unrelated to `SCM_RIGHTS`.

On Linux, `Socket.Send` throws a `SocketException` if there is no peer, while on Windows it does not.

Windows `WSASend` documentation suggests it could do the same thing:

-- | --

Maybe this error is only generated for non-localhost communication on Windows?

You can add an extension method if you always want to ignore the error, and avoid the cost of th

[2020-06-25 10:21] #38223 closed

[2020-06-25 10:27] jebbinBjss commented on #29861
@steveharter

I see that this issue has been considered a nice to have, but I would like to point out that the workaround of creating a custom converter isn't an extensible one, as you would either need to create a custom converter for every class with required properties, or create a generic one that allows you to pass the names of all the required fields to the converter, while also handling the

[2020-06-25 10:54] GrowSharp commented on #36888
Okay, took me little longer than expected, but I have some news.

On windows everything works perfectly. I even got some performance boost from it which is nice (and understandable, because I went from .AccountManagement to .Protocols).

But on Linux: (same setup as last time, Ubuntu 20.04, .NET Core 3.1, .Protocols version 5.0.0-preview.5.20278.1)

1.) Anonymous bind doesn't work (  `ldapConnecti

[2020-06-25 11:47] iSazonov commented on #32527
Wouldn't a hard limit be the best solution? There are many places where int overflow could be and it’s not always possible to return the correct value, ex.: https://github.com/dotnet/runtime/blob/9d85b82e3ad856068459c8f8bba8509e038afb40/src/libraries/System.Private.CoreLib/src/System/Text/StringBuilder.cs#L296-L298

[2020-06-25 12:08] Youssef1313 opened #38418 "[Analyzer Suggestion] (Performance) Usage of ConvertAll vs LINQ Select"
I haven't done the benchmarks yet, but based on [this](https://stackoverflow.com/a/55624925/5108631) stackoverflow answer:

If `ConvertAll` is more performant than LINQ's `Select`, I think it's worth having an analyzer (I believe this analyzer will get flagged in many projects and will be useful, there is even an [example](https://github.com/dotnet/roslyn-analyzers/blob/7bc7660d8f01dbc06fd8d1ac672

[2020-06-25 12:38] am11 commented on #38373
I was testing on Ubuntu 18.04. Although the exit code was 134, wasn't giving `Aborted (core dumped)`. This message comes from shell when an app (bash job)  terminates from a signal. e.g. a simple C program produces that in the same shell session:

[code]

[2020-06-25 12:50] jkotas commented on #38262
`Exception.PrepForRemoting` was an internal implementation detail that Orleans called via private reflection. There is probably a way to replicate the behavior of `Exception.PrepForRemoting` by using private reflection on the current internal implementation details.

All such solutions that depend on private reflection are unreliable and can break at any point.

The only reliable solution for this

[2020-06-25 12:52] handlespeed opened #38383 "How to run dotnet/runtime library test which actually use updated library"
Hi, I am trying to change some dotnet/runtime code and found problem about build and test.

1. I change code in src\libraries\Microsoft.Extensions.Configuration.Binder\src\ConfigurationBinder.cs
2. run 'build.cmd -projects src/libraries/*/Microsoft.Extensions.Configuration.Binder.sln' to build both lib and test. Seems output of lib is in 'artifacts\bin\Microsoft.Extensions.Configuration.Binder\net

[2020-06-25 12:52] am11 commented on #38373
Ah, I was doing `dotnet run --throw` which `fork()`s, instead of `dotnet path/to/file.dll --throw`. So it makes sense. :)

[2020-06-25 14:07] stephentoub opened #38388 "API Proposal: Add Environment.ProcessId property"
## Background and Motivation

A non-trivial amount of code uses:
[code]
to get the ID of the current process.  Some examples:

https://source.dot.net/#System.Diagnostics.Process/System/Diagnostics/Process.cs,e7bdad2b99a54a87,references

While that works:
a) from a throughput perspective it's much more expensive than it needs to be
b) it allocates a Process just to get the Id
c) it's easy to forget

[2020-06-25 14:09] iSazonov commented on #36005
The behavior is explicitly documented https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.primitives.stringvalues.isnullorempty?view=dotnet-plat-ext-3.1#Microsoft_Extensions_Primitives_StringValues_IsNullOrEmpty_Microsoft_Extensions_Primitives_StringValues_

I wonder if MSFT team agreed to change the design.

[2020-06-25 14:32] fiseni commented on #33554
Any answer or hint on this one? Let me simplify the questions:
- Any chance we can get `DisplayAttribute` not sealed, open for inheriting?
- Any plans to make the `AttributeUsage` to be Property | Class, and to allow multiple usages (`AllowMultiple = true`) ? The intention is to get usage as below
[code]
It would be great if any of these two requests are implemented, even better if both :)

[2020-06-25 14:38] foxjazz opened #38392 "IConfiguration is not threadSafe (bug report or feature request) and not readOnly"
### Describe the bug
Add a singleton that loads up parameters to be set in appsettings (IConfiguration). Like
Configuration["MySetting1"] = "some data"
this should run during startup constructor of the singleton.
Then when using this result from a Get request, it will sometimes come as null, but only when run under IIS.

Solution is to instead add the parameter to a ConcurrentDictionary or Even di

[2020-06-25 14:51] stephentoub commented on #2339
Inconsistencies?

In general we strongly prefer to do a full source annotation (details at https://github.com/dotnet/runtime/blob/master/docs/coding-guidelines/api-guidelines/nullability.md).  This isn't always possible or fruitful, though.  For example, we have some libraries that build against netstandard2.0, and the benefit of doing full source annotation there is significantly diminished becau

[2020-06-25 14:57] jaymin93 commented on #36752
@ViktorHofer its strange my two machines 1 dell 2 surface go shows issues running test while my other PC which is not accessible most of time runs test well ( very slow 3 minutes to run single but runs ) where as all of them are on same vs and source code and windows required components installed

[2020-06-25 15:09] hypeartist commented on #38388
What about exposing a process handle same way?

[2020-06-25 15:20] rharpavat commented on #37318
Hmm I don't think I've tested that scenario, all the users experiencing the issue killed the app after a while because it was noticeably slowing their systems down. Max memory usage we had reported was 4.7GB.

[2020-06-25 15:27] MaxSegalCDMS opened #38398 ".NET Framework 4.8 Numerics upgrade"
I'm attempting an upgrade from .NET Framework 4.5.1 to 4.8. My application was originally built on top of 4.5.1 and MVC. Upgrading to 4.8 has caused one compiler error for my implementation, around its dependency on System.Numerics.Vectors.Vector3. This is the error I see:

`Error	CS0433	The type 'Vector3' exists in both 'System.Numerics.Vectors, Version=4.1.4.0, Culture=neutral, PublicKeyToken=b0

[2020-06-25 15:28] jaredpar commented on #260
In the time since we initially discussed this issue the UI options in GitHub have changed. It is now possible to enable linear history but allow for admins to override at the point of the merge. This morning we tested out the option on PR #38313. The result when an admin looks at the merge options is:

![image](https://user-images.githubusercontent.com/146967/85749234-86829380-b6bd-11ea-8d05-192a6

[2020-06-25 15:30] stephentoub commented on #260
Seems reasonable. Thanks.

[2020-06-25 15:32] alexischr commented on #36688
I did something wrong the first time I checked this under a default desktop build and must have run CoreCLR on my sample - The behavior is actually reproducible on the desktop when using a Mono build. So this is a more general bug.

[2020-06-25 15:41] Mariachi1231 opened #38393 "Factory delegate causes copying of ExpirationTokens during GetOrCreate on Microsoft.Extensions.Caching.Memory.MemoryCache"
Hi, I faced an unexpected particularity of usages of `GetOrCreate` which causes copying of `ExpirationTokens` (and absolute expiration) to a new item from any other entries that were retrieved in the factory delegate from the cache.

This simple test represents my issue:

            List<string> log = new List<string>();

            MemoryCache msCache = new MemoryCache(new MemoryCacheOptions())

[2020-06-25 15:53] charlesroddie commented on #38286
.Net 5 is very ambitious so it's not unexpected that some things slip.

The difficult, ambitious, and impactful part of the original plan was the unification of mono and netcore into "one dotnet". This allows .net 5 to run mono workloads, of which the main ones are Xamarin and Webassembly.

If Xamarin is not included this is missing and the name ".Net 5" isn't appropriate. Webassembly is in but is

[2020-06-25 16:08] scalablecory commented on #37141
@JamesNK how critical is this for you? .NET 5? or can we push it?

[2020-06-25 16:11] GSPP commented on #33792
This is a high-noise analyzer. `GetValueOrDefault` is preferable from a performance standpoint, but this does not matter for 99% of the code.

From a style perspective, `Value` is preferable because semantically is more correct than `GetValueOrDefault`. You never want a default. If anything, you want the explicit assertion in `Value`.

If many high-noise analyzers like this one are default-on then

[2020-06-25 16:12] Fosol opened #38395 "System.Text.Json.Serialization ignores JsonConverterAttribute on model"
### Description

When using ` JsonSerializer.Serialize(data, options)` it ignores the `JsonConverterAttribute` values on models.

[code]

[code]

Expected Result
The `Value` should have been converted by the JsonConverter or JsonPropertyName attributes specified as an attribute.

Actual Result
All `JsonConverterAttribute` and `JsonPropertyNameAttribute` are ignored.

[2020-06-25 16:14] #36171 closed

[2020-06-25 16:15] NikolaMilosavljevic commented on #36171
Closing - not actionable.

[2020-06-25 16:17] NikolaMilosavljevic commented on #36171
Closing for now. Please open a new issue with more information.

[2020-06-25 16:18] scalablecory commented on #38141
Triage: Framework had some opt-outs relating to this; we might consider adding these to .NET Core.

[2020-06-25 16:18] NikolaMilosavljevic commented on #36193
Closing for now. Please open a new issue or reply with more information.

[2020-06-25 16:18] #36193 closed

[2020-06-25 16:18] stephentoub commented on #33792
It wouldn't be on by default.

[2020-06-25 16:26] danmosemsft commented on #260
Sounds good to me.

[2020-06-25 16:30] NikolaMilosavljevic commented on #37090
Given that this dependency is required by an OOB package, we've decided not to add it to runtime-deps package.

We might want to create optional dependencies.

[2020-06-25 16:30] #37090 closed

[2020-06-25 16:39] NikolaMilosavljevic commented on #33672
SUSE has fixed this issue - we need to test it before closing.

[2020-06-25 16:40] #32496 closed

[2020-06-25 16:41] #38228 closed

[2020-06-25 16:44] NikolaMilosavljevic commented on #32496
Closing, unable to repro.

This is a typo - we could not reproduce it.

[2020-06-25 16:47] NikolaMilosavljevic commented on #3848
Closing in favor of https://github.com/dotnet/runtime/issues/36765

[2020-06-25 16:47] #3848 closed

[2020-06-25 16:56] josalem commented on #38156
On further reflection, I'm not convinced that the potential issue I found in the previous comment is the same as the one from the CI log messages, or that it is necessarily an issue at all.  The presentation is similar, but the steps for reproducing the mentioned error consistently require ~155 seconds of constantly deleting and recreating the unix domain socket without recycling the target app.

[2020-06-25 17:02] #38205 closed

[2020-06-25 17:13] iSazonov commented on #2339
`return new Guid(_schemaGuidBinaryForm)` can throw `ArgumentNullException` that is weird for reading operation:

https://github.com/dotnet/runtime/blob/0141587160b8391272f7261ad3926f62326ea1bb/src/libraries/System.DirectoryServices/src/System/DirectoryServices/ActiveDirectory/ActiveDirectorySchemaClass.cs#L995-L1024

It seems it should be `return _schemaGuidBinaryForm is null ? Guid.Empty : new Gu

[2020-06-25 17:14] carlossanlop commented on #37301
@iSazonov I marked it for 5.0. Would you have a chance to work on this in the next few days? If not, @Jozkee or I can take over when we get some bandwidth.

[2020-06-25 17:21] terrajobst commented on #34587
* Good point
* When inheriting, we always should also define all nested types and define `IsSupported` the appropriately, even if they don't define any other members.
* (this will probably require more nested types than listed below)

[code]

[2020-06-25 17:33] adamsitnik commented on #371
I like this proposal and I think it's worth discussing it during API Review.

Since `ProcessStartInfo.ArgumentsList` is `Collection<string>` I think that we should make the new methods accept `Collection<string>` instead of `IEnumerable<T>` just to avoid copying the collection (it will force the callers to use it from the begining).

[code]

[2020-06-25 17:38] #936 closed

[2020-06-25 17:40] adamsitnik commented on #37129
@enricogior any progress on this?

[2020-06-25 17:40] #37910 closed

[2020-06-25 17:41] terrajobst commented on #33532
[code]

[2020-06-25 17:42] joperezr commented on #36888
For 1), we do support anonymous bind but we do require for you to be on a Linux machine which is domain joined to an Ldap server. The best way I found to test to make sure that I was successfully authenticated to the server, was by trying to run the ldapwhoami command on the terminal and passing in the realm I wanted to connect to, for example: `ldapwhoami -R MYDOMAIN.COM`. If that succeeds but yo

[2020-06-25 17:45] adamsitnik commented on #37983
@tommcdon I've changed the area from `System.Diagnostics.Process` to `System.Diagnostics` since it's more related to diagnostics rather than the `System.Diagnostics.Process` class. Who would be the best person to take a look at this memory dump?

[2020-06-25 17:54] terrajobst commented on #36696
[code]

[2020-06-25 17:57] Felk commented on #29743
Will this also work for init-only properties?

I could not get init properties to work with the .NET 5 preview 6, so I assumed that they simply aren't supported yet in the preview build. Therefore unfortunately I was unable to test how System.Text.Json interacts with them myself.

[2020-06-25 18:00] MaxSegalCDMS commented on #38398
thanks, i appreciate the help and suggestion. i wasn't sure where best to post either, but i thought it might be worth a try here because my issue seemed related to a dependency on System.Numerics and i thought that sourced from .NET Core

i'll post in the other forum too, and see if anything sticks. thanks again!

[2020-06-25 18:01] adamsitnik commented on #32412
Hi @KoromaruKoruko

This repo is for .NET Core Runtime and Base Class Libraries related issues. Your proposal seems like an MSBuild feature request. I can't transfer issues from dotnet/runtime to microsoft/msbuild repository (it's two different GH orgs) so I am going to close and ask you to open a new issue in https://github.com/microsoft/msbuild

Thank you and have a nice day!

[2020-06-25 18:01] #32412 closed

[2020-06-25 18:01] iSazonov commented on #37301
@carlossanlop I have not possibility to develop on Unix :-(

[2020-06-25 18:02] safern commented on #38383
Hello @handlespeed -- the directories that you point out in step 2 are correct, however, given the way that we run our tests since we want to "override" the dotnet SDK inbox shared framework that we use to run to use the live assets we just built, we construct a "fake" shared framework in order to run the tests.

This shared framework will be found in `artifacts\bin\testhost\<buildconfig>\shared\M

[2020-06-25 18:05] adamsitnik commented on #31658
The docs have been updated in https://github.com/dotnet/dotnet-api-docs/pull/3844, closing.

[2020-06-25 18:05] #31658 closed

[2020-06-25 18:08] adamsitnik commented on #2082
@richlander ping

[2020-06-25 18:11] adamsitnik commented on #1213
@tmds @lpereira do you believe that we should include this in .NET 5?

[2020-06-25 18:14] adamsitnik commented on #731
No response since January and @tmds was not able to reproduce it - I am closing this issue.

@dngur807 please feel free to reopen it if you can provide the missing information

[2020-06-25 18:14] #731 closed

[2020-06-25 18:15] enricogior commented on #37129
Hi @adamsitnik
we have been busy preparing the 0.19 release, hopefully next week I'll have some time to do the testing.

[2020-06-25 18:15] adamsitnik commented on #1213
@ViktorHofer @safern do any of our CI machines have kernel 5.4+?

[2020-06-25 18:18] hoyosjs commented on #37444
Creation is supposed to honor the `TMPDIR` environment and the debugger should be able to access communication mechanisms as long as the user has proper access rights to the created pipes. Are the pipes present wherever your `TMPDIR` points to?

[2020-06-25 18:21] adamsitnik commented on #29355
Hi @Akaion

This issue was created sooner than #1124, but for some reason, #1124 got more attention and there is already an ongoing discussion there so I am going to close this issue in favor of #1124. Please follow it to see the progress.

Thank you

[2020-06-25 18:21] #29355 closed

[2020-06-25 18:23] #37802 closed

[2020-06-25 18:25] AndyAyersMS commented on #330
I'm going to push this out of 5.0 as it's a nice to have.

[2020-06-25 18:28] terrajobst commented on #37014
[code]

[2020-06-25 18:31] safern commented on #1213
I'm not sure... we have a lot of different distros and also a bunch of tests run on docker containers, so it depends.

cc: @MattGal

[2020-06-25 18:34] safern opened #38400 "CI builds that run tests as part of the same job (global-build-job.yml template) should support conditioning the test step"
See discussion: https://github.com/dotnet/runtime/pull/37752/files#r442403480 for more details.

cc: @akoeplinger @directhex

[2020-06-25 18:35] danmosemsft commented on #37301
@iSazonov even with WSL 2 ? 😃

[2020-06-25 18:36] danmosemsft commented on #38286
@charlesroddie .NET 5 we will be adding support for WebAssembly. That didn't move to .NET 6. See  https://github.com/dotnet/runtime/issues/38367

[2020-06-25 18:37] shine17 opened #38407 "Expose a property in System.Net.Http.HttpResponseMessage which will give the remote ip it connects to"
Currently the HttpResponseMessage doesn't expose a property which tells which remote ip it gets response from. There is no way of getting the ip address when TCP connection established. It will be good if we can expose a property in HttpResponseMessage which tells about the ip it get response. Node js https library have that, I think dotnet also should have this exposed.

[code]

[2020-06-25 18:41] manandre commented on #37733
@czd890 Splitting it into 2 instructions may be clearer:
[code]

[2020-06-25 18:41] terrajobst commented on #38137
[code]

[2020-06-25 18:42] stephentoub opened #38401 "HttpClientHandler._operationStarted is never set to true"
If that's ok, it should be deleted.  If it's not, the appropriate set needs to be added.

[2020-06-25 18:42] iSazonov commented on #37301
@danmosemsft I would like, but my laptop is against  😃

[2020-06-25 18:45] ManickaP commented on #38401
This might be remnant for Curl/WinHttpHandler removal... I'll scan the history and report back.

[2020-06-25 18:46] terrajobst commented on #37169
[code]

[2020-06-25 18:46] #38192 closed

[2020-06-25 18:48] danmosemsft commented on #38327
Removing label as this is not proposing new API surface.

[2020-06-25 18:49] danmosemsft commented on #38344
@juliusfriedman could you remove the "Please provide the specific public API signature diff that you are proposing. For example:" line above maybe then we could use this as an example of a good proposal?

[2020-06-25 18:57] terrajobst commented on #38348
* Looks good as proposed

[code]

[2020-06-25 19:00] stephentoub commented on #34648
@Maoni0, can this issue be closed now, or is it still tracking something?

[2020-06-25 19:01] terrajobst commented on #36105
* Looks good as proposed

[code]

[2020-06-25 19:05] safern commented on #36105
@reflectronic interested in putting up a PR?

[2020-06-25 19:10] layomia opened #38404 "Mark System.Diagnostics.DiagnosticsEventSource.TransformSpec.PropertySpec.PropertyFetch.FetcherForProperty as unsafe for linker-trimming"
See discussion here: https://github.com/dotnet/runtime/pull/38216#discussion_r445435926

https://github.com/dotnet/runtime/blob/afc9f65bd63f911d9f709fae2bd95021dab65411/src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSourceEventSource.cs#L898

[2020-06-25 19:12] MichalStrehovsky opened #38405 "Document Single file unfriendly APIs"
This is a running list of APIs that might be problematic for single file and we'll need to tag in some way. Until we have such mechanism here they are:

* Assembly.Location
* Assembly.CodeBase
* Assembly.EscapedCodeBase
* AssemblyName.CodeBase
* AssemblyName.EscapedCodeBase
* AssemblyDependencyResolver
* Assembly.GetFile
* Assembly.GetFiles
* Marshal.GetHINSTANCE
* Module.FullyQualifiedName

Assem

[2020-06-25 19:15] reflectronic commented on #36105
Yup, you can assign me. Right now, I am working on getting it implemented in libgdiplus as well. Hopefully, that can get reviewed and merged quickly once I put that up.

As for the versioning problem, it looks like libgdiplus exposes the version with `GetLibgdiplusVersion()`, so we can gracefully fail when CachedBitmap is not supported.

[2020-06-25 19:17] rgarrison12345 commented on #36168
Thanks for the input @roji .  The code I posted is actually the full method minus the name and signature.  I appreciate the recommendation.  Now that I have an understanding about how the reader is designed to work, I think my recommendation is fine closing out.

[2020-06-25 19:18] dresdor commented on #35720
Yes, the old way works just fine using brackets instead of whatever 3.1 uses to decide its using scope.

My guess is "something" in the way that method is set up is triggering the interpretation of the using statement to go wonky (technical terms, I know).

[2020-06-25 19:22] mjsabby commented on #260
Excellent, linear history FTW!

[2020-06-25 19:32] tannergooding commented on #38398
Could you provide more details on how your project is setup? `System.Numerics` isn't "in box" for .NET Framework and you need to explicitly pull it in as a new dependency, generally via the `System.Numerics.Vectors` NuGet package: https://www.nuget.org/packages/System.Numerics.Vectors/

[2020-06-25 19:33] Maoni0 commented on #34648
yes, closing now, thanks for the reminder!

[2020-06-25 19:33] #34648 closed

[2020-06-25 19:36] safern commented on #36105
`GetLibgdiplusVersion` is not supported in some old versions of `libgdiplus` so we should consider that when we implement that and trhowing if the version doesn't support it or if we can't get the version at all.

[2020-06-25 19:37] safern commented on #36105
Btw, I set the milestone to future as there's no rush to implement this, but if we're able to get it in the next couple of weeks and make it into 5.0, great 😄

[2020-06-25 19:43] layomia opened #38406 "TargetInvocationException in System.Diagnostics.DiagnosticsEventSource.TransformSpec.PropertySpec.PropertyFetch.RefTypedFetchProperty ctor"
This is because the [delegate creation in the ctor](https://github.com/dotnet/runtime/blob/ecdb7f36e0d97e204194ee23a972160471b44622/src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSourceEventSource.cs#L972) is incompatible with static properties.

<details>
<summary>
Repro (click to view)
</summary>

[code]
</details>

A fix for the issue was made here as part of

[2020-06-25 20:00] echesakovMSFT commented on #36846
Most of the discrepancies between the JIT output and WinDbg u command (mostly related to the new SIMD instructions added in .NET 5.0 timeline) were addressed by #38361.

The remaining differences in the output were captured in https://github.com/dotnet/runtime/files/4828121/compare-windbgu-jitdump.txt and will not be fixed in 5.0. Moving the issue to the future.

[2020-06-25 20:08] jaredpar commented on #260
It's not linear history though, it's less non-linear history. There will always be merge commits in our repo because it's necessary to support our workflows. Nothing about our workflow has changed.

The only change here is that we have better enforcement for our desired model: linear history for most code changes but merge commits to support arts of our workflow.

[2020-06-25 20:19] ericstj commented on #38383
Also, if it wasn't clear, you need to do at least one build up front to create the test shared framework.  Further info is here: https://github.com/dotnet/runtime/tree/master/docs/workflow/building/libraries

[2020-06-25 20:22] geoffkizer commented on #35088
The HTTP/3 behavior here is pretty similar in terms of user impact. That is, there's a multiplexed connection and the server controls the max degree of multiplexing. The implementation is very different under the covers, but I'm inclined to think that's not relevant to the user experience here. As such I would lean towards naming this in such a way that we can use it for HTTP/3 as well.

We can al

[2020-06-25 20:24] briansull commented on #34732
The change #36831 will fix this issue

[2020-06-25 20:24] orinem opened #38411 "UserPrincipal.Current throws InvalidCastException"
### Description

See also #30408

If logged on as an Azure AD user, UserPrincipal.Current throws an InvalidCastException.

Steps to reproduce:

Connect a non-domain connected Windows 10 computer to an Azure Active Directory:

Settings App
Select Accounts
Select "Access work or school"
Click "Connect" and follow the steps.

When it completes, restart and log in as the Azure AD user.  Run the code b

[2020-06-25 20:27] dekenless commented on #36089
I find it hard to believe that this at revision 3.1 is still an issue (or is an issue again); this is pretty fundamental and crucial functionality.

[2020-06-25 20:30] MaxSegalCDMS commented on #38398
You're right, sorry i forgot i added System.Numerics from NuGet myself. Well that makes more sense, really sorry for the trouble. Uninstalling and reinstalling System.Numerics from NuGet resolved the issue

[2020-06-25 20:33] #38398 closed

[2020-06-25 20:35] QuinnDamerell opened #38412 "DateTime.AddMilliseconds takes a double but rounds to an int"
### Description

DateTime.AddMilliseconds takes a double, but when the add operation actually happens the value passed in gets rounded to an integer. This breaks the use of DateTime with any granularity under 1ms, for example, game loops where you're trying to render evert 16.6666ms.

### Configuration

Dotnet Core Current (tested on 3.1)

### Regression?

Unsure

### Other information

The issue

[2020-06-25 20:52] ericstj commented on #30689
There is no action for this in 5.0 since we need the runtime graph in dotnet/runtime to build the shared framework, it must remain here for the time being.

All runtimes supported by .NET, both coreclr and mono.

At the moment no as size of the graph to support these is not yet a problem, though I could see us doing so in the future on major revisions.

We are not representing this via RIDs (at th

[2020-06-25 20:52] #30689 closed

[2020-06-25 20:56] ericstj commented on #943
@joperezr I think you did this.

[2020-06-25 20:57] #38374 closed

[2020-06-25 21:03] orinem commented on #38411
Use area-System.DirectoryServices then delete this comment.

[2020-06-25 21:15] JamesNK commented on #37141
It's not important. Push away.

[2020-06-25 21:39] swaroop-sridhar commented on #36590
Until Preview 4, all files bundled in a single-file app were extracted to the disk.
In Preview 5, the application config files were no longer extracted, but used directly form the bundle.
In Preview 6 assemblies embedded in the bundle are loaded directly without need for extraction to disk.

By default, the Preview6 SDK only bundles files that can be run directly from bundle into the single-file a

[2020-06-25 21:52] peiliu opened #38415 "memory leak in FontCollection::Families() in Linux"
### Description
There is a memleak in FontCollection::Families() property.  Here is the code snippet:

       public FontFamily[] Families
        {
            get
            {
                int numSought = 0;
                int status = SafeNativeMethods.Gdip.GdipGetFontCollectionFamilyCount(new HandleRef(this, _nativeFontCollection), out numSought);
                SafeNativeMethods.Gdip.Ch

[2020-06-25 21:55] richlander commented on #38349
Thanks for all the support for this idea. I'm going to take this response as "we like this." Thanks!

I've now got to make good on this proposal. Please contact me if you want to get involved, either here or my [twitter DMs are open](https://twitter.com/runfaster2000). The intent was that the community would be quite significantly involved in this project. I'll be looking for some folks to work wi

[2020-06-25 22:02] layomia opened #38417 "Add linker trimming tests for System.ComponentModel.TypeConverter IClassFactory2-related linker annotations"
Specifically, add tests for this change https://github.com/dotnet/runtime/pull/37402/files#diff-64cb2690a89a375e7a29b0c7d3651ba5R704.

More info: https://github.com/dotnet/runtime/pull/38066#issuecomment-648519093

[2020-06-25 22:22] ericstj commented on #33998
Moved this to future since the duplication has existed for past releases and we aren't going to make a breaking change to resolve it.

The common scenario works:
[code]

It's only the following that fail:
[code]

[2020-06-25 22:29] ericstj commented on #30353
Typically you should handle resource disposal through IDisposable, potentially a finalizer (though prefer things like SafeHandles over writing your own finalizable objects).   In general OS resources (file handles, sockets, memory, etc) are designed in such a way that process shutdown will automatically reclaim the resource so you shouldn't need to do things on process shutdown for most resources.

[2020-06-25 22:29] #30353 closed

[2020-06-25 22:40] ericstj commented on #36089
It seems like https://github.com/dotnet/coreclr/pull/17265 attempted to address this same thing but this must have regressed.  @jeffschwMSFT any idea who can drive this forward.

[2020-06-25 22:50] #38401 closed

[2020-06-25 22:52] HongGit commented on #36154
The code is too intricate to be trimmed safely.

[2020-06-25 22:57] danmosemsft commented on #38415
@peiliu would you consider offering a PR?

[2020-06-25 23:11] safern commented on #38415
If that's the case, @peiliu did you try reproing this in Windows? The codepath for both Windows and Linux is the same, so I would expect them to have the same behavior.

[2020-06-25 23:11] #2102 closed

[2020-06-25 23:17] bartonjs commented on #36105
@terrajobst The API you copy/pasted included the MarshalByRefObject base class.  Didn't we say no to that part?

[2020-06-25 23:35] Anipik commented on #2332
I can pick it up during sometime during next week

[2020-06-25 23:50] danmosemsft commented on #30353
Note also https://github.com/dotnet/runtime/issues/36089 in this context

[2020-06-25 23:50] danmosemsft commented on #30353
Oh, and that was already mentioned.

[2020-06-25 23:59] scalablecory commented on #35088
@geoffkizer I'm hesitant to merge the two because resource usage is different. Thinking in terms of e.g. SNAT which has been a big topic lately, an additional UDP connection could be "free" while a TCP connection will take up limited resources.

Thinking about it further today, I think we can do it reasonably well.

QUIC does not use a "max concurrent streams" but rather a "max usable stream id" t

[2020-06-26 00:00] StephenMolloy commented on #37893
I can understand the frustration here, and we are going to keep this bug open to look at in a future milestone. 15 _minutes_ is a long time to wait for a serializer. However, it is true that this is not a regression from the 4.8 framework.

What is probably happening here is that XElement likely already has custom serialization code to handle this case and thus can do things smartly and quickly, w

[2020-06-26 00:09] danmosemsft commented on #38414
@scalablecory any thoughts about which area this should go?

[2020-06-26 00:10] danmosemsft commented on #38377
Tiny suggestion, also consider putting a space at the end before the `...`. That helps folks who double click on the output to grab the path.

[2020-06-26 00:22] ericstj commented on #13064
Suspect this was one of the many issues we had around nullable feature development that manifested as crashes of compiler.   Not actionable as it's no longer occuring.

[2020-06-26 00:22] #13064 closed

[2020-06-26 00:34] tarekgh opened #38419 "Improve Activity API usability and OpenTelemetry integration (Part 2)"
The whole design of the proposed APIs is in the issue https://github.com/dotnet/designs/pull/134

[2020-06-26 00:42] jeffhandley commented on #2127
@adamsitnik Yeah that seems like a cool analyzer idea.  Feel free to submit an issue for that and tag it with `code-analyzer`.

[2020-06-26 00:45] danmosemsft commented on #2127
Yes..hopefully quick and easy one though

[2020-06-26 00:49] stephentoub commented on #2127
It actually already exists: CA1066
https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1066?view=vs-2019

[2020-06-26 01:12] ericstj commented on #29497
I don't think we'd want to add such a support to reflection.  Reflection is meant to reflect the real assembly, no funny business.   Allowing someone to add attributes to any type also feels like a security problem.  Just think if you could add attributes like Serializable to a type you don't own...

What you are suggesting sounds very similar to how TypeDescriptor works today.  Check out [TypeDes

[2020-06-26 01:17] ericstj commented on #28057
Closing due to inactivity.  If you'd like to proceed, please reopen with API suggestion following linked process.

[2020-06-26 01:17] #28057 closed

[2020-06-26 01:20] ericstj commented on #26187
@Anipik/@safern didn't we do something like this already?  I thought we got the diff pretty clean after supporting follow-type-forwards.

[2020-06-26 01:31] scalablecory commented on #38414
@koikin can you please try with a .NET 5 preview? This was fixed in https://github.com/dotnet/runtime/pull/303. Thanks.

[2020-06-26 01:33] scalablecory commented on #38414
Duplicate of #30307

[2020-06-26 02:51] aiba7339 commented on #30364
Thank you for asking.

When I add a DataSet in my project, .xsd file is added in it, for example "DataSetTest.xsd".
Moreover, "DataSetTest.Designer.cs" file is automatically generated by VS.
It has some constructors as I defined some DataTable s in the dataset.
One of them is like I wrote above.

[2020-06-26 03:02] AndyAyersMS commented on #33129
Just retried this with recent master, still getting 00 for both x86 and x64.

In the IL for the reverse pinvoke stub, I am guessing arg1 is the pointer for the result, but the IL never refers to it...? Seems like in the "UnmarshalReturn" section it should be `ldarg.1`...?

[code]

[2020-06-26 04:12] foxjazz commented on #38392
area label area-Extensions-Configuration

[2020-06-26 04:18] foxjazz opened #38435 "aspnet core using Json.Text instead of Newtonsoft bug"
### Describe the bug
when NOT using newtonsoft serializer for returning objects from get requests can result non valid json responses when using base64 strings.

### To Reproduce
Unfortunately I don't have a good way to reproduce this. I would try base64 of a few pictures and add to a parmeter. 64k in length. And test. I have a string that fails, but can't produce it here.

### Further technical d

[2020-06-26 04:28] wli3 opened #38421 "Reference assemblies for .NET 3.0/3.5"
@iskiselev commented on [Wed Jun 17 2020](https://github.com/dotnet/sdk/issues/12089)

Nuget package with reference assemblies does not provide versions for .Net 3..0 and 3.5 (microsoft.netframework.referenceassemblies).
During restore, NuGet use microsoft.netframework.referenceassemblies.net20 for .Net 3.5, but unfortunately it has harcoded checks for TargetFrameworkVersion = 2.0 in Microsoft.NET

[2020-06-26 04:32] steveisok opened #38422 "[Wasm] Tracking active test failures"
We began running tests for wasm on CI, however not all test suites currently pass.  This issue tracks what's failing:

OOB = out of box library

### Suites that contain 1 or more failures
- [x] Common.Tests (https://github.com/dotnet/runtime/pull/38667)
- [x] OOB: Microsoft.Extensions.Configuration.FileExtensions.Tests (https://github.com/dotnet/runtime/pull/38721)
- [x] OOB: Microsoft.Extensions.

[2020-06-26 04:40] AaronRobinsonMSFT commented on #38388
This approach also has the opportunity of caching that value for all future callers as well - since I would assume we expect it to be unchanged for the lifetime of the current process.

[2020-06-26 05:01] safern commented on #38423
Yeah this is by design because of what @joeloff said. We use ICU which uses the CLDR data, you can see here for the danish culture, how the “maj” is the same format for short and long.

https://icu4c-demos-7hxm2n5zgq-uc.a.run.app/icu-bin/locexp?d_=en&_=da_DK

The `.` is to show that it is a short form.

Closing the issue since it is by design, of course feel free to re-open or continue the discuss

[2020-06-26 05:01] #38423 closed

[2020-06-26 05:09] buyaa-n commented on #37359
CC @bartonjs @jeffhandley @mavasani @stephentoub @terrajobst

[2020-06-26 06:06] Akarinnnnn commented on #800
Yes. #35063 meant this. The "TAB" in C++ STL is called "delim" so I used that name.

[2020-06-26 06:12] orinem commented on #38411
The first problem is that the Azure AD user SID has an S-1-12-1 prefix which ClassifySID classifies as FakeObject.  It's expecting an S-1-5-21 prefix.

If ClassifySID is changed to allow S-1-12-1, then EqualDomainSid() in IsSamUser() fails.  This asserts in the DEBUG build and that's as far as I got.

[2020-06-26 06:36] buzzers commented on #38262
But `Exception.PrepForRemoting` is a feature of dotnet fw and does not exist in the core. Do we have any plans in .NET5 offers a similar API?

[2020-06-26 07:22] redradist opened #38426 "[Feature Request] Support GraalVM like use-cases"
Hi all,

What if `.NET` will support `GraalVM` like use-cases with multiple-language interaction ?

It is possible today, but `GraalVM` goes further with adding support for `LLVM` and `WebAssembly` byte codes as well as other languages as `Python` ( `IronPython 3` died without even being born :( ), `JavaScript` and other languages ...

`.NET` has better infrastructure than `GraalVM`, because it su

[2020-06-26 07:30] Turnerj commented on #36621
FYI, just tested Preview 6 out of a hope that this might have been co-incidentally fixed. Unfortunately this issue still occurs in the same way as outlined before.

eg. `System.InvalidProgramException : Invalid IL code in (wrapper dynamic-method) object:get_Property (object): IL_000b: ret`

[2020-06-26 07:43] reflectronic commented on #36105
I opened a pull request for the libgdiplus implementation, if anybody wants to take a look https://github.com/mono/libgdiplus/pull/654

[2020-06-26 07:52] tmds opened #38427 "Debugger class on Linux"
When I call `Debugger.Launch`(`/Debugger.Break`) that doesn't do much on Linux.
I assume on Windows, this will launch Visual Studio?

Maybe it is possible to provide a hook so an IDE can be launched also on Linux, like VS Code?
For example, the method could launch a script that is found under `/etc/dotnet/` and pass it the `pid` as an argument.
The script can launch the IDE and make it attach to t

[2020-06-26 08:04] #30003 closed

[2020-06-26 08:13] tmds commented on #1213
We still need the existing implementation, so this would introduce a code path that is specific for 5.4+ Linux.

It's not clear for me what we gain by using this? I haven't looked at the `pidfd_wait` documentation.

We don't need to look at this for .NET 5 imo.

[2020-06-26 09:05] a-ctor commented on #37695
Sadly, I have made an error when testing and tampered with my SDK for @jkotas solution to work. With a clean install the version push with the direct reference is not enough to provide a custom assembly that overrides a framework assembly.

In my tests I tried to create a custom version of `System.Web.dll` and use it instead of the framework version. The assembly version is `4.0.1.0`, which will b

[2020-06-26 09:16] sandreenko commented on #8644
I have checked the generated code for it and it is
[code]
not sure when it was fixed.

[2020-06-26 09:16] #8644 closed

[2020-06-26 09:18] kfrolov opened #38430 "Using SuperPMI with crossgen2 (aot). SIGSEGV."
How can we use [SuperPMI tool](https://github.com/dotnet/runtime/tree/master/src/coreclr/src/ToolBox/superpmi) with crossgen2 (aot) ?

As I understood, we should not use environment variables `COMPlus_AltJitName` and `COMPlus_AltJitNgen`, because these variables analyzed only by zapper class (crossgen1), but instead crossgen2 provide `--codegenopt` comand line option. And where is no `AltJitName`

[2020-06-26 09:23] kfrolov commented on #38430
@jkotas, @alpencolt.

@viewizard -- I want to ask you for help,  how two copies of the PAL can work within one process?

[2020-06-26 09:54] akoeplinger opened #38433 "WebAssembly should support handling runtimeconfig.json"
See https://github.com/dotnet/runtime/pull/37535#issuecomment-649890269

[2020-06-26 10:08] Ravenheart opened #38434 "KB4560960 cannot print certain images"
### Description

After installing Windows10 update KB4560960 printing certain documents hang when printed from .NET code. Specifically I have a .rtf file loaded with a DevExpress winforms control.

After investigation by them the problem was reproduced outside their controls, the problem appears to be in System.Printing and it occurs when printing specific images. Applying hotfix KB4567512 does no

[2020-06-26 11:20] tmds commented on #30782
Looking at nodejs implementation, when reuse is enabled for udp:
SO_REUSEPORT is set, except on Linux, where SO_REUSEADDR is set.

The effect of not setting SO_REUSEPORT on Linux, is that unicast traffic will no longer be distributed across multiple bound UDP sockets.
Multicast, and broadcast will still be received by all bound sockets.

From reading the Windows docs, I _think_ `SocketOptionName.R

[2020-06-26 11:20] iSazonov opened #38437 "JsonCamelCaseNamingPolicy weird behavior"
### Description

System.Text.Json.JsonCamelCaseNamingPolicy does very weird conversion of strings with non-literal chars.
Example https://github.com/dotnet/runtime/blob/0f7a938c6ed5a2009d401a4e3c5cb467c96dc498/src/libraries/System.Text.Json/tests/Serialization/CamelCaseUnitTests.cs#L36

Here I'd expect `shouting_CASE`.

The converter considers only a space as special case: `SHOUTING CASE` is expec

[2020-06-26 11:30] MichalStrehovsky opened #38439 "Consider disabling Ref.Emit in System.Linq.Expressions on WASM"
I was surprised the default Blazor WASM template depends on Reflection.Emit. This is because of System.Linq.Expressions.

System.Linq.Expressions can be compiled in a way that removes the Ref.Emit dependency (use interpreter only) - to do this set the `IsInterpreting` property in System.Linq.Expressions.csproj to `true`.

Compiling without Ref.Emit support saves 112 kB uncompressed and 44 kB compr

[2020-06-26 11:31] roji commented on #38339
FWIW Npgsql has the same timer-per-pool strategy when idle connection pruning is on, and I agree that it isn't ideal - a single global timer is likely the way to go. Off the top of my head I can't see any reason why a single timer couldn't do the same work just as well, I'm guessing nobody thought of scaling to so many pools.

@NickCraver out of curiosity, are you at ~500 pools because you're actu

[2020-06-26 11:37] roji commented on #38339
(opened https://github.com/npgsql/npgsql/issues/3043 to consider also for Npgsql)

[2020-06-26 11:38] KatyushaScarlet commented on #38069
Congratulations!

[2020-06-26 11:40] NickCraver commented on #38339
Indeed we're connecting to hundreds of databases or many thousands of schemas at once. All different connection strings, from the same app identity.

While our crazy reflection method _kind of works_, in practice it doesn't do much for rolling loads. Because inactive pools themselves are culled, then they spin back up they get a new timer...until our next pass. If we moved the timer down though, i

[2020-06-26 11:45] koikin commented on #38414
Thanks for the quick reply.

I upgraded to v5.0.0-preview.6

And got the following error when impersonating with
`_identity = (WindowsIdentity)httpContextAccessor.HttpContext.User.Identity;`
or
`_identity = WindowsIdentity.GetCurrent()`

Error: System.ComponentModel.Win32Exception (0x80090308): The token supplied to the function is invalid

Any ideas?

[2020-06-26 11:50] marek-safar commented on #38439
I'm sad every time I see System.Linq.Expressions in the default template of size sensitive workloads. It might be worth checking how to make that conditional in Blazor.

I think it'd be better to have this instead of compile-time constant use feature-switch `RuntimeFeature.IsDynamicCodeCompiled` as this is not arch but codegen switch we could use elsewhere.

We actually switched from interpreter t

[2020-06-26 11:52] roji commented on #38339
@NickCraver I guess the thing I'm not used to seeing is multi-tenancy that's implemented via changes in the connection string (may be some PG vs. SQL Server difference here).

In any case, assuming we're discussing SqlClient, DbConnectionPool has moved out of dotnet/runtime and into dotnet/sqlclient, so Microsoft.DataSqlClient has its own copy and can do what it wants there. So it probably makes s

[2020-06-26 12:01] MichalStrehovsky commented on #38439
Seems to be coming from Microsoft.Extensions.DependencyInjection 😞

[2020-06-26 12:17] benaadams commented on #38439
Might need correct flags setting for WASM? https://github.com/dotnet/runtime/blob/ed78fadab63e6f8c4ee227521be93ec3aece1dc9/src/libraries/Microsoft.Extensions.DependencyInjection/src/Microsoft.Extensions.DependencyInjection.csproj#L11-L15

[2020-06-26 12:17] szmalec commented on #1761
@cleftheris The proposed adapter does not seem to work if the TypeConverter attribute is added for the class property.
Is it possible to construct such adapter that would also work for TypeConverter attributes added to class properties?

[2020-06-26 12:22] MichalStrehovsky commented on #38439
Ah, I meant - the reference to Linq.Expressions is coming from DependencyInjection.

The fact that DependencyInjection can also use Ref.Emit is new information to me, but makes perfect sense (if you want bad startup time and DI by itself is still not slow enough, might want to insure it's really bad by adding Ref.Emit to the mix).

[2020-06-26 12:40] scalablecory commented on #38414
@koikin can you give a full stack trace? I can't reproduce that.

[2020-06-26 12:42] benaadams commented on #38439
😂 I think @migueldeicaza would sympathize with this position

[2020-06-26 12:52] koikin commented on #38414
[code]

[2020-06-26 13:10] tombogle commented on #38025
I am also getting this same NullReferenceException.

[2020-06-26 13:13] stephentoub commented on #38339
On .NET Core, I'd expect the impact to be minimal. I've seen apps with tens of thousands of timers, and while that can have a very measurable effect on .NET Framework (without opting in to some fixes), on .NET Core improvements we made in 2.1 and 3.0 make those issues largely go away, at least from what I've seen. I'd love to know if in practice you see otherwise, i.e. if you actually see measurab

[2020-06-26 13:19] Brar commented on #38339
@roji I can totally imagine a multi-tenant application that uses one schema per tenant and implements this either via connecting as a different user (via `ALTER ROLE tenant1_user SET search_path TO tenant1_schema;`) or by using our new `Options` connection string parameter ("Options=search_path=tenant1_schema") which would both result in one pool per tenant.

[2020-06-26 13:21] ManickaP opened #38441 "Make use of sync HttpClient API in HttpWebRequest"
https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Requests/src/System/Net/HttpWebRequest.cs#L1022

https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Requests/src/System/Net/HttpWebResponse.cs#L352

cc: @stephentoub

[2020-06-26 13:30] ericstj commented on #38214
I believe this issue belongs in dotnet/wpf.  The request here would be to either move that library down to a lower repository so that it can be shipped in the base shared framework or ship a package.  dotnet/wpf#46

[2020-06-26 13:34] NickCraver commented on #38339
I can see this both ways, in 1) they're almost entirely just _copying_ all this - do we fork it? or 2) Put it in the base and everyone gets it. Though admittedly, it's 1 global timer per copy of the pooling code.

The main problem has been debugging and GC rooting for sure. We have at any given time thousands of root paths because of those linked lists. I am not sure if this impacts GC cleanup tim

[2020-06-26 13:35] iSazonov commented on #31486
I wonder - https://github.com/dotnet/corefx/pull/41354 is not merged (Although a lot of effort has been spent there
!) but the issue is a open :-)

[2020-06-26 13:45] jkotas commented on #38430
@dotnet/jit-contrib Does superpmi work on Linux?

[2020-06-26 13:52] tombogle commented on #38025
Thanks for the work-around. It also worked for me, but I agree that this bug should be fixed.

[2020-06-26 14:00] CarolEidt commented on #38430
Yes, it does. I've used it on both x64 and ARM64 Linux.

[2020-06-26 14:03] eiriktsarpalis commented on #38418
Presumably such an analyzer would only apply to `arrayOrList.Select(_ => _).ToArray()` expressions right? It is not necessarily guaranteed to be faster in the general case and it might also result in subtle breaks when the lambdas are stateful.

[2020-06-26 14:04] juliusfriedman commented on #38344
@danmosemsft , Sorry I have done that. I am in the midst of a few deadlines so I apologize for that as well as my other proposal quality. I will get that this weekend. LMK if you need anything else.

[2020-06-26 14:08] jkotas commented on #38262
`Exception.PrepForRemoting` is internal implementation of .NET Framework. It was never a supported feature.

We have no plans to work on this work .NET 5.

The process for adding new APIs is here: https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md

[2020-06-26 14:17] eiriktsarpalis commented on #34575
The general assumption around `IEnumerable` types is that they can enumerated many times. Wrapping an IEnumerator with an IEnumerable specifically violates that invariant. While it is sometimes necessary to play tricks like that in certain internal implementations, I don't think we should include this in System.Linq, since it might be misused.

I am going to close this issue for now. /cc @adamsitn

[2020-06-26 14:17] #34575 closed

[2020-06-26 14:17] mdh1418 opened #38443 "System.Runtime.Serialization.Formatters.Binary.Converter threw and exception"
When running tests for WebAssembly, some test suites (System.Threading.Channels.Tests and System.Collections and possibly more) encounter this failure from `System.Runtime.Serialization.Formatters.Binary.Converter`.
[code]

[2020-06-26 14:25] layomia opened #38447 "Add linker trimming test for reflection usage in System.Net.CookieExtensions.IsRfc2965Variant"
i.e add a test following this change https://github.com/dotnet/runtime/pull/38216/files#diff-8dd8b975ead2339ec56247c4dcbcfeccL45

[2020-06-26 14:29] jkotas opened #38450 "Struct layout difference with crossgen2"
Compile and run the following with crossgen2:

[code]

Expected result: 20
Actual result  when compiled with crossgen2: 24

[2020-06-26 14:29] #37837 closed

[2020-06-26 14:34] mthalman commented on #3796
Ran into this same error when attempting to build this [Dockerfile](https://github.com/dotnet/dotnet-docker/blob/17c1eec582e84ba9cbea5641cd9cc13fe1a41c39/samples/complexapp/Dockerfile) on a Windows Server Core, version 1903 machine.  So this is a Windows build, not Linux.  This is the first time I've seen the error show up in our CI builds.  It usually runs fine so it's an intermittent issue appar

[2020-06-26 14:36] Youssef1313 commented on #38418
@eiriktsarpalis

I think either `array.Select(_ => _).ToArray()` (which can be converted to `Array.ConvertAll(...)`), or `list.Select(_ => _).ToList()` which can be converted to `list.ConvertAll(...)`.

But it won't degrade performance right? Either same performance or higher?
Would it be easy for the analyzer to determine if the change will break something?

[2020-06-26 14:40] eiriktsarpalis commented on #33443
Looks like a useful addition. I think `MaxOrElse` and `MinOrElse` and `SingleOrElse` should also be added.

@Foxtrek64, could you perhaps update your OP with a complete API proposal? I can then mark this ready for review. You can follow the guidelines documented [here](https://github.com/dotnet/runtime/blob/b2bfe9c6cdeb9d6d658ff7e12da85105687281b6/docs/project/api-review-process.md#steps). Thanks.

[2020-06-26 14:41] jkotas commented on #38450
Reported by @Thealexbarney https://gitter.im/dotnet/corert?at=5ef56ab654d7862dc4ac20a2

[2020-06-26 14:53] tannergooding commented on #38450
Is this with 32-bit? I'd expect 24 is correct for 64-bit.

[2020-06-26 14:53] eiriktsarpalis commented on #469
I am going to close this issue for now.

[2020-06-26 14:53] #469 closed

[2020-06-26 14:57] jkotas commented on #38450
This is on 64-bit.

[2020-06-26 15:00] tannergooding commented on #38450
I'm confused as why `20` is expected then, the natural packing of `long` is 8, which means the struct needs to be padded to a multiple of 8 so it is correctly laid out for an array.

Does undersizing the type impact packing?

[2020-06-26 15:01] eiriktsarpalis commented on #38418
Consider the following snippet:
[code]

Replacing that particular `Select` with `ConvertAll` will result in
1. a second large array allocation,
2. breaking the assertion (`state` will now equal `1_000_000`).

[2020-06-26 15:07] eiriktsarpalis commented on #38418
Here are the benchmark results from my machine:
[code]

|     Method |           Mean |        Error |        StdDev |     Ratio |  RatioSD |    Gen 0 |    Gen 1 |    Gen 2 | Allocated |
|----------- |---------------:|-------------:|--------------:|----------:|---------:|---------:|---------:|---------:|----------:|
|     Select |       106.8 ns |      2.07 ns |       2.55 ns |      1.00 |     0.0

[2020-06-26 15:07] tannergooding commented on #38450
Hmmm, yeah, it looks like here: https://github.com/dotnet/runtime/blob/master/src/coreclr/src/vm/classlayoutinfo.cpp#L194

The `StructLayout` size must be at least the size of the struct, minus any trailing padding. If a size is given at all, it causes the trailing padding to be removed.

[2020-06-26 15:09] jkotas commented on #38450
Right, the `StructLayout.Size` says: I want to size of the struct to be exactly this, ignore everything else.

[2020-06-26 15:13] roji commented on #38339
@brar

Sure, these are certainly possible. But regardless of this timer issue, it means you're creating extreme fragmentation in your pooling - which has a lot of perf consequences. If your security model is strict as to require connecting as different database users, then yeah, there's no alternative - but that's definitely not the case in most web apps where there aren't separate db users. Re do

[2020-06-26 15:25] iSazonov commented on #23383
@jeffschwMSFT Is WindowsRuntimeBufferExtensions removed from the repository?

[2020-06-26 15:37] jeffschwMSFT commented on #23383
In .NET 5 Preview 6 we removed the built in WinRT support.  You can see our blog for details (https://devblogs.microsoft.com/dotnet/announcing-net-5-0-preview-6/).  The WinRT support is now being handled by https://github.com/microsoft/CsWinRT.

cc @AaronRobinsonMSFT @jkoritzinsky

[2020-06-26 16:00] Anipik commented on #26187
We fixed the scenarios(there was a couple of them) where it was not working, but we never did a whole sweep up.

[2020-06-26 16:01] BruceForstall opened #38452 "Test failed: Loader/binding/assemblies/assemblybugs/37910/Ii/Ii.sh"
Fails on Linux x64, starting with:

https://dev.azure.com/dnceng/public/_build/results?buildId=705015&view=ms.vss-test-web.build-test-results-tab

This test was introduced with: https://github.com/dotnet/runtime/pull/38016

@jkotas @vitek-karas @viewizard

[2020-06-26 16:04] iSazonov commented on #23383
@jeffschwMSFT Thanks! I wonder that the issue is still open here.

[2020-06-26 16:04] jeffschwMSFT commented on #38426
Adding @marek-safar for comment on our webassembly support.

[2020-06-26 16:15] #36023 closed

[2020-06-26 16:22] Youssef1313 commented on #38418
@eiriktsarpalis  I don't thinl the analyzer should report any diagnostic in that case for two reasons:

1. `.Select(x => ++state)`: it should only be reported if `.Select(x => some_thing_that_doesnt_change_state)`. (Not sure how hard to determine if it changes the state or not) (*Perhaps* operations the involves only `x`?)

2. The existence of `.Take(5)` call.

So, I believe it should be reported

[2020-06-26 16:27] eiriktsarpalis commented on #38288
For CBOR requirements we'd probably also need to add the following methods to the `BinaryPrimitives` class:
[code]
I feel that we could include these to the existing API proposal. If not I can file a separate issue.

[2020-06-26 16:30] nxrighthere commented on #2044
I would like to see an update for this issue, please?

[2020-06-26 16:36] cleftheris commented on #1761
Yes I see what you mean.
I don't have an answer to this use case. One interesting thing here is that System.Text.Json does not take into account the runtime CLR type of the property value (as was the case with Newtonsoft Json) but instead uses the property type. So you are better of using concrete types there anyway.

PS: If you end up making a subclass of `List<Guid?>` and decorate it with the Ty

[2020-06-26 16:36] viewizard commented on #38452
Error message:
[code]
Wait, I mentioned, that tr_TR.UTF-8 locale must be installed/generated in system.

[2020-06-26 16:36] safern commented on #26187
I think we should do another pass. I remember for stuff that was manual added into the ref src files we added a feature to specify a file with ignored APIs so that should help us get it better for complicated assemblies like System.Runtime.

[2020-06-26 16:38] #4199 closed

[2020-06-26 16:39] BruceForstall commented on #38430
I'll add that SuperPMI runs on any platform supported by .NET Core, and is built and unit tested in Pri-0 (innerloop) CI testing.

SuperPMI collection is designed so you can set a few environment variables and then run *any* set of managed apps. If crossgen2 breaks that model and requires altering crossgen2 command lines to allow collection, that is a problem: SuperPMI shouldn't need to know anyth

[2020-06-26 16:45] BruceForstall commented on #38452
Apparently our CI systems are not configured that way. This test needs to be disabled until they are.

[2020-06-26 16:45] jkotalik opened #38626 "Investigate Templates.Test.MvcTemplateTest.MvcTemplate_NoAuthFSharp malloc failure"
This is more for tracking reasons, but there was a failure on Fedora28 where running this template test hit a malloc_consolidate error. This seems more likely like a runtime issue. More info [here](https://dev.azure.com/dnceng/public/_build/results?buildId=706037&view=ms.vss-test-web.build-test-results-tab&runId=21867228&resultId=121642&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-

[2020-06-26 17:03] tannergooding commented on #38288
Given its a separate class, it would likely be good to have in a separate API proposal.

The CBOR implementation wouldn't be blocked on these APIs being public, correct? That is, it can be implemented as an internal API until API review can happen, correct?

[2020-06-26 17:04] jkoritzinsky commented on #23383
I think we just missed this issue. I think we should move this issue to microsoft/CsWinRT, but I don't have the right tools installed to do that transfer. @jeffschwMSFT can you port this issue to microsoft/CsWinRT?

[2020-06-26 17:05] jaredpar opened #38455 "Runtime tests failing in rolling builds"
## System.Runtime.Tests Work Item

### Console Log Summary

### Builds
|Build|Pull Request | Test Failure Count|
| --- | --- | --- |
|[#705566](https://dev.azure.com/dnceng/public/_build/results?buildId=705566)|Rolling|7|
|[#705778](https://dev.azure.com/dnceng/public/_build/results?buildId=705778)|Rolling|7|
|[#705827](https://dev.azure.com/dnceng/public/_build/results?buildId=705827)|Rolling|7|

[2020-06-26 17:06] jashook commented on #38455
Looks like a jit bug

[code]

/cc @dotnet/jit-contrib

[2020-06-26 17:08] eiriktsarpalis commented on #38288
That's correct

[2020-06-26 17:10] jashook commented on #38455
Will investigate to see if we can disable a single test.

[2020-06-26 17:13] eiriktsarpalis opened #38456 "Consider adding Half support to the BinaryPrimitives class"
## Background and Motivation

This came up while working to add `Half` support to the CBOR components. While not blocking to my work, these methods would be nice to have for the sake of completeness.

## Proposed API

[code]

[2020-06-26 17:19] GrabYourPitchforks commented on #38456
Saw that you also mentioned this in https://github.com/dotnet/runtime/issues/38288. Definitely should do both at the same time. :)

[2020-06-26 17:30] MichalStrehovsky commented on #38430
Could this be clashing because we have two instances of the JIT in the process? Crossgen2 is a managed process so there's a JIT that is compiling crossgen2 itself just-in-time and there's another JIT that crossgen2 is using as a code generator to compile stuff.

[2020-06-26 17:35] BruceForstall commented on #38455
@CarolEidt Based on change history, it looks like your change https://github.com/dotnet/runtime/pull/38360 might have triggered this.

[2020-06-26 17:42] CarolEidt commented on #38455
@jashook - let me know when/if you want me to take this

[2020-06-26 17:42] davidwrighton commented on #38119
Fixed with PR #38310

[2020-06-26 17:42] #38119 closed

[2020-06-26 17:50] josalem commented on #38156
Managed to repro the failure.  I ran the test that is in CI with the timeouts taken out in an infinite loop in 3 separate terminals.  One of the instances _eventually_ hit an infinite pause with identical symptoms to the CI failures.  I managed to take a core dump of the subprocess, but attempting to run `bt all` in `lldb` while I had the process under a debugger caused the target process to crash

[2020-06-26 17:50] ericstj opened #38459 "Building CoreLib project and setting global properties can result in races / multiple builds"
See comments here: https://github.com/dotnet/runtime/pull/38196/files#r445079996

We need to be very careful not to specify global properties which aren't necessary.

TargetFramework should not be passed at all and should be suppressed, assuming it is not passed down as part of the corelib build normally.

Configuration should only be passed if different than the Configuration of the current proje

[2020-06-26 18:04] eerhardt commented on #36154
We should annotate the API with `[RequiresUnreferencedCode]` attributes then, so someone who is trimming their app gets warnings when they call this code.

[2020-06-26 18:16] BruceForstall commented on #38430
Looks like there's some issue initializing the PAL when loading libsuperpmi-shim-simple.so. Did `DllMain()` get called (with `DLL_PROCESS_ATTACH`)?

BTW, @viewizard I don't think we ever test this; do you want to use libsuperpmi-shim-collector.so instead, to do a collection?

[2020-06-26 18:17] BruceForstall commented on #38430
Depending how how the JIT (which in the SuperPMI case is a shim) and the AltJit and SuperPMI variables are handled, perhaps.

[2020-06-26 18:21] terrajobst commented on #33331
* We should rename `TargetPlatformMinVersion`
    - It's a runtime concept, not a targeting concept
* Can we change `Platform` to `OS`?
* `MinimumPlatform` -> `MinimumOSPlatform`
* `PlatformAttribute` should have an internal constructor
* Add `ObsoletedInPlatformAttribute.Message`
* `RuntimeInformation`
    - `IsOSPlatformOrLater` should also take a `string`
    - `IsOSPlatformEarlierThan` should

[2020-06-26 18:37] tmat opened #38462 "Fill in gaps in shared runtime location logic (DOTNET_ROOT)"
**Scenario**:

A test project is testing a product.exe built in the same repo.
The project that builds product.exe targets netcoreapp and uses shared framework.
The test uses `Process` APIs to launch product.exe process.

When the test runs on a machine that has the matching runtime installed globally, the test works without setting any env variables. However, when the same test runs on another ma

[2020-06-26 18:45] troplin commented on #37893
@StephenMolloy The strange thing is that it is as fast as expected when using `DataContractSerializer` together with `XmlReader` and `StringReader` to deserialize from a string.
Since that workaround works well, the issue is not really urgent right now.

[2020-06-26 19:08] Jozkee commented on #30255
What about escaped characters? Should we allow them or should we stick to the JSON Number spec?

For `Dictionary<float/double, >` support (https://github.com/dotnet/runtime/issues/30524), the value might include '+' e.g. `3.40282347E+38` which makes me wonder these questions:
* On serialization, should we serialize the dictionary key as is, given that a number written as a number value is not chan

[2020-06-26 19:25] scostaNextGen opened #38464 "Poor Performance using IHttpClientFactory with SocketsHttpHandler with Machine Name"
I have an application that uses the IHttpClientFactory pattern. When I use a machine name for the host name and a new connection needs to be created, I was experiencing response times at around 4 seconds.

When I would make subsequent calls, after there was already an active connection to the host machine on the given port, my response times were very fast, around 30 ms.

It looked like SocketsHtt

[2020-06-26 19:26] mdh1418 commented on #38443
This falls under #37648

[2020-06-26 19:26] #38443 closed

[2020-06-26 19:32] juliusfriedman commented on #33331
Saw the review on this today and wanted to add my 0.02.

Say I want to support iOS or Android versions specific e.g.:

iOS ==10 && >= 12 (Not iOS 11 for some reason)

Android >=6 && false == Android === 8 && Android >= 10 (Android 6,7, 10 etc, not 8 or 9 for some reason)

I reason for the above that a
`TargetOSPlatformNotSupported` Attribute should also be added to indicate which versions of that

[2020-06-26 19:33] jonpryor opened #38465 "Mono & .NET 5 & The Debugger & Exceptions, oh my!"
Related: https://github.com/xamarin/xamarin-android/pull/4877
Related: https://github.com/xamarin/xamarin-android/pull/4864

Related: https://xamarinhq.slack.com/archives/C03CEGRUW/p1593198033319900
Related: https://files.slack.com/files-pri/T03C6CW9H-F0164ULFMEE/image.png

Xamarin.Android v10.x uses the [mono/mono/2020-02 branch](https://github.com/mono/mono/tree/2020-02/), and uses the [`System.

[2020-06-26 19:42] lambdageek commented on #38465
I'm curious what the debugger situation is like on macos/ios - I recall we convert managed exceptions into objective-C exceptions and back at Managed->Native->Managed transitions - and the unwinding in native frames is handled by objC.  But I don't know what the debugger behavior is like.

It would be good if Android and ios didn't diverge too much here...

[2020-06-26 19:45] eiriktsarpalis opened #38467 "System.Formats.Cbor: Add Reader and Writer methods for System.Half."
## Background and Motivation

The CBOR spec requires support for IEEE 754 half-precision floats. Given that we just added System.Half, we should expose reader and writer methods that handle that particular type.

## Proposed API

[code]

Relevant implementation PR: https://github.com/dotnet/runtime/pull/38946

[2020-06-26 20:00] thaystg commented on #38465
I'm planning to take a look at this next week, to understand how iOS and Android works to understand which would be the best approach to follow on wasm and on Android using .NET 5 mono.
I will do some tests and I can write here everything that I understand. :)

[2020-06-26 20:02] jkotas commented on #38452
It is not reasonable to expect that this will be installed on all systems that we want to run the tests on. I have submitted change #38468 to skip the test when this specific locale is not installed. It is the pattern we are using in number of other places.

[2020-06-26 20:12] jonathanpeppers commented on #38465
There is also another call related to exceptions:

https://github.com/xamarin/xamarin-android/blob/4cae5f5e40896c69b7448cb78cf613cf6327c97c/src/Mono.Android/Android.Runtime/JNIEnv.cs#L251-L262

This allows the [AppDomain.UnhandledException](https://docs.microsoft.com/dotnet/api/system.appdomain.unhandledexception?view=net-5.0) event to work, but `AppDomain.DoUnhandledException` does not exist in .

[2020-06-26 20:17] AraHaan commented on #26187
Sorry if this is offtopic but how did you guys somehow pack the ref projects with the outputs from the runtime ones in the same packages?

[2020-06-26 20:22] SamMonoRT commented on #38117
Add the same comment to the VS feedback ticket, maybe the user has more information / repro steps
https://developercommunity.visualstudio.com/content/problem/1077360/blazor-uncaught-in-promise-runtimeerror-memory-acc.html

[2020-06-26 20:23] danroth27 commented on #38144
Moving this issue to the dotnet/sdk repo per our discussion with @KathleenDollard. In addition to looking at the perf for `dotnet run` the proposal here is to provide some output that the app is in fact launching.

[2020-06-26 20:23] AndyAyersMS commented on #10048
Running the test from #37941, I see some small improvements in the delegate case, so I'll go ahead and put up a PR.

A few odd things about that test, though. Runtimes seem quite volatile-- the only overt diff is in the `Comparison.Comparer` case, but timings for the other cases are seemingly impacted too. Perhaps something to do with hard to predict branches.

[code]

Also I'd inadvertently run t

[2020-06-26 20:26] viewizard commented on #38452
@jkotas  Yeah, I see now. BTW arm32/arm64 don't have any issues with this test, that mean TR locale installed in that systems, is the any chance install this locale at x64? I mean, could CI with Linux x64 be configured for this locale too in future?

[2020-06-26 20:41] jkotas commented on #38452
We have variety of setups for the CI runs. I expect that we are always going to have some setups where this locale is not installed.

[2020-06-26 20:54] juliusfriedman commented on #37014
Please correct me if I am wrong but for the first 50 or so methods there is little change for them to fail unless the address is invalid (and they take a pointer), thus I would highly suggest perhaps a `Span` and or `IntPtr` overload as well as proposed `unsafe` variants here.

[2020-06-26 21:00] swaroop-sridhar commented on #486
Dup of #3828

[2020-06-26 21:00] #486 closed

[2020-06-26 21:03] swaroop-sridhar commented on #2300
Not sure we can do anything about AV deleting extracted files.
.net 5 provides a solution to create single-file apps without extraction -- in some cases, this solution may generate "a few files" instead of a single file.
In .net 6, we should improve the current support for single files, and reduce "few files" to a "single file".

[2020-06-26 21:03] #2300 closed

[2020-06-26 21:06] swaroop-sridhar commented on #38405
We should clearly document these APIs in ms-docs in .net 5.
Linker analysis is targetted for .net6.

[2020-06-26 21:06] safern commented on #38434
This is happening in .NET Framework, @Ravenheart does this reproduce in .NET Core 5.0 Preview 5?

[2020-06-26 21:07] tannergooding commented on #37014
Such APIs are out of scope for .NET 5 and would require a separate API proposal.

However, none of the other intrinsics have such overloads and they would likely not be as performant or have as clear semantics and so I would not be in favor of taking them through API review.

[2020-06-26 21:09] elinor-fung commented on #36477
Closing this issue, since it is essentially porting CA1414, which is already tracked through dotnet/roslyn-analyzers#430.

[2020-06-26 21:09] #36477 closed

[2020-06-26 21:34] jkotas commented on #38430
The SIGENV crash that you are seeing may be caused by a regression that was fixed by https://github.com/dotnet/runtime/pull/38254 . Do you see this SEGENV after this fix?

[2020-06-26 21:56] halter73 commented on #35088
So am I. It sounds like the max usable stream ID is a mechanism for the server to throttle the rate of new, possibly short-lived, requests in addition to being a mechanism to limit concurrency.

For this reason, we should probably treat running up against the HTTP/3's max usable stream ID differently than running up against HTTP/2's MAX_CONCURRENT_STREAMS setting. Maybe HTTP/3 could still use the

[2020-06-26 22:05] stefanloerwald opened #38475 "Compatibility of System.Drawing.Common with Blazor wasm"
Calling e.g. `new Bitmap(width: 100, height: 100);` results in a `PlatformNotSupportedException`, as the library `System.Drawing.Common` depends on a native library gdi+. This makes code that works fine on server-side blazor unusable on client-side blazor.

The use case is the generation of an image that is then displayed in the DOM as an `<img>` with a data URL.

Is there any plan to move System.

[2020-06-26 22:05] pranavkm commented on #38475
/cc @lewing.

[2020-06-26 22:06] ericstj commented on #26187
We use a custom packaging system that generates then packs a nuspec.

You can still do it with CSProj. See https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#targetsfortfmspecificcontentinpackage

[2020-06-26 22:07] pranavkm commented on #38476
/cc @lewing. Having the portability analyzer would help here.

[2020-06-26 22:22] jkotas opened #38477 "Compute precise generic context after de-virtualization"
Compile with optimizations on:
[code]

Expected result (disassembly of Main method):
[code]

Actual result:
[code]

category:cq
theme:devirtualization
skill-level:expert
cost:medium

[2020-06-26 22:23] echesakovMSFT commented on #38137
@TamarChristinaArm I meant to reply earlier on your message, but forgot. Thanks for your feedback! I will place the intrinsics under AdvSimd and alter the comment showing how to implement this on A32.

[2020-06-26 22:24] noahfalk opened #38478 "EventSource fails to create manifests when a property is added to the type"
Repro:

1. Write the following code in a .Net Core 3 console app:
[code]
2. Run the app
Expected behavior: Every second "HelloWorld" should be written to the console
Actual behavior: "EventSourceMessage" is written to the console once

### Workaround

If you apply the [NonEvent] attribute to the getter and setter of the TraceMacroExpansion property like this:
[code]
then the code will run as expec

[2020-06-26 22:25] jkotas commented on #38477
Context https://github.com/dotnet/runtime/pull/38229#discussion_r446333784

[2020-06-26 22:45] Simonl9l commented on #31633
Curious minds...is System.Test.Json suppose to be a plugin replacement to Json.Net ? cause if so this is going the wrong direction - probably for a very broad development community that does to to re-write all their code.

[2020-06-26 22:50] lambdageek commented on #38209
The new metadata callconv bit is https://github.com/dotnet/runtime/pull/38357

[2020-06-26 22:53] Foxtrek64 commented on #33443
As noted in my original post, `Max()`, `Min()`, and `Single()` all throw rather than returning `default`, so I had considered them to be outside of the scope of this suggestion. They do not suffer the same issue when working with a struct enumerable and most developers learn pretty quickly to surround these in a try/catch or only use them in situations where they already know the collection isn't

[2020-06-26 22:58] lambdageek opened #38480 "Mono: correctly handle new 0x09 ("unmanaged") calling convention in metadata"
In https://github.com/dotnet/runtime/pull/38357, a new calling convetion value is added to function signatures.  Mono should not crash when we see this value in assemblies.

The runtime should basically treat it the same as cdecl on non-Windows platforms (and on Windows for .net 5, too).

In the future, a `modopt` on the return type of the signature will encode details of the calling convention ht

[2020-06-26 22:59] lambdageek commented on #38209
A related issue is to correctly parse the new "Unmanaged" (0x09) metadata calling convention.  That's subject of https://github.com/dotnet/runtime/issues/38480

[2020-06-26 23:07] safern commented on #38475
cc: @marek-safar

[2020-06-27 00:22] AndyAyersMS commented on #37470
Ah, think I've perhaps finally figured this out.

Arm defines `FEATURE_64BIT_ALIGNMENT` and so the class sizes on arm don't match those on x86.

Before the changes in #37274 we were checking for arch=x86 when doing test version selection, and so on arm we were running the "64 bit" flavors of these tests. Now we're running the 32 bit flavors and they're failing.

That also explains why some other b

[2020-06-27 00:24] peiliu commented on #38415
I've ran the test on Windows 10 with netcore 3.1, but it doesn't show memleak.   I suspect that the implementation in Gdiplus library is different between linux and windows.  Specifically, the function GdipGetFontCollectionFamilyList(), in Linux, it allocates memory for each font family.  I don't have the source code for the windows GdiPlus.dll, so I don't know exactly what it does.

[2020-06-27 00:33] GrabYourPitchforks commented on #27429
I am working on some public-facing guidance on this for serializer writers. But in a nutshell, there are three things that make `BinaryFormatter` dangerous, and other serializers (like `NetDataContractSerializer`, not to be confused with `DataContractSerializer`) which follow these principles are likewise vulnerable.

In these examples I'll talk about `BinaryFormatter` specifically. But it's more

[2020-06-27 00:41] scalablecory commented on #38464
In .NET 5 you will be able to plug in a custom resolver/connector that does this via https://github.com/dotnet/runtime/issues/1793.

In .NET 6 we plan to implement a new algorithm to make scenarios like this connect significantly faster via https://github.com/dotnet/runtime/issues/26177.

[2020-06-27 00:45] jeffschwMSFT commented on #23383
@jkoritzinsky I think the best option would be to copy this content into a new issue and close this one.

[2020-06-27 00:56] BruceForstall commented on #37470
So it looks like "x86" was right all along, and it wasn't a 32-bit/64-bit question.

@jashook @trylek @sdmaclea Is there an existing mechanism for determining a test run time whether a test should be run or not, based on architecture (or other criteria) (in the metadata; without adding that logic to the test)?

[2020-06-27 00:58] AndyAyersMS commented on #37470
Seems a little odd that arm32 has the same class sizes as x64/arm64. Perhaps that was intentional, or perhaps a happy accident.

[2020-06-27 01:04] AaronRobinsonMSFT commented on #23383
Moved to CsWinRT: https://github.com/microsoft/CsWinRT/issues/334

[2020-06-27 01:04] #23383 closed

[2020-06-27 01:06] geoffkizer commented on #35088
I'm not sure I understand your concerns re HTTP3 and low latency connections.

My assumption here is that servers will effectively use HTTP3 the same way they do HTTP2; which is to say, (a) set a stream limit like 100 or whatever; (b) every time a stream is closed, explicitly increase the stream id by 1. This results in essentially the same behavior as HTTP2, it's just that the stream limit increa

[2020-06-27 01:25] juliusfriedman commented on #38340
@danmosemsft, I think I am about done for now, please let me know if you need anything else.

[2020-06-27 01:25] #1529 closed

[2020-06-27 01:35] BruceForstall commented on #37470
That's only because there are no pointers involved.

Actually, I'm thinking maybe these tests are valuable specifically for ARM, because ARM is the only platform that defines `FEATURE_64BIT_ALIGNMENT` and has that particular alignment requirements, so protecting against regression there makes sense.

[2020-06-27 02:16] #32663 closed

[2020-06-27 02:18] #38452 closed

[2020-06-27 02:40] handlespeed commented on #38383
@safern @ericstj Thanks for quick help.
I tried way as you suggested and found same result: test cannot use updated lib 'automatically', even use dotnet build command:
1. remove previous Microsoft.Extensions.Configuration.Binder.dll from artifacts\bin\testhost\net5.0-Windows_NT-Debug-x64\shared\Microsoft.NETCore.App\5.0.0.
2. run dotnet build --no-incremental src\libraries\Microsoft.Extensions.Con

[2020-06-27 03:13] erozenfeld opened #38482 "Test failure: readytorun\crossgen2\crossgen2smoke\crossgen2smoke.cmd"
https://dev.azure.com/dnceng/public/_build/results?buildId=705744&view=ms.vss-test-web.build-test-results-tab&runId=21861154&resultId=109360&paneView=debug

The above link is for a failure in a manually scheduled run of gcstress0x3-gcstress0xc pipeline for a PR but I was able to get a local repro on master @ f1bf0defd31da8f60dc33a63071a8e00b036e300

The failure is non-deterministic, it took me 7 t

[2020-06-27 03:25] halter73 commented on #35088
Thinking about this more, I agree it is pretty similar. An HTTP/2 client is usually affected by latency waiting for a frame with an END_STREAM flag in much the same way an HTTP/3 client is affected by latency waiting for the QUIC max usable stream id to be explicitly incremented.

The big difference is that when an HTTP/2 client sends a RST_STREAM frame, it is allowed to immediately consider that

[2020-06-27 04:25] BruceForstall commented on #37470
Note that these tests were previously disabled for arm32 in `issues.targets` with the note "needs triage". After #37274, the issues.targets references were renamed for the new test names, however, the directories were written with incorrect casing. So presumably case-insensitive Windows has them disabled but case-sensitive Linux does not. Then #38186 disabled them for all platforms by adding anoth

[2020-06-27 05:25] scalablecory commented on #35088
Yea, I guess so long as they send the final stream frame with a new max stream frame, it'll be okay. Okay, I'm not too worried about high-latency connections anymore.

[2020-06-27 05:29] wli3 commented on #33331
@danmosemsft we passed the API review with some edit. What is the timeline for getting it checked in?

[2020-06-27 05:43] vexx32 commented on #927
Do we have any idea when this will get sorted?

[2020-06-27 05:50] iSazonov commented on #927
It is very amazing that the API is broken on Unix-s for years. If no plans exist to fix the API in 5.0/6.0 please indicates this and we will use an alternative library in PowerShell that is highly undesirable and will lead to inevitable breaking changes in the future.

[2020-06-27 06:03] buzzers commented on #38262
So now we can only consider using `ExceptionDispatchInfo` to try to solve the problem.
So here's a question: After the exception of the CLR is serialized-deserialized, does stacktrace continue to retain the pre-serialization value or will it be reset empty? Because I found the exception before it wasn't throw, stacktrace was empty.Is the "before throw" here included after de-serialization?