[2022-08-10 06:08] dotfurther commented on #73656
Thanks. When I first read your original comment I read it as a PE limit (no sleep) but our merged PE is only 50MB.  The temporary IL file that Dotfuscator creates before running ILASM on it to create the final PE for this merged assembly is greater than 300 MB.  So the 256 MB metadata limit you are talking about is in the IL metadata section, correct?

My work-around will be breaking the master me

[2022-08-10 06:19] jkotas commented on #73656
This limit is very fundamental to the current metadata encoding. Lifting it would mean introducing new incompatible metadata encoding, introducing a number of new managed APIs that work with this encoding, changing the runtime and compilers to read and write files in this encoding, etc.

[2022-08-10 06:30] MichalStrehovsky commented on #73299
Looks like intermitted crash in DynamicGenerics is only a tip of the iceberg. I did a libraries test pass on mac in #73546 and it's a crashfest.

Moving this to 8.0. Mac is not supported.

[2022-08-10 06:42] radekm commented on #61231
I'm trying NativeAOT with newly released preview 7 but it fails with *error NETSDK1183: Unable to optimize assemblies for Ahead of time compilation: a valid runtime package was not found. Either set the PublishAot property to false, or use a supported runtime identifier when publishing. When targeting .NET 7 or higher, make sure to restore packages with the PublishAot property set to true.*

I hav

[2022-08-10 06:42] jakobbotsch commented on #73667
Dup of #73559

[2022-08-10 06:42] #73667 closed

[2022-08-10 06:46] MichalStrehovsky commented on #61231
Remove the PackageReference - doing PublishAot + a package reference to ILCompiler is broken in Preview 7 - PublishAot is enough. Try deleting your bin and obj directories after, in case some bad state was pulled in.

We build Mac x64 but it's not officially supported. I don't know if we did the work to explicitly block it. x64 Mac with NativeAot has problems.

[2022-08-10 06:46] radical commented on #73668
Also being hit on `runtime` pipeline - https://dev.azure.com/dnceng/public/_build/results?buildId=1933642&view=logs&jobId=bb94f37e-a09b-5b51-09b2-ab78e7aa5103&j=bb94f37e-a09b-5b51-09b2-ab78e7aa5103&t=506cadc9-3cc4-5d96-6847-011f75a33382 .

[2022-08-10 06:52] sec commented on #14537
@Thefrank @arrowd  I hit the same while building newest preview, it's caused by wrong detection of CPU_COUNT, simple fix for that:
[code]

I was about to fill PR for that with doing Linux tests first, but got caught by work and didn't have time yet. Going one step further, newest asp.net core preview fails with
[code]
without any other errors - maybe you also got to this point?

[2022-08-10 07:22] pavelsavara commented on #68509
The way how to resolve the asset is now merged
[code]

You will also need to add it to the mono-config.json via `src\tasks\WasmAppBuilder\WasmAppBuilder.cs`
[code]

[2022-08-10 07:24] pavelsavara commented on #68509
This is what SDK needs to do https://github.com/dotnet/sdk/pull/26966/files

[2022-08-10 07:35] teo-tsirpanis commented on #73674
This can happen if `BeginGetContext` completes synchronously, which you can check using `IAsyncResult.CompletedSynchronously`.

Have you thought using `await hl.GetContextAsync()` in a loop instead? This is not susceptible to stack overflows and will make your code simpler.

[2022-08-10 07:36] Luk164 commented on #39953
Jusy hit the issue as well, wanted to serialize a dataset and it was just over the hard limit.

[2022-08-10 07:46] radekm commented on #61231
Thanks for the answer. Unfortunately still getting the same error.

It seems it is coming from https://github.com/dotnet/sdk/blob/main/src/Tasks/Microsoft.NET.Build.Tasks/ProcessFrameworkReferences.cs#L364 because `AddAotOrR2RRuntimePackage` returns false.
And it returns false because `knownPack` is null

[code]

And it is null because MS Build task is run with `ILCompilerRuntimeIdentifiers` which

[2022-08-10 07:53] MichalStrehovsky opened #73678 "Improve experience when using PublishAot with unsupported RID"
https://github.com/dotnet/runtime/issues/61231#issuecomment-1210291307

E.g. win-x86, win-arm, linux-arm, osx-x64, all work with .NET, but we current don't support them in NativeAOT. We should make it more obvious that that's the problem.

Also, we should add linux-musl-arm64 to the list of supported RIDs.

Cc @LakshanF

[2022-08-10 07:55] MichalStrehovsky commented on #61231
Hm, can you try removing PublishAot and referencing the package directly? That bypasses all the KnownILCompilerPacks logic.

Even if we block Mac with the official steps, the unofficial steps (reference ILCompiler package) should work.

[2022-08-10 08:04] jkotas opened #73679 "`slot_table[slot_index] == nullptr` - dynamic atexit destructor for 'WKS::gc_heap::mark_queue"
Hit in #73670. Full log https://dev.azure.com/dnceng/public/_build/results?buildId=1933526&view=ms.vss-test-web.build-test-results-tab&runId=49928682&resultId=101398&paneView=debug :

[code]

[2022-08-10 08:07] jkotas commented on #73679
This is regression introduced by https://github.com/dotnet/runtime/pull/73375

Global static destructors can run while the other threads in the program are stopped at arbitrary place. It means that you cannot really do much interesting in them.

cc @PeterSolMS @Maoni0

[2022-08-10 08:23] jakobbotsch opened #73681 "Unnecessary(?) runtime lookups for constrained interface calls"
The behavior change in #73606 is due to a JIT bug no longer triggering, which was bisected to be a side effect of #66887.

@markples tracked down that we are in fact seeing new runtime lookups due to this change. We are not quite sure whether these are necessary or not. Simple example:
[code]

Codegen before #66887:
[code]

Codegen on current main:
[code]

Aside from the perf regression, fixing th

[2022-08-10 08:23] rzikm commented on #73144
So far, we did not really try to detect it 😅, I put up https://github.com/dotnet/runtime/pull/73680 to address that.

I really think that Kestrel should check the `QuicError` property on the exception and tear down the connection with `H3_CLOSED_CRITICAL_STREAM` only if the error is `StreamAborted`

[2022-08-10 08:25] #55146 closed

[2022-08-10 08:27] radekm commented on #61231
Thanks, removing `PublishAot` and referencing `Microsoft.DotNet.ILCompiler` worked

[2022-08-10 08:38] N0D4N opened #73682 "Repoint URL's to docs from corefx to runtime repo"
Some comments, on classes primarily related to EventSource/DiagnosticSource, have urls in them that point to docs located in archived corefx repo, perhaps they should be repointed to docs that are at runtime repo? Or is it intended to have docs point to corefx repo?

An alternative would be to extract such docs to separate docs pages at dotnet/docs repo for example rather than having them at coref

[2022-08-10 08:41] amoerie commented on #70733
It looks like this is a use case that I was not aware of, and that was not present in the unit tests. (Because I distinctly remember not removing any in my pull request)

I think I agree with @eerhardt that this is by design, albeit accidentally. The fact that this worked under .NET 5 also seemed accidental, since it was not covered by any test.

My 2 cents on this issue: I would investigate the e

[2022-08-10 08:43] IainStevenson commented on #73232
To make life simpler I created a [clean isolated version here ](https://github.com/IainStevenson/pingfixtest)

[2022-08-10 08:46] MichalStrehovsky commented on #72570
Looked at this briefly.

The first thing we need to do is set the `<DebuggerSupport>false</DebuggerSupport>` feature switch, or this brings over a bunch of debugging type proxies (that are private, and therefore ignored with reflection blocking).

Once that's addressed, I see a 1.5% size regression for a small app. It's not too bad, but we can do better. A lot of it seems to be native layout relat

[2022-08-10 08:48] 3HMonkey commented on #73617
Here are all the frames of the stacktrace

dotnet.js:3 Error: [MONO] * Assertion at /__w/1/s/src/mono/mono/metadata/loader.c:1817, condition `<disabled>' not met

    at mono_wasm_stringify_as_error_with_stack (dotnet.js:3:23817)
    at Object.mono_wasm_trace_logger (dotnet.js:3:24188)
    at _mono_wasm_trace_logger (dotnet.js:11593:67)
    at wasm_trace_logger (dotnet.wasm:0x3418a5)
    at eglib_

[2022-08-10 08:49] pavelsavara commented on #70891
@lambdageek I moved this to 8, please let me know if you think we need it in net7

[2022-08-10 08:54] kg commented on #61008
I believe we have comprehensively audited and revised things on our end at this point, the only remaining task is to ensure that downstream users like Blazor, Uno, etc have migrated.

[2022-08-10 09:10] adamsitnik commented on #73669
Hi @virzak

Thank you for a very detailed bug report.

I was able to reproduce the issue locally for .NET 5, 6 and 7.

<details>

[code]

[code]

</details>

 `GetFileType` returns `FILE_TYPE_DISK` for `//?/PhysicalDrive0` so we assume that seeking is possible and later fail when trying to obtain length using `GetFileInformationByHandleEx` sys-call.

[2022-08-10 09:23] DubbleClick commented on #36765
Wouldn't it be enough to simply fix the redirect on the website? It clearly already knows what version has to be downloaded, opens a link to it in the browser, but the website redirects to a page with *all* available .net downloads instead of just the one needed.

[2022-08-10 09:23] adamsitnik commented on #73669
Since we are very close to the .NET 7 release and it's not a regression from last release, I am going to move it to 8.0 milestone and make it up-for-grabs.

The contributor who is willing to work on this issue should:

- [ ] add new unit test to the existing [Length unit tests](https://github.com/dotnet/runtime/blob/main/src/libraries/System.IO.FileSystem/tests/RandomAccess/GetLength.cs)
- [ ] the

[2022-08-10 09:31] AhmedZero commented on #73590
Ohhh, I found the problem. Thanks

[2022-08-10 09:31] #73590 closed

[2022-08-10 09:31] jakobbotsch commented on #72364
Have had no luck reproing this and don't see any more occurrences with this same error. Also seems unlikely to be JIT related since it is nopgo (I did not notice that when I changed labels). I'll close it and we can see if it happens again.

[2022-08-10 09:31] #72364 closed

[2022-08-10 09:35] akoeplinger commented on #60347
Confirmed it is fixed in Android x86

[2022-08-10 09:41] #73229 closed

[2022-08-10 09:45] #73642 closed

[2022-08-10 09:50] markples commented on #73681
As an experiment, I tried undoing the `exactContextNeedsRuntimeLookup` logic in 1313fda.

[code]

This restored the constrained.callvirt behavior.  I expected it to break Loader\classloader\StaticVirtualMethods\DiamondShape\svm_diamondshape_r.ilproj since that test was added in 1313fda, but it apparently did not.  I'd need to understand this better.  (note - if this is the correct change, there's

[2022-08-10 09:59] karelz commented on #73539
The **JIT.Directed** failures are consistent in EVERY Rolling run starting with 8/2 PM [1918913](https://runfo.azurewebsites.net/view/build/?number=1918913) -- the error is somewhat different, is it perhaps different problem?

[2022-08-10 10:01] alhad-deshpande commented on #71080
@directhex
The PR [73616](https://github.com/dotnet/runtime/pull/73616) raised for memory patch thunking fixes crashes observed in System.Text.RegularExpressions.Tests due to code being patched non-atomically.

The assertion mentioned above in this issue "Assertion at /home/directhex/Projects/runtime/src/mono/mono/mini/mini-ppc.c:5080, condition `ppc_is_imm16 (inst->inst_offset)' not met" is obser

[2022-08-10 10:03] karelz commented on #73232
Triage: Given that this is not a regression in 7.0, moving to 8.0.

[2022-08-10 10:20] karelz commented on #73247
@noahfalk can you please confirm that you believe / verified that PR #73032 by @jkoritzinsky caused this regression and made tests fail?
You reverted that in PR #73551 and re-enabled the test tracked in this issue in PR #73595.

Did the PR cause other problems in the related issues on arm32? (aka is it the GC Hole @jkotas asked you to track down?)

[2022-08-10 10:29] rzikm commented on #73610
@JoakimJohesan Would you be able to trim the setup to some small(-ish) reproducible example which you could share with us? Without a repro, it is very hard to investigate this.

The issue at https://github.com/dotnet/runtime/issues/64492 was persistent (i.e. SslStream was useless until the process was restarted and the initialization ran successfully), you seem to be having problems only on some r

[2022-08-10 10:49] tfenise commented on #73639
Maybe the documentation is to be improved. From https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/string-interpolation and https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/tokens/interpolated, I can only see to use `FormattableString.Invariant` for `InvariantCulture`. The webpages do not mention anything about `string.Create(CultureInfo.InvariantCulture, $"...");`.

[2022-08-10 11:00] krwq commented on #71862
I had to refer spec on this one since current implementation doesn't make it in any way easy.

Per https://www.w3.org/TR/2006/REC-xml11-20060816/#sec-pi

- target cannot be null - current implementation will throw when it encounters null target: I'm changing the behavior to throw and making it explicitly non-nullable
- data - per spec this is optional although for current implementation there is n

[2022-08-10 11:22] iSazonov commented on #73458
Is it possible to modify an tar entry so that it be considered as "deleted" (skipped at read)?

[2022-08-10 12:04] kgorro commented on #72432
@davmason this is fix on our side, we brute force the compilation by adding all arm64 related compiler setting. This suppose to be close but we are seeing:
Profiling API: Profiler was prevented from loading notification 0x2509 (_Actually this does not affect the functionality of the profiler._) We are receiving callbacks with module load and jit callbacks but we just want to make sure why is this

[2022-08-10 12:13] NinoFloris commented on #38269
Another actionable thing would be to have 'public' messages on JsonException (probably as a new property). Today it mentions 'change the reader options' (trailing comma error), full type names and other such internal concerns. It's hardly feasible to have to manually match *every* json exception message and build a nice one from constituent parts again.

Old asp.net mvc model binding was also noto

[2022-08-10 12:15] CarnaViire opened #73688 "[QUIC] Abort on cancellation throws QUIC_STATUS_INVALID_PARAMETER"
Happens also in CI - see [last 30 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E30+definition%3Aruntime+name%3A%22system.net.quic.functional.tests+work+item%22) - status on 8/25:

Day | Run | Details
-- | -- | --
8/24 | PR [1965733](https://runfo.azurewebsites.net/view/build/?number=1965733) (main) | net7.0-Linux-Debug-x64-CoreCLR_release-Ubuntu.1804.Amd64.Open
8/24 | PR [1965

[2022-08-10 12:23] TomaszWegrzyn commented on #73074
This is kind of a sidenote, but I would prefer to find this information in docs instead random comment on github
Wish my team had known this earlier, before we started using it.

[2022-08-10 12:46] noahfalk commented on #73247
Yes, [there was a large increase in failure rate](https://github.com/dotnet/runtime/issues/73247#issuecomment-1207212156) shortly after 73032 was checked in and from the looks of it there have been no failures in the last 18 hours where the test was re-enabled but 73032 isn't present. 73032 also failed the GetGCMemoryInfo test in the initial PR when it was merged and passed in the change that reve

[2022-08-10 12:58] HSchwichtenberg opened #73690 "Bug in the .NET Blog https://devblogs.microsoft.com/dotnet/"
Repo:
1. Go to https://devblogs.microsoft.com/dotnet/
It will display the blog entries of August 2022 --> Image 1
2. Click "2" or ">"
It will display the blog entries of June 2022 --> Image 2
All blog entries of July 2022 are missing in that list, although there are 11 of them: https://devblogs.microsoft.com/dotnet/2022/07/

Testet with current versions of Edge, Chrome and Firefox

Image 1:
![imag

[2022-08-10 13:00] CarnaViire opened #73691 "[QUIC] Consider implementing send buffering on .NET side"
We currently utilize send buffering on msquic side. Msquic will copy app buffer and return as soon as copy is done.

We had to (temporarily) introduce an additional copy in #72746 to overcome a too-early-user-buffer-release problem on abort. If we will not be able to solve this problem in a different way, it doesn't make sense to have 2x copying, so we should consider switching to app-level buffer

[2022-08-10 13:02] CarnaViire commented on #72739
I didn't find one so I've filed https://github.com/dotnet/runtime/issues/73691

[2022-08-10 13:05] danmoseley commented on #73682
Thanks for pointing this out. Would you be interested in offering a PR to point them to runtime repo?

[2022-08-10 13:13] virzak commented on #73669
Thanks @adamsitnik,

Retrieving Length has a workaround, so this isn't as crucial.
The real issue is reading from the end, which I don't currently have a solution for. Any advice?

Also, if I send a PR in the next little while could it be merged into .Net 7 still? The client wouldn't like to wait until Nov 2023 for .Net 8.

[2022-08-10 13:24] tmds commented on #64969
I can't reproduce the issue on .NET 6.0.107.

@szmcdull can you still reproduce this issue using .NET 6.0? If so, can you share your code + steps?

[2022-08-10 13:28] karelz opened #73692 "Assert: slot_table[slot_index] == nullptr"
Affected tests:
- JIT\\Regression\\JitBlue\\GitHub_27924\\GitHub_27924\\**GitHub_27924.cmd**
- GC/Scenarios/FinalizeTimeout/FinalizeTimeout/**FinalizeTimeout.sh**

Recent regression (started on 8/9):
- 8/11 status:
    - **GitHub_27924.cmd** - 5x failures in [last 120 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E120+definition%3Aruntime+name%3A%22jit%5C%5Cregression%5C%5Cjitb

[2022-08-10 13:31] karelz commented on #73692
Affects CI (more than 1x failure per day), we should disable the tests ASAP.

[2022-08-10 13:34] lambdageek commented on #68509
yep, I have it basically working. PR soon

[2022-08-10 13:36] N0D4N commented on #73682
Yeah, sure. I assume I should just change XMLdocs or are there other places that require changes too?

[2022-08-10 13:43] trylek commented on #73681
Thanks Jakob and Mark for investigating this. Rereading the code it seems to me that the problem is caused by the fact that the runtime lookup should only kick in for static virtual methods that failed to resolve at JIT time (<code>fIsStaticVirtualMethods &amp;&amp; !fResolvedConstraint</code>) so that it doesn't affect pre-existing code paths. I'm not yet fully clear on why reverting the logic al

[2022-08-10 13:49] am11 commented on #73668
Failing in `coreclr Pri0 Runtime Tests Run OSX x64 checked`as well: https://helix.dot.net/api/2019-06-17/jobs/a05e6ce5-b747-414f-8b8a-26863ad568f7/workitems/PayloadGroup0/console

PR #73686

[2022-08-10 13:51] jakobbotsch commented on #73692
Dup of #73679 and #73668?

[2022-08-10 14:05] RyanGaudion opened #73693 "Polymorphic Serialization - Doesn't allow typeDiscriminator to be anything but first"
### Description

I have this endpoint:
[code]
and my BaseClass is annotated as follows:
[code]

When sending a json body where `resourceType` is anything but the first property, I get the following error:
[code]

### Reproduction Steps

Sending this as a POST request throws the error:
[code]

however this doesn't:
[code]
{
        "resourceType": "DerivedClass1",
	"prop1": 1,
	"prop2": "test",
}
[

[2022-08-10 14:07] RyanGaudion commented on #73693
FYI - Using .Net 7 Preview 7

[2022-08-10 14:08] simonrozsival commented on #73536
The tests were disabled in #73374

[2022-08-10 14:11] Tornhoof commented on #73693
See https://github.com/dotnet/runtime/issues/72604

[2022-08-10 14:23] DebugST commented on #73674
I found the code in this link:
[https://github.com/dotnet/runtime/blob/eeeeb7a75c338b0d994ccd7140d676a612990ebc/src/libraries/System.Net.HttpListener/src/System/Net/HttpListener.cs#L259](https://github.com/dotnet/runtime/blob/eeeeb7a75c338b0d994ccd7140d676a612990ebc/src/libraries/System.Net.HttpListener/src/System/Net/HttpListener.cs#L259)

[code]
so the `BeginGetContext` the same as `GetContextAs

[2022-08-10 14:26] Aloento opened #73694 "[WASM] Workload installation failed"
### Description

Run Github Action to build up the Blazor App. But Workload installation failed.

### Reproduction Steps

[code]

### Expected behavior

Process completed with exit code 0

### Actual behavior

[code]

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

_No response_

### Other information

_No response_

[2022-08-10 14:36] eerhardt commented on #73635
@MiyamuraMiyako - can you provide a stack trace of the crash? If it is the same as https://github.com/dotnet/runtime/issues/65696, then I believe that was fixed with https://github.com/dotnet/runtime/issues/70007. That commit didn't make 7.0-preview7, but it will be in rc1. If you'd like to try a nightly rc1 build to verify it fixes the issue, that would be great.

[2022-08-10 14:38] TheSpydog opened #73695 "[NativeAOT] Randomizing guard stack cookie not supported on some Unix platforms"
The Unix NativeAOT startup code includes a step where it [randomizes the guard stack cookie](https://github.com/dotnet/runtime/blob/main/src/coreclr/nativeaot/Runtime/startup.cpp#L146) that's baked into the binary's .rodata section. On multiple Unix-based game console platforms, this results in a runtime error because the .rodata section can never have its memory access permissions set to anything

[2022-08-10 14:39] akoeplinger commented on #73539
@simonrozsival will look at the `JIT.Directed` failure as I agree it looks unrelated to the TCP tunnel problem.

[2022-08-10 14:46] jakobbotsch commented on #73681
Feel free to send the fix.

[2022-08-10 14:47] danmoseley commented on #73682
I assumed you could just Grep the repo for coreclr/corefx links? And fix some or all as you prefer. I don't think there is any reason for such links. All code and issues were migrated here.

[2022-08-10 14:52] danmoseley commented on #73669
For .NET 7, this shows the schedule: https://github.com/dotnet/runtime/issues/72297

Speaking generally, if a PR is available and signed off in time, whether it was merged into .NET 7 would depend on the risk level - as there is not much time to discover a problem before we ship. If a change is made in .NET 8, a backport into servicing release may be possible, but we look for major impact and no r

[2022-08-10 14:53] tannergooding commented on #73074
Noting there is a difference between something being deprecated/obsolete and something which isn't going to see new features added in the future.

`Convert` is and always has been only usable with a small subset of types overall, even when looking at the "built-in" types for .NET. Due to the way it was originally designed and how long its been around, there are issues adding support for new types

[2022-08-10 14:54] danmoseley commented on #73690
@JeremyLikness @JonDouglas

[2022-08-10 14:56] danmoseley commented on #38269
@blowdart  the issue of policy around sensitive info in exception messages again.

[2022-08-10 15:05] eerhardt commented on #70733
Thinking about it more:

[code]

Is kind of odd before #44608. You need to ensure you use different attribute values in the `Level2` elements. If both elements had the same attribute, you'd get an exception:

[code]

You can update your XML to collapse the 2 attributes into the same element, and get the original behavior:

[code]

@tarekgh @maryamariyan - do you think this deserves a breaking chan

[2022-08-10 15:06] teo-tsirpanis commented on #73674
No, `GetContextAsync` does call `BeginGetContext` but in a safe way that does not cause stack overflows.

And in any case using it together with the `await` keyword would _greatly_ simplify your code.

[2022-08-10 15:24] lambdageek commented on #68397
This is going to be addressed, somewhat, in https://github.com/dotnet/runtime/pull/73697 by adding an argument to the `WasmAppBuilder` MSBuild task that specifies the initial pthread worker pool size.

[2022-08-10 15:37] #62736 closed

[2022-08-10 15:37] #71727 closed

[2022-08-10 15:46] BrennanConroy commented on #72301
Reopening as the issue does not seem fixed, see https://github.com/dotnet/runtime/pull/73222#discussion_r941840012

[2022-08-10 15:48] jeffschwMSFT commented on #73536
With the test being disabled, I am removing the blocking-clean-ci label, thanks

[2022-08-10 15:54] radical commented on #73666
The change was reverted, and we no longer have the crash. Closing this.

[2022-08-10 15:59] thaystg commented on #56022
I think this is the expected behavior, if you want to debug from chrome you need to start the app without debugging.
![image](https://user-images.githubusercontent.com/4503299/183956654-6684600b-a3dd-4253-857b-18d8a00e38ee.png)
And then press ALT+SHIFT+D to begin a debugging session.

[2022-08-10 15:59] eerhardt commented on #72590
This seems to be a common theme with Hosting.WindowsServices. Which app model is "in charge"? I wrote about this in https://github.com/dotnet/runtime/issues/63284#issuecomment-1005149933 w.r.t. exiting the app. There it was basically decided that the Extensions.Hosting app model "sits on top of" ServiceBase, and Extensions.Hosting is the owner/controller of the process.

Add a wait both ways in On

[2022-08-10 16:01] radical opened #73698 "NativeAOT test ` ThreadLocalStatics.TLSTesting.ThreadLocalStatics_Test` failing on OSX/x64"
Failing on unrelated https://github.com/dotnet/runtime/pull/67272/ . [Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1932360&view=logs&jobId=2de479a8-eae7-5324-c49d-bebaef329288&j=2de479a8-eae7-5324-c49d-bebaef329288&t=bb577e75-8247-55f1-4164-04f3b0f2d1eb):

[code]

[2022-08-10 16:02] DebugST commented on #73674
Thank you very much for your patient answer. I don't mean there is no difference between `BeginGetContext` and `GetContextAsync`, but that `BeginGetContext` is still called inside `GetContextAsync`.
What caused the stack overflow was not how my code should be written, but the stack overflow caused by the `ProcessAccept` of `HttpEndPointListener`.
The `HttpEndPointListener` is used in the `HttpList

[2022-08-10 16:09] #71037 closed

[2022-08-10 16:09] tarekgh commented on #73635
@MiyamuraMiyako could you please try install the latest build from https://github.com/dotnet/installer#table and advise if you still see the issue? you are using `7.0.100-preview.6.22352.1` while the fix is not in this build.

[2022-08-10 16:12] radical commented on #70892
I believe we have completed some of the items, and others will have to be in 8.0 .

[2022-08-10 16:16] radical commented on #73617
@BrzVlad @vargaz Any idea what might be going on here?

[2022-08-10 16:16] uweigand commented on #73343
This new test is failing on s390x, see https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-9f276d5b7fb54d338b/System.Net.Security.Tests/3/console.08289088.log?helixlogtype=result
[code]

Looking into this a bit more closely, we get the following error from GSSAPI:
[code]

This in turn happens because the keytab file is in fact incorrect, specifically it contains l

[2022-08-10 16:18] tarekgh commented on #70733
It will be good if we file a breaking change issue to have it documented and can point users to such case.

[2022-08-10 16:27] teo-tsirpanis commented on #73674
Ohh, I now understand what happened. `AcceptAsync` returned false which means it completed synchronously, so it processes the connection and tries to asynchronously accept again. It was getting too many connections, they all completed synchronously and boom, stack overflow.

[2022-08-10 16:27] radical commented on #73694
[code]

@lewing @steveisok @akoeplinger ^

[2022-08-10 16:29] SteveSyfuhs commented on #73343
Oops. PR to fix. Will go into a new nuget package once merged. https://github.com/dotnet/Kerberos.NET/pull/307

[2022-08-10 16:34] mkArtakMSFT commented on #73700
@lewing FYI

[2022-08-10 16:46] SamMonoRT commented on #71482
Moving this to 8.0.0 with a possibility we may backport changes if this has significant perf improvements.

[2022-08-10 16:49] #73545 closed

[2022-08-10 16:49] carlossanlop commented on #72841
We have a document related to devcontainer setup: https://github.com/dotnet/runtime/blob/c3e1d21c2fb30436ae24ef7ef4f458e3270bb7e3/docs/workflow/Codespaces.md

But it doesn't explain how to debug. @eerhardt is this something you could help with?

[2022-08-10 16:49] simonrozsival commented on #73539
The JIT.Directed logs contain stack traces showing null pointer dereferencing when `unhandled_exception_handler` is called. This reminds me of https://github.com/dotnet/runtime/issues/69601. I'll continue digging tomorrow.

[2022-08-10 16:54] carlossanlop commented on #73646
@dotnet/dnceng is this something you could help with?

[2022-08-10 16:55] N0D4N commented on #73682
Sure, got it.

[2022-08-10 16:55] #40049 closed

[2022-08-10 16:58] pavelsavara commented on #73673
This is related to throttling and performance of codespaces.
![image](https://user-images.githubusercontent.com/271576/183971832-dfa9dc32-1a16-436c-9c5f-385268cf4d8b.png)

[2022-08-10 16:58] MattGal commented on #73646
If this is isn't a transient error, you can try a different build... this version is specified by https://github.com/dotnet/runtime/blob/main/eng/Versions.props#L157 and not controlled by the dnceng team.

[2022-08-10 17:01] drieseng commented on #73639
Thanks @stephentoub! I updated the benchmark code & result in the description. Too bad this is .NET 6.0+ only. It would be great if there was a TFM neutral syntax to achieve this and have Roslyn only produce optimized code when targeting .NET 6.0+.

Wasn't there a proposal for such a syntax at some point? Something like `$i"..."`?

[2022-08-10 17:03] SamMonoRT commented on #52559
From the mono runtime side - There is ongoing work to fix some issues in 7.0 causing some failures with LVM on Android. Along with that, we recently added Vector4 Intrinsics for Arm64 platform. We should re-evaluate the perf numbers once we fix the llvm related issues.

cc @BrzVlad - related to slower interpreter comments above.

[2022-08-10 17:04] SamMonoRT commented on #71210
From the mono runtime side - There is ongoing work to fix some issues in 7.0 causing some failures with LVM on Android. Along with that, we recently added Vector4 Intrinsics for Arm64 platform. We should re-evaluate the perf numbers once we fix the llvm related issues.

cc @BrzVlad - related to slower interpreter comments above.

[2022-08-10 17:06] buyaa-n commented on #44655
[Triage:] moving to 8.0 for now

[2022-08-10 17:07] onehourlate opened #73703 "System.Net.WebProxy Bypass regex list reconstructed for every call to IsBypassed"
### Description

System.Net.WebProxy takes a list of strings for Uris that should bypass the proxy.
This list of strings is compiled into a list of Regex by the method [UpdateRegexList](https://source.dot.net/System.Net.WebProxy/System/Net/WebProxy.cs.html#850d23113aacd0b8)

This method is called in the constructor and in the [BypassList](https://referencesource.microsoft.com/system/R/eb0d74cc9c1b

[2022-08-10 17:08] DebugST commented on #73674
the same code also in this link:
[https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socketasynceventargs?redirectedfrom=MSDN&view=net-6.0](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socketasynceventargs?redirectedfrom=MSDN&view=net-6.0)

I found this code a long time ago with stack overflow, but I thought it was just a `Demo` telling the reader how to use `SocketAs

[2022-08-10 17:14] hoyosjs commented on #73645
Now that updates are paused on 7, should this be an 8.0 issue to reenable the flow?

[2022-08-10 17:14] #43754 closed

[2022-08-10 17:21] wfurt commented on #73645
yes. @rzikm did some scouting so we _may_ be able to do it with the notes above.

[2022-08-10 17:25] eerhardt commented on #72841
Unfortunately, no. I don't have any experience debugging in VS Code.

[2022-08-10 17:35] MiyamuraMiyako commented on #73635
@eerhardt @tarekgh Yes, I use rc1 build project and issue disappear, Thanks!

[2022-08-10 17:44] steveharter opened #73706 "PerformanceCounters do not support config entry for 'filemappingsize'"
### Description

During [implementation](https://github.com/dotnet/runtime/pull/73087) of https://github.com/dotnet/runtime/issues/23937 it was discovered that having a config entry of `filemappingsize` causes an exception and is not supported. It works fine in .NET Framework.

### Reproduction Steps

Using Visual Studio in admin mode:
[code]

and a config file named, for example, `ConsoleApp1.dll

[2022-08-10 17:50] BruceForstall commented on #65311
I can't repro this. I'm going to presume it was fixed in the last 6 months.

It does repro in .NET 6, but doesn't appear to justify a .NET 6 servicing fix.

[2022-08-10 17:50] #65311 closed

[2022-08-10 17:52] wolfkor commented on #72425
Going back to .NET 5 or waiting for .NET 7 isn't currently an option. So I tried to use the PublishReadyToRunExclude variant. Unfortunately this doesn't work because I get the invalid directory size error now with self-built DLLs that use ActiproSoftware DLLs.
We plan to upgrade ActiproSoftware but it will take longer due to massive changes since 2014. Until then I have no reasonable solution.

[2022-08-10 17:52] SteveSyfuhs commented on #73343
Fixed in nuget v4.5.176 https://www.nuget.org/packages/Kerberos.NET/4.5.176. Uploading now, should be available for general distribution in a few minutes.

[2022-08-10 17:53] eerhardt commented on #73635
Closing as a dupe of https://github.com/dotnet/runtime/issues/70007

[2022-08-10 17:53] #73635 closed

[2022-08-10 17:58] kouvel commented on #66774
In the 6.0 vs 7.0-preview2 comparison above, 7.0p2 appears to be faster on the benchmark on macOS Monterey arm64.

[2022-08-10 17:59] RobertHenry6bev commented on #72645
This issue is still here with yesterday's preview release: 7.0.100-preview.7.22377.5
It is still blocking forward progress.

[2022-08-10 18:00] MihaZupan commented on #73703
I also don't see any reason to rebuild the list in this case. Doing so looks like just a waste of compute.

Should be a simple change - marking as up for grabs. @onehourlate would you be interested in contributing a fix for this?

[2022-08-10 18:02] jeffhandley commented on #69092
I'm moving this to the 8.0.0 milestone. After chatting with @adamsitnik we don't think this is a product issue because we don't have any architecture-specific code in play here. But we'll take a look from the product side after the 7.0.0 RC1 snap.

[2022-08-10 18:04] jeffhandley commented on #70164
@Jozkee Can you take a look at this please? We need to make sure we don't have a lurking regression here.

[2022-08-10 18:05] jeffhandley commented on #72968
Moving to 8.0.0 since we don't have agreement on the name yet.

[2022-08-10 18:08] jeffhandley commented on #69563
We updated the default compression level a while back. @adamsitnik is going to take a look.

[2022-08-10 18:15] Lancelotbronner commented on #1391
I still like the idea of a CLI tool to work with xsd, I'll try and modernize it but if it needs to touch the runtime then I don't think I'll be able to do much.

[2022-08-10 18:23] adamsitnik commented on #60101
Fixed by #72193

[2022-08-10 18:23] #60101 closed

[2022-08-10 18:27] Mr0N opened #73709 "[API Proposal]: Add a property or method that can be used to check if there is an error in the process"
### Background and motivation

Add a property or method that can be used to check if there is an error in the process
https://github.com/Mr0N/ExampleProcessStart/blob/master/ExampleProcessStart/Program.cs

### API Proposal

[code]

### API Usage

[code]

### Alternative Designs

_No response_

### Risks

_No response_

[2022-08-10 18:28] radical commented on #48016
This is being handled currently, but in a hacky manner. And we have an approach in mind, but that will get implemented in .net8 .

[2022-08-10 18:28] daxian-dbw commented on #60101
Quote from https://github.com/dotnet/runtime/pull/73257#issuecomment-1211090508:

[2022-08-10 18:30] Mr0N commented on #73709
![image](https://user-images.githubusercontent.com/61237140/183989658-2c9ff0a2-e0d8-43f1-a61f-e1894903838f.png)

[2022-08-10 18:39] SamMonoRT commented on #50110
Moving to 8.0.0

[2022-08-10 18:40] SamMonoRT commented on #48229
Moving to 8.0.0

[2022-08-10 18:41] SamMonoRT commented on #55484
Moving to 8.0.0, @akoeplinger @steveisok : something to consider soonish.

[2022-08-10 18:47] uweigand commented on #73343
Thanks!   It looks like this is now on nuget.org, but it doesn't seem to be available yet in "dotnet-public" (https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json), where the runtime build is looking for it.

But the good news is that when I force it to use the 4.5.176 package from nuget.org, all `System.Net.Security.Tests` test cases now pass on s390x.

[2022-08-10 18:56] mavnorthwind opened #73710 "Can't get assembly probing to work; not sure why."
### Description

With earlier .NET Framework versions I was used to be able to configure additional paths for assembly probing by adding a
/configuration/runtime/assemblyBinding/probing node to my app.config file.
With .NET 6.0 this doesn't seem to work anymore.
After a lot of searching I found the additionalProbingPaths setting in <app>.runtimeconfig..json, but this didn't work either.

Using the

[2022-08-10 18:59] eerhardt opened #73711 "Building clr shouldn't build host tests"
Since https://github.com/dotnet/runtime/pull/73095, we are now building the `host` subset when building `clr`. However, the `host` subset includes a few test directories:

https://github.com/dotnet/runtime/blob/f244adbda9e680e39cfe6a660f695b07adec3792/eng/Subsets.props#L73

and

https://github.com/dotnet/runtime/blob/f244adbda9e680e39cfe6a660f695b07adec3792/src/native/corehost/CMakeLists.txt#L34

[2022-08-10 19:05] ViktorHofer commented on #72841
@martencassel please see https://github.com/dotnet/runtime/blob/main/docs/workflow/debugging/libraries/debugging-vscode.md

[2022-08-10 19:09] mangod9 commented on #73668
This is a dupe of https://github.com/dotnet/runtime/issues/73679

[2022-08-10 19:09] #73668 closed

[2022-08-10 19:10] mangod9 commented on #73630
The change seems to be within the typical range for this particular test?

[2022-08-10 19:15] mangod9 commented on #72578
Do we know if this is a regression or we had similar behavior in 6 ?

[2022-08-10 19:16] layomia opened #73712 "Consider failing early when (de)serializing enum values that contain commas"
It is possible for enum identifiers to contain commas in IL, but the good news is that not even the Enum parser is able to handle that:

https://sharplab.io/#v2:DYLgZgzgNALiCWwA+B7ADgUwHYAIDKAnhDBgLYCwAUFQNoA8AYsAIYDmEAfALpUwGY4AsgQCiWAK6kcAXio4cSHAAMlAFQAWGAE4YA5BBzMcAYxSlSzKDni5SBHFmakMKmTgCMchcrWad+wxMzCysMADdsHD8XJTcAJi8qYAwYBycMNwAKYTFJADoVDW09AyNTc0trW3tHZ1ckBqFRCVIC32KAsuDK8MjolQBKPNUUPBgtG

[2022-08-10 19:19] #50566 closed

[2022-08-10 19:19] trylek commented on #49233
@SamMonoRT - I think this discussion is mostly unrelated to the pending test consolidation which only deals with runtime (CoreCLR & Mono) tests, not hosting tests.

[2022-08-10 19:21] #70940 closed

[2022-08-10 19:28] BruceForstall commented on #67598
System.Numerics.Tests.Perf_BitOperations has basically stabilized at a lower number, looking at current results.

[2022-08-10 19:33] layomia opened #73714 "Share serialization tests between source-gen and reflection JsonSerializer"
We've already started sharing these tests. They are located [here](https://github.com/dotnet/runtime/tree/main/src/libraries/System.Text.Json/tests/Common). We should complete this effort to ensure the same behavior where expected. The remaining tests to consolidate are located [here](https://github.com/dotnet/runtime/tree/main/src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serializat

[2022-08-10 19:36] layomia commented on #73693
Duplicate of https://github.com/dotnet/runtime/issues/72604.

[2022-08-10 19:36] #73693 closed

[2022-08-10 19:36] steveharter commented on #36053
That seems like a reasonable approach however it is somewhat risky to do at this point in the release cycle. It should be done earlier.

Also adding a `File.Exists` may have to take into consideration embedded assemblies, as exists with browser\wasm scenarios.

[2022-08-10 19:36] alexrp commented on #73709
Standard error is used by many programs for non-fatal logging.

[2022-08-10 19:38] trylek commented on #73658
I'll take a look later today once I'm done with another SVM-related bug.

[2022-08-10 19:38] mdh1418 commented on #55118
Currently hitting an error similar to this when testing on iOS locally https://github.com/dotnet/runtime/issues/73041

[2022-08-10 19:39] mdh1418 commented on #55119
Currently hitting an error similar to this when testing on iOS locally https://github.com/dotnet/runtime/issues/73041

[2022-08-10 19:39] akoeplinger commented on #62485
libclang was added to the llvm package for non-ARM architectures with https://github.com/dotnet/llvm-project/pull/149 and for osx-arm64 with https://github.com/dotnet/llvm-project/pull/190.

In theory we could add it for every arch but so far we've not needed it. I think we can close this for now.

[2022-08-10 19:39] #62485 closed

[2022-08-10 19:39] SamMonoRT commented on #70190
Moving to 8.0.0 milestone, and will consider a backport to earlier release ff the fix isn't risky  cc @vargaz

[2022-08-10 19:41] BruceForstall commented on #44341
Same: https://github.com/dotnet/runtime/issues/9810

[2022-08-10 19:41] SamMonoRT commented on #44855
cc @fanyang-mono @jonathanpeppers

Moving this to next milestone, but something we will want to consider in next few months.

[2022-08-10 19:43] jonathanpeppers opened #73715 "Issue using `dotnet trace` on MacCatalyst apps"
### Description

I filed this here, as it seems related to Mono diagnostics.

This works for a MAUI project template:
* `dotnet new maui`
* `dotnet build -c Release -f net6.0-maccatalyst -r maccatalyst-arm64`
* `dotnet trace collect --format speedscope -- bin/Release/net6.0-maccatalyst/maccatalyst-arm64/MyApp.app/Contents/MacOS/MyApp`

I get a `.nettrace` and `.speedscope` that are valid.

However

[2022-08-10 19:43] BruceForstall commented on #44341
Same: https://github.com/dotnet/runtime/issues/8034

[2022-08-10 19:45] SamMonoRT commented on #65704
Moving to 8.0.0 and assigning to @lateralusX for tracking

[2022-08-10 19:45] steveharter commented on #68923
Moving to v8 to consider. Not considered high priority.

I believe the [last](https://github.com/dotnet/runtime/blob/b59c6491dd9636d436ad10e087523a163fb93be0/src/libraries/System.Private.CoreLib/src/System/Diagnostics/StackTrace.cs#L217-L218) stack frame is always preserved with `[StackTraceHidden]`, so we may need a different way to determine how to hide these frames.

[2022-08-10 19:47] mdh1418 commented on #55070
Currently hitting an error similar to this when testing on iOS locally https://github.com/dotnet/runtime/issues/73041

[2022-08-10 19:49] SamMonoRT commented on #60282
@evilzhou - is this still an issue and did you have any updated PR ? Moving to next milestone, but will consider backporting the fix.

[2022-08-10 19:49] SamMonoRT commented on #60282
cc @fanyang-mono for Arm64 visibility

[2022-08-10 19:53] SamMonoRT commented on #69330
I don't see it on recent runs though lane has different intermittent failures. Removing the blocking clean ci label.

[2022-08-10 19:56] campersau commented on #73703
It looks like the underlying `_bypassList` is publicly exposed as `BypassArrayList` which means that it could be modified from the outside:

https://github.com/dotnet/runtime/blob/de32c4466489090fdd41574d1be2945fd03ab7f2/src/libraries/System.Net.WebProxy/src/System/Net/WebProxy.cs#L85

[2022-08-10 19:56] jonathanpeppers commented on #44855
I think the two parts here are:
* Get Hybrid AOT working in .NET 6+ Android projects -- unknown if it currently works
* `cil-strip` .NET assemblies -- the iOS workload is using this, so it may be straightforward to do it in Android projects

We have not really focused on Hybrid AOT due to its experimental status and lack of demand so far. If we had some app size or performance benefits, that might

[2022-08-10 20:01] wfurt commented on #73343
I think we may need to manual sync once again for updated Kerberos.NET package.
https://github.com/dotnet/runtime/pull/71824#discussion_r918078700
cc: @MattGal @oleksandr-didyk

[2022-08-10 20:02] steveharter commented on #73453
This is a crash due to "Fatal error. Internal CLR error." and there are no dumps associated with the build so this is not actionable yet.

The call stack shows that particular test did not actually run yet; the last frame was `System.Runtime.CompilerServices.AsyncTaskMethodBuilder`1`.

This test has not previously failed; we need more hits to accurately say whether this is reflection code or somet

[2022-08-10 20:02] #73453 closed

[2022-08-10 20:06] lambdageek commented on #68033
This is the stack while we're trying to initialize `Bar`

[code]

where frame 9 and frame 1 are both trying to set up `Bar`.

When we try to setup the vtable slots, we try to understand if the class directly implements an interface, or if the interface is coming from an ancestor class.  With variant generic params, the class might implement a more specific interface, which we try to understand by

[2022-08-10 20:09] AndyAyersMS commented on #72578
I'll try the same thing on 6.0

[2022-08-10 20:09] steveharter commented on #69516
cc @BrzVlad

[2022-08-10 20:18] AntonLapounov commented on #72578
@AndyAyersMS Could you please share the exact repro steps?

[2022-08-10 20:21] AndyAyersMS commented on #72578
6.0 profile looks similar. It could be a broken benchmark perhaps.

![image](https://user-images.githubusercontent.com/10121823/184012275-820e1359-40c9-49cc-8cfc-df85c25746cc.png)

See https://github.com/dotnet/runtime/issues/71214#issuecomment-1182689602

[2022-08-10 20:31] danmoseley commented on #73709
As @alexrp points out this is typically not what you would want - i can't think of a case I've seen where this code was written. Also we would not throw the base exception - what to throw? Finally, this code is trivial to write yourself: a new API adds cognitive load and the possibility of adding a bug without adding significant value.

[2022-08-10 20:46] rzikm commented on #73645
Yes, we should close this issue as done and create an issue to reenable.it in 8.0. I am not at the PC right now so I can do that tomorrow.

[2022-08-10 20:47] Mr0N commented on #73709
The code is just for example, it still needs to be edited

[2022-08-10 20:50] AntonLapounov commented on #72578
If it affects only few benchmarks and not a regression, we should remove the 'blocking-release' label.

[2022-08-10 20:51] tommcdon commented on #72578
Agreed and removed

[2022-08-10 20:52] Mr0N commented on #73709
It is not very clear, to be honest, why two streams? Maybe it has something to do with technical capabilities, I don’t know
Can a user who has not read the documentation understand that the main stream will not output anything if there was an error?

[2022-08-10 20:59] Clockwork-Muse commented on #73709
Whether or not the process ends with a non-zero (or other error) exit code has no bearing on whether `StandardError` or `StandardOutput` have any content.  That's a decision made by the process that gets started.

[2022-08-10 21:03] Mr0N commented on #73709
Why not throw an error if the process did not return a 0 code if the property is enabled

[2022-08-10 21:03] Mr0N commented on #73709
Why not throw an error if the process did not return a 0 code if the property is enabled

[2022-08-10 21:04] Mr0N commented on #73709
and in the error message, there will be all (or part of) what was in the error stream,

[2022-08-10 21:11] AndyAyersMS commented on #72578
Not sure how many benchmarks are affected. This one is perhaps unusual in that R2R code figures prominently during the "actual" intervals (which is not typical, we usually try and measure Tier1 code).

[2022-08-10 21:14] AntonLapounov commented on #72578
That was hot helpful.  I can run `benchmarks_ci.py -f net6.0 --filter "System.Collections.Sort<Int32>*"`, but it doesn't accept `-p ETW`.

[2022-08-10 21:15] MichalStrehovsky commented on #73666
Is there a bug tracking the Cecil bug?

[2022-08-10 21:20] Clockwork-Muse commented on #73709
What constitutes an error depends on the process - 0 is only the usual convention, it's not actually required.

You're also not guaranteed there will be anything in a specific stream on error, either.

[2022-08-10 21:25] AndyAyersMS commented on #72578
Sorry, here's something more specific:

* windows x64 or arm64
* install 6.0, 7.0 product
* clone dotnet/performance repo
* start admin shell
* cd to src/benchmarks/micro in the repo
* dotnet run -c Release -f net7.0 -- --filter "System.Collections.Sort<Int32>.Array" --runtimes net6.0 net7.0 -p ETW

The above will create two ETL files. Kook at those with perfview.
* select cpu stacks (or cpu stack

[2022-08-10 21:30] #23937 closed

[2022-08-10 21:30] #72967 closed

[2022-08-10 21:33] radical commented on #73666
Not that I know of.

[2022-08-10 21:39] Tratcher commented on #72590
The main complaint above seems to be that the service reports as "running" before IHostedService's are called. Run is needed to tell the service we're ready to start and wait for the service host to actually start us. Does the service report "running" before or after OnStart is called?

[2022-08-10 21:43] JulieLeeMSFT commented on #73692
@kunalspathak PTAL with high priority.

[2022-08-10 21:44] kunalspathak commented on #73692
@JulieLeeMSFT  - This is not a codegen issue but assert hit in GC code. https://github.com/dotnet/runtime/issues/73679 is already assigned to @PeterSolMS.

[2022-08-10 21:50] AndyAyersMS commented on #68031
@DrewScoggins ping

[2022-08-10 21:53] AndyAyersMS commented on #68917
Seems like this can wait for 8.0. Perf score is an internal metric and does not affect jit behavior.

[2022-08-10 21:54] AndyAyersMS commented on #70645
@EgorBo have you made any progress on this one?

[2022-08-10 21:54] elinor-fung commented on #73711
Should we make `clr` include `host.native` instead of `host`? If it is just being included to use the live host, I don't think we need host packages or tools either.

[2022-08-10 21:55] RobertHenry6bev opened #73718 "illegal read of byte preceding an automatic (stack allocate) variable"
### Description

Compiling on/for x64 architecture on linux with clang-14.

The function CMiniMdBase::InitColsForTable

https://github.com/dotnet/runtime/blob/9bd2cb52375ee073ffbe24da1c425788bc88704f/src/coreclr/md/runtime/metamodel.cpp#L720
allocates an automatic array variable of CMiniColDef[9].  The base address of this array is passed down through UsesAllocatedMemory().  UsesAllocatedMemory ap

[2022-08-10 21:57] AndyAyersMS commented on #70645
Actually, this has not failed in the past 30 days, so let's just close it.

The only libraries jitstress2 jitstressregs failures recently are on x86.

[2022-08-10 21:57] #70645 closed

[2022-08-10 21:59] anthonycanino commented on #68917
FYI, I am still working on this. Hope to give an update soon.

[2022-08-10 22:00] AndyAyersMS commented on #70761
This does not appear to have failed recently either (in fact the whole leg was green yesterday for the first time in a long time).

So am going to close.

[2022-08-10 22:00] #70761 closed

[2022-08-10 22:00] MaximMikhisor commented on #44855
"lack of demand so far"
Our project has demand in Hybrid AOT. Particulary interesting in removing NET assemblies from Android package to avoid deobfuscation possibility.

[2022-08-10 22:00] #60252 closed

[2022-08-10 22:07] carlossanlop commented on #72409
I generated the report again today. It now includes APIs introduced all the way until Preview6 (the original list included APIs introduced until Preview5).

I'll update the main description to point to this comment.

@Maoni0 @cshung

<details>
  <summary>GC</summary>

| Summary  | Parameters | TypeParameters | ReturnValue | API

[2022-08-10 22:08] danmoseley commented on #23937
Thanks @steveharter for fixing this as a DCR. Hopefully this allows the folks above to migrate from .NET Framework to .NET 7. Commenters above, please let us know if this doesn't unblock you.

[2022-08-10 22:13] carlossanlop commented on #72410
Here is the latest list of undoc APIs in the System namespace (as of Preview6):

@dotnet/area-system-numerics

| Summary  | Parameters | TypeParameters | ReturnValue | API                                                                                                                                                                                                                   |
|----------|----

[2022-08-10 22:17] BruceForstall commented on #44341
The slowness here (when crossgen2 compiling the test case) is in `optRedundantBranch`, which calls `optReachable` twice. The slowness in `optReachable` is simply in clearing the `BBF_VISITED` bit for every block. So, `optReachable` is `O(N)` where `N` is the number of blocks. If `optRedundantBranch` is calling `optReachable` for each block, we've got an `O(N^2)` algorithm.

[2022-08-10 22:17] carlossanlop commented on #72410
<details>
  <summary>Undocumented System.Numerics APIs as of Preview6</summary>

| Summary  | Parameters | TypeParameters | ReturnValue | API                                                                                                                                                                                                                                            |
|----------|---------

[2022-08-10 22:18] radical opened #73721 "Path.GetTempFileName() sometimes fails on WASM due to insufficient randomness"
[Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1934834&view=logs&jobId=a07e672c-d717-5036-7657-9f851d8c04dc&j=a07e672c-d717-5036-7657-9f851d8c04dc&t=95c8462d-76dc-506a-26a4-fefb7abc2e07), seen on multiple PRs with no related changes. Which suggests that this is on `main`. Failures like:

[code]

.. and ..
[code]

Just for people reading this in the future, the list of failed te

[2022-08-10 22:22] nexxuno commented on #44855
I think the lack of demand comes from missing features and not the other way around in this case.

[2022-08-10 22:23] carlossanlop opened #73722 "Undocumented 7.0 APIs in System.Data"
@ajcvickers @davoudeshtehari @david-engel

Below is the list of APIs that were introduced in 7.0 and have not yet been fully documented.

Relevant dates:
-	The last day to merge API documentation directly into triple slash comments in dotnet/runtime is before the RC1 snap on August 15th.
-	After the RC1 snap, all pending documentation changes need to be merged directly into dotnet-api-docs, and th

[2022-08-10 22:23] LakshanF opened #73723 "[NativeAOT] ArgumentNullException.ParamName is missing"
The following code snippet does not have `ParamName` for the `ArgumentNullException `that is thrown in Native AOT

[code]

**.NET**
[code]
**NativeAOT**
[code]

[2022-08-10 22:25] am11 commented on #73343
We consume `dotnet/command-line-api` from `dotnet-libraries` feed, so `dotnet/Kerberos.NET` (also a library package) can use the same feed. Currently Kerberos.NET is set up with a personal account.

[2022-08-10 22:26] carlossanlop opened #73724 "Undocumented 7.0 APIs in System.ComponentModel"
@dotnet/area-system-componentmodel

Below is the list of APIs that were introduced in 7.0 and have not yet been fully documented.

Relevant dates:

The last day to merge API documentation directly into triple slash comments in dotnet/runtime is before the RC1 snap on August 15th.
After the RC1 snap, all pending documentation changes need to be merged directly into dotnet-api-docs, and the last day

[2022-08-10 22:29] afilatov-st commented on #71472
@tommcdon I confirmed that the swap is off.

[2022-08-10 22:30] BruceForstall commented on #44341
Even though it appears `optReachable` is very frequently called, and it creates a worklist of items, that worklist doesn't consume much memory because the ArrayStack has 8 stack slots which are probably mostly used, so no dynamic memory is needed and "leaked".

[2022-08-10 22:31] cshung commented on #72409
@carlossanlop, will https://github.com/dotnet/runtime/pull/73725 fix it?

[2022-08-10 22:31] hoyosjs opened #73726 "Reenable MSQuic subscription into main after .NET 7 fork"
Reenable msquic 2.2 flow into runtime/main for 8.0

_Originally posted by @rzikm in https://github.com/dotnet/runtime/issues/73645#issuecomment-1211252816_

[2022-08-10 22:32] #73645 closed

[2022-08-10 22:33] carlossanlop commented on #72403
Rather than creating a new issue, I am reopening this one.

Here are the latest undocumented APIs as of Preview6:

| Summary  | Parameters | TypeParameters | ReturnValue | API

[2022-08-10 22:37] roji commented on #73722
Thanks, I'll be doing this before the 15th.

[2022-08-10 22:38] carlossanlop commented on #72406
Reopening since there are new System.IO undocumented APIs as of Preview6:

| Summary  | Parameters | TypeParameters | ReturnValue | API                                                                                                                                                                                                 |
|----------|------------|----------------|-------------|--------------

[2022-08-10 22:42] MihaZupan commented on #73703
You're right... yay legacy APIs :)

We can still do a lot better here than creating all Regex objects on every request though.
At a minimum have a flag checking whether that property was ever accessed and skip `UpdateRegexList` on the hot path.

[2022-08-10 22:43] carlossanlop commented on #72403
The System.Net.Socket APIs are already documented in triple slash, but I haven't ported them yet because the docs contain references to APIs that don't yet exist in Preview6 (that's the latest version we show in MS Docs). I will port them after we update MS Docs to Preview7.

[2022-08-10 22:43] BruceForstall commented on #9810
Closing this in favor of https://github.com/dotnet/runtime/issues/44341

[2022-08-10 22:43] #9810 closed

[2022-08-10 22:44] BruceForstall commented on #8034
Closing this in favor of https://github.com/dotnet/runtime/issues/44341

[2022-08-10 22:44] #8034 closed

[2022-08-10 22:45] tarekgh commented on #72409
@carlossanlop for the globalization APIs,  looks are marked with the `inhirited` tag. why the tool didn't handle that? here are some examples:

https://github.com/dotnet/runtime/blob/9bd2cb52375ee073ffbe24da1c425788bc88704f/src/libraries/System.Private.CoreLib/src/System/DateOnly.cs#L845
https://github.com/dotnet/runtime/blob/9bd2cb52375ee073ffbe24da1c425788bc88704f/src/libraries/System.Private.Co

[2022-08-10 22:46] teo-tsirpanis commented on #73639
I thought of this that would work across pre and post-.NET 6:

[code]

But the handler doesn't work for some reason. If I write `InterpolatedStringCompat.Invariant($"Hello {184}");` it fails with `error CS1620: Argument 1 must be passed with the 'ref' keyword`. 🤔

[2022-08-10 22:47] davidfowl commented on #72590
Right as long as we can also propagate failures so if Started never fires, we want OnStart to throw or fail or something.

[2022-08-10 22:50] tannergooding commented on #72410
@carlossanlop The parameters missing seems like a bug in the tooling. It's present in local intellisense from the `<inheritdoc cref="" />`

For reference:
![image](https://user-images.githubusercontent.com/10487869/184034022-e63f5401-041b-4914-9054-3116d230fac6.png)

A local check shows that the C# compiler propagates it into the xml doc as `inheritdoc` so I'm guessing the tooling just isn't propa

[2022-08-10 22:55] tarekgh commented on #73724
@carlossanlop this is again issue with the tool that doesn't handle the `/// <inheritdoc />` tag from the sources.

[2022-08-10 23:04] afilatov-st commented on #71472
Also, I don't think I can use the `getrusage` C function in our case instead I can run `cat /proc/1/status` or `cat /proc/1/meminfo`, let me know if you need info from those.

[2022-08-10 23:12] am11 commented on #73711
Yes, `host.native` sounds like the right subset for clr and mono defaults. `Microsoft.NET.HostModel.dll` is loaded when `dotnet publish` is used with `--runtime` argument (with or without `-p:Publish{Aot,SingleFile,ReadyToRun}`). We only use live host's `dotnet publish` in the installer tests.

Ideally, if we are building all (or enough) subsets, then crossgen2 build (and anything else which uses

[2022-08-10 23:16] onehourlate commented on #73703
Or even subclass ArrayList for the BypassArrayList  with something that keeps a dirty flag.
Since all methods of an ArrayList that modify the list are virtual, that's easily done.
(what's a bit frustrating is that the ArrayList does that for us already, via the version, but it's private)

And then check the dirty flag to see if we need to rebuild the regex list.

[code]

[2022-08-10 23:16] Thefrank commented on #14537
@sec that resolved the build issue under FreeBSD 13.1!

Crossbuilding the newest preview works with no patching when using the freebsd 12 docker. ill look over the 13 and native builds in the next day or so

[2022-08-10 23:18] runfoapp[bot] opened #73728 "crossgen2/VM layout mismatch in CI"
Runfo Tracking Issue: [jit\\regression\\jitblue\\runtime_60035\\runtime_60035\\runtime_60035.cmd](https://runfo.azurewebsites.net/tracking/issue/426)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Results|Run Client|
|---|---|---|---|---|---|---|---|
|[1943278](https://dev.azure.com/dnceng/public/_build/results?buildId=1943278)|[runtime-coreclr crossgen2-composite gcstress](https://dnceng.

[2022-08-10 23:24] LakshanF commented on #72801
Rooting all the test listeners and providers did not work.

[2022-08-10 23:25] kunalspathak commented on #71931
This is also seen to be happening in [runtime-coreclr crossgen2-composite gcstress](https://dev.azure.com/dnceng/public/_build/results?buildId=1928978&view=ms.vss-test-web.build-test-results-tab&runId=49871392&resultId=107162&paneView=debug).

If that is the case, I will probably disable OSX-x64 from this pipeline?

[2022-08-10 23:31] RobertBouillon commented on #56022
I just want to note the [guidance provided here](https://docs.microsoft.com/en-us/aspnet/core/blazor/debug?view=aspnetcore-5.0&tabs=visual-studio#debug-in-the-browser-1) is different.

Is the intention for Visual Studio to provide complete in-process debugging? I cannot currently break in startup code and VS doesn't break on exception, which is why I resorted to chrome as a workaround.

I would li

[2022-08-10 23:36] BruceForstall commented on #44341
Given that this is a ridiculous test case, I'm going to push out this bug.

Theoretically, we could "audit" all the JIT algorithms, or do some measurements of crossgen (or forced non-MinOpts) throughput and find all the places where the JIT has non-linear behavior. Then, such as for `optReachable` used by `optRedundantBranch`, introduce "escape valves" such as our fallback-to-MinOpts behavior, or

[2022-08-10 23:36] BruceForstall commented on #44341
@AndyAyersMS fyi

[2022-08-10 23:47] MichalStrehovsky commented on #73666
Reopening then and throwing it over the fence to the linker repo.

[2022-08-10 23:47] BruceForstall commented on #67598
This appears to be due to a BenchmarkDotNet update in the performance repo which changed the iteration strategy.

Before: [https://github.com/dotnet/performance/commit/4f1cdb0d7fa669c395611dcece71d6b77ffe599d](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fdotnet%2Fperformance%2Fcommit%2F4f1cdb0d7fa669c395611dcece71d6b77ffe599d&data=05%7C01%7CBruce.Forstall%40micros

[2022-08-10 23:47] #67598 closed

[2022-08-10 23:50] hoyosjs commented on #65933
There's no IBC packages with an OSX rid, I'll move this.

[2022-08-10 23:52] eerhardt commented on #73721
I can't repro this locally. Is it possible the machine's TEMP directories are full?

[2022-08-10 23:56] jkoritzinsky commented on #70754
Blocked for adopting the official API on https://github.com/dotnet/roslyn/issues/63318

[2022-08-10 23:57] hoyosjs commented on #65317
@stephentoub @AaronRobinsonMSFT I see runtime has this pinned at:

https://github.com/dotnet/runtime/blob/85aa0521681592bb0ae4c6c89f7fb97895e2c7fc/eng/Versions.props#L52

While arcade is at `4.3.0-3.22401.3`. My guess is this is not recent enough for all the ref work, file scoped classes, and other goodness the runtime has taken a dependency on? If not, then should this issue be moved to .NET 8, o

[2022-08-10 23:58] jkoritzinsky commented on #65317
When we get the P7 SDK (which I'm upgrading Arcade to as we speak), we can unpin the compiler as it has the final version of 4.4.0-1.xxxxx.

[2022-08-10 23:59] MichalStrehovsky opened #73735 "Generic attributes lack testing"
We need reflection tests that test generic attributes.

https://github.com/dotnet/linker/issues/2963 made it clear that we don't have any targeted reflection tests for the new scenario in the libraries partition. The newly added test is not a targeted reflection test - it's a S.R.Metadata test.

[2022-08-11 00:02] #67439 closed

[2022-08-11 00:02] #66496 closed

[2022-08-11 00:02] anthonycanino commented on #68917
I was able to get some more information --- we can use 105 cycles (versus 40 as is currently in the code) as an accurate estimate based on what our team has observed.

Shall we make the change for 8.0?

[2022-08-11 00:04] radical commented on #73721
I will try to repro this too. Locally, and on CI.

[2022-08-11 00:16] davidwrighton commented on #65281
Ok, this is actually a general purpose AutoLayout bug impacting the alignment calculations for structures. We were improperly computing a the wrong alignment in a number of scenarios. (Sometimes too high, sometimes too low.). Given the general lack of autolayout structures, this probably isn't a terribly impacting bug, but it likely does reduce the set of functions that can be used out of an R2R i

[2022-08-11 00:25] elinor-fung commented on #73527
VS sets the `DOTNET_STARTUP_HOOKS` environment variable to load a [startup hook](https://github.com/dotnet/runtime/blob/main/docs/design/features/host-startup-hook.md) for hot reload - for example `c:\program files\microsoft visual studio\2022\preview\common7\ide\commonextensions\microsoft\hotreload\Microsoft.Extensions.DotNetDeltaApplier.dll`.

It looks like that startup hook ends up in a `Monito

[2022-08-11 00:29] hoyosjs commented on #47153
Closing this in favor of #48240 which looks for the documentation of the process.

[2022-08-11 00:30] #47153 closed

[2022-08-11 00:31] elinor-fung commented on #73527
The different between the console app and WinForms is that WinForms has `Main` marked with `STAThread`, so it requires the initialization when doing the wait. You can see the same issue in the console app if you mark its `Main` with `STAThread`.

Perhaps this is the case. We can document, but I'm not sure what else we can do here.

[2022-08-11 00:34] AndyAyersMS commented on #68917
Feel free to put up a PR now, we just won't merge it right away.

[2022-08-11 00:37] AndyAyersMS commented on #44341
I have plans to fix that aspect of `optReachable`, so let me take this one over.

[2022-08-11 00:45] AndyAyersMS commented on #65327
Hopefully addressed by https://github.com/dotnet/runtime/pull/72979 -- need to verify.

[2022-08-11 00:45] AndyAyersMS commented on #72509
Hopefully fixed by https://github.com/dotnet/runtime/pull/72979

[2022-08-11 00:48] AntonLapounov commented on #72578
Thank you, I have reproduced the issue with SDK 6.0.303.  I see the same behavior in Windows Performance Analyzer, so the issue is not specific to PerfView.  Both apps show `[ReadyToRun]System.Array::Fill(System.Int32[], System.Int32)` calling ``[ReadyToRun]System.Runtime.CompilerServices.PoolingAsyncValueTaskMethodBuilder`1+SyncSuccessSentinelStateMachineBox[System.Int32]::.ctor()``, which is dis

[2022-08-11 00:52] AndyAyersMS commented on #72578
Possibly? The data is there but you might need a custom parser and I think there is possibly some cleverness in how it's encoded. @brianrob would likely know but I think he's OOF (or soon to be)

You might try peeking at the perfview log, sometimes they spew interesting stuff there.

[2022-08-11 01:05] #73403 closed

[2022-08-11 01:06] jxbrenner commented on #44855
@jonathanpeppers, @SamMonoRT

Isn't the intent of setting the AndroidAotMode build property to `Hybrid` to tell MSBuild to IL strip the assemblies? So aren't the two parts really just one, create a build task that executes the Mono CIL Stripper against statically compiled assemblies?

I've always been confused about the "hybrid" nomenclature and referring to it as this separate kind of AoT compila

[2022-08-11 01:06] #59492 closed

[2022-08-11 01:22] mdh1418 commented on #73510
Building on OSX arm64 for Android arm64, it doesn't seem to generate the `sh` file either. I somehow managed to generate the `<test>.cmd_Android_arm64_Debug.sh` but that was giving me some errors such as
[code]
But I have not been able to figure out how to regenerate the `.cmd_Android_arm64_Debug.sh` file anymore.

[2022-08-11 01:25] DrewScoggins commented on #68031
Sorry, I have not been seeing these pings. I will check my email filters and make sure this is not getting routed to some lost corner of my inbox.

Here is an ugly hack to combine the two trends for right now. I will get this fixed going forward so that all allTestHistories will have a seamless transition from 3.12 -> 3.15. I have also updated https://aka.ms/HistoryIndex to point to 3.15 histories

[2022-08-11 01:43] mdh1418 opened #73739 "[Windows][libs] ControlledExecutionTests.CancelOnTimeout_ThrowFromCatch Assert.True failure"
Discovered on unrelated PR https://github.com/dotnet/runtime/pull/73716

[code]

Build: https://dev.azure.com/dnceng/public/_build/results?buildId=1935088&view=logs&j=457f7e88-dfa2-5bd9-f871-fdf124c2477d&t=bfe52dfb-2099-5c7f-ee52-70a1d81c544e
Log: https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-73716-merge-3f04b45231954bfe95/System.Runtime.Tests/1/console.ad652c5b.l

[2022-08-11 01:44] #69998 closed

[2022-08-11 01:44] #69746 closed

[2022-08-11 01:59] MichalStrehovsky commented on #73698
Dup of #73299.

[2022-08-11 01:59] #73698 closed

[2022-08-11 02:00] MichalStrehovsky commented on #72071
I think this was fixed in https://github.com/dotnet/docs/pull/30279.

Cc @dotnet/ilc-contrib if anyone disagrees.

[2022-08-11 02:00] #72071 closed

[2022-08-11 02:03] MichalStrehovsky commented on #73695
Sounds like a good plan. Would you be able to submit a PR?

[2022-08-11 02:04] hoyosjs commented on #44476
Since the installer issue is still open, I'm moving this to NET 8

[2022-08-11 02:07] AndyAyersMS commented on #68031
Given the above it looks like there is no longer a regression here, so will close.

[2022-08-11 02:07] #68031 closed

[2022-08-11 02:16] radical commented on #59685
Moving this to 8.0 assuming that this won't make it in 7.0 .

[2022-08-11 02:18] radical commented on #70489
@kg should this be moved to 8.0?

[2022-08-11 02:22] AntonLapounov commented on #72578
I think I identified the issue.  Below is a snippet from cvdump output for `System.Private.CoreLib.ni.pdb` (SDK 6.0.303) sorted by the function offset.  Note the large gap in the middle (`42D060`..`42EF00`):
[code]
According to R2RDump, that gap actually contains ``GenericArraySortHelper`1<int>`` ReadyToRun methods, which are missing from the `System.Private.CoreLib.ni.pdb` file.  That is why thos

[2022-08-11 02:22] radical commented on #73386
So, what's the plan here?

[2022-08-11 02:22] radical commented on #69741
@SteveSandersonMS does anything need to be done for 7.0 here? If so, then what should be done?

[2022-08-11 02:25] creizlein commented on #73527
Thanks @elinor-fung for those replies, that does explain all the diff cases and problems I experience.
So targets < .NET 6 are all safe because they don't use HotReload at all and .NET6 Console because of the STAThread on its Main.

For me at least, and again, just for me, It was good to know this tricks/caveats and I ended up disabling HotReload on my project, as it was not crucial, and now I'm w

[2022-08-11 02:28] radical commented on #49144
@thaystg Should this be moved to 8.0?

[2022-08-11 02:29] carlossanlop commented on #72400
Here is the updated list as of Preview6, from the report generated today:

<details>

| Summary  | Parameters | TypeParameters | ReturnValue | API

[2022-08-11 02:31] #67180 closed

[2022-08-11 02:35] carlossanlop commented on #72401
Here is the latest list of undoc APIs as of Preview6:

<details>

| Summary  | Parameters | TypeParameters | ReturnValue | API

[2022-08-11 02:38] #60703 closed

[2022-08-11 02:38] jeffhandley commented on #60703
Closing this as it stalled without reaching agreement that it would be worthwhile.

[2022-08-11 02:39] carlossanlop commented on #72402
Here is the latest list with undocumented APIs as of Preview6:

<details>

| Summary  | Parameters | TypeParameters | ReturnValue | API                                                                                                                                                                                                        |
|----------|------------|----------------|-------------|-------

[2022-08-11 02:47] carlossanlop commented on #72405
Here is the latest table as of Preview6:

<details>

| Summary  | Parameters | TypeParameters | ReturnValue | API                                                                                                                                                                                                                    |
|----------|------------|----------------|-------------|-----------------

[2022-08-11 02:51] carlossanlop commented on #72407
Here is the latest table of undoc APIs as of Preview6:

<details>

| Summary  | Parameters | TypeParameters | ReturnValue | API                                                                                                                                                                                                                                |
|----------|------------|----------------|-----

[2022-08-11 02:52] radical commented on #54486
Moving this to 8.0 milestone. Feel free to change, if anyone is planning to land a fix for this in 7.0 .

[2022-08-11 02:53] tommcdon commented on #71472
Yes `/proc/1/status` would be useful, but I'm also wondering if dumping `/proc/1/maps` periodically to a log file would tell us *what* pages are getting pulled in so we can see what the cause of the memory increase is.  Or maybe we should build a custom copy of createdump that dumps that info before and after it runs to help us understand what is happening.  This would at least help us to narrow d

[2022-08-11 02:55] radical commented on #61624
Is this planned for 7.0?

[2022-08-11 03:01] radical commented on #69797
This will AOT after build, and won't use IL trimming.

@doomlaur if it's still possible, could you share the binlog for this publish build?

[2022-08-11 03:06] Robinsond76 opened #73764 "Broken system with Ubuntu 22.04 where Microsoft packages are partially replaced by Canonical packages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

My issue seems to be similar to [this one](https://github.com/dotnet/aspnetcore/issues/38332) except I'm on linux (popOS 22.04).
Summing up the problem - when I attempted to use ```dotnet watch run``` today, I got the ```  * You intended to execute a .NET SDK command:
      No .NET SDKs were

[2022-08-11 03:21] huoyaoyuan commented on #73710
I remember `additionalProbingPaths`, but can't find it in official documentation.
See also https://github.com/dotnet/runtime/issues/72571#issuecomment-1191819042.

[2022-08-11 03:24] TheSpydog commented on #73695
Sure thing. One question -- if this feature is not defined, should the cookie still be set to 0 by default, or should we give it a different value?

[2022-08-11 03:28] Luokun2016 commented on #73618
Works fine. Thanks.

[2022-08-11 03:38] directhex commented on #73510
That’s a .cmd batch file. Something somewhere is probably doing an “if Linux then Bash, else CMD” instead of “if Windows then CMD, else Bash”

Sent from Mail for Windows

From: Mitchell Hwang
Sent: Wednesday, August 10, 2022 9:23 PM
To: dotnet/runtime
Cc: Jo Shields; Mention
Subject: Re: [dotnet/runtime] [MONO][TEST] Android arm64 Runtime tests run.shdoesn't use the right script name (Issue #73510

[2022-08-11 03:39] JulieLeeMSFT commented on #73692
Cc @mangod9 and @PeterSolMS for the GC issue.

[2022-08-11 03:44] MichalStrehovsky commented on #73723
The fix for this is just about adding a `nameof(typeName)` as a parameter to this line:

https://github.com/dotnet/runtime/blob/264b45eff9a82aa93744c9239a5935a9468d0e6a/src/coreclr/nativeaot/System.Private.CoreLib/src/Internal/Reflection/Core/Execution/ExecutionDomain.cs#L45

[2022-08-11 03:50] JulieLeeMSFT commented on #72645
@MichalStrehovsky, is your team working on the bug fix for this issue? Who is the owner of this issue? It would be good to have an assignee.

@RobertHenry6bev, as I explained in Teams chat, we try to resolve blocking-release issues before GA release.

[2022-08-11 03:54] kg commented on #70489
I think so.

[2022-08-11 03:54] MichalStrehovsky commented on #72645
I raised it to today Jeff that we need an owner. There is another crossgen2 crash (without NativeAOT this time) on Windows ARM64: https://github.com/dotnet/runtime/issues/71702. It's not clear if this is codegen, GC, VM, or what, or even whether they are related. I looked at a crashdump - it is a corruption.

[2022-08-11 03:57] jeffhandley commented on #70321
@AraHaan Can you provide some more background on your scenario and how our current packaging causes you challenges? As @huoyaoyuan said, we won't make changes here for the sake of wildcard-version handling.

[2022-08-11 03:57] #69396 closed

[2022-08-11 03:59] kg commented on #66313
Do we think this needs to happen for 7? I think since the tooling story for this has improved, it might be fine to leave it as-is. I'm also not sure whether it makes sense to change it late in the cycle vs in a preview when we can hear from users about whether it's causing issues.

[2022-08-11 04:01] radical commented on #66313
I agree. Moving to 8.0 . @lewing please change if you think we should try something here

[2022-08-11 04:02] #70590 closed

[2022-08-11 04:03] carlossanlop commented on #72408
Undoc APIs as of Preview6:

<details>

| Summary  | Parameters | TypeParameters | ReturnValue | API                                                                                                                                                                                                                     |
|----------|------------|----------------|-------------|------------------------------

[2022-08-11 04:03] #57207 closed

[2022-08-11 04:03] kg commented on #53228
I don't think we'll be offering any special solutions for this in 7, because the exception is necessary to alert users to patterns that will not work. If you need assistance figuring out how to work around the constraint feel free to reply. In future releases you'll have the option of threads.

[2022-08-11 04:05] carlossanlop commented on #72408
@jkoritzinsky yes, this has happened before. You can use the simple boilerplate message: `Initializes a <see cref="T:YourNamespace.YourType"/> instance with default values.`. You have to add it directly in the xml in dotnet-api-docs.

[2022-08-11 04:10] carlossanlop commented on #72404
Here is the latest list of undoc APIs as of Preview6, which includes the new APIs introduced in that preview:

| Summary  | Parameters | TypeParameters | ReturnValue | API                                                                                                                                                                                        |
|----------|------------|----------------|-

[2022-08-11 04:11] MichalStrehovsky commented on #73695
If the cookies are not random, an attacker can craft a stack corruption with a matching cookie, bypassing the stack guard. I don't think it matters if the value is 0 or 42. It can be kept at 0 to keep things simple.

[2022-08-11 04:12] jeffhandley commented on #71496
I've applied this change, renaming `up-for-grabs` to `help wanted`. I also edited the description of https://github.com/dotnet/runtime/labels/help%20wanted to be `"[up-for-grabs] Good issue for external contributors"`. That ensures the `help wanted` label is displayed when adding a label and typing `"up-for-grabs"`.

![image](https://user-images.githubusercontent.com/1031940/184063638-6e990df2-1e1

[2022-08-11 04:13] #57797 closed

[2022-08-11 04:13] jeffhandley commented on #61964
We were not able to finish this list. Changing the milestone to Future to keep the epic alive. More of these analyzers will be considered as part of .NET 8 planning.

[2022-08-11 04:17] #72866 closed

[2022-08-11 04:20] #73660 closed

[2022-08-11 04:23] mrsharm commented on #73324
Hi @atarz,

I am still taking a look at this issue and have made a couple of observations based on taking a look at your trace and my attempt at repro'ing:

1. Since we are specifically allocating on the LOH, we aren't compacting and all the GCs are Background GCs which could explain the high increase in memory.
2. In my repro and the trace provided, I am observing a low GC pause time based on the

[2022-08-11 04:25] AndyAyersMS commented on #72578
Thanks @AntonLapounov -- sounds like real progress. Hopefully not too hard to fix.

[2022-08-11 04:26] gregsdennis commented on #49144
Does this need .net changes? I thought it was a VS issue.

[2022-08-11 04:28] deeprobin commented on #71496
Great 👍🏼

[2022-08-11 04:28] mavnorthwind commented on #73710
[This document](https://github.com/dotnet/sdk/blob/38ee26994c512ad3e53de801e06feddc73b47662/documentation/specs/runtime-configuration-file.md#runtimeoptions-section-runtimeconfigjson) describes the additionalProbingPaths setting.

[2022-08-11 04:28] jeffhandley commented on #73690
Thanks for reporting this, @HSchwichtenberg. I've logged a bug in the internal issue tracker for our blog site capturing the helpful details you provided.

[2022-08-11 04:28] #73690 closed

[2022-08-11 04:44] bartonjs commented on #72401
@carlossanlop Most of what's in that table, other than COSE, is virtual members that aren't overridden (at least, not on their relevant platform)... and currently show up just fine.

e.g. https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.rsacng?view=net-6.0 has (inherited) docs for TrySignHash.

[2022-08-11 05:10] jeffhandley commented on #73210
Thanks, @MattGal!

[2022-08-11 05:10] #73210 closed

[2022-08-11 05:12] jeffhandley commented on #69775
This analyzer work will happen after the RC1 snap, so this issue will carry past our "zero bugs" goal at the snap.

[2022-08-11 05:24] jeffhandley commented on #73386
I booked a meeting for Thursday so we can discuss our options.

[2022-08-11 05:25] jeffhandley commented on #73386
Good points there, @bartonjs. Thanks.

[2022-08-11 05:33] radical commented on #49144
AFAIU, this is dependent on us getting a setting from VS, based on which we can decide the behavior. See https://github.com/dotnet/runtime/pull/71464 .

[2022-08-11 05:34] Varorbc opened #73746 "FileSystemWatcher Notifications / Wait for Completion"
Copied from original issue: https://github.com/Microsoft/dotnet/issues/437

[2022-08-11 05:36] skyoxZ commented on #71496
The link on README.md also needs to change.

[2022-08-11 05:44] #15377 closed

[2022-08-11 05:45] adamsitnik commented on #72406
This particular namespace is @dotnet/area-system-security

[2022-08-11 06:04] AraHaan commented on #70321
The dependencies to EventLog is already in the shared framework and reference packs. I can also see people having generic use of it which is also a reason why I think that EventLog should go into the base shared framework, instead of as a package, unless something depends on a newer prerelease version of it that is not part of the base shared framework yet.

Also it would help reduce nuget package

[2022-08-11 06:05] JulieLeeMSFT commented on #73628
Assigned to @jakobbotsch for VN bug.

[2022-08-11 06:05] buyaa-n commented on #7430
There is explicit operators for `UIntPtr` to `void *` and vise versa https://docs.microsoft.com/en-us/dotnet/api/system.uintptr.op_explicit?view=net-6.0#system-uintptr-op-explicit(system-void*)-system-uintptr, so I think it should just work similarly how it works for IntPtr

[2022-08-11 06:29] Mr0N commented on #73709
well, if so, then everything is now recorded in the main thread, what's the difference.

[2022-08-11 06:54] szmcdull commented on #64969
Yes i can still reproduce it.

[code]
publish the program to linux
[code]
Run it.
Start a new Terminal, find the process of the program then kill it using the linux `kill` command.
Test if the program prints `Got SIGINT/SIGQUIT `.

[2022-08-11 06:58] d00lar commented on #73614
ok sory for trouble. it is working like that
is its not working when im connected to vpn so guess cisco somehow block this connection when not on localhost directly.

[2022-08-11 07:30] Mr0N commented on #73709
Well, as if it is already doing it now, why not add a property for convenience

[2022-08-11 07:40] radical commented on #73614
Closing this based on @d00lar's comment. This was a network issue, with VPN software causing an issue here.

Maybe @javiercn will know?

Also, @javiercn feel free to re-open this if there is anything to be done here. Could there be better error detection about this kind of a case?

[2022-08-11 07:40] #73614 closed

[2022-08-11 07:45] radical commented on #73700
We have made lot of improvements for incremental builds. Could somebody please verify that this is still an issue with the latest 7.0 previews?

[2022-08-11 07:49] PathogenDavid opened #73750 "`MissingMethodException` created with class+method name constructor has incorrect HRESULT"
### Description

`MissingMethodException` is [documented](https://docs.microsoft.com/en-us/dotnet/api/system.missingmethodexception) as having an HResult of `COR_E_MISSINGMETHOD` (0x80131513).

However, a `MissingMethodException` created via the [`string? className, string? methodName` constructor](https://docs.microsoft.com/en-us/dotnet/api/system.missingmethodexception.-ctor?view=net-7.0#system-

[2022-08-11 08:12] radical commented on #73700
I tried with `7.0.100-rc.1.22410.13`:
1. `dotnet new blazorwasm`
2. `dotnet publish -c Release`
3. `dotnet publish -c Release` (no changes) - dotnet.wasm wasn't rebuilt this time

This was the output from the second publish:
[code]

I tried the same thing with `RunAOTCompilation=true` also. And output from the second publish:
[code]

[2022-08-11 08:14] atarz commented on #73324
Hi @mrsharm
I think I found the source of the problem. When I disable TieredCompilation everything goes back to normal and I get faster and less memory usage than net 6.

I've tried this on many different machines. 8 cores 4 cores, 16gb 32gb memory, i7 , i5 i9 processor. I got similar results on all of them.

net 7
TieredCompilation:true
ServerGarbageCollection:true
Max peek memory:2.4 gb
Process

[2022-08-11 08:14] RussKie commented on #23937
@danmoseley please excuse my ignorance, what's DCR?

[2022-08-11 08:17] mrsharm commented on #73324
@atarz, thanks for confirming this is fixed! Will close this issue.

[2022-08-11 08:20] jakobbotsch commented on #73728
[code]

Not sure if this is a crossgen or VM problem.

[2022-08-11 08:21] maciejpieprzyk opened #73754 "COM event with recursion .net 6 problem"
### Description

We are using a system that exposes UI interface using COM objects. It is an external application so I cannot send a minimal reproduction source code of a problem.  I will try to explain the whole workflow.

#### Background information

There is an application interface (COM) that exposes event.

Event declaration in the App interface:

[code]

Delegate definition:

[code]

There i

[2022-08-11 08:22] radical commented on #73721
I tried debugging this on helix with https://github.com/dotnet/runtime/pull/73743 .

With the exception, I also printed the list of files, and directories in the temp path, before and after the `mkdtemp` call.
[Log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-73743-merge-acebb43380d445c183/WasmTestOnNodeJs-System.CodeDom.Tests/1/console.056de6e8.log?helixlogtype

[2022-08-11 08:35] jkotas commented on #71496
Yes, there are number of links in the repo that need to be updated.

[2022-08-11 08:40] jkotas commented on #73324
It is not expected for tiered compilation to cause regressions in memory usage of this magnitude.

[2022-08-11 08:41] mayadav1 opened #73755 "ninja: build stopped: subcommand failed."
Command failed with following error :
  build.cmd clr+libs -c debug -a x64

Error :
  waiting for C:/Users/mayadav1/runtime/artifacts/obj/win-x64.Debug/corehost/test/typelibs\dlldata.c ...
  ninja: build stopped: subcommand failed.
  Failed to generate native component build project!

dlldata.c is present above path.

[2022-08-11 08:47] En3Tho commented on #73324
@atarz can you confirm that enabling tiered compilation regresses both wpf and console runs please? Could this be somehow tied to wpf? And how complex was that wpf app you collected traces from?

[2022-08-11 08:49] jkotas commented on #23937
Design Change Request. It is Microsoft acronym used to describe features that got added after feature complete date. DCRs need some level of approval, the feature teams cannot just go ahead and implement them.

[2022-08-11 09:00] M4ttsson opened #73757 "[API Proposal]: Add "Protected Users" to WellKnownSidType enum"
### Background and motivation

WellKnownSidType is supposed to contain values for all well known SID but it does not contain the Protected Users. It is therefore not possible to use SecurityIdentifier to get a domain specific SID for that group. Current workaround is to search the AD for the group instead and get the SID, or using string replacements, but it would be preferable to use the Security

[2022-08-11 09:02] atarz commented on #73324
Yes, I get the same result in console applications.
wpf application only consists of the following codes

    public partial class MainWindow : Window
    {
        public MainWindow()
        {
            InitializeComponent();
        }

        private void Button_Click(object sender, RoutedEventArgs e)
        {
            int baş = Environment.TickCount;

            for (int i = 0; i < 100

[2022-08-11 09:05] akoeplinger opened #73758 "Follow up on mono toolchain workload PR feedback"
Looks like we missed some feedback from Viktor on this PR: https://github.com/dotnet/runtime/pull/51327#pullrequestreview-651576417

We should address it.

[2022-08-11 09:15] davmason commented on #72432
@kgorro that was a bug where we would inadvertently emit that error message, it should not impact your profiler. It is also fixed in .net 7

[2022-08-11 09:15] #72432 closed

[2022-08-11 09:15] MiguelFernandezCimp commented on #68018
This is impacting my workflow as well, we recently switched to .net for one of our projects and this makes it very annoying and hard to sell :(

@hoyosjs I've seen it happening on any library. You can still press F12 into those methods that are from other libraries / internal and set a breakpoint, that would work. But if you don't do that, and just keep stepping into, then it crashes....

[2022-08-11 09:42] #72578 closed

[2022-08-11 09:48] #51393 closed

[2022-08-11 09:49] #68660 closed

[2022-08-11 09:50] DoomerDGR8 opened #73765 "System.MissingMethodException: Method not found: 'Char ByRef System.Runtime.InteropServices.Marshalling.Utf16StringMarshaller.GetPinnableReference(System.String)' => System.DirectoryServices.DirectorySearcher.FindOne()"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have this utility class that was working with the last preview for .net 7. After updating, it started to crash.

[code]

### Expected Behavior

Ideally, get the thumbnail of the user from Active Directory

### Steps To Reproduce

_No response_

### Exceptions (if any)

[code]

### .NET Vers

[2022-08-11 09:55] danmoseley commented on #73721
Also note that CreateTempSubdirectoryCore ought to be passing the path to ThrowExceptionForIoErrno so that it appears in the error message.

[2022-08-11 10:03] karelz commented on #72227
Marking it 7.0 as it now tracks also OSX -- though it is not 100% clear it is the same problem.

[2022-08-11 10:07] karelz commented on #72403
@carlossanlop which APIs are now remaining to be tracked by this issue? `System.Net.Http.Json.HttpClientJsonExtensions`?

[2022-08-11 10:16] danmoseley commented on #73721
I may be misunderstanding the translation that node is doing here but if 20 is a windows error (and if it isn’t then we generally won’t throw the right exception) it means “ The system cannot find the device specified.”.

[2022-08-11 10:25] mfkl commented on #47563
If it breaks too many people for apps that are currently working fine, I agree with @stephentoub that an opt-out is not worth doing.

Using `AppContext.SetSwitch` for this as an opt-in is not something I had considered though, and it could be a good fit. It'd allow both
- keeping the public APIs unchanged for these 2 Stream subtypes,
- and allowing to switch the feature on/off without needing to c

[2022-08-11 10:28] greatvovan commented on #72245
Just a heads up regarding the latest comment from @ViktorHofer that mentions _System.Diagnostics.EventLog.Messages_ assembly.

Please note that there is no mistake in assembly names in the problem statement of this issue. Two assemblies involved in sending messages to Event Log are _System.Diagnostics.EventLog_, and _EventLogMessages_. The former is creating the registry key and putting the refere

[2022-08-11 10:36] huoyaoyuan commented on #73755
For any build issue, it's better to clean your `artifacts` directory (or `artifacts\obj`) and try a clean build again.

[2022-08-11 10:38] jakobbotsch commented on #72824
No luck reproing this after running in a loop for a few hours. Going to assume it's fixed, let's reopen if we see another instance.

[2022-08-11 10:38] #72824 closed

[2022-08-11 10:44] #73371 closed

[2022-08-11 10:45] huoyaoyuan commented on #73709
The definition of "error" looks extremely unclear.

When is it involved? A business logic failure, or the process fails to load some necessary library?
What about error level? Some errors are recoverable, some are fatal, and some are simply ignorable - some programs reports "nothing to do" as error.
Where to achieve the state of the process? Stderr is very often used for informational logging. Som

[2022-08-11 10:50] huoyaoyuan commented on #73709
Can a user who has not read the documentation understand that the main stream will not output anything if there was an error?

For example: `curl.exe -v` uses stdout for HTTP payload, and stderr for verbose information about connection. Stderr is used as a "control" stream in fact.

[2022-08-11 10:54] JimBobSquarePants commented on #71210
Now I just need to add ARM64 intrinsics and somehow snag a CI platform to test them in!

[2022-08-11 10:59] ox7a59 commented on #49377
Hello!
Any news on fixing this vuln? Still in newest runtime Docker Image we have old version with RCE.

[2022-08-11 11:16] danmoseley commented on #73721
Dumping some notes.

https://github.com/dotnet/runtime/pull/73743/files#diff-adfbd90ca2109cd4336860b1887e017b91ee3222515e9a762963b3bfb3b54086R58
->
https://github.com/nodesource/mkdtemp/blob/master/index.js#L119
->
https://github.com/libuv/libuv/blob/v1.x/src/win/fs.c#L1228
->
https://github.com/libuv/libuv/blob/d54c92e3e68f0b8152617d8e97f704dd1e586bd6/src/win/fs.c#L79
->
https://cs.github.com/lib

[2022-08-11 11:21] mkhamoyan commented on #55070
Still hitting an error , checked on CI https://github.com/dotnet/runtime/pull/73619

[2022-08-11 11:21] mkhamoyan commented on #55071
Still hitting an error , checked on https://github.com/dotnet/runtime/pull/73619

[2022-08-11 11:30] danmoseley commented on #73721
Also where is "File exists" coming from? Not libuv's strerror, for either ENODIR or EEXIST:

https://github.com/libuv/libuv/blob/8bcd689c048af5aab26842ac5ff903fa3192d57c/src/uv-common.c#L212
->

https://github.com/libuv/libuv/blob/06948c6ee502862524f233af4e2c3e4ca876f5f6/include/uv.h#L122

[2022-08-11 11:32] En3Tho commented on #73324
![image](https://user-images.githubusercontent.com/37334640/184124006-f1b26296-89b3-418f-8ffe-725a8d8c186e.png)

Tiered compilation is on the right. Seems like I can''t go further though to see what exactly causes those page faults.

These are from 7.0.100-preview.6.22352.1

[2022-08-11 11:43] ilonatommy commented on #61600
@lambdageek, isn't the issue solved?

[2022-08-11 11:43] #61600 closed

[2022-08-11 11:49] #44865 closed

[2022-08-11 11:51] En3Tho commented on #73324
[code]

I changed code to this so it does some real work and there is no difference between tiered and non-tiered.
Basically that test above was just showing that Jit is smart and can erase code that does nothing :)

[2022-08-11 11:53] danmoseley commented on #49377
Which docker image?

[2022-08-11 11:55] mayadav1 commented on #73755
@huoyaoyuan Thanks for addressing my issue . I tried to clean build before build. I tried again but faced the same issue.
I tried to clean the build with the help of "git clean -xdf".
Please extend your help .

[2022-08-11 11:55] En3Tho commented on #73324
I'm still interested what was happening inside that loop because it still showed about 2.5 seconds of running. So maybe that was some kind of alloc only once and reuse array optimization? I can only wonder.

[2022-08-11 11:56] ox7a59 commented on #49377
@danmoseley https://hub.docker.com/_/microsoft-dotnet-runtime

[2022-08-11 12:02] MichalPetryka commented on #73324
@En3Tho The only issue is that iirc @EgorBo made the JIT remove unused array allocations in .Net 7, which means that .Net 6 should have the same issue. Worth to note that in .Net 6, methods with loops aren't tiered by default, this was changed in .Net 7.

[2022-08-11 12:05] #68898 closed

[2022-08-11 12:10] En3Tho commented on #73324
I've rerun with Net6 and got:

My example:
not tiered: 85203
tiered: 83844
But fun thing is that memory was jumping from 40 mb to 2gb so it consumed much less memory (vs constant almost 5 gigs) but GC pauses were like really noticeable even in console.

Original example:
tiered: 2609
non-tiered: 2562

I can't see difference between tiered and non-tiered with 6.0.302

[2022-08-11 12:16] performanceautofiler[bot] opened #73784 "Regressions from "make SIP not on by default""
### Run Information

Architecture | arm64
-- | --
OS | ubuntu 20.04
Baseline | [7f317997e9d0baeb21ce7a1889d3330a13ffd0a1](https://github.com/dotnet/runtime/commit/7f317997e9d0baeb21ce7a1889d3330a13ffd0a1)
Compare | [6274ea7365b7124d4451aab3e73712763e71183b](https://github.com/dotnet/runtime/commit/6274ea7365b7124d4451aab3e73712763e71183b)
Diff | [Diff](https://github.com/dotnet/runtime/compare/7f3

[2022-08-11 12:16] performanceautofiler[bot] opened #73783 "Regressions from "More precise writebarrier for regions""
### Run Information

Architecture | arm64
-- | --
OS | ubuntu 20.04
Baseline | [b8ffae56d3269050ec84551fad44835536deffb3](https://github.com/dotnet/runtime/commit/b8ffae56d3269050ec84551fad44835536deffb3)
Compare | [f19591801305bc61f353ab91c65e50360175b44c](https://github.com/dotnet/runtime/commit/f19591801305bc61f353ab91c65e50360175b44c)
Diff | [Diff](https://github.com/dotnet/runtime/compare/b8f

[2022-08-11 12:16] performanceautofiler[bot] opened #73782 "Regression from "Mark phase prefetching""
### Run Information

Architecture | arm64
-- | --
OS | ubuntu 20.04
Baseline | [f58a7902a0b4fc9914494de820a7aae8045abd48](https://github.com/dotnet/runtime/commit/f58a7902a0b4fc9914494de820a7aae8045abd48)
Compare | [b8554beea57afb5d75c55c8ea19ec9965b8917fe](https://github.com/dotnet/runtime/commit/b8554beea57afb5d75c55c8ea19ec9965b8917fe)
Diff | [Diff](https://github.com/dotnet/runtime/compare/f58

[2022-08-11 12:23] MichalPetryka commented on #73324
You can enable the .Net 7 behaviour on .Net 6 with `DOTNET_TC_QuickJitForLoops=1` and `DOTNET_TC_OnStackReplacement=1`.

[2022-08-11 12:30] En3Tho commented on #73324
Ii'm unable to see any difference with Net6 with DOTNET_TC_QuickJitForLoops=1 and DOTNET_TC_OnStackReplacement=1 enabled

[2022-08-11 12:36] MichalPetryka commented on #73324
Try also with `DOTNET_TieredCompilation=1` and `DOTNET_ReadyToRun=0`, if it still won't be there then this seems like a .Net 7 regression.

[2022-08-11 13:12] eerhardt commented on #73721
What path is that? We are building up a path template like:

`/tmp/XXXXXX`

And then passing that to `mkdtemp`, which will replace the `XXXXXX` with random letters. Would you really expect `/tmp/XXXXXX` to appear in the error message?

[2022-08-11 13:16] SamMonoRT commented on #57131
Assigning to @naricc for accurate tracking

[2022-08-11 13:19] SamMonoRT commented on #52559
Moving to 8.0.0

[2022-08-11 13:22] IainStevenson commented on #73232
@karelz

Some more info that may be of use.

I  enabled '.NET framework source stepping' in my Visual Studio -Tools/ Options menu in the Debugging / General settings.
Then enabled 'break when thrown' for all  in the Visual Studio - Debug / Windows/ Exception Settings menu Common language runtime exceptions

When I re-ran the test in the container it threw this Exception.

[code]

Which corresponds

[2022-08-11 13:23] atarz commented on #73324
@En3Tho  I agree with you. I think there are differences due to optimization.

Here are the results I get when I change the code a little more and make it actually work.
In this case, the tiered compilation has no effect.

        static int  dispnumber = 20000000;

        double[] tut = new double[dispnumber];
        private void Button_Click(object sender, RoutedEventArgs e)
        {

[2022-08-11 13:30] SamMonoRT commented on #61624
I believe all those have improved. We can close this issue. cc @naricc

[2022-08-11 13:38] thaystg commented on #49144
As I discussed with Larry we would like to merge it on our side and hope to get the merge on VS side without any change.
I'll add the tests in the PR and we can merge both of them before RC1.

[2022-08-11 13:42] jonathanpeppers commented on #44855
I don't think it is quite as simple as you describe here. If we called the `<CilStrip/>` task in .NET 6, there is no `cil-strip` executable to run. We need a pack to consume & redistribute it somehow. We could look into how the `ios` workload is doing this, if we can share the same binary.

There is also a "hybrid" AOT mode value set at runtime:

https://github.com/xamarin/xamarin-android/blob/bec

[2022-08-11 13:44] a74nh opened #73769 "Mismatched targets in clrdefinitions.cmake"
### Description

During a build of clr:

[code]

In src/coreclr/clrdefinitions.cmake:
https://github.com/dotnet/runtime/blob/a3fb0d383adf98ee2fb2ab816c28735dc1caaba0/src/coreclr/clrdefinitions.cmake#L65
[code]

The endif just needs updating.

### Reproduction Steps

Complete build on Linux

### Expected behavior

No warnings

### Actual behavior

Warning:

[code]

### Regression?

_No response_

#

[2022-08-11 13:47] karelz commented on #73623
@tannergooding can you please disable the test on those platforms ASAP? It is blocking clean CI -- generating some non-trivial noise.

[2022-08-11 13:48] N0D4N commented on #39425
I believe it is a duplicate of #67445 and should be closed since #67445 is already implemented

[2022-08-11 13:55] jnix-abk opened #73770 "[API Proposal]: System.IO.Compression: Exposing Remaining number of Input buffer bytes to support mixed data blocks."
### Background and motivation

I am working with data that has packed objects that contain header bytes and then a ZLib blob.  The DeflateStream class has an internal buffer that advances the BaseStream to fetch data.  The problem is that the underlying Stream is then advanced past where the ZLib blob ends.  Currently, I have to use reflection to reach down into the object model to get the number

[2022-08-11 14:00] #39425 closed

[2022-08-11 14:03] karelz opened #73771 "Timeout in WasmTestOnBrowser-subtlecrypto-System.Security.Cryptography.Tests"
Test suite `WasmTestOnBrowser-subtlecrypto-System.Security.Cryptography.Tests` started timing out recently -- with first failure on 8/4
- 8/11 - [last 120 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E120+definition%3Aruntime+name%3A%22gc%2Fscenarios%2Ffinalizetimeout%2Ffinalizetimeout%2Ffinalizetimeout.sh%22) shows 27x failures (2x in Rolling runs) only on wasm

Example of fa

[2022-08-11 14:03] karelz commented on #73771
Given the high impact on CI (4x per day), can someone please take a look ASAP? Thanks!

[2022-08-11 14:06] pavelsavara commented on #73721
https://github.com/emscripten-core/emscripten/blob/e05e72d9c49fe15578e73934ce525a894d1b712a/system/lib/libc/musl/src/temp/mkdtemp.c#L6

The NodeJS doesn't have built-in `crypto` unless you get package for it. We have following polyfill just for unit tests
[code]

So I think it's not random enough.

[2022-08-11 14:07] danmoseley commented on #49377
Which tag though?

[2022-08-11 14:08] pavelsavara commented on #73721
oh, it's even more direct to timer, which is not very precise.

https://github.com/emscripten-core/emscripten/blob/e05e72d9c49fe15578e73934ce525a894d1b712a/system/lib/libc/musl/src/temp/__randname.c

[2022-08-11 14:08] mdh1418 commented on #73510
Right, I think that might be here https://github.com/dotnet/runtime/blob/d2c991effcdf543cc60632e5588984aa22dd6772/src/tests/Directory.Build.props#L176-L178 that sets it to `.cmd` instead of `.sh`.
https://github.com/dotnet/runtime/pull/44560#discussion_r546304915
Is this because the android devices on CI are only on Windows? And so we need to add support to run Android runtime tests on OSX?

[2022-08-11 14:12] danmoseley commented on #73721
I figured it would prove it had /tmp on it, but fair enough.

[2022-08-11 14:13] danmoseley commented on #73721
Seems I didn't understand how the stack fits together here 🙂

[2022-08-11 14:14] pavelsavara commented on #73721
I'm wondering how CLOCK_MONOTONIC works here

[2022-08-11 14:15] karelz commented on #73692
I added 1 more affected test -- that one fails on OSX only.

[2022-08-11 14:17] pavelsavara commented on #73771
Should be fixed by https://github.com/dotnet/runtime/pull/73537 please re-open if you see it after merge from main. Many thanks.

[2022-08-11 14:17] #73771 closed

[2022-08-11 14:24] HSchwichtenberg commented on #73690
My pleasure!

[2022-08-11 14:24] karelz opened #73772 "[NativeAOT] System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_ConnectCallback_Http2.ConnectCallback_UseNamedPipe_Success - Exception"
Failures:

Day | Run | Details
-- | -- | --
8/10 | Rolling run PM - [1935157](https://runfo.azurewebsites.net/view/build/?number=1935157) | net7.0-windows-Release-x64-NativeAOT_Release-Windows.81.Amd64.Open
8/10 | Rolling run AM - [1933992](https://runfo.azurewebsites.net/view/build/?number=1933992) | net7.0-windows-Release-x64-NativeAOT_Release-Windows.81.Amd64.Open

Error:
- Example [Console log

[2022-08-11 14:27] naricc commented on #61624
Looking at the perf data, it seems like this specific spike has been resolved. There does seem to be some kind of other creep up word in these benchmarks that we might want to look at in the future, example: https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_x64_ubuntu%2018.04_CompliationMode%3dwasm_RunKind%3dmicro%2fSystem.Collections.AddGivenSize(Int32).Dicti

[2022-08-11 14:31] akoeplinger opened #73774 "Codespaces prebuild often fails with msbuild "Child node "2" exited prematurely""
If you look at the [recent runs of the Codespaces prebuild](https://github.com/dotnet/runtime/actions/workflows/codespaces/create_codespaces_prebuilds) workflow you'll see that almost all of them failed with this error near the end of the build:

[code]

It doesn't seem to be a timeout issue. Maybe it runs out of memory or something?

I couldn't find a way how to upload custom files during a Codes

[2022-08-11 14:32] akoeplinger commented on #73774
@eerhardt do you know how to upload files during a Codespaces prebuild?

[2022-08-11 14:32] tannergooding commented on #73623
I've got a PR up.

It's worth noting this appears to be `blocking-clean-ci-optional`, rather than `blocking-clean-ci`.

[2022-08-11 14:36] uweigand opened #73775 "LibraryImportGenerator tests failing on big-endian target (ref pointer type mismatch)"
On s390x, the LibraryImportGenerator test cases have been disabled a while back: https://github.com/dotnet/runtime/pull/60833/files
I've just tried running them again to check current status, and it looks like the original issue has been resolved, so the tests actually build and execute now.   However, there are a number of test failures, all related to functions using a ref pointer to retrieve an

[2022-08-11 14:39] karelz opened #73776 "[NativeAOT] Timeout: System.Net.Http.Functional.Tests"
Failures in [last 120 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A~120%20definition%3Aruntime-extra-platforms%20name%3A%22system.net.http.functional.tests%20work%20item%22) - 8/5-8/24 (incl. PRs):

Day | Run | Details
-- | -- | --
~8/21~ | ~Rolling run [1957446](https://runfo.azurewebsites.net/view/build/?number=1957446) (7.0-rc1)~ | ~net7.0-Linux-Release-arm64-NativeAOT_Releas

[2022-08-11 14:40] a74nh opened #73777 "testhost missing host files when building with different libraries and host configurations"
### Description

To build on Linux Arm64 or X64 I use:
[code]

After building I would expect to see a fully populated testhost. Eg:
[code]

Instead I just see a shared directory:
[code]

Has something changed to stop the dotnet and host/ being generated?

### Reproduction Steps

On Linux:
[code]

### Expected behavior

artifacts/bin/testhost/net7.0-Linux-Release-arm64/ would contain a fully popula

[2022-08-11 14:42] eerhardt commented on #73721
So it gives 100 retries of random names, and then gives up. Do we need to clean some `/tmp` folders in between runs? or ensure tests are cleaning out their tmp folders?

[2022-08-11 14:54] IainStevenson commented on #73232
Just so everyone is sure that something actually came back from the ICMP request, this is the 'tcpdump' of such a test;

[code]

BTW: The 'ICMP time exceeded in-transit' had me looking twice but that is what you get from a 'traceroute -I  8.8.8.8'

[2022-08-11 14:59] DaneSpiritGOD opened #73778 "EventLogWatcher's Dispose has unreachable code which will lead to resource leak"
As we can see in the implementation, there is no call to `Dispose(false)`. In general, there should be `~EventLogWatcher` to call it.
The for loop is unreachable and `eventBuffer` would never be released.

[code]

[2022-08-11 14:59] DaneSpiritGOD commented on #73778
I have received.

[2022-08-11 15:00] filipnavara commented on #73232
I appreciate the debugging you do! I was already convinced that the TTL packet reach the Linux VM (confirmed by `ping` utility working and Wireshark seeing the packets on the outside).

Sorry for the lack of feedback, I am hampered both by a lack of understanding of the raw socket details and health issues.

[2022-08-11 15:35] krwq commented on #51353
@GrabYourPitchforks I think we should pull the trigger right after 7.0 snap and have this smoke out through entire 8.0 period

[2022-08-11 15:43] #60093 closed

[2022-08-11 15:54] TonyValenti opened #73779 "[API Proposal]: Specialized Sql Exception Type for Duplicate Key Values"
### Background and motivation

When a duplicate key value interrupts a SQL command, you get a SqlException with a message like this:
[code]

It would be really nice if the duplicate key value was available as a property.

### API Proposal

[code]

### API Usage

It is a new exception that would be thrown.

### Alternative Designs

_No response_

### Risks

_No response_

[2022-08-11 15:57] karelz commented on #73377
@ManickaP has a local repro, investigating now

[2022-08-11 16:07] karelz commented on #73674
Triage: If we have bug in code, we should fix it and also address any docs problems.
Not a regression, so not critical for 7.0.

[2022-08-11 16:08] jkotas commented on #73765
You have a mix of .NET preview 6 and preview 7.

There was a breaking change between preview 6 and preview 7. Mixing and matching bits that came from different previews is not supported. Please update everything to latest preview.

[2022-08-11 16:08] #73765 closed

[2022-08-11 16:10] jkotas commented on #73769
@tommcdon This was introduced in your recent PR.

[2022-08-11 16:11] karelz commented on #73688
Triage: We should look into that.
@CarnaViire is running stress locally to get a repro, but couldn't reproduce it just yet. We might punt to 8.0 it if we won't be able to find anything useful.

[2022-08-11 16:12] eerhardt commented on #73721
Would one option here be:

For wasm only, in SystemNative_MkdTemp, write a loop of calls to `mkdtemp`, check if the error is EEXIST, delay for a bit, and then try again?

[2022-08-11 16:12] wfurt commented on #73232
This may be because we call `Connect` on the socket. I should be able to take a look once my 7.0 queue is empty.
Adding @tmds just in case

[2022-08-11 16:25] jhudsoncedaron opened #73781 "[API Proposal]: Guid from int128 and Guid to int128"
### Background and motivation

We have new type Int128 that is the same size as a Guid. I'd pretty much like to use it everywhere I have byte[16]; and just not allocate the arrays for dealing with Guid.

[code]

I'd really like the int128 values to exactly match the in-memory values of the bytes in the byte[16] array.

Or put another way, the following (bad) way to write the constructor: `public G

[2022-08-11 16:30] kunalspathak commented on #73782
From https://github.com/dotnet/runtime/pull/73375 @PeterSolMS

[2022-08-11 16:33] kunalspathak commented on #73783
@PeterSolMS

[2022-08-11 16:35] kunalspathak commented on #73784
@Maoni0

[2022-08-11 16:37] jeffhandley commented on #65021
We've not had any more hits on this. It was probably the memory corruption issue.

[2022-08-11 16:37] #65021 closed

[2022-08-11 16:38] kunalspathak commented on #73783
Windows/arm64 regression could be related: https://github.com/dotnet/perf-autofiling-issues/issues/7243

[2022-08-11 16:40] jeffhandley commented on #73500
We don't have a checklist, but I just had the same thought, @davidfowl. I'd support doing this in RC1/RC2 ask mode with the bar check of "incomplete feature."

[2022-08-11 16:48] IainStevenson commented on #73232
There is a load of event source logging going on down inside Sockets.
I was wondering if the NetEventSource tools would show any light on it but I am struggling to get collection working on my container.  Following the instructions [here](https://docs.microsoft.com/en-us/dotnet/core/diagnostics/trace-perfcollect-lttng), [here](https://docs.microsoft.com/en-us/dotnet/core/diagnostics/diagnostics-in

[2022-08-11 16:51] #31619 closed

[2022-08-11 16:53] jakobbotsch commented on #73606
F# may have a similar bug, though it does not have compound operators, so I'm not quite sure what the output is supposed to be.
@TIHan helped me translate to the F# source
[code]
The generated IL for `Shift` is
[code]
which also prints "Goo" followed by "Bar" (when the JIT bug does not trigger).
@dsyme What is the expected behavior of the F# source code here?

[2022-08-11 17:00] RobertHenry6bev opened #73789 "asan reports mismatched new[] vs delete"
### Description

static member function OnRemovePerEntryCleanupAction in src/coreclr/vm/crossloaderallocatorhash.h deletes storage  that was previously allocated with new BYTE[...].  This causes address sanitizer (asan) to complain at runtime that there are mismatches of the new/delete new[]/delete[] protocol.

### Reproduction Steps

compile and run with clang14 -fsanitize=address

### Expected b

[2022-08-11 17:07] SimenCTan commented on #68808
After updating dotnet sdk 6.0.400 this issue still exist，is there an update ?
@vargaz @rolfbjarne

[2022-08-11 17:14] pavelsavara commented on #73721
busy wait ? no thank you :)

[2022-08-11 17:15] joperezr commented on #73433
I'm taking a look at this by trying to analyze the dump so I can get which test is causing this.

[2022-08-11 17:16] ayousuf23 opened #73791 "Entry names in tar archive have `\\` instead of a single `\`"
### Description

When adding entries to a tar archive using `TarWriter` class, if an entry name contains `\` (e.g. a path with one or more directories) (which is escaped in .NET as `\\`), the entry name in the archive has `\\` instead of a single `\`.

### Reproduction Steps

[code]
Then call the method `AddEntryToTarArchive` with appropriate parameters (not shown here for brevity).

### Expected

[2022-08-11 17:16] RobertHenry6bev commented on #73789
https://github.com/dotnet/runtime/pull/73790

[2022-08-11 17:17] ayousuf23 commented on #73791
@carlossanlop

[2022-08-11 17:17] akoeplinger opened #73792 "Compile error in TypeUtilTests.cs: The type 'Uri' exists in both System.Private.Uri and System.Runtime"
This only seems to happen in iOS/tvOS/Android jobs: https://dev.azure.com/dnceng/public/_build/results?buildId=1936445&view=logs&j=b6e5d97f-d4f8-506b-9e47-e3e32385754a&t=19675e64-e10d-5dfb-008e-ff58b683bfa1

[code]

Presumably it is related to https://github.com/dotnet/runtime/pull/73087

[2022-08-11 17:19] danmoseley opened #73793 "Add more entropy to GetTempFileName() on Windows"
On Unix, GetTempFileName() [wraps](https://github.com/dotnet/runtime/blob/06060cde583c57820bd6578171c352c5e635b000/src/libraries/System.Private.CoreLib/src/System/IO/Path.Unix.cs#L99) mkstemps, requesting 6 characters of entropy, which should enable about 62^6 = approx 6 x 10^10 possible names, in a pattern like `tmpCkPaMC.tmp`. Through mkstemps it creates an empty file with that path. Presumably

[2022-08-11 17:24] #62988 closed

[2022-08-11 17:33] jkoritzinsky opened #73794 "AccessViolationException should not be catchable"
### Description

When an AccessViolationException is thrown, the exception is supposed to be uncatchable. With recent changes in the reflection-invoke machinery, an AccessViolationException that is thrown through reflection-invoke is wrapped in a catchable TargetInvocationException.

This was discovered when updating dotnet/arcade to Preview 7 from Preview 5 (I've validated that the regression sta

[2022-08-11 17:39] danmoseley commented on #73793
On Windows, we would have a little less variation than Unix, as we need to be case insensitive. So 6 chars would be approx 36 ^ 6 which is 2 x 10^9 - not so great.

It would be better to change to use GetRandomFileName(), which drops the tmp prefix and suffix and creates an 8.3 name with a character set of 32 characters, so 11^32 which is 2 x 10^33 .. vast.

[2022-08-11 17:41] tarekgh commented on #72409
@carlossanlop the following APIs are marked with `inheritdoc`  tag. So when you fix the tool this should be automatically handled.

[M:System.TimeOnly.Parse(System.ReadOnlySpan{System.Char},System.IFormatProvider)](https://github.com/dotnet/dotnet-api-docs/blob/main/xml/System/TimeOnly.xml?rgh-link-date=2022-07-18T21%3A27%3A06Z)
[M:System.TimeOnly.TryParse(System.ReadOnlySpan{System.Char},System.I

[2022-08-11 17:45] AndyAyersMS commented on #73681
Seems odd that we didn't note any perf lab regressions from the initial change.

[2022-08-11 17:49] mangod9 commented on #73728
@trylek @davidwrighton  is this related to a recent change?

[2022-08-11 17:50] buyaa-n commented on #73735
We[ have some tests,](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Runtime/tests/System/Attributes.cs#L243-L323 ) but might need to improve the coverage

[2022-08-11 17:51] marklio commented on #73793
@danmoseley You say "It's time" to make this change, but I'm curious as to why. Is GetTempFileName() really a source of problem for apps today?

Overall, this list is really good. The other thing to consider from a reliability standpoint is that you could turn a stable "out of entropy and can't create a file" error into errors that the app isn't hardened against like being out of disk space or oth

[2022-08-11 17:51] teo-tsirpanis commented on #73781
I don't think this is a good idea. `Int128` represents an integer that can be used in mathematic operations. `Guid` represents an opaque identifier. These two are fundamentally different types and there is not a single canonical way to convert between them. If my guess that you want to store them in a database is correct, I would recommend you to store them either as a number if your DBMS supports

[2022-08-11 17:53] jhudsoncedaron commented on #73781
@teo-tsirpanis : It has more to do with eliminating allocations than anything else.

[2022-08-11 17:55] teo-tsirpanis commented on #73781
Yeah I imagine. You should reach out to the maintainers of the DBMS and its drivers. Maybe there could be a new API in ADO.NET but I don't know how it would look like.

[2022-08-11 17:55] jaredpar commented on #73606
@jakobbotsch

What is the type of loc 0 for the F# case? Changes the meaning of the IL if it's a ref / non-ref

[2022-08-11 17:57] jhudsoncedaron commented on #73781
@teo-tsirpanis : You imagine badly. I am working on the logical equivalent of being the DBMS driver.

[2022-08-11 17:58] mangod9 commented on #73653
fixed by https://github.com/dotnet/runtime/pull/73761

[2022-08-11 17:58] #73653 closed

[2022-08-11 17:58] jxbrenner commented on #44855
I have no doubt my understanding of the problem is superficial and incomplete. Thanks for taking the time to help me understand better. So hybrid isn't just some arbitrary value name for the AndroidAotMode build property, it's the setting for mono_jit_set_aot_mode that tells the runtime to still include the JIT so it can execute IL stripped assemblies with dynamic features?

So is the path forward

[2022-08-11 17:58] mangod9 commented on #73679
Fixed by https://github.com/dotnet/runtime/pull/73761

[2022-08-11 17:58] mangod9 commented on #73692
Fixed by https://github.com/dotnet/runtime/pull/73761

[2022-08-11 17:58] #73692 closed

[2022-08-11 17:59] JulieLeeMSFT commented on #55364
Moved to .NET 8 to finish the remaining work.

[2022-08-11 18:03] fanyang-mono commented on #71210
Arm64 intrinsics for Vector4 has been added via https://github.com/dotnet/runtime/pull/72124

[2022-08-11 18:05] jakobbotsch commented on #73681
I agree, I opened https://github.com/dotnet/performance/issues/2553 for that.

[2022-08-11 18:07] #50761 closed

[2022-08-11 18:10] tarekgh commented on #72404
I opened the [PR](https://github.com/dotnet/dotnet-api-docs/pull/8298) to handle the `UpDownCounter<T>` issue

[2022-08-11 18:11] mangod9 commented on #73324
so appears to be a non-issue. Ok to close?

[2022-08-11 18:13] mangod9 commented on #66707
Hi @AntonLapounov , since Jan is out could you please check if this repros on .NET 6? If so it might not block 7.

[2022-08-11 18:13] elinor-fung commented on #73777
I think this is due to mixed configurations not being respected properly now that the testhost uses a live build of the host (https://github.com/dotnet/runtime/pull/73095/files).

`./build.sh -rc checked -lc release` results in a checked runtime, release libraries, and debug host.

The [project](https://github.com/dotnet/runtime/blob/main/src/libraries/externals.csproj) that creates the testhost g

[2022-08-11 18:16] mangod9 commented on #46175
moving this to 8.

[2022-08-11 18:19] mangod9 commented on #61428
as discussed believe its ok to move to 8 since this affects only segments?

[2022-08-11 18:30] teo-tsirpanis commented on #73781
Something you could do is write the `Int128` to a span of 16 bytes and then read the GUID from them, and vice versa. Both types define methods to read and write from byte arrays (you need to wait until the RC1 for the relevant APIs on `IBinaryInteger`).

It is more predictable with regards to endianness and avoids reinterpret casts.

[2022-08-11 18:31] tommcdon commented on #72404
@buyaa-n would you mind looking at the ConstantExpectedAttribute doc issue?

[2022-08-11 18:31] jkoritzinsky commented on #73794
It looks like an `AccessViolationException` even unwrapped can be caught now in a `catch` clause as well. Changing the area to ExceptionHandling.

cc: @janvorli

[2022-08-11 18:32] RobertHenry6bev commented on #12684
There are numerous places gcc-12 complains about memset being called to zero the entire object when the object is not Plain Old Data (POD).  (The C++ standard haas a more encompassing definition than POD.)

Consider https://github.com/dotnet/runtime/blob/3e0a5adaefc0936bdb8ec4b152914b5c996c97c6/src/coreclr/vm/syncblk.h#L631
InteropSyncBlockInfo has a lot of non-trivial data, some of which will (li

[2022-08-11 18:34] sec commented on #71338
Few things to update:
1. I've did sync with main branch of runtime and checked it still compile under Linux (cross) and native (FreeBSD aarch64 host, only runtime and native bits) - cross compiled runtime works under FreeBSD/aarch64 host. Hope that PR will get into main at some point.
2. @Thefrank - I've made system wide "quick fix" to libunwind (@janvorli `return 0`) and did check of your `https:

[2022-08-11 18:39] tarekgh commented on #72409
I opened the [PR](https://github.com/dotnet/runtime/pull/73801)  to add the missing doc tags to the sources.

[2022-08-11 18:40] vitek-karas commented on #73764
It should look for SDK next to the `dotnet` executable. So based on the output - your setup picks `dotnet` in `/usr/lib/dotnet/dotnet6-6.0.108` and there is probably no SDK installed there. I don't know what would put it there (standard package installers should put it into `/usr/share/dotnet`.

[2022-08-11 18:42] sec commented on #14537
@Thefrank Native builds are find (did latest v6 and v7 preview) under 13. I think doing cross using 12 docker should be fine - question is, as RC is almost here (I saw binaries are there) - as there are few minor patches needed for native build (don't know if those are needed also when doing crosscompile) - maybe we should make a plan to publish v7 on https://github.com/dotnet/runtimelab/ - making

[2022-08-11 18:43] AntonLapounov commented on #66568
@VincentBu I am wondering whether this test is still failing.  How did you get the table of jobs in which this test failed?

[2022-08-11 18:46] eerhardt commented on #73793
Note that in https://github.com/dotnet/runtime/issues/72881#issuecomment-1203064309, it was approved to hide `Path.GetTempFileName()` and instead expose `File.CreateTempFile(string? prefix = null, string? suffix = null);`.

We could leave `GetTempFileName()` as-is today, and instead make the new `File.CreateTempFile` have "more entropy". We will need to write the logic ourselves anyway on Windows

[2022-08-11 18:47] danmoseley commented on #73793
It is just as easy to leak (easier actually as you point out since it will take longer to fail). The robustness is simply that it prevents another app's leak from breaking your app. Something that can easily happen today as the space is quite small and Windows has no automated daemon that cleans up temp. It need not be a bug in an app -- imagine you commonly kill apps (installers eg) that write te

[2022-08-11 18:49] danmoseley commented on #73793
We could, but realistically hiding it only redirects newly authored code, there will always be a vast amount of code that uses the existing method. It would be nice to make that more robust/faster, as long as the breakingness is very low.

[2022-08-11 18:52] adamsitnik opened #73804 "[arm64] JIT assertion failures for valid C# code"
In https://github.com/dotnet/runtime/pull/73768 I've wrote quite complex, but valid (it defnitely works fine on x64) C# code that produces JIT assertion failures on arm64:

Sample run: https://github.com/dotnet/runtime/pull/73768/checks?check_run_id=7793120898

Sample log: https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-73768-merge-b3d703c3580445e6b2/JIT.1.Attempt.3

[2022-08-11 18:53] DoomerDGR8 commented on #73765
@jkotas, I don't mix SDK version but your comment did remind me to check mu global.json which was still pointing to the last preview whereas I had upgraded the packages. So I bumped my global.json:

[code]

Fixed.

[2022-08-11 18:54] onehourlate commented on #73703
Made a PR (https://github.com/dotnet/runtime/pull/73803), if it helps
(I just skimmed the guidelines, so sorry if I missed something ...)

Changes in the BypassArrayList are tracked by a DirtyFlag
RegexList is only updated if DirtyFlag is set
Added a few unit tests (one unit test uses reflexion : not sure if it's "allowed")

[2022-08-11 18:58] mangod9 commented on #57621
Closing since a related bug https://github.com/dotnet/runtime/issues/72565 has been fixed. If this occurs again please reopen.

[2022-08-11 18:58] #57621 closed

[2022-08-11 19:00] RobertHenry6bev commented on #12684
I went through and added gcc diagnostic suppressions throughout the code  base as needed to get to compile with gcc12.

There were 41 files changed with ~50 changes.  See attached  file
[robhenry-memaccess-pragma.txt](https://github.com/dotnet/runtime/files/9311368/robhenry-memaccess-pragma.txt)

It is conceivable that the CONTRACT semantics of some of the callers to memset tell some compiler that

[2022-08-11 19:04] mangod9 commented on #60382
the latest assert with ` m_alignpad == 0` is now fixed. This appears to be a dupe of that. Please reopen if this is still occurring on latest builds.

[2022-08-11 19:04] #60382 closed

[2022-08-11 19:04] thaystg commented on #42489
Can we close this issue, I think it's not happening anymore, right?

[2022-08-11 19:07] mangod9 commented on #61151
Closing for now, if this repros again please reopen.

[2022-08-11 19:07] #61151 closed

[2022-08-11 19:08] mangod9 commented on #67101
@DrewScoggins is this issue actionable? Based on the charts this looks like its within the range of what things were in 6?

[2022-08-11 19:15] JulieLeeMSFT commented on #73804
@BruceForstall, PTAL.

[2022-08-11 19:16] AntonLapounov commented on #66707
From the original post:

[2022-08-11 19:18] mangod9 commented on #66707
ah ok, sorry missed that. We can leave in 7 to investigate but probably would not make it into 7.

[2022-08-11 19:26] BruceForstall commented on #73804
You should never hit a JIT assert under any circumstance.

cc @tannergooding in case I'm wrong w.r.t. hw intrinsics

[2022-08-11 19:28] trylek commented on #73728
This is certainly a Crossgen2 problem. David has a PR open for a layout fix, I'll investigate whether it also fixes this issue, otherwise I'm not aware of any recent Crossgen2 layout change.

[2022-08-11 19:28] eerhardt commented on #73721
It's better to throw an exception?

@tmds @omajid - do you happen to know how many retries a "normal" `mkdtemp` implementation tries before giving up? [100 retries](https://github.com/emscripten-core/emscripten/blob/e05e72d9c49fe15578e73934ce525a894d1b712a/system/lib/libc/musl/src/temp/mkdtemp.c#L6) seems to be awfully small.

[2022-08-11 19:29] jonathanpeppers commented on #44855
I don't think you'll actually be able to do the stripping part easily -- so we're just checking if things at runtime work at all.

[2022-08-11 19:29] #73324 closed

[2022-08-11 19:29] jakobbotsch commented on #73606
Full decompiled IL:
[code]

[Sharplab link](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AbEAzAzmgFxAEsMAfCABxgDsACAZQE9cCYBbAWACgCnq6ASQCyEAG4wAhsAww6AXh51ldaayiSwBOgAUIuYgWIR6IOsRraA7oYAWdAOYwCaOrmdLlPPgMFt2ABQAlAqeyuwcwDBQdGKSGHQAcpIRCnQARABCklDpdDYE9k4ubh7cYeaW0diaciLiUjJyBbYVKnQR7FExhcS4AHR6BkYmbe0qLY7OwWkAwia4ELL9AOpQhjAAMhZyACTpQ4bG9MV02NDm/nQA5ADevQPJEQC+1+kA3HQADGPjqjQAE1K2gCcQwAFc5GYLAQ

[2022-08-11 19:35] #73628 closed

[2022-08-11 19:36] SingleAccretion commented on #73804
The issue here is that for some scalar intrinsics (here it is `ArmBase_LeadinZeroCount`) "the base type", which is also "the operation type" is derived from the the first operand. This operand can be small while the operation itself isn't.

Simple reproduction:
[code]

[2022-08-11 19:41] ox7a59 commented on #49377
I run scan with Trivy, after building nuget packages via SDK. I use 6.0-focal tag.

[2022-08-11 19:43] jeffhandley commented on #71496
Thanks. On it.

[2022-08-11 19:50] #73673 closed

[2022-08-11 19:52] jakobbotsch opened #73808 "Runtime_72845 timing out in gcstress"
https://dev.azure.com/dnceng/public/_build/results?buildId=1935562&view=ms.vss-test-web.build-test-results-tab

This is a recently added test so not a regression. The test is comparing two large lists, so likely to be gcstress incompatible, but we should probably verify that there is no deadlock.

[2022-08-11 19:52] lambdageek opened #73809 "Add ability to unit test our custom MS Build tasks"
In addition to our existing tests (in functional tests) and the implicit testing that is done by running the libraries and runtime tests, it might be a good idea to unit test the MSBuild tasks in isolation.

Using something like https://github.com/dellis1972/MSBuildSandbox to mock the MSBuildEngine and execute the task may allow us to identify issues in tasks faster.

(also see https://docs.micros

[2022-08-11 19:53] lambdageek commented on #73809
/cc @maraf

[2022-08-11 19:56] tannergooding commented on #73804
This is correct, assertions shouldn't be hit ever. For recursive intrinsics we should be at worst bailing out in import and causing it to throw a `PNSE` instead, for regular intrinsics we should at worst be falling back to the managed implementation.

[2022-08-11 20:05] tommcdon commented on #73769
Fixed on https://github.com/dotnet/runtime/pull/73787

[2022-08-11 20:05] #73769 closed

[2022-08-11 20:10] jkotas commented on #73794
Regression likely introduced by https://github.com/dotnet/runtime/pull/70428

[2022-08-11 20:18] tarekgh commented on #53459
@explorest you have labeled this issue with `os-alpine` . Does this issue happen on Ubuntu and Alpine too?

[2022-08-11 20:20] buyaa-n opened #73811 "MethodInfo.MakeGenericMethod() used for testing throws MissingRuntimeArtifactException on NativeAOT leg"
### MethodInfo.MakeGenericMethod() used for testing throws MissingRuntimeArtifactException on NativeAOT leg

Found in: [Linux arm64 Release NativeAOT](https://github.com/dotnet/runtime/pull/73520/checks?check_run_id=7707991123) and [windows arm64 Release NativeAOT](https://github.com/dotnet/runtime/pull/73520/checks?check_run_id=7708063485) legs
[Log](https://helix.dot.net/api/2019-06-17/jobs/49a6

[2022-08-11 20:20] Clockwork-Muse commented on #73781
Most RDBMSs have a GUID type, though.

[2022-08-11 20:26] wfurt commented on #14537
I should be able to help with the runtime lab hopefully next week. I'm under the fire at the moment for 7.0

[2022-08-11 20:30] hoyosjs commented on #42489
We can close and if someone reports it again we'll need a new issue - things have moved a lot since then and we haven't read back..

[2022-08-11 20:30] #42489 closed

[2022-08-11 20:31] Clockwork-Muse commented on #73779
The catch here is that almost certainly the drivers for the various RDBMSs have to be updated to take advantage of this.
And I don't know that they all surface the duplicate key in their own messages.

[2022-08-11 20:32] jkotas commented on #73793
You can find many posts on stackoverflow and elsewhere going 10+ years that basically say "Do not use GetTempFileName, it is a broken API". The fact that you do not see any tmpXXXX.tmp files suggests that it is indeed a broken API and all mainstream apps migrated away from using it.

[2022-08-11 20:34] fanyang-mono commented on #68906
I tried to reproduce today and wasn't able to reproduce the wrong behavior on Android x86. This is what I get
[code]
I am closing this issue. If it is reproducible again, please feel free to re-open it.

[2022-08-11 20:34] #68906 closed

[2022-08-11 20:42] Jozkee opened #73812 "Determine readlink result whether should be validated or not"
From @pedrobsaila https://github.com/dotnet/runtime/pull/72258#issuecomment-1199985566:

[2022-08-11 20:45] dsyme commented on #73606
Tricky case - the codegen we use does indeed expose the potential that the target of the property call is mutated.

This sort of code is so vanishingly rare in F# (it's likely the above is the first time it's been written) that we would simply add a note to the spec that for generic calls the assumption is made that this doesn't matter.

[2022-08-11 20:47] buyaa-n commented on #72404
Done in https://github.com/dotnet/dotnet-api-docs/pull/8299

[2022-08-11 20:47] Jozkee opened #73813 "TimeZoneInfo: Determine readlink result whether should be validated or not"
From @pedrobsaila https://github.com/dotnet/runtime/pull/72258#issuecomment-1199985566:

[2022-08-11 20:50] Jozkee opened #73815 "OpenSslCachedSystemStoreProvider: Determine readlink result whether should be validated or not"
From @pedrobsaila https://github.com/dotnet/runtime/pull/72258#issuecomment-1199985566:

[2022-08-11 20:53] Jozkee commented on #71970
Closing this one as it was investigated in https://github.com/dotnet/runtime/pull/72258#issuecomment-1199985566.
I created individual issues to be addressed by each area:
https://github.com/dotnet/runtime/issues/73812
https://github.com/dotnet/runtime/issues/73813
https://github.com/dotnet/runtime/issues/73815

[2022-08-11 20:53] #71970 closed

[2022-08-11 20:56] MichalPetryka commented on #73324
Is double the memory usage with server GC not an issue?

[2022-08-11 21:01] BruceForstall commented on #70391
Fixed by https://github.com/dotnet/runtime/pull/73654. Will be in a subsequent .NET 6 update.

[2022-08-11 21:01] #70391 closed

[2022-08-11 21:01] EgorBo commented on #73324
In Server GC mode, GC reserves "CPU core number * L3 cache size * 3/4" amount of memory by design

[2022-08-11 21:04] danmoseley commented on #73793
I agree, and we should fix our API to help .NET apps do that without having to write their own code and potentially get it wrong.

[2022-08-11 21:05] fanyang-mono commented on #69325
I need more time to get the complete fix for this, moving it to 8.0

[2022-08-11 21:05] EgorBo commented on #73324
@mangod9 was the increased memory usage fixed after we enabled GC regions? Afair I saw a spike in TE benchmarks but didn't see it fixed after

[2022-08-11 21:13] radical commented on #61624
Jan-Mar was when the perf builds were broken.

[2022-08-11 21:24] TIHan commented on #73606
I'm trying to wrap my head around this. The ECMA spec doesn't specifically say when the `this` ptr is to be deref'ed in regards to `constrained.`. It mentions boxing arguments as the alternative equivalent if the `thisType` is a reference type. So something like this:
[code]
would be semantically equivalent to this:
[code]
Based on the new runtime behavior, these would not be semantically equivale

[2022-08-11 21:31] Mr0N commented on #73709
That is why I say that it is necessary to add a property, and not to change the default logic.

[2022-08-11 21:32] Mr0N commented on #73709
An error is when information is recorded in the error stream.

[2022-08-11 21:33] Mr0N commented on #73709
An error is when information is recorded in the error stream.

[2022-08-11 21:34] Mr0N commented on #73709
And what processes record errors there are their problems, and what these errors are, is the problem of those processes.

[2022-08-11 21:39] oleg-st opened #73821 "System.AccessViolationException in JIT compilation (.NET 7)"
### Description

I am getting a `System.AccessViolationException` error when JIT compiling a method in .NET 7 preview 7.

### Reproduction Steps

Code to reproduce.

Program.cs:
[code]

TestBug.csproj:
[code]

### Expected behavior

[code]

### Actual behavior

[code]

### Regression?

Works fine in .NET 6

### Known Workarounds

_No response_

### Configuration

 OS Name:     Windows
 OS Version:

[2022-08-11 21:39] omajid commented on #73721
The posix implementation of glibc tries `max(62 * 62 * 62, TMP_MAX)` times. [TMP_MAX](https://pubs.opengroup.org/onlinepubs/9699919799/basedefs/stdio.h.html) varies by OS.

[2022-08-11 21:40] eerhardt opened #73822 "Configuring Console Json Formatting with JsonWriterOptions doesn't work with Trimming"
### Description

We are suppressing a trimming warning here:

https://github.com/dotnet/runtime/blob/d8226260c9630c2fb196acaa6af7f5dbb45685ee/src/libraries/Microsoft.Extensions.Logging.Console/src/ConsoleLoggerExtensions.cs#L25-L27

But we aren't taking the correct steps to ensure all the properties that can be configured through the IConfiguration binder are being preserved. For example, properti

[2022-08-11 21:45] ViktorHofer commented on #73777
Should we change that so that the host uses the runtime configuration?

[2022-08-11 21:46] eerhardt commented on #73721
`62 * 62 * 62` is a lot, almost a quarter million. Maybe we wouldn't even need a delay on WASM, but just try again a set number of times immediately if we get EEXIST error.

I see the above is linked to `musl` sources, would we have this same problem on alpine?

[2022-08-11 21:52] tarekgh commented on #72404
The remaining issues are now addressed. Closing it.

[2022-08-11 21:52] #72404 closed

[2022-08-11 21:52] danmoseley commented on #73721
It's already doing this, we're just discussing how much it should do it, right?

Another option is to implement mkdtemp ourselves, but with more reasonable randomness.

[2022-08-11 21:52] SingleAccretion commented on #52620
Fully fixed in #62639.

[2022-08-11 21:52] #52620 closed

[2022-08-11 21:57] alexrp commented on #73709
Your definition of error doesn't fit the convention that the vast majority of software uses. By your definition, informational or warning messages printed to stderr would be considered errors.

The *overwhelming* majority of programs use a non-zero exit code to indicate errors. If you have a program where that is not the case, you're going to have to handle that yourself. It's not appropriate for

[2022-08-11 22:06] mangod9 commented on #73324
hmm.. we havent noticed doubling on the working set for such scenarios. We have seen an increased working set (~60mb) on linux with large memory machines.

[2022-08-11 22:24] hoyosjs commented on #32935
@mangod9 @brianrob @dotnet/crossgen-contrib is partial ngen still a concern? Deciding if this is an 8.0 issue, or if it should be closed.

[2022-08-11 22:27] mangod9 commented on #32935
partialNGen is not a thing currently. I think this issue was capturing the fact that pgo was not being used in the runtime repro, which has now been fixed. Not sure if this needs to be tracked anymore?

[2022-08-11 22:30] hoyosjs commented on #32935
PGO doesn't consume IBC data in managed images (unless you mean dotnet-pgo. But that's newer than this issue).

[2022-08-11 22:30] Nick-Stanton commented on #53459
Hi @explorest,

By design the DebugLogger does not act unless the debugger is attached. This would prevent the call that would write to `/var/log/syslog` or `/var/log/message` on Linux distributions because the message will either write to the debugger or not at all. The [doc page](https://docs.microsoft.com/en-us/dotnet/core/extensions/logging-providers#debug) you referenced is inaccurate and nee

[2022-08-11 22:31] jakobbotsch commented on #73606
It does mention that the `constrained.` prefix modifies how the `callvirt` instruction is executed, so this part seems clear to me.

I'm not sure I understand. These are not semantically equivalent today -- the latter should call `set_Position` on the modified instance, the former on the unmodified instance.

The rationale in the spec seems to be more about how to represent virtual calls on value

[2022-08-11 22:31] jxbrenner commented on #44855
No trouble with the Android Application template in Visual Studio 17.3.0.

Here's the project file:
[code]
I'm targeting SDK 31 and running it on an ARM 64 device. Did not crash.

Here's the runtime saying it's configured for hybrid AOT:
[code]

[2022-08-11 22:32] StephenMolloy commented on #67218
Looks like this has been passing for a while now. Just a small blip - unrelated to any serializer changes. As posited above, this was probably a JIT issue. And probably fixed since it doesn't fail anymore.

[2022-08-11 22:32] #67218 closed

[2022-08-11 22:32] hoyosjs commented on #65317
@jkoritzinsky since you are picking up the SDK upgrade after the arcade update, I'll assign this to you (and I'll link it in the PR).

[2022-08-11 22:43] danmoseley commented on #73774
Is there some log we can append the content to?

BTW I clicked on some of the failures at the link, and they fail this way --
[code]

[2022-08-11 22:44] ayousuf23 opened #73825 "`TarEntry.ExtractToFile` does not set the last write time of the file to the local time"
### Description

When using `TarEntry.ExtractToFile` method, the last write time of the extracted file is the UTC time, not the local time.

### Reproduction Steps

1. Create a file with a last write time time in the past: `Set-ItemProperty -Path "TestDrive:/oldfile.txt" -Name "LastWriteTime" -Value '2003-01-16 14:44'`
2. Create a tar archive containing this file using `TarWriter`
3. Extract the f

[2022-08-11 22:44] ayousuf23 commented on #73825
@carlossanlop

[2022-08-11 22:45] davmason opened #73826 "Add an ICorProfiler callback for when an exception goes unhandled"
Currently the ICorProfiler callbacks won't let you know when phase 1 exception processing is over, so it's hard to tell when an exception goes unhandled. You get callbacks for searching for catches/filters, but if one is not found we call TerminateProcess and everything immediately stops.

We should add a callback for unhandled exceptions, and revisit if there are other useful callbacks.

[2022-08-11 22:45] danmoseley commented on #73774
with respect to MSB4166, funnily enough a previous me had this problem and submitted a change to MSBuild that perhaps should have made it easier:

https://github.com/dotnet/msbuild/pull/3632

I guess not.

[2022-08-11 22:48] tarekgh commented on #53459
Thanks @Nick-Stanton for opening the PR to fix the doc.

@explorest

Just to mention, the [DebugLogger](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.logging.debug.debuglogger?ranMID=43674&ranEAID=rl2xnKiLcHs&ranSiteID=rl2xnKiLcHs-Vfs1raRmn1NbY7uJVYz9MA&epi=rl2xnKiLcHs-Vfs1raRmn1NbY7uJVYz9MA&irgwc=1&OCID=AID2200057_aff_7795_1243925&tduid=(ir__2m3q0nl02wkf6gcatnnkkvci0e2xvf9rmt3x

[2022-08-11 22:48] #53459 closed

[2022-08-11 22:49] danmoseley commented on #49377
@jeffhandley could someone on your team pull this image and see why a scanner is indicating it has a vulnerable System.Text.Encodings.Web?

[2022-08-11 22:51] brianrob commented on #32935
At a minimum, this issue can be moved to .NET 8.  It is also possible that it can be closed - we should understand the scenario requirements around whether we want to support anything like partial NGEN on R2R.  Historically, it was used to address VM constraints and to a lesser degree, size constraints.  It's not clear that we have a strong scenario where this is required.

[2022-08-11 23:01] afilatov-st commented on #71472
I've executed `cat /proc/1/status` in a loop with 0.5 seconds delay while running `dotnet-dump` in a parallel session. `cat` was executed 24 times until the process crashed.
Here is the gist showing how properties were changing until the app crashed: https://gist.github.com/afilatov-st/bac68f56676f05c549695d25a8808aa4
(properties that did not change omitted)
Initial memory used: 3.7 GiB
Memory use

[2022-08-11 23:03] mangod9 commented on #32935
we will be looking into supporting partial R2R scenario for the composite scenario, but will track it as a separate user story.

[2022-08-11 23:04] carlossanlop commented on #72409
@tarekgh If the dotnet-api-docs item has the boilerplate message `To be added.` then yes, the tool will be able to port it for you. Otherwise, you'll have to make the change directly in dotnet-api-docs.

[2022-08-11 23:04] radical commented on #73721
So, the hypothesis right now is that it isn't able to find a unique name which doesn't already exist? In the tests we are listing the existing files, and directories, and it showed only 2 in the first failing, and subsequent ones increased by a handful only.
That would mean the random name generation is really bad! I guess like Pavel was pointing out in https://github.com/dotnet/runtime/issues/737

[2022-08-11 23:06] jkoritzinsky commented on #65317
Based on https://github.com/dotnet/runtime/pull/72145#issuecomment-1212522713, we won't be able to unpin the C# compiler upgrade just yet. There's a bug in the P7 Roslyn that wasn't fixed until after P7 was built.

[2022-08-11 23:10] RussKie commented on #23937
Thank you @jkotas

[2022-08-11 23:14] mangod9 commented on #73794
adding Anton since JanV is out.

[2022-08-11 23:15] jeffschwMSFT commented on #72111
@carlossanlop can you take a look at this issue?

[2022-08-11 23:19] #31529 closed

[2022-08-11 23:28] JulieLeeMSFT commented on #72645
cc @mangod9.

[2022-08-11 23:34] joperezr commented on #70754
We do still intend to make this change for 7.0, even though it will likely miss RC1 given that we are currently blocked on that Roslyn bug getting fixed. Once it is, I will go ahead and make this change. Re-adjusting the milestone appropriately.

[2022-08-11 23:38] TIHan commented on #73606
It only mentions the alternative was to box `thisType` but the reason to not do it was because value types. This is what makes me think they would be equivalent for reference types.

[2022-08-11 23:41] mangod9 commented on #72645
@RobertHenry6bev just checking whether you are able to get it to publish from an x64 host, as in you can always publish for `lin-arm64` from a x64 sdk (from any OS)?

[2022-08-11 23:49] danmoseley commented on #73721
stepping back, should we be disabling the tests, or implementing some hackaround promptly, as this presumably is impacting test runs?b

[2022-08-12 00:06] richlander opened #73828 "Strange ASP.NET Core behavior with advanced runtime features"
I'm [updating our docker samples](https://github.com/dotnet/dotnet-docker/pull/3989). We do that each release just before RC1. We have some existing trimming samples for ASP.NET Core. They are producing trimming warnings for both .NET 6 and 7, but the app doesn't work correctly with .NET 7 (see screenshow below).

Should I use a different trimming mode or something else? Or is this a bug?

<img wi

[2022-08-12 00:07] AntonLapounov commented on #69192
@nerai I do not see the repro attached.  Could you please share it?

[2022-08-12 00:16] jtschuster commented on #73828
My initial thought is that this is related to the change to trim everything by default. If you add `/p:TrimMode=partial` to the publish command does the same thing happen?

[2022-08-12 00:17] eerhardt commented on #73721
How often is this failing? And is it only on Windows/NodeJS? Looking at https://github.com/dotnet/runtime/issues/702 I currently see `N/A` for the "Build Count".

![image](https://user-images.githubusercontent.com/8291187/184263013-5cb8cd4b-ffa4-4ce1-baaa-29b04b6a38d1.png)

[2022-08-12 00:23] MichalStrehovsky commented on #72989
We removed the links to .NET Native. The format is still called RD.XML but we will not mention its existence anywhere in the docs or exception messages. It's unsupported.

[2022-08-12 00:23] #72989 closed

[2022-08-12 00:26] radical commented on #73721
[code]

In the last 12hours, these were the unique PRs with the specific failure:
<img width="651" alt="Screen Shot 2022-08-11 at 8 25 18 PM" src="https://user-images.githubusercontent.com/1472/184263686-f8571d84-d5e1-4f9b-a4ab-c5b60f68dfb1.png">

[2022-08-12 00:28] radical commented on #73721
Also, this is not seen on rolling builds because we don't run tests on nodejs in rolling builds, yet.

[2022-08-12 00:29] RobertHenry6bev commented on #72645
I have not tried this suggestion.  Given the kinds and locations of
machines we run  this workload on, everything needs to work out of the box.

On Thu, Aug 11, 2022 at 4:41 PM Manish Godse ***@***.***>
wrote:

[2022-08-12 01:30] carlossanlop commented on #72111
I'll sync with @ViktorHofer tomorrow on this.

[2022-08-12 01:43] fanyang-mono commented on #69330
Tests passed when I ran it locally. They are also running on CI successfully. It seems that the issue was resolved already. Closing the issue now.

[2022-08-12 01:43] #69330 closed

[2022-08-12 01:46] MichalStrehovsky commented on #73735
The specific tests that are needed are tests that are using the generic type's T in the signatures (that's the bug we ran into).

So things like:

[code]

The existing tests are not testing much because they don't use the T.

[2022-08-12 01:48] MichalStrehovsky commented on #73735
I would definitely at least put it in 8.0 but AFAIK generic attributes are new in C# for .NET 7.0 so we should have testing in place to make sure reflection on them actually works in various scenarios.

Cc @333fred

[2022-08-12 01:51] v-wenyuxu opened #73830 "Test failure baseservices/threading/threadstatic/threadstatic07/threadstatic07.sh"
Run: [runtime-coreclr gcstress0x3-gcstress0xc 20220810.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1935562&view=ms.vss-test-web.build-test-results-tab&runId=49951888&resultId=102370&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-08-12 01:54] v-wenyuxu commented on #73830
Queued | OS | Arch | Column1
-- | -- | -- | --
2022-08-08T09:19:11.958Z | osx.1200.amd64.open | x64 | [runtime-coreclr crossgen2-composite gcstress   Checked-gcstress0xc_jitminopts_heapverify1](https://dev.azure.com/dnceng/public/_build/results?buildId=1928978&view=ms.vss-test-web.build-test-results-tab&runId=49872680&resultId=100294&paneView=debug)
2022-08-08T09:18:23.051Z | osx.1200.amd64.open |

[2022-08-12 01:59] VincentBu commented on #66568
looks like the test didn't fail in the last 20 days.
additionally, I get the table by querying Kusto

[2022-08-12 02:03] AntonLapounov commented on #66568
Thank you. I am going to close this. If the test fails again, please reopen.

[2022-08-12 02:07] v-wenyuxu commented on #63143
Failed again in: [runtime-coreclr gcstress-extra 20220810.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1935460&view=ms.vss-test-web.build-test-results-tab&runId=49952586&resultId=100428&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-08-12 02:07] v-wenyuxu commented on #63143
Queued | OS | Arch | Column1
-- | -- | -- | --
2022-08-08T09:19:11.958Z | osx.1200.amd64.open | x64 | [runtime-coreclr crossgen2-composite gcstress   Checked-gcstress0xc_jitminopts_heapverify1](https://dev.azure.com/dnceng/public/_build/results?buildId=1928978&view=ms.vss-test-web.build-test-results-tab&runId=49872680&resultId=100045&paneView=debug)
2022-08-08T09:18:23.051Z | osx.1200.amd64.open |

[2022-08-12 02:12] MichalStrehovsky commented on #73822
Oh! Would this also explain #73436?

[2022-08-12 02:14] TIHan commented on #70875
These roundtrips are already taken care of. The `rejit` one is disabled though, but @jakobbotsch made an issue for it: https://github.com/dotnet/runtime/issues/71119

[2022-08-12 02:14] #70875 closed

[2022-08-12 02:15] stephentoub commented on #73639
Not to my knowledge.  You're of course welcome to open an issue in dotnet/csharplang, but I doubt any new syntax would be added for this (and if it was, it would likely be implemented as mapping to some member in the core libraries).

@BillWagner, maybe something to be improved in the C# string interpolation docs?

[2022-08-12 02:15] #73639 closed

[2022-08-12 02:21] radical commented on #69741
Moving to 8.0 . @SteveSandersonMS @javiercn Feel free to move this to 7.0, if you feel something needs to be done here.

[2022-08-12 02:27] radical commented on #57294
Is this still an issue?

[2022-08-12 02:28] radical commented on #69568
@lambdageek I'm assuming this should be moved to 8.0 .

[2022-08-12 02:30] radical commented on #69409
@kg Moving this to 8.0 . Please change it back, if that's incorrect.

[2022-08-12 02:39] #73106 closed

[2022-08-12 02:43] buyaa-n commented on #73735
Sure, we will reevaluate all issue during 8.0 planning

[2022-08-12 02:52] TIHan commented on #67633
This test isn't failing anymore. All latest CI runs for this test are passing.

[2022-08-12 02:52] #67633 closed

[2022-08-12 02:54] jkotas commented on #73811
This is by design: https://github.com/dotnet/runtime/pull/73520#discussion_r943941595

[2022-08-12 02:54] #73811 closed

[2022-08-12 03:03] jkotas commented on #73828
TrimMode partial is automatically set for ASP.NET apps here: https://github.com/dotnet/sdk/blob/83a2f2ca7fec1a7482b1bcc41aacb25e7af8ac89/src/WebSdk/Publish/Targets/Microsoft.NET.Sdk.Publish.targets#L89-L90

This suggests that the problem is not caused by trimming, but by one of the tiering schemes we have in the product (JIT tiering, reflection invoke tiering, ASP.NET invokers tiering, ...). Does

[2022-08-12 03:16] 333fred commented on #73735
That's correct.

[2022-08-12 03:30] StephenMolloy commented on #65826
If we were porting DCS to Core again from scratch, I think we probably would have done the surrogate thing differently. But as it is, when DCS was first brought to .Net Core, it used a different interface for a half-implementation of the old IDataContractSurrogate. To bridge the gap between NetFx and Core funny tricks were pulled with type forwarding and extension methods and whatnot. So here we a

[2022-08-12 03:30] #65826 closed

[2022-08-12 03:48] windhuan opened #73832 "DependencyInjectionEventSource Memory leak"
.net core 6.0.400-preview.22330.6

my code

<img width="905" alt="image" src="https://user-images.githubusercontent.com/10775645/184289476-f4befc58-6637-45dd-a2ed-0820caa4aabc.png">

Memory analysis

<img width="514" alt="image" src="https://user-images.githubusercontent.com/10775645/184280008-06c6a6ec-74ce-428a-922a-c16013063be0.png">

reason , HubConnectionBuilder.Build function

<img width="108

[2022-08-12 03:49] MichalStrehovsky commented on #73828
Trimming removes the R2R and PGO data so it would have all sorts of effects on codegen. I would place my bet around UTF-8 transcoding getting a `+1` somewhere.

[2022-08-12 03:54] AntonLapounov commented on #73794
Confirmed that undoing #70428 fixes the issue.

[2022-08-12 04:08] danmoseley commented on #73721
Removing the FriendlyName filter on your query above, and just using `| where StackTrace contains "CreateTempSubdirectory"` I still only see results for `FromSource_ValidSource_ReturnsExpected - System.CodeDom.Compiler.Tests.CodeCompilerTests`. Do we just need to disable this one? at the top, you listed other tests?

[2022-08-12 04:11] kg commented on #69409
I think this needs to be in 7.

[2022-08-12 04:15] huoyaoyuan commented on #73781
The byte order of a GUID is not clearly defined. See also #53354.

[2022-08-12 04:47] radical commented on #73721
[code]

<img width="1250" alt="Screen Shot 2022-08-12 at 12 42 42 AM" src="https://user-images.githubusercontent.com/1472/184286410-cd416797-7354-44f5-89c1-69d2839954d8.png">

Others are essentially for `Path.GetTempFileName` - `File exists`
1.
[code]

2.
[code]

I can open a PR to disable these, but I think do need to fix this. It's not just a testing thing. Though @eerhardt , and I tried to repr

[2022-08-12 04:53] MichalStrehovsky commented on #71395
I moved this back to 7.0 because we got a user report that crossbuilding doesn't work but we have existing customers that rely on crossbuild. This needs to work for 7.0 and it's a blocking issue.

[2022-08-12 05:03] richlander commented on #73828
I just re-tested it. It repros after I refresh the page six times in a row. I'm not sure if it is reliably that number, but that obviously doesn't matter.

I re-tested a variety of scenarios. It repros with this (for both `linux-x64` and `linux-musl-x64` RIDs):

[code]

If I remove either of those two `Publish*` properties, the issues doesn't repro.

If I add the `TieredCompilation` properties, it

[2022-08-12 05:12] RobertHenry6bev opened #73833 "tsan (thread sanitizer) failures on x86_64 from clang14"
### Description

Running on x86_64 compiled with clang14 -O0 -fsanitize=address compiling source near head/main as of Aug 12 00:09 UTC.
Attached are the first 1000 lines of error reports, perhaps many of them redundant.
I was unable to get the tsan'ed application to run under gdb, but did not perservere.

Interpreting tsan output is tricky.  I hold the tsan lead author in very high regard.

### Re

[2022-08-12 05:44] AntonLapounov commented on #73794
The new code path always sets `ExceptionCode` to `EXCEPTION_COMPLUS`, so hardware exceptions are no longer recognized by `IsProcessCorruptedStateException` (which expects `STATUS_ACCESS_VIOLATION` for an AV).

[2022-08-12 05:45] Thefrank commented on #71338
@sec

2_patching RID support for net7 is broken in my script. I plan on moving it to `sed` vs patch/diff as that should be more resilient

3_https://github.com/Thefrank/dotnet-freebsd-crossbuild/blob/main/patches/0001-freebsd-support.patch should fix the issue in installer. I suggest using something like `./build.sh -c Release -ci -pack --runtime-id freebsd-x64 /p:OSName=freebsd /p:CrossgenOutput=

[2022-08-12 06:00] radical opened #73835 "[wasm] Use a latest stable Chrome, or close to it for running tests"

[2022-08-12 06:37] mangod9 commented on #72645
I am able to repro it too, this stack consistently seems to be showing up on recent builds:

[code]

[2022-08-12 07:00] andreabalducci opened #73837 "DateTimeFormat.FirstDayOfWeek inconsistent behaviour"
### Description

Ran in the #51146 issue porting a library from full fx to net6.

CLDR was updated to fix the issue:

- https://unicode-org.atlassian.net/browse/CLDR-14795
- https://github.com/unicode-org/cldr/pull/1450

I understand FullFx and Net5+ have different implementations (as https://docs.microsoft.com/en-us/dotnet/core/extensions/globalization-icu) but honestly can't figure out why net 6

[2022-08-12 07:16] StephenMolloy commented on #72242
@bartonjs - As referenced above, we were able to remove several of the API's originally listed when we brought the schema exporter back into the runtime package.

Additionally, @mconnew and I discussed the use of `DataContract.Members` both internally in the runtime and in the 'external' schema package and realized we don't do any editing of the collection externally. So to tighten up the API even

[2022-08-12 07:42] dsyme commented on #73606
Just to note that in ~2002 when we decided to use address-of-generic-thing for these constrained calls - to get uniform representation of calls to value types and reference types that respected mutation on value types - I believe we simply had no thought that the contents of the address might be mutated in the process of preparing the arguments for the call - I can't find any record of discussing

[2022-08-12 07:43] adamsitnik commented on #73770
@carlossanlop @Jozkee @stephentoub are there any reasons why we should not expose this data?

[2022-08-12 07:45] adamsitnik commented on #73746
@Jozkee does the sys-call that we use by `FSW` allows for this kind of filtering?

[2022-08-12 07:45] a74nh commented on #73777
This works for me ok. I'm happy with building like this from now on.
However, it's all a little confusing as to what does what.

Alternatively - you could introduce a host configuration:
`./build.sh -rc checked -lc release -hc release`
It does make things more explicit.

However, that would mean
`./build.sh -rc checked -lc release -hc debug`
would end up in the situation I'm in now where the host

[2022-08-12 07:46] jkotas commented on #73794
I would recommend reverting the change. IIRC, it will regress GC stress with CET, but that is more acceptable than the current state.

[2022-08-12 07:50] jkotas commented on #73828
This is most likely a codegen issue.

[2022-08-12 07:50] adamsitnik commented on #73791
I am moving it to .NET 8 milestone now (today is the last day to merge .NET 7 changes). If @carlossanlop  decides that it's a bug we can always backport the fix to 7.0.

[2022-08-12 07:50] adamsitnik commented on #73825
I am moving it to .NET 8 milestone now (today is the last day to merge .NET 7 changes). If @carlossanlop  decides that it's a bug we can always backport the fix to 7.0.

[2022-08-12 07:52] vitek-karas commented on #73777
I think it would make sense. It will make development of host a bit harder (everything will be slower), but consistent build system feels like a better idea.

[2022-08-12 08:01] adamsitnik commented on #69563
The regression is gone:

![image](https://user-images.githubusercontent.com/6011991/184310666-e6c7310e-9d00-44ef-a54c-a594baad4dac.png)

In the [commits](https://github.com/dotnet/runtime/compare/5810b0241a27838c1c4fd48bd32b8774ecdbdea6...3fc61ebb562afc327a8fc6de5c82d76e86bf6f5d) from the "first drop" I can see two JIT changes: #69865 and #70792

In the [second drop](https://github.com/dotnet/runt

[2022-08-12 08:01] #69563 closed

[2022-08-12 08:02] jakobbotsch commented on #73828
I'll investigate.

[2022-08-12 08:03] jkotas commented on #73644
Fixed by https://github.com/dotnet/runtime/pull/73657

[2022-08-12 08:06] jkotas commented on #73644
There are still these left:
[code]

[2022-08-12 08:09] pavelsavara commented on #73721
I think that would be better option.

Disabling the tests for now is OK.

[2022-08-12 08:16] jakobbotsch commented on #73606
Part of the problem here is that there is a JIT bug (#73615) that makes the wrong IL give the right result from the language semantics perspective of the three languages. It is quite unpredictable when the JIT bug triggers, but the test in this case has been relying on it for many years. Once we fix that in .NET 8 we will end up with the "incorrect" behavior consistently which is going to be a pot

[2022-08-12 08:25] akoeplinger commented on #73721
with which nodejs version did you try reproducing? I don't remember exactly how we install node for helix tests but it could be an older one

[2022-08-12 08:44] christianscheuer commented on #61231
@MichalStrehovsky I know Mac x64 is not on the official roadmap for 7.0 but rather for after.
But given that we've been using this successfully in production since 2017, could it be made so that you don't need to block it? As that would be quite detrimental to us, obviously.
When you said it has problems, are these regressions over earlier working bits, or just that the picture is not complete yet

[2022-08-12 08:47] remcodewit83 commented on #73764
I had exactly the same issue yesterday, following the same steps you did there. Eventually remove the packages again and used the dotnet-install.sh script to install it and that works (instructions can be found here: https://www.how2shout.com/linux/how-to-install-net-core-dotnet-on-ubuntu-22-04-lts/.

[2022-08-12 08:47] d00lar commented on #73614
edit...
it was even easier. it was proxy issue
when using xx.localhost it was trying go via proxy...

[2022-08-12 08:56] MichalStrehovsky commented on #61231
Referencing the ILCompiler package directly should work because we're producing the package.

I tried to add x64 Mac to our regular test runs last week, but it's crashing a lot: https://github.com/dotnet/runtime/runs/7718994984. I don't know if it's a regression - we've never done this amount of validation on CoreRT/NativeAOT before. We really don't want people to trip over this _too easily_. The

[2022-08-12 09:09] jakobbotsch commented on #73828
Are there instructions somewhere for how I can swap out bits in the single-file published build?

[2022-08-12 09:09] uweigand commented on #71073
Looks like this is related to: https://github.com/dotnet/runtime/issues/58706  -  FYI @nealef

[2022-08-12 09:21] mrhelmut commented on #61231
I guess that we can always work around that with something like this:

[code]

Great work nonetheless on introducing ```PublishAot``` to the SDK. Really looking forward to that.

[2022-08-12 09:39] dsyme commented on #73606
Yes,  I understand.

We won't change the F# codegen, and it's fine if the execution changes in such a case - no one writes code like this in F#.

I can't make the call for C# or VB.

[2022-08-12 09:39] mkhamoyan commented on #60324
Run is no longer existing, @VincentBu could you please upload it again?

[2022-08-12 09:48] jakobbotsch commented on #73830
Dup of #73679

[2022-08-12 09:48] #73830 closed

[2022-08-12 09:58] #715 closed

[2022-08-12 10:00] krwq opened #73842 "[API Proposal]: Utf8Formatter/Utf8Parser should have UInt128 and Int128 overloads"
### Background and motivation

As I started looking into https://github.com/dotnet/runtime/issues/73500 I realized Utf8Formatter/Utf8Parser are missing UInt128/Int128 overloads and therefore we need to unnecessarily do UTF16 <--> UTF8 conversion.

cc: @tannergooding

### API Proposal

[code]

### API Usage

[code]

### Alternative Designs

_No response_

### Risks

_No response_

[2022-08-12 10:07] hoyosjs commented on #71472
VmSize and VmData won't say much here (it says and reserves 8 gigs, with < 500mb being shared pages).  VmHWM and VmRss with RssAnon/RssFile tell us what you say - process 1 sees a rise in private resident working memory - with no further text segments getting loaded into the process. The memory starts growing once ptrace has stopped the process threads. It's interesting VmPTE grows but not VmStk,

[2022-08-12 10:09] jakobbotsch commented on #73821
In checked builds we hit an assertion:
[code]

[2022-08-12 10:24] christianscheuer commented on #61231
Thanks for the clarification, @MichalStrehovsky :) Excited to help beta test when you hopefully get to official Mac x64 and arm64 support.

[2022-08-12 10:59] SimonCropp commented on #715
@roji awesome. thanks

[2022-08-12 11:05] kg commented on #69409
Fixed by #72652

[2022-08-12 11:32] MichalPetryka commented on #73639
I've seen such syntax being proposed on the DNE discord, iirc the language team didn't really like it much.

[2022-08-12 12:02] #71870 closed

[2022-08-12 12:33] sec commented on #71338
@Thefrank Thanks for the tips - managed to cross compile full SDK for FreeBSD/aarch64 (all from `main` branches), which works (with "patched" libunwind):
[code]

One more question though - when doing `runtime` from `main` branch - any way to force version output to let's say `v7.0.0-preview.7.22376.6`

[2022-08-12 12:35] eerhardt commented on #73721
I tried it with `v14.16.1`.

[2022-08-12 12:52] #73695 closed

[2022-08-12 12:57] eerhardt commented on #73832
1. ServiceProvider is `IDisposable`. You should be disposing it when you are done. I don't see you disposing it above.
2. The reference you show above with DependencyInjectionEventSource is a WeakReference. Which means if there are no other references to the object, the GC is free to clean the object up.

[2022-08-12 12:59] MichalPetryka commented on #73837
What culture is this?

[2022-08-12 13:04] eerhardt commented on #73822
It could very well explain the first error in the description:

[code]

Unfortunately, there are no line numbers, so I can't tell which `Assert.True` is failing. But if it is the one at

https://github.com/dotnet/runtime/blob/231255dac0fe015ebc6fb55466c75cf5b4e05f56/src/libraries/Microsoft.Extensions.Logging.Console/tests/Microsoft.Extensions.Logging.Console.Tests/ConsoleLoggerExtensionsTests.cs#L

[2022-08-12 13:08] Robinsond76 commented on #73764
Hello everyone,
it seems people started having the same issue and someone posted some steps on how to solve it on my post on StackOverflow. [Here is the link.](https://stackoverflow.com/questions/73312785/dotnet-sdk-is-installed-but-not-recognized-linux-ubuntu-popos-22-04/73315368#73315368)

So I ended up solving the issue as well by doing the following:
I uninstalled everything I could that was d

[2022-08-12 13:11] andreabalducci commented on #73837
@MichalPetryka 'en-AU' , the same for the linked issue and the merged pr on CLDR.
The issue is about consistency, different results on different platforms / runtimes and correctness (correct value is Monday).
Probably the runtime include an old version of CLDR reference, the fix was merged on Aug 21

[2022-08-12 13:14] danmoseley commented on #73837
Windows carries ICU and it perhaps is older than the change you mention. What Windows version/build are you using?
@tarekgh

[2022-08-12 13:16] windhuan commented on #73832
1. i can't get ServiceProvider reference, because HubConnectionBuilder.Build() not return. (HubConnectionBuilder is SignalR client code https://github.com/dotnet/aspnetcore/blob/main/src/SignalR/clients/csharp/Client.Core/src/HubConnectionBuilder.cs)
2. gc can free WeakReference 's object,but it can't free List<WeakReference>  item

[2022-08-12 13:25] directhex commented on #53767
@antonfirsov short version: no, it's exceedingly unlikely to happen for 7.0 given the number of issues we have left to handle, the amount of work it looks like rewriting System.Net.Sockets for iOS will involve, and the number of weeks left for handling issues.

I've done some quick scoping, and Simon did a deeper exercise before me. It's not clear it's even _feasible_ for us to implement UdpClient

[2022-08-12 13:27] MichalPetryka commented on #73837
Try running with app local ICU by adding this to the csproj:
[code]

[2022-08-12 13:27] andreabalducci commented on #73837
@danmoseley  Windows 10 21H2 (https://github.com/andreabalducci/culture-info-tests/#readme)
Just checked system32\icu.dll, version is 64.2 ( CLDR 35, June 21).

[2022-08-12 13:36] andreabalducci commented on #73837
@MichalPetryka tried but still failing, there's no newer ICU package on nuget to test.

[2022-08-12 13:41] eerhardt commented on #73832
@davidfowl @BrennanConroy - thoughts on Disposing the `ServiceProvider` in HubConnectionBuilder?

[2022-08-12 13:43] JosieBigler commented on #26506
I finally got my feet under me, is there a way to see which Lines/Branches/Methods aren't covered by tests so I can target those areas for Test Scenarios?

[2022-08-12 13:44] andreabalducci commented on #73837
for my understanding ICU should be at least version 70 (released after en-AU patch)

[2022-08-12 13:49] andreabalducci commented on #73837
@MichalPetryka manually downloaded the icu70*.dll, now all tests are green on windows

[2022-08-12 14:06] SamMonoRT commented on #69516
cc @BrzVlad @lambdageek -- marking this a blocking-release, considering its a regression. Assigning to @BrzVlad for tracking.

[2022-08-12 14:07] JamesNK opened #73848 "SocketsHttpHandler.MaxResponseHeadersLength can cause internal 32-bit overflow with HTTP/2"
### Description

Noticed here: https://github.com/grpc/grpc-dotnet/issues/1842#issuecomment-1212059692

MaxResponseHeadersLength is in kilobytes so [internally multiplies the value by 1024](https://github.com/dotnet/runtime/blob/08a11e4a8383605087429df2477dc6a79e3ed8be/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs#L106).

However, the value it is stored on for

[2022-08-12 14:07] akoeplinger commented on #73593
@lambdageek I assigned this to 8.0, let me know if you think this is important for 7.0

[2022-08-12 14:08] explorest commented on #53459
Thanks a lot  @Nick-Stanton  and @tarekgh for resolving this. I remember this issue confusing the hell out of me. I even went to the dotnet core repo and  ploughed through the source code of the Debug provider and related types to figure out what exactly is happening. That confused me even more -- lol.
Thanks again .
Regards.

[2022-08-12 14:15] jkotas commented on #69516
It is this TODO: https://github.com/dotnet/runtime/blob/51df356ea56eab036dda4ae51557e3524f487563/src/mono/System.Private.CoreLib/src/System/Reflection/RuntimeMethodInfo.Mono.cs#L805-L809

Related to https://github.com/dotnet/runtime/issues/40351

[2022-08-12 14:19] albertocruzdg commented on #68018
Is there any chance this can be resolved in a .NET 6.0.x release?

[2022-08-12 14:19] greenEkatherine opened #73849 "Add tests with LoopbackServer for web sockets"
We should increase test scenarios for web sockets that are running with LoopbackServer -- first of all, for web sockets over HTTP/2 and then for HTTP/1.1.

Now many tests are running only in outerloop, which runs on request and not in every CI. This option is unavailable for web sockets over HTTP/2 because the external server has not yet supported it.

To achieve more test coverage, Http2LoopbackS

[2022-08-12 14:20] danmoseley commented on #73837
@andreabalducci Can we close this, are you unblocked?

[2022-08-12 14:22] danmoseley commented on #26506
@JosieBigler  have you gone through

https://github.com/dotnet/runtime/blob/daf25da8e67857fde603b16d92192cd1368bafc7/docs/workflow/building/libraries/code-coverage.md

[2022-08-12 14:27] MichaelSimons opened #73850 "Source-build fails to build w/CS0208: Cannot take the address of, get the size of, or declare a pointer to a managed type"
The latest dependency flow into installer's broke source-build w/the following errors:

[code]

[CI Build Failure](https://dev.azure.com/dnceng/internal/_build/results?buildId=1939153&view=logs&j=87a4ea9e-995f-5db7-cd08-b96ecbe4e25a&t=f8cf185b-29d6-52a5-84b1-6edc34dd9fec) (internal Microsoft link)

Source-build does build with the latest compiler version and toolset which is likely a contributing

[2022-08-12 14:28] MichaelSimons commented on #73850
This is currently blocking RC1.

[2022-08-12 14:30] MichalPetryka commented on #73837
Should the applocal ICU package, `Microsoft.ICU.ICU4C.Runtime`, maybe be updated to a newer version?

[2022-08-12 14:30] davidfowl commented on #73832
The builder doesn't dispose the service provider, when you dispose the HubConnection itself the service provider gets disposed.

[2022-08-12 14:39] JosieBigler commented on #26506
I had not, thank you. The reports generated are very clear. Thank you!

[2022-08-12 14:40] windhuan commented on #73832
I call the HubConnection.DisposeAsync ,but serviceprovider not disposed

<img width="975" alt="image" src="https://user-images.githubusercontent.com/10775645/184377955-4ff6b037-f488-4f9a-8ad6-e0a08a106f21.png">

[2022-08-12 14:40] andreabalducci commented on #73837
@danmoseley I wasn't blocked, patched the culture info at runtime to fix the issue (public setters) then filed the issue to document the problem and check if there was something wrong on the runtime.

Still thinking if using the OS provided ICU to "reduce differences on different platforms" instead of shipping an updated ICU with the .net runtime "works as expected".

[2022-08-12 14:42] karelz commented on #61475
Partial fix is also in 6.0.9 (see PR #72804)

[2022-08-12 14:43] andreabalducci commented on #73837
@MichalPetryka haven't found an updated `Microsoft.ICU.ICU4C.Runtime` package, the one you linked is the last on nuget.
Had to download the .dlls from the ICU github project and manually copy on the `net6.0\runtimes\win-x64\native` folder

[2022-08-12 14:47] davidfowl commented on #73832
Well you build your own service provider (which you aren't supposed to do). This is how you use the HubConnectionBuilder:

[code]

[2022-08-12 14:48] davidfowl commented on #73832
You can see the code that disposes the connection here https://github.com/dotnet/aspnetcore/blob/7cb457bdaac8de9214391a9b9b273821d01c2300/src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs#L558-L570

[2022-08-12 14:49] steveharter commented on #73792
cc @CoffeeFlux @steveisok thoughts here? The test project is using System.Uri which is also embedded in System.Runtime.

I'll create a PR to at least remove the test project from CI.

[2022-08-12 14:52] MihaZupan commented on #73848
Technically a bug, but if you're setting this so high you're pretty much begging to be DOSed.

[2022-08-12 14:54] #71140 closed

[2022-08-12 14:57] karelz opened #73851 "Undocumented 7.0 APIs in System.Net.Security"
Latest list shared in this comment: https://github.com/dotnet/runtime/issues/73851#issuecomment-1229703703

<details>
  <summary>These are done</summary>

Separating 2 APIs from #72403

| Summary  | Parameters | TypeParameters | ReturnValue | API

[2022-08-12 14:58] filipnavara commented on #73851
I'll look into it tomorrow.

[2022-08-12 14:58] karelz commented on #72403
I separated System.Net.Security APIs into #73851. That leaves this issue tracking only **System.Net.Http.Json.HttpClientJsonExtensions** methods.

[2022-08-12 15:00] windhuan commented on #73832
HubConnection dispose the child service provider ,but root service provider is not dispose
DependencyInjectionEventSource  reference the root service provider
<img width="868" alt="image" src="https://user-images.githubusercontent.com/10775645/184382291-cbe8dbae-a321-417e-b911-e8f658488822.png">

[2022-08-12 15:13] mangod9 commented on #73794
Yeah believe this only affects CET GCStress. Looking back at the change both codepaths are calling `clrexception::GetThrowableFromException`. Is there some translation for hardware exceptions which is now missing?

[2022-08-12 15:16] eerhardt commented on #73721
I've also tried `v16.16.0` and `v18.7.0`.  System.CodeDom tests pass on both versions as well. What version does the CI machines have?

An interesting observation is that on `v14` and `v16`, the tests take about 7s to run.  But on `v18`, the tests are taking about 43s to run. Nothing else changed but the NodeJS version, so I'm assuming we are hitting a pretty bad perf regression in Node here.

[2022-08-12 15:17] adamsitnik commented on #73669
Update: it turned out that this specific file (device) can seek only by a volume vector size (4096): https://github.com/dotnet/runtime/pull/73708#issuecomment-1213219850

I currently don't have any ideas for more generic fix similar to https://github.com/dotnet/runtime/pull/63625 because:
- Windows `GetFileType` recognizes this file as `FILE_TYPE_DISK` which means "it's regular file"
- the file is

[2022-08-12 15:18] PeterSolMS commented on #67972
I still see a regression in the numbers reported - for .NET 6.0 I see 433.5 msec / iteration while for 7.0 I see 495.9.

However, profiles show that the GC pauses are actually smaller for both 7.0 with segments and 7.0 with regions, so the root cause of the regression is still a bit of a mystery.

The gen 1 accounting fix does play a role though - in 6.0, we have alternating gen 0 (190 of them) an

[2022-08-12 15:22] EgorBo commented on #60240
I wasn't able to reproduce this, but I'll try again on Monday once I am home and backport to 7.0 if it turns out to be important/gc hole

[2022-08-12 15:26] SamMonoRT commented on #57365
Moving this tracking issue to 8.0.0   -- If there are specific issues blocking any 7.0 GA releases, we will backport those changes.

[2022-08-12 15:27] davidfowl commented on #73832
I can reproduce this:

[code]

This doesn't dispose the service provider and I'm trying to figure out why.

[2022-08-12 15:28] #72551 closed

[2022-08-12 15:30] davidfowl commented on #73832
I think it does dispose the services, but it doesn't dispose the `ServiceProvider` instance itself. This wasn't a problem before .NET 6 because we didn't do anything besides disposing the root scope itself, now we clean up the event source as well so there's a leak.

[2022-08-12 15:39] ViktorHofer commented on #26506
Those are generated by the fantastic ReportGenerator tooling 👍

[2022-08-12 15:41] fanyang-mono commented on #73510
It is supposed to generate a `.cmd` file for runtime tests running on Android arm64, because on CI, Android arm64 devices are connected to windows machines.

[2022-08-12 15:42] jkotas commented on #73794
It is the other way around: There is too much of a translation being done for hardware exceptions too early. The hardware exception gets rethrown as ordinary managed exception here: https://github.com/dotnet/runtime/pull/70428/files#diff-47cbfa47fb88845e5e76fd4df0a84e9da494508ffe80da116511fc2d0becd9baR6678 . None of the special casing for hardware exceptions is going to kick in once that happens.

[2022-08-12 15:43] akoeplinger commented on #73792
I was able to repro locally and have some leads, I'll look into it together with @ViktorHofer later today.

[2022-08-12 15:48] maraf commented on #73721
14.18.2_64bit

[2022-08-12 15:51] nerai commented on #69192
Sorry, I worded that poorly. The crash was reproducible, but it was part of a large in-prod project. It took hours/days to manifest during runtime, so it's not easy to create a separate project that I could share here.

[2022-08-12 15:54] #72635 closed

[2022-08-12 15:58] fanyang-mono commented on #73510
I am closing the issue now as the current behavior is correct w.r.t the original design.

[2022-08-12 15:58] #73510 closed

[2022-08-12 16:00] thaystg commented on #49144
I'll move it to 8.0 as we didn't get the approval for the vscode-js-debug extension.
The PR on vscode-js-debug side: https://github.com/microsoft/vscode-js-debug/pull/1323
The PR on our side: https://github.com/dotnet/runtime/pull/71464

[2022-08-12 16:01] thaystg commented on #42421
I'll move it to 8.0 as we didn't get the approval for the vscode-js-debug extension.
The PR on vscode-js-debug side: https://github.com/microsoft/vscode-js-debug/pull/1311

[2022-08-12 16:02] thaystg commented on #63703
Moving to 8.0.0 as I didn't get the approval in this PR yet:
https://github.com/dotnet/runtime/pull/72812

[2022-08-12 16:09] AnashOommen commented on #73848
@MihaZupan could you kindly explain why a high value is begging to be DOSed? In Google Ads API (which uses grpc), we return serialized server errors to the caller as trailing metadata, and that data can be more than a few KB. How can a user DOS themselves in this scenario?

[2022-08-12 16:15] MihaZupan commented on #73848
A few KB is perfectly fine.
The issue is when you are telling the client that it's okay to receive MBs or GBs of headers on a single response.
All of this data has to be buffered in memory (`HttpResponseMessage.TrailingHeaders` for example).

A malicious server could feed you GBs of data that the client would be forced to keep in memory all at once.

[2022-08-12 16:17] bartonjs commented on #73815
I don't quite know what validated or not means here; but the code seems correct as-is.

[2022-08-12 16:17] #73815 closed

[2022-08-12 16:21] jakobbotsch commented on #73828
Using event pipe and some guesses I managed to create a self contained example:
[code]

Which outputs:
[code]
when built with
[code]
So seems like `OptimizedInboxTextEncoder.Encode` is the culprit.

[2022-08-12 16:25] eerhardt commented on #73832
@davidfowl - if we don't think changing DI is the right call, another option is to not inject the `IServiceProvider` into HubConnection, but instead follow the same pattern that Hosting does and call the ctor directly with the actual `ServiceProvider` instance:

https://github.com/dotnet/runtime/blob/e71a9583b4d6c9bd97edd87cda7f98f232f63530/src/libraries/Microsoft.Extensions.Hosting/src/HostBuilde

[2022-08-12 16:25] AnashOommen commented on #73848
@MihaZupan gotcha. Can we fix the underlying overflow by throwing an exception when trying to set a large value? The way this fails now isn't very helpful.

[2022-08-12 16:29] MihaZupan commented on #73848
I don't thing we'd want to start throwing now given that we've been [silently handling it for HTTP/1.1](https://github.com/dotnet/runtime/blob/21dc0040b5d6cd52501d9c502fb3ddbc23db97d7/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs#L558) so far.

We would likely fix HTTP/2 to behave the same way as 1.1 (cap at `int.MaxValue`), and potentially consider an anal

[2022-08-12 16:30] AnashOommen commented on #73848
Yeah, capping + analyzer works fine as well.

[2022-08-12 16:32] Mr0N commented on #73709
![image](https://user-images.githubusercontent.com/61237140/184403284-b1addb2b-7bd0-4bfc-8040-dbc33e89b59b.png)

[2022-08-12 16:32] Mr0N commented on #73709
https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.process.standarderror?view=net-6.0

[2022-08-12 16:33] Mr0N commented on #73709
There is not a word about any log.

[2022-08-12 16:34] Kylar182 opened #74015 "Release System.ExecutionEngineException Blazor Hybrid iOS ComponentProperties.SetProperties(in ParameterView, object)+SetProperty(object, PropertySetter, string, object)"
### Description

having a Release only issue with Components on MAUI Blazor Hybrid. Starting getting this error after pushing my app to the App Store. Apparently the testers set it off nearly a hundred times in 10 minutes.

System.ExecutionEngineException: Attempting to JIT compile method '(wrapper delegate-invoke) void <Module>:invoke_callvirt_void_BindableT`1<string>_string (TallyIO.Client.Compo

[2022-08-12 16:35] buyaa-n opened #73854 "Test failure: baseservices/threading/coverage/OSThreadId/osthreadid/osthreadid.sh"
`baseservices/threading/coverage/OSThreadId/osthreadid/osthreadid.sh` failed on https://github.com/dotnet/runtime/pull/73520/checks?check_run_id=7802499930

[Log](https://helix.dot.net/api/2019-06-17/jobs/7a593903-4888-40da-8893-d0ad9dbbbad3/workitems/baseservices.threading/console):
[code]

[2022-08-12 16:38] Jozkee commented on #73815
I meant, look at the error set by `Interop.Sys.ReadLink()`, e.g: `if (Interop.Sys.GetLastError() == Interop.Error.EINVAL) throw SomeException();`

[2022-08-12 16:39] Mr0N commented on #73709
![image](https://user-images.githubusercontent.com/61237140/184404353-fae10c8a-4a32-4e93-9827-cdecd3ac6d5a.png)

[2022-08-12 16:39] Mr0N commented on #73709
Why an empty string and not null?

[2022-08-12 16:39] eerhardt commented on #69428
Re-opening to see if we can dispatch "UnsafeQueueUserWorkItem" to clear out the AsyncLocals during cache eviction:

https://github.com/dotnet/runtime/blob/e71a9583b4d6c9bd97edd87cda7f98f232f63530/src/libraries/Microsoft.Extensions.Caching.Memory/src/CacheEntry.CacheEntryTokens.cs#L105-L112

[2022-08-12 16:41] fanyang-mono commented on #72114
This is the build from 8/4 RP #73230
https://dev.azure.com/dnceng/public/_build/results?buildId=1922628&view=logs&j=76620f41-b685-5972-e5ab-3722b69632c4&t=e5054d15-9cd7-5687-4154-57982228d697

@karelz I couldn't find the build containing this error from 8/2 PR #73157. Could you please comment it here?

[2022-08-12 16:41] davidfowl commented on #73832
I think disposing the root IServiceProvider and ServiceProvider should be identical. Whether we change signalR as well is separate.

[2022-08-12 16:42] Mr0N commented on #73709
Why not name this stream something like StandardLogErrors

[2022-08-12 16:42] #72320 closed

[2022-08-12 16:43] CarnaViire commented on #72696
Abort is coming from MsQuic assert in MsQuicStreamSend https://github.com/microsoft/msquic/blob/d50ee4b831fca4f057031c50d0b31a7484e7208b/src/core/api.c#L1089

It seems like pthread_mutex_lock returned a non-zero exit code https://github.com/microsoft/msquic/blob/a7e98a6bbc609efb5fb2f7ef484827a0f453e816/src/inc/quic_platform_posix.h#L346

[2022-08-12 16:44] mangod9 commented on #73784
from the chart this appears to be bimodel behavior from the test? Would be surprised in disabling SIP has caused this regression?

[2022-08-12 16:45] mangod9 commented on #73783
Again seems to be bimodal behavior in the test (there was an improvement earlier in June) ? Assigning to Peter just in case.

[2022-08-12 16:46] MichalPetryka commented on #73709
Cause standard error is the general convention (together with stderr), see [wikipedia](https://en.wikipedia.org/wiki/Standard_streams#Standard_error_(stderr)).

[2022-08-12 16:46] kunalspathak commented on #73784
We see the improvements from https://github.com/dotnet/runtime/pull/71029 and the spike comes from one of https://github.com/dotnet/runtime/compare/638a4c1a405daef6a3f1a9cacedbb6cd324e47f6...667c170a2811764c13c26f9432dab9c6ae121e0a so definitely it is sensitive to GC.

[2022-08-12 16:48] kunalspathak commented on #73783
The improvements come from https://github.com/dotnet/runtime/pull/71029 so definitely sensitive to GC.

[2022-08-12 16:50] mangod9 commented on #73784
Hmm interesting. Ok we can look if reverting the SIP change makes things better.

[2022-08-12 16:51] naricc commented on #73455
This looks like it must be a race condition somewhere in the mono runtime. I am trying to reproduce it locally now.

[2022-08-12 16:54] carlossanlop commented on #73458
We can't delete entries in-place (within the same archive) for the following reasons:

- There is no field you can mark on the entry header to indicate it's deleted (this answers your question).
- You also can't just set the whole header and the variable-sized data section to null chars, and expect the tar tools to interpret that empty space as a deleted entry. What would most likely happen is tha

[2022-08-12 16:54] Mr0N commented on #73709
Then you need to change the documentation.)

[2022-08-12 16:55] jakobbotsch commented on #73828
Hmm, seems likely this is the same problem as #73728 actually. The assertion from there:
[code]

[2022-08-12 16:56] karelz commented on #42211
Moving to 8.0 as it is just tracking reports ...

[2022-08-12 16:58] #65379 closed

[2022-08-12 17:04] tarekgh commented on #73837
@andreabalducci you may log issue to [MS ICU](https://github.com/microsoft/icu) asking for releasing a latest version of ICU on NuGet. @chetanladdha is the owner of releasing ICU on NuGet who may help more with this issue and will be good to follow up with him. I'll close the issue here as there is no action that can be taken from the .NET side. I will try to contact @chetanladdha too to see if we

[2022-08-12 17:04] #73837 closed

[2022-08-12 17:14] ZacharyPatten opened #73855 "generic mathematics interfaces should use nullable reference types"
In my opinion, all members in the generic mathematics interfaces should be nullable reference with a `?` appended to the end of the type. For example, the current interface:
[code]
Should instead be something like:
[code]

Why? It causes `CS8604` in various scenarios like the one below:
[code]
[code]
<sup>Note: "Matrix" is a custom type that represents a standard matrix as a flattened array.</sup>

[2022-08-12 17:15] bartonjs commented on #73815
Yeah, we don't care why it failed.  If ReadLink says success then we use the destination's modified time, otherwise we use the source's modified time.

[2022-08-12 17:17] hoyosjs commented on #68018
If the fix is low risk enough - given how many of you are experiencing this issue - I will take it to shiproom to request a 6.0 backport.

[2022-08-12 17:17] jakobbotsch commented on #73828
Diff between R2R and runtime code:
https://www.diffchecker.com/abWxBrQ0

There are diffs like:
[code]
where `r12` is the `this` pointer.

I'll move this to crossgen2.
cc @trylek

[2022-08-12 17:18] JulieLeeMSFT commented on #73828
@mangod9 @trylek

[2022-08-12 17:19] karelz commented on #72185
Low priority, moving to 8.0 due to time restrictions.

[2022-08-12 17:21] derekbking commented on #68018
It’s happening on nuget libraries hosted internally by my company.

[2022-08-12 17:21] #70214 closed

[2022-08-12 17:22] Mr0N commented on #73709
dot net documentation

[2022-08-12 17:23] radical commented on #73721
@pavelsavara do we need to fix this in 7? The console template uses node, but it is still in `wasm-experimental`.

[2022-08-12 17:23] radical commented on #73721
.. and we don't even always run tests with nodejs, or on linux.

[2022-08-12 17:25] jakobbotsch commented on #73606
Will close this, the underlying issues here are tracked by #73615 and #73681, the latter of which has an open PR that will fix the behavior change.

[2022-08-12 17:25] #73606 closed

[2022-08-12 17:25] Joe4evr commented on #73855
Wouldn't this require `where TSelf : default where TOther : default` or something added to the constraints as well? Wouldn't that be a bit overkill on generic constraints? (Consider someone making a helper method that takes in a `T` constrained to this interface, they'd likely have to write out *all* those extra constraints to make the compiler happy. [In general, that's a good thing](https://eric

[2022-08-12 17:27] tommcdon commented on #68018
Hi @derekbking!  Out of curiosity, are these nuget packages built with crossgen (ready2run)?  Do you see the issue when stepping into one of the libraries included with the nuget package or when stepping through them and into a System.Private.CoreLib (or other R2R) library?  The reason why we ask is that this bug is tracking a very specific issue where stepping into a r2r image on macos arm64 caus

[2022-08-12 17:28] #72301 closed

[2022-08-12 17:30] karelz commented on #73688
Moving it to 8.0 as we were unable to reproduce it and make it actionable. Impact seems to be low as well.

[2022-08-12 17:30] mangod9 commented on #73828
#73728 is related to composite mode (ah SingleFile is enforcing composite mode now I guess), so that is the likely cause.

[2022-08-12 17:32] jakobbotsch commented on #73828
Right yeah, I was just looking at that. The normal R2R code looks completely different for that function, and indeed, it repros with composite mode too (and without single-file mode).

[2022-08-12 17:38] mikem8361 commented on #72755
How can I see more recent failures (with a runtime with my new logging) with this test?

[2022-08-12 17:38] karelz commented on #73295
Moving to 8.0 due to lack of time as per above.

[2022-08-12 17:41] hoyosjs commented on #73850
Oof. looks like we're using a roslyn that's not new enough for the bootstrap? cc: @AaronRobinsonMSFT

[2022-08-12 17:42] mdh1418 commented on #60324
Tested these two runtime tests on Android arm64 Debug built on OSX x64 based off of 24c0d7000ca, and they both pass.

[2022-08-12 17:42] tommcdon commented on #72755
Here's a runfo query that should provide the latest failures: https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E7+definition%3A662+name%3AParallelCrash.sh.  You can change the timeframe by altering "started" to filter within a specific date range.

[2022-08-12 17:45] #60324 closed

[2022-08-12 17:45] karelz commented on #72977
Test is disabled, not blocking CI anymore - removing 'blocking-clean-ci' label.

[2022-08-12 17:46] danmoseley commented on #73709
Feel free to offer a PR to clarify documentation if you think it would be helpful. I will close this for the reasons described by others above.

[2022-08-12 17:48] radical opened #73858 "Remove AES and SubtleCrypto from WASM"
We've concluded that using the `SharedArrayBuffer` approach via a worker is not yielding the end-to-end experience or quality necessary to release this integration. Details and commentary on dotnet/runtime#72810 show some specific challenges that emerged:

1. Blazor uses their own runtime initialization path and the crypto initialization call is not included in that path (or public)
    * This was