[2021-02-09 06:56] NicoleWang001 opened #48343 "[ARM64/x64]Running "Dotnet --info" failed if install SDK 6.0-osx-arm64 at first and then install x64 VSM."
**Affected Mac:**
Mac OS: Big Sur(11.2) - Apple M1 chip
VSFM:8.9 Preview (8.9 build 1582)
3.1.406(runtime:3.1.12) & 5.0.103(runtime:5.0.3)
.NET 6 arm64: 6.0.100-preview.1.21103.13(runtime 6.0.0-preview.1.21102.12)

**Steps to reproduce:**
	1. Install dotnet-sdk-6.0.100-preview.1.21103.13-osx-arm64
	2. Run "Dotnet --info"
	3. Install VSM8.9 Preview(8.9 build 1582)
        4. Run "Dotnet --info"

**

[2021-02-09 06:59] NicoleWang001 opened #48068 "[Apple Silicon] Issue with VS for Mac and Side By Side arm64/x64 runtime installs"
**Setup:**
Mac OS: Big Sur(11.2) - Apple M1 chip
VSFM:8.9 Preview (8.9 build 1582)
3.1.406(runtime:3.1.12) & 5.0.103(runtime:5.0.3)
.NET 6 arm64: 6.0.100-preview.1.21103.13(runtime 6.0.0-preview.1.21102.12)

**Steps to reproduce:**
1.Create a project with TFM 5.0 or 3.1 on VSFM or Cli
2.Run this project

**Expected result:**
This project will run success

**Actual result:**
Run failed with "Failed

[2021-02-09 07:22] #43685 closed

[2021-02-09 07:36] krwq commented on #42858
@DaleStan why not just create derived class which provides the needed arg? Alternatively take the argument through the property instead?

[2021-02-09 07:40] hoyosjs commented on #44393
Related: https://github.com/dotnet/runtime/issues/47022

[2021-02-09 07:55] krwq commented on #47908
@Barshan-Mandal BCL is not a place for utilities like this. Also there are problems like: how would this work when there is no UI? I'm closing this as "won't fix"

[2021-02-09 07:55] #47908 closed

[2021-02-09 08:51] lateralusX commented on #47946
So I believe this is an issue with MSVC and dependency analysis of changed include files. If we have compiler with good LTCG we could disable the include source file "feature" on platforms supporting/using LTGC and have issues detecting changes in include files (Windows seems to be Windows/MSVC only at this moment). I experimented a little locally and believe I have a fix that makes MSVC do what e

[2021-02-09 09:02] luithefirst opened #48045 "Action closure captures unnecessary local variable"
I've found a piece of code in my application that causes a memory leak. From my point, it looks like there is an Action that incorrectly captures a local variable. Here is the smallest example I could find that still produces the issue:

[code]

When inspecting the callback created in the constructor of the DataHandler in the debugger it holds '(at)data', while I would expect it to hold a referenc

[2021-02-09 09:11] hoyosjs commented on #47022
After building with #48044, a release build up-to-date-check using build-runtime.cmd writes no files other than the CMake cache.

Some rough numbers with the MSBuild/VS generator on my 8 core machine for an up-to-date check on release x64 fornative builds:
- With `./build.cmd clr.runtime -rc release` it takes somewhere between 40 and 50 seconds. There's a small overhead on restore of tools here.
-

[2021-02-09 09:17] BrzVlad commented on #47887
Scratch that. I somehow was ending in interp only mode. After I recompiled more carefully, I can reproduce.

[2021-02-09 09:29] hoyosjs commented on #47022
Largely 10 seconds are used in invoking MSBuild in 3 invocations:
- Generate a version header.
- Restore the pgo package
- Generate a PGO path file.

These could arguably be munged into 1 (max two) calls.

[2021-02-09 10:06] am11 commented on #48016
This seems to be intentional: https://github.com/dotnet/runtime/pull/43785#pullrequestreview-516149404. I think if we don't need the intermediate files, one cleaner option is that we separate out the "runtime pack with intermediates" from "standard runtime pack" (as the former is not for the common use-case for end-users, and requires WebAssembly compiler toolchain to be installed; to be able to r

[2021-02-09 10:12] kurtisane opened #48077 "CultureInfo in Dotnet Core"
Hi,
I'm quite confused regarding CultureInfo, Parallesism, Scopes etc.
When a CultureInfo is set, it is set for a thread. For my understanding all Tasks that run in a Thread get the CultureInfo of the Thread they run in and when any of the Task changes the CultureInfo it is changing the CultureInfo of the whole Thread and therefore all of the Tasks. I have the assumption that scopes don't run in s

[2021-02-09 10:55] antonfirsov commented on #45462
@xinbingyiran I'm wondering if you can elaborate a bit on your use-case.

In #47583 we are proposing a switch to globally disable IPv6, is this something you would find useful?

[2021-02-09 11:13] gerhard17 opened #48046 "NuGet ILAsm V5.0.0 /res: support is missing"
### Description
I'm migrating a C# project using IL postprocessing from .NET framework to .NET 5.

The .NET framework ILAsm has a switch /res: to include windows embedded resources like FileVersion, ProductName or Copyright.

With the new NuGet ILAsm V5.0.0 everything is working like before, but using the /res: option results in an error:
[code]

### Configuration

The MsBuild script includes foll

[2021-02-09 11:15] Fabi opened #48048 "Product version is always set to 1.0.0"
I currently try to set the actual Product version of my applications but the compiler always sets it to 1.0.0.
The generated Project.AssemblyInfo.cs file in the obj directory does not honor any used `AssemblyInformationalVersionAttribute` set within project or code files. It always ends up using `[assembly: System.Reflection.AssemblyInformationalVersionAttribute("1.0.0")]`

This happens in all .NE

[2021-02-09 11:29] vitek-karas commented on #43540
@greatoceansoftware Just so that I understand your request: what do you mean by "experience of single file installs"? Single-file is a publish option, it's not a deployment technology (unlike ClickOnce which is exactly that).

[2021-02-09 11:42] antonfirsov opened #48049 "Test failure: X509Certificates .. RevokeEndEntityWithInvalidRevocationName (Windows)"
### Test case
`System.Security.Cryptography.X509Certificates.Tests.RevocationTests.DynamicRevocationTests.RevokeEndEntityWithInvalidRevocationName(pkiOptions: CrlEverywhere)`

### Failed in
#47781
https://dev.azure.com/dnceng/public/_build/results?buildId=983443&view=ms.vss-test-web.build-test-results-tab&runId=30814998&paneView=debug&resultId=104251

Queue: `net6.0-windows-Debug-x64-CoreCLR_relea

[2021-02-09 11:44] ViktorHofer commented on #47022
Are those steps running in incremental builds as well? The version header could presumably have inputs and outputs applied. Restoring via nuget is already incremental so nothing to do there.

[2021-02-09 11:52] lateralusX commented on #47946
Following PR seems to mitigate this issue under MSVC, https://github.com/dotnet/runtime/pull/48050

[2021-02-09 12:00] lateralusX commented on #47946
I run it on both Mono and CoreClr using MSVC and changes to any EP source file triggered a rebuild of ep-sources.c (broke out into separate source file only doing the include source file feature). It is still possible to locally comment out EP_INCLUDE_SOURCE_FILES on ep-rt-config.h to disable this feature during local development (normally what I do). Passing the define controlling the include of

[2021-02-09 12:35] NilFusion opened #48051 "Microsoft.Extensions.Configuration binding to collection with custom properties"
### Description

I have this classes (for compatibility reasons):
[code]

and i want to bind them to the following configuration

[code]

What i do
[code]

What i expect:
[code]

What i get:
`list.DefaultConfigurationValue` is `null`

### Other information

I managed to temporarely (hopefully) fix this by "forking" `ConfigurationBinder` class and adding call `BindNonScalar(config, instance, option

[2021-02-09 12:37] stephentoub commented on #47998
Yes. ExecutionContext is captured in Task's ctor.

[2021-02-09 12:56] vanillajonathan opened #48052 "Microsoft.Extensions.Configuration option does not work on configuration root"
### Description

When you use the `ValidateDataAnnotations` extension method, it only works when the configuration is bound to a section of the configuration, it does not work if you want to bind the whole configuration, not a specific extension.

I expected it to work (as in an exception would be thrown) also when binding `IConfiguration` instead of `IConfigurationSection`.

[code]

[code]

### C

[2021-02-09 13:02] marek-safar commented on #48006
I'm wondering if we should control the size optimizations with a feature switch instead of hardcoding it for specific platforms. We used browser, android, ios, tvos as size-sensitive targets but even on these platforms, someone could prefer speed over size.

Related PR #47918

@jkotas @stephentoub @eerhardt thoughts?

[2021-02-09 13:05] davidfowl commented on #48052
What does ApplicationOptions look like? What does your configuration look like? What are you binding?

[2021-02-09 13:21] freddyrios commented on #33297
@amsoedal I ended up making sure we don't run processes in parallel.

Not just that, as I first tried with a lock() around the whole method running the child process. Even that was not enough, had to set it so that the next process starts after 10+ ms from the previous process's exit.

[2021-02-09 14:15] freddyrios commented on #33297
@amsoedal if it helps, you can check the linked PR above for how I worked around the issue in our case. Specifically changes to DULutil.

[2021-02-09 14:20] amsoedal commented on #33297
@freddyrios thanks! I'll see if we can try this approach. Much appreciated (y)

[2021-02-09 14:30] #45399 closed

[2021-02-09 14:42] MihaZupan commented on #17740
@huoyaoyuan That's great to hear!

The idea would be to allow this:
[code]

Essentially allowing `socks*` Uri schemes for `IWebProxy`s and adding logic to handle them inside handlers.
Just like we have special code-paths to handle http/connect proxying, we would have another one for establishing a socks tunnel.

This will require changes in `HttpConnectionPool`, `AuthenticationHelper` and similar,

[2021-02-09 14:50] tmds commented on #47287
We're not looping on partial sends like we do for `TryCompleteSendTo` until there is nothing more to be sent:
https://github.com/dotnet/runtime/blob/4df29c9715659a7957ffeae8b79ba8b52d71ba02/src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs#L883-L885

[2021-02-09 14:51] stephentoub commented on #48045
This is by design.  The C# compiler doesn't scope closures to just blocks in which they're used but to the scope in which the captured local resides.  If you change your action to be:
[code]
instead, the closure allocation will be scoped to the if block.

[2021-02-09 14:58] stephentoub commented on #48006
I'd be ok with that as long as the speed-focused targets trim out the size-focused paths as well and not just the other way around.

[2021-02-09 15:00] vargaz commented on #48016
We need those files to compile the final dotnet executable, at least driver.c needs to stay a source file since its compiled with -D defines during the build. Maybe we can get them from the runtime pack instead of the publish dir. Not sure how they end up in the final app, we create the final app ourself in the bin/Release/AppBundle directory which doesn't contain these files.

[2021-02-09 15:01] SkiFoD commented on #47765
@layomia I made a quick research. In my opinion `enum `is the only type to include.

[2021-02-09 15:16] huoyaoyuan commented on #17740
@MihaZupan How will this interop with `ConnectCallback`?
For http proxy, `ConnectCallback` will deal with a http CONNECT request. But there isn't similar concept for socks.

[2021-02-09 15:28] CoffeeFlux opened #48056 "[mono] Remove w32 subsystem on wasm"
This runtime code (w32* files) should be largely unnecessary for netcore after https://github.com/dotnet/runtime/pull/47333 lands, and we should get rid of it as much as possible and make sure it's not present on wasm. If we do use it in a single place, it might be worth some refactoring to put the relevant code elsewhere.

[2021-02-09 15:31] CoffeeFlux commented on #45034
There's ongoing work to remove this as much as possible and use `MonoDomain` as a global namespace. I'll close this issue once I'm no longer submitting PRs to that end, but I'm not going to link them all back here.

[2021-02-09 15:54] viewizard opened #48057 "Question about async method stepping implementation for managed debugger for CoreCLR."
Hello,

I am investigating async method stepping implementation for managed debugger for CoreCLR and would like to ask your help.

I could found all awaits related info about async methods in assembly's related PDB (asyncMethodSteppingInformationBlob). So, I could setup firts breakpoint with "yield" offset (before await routine) and second breakpoint with "resume" offset (after await routine, that

[2021-02-09 15:55] CoffeeFlux opened #48058 "[mono] Port managed Monitor implementation to wasm from NativeAOT"
This is another case where we could potentially see runtime size reductions, but it's a bit more complicated than some other Threading classes due to runtime integration.

Difficulties:
1. Monitor.Enter/TryEnter/Exit are all JIT intrinsics with a fast path and fast slowpath via icall and a slow slowpath via another icall
2. We don't materialize a lock for every object instance - only the ones wher

[2021-02-09 16:24] spboyer commented on #38349
[.NET Thanks](https://thanks.dot.net) was recently integrated into the .NET Website to support this item.

[2021-02-09 16:40] greatoceansoftware commented on #43540
I'm asking what does a user see when they download and try to run a single file application for the first time? Especially in terms of security warnings with signed/unsigned code.  I can test it here, just not quite ready yet.  Sorry, it's been almost a decade since I published to anyone except myself and I'm sure things have changed a bit. Most of my apps are internal use only.

[2021-02-09 16:43] jkotas commented on #48006
We should quantify how much we are talking about here. A lot of the vectorized code should be removed by linker already on platforms that do not have hardware accelerated Vectors or hardware intrinsics. There is some small tax left after that, but I do not think it will add up to match. We are paying similar tax by e.g. artificially splitting methods between platform neutral and platform specific

[2021-02-09 16:45] vitek-karas commented on #43540
There's really no difference in that experience between single-file or non-single-file, so what you're asking about is a general experience of running a .NET app - which is probably very similar to running any "freshly" compiled app (ignoring dependency problems).

[2021-02-09 16:46] jbogard commented on #42784
I'd lean towards option 2 as well - adding more parameters to `ActivitySource.StartActivity` would be less than ideal.

[2021-02-09 16:47] iSazonov commented on #43748
I am ready to pull PR if .Net team approves.

[2021-02-09 16:54] eerhardt opened #48061 "dotnet.timezones.blat file size has increased 34% since net5.0"
1. publish a `net5.0` Blazor WASM app. Inspect the `bin\Release\net5.0\publish\wwwroot\_framework\dotnet.timezones.blat.br` file size. It should be around `66 KB`.
2. publish a `net6.0` Blazor WASM app using the latest runtime. Inspect the `bin\Release\net5.0\publish\wwwroot\_framework\dotnet.timezones.blat.br` file size. It is `90 KB`.

We should verify if this size increase is expected, and it i

[2021-02-09 17:02] greatoceansoftware commented on #43540
Well, I can make a long story long... ;-) I released my last commercial application circa 2013, and used the Lindersoft SetupBuilder (similar to InstallShield). I signed my code and the installer. As a small developer, this was a real pain to obtain the certificate, and compile .NET setup packages, and keep users current with different newer versions of the software. Despite that, the installer di

[2021-02-09 17:08] haraldsteinlechner opened #48062 "NetworkInterface.IsReceiveOnly throws on osx"
Stumbled on this when carelessly serializing NetworkInterface instances. On mac, this throws an excpetion:
`The information requested is unavailable on the current platform. The unsupported member type is located on type 'System.Boolean'. Path: $.args.fingerprint.nics.nic.IsReceiveOnly.` whereas it works on windows and linux.

### Description

* https://github.com/dotnet/runtime/blob/eec1e2518ebaf

[2021-02-09 17:11] richlander commented on #38349
Thanks for your efforts on that @spboyer! Just so folks know, the way versions are displayed on .NET Thanks isn't the final plan, and has been confusing to folks (someone just asked me about it this morning). The goal is that all updates (previews, RCs, patches) all show up under a single major version item, like 5.0 or 6.0. Ideally, 6.0 would already be listed since we know master branch is track

[2021-02-09 17:17] #47856 closed

[2021-02-09 17:20] CoffeeFlux commented on #48061
cc: @tqiu8

[2021-02-09 17:22] jeffschwMSFT commented on #48035
0x8007000e indicates oom

[2021-02-09 17:25] alexcovington commented on #47786
@sandreenko I'm wondering if 4 should be modified. The section has a comment above mentioning that it shouldn't be extended for local nodes:

https://github.com/dotnet/runtime/blob/96019a4bccb8e31f4f13f701099550c9cf136e22/src/coreclr/jit/gentree.h#L2181-L2189

[2021-02-09 17:28] MihaZupan commented on #17740
`ConnectCallback` will be used for the connection to the proxy server - same as with an http proxy (including connect).

In case of an HTTP CONNECT, we create the tunnel by asking the connection pool manager to send a new `HttpRequestMessage` with the Connect method to the proxy. This request ends up using the `ConnectToTcpHostAsync` helper that takes `ConnectCallback` into account.
The tunnel (St

[2021-02-09 17:41] huoyaoyuan commented on #17740
I'm meaning that if a user specifies both Socks proxy and `ConnectCallback`, what will they get?

[2021-02-09 17:50] MihaZupan commented on #17740
`ConnectCallback` will still be used to establish the connection.
We will use the callback with the Uri of the proxy.

What we do after that (socks handshake / http connect ...) stays the same, regardless of whether the callback was used.

So the behavior for socks would be the same as for an http proxy - if specified, the callback is used for the connection to the proxy (as that is the only conne

[2021-02-09 17:50] vitek-karas commented on #48029
I assume it works if you run it from shell, right?

Would it be possible to collect a host trace? Before starting the process set env. variables:
[code]

It should produce the `/tmp/host_trace.txt`, which should include more information about the failure. Note that this file contains some env. variable values, and directory/file names from the machine, so only share it if you're OK with sharing th

[2021-02-09 17:58] sandreenko commented on #47786
Yes, but in my understanding, it can't apply to `GT_LCL_VAR/GT_LCL_FLD` and `GT_IND` (local or indir nodes), but can be applied to local addresses (`GT_LCL_ADDR`, `GT_FLD_ADDR`) because they are invariants.

[2021-02-09 18:06] danmosemsft commented on #46730
Hello everyone, this shipped today. The Nuget package is System.Speech or get it via updating the Windows Compatibility Pack package reference.

Could folks please post back here to confirm it works successfully for them? I'd appreciate that.

[2021-02-09 18:07] danmosemsft commented on #46730
As a .NET Standard 2.0 library, this will work on all supported versions of .NET Core (ie back to 2.1)

[2021-02-09 18:11] danmosemsft commented on #47580
@SukharevAndrey +1 thanks for providing such a good actionable repro case.

[2021-02-09 18:12] briansull commented on #47708
@JulieLeeMSFT Yes, We can remove this ifdef for .Net 6.0 as we only have targets that have native FP support.
Previously, before .NET Core, we had some targets that uses FP emulation,

[2021-02-09 18:13] janvorli opened #48063 "Compilation of .NET runtime doesn't work on ARM Alpine >= 13.3"
There is a breaking change in Alpine 13.3 - it uses MUSL 1.2 which uses 64 bit time_t even on 32 bit platforms. That breaks runtime build.

[2021-02-09 18:14] alexcovington commented on #47786
@sandreenko Ah, that makes more sense. Ok, I'll make the change in that section as well.

[2021-02-09 18:17] Clockwork-Muse commented on #48061
The [IANA tzdb contains a list of transition _changes_](https://en.wikipedia.org/wiki/Tz_database#Example_zone_and_rule_lines), not the transitions themselves.  Any future rules are likely within 1-2 years, since nobody plans to change their DST rules (or offsets) 38 years in advance.  There might be precompiled versions of the offsets for each year, but since they usually retain the rules they ca

[2021-02-09 18:19] tqiu8 commented on #48061
Think there's an option for this in `zic` that will limit based on timestamp range.

[2021-02-09 18:21] terrajobst commented on #47880
* The existing `GetContextInfo()` is hidden from IntelliSense. We should mark it as `[Obsolete]` and point people to the new APIs, at the off chance that someone is using the old one.
* Otherwise, looks good.

[code]

[2021-02-09 18:26] huoyaoyuan commented on #17740
So, the `InitialRequestMessage` will be just the original message? Sure

[2021-02-09 18:29] rbhanda opened #48066 "Microsoft Security Advisory CVE-2021-24112 | .NET 5 and .NET Core Remote Code Execution Vulnerability"
# Microsoft Security Advisory CVE-2021-24112 | .NET 5 and .NET Core Remote Code Execution Vulnerability

## <a name="executive-summary"></a>Executive summary

Microsoft is releasing this security advisory to provide information about a vulnerability in .NET 5.0, .NET Core 3.1, and .NET Core 2.1. This advisory also provides guidance on what developers can do to update their applications to remove t

[2021-02-09 18:30] rbhanda opened #48067 "Microsoft Security Advisory CVE-2021-1721 | .NET Core Denial of Service Vulnerability"
# Microsoft Security Advisory CVE-2021-1721 | .NET Core Denial of Service Vulnerability

## <a name="executive-summary"></a>Executive summary

Microsoft is releasing this security advisory to provide information about a vulnerability in .NET 5, .NET Core 3.1, and .NET Core 2.1. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.

[2021-02-09 18:34] MihaZupan commented on #17740
Yes

[2021-02-09 18:35] terrajobst commented on #39406
* Looks good as proposed

[code]

[2021-02-09 18:35] kunalspathak commented on #43713
I just noticed this comment where we have a `TODO` to insert cloned loops in `optLoopTable`:

https://github.com/dotnet/runtime/blob/a0e8d8d7ea3a91e669c33e344b974c42c5f1ffe1/src/coreclr/jit/optimizer.cpp#L5322-L5324

[2021-02-09 18:35] GrabYourPitchforks commented on #48006
@jkotas If I get codegen numbers for various changes would that help? My numbers would be for x64 since that's what I build. But presumably we could extrapolate to wasm and other archs.

[2021-02-09 18:47] elinor-fung commented on #47979
Hit this in #48037:
https://helix.dot.net/api/2019-06-17/jobs/0cdd8efe-6f3b-4714-ad96-395be6332e30/workitems/System.Threading.Overlapped.Tests/console

[2021-02-09 18:48] terrajobst commented on #47940
* We should add constructors and an instance method to perform the conversions

[code]

[2021-02-09 18:53] ramondeklein opened #48069 "DictionaryKeyPolicy ignored when serializing dictionaries with non-string keys"
Issue #31849 describes that the `DictionaryKeyPolicy` wasn't working for the first level properties in a dictionary. This now works in .NET Core 5.0 for dictionaries with string-based keys. .NET Core 5 also added serialization of dictionaries with non-string keys. But when using such dictionaries, the `DictionaryKeyPolicy` is ignored.

I have created two unit tests that illustrate this issue:
[cod

[2021-02-09 18:57] terrajobst commented on #39443
* Let's return the raw `List<T>` because it's more useful to callers (and we likely can't change the instance anyway)
* Let's rename the tuple fields to `Matched` and `Unmatched` to make easier to understand

[code]

[2021-02-09 18:58] wfurt commented on #48062
It was like that since early beginning (e.g. OsxNetworkInterface.cs) I changed Linux while refactoring the code in https://github.com/dotnet/corefx/pull/41490. Since the concept does not really exist on Unix, I feel that `false` is reasonable since the interface is NOT `ReceiveOnly`. I think we should make it consistent and we can update documentation as well.

[2021-02-09 18:58] Anipik opened #48070 "Build Cross OS Linux-musl DAC for Windows Failed"
[code]

build https://dev.azure.com/dnceng/internal/_build/results?buildId=984686&view=logs&j=128f4634-3e62-52f1-6764-cb4c2b8330d4&t=32fccdd3-9e64-5af0-1f0d-f65712c6c51a

cc @dotnet/runtime-infrastructure

[2021-02-09 18:59] duaneking commented on #46730
Is platform compatibility a goal for this release?

[2021-02-09 19:01] BrzVlad commented on #47887
This doesn't look like interp related issue. The crash happens because interp is executing a method with invalid IL (which has a single ret, I'm guessing the linker removed the code).  However, the compiled code for Main cannot be found in dotnet.wasm either.

[2021-02-09 19:04] danmosemsft commented on #46730
@duaneking could you clarify ? If you mean, is it a goal that code written against the .NET Framework library works against this one, yes. I do not know of cases it would not. However the main focus is the core synthesis/recognition capability, which was led to the original asks, and not on the broader range of scenarios supported by the API. That would influence whether we make an yfix.

[2021-02-09 19:04] ocdtrekkie commented on #46730
@duaneking As previously discussed, this release is porting the Windows-only System.Speech API to work on .NET Core. It calls components built into Windows, and is not available outside of it.

[2021-02-09 19:05] terrajobst commented on #45148
* Looks good as proposed

[code]

[2021-02-09 19:06] jkotas commented on #48006
I am not sure how you can reliably extrapolate from x64 codegen numbers to impact on wasm.

[2021-02-09 19:06] danmosemsft commented on #46730
@ocdtrekkie thanks, I understand the question now. Correct, there is no plan to make this work on any other OS. This is fundamentally a wrapper around OS functionality.

[2021-02-09 19:08] hoyosjs commented on #48070
Looks like this can get caused by locks on the file caused by parallel compilation, antiviruses, and parallel builds: https://developercommunity.visualstudio.com/content/problem/552999/fatal-error-c1090-pdb-api-call-failed-error-code-3.html

There was a workaround in a Jenkins forum should we see this again: https://issues.jenkins.io/browse/JENKINS-9104

[2021-02-09 19:09] geoffkizer commented on #45148
Note the approved name for this property is `IsIPv6UniqueLocal`, without "Address" on the end as originally proposed.

[2021-02-09 19:10] macrogreg commented on #47735
Thank you, @AaronRobinsonMSFT .
I understand that updating the docs can be a process that can take some time. In the meantime, could you please clarify what the actual situation is? :

- If  a `StringBuilder` is passed to a PInvoke as an `LPWStr` in a manner described in the [above comment](https://github.com/dotnet/runtime/issues/47735#issuecomment-771887857), will or will not a buffer mem copy t

[2021-02-09 19:12] geoffkizer commented on #45246
I assume the answer here is yes -- that seems to match what the gRPC connectivity spec expects.

That means this is actually more like "connection pool status" as opposed to connection status.

[2021-02-09 19:18] ericstj commented on #48070
Be careful about assuming we should workaround such issues.  If they appear regularly it's more likely we have a concurrency issue in the build, or a bad practice (eg: open/re-write in place) in a build process.

[2021-02-09 19:21] WizardBrony opened #48073 "Question about garbage collection in async Main"
I was reading a blog post about [keeping async methods alive](https://devblogs.microsoft.com/pfxteam/keeping-async-methods-alive/) and it made me think about how this could apply to `async Main`. Say I have

[code]

Is it possible that at some point, since `c` isn't rooted, the GC could decide that it and any work it's doing (including any `async` continuations that are also not rooted) is eligibl

[2021-02-09 19:23] eerhardt commented on #48061
Thanks for the link, @tqiu8. Looks like another option is to use `-b slim`:

[code]

[2021-02-09 19:23] Ap0k commented on #29842
Please see this PR #48072

[2021-02-09 19:23] geoffkizer commented on #47287
We are looping in TryCompleteSendFile:

https://github.com/dotnet/runtime/blob/4df29c9715659a7957ffeae8b79ba8b52d71ba02/src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs#L935

[2021-02-09 19:25] terrajobst commented on #46988
* How important is this?
    - This is getting into the realm of the complicated serialization behavior.
    - It seems default values in collections are a bit of fringe behavior.
    - Let's close it for now until there is more evidence that we need this.
* General feedback:
    - It seems a bit weird to ask developers to make their collections settable; it would be more natural if the binder wou

[2021-02-09 19:25] #46988 closed

[2021-02-09 19:33] geoffkizer commented on #45462
At some point we had discussed allowing you to specify and configure the instance of SocketsHttpHandler that is used by the WebSocket. Seems like that would allow you to address this scenario.

[2021-02-09 19:33] terrajobst commented on #46704
* Let's name this property `TraceIdGenerator`
* The method will neither throw when it's set more than once nor when it's set after an ID was generated. The consumer has to set it early, ideally in main. But if they don't we'll honor it next time an ID is generated. It just means that part of the activities may not be processable if the format of the ID is important to them.

[code]

[2021-02-09 19:34] GrabYourPitchforks commented on #47793
@akhilesh84 We discussed this with the Full Framework owners this morning. We decided __not__ to backport this fix to Full Framework due to the small number of requests for it. There is a workaround, as you discovered: create your own method which implements the correct logic around `BinaryReader`, copied from the fixed netcore sources. This mechanism will work across all runtimes: netcore and unp

[2021-02-09 19:36] terrajobst commented on #47768
* Looks good as proposed

[code]

[2021-02-09 19:37] joperezr commented on #29679
@ericstj did this ever got fixed in 2.1?

[2021-02-09 19:37] GrabYourPitchforks commented on #48006
It would be something like "the \[non-vectorized\] x64 codegen went from _xxx_ bytes to _yyy_ bytes." It's not directly comparable to wasm, but I think as a first-order approximation any reduction _as a percentage of the original footprint_ would be consistent across archs.

[2021-02-09 20:09] DaleStan commented on #42858
@krwq I don't think I understand your question about creating a derived class.
Today, when I use `DispatchProxy.Create`, I have to create a class derived from `DispatchProxy`, and that class has to have a public parameterless constructor. `DispatchProxy.Create` will call that constructor, no matter what else I do in the derived class.
If I create a class derived from the dynamically-generated type

[2021-02-09 20:12] mdh1418 opened #48079 "[Wasm] Tracking AOT wasm library test failures"
To see where the wasm library tests stand with AOT compilation with respect to how many pass/fail, what the failures are, how many hang, the 268 test suites were ran locally.

Dropbox [paper](https://www.dropbox.com/scl/fi/ui5z7xvew34z6bkdg7swo/Running-AOT-wasm-tests-locally.paper?dl=0&rlkey=3dzmlw797jqgumxufc3grbuxd) with findings

[All CI Results](https://helix.dot.net/api/jobs/763c687c-e148-4b1

[2021-02-09 20:13] stephentoub commented on #48073
What would it matter for your example?

[2021-02-09 20:14] k15tfu opened #48081 "Question: Rewriting IL function body for calleeId inside ICorProfilerCallback::JITInlining"
Hi!

We know that the runtime generates `ICorProfilerCallback::JITInlining()` callbacks (not `ICorProfilerCallback::JITCompilationStarted()`) for methods being inlined.

Is it possible to instrument IL code in `ICorProfilerCallback::JITInlining()` callback for `calleeId` function (the one being inlined), or it can only be done in `ICorProfilerCallback::JITCompilationStarted()` callbacks, and to ge

[2021-02-09 20:29] WizardBrony commented on #48073
@stephentoub That's a fair question. I assume your point being if `NeverReturnsAsync` isn't actually doing anything what does it matter. The scenario I was thinking of in my head was `NeverReturnsAsync` infinitely looping and `await`ing something that isn't rooted, which in my example scenario was a local variable (versus `static` field) `HttpListener` variable. But after thinking more about it, e

[2021-02-09 20:39] stephentoub commented on #48073
They have to be, or else those async operations are buggy.  If I have a method like:
[code]
the underlying asynchronous operation needs to be able to call tcs.SetResult, which means it needs to have a rooted reference to tcs; if it doesn't, it's buggy.  And then any async continuations off of that returned task (e.g. someone awaiting it) is kept alive as a result.  And so on.

[2021-02-09 20:44] tarekgh commented on #48077
@kurtisane the current cultures is handled using the [asynclocal](https://docs.microsoft.com/en-us/dotnet/api/system.threading.asynclocal-1?view=net-5.0). It is useful to review how asynclocal work in general.

Current cultures (either CurrentCulture or CurrentUICulture) are stored as asynclocal. That means it will be stored in the async context of the executing thread. Every time you create a new

[2021-02-09 20:44] #48077 closed

[2021-02-09 20:46] macrogreg commented on #46704
Thanks for the responses.

This is, actually, a very good point.
However, those 10 developers are probably writing code that is more impactful that a single application, so it would be good to educate them well. I would love to see some of the points we discussed, including API limitations and reasons for the design decisions, find their way into the standard API docs for this API. :)

[2021-02-09 20:48] joperezr commented on #47795
There are many things that would need to be considered if we in fact decided to move the type down to the framework, so I believe we might need a big case to be made for this, given the fact that you have a workaround for this today which is just to reference it from the WinForms package. @ericstj thoughts about moving these two down? They might not need to go in ResourceManager but we could poten

[2021-02-09 20:49] WizardBrony commented on #48073
@stephentoub Makes perfect sense. Thanks a lot.

[2021-02-09 20:49] #48073 closed

[2021-02-09 20:51] tmds commented on #47287
Ah yes.

Is there a test that occasionally fails on Linux that I can run?

[2021-02-09 20:59] geoffkizer commented on #47287
I don't think there's an existing test, but there's discussion of what tests we should have here: https://github.com/dotnet/runtime/pull/47230#pullrequestreview-572598591

@antonfirsov Did we add a (disabled) test for this?

[2021-02-09 21:11] #44766 closed

[2021-02-09 21:15] Alxandr commented on #47990
I have written one of these for our tests actually, however it contains some extra features for testing purposes, like being able to simulate "network delays" (not actual delays, but how the data is split up for the reads). I use this to test APIs that consume `PipeReader`s to ensure they are agnostic with regards to where any buffer boundaries ends up being, so I run tests with a few different st

[2021-02-09 21:26] joperezr commented on #47927
cc: @carlossanlop FYI

[2021-02-09 21:29] joperezr commented on #42907
Not sure I follow from the description what is the desired behavior instead. Do you mind elaborating on that? Is the current behavior causing any issues? If so, can you describe them?

[2021-02-09 21:33] joperezr commented on #43506
From the discussion above this issue seems to be resolved so I'll go ahead and close the issue for now. Feel free to reopen in case I misinterpreted something.

[2021-02-09 21:33] #43506 closed

[2021-02-09 21:40] joperezr commented on #47218
Not sure I understand what the problem is here. When targetting .NET Core, Microsoft.Bcl.AsyncInterfaces will only ever be brought in as a transitive dependency (since asyncInterfaces are inbox on System.Runtime for .nET core) and whenever it gets brought in as the package closure, then the right shim for .NET Core should be resolved that remaps the types back to System.Runtime, so I'm not sure I

[2021-02-09 21:42] joperezr commented on #46395
Still no comments from the user that initially logged this through VS Feedback either here nor on the original VS Feedback post. I will go ahead and close this one for now, but feel free to reopen if you have a repro project or more info so that we can investigate.

[2021-02-09 21:42] #46395 closed

[2021-02-09 21:50] joperezr commented on #43995
Can you provide a minimal repro or a callstack so that we have something to take a look at?

[2021-02-09 21:52] davmason commented on #48081
Hi @k15tfu,

There are two relevant items here. The first is that due to the way the JIT requests IL for inlined methods it ignores any profiler code versioning. So regardless of whether you instrument via ICorProfilerInfo::SetILFunctionBody or RequestReJIT, it will be ignored at any point it is inlined. In order to have the runtime use the updated IL you must set pfShouldInline false in JITInlini

[2021-02-09 21:55] GrabYourPitchforks commented on #44805
Fixed by https://github.com/dotnet/runtime/pull/47981.

[2021-02-09 21:55] #44805 closed

[2021-02-09 22:09] pgovind commented on #39293
Why though? IIUC, customers use Binary Formatter right now for both `Serialize` and `Deserialize`. From .NET 6, we can turn on JsonSerializer as the default. Those who want to stick to BinaryFormatter can just set the `EnableUnsafeBinaryFormatterSerialization` flag in their csproj right? I'm missing how this change breaks someone?

Yup, I did double check that the `HashTable` can only contain `str

[2021-02-09 22:13] joperezr commented on #46921
If you could share the repro project we could take a look and figure out what is wrong, but as @danmosemsft suggests I believe that there is some weird reference happening here from application to package.

[2021-02-09 22:22] AaronRobinsonMSFT opened #48084 "[mono] P/Invoke SafeHandle tests fail"
See https://github.com/dotnet/runtime/pull/48083

[2021-02-09 22:23] joperezr commented on #46125
Good catch, we should investigate why TimeLimit is not working in this case. I know that you can set a time limit in a connection and have validated that that works, but seems that when you do it on individual requests it is broken.

[2021-02-09 22:25] hoyosjs commented on #47848
Yes, easier to follow osurce to see where to step in/over.

Not at all.

It's ok to do this just to test setup.

I glanced over this. Not sure, but it sounds like you need to change program to a full path: `"program": "/usr/share/dotnet/dotnet"`

[2021-02-09 22:50] GrabYourPitchforks commented on #39293
I agree with Eric's comment that there's no need to use System.Text.Json for this scenario. Looking through the code, the hash set is a collection of string keys with string values. So this could be done as:

[code]

The _EnableUnsafeBinaryFormatterSerialization_ flag should only control whether `BinaryFormatter` is allowed to run within the context of the current application or whether it throws

[2021-02-09 22:53] rudeGit commented on #47680
@wfurt I tested with CurrentUser store and it worked without requiring admin privileges. I also verified with WireShark that the intermediate certificate is being transferred over the wire to the server. On the server side, I can see both leaf and intermediate certificates in the chain.ChainPolicy.ExtraStore object. Now I am confident that both certs will shows on the remote server as well.

This

[2021-02-09 23:05] joperezr commented on #44826
Sorry @NadimNadimNadimNadimNadim we haven't been able to get to this one yet, but it is in our backlog and we'll definitely take a look to see if we can fix this for 6.0. We currently have a PR open that should help a lot improving the error messages when a failure occurs during a search, so that we can more easily diagnose what might be going on. Question regarding your searchBase, have you tried

[2021-02-09 23:09] joperezr commented on #44566
Hello @wli3 thanks for logging this issue. By looking at the wireshark response, it seems like the problem is that the Bind operation didn't finish succesfully. Can you try setting the protocol verison to 3.0 before sending the searchRequest?

[code]

[2021-02-09 23:12] joperezr commented on #44307
Hello @bbougot thanks for logging the issue. I believe what you want is to set the LdapConnection.AutoBind to true, which should handle the re-binding on the connection for you. Are you running on Windows or Linux? (so that we can investigate a bit more what you are seeing.)

[2021-02-09 23:12] josalem commented on #47946
fixed by #48050

[2021-02-09 23:12] #47946 closed

[2021-02-09 23:12] naricc opened #48087 "[MONO][PERF] 28-32% Pefromance Regression in System.Tests.Perf_Random"
This seems to have been caused by this change: https://github.com/dotnet/runtime/commit/5ee25aa5fee9c08dc34c962023ec75956edd3194

Below is an automated report.

### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Baseline | [8c76312b621e2cdb22ca0ee603c5b0e1919134a2](https://github.com/dotnet/runtime/commit/8c76312b621e2cdb22ca0ee603c5b0e1919134a2)
Compare | [f80b0575d44ccdc85a18c8dc2

[2021-02-09 23:13] pgovind commented on #39293
Ah indeed, we can serialize the individual values in the HashTable directly. I was only putting up a quick first draft.

Interesting. I didn't consider that, but it makes sense. Would defining a flag like this work? (copied from S.P.CoreLib)
[code]

[2021-02-09 23:16] stephentoub commented on #48087
This is the same as https://github.com/dotnet/runtime/issues/47870.

[2021-02-09 23:18] stephentoub commented on #48087
Essentially, yes, these got slower, but you should see corresponding big improvements in the "unseeded" variants of these tests.  Basically, if you created a Random with a specific seed, the methods get a bit slower as there's one more virtual indirection in the call path.  But if you created a Random without a specific seed (which is how they're actually created in the majority of production scen

[2021-02-09 23:18] naricc opened #48088 "[MONO][Perf] Regression 13-300 % Microsoft.Extensions.Primitives.StringSegmentBenchmark"
This seems to have been caused by this change: https://github.com/dotnet/runtime/commit/6cf1b8ec012d52880d46fa4773f60ed52ddc9f3d

The automated issue generated is below.

### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Baseline | [6cf1b8ec012d52880d46fa4773f60ed52ddc9f3d](https://github.com/dotnet/runtime/commit/6cf1b8ec012d52880d46fa4773f60ed52ddc9f3d)
Compare | [796848aec642d1f

[2021-02-09 23:30] naricc opened #48089 "[MONO][PERF] 9-15 % Regressions in Microsoft.Extensions.DependencyInjection.TimeToFirstService"
Likely culprit is this change: https://github.com/dotnet/runtime/commit/6cf1b8ec012d52880d46fa4773f60ed52ddc9f3d

### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Baseline | [f1ad1b97e9387dc700bf72917f29fc7d1258ac1a](https://github.com/dotnet/runtime/commit/f1ad1b97e9387dc700bf72917f29fc7d1258ac1a)
Compare | [796848aec642d1f8cc2c0d2ee6329ac6ecbd247e](https://github.com/dotnet/runt

[2021-02-09 23:42] keithn commented on #29690
Seems weird C# doesn't have a standard library to manipulate JSON data, only serialize, deserialize from static types, or read only an arbitrary json document.  Really need to be able to read, query and to manipulate JsonDocument, add elements, remove elements, etc and then turn it back to a string.  The simple pain of getting any arbitrary piece of json and adding an extra element to it is astoni

[2021-02-10 00:05] naricc commented on #48087
@stephentoub Makes sense to me. Closing this one out.

[2021-02-10 00:05] #48087 closed

[2021-02-10 01:07] cijothomas commented on #42784
Consider `ActivitySource.CreateActivity()`, along with existing `ActivitySource.StartActivity()` as alternate name to `ActivitySource.CreateUnstartedActivity()`

[2021-02-10 01:23] tarekgh commented on #42784
I have added the proposal in the top. We should discuss the naming in the design meeting. Thanks allot for your feedback.

[2021-02-10 01:26] NicoleWang001 opened #48387 "[Apple Silicon] unclear that published binaries need to be signed"
**Setup:**
Mac OS: Big Sur(11.2) - Apple M1 chip
.NET 6 arm64: 6.0.100-preview.1.21103.13(runtime 6.0.0-preview.1.21102.12)

**Steps to reproduce:**
1.Create a project with TFM 6.0
2.Publish it with rid "osx.11.0-arm64"
3. Try to run the executable file in the publish directory

**Expected result:**
The executable file in the publish directory will be  run success

**Actual result:**
zsh: killed"

[2021-02-10 01:27] cijothomas commented on #42784
minor: The title of this issue can be confusing as the new API is about slightly different things. Could you create a new issue with the proposal, and link it from there for easy read by anyone new. :)

[2021-02-10 01:29] tarekgh commented on #42784
We can rename the title and possibly the description if @macrogreg not mind. I am not sure creating a new issue and linked to this one would help much as all discussions are listed here.

[2021-02-10 01:36] VincentBu opened #48091 "Test Failure : System.Net.Security.Tests.SslStreamNetworkStreamTest.SslStream_ClientCertificate_SendsChain"
Run : [runtime 20210209.62](https://dev.azure.com/dnceng/public/_build/results?buildId=986221&view=ms.vss-test-web.build-test-results-tab&runId=30892044&resultId=140380&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

Runfo Tracking Issue: [system.net.security.tests.sslstreamnetworkstreamtest.sslstream_clientcertificate_sendschain](https://runfo.azurewebsites.net/tracking/issue/133

[2021-02-10 01:37] davidwrighton commented on #47478
I'm working on a writeup for what we should be doing here. It's irritatingly complicated. My current thinking on the matter is that we should provide a CoreCLR definition for the the behavior of all casting that is unified across architectures and platforms. It will cause a slight performance impact, but even microbenchmarks show that a helper function could be used without a significant impact on

[2021-02-10 01:41] VincentBu commented on #41606
Failed again in run [runtime-libraries-coreclr outerloop 20210209.3](https://dev.azure.com/dnceng/public/_build/results?buildId=984912&view=ms.vss-test-web.build-test-results-tab&runId=30853778&resultId=103881&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-10 01:45] VincentBu commented on #46073
Failed again in run [runtime-libraries-coreclr outerloop 20210209.3](https://dev.azure.com/dnceng/public/_build/results?buildId=984912&view=ms.vss-test-web.build-test-results-tab&runId=30853552&resultId=103215&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-02-10 02:11] itn3000 commented on #36092
I have been making small tool which handles archive(zip,tar,etc, repo is https://github.com/itn3000/dotnet-compressor).
I used `Path` as path to file which archiving, and `Stem` as entry name.
If document will be updated, I will change my getting entry name implementation or help description, so it is OK.

[2021-02-10 02:30] jeffhandley commented on #36092
Great; thanks, @itn3000.

[2021-02-10 03:44] tannergooding commented on #47478
Could you clarify what types of applications were tested? I'd expect a heavier hit in things like ML.NET (as well as the Pytorch and Tensorflow ports) since they tend to be more heavily dependent on doing the same floating-point operation over and over in a loop.
I'd imagine it likewise negatively impacts something like ImageSharp (although less as they move to using SIMD for more scenarios).

[2021-02-10 03:55] tannergooding commented on #47478
The JIT has always had undefined behavior for things like this and for over/under shifting of a value (with C# handling the latter by explicitly emitting `& mask` on all shifts) and even when referring to a single architecture like x86/x64, you have cases where Intel and AMD differ in behavior (like with `FLD`, `FSTP`, `BSF`, and `BSR`). Its largely just with the introduction of ARM that these are

[2021-02-10 03:56] ericstj commented on #47795
I don’t think we would want to move those types down. ResX is too open ended and has security issues since it activates types in documents which are often untrusted.  If you have a scenario for manipulating ResX you are better off using XML apis. That’s what MSBuild itself does now, and I believe that’s what the dotnet localization tools do https://github.com/dotnet/xliff-tasks.

[2021-02-10 04:04] #46851 closed

[2021-02-10 04:13] tannergooding commented on #47478
For what its worth, at least one of these cases is a clear bug and causes us to not be IEEE compliant: https://github.com/dotnet/runtime/issues/43895
Given .NET core doesn't have the same compat requirements, I'd expect us to be fixing this.

The only real edge cases that exist are values outside the range of the target type. For `double->float`, there is clear IEEE required behavior here.
For `do

[2021-02-10 04:23] ericstj commented on #47795
I don’t recommend we move these types down and would recommend that you avoid using them at runtime.  ResXReader activates types listed in the ResX which leads to code execution.

Instead just parse the XML. This is what the shipping loc tasks (and MSBuild itself) do https://github.com/dotnet/runtime/issues/47795.

[2021-02-10 04:35] ericstj commented on #39293
Of course the developer would have to consent to this same as any other BF usage. I’m pointing out that you are really only changing one side of a data format without thinking about updating whatever writer is out their or helping people with migration.

Have you understood the end to end use case for this type?  Where do people get the files they are feeding into it?  Perhaps you can look at some

[2021-02-10 04:55] GrabYourPitchforks commented on #39293
If there's a scenario where core writes the data file and netfx reads it, then absolutely we should consider porting to netfx whatever changes we make here. Regardless, it's fine for the payload to say "I'm using \<xyz\> serialization technology" (there are well-known markers for BinaryFormatter), and for the consumer to switch on that marker, _as long as the consumer has opted in to understanding

[2021-02-10 05:22] richlander opened #48094 "Enable Environment.ProcessorCount to return total machine processors in containers"
There has been significant discussion and feedback about the value of `Environment.ProcessorCount` presented in containers. We know that there are scenarios that are underserved by the behavior of this API. We haven't exposed a new API because we haven't developed enough insight on what exactly it would do (as simple as it may seem).

This discussion relates to scenarios where the `--cpus` or rela

[2021-02-10 05:33] Anipik opened #48095 "[Release/3.1] MemoryCacheTest.Trim failing in the release/3.1"
[code]

Failure pr https://github.com/dotnet/corefx/pull/43029

[2021-02-10 05:39] ericstj commented on #39293
Right if the payload said it needed BinaryFormatter and the app didn’t allow it that should be an exception.  That’s the whole premise of this work.

[2021-02-10 05:59] ericstj commented on #39293
Just to drop some pointers, the caller to this Serialize method is
https://docs.microsoft.com/en-us/dotnet/framework/tools/lc-exe-license-compiler
I don't believe this is in reference-source or in the open anywhere, but you can find it under ndp/fx/src/runtimetools/LicenseCompiler/LicenseCompiler.cs in a .NETFramework enlistment.  The tool ships with .NETFramework SDK tools.

The tool is not suppo

[2021-02-10 06:19] MaximLipnin commented on #47581
Putting some related traces:
[code]

[2021-02-10 07:58] #11623 closed

[2021-02-10 08:22] #48008 closed

[2021-02-10 08:22] sandreenko commented on #48008
Closed as dup.

[2021-02-10 08:23] sandreenko commented on #48008
I was able to repro the issue without crossgen2, but could not check if it affect 5.0 or not.

[2021-02-10 08:39] ryanheath commented on #47748
@EgorBo @AndyAyersMS
The bug is fixed also at our end, thanks!

[2021-02-10 08:58] #47516 closed

[2021-02-10 09:10] som-nitjsr commented on #29935
I have taken  the release  5.0.3 and i am trying to run this code in IIS with Network service account. and Network service account has access on shared location.

i am getting this error NT AUTHORITY\NETWORK SERVICE Could not find a part of the path 'z:\a.txt'.

Am i Missing some thing? i though now it should work.

[HttpGet]
        public string Get()
        {

            WindowsIdentity curre

[2021-02-10 09:16] krwq commented on #42858
I meant to create derived class per usage, i.e.:

[code]

[2021-02-10 09:45] karelz commented on #29935
@som-nitjsr this bug fix was about DNS not working. Your code seems to be unrelated. Or am I missing something?

[2021-02-10 10:05] rs38 commented on #29690
in .NET there are 2 standards: 3rd party Nuget package Json.NET and .NET Core’s built-in classes ```System.Text.JSON``` which are very fast but a bit limited compared to Json.NET.

here is an example of manipulating a JSON file without deserializing with the built in Json classes:
[code]
(from: C# 8.0 in a Nutshell)

[2021-02-10 10:19] EgorBo commented on #46618
I tried to reproduce it locally with no luck and couldn't find related failures in different PRs on AzDO either so going to close it as a most likely infra issue.

[2021-02-10 10:19] #46618 closed

[2021-02-10 10:46] vargaz commented on #47581
Looks like its called from:
    frame #28: 0x00000001059e302f iOS.Simulator.Aot.Test`Interop_GetRandomBytes_byte__int + 47
which is src/libraries/Common/src/Interop/Unix/System.Native/Interop.GetRandomBytes.cs

[2021-02-10 10:47] karelz commented on #47267
@NitishGawde we need to understand why dual-sockets are not working correctly in your environment -- is it VPN misconfiguration? Old version? Or is that by design in your VPN client? (known limitation)
Is it managed by you or your IT department? Are you able to experiment? (e.g. small C++ apps to try out what works and what doesn't)

[2021-02-10 10:48] adamjones1 commented on #47007
Hi, this doesn't appear to be fixed with 5.0.103? Is there a timeline for the release of this fix? I can still repro with the same code sample.

[2021-02-10 10:51] karelz commented on #47423
@janvorli what would be the right area path for the issue? PAL?

[2021-02-10 11:10] karelz commented on #41421
@vitek-karas what would be next step here?
Where should we route the issue?

[2021-02-10 11:11] karelz commented on #43686
Does not seem to be actionable - unable to reproduce, no core dump for investigation ... closing for now.

[2021-02-10 11:12] karelz commented on #46683
No response for a week, closing. Feel free to reopen once there is more info.

[2021-02-10 11:12] #46683 closed

[2021-02-10 11:14] karelz commented on #44630
Does not seem to be actionable with current info. Closing. Feel free to reopen when there is more info available.

[2021-02-10 11:14] #44630 closed

[2021-02-10 11:21] vanillajonathan commented on #48052
@davidfowl

Like:

[code]

[2021-02-10 11:21] karelz commented on #35508
Looks like there is not much we can do here at this moment and the issue attracts unrelated bug reports. Closing.
BTW: We are looking now deeply at connection pool management customization in the context of low-level HTTP APIs. That should help us to get more control over outbound connections and SNAT port usage.

[2021-02-10 11:21] #35508 closed

[2021-02-10 11:22] vitek-karas commented on #41421
We would need more information about the crash. I haven't seen this repro anywhere (can't try right now, I don't have ARM64 machine handy).

[2021-02-10 11:23] karelz commented on #41421
Perhaps closing then? Until there is more info available?

[2021-02-10 11:26] vitek-karas commented on #41421
Agreed - please open a new issue if there's are still issues with the latest .NET 5 (on any platform).

I also just realized that running `dotnet new` is not related to single-file, so if that crashed it's definitely a different issue than the one described above.

[2021-02-10 11:26] #41421 closed

[2021-02-10 11:49] ViktorHofer commented on #47734
Failed again in https://dev.azure.com/dnceng/public/_build/results?buildId=980951&view=ms.vss-test-web.build-test-results-tab&runId=30751418&resultId=136298&paneView=debug

[2021-02-10 11:50] ViktorHofer commented on #47734
[code]

cc @dotnet/ncl

[2021-02-10 12:12] EgorBo commented on #47082
Ah sorry, I didn't realize I had to uncomment those two(one) lines to reproduce.
@SingleAccretion thanks for such a deep analysis! 👍

To summarize it here is the minimal repro:
[code]
`Test` here is supposed to be optimized into just `no-op` after inlining `InlineMe` but it instead emits:
[code]
It happens (as @SingleAccretion pointed out) because `impInlineFetchArg`/`fgInlinePrependStatements` do

[2021-02-10 12:24] stephentoub commented on #48094
There are lots of places influenced directly or indirectly by the result of ProcessorCount. Is changing it globally for all consumers going to have the desired effect and something someone can reason about? Or is the idea is just another know someone can try to see if it helps performance?

[2021-02-10 12:56] chrfin opened #48102 "Use WinRT API in netstandard2.0 library referenced by .NET 5.0 with IsOSPlatform check"
This is a cross-post with [https://stackoverflow.com/questions/66137060](https://stackoverflow.com/questions/66137060)

We are in the process of updating our `netcoreapp3.1` libraries and programs to `net5.0`. These libraries are referencing one `netstandard2.0` library which uses WinRT if supported via a NuGet reference to `Microsoft.Windows.SDK.Contracts`.  
This is checked via `RuntimeInformati

[2021-02-10 13:01] vitek-karas commented on #29842
I filed https://github.com/dotnet/dotnet-api-docs/issues/5321 for some of the documentation issues around this (mentioned by several comments above).

[2021-02-10 13:15] huoyaoyuan commented on #48102
Try the new net5.0 package `Microsoft.Windows.SDK.Net`?

[2021-02-10 13:20] rperazzolli commented on #47881
Just like Geoff. In my case the UWP project works fine, but WASM fails. Switching to version 4.7.2 everything works fine.

[2021-02-10 13:27] chrfin commented on #48102
@huoyaoyuan Thanks for the tip, but I can only find `Microsoft.Windows.SDK.NET.Ref` and that is a `net5.0` package...

[2021-02-10 13:39] bgavrilMS opened #48105 "Console apps do not read trace listeners from app.config"
### Description

.NET Core 3.1 / .NET 5 console apps do not read trace listeners defined in app.config

### Repro steps

1. Create a new console app and add the following code:

[code]
2. Also add a simple app config using Visual Studio and configre a TextWriter listener.

[code]
3. Run this app using .NET classic, e.g. net471. Output `System.Diagnostics.TextWriterTraceListener`
4. Run this app us

[2021-02-10 13:50] ViktorHofer opened #48106 "System.Net.Http.Functional.Tests crashing on Debian10"
[code]

core.1000.23:
  https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-47044-merge-d5fd37f62af34d4c92/System.Net.Http.Functional.Tests/core.1000.23?sv=2019-07-07&se=2021-03-02T12%3A42%3A55Z&sr=c&sp=rl&sig=g8mkLm73Sb7sg6WG936ZHIG1VSwKJoSqbLUWCp%2FggUU%3D

how-to-debug-dump.md:
  https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-47044-me

[2021-02-10 13:58] tmds commented on #42023
Thanks for fixing!

I'll look at running these tests. It will take some time because the workflow is cumbersome since it involves a non-RHEL8 arm64 machine to not run into the issue while building tests, and then a RHEL8 arm64 machine to run the tests.

I hope this fix will get rid of the `NullReferenceExceptions` we're seeing: https://github.com/dotnet/runtime/issues/43349.

For it to be usable f

[2021-02-10 14:15] CXuesong commented on #47951
Oh. Then the logging scopes are still lost since "Log 2", as if `Yield` never exists. I've corrected my answer above.

I assume you meant this:
[code]

[2021-02-10 14:56] janvorli commented on #47007
@adamjones1 the fix didn't make it to 5.0.3 runtime by a couple of days, so it will be in the next update (we release updates with monthly cadence).

[2021-02-10 14:59] janvorli commented on #47423
@karelz I would use meta, as the fix involves changes in rootfs build script in arcade, a patch to the pal.h header and change in the dotnet-buildtools-prereqs-docker repo.

[2021-02-10 15:08] MgSam commented on #39443
I strongly believe you should return `IReadOnlyList<T>` and not `List<T>`. You are constraining your implementation in now until forever if you return the concrete `List<T>` type. The method signature should not be dictated by the implementation whenever possible.

[2021-02-10 15:10] roji opened #48253 "Continue evolving System.Data and the database providers"
- [x] https://github.com/dotnet/runtime/issues/28633
- [ ] https://github.com/dotnet/runtime/issues/22336
- [ ] [Support the new date-only and time-only types across database providers](https://github.com/dotnet/runtime/issues/49036#issuecomment-806444260)
- [x] https://github.com/dotnet/efcore/issues/13837
- [ ] https://github.com/dotnet/efcore/issues/14044
- [ ] https://github.com/dotnet/datalab

[2021-02-10 15:26] viewizard commented on #48057
Looks like I did a mistake in my test code, `ObjectIdForDebugger` return result in proper way as it should all the time.

[2021-02-10 15:26] #48057 closed

[2021-02-10 15:34] reflectronic commented on #48102
You are supposed to multitarget your library and use `#if NET5_0`. I think they have intentionally moved away from using runtime OS checks, because it is pretty easy to make a mistake and get a broken library that way.

[2021-02-10 15:40] eiriktsarpalis commented on #39443
I don't see how this implementation would ever use anything other than `List<T>`, so we opted for the simple solution. There are benefits to returning a concrete type and there is certainly precedent in LINQ, e.g. the `ToDictionary()` method.

[2021-02-10 15:47] jkotas commented on #48105
Duplicate of #23937

[2021-02-10 15:47] #48105 closed

[2021-02-10 15:47] andrii-litvinov commented on #852
I experience same issue when the ASP.NET Core container with Server GC gets OOMKilled, so that's still an issue.

[2021-02-10 15:56] MgSam commented on #39443
We never know now what we'll know in the future. That's the entire point of defensive coding. The framework is littered with stuff that is now considered obsolete or bad practice that seemed like a great idea at the time.

`ToDictionary()` and `ToList()` are totally different. They are for the express purpose of getting those concrete types back.

No other LINQ methods return concrete types. Inclu

[2021-02-10 15:58] allxiao commented on #47218
Hi @joperezr , I uploaded the minimal project setup to reproduce the problem in the earlier reply https://github.com/dotnet/runtime/issues/47218#issuecomment-763810511 : [Reproduce.zip](https://github.com/dotnet/runtime/files/5844035/Reproduce.zip).

[2021-02-10 16:12] eiriktsarpalis commented on #39443
While I understand the point you are trying to make in principle, I don't agree that it applies to this particular case.

Note that the new method has more similarities with `ToDictionary` and `ToList` than with `GroupBy: it eagerly consumes the source enumerable and returns a materialized collection. We actually debated following the `ToType` naming convention but just couldn't find an appropriat

[2021-02-10 16:12] lambdageek opened #48109 "[mono] Add support for defining dynamic assemblies in non-default ALCs"
In particular, `AssemblyBuilder.DefineDynamicAssembly` should use `AssemblyLoadContext.CurrentContextualReflectionContext` to instantiate the `AssemblyBuilder`.

Corresponding CoreCLR work is in https://github.com/dotnet/runtime/pull/48072

[2021-02-10 16:13] lambdageek commented on #48109
/cc @SamMonoRT @fanyang-mono @CoffeeFlux

[2021-02-10 16:25] #44600 closed

[2021-02-10 16:33] rolfbjarne opened #48110 "Mac Catalyst: Need dllmap support"
This is the same as #44242, just for Mac Catalyst, we need support for dllmaps.

Currently calling `mono_dllmap_insert` asserts:

[code]

/cc @akoeplinger

[2021-02-10 16:33] o-mdr opened #48111 "App icon is not embedded when compiled on Ubuntu targeting Windows"
### Description

I have a cross-platform console dotnet core 5.0 application, here's a relevant extract from the .csproj file
[code]
When I publish it with `dotnet publish` on my laptop running Windows 10 x64, I get a `foo.exe` with the icon (yellow square).

![image](https://user-images.githubusercontent.com/3082246/107537620-fd23c100-6bba-11eb-8cf9-8676f29dfa85.png)

When I  publish it on the bu

[2021-02-10 16:37] eiriktsarpalis commented on #47812
I'm going to close this issue, since it is not very actionable. I would recommend continuing the conversation in #14477 on potential perf improvements to the internal implementation of immutable hashtables.

[2021-02-10 16:37] #47812 closed

[2021-02-10 16:37] eiriktsarpalis commented on #48069
@layomia might have an opinion on this. Looks related to https://github.com/dotnet/runtime/issues/47765?

[2021-02-10 16:38] o-mdr commented on #48111
Will this issue be better suited here https://github.com/dotnet/sdk? Apologies if this is the wrong repo

[2021-02-10 16:38] eiriktsarpalis commented on #48069
Actually it is a duplicate of #47765. Closing.

[2021-02-10 16:38] #48069 closed

[2021-02-10 16:42] lambdageek opened #48113 "Mono C# low-level struct feature support"
See #46104.  Basically there are two new C#1language features that we need to support.  `ref` fields in `ref` structs, and fixed size buffers of any type.  (See C# and CoreCLR issues in the linked issue).

- [x] `ref` fields in `ref` structs. https://github.com/dotnet/runtime/pull/71498
   For Mono due to conservative stack scanning, it is likely that the only additional work for `ref` fields is t

[2021-02-10 16:43] eiriktsarpalis commented on #27062
Is bloat in the `CollectionsMarshal` class a source for concern? As we add methods to it it might get increasingly difficult to navigate the APIs.

[2021-02-10 16:43] jnm2 commented on #39443
@MgSam This was discussed in the video at https://youtu.be/7bRCbwE9CYE?t=2772. Someone mentions:

[2021-02-10 16:45] EgorBo commented on #47920
Well, even a simple
[code]
emits a sub-optimal codegen:
[code]
The problem here is the fact we emit a giant tree for the following IL:
[code]
After importer:
[code]
We emits a huge tree for `isinst` while not needing its return value (we only compare it with null), we only want something like this:
[code]

[2021-02-10 16:47] tannergooding commented on #27062
I'd think to the same extent as any other/similar type such as `MemoryMarshal`, `Unsafe`, etc.

As it is today, we have 1 method in it and this proposal is adding 2-3 more. We only have a limited number of collection types in S.P.Corelib and a more limited set where returning a ref makes sense, so I don't think we are at risk of overloading it.

[2021-02-10 16:48] AndyAyersMS commented on #47920
6.0 codegen for M1 and M2 looks pretty good (better than the sharplab above, which is indeed showing 5.0 codegen).

Main difference from 5.0 is likely the CSE of the method table fetches enabled by #45854. M1 could improve its handling of return values a bit.
[code]
[code]

[2021-02-10 16:58] jkotas commented on #48111
Duplicate of https://github.com/dotnet/sdk/issues/3943

[2021-02-10 16:58] #48111 closed

[2021-02-10 17:01] stcpottdav commented on #44566
It seems that it does not support searching a the domain level as per this ticket:
https://github.com/dotnet/runtime/issues/44826

Once I changed my SearchBase to something lower it worked for me.

Basically changing:
"DC=pub,DC=company,DC=com"
to
"OU=UsersOU,DC=pub,DC=company,DC=com"

[2021-02-10 17:03] AndyAyersMS commented on #47920
However `M0` is still not where it could be.
[code]
The jump-threading optimizations introduced in #46257 bail out as there is a temp assign (and hence side effect) in the block threading would like to avoid:
[code]
This temp assign is consequence of the expansion of qmarks done by morph in `fgExpandQmarkForCastInstOf`.

At any rate we can / should extend RBO to allow duplication of the side effec

[2021-02-10 17:12] AndyAyersMS commented on #47920
For completeness, here's the 6.0 codegen for `M3` and `M4`.

`M3` looks good and benefits from #45854. `M4` has the same temp assign blocking issue as noted for `M0`.

[code]
[code]

[2021-02-10 17:20] smourier commented on #46264
Is the new version of C#/WinRT https://blogs.windows.com/windowsdeveloper/2021/02/09/c-winrt-authoring-preview-and-updates/ (with "authoring" support) supposed to allow me to implement a WinRT interface in C# and fix that issue?

[2021-02-10 17:34] CoffeeFlux commented on #48079
It would be nice to compare this with currently known failures with the interpreter, so we can tell what is AOT-specific.

[2021-02-10 17:35] AndyAyersMS opened #48115 "Redundant Branch Opts Enhancements"
#43811 introduced a redundant branch optimization, further enhanced in #46237 and #46257.

There are still more improvements possible. Here's a partial list:
* handle cases where the dominating compare is a different relop (eg `x > 0` dominating `x == 0`).
  * Prototype [relop implies relop](https://github.com/AndyAyersMS/runtime/commits/RelopImpliesRelop).
  * Also perhaps leverage this logic in

[2021-02-10 17:37] AaronRobinsonMSFT commented on #46264
@smourier I honestly don't know. All WinRT support in .NET is now handled by the C#/WinRT team and tracked in that repo. The .NET runtime team has no direct ownership of WinRT support anymore as it is being driven by the [Microsoft organization](https://github.com/microsoft). This isn't to say the .NET runtime team doesn't play a role but all [WinRT specific code](https://github.com/dotnet/runtime

[2021-02-10 17:41] ManickaP commented on #48106
I'm looking.

[2021-02-10 17:42] smourier commented on #46264
@AaronRobinsonMSFT - ok thanks, at least you answer my questions quickly :-)

[2021-02-10 17:47] CalinBunea commented on #48116
Dude, are you just writing here to get attention or something? How can you possibly ask me what numbers I've got compared to yours when we use different hardware? Just spin a VM on your laptop with Windows or Linux (depending on your host OS) and do a fair comparison using same hardware! Or even better, spin 2 VMs one with Linux Ubuntu 18.04 and one with Windows Server so both VM will suffer any v

[2021-02-10 17:47] AaronRobinsonMSFT commented on #46264
@smourier Feel free to tag me on these sorts of questions in the C#/WinRT repo. I can poke people internally if need be - even though another team does own this experience I accept I am likely much closer to them than non-Microsoft employees :-)

[2021-02-10 17:49] Lxiamail commented on #46526
Sorry for accidently closed the issue.

[2021-02-10 17:59] EgorBo commented on #47920
@AndyAyersMS Do you think it makes sense to special case
[code]
in the importer, something like this https://github.com/EgorBo/runtime-1/commit/6659f53abe3b4e3961cd79b3f2c7921c5de53441 or it just should be handled via https://github.com/dotnet/runtime/issues/48115?

[2021-02-10 18:04] EgorBo commented on #32239
Reopening since https://github.com/dotnet/runtime/pull/46253 only handled them for arm64

[2021-02-10 18:08] jeffschwMSFT commented on #48068
@NicoleWang001 looks like you have a mix of X64 (which runs emulated) and Arm64 installed on this machine.  We are currently investigating how to have these co-exist.  In the short term to try out .NET 6 Arm64 you will need to uninstall the X64 versions.  Is that possible?

@vitek-karas @sdmaclea

[2021-02-10 18:13] sdmaclea commented on #48068
/cc @janvorli

[2021-02-10 18:25] joperezr commented on #47218
Oh sorry I missed that. I have checked the project and now know what is going on. The problem here is that by running the publish command you have above, you are effectively publishing the output of two projects into the same directory, causing publish assets from one project to override the assets from the other one. More specifically, your lib project references Autofac package, and will get the

[2021-02-10 18:25] #47218 closed

[2021-02-10 18:27] CoffeeFlux commented on #48110
Any chance I can convince you to migrate to using `PINVOKE_OVERRIDE` instead?

[2021-02-10 18:28] k15tfu commented on #48081
@davmason Thank you, everything is clear.

[2021-02-10 18:28] #48081 closed

[2021-02-10 18:30] joperezr commented on #47218
I also didn't mention it, but alternatively you could just not pass the `-o publish` argument to the publish command, and it will cause both projects to have different publish directories, which will al so fix the issue.

[2021-02-10 18:38] richlander commented on #48094
Great question, @stephentoub. The goal of this is to enable experimentation. For now, you'd get the performance in aggregate, as you call out. Assuming we get adequate and compelling information, we may offer something different.

[2021-02-10 18:47] wfurt commented on #47580
fix will come out in 5.0.4.

[2021-02-10 18:47] #47580 closed

[2021-02-10 18:51] stonstad opened #48292 "PerformanceCounter Exception When Invoked for Current Process"
### Description

PerformanceCounter with category "Processor" and counter "% Processor Time"  fails when instance is specified by process name.

[code]

### Configuration

.NET 5.0.2
Windows 10 Professional 20H2 19042.746

### Regression?

Regression from .NET Framework 4.x

### Other information

System.InvalidOperationException: 'Instance 'ProcessName' does not exist in the specified Category.'

[2021-02-10 18:51] echesakovMSFT commented on #42023
It's unlikely. The issue you mentioned exhibits quite different symptoms.

I am not familiar with the source-build infrastructure. Can you please elaborate on what version of the SDK are you talking about? Is it 5.0 or 6.0?

I wasn't originally but if this blocks you in 5.0 I would propose a simpler (less risky) change (as in #45226)

[2021-02-10 18:52] efgiese commented on #43995
I created a brand new project, see at https://github.com/efgiese/ProgressConsoleApp, and it works...

Will try to migrate my ohter project to .NET Core 5.0 and see if it works.

Thanks...

[2021-02-10 18:52] AndyAyersMS commented on #47920
Handling it early is a good idea. The less IR/flow we introduce early, the better.

[2021-02-10 18:53] CoffeeFlux commented on #48110
This issue is also a variant of https://github.com/dotnet/runtime/issues/43204

In both cases, using `PINVOKE_OVERRIDE` instead seems like the best solution.

[2021-02-10 18:59] stephentoub commented on #48094
To be clear, I'm fine with us adding the environment variable.

Just trying to understand what that "adequate and compelling information" information would look like.  Given that this is a global switch, what would cause us to think we needed to offer something different?  Certainly I can imagine the simple case of "I flipped the switch and my perf got better", and we get enough of that signal to

[2021-02-10 19:00] pgovind opened #48119 "Single/Double/Half/Decimal need more test cases for parsing"
Follow up for https://github.com/dotnet/runtime/pull/47666/files#r569703812

Tests need to be added for at least:
1) Simple floating point number starting with a `.`. For ex: `.234`
2) Simple floating point number with a `.` as it's last digit.
3) Floating point number with a `.` at single/double/half/decimal.MaxDigitCount
4) Floating point number with a `.` after single/double/half/decimal.MaxDig

[2021-02-10 19:06] carlossanlop commented on #43748
I assigned this issue to you, @iSazonov . Thank you for your help! Looking forward to review the PR.

[2021-02-10 19:08] jashook commented on #41886
3.1 port -> https://github.com/dotnet/coreclr/pull/28142

[2021-02-10 19:12] joperezr commented on #43995
Ok, thanks for confirming. In that case I'll go ahead and close this issue for now. Feel free to reopen if you can repro again or have any follow up questions.

[2021-02-10 19:12] #43995 closed

[2021-02-10 19:13] tmds commented on #42023
We didn't find many clues from running the priority1 tests. I'm keeping my fingers crossed.

source-build has branches for each .NET version. .NET 5.0 branch uses a 5.0 SDK. .NET 6.0 branch will use a 6.0 SDK.

https://github.com/dotnet/runtime/issues/43349 blocks us. When we know what is needed to fix it, we can see if it makes sense to apply changes to 5.0, or delay till 6.0.

[2021-02-10 19:14] joperezr commented on #44566
I see, thanks for confirming. I'll close this issue then as a dupe so we can focus on that one instead. Feel free to log other issues or reopen if you hit any additional problems.

[2021-02-10 19:14] #44566 closed

[2021-02-10 19:20] JulieLeeMSFT commented on #42023
I assume that you can use 6.0 SDK, and we don't need to make changes to .NET 5.0.

JanV couldn't repro the issue. Let's keep on eye on it and track `NullReferenceExceptions` issue from #43349.

[2021-02-10 19:28] sdmaclea commented on #42023
We are seeing a lot of `NullReferenceExceptions` in gcstress of Apple Silicon.  We also see them as occasional intermittent failures on Apple Silicon. I will need to look into these to get Apple Silicon stable.

[2021-02-10 19:34] tmds commented on #42023
To build for 5.0, we need a 5.0 SDK.

Are these tests I can run? Is there an issue tracking this?

We don't see `NullReferenceExceptions` on Fedora arm64. Fedora arm64 uses a 4KB page size, which is why I thought the `NullReferenceExceptions` may be related to the page size.

[2021-02-10 19:38] JulieLeeMSFT commented on #42023
@echesakovMSFT can make a simpler (less risky) change as he mentioned for .NET 5 (as in #45226).
@echesakovMSFT please go ahead for the change.

[2021-02-10 19:42] #27449 closed

[2021-02-10 19:42] AndyAyersMS commented on #43713
As part of loop normalization we should refactor flow so all loop headers have exactly one non-in-loop predecessor (for reducible loops, anyways). I expect that C# always gives us IL with reducible loops (except in methods that use goto).

[2021-02-10 19:44] tmds commented on #42023
@JulieLeeMSFT @echesakovMSFT I'm fine waiting to make changes to 5.0 until we figured out all fixes needed to solve the `NullReferenceExceptions` issue.

[2021-02-10 19:51] JulieLeeMSFT commented on #42023
@sdmaclea I guess you can use this .NET 6 fix to test Apple Silicon `NullReferenceExceptions` issue, correct?

[2021-02-10 20:04] terrajobst commented on #48116
@CalinBunea

I have done zero research but I don't doubt that there are benchmarks where one platform performs better than the other. We have seen this in all directions. We generally care about .NET being awesome for workloads we think our customers care about and that very much includes big data processing or string processing in general.

We're quite public about how we approach these things an

[2021-02-10 20:06] richlander commented on #48094
I think there is near zero chance we'll change the default on this property. The experience of doing that last time was bad for everyone involved, and nothing has changed to suggest a different outcome (other than that people would be less tolerant of trying it a second time). I know you probably know that. I'm just wanting to send a clear message to anyone reading this that changing the default i

[2021-02-10 20:13] MgSam commented on #39443
I think a better analog rather than `ToDictionary` or `ToList` is `Regex.Matches`. It's doing conceptually the same thing as this Partition method- except it works on a Enumerable<char> (aka, a string) instead. And it returns `MatchCollection`, which is a **read-only** collection of the different partitions.

I totally agree with this principle- which is why I'm proposing `IReadOnlyList<T>` and no

[2021-02-10 20:16] Maoni0 commented on #852
the first step to investigate a perf issue is to collect data. would it be possible that you could [collect a trace](https://github.com/Maoni0/mem-doc/blob/master/doc/.NETMemoryPerformanceAnalysis.md#how-to-collect-top-level-gc-metrics) for us to look at?

[2021-02-10 20:17] davidwrighton commented on #45600
@GureevLeonid we would like permission to include code derived from your test case as a test in our testbed. May we do that?

[2021-02-10 20:36] sdmaclea commented on #42023
@JulieLeeMSFT As @echesakovMSFT said it is unlikely that this fixed https://github.com/dotnet/runtime/issues/43349 or the equivalent issues we are seeing on Apple Silicon.  I was just commenting that this is a common issue which we are likely going to invest in fixing for 6.0.

I will certainly be testing this as we bring up CI for Apple Silicon.

I am not sure why #45226 wouldn't have fixed the i

[2021-02-10 20:40] AndyAyersMS commented on #43713
Just for completeness' sake, the "standard" flow normalization around reducible loops are:
* preheader: ensure there is a single non-critical non-in-loop edge reaching the loop header (implies: pred block of that edge has a unique successor, since we know the loop header has multiple predecessors. This allows hoisting.
* landing pad: ensure the block targeted by loop exit edges has no non-loop pre

[2021-02-10 20:52] Anipik opened #48122 "SslStream_ClientCertificate_SendsChain failed on mono Linux x64"
[code]

log https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-f94f25d5e054458fb5/System.Net.Security.Tests/console.48f6be77.log?sv=2019-07-07&se=2021-03-02T09%3A11%3A14Z&sr=c&sp=rl&sig=4MNVdgn12sWJp5H%2BwgSoZoWM3uaDdUetCJfPtxFomq8%3D

build https://dev.azure.com/dnceng/public/_build/results?buildId=987301&view=logs&j=3b5945b0-87a7-52cf-843a-406c21a8e27e

[2021-02-10 20:54] codybartfast opened #48123 "ClientWebSocket.SendAsync does not raise an exception when message cannot be sent"
SendAsync can complete successfully when the message has not, and cannot, be sent to the server.

This may be by design given the only exceptions documented appear to be ones that would be raised before starting to send, but my naive expectation was that an exception would be raised (WebSocketException?).

The behaviour can be recreated by disabling transport after a connection has been opened and

[2021-02-10 20:54] Anipik commented on #47805
cc @layomia @steveharter

[2021-02-10 20:55] Anipik opened #48124 "Illegal memory access causing segmentation faule while running System.Net.Http.Functional.Tests on coreclr linux"
log https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-4dffcd7a256b4482ae/System.Net.Http.Functional.Tests/console.f6eb277a.log?sv=2019-07-07&se=2021-03-02T07%3A25%3A39Z&sr=c&sp=rl&sig=c2oMxmwHunIaQe0uEqN5rMZieYVfXvvi5jXC3Ml0YbU%3D

build https://dev.azure.com/dnceng/public/_build/results?buildId=987206&view=logs&j=b9b7de4d-2126-5581-6453-1576f9aaac5f&t=db048d4

[2021-02-10 21:12] VSadov commented on #47859
Opening `\dev\zero` is currently by-design. It is used in the pattern that creates anonymous memory mappings without relying on `MAP_ANONYMOUS`. It is likely something that was done long ago for portability.

I think it is no longer needed and should be removed to avoid running into fd limits.

The main reason for the leak though is that assemblies loaded via `Assembly.Load` are not unloadable.
If

[2021-02-10 21:13] VSadov commented on #47859
The following example, which uses unloadable context, does not have the issue.

[code]

[2021-02-10 21:14] VSadov commented on #47859
I think we still need to get rid of opening `/dev/zero` - just to avoid running into fd limits, which could be relatively small

[2021-02-10 21:16] harborsiem opened #48125 "Bitmap class should have transparency informations when loading from file"
* .NET Core Version:

.NET SDK (gemäß "global.json"):
 Version:   5.0.103
 Commit:    72dec52dbd

Laufzeitumgebung:
 OS Name:     Windows
 OS Version:  10.0.19042
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\5.0.103\

Host (useful for support):
  Version: 5.0.3
  Commit:  c636bbdc8a

* Have you experienced this same bug with .NET Framework?:
Yes

**Proble

[2021-02-10 21:23] tannergooding commented on #48116
Here are what I get locally:

<details>
  <summary>Used code, `string.IndexOf(string, int)` - Click to expand!</summary>

[code]

</details>

[code]

<details>
  <summary>Used code `string.IndexOf(string, int, StringComparison)` - Click to expand!</summary>

[code]

</details>

[code]

[2021-02-10 21:24] vitek-karas commented on #4596
Part of the probing mechanism is documented here: https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/loading-unmanaged

[2021-02-10 21:25] tannergooding commented on #48116
This was comparing `Windows 10 19042.0` vs `Ubuntu 20.04` running on WSL2 (I also tried on Ubuntu 20.04 proper and got essentially the same results).

The reason that Unix is slower for `string.IndexOf(string, int)` is because it is Culture aware and depends on ICU. This is likewise why this method is slower on .NET 5 than on .NET Core 3.1.
The `string.IndexOf(string, int, StringComparison.Ordinal

[2021-02-10 21:33] stephentoub commented on #48116
@tannergooding, you might also try .NET 6 builds, which will include fixes like https://github.com/dotnet/runtime/pull/43065 (I don't think we backported that to 5.0.x, but I'm not 100% positive).

[2021-02-10 21:34] vitek-karas commented on #7051
We've added detailed tracing for this: https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/collect-details

It's not as convenient as exception message, but it provides more detail than could fit into exception message. We hope it can be used for at least the same scenarios as fusion logging was used in .NET Framework.

[2021-02-10 21:34] JeremyKuhne commented on #48125
This is a request to support this bitmap format in System.Drawing. Clearly GDI+ doesn't recognize this format and it appears that GDI doesn't either.

The suggestion looks worth investigating, but we'd probably want to parse without using any Win32 APIs so this has a chance of working on Unix. I would think we'd want to add an overload with a new option to avoid breaking existing apps that are dep

[2021-02-10 21:35] tarekgh commented on #48116
The GUID performance is already tracked by the issue #13628. And thanks @stephentoub pointing at the optimization we did for linguistic search.

[2021-02-10 21:36] jeromelaban opened #48126 "[Wasm][AOT] using Nullable<T> forces the interpreter use in profiled AOT"
### Description

Using Profiled AOT, the following code is run using with the intepreter:
[code]
Seemingly caused by the use of `int?`.

![image](https://user-images.githubusercontent.com/5839577/107575587-0d896b00-6bbe-11eb-85df-4fde4d638961.png)

Repro: https://github.com/jeromelaban/Wasm.Samples/tree/master/Bug48126/Bug48126

### Configuration

bb650672df2da1c7666e20d3abf713d050a954ca

### Regr

[2021-02-10 21:37] wfurt commented on #48124
dup of  #48106?
cc: @ManickaP

[2021-02-10 21:39] jkotas commented on #48094
Agree. We know that there are likely some workloads where this setting can be used to optimize performance. This setting will allow us to find out more data about it and unblock the workloads where the default policy works particularly poorly.

This setting can be used as a mitigation for https://github.com/dotnet/runtime/issues/47427 breaking change.

Yes, we have seen some of that signal e.g. in

[2021-02-10 21:41] vitek-karas commented on #9025
This is kind of solved - we support IJW.

A side note: I checked `Google.OrTools` and it seems it doesn't use IJW anymore - it's just managed/native split with PInvokes.

[2021-02-10 21:41] #9025 closed

[2021-02-10 21:42] wfurt commented on #48122
dup of  #48091

[2021-02-10 21:42] #48122 closed

[2021-02-10 21:50] fsinisi90 commented on #40203
@jeffschwMSFT Thank you very much, it works having a known entry point and then making the call using reflection. Is there a way to call non-static C# methods from unmanaged code? Or are you planning to add that feature?

[2021-02-10 21:51] danmoseley commented on #48124
Happy to see there's a dump here and detailed instructions about how to open it.
https://dev.azure.com/dnceng/public/_build/results?buildId=987206&view=ms.vss-test-web.build-test-results-tab&runId=30922400&resultId=182714&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab
👌

[2021-02-10 21:54] pgovind commented on #39293
Just to be clear, the UX in my mind here was : Call `Deserialize` in an app => it throws an error saying BF is not supported by default, turn on `EnableUnsafeBinaryFormatterSerialization` => dev turns on the `EnableUnsafeBinaryFormatterSerialization` flag. We don't really need to parse the payload here for BF markers right?

Ah I see, nice find. That begs the question, is deprecating BF considered

[2021-02-10 21:56] jeffschwMSFT commented on #40203
Not really, the interface between managed and native is c-style methods.  If you have control of both sides it certainly is possible given you have access to cache objects on the managed code and can dispatch calls.  I am including area owners who may have more to share.

cc @agocke @AaronRobinsonMSFT

[2021-02-10 22:04] vitek-karas commented on #9957
I think this has been solved in .NET Core 3 (mostly). SDK copies all dependencies to the output on build. If dynamic loading is necessary (plugins or alike), there's a new `AssemblyDependencyResolver`. Example of how to do plugins: https://docs.microsoft.com/en-us/dotnet/core/tutorials/creating-app-with-plugin-support - this has full support from SDK and so on.

[2021-02-10 22:04] #9957 closed

[2021-02-10 22:11] vitek-karas commented on #10359
I know it's been a while, but maybe in .NET 5 this is now solved. If you're looking for an entire app, you can use the new single-file - which links together all of the runtime and bundles all the managed code. The build system now supports building coreclr as libs as well - not in a publicly usable state (published as packaged or so), but maybe it's enough if you want a special one-off project.

[2021-02-10 22:13] vitek-karas commented on #9963
This should be solved by the single-file feature - in .NET 5 mostly and in .NET 6 even better (with true single-file on all platforms).

[2021-02-10 22:13] #9963 closed

[2021-02-10 22:15] vitek-karas commented on #10387
We didn't improve exception messages (yet), but we now have detailed tracing (similar to fusion logs in a way): https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/collect-details

Those should provide enough information to diagnose issues like this.

[2021-02-10 22:16] vitek-karas commented on #11262
Unfortunately not much progress on exception messages, but there's now detailed tracing for this purpose: https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/collect-details

[2021-02-10 22:25] GrabYourPitchforks commented on #48088
Possible dupe of https://github.com/dotnet/runtime/issues/47869.

[2021-02-10 22:26] geoffkizer commented on #48017
Yep, I agree. I assume the proposed change from @bartonjs above (flush cache on store add/remove) would fix this, right? How hard is this to do?

This seems like a good thing regardless. Is there an issue to track this? Is this something we would consider for 6?

[2021-02-10 22:35] AaronRobinsonMSFT commented on #40203
@fsinisi90 Not at the runtime level. This is one of those things that people can already do without any runtime feature. The likely future of this scenario is leveraging a Roslyn source generator or other source generation tool and autogenerating the boiler plate code for a natural C++ experience. The [DNNE tool](https://github.com/AaronRobinsonMSFT/DNNE) is part of the way there. The two biggest

[2021-02-10 22:35] pgovind commented on #39295
I think this is a fairly easy library to turn off binary formatter support. Here's my proposal:

There already exists a `SettingsSerializeAs.Xml` enum. So, let's make `SettingsSerializeAs.Binary` behave like `SettingsSerializeAs.Xml` for .NET 6 unless `EnableUnsafeBinaryFormatterSerialization` is set in the csproj. Users may get confused about getting xml formatted values by default when they expl

[2021-02-10 22:39] smbecker opened #48129 "Regex does not match on unicode input"
### Description

I have a sample [here](https://github.com/smbecker/RegexUnicode/blob/main/RegexUnicode/Program.cs#L6) that demonstrates a valid regex pattern that successfully matches against a string but fails to match against the same input when it is converted to unicode. This does not seem like correct behavior as I would expect it to match regardless.

### Configuration

* Net 5.0
* Ubuntu 2

[2021-02-10 22:46] #46721 closed

[2021-02-10 22:48] stephentoub commented on #48129
In your sample, this:
[code]
produces the string:
[code]
That legitimately doesn't match the supplied regex pattern:
[code]
`str[0]` is `'E'` and will match the `\w`, but `str[1]` is ''\0'' and is not a `'.'`, `'='`, `'-'`, or `'@'`, and thus will fail to match.

[2021-02-10 22:52] pgovind commented on #48129
Was just going to say the same thing @stephentoub did. (Tested locally on my machine)

[2021-02-10 23:13] smbecker commented on #48129
I knew that I must be missing something obvious but for the life of me, couldn't see it since the debugger wasn't showing the `\0`s. In this simple case, the fix was to just pass in `Encoding.Unicode` to the `StreamReader`. Sorry guys, and thanks for jumping on this so quickly.

[2021-02-10 23:13] #48129 closed

[2021-02-10 23:16] RickStrahl opened #48134 ".NET Object instantiation via coreclr_create_delegate in C++ Runtime Host, no longer working with IUnknown/IDispatch in .NET Core 5.0"
This is a followup to issue #12904 in which I asked for help with runtime hosting the .NET Core CLR and instantiating a .NET object and passing it back as a COM object. This worked fine up until .NET Core 3.1 (just verified).

However, recently with .NET Core 5.0 update, it appears that this approach no longer works.

I use `coreclr_create_delegate` to create a reference to a .NET method and call

[2021-02-11 00:00] #10387 closed

[2021-02-11 00:15] pgovind commented on #39289
Can someone clarify this? This statement seems to suggest that `BinaryFormatter` can be used regardless of what `SerializationFormat`'s value is? I'm looking at `SerializeDataSet` and see this code
[code]

It looks like `SerializationFormat.Binary` uses BinaryFormatter while `SerializationFormat.XML` uses XMLWriter?

[2021-02-11 00:19] cshung opened #48136 "Fragmentation in LOH caused by excessive statics"
**Problem:**
Some applications have a lot of assemblies and therefore a lot of static fields. The references to these static fields are managed as a pinned array on the large object heap. For some customers, this array is causing a lot of fragmentation even when the large object heap is compacted.

**Solution:**
In .NET 5, we introduced the [Pinned Object Heap](https://github.com/dotnet/runtime/bl

[2021-02-11 00:21] #45384 closed

[2021-02-11 00:24] ericstj commented on #39293
No, that was only if we decided to change the format that's written.  If we did that we'd need to be able to see if the payload was BF or something else.

Not likely, we aren't deprecating there.

Yeah, this thing is effectively broken unless you turn on that flag.  That's probably OK for now.

I don't think we'll touch existing binaries.  Those will need the flag.  Also, I've heard folks say that

[2021-02-11 00:42] davidfowl commented on #47990
I think the API as proposed is good, I don't think it should be an extension method as the pattern we have so far introduced is a factory method.

[2021-02-11 00:43] davidfowl commented on #47990
@Alxandr once the API is approved would you be OK doing the work?

[2021-02-11 00:50] GrabYourPitchforks commented on #39289
`DataTable` and `SerializationFormat` are something of strange beasts. The best way to think about `DataTable` is as a container around other data. The `SerializationFormat` enum controls how the data _within_ the container is serialized, and this could be using a format different than the container (`DataTable`) itself.

The default value is `DataTable.RemotingFormat = RemotingFormat.Xml`. This d

[2021-02-11 01:03] tarekgh commented on #42784
Moving the original description added by @macrogreg here for the record as we'll need to modify the description up to match what have discussed and decided on.

*@macrogreg original description*

I think there is a scenario supported by the pre-.NET-5 Activity APIs based on `DiagnosticSource` that is not supported in the new `ActivitySource` based APIs:

**`System.Diagnostics.ActivitySource.StartA

[2021-02-11 01:05] jnm2 commented on #39443
@MgSam

But since they explicitly wanted the collections created by this API to belong to you, this is a good reason to return a concrete collection type.

[2021-02-11 01:15] jnm2 commented on #39443
@MgSam

But since they explicitly wanted the semantics of this API to be that the collections being created do belong to you, this is a good reason to return a concrete collection type.

As Eirik said above, this is a matter of perspective. This is intended to diverge from GroupBy because it's intended to serve a slightly different purpose. This usage pattern is not perfectly served by GroupBy, th

[2021-02-11 01:15] GureevLeonid commented on #45600
Yes, sure.

[2021-02-11 01:37] danmoseley commented on #38349
+1 for @richlander comment -- what I think we are hoping for is a single page for ".NET 5 - anything" and another for ".NET 6 - anything" which currently is master.  thanks for working on this.

[2021-02-11 02:03] #47581 closed

[2021-02-11 02:10] Anipik opened #48143 "[Release/5.0] Authentication failures in SslStream_UntrustedCaWithCustomCallback_Throws & SslStream_UntrustedCaWithCustomCallback_OK"
[code]

log https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-47732-merge-880f75a34ec241f8bf/System.Net.Security.Tests/console.a52b0bd1.log?sv=2019-07-07&se=2021-03-02T22%3A08%3A13Z&sr=c&sp=rl&sig=ChDn%2Bv%2F%2Fi2ftQft%2BV8E6aLZbDFkZnl%2Bj0O%2FjauhAiYk%3D

build https://github.com/dotnet/runtime/pull/47732, https://github.com/dotnet/runtime/pull/47937

[2021-02-11 02:12] naricc commented on #48088
@GrabYourPitchforks Yeah, its seems likely to have the underlying cause. Maybe I need to coordinate with Drew  to avoid duplicate issues, since we are doing a separate triage for Mono. Any way, I will close this one and monitor the other one.

[2021-02-11 02:12] #48088 closed

[2021-02-11 02:19] Anipik commented on #48143
https://github.com/dotnet/runtime/pull/48042 This is the most recent change in system.net.security

cc @wfurt @bartonjs can you guys take a look at this failure ?

[2021-02-11 02:21] wfurt commented on #48143
dup of #46837. 5.0 branch does not have that test disabled.

[2021-02-11 02:24] #48143 closed

[2021-02-11 02:25] Anipik commented on #48143
should we disable them in 5.0 as well ?

[2021-02-11 02:27] Anipik commented on #48143
I will throw up a pr to disable them in 5.0 as well

[2021-02-11 02:44] alexcovington commented on #47786
@sandreenko Wondering if you could help with this. I have (this branch)[https://github.com/amd/dotnet-runtime/tree/no-const-arg-to-temp] building, but it is failing some tests. I also don't have 4 fixed in this branch as it was failing some asserts.

Wondering if maybe my `IsInvariant` is wrong. Here is the relevant code:

[code]

[2021-02-11 02:52] sandreenko commented on #47786
Which tests are failing and how?

[2021-02-11 02:55] vcsjones commented on #24897
Update based on work in the draft PR:
1. OpenSSL 1.0.x has the right function. No shim required. I misread some docs.
2. The minimums are not applicable to the called function in OpenSSL. MacOS and CNG do not appear to have minimums, either. So these APIs will not enforce any particular minimum on salt, extract, or iterations (other than sanity checks, like no negative iterations).

[2021-02-11 02:57] Anipik opened #48146 "Timeout in the Build Browser wasm Release AllSubsets_Mono"
Build Failure https://dev.azure.com/dnceng/public/_build/results?buildId=986757&view=logs&j=108d2c4a-8a62-5a58-8dad-8e1042acc93c

[code]

[2021-02-11 03:08] danmoseley commented on #48128
@lucax88x can you share a dump file (either here, or by some private means)?

Can you try 3.1 and see if that works?

putting in VM area for now.

[2021-02-11 03:37] allxiao commented on #47218
Thanks @joperezr for the detailed explanation.

To add a bit more, if a directory contains both `.csproj` and `.sln` files, when calling `dotnet publish`, it will by default pick up the `.sln` file. In my case this will publish both the `Entry` project and the `Lib` project to the output directory `publish`. The original gap was I thought I was publishing the `Entry` project only, which was not th

[2021-02-11 04:00] huoyaoyuan commented on #47920
Is the pattern
[code]
also handled? It looks to be common too.

[2021-02-11 04:12] wfurt commented on #48017
After looking at the code, I start wondering what is special about the first second. We will do kernel call on every chain build ever after. It feels we could change it do check modification once in a second to save kernel calls. That would be only to check for changes behind our backs under ~/.dotnet/corefx/cryptography, right?

I put together small PR to make the Add/Remove more predictable e.g.

[2021-02-11 05:32] mangod9 commented on #48001
cc @AntonLapounov

[2021-02-11 07:28] rolfbjarne commented on #48110
I can have a look and see if `PINVOKE_OVERRIDE` works for us.

[2021-02-11 07:48] tmds commented on #47631
@adamsitnik we can look at io_uring separate from this issue. A poll readiness API can use io_uring as its backend, and we don't want to limit io_uring usage to polling.

[2021-02-11 08:02] iSazonov commented on #41195
In #48148 I am trying to add backward counter to track a recursion depth but with forward counter we could have an explicit condition to switch to alternative algorithm (more slow with close and reopen directories).

[2021-02-11 08:02] Alxandr commented on #47990
I could probably do that, sure :).

[2021-02-11 08:53] XXXBold commented on #47848
Yes, that fixed it, thanks.

launch.json now looks like this:
[code]

I was able to run it now, and attach the debugger to the process (PID 893):
![htop-31-dbg](https://user-images.githubusercontent.com/30773753/107616080-9f8c8480-6c4d-11eb-81a9-242ba76e33eb.PNG)

Not sure I've made this correctly, didn't copy over the source code, so the .cpp files were not found while debugging. Still, hope it's

[2021-02-11 08:55] harborsiem commented on #48125
@JeremyKuhne
I don't think that an overload of the Bitmap ctor with a new option is a good idea. When using a Png image with alpha channel you will get the transparency direct.
When you have a look to a ToolStripButton with the WinForms Designer for example, you will get the image as a resource. When you choose a *.bmp file for the Image, you get no alpha channel. But when you choose a *.png then

[2021-02-11 09:02] lucax88x commented on #48128
Unfortunately it's late now, after one days of debugging / installing / uninstalling I literally went for a full reinstall of the distro.

I tried different sdks (of dotnet 5, not 3) but they were all giving the same problem.

Pretty sure something was "corrupted" on the "distro" level, but that was the only application that was not working.. but I had to get my pc working so I took extreme measur

[2021-02-11 09:19] marek-safar commented on #2044
This will be addressed as part of #44654

[2021-02-11 09:19] #2044 closed

[2021-02-11 09:36] whatevergeek commented on #41421
what other info you need? I was able to reproduce it on ARM aarch64... i'm running debian on userland...

[2021-02-11 09:42] karelz commented on #45165
Fixed in 6.0 (master) in PR #47435 and in 5.0.4 in PR #47657

[2021-02-11 09:42] #45165 closed

[2021-02-11 10:28] kurtisane commented on #48077
First of all thank you very very much for your time and effort.
I think I understood all of it so far. Also read a little bit about asynclocal.

The last think that is kind of not clear for me is the behavior of static classes, properties etc. :

We have a Resource.Designer.cs. This contains a static CultureInfo and static ResourceManager.
Are they as well seperate from Task to Task ?

[2021-02-11 10:33] karelz commented on #46837
@wfurt do you know if it is new test, or test/product regression introduced "recently"?

[2021-02-11 10:34] lukas-lansky commented on #45701
With regards to 2, [HelixReproVMs](https://ms.portal.azure.com/#@microsoft.onmicrosoft.com/resource/subscriptions/a4fc5514-21a9-4296-bfaf-5c7ee7fa35d1/resourceGroups/HelixReproVMs/providers/Microsoft.DevTestLab/labs/HelixReproVMs/overview) DevTest Lab can be already used to create Helix machines from the same VHD that is being used in CI:

![image](https://user-images.githubusercontent.com/1655944

[2021-02-11 10:34] karelz commented on #48143
Duplicate of #46837

[2021-02-11 10:39] karelz commented on #47580
Fixed in 6.0 (master) in PR #47729 and in 5.0.4 in PR #48042.

[2021-02-11 10:48] Monsterknuddel opened #48155 "VBCodeProvider not working - Operation is not supported on this platform"
### Description

I want to run VBScript via VB on a .NET 5 project. Trying to call the VBCodeProvider and CompileAssemblyFromSource

Dim vbCompiler As New Microsoft.VisualBasic.VBCodeProvider
Dim compilerParams As New System.CodeDom.Compiler.CompilerParameters
compilerParams.GenerateExecutable = False
compilerParams.GenerateInMemory = True
compilerParams.IncludeDebugInformation = False

`Call comp

[2021-02-11 11:20] CoffeeStainJo commented on #43398
I'm having the same issue for Norwegian, Bokmål (Norway)” (nb-NO).

To Reproduce:
Create a Blazor WebAssembly hosted app (.net5.0) -- ASP.NET Core version: 5.0.102
![image](https://user-images.githubusercontent.com/7232960/107628686-49c1d780-6c61-11eb-95e9-e9ba87a307e0.png)
Is set in Program.cs

![image](https://user-images.githubusercontent.com/7232960/107628739-5a724d80-6c61-11eb-9ad4-7d9a7b304d

[2021-02-11 11:48] #46909 closed

[2021-02-11 11:48] #45468 closed

[2021-02-11 11:48] #45586 closed

[2021-02-11 11:48] #45674 closed

[2021-02-11 11:48] #46983 closed

[2021-02-11 12:04] plachor opened #48157 "How to handle globally `OutOfMemory` exception in large project"
Hi, I'm working on core components that are used by other developers to create a working application. Within my core components there is a global exception handling strategy were we handle domain and unhandled exceptions. Yet I do not fully control how my components will be used by end-developer. So end-developer can handle exceptions that I would wish him not to be able too. For instance `OutOfMe

[2021-02-11 12:24] TheJaysH opened #48158 "System.Text.Json.Serialization.JsonIgnoreAttribute Not functioning as expected"
Hi,

Apologies if this is not in the correct format.

I have started to use `System.Text.Json` and its going great so far! However I have ran into somewhat of a roadblock when dealing with a nullable property. My initial intent was to use a private setter for the property, this gives me the ability to throw a custom exception should the user try and access the property. The reason behind this is t

[2021-02-11 12:27] LiorBanai opened #48159 "net 5 Cannot read resources that depend on serialization"
Hi,
We moved to net 5.0.3 (from net 5) and now we are getting thea above exception in Winform form in the Designer on lines like:

this.Icon = ((System.Drawing.Icon)(resources.GetObject("$this.Icon")));
this.btnOpenProtocolsFolder.Image = ((System.Drawing.Image)(resources.GetObject("btnOpenProtocolsFolder.Image")));

what could e the reason?

[2021-02-11 12:48] filipnavara commented on #48159
This question was cross-posted to dotnet/winforms (https://github.com/dotnet/winforms/issues/4556) and answered there. I don't think it requires any action in this repository. However, the `NotSupportedException` is misleading because the deserialization actually works. The issue is that an underlying `FileNotFoundException` is hidden from the API consumer and makes it much harder to diagnose what

[2021-02-11 12:52] filipnavara commented on #48159
Suggestion: area-System.Resources

cc @ericstj @stephentoub w.r.t. the unhelpful exception that has totally incorrect message:
https://github.com/dotnet/runtime/blob/42009d1f33b52e40e5471d5c0d3ff4a8d5b2b83a/src/libraries/System.Private.CoreLib/src/System/Resources/ResourceReader.cs#L952-L965

[2021-02-11 12:56] LiorBanai commented on #48159
@filipnavara  Thanks!

[2021-02-11 13:24] fsinisi90 commented on #40203
Ok, I see. Thank you both for the quick answer! Yes, I have control over both sides. Could you share an example of how to make the mentioned call?

[2021-02-11 13:27] SergiiKram commented on #48116
Just have done my own tests.

**TLDR:**  performance is different because of different `StringComparison` type applied by default and does not vary with OS platform.

**Long story:**
Tried locally from VS  and from command line - got ~11 seconds (release, self-contained build).
Then tried on a Linux VM on Azure - got ~14 seconds (Ubuntu, B1s size).
Then tried on a Windows VM on Azure - got <1 seco

[2021-02-11 13:29] vitek-karas commented on #41421
Thanks for more info @whatevergeek :
- What version of .NET you're using (both SDK and runtime - just run `dotnet --info`)
- How did you install it (this is mostly interesting if it goes into some uncommon location)
- What command you run - is it really just `dotnet new console` or something more involved?
- What is the OS (although you already answered that one)

I'll ask somebody to repo it (I d

[2021-02-11 13:52] TheJaysH commented on #48158
I have a hacky workaround, so if you see this as a resolution please close the issue.

I'm using a private property `IsSerializing` to define its state, if `true` it will return `null` as expected.

[code]

[2021-02-11 13:57] Dharshanbs opened #48162 "Unable to load a .net core Assembly"
Hi Team,
I had recently upgraded one of the projects from .net core 2.2 to 3.1, there has been a issue loading one of the assembly ,please help me to fix the issue.The error message details are as follows .

Could not load type 'Microsoft.AspNetCore.Mvc.ModelBinding.Internal.ModelBindingHelper' from assembly 'Microsoft.AspNetCore.Mvc.Core, Version=3.1.11.0, Culture=neutral, PublicKeyToken=adb97938

[2021-02-11 14:02] jeromelaban opened #48163 "[WASM][AOT] Generic methods are 5000x slower than non-generic methods using profiled AOT"
### Description

Repro: https://github.com/jeromelaban/Wasm.Samples/tree/master/Bug48163/Bug48163

Consider the following code:

[code]

The generic method is executing 5000x slower than the normal method (~5s vs. ~1ms), even when the profile recorded it.

When using Full AOT, this same generic method is running at the same speed than the normal method.

Additionally, with a similar benchmark, usi

[2021-02-11 14:05] am11 commented on #48016
Looks like in https://github.com/dotnet/sdk/blob/9ccce1ee9788b8267e0242f73b74bf9766bb20d0/src/BlazorWasmSdk/Targets/Microsoft.NET.Sdk.BlazorWebAssembly.Current.targets, due to line 95 and line 211, everything under `~/.nuget/packages/microsoft.netcore.app.runtime.browser-wasm/6.0.0-preview.2.21105.12/runtimes/browser-wasm/native` gets copied to publish dir's `wwwroot/_framework/`. We can copy thes

[2021-02-11 14:27] stephentoub commented on #48155
This is by design.  On .NET Framework, CompileAssemblyFromSource shells out to the Visual Basic command-line compiler (vbc.exe), which is included as part of the framework redistributable.  With .NET Core, the compiler is not part of the shared framework, and thus there's nothing always available for the implementation to invoke.  Hence, it throws the PlatformNotSupportedException you're seeing.

[2021-02-11 14:27] #48155 closed

[2021-02-11 14:42] ighristov opened #48178 "Graphics.MeasureString() incorrectly calculates charactersFitted when executed on Linux and the app targets .NET 5.0"
### Description

Works on .NET Core 2.1 and 3.1, doesn't when upgrading to .NET 5.0

The call to MeasureString returns unexpected results for *fittedCharacters* out parameter, when the measured string contains \n and spaces.
In the code below, the first measured string is "Lorem ipsum", and the charactersFitted is set to 11, which is correct. The second iteration measures "\n \n" and the expected

[2021-02-11 14:43] ayousuf23 commented on #48119
Hey,
I haven't contributed before, but I would like to start. Do you think this is something up my alley? If so, where should I add the tests?

[2021-02-11 14:54] whatevergeek commented on #41421
hi @vitek-karas ,
thanks for considering this. here are the info.
Installation is by tarring arm64.tar.gz from the dotnet [arm64 site](https://dotnet.microsoft.com/download/dotnet/thank-you/sdk-5.0.103-linux-arm64-binaries)

I've investigated further and got the following observations:

## TLDR:
Latest arm64 package (dotnet-sdk-5.0.103-linux-arm64.tar.gz) doesn’t cause segmentation fault anymore w

[2021-02-11 15:45] danmoseley commented on #48128
Thanks for the update @lucax88x . Do you want to close this then? If it happens again you can reopen.

[2021-02-11 15:48] danmoseley commented on #48119
Welcome to the repo, @ayousuf23 ! @pgovind can point you to the right places.

[2021-02-11 15:55] danmoseley commented on #48157
Adding VM label as such a hook would be in the runtime itself.

[2021-02-11 15:56] grendello opened #48165 "[.NET6] Runtime should validate managed assembly's target architecture before loading it"
Context: https://github.com/xamarin/xamarin-android/issues/5611
Context: https://gist.github.com/dellis1972/0651545c4d965b2d0db612d773506535#file-crash-log-L151

With the introduction of architecture-specific managed assemblies (e.g. `System.Private.CoreLib.dll`), the VM/runtime must have a way to validate whether the assembly's target architecture matches the application's architecture.
The Xamar

[2021-02-11 16:01] eiriktsarpalis commented on #48158
Sadly, yes. As a general design principle libraries should not eat user exceptions since it often obscures potential bugs in the code. I don't think it is possible to reconcile the requirement of both throwing if null and ignoring serialization if null.

Out of curiosity, what motivates you to throw an exception if the property is not initialized? Clearly it is a valid state if you are looking to

[2021-02-11 16:04] AraHaan opened #48166 "[System.Drawing.Common] CopyPixelOperation does not use FlagsAttribute to mark it as usable as a flag."
### Description

When building my code, an analyzer told me that I should not use ``|`` on ``CopyPixelOperation`` as it lacks an ``[Flags]`` attribute on the enum, however it is needed to use it as a flag for calls into functions like BitBlt to make screenshots and stuff similar.

To reproduce it place this code inside of an ``NativeMethods`` class.
[code]
Also install a few analyzers to analyze t

[2021-02-11 16:04] #48158 closed

[2021-02-11 16:13] AraHaan commented on #48166
@safern should it be ok to Add ``[Flags]`` to this enum? I already made a branch to add it (using github but it is 2 commits that will have to be squashed).

[2021-02-11 16:16] eerhardt commented on #48016
It isn't problematic. This assembly is no longer necessary. In `net5.0`, AspNetCore.Components was using the `RuntimeInformation.IsOSPlatform` method from this assembly. In `net6.0`, that code has been changed to use the new `OperatingSystem.IsXXX()` methods. See https://github.com/dotnet/aspnetcore/pull/28233.

[2021-02-11 16:21] ViktorHofer opened #48168 "Infrastructure - Rollout (March 2021)"
# Overview

We use this issue to announce planned Infrastructure changes that will impact the developer workflow in `dotnet/runtime`. Changes will be merged on the **first Monday of the month (3/1)**.

| Change |  Impact | Assignee |
| --- | --- | --- |
|  https://github.com/dotnet/runtime/pull/48755 | Update the minimum version of the SDK to 6.0 Preview 1. | @ViktorHofer |
| https://github.com/do

[2021-02-11 16:24] chucker commented on #33797
I have the analyzer mostly ready to go for both C# and VB. No fixer yet, though.

Do you want a PR, or should I first write a fixer?

[2021-02-11 16:26] rogerge88 opened #48249 "Blazor WebAssembly -dieselization is working in the local code but it does not work when we deployed the Blazor to IIS server"
### Describe the bug
"we are not using blazer server .We are using Blazor WebAssembly . and the issue that the dieselization is working in the local code but it does not work when we deployed the Blazor to IIS server."

Struct data(Color : IEquatable) cannot "deserialize" when deployed the Blazor to IIS server.
It worked fine working in the local code.

Error message......
Newtonsoft.Json.JsonSeri

[2021-02-11 16:32] lambdageek commented on #48165
I realize this is an issue about Mono, but I'm wondering if there is a mechanism in .NET for this (that CoreCLR uses).

Also... would we want to match the RID that the runtime is targeting with the RID that the particular System.Private.CoreLib instance is targeting?   So presumably `ios-arm64` and `android-arm64` CoreLibs shouldn't be confused either.

[2021-02-11 16:33] alexcovington commented on #47786
Some of the JIT tests are not passing:

[code]

[code]

[code]

[code]

[2021-02-11 16:34] CoffeeFlux commented on #48165
cc: @vitek-karas

[2021-02-11 16:38] CalinBunea commented on #48116
@SergiiKram, thank you for taking the time to perform benchmarks. Can you also confirm that you have used a random collection of strings, big enough to avoid CPU caching? Also I assume you haven't performed IndexOf on same String object over and over again...
On my side I was running a very simple task which had to extract one single field value and store its MD5 hash from a file which contains JS

[2021-02-11 16:42] wfurt commented on #46837
Thisis is very recent new test. Linux failures should be improved by #48149. OSX investigation is still pending for macOS @karelz .

[2021-02-11 16:43] lambdageek commented on #48165
Would something similar to mono's UUID "version" check (that compares some build strings in the runtime and corelib) be good enough as an additional diagnostic? That is, check the UUID, but also check that the RID baked into the runtime and SPC match. Or does this need to be solved for assemblies in general?

[2021-02-11 16:45] naricc opened #48169 "Installer Build and Test coreclr windows_x64 Release lane failing with missing pgort140.dll in manifest"
`Installer Build and Test coreclr windows_x64 Release` Lane is failing on PRs that seem unrelated with this error message:

[code]
Here are to example PRs:

https://github.com/dotnet/runtime/pull/47858
https://github.com/dotnet/runtime/pull/47731

Should that lane even be triggered on these which contains only mono changes?

[2021-02-11 16:55] safern commented on #48169
Seems possibly related to: https://github.com/dotnet/runtime/commit/a9d6bebf3d6972660d4983a49b365e757f234801

@agocke is taking a look.

[2021-02-11 17:02] danmoseley commented on #44394
@jeffschwMSFT is it OK to remove Team Epic from the various titles ? I think it's a bit confusing

[2021-02-11 17:03] geoffkizer commented on #47734
@antonfirsov This is a new test, right? I suspect the underlying issue isn't new, we've just never hit it before.

Regardless, we should investigate and fix.

[2021-02-11 17:12] ericstj commented on #48159
I have reactivated the WinForms issue because what the designer is doing is broken.

I think we can update the inner exception here.

[2021-02-11 17:15] maryamariyan commented on #36390
As part of the closing discussions for issue #46988, it was noted that the current behavior for collections seems unexpected and rather than introducing an opt-in API for it, we could perhaps fix the default behavior. Using this issue to track the fix.

cc: @halter73 @safern

[2021-02-11 17:19] ayousuf23 commented on #48119
@danmoseley Thanks! Please take a look at my website https://ayousuf23.github.io

[2021-02-11 17:22] karelz commented on #47351
Triage: Primarily set up public endpoint (Docker image?) in Azure instead of hitting public URL http://httpbin.org

[2021-02-11 17:26] filipnavara commented on #48159
@ericstj There's another WinForms issue (https://github.com/dotnet/winforms/issues/4528) where I filed the detailed description earlier. And yet another one that I filed for another version tolerant issues that's moved in the private dotnet/winforms-designer repository. I was told that it's on the WinForms team radar now but I appreciate any help with getting it resolved once and for all.

[2021-02-11 17:26] karelz commented on #47406
@ManickaP can you please verify if it reproduces on WSL locally?

[2021-02-11 17:28] karelz commented on #47442
Triage: Most likely bug in our code as we are explicit where we send the SETTINGS frame.

[2021-02-11 17:31] akoeplinger commented on #48165
Yeah I think we need something embedded like mono's version check, the assemblies themselves target `AnyCPU` e.g. for `arm64`.  I like the idea of using the RID for this.

[2021-02-11 17:31] karelz commented on #47680
Triage: Question seems to be answered.
We still might want to file a new issue to capture the ask to use cert chain without putting it in store -- new API would be required. (@wfurt to file a mega-issue linking the issues)

[2021-02-11 17:31] #47680 closed

[2021-02-11 17:35] zeroskyx opened #48173 "string.Normalize() does not work"
### Description

The `string.Normalize()` method does not work anymore.

When using string.Normalize() to remove diacritics from a string, the following code no longer works:

[code]

#### Expected outcome:

The value of `Result` is: `aoeiaouyaouAOUxXX`

#### Actual outcome:

The value of `Result` is: `aøeiáouyäöüÄÖÜxXX`

### Configuration

[code]

### Regression?

This did previously work; I'm no

[2021-02-11 17:37] tarekgh commented on #48077
If you share some code, I can tell you the exact behavior. But in general, if the ResourceManager instance in Resource.Designer.cs is always using the static CultureInfo, then changing this static value will get applied regardless of the tasks. But if the ResourceManager is going to use CurrentUICulture, then you'll get the asynclocal behavior I described earlier.

Feel free to send any more quest

[2021-02-11 17:41] vsfeedback opened #48177 "Intellisense verbiage for DateDiff in VB.Net"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Intellisense-verbiage-for-DateDiff-in-VB/1326008)._

---
The DateDiff function in VB.Net takes two dates: date1 and date2.  The Intellisense help for those two parameters is not helpful, however.  It simply tells you that you're putting in the first or second value, which is already obv

[2021-02-11 17:45] AraHaan commented on #48173
@zeroskyx try the latest 5.0.103 SDK.

[2021-02-11 17:46] NikolaMilosavljevic commented on #47814
Resolved.

[2021-02-11 17:46] #47814 closed

[2021-02-11 17:47] NikolaMilosavljevic commented on #47877
Resolved.

[2021-02-11 17:47] #47877 closed

[2021-02-11 17:49] ManickaP commented on #48124
Looks like it.

[2021-02-11 17:54] joperezr commented on #48159
Sounds good, I'll add the inner exception then so that it doesn't get thrown away.

[2021-02-11 17:54] zeroskyx commented on #48173
@AraHaan thanks for the rapid response (and the streamlining). I think I found the problem. A couple of updates back I set `DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=1` because of an issue.

It looks like [Normalization.cs](https://source.dot.net/#System.Private.CoreLib/Normalization.cs,39124745e49d4135) does not perform any normalization when [GlobalizationMode.cs](https://source.dot.net/#System.Priv

[2021-02-11 17:54] #48173 closed

[2021-02-11 18:07] NikolaMilosavljevic commented on #47822
@shunlir can you try the following command and share the output - it will help us determine if there is a potentially bad mirror?

```wget https://packages.microsoft.com/sles/12/prod/dotnet-runtime-3.1.11-x64.rpm```

Here's what I get on my machine:

[code]

[2021-02-11 18:09] vtbassmatt opened #48174 "Single-file distribution creates world-writable folder at /var/tmp/.net"
### Description

:wave: I help out on the [Git Credential Manager Core](https://github.com/microsoft/git-credential-manager-core), which is a .NET Core application. A customer [reported the following](https://github.com/microsoft/Git-Credential-Manager-Core/issues/247) to us, which I believe is an implementation detail of single-file distribution and not something we can address ourselves:

### Co

[2021-02-11 18:09] AaronRobinsonMSFT commented on #40203
@fsinisi90 Many people have asked for an example - thanks for the push. I have updated [DNNE](https://github.com/AaronRobinsonMSFT/DNNE) with an example on one approach - https://github.com/AaronRobinsonMSFT/DNNE/blob/master/test/ExportingAssembly/InstanceExports.cs.

[2021-02-11 18:11] Anipik commented on #48091
@karelz  can you assign it to somebody ? its consistently failing on the ci

[2021-02-11 18:15] joperezr commented on #43929
@null-d3v thanks for logging the issue. Where you able to consistently repro this issue when using that amount of groups? Also, do you mind sharing a code snippet so that we can investigate using the same filter and an AD with similar conditions?

[2021-02-11 18:20] joperezr commented on #42914
@tquerec do you mind taking a look and trying to reply to these questions:

Is leaving an offline DC in the sites list bad practice?
Is there a safe way to check whether a DC is operational before selecting it as a source for data?
Should the GetGroupsMemberOf method use a mechanism akin to the DC Locator?

[2021-02-11 18:25] MgSam commented on #39443
@jnm2 I did listen, and if anything the video proves why this issue deserves more thought. They barely spent about two minutes discussing it where two of the participants opinions are "I don't really care" and the third basically says "let's return List<T> because that's what we're using internally". They do discuss the immutable vs mutable question but don't present a very compelling argument IMO

[2021-02-11 18:26] carlossanlop commented on #47998
@davidfowl based on the answers, do you still believe we should continue pursuing this idea, or can we go ahead and close the issue?

[2021-02-11 18:33] Anipik commented on #47806
@adamsitnik is there any update on this one ?

[2021-02-11 18:35] Anipik commented on #48146
@steveisok can we do something about the timeout on these legs as well ?

[2021-02-11 18:36] davidfowl commented on #47998
Future will do for now

[2021-02-11 18:47] adamsitnik commented on #47604
Hi @eddynaka !

We don't ship a Debug build of dotnet/runtime. Whatever app you are running it's always a Release version of dotnet/runtime with Debug|Release build of your application. We just need to figure out what causes the difference,

How exactly do you run your application?
Is there any chance that you run it with a different set of arguments?
Or in a different directory?
Or as a different

[2021-02-11 18:52] eddynaka commented on #47604
Hi @adamsitnik ,

- How exactly do you run your application?
It's a dotnet tool which exposes a .exe, so i'm invoking it calling the name I configured in the tool. Also tried calling the .exe, both generates the same issue.

- Is there any chance that you run it with a different set of arguments?
No.

- Or in a different directory?
No.

- Or as a different user?
Even locally, when I generate the b

[2021-02-11 18:52] karelz commented on #48091
@Anipik is there info about frequency of failures? Is it Mono interpreter only platform?
@wfurt can you please take a look?

[2021-02-11 19:01] #13436 closed

[2021-02-11 19:04] JeremyKuhne commented on #48125
@harborsiem If compatibility wasn't an issue I'd agree with you. I suspect, however, that there are likely bitmaps in user apps that have transparency that, of course, currently don't apply the transparency. Forcing developers to update existing assets needs to have a really good justification behind it, particularly as assets can come indirectly through dependencies that may be out of the develop

[2021-02-11 19:13] adamsitnik commented on #47604
@eddynaka could you modify the app and call the tools that would print the current directory and user name? Like `pwd` and `whoami`?

[2021-02-11 19:16] vitek-karas commented on #48165
Not sure if this is Mono specific or not. On CoreCLR side there's no validation of this. There's actually no information in the assembly itself. Maybe there's something in R2R headers if R2R is available, but if it's pure IL, there's nothing (ignoring the PE header, which can only express x86/x64/ia64, so it's legacy and useless really).

Generally in .NET Core this information is carried external

[2021-02-11 19:19] jeromelaban opened #48179 "[WASM][AOT] recursive foreach loop is 17x slower than for loop over List<T> using profiled AOT"
### Description

_full repro is coming_

Considering the following cpde:

[code]

Changing the loop type from for to `foreach` results in a significant performance degradation:

**profiled AOT Nested loops:**
- for loop `00:00:00.0008850`
- foreach loop `00:00:00.0138100`

**Full-AOT Nested loops:**
- for loop: `00:00:00.0002350`
- foreach loop: `00:00:00.0110250`

### Configuration

bb650672df2da

[2021-02-11 19:20] danmoseley commented on #48177
@carlossanlop where does intellisense for this come from? I assume not from sources.

[2021-02-11 19:26] steveisok commented on #48146
I'm not seeing a significant amount of timeouts.  Thus far, I've only found problems with the one you linked and a small amount of test failures.

[2021-02-11 19:28] eddynaka commented on #47604
@adamsitnik , I'm trying to create a simple repro.

Just to let you know, the command that I'm executing is: `git.exe rev-parse --show-toplevel`.

The error code is 128.

The idea is to find out the repository folder.

[2021-02-11 19:32] vitek-karas opened #48180 "Framework resolution should perform basic validation of frameworks"
The framework resolution in hosting layer which finds the right version/location of for example `Microsoft.NETCore.App` framework relies solely on directory enumeration. If there's a directory with the right version number it will be selected. If the framework in that directory is somehow corrupted, the app will fail to start - there's no attempt to fallback to another version of the framework whi

[2021-02-11 19:38] wfurt commented on #48091
this has pending PR. should close when merged.

[2021-02-11 19:39] fabianoliver opened #48185 "Blazor Webassembly StackFrame()"
### Describe the bug
StackFrame() doesn't appear to work / finds no relevant stack infos.

### To Reproduce
[code]

### Exceptions (if any)
Output above is <unknown method> at <unknown offset> in file:line:column <filename unknown>:0:0.
Expected output (e.g. as from a non-blazor application) would be something along the lines of ﻿.cctor at offset 39 in file:line:column <filename unknown>:0:0

###

[2021-02-11 19:43] eiriktsarpalis commented on #39443
Simply put, this is an elementary helper method for which `List<T>` offers the canonical, optimal solution. There are no "clever" optimizations that we would ever consider including, quantum or otherwise.

I think you might be applying a liberal definition of "implementation detail". `List<T>` is a public type that is fairly well understood. Perhaps using `ValueTuple` in the return type is leaking

[2021-02-11 19:48] canton7 commented on #39443
I just want to make a small point as an observer -- This is Microsoft's house, and they've kindly invited us in to see how they do things. Remember that they are the owners and this is their job: we can make suggestions and give our personal opinions, but we do not have the right to tell them what to do.

I've seen first-hand the annoyance that some stranger telling you how to do your job causes,

[2021-02-11 19:53] danmoseley commented on #39443
@MgSam

We welcome your interaction and input here. At the same time, please assume good intent. This is called out in our [code of conduct](https://dotnetfoundation.org/about/code-of-conduct).

[2021-02-11 19:56] pgovind commented on #48119
Hello @ayousuf23 ! Welcome!

Test cases for `Single` can be added to `SingleTests.cs`. `Double` in `DoubleTests.cs`, Half in `HalfTests.cs` and `Decimal` in `DecimalTests.cs`. All of these files are in `src\libraries\System.Runtime\tests\System\`. I recommend adding the test cases under the `Parse_Valid_TestData` method in each file. Since this is your first time starting with the repo, looking at

[2021-02-11 20:06] terrajobst commented on #39443
@MgSam

I just want to elaborate on a few points here:

1. The reason we return a concrete type is because we practically can't change the implementation unless the concrete type implementing the interface is fully internal. The reason being that people very often (accidentally or intentionally) downcast the result from, say, `IList<T>` to `List<T>`, which would break if we suddenly return a diffe

[2021-02-11 20:12] terrajobst commented on #39443
@canton7

Thanks for the kind words. I just want to point that this is a two way street for us: we equally feel very privileged of being lucky that so many contributors take their time and help us make .NET better. That is a big reason why I care about the conduct in our discussions: it's not just how people talk to us, it's how we all talk to each other. I don't want to lose contributors or poten

[2021-02-11 20:18] Tanya-Solyanik opened #48183 "Public properties and events of Process, BackgroudWorker and FileSystemWatcher classes don't have DescriptionAttribute"
### Description
This issue is ported from https://github.com/dotnet/winforms-designer/issues/2876
WInforms Designer does not show description of events and properties for Process, FileSystemWatcher and BackgroundWorker objects in the property browser. This is  a regression from the .NET Framework designer.

Repro. steps:
1. Create a .NET Core winforms project in the VS
2. Add a process control to

[2021-02-11 20:21] mdh1418 commented on #48079
I ran all the libraries for Browser wasm [here](https://www.dropbox.com/scl/fi/ui5z7xvew34z6bkdg7swo/Untitled.paper?dl=0&rlkey=3dzmlw797jqgumxufc3grbuxd#:uid=453026499705371826979118&h2=Non-AOT-wasm-Tests). There were only 5 test failures overall, belonging to two different test suites. However, there were a number of suites that had 0 tests run most likely due to skips.

To compare the failures f

[2021-02-11 20:33] safern commented on #48178
Thanks @ighristov this a dupe of: https://github.com/dotnet/runtime/issues/25139 and https://github.com/dotnet/runtime/issues/25124

The underlying issues are on libgdiplus which we have the issues for it in mono: https://github.com/mono/libgdiplus/search?q=MeasureString&type=issues

[2021-02-11 20:54] sandreenko commented on #47786
I would generate JitDump before/after your changes and compare what goes wrong in these tests (export COMPlus_JitDump=MethodName).
I should have time to look at them tomorrow if you don't fix it first.

[2021-02-11 20:57] kurtisane commented on #48077
So we have this regular Designer.cs.
And we are queueing couple of "Tasks" via our HostetService and process them in paralell with Tasks. Each "Task" has its own Culture that needs to be used when it is processed.

Now when the Tasks (not "Tasks") are running in parallel and use the same Designer.cs and therefore the same static Properties are they going to effect each other. I'm not sure if it is

[2021-02-11 21:20] tarekgh commented on #48077
This call is using `resourceCulture`. The default value for this culture inside `ErrorMessageResources` class is `null`. So when `Account_AccountInactivated` calls `ResourceManager.GetString("Account_AccountInactivated", resourceCulture)` it will pass `null` as the second parameter and that will make the resource manager to use `CurrentUICulture` and you'll get the asynclocal behavior I described

[2021-02-11 21:23] ighristov commented on #48178
Hello and thanks for the fast response.

I'm aware of the numerous issues with libgdiplus on Linux, mentioned in [#25139](https://github.com/dotnet/runtime/issues/25139) and [#25124 ](https://github.com/dotnet/runtime/issues/25124) but this one seems to be introduced with .NET 5. The same code when used in a .NET Core 2.1 or .NET Core 3.1 on the same Linux distro works as expected (although provid

[2021-02-11 21:24] alexcovington commented on #47786
Sounds good, I'm going to keep looking at these to see if I can narrow down the issue, but I just wanted to check that nothing obvious was wrong.

[2021-02-11 21:25] klementi opened #48186 "Can't find release tags v3.1.12 and v2.1.25 for corefx repository"
According to https://devblogs.microsoft.com/dotnet/net-february-2021/ there are two new NET Core releases
3.1.12 and 2.1.25

However we can't find release tags v3.1.12 and v2.1.25 for corefx repository
https://github.com/dotnet/corefx/tags

Can you confirm that we should use the previous tags (v3.1.11 and v2.1.24) to build the latest releases?

[2021-02-11 21:28] kurtisane commented on #48077
Thank you, so so much. I was struggeling with this so hard.

Perfect explaination !

[2021-02-11 21:37] carlossanlop commented on #33797
Thanks for your help, @chucker! I'm assigning the issue to you. Feel free to submit a PR whenever you get a chance, and we can take a look.

[2021-02-11 21:39] msallin commented on #41586
For the records (and anybody which maybe reads this issue): The CPU was heavily throttled but this doesn't seem to be the problem.

Now we have base images with batteries included (i.e., they contain the diagnostics tools https://github.com/dotnet/diagnostics/issues/1984).
That means we are able to trace in production.

It will get very interesting. Because what I currently understand about our pr

[2021-02-11 21:46] vitek-karas commented on #48162
That assembly is in .NET Core 3.1.11 or higher - the latest release is 3.1.12. Can you try to install that release to see if it works?https://dotnet.microsoft.com/download/dotnet-core/3.1

[2021-02-11 21:48] stephentoub commented on #39443
@terrajobst, FYI, we've been returning something other than `T[]` for several releases now.

[2021-02-11 21:54] GF-Huang opened #48188 "Why there is not a SHA224 built-in .NET?"

[2021-02-11 22:02] davidfowl commented on #41586
Do you have the dotnet counter information when this happened?

[2021-02-11 22:09] vcsjones commented on #48188
In .NET Core and .NET 5, all of the cryptographic primitives are implemented by the underlying platform. [Windows CNG][cng] in particular does not support SHA224, or other "truncated with different initialization values" like SHA512/256. This means it cannot be supported on Windows with the current design.

[cng]: https://docs.microsoft.com/en-us/windows/win32/seccng/cng-portal

[2021-02-11 22:17] dagood commented on #48186
There are new commits for 3.1.12 and 2.1.25. I've reached out (internally) to @Anipik and @rbhanda to help fix up the tags. Thanks for letting us know.

[2021-02-11 22:17] daveMueller commented on #47315
Hi, I haven't contributed to this repo before, but I would like to start. Can I give it a try?

[2021-02-11 22:18] msallin commented on #41586
Yes and no. We are sampling the counters all 2min and scrape them with Prometheus. Thus, the resolution is low.
However, as we have now dotnet counters inside the container, I can sample the interesting counters every second.

Here is what we see. This is a HTTP call from K8s to the health check endpoint.
The warning is logged from a custom EF interceptor.

2021-02-11 11:07:21.736+00:00 level=INFO

[2021-02-11 22:18] maryamariyan commented on #47315
@daveMueller sure.

[2021-02-11 22:28] EgorBo opened #48190 "[Mono] Comparer_get_Default runtime test fails on Mono"
Repro:
[code]
Output on CoreCLR:
[code]
Mono:
[code]

[2021-02-11 22:35] tqiu8 commented on #48061
`-b slim` is looking promising in initial results

[2021-02-11 22:38] lucent-sea opened #48191 "ClickOnce - Are there similar APIs to those in `System.Deployment.Application` for .NET 5? Any plans to port them?"
I'm sorry if there's existing documentation or issues on this.  I couldn't find any.

Were any APIs from `System.Deployment.Application` namespace ported to .NET 5 with ClickOnce?  If so, could you link me the docs?  If not, are there any plans to bring them over?

[2021-02-11 22:40] safern commented on #48178
Thanks, @ighristov for the detailed response. Given that this seems to be a regression from 3.1 to 5.0, I will re-open and keep tracked to take a look at.

[2021-02-11 22:46] sandreenko commented on #47786
This looks wrong:
https://github.com/amd/dotnet-runtime/blob/82002c2d9c32611b32ea7fd9790c94219377e6ef/src/coreclr/jit/gentree.cpp#L2847-L2848,
it should be
[code]

[2021-02-11 22:57] rbhanda commented on #48186
Hello, Thanks a lot for letting us know about the missing tags. We have pushed the tags to https://github.com/dotnet/corefx/tags

[2021-02-11 23:03] AaronRobinsonMSFT commented on #42550
Reopening due to https://github.com/dotnet/runtime/pull/48193

[2021-02-11 23:13] chucker commented on #33797
(The PR linked above does now include the fixer, too.)

[2021-02-11 23:13] terrajobst commented on #39443
Don't ruin my brilliant tale with facts 😄

[2021-02-11 23:22] danmoseley commented on #39443
`IDictionary GetEnvironmentVariables()` is a better example. It was changed to return a `Dictionary<string, string>` but that was too breaking so it had to go back to a `Hashtable`. This actually broke me on a previous product -- it's so tempting to downcast that `IDictionary`, because you know what it is, right? That isn't to say we never make changes like that, particularly in .NET Core.

[2021-02-11 23:23] HongGit commented on #47371
@Benjie-Liu can you please see if you could repro this issue?

[2021-02-11 23:25] layomia commented on #27062
Given the discussion here, I've updated the issue description with a formal API proposal. Will mark as ready-for-review. https://github.com/dotnet/runtime/issues/15059 will be closed in favor of this since the solution here is more capable.

[2021-02-11 23:26] layomia commented on #15059
I'm closing this issue in favor of https://github.com/dotnet/runtime/issues/27062 which offers a more capable solution. See that issue for more details.

[2021-02-11 23:26] #15059 closed

[2021-02-11 23:34] klementi commented on #48186
I believe you have missed v2.1.25-dependencies tag...

[2021-02-11 23:36] danmoseley commented on #48185
We don't have  label `area-System.Diagnostics-mono` but we do have one for `area-System.Diagnostics-coreclr`?

[2021-02-11 23:38] danmoseley commented on #48183
Duplicate of https://github.com/dotnet/runtime/issues/39375 except perhaps any missing Process ones need mentioning there.

Perhaps you'd be interested in offering a PR.

[2021-02-11 23:38] #48183 closed

[2021-02-11 23:41] rbhanda commented on #48186
@Anipik Can you help us here for  v2.1.25-dependencies tag?

[2021-02-11 23:48] agocke commented on #44337
As of .NET 6 Preview 1, both Windows and Mac should now compile all the runtime binaries into a single-file, and publishing should produce a true single-file app.

Any native dependencies that the app itself brings in can be bundled and extracted using `IncludeNativeBinariesForSelfExtract`

[2021-02-11 23:48] #44337 closed

[2021-02-11 23:53] TFTomSun opened #53843 "Hundreds of exceptions in Debug output when reloading a Asp.Net Core hosted Web Assembly app"
- Create an ASP.NET hosted Blazor WebAssembly application.
- Start debugging the Application, wait until debugger is attached
- Reload the app using the browsers refresh function
-> hundreds of exceptions are internally thrown:

<details>

</details>

[2021-02-12 00:07] pgovind opened #48197 "Investigate a potential optimization in `TryParseNumber`"
Currently, we have a `MaxDigCount` of 768 for `Double` while processing `Double.Parse(aReallyLongStringInput)`. When the input is longer than that, say 800 digits, and
1) Some/All digits preceding the last one are 0
2) Last digit is not 0

We store the full scale and number of fractional digits in the number buffer and set the `HasNonZeroTail` flag. This in turn forces us to go to the slow path (f

[2021-02-12 00:15] tarekgh opened #48198 "CI failure in Installer Build and Test coreclr windows_x64 Release leg"
[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=990205&view=results

[2021-02-12 00:17] #46704 closed

[2021-02-12 00:43] safern commented on #48166
@AraHaan from looking at usages on the framework: https://source.dot.net/#System.Drawing.Common/System/Drawing/Graphics.Unix.cs,154

documentation for the `BitBlt` API: https://docs.microsoft.com/en-us/windows/win32/api/wingdi/nf-wingdi-bitblt

And lastly at the int values for the enum (they're not power of 2), it doesn't seem like it is intended to be used as a flag enum.

@JeremyKuhne maybe has

[2021-02-12 00:45] safern commented on #48169
Thanks, @tarekgh this was just fixed by: https://github.com/dotnet/runtime/pull/48170

[2021-02-12 00:45] #48169 closed

[2021-02-12 00:53] Matthewsre opened #48202 "System.Text.Json deserialization broken for DateTime, Guid, and enum"
### Description

I was having problems recently with the Cosmos 3 SDK deserializing my models correctly and figured it was a but in their library.

I was just switching some code I have to System.Text.Json and was running into the same issue.

DateTime, Guid, and Enum are all not being deserialized correctly.

Here is a simple XUnit test to repro:

[code]

### Configuration

Here is the .csproj in

[2021-02-12 01:20] sandreenko opened #48204 "Runtimelab_578/arr fails in crossgen2."
The test added in https://github.com/dotnet/runtime/pull/47400 is failing in crossgen2 outerloop with:
[code]
full log: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-48152-merge-304a3fe532ab482ca7/PayloadGroup0/console.88cdfe54.log?sv=2019-07-07&se=2021-03-03T22%3A44%3A29Z&sr=c&sp=rl&sig=oyTi3cN3NEeo8ng0oocOqdvb8kdokAjUMLrxnXZrzk8%3D

added in https://github.com/d

[2021-02-12 01:44] Matthewsre commented on #48202
Removing issue, forgot I had the internal set on the model for GET vs POST being displayed with/without the properties on swagger.

[2021-02-12 01:44] #48202 closed

[2021-02-12 01:47] wfurt commented on #46837
It looks like it fails sometimes on server side with
[code]

it seems like OS does not like one (or more) certificates we passed in.

Let me know if you have any hints how to debug this further @bartonjs @vcsjones. All the pointers look pointrish e.g. similar & high positive value.   So far, I can reproduce it only when running in batch.

[2021-02-12 01:49] layomia commented on #48202
@Matthewsre how did you resolve this issue?

[2021-02-12 01:56] vindicatorr opened #48205 "6.0 - System.Text.Json.JsonSerializer.Deserialize System.Net.DnsEndPoint System.NotSupportedException"
### Description

System.Text.Json.JsonSerializer.Deserialize for System.Net.DnsEndPoint results in: "Deserialization of types without a parameterless constructor, a singular parameterized constructor, or a parameterized constructor annotated with 'JsonConstructorAttribute' is not supported. Type 'System.Net.DnsEndPoint'..."

### Configuration

* Which version of .NET is the code running on? 6.0.10

[2021-02-12 02:07] wfurt opened #48207 "certificates added to user CertificateAuthority store are ignored by X509Chain.Build on macOS"
This is subset of  #48017 as the underlying issue seems different.
I basically have fragment like

[code]
It works on Linux & Windows but it fails consistently on macOS (10.15)
Interestingly, it works if I use `StoreName.My` instead.

It seems like that store does not have standard OS KeyChain mapping and that is reason why the chain does not build correctly. If that is true, it would be nice if w

[2021-02-12 02:24] AraHaan commented on #48188
While Windows CNG does not, Crypto++ does support some of those too. Perhaps they can bring it in using p/invokes to dll version of crypto++.

[2021-02-12 02:28] AaronViviano commented on #47037
I'm also seeing this exact issue in my new .Net 5 x64 project. I have a thread in my C++ code that sends data back to my .Net UI. I can't debug the reverse Pinvoked .Net method.

[2021-02-12 02:40] jkoritzinsky commented on #47037
Yes, this should be fixed in .NET 6

[2021-02-12 02:41] jkoritzinsky commented on #47037
Fixed by #46238

[2021-02-12 02:41] #47037 closed

[2021-02-12 02:43] vcsjones commented on #48188
With the current state of affairs, I don't believe bringing in a 3rd party library is an option, even something like OpenSSL's libcrypto.

My current understanding is that shipping implementations of cryptographic primitives is off the table, since it impacts some things like serviceability, security, and compliance, to name a few.

[2021-02-12 02:57] AaronViviano commented on #47037
@jkoritzinsky Great to hear. Thank you.

[2021-02-12 02:59] RickStrahl commented on #48134
Thinking out loud here...

I wonder if it's possible to return a function pointer as an Integer to the C++ code. The C++ code could then wrap the IDispatch interface and return that to my client. In fact I think I could even pass the pointer all the way through to FoxPro, which can pick it up and turn it into an IDispatch instance. The ref counting would have to be figured out...

[2021-02-12 03:07] danmoseley commented on #48188
This is presumably something a community owned library can add, without changes in the platform.

[2021-02-12 03:16] Dharshanbs commented on #48162
Ok sure will try and let you know.

On Fri, Feb 12, 2021, 03:16 Vitek Karas <notifications@github.com> wrote:

[2021-02-12 04:09] alexcovington commented on #47786
Oh you're right. I fixed that and those tests are passing now. Here's the diffs so far:

[code]

I'm going to spend a little more time tomorrow looking at the 4th case again now that this is resolved.

[2021-02-12 04:14] GF-Huang commented on #9113
So, can use this syntax now?

[code]

[2021-02-12 04:35] makrattaur commented on #44826
Hi, I am also running into this issue and I am able to reproduce with ldapsearch.
I am using Microsoft Active Directory as the LDAP server (which has the behaviour described).

I have changed the query so it returns one match and one property only so the ldapsearch output is shorter.

On any other DN other than the base DN, the result looks like this:
[code]

But on the root DN, the result looks l

[2021-02-12 04:38] #48017 closed

[2021-02-12 05:09] klementi opened #48210 "NET CoreFX v3.1.12 release failed to build due to the usage of internal NuGet feed"
We are trying to build https://github.com/dotnet/corefx/releases/tag/v3.1.12 by running
./build.sh --configuration Release --os Linux

Build is failing with following errors

[code]
It appeared that the feed https://pkgs.dev.azure.com/dnceng/internal/_packaging/darc-int-dotnet-corefx-43e382ec/nuget/v3/index.json is internal and requires authentication

usage of this feed was introduced by commit 5

[2021-02-12 05:11] #48136 closed

[2021-02-12 05:14] klementi commented on #48186
also, FYI, there is a related issue we stumbled upon with newly tagged corefx v3.1.12 project https://github.com/dotnet/runtime/issues/48210

[2021-02-12 05:47] sandreenko commented on #47786
Looks cool, could you run with `-f` instead of `-c` to see diffs on all libraries, not only System.Private.CoreLib?

[2021-02-12 06:29] lewing commented on #48146
Is this an actual issue or something transient related load on the machine?

[2021-02-12 06:40] Clockwork-Muse commented on #48202
@layomia

... presumably OP just removed `internal`, since that would cause default properties for any type.

[2021-02-12 07:17] #47308 closed

[2021-02-12 07:39] Matthewsre commented on #48202
@layomia ,

That is exactly how I solved the serialization problem.

[2021-02-12 07:53] Youssef1313 opened #48212 "Remove and fix suppressions of ca1825"
There are a few suppressions for CA1825 commented with the reason being that `Array<T>.Empty` isn't available in all configurations.

This can be fixed by using a conditional compilation to use `Array<T>.Empty` when it's available, and `new T[0]` where it's not.

[2021-02-12 07:58] karelz commented on #45673
Fixed in 6.0 (master) in PR #45683 and in 5.0.4 in PR #46745.

[2021-02-12 07:58] #45673 closed

[2021-02-12 08:04] karelz commented on #41511
Fixed in 6.0 (master) in PR #42054 and in 5.0.x in PR #45201.

[2021-02-12 08:04] #41511 closed

[2021-02-12 08:04] sandreenko commented on #47786
cc @dotnet/jit-contrib

[2021-02-12 08:07] ManickaP commented on #48106
Should be fixed with https://github.com/dotnet/runtime/pull/48193

[2021-02-12 08:07] #48106 closed

[2021-02-12 08:08] ManickaP commented on #48124
Should be fixed with https://github.com/dotnet/runtime/pull/48193

[2021-02-12 08:08] #48124 closed

[2021-02-12 08:56] MichalStrehovsky commented on #48204
From the stack this looks like a crossgen2 issue.  I saw the same issue in NativeAOT. I assume Crossgen2 needs a fix along the lines of https://github.com/dotnet/runtimelab/pull/586 (the CorInfoImpl part). Array methods are weird and their canonical forms make things weirder.

[2021-02-12 09:15] kunalspathak commented on #45141
I don't see this test failing recently so might have been already fixed.

[2021-02-12 09:15] #45141 closed

[2021-02-12 09:18] kunalspathak commented on #45332
I do not see this test failing lately in https://dev.azure.com/dnceng/public/_build/results?buildId=982411&view=ms.vss-test-web.build-test-results-tab and https://dev.azure.com/dnceng/public/_build/results?buildId=981610&view=ms.vss-test-web.build-test-results-tab&runId=30771198&resultId=110610&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab.

[2021-02-12 09:18] #45332 closed

[2021-02-12 09:19] kunalspathak commented on #47866
I will take a look sometime next week.

[2021-02-12 09:39] SergiiKram commented on #48116
@CalinBunea yes, first I used your exact code with 1 000 000 items. Then I modified the code to make sure that there is a substring somewhere in each array item - same results.
I think the key to solution here is to set explicitly `StringComparison.Ordinal` since other variants would give you overhead regardless of platform.

[2021-02-12 09:49] Dharshanbs commented on #48162
I have tried as suggested above, getting the similar error,here is the
detailed error message.

Could not load type
'Microsoft.AspNetCore.Mvc.ModelBinding.Internal.ModelBindingHelper' from
assembly 'Microsoft.AspNetCore.Mvc.Core, Version=3.1.12.0, Culture=neutral,
PublicKeyToken=adb9793829ddae60'.
System.TypeLoadException: Could not load type
'Microsoft.AspNetCore.Mvc.ModelBinding.Internal.ModelBi

[2021-02-12 09:54] ekzoor opened #48214 "dotnet-diagnostic sockets dont close after application exit"
.NET Core version: 3.1, target - linux-x64

When I launch my app, it opens 8 unix sockets:
![sockets](https://user-images.githubusercontent.com/26752123/107753748-907f0280-6d31-11eb-8a20-3aed89468e31.png)
Then application exits with Envirnoment.Exit(0); and sockets left opened until I close terminal window.
If I restart my app without closing terminal window, I get 8 more opened sockets. With ever

[2021-02-12 10:13] huoyaoyuan commented on #48212
Most `new T[0]` in corelib should be intentionally not using `Array.Empty`, with a comment explaining.

[2021-02-12 10:21] Youssef1313 commented on #48212
Cases that shouldn't use `Array.Empty<T>` seem to be already documented:

https://github.com/dotnet/runtime/blob/451d67f85b2f2ad75669cb4da20e7881fe83e8e0/src/libraries/System.Linq.Expressions/src/System/Dynamic/DynamicObject.cs#L435

https://github.com/dotnet/runtime/blob/69e114c1abf91241a0eeecf1ecceab4711b8aa62/src/coreclr/tools/Common/TypeSystem/Common/MethodDesc.cs#L375

The number of violation

[2021-02-12 10:22] karelz commented on #48214
@ekzoor do you get the same behavior from HelloWorld app? (that will tell us if it depends on what you do in your app)
What if you open custom Socket yourself? (that will tell us if it is specific to dotnet-diagnostic)

Will the sockets expire and close eventually? (perhaps in a few minutes?)

[2021-02-12 10:44] marek-safar opened #48216 "Add arm64-ios & arm64-tvos runtime packs for simulator and produce new runtime packs"
We need a different build for ios simulator running on M1 machines. It has the same arch as 64 bits iOS bit the native assets cannot be shared. This is something that Apple might change in the future though.

I'd suggest deriving it from the existing ios-arm64 RID.

/cc @rolfbjarne

[2021-02-12 10:45] antonfirsov commented on #48214
Seems very similar to #13194. (Hope I applied correct labels.)

[2021-02-12 10:53] antonfirsov commented on #48214
If I understand the discussion under that issue correctly, this has been fixed in .NET 5, ported to 3.0, but it's not unclear if the fix is also available in 3.1.

@ekzoor any chance you try your app on .NET 5?

[2021-02-12 10:55] ekzoor commented on #48214
Sockets close correctly on HelloWorld app, I created mini app which can reproduce issue and i can share it if needed. (Its contains only sleep and process.start)

No, they only close if i close the terminal window

[2021-02-12 10:56] antonfirsov commented on #48214
Please do it would be very helpful!

/cc @sywhang

[2021-02-12 11:01] MichalStrehovsky opened #48217 "Move ILLink.LinkAttributes.xml to a shared location"
We should move src/mono/System.Private.CoreLib/src/ILLink/ILLink.LinkAttributes.xml to a shared location and make various attribute removal conditional on feature switches that SDKs (or end users) can opt into.

The list currently has things in it that are known to cause behavioral differences in XmlSerializer (ObsoleteAttribute) or Entity Framework (the nullable annotations cruft). While this is

[2021-02-12 11:03] ekzoor commented on #48214
I saw the #13194. The described problem is solved in NetCore 3.1 files in /tmp/ are deleted correctly.
Ill try .NET 5 today

[2021-02-12 11:24] sywhang commented on #48214
Thanks for reporting this -- I'd be happy to take a look if you can share the repro.

[2021-02-12 11:54] akoeplinger commented on #48165
My initial thinking was this would only be used for our own assemblies or even just System.Private.CoreLib since as Vitek said there's no good way to do this for all assemblies. Essentially having a failsafe with a nice assertion message instead of randomly crashing because the managed code used a wrong memory layout for some structs accessed by the runtime.

I'm a bit torn on whether it's worth i

[2021-02-12 11:55] karelz commented on #31387
Just found a corner case where it differs:
[code]

[2021-02-12 12:07] ayousuf23 commented on #48119
Alright! Thanks for the help! @pgovind can you assign this issue to me?

[2021-02-12 12:13] ekzoor commented on #48214
Source for reproduce:
[code]
restart.sh
[code]

In restart.sh you should edit 2nd line to cd to your workdir

[2021-02-12 12:14] ekzoor commented on #48214
Tested Net5.0 it has the same behavior

[2021-02-12 13:01] #45798 closed

[2021-02-12 13:10] stephentoub commented on #9113
No

[2021-02-12 13:13] antonfirsov opened #48219 "Enable SO_REUSE_UNICASTPORT when connecting sockets without an explicit bind"
### The problem

When `SocketsHttpHandler` or other middleware building on top of System.Net.Sockets establishes high  (>= 16k) number of TCP connections, new connection attempts will fail with socket error 10055 (`WSAENOBUFS`) because of port exhaustion.

On Windows 10+, this can be avoided by enabling `SO_REUSE_UNICASTPORT` (`SocketOptionName.ReuseUnicastPort`). When enabled, `socket.Bind()` wil

[2021-02-12 13:22] scott-xu commented on #47410
I switched to BouncyCastle and it works perfectly.

[2021-02-12 13:25] ManickaP opened #48220 "Deadlock in HTTP/2"
When an HTTP/2 request is being completed and, at the same time, SETTING frame with SETTINGS_INITIAL_WINDOW_SIZE is received, a deadlock might occur.
Call stacks:
[code]
[code]

[2021-02-12 13:26] ManickaP commented on #48220
Fixed in #47769

[2021-02-12 14:09] CarnaViire commented on #47091
*Edit:* Changed main proposal to be about transient `HttpClientFactory` as there's no need for an additional interface in this case. Moved `IScopedHttpClientFactory` to alternatives. Removed option with `IServiceProvider` parameter completely as it is both a bad practice and inconvenient to use.

[2021-02-12 14:20] krwq commented on #45010
This bug is related to https://github.com/dotnet/announcements/issues/175
It's already fixed in 2.1/3.1/5.0, the PR above is port against master branch.

[2021-02-12 14:52] eerhardt commented on #48217
@MichalStrehovsky - do you have an idea for what the feature switches would be named? How granular do you think the switches should be? A switch per attribute feels too granular, and a switch for the whole thing feels too big.

[2021-02-12 14:58] stephentoub commented on #48212
I see two places:
https://github.com/dotnet/runtime/blob/1d9e50cb4735df46d3de0cee5791e97295eaf588/src/libraries/System.Threading.Tasks.Dataflow/src/Internal/ImmutableArray.cs#L28-L30
https://github.com/dotnet/runtime/blob/b2adfd7ae40e1ca0f4bd311ca052846d46a8c9bb/src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs#L36-L41
(there's a third that mentions this, but als

[2021-02-12 14:59] stephentoub commented on #48106
But we're still going to follow-up to understand and fix why it impacted SslStream, right?  It seems there's a deeper issue lurking and potentially triggering exceptions unexpectedly.

[2021-02-12 15:01] MichalStrehovsky commented on #48217
One natural grouping would be all the nullable junk. That covers like half of the list.

I would maybe create categories for those that have reasonable payoff and the rest can be WASM only, no-feature-switch, where ~50 bytes is a meaningful saving (e.g. it doesn't feel like stripping ObsoleteAttribute could produce meaningful savings).

[2021-02-12 15:10] #48190 closed

[2021-02-12 15:14] ViktorHofer commented on #40208
@ericstj I just noticed that we were building against prebuilts even before we switched to PackageReferences. An example is `System.Threading.Channels` which references `System.Threading.Tasks.Extensions` which references `System.Runtime.CompilerServices.Unsafe`. As `S.T.T.Extensions` was already restored via a depproj, it's reference to `S.R.C.U` was already pinned to specific version. If we look

[2021-02-12 15:18] Youssef1313 commented on #48212
@stephentoub Yes. Also the following if the usage of `Array.Empty<T>` is okay:

https://github.com/dotnet/runtime/blob/1d9e50cb4735df46d3de0cee5791e97295eaf588/src/libraries/System.Reflection.Metadata/src/System/Reflection/Internal/Utilities/EmptyArray.cs#L8-L10

https://github.com/dotnet/runtime/blob/69f260eff523bc16c8a95c232e4816b3a1764e88/src/libraries/System.Private.CoreLib/src/System/Threadin

[2021-02-12 15:18] eiriktsarpalis commented on #48205
I believe the standard approach for serializing a class you don't own is to define a `JsonConverter`. cc @layomia to comment on whether it is possible to specify deserialization constructors for class we don't own.

[2021-02-12 15:21] CarnaViire commented on #31088
Hey @zlatanov I understand that you might have been busy, but have you got any chance to proceed with the implementation? Is there anything I can help you with?

[2021-02-12 15:24] stephentoub commented on #48212
The ExecutionContext one is not because of lack of the API; it's by design not using Array.Empty.

It mucks up the code with ifdefs, and Array.Empty only doesn't exist in some of the oldest targets in the repo; over time those will stop being supported, and this wouldn't be necessary anyway, so it's unnecessary churn.

The benefit of Array.Empty is also in aggregate; a couple of extra zero-length

[2021-02-12 15:27] zlatanov commented on #31088
@CarnaViire I am working on the implementation, as it turned out little trickier than I thought because there are lots of assumptions inside the current implementation. Do you have somewhere where we could chat and figure out how we can collaborate?

[2021-02-12 15:41] eerhardt opened #48223 "X509Certificates RevocationTests EmptyAiaResponseIsIgnored failed in CI"
Failed in https://github.com/dotnet/runtime/pull/48172

See the logs at:

https://dev.azure.com/dnceng/public/_build/results?buildId=990212&view=logs&j=55b384d0-d6b0-5894-fd8a-d754d713246e&t=8dcacd81-cb5e-5ac9-93e5-c3f19b19e19b&l=87

https://helix.dot.net/api/2019-06-17/jobs/a2f2a3ff-ffb5-4e99-a88a-4206c9773925/workitems/System.Security.Cryptography.X509Certificates.Tests/console

[code]

[2021-02-12 15:41] Youssef1313 commented on #48212
@stephentoub Hmm, good to know that. Could the docs for CA1825 be updated with that info in [When to suppress violations](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1825#when-to-suppress-warnings) section? I thought it's always more performant to use Array.Empty vs. new T[0].

Meanwhile, I'm going to close.

[2021-02-12 15:41] #48212 closed

[2021-02-12 15:43] stephentoub commented on #48212
I don't think it's worthwhile to complicate the docs for that.  Better to keep them clean and straightforward and not impart undue choice.  The differences we're talking about here are miniscule in the grand scheme of things, but for the core .NET libraries, we care about miniscule.

[2021-02-12 15:44] marek-safar commented on #48217
As a note, Xamarin is way more aggressive than Blazor today with attributes removal. Leaving attributes like Obsolete out the list is very likely not going to work because they have hundreds/thousands of them used and we'd need to mitigate that differently.

[2021-02-12 15:54] MichalStrehovsky commented on #48217
In that case it should probably go into one of those that should be under a feature switch.

In either case whether the stripping should happen should probably be decided by the SDK and not by CoreLib as it is done right now. It doesn't feel right to have e.g. XmlSerializer behave differently in the same MAUI app depending on whether you target Android (that uses Mono's corelib) vs Windows desktop

[2021-02-12 16:14] fsinisi90 commented on #40203
@AaronRobinsonMSFT Thank you. I noticed that .NET 5.0 is a minimum requirement. Is there a way to accomplish the same with .NET Core? My scenario is a C++ application hosting .NET Core. I'd like to instantiate managed objects and call methods from C/C++ directly. I can take care of creating the glue code and the marshalling. I was already able to call methods as callbacks using delegates. Any advi

[2021-02-12 16:22] bartonjs commented on #48207
Only My, Root (RO), and Disallowed stores work on macOS.  The call to store.Open should be throwing:

https://github.com/dotnet/runtime/blob/1e5ec5cea101669fcd3ad58ed32df97843f4c72c/src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/StorePal.cs#L102-L136

[2021-02-12 16:28] CoffeeFlux opened #48225 "Avoid bundling unnecessary functionality in the wasm published output"
Some candidates:
- [x] MBR
- [x] EventPipe
- [ ] Zlib

Specifics are still being figured out.

[2021-02-12 16:33] AnthonyMastrean opened #87130 "Cannot create environment variable for logging category with periods"
The [logging configuration](https://docs.microsoft.com/en-us/dotnet/core/extensions/logging#configure-logging) often uses namespaces (or namespace like strings, separated by periods) as category keys.

[code]

The logging and [configuration docs](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-5.0#set-log-level-by-command-line-environment-variables-and-other-conf

[2021-02-12 16:45] vcsjones commented on #48207
@bartonjs For `CurrentUser` it will fall in to a custom keychain store for things other than My, Root, and Disallowed:

https://github.com/dotnet/runtime/blob/1e5ec5cea101669fcd3ad58ed32df97843f4c72c/src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.OSX/StorePal.cs#L115

That said, macOS has no notion of a `CertificateAuthority` store, it's just a keychain w

[2021-02-12 16:55] sfoslund opened #48228 "Inconsistent casing for packaged dlls"
We are seeing bug reports on the SDK for failed conflict resolution as a result of inconsistent casing of API-MS-Win-core-xstate-l2-1-0.dll in various runtime packages. See https://github.com/dotnet/sdk/issues/15748 for details.

[2021-02-12 16:55] #45010 closed

[2021-02-12 17:13] vcsjones commented on #48207
It seems like it was originally not supported for 2.x, and in 3.0 this PR landed: https://github.com/dotnet/corefx/pull/30603 which added support for custom trust stores, likely to support arbitrary store names for `X509Store(string storeName, StoreLocation storeLocation)`. In doing so, `CertificateAuthority` ended up getting treated as an arbitrary store. Perhaps that was unintentional.

[2021-02-12 17:14] ManickaP commented on #48106
If I get it right, it impacted `SslStream` because it depends on `SafeHandle` guarding against passing nulls to P/Invokes. To fix it, we would need add our own checks before every P/Invoke.

If you're talking about `SslStream` being disposed from one thread while being written to from another, that's a thing we use a lot in HttpClient (disposing stream in case of cancellation/timeout etc.) and tha

[2021-02-12 17:17] #48061 closed

[2021-02-12 17:27] ViktorHofer opened #48229 "Consolidate PackageVersion properties"
The `PackageVersion` property is currently specified four times instead of once centrally. We should consolidate that before we ship NET6 to ease servicing (especially as NET6 will be an LTS release).

cc @dotnet/runtime-infrastructure

[2021-02-12 17:32] AaronRobinsonMSFT commented on #40203
Yep. The .NET 5.0 requirement is simply because the optimized path is using C# function pointers and the `UnmanagedCallersOnly` API - both exclusive to .NET 5+. I think the DNNE tooling would work using the fallback mechanism instead - https://github.com/AaronRobinsonMSFT/DNNE#experimental-attribute. However, if DNNE isn't desired then your existing approach can be manually done using the function

[2021-02-12 17:40] antonfirsov commented on #40380
I need this to properly test #44778, we could at least do a fork.

[2021-02-12 17:45] alexcovington commented on #47786
Here's the diff for all libraries:

[code]

[2021-02-12 17:51] ViktorHofer commented on #34472
Got fixed by AzDO. Closing.

[2021-02-12 17:51] #34472 closed

[2021-02-12 17:56] CarnaViire commented on #31088
@zlatanov sure, just drop me an email (it should be visible on GH for now) and we'll figure it out from there.

[2021-02-12 18:06] tarekgh commented on #46571
@davidfowl @shirhatti the proposal looks reasonable to me. Do you have any concern bout it before we move forward?

[2021-02-12 18:17] akoeplinger commented on #48061
@tqiu8 just curious, did anyone look at the `-r` option that the zic manpage mentions to further shrink the size?

[2021-02-12 18:29] BrzVlad commented on #48185
This works fine in the console sample. @lewing Any idea what might be going on when running from Visual Studio ?

[2021-02-12 18:37] sdmaclea opened #48233 "Regression causing new Apple Silicon failures"
There are a 109 new tests failing on a recent tip.

The tests pass if `COMPlus_EnableEventLog` is not set, but the flag is set by default by the test run scripts.  (It can be disabled with `--disableEventLogging`)

[code]

/cc @dotnet/dotnet-diag

[2021-02-12 18:38] davidfowl commented on #46571
As long as it's not on by default, looks good.

[2021-02-12 18:55] tqiu8 commented on #48061
Using `-r` in addition to `-b` option actually didn't decrease the size as much as `-b` alone and it also caused tests that go back to `01/01/0001` to fail.

[2021-02-12 19:02] sdmaclea commented on #48233
Stack traces from baseservices/threading/monitor/enter/monitorenter/monitorenter.dll

[code]

[code]
[code]

[2021-02-12 19:07] ViktorHofer commented on #48091
I just hit this in https://dev.azure.com/dnceng/public/_build/results?buildId=992336&view=ms.vss-test-web.build-test-results-tab&runId=31092708&resultId=156372&paneView=debug

[code]

[2021-02-12 19:07] Anipik commented on #48186
closing this one as all the tags are up now

[2021-02-12 19:07] #48186 closed

[2021-02-12 19:09] sdmaclea commented on #48233
@sywhang Has suggested that `COMPlus_EnableEventLog` shouldn't be enabled for OSX.

I see it is enabled if
[code]

`FEATURE_EVENT_TRACE` is (almost) always enabled for coreclr.
`FEATURE_EVENTSOURCE_XPLAT` is enabled for target Unix (including OSX).

[2021-02-12 19:10] Anipik commented on #48091
i will link this one with runfo that should tell us about all the failures and the leg they failed on

[2021-02-12 19:11] sdmaclea commented on #48233
The issue was likely introduced by #47829

[2021-02-12 19:16] #40398 closed

[2021-02-12 19:23] mikem8361 commented on #45689
Looping in @davidwrighton, @terrajobst

[2021-02-12 19:26] eerhardt commented on #47968
Also failed on browser-wasm in https://github.com/dotnet/runtime/pull/48181/, so I don't believe this is x64 specific.

https://helix.dot.net/api/2019-06-17/jobs/05ea776a-fb59-4058-8691-82b19e0ca827/workitems/System.Data.Common.Tests/console

[code]

[2021-02-12 19:29] eerhardt opened #48236 "MultipleOperationsOverSingleHandle_CompletedWorkItemCountTest failed in CI"
Failed on coreclr windows x86 Debug leg of https://github.com/dotnet/runtime/pull/48181.

See logs

https://dev.azure.com/dnceng/public/_build/results?buildId=992107&view=logs&j=9d8498d2-c5b7-54d8-6df7-a2ce7e14e68c&t=34b459a3-e64e-5ccc-0adc-77ebca2601a8&l=71

https://helix.dot.net/api/2019-06-17/jobs/38c5fe46-1522-4e22-b980-c873a017f3b7/workitems/System.Threading.Overlapped.Tests/console

[code]

[2021-02-12 19:31] bartonjs commented on #48207
Ah, yep.  Missed that the first case block has a fallback return in it.

Seems like the three paths are:
* Do nothing
* Block that store.Open call (technically a breaking change)
* During chain builds read that store and pass the contents as if they were in ExtraStore.

The last one is the most compatible, I suppose.  Maybe there's a cheaper way to implement it (e.g. maybe the chain building API s

[2021-02-12 19:35] briansull commented on #47724
Posted the fix for [release/3.1]
https://github.com/dotnet/coreclr/pull/28146

[2021-02-12 19:36] shirhatti opened #48237 "Add API to allow forcing creation of a Activity using ActivitySource (rather than relying on ActivityListener)"
## Background and Motivation

Forcing creation of an Activity will allow existing codebases (e.g., aspnetcore) to migrate to using `ActivitySource` to create `Activity`s while still preserving compat with existing DiagnosticListeners.

## Proposed API

[code]

## Usage Examples

https://github.com/dotnet/aspnetcore/pull/30089

## Alternative Designs

The alternative design to achieve compat with D

[2021-02-12 19:38] DaleStan commented on #42858
In production code, I'm passing the result of a SQL query, instead of a compile-time constant. I can do something like this:
[code]
This is a little better than the code I'm using currently (the `Proxy` constructor is no longer public) but I was hoping to get rid of that `[ThreadStatic]` field entirely.

[2021-02-12 19:51] vitek-karas commented on #48162
What is the version of Kendo.Mvc you're using (I can't find a version which would end up with the callstack shown here).

[2021-02-12 19:56] ViktorHofer opened #48238 "Discussion about how references are defined in libraries"
In runtime's libraries there are different ways to reference a dependency:

- **ProjectReference**: If a compatible live configuration of a dependency exists, a `ProjectReference` should be used. Exception: `$(NetCoreAppCurrent)` targeting pack references from runtime pack assemblies are currently not represented as `ProjectReference` but `Reference` items to minimize incremental build costs (incl

[2021-02-12 20:18] Maniues opened #48240 "Are there any support materials for a convenient .NET compilation with build.sh?"
Some time ago I was compiling .NET 5.0 and using only ./build.sh or ./build.sh -c Release the compilation was successful. However, there was no information about building .DEB / .RPM packages anywhere. I got the information I needed when submitting https://github.com/dotnet/runtime/issues/47153 and the build was successful.
I was looking for documentation or tutorials on compiling .NET at least 5.

[2021-02-12 20:36] jonathanpeppers opened #48242 "[Android] Updating from Xamarin.Forms 4.8 to 5.0 crashes in .NET 6"
### Description

Clone these samples using the `xamarin.forms5-repro` branch, and install the relevant bits in the `README.md`:

https://github.com/dotnet/net6-mobile-samples/tree/xamarin.forms5-repro

Build & run the app on an Android device or emulator:

Crashes with:

    --------- beginning of crash
    02-12 14:24:26.507 11286 11286 E AndroidRuntime: FATAL EXCEPTION: main
    02-12 14:24:26.5

[2021-02-12 20:52] joperezr commented on #48238
I definitely see value on adding something that abstracts this concept from most devs as at least I get asked this question relatively often. That said, it is not super common to add new references to projects (meaning most PRs don't have to do this) so one thing we could consider is simply erroring when detecting that the wrong item was used without trying to attempt to fix it. This is only a sug

[2021-02-12 20:52] ViktorHofer commented on #48091
@Anipik I just linked the issue to provide the team with the data.

[2021-02-12 20:52] sywhang commented on #48233
I think this needs to be unset for macOS. FEATURE_EVENTSOURCE_XPLAT adds sink for LTTng uprobes and macOS doesn't support that. I'll follow up with a PR to unset them in macOS builds.

[2021-02-12 20:55] akoeplinger commented on #48242
This is because in Xamarin/Mono we had the System.Collections.Generic.Stack<T> type in mscorlib.dll, but .NET Framework had it in System.dll hence the existing typeforwarder only exists there.

[2021-02-12 21:00] ogxd commented on #44958
Same for me, I was able to debug using Visual Studio for Mac without issue after updating to 11.2 🥳

[2021-02-12 21:07] denniskrq opened #48246 "ClientWebSocket.State property still indicates "Open" after "The remote party closed the WebSocket connection without completing the close handshake.""
### Description

I have a WebSocket client using the ClientWebSocket class, it has a public Send method, a private Poll method that dispatches an event upon receiving something, and a private Connect method. Code fragment:
[code]

The problem... The WS server went down abruptly, so there was no close handshake, the WebSocketException ` The remote party closed the WebSocket connection without compl

[2021-02-12 21:30] mikem8361 commented on #47274
What about if we by default to enabling hot reload/ENC on debug built modules? The DOTNET_MODIFIABLE_ASSEMBLIES env var can be used to opt-out of this default by either specifying no modules (empty list) or a list of hot reloadable modules regardless of how they are built.  We will need to investigate the performance impact of enabling ENC for debug modules over just debug modules. Is there any di

[2021-02-12 21:42] GrabYourPitchforks commented on #24897
Nit: We should use the throwing (non-substituting) version of UTF-8 when performing the chars -\> bytes conversion.

[2021-02-12 21:42] IanShaughnessyPG commented on #46678
I am also very interested in this feature. We would like to decorate classes generated from .proto files as well and use them with the `DataAnnotationsValidator` component.

I dug into the code a bit and it looks like the .NET 5 version of `System.ComponentModel.DataAnnotations.ValidationAttributeStore` is using `System.Reflection` to get the list of attributes, whereas the .NET Framework version

[2021-02-12 21:45] vcsjones commented on #24897
@GrabYourPitchforks added to the TODO in the PR.

[2021-02-12 21:57] Scooletz opened #48247 "Provide a way to perform Add with carry and Subtract with borrow"
## Background and Motivation
`
The motivation behind this proposal is to provide API that can be useful for adding/subtracting big integers without the need of calculating carry manually. Currently, the only way that I'm aware of .NET uses `ADC ` assembly instruction is an overflow check. With a proper intrinsics/Math method it could be leveraged to provide a fast add with carry operation. This wo

[2021-02-12 22:13] ViktorHofer opened #48248 "System.Diagnostics.DiagnosticSource package is missing a net5.0 configuration and doesn't exclude $(NetCoreAppCurrent)"
cc @ericstj @anipik @tarekgh @joperezr

[2021-02-12 22:36] layomia commented on #48202
Thanks. Just wanted to mention that another way is to place `[JsonInclude]` on the property - https://docs.microsoft.com/dotnet/api/system.text.json.serialization.jsonincludeattribute?view=net-5.0.

[2021-02-12 22:38] tarekgh commented on #48249
@eerhardt did you tag this as `System.Drawing` because it is related to the `Color` type?

[2021-02-12 22:51] eerhardt commented on #48249
Moving to `dotnet/runtime` since the problem lies here.

@rogerge88 - thanks for the repro project! It really helped speed up the investigation here. I am able to reproduce this issue in a simple console app.

[code]

`dotnet publish -p:PublishTrimmed=true -p:TrimMode=link -r win-x64` that application and try to run it, and you get:

[code]

### The Problem

The reason the exception is occurring i

[2021-02-12 22:59] alexcovington commented on #47786
Still running into the assert for your 4th case. Whenever I try building the tests after swapping the call to `IsInvariant`, I get:

[code]

Wondering if you might have any insight as to why this might be failing/how to better debug this. I could also wrap up what I have now into a PR and we could make the 4th case its own issue.

[2021-02-12 23:00] safern commented on #48249
IIRC the reason why the TypeConverter's used the full framework assembly name was due to it being serializable and to avoid problems on serialization in between frameworks. Is that something we're still concerned about?

[2021-02-12 23:02] eerhardt commented on #48249
@rogerge88 - to workaround this for now, to unblock yourself:

1. Add a new file to `Struct.Issue.Client` project named `ILLink.Descriptors.xml` with the following contents:
[code]
2. Add the following entry to the `Struct.Issue.Client.csproj`
[code]

NOTE: as you can tell from the .xml file, the same bug occurs for the `ColorConverter`:

https://github.com/dotnet/runtime/blob/c636bbdc8a2d393d07c0

[2021-02-12 23:02] jfd16 opened #48250 "ILVerify fails to verify some catch-to-try leave instructions"
### Description
To reproduce: Run ILVerify on the `Foo.dll` assembly in [this zip file](https://github.com/dotnet/runtime/files/5974603/Foo.zip).
The following output should be produced:
[code]
If the assembly is executed on .NET 5 (by invoking its `Main` method), it produces the expected output without any errors.

The assembly contains two static methods `A.m1` and `A.m2`. Both contain `leave` i

[2021-02-12 23:04] sandreenko commented on #47786
Could you provide call stack and JitDump output for the failing method?

[2021-02-12 23:04] trylek opened #48252 "Clean up ReadyToRun.targets in the installer after consuming SDK repo update with CG2 execution fixes"
To expedite CG2 bring-up I need to merge in a hack in

https://github.com/dotnet/runtime/blob/master/src/installer/pkg/sfx/Microsoft.NETCore.App/ReadyToRun.targets

to make CG2 work even with SDK 5.0 / SDK 6.0 preview 1 that don't support running CG2 via explicitly specified .NET host. I have currently a PR open for the SDK change,

https://github.com/dotnet/sdk/pull/15529/files

but that will mak

[2021-02-12 23:06] eerhardt commented on #48249
I'm not fully understanding this. This is a string in the `TypeConverterAttribute`, how does serialization come into play?

Given https://github.com/dotnet/designs/blob/main/accepted/2020/better-obsoletion/binaryformatter-obsoletion.md, we will soon not be concerned about it.

[2021-02-12 23:07] alexcovington commented on #47786
Not exactly sure how. I'm currently running into the issue after trying to run the tests:

[code]

[2021-02-12 23:14] sandreenko commented on #47786
run.cmd should give you test names that are failing, like you showed:
[code]
so just run that individual test with:
[code]
to replay the failure, then add
[code]
to get the dump,
then you can repro it under a debugger, like VS by running:
[code]

[2021-02-12 23:29] sywhang commented on #48214
@ekzoor Thanks for the repro. Unfortunately I'm unable to repro this issue on my Ubuntu-18.04 machine.. Looking at your original issue it seems like you're running on WSL. Is your environment WSL? If so, is this on WSL2 or WSL1?

[2021-02-12 23:46] tarekgh commented on #48237
Properly we should combine the request here with the one in https://github.com/dotnet/runtime/issues/43853 in a single proposal.

[2021-02-12 23:53] NetMage opened #48255 "API Proposal: add ReadLines to TextReader"
## Background and Motivation

We have `File.ReadLines` but not `TextReader.ReadLines`, which would work with `StringReader` and `StreamReader` and make using LINQ with lines easier and standardized.

## Proposed API

[code]
-->

## Usage Examples

Example using `ReadLines` with LINQ to process a CSV from a `StringReader`:

[code]
-->

[2021-02-13 00:18] pranavkm commented on #48016
By the way, we could change the SDK to have be more deliberate about what files are included (.dat, .blat, and the dotnet.wasm file). The SDK's globbing is very permissive today and there's no reason we couldn't flip it around

[2021-02-13 00:21] lambdageek commented on #48225
We're looking at various approaches. It won't necessarily be a separate workload pack.

[2021-02-13 00:21] JulieLeeMSFT commented on #13573
I was able to modify the code to generate an optimized code for the two argument case.
[code]
will run diffs and tests.

[2021-02-13 00:49] danmoseley commented on #48236
We should probably just change 30s to 60s for all these tests.

[2021-02-13 01:25] akoeplinger commented on #48242
https://github.com/dotnet/runtime/pull/48258 fixes this, I can launch the HelloForms app with it.

[2021-02-13 02:17] alexcovington commented on #47786
Thanks for the quick reply. Just tried a clean build, and the issue actually is earlier in the build chain during the initial clr subset build. Looks like it is running up against the asserts when generating the System.Private.CoreLib.dll image:

[code]

I've changed the code in gentree.h to look like this (I have some wrappers to make it work with `Compiler::IsInvariant(GenTree*)`:

[code]

I'm w

[2021-02-13 02:35] mateoatr opened #48259 "Self-contained app crashes when placed in a path with backslashes in Unix"
Publishing a self-contained application in a path with a back slash in it causes the app to crash with `Failed to create CoreCLR, HRESULT: 0x80004005`.

A minimal repro:
[code]

[2021-02-13 02:56] noahfalk commented on #47274
Keying on debug build configuration seems like a pretty good heuristic to me.

Also do we need to support scenarios where we don't know the full list of assemblies at startup, for example an application that will load plugins? If so that means these unpredictable assemblies can never be included in any opt-out or opt-in environment variable. Whatever the default behavior is for unlisted assemblies

[2021-02-13 03:34] Xaeco commented on #46678
I'm going to have a go at fixing it

[2021-02-13 03:53] Dharshanbs commented on #48162
Sure, here it is 2018.1.503

On Sat, Feb 13, 2021, 01:22 Vitek Karas <notifications@github.com> wrote:

[2021-02-13 04:16] am11 commented on #48091
Happened on Linux musl arm leg: https://helix.dot.net/api/2019-06-17/jobs/ba9c1251-f4c0-425e-adb7-69a6d1660be5/workitems/System.Net.Security.Tests/console.

[code]

[2021-02-13 04:18] som-nitjsr commented on #29935
I am good now this code in working by using UNC path.

[2021-02-13 04:23] som-nitjsr commented on #29935
Hi @wfurt
I have tested this, and it is working in .net 5.0.3 by when it will be available in .net core 3.1

[2021-02-13 04:32] #48242 closed

[2021-02-13 06:33] wfurt commented on #29935
there is no plan for 3.1 right now AFAIK @som-nitjsr. You can try to talk to @karelz  and  @samsp-msft  about business impact.

[2021-02-13 08:04] Priyantha commented on #2379
During running the same piece of tooling, in this case something to communicate with Modbus, I am experiencing the same issue as @ict-one-nl.

[2021-02-13 08:31] dreddy-work commented on #48159
I believe fix we made on #4556  should help resolve this too.

[2021-02-13 09:56] lucax88x commented on #48128
@danmoseley fine for me.

[2021-02-13 09:56] #48128 closed

[2021-02-13 12:56] EskeRahn opened #48267 "ZipArchive.GetEntry case sensitive, even on case insensitive OS"
ZipArchive.GetEntry is always case sensitive.
In a OS (like windows) that is insensitive, the input cannot be expected to be provided case sensitive.

Similar to #1553 this is OS dependent.

A new option, to force it to be case **in**sensitive would solve it. An easy way could be to add a bit to ZipArchiveMode

Optimally throwing an exception if the provided name matches more than one entry case *

[2021-02-13 14:16] yhvicey opened #48270 "Add configure methods for configuring services built by generic host builder"
## Background and Motivation

For now seems there's no convenient way for generic host (For web host we can use Startup.Configure) to access built service provider before host is started.
One workaround to achieve this is to create an IHostedService class, consumes IHostApplicationLifetime service and register corresponding lifetime events.
Is there any possibility to provide an interface on IHost

[2021-02-13 14:17] yhvicey commented on #48270
Submitted a POC PR (#48269) for this.

[2021-02-13 15:02] davidfowl commented on #48270
The host builder builds the host and then returns a host and service provider. If you want to write code after the host is built, add a hosted service or use the built host

[2021-02-13 17:50] mj1856 commented on #45318
Thinking a bit more about the suggestion of including an `IClock` implementation.  Since we are talking about changing .NET itself, I think it would be more valuable if we provided a way to intercept the clock, affecting the existing `Now`, `UtcNow` and `Today` properties.  That would allow time-specific testing of *existing* code.

[2021-02-13 17:53] henrikse55 opened #48272 ""MSB4018 ResolveTargetingPackAssets task failed unexpectedly" after updating to 5.0.103"
### Description

After updating dotnet to 5.0.3 via `dnf update`, I'm finding myself unable to build any project resulting in the error:

[code]

### Configuration

OS: Fedora 33 x64
Dotnet: 5.0.103 via Microsoft repo dnf
Dotnet info which lists all versions I've tried:
[code]

### Regression?

Initially, I believed this was a dotnet 5.0.103 issue due to it starting after updating to said version

[2021-02-13 18:18] MgSam commented on #39443
Thanks guys for the explanation. I agree there definitely can be unintended consequences even with an interface as the return type if you ever needed to change that, especially at the BCL level. That said, someone's reliance on internal implementation details is a much "easier" breaking change to swallow than changing a concrete type.

[2021-02-13 19:42] ekzoor commented on #48214
@sywhang I use an unusual unix system called Astra Linux, its based on Debian (Linux core 4.15.3-1).
I tested on my VM with Ubuntu 18.04 and for it you need modify restart.sh like:
[code]

[2021-02-13 20:58] ayousuf23 commented on #48119
I am getting this error:
`
System.Tests.DoubleTests.Parse_Span_Valid(value: "-123456789012345678.", offset: 0, count: 20, style: AllowThousands | Float, provider: null, expected: -1.2345678901234566E+17) [FAIL]
        Assert.Equal() Failure
        Expected: -1.2345678901234566E+17
        Actual:   -1.2345678901234568E+17
        Stack Trace:
          C:\Users\abdullah\Documents\runtime\src\lib

[2021-02-13 22:26] eerhardt commented on #48016
I believe this is intentional with the reasoning being that the runtime gets to pick what is and what isn't included in the output of the application. If the file is in the right directory of the runtimepack, the intention is it is needed at runtime.

We had similar conversations about `.a` files and removed them in https://github.com/dotnet/runtime/pull/41966.

[2021-02-13 23:04] sandreenko commented on #47786
@alexcovington you can make a PR with 1-3 and leave the last for another change or you can debug the failure.
The log gives you the command that fails, try to repro it directly:
[code]
then get JitDump, it is crossgen2 so their debug experience is a little different, described here:
https://github.com/dotnet/runtime/blob/master/docs/workflow/debugging/coreclr/debugging-crossgen2.md
but in short yo

[2021-02-13 23:12] eerhardt commented on #48249
Using the latest `mono/linker` build to trim the application will correctly preserve the `SizeConverter` and `ColorConverter` classes. So it appears that the piece of mono/linker#1164 that was blocking this scenario from working has been resolved in the latest bits.

One thing that was still confusing me is how does the `TypeDescriptor.GetConverter(typeof(Size))` know how to find the converter nam

[2021-02-13 23:20] #47653 closed

[2021-02-13 23:20] shahriak commented on #47653
resolved.

[2021-02-14 01:50] yhvicey commented on #48270
For example I'd like to ship a library with extension methods which do some work after host is built so we don't have to repeat our logic with built host in several executable program, e.g. Configuring some global static class fields using services registered in the host service provider, like this:

[code]

[2021-02-14 01:59] davidfowl commented on #48270
Why can't you do that in a hosted service?

[2021-02-14 02:25] yhvicey commented on #48270
For now I'm achieving this using `IHostedService` with `IHostApplicationLifetime`, but it's a little bit complex as I have to register a hosted service, consume lifetime service, register event callback, and pack them into hosted service & extension method. I'm wondering if we can have sth like `Startup.Configure` for generic host.

[2021-02-14 03:59] danmoseley commented on #48267
What would this flag do if there were two file name in the zip that differed only in casing?

[2021-02-14 04:13] davidfowl commented on #48270
Can you compare the 2 implementations side by side? I don't see how this is much simpler.

[2021-02-14 04:39] vindicatorr commented on #48205
That's a great feature. I just made use of it and like it. https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-converters-how-to?pivots=dotnet-5-0

[2021-02-14 04:39] #48205 closed

[2021-02-14 04:41] yhvicey commented on #48270
`IHostedService` way (This is the way I achieve this, not the most simple one but I think it's easy to use and fits my flavor):

[code]

`IHostBuilder.Configure` way:

[code]

[2021-02-14 05:13] davidfowl commented on #48270
Why are you using the event instead of doing the operation directly in StartAsync?

[2021-02-14 05:16] yhvicey commented on #48270
Because I want to provide a more generic way for other projects, for example I have multiple `Executable` projects using generic host, and some of them needs this `Configure`/`RegisterLifetimeEvent` extension method to do different operations. In this way I can hide implementation details of `IHostedService` and `IHostApplicationLifetime` and start using those events directly.

[2021-02-14 05:37] huoyaoyuan commented on #48267
Note that *Windows isn't case insensitive in deep*. Case sensitivity can be turned on.

[2021-02-14 05:40] davidfowl commented on #48270
There are a bunch of things missing in this proposal that are coming out as part of this discussion:
- it seems like you want an easier way to register lifetime events
- StartAsync is asynchronous while your configure method is synchronous
- I see a configure which maps to started but there's nothing that maps to stop
- The event triggers today after all hosted services start. Is that intentional?

[2021-02-14 07:28] lukeb1961 commented on #14537
are you getting good builds on FreeBSD?  if so, could you spell out the steps in total so I can try too?

[2021-02-14 07:54] sharwell commented on #282
While a segment of `T[]` can be represented by `Span<T>`, a segment of [`SegmentedArray<T>`](https://github.com/dotnet/roslyn/blob/master/src/Dependencies/Collections/SegmentedArray%601.cs) can be represented by `Sequence<T>`. This abstraction would simplify the process of modifying [`ArraySortHelper`](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/Co

[2021-02-14 08:13] noseratio commented on #47605
Hey @theodorzoulias, long time no no talk! :)
I was dealing with this problem too, I agree sometimes it's desirable to `await` without unwrapping of `AggregateException`. I think I've come with an handy extension method for that, [`WithAggregatedExceptions`](https://stackoverflow.com/questions/12007781/why-doesnt-await-on-task-whenall-throw-an-aggregateexception/62607500#62607500:~:text=A%20soluti

[2021-02-14 09:54] EskeRahn commented on #48267
Thanks for the quick reactions.

As suggested then the optimal would be to have an Exception, telling that an ambiguous name have been requested. So people would either have to access the archive case-sensitive OR to access by index (or foreach).

IF you also added a method returning a **collection**, for usage with **wildcards**, That could also return all variants matching, if case sensitivity w

[2021-02-14 10:38] EskeRahn opened #48278 "ZipArchive Contructor with file."
## Background and Motivation

Opening a ZipArchive with a stream and a file today looks oddly different

I would suggest to add a **constructor using a filename**

Similar to the existing stream constructor
[code]
With the same function as the current syntax
[code]
I would like to **propose this** overlay:
## Proposed API
[code]
## Usage Examples
[code]

## Alternative Designs

Of course the old O

[2021-02-14 14:44] JeroenBer commented on #887
@wfurt Great work! :) , I tested it succesfully on my Mac. For me it's not only Mac but I also want a re-usable solution for Xamarin Andorid / iOS / MacOS. I forked the repo and started creating a DelegatingHandler as a kind of wrapper around any HttpMessageHandler to add Ntlm functionality. Since I want it to run on any platform I moved the code to a .NET Standard 2.1 library. I replaced the MD4