[2020-09-12 18:41] #42130 closed

[2020-09-12 18:56] jkotas commented on #39587
@janvorli @vitek-karas Could you please chime in your thoughts about the managed API shape? Once we get a local agreement, I am going to create API proposal issues to submit for API review approval.

[2020-09-12 19:02] BreyerW opened #42163 "[System.Text.Json] Allow ReferenceResolver to feed external references to serializer"
## Background and Motivation

Recently I was trying to fix something in `ReferenceResolver.AddReference` that at first seemed to be a bug but in reality its just its behaviour. I wanted to add external reference to `ReferenceResolver` and not rely on passed `value` (unless external reference got deleted or otherwise expired), however internals of serializer ignores external reference if theres no

[2020-09-12 20:01] Wraith2 commented on #42156
It'd be neater to use a ValueTuple return and have `(ulong Count, ulong Remainder) Math.DivRem(ulong value)` et al.

[2020-09-12 21:10] geoffkizer commented on #41949
Backport is merged

[2020-09-12 21:10] #41949 closed

[2020-09-12 21:58] bjowes opened #42167 "[System.Text.Json] Unexpected performance penalty when passing options inline"
### Description

Calling `JsonSerializer.Serilaize` with an options object instantiated inline (or from a local variable) results in an unexpectedly large performance penalty, compared to passing the options object from a class member. The performance penalty is in the order of 1 ms.
Lots of example code in migrating to System.Text.Json uses inline instantiation of the options object, meaning that

[2020-09-12 23:22] BruceForstall opened #42168 "coreclr pri-1 test build failures"
Due to PR https://github.com/dotnet/runtime/pull/41947, all coreclr pri-1 test builds are failing

https://dev.azure.com/dnceng/public/_build/results?buildId=809051&view=results

There are many thousands of warnings (that seems new), but only 6 errors, including:
[code]

[2020-09-13 02:39] #42125 closed

[2020-09-13 05:08] jkotas opened #42172 "UnmanagedCallersOnlyTest failing in AllSubsets_Mono_RuntimeTests"
Introduced by https://github.com/dotnet/runtime/pull/42146#issuecomment-691600937

[code]

cc @AaronRobinsonMSFT

[2020-09-13 05:09] jkotas commented on #42168
Fixed by #41947

[2020-09-13 05:09] #42168 closed

[2020-09-13 05:49] MichaelLogutov commented on #42132
Does it requires rewriting all namespaces Microsoft.*? Because we can't afford such rework in our libraries and all microservices.

[2020-09-13 06:44] yukozh opened #42173 "Will Socket support to use Span<byte> as buffer?"

[2020-09-13 07:11] Kamil-Zakiev commented on #42068
That makes sense, thanks for the feedback, @GrabYourPitchforks!

[2020-09-13 07:11] #42068 closed

[2020-09-13 07:56] GSPP commented on #41418
OK, I see what you mean. Essentially random bytes can be "blitted" over a struct. So you're saying, if a struct is no longer able to guard its state that counts as subverting the type system.

[2020-09-13 09:21] lukacs-andras commented on #29937
In that case, the correct generic type parameter is object[] instead of object.

[2020-09-13 09:24] Wraith2 commented on #42132
It does. You should probably consider introducing abstractions in your codebase to avoid such things causing agility limitations.

[2020-09-13 09:45] GSPP commented on #40942
Would it be in the cards to contribute to ICU so that this operation is not by-design slow? I imagine that many projects relying on ICU would like a fast `IndexOf` that does require caching a searcher object.

[2020-09-13 10:26] MichaelLogutov commented on #42132
Well, it's not that simple when you have large code base and product 20 developers.

Can I see the source code or at least changelog of what been changed in 4.8.2?

[2020-09-13 10:36] devsko commented on #42132
Maybe these help
[https://github.com/microsoft/dotnet/tree/master/releases](https://github.com/microsoft/dotnet/tree/master/releases)
[https://referencesource.microsoft.com/#System.Data](https://referencesource.microsoft.com/#System.Data)

[2020-09-13 10:40] stephentoub commented on #42173
With what operation? There are already Socket.Send/Receive overloads that work with spans.

[2020-09-13 11:51] EgorBo opened #42178 "RyuJIT: inst_RV_RV_TT doesn't check if constants already exists in the data section"
To track the issue noticed in https://github.com/dotnet/runtime/pull/42164/
[code]
### Current codegen:
[code]
^ 10.0 constant is duplicated several times in the data section

### Expected codegen (single constant in the data section):
[code]

there is a some sort of cache logic for such constants in `genSSE2BitwiseOp` but only for two hard-coded values.

PS: ideally 10.0 constant should be loaded

[2020-09-13 11:53] yukozh commented on #42173
@stephentoub Which .net core version I have to use? I did not see that in .NET Core 3.1

[2020-09-13 12:01] svick commented on #42173
@yukozh [`Socket.Send(ReadOnlySpan<byte>)`](https://apisof.net/catalog/System.Net.Sockets.Socket.Send(ReadOnlySpan%3CByte%3E)) and [`Socket.Receive(Span<byte>)`](https://apisof.net/catalog/System.Net.Sockets.Socket.Receive(Span%3CByte%3E)) were added in .Net Core 2.1.

[2020-09-13 12:49] yukozh commented on #42173
@svick But SendAsync & ReceiveAsync does not support that. So how to use these methods for async usage?

[2020-09-13 12:53] stephentoub commented on #42173
Spans can't be on the heap, so you can't use them with async methods. There are overloads of SendAsync/ReceiveAsync that work with `Memory<T>` instead.

[2020-09-13 13:01] benaadams commented on #41418
Would put reflection setters of private members also in that category?

[2020-09-13 13:14] am11 commented on #42178
Would it be always profitable to load data in a register once, in all cases where a method has two or more usage of a constant?

[2020-09-13 13:25] msschl opened #42179 "HttpClient headers are empty in blazor wasm"
### Description

Blazor wasm client gets served from `https://localhost:5001`.
The api gets served from `https://localhost:5002`.

Startup.cs from ASP.Net Core server:
[code]

HttpClient configuration in blazor wasm client:
[code]

![image](https://user-images.githubusercontent.com/5054780/93019011-9af76d80-f5d4-11ea-93fe-1f357c4b6f6f.png)

Although there are response headers present, the headers

[2020-09-13 13:47] yukozh commented on #42173
How to build high performance apps using the sync methods? Will it block the threads?

[2020-09-13 13:51] stephentoub commented on #42173
You can build high-performance apps using either the sync or async methods. But the sync APIs do block threads, so if you want to build a highly-scalable app, you should use the async methods when performing networking operations.

[2020-09-13 14:12] GeorgeAlexandria commented on #40712
After replacing memory and testing within a several days crashes didn't reproduce anymore. So currently I will close the issue, but if it will raise again in a future – will reopen issue or create a new one.

[2020-09-13 14:12] #40712 closed

[2020-09-13 14:22] yukozh commented on #42173
Thanks

[2020-09-13 14:22] #42173 closed

[2020-09-13 14:40] jkotas commented on #41418
Yes, both private reflection setters and getters are in this category. This issue is specific to MemoryMarshal and friends. The platform as a whole has a lot more unsafe or partially unsafe APIs.

[2020-09-13 16:12] Joelius300 commented on #41313
I'm guessing this list is complete and there won't be any other features added to the serializer until after .NET 5.0 is released, is that correct?

[2020-09-13 16:58] layomia commented on #41313
@Joelius300 yes, this list is complete. No other features will be added until after .NET 5.0 is released.

[2020-09-13 17:38] layomia commented on #42167
This behavior is understood. Please see https://github.com/dotnet/runtime/issues/38982 and https://github.com/dotnet/runtime/issues/40072. Will close as dup.

TL;DR (from https://github.com/dotnet/runtime/issues/38982#issuecomment-656491611)

Triage (from https://github.com/dotnet/runtime/issues/40072#issuecomment-670646253)

[2020-09-13 17:38] #42167 closed

[2020-09-13 17:44] stephentoub commented on #40072
We might want to consider additional mitigations, such as a global MRU cache. The issue as it stands today is pretty bad.

[2020-09-13 17:55] john-h-k commented on #39587
Personally I think `CanIgnore` or `IsFatal` would be clearer than `IsTerminating`

[2020-09-13 18:01] layomia commented on #42163
Can you share some real-world scenario where this behavior is useful? If you already have existing instances, is the idea that you are using the deserializer to "hydrate"/set additional properties on the instances? Besides performance, what is the implication of getting new instances over using existing ones?

[2020-09-13 18:04] ericstj opened #42183 "Should all non-sealed classes implementing IDisposable call GC.SuppressFinalize even if they don't define a finalizer?"
Continuing the discussion from here: https://github.com/dotnet/runtime/pull/41918#discussion_r487331771

@eerhardt pointed out that our IDisposable [docs](https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/implementing-dispose#the-dispose-method) indicate that we should call GC.SuppressFinalize even if we don't have a finalizer, so that derived classes don't need to call it.

For

[2020-09-13 18:05] ericstj commented on #42183
cc @dotnet/fxdc

[2020-09-13 18:08] layomia commented on #40072
Updated triage above with this comment. Tracking issue - https://github.com/dotnet/runtime/issues/35084.

[2020-09-13 19:23] BruceForstall opened #42184 "Almost 45000 warnings in coreclr Pri-1 test build"
Previously there were ~17 warnings. Now there are ~45000 warnings.

This is due to https://github.com/dotnet/runtime/pull/41947.

E.g., current warnings:

https://dev.azure.com/dnceng/public/_build/results?buildId=813140&view=logs&j=db768a9e-3325-5ce3-2d52-896c40bee68a&t=59112ad9-fe58-56ee-6943-84df6f0e3f8e

This noise makes it incredibly difficult to find actual problems (e.g., it slows down the

[2020-09-13 20:06] BreyerW commented on #42163
@layomia  Undo/Redo system based on deltas rather than whole serialized objects to reduce memory pressure and reduce wasted disk space when project gets saved.  Also it can be potentially used to allow future `PopulateObject` to work without replacing arrays when preserved reference is desired which is regular pain point of `Json.Net` if you ever come to implement this feature (although thats mere

[2020-09-13 20:39] EgorBo commented on #42178
Register allocation is hard :-)

[2020-09-13 22:30] jkotas commented on #42184
I do not see value in fixing vast majority of these warnings.

Properly fixing number of these warnings (e.g. deleting unused fields or changing readonly to const) would reduce test coverage and/or break the tests in number of situations.

The cosmetic warnings like "Declare types in namespaces" make sense for production libraries, but they do not make sense for simple test programs. Namespaces ju

[2020-09-13 23:19] sandreenko commented on #41652
Failed again in [JitStressRegs](https://dev.azure.com/dnceng/public/_build/results?buildId=813274&view=logs&j=46bca699-7dfe-5bc1-a939-9fdea7f52f93&t=902850b8-8e04-5022-4a8e-3169f1f5923e).

[2020-09-13 23:28] mjsabby opened #42185 "Adding support for fully managed name resolution APIs or as app-level toggle"
DNS resolution is something that is different between different distros and platforms that NET supports.

While most Linux distributions use /etc/resolv.conf, not all do (Android). And even when they do use /etc/resolv.conf they seem to have different capabilities. For example, [this Kubernetes issue](https://github.com/kubernetes/kubernetes/issues/56903) talks about a workaround that can be done

[2020-09-13 23:36] sandreenko commented on #42178
cc @CarolEidt

[2020-09-14 00:33] BruceForstall commented on #42184
As @trylek suggested, we need to suppress all these new warnings in the existing tests, either globally for existing tests only, and let new tests only see them and deal with them, or globally for all tests current and future..

[2020-09-14 01:18] layomia commented on #41943
@alfhv this is the method I'm referring to: https://docs.microsoft.com/dotnet/api/system.text.json.jsonserializer.serializeasync?view=net-5.0. You can find an example of how to use it here: https://docs.microsoft.com/dotnet/standard/serialization/system-text-json-how-to#how-to-write-net-objects-to-json-serialize.

The general pattern is

[code]

Most serialization scenarios can be handled with `Js

[2020-09-14 01:49] xiangzhai commented on #41782
Hi @tommcdon

Any suggestion?

Thanks,
Leslie Zhai

[2020-09-14 02:29] xiangzhai commented on #33294
Hi @ViktorHofer

But ArchLinux is still able to reproduce this issue.

Thanks,
Leslie Zhai

[2020-09-14 03:02] LEI-Hongfaan opened #42187 "[C++/CLI] Direct access of unmanaged thread_local variable from managed code causes unexpected NullReferenceException"
### Description
Consider the following code
[code]

**Expected behavior**
1. VC++ Compiler should warn about it if not supported. - Or -
2. VC++ Compiler should emit suitable metadata to identify thread_local fields and let the .NET runtime to deal with them. - Or -
3. VC++ Compiler should generate unmanaged stubs to manipulate thread_local fields for the managed code. - Or -
4. .NET jitter should

[2020-09-14 03:16] tommcdon commented on #41782
@davmason

[2020-09-14 03:17] tommcdon commented on #41652
@davmason

[2020-09-14 03:38] xiangzhai commented on #41926
Hi,

And there are lots of `error: redefinition of 'XXX' as different kind of symbol` issues.  Workaround [patch.txt](https://github.com/dotnet/runtime/files/5215993/patch.txt).

Thanks,
Leslie Zhai

[2020-09-14 04:10] jaredpar commented on #42184
This is not strictly the case that they come from the Roslyn compiler. Notice that the new warnings pretty much all have the `CA` prefix. That means they are coming from the .NET SDK analyzers. If they were coming from the compiler they would have the `CS` prefix. Possible I missed a few `CS` here but scrolling through seemed to be mostly `CA`.

@terrajobst FYI

Agree. These are mostly meant as wa

[2020-09-14 04:40] iSazonov commented on #40942
@tarekgh I made simple test for PowerShell string comparisons (in Russian locale).  I see a huge regression after 5.0-Preview.7 but it is still significant better than 3.1.6.

I hope .Net and PowerShell teams will discuss this and make more reliable tests.
/cc @SteveL-MSFT @daxian-dbw

| PowerShell version | Duration, sec | .Net version
|-|-|-|
| PowerShell-7.0.3 | 13.8 | 3.1.6
| PowerShell-7.1.0-

[2020-09-14 04:40] mavasani commented on #42184
Majority of the CA warnings should be disabled or IDE suggestions by default in the SDK analyzers. For example, "Declare types in namespaces" is just an IDE refactoring/suggestion and does not run on build by default (I verified it with latest .NET5 RC2 SDK daily build). Unless you are explicitly turning these CA warnings somehow, these should not be running on the build.

[2020-09-14 04:46] mavasani commented on #42184
I just took a quick glance at all the 45k+ warnings, and none of them are enabled as build warnings by default. You can see the default severities/enabled by default state for CA rules in .NET SDK analyzers over here: https://github.com/dotnet/roslyn-analyzers/blob/master/src/NetAnalyzers/Core/AnalyzerReleases.Shipped.md

[2020-09-14 04:49] jaredpar commented on #42184
Curious: is there a reason we don't use `/warnaserror` in this leg? Doing so would've caught this diagonstic regression at the point the new SDK was inserted rather than causing this follow up issue here.

The estimate of ~17 existing warnings here seems like it would be fairly easy to tackle.

[2020-09-14 04:50] mavasani commented on #42184
Yep, seems you are explicitly turning these rules as warnings in your repo, for example [CA1050: Declare types in namespaces](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1050?view=vs-2019) is escalated to a build warning in your repo ruleset here: https://github.com/dotnet/runtime/blob/dcbac854ca05fc0226cfd6ba3e0337e9d429d98e/eng/CodeAnalysis.ruleset#L41

[2020-09-14 04:51] mavasani commented on #42184
One thing that is likely is you previously enforced this ruleset only for production code, but something else is now passing this ruleset for test code? Tagging @stephentoub as well.

[2020-09-14 04:57] mavasani commented on #42184
The ruleset is set as CodeAnalysisRuleset in the props file here: https://github.com/dotnet/runtime/blob/23919a4b58d888b92f5192576febf47b06942b2c/eng/Analyzers.props#L3

and imported in the root Directory.Build.props file below: https://github.com/dotnet/runtime/blob/ad434fc578b33953c1fcf1123536ce61744bd46a/Directory.Build.props#L115

You should probably move the import to specific product directo

[2020-09-14 04:58] jaredpar commented on #42184
@mavasani do you have any idea why this just started showing up? Basically did compilers / analyzers change any of their logic here (I don't believe so)?

[2020-09-14 05:02] mavasani commented on #42184
I am not sure if something changed recently in the way the ruleset/imports got adjusted recently, but the way it is set up in the repo right now, it is by design to see these CA warnings in build. I know that @stephentoub promoted many CA rules in this ruleset as build warnings for the runtime repo, but I was under the assumption that it is only for production code. I also agree with @jaredpar tha

[2020-09-14 05:21] AaronRobinsonMSFT commented on #42172
I made a rushed decision here and introduced this issue. The 'fix' is to disable the tests for WASM as support doesn't exist to call back into managed from native code on WASM at present.

[2020-09-14 05:35] bartonjs commented on #42183
Yes, they _should_; it's the rules of the Basic Dispose Pattern :smile:.

[2020-09-14 05:36] iSazonov commented on #42011
You could start with Ubuntu LTS 18/20.

[2020-09-14 06:15] varunmankal commented on #41837
@Anipik  It worked. Thanks.

I am curious to know how to resolve the following error:

`./build.sh -release` - success
`./build-managed.sh -release --allConfigurations` - success
Now, when I execute the command: `./build-managed.sh -release --packages`, it results in following type of errors:( It returned multiple error which are similar to the below one)

`corefx/Tools/Packaging.targets(1150,5):

[2020-09-14 06:59] MichaelLogutov commented on #42132
Thanks. I can see the source now but I can't seems to see the changes in 4.8.2
https://github.com/microsoft/dotnet/tree/master/releases do not seems to have release notes for individual nuget packages like System.Data.SqlClient. Or I'm missing something?

[2020-09-14 07:07] am11 commented on #42185
+1, using OS APIs rather than resolv.conf will also help the container-like environments (Windows Containers, Docker, LXC, FreeBSD Jails and Solaris Zones), where resolv.conf may not be available or exactly reliable.

[2020-09-14 07:23] v-haren commented on #42172
failed again in job: [runtime 20200913.23 ](https://dev.azure.com/dnceng/public/_build/results?buildId=813420&view=ms.vss-test-web.build-test-results-tab&runId=25883982&resultId=100002&paneView=debug)

failed test: Interop/UnmanagedCallersOnly/UnmanagedCallersOnlyTest/UnmanagedCallersOnlyTest.sh

Mono Browser wasm Release @ Ubuntu.1804.Amd64.Open

Error message
[code]

[2020-09-14 07:23] tmds commented on #42127
@danfma this is beyond .NET control. `git` doesn't read the password from standard in, instead it opens up a terminal to prompt for the password. Maybe you find some inspiration here: https://stackoverflow.com/questions/31218599/supplying-a-password-to-git-in-a-bash-script.

[2020-09-14 07:32] v-haren commented on #39669
failed again in job: [runtime-coreclr jitstressregs 20200913.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=813274&view=ms.vss-test-web.build-test-results-tab&runId=25881168&resultId=100079&paneView=debug)

failed test: profiler/eventpipe/eventpipe/eventpipe.sh

CoreCLR OSX x64 Checked jitstressregs8 @ OSX.1013.Amd64.Open

Error message
[code]

[2020-09-14 07:59] #42172 closed

[2020-09-14 08:07] krwq commented on #2042
Fixed with https://github.com/dotnet/docs/pull/20366

[2020-09-14 08:07] #2042 closed

[2020-09-14 08:07] krwq commented on #33283
Fixed with https://github.com/dotnet/docs/pull/20366

[2020-09-14 08:07] #33283 closed

[2020-09-14 08:34] krwq commented on #41596
@Youssef1313 is the doc fix ok here as a solution? can the issue be closed?

[2020-09-14 08:36] #41596 closed

[2020-09-14 08:38] krwq commented on #13655
I'm in favor of just updating documentation but not changing the implementation to throw at this point (I feel like the ship has already sailed), any objections?

[2020-09-14 09:12] nohwnd commented on #42017
@ViktorHofer The only reason to specify it would be forcing x86 on AnyCPU assemblies on a 64-bit system. Can't think of anything else.

Tagged the wrong Jakub I guess :)

[2020-09-14 09:44] Wraith2 commented on #42132
It's part of the framework so it doesn't get it's own update schedule. You probably want to review all the pull requests which targeted files in that project.

[2020-09-14 09:47] eiriktsarpalis commented on #42000
@safern assuming your cherry picked changes have resolved the issue. I'm going to close this.

[2020-09-14 09:47] #42000 closed

[2020-09-14 10:01] jmarolf commented on #42184
I agree with @mavasani. This seems to be the intentional design for the runtime repo. You have config files that are overriding the defaults and are asking that these warning be shown. If this is not what the runtime team wants then you should stop overriding the default behavior.

[2020-09-14 10:05] nuzolx commented on #42108
The filewatchers initialization:

[code]
And here we have, the "process" part for each event triggered by the filewatcher:
[code]

I tried to avoid any real process on triggered file system events, so I push the file path in the memoryCache and later I send it to a ServiceBus queue for processing the file by any consumer.

[2020-09-14 10:10] GrowSharp commented on #38611
@tarekgh Yes, on Windows it's domain joined machine.

I think it's not necessary to investigate this any further. Our AD is a god damn mess. It's 12 years old system and our infrastructure guys don't really want to help me investigate what's going on in there. They have a plan to upgrade to newer AD system, but I have no idea when. Until then I will simply run this service on a Windows. It's still

[2020-09-14 10:13] GrowSharp commented on #38610
As I said [here](https://github.com/dotnet/runtime/issues/38611#issuecomment-691957453). I think that the problem will be on our side, in our messy 12 years old AD system. I think we can close this one also.

Thank you very much for trying to help me everyone!

[2020-09-14 10:34] danfma commented on #42127
Thank you, man! I will give a look! I have tried to spawn the terminal instead of the git directly, but it didn't work as well!

[2020-09-14 10:45] RussKie opened #42196 "error MSB4044: The "CopyRefAssembly" task was not given a value for the required parameter "SourcePath""
### Description

I'm trying to get Windows Forms master to work with VS 16.8, I bumped the tools and the SDK versions from `5.0.100-preview.6.20310.4` to `5.0.100-rc.1.20454.5` (inspired by https://github.com/dotnet/runtime/pull/41947):

Commit: https://github.com/dotnet/winforms/commit/4a5a4e9fc08f6021a784d5f054d5cd5dbff4fa18

[code]

and the build fails:
[code]

[2020-09-14 10:45] RussKie opened #42318 "error MSB4044: The "CopyRefAssembly" task was not given a value for the required parameter "SourcePath""
### Description

I'm trying to get Windows Forms master to work with VS 16.8, I bumped the tools and the SDK versions from `5.0.100-preview.6.20310.4` to `5.0.100-rc.1.20454.5` (inspired by https://github.com/dotnet/runtime/pull/41947):

Commit: https://github.com/dotnet/winforms/commit/4a5a4e9fc08f6021a784d5f054d5cd5dbff4fa18

[code]

and the build fails:
[code]

[2020-09-14 10:54] eiriktsarpalis commented on #42127
Sounds like we can close this. Thanks @tmds

[2020-09-14 10:54] #42127 closed

[2020-09-14 10:57] armandjnbg commented on #42035
Thanks,

Your solution is applicable in my case, but my case is a bit more complex because RouteOptions include inner RouteOptions.
Plus RootOptions themself reside inside of another configuration element RouteMap. So it a tree-like structure in the config. So I don't have a section name for reading each of that RouteOption representation in the configuration.

        public class RouteOptions
	{

[2020-09-14 11:10] ManickaP opened #42198 "Cancellation of Socket.ConnectAsync intermitently hangs"
**When `Socket.ConnectAsync` is cancelled it might lead to a deadlock.**

The cancellation code for [`MultipleConnectAsync`](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Sockets/src/System/Net/Sockets/MultipleConnectAsync.cs#L320-L320) tries to acquire a lock which is held by the `connectAsync` continuation (triggered by [`DoDnsCallback`](https://github.com/dotnet/runtime

[2020-09-14 11:15] marek-safar commented on #42179
/cc @kjpou1

[2020-09-14 11:42] ManickaP opened #42200 "HTTP/2 stress server intermitently fails in duplex scenarios"
When sending custom content in H/2 and using simple [echo server](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Http/tests/StressTests/HttpStress/StressServer.cs#L244-L248). Then client [disposes the response](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Http/tests/StressTests/HttpStress/ClientOperations.cs#L354-L364) which might send `RESET` befo

[2020-09-14 12:06] MichaelLogutov commented on #42132
I couldn't find the source code in github for System.Data.SqlClient. I saw only System.Data.Common

[2020-09-14 12:12] MatthewLymer commented on #1388
I'm having the same issue with our plugin system, a plugin may reference `XmlSerializer` and we can't load it into a collectable assembly context.

Is there an env-var or something that instructs `XmlSerializer` to behave better in these scenarios, FWIW the `System.Text.Json.JsonSerializer` works great!

[2020-09-14 12:35] devsko commented on #42132
AFAIK **System**.Data.SqlClient is not open sourced but source open at [https://referencesource.microsoft.com/#System.Data](https://referencesource.microsoft.com/#System.Data) as mentioned above.

[2020-09-14 12:44] tmds commented on #34872
Docs updated in https://github.com/dotnet/dotnet-api-docs/pull/4493. This may be closed.

[2020-09-14 12:56] vitek-karas commented on #39587
The proposal sounds good.

Do we know how mono/Xamarin behave in this area today? That is - is the `IsTerminating` also always true?

[2020-09-14 13:00] stephentoub commented on #42184
I'm back from leave today and will take a look.

Just from this thread, my guess as to what happened is that, previously the code analysis ruleset was configured for all managed code in the repo, but then we only set EnableAnalyzers to true within src\libraries and then only for src projects.  When the SDK was updated, it likely flipped this to be true everywhere.

The intent was that rule set sho

[2020-09-14 13:06] janvorli commented on #39587
The proposal makes sense to me too.

[2020-09-14 13:14] Wraith2 commented on #42132
It absolutely was and was part of this repository. It was removed in favour of the Microsoft version as I said earlier. To see the code you'll have to look into the history prior to it's removal.

[2020-09-14 13:23] devsko commented on #42132
@Wraith2 Just curious. It was the same code for core / desktop? Where lives the **System**.Data.SqlClient desktop code now?

[2020-09-14 13:32] Wraith2 commented on #42132
The desktop version was distinct from the core version. This repo only contained the core version.
The code is still here but not current which I why I say you'll need to look through the repo history to look at it. You can look back at any file that has ever existed by reviewing the git history but because it isn't currently being build and shipped it's not visible in the current master.

The cod

[2020-09-14 13:36] devsko commented on #42132
Thanks.
I totally misunderstood this issue. After reading 4.6.1 and 4.8.2 I thought it is all about .NET Framework - but it isn't. Sorry for the confusion.

[2020-09-14 13:44] shoe-diamente commented on #30767
@ChrML I see, thanks.

[2020-09-14 14:26] cheenamalhotra commented on #42132
Tagging @saurabh500 @corivera for System.Data.SqlClient (.Net Framework)

[2020-09-14 14:34] cheenamalhotra commented on #42132
@MichaelLogutov

Could you please confirm if this issue occurs for SqlClient from .Net Framework or when referencing in a .Net Core Project? As it seems to me your application is ASP.NET Core but there are discussions for desktop version of SqlClient.. Just want to clarify to identify driver ownership.

[2020-09-14 14:37] krwq commented on #41952
@v-haren can you confirm this is a single instance or do you get consistent repro?

[2020-09-14 14:44] steveharter commented on #40386
I will try it on Blazor 5 preview 8 soon.

@szalapski OK thanks for clarifying on the download speed. Hopefully you will see a large improvement on Blazor 5.

@tareqimbasher are you running on Blazor 5?

As discussed in https://github.com/dotnet/runtime/discussions/40318, due to current Blazor architecture, there is an expected perf hit that has a wide range depending on the exact scenarios, but ~

[2020-09-14 14:45] cheenamalhotra commented on #42132
One seemingly related change that went in S.D.S. 4.8.2 (for .Net Core) is https://github.com/dotnet/corefx/pull/42937 which fixes a high security issue of data corruption.

Could you also elaborate more about Cassandra driver's role in your application and how 4.8.1 version causes failures?

Is it possible to run some tests without Cassandra driver in picture to really focus on SqlClient behaviour

[2020-09-14 14:54] CarolEidt commented on #42178
This one's not really a register allocation issue, but rather a CSE issue. The register allocator does some opportunistic reuse of constants, but won't put something in a register if `Lowering` has marked it contained, which it will do if it is possible to do so.

[2020-09-14 14:58] tannergooding commented on #42178
The same issue also exists for vector constants. We emit them, but there is no deduplication and so if you have two occurrences of `Vector128.Create(1, 2, 3, 4)`, you will get 2x identical 16-byte constants emitted.

[2020-09-14 15:58] resc0059 commented on #42041
Thank you so much! That worked, really appreciate your help!

We are able to call functions in the nuget package now. We'll also make the changes you suggested.

I have a follow up question regarding loading context from dlls. We are running into another error which appears to be what you are referring to.

On functions inside our library file, quantum.dll, we are able to use "GetMethod" on the "R

[2020-09-14 16:12] danmosemsft commented on #37318
@wfurt for comment above

[2020-09-14 16:21] Mrnikbobjeff commented on #37039
For the GetLastError heuristic some things are not clear to me. How would one arrive at a list of methods calling setlasterror. I thought about how other languages might approach this, as I had already written a Java bytecode analyzer which finds method calls inside of a function. Build the list up transitively and one would know which methods call SetLastError. As this is not viable in ASM and Se

[2020-09-14 16:28] AndyAyersMS commented on #41741
For the remainder of perf loss I suspect time may be going into one of the unmapped stubs?

Per dotnet/coreclr#26897 I am going to build perf so I look at annotations on jitted code.

[2020-09-14 16:31] ericstj commented on #42093
Changing an int to a string is a breaking change, whereas adding a value to an enum is a non-breaking change.  We have plenty of cases in .NETFramework and .NETCore where we added values to enums in new versions and customers needed those enums to round-trip between clients on different framework versions.

It would have to be opt-in if such an option existed.  You may be able to implement such be

[2020-09-14 16:34] mangod9 commented on #40712
Thanks for the follow up.

[2020-09-14 16:34] tarekgh commented on #40942
@iSazonov are you running on Linux or Windows? On Windows it is expected you see some regression with the Linguistic scenarios because switching to use ICU there. As mentioned before you still have the option to switch back to use NLS if needed. We have addressed all ordinal scenarios though. Also, there were a lot of work going on during these previews but at least we still significantly faster t

[2020-09-14 16:41] ericstj commented on #42183
I wonder if we could have an analyzer validate this pattern.

[2020-09-14 16:44] tarekgh commented on #38611
closing per @GrowSharp comment.

[2020-09-14 16:44] #38611 closed

[2020-09-14 16:48] iSazonov commented on #40942
@tarekgh It was Windows only test.

[2020-09-14 16:49] bartonjs commented on #42183
[CA1816](https://github.com/dotnet/roslyn-analyzers/blob/6dea9b867e32607bc02f958efe46d4b2d1220e45/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/Runtime/CallGCSuppressFinalizeCorrectly.cs) seems to check that there is a SuppressFinalize call in `Dispose()`, but it doesn't seem to necessarily enforce it's a perfect implementation of the Basic Dispose Pattern (that is, that it's after the call to

[2020-09-14 16:50] lewing commented on #42207
cc @CoffeeFlux

[2020-09-14 16:56] tarekgh commented on #40942
I am surprised now this is faster than 3.1 then. are you sure of your results? could you send me a couple of string cases you used in the comparison using the Russian culture?

[2020-09-14 16:59] tannergooding commented on #42156
I believe `ValueTuple` is also the pattern that will produce better codegen with the changes @CarolEidt has been working on to allow multiple returns from a single instruction.

[2020-09-14 17:00] tannergooding commented on #41650
I've marked this up-for-grabs, feel free to submit a PR fixing the message returned for this path.

[2020-09-14 17:03] tannergooding commented on #41495
I'm generally happy to take perf PRs, provided all tests pass and numbers look good (both local and those on the perf lab hardware).

[2020-09-14 17:06] tannergooding commented on #40912
I'm generally fine with exposing a new `Pow(decimal)` API. Even if it is overly precise/slow, you can still round to a desired number of digits afterwards to Eric Lippert's concerns into consideration.

However, it needs to follow the template given under https://github.com/dotnet/runtime/issues/new?assignees=&labels=api-suggestion&template=02_api_proposal.md before I can mark it as an `api-sugges

[2020-09-14 17:09] CoffeeFlux commented on #42207
I assume this is the result of our bundle check being very early in the loading algorithm, so if the assembly isn't loaded in the custom ALC it tries the load it in via the bundle before checking the default context. The solution is probably to just move the bundle check later in the process, after we've checked the default ALC.

This is worth backporting, so I'll have a fix up ASAP. I'll add a te

[2020-09-14 17:10] Anipik commented on #41837
ASFAIK, When we build the stable packages, we run this target https://github.com/dotnet/corefx/blob/release/2.1/src/packages.builds#L41

Which adds the inboxOn Entry to the packageIndex.json

[2020-09-14 17:10] #41837 closed

[2020-09-14 17:10] BruceForstall commented on #42187
@LEI-Hongfaan What versions of VC++ and .NET are you using?

[2020-09-14 17:11] BruceForstall commented on #42187
@dotnet/jit-contrib Anyone familiar with the intersection of VC++ /clr, thread local variables, and JIT?

[2020-09-14 17:12] jkotas commented on #42183
What is a breaking potential of adding the SuppressFinalize calls to existing types that never had it before? It will regress performance a bit for sure, but I believe it can also introduce functional breaks or memory leaks.

[2020-09-14 17:12] tannergooding commented on #40897
I'm going to leave this as an `api-suggestion` for now as there isn't a lot of demand and there are some initial concerns about drawbacks of exposing it.

Wikipedia explains one of the known caveats: https://en.wikipedia.org/wiki/Complex_logarithm#Logarithms_to_other_bases which would need to be addressed as part of the API design (that is, the proposal should call out the behavior, etc and use ot

[2020-09-14 17:14] tannergooding commented on #40253
This looks to be the same issue as https://github.com/dotnet/runtime/issues/39925#issuecomment-664622513, and a binding redirect is missing. CC. @ericstj

[2020-09-14 17:15] tannergooding commented on #39971
@john-h-k, could you elaborate on the behavior on hardware that doesn't support a reciprocal estimate or what the allowed error would be?

[2020-09-14 17:16] jeffhandley commented on #41354
This was resolved for 6.0.0 (master) with #41760.  We will not port any of this into the 5.0 branches since no public API surface area was affected.

[2020-09-14 17:16] #41354 closed

[2020-09-14 17:19] tannergooding commented on #39943
This hasn't failed in any recent runs.

[2020-09-14 17:19] jez9999 commented on #42093
That's a purely subjective judgment.  There could well be an API that is unable to continue if it's passed an enum value that it doesn't understand.

[2020-09-14 17:19] tannergooding commented on #41108
Doesn't appear to be disabled.

[2020-09-14 17:23] tannergooding commented on #39119
I don't think the 2ns difference is a concern here. We can always revisit in the future if someone reports an issue on larger workloads.

[2020-09-14 17:23] #39119 closed

[2020-09-14 17:28] AaronRobinsonMSFT commented on #37039
@Mrnikbobjeff Unfortunately there isn't. Any Win32 API could call another Win32 API that call `SetLastError()` - this means even if a function doesn't call it directly it can be called. One could argue that any Win32 API that returns a non-error code (i.e. `BOOL` or handle type) is implicitly going to call `SetLastError()` in order to provide more detailed information.

The TL;DR of the hand-wavy

[2020-09-14 17:39] #41250 closed

[2020-09-14 17:57] ViktorHofer commented on #1097
arm32 library test runs are still disabled against this issue: https://github.com/dotnet/runtime/blob/5092e107acc5e9895a35d0cb17b9a25f15f46a63/eng/pipelines/runtime.yml#L945. Is that intentional? cc @safern

[2020-09-14 17:58] danmosemsft commented on #41823
What build is in use here? Is this a regression in 5.0 or not new?

@tarekgh

[2020-09-14 17:58] ericstj commented on #42093
As I said before `NET leaves it to the application to validate enums`.  My statement around breaking is around the binary compatibility contract.  I'm not disagreeing that this "may be breaking", but int->string is always breaking whereas adding a value to an enum alone is not breaking. It is whatever policy the application has around that enum that determines whether or not its breaking.    I'm n

[2020-09-14 18:05] ericstj commented on #40527
I couldn't find an issue for adding `icudt.dat` into the template.  It sounds like @safern is saying this is important for 5.0 and related to this issue he has opened.  @EgorBo can you provide an update on that?

[2020-09-14 18:08] ericstj commented on #31348
@GrabYourPitchforks what was your thought with moving this back to 5.0.0?  Were you planning to make a code change or just update the docs?

[2020-09-14 18:09] tarekgh commented on #41823
I don't think this is a regression. and I think this is by design too.

You are trying to parse `01-Jan-0001` which is the minimum DateTime value we can support. If your local time zone has positive offset of UTC, then we need to convert the parsed date to your local time. That will make the date go before min Date/time we can support.
We don't support time before the Min DateTime values.in other

[2020-09-14 18:13] pranavkm commented on #40527
@safern could you try this again with the the RC1 SDK that's out? We have tests and CTI verification for trying this out on different operating systems, and we haven't seen this issue reported recently.

[2020-09-14 18:17] ManickaP opened #42211 "Http Stress Status Report"
# Http Stress Status Report

## What we've run so far:

| OS      | HTTP 1.1                  | HTTP 2.0                    | Notes                                                |
|---------|---------------------------|-----------------------------|------------------------------------------------------|
| Windows | 4+ h (Mana) -> 2 errors   | 12 h (JJ) -> 11 errors      |

[2020-09-14 18:18] tarekgh commented on #41823
Forgot to mention, you can workaround the issue by passing `DateTimeStyles.AssumeUniversal`.

I am closing the issue, but feel free to respond back with any question or concern. Thanks for reporting it.

[2020-09-14 18:18] #41823 closed

[2020-09-14 18:19] ericstj commented on #42144
@dotnet/ncl does the sample code above look correct for `useDefaultCredentials` behavior on a `SocketsMessageHandler`?

[2020-09-14 18:20] geoffkizer commented on #42198
In AttemptConnection, when ConnectAsync completes synchronously, we are calling InternalConnectCallback directly. This is bad since the caller of AttemptConnection should be holding the lock here.

We should instead return to the caller and do the call to InternalConnectCallback outside the lock.

Additionally, we should add asserts wherever we take the lock, but especially in the callbacks like I

[2020-09-14 18:21] BruceForstall commented on #1097
The comment should be removed; we've removed almost all Windows arm32 testing: https://github.com/dotnet/runtime/pull/39655

[2020-09-14 18:23] ViktorHofer commented on #1097
So we don't test arm32 libraries anywhere at all anymore?

[2020-09-14 18:28] ericstj commented on #42142
Ping @dotnet/ncl @karelz

[2020-09-14 18:30] jkotas commented on #42187
This is related to `CORINFO_HELP_GETSTATICFIELDADDR_TLS` JIT helper: https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/coreclr/src/inc/jithelpers.h#L179

It looks like this helper was not brought back as part of the adding managed C++ support back.

[2020-09-14 18:33] layomia commented on #42093
We could add an option to validate enum values, possibly on `JsonSerializerOptions` e.g. a boolean `JsonSerializerOptions.ValidateEnumValues`. Tbd whether it makes sense to have a a way to do it per property/declaring type.

Should this validation only be done on deserialization? I'd expect callers to validate enum values before passing them to the serializer.

A work-around available now that all

[2020-09-14 18:33] karlra commented on #1419
Now that 5.0 is marked as RC, what is the status of this? The RC post asked for critical bugs and this is one is pretty serious in my opinion.

[2020-09-14 18:38] iSazonov commented on #40942
I measured _PowerShell_ not .Net - I mean perhaps there were other optimizations in PowerShell and .Net that could affect the result.
We could use PerfView to investigate in depth.

Sample string from my tests:
[code]
The second test line only differs in seconds.

[2020-09-14 18:39] layomia commented on #42093
Related: there's an open issue to perform this validation at the `Enum.(Try)Parse` level which this feature could utilize. cc @joperezr

[2020-09-14 18:40] layomia commented on #35900
Although this issue is older, I'll close it as a dup of https://github.com/dotnet/runtime/issues/42093 which has more discussion.

[2020-09-14 18:40] #35900 closed

[2020-09-14 18:42] GrabYourPitchforks commented on #42183
I'll continue to voice the contrarian view I've held for ages. :)

IMO the dispose pattern (`this.Dispose(true); GC.SuppressFinalize(this);`) shouldn't be recommended for new code. The purpose of this pattern is to support the scenario where type authors are holding raw handles to unmanaged resources, which honestly vanishingly few people should be doing nowadays. The overwhelmingly more common ca

[2020-09-14 18:42] layomia commented on #42093
From @jasonycw in https://github.com/dotnet/runtime/issues/35900:

[2020-09-14 18:42] pgovind commented on #36149
Just adding some notes here: The range `/xD7 - /xD8` is `215 - 216` in terms of `int`s. `char.ToLower(/xD7)` is `/xD7` i.e. `215`. `char.ToLower(/xD8)` is however `248`. So, we end up adding the range `215-248` in the 2nd case, which is why we can match `/xF7` (which has the int value `247`)

[2020-09-14 18:43] jkotas commented on #39587
I think so. @lambdageek Do you have any concerns about 1. from https://github.com/dotnet/runtime/issues/39587#issuecomment-691514918 from the Mono side?

[2020-09-14 18:43] BruceForstall commented on #1097
Specifically Windows arm32; Linux arm32 testing should be everywhere.

I don't know about the libraries. For coreclr, I think we still do builds (but not test runs) in CI, and test runs only in the "runtime-coreclr outerloop" pipeline (but none of the many stress pipelines).

[2020-09-14 18:44] GrabYourPitchforks commented on #31348
@ericstj This is a doc-only change. The 3.x / 5.x code is correct.

[2020-09-14 18:44] BruceForstall commented on #42187
@jkotas, is this a .NET 5 issue?

[2020-09-14 18:47] steveharter commented on #29937
The first release in 3.0 was considered a minimum viable product and getting polymorphism in correctly wasn't feasible. Polymorphic serialization is easy -- we already do it when type == typeof(object) -- but adding the metadata for deserialization needs to be done right where it uses "known types" and not the raw CLR string (for security). This feature didn't fit into the 5.0 release either.

Pol

[2020-09-14 18:47] jkotas commented on #42187
.NET 3.1 shipped with this bug. It is not a .NET 3.1 -> 5.0 regression.

We should either fix in both 3.1 and 5.0 or neither.

[2020-09-14 18:48] eerhardt commented on #42037
/backport to release/5.0-rc2

[2020-09-14 18:48] jeffhandley commented on #40360
Breaking change document issue filed at https://github.com/dotnet/docs/issues/20635

[2020-09-14 18:49] BruceForstall commented on #42187
Marking as 6.0 for now.

[2020-09-14 18:54] safern commented on #1097
For libraries I believe we agreed to no longer test against arm32. We think that the chances of finding an arm32 bug on libraries tests is very low, however JIT does need to do testing so we scaled that testing to outerloop pipeline.

[2020-09-14 18:54] ericstj commented on #41767
This is happening because on publish the SDK references a newer version of Microsoft.NETCore.App which has a higher file version of System.ComponentModel.Composition.  That version ("4.6.26614.1") wins over the version in this NuGet package ("4.6.26515.06").  This is only a problem in .NETCore 2.0 because at that time we had a `System.ComponentModel.Composition.dll` in the framework which only inc

[2020-09-14 18:54] #41767 closed

[2020-09-14 18:57] eerhardt commented on #42037
/backport to release/5.0-rc2

[2020-09-14 18:58] steveharter commented on #37794
Changing area to interop-Mono. Please add a "reflection.emit-Mono" area if desired.

[2020-09-14 19:01] GrabYourPitchforks commented on #40942
@GSPP I don't think we have extensively studied what contributions we can make here. Regardless, ICU and NLS have different operational philosophies when it comes to this, and ICU's consumers are absolutely used to caching the search object. The canonical scenario for linguistic searching in ICU is for a UI-based application. You open a browser window or word document, enter your search term, then

[2020-09-14 19:01] ericstj commented on #41018
System.ComponentModel.Composition is supported on .NETCore 3.1.  Are you sure you are targeting `netcoreapp3.1` and not something else (or perhaps you manually selected the wrong DLL rather than referencing the package)?

It looks to me like your application copied
`system.componentmodel.composition\4.5.0\lib\netstandard2.0\System.ComponentModel.Composition.dll`
instead of
`system.componentmodel.c

[2020-09-14 19:03] hayashida-katsutoshi opened #42232 "StreamReader.Read does not throw any exceptions when TCP/IP connection lost on Linux"
# StreamReader.Read does not throw any exception when TCP/IP connection lost on Ubuntu 20.04.

# General

When you use System.Net.Sockets.TcpListener and StreamReader.Read, the Read method generates System.IO.IOException on Windows 10, when network disconnection occurs. The error message is "Unable to read data from the transport connection: A socket operation was attempted to an unreachable netwo

[2020-09-14 19:03] jianmingyong opened #42214 "Internal.Cryptography.CryptoThrowHelper+WindowsCryptographicException using AES cfb mode"
### Description

My client that is running my program seems to have issues with the brand new AES CFB feature that is only available in the daily preview builds. It seems like it is unable to initialize or set the feedback size of AES CFB mode and caused the application to crash.

### Configuration

Tested on:
.NET Target Runtime: .NET 5.0
.NET Core SDK: 5.0.100-rc.2.20462.9 (Daily builds)

OS: Wi

[2020-09-14 19:04] ericstj commented on #41018
Here's a sample that demonstrates this works.
[mefSample.zip](https://github.com/dotnet/runtime/files/5220437/mefSample.zip)

Please reactivate and provide a repro if you need further help.

[2020-09-14 19:04] #41018 closed

[2020-09-14 19:06] msedi commented on #42183
@GrabYourPitchforks: What do you think about unregistering events? What is the suggested pattern here? If an object with registered event handlers gets disposed should the class itself unregister by setting the events to null, or should the one the registered the event also unregister it?

[2020-09-14 19:07] vcsjones commented on #42214
My understanding of CFB on Windows is that it isn't supported in CNG until Windows 8. There was some discussion on that here: https://github.com/dotnet/runtime/pull/38211#issuecomment-672047161.

It probably makes sense to improve the exception for this though.

[2020-09-14 19:10] cston commented on #35336
Closing since we are not accepting feature contributions to System.Linq.Expressions.

[2020-09-14 19:10] #35336 closed

[2020-09-14 19:12] #41990 closed

[2020-09-14 19:20] tarekgh commented on #40942
@GrabYourPitchforks @GSPP just to let you know, I am looking at the linguistic IndexOf scenario and experimenting some changes that may help in the perf (around internally caching some ICU objects too). no promise yet as I am still in the middle of looking at that.

Also, we are following up with Windows team as they are trying to do some perf enhancement on ICU too. It is another win situation.

[2020-09-14 19:26] GrabYourPitchforks commented on #42183
You'll see some discrepancies on that across the Framework. UI stacks in particular often have their own mechanisms for registering and deregistering.

As a rule of thumb, I'd recommend that the component responsible for registering the event also be responsible for unregistering the event. If I instantiate some object _Foo_, then I call `Blah.SomeEvent += foo.EventHandler;`, then I am also respon

[2020-09-14 19:49] vitek-karas commented on #42041
Since there's no callstack it's hard to validate for sure, but if the line above throws NullRef it would mean that CT is null. That in turn would mean the the DA assembly does not define the type "quantum.HGates". I don't know the details to be able to tell if that is right or wrong.

In any case, using Assembly.LoadFrom will not work correctly. LoadFrom always loads into the default load context

[2020-09-14 19:51] steveharter commented on #42093
STJ matches both CLR and Newtonsoft semantics, so in those respects, STJ has the desired default semantics.

Also, as a work-around, an enum value could be verified in the setter:
[code]

This also prevents the enum value from being incorrectly set by managed code.

[2020-09-14 19:55] steveharter commented on #28046
Closing this. Please re-open if we have a repro.

[2020-09-14 19:55] #28046 closed

[2020-09-14 19:56] tranpl commented on #38117
Getting this same error using .NET 5 SDK 5.0.100-rc.1
Tried to create a cascading dropdown for three dropdown.
`
                                        <Select TValue="int" @bind-SelectedValue="SelectedTierOne">
                                            <SelectItem Value="0">Select tier one..</SelectItem>
                                            @foreach (var tierOne in TierOne)

[2020-09-14 19:57] eerhardt commented on #42037
Re-opening for the backport to 5.0.

[2020-09-14 19:59] tarekgh commented on #40942
@iSazonov I tried your scenario (using .NET without PS) and I am seeing the similar results as you have reported it. This is very interesting. I am going to look more on the details to understand what is going on.

[2020-09-14 20:06] agocke commented on #42046
This should be improved in .NET 5 where we do not expand files to temporary directories and instead load the assemblies from memory.

At the moment we don't have plans to backport any changes around this to 3.1 due to risk.

[2020-09-14 20:07] #42046 closed

[2020-09-14 20:08] agocke commented on #41421
Dup of https://github.com/dotnet/runtime/issues/41609, should be fixed

[2020-09-14 20:08] agocke commented on #41816
Dup of https://github.com/dotnet/runtime/issues/41609, should be fixed

[2020-09-14 20:35] SteveSyfuhs opened #42217 "TcpClient ConnectAsync timeout when using Wireshark to observe traffic over VPN connection"
### Description

Might be environmental, but can't figure out what is special here aside from the remote target is on the other side of VPN. I can repro this with just a single call to `ConnectAsync(addr, port)`. I can share a more specific scenario and wireshark log offline.

[code]

1. Start Wireshark
2. Launch above code
3. Observe error: `System.Net.Internals.SocketExceptionFactory.ExtendedSoc

[2020-09-14 20:36] resc0059 commented on #42041
That did the trick, thanks again!

[2020-09-14 21:10] tannergooding commented on #36160
So we have the [SIMDHandlesCache](https://github.com/dotnet/runtime/blob/master/src/coreclr/src/jit/compiler.h#L7883) which is set based on matching the name of the generic type: https://github.com/dotnet/runtime/blob/master/src/coreclr/src/jit/simd.cpp#L325-L330.

However, we then map that later based on just the `simdBaseType`:
* https://github.com/dotnet/runtime/blob/master/src/coreclr/src/jit/

[2020-09-14 21:27] svick commented on #42109
A similar proposal, looking at this from a different point of view: `Stream.ReadAll` https://github.com/dotnet/runtime/issues/16598.

[2020-09-14 21:30] radical commented on #42145
I tried with VS 16.7.3, created a new Blazor server project, and this is what I get:

![Screen Shot 2020-09-14 at 5 27 45 PM](https://user-images.githubusercontent.com/1472/93139993-b4211c80-f6af-11ea-837f-339114d99985.png)

Can you share a simple project that reproduces this issue?

[2020-09-14 21:39] eerhardt commented on #41778
Looking at history test results for this test:

https://dataexplorer.azure.com/clusters/engsrvprod/databases/engineeringdata?query=H4sIAAAAAAAAA21RTU/DMAy991dYO4HUv7DD0JjUSWPAJnHOErNlTZ3KcYBK/Hicdh8XcojtPNvv2VnHQ6p+oed4RiuwjofG1fBiOqxhFzNbtfuh1/sp+6DQTgwLOqhh5cmn0+i+ZcxYitR/5dgji8fS9xw9QevJzT0RMjxUoGePSd4x5SBpjO/8G5RTVJYJra96PiK3jWA36bpGK/ZILgwX4ucvJGmKnAUfc6dBmrQX7MdiLz4SjBPYds/GFmCDKZlj8ZaZTcko5

[2020-09-14 21:39] #41778 closed

[2020-09-14 21:43] tarekgh commented on #40942
I have collected the ETW benchmark data and now I am seeing the logical results. I am seeing 3.1 is faster (as expected). dotnet benchmark somehow is reporting wrong numbers or there is something causing noises there. here is the ETW data:

## 3.1 ##

[code]

## 5.0 ##

[code]

And here is the results (which I believe is wrongly reported from dotnet benchmark) from exact same test.

## DefaultJob

[2020-09-14 21:51] BrennanConroy commented on #42222
6.0 😄

[2020-09-14 21:51] yowl opened #42223 "GC brick alignment question"
I'm working on an issue (https://github.com/dotnet/corert/issues/8317 in the WebAssembly backend (a 32 bit target using conservative garbage collection with alignment (i32 - 4, i64 - 8) requirements for CoreRT (https://github.com/dotnet/corert) and I have a question about the code in `gc.cpp` `gc_heap::find_first_object`  .  About 40 lines in there is
[code]
Is it valid for `o` to _not_ be 4 byte

[2020-09-14 21:53] apayero commented on #40912
I will appreciate your help about it, because this is my first report for an Issue.

best regards @tannergooding

[2020-09-14 21:53] stephentoub commented on #33805
The fixer would manufacture it.  Essentially this:
[code]
would become
[code]
or something along those lines.

That said, a better approach might instead be to just add an API like https://github.com/dotnet/runtime/issues/27723, as I expect that represents the 99% case for this pattern, and then a fixer here could offer to just switch to use that API if it's available.

[2020-09-14 22:02] JamesNK commented on #42219
I think the issue here is every 2 minutes a new handler will be created, which means requests on the new handler will need to:
* Open new sockets
* Start TCP connection
* TLS handshakes
* HTTP2 negotiation (if using HTTP2)

There will be a brief period of high latency as the new handler and its connections are established.

Does a 2 minute start time make sense with `SocketsHttpHandler`? Is there

[2020-09-14 22:09] agocke commented on #41421
My mistake, didn't notice this was on arm32, not ARM64.

[2020-09-14 22:14] #42115 closed

[2020-09-14 22:20] SteveSyfuhs commented on #42217
Slightly more specific repro for Microsoft folk. Code effectively calls the repro above `client.ConnectAsync(...)`.

1. Connect to VPN
2. `dotnet tool install bruce -g`
3. `bruce.exe`
4. Start Wireshark listening on VPN connection
5. `bruce> kinit`
6. Enter password
7. Observe timeout (`TCP Connect failed`)
8. Stop Wireshark
9. Retry from (4) without wireshark
10. Observe non-timeout response

You

[2020-09-14 22:39] danmosemsft commented on #1097
I think it was @jkotas observation - I believe it, but it is not impossible and it feels odd to offer first class support without ever running libraries tests, even once a cycle. I am not going to push on this if consensus is it's not necessary/feasible. Do we get coverage from dotnet/iot repo?

[2020-09-14 22:43] danmosemsft opened #42225 "Hang in System.Net.Sockets.Tests.DualModeAccept.AcceptV4BoundToAnyV4_Success on macOS"
net5.0-OSX-Debug-x64-CoreCLR_release-OSX.1014.Amd64.Open
https://dev.azure.com/dnceng/public/_build/results?buildId=814475&view=ms.vss-test-web.build-test-results-tab&runId=25921516&resultId=180849&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab
[code]
from https://github.com/dotnet/runtime/pull/42213

No dump, so this is unactionable -- another one waiting for our upd

[2020-09-14 22:48] danmosemsft commented on #42024
Hit again in https://github.com/dotnet/runtime/pull/42014

[2020-09-14 22:55] vcsjones commented on #42214
@bartonjs

I did a little more digging on this; I think Windows 7 does support CFB. You just can't change the feedback size to anything other than 1.

`BCRYPT_CHAIN_MODE_CFB` appears in the Windows 7 SDK headers; however `BCRYPT_MESSAGE_BLOCK_LENGTH` to change the feedback size doesn't appear until Windows 8.

[2020-09-14 22:55] poizan42 commented on #42217
Might be relevant for reproduction to know whether you are using WinPcap or Npcap.

[2020-09-14 22:58] halter73 commented on #42219
I think DNS changes are the main reason for not making the default unlimited. From the SetHandlerLifetime doc comments:

"Some handlers also keep connections open indefinitely which can prevent the handler from reacting to DNS changes. The value of <paramref name="handlerLifetime"/> should be chosen with an understanding of the application's requirement to respond to changes in the network environ

[2020-09-14 22:59] SteveSyfuhs commented on #42217
Capture driver is npcap.

[2020-09-14 23:00] stephentoub commented on #42219
The handler itself is going to close out connections by default after two minutes of inactivity on a given connection. That setting can be changed on the handler, as can a lifetime for a connection, e.g. such that the connection won't be reused after X period of time (which defaults to infinite).

[2020-09-14 23:10] danmosemsft commented on #42108
Similar? https://github.com/dotnet/runtime/issues/40412 (but that is x64 not ARM64)

[2020-09-14 23:12] jkotas commented on #1097
I have made this comment in the context of doing arm32 tests for every PR.

I agree that we should have a once a day or once a week test runs of the full matrix for everything we ship as officially supported.

[2020-09-14 23:12] danmosemsft commented on #42108
@nuzolx is it feasible to try with 5.0? We probably didn't change relevant library code, but it's conceivable it's runtime related.

Also, I see this is ARM64. Do you use x64 - is it possible to say whether it happens with that?

Is it possible to run with pageheap enabled (https://github.com/dotnet/runtime/issues/40412#issuecomment-673559880) .. this will be very slow, so would have to be in a te

[2020-09-14 23:12] Maoni0 commented on #42223
it's definitely not valid if the object is not 4-byte aligned on 32-bit.

`brick_address (prev_brick) + brick_entry - 1)`

should point to the beginning of an object which means it should be 4-byte aligned. if not it means there's a heap corruption.

[2020-09-14 23:14] yowl commented on #42223
Great, thanks will close

[2020-09-14 23:14] #42223 closed

[2020-09-14 23:45] bartonjs commented on #42214
Interesting.  I merely noticed a lack of the BCRYPT_MESSAGE_BLOCK_LENGTH support and assumed they were the same thing.

I guess we could add an "if != 1" to the property set (and tests will tell us if it's a bad idea to depend on it being initialized to 1, or 8, depending on if that one was bytes or bits).  Dunno if it'd make the cut for 5.0 at this point (@danmosemsft / @jeffhandley improving Win

[2020-09-14 23:47] andreimilto opened #42229 "HKDF: Expand and DeriveKey throw invalid exceptions when outputLength is negative"
Methods `Expand` and `DeriveKey` of the `System.Security.Cryptography.HKDF` class throw invalid exceptions when the argument `outputLength` has negative value.

<br>

In this example `Expand` throws `ArgumentOutOfRangeException` with the message `Output keying material length can be at most 8160 bytes (255 * hash length).`:
[code]
Instead the exception message should say that `outputLength` can't

[2020-09-14 23:47] andreimilto opened #42230 "HKDF: inconsistency regarding output key material of zero length"
There's an inconsistency in the way methods of the `System.Security.Cryptography.HKDF` class treat a request to derive an output key material (OKM) of zero length: one method throws and the other three methods work ok.
Example:
[code]

Instead there should be a clear policy on whether a request to derive an OKM of zero length is considered valid or not:
- if valid, all four methods should work (i.

[2020-09-14 23:52] jkotas opened #42231 "Disable Windows arm32 builds for release/5.0"
We have announced that Windows arm32 is not going to be supported in https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0-supported-os.md and we have turned off testing for Windows ARM32 in .NET 5.

Actual result: Windows arm32 builds are listed at https://github.com/dotnet/installer/  and https://dotnet.microsoft.com/download/dotnet/5.0

Expected result: Windows arm32 builds are *not*

[2020-09-15 00:04] danmosemsft commented on #1097
@jaredpar thoughts about this? we should have no tests on Windows ARM32, and occasional but regular runs (that include regular library unit tests) on Linux ARM32.

[2020-09-15 00:39] normj opened #42233 ".NET 5 RC1 breaks with "Address family not supported by protocol" in AWS Lambda but not in preview 8 and earlier"
### Description

I apologize for not having all of the data yet but given the closeness to the GA release I wanted to get the conversation started as soon as possible. I'll add more information as I continue my research.

AWS Lambda, which is the serverless offering at AWS, allows users to deploy Lambda functions as a self contained publish bundle for .NET developers. It has been possible to use .

[2020-09-15 00:46] GrabYourPitchforks commented on #36149
`U+00D7` is a symbol (see https://www.fileformat.info/info/unicode/char/00d7/index.htm), so it doesn't have an associated case.

You'll occasionally see symbols and other non-alpha characters sitting in the middle of character blocks. You'll also see some ranges where the uppercase and lowercase variants aren't separated by 32. For example, **Ģ** (`U+0122`) is the uppercase form of **ģ** (`U+0123`

[2020-09-15 00:53] GrabYourPitchforks commented on #36149
BTW, here are the two resources I use for getting information on Unicode code points.

https://unicode.org/cldr/utility/character.jsp is the authoritative source. It also has click-through navigation, so you can ask for things like "show me all code points which, when uppercased, convert to the code point I'm looking at right now." To use it, either paste the character itself into the text box at

[2020-09-15 01:03] 333fred opened #42234 ".NET 5 RC1 breaks string CompareTo"
### Description

Run this code:

[code]

On .NET 5 P7 and .NET 472, it prints -1. On .NET 5 RC1, it prints 1. This is preventing Roslyn from updating to a new version.

### Configuration

.NET 5 RC1

### Regression?

From .NET 5 P7

I'm not entirely sure if this was a regression in P8 or RC1: the Roslyn move to P8 has been delayed by other issues we've been working through.

[2020-09-15 01:08] stephentoub commented on #36149
Yup

[2020-09-15 01:18] geoffkizer commented on #42233
Pretty sure this is fixed in RC2 by https://github.com/dotnet/runtime/pull/42075. Can you grab an RC2 build and confirm?

[2020-09-15 01:21] #41635 closed

[2020-09-15 01:26] jeromelaban commented on #1634
I have the same question, but for .NET 5. The PR is supposed to have been merged in master, but does not seem to have landed in rc1 that got released today. Is this something that will be available for rc2, or later maybe ? Thanks!

[2020-09-15 01:29] tarekgh commented on #42234
Marked with 5.0 to investigate.

[2020-09-15 01:36] geoffkizer commented on #41573
Closing since this was cut from 5.0.

[2020-09-15 01:36] #41573 closed

[2020-09-15 01:39] Gnbrkm41 commented on #42234
This seems related with the use of ICU. Configuring the runtime to use NLS fixes the issue:
[code]

[2020-09-15 01:40] GrabYourPitchforks commented on #42234
@333fred What's the OS version and language? en-US?

[2020-09-15 01:41] safern commented on #1097
I believe the reason why we stopped running tests was because win-arm32 is not a supported platform on .NET 5. https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0-supported-os.md

Actually, should stop building the win-arm32 runtime pack?

[2020-09-15 01:58] tarekgh commented on #42234
Yes I can see it with en-US. it is the behavior change between ICU and NLS. This is by design then. I am able to repro it with 3.1 on Linux.

My question to Roslyn, why they are not using ordinal comparison here? having Linguistic comparison will make the behavior under the mercy of the current culture behavior.

[2020-09-15 01:59] tarekgh commented on #42234
moving it out of 5.0 and I'll close it soon if there is no strong push back.

[2020-09-15 02:04] tarekgh commented on #42234
One more note, returning 1 make more sense to me too.

[2020-09-15 02:10] 333fred commented on #42234
We were using the default behavior of `string.Compare`. It's very concerning to me that we're accepting a breaking change on the behavior of `string.Format` with entirely ascii text, this seems like a massive breaking change.

Are you implying that it should have done this on Linux in .NET Core 3.1? If so, that would very much surprise me, as I use Linux day-to-day and haven't noticed test breakag

[2020-09-15 02:14] tarekgh commented on #42234
Sorting behavior can change per OS and OS version especially when using different cultures. I am still wondering why didn't/don't use Ordinal especially you are talking about ASCII characters.

Yes. just run your repro code on Linux with 3.1 and you will see getting '1' and the result.

[2020-09-15 02:15] 333fred commented on #42234
Literally because this is test code, and we just did the simple thing of `CompareTo`. I can certainly update our code to call a `CompareTo` overload that uses ordinal comparison. But we currently don't.

[2020-09-15 02:16] tarekgh commented on #42234
ok, thanks for clarifying. Could you please check Linux case and update us before I close the issue?

[2020-09-15 02:20] Turnerj opened #42237 "Custom struct not ignored during serialization when default"
### Description

In a [test project of mine](https://github.com/Turnerj/SchemaNet_SystemTextJson/blob/master/SchemaNet_SystemTextJson/Program.cs) in my [ongoing effort to convert from Newtonsoft.Json to System.Text.Json](https://github.com/RehanSaeed/Schema.NET/pull/100), I found an issue relating to the handling of default values during serialization.

The test project has a class like the follow

[2020-09-15 02:24] 333fred commented on #42234
Apparently I have never run the tests affected by this bug on Linux, because I do get 1 in this case. While I'm still vaguely concerned that ascii sort is breaking with .NET 5, if you all have determined that you're willing to accept this then I'll shut up. Thanks.

[2020-09-15 02:28] tarekgh commented on #42234
We depend on the underlying OS/OS library behavior for sorting. We understand there is a breaking change in general but we decided to have it for the sake of the benefits of using ICU library on Windows too. We are providing a config switch to go back using NLS (as 3.1 did) but this doesn't mean Windows NLS can decide at anytime to change the behavior too. It is by design the sorting behavior can

[2020-09-15 02:28] #42234 closed

[2020-09-15 02:29] Symbai commented on #29937
If you dont support polymorphic (de)serialization then the number of scenarios are extremely small makes me wonder why doing all the afford of creating it then? Its like you build a calculator and tell us "Hey this is a super fast calculator you should use for your mathematical operations" and on usage it turns out the calculator supports subtract, add, divide but not multiply. And on request you

[2020-09-15 03:12] naricc commented on #41750
I've re-enabled the ones that were building, and struck them above:

https://github.com/dotnet/runtime/pull/42134

[2020-09-15 03:28] jkotas commented on #41684
The release branch is building with Roslyn pinned to one of the preview versions. https://github.com/dotnet/runtime/pull/42174 unpinned compiler in the master branch. Include this change in this port?

[2020-09-15 03:35] normj commented on #42233
That is great if already fixed. I have tried to with the nightly builds of RC2 but since I have to do a self-contained published I get the following errors:

[code]

Any suggestions on how to do self contained publishes using a nightly build?

[2020-09-15 03:38] Jozkee commented on #22168
@JeremyKuhne my understanding is that the only thing left to do here is re-enable the tests, is that correct?
And the same applies for https://github.com/dotnet/runtime/issues/22169 and https://github.com/dotnet/runtime/issues/22170.

[2020-09-15 03:44] v-haren commented on #32955
failed again in job: [runtime-libraries-coreclr outerloop 20200914.3 ](https://dev.azure.com/dnceng/public/_build/results?buildId=813913&view=ms.vss-test-web.build-test-results-tab&runId=25905762&resultId=103219&paneView=debug)

failed test:  System.IO.Tests.FileSystemWatcher_Multiple_Test.FileSystemWatcher_File_Delet_NotAffectEachOther

net5.0-OSX-Release-x64-CoreCLR_release-OSX.1014.Amd64.Open

[2020-09-15 03:56] richlander commented on #42233
Try this nuget.config -> https://github.com/dotnet/core/blob/master/samples/nuget.config

Same as the one @ https://github.com/dotnet/installer#build-status

[2020-09-15 03:58] GrabYourPitchforks commented on #42234
For reference, this behavior is discussed [here](https://docs.microsoft.com/en-us/windows/win32/intl/handling-sorting-in-your-applications#index-the-database) and [here](https://docs.microsoft.com/en-us/windows/win32/api/winnls/nf-winnls-getnlsversionex). The latter link has a reference to [Shawn's blog post](https://docs.microsoft.com/en-us/archive/blogs/shawnste/how-to-tell-if-the-collation-vers

[2020-09-15 04:06] safern commented on #40527
@pranavkm trying this out and I'll update this.

[2020-09-15 04:22] danmosemsft commented on #1097
We should note stop all Windows ARM32 activities so far as I can see.

[2020-09-15 04:26] normj commented on #42233
Whoops, should a look a little harder and I would have seen the nuget.config.

The good news is I did confirmed with `rc.2.20464.14` the issue is fixed and I was successfully able to run a self contained .NET 5 RC2 Lambda function. Thanks for getting back with me so quickly, just had a bit of freak out of .NET 5 going out with a breaking issue for us 😅

[2020-09-15 04:41] sjb-sjb commented on #36491
People have been struggling with this for at least 5 years now (see date of aspnet/DependencyInjection#456). The desired feature is the ability for the caller to avoid having transient services held in memory until the closing of a scope. I encountered this problem as part of a design in which scope beginning / ending corresponds to opening / closing a database file.

One of the constraints discus

[2020-09-15 04:54] JeremyKuhne commented on #22168
I believe so.

[2020-09-15 05:04] EvgenyPrikhodko opened #42241 "Run the application with a different time zone."
Run application in a different time zone
Problems:

1. There is no source code.
2. The project is large, written previously to rewrite using, for example, TimeZoneInfo great refactoring.
3. This is especially problematic when applications need to be run from a hosting provider (azure, amazone, etc.).
4. When the developer doesn't know the server timezone.

For example like this:
`dotnet myapp.dll

[2020-09-15 05:08] nuzolx commented on #42108
@danmosemsft « Also, I see this is ARM64 ». You say that about some stuff in the windbg loading section? I think this is misinterpreted. This program is publish only for win-x64 runtime (and self-contained option).

As you, I see the #40412 and the potential link.
We contacted support as you suggest. With their help we may have a re-production case today.
I this happens, I will try to upgrade, ena

[2020-09-15 05:15] #38610 closed

[2020-09-15 05:27] danmosemsft commented on #42108
I misread AMD64...an old term

[2020-09-15 05:34] #1505 closed

[2020-09-15 05:36] danmosemsft commented on #42233
@geoffkizer  just curious I thought #40745 added new api and a code change would have been required to be affected by that change?

@normj i guess we can close this? Thanks so much for reporting it!

[2020-09-15 05:39] danmosemsft commented on #42241
@tarekgh

[2020-09-15 05:45] svick commented on #1634
@jeromelaban AFAICT, [the fix is in RC1](https://github.com/dotnet/runtime/blob/v5.0.0-rc.1.20451.14/src/coreclr/src/gc/unix/gcenv.unix.cpp#L1000-L1010). If it's not working, something else is probably wrong.

[2020-09-15 05:48] geoffkizer commented on #42233
@danmosemsft Yeah, it's a little complicated...

This bug was introduced when we did the original System.Net.Connections work in https://github.com/dotnet/runtime/pull/39524. That was mostly reverted in #41648, but we kept some of the changes from #39524 to try to minimize code churn. Unfortunately, that included this bug.

When reviewing #42075, @stephentoub noticed the issue here and so we fixed

[2020-09-15 05:49] Gnbrkm41 commented on #42241
How hard is it to do `timedatectl set-timezone Africa/Casablanca` (*nix) or `Set-TimeZone -Id "Morocco Standard Time"` (Windows) before running the app, or what restricts you from doing that? Why do you want the OS Timezone to be different from the app's timezone? What about possible discrepancies between the app itself and dependencies of the app that acquire timezone / time data from other sourc

[2020-09-15 05:52] #41925 closed

[2020-09-15 06:00] Gnbrkm41 commented on #42233
Run the test in a docker container with `--sysctl net.ipv6.conf.all.disable_ipv6=1`? 😄

[2020-09-15 06:03] EvgenyPrikhodko commented on #42241
Not difficult. but in my version does not solve the problem, for example, I have other applications on the same server that may live in a different time zone

It is very simple, take an example, hosting does not always have access to the OS, or the server uses UTC, and the application should, for example, be in utc + 3.

What about possible discrepancies between the app itself and dependencies of

[2020-09-15 06:07] normj commented on #42233
@danmosemsft yes I'm good closing this now that it has been confirmed to be fixed in RC2.

[2020-09-15 06:07] #42233 closed

[2020-09-15 06:15] ViktorHofer commented on #41684
Our plan was to work on this post RTM before the first servicing release. Is there risk involved with keeping the existing pinned compiler? If yes, I could prepare a PR today to make this ready for RC2.

[2020-09-15 06:17] MichaelLogutov commented on #42132
The issue is on NETCore app running in Linux container.

[2020-09-15 06:20] EngRajabi commented on #42219
Exactly, I mean, is 2 minutes enough for all this work ??
Can't this time be considered much more, yes it is

[2020-09-15 06:25] MichaelLogutov commented on #42132
Well, Cassandra driver exception is from some background thread and seems does not impact application at all. Maybe it's just some kind of warning from the driver background processing. Since cassandra exception does not impacts my app I don't really have issue with that. It's just I thought it's strange - I only saw those kind exceptions after upgrading System.Data.SqlClient nuget package which a

[2020-09-15 06:28] FireCubeStudios commented on #38244
i want to try implementing this

[2020-09-15 06:37] kouvel commented on #1634
Yes it looks like this fix is in .NET 5 RC1, some small apps appear to be working as expected. @jeromelaban if you are seeing other issues with RC1 under snap, can you share a repro or stack trace?

For 3.1 the fix is pending approval after getting some confidence in the change with RC1 and to collect any other related issues.

[2020-09-15 06:39] asklar commented on #42029
@rainersigwald @AaronRobinsonMSFT could you guys please re-triage this? right now it's marked as needs more info and question which neither seems correct.

[2020-09-15 07:11] grokys commented on #34140
Please, please. It drives me crazy on a daily basis, that even if I implement my own collection implementing `INotifyCollectionChanged` I _cannot pass this information to `NotifyCollectionChangedEventArgs`_.

Even if `ObservableCollection` couldn't be changed to add this, at least there should be an additional API on `NotifyCollectionChangedEventArgs` which allows passing the old items with a `Res

[2020-09-15 07:16] danmosemsft commented on #42233
@geoffkizer  ah..

[2020-09-15 07:23] am11 commented on #42161
@agocke, this is a 3.1 to 5.0.0 regression. Should it be considered for backporting?

[2020-09-15 07:23] am11 commented on #42161
@agocke, @safern, this is clearly a 3.1 to 5.0.0 regression. Should it be considered for backporting?

[2020-09-15 07:40] danmosemsft commented on #38244
@FireCubeStudios  go for it!

[2020-09-15 07:57] richardhauer commented on #41969
We have the same issue, but with Azure AD B2C.

We have tried to hijack the `/authentication/login-callback` system, assuming the issue was something to do with the processing of the response, but that did not help.

We have seen the issue running under both IISExpress and Kestrel, but the issue seems to be easier to reproduce when running in Kestrel.  As with other comments, the issue is easier t

[2020-09-15 08:28] macrogreg opened #42244 "Reducing transitive dependency closure of System.Diagnostics.DiagnosticSource"
This is a question / suggestion / request about the current RC of **System.Diagnostics.DiagnosticSource**.

Auto-instrumentation scenarios require an in-proc agent / tracer to load `DiagnosticSource` dynamically while performing non-trivial logic to avoid potential versioning conflicts with assemblies referenced by the application being instrumented. The logic would be considerably simpler and mor

[2020-09-15 08:33] julienGrd commented on #40076
Is SHA256 will be included ? im stuck since preview 6 with this exception (im currently in RC1)
[code]

guys please tell me is not reported to .NET 6...

[2020-09-15 08:44] marek-safar commented on #40076
@julienGrd yes, it's supported but you wait for RC2

[2020-09-15 09:01] #42017 closed

[2020-09-15 09:09] kjpou1 commented on #42179
Is there anyway to get a full working example here?

[2020-09-15 09:11] patrickwensel commented on #41969
Same issue on 2 web assembly projects, i have to clear the saved login/password and type them in each time

[2020-09-15 09:14] andrii-litvinov commented on #33571
Seems like I am hitting the same issue. Builds get stuck once in a while on our build server and I have to ssh to the agent and kill the hanging process. Any workaround is available so far? Or should I try to collect the dump? If so, whom should I send it to?

[2020-09-15 09:20] kjpou1 commented on #42179
The reason I ask for a full example is that it looks like there is accessing over cors and https and there are restrictions on the headers that can be accessed.

Information taken from  [fetch-crossorigin]( https://javascript.info/fetch-crossorigin#response-headers)

For cross-origin request, by default JavaScript may only access so-called “simple” response headers:

- Cache-Control
- Content-Lang

[2020-09-15 09:23] kjpou1 commented on #42179
/cc @pranavkm

[2020-09-15 09:51] noahfalk commented on #42244
Sorry it is too late : ( At the runtime and BCL layers of the stack we are already winding down for the release. We can consider this for .NET 6. Also I believe some of those types are special-cased JIT intrinsics - copying the source to another assembly may cause significant performance regressions or outright failures because the JIT no longer recognizes the special casing applies.

[2020-09-15 10:35] msschl commented on #42179
Sure, here you are

[code]

Edit `launchSettings.json` in the server project:
[code]

Edit `Startup.cs` in the server project:
[code]

Edit `BlazorWasmHttpClient.Client.csproj` in the client project:
[code]

Edit `Program.cs` in the client project:
[code]

Add `WeatherClient.cs` typed client to the client project:
[code]

Edit `FetchData.razor` in the client project:
[code]

[2020-09-15 10:37] msschl commented on #42179
I'm running on 5.0 rc-1

[2020-09-15 11:00] krwq commented on #42230
Marking this initially as 5.0 since this shipped this release and it would be a breaking change to go from no throw -> throw.

I don't feel strongly opinionated if we should throw or not. This operation with length 0 doesn't make much sense. Can't think of scenario where it would make sense to want zero length key. Perhaps we should always throw? @bartonjs any thoughts?

[2020-09-15 11:08] devsko commented on #42237
Just a guess...
https://github.com/dotnet/runtime/blob/2182936365696952aca1ff9796c204db45604f6a/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoOfT.cs#L134-L141
`T` is your interface `IValues` and `default(T)` is `null` but your `value` isn't

[2020-09-15 11:11] andersson09 commented on #40076
@marek-safar  Any idea if the zip libraries will be supported? Currently unzipping a password protected zip gives the following exception. Looks like Rfc2898DeriveBytes is the issue:

 Unhandled exception rendering component: System.Security.Cryptography is not supported on Browser.
System.PlatformNotSupportedException: System.Security.Cryptography is not supported on Browser.
   at System.Securit

[2020-09-15 11:15] krwq commented on #42229
It's not blocking release but I think we should fix at least fix OverflowException to correctly throw ArgumentOutOfRangeException

[2020-09-15 11:31] tmds opened #42247 "unix: child process can cause parent hanging while getting Console.CursorTop/Left"
I'm investigating an issue where `dotnet test` hangs and prints out an escape sequence:
[code]
The `dotnet test` involves a test host process and an xunit child process. The issue happens because the child turns on echoing while the parent is reading the cursor position from standard in. The cursor position gets echoed, and the parent is blocked waiting for the input here:

https://github.com/dotn

[2020-09-15 11:33] scalablecory commented on #42154
@dotnet/ncl

[2020-09-15 11:35] scalablecory commented on #42154
@GrabYourPitchforks this class is not sealed, adding an interface is a breaking change no?

[2020-09-15 11:39] stephentoub commented on #42247
Does this repro in 3.1 or did we introduce it in 5.0?

[2020-09-15 11:42] macriluis commented on #40723
@marek-safar now with RC1 the TimeZone Info is wrong again

![BsAsRC1](https://user-images.githubusercontent.com/50157508/93206106-44eb0d00-f72f-11ea-8d1c-cbd3e24de098.jpg)

[2020-09-15 11:50] kjpou1 commented on #42179
But the above screen shot says you are running `sec-fetch-mode: cors` so headers may not be there.

[2020-09-15 12:01] tmds commented on #42247
This repros with 3.1.

[2020-09-15 12:02] msschl commented on #42179
Same for my provided sample app:

![image](https://user-images.githubusercontent.com/5054780/93207901-f0aa5200-f75b-11ea-9dbd-f27e05177d7a.png)

Is `sec-fetch-mode: cors` the default?

[2020-09-15 12:03] doyce opened #42257 "DataAnnotations Validation messages are incorrect in a trimmed app."
I'm using DataAnnotationsValidator in my Blazor Webassembly application together with ValidationMessage component. The validated property has a Required attribute applied with no custom validation message. In version 3.2, there was a default validation message appearing, saying that this field is required. After upgrading to .net 5 RC1, the default message was replaced by some kind of placeholder

[2020-09-15 12:18] kronic opened #42248 "Add generic override ConfiguredAsyncDisposable"
## Background and Motivation
[code]
## Proposed API
[code]
## Usage Examples
[code]
## Alternative Designs
No
## Risks
I do not know

[2020-09-15 12:23] stephentoub commented on #42248
What problem is this solving? What does this help? What is `ConfiguredAsyncDisposable<T>`?

[2020-09-15 12:24] marek-safar commented on #40723
@EgorBo any further thoughts on this?

[2020-09-15 12:26] marek-safar commented on #40076
@andersson09 Rfc2898DeriveBytes won't be supported on the browser in .NET 5

https://github.com/dotnet/runtime/blob/master/src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/Rfc2898DeriveBytes.cs#L14

[2020-09-15 12:28] DsAekb opened #42249 "JsonElement with Undefined kind"
[Here](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsonelement.writeto?view=netcore-3.1) it is said that JsonElement.WriteTo throws the InvalidOperationException when the ValueKind is Undefined.

My question is why it does that? How is Undefined value not valid for the serialization/deserialization?

This behaviour doesn't allow to use Undefined together with System.Text.Json even

[2020-09-15 12:36] TheAnachronism commented on #41969
I had the same issue on my web assembly project. The browser just instantly closes without further warning or errors. Took quite some time to find out which behavior was causing this.

[2020-09-15 12:41] kronic commented on #42248
@stephentoub
[code]

[2020-09-15 12:45] andersson09 commented on #40076
@marek-safar Thanks. Is there a plan for a fix for this? Does this mean it will be released end of 2021 for .net6 release or earlier within a .net 6 preview?

[2020-09-15 12:53] EgorBo commented on #40723
@marek-safar my guess the timezone blat file is missing (old template?)

[2020-09-15 13:17] lambdageek commented on #40738
Looks like a one-line fix near here

https://github.com/dotnet/runtime/blob/6ed3261974e493a54ec4a97ff281381960cf82fc/src/mono/mono/metadata/object.c#L7176

[2020-09-15 13:23] EgorBo commented on #32416
Ah, sure it was mono/mono specific, sorry for the delayed response.

[2020-09-15 13:23] #32416 closed

[2020-09-15 13:43] stephentoub commented on #42248
The proposed API won't help with that.

Either:
[code]
or
[code]

[2020-09-15 14:09] Turnerj commented on #42237
Great find @devsko ! That is really interesting - it really comes down to the combination of interface + struct that is causing grief.

[2020-09-15 14:10] kronic commented on #42248
@stephentoub
[code]

[2020-09-15 14:15] devsko opened #42250 "Local test run fails for target net461 with FileLoadException S.R.CS.Unsafe"
### Description
Running tests locally for target framework net461 fail when using `dotnet build /t:test` as well as in VS Test Explorer for projects that reference `System.Memory` and `System.Runtime.CompilerServices.Unsafe` like System.Collections.Immutable or System.Text.Json and others. I believe it started to fail with #41616

Example for `dotnet build /t:test` `System.Collections.Immutable.Te

[2020-09-15 14:23] stephentoub commented on #42248
Because the `await using` is being applied in your example to the `FileStream`, not to the `ConfiguredAsyncDisposable`.

[2020-09-15 14:26] am11 commented on #42237
Interesting that even with `DefaultIgnoreCondition = JsonIgnoreCondition.WhenWritingNull`, we get `"uri":nul,` with custom converter. I think this goes against what has been [documented](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.serialization.jsonignorecondition?view=net-5.0):

[2020-09-15 14:27] kronic commented on #42248
@stephentoub ok sample ReadXElement4Async is work?

[2020-09-15 14:32] stephentoub commented on #42248
Sort of... by using `var` that's the same as if you wrote:
[code]
as at that point you've just created a disposable wrapper that let's you get at the wrapped instance (in your proposal using an implicit cast).  But that's incredibly error prone, as it means:
[code]
and
[code]
end up having subtly different semantics.

It also only does what you want with the `var` when the instance is cast to a Fi

[2020-09-15 14:37] Turnerj commented on #42237
@am11 it is kinda a Catch-22, it is treated both as a reference type in one case and a value type in another but in either case, it isn't doing what I am expecting.

[2020-09-15 14:40] ironpython2001 commented on #30255
It seems this is a missing feature. Better to add this feature like newtonsoft.json

[2020-09-15 14:42] jkotas commented on #41684
This is a discussion for shiproom if there was not one.

I would more worried with the risk involved in updating the SDK and compiler. I would prefer to take it early when everyone is paying attention and problems are identified quickly, and not wait for the first servicing release. As I have said, it is a decision for the shiproom to make.

[2020-09-15 14:44] jkotas commented on #41684
I have added two more changes (https://github.com/dotnet/runtime/pull/42146 + https://github.com/dotnet/runtime/pull/42191) that need to be included in this.

[2020-09-15 14:54] jkotas commented on #42244
This does not appear to be the case:

[code]

`System.ReadOnlySpan<T>` lives in `System.Memory`.

[2020-09-15 15:02] kjpou1 commented on #42179
Looks like it is from the above.  Take a look here [Cross-origin resource sharing (CORS)](https://docs.microsoft.com/en-us/aspnet/core/blazor/call-web-api?view=aspnetcore-3.1#cross-origin-resource-sharing-cors)

[2020-09-15 15:03] lewing commented on #40076
@andersson09 it won't be fixed in net5.0 we are hoping to have a solution for net6.0

[2020-09-15 15:04] cmeyertons opened #42254 "Reconsider code paths where ICollection<T> is only used to access count for IReadonlyCollection<T>"
There are many places in the Linq / Collection code that leverage detecting if an `IEnumerable<T>` is an `ICollection<T>` to perform optimizations (e.g. presizing a new array, etc.)

[List.cs](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/Collections/Generic/List.cs)

Because `ICollection<T>` implements `IReadonlyCollection<T>`, `IReadonlyCollection<

[2020-09-15 15:15] mangod9 commented on #33571
Hi @andrii-litvinov, yeah a dump should be helpful. Please send it over to me. We have a theory so additional dumps would help confirm. Thx

[2020-09-15 15:16] stephentoub commented on #42254
It doesn't.

[2020-09-15 15:27] vcsjones commented on #42214
Okay, I'll open a PR regardless. It looks like CFB8 works for DES, AES, etc on Windows 7 when I re-enabled the tests.

[2020-09-15 15:29] msschl commented on #42179
Isn't Cors configured correctly? I'm sorry but I don't understand right now :disappointed_relieved:

[code]

[2020-09-15 15:31] volaru77 commented on #40076
Will there be any browser encryption support in .NET 5 at all (AES, RSA, etc)? Or at least a commitment to address crypto related regressions from .NET Core 3.1 to .NET 5 in .NET 6? Right now it's very difficult to decide what to do with browser projects that cannot be transitioned from .NET Core 3.1 to .NET 5 because of this situation; if they are a dead end that should be abandoned, or it is jus

[2020-09-15 15:36] safern commented on #42161
cc: @ericstj @danmosemsft

[2020-09-15 15:40] marek-safar commented on #40076
@volaru77 no encryption support in .NET 5. For future version please follow up on #40074

[2020-09-15 15:42] layomia commented on #30255
@ironpython2001 this feature is checked in and coming in .NET 5. You can try it in .NET 5 RC1 - https://devblogs.microsoft.com/dotnet/announcing-net-5-0-rc-1/.

[2020-09-15 15:43] EgorBo commented on #42254
If I recall correctly such suggestions to add (not to replace `ICollection`) fast paths for `IReadOnlyCollection` here and there were rejected several times because such casts to covariant interfaces were super slow, however these performance issues were as far as I know (cast caches, inlined checks) so maybe it worth checking if we can add them in some places?

[2020-09-15 15:43] 2m0nd commented on #31619
Maybe add two parameters of type JsonNamingPolicy, first use when write json and second use when reading json?
JsonStringEnumConverter(writeNamePolicy: new SnakeCaseNamingPolicy(), readNamePolicy: new CamelCaseNamingPolicy())

[2020-09-15 15:49] kjpou1 commented on #42179
I do not know if it is configured correctly or not but that is not the issue.

The WebAssembly implementation uses the Fetch api from the browser to implement the HttpClient so it conforms to the browser interface.  Also the same limitations that apply to browser javascript environment are also inherited in the implementation.

Right now the fetch api that was [linked to above](https://github.com/

[2020-09-15 15:50] GrabYourPitchforks commented on #42154
It's not a breaking compile-time change. It's potentially a breaking runtime change in that if somebody marked their subclassed type `[Serializable]` without also implementing `ISerializable` (which honestly would be very, very weird for an Exception to do), the serialized payload format would now change.

[2020-09-15 15:52] GrabYourPitchforks commented on #42154
Oh, derp, of course the base type already implements the interface. I'll update the proposal.

[2020-09-15 15:54] danmosemsft commented on #42161
Can someone investigate and understand the issue?

[2020-09-15 15:54] macriluis commented on #40723
The solution TTZ003 was created from scratch using Visual Studio 2019 16.8 Preview 3.

[2020-09-15 15:55] am11 commented on #42161
@danmosemsft, done and fixed by https://github.com/dotnet/runtime/pull/42176.

[2020-09-15 15:56] danmosemsft commented on #42254
@davidwrighton are these kinds of "optimistic checks for interfaces" indeed much cheaper now than in the past?

[2020-09-15 16:02] bartonjs commented on #42229
Zero doesn't really make sense, I'm fine with making it throw AOORE.

[2020-09-15 16:03] ericstj commented on #42161
So the breaking change was that `GetEntryAssembly().ManifestModule.Name` was returning the app name for single file in 3.x and starting in 5.0 it returns null.  System.Configuration.ConfigurationManager was just one consumer of this.  Why not undo the change to runtime that caused the regression?

[2020-09-15 16:03] Clockwork-Muse commented on #42241
[If you can use Docker, you can set the timezone for the container](https://serverfault.com/q/683605/87542).  However....

It's not going to help in your case (since you don't have the original source to modify), but generally the server/os/process timezone should be completely irrelevant.  You want some way for your application to retrieve/use an **entity** timezone - it figures out what timezone

[2020-09-15 16:05] ericstj commented on #42161
I believe the entry assembly physically exists on disk, right?

[2020-09-15 16:05] am11 commented on #42161
The breaking change was that it returns `<Unknow>` string. We have detected isSingleFile and special case it.

[2020-09-15 16:07] jkotas commented on #42161
No, the assembly does not physically exist on disk as .dll. The only file that physically exist on disk in true single-file mode is the unmanaged host. All managed assemblies are embedded as resources to it and loaded as in-memory loads.

[2020-09-15 16:07] EgorBo commented on #42254
cc @VSadov

[2020-09-15 16:08] jkotas commented on #42161
`<Unknown>` is the expected return value of this API for assemblies loaded from memory.

[2020-09-15 16:08] ericstj commented on #42161
I see, understood.  I can see why you want to do this, because most code that would follow after consuming a faked `GetEntryAssembly` will do the wrong thing.

I wonder if all these places need similar fixes: https://source.dot.net/#System.Private.CoreLib/Assembly.cs,0b58cbf47b813b13,references

[2020-09-15 16:10] am11 commented on #42161
True. I meant from the prespective of its usage in ConfigurationManager, it is a breaking change. Even with 3.1, the assembly name `<appname>.exe` exists on the disk, but not `<appname>.dll` in case of single file on Windows, but the underlying API returns `<appname>.dll` which is how it was working correctly before.

[2020-09-15 16:11] jkotas commented on #42161
`<appname>.dll` does exist on disk in the temp directory in 3.1.

[2020-09-15 16:12] antonfirsov commented on #42217
@SteveSyfuhs any chance you can try this with 5.0 RC1?

[2020-09-15 16:12] KalleOlaviNiemitalo commented on #42244
<https://github.com/dotnet/runtime/issues/429> looks similar.

[2020-09-15 16:13] bartonjs commented on #42249
A JsonElement with the Undefined ValueKind represents effectively uninitialized data (the only way to get one should be `default(JsonElement)`), and is logically equivalent to the value in ECMAScript when reading an unset property (`var data = obj["some property no one set"];`).  There's no representation of that concept in JSON, because if anything gets written down the value is no longer Undefin

[2020-09-15 16:17] cmeyertons commented on #42254
As I was!  Egg on my face for sure.  Apologies, i thought this would be a drop-in request.  Thanks for the quick replies

[2020-09-15 16:19] bartonjs commented on #42230
Apparently there are two of these, this one for zero and the other for negative... and I answered on the other.

I don't see any way where zero makes sense; we should throw AOORE for any length < 1.  (Yeah, we can make it be no-op/Array.Empty, but it's not providing value)

[2020-09-15 16:22] pranavkm commented on #42257
@eerhardt \ @layomia I tried this and it reproduces with a rc1+ or newer build. Publishing the app without trimming produces the right results. Additionally, I did not see issues reading resx files from the app (which isn't linked).

[2020-09-15 16:28] EgorBo commented on #42254
@danmosemsft a quick benchmark:
[code]
.NET Core 2.2:
[code]
.NET Core 3.0:
[code]
.NET 5.0:
[code]

[2020-09-15 16:31] wfurt commented on #42217
.NET really just relay on OS functions so this is interesting. with "Doesn't appear to be a regression"  I assume this fails also with 3.1?
We have seen _some_ odd behavior with VPN in the past - but not quite like this.

Can you please try same scenario when VPN is _not_ involved @SteveSyfuhs? Also I assume other applications do work? (like browser or "openssl s_client -connect IP:port)

Also any

[2020-09-15 16:34] TimLovellSmith commented on #14032
@pgolebiowski Thanks for coming back to the discussion. I would like to apologize for effectively forking the proposals even further, which is not the most effective way to collaborate. It was an impulsive move on my part. (I had the impression that the discussion had completely stalled due to there being too many open questions in the proposals too far, and just needed a more opinionated proposal

[2020-09-15 16:37] steveharter commented on #41604
Based on additional testing by @layomia by using a simple implementation of IndexOfQuoteOrAnyControlOrBackSlash, this is now considered an issue in the mono\wasm area and not STJ.

Async may be working because it allocates a lot less memory than the non-async version. The async mode starts with a 16K buffer an will re-use that for all JSON until there is a property value that is too large to fit i

[2020-09-15 16:43] ericstj commented on #42161
I tested a few of the cases I found in the link shared above and this is broken as well:
[code]

Works in 3.1, fails in 5.0.  Haven't gone through all.

[2020-09-15 16:43] KalleOlaviNiemitalo commented on #42056
Can you use directed rounding for this? Assuming `float f`:

* `f >= 1.6` ⇔ `f > 1.6` ⇔ `f > 0.15999999642372131f` ⇔ `f >= 0.16000001132488251f`
* `f <= 1.6` ⇔ `f < 1.6` ⇔ `f <= 0.15999999642372131f` ⇔ `f < 0.16000001132488251f`
* `f == 1.6` ⇔ `false`
* `f != 1.6` ⇔ `true`

[2020-09-15 16:44] VSadov commented on #42254
Covariant interfaces are not super slow now.

Cost can vary for both regular interface casts and for fancy ones. Regular interface cast is a linear search, but typically does not need to search far. Cached cast may need to deal with hash collisions, but typically just gets a cached value.

As a veeery rough estimate a fancy cast can be counted as a 2X of a regular interface cast.

In the past the

[2020-09-15 16:46] am11 commented on #42161
@ericstj, here is a quick search result of `ManifestModule` usage in the repo:

[code]

`Name` property is not used in many places.

[2020-09-15 16:46] eerhardt commented on #42257
You can disable this behavior by setting:

[code]

As a workaround for now.

@vitek-karas @MichalStrehovsky @marek-safar @joperezr @jeffhandley @ericstj  - thoughts on this? Should we exclude `System.ComponentModel.DataAnnotations` from `UseSystemResourceKeys` by default since a lot of its messages are not exception messages?

[2020-09-15 16:46] ManickaP opened #42259 "H2C connection to HTTP.sys causes infinite loop"
If `ProcessIncommingFrames` encounters an exception it tries to abort the HTTP 2 connection: https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs#L394, which will remove it from the connection pool. But if this happens synchronously from `SetupAsync`, the connection is not yet in the pool and will still get added: htt

[2020-09-15 16:47] Hubert-Rybak commented on #41816
Referenced issue is for ARM64, not ARM.
I tested latest RC2 bits (0de0eccfbb976f24bf4c472c3be20ad841e5f9b9 5.0.100-rc.2.20465.5) and I still have this error.

[2020-09-15 16:48] danmosemsft commented on #42254
Thanks @EgorBo that is indeed much faster.

[2020-09-15 16:55] eriawan commented on #38491
@maryamariyan
the PR that fixes this issue has been merged: #38513

Could we close this issue

[2020-09-15 16:55] SteveSyfuhs commented on #42217
Tried .NET 5 RC1. Same behavior.

Also tried without VPN. This *does* work.

The symptoms:

TcpClient Connect fails when
* Connecting to a target *over* VPN, and
* Wireshark is listening on the VPN interface

TcpClient Connect succeeds when
* Connecting to a target over VPN, and
* Wireshark is *not* listening on the VPN interface
OR
* Connecting to a target over any other interface, and
* Wireshar

[2020-09-15 16:59] cheenamalhotra commented on #42132
Hi @MichaelLogutov

From the stack trace it seems like your application is performing "Commit" on an "Aborted/Ended" transaction.
As the only change of behavior from the recent PR I linked above is to kill the physical connection to the database instead of sending it back to the pool when "Transaction Ended" event is captured by the driver. So I believe there's another thread/service that triggers

[2020-09-15 17:00] wfurt commented on #42219
That may depend on your particular situation @EngRajabi . Do you have environment when DNS rapidly changes - and old nodes are still up but refusing to serve content? If not, I think it would be quite safe to bump up various limits.
The other angle is how rapidly do you want to close (and possibly reopen connections). For some people this is critical because of SNAT or other front-end limitations.

[2020-09-15 17:06] am11 commented on #42161
This is different as it is about another API `CodeBase` deprecated in 5.0. The exception is:

[code]

Should we have a separate issue to track it?

[2020-09-15 17:07] SamuelEnglard commented on #14032
A thought to help move this faster, it may make sense to move this type to the "Community Collections" library being discussed in https://github.com/dotnet/runtime/discussions/42205

[2020-09-15 17:11] wfurt commented on #42217
I could look at the capture but I'm afraid we will not see much there. From the trace it looks like SYN is going out but the server does not answer. If you can, could you do packet capture on the server @SteveSyfuhs ? (or any node behind the VPN)
If you do not see the same SYN, that would probably point finger to the VPN client. Depending on how the VPN is implemented, it hooks to network stack at

[2020-09-15 17:13] masonwheeler commented on #14032
I agree that smallest priority first is best.  A priority queue is also useful in the development of turn-based gaming, and being able to have the priority be a monotonically-increasing counter of when each element gets its next turn is very helpful.

[2020-09-15 17:22] SteveSyfuhs commented on #42217
I'll see if I can capture a trace on the far side of the VPN, but that may take a while since its currently production traffic.

I did verify that the TCP socket call Windows makes when doing the equivalent command as the `Bruce kinit` call does succeed. However, that happens in LSA, so running as SYSTEM, so it doesn't entirely rule out firewall permission issues.

Telnet interestingly also reprod

[2020-09-15 17:23] wfurt commented on #42144
Can you try simple HttpClient without any pooling? Using `DefaultCredentials` should take identity off your aspnet app. You can can Wireshark and check if you see negotiations. Make sure NTLM is enabled since that is generally deprecated.

[2020-09-15 17:24] #41973 closed

[2020-09-15 17:26] provegard commented on #41351
Which ones? I didn't add any, as far as I know.

[2020-09-15 17:42] jeffhandley commented on #42257
Retaining the messages from `DataAnnotations` by default seems like a good idea to me.

[2020-09-15 17:45] echesakovMSFT commented on #33975
I can take a look at this

[2020-09-15 17:48] stephentoub commented on #42248
I don't think the API as proposed measurably improves things, and it has the cited problems with it, so I'm going to close this.  But thanks for the interest, and if you have other ideas for how to improve it, please open new issues. Thanks!

[2020-09-15 17:48] #42248 closed

[2020-09-15 17:48] ericstj commented on #42161
This isn't a deprecation.  Deprecation is design-time warning with no runtime behavior change.  This is a breaking change due to single-file changes.  Sure, it can be a new issue.  I'm more worried that this is a new issue.  That means there are multiple breaking changes to single-file that don't have good test coverage in libraries.  cc @jeffschwMSFT

[2020-09-15 17:49] agocke commented on #41816
Sorry, didn't realize this is ARM32, not ARM64

[2020-09-15 17:52] mlh758 opened #42264 "Incomplete Error Message in System.Data.Odbc"
### Description
This seems to be related to #24148 in that the fix was the change `DriverManagerEncoding` in `/Library/Vertica/ODBC/lib/vertica.ini` to UTF-16 from the default of UTF-32. However, I opened a new issue because I'm running this on MacOS and the error message when I run some code like this:

[code]

is just:

[code]

and the stack trace ends at the line for `Open()`. It's as if a larg

[2020-09-15 17:53] agocke commented on #41816
@vitek-karas @sbomer Could you see if this looks similar to ARM64? Let's see if we can find an ARM32 machine to validate on.

[2020-09-15 17:57] ericstj opened #42265 "IsolatedStorage doesn't work from Single-File application in 5.0"
### Description

Create an app using IsolatedStorage.  Publish as single file.

[code]

### Configuration

.NET 5.0
Single file publish
Tested on win-x64 but should be present everywhere.

### Regression?

Yes.  Worked in 3.1

Regressed by https://github.com/dotnet/runtime/pull/40974

Related https://github.com/dotnet/runtime/issues/42161

[2020-09-15 17:59] am11 commented on #42161
Agreed. We suppress the deprecation warning here: https://github.com/dotnet/runtime/blob/b19d7980c6a0e1f03312c8c2033fcbd13822378f/src/libraries/System.IO.IsolatedStorage/src/System/IO/IsolatedStorage/Helper.Win32Unix.cs#L57-L59

Maybe we can try to use the recommended `Assembly.Location` API there and handle `isSingleFile = Assembly.Location.Length ==0; if(isSingleFile) ..do not throw..`.

Single

[2020-09-15 17:59] wfurt commented on #42217
You can start with https://community.progress.com/s/article/How-to-run-a-NETSH-Trace but this is really not area of my expertize so I don't know what to look for.

As I mentioned we have seen some off behavior in the past and that may point to 3rd party application - unless you use built-in L2TP (or similar)

[2020-09-15 18:02] trylek commented on #40049
We should tackle this in context of Jeremy's PR

https://github.com/dotnet/runtime/pull/41897

which already contains special provisions regarding continued support for using VS for the runtime native projects.

[2020-09-15 18:05] agocke commented on #42161
I would agree with this. Our current inability to compile the unit tests and run them through single-file publish means our test coverage is very limited.

[2020-09-15 18:06] agocke commented on #42161
@am11 We have some limited API tests for running in single-file here: https://github.com/dotnet/runtime/blob/master/src/installer/tests/Assets/TestProjects/SingleFileApiTests/Program.cs

[2020-09-15 18:06] ViktorHofer commented on #41684
@jkotas do you think that #42184 is required? Sounds to me that we introduce tons of warnings in our build without any noticeable customer impact.

[2020-09-15 18:11] ericstj commented on #42161
Seems like this is a similar test problem that we've solved in the past for blazor / UWP / etc.  If single file presents itself in a way that runtime and libraries have significantly different behaviors we should test it like a new platform.

[2020-09-15 18:11] am11 commented on #42161
@agocke, thanks. Would it be out of scope of this test project, if we the ConfigurationManager and IsolatedStorage APIs tests in SingleFileApiTests (for now™️, until there is proper infra support for singlefile in src/libraries tests)?

[2020-09-15 18:14] agocke commented on #42161
@ericstj I suspect many of these APIs are similarly broken for blazor/UWP/.NET Native. I know CodeBase throws on .NET Native, so anything that uses it is certainly broken.

[2020-09-15 18:15] sbomer commented on #41816
The stack trace makes me think it is failing one of the alignment checks, like this one https://github.com/dotnet/runtime/blob/master/src/coreclr/src/utilcode/pedecoder.cpp#L268 - though I would have expected more failures on other platforms if that's the case.

[2020-09-15 18:18] imhameed opened #42266 "[mono] Tracking: Implement `System.Runtime.Intrinsics.Arm.AdvSimd`"
### System.Runtime.Intrinsics.Arm.AdvSimd:

- [x] IsSupported
- [x] Abs
- [x] AbsSaturate
- [x] AbsScalar
- [x] AbsoluteCompareGreaterThan
- [x] AbsoluteCompareGreaterThanOrEqual
- [x] AbsoluteCompareLessThan
- [x] AbsoluteCompareLessThanOrEqual
- [x] AbsoluteDifference
- [x] AbsoluteDifferenceAdd
- [x] AbsoluteDifferenceWideningLower
- [x] AbsoluteDifferenceWideningLowerAndAdd
- [x] AbsoluteDiffe

[2020-09-15 18:20] terrajobst commented on #42154
* Seems fine per our guidance
* We won't do this for all exception, but only for exceptions that exist in both .NET Framework and .NET Core
* Specifically, we won't do this for .NET Core-only exceptions
* And moving forward, we'll phase out `BinaryFormatter` anyways

[code]

[2020-09-15 18:26] timmydo commented on #39327
Related https://github.com/dotnet/runtime/issues/16923

[2020-09-15 18:27] ikopylov opened #42268 "Question: SpinWait normalization does not take into account the dynamic CPU frequency. Is this a problem?"
After migrating to .NET Core 3.1, I noticed that `Thread.SpinWait` latency increased due to the introduced SpinWait normalization (tested on pre-Skylake CPU). In my project, I tried to reproduce the same normalization behavior for the desktop framework, but got stuck with unstable results due to dynamic CPU frequency. The CPU decreases its frequency on idle, which results in an increase in SpinWai

[2020-09-15 18:35] lewing commented on #41969
If the browser is crashing edge/chromium should generate a crash dump under `C:\Users\<user>\AppData\Local\Microsoft\Edge\User Data\Crashpad\reports` (see https://www.chromium.org/developers/crash-reports)

This crash sounds like it is more related to credential saving than wasm but it difficult to know without more details.

[2020-09-15 18:36] lewing commented on #41969
cc @kg

[2020-09-15 18:37] ericstj commented on #42161
I was saying that folks solved the engineering problem to get testing running for those platforms. I think we could solve the same here if we think it’s important enough to not regress.

We actually did a lot of work to minimize the number of libraries that were broken on these platforms in the past.  Fixes similar to what @am11 did here.

Right now “certainly broken” is “certainly regressed from

[2020-09-15 18:38] AndyAyersMS commented on #41741
Haven't had any luck yet with locally built version of perf.

[2020-09-15 18:44] kg commented on #41969
Which browser(s) are behaving this way? Firefox? Chrome? Edge? Does it close if there are other tabs open?

[2020-09-15 18:48] patrickwensel commented on #41969
Chrome and Edge
________________________________
From: Katelyn Gadd <notifications@github.com>
Sent: Tuesday, September 15, 2020 9:44:25 PM
To: dotnet/runtime <runtime@noreply.github.com>
Cc: patrickwensel <pwensel@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [dotnet/runtime] Blazor webassembly successful authentication causes browser crash in VS 16.7.2 (when saving password) (#

[2020-09-15 18:58] wfurt commented on #37318
You can grab runtime bits [here](https://helixde107v0xdeko0k025g8.blob.core.windows.net/helix-job-2a0c64ae-960d-4ef9-a9a9-092d89ce4d6ba31b8c0819d4f9d84/test-runtime-netcoreapp-OSX-Release-x64.zip?sv=2019-07-07&se=2020-09-30T01%3A51%3A37Z&sr=c&sp=rl&sig=g1vzwdJYuFj3onla0hpP0TiJH6EfM9hTFvjlRrWX0G0%3D) . That is CI build from proposed change.  Depending how your app is structured, you can either use

[2020-09-15 18:58] imhameed opened #42273 "[mono] Tracking: Implement `System.Runtime.Intrinsics.Arm.Aes`"
### System.Runtime.Intrinsics.Arm.Aes:

- [x] IsSupported
- [x] Decrypt
- [x] Encrypt
- [x] InverseMixColumns
- [x] MixColumns
- [x] PolynomialMultiplyWideningLower
- [x] PolynomialMultiplyWideningUpper

### System.Runtime.Intrinsics.Arm.Aes.Arm64:

- [x] IsSupported

[2020-09-15 18:58] agocke commented on #42161
Agreed, I think finding a way to run at least some of the unit tests in a single-file publish is possible and valuable.

[2020-09-15 19:00] EgorBo commented on #42266
that is a lot of work 🙂

[2020-09-15 19:09] jkotas commented on #41684
The CI impact and .NET team engineer impact is very noticeable.

[2020-09-15 19:13] safern commented on #42161
With the infrastructure that we did to build against ref pack and publish mobile tests with live runtime pack, this should be very doable and we could just add new build legs.

[2020-09-15 19:14] lambdageek commented on #39587
Right now Mono always passes `IsTerminating = true`.

If I understand the proposal (1), we would pass `IsTerminating = false` for threads created by the runtime, and respect the `Ignore` property when the handlers return to the runtime - at which point the thread with the unhandled exception dies, but the runtime continues running.

I don't think this will be a problem for Mono.

---

From an embe

[2020-09-15 19:18] eerhardt commented on #42258
Since this is a proposal for adding API, is someone willing make the proposal in the format of the template linked in step 1 of https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md ?

[2020-09-15 19:27] danmosemsft commented on #42214
It would not make the 5.0 cut unless there was something like a major customer blocked from adoption by this - it sounds like we aren't aware of one.

We should be running tests on Win 7 -- was this just a case where we didn't have a test? Just wondering whether ther'es an issue with that CI leg.

[2020-09-15 19:29] intrepidis commented on #41351
Hi, actually I'm very new to using .Net Core, but I had the same error and it was because some auto-generated ".deps.json" files were missing from the 'bin' folder. Apparently they're needed for finding the dependencies.
http://stackoverflow.com/questions/46622113/ddg#46623098

[2020-09-15 19:35] vcsjones commented on #42214
The functionality and tests were written under the assumption that CFB did not work in Windows 7 at all. With some changes to the functionality, partial Windows 7 support is possible.

I don't believe there is an issue with the CI leg since I was [recently reminded it works][1].

[1]: https://github.com/dotnet/runtime/pull/42180#issuecomment-692057618

[2020-09-15 19:46] karelz commented on #37318
@singhharvir will you be able to validate by Friday 9/18?

[2020-09-15 20:11] JasonBock opened #42300 "TypeLoadException Using Covariant Return Types"
**Version Used**:
5.0.100-rc.1.20452.10

**Steps to Reproduce**:
The repo is here: https://github.com/JasonBock/WhatsNewInCSharp9. Specifically, run the `DemonstrateCovariantReturnTypes()` method. Note that everything compiles successfully.

**Expected Behavior**:
The project runs and prints the `Id` and `Name` values.

**Actual Behavior**:
When I run it, I get this:
[code]

[2020-09-15 20:20] davidwrighton commented on #42254
It is definitely faster than before, but there is still a non-zero cost to performance when making the suggested change.

I have a few possible concerns here.
1. What about customers that only implement `ICollection<T>` and not `IReadOnlyCollection<T>`?
2. If we mitigate concern #1 by having checks for both `ICollection<T>` and `IReadOnlyCollection<T>` how much of a penalty does making the LINQ fu

[2020-09-15 20:26] EgorBo commented on #42254
A good example is Linq's Count: https://github.com/dotnet/runtime/blob/master/src/libraries/System.Linq/src/System/Linq/Count.cs#L11-L46

`IReadOnlyCollection<T>` check used to apply a penalty for the O(N) foreach-based fallback (note other fast paths), but now it's just a few nanosec.
But of course it depends on how often users have IROC<T> there - I am not in charge to answer 🙂

[2020-09-15 20:29] eerhardt commented on #42257
I've opened a PR to fix this. https://github.com/dotnet/runtime/pull/42274

Anyone have thoughts on whether this meets the 5.0 bar or not?

[2020-09-15 20:32] pranavkm commented on #42257
Forms and validation is pretty essential to Blazor and our built-in Component uses DataAnnotations. It would be frustrating for developers to have to remember to modify their project file any time they use validation. I'd certainly ask.

[2020-09-15 20:33] macrogreg commented on #42244
Yes, @KalleOlaviNiemitalo , it does, indeed appear to be the same issue. Looks like it's not super new. Since then we have more scenarios that highlight the problem (auto-instrumentation), wished we realized it in time. :)

[2020-09-15 20:34] AndyAyersMS commented on #42254
There were also perf issues with limited numbers of "fast" dictionary slots (see #11971) that should now be (largely) mitigated by the dynamic dictionary expansion added in 5.0.

[2020-09-15 20:35] EgorBo commented on #42254
I found quite a few complains or attempts to optimize LINQ for IROC<T>:

https://github.com/dotnet/runtime/issues/28651 - LINQ results implicit support for IReadOnlyCollection<T>
https://github.com/dotnet/runtime/issues/27517 - Performance: Make constructor List<T>(IEnumerable<T> collection) know about IReadOnlyCollection
https://github.com/dotnet/runtime/issues/26679 - Linq ToDictionary() should

[2020-09-15 20:40] jkotas opened #42275 "Allow ignoring unhandled exceptions in UnhandledException event handler"
## Background and Motivation

Scenarios like designers or REPLs that host user provided code are not able to handle unhandled exceptions thrown by the user provided code. Unhandled exceptions on finalizer thread, threadpool threads or user created threads will take down the whole process. This is not desirable experience for these type of scenarios.

The discussion that lead to this proposal is in

[2020-09-15 20:40] kg commented on #41969
Unfortunately, I followed the reproduction steps and could not get any authentication prompt to appear to reproduce the issue.

Despite changing Program.cs to use oidc as suggested in the report + updating the ```wwwroot/appsettings.json``` and ```wwwroot/appsettings.Development.json```, I only get this message:
![image](https://user-images.githubusercontent.com/198130/93262331-e8044c80-f758-11ea-

[2020-09-15 20:41] jkotas commented on #39587
API proposal issue: https://github.com/dotnet/runtime/issues/42275

[2020-09-15 21:10] pranavkm commented on #42179
Your CORS policy needs to specify what headers are exposed. If you would like the client to read all headers, you can specify it as so:

[code]

Also if you're building a Blazor WASM app, you are unlikely to be using cookies for your auth. You could remove the `AllowCredentials` requirement.

[2020-09-15 21:15] holc-tkomp opened #42278 "Difference between IncludeSymbolsInSingleFile and DebugType embedded?"
What's the difference between adding
[code]
and
[code]
to your .csproj?

This is pretty straightforward question, but I really couldn't find anything more than "IncludeSymbolsInSingleFile" is only available for .NET Core 3.0+ in [design.md](https://github.com/dotnet/designs/blob/main/accepted/2020/single-file/design.md#optional-settings) (which is kind of obvious, as you have to be able to build s

[2020-09-15 21:25] JulieLeeMSFT commented on #41674
Closing this because it is merged to RC2 now.

[2020-09-15 21:25] #41674 closed

[2020-09-15 21:27] jeffhandley commented on #42257
It feels like a "broken or incomplete .NET 5.0 scenario" to me; I'd support it.

[2020-09-15 21:29] macrogreg commented on #42244
@jkotas , thank you for spotting this, it's a bummer. I really wished we could use an overload that takes an array and an index. It's not as modern as a ReadOnlySpan, but the dependencies are a real challenge (details below).

Btw, the latest RC takes a direct additional dependency on `System.Runtime.CompilerServices.Unsafe` (it existed before transitively via `System.Memory`). Is it one of those

[2020-09-15 21:33] #22168 closed

[2020-09-15 21:34] #22169 closed

[2020-09-15 21:34] #22170 closed

[2020-09-15 21:42] safern commented on #40527
@pranavkm I can confirm this is fixed in RC1 and it didn't fall back to Invariant, I can see in the requests and files that it loaded `icudt.dat`

[2020-09-15 21:42] #40527 closed

[2020-09-15 21:51] NetMage commented on #41965
I am thinking a simpler addition of `ICollection<T>` to `SelectArrayIterator`, `SelectListIterator` and `SelectIListIterator` might cover many of this proposal's advantages easier?

[2020-09-15 21:53] imhameed opened #42280 "[mono] Tracking: Implement `System.Runtime.Intrinsics.Arm.Dp`"
### System.Runtime.Intrinsics.Arm.Dp:

- [x] IsSupported
- [x] DotProduct
- [x] DotProductBySelectedQuadruplet

### System.Runtime.Intrinsics.Arm.Dp.Arm64:

- [x] IsSupported

[2020-09-15 22:30] jkotas commented on #42244
System.Runtime.CompilerServices.Unsafe does not have special-cased JIT intrinsics.

[2020-09-15 22:59] alexcovington commented on #40956
Running into an issue with the C# implementation which I believe is an issue with staying IEEE compliant during some intermediate computations.

Here's my current implementation based on [musl](https://git.musl-libc.org/cgit/musl/tree/src/math/scalbnf.c):

[code]

I then started writing tests based on libc-test ([here's a convenient GitHub fork](https://github.com/AssemblyScript/libc-test)) and fo

[2020-09-15 23:20] jeffhandley commented on #42229
I did a preemptive bar check on this and determined it won't meet the bar for 5.0.0 (since there are workarounds); moving to 6.0.0.  Thanks for reporting this, @andreimilto!

[2020-09-15 23:20] jeffhandley commented on #42230
I did a preemptive bar check on this and determined it won't meet the bar for 5.0.0 (since there are workarounds); moving to 6.0.0.  Thanks for reporting this, @andreimilto!

[2020-09-15 23:27] EgorBo commented on #40956
@alexcovington from a quick glance your c# impl is not the same as musl, e.g.
`n += -126 - 24;` vs `n += 126 - 24;` (in two places)

[2020-09-15 23:30] agocke commented on #42278
In 3.0, symbols could be included by embedding the PDBs in the bundle, and at runtime they would be extracted to a temporary directory next to the app DLLs. In 5.0, we removed support for bundling and extracting the PDBs and recommend using embedded PDBs instead, where the PDB information is directly embedded inside each assembly (there are no separate PDB files). In general, embedded PDBs are bet

[2020-09-15 23:31] tannergooding commented on #40956
For the code given, it returning `-infinity` looks correct. I'd guess the issue is elsewhere such as in the difference @EgorBo pointed out.

The math...

The input `f` is `2^127` which is exactly representable as `170,141,183,460,469,231,731,687,303,715,884,105,728`. `n` is then `-276`

`SCALEB_C2` is `2^-126` which is exactly representable as `1.175494350822287507968736537222245677818665556772087

[2020-09-15 23:34] tannergooding commented on #40956
It looks like another issue is that `y *= BitConverter.Int32BitsToSingle(SCALEB_C2) - BitConverter.Int32BitsToSingle(SCALEB_C3);` should be `y *= BitConverter.Int32BitsToSingle(SCALEB_C2) * BitConverter.Int32BitsToSingle(SCALEB_C3);` (a multiplication, rather than a subtraction).

[2020-09-15 23:38] tannergooding commented on #40956
It's also worth noting that the JIT won't currently optimize `BitConverter.Int32BitsToSingle(constant)` and so there will be runtime ops for the above op when it could just be a folded constant instead.

Making them constant floats as the following might be better overall:
[code]

The literal parser used by the C# compiler should be fully IEEE compliant, as is the .NET Core parsing logic in .NET C

[2020-09-15 23:41] Hmote45 opened #42283 "ر"
## Background and Motivation

## Proposed API

## Usage Examples

## Alternative Designs

## Risks

[2020-09-15 23:41] ericstj opened #42284 "WPF content files don't work with single-file"
### Description

Create a WPF application that uses [ContentFiles](https://docs.microsoft.com/en-us/dotnet/desktop/wpf/app-development/pack-uris-in-wpf?view=netframeworkdesktop-4.8#content-file-pack-uris)

When run outside single file this works and can load content.

When run under singlefile this fails because this throws:
https://github.com/dotnet/wpf/blob/eaece0ac93dd660dedcb33d9d908ea7485a8a6

[2020-09-15 23:44] agocke commented on #42284
The behavior in single-file publishing looks by-design to me: https://github.com/dotnet/designs/blob/main/accepted/2020/single-file/design.md

I think this issue is more appropriate for the WPF repo

[2020-09-15 23:48] mangod9 commented on #42283
Closing since this is a mistake or bot?

[2020-09-15 23:48] #42283 closed

[2020-09-16 00:34] hoyosjs opened #42287 "ARM64 Runtime Packs and shared FX missing UCRT binaries"
### Description

Redist UCRT dll's are missing from runtime packs and msi's for arm64 (ever since we started producing it). Are these needed?

[2020-09-16 00:47] xljiulang commented on #13590
Fatal error. 0x80131506
   at System.Reflection.RuntimeModule.GetTypes(System.Reflection.RuntimeModule)
   at System.Reflection.RuntimeModule.GetTypes()
   at System.Reflection.Assembly.GetTypes()
   at Core.ServiceCollectionDependencyExtensions.AddDependencyServices(Microsoft.Extensions.DependencyInjection.IServiceCollection, System.Reflection.Assembly)
   at HostApp.Startup.ConfigureServices(Mic

[2020-09-16 00:49] CarolEidt commented on #41647
@dotnet/jit-contrib I'm currently working on this, but would like to get some early feedback.
For the first iteration of this, I am continuing to use the GC info represented in the JIT data structures, rather than decoding the GC info after it's generated.
In addition, I'm modifying the GC dump to dump the info *after* the instruction that it pertains to, since it reflects the state after the inst

[2020-09-16 00:58] hoyosjs commented on #13590
@xljiulang was this while running under the debugger and stepping through your code?

[2020-09-16 01:01] xljiulang commented on #13590
@hoyosjs
no, it happens whenPublishSingleFile at dotnet 5.0(prev8 and rc1)

[2020-09-16 01:06] hoyosjs commented on #13590
I'll open a new issue then :) That's a separate issue.

[2020-09-16 01:07] hoyosjs opened #42288 "Fatal error during running an app published with PublishSingleFile=true"
[code]

_Originally posted by @xljiulang in https://github.com/dotnet/runtime/issues/13590#issuecomment-693104187_

[2020-09-16 01:08] hoyosjs commented on #42288
_ Originally posted by @xljiulang in https://github.com/dotnet/runtime/issues/13590#issuecomment-693107840_

[2020-09-16 01:09] hoyosjs commented on #42288
@xljiulang can you add some details here please? (type of application, possible steps to repro, output of `dotnet --info`)

Thanks!

[2020-09-16 01:14] xljiulang commented on #42288
@hoyosjs

my application type
[code]
build script :
[code]

dotnet info
[code]

[2020-09-16 01:19] jkotas commented on #42287
The OS provided OS UCRT is always available on Windows ARM64. We should not need it ship our local copy on Windows ARM64.

We include UCRT binaries for the old Windows versions that may be missing them.

[2020-09-16 01:20] BruceForstall commented on #41647
I like it!

I've also often been confused by this. Does the new behavior match `!u -gcinfo` in SOS? Will all output of GC info in JIT dump be consistent here?

[2020-09-16 01:21] #42287 closed

[2020-09-16 01:21] agocke commented on #42288
@xljiulang Are you sure this happens during `dotnet publish`, not when you run the binary after it's been published? That stack trace at the top looks like it's from the app when it's being run.

[2020-09-16 01:21] linknoid commented on #41965
I guess you could split every Linq IEnumerable<T> into 2 concrete classes, one that implements IReadOnlyCollection<T> and the other one that doesn't, and then return the appropriate one depending on the collection it's working on.  It's not as flexible (since sometimes you might be able to determine the count in some situations and not in others), but that seems far less likely to break things.

[2020-09-16 01:22] andreimilto commented on #42229
You're welcome, @jeffhandley!

[2020-09-16 01:23] andreimilto commented on #42230
I was happy to help, @jeffhandley!

[2020-09-16 01:26] CarolEidt commented on #41647
I'm not sure - I'm not much of a user of SOS, but I'll check.

Yes, that's the plan. The output methods are shared, at least for now, and I would presume we'd keep the same approach when/if we actually decode the GC info.

[2020-09-16 01:28] ar0311 opened #42328 "Blazor WASM not respecting DateTime format on all cultures (.NET 5.0)"
### Describe the bug
When using DateTime in a .razor page in Blazor (WASM only, SSB seems OK) the Date is formatted correctly when using some cultures but not with others.

Observed this behaviour to start when moving from Blazor 3.2 to the 5.0 previews/RC's.

### To Reproduce
Install 5.0 RC1 SDK
Create standard blazorwasm project (dotnet new blazorwasm).
Run it.
Load it into a browser using en-US

[2020-09-16 01:29] xljiulang commented on #42288
@agocke I mean whe my app use PublishSinggleFile is true mode,  it happens when my app running.

[2020-09-16 01:34] xljiulang commented on #42288
@agocke
I found this code in my app, could this be an influence factor?
[code]

[2020-09-16 02:00] davidwrighton opened #42289 "PAL test file_io/GetFullPathNameA/test3/paltest_getfullpathnamea_test3 does not pass"
### Description

Run the pal test file_io/GetFullPathNameA/test3/paltest_getfullpathnamea_test3

Note that the following error is produced

`ERROR :2: CreateFileA failed to create "/root/helix/work/workitem/testoutputtmp/test_directory../testing.tmp".`

I believe this test has been failing forever; however, the test did not properly report failure, so the test never failed in CI before.

[2020-09-16 02:02] xiangzhai opened #42290 "[ARM64] ReliabilityFramework time-consumed"
Hi,

Follow the [doc](https://github.com/dotnet/runtime/blob/master/docs/workflow/testing/coreclr/gc-stress-run-readme.md) to run ReliabilityFramework test:

[code]

But not finished yet after 40 hours...

Please give me some hint.

\cc @jkotas @cshung @janvorli

Thanks,
Leslie Zhai

[2020-09-16 02:02] davidwrighton opened #42291 "PAL test eventprovider/eventprovidertest does not pass on Arm/Arm64 machines in CI"
This test fails in CI on the Arm and Arm64 platforms with the following error:

`/root/helix/work/workitem/eventprovider/eventprovidertest: error while loading shared libraries: liblttng-ust.so.0: cannot open shared object file: No such file or directory`

[2020-09-16 02:03] xljiulang commented on #42288
@hoyosjs
I have verified that this problem has nothing to do with `Debugger.IsAttached`，and i found the following windows log:
[code]

[2020-09-16 02:05] davidwrighton opened #42292 "PAL test exception_handling/pal_sxs/test1/paltest_pal_sxs_test1 fails in CI on OSX"
### Description

The test fails with the following error:

[code]

[2020-09-16 02:09] davidwrighton commented on #42292
This is likely a failure specific to CI, as I think the RPATH logic in the CMakeLists.txt isn't translating well to the way we run CI jobs in Helix

[2020-09-16 02:14] scalablecory commented on #42232
This is a general TCP issue -- if you have no outstanding sends for the other side to ACK, and the other side isn't sending you anything, then the socket has no way of discovering a network cable unplug.

You can set SocketOptionName.KeepAlive to true on your socket, which will cause the TCP stack to send occasional pings to check if an idle connection is still alive. By default this only happens

[2020-09-16 02:18] sunny868 opened #42293 "Unrecognized command or argument 'list-processes'"
### Description
`$ dotnet-trace list-processes`
`Required command was not provided.`
`Unrecognized command or argument 'list-processes'`

### Configuration

dotnet-trace --version
3.1.141901+3f460984c62efa118b6bd87fa4c5f07b11074b34

 uname -a
Linux localhost.localdomain 4.19.73+ #2 SMP PREEMPT Fri May 15 11:29:21 CST 2020 mips64 mips64 mips64 GNU/Linux

[2020-09-16 02:33] hayashida-katsutoshi commented on #42232
Thank you everyone. I found that Read function returns 0 when disconnection happened. It is good enough for my purpose because my task is for communication between two embedded systems only, and it is ok as long as my product works. When it detect disconnection, they just start over connection. I would try SocketOptionName.KeepAlive if my workaround does not work.

[2020-09-16 02:33] #42232 closed

[2020-09-16 02:37] agocke commented on #42288
Could you collect a crash dump with https://docs.microsoft.com/en-us/windows/win32/wer/collecting-user-mode-dumps?

[2020-09-16 02:50] mikem8361 opened #42296 "createdump doesn't always add the special version string to coredumps"
The Linux createdumps don't explicitly add the version string memory to coredumps (symbol: sccsid). This has only showed up on recent 5.0 rc2 ALPINE distro builds but there is chance it could happen on other distros.

The solution is to start exporting the "sccsid" and modify createdump to find and read the version string thus adding to the coredump.

[2020-09-16 02:50] xljiulang commented on #42288
@agocke
dmp file:
[5kHostApp.exe.19236.dmp.zip](https://github.com/dotnet/runtime/files/5229304/5kHostApp.exe.19236.dmp.zip)

[2020-09-16 02:52] jeromelaban commented on #1634
@kouvel @svick Thanks for the followup. The fix is indeed in RC1, I got mislead by snapcraft's caching which used previous Preview 8 binaries. All good and thanks for the hard work :)

Happy to be able to use .NET 5 in Linux strict snaps now :)

[2020-09-16 03:15] danmosemsft commented on #42275
Is “Ignorable” a potential alternative to “ IsTerminating” name? I find it a little confusing

[2020-09-16 03:20] jkotas commented on #42275
`IsTerminating` is an existing property. We can certainly leave the existing property alone and introduce a new one with a better name.

[2020-09-16 04:33] wfurt commented on #42085
I check and the assert was put in by @stephentoub while back.
I finally managed to get sos working and here is objdump from sos:
[code]

so while both _currentSocket and _multipleConnect are both null, `_operating` is 0 e.g. `Free`. Since this whole block is guarded by
[code]
it is clear IMHO that the values changed between the initial check and body of the if. Or the `_operating` did get stale be

[2020-09-16 04:36] mangod9 commented on #42290
@xiangzhai is this on a vanilla arm64 build from master or some other configuration?

[2020-09-16 04:49] danmosemsft commented on #42275
Ah of course

[2020-09-16 05:13] tzengshinfu commented on #42145
Hi, radical:

Thank you for your helping.
Here is my project that this issue happend.
[BlazorApp1](https://github.com/tzengshinfu/BlazorApp1)
and the file below is my Visual Studio setting file.
[Exported-2020-09-16.zip](https://github.com/dotnet/runtime/files/5229547/Exported-2020-09-16.zip)

[2020-09-16 05:56] xiangzhai commented on #42290
Hi @mangod9

coreclr-v3.1.7 Debug for ARM64.

I haven't tested runtime master due to online packages NuGet timeout issue...

Thanks,
Leslie Zhai

[2020-09-16 06:04] billvenhaus opened #42301 "[UWP] HttpClientHandler - Digest Authentication Broken on Windows 10 PC"
Just recently I found that my UWP app can no longer connect with Digest authentication on Windows 10 PCs.

The exact same UWP appxbundle actually works on my old Windows 10 Mobile Phone.

The code also works fine in my Xamarin Android & iOS apps.

[code]

[code]

This is specific only to the UWP HttpClientHandler. On same PC that couldn't connect, the HttpClientHandler from .NET Framework 4.8 stil

[2020-09-16 06:43] am11 commented on #42300
There were some fixes for covariant return in RC2. e.g. on macOS, your program returns `d7d4160b-5aab-4517-95be-8b6e9819bfe7, Jason` with `SDK: 5.0.100-rc.2.20459.18, HOST: 5.0.0-rc.2.20458.14`.

[2020-09-16 06:48] MichaelLogutov commented on #42132
Hi @cheenamalhotra

I'll test out your suggestion.

Meanwhile I've looked into the PR and if I understood correctly you now throw a promoteException only if transaction status is aborted. So if transaction is not in aborted state and some exception occur there is a way to still get connection "doomed" and return from method without exception - is this intended?

[2020-09-16 07:01] v-haren commented on #41954
failed again in job: [runtime-coreclr libraries-jitstress 20200915.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=815445&view=ms.vss-test-web.build-test-results-tab&runId=25958882&resultId=155986&paneView=debug)

failed test: BasicEventSourceTests.TestsManifestGeneration.Test_EventSource_EtwManifestGeneration

net5.0-Windows_NT-Release-x86-CoreCLR_checked-zapdisable-Windows.10.Amd6

[2020-09-16 07:06] MaximLipnin commented on #41087
It looks like the exception scanner doesn't gather PNSEs thrown from runtime, e.g. something that uses `mono_error_set_platform_not_supported` method. At least, I don't see appropriate APIs in the result file attached to the PR's description. In case of Browser, an example of such API could be [Thread.Start()](https://github.com/dotnet/runtime/blob/master/src/mono/netcore/System.Private.CoreLib/sr

[2020-09-16 07:23] DsAekb commented on #42249
Hey @bartonjs, thanks for your reply. Indeed `undefined` is not a valid value for JSON unlike in JavaScript, my bad.

[2020-09-16 07:23] #42249 closed

[2020-09-16 08:00] huoyaoyuan commented on #42254
This can be expanded to different scenarios:

1. The collection is implemented by `ICollection<T>`, but exposed as `IReadOnlyCollection<T>` in public surface.
This should be very common. Linq will not be impact here.
2. The collection is immutable. It only implements `IReadOnlyCollection<T>`.
This depends on the actual implementation type:
- `ReadOnlyCollection<T>` (including `ReadOnlyObservableCo

[2020-09-16 08:03] jiangzeng01 opened #42304 "[5.0.100-rc.2.20464.10] Single File Publish issue on Greenshot App after retarget .NET5"
**Application Name:** Greenshot
**OS:** Windows 10 RS5
**CPU:** X64
**.NET Build Number:** 5.0.100-rc.2.20464.10
**App Location:** \\appcompatsrv\Appcompat\DotNetCore\AppSource\SingleFileP0AppsTarget5\Apps\greenshot
**App Source:** \\appcompatsrv\Appcompat\DotNetCore\AppSource\SingleFileP0AppsTarget5\AppSources\greenshot
**DevDiv bug:** [https://devdiv.visualstudio.com/DevDiv/_workitems/edit/12148

[2020-09-16 08:09] jiangzeng01 opened #42305 "[5.0.100-rc.2.20464.10] Single File Publish issue on PixiEditorDotNetCore3 App after retarget .NET5"
**Application Name:** PixiEditorDotNetCore3
**OS:** Windows 10 RS5
**CPU:** X64
.NET Build Number: 5.0.100-rc.2.20464.10
**App Location:** \\appcompatsrv\Appcompat\DotNetCore\AppSource\SingleFileP0AppsTarget5\Apps\PixiEditorDotNetCore3
**App Source:** \\appcompatsrv\Appcompat\DotNetCore\AppSource\SingleFileP0AppsTarget5\AppSources\PixiEditorDotNetCore3
**DevDiv bug:** https://devdiv.visualstudio.c

[2020-09-16 08:28] ahughf opened #43991 "InteropServices.COMException thrown when passing c# structure to c++"
I have a Java API that I want to access via c# code running on centos (Linux) running in the .Net-Core 3.1.100 version. Consequently I wish to pass a structure array from c# to native code responsible for launching the JVM and doing the java stuff. My problem was that the c# structure array would not get to the c++ code under certain circumstances. Here's the c# code:

[code]
and here is the c++ :

[2020-09-16 08:47] krwq commented on #42230
I unassigned myself from both bugs and will pick this up somewhere in 6.0 timeline

[2020-09-16 09:38] tmds commented on #36590
@swaroop-sridhar @richlander @KathleenDollard it would be nice if this gets exposed through the `dotnet` cli.
You can't figure out how to do this from `dotnet publish --help`.

[code]

[2020-09-16 09:42] hoyosjs commented on #42288
Looks like in `PEImage::CreateLayoutFlat(bPermitWriteableSections: FALSE)` we get an invalid `pFlatLayout` from `PEImageLayout::LoadFlat(this)` and that causes an AV. The `PEImage` also looks like it's invalid, but going up the stack it feels like it's because the dump is missing some information. I can see the module being requested is 5kHostApp.dll with token 0x2300003a, but I don't know if the

[2020-09-16 09:42] hoyosjs commented on #42288
Looks like in `PEImage::CreateLayoutFlat(bPermitWriteableSections: FALSE)` we get an invalid `pFlatLayout` from `PEImageLayout::LoadFlat(this)` and that causes an AV. The `PEImage` also looks like it's invalid, but going up the stack it feels like it's because the dump is missing some information. I can see the module being requested is 5kHostApp.dll with token 0x2300003a, but I don't know if the

[2020-09-16 09:54] v-haren commented on #41952
I couldn't repro this. It did not appear in the recent failed.

[2020-09-16 10:03] GSPP commented on #41195
Isn't it a bug that the `EMFILE (No file descriptors available)` error is being ignored?

[2020-09-16 10:38] holc-tkomp commented on #42278
Thanks for your reply, I managed to think of some additional questions in the meantime:

1. How does `IncludeSymbolsInSingleFile` work in .NET 5 then?
2. How can one extract/inspect the "non-extracting" .NET 5 bundle?
3. Could you point me into some sources that could help me better understand what sits inside such .NET 5 bundle and how to potentially read it?
4. Can .NET 5 potentially generate se

[2020-09-16 10:57] janvorli commented on #41647
It would be also nice to match where R2RDump puts it.

[2020-09-16 11:00] 7timus commented on #41969
Having same issue with Chrome (85.0.4183.102)  but by suprise with Microsoft Edge(44.19041.423.0) everything works.
But it crashes only when debug version is opened, if you open new instance of chrome and navigate to app, all works.
For me it doesn't matter if form fields are autofilled by browser or manualy - in both cases it crashes.
I am using basic cookie authentication with endpoint that retu

[2020-09-16 11:01] chrishamm opened #42308 "Created event of FileSystemWatcher passes invalid file path"
I am using a FileSystemWatcher instance on Linux (armv7, 32-bit). When I create a directory in the scope of the FileSystemWatcher, the `Created` event is fired. In the passed event argument, the `FullPath` property looks like `/home/pi/[object Object]` so at the moment I cannot use it for my application. It seems like some object isn't properly converted to string.

This problem only showed up aft

[2020-09-16 11:02] msedi opened #42309 "Wrong handling of Vector.Min/Vector.Max of NaN"
### Description

While switching our Array math methods to Vector some issues arised in the behavior of `Vector.Min` and `Vector.Max`.
Anytime a `float.NaN` or `double.NaN` is contained in `Vector<float>` or `Vector<double>`.
This can be easily verified, by

`Vector.Min(new Vector<float>(float.NaN), new Vector<float>(10))`

which returns **10**. Whereas a regular

`MathF.Min(float.NaN,10)`

return

[2020-09-16 11:08] chrishamm commented on #42308
Sorry, this was actually related to another problem.

[2020-09-16 11:08] #42308 closed

[2020-09-16 11:16] richardhauer commented on #41969
Upgrade to VS 16.8.0 P3 and .NET 5 RC1 made things considerably worse.
Can't start the app at all under IIS Express or Kestrel and can't seem to get IIS to load either.
Rolled back to 16.7.3

[2020-09-16 11:41] btbensoft commented on #36091
+1

[2020-09-16 11:58] kg commented on #41969
@richardhauer being unable to start IISE or Kestrel sounds very bad, please file a separate issue about that.

[2020-09-16 12:08] EgorBo commented on #42309
Currently `Vector<float/double>.Max` just emits `vmaxps/pd` which doesn't care about NaNs (and -0.0)
`Vector` is a crossplatform API on top of SIMD instructions so I wonder whether it should actually care about NaNs (additional overhead) or not 🤔

[2020-09-16 12:17] stephentoub commented on #40463
What is the implementation of your SwitchToBackgroundThread and SwitchToUIThread method?

[2020-09-16 12:29] vcsjones commented on #42230
@krwq This and the other one would make a good [up-for-grabs] and [easy] tags if you wouldn't mind someone from the community picking these up.

[2020-09-16 12:32] DavidKarlas opened #42311 "Debugging not working with XCode 12 selected"
### Description

In VSMac, we are using `vsdbg`(same as Omnisharp) to debug .NET Core applications... We have unit tests, but ever since bumping XCode from 11 to 12, debugging started failing... So here are repro steps:
1) `sudo xcode-select -s /Applications/Xcode_12.app`
2) `mkdir xcodeTestProj`
3) `cd xcodeTestProj`
4) `dotnet new console`
5) `dotnet publish --runtime osx-x64`
5) `code .`
6) cre

[2020-09-16 13:16] vcsjones opened #42312 "X25519 should be consistently supported where possible"
I've noticed that currently, we have some partial support for X25519 ECDH on Windows:

[code]

(Windows calling it "Curve25519" is unfortunate, but, I digress.) Windows can't yet work with these in X.509 due to a lack of implementation of RFC 8410, but the crypto primitive works.

OpenSSL does have X25519 support as well, but it is not implemented the same as the other EC functionality. Specifical

[2020-09-16 13:18] LakshanF commented on #42304
The call stack is very helpful! It seems like this self-contained SingleFile app doesn't have all the dependent assemblies for it to run successfully. Autofac seems to be a DI component and will not play well with SingleFiles.

In which case, this behavior would be by design. We need to explore more the diagnostics information we provide for apps like these.

[2020-09-16 13:19] msedi commented on #42309
@EgorBo: You are of course right, there shouldn't be any overhead. I found this problem only since my unit tests flipped, because of a different handling of this. I think a general assumption is though that the behavior should be identical to scalar methods. I currently not sure if there are intrinsics that handle NaN correctly? The question is then if there should be an additional Min/Max method

[2020-09-16 13:36] dersia opened #42314 "Introduce Attribute and Analyzer for better discovery of Factory-Methods"
## Background and Motivation

There should be a Analyzer or Tooling support to find Facotry-Methods easier.

As a library author I am often providing facotry-methods for my types to make construction of types more comfortable for users.
The Factory-Pattern is being used more and more within ASPNET and also in the BCL. With the `readonly structs` and the new `new()` syntax it get harder for develop

[2020-09-16 13:47] chrarnoldus opened #42316 "Linq-to-XML difficult to use with newly added nullability annotations"
### Description

RC1 added nullability annotations for System.Xml.Linq, which make extensive use of `[NotNullIfNotNull(...)]` on user defined conversions. For example:

https://github.com/dotnet/runtime/blob/33dba9518b4eb7fbc487fadc9718c408f95a826c/src/libraries/System.Private.Xml.Linq/src/System/Xml/Linq/XName.cs#L106

This is not yet supported by the compiler, however (see https://github.com/dot

[2020-09-16 13:49] stephentoub commented on #42316
cc: @jcouv

[2020-09-16 13:57] jsedlak opened #42356 "System.Text.Json.JsonSerializer can serialize but not deserialize TimeSpan without custom converter"
# Issue Title

The System.Text.Json.JsonSerializer class is unable to deserialize a TimeSpan property, even though it can serialize it.

# General

Sample project demonstrating this issue is available here: https://github.com/jsedlak/TestTimeSpan

If you return a TimeSpan property in a WebApi, it is correctly serialized to JSON:

`[
    {
        "forecastLength": {
            "ticks": 3600000000

[2020-09-16 13:58] kinosang opened #42317 "gRPC with H2C does not work on .Net 5.0 RC1"
### Description

After upgrade to .net 5.0 rc1 (5.0.100-rc.1.20452.10), gRPC does not work with H2C.

`AppContext.SetSwitch("System.Net.Http.SocketsHttpHandler.Http2UnencryptedSupport", true);` does not work at all.

### Other information

It seems caused by #39201.

Maybe this is not a bug about the dotnet runtime but about the docs, uh?

[2020-09-16 14:04] eerhardt commented on #39709
The underlying linker bug has been fixed. Removing "blocked". When we get a new linker in dotnet/runtime, we should be able to enable these tests now.

[2020-09-16 14:05] msschl commented on #42179
Thanks @pranavkm,
That fixed it for me 👍🏽

[2020-09-16 14:05] #42179 closed

[2020-09-16 14:17] danmosemsft commented on #41195
@GSPP you’re suggesting that the API should throw when it discovers it can only do a partial job?

[2020-09-16 14:25] EgorBo commented on #42309
Here is System.Runtime.Intrinsics.x86 NaN and -0.0 aware version of `Max`:
[code]
Vector<T> version would be something like this:
[code]
but I don't see any `CompareUnordered` (`_mm_cmpunord_ps`) API for Vector<T> (but I guess you can always cast Vector<T> to Vector128/256<T>)

[2020-09-16 14:26] kinosang commented on #42317
Upgrade `Grpc.Net.Client` to `2.32.0-pre1` can fix this.

And the `AppContext.SetSwitch` is no longer required by gRPC via H2C.

Due to the AspNetCore Docs is still on .net 5.0 preview 8, there does not have the information.

[2020-09-16 14:26] #42317 closed

[2020-09-16 14:32] msedi commented on #42309
@EgorBo: Thx. That should do the trick.

[2020-09-16 14:32] #42309 closed

[2020-09-16 14:33] EgorBo commented on #42309
@msedi  Here is `Vector<T>` version:
[code]

[2020-09-16 14:34] CincySteve opened #42628 "Assertion at..., condition '<disabled>' not met."
I just published to Azure a Blazor Wasm SPA I am developing with VS Community 2019.  The app starts up successfully in Chrome via the VS debugger, but the published version triggers the exception below (also in Chrome).  The exception message, _ gives me no clue as to the problem_.  This looks similar to this [previous issue dotnet/aspnetcore#16818](https://github.com/mono/mono/issues/16818) that

[2020-09-16 14:59] CarolEidt commented on #41647
I'm not aware of R2RDump - can you point me to it?

[2020-09-16 15:11] eiriktsarpalis commented on #41965
Thank you for taking the time to file the proposal @linknoid, but it is unlikely we would accept such a change for the reasons stated previously. I'm going to close this issue cc @adamsitnik @stephentoub

[2020-09-16 15:11] #41965 closed

[2020-09-16 15:25] GTmAster opened #95968 "Blazor debugging is not possible in iframe"
When Blazor WASM is hosted by ASP.NET Core and resides inside iframe, the debugger doesn't work.
For example, I have Page1 with following html:
[code]
and Page2, which puts Page1 into iframe:
[code]

In this case:
- if Page1 is opened app and debugger work as inspected.
- If Page2 is opened, app works perfectly, but debugger doesn't: breakpoints are not working. Chromium dev tool debugging doesn't

[2020-09-16 15:44] safern commented on #42106
cc: @akoeplinger

[2020-09-16 15:45] BruceForstall commented on #42318
That error appears to be:
[code]

[2020-09-16 15:47] ericstj commented on #42250
@ViktorHofer it appears like we aren't seeing a bindingRedirect for `System.Runtime.CompilerServices.Unsafe` on .NETFramework.  Likely this is because the Unsafe reference isn't appearing in the reference assembly of `System.Memory`.  Not sure why test runs aren't seeing this.

[2020-09-16 15:49] Postlagerkarte opened #42327 "Web Assembly Debugging - Modify values"
Using Version 16.8.0 Preview 3.0 and 5.0.0-rc.1 when debugging the Counter Demo application I am  not able to modify values.  Edit Value is grayed out.

![image](https://user-images.githubusercontent.com/8482283/93360897-7f929980-f844-11ea-8e0c-facf1586278b.png)

Shouldn't this work?

[2020-09-16 16:06] mangod9 commented on #42300
This is a possible dupe of https://github.com/dotnet/runtime/issues/41571. @janvorli ?

[2020-09-16 16:07] eerhardt opened #42321 "Memory Leak in Microsoft.Extensions.Caching.Memory when handling exceptions"
We are leaking objects when calling `MemoryCache.GetOrCreate`  and the factory method is throwing an exception.

### Repro

Run the following application, take a memory snapshot, run for a while and take another snapshot

[code]

![image](https://user-images.githubusercontent.com/8291187/93358615-543d8980-f807-11ea-8c82-93b3bc339a1b.png)

### Analysis

It appears the issue is that we aren't Dispos

[2020-09-16 16:08] BruceForstall commented on #41647
It's in the source tree as src\coreclr\src\Tools\r2rdump

[2020-09-16 16:11] Tratcher commented on #42321
Design hindsight: Dispose was the wrong term, it should have been Commit or similar. Then Dispose could have been used for general cleanup without committing.

👍

[2020-09-16 16:15] SingleAccretion commented on #42314
Linking #41686 as a potential use case for the BCL.

[2020-09-16 16:19] eerhardt commented on #42321
+💯

Agreed, but that is more of an edge case. That won't happen when using the `GetOrCreate` methods, only if someone is calling `CreateEntry` themselves. To fix that, they can move `SetValue` to the last thing before calling `Dispose`.

One other risk is that if someone is relying on the behavior of not calling `SetValue` to mean "cache `null`". In that case, they would need to start calling `Set

[2020-09-16 16:26] tommcdon commented on #42311
@hoyosjs
FYI @caslan

[2020-09-16 16:27] eiriktsarpalis commented on #42029
Stacktrace as reported in https://github.com/dotnet/msbuild/issues/5726#issuecomment-689770076

[code]

[2020-09-16 16:38] steveharter commented on #42237
@Turnerj thanks for reporting this issue. I have a PR that should address the issue.

If possible, can you test the change out locally?

Also, for perf, it will be faster to use a class, not a value type, for default handling on types that contain many properties. This is because a simple null check can be performed on reference types.

[2020-09-16 16:39] imhameed opened #42322 "[mono] Tracking: Implement `System.Runtime.Intrinsics.Arm.Rdm`"
### System.Runtime.Intrinsics.Arm.Rdm:

- [x] IsSupported
- [x] MultiplyRoundedDoublingAndAddSaturateHigh
- [x] MultiplyRoundedDoublingAndSubtractSaturateHigh
- [x] MultiplyRoundedDoublingBySelectedScalarAndAddSaturateHigh
- [x] MultiplyRoundedDoublingBySelectedScalarAndSubtractSaturateHigh

### System.Runtime.Intrinsics.Arm.Rdm.Arm64:

- [x] IsSupported
- [x] MultiplyRoundedDoublingAndAddSaturate

[2020-09-16 16:40] imhameed opened #42323 "[mono] Tracking: Implement `System.Runtime.Intrinsics.Arm.Sha1`"
### System.Runtime.Intrinsics.Arm.Sha1:

- [x] IsSupported
- [x] FixedRotate
- [x] HashUpdateChoose
- [x] HashUpdateMajority
- [x] HashUpdateParity
- [x] ScheduleUpdate0
- [x] ScheduleUpdate1

### System.Runtime.Intrinsics.Arm.Sha1.Arm64:

- [x] IsSupported

[2020-09-16 16:44] ericstj opened #42324 "Build portable PDBs everywhere"
Remove this:
https://github.com/dotnet/runtime/blob/c19cdffb4407690a62dd87fb9f0a1636063f6444/src/libraries/Directory.Build.props#L192-L193

And enable this in our unit tests if our runner is targeting something before 4.7.2:
https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/retargeting/4.7-4.8#stack-traces-obtained-when-using-portable-pdbs-now-include-source-file-and-line-informati

[2020-09-16 16:47] imhameed opened #42325 "[mono] Tracking: Implement `System.Runtime.Intrinsics.Arm.Sha256`"
### System.Runtime.Intrinsics.Arm.Sha256:

- [ ] IsSupported
- [ ] HashUpdate1
- [ ] HashUpdate2
- [ ] ScheduleUpdate0
- [ ] ScheduleUpdate1

### System.Runtime.Intrinsics.Arm.Sha256.Arm64:

- [ ] IsSupported

[2020-09-16 16:56] captainsafia opened #42326 "Break on exceptions behaves inconsistently on Blazor WASM apps"
Break on exceptions behaves unreliably in a Blazor WASM application. I was able to get it working by doing a combination of setting breakpoints before the exception is thrown and pausing on caught exceptions. Of course, I wasn't able to reproduce the exact state I was in when I managed to get it working when drafting the repro notes here.

### Configuration

**Operating System and Browser**
Google

[2020-09-16 17:03] danmosemsft commented on #41104
Should this block release, or is it OK to ship with it? @GrabYourPitchforks

[2020-09-16 17:03] mkArtakMSFT commented on #42327
@lewing FYI

[2020-09-16 17:11] danmosemsft commented on #41743
@DrewScoggins could you please help answer @adamsitnik question above?

@adamsitnik could you help characterize which dictionary scenarios regressed and which did not? 25% is a lot for a mainstream case - but you didn't mention any of the other dictionary lookup benchmark we have. Is the common factor that the values are larger than ref-size (ie., structs)? That would make the `Entries` array fatt

[2020-09-16 17:12] danmosemsft commented on #41743
@DrewScoggins where do I find 3.1->5.0 comparisons for ARM64?
![image](https://user-images.githubusercontent.com/6385855/93370086-28210900-f805-11ea-8b16-8af5f778287d.png)

[2020-09-16 17:13] danmosemsft commented on #40518
@stephentoub we can close this now right?

[2020-09-16 17:14] #40518 closed

[2020-09-16 17:15] stephentoub commented on #40518
Yes.  Not sure why GitHub didn't automatically close it when #42216 was merged.

[2020-09-16 17:15] danmosemsft commented on #41584
Closing since everything's merged. @CarolEidt please reopen if more work is actually required.

[2020-09-16 17:15] #41584 closed

[2020-09-16 17:16] mkArtakMSFT commented on #42328
@EgorBo FYI

[2020-09-16 17:17] mairaw commented on #42231
Windows ARM32 builds were pulled out of https://dotnet.microsoft.com/download/dotnet/5.0

[2020-09-16 17:17] GrabYourPitchforks commented on #41104
IMO it's fine to ship with this, as reverting doesn't look as trivial as the other UTF8 regression we looked at, and we still have good fuzzer & test coverage so we believe the algorithms are correct. Can address in 5.x servicing if needed.

[2020-09-16 17:19] eerhardt commented on #42037
backport to 5.0 has been merged. Closing

[2020-09-16 17:19] #42037 closed

[2020-09-16 17:20] AntonLapounov commented on #1869
@dagood It seems we stopped producing `transport.Microsoft.NETCore.Crossgen2` package in February 2020. Can this be closed now?
https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet5&view=versions&package=transport.Microsoft.NETCore.Crossgen2&version=5.0.0-alpha.1.20104.1&protocolType=NuGet

[2020-09-16 17:21] alexcovington commented on #40956
Oh, you're right! Glad it's just a typo... I'll fix it and run against the test cases again.

I figured it wouldn't, I just wanted to get a correct implementation going before trying to get rid of that. I'll reuse the constants @tannergooding provided, which is much cleaner than using `BitConverter` for each one.

Thanks so much!

[2020-09-16 17:28] ericstj commented on #42324
I see our current console runner targets 4.7.2, so we should be OK without adding the AppContextSwitch. cc @ViktorHofer

[2020-09-16 17:29] dagood commented on #1869
Yep. Seems fine to assume that either someone checked for dependencies before doing the removal, or if there were some unknown dependency, someone would have filed an issue about it since then.

[2020-09-16 17:29] #1869 closed

[2020-09-16 17:40] cshung commented on #42290
This particular test is the stress test for the garbage collector. It is not meant to be completed. As long as the test does not crash for long hours, we are good. See [here](https://github.com/cshung/runtime/blob/master/docs/workflow/testing/coreclr/gc-stress-run-readme.md) for more information about this test.

Congrats for having the test survived for 400 hours.

[2020-09-16 17:41] EgorBo commented on #42328
I guess we should allow all `en-*` locales in the common icudt.dat 🙁
let me check size impact

[2020-09-16 17:42] danroth27 commented on #42326
@lewing

[2020-09-16 17:52] mangod9 commented on #42290
Thanks @cshung. Closing based on that info.

[2020-09-16 17:52] #42290 closed

[2020-09-16 17:54] stephentoub opened #42330 "HttpClient.GetStreamAsync logs ResponseContentStart/Stop"
The method doesn't buffer or attempt to read any response content, just as SendAsync doesn't with RequestHeadersRead.  So it shouldn't be logging response content start/stop.

[2020-09-16 17:56] mangod9 commented on #4540
Closing since this hasnt been touched in 5 years.

[2020-09-16 17:56] #4540 closed

[2020-09-16 18:02] mangod9 commented on #5002
Closing since this hasnt been touched for 3 years.

[2020-09-16 18:02] #5002 closed

[2020-09-16 18:05] mangod9 commented on #6924
Closing since there doesnt seem to be any particular reasons to be fix in the near term.

[2020-09-16 18:06] mangod9 commented on #5479
Closing since there doesnt seem to be any particular reasons to be fix in the near term.

[2020-09-16 18:06] #5479 closed

[2020-09-16 18:06] MihaZupan commented on #42330
@karelz, @ManickaP and I actually discussed this case.

We call `ReadAsStreamAsync` on the content. While the built-in HttpContent types will not buffer, a custom one could choose to do so / do some other longer processing. That is why we decided it's worth logging the Start/Stop around it as well.

[2020-09-16 18:06] mangod9 commented on #6027
Closing since this hasnt been touched for a few years.

[2020-09-16 18:10] mangod9 commented on #6408
Closing this issue since its been tracked in csharplang. If that gets traction we will reopen it to be supported in coreclr.

[2020-09-16 18:10] #6408 closed

[2020-09-16 18:11] davidwrighton commented on #42291
It does pass for Ubuntu 1604 machines.

[2020-09-16 18:12] ericstj commented on #42324
Tested and confirmed that we still get line info on .NETFramework after switching to portable PDBs without the need of the appcontext switch.  Will put up a PR.

[2020-09-16 18:12] mangod9 commented on #6567
Closing as this doesnt appear to require coreclr support

[2020-09-16 18:12] #6567 closed

[2020-09-16 18:20] #37431 closed

[2020-09-16 18:23] DrewScoggins commented on #41743
I talked with Adam about this offline and got him access to the full test history for ARM64 runs that we have done in the lab. Here is the link for posterity, https://pvscmdupload.blob.core.windows.net/reports/allTestHistory/master_arm64_ubuntu%2018.04/AllTestindex.html.

As for the comparison results, we were running into an issue where we were running the index report before all of the report ge

[2020-09-16 18:24] MartinJohns commented on #6924
@mangod9 Is it really a good approach to simply close issues regarding bugs, just because you don't plan to fix them in the near time? Especially considering that even the Roslyn team had to workaround this bug several times. Personally I'm still waiting and hoping for this to be fixed, and having an open issue is a nice way to at least track it.

I understand that it can be discouraging to have e

[2020-09-16 18:29] ManickaP commented on #42330
AFAIR, I was the one adding it, probably just because I've added it to all other helper methods. @MihaZupan pointed out that they do not make sense here, I concurred, but we still kept them.

One of the reasons was that when we considered removing it, suggestions for other events (marking start of content reading) started springing. So we decided to rather keep the existing ones, albeit seemingly

[2020-09-16 18:32] uffehellum commented on #32911
Same thing for idnkitlite broken:
√% sudo ln -s /usr/local/lib/libidnkitlite.dylib /usr/local/share/dotnet/shared/Microsoft.NETCore.App/2.2.7/
√% sudo ln -s /usr/local/lib/libidnkitlite.dylib /usr/local/share/dotnet/shared/Microsoft.NETCore.App/3.1.6

[2020-09-16 18:34] danmosemsft commented on #41743
Thanks.

These scenarios simply seem very bimodal:
![image](https://user-images.githubusercontent.com/6385855/93377447-dc279180-f80f-11ea-97d6-599de077cd18.png)
actually most or all of the GetValue/GetKey scenarios are
![image](https://user-images.githubusercontent.com/6385855/93377729-43dddc80-f810-11ea-9de3-7fe03b4b9db2.png)

Similar for CopyTo Array, etc.

Is this just yet more alignment? I do

[2020-09-16 18:38] danmosemsft commented on #41743
I added this info to https://github.com/dotnet/BenchmarkDotNet/issues/1513

[2020-09-16 18:40] mangod9 commented on #6924
I understand your concern @MartinJohns. From the discussion above its unlikely it will be fixed in 6 (or 7) given the risk. Perhaps CoreRT is a possible way around? But happy to keep it open given the interest in this issue :)

[2020-09-16 18:42] DrewScoggins commented on #41743
I agree that this does not look like a regression to me.

[2020-09-16 18:43] danmosemsft commented on #41743
@adamsitnik thoughts? shall we close?

[2020-09-16 18:48] ericstj commented on #41866
I tested this on latest and it's working.

I needed to update the syntax per: https://github.com/dotnet/csharplang/blob/master/proposals/csharp-9.0/function-pointers.md

Now it is
[code]

Running on
[code]

[code]

[2020-09-16 18:48] #41866 closed

[2020-09-16 18:53] #41871 closed

[2020-09-16 18:53] ericstj commented on #34173
Ping @zkat @terrajobst -- trying to close down active issues for 5.0 and need to understand if this needs to remain open.

[2020-09-16 18:54] dersia commented on #41686
I didn't see @carlreinke comment when I suggested #42314 but I think this is exactly what you were referring to

[2020-09-16 18:54] Korporal commented on #6924
This is just not going away is it! I've raised this several times over the past year or two. We've created code that absolutely relies on this mechanism and that work is just stuck, not going anywhere. The system in question works very closely with mapped memory on Windows and this one bug causes **huge** headaches for what could be short, sweet, elegant logic.

I wish I had the time and skills to

[2020-09-16 18:55] CarolEidt commented on #41647
AFAICT, R2RDump simply dumps the GC info after the method (and doesn't seem to actually report ranges, just slots)
I don't propose to implement interleaving of GC info for R2RDump, so I'm not sure in what way I would match R2RDump.

[2020-09-16 19:03] stephentoub commented on #42330
From an HTTP perspective, that's not reading the content: no read is performed on the wire for it, etc.  All that's doing is getting a stream that lets you read the content.

The event here makes little sense to me.

[2020-09-16 19:04] janvorli commented on #42300
I have tested it with 5.0.100-rc.2.20466.4 SDK and it runs without issues, so I believe is it really dupe of #41571.

[2020-09-16 19:05] stephentoub commented on #42330
If a custom content type chose to buffer, then it could be doing so before we even emit the started log event.

[2020-09-16 19:06] stephentoub commented on #42330
The problem is, they're not redundant.  They're incorrect.  We log to say that we've started reading the content and then we've finished reading all the content... but we've not read any of it, and in fact the whole point of the API is to give back a Stream that lets the caller do the reading of the content.

[2020-09-16 19:08] janvorli commented on #41647
R2RDump actually interleaves the stuff with disassembly. Here is an example that I've just created from S.P.C.:
[code]

[2020-09-16 19:11] ViktorHofer commented on #42231
Would it make more sense to have this issue in dotnet/installer?

[2020-09-16 19:16] SommerEngineering opened #42333 ".NET 5 RC1: Console.ReadKey inside of thread cannot read ENTER key (regression)"
### Description
Assumptions: A console program reads key strokes from a user in a thread. However, it first checks whether a key has already been pressed.

In .NET 3.1 LTS everything works as it should. With the new .NET 5.0 RC1 there is at least one serious bug: The `ENTER` key is no longer recognized correctly. Instead of `ENTER` .NET 5 RC1 recognizes the `J` key.

It is very easy to reproduce t

[2020-09-16 19:26] hoyosjs commented on #42301
@tommcdon

[2020-09-16 19:42] LakshanF opened #42334 "Hosting policy on casing resolution is different between Linux-Mac"
### Description

Changing the casing on an App assembly has different behavior in Linux & Mac in that deleting the <App>.deps.json file and changing the case of the App assembly (ex. App.dll to app.dll) causes the app to fail in Linux and to pass in Mac (ex. run App.exe)

Given the underlying OS behavior for case comparison is similar in both, investigate this difference further and adjust the bel

[2020-09-16 19:56] jeffhandley opened #42335 "Enable Platform Compat Analyzer warnings for browser"
For #41087, we annotated many APIs with `[UnsupportedOSPlatform("browser")]`, which will allow the Platform Compatibility Analyzer to provide customers with warnings when calling APIs that are unsupported on browser from call sites intended to work on browser.  This is working for customer scenarios, but the `dotnet/runtime` repo itself isn't currently producing warnings for the scenario.

Since s

[2020-09-16 19:59] jeffhandley commented on #42335
@safern @ViktorHofer -- I am going to assign this to someone on my team. Going to assign to myself for the moment.

[2020-09-16 20:07] tmds commented on #42333
This is probably related to changes in https://github.com/dotnet/runtime/pull/37491. cc @eiriktsarpalis

[2020-09-16 20:29] karelz commented on #42301
There are 2 parallel Http stacks in UWP -- `System.Net.Http` and [`Windows.Web.Http`](https://docs.microsoft.com/en-us/uwp/api/Windows.Web.Http.HttpClient?view=winrt-19041) (which is implemented directly by Windows)
The one in `System.Net.Http` just wraps the Windows one in UWP.

Interestingly `HttpClientHandler` is not part of `Windows.Web.Net`, so I have no idea what your code does in UWP. Howev

[2020-09-16 20:42] digeff opened #42340 "MonoProxy send stack traces with reference to script that wasn't notified"
1. Create a new Blazor WebAssembly project in VS
2. Set breakpoint at line14(currentCount++) of "Pages\Counter.razor".
3. Debug Project with Chrome
4. Navigate the web page to the counter page
5. Click the click me button
6. After hitting the breakpoint press step into two times

We get this stack frame:
          {
            "callFrameId": "{\"ordinal\":0,\"injectedScriptId\":2}",
            "

[2020-09-16 20:43] CarolEidt commented on #41647
OK, it seems that R2RDump also does the right thing and reports the deltas after the instruction.
However, it individually reports each register or stack location (my changes will report them collectively). Also, the JIT dump reports variables on the stack by their JIT name (e.g. `; GC ptr vars +{V27}`).
I don't see any value in unifying these.

[2020-09-16 20:43] bvenhaus commented on #42301
Yeah, it's not working with `Windows.Web.Net` either.

[code]

[code]

[2020-09-16 20:47] jkotalik opened #42342 "Array.Copy exception on Windows.10.Arm64 with ToList()"
### Description

We saw an exception in one of our tests in ASP.NET Core that seems to be a runtime issue. A exception is being thrown in [this test](https://github.com/dotnet/aspnetcore/blob/cfe158cbed7483e8ab931e4cf47d578ba6c7170d/src/Middleware/Diagnostics.EntityFrameworkCore/test/FunctionalTests/DatabaseErrorPageMiddlewareTest.cs#L462) when calling ToList(), with the following callstack:

[cod

[2020-09-16 21:03] mackie1001 commented on #28470
`BindAsync()` would be nice too.

[2020-09-16 21:18] agocke commented on #42305
@jiangzeng01 Module.FullyQualifiedName when compiled as single-file in .NET 5 will return either `<Unknown>` or throw, depending on your platform.

You can return to the behavior from .NET Core 3.1 by setting the property `IncludeAllContentForSelfExtract` to true, or change your app to no longer use `Module.FullyQualifiedName`.

[2020-09-16 21:26] agocke commented on #42278
It doesn't. It's not supported.

It's currently not supported to examine the bundle, it's basically an opaque exe.

Setting the property `IncludeContentForSelfExtract` to true will go back to the .NET Core 3.1 behavior instead of using the new bundling.

[2020-09-16 21:43] stephentoub commented on #42342
Is it possible your `List<T>` is concurrently being added to while ToList is being called?  That could manifest in such a condition (and is improper use).

[2020-09-16 21:50] jkotalik commented on #42342
Yeah I think you are right. I'll close this and attempt to fix the test.

[2020-09-16 21:50] #42342 closed

[2020-09-16 21:52] stephentoub commented on #28470
This is a dup of https://github.com/dotnet/runtime/issues/36690 which was fixed by https://github.com/dotnet/runtime/pull/37774 for .NET 5.

[2020-09-16 21:52] #28470 closed

[2020-09-16 21:54] JamesNK opened #42347 "Could Activity.Events cause memory exhaustion in long running activities?"
`Activity.Events` is new in .NET 5. Is there any concern that a long running activity, with many events, could ~create a memory leak~ cause memory exhaustion in an app?

The specific scenario I'm thinking of is a long running gRPC streaming call. There is an activity on the client and server that lasts for the duration of the call. In OpenTelemetry each sent and received message is an event. See h

[2020-09-16 21:58] lewing commented on #42326
It looks like we're not doing sufficient tracking of the state here.  If you change the state of "Pause on exceptions" after navigating to the counter page does it work as expected?

[2020-09-16 22:04] JamesNK commented on #42347
Reason why I am thinking about this - https://github.com/open-telemetry/opentelemetry-dotnet/issues/1276

[2020-09-16 22:07] Turnerj commented on #42237
I'll give it a shot - is there a build artifact from your PR that I use or do I build and run your branch locally?

[2020-09-16 22:07] holc-tkomp commented on #42278
Ah, just updated to RC1, it was still supported in Preview 8, with results below, and thus the question.

<details><summary>Results in Preview 8</summary>

Using simple WPF app, referencing `Microsoft.Data.SqlClient`, using single-file, framework-dependent, win-x86 publish, without `IncludeSymbolsInSingleFile` (or set to false), I was getting the following files as a publish output:

![no include]

[2020-09-16 22:17] agocke commented on #42278
Sorry, I think I typo'd that: should be `IncludeAllContentForSelfExtract`. Can you try that instead?

[2020-09-16 22:18] tarekgh commented on #42347
CC @noahfalk

It depends on your scenario. If you want to capture all events during the gRPC streaming call then you have to pay the memory price for that. And yes the memory expected to expand but there will not be any leak as soon the Activity stopped and GC collect it, all allocated memory will be freed again. This is not different then AddTag for instance.

If the memory is a concern in your s

[2020-09-16 22:28] imhameed opened #42350 "[mono] Tracking: Implement `System.Runtime.Intrinsics.Vector{128,256,64}`"
### `System.Runtime.Intrinsics.Vector128`:

- AsByte
    - [x] amd64
    - [ ] arm64
- AsDouble
    - [x] amd64
    - [ ] arm64
- AsInt16
    - [x] amd64
    - [ ] arm64
- AsInt32
    - [x] amd64
    - [ ] arm64
- AsInt64
    - [x] amd64
    - [ ] arm64
- AsSByte
    - [x] amd64
    - [ ] arm64
- AsSingle
    - [x] amd64
    - [ ] arm64
- AsUInt16
    - [x] amd64
    - [ ] arm64
- AsUInt32
    - [

[2020-09-16 22:33] holc-tkomp commented on #42278
With `IncludeAllContentForSelfExtract` folder in `%temp%\.net\` is generated, although it only seems to contain native dependencies - in this case, just one file: `Microsoft.Data.SqlClient.SNI.dll`. No `WpfApp1.dll`, `.deps.json`, `.runtimeconfig.json` like in raw .NET Core 3.1.

[2020-09-16 22:35] steveharter commented on #42237
For now,  until it is in master and there's a build,  you'll need to make a build with my branch or the changes manually applied.

We may consider this for 5.0. Currently 5.0 is done taking changes for its last RC so the bar is high to get it in and requires validation that it has been tested, which is why I'm asking.

[2020-09-16 23:08] captainsafia commented on #42326
Yep. Loading the app, then navigating to the counter page, then Enable exceptions (and set pause on caught exceptions), then hitting the button works as expected.

[2020-09-16 23:15] omajid commented on #41768
It looks like the single file host simply forgot to check for the distro-agnostic-ssl mode and to link with the system OpenSSL if it's false.

[2020-09-16 23:16] agocke commented on #42278
@holc-tkomp You're right! That looks like a bug to me.

[2020-09-16 23:18] agocke opened #42352 "IncludeAllContentForSelfExtract only extracts native assemblies, when it should extract everything"
`dotnet publish -r win-x64 -p:PublishSingleFile=true -p:IncludeAllContentForSelfExtract` shouldn't be loading managed assemblies from the bundle, but it seems it still is.

[2020-09-16 23:19] agocke commented on #42352
@mateoatr Could you take a look at this?

[2020-09-16 23:20] agocke commented on #42278
Filed https://github.com/dotnet/runtime/issues/42352 for this issue

[2020-09-16 23:21] lewing commented on #42326
Ok good. I think we can fix this by tracking the state in the proxy by session, then forcing the runtime to match on load or exception.

[2020-09-16 23:23] ericstj commented on #42324
Reopen for 5.0.

[2020-09-16 23:37] Thealexbarney opened #42354 "JIT: Poor codegen when calling an instance method on a temporary, unused struct"
### Description
Poor codegen in the following situation:
1. Initialize a new struct
2. Call an instance method on the struct that doesn't depend on any struct fields
3. Don't use the struct again

### Configuration

Running a recent master build on Win 10 2004 x64

### Other information
Given this code, the JIT produces this disassembly for `Method1` and `Method2`:
[code]

If you do it the normal

[2020-09-16 23:40] Turnerj commented on #42237
Yep, no problem. Will have a go today and get back to you ASAP.

[2020-09-16 23:45] layomia commented on #42070
Re-opening for consideration in .NET 5.

[2020-09-16 23:52] jeffhandley commented on #42316
What do you suggest we do on this, @krwq, @buyaa-n, and @stephentoub?

[2020-09-16 23:56] stephentoub commented on #42316
My understanding is the annotation is correct but the compiler isn't yet doing the right thing. If that's true, the right fix is in the compiler, not to degrade the APIs. @jcouv, @cston, is my understanding correct, and if so, when will the compiler fix this?

[2020-09-17 01:40] jeffhandley commented on #41922
@sipsorcery Thanks for reporting this.  With your statement that "output is no longer displayed," does that imply that you saw this working with a previous version and is therefore a regression in 5.0?

[2020-09-17 01:52] weichch opened #42358 "New ConfigureOptions APIs that use TryAddEnumerable"
## Background and Motivation

`ConfigureOptions()` method is often used by library authors who need to add their own types to configure options.

Currently the method uses `AddTransient` internally when adding each of the `IConfigureOptions<>`, `IPostConfigureOptions<>`, and `IValidateOptions<>` found. This often can lead to a problem where if the `ConfigureOptions()` method gets called more than

[2020-09-17 01:59] flin-8 opened #42360 "[3.1] [Linux] Writing a file that takes you over the storage quota in Azure file storage silently fails"
### Description

When using `File.Copy()` in Linux to write a file that takes you over the storage quota in Azure file storage, the write silently fails while leaving behind a truncated file.

- Repeating this on Windows throws an IOException (as expected) and doesn't leave a file behind. Stack trace:
[code]

- Copying the file via `cp` in Linux also errors with `failed to close 'xxx': No space le

[2020-09-17 02:09] jeffhandley commented on #42316
I'm applying the blocking-release label on this one so that we can track it closely and make a deliberate decision before 5.0 ships.

[2020-09-17 02:10] danmosemsft commented on #42360
This looks like it may be https://github.com/dotnet/runtime/pull/38742
Can you please try with 5.0 RC1?

[2020-09-17 02:16] stephentoub commented on #42316
@chsienki, @Jaredpar, could you comment on the status of https://github.com/dotnet/roslyn/issues/32671?

[2020-09-17 02:22] xiangzhai commented on #42290
76 hours continuously running for MIPS64 :)

Thanks,
Leslie Zhai

[2020-09-17 02:38] Turnerj commented on #42237
Took about an hour and a half of working how what/how to build the PR locally, working around various issues (needing to install Python and C++, building my test application via command line for reasons I'll explain), I believe I've managed to test it out correctly.

I built your "IgnoreNull" branch (via `build.cmd clr+libs -rc Release`) though couldn't work out how to reference the whole build so

[2020-09-17 02:42] xiangzhai opened #42361 "[RFC] Sanitizer support"
Hi,

There is too much noise coming from the *original* sanitizer lead False Positive:  https://github.com/dotnet/runtime/issues/553#issuecomment-564099820

And OpenJDK met the same issue: https://bugs.openjdk.java.net/browse/JDK-8208520

So here comes:

* TSan callbacks in the JVM - TSan provides a callback to handle moved object, and the TSan/Java implementation inserts this callback at appropri

[2020-09-17 02:52] jiangzeng01 opened #42362 "[5.0.100-rc.2.20464.10] Single File publish failed for dnspy app after retarget .NET5"
**Application Name:** dnspy
**OS:** Windows 10 RS5
**CPU:** X64
**.NET Build Number:** 5.0.100-rc.2.20464.10
**App Source :**
\\appcompatsrv\Appcompat\DotNetCore\AppSource\SingleFileP0AppsTarget5\AppSources\dnSpy
**DevDiv issue:** [https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1215382](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1215382)

**Repro steps:**
Install .NET5.0.100-rc

[2020-09-17 02:57] jiangzeng01 opened #42363 "[5.0.100-rc.2.20464.10] Single File launch failed for MultiRPC app after retarget .NET5"
**Application Name:** MultiRPC
**OS:** Windows 10 RS5
**CPU:** X64
**.NET Build Number:** 5.0.100-rc.2.20464.10
**App Location:** \\appcompatsrv\Appcompat\DotNetCore\AppSource\SingleFileP0AppsTarget5\Apps\MultiRPC
**App Source:**  \\appcompatsrv\Appcompat\DotNetCore\AppSource\SingleFileP0AppsTarget5\AppSources\MultiRPC
**DevDiv bug:** [https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1215391

[2020-09-17 02:58] jiangzeng01 commented on #42363
There is another issue for this app when target default 3.x.
Which is different with this issue:
[https://github.com/dotnet/runtime/issues/41091](https://github.com/dotnet/runtime/issues/41091)

[2020-09-17 03:01] lewing commented on #40112
@kg is this still failing for net5.0?

[2020-09-17 03:03] EccentricVamp opened #42364 "Add a service configuration pattern, similar to UseStartup<> from IWebHostBuilder"
Most of the following ideas and syntax are copied from suggestions here: #42258, with modifications taken from the discussion below
## Background and Motivation
`IWebHostBuilder` has carried over a convenient pattern to separate `HostBuilder` boilerplate from it's DI service and HTTP pipeline configuration.

According to [Tratcher](https://github.com/dotnet/runtime/issues/42258#issuecomment-692833

[2020-09-17 03:05] EccentricVamp commented on #42258
Thanks @Tratcher  for the thoughtful response and proposal. This solution seems adequate to me

@eerhardt  I gave the template a shot #42364
I feel it is necessary to point out that I'm not the one who originally opened this request, and was merely looking for an elegant/standard solution for configuring services. So, I mostly just copied suggestions from this thread. Let me know if I messed anyth

[2020-09-17 03:05] v-haren commented on #41652
failed again in job: [runtime-coreclr jitstress 20200915.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=817019&view=ms.vss-test-web.build-test-results-tab&runId=26011074&resultId=102319&paneView=debug)

failed test: profiler\\unittest\\getappdomainstaticaddress\\getappdomainstaticaddress.cmd

CoreCLR Windows_NT x64 Checked jitstress1_tiered @ Windows.10.Amd64.Open

Error message
[c

[2020-09-17 03:10] kg commented on #40112
I never successfully reproduced this bug locally to begin with, so I don't know.

[2020-09-17 03:12] lewing commented on #40112
Ok, I'll take a look. I was able to reproduce it in the past.

[2020-09-17 03:18] v-haren opened #42365 "Test failure: JIT/Stress/ABI/pinvokes_do/pinvokes_do.sh"
failed in job: [runtime-coreclr jitstress 20200915.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=817019&view=ms.vss-test-web.build-test-results-tab&runId=26011668&paneView=debug&resultId=101978)

CoreCLR Linux x64 Checked zapdisable @ Ubuntu.1804.Amd64.Open

Error message
[code]

[2020-09-17 03:26] RikkiGibson commented on #42316
The scenario in this issue's description (`[NotNullIfNotNull]` in user-defined conversion) is fixed by dotnet/roslyn#47555.

However the exact scenario in dotnet/roslyn#32671 is not fixed--I forgot to test the scenario of a conversion to bool with attributes like `[NotNullWhen]` on the parameter 😅

[2020-09-17 03:27] Tratcher commented on #42364
Clarification: The new API should be an extension method on IHostBuilder.

[2020-09-17 03:49] flin-8 commented on #42360
Hi @danmosemsft ,

Yes 5.0 RC1 does fix this - thank you for the pointer.

Is there any appetite to backport this fix to 3.1? This is hurting us as we are now getting corrupt files randomly.

[2020-09-17 03:58] v-haren commented on #41929
failed again in job: [runtime-libraries-coreclr outerloop 20200916.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=817342&view=ms.vss-test-web.build-test-results-tab&runId=26020616&resultId=104244&paneView=debug)

failed test: System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2.Http2_PingKeepAlive(keepAlivePingDelay: 00:00:01, keepAlivePingPolicy: Always, expectRequestFail

[2020-09-17 04:01] v-haren commented on #41723
failed again in job: [runtime-libraries-coreclr outerloop 20200916.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=817342&view=ms.vss-test-web.build-test-results-tab&runId=26020616&paneView=debug&resultId=102066)

failed test: System.Net.NameResolution.Tests.TelemetryTest.EventSource_ResolveValidHostName_LogsStartStop

net5.0-Windows_NT-Release-x64-CoreCLR_release-Windows.81.Amd64.O

[2020-09-17 04:10] danmosemsft commented on #42360
Thanks for the info. We were waiting for customer evidence (I think). ... thoughts about risk here @carlossanlop ?

[2020-09-17 04:12] danmosemsft commented on #42360
Just curious @flin-8 are you likely to update to 5.0 when it ships in 2 months?

[2020-09-17 04:20] mangod9 commented on #12342
Hi @ericwj, Looks like the original issue is by design. Could you please open a new issue if there is something you feel needs to be investigated? Thx.

[2020-09-17 05:57] ar0311 commented on #42328
Is it planned to customise included locales during build?

[2020-09-17 06:22] flin-8 commented on #42360
@danmosemsft the short answer is no.

The long answer is we will need to plan for the update and dedicate some time to stabilize and address any regressions arising from it. We only upgraded to 3.1 at the start of the year, so there's no definite timeframe for that at the moment.

[2020-09-17 06:27] danmosemsft commented on #42360
@flin-8 i fully understand. We’ll evaluate a port

[2020-09-17 07:08] tmds commented on #42333
cc @danmosemsft

[2020-09-17 07:20] sipsorcery commented on #41922
Yes. I was definitely getting normal console output on this type of mixed console/forms application up until very recently.

I spent some more time trying to find a combination of `dotnet run` with `--framework` and/or `--runtime` that would work but to no avail. The best I can get is to build with the Visual Studio 2019 IDE and then use `--no-build`.

[code]

[2020-09-17 07:23] noahfalk commented on #42347
Hi @JamesNK thanks for raising the issue!
Poking around I see java uses a [bounded queue](https://github.com/open-telemetry/opentelemetry-java/blob/d42d4cd9e2d79c8e5bdc3c43aac5e077f4147794/sdk/tracing/src/main/java/io/opentelemetry/sdk/trace/RecordEventsReadableSpan.java#L137) whereas .NET currently has an unbounded one. I was searching in the specification and I may have missed it but I didn't se

[2020-09-17 07:41] tmds commented on #42333
@SommerEngineering I took your repro app and removed the Thread.
[code]
The issue reproduces for me:
[code]

[2020-09-17 07:47] eiriktsarpalis commented on #42333
I can reproduce it as well. Note that this is unrelated to `Thread.Sleep`, but most likely relates to the `Console.KeyAvailable` check. I removed that and the issue went away completely.

I couldn't make the issue reproduce on WSL2.

[2020-09-17 07:56] isiahto commented on #20411
Hello, I was going to contribute to the ComponentModel.TypeConverter test coverage, then I saw @danmosemsft message so I hopped over here.
I was able to build the `TypeConverter` project and make changes to the tests and all that, but I cannot build the `System.Private.Xml` project to begin with.

To add some context, I have built the runtime using `.\build.cmd clr+libs -rc checked -lc release`
Th

[2020-09-17 07:56] KalleOlaviNiemitalo commented on #42314
Instead of needing an attribute, perhaps code editors could search for `static` methods that have a `Create` or `From` prefix and the correct return type. I don't think analyzers could require the use of those, though; it would cause too many warnings for correct code.

[`<completionlist cref="…"/>`](<https://stackoverflow.com/a/30633350> "vb.net - Display list of acceptable values for parameter o

[2020-09-17 08:09] andrii-litvinov commented on #33571
@mangod9 I tried to collect the dump for a process
[code]
And got following error
[code]

Cannot get dump for any other MSBuild processes. I suppose the one that is hanging is 26457, because when the build being cancelled by timeout it's the only process that remains. And when I kill it all build successfully proceed.

[2020-09-17 08:10] tmds commented on #42333
Yes, while checking `KeyAvailable`, the terminal is reconfigured which causes `\r` to be converted to `\n`. So `Enter` keys pressed during `KeyAvailable` check get returned as `Key info: char=10; recognized key=J`.

Probably the 0 argument should have been added to the front of the SystemNative_InitializeConsoleBeforeRead arguments instead of the back in https://github.com/dotnet/runtime/pull/3749

[2020-09-17 08:11] JamesNK commented on #42347
Lets call it an easy way to cause memory exhaustion instead.

The difference between tags and events is there are a finite number of tags an app would want to add, while events can be unbounded.

I don't know how common it would be. As a server dev I'm paranoid about accidentally killing a server by using up resources, so I think about this sort of thing, but it is an easy mistake for anyone using

[2020-09-17 08:18] tmds commented on #42333
I've made the change and it consistently reports Enter:
[code]

[2020-09-17 08:20] eiriktsarpalis commented on #42333
Yes, this is a very clear bug introduced [here](https://github.com/dotnet/runtime/commit/a62bfcbd6e03396e85232a73aeef10df9df5fa4d#diff-8885fe503b126dee072a443356a8a1baR382). It should have read

[code]

[2020-09-17 08:20] tmds commented on #42333
I'm going to make a PR for it in a sec.

[2020-09-17 08:21] eiriktsarpalis commented on #42333
Thanks. @danmosemsft we should consider backporting this to 5.0.

[2020-09-17 08:22] msedi commented on #42309
@EgorBo: Thanks a lot for your help. This is really awesome. I only have one question. You are using `Vector<float>.Count == 8` instead of the Sse2.IsSupported, etc.  Is there any reason why you prefer this over the other?

[2020-09-17 08:23] Symbai opened #42369 "System.Text.Json.JsonSerializer throws NotSupportedException when serializing BitmapImage"
### Description

System.Text.Json.JsonSerializer throws a notsupportexception when trying to serialize a class which contains a Bitmapimage property. `NotSupportedException: "BitmapMetadata" is not available for "BitmapImage".`

### Configuration

Targeting .NET Core 3.1
WPF Application
Windows 10
[code]

### Other information

##### Code
[code]

[2020-09-17 08:23] dingydandy opened #42370 "Transient failure accessing nugets redirects CoreCLR build to a broken backup link"
*Initial cost estimate*: 2 days
*Initial contacts*: @trylek, @ViktorHofer

I get coreclr source code from https://github.com/dotnet/runtime.git, the master branch, and I want to biuld the source code, so I run build.cmd, however, I get the following feedback:
E:\Code\netcore src\coreclr>.\build.cmd
dotnet-install: Downloading link: https://dotnetcli.azureedge.net/dotnet/Sdk/5.0.100-rc.1.20454.5/do

[2020-09-17 08:29] tmds commented on #42333
@SommerEngineering thanks for the clear bug report!

[2020-09-17 08:29] rajeevcoding opened #42372 ".NET Core 3.1 - FileInfo not giving any value corresponding to Change timestamp in Linux"
I am getting files copied to Linux system by an external job. My .NET Core Worker service then picks those files and process it. What I want is to have an offset of 2 minutes before accessing any files after it is copied. This is to ensure, the file is copied completely before I start reading it. On Windows, I can access the Copy time by accessing Last Access time. See below -

CreationTime - 9/3/

[2020-09-17 08:46] pinkfloydx33 commented on #42356
I'd argue that it doesn't *correctly* serialize the time span. At the very least I'd expect either only ticks/totalMilliseconds *or* days/hours/mins/secs. Surely all of the "TotalX" properties don't really belong.

Newtonsoft serializes Timespan into a string in the format `d.hh:mm:ss.fffffff` which can then be easily deserialized. This actually caused several issues for us when migrating, breakin

[2020-09-17 08:57] EgorBo commented on #42309
ideally to check both, e.g.

[2020-09-17 09:02] ahsonkhan commented on #41945
We should update the documentation of `Utf8JsonReader.TryGetDouble` to provide this detail.

FWIW, the `JsonElement.TryGetDouble` already has the useful remark that would help answer this question, which we can copy over:
https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsonelement.trygetdouble?view=netcore-3.1#remarks

[2020-09-17 09:08] iSazonov opened #42373 "Calling GetFullPathName() with a path string without terminating '\0'"
### Description

System.IO.Path API

Compare:
https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.Private.CoreLib/src/System/IO/PathHelper.Windows.cs#L26-L31

https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.Private.CoreLib/src/System/IO/PathHelper.Windows.cs#L50-L55

In second case we explicitly a

[2020-09-17 09:08] EgorBo commented on #42370
Are you under some proxy?

[2020-09-17 09:08] iSazonov commented on #42373
/cc @carlossanlop

[2020-09-17 09:09] MajorScruffy opened #42374 "Intrinsics are not documented"
As someone who has never worked with intrinsics before, I wanted to have a look at the documentation to see what APIs are available, and what can actually be achieved with them. To my dismay, the documentation for all methods was basically just the declaration of the native function.

Let's take [Avx2.Add(Vector256<UInt64>, Vector256<UInt64>)](https://docs.microsoft.com/en-us/dotnet/api/system.run

[2020-09-17 09:09] ahsonkhan commented on #41805
And to add more context: https://github.com/dotnet/runtime/issues/30348#issuecomment-530218830

That's why we leave the `Deserialize` API name as is, but `Serialize` needed to be named `SerializeToUtf8Bytes`.