[2022-08-05 14:10] vitek-karas commented on #73436
How did you build the test in question for NativeAOT?
I tried the usual way but it fails for me.

[2022-08-05 14:11] jkotas commented on #73432
https://github.com/dotnet/runtime/blob/main/src/libraries/System.Security.Cryptography.Xml/src/ILLink/ILLink.Suppressions.xml lists all places that have trimming issues in this library.

[2022-08-05 14:17] tannergooding commented on #66082
Given that we have `Vector128.IsHardwareAccelerated`, `Vector128.LoadUnsafe` and `Vector128.StoreUnsafe` which do safely operate with `ref byte` to do unaligned SIMD load/stores; this should be something we can reasonably fix, keep performance, and make work with the normal JIT expectations that `T` is must be "naturally aligned" (e.g. `1-byte` aligned for `byte`).

[2022-08-05 14:32] jkotas commented on #66082
This code is not 100% portable, but it works just fine on all platforms that we support. It is not a bug since we own the runtime and the list of platforms that we support. If we add a new platform to the list where this is a problem or make other changes in the runtime that make it problematic, we will fix this implementation.

It would be a bug if this code was in 3rd party library that aims to

[2022-08-05 14:35] jkotas commented on #66082
Agree that it would be nice to switch this code to use Vector128 now that we have this capability.

[2022-08-05 14:44] fanyang-mono opened #73462 "[Mono] Add SIMD support for System.Numerics.Vector2 on Arm64"
Methods:

- [x] ctor
- [x] Abs
- [x] Dot
- [x] GetElement
- [x] Max
- [x] Min
- [x] SquareRoot
- [x] WithElement
- [x] get_Item
- [x] get_One
- [x] get_Zero
- [x] set_Item

Operators:

- [x] Additon
- [x] Division
- [x] Equality
- [x] Inequality
- [x] Multiply
- [x] Subtraction

[2022-08-05 14:46] fanyang-mono commented on #69186
This issue was completed via #72124.

[2022-08-05 14:46] #69186 closed

[2022-08-05 14:58] karelz commented on #73040
It happened twice - see updated top post (from manual search of last 120 days of failures).
Most of the Runfo associated failures are different problems - I wish there was a way to disassociate the Runfo failure with the issue.

[2022-08-05 15:06] BrzVlad commented on #73040
If the crash dump would contain the runtime stacktrace, fixing this might be pretty easy. Not sure if there is a problem in the infrastructure that prevents this. Moving to 8.0 for now since it doesn't look like I will be able to investigate this anytime soon.

[2022-08-05 15:20] MichaelSimons opened #73463 "Package compatibility check target fails to parse"
[code]

Looking around, I think this may be related to https://github.com/dotnet/runtime/pull/72518.  It appears the `;` in the warning message is getting interpreted as a line break therefore making the `&lt` invalid.

The NuGet package in my build shows the following:
[code]

cc @ViktorHofer

[2022-08-05 15:20] chamons opened #73464 "RegionInfo.CurrentRegion.ISOCurrencySymbol returns XDR on iOS device"
_From @Eilon on Thu, 04 Aug 2022 18:16:47 GMT_

---
**Issue moved from dotnet/maui#9182**
- Please respond to @softlion.

---

_From @softlion on Thursday, August 4, 2022 8:37:59 AM_

### Description

On an iOS device set to french FR/fr, RegionInfo.CurrentRegion.ISOCurrencySymbol returns XDR instead of EUR.
This happens only on the device, not on the simulator.

Also, when using standard resource

[2022-08-05 15:20] chamons commented on #73464
_From @softlion on Thu, 04 Aug 2022 19:31:22 GMT_

I'm using MAUI iOS, not Xamarin @Eilon
Why did you moved that here ?*

It's working perfectly fine on Xamarin. It's a migrated app.

[2022-08-05 15:20] chamons commented on #73464
_From @GalaxiaGuy on Fri, 05 Aug 2022 13:13:24 GMT_

The code for both Xamarin.iOS and .NET iOS exists in this repo.

[2022-08-05 15:20] chamons commented on #73464
_From @chamons on Fri, 05 Aug 2022 15:18:21 GMT_

So `RegionInfo.CurrentRegion.ISOCurrencySymbol` is a BCL API ([System.Globalization](https://docs.microsoft.com/en-us/dotnet/api/system.globalization?view=net-6.0)) and not part of macios.

I believe https://developer.apple.com/documentation/foundation/nslocale/1642836-currencycode?language=objc would be the standard way of looking this up on iOS.

[2022-08-05 15:20] chamons commented on #73464
_From @chamons on Fri, 05 Aug 2022 15:20:11 GMT_

I am going to move this issue to dotnet/runtime as they own the BCL API in question.

[2022-08-05 15:27] #73409 closed

[2022-08-05 15:30] vitek-karas opened #73465 "Add ability to trim DtdParser when using default XmlReader settings"
When using `XmlReader` created via `XmlReader.Create` DTD parsing is prohibited by default (for security reasons). So it's very likely that vast majority of apps have it turned off. Trimming such app (either via `PublishTrimmed=true` or `PublishAot=true`) should ideally be able to remove all code related to DTD parsing, as it will never be used. Currently that's not the case.

Long time ago we had

[2022-08-05 15:48] MihaZupan commented on #73459
Uri unfortunately attempts to recognize implicit file paths. As a result, single-letter schemes may be interpreted as file Uris.
You are correct in that #59099 is related - with the `AllowImplicitFilePaths` flag set to false, this would instead be recognized as an absolute Uri with scheme `a`.

What is the significance of using Uris like this in your scenario (as opposed to any other more descript

[2022-08-05 15:51] bartonjs commented on #73432
I don't think there's anything in System.Security.Cryptography.Xml that /is/ trimmer friendly.

[2022-08-05 16:01] #73402 closed

[2022-08-05 16:01] Mr0N opened #73470 "The default deserializer is not working properly"
### Description

The default deserializer will deserialize dson incorrectly.Json is in the example repository
https://github.com/Mr0N/ExampleJsonException/blob/master/ExampleJsonException/Program.cs
https://github.com/Mr0N/ExampleJsonException/blob/master/ExampleJsonException/load.txt
### Reproduction Steps

-

### Expected behavior

-

### Actual behavior

-

### Regression?

-

### Known Workaro

[2022-08-05 16:03] tarekgh commented on #47875
@Lambdageek yes, it is worth trying in the next cycle.

[2022-08-05 16:23] eiriktsarpalis commented on #73388
Should be investigated in unison with #71392, it concerns the same benchmark that regressed as part of the same feature.

[2022-08-05 16:33] #61411 closed

[2022-08-05 16:34] eiriktsarpalis commented on #73470
The JSON doesn't match the property names. In order for your example to work you need to specify a [property naming policy](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsonserializeroptions.propertynamingpolicy?view=net-6.0). The following should work in your example:

[code]

[2022-08-05 16:34] #73470 closed

[2022-08-05 16:36] eiriktsarpalis commented on #71392
Closing in favor of #73388.

[2022-08-05 16:36] #71392 closed

[2022-08-05 16:36] antonfirsov commented on #73154
This is fixed now with https://github.com/dotnet/website/pull/4218:
https://dev.azure.com/dnceng/public/_build/results?buildId=1925398&view=results

[2022-08-05 16:36] #73154 closed

[2022-08-05 16:46] Mr0N commented on #73470
![image](https://user-images.githubusercontent.com/61237140/183123492-62087c21-c67f-45e5-9d68-f34cafbbef56.png)

[2022-08-05 16:51] Mr0N commented on #73470
![image](https://user-images.githubusercontent.com/61237140/183124259-c3dbb946-d82a-4bca-b836-de8c76e1949c.png)

[2022-08-05 16:54] lewing commented on #73184
Given that we've only seen this on the perf lanes it wouldn't surprise me if this is another hardware issue

[2022-08-05 16:59] eiriktsarpalis commented on #73470
Your class defines two properties called tag which collide when collapsed using the camel case naming policy.

[2022-08-05 17:02] Mr0N commented on #73470
Why does Newtonsoft.Json work fine, but the system library does not work in this case?

[2022-08-05 17:09] karelz commented on #73038
Most of the PR failures are caused by the PRs themselves. Only 1 failure happened 3x in last week - still worth of 'blocking-clean-ci' label.

@noahfalk were the failures in your PR #72179 from 7/19 caused by your PR?

[2022-08-05 17:10] broll commented on #43788
I solved this by wrapping the stream that seeks to origin on dispose

[2022-08-05 17:15] vcsjones commented on #73437
Which ISA base does this imply? RV32I or RV32E? Would it make sense to have one for each? If it's only for RV32I (or possibly RV32E) would it make sense to be explicit in the name?

Or do we imagine these values covering both base ISAs?

[2022-08-05 17:16] lambdageek opened #73474 "[wasm] AOT compilation failing for System.Private.CoreLib in System.Runtime.Tests"
For example: https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-73468-merge-2da65b674641464283/normal-System.Runtime.Tests/1/console.98515402.log?helixlogtype=result

[code]

[2022-08-05 17:17] lambdageek commented on #73474
I can repro with `main` 5d4526d8b20 locally.  Here's the backtrace:

[code]

[2022-08-05 17:17] wfurt commented on #72586
yes @karelz. HttpConnection use token registration to dispose underlying stream on cancelation. However, because we don't pass it into the stream, it is not root and eligible for collection in this particular test. When the finalizer runs, we skip the cleanup logic in Dispose and the task hangs.
There may be perf penalty or other consequences for changing the cancelation so we should approach it c

[2022-08-05 17:18] eiriktsarpalis commented on #73470
"work fine" is debatable, they are two different libraries that have different semantics. Json.NET allows case-insensitive binding whereas Json.NET is case sensitive unless a naming policy is specified. Matching the behavior of Json.NET is not a design goal for System.Text.Json.

[2022-08-05 17:18] lambdageek commented on #73474
It's in this function

https://github.com/dotnet/runtime/blob/a1a6bb3ce05f35d1fdbb28e5e222aee6a9997d42/src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Byte.cs#L774-L776

which was recently changed in https://github.com/dotnet/runtime/pull/73384

[2022-08-05 17:20] lambdageek commented on #73474
To repro:

[code]

[2022-08-05 17:21] karelz commented on #73247
This has pretty big impact on CI - causing 4 failures per day - @mangod9 @cshung can you please disable it ASAP?
Note: First occurrence was in @cshung's PR - see updated top post.

[2022-08-05 17:25] Mr0N commented on #73470
Oh well, I thought System.Text.json is a copy of Newtonsoft.Json, if not, I will use Newtonsoft.Json. Okay, the question is closed!

[2022-08-05 17:25] hoyosjs commented on #73247
@mangod9 given the hit rate, I'll disable this test while it gets investigated

[2022-08-05 17:26] jkotas commented on #73474
I have reverted the offending change in https://github.com/dotnet/runtime/pull/73476 .

[2022-08-05 17:29] bartonjs commented on #57810
No longer repros:

[code]

[2022-08-05 17:30] bartonjs commented on #57810
Actually, while the title never mentioned mono, I see the intro text did...  reopening while I figure out how to run under mono.

[2022-08-05 17:32] hoyosjs commented on #73247
PR to disable: https://github.com/dotnet/runtime/pull/73477

[2022-08-05 17:32] lambdageek commented on #73474
Here's the IL from the publish folder (so presumably after trimming)

<details>
<pre>
    // method line 5714
    .method public static hidebysig
           default int32 IndexOfAny (unsigned int8& A_0, unsigned int8 A_1, unsigned int8 A_2, int32 A_3)  cil managed unknown-flag-200
    {
        // Method begins at RVA 0x4e10c
	// Code size 682 (0x2aa)
	.maxstack 3
	.locals (
		unsigned int32	V_0,

[2022-08-05 17:42] vcsjones commented on #57810
If this no longer repros - great. This is holding consolidating the X.509 tests in to the more general S.S.Cryptography/tests.

[2022-08-05 17:42] eiriktsarpalis commented on #73371
I can reproduce, strangely enough it only occurs when using the source generator from the NuGet package. `ConverterStrategy` is an internal type inside System.Text.Json, so presumably the source generator gets something wrong on accessibility modifiers, but only for the NuGet build.

Minimal reproduction:
[code]
Project configuration
[code]

[2022-08-05 17:44] #50365 closed

[2022-08-05 17:49] ViktorHofer commented on #73463
Will take a look. Thanks for reporting. Apparently our CI doesn't test for that.

[2022-08-05 17:50] tactical-drone commented on #73390
I cannot seem replicate it under normal conditions. I just recoded it in such a way that it does not matter where that thread goes.

It must be some consequence of how the async works out in my system. It is hard to track what exactly is going on, or how things should be.

For now I am just going to close this.

Thanks.

[2022-08-05 17:52] lambdageek commented on #73474
It's the last IL instruction:
[code]

the problematic case (thank you good backtrace) is here:

https://github.com/dotnet/runtime/blob/916f1ad5b391764e964b271f80b915869e1afed0/src/mono/mono/mini/method-to-ir.c#L8458-L8459

So we want to create a basic block for the instruction after the current (last!) one and link it to the current basic block.

`GET_BBLOCK` starts like this:

https://github.com/

[2022-08-05 17:52] lambdageek commented on #73474
So the linker gave us some bad IL

[2022-08-05 17:53] alexrp commented on #73437
Unfortunately, it doesn't seem like that was considered when adding these machine types to the PE spec. It would probably be reasonable to assume that they effectively mean RV32I, considering RV32E hasn't been formally ratified yet.

If RV32E is ratified, there would likely need to be new machine types added for it, similar to how there are separate machine types for Arm, Arm Thumb, and Arm Thumb-

[2022-08-05 17:54] am11 commented on #73437
`Architecture.Riscv32` can be added to the proposal, so far I only added to the PE Machine values which (I think) implies "any extension" (or micro-architecture), included embedded `E`.

I will defer to @vargaz and @alexrp for accurate answer, but I think mono's implementation is adaptive to a certain extent that JIT keeps track of hwcaps and adapts to the target ISA extension when emitting the ma

[2022-08-05 17:59] wfurt commented on #73343
how about we disable the tests on Arm32 @filipnavara? I'll try to get hands on repro machine and I can try to collect more info next week.

[2022-08-05 18:00] tarekgh commented on #73464
@steveisok could you please triage this one? Thanks!

[2022-08-05 18:07] eiriktsarpalis commented on #65382
Regression appears to have been fixed.

[2022-08-05 18:07] #65382 closed

[2022-08-05 18:07] alexrp commented on #73437
It's been a while since I touched the RISC-V code in Mono, but I think Mono would be able to function with just I + A. Our experience on older Arm versions indicated that it's virtually impossible to make a .NET runtime function properly without atomic instructions, so the A extension is effectively mandatory.

M is just for faster multiplication; it can be emulated in a JIT helper. Mono has soft

[2022-08-05 18:08] eiriktsarpalis commented on #65190
According to the reporting data, regression appears to have been fixed now.

[2022-08-05 18:08] #65190 closed

[2022-08-05 18:10] hoyosjs commented on #68176
@agocke Is it a good idea to have a tracking issue of such a wide issue with runfo? (aka, if the common coreclr tests fails fails, immediately add it here)

[2022-08-05 18:10] MihaZupan commented on #72586
@stephentoub isn't the issue more so that when we register for cancellation on `HttpConnection`, [we do so using a weak reference](https://github.com/dotnet/runtime/blob/916f1ad5b391764e964b271f80b915869e1afed0/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs#L902-L912)?
If we had passed a strong ref to the connection instead, the CTS would be rooting the conn

[2022-08-05 18:10] filipnavara commented on #73343
I am fine with disabling them and continuing to investigate. I'm just not quite sure how to disable the tests on particular architecture (aside from manual check [here](https://github.com/dotnet/runtime/blob/916f1ad5b391764e964b271f80b915869e1afed0/src/libraries/Common/tests/System/Net/Security/Kerberos/KerberosExecutor.cs#L31-L32)).

[2022-08-05 18:11] AaronRobinsonMSFT commented on #72400
@tannergooding Can you address the new numeric related APIs?

[2022-08-05 18:12] eiriktsarpalis commented on #63458
According to historical data, performance appears to have rebounded since.

[2022-08-05 18:12] #63458 closed

[2022-08-05 18:14] tannergooding commented on #72400
They should all be documented already, just need the porting tool to grab them.

CC. @carlossanlop, please let me know if that's not the case for any of these.

[2022-08-05 18:15] AaronRobinsonMSFT commented on #67508
Closing. Tests moved to outerloop.

[2022-08-05 18:15] #67508 closed

[2022-08-05 18:16] eiriktsarpalis commented on #64626
Performance for the particular benchmarks appears to have regressed substantially over the recent months:

![newplot](https://user-images.githubusercontent.com/2813363/183137220-58d5ff80-1d3c-4d57-86ad-6f82cbf055b7.png)

I don't believe we've made any change to Xml over that time, codegen related perhaps?

[2022-08-05 18:16] wfurt commented on #73343
as it is transient, I think updating `IsSupported` would be fine.

[2022-08-05 18:27] wfurt commented on #27727
The consensus so far is that it is not possible with available macOS API. That leaves IMHO alternative with OpenSSL backend or HTTP/3. (that gives gRPC without dependency on SslStream)

[2022-08-05 18:30] bartonjs commented on #57506
https://helix.dot.net/ only talks about mariner.2, but https://github.com/dotnet/runtime/blob/916f1ad5b391764e964b271f80b915869e1afed0/eng/pipelines/libraries/helix-queues-setup.yml#L75 says mariner.1 (and there's no pipeline using mariner.2 that I see) so I'm not entirely sure the right way to go about clearing the ActiveIssue label here. But, having said that.

[code]

That was with re-enabling

[2022-08-05 18:32] bartonjs commented on #57810
Verified that it's not crashing on mariner.2, but unclear on how to proceed with removing the ActiveIssue labels see long update at https://github.com/dotnet/runtime/issues/57506#issuecomment-1206738959.

[2022-08-05 18:38] wfurt commented on #57506
`(Mariner.1.0.Amd64.Open)` is container. https://helix.dot.net/  only shows full OSes e.g queues. In the example above,
we run the container on top of Ubuntu 16 -> that should be loooooong dead.

I think not would be OK to remove the active issue if we run on Mariner.2.
And we should probably update the test queue to run on current version(s)

[2022-08-05 18:39] filipnavara commented on #73343
Submitted as #73445, needs a `/azp run runtime-extra-platforms` comment from someone with sufficient privileges.

[2022-08-05 18:41] tactical-drone commented on #73390
Turns out the API was there all along. I just must have [missed](https://github.com/protocolbuffers/protobuf/blob/9f58ee3f04fe5ae013c8014a773a46db54382546/csharp/src/Google.Protobuf/MessageExtensions.cs#L152
) it.

That extension leads to [this](https://github.com/protocolbuffers/protobuf/blob/79c3d07c63e711255e0d566c9b876706e978686a/csharp/src/Google.Protobuf/ByteString.cs#L58) which I did not se

[2022-08-05 18:43] TyBarthel commented on #27727
Are there any disadvantages to advising macOS users to use NGINX to handle SSL  and `grpc_set_header` to send along cert and other details if needed in application code?

[2022-08-05 18:44] steveisok commented on #58561
Seems to be no longer happening.  Closing.

[2022-08-05 18:44] #58561 closed

[2022-08-05 18:45] lambdageek commented on #73474
Took a while to find the untrimmed IL (it's in `artifacts/obj/mono/System.Private.CoreLib/wasm/Release/PreTrim/System.Private.CoreLib.dll`). https://gist.github.com/lambdageek/926024d4afcc5f0d07167f80e8350af9

so it's not something that the c# compiler produced originally

[2022-08-05 18:49] lambdageek commented on #73474
Arguably this code is "fine" at runtime it will always take the branch.

[code]

And we could make the runtime resilient: notice it's the fallthru that's out of bounds, so emit a fake bb with a throw in it (that will never be taken in this example).

But should the linker be making stuff like this or should it try to create an unconditional branch?

[2022-08-05 18:50] Grandizer commented on #62054
In hope that this will help, I received the same error message about `Assertion: should not be reached` and my issue was because I had an event on an objects OnChange and then within a method that gets called when changed, it was changing to item thus calling the OnChange method again. Took about 4,000 iterations to occur, but I removed the OnChange event handler and the error went away.

[2022-08-05 18:57] lambdageek commented on #73474
@mareks @vitek-karas Is it reasonable to expect the linker not to make branches like this?

[2022-08-05 18:57] eerhardt commented on #73386
We can always add the switch later (even in a servicing release after GA) if we get real-world reports that the subtle crypto infrastructure is causing problems.

Would it work to wait until we get data that there is an issue? Rather than being aggressive about putting in safety switches preemptively?

[2022-08-05 18:58] filipnavara commented on #73343
I managed to reproduce the issue with the Helix payload on Debian machine running in AWS on ARM64 machine (with ARM32 binaries). That's a good start for debugging it.

[2022-08-05 18:59] akoeplinger commented on #58367
The test failure was fixed by changes in the test to catch these UnauthorizedAccessException on iOS/tvOS.
The arm64 iOS simulator behaves closer to devices which is why we're seeing the exception there.

[2022-08-05 18:59] #58367 closed

[2022-08-05 19:02] steveisok commented on #73464
Similar to https://github.com/dotnet/runtime/issues/70028.  This is something we will address in .NET 8.

[2022-08-05 19:17] NikolaMilosavljevic commented on #58168
[Triage] @ViktorHofer do you know if this still repros?

[2022-08-05 19:18] madelson commented on #72320
Here's the case I would make for scalar type:

**Compat**: today, you can check the nullability of an out/ref member and it is sometimes correct, especially if explicit attributes are present. The result does not have an element type. If we change to compound, anyone relying on this behavior will break.

**Unnecessary**: with arrays, it makes sense to have element type since nullability affects th

[2022-08-05 19:22] jkotas commented on #73474
No. This is a bug in the linker that needs to be fixed.

[2022-08-05 19:23] MichaelSimons commented on #54519
One suggestion to investigate is mentioned [here](https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-mixup) which describes how YUM supports excludes when registering a feed

[code]

[2022-08-05 19:23] steveisok commented on #60115
Confirmed this is running and passing on CI.

[2022-08-05 19:23] #60115 closed

[2022-08-05 19:23] noahfalk commented on #73405
Yep, I'll see what I can do.

[2022-08-05 19:25] NikolaMilosavljevic commented on #45972
[Triage] @ViktorHofer is this still needed?

[2022-08-05 19:28] NikolaMilosavljevic commented on #44842
[Triage] @ViktorHofer is this still an issue?

[2022-08-05 19:33] NikolaMilosavljevic commented on #1252
[Triage] @NikolaMilosavljevic can you follow up on this issue?

[2022-08-05 19:33] #61893 closed

[2022-08-05 19:34] NikolaMilosavljevic commented on #749
[Triage] @ViktorHofer is this still needed?

[2022-08-05 19:52] #72857 closed

[2022-08-05 19:55] hoyosjs commented on #44842
In-build signing and other legs with complex behavior (crossdac) took a dependency on this. It's not blocking for 7 - it would save us time but all legs would need to adjust appropriately.

[2022-08-05 19:57] #48159 closed

[2022-08-05 20:05] NikolaMilosavljevic commented on #44842
Thanks @hoyosjs - moving to 8.0.0 milestone.

[2022-08-05 20:06] noahfalk commented on #73038
Earlier iterations of my PR did have a bug which triggered some tests to fail, as they should have. The final iteration of the PR just had the failure from https://github.com/dotnet/runtime/issues/70969 which was a known issue.

[2022-08-05 20:08] eiriktsarpalis commented on #34779
The test in question is related to the issue better described in #46088. I think we should close this one since it's less concrete and address any issues related to unsupported types as they come up.

[2022-08-05 20:08] #34779 closed

[2022-08-05 20:09] eiriktsarpalis commented on #46088
Once we address this issue we should make sure to re-enable the following disabled test:

https://github.com/dotnet/runtime/blob/1a0c9cac0ae3c511a51217736e212495510e85b4/src/libraries/System.Text.Json/tests/Common/ConstructorTests/ConstructorTests.ParameterMatching.cs#L1295-L1301

[2022-08-05 20:15] elinor-fung commented on #3740
The current path remains creating an IDL and generating a TLB. [Embedding a type library](https://docs.microsoft.com/dotnet/core/native-interop/expose-components-to-com#embedding-type-libraries-in-the-com-host) is supported as of .NET 6 and the [out-of-process COM server sample](https://github.com/dotnet/samples/tree/main/core/extensions/OutOfProcCOM) shows how it can be used.

We don't have plans

[2022-08-05 20:15] #3740 closed

[2022-08-05 20:15] #73194 closed

[2022-08-05 20:25] AaronRobinsonMSFT commented on #72610
That is because runtime clean-up is being done independent of process shutdown or rather it needs to be. When the process is managed by the runtime clean-up is well-defined.

[2022-08-05 20:26] AaronRobinsonMSFT commented on #72610
Cleaning these resources up manually is the recommended solution for all C++/CLI binaries that are used to activate the runtime.

[2022-08-05 20:26] #72610 closed

[2022-08-05 20:32] ViktorHofer commented on #45972
Yes that's afaik they still don't compile against the live targeting pack.

[2022-08-05 20:34] ViktorHofer commented on #749
Yes, the installed ymls are still different than the rest.

[2022-08-05 20:38] jkoritzinsky opened #73496 "SafeHandle marshalling improvements in the source-generated marshalling"
From #69608:

In .NET 8, we'll look at moving the SafeHandle marshalling into a custom marshaller type. When we do so, we'll address this feedback.

Note for future self: This would be a good use case for the `OnInvoked` custom marshaller method that isn't a `GC.KeepAlive` usage.

[2022-08-05 20:41] jkoritzinsky commented on #69608
@GSPP that change was handled with the V2 marshaller design and the new `ArrayMarshaller<T, TUnmanagedElement>` type (the complex code is in the static `GetPinnableReference` method).

I've extracted performance suggestion #4 (safehandle) to https://github.com/dotnet/runtime/issues/69608 as that's the last feedback item that we plan to address. I'll close this as completed in the meantime.

[2022-08-05 20:41] #69608 closed

[2022-08-05 20:41] AaronRobinsonMSFT commented on #73496
/cc @stephentoub

[2022-08-05 20:46] vitek-karas commented on #36765
Moving to 8 as there's no work on the runtime for 7, this is basically a tracking bug for the work on the website, which can happen at any time (not bound to the same release schedule as runtime repo).

[2022-08-05 20:50] fkahhaleh commented on #71812
@AaronRobinsonMSFT
Thank you for your follow up and support guys.

I am not sure what to say about the issue here, because when I tested the skeleton code you provided and it worked, I was motivated to start fresh and work my way up to the code I wanted/had.
It was very difficult for me to have a clear history of changes I made given I was implementing a clr host approach to unblock
the team while

[2022-08-05 20:50] #71812 closed

[2022-08-05 20:53] danmoseley commented on #67583
@steveisok ?

[2022-08-05 20:56] janvorli commented on #71624
Unfortunately there are no dumps as this is arm64 Windows. I have tried to repro it locally, but wasn't able to hit any issue.

[2022-08-05 20:56] vitek-karas commented on #45084
Unfortunately too late for 7 - we don't know enough about the msbuild side of this yet, so it's relatively risky.

[2022-08-05 21:02] teo-tsirpanis commented on #73465
Also tagging @dotnet/area-system-xml.

[2022-08-05 21:06] vitek-karas commented on #66856
@rcdailey were you able to try this on a more recent SDK?

[2022-08-05 21:25] JosieBigler commented on #72858
I think I have a fix for this? I need to clean up my code a bit before the PR.

But it more or less borrows concepts from the CoreCLR  CoreLib and replicates them in Mono.

The highlights include

1. add a new field on `TypeBuilder` called `bool is_hidden_global_type`. This defaults to false, except when ModuleBuilder creates TypeBuilder in `CreateGlobalType()`.
2. `DeclaringType` property on Meth

[2022-08-05 21:38] MichalPetryka commented on #55217
I've tried benchmarking both a zeroing and a non zeroing version with an AddRange from #1530 adding 50 ints each to an empty list with preallocated memory, but me and 3 other people have gotten wildly different results:
Me:
[code]
One person:
[code]
Another person:
[code]
@tannergooding:
[code]
While the ratios are completely different, they all show a clear win for a non zeroing version, so I'd p

[2022-08-05 21:47] DamianEdwards opened #73500 "System.Text.Json support for Int128 and UInt128"
The JSON specification doesn't support integers larger than 64-bits as far as I can tell, which makes sense given it's JavaScript-based origins. This leaves the question of how to represent larger numbers somewhat open today, leading to different approaches in the wild for dealing with such numbers, e.g. encode as string, [ignore spec and use customized JSON parser](https://stackoverflow.com/quest

[2022-08-05 21:53] gregsdennis commented on #73500
Which spec are you looking at?  For its history, JSON has supported arbitrarily large and precise numbers.

RFC 7159 recognizes that implementations may not be able to support this, so it allows implementations to enforce limitations.  But the spec itself imposes no such limitations.

[2022-08-05 21:58] #58704 closed

[2022-08-05 21:59] elinor-fung opened #73501 "Marshaller for treating char array as null-terminated string in source generation"
Arrays are - and should continue to be - treated as buffers in marshalling, but arrays of `char` are often used as a way to marshal a string between managed/unmanaged.

Per https://github.com/dotnet/runtime/issues/69809#issuecomment-1137708142, we can let users opt-in to treating a `ReadOnlySpan<char>` or `char[]` as a null-terminated string. We can provide a marshaller that can be used with `Mars

[2022-08-05 22:06] elinor-fung commented on #69809
We addressed some discrepancies around generation with `DisableRuntimeMarshalling` and `char` in https://github.com/dotnet/runtime/pull/69837 and https://github.com/dotnet/runtime/pull/71028. I pulled out support for treating `char[]` as a string to https://github.com/dotnet/runtime/issues/73501 and will close this in the meantime.

[2022-08-05 22:06] #69809 closed

[2022-08-05 22:10] DamianEdwards commented on #73500
@gregsdennis ah indeed, I wasn't looking at the latest it seems, or was inferring too much from related specs like OpenAPI.

So then, given the JSON spec **does** allow such numbers, what should the .NET behavior be, given it's likely expected to balance some level of platform interoperability with accurate round-tripping of values between same versions of .NET?

[2022-08-05 22:12] #52351 closed

[2022-08-05 22:18] filipnavara commented on #73343
The krb5 error comes from [here](https://github.com/krb5/krb5/blob/4f94e95850daa27bbf3471eae1a6a2e532910d85/src/lib/krb5/asn.1/asn1_encode.c#L274) and indeed the input date is wrong. The value is `28551105204820Z` instead of `20220805204820Z`. It's quite difficult to debug since this is part of the encrypted data...

[2022-08-05 22:32] mangod9 commented on #73403
Is this just because we are parallelizing compilation? Does it occur with `--parallelism 1` ?

[2022-08-05 22:34] mangod9 commented on #73126
Moving this to Future for now since Markus is working on changes to app to make things diagnosable.

[2022-08-05 22:34] janvorli commented on #73247
I have investigated it. The failure is pretty strange. We crash because the current thread's Thread::m_pFrame is 0xffffffff when the NDirectImportWorker attempts to execute the following assert:
https://github.com/dotnet/runtime/blob/3238c2a0e94a11d83cbfed0945b07b3d6f717c71/src/coreclr/vm/dllimport.cpp#L5852-L5853

So the `GetFrame()` returns the 0xffffffff. This is a special value `FRAME_TOP`. Ho

[2022-08-05 22:35] mangod9 commented on #71098
the fix should be in runtime 7.0.0-rc.1.22403.8 and sdk 7.0.100-rc.1.22404.5

[2022-08-05 22:38] mangod9 commented on #63930
Closing this since this was from first regions enablement. We have made many changes to resolve working set and commit/decommit regressions.

[2022-08-05 22:38] #63930 closed

[2022-08-05 22:40] mangod9 commented on #70842
Closing as dupe of https://github.com/dotnet/runtime/issues/70496

[2022-08-05 22:40] #70842 closed

[2022-08-05 22:41] mangod9 commented on #71414
Is this something we need to fix in 7?

[2022-08-05 22:42] mangod9 commented on #66997
This perf test looks to be jumping around and since this is x86 only closing for now.

[2022-08-05 22:42] #66997 closed

[2022-08-05 22:43] mangod9 commented on #71507
is this blocking for 7?

[2022-08-05 22:45] mangod9 commented on #72284
the related https://github.com/dotnet/runtime/issues/71856 is closed. Please validate on latest rc1 builds.

[2022-08-05 22:45] #72284 closed

[2022-08-05 22:46] mangod9 commented on #68776
since this is tagged under system.threading, checking whether any of this work is still meant for 7?

[2022-08-05 22:47] davmason opened #73503 "Assert in SigPointer::GetTypeHandleThrowing"
### Description

While trying to repro #72578 I ran in to an issue where if I patched a .net 7.0 preview 6 process with locally built binaries it would hit an assert in SigPointer::GetTypeHandleThrowing.

[code]

Debugging I see that the issue is that a [recent change](https://github.com/dotnet/runtime/pull/71849/files#diff-3bd61bc4ce55b78f710f4e7bdfd3a4e7efb92c53035c6b33a6a2feee1c0ac853) changed

[2022-08-05 22:48] #68729 closed

[2022-08-05 22:49] mangod9 commented on #13672
@EgorBo do we expect this to make it into 7?

[2022-08-05 22:53] janvorli commented on #73247
The managed frame is obviously the `Test_GetGCMemoryInfo.Main()`, the method that is being called through the `NDirectImportThunk` is `System.GC._Collect(int, int)`

[2022-08-05 23:00] jkotas commented on #69125
System.Net.WebSockets.Client.Tests crashed with this same stacktrace in https://github.com/dotnet/runtime/pull/73471

[2022-08-05 23:02] mangod9 commented on #59447
@TIHan are you working on this for 7?

[2022-08-05 23:04] BruceForstall commented on #13319
Implemented with https://github.com/dotnet/runtime/pull/61335

[2022-08-05 23:04] #13319 closed

[2022-08-05 23:08] eiriktsarpalis commented on #73500
Related to #60780. TL;DR it's possible to support arbitrarily large numeric values using a custom converter:
[code]

[2022-08-05 23:15] trylek commented on #71414
I'm going to try to give it a shot next week; in general I think it's a somewhat corner case, at the very least static virtual method functionality in the .NET 7 runtime libraries hasn't hit this yet.

[2022-08-05 23:26] hoyosjs commented on #73247
@janvorli would https://github.com/dotnet/runtime/pull/73491 be enough to fix this, or should I merge the test disable.

[2022-08-05 23:26] BruceForstall opened #73505 "SuperPMI diffs output: split throughput diff by type"
As suggested [here](https://github.com/dotnet/runtime/pull/73365#issuecomment-1207074760), SuperPMI throughput results in the "superpmi-diffs" pipeline (https://dev.azure.com/dnceng/public/_build?definitionId=1064) could be split by Tier-0/MinOpts versus Tier-1, to give a better idea of which mode of compilation is most affected.

E.g.,

|        | Num contexts | Base instructions | Diff instructi

[2022-08-05 23:31] BruceForstall opened #73506 "SuperPMI diffs output: add more metrics"
The [superpmi-diffs pipeline](https://dev.azure.com/dnceng/public/_build?definitionId=1064) displays asm diffs summaries as well as throughput diffs.

What else could be shown? E.g.,

- memory usage diffs
- other metrics diffs from our possible new generalized metrics framework

Related: https://github.com/dotnet/runtime/issues/73505

@dotnet/jit-contrib

[2022-08-05 23:33] janvorli commented on #73247
I don't understand how the #73491 fix would be related to what I am seeing in the dump. But it is possible there are more failure modes.

[2022-08-06 00:05] jakobbotsch commented on #73506
#70350 is tangentially related

[2022-08-06 00:24] Oyshoboy commented on #72748
Looks like we experiencing same issue:
<img width="1468" alt="image" src="https://user-images.githubusercontent.com/23486183/183226080-538ed588-a252-42d9-b078-0798d324bc51.png">

[2022-08-06 00:26] wfurt commented on #73343
is it possible the system time is far off? Do you know if it uses `time_t` or something else?

[2022-08-06 01:06] VSadov commented on #67805
With https://github.com/dotnet/runtime/pull/73216 merged all supported platforms should be able to reliably suspend now.

[2022-08-06 01:07] #72127 closed

[2022-08-06 01:13] davmason commented on #72578
@AndyAyersMS I am having trouble reproducing this, can you share what you were doing when you saw the failures?

[2022-08-06 01:20] jkotas commented on #73503
This is by design. You can see crashes or asserts when you mix and match bits from different previews.

Preview public surface is not stable and preview to preview changes are generally not compatible. We often change, add or remove API from preview to preview in incompatible ways. R2R nor IL is robust against that.

[2022-08-06 01:20] #73503 closed

[2022-08-06 01:25] AndyAyersMS commented on #72578
Looking at the profile from `System.Collections.Sort<Int32>.Array` - one of the runtime micro benchmarks from dotnet/performance -- collected with `--corerun` and `-p ETW`

See https://github.com/dotnet/runtime/issues/71214#issuecomment-1182689602

[2022-08-06 01:28] mdh1418 commented on #50566
It looks like

 from https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.paralleloptions.maxdegreeofparallelism?view=net-6.0#system-threading-tasks-paralleloptions-maxdegreeofparallelism is not being honored, as in the `ProcessorCount` is 1, but the `Parallel.ForEachAsync` is using 2 schedulers.

[2022-08-06 01:31] cshung commented on #73247
The test fails on that #73941 as well, there must be something else.

[2022-08-06 01:33] BruceForstall commented on #64375
@SingleAccretion I notice your test https://github.com/dotnet/runtime/issues/64375#issuecomment-1023234701 doesn't fail in .NET 6, but @EgorBo 's test https://github.com/dotnet/runtime/issues/64375#issuecomment-1023199708 does. Did we port anything that would fix one but not the other to 6?

[2022-08-06 01:33] mangod9 commented on #73247
guess we should disable it then and continue to investigate.

[2022-08-06 01:43] chrisdrobison commented on #27727
I have no idea what the workload would be like, but would this be something worth making a Microsoft specific fork of OpenSSL for so support could be added? Google forked OpenSSL for Chrome to make the kinds of changes they needed so this kind of thing would not be unique.

[2022-08-06 01:50] MichalStrehovsky commented on #71414
It's in the same bucket as the diamond case. Properly authored apps will never hit it at runtime because Roslyn would never emit it. Mismatched dependencies and incorrectly composed apps can hit it. It's more likely the customers would hit it than us.

[2022-08-06 01:55] mdh1418 commented on #50566
Looking through the code path, it seems like the test with `MaxDegreeOfParallelism = -1` (unlimited) with `MaxSchedulerLimit = 2` passed through `Parallel.ForEachAsync` will end up having `EffectiveMaxConcurrencyLevel = 2` https://github.com/dotnet/runtime/blob/63b265669e503173e4d3015e476134f6193bf561/src/libraries/System.Threading.Tasks.Parallel/src/System/Threading/Tasks/Parallel.cs#L107-L120 an

[2022-08-06 03:47] naricc opened #73510 "[MONO][TEST] Android arm64 Runtime tests run.sh doesn't use the right script name"
### Description

`

### Reproduction Steps

[code]

### Expected behavior

Runs the test.

### Actual behavior

Produces this error message:

```    /bin/bash: /Users/naricc/workspace/runtime-marshal-component/artifacts/tests/coreclr/Android.arm64.Debug/baseservices/invalid_operations/InvalidOperations/InvalidOperations.sh: No such file or directory ``` 

The file does not seem to exist. There is

[2022-08-06 04:02] noahfalk commented on #73247
I added some notes at the top. Originally the test was observed to fail starting 7/21 but I suspect those failures were unrelated. Arm32 failures started more recently on 7/28 and the failure rate skyrockets around 8/3-8/4.

[2022-08-06 06:00] davidfowl commented on #27727
HTTP/2 not HTTP/3. I'm thinking OpenSSL on MacOS supported for development scenarios only for gRPC as a way to scope the work/support.

[2022-08-06 06:08] filipnavara commented on #73343
The system time is correct, Kerberos.NET gets it right (printed it to console). It's wrong only inside the encrypted ASN.1 payload. I'll narrow it down.

[2022-08-06 06:34] davidfowl commented on #73500
This is just like DateOnly and TimeOnly. When we add new data types like this there's usually a bunch of follow up work items:
- Type converters
- JSON support
- Configuration binding support (etc, etc)
- Probably something else I'm missing

I wonder if we have a checklist like this somewhere...

[2022-08-06 06:45] wfurt commented on #73343
cc: @SteveSyfuhs just in case. It is not clear to me if Kerberos.NET runs regression on arm32.

[2022-08-06 07:50] softlion commented on #73464
Workaround. I still don't understand why it needs 2 releases ...
It was working in Xamarin.

[code]

[2022-08-06 07:55] am11 commented on #73343
Removed blocking label since the test has been disabled.

[2022-08-06 08:09] am11 commented on #73247
https://github.com/dotnet/runtime/commit/ef5779719e35093f3e4a6bb910ecdaf594ac32b0 is likely the first commit where it started failing in main branch. If reverting that change fixes it we should do it and reopen https://github.com/dotnet/runtime/issues/60343.

[2022-08-06 08:41] softlion opened #73512 "System.Globalization.CultureInfo.CurrentCulture returns InvariantCulture on iOS"
### Description

System.Globalization.CultureInfo.CurrentCulture returns InvariantCulture on iOS instead of the current culture.

It works as expected on Android.

### Reproduction Steps

Run this on an iOS DEVICE (not a simulator) in debug mode.
Use a breakpoint to read the value and examine its content.

[code]

### Expected behavior

returns the culture set on the phone

### Actual behavior

re

[2022-08-06 08:55] Kahbazi opened #73513 "[API Proposal]: Be able to skip the Chain in ChainedPartitionedRateLimiter"
### Background and motivation

Let's say we want to chain multiple limiter together. Limiters based on IP, Username and Endpoint. Now if I want to skip limiters for some IPs, I could call `GetNoLimiter()` for them but the chain will continue and those requests could be limited based on username or endpoints.

I suggest to add an overload for `GetNoLimiter(bool skipChain)`. This limiter could retur

[2022-08-06 09:00] #73151 closed

[2022-08-06 11:29] filipnavara commented on #73343
The corrupted payload is generated by Kerberos.NET:

<img width="800" alt="image" src="https://user-images.githubusercontent.com/1764393/183246931-c32b635a-35a1-423d-ad2c-f98231555efd.png">

It is supposed to be the key expiration time. Should be fairly easy to trace how it happens.

[2022-08-06 11:40] filipnavara commented on #73343
So, it is not really corrupted. It's just that the expiration time was so far in the future that GSSAPI could not handle it. The interesting part is that it behaves differently on ARM32 but it succeeds on all other platforms, including x86.

[2022-08-06 12:03] NightWulfe opened #73516 "Can't get ASP.NET Core app routes to work when hosted via hostfxr in native app"
Hello,

I cannot seem to get an ASP.NET Web REST API application to work when hosted in a native app with hostfxr. I am sorry if this is something I missed, but I've been searching and debugging for the last two days trying to get this to work and my brain is fried.

The issue is this:

- When launching the ASP.NET Core app through its default executable, the REST API and built-in Swagger UI work

[2022-08-06 13:08] noahfalk commented on #73247
@am11 what lead you to that ibc commit? I see that one was checked in around 4:41 pm PST on the 4th but that seems later than I would expect based on the failure timeline. I think the culprit may be https://github.com/dotnet/runtime/commit/4c07f3dbe5a439e5c6ac66fd14c4fed51aa819ce

This appears to be the timeline...

Sporadic failures early in the week:
7/28 [1910538](https://runfo.azurewebsites.ne

[2022-08-06 13:16] am11 commented on #73247
@noahfalk, thanks for root causing it. I took a quick glance at the `History` tab in AzDO and saw the first red bar was pointing to the PR of that commit. I am not sure how reliable that GUI is.

I think it would probably make sense to revert whichever change has caused the failure, so that particular change can be reworked (instead of disabling the test).

[2022-08-06 14:00] SingleAccretion commented on #70391
@BruceForstall Nothing comes to my mind in terms of backported changes. It is possible/probable that my sample relied on some 7-only change, though I couldn't think of which one exactly.

(Replying here because #64375 is locked)

[2022-08-06 14:48] KohGeek opened #73521 "URIBuilder misinterpret "domain:port" format as "scheme:path""
### Description

When parsing a string in the format of `domain:port`, URI Builder interprets the domain part as `scheme` and port as `path`.
Unsure if this is intended or a bug.

### Reproduction Steps

[code]

### Expected behavior

urlBuilder.Host should be `test`
urlBuilder.Port should be `80`

### Actual behavior

urlBuilder.Host is empty, but urlBuilder.Scheme is `test`
urlBuilder.Port is em

[2022-08-06 14:50] database64128 commented on #68810
For me it's completely broken on all versions, with or without referencing STJ.

[2022-08-06 16:10] MihaZupan commented on #73521
This is intentional. `UriBuilder` is expecting a full Uri string (`https://test:80`), not just the authority.
The `Uri` class supports custom schemes, and `test:80` happens to be a valid Uri with a `test` scheme.

If you know your input will always be just `host:port`, you can use `new Uri($"https://{input}"`) instead.

[2022-08-06 16:29] pjmlp opened #73522 "Native AOT is too resource hungry"
When trying to make use of AOT compilation on basic samples with .NET 7 preview 6, it takes a huge amount of time until finally an executable is produced on Linux.

This is on an old Asus 1215B, dual core, with 8 GB and an SSD, from 2009.

Granted this laptop is no speed daemon, however when rewriting the same sample application with managed languages that have been designed with AOT since the beg

[2022-08-06 16:50] AndyAyersMS commented on #67968
Yes this was from https://github.com/dotnet/runtime/pull/66618. It was fixed by https://github.com/dotnet/runtime/pull/71659.

![newplot - 2022-08-06T094948 243](https://user-images.githubusercontent.com/10121823/183258387-f92c63ac-a4b2-460d-80a6-68d09ca39cd8.png)

[2022-08-06 16:50] #67968 closed

[2022-08-06 16:58] rcdailey commented on #66856
@vitek-karas Using SDK `6.0.302`, my executable still just exits with no error output on Apple M1 systems using the `osx-arm64` runtime. In this particular test, setting `COREHOST_TRACE=1` and `COREHOST_TRACEFILE=<path>` didn't result in any output which is strange.

Note that my project is completely open source and you have full access to my binaries and build workflows to see what the issue is.

[2022-08-06 17:13] teo-tsirpanis commented on #73522
When I tried to compile your project with [the latest preview version of ImageSharp](https://www.myget.org/feed/sixlabors/package/nuget/SixLabors.ImageSharp), compilation became significantly faster and the resulting executable shrank from 63MB to 6.5MB. Looks like ImageSharp has become more friendly to trimming.

If you want to upgrade your version of ImageSharp, keep in mind that [it comes under

[2022-08-06 18:43] #73343 closed

[2022-08-06 19:07] #73097 closed

[2022-08-06 20:16] AntonLapounov commented on #72425
By default, .NET 5 used a different ReadyToRun compiler, which would produce the diagnostic message below and ignore the invalid debug directory:
[code]
Here is the compiler code that performed the check: https://github.com/dotnet/runtime/blob/4aadfea70082ae23e6c54a449268341e9429434e/src/coreclr/src/zap/zapheaders.cpp#L586-L588
We might want to do the same in the new compiler.  Given that .NET 6 w

[2022-08-06 22:12] madelson commented on #65379
@MihaZupan I still have to do some more digging to confirm early next week, but so far it looks like the workaround may not have fixed the issue for us.

[2022-08-06 22:30] AntonLapounov commented on #63241
Thank you for reporting these issues to us.  I noticed that some of them are caused by using an old-style project file.  With a new SDK-style project file, you will have just
[code]
Note that the `AllowUnsafeBlocks` setting is not placed under any `Condition`.  Furthermore, if you publish from Visual Studio, instead of setting `PublishReadyToRun` in the project file, you are expected to use the "P

[2022-08-06 22:59] Zintom commented on #4584
I understand that allocating objects on the stack may seem vastly more complex than it appears on the surface.

Perhaps a more doable idea is to enable a new type of heap allocation, using a new heap which is not managed by the garbage collector and requires manually Alloc/Free.

We can be smarter than the GC at allocating/freeing memory, this new functionality would enable us to put this knowledg

[2022-08-06 23:05] AntonLapounov commented on #71702
@MichalStrehovsky Have you seen this before?

[2022-08-06 23:36] KohGeek commented on #73521
Understood, in that case, I will close this issue.

[2022-08-06 23:36] #73521 closed

[2022-08-06 23:53] EgorBo commented on #73474
My 5 cents:
[code]
RyuJIT is expected to throw InvalidProgramException here too

[2022-08-07 00:02] #65952 closed

[2022-08-07 05:37] radical commented on #52102
@lewing do we need to run debugger tests with relinking?

[2022-08-07 05:47] radical commented on #54638
That we essentially do:
 https://github.com/dotnet/runtime/blob/e43e31527db9f1a2dde3095a1651279b272c8c09/src/mono/wasm/build/WasmApp.Native.targets#L474-L486

First we run `emcc --version`, and if that fails then we run it again but surface the output to the user as errors.

This will show `emcc --version` failing due to missing python:
[code]

So, if we are not adding a check at workload install

[2022-08-07 05:47] #54638 closed

[2022-08-07 05:56] ayakael opened #73525 "Wrong computed RID on Alpine Linux alpha / beta releases"
### Description

Runtime does not support RID format for alpha / beta releases of Alpine Linux which uses a `VERSION_ID` format which goes as such: `x.xx_alphayyyymmdd` (i.e. `alpine.3.17_alpha20220715-x64`) During build, even when RID is added to JSON RID graph using source-build's `_IsBootstrapping=true` flag and `eng/native/init-distro-rid.sh` logics are modified to not cut what's after `alpine

[2022-08-07 06:07] danmoseley commented on #4584
@Zintom why do you think a heap allocator would be cheaper? How would the GC detect roots from your heap?

[2022-08-07 06:08] MichalStrehovsky commented on #73522
Preview 6 still uses the trimming defaults that .NET 6 originally shipped with. With those defaults, we're compiling all of ImageSharp, even if the app only needs PNG support. It takes a long time and produces massive executables. I tried building your app with Preview 6 and again with of the RC1 builds - preview 6 finished in 1:20 on my 2015 i7. RC1 made it in 15 seconds.

It's still not as good

[2022-08-07 06:40] radical opened #73528 "[wasm][debugger] Random test failure due to a possible race in startup"
Failure:

[code]

I think this is because
https://github.com/dotnet/runtime/blob/e43e31527db9f1a2dde3095a1651279b272c8c09/src/mono/wasm/debugger/tests/debugger-test/debugger-main.js#L24
.. in ..

https://github.com/dotnet/runtime/blob/e43e31527db9f1a2dde3095a1651279b272c8c09/src/mono/wasm/debugger/tests/debugger-test/debugger-main.js#L9-L25

.. can run after the test starts running which is once `

[2022-08-07 06:43] MichalStrehovsky commented on #71702
We have #72645 for Linux Arm64. That one is for NativeAOT-compiled crossgen2 though.

We don't AOT compile crossgen2 used in testing, so this sounds like a possible CoreCLR bug.

Hard to say if they're related. Could be.

[2022-08-07 06:44] radical commented on #73528
I was able to artificially reproduce this by calling moving `App.runtime = runtime; App.init();` to run after a timeout.

[2022-08-07 07:40] En3Tho commented on #4584
Arena based allocators like "allocate temp heap, do whatever you want within it, remove heap entirely" have the same problem as object stack allocation - there should be an escape analysis done proving that no object refs "escape" to actual heaps of GC.

So I guess  you would need

1) an escape analysis in Roslyn (prove refs won't escape, fail compilation otherwise or else there is no meaning in s

[2022-08-07 09:23] PrototypeOmega commented on #73319
Hi,

I have submitted to Microsoft full demo project to reproduce it.
let me find it back I'll post it here

[2022-08-07 09:29] PrototypeOmega commented on #73319
Here the demo example, I got rid of Newtonsoft to show it's a .NET bug and not NewtonSoft
[https://lebudget.com/download/BugConstructor2022-07-11.zip](url)

[2022-08-07 12:08] TonyValenti opened #73531 "Cannot Publish when Referencing other EXE Projects"
### Description

It is not possible to publish a single file EXE that references other EXE files in the project.

### Reproduction Steps

Try to publish this attached file:
[MyApp.zip](https://github.com/dotnet/runtime/files/9276705/MyApp.zip)

### Expected behavior

It should work without issue.

### Actual behavior

It is not able to publish.  This seems to be caused by the build process looking

[2022-08-07 12:23] pjmlp commented on #73522
To put things in perspective, on the aging laptop mentioned above, the respective build times are:

|Go 1.19|D (dmd) (1)|D (dmd) (2)|D (gdc 10) (1)|D (gdc 10) (2)|Java (GraalVM 22.2)|.NET 7 Preview 6|
|---|---|---|---|---|---|---|
|real	0m0,480s|real	0m11,311s|real	0m7,398s|real	0m19,399s|real	0m9,215s|real	9m29,085s|real	35m2,241s
|user	0m0,320s|user	0m8,701s|user	0m6,108s|user	0m16,470s|user	0m8

[2022-08-07 12:55] GSPP commented on #72881
What is the use case for why an empty file should be created? To me, the most natural usage is to just create a path and then open that path myself. For directories, creation must of course happen.

Name collisions would not be a problem if the name contains a Guid. It is not necessary to take precautions against collisions. A name collision is like winning the lottery 10 times in a row (according

[2022-08-07 12:56] teo-tsirpanis commented on #73522
@pjmlp the extremely long times you are observing will be fixed by a newer version of ImageSharp or NativeAOT.

[2022-08-07 13:47] MihaZupan commented on #65379
Can you share how you implemented the workaround? We would expect that it is a 100% reliable fix for this specific issue.

If it's not, it's possible you are running into a different header issue (e.g. using outdated NewRelic) that results in similar issues.
Notably, you shouldn't see `HttpConnectionPool.EstablishProxyTunnelAsync` in the stack trace at all after the workaround.

[2022-08-07 13:57] hez2010 commented on #73522
@pjmlp Try this instead: https://github.com/hez2010/ppm2png

You need to install a nightly (main) version of .NET 7 from https://github.com/dotnet/installer#installers-and-binaries.
On my computer, the compilation process finished in 15 secs.

[2022-08-07 14:05] Zintom commented on #4584
My idea is that any object referenced by this "unmanaged heap" would be marked as "possibly live, linked to an object in the unmanaged heap" and thus the GC would ignore them.

[2022-08-07 14:29] karelz commented on #73377
Test disabled in #73446

[2022-08-07 14:34] karelz commented on #72977
Test disabled in PR #73300

[2022-08-07 14:35] karelz commented on #73447
Test disabled in PR #73452

[2022-08-07 15:25] DaZombieKiller opened #73532 "Support for [LibraryImport] on local functions"
This is something that came to mind while re-reading https://github.com/dotnet/runtime/issues/63590. I would likely wrap such methods to have control over the function pointer parameter, meaning they would see no direct use outside of the wrapper. This makes them suitable to be defined as local functions.

Today, a `DllImport` defined as a local function has no _in-place_ equivalent with `LibraryI

[2022-08-07 15:37] karelz commented on #72830
If it is happening that often perhaps we should disable the test for now to avoid noise in CI ... @rzikm thoughts?

[2022-08-07 16:01] teo-tsirpanis commented on #73532
Closing as this is blocked by the C# language and there is nothing to be done in the runtime.

I can't find a corresponding language proposal for local partial functions. Feel free to open one in `dotnet/csharplang`, and to include this use case as a motivating factor.

[2022-08-07 16:01] #73532 closed

[2022-08-07 16:09] JeroMiya commented on #4584
If at all possible, I would prefer GC optimizations that didn't require explicit action by the developer. Ideally they should be transparent to the developer, like strategies where the JIT or AOT engine detects non-escaping allocations and implements optimizations, such as scalar replacement, without the developer needing to explicitly mark a variable as non-escaping or allocating it on a special

[2022-08-07 16:28] MichalPetryka commented on #64658
Could `byte` and `char` overloads be also considered? They'd be trivial to implement with this.

[2022-08-07 16:30] timcassell commented on #64658
Perhaps you meant `bool`? `byte` is already part of the proposal.

[2022-08-07 16:32] MichalPetryka commented on #64658
Right, my bad.

[2022-08-07 18:00] NikolaMilosavljevic commented on #1252
Closing - fixed with https://github.com/dotnet/runtime/commit/6bc1c947068089879d448a67aeedd59caaa9d601

[2022-08-07 18:00] #1252 closed

[2022-08-07 18:10] karelz opened #73534 "Test failure: ConsoleEncoding.TestEncoding - NotSupportedException : Memory stream is not expandable"
Test affected:
- `ConsoleEncoding.TestEncoding`

Occurrences 4/5-8/7 (incl. PRs) from Kusto (see query below) or [Runfo last 30 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E30+definition%3Aruntime+name%3A%22consoleencoding.testencoding%22): (average 1 failure per week)

Day | Run | OS
-- | -- | --
9/7 | Rolling run [7799](https://runfo.azurewebsites.net/view/build/?number=779

[2022-08-07 18:35] karelz commented on #72227
Does not seem to be specific to arm32 (removing label). Also, the crash happened also in release/6.0 branch, so perhaps it is not a regression?

[2022-08-07 19:21] karelz opened #73536 "Sockets tests SendFileGetsCanceledByDispose and AcceptGetsCanceledByDispose - throw NotSupportedException - on AppleTV/iOS"
Regression as of **8/4** - happens in each Rolling run and some PRs with 7, 14, or 21 failures (based on which legs ran):

Affected tests:
- `SendFileGetsCanceledByDispose`
    - `System.Net.Sockets.Tests.SendFile_Apm`
    - `System.Net.Sockets.Tests.SendFile_CancellableTask`
    - `System.Net.Sockets.Tests.SendFile_Task`
- `AcceptGetsCanceledByDispose`
    - `System.Net.Sockets.Tests.AcceptApm`

[2022-08-07 19:23] karelz commented on #73536
These tests are significantly impacting Rolling runs and CI overall. Please disable the tests ASAP.

Note that similar errors first appeared in unmerged PRs: #73258 and #73374 which both seem related -- @directhex perhaps you might know what's going on?

[2022-08-07 19:24] vitek-karas commented on #73531
Having a GUI and Console version of the app in the same exe seems to be pretty tricky on Windows. Search for example for "windows GUI app with console" there are some good links. The short version is:
* Make it Console app which can use WinForms just fine, in the Main decide which version you want and run the appropriate code. The downside is that if it's launched as a GUI app with double-click it

[2022-08-07 19:37] MihaZupan commented on #73536
Potentially related: #72000
cc: @tmds

[2022-08-07 20:01] karelz opened #73538 "System.Text.Json.Nodes.Tests.JsonArrayTests.HeterogeneousArray - asserts"
Occurrences 4/5-8/7 (incl. PRs) from Runfo in last 120 days:

Day | Run | OS
-- | -- | --
8/6 | Rolling run - [1927956](https://runfo.azurewebsites.net/view/build/?number=1927956) | net7.0-Android-Release-x86-Mono_Release-Ubuntu.1804.Amd64.Android.29.Open
8/6 | PR #73515 - [1927732](https://runfo.azurewebsites.net/view/build/?number=1927732) | net7.0-Android-Release-x86-Mono_Release-Ubuntu.1804.Am

[2022-08-07 20:06] karelz commented on #73538
@lewing looks like Android specific, can you please help route it?

[2022-08-07 20:06] danmoseley commented on #73534
When test hits this exception it should log the code page, input encoding and BOM.
It's quite curious it's sporadic and on random strings. Something non deterministic/racy.

[2022-08-07 20:16] tmds commented on #73536
[code]

I guess this is at:

https://github.com/dotnet/runtime/blob/99297533df71e0d9e38ccf4a6bb6afd236a5f665/src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs#L2981-L2984

So on these platforms the new cases added in https://github.com/dotnet/runtime/pull/72000 throw because we can't determine the `Socket` is connected at:

https://github.com/dotnet/runtime/blob/99297533df71e0d9e38

[2022-08-07 20:35] AntonLapounov commented on #71702
We need to collect crash dumps.

[2022-08-07 20:36] karelz opened #73539 "Mono crashes test runs"
8/7 - occurrences on Android, tvOS, MacCatalyst, iOS, iOSSimulator, tvOSSimulator - only those **without Test Results** associated
Test suite | # | Details
-- | -- | --
**JIT.Directed Work Item** | 50x | (all without Test Results) in [last 30 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E30+definition%3Aruntime-extra-platforms+name%3A%22jit.directed+work+item%22+targetBranch%3

[2022-08-07 20:37] karelz commented on #73539
@lewing can you please help route it? This is massive test failure, causing significant noise in Rolling runs and PRs.

[2022-08-07 20:42] #72858 closed

[2022-08-07 20:46] directhex commented on #73536
There are plenty of indications that UNIX Domain Sockets are not actually supported on tvOS/iOS, and only work in the simulator by accident. The PRs you mention are part of the investigation in that regard. Waiting on some test results from Alex to determine whether the whole of UDS should be PNSE on one or both of those OSes.

Sent from Mail for Windows

From: Karel Zikmund
Sent: Sunday, August 7

[2022-08-07 20:58] EgorBo opened #73540 "Cache most popular string objects in String.InternalSubString"
I've analyzed a couple of memory snapshots using dotMemory and it feels to me that `String.InternalSubString` is the main source of duplicated strings on the heap, e.g. total heap statistics for `dotnet publish -c Release ...` (msbuild+roslyn+nuget+illink+crossgen) over a medium-size project:

![image](https://user-images.githubusercontent.com/523221/183310835-b72809de-d86d-45db-83f2-3cd1584160c8.

[2022-08-07 21:00] EgorBo commented on #73540
![image](https://user-images.githubusercontent.com/523221/183310795-d39e9819-da37-4f86-8b18-2f5a84a5b2ee.png)

^ for `dotnet publish` - 500K string objects, mostly from Substring

[2022-08-07 21:01] MichalStrehovsky commented on #71702
We haven't seen it on Mac arm64? NativeAOT doesn't support that and we ship crossgen2 on top of CoreCLR there

[2022-08-07 21:22] karelz opened #73541 "System.Net.NetworkInformation.Tests.PingTest.SendPingWithHostAndTimeoutAndBufferAndPingOptions"
Occurrences 4/5-8/5 (incl. PRs) via Kusto and Runfo [last 120 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E120+definition%3Aruntime-extra-platforms+name%3A%22system.net.networkinformation.tests.pingtest.sendpingwithhostandtimeoutandbufferandpingoptions%22):
- First failure on 7/27 - happening 3x-4x per week

Day | Run | OS
-- | -- | --
8/6 | Rolling run | OSX.1100.Amd64.Apple

[2022-08-07 21:43] steamonimo opened #73542 "MSB4096: "StaticWebAsset" does not define a value for metadata "AssetKind""
### Description

This error at compilation time continues with: In order to use this metadata, either qualify it by specifying %(StaticWebAsset.AssetKind), or ensure that all items in this list define a value for this metadata.

I have no idea what I am supposed to do now.

### Reproduction Steps

Project worked with Core 3.1

### Expected behavior

Compilation of StaticWebAsset

### Actual behavi

[2022-08-07 21:57] tarekgh commented on #73512
@steveisok could you please have a look and triage this issue? Thanks!

[2022-08-07 22:23] EgorBo commented on #73540
Prototype: https://github.com/EgorBo/runtime-1/commit/1c73b3efbaee85147278e307ec04b19ccc618620

[2022-08-07 22:33] AntonLapounov commented on #72755
@mikem8361 This test intentionally crashes and then it seems to hang on the `close(parent_pipe);` line in the `PROCCreateCrashDump` function.   That line was added in #69663.  Could you please take a look?
[code]

[2022-08-07 22:46] mikem8361 commented on #72755
It looks like it is blocked in the waitpid at line 2459.  We are waiting for createdump to finish generating the core dump and exit. Is there a createdump process still around? Maybe createdump is taking too long to finish. Is the crashing process large?

2458        int wstatus = 0;
2459        int result = waitpid(childpid, &wstatus, 0);
2460        if (result != childpid)
2461        {

[2022-08-07 22:49] jkotas commented on #73540
String substring does not feel like the right place to do this optimization. Have you looked ať the top callers that create these strings? Would it make more sense to fix the callers instead? We do caller specific de-duplication in number of places, for example in integer formatting.

[2022-08-07 22:57] mikem8361 commented on #72755
Sorry, I was looking at the PR diff for the line numbers not the current process.cpp source.  You are right that line 2460 is the close(parent_pipe). I need to investigate why close on this pipe hangs.

[2022-08-07 23:00] AntonLapounov commented on #72755
I think you are actually correct, because those line numbers are for the 20220731.1 build.  The crashing process should be small as we run this test individually.

[2022-08-07 23:02] EgorBo commented on #73540
In case of `dotnet publish` it's

![image](https://user-images.githubusercontent.com/523221/183314350-8761be28-09c6-489e-b86c-c49e219de597.png)

I assume it's here: https://github.com/dotnet/msbuild/blob/3ade6423189769545ddff2ffeeed37010ec57f4d/src/Build/Evaluation/Conditionals/Scanner.cs#L561-L641

[2022-08-07 23:07] twest820 commented on #63241
This is how it still is in the .csproj which prompted opening this issue eight months ago. Same `<Project Sdk="...">` and `<PropertyGroup>` structure as shown, too.

Please refer to the explanation in the OP of why producing a .nupkg is a non-goal. I just packaged again a couple minutes ago and the .dll in the .nupkg still the same as the one from the regular build. So the instructions just given

[2022-08-07 23:12] EgorBo commented on #73540
Still, I think at least these two lines of code worth adding: https://github.com/EgorBo/runtime-1/blob/c487556f0a1131833ce22dfe40cb89fca88b5dcf/src/libraries/System.Private.CoreLib/src/System/String.Manipulation.cs#L1850-L1854 - cheap handling for '0'..'9', right?

[2022-08-07 23:23] TonyValenti commented on #73531
@vitek-karas I was hoping to leverage the fact that .Net would decompress to a temporary folder to essentially be able to do the following:
1.  "Main" EXE is run.
2.  If command line Args exist, run the decompressed console EXE.
3.  Otherwise, run the WPF EXE.

[2022-08-07 23:34] jkotas commented on #73540
I am not sure. Substrings of this shape are likely going to produced by allocation heavy parsers, they are unlikely to survive gen gc, and so getting rid of them is unlikely to make a difference in the app high water mark that tends to be dominated by gen2.

This optimization is trying to improve certain inefficient allocation heavy parsers a tiny bit, but makes all substring calls to pay for it.

[2022-08-07 23:57] AntonLapounov commented on #63241
When you create a publish profile, please choose "Folder" as the "Target".  In that case the .nupkg file will not be created.

Can you see the command line like below in the Output window when you publish (you may need to increase verbosity in Debug->Options->Project and Solutions->Build And Run->MSBuild project build output verbosity)?
[code]
If you do not see `crossgen2.exe` executed at all, try

[2022-08-08 00:02] #70386 closed

[2022-08-08 00:16] MichalStrehovsky commented on #73436
I hit this during the test bringup. What I do during the bringup is I modify the list of `SmokeTestProject` itemgroup in src/libraries/tests.proj to have only the tests I'm interested in. More here: https://github.com/dotnet/runtime/issues/73048#issuecomment-1200112499

[2022-08-08 01:03] MichalStrehovsky commented on #73522
@pjmlp could you try again with the change that @hez2010 did? It switches to the latest build of NativeAOT. Based on my measurement above, I expect the compile time to go down 5x. This should put .NET before Graal. It will also go down a bit more once we do #67742 that is planned for .NET 7 (based on the experience with [crossgen2](https://devblogs.microsoft.com/dotnet/announcing-dotnet-7-preview-

[2022-08-08 01:12] twest820 commented on #63241
I wish. Every time in the past eight months I've done this it's been Target = Folder producing a .nupkg.

Tried both detailed and diagnostic verbosity. While there's clear Crossgen2 awareness in the spew, I'm not getting any search hits on `crossgen2.exe`. It may be the diversion to an unexpected output type results in packaging determining that, while crossgen2 is requested, it isn't needed. I'm

[2022-08-08 01:29] v-wenyuxu commented on #69092
Failed again in: [runtime-coreclr gcstress0x3-gcstress0xc 20220807.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1928474&view=ms.vss-test-web.build-test-results-tab&runId=49863272&resultId=107546&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2022-08-08 01:29] sunmijiang opened #73544 "Microsoft.Extensions.Configuration.dll has wrong modified date"
### Description

Runtime version .net framework 4.7.2
Create a new C# project and add reference Microsoft.Extensions.Configuration 3.1.0, build project, then you will see the following dlls have wrong modified date in the bin folder.
![image](https://user-images.githubusercontent.com/110593895/183321117-a97e1b40-8ed6-40f6-95e4-f37cbeb7973a.png)

### Reproduction Steps

Create a new C# project and

[2022-08-08 01:35] v-wenyuxu commented on #69092
Queued | OS | Arch | Column1
-- | -- | -- | --
2022-08-07T14:40:21.014Z | ubuntu.1804.armarch.open | arm | [runtime-coreclr gcstress0x3-gcstress0xc   Checked-gcstress0x3](https://dev.azure.com/dnceng/public/_build/results?buildId=1928474&view=ms.vss-test-web.build-test-results-tab&runId=49863272&resultId=107546&paneView=debug)
2022-08-07T09:14:58.202Z | osx.1200.amd64.open | x64 | [runtime-coreclr

[2022-08-08 02:00] v-wenyuxu opened #73545 "Test failure JIT\\jit64\\opt\\cse\\hugeSimpleExpr1\\hugeSimpleExpr1.cmd"
Run: [runtime-coreclr ilasm 20220806.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1927866&view=ms.vss-test-web.build-test-results-tab&runId=49855322&resultId=104222&paneView=debug)

Faile test:
[code]

**Error message:**
[code]

[2022-08-08 02:07] v-wenyuxu commented on #73545
Queued | OS | Arch | Column1
-- | -- | -- | --
2022-08-07T22:41:45.204Z | ubuntu.1804.armarch.open | arm | [runtime-coreclr gcstress-extra   Checked-heapverify1](https://dev.azure.com/dnceng/public/_build/results?buildId=1928726&view=ms.vss-test-web.build-test-results-tab&runId=49866470&resultId=110230&paneView=debug)
2022-08-07T21:12:38.997Z | ubuntu.1804.armarch.open | arm | [runtime   Checked-n

[2022-08-08 03:21] davidfowl commented on #73516
It's likely you need to manually add the application parts (not just log them). The default way that applications parts are found is using `IHostingEnvironment.ApplicationName` and this defaults to `Assembly.GetEntryAssembly().Name` which might be the expected name in this case.

Try adding this:

[code]

[2022-08-08 04:56] NightWulfe commented on #73516
Thank you. That resolved the issue for my Test controller. I also tried setting the ApplicationName to "ConfigurationApi" and that worked as well.

I thought Swagger was failing for a similar reason, but it turns out it was never being initialized due to the `IsDevelopment` check. Adding the following line to my native app, before invoking the .NET entry point, resolved the Swagger issue:

[code]

[2022-08-08 05:11] JosieBigler commented on #26506
Howdy, is this issue still up for work/PRs?  Looks like code coverage is still ~35%?

[2022-08-08 05:19] ayakael commented on #73525
The following bit of code is relevant to this issue:
https://github.com/dotnet/runtime/blob/c1dba415f397853bde5383d07b1c38b0ad072316/src/native/corehost/hostmisc/pal.unix.cpp#L718-L748

I think it'd be easy to fix if there was some logic put in place to strip any information following a '_' character, similar to how minor version numbers are stripped.

[2022-08-08 06:28] davidfowl commented on #73516
One more thing unrelated to your question but it's bugging me, you should signal back to native code when the application has started. Right now you're calling RunAsync but instead you should be using StartAsync (and not ignoring it).  Your native API should look like:

[code]

Other problems:
- Handlig startup errors. What do you want to do when there are errors in Start.

[2022-08-08 06:34] danmoseley commented on #26506
@JosieBigler  you are welcome to take it. I can assign you?

[2022-08-08 06:40] danmoseley commented on #73540
We used to intern some hard coded strings like true and false in MSBuild including in that codepath ("OpportunisticIntern"). I can't look at the code at the moment but I believe it was removed a little while ago. @Forgind @rainersigwald

[2022-08-08 06:45] danmoseley commented on #73540
https://github.com/dotnet/msbuild/pull/5663/files#diff-8b918fc3cf86a6bcec4ce6b6c0adce1f61dd3bb09b19c61320cf6fb51aa0ec76L331

[2022-08-08 07:29] mikhail-barg commented on #61411
Great to see this is finally fixed! Could you please clarify which runtime version would get the fix? Will it be available in net6 considering it's LTS status?

[2022-08-08 07:32] pavelsavara commented on #73528
we are synchronizing 2 processes here.
1) The normal unix dotnet+debug-proxy +xunit
2) the wasm app running inside
`mono_wasm_runtime_ready` is the synchronization helper necessary to make the process 1) wait

@radical said "mono_wasm_runtime_ready indicates that the runtime is ready, but not that the app is ready.. "
and we need both. I will think about some consistent fix.
Moving `App.runtime =

[2022-08-08 07:32] rzikm commented on #72830
I think it was the same test we disabled in https://github.com/dotnet/runtime/pull/73452

[2022-08-08 07:34] radical commented on #73528
Having an event/message that indicates "app is ready", and having "app is ready" as formal thing would be helpful.

As a workaround, I can add a special message for this in `debugger-main.js`'s `App.init`, and make the tests wait for that. or even just add a tiny delay after we get runtime ready.

[2022-08-08 07:36] adamsitnik commented on #65190
I confirm, I am no longer able to reproduce it with Preview7:

[code]

|    Method | Toolchain | Size |     Mean | Ratio |
|---------- |---------- |----- |---------:|------:|
| SortedSet |    net6.0 |  512 | 5.020 us |  1.00 |
| SortedSet |    net7.0 |  512 | 4.865 us |  0.97 |

[2022-08-08 08:15] pavelsavara commented on #73528
The `mono_wasm_runtime_ready` is currently called by runtime in non-blazor startup sequence
https://github.com/dotnet/runtime/blob/0c5ca95fec9b6e2cc5e757ad36d0b094f81a59a6/src/mono/wasm/runtime/startup.ts#L297

And blazor calls it here
https://github.com/dotnet/aspnetcore/blob/55616fa5b272d6d957d20059a681a68901807486/src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts#L483

Both environments d

[2022-08-08 08:19] #58828 closed

[2022-08-08 08:21] #73540 closed

[2022-08-08 08:33] Robelind commented on #73396
Same result for .NET FW 4.8 and .NET Core 3.1.27.

[2022-08-08 08:39] jaywithers commented on #71224
Hi, is there any update for this please?

[2022-08-08 08:45] wstaelens commented on #64092
again #Future label 😞

[2022-08-08 08:57] SteveSandersonMS commented on #73386
@eerhardt It's unusually YOLOish (unless you're saying someone has tested the worker loading process in wide range of deployment scenarios, like those listed above). However as long as this does land in RC1 then we at least get *some* possibility of reacting to developer feedback.

I don't fully understand the level of pushback to having something like an undocumented switch that we could use if i

[2022-08-08 09:03] ViktorHofer commented on #58168
Not that I know of.

[2022-08-08 09:03] #58168 closed

[2022-08-08 09:12] ManickaP commented on #72511
And we can change that if we decide to support the state object. It's similar to my alternative design for `QuicListener` in https://github.com/dotnet/runtime/issues/67560.

[2022-08-08 09:36] ManickaP commented on #73152
AFAIK we use CONNECTION_REFUSED when we reach the backlog limit, i.e. too many pending, unaccepted connections.
But when we get to a point of finishing the handshake, we'll (or rather msquic) use USER_CANCELLED, which in my opinion seems fair.

So, I don't think we need to do anything here, the current behavior seems fine to me.

[2022-08-08 09:48] ManickaP commented on #72619
It started happening again between 3.8. and 4.8. There was a change in ASP 7.0.0-rc.1.22402.14 --> 7.0.0-rc.1.22403.3 (I don't see any changes in S.N.Quic that might have caused this).
I see that in https://github.com/dotnet/aspnetcore/pull/43011 `Abort` and `DisposeAsync` on the server side stream were moved outside of `_shutdownLock`. @JamesNK is it possible now that `DisposeAsync` races with th

[2022-08-08 09:50] #46263 closed

[2022-08-08 10:10] maxarm commented on #71825
@wfurt did you have any time to investigate further. Or any workaround ideas?

I tried again with a new docker image with .net 6.0.7 instead of 6.0.6. However, still received the error "tlsv1 alert unknown ca". One difference compared to 6.0.6 however was that now the ChainBuild.Status was true instead of false.

[2022-08-08 10:12] lsoft opened #73557 "Tracking allocations in async methods"
for old-good-sync methods we can use `GC.GetAllocatedBytesForCurrentThread`, but there is no way to know how much bytes async method allocates:

[code]

It would be very helpful to have any method to track allocations in async methods (may be via `AsyncLocal` somehow).

Use case: track allocations in request handling in server applications.

[unanswerred discussion](https://github.com/dotnet/runti

[2022-08-08 10:16] #73388 closed

[2022-08-08 10:16] #41061 closed

[2022-08-08 10:34] #73457 closed

[2022-08-08 10:54] pavelsavara commented on #73528
cc @maraf

[2022-08-08 11:00] #73463 closed

[2022-08-08 11:01] jakobbotsch opened #73559 "[jitstress] System.Runtime.Intrinsics.Tests.Vectors.Vector64Tests.Vector64Int64SumTest fails frequently on win-x86"
E.g. https://dev.azure.com/dnceng/public/_build/results?buildId=1920081&view=ms.vss-test-web.build-test-results-tab&runId=49735324&resultId=133395&paneView=debug

[2022-08-08 11:17] pjmlp commented on #73522
Hi, so tried it out with 7.0.100-rc.1.22407.1 and went nowhere, not only I got lots of errors regarding network connections to the https://pkgs.dev.azure.com/dnceng.... location, now whatever I try ends up with MSBuild not doing anything, as it cached something somewhere.

The .NET 7 Preview 6 works as usual.

I will wait for the next preview release, as I don't feel like messing around my .NET en

[2022-08-08 11:20] teo-tsirpanis commented on #73522
@pjmlp can you try adding these lines to your project file?

[code]

[2022-08-08 11:41] jakobbotsch commented on #72427
I cannot repro this and we haven't seen it in libraries-jitstress since 7/18/2022, so I will just close it and see if we see it again.

[2022-08-08 11:41] #72427 closed

[2022-08-08 11:42] jakobbotsch commented on #71604
I see no occurrences of this in the past month history we have for libraries-jitstress. I'll just close this.

[2022-08-08 11:42] #71604 closed

[2022-08-08 11:50] vitek-karas commented on #73531
This would mean that you're running the CLI (command line) version as a child process. Which may be fine in your scenario (it's frequently not desirable though).

You could probably do this in two ways:
Build/publish the CLI exe project explicitly as a target from your "main" exe project file - this is effectively a "Fix" for the failure you're seeing. And then one of the these:
* Include it as an

[2022-08-08 11:51] Jawadahmed200 opened #73561 "System.Net.Sockets.SocketException (10060): A connection attempt failed because the connected party did not properly respond after a period of time,"
I have created ASP.NET Web App Using MVC and Asp.Net Web Api. Both projects build using .Net Core 6. When I run both projects on local, They are working fine. But When I deployed both projects on my server (IIS), and Accessing the api from web, it is throwing below error.

[code]
After that I host My Api on different hosting server and Web on different hosting server. when access it is still throw

[2022-08-08 12:28] Jawadahmed200 commented on #73561
Yes It is working fine when try to hit Api from local.. But When deploying same code on hosting platform, it is throwing error.

[2022-08-08 12:35] EgorBo commented on #73540
Thanks for the feedback, I'll check what if it's worth special-casing on msbuild's side

From my understanding, string interning doesn't help with String.Concat/String.Substring which are the main sources of string allocations

[2022-08-08 13:06] rzikm commented on #73561
Then it seems to me like an environmental problem. Can you make requests to other websites from the hosted app? it may be that the app is prevented from making outbound requests by the hosting platform.

[2022-08-08 13:15] SamMonoRT commented on #45832
Further work tracked in https://github.com/dotnet/runtime/issues/61815

[2022-08-08 13:15] #45832 closed

[2022-08-08 13:16] JosieBigler commented on #26506
Yea, sounds good. : )

[2022-08-08 13:34] Jawadahmed200 commented on #73561
https://catfact.ninja/fact

I tried this open api which is working fine in browser and postman. But when try to call from my project which is deployed on IONOS Hosting service. It is throwing same error.

[2022-08-08 13:39] Jawadahmed200 commented on #73561
I think app is blocking outbound calls. how to solve this issue ?

[2022-08-08 13:43] akoeplinger commented on #73536
@directhex this is about normal sockets not Unix Domain Sockets.

I think @tmds's investigation makes sense and this is due to new cases added in https://github.com/dotnet/runtime/pull/72000. @antonfirsov @wfurt would you mind taking a look?

[2022-08-08 13:58] vitek-karas commented on #73516
@davidfowl Would it make sense to have a check in ASP.NET that the application parts are populated from an existing assembly? Currently the above API probably returns null or empty string, so I assume ASP.NET will silently do nothing. Would it make sense to throw?

[2022-08-08 14:12] rainersigwald commented on #73540
For this callsite we definitely have some work to do spanifying the parsing, but the strings themselves should be extremely short-lived because of the deduplication engine @jkotas mentioned.

[2022-08-08 14:27] madelson commented on #65379
@MihaZupan ok I think we have a false alarm; the error was in an environment that hadn't received the fix yet. I'll continue to monitor.

Here's what our implementation of the workaround looks like:

[code]

I also just want to confirm that this is a flavor of the error that should be fixed here:

[code]

[2022-08-08 14:31] krwq commented on #73371
I understand the issue now.

The actual minimum repro is:

[code]

but minimum repro where nuget package or lack of it doesn't make any difference is following:

[code]

so essentially following conditions have to be met:
- context is public
- type on JsonSerializable (or one of the members of any of the types which end up being serialized) is public
- the type mentioned above has to have any non-

[2022-08-08 14:42] Jawadahmed200 commented on #73561
@rzikm Any solution for this ?

[2022-08-08 14:43] directhex commented on #67853
This is actually a mix of three distinct bugs:

* Tests failing which rely on Named Pipes or Unix Domain Sockets
* Tests failing which assume `cwd` is writeable
* Tests failing which assume the filesystem case sensitivity behaviour, but are wrong (this is especially annoying, as tvOS is inconsistent with tvOSSimulator)

[2022-08-08 14:51] danmoseley commented on #26506
Assigned!

[2022-08-08 14:52] jeffschwMSFT commented on #72297
![image](https://user-images.githubusercontent.com/9561583/183447178-a7189bf6-deab-4c40-baac-7d07de3ed820.png)

[2022-08-08 14:58] eerhardt commented on #73386
The pushback is because we don't want people using the managed fallback crypto implementation. from the [design doc](https://github.com/dotnet/designs/blob/main/accepted/2021/blazor-wasm-crypto.md):

So adding a switch that forces apps down this path (as opposed to its original intention of being a "fallback") isn't desirable, and we'd rather not do it unless there is concrete evidence that it is

[2022-08-08 15:04] BenMakesGames opened #73567 "[API Proposal]: IRandom interface (which Random and RandomNumberGenerator implement)"
### Background and motivation

(I _did_ find this: https://github.com/dotnet/runtime/issues/28229 and I think I can provide some more details and use-cases than were provided there.)

Bring `RandomNumberGenerator` and `Random` under a single interface (`IRandom`), in order to:
* allow capabilities (such as "give me a random int") to be shared between these implementations (extensions on `IRandom`)

[2022-08-08 15:08] #72245 closed

[2022-08-08 15:12] MihaZupan commented on #73561
@Jawadahmed200 this appears to be an issue with your hosting setup.
I see [this article](https://www.ionos.co.uk/help/hosting/net/script-examples-for-establishing-external-http-connections-windows/) in their docs suggesting that you must use their proxy when making outbound calls.
You can also check that the hosting service's firewall is not blocking outbound traffic (outbound TCP on ports 80 and

[2022-08-08 15:13] AndyAyersMS commented on #66103
This can wait for 8.0.

[2022-08-08 15:15] mauriciomagni opened #73570 "Microsoft.Extensions.Configuration.EnvironmentVariables 6.0.1 fails reading environment variables"
### Description

Up to version 6.0.0 these code works:
[code]
but in version 6.0.1 it starts failing

### Reproduction Steps

copy the source code in the message and upgrade named nuget to version 6.0.1

### Expected behavior

Read the environment variable value

### Actual behavior

returns null

### Regression?

yes, it works in version 6.0.0

### Known Workarounds

downgrade to version 6.0.0

#

[2022-08-08 15:18] MihaZupan commented on #65379
The workaround looks good.
And yes, that stack trace should be the same issue.

[2022-08-08 15:21] ShiiikK commented on #73512
Please god, send some help

[2022-08-08 15:21] #65557 closed

[2022-08-08 15:22] AndyAyersMS commented on #66776
Digging through it looks like we expected this to be resolved -- see https://github.com/dotnet/perf-autofiling-issues/issues/1501#issuecomment-926027832

But that only fixed issues on Windows, Ubuntu did not benefit. So we still have a regression.

![newplot - 2022-08-08T081954 386](https://user-images.githubusercontent.com/10121823/183453121-44ff70c2-8d09-44b1-9e95-40fd62ea719f.png)

(Windows is

[2022-08-08 15:24] steveisok commented on #73512
@akoeplinger Please triage.

[2022-08-08 15:25] eerhardt commented on #73544
This appear to only happen with the `3.1.0` nuget package. If I use the latest 3.1 version, `3.1.27`, it doesn't occur.

Since we can't fix `3.1.0` (because nuget packages are immutable), this can't be fixed. My suggestion is to update to the latest `3.1.27` which contains the latest servicing fixes.

[2022-08-08 15:25] #73544 closed

[2022-08-08 15:31] krwq commented on #64602
Closing issue since all of the planned items are fixed

[2022-08-08 15:31] #64602 closed

[2022-08-08 15:39] NightWulfe commented on #73516
Agreed, thank you. I'll fix the Start/StartAsync issue. The code is a proof of concept, so error handling isn't a priority. If this works out and I end up using it, it'll get refactored with proper error handling (probably wrapped with std::error_code and std::system_error).

I realize this is overkill and I could just host the REST API using the ConfigurationApi executable, but I'm using this as

[2022-08-08 15:41] AndyAyersMS commented on #52313
If you look back further, you will see we are regressed vs 5.0 in many cases. Hopefully the PGO updates that are coming will address most of these.

BenchmarkDotNet=v0.13.1.1786-nightly, OS=Windows 11 (10.0.22000.795/21H2)
Intel Core i7-8700 CPU 3.20GHz (Coffee Lake), 1 CPU, 12 logical and 6 physical cores
.NET SDK=7.0.100-rc.1.22374.1
  [Host]     : .NET 7.0.0 (7.0.22.36704), X64 RyuJIT
  Job-YGV

[2022-08-08 15:53] JulieLeeMSFT commented on #73545
@TIHan, PTAL.

[2022-08-08 16:05] TIHan commented on #73545
Will do.

[2022-08-08 16:12] karelz commented on #73539
From offline discussion with @steveisok - this is being already looked at buy somebody.

[2022-08-08 16:14] kouvel commented on #67965
There's a tradeoff in https://github.com/dotnet/runtime/pull/64834 from using IO poller threads and then reusing the worker thread pool for processing completions, which seems to be showing up in some of these benchmarks. The thread pool is also mostly idle, and the path lengths are also a bit higher. There are other advantages with that model so it's probably a good tradeoff for now. Needs invest

[2022-08-08 16:15] NikolaMilosavljevic commented on #3823
Checked the latest Microsoft.NETCore.App.Ref package. License info is correct:

`    <licenseUrl>https://licenses.nuget.org/MIT</licenseUrl>`

Closing.

[2022-08-08 16:15] #3823 closed

[2022-08-08 16:17] alpencolt opened #73571 "[armel/tizen] Broken build"
### Description

Tizen armel build is broken after #73095

### Reproduction Steps

[code]

### Expected behavior

Build should pass

### Actual behavior

[code]

### Regression?

yes

### Known Workarounds

Revert PR

### Configuration

_No response_

### Other information

cc @jkotas @gbalykov

[2022-08-08 16:25] wfurt commented on #73536
I think we should disable the tests on affected platforms. I don't know why the UDS would not be connected. The second link make sense only when `Socket` is created from handle and I don't think this is the case.

[2022-08-08 16:30] eerhardt commented on #72881
The same use cases for the existing `Path.GetTempFileName()` method today.

The name is not guaranteed to contain a Guid.

[2022-08-08 16:30] BrzVlad commented on #49904
Moving to 8.0 since only corner cases from runtime tests are left implementing

[2022-08-08 16:44] hoyosjs commented on #72578
I ran that same benchmark and can see events from r2r and non-r2r bodies. Oddly, I don't see the [Optimized...] and such annotations.

[2022-08-08 16:46] mangod9 commented on #73361
Hi @black-empower,

do you have a standalone repro available? Or would it be possible to share a dump/trace you have collected? Thx

[2022-08-08 16:52] deeprobin commented on #72881
Also a GUID can collide even if it is only every 340_282_366_920_938_463_463_374_607_431_768_211_455. case.

[2022-08-08 17:15] vcsjones commented on #73567
/cc @dotnet/area-system-security since this touches on `RandomNumberGenerator`.

[2022-08-08 17:16] mikem8361 commented on #72755
If the stack trace is from a core dump generated by createdump, the crashing thread will be waiting at that point on the waitpid.

Isn't the failure from whatever called the FailFast? I don't think this issue is createdump related.

[2022-08-08 17:18] vsfeedback opened #73575 "Bug when renaming a DataTable column to the same name, but with different case"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Bug-when-renaming-a-DataTable-column-to-/10109015)._

---
DataTable dt = new();
dt.Columns.Add("ABN");
dt.Columns["ABN"].ColumnName = "Abn";
dt.Columns["Abn"].ColumnName = "Abn_old";

//this line will error:
dt.Columns.Add("ABN");

**Exception thrown: 'System.Data.DuplicateNameException'

[2022-08-08 17:19] ajcvickers commented on #73575
Column names are often case insensitive; differing only by case is not supported.

[2022-08-08 17:19] #73575 closed

[2022-08-08 17:21] vsfeedback opened #73576 "VB 2019 SerialPortNames duplicate port names"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/VB-2019-SerialPortNames-duplicate-port-n/1543908)._

---
[severity:It bothers me. A fix would be nice]
Microsoft Visual Studio Community 2019
Version 16.11.2
.NET version 4.8.04084
Visual Basic

Code snippet:

cboCOMPort.Items.Clear()
        For Each COMString As String In My.Computer.P

[2022-08-08 17:40] pjmlp commented on #73522
@teo-tsirpanis  So, changing the ImageSharp version to the latest preview, and trimmable assembly configuration, still with .NET 7 preview 6 has produced this result, building from scratch,

real	1m58,295s
user	2m6,454s
sys	0m7,256s

This looks magical, compared with the values I previously mentioned.

Thanks once again for the discussions, this all started when I thought about how AOT would work

[2022-08-08 17:40] #73522 closed

[2022-08-08 17:44] mangod9 commented on #63768
is this expected to be complete this week?

[2022-08-08 17:45] jkoritzinsky commented on #73527
@RussKie why do you think this is a runtime issue instead of a winforms issue given that it only reproduces in a winforms app? Based on the repro, my initial conclusion is that something is marshalling a COM interface in WinForms before the `Form.Load` event.

@creizlein I think the best solution for you is to put the `CoInitializeSecurity` call in the `Main` method even in the WinForms case. That

[2022-08-08 17:49] AntonLapounov commented on #63241
Thank you, I can reproduce the issue now.  For some reason `crossgen2.exe` is not executed at all when publishing from Visual Studio and a `.nupkg` file is created instead.

[2022-08-08 17:57] #69427 closed

[2022-08-08 18:00] VSadov commented on #73429
@janvorli In a case of Hijack helpers, which do not call any user code, do we need personality routines?
If they do not have any, will it result in failfast in a case of a bug? (like null deref due to a race or smth like that).

[2022-08-08 18:00] vitek-karas commented on #63768
Yes - @jtschuster  is working on it in the linker repo right now.

[2022-08-08 18:00] AntonLapounov commented on #72755
This test intentionally calls `Environment.FailFast`: https://github.com/dotnet/runtime/blob/9865cc7a89a4a613a47986b8268a10bc37adbd65/src/tests/baseservices/exceptions/simple/ParallelCrash.cs#L37
The question is why the test hangs indefinitely after that call:
[code]
#69663 was merged on May 26th.  According to the table above, the test started to time out on May 29th (`2022-05-29`).  Could that b

[2022-08-08 18:00] elinor-fung commented on #73527
@creizlein thank you for the nice repro.

This is from a WinForms app registering a handler for `SystemEvents.UserPreferenceChanged`, triggering the initialization of system event handling. The difference in 5.0 versus 6.0 is in: https://github.com/dotnet/runtime/pull/53467. There was a bug deadlock-causing bug where we would skip the marshalling if `SystemEvents.EnsureSystemEvents` was called on

[2022-08-08 18:01] MichalPetryka commented on #73567
Methods in `Random` are explicitly virtual so that you can derive from it and provide your own implementation, you can thus already make one that wraps RandomNumberGenerator with no BCL changes.

[2022-08-08 18:03] VSadov commented on #73429
Aslo, there is one caveat - we check and may throw ThreadAbort when resuming from suspension. That can happen in a hijack helper.
Will that make it required to have a personality routine?

[2022-08-08 18:11] directhex commented on #67853
Okay then. Detailed failures info:

[code]

[2022-08-08 18:13] hoyosjs commented on #73247
The failure here is not just a linux arm issue. See this (sadly Microsoft internal only) [kusto query](https://dataexplorer.azure.com/clusters/engsrvprod/databases/engineeringdata?query=H4sIAAAAAAAAA3WQT2vCQBDF7/0UQxCiEEyh/yhtLOhBLFpsa+mhiKzZSbK62Q0zG6zQD9810fbk8Q3vzcz7aXSQCaVrQoYEFsjuDbnWji9+YFcgISz2FQIayTvlCgjH6MajGZaW9hOT2RCEkdBm4HEA4Vwwhz68scrAVhmZKGOQ4NmuGawB6GjMXN/LF1EiJAl0SOWF6x+kz+G388dgqs

[2022-08-08 18:20] kouvel commented on #70496
Some differences in microbenchmarks can be expected from the change. I'm not able to repro this on the Linux ampere machine, perf seems to be better with the change.

7.0p6 with https://github.com/dotnet/runtime/pull/69386 reverted:

[code]

7.0p6:

[code]

[2022-08-08 18:20] #70496 closed

[2022-08-08 18:21] hoyosjs commented on #73247
On windows we end up unable to unwind for the assert:

[code]

[2022-08-08 18:22] am11 commented on #73571
A quick fix is to skip `host` from cross-build for linux-armel:

[code]

then the build succeeds.

The real issue is that tizen build is a special case that it uses both non-PortableBuild and CrossBuild simultaneously: (`--portablebuild false --cross`). This combination is not used by any other platform we test in the CI. We should try to bring tizen-armel on the same plan as rest of the platforms

[2022-08-08 18:24] roji commented on #39289
Tracking the remaining docs work on my list, will do that as coding work winds down on 7.0.

[2022-08-08 18:24] #39289 closed

[2022-08-08 18:27] #60036 closed

[2022-08-08 18:28] AndyAyersMS commented on #72578
Let me see if I can still repro.

There is a tiering-annotated profile under the advanced group in perfview.

[2022-08-08 18:29] #73011 closed

[2022-08-08 18:30] bartonjs commented on #73567
In general, we don't like interfaces that look like classes, we only like interfaces that describe capability (e.g. IEnumer**able**), and IRandom fails on that front.

The CSPRNG (System.Security.Cryptography.RandomNumberGenerator) has moved to static methods to indicate that deriving the type or otherwise substituting it isn't generally a good idea; and no one who needs to use the CSPRNG would be

[2022-08-08 18:30] ivdiazsa commented on #72308
This issue still reproduces as of August 8th. Following up on it here: https://github.com/dotnet/sdk/issues/27029

[2022-08-08 18:31] davidwrighton commented on #13672
We implemented this particular feature with `--embed-pgo-data` which we use only for System.Private.CoreLib. @EgorBo's work provides the ability to get live runtime based pgo data, which is even better.

[2022-08-08 18:31] #13672 closed

[2022-08-08 18:32] janvorli commented on #73429
When there is no personality routine, the exception handling doesn't "see" the helper, so the exception flows from the callee to the caller of the helper. If we want to cause fail-fast or do some special handling if an exception crosses the frame of the helper, then we need a personality routine to achieve that.

[2022-08-08 18:50] #70281 closed

[2022-08-08 18:57] #51400 closed

[2022-08-08 18:57] creizlein commented on #73527
@elinor-fung @jkoritzinsky
Thanks for you guys input, I did actually moved it earlier before the Main call (its not in the repo, sorry, I can push it)... And it made no difference... well, sort out.

Moving it earlier there made the app to actually work, but NO from the VS IDE... if you run it ouside (prolly because of the debugger) then it works, but not within the IDE.

Furthermore, I found out

[2022-08-08 19:42] mrsharm commented on #71059
@kunalspathak, this regression showed up in multiple configurations while working on the monthly perf report. Should this regression be triaged as "by design"?

Thanks!

<details>

## Benchstone.BenchI.Array2.Test

| Result | Ratio | Alloc Delta | Operating System      | Bit   | Processor Name                                  |
| ------ | -----:| -----------:| --------------------- | ----- | -----

[2022-08-08 19:53] tommcdon commented on #72692
Closing this issue as it seems to be a duplicate of #68018.  Feel free to re-open this issue if we have reason to believe these are not the same issue.

[2022-08-08 19:53] #72692 closed

[2022-08-08 20:06] mconnew opened #73583 "[API Proposal]: Modify Float/Double Equals and CompareTo to reflect -0.0 and +0.0 difference and ordering"
### Background and motivation

IEEE 754 states that mathematical operations should consider -0.0 and +0.0 to be equal. The behavior of comparison methods such as .Equals and .CompareTo are not defined by IEEE 754. We already have precedent as .Equals and .CompareTo have different behavior than ==,\>, and \< when comparing NaN. `Double.NaN == Double.NaN` evaluates to false (as per IEEE 754), but `D

[2022-08-08 20:06] mrsharm commented on #72030
This regression showed up in our perf report for preview 7. The details are as follows:

<details>

## Benchstone.MDBenchI.MDMulMatrix.Test

| Result | Ratio | Alloc Delta | Operating System      | Bit   | Processor Name                                  |
| ------ | -----:| -----------:| --------------------- | ----- | ----------------------------------------------- |
| Faster |  1.66 |        -28

[2022-08-08 20:06] mconnew commented on #73583
@tannergooding, this is the issue I opened as a result of our discussion.

[2022-08-08 20:12] directhex commented on #73536
OK, I've caught up with what's going on now. I'll ActiveIssue those with this bug.

[2022-08-08 20:25] SergeyBokhantsev opened #73587 "ReadAsMultipartAsync() cannot read a valid multipart content (MIME multipart message is not complete)"
### Description

The [HttpContentMultipartExtensions.ReadAsMultipartAsync](https://docs.microsoft.com/en-us/previous-versions/aspnet/hh834957(v=vs.118)#httpcontentmultipartextensionsreadasmultipartasync-method-httpcontent) method cannot read a valid HTTP message when the last part ends with "--" (two minuses) chars (just before final boundary).

Exception throws: Unexpected end of MIME multipart s

[2022-08-08 20:31] #71185 closed

[2022-08-08 20:43] AhmedZero opened #73590 "[NativeAOT] Random Application Hangs at Task.Run"
### Description

the application hangs randomly. I use imgui library and CreateWindowEx to create empty window.
after 2 hours I think, the window is frozen.

### Reproduction Steps

[code]

### Expected behavior

Works without any problems.

### Actual behavior

the window is frozen and that my dump.

[code]

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

[2022-08-08 20:47] BenMakesGames commented on #73567
I would describe the capability as "the ability to generate a byte (or, for convenience, many bytes)", and that's all I think `IRandom` should expose. the means by which these bytes are generated will vary based on implementation: indexable noise functions, forward-only & repeatable algorithms like what `Random` uses, and however the cryptographic `RandomNumberGenerator` works (I assume it's forwa

[2022-08-08 20:53] AndyAyersMS commented on #72578
This still repros for me, eg using the latest nightly build (on windows arm64) and the sort benchmark from #71214:

![image](https://user-images.githubusercontent.com/10121823/183512262-2c22a5ca-3507-47d6-91ed-7b205dd7a623.png)

There is no way this benchmark is spending 86% of its time in `PoolingAsyncValueTaskMethodBuilder`.

Similar thing shows up in the normal profile view.

[2022-08-08 20:58] jkoritzinsky commented on #73527
That is likely due to https://github.com/dotnet/winforms/pull/4831, which added a hot-reload handler in WinForms to refresh all open forms based on any updates from HotReload. It's possible that one of the APIs that is called by this handler (even in the no-op case) ends up registering a handler for `SystemEvents.UserPreferenceChanged`, which will cause the issue.

If you add your `CoInitializeSec

[2022-08-08 20:59] carlossanlop commented on #73440
@iSazonov I downloaded the file you shared: https://github.com/PowerShell/PowerShell/releases/download/v7.3.0-preview.6/powershell-7.3.0-preview.6-linux-x64.tar.gz

... but it is malformed.

I tried opening it with 7-zip and I got this error:

<img src="https://user-images.githubusercontent.com/1175054/183513045-0b0700f2-e4af-4e2f-b974-88acea38c8cb.png" width="500" />

I also tried opening it with

[2022-08-08 20:59] #68767 closed

[2022-08-08 21:01] mangod9 commented on #73247
We will evaluate whether the revert resolves this issue.

[2022-08-08 21:03] vsfeedback opened #73591 "Debugger c# net 7 not native file request broken AND Breakpoint error"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Debugger-c-net-7-not-native-file-reques/10113851)._

---
[severity:I'm unable to use this version]
Hello dear team
I just tried your debugger
and unfortunately found that he requests a file that I do not have.

We'll take a pointless code

 static void Main(string[] args)
    {
        C

[2022-08-08 21:09] eerhardt commented on #72308
I don't believe you are using a build with the fix. The current SDK from dotnet/installer doesn't contain the fix. See https://github.com/dotnet/installer/pull/14263#issuecomment-1207477163

[2022-08-08 21:09] carlossanlop commented on #73440
I downloaded it again. I don't know why, but I can open it now with 7-zip.

I tried your code snippet once again. I tested it using the latest bits in `main` in dotnet/runtime. The test passes, no exceptions are thrown, and I verified that all the entries in the tar.gz are visited in the while loop.

There were several bug fixes introduced between preview5 and preview6. Right now, main is on previ

[2022-08-08 21:21] mrsharm opened #73592 "GC Microbenchmarks Perf Regressions: Move from Segments to Regions"
## Summary

A number of microbenchmarks regressed after moving from representing the GC Heap from Segments to Regions; the reason was attributed to the increase in the commit/decommits. Symptoms include a higher number of virtual commits and decommits as regions is more proactive in decommitting memory.

## Perf Results Comparing NET 6.0 vs. NET 8.0

Regressed benchmarks:

Benchmark   Name | Basel

[2022-08-08 21:23] mrsharm commented on #72477
Attribute these GC related regressions to the decommit behavior for regions that's being tracked; https://github.com/dotnet/runtime/issues/73592

[2022-08-08 21:24] mrsharm commented on #66665
Attribute these GC related regressions to the decommit behavior for regions that's being tracked; https://github.com/dotnet/runtime/issues/73592 & updated the milestone.

[2022-08-08 21:24] mrsharm commented on #67958
Attribute these GC related regressions to the decommit behavior for regions that's being tracked; https://github.com/dotnet/runtime/issues/73592 & updated the milestone.

[2022-08-08 21:25] mrsharm commented on #66664
Attribute these GC related regressions to the decommit behavior for regions that's being tracked; https://github.com/dotnet/runtime/issues/73592 & updated the milestone.

[2022-08-08 21:28] buyaa-n opened #73593 "CustomAttributeDecoderTests.TestCustomAttributeDecoderUsingReflection test fails on mono"
[The PR](https://github.com/dotnet/runtime/pull/72561) for [Improving custom attribute decoding tests](https://github.com/dotnet/runtime/issues/16552) to test all attributes using reflection is failing on mono because mono parses attribute type differently than coreclr.

For example it parses the `CustomAttributeTypedArgument.Type` of `[Test((object)null)]` attribute into string not object. Also p

[2022-08-08 21:28] davidwrighton commented on #64544
This appears to have been a bug around the behavior of the `ByReference<T>` type in the runtime. Now that @AaronRobinsonMSFT  has replaced all of those usages with `ref` fields as of #71498, this problem should no longer recur.

[2022-08-08 21:28] #64544 closed

[2022-08-08 21:32] tannergooding commented on #73579
You'll likely want to open a proposal on dotnet/csharplang requesting a language feature to support this.

Notably, `where T : Enum` constrains it to be the `System.Enum` class or a concrete `enum` type, the former doesn't have any operators.

Using `where T : struct, Enum` would constrain it only to being a concrete `enum` type; however there are also no actual operators exposed by such types. Th

[2022-08-08 21:32] #73579 closed

[2022-08-08 21:36] bartonjs commented on #73567
Well, "the ability to generate a byte (or, for convenience, many bytes)" would be `IByteGenerator`, not `IRandom`.

It's a little unfortunate that there's not a good "funneling" method on System.Random, but your PerlinNoise RNG can easily be

[code]

And if the only reason the interface is showing up is for DI reasons, you can use classes as the key in the DI registration methods. (e.g. instead of

[2022-08-08 21:41] gdkchan opened #73594 "Tiered compilation support for dynamic methods"
### Description

A few years ago, tiered compilation was introduced on .NET. However, at least to my knowledge, it was never supported for dynamic methods. Having tiered compilation for dynamic methods would provide the same benefits it does for "pre-compiled" applications, faster startup when you have a lot of code that only needs to run once (and so the JIT optimizations might not pay off if it

[2022-08-08 21:47] ivdiazsa commented on #72308
@eerhardt I see, thanks for the observation. Seeing that Marc's PR was merged earlier today, would it be reasonable to expect the fix on the nightly build tomorrow morning? Or should I wait more before testing it?

[2022-08-08 21:49] tommcdon commented on #73591
@jkoritzinsky this issue seems to be related to the pinvoke source generator.  Is it possible to embed the source info into the PDB so the interop stubs are debuggable?  cc @hoyosjs

[2022-08-08 22:09] eerhardt commented on #72308
I'm not sure. There still isn't a new `[main] Update dependencies from dotnet/sdk` PR in dotnet/installer. I'm not sure when the new one will be PR'd + merged. After that happens, then the next official build will have the fix.

[2022-08-08 22:09] jkoritzinsky commented on #73591
We don't (and can't) do anything special as part of the P/Invoke source generator to embed sources. They should already be debuggable as that's one of the big draws of using source generators. Roslyn does embed the sources, so they should be in the PDB. Maybe ILLink or the source-link step is stripping the embedded documents?

[2022-08-08 22:18] dakersnar commented on #71771
We have no reasonable steps to fix this regression, and it is on the nanosecond scale, so the impact is low. Closing this.

[2022-08-08 22:18] #71771 closed

[2022-08-08 22:22] dakersnar commented on #69516
@jkotas We think this might be VM related, can you take a look?

[2022-08-08 22:25] dakersnar commented on #69257
This is faster on x64 and the maintainability is now improved, so we will accept this tradeoff. The only theoretical fix could be to improve what the JIT does for 64-bit multiplication on Arm64.

[2022-08-08 22:25] #69257 closed

[2022-08-08 22:28] BenMakesGames commented on #73567
you had me all excited that `IByteGenerator` was a thing, and I went googling :P

I liked your example on how to treat Random as an 'interface'. that's cool to know, however it doesn't seem to be very discoverable (my ignorance does not seem to be uncommon): I rarely see a third-party package which ask the developer to pass in an instance of `Random` (instead they `new` up an instance themselves,

[2022-08-08 22:31] dakersnar commented on #72348
We're planning on getting an analyzer out that flags the known behavioral changes, code fixers will be a future consideration (post 7.0).

[2022-08-08 22:37] dakersnar commented on #60792
@fanyang-mono is this still planned for .NET 7.0? If not, can you please move it to 8.0? Thanks!

[2022-08-08 22:37] AndyAyersMS commented on #66776
Looks like this is still unassigned. I'll take it for now.

[2022-08-08 22:39] hoyosjs commented on #72578
Hmm I still see the r2r frames in that view for that benchmark:

<img width="848" alt="image" src="https://user-images.githubusercontent.com/19413848/183526387-e93f485c-50e0-47f7-b276-29fa244dff78.png">

Probably if you could share the log we could see if it found SPC's ni.pdb?

[2022-08-08 22:40] dakersnar commented on #67974
Closing this, I'm assuming this is noise.

[2022-08-08 22:40] #67974 closed

[2022-08-08 22:40] janvorli commented on #72308
@ivdiazsa you can check the commit # of e.g. libcoreclr.dylib from the SDK you are trying to use and then find the commit in the list of commits on github.  You'd then see if the commit that fixes the issue is earlier or later than the SDK one.

[2022-08-08 22:41] hoyosjs commented on #72578
And yes, in my profile I see:

<img width="909" alt="image" src="https://user-images.githubusercontent.com/19413848/183526728-84946aa9-7c72-4ed4-9d39-093d6ae3af9e.png">

[2022-08-08 22:47] bartonjs commented on #73567
The .NET design guidelines say the opposite, in fact. To quote Framework Design Guidelines, 3rd edition, p97 (section 4.3, "Choosing Between Class and Interface")

which continues on the next page to

While ASP.NET and other higher level layers may like interfaces, at the bottom level we discourage using them unless it's an absolute slam-dunk that they're a) needed and b) useful.  (Many of the API

[2022-08-08 22:49] dakersnar commented on #66832
Closing as dup of https://github.com/dotnet/runtime/issues/65189

[2022-08-08 22:49] #66832 closed

[2022-08-08 22:50] dakersnar commented on #66838
We significantly improved x64 performance, so this 32-bit regression is somewhat by design.

[2022-08-08 22:50] #66838 closed

[2022-08-08 22:51] dakersnar commented on #63331
Everything is done here except for the shuffle APIs that take two inputs and the index mask. Perf improvements are still needed for the other shuffle APIs.

[2022-08-08 22:53] marcpopMSFT commented on #72308
To clarify, you're asking when the runtime change will be in installer, correct? I'm asking as you linked to https://github.com/dotnet/sdk/issues/27029 which hasn't had a fix checked in for it.  As for codeflow of runtime, the latest build of runtime in the SDK repo is [7.0.0-rc.1.22407.4](https://github.com/dotnet/runtime/compare/e43e315...0c5ca95). However, codeflow from sdk to installer is curr

[2022-08-08 22:54] dakersnar commented on #70972
No repro since, assuming this was a one-off

[2022-08-08 22:54] #70972 closed

[2022-08-08 22:58] joperezr commented on #63385
You are right, that pattern does repro in both 7.0 and 6.0. Given this is not a regression from 6 and the limited time we have for 7.0, I'm adjusting the milestone.

[2022-08-08 22:58] AndyAyersMS commented on #66776
Can reproduce running locally (via wsl2)
[code]
|    Method |        Job |  Runtime | Toolchain | Size |     Mean |    Error |   StdDev |   Median |      Min |      Max | Ratio | RatioSD |  Gen 0 |  Gen 1 | Allocated | Alloc Ratio |
|---------- |----------- |--------- |---------- |----- |---------:|---------:|---------:|---------:|---------:|---------:|------:|--------:|-------:|-------:|---------

[2022-08-08 22:58] dakersnar commented on #70532
Everything planned here for 7.0 has been completed, with the exception of the details in https://github.com/dotnet/runtime/issues/63331 that were moved out to 8.0.

[2022-08-08 22:58] #70532 closed

[2022-08-08 22:59] dakersnar commented on #70533
Everything planned here for 7.0 has been completed, with the exception of the details in https://github.com/dotnet/runtime/issues/63331 that were moved out to 8.0.

[2022-08-08 22:59] #70533 closed

[2022-08-08 22:59] joperezr commented on #65605
I'm working on this and will finish it before 7.0 ships, however, this is not a blocker for 7.0 so I'm adjusting the milestone.

[2022-08-08 23:03] jeffhandley commented on #68770
@danmoseley FYI I'm moving this out to 8.0.0 since we weren't able to drive it to consensus for 7.0.0. I'd like to treat this as a high-value feature for 8.0.0 though.

[2022-08-08 23:11] dakersnar commented on #65511
This has been solved somehow. Hooray!

[2022-08-08 23:11] #65511 closed

[2022-08-08 23:12] AndyAyersMS commented on #66776
@adamsitnik is it expected that with `-p EP` I won't get cpu sample events? If so, any way to enable these via the command line?

[2022-08-08 23:14] dakersnar commented on #64463
Closed as a dup of https://github.com/dotnet/runtime/issues/69694

[2022-08-08 23:14] #64463 closed

[2022-08-08 23:21] joperezr commented on #67913
I checked the DGMLs before and after my change and they look the same. Given this is a small regression, and due to the fact that most scenarios involve case-insensitive searches improved (even for the NonBacktracking engines) I'm closing this for now.

[2022-08-08 23:21] #67913 closed

[2022-08-08 23:23] dakersnar commented on #59149
Seems to have improved over time.

[2022-08-08 23:23] #59149 closed

[2022-08-08 23:23] AndyAyersMS commented on #66776
Hmm, I guess there are sample events but not ones that perfview recognizes?

<img width="539" alt="image" src="https://user-images.githubusercontent.com/10121823/183531061-fd2a0791-5031-4963-94f9-9482d5dd4bdc.png">

[2022-08-08 23:26] dakersnar commented on #59414
The BigInteger one should be fixed by the eventual refactor. The first one seems to have gone down and is no longer significant enough to warrant investigation.

[2022-08-08 23:26] #59414 closed

[2022-08-08 23:30] dakersnar commented on #31853
@lambdageek Are you planning on fixing this for 7.0? If now, can you triage this out to Future? Thanks.

[2022-08-08 23:39] #71131 closed

[2022-08-08 23:41] marcpopMSFT commented on #72308
Ahh, I thought you were asking about 27029 which didn't have any PRs linked.  My answer is still the same that CI builds are down because of a bad yml merge when parts of the templating repo were moved into the SDK repo and the Prague team will hopefully fix that tonight.

[2022-08-08 23:47] jkotas commented on #69516
cc @steveharter

[2022-08-08 23:51] ivdiazsa commented on #72308
Thanks for making this clear Marc and Eric!

[2022-08-09 00:02] #69584 closed

[2022-08-09 00:02] #5902 closed

[2022-08-09 00:05] RussKie commented on #73527
Thank you @jkoritzinsky @elinor-fung for your help and guidance. Adding @stephentoub for awareness since he was involved in both mentioned changes.

@creizlein to confirm - you need to invoke `CoInitializeSecurity` only once when your app starts, is that correct?

[2022-08-09 00:09] AntonLapounov commented on #63241
For historical reasons, publishing a class library project from Visual Studio would execute the `pack` target instead of the `publish` target.  The fix is ready and will be included in Visual Studio 17.4 Preview 2.  Until then, publishing from a command line (`dotnet publish`) may be used as a workaround.

I verified that if I add `<OutputType>Exe</OutputType>` to the `Seem\Seem.csproj` file and p

[2022-08-09 00:09] #63241 closed

[2022-08-09 00:32] bartonjs commented on #71037
OK.  So the problem is that in OpenSSL 1.0.2 the `SSL_CTX*` type can't handle the SSL_CTRL_SET_TLSEXT_STATUS_REQ_TYPE control, only the individual `SSL*` can.

So I guess we can move it from SslCtxCreate to SslCreate.  Doing it in both places as a quick test with X509 tracing on and some extra printing in this test shows that it makes Centos7 happy:

[code]

(OCSP ... 23 => "the certificate is rev

[2022-08-09 00:44] AntonLapounov commented on #66568
According to the table above, the issue is not specific to macOS or ARM64, e.g., it fails on Ubuntu x64 as well.

[2022-08-09 01:02] wfurt commented on #71037
I personally feel it would be OK to skip tests/OCSP on 1.0.1. It is not supported anyway https://www.openssl.org/policies/releasestrat.html and the chance that somebody runs massive production servers on it is small IMHO. I did something similar for TLS resume to avoid weird behavior I was experiencing.

[2022-08-09 01:14] v-wenyuxu commented on #60382
Failed again in: [runtime-coreclr jitstress 20220807.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1928931&view=ms.vss-test-web.build-test-results-tab&runId=49869820&resultId=106752&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-08-09 01:16] davidwrighton commented on #65281
This isn't intrinsics, this is struct layout, but fortunately enough while this failure is enough to break the test, it shouldn't actually break customers. However, lack of testing of the intrinsics is a problem so it does need to be fixed.

[2022-08-09 01:26] v-wenyuxu commented on #72879
Failed again in: [runtime-coreclr libraries-jitstress 20220808.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1929024&view=ms.vss-test-web.build-test-results-tab&runId=49871720&resultId=133711&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2022-08-09 01:55] davidwrighton commented on #73403
This probably caused by parallelizing compilation, yes. In particular, the problem here is that the field symbol computation is based on FieldDesc instead of FieldDescAndToken. This dependence on FieldDesc to drive the hashtable opens us up to ordering dependency problems, however, it is fairly desirable in several ways. I'm going to look into what the appropriate fix is tomorrow.

[2022-08-09 02:00] AndyAyersMS commented on #72578
Sent it to you via email.

[2022-08-09 02:02] davidwrighton commented on #73403
In particular, there are several different MemberRefs in the dll which refer to the same field (but with different generic instantiations).  (Tokens 0A00011F, 0A000129, 0A000132, 0A00013E, and 0A000251) With the design of the R2R file format, it is possible to use any of these MemberRefs to refer to the same field. However, the path to doing so is not stabilized properly and so we lose determinism

[2022-08-09 02:03] AndyAyersMS commented on #72578
If I'm parsing this right the PDB it finds seems awfully small
[code]

[2022-08-09 02:12] AndyAyersMS commented on #66776
From the above I can get a crude profile of sorts. But not sure it is helping me spot which method(s) have regressed.

[2022-08-09 02:14] tommcdon commented on #71472
Thank you for the information. The "ps aux" command outputs the resident set size of the process, however, it does not count pages that have been swapped out. My hypothesis is that createdump is causing these swapped out pages to be paged back into the process causing RSS to increase.  Createdump will read memory pages in the target process and writes them to a dump file.  In order to write a dump

[2022-08-09 02:16] tommcdon commented on #73591
@vitek-karas do you know if ILLink removes PInvoke source generated sources from the System.Private.Corelib PDB?

[2022-08-09 02:20] WenJunJi01 commented on #71856
Hi @janvorli @kasperk81, today we validated on SDK 7.0.100-rc.1.22408.3(runtime-7.0.0-rc.1.22403.8).
The x86 SDK can work well. The project can create, build, run successfully.
![image](https://user-images.githubusercontent.com/87680983/183549073-9f580244-b3cb-4bac-9c23-658c7f3f880a.png)
The x64 SDK can be installed, but we are still unable to create the project and encounter the following error.

[2022-08-09 02:20] afilatov-st commented on #71472
Thanks for the answer. I doubt it because the app is run under a Kubernetes environment where the swap should be off. I'll check with `getrusage` and get back with results.

[2022-08-09 02:28] tommcdon commented on #71472
It seems that recent versions of Kubernetes does support swap files:
https://kubernetes.io/blog/2021/08/09/run-nodes-with-swap-alpha/

Is it possible the environment has swap memory usage enabled?

[2022-08-09 02:33] JamesNK commented on #72619
What do you mean by races? What do you expect to happen when a stream is aborted while `QuicStream.DisposeAsync` is being called?

Previously ASP.NET Core was calling `QuicStream.Dispose`. That's method just calls `QuicStream.DisposeAsync` but with sync-over-async, which we obviously don't want.

I can't repo getting "The server returned an invalid or unrecognized response." in gRPC benchmarks. Ho

[2022-08-09 02:33] hoyosjs commented on #73591
Sourcelink embedded the generated source into the IL PDB. I see:

[code]

This is a byproduct of optimized debugging of the runtime. Both the breakpoint and the issue with source mapping. Once I turn off jit opt and r2r I get to the source by stepping:

![image](https://user-images.githubusercontent.com/19413848/183550926-c7f2552f-ec8b-4610-87a1-a3e6ee7be5f8.png)

[2022-08-09 02:37] tommcdon commented on #73591
Closing via analysis from @hoyojs

[2022-08-09 02:37] #73591 closed

[2022-08-09 02:42] tannergooding opened #73604 "Expose System.Runtime.Intrinsics.X86.Avx512F"
## Summary

Today .NET exposes hardware specific intrinsics for most of the x86/x64 optional ISAs. However, we do not currently support AVX-512 despite it having been out for several years.

**Important Notes:** See https://github.com/dotnet/runtime/issues/73604#issuecomment-1208848819 where a longer explanation of some concepts and details around other ISAs and AVX-512 instruction support is give

[2022-08-09 02:42] tannergooding commented on #73604
AVX512F technically implies `AVX2`, `F16C`, and `FMA`. However, .NET does not currently support multi-inheritance and so the inheritance from `F16C` and `FMA` is somewhat "implied". The downside of this is that doing `Avx512.*` will not show the baseline APIs from `Fma`. We do not currently expose `F16C` so there isn't as much impact there.

The API surface below is a subset of the overall AVX512

[2022-08-09 02:44] jaredpar opened #73606 "Constrained execution behavior change in .net7 preview 6"
### Description

The behavior around constrained execution calls observably changed between .net7 preview 5 and preview 6. This was caught by a regression test in the roslyn repository: https://github.com/dotnet/roslyn/issues/63221.

This is an old regression test tracked by the following work item. https://vstfdevdiv/DevDiv2/DevDiv/_workitems/edit/1021941

### Reproduction Steps

Create a Visual

[2022-08-09 02:45] NikVladi opened #73607 "ParallelLoopState.ShouldExitCurrentIteration does not match true later than true is assigned"
### Description

ParallelLoopState.ShouldExitCurrentIteration does not match true later than true is assigned.
If you run this code many times, you may see this behavior in some cases. Is this a bug? Why does it work like this?

### Reproduction Steps

[code]

### Expected behavior

Аter setting ShouldExitCurrentIteration True ShouldExitCurrentIteration should always be True.

### Actual behavior

[2022-08-09 02:47] AntonLapounov commented on #71856
That is an unrelated installer(?) issue.  If you download the zip, it works fine.

[2022-08-09 02:49] tannergooding commented on #73604
Please review and double check the surface area described here. As indicated above, I'm working on the VL surface area with a proposal for how that should be exposed.

Given that VL is a special ISA and is itself an extension to both `AVX512F` and many other `AVX512*` ISAs, but only when they are present; it may need special consideration for how it's exposed. The two most "obvious" options are gi

[2022-08-09 02:50] tannergooding commented on #73604
CC. @anthonycanino

[2022-08-09 02:51] BenMakesGames commented on #73567
alrighty. thanks for talking this stuff through with me. I've learned some things, and become confused about others, but that's fine, too :P I'll close this proposal; maybe I'll be back someday with a new one :P

[2022-08-09 02:51] #73567 closed

[2022-08-09 04:03] iSazonov commented on #73440
Thanks! Will try with preview7 today.

[2022-08-09 04:26] hoyosjs commented on #72578
A local build on a native x64 machine and the ni pdb's for 6.0.7 are all ~3mb. They don't contain much info - just symbol to native offset, but no line info.

[2022-08-09 04:48] RussKie commented on #72967
If we're using "initializing" may be the method should as well be called `Initialize()` as opposed to `Register()`?

[2022-08-09 04:53] hez2010 opened #73608 "API Proposal: Unsafe.IsNullRef(ref readonly)"
### Background and motivation

Currently we cannot test whether a ref readonly is null ref or not because Unsafe.IsNullRef() takes a ref parameter instead of ref readonly parameter.
Given that Unsafe.IsNullRef doesn’t need mutability, the signature should be changed from IsNullRef(ref) to IsNullRef(ref readonly).

### API Proposal

[code]

### API Usage

[code]

### Alternative Designs

_No respon

[2022-08-09 05:22] kunalspathak commented on #71059
I re-checked the `Array2` benchmarks on unix/x64 as well as on Arm64 with/without loop hoisting and nothing pops out. The code is definitely better where we hoist certain invariants outside the nested loop. There could be JCC erratum triggering (at least for unix x64 case) that is causing it. E.g. https://www.diffchecker.com/XdBiwwH4

Other diffs are included in zip file for all the methods involv

[2022-08-09 05:29] bartonjs commented on #71037
Well, the server half of OCSP works fine on 1.0.x, it's the client half that doesn't.  If it was the server half, I'd agree: move to new stuff.

The client half I have a bit more sympathy for, I guess.  And since it's just moving 3 lines down a bit, it's not too cumbersome.  (If it was a lot of work, I'd be back at "eh, move to new stuff")

[2022-08-09 05:55] WenJunJi01 commented on #71856
@AntonLapounov Thanks, we'll track it down with this new bug.

[2022-08-09 06:21] #69788 closed

[2022-08-09 06:47] d00lar opened #73614 "[blazor] canot debug blazor client when using custom domain name / "Unbound breakpoint""
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the bug

hi
im building some Blazor wasm project

and to access OIDC i had to make my dev iis expres to run under https:/xxx.localhost and OIDC is veryfying this callback url so it mus be like that

so i had to add to my hosts xxx.localhost 127.0.0.1 and then edit applicationhost.config and add
[code]

[2022-08-09 07:16] krwq commented on #30258
I'm unassigning myself since I don't work on this now and we don't have specific plans for 8.0 yet

[2022-08-09 07:28] MichalStrehovsky commented on #73590
The interesting thing would be what the other threads are doing - main thread is clearly waiting on something.

What version of NativeAOT are you using (Is it just `<PublishAot>true</>` with one of the previews? Which one?)

We got GC suspension only pretty recently (https://github.com/dotnet/runtime/pull/70316), so if this is an older build and the threads are all waiting for a GC, it could be th

[2022-08-09 07:38] JoakimJohesan opened #73610 "Sporadic OpenSSL decryption fails for HttpClient responses"
### Description

Hello, we recently began seeing errors reported when doing M2M https requests between our API's. We can see from the application logs that requests are received, and correctly responded to, but when the initiating API attempts to read the response, it gets an decryption exception. The faults occur randomly, and only a very small percentage of our requests fail. (~0,1%). We see no

[2022-08-09 07:43] adamsitnik commented on #66776
In case of EventPipe we just get different CPU samples (events emitted by the .NET Runtime, not the OS). In PerfView you need to open the "Thread Time" view (not "CPU Stacks" like usual):

![image](https://user-images.githubusercontent.com/6011991/183592369-28502938-fd9b-4052-bfa3-cda7423b0e55.png)

![image](https://user-images.githubusercontent.com/6011991/183592796-9553f244-0878-4c69-95e9-07f1c5

[2022-08-09 07:46] adamsitnik commented on #67974
@dakersnar could you please run these benchmark for .NET 6 and 7 and see what is the difference?

[code]

[2022-08-09 07:47] adamsitnik commented on #66838
@dakersnar was it done on purpose, or the 32 bit regression is just a side effect?

[2022-08-09 08:05] adamsitnik commented on #60107
Not anymore. With https://github.com/dotnet/runtime/pull/72193 we can parse all VT Sequences even without Terminfo. Terminfo is now treated as default source of truth, but when it does not contain mapping for given sequence, we fall back to our own mappings. This code path is very often used for PuTTy which often identifies as xterm, but uses completely different key mappings.

With https://github

[2022-08-09 08:08] adamsitnik commented on #64969
@tmds is there any chance you could take a look at this issue? We are very close to .NET 7 release now and I won't be able to fix it myself.

[2022-08-09 08:17] adamsitnik commented on #68328
I am moving it to 8 as I don't see us implementing it before we snap. Please feel free to prove me wrong by sending a PR ;)

[2022-08-09 08:20] sakno commented on #73608
@hez2010 , you can but with a bit more verbose code:
[code]

[2022-08-09 08:34] Jawadahmed200 commented on #73561
Thank You @MihaZupan  For You Kind Help. It is Working after enabling proxy.

[2022-08-09 08:34] #73561 closed

[2022-08-09 08:36] DaZombieKiller commented on #6924
@pengweiqhca That code contains a GC hole and isn't safe to use. `Unsafe.AsPointer` will cause the GC to lose track of the reference, leading to memory corruption. This is how you can avoid the GC hole:
[code]
The general rule is that you should almost never convert a managed `ref` to an unmanaged pointer without `fixed`, unless the `ref` is referring to unmanaged or already-pinned memory.

[2022-08-09 08:55] emepetres commented on #56145
@devshgraphicsprogramming check my samples, you can find how to do this with MonoPInvokeCallback there.

[2022-08-09 09:06] pengweiqhca commented on #6924
@DaZombieKiller Yes, I use native memory + pointer.

[2022-08-09 09:35] karelz commented on #73541
@lewing can you please triage this one? Thanks!

[2022-08-09 09:43] #64487 closed

[2022-08-09 09:51] pengweiqhca commented on #6924
@DaZombieKiller Sorry, I forgot to modify it, but it has been fixed now. In my actual code I use struct.

[2022-08-09 09:58] jeffhandley commented on #62658
@AraHaan I'm sorry I overlooked that question months back and didn't notice until now. The proposals you made for zlib are valuable, but did not make it into .NET 7.0. We will consider them while we do our .NET 8 planning. Thank you.

[2022-08-09 09:59] #62658 closed

[2022-08-09 10:10] #64600 closed

[2022-08-09 10:12] davmason commented on #72578
@mangod9 could you have someone look in to what Andy is reporting above? He is investigating a trace where the symbols for System.Private.CoreLib (which is R2R) are loaded, but methods are resolving incorrectly.

[2022-08-09 10:15] jeffhandley commented on #58381
Unfortunately, we won't be able to get to this in .NET 7.0. We will consider it again during our .NET 8 planning.

[2022-08-09 10:27] jeffhandley commented on #58211
Fixed in #57398

[2022-08-09 10:27] #58211 closed

[2022-08-09 10:29] #64596 closed

[2022-08-09 10:32] marcin-krystianc commented on #47563
Another option to consider is to make this an opt-out feature and use [AppContext](https://docs.microsoft.com/en-us/dotnet/api/system.appcontext) to allow users to opt out from strict validation. AppContext makes it easy to opt-out of the strict behaviour for the entire application with a single `AppContext.SetSwitch ("....DisableStrictValidation", true)` call. The main benefit would be that all u

[2022-08-09 10:37] jakobbotsch commented on #73606
The previous behavior seems wrong to me based on the IL generated, which is the following:
[code]

Before preview 6 the call to `set_Position` is seeing the wrong instance of `item`. It is an object reference that is modified by the call to `GetOffset`, and the constrained call to `set_Position` dereferences the address loaded at `IL_0000` which should see the modified instance. The previous behav

[2022-08-09 10:42] #63762 closed

[2022-08-09 10:44] jakobbotsch opened #73615 "JIT incorrectly reorders constrained call 'this' indirections with other arguments"
Small example:
[code]
Expected: B
Actual: A

Seen in https://github.com/dotnet/runtime/issues/73606#issuecomment-1209210990

category:correctness
theme:importer
skill-level:intermediate
cost:small
impact:small

[2022-08-09 10:51] jeffhandley commented on #73386
In addition to the scenarios already noted where an application could fail to use SubtleCrypto, customers are also at the mercy of browser behavior here. I can imagine a scenario where a browser update causes our integration with SubtleCrypto to fail wholesale and cause the application to crash. Without an escape hatch to bypass that integration and use the managed implementations, they could face

[2022-08-09 10:56] #59997 closed

[2022-08-09 10:59] jeffhandley commented on #73389
The regression here is beyond our control at the moment. However, I'm going to put this into the 8.0.0 milestone as we are going to be considering zlib options next year.

[2022-08-09 11:05] jeffhandley commented on #73357
Thanks, @jonathanou; indeed that updated example is more convincing. 🙂
I'm transferring this issue to the roslyn-analyzers repo and we'll add it to the backlog.

[2022-08-09 11:08] jeffhandley commented on #73432
@MichalStrehovsky Is there anything related to 7.0 where addressing this would notably help, or can this be scheduled for 8.0?

[2022-08-09 11:11] stephentoub commented on #47563
We already know this breaks real-world use. I do not see the ROI for making such a change.

[2022-08-09 11:18] #70267 closed

[2022-08-09 11:21] #72476 closed

[2022-08-09 11:22] ManickaP commented on #72619
My theory is that  `HttpContext.Abort` finished before `QuicStream.Abort` was actually called (that there's a disconnect between those two operations) and it races with `QuicStream.DisposeAsync`. But please correct me if I'm wrong. There're several layers of code in between and I might be missing something.

For completeness, our server code:
https://github.com/dotnet/runtime/blob/c99545ca6458d0ff

[2022-08-09 11:28] simonrozsival commented on #72941
@pavelsavara your PR #73468 fixed the issue so I'm closing the issue

[2022-08-09 11:28] #72941 closed

[2022-08-09 11:31] d00lar commented on #73614
i do not have but maybe area-Debugger-mono?

[2022-08-09 11:42] marcin-krystianc commented on #47563
In our company we had issues with truncated data streams, especially with large files on network shares. Because of that we need to use other libraries that do strict validation. None of the alternatives are as fast as System.IO.compression so we would prefer using it if it supported strict validation.  The opt-in is good enough for us, but my personal opinion  is that opt-out is even better.

[2022-08-09 11:47] AhmedZero commented on #73590
i use 7.0.0-rc.1.22408.2, and i don't use `<PublishAot>true<PublishAot/>`

[2022-08-09 11:54] 3HMonkey opened #73617 "Assertion failed in loader: , condition `<disabled>' not met"
### Description

I am currently working on a dotnet app migration from console app over to wasm. Setup is providing the wasm using asp.net. All compiled with latest net7 preview. The app is loading until it reaches the assertion failed error.

![image](https://user-images.githubusercontent.com/4610892/183638827-2a745a86-0552-4172-8fb8-8c537e2fd298.png)

### Reproduction Steps

- compiled app to wa

[2022-08-09 11:55] 3HMonkey commented on #73617
`<PropertyGroup>
    <TargetFramework>net7.0</TargetFramework>
    <TargetArchitecture>wasm</TargetArchitecture>
    <TargetOS>browser</TargetOS>
    <RuntimeIdentifier>browser-wasm</RuntimeIdentifier>
    <UseMonoRuntime>true</UseMonoRuntime>
    <WasmMainJSPath>wwwroot/main.js</WasmMainJSPath>
    <OutputType>Exe</OutputType>
    <WasmEnableES6>true</WasmEnableES6>
    <PublishTrimmed>true</Publ

[2022-08-09 12:06] Luokun2016 opened #73618 "How to request administrator permissions at runtime"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I want to ask for administrator permissions anycodings_runtime at runtime in my application, but I couldn't anycodings_runtime find anything, despite the googling and anycodings_runtime searching. I could only find posts regarding anyc

[2022-08-09 12:24] karelz commented on #73536
@directhex thanks! Looking forward for the tests to be disabled.
Please also triage this issue into appropriate milestone. Thanks!

[2022-08-09 12:30] karelz commented on #73247
Test disabled in #73477 - not blocking CI anymore. Adjusting labels accordingly.

[2022-08-09 12:35] jakobbotsch commented on #73606
Though I'm not really sure what Roslyn can do here, I suppose making a copy would be wrong in the struct case. On the other hand I'm not sure what the JIT can do here either, there can be arbitrary trees between loading the address of the `this` variable and the constrained call which will cause the JIT to spill the arguments for any number of reasons.

[2022-08-09 12:37] Suchiman commented on #73618
@Luokun2016 it's not possible to elevate permissions of an existing process, the common workaround for only conditionally needing administrative permissions (where declaring it in the app manifest is not desireable) is to restart the app with admin permissions https://stackoverflow.com/a/7351689

[2022-08-09 12:48] #73559 closed

[2022-08-09 12:52] pavelsavara commented on #72941
good, thanks.
I have follow up which fixes the deployment to Blazor, still work in progress.

[2022-08-09 12:59] MiyamuraMiyako opened #73635 "From issue #65696."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Run aspnetcore program in `windows service` and `NT Authority\NetworkService` user will crash.

### Expected Behavior

_No response_

### Steps To Reproduce

1. Create  AspNetCoreWebApi project.
2. Publish sample project.
3. `sc` command install windows service and set obj= "NT Authority\Netw

[2022-08-09 13:05] performanceautofiler[bot] opened #73630 "[Perf] Regression on 8/1/2022 6:03:22 PM"
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.19042
Baseline | [f1de614c74589fe8f682dda39889d189f2522504](https://github.com/dotnet/runtime/commit/f1de614c74589fe8f682dda39889d189f2522504)
Compare | [68bd58e0e68b22a3cbcc67a3f1218a6c8f623bcf](https://github.com/dotnet/runtime/commit/68bd58e0e68b22a3cbcc67a3f1218a6c8f623bcf)
Diff | [Diff](https://github.com/dotnet/runtime/compare

[2022-08-09 13:34] eerhardt commented on #72879
@v-wenyuxu - that stack trace looks like a different test. Also the test being tracked here has been disabled for over a week.

[2022-08-09 13:34] ilonatommy commented on #53843
For current version of runtime (HEAD: f19591801305bc61f353ab91c65e50360175b44c) using the repro provided by @menees and running with Kestrel according to the instructions in the repro: no exceptions.

[2022-08-09 13:38] jakobbotsch commented on #72474
I think the range @kunalspathak mentioned above, https://github.com/dotnet/runtime/compare/29e3bf0370f53ed6cc3bf38516d754fe2aff2cf7...fc0b204cf83ce1596c78fd66b8c0047eb2719c90, is just a different mode. This is the latter of the two upticks around May, it seems.

Based on the graph the first uptick is https://github.com/dotnet/runtime/compare/390620f46bea4d1ef95b5dde7db8d1633acb98ee...21f1a2bb132b8

[2022-08-09 13:38] #72474 closed

[2022-08-09 13:52] eerhardt commented on #72810
cc @jeffhandley - FYI

[2022-08-09 13:53] SamMonoRT commented on #73311
Tracked via https://github.com/xamarin/xamarin-android/issues/7243   -  Closing this issue.

[2022-08-09 13:53] #73311 closed

[2022-08-09 14:02] SamMonoRT commented on #71855
Moving to 8.0.0, we'll consider backporting based on the fix

[2022-08-09 14:12] SamMonoRT commented on #73534
moving to 8.0.0 given it's non-deterministic. Will investigate and propose a backport if we narrow down the issue

[2022-08-09 14:12] akoeplinger commented on #48165
I don't think this has enough value to be worth it TBH, it can only happen with tooling bugs and when it happens it's not that hard to figure it out and we also haven't seen another instance of this in the 18 months since this bug was filed.

[2022-08-09 14:12] #48165 closed

[2022-08-09 14:16] SamMonoRT commented on #73304
related to https://github.com/dotnet/runtime/issues/68914  --- cc @vargaz

[2022-08-09 14:18] karelz opened #73621 "Crash in System.Net.WebSockets.Client - Illegal memory access"
8/9:
- 13x hits in [Runfo last 120 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E120+definition%3Aruntime+name%3A%22system.net.websockets.client.tests+work+item%22+targetBranch%3Amain) (older crashes than PR build [1925920](https://runfo.azurewebsites.net/view/build/?number=1925920) on 8/5 are from different reasons)
- 18x hits in Kusto 8/5-8/9 (no crashes failures 6/9-8/4 at

[2022-08-09 14:22] directhex commented on #53351
@fanyang-mono how can I build this test?

[2022-08-09 14:25] creizlein commented on #73527
@RussKie that is correct

[2022-08-09 14:26] mdh1418 commented on #56073
These are still failing on tvOS

[2022-08-09 14:27] #73618 closed

[2022-08-09 14:29] SamMonoRT commented on #47462
Moving to 8.0.0

[2022-08-09 14:33] #61693 closed

[2022-08-09 14:34] SamMonoRT commented on #43051
moving tracking issue to 8.0.0

[2022-08-09 14:37] SamMonoRT commented on #62485
@akoeplinger @radekdoulik -- any more work remaining here ?

[2022-08-09 14:39] lambdageek commented on #71855
/cc @kg fyi

[2022-08-09 14:40] CarnaViire commented on #73621
https://github.com/dotnet/runtime/pull/73222 was merged on 8/5 so it might be related. The product change in the PR is minimal, but it added a bunch of tests.

cc @greenEkatherine

[2022-08-09 14:40] tannergooding commented on #66838
Like most regressions it wasn't intentional. However, 32-bit perf isn't nearly as important as 64-bit anymore and we have a lot of prior art for minorly reducing its throughput in favor of simplifying the overall code and/or for providing improvements to 64-bit instead.

We could potentially mitigate this regression by providing an alternative implementation for `internal static uint ParseEightDig

[2022-08-09 14:43] fanyang-mono commented on #53351
Follow these instructions for Android - https://github.com/dotnet/runtime/blob/main/docs/workflow/testing/mono/testing.md

[2022-08-09 14:46] tannergooding commented on #67974
This is another example of where even if it was an actual regression, we're looking at ~5ns (somewhere between 5-15 cycles) where other platforms largely stayed the same or had measurable improvements in the inverse direction.

Arm32 is a platform that we only officially support on Linux and which doesn't even have SIMD support/acceleration today. This likely came about as part of the other parsin

[2022-08-09 14:53] tannergooding commented on #73583
This is worth taking to API review for consideration.

IEEE 754 has a concept of "total order" and this is exposed in certain api's such as `Max` and `Min`. It also declares a `totalOrder` API which we don't expose.

The exact semantics it describes are:
* `-qNaN < -sNaN`
* `-sNaN < x`
* `-0 < +0`
* `+sNaN > x`
* `+qNaN > +sNaN`

In .NET, we don't really have a concept of `sNaN` since we don't sup

[2022-08-09 14:58] fanyang-mono commented on #60792
This might have been fixed by https://github.com/dotnet/runtime/pull/72982. I will try it out this week. If not, will move this to .NET8

[2022-08-09 15:02] karelz opened #73623 "[tvOS][iOS] System.Numerics.Tests.GetBitLengthTests.RunGetBitLengthTestsLarge - OutOfMemory"
Fails 1x-2x per week lately -- incl. 3x in Rolling runs (on 8/9, 7/19, 7/11, 5/31)
- failures in Runfo in [last 120 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E120+definition%3Aruntime-extra-platforms+name%3A%22system.numerics.tests.getbitlengthtests.rungetbitlengthtestslarge%22)

Error:

[code]

[code]

[2022-08-09 15:06] #68000 closed

[2022-08-09 15:08] tannergooding commented on #73623
The test should likely just be skipped on these platforms. It's a regression test meant to cover a large `BigInteger` and will allocate a large array up to 256 MB.

[2022-08-09 15:18] radical commented on #53843
@ilonatommy Thank you! Based on your comment, I'm closing this. Please re-open if this is hit again.

[2022-08-09 15:18] #53843 closed

[2022-08-09 15:21] stephentoub commented on #73608
The language doesn't currently support that, changing the current signature to in instead of ref would be breaking, and we can't overload on ref vs in.

This would require https://github.com/dotnet/csharplang/issues/6010, at which point there are a bunch of methods including this one we'd be looking to change over.

[2022-08-09 15:23] radical commented on #73617
- Do you have a small test project that reproduces this issue?
- Also, what exactly do you mean by the two steps - `compiled app to wasm, provide app with asp.net`?

[2022-08-09 15:33] ivanpovazan commented on #71430
Moving to 8.0.0 milestone. This will be revisited for .NET8 planning

[2022-08-09 15:58] radical commented on #73614
cc @javiercn Are the non-debugger changes described correct? If so, then we can look at it from the debugger pov.

[2022-08-09 15:58] radical commented on #73614
cc @thaystg

[2022-08-09 16:04] thaystg commented on #73614
@javiercn as we can see in the screen shot the breakpoint that is not being bound is on server side. on S2Mud.Server.dll, so I think it's not related to mono debugger.

[2022-08-09 16:09] #58073 closed

[2022-08-09 16:15] #72970 closed

[2022-08-09 16:20] mangod9 commented on #69661
This appears to have been a spike for that day and hasnt reproed since. Please reopen if this shows up again.

[2022-08-09 16:20] #69661 closed

[2022-08-09 16:22] eerhardt commented on #72590
It looks like the issue is that the ServiceBase.Run method is kicked off from `WaitForStartAsync`, which is called before calling each `IHostService.StartAsync`.

The main Host logic StartAsync:

https://github.com/dotnet/runtime/blob/e71a9583b4d6c9bd97edd87cda7f98f232f63530/src/libraries/Microsoft.Extensions.Hosting/src/Internal/Host.cs#L56-L80

The sequence goes:

* await _hostLifetime.WaitForSt

[2022-08-09 16:24] DrewScoggins commented on #73389
Also regressed on win-x64: https://github.com/dotnet/perf-autofiling-issues/issues/7165

[2022-08-09 16:25] mangod9 commented on #73247
@hoyosjs guess we should re-enable again since pinvoke inlining PR is reverted?

[2022-08-09 16:26] directhex commented on #53353
This is, roughly speaking, expected behaviour right now. We aren't including the `.xml` or `.xsl` file from `DevDiv_461649/` in the assets.zip inside the .apk (or indeed anything except `.so`, `.a`, and `.dll`). I think we should punt this again - it's a test build bug only.

[2022-08-09 16:30] kunalspathak opened #73628 "Assertion failed 'm_comp->lvaGetDesc(m_srcLclNode)->IsAddressExposed()' during 'Optimize index checks'"
[code]

[2022-08-09 16:31] hoyosjs commented on #73247
Noah already enabled again.

[2022-08-09 16:32] mangod9 commented on #73247
ok nice, so good to close this issue then?

[2022-08-09 16:32] #54359 closed

[2022-08-09 16:34] DrewScoggins commented on #73630
Seems related to https://github.com/dotnet/runtime/pull/72923 @mrsharm

[2022-08-09 16:36] kouvel commented on #49700
The `ActiveIssue` was removed in https://github.com/dotnet/runtime/pull/72973

[2022-08-09 16:36] #49700 closed

[2022-08-09 16:38] mangod9 commented on #70307
Are you able to repro it locally as Jan was able to a few weeks ago?

[2022-08-09 16:38] karelz commented on #73459
Triage: We do not see good use case for single-letter schema in Uri.
Given implementation details it would be difficult to change and overlaps with file paths.
Closing as Won't Fix. Let us know if we missed some angle, thanks!

[2022-08-09 16:38] #73459 closed

[2022-08-09 16:39] JulieLeeMSFT commented on #73628
@AndyAyersMS for assertion failure in Morph.

[2022-08-09 16:40] karelz commented on #73232
Triage: @IainStevenson it seems you are the only person hitting it. DO you have an isolated repro (e.g. in containers) that you could share. I don't see how else we can move forward here ... unless we missed something in the thread.

[2022-08-09 16:41] mangod9 commented on #71755
this is a dupe of #73247 which is being investigated.

[2022-08-09 16:41] #71755 closed

[2022-08-09 16:41] karelz commented on #73587
Triage: We need to check spec if it is valid case.
Either way, does not seem to be critical for 7.0. Moving to Future.

[2022-08-09 16:45] mangod9 commented on #71098
Closing since this should be fixed.

[2022-08-09 16:45] #71098 closed

[2022-08-09 16:45] karelz commented on #73610
Triage: We should look into it closer. It is not critical for 7.0 (which forks off next week) as it is not regression against 6.0.

[2022-08-09 16:46] filipnavara commented on #73232
@karelz I can hit it on WSL so it's reproducible.

I'm just not familiar enough with how raw sockets work on Linux though. I've only got as far as finding out that `recvfrom` doesn't get the TTL exceeded ICMP packets.

[2022-08-09 17:10] 3HMonkey commented on #73617
The app what I am talking about is a game/engine which was original wrote for net5/6/7 and FNA. These are now compiled to wasm as target framework. The wasm is provided with asp.net what is running so far. We also provided the game files which are using the memfs. The wasm starts fine, loads the files successfully, initialize everything as expected and outputs to console in browser. The same like

[2022-08-09 17:17] javiercn commented on #73614
@radical @thaystg let me take a look.

[2022-08-09 17:21] bartonjs commented on #59492
* Looks good as proposed

[code]

[2022-08-09 17:23] karelz commented on #72696
@CarnaViire can you please write down when was the first hit, and how often it happens / happened?

[2022-08-09 17:25] alexrp commented on #63602
Is the fix for this in Preview 7 or will it be in RC 1?

[2022-08-09 17:29] #69573 closed

[2022-08-09 17:31] kunalspathak opened #73634 "Assertion failed '(arg.GetEarlyNode() == nullptr) != (arg.GetLateNode() == nullptr)' during 'Rationalize IR'"
[code]

[2022-08-09 17:32] kunalspathak commented on #73634
Since it repros with `COMPlus_JitOptRepeat=*`, marking this for .NET 8

[2022-08-09 17:33] hoyosjs commented on #73247
I linked the PR for the reenable so that once merged this just gets closed.

[2022-08-09 17:35] #73247 closed

[2022-08-09 17:42] davidwrighton commented on #73606
Updated the link the bug description such that it works. I'm taking a look at this now, trying to decipher what the intentions are here.

[2022-08-09 17:45] daviburg commented on #73635
Wrong David ;-)

[2022-08-09 17:46] CarnaViire commented on #72739
#72746 is in, so the mangled data should disappear; keeping the issue open for the possible fix without copying.

[2022-08-09 17:48] GrabYourPitchforks opened #73636 "API Proposal: Obsolete XmlSecureResolver"
## API Proposal: Obsolete `XmlSecureResolver`

The class `System.Xml.XmlSecureResolver` does not work correctly in .NET. It relies on Code Access Security (CAS), but the CAS infrastructure was never ported from .NET Framework to .NET Core. The end result is that the type no-ops, allowing resolution which should be blocked.

We investigated making a behavioral change to the class to add a naïve res

[2022-08-09 17:54] GrabYourPitchforks opened #73637 "API Proposal: XmlResolver.NullResolver"
## API Proposal: `XmlResolver.NullResolver`

There is no publicly exposed API for "please give me an `XmlResolver` that forbids all external entity resolution." By convention, some APIs that accept an `XmlResolver` parameter interpret _nullptr_ to mean "don't allow external entity resolution," but this is not 100% consistent across the API surface. (`XmlReaderSettings` has particularly convoluted

[2022-08-09 17:59] bartonjs commented on #73636
* Looks good as proposed

[code]

[2022-08-09 18:03] mangod9 commented on #72578
Adding @AntonLapounov since he had investigated a similar issue earlier in 7.

[2022-08-09 18:03] VSadov commented on #70307
It does not reproduce for me right now, but I saw this begore.
It is fairly rare and happens on process exit. Maybe it is just a matter of making the assert aware of process shutdown.

[2022-08-09 18:05] bartonjs commented on #73637
* We changed "Null" to "Throwing" to better indicate the behavior and intent.

[code]

[2022-08-09 18:08] kunalspathak commented on #68536
I am no longer able to repro this issue and don't see any hits on Antigen. So closing it.

[2022-08-09 18:10] drieseng opened #73639 "String interpolation with invariant culture"
Currently, the only way (that I'm aware of) to use string interpolation with invariant culture is through `FormattableString.Invariant(...)`.

A drawback of this is that the code produced by Roslyn involves the allocation of an object[] and boxing of value typed parameters.

For example:

[code]

Roslyn transformes the code above into:

[code]

For current culture, performance is better and there

[2022-08-09 18:11] elinor-fung commented on #63602
The fix is not in Preview 7. It will be in RC 1.

[2022-08-09 18:18] SingleAccretion commented on #73628
This is a VN bug.

[code]

There is an assumption with bitcasts that the source VN represents a value of the same "width" as the target, that's why it doesn't encode the size for `TYP_STRUCT`. The problem is that structs can have "true" small types, while non-struct VNs cannot (except for `VNF_Cast`, but that's a separate issue).

The fix would be to expand the target type encoding. I'll take care

[2022-08-09 18:18] wfurt commented on #73232
We we get nothing? (and I'm not sure I would trust WSL)

[2022-08-09 18:23] kunalspathak commented on #64297
I don't repro this and don't see it on Antigen. Closing.

[2022-08-09 18:23] #64297 closed

[2022-08-09 18:24] radical commented on #73617
What do you mean by "topic" ?
- Is there more of that stack trace? Expand that block in the js console, it should have more frames.
- Also, is this with AOT? I know the property is set, but are you publishing, and then running the app?

[2022-08-09 18:27] bartonjs commented on #40546
* We went with the alternative proposal with `SwitchInstructionEncoder` instead of the params array, since it felt more consistent with existing paradigms.

[code]

[2022-08-09 18:28] davidwrighton commented on #73606
Ok, so looking at this, I agree with @jakobbotsch, this appears to be incorrect codegen by Roslyn. Correct code generation for this would be something like...

[code]

Note: this design relies on the detail that Nullable implements no interfaces, and there are no constrained calls on Nullable which would need this sort of paired call.

[2022-08-09 18:33] teo-tsirpanis commented on #40546
I will do it in a couple of months in time for 8.0.0, if someone else wants to do it, feel free to.

[2022-08-09 18:33] carlossanlop commented on #73458
Summary:

You can't delete entries in an existing TAR archive. What you can do is open an archive with a reader, create another empty archive with a writer, and then
rewrite the entries one by one from the reader into the writer, excluding the entry you wanted to "delete".

Explanation:

The spec of the TAR format was not designed with entry deletions in mind. It was merely designed to backup file

[2022-08-09 18:36] carlossanlop commented on #73458
In your code snippet, the problem seems to be that you're opening both the reader and the writer both to the same archive path (`LiteralPath!`). You need to use two different paths.

[2022-08-09 18:44] 333fred opened #73642 "React to ref escape changes in interpolated string handlers"
The BCL's interpolated string handlers (any type that is attributed with `InterpolatedStringHandlerAttribute`) need to updated to react to the changes in https://github.com/dotnet/roslyn/pull/63263, which is fixing the calculation of ref escape scopes for arguments passed to `AppendFormatted`. Specifically, all handler methods that meet the following criteria need to be updated to have `scoped` pa

[2022-08-09 18:46] wfurt opened #73645 "stop runtime maestro from consuming dotnet/msquic"
MsQuic released 2.1 on Friday and we branched  dotnet/msquic early as preparation for 7.0.
main of dotnet/msquic becomes 8.0 and it will produce msquic 2.2.

Until runtime branches for 7.0 release we will consume msquic updates manually as needed.
and we don't want maestro to interfere in mean time.

[2022-08-09 18:46] AndyAyersMS commented on #66776
Still didn't find that very helpful. But here's perf (via WSL2) on the two:

![image](https://user-images.githubusercontent.com/10121823/183733410-bb1696da-8420-4679-9cb5-4afb272b3ba1.png)

If this is credible then the issue is in this bit of code.

[code]
versus
[code]

[2022-08-09 18:48] AndyAyersMS commented on #66776
Note with AVX/AVX2 disabled 6 and 7 match perf (and match 6 with avx enabled)

BenchmarkDotNet=v0.13.1.1823-nightly, OS=ubuntu 20.04
Intel Core i7-8700 CPU 3.20GHz (Coffee Lake), 1 CPU, 12 logical and 6 physical cores
.NET SDK=7.0.100-rc.1.22408.1
  [Host]     : .NET 6.0.7 (6.0.722.32202), X64 RyuJIT
  Job-KAQRRV : .NET 6.0.7 (6.0.722.32202), X64 RyuJIT
  Job-SXOIEW : .NET 7.0.0 (7.0.22.40308), X6

[2022-08-09 18:53] ManickaP commented on #72739
@CarnaViire could you please file an for the follow up with doing our own send buffering (unless we already have some)? So that we don't have to copy the data twice (us + msquic). I think that should be addressed early in 8.0.

[2022-08-09 18:55] #58737 closed

[2022-08-09 19:03] janvorli commented on #70024
I've investigated these issues. The codegen with and without W^X enabled is identical in both the benchmarks and the method that calls the benchmarks in a loop. But I've noticed that at least some of the tests were returning managed references and the generated calling loop was calling a GC write barrier for the returned value. So I've tried to temporarily disable the part of the W^X changes to us

[2022-08-09 19:03] #70024 closed

[2022-08-09 19:05] RobertHenry6bev opened #73644 "ubsan finds null pointer dereference in legacy code computing the equivalent of offset"
### Description

macro CONTAINING_RECORD in https://github.com/dotnet/runtime/blob/8e407e32bbb13874a7a8b8651d6d3f1d70574754/src/coreclr/pal/src/include/pal/list.h#L131 dereferences NULL pointer prior to taking address of such dereference.

ubsan runtime will complain about this.

The code contains what appears to be legacy idiomatic code for computing offsetof().  offsetof() was a late addition to

[2022-08-09 19:07] bartonjs commented on #53730
* We went through all the parameter names in the meeting and made them as consistent with other ISAs as possible
* We changed WasmBase to PackedSimd because it's not the "base" ISA for WASM, but the first extension to it ("WebAssembly 128-bit Packed SIMD Extension")

[code]

[2022-08-09 19:09] radical opened #73646 "`xunit.extensibility.execution 2.4.2-pre.22` - ` primary signature's signing certificate is not trusted by the trust provider.`"
[Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1930800&view=logs&jobId=eb51b6b1-acd4-5d0e-ec03-d6dd16ab13c9&j=eb51b6b1-acd4-5d0e-ec03-d6dd16ab13c9&t=01d65644-2e0a-5b21-5167-e35202b4b294) for `Libraries Build windows x64 Debug` on unrelated https://github.com/dotnet/runtime/pull/73435 :

`D:\a\_work\1\s\src\libraries\Microsoft.Extensions.HostFactoryResolver\tests\Microsoft.Exten

[2022-08-09 19:10] wfurt commented on #73645
We don't know how use darc @riarenas and it was always done for us by core-eng ... perhaps as unofficial support.

[2022-08-09 19:11] wfurt commented on #73645
cc: @karelz

[2022-08-09 19:12] radical opened #73647 "Test failure - `S.R.Tests.ControlledExecutionTests.CancelOnTimeout_ThrowFromFinally` on ``Libraries Test Run checked coreclr Linux arm64 Debug`"
[Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1930800&view=logs&jobId=e4f18bbc-2f57-55e3-8831-999b74ca15c3&j=e4f18bbc-2f57-55e3-8831-999b74ca15c3&t=7dbfac67-24c2-5451-1abf-2cb25235c000) for `Libraries Test Run checked coreclr Linux arm64 Debug`:

[code]

[2022-08-09 19:12] hoyosjs commented on #72755
Mike, I see this in an old log:

[code]

Looks like it comes from libunwind.

[2022-08-09 19:18] riarenas commented on #73645
@wfurt I'll help with this one, but it's really better if the product repos keep track of these so that you can re-enable when necessary, and that's our general expectation.

You can find documentation on darc, and specifically on the update-subscription command here: https://github.com/dotnet/arcade/blob/main/Documentation/Darc.md#update-subscription

the current subscriptions I see are:

[code]

[2022-08-09 19:20] radical commented on #71887
It's a testing issue which I will fix soon, but isn't *required* for 7.0 .

[2022-08-09 19:22] radical commented on #58387
This looks the same as the newer (newer llvm) https://github.com/dotnet/runtime/issues/73184 . Closing this in favor of the new issue.

[2022-08-09 19:22] #58387 closed

[2022-08-09 19:29] filipnavara commented on #73232
It's WSL2, regular `ping` command works. `recvfrom` gets the successful replies, just not the error ones (which come from different IP if that matters).

[2022-08-09 19:32] CarnaViire commented on #72696
It turned out that only the first occurrence was a segfault (exit code 139), all others are sigabrt (exit code 134). So it is still happening and it was *not* fixed by Mana's copying.

Since 07/18 we've had ~32 not-crashing runs (30 min) and 5 crashing runs, most of them gathered around 7/22 (see below)

| Date | Link | Exit code | Crashing after |
| - | - | - | - |
| 7/22 | [Run #20220722.1](http

[2022-08-09 19:35] wfurt commented on #72696
sigabrt is likely coming from Assert or unhandled exception. That should be visible IMHO from the dump.

[2022-08-09 19:45] SamMonoRT commented on #48761
We can close this issue as we achieved the target goals when we released .NET6 MAUI release earlier this year and are on track to get better with the 7.0 release in coming months.

[2022-08-09 19:45] #48761 closed

[2022-08-09 19:50] TIHan commented on #59447
@mangod9 I am investigating this since it may already be fixed.

[2022-08-09 20:00] karelz commented on #72739
I would suggest to close this issue -- as in "the problem is gone" and if it reappears we have a problem.
We should file separate issue as perf improvement to make better fix in 8.0.

[2022-08-09 20:00] carlossanlop commented on #73458
Also, the `000000` seems to be a weird problem with 7-zip.

Details:

I used the code snippet that I'm sarhing below to try to reproduce what you described. I used the Powershell tar.gz file that you provided in the other issue: https://github.com/PowerShell/PowerShell/releases/download/v7.3.0-preview.6/powershell-7.3.0-preview.6-linux-x64.tar.gz.

I was able to generate a valid tar file that 7-zi

[2022-08-09 20:02] carlossanlop commented on #73458
Hope my replies answer your questions. Let me know if I can help with anything else.

[2022-08-09 20:03] IainStevenson commented on #73232
@wfurt @karelz  The repo posted [here](https://github.com/IainStevenson/network.monitor)  has a solution in it that is isolated and produces the problem reliably.

I apologise of the rather messy commentary above and I will repeat instructions here.

You can ignore most of my solution code and hone in on the isolated problem repo within it called `PINGFIXTEST`

Which was written to proove the earl

[2022-08-09 20:03] CarnaViire commented on #72739
Closing as fixed by https://github.com/dotnet/runtime/pull/72746

[2022-08-09 20:03] #72739 closed

[2022-08-09 20:04] theodorzoulias commented on #73607
You could try enclosing the `Console.WriteLine` line in a `lock` block, so that each thread reports its current state in a synchronized fashion. My guess is that you won't be able to reproduce the observed behavior.

[2022-08-09 20:12] lambdageek commented on #71855
not sure yet how much work this is going to need.  at least for the above sample, it's the wait in `ves_icall_System_Threading_Monitor_Monitor_wait` that is not calling the sync context (ManualResetEventSlim - which is used both in the sample and in the implementation of Task.Wait - delegates to `Monitor.Wait` when it needs to actually wait).   Not sure if there are other scenarios where we wait i

[2022-08-09 20:18] ViktorHofer commented on #73645
@wfurt Anirudh, me and others took care of this in the past. Please ping the infrastructure team if you need subscription updates.

[2022-08-09 20:19] Thefrank commented on #14537
Finally got around to moving to FreeBSD 13.1 for native building and I am running into an issue when building the mono leg:

[code]

Rolling back the packages do not resolve this (only zlib and python38->python39 were version + ABI changes most others were just ABI changes).
Rolling back to 12.2 did resolve it.

I was able to find 3 changes in the configure process between 12.2 and 13.1 and I have

[2022-08-09 20:23] akoeplinger opened #73650 "Use CLOCK_MONOTONIC for mutex waiting on iOS/macOS"
See https://github.com/dotnet/runtime/issues/58737 and related PRs.

`CLOCK_MONOTONIC` is available on ios 10+, but not `pthread_condattr_setclock`. We disable the code on Apple platforms using `BROKEN_CLOCK_SOURCE` in https://github.com/dotnet/runtime/blob/4211dc40d06195682d4b0fc9a220bdb75732d720/src/mono/mono/utils/mono-os-mutex.h#L39-L41

We should look into using `pthread_cond_timedwait` with

[2022-08-09 20:24] akoeplinger commented on #58737
Filed https://github.com/dotnet/runtime/issues/73650 for the remaining iOS/macOS piece.

[2022-08-09 20:28] jakobbotsch commented on #73606
C# example:
[code]

[2022-08-09 20:31] radical opened #73651 "[wasm][debugger] Connection logic for Firefox tests needs improvement"
- With #73524, `Inspector` will wait to get `Mono.runtimeReady`, and
  `console.log: "debug"` messages before allowing the tests to run
    - The latter is emitted bye `debugger-driver.html`, and indicates that the
      app is ready

- ChromeProvider starts the browser and then waits for a special string
which indicates that the browser is ready for connections.

- Firefox doesn't emit anything s

[2022-08-09 20:31] jeffhandley commented on #73642
FYI @dotnet/area-infrastructure-libraries

[2022-08-09 20:45] arrowd commented on #14537
`sched_setaffinity` et al were added in FreeBSD 13.1, but this doesn't explain the error you're getting. Can you provide some context from `mono-proclib.c`?

[2022-08-09 20:46] wfurt commented on #73645
thanks @riarenas and @ViktorHofer. The responsibilities are somehow fuzzy to me so I was not even sure who to ask.

[2022-08-09 20:53] ScottKane opened #73652 "Microsoft.Extensions.DependencyInjection internal constructor"
I have the following classes in `ProjectA`:

[code]

And the following in `ProjectB`:

[code]

I had hoped using `[assembly: InternalsVisibleTo("Microsoft.Extensions.DependencyInjection")]` would give access to the constructor but as it's not explicitly public it is ignored.

Is there any way to override the constructor resolution for `Microsoft.Extensions.DependencyInjection` so that I can use in

[2022-08-09 21:02] MihaZupan commented on #42211
**Report 2022/8/9:**

- As of 2022/8/5, #73154 has been resolved. The Windows pipeline is building again. One nightly run failed to build on Windows ([logs](https://dev.azure.com/dnceng/public/_build/results?buildId=1929475&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=8ca65746-3bfa-57bf-9141-d805b5d39db5&l=85)), though it looks like a temporary issue with fetching packages from NuGet that ha

[2022-08-09 21:03] jeffschwMSFT opened #73653 "Assert (g_gc_lowest_address <= address) && (address < g_gc_highest_address) File: /__w/1/s/src/coreclr/gc/gc.cpp Line: 3571"
### Description

Assert failure(PID 26453 [0x00006755], Thread: 26453 [0x6755]): (g_gc_lowest_address <= address) && (address < g_gc_highest_address)
File: /__w/1/s/src/coreclr/gc/gc.cpp Line: 3571
Image: /datadisks/disk1/work/B6590997/p/corerun

/datadisks/disk1/work/B6590997/w/A91F0981/e/GC/API/Frozen/Frozen/Frozen.sh: line 391: 26453 Aborted                 (core dumped) $LAUNCHER $ExePath "${C

[2022-08-09 21:03] jeffschwMSFT commented on #73653
cc @mangod9

[2022-08-09 21:19] VSadov opened #73655 "[NativeAOT] Review COOP helpers that may cause long GC suspension pauses."
`RhpCopyObjectContents` can cause long pauses when copying large arrays.
it was observed on `System.Security.Cryptography.Tests`.

Other `COOP_PINVOKE_HELPER` need to be examined as well on whether the potential wait is bounded and short.
For example `RhCompareObjectContentsAndPadding` might have the same issues.

In the copy object/array case, we can use the same approach as in CoreClr that does

[2022-08-09 21:20] VSadov commented on #73655
This might be ok to do in v.Next

[2022-08-09 21:27] stephentoub commented on #73639
`string.Create(CultureInfo.InvariantCulture, $"...");`

[2022-08-09 21:29] jkotas commented on #70231
This assert can be hit for many different GC holes, GC heap corruptions and GC bugs. It is important to at least capture the stacktrace where the assert is hit, and track different stack traces by separate issues.

I think it is unlikely that the Linux arm crash you have seen is same root cause as this issue. I expect that it is going to have a different stacktrace. Unfortunately, we cannot tell f

[2022-08-09 21:30] #70231 closed

[2022-08-09 21:31] ScottKane commented on #73652
I'm getting around this using reflection for now:

[code]

But I feel like there must be a nicer way to achieve this.

[2022-08-09 21:33] #51390 closed

[2022-08-09 21:33] #51335 closed

[2022-08-09 21:35] dotfurther opened #73656 "area-ILTools-coreclr ilasm.exe failing - Failed to add user string using DefineUserString, hr=0x80131198, data: 'presence'"
### Description
area-ILTools-coreclr

EDIT:  This may be a total combined number of strings issue across all assembly HashSet strings (all using object initializers).

For .NET 6 Windows x64:
Is there a limit in ilasm source code for the number of strings that can be in a HashSet<string> object initializer?
I use HashSet object initializers that have 10's of thousands of strings, and I think I rec

[2022-08-09 21:37] eerhardt commented on #73652
https://docs.microsoft.com/en-us/dotnet/core/extensions/dependency-injection#constructor-injection-behavior

The nicer way to achieve this is to make the constructor public. Beyond that you can use the other overloads to AddSingleton - which accept either `object implementationInstance` or `Func<IServiceProvider, object> implementationFactory` so you can create the object yourself. Microsoft.Exten

[2022-08-09 21:37] #73652 closed

[2022-08-09 21:40] jkotas commented on #73621
This is likely the same root cause as #69125. See my comment at https://github.com/dotnet/runtime/issues/69125#issuecomment-1207077374 . You can confirm it by looking at the stacktrace of the crash using unmanaged debugger (lldb, gdb or windbg).

I would expect that any test that depend on sockets is going to hit #69125 with some frequency.

[2022-08-09 21:53] radical commented on #61294
IIUC, this is specifically for running tests on helix. As mentioned in https://github.com/dotnet/runtime/issues/61294#issuecomment-978799169 , this is non-trivial, and won't get done for `7.0.0` . Though please mention if this is *blocking* some testing scenarios.

[2022-08-09 21:54] eerhardt commented on #73386
An issue is that they aren't really a last ditch effort today. Today they are the default because no one is setting the

[code]

headers. (see https://github.com/dotnet/aspnetcore/issues/42114) So by default, WASM is using the managed implementation today, and developer will need to **opt in** to using the subtle crypto implementation by setting those headers. Even when https://github.com/dotnet/a

[2022-08-09 22:00] stephentoub opened #73658 "VerificationException with reflection, static abstract interface methods, and generic constraints"
This:
[code]
throws:
[code]
Is that expected?

[2022-08-09 22:00] #71624 closed

[2022-08-09 22:00] AndyAyersMS commented on #66776
Looks like the regression comes from the use of YMM registers in the two hottest methods above
*  `System.Linq.EnumerableSorter`2[BigStruct,BigStruct][System.Collections.BigStruct,System.Collections.BigStruct]:CompareAnyKeys(int,int)`
* `System.Collections.Generic.GenericComparer`1[BigStruct][System.Collections.BigStruct]::Compare`

In both cases there is a YMM store closely followed by a narrower

[2022-08-09 22:01] wfurt commented on #73621
I'm looking into it...

[2022-08-09 22:07] ScottKane commented on #73652
@eerhardt You shouldn't be just closing the issue without customer response. You haven't solved the underlying issue here. The constructor is specifically internal for a reason (it gets services from DI that the user can't provide) hence using a builder to do this properly. The point is that DI should allow for registering internals that are visible to it so that use cases like this where the cons

[2022-08-09 22:08] tunsira opened #73660 "SudoInstall-Package Microsoft.Extensions.Primitives -Version 6.0.0"
### Description

### Configuration

### Regression?

### Data

### Analysis

[2022-08-09 22:13] #67891 closed

[2022-08-09 22:17] eerhardt commented on #73652
The "underlying issue" is not an issue, but it is "by design". Microsoft.Extensions.DependencyInjection doesn't use private reflection to create the objects. We have no plans on changing this design.

A simple way to solve that would be to add a static method to the `Application` class:

[code]

The consumer still needs no knowledge about construction and the constructor can remain internal. The c

[2022-08-09 22:26] derekbking commented on #68018
Experiencing this issue on my M1 Macbook as well. Debugging external libraries feels very clunky at the moment.

[2022-08-09 22:26] ScottKane commented on #73652
I am well aware you are able to do that, but as the dependency graph for `Application` grows, you are forced into manually modifying the extension method to support each new dependency, if DI were to treat internals it has visibility of as public and act on them in the same way it does for everything else, you would be able to register `Application` knowing as long as it's dependencies are also re

[2022-08-09 22:38] eerhardt commented on #73652
The nice thing of the above is that when you modify the `Application` constructor to add more dependencies you will immediately get a build error in the Register method - since these two are in the same class. Yes it is one more line that needs editing, but it is basically automatic.

[2022-08-09 22:41] AndyAyersMS commented on #73628
@SingleAccretion thanks.

[2022-08-09 22:48] bartonjs commented on #73386
I'm sad now.

[2022-08-09 22:51] ScottKane commented on #73652
I think it would be good if when this API moves to source generators (which I'm guessing it eventually will), allowing internals with explicit visibility to DI could be considered (would be extremely easy from roslyn).

[2022-08-09 22:51] Tratcher commented on #36039
@danmoseley that test covers the case when the size limit is exceeded. In this issue the cache is full but it should be able to replace one entry with another of the same size. This seems like a bug with how the limits are enforced.

I think the issue is that the prior entry is marked as expired, but its size isn't subtracted until after the capacity check:
https://github.com/dotnet/runtime/blob/2

[2022-08-09 22:52] vargaz commented on #60347
Should be fixed by
https://github.com/dotnet/runtime/pull/65723

[2022-08-09 22:52] #60347 closed

[2022-08-09 23:10] Tratcher commented on #69428
One thing to consider here would be to make sure eviction callbacks were invoked in a way that that didn't flow any scopes, the original nor the current one.

[2022-08-09 23:11] jkotas commented on #73656
Yes, the total combined size of strings has to be less than 256MB. It is a limitation of the .NET metadata format. C# is going to hit similar error if you try to produce strings that have combined size of more than 256MB.

[2022-08-09 23:14] #66024 closed

[2022-08-09 23:14] #69144 closed

[2022-08-09 23:14] #72946 closed

[2022-08-09 23:14] #73528 closed

[2022-08-09 23:17] dotfurther commented on #73656
Thanks.

There is no issue building or running the un-obfuscated assembly. Dotfuscator string encryption must be increasing the total size of the string considerably.

The 256 MB metadata limit likely was set in the x32 days. I hope the .net team increases it soon.

[2022-08-09 23:22] TIHan commented on #59447
The issue says that these tests were having issues under gcstress:
- `JIT/HardwareIntrinsics/X86/Sse2/Sse2_ro.csproj`
- `JIT/HardwareIntrinsics/X86/Avx1/Avx_ro.csproj`

I have tested these locally and they seem to pass for me. I tried all the varieties of gcstress levels too. Closing this unless it gets brought up again.

`src\tests\run.cmd checked RunCrossgen2Tests gcstresslevel 0x3`
[code]

[2022-08-09 23:22] #59447 closed

[2022-08-09 23:27] eerhardt commented on #69428
Is that even possible without a new feature to `ILogger`?

[2022-08-09 23:30] kouvel commented on #66774
Here's a narrower repro:

[code]

On my x64 macOS Monterey:

.NET 6:

[code]

.NET 7 preview 1:

[code]

.NET 7 preview 2:

[code]

I'm not sure what might have changed, but it seems related to the GC. It may also be a timing difference, as I'm seeing lower perf on a much faster Linux VM. On other systems I'm seeing a large portion of CPU time spent under `RegisterForFinalization()`, in `EnterFina

[2022-08-09 23:38] MichalStrehovsky commented on #73432
8.0 is fine. We already shipped this experience in 6.0.

(The experience is that instead of the customer getting a warning from Roslyn analyzer at the time of writing their code, highlighting the problematic line in their code, they'll get an unactionable "System.Security.Cryptography.Xml is not compatible with trimming" warning message at the time of publish with either PublishTrimmed or PublishA

[2022-08-09 23:42] hoyosjs commented on #68018
@derekbking I am looking at this at the moment. I know why this is happening, just trying to see all cases where it could happen. Is the library you're stepping into public? Is it part of the .NET platform (any system or ASP libraries?)? Just want to make sure I'll address all these issues.

[2022-08-09 23:51] bartonjs commented on #73642
Assuming that `ref struct` types still can't be used as a generic parameter, the places that need to be updated are

* `MemoryExtensions.TryWriteInterpolatedStringHandler.AppendFormatted(ReadOnlySpan<char>)`
  * https://source.dot.net/#System.Private.CoreLib/MemoryExtensions.cs,cb65b541ddc53a6b
* `MemoryExtensions.TryWriteInterpolatedStringHandler.AppendFormatted(ReadOnlySpan<char>, int, string)`

[2022-08-10 00:00] MichalStrehovsky commented on #73590
Can you paste what all the other threads are doing? Main thread is waiting for an event, but that doesn't explain a hang.

[2022-08-10 00:02] #70886 closed

[2022-08-10 00:17] eerhardt commented on #70733
This looks like a breaking change due to https://github.com/dotnet/runtime/pull/44608. The issue is that the repeated elements:

[code]

are not "named", and so now they are getting an "index" injected into them. If you look at the `configItem` in `var configItem in configRoot.GetSection("Level1:Level2").GetChildren()`, you'll see that its path is `Level1:Level2:0` and not `Level1:Level2:Key1` as

[2022-08-10 00:27] Tratcher commented on #69428
Scopes flow as asynclocals so dispatching the eviction callback should allow you suppress them.

[2022-08-10 00:36] TIHan commented on #73656
Closing this as it is a current limitation for the .NET metadata format.

[2022-08-10 00:36] #73656 closed

[2022-08-10 00:42] hoyosjs commented on #73034
See this [query](https://dataexplorer.azure.com/clusters/engsrvprod/databases/engineeringdata?query=H4sIAAAAAAAAA3WQwU4CQRBE73xFZ0KykGzYD9DVBE8YNKgYD4aYYadgB4aZTfesSOLHO7CoJ47VedXdVQ6RVtq6liFU0hwSnyGti9L7pn0NBs0PDQjeyN7GmjJ8wkcJLVcAc+CMtDfUmej6hrKZFsmSexOsp631prTeg+k+LIWCJ+o7rOIoyUe9A5Ul9dmu6zg6yuTDV0zXaGr9tpTIlY6DRrPgYyPBD2YcGnC0kOG7ugvOoYo2+Fe2apFf4pLYJC4RqvhYttaZgruUtyc1MaW6aB53hFoMc5piXV7iXg4S

[2022-08-10 00:45] hoyosjs commented on #73034
Only these are active issues:

- https://dev.azure.com/dnceng/public/_build/results?buildId=1931140
- https://dev.azure.com/dnceng/public/_build/results?buildId=1910768
- https://dev.azure.com/dnceng/public/_build/results?buildId=1908674
- https://dev.azure.com/dnceng/public/_build/results?buildId=1908375

@tommcdon this doesn't feel release blocking but rather a test issue.

[2022-08-10 00:50] #62525 closed

[2022-08-10 00:52] radical opened #73666 "[wasm] ILLinker crash `System.NotImplementedException: Var` in `System.Reflection.Metadata` tests"
[Rolling build](https://dev.azure.com/dnceng/public/_build/results?buildId=1932703&view=logs&j=06c2b9cd-9a25-5ea1-8363-c1b61a607e70&t=07e56740-dd3a-5379-9df5-8d02f9b6c188) with `/p:EnableAggressiveTrimming=true`:

[code]

Changes since the last rolling build: 063f7b761dc...4211dc40d06 .
The only commit with changes to SRM that I can see - b947dd6e1bb45b064e30159c9251add5c80914af .

[code]

cc @eer

[2022-08-10 00:55] JamesNK commented on #72619
`HttpContext.Abort` calls `QuicStream.Abort` inline (i.e. doesn't dispatch to a different thread)

![image](https://user-images.githubusercontent.com/303201/183786815-9a097932-50af-481c-9e79-6f9701cd0072.png)

DisposeAsync is always called after the request user code is complete. The only way they could conflict is by someone calling `HttpContext.Abort` on a different thread while the request is b

[2022-08-10 01:07] AndyAyersMS commented on #66776
On windows, there is similar codegen in `Compare` but not in `CompareAnyKeys` -- the latter because of ABI differences.
[code]
Despire this, perf on windows generally seems better (around 53us). Note the store above is misaligned (as is the store in linux's `CompareAnyKeys`) if that matters.

Also note that in `Compare` the struct copy is really not needed. Seems like forward sub (or morph's copy

[2022-08-10 01:18] VincentBu commented on #72879
@v-wenyuxu , you need to open a new issue for that test and delete that comment.

[2022-08-10 01:19] v-wenyuxu opened #73667 "Test failure System.Runtime.Intrinsics.Tests.Vectors.Vector64Tests.Vector64Int64SumTest"
Run: [runtime-coreclr libraries-jitstress 20220808.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1929024&view=ms.vss-test-web.build-test-results-tab&runId=49871720&resultId=133711&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2022-08-10 01:19] lambdageek commented on #68509
Replacing `Module["PThread"]["init"]` is not really feasible - emscripten calls `PThread.init` very early - before our replacement code runs.

On the bright side `PThread.init` just calls `PThread.initMainThread` or `PThread.initWorker`.  `initWorker` is fine as is.  `initMainThread` doesn't do anything other than call `allocateUnusedWorker` based on the size of `PTHREAD_POOL_SIZE`.

So we could:

[2022-08-10 01:20] tarekgh commented on #73570
@mauriciomagni This issue existed in `.NET 5.0`, and we have tried to fix it in `.NET 6.0.0` through the [PR](https://github.com/dotnet/runtime/pull/42932). Unfortunately, the fix caused other bad regressions and we had to revert the fix back in `.NET 6.0.1` through the [PR](https://github.com/dotnet/runtime/pull/62916). Therefore, you still see the issue in 6.0.1.

We already fixed this issue in

[2022-08-10 01:20] #73570 closed

[2022-08-10 01:25] mrsharm commented on #65198
Was able to repro this on my Mac after upgrading to Monterey. The pattern I am observing is that we have regressed for cases where we are not pinning and have improved for cases where we are pinning. Will be investigating this further. As a note, this issue regressed _before_ we enabled Regions and is seemingly an OS specific regression.

## .NET 7

``BenchmarkDotNet=v0.13.1.1823-nightly, OS=macOS

[2022-08-10 01:28] v-wenyuxu opened #73668 "Test failure GC\\Scenarios\\FinalizeTimeout\\FinalizeTimeout\\FinalizeTimeout.cmd"
Run: [runtime-coreclr outerloop 20220809.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1932185&view=ms.vss-test-web.build-test-results-tab&runId=49917266&resultId=106361&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2022-08-10 01:37] virzak opened #73669 "Accessing physical drives throws when accessing from the end and retrieving .Length"
### Description

Stream.Length throws:

[code]

Reading from the end throws

[code]

### Reproduction Steps

Test cases are here:

https://github.com/virzak/retrieve-disks/blob/44d822f14cf260af518b1b7a39c5c4992456c9da/tests/RetrieveDisksTests/DeviceInfoTests.cs

Or run the following:

[code]

### Expected behavior

Physical devices should execute without exceptions

### Actual behavior

Exceptions

[2022-08-10 01:44] buyaa-n commented on #73666
I guess its better to [revert my PR](https://github.com/dotnet/runtime/pull/73671) to unblock https://github.com/dotnet/runtime/pull/73410

[2022-08-10 01:46] v-wenyuxu opened #73672 "Test faliure GC\\API\\Frozen\\Frozen\\Frozen.cmd"
Run: [runtime-coreclr outerloop 20220809.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1932185&view=ms.vss-test-web.build-test-results-tab&runId=49917266&paneView=debug&resultId=107151)

Failed test:
[code]
**Error message:**
[code]

[2022-08-10 01:48] radical commented on #73666
I'm not sure about #73410 having this, but this is breaking scheduled rolling builds on `main`.

[2022-08-10 02:27] PeterPandefu commented on #39430
I have the same problem,please fix it soon

[2022-08-10 02:28] PeterPandefu commented on #39430
What's more, I can't print,Using XpsDocument with DocumentViewer

[2022-08-10 02:29] radical opened #73673 "[wasm] Regression: Crash on running debugger tests on Codespaces"
Running debugger tests on codespaces now breaks with:

[code]

.. making codespaces completely unusable for debugger work.
Reverting de03d8a8c84062e04c5c7ad574bd7bb7e58db9a9 fixes it.

[code]

Users could probably run into this too.

[2022-08-10 02:34] MichalStrehovsky commented on #73666
This is a Cecil bug. Apparently, it also doesn't support generic attributes that Roslyn is introducing support for.

It will probably take a while to fix that because it's in Cecil, and that needs to propagate to the linker repo and that needs to propagate to the runtime repo.

The System.Reflection.Metadata support for generic attributes is critical for 7.0 (both for our customers and for our own

[2022-08-10 02:37] danmoseley commented on #39430
Would you be interested in debugging into it @PeterPandefu ?

[2022-08-10 02:41] MichalStrehovsky commented on #73672
Duplicate of #73653.

[2022-08-10 02:41] #73672 closed

[2022-08-10 02:42] PeterPandefu commented on #39430
what should I do?

[2022-08-10 02:45] JamesNK commented on #72619
I wrote a test to see if I could duplicate it - https://github.com/dotnet/aspnetcore/pull/43183. Runs fine with 1000 requests (at least on my machine)

[2022-08-10 03:00] PeterPandefu commented on #39430
Is such that.
I have the same problem as him@MarioZ. I using XpsDocument with DocumentViewer and FlowDocument in WPF,
LoadXps like this:
`
using (MemoryStream ms = new MemoryStream())
                {
                    using (Package package = Package.Open(ms, FileMode.Create, FileAccess.ReadWrite))
                    {
                        Uri DocumentUri = new Uri("pack://InMemoryDocument

[2022-08-10 03:17] mangod9 commented on #66774
so there is a regression only on macOS x64 and not arm64?

[2022-08-10 03:25] mangod9 commented on #73658
@trylek / @davidwrighton if this is expected?

[2022-08-10 03:27] huoyaoyuan commented on #73660
`Install-Package` is a command for Package Manager console in Visual Studio. You wouldn't have a change to use it with `sudo`.

For command to use in normal shell, you can use `dotnet add package Microsoft.Extensions.Primitives --version 6.0.0`. See also the `.NET CLI` tab on [nuget site](https://www.nuget.org/packages/Microsoft.Extensions.Primitives/6.0.0).

[2022-08-10 03:34] buyaa-n commented on #73666
Yes we can as tests are passed previously, also maybe create an issue and add active issue to the new tests instead of removing them

@radical I am not familiar with what rolling builds does, is there a way to conditionally disable/ifdef the new tests from that build? I removing or commenting those tests is only option?

[2022-08-10 03:37] radical commented on #73666
Rolling builds are scheduled builds that run twice a day. In this case they are running against 'main' with no other changes.

The revert should be enough for them.

[2022-08-10 03:43] MichalStrehovsky commented on #73666
The problem is while building the tests, so ActiveIssue won't cut it.

We could alternatively disable building the tests on WASM (with a link to this issue) by adding S.R.Metadata tests somewhere around here:

https://github.com/dotnet/runtime/blob/a3fb0d383adf98ee2fb2ab816c28735dc1caaba0/src/libraries/tests.proj#L345-L374

Basically, I want to make sure the S.R.Metadata change ships in 7.0 irresp

[2022-08-10 03:45] radical commented on #73666
I don't know the details, but can we disable only the specific individual tests for wasm, so they are not included in the test suite at all, instead of disabling tests for the entire library?

[2022-08-10 03:49] DebugST opened #73674 "HttpListener Stack over flow"
### Description

This is my code:

[code]
But after some time an exception occurs:
[code]
Then I found the code for `HttpEndPointListener`:[https://github.com/dotnet/runtime/blob/eeeeb7a75c338b0d994ccd7140d676a612990ebc/src/libraries/System.Net.HttpListener/src/System/Net/Managed/HttpEndPointListener.cs#L100](https://github.com/dotnet/runtime/blob/eeeeb7a75c338b0d994ccd7140d676a612990ebc/src/libra

[2022-08-10 03:52] buyaa-n commented on #73666
Right, looked into the build log, I see that now. I will try to ifdef the generic attributes part (will run wasm build on my new PR)

@MichalStrehovsky please take a look at this log: https://dev.azure.com/dnceng/public/_build/results?buildId=1932703&view=logs&j=d9366717-4230-52c6-0a51-0b43431c29c7&t=c627612c-ea4b-5282-5e42-8a39063fd2d8. It throw `BadImageFormatException` on `windows x64 Release N

[2022-08-10 03:52] MichalStrehovsky commented on #73666
illinker chokes as soon as it sees this:

https://github.com/dotnet/runtime/blob/a3fb0d383adf98ee2fb2ab816c28735dc1caaba0/src/libraries/System.Reflection.Metadata/tests/Metadata/Decoding/CustomAttributeDecoderTests.cs#L302-L310

We would need to ifdef it out (and the corresponding test) on browser. I don't know if we can per-platform ifdef things for libraries that don't have a WASM-specific versi

[2022-08-10 03:53] MichalStrehovsky commented on #73666
Right, it needs follow up work now that NativeAOT can parse these attributes. That's why it's critical for this change to get in :). I cannot do the follow up work without the S.R.Metadata change.

[2022-08-10 03:54] radical commented on #73666
This is just a test though. We can ifdef tests.

[2022-08-10 04:33] davidfowl commented on #72590
That seems like a reasonable change but I don't know what else it impacts. It means hosted services run before ServiceBase does anything right? Systemd has a lighter weight communication model where the application just sends signals over a unix domain socket signaling (started, or stopped).

[2022-08-10 04:41] davidfowl commented on #72590
I think I remember why it was done this way. We use [OnStart](https://github.com/dotnet/runtime/blob/e71a9583b4d6c9bd97edd87cda7f98f232f63530/src/libraries/Microsoft.Extensions.Hosting.WindowsServices/src/WindowsServiceLifetime.cs#L90) to signal that the service is starting up. Basically we let the windows service tell us when it has started before we start running user code. For that to be the ca

[2022-08-10 05:00] DebugST commented on #73674
[code]

[2022-08-10 05:21] iSazonov commented on #73458
Can you point RFC or another document where the design is defined? I assume that you are simply reasoning.

As I mentioned above I looked up the _Unix tar_ which has a **_delete_** parameter.
_This actually performs a removal in place._
Of course, they work on buffer level since entries have different size.
My example is not correct in this sense but this is the first step in trying to emulate the

[2022-08-10 05:34] iSazonov commented on #73440
The file was read well on Preview7. Thanks!

[2022-08-10 05:34] #73440 closed

[2022-08-10 05:48] JamesNK commented on #73144
I'll take another look.

I think Kestrel might need to do a delayed reaction to control streams being closed, i.e. when a control stream is closed, instead of immediately aborting the connection, instead set a flag on the connection, and wait for the next server tick (1 second) to see if the connection is still open and then start the abort.

What does SocketsHttpHandler do in this situation? (the

[2022-08-10 05:48] MiyamuraMiyako commented on #73635
@davidfowl Because that's issue is closed and locked.

[2022-08-10 05:51] MiyamuraMiyako commented on #73635
@daviburg Oh, sorry @ you : )

[2022-08-10 06:01] jkotas commented on #73656
[code]

Note that large static initialization patterns like this have very bad performance characteristics. They generate a giant method that takes forever to JIT-compile and the JIT gives up on any optimizations. It is better to initialize large hash tables like this from a file or by slicing a large constant ReadOnlySpan.

I do not expect that we will lift this limit anytime soon.

[2022-08-10 06:02] #70952 closed