[2021-05-24 19:12] AntonLapounov commented on #53150
Per-setting flag would be a cleaner alternative to existing custom processing as decimal here and there.

You might be thinking about a separate flag affecting parsing all settings, but that is not what was suggested here.

[2021-05-24 19:20] AntonLapounov commented on #53150
There is a dedicated `System.Decimal` type for base-10 numbers.  The `Environment.ProcessorCount` property is typed as `int`, not as decimal or hexadecimal, so I fail to understand this argument.

[2021-05-24 19:25] AaronRobinsonMSFT commented on #53160
Real issue. I will fold this into other fixes I have for the `ComWrappers` API.

See https://github.com/dotnet/runtime/pull/52771

[2021-05-24 19:36] vargaz commented on #51992
Yes.

[2021-05-24 19:37] vargaz commented on #53033
The infinite trampoline code relies on being able to remap memory pages at a specific address, it might or it might not work on android.

[2021-05-24 19:40] mattpwhite opened #53193 "Regression in SPN generation in .NET 5.0 for non-standard HTTP ports"
It appears that `SocketsHttpHandler` was changed in .NET 5.0 (https://github.com/dotnet/runtime/pull/40860) to unconditionally include the port in the Kerberos service principal name when the HTTP service runs on a non-default port. The intent of that change appears to have been to emulate the behavior of .NET Framework, but it actually created a divergence from .NET Framework behavior, at least f

[2021-05-24 20:15] steveharter opened #53195 "How useful is C# "dynamic" with System.Text.Json.Nodes.JsonObject?"
Currently `JsonObject` supports C# "dynamic" which primarily means an instance of `JsonObject` can get\set a property value without having to use a string for the property name.

Although dynamic support [has been requested](https://github.com/dotnet/runtime/issues/29690), I believe it was primarily desired as a work-around since System.Text.Json didn't have a writeable DOM feature yet.

**Since S

[2021-05-24 20:16] steveharter commented on #29690
For those still interested in dynamic how valuable is that now that we have a writable DOM with `JsonNode`?

Please common on https://github.com/dotnet/runtime/issues/53195

[2021-05-24 20:38] wfurt commented on #52742
I'm running loop test again with that change @nibanks
I bump to similar put probably separate issue:
[code]

I'll try to use the updated guide to get some insight.

[2021-05-24 20:42] #27002 closed

[2021-05-24 20:49] richlander commented on #53150
My primary point was that the numeric form of the ENV and the property should match. They don't currently. One is hex and the other is [decima](https://en.wikipedia.org/wiki/Decimal), as I called out.

[2021-05-24 21:18] danmoseley commented on #53042
Always net6.0-windows-Release-arm64-CoreCLR_release-Windows.10.Arm64.Open. No change in CodeDom code itself since May 18th.
[code]

The method is simply
[code]
where TItem is types like CodeCatchClause.

@dotnet/jit-contrib are you aware of any ARM64 specific codegen issue htat might be causing random NRE? I know this was happening on Apple Silicon, this is Windows.

[2021-05-24 21:20] Bo0m21 opened #53238 "Blazor Webassembly custom authorize attribute not working debug"
### Describe the bug
I found a problem with the authorization attributes in the blazor. I wrote a class for working with roles in attributes in order to pass them through parameters. All versions of .NET have this problem.

### To Reproduce

First variant - Default attribute
`@attribute [Authorize]`

Second variant - Custom attribute
[code]
When I use first variant then all working, but then I use

[2021-05-24 21:20] #52471 closed

[2021-05-24 21:34] danmoseley commented on #53042
@hoyosjs do we run on net6.0-windows-**Debug**-arm64-CoreCLR_release-Windows.10.Arm64.Open? If so then it smells like an optimization issue.

[2021-05-24 21:35] kouvel commented on #52558
@joshudson, to clarify, this issue is specific to `sync over async`. You mentioned `async over sync over async`, this change is not intended to handle the `async over sync` part decently in a configurable way when the sync work is done on the thread pool.

[2021-05-24 21:47] Anipik opened #53200 "Remove the Package Validation NoWarns after we have granular support."
Currently we dont have any granular support for suppressing the error messages, hence we have to disable all the errors of one kind using nowarns.
We should remove these after we have the granular support.

eg https://github.com/dotnet/runtime/pull/52741

cc @ericstj @ViktorHofer @safern @joperezr

[2021-05-24 21:51] hoyosjs commented on #53042
Interesting is if you look at other namespaces you see that there's linux too with the same nullref on linux too: https://runfo.azurewebsites.net/search/tests/?q=started%3A~7%20definition%3Aruntime%20name%3Asystem.codedom.tests&pagenumber=1, but it's never on release. As for the running on debug, no. We do run checked: https://github.com/dotnet/runtime/blob/f318f327ece9ef4eb5f41800b9e4efea05a88150

[2021-05-24 22:02] hoyosjs commented on #53042
There's no ARM64 debug.

[2021-05-24 22:08] SingleAccretion commented on #53189
ldc.r4       -1.0
      conv.ovf.i1.un

Hmm, I am not seeing it 🤔. Could you point me to the part of the specification which implies this?

[2021-05-24 22:14] Anipik opened #53202 "Port projects from pkgproj to dotnet pack"
steps to port projects

Steps to start porting projects
- Remove PkgProj folder
- set ```<IsPackable>true</IsPackable>``` for src proj
- Move the PackageDescription from the project's Directory.Build.props file into the csproj.
- Run the pack command

Examine the package
- use /p:GenerateCompatibilitySuppressionFile=true to generate suppressions file. Examine the suppresions before automatically s

[2021-05-24 22:14] EatsLemons commented on #51899
Looks like it should be ``` builder.AddProvider(new EventLogLoggerProvider(settings)); ``` instead of ``` builder.Services.TryAddEnumerable(...); ```

I have tried to make PR, but don't know how to create test project in proper way. If there are some guides or advices, I would like to make a PR

[2021-05-24 22:25] danmoseley commented on #53042
OK, so we know we get failures like this in Arm64 only, on release lib+release CoreCLR on Windows and release lib+checked CoreCLR on Ubuntu (but not Alpine/musl).

But apparently not on release lib + checked CoreCLR on Alpine (musl) or Windows nor release+release on Linux, nor release|debug on checked CoreCLR on Apple silicon, since I see those also in the runtime.yml. Nor do we see these failures

[2021-05-24 22:43] hoyosjs commented on #53042
We R2R the product, but I think that doesn't apply to the tests. There's 10 failures today, so let me download a workitem from today and inspect it.

[2021-05-24 22:44] danmoseley commented on #53042
The first failure was 5/20/2021 5:24:28 PM - not sure whether this is UTC.

Nothing jumps out:
[code]

@AndyAyersMS can you imagine how https://github.com/dotnet/runtime/issues/52975 might be relevant?

[2021-05-24 22:52] hoyosjs commented on #53042
Looking at this, the commits before failures are: https://github.com/dotnet/runtime/commits/d81ad044fa6830f5f31f6b6e8224ebf66a3c298c

[2021-05-24 22:53] AndyAyersMS commented on #53042
@danmoseley Your query above ran vs 2020 and not 2021 ?

My change could be quite relevant, it involved devirtualization and enumerators.

[2021-05-24 22:53] AndyAyersMS commented on #53042
(ah you must have fixed it...)

[2021-05-24 22:54] AndyAyersMS commented on #53042
I'll take a look, but it will be a few hours.

[2021-05-24 22:56] danmoseley commented on #53042
@hoyosjs that log is two hours earlier than e0eda5f17b2 . Unless you have better data, I think it is too early.

Repathing - thanks Andy.

[2021-05-24 22:56] hoyosjs commented on #53042
https://dev.azure.com/dnceng/public/_build/results?buildId=1147916&view=results failed and it was a rolling build before @AndyAyersMS change went in

[2021-05-24 22:57] danmoseley commented on #53042
Oh, well so much for that theory. Still, I do believe codegen is most likely based on evidence above.

Can you find last commit that succeeded? Assuming this is consistent?

[2021-05-24 22:58] joshudson commented on #52558
@kouvel: We tracked down and eliminated every last instance in the years since and won't deliberately write anymore because of the deadlocks. It used to arise due to mutually incompatible interfaces (mainly IEnumerable and IDisposable clashing with HttpClient but also Stream clashing with itself before IAsyncDisposable was a thing). In theory, IAsyncEnumerable can still clash with HttpClient but I

[2021-05-24 23:01] hoyosjs commented on #53042
Let me verify consistency (althought it looks like it is).

[2021-05-24 23:07] hoyosjs commented on #53042
This was a single commit windows where failures started: https://github.com/dotnet/runtime/pull/52912. @janvorli do you know what might have caused this?

[2021-05-24 23:33] kouvel commented on #52558
Ok then it sounds reasonable that a fix for this issue would be sufficient for your scenario (though perhaps with some config parameters to make it work the way you want)

[2021-05-24 23:44] eerhardt opened #53205 "Using Queue, Queue<T>, Stack, and ConcurrentStack<T> as properties in classes deserialized by System.Text.Json does not work when trimmed"
Publish and run the following application with `-p:PublishTrimmed=true`

[code]

1. `dotnet publish -r win-x64 -p:PublishTrimmed=true`
2. `bin\Debug\net6.0\win-x64\publish\HelloWorld.exe`

### Expected results

The application should run, it does when I use `List<T>` for the property.

### Actual results

[code]

### Notes

1. This seems to occur for `Queue`, `Queue<T>`, `Stack`, and `ConcurrentSt

[2021-05-24 23:56] MattGal opened #53207 "Addition of "dotnet dev-certs" command makes all WASM work items time out"
See https://github.com/dotnet/runtime/pull/53180, then most [any log file produced for WASM testing thereafter on windows docker containers](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-53184-merge-94442eaa4fa14f84ac/System.Runtime.CompilerServices.VisualC.Tests/console.877ffb82.log?sv=2019-07-07&se=2021-06-13T22%3A19%3A03Z&sr=c&sp=rl&sig=VJIB40ATEO2xsoWwRgFv7KGP

[2021-05-24 23:57] MattGal commented on #53207
@pavelsavara FYI.

[2021-05-25 00:43] jeromelaban commented on #50609
I order to troubleshoot the mismatch error, you'll need to add the following property:
[code]

This will show the full stack trace of the error, so it can be analyzed.

As for the `Microsoft.Windows.Compatibility`, yes, it is needed.

[2021-05-25 01:04] #52612 closed

[2021-05-25 01:12] steveisok commented on #51992
I can reproduce if you add `<MonoEnableLLVM>true</MonoEnableLLVM>` to the AOT functional test (also noticed it was missing).

https://github.com/dotnet/runtime/blob/main/src/tests/FunctionalTests/iOS/Simulator/AOT/iOS.Simulator.Aot.Test.csproj

[2021-05-25 01:23] #52945 closed

[2021-05-25 01:40] sandreenko commented on #53189
I could be wrong, cc @echesakovMSFT  , @AndyAyersMS, and @dotnet/jit-contrib to help me here.

we start with:

![image](https://user-images.githubusercontent.com/22642771/119426904-f2e78780-bcbe-11eb-84f0-1a17493b6bc3.png)
and it says:
![image](https://user-images.githubusercontent.com/22642771/119426935-01ce3a00-bcbf-11eb-8f37-0c5289c4790b.png)

so I understand it as:
ldc.r4       -1.0 -> push -1

[2021-05-25 01:44] danmoseley commented on #53042
@hoyosjs was there a clever way you figured that out? Kusto?

[2021-05-25 02:02] hoyosjs commented on #53042
No, I looked at the earliest find, went to the pipeline and filtered to rolling, looked at the builds after, all had issues, all the ones before were good. Compared the commits that built and that was the only commit on that window.

[2021-05-25 02:08] kunalspathak commented on #53042
Here is the historical test failure (extracted and formatted using kustos):

| Seq | Queued                      | OS                    | Arch  | Pipeline                                                                                                                                                                        |
|-----|-----------------------------|-----------------------|-------|------

[2021-05-25 02:08] stephentoub opened #53211 "API Proposal: Debug.Assert overloads with interpolated string handler"
Based on https://github.com/dotnet/runtime/issues/52894#issuecomment-843528565...

## Background and Motivation

Debug.Assert has three overloads today:
[code]

We're generally not concerned with the performance of asserts; after all, they're debug-only code.  However, heavy use of asserts, or asserts where the developer wants to log significant details about the failure, can be non-trivially expe

[2021-05-25 02:09] danmoseley commented on #53042
Could you share the query @kunalspathak ? Although I likely have something equivalent in my [crib sheet:](https://microsoft.sharepoint.com/teams/netfx/corefx/_layouts/OneNote.aspx?id=%2Fteams%2Fnetfx%2Fcorefx%2FDocuments%2FCoreFx%20Notes&wd=target%28HOWTOs.one%7C20E388BF-8C41-4D6C-814C-63118AA79B52%2FHow%20to%20query%20Kusto%20for%20test%20failures%7C798EBDE0-2EC5-447C-9308-6CBA6DD91338%2F%29
onen

[2021-05-25 02:10] stephentoub commented on #52894
I opened https://github.com/dotnet/runtime/issues/53211.

[2021-05-25 02:13] kunalspathak commented on #53042
Sure, will email you.

[2021-05-25 02:16] kunalspathak commented on #53042
By the way, recently we have started adding such failure tables in GH issues to help team prioritize it. E.g. https://github.com/dotnet/runtime/issues/52359#issuecomment-833244798

[2021-05-25 02:21] danmoseley commented on #53211
It's appealing that this change would magically speed up existing code on recompile. But as you say (and we mentioned in the original issue) it will be visible if generating the format string causes side effects. That would be weird and likely unintentional, but nevertheless might be surprising. would anyone write `Debug.Assert(value > 10, $"{WriteValueToLog(value)}");` ?

@marklio thoughts?

[2021-05-25 02:22] danmoseley commented on #53042
@kunalspathak that's at the top of this issue, right? it's useful, but it doesn't show "SHA for last pass and SHA for first failure for each of the failing configurations"

[2021-05-25 02:23] stephentoub commented on #53211
Debug.Assert is already [Conditional("DEBUG")].  From my perspective, if you're mutating state in your message, you deserve to be broken :)

[2021-05-25 02:30] danmoseley commented on #53211
As you know, that's not necessarily justification for a breaking change, even for a SxS product 😄

I've certainly reported/fixed bugs where asserts where unintentionally mutating state, it would be ironic to create bugs where they stopped mutating state. (Maybe that's going to fix bugs..)

[2021-05-25 03:29] dotnet-eng-status[bot] opened #53213 "Build failed: Validate-DotNet/main #runtime-91436-.NET6"
Build [#runtime-91436-.NET6](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1154126) failed

## :x: : internal / Validate-DotNet failed

### Summary
**Finished** - Tue, 25 May 2021 03:28:33 GMT
**Duration** - 260 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :warning: - [[Log]](https://dev.azure.com/dnceng/

[2021-05-25 03:42] jamshedd commented on #3379
@rickbrew, we don't have a bootstrapper like the .NET Framework one we can offer for .NET Core at this time unfortunately. You may want to take a look at our dotnet-install scripts:

https://dot.net/v1/dotnet-install.ps1
https://dot.net/v1/dotnet-install.sh.

The install script downloads the latest runtime from a well known location and copies them over to a specified folder. So it would give you

[2021-05-25 04:33] GrabYourPitchforks commented on #53211
I like the application to both `Debug.Assert` and `Debug.WriteLine`. Don't the aspnet folks have their own debug/trace capability as well? Wonder if they'd find this builder useful as a reusable component.

[2021-05-25 05:39] danmoseley commented on #50879
I have seen this same resource loading bug on other android failures but IIRC not recently.

[2021-05-25 05:40] danmoseley commented on #53055
Good bug report but I'll dupe against https://github.com/dotnet/runtime/issues/53042 where there's discussion.

[2021-05-25 05:40] #53055 closed

[2021-05-25 05:40] danmoseley commented on #53042
https://github.com/dotnet/runtime/issues/53042 suggests similar NRE in some non codedom tests.

[2021-05-25 05:42] #53150 closed

[2021-05-25 05:48] FilipToth commented on #53195
Well, in my opinion, dynamic makes it a lot cleaner to read/write DOM in applications where speed isn’t a major issue.

[2021-05-25 05:50] HavenDV commented on #50609
Looks like an issue with ReactiveUI, since Linq.Expressions are heavily used there
[code]

[2021-05-25 05:51] davidfowl commented on #53195
cc @JamesNK

[2021-05-25 06:13] jkotas commented on #53195
System.Linq.Expression is "archived component". `dynamic` as it exist today is effectively deprecated tech. It is not good for new tech to take dependency on effectively deprecated tech.

[2021-05-25 06:15] FilipToth commented on #53195
@jkotas are there any plans to update it?

[2021-05-25 06:23] jkotas commented on #53195
I am not aware of any plans around better `dynamic`. I agree that it is attractive for certain scenarios and there may be a way to reinvent it to be simple, lean, fast, and without the problematic heavy `System.Linq.Expression` dependency, but that is completely speculative at this point.

[2021-05-25 06:24] maryamariyan commented on #51899
@EatsLemons let me know if [this docs page](https://github.com/dotnet/runtime/blob/main/docs/workflow/testing/libraries/testing.md#running-tests-on-the-command-line) helps

[2021-05-25 06:32] maryamariyan commented on #36015
@SteveDunn sounds good.

[2021-05-25 06:56] VincentBu opened #53215 "Test failure JIT/HardwareIntrinsics/X86/Sse41/DotProduct_ro/DotProduct_ro.sh"
Run: [runtime-coreclr crossgen2 20210523.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1152546&view=ms.vss-test-web.build-test-results-tab&runId=34841562&resultId=102093&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-05-25 07:00] VincentBu opened #53216 "Test failure JIT/Methodical/Coverage/hole/hole.sh"
Run: [runtime-coreclr crossgen2 20210523.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1152546&view=ms.vss-test-web.build-test-results-tab&runId=34841562&resultId=100618&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-05-25 07:07] FilipToth commented on #53195
@jkotas Maybe in later dotnet versions then. Thanks.

[2021-05-25 07:29] huoyaoyuan opened #53217 "Proposal: obsolete or hide TypeInfo/GetTypeInfo"
## Background and Motivation

https://github.com/dotnet/runtime/discussions/53113
`TypeInfo` was introduced in .NET of Windows Store, for limited reflection. Nowadays in .NET Core, it has no feature difference with `Type`. To avoid confusing, we can hide or obsolete the type and tell people to use `Type` directly.

## Proposed API

[code]

## Usage Examples

N/A

## Alternative Designs

N/A

## Ri

[2021-05-25 07:36] tmds commented on #52742
From the discussion it looks like `SO_REUSEPORT` causes Linux to allow multiple sockets to have the same ephemeral port.
I wasn't aware.

`msquic` shouldn't use `SO_REUSEPORT` then when configured for an ephemeral port (port: `0`).
Otherwise, other `msquic` users can still run into this issue.

[2021-05-25 07:37] premun commented on #53207
@pavelsavara also please note that when you have a fix, the right place for this code is possible the Helix SDK in Arcade as all users of XHarness / WASM will need this capability to run successfully. Hit me up and we can chat more

[2021-05-25 07:38] premun commented on #53207
Btw how come the PR where the change was introduced didn't time out?

[2021-05-25 08:04] karelz commented on #52451
Thanks @deathchurch for the context. Let's see if more customers are hit by this then.

[2021-05-25 08:08] Ap0k commented on #53181
@vitek-karas
This error can be easily treated. But in the process of fixing it, I found the following case.
https://github.com/dotnet/runtime/blob/cc8d9b33005ef617379ff9841284398414505104/src/coreclr/vm/appdomain.cpp#L5416
If I understood everything correctly, then the dynamic assembly is not domain-specific and the code execution goes along the specified branch with the subsequent generation of a

[2021-05-25 08:08] HavenDV commented on #50609
Next errors:
![image](https://user-images.githubusercontent.com/3002068/119462586-37892680-bd84-11eb-9e20-f48c7ce716d9.png)
[dedoose-app.herokuapp.com-1621929964720.log](https://github.com/dotnet/runtime/files/6537576/dedoose-app.herokuapp.com-1621929964720.log)

[2021-05-25 08:22] loop-evgeny opened #53218 "Expose StringReader.Position, ideally with an interface"
## Background and Motivation

When reading from a TextReader it's sometimes useful to get its current position, e.g. to inform the user of progress when processing a long string. TextReader does not have a Position property, but there are only 2 BCL implementation: StreamReader and StringReader. With StreamReader the user can check `.BaseStream.Position`. StringReader stores its position in a priv

[2021-05-25 08:31] vitek-karas commented on #53181
Honestly I was expecting this - that dynamic assemblies will be prevented from actually succeeding in `Load`. I still think it's worth fixing the name validation logic, mainly because it's inconsistent and fails with really bad error.

The potential support for dynamic assemblies in load resolution is probably a much larger work item (I'm not even sure what are all the potential problems with it f

[2021-05-25 08:37] EdvardPotapenko commented on #12739
Same issue on Windows 10 and Visual Studio 2019 when debugging Linux docker container app

[2021-05-25 09:03] filipnavara commented on #50580
Thanks for confirmation. Given the timeline of the test run and the fix I tend to believe the DSA was actually fixed one day after the test run.

[2021-05-25 09:03] FilipToth commented on #53218
I don't think an interface is necessary in this case. Can you maybe tell us some advantages of using an interface in this particular case, probably I just don’t see it?

[2021-05-25 09:06] Ap0k commented on #53181
Okay, I fill in both fixes, but without the `ValidateAssemblyNameWithSimpleName` tests

[2021-05-25 09:10] filipnavara commented on #53218
That's actually inaccurate. `StreamReader` does buffering so the position in the underlying stream is usually way past of the number of data you have read. Not to mention that you can also read the stream from a position that doesn't start at zero.

[2021-05-25 09:16] loop-evgeny commented on #53218
The use case for an interface would be a method taking a TextReader, rather than a StringReader:

[code]

Sure, it's not perfect, but for my use case where you're processing a large input in its entirety (which I think would a common use case) it's good enough to be useful. Of course, it would be better if StreamReader provided an accurate Position property, too - but perhaps that should be a sepa

[2021-05-25 09:21] filipnavara commented on #53218
...but position in what units? When reading stream it could be characters or bytes.

For characters it's something you can calculate yourself while reading it, just as you can do with `StringReader`. You can even make your own wrapper around `TextReader` that delegates to inner `TextReader` and tracks the position.

If the answer is bytes then I agree that's something that would actually be useful

[2021-05-25 09:34] loop-evgeny commented on #53218
How would I do that with StringReader? It doesn't expose anything, as far as I can see.

A TextReader wrapper is a possibility, yes, but it's quite a lot of code (and with that, the possibility of bugs).

[2021-05-25 10:14] lateralusX commented on #52439
Was informed by @grendello that XA decided to use pre-build component shared libraries and pre-build shared mono runtime. The following PR adds support for dynamic component support on Android, https://github.com/dotnet/runtime/pull/53221.

[2021-05-25 10:21] marek-safar commented on #38433
We should just leverage the runtimeConfig.json task we have for mobile AOT for WASM AOT

[2021-05-25 11:28] nikolayDemirev opened #53228 "Blazor WASM Regression: Unhandled exception rendering component: Cannot wait on monitors on this runtime."
### Describe the bug
Using Task.WaitAll was working on Blazor WASM 3.2.0 and is throwing an exception when using it on .Net 5.0.

### To Reproduce

Create a Blazor web assembly project for .Net Core 3.1 and use the following code:
[code]
It will execute correctly.

Create a Blazor Web Assembly project for .NET 5 and use the same code it will throw an exception.

### Exceptions (if any)

System.Pla

[2021-05-25 11:51] FilipToth commented on #53218
Yes, you could also make your own `TextReader` class. But we're not doing that either. The question should be if we take the number of char/bytes read from the start of the document or just the line?

[2021-05-25 12:01] filipnavara commented on #53218
You cannot convert it accurately. There's no guarantee that `Encoding` is symmetrical. `StringReader` never deals with bytes so it would be quite an overhead and unnatural extension on the class.

[2021-05-25 12:21] loop-evgeny commented on #53218
Characters would make sense to me as a unit - this is what TextReader deals with, e.g. `int Read(char[] buffer, int index, int count)` takes a count in characters.

So, to be clear, the primary request here is simply this, on StringReader: `public long Position => _pos;`

If StreamReader can also return its position in characters (which sounds likely, because it has `private int _charPos;`) then t

[2021-05-25 12:31] BockTim91 commented on #31533
@PoojaSingh15 We are using System.Data.ODBC (.net core 3.1 currently) and using basic ODBC connections straight to our AS400 connecting to it through windows ODBC Data Sources. The ODBC data source is using iSeries Access ODBC Driver to connect.

[2021-05-25 12:42] iSazonov commented on #2048
Related issues:
- https://github.com/dotnet/runtime/issues/31243
- https://github.com/dotnet/runtime/issues/23068
- https://github.com/dotnet/runtime/issues/23538

#### Design considerations:
For 1. We need to create a subdirectory in common temporary directory with the application name (as default) and unique session number.
For 2. Most useful is to have configurable file extensions (".tmp" as de

[2021-05-25 12:46] ForNeVeR opened #53223 ""Invalid runtimeconfig.json" on Windows for paths precisely from 260 to 274 characters"
### Description

_(The issue only affects Windows.)_

1. `dotnet new console -o net5console && cd net5console && dotnet build`
2. Create several directories of various lengths. For this experiment, I'll use:
   - `T:\Temp\LongPaths\50characters_3456789012345678901234567890123456789\50characters_3456789012345678901234567890123456789\50characters_3456789012345678901234567890123456789\50characters_34

[2021-05-25 12:47] wfurt opened #53224 "[QUIC]: failing to sometimes create MsQuic configuration"
Sometimes when running QUIC tests, the test run fails as (originally reported in #52742)
[code]

msquic native logs on Linux only show
[code]

(22 == EINVAL on Linux)

This is coming from this
https://github.com/microsoft/msquic/blob/bde86efb0712f9a1d726c31a9378560e7a9cbdb2/src/core/configuration.c#L62-L69

and length looks like garbage so this is likely another .NET pinning problem.

Few more tho

[2021-05-25 12:51] ijagberg commented on #29861
Also interested in a progress update on this issue. The workaround described [here](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to?pivots=dotnet-5-0#required-properties) is not viable when you are working with many different classes.

[2021-05-25 12:54] ManickaP commented on #53224
Triage: all bugs with memory and pinning must be fixed for 6.0, those are serious.

:+1: for logging the handle. We already track a generic issue for logging https://github.com/dotnet/runtime/issues/51177, so I suggest to add this there.

[2021-05-25 12:59] egorpavlikhin commented on #1784
Without this it's impossible to format numerical values in the output. There should either be a way to control how values are formatted or the ability to write unquoted numerical values to the stream.

[2021-05-25 13:08] teo-tsirpanis commented on #53166
Maybe off-topic, but `DbWriteComponentAsync` accepts a `ReadOnlySpan`, while instead it should accept a `ReadOnlyMemory`. By the time the native function processes the memory it was given, it is long ago unpinned and __will very likely point to invalid memory__ if a GC happens in the meantime. With a `ReadOnlyMemory` you can have the buffer pinned for the entire duration of the asynchronous operat

[2021-05-25 13:12] janvorli commented on #53042
I am looking into it.

[2021-05-25 13:50] vitek-karas commented on #3601
Fixed by https://github.com/dotnet/runtime/pull/52930.

[2021-05-25 13:50] #3601 closed

[2021-05-25 14:02] nioncode commented on #3601
@vitek-karas Thanks for merging the fix. Is there a roadmap for when a version with the fix will be released?

[2021-05-25 14:20] vitek-karas commented on #3601
This should go into the Preview 6 of .NET 6. It will take a couple of days to get to https://github.com/dotnet/installer where you can download a nightly build before the Preview 6 is released.

[2021-05-25 14:21] vitek-karas commented on #3601
Note that this only affects the SDK, not the runtime. So you can use the latest .NET 6 SDK, but still target 3.1 or 5.0 for the app itself.

[2021-05-25 14:26] vsfeedback opened #53227 "NumberDecimalSeparator tooltip wrong (in french)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/NumberDecimalSeparator-tooltip-wrong-in/1386467)._

---
[severity:Other]
Hi,

When hovering on NumberDecimalSeparator in my code `formatInfo.NumberDecimalSeparator` (formatInfo being of the type NumberFormatInfo) with the french version of Visual Studio, the tooltip say " La valeur par d

[2021-05-25 14:45] sep2 commented on #1784
I got a scenario where I need to do a request json like this:
`
{
	"signature": "TWkJfGOKExKoIOjQef6fv5LuP/mT/YwYAtuQOI09bv39YPU=", // hash of serialized form of body field
	"body": {
		"params1": 1234567890,
		"params2": "xxxyyyzzz"
	}
}
`
I need to pre-serialize the body field to calculate the signature field, and then when construct the real request json, I want to just throw the already-serial

[2021-05-25 14:54] vsfeedback opened #53230 "XDocument Fails To Parse XML produced by Interop.Excel (finds non-existent illegal character)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/XDocument-Fails-To-Parse-XML-produced-by/1407006)._

---
[severity:It bothers me. A fix would be nice]
I will start with how I am getting around the problem. Here is code that works (below). The key feature that allows this code to compile is the removal of the '0' (NUL) character, which

[2021-05-25 15:10] kevinchalet commented on #52611
Thanks for your reply @steveharter!

Sure. Here's a very concrete scenario: in the OpenIddict project (that was one of the first "big" projects to adopt STJ everywhere, BTW), we allow storing extra properties in the DB entities (e.g OrchardCore's OpenID module uses these properties to store things like application roles: https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore/OrchardCor

[2021-05-25 15:15] #53160 closed

[2021-05-25 15:20] khalidabuhakmeh opened #54965 "[Preview 4] dotnet sdk check fails when runtimes installed via script"
Running `dotnet sdk check` throws this exception using dotnet preview4.

[code]

Here are the results of my call to `dotnet --list-sdks`

[code]

[2021-05-25 15:22] ncorreia opened #53234 "Socket dual mode not working on Unix systems"
### Description

When opening a socket in dual mode and receiving data with ReceiveFrom method (cannot use Receive as I need to capture the sending endpoint), I get the following exception on Unix systems:

[code]

This runs fine on Windows machines.

Here's the code I'm using:

[code]

### Configuration

Tried on macOS 11.3 as well as on Ubuntu 18.04 and saw the exception above on both systems.
I

[2021-05-25 15:23] nibanks commented on #53224
We could add a specific `ApiExitStatusFailure` event instead of just `ApiExitStatus`, requiring another branch for every API call though. But, it shouldn't be that hard to come up with a filter to find just failed API calls though. Something like (+ for add filter, - for exclude):
[code]
(you'd have to double check my numeric values though).

I could perhaps update the MsQuic TSG with this and eve

[2021-05-25 15:23] ThadHouse commented on #53224
Looking at the code, I definitely suspect a pinning issue.

https://github.com/dotnet/runtime/blob/main/src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/Interop/SafeMsQuicConfigurationHandle.cs#L110

This looks to just take the address of QuicBuffers assuming theyre pinned, but MsQuicAlpnHelper.Prepare doesn't pin the outer buffers, just the inner buffers.

[2021-05-25 15:26] kevinchalet commented on #52611
Another concrete use case: OpenIddict uses a struct called `OpenIddictParameter` to represent OpenID Connect parameters, that can be primitives like strings, integers or booleans, but also more complex JSON representations using `JsonElement`: https://github.com/openiddict/openiddict-core/blob/dev/src/OpenIddict.Abstractions/Primitives/OpenIddictParameter.cs

If there was native conversion between

[2021-05-25 15:35] MattGal commented on #53207
Because it was merged without passing checks.
![image](https://user-images.githubusercontent.com/7862010/119526265-1b5d9900-bd34-11eb-88ea-e8735e315743.png)

If you merge with 2 of 34 checks passing, that means you could break between 0 and 32 checks.

[2021-05-25 15:37] filipnavara commented on #53234
It's certainly not supported on macOS but it should work on Linux.

[2021-05-25 15:41] directhex commented on #53008
The stripping seems sane

[code]

[2021-05-25 15:45] davidfowl commented on #53195
@CyrusNajmabadi  how crazy would it be to do something with embedded languages and JSON? Using the JSON to drive IntelliSense of the dynamic object being returned from these APIs? Of course it's easy when you have a JSON literal but I wonder if the schema for IntelliSense could come from outside of the C# type system and feed into it (I guess it's effectively F# type providers).

[2021-05-25 15:51] JohnGalt1717 opened #53236 "Add leftjoin/rightjoin syntax to linq to end the horrific syntax currently required"
## Background and Motivation
Right now doing left and right joins in linq is horrific and requires a ton of code that shouldn't be necessary if the proper language keywords were added.

## Proposed API

Add leftjoin/right join syntax.

## Usage Examples

from c in db.Contacts left join d in db.Domains on c.Id equals d.ContactId select new {c, d} //d would be nullable here.
from c in db.Contacts ri

[2021-05-25 15:53] JohnGalt1717 commented on #53236
area: area-System.Linq
area: area-System.Linq.Expressions

[2021-05-25 16:00] ericstj commented on #27981
Closing due to lack of response.  Let me know if you have a chance to try and it and still find issues.

[2021-05-25 16:00] #27981 closed

[2021-05-25 16:02] wfurt commented on #53234
this is known limitation of osx/macOS/iOS.
I tested the code on Ubuntu18 and works fine for me.

[2021-05-25 16:06] stephentoub commented on #52069
@bartonjs, it looks like JsonElement.ToString() returns a nullable string because of this:
https://github.com/dotnet/runtime/blob/4bdaa8e2fb06b1065d0e418d21abd80dfff00a8f/src/libraries/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs#L1407-L1408
and GetString() returns a nullable string.  But we're only calling `GetString()` if the token type is String, and `GetString()` will only ret

[2021-05-25 16:11] #50422 closed

[2021-05-25 16:13] matmat94 commented on #53166
The span is supposed to be copied into newly allocated memory by the native library before returning so it should not affect the GC.
For the Reverse P/Invoke I'm not sure either but I saw some examples doing similar things, getting back a managed object from a GCHandle and using it in the callback. I think I saw an example using TaskCompletionSource like in my code above.

Maybe the fact that I cr

[2021-05-25 16:21] nibanks commented on #53224
FYI, I created the TAT filter: https://github.com/microsoft/msquic/pull/1639

[2021-05-25 16:28] danmoseley commented on #52612
With respect to servicing, we've apparently gotten no reports since we shipped this last Nov in 5.0. On the other hand, issues like this can be insidious, a little like bad codegen - when you upgrade to 5.0, in some cases your patterns may not match some inputs that can be easy to overlook. My suggestion is to let this fix bake for a month or so then consider servicing it.

[2021-05-25 16:28] stephentoub commented on #53166
This doesn't appear to actually be related to TaskCompletionSource specifically.  The stack for thread #5862 just shows that it's blocked while trying to create a new thread as part of queueing a work item to the thread pool.  @kouvel may have a sense for what could cause that to block like that.

[2021-05-25 16:32] ViktorHofer commented on #52991
Will be fixed with https://github.com/dotnet/runtime/pull/53226.

[2021-05-25 16:35] kostasvl commented on #42265
Hi. This occurs for me on 5.0.203. It's a WPF app, published via ClickOnce, single file, self-contained.

System.NotSupportedException: CodeBase is not supported on assemblies loaded from a single-file bundle.
   at System.Reflection.RuntimeAssembly.get_CodeBase()
   at System.IO.IsolatedStorage.Helper.GetDefaultIdentityAndHash(Object& identity, String& hash, Char separator)
   at System.IO.Isolat

[2021-05-25 16:38] mkArtakMSFT commented on #53239
@lewing  FYI

[2021-05-25 16:45] bartonjs commented on #52069
Yep.

[2021-05-25 16:57] robertsundstrom commented on #49609
So side-by-side has not been prioritized? It still does not work in Preview 4.
That is a shame, because of all the people with M1 Macs who wants to try .NET 6, while still having the older, emulated versions installed.

The PR has been closed, btw. So that is why I assume this.

[2021-05-25 17:02] martincostello opened #53241 "Custom JsonConverter<string> implementation throws NotSupportedException when serializing a dictionary of strings in .NET 6 preview 4"
### Description

In a line-of-business application we have the following custom JsonConverter for strings used to remove "bad" Unicode from strings in serialized JSON.

[code]

After updating the application to .NET 6 preview 4, a `NotSupportedException` is thrown with a message similar to:

[code]

For the specific type being serialized, `$.Foo.Bar` is an `IDictionary<string, string>` property `B

[2021-05-25 17:06] geoffkizer commented on #44094
I marked this as 6.0 so it will get reviewed in the near future. That doesn't mean this is committed for 6.0.

[2021-05-25 17:12] geoffkizer commented on #17036
I marked this as 6.0 so it will get reviewed in the near future. That doesn't mean this is committed for 6.0.

[2021-05-25 17:13] ncorreia commented on #53234
My setup was not right, I can confirm that it works on Ubuntu, just not on macOS.

Is there a workaround for macos, or is there an upcoming fix?

[2021-05-25 17:19] bartonjs commented on #24847
* On re-review we decided to remove the names Scatter and Gather, as we already have precedent for these concepts without the name.
* On re-review we feel that, on the whole, the "AtOffset" particles aren't necessary with the static method invocation.  Since there's a fair hesitation for having these as instance methods on the SafeHandle type or even extension methods, we can go ahead and remove t

[2021-05-25 17:31] bartonjs commented on #51061
* While our newer Span-writing methods return the number of elements written (when there's not a better purpose for the return value) this has symmetry with the current Span methods.

[code]

[2021-05-25 17:34] MichalStrehovsky opened #53242 "Should we mark MethodBase.GetCurrentMethod() and friends RequiresUnreferencedCode?"
Illink started trimming bits of metadata off things that are not seen as reflected on. We have APIs that allow reflecting on basically everything in the program (e.g. `MethodBase.GetCurrentMethod()`). One of the bits illinker strips is parameter names.

While MethodBase.GetCurrentMethod is not "trim unsafe" per se, the MethodInfos returned from it might be "damaged" and will result in different ru

[2021-05-25 17:38] vcsjones commented on #53236
Adding new language constructs for the LINQ query expression syntax would probably need to be a language proposal in the `csharplang` repository. It looks like there is some existing discussion on that here https://github.com/dotnet/csharplang/discussions/361

[2021-05-25 17:42] deiruch commented on #933
I'm currently (pre-)processing multi-TB data sets in C#. I have to match and join millions of strings, which are taking up *A LOT* of memory (100+ GB). Because my machine only has 64GB of memory, I had to switch to a more efficient string representation:

1. Implement my own `byte[]` backed type, with hash code, comparisons, etc.
1. Read and parse strings from binary streams
1. Switch the whole co

[2021-05-25 17:42] bartonjs commented on #47977
* The obsoletions should use the next available SYSLIB number
* The SupportedOSPlatform attributes were moved from the property to just the property setter (so the getters are still allowed on all platforms, since they don't throw).

[code]

[2021-05-25 17:46] geoffkizer commented on #52742
I think we do something in our Socket code to deal with this issue. @wfurt @tmds do you folks know?

[2021-05-25 17:49] Robert969696 opened #53273 "Register IHttpClientFactory inside UnityContainer"
I am trying to register IHttpClientFactory. Firslty I've implemented it into my service:

[code]
Nevertheless i am not sure how should i correctly register it in DI UnityContainer. Can anyone help me out?

[code]
So far i've tried to add ServiceCollection and register it and i hoped i will help to resolve IHttpClientFactory but it doesn't work and i get error as folows:

[code]
When debugging erro

[2021-05-25 17:52] vitek-karas commented on #49609
https://github.com/dotnet/designs/pull/217

We're very much working on it, but it's a rather complex thing to solve.

[2021-05-25 17:54] lewing commented on #53228
Is there some reason you can't use `await Task.WhenAll(tasks);` instead?  Async patterns are highly recommended for the wasm runtime. While it is possible to in theory to make your specific sample work, blocking waits like Task.WaitAll are not a safe pattern to use in a threadless environment.  I'm leaving this open for now to consider if there is anything we'd like to do differently here.

[2021-05-25 18:03] bartonjs commented on #48615
In API Review we feel that this is just setting us up for an API bifurcation between Color and ColorArgb, and that there doesn't seem to be a compelling scenario for that bifurcation.

With a compelling scenario we could have a different discussion.

[2021-05-25 18:17] HurricanKai commented on #48913
Would be very helpful if this was added. I am currently faking this behaviour myself by tracking the write count myself.
Another reason why this is very useful is that there is only `FlushAsync` and not `Flush`, so when writing high-performance serialization code (not using `async`) there is no way to flush during that, I usually want to flush in the outer serialization loop, as that's async. Ther

[2021-05-25 18:48] bartonjs commented on #48913
* The discussion favored this being a Try method to better communicate to the caller (and code reviewer) that the implementation might not have an answer; then circled back and split the Nullable into a virtual Can property and a virtual throwing property.

[code]

[2021-05-25 19:00] GrabYourPitchforks commented on #933
Can you define what "equal performance" means? What operations are you commonly performing against this data?

As a concrete example, checking whether two strings are case-insensitive equal is fairly fast given UTF-16 representation, and you can even perform early exits like "if the two strings are different lengths, they can't possibly be equal under a case-insensitive comparer." With UTF-8, thes

[2021-05-25 19:10] JohnGalt1717 commented on #53236
hrm. The new language constructs and extensions that were just announced link here, hence why I published here.

[2021-05-25 19:10] nikolayDemirev commented on #53228
We are reusing our code base for several platforms and different versions of the .NET Framework because our users sometimes use our library with some legacy software. That is why we are building it for an old version of C#, where async and await are not supported. Later we ported our library to .NET Standard to distribute it for .NET Core, Xamarin, and Blazor. It was working correctly by now, but

[2021-05-25 19:13] bartonjs commented on #48615
It seems like there may be scenarios, but we should reconcile the layering (above or below Color) and determine if we need this, or a companion, for MAUI.

[2021-05-25 19:28] mdh1418 commented on #50785
Looks like this passes locally now based on main @d3e9a114f12

[2021-05-25 19:28] #50785 closed

[2021-05-25 19:35] karelz commented on #52645
@steveisok can you please triage this one? (set milestone + remove 'untriaged' label) Thanks!

[2021-05-25 19:39] karelz commented on #52836
Triage: We agree that `HttpClient`/`HttpRequestMessage` should not do any schema validation. We already have `blob` for wasm.
Let's keep the check only in Handler.

[2021-05-25 19:40] karelz commented on #52836
@stephentoub what do you think?

[2021-05-25 19:42] karelz commented on #53193
Triage: Technically duplicate of #51701, but we may want to rethink this one ...

[2021-05-25 19:47] echesakovMSFT commented on #52473
I will take this

[2021-05-25 19:51] karelz commented on #52693
Triage: We should delete the old code as it is unused.
We can ignore the rest, until it is needed.

[2021-05-25 19:51] steveisok commented on #52645
Appears that we're not handling resources files properly.

[2021-05-25 19:52] steveisok commented on #52645
/cc @mdh1418

[2021-05-25 19:57] scalablecory commented on #52628
HTTP demands URIs, so this is technically also asking for `HttpClient` (or rather `SocketsHttpHandler`) to implement non-standard behavior as well.

This is the kind of thing non-validating LLHTTP would be perfect for.

[2021-05-25 20:03] lambdageek opened #53249 "[MonoAOTCompiler] GenerateAotModulesTable should use assembly names not file names"
The [`System.Runtime.Loader.DefaultContext.Tests.csproj`](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Runtime.Loader/tests/DefaultContext/System.Runtime.Loader.DefaultContext.Tests.csproj#L16) references `System.Runtime.Loader.Noop.Assembly` but with a filename of `System.Runtime.Loader.Noop.Assembly_test.dll`

As a result, the AOT compiler creates:
[code]

which uses the wron

[2021-05-25 20:04] lambdageek commented on #53249
/cc @steveisok @directhex

[2021-05-25 20:05] lambdageek commented on #53249
To repro.

Build the runtime for some fullaot target - for example `./build.sh --os maccatalyst --arch arm64 -c Release`
then in `src/libraries/System.Runtime.Loader/tests/DefaultContext` do `../../../../../dotnet.sh build /p:RunAOTCompilation=true /p:MonoForceInterpreter=false /t:Test /p:TargetOS=MacCatalyst -c Release /bl`

which will fail with a non-zero exit code from `Ld`.

[2021-05-25 20:07] mattleibow commented on #44636
Has there been any updates to this? I see the other AOT issue is pretty long now :)

[2021-05-25 20:10] ericstj commented on #51302
cc @tarekgh - should we look for elsewhere in the framework that has special handling for DateTime/DateTimeOffset and ensure we add handling for DateOnly/TimeOnly as well?

[2021-05-25 20:22] tarekgh commented on #51302
@ericstj yes this is in our radar but not really planned for 6.0 release. It would be good candidate for 7.0 release. If we get a chance before then we should consider it.

[2021-05-25 20:24] sandreenko commented on #53189
Looks like
https://github.com/dotnet/runtime/blob/57bdb959be336482dfb6060ef62f935c6fecee3f/src/coreclr/jit/importer.cpp#L13370
and
https://github.com/dotnet/runtime/blob/57bdb959be336482dfb6060ef62f935c6fecee3f/src/coreclr/jit/importer.cpp#L13379
should be `goto CONV`;
but changing this causes `Process terminated. Infinite recursion during resource lookup within System.Private.CoreLib.`, interesti

[2021-05-25 20:28] steveisok commented on #52645
For some reason we're defaulting to true.  If I set the value to false, the tests pass.

https://github.com/dotnet/runtime/blob/24544e0cf7bd3c1085456b35de2048405afe4f18/eng/testing/tests.mobile.targets#L20

[2021-05-25 20:33] JamesNK commented on #53195
My feedback is the same:
* I don't see many people using dynamic with Json.NET (however I don't go looking for this kind of information).
* I don't think it is a hugely valuable feature.
* I wouldn't recommend making it a focus of how a JSON DOM is used, but if you want to make it an option, and you're ok with the complexity that adds, then go ahead.

[2021-05-25 20:38] mdh1418 commented on #52645
It seems like that is defaulted to true to help reduce the assembly size by trimming. I wonder if theres something specifically being trimmed out to cause it to fail.
Based off these:
https://github.com/dotnet/runtime/commit/45143278b0dfe09f373e22af95f5f4b7c8ecb15d
https://github.com/dotnet/runtime/commit/7f491db5a211b7f460703845dae93f7eef65ffba
https://github.com/xamarin/xamarin-android/pull/5337

[2021-05-25 20:44] deiruch commented on #933
Sure, here are some things we use:

- Using them as keys in `Dictionary`
- Replace `"` with `""`
- String interpolation/concatenation
- Sorting `string[]` and `List<string>` (Ordinal, case-sensitive)
- Computing stable, non-randomized hash codes, i.e. iterating over the chars of strings (but could just as well use iteration over bytes or runes - it doesn't matter)
- Reading `\n`-terminated lines f

[2021-05-25 20:49] mikem8361 commented on #53066
@davidwengier, this might be a dumb question, but is there anyway that Roslyn can order the CustomAttributes by Parent?

[2021-05-25 20:52] tmat commented on #53066
@mikem8361 I don't think we should do that as that would require emitting the entire CustomAttribute table on every change. The goal of EnC is to emit minimal delta, not reemit whole metadata tables.

[2021-05-25 21:11] adiaaida opened #53252 "Emsdk needs to be signed"
Today, emsdk neither signs in their official builds, nor does it have the configuration to post-build sign, so we risk attempting to publish unsigned files out of that repo. If we want to in-build sign, the yaml/build.cmd in emsdk needs to be updated. If we want to post-build sign, we need to add the configuration for doing post-build signing.

/cc: @mmitche for more details about post-build signi

[2021-05-25 21:16] davidwengier commented on #53066
Roslyn is doing that, and within each delta the CustomAttributes table is ordered by parent. The issue is that after applying the updates (with info from EncLog) the resulting table ends up out of order.

As Tomas says the only way for Roslyn to deal with this would be for it to emit the entire CustomAttrbutes table and have the runtime simply forget any previous data it had. This would be potenti

[2021-05-25 21:49] #42549 closed

[2021-05-25 21:49] #52069 closed

[2021-05-25 21:49] janvorli commented on #53042
I have ran the test 10000 times in a loop on Windows ARM64 machine equivalent to the lab one (both checked and release versions of coreclr), I've also tried to run 5 instances in parallel 1000 times and I am unable to repro the failure.
Do we happen to have a dump from one of the failed runs? I have not found it.

[2021-05-25 22:02] davidwrighton commented on #51982
@AndyAyersMS, its absolutely do-able, but what I think is a more reasonable approach, is that a devirtualize to `IFooable<__Canon>` on a type which only implements 1 possible instantiation should perform the devirtualization, but when there are 2 possible candidate target types, to skip devirtualization. Multiple implementations of the same interface on a type are rare and generally not worth writ

[2021-05-25 22:47] janvorli commented on #53042
Ah, my mistake, for some weird reason, I was building the stuff from a stale main. Trying again.

[2021-05-25 23:07] joperezr commented on #46182
The fix for this will go in 6.0 packages, so 5.x version packages will still have this issue. As for the 6.x preview packages, once we fix this issue those should no longer have the problem.

[2021-05-25 23:07] #52954 closed

[2021-05-25 23:07] #52959 closed

[2021-05-25 23:07] #53157 closed

[2021-05-25 23:39] eerhardt opened #53256 "Remove System.Text.Json's DynamicDependencies on Collections.Immutable"
Today, `JsonSerializer` takes a `DynamicDependency` on basically all the System.Collection.Immutable `CreateRange` methods:

https://github.com/dotnet/runtime/blob/5f15498d937653986821d636c04cd03c58d4bb4c/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/IEnumerableConverterFactoryHelpers.cs#L154-L159

https://github.com/dotnet/runtime/blob/5f15498d93765398682

[2021-05-26 00:01] mattpwhite commented on #53193
Sorry, didn't notice that existing issue. That linked issue mentions that this is conforming to a spec. Which spec is that? https://datatracker.ietf.org/doc/html/rfc4559 makes no mention of including a port. That RFC is basically a retcon of IE behavior (came 6 years after IE shipped the feature), and IE doesn't do this by default. Chrome and Firefox don't do this, nor does curl.

[2021-05-26 00:02] kunalspathak commented on #53042
Alternatively, you can also use runfo to download helix payload of failing test.

[2021-05-26 00:04] hoyosjs commented on #53042
It's a nullref that gets swallowed by the test runner. That being said I downloaded the payload from a failed run and ran it locally in a loop and never got the test to fail. Worth the query on Kusto to see if it was a particular agent.

[2021-05-26 00:09] janvorli commented on #53042
Finally got it fail after hundreds of iterations, even though in a different manner (Fatal error. Internal CLR error. (0x80131506)).

[2021-05-26 00:22] jkotas commented on #53256
+1

My vote would be for Option 1 Just remove the DynamicDependencies.

[2021-05-26 00:36] stephentoub commented on #53256
+1 to Jan's +1.

[2021-05-26 01:02] #48848 closed

[2021-05-26 01:18] jkotas opened #53258 "Package validation fails for servicing and runtimelab branches"
Repro:

1. Change `GitHubRepositoryName` to runtimelab at https://github.com/dotnet/runtime/blob/main/Directory.Build.props#L231 . Note that this will cause `GeneratePackage` property to be false and this is just one of the multiple ways to make it false
2. `build -s libs`

Result:

[code]

[2021-05-26 01:19] jkotas commented on #53258
@anipik Could you please take a look? I think this was introduced by #52741

[2021-05-26 01:36] VincentBu opened #53260 "Test failure System.Security.Cryptography.Rsa.Tests.EncryptDecrypt_Array.RsaDecryptAfterExport"
Run: [runtime 20210525.112](https://dev.azure.com/dnceng/public/_build/results?buildId=1156287&view=ms.vss-test-web.build-test-results-tab&runId=34924942&resultId=154818&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-05-26 01:39] davidwrighton commented on #52444
Sigh. #53796 didn't fix this one. Looking into this more deeply. The fix here is likely to be confusing.

[2021-05-26 01:41] VincentBu opened #53261 "Test failure MonoTests.System.Runtime.Caching.CountersTest.Basic_Counters"
Run: [runtime 20210525.112](https://dev.azure.com/dnceng/public/_build/results?buildId=1156287&view=ms.vss-test-web.build-test-results-tab&runId=34923730&resultId=113491&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2021-05-26 02:08] VincentBu commented on #52529
Failed again in [runtime-coreclr crossgen2 20210524.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1154650&view=ms.vss-test-web.build-test-results-tab&runId=34891230&resultId=102417&paneView=debug)

Failed tests:
[code]
**Error message:**
[code]

[2021-05-26 02:13] VincentBu commented on #48798
Failed again in [runtime-coreclr libraries-jitstress 20210525.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1154691&view=ms.vss-test-web.build-test-results-tab&runId=34891612&resultId=175395&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-05-26 03:04] radical commented on #44636
I'm working on this.

[2021-05-26 03:23] newbe36524 opened #53367 "Error if user in no python utf8 encoding ENV to run blazor AOT"
### Describe the bug

User have to set default encoding of python to utf8 when run blazor AOT.

### To Reproduce

Try AOT as docs mentioned in a Chinese locals PC

https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-6-preview-4/#blazor-webassembly-ahead-of-time-aot-compilation

error as below:

[code]

Set env PYTHONUTF8=1.

Everything works.

I think the root cause is the all emscri

[2021-05-26 03:41] stephentoub commented on #52627
+1

I'd be fine if we want to detect / fail for it as SslStream does, especially if doing so helps to simplify something else (e.g. because of the enforcement we don't need to worry about unsafe code doing something problematic due to concurrent access, or we can better use a cache without additional synchronization, or some such thing).  But I also think it's ok to say that at most one read and a

[2021-05-26 03:44] stephentoub commented on #52659
Would there be any chance of an infinite loop here?  e.g. we have a request that takes a non-trivial amount of time to send, or there's a very slow connection, or some such thing.  We send the request, the server sends back a 408 because it took too long.  So we retry.  We send the request, the server sends back a 408 because it took too long.  And repeat and repeat...?

I think you recently added

[2021-05-26 03:45] stephentoub commented on #52700
@adamsitnik, @carlossanlop, @Jozkee, we should consider this in the context of https://github.com/dotnet/runtime/issues/44546, e.g. if we decided for .NET 6 to just stop trying to emulate anything on Unix for FileShare, this would naturally be closeable.

[2021-05-26 03:53] dotnet-eng-status[bot] opened #53263 "Build failed: Validate-DotNet/main #runtime-91590-.NET6"
Build [#runtime-91590-.NET6](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1156360) failed

## :x: : internal / Validate-DotNet failed

### Summary
**Finished** - Wed, 26 May 2021 03:53:08 GMT
**Duration** - 287 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :warning: - [[Log]](https://dev.azure.com/dnceng/

[2021-05-26 03:59] dotnet-eng-status[bot] opened #53264 "Build failed: Validate-DotNet/main #runtime-91597-.NET6Preview5"
Build [#runtime-91597-.NET6Preview5](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1156361) failed

## :x: : internal / Validate-DotNet failed

### Summary
**Finished** - Wed, 26 May 2021 03:59:22 GMT
**Duration** - 293 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :warning: - [[Log]](https://dev.azure.com

[2021-05-26 04:01] ForNeVeR commented on #53223
The span of 14 characters could be explained by the difference in lengths between the path to the exe file and the path to the `.runtimeconfig.exe`, which is, too, exactly 14 characters.

[2021-05-26 04:11] Jehoel commented on #9195
I'd like to add that when running ASP.NET Core in an Azure App Service it's even more painful because the `eventlog.xml` file doesn't record any mention of the process being killed due to a stack-overflow.

It seems in Azure the only solution is to enable crash monitoring, then reproduce the issue (assuming you can even consistently and reliably reproduce it in the first place!), then download the

[2021-05-26 04:13] stephentoub commented on #52958
This already exists:
https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1067

[2021-05-26 04:27] chucklu commented on #46182
@joperezr  Thanks for the update,

[2021-05-26 04:40] danmoseley commented on #9195
@tommcdon do you know who writes this xml file? The work @janvorli  did to emit the stack was a game changer but it sounds like the scenario doesn't quite work E2E here.

[2021-05-26 04:40] sandreenko opened #53267 "Many new test failures on windows arm."
The errors look like:
[code]

The results are: https://dev.azure.com/dnceng/public/_build/results?buildId=1156492&view=results
there were 204 changes in it (https://dev.azure.com/dnceng/public/_traceability/runview/changes?currentRunId=1156492)

[2021-05-26 04:41] carlossanlop commented on #24271
@Jozkee and I discussed the additional comments we received after the main APIs were approved. The new requests/concerns make sense, so we would like to propose these additional APIs to address them:

[code]

### Rename GetSymbolicLinkTarget to GetLinkTarget

This is so that the method can be reused to return all the different types of Windows reparse points (junctions, AppExecLinks, etc.), not ju

[2021-05-26 04:41] geoffkizer commented on #52659
Yes.

[2021-05-26 04:45] carlossanlop commented on #24271
@iSazonov @mklement0 @tmds can you please review [the API proposal above](https://github.com/dotnet/runtime/issues/24271#issuecomment-848447877) and let us know if you have additional feedback before we present it?

[2021-05-26 04:48] mangod9 commented on #53267
Looks to be an issue in ` System.TimeZoneInfo`, appears to be due to https://github.com/dotnet/runtime/pull/53229. FYI @stephentoub

[code]

[2021-05-26 04:49] iSazonov commented on #24271
Will this block using  of custom values like IO_REPARSE_TAG_NFS? Maybe replace the enum with public consts?

[2021-05-26 04:57] mangod9 commented on #53216
This is another case of a known macos arm64 intermittent failure.

[2021-05-26 05:48] iSazonov commented on #24271
If we would think about creating mount points would it be like `public void CreateAsMountPoint(string pathToTarget)`? If so maybe it is better to rename to `public void CreateAsLink(string pathToTarget)` so that in future we could add `public void CreateAsLink(string pathToTarget, LinkType linkType = LinkType.SymbolicLink)`.
Thinking so we could rename ` public ReparseTag ReparseTag { get; } // Na

[2021-05-26 05:57] Erakx opened #53365 ".NET 6 Preview 4 Blazor AOT - Low End mobile devices - Out Of Memory"
### Describe the bug
With .NET 6 Preview 4 Blazor AOT, low end mobile devices run exception on page load.

**Devices used:**
- iPhone 6 iOS 12.5.2 : Browser : Safari
- Samsung Galaxy S8 Android 9. Browser : Samsung internet 14.0.3.5

### Exceptions
**iPhone 6 (on page load). Error:**
[Error] Error: Out of memory

printErr (blazor.webassembly.js:1:27263)
(fonction anonyme) (blazor.webassembly.js:1:

[2021-05-26 06:48] tmds commented on #24271
@carlossanlop I provide input with my Linux hat on. You should take from it anything you like. I don't know enough about Windows to say what the overall API should be.

`FileSystemInfo` performs operations on a `path`. It doesn't track the underlying file system entry that it represents. If we're making multiple calls against the path, we may not be retrieving information from the same file system

[2021-05-26 07:30] ViktorHofer commented on #53258
The immediate fix would be to condition the `<Sdk />` elements on the `<GeneratePackage />` property.

[2021-05-26 07:40] Shyam-Gupta opened #53268 "Implementation assembly load fails when ref assembly load has failed in a previous attempt"
### Description
`FileLoadException` is thrown during assembly load when in a previous attempt assembly load for a reference assembly has failed with `BadImageFormatException`. Both implementation assembly and reference assemblies have same name.

**Repro Steps:**
Consider following code snippet:

[code]
Both the implementation assembly and reference assembly have same name. We first try to load re

[2021-05-26 07:41] Shyam-Gupta commented on #53268
FYI @merriemcgaw

[2021-05-26 07:46] #53181 closed

[2021-05-26 07:53] ViktorHofer commented on #46182
Based on my understanding, the references to `System.Security.Principal.Windows` are correct. If a package ships a .NETStandard library with dependencies to other libraries which are shipping then the application tfms (in this case net461 and net472) need to have those dependencies as well.

See https://github.com/dotnet/runtime/issues/52982 and the repro in it for more details.

[2021-05-26 08:01] KalleOlaviNiemitalo commented on #52628
I guess LLHTTP means <https://github.com/dotnet/runtime/issues/525>.

[2021-05-26 08:11] marek-safar commented on #53256
I agree and if you also consider other sensitive workloads that would benefit from this and have lower expectations about pre-net6 compatibility it makes even more sense.

[2021-05-26 08:23] chucklu commented on #52982
@Anipik  Please try my forked sample repository, https://github.com/ChuckFork/sample-code/tree/eventLogNetFxSample. You are right, the irrelevant dependency should not be referenced.

@ericstj  Your sample repository just give a wrong case, I suggest you to read [Using .NET Standard with Full Framework .NET](https://weblog.west-wind.com/posts/2019/Feb/19/Using-NET-Standard-with-Full-Framework-NET)

[2021-05-26 08:25] chucklu commented on #46182
@ViktorHofer  Interesting, nobody else find my issue. Thanks for your notification, please check my comments in that issue. @ericstj  just give a wrong case.

[2021-05-26 08:33] DaZombieKiller commented on #52957
The analyzer should also consider the `sealed override` case:
[code]

[2021-05-26 08:57] hiwjcn opened #53272 "provide builtin placeholder feature for configuration component"
just like:

[code]

[2021-05-26 09:05] chucklu commented on #52982
@Anipik It seems you also need to read [Using .NET Standard with Full Framework .NET](https://weblog.west-wind.com/posts/2019/Feb/19/Using-NET-Standard-with-Full-Framework-NET) to know how to publish a package correctly. When you pack a package and release it to NuGet, make sure you make it support multi target frameworks as mentioned in article.

[2021-05-26 09:16] snikeguo opened #53271 ".NET framework: "DispatchProxy.Create"create failed"
i use .net framework 4.7.2
the code of "ClassLibrary.dll ":
[code]
the code of "CSharpAssemblyLoader.exe":
[code]

![image](https://user-images.githubusercontent.com/20830435/119634963-cf9b1480-be45-11eb-8827-0dd8993405ff.png)

#43685

Will this bug be fixed on the .net framework in the future?

[2021-05-26 09:22] snikeguo commented on #53271
mini demo

[2021-05-26 09:58] IvanCherkasov07 opened #53314 "[wasm][aot] `mono-aot-cross` fails on windows to compile MessagePack.dll"
Publish fails with error after enabling &lt;RunAOTCompilation&gt;true&lt;/RunAOTCompilation&gt; if Microsoft.AspNetCore.SignalR.Protocols.MessagePack.dll is referenced.

### To Reproduce

Add reference to WASM client
PackageReference Include="Microsoft.AspNetCore.SignalR.Protocols.MessagePack" Version="6.0.0-preview.4.21253.5"
Publish App: dotnet publish -c:release

### Exceptions

C:\Program File

[2021-05-26 10:15] huoyaoyuan commented on #53271
Probably not. .NET Framework has reached the end version for 2 years. There will be only critical security fixes and no behavior changes.

[2021-05-26 10:29] #53234 closed

[2021-05-26 10:30] ncorreia commented on #53234
Thanks everyone for the prompt help. It looks like this can be closed as a known issue on macos. It would be nice though if this limitation was more obvious to find either through documentation or error messaging.

[2021-05-26 10:36] mhartkorn opened #53274 "LINQ performance of .Where(pred).Any() against .Any(pred)"
Visual Studio 16.10 introduces a new quick fix for replacing `.Where(pred).Any()` with `.Any(pred)` (and similar like `First`, `Last`, `Single`, etc.). This was known to have severe negative performance impacts in .NET (#19382, https://github.com/dotnet/runtime/issues/19382#issuecomment-467612364) and was declared to be out of scope to fix because LINQ "was never intended to be a high-performance

[2021-05-26 10:38] radekdoulik commented on #53021
This issue was introduced between emscripten `2.0.17` and `2.0.18`.

Tracked it down to not failing `SystemNative_Open` call:

    info: rodo: SystemNative_Open path: /tmp/File_AppendText_qpzicxrj.0hj/WriteToReadOnlyFile_116_673e65f1 flags: 524353 mode: 438 result 4 0x4

which should fail because of errno 8, `Bad file descriptor`, we are opening read-only file for writting.

It should return `-1`

[2021-05-26 10:39] radekdoulik commented on #53022
Looks like this issue was introduced between emscripten 2.0.15 and 2.0.16.

[2021-05-26 10:44] eiriktsarpalis commented on #53274
cc @stephentoub. We could update to documentation to only claim that the fixer improves readability.

[2021-05-26 10:51] #53145 closed

[2021-05-26 10:55] stephentoub commented on #53267
I'd converted a "should never get here" comment into an assert... it appears the comment was wrong.  #53276 deletes the assert.

[2021-05-26 10:58] #52811 closed

[2021-05-26 11:23] kunalwattamwar opened #53278 "[Windows 7] System.Net.Http.HttpRequestException: The SSL connection could not be established"
Hello,

We have an .NET application which is getting data from other application through REST APIs.

**Issue**:
Getting below error when called the api from server (https://poc-de.unificonnect.com)

The certificates we are using are valid. We are able to access the website (https://poc-de.unificonnect.com) on Chrome but not through the application. The .NET application works fine on Windows 10 but

[2021-05-26 11:36] martincostello opened #53279 "TimeZoneInfo.TryConvertWindowsIdToIanaId() difference compared to TZConvert.TryWindowsToIana()"
### Description

As part of trying out .NET 6 preview 4 on an existing .NET 5 application, I tried swapping out usage of the [TimeZoneConverter](https://www.nuget.org/packages/TimeZoneConverter/) NuGet package with `TimeZoneInfo.TryConvertWindowsIdToIanaId` as [described in the blog post](https://devblogs.microsoft.com/dotnet/announcing-net-6-preview-4/#support-for-both-windows-and-iana-time-zones

[2021-05-26 12:00] wfurt commented on #53278
As far as I can see the server only supports 3 cipher suites for TLS 12:
[code]
neither seems to be supported on Window7:
https://docs.microsoft.com/en-us/windows/win32/secauthn/tls-cipher-suites-in-windows-7

e.g. Win7 supports certain ciphers in CBC but not GCM.
I think Chrome has it's own crypto so it is not bounded by OS support. You can try IE on the same machine.

The second site also suppor

[2021-05-26 12:44] akoeplinger commented on #53252
@mmitche let me know what we need to do to enable post-build signing.

[2021-05-26 12:50] KevinCathcart commented on #53273
Registering the service collection is not going to be useful. The service collection is just a a list of registrations that need to be translated to the containers native format. To do that you can use the Unity.Microsoft.DependencyInjection NuGet package (written and maintained by the Unity team), which provides the needed code. While most examples show it as part of either using in asp.net core,

[2021-05-26 13:00] Robert969696 commented on #53273
@KevinCathcart Could you be so kind and show me how to do it in presented code of mine. I would appreciate.

[2021-05-26 13:09] pavelsavara opened #53281 "[mono][windows] System.Net.Sockets.SocketException : Unknown error (0xffffffff)"
### Description

Outerloop unit tests are failing for System.Net.WebSockets.Client.Tests unit tests on Mono runtime on Windows.
[code]

### Example of failed CI run
https://dev.azure.com/dnceng/public/_build/results?buildId=1156947&view=ms.vss-test-web.build-test-results-tab&runId=34938616&resultId=103675&paneView=debug

### Configuration
To reproduce locally
- build mono `build.cmd -bl -subset li

[2021-05-26 13:15] ViktorHofer opened #53282 "Adhere to the package support policy by building and packaging supported frameworks only"
Continuation of https://github.com/dotnet/runtime/issues/47530

The runtime repository currently produces 102 packages from libraries of which 25 of those contain assets which will be unsupported when we release .NET 6 in November 2021. The list of unsupported assets includes netstandard1.x assets as those apply to unsupported application frameworks only as in any case where a netstandard1.x asset

[2021-05-26 13:33] kunalwattamwar commented on #53278
@wfurt
TW>>I think Chrome has it's own crypto so it is not bounded by OS support. You can try IE on the same machine.
KW>> PFB screenshot when I tried on IE 11. TLS1.0,1.1 & 1.2 all are enabled.
![image](https://user-images.githubusercontent.com/35274301/119667371-db8dd300-be53-11eb-95af-5eeeb0c94eff.png)

TW>> I think you are out of luck on first one.
- Who decides which ciphers to support for th

[2021-05-26 14:10] wfurt commented on #53278
I'm not sure I understand your questions @ kunalwattamwar but let me try. Both sites you listed support TLS 1.3 AND TLS 1.2. You can see that from the SSLLabs report. The difference is that once site supports more ciphersuites and that makes it work on Windows7. It is up top the server owner to decide and configure what server supports. The stage1 seems to run OpenResty so the configuration is pro

[2021-05-26 14:10] vcsjones commented on #53278
The site/server decides which cipher suites are supported on the server. The client decides which cipher suites are supported by the client. The client and server through negotiation decide which cipher suite to use. You have run in to a situation where the server and client have no cipher suites in common, so the negotiation failed. This is because Windows 7's TLS implementation (SChannel) only s

[2021-05-26 14:21] fanyang-mono opened #53284 "[wasm][aot][tests] Runtime crash ("function signature mismatch") in System.CodeDom.Tests"
[Log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-53237-merge-c0d3866baab440a785/System.CodeDom.Tests/console.b11fdbe4.log?sv=2019-07-07&se=2021-06-14T17%3A23%3A10Z&sr=c&sp=rl&sig=S6E7kibo%2FPbXqB4U95E19XR5xEHgQMR5tohj1frp%2FZ4%3D)

[code]

[2021-05-26 14:23] fanyang-mono commented on #53284
This test failed for my PR run https://github.com/dotnet/runtime/pull/53237. Not sure if it is a sporadic failure. Need to reproduce this locally to see.

[2021-05-26 14:26] ViktorHofer opened #53285 "Optimize DispatchProxyGenerator code path by using MetdataToken"
See comment: https://github.com/dotnet/runtime/blob/e8875e309fa19cb1f7dd5601ebfdc2826a94aede/src/libraries/System.Reflection.DispatchProxy/src/System/Reflection/DispatchProxyGenerator.cs#L834-L836

With https://github.com/dotnet/runtime/pull/53283, we won't build a netstandard1.x configuration of this library anymore and the code path can be optimized. FWIW this could have already be done in the p

[2021-05-26 14:47] #25078 closed

[2021-05-26 14:48] radekdoulik commented on #53021
The `preMain()` was removed intentionally in emscripten. It broke the permissions after FS initialization. Opened https://github.com/emscripten-core/emscripten/issues/14299

[2021-05-26 14:51] hdv212 commented on #46678
Hi all!
What's is the best practice for this situation?
Is there any alternative approach?
Thanks in advance

[2021-05-26 14:57] Jozkee commented on #24271
@iSazonov No, you can still expect values that are not listed in the enum.

As per [framework design guidelines](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/enum#add_value), we should favor using an enum instead of static constants.

Both options are feasible, IMO. I prefer adding methods rather than enum values for this particular case. Regarding having LinkType instead of

[2021-05-26 14:58] vitek-karas commented on #53242
I think it makes sense to annotate these. We'll see how widespread the usage is. If it's too bad we may consider supporting some of these view instrinsics if possible to avoid warnings (For example the `GetCurrentMethod` is something linker can figure out and make "safe" always).

[2021-05-26 15:15] tmds commented on #24271
What I mean is: `LinkTargetPath` and `ReparseTag` can reflect information about a different file system entry than the other properties (like `LastWriteTime`). That's because retrieving all these values requires multiple calls against the path. Between the calls, the underlying entry can change.

No, this is what the implementation would do on Linux.

ok. Windows requires you to have separate meth

[2021-05-26 15:17] KevinCathcart commented on #53273
@Robert969696 :
1. Add the NuGet package. Many ways to do this. such as Visual Studio's Manage NuGet Packages, or from the command line you could do: `dotnet add package  Unity.Microsoft.DependencyInjection`.
2. Add `using Unity.Microsoft.DependencyInjection` to the top of the `App` file.
3. Update code to be:
[code]

You can do the `RegisterType` calls before the the service collection, as part o

[2021-05-26 15:25] vadi2 opened #53291 "`libdl.so` not found in search path and causes a crash"
### Description
Trying out the .NET 6 preview 4, I'm not able to run my application anymore due to a crash.

### Configuration
* .NET 6 preview 4 installed from snap
* Ubuntu 20.04 LTS, x64

### Regression?
Worked on .NET 5, so yes.
### Other information
Running the app itself gives a segfault:

[code]

GDB shows that it's an issue with dlopen:

[code]

strace shows that it's trying to find `libdl

[2021-05-26 15:39] mmitche commented on #53252
In the publishing.props file, you'll need to set the PostBuildSign property true. Then you'll need to fill itemgroup ItemsToSignPostBuild with the items that you need signed (in this case the nupkg files).

[2021-05-26 15:50] Clockwork-Muse commented on #53279
Probably also want to add @mattjohnsonpint

[2021-05-26 15:53] Jozkee commented on #24271
@tmds I see what you mean. Do you know if there is a better way to get this information without falling into that problem?

[2021-05-26 16:04] Sergio0694 opened #53296 "Proposal: ref struct ConditionalWeakTable<TKey, TValue>.GetEnumerator()"
## Background and Motivation

The [`ConditionalWeakTable<TKey, TValue>`](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.conditionalweaktable-2) is an extremely useful type that allows developers to leverage GC dependent handles (which are not directly available), along with some other nice features on top (eg. auto trimming, thread-safety by default, etc.). There is cu

[2021-05-26 16:11] VSadov commented on #53174
The reason why C# guarantees that all fields are initialized to default value is because by default GC heap locations are  zero-initialized before use. The memory contains zeroes before it becomes a particular object.

So, no. Only an actual assignment guarantees that there is a fence.

That is more subtle:
- constructors in CLR do not impose any ordering semantics by themselves.
- assigning a ref

[2021-05-26 16:17] VSadov commented on #53031
The part that disconnecting the network makes the app to load faster seems a very clear indication that this is caused by Gatekeeper.

[2021-05-26 16:23] kevinchalet opened #53297 "Odd CS0006 error when using Microsoft.Extensions.Logging with multi-targeting"
Error:

[code]

Repro:

[code]

.NET SDK version: 6.0.100-preview.4.21255.9

Related discussion: https://twitter.com/kevin_chalet/status/1397568404458983426.

[2021-05-26 16:26] lambdageek commented on #53106
Should be fixed by #53197

[2021-05-26 16:27] mthalman opened #53298 "PowerShell crash on exit in Windows containers"
### Description

This is a really strange one.  In the latest builds of 6.0 Preview 5, PowerShell 7 will crash on exit after it has run for a certain amount of time.  I have attempted to configure the container to collect a crash dump but nothing gets output by WER. I think the underlying issue could be GC-related.

### Repro steps

Dockerfile:

[code]

1. Save the above contents to a file named `

[2021-05-26 16:31] FirehawkV21 opened #65879 ".NET 6 - R2R Composite image crashes the app"
* .NET Core Version: 6.0.0-preview.4.21253.7
* Windows version: Windows 10 (Build 19043.1023)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: No
* Is this bug related specifically to tooling in Visual Studio (e.g. XAML Designer, Code editing, etc...)? No.

 **Problem description:**
When `<PublishReadyToRunComposite>` is set to true, the WPF app would crash when trying to call somethi

[2021-05-26 17:06] KevinRansom opened #53300 "RefEmit SymbolMethod should probably have a Metadata token override"
The recent PR to add MedataToken getter overrides to builder classes has broken FSI code generation on dotnet 6.0:  Add MetadataToken getter override to builder classes (#43330) · dotnet/runtime@b72b13e (github.com)

The method:

[code]
was modified here: runtime/src/coreclr/System.Private.CoreLib/src/System/Reflection/Emit/ModuleBuilder.cs at 01b7e73cd378145264a7cb7a09365b41ed42b240 · dotnet/runt

[2021-05-26 17:10] tommcdon commented on #9195
Eventlog.xml is part of the [Application Event Log](https://docs.microsoft.com/aspnet/core/test/troubleshoot-azure-iis?view=aspnetcore-5.0#application-event-log-azure-app-service) feature in Azure App Services.  I'll find out the owners and try out the E2E scenario with StackOverFlow.  It sounds like we might have a scenario gap here.

[2021-05-26 17:14] jhudsoncedaron commented on #9195
Or you can fix #8947 to at least allow catch (StackOverflowException) to work. The original reason for denying it is long gone.

StackOverflow has been theoretically recoverable forever. Once having rolled back 4k of stack you can call the native function _resetstkoflw https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/resetstkoflw?view=msvc-160

[2021-05-26 17:20] tarekgh commented on #53279
This is a bug in our code as we use ICU and ICU require the regions be uppercased. i.e. use "ES" instead of `es`. I'll track fixing this issue. till you get the fix, you may work around this by casing the region.

thanks for reporting.

[2021-05-26 17:30] mikem8361 commented on #53066
I asked for some help from @jkotas on this and he says:

MDInternalRW::EnumInit

[2021-05-26 17:32] tmat commented on #53066
What Jan is saying is what I'd expect to happen as well.

[2021-05-26 17:34] mikem8361 commented on #53066
So there isn't actual an issue here?

[2021-05-26 17:36] tmat commented on #53066
I don't know. Do we have a test that validates this works?

Also, Mono does not have this mechanism so that need to be addressed in Mono.

[2021-05-26 17:40] mthalman commented on #53298
I've narrowed this down to build 6.0.100-preview.5.21264.5.  That's when the regression was introduced.

[2021-05-26 17:47] mikem8361 commented on #53066
Neither the runtime or the diagnosticstest have any ENC tests. Aleksey add some infrastructure and few simple hot reload tests.  Nothing that would exercise this.

[2021-05-26 17:56] terrajobst opened #53303 "JsonSerializer constructor binding should support differences between property and parameter so long the property is assignable to the parameter"
I have the following class:

[code]

When deserializing it, I get the following exception:

[code]

It seems the serializer requires the types of the properties to be identical to the parameter. That feels overly restrictive to me; it seems we should only require that the property type is assignable to the parameter type.

[2021-05-26 17:57] BruceForstall commented on #53155
@tannergooding @dotnet/jit-contrib Lots of asserts in the jitstress-isas-x86 jobs, not just this one, and across many stress flavors

[2021-05-26 17:58] agocke commented on #53268
@vitek-karas, could you look at this?

[2021-05-26 18:06] tmds commented on #24271
The API in https://github.com/dotnet/runtime/issues/24271#issuecomment-848512625 doesn't have this problem on Linux.
Looking at `GetFileAttributesEx` docs, I think it works for Windows too.

[2021-05-26 18:06] #51982 closed

[2021-05-26 18:06] tmat commented on #53066
Right, so the issue is that we need a test, otherwise we don't know if this works or not.

[2021-05-26 18:09] tannergooding commented on #53155
These should be resolved now with https://github.com/dotnet/runtime/pull/52985, the jitstress and outerloop jobs were all passing when it was merged yesterday.

[2021-05-26 18:10] tannergooding commented on #53155
I've kicked off https://dev.azure.com/dnceng/public/_build/results?buildId=1158018&view=results to confirm that there are no issues remaining and will close this when that completes.

[2021-05-26 18:13] martincostello commented on #53279
Thanks for the workaround, that's fixed the tests locally on my Windows 10 machine.

However after pushing the change up to our TeamCity build servers which run Windows Server 2016, I've noticed some other issues that I'd not dug into further until now as I knew the tests were broken anyway.

On the build server, the tests are failing with `TryConvertWindowsIdToIanaId()` returning `false`.

In ano

[2021-05-26 18:17] Jozkee commented on #24271
@tmds how is that? How are you avoiding doing two calls using the file path? i.e. using your API, if you want to get the `LastWriteTime` of the _target_, you still need to use two syscalls taking a path, or am I missing something?

[code]

[2021-05-26 18:19] filipnavara commented on #53279
I don't think the scenario is supported on Windows Server 2016 because it doesn't ship ICU and the data with the operating system. It may be possible to use app-local ICU but I am not sure if there's documentation for that option.

[2021-05-26 18:21] jhudsoncedaron commented on #24271
@Jozkee: If new DirectoryInfo("/path-to-link", followLinks: true); called readlink the implementation is buggy. That should call `stat(path)` (not `lstat(path)`).

[2021-05-26 18:22] Jozkee commented on #24271
@jhudsoncedaron ah, great point.

[2021-05-26 18:27] tmds commented on #24271
Yes, that is what I mean with the comment: ` // bool switches between stat and lstat`.

[code]

`IsLink` can be determined together with the other properties. The link information is retrieved using a method.

[2021-05-26 18:28] directhex commented on #50198
This is resolved by https://github.com/dotnet/runtime/pull/52784

[2021-05-26 18:28] #50198 closed

[2021-05-26 18:29] martincostello commented on #53279
OK cool. For my specific use case I'll just need to revert back to using the TimeZoneConverter NuGet package instead then (getting our build servers moved to Windows 2019 or newer is outside of my team's control, though I can at least ask).

I realise the blog posts err on the side of brevity so wouldn't have called this out specifically, but if it's not already it should definitely be documented

[2021-05-26 18:29] lambdageek commented on #53066
Yep, that's tracked by #52993

[2021-05-26 18:32] mikem8361 commented on #53066
Before we can add tests for this PR dotnet/roslyn#53507 needs to get merged.

[2021-05-26 18:33] directhex commented on #51667
Dylib signing was included in https://github.com/dotnet/runtime/pull/51139

[2021-05-26 18:33] #51667 closed

[2021-05-26 18:34] lambdageek commented on #53066
for C#-level tests the following needs to happen:
1. Roslyn merges the changes (to the `vs-main-deps` branch) support CustomAttribute updates.  Gated by a new capability.
2. The roslyn changes propagate to dotnet/hotreload-utils (should happen daily).
3. We need to add the new capability to hotreload-utils (https://github.com/dotnet/hotreload-utils/blob/main/src/Microsoft.DotNet.HotReload.Utils.Ge

[2021-05-26 18:37] merriemcgaw commented on #53268
Chiming in here to say that this winds up blocking a key scenario in the WinForms designer, something our customers certainly expect to work. We would greatly appreciate the prioritization here 😄

[2021-05-26 18:38] tarekgh commented on #53279
@martincostello we'll ensure the docs will be clear about that.

I would recommend having a fallback path when ICU is not enabled. So, you need to call the new TimeZoneInfo api and then fallback to TimeZoneConverter if needed. The reason is moving forward, I would expect in the future ICU will be enabled everywhere when stop supporting old Windows server versions. And I expect at some point TimeZo

[2021-05-26 18:40] tarekgh commented on #53279
@martincostello another question, would using `app-local ICU` be feasible to you too? I am asking because this will ensure behavior consistency when running with and without ICU.

[2021-05-26 18:41] filipnavara commented on #53279
We are kinda in the same boat. Actually we shipped our own data and converters until recently. I only discovered TimeZoneConverter thanks to the changes to .NET runtime and we migrated to it immediately. In our case we already ship ICU as part of Chromium Embedded Framework with our app so using the app-local ICU would be a cheap option for us going forward.

[2021-05-26 18:42] iSazonov commented on #24271
The only way to avoid this is to use a transactional file system.
I guess no file API in Runtime eliminates this problem.

[2021-05-26 18:45] martincostello commented on #53279
I think that's fair for a general use case, but our web/API apps are just deployed to our own servers where we know if ICU is available or not in advance.

It's less code to maintain and test to just do one or the other. Until our build agents have 2019, I'll stick with our current code using the NuGet package, then if/when they're updated to 2019 (or we switch to Linux) we can use the new .NET 6

[2021-05-26 18:49] rolfbjarne opened #53307 "AppHost should be disabled by default for macOS like it is for iOS / tvOS / Mac Catalyst / Android"
### Description

Xamarin.Mac for .NET (the `net6.0-macos` target framework) are like mobile platforms in that the app host should be disabled by default here:

https://github.com/dotnet/sdk/blob/c53c8ac81e1bcb8118c31bc4f5622396c72e9959/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.RuntimeIdentifierInference.targets#L118-L119

I'm not sure what's the best way to do it though, since the

[2021-05-26 18:50] tarekgh commented on #53279
You may look at [App-local ICU](https://docs.microsoft.com/en-us/dotnet/standard/globalization-localization/globalization-icu?ranMID=24542&ranEAID=a1LgFw09t88&ranSiteID=a1LgFw09t88-97pI.GEeo6sZDgu5QYeWJg&epi=a1LgFw09t88-97pI.GEeo6sZDgu5QYeWJg&irgwc=1&OCID=AID2000142_aff_7593_1243925&tduid=%28ir__mrdukhopi0kfqxeykk0sohzifv2xul1wqvxvqk3y00%29%287593%29%281243925%29%28a1LgFw09t88-97pI.GEeo6sZDgu5QYeW

[2021-05-26 18:55] xoofx commented on #45152
Bumping again on the topic, more precisely for the support of `offsetof` and so by extension `handleof(A.MyField)` that we discussed [here](https://github.com/dotnet/runtime/issues/28001#issuecomment-442356068)), can we add here that it might require a language + Roslyn support, so that we can build higher primitives/intrinsics around it? (e.g like `Unsafe.OffsetOf(fieldToken)`).

A scenario examp

[2021-05-26 19:06] agocke commented on #53268
Good to know, let's see if we can get to the bottom of this ASAP. Do you know if you'll need fixes for .NET 5 or earlier, or just .NET 6?

[2021-05-26 19:08] vitek-karas commented on #53268
I'm looking, but I doubt it's a recent bug.

That said - why do you need to load the ref assembly by the runtime? If it's only for "reflection-only-load" it would be much cleaner to use `MetadataLoadContext` which has no interactions with the runtime and will avoid the issue for sure.

[2021-05-26 19:09] carlossanlop commented on #24271
@iSazonov I'd like to expand on @Jozkee's [answer](https://github.com/dotnet/runtime/issues/24271#issuecomment-848841559).

I would prefer to keep the APIs separate for every different kind of reparse point. We need to keep in mind that having a reparse point means there's additional metadata we need to add to the file, and there can be cases where the user needs to manually provide this extra inf

[2021-05-26 19:14] agocke commented on #53307
We're actually planning on enabling the apphost for Mac due to the x64/ARM64 split on Apple Si.

What's the reason why mobile platforms need to have the apphost disabled?

[2021-05-26 19:16] rolfbjarne commented on #53307
We don't use it, we host the runtime (either Mono or CoreCLR) ourselves.

[2021-05-26 19:18] caxepok commented on #38415
Have memory leaks in System.Drawing too, at #38415

[2021-05-26 19:19] ericstj commented on #53303
Perhaps this is the same issue as https://github.com/dotnet/runtime/issues/44428?

[2021-05-26 19:21] jpapp05 commented on #53274
This is unfortunate.  I just updated our repository, marveling how cool these analyzers are in all the performance fixes it found based on the name and description of the analyzer rules.

Please consider fixing this performance disparity in LINQ as it is not intuitive; I had no idea it was making things slower until I stumbled on this post.

I understand there is always a balance between size and

[2021-05-26 19:21] akoeplinger commented on #53252
@mmitche I made the change to use post build signing and I see the xml files in the AssetManifests AzDO artifact. Is there any way to try running a postbuild sign to see whether it really works?

[2021-05-26 19:24] akoeplinger commented on #53307
Hm as a workaround you can set `_RuntimeIdentifierUsesAppHost=false` and `UseAppHost=false`.

[2021-05-26 19:32] SingleAccretion opened #53309 "System.Linq.Expressions CompileDeepTree_NoStackOverflowFast fails with Stack Overflow"
Recent runs that observed the failure: [first](https://dev.azure.com/dnceng/public/_build/results?buildId=1155580&view=logs&j=eb51b6b1-acd4-5d0e-ec03-d6dd16ab13c9&t=6018075a-899a-579b-3806-30fab01eea85), [second](https://dev.azure.com/dnceng/public/_build/results?buildId=1155763&view=logs&j=eb51b6b1-acd4-5d0e-ec03-d6dd16ab13c9&t=6018075a-899a-579b-3806-30fab01eea85). [Test in question](https://git

[2021-05-26 19:35] Shyam-Gupta commented on #53268
The WinForms designer needs to load project output assembly to resolve custom user types which show up as controls in the Toolbox. To do this, the designer's child process (.NET Core process) loads all assemblies present in project output folder.
In case there is an easy way to differentiate between ref assemblies and implementation assemblies then we can skip loading ref assemblies. Let us know.

[2021-05-26 19:36] agocke commented on #53307
Yeah, I'm not sure that's bad as an actual solution -- it seems like we just need to decide on the correct properties to set in the Xamarin targets.

[2021-05-26 19:37] mklement0 commented on #24271
First things first: Thanks for continuing the discussion.

However, that is undoubtedly awkward, both in its verbosity and obscurity, given that the term _reparse point_ is Windows-specific.

That is awkward too, for the reason that determining whether a path is _some_ kind of link is then quite cumbersome, and would require manual inspection of `.ReparseTag`  for the _named-surrogate_ bit.

The A

[2021-05-26 19:39] tmds commented on #24271
I guess no file API in Runtime eliminates this problem.

The FileSystemInfo classes don't have this problem now. And if we're don't add properties that require additional system calls, we're not introducing it.

As I said, you may not care about it.

This is what a full API might look:

[code]

[2021-05-26 19:42] agocke commented on #53268
I believe there's an attribute on the assembly, `System.Runtime.CompilerServices.ReferenceAssemblyAttribute`, that should be on every reference assembly.

[2021-05-26 19:46] martincostello commented on #53279
Thanks. I fixed the tests on Windows Server 2016 with the following:

[code]

[2021-05-26 19:52] AndyAyersMS commented on #53309
@jakobbotsch want to take this one?

[2021-05-26 20:05] janvorli opened #53311 "System.IO.Tests.SymbolicLink_Changed_Tests.FileSystemWatcher_DirectorySymbolicLink_TargetsFile_Fails failing"
I've seen this test failing on Windows 10 amd64/x86 on a PR with changes that were unrelated (only touching PAL tests).

The error is
Assert.Throws() Failure
Expected: typeof(System.IO.FileNotFoundException)
Actual:   (No exception was thrown)

https://dev.azure.com/dnceng/public/_build/results?buildId=1157809&view=ms.vss-test-web.build-test-results-tab&runId=34956638&resultId=113343

The history

[2021-05-26 20:07] Shyam-Gupta commented on #53268
Is there any way to read assembly attributes without loading the assembly ? Else we will need to load each assembly into `MetadataLoadContext` first which will likely impact perf.

[2021-05-26 20:08] dannyfriar commented on #52854
@jkotas  Took a bit of a look at this, my original thought was to just set the `SafeMemoryMappedFileHandle.handle` to the `fileStream` handle and remove the existing counter, _roughly_ [these lines](https://github.com/dotnet/runtime/blob/01b7e73cd378145264a7cb7a09365b41ed42b240/src/libraries/System.IO.MemoryMappedFiles/src/Microsoft/Win32/SafeMemoryMappedFileHandle.Unix.cs#L62-L64)  would become s

[2021-05-26 20:12] directhex commented on #47830
This was resolved in https://github.com/dotnet/llvm-project/pull/99

[2021-05-26 20:12] #47830 closed

[2021-05-26 20:16] vitek-karas commented on #53268
MetadataLoadContext should be pretty fast – it’s lazy – meaning that it will only parse the bare headers and almost nothing else. You can go even lower level and use System.Reflection.Metadata and use the low level readers. It should be reasonably easy to read just assembly level attributes with that approach as well.
@MichalStrehovsky for details on the low-level APIs if you're interested in that

[2021-05-26 20:18] BrennanConroy commented on #53312
No indication of a server error here.

[2021-05-26 20:21] adiaaida commented on #53252
If we have the build id, we can probably run it through the validation pipeline to see.

[2021-05-26 20:31] jaredpar commented on #45152
I'm not sure how the language can implement `offsetof` without some underlying runtime support as it's a value you can't determine until runtime. As for that and `handleof` I think it comes down to if there is enough benefit in adding it, particularly when it's just a think wrapper over .NET API calls.

[2021-05-26 20:33] tmds commented on #50527
@davidfowl I'll try to pick this up in June. I'll add a comment when I start working on it.

[2021-05-26 20:37] MichalStrehovsky commented on #45152
It would probably have to be through ldflda and managed pointer difference. There's an issue discussing that if we were to allow `no.nullcheck ldflda`, it would be doable with nice codegen - https://github.com/dotnet/runtime/issues/40021#issuecomment-666596692.

[2021-05-26 20:37] eerhardt commented on #50198
I don't see tests being added with that change. What are we doing to ensure this doesn't regress again?

[2021-05-26 20:46] MichaelSimons commented on #3379
[Triage]  Assigning to @NikolaMilosavljevic to research and create a proof of concept on how required components can be detected and installed.

[2021-05-26 20:54] carlossanlop commented on #24271
@mklement0 :

This is how we already do it, so it's not really obscure, even for Unix users. In fact, [we explicitly documented](https://docs.microsoft.com/en-us/dotnet/api/system.io.fileattributes?view=net-5.0#fields) `FileAttributes.ReparsePoint` as cross platform to keep parity with Windows.

While I can agree it may be a bit awkward (regardless of the fact we have `FileAttributes.ReparsePoint`

[2021-05-26 20:58] carlossanlop commented on #24271
@tmds :

Your concern about the potential change of the underlying filesystem makes sense, so we would like to take your suggestion to make this a method instead of a property, _but_ without the boolean parameter: it wouldn't make sense to retrieve the path of the final symlink, especially if it's relative.

Take this case, for example:

[code]

Where the symlink chain looks like: `mylink2 -> myli

[2021-05-26 21:18] rstm-sf opened #53316 "Consider supports the unicode-aware regular expressions in ECMAScript 2015"
### Is your feature request related to a problem? Please describe.
Not so long ago there was an [issue](https://github.com/dotnet/aspnetcore/issues/16904) where it was told about `RegularExpressionAttribute` problems. This eventually led to a [clarification in the documentation](https://github.com/dotnet/AspNetCore.Docs/pull/15984).

(By the way, it ended up in the wrong section. Therefore, in the

[2021-05-26 21:30] mklement0 commented on #24271
Understood, but on a philosophical note: A well-documented obscurity will still be an obscurity to new users.
Documentation is no substitute for descriptive, platform-neutral terms.
And, as stated, on Windows checking for `ReparsePoint` _isn't sufficient_, because not all reparse points are links.
So there is currently no platform-neutral abstraction,.

My (previously expressed) hope was that whil

[2021-05-26 21:34] vitek-karas commented on #53268
I checked what happens in the runtime in this case:
* It goes through assembly resolution and succeeds
* It loads the basics of the assembly successfully
* Then it tried to prepare the assembly for code execution
  * This loads the metadata headers
  * Looks for the `ReferencedAssemblyAttribute` - if it's there it will fail with the exception you're seeing

The failure happens basically during the

[2021-05-26 21:38] tmds commented on #24271
I think you assume based on the name `LinkInfo` is something that derives from `FileSystemInfo` which is not the case.

I had removed it here also: https://github.com/dotnet/runtime/issues/24271#issuecomment-849065336.

and replaced the `true` version with another method (`Path.ResolveLinks`) which would return `/dir/subdir/subsubdir/file.txt`.

[2021-05-26 22:28] akoeplinger commented on #53252
@adiaaida cool thanks, the build id is 91768.

[2021-05-26 22:28] adiaaida commented on #53252
Will run it through

[2021-05-26 22:41] rickbrew commented on #3379
These are documented as being intended for scenarios like CI, and download what's necessary for a self-contained deployment. I wasn't able to figure out how to get them to grab the end-user installer EXE.

From https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script :

(it can also install the runtime w/o the SDK, AFAICT)

I need the full installer that runs w/ admin privileges.

[2021-05-26 22:58] jamshedd commented on #3379
@rickbrew , you asked for a pointer/example so I was using these install scripts as an example that illustrates detection, download and deployment of .NET packages to influence your own scripts or installer to do something similar.

[2021-05-26 23:01] ericstj commented on #52982
What's wrong about it?  We can't tell every customer not to use .NETStandard.

The package must be self consistent.  If it exposes an assembly with type definitions on one framework it must expose that an assembly with compatible name on all compatible frameworks.  We cannot require every package up the stack to cross-target for all the frameworks of its dependencies, if we did it defeats the purp

[2021-05-26 23:29] GrabYourPitchforks opened #53320 "Clarify thread safety of crypto one-shots"
.NET has recently introduced several crypto one-shot methods, including:

[code]

Following our normal threading principles, static one-shot methods are thread-safe, but instance one-shot methods are not guaranteed to be thread-safe. For instance, as of this writing, `AesGcm.Encrypt` is thread-safe on Windows but not on other operating systems. Which means that the code below could work on a Windo

[2021-05-26 23:30] rickbrew commented on #3379
Yeah, true, thanks :) Unfortunately I think my needs are just slightly off-angle from what `dotnet-install` is meant to do. Maybe the installer EXEs are right there in the same directory (on the server) as the ZIPs that `dotnet-install` downloads, but I'm wary of depending on that w/o some official documentation granting me the blessing to do that.

[2021-05-26 23:30] BruceForstall opened #53321 "Test failure in JIT/superpmi/superpmicollect/superpmicollect.sh"
Failure in macOS arm64, many JitStress modes

https://dev.azure.com/dnceng/public/_build/results?buildId=1156796&view=ms.vss-test-web.build-test-results-tab

(and the related JitStress2 jobs: https://dev.azure.com/dnceng/public/_build/results?buildId=1158176&view=ms.vss-test-web.build-test-results-tab)

[code]

First reported here: https://github.com/dotnet/runtime/issues/32730#issuecomment-844634

[2021-05-26 23:31] BruceForstall commented on #32730
I opened a separate issue for the macOS/arm64 issue: https://github.com/dotnet/runtime/issues/53321

[2021-05-26 23:32] BruceForstall commented on #53321
@sandreenko Can you please investigate this macOS/arm64 JitStress issue?

[2021-05-26 23:33] BruceForstall commented on #53321
SuperPMI is complaining about GetIntrinsicID, so maybe https://github.com/dotnet/runtime/pull/52156 is at fault?

[2021-05-26 23:34] michael-hawker commented on #53296
Thanks @Sergio0694 for filing this! It's really amazing to see opportunities you've identified in .NET from the work you've done in the Toolkit. Let me know if there's anything I can do to help.

[2021-05-26 23:38] BruceForstall opened #53322 "Assertion failed 'genIsValidDoubleReg(regRec->regNum)'"
Test: JIT/SIMD/VectorConvert_ro_Target_32Bit/VectorConvert_ro_Target_32Bit.sh

Linux/arm
JitStress2 + JitStressRegs1/JitStressRegs8

[code]

fwiw, the failure occurred after this LSRA change: https://github.com/dotnet/runtime/pull/52832

@kunalspathak PTAL
cc @dotnet/jit-contrib

[2021-05-26 23:39] AaronRobinsonMSFT commented on #53320
@GrabYourPitchforks I assume this may have an impact on https://github.com/dotnet/runtime/pull/49511? Unsure of these APIs will make it to WASM but figured I would link to another thread concern in the crypto space.

[2021-05-26 23:41] bartonjs commented on #53320
The static one-shots should be thread-safe, since they're static.

For the instance members, I think my preferences are 3/2/1.

[2021-05-26 23:44] AaronRobinsonMSFT commented on #53271
@snikeguo For .NET Framework specific changes, we recommend reporting at [Developer Community](https://developercommunity.visualstudio.com/).

I am going to close this for now. If the issue reproduces on .NET Core or .NET 5+ please feel free to reopen.

[2021-05-26 23:44] #53271 closed

[2021-05-26 23:50] BruceForstall commented on #53155
It's clean.

[2021-05-26 23:50] #53155 closed

[2021-05-26 23:55] grbell-ms commented on #53282
Aren't net452, net460, and net461 supported through April 2022?
https://docs.microsoft.com/en-us/lifecycle/products/microsoft-net-framework

[2021-05-27 00:09] jkotas commented on #52854
I do not think that this would work well. Each SafeHandle instance has to own the underlaying handle. Otherwise, we can end up with safe handles that point to closed handles, etc.

I think this would have to create a duplicate of the file stream handle.

Some of the natural choices would be `-2` or `IntPtr.MaxValue`.

[2021-05-27 00:16] BruceForstall commented on #52529
Maybe a meta-issue with links to all the possibly-duplicated issues?

[2021-05-27 00:17] mikem8361 commented on #53066
The access violation happens here:
[code]
The stack looks like this (SOS has problems with ENC'ed methods):
[code]

I'm wondering if ENC for adding static fields (I'm guessing here) to a dynamic class actually works even through the apply delta didn't fail or assert.

/cc: @jkotas

[2021-05-27 00:26] davidwengier commented on #53066
That is excellent news if this is not a problem.

This shouldn't be necessary to validate current behaviour. An example that would work now:

Initial code:
[code]

Updated code (add a class and method with attributes):

[code]

This results in two custom attributes tables being emitted that look like this:

[code]
and
[code]

If those two tables are concatenated without being re-sorted then that s

[2021-05-27 00:42] Jozkee commented on #24271
@mklement0 could `info.GetLinkTarget()?.Exists ?? false` suffice in order to know whether a given file system entry is a link? If so I think we can drop `ReparseTag` from this proposal and also avoid adding `IsLink` .
This will be complemented by allowing that all link types, (symlinks, junctions and appExecLinks on Windows && symlinks on Unix) get the ability to _query_ its target.

[2021-05-27 00:43] mattpwhite commented on #51701
This misunderstands the issue. The sequence is a 401 from the server to client saying it supports Negotiate. There is no facility for the server to tell the client which SPN it should acquire a ticket for, that is left to the client. How that happens varies a bit across platforms (in SSPI applications work directly an SPN, in GSSAPI they usually work a more abstract form) and to some extent applic

[2021-05-27 00:48] vcsjones commented on #53320
I'm indifferent between 2 and 3... documentation makes sense, but then again if we document every single instance API that is not thread safe, throughout the stack - that is a lot of documentation to add. But then again, maybe crypto APIs are a bit special and calling out their thread safety is a worthy task.

I don't think the hashing one-shots being thread safe has much bearing on the thread saf

[2021-05-27 00:56] stephentoub commented on #53274
The only case in which I'd expect `source.Where(pred).Any()` to be faster than `source.Any(pred)` is when source is a `T[]` or `List<T>`, and even there, the difference is purely due to the extra code in `Where` that indexes into these rather than using `MoveNext`/`Current`... it doesn't change the algorithmic complexity or anything like that. `source.Where(pred).Any()` may also incur an additiona

[2021-05-27 01:29] stephentoub commented on #45089
I've been waffling back and forth between whether to have a quirk for this or not.  On the one hand, I'd really like to be able to delete all this cruft and shrink the size of Stream by removing the field.  On the other hand, I do have nagging concerns about the compatibility impact, and whether for .NET 6 we should have an opt-in for the serialization and then in .NET 7 rip it all out.  Opinions?

[2021-05-27 01:29] agocke commented on #53268
Checking using System.Reflection.Metadata is pretty easy and should be cheap -- I wrote up a quick version here https://gist.github.com/agocke/f6a80c71cc62074379e2c9c4025505b7

[2021-05-27 01:31] davmason opened #53326 "The profiler's class hash table (for GC ObjectsAllocatedByClass tracking) does not scale"
When a profiler sets COR_PRF_MONITOR_GC one of the things we enable is the ObjectsAllocatedByClass callback. We use a CHashTableImpl of a fixed size for tracking how many of each class we've seen allocated.

The number of buckets in the CHashTableImpl is fixed at 32 and never grows, so as the number of distinct classes grows we trend towards O(n) behavior for each lookup, and therefor O(n^2) for t

[2021-05-27 01:32] JamesNK opened #53327 "TryAddEnumerable and singleton"
TryAddEnumerable doesn't add new registrations if singletons with distinct constant values are used. Only the first TryAddEnumerable successfully adds a registration.

[code]

I would expect TryAddEnumerable to check if the singleton has a constant value, and check whether it already exists or not.

`services.Add(...)` can be used as a workaround.

[2021-05-27 01:32] jkotas commented on #45089
My default recomendation is to be reactive with adding quirks, not reactive. We can even add the quirk in servicing if we need to.

[2021-05-27 01:34] stephentoub commented on #45089
Ok.  I'll be bold ;-)

[2021-05-27 01:46] drewnoakes opened #53328 "Analyzer to enforce "Async" suffix on methods returning tasks"
It's quite common that I call out the need for an `Async` suffix on a method name during code review.

Given this is a standard convention, would a diagnostic that flagged violations make sense?

It would improve productivity by reducing feedback loops in several projects for which I review PRs.

[2021-05-27 02:12] chucklu commented on #52982
@ericstj  There is no problem with the .net  standard 2.0 of System.Diagnostics.EventLog, we are talking about the .net framework of System.Diagnostics.EventLog.
That's why I said you are demonstrating a wrong case.

Anyway, the original question is "We dont need the System.Security.Principal.windows dependency for System.Diagnostics.Eventlog for netfx. " So we should focus on the dependency of .n

[2021-05-27 02:12] VincentBu opened #53329 "JIT.Methodical tests failed with Timeout running"
Run: [runtime 20210526.87](https://dev.azure.com/dnceng/public/_build/results?buildId=1158368&view=ms.vss-test-web.build-test-results-tab&runId=34967404&resultId=100881&paneView=debug)

Failed tests:
[code]
**One of Error messages:**
[code]

[2021-05-27 02:29] VincentBu commented on #46279
Failed again in [runtime-coreclr outerloop 20210526.5](https://dev.azure.com/dnceng/public/_build/results?buildId=1157681&view=ms.vss-test-web.build-test-results-tab&runId=34957308&resultId=109755&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-05-27 03:51] dotnet-eng-status[bot] opened #53332 "Build failed: Validate-DotNet/main #runtime-91786-.NET6"
Build [#runtime-91786-.NET6](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1158560) failed

## :x: : internal / Validate-DotNet failed

### Summary
**Finished** - Thu, 27 May 2021 03:50:40 GMT
**Duration** - 282 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :warning: - [[Log]](https://dev.azure.com/dnceng/

[2021-05-27 03:57] xoofx commented on #45152
Yes, at native compile time (so runtime in the case of JIT) the value can be computed easily (it is part of the struct layout computation). So having an intrinsic like `int RuntimeHelper.GetFieldOffset(RuntimeFieldHandle)` would resolve to a constant in the IR of the compiler (if the runtime field handle is a const and coming from prior resolution with e.g `handleof`). Actually `Unsafe.OffsetOf` i

[2021-05-27 04:07] davidfowl commented on #45089
Delete the locks !

[2021-05-27 04:08] davidfowl commented on #53327
How would this work?

[2021-05-27 04:10] ericstj commented on #52982
You can’t talk about .NETFramework in isolation. Since it is compatible with .NETStandard this package must also ensure its .NETFramework behavior is compatible wit .NETStandard.

I can understand why you think the dependency might not be necessary since the .NETFramework assembly itself does not have an assembly reference to System.Security.Principal.Windows.  The dependency is needed to support

[2021-05-27 04:24] chucklu commented on #52982
@ericstj  Actually we have two folders under C:\Users\username\.nuget\packages\system.diagnostics.eventlog\5.0.1\lib
net461 and netstandard2.0, and there is a System.Diagnostics.EventLog.dll file under them.

 The dependency of net461 is

The dependency of netstandard2.0 is

We are talking about the net461 library instead of netstandard2.0 library.
You said the netstandard2.0 library depends on Sy

[2021-05-27 04:34] chucklu commented on #52982
The dependency is needed to support the case when libraries build against .NETStandard but run in a .NETFramework application.

I can not agree with this, why the dependencies will be resolved using  the .NETFramework dependency group? As you are using the .net standard library, **the dependencies should be resolved by .net standard dependency group.**
In this case you mentioned, I expect to resol

[2021-05-27 04:55] ericstj commented on #52982
Not if the application is .NETFramework (app.csproj in my sample).  Packages are resolved in the context of the project they are restored for, not the library they are referenced by.  This is how multi-targeted packages are able to provide the best asset for the application in which they run.  In fact this package and others like it rely on this behavior because the replace a .NETStandard assembly

[2021-05-27 05:35] BruceForstall commented on #53311
I see a ton of these failures:

https://dev.azure.com/dnceng/public/_build/results?buildId=1158648&view=ms.vss-test-web.build-test-results-tab&runId=34972676&resultId=113462&paneView=debug

looks like windows x86/x64.

[2021-05-27 05:36] BruceForstall commented on #53311
@danmoseley

[2021-05-27 05:42] BruceForstall opened #53335 "Test failure: Loader\\AssemblyLoadContext30Extensions\\AssemblyLoadContext30Extensions\\AssemblyLoadContext30Extensions.cmd"
Lots of gcstress failures:

https://dev.azure.com/dnceng/public/_build/results?buildId=1158649&view=ms.vss-test-web.build-test-results-tab

e.g., windows x64 gcstress0xc:

https://dev.azure.com/dnceng/public/_build/results?buildId=1158649&view=ms.vss-test-web.build-test-results-tab&runId=34974540&resultId=108820&paneView=debug

[code]

[2021-05-27 05:45] BruceForstall commented on #52829
@AaronRobinsonMSFT I see this test fail in a current GCStress0x3 run:

https://dev.azure.com/dnceng/public/_build/results?buildId=1158649&view=ms.vss-test-web.build-test-results-tab&runId=34974862&resultId=101901&paneView=debug

[code]

[2021-05-27 05:58] #51452 closed

[2021-05-27 05:58] #42591 closed

[2021-05-27 06:09] VincentBu commented on #53322
Failed again in [runtime-coreclr crossgen2 20210525.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1158176&view=ms.vss-test-web.build-test-results-tab&runId=34966888&resultId=109084&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-05-27 06:10] VincentBu commented on #53322
Historical failures of this test:

Queued | OS | Arch | Pipeline
-- | -- | -- | --
2021-05-23T19:06:29.367Z | ubuntu.1804.armarch.open | arm | [runtime-coreclr jitstress2-jitstressregs   Checked-jitstress2_jitstressregs8](https://dev.azure.com/dnceng/public/_build/results?buildId=1152196&amp;view=ms.vss-test-web.build-test-results-tab&amp;runId=34834886&amp;resultId=109741&amp;paneView=debug)
2021

[2021-05-27 06:14] sandreenko commented on #53322
@VincentBu it is great to see the history, was it hard to fetch?

[2021-05-27 06:28] chucklu commented on #52982
app references lib, a .net framework proejct references .net standard project
and lib references System.Diagnostics.EventLog, a .net standard project references a .net standard library

Since the app does not reference System.Diagnostics.EventLog directly, I suppose the .net standard library will still resolved by the lib project, which is a .net standard project. Doesn't it mean resolve the depen

[2021-05-27 06:40] ericstj commented on #52982
The .NETStandard library (and dependencies) will be resolved by the lib, the .NETFramework library (and dependencies) will be resolved app, even though it doesn't directly reference System.Diagnostics.EventLog.  Dependencies are transitive and resolved in the context of every project for that projects TFM.  NuGet flows dependencies across ProjectReferences (unless they are marked with `PrivateAsse

[2021-05-27 06:40] tmds commented on #24271
I think `IsLink` adds a certain visibility which is desired.

It may not be breaking: the same attribute is used for both:

[code]

[2021-05-27 06:44] normj commented on #52628
@karelz Yes, I recognize this is going against the RFC. Which is why I definitely don't want to change any existing behavior just add a back door for use cases that are not RFC compatible.

S3 is not forcing anybody to use ./ and ../ in their scenarios. Some customers are just choosing to have object keys with those characters in there. Since S3 considers the object key an opaque string at the ser

[2021-05-27 06:53] MuleaneEve commented on #45190
Please, also add support for the [new DateOnly and TimeOnly structs](https://github.com/dotnet/runtime/issues/49036).

[2021-05-27 06:57] Ap0k commented on #53335
@BruceForstall
There is a suspicion that at this point the GC has already deleted the assembly. I'll take a look today.

https://github.com/dotnet/runtime/blob/6e5f722a9dab49f9626ea95326ef6e74129621ca/src/tests/Loader/AssemblyLoadContext30Extensions/AssemblyLoadContext30Extensions.cs#L225

[2021-05-27 07:11] marek-safar commented on #53205
Should we use the same approach as with #53317 and not keep them all the time (e.g. ConcurrentStack sounds like rarely used for serialization) ?

[2021-05-27 07:22] YairHalberstadt commented on #29620
[code]

It seems to me that this could be achieved for free by making Rangeiterator implement [IPartition](https://source.dot.net/#System.Linq/System/Linq/IPartition.cs,7dbde8276a8c7002,references).

In general, most cases where the user knows enough to be able to make this hint accurately, could be optimized by Linq automatically.

[2021-05-27 07:23] YairHalberstadt commented on #29620
Wait, it already does: https://source.dot.net/#System.Linq/System/Linq/Range.SpeedOpt.cs,635de868c5dbb1f5

As such in the given example, there wouldn't be any benefit at all.

[2021-05-27 07:29] rahul7720 commented on #46678
@Xaeco Thanks for your contribution. I'm waiting for this fix for a long time.
I'm not sure about the process.  Is there any alternative way to publish the NuGet package or to distribute the dlls?

[2021-05-27 07:31] YairHalberstadt commented on #29620
To be clear, there's 2 cases here:

1: You know the exact size
If so then in most cases Linq will also know the exact size.
2: You can guess about what the size will be
Here the benefit is much smaller - the cost of the collecting the temporary arrays is much greater for the larger arrays than smaller ones. So if your suggested capacity is one size too small, you'll lose most of the potential bene

[2021-05-27 07:44] stonstad commented on #53195
I prefer the dynamic approach because, after deserialization, it is implementation agnostic.

[2021-05-27 07:49] chucklu commented on #52982
Hi @ericstj ,  Is there any official documentation from Microsoft about the knowledge  you mentioned?

[2021-05-27 07:53] chucklu commented on #52982
@ericstj  I am trying another test, but get confused.
Please check this https://github.com/ChuckFork/sample-code/commit/c7b19295c6839c14936eb663a38b1c3308b6c6a4
I add a new .net framework project, and reference the lib project(.net standard). After I build the solution, I got something weird.
The app4\bin\Debug folder contains System.Security.Principal.Windows.dll, but lost System.Diagnostics.Even

[2021-05-27 07:53] stonstad commented on #53195
This feature (deserialization to dynamic) was actually supposed to ship in .NET 6.0, having missed the cut-off for 5.0.

[2021-05-27 07:57] wfurt commented on #53312
Can you collect packet captures @han2291? If you can control both parts, you can try it without https to get better visibility. If the problem lives at transport or HTTP layer it should not matter that much. Alternatively, you can try to decrypt  in Wireshark.
You can also give it try with .NET 5 to see if that is some old bug already fixed in upstream.

[2021-05-27 08:39] Tornhoof commented on #1784
As linked by @layomia for the source-gen code having a Raw Write functionality could be useful to replace the ``JsonEncodedText`` members with ``ReadOnlySpan<byte>`` and preencoded utf8 member names. At the moment, Benchmarks show that ``JsonEncodedText`` is faster (10-15%) for writing known property names in json as there is a fastpath for it. For the ROS overload it needs to check the validity o

[2021-05-27 08:49] gfoidl commented on #53328
See also https://github.com/dotnet/roslyn/issues/40050

[2021-05-27 08:50] mhartkorn commented on #53274
To clarify, I'm not asking to reevaluate the decision made in #19382. I completely understand that it's very low priority and would've commented on #19382 with a short question about it if the issue wasn't closed.

I was originally about to only open an issue for the documentation but then remembered all the efforts in regards to improving performance in .NET and thought that it maybe got fixed. T

[2021-05-27 08:50] pcbl commented on #715
This is the blocker that does not allow a project I work on getting updated. I would love to have this feature on .net core at least on Windows platform, throwing on other platforms as many people on this thread suggested.

[2021-05-27 09:08] maxtyutmanov commented on #1872
Same trouble on .net core 2.2.8 in docker under linux, using microsoft/dotnet:2.2-aspnetcore-runtime as base image.
The code snippet that we use for thread pool configuration:

[code]

and this is the output I am getting:

The same code works fine when run locally on my Windows 10 machine.
I also tried setting System.Threading.ThreadPool.MinThreads in runtimeconfig.template.json, no success.
Any i

[2021-05-27 09:53] karelz commented on #20004
The remaining work was addressed in https://github.com/dotnet/aspnetcore/issues/2715 by PR https://github.com/dotnet/aspnetcore/pull/32600

[2021-05-27 09:53] #20004 closed

[2021-05-27 09:58] eiriktsarpalis commented on #53236
Closing in favor of https://github.com/dotnet/csharplang/discussions/361.

[2021-05-27 09:58] #53236 closed

[2021-05-27 10:11] vadi2 commented on #52813
Ping, anything I can do here to provide a better experience on macOS?

[2021-05-27 10:59] drewnoakes commented on #53328
Thanks. From that discussion I found https://github.com/microsoft/vs-threading/blob/main/doc/analyzers/VSTHRD200.md. It feels to me this should be considered as an in-box analyzer.

[2021-05-27 11:27] imba-tjd commented on #53195
Unrelated to this issue, is there a list of "archived component" to let us know what are not in actively developed?

[2021-05-27 12:23] iSazonov commented on #24271
Yes, for **common** cases we need the extra information but we say here about **generic** behavior. Mainly I mean enumeration and removal. (For creation we have to use extra information and do p/invokes like PowerShell does for junctions/mount points - WinCreateJunction() method in PowerShell) I don't know whether .Net API does the enumeration/removal as "correctly" as PowerShell for OneDrive, jun

[2021-05-27 12:25] radekdoulik commented on #53022
The test fails, because the memory cache is removing cached entries earlier than planned.

It happens through this path:
[code]

The cache flushes the entries, because `PhysicalMemoryMonitor` is reporting high memory pressure. It looks like the GC is reporting wrong `MemoryLoadBytes` numbers. I am going to look at how do we calculate these on `wasm` architecture.

[2021-05-27 12:47] KalleOlaviNiemitalo commented on #53195
There was apparently a list of archived components in <https://github.com/dotnet/runtime/issues/27790>, but I don't know if more components have been archived since then.

[2021-05-27 13:23] Dvergatal opened #53345 "How to create Certificate Signing Request (CSR) when using dynamic engine for openssl"
Hi all,
i have configured OpenSSL library to use my pkcs11 dynamic engine. Now i am using Pkcs11Interop library to connect to the token and generate key pair. Key pair has been generated and i see it on the token via pkcs11-tool. The problem is now that i would like to generate CSR and i really don't know how to pass my private key object from the token to the the function of X509Request.

I was t

[2021-05-27 13:25] SingleAccretion commented on #15705
For anyone who happens to stumble on this issues next: varargs are now supported, but only on Windows.

[2021-05-27 13:25] enclave-alistair opened #53346 "Introduced in v3.1.15 - PublishSingleFile binary fails to start (cannot extract bundle) when run by systemd"
### Description

As of released runtime version 3.1.15, SDK v3.1.409 and SDK v3.1.115, a 'PublishSingleFile' binary fails to start when launched by systemd.

The AppHost can no longer extract the single file bundle:

[code]

Interestingly, the binary runs just fine when launched as root using `sudo`, or run as a lower-privileged user, it's only when launched via systemd that the failure occurs.

T

[2021-05-27 13:26] enclave-alistair commented on #53346
This may be a regression of https://github.com/dotnet/runtime/issues/3846?

[2021-05-27 13:48] kouvel commented on #1872
It sounds like it might already be configured somehow. Could be through System.Threading.ThreadPool.MinThreads, can you check in <app>.runtimeconfig.json in the build output folder? It may also be overridden using an environment variable `COMPlus_ThreadPool_ForceMinWorkerThreads=0x50` using a hex value. Those settings would override the value set by `ThreadPool.SetMinThreads` despite it returning

[2021-05-27 13:53] enclave-alistair commented on #53346
So, I'm guessing the failure is because systemd does not set `$HOME`?

[2021-05-27 14:03] enclave-alistair commented on #53346
This improves the quality of the workaround we can apply. I can use the `%h` expansion supported by systemd for the running user's home directory, we can get a robust value for `DOTNET_BUNDLE_EXTRACT_BASE_DIR`.

[code]

See the `workaround` branch in the recreation repo, combined with the successful run at https://github.com/enclave-alistair/netcore31-409-singlefile-systemd/actions/runs/882403193.

[2021-05-27 14:11] KarlssonBernoulli opened #53349 "Regex.Matches is fast with match but very slow without"
### Description

The performance of RegEx.Matches differs very much in case the test string contains one match or no match.

[code]

If the reg ex pattern is changed to ```^.*Viper``` both ways are fast.

In PHP the same is always fast - with a match in the test string or without:

[code]

### Configuration

.NET Core Version 3.1
OS Windows 10 Enterprise

[2021-05-27 14:17] fanyang-mono opened #53350 "[Mono][Android][TEST] GC/Scenarios/Dynamo/dynamo/dynamo.sh failed"
Android adb log:

[code]

[2021-05-27 14:23] fanyang-mono opened #53351 "[Mono][Android] Interop/StructMarshalling/ReversePInvoke/MarshalSeqStruct/DelegatePInvoke/DelegatePInvokeTest/DelegatePInvokeTest.sh"
Android adb log

[code]

[2021-05-27 14:23] Doomblaster opened #53352 "DllImport doesn't work when running from a network share"
Originally posted https://github.com/dotnet/SqlClient/issues/1086

### Description

So as title says, I've published a standalone dotnet core (3.1.15) console application and put it on a network share and it's utilizing Microsoft.Data.SqlClient which utilizes the unmanaged dll Microsoft.Data.SqlClient.SNI.dll. I've also tried upgrading to net5.0. Basically it fails when people are trying to run it

[2021-05-27 14:25] maxtyutmanov commented on #1872
@kouvel `COMPlus_ThreadPool_ForceMinWorkerThreads=0x50` was exactly the reason, thank you!
The behavior of SetMinThreads looks non-intuitive to me though: it reported success, but did not change the settings.

[2021-05-27 14:28] fanyang-mono opened #53353 "[Mono][Android] JIT/Regression/JitBlue/DevDiv_461649/DevDiv_461649/DevDiv_461649.sh"
Android adb log:

[code]

[2021-05-27 14:30] kouvel commented on #1872
Yea looks like historical behavior, perhaps it was intended that returning true means that the values provided are valid rather than that the values were changed. Probably could fix.

[2021-05-27 14:32] vcsjones commented on #53345
Is this a class from another library?

If you can get an EVP_PKEY handle to a key, you can construct an instance of the appropriate algorithm using `RSAOpenSsl` or `ECDsaOpenSsl` from the [System.Security.Cryptography.OpenSsl][1] package. Something like:

[code]

If you need an `X509Certificate2` object, you can use `CopyWithPrivateKey` so you have an instance backed by a key from PKCS11.

[1]: ht

[2021-05-27 14:39] huoyaoyuan opened #53354 "RFC4122 compatible binary representation for GUID"
## Background and Motivation

Previous discussions: https://github.com/dotnet/runtime/issues/23868 https://github.com/dotnet/runtime/issues/29523
Currently, the `Guid` type uses "MS quirk" binary representation. It's hard to use it to communicate with RFC4122 compatible (all-BigEndian) representations.

## Proposed API

[code]

## Usage Examples

[code]

## Alternative Designs

Use a new type dupl

[2021-05-27 14:44] vcsjones commented on #53345
If you can get a `SafeEvpPKeyHandle`, you can use `CertificateRequest` to generate a request. A contrived example would look something like this:

[code]

[2021-05-27 14:45] Danielku15 opened #53355 "SingleConsumerUnboundedChannel should allow access to reader count"
### Description
The `SingleConsumerUnboundedChannel` currently does not allow accessing the item count. This is strange because if you have multiple consumers via ` UnboundedChannel` the access is possible. It feels like a bug to me that you cannot access the count if you have a single consumer but you can if you have multiple ones.

### Configuration

.net 5.0.203
Windows 10 Enterprise 2004
x64

[2021-05-27 14:46] directhex commented on #45013
The "normal" behaviour here in the dotnet world is stripped libs (.dylib, .so) go into a runtime.nupkg, and both stripped libs and the stripped symbol companion files (.dwarf, .dbg) go into a runtime.symbols.nupkg file. That's what happens with coreclr, and the native pieces like libSystem.Native.dylib. I've made https://github.com/dotnet/runtime/pull/53240 which does it to Mono too.

[2021-05-27 14:47] SimenCTan opened #53356 "System.Text.Json Deserialization not support proto type repeated"
## System.Text.Json Deserialization not support proto type repeated
### greet.proto is the file defined by protobuf
[code]
### GreeterService class  implement the  Greeter.GreeterBase
[code]
- System.Text.Json.JsonSerializer serialization object is normal, when deserializing, the value of Repeatednumbers field is empty
- Newtonsoft.Json.JsonConvert serialization and deserialization work normally

[2021-05-27 14:52] stevejgordon commented on #1784
@layomia I have started to run into this myself working on vNext of [Elasticsearch.NET](https://github.com/elastic/elasticsearch-net). Currently, we use Utf8Json and I'm replacing it with STJ.

Generally, we serialize a request directly and fully control that type. However, we have more complex cases, such as when indexing a document to Elasticsearch. In that case, we defer how the request type is

[2021-05-27 15:20] MihaZupan commented on #53349
[Source](https://gist.github.com/MihaZupan/d371ab060ab21067a443093be966cee2)
|  Method | Length | ContainsMatch |            Mean |         Error |        StdDev |
|-------- |------- |-------------- |----------------:|--------------:|--------------:|
| IsMatch |     10 |         False |      1,816.6 ns |       3.51 ns |       3.11 ns |
| IsMatch |     10 |          True |        214.2 ns |       1

[2021-05-27 15:23] mfilippov commented on #51250
@sdmaclea I see a similar random NullReferenceException in MSBuild and Roslyn, when I try to compile code on my M1 Mac Mini.

[2021-05-27 15:27] AndyAyersMS commented on #52864
Also perhaps related. Windows arm64 failure seen [here](https://dev.azure.com/dnceng/public/_build/results?buildId=1159165&view=ms.vss-test-web.build-test-results-tab)

[code]

[2021-05-27 15:29] wfurt commented on #51701
any thoughts on this @SteveSyfuhs?

[2021-05-27 15:31] ericsampson commented on #52374
- async support would be nice. Writing to console is not exactly fast currently, from what I remember.

[2021-05-27 15:33] hdv212 commented on #46678
Hi again.
I'm looking for a best way to accomplish form validation via extending my entities (via dataAnnotantions or someThing else) more than 1 year!
Please give an article or reference to do this via blazor best practice.

[2021-05-27 15:34] Pxtl commented on #52374
Standardize a Warning stream.  It's frustrating working with Powershell and Azure DevOps automation and whatnot how all of them support the same stdout and stderror outputs but they all implement their own distinct flavor of Warn and they're not compatible.

Even if the *implementation* of the warning stream on most consoles is done as "color the text orange" instead of doing smart things like war

[2021-05-27 15:36] AaronRobinsonMSFT commented on #52829
@BruceForstall That is a slightly different issue than the one presented here. I will create a new issue.

[2021-05-27 15:37] layomia commented on #44428
From @terrajobst in https://github.com/dotnet/runtime/issues/53303:

[2021-05-27 15:37] layomia commented on #53303
Yup, closing as dup of #44428.

[2021-05-27 15:37] #53303 closed

[2021-05-27 15:37] stephentoub commented on #53349
This is not a general statement, but rather specific to the pattern you're using.  PHP almost certainly is applying an auto-anchoring optimization.  Try changing your .NET regex from `@".*Viper"` to `@"^.*Viper"`, and you should see both matches and non-matches run equally and very fast.  The auto-anchoring is tracked by https://github.com/dotnet/runtime/issues/42447.  This particular example woul

[2021-05-27 15:37] #53349 closed

[2021-05-27 15:39] AaronRobinsonMSFT opened #53359 "Test failure Interop/ObjectiveC/ObjectiveCMarshalAPI/ObjectiveCMarshalAPI/ObjectiveCMarshalAPI.sh"
This test failed in a current GCStress0x3 run:

https://dev.azure.com/dnceng/public/_build/results?buildId=1158649&view=ms.vss-test-web.build-test-results-tab&runId=34974862&resultId=101901&paneView=debug

[code]

See https://github.com/dotnet/runtime/issues/52829

[2021-05-27 15:55] ViktorHofer commented on #53282
https://docs.microsoft.com/en-us/lifecycle/products/microsoft-net-framework

You are right. For .NET Framework we decided to upgrade to net461 as that's the earliest version that support .NET Standard 2.0 which is the baseline for our packages. The table above shows that only 13 packages targeted an earlier version of .NET Framework as the majority already moved to net461 or later.

Thanks for lin

[2021-05-27 15:56] georg-eckert-zeiss opened #53362 "[.NET 5] Proper DisplayName in CultureInfo "aa" missing"
### Description

`CultureInfo` for `aa` (Afar) does not contain a proper `DisplayName` nor the `NativeName`. Both fields contain only `aa`.

**Reproduce:**

[code]

**Expected Behaviour**

[code]

**Actual Behaviour**

[code]

### Configuration

* Framework: `net5.0-windows10.0.19041`
* Platform: Windows 10 20H2
* Arch: x64
* Local culture: reproducible with German and English system

### Regressi

[2021-05-27 15:57] karelz commented on #52969
@lewing @pavelsavara can you please triage this one? (set milestone + remove Untriaged label) Thanks!

[2021-05-27 15:57] karelz commented on #53018
@lewing @pavelsavara can you please triage this one? (set milestone + remove Untriaged label) Thanks!

[2021-05-27 15:58] AaronRobinsonMSFT commented on #53359
I am unable to reproduce this locally. I tried `DOTNET_GCStress=3`, `DOTNET_GCStress=C`, and `DOTNET_GCStress=F` without a success reproduction. I observed in the referenced failing pipeline the following: OSX.1100.ARM64.Open. @sdmaclea is the 1100 indicating the OS version which is troublesome? My local version is 11.4.

[2021-05-27 15:59] rolfbjarne commented on #52635
@akoeplinger it's asserting now instead of just doing nothing:

[code]

[2021-05-27 15:59] karelz commented on #53281
@pavelsavara can you please triage this one? (set milestone + remove Untriaged label) Thanks!

[2021-05-27 16:00] karelz commented on #53278
Triage: The question is answered above -- you can't use strong crypto on Win7.

[2021-05-27 16:01] MihaZupan commented on #52628
@normj could you please confirm whether other cases pointed out in https://github.com/dotnet/runtime/issues/52628#issuecomment-844801264 are also affecting you

[2021-05-27 16:07] danroth27 opened #53363 "System.AccessViolationException: Attempted to read or write protected memory."
Repro steps:

- Install .NET 6 Preview 5 (6.0.100-preview.5.21268.9)
- `dotnet dev-certs https --trust`
- `dotnet new blazorserver -o BlazorApp`
- `cd BlazorApp`
- `dotnet watch`
- Edit _Host.cshtml to add some HTML markup, and save the file

Expected result:

- Markup changes show up in the browser

Actual result:

- `dotnet watch` detects the file change, but the markup changes do not show up in

[2021-05-27 16:12] joperezr commented on #53272
@hiwjcn Can you elaborate a bit more of what will that configuration will be used for? Usually for API Proposals we have template and call out the actual proposed APIs with the usage scenarios. You can take a look at this as an example of how a proposal should look like: https://github.com/dotnet/runtime/issues/53296

[2021-05-27 16:15] joperezr commented on #53217
cc @steveharter @GrabYourPitchforks thoughts?

[2021-05-27 16:16] filipnavara commented on #52635
@rolfbjarne It's unsupported on Mac Catalyst on Apple Silicon because `pthread_jit_write_protect_np` API is marked as unsupported. That's expected and Mac Catalyst apps have to be FullAOTed.

[2021-05-27 16:20] radekdoulik commented on #53022
We use sysconf to determine available memory size in mono. We call `sysconf (_SC_AVPHYS_PAGES)` and `sysconf (_SC_PAGESIZE)` to calculate it.

On wasm, this wasn't working well before (we are ignoring errno and return value of `-1`). Now emscripten just gives up and reports both `JT_PHYS_PAGES ` and `JT_AVPHYS_PAGES `  as max heap size.

It was changed here:

https://github.com/emscripten-core/ems

[2021-05-27 16:27] grbell-ms commented on #53282
I was confused about the phrase "assets which will be unsupported when we release .NET 6 in November 2021". I interpreted that as "assets that target frameworks which will be unsupported when we release .NET 6 in November 2021". But I guess you meant "assets which will be unsupported by .NET 6 when we release in November 2021", which makes more sense.

[2021-05-27 16:28] mangod9 commented on #51250
@mfilippov yeah this is not related to publish specifically. Its an intermittent failure within the runtime.

[2021-05-27 16:30] sdmaclea commented on #53359
They tell me those machines are running macOS 11.3.  I have had similar problems reproducing issues locally even when my machine was at 11.3 (it is now 11.5 beta).  Jeff suggests using the core dumps from CI...  We don't always get those though...

[2021-05-27 16:35] SteveSyfuhs commented on #51701
There's no good answer here. In an ideal world the client already knows the SPN and doesn't glean it from the URL.

This is actually the critical bit of information here. This is done for security reasons, otherwise an attacker-controlled service can just specify an SPN other than the service you connected to, and do all manner of evil things (this protection _must_ assume no TLS).

I'm not aware

[2021-05-27 16:37] runfoapp[bot] opened #53366 "Tracking issue in runtime"
Runfo Creating Tracking Issue (data being generated)

[2021-05-27 16:42] kunalwattamwar commented on #53278
Thank you @wfurt & @vcsjones for the detailed explanation. Appreciate it.
Will work with infrastructure owner to resolve this.

[2021-05-27 16:48] Dvergatal commented on #53345
Ok but i have a new problem. I am unable to use from System.Security.Cryptography.OpenSsl.dll. I see that i have this library in my sdk /usr/share/dotnet/shared/Microsoft.NETCore.App/5.0.6/ but i am unable to use it in my project. The project TargetFramework is Net5.0 so it should work but it is not.

[2021-05-27 16:49] hez2010 commented on #52813
You need to create an application bundle on macOS manually.
See https://docs.avaloniaui.net/docs/distribution-publishing/macos

[2021-05-27 16:51] aik-jahoda commented on #53366
There is massive occurrence of failures, disabling the test. cc @Jozkee

[2021-05-27 17:06] steveisok commented on #52635
There's also the `JustInterp` mode in the AOT compiler task made for interpreter runs.

[2021-05-27 17:07] steveisok commented on #52635
Should we close this issue then?

[2021-05-27 17:08] vcsjones commented on #53345
You should be able to use it as a package reference:

[code]

The `RSAOpenSsl` class is in the `System.Security.Cryptography` namespace. There is no `System.Security.Cryptography.OpenSsl` namespace.

If you are still running in to issues, can you create a sample project that reproduces the issue and share it on GitHub as a public repository?

[2021-05-27 17:15] joperezr commented on #46182
Hey @chucklu, I took a deeper look at this and @ViktorHofer is right, these references are correct and by design so this is not actually an issue. I may be wrong but I think you haven't fully understand why we add these extra references to the packages on netfx even when netfx asset doesn't depend on it. Basically as my collegues @ericstj and @ViktorHofer have mentioned, the problem here is that b

[2021-05-27 17:15] #46182 closed

[2021-05-27 17:19] eerhardt opened #53369 "Coding Style: Using 'new()' without the type on the left-hand side"
I've seen a few usages of the new `new()` syntax cropping up on our code. In many cases, it looks great:

https://github.com/dotnet/runtime/blob/5dcc340a17e32d81dc12f644449c8b58396b2fd7/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Converters/Collection/QueueOfTConverter.cs#L13

It cuts out a lot of "cruft", in this case having to have another `QueueOfTConverter<TCollection, TE

[2021-05-27 17:21] AaronRobinsonMSFT commented on #53359
Okay. I am still unable to reproduce this after running in a loop for 100 iterations. I am trying 1000 next.

Yes, that is the case with the most recent failure - boo.

[2021-05-27 17:23] BruceForstall commented on #53359
Make sure you set the (important) variables used in the [CI](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-b2e8f5f6485c4527b7/Interop/console.58287131.log?sv=2019-07-07&se=2021-06-16T01%3A55%3A18Z&sr=c&sp=rl&sig=HSZMnLMMnqgbHSTwf9nJIlPMVBQqwUv%2FU6ORP47qx8g%3D), especially `COMPlus_TieredCompilation=0`

[2021-05-27 17:25] Dvergatal commented on #53345
Ok i have solved my problem. I was using version library 5.0.6 not 5.0.0 and also i was using namespace System.Security.Cryptography.OpenSsl instead of System.Security.Cryptography. My bad:P

Thx for help.

[2021-05-27 17:32] John0King opened #53371 "Better HttpClient"
The current HttpClient have 2 main problem:
1)  ingleton HttpClient doesn't respect DNS changes   #18348
2）`using IDisposeable`  patter cause server's port be exhaust

and `IHttpClientFactory` is a heavy library to solve those two problem,  but  It's heavy and  the source of problem is not be resolved.

and `SocketHttpClientHandler` is not available on browser platform, and  `PooledConnectionLifet

[2021-05-27 17:38] adiaaida commented on #53252
Sorry this took so long. I accidentally ran without post-build signing turned on yesterday, so I had to rerun it this morning. It looks like there were some errors in post-build signing because there are files without a certificate specified:

https://dev.azure.com/dnceng/internal/_build/results?buildId=1159890&view=logs&j=9ff0e0af-24e7-5b0f-fa76-5e12fc9920ef&t=04e39753-8cfe-5fb5-2824-43b4c4b51e3b

[2021-05-27 17:38] bartonjs commented on #24271
* "GetLinkTargetPath" had some naming concerns for being too close to "GetLinkTarget"
  * The resolution to this was to rename "GetLinkTarget" to "ResolveLinkTarget" since it resolves the target into a FileSystemInfo, and to change the GetLinkTargetPath method a LinkTarget property

[code]

[2021-05-27 17:46] bartonjs commented on #17036
Looks good as proposed.  We even discussed the casing on "charSet", and decided it's correct since it matches the existing property.

[code]

[2021-05-27 17:48] mmitche commented on #53252
Looks like `.pyd` files need to get signed. Should they get the same signature as `.py`?

[2021-05-27 17:49] mmitche commented on #53252
That's currently specified as "<FileExtensionSignInfo Include=".py" CertificateName="3PartySHA2" />"

[2021-05-27 17:49] bartonjs commented on #24698
Trusting that all of the removals are not yet implemented, or were to be new for .NET 6, the update looks good as proposed.

[code]

[2021-05-27 17:50] adiaaida commented on #53252
Also, some `.cat` files

[2021-05-27 17:53] bartonjs commented on #44094
Looks good as proposed

[code]

[2021-05-27 17:56] antonfirsov opened #53372 "Minimalistic HTTP2 flow control API"
This is a replacement (next iteration) of #49897

## Background and Motivation

Our current HTTP/2 receive window size is 64 Kb, which is too small for many scenarios. It leads to poor throughput, see #43086

We are working on a dynamic window extension algorithm, which is expected to automatically grow the receive window, resulting in good throughput for the vast majority of the users. However, t

[2021-05-27 17:56] mmitche commented on #53252
I can only assume those get the `3PurrtySHA2` cert.

[2021-05-27 17:56] bartonjs commented on #50428
Looks good as proposed.

[code]

[2021-05-27 17:58] antonfirsov commented on #53372
@geoffkizer @scalablecory let me know if you have any concerns or thoughts, we should catch the 6.0 train with this.

[2021-05-27 17:59] antonfirsov commented on #49897
Closing this in favor of #53372

[2021-05-27 17:59] #49897 closed

[2021-05-27 18:05] bartonjs commented on #50590
The existing longest constructor needs to have its default removed to follow the guidance for how to add new defaulted parameters safely.

[code]

[2021-05-27 18:08] levihb opened #53373 "Project includes do not handle soft symlinks on linux, instead copy entire linked directory"
If I have something like the following in my project file:

[code]

And then inside of fixtures I have a symlinked folder I created using `ln -s [source] [link]`. But the problem is when I build the project dotnet removes the symlink and instead just copies everything over. This doesn't work as when running in debug I need the folder to be elsewhere on the system, both because of access and becaus

[2021-05-27 18:08] bartonjs commented on #51581
Looks good as proposed

[code]

[2021-05-27 18:10] akoeplinger commented on #53252
Also `.vbs`. I'll add them to the `FileExtensionSignInfo` until we update the arcade version: https://github.com/dotnet/arcade/blob/c3e0e4070f6cd3873b775e3f4136e29f4d66cb49/src/Microsoft.DotNet.Arcade.Sdk/tools/Sign.props#L38-L43

[2021-05-27 18:10] wegylexy commented on #48686
Played around with msquic 1.6.0 openssl on Linux and Windows, and it works. Datagram API in my fork also works.

The only thing is that it always wastes time to verify the chain, even for self-signed certs without a chain, even when the validation callback is simply `(_, _, _, _) => true`.

[2021-05-27 18:14] geoffkizer commented on #864
Note, the underlying Socket APIs (SendTo, ReceiveFrom) have had Span support added, which unblocks implementing these APIs.

[2021-05-27 18:14] bartonjs commented on #52017
Looks good as proposed.  A *very* forward looking question of "what about when nint is bigger than 64 bits?" was asked, and deferred to such a hypothetical date.

[code]

[2021-05-27 18:14] Thefrank commented on #14537
Just as a heads up with preview 4 being released a few days ago...

crossbuilds of dotnet still segfault :(
native builds (using 5 RTM as seed SDK) still fail because it thinks its on linux :(

[2021-05-27 18:17] geoffkizer commented on #33417
Re UdpClient changes, the underlying support in Socket is now complete so adding them to UdpClient is unblocked.

I've reopened #864 to get API approval.

[2021-05-27 18:18] antonfirsov commented on #53371
@John0King you should take a look at LLHTTP (a prototype project), which aims to provide all the building blocks to manage your pools, and build a different high-level API:
https://github.com/dotnet/designs/blob/main/accepted/2021/flexible-http.md
https://github.com/dotnet/runtimelab/tree/feature/LLHTTP2

[2021-05-27 18:20] bartonjs commented on #52021
Looks good as proposed.

[code]

[2021-05-27 18:22] bartonjs commented on #52027
Looks good as proposed

[code]

[2021-05-27 18:30] vishweshbankwar opened #53375 "[System.Diagnostics.DiagnosticSource]. Starting version 6.0.0-preview.3.21201.4, there is a behavior change when calling activitySource.StartActivity() with Invalid W3C Id for parent."
### Description

**Previous Behavior**:

Activity is not created when starting activity by calling activitySource.StartActivity("TestActivity", ActivityKind.Client, "InvalidW3CIdParent"). This behavior is same whether Activity.ForceDefaultIdFormat is set to True or False.

**New Behavior**:

Activity is created when starting activity by calling activitySource.StartActivity("TestActivity", Activity

[2021-05-27 18:32] bartonjs commented on #864
* The CancellationToken parameters should have defaults, particularly in the ones where `byte[]` becomes `ReadOnlyMemory<byte>`
* There was some debate as to the mismatch between current Task-returning members and new ValueTask-returning members, and "all the new ones here are ValueTask" was determined to be acceptable.

[code]

[2021-05-27 18:32] VSadov commented on #53346
Right. $HOME is a POSIX standard environment variable, but I guess `systemd` is special in this regard.

[2021-05-27 18:34] stephentoub commented on #53371
Neither of these require a new class.

For "ingleton HttpClient doesn't respect DNS change", HttpClient (via SocketsHttpHandler) allows you to set a maximum lifetime on how long connections are able to be reused.  If you set that to something like a minute, then after that minute the next request will end up having to open a new connection, which will entail requerying DNS.  So it does end up resp

[2021-05-27 18:36] sec commented on #14537
Anyone familiar with build process/dotnet internals maybe could help on that - if you ask me, that should be something "small" to fix, as it's failing at the very end thinking it's linux box :/

[2021-05-27 18:37] geoffkizer commented on #43934
I do wonder if we should wait a bit here until we figure out scatter/gather APIs. If we have new and improved scatter/gather APIs, we should only add overloads for those.

[2021-05-27 18:42] bartonjs commented on #27292
* Since the original proposal, the return+out style for intrinsics has changed to named tuples `(Quotient, Remainder)` for these.
* "hi" should be "upper", "low" should be "lower"
* The canonical order in these APIs is (lower, upper), not (upper, lower).
* Added n(u)int as well
* The signedness of things is probably correct, but if not, it's an API review typo and should just be fixed as appropria

[2021-05-27 18:45] hoyosjs commented on #53042
This one is becoming a hot pretty hot issue in CI council. It doesn't affect PRs, but we have limited visibility into the CI health as this is taking down pretty 8-9 rolling builds a day. Should we back the change or disable the testing on the namespace?

[2021-05-27 18:46] bartonjs commented on #29756
The general feeling was that since the name says "Assembly" the target being Assembly-only is appropriate.  If we want a more general key-value pair bucket then we can make a more general name for a new thing.

[2021-05-27 18:46] #29756 closed

[2021-05-27 18:57] bartonjs commented on #35528
Approved as a System.Array-based overload of GetArrayDataReference.

There's an open question of what happens if the array is an array of reference types: is byte the right answer for the return type?

[code]

[2021-05-27 19:05] tannergooding commented on #35528
@jkotas, could you weigh in on the concern raised?

Specifically is `ref byte GetArrayDataReference(Array arr)` going to be problematic for reference types (say `object[,]`)? Likewise is it supporting any array and therefore needing to check SZ vs MD going to be problematic?
On the first, if so, would `ref T GetArrayDataReference<T>(Array arr)` "better" (in that it combines the get and the `Unsafe

[2021-05-27 19:09] mklement0 commented on #24271
@Jozkee

`info.GetLinkTarget() is not null` (or, now: `info.ResolveLinkTarget() is not null`) should suffice as an abstract test for whether a given item is a link, but I'm with @tmds that `info.IsLink` is (much) preferable, on the grounds of _semantic directness_: it is a direct expression of a common use case; plus, it can be implemented more efficiently.

However, if we take a step back (again,

[2021-05-27 19:09] AaronRobinsonMSFT commented on #53359
@BruceForstall Yep. I was up to 650 with no issues and then restarted to add the MiniDump variables for the sake of consistency. Still no reproduction with 200 so far.

[2021-05-27 19:10] javiercn opened #53378 "[Webassembly] Calling static methods via interop mechanisms doesn't seem to support typedarrays as arguments"
### Description

When calling .NET from JS in WebAssembly and providing a typed array as argument, the array doesn't correctly appear on the .NET side.

This works correctly when .NET calls JS and the array is provided as a return value.

[code]

[code]

If .NET calls JS and the JS function returns an UInt8Array it works correctly:

[code]

### Configuration

* Which version of .NET is the code ru

[2021-05-27 19:10] jkotas commented on #35528
I do not see a problem with it. It is super unsafe API though.

If we changed the API to return `ref T`, I think we would want to also do a type check inside the API to validate that the element type is `T`. It would make the API safer, but also slower.

[2021-05-27 19:21] #53309 closed

[2021-05-27 19:24] sandreenko commented on #52864
Ok, there are 3 pieces that need to be fixed:
1. `gtNewLclvNode` should take struct handle so we do something better then `type == varDsc->lvType` when structs are involved;
2. with 1. we can improve `(varDsc->lvType == TYP_STRUCT) && (genTypeSize(type) == varDsc->lvExactSize))` to `(varTypeIsStruct(varDsc->lvType) && (structSize == varDsc->lvExactSize))`
3. and an alternative solution is to type

[2021-05-27 19:26] tannergooding commented on #35528
Thanks!

I don't have a particular preference here but might lean towards the little additional safety. I'd think it shouldn't be problematic in practice as the cost of a type check (particularly if we are already going to check SZ vs MD) seems negligible compared to `ref arr[0, 0, 0, 0, 0]` which might have to do many many bounds checks.

It also seems like something that could be "statically" de

[2021-05-27 19:29] agocke commented on #53042
Let's move these tests to staging for now.

[2021-05-27 19:40] FrantzUml opened #53379 "The RuntimeIdentifier platform 'browser-wasm' and the PlatformTarget 'x64' must be compatible"
When A webassembly blazor is created, we got errors when targeted x64 : NETSDK1032	La plateforme de RuntimeIdentifier 'browser-wasm' et le PlatformTarget 'x64' doivent être compatibles.

[2021-05-27 19:42] jeromelaban opened #53380 "[Wasm] Should not be reached at runtime/src/mono/mono/mini/interp/interp-internals.h:324"
### Description

When running with recent builds of the runtime, the following exception happens:

[code]

Repro is yet unknown.

### Configuration

### Regression?

Yes, caused by https://github.com/dotnet/runtime/pull/52130.

### Other information

Tested with: df6e9560a47
Also fails with: a50f3098868329f415cd65ceeef478896f57d232,
Last known working: df6e9560a47, more recent builds may still wor

[2021-05-27 19:55] GrabYourPitchforks commented on #35528
Getting the address of the first element for any arbitrary array (including an MDArray) is trivial and shouldn't add measurable overhead. See https://github.com/dotnet/runtime/issues/35528#issuecomment-620290974 for more info.

It would make the API safer. However, we _do not_ perform this same check for `GetArrayDataReference<T>(T[])`. That API is explicitly documented as "you'd better ensure the

[2021-05-27 19:57] agocke commented on #52813
This seems to be a property of the Mac deployment system for GUI apps. .NET 5 doesn't ship any GUI frameworks for Mac in-box so this is a question that is better suited for the author of your GUI framework.

[2021-05-27 19:57] #52813 closed

[2021-05-27 19:59] fanyang-mono opened #53381 "[Mono][Android][test] Capture adb logs for tests running on helix"
Capture adb logs for tests running on helix, by changing the output directory to HELIX_WORKITEM_UPLOAD_ROOT

[2021-05-27 20:00] hoyosjs commented on #53042
Actually, after a bit more digging, this is also hitting Linux ARM64 runs equally hard, and those do affect PR runs. @agocke I didn't know you could move tests to staging. I thought you had to move the leg itself?

![image](https://user-images.githubusercontent.com/19413848/119889387-57872a00-beeb-11eb-8bc0-206d0bffd207.png)

[2021-05-27 20:02] agocke commented on #53042
Ugh, we need to fix that -- staging isn't very useful if we can't move over individual tests.

OK then we should skip the tests.

[2021-05-27 20:06] fanyang-mono opened #53382 "[Mono][Android][test] Use xharness custom API's to run Android tests"
Update runtime test infrastructure to use xharness custom API's `install, run-test, uninstall` to avoid repeatedly installing the same app multiple times. Those API's were introduced by https://github.com/dotnet/xharness/issues/397

[2021-05-27 20:06] janvorli commented on #53042
@hoyosjs do you have a link for the Linux failures? I've been running the failing tests in a loop tens of thousands of times in a loop and in 10 shells in parallel on arm64 windows machine since yesterday to repro it. It reproed just once so far, but since the null reference is handled by the xunit, there is no dump and so no way to see what's wrong. So I have modified runtime to fail fast on any

[2021-05-27 20:07] fanyang-mono opened #53383 "[Mono] Tracking improvements for runtime tests running on Android"
Here are the improvements:
- [ ] #53381 [Mono][Android][test] Capture adb logs for tests running on helix
- [ ] #53382 [Mono][Android][test] Use xharness custom API's to run Android tests

[2021-05-27 20:09] jkotas commented on #35528
Making the API safer will make it also less usable. You won't be able to call it unless you have the `T` available.

We actually have very similar APIs available already `Marshal.UnsafeAddrOfPinnedArrayElement(Array arr, int index)`. This API does not do any type checks, but requires pinning and does a bit extra stuff that the people writing low-level unsafe code do not appreciate. This API is fix

[2021-05-27 20:12] AaronRobinsonMSFT commented on #53359
I ran this locally on an M1 with the following environment variables with no reproduction.

[code]

Big Sur 11.4
`Darwin Kernel Version 20.5.0: Sat May  8 05:10:31 PDT 2021; root:xnu-7195.121.3~9/RELEASE_ARM64_T8101 arm64`

Please reopen if issue persists.

[2021-05-27 20:20] #49780 closed

[2021-05-27 20:22] elinor-fung commented on #53223
Thanks for the investigation, @ForNeVeR - really helpful.

Looks like the hosting layer normalizes the app path for long paths, then builds up the `.runtimeconfig.json` path using it, but then does not normalize that built-up path - hence that span of characters that you pointed out as the difference between the app path and the `.runtimeconfig.json` path.

I think this should just be a matter of

[2021-05-27 20:25] #53256 closed

[2021-05-27 20:37] tarekgh commented on #53375
@vishweshbankwar this is intentional fix we have done in .NET 6.0.

If not providing `ActivityListener.SampleUsingParentId` and providing `ActivityListener.Sample` with setting `Activity.ForceDefaultIdFormat = true` that suggest creating the Activities with `W3C` Ids and the `ActivityListener.Sample` will be the callback to decide creating the Activity object.

You have full control on the behavio

[2021-05-27 20:51] tarekgh commented on #53375
by the way the table listed here is very useful to know the expected behavior:

https://github.com/dotnet/runtime/blob/fe67c3f20e3c2f4a26e460abaa0c15b8ce3de9da/src/libraries/System.Diagnostics.DiagnosticSource/tests/ActivitySourceTests.cs#L1083

[2021-05-27 20:52] AaronRobinsonMSFT commented on #53354
@GrabYourPitchforks I think you previously had some thoughts in this area. Perspective on this proposal?

[2021-05-27 20:56] marek-safar commented on #53378
/cc @kg

[2021-05-27 21:06] fanyang-mono opened #53386 "[Mono] Mark long running/weird runtime tests with outer loop flag."
The long running/weird runtime tests are
- GC/Scenarios/LeakWheel/leakwheel/leakwheel.sh

[2021-05-27 21:14] lambdageek commented on #53066
@mikem8361 @davidwengier  I added a draft PR with a new test like David suggested - should know how it goes pretty soon:
https://github.com/dotnet/runtime/pull/53387

[2021-05-27 21:42] GrabYourPitchforks commented on #53354
IMO this direction solves the heartache I had with https://github.com/dotnet/runtime/issues/23868. It's not adding new GUID factories, so it shouldn't contribute to significant consumer confusion. It's just allowing users to control how the structure is converted to / from a binary blob.

[2021-05-27 21:47] #38730 closed

[2021-05-27 22:07] hoyosjs commented on #53042
[export (3).xlsx](https://github.com/dotnet/runtime/files/6557067/export.3.xlsx)

This file is all the failures with their queues and build links.

[2021-05-27 22:09] terrajobst commented on #52079
@JunTaoLuo no need to file a new item -- I forgot that you already file this one. I've marked it as ready for review and blocking so it shows up on [our backlog](https://apireview.net/backlog).

[2021-05-27 22:09] secdev-01 commented on #45279
Any updates or momentum on this?

[2021-05-27 22:17] stephentoub commented on #52413
By design, the implementation expects a stream's async methods to work.  The sync entrypoints are there to provide sync entrypoints to the caller, but again by design do not guarantee that all I/O will be sync all the way down to the kernel; whenever possible we do work synchronously in order to aid scalability, but there are cases where we will call async APIs on the Stream.  In today's implement

[2021-05-27 22:17] #52413 closed

[2021-05-27 22:18] stephentoub commented on #52448
Closing as dup of https://github.com/dotnet/runtime/issues/52413.

[2021-05-27 22:18] #52448 closed

[2021-05-27 22:40] JeremyKuhne commented on #48615
Updated the proposal based on offline discussions with @pgovind and @tannergooding.

[2021-05-27 23:14] layomia commented on #52279
Logging Source Generator uses GeneratedCodeAttribute on the generated code.
Logging Source Generator uses global::fully.qualified.name and no usings. Json source generator looks more like code a "normal dev" would write.

The PR https://github.com/dotnet/runtime/pull/53212 has addressed all of these, except having #nullable enable at the top of each file.

[2021-05-27 23:22] akoeplinger commented on #53252
@adiaaida I've started a validation build here but it's been going on for almost 3 hours now, so not sure if that's expected: https://dev.azure.com/dnceng/internal/_build/results?buildId=1160272&view=results

[2021-05-27 23:29] layomia opened #53393 "Support more collections in JSON source generator"
The JSON source generator currently supports only `T[]`, `List<T>` (and derived types), and `Dictionary<TKey, TValue>` (and derived types) collections. It should support all [collections supported](https://docs.microsoft.com/dotnet/standard/serialization/system-text-json-supported-collection-types?pivots=dotnet-5-0) by existing `JsonSerializer` functionality.

This is more relevant now since we do

[2021-05-27 23:35] layomia commented on #53205
+1
This idea was also captured in https://github.com/dotnet/runtime/issues/51311#issuecomment-842386665.

We should have a trim-safe way to support these types - https://github.com/dotnet/runtime/issues/53393.

[2021-05-27 23:36] ericstj commented on #52982
Here are a few resources.
https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files
https://docs.microsoft.com/en-us/nuget/consume-packages/migrate-packages-config-to-package-reference

I actually can't reproduce System.Security.Principal.Windows.dll being in the output from your sample if I build from clean.  I see no package libraries at all.  If I had to guess

[2021-05-27 23:39] mmitche commented on #53252
Not expected. It appears to be failing when signing the .py files. I am not sure whether this is a result of the certificate or the files themselves.

[2021-05-27 23:41] mmitche commented on #53252
Just received note from the ESRP folks that .py files do not support the `3PartSHA2` cert

[2021-05-28 00:14] radical opened #53394 "[wasm] Build improvements ideas"
Based on @lewing's review of https://github.com/dotnet/runtime/pull/52941

- [ ] Can runtime packs have a props file that would get imported automatically?
- [ ] Consider moving some bits of Emscripten property checks and setup to the WorkloadManifest package.
- [x] For the link step we pass `-s TOTAL_MEMORY=536870912` - should this become a property?

[2021-05-28 00:18] radical commented on #53394
@akoeplinger any idea about `Can runtime packs have a props file that would get imported automatically?`

I couldn't find anything on this, and trying it locally it didn't seem to work.

[2021-05-28 00:26] tarekgh commented on #53362
Thanks @georg-eckert-zeiss for reporting the issue.

[2021-05-28 00:45] #53381 closed

[2021-05-28 00:48] geoffkizer commented on #53371
There's an old issue about respecting DNS TTL here: https://github.com/dotnet/runtime/issues/23652

We closed that because we thought PooledConnectionLifetime was sufficient to address the scenario. But if you think we should reconsider, feel free to reactivate that issue or file a new one with an explanation of why the current solution is lacking.

[2021-05-28 01:05] carlossanlop opened #53396 "Unable to run unit tests locally: "Could not load xunit.runner.utility.netcoreapp10""
When I try to run the unit tests from _any_ csproj, I get the error I shared at the end.

Repro steps:

- Synced my runtime enlistment to the latest bits today.
- Built it using `build clr+libs+libs.pretest -rc release`.
- Tried executing unit tests using `dotnet build -c Debug /t:Test .\System.IO.FileSystem.Tests.csproj`.

My environment:

- Win10 x64
- Latest dotnet that shows up in `dotnet --li

[2021-05-28 01:06] bklooste commented on #48567
No convenience interface ?

I agree but there will be a whole round of how do we mock it  questions ?  And to the obvious answer dont , you get but how do we get 100% coverage.

[2021-05-28 01:07] carlossanlop commented on #53396
I initially thought this was a problem when attempting to run my unit tests via Visual Studio. After building my enlistment, I:

- Opened Visual Studio. I tried two ways, which were both unsuccessful: opening via the Start menu, or using `build.cmd -vs System.IO.FileSystem` which has worked sometimes in the past.
- Go to Test Explorer, select "System.IO.FileSystem.Tests (net6.0-windows)", right cl

[2021-05-28 01:10] geoffkizer commented on #33417
Yeah, UdpClient does not seem very useful in general. It's usually better to just use Socket directly.

[2021-05-28 01:16] lambdageek opened #53397 "Building libs.tests with /p:ArchiveTests=true on mac arm64 for Catalyst fails to restore with .net 6 Preview 4"
* Check out dotnet/runtime@dbc55bf1f2e
* Install .net 6 preview 4 for arm64 : `6.0.100-preview.4.21255.9 [/usr/local/share/dotnet/sdk]`
* Run `./build.sh -s mono+libs+libs.tests --os maccatalyst --arch arm64 -c Release /p:ArchiveTests=true -restore /bl`

Expected behavior:
Restore succeeds

Actual behavior:
[code]

Bin log:
[msbuild.binlog.zip](https://github.com/dotnet/runtime/files/6557534/msbui

[2021-05-28 01:25] mangod9 opened #53398 "GC Regions: AllocateLargeObject failure"
Repro steps:
1. Set `COMPLUS_GCName=clrgc.dll`
2. Run `\runtime\artifacts\tests\coreclr\windows.x64.Checked\GC\Coverage\LargeObjectAlloc>LargeObjectAlloc.cmd`
3. It leads to an infinite loop in this stack:

[code]

[2021-05-28 01:31] lambdageek commented on #53397
One possible solution is to not build the ios sample in src/libraries/tests.proj.

Maybe those samples should only be built by the `runtime-dev-innerloop` pipelines, not the libraries tests ones.

[2021-05-28 01:33] John0King commented on #53371
@stephentoub   @geoffkizer
`PooledConnectionLifetime` is only exists on `SocketsHttpHandler` ,  and it's not a common used `HttpMessageHandler` , and it do not support  "blazor webassembly" I think

[code]

in fact, we should using `HttpClientHandler` / `DelagteHandler` , and then we lost `PooledConnectionLifetime` property.

a minute sound like short , but imagine ”Azure“ have 1 minute dns proble

[2021-05-28 01:42] stephentoub commented on #53371
SocketsHttpHandler is the default handler used by HttpClient, since .NET Core 2.1.

The handler used by HttpClient under the covers in webassembly just wraps the browser's HTTP API.  It will inherit whatever DNS handling is done by the browser.

I chose a random number.  Make it as short as you like.  But DNS generally does not change that quickly.

[2021-05-28 01:42] VincentBu commented on #52843
Failed again in [runtime 20210527.100](https://dev.azure.com/dnceng/public/_build/results?buildId=1160537&view=ms.vss-test-web.build-test-results-tab&runId=35018740&resultId=100002&paneView=debug)

Failed tests:
[code]
**Error message:**
[code]

[2021-05-28 01:45] mangod9 opened #53401 "GC Regions: Crash in dlstack test"
Repro steps:

1. `Set COMPLUS_GCName=clrgc.dll`
2. Run `\runtime\artifacts\tests\coreclr\windows.x64.Checked\GC\Scenarios\DoublinkList\dlstack>dlstack.cmd  `
3. Leads to a Fatal error with this stack:

[code]

[2021-05-28 01:52] VincentBu commented on #51475
Failed again in [runtime-coreclr outerloop 20210527.3](https://dev.azure.com/dnceng/public/_build/results?buildId=1160268&view=ms.vss-test-web.build-test-results-tab&runId=35015990&resultId=105830&paneView=debug)

Failed tests:
[code]
**Error message:**
[code]
**Historical failures of this test has updated in this [comment](https://github.com/dotnet/runtime/issues/51475#issuecomment-822124846).**

[2021-05-28 01:57] takano03 opened #53402 "Guid can be created from NULL tailing string. (FormatException is not thrown)"
### Description

In .NET5 , we can crate Guid from a string which end with NULL(\u0000).
[code]
In .NET Framework 4.7.2, it thows FormatException.
[code]

### Configuration

.NET 5

https://dotnetfiddle.net/11iyHH

### Regression?

Yes. .NET Framework 4.7.2 works correct.

https://dotnetfiddle.net/enja9n

### Other information

Guid-Parser uses TryParseUInt32HexNumberStyle to convert tail 8 charac

[2021-05-28 02:00] VincentBu commented on #46419
Failed again in [runtime-coreclr jitstress 20210526.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1158911&view=ms.vss-test-web.build-test-results-tab&runId=34979782&resultId=101164&paneView=debug)

Failed tests:
[code]
**Error message:**
[code]

[2021-05-28 02:04] radical commented on #52843
this is a different error. I'm working on it.

[2021-05-28 02:08] VincentBu opened #53403 "Test failure Loader/AssemblyLoadContext30Extensions/AssemblyLoadContext30Extensions/AssemblyLoadContext30Extensions.sh"
Run: [runtime-coreclr gcstress0x3-gcstress0xc 20210526.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1158649&view=ms.vss-test-web.build-test-results-tab&runId=34974626&resultId=111109&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-05-28 02:20] John0King commented on #53371
@stephentoub

but will it fail when using `SocketHttpClientHandler` ?

and `PooledConnectionLifetime` do not exist on `DelagteHandler` and `HttpClientHandler `  ,  so this is how we just that

[code]

compare to java

[code]

[2021-05-28 02:23] VincentBu commented on #53311
Failed again in [runtime-coreclr libraries-jitstress 20210527.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1159094&view=ms.vss-test-web.build-test-results-tab&runId=34981020&resultId=107950&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-05-28 02:25] stephentoub commented on #53371
I don't know what that myDelegateHandler is... it'd be just:
[code]

[2021-05-28 02:28] #46830 closed

[2021-05-28 02:34] VincentBu opened #53404 "Test failure System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_SslProtocols_Test.GetAsync_AllowedSSLVersion_Succeeds(acceptedProtocol: Ssl3, requestOnlyThisProtocol: True)"
Run: [runtime-coreclr libraries-jitstress2-jitstressregs 20210526.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1158651&view=ms.vss-test-web.build-test-results-tab&runId=34973458&resultId=186030&paneView=debug)

Failed tests:
[code]
**Error message:**
[code]

[2021-05-28 02:34] danmoseley commented on #53311
@carlossanlop

[2021-05-28 02:34] radical opened #53405 "[wasm] Wasm.Build.Tests failing"
- Wasm.Build.Tests are failing with

[code]

[This](https://github.com/dotnet/runtime/commit/44f050acc0f7791d6cd7ac772945444912bcf299) commit might be the one responsible:

[code]

Looking at the checks on the PR #53231, `Wasm.Build.Tests` were failing.

This is a build before the PR was merged - https://dev.azure.com/dnceng/public/_build/results?buildId=1159218&view=logs&s=96ac2280-8cb4-5df5-99de

[2021-05-28 02:35] AaronRobinsonMSFT commented on #12666
This issue was originally filed when corefx and coreclr were in separate repos. There has been regular consolidation of types and movement thereof so this issue is merely cruft.

[2021-05-28 02:35] #12666 closed

[2021-05-28 02:41] trevors20 commented on #53252
Hey guys.  We need to STOP these builds NOW.  ESRP has contacted us that this is causing an issue with their signing.  Who can help me?

[2021-05-28 02:42] radical commented on #52843
@VincentBu fyi https://github.com/dotnet/runtime/issues/53405

[2021-05-28 03:22] mklement0 commented on #52908
I've hidden most of my previous comments, because I now  agree with your proposal to create _composite_ representations that combines the _link's_ name and path with the _target_'s properties, such as timestamps.

Not only that, I think it should be the invariable _default_ behavior (no need for a new constructor), which, while technically a breaking change, is justifiable, given that the current

[2021-05-28 03:29] kingcean opened #53406 "Add ValueKind property in System.Text.Json.Nodes.JsonNode class"
## Background and Motivation

`System.Text.Json.Node.JsonNode` has provided a way to `as` `JsonObject`, `JsonArray` and `JsonValue`, but has no way to get its value kind directly.

## Proposed API

[code]

## Usage Examples

[code]

## Implementation for Reference

[code]

[2021-05-28 03:40] stephentoub commented on #15088
Implemented by #52928

[2021-05-28 03:40] #15088 closed

[2021-05-28 03:40] dotnet-eng-status[bot] opened #53407 "Build failed: Validate-DotNet/main #runtime-91959-.NET6"
Build [#runtime-91959-.NET6](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1160599) failed

## :x: : internal / Validate-DotNet failed

### Summary
**Finished** - Fri, 28 May 2021 03:40:12 GMT
**Duration** - 274 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :warning: - [[Log]](https://dev.azure.com/dnceng/

[2021-05-28 03:51] mattpwhite commented on #51701
I agree that this is under-specified. The whole thing is a retcon of IE behavior that was only later turned into an RFC. In the absence of a spec stating that the port should be included, the precedent set by existing implementations should be the default behavior.

A facility to alter that default makes some amount of sense if you want to offer it. Any environment using ports in SPNs for HTTP ser

[2021-05-28 04:05] adiaaida commented on #53252
As far as I can see, there are currently no builds attempting to do this signing. So long as we do not manually start anything before we revert the changes @akoeplinger made to turn this on, there shouldn't be anything that attempts to send these files to ESRP. @mmitche @lukas-lansky

[2021-05-28 04:08] #51581 closed

[2021-05-28 04:10] hoyosjs commented on #53252
@akoeplinger @mmitche looks like js, vbs files can't be dual signed and py files can't be signed with the 3rd party cert. I've opened https://github.com/dotnet/emsdk/pull/23 while we figure this out.

[2021-05-28 05:10] radical commented on #43316
Failed again on https://github.com/dotnet/runtime/pull/53280/checks?check_run_id=2690948600, build: https://dev.azure.com/dnceng/public/_build/results?buildId=1160943&view=logs&jobId=fcbd3ad6-b1a4-55f2-40cc-7db598750d43&j=fcbd3ad6-b1a4-55f2-40cc-7db598750d43&t=0fc7de3b-e85e-5109-ff09-70d9e625d9be

[code]

[2021-05-28 05:11] dotnet-eng-status[bot] opened #53408 "Build failed: Validate-DotNet/main #runtime-91954-.NET6Preview5"
Build [#runtime-91954-.NET6Preview5](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1160600) failed

## :x: : internal / Validate-DotNet failed

### Summary
**Finished** - Fri, 28 May 2021 05:11:01 GMT
**Duration** - 365 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :warning: - [[Log]](https://dev.azure.com

[2021-05-28 05:12] #53207 closed

[2021-05-28 05:21] richlander commented on #53149
I updated the testing data above with the latest build. Everything looks great. Thanks!

@AntonLapounov @AaronRobinsonMSFT @jkotas

[2021-05-28 05:22] newbe36524 opened #53409 "Fail to install blazor AOT workload in github action"
### Description

I try to install AOT workload in github action but reported a exception

log
https://github.com/newbe36524/Amazing-Favorites/runs/2691316178?check_suite_focus=true

github action yml
https://github.com/newbe36524/Amazing-Favorites/blob/feature/cloud/.github/workflows/main.yml#L55

exception:

[code]

### Configuration

[2021-05-28 05:31] mangod9 commented on #53149
Nice.

[2021-05-28 05:39] rolfbjarne commented on #52635
Yeah, closing this.

[2021-05-28 05:39] #52635 closed

[2021-05-28 05:46] #53149 closed

[2021-05-28 06:05] iSazonov commented on #24271
@mklement0 It is `ref struct` :-(

[2021-05-28 06:10] tmds commented on #24271
Why do `CreateAsSymbolicLink` return something? I don't expect it to be common to perform more operations once the link is created.

[2021-05-28 06:41] iSazonov commented on #24271
Although the hybrid/composite approach may look attractive, it seem is a breaking change and it would be a completely unacceptable. From a practical point of view it is better to have an API that does exactly what is expected and I wouldn't want to confuse the behavior even more.
If we want to process exactly links, it is better to have a separate API for that - IO.SymbolicLink(Info) class in addi

[2021-05-28 06:44] VBAndCs commented on #53169
@CyrusNajmabadi
I am not using any thing. I just translated C# code, which contains many lambdas, some of them returns another lambdas, and I don't know exactly which of these could be an expression tree. Sp I asked the experts just to eliminate this possibility.

[2021-05-28 06:57] ViktorHofer opened #53411 "Infrastructure - Rollout (June 2021)"
# Overview

We use this issue to announce planned Infrastructure changes that will impact the developer workflow in `dotnet/runtime`. Changes will be merged on the **first Monday of the month (6/7)**.

| Change |  Impact | Assignee |
| --- | --- | --- |
| https://github.com/dotnet/runtime/pull/53808 | Update the minimum and target version of the SDK to 6.0 Preview 4. | @ViktorHofer |

## Archive
-

[2021-05-28 07:49] gfoidl commented on #50428
I'd like to add these overloads.

[2021-05-28 08:08] #53405 closed

[2021-05-28 08:21] Dvergatal commented on #53345
Btw. is there some mechanism ported to determine the mechanism of the SafeEvpPKeyHandle? Because in OpenSSL there is this EVP_PKEY_type field from which i can determine the correct key structure.

[2021-05-28 08:28] adamsitnik commented on #53405
@radical please excuse me for that. I've merged a fix in #53410

[2021-05-28 09:01] Xaeco commented on #46678
Hi. At the moment its in the DotNet 6.x preview codebase. Hopefully it gets approved soon. Meanwhile I'll look into the process to backport it to DotNet 5.0 if that's at all possible.

Currently I am testing my fix locally by incorporating the updated DotNet classes (with a few references changed) into my Blazor project and using a custom validator. The custom validator is required because Blazor'

[2021-05-28 09:13] Timovzl opened #53416 "Recommended way to find content root path"
I have been looking for some documentation on a way to find the content root path that works _reliably_: in production, from test runners, when running locally from VS, and so on.

By the content root path, I mean the place where we can find files marked with `CopyToOutputDirectory`. The path should be the directory where the binaries can find their top-level files marked with `CopyToOutputDirecto

[2021-05-28 09:15] ViktorHofer commented on #53396
I just validated this scenario and didn't encounter any issues. After building the repo initially via `build.cmd clr+libs -rc Release` I validated the different supported workloads:

- VS Test Explorer after a `build.cmd -vs System.IO.FileSystem`
![image](https://user-images.githubusercontent.com/7412651/119960772-9d082d80-bfa5-11eb-924b-8f7abc0bb919.png)
- dotnet build /t:Test
[code]
- dotnet tes

[2021-05-28 09:26] touzas commented on #51274
I installed a new version of a .NET Framework (**6.0.100-preview.4.21255.9**), and remove a line
`Java.Lang.JavaSystem.LoadLibrary("System.Security.Cryptography.Native.OpenSsl"); `
Because this line produce runtime error

And now the project crasched with this message error:

[monodroid] MonodroidRuntime::monodroid_dlopen ("libSystem.Security.Cryptography.Native.OpenSsl", 0x2, 0x0, 0x0)
[monodroid

[2021-05-28 09:31] kg commented on #51041
We're in the process of adding some changes to make this problem less disruptive, but ultimately browser vendors do not want designs like this to work in web pages because things like banner ads use them to bog down your PC.

Design changes to your application can mitigate this but may involve increases to network traffic (browsers currently suppress some of these timer behaviors if you're activel

[2021-05-28 09:31] Sundow commented on #50590
Ok, I created #53417 with the approved change. It also takes into account the note of @bartonjs about default parameters.

[2021-05-28 09:39] JiahongJin1 opened #53451 "StreamPipeReader.ReadAsync() throws a NullReferenceException when CancelPendingRead() is called during a zero-byte read"
Affected Mac:
Mac OS: Big Sur(11.4)
.NET 6 SDK: 6.0.100-preview.5.21277.7(runtime 6.0.0-preview.5.21276.11)

Repro steps:
1. Download and install 6.0.100-preview.5.21277.exe from [Pipelines - Run Creating-release-for-build-91923 artifacts (azure.com)](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdev.azure.com%2Fdnceng%2Finternal%2F_build%2Fresults%3FbuildId%3D1159998%26view%3D

[2021-05-28 09:45] JesperTreetop opened #53418 "Port of dotnet/coreclr patch #20932 to 2.1 LTS"
.NET Core 2.1 is currently in LTS where it will receive patches. We are running into the issue [from dotnet/runtime #11440](https://github.com/dotnet/runtime/issues/11440), which was subsequently fixed in [the dotnet/coreclr #20932 pull request](https://github.com/dotnet/coreclr/pull/20932).

Since this fix [does not appear to be incorporated](https://github.com/dotnet/coreclr/blob/936df21f6cf26c2

[2021-05-28 09:50] lbargaoanu opened #53431 "[wasm] AOT build doesn't handle satellite assemblies correctly"
I'm trying to AOT compile a [project](https://github.com/lbargaoanu/RoslynInBlazor/blob/master/RoslynInBlazor/RoslynInBlazor.csproj) that references Roslyn.
It says it cannot find some assemblies. I'm guessing it should find them by itself. But I can help with [that](https://github.com/lbargaoanu/RoslynInBlazor/blob/744e6dc846ff2b4f67390219ca530ddd475f1362/RoslynInBlazor/RoslynInBlazor.csproj#L12)

[2021-05-28 09:54] vitek-karas commented on #53223
Re  dotnet/aspnetcore#27469 connection - that is potentially possible - assuming the system uses symlinks to redirect to a much longer path location.

[2021-05-28 10:21] steveisok commented on #51274
@touzas use .Android instead of .Openssl.  We changed the name of the library.

[2021-05-28 10:22] ViktorHofer commented on #33148
Still failing for me locally.

cc @carlossanlop @adamsitnik

[2021-05-28 10:43] radekdoulik commented on #53022
Yes. I am going to use the `ActiveIssue` here and also for the filesystem failures. That should make the bump PR complete.

[2021-05-28 10:47] CarnaViire commented on #53273
Closing as answered above

[2021-05-28 10:47] #53273 closed

[2021-05-28 10:57] ViktorHofer opened #53420 "Compiler crashes when failing to release Mutex"
[code]

Build: https://dev.azure.com/dnceng/public/_build/results?buildId=1161146&view=logs&j=1a1e7658-955a-5bfe-8410-74fa4a1a1fbf&t=9528cbd6-a8dd-5006-9c48-38938c12a3af

Configuration: `CoreCLR Product Build Linux arm64 release`

cc @jkotas @jaredpar @stephentoub

Runfo Tracking Issue: [Compiler crashes when failing to release Mutex](https://runfo.azurewebsites.net/tracking/issue/134)
|Definition

[2021-05-28 11:00] ViktorHofer opened #53421 "Download CoreCLR product download for Mono failed in CI"
[code]

cc @naricc @akoeplinger @steveisok

[2021-05-28 11:15] ViktorHofer opened #53422 "Consider removing the System.Memory dependency from TestUtilities on .NETFramework"
Currently VS fails to transitively build the System.Runtime.CompilerServices.Unsafe.ilproj reference in TestUtilities.csproj when a test project is built. This is likely connected to the reference pointing to a non standard C# project (ilproj).

As a mitigation and to speed up the build on .NET Framework test projects we should consider removing the System.Memory dependency for the net461 build of

[2021-05-28 12:13] touzas commented on #51274
Sorry @steveisok, but i dont understand.
The OpenSSL library  not in the latest version of dotnet Framework?
I dont include a native library by code, only copy/paste a code on mentioned microsoft page and build test application but this crashed.

Thanks in advance

[2021-05-28 12:21] jadavis42 commented on #51041
Hi kg, I understand that it's not possible to control what all browser vendors are doing, but Microsoft is making a big push for developers to adopt their Blazor technology platform.  If ultimately Blazor apps cannot run reliably in mainstream browsers, I'm not understanding how they expect Blazor to be successful.  It also puts developers (like me) in a terrible bind having convinced my organizat

[2021-05-28 12:52] akoeplinger commented on #53252
Merged https://github.com/dotnet/emsdk/pull/23 so we shouldn't be hitting this issue now.

[2021-05-28 13:08] WayneHiller commented on #51041
@kg Not fixing the issue (finding a workaround) is not really an option. The issue renders using SignalR in Blazor almost useless. The issue has been fixed in the JS client so there has to be a way to do it in the .Net client as well.

@jadavis42  Blazor Wasm does not have the issue itself but I use the SignalR client for a number of scenarios.

[2021-05-28 13:19] wegylexy commented on #43641
I wish SignalR can take advantage of reliable streams and unreliable datagrams of WebTransport.

[2021-05-28 13:36] steveisok opened #53427 "[Workload] iOSSimulator condition will not import iOSSimulator AOT pack"
In https://github.com/dotnet/runtime/blob/cb1f5ad3351205f70721b7a5b5fe54a06716a056/src/mono/nuget/Microsoft.NET.Workload.Mono.Toolchain.Manifest/WorkloadManifest.targets#L31, the TPI will always be iOS.  We need to come up with another condition in order to make AOT on the simulator pack load.

Since AOT on the simulator is not something Xamarin iOS does, we can fix this later.

/cc @rolfbjarne @a

[2021-05-28 13:45] vangarp commented on #49804
@josalem have you had a chance to look into this? Unless we have a workaround for this, we can't really consume the runtime metrics without running into #43985

[2021-05-28 13:48] jadavis42 commented on #51041
@WayneHiller thanks for clarifying your point regarding Wasm.

[2021-05-28 13:56] mark-raymond commented on #44535
I am hitting this error as well. This one-line program:

[code]

successfully loads the certificate on Windows, but on Linux (specifically, `dotnet/sdk:5.0-focal` running in WSL2) I get the exception this issue is about. I have made a minimal reproduction here: https://github.com/mark-raymond/dotnet-runtime-issue44535 using a throwaway cert+key.

Note: In general, I will not be in control of the c

[2021-05-28 14:27] vcsjones commented on #53345
@Dvergatal can you share the code you had to produce this error, or did you use my example code verbatim?

[2021-05-28 14:39] adiaaida commented on #53252
The validation pipeline only runs on repos that have been onboarded. It does not run on emsdk by default, as it has not been onboarded, only on manual runs. I have reenabled it.

[2021-05-28 14:40] tannergooding commented on #36469
@MichalPetryka, are you still working on this?

If so, it would be great to get a PR up so we can get this into .NET 6. And if not, please let me know and I can pick it up and finish it out (even using your existing changes/commits if that's alright with you)

[2021-05-28 14:41] eerhardt commented on #46678
Until the change is merged into `main`, my recommendation would be to pull the change locally and build the file locally.

[2021-05-28 14:41] akoeplinger commented on #53252
@adiaaida can we try running build 92037 through the validation pipeline? It has the signing fixes.

[2021-05-28 14:42] tannergooding commented on #35626
@zlatanov, are you still working on this? If so, do you have an ETA on about how much work is left?

We are getting closer to when we'll need to start locking down on what can make it into .NET 6 and this is one I'd like to finish pushing through if possible 😄

[2021-05-28 14:43] akoeplinger commented on #53421
@ViktorHofer do you have an example build log? no idea why this would fail.

[2021-05-28 14:48] adiaaida commented on #53252
Yes, let’s do

[2021-05-28 14:52] zlatanov commented on #35626
@tannergooding yes, but I didn't have much time the last couple of weeks. I've written the software implementation and started looking around how to add the JIT related (c++) code. I found that probably the implementation should be added here `simdashwintrinsiclistxarch.h` and `simdashwintrinsiclistarm64.h` and have something like:

[code]

and a switch handling inside `impSimdAsHWIntrinsicSpecial

[2021-05-28 14:54] Dvergatal commented on #53345
Yeah i can give you the code of my [DynamicEngine assembly](https://github.com/Dvergatal/OpenSsl.DynamicEngine). The usage is like that:

[code]

But in order to work you need to have an initialized pkcs11 token with key pair generated. In my case i'm using physical tpm token with tpm2-pkcs11 module. Btw. i assume you know how to initialize token and generate all the data on it, but if you need he

[2021-05-28 15:09] #51221 closed

[2021-05-28 15:09] runfoapp[bot] opened #53428 "The type initializer for 'Wasm.Build.Tests.BuildTestBase' threw an exception."
Runfo Tracking Issue: [The type initializer for 'Wasm.Build.Tests.BuildTestBase' threw an exception.](https://runfo.azurewebsites.net/tracking/issue/129)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Results|Run Client|
|---|---|---|---|---|---|---|---|
|[1159755](https://dev.azure.com/dnceng/public/_build/results?buildId=1159755)|[runtime](https://dnceng.visualstudio.com/public/_build?de

[2021-05-28 15:14] aik-jahoda commented on #53428
Started failed recently. cc: @radekdoulik, @radical, @pavelsavara, @fanyang-mono
Could it be caused by following commit?:
https://github.com/dotnet/runtime/commit/dbc55bf1f2ea4bfe12375003c86caae57c8e10a0

related: https://github.com/dotnet/runtime/issues/52843

[2021-05-28 15:22] fanyang-mono commented on #53428
https://github.com/dotnet/runtime/commit/dbc55bf1f2ea4bfe12375003c86caae57c8e10a0 only affects runtime tests running on Android. It doesn't affect WASM at all.

[2021-05-28 15:31] pavelsavara commented on #53428
Ankit opened this yesterday https://github.com/dotnet/runtime/issues/53405 which seems fixed now

[2021-05-28 15:34] MichalPetryka commented on #36469
Sorry, I've had some trouble running the tests (wasn't able to start them at all, even without any changes) and then I got sick and forgot about this. I'll get back to this tommorow.

[2021-05-28 15:44] vitek-karas commented on #53403
Duplicate of https://github.com/dotnet/runtime/issues/53335.

[2021-05-28 15:44] #53403 closed

[2021-05-28 15:48] ericstj commented on #53420
Doesn't appear to be, this is all we have in the binlog https://artprodcus3.artifacts.visualstudio.com/Ab55de4ed-4b5a-4215-a8e4-0a0a5f71e7d8/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_apis/artifact/cGlwZWxpbmVhcnRpZmFjdDovL2RuY2VuZy9wcm9qZWN0SWQvOWVlNmQ0NzgtZDI4OC00N2Y3LWFhY2MtZjZlNmQwODJhZTZkL2J1aWxkSWQvMTE2MTE0Ni9hcnRpZmFjdE5hbWUvQnVpbGRMb2dzX0NvcmVDTFJfTGludXhfYXJtNjRfcmVsZWFzZQ2/content?format=file

[2021-05-28 15:49] lateapexearlyspeed commented on #864
Hi, I would like to try this and already working on it now.

[2021-05-28 15:51] akoeplinger commented on #53252
Ok, I triggered https://dev.azure.com/dnceng/internal/_build/results?buildId=1161830&view=results

[2021-05-28 15:55] ericstj commented on #53421
Based on his comments I imagine it's https://dev.azure.com/dnceng/public/_build/results?buildId=1161146&view=logs&j=ecfd4eca-a79d-5010-5cc7-224332d2af8a&t=236bfeb8-30a9-5be2-64ba-6046b281294b

Perhaps this is due to the other CoreCLR build leg failing? Tracked in https://github.com/dotnet/runtime/issues/53420

That'd still be a problem here since we shouldn't sequence builds if their dependent bui

[2021-05-28 16:01] dmrayt opened #53430 "SerialPort.BytesToWrite return a wrong value on linux"
### Description

The property SerialPort.BytesToWrite doesn't work on Linux, it's return the same value as SerialPort.BytesToRead.

### Configuration

.NET 5.05
Embedded Linux kernel 5.4.77 ARM64

### Regression?

The code is working on Windows, I never tested it on Linux before.

### Other information

The error come from a wrong parameter passed from SerialStream.Unix.cs to pal_termios.cs.
In Se

[2021-05-28 16:01] KevinCathcart commented on #24271
So on .NET 5, reading the times from a link give you the times on the link itself, but when you set them, they send up setting the targets? Yikes!

It would be ideal to be (effectively) all hybrid behavior or none at all. (By "effectively" I mean: with the caveats like Delete affecting the link itself, which would be the expected behavior in a hardlink scenario, ignoring that most platforms disall

[2021-05-28 16:03] pranavkm commented on #53431
FYI @radical / @lewing

[2021-05-28 16:04] jonpryor commented on #49073
The Xamarin.Android team re-encountered this issue, or a variation on it, in: https://github.com/xamarin/xamarin-android/pull/5954

Our "workaround" was to effectively *revert* @eerhardt 's change in xamarin/xamarin-android@9ac280c75d507eb21faef9fc74a3259ccb87cbf9, and instead leave `$(InvariantGlobalization)` as "unset" (empty string) *unless* it has the value `true`:

[code]

The crash we saw @e