[2020-02-20 06:09] JeremyKuhne commented on #32376
I don't know how you would make that happen from the `FileSystemWatcher` side of things. [`FlushFileBuffers`](https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-flushfilebuffers) is the only pubic API I know of and you have to have a handle to the file you want to flush or the volume handle and admin access.

It would be worth checking what impact setting `FileOptions.WriteThrou

[2020-02-20 07:26] etghanibahman commented on #31795
There are some kind of serializations that do not exist in system.text.json by default. you should add them manually , and for this there are two patterns : the basic pattern and the factory pattern
There are two patterns for creating a custom converter: the basic pattern and the factory pattern.
The one that you need is a basic pattern for Dataset. The following works well for me, I hope it helps

[2020-02-20 07:50] marek-safar commented on #32117
The existing internal APIs are not something we would like to add to netcore but starting point for hopefully publicly exposable better version. Right now this API is internal, accessible via reflection only, specific to Mono, etc all this should be avoided in net5.

@jkotas who should lead the design work for net5?

[2020-02-20 08:16] ahsonkhan commented on #609
Re-opening until https://github.com/dotnet/runtime/pull/32587 is done.

[2020-02-20 08:20] jkotas commented on #32117
These internal APIs are only needed for VS Mac. Is that correct?

If it is the case, this falls into embedding APIs required to support VS Mac theme. This theme was de-prioritized for .NET 5, so I do not think we are going to spend cycles on designing public APIs and harmonizing this between CoreCLR and Mono in .NET 5.

If we need to start experimenting with VS Mac on .NET 5 Mono, we can keep usin

[2020-02-20 08:33] MyBisnisMedia opened #32588 "- [m]"
- [m]

_Originally posted by @MyBisnisMedia in https://github.com/dotnet/runtime/pull/32149#issuecomment-588428617_

[2020-02-20 08:47] Ruudiiii opened #32623 "dotnet quit unexpectedly on macos"
I get this error when running debug mode in Rider. Anyone seen something similar?

Process:               dotnet [66164]
Path:                  /usr/local/share/dotnet/dotnet
Identifier:            dotnet
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        ??? [66159]
Responsible:           rider [33638]
User ID:               115062677

Date/Time:             20

[2020-02-20 09:03] GrabYourPitchforks commented on #27062
If we approve this API we'd also need to approve `Unsafe.IsNullRef` at the same time.

[2020-02-20 09:03] #32588 closed

[2020-02-20 09:09] am11 commented on #32575
fwiw, dotnet-cli uses this property for `dotnet --info`, which I think does not rely on the app manifest: https://github.com/dotnet/runtime/blob/cf43585e854f78bdec51323875369778055fc249/src/installer/managed/Microsoft.DotNet.PlatformAbstractions/RuntimeEnvironment.cs#L16

[2020-02-20 09:10] GrabYourPitchforks commented on #27062
@benaadams What's the expected behavior when the key is not found? Return a null ref, throw an exception, insert default(T) into the collection, or something else? Would a caller need to distinguish between "not found" and "I just created a dummy placeholder for you" scenarios?

[2020-02-20 10:01] menua-web opened #32590 "Dictionary serialization issue ASP.NET Core 3.1"
Asp.Net Core 3.1  throw  NotSupportedException exception then we call a API which returns Dictionary
whose key type is enum. For example Dictionary<EntityTypeEnum, object>.

enum EntityTypeEnum {
    Item1 = 1
}
Isn't this feature supported by ASP.NET Core 3.1 or serialization's configuration issue?

[2020-02-20 12:42] y-yamshchikov opened #32593 "GC threads assert due to CPU Governor"
We have variable CPU count on at least [armel Tizen] so this code
https://github.com/dotnet/runtime/blob/052f07a60ed1914c6f80e04dd5579bdfec6bfe19/src/coreclr/src/vm/gcenv.os.cpp#L118-L124
is logically broken: CPU count can variate since setting the thread affinity till fetching it via PAL_GetLogicalCpuCountFromOS.

Are there further assumptions based on this assertion?

@jkotas @alpencolt @gbalyko

[2020-02-20 13:13] hanastasov opened #32594 "WebUtility.UrlDecode works differently compared to HttpUtility.UrlDecode"
I expected [WebUtility.UrlDecode](https://docs.microsoft.com/en-us/dotnet/api/system.net.webutility.urldecode?view=netframework-4.8) and [HttpUtility.UrlDecode](https://docs.microsoft.com/en-us/dotnet/api/system.web.httputility.urldecode?view=netframework-4.8) to work exactly the same, at least this is what the documentation says.

Seems like HttpUtility.UrlDecode will be able to decode both `"%uF

[2020-02-20 13:24] symphony2014 opened #32596 "Cannot debug Coreclr on windows 0x00007FFE53E9A839"
When I follow the [debugging doc](https://github.com/dotnet/runtime/blob/master/docs/workflow/debugging/coreclr/debugging.md), and start debug from Visual Studio ,bellow error was threw:
`Unhandled exception at 0x00007FFE53E9A839 (KernelBase.dll) in CoreRun.exe: 0xE0434352 (parameters: 0xFFFFFFFF80131018, 0x0000000000000000, 0x0000000000000000, 0x0000000000000000, 0x00007FFDD2170000).`
![image](ht

[2020-02-20 13:35] symphony2014 commented on #32596
I just found this version coreclr.dll  cannot found sourceMap.
![image](https://user-images.githubusercontent.com/6380601/74938392-e2e05880-5428-11ea-84db-9dc6ff01d207.png)
![image](https://user-images.githubusercontent.com/6380601/74938409-e96ed000-5428-11ea-9a67-3922726a2821.png)

[2020-02-20 13:47] vcsjones commented on #32558
@bartonjs X500NameEncoder.ManagedDecode is throwing because it is validating that the SetOf is DER sorted, which for the subject of this certificate's subject, it is not.

Changing `x500NameSequenceReader.ReadSetOf()` to `rdnReaders.Add(x500NameSequenceReader.ReadSetOf(skipSortOrderValidation: true))` in the managed `X500DistinguishedNameDecode` "fixes" it.

[2020-02-20 13:56] EgorBo commented on #32596
@symphony2014 can you paste here what you use for `Command Arguments`
the doc says `(e.g. HelloWorld.exe)` but actually it needs `HelloWorld.dll`...

[2020-02-20 14:34] Tragetaschen opened #32600 "What is the recommended File IO API usage pattern with regards to ext4 delayed allocations?"
I have an embedded Linux platform with some flash storage where the file system is ext4 with defaut mount options. I'm running an ASP.NET Core web server with server-side Blazor and this per default stores encryption keys as XML file in the home directory. Recently, I got a system where that XML file had zero length and my application crashed when establishing the Blazor connection.

For reference

[2020-02-20 14:46] jkotas commented on #32593
The GC and number of other parts of the runtime and libraries assume that processor count is a constant for the duration of the process. This number is primarily used for performance auto-tuning. If this number is different than the number of processors that the process can run on at any given point, the system should still function correctly, but potentially with lower performance.

I agree that

[2020-02-20 14:54] thargol1 commented on #32418
@aaronfranke in general this is called 32-bit color, so would the name `Color32` not be a better name? This would be similar to `Int32`.

[2020-02-20 15:10] bartonjs commented on #32558
Sigh.  Sometimes I wonder if standards exist only so that people can _not_ follow them.

If Windows already processes things without validating sort order, I guess we can, too.

[2020-02-20 15:10] Gnbrkm41 commented on #32546
Can you actually build Linux binaries on Windows? None of the documents mention it being possible, and the only case I know of building for a different OS/arch is building for Windows on ARM from Windows x86/64. (https://github.com/dotnet/runtime/blob/master/docs/workflow/building/coreclr/cross-building.md).

[2020-02-20 15:10] jkotas commented on #32575
Microsoft.DotNet.PlatformAbstractions package is obsolete.

P/Invoking `Ntdll.RtlGetVersionEx` is your best bet.

[2020-02-20 15:13] jkotas commented on #32575
This is considered to be a feature. It is not necessary something you want to "fix".

[2020-02-20 15:17] vcsjones commented on #32558
@bartonjs I'll take it.

[2020-02-20 15:17] karelz commented on #1218
@antonfirsov did you get chance to dig into this one yet?

[2020-02-20 15:25] am11 commented on #32575
will its sources be removed and dotnet-cli switch to p/invoke?

[2020-02-20 15:30] karelz commented on #917
@MihaZupan did you try to reproduce it yourself? If yes and you couldn't, let's close it ...

[2020-02-20 15:32] #917 closed

[2020-02-20 15:32] TimHess commented on #32558
Thanks for the quick response - this isn't exactly my area of expertise, could you point me at the standard in question so that I can relay it to the team/project that is responsible for creating these certificates so that they might fix the issue on their end as well?

[2020-02-20 15:42] Tratcher commented on #32575
This version check is to see if the OS has the right TLS 1.3 support. Http3 will have other opt-in guards to maintain compat. Once a developer opts in, false negatives from this version check are are an unnecessary hurdle and support burden.

[2020-02-20 15:52] karelz commented on #1074
Triage: Should be fairly straightforward to check for.

[2020-02-20 15:53] MBurtsev commented on #32546
In [docs](https://github.com/dotnet/runtime/tree/master/docs/workflow/building/libraries)
`-os identifies the OS for the build. It defaults to the OS you are running on but possible values include Windows_NT, Unix, Linux, or OSX. (msbuild property OSGroup)`
default and not default )

[2020-02-20 15:57] Gnbrkm41 commented on #32546
I agree with that. Either the docs / behaviour should be updated to do the right thing.

[2020-02-20 15:59] davidsh commented on #32594
@GrabYourPitchforks

[2020-02-20 16:01] carlossanlop commented on #32577
@ThomasGoulet73 to avoid mixing issues, can you please open a new issue to address this request separately?:

[2020-02-20 16:03] stephentoub commented on #32577
There's already an issue for that:
https://github.com/dotnet/runtime/issues/1541

Given that's covered and the question here has been addressed, I think we can close this.

Thanks.

[2020-02-20 16:03] #32577 closed

[2020-02-20 16:11] bartonjs commented on #32558
@TimHess X.509 certificates are defined to use DER encoding.

Within the rules for DER encoding, ITU-T REC X.690 (2015/08):

The encodings of the component values of a set-of value shall appear in ascending order, the encodings being compared as octet strings with the shorter components being padded at their trailing end with 0-octets.  NOTE – The padding octets are for comparison purposes only an

[2020-02-20 16:18] stephentoub commented on #6723
This design discussion reached conclusion over three years ago.  Thanks.  Closing.

[2020-02-20 16:18] #6723 closed

[2020-02-20 16:19] stephentoub commented on #6693
This design discussion is old and hasn't progressed in three years.  Thanks. Closing.

[2020-02-20 16:19] #6693 closed

[2020-02-20 16:20] stephentoub commented on #6588
Closing as non-actionable.

[2020-02-20 16:20] #6588 closed

[2020-02-20 16:21] stephentoub commented on #6560
This design discussion is over three years old.  @jamesqo, you're of course welcome to prototype your suggestion and come back with data, but we don't need the issue open tracking such experiments.

[2020-02-20 16:21] #6560 closed

[2020-02-20 16:25] stephentoub commented on #4402
This issue hasn't progressed in four years.  And lots of exception message-related changes have been made in the interim.  @danmosemsft, is there anything left to do here?

[2020-02-20 16:30] kevin-montrose commented on #414
Missed this ping, sorry for the delay in response.

I was running on .NET Core 3.0, though the issue seems to reproduce on 2.2, 2.1, and 3.1.  The methods I used on Encoder don't exist in early .NET Core (they're Span-y).

[2020-02-20 16:31] GrabYourPitchforks commented on #32594
Please don't use %u escaping. I actually tried to remove support for it from .NET 4.5 as a defense-in-depth measure but the change was rejected due to compatibility concerns. It's a legacy format that was never formally approved by any standards body. I don't see us enlightening further components to understand that syntax.

[2020-02-20 16:33] stephentoub commented on #260
Closing as discussed.  We can re-evaluate as we get more experience with what goes right and wrong in the repo.  Thanks!

[2020-02-20 16:33] #260 closed

[2020-02-20 16:35] ViktorHofer commented on #32544
FWIW I believe that VS Test Explorer will stop defaulting to x86 in a future update and just pick the machine architecture.

Yes that sounds like a good plan. We should move the vs switch information into there and remove the other wrongly moved document "testing-vs.md".

Thanks a lot for helping

[2020-02-20 16:37] karelz commented on #932
Triage: @antonfirsov please reconcile it with our DuplicateAndClose plans for Linux (related to #1760).

[2020-02-20 16:39] dagood commented on #32550
This looks like it might be related to this activity:
* https://github.com/dotnet/core/pull/4289
* https://github.com/dotnet/core/pull/4291
* https://github.com/dotnet/core/pull/4292

@leecow @rbhanda @vivmishra can you please confirm?

It's hard to tell what's going on without PR descriptions. 😕

/cc @NikolaMilosavljevic

[2020-02-20 16:42] karelz commented on #1608
Triage: We already have `BeginDisconnect`, so adding `DisconnectAsync` makes sense. Low pri.

[2020-02-20 16:45] carlossanlop commented on #32376
@aggieben going back to the first comment by @JeremyKuhne:

DisableLastAccess = 3  (System Managed, Enabled)`_

I see you're doing the correct thing by adding the notify filter in your code:

But you also said:

You _do_ care about it. `LastAccess` will not work as long as you don't execute the fsutil command to enable monitoring that field on Windows.

[2020-02-20 16:51] karelz commented on #2130
Triage: Thanks for your report. We are aware of Linux vs. Windows perf differences and we have bunch of effort lined up in upcoming months to address that (e.g. io_uring exploration, etc.)
As this issue is not simply actionable (lots of custom code which may have its own perf bottlenecks), we recommend to close this issue for now. We will track perf micro-benchmarks instead. Once we are competitiv

[2020-02-20 16:51] #2130 closed

[2020-02-20 16:52] kevin-montrose commented on #414
I also confirmed this behavior still happens in .NET Core 3.0 if you use the pointer methods instead of the Span ones.

[2020-02-20 16:53] leecow commented on #32550
dotnet/core#4289 is the fix. I've added a somewhat more useful description.

[2020-02-20 16:54] dagood commented on #32550
Thanks @leecow!

Closing as resolved, do let us know if it's still occurring.

[2020-02-20 16:54] #32550 closed

[2020-02-20 16:56] NinoFloris opened #32606 "Builtin QueryHelpers type"
Today we have UriBuilder accepting a string through `UriBuilder().Query` however as far as I know there are no tools in the framework to help you build such a string.

Now if you do this as a literal it's fairly easy to prove correct but when dynamically building it you have to be mindful that query string keys and values should be properly escaped.

Under the AspNetCore namespace there's QueryHel

[2020-02-20 16:57] karelz commented on #32103
@fehmianac it is still not clear that this is a real deadlock, and not just a busy loop in there.
Can you try to add some logging to confirm that it is deadlock vs. your code running same APIs in a loop.
Also, it might be good to check timeouts and verify that the threads are not just waiting for content from network.

Obviously, if you can isolate the problem into smaller repro, or at least somet

[2020-02-20 17:06] cston commented on #26866
I've updated the checklist. Note that types that depend on `System.Windows.Forms` have been ported to dotnet/winforms rather than dotnet/runtime.

[2020-02-20 17:16] am11 commented on #25172
IMO, RID could be used as [documented](https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d5f227d30e723/src/libraries/pkg/Microsoft.NETCore.Platforms/readme.md#naming-convention) for additional platforms supported by Mono as @eerhardt has pointed out. (the wording of doc could probably be updated to reflect `os or kernel name` instead of `os name`).

There are two unfortunate cases

[2020-02-20 17:41] Gnbrkm41 commented on #32576
Having configurations for different ISAs available (e.g. AVX2 / SSE41 / SSE2 / None) would be also great for testing `System.Numerics` namespace and various components that use HWIntrinsics in their implementations. They can be configured with `COMPlus_Enable{ISA}` environment variable:
https://github.com/dotnet/runtime/blob/2f38f64ceb2ece3e57742e798409642565ddfcb0/src/coreclr/src/jit/jitconfigval

[2020-02-20 17:44] GrabYourPitchforks commented on #414
Related: I opened https://github.com/dotnet/runtime/issues/32284 a few days ago to track obsoleting `UTF7Encoding` entirely.

[2020-02-20 18:15] terrajobst commented on #921
* We should file an issue to cover the remaining APIs `ReceiveAsync`, `ReceiveFromAsync`, `ReceiveMessageFromAsync`, `SendToAsync
* Otherwise looks good

[code]

[2020-02-20 18:21] davidsh commented on #32594
@hanastasov Thanks for raising this issue. As you can, the current behavior is 'by design' and there are no plans to change it.

[2020-02-20 18:21] #32594 closed

[2020-02-20 18:25] Reza1024 commented on #31156
The use case is when you do not have a `IList<T>`, but just `IEnumerable<T>`, if the object was a `IList<T>` we could have used `IndexOf`. One could covnert an enumerable to a list and then use `IndexOf`, but that would be unnecessary memory allocation, hence the need for this extension. @thargol1, you could see this as a parallel to `First` or `FirstOrDefault` extension methods, with the differen

[2020-02-20 18:25] heng-liu opened #32608 "X509Store.Add() on Linux is racing with X509Chain.Build"
On Linux, adding a certificate to store , then build chain on this certificate.
The results of chain building is :
 `UntrustedRoot:  self signed certificate`
So the adding to store doesn't work immediately.

On Windows, everything is fine.

Repro steps:
1.Download the attached repro console  to a Linux machine.
2. Install SDK 5.0 on a Linux machine.
3.Go to` ./BuildChain-linuxAddToStore/BuildChain

[2020-02-20 18:27] terrajobst commented on #865
* We considered making it `TryGetRawSocketOption` but we can't think of a case where the size of the option would change/is not known.

[code]

[2020-02-20 18:27] AndyAyersMS commented on #2191
Thanks @adamsitnik -- works well. Had to add in the namespace part to make sense of things, though:
[code]

At any rate, we should try running the code here with the tail call changes from #341. Will put it on my todo list but may not get to it for a while.

[2020-02-20 18:31] YohDeadfall commented on #876
Already did this by #2192, but since field addition is a breaking change there should be an API review. Will write all things @layomia requested tomorrow or on Saturday.

[2020-02-20 18:33] terrajobst commented on #30543
* Looks good as proposed

[code]

[2020-02-20 18:35] bartonjs commented on #32608
Yep.  Windows has a live-synchronized model, and on Linux we have a filesystem/rescan delay problem.

For performance reasons, we only check to see if the store has been modified once a second.

[2020-02-20 18:35] #32608 closed

[2020-02-20 18:41] dazinator opened #32637 "[Question] Utf8JsonWriter - how to write a string without double encoding slashes"
### Is your feature request related to a problem? Please describe.
When I use `Utf8JsonWriter` to `writer.WriteStringValue(stringValueSpan);` providing a value that I have read using the `Utf8JsonReader` it get's encoded a second time, and so a string value containing `\\` turns into `\\\\` which breaks things like database connection strings etc if I bind options classes to the JSON file using th

[2020-02-20 18:44] terrajobst commented on #30652
* Looks good as proposed.

[code]

[2020-02-20 18:47] GrabYourPitchforks commented on #32590
Can you provide the stack trace of the exception? That will help us route the issue appropriately.

[2020-02-20 18:51] #30652 closed

[2020-02-20 18:51] BruceForstall commented on #32466
@briansull Can you please look at this?

[2020-02-20 18:55] svick commented on #31156
@Reza1024 I think the question is: what are you going to do with that index?

If you have an `IList<T>`, you're probably going to use the index in a subsequent call to the indexer or `RemoveAt`. But if you have an `IEnumerable<T>`, you can't use those. You could use it with `ElementAt`, but that would require enumerating multiple times, and you probably don't want to do that.

[2020-02-20 18:57] briansull commented on #32466
I will take a  look

[2020-02-20 19:03] Anipik opened #32611 "Searching for a type or method in solution explorer shows multiple references"
![multipleReferences](https://user-images.githubusercontent.com/10516582/74968810-4e4a0c00-53d0-11ea-8c02-4f8f40c8734e.jpg)

It should just show one entry for the targetFramework we are compiling for, not for all the targetFrameworks. as it will become confusing for projects with 3-4 tfms.

cc @ericstj @davkean @safern @ViktorHofer

[2020-02-20 19:05] steveisok opened #32613 "Make parts of the build not require coreclr to be built"
As of right now there are parts of the build that require a dotnet in order to be built.  Since mono has been added to dotnet/runtime, this places a dependency on building coreclr beforehand.  Because mono can also be used as a 'dotnet', the goal of this issue is to track and remove this dependency where applicable.

Here are the spots we know of.  Please feel free to correct / add:
- [ ] Librarie

[2020-02-20 19:06] safern commented on #2209
Failed again on: https://dev.azure.com/dnceng/public/_build/results?buildId=529417&view=logs for multiple workitems.

https://helix.dot.net/api/2019-06-17/jobs/2e23327f-6e1e-4ee0-b137-1f8caa13ffb7/workitems/System.Numerics.Vectors.Tests/console

@MattGal I guess rollout will be next week?

[2020-02-20 19:10] terrajobst commented on #30778
* The first API will have to allocate when `count` causes spanning blocks in the sequence. The bigger the `count`, the more likely it is to cross such a boundary. This could be changed to allow the caller to pass in a pre-allocated span or we could change the semantics to only succeed if the data is available contiguously.
* We should change the name to `TryReadExact` to make it clear that returni

[2020-02-20 19:10] SamuelEnglard opened #32614 "Add Enumerable.Count(IEnumerable) (None Generic)"
There is no need for [`Enumerable.Count(IEnumerable<T>)`](https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.count) to have the generic type. I would like to propose adding a `Enumerable.Count(IEnumerable)` method.

[code]

(I'd even argue that this could replace the existing generic version but that would be a breaking change and not worth it)

[2020-02-20 19:14] MattGal commented on #2209
Sorry about that yes, we're hoping to roll out the new infra retry behavior Tuesday, no blocking issues stopping that.

[2020-02-20 19:16] MattGal commented on #2209
Looks like it happened on 5 machines in the past day and they're all cleaned up now.  This time the error seemed relevant to the container's mounts (the workaround should solve this regardless) so I'll investigate to see if a previous work item on the machines caused shenanigans too.

[2020-02-20 19:18] Tyrrrz commented on #31156
@svick @thargol1
`IReadOnlyList<T>` doesn't have `IndexOf()`.

[2020-02-20 19:19] CorrM commented on #32416
Updates .?!

[2020-02-20 19:24] EgorBo opened #32615 "RuyJIT: should always decompose GT_MOD into `a - (a / b) * b` for CSE"
`A % B` can be transformed into `A - ((A / B) * B)` and it's always done for ARM because it doesn't have the remainder instruction.
Also for some reason it's done on x64 only when B is a const and a power of two and I suggest we always use what [is used for ARM](https://github.com/dotnet/runtime/blob/a607cffe1243e633f9b5028560adc4e3505f48ac/src/coreclr/src/jit/morph.cpp#L11197-L11224).

It gives V

[2020-02-20 19:29] terrajobst commented on #30779
* The two `TryPeek` APIs that out a span need more work because they silently allocate. Either allow for the caller to pass in a pre-allocated span or make it clear in the name that it will only return true if the data is in contiguous memory.
* The `TryPeek` overloads involving sequences look fine, except that `count` changes position due to `skip`. We should either remove the one that doesn't ta

[2020-02-20 19:31] Tornhoof commented on #32614
Many of linq functions special case known collection types to provide e.g. O(1) complexity, Count is one of them.
See https://github.com/dotnet/runtime/blob/a607cffe1243e633f9b5028560adc4e3505f48ac/src/libraries/System.Linq/src/System/Linq/Count.cs#L12-L25

Most of the non-generic collections have been replaced by generic ones for years, so if your code still relies on them you might want to think

[2020-02-20 19:44] terrajobst commented on #30800
* We discussed dropping the generic constraint (because it makes the new API less useful to code that is generic and not constrained, because the constraint is recent).
* We'll keep it for now and will drop it if we see issues with the constraint.

[code]

[2020-02-20 19:44] BruceForstall commented on #858
Here is the current state of the open area-CodeGen JIT issues:

Row Labels | Count   of Category
-- | --
cq | 479
correctness | 116
implementation | 104
throughput | 35
testing | 35
design | 20
proposal | 16
eng-sys | 11
documentation | 9
reach | 4
security | 1
Grand Total | 830

Row Labels | Count   of Theme
-- | --
basic-cq | 94
optimization | 75
vector-codegen | 52
register-allocator | 47
intri

[2020-02-20 19:44] SamuelEnglard commented on #32614
True, but there are times where you don't know the type in the collection or are calling an API that only implements the non-generic versions.

[2020-02-20 19:45] terrajobst commented on #30862
* Looks good as proposed and follows the guidelines for `Try`-APIs

[code]

[2020-02-20 19:49] danmosemsft commented on #4402
Yes, I'm passionate about this and we made key improvements here including (1) including the key in key not found exceptions (2) including the path in many IO related exceptions. I know myself and others have improved some other messages to include more data as well. This is all on by default in 3.1 or earlier.

I don't see anything else actionable here -- if there is, please open distinct issues.

[2020-02-20 19:49] terrajobst commented on #31179
* Looks good as proposed

[code]

[2020-02-20 19:49] #4402 closed

[2020-02-20 19:54] terrajobst commented on #31184
* Looks good as proposed

[code]

[2020-02-20 19:55] danmosemsft commented on #13848
dupe of dotnet/runtime#1957

[2020-02-20 19:55] #13848 closed

[2020-02-20 19:59] terrajobst commented on #31193
* Looks good as proposed

[code]

[2020-02-20 20:52] scalablecory commented on #32418
I'd say it's more frequent to see colors referred to by their component size when using them in code.

[2020-02-20 20:55] jozefizso commented on #30605
Also `ICustomAdapter` from `System.Runtime.InteropServices`

[2020-02-20 21:01] DanielRBowen commented on #707
The problem isn't fixed as of the .NET Core 3.1.2 release when doing a right click publish in Visual Studio. Should I expect to see it fixed in an 3.1 patch or will it eventually be in the 5.0 release? I am using a Core 2.2 version of my windows service which works perfectly fine so I can wait. It has to reference a NetStandard project with the COM object though. I have to use VS2017 to add COM re

[2020-02-20 21:06] #32246 closed

[2020-02-20 21:06] #32558 closed

[2020-02-20 21:20] layomia commented on #1561
Triaged: a custom converter can be written for this at the serializer level. As @jkotas mentioned, the reader doesn't need this support. We can reopen this if needed. There is no support for BigInteger on the underlying Utf8Parser API. If enough usages of BigInteger show up in user models for deserialization, we can revisit it.

[2020-02-20 21:20] #1561 closed

[2020-02-20 21:27] dazinator opened #32619 "[Question] Utf8JsonWriter - how to write a string without double encoding slashes"
### Is your feature request related to a problem? Please describe.
When I use `Utf8JsonWriter` to `writer.WriteStringValue(stringValueSpan);` providing a value that I have read using the `Utf8JsonReader` it get's encoded a second time, and so a string value containing `\\` turns into `\\\\` which breaks things like database connection strings etc if I bind options classes to the JSON file using th

[2020-02-20 21:37] ahsonkhan commented on #1563
The next steps here is to design the API and figure out where such an unescaping capability should live. Should we expose it as an instance method on `Utf8JsonReader`? Are there are other usages of such an unescape API which would warrant that we put it on a type like `JavaScriptEncoder` (since that's were the escaping lives).

To me, this is mainly a static method that takes any arbitrary utf-8 t

[2020-02-20 21:52] asocialraccoon commented on #1260
Is there an ETA on when this fix will be merged in a public release? Sorry to bring it up, but I'm not familiar with the runtime's update flow compared to [dotnet/core](https://github.com/dotnet/core) and can't seem to find any relevant information. It's a bit of an annoying blocker and seems like a minor change that can get pushed through.

[2020-02-20 21:54] ahsonkhan commented on #1572
Given we are planning to add a transcoding stream (https://github.com/dotnet/runtime/issues/30260), there is less need for supporting non-UTF-8 encoded streams in the serializer directly. The primary benefit of doing it natively would be performance. Moving to future.

[2020-02-20 21:54] swaroop-sridhar commented on #1260
I'll port the change to CoreCLR repo for patching to 3.1 this week. I expect it'll make into March or April servicing release.

[2020-02-20 21:54] davmason commented on #11750
@mjsabby since the change to EventPipe where each listener has its own session, it wouldn't really make sense to enable listening without being able to specify what events you want to receive. I don't think it makes sense to use the diagnostics library for that. The API to specify what events should be enabled is one of the more straightforward parts of this work.

There are two parts I'm concerne

[2020-02-20 22:12] ahsonkhan commented on #1565
Next steps: We should validate our serializer behavior - and throw NSE for TimeZoneInfo for both serialize and deserialize (to make the intent clear). Currently serializing the "wrong" output, silently, is incorrect.

If we need proper support for TimeZoneInfo, let's file a separate issue and special case that.

[2020-02-20 22:27] ahsonkhan commented on #435
I don't think this is a common enough scenario to warrant built-in API capabilities. What would you do in the case of Newtonsoft.Json if you wanted to do this?

One workaround here could be to provide a WriteRaw API on the Utf8JsonWriter and let the caller write whatever they like, unvalidated. Then, you could format your float/double to a string of any precision and then exclude the quotes when w

[2020-02-20 22:28] #435 closed

[2020-02-20 22:32] karelz commented on #1453
Triage: Looks like it may be addressed in .NET Core 3.0+. As we do not have clear repro to try, closing for now. Feel free to reopen if there is evidence it is still failing on .NET Core 3.0+. Ideally with a repro for us to try. Thanks!

[2020-02-20 22:32] #1453 closed

[2020-02-20 22:37] layomia commented on #593
This issue is related to work in https://github.com/dotnet/runtime/issues/1562, but requires a lot of feature work. Moving to future.

[2020-02-20 22:39] eiriktsarpalis commented on #32047
To consider: adding support for System.Decimal. The CBOR spec already supports decimal fractionals.

[2020-02-20 22:43] nguerrera commented on #32623
Not sure this is actually a runtime issue, but figured the eyes here would be better at helping getting from above to root cause and then transferring back if appropriate.

[2020-02-20 22:46] ahsonkhan commented on #610
Triage: We should explore all the various error cases and what distinctions we need to make to design the appropriate type hierarchy. The concern with just solving the 1-2 concerns that were brought up here is that we could have an incomplete derivation hierarchy for the exceptions. Moving to future until more scenarios have been captured or we have a better sense of the set of exception types req

[2020-02-20 22:52] layomia commented on #1040
We need to test and make System.Text.Json work on Xamarin iOS/Android. See related: https://github.com/dotnet/runtime/issues/31326.

[2020-02-20 22:52] #1040 closed

[2020-02-20 22:53] ahsonkhan commented on #1040
cc @marek-safar, @MichalStrehovsky - if you have any thoughts or insights on this.

[2020-02-20 23:12] steveharter commented on #1020
You can re-enter the serializer from a converter by calling the non-generic methods. For example:
[code]

Closing this. Please re-open if necessary.

[2020-02-20 23:12] #1020 closed

[2020-02-20 23:21] ahsonkhan commented on #1153
What are you trying to do here with the "buggy" converter and what do you expect the behavior to be? It is hard to parse what you are trying to do here. Does `JsonConverterFactory` work for your use  case?

https://docs.microsoft.com/en-us/dotnet/api/system.text.json.serialization.jsonconverterfactory?view=netcore-3.1

[2020-02-20 23:30] layomia commented on #31742
Closing as duplicate of https://github.com/dotnet/runtime/issues/29937.

We only offer polymorphic support for `System.Object` instances: see https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-how-to#serialize-properties-of-derived-classes.

The exception for other types is the root (with the non-generic `Serialize` overload) where we call `.GetType()`.

[2020-02-20 23:30] #31742 closed

[2020-02-20 23:43] layomia commented on #1301
cc @JeremyKuhne

[2020-02-20 23:43] karelz commented on #756
Triage: Looks like we have something in place already. Maybe not final, but likely good enough for 5.0.

[2020-02-20 23:54] sandreenko opened #32627 "JIT creates unnecessary shadow copies."
The vulnerable params are determined in https://github.com/dotnet/runtime/blob/1c498fe9ae4729f57c66151fc1f6402896d79c53/src/coreclr/src/jit/gschecks.cpp#L285 and it misses some simple cases, like
`GT_ADD byref` should clear `isUnderIndir`, so we don't mark LCL_VAR like:
[code]
as a pointer.

The `CALL` case sets `isUnderIndir` for `gtCallThisArg`, but doesn't clear it for other arguments, it might

[2020-02-20 23:56] karelz commented on #31709
Fixed in #32610 for master and in #32549 for 5.0 Preview 1.

[2020-02-20 23:56] #31709 closed

[2020-02-20 23:57] Anipik opened #32628 "ConditionalFact And ConditionalTheory attributes are not working in the VS"
Helpers.NotElevatedAndSupportsEventLogs is false for eventlog tests but still following test is getting run in the vs test explorer

 [ConditionalFact(typeof(Helpers), nameof(Helpers.NotElevatedAndSupportsEventLogs))]
 public void SetProperties_SaveChanges_NotAdmin_Throws()

cc @ViktorHofer @ericstj @safern

[2020-02-20 23:59] mchandler-manticore opened #32629 "Dotnet process crash when a property refers to it self and creates a stack overflow"
We had a bad logic bug in our code using .net 2.1 (also happens in .net 3.1) that caused a property to refer to it self. Normally I would expect the debugger to catch this as a stack overflow but in this case it caused an access violation in .net and the process terminated.

Platform: Windows 10
IDE: Visual studio 2017 (.net 2.1) and Visual studio 2019 (.net 3.1)

See [DebugCrash2.zip](https://git

[2020-02-21 00:04] reflectronic commented on #30778
We talked about this API (and some others) more in https://github.com/dotnet/runtime/issues/30807#issuecomment-553204267. Specifically, we discussed putting the `out` parameter first (as it is on every other SequenceReader API), and also renaming `value` to `sequence`. For the sake of having a congruent API surface, that should probably be done for this API.

On the topic of the Span overload, I t

[2020-02-21 00:04] karelz commented on #1293
Triage: We need to wait for QUIC spec to be finalized (its ALPN value).

[2020-02-21 00:06] AndyAyersMS commented on #31770
I can repro, but it's intermittent, maybe one in 5 runs? So likely a missing GC root from jitted code.

Looking at `Vector64_1_ro`, the issue seems to be that there's a special contract with the leave profiler hook to transfer the return value from R0 to R2 and back around the call, and we don't seem to get proper GC updates.

So when a method like `Vector64:ToVector128` is invoked via reflection

[2020-02-21 00:12] layomia commented on #2387
This is fixed in 5.0, and the workaround for 3.0/3.1 is to not initialize the collection. Does this work for you, or can you switch to 5.0?

Will close - this can be reopened if this is blocking on 3.1.

[2020-02-21 00:12] #2387 closed

[2020-02-21 00:13] trylek opened #32630 "Crossgen2 is missing support for ENCODE_CHECK_FIELD_OFFSET helper"
During my work on composite R2R I noticed that in instance field access logic in EncodeFieldBaseOffset we're missing proper implementation of valuetypes with layout that is not fixed in version bubble. According to Crossgen1 this should be using the above helper so that needs adding another NodeCache and related vertical.

[2020-02-21 00:15] karelz commented on #31337
The initial API was checked in. We will do full API later when QUIC is mature and finalized (post 5.0).

[2020-02-21 00:15] #31337 closed

[2020-02-21 00:22] ahsonkhan commented on #31669
This is a duplicate of https://github.com/dotnet/runtime/issues/1574.

[2020-02-21 00:22] #31669 closed

[2020-02-21 00:23] ahsonkhan commented on #1574
From @CodeBlanch in https://github.com/dotnet/runtime/issues/31669:

[2020-02-21 00:26] safern commented on #32628
This is a duplicate of: https://github.com/dotnet/runtime/issues/1161

[2020-02-21 00:26] #32628 closed

[2020-02-21 00:35] layomia commented on #31795
Closing as duplicate of https://github.com/dotnet/runtime/issues/29959.

[2020-02-21 00:35] #31795 closed

[2020-02-21 00:44] BrianBohe commented on #2399
I have done some progress. I have opened a [WIP PR](https://github.com/dotnet/runtime/pull/32631) to get reviews.

This is the updated list of tasks.

**Done**
- [x]  Add to Statement a InlineFunction * to the function which it came from.
- [x]  Add this to the GenTreeILOffset node and pass it to when rationalize happens.
- [x]  Update IL offset for inlinee introduced statements. Add/Update existi

[2020-02-21 00:50] lpereira opened #32632 "Branchless code generation for ternaries"
Might be an opportunity to improve codegen for ternaries where both the expr-if-true and expr-if-false are constants.

I played a little bit with Compiler Explorer today to get a feeling of how GCC and Clang generate the code for this.  Here's what I found from looking at the assembly output, with  the accompanying C code for reference.

Method 1: sete/setne
====

[code]
Is generated as, by both C

[2020-02-21 00:51] AndyAyersMS commented on #31770
Ok, figured that part out -- we weren't passing EA_BYREF to `emitIns_R_R` for the hidden return buffer case.

There is also potentially an issue with arm's `genProfilingLeaveCallback` checking `compRetType` instead of `compRetNativeType`, so I'll fix that too.

Let me see if any of these other failures repro after the above.

[2020-02-21 01:06] amosonn commented on #610
The current error messages should also give some direction as to what error types exist. They are not hierarchic, but they do define (at least some of) the existing cases.

[2020-02-21 01:14] JamesNK commented on #1793
Want: Pipelines support

[2020-02-21 01:16] scalablecory commented on #1793
It's there!

[2020-02-21 01:18] eerhardt opened #32633 "Socket.EndAccept(out byte[], IAsyncResult) doesn't work on Unix"
The following is a notebook that works on Windows, but fails on Unix:

[code]

On Windows, it prints:

[code]

On Linux the call to EndAccept fails:

[code]

The reason it fails is because of the following:

https://github.com/dotnet/runtime/blob/ac941749537fc60c6ceb193462dfe145111a1ef7/src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs#L3546-L3548

On Unix, `innerBuffer` that is re

[2020-02-21 01:21] ygc369 commented on #4613
@Maoni0
How do you think about this idea?

[2020-02-21 01:22] mikernet commented on #1957
@DavidSchuldenfrei The `[NotNull]` attribute is a postcondition annotation that covers your first scenario for `[NotNullAfter]` 😉

[2020-02-21 01:28] jkotas commented on #32117
If you would like to see this API happen in .NET 5 as public .NET Runtime API, I think somebody from the VS Mac on .NET 5 virtual team needs to write the initial API proposal. The hard part is to figure what a good public API shape for this should be.

[2020-02-21 01:29] swaroop-sridhar commented on #32634
@IIFE is this specific to single-file apps, or all self-contained apps?

[2020-02-21 01:39] IIFE commented on #32634
@swaroop-sridhar same issue occurs if it's single-file self-contained (i.e. self-extracting), or just self-contained without the single file flag.

For my specific case I wish to have single-file self-contained, and be able to replace/delete the exe from the publish folder that was run and self-extracted everything to a temp folder.

[2020-02-21 01:42] noahfalk commented on #11750
Apologies, I meant to respond earlier and got distracted.

+1

FWIW I think it would be worthwhile long-term to have the option of creating an EventPipe session that delivers its events synchronously. The profiler might be the first user of such functionality but I could imagine out-of-proc tools wanting to do it too.

I think it is legitimate for the runtime to provide an API that spits out bytes

[2020-02-21 01:52] niemyjski commented on #1574
@ahsonkhan I was not able to find the benchmarks when I looked :\. I thought I wrote them down for release notes but I must have lost them when my mac mother board went...

[2020-02-21 01:53] asklar opened #32635 "UWP apps require an implementation of .net to WinRT streams"
We are finding that UWP apps will need .net ProjectN to provide implementations of the functionality that's currently not implemented in NetFxToWinRtStreamAdapter:

https://github.com/dotnet/corefx/blob/master/src/System.Runtime.WindowsRuntime/src/System/IO/NetFxToWinRtStreamAdapter.cs

Namely:
GetInputStreamAt confirmed needed
Might require GetOutputStreamAt, CloneStream too

**Impact**: clipboar

[2020-02-21 02:01] JeremyKuhne commented on #1301
`allowIntegerValues` is about whether JSON value number types are supported in reading/writing.  What this option means is it will **write** a number value if it isn't defined (instead of a string value of the number). When **reading** a number value instead of a string value is supported. Naming should have probably stuck to JSON specification terms. :/

That said, I didn't really internalize tha

[2020-02-21 02:12] DonFrazier commented on #1301
Personally I think the ENum parsing is incorrect and have had an extension method since extension methods were introduced.  That shipped sailed long ago.

If you wanted to introduce this behavior you would need (sigh) another setting like "TreatIntegerStringsAsIntegers" with a default value of false.  Anyone could opt-in to the new behavior if they wanted it.

I'd like to see an option that just s

[2020-02-21 02:31] mjsabby commented on #11750
I think it's fair to require me to do the test work for the previous profiler features before taking up this new feature :)

I will formulate how exactly it'll help us beyond improvements to the codebase.

Hopefully I get to do it well before 5.0 stops taking checkins!

[2020-02-21 03:02] symphony2014 commented on #32596
@EgorBo  This is my **Command Arguments**: **C:\Users\symph\source\repos\ConsoleApp1\bin\Debug\netcoreapp3.1\ConsoleApp1.dll**,
but I am also curosity where is correct path for **coreclr.dll**  to load the coreclr.pdb file.

[2020-02-21 03:06] scalablecory commented on #32633
Thanks. We should check to see if `SocketAsyncEventArgs` has the same issue.

[2020-02-21 03:16] stephentoub commented on #32633
IIRC, this method is supposed to not be supported.  It sounds like we end up null ref'ing rather than throwing a PlatformNotSupportedException or returning an empty buffer.

[2020-02-21 03:53] ahsonkhan commented on #610
What do you mean? The exception message does mention `but instead reached end of data`

[code]
[code]

[2020-02-21 04:15] ahsonkhan commented on #32619
Yes, that is expected and the correct way to go about this. The `reader.ValueSpan` property contains the raw utf-8 bytes that came in from the JSON payload. The `reader.GetString` unescapes the data to get the correct "semantic" representation of the string. The `writer` always escapes the JSON to be correctly formatted, so yes, you must unescape the data before passing it to the writer to avoid t

[2020-02-21 04:15] #32619 closed

[2020-02-21 04:27] ahsonkhan commented on #32637
Looks like issue transfer got confused. Duplicate of https://github.com/dotnet/runtime/issues/32619

Yes, that is expected and the correct way to go about this. The `reader.ValueSpan` property contains the raw utf-8 bytes that came in from the JSON payload. The `reader.GetString` unescapes the data to get the correct "semantic" representation of the string. The `writer` always escapes the JSON to

[2020-02-21 04:27] #32637 closed

[2020-02-21 04:31] ahsonkhan commented on #31969
This official docs page provides the relevant details on what things are different and how to get the camel case behavior:
https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to#table-of-differences-between-newtonsoftjson-and-systemtextjson
https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-how-to#use-camel-case-f

[2020-02-21 04:34] ahsonkhan commented on #31818
Your custom JsonConverter has the `option` argument. You should get the `JsonNamingPolicy` from it and call it's `ConvertName` method before passed the name to the `Utf8JsonWriter`.

[2020-02-21 04:42] ahsonkhan commented on #29937
From @mauricio-bv in https://github.com/dotnet/runtime/issues/31742

cc @Arash-Sabet, @bailei1987, @bstordrup

[2020-02-21 04:46] stephentoub commented on #14304
Sounds great, @tmds.  Thanks for the update.  Looking forward to results when you've got 'em.

[2020-02-21 04:52] scalablecory commented on #32633
We could actually implement it properly with uring, though I don't know if it is used commonly enough to be worth the effort.

[2020-02-21 04:54] stephentoub commented on #32633
Would we break any expectations if we set it to `Array.Empty<byte>()` instead of null? e.g. would anyone interpret that to mean EOF?

[2020-02-21 05:29] ahsonkhan commented on #32244
That's a fair point. Thanks for showcasing the unexpected behavior you are seeing with a clear example.
The difference here is that you are looking at the behavior of a specific implementation of an interface (in this case `PooledByteBufferWriter`), and suggesting the interface (and its extension method) cater to the specific impl. The whole point of having an interface is for that to do the "gene

[2020-02-21 05:35] ahsonkhan opened #32638 ""Mono LLVM Product Build Linux x64 debug" CI leg failed during building with System.IO.DirectoryNotFoundException"
From https://github.com/dotnet/runtime/pull/32636 `Mono LLVM Product Build Linux x64 debug` failing during the `Build product` phase.

https://dev.azure.com/dnceng/public/_build/results?buildId=530946&view=results

See https://dev.azure.com/dnceng/public/_build/results?buildId=530946&view=logs&j=a9d8e986-d894-500e-79d4-4a88b1039057&t=4835cc46-49c6-5213-813e-e1366a383450

[code]

cc @dotnet/dnceng,

[2020-02-21 06:01] ahsonkhan commented on #32242
I don't think we have ever seen this test fail in the past, so we should consider stress testing this and verifying that it always works as expected and it doesn't repro (maybe the recent converter refactoring introduced some subtle regression):
https://github.com/dotnet/runtime/blob/53c67cb43269269fd656e25b7199a065d04aeca1/src/libraries/System.Text.Json/tests/Serialization/Stream.ReadTests.cs#L19

[2020-02-21 06:10] ahsonkhan commented on #31464
@steveharter - please take a look

[2020-02-21 06:12] ahsonkhan commented on #32408
Similar issue to https://github.com/dotnet/runtime/issues/31645

cc @layomia

[2020-02-21 06:15] bartonjs commented on #32242
The only places that _extraRentedBytes gets set to non-null the _utf8Json value is a ReadOnlyMemory over that same array `(0, _utf8Json.Length)`; so I can't see any way that it'd get de-aligned here without some very weird shenanigans or some sort of CLR memory problem (which would presumably be manifesting in other ways).

[2020-02-21 06:19] JeremyKuhne commented on #1301
@DonFrazier `allowOnlyDefinedValues` is an entirely rational thing to consider adding. It effectively is what I laid out above I think. If we kick strings that start with a digit or sign before we call TryParse it would be pretty efficient.

Is there anything else you think is missing?

[2020-02-21 06:19] ahsonkhan commented on #31493
@zachsawcs / @zachsaw did you get a chance to create and share the standalone app that shows the performance issue?

[2020-02-21 06:24] EgorBo commented on #32632
`cmove` was discussed here: https://github.com/dotnet/runtime/issues/6749

Regarding `int m1(int a) { return a == 5 ? 2 : 3; }`
Turns out it depends on profile data (PGO) in clang/LLVM, see https://godbolt.org/z/88UpqV

[2020-02-21 06:31] ahsonkhan commented on #32242
Is it possible that something else was corrupting the shared ArrayPool (maybe due to incorrect rent/return)?

[2020-02-21 07:23] bartonjs commented on #32242
sure, but it wouldn't manifest that way.

Since `_utf8Json` is already `someArray.AsMemory(0, targetLength)`; `extraRentedBytes.AsSpan(0, _utf8Json.Length)` shouldn't be able to AOOR; that requires the same GC-Ref array changed lengths after the fact.  Or the array that the memory was pointing at got replaced.  Or something rewrote extraRentedBytes to not be the same as _utf8Json (or the other way

[2020-02-21 07:30] GrabYourPitchforks opened #32642 "API proposal: Array.IsNullOrEmpty"
### Justification

A helper method along the same lines of `string.IsNullOrEmpty`. We have several dozen places within _System.Private.CoreLib_ alone which perform array null or empty checks: see https://github.com/GrabYourPitchforks/runtime/commit/ef639cd4ecf4f39e540438709c723aee43bbd618 for a prototype of this change and a list of candidate call sites.

Furthermore, we can perform tricks within

[2020-02-21 07:42] EgorBo commented on #32632
But might be quite easy to implement:
IL:
[code]
GenTree:
[code]
Asm:
[code]

[2020-02-21 07:48] hanastasov commented on #32594
What is recommended when URl encoding actually uses %u ?

[2020-02-21 07:53] hanastasov commented on #32594
URL encoding uses % if you use Javascript native `escpape`. Instead, use `encodeURIComponent`. Source: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/escape

[2020-02-21 07:54] GrabYourPitchforks commented on #32594
If you absolutely must support decoding _%u_-escaped payloads then you should keep using `HttpUtility.UrlDecode`. But try to avoid generating such payloads if you can avoid it. They're non-standard and not well-supported across the broader web ecosystem.

[2020-02-21 07:57] hanastasov commented on #32594
Thanks ! actually I had trouble importing HttpUtility in .NetCore 3.1 project (not sure why), this is why I used WebUtility. But I will be able to migrate to escaping with \ instead of %.

[2020-02-21 08:24] alexanderjung-sdxag opened #36050 "Respect ServiceLifeTime during resolution"
Currently it is not possible to register a service interface scoped and singleton with different implementations, e.g.

services.AddSingelton<IMyInterface, GlobalEngine>();
services.AddScoped<IMyInterface, ScopedEngine>();

A call to "sp.GetService<IMyInterface>()" on the global service provider will either raise
an exception ("InvalidOperationException: Cannot resolve scoped service '{0}' from ro

[2020-02-21 08:46] hoyosjs commented on #2317
Hey @baehny, I've reopened this issue to track a 3.1 port. Given that this has a developer experience report with some feedback I think I can justify it. Can you explain a bit here of how this affects you for when I try to explain the customer impact? Thanks 😄

[2020-02-21 08:49] noahfalk commented on #11750
Last I heard we should be free to add things through May and then the bar might start rising in June. In 3.0 the exact dates/bar kept being adjusted so I can't give a hard date, but this should be the right ballpark.

[2020-02-21 08:50] BineG opened #32646 "AssemblyLoadContext assemblies are not garbage collected"
I'm trying to implement a kind of a cached assembly execution, where if a certain context exists it is executed or updated, and if a new version is uploaded, it must be disposed before recreating it.

I've boiled the code down to this example below, but it seems the context is not being cleared, since the memory consumption is always increasing.
I'm struggling to find anything which could be keepi

[2020-02-21 09:26] jkotas opened #32647 "Delete `GTF_INX_REFARR_LAYOUT`"
This flag should be no longer needed. Deleting it is causing unexpected assembly diffs that need to be investigated. More context: https://github.com/dotnet/runtime/pull/32521#issuecomment-589567814

[2020-02-21 09:28] jkotas opened #32648 "Delete IL verifier from the JIT"
IL verifier is no longer needed in the JIT. Delete `tiVerificationNeeded` and all code under it.

More context: https://github.com/dotnet/runtime/pull/32521#discussion_r382457512

category:implementation
theme:verification
skill-level:beginner
cost:small
impact:small

[2020-02-21 09:56] baehny commented on #2317
In general when developing/using the usecases that where described in the .net core announcement
under Assembly Unloadability:
https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0/
Developing such scenarios is slowed down as it is not possible to debug any scenario that
requires assembly unloading.

I'm working on an application that allows plugin loading and because of
long loading times

[2020-02-21 10:26] dazinator commented on #32637
@ahsonkhan thank you for clarifying this for me

[2020-02-21 10:44] stephentoub commented on #32642
https://github.com/dotnet/runtime/issues/16359

[2020-02-21 10:49] phibsi commented on #1453
Hi all,

I'm sorry for my late answer.

I updated the app to ASP.NET Core 3.1 and I implemented async requests (HttpClient) and I removed the UseSocketsHttpHandler.

Now the error message looks like this:
[code]

Any idea?

[2020-02-21 10:50] akoeplinger commented on #32638
Also happened in https://github.com/dotnet/runtime/pull/32644.

[2020-02-21 10:50] phibsi commented on #1453
You can find the code in this repo: https://github.com/phibsi/sample-aspnetcore-impersonation/

[2020-02-21 10:51] Rinacm opened #32650 "Cannot find file System.Security.Cryptography.Csp in .NET Core WPF app"
Exception message below:
[code]

System Information: Window10 1909 x64 , os version 18363.657, the app is published as self-contained&single file, based on .NET Core 3.0, this issue happened on some of computers and some will not

[2020-02-21 12:03] EgorBo commented on #32596
@symphony2014 I usually do `dotnet publish -c Release -r win10-x64` for a console app I want to debug.

[2020-02-21 12:17] #32103 closed

[2020-02-21 12:40] zachsaw commented on #31493
https://www.dropbox.com/s/n7fsxns58a2zqz2/SerializerBattle.zip?dl=0

[2020-02-21 13:03] amosonn commented on #610
Huh. I get "There is not enough data to read through the entire JSON array or object.", which the one named `NotEnoughData`. What I meant with my last message, is that the exception messages themselves are already quite detailed, meaning some thought has been dedicated to what exactly has "gone wrong" in each case, and therefore could be used to create a list of all the possible errors. However, t

[2020-02-21 13:53] alnikola opened #32653 "TcpListener.AllowNatTraversal affects only current socket"
TcpListener.AllowNatTraversal method sets IPProtectionLevel on socket to control socket listening scope and enable or disable Network Address Traversal. In the past, it just set the option directly on the socket instance in ```_serverSocket```, and when TcpListener recreated a socket on Stop the new instance **didn't inherit** this option. It seems to be a mistake since there is no clear reason fo

[2020-02-21 14:06] tmds commented on #31719
It's not there.
These executables are in that zip file:
[code]

[2020-02-21 14:09] PeshkoBeshko opened #32721 "HttpListener doesn't work with https on windows dockers"
.Net Core version: 3.1
OS: Windows 10 (1903)
Docker version: 19.03.5

Hi

I'm doing my first proof of concept on dockers and .Net Core in order to research possibility to move all of our infrastructure into dockers with .Net Core. I was trying to build a simple http listener that would return a hello world page.
I've found issue
https://github.com/dotnet/core/issues/3072
very helpful.

In short I'

[2020-02-21 14:13] marek-safar commented on #1040
The problem has been well described in https://github.com/dotnet/runtime/issues/31326#issuecomment-548456030. The assembly is not linker friendly.

[2020-02-21 14:13] gbalykov commented on #31793
I've checked the difference between old and new dlls.

If I try to launch crossgen2.dll built for arm on x64, I get to the next lines in assembly.cpp and ERROR_BAD_FORMAT is thrown:
[code]

Here `kAssemblyArchitecture` is `peARM`, which is not equal to host arch `peAMD64` or `peMSIL`, so the error is thrown.

If I try to launch old tests dll (CLR 3.0) built for armel on x64, I get to the same line

[2020-02-21 14:19] lukananic opened #32656 "String.StartsWith() fails to return cases which end with string "NJ", when using StartsWith("N")"
I've tested this both on .Net and .Net Core and the bug is persistent.
Example:

[code]

// result returns 0 elements.
// If you change "NJ" in the list to any other combination with 'N', for example "NQ",
// result returns 10 elements.

It's not just capital "NJ". This doesn't work even if the list is filled with "nj" and the StartsWith() has predicate "n".

At first I was dealing with a longer s

[2020-02-21 14:27] Wraith2 commented on #32656
I just tested using your code above on netcore 3.1 and I get the result count expected correctly. Can you confirm that you've tried it on 3.1, identify the os (windows and unix use different localization libraries) and provide the value of CultureInfo.CurrentCulture.Name in case it's related to localization in that culture.

[2020-02-21 14:35] lukananic commented on #32656
Hi Wraith, just tested it on netcore 3.1 (was on 3.0 previously), and it still fetches 0 items with Where()
I'm on windows with CultureInfo.CurrentCulture.Name = hr-HR

[2020-02-21 14:42] lukananic commented on #32656
Now that you mention localization in the culture... Croatian language _does_ have a letter "Nj". Maybe it is because of that? Any way to escape the localization?

[2020-02-21 14:48] lukananic commented on #32656
[code]

Update: just tested the case above. It really doesn't work for this case as well as 'Dž' is a letter in Croatian language. Thanks for suggesting the problem lay in my culture's localization.

[2020-02-21 14:53] eerhardt commented on #32633
It looks like SocketAsyncEventArgs will throw PNSE:

https://github.com/dotnet/runtime/blob/404598b5e8f54281fc5f906856851e27204e50cf/src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Unix.cs#L69-L74

[2020-02-21 14:53] stephentoub commented on #32633
Thanks, yeah, so it looks like we just missed doing so in EndAccept.

[2020-02-21 14:54] lukananic commented on #32656
Anyway, for people running into this problem.
All I did was set
CultureInfo.DefaultThreadCurrentCulture to CultureInfo.InvariantCulture;

[2020-02-21 14:54] #32656 closed

[2020-02-21 14:57] eerhardt commented on #32633
We could do it in both `BeginAccept` when `receiveSize` isn't `0`, as well as `EndAccept`. We have a Debug.Assert that `receiveSize == 0` on Unix, but it comes from a public method and no one checks it:

https://github.com/dotnet/runtime/blob/404598b5e8f54281fc5f906856851e27204e50cf/src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs#L1823-L1826

[2020-02-21 15:00] Wraith2 commented on #32656
There should be an overload of StartWith which takes a StringComparison enum member as a parameter which would let you pass in the Ordinal or InvariantCulture options for this comparison, using it would be less invasive than forcing the current thread into a different culture.

[2020-02-21 15:01] eerhardt commented on #32633
BTW - I'm trying to figure out if `EndAccept` should be annotated as `EndAccept(out byte[] buffer` or `EndAccept(out byte[]? buffer`. I'm going with the latter for now (since we do return `null` on Unix). But the resolution of this issue could change that annotation. If we decide it should never return `null`, we can change the annotation then.

[2020-02-21 15:13] riarenas commented on #32638
https://github.com/NuGet/Home/issues/9199

[2020-02-21 15:19] stephentoub commented on #32656
There is:
https://docs.microsoft.com/en-us/dotnet/api/system.string.startswith?view=netcore-3.1#System_String_StartsWith_System_String_System_StringComparison_

[2020-02-21 15:30] nvborisenko opened #32658 "PublishSingleFile affects exceptions stacktrace"
- `dotnet new console`
- Modify Main() method which throws any exception (`throw new Exception("Hmm")`)
- Build and run application `dotnet run`

Expected output:
[code]

Now let's publish it as single file.
- `dotnet publish -c Release -r win-x64 /p:PublishSingleFile=true`
- Go to published folder and run application

Actual output:
[code]

We see that ` in C:\Temp\Q\Program.cs:line 9` is missing

[2020-02-21 15:31] lukananic commented on #32656
@Wraith2 Thanks, I switched to StartsWith(nameFilter, StringComparison.InvariantCulture)

[2020-02-21 15:40] Wraith2 commented on #32656
I know 😀 , it's British polite idiom, "there should be a" -> "if you look you will you will find that there is"

[2020-02-21 15:40] stephentoub commented on #32656
:smile:

[2020-02-21 15:45] davidsh commented on #32594
The 'HttpUtility' class is in the System.Web namespace. Most of that namespace is not part of .Net Core. That is the original reason why the 'System.Net.WebUtility' class was created. It was meant to replace and be similar to 'HttpUtility'.

[2020-02-21 15:57] GrabYourPitchforks commented on #32648
Is there still a scenario where it makes sense for peverify to exist as a stand-alone tool? I'm struggling to think of one aside from checking whether your code contains any dangerous constructs, but even then its incomplete.

[2020-02-21 16:26] jkotas commented on #32648
Yes, there is. It is tracked by https://github.com/dotnet/runtime/issues/13827

Note that the RyuJIT IL verifier is not the IL verifier used by PEVerify. RyuJIT IL verifier just gives yes / no answer, without producing the good diagnostic for telling you what is wrong. PEVerify had a completely different implementation of IL verifier.

[2020-02-21 16:33] YohDeadfall commented on #12568
@AndyAyersMS, am playing with a fix to the issue, but need some help on it. I've already wrote a code to catch `isinst` on a boxed value, but now I should invoke `get_HasValue` method with which I stuck.

What value should be passed as the `ilOffset` parameter of the `gtNewCallNode` function, and how to construct `args` having an operand?

Would like to finish it myself to learn CLR if you don't m

[2020-02-21 16:38] IIFE commented on #32634
Just wanted to add that I can certainly **rename** the exe file from the publish folder while it's running (only during first run and not subsequent runs, just like #1260), however, the specific issue I have is that I cannot **delete** or **overwrite** the exe from the publish folder.

For the self update scenario I have, that can occur while the self-extracted app is running, I can achieve it by

[2020-02-21 16:51] AndyAyersMS commented on #12568
Yes, please do! It might be best to share our your changes so I can look at your overall approach.

Generally we won't introduce new calls to methods in the jit. `Nullable` is effectively an intrinsic type,
so we can generate code to access the  `hasValue` field directly. You can see an example of this in #32269.

[2020-02-21 16:55] layomia commented on #31645
Triage: we should generalize this to support all dictionary types that the serializer supports as extension data. Supported types can be found here https://github.com/dotnet/docs/issues/15807#issuecomment-576941811.

Changing the title to reflect this.

[2020-02-21 16:57] layomia commented on #31645
Adding request for ImmutableDictionary from @mwikstrom in 32408:

[2020-02-21 17:02] heng-liu commented on #32608
Thanks @bartonjs  !
So the chain build will only succeed when the once a second checking is one and discover the store has been modified, right?
May I know if there is any way for us to check the real-time status, to see if the certificate is added to store or not?
I tried to go through X509Store.Certificates to check, but it's always there even if it's not yet finished adding.
I also tried to cre

[2020-02-21 17:03] Suchiman commented on #32614
I'd rather see non generic collections die rather than adding more infrastructure to support them.
Is there any benefit of non generic collections over generic collections?

[2020-02-21 17:19] GrabYourPitchforks commented on #31469
We should have a unit test that makes sure we don't regress codegen from release to release.

[2020-02-21 17:25] GrabYourPitchforks commented on #31307
@ahsonkhan speaking:

@JeremyKuhne - the usage of this type of API shows up more commonly in file paths and IO/Regex. Should we consider providing this capability there rather than on the low-level span primitives?

It will be hard to optimize/vectorize such an implementation. We would want to flesh out the API proposal more including the exact API shape in the proposal + details of the scenario:

[2020-02-21 17:28] SamuelEnglard commented on #32614
If you get a collection returned as an `object` and you don't know the type of items in the collection.

[2020-02-21 17:35] layomia commented on #32408
Moving the ImmutableDictionary-as-JsonExtensionData request to https://github.com/dotnet/runtime/issues/31645, and updating this issue to address the null ref.

[2020-02-21 17:40] layomia commented on #1998
@Jozkee can you verify if this was fixed in https://github.com/dotnet/runtime/pull/2259?

[2020-02-21 17:41] dagood commented on #3677
Closing. Things have changed since this issue: the Installer (Core-Setup) part works better with up-front restore, relying on the ordinary `RuntimeIdentifiers` flow rather than running once per RID. (We still do run the same project more than once to pack up a few RID-specific packages, but it's more contained to that specific operation.)

[2020-02-21 17:41] #3677 closed

[2020-02-21 17:42] GrabYourPitchforks commented on #2010
This API design needs to be thought through (including figuring out the lifetime of the `Memory<T>` once it is in the dictionary). Maybe we can start a prototype in corefxlab: https://github.com/dotnet/corefxlab

[2020-02-21 17:42] stephentoub commented on #31307
Yes. This is a very slippery slope towards full-blown regular expressions. We should not add such support to span directly or even to MemoryExtensions. We should instead figure out how to make it work with Regex or some derivation thereof.

[2020-02-21 17:44] dagood commented on #3390
Closing, stale. Publish is handled by Arcade now (dotnet/runtime doesn't control this timeout) and it has been improved so this isn't a particular problem anymore anyway.

[2020-02-21 17:44] #3390 closed

[2020-02-21 17:46] GrabYourPitchforks commented on #282
@ahsonkhan speaking:

What is the scenario you are targeting with this API?

@davidfowl - did we intentionally leave this out from the initial design with pipelines/sequence was being prototyped in corefxlab?

[2020-02-21 17:54] DaZombieKiller commented on #282
I was intending to use it for a scripting VM's memory heap (which can often be accessed non-contiguously), and figured it'd be convenient to have `Sequence<T>` for passing it around.

[2020-02-21 17:55] GrabYourPitchforks commented on #1830
cc @joperezr

[2020-02-21 17:56] bartonjs commented on #32608
The chain trust processor is what has the static cached view, new X509Store instances always see live.  There's no way to see its internals.

Rather than doing modification of the store, consider the contextual trust feature (X509ChainPolicy.CustomTrustStore / X509ChainPolicy.TrustMode; new in 5.0).

If you need to modify the store and have it show up "immediately" you can run your test from a new

[2020-02-21 17:57] scalablecory commented on #32633
`AcceptEx` does not complete until data is available or EOF is reached, so I think your worry is probably realistic unless we're doing something special in our Windows implementation.

[2020-02-21 17:58] GrabYourPitchforks commented on #31067
cc @JeremyKuhne

[2020-02-21 18:00] #32524 closed

[2020-02-21 18:00] #32526 closed

[2020-02-21 18:02] GrabYourPitchforks commented on #1436
Closing as fixed in 5.0 (https://github.com/dotnet/runtime/pull/1437) and 3.1 ( https://github.com/dotnet/corefx/pull/42837)

[2020-02-21 18:02] #1436 closed

[2020-02-21 18:04] jkotas commented on #32658
cc @swaroop-sridhar

[2020-02-21 18:09] maryamariyan opened #32659 "Using both GenerateReferenceSource and Rebuild targets deletes ref dll in ref\netcoreapp5.0"
I noticed using both GenerateReferenceSource and Rebuild targets on a src project removes the ref dll and we get error:

'runtime\artifacts\bin\ref\netcoreapp5.0\X.dll' is not found.

To repro:

[code]

Eventhough we are not supposed to use both targets at the same time, I thought to share this observation.

---

FYI, I personally tried all this in release configuration, so I added /p:Configuratio

[2020-02-21 18:10] jeffschwMSFT commented on #32596
@josalem

[2020-02-21 18:10] maryamariyan commented on #32659
Another observation I made was that, when both targets are specified and I also specify /p:BuildTargetFramework=netcoreapp5.0, then even if dll

runtime\artifacts\bin\ref\netcoreapp5.0\X.dll'

was not available I think it gets copied over from

runtime\artifacts\bin\X\ref\netstandard2.1-Release\X.dll

[2020-02-21 18:12] nvborisenko commented on #32658
More additional info: actually `/p:IncludeSymbolsInSingleFile=true` compiler option works, and stacktrace is correct. But I should delete `Q.pdb` file, which is located in publish output folder from previous publishing. It seems presence of pdb file near with executable single file affects stacktrace.

Since I understood what is wrong (this case can be resolved just as warning during publishing),

[2020-02-21 18:12] GrabYourPitchforks commented on #32594
We have a _System.Web.HttpUtility_ package that contains a version of `HttpUtility` which works on .NET Core. See https://github.com/dotnet/runtime/tree/master/src/libraries/System.Web.HttpUtility.

For some reason it's not on nuget.org, but it might be available at one of the other package sources at https://github.com/dotnet/runtime/blob/master/NuGet.config.

@ericstj Do you know why this packag

[2020-02-21 18:12] buyaa-n commented on #1094
We have removed local header validation vs central directory, therefore no need AppContext switch. Decompressed stream will still be restricted by uncompressed size.

Fix merged to 5.0, reopening for porting to 3. 1

[2020-02-21 18:13] jeffschwMSFT commented on #32623
@Ruudiiii what version of .NET Core are you running?  Does this occur outside of debugging in Rider?

[2020-02-21 18:13] heng-liu commented on #32608
Thanks! That's very helpful. @bartonjs

[2020-02-21 18:14] jeffschwMSFT commented on #32547
@jaredpar should this issue be transferred to roslyn?

[2020-02-21 18:15] jeffschwMSFT commented on #32561
@fadimounir

[2020-02-21 18:15] jeffschwMSFT commented on #32476
@jkoritzinsky

[2020-02-21 18:16] JeremyKuhne commented on #31307
We need richer matching on `Span`, particularly for file system enumeration (globbing). I think the fundamental thing we're missing is no/low-allocation regex functionality. (And having UTF-8 matching would be good too...)

cc: @eerhardt, @carlossanlop

[2020-02-21 18:17] jeffschwMSFT commented on #32475
@kouvel

[2020-02-21 18:18] stephentoub commented on #31307
When you say "on Span", are you suggesting literally as members on the System.Span type?  Or do you mean "for Span"?

I'm strongly against the former.  The latter makes sense, and is what https://github.com/dotnet/runtime/issues/23602 is tracking.

[2020-02-21 18:19] jeffschwMSFT commented on #32419
@vatsan-madhavan should this be moved to wpf?

[2020-02-21 18:36] JeremyKuhne commented on #31067
I don't think we should add allocation management to `SequenceReader`. I think the right answer is to provide an `IAllocator` interface that `SequenceReader` can use that will allow plugging in arbitrary allocation strategies. Something like:

[code]

[2020-02-21 18:36] DonFrazier commented on #1301
For enums with the [Flags] Attribute you must allow parsing any combination of defined flags.

[Flags]
public enum WorkflowType
{
    None = 0x00,
    Offer = 0x01,
    MetaDataOnly = 0x02,
    DirectPublish = 0x04,
}
Here's a real one that I have to be able to parse any combo of flags.

[2020-02-21 18:36] Clockwork-Muse commented on #32614
@SamuelEnglard - Except the type of such a collection can usually be expressed as the generic `IEnumerable<object>`, as opposed to the raw non-generic (assuming it's castable to either one in the first place - why is it coming as `object`?).

[2020-02-21 18:42] mikem8361 commented on #31719
In this case it looks like the tests use corerun has the host so the command line should be:

`lldb -c core.1000.24 corerun`

[2020-02-21 18:44] #32551 closed

[2020-02-21 18:50] Suchiman commented on #32614
@Clockwork-Muse casting using covariance works only with reference types.

But in general, there are the two bridge methods, `OfType<T>()` and `Cast<T>()`, so you can use `IEnumerable.Cast<object>().Count()` which should work for every possible `IEnumerable`.

[2020-02-21 18:50] GrabYourPitchforks commented on #32642
You're dashing my hopes and dreams, man. :)

[2020-02-21 18:51] stephentoub commented on #32642
:smile:

[2020-02-21 18:54] akoeplinger opened #32662 "Discussion: Fallback CoreCLR build to OSX/x64 when building for iOS"
I'm working on a branch that adds an iOS target OS to the build system.

This causes an issue for the CoreCLR build because it doesn't know how to build for that target and until https://github.com/dotnet/runtime/issues/32613 is fixed we need the CoreCLR build for the libraries build.

My current thinking was that the build can simply fallback to OSX.x64 in that case as it's the only platform wher

[2020-02-21 18:55] hoyosjs commented on #2317
Thanks @baehny! Can you also confirm this is fixed if you use a 5.0 nightly runtime? Or do you not have a way to verify this.

[2020-02-21 18:55] scalablecory commented on #29736
CC @MihaZupan

[2020-02-21 18:55] scalablecory commented on #32606
CC @MihaZupan

[2020-02-21 18:59] jkotas commented on #32662
That does not sound like the right approach to me. We should not building CoreCLR at all when building for iOS.

[2020-02-21 19:01] akoeplinger commented on #32662
@jkotas I agree but the libraries build requires CoreCLR at the moment.

[2020-02-21 19:02] josalem commented on #32596
@symphony2014 , could you post a screenshot of the Properties for the project (right-click on the project and select Properties)?  I want to make sure the working directory is set to the location of the product artifacts.  I'll try top repro this locally.  Also, what version of VS are you using?

For what it's worth, I typically will do what Egor suggested, i.e., `dotnet publish -r win-x64 --self-

[2020-02-21 19:02] jkotas commented on #32613
Could you please share more details on this?

We do support cross-targeting for Linux build. For example, you can build for ARM64 on x64 machine today. `dotnet` used by the build is the x64 version that comes a downloaded package, and the `dotnet` produced by this build is the arm64 version. I do not think we are building x64 `dotnet` in this mode at all.

Can building for iOS work the same way?

[2020-02-21 19:03] jkotas commented on #32662
What does the libraries build require from CoreCLR?

[2020-02-21 19:04] jkotas commented on #32662
It should be just `System.Private.CoreLib` and it should be trivial to switch libraries to consume `System.Private.CoreLib` from Mono.

[2020-02-21 19:06] SamuelEnglard commented on #32614
@Clockwork-Muse API doesn't always return a collection. Can return a lot of things so LCD.

Yes @Suchiman I could just `IEnumerable.Cast<object>().Count()` but the cast is not needed so waste the time. Counting doesn't care about what type is there.

[2020-02-21 19:09] akoeplinger commented on #32662
I haven't looked into that but if it's trivial then yeah we should go that way instead.

@ViktorHofer can you take a look?

[2020-02-21 19:13] davidsh commented on #32606
@GrabYourPitchforks

[2020-02-21 19:18] trylek opened #32663 "Crossgen2 is missing support for CORINFO_FIELD_STATIC_ADDRESS"
We could achieve minor perf improvement when accessing statics by implementing the static address helper (ldsflda). Crossgen1 doesn't do this, it bails out at this point:

https://github.com/dotnet/runtime/blob/58cf1468e1d9519c3752dfd40402eb4fda6fb9e9/src/coreclr/src/zap/zapinfo.cpp#L3216

For now I'm about to add a similar clause with a reference to this issue to Crossgen2 as otherwise it causes

[2020-02-21 19:20] GrabYourPitchforks commented on #32606
So, as a strawman, a `QueryStringBuilder` type that's kind of like a `Dictionary<string, string>` but whose `ToString()` output is `"?key1=value1&key2=value2&..."`?

[2020-02-21 19:21] BruceForstall commented on #32576
@Gnbrkm41 The "runtime-coreclr jitstress-isa-x86" pipeline (https://dev.azure.com/dnceng/public/_build?definitionId=664) should cover this.

[2020-02-21 19:23] jzabroski commented on #26002
I believe there is a great expanse of issues to unpack here, and I've done some of that unpacking in other issues, mostly related to System.ComponentModel.DataAnnotations.  Happy to help flesh out all the holes so that the real development budget required for filling these holes is clear.

[2020-02-21 19:30] moh-hassan commented on #8714
This custom [ALC ](https://docs.microsoft.com/en-us/dotnet/core/tutorials/creating-app-with-plugin-support#load-plugins) can load  transitive dependencies

The ALC use the  `AssemblyDependencyResolver` to resolve the dependencies.

I tested it with a complex plugin scenario that reference a class library and external OLEDB nuget package and it's working fine. Also it's working in [dotnet samples](

[2020-02-21 19:33] joperezr commented on #1830
@arthur-conde I just tried your repro locally and I see what you are saying, so looks like System.Buffers package version 4.5.0 has the following two assets:
[code]

However, this should be completely fine, as the way that the .NET Core loader works, if an assembly compiled against 4.0.2.0 but got 4.0.3.0 at runtime, the loader will load this assembly just fine because the version is greater. In f

[2020-02-21 19:39] NinoFloris commented on #32606
Yes! Though not to forget methods for parsing a query string as well.

Icing on the cake would be designing it to be used without needing to allocate a bunch of tiny strings.

Aside:
`System.Uri/Builder` is already plenty allocatey. It too could use a refresh, exposing more of its functionality via static methods. Primarily I miss light weight ways of interrogating urls for simple facts like `IsDe

[2020-02-21 19:45] davidfowl commented on #32606
cc @Tratcher

[2020-02-21 19:54] moh-hassan opened #32667 "AssemblyLoadContext.Default in netcore 3.1 resolve the plugin type but can't excute its instance when the plugin use transitive dependency"
I have a console application in netcoreapp3.1 that use a netstandard2.0 plugin.
The  plugin reference a class library   and implement an interface
All dll dependencies are in the the plugin folder and the plugin.dep.json include all referenced library.

When I run:
[code]
it resolve the type of interface

When i try to run an instance as given below it fail:
[code]
and fire error message:

If I lo

[2020-02-21 19:56] steveisok commented on #32662
From what I've seen it requires `System.Private.CoreLib`, its pdb and dwarf file.

[2020-02-21 19:59] akoeplinger commented on #32613
Yeah the goal is to not need coreclr for the iOS build.

I found one test project that relies on the testhost to generate some artifacts:

https://github.com/dotnet/runtime/blob/58cf1468e1d9519c3752dfd40402eb4fda6fb9e9/src/libraries/Microsoft.XmlSerializer.Generator/tests/Microsoft.XmlSerializer.Generator.Tests.csproj#L11

[2020-02-21 19:59] steveisok commented on #32613
By `dotnet` in this instance, I meant `System.Private.CoreLib`, but wasn't sure if that was everything.

[2020-02-21 20:00] akoeplinger commented on #32662
There's more logic that checks for CoreCLR artifacts like this one: https://github.com/dotnet/runtime/blob/58cf1468e1d9519c3752dfd40402eb4fda6fb9e9/eng/liveBuilds.targets#L91

I'm not sure if it's the only place.

[2020-02-21 20:01] ViktorHofer commented on #32662
We also need the [Microsoft.NET.Sdk.IL (ilasm, ildasm)](https://github.com/dotnet/runtime/tree/master/src/coreclr/src/.nuget/Microsoft.NET.Sdk.IL)

[2020-02-21 20:07] drieseng commented on #31437
@MattMcL4475 I'll be fixing that issue some time this week. I know it's long overdue.

[2020-02-21 20:12] steveisok commented on #32662
Is it just ilasm / ildasm?  If so, can we use a fixed version for them?

[2020-02-21 20:17] jzabroski commented on #26002
Here is an example of one pain point, although minor, and still better than what the user story was in Visual Studio 2017:

1. I originally built my app to target .netstandard2.0, but due to a missing assembly, changed to a different target framework in an effort to workaround the problem.  I then got this long message:
![image](https://user-images.githubusercontent.com/447485/75068312-f3daa980-54

[2020-02-21 20:27] AndyAyersMS commented on #31770
For `_il_dbgdeep_array`, the issue is that `R0` is not the return value, if we're in a jump or tail call return. So deducing gc-liveness of `R0` based on return value characteristics of the method can't work.

For the jump case `R0` is dead, as it gets spilled via `genJmpMethod`. Still looking at what happens in the tail call case...

[2020-02-21 20:28] vatsan-madhavan commented on #32419
@jeffschwMSFT  🙏 - moving it!

[2020-02-21 20:32] aliveli186 opened #32670 "Possible bug: SqlDataReader.ReadAsync hangs and produces high garbage collection."
Tested on: System.Data.SqlClient versions "4.4.0", "4.8.0" and "4.8.1"

I'm trying to read from a table which has 8 records.
In ReadAsync it fetches the first 6 records quickly and hangs around 45 seconds to fetch the rest 2.
During that 45 seconds time produces very high garbage collection.

The synchronous version on the other hand fetches the records immediately and there is no visible garbage

[2020-02-21 20:42] ViktorHofer commented on #32662
I believe we aren't using a live version yet, so this shouldn't be an issue _at the moment_: https://github.com/dotnet/runtime/issues/1137.

[2020-02-21 20:56] jaredpar commented on #32613
@steveisok

There are two versions of `System.Private.Corelib` that are produced by the build. Do you mean that we need to be able to build mono without buliding the coreclr version of `System.Private.Corelib`?

[2020-02-21 21:04] Wraith2 commented on #32670
System.Data.SqlClient in this repository has been deprecated in favour of [Microsoft.Data.SqlClient](https://github.com/dotnet/SqlClient). I've contributed a number of performance improvements to that version of the library and if you can produce a simple test case against then 2.0.0preview that replicates your problem I can look into it to see what's going on.

[2020-02-21 21:05] steveisok commented on #32613
@jaredpar Yeah, ideally.  Libraries seems to have a hard dependency on the coreclr build because of SPC.  If libraries could use mono's SPC instead for the mono build, that would be ideal.

https://github.com/dotnet/runtime/blob/9981b1f128283c9fcff32689f34bf51289209b03/eng/liveBuilds.targets#L90-L136

[2020-02-21 21:05] ManickaP commented on #31997
Notes: might be related to https://github.com/dotnet/runtime/issues/30284 and fix for this issue: https://github.com/dotnet/runtime/issues/25497

[2020-02-21 21:13] Jozkee commented on #1998
@layomia this was not fixed on the converters refactor; see https://github.com/dotnet/runtime/pull/2259#discussion_r374441442.

[2020-02-21 21:16] Clockwork-Muse commented on #32614
....huh?  `Count` isn't a standard method on "anything".

You (probably) don't need to cast each object.  [You only have to cast the collection](https://dotnetfiddle.net/9DlR68), which you have to do anyways to be able call `Count` in the first place:
[code]

.... _why_ does your API only return `object`?  If it's because it's some legacy API, the first thing I'd do is throw a wrapper around it to

[2020-02-21 21:18] #32544 closed

[2020-02-21 21:20] jaredpar commented on #32613
Yeah that looks like one of the targets I saw in my earlier PR that needed to be properly conditioned on whether we were building Mono / CoreCLR.

[2020-02-21 21:22] jkotas commented on #1137
I do not think it make sense to use the live version of ilasm/ildasm. It creates a problem for cross-compilation as noted in #32662 among other things. It is fine for the compilers to come from package.

[2020-02-21 21:26] steveisok commented on #32613
One other point... If libraries just needs SPC to exist in order to build, it may be faster to default to mono's.  No data to support that other than observation.

[2020-02-21 21:29] jaredpar commented on #32613
It's unclear. When I was unwinding this a few weeks ago it needed a specific one.

[2020-02-21 21:36] jkotas commented on #32613
This test has a long list of exclusions in SkipTestsOnPlatform, so you can just add to that, and file issue to get it fixed properly.

[2020-02-21 21:39] aliveli186 commented on #32670
@Wraith2 Same issue persists with Microsoft.Data.SqlClient.
Here is my code:
[code]

Console:
2/21/2020 11:33:43 PM 1: 28
2/21/2020 11:33:43 PM 2: 28
2/21/2020 11:33:43 PM 3: 28
2/21/2020 11:33:43 PM 4: 28
2/21/2020 11:33:43 PM 5: 28
2/21/2020 11:33:43 PM 6: 28
2/21/2020 11:**34:03** PM 7: 28
2/21/2020 11:**34:37** PM 8: 28
8

[2020-02-21 21:49] akoeplinger commented on #32662
Ok, given that the fallback approach isn't desirable and we should instead fix the libraries build to no longer require CoreCLR let's continue the discussion in https://github.com/dotnet/runtime/issues/32613.

[2020-02-21 21:49] #32662 closed

[2020-02-21 21:57] vitek-karas commented on #32667
Currently this is by design. `LoadFromAssemblyPath` as well as any other `LoadAssembly`-like methods only ever load that assembly, they don't try to load a "plugin". For this case to work you would need the `AssemblyDependencyResolver` and hook it up to the Default ALC (probably via the Resolving event), and hope that there are no collisions between the host app and the plugin (since they will sha

[2020-02-21 22:04] vitek-karas commented on #32658
The `Q.pdb` being left behind in publish folder is a known issue. SDK will not delete the publish folder during `dotnet publish`, so it will effectively "add/overwrite" the newly built files into it. You can try to delete the folder before running `dotnet publish`, the file should not be there anymore. (If I remember correctly this behavior should be changed in 5 - basically fixed).

The issue wit

[2020-02-21 22:07] AndyAyersMS commented on #32476
Quite likely a dup of #31770.

[2020-02-21 22:07] vitek-karas commented on #32646
/cc @janvorli

What does the assembly being loaded into collectible load context do? Note that there are certain APIs in framework (and some NuGet packages) which will cache information which may end up holding direct references to the assembly, making it impossible to unload.

[2020-02-21 22:11] jaredpar commented on #32613
@steveisok

I have data and it supports that position. Grabbing an arbitrary run of the rolling builds and averaging out the product build times I see the following:

- Mono: 9 minutes
- CoreCLR: 27 minutes

That's a rough measure though. Just averaging out all of the product timeline builds. But still a decent approximation.

Still though I think it's likely most of these targets are looking for

[2020-02-21 22:12] binki opened #36049 "DependencyInjection does not allow lazy/factory injection of an IDisposable which should not be disposed"
### Describe the bug
I should be able to call `IServiceCollection.AddSingleton<T>(Func<IServiceProvider, T> factory)` such that `T` is `IDisposable` but prevent the service provider from calling Dispose() itself. Currently, the only way to do that is to use the instance overload which doesn’t support lazy/deferred calls: `IServiceCollection.AddSingleton<T>(T instance)`.

### To Reproduce
Steps to

[2020-02-21 22:13] vitek-karas commented on #32634
I think this is by design. The single-file bundle doesn't spawn a child process to run the app, it runs it "in-proc". This is necessary for multiple reasons:
* Some apps rely on getting the right PID from the outside and inside (basically tools talking to the app from the outside assume it's the process they launched and not a child)
* The single-file.exe contains native manifest on Windows - the

[2020-02-21 22:14] vitek-karas commented on #32634
Also of note - the improved single-exe planned for .NET 5 (Which will hopefully not extract to disk, or only very little) makes this a necessity - there's no second "app" to run in that case (the bundle contains all the code, runtime and everything runnable from memory without writing to disk).

[2020-02-21 22:19] AndyAyersMS commented on #32476
Will try with my fix from #32674.

[2020-02-21 22:21] gregmac opened #34020 "IReadOnlyList<T> should implement IndexOf(T item);"
Currently `int IndexOf(T item);` is implemented in `IList<T>`, but not `IReadOnlyList<T>`. There's several cases where this would be useful to have, and there doesn't seem to be any clear reason it's not implemented in `IReadOnlyList<T>`.

Many (if not all?) of the built-in usages of `IReadOnlyList<T>` also implement `IList<T>`, so at least within the .NET codebase it seems this would have very li

[2020-02-21 22:24] swaroop-sridhar commented on #32634
Also, as @IIFE has confirmed, this is not specific to single-file apps.
Its true for any .net app running through the apphost.
The apphost remains loaded in the process and cannot be removed while it is running.

[2020-02-21 22:26] Wraith2 commented on #32670
@cheenamalhotra this might be worth moving

[2020-02-21 22:27] JeremyKuhne commented on #31307
For `Span`, not on.

[2020-02-21 22:31] AndyAyersMS commented on #32476
Failed 3/5 runs with baseline; passed 20/20 with my fix, so closing as dup of #31770.

[2020-02-21 22:31] #32476 closed

[2020-02-21 22:35] AndyAyersMS commented on #32479
Test passes with #32674, so closing as dup of #31770.

[2020-02-21 22:35] #32479 closed

[2020-02-21 22:38] swaroop-sridhar commented on #32658
Closing this issue as a dup of:
Cleaning publish directory: https://github.com/dotnet/sdk/issues/377
Preserving StackFrameHelper:  dotnet/sdk#4017

[2020-02-21 22:38] #32658 closed

[2020-02-21 22:39] BruceForstall commented on #4871
@AndyAyersMS What should we do with this bug? Should it get a .NET Core 5 milestone, for example?

[2020-02-21 22:47] AnthonyMastrean opened #32677 "Allow suppressing "welcome" info"
This is kinda noisy in situations where I'm creating VMs for automated environments or CI pipelines or whatever. Especially, if I've already set `DOTNET_CLI_TELEMETRY_OPTOUT=1`. Can I suppress this "welcome" info?

[code]

There's some kind of extra info if I get a subcommand wrong, too, but only the first time.

[code]

[2020-02-21 22:55] AndyAyersMS commented on #4871
Nobody's ever found a fix that did not have outsized code size impact for what is a very rare case.

Worth another look, I suppose.

[2020-02-21 22:55] eerhardt commented on #25172
In the current RID design, the strings are not meant to be tokenized. In the RID documentation you linked above it defines a RID as: "A RID is an **opaque** string that identifies a platform."

However, there is a [proposal](https://github.com/NuGet/Home/issues/5862) to change the opaqueness.

[2020-02-21 22:57] AndyAyersMS commented on #32478
This passes with #32674, so closing as dup of #31770.

[2020-02-21 22:57] #32478 closed

[2020-02-21 22:57] humbe opened #32678 "SNI support for ClientWebSockets"
ClientWebSocket does not currently add the Server Name Indicator to wss connections.

[2020-02-21 23:00] Jozkee commented on #30524
Here's the proposal for adding support to non-string `TKey` types  https://github.com/dotnet/runtime/pull/32676 in dictionaries.

Please let us know any thoughts or concerns.

[2020-02-21 23:08] layomia commented on #32359
Closing as duplicate of https://github.com/dotnet/runtime/issues/29715.

[2020-02-21 23:08] #32359 closed

[2020-02-21 23:09] layomia commented on #29715
Triage: action item is to remove this test and close this issue.

https://github.com/dotnet/runtime/blob/d4b06b1a9e3c56e343c42efad2211c04c196a0cf/src/libraries/System.Text.Json/tests/Serialization/ExceptionTests.cs#L366-L380

[2020-02-21 23:13] layomia commented on #32356
Triage: change the comment to say if we have a lot of customers with large objects and we are flushing too often, make the buffer bigger; and close the issue.

[2020-02-21 23:17] layomia commented on #31071
Closing. You can create your own type that implements whichever interface you wish and call into the JsonSerializer.

[2020-02-21 23:17] #31071 closed

[2020-02-21 23:20] CharlesPublic opened #32679 "Extend Dictionary<K, V> with a GetOrAdd method"
One thing that always annoyed me about the System.Collections.Generic.Dictionary<TKey, TValue> class
 is that we often use code like this:

	public static TValue GetOrAddNew<TKey, TValue>(
        this IDictionary<TKey, TValue> dict, TKey key)
        where TValue : class, new()
    {
        // 1-2 calls for reference types to
        // FindValue() / GetHashCode() / Equals()
        if (!dict.Tr

[2020-02-21 23:22] vcsjones commented on #32677
Related / duplicate to https://github.com/dotnet/sdk/issues/3828

[2020-02-21 23:28] layomia commented on #30694
Triage: we don't have enough data around the customer need to build this sort of extension point at this time. A workaround here is to use a custom converter to handle ignore semantics.

We can reopen this issue if an end-to-end scenario is clearly defined.

[2020-02-21 23:28] #30694 closed

[2020-02-21 23:30] steveisok opened #32680 "NTLM support in Android"
Some time ago in mono's corefx fork, we switched to `SocketsHttpHandler` and discovered that NTLM auth stopped working on Android.  Originally, we thought it was just a configuration miss on our part, but it ended up turning out to be that kerberos is not available on Android and thus neither is libkrb-5.

We have been able to suggest a workaround by having customers use our old http handler, but

[2020-02-21 23:30] layomia commented on #1567
Closing as duplicate of https://github.com/dotnet/runtime/issues/30692.

[2020-02-21 23:30] #1567 closed

[2020-02-21 23:32] AnthonyMastrean commented on #32677
Right on. Looks like a lot of chat about the interactive info, but not much on the install time welcome text?

[2020-02-21 23:33] AnthonyMastrean commented on #32677
Oh, I’m seeing the links. Perfect.

[2020-02-21 23:33] #32677 closed

[2020-02-21 23:36] layomia commented on #30593
This scenario can be solved with https://github.com/dotnet/runtime/issues/31274 by reading first as JsonElement, perform validation, then deserialize with the serializer.

[2020-02-21 23:36] #30593 closed

[2020-02-21 23:38] layomia commented on #30486
Closing - there's a workaround.

[2020-02-21 23:42] BruceForstall opened #32681 "superpmi: make parallel replay the default"
Make the `-p` parallel replay option the default.

Either add a `-s` (sequential) option to run on a single thread, or add a `-p X` option to specify degree of parallelism X (e.q., 1). Note that when run in parallel, output is saved until the end. So maybe we should have both `-s` and `-p X`.

[2020-02-21 23:45] BruceForstall commented on #12709
Obsolete. Closed.

[2020-02-21 23:45] #12709 closed

[2020-02-21 23:46] BruceForstall commented on #11844
Obsolete. Closed.

[2020-02-21 23:46] #11844 closed

[2020-02-21 23:46] BruceForstall commented on #11843
Obsolete. Closed.

[2020-02-21 23:46] #11843 closed

[2020-02-21 23:49] BruceForstall commented on #6695
I'm going to assume this is obsolete, and close the bug.

[2020-02-21 23:49] #6695 closed

[2020-02-21 23:52] layomia commented on #30456
A custom converter can be written for this. We can reopen if there's more customer demand.

[2020-02-21 23:52] #30456 closed

[2020-02-21 23:59] VSadov opened #32683 "Make JIT_Stelem_Ref more responsive to suspension requests"
`JIT_Stelem_Ref` is an FCALL that is not performing GC polls (for performance reasons).
As a result it could cause unpredictable and noticeable latency when suspending a thread that performs a lot of assignments to elements of reference type array.

[2020-02-22 00:02] VSadov commented on #32683
A simple repro:

[code]

[2020-02-22 00:05] layomia commented on #30402
This scenario is covered by #30328.

[2020-02-22 00:05] layomia commented on #30402
Changes would need to be made to Utf8JsonReader to support this, which will affect performance for the common case. Closing as not feasible.

[2020-02-22 00:05] #30402 closed

[2020-02-22 00:07] BruceForstall opened #32684 "superpmi: improve method exclusion usage"
Currently, there exists undocumented functionality whereby when replaying a file foo.mch, the file foo.exc is looked for in the same directory as foo.mch. This file is expected to contain a list of MD5 hashes for method contexts to exclude.

This is too magic, and too automatic.

Proposal: add command-line options to superpmi:

1. Add a `-e[xclude] mclFileName` option that takes a standard MCL fil

[2020-02-22 00:07] BruceForstall commented on #32684
cc @sandreenko

[2020-02-22 00:07] IIFE commented on #32634
Thanks for the clarification. I guess I had a misunderstanding on how the self extraction works as I thought the only purpose of the produced exe is to extract the app, not actually run it.

Happy to close issue. Will try to work with the rename approach.

Thanks.

[2020-02-22 00:07] #32634 closed

[2020-02-22 00:55] #32490 closed

[2020-02-22 00:56] GrabYourPitchforks commented on #32606
I don't know if we would worry too much right now about a proposed `QueryBuilder` being allocate-y. If this is intended to be a simple API for users to call with minimal effort and minimal ceremony around the call sites, a simple `Dictionary<string, string>`-like type is hard to beat in terms of usability and reliability.

Static high-performance APIs on `System.Uri` to answer the questions you ha

[2020-02-22 01:03] mnifakram opened #32687 "dotnet quit unexpectedly on mac os"
Apple generated report.
`Process:               dotnet [86990]
Path:                  /usr/local/share/dotnet/dotnet
Identifier:            dotnet
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        ??? [86980]
Responsible:           iTerm2 [2925]
User ID:               501

Date/Time:             2020-02-22 01:51:03.415 +0100
OS Version:            Mac OS X 10.1

[2020-02-22 01:05] am11 commented on #32606
Perhaps a `Dictionary<string, List<string>>`-like type to support arrays: `?foo[]=bar&foo[]=baz`.

[2020-02-22 01:15] am11 commented on #25172
Sure, thanks for pointing it out. I think even for human readability, musl case looks a bit odd. Do you think `linux-musl-64` goes against the documented naming `[os name].[version]-[architecture]-[additional qualifiers]` and other RIDs `win-x64-aot` etc. and should have been `linux-x64-musl` instead? I understand it is probably now too late to change it, but if we had spotted it out earlier, woul

[2020-02-22 01:24] mikem8361 commented on #32596
It isn't familiar.  Coreclr does throw some exceptions that are handled and can be continued, but this looks like it is unhandled/terminates the process.

[2020-02-22 01:56] fadimounir commented on #32561
@npolyak Have you tried something like `Type.IsAssignableFrom(Type)`?

see: https://docs.microsoft.com/en-us/dotnet/api/system.type.isassignablefrom?view=netframework-4.8

One thing to keep in mind when you say get the `MethodInfo`, then the `ParameterInfo` is that if you do that on the generic method, you will get info for the generic definitions, not a specific instantiation.

You could do somet

[2020-02-22 02:10] jkotas commented on #32680
What makes the NTLM auth work in the old http handler?

[2020-02-22 02:12] scalablecory commented on #32606
I don't think we would add explicit array support -- they are to my knowledge not a defined feature of URIs, with some platforms recognizing `foo=1&foo=2&foo=3` and others using the `[]` syntax.

We would want to design the API so that users could do either, though.

[2020-02-22 03:51] fernandreu opened #32690 "Process.MainWindowHandle is not correctly refreshed"
I have come across an [issue](https://github.com/FlaUI/FlaUI/issues/298) with a third-party UI test library which I have finally tracked down to their internal use of `Process.MainWindowHandle`. Consider the following example:

[code]

This function will return `true` in .NET Framework after a few refreshes, but `false` in .NET Core.

The reason is: once the getter of `MainWindowHandle` is called

[2020-02-22 03:53] jkotas commented on #32647
cc @ivdiazsa

[2020-02-22 04:02] bgrainger commented on #1793
[MySqlConnector](https://github.com/mysql-net/MySqlConnector) would _probably_ use this. It currently has a homemade version of something similar: the base TCP socket or Unix domain socket connection can optionally have a SslStream-based connection layered on top of it (if the connection is secure), and either of those can have protocol compression layered on top of them. (I say "maybe" because th

[2020-02-22 04:16] ReubenBond commented on #1793
Not 3rd party, but Orleans uses the Bedrock abstractions and we will use this when it becomes available. We can help validate the APIs early, if that may be useful to you.

[2020-02-22 04:56] danmosemsft commented on #32690
A PR would be great, thanks. For tests, we don't want to pop UI. It would need a more limited test. I think it is possible to mark a test so it's manual only and that could pop UI but I can't check right now.

[2020-02-22 05:01] danmosemsft commented on #25172
@eerhard not disagreeing they're publicly opaque but note that we "parse" them some ourselves
https://github.com/dotnet/runtime/blob/890c3b6ac0e7bb2fc9b4aa73201d417dd628b109/src/installer/Directory.Build.props#L228

[2020-02-22 05:20] danmosemsft commented on #32638
Nuget issue above

[2020-02-22 05:20] #32638 closed

[2020-02-22 05:21] danmosemsft commented on #32629
@janvorli

[2020-02-22 05:53] ahsonkhan commented on #29960
It's a struct that holds the JSON itself and provides ways for you to walk the document object model (DOM), programmatically.
https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsonelement?view=netcore-3.1

https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-how-to?view=netcore-3.1#use-jsondocument-for-access-to-data

expected values types are dynamic and i ma

[2020-02-22 05:58] ahsonkhan commented on #30524
Specifically, please provide feedback on the set of types @Jozkee plans to support for dictionary keys, especially if you need other types to be supported (basically, all the built-in primitive numeric types, enums, and a few others):
 https://github.com/dotnet/runtime/blob/a5d96c0e280b56412d4614848f5ee3b1e0d7f216/src/libraries/System.Text.Json/docs/KeyConverter_spec.md#keyconverter

@andrew-vdb,

[2020-02-22 09:12] scalablecory commented on #1793
@bgrainger Can you give more detail? The goal is to have a very flexible model for composability, and it would be great to know if there's a flaw we can address.

@ReubenBond Stream and Pipelines are both in broad use, and this is a way for us to enable wide adoption of the abstraction.

The intended behavior is that if only one is implemented, the other should wrap that. To avoid usage errors, on

[2020-02-22 09:34] am11 commented on #32606
It depends on the given library, how values are bound to the target type, In libraries where `foo=x&foo=y` is considered as an array `foo[]=x&foo[]=y` will likely map to two-dimensional arrays.

Though my comment was about having multiple values for a key.

[2020-02-22 09:39] BineG commented on #32646
This specific one not much. It send a couple of records into Kafka and ElasticSearch via clients shared in the Default AssemblyContext.

I did figure out that if I change the ALC's Load method from

    protected override Assembly Load(AssemblyName assemblyName)
    {
        var deps = AssemblyLoadContext.Default;
        var res = deps.Assemblies.Where(d => d.FullName.Contains(assemblyName.Name)

[2020-02-22 10:53] am11 commented on #32680
Previously termux krb5 package was used from their main set to compile corefx: https://github.com/termux/termux-packages/tree/master/packages/krb5. Current android build scripts are little out of sync (mainly they haven't been modernized with others), but I think if turmux is an option in your build process, that package should work.

[2020-02-22 11:27] antonfirsov commented on #1218
@karelz just noticed this while trying to sort out the mess with my GitHub notifications. Will look into it.

[2020-02-22 11:37] KalleOlaviNiemitalo commented on #31389
The [Microsoft.Diagnostics.Tracing.EventSource.Redist 2.2.0 NuGet package](https://www.nuget.org/packages/Microsoft.Diagnostics.Tracing.EventSource.Redist/2.2.0) still has the overflow checks.

[2020-02-22 13:54] Zetanova commented on #29960
@ahsonkhan Thx for your answere, but it is not answering it.
Because there is no generic option to cast/read the value from JsonElement,
the consumer of the POCO need to know about the JsonElement Type
and so it would be a new POCO type.
This would be somehow against the naming of Plain-Old-CLR-Object.

[2020-02-22 14:02] jeffputz commented on #30524
@Jozkee what are the types enabled for `TValue`? Presumably anything you can currently serialize as a standalone object?

[2020-02-22 14:59] moh-hassan commented on #32667
Thanks @vitek-karas  for the explanation.
I'll take your advice and use a custom ALC that use `AssemblyDependencyResolver` like [this ](https://docs.microsoft.com/en-us/dotnet/core/tutorials/creating-app-with-plugin-support#load-plugins).

[2020-02-22 15:11] bgrainger commented on #1793
This is complicated to explain briefly, but I'll try. Each packet in the MySQL protocol has a monotonically increasing "sequence number" in its header. Using compression in the protocol takes an arbitrary number of uncompressed packets, compresses them all together, then writes them as the payload of one or more compressed packets, which have their own sequence numbers. You might expect that this

[2020-02-22 16:44] hanastasov commented on #32594
Not able to do so in .Net Core 3.1, I guess because of the reason that @GrabYourPitchforks  explained - part of System.Web is not part of .NetCore. Anyway, I resolved my issue earlier in the pipeline and now I don't encode the URL with `%u`.

[2020-02-22 18:13] AndyAyersMS commented on #31770
Should be fixed by #32674.

[2020-02-22 18:13] #31770 closed

[2020-02-22 18:16] scholtz commented on #887
Hi @davidsh , I am trying to do windows authentication in linux according to this: https://docs.microsoft.com/cs-cz/aspnet/core/security/authentication/windowsauth?view=aspnetcore-3.1&tabs=visual-studio#kestrel

What I have observed, .net core 3.1 connects to System.Net.NTAuthentication which calls System.Net.Security.NegotiateStreamPal which calls unix Interop.NetSecurityNative.InitSecContext whi

[2020-02-22 19:06] bcronce commented on #23278
Having played with multithreading since a wee child, perfect is the enemy of good when it comes to concurrency. Knowing anything "exactly" is a concurrency anti-pattern. I've wrapped the concurrent dictionary just to get approximate counts many times.

Imagine if a video game wanted to know "exactly" when an event occurred and in what order. I can image it. I lived through the horrible netcode of

[2020-02-22 19:28] davidsh commented on #887
@scholtz The problem you are describing is not related to this particular issue. This issue is only about NTLM problems (client-side) on MacOS. So, it would be best for you to open a new issue to discuss your authentication issues on Linux.

That said, the problem you are describing is a server-side problem with asp.net core. Kestrel server does NOT support NTLM protocol. There is no way to tell i

[2020-02-22 20:35] obiwanjacobi opened #32769 "Load .netcore CLR into 3rd party native process"
Not really a bug/issue but a very specialized question I hope you can help me with.

I am porting Full-Fx code that is loaded into a native process. The purpose of the project is to allow managed plugin development for a native (C/C++) plugin standard running inside a native process. The main player is a C++/CLI (Common Language Integration) interop project that takes care of the marshaling betwee

[2020-02-22 21:13] zcsizmadia opened #32699 "API proposal: Add IProducerConsumerCollection to System.Threading.Channels.CreateUnbounded(...)"
### Reason

Currently unbounded channels use a ConcurrentQueue to hold the queued items. This concurrent queue is created in the internal UnboundedChannel object and cannot be changed. Since the Channel reader and writer architecture is a producer/consumer pattern, it would be great if the object holding the queued items could be provided to the channel creation, using the IProducerConsumerCollect

[2020-02-22 21:13] zcsizmadia opened #32700 "API proposal: Add IProducerConsumerCollection to System.Threading.Channels.CreateUnbounded(...)"
### Reason

Currently unbounded channels use a ConcurrentQueue to hold the queued items. This concurrent queue is created in the internal UnboundedChannel object and cannot be changed. Since the Channel reader and writer architecture is a producer/consumer pattern, it would be great if the object holding the queued items could be provided to the channel creation, using the IProducerConsumerCollect

[2020-02-22 21:30] #32699 closed

[2020-02-22 22:18] karelz commented on #32325
@lambdageek only 1 area label please.

[2020-02-22 22:20] karelz commented on #32177
@lambdageek please only 1 area label per issue - see [why](https://github.com/dotnet/runtime/blob/master/docs/project/issue-guide.md#motivation-for-triage-rules). Thanks!

[2020-02-22 22:23] karelz commented on #31959
@swaroop-sridhar only 1 area label per issue please - see [why](https://github.com/dotnet/runtime/blob/master/docs/project/issue-guide.md#motivation-for-triage-rules).

[2020-02-22 22:25] karelz commented on #31895
@steveharter only 1 area label per issue please - see [why](https://github.com/dotnet/runtime/blob/master/docs/project/issue-guide.md#motivation-for-triage-rules).

[2020-02-22 22:33] karelz commented on #31325
@tmds ping?

[2020-02-22 22:36] karelz commented on #31360
No response for 4 months, closing.
If there is more details, feel free to reopen and we can take a look.

[2020-02-22 22:36] #31360 closed

[2020-02-22 22:48] karelz commented on #29850
@ViktorHofer can you please create a new issue instead of reopening the old one which had associated PR and everything? Thanks!

[2020-02-22 22:48] #29850 closed

[2020-02-22 22:52] karelz commented on #29850
BTW: It looks that both the callstack and error message are different, so this is likely unrelated to the original test failure.

[2020-02-22 22:56] davidfowl commented on #282
IBufferWriter\<T\> is the thing you want, not Sequence\<T\>. You need a way to write data that you can also read as a ReadOnlySequence\<T\>. I was hoping ArrayBufferWriter could be this but its for contiguous memory.

But have no fear, @AArnott has your back https://github.com/AArnott/Nerdbank.Streams/blob/66186b4fa1daafcacb657ee09a9ea4c6a1194f98/doc/Sequence.md.

This should be added to the BCL.

[2020-02-22 23:29] karelz commented on #26209
This seems answered + no activity for 1.5 years, closing. If there is still some question remaining, I recommend to open a new issue and clarify slearly what is the question. Thanks!

[2020-02-22 23:29] #26209 closed

[2020-02-22 23:45] Reza1024 commented on #31156
@svick Sometimes the goal is not necessarily using the element. It could be just reporting the placement. Sometimes we know the item exist, we just need to know where it is.

Also re-enumerating in not always bad. It depends on what you are trying to optimize for, in many scenarios it could be done differently or converted to a list/array for performance reasons, but it is not a always true. You m

[2020-02-23 00:09] karelz commented on #2113
It is answered, closing.

[2020-02-23 00:09] #2113 closed

[2020-02-23 00:11] karelz commented on #1895
The test was disabled on all platforms in PR #1896 ...

[2020-02-23 00:14] karelz commented on #1857
Duplicate of #14674

[2020-02-23 00:14] karelz commented on #1857
Fixed in 5.0 in PR https://github.com/dotnet/corefx/pull/41686
Please try 5.0 and let us know if you still face the problem

[2020-02-23 00:19] MihaZupan commented on #1857
@karelz The length limit on the Uri constructor remains the same, that change only adresses the static Escape* methods since those do not allocate a Uri.

Removing the length limit would be possible, tho a breaking change if someone relies on the ctor for length validation. It would also be a performance regression (larger allocation for the Uri object), as we currently store indexes as ushorts in

[2020-02-23 00:20] SamuelEnglard commented on #32614
Not my API so I down own it 😄

I guess I don't want to have to care about reference type or not. Admittedly seems I'm alone on this desire though.

[2020-02-23 00:20] #32614 closed

[2020-02-23 00:26] svick commented on #31156
@Reza1024

You're right that you don't want to convert a huge enumerable to a list. But you also don't want to re-enumerate it, you want to retrieve all the information you need on the first pass.

If you're dealing with a database, you almost always have some kind of key and I can't imagine why you'd want to use index instead of that key.

I didn't notice this before, but `IndexOf` searches for a

[2020-02-23 00:35] karelz commented on #13479
Networking stress, esp. outerloop are known to be flaky. It is something we are trying to address for last few years, but the flakiness keeps coming back :(.
I recommend to exclude networking stress from JitStress runs until the functional tests are more stable.

[2020-02-23 00:35] #13479 closed

[2020-02-23 00:38] karelz commented on #12307
Unclear which test failure it tracks (to even say if it is a dupe of another existing tracking issue). Closing.

[2020-02-23 00:38] #12307 closed

[2020-02-23 01:08] AndyAyersMS commented on #32059
I think the issue is that we have a struct wrapped `long` with no other appearances of `long` in the method. When we promote the struct field we don't set `compLongUsed`, and so we fail to call `PrepareForDecomposition` and so miss further promotion to a pair of ints, hence the bug.

Should know shortly. If so the fix is pretty simple.

[2020-02-23 01:15] karelz commented on #1486
Same behavior on .NET Framework 4.8 --> documentation issue.

[2020-02-23 01:16] airbreather commented on #1857
@karelz my comment is probably unnecessary after @MihaZupan's, but just to confirm... the problem is still there.  I did a shallow clone of d9c448e, then ran `build.cmd`, then re-ran the repro with the obvious tweaks (`netcoreapp5.0`, incremented `TextLength` in `Program.cs`).

Here's the console output from that run (irrelevant path details collapsed to just `(...)`):

[code]

[2020-02-23 02:34] airbreather commented on #1857
Sorry in advance for what's probably a naïve analysis, I only took a brief look at the data layout to get a feel for what's behind this, and I had a thought.  *Also, I'm a sucker for performance-related puzzles.*

`MoreInfo` looks like it's implementing a pattern that I've used before when storing property values that aren't needed in performance-sensitive cases; is that right?

If so, perhaps we

[2020-02-23 02:39] karelz commented on #1065
Here's minimal repro:
[code]

Output on 3.0 and 3.1 (Windows) -- buggy:
[code]

Output on 2.2 -- expected:
[code]

[2020-02-23 02:40] GrabYourPitchforks commented on #1857
Reopened per https://github.com/dotnet/runtime/issues/1857#issuecomment-590012273 since it was incorrectly resolved as a dupe. The NCL team may still want to resolve it as "won't fix" at their discretion, but it's not a dupe.

[2020-02-23 02:46] ricardoboss commented on #7120
I just want to execute some cleanup before my program exists. I hope this issue gets resolved before .NET 5.

[2020-02-23 02:56] GrabYourPitchforks commented on #32687
Suspicious call stack in the ICU component.

[code]

[2020-02-23 03:06] ygc369 opened #32703 "Why is Microsoft.Extensions.Primitives.InplaceStringBuilder obsolete?"
I have not explored it in depth, but I have found that it is a `struct`, so it might have a bit performance advantage over `StringBuilder` which is a `class`.
I wonder why it is marked as obsolete?

[2020-02-23 03:18] karelz commented on #1486
Based on code inspection and code experiment:
.NET Framework throws for `HttpListenerRespose.Headers`: https://referencesource.microsoft.com/#System/net/System/Net/WebHeaderCollection.cs,665
The value `WebHeaderCollectionType.HttpListenerResponse` is set only in `HttpListenerResponse`: https://referencesource.microsoft.com/#System/net/System/Net/WebHeaderCollection.cs,e89b4b499f50aee7,references

[2020-02-23 03:38] davidfowl commented on #32703
[string.Create](https://docs.microsoft.com/en-us/dotnet/api/system.string.create?view=netcore-3.1) is a better alternative.

[2020-02-23 03:53] Jozkee commented on #30524
Yes.

[2020-02-23 03:59] ygc369 commented on #32703
@davidfowl
I have a question about `string.Create`, for it requires the string length as a parameter, then what if the initialized length (the length of the the initialized part) is less then the string length? if this happened, there would be an uninitialized part left in the string, if we show the string, what would happen?

[2020-02-23 04:10] davidfowl commented on #32703
You'll have null characters left in the string.

[2020-02-23 04:17] alanisaac commented on #32341
I can pick up some of this work, so long as it'd be OK for a first contribution to the dotnet runtime.  I've started on a couple in a draft PR (#32705), and will continue to work through them.

[2020-02-23 05:18] DaZombieKiller commented on #282
@davidfowl

That looks almost perfect for my purposes, although it lacks the ability to seek backwards in the sequence, which would be needed to enable writes to arbitrary positions.

[2020-02-23 05:20] artelk opened #32706 "Proposal: introduce IMemory interface to improve performance"
## Motivation
Currently the Memory.Span property is quite complex and it is slower than in could be (see benchmarks below). It will probably be even slower with Utf8String support: https://github.com/dotnet/runtime/blob/fff8f5ab763f3c1eea95ab201bfde9bd4b6e62fb/src/libraries/System.Private.CoreLib/src/System/Memory.cs#L313
And for the unmanaged memory exposed via MemoryManager it is already signifi

[2020-02-23 05:42] ygc369 commented on #32703
@davidfowl
I have tested string with null chars, and find that when I use `Console.WriteLine` to show such string, these null chars are just like "blank space" chars and printable chars after null chars can be shown too. Sometimes this is not my expected behavior. I hope the null char could be the terminated flag of a string, no matter what exist after it.
So I propose to add the following propert

[2020-02-23 07:40] DaZombieKiller commented on #32703
This conflicts with the idea of strings being considered immutable in .NET, thus I personally am against it.

`string.Create` is intended for situations where you know the length of the string in advance, so you can avoid multiple allocations.

`InplaceStringBuilder` is a very similar API with roughly the same restrictions. The `capacity` parameter of `InplaceStringBuilder`'s constructor is actual

[2020-02-23 08:06] ygc369 commented on #32703
@DaZombieKiller
Thank you for your example, but I think I can even do it like the following:
[code]

[2020-02-23 08:08] scalablecory commented on #23278
`Count` must already be treated as `ApproximateCount` for this very reason.

It would be useful before thinking of a new API to look at the implementation of `Count` and see if it can be done with less locking without affecting the performance of the other operations.

[2020-02-23 08:11] DaZombieKiller commented on #32703
@ygc369 That is indeed another way to do it, although I find the `Unsafe.As` approach to be much more readable (and clearer) than using pointer arithmetic.

[2020-02-23 08:42] jkotas commented on #32703
Both the suggestions above are corrupting GC heap. You are likely going to see a crash during next GC. Do not ever do that.

[2020-02-23 08:42] #32703 closed

[2020-02-23 09:07] DaZombieKiller commented on #32703
@jkotas That's news to me, I had mainly advised against it due to memory wastage, but if there's potential GC heap corruption then I regret even mentioning it. Could you offer any additional details pertaining to how/why this corrupts the heap for curiosity's sake?

[2020-02-23 09:07] NextTurn opened #32708 "System.Runtime.Loader.DetermineLibraryNameVariations on Windows doesn't match native"
Reopened #12566

Related to dotnet/corert#5717

`System.Runtime.Loader.DetermineLibNameVariations` is used by:

- `System.Runtime.Loader.AssemblyDependencyResolver` in CoreCLR with `File.Exists` probing.
- P/Invoke in CoreRT with `LoadLibrary` probing.

The file names listed are **real names** in file system instead of parameters in `LoadLibrary` calls.

## Expected managed behaviors

- **The name

[2020-02-23 10:20] YohDeadfall commented on #876
@layomia @karelz updated the first message to list problems which block the PR.

[2020-02-23 10:43] baehny commented on #2317
I'm not sure. How can I get a nightly build of the runtime ?

I only found the preview SDK Version: 5.0.100-preview.2.20120.11 at
https://github.com/dotnet/core-sdk/blob/master/README.md

Sadly this build still crashs using Visual Studio16.5.0 Preview 2.0 and the test program described in https://developercommunity.visualstudio.com/content/problem/698374/vs2019-and-fatal-error-has-occurred-and-deb

[2020-02-23 11:40] ohsorry opened #32709 "[API Proposal] Construct System.IO.MemoryStream from Memory<byte> / Span<byte>."
It would be great if `Memory<byte>` could have `Stream`-like APIs like `Write/WriteAsync` , `Read/ReadAsync`, `Position`, etc.

[2020-02-23 11:57] stephentoub commented on #32709
Thanks. Dup of https://github.com/dotnet/runtime/issues/22838.

[2020-02-23 11:57] #32709 closed

[2020-02-23 12:36] mrpmorris opened #32710 "[System.Text.Json] Dictionary is not supported"
The following code

`string json = System.Text.Json.JsonSerializer.Serialize(new Dictionary<int, int>());`
Throws an exception

[code]

[2020-02-23 12:46] GSPP commented on #13827
Another use case is verifying custom generated DLLs as a debugging aid. Invalid IL can be hard to detect and diagnose from just execution alone.

[2020-02-23 13:10] DevDrake opened #32712 "API Proposal: Linq Any and All should have versions with indexer"
**Justification**

Where and Select functions are providing the way of selector/predicate with indexer. Any and All seems to embed Where filter, therefore it should also support predicate with indexer.
I sow plenty of code that code around this issue using **Where((x,i)=>...)** and then empty **.Any()** or **.All(...)**.

This API obviously isn't required for apps to have correct behavior. But it

[2020-02-23 13:45] DevDrake commented on #32679
I wouldn't expect that kind of method to be in public API personally. It seems like you will update this value in the end (otherwise I don't see use case for that), so you will end up with _dict[key] = modified_value_, which will insert keyValue into the **Dictionary**.
In your proposed solution you are returning val, not reference to dict[key] therefore I see no difference to _dict.TryGetValue(ke

[2020-02-23 14:30] benaadams opened #32714 "Vector128<byte>:get_Zero() doesn't inline (or intrinsicify) at crossgen"
Nor does `Vector128<byte>.Count()` or ``Vector128:AsByte(Vector128`1):Vector128`1``

`ASCIIUtility.WidenAsciiToUtf16_Sse2` calls `Vector128<byte>.Zero`

https://github.com/dotnet/runtime/blob/fd181c0210c263e40ce8b908bdd521d8f3cc284e/src/libraries/System.Private.CoreLib/src/System/Text/ASCIIUtility.cs#L1633-L1637

Which ends up reserving stack, making call and reading the stack back to zero a `xmm`

[2020-02-23 15:06] artelk commented on #32712
You can achieve that with Select returning the tuple
[code]

[2020-02-23 15:11] benaadams commented on #32714
Switching it for `default` produces
[code]

[2020-02-23 15:11] artelk commented on #32710
The Serialize method has an optional parameter JsonSerializerOptions.
You can provide a "Converter": https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-converters-how-to?view=netcore-3.1#registration-sample---converters-collection

[2020-02-23 15:25] jkotas commented on #32708
AssemblyDependencyResolver feeds the name into `FileExist`. P/Invoke resolver feeds the name into `LoadLibrary`. The logic for each two cases is different for a reason. `LoadLibrary` does its own appending of `.dll` suffix, etc.

Related comment: https://github.com/dotnet/coreclr/pull/24203#discussion_r277902414

Perhaps this should be fixed by having an extra bool argument that says what the resu

[2020-02-23 15:26] jkotas commented on #32708
We can use  dotnet/corert#5717 to track this. This is CoreRT specific issue. We track CoreRT specific issues in CoreRT repo.

[2020-02-23 15:26] #32708 closed

[2020-02-23 15:34] jkotas commented on #32703
Yes, that is the problem.

The discussion in https://github.com/HelloKitty/Reinterpret.Net/issues/1 has a lot more details about this.

[2020-02-23 15:34] DevDrake commented on #32712
Indeed. However it is much slower than native implementation:
[code]

[code]

[2020-02-23 15:44] pisees opened #32715 "RSocket compared to System.IO.Pipelines"
Can you compare these two technologies to each other? Any thoughts for ASP.NET Core support RSocket in addition to gRPC?

[2020-02-23 16:04] davidfowl commented on #32715
System.IO.Pipelines and Rsocket aren't comparable technologies, RSocket is more like SignalR than anything else. It's a messaging protocol that can sit on top of any streaming transport.

We don't have any plans to support RSocket out of the box and there's already a .NET package https://github.com/rsocket/rsocket-net/ (though it looks mostly inactive, I tried sending a PR https://github.com/rsock

[2020-02-23 16:15] artelk commented on #32712
I think Linq to Objects shouldn't be used for the code that require maximum-possible performance.
And I suspect the Any with indexer is too exotic for being added to the framework.
If the predicate only checks the index you probably could call Count() or Take(N).Count() to determine if the Any is true.
And I couldn't invent a real example when you would need a predicate by both value and index.

[2020-02-23 17:01] svick commented on #32679
There is already a proposal for adding `GetOrAdd` to `Dictionary`: https://github.com/dotnet/runtime/issues/15059.

[2020-02-23 17:21] k15tfu commented on #32093
@davmason I know that it's not a normal practice to port new features to previous releases. But for this case I thought it might be possible because
1) 3.1 is LTS that will be used for almost 3 years
2) the fix is pretty simple (just update the configs). It doesn't rework other parts, and most likely will not break anything.

There will certainly be end users expecting attach to work on Mac, but I

[2020-02-23 17:28] alanisaac commented on #32710
My understanding is that this is currently by design in 3.x.

There's a good discussion of this issue you can follow in #30524.

The current state is that there is a proposal in progress, see https://github.com/dotnet/runtime/pull/32676

[2020-02-23 19:06] mburbea commented on #32712
I would wonder if `.Where((x,i)=> i==5).Any()` would be faster?

[2020-02-23 19:22] eltiare commented on #31849
I am experiencing this bug also and would like a work-around. Perhaps writing my own converter that overrides an existing one?

[2020-02-23 20:04] AArnott commented on #282
@DaZombieKiller You want random write access rather than append-only?

[2020-02-23 20:09] DaZombieKiller commented on #282
@AArnott I have no need for insertion, only the ability to write to an arbitrary position in the sequence, overwriting anything already present there.

[2020-02-23 20:10] AArnott commented on #282
Well, that extends beyond anything `IBufferWriter<byte>` would ever expose. What API are you imagining you'd use while writing to arbitrary positions? Keep in mind the backing buffers are broken up into potentially many backing arrays, at somewhat arbitrary positions.

[2020-02-23 20:11] AArnott commented on #282
BTW, if your writing at arbitrary positions is limited to what I call "length prefixing", I have [a solution for that too](https://github.com/AArnott/Nerdbank.Streams/blob/master/doc/PrefixingBufferWriter.md).

[2020-02-23 20:18] DaZombieKiller commented on #282
I was imagining a situation where I could retrieve a `Sequence<T>` starting at a requested position, and then enumerate its `Memory<T>`s. Something along these lines (forgive the likely bad example, I just woke up):
[code]

[2020-02-23 20:22] AArnott commented on #282
Ya, I think your example might need some tweaking to make sense. Or at least some code comments.

What is the scenario for this? If you're just trying to recycle memory, `Sequence<T>` can already do that.

[2020-02-23 20:26] DaZombieKiller commented on #282
My use case is a memory heap for a virtual machine, which I briefly mentioned earlier. The VM has instructions that can access random memory locations. Memory is allocated for "out of bounds" accesses. An alternative implementation I was considering was a sparse array, but I was hoping I could leverage `ReadOnlySequence<T>` and a writable equivalent.

[2020-02-23 20:43] luigiberrettini opened #32719 "Socket.Poll(μsTimeout, SelectMode.SelectRead) behavior is confusing"
Opened as suggested by @karelz when closing #26209

[Microsoft Docs](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket.poll?view=netstandard-2.1) say that `Socket.Poll`:
 - will block execution until the specified time period, measured in microseconds, elapses
 - cannot detect certain kinds of connection problems, such as a broken network cable,
or that the remote host was shut

[2020-02-23 20:48] GrabYourPitchforks commented on #32714
Seems to be getting optimized correctly under Tier 1, perhaps a crossgen-specific issue?

[2020-02-23 21:07] #32710 closed

[2020-02-23 21:08] davidfowl commented on #282
Seems achievable with a Seek functionality but it’s for the writer not the reader. So the Sequence\<T\> would have a Seek to move the current writing head. That seems fine to me

[2020-02-23 21:21] DevDrake commented on #32712
That's just example, obviously no one will use it just for that. The need for Any/All indexer are the same as for Where/Select indexer. No more no less in my opinion.
As for me, current API is inconsistent, as Where have indexer where All/Any have not.

[2020-02-23 21:28] DevDrake commented on #32712
[code]
and results

[code]

[2020-02-23 21:49] stephentoub commented on #32678
What version of .NET are you using?

[2020-02-23 22:10] vcsjones commented on #32558
@bartonjs should this be serviced in to the 3.1 LTS branch? This "broke" in 3.0 because cause decoding was done in OpenSSL instead of the managed implementation, I believe.

[2020-02-23 22:11] aggieben commented on #32376
@carlossanlop the reason I said I don't want to care about `LastAccess` is that I only care when the file has been written.

[2020-02-23 22:33] davidsh commented on #32721
OS: Windows 10 (1903)
Docker version: 19.03.5

What is the specific Windows OS docker image that you are using? Is it Windows Server Core or Windows Nano Server docker image?

[2020-02-24 01:00] danmosemsft commented on #554
Looks like this is because on .NET Framework, `Environment.GetFolderPath()` uses `ShGetFolderPath` which cannot give you the downloads folder (it has no CSIDL value). On .NET Core, perhaps to accommodate long paths, we already changed to `ShGetKnownFolderPath`. This takes `KNOWNFOLDERID` and Downloads has one of these.

This is essentially an API request for new members of Environment.SpecialFolde

[2020-02-24 01:23] symphony2014 commented on #32596
@josalem , @EgorBo ,it was successful when I try with **dotnet publish -c Release -r win10-x64**, other than just use the **Consoleapp.dll** generated from Visual studio 2019 **Debug**.

failed case:
![image](https://user-images.githubusercontent.com/6380601/75123994-27991780-56e7-11ea-8091-73dbcb87a051.png)

success case:
![image](https://user-images.githubusercontent.com/6380601/75123955-d852e70

[2020-02-24 02:52] VincentBu commented on #32379
This test failed again.
**Job:**
[runtime-coreclr gcstress-extra 20200221.2](https://dev.azure.com/dnceng/public/_build/results?buildId=532809&view=ms.vss-test-web.build-test-results-tab
)

**Related tests:**
Interop/PInvoke/Vector2_3_4/Vector2_3_4/Vector2_3_4.sh

**Error message:**
`
\nAssert failure(PID 318 [0x0000013e], Thread: 318 [0x013e]): Assertion failed '!varTypeIsFloating(targetType) ||

[2020-02-24 03:09] v-haren commented on #32379
failed again in job:
[runtime-coreclr jitstress](https://dev.azure.com/dnceng/public/_build/results?buildId=533451&view=ms.vss-test-web.build-test-results-tab&runId=16935280&resultId=100032&paneView=debug)
[runtime-coreclr jitstress2-jitstressregs](https://dev.azure.com/dnceng/public/_build/results?buildId=533684&view=ms.vss-test-web.build-test-results-tab&runId=16939972&resultId=108033&paneView=d

[2020-02-24 03:09] v-haren commented on #32466
failed again in job:
[runtime-coreclr r2r](https://dev.azure.com/dnceng/public/_build/results?buildId=533463&view=ms.vss-test-web.build-test-results-tab&runId=16935794&resultId=108531&paneView=debug)

[2020-02-24 03:32] JakenVeina opened #35060 "Request for Logging Internals to be public again"
Use case: I'd like to have a [`LoggerMessage.Define()`](https://github.com/dotnet/extensions/blob/master/src/Logging/Logging.Abstractions/src/LoggerMessage.cs) method that accepts more than 5 type args. I'm perfectly happy to implement this myself, by just copying how the others are done, in my own project, and adding more type args. However, the existing implementations rely on the `internal` [`L

[2020-02-24 03:44] danmosemsft commented on #32679
Or consider Dictionaryslim. The comment at the top of it explains the tradeoffs it offers.
https://github.com/dotnet/corefxlab/blob/master/src/Microsoft.Experimental.Collections/Microsoft/Collections/Extensions/DictionarySlim.cs#L217

[2020-02-24 04:36] Turnerj commented on #32418
This might be answered elsewhere but why the `System.Numerics` namespace? Not that I have a better suggestion, just more curious to the choice.

[2020-02-24 04:40] AaronRobinsonMSFT commented on #32642
Within the link that @stephentoub mention above, there is a comment about `ICollection.IsNullOrEmpty()`. Perhaps that would have a bit more traction. I am personally convinced by the argument this isn't needed specifically for `Array`, but would be open to the debate for `ICollection`.

[2020-02-24 04:51] aaronfranke commented on #32418
@Turnerj Mostly because I don't know where else to put it. `System.Numerics` is also where the vector types are, so it seems fitting since they are similar in structure (but not similar in purpose).

[2020-02-24 06:04] karelz commented on #1857
Sorry, I assumed the static methods are used in constructor as well. I was wrong. Thanks for reopening @GrabYourPitchforks.

Seeing as there isn't much demand for Uris that long I don't think it is worth doing it.

I don't mind the breaking change, but the perf impact is undesired given rare demand. I recommend to close it as "Won't fix" -- recommending workaround to use the static methods without

[2020-02-24 06:49] BhaveshNarain commented on #721
Thanks. Installing Runtime (v3.1.2) - Windows x64 worked for me.

[2020-02-24 07:42] v-haren opened #32723 "Test failure in JIT\\Regression\\CLR-x86-JIT\\v2.1\\DDB\\B168384\\LdfldaHack\\LdfldaHack.cmd"
Job: [runtime-coreclr crossgen2 20200222.1](https://dev.azure.com/dnceng/public/_build/results?buildId=533488&view=ms.vss-test-web.build-test-results-tab&runId=16936268&resultId=102207&paneView=debug)

Error message
`
Fatal error. System.AccessViolationException: Attempted to read or write protected memory. This is often an indication that other memory is corrupt.\r\n at LdfldaHack.Main()\r\n\r\nR

[2020-02-24 07:50] v-haren opened #32724 "Test failure in JIT\\opt\\ObjectStackAllocation\\ObjectStackAllocationTests\\ObjectStackAllocationTests.cmd"
job:
[runtime-coreclr crossgen2 20200222.1](https://dev.azure.com/dnceng/public/_build/results?buildId=533488&view=ms.vss-test-web.build-test-results-tab&runId=16936268&resultId=101940&paneView=debug)

Error message:
`
\r\nReturn code: 1\r\nRaw output file: C:\h\w\986B0834\w\AA5B0938\e\JIT\opt\Reports\JIT.opt\ObjectStackAllocation\ObjectStackAllocationTests\ObjectStackAllocationTests.output.txt\r\

[2020-02-24 08:05] v-haren opened #32725 "Test failure in JIT\Intrinsics\TypeIntrinsics_ro\TypeIntrinsics_ro.cmd"
Job:
[runtime-coreclr crossgen2 20200222.1](https://dev.azure.com/dnceng/public/_build/results?buildId=533488&view=ms.vss-test-web.build-test-results-tab&runId=16936268&resultId=101892&paneView=debug)

releated tests:
JIT\\Intrinsics\\TypeIntrinsics_ro\\TypeIntrinsics_ro.cmd
JIT\\Intrinsics\\TypeIntrinsics_r\\TypeIntrinsics_r.cmd

Error message:
`
Error: Operation is not valid due to the current s

[2020-02-24 08:15] v-haren commented on #32725
also failed in test:
JIT\\Stress\\ABI\\pinvokes_d\\pinvokes_d.cmd
JIT\\Stress\\ABI\\tailcalls_do\\tailcalls_do.cmd
JIT\\Stress\\ABI\\tailcalls_d\\tailcalls_d.cmd
JIT\\Stress\\ABI\\pinvokes_do\\pinvokes_do.cmd
JIT\\Stress\\ABI\\stubs_do\\stubs_do.cmd

[2020-02-24 08:19] v-haren opened #32726 "Test failure in JIT\\superpmi\\superpmicollect\\Bytemark\\Bytemark.cmd"
Job:
[runtime-coreclr crossgen2 20200222.1](https://dev.azure.com/dnceng/public/_build/results?buildId=533488&view=ms.vss-test-web.build-test-results-tab&runId=16936268&resultId=102132&paneView=debug)

Error message:
`
Unhandled exception. System.IO.FileNotFoundException: Could not load file or assembly 'C:\h\w\986B0834\w\AA5B0938\e\JIT\superpmi\superpmicollect\Bytemark\Bytemark.dll'. The system c

[2020-02-24 08:21] MichalStrehovsky commented on #32724
Crossgen2 doesn't support the `COMPlus_JitObjectStackAllocation=1` environment variable. We just need a way to pass this as a `--codegenopt:JitObjectStackAllocation=1` argument to crossgen2 invocation.

We could also just add support for the environment variables, but environment variables are a pretty bad interface (they're the typical source of the "why can't I repro this on my box?" fun).

[2020-02-24 08:35] v-haren opened #32727 "Test failure in baseservices/threading/paramthreadstart/ThreadStartBool/ThreadStartBool.sh"
Job:
[runtime-coreclr crossgen2 20200222.1](https://dev.azure.com/dnceng/public/_build/results?buildId=533488&view=ms.vss-test-web.build-test-results-tab&runId=16935746&paneView=debug&resultId=100009)

Error message:
`
Managed assembly not found: No such file or directory\n\nReturn code: 1\nRaw output file: /private/tmp/helix/working/9D000951/w/A420097F/e/baseservices/threading/Reports/baseservice

[2020-02-24 08:39] AdamRiddick commented on #1803
I'm going to close this issue as we are unable to reproduce and we have no servers remaining to update that this issue could affect. Back to where we were previously - if this does re-occur and I manage to get a copy of the logs from the failed installation I will re-open or open a new issue.

Thanks.

[2020-02-24 08:39] #1803 closed

[2020-02-24 08:39] v-haren opened #32728 "Test failure in tracing/tracevalidation/tracelogging/tracelogging/tracelogging.sh"
Job:
[runtime-coreclr crossgen2 20200222.1](https://dev.azure.com/dnceng/public/_build/results?buildId=533488&view=ms.vss-test-web.build-test-results-tab&runId=16935746&paneView=debug&resultId=101919)

Error message:
`
Error: [TEMPORARY EXCEPTION MESSAGE] FileLoadErrorGeneric: netstandard\nInternal.TypeSystem.TypeSystemException+FileNotFoundException: [TEMPORARY EXCEPTION MESSAGE] FileLoadErrorGen

[2020-02-24 08:41] v-haren opened #32729 "Test failure in JIT/opt/ObjectStackAllocation/ObjectStackAllocationTests/ObjectStackAllocationTests.sh"
failed in job: [runtime-coreclr crossgen2 20200222.1](https://dev.azure.com/dnceng/public/_build/results?buildId=533488&view=ms.vss-test-web.build-test-results-tab&runId=16935746&paneView=debug&resultId=102249)

Error message:
`
\nReturn code: 1\nRaw output file: /private/tmp/helix/working/9D000951/w/BFB60A37/e/JIT/opt/Reports/JIT.opt/ObjectStackAllocation/ObjectStackAllocationTests/ObjectStackAll

[2020-02-24 08:48] v-haren opened #32730 "Test failure in JIT/superpmi/superpmicollect/superpmicollect.sh"
failed in job: [runtime-coreclr crossgen2 20200222.1](https://dev.azure.com/dnceng/public/_build/results?buildId=533488&view=ms.vss-test-web.build-test-results-tab&runId=16935752&paneView=debug&resultId=102063)

Error message:
`
Fatal error. Failed to load alternative JIT compiler\n at System.SpanHelpers.IndexOf(Char ByRef, Char, Int32)\n at System.String.Ctor(Char*)\n at System.AppContext.Setup(C

[2020-02-24 09:05] v-haren opened #32731 "Test failure in Loader\\classloader\\MethodImpl\\self_override5\\self_override5.cmd"
failed in job: [runtime-coreclr crossgen2 outerloop 20200222.1](https://dev.azure.com/dnceng/public/_build/results?buildId=533489&view=ms.vss-test-web.build-test-results-tab&runId=16936746&resultId=101201&paneView=debug)

Error message
`
\r\nReturn code: 1\r\nRaw output file: C:\h\w\B45D0A3D\w\9CDB08F6\e\Loader\classloader\Reports\Loader.classloader\MethodImpl\self_override5\self_override5.output.

[2020-02-24 09:08] v-haren opened #32732 "Test failure in JIT\\Regression\\clr-x64-JIT\\v4.0\\devdiv374539\\DevDiv_374539\\DevDiv_374539.cmd"
failed in job: [runtime-coreclr crossgen2 outerloop 20200222.1](https://dev.azure.com/dnceng/public/_build/results?buildId=533489&view=ms.vss-test-web.build-test-results-tab&runId=16936746&resultId=109863&paneView=debug)

Error message
`
\r\ncmdLine:C:\h\w\B45D0A3D\w\B36A0995\e\JIT\Regression\clr-x64-JIT\v4.0\devdiv374539\DevDiv_374539\DevDiv_374539.cmd Timed Out\r\n\r\nReturn code: -100\r\nRaw ou

[2020-02-24 09:17] v-haren opened #32733 "Test failure in JIT/jit64/opt/cse/HugeArray1/HugeArray1.sh"
failed in job: [runtime-coreclr crossgen2 outerloop 20200222.1](https://dev.azure.com/dnceng/public/_build/results?buildId=533489&view=ms.vss-test-web.build-test-results-tab&runId=16936328&paneView=debug&resultId=110111)

Error message
`
\ncmdLine:/home/helixbot/work/B79909FA/w/BBBE0A3C/e/JIT/jit64/opt/cse/HugeArray1/HugeArray1.sh Timed Out\n\nReturn code: -100\nRaw output file: /home/helixbot/wor

[2020-02-24 09:38] filipnavara commented on #32680
If I had to guess it's the fact that `MonoWebRequestHandler` (the old handler) wraps `HttpWebRequest`. On Mono the implementation of `HttpWebRequest` is totally different from the CoreFX one and it implements NTLM in managed code. The NTLM implementation is limited to password-based credentials but it's still better than nothing.

[2020-02-24 09:54] tmds commented on #31719
@mikem8361 I'm still not able to load the coredump:
[code]

Can you make it work on your machine with the contents of:
- [CoreCLRProduct_Linux_x64_release.zip](https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_apis/build/builds/508988/artifacts?artifactName=CoreCLRProduct_Linux_x64_release&api-version=5.1&%24format=zip)
- [core.1000.24](https://helix.dot.net/api/2019-06-17/jobs/f1

[2020-02-24 10:23] janvorli commented on #32646
@BineG the best way to figure out what's holding the assemblies alive is to use WinDbg, as I've described in the https://docs.microsoft.com/en-us/dotnet/standard/assembly/unloadability#troubleshoot-unloadability-issues. With your sample, you can run it under WinDbg and wait until it gets into that infinite loop at the end of `Main`. Then break the execution and follow the steps described in the do

[2020-02-24 10:24] svkuhn opened #32734 "LDAP over SSL (Port 636) and GetDomain not working"
Problem:
I need to use ldap over ssl (LDAPS, Port 636) in order to use GetDomain. But currently as soon as i change my domain to  SSL only i can't establish a connection.

As what i found the problem currently is:
Utils.AuthType is internal, so i can't change the value to AuthType.SecureSocketLayer | AuthType.Secure.

Using DirectoryEntry with the correct AuthenticationType successfully establishs

[2020-02-24 10:31] DerGary opened #35988 "Xamarin.IOs Operation is not supported on this platform"
### Describe the bug
I can't really describe why the bug is occuring Because I don't understand where in the code exactly it occurs. But I try my best. So I have a Xamarin.IOs app with different Pages. When I navigate to a page that creates a couple of ViewModels (that are using Dependency Injection) then navigate back and then navigate to this page again, then an exception is raised in an unobser

[2020-02-24 10:39] ststeiger opened #32735 "PublishSingleFile with Windows Service doesn't work with config-file"
The PublishSingleFile option is rubbish.
I have a windows-service - simplified code posted below.
That windows service has an appsettings.json file, posted below.
In that config file, I can set the  the query interval and the GlobalMemoryStatusEx memory limit.

The code of the service is basically
[code]

As you can see in the code, I listen for changes in the appsetings.json file, and update the

[2020-02-24 10:41] janvorli commented on #32646
Btw, the VS crash when debugging unloadable code is tracked by https://github.com/dotnet/runtime/issues/2317, it was already fixed in master and the PR #28023 is porting that fix to 3.1.

[2020-02-24 11:24] #32667 closed

[2020-02-24 11:32] PeshkoBeshko commented on #32721
I'm not sure I completely understand the question.
Most probably because I'm a novice into docker/.NETCore.

It is just an image based on .Net Core 3.1.
Here is the docker file for the image build:

FROM mcr.microsoft.com/dotnet/core/runtime:3.1
COPY bin/Debug/netcoreapp3.1/ app/
ENTRYPOINT ["dotnet", "app/HttpServer.dll"]

I'm not sure if in this case it will be Linux or Windows one.
I assumed it

[2020-02-24 11:59] benaadams commented on #2325
While reviewing changes from https://github.com/dotnet/runtime/pull/32538, I noticed  `DateTimeParse` class is probably a good example e.g.

``DateTimeParse:ParseExact(ReadOnlySpan`1,ReadOnlySpan`1,DateTimeFormatInfo,int):DateTime``

[code]

[2020-02-24 12:24] GSPP opened #32737 "Offer Posix-style file and directory deletion APIs"
It seems that recent versions of Windows offer the ability to immediately delete "POSIX style": https://docs.microsoft.com/en-us/windows-hardware/drivers/ddi/ntddk/ns-ntddk-_file_disposition_information_ex

This means that file deletion is fully synchronous. The name for the file is deleted while open handles can still exist.

Asynchronous file deletion on Windows is a fairly common pain-point, fo

[2020-02-24 12:31] marcselis commented on #31717
We have 100's of applications that all use a common framework to talk to databases and queues.  This common framework is compiled against .NET Standard 2.0 and uses Thread.CurrentPrincipal for authentication and for audit logging. Most of its code is async.

This common framework works ok in .NET Framework 4.6.1 to 4.8 applications.
But this bug is preventing us from migrating any of those existin

[2020-02-24 13:12] ram62836 opened #32738 "File read/write issue with NFS volume mount in Kubernetes"
Hi There,

We are mounting a nfs volume to asp core docker container and trying to read/write files. By SSH into container we were able to read/write files and list the files, so the volume mount is successful. While reading or writing from code, application just hangs. While trying to create a file and write, it creates the file, but hangs while writing. Tried with asp core 2.2 and 3.1 found no l

[2020-02-24 14:01] stephentoub commented on #32737
cc: @JeremyKuhne

[2020-02-24 14:15] davidsh commented on #32721
The docker image you are using in a Linux based one:

[code]

In general the HttpListener class is a legacy component we ported from .NET Framework (which is Windows only) to .NET Core. But HTTPS functionality is not supported on Linux. See: https://github.com/dotnet/runtime/issues/19752

If you need a cross-platform HTTP/HTTPS server, we recommend you use ASP.NET Core. The 'Kestrel' component sup

[2020-02-24 14:17] davidsh commented on #32721
Duplicate of #19752

[2020-02-24 14:17] #32721 closed

[2020-02-24 14:33] dozed opened #32765 "response.Content.Headers.ContentDisposition.FileName contains quotes"
### Describe the bug

When creating a `Content-Disposition` header:

[code]

`response.Content.Headers.ContentDisposition.FileName` contains quotes:

[code]

Evaluates to:

[code]

I would expect that the quotes would be removed.

### To Reproduce

- Clone https://github.com/dozed/aspnetcore-test-2
- Run Unit Test

### Further technical details
- ASP.NET Core version v3.1
- Include the output of `

[2020-02-24 14:38] steveisok opened #32739 "Gather base build image requirements for iOS & Android"
In order to optimize the build for both iOS & Android, we need to come up with a list build requirements so that base images can be created / used.

- [x] iOS (osx version, xcode, etc)
- [x] Android (linux version, ndk version, etc).

[2020-02-24 14:39] TimHess commented on #32558
I'm not sure the subject names _will_ be fixed from the other side in our case, so adding this change in 3.1 would allow the feature I'm working on to work cross-platform nearly a year sooner than having to wait for 5.0, so I would really appreciate it!

[2020-02-24 14:45] martinvobr commented on #31437
Maintained list of all known 3rd party SFTP client libraries for .NET (both free and commercial) is here:  https://www.sftp.net/client-libraries

[2020-02-24 15:23] BineG commented on #32646
@janvorli Ok thank you for your reply. When can we expect the PR to be merged?

I already tried using WinDbg but without much success since I'm unfamiliar with that tool. I will try again and post the findings here.

[2020-02-24 15:35] janvorli commented on #32646
Based on the comment in the porting PR, it was approved for April release.

[2020-02-24 16:00] jaredpar commented on #32497
These assertions are causing the coreclr outerloop builds to fail at the moment. Looks to be 100% failure rate.

Failing tests are

- `JIT\\Directed\\coverage\\importer\\Desktop\\nullsdarr_il_d\\nullsdarr_il_d.cmd`
- `JIT\\Directed\\coverage\\importer\\nullsdarr\\nullsdarr.cmd`

### Builds
|Build|Pull Request | Test Failure Count|
| --- | --- | --- |
|[#533208](https://dev.azure.com/dnceng/public/

[2020-02-24 16:00] jaredpar commented on #32497
@BruceForstall FYI

[2020-02-24 16:09] jaredpar opened #32741 "Official builds failing during signing validation"
Failing at 100% since at least 2020/2/21 with a single signing validation issue.

https://dev.azure.com/dnceng/internal/_build?definitionId=679&_a=summary

[code]

The signing log only had the following interesting info that I could find

[code]

[2020-02-24 16:20] AArnott commented on #282
@DaZombieKiller Are you expecting `Sequence<T>` to support sparse buffers behind the scenes then, where your sequence is allegedly very long but only allocates buffers to back non-zero writes?

[2020-02-24 16:20] akoeplinger opened #32743 "System.RuntimeType.MakeGenericType throws NotImplementedException"
[code]

[2020-02-24 16:25] akoeplinger opened #32744 "ArgumentException on Mono: Type passed in must be derived from System.Attribute or System.Attribute itself"
[code]

[2020-02-24 16:53] BruceForstall commented on #32466
From @jaredpar originally in #32497

These assertions are causing the coreclr outerloop builds to fail at the moment. Looks to be 100% failure rate.

Failing tests are

- `JIT\\Directed\\coverage\\importer\\Desktop\\nullsdarr_il_d\\nullsdarr_il_d.cmd`
- `JIT\\Directed\\coverage\\importer\\nullsdarr\\nullsdarr.cmd`

### Builds
|Build|Pull Request | Test Failure Count|
| --- | --- | --- |
|[#533208]

[2020-02-24 16:54] BruceForstall commented on #32497
@jaredpar Your comment belongs in #32466 -- I copied it there.

[2020-02-24 17:14] DaZombieKiller commented on #282
@AArnott That would be an ideal scenario, yes.

[2020-02-24 17:44] jaredpar commented on #32741
PR that caused the break https://github.com/dotnet/runtime/pull/32484

[2020-02-24 18:03] humbe commented on #32678
I'm running on a 2.1 runtime with the latest WebSockets.Client package.
I found a similar resolved issue with HttpClient https://github.com/dotnet/runtime/issues/20876.

[2020-02-24 18:08] ViktorHofer opened #32749 "System.Net.Security.Tests.ApmSslStreamSystemDefaultTest.ClientAndServer_OneOrBothUseDefault_Ok(clientProtocols: Tls12, serverProtocols: null)"
Test failure as just happened in CI: https://dnceng.visualstudio.com/public/_build/results?buildId=518950&view=ms.vss-test-web.build-test-results-tab&runId=16408998&paneView=debug&resultId=157151

System.Net.Security.Tests.ApmSslStreamSystemDefaultTest.ClientAndServer_OneOrBothUseDefault_Ok(clientProtocols: Tls12, serverProtocols: null)

Configuration: `netcoreapp5.0-Linux-Release-x64-Mono_release

[2020-02-24 18:09] ViktorHofer commented on #29850
Sure, created a new one: https://github.com/dotnet/runtime/issues/32749

[2020-02-24 18:18] adamsitnik commented on #32391
Hi @artelk

Thank you for your proposal.

Please wait till @JeremyKuhne and @layomia respond (they are the new [owners](https://github.com/dotnet/runtime/blob/master/docs/area-owners.md) of `System.Buffers` area).

BTW. I am sure that they are going to ask for the exact use case and scenario that is impossible as of today and would be possible with the proposed API.

[2020-02-24 18:20] JeremyKuhne commented on #32737
The Posix style deletion is the default now, we have [tests that validate that](https://github.com/dotnet/runtime/blob/master/src/libraries/System.IO.FileSystem/tests/FileStream/ctor_str_fm_fa_fs.delete.cs#L25). There might be edge cases here and I believe there was an intent to provide a compat switch, but I'm not sure where that lives- I'll see if I can find more details.

We should consider add

[2020-02-24 18:28] #32230 closed

[2020-02-24 18:31] #32715 closed

[2020-02-24 18:34] AArnott commented on #282
IMO that's a far cry different from what `IBufferWriter<T>` and `ReadOnlySequence<T>` were ever intended to address. I wonder why this would be better than sparse arrays by themselves.

`ReadOnlySequence<T>` as a struct doesn't have support for sparse arrays, so to represent huge amounts of 'empty space' you'd have to actually allocate huge arrays, or repeatedly use smaller arrays, where each repe

[2020-02-24 18:37] sdmaclea commented on #1976
Fixed by #32331

[2020-02-24 18:37] #1976 closed

[2020-02-24 18:38] karelz commented on #32725
@v-haren please only 1 area label per issue - see [why](https://github.com/dotnet/runtime/blob/master/docs/project/issue-guide.md#motivation-for-triage-rules).

[2020-02-24 18:39] AndyAyersMS commented on #32389
Seems like another case for forward substitution -- seems like the tracking issue for this is #4655.

[2020-02-24 18:44] riverar opened #32753 "Region.TwoLetterISORegionName can return three numerical digits"
On a Windows 10 system using a [customized locale](https://docs.microsoft.com/en-us/windows/win32/intl/custom-locales), `TwoLetterISORegionName` returns `"150"`. (RegionInfo also becomes unreliable for ascertaining accurate geographic region information, as needed for, say, GDPR purposes.)

# Environment
Windows 10 Version 1909 (18363.657) or Windows 10 Version 2004 (19569.1000) (pre-release)
.NET

[2020-02-24 18:50] davidsh commented on #32678
@humbe Can you clarify the OS you are using? Windows or Linux?  Can you please run 'dotnet --info' and show the results?  Thanks.

[2020-02-24 18:58] humbe commented on #32678
dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   3.1.102
 Commit:    573d158fea

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18362
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.1.102\

Host (useful for support):
  Version: 3.1.2
  Commit:  916b5cba26

.NET Core SDKs installed:
  2.1.801 [C:\Program Files\dotnet\sdk]

[2020-02-24 19:04] ericstj commented on #32453
Duplicate of https://github.com/dotnet/runtime/issues/31359

[2020-02-24 19:04] #32453 closed

[2020-02-24 19:05] lbhnrg2021 opened #32755 "gcc compiles __declspec (uuid (x)) with errors"
ubuntu 18.04
gcc7.4
coreclr3.1.2
command:
./build.sh gcc
error:
src/pal/inc/rt/rpc.h:22:41: error: expected ‘)’ before ‘(’ token
#define DECLSPEC_UUID(x) __declspec(uuid(x))

gcc does not support uuid

[2020-02-24 19:07] ericstj commented on #32249
You can build individual pkgprojs, assuming all ref and redist are available (as mentioned above).  This will get easier once we stop relying on the ref and redist pass for non-netcoreappcurrent.

[2020-02-24 19:10] davidsh commented on #32678
I run a test using .NET Core 3.1.1 and I see the SNI (Server Name Extension) in the TLS Client Hello when using ClientWebSocket:

![image](https://user-images.githubusercontent.com/7684835/75182881-27ecdf00-56f6-11ea-85ee-d175572e784f.png)

Repro code:

[code]

[2020-02-24 19:11] GrabYourPitchforks commented on #32642
`ICollection` would definitely be more generalizable. The primary arguments I can think of for a method which takes `Array` directly are: (a) no virtual dispatch is needed and it keeps the call site very tight, and (b) it allows the JIT to elide accesses to `theArray[0]` immediately after the check. See for instance https://github.com/GrabYourPitchforks/runtime/commit/ef639cd4ecf4f39e540438709c723

[2020-02-24 19:12] ericstj commented on #32205
Is this still happening?

[2020-02-24 19:13] ericstj commented on #31965
@Anipik can you update the docs?

[2020-02-24 19:15] sdmaclea opened #32756 "Remove cross OS DAC dependence on TARGET_ALPINE_LINUX"
### Background

As part of #32322 @jkotas suggested that the Linux and Alpine Cross OS DACs do not necessarily need to be different. It would be nice to just build one of them.

However in fixing the alpine build breaks introduced by the original elf-reader implementation #32579
introduced a dependence on `TARGET_ALPINE_LINUX` in the elf-reader.

It would be nice to eliminate this dependence.  I s

[2020-02-24 19:23] ericstj commented on #30962
I believe the versions have been updated, should we set up a subscription here?

[2020-02-24 19:27] Anipik commented on #31965
Documentation is mostly up-todate with this PR.
- ConfigurationGroup has been removed
- GenerateReferenceSource instructions are up to date.
- Build Instructions are upto date.

There are some instances of corefx and coreclr left, i can remove that as well.

 https://github.com/dotnet/runtime/pull/32062  updated the docs

[2020-02-24 19:28] jkotas commented on #32756
I would expect the ELF format to have enum somewhere that describes the type of table. Is there one that we can get to?

[2020-02-24 19:31] #32059 closed

[2020-02-24 19:36] lpereira opened #32757 "Vectorize codegen of switch statements"
It might be possible to use vector comparison instructions to improve codegen of switch statements.

This can probably be done for both strings and integers, although the details are different.  For instance, on strings:

[code]

Will generate a series of:

[code]

Unfortunately, due to the strings being UTF-16 internally, comparing them with something like `pcmpeqd` or `vpcmpeqd` will be quite li

[2020-02-24 19:36] jkotas commented on #30056
Hit by https://github.com/dotnet/runtime/pull/2107. From https://helix.dot.net/api/2019-06-17/jobs/003fe36f-508e-40d9-9a7e-f35e3a3aea65/workitems/System.IO.FileSystem.Watcher.Tests/files/console.ce2942ec.log :

[code]

[2020-02-24 19:44] davidsh commented on #1035
@ptsneves Why does your WebSocket endpoint care about the 'Content-Type' header in the HTTP GET request? The GET request is not posting any request body content. The GET request used for ClientWebSocket is simply a way for the websocket handshake to start. After the websocket is established, HTTP protocol is no longer used and WebSocket protocol is used.

[2020-02-24 19:48] janvorli commented on #32755
@lbhnrg2021 .NET Core 3.1 is not compilable with GCC, athough there were some changes in that direction. All the necessary changes are in the master  of the new runtime repo.

[2020-02-24 19:49] davidsh commented on #30927
It's good you found a workaround by using 'HttpWebRequest' instead of 'WebClient'.

We don't plan to fix 'WebClient' for this scenario since it is a legacy class and we expect customers to move to either 'HttpWebRequest' or 'HttpClient' (most recommended).

[2020-02-24 19:50] #30927 closed

[2020-02-24 19:50] benaadams commented on #32757
When [String Deduplication](https://github.com/dotnet/runtime/blob/master/docs/design/features/StringDeduplication.md) is enabled (and perhaps even when not) it might be worth running through a set of `.ReferenceEquals` prior to falling back to `string` compares?

Gave some nice improvements for Kestrel https://github.com/dotnet/aspnetcore/pull/9341 which moves to the block matching length; then t

[2020-02-24 20:01] eerhardt opened #32760 "NamedPipeClientStream Connect can use uninitialized _normalizedPipePath"
When adding nullable annotations for System.Net.Sockets (#32675), it was discovered that there is a scenario when using `NamedPipeClientStream` can use a null string:

When calling `NamedPipeClientStream.Connect` on Unix, it will try using the `_normalizedPipePath` string:

https://github.com/dotnet/runtime/blob/032e8dbd0ca5aee045a41ff78e3c0244d3ec3b51/src/libraries/System.IO.Pipes/src/System/IO/P

[2020-02-24 20:09] trylek commented on #32320
Adding link to the related older item for reference: https://github.com/dotnet/runtime/issues/1097

[2020-02-24 20:21] #32755 closed

[2020-02-24 20:40] ViktorHofer commented on #32741
Signing validation is failing because of this file not being signed:

[code]

[2020-02-24 20:47] ViktorHofer commented on #32741
Regressed with https://github.com/dotnet/runtime/commit/86a086377bd63cbe678b6cba5498e7ab4fd9b57d which removed ConfigurationGroup from the build scripts. Installer still uses it and we need to bring it back.

[2020-02-24 20:58] karelz commented on #1579
We already can trigger it via `/azp`.

[2020-02-24 20:58] #1579 closed

[2020-02-24 21:01] danmosemsft commented on #30056
@jkotas just curious as an aside, is it expected that the CLR should exit with `Internal CLR error. (0x80131506 (COR_E_EXECUTIONENGINE))` when user code has simply thrown an exception on a background thread?

[2020-02-24 21:05] jkotas commented on #30056
That is not expected either. It may be either side-effect of the original problem; or a different bug.

[2020-02-24 21:42] carlossanlop commented on #28831
Triage:
We should detect the ERROR_SEM_TIMEOUT  in the `Debug.Assert`:
https://github.com/dotnet/runtime/blob/96d9a47228b0412945d151a79af7bf66463b053a/src/libraries/Common/src/System/IO/FileSystem.Attributes.Windows.cs#L84

[2020-02-24 21:45] hoyosjs commented on #32124
Sorry that we seemed to have dropped this @jay1305. I'll try to take a look this week and update you on what I can find.

[2020-02-24 21:48] davidsh commented on #911
Closed by #32455

[2020-02-24 21:48] #911 closed

[2020-02-24 21:48] carlossanlop commented on #28851
Triage:
@PRIMETSS will you have a chance to continue looking into this? You shared your commit:  https://github.com/PRIMETSS/corefx/commit/f7368d696304c9a7abd3cbb45dad85857f693a01

[2020-02-24 21:58] dagood commented on #32741
Specifically, here:

https://github.com/dotnet/runtime/blob/7edd9c927dfc1f7b909f2eebf9b00d6b9a7a20b0/eng/Signing.props#L53-L56

[2020-02-24 22:02] #703 closed

[2020-02-24 22:09] lpereira commented on #32757
Ah, yes, good call.  Switching on longest subprefix length first with vector instructions, to then switch on the rest of the string themselves, might be actually a good idea.

[2020-02-24 22:12] davidsh commented on #32749
@ViktorHofer

How do we run this test locally since it is using 'mono'?

[2020-02-24 22:19] DaZombieKiller commented on #282
If sparse arrays are out of scope for `IBufferWriter<T>` and `(ReadOnly)Sequence<T>` then that's fine, I'll likely just end up using sparse arrays directly in that case. I appreciate you taking the time to address this.

I'll leave this issue open so that it can track a potential BCL implementation of `Sequence<T>` in the future, assuming there are plans to do something of the sort.

[2020-02-24 22:19] #32678 closed

[2020-02-24 22:22] jeffschwMSFT commented on #32318
@dsplaisted should this be moved to dotnet/sdk?

[2020-02-24 22:26] davidsh commented on #31422
@sujayvsarma Are you still having this issue? We don't have enough information to diagnose at this time.

[2020-02-24 22:29] davidsh commented on #31247
I'm able to reproduce this behavior pretty consistently when running with the debugger attached (no breakpoints configured or hit or anything though), but when running from the command line with no debugger it doesn't seem to fail.

@veleek Are you still able to reproduce this problem? Can you reproduce it without running in the Visual Studio Debugger. It's possible the debugger is interfering wit

[2020-02-24 22:31] jaredpar opened #32764 "Mitigate the NuGet restore behavior"
There is a NuGet restore issue which is failing a significant number of our CI / PR builds (as of this time about 6%).

- https://github.com/NuGet/Home/issues/9199

It will likely be several weeks before an actual NuGet fix can make it to our repository (just following standard code flow). That's too long given the magnitude of the failure here.

Short term though there does appear to be a viable

[2020-02-24 22:33] dsplaisted commented on #32318
@jeffschwMSFT It can be moved to dotnet/sdk, but we would need to coordinate with the runtime on how to do this.  Probably the runtime packs would need to include information about which files are required for which OS versions or something.

[2020-02-24 22:36] wfurt commented on #30056
It seems like we did not collect core file despite 'Core dumped' message.

cc: @epananth @MattGal in case I'm mistaken.

[2020-02-24 22:48] MattGal commented on #30056
From [the log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-2107-merge-003fe36f508e40d99a/System.IO.FileSystem.Watcher.Tests/29c0fb9a-cb17-466d-b742-ed3c1d5f3dc4.log?sv=2019-02-02&se=2020-03-05T18%3A57%3A07Z&sr=c&sp=rl&sig=w51LDqKaflm9OFWGofa%2F%2BcHPCpNMx4JCR%2BrLhAvq37w%3D) for the above work item, there wasn't a file found on the cores folder when the work ite

[2020-02-24 22:48] carlossanlop commented on #29516
Triage: Closing unless we see more hits for this.

[2020-02-24 22:48] #29516 closed

[2020-02-24 22:52] #25027 closed

[2020-02-24 23:03] MintPlayer opened #32766 "Visual Studio: Navigate from compiled code file to GitHub"
(Suggestion)

# Navigate from Visual Studio to GitHub

When ctrl+clicking a symbol in Visual Studio, it takes you to the definition of the class/method.
When the class is defined in a DLL, only the public headers can be displayed.

[code]

I'd think it would be convenient if the author of the DLL would have an option to provide a symlink to a GitHub file-url. This way anyone can ctrl+click on a sy

[2020-02-24 23:09] vchirikov opened #32767 "Performance degradation of `Expression.Lambda<TDelegate>` in netcore"
Hi, after the migration from netfx to netcore we observed a performance degradation in places with intensive usage of `Expression`.
After profiling and research we found a reason of this, it was `Expression.Lambda<TDelegate>` call.
I assume that [this PR is the reason](https://github.com/dotnet/corefx/pull/13133/files#diff-79a6b9b9f2b1878c4a08d841696d73baR579) of this performance degradation.
To s

[2020-02-24 23:15] jaredpar commented on #32613
Made some progress here and already found bugs. We have different nullable annotations in the Mono specific parts SPC. 😄

[2020-02-24 23:17] carlossanlop commented on #29666
Triage:
This requires a new API Proposal for a new set of flags likely in FileOptions, making sure to be mindful of avoiding conflicts with existing (unexposed) Windows flags:
https://source.dot.net/#System.Private.CoreLib/FileOptions.cs,11

 @andrewaggb would you be interested in writing the API Proposal? See https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md

[2020-02-24 23:25] winsome commented on #25430
@chrisdot Not OP but I found myself here after trying to search for a convenient alternative for these cross-plat events. So far I've not had any luck in finding them.

I'm trying to implement something like example 2 here (https://docs.microsoft.com/en-us/dotnet/api/microsoft.win32.systemevents) but am having trouble doing because of the lack of support for other platforms.

I know it's possible

[2020-02-24 23:26] carlossanlop commented on #29825
Triage:
Closing this issue to track with this proposal - https://github.com/dotnet/runtime/issues/23486

[2020-02-24 23:26] #29825 closed

[2020-02-24 23:27] #30041 closed

[2020-02-24 23:39] vchirikov commented on #32767
@stephentoub, @karelz  please take a look

[2020-02-24 23:40] eerhardt commented on #32307
@JeremyKuhne - I'm not sure I follow your response. Do you agree with the proposal to remove trying to probe for a `machine.config` file on .NET Core?

If we shouldn't remove it, what do you propose we do instead? I don't think we should probe the `RuntimeEnvironment.GetRuntimeDirectory()` directory because we will never find that file there. Probing the `AppDomain.BaseDirectory` for `Config\machi

[2020-02-24 23:43] carlossanlop commented on #30251
Triage:
@chenxuuu did you get a chance to check the diff @krwq mentioned? https://github.com/dotnet/runtime/issues/30251#issuecomment-550547924

[2020-02-24 23:46] carlossanlop commented on #30351
Triage: @markrendle would you be interested in submitting a PR to get this fixed?

[2020-02-24 23:47] jeffschwMSFT commented on #32769
cc @elinor-fung @vitek-karas

[2020-02-24 23:50] carlossanlop commented on #30415
Triage:
We lean towards the simpler answers - either `File.Exists` or update the documentation.

[2020-02-24 23:56] carlossanlop commented on #30435
Triage:

@mikeTWC1984 we have added the implementation for Windows and it is available in 3.1:
https://docs.microsoft.com/en-us/dotnet/api/system.io.filesystemaclextensions.create?view=dotnet-plat-ext-3.1#System_IO_FileSystemAclExtensions_Create_System_IO_FileInfo_System_IO_FileMode_System_Security_AccessControl_FileSystemRights_System_IO_FileShare_System_Int32_System_IO_FileOptions_System_Securit

[2020-02-24 23:56] #30435 closed

[2020-02-24 23:58] carlossanlop commented on #30491
Triage:
@wfurt this appears to be a Catalina bug. Does it look correct to you?

[2020-02-25 00:03] carlossanlop commented on #30640
Triage: @foxjazz if you can get a repro for this issue, feel free to share it with us so we can take a look.

[2020-02-25 00:03] #30640 closed

[2020-02-25 00:06] jaredpar opened #32773 "MSBuild missing Multiply method"
Getting static method missing errors for `[MSBuild]::Multiply` when building dotnet/runtime now.

[code]

Builds:
- https://dev.azure.com/dnceng/internal/_build/results?buildId=534952
- https://dev.azure.com/dnceng/internal/_build/results?buildId=535050

[2020-02-25 00:09] wfurt commented on #30491
We should look into this @carlossanlop. May be fixed with changes @aik-jahoda submitted.
(and he may have better memory than me)

As far as the access time, I would not call it bug. It is more behavior of a given file system e.g. This would work on Catalina if another file system type is used. On the same note, you can configure this on Linux as well to improve performance - it just happens that a

[2020-02-25 00:16] karelz commented on #32767
This package was archived: https://github.com/dotnet/runtime/blob/master/docs/area-owners.md see #27790 for details.
@cston @333fred any thoughts?

[2020-02-25 00:22] carlossanlop commented on #30745
Triage - We can consider returning file attributes, but it would have to be opt-in:

- The minimum Windows version that supports this is Win 10 1709. Prior to that version we'd have to either have to block or manually check the disk, which won't always match.
- The increase in the struct size on Windows would result in more lost events due to buffer overflows.

[2020-02-25 00:24] davidmikh opened #32774 "Enhance DiagnosticSource logging for SQLClientDiagnosticListener to support associating commands by transaction"
When using the `WriteCommandBefore` and  `WriteCommandAfter` DiagnosticSource events defined in [this file](https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SqlClientDiagnosticListenerExtensions.cs) it doesn't seem like there's a way to associate commands with the transactions they were a part of. In the `WriteCommand` events you're able to tell if t

[2020-02-25 00:29] carlossanlop commented on #13361
Triage:
It was probably an oversight but it would be too risky to change.
Overriding `TextWriter.WriteLine(string? value)` to get the desired behavior is the only safe answer.

[2020-02-25 00:29] #13361 closed

[2020-02-25 00:32] scalablecory opened #32775 "Rebuilding from a project source directory fails with .NET Core's msbuild"
git clean and building with:
[code]

And then building from within VS works great. But when building projects via command line, I get errors.

From within a source directory:

[code]

From within a test directory I get similar error, and it also wipes out Corefx.Private.TestUtilities which breaks VS going forward until I call build.cmd again.
[code]

When using the VS version of msbuild, aka Devel

[2020-02-25 00:38] jeffschwMSFT commented on #32747
@AaronRobinsonMSFT @elinor-fung

[2020-02-25 00:40] JeremyKuhne commented on #32307
Yes, the need to trump it so you can inject in front of the user.config is important. I'm ok with making the probe app-specific, but I think we still need it.

[2020-02-25 00:58] joperezr commented on #32775
@tarekgh was also hitting this. I believe that this has to do with some global SDK installation as I have been unable to repro this with the latest bits. I can take a further look to try to understand what is going on.

[2020-02-25 00:58] Thealexbarney opened #32776 "JIT: Bounds checks not removed after casting a Span<T> with a known length to another type"
The JIT doesn't completely eliminate the bounds checks in either of these functions.
[code]
It's able to recognize that the new span has a known length, but doesn't remove the comparison between constants.
[code]
Returning a byte instead of casting to a short results in no bounds checks.
[code]

category:cq
theme:bounds-checks
skill-level:expert
cost:medium

[2020-02-25 00:59] sandreenko opened #32777 "`/azp run` can't start a pipeline if it is marked as `pr: none`"
<samp>
Azure Pipelines could not run because the pipeline triggers exclude this branch/path.<br>

</samp>

_Originally posted by @azure-pipelines in https://github.com/dotnet/runtime/pull/32362#issuecomment-590618865_

with `/azp list` you can get the list of the available pipeline, but if you try to trigger them you will see:
`Azure Pipelines could not run because the pipeline triggers exclude th

[2020-02-25 01:02] swaroop-sridhar commented on #32735
@ststeiger In order for the application's settings to be editable by users as a separate file, and survive across app-builds, it is best kept separate from the app. So, excluding the `appsettings.json` file from the single-file using the `ExcludeFromSingleFile` is a recommended solution.

Once `appsettings.json` is a separate file, it needs to be loaded from the correct path. In the `Program.cs` p

[2020-02-25 01:02] briansull commented on #32466
Only occurs on x86 checked (or debug) with ReadyToRun codegen.

The assertion fires when readyToRun crossgen is used on the test case:

[2020-02-25 01:03] briansull commented on #32466
Introduced with  PR #32085

[code]

[2020-02-25 01:26] jkotas commented on #32307
Do we know about anybody who is using this override for real app?

[2020-02-25 01:26] briansull commented on #32466
Proposed fix for this issue:

https://github.com/dotnet/runtime/pull/31834/commits/169c24eeafb072a79ffbdb2d1d36960ebc0c17b4

[2020-02-25 01:35] hoyosjs commented on #32124
Hmm. @Jay1305 I tried to reproduce the issue with a 3.0.3 runtime and others, but I was able to perform edits on a console app as expected.

For the console app scenario:

- What's the output of `dotnet --info`
- What is the `TargetFramework` set to in the csproj file.
- When debugging before editing the simple console app, what's the version in path for `System.Private.CoreLib.dll` in the module

[2020-02-25 01:44] AndyAyersMS commented on #32059
@whoteit92 thanks again for reporting this and for narrowing the problem down to a simple repro case.

Would it be possible for you to test this fix on your original program? I can let you know when a build with this fix is available.

[2020-02-25 02:18] trylek commented on #32775
FYI @janvorli who was also investigating a similar failure in the past and AFAIK tracked it down to some mismatching SDK versions used by test dependencies.

[2020-02-25 02:21] CorrM commented on #32416
any workarround .?, i can't complete my work with this bug !!.
@svick @EgorBo @naricc

[2020-02-25 02:30] MattGal commented on #30056
I spent some time checking this out with @epananth and it seems the helix-runner user just didn't have permissions to the /cores folder on that machine.  We're checking it out now.

[2020-02-25 02:41] hoyosjs commented on #32773
* https://dev.azure.com/dnceng/internal/_build/results?buildId=535218
* https://dev.azure.com/dnceng/internal/_build/results?buildId=535024

Seems to be consistently only on Windows x64 (even though x86, arm, and arm64 all use the same properties to generate versioning bits) and I expect all these to be building on x64 machines. I'd only expect this to be possible with an SDK change or an arcade u

[2020-02-25 02:43] epananth commented on #30056
@Wfurt After updating the permission, we are able to create core dumps in the cores folder. 10.13 did not come with /cores directory so we had to manually add it and give the right permissions to it.  I think that is the reason this failed.

[2020-02-25 02:43] jaredpar commented on #32773
@hoyosjs i verified it's not a result of the arcade merge. I did a revert and queued an official build and it failed with the same error.

https://github.com/dotnet/runtime/pull/32780
https://dev.azure.com/dnceng/internal/_build/results?buildId=535279

[2020-02-25 02:48] jaredpar commented on #32773
Even stranger is the binary log for the failure doesn't actually have any errors.

[2020-02-25 02:52] wfurt commented on #30056
Thanks for the update @MattGal & @epananth. I'm positive there will be crashes in future :)

[2020-02-25 02:54] hoyosjs commented on #32773
I think the suspect is the cross OS DAC build. Testing a revert right now.

[2020-02-25 02:55] hoyosjs commented on #32773
Actually, screw it, it is that. It doesn't set the officialbuildID correctly. sending the PR

[2020-02-25 02:57] epananth commented on #30056
Also spoke to @ilya-bin he said that this particular machine dci-mac-build-012, was recently updated, so chances are one might have missed some set up scripts. But we do make that change for all 10.13 machines.

[2020-02-25 03:14] Suchiman commented on #32757
It should be noted that once you reach 7 cases, roslyn will switch to a [hardcoded hash based lookup](https://sharplab.io/#v2:C4LglgNgPgAgTARgLACgYGYAE9MGFUDeqmJ2WYAdsJgLIAUAysAE6UDmmAzgPYC2Apk1YU2ASmKkiKUjK4B3MMADGAC0x0eAoe3HTZJKfv1KAhp36YARAz78AMtxHaRlkNgDsmAKwBuCUdJTcysbLRZ2AHVFFQYTAQAFZn4AMzAADwBBTkT+ADdXD0wAFj89AJIgi0sMim5gFX5mBydwlzcYTwA2UvLAsyqATX5gGrqG5mc2Ao7Mdx7ezEqrAHkKfhpuJIAxTYBxbm4AEx

[2020-02-25 03:37] benaadams commented on #32757
There is now compiler detection of runtime support for features https://github.com/dotnet/runtime/issues/20623 as used by for example "default interface methods" https://github.com/dotnet/runtime/issues/21898; so roslyn can change what it does if the runtime supports something better.

[2020-02-25 03:46] tb-mtg commented on #31533
I too am having this problem.

I created a simple test project and with basic insert, update & delete OdbcCommands.  They only work, but only if the following is set:

`<PlatformTarget>x86</PlatformTarget>.`

The problem is our real application platform target is x64.

[2020-02-25 03:49] sujayvsarma commented on #31422
No. Over the past 3 months, the number of these exceptions over time have fallen off drastically. Not sure what caused the tail off (to point to the "fix"), but this bug can be safely closed at this time.

[2020-02-25 03:49] #31422 closed

[2020-02-25 04:09] danmosemsft commented on #31533
@saurabh500

[2020-02-25 04:54] jaredpar commented on #32613
Anyone interested in the progress can follow this branch: https://github.com/jaredpar/runtime/tree/mono-only

I've fixed all of the build targets which effectively hard coded references to CoreCLR. Using the following two commands I can now essentially compile the libraries using the System.Private.Corelib generated by Mono

[code]

The use of `/p:RuntimeFlavor=Mono` is necessary because we don't

[2020-02-25 04:55] CharlesPublic commented on #32679
@DevDrake
Maybe the example is bad because it uses default.
But even with a reference type and new() instead of default i would still have
 best case 1x `FindValue`, worst case 2x `FindValue`.

`DictionarySlim.GetOrAddValueRef` seems to do what im looking for, just the DictionarySlim is not comparable to the normal Dictionary.

In c++ the following is possible:

	std::unordered_map<char,int> freq;

[2020-02-25 05:25] jkotas commented on #32613
This is the best way to solve it. It should be pretty straightforward to do.

[2020-02-25 05:28] v-haren opened #32782 "Test failure in tracing/eventpipe/eventsvalidation/GCEvents/GCEvents.sh"
failed in job: [runtime-coreclr crossgen2 outerloop 20200223.1](https://dev.azure.com/dnceng/public/_build/results?buildId=533921&view=ms.vss-test-web.build-test-results-tab&runId=16948428&paneView=debug&resultId=109824)

Error message
[code]

[2020-02-25 05:32] v-haren opened #32783 "Test failure in readytorun/coreroot_determinism/coreroot_determinism/coreroot_determinism.sh"
failed in job: [runtime-coreclr crossgen2 outerloop 20200223.1](https://dev.azure.com/dnceng/public/_build/results?buildId=533921&view=ms.vss-test-web.build-test-results-tab&runId=16948428&paneView=debug&resultId=110056)

Error message
`
1 / 1 (100%, 1 failed): failed in 4731 msecs, exit code 134, expected 0: crossgen2 @/home/helixbot/work/A23908E2/w/9E360909/e/readytorun/coreroot_determinism/core

[2020-02-25 05:34] nszeitli commented on #1537
If this is the "To prevent an unsafe abort" root cause, is there a known workaround at this time?

[2020-02-25 05:37] ThyPillow commented on #28153
@satano If you are not working on this anymore, I would like to give it a shot.

[2020-02-25 05:38] #32773 closed

[2020-02-25 05:48] kouvel commented on #1537
Disabling tiered compilation should help when debugging, although it can't be disabled if attaching to a running app that already has it enabled. Tiered compilation may be disabled in the following ways:

Project file (with a clean build after changes to the property):
[code]

<app>.runtimeconfig.json
[code]

Environment variable:
[code]

[2020-02-25 06:18] Jay1305 commented on #32124
Thank you so much for looking into this issue! Yeah it's weird but this issue is happening with my team for long time now and everybody started talking to go back to 2.2 until it is fixed.

I have compiled everything that you need in one 7z file - https://mega.nz/#!oIkFwLQR!DL3GduPJMVagtUC9hf7CaEfIZr2QNmLEx5Nl0Elt9SM. Please let me know earliest once you download this file so I can remove this fil

[2020-02-25 06:30] obiwanjacobi commented on #32769
Yeah, seen those, but that are custom .exe's hosting the CLR. My scenario is that a 3rd party exe is loading my .netcore3.1 C++/CLI (mixed) assembly as a plugin.

I switched to x86 and got a bit further. It seems its not finding one of it's dependencies, but I can't figure out which one. BTW: it looks like the .netcore clr is auto-loading just as with the full Fx..? (ijwhost.dll)

`vsthost` is the

[2020-02-25 06:45] UweKeim commented on #1868
Should I try again with Hosting Bundle 3.1.2?

[2020-02-25 07:15] ilya-bin commented on #30056
I think you are confusing me with someone else, sorry i don't host mac-build machines.

[2020-02-25 07:28] GrabYourPitchforks commented on #28070
Just for fun, I experimented with this in a local branch. The `Utf8Parser` code for parsing integers contains many blocks similar to below.

https://github.com/dotnet/runtime/blob/671b2ef6272330b51ddbaa4fa96e411e3f701231/src/libraries/System.Private.CoreLib/src/System/Buffers/Text/Utf8Parser/Utf8Parser.Integer.Signed.D.cs#L138-L144

By rewriting this code using `nuint` (instead of `int`) as an ind

[2020-02-25 07:43] elinor-fung commented on #32769
.NET Core 3.1 does have support for C++/CLI on Windows. As you noticed, it goes through `ijwhost.dll` to load the .NET Core runtime. That host also expects a .runtimeconfig.json file with a name corresponding to that of your C++/CLI assembly. The [IJW activation doc](https://github.com/dotnet/runtime/blob/master/docs/design/features/IJW-activation.md) has more details.

Do you get a managed except

[2020-02-25 07:58] #32741 closed

[2020-02-25 08:03] Wraith2 commented on #32774
/cc @cheenamalhotra

[2020-02-25 08:04] gbalykov opened #32784 "TC_QuickJitForLoops support"
`TC_QuickJitForLoops` is currently marked UNSUPPORTED. Do you have plans to make it EXTERNAL? We see 3% startup time improvement with this option enabled.

cc @alpencolt @jkotas

[2020-02-25 08:12] ViktorHofer commented on #32749
Build libraries and specify /p:RuntimeFlavor=Mono. Specify that property as well when you invoke the test.

[2020-02-25 09:20] saltukkos commented on #334
First, I was going to say, that JIT will optimize defensive copies anyway like in this case
[sharplab](https://sharplab.io/#v2:C4LghgzgtgPgAgBgARwIwDoDCB7ANrgUwGNgBLbAOwnQEkooBXYMAI0IG4BYAKB7gGYUAJiSYkAbx5JpKQXUbM2BAIIAnVWACeAHlIVgAPiQBZVAApVBAGZJ5TVoTUadew0lJQAlBKky/cAHZ3KHRlABMws1RPLm4/AF9faSTZW3p7JSctXX0jYyEzPTSFBxV1bNcjD29JOL8ZQODQiKiYlMTebnigA=)

But after I change the example to use `Clear`

[2020-02-25 09:29] EgorBo commented on #32784
It still works, `UNSUPPORTED` means `this value is available to partners/developers, but is not officially supported`

If you enable it - make sure you don't have cold methods with hot loops (e.g. some benchmarks). In this case you need to mark those with `[MethodImpl(MethodImplOptions.AggressiveOptimization)]`
see https://github.com/dotnet/runtime/issues/11006

[2020-02-25 09:38] Kalle4242 opened #32785 "ZipIOLocalFileBlock validation reports corrupted file while System.IO.Compression does not"
Our company develops and distributes a Powerpoint Add-In.
From the AddIn I add CustomXml parts (referenced to the presentation and the slide as well) to a Powerpoint presentation via DocumentFormat.OpenXml SDK V 2.10. Everything is OK with the file.
Then I copy the file to a SharePoint online. It doesn't matter, if I copy via a WebDAV path, a SharePoint website on a browser or the latest possibili

[2020-02-25 09:57] janvorli commented on #32775
This is a completely different issue from the one I was having.

[2020-02-25 09:58] gfoidl commented on #32776
Aside from the issue, a note of caution:

is not endianess-safe, i.e. as little-endian user on big-endian machines you won't get the expected `short` value.
(That's also the reason why the ROS-static data trick by the C# compiler only works with `byte`, `bool`).

[2020-02-25 10:27] urbanecm opened #33571 "Dotnet build is stuck"
Hello, I've encouraged a weird issue - dotnet build is just stuck forever. I've disucssed the idea at dotnet/cli gitter channel, see https://gitter.im/dotnet/cli?at=5e3db126f3718e705deb7c3f and following.

It behaves like this:

    urbanecm@titanium  ~/tmp
    $ ps ux | grep dotnet
    urbanecm 1010806  0.0  0.0  13056   804 pts/5    S+   11:22   0:00 grep --color=auto dotnet
    urbanecm@titaniu

[2020-02-25 10:41] vchirikov commented on #32767
@jaredpar this is a huge performance regression for our app (as you can see 2x slower than net framework), can you take a look at this issue, maybe the dotnet team can accept the fix or make their own?

[2020-02-25 11:33] yyjdelete commented on #32629
Maybe the same as #10539 if it happen on async code path with debugger?

[2020-02-25 11:43] akoeplinger commented on #32613
I'm not against such a switch but maybe we can default that e.g. if the subsetCategory includes coreclr or not.

E.g. doing `.\build.cmd -subsetCategory mono-libraries` would build mono and libraries with RuntimeFlavor=mono.

In my iOS branch I currently default subset categories to `mono-libraries` so you can do a single `./build.sh -os iOS` in the top level and it builds the correct things.

[2020-02-25 12:22] yyjdelete commented on #32203
@janvorli
When try to debug an stackoverflow in my code today, I found this(#32167) makes #10539 become worse when SOF happen outside main thread.(maybe related to #11677?)

For netcoreapp3.1, it used to get output:"Stack overflow" + returncode:0xC00000FD(stack overflow) when SOF without debugger, and output:"Stack overflow" + returncode:0xC0000005(access violation) when debugger is attached and S

[2020-02-25 12:28] PRIMETSS commented on #28851
Thanks Carlos,

I think this can be closed.

Since the code base move, lots have happened and Ive not had time to get up to speed with this move yet. I’d probably rather plan to revisit it and submit a new Issue/PR after checking if the problem still exits and re-submit more succinctly.

Paul

From: Carlos Sanchez Lopez <notifications@github.com>
Sent: Tuesday, 25 February 2020 8:19 AM
To: dotnet/

[2020-02-25 12:40] eiriktsarpalis commented on #31717
@marcselis we have backported the fix to the 3.1 branch and will be released soon in a servicing update. I think we can close this issue now?

[2020-02-25 12:52] ddgweb opened #32812 "In linux Centos7, use httpclient Post request error"
The same code ,for windows +ngix no error , everythiny is ok , but in linux centos, error tips:
### The SSL connection could not be established, see inner exception. The remote certificate is invalid according to the validation procedure.
### Error while copying content to a stream. Unable to read data from the transport connection: Broken pipe.

what ever httpwebrequest or I try convert httpclien

[2020-02-25 12:55] aik-jahoda commented on #30491
This should be fixed by https://github.com/dotnet/corefx/pull/41963. I run the tests several times and all were passing.

[2020-02-25 12:57] stephentoub commented on #27520
Closing, per above comments. Thanks.

[2020-02-25 12:57] #27520 closed

[2020-02-25 12:59] stephentoub commented on #27711
@danmosemsft, is there an API you're proposing here?

[2020-02-25 13:01] stephentoub commented on #27997
Moving back to ready for review to discuss again.

[2020-02-25 13:03] stephentoub commented on #27396
I agree with Jan that there's not enough demonstrated benefit here to be worth the break. If it becomes important for tools like the linker, it can be reconsidered. Thanks.

[2020-02-25 13:03] #27396 closed

[2020-02-25 13:04] WebDancer69 commented on #13284
@jaredpar Did you figure out why you got the OOMs in Roslyn?

[2020-02-25 13:09] stephentoub commented on #13503
This functionality is exposed through both Task.WhenAny and TaskFactory.ContinueWhenAny. The cited method is just an internal helper to consolidate the implementation, and we don't plan to expose that implementation detail. Thanks.

[2020-02-25 13:09] #13503 closed

[2020-02-25 13:10] stephentoub commented on #31502
Closing as dup of https://github.com/dotnet/runtime/issues/11226

[2020-02-25 13:10] #31502 closed

[2020-02-25 13:58] Telison commented on #28470
If this library is a complete rewrite it would make sense to expose a method that looks something like this:

Task<DirectoryResponse> LdapConnection.SendAsync(DirectoryRequest request, ...)

[2020-02-25 14:08] stephentoub commented on #25439
We do not plan to do anything here.  If there's interest in creating a prototype in corefxlab (or anywhere else for that matter), that can certainly be done, but it doesn't need an issue tracking it here.  Thanks.

[2020-02-25 14:08] #25439 closed

[2020-02-25 14:13] stephentoub commented on #817
@terrajobst, is this something we should do?  Are we adding more netstandard21 targets to packages?

[2020-02-25 14:14] stephentoub commented on #32700
It's a reasonable proposal, though it would almost certainly need a different implementation rather than just changing the existing one, as I expect the overhead of going through the interface would be measurable on high-throughput scenarios.

[2020-02-25 14:30] stephentoub commented on #13354
@SilentCC, is this still an issue for you?  I'm asking because I haven't seen a response to @kouvel's question from five months ago.

[2020-02-25 14:31] stephentoub commented on #13403
@jaredpar, I see back in September you have a commit adding more logging.  Has this issue happened again?  Any more detailed information arise from that logging?

[2020-02-25 14:32] stephentoub commented on #13437
@kouvel, is this something you're planning on addressing in 5.0?  If not, can you please update the milestone?  Thanks!

[2020-02-25 14:36] stephentoub commented on #24439
This is essentially asking for the ability to create instances of ThreadPool (TaskScheduler is just an abstraction that would sit on top of that).  We've considered this in the past and have decided against doing it; I don't expect we'll do so in the foreseeable future.  Anyone can of course implement a simple thread pool, with tools like BlockingCollection, and put it behind a TaskScheduler.  The

[2020-02-25 14:36] #24439 closed

[2020-02-25 14:37] stephentoub commented on #25028
Closing as dup of https://github.com/dotnet/corefx/issues/18924.

[2020-02-25 14:37] #25028 closed

[2020-02-25 14:38] PeshkoBeshko commented on #32721
Thanks davidsh !
I'll look in what you proposed.

[2020-02-25 14:38] stephentoub commented on #28295
It's been a year since this :)  Anything you can share?
cc: @kouvel

[2020-02-25 14:39] stephentoub commented on #28664
@terrajobst, how should issues like this feed into your obsoletion/tooling plans?

[2020-02-25 14:41] stephentoub commented on #30034
@monty241, can you propose what API you'd hope to see here?
https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md

[2020-02-25 14:45] stephentoub commented on #30193
Closing as dup of the proposed solution in https://github.com/dotnet/runtime/issues/31525.

[2020-02-25 14:45] #30193 closed

[2020-02-25 14:48] stephentoub commented on #30862
Fixed by https://github.com/dotnet/runtime/pull/32696

[2020-02-25 14:48] #30862 closed

[2020-02-25 14:52] zcsizmadia commented on #32700
Makes sense. What is the performance implication of the following. When we add the TQueue to the UnboundedChannel. In this case the constructors do not change, we have the existing CreateUnbounded<T>() and an additional new API of CreateUnbounded<T, TQueue>().

[code]

[2020-02-25 14:53] stephentoub commented on #31370
Thank you for the suggestion.  Given the conversation, I'm going to close this as not being actionable.  As noted, if you see opportunities in the implementation to make it more efficient, we'd welcome a PR, but we don't need an issue tracking that possibility.

[2020-02-25 14:53] #31370 closed

[2020-02-25 14:56] obiwanjacobi commented on #32769
Yes, I have `Jacobi.Vst.Interop.runtimeconfig.json` for the Jacobi.Vst.Interop.dll. I did not know what to put in it so I copied some default I found somewhere

[code]

Debugging with CoreCLR and Native loads the symbols and see the breakpoints 'solidify' (indicating the symbols are loaded and recognized) but I never hit any breakpoint at DllMain or in the [entry point the vst host should call (VS

[2020-02-25 14:56] stephentoub commented on #32700
The runtime does not specialize generics for reference types, which TQueue is almost certainly going to be (as it is with `ConcurrentQueue<T>`).  We'd pay the overheads associated with using generics in this fashion, we wouldn't be able to use `ConcurrentQueue<T>.IsEmpty` which is much faster than its `IProducerConsumerCollection<T>.Count` implementation, etc.