[2021-08-04 14:47] stephentoub commented on #42024
Ok, my runfo search skills are apparently quite lacking.

[2021-08-04 14:47] xaviergxf commented on #20008
How about this api? Humanizr could use this...

[code]

[2021-08-04 14:50] stephentoub commented on #42024
Actually, no, I was right the first time.  None of those failures are this test.

[2021-08-04 14:52] #42024 closed

[2021-08-04 14:53] jeromelaban commented on #48179
@SamMonoRT Indeed we can.

[2021-08-04 15:11] mangod9 commented on #49174
Thanks @stephentoub. I have created a PR to update it now.

[2021-08-04 15:23] mateoatr commented on #56679
A few more failures in [runtime-libraries-coreclr outerloop](https://dev.azure.com/dnceng/public/_build/results?buildId=1272892&view=results).

[2021-08-04 15:24] huoyaoyuan commented on #20008
Returning a span is never an option because of lifetime issue. Any api with result in span would require caller to allocate the span.

[2021-08-04 15:25] jeffhandley opened #56840 "Uri constructors accepting dontEscape have misleading Obsolete attribute"
There are 2 `Uri` constructors that are marked as obsolete, indicating the the `dontEscape` argument is deprecated and always false. Upon reviewing the code though, it seems the `dontEscape` argument is indeed utilized with potentially-`true` values.

[code]

_Originally posted by @jkotas in https://github.com/dotnet/runtime/pull/56690#discussion_r682429292_

[2021-08-04 15:26] eerhardt commented on #56819
@agocke @sbomer @LakshanF @vitek-karas - I assume the linker shouldn't be throwing a NullReferenceException here...

[2021-08-04 15:27] FilipToth commented on #56817
Ok, we could still have a set accessor in the `ElapsedMilliseconds` property and the `ElapsedTicks` property (if we expose the `TicksPerMillisecond` field). As for negative numbers, we just don't set the property if the value is negative.

[2021-08-04 15:29] #53599 closed

[2021-08-04 15:32] ericstj commented on #56823
Should be fixed once we have an SDK/PackageValidation package with https://github.com/dotnet/sdk/issues/18676.  When ingesting that we can rebaseline all projects and ensure that all CP001 are gone.

[2021-08-04 15:32] jaredpar commented on #42024
My bad. I was looking at the title of the issue which had the test group.

[2021-08-04 15:32] tommcdon commented on #56782
@clguiman thanks for reporting this issue! The example shows an ELF dumps collected on Linux and analyzed on Windows.  Do you see the same behavior when running dotnet-dump locally on the same Linux machine where the dump was originally collected?

[2021-08-04 15:42] mdh1418 commented on #50937
Trying to rerun tests, this suite is now crashing https://gist.github.com/mdh1418/cb3002f7176cc7a3c97240b279a3c2c8

[2021-08-04 15:43] eerhardt commented on #56779
The issue looks to be that we are now always using the `DynamicServiceProviderEngine` and IL Ref Emit:

![image](https://user-images.githubusercontent.com/8291187/128211352-6531842f-4e49-42ab-9f33-7e32895a55dd.png)

This was caused by the `net6.0` TFM work. We just need to change some `#if`s.

[2021-08-04 15:46] vcsjones commented on #56834
@Kokujou Glad you were able to get it working. When .NET 6 Preview 7 is released, you can avoid `CryptoStream` entirely and write:

[code]

[2021-08-04 15:47] AaronRobinsonMSFT commented on #56725
@danmoseley I agree with your analysis here &ndash; at least conceptually. My one question would regarding CrossGen, Linker, or any post-build processing impact. I could imagine a case where IL was removed in some scenarios and this causes a cascade of failures for Linux on a non-Linux platform (i.e., macOS). Other than the comment on procdump &ndash; which is Windows only I believe &ndash; I thin

[2021-08-04 15:52] akoeplinger commented on #42024
@stephentoub the only instance of the `RunContinueWithStressTestsNoState` I can find is from a `release/5.0` and the test doesn't have `ActiveIssue` there.

[2021-08-04 15:56] tommcdon commented on #56808
Adding @vitek-karas for ideas for a possible .NET 6 fix.  It sounds like the runtime is not fully initialized and so our current implementation retrieving the startup assembly through the appdomain is occurring too early in runtime startup.  I am curious if we could access the required information through a different mechanism - I suspect that the runtime host has this information.

[2021-08-04 15:59] danmoseley commented on #56725
Oops yes not Windows. I'd be interested to know if there's a tool similar to procdump on Mac or Linux.

[2021-08-04 16:08] wfurt commented on #56269
The `Error Code: CONNECTION_REFUSED` looks like symptoms of  #55979. The difference between this and other tests is `iterations: 100,` so we run 100 runs in tight loop.

[2021-08-04 16:18] wfurt commented on #56217
ok. I know some of this is difficult to diagnose. Depending how they hook up, VPN or local container may help.
closing now as root cause was identified.

[2021-08-04 16:18] #56217 closed

[2021-08-04 16:28] wfurt commented on #56816
For the tests, we can try to do one run without tracing and skip the EvenSource part if that fails.
DNS failures are annoying.

[2021-08-04 16:28] radical opened #56844 "[wasm][eat] `Microsoft.Extensions.DependencyInjection.Tests` test failures"
[Microsoft.Extensions.DependencyInjection.Tests](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-52004-merge-7a4dd01ba7eb45b883/Microsoft.Extensions.DependencyInjection.Tests/1/console.86662e2c.log?sv=2019-07-07&se=2021-08-24T06%3A48%3A53Z&sr=c&sp=rl&sig=IhTugai%2BC8NrqjQD9I2jBBfVtHJGbKMeEI0anAMGtes%3D)

[code]

Test built with `/p:EnableAggressiveTrimming=true`

[2021-08-04 16:32] radical commented on #50874
Same failures for wasm too - https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-52004-merge-7a4dd01ba7eb45b883/Microsoft.Extensions.Logging.EventSource.Tests/1/console.6e48b67b.log?sv=2019-07-07&se=2021-08-24T06%3A48%3A53Z&sr=c&sp=rl&sig=IhTugai%2BC8NrqjQD9I2jBBfVtHJGbKMeEI0anAMGtes%3D

[2021-08-04 16:33] wfurt commented on #55759
I'm not sure what we want to do here. I can fix the other tests and finish this easily. But I worry somewhat about compat and causing more harm. For the local certificate selection callback somebody may have it set by default (like we do) in case server asks for certificate ... and that may be never in case of H3.

So perhaps I can do everything but `LocalCertificateSelectionCallback` ???

[2021-08-04 16:34] agocke commented on #56819
Looking

[2021-08-04 16:35] wfurt commented on #52085
Let's close this as dup of #55639.
The new issue has more details and tracks remaining work.

[2021-08-04 16:35] #52085 closed

[2021-08-04 16:36] echesakovMSFT commented on #47141
None of the failures in [1274221](https://dev.azure.com/dnceng/public/_build/results?buildId=1274221) have symptoms of this issue. Closing.

[2021-08-04 16:36] #47141 closed

[2021-08-04 16:36] radical opened #56845 "[wasm][eat] `System.Composition.Tests` test failures"
[System.Composition.Tests](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-52004-merge-7a4dd01ba7eb45b883/System.Composition.Tests/1/console.33cbae68.log?sv=2019-07-07&se=2021-08-24T06%3A48%3A53Z&sr=c&sp=rl&sig=IhTugai%2BC8NrqjQD9I2jBBfVtHJGbKMeEI0anAMGtes%3D)

[code]

Test built with `/p:EnableAggressiveTrimming=true`

[2021-08-04 16:42] radical commented on #50711
This is still reproducible for wasm: [Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1275375&view=logs&jobId=fddee5b2-3265-5a91-40c1-750d81e69f3f&j=fddee5b2-3265-5a91-40c1-750d81e69f3f&t=b539fe9c-4231-5c9f-4235-451fd41db683), [Log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-52004-merge-7a4dd01ba7eb45b883/System.Diagnostics.DiagnosticSource.Te

[2021-08-04 16:43] theodorzoulias commented on #56820
Thanks @stephentoub for the clarification! The current behavior is OK for me, since I consider the channels a performance-critical mechanism, and doing a `token.ThrowIfCancellationRequested();` after every `yield` could potentially affect the performance, while being redundant in many cases. I'll post your response to the [StackOverflow question](https://stackoverflow.com/questions/67569758/channe

[2021-08-04 16:43] #56820 closed

[2021-08-04 16:45] steveharter commented on #52611
Closing; assuming the new JsonSerializer extensions are sufficient. Please re-open if necessary.

[2021-08-04 16:45] #52611 closed

[2021-08-04 16:47] radical opened #56846 "[wasm][eat] `System.Linq.Tests.TrimCompatibilityTests.QueryableMethodsContainCorrectDynamicDependency` fails"
[System.Linq.Queryable.Tests](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-52004-merge-7a4dd01ba7eb45b883/System.Linq.Queryable.Tests/1/console.b65cd6a0.log?sv=2019-07-07&se=2021-08-24T06%3A48%3A53Z&sr=c&sp=rl&sig=IhTugai%2BC8NrqjQD9I2jBBfVtHJGbKMeEI0anAMGtes%3D)

[code]

Tests built with `/p:EnableAggressiveTrimming=true`

[2021-08-04 16:47] josalem commented on #56808
We discussed this offline a little bit. There are a few things we're going to have blocking us:
* At the point where we suspend, the host hasn't loaded the entrypoint assembly so we can't use the assembly metadata to get the information.
* The host may be a single-file host or loading an assembly dynamically from a memory address. In these cases, there may not be a name we can use until the assemb

[2021-08-04 16:50] schmittjoseph commented on #56782
@tommcdon I verified that the dotnet-dump behavior is identical when running on the Linux machine/container:

[code]
[code]

[2021-08-04 16:51] radical opened #56847 "[wasm][eat] `System.Net.Primitives.Functional.Tests.LoggingTests` test failures"
[System.Net.Primitives.Functional.Tests](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-52004-merge-7a4dd01ba7eb45b883/System.Net.Primitives.Functional.Tests/1/console.77807b73.log?sv=2019-07-07&se=2021-08-24T06%3A48%3A53Z&sr=c&sp=rl&sig=IhTugai%2BC8NrqjQD9I2jBBfVtHJGbKMeEI0anAMGtes%3D)
[Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1275375&view

[2021-08-04 16:52] eerhardt commented on #51602
I don't understand why we are failing the build with linker errors coming from tests. Can anyone explain? I thought we suppressed all trim warnings in tests.

If IL2105 isn't being suppressed by default, we should disable it explicitly in our tests.

[2021-08-04 16:52] lewing commented on #56846
isn't this a duplicate of https://github.com/dotnet/runtime/issues/50712

[2021-08-04 16:53] radical opened #56848 "[wasm][eat] `System.Reflection.Emit.Lightweight.Tests` test failure"
[System.Reflection.Emit.Lightweight.Tests](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-52004-merge-7a4dd01ba7eb45b883/System.Reflection.Emit.Lightweight.Tests/1/console.22ba3369.log?sv=2019-07-07&se=2021-08-24T06%3A48%3A53Z&sr=c&sp=rl&sig=IhTugai%2BC8NrqjQD9I2jBBfVtHJGbKMeEI0anAMGtes%3D)
[Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1275375&

[2021-08-04 16:54] steveharter commented on #45102
Closing per feedback:

[2021-08-04 16:54] #45102 closed

[2021-08-04 16:55] radical commented on #56846
How did I not find this?! 👀

[2021-08-04 16:55] #56846 closed

[2021-08-04 16:55] Anipik commented on #45404
This is np longer the case

[2021-08-04 16:55] #45404 closed

[2021-08-04 16:55] radical commented on #50724
Closing this. Failures are being tracked by most individual issues now.

[2021-08-04 16:55] #50724 closed

[2021-08-04 16:57] #56807 closed

[2021-08-04 16:57] lewing commented on #56848
This is mentioned in https://github.com/dotnet/runtime/issues/51211

[2021-08-04 16:58] radical commented on #56848
👍

[2021-08-04 16:58] #56848 closed

[2021-08-04 16:59] steveharter commented on #45988
@eerhardt please move to v7 unless this the [PR](https://github.com/dotnet/runtime/pull/53645) picked up ASAP.

[2021-08-04 17:04] josalem commented on #56808
I'm going to hold off on putting this into the 6.0 milestone for now and put it in 7. If we have time left after some bug fixes, this is worth getting in before we ship. @tommcdon or @jander-msft feel free to put it there for now if you feel it necessary and we can reassess as we get closer to RC2.

[2021-08-04 17:05] radical commented on #51602
Is that done just for the linker tests?
[code]

[2021-08-04 17:09] radical commented on #51602
Should I disable all trim warnings (`$(SuppressTrimAnalysisWarnings)==true`) for tests, or just `IL2105`(`$(LinkerNoWarn)=IL2105`)?

[2021-08-04 17:10] steveharter commented on #50831
The proposed fix is trivial: sort the returned methods and compare:

FWIW the tests in System.Text.Json also sort in a similar fashion - the properties for a JSON object produced by serializing a CLR object are typically sorted by property name due to nondeterminstic reflection ordering (i.e. the JSON is serialized in the order of the reflected properties).

[2021-08-04 17:10] jander-msft commented on #56808
Could the assembly loading logic for the entrypoint be refactored a bit to preload just the entrypoint assembly so that the metadata is available earlier?

Alternatively, could the GetProcessInfo2 command use a pay-for-play model where if the entrypoint assembly is not loaded yet, it loads the assembly itself and reads out the metadata from the file?

[2021-08-04 17:14] ViktorHofer commented on #56516
cc @danmoseley, can you please take a look at these SDL issues?

[2021-08-04 17:17] ViktorHofer commented on #56516
@adiaaida can you please take a look at the governance issue? This is likely not an issue on our repo.

[2021-08-04 17:18] ViktorHofer commented on #56516
ping @marek-safar regarding the duplicate symbol packages on Mono. Can someone please take a look at that?

[2021-08-04 17:22] steveharter commented on #46520
Per offline discussion, if we can fix the regression for all key types (not just string) with minimal impact to the trimmed STJ.dll then that should be sufficient for V6 especially given the release schedule and priority.

The new APIs to read\write dictionary keys as strings have low priority since there is no known feedback where these new APIs are needed and\or blocking, although there are vali

[2021-08-04 17:25] kouvel commented on #45885
All of these large regressions have recovered and currently they are noticeably faster with the portable thread pool enabled.

[2021-08-04 17:25] #45885 closed

[2021-08-04 17:27] adiaaida commented on #56516
Will do. We see this occasionally, but not in every run, so it's a little odd that it pops.

[2021-08-04 17:27] radical commented on #51602
ah, ok! that doesn't apply for `IL2103`(https://github.com/dotnet/runtime/issues/51708) though, I guess, because it's included in that list above. But we have had those tests disabled since April, so maybe they won't fail if I enable them now.

[2021-08-04 17:31] steveharter commented on #56760
Closing; quoted strings are opt-in in STJ

[2021-08-04 17:31] #56760 closed

[2021-08-04 17:32] radical commented on #51602
And should this issue be closed?

[2021-08-04 17:34] eerhardt commented on #45988
There's no need for this to be fixed in 6.0.

[2021-08-04 17:35] eerhardt commented on #51602
Not if the tests are still failing. We should do something to make them pass.

[2021-08-04 17:37] radical commented on #51602
I'm trying that now in https://github.com/dotnet/runtime/pull/52004 . I meant, that this issue is for IL2105 specifically, and if we are disabling it as "not relevant for tests", or "won't fix for tests", then we can close this issue.

I'll update when I have results from the build.

[2021-08-04 17:41] josalem commented on #56808
I'd be wary of the `GetProcessInfo2` command having a side-effect like that. I'd rather that be a separate command if we did that via the IPC channel at all.

I'm not sure about the broader implications of this. @vitek-karas is it feasible to load the main assembly _before_ the host calls `EnsureEEStarted`? Will this break loader tracing because it would be loading things before EventPipe is start

[2021-08-04 17:42] vcsjones commented on #50528
@buyaa-n is this something you are working on or is this something I can contribute to? Some of these look reasonable.

[2021-08-04 17:47] eerhardt commented on #51602
I wouldn't disable the test. I would just suppress the warning.

[2021-08-04 17:56] steveisok commented on #56516
@ViktorHofer We'll take a look at it. I have an idea of what's wrong.

[2021-08-04 17:58] #41560 closed

[2021-08-04 18:04] wfurt opened #56851 "Multiple calls of QuicConnection.CloseAsync lead to Debug.Assert"
I bump to this while looking at #56115
On failure, Kestrel calls
[code]
[conn][0x7FEA58000B60] Connection received event SHUTDOWN_COMPLETE 8/4/2021 10:54:09 AM

that will close the connection. And than again
[code]

This may be wrong pattern but I feel we should eater act in some more predictable way: either ignore the second call and throw `InvalidOperationException`. It either case it would be n

[2021-08-04 18:06] steveharter commented on #56514
Note there are new [JsonSerializer methods](https://github.com/dotnet/runtime/issues/31274) that allow conversions between objects and `JsonNode` for both serialize and deserialize. These were also added to `JsonElement` and `JsonDocument`.

So instead of
[code]

you can now do:
[code]

Also, if you just want to serialize an existing CLR object (whether a primitive, object or collection) within a

[2021-08-04 18:06] #56514 closed

[2021-08-04 18:15] JeremyKuhne commented on #51097
Something is over top of it, it is off screen, etc. I'd try just grabbing the desktop DC. Here is how I was experimenting with this: https://github.com/JeremyKuhne/WInterop/blob/main/src/Tests/WInterop.Tests/GdiPlus/ClippingTests.cs

[2021-08-04 18:19] mdh1418 opened #56854 "[libraries][Android] ConcurrentDictonary assert failure in Android Debug"
When running both `System.Net.Ping.Functional.Tests` and `System.Security.Cryptography.X509Certificates.Tests` on Android x64 in Debug mode locally, they crash with
[code]

It seems to hit an assert at https://github.com/dotnet/runtime/blob/c16cb0ed11d6473192fb7dfc76245404a2e8b3ef/src/libraries/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentDictionary.cs#L474

Logs
https

[2021-08-04 18:23] L2 opened #56855 "Possible .NET optimization opportunities for an accumulated multiply-add loop"
When comparing the compilation behavior of MSVC vs .NET for the dotnet/performance `SqMtx` benchmark, there may be a few optimization opportunities for .NET. I'll only be looking at the `Inner` method as it takes up almost all of the benchmark time.

### Repro

Benchmark: https://github.com/dotnet/performance/blob/main/src/benchmarks/micro/runtime/Benchstones/BenchF/SqMtx.cs
Both the .NET and C++

[2021-08-04 18:25] ahazelwood commented on #42790
I also just rant into this after upgrading some linux hosts with a Azure File Share using the 3.1 runtime.  Saved me a ton of additional time trying to track down the issue.

[2021-08-04 18:29] mdh1418 commented on #50567
[code]

The PlatformNotSupportedException is a result of https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/libraries/System.Net.NetworkInformation/src/System/Net/NetworkInformation/StringParsingHelpers.Connections.cs#L32-L37
and on Android shell
[code]

It should be evaluated again after #51303

[2021-08-04 18:39] sbomer commented on #51602
Yes - it's not categorized as a "Trim analysis" warning in the linker because we want to encourage the use of fully-qualified type names for parameters that have `DAMT` requirements (see discussion in https://github.com/mono/linker/issues/1895). But if it's too noisy we can definitely reconsider.

These tests look like they aren't testing a user scenario (they seem to use strings that don't map to

[2021-08-04 18:40] JulieLeeMSFT commented on #56795
closing.

[2021-08-04 18:40] #56795 closed

[2021-08-04 18:42] JulieLeeMSFT commented on #56855
CC @dotnet/jit-contrib

[2021-08-04 18:43] eerhardt commented on #51602
Sounds good to me. Thanks for verifying.

[2021-08-04 18:44] mdh1418 commented on #49931
Issue no longer tracked in the code, the tests seem to be skipped/pass now after https://github.com/dotnet/runtime/pull/56586

[2021-08-04 18:46] #53200 closed

[2021-08-04 18:55] davidwrighton commented on #56492
@rikkigibson, this is on my radar, and I expect to get it fixed before RC1. I'm currently looking at some stress issues, and then I'll take a look at this one.

[2021-08-04 18:56] mdh1418 commented on #49932
No longer fails locally. Debug mode also runs into https://github.com/dotnet/runtime/issues/56854

[2021-08-04 18:57] #53559 closed

[2021-08-04 18:57] #55164 closed

[2021-08-04 18:58] #47255 closed

[2021-08-04 19:02] davidwrighton commented on #46279
I've been trying to reproduce the Windows Arm issue, and I haven't had any luck. I guess I'll step through the darn thing to see where we get close to hitting the stack limit and see what's getting us closest.

[2021-08-04 19:05] davidwrighton commented on #49184
Dealing with the exact behavior of out of range testing on arm32 is not going to happen this release. Pushed issue to 7.0

[2021-08-04 19:07] mdh1418 commented on #47340
I ran `System.Linq.Parallel.Tests` locally on Android x64 Release a few times and it doesn't crash. Not sure how to repro as the logs are no longer accessible.

[2021-08-04 19:07] #47340 closed

[2021-08-04 19:12] janvorli commented on #46279
@davidwrighton I have fixed it already in #56774 and assigned you as a reviewer. I guess you might have missed it then.

[2021-08-04 19:15] #49174 closed

[2021-08-04 19:21] danmoseley commented on #51097
Thanks for the snippet. OK, up for grabs for someone to fix the test to do this.

[2021-08-04 19:22] echesakovMSFT commented on #46347
The test is no repro either in the CI or locally.

[2021-08-04 19:28] #56746 closed

[2021-08-04 19:29] kouvel commented on #43905
I'm not sure which change would have caused the regression. It doesn't seem likely that https://github.com/dotnet/runtime/pull/38225 would have caused it since the portable thread pool was not enabled in that change, and the tests currently perform similarly with and without it enabled. In any case, the large regressions seem to have recovered in all of the tests above and https://github.com/dotne

[2021-08-04 19:29] #43905 closed

[2021-08-04 19:54] davidwrighton commented on #53489
I'm pretty sure this was fixed as part of other stress/arm64 fixes we've made. I cannot see any evidence that this has failed in recent test runs, and I could not reproduce this locally.

[2021-08-04 19:54] #53489 closed

[2021-08-04 19:56] DRKV333 opened #56864 "System.Text.Json source generator does not handle reference types with design time custom converter properly"
### Description

The problem is caused by this part:
https://github.com/dotnet/runtime/blob/571b4b4283007c3c2315a780eacce19f9bbd514c/src/libraries/System.Text.Json/gen/JsonSourceGenerator.Emitter.cs#L284-L285
The source generator always emits this when a `JsonConverter` attribute is present on the type to serialize, however, the code is only valid for value types.

Here is a minimal setup to repro

[2021-08-04 19:57] bcreswell commented on #56776
Yes Type.GetType() accepts an assembly qualified name and that's why I assumed Assembly.GetType() would as well. The trouble is if you get the FullName of a generic type, the generic argument will be represented as an assembly qualified name even though you asked for FullName.

Example:
var fullName = (new List<string>()).GetType().FullName;
The fullName variable here is "System.Collections.Generi

[2021-08-04 20:00] #46279 closed

[2021-08-04 20:03] steveharter commented on #55568
@stepht does the newer SDK fix the issue on Blazor? If so, this issue should be closed. Thanks

[2021-08-04 20:06] #56779 closed

[2021-08-04 20:11] stephtr commented on #55568
My issue is fixed, I don't know what's with @romfir.

[2021-08-04 20:17] steveharter commented on #55135
We should not be causing AccessViolation. Ideally we improve the error detection upfront. If that is not feasible, we could add some `castclass` opcodes in the IL generation that will throw `InvalidCastException`, but that will have a small impact on runtime perf.

The converter model was not intended to be covariant - the JsonConverterFactory should be used to instantiate the correct converter.

[2021-08-04 20:18] steveharter commented on #55135
This could be moved to 7.0; I don't believe the semantics changed in 6.0.

[2021-08-04 20:20] sandreenko commented on #56522
I have investigated it more and I believe there is a problem with non-volatile floating register restore after an exception that happens in C++ on arm64 Linux/OSX. I have discussed it with @davidwrighton and he suggested moving it to the runtime area for now.

So I suspect that if we throw an exception like this:
https://github.com/dotnet/runtime/blob/f5988467e9762ebcfd5e77cc18d83dba58e36c35/src/c

[2021-08-04 20:23] steveharter commented on #50851
Suggest moving to 7.0. No community asks that I'm aware of.

[2021-08-04 20:29] jkoritzinsky commented on #56701
I believe that the two COM objects compare unequal because the proxy on the MTA has a different IUnknown pointer than the original object on the STA. Since .NET uses the IUnknown pointer as the identity element, the two instances compare as non-equal. I'm not familiar enough personally with COM cross-apartment marshalling, so I'm not sure what the best solution here would be.

@AaronRobinsonMSFT d

[2021-08-04 20:35] AaronRobinsonMSFT commented on #10572
Now that the [`ComWrappers`](https://docs.microsoft.com/dotnet/api/system.runtime.interopservices.comwrappers) API has been [enabled on all platforms](https://github.com/dotnet/runtime/issues/36582) where CoreCLR runs, I am considering this issue closed as it is now possible. What is still missing is a source generation tool similar to [C#/WinRT](https://github.com/microsoft/CsWinRT) but for COM.

[2021-08-04 20:35] #10572 closed

[2021-08-04 20:43] Maoni0 commented on #47569
[this](https://github.com/Maoni0/mem-doc/blob/master/doc/.NETMemoryPerformanceAnalysis.md#the-one-rule-to-remember) should help explain what you are seeing.

[2021-08-04 20:45] GrabYourPitchforks commented on #42384
We just posted our plan for cryptographic support in Blazor/wasm apps in .NET 7 and beyond. [See here](https://github.com/dotnet/designs/blob/main/accepted/2021/blazor-wasm-crypto.md) for full details. That document also includes sample code demonstrating how to interop with the JS layer to get support for other algorithms (like HMACSHA256) which aren't supported out-of-the-box in Blazor/wasm in .

[2021-08-04 20:47] GrabYourPitchforks commented on #40074
We just posted our plan for cryptographic support in Blazor/wasm apps in .NET 7 and beyond. [See here](https://github.com/dotnet/designs/blob/main/accepted/2021/blazor-wasm-crypto.md) for full details. That document also includes sample code demonstrating how to interop with the JS layer to get support for other algorithms (like HMACSHA256) which aren't supported out-of-the-box in Blazor/wasm in .

[2021-08-04 20:48] GrabYourPitchforks commented on #43939
We just posted our plan for cryptographic support in Blazor/wasm apps in .NET 7 and beyond. [See here](https://github.com/dotnet/designs/blob/main/accepted/2021/blazor-wasm-crypto.md) for full details. That document also includes sample code demonstrating how to interop with the JS layer to get support for other algorithms (like HMACSHA256) which aren't supported out-of-the-box in Blazor/wasm in .

[2021-08-04 20:48] #43939 closed

[2021-08-04 21:03] tmds commented on #43349
Great! Thank you for the reference.

[2021-08-04 21:07] danmoseley commented on #28402
As with all api-suggestions, the next step here is for someone interested to write up the proposal in the form in the "new API proposal" issue template, and paste here.

[2021-08-04 21:08] vcsjones opened #56868 "[API Proposal]: Obsolete System.Security.SecurityContext"
### Background and motivation

Splitting off this from https://github.com/dotnet/runtime/issues/50528 to obsolete `System.Security.SecurityContext`.

This API is a remnant of CAS which has largely already been deprecated. All public members of this type throw a `PlatformNotSupportedException`.

### API Proposal

Obsolete this type under the same diagnostic as we have used for the other CAS related

[2021-08-04 21:09] KlausLoeffelmann commented on #52116
@merriemcgaw - considering we are getting customer reports about this, should we consider servicing?

https://github.com/dotnet/winforms/issues/2748

[2021-08-04 21:12] ManickaP opened #56870 "[HTTP/3] Disabled cookie tests / retries happen on the same connection"
Whole `SocketsHttpHandlerTest_Cookies_Http3_Mock` class is disabled since it fails in CI (doesn't reproduce locally with > 100 runs)
Error:
[code]

[2021-08-04 21:20] mcliment commented on #55010
Hi @antonfirsov, thanks for checking up.

At ths this moment, using 64bit process is working like a charm since I opened the ticket. Not sure if that gives some clues.

I contacted you over Twitter to send you the dumps that I sent to your colleague.

As for the proposed solutions, I think I tried many things, including using IP address and IPv6 address, but I'll try again when I come back from va

[2021-08-04 21:37] romfir commented on #55568
using rc.1 builds it no longer throws.

[2021-08-04 21:37] #55568 closed

[2021-08-04 22:04] lockiegarnett commented on #44255
Exact same issue!

[2021-08-04 22:16] lockiegarnett commented on #44255
Developing in vb.net
Using dot net 4.8 framework.

We generate a preview after accessing the printer settings (not printing at this point)
System.Drawing.Printing.PrinterSettings
- PrinterResolution
- PaperSizes
- PaperSources

Additionally Network Printing Settings Load Times are affected by:
- Remote servers internet latency (multiple repeat trips to get a single printers settings?)
   e.g.
   3

[2021-08-04 22:20] #56609 closed

[2021-08-04 22:24] janvorli commented on #55518
@Ap0k I've investigated the issue a bit more deeply and the issue seems to be that the dynamic assembly (represented by InternalAssemblyBuilder instance) is referencing a managed LoaderAllocator that doesn't match the assembly load context that we get from pAssembly->GetFile()->GetAssemblyLoadContext(); If I dump the managed dynamic assembly objects in WinDbg and then dump the object referenced by

[2021-08-04 22:26] josalem commented on #38801
This is a different failure than what this issue is tracking. This looks more similar to #54469.

[2021-08-04 22:39] danmoseley commented on #48885
@davidfowl can you ack or push back here to help us make the right call?

[2021-08-04 22:41] danmoseley commented on #56072
@davidfowl can you please give more detail on what you're hoping to learn from ArrayPool data. There's a perf concern about the discard rate. Help us get asap to an agreed list if any.

[2021-08-04 22:42] MihaZupan opened #56875 "Test failure: Dispose_WithPendingAcceptAndConnect_PendingAndSubsequentThrowOperationAbortedException"
Test: `System.Net.Quic.Tests.QuicConnectionTests_MsQuicProvider.Dispose_WithPendingAcceptAndConnect_PendingAndSubsequentThrowOperationAbortedException`

Day | Run | OS
-----|-----|-----
8/4 | PR #56719 | ubuntu.1604.amd64.open.rt
8/1 | PR #55353 | ubuntu.1604.amd64.open.rt
7/30 | PR #56531 | ubuntu.1604.amd64.open.rt

[code]

[2021-08-04 22:43] AaronRobinsonMSFT commented on #56701
@forderud That is by-design. Proxies in COM are intentionally designed to look and work like the object instance itself. Attempting to peer through the proxy is violating the intention of how COM is designed to work &ndash; the client really shouldn't know/care in practice.

This is not the intent of the `GetHashCode`, `Equals`, or `==` operator as they appear on an RCW. Those methods/operators ar

[2021-08-04 22:54] Tratcher opened #56876 "Http/3 adds alt-used header even when alt-svc isn't is used"
https://github.com/dotnet/runtime/blob/0c200955af77bf17cd05488db96d3cdb3716a16c/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http3RequestStream.cs#L528-L529

This code makes the incorrect assumption that Alt-Svc is required, and therefore Alt-Used should always be added. Alt-Svc isn't required when using `HttpVersion.Version30` and `HttpVersionPolicy.RequestVersionExact` an

[2021-08-04 23:05] #46347 closed

[2021-08-04 23:10] mdh1418 commented on #49890
Ran locally, tests seem to pass.

[2021-08-04 23:19] wfurt commented on #56875
seems like symptoms of #55979. It feels like the test even did not start executing the test body.

[2021-08-04 23:22] StephenMolloy commented on #39704
I looked at this one to help churn through burndown, and it seems pretty straighforward. No COM on Mono ==> Don't run the COM test on Mono. So I updated the test, created a PR, and then...

I thought to myself - I don't think we actually own Formatters. So... @GrabYourPitchforks? Here's a bug an a PR for quick review.

[2021-08-04 23:31] eerhardt commented on #48553
I was able to repro the error when using the 3.1 version of DependencyInjection. Using the 5.0 and 6.0 versions of DependencyInjection I am no longer seeing an Internal CLR error. I believe it was fixed with https://github.com/dotnet/runtime/pull/42152.

I'm going to close this issue.

Also note that using `struct`s in DI isn't fully supported yet. See https://github.com/dotnet/runtime/issues/4216

[2021-08-04 23:31] #48553 closed

[2021-08-04 23:32] Anipik commented on #44257
@buyaa-n  is this still an issue ?

[2021-08-04 23:35] eerhardt commented on #50025
This no longer repros using 5.0 or 6.0 versions of DependencyInjection. I believe it was fixed by https://github.com/dotnet/runtime/pull/42152.

Closing.

[2021-08-04 23:35] #50025 closed

[2021-08-04 23:37] Anipik commented on #54012
@ViktorHofer is it .NET 6 deliverable ?

[2021-08-04 23:38] buyaa-n commented on #44257
There is nothing more left until https://github.com/dotnet/sdk/issues/14836 implemented and using that feature for disabling TFM attribute in test projects

[2021-08-04 23:40] Anipik commented on #50127
@trylek can we move this to 7.0.0 ?

[2021-08-04 23:43] #56014 closed

[2021-08-04 23:47] Anipik commented on #54341
@ericstj should we address this in 6.0 ?

[2021-08-04 23:55] geoffkizer commented on #56876
Yeah, good issue.

We need to remember whether we saw an Alt-Svc that told us where/how to do H3, and only send the header if we have.

[2021-08-05 00:07] davidwrighton opened #56880 "Re-enable the assembly level attribute portions of src/tests/reflection/GenericAttribute/GenericAttributeTests.cs"
This cannot be done until the fix for dotnet/msbuild#6734 reaches the SDK used to build the product.

[2021-08-05 00:26] #55948 closed

[2021-08-05 00:26] geoffkizer commented on #56851
Yeah, seems like we should ignore a call to CloseAsync if we are already closed.

These are not concurrent calls, are they? We should probably handle that too. Would Kestrel ever call CloseAsync from multiple threads at the same time? Seems like it very well might.

[2021-08-05 00:33] wfurt commented on #56851
It does not seems to call it in parallel  - at least not in case I'm looking at. I was just surprised to see assert when I run asp tests with debug runtime. So far no other sign of specific badness.

[2021-08-05 00:34] geoffkizer commented on #56851
Running ASP.NET tests with a debug runtime seems like a very good idea.

[2021-08-05 00:50] wfurt commented on #56851
I would like to to that also with out stress and debug build of msquic. @nibanks mentioned they find interesting stuff that way. I have basic packages changes in but the whole loop still did not close.

[2021-08-05 01:14] ericstj commented on #54341
Yes if possible.  This will only become harder to fix in 7.0.  I think @ViktorHofer was planning to do this.

[2021-08-05 01:28] VincentBu opened #56882 "Test failure:JIT/IL_Conformance/Convert/TestConvertFromIntegral/TestConvertFromIntegral.sh"
Run: [runtime-coreclr jitstress 20210803.3](https://dev.azure.com/dnceng/public/_build/results?buildId=1275253&view=ms.vss-test-web.build-test-results-tab&runId=37718152&paneView=debug&resultId=101801)

Failed test:
[code]
**Error message:**
[code]

[2021-08-05 02:06] jeromelaban opened #56884 "[Wasm][Intepreter] Debugger is unconditionally enabled causing a performance regression"
### Description

The following message is displayed even if the debugger is explicitly disabled, using interpreter-only build:

[code]

Caused by the debug_level being ignored, when debugger is not stubbed:
https://github.com/dotnet/runtime/blob/08a7b2382799082eedb94d70fca6c66eb75f2872/src/mono/mono/component/mini-wasm-debugger.c#L149-L164

### Configuration

08a7b2382799082eedb94d70fca6c66eb75f28

[2021-08-05 02:07] vargaz commented on #39187
This PR:
https://github.com/dotnet/runtime/pull/56883
will fix the error handling, so it will now fail with a more reasonable error message.

[2021-08-05 04:27] davidwrighton opened #56887 "Mono does not support querying for and open generic type when searching for Attributes"
### Description

While fixing issue #56492 in coreclr, I discovered that the generic attribute test was not running on any platform. When I enabled it, not only did mono have issue #56492, it also didn't appear to support generic attribute at all. This may be a blocker for dotnet/roslyn#55190. As part of the fix for the coreclr bug, in PR #56879 I will be fixing the build of the generic attribute

[2021-08-05 04:35] davidwrighton commented on #50127
Yes. We're not going to do this in the 6.0 timeframe.

[2021-08-05 04:35] Ap0k commented on #55518
@janvorli  A separate `AssemblyLoaderAllocator` is created for dynamic assemblies that are created with the
`AssemblyBuilderAccess.RunAndCollect` flag.
https://github.com/dotnet/runtime/blob/5bef921d41e1dc6832c61d2d6e7cae13dc35a2db/src/coreclr/vm/assembly.cpp#L583
This in turn allows you to unload a dynamic assembly without unloading its associated `AssemblyLoadContext`. This logic works fine if t

[2021-08-05 04:47] davidfowl commented on #48885
Is there any low hanging fruit here we could tackle for .NET 6?

[2021-08-05 04:51] davidfowl commented on #54170
@pakrym spot the bug https://github.com/dotnet/runtime/blob/7c8f5fbee22030e69ca69615a157597cc035e854/src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceProvider.cs#L170

[2021-08-05 04:55] MichalStrehovsky commented on #51912
There are failing tests blocked on this issue, reopening. https://github.com/dotnet/runtime/pull/56859#discussion_r683050234

[2021-08-05 05:11] am11 commented on #55517
@janvorli, fyi, enabling event log with `DOTNET_EnableEventLog=1` (or `COMPlus_EnableEventLog=1`)  raises this heap contamination assertion, even with a simple 'corerun helloworld.dll'. corehost has no issue with event log.

[2021-08-05 05:12] ViktorHofer commented on #54012
It's not a deliverable in the sense that it must happen in .NET 6 or that customers are waiting for it but I really want to get this in before we fork.

[2021-08-05 05:35] am11 opened #56888 "corerun with DOTNET_EnableEventLog: "Heap contamination detected! "HeapFree was called on a heap other than the one that memory was allocated from.""
Based on current main (5bef921), build product and tests in Debug configuration on Ubuntu 18.04 x64:

[code]

Running a simple hello world app works:

[code]

running the same app with event log enabled fails an assertion:

[code]

corehost, OTOH, has no issue with `DOTNET_EnableEventLog=1` (or `COMPlus_EnableEventLog=1`).

[2021-08-05 05:44] am11 commented on #56888
cc @josalem, @janvorli
I found this when writing LTTng tests (wip branch: https://github.com/am11/runtime/commit/0819e1dc52a33cc37e9df5d1feedc3325e72d40b) and reduced it to a simple hello world. Setting `DOTNET_EnableEventLog=1` on anything chokes corerun.

[2021-08-05 05:50] Kokujou commented on #56834
that's even better :) i would also use the replacemanet for DerivedBytes but our salt has just 2 bytes and the recommended replacement class needs at least 8.

[2021-08-05 06:03] buyaa-n commented on #56554
Looks duplicate of https://github.com/dotnet/runtime/issues/55518

[2021-08-05 06:06] eiriktsarpalis commented on #55135
I already have a PR open that fixes this: #56577

[2021-08-05 06:24] eiriktsarpalis commented on #56645
Curious how making the parameter oblivious changes warning semantics here. Switching between non-nullable and nullable-oblivious in the base method of your code sample did not produce a different set of warnings.

[2021-08-05 07:20] #56734 closed

[2021-08-05 07:41] wfurt opened #56890 "We should update ResponseStreamTest HTTP tests to support HTTP2 & HTTP3"
found this while looking at #56115

[2021-08-05 07:57] wfurt opened #56891 "[QUIC] Read can be highly inefficient"
I bump to this while looking at  #56115

Consider the ` BigWrite_SmallRead_Success`. We can receive 100b in single contiguous chunk and yet we would do 99 p/invokes to MsQuic and then receive 99 additional events via `HandleEventRecv`.

It feels like there is no point of informing MsQuic that we process something unless it is at least QuicBuffer.Length worth off data. There is no way IMHO it can r

[2021-08-05 08:30] AKA285066112 commented on #41050
This is the cause of  **.net core** self-death

[2021-08-05 08:42] renaa commented on #12409
bump

[2021-08-05 08:42] davidfowl commented on #41050
This one bug Doubtful... There are also ways to do this on .NET Core with other DI containers.

[2021-08-05 08:53] #56345 closed

[2021-08-05 09:01] ViktorHofer opened #56894 "FileStream_WriteAsync_AsyncWrites.WriteAsyncCancelledFile test failed"
[code]

Configuration: `Libraries Test Run release coreclr windows x86 Debug`

Console log: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-56712-merge-c083d1b3869d4a13bc/System.IO.FileSystem.Tests/1/console.7aac5a3d.log?sv=2019-07-07&se=2021-08-25T07%3A40%3A08Z&sr=c&sp=rl&sig=OvyvEWqdM7XTBoPT9NzUEPfA21XoOfUo2%2BjKOeV6MUc%3D

Build: https://dev.azure.com/dnceng/publ

[2021-08-05 09:03] #31810 closed

[2021-08-05 09:03] #53202 closed

[2021-08-05 09:17] AKA285066112 commented on #41050
It is just an SDK providing supports for various scenarios。  Instead of restricting  users  how to use it ！

[2021-08-05 09:23] AKA285066112 commented on #41050
Want to make a function to return the correct result without accepting the request parameters,  this design is very strange!

[2021-08-05 09:28] ManickaP commented on #56683
@JamesNK is there something left for us to fix? If I get it right, this should be fixed in Grpc by not using the call's CT in `ReadAsync`.

@CarnaViire I remember we had a discussion saying that the problem is not the H/3 behavior but H/2 behavior which allows this to work. Do I remember it correctly or was it something else? If yes, is there any issue filed from that discussion?

[2021-08-05 09:50] JamesNK commented on #56683
gRPC isn't doing anything wrong. It's triggering a cancellation token - a perfectly normal thing to do - then calling `HttpResponseMessage.Dispose()` - also normal.

The problem is HttpClient turns these normal actions into a race that can explode. The race should be fixed in HttpClient.

[2021-08-05 10:00] tippisum opened #56896 "[API Proposal]: coreclr retrieving an existing host handle"
### Background and motivation

Currently, `coreclr_initialize` is not supported to be called more than once. **On the other hand, there is not any method to retrieve an already initialized host, either.**
As a result, if one ever want to execute any .NET Core code from native, he must be the _first one to contact coreclr_, or he is _completely out of luck_.

Situation: one is writing a plugin whic

[2021-08-05 10:24] RussKie opened #56897 "Reading configuration settings fails with System.UriFormatException: 'Invalid URI: The hostname could not be parsed.'"
### Description

Observed while using the new Windows Forms designer to design a migrated app from net461 to net5.0.
**This doesn't appear to be a problem while running an app, but it is a problem when the code is executed in the Windows Forms designers (which is now run out of proc).**

![image](https://user-images.githubusercontent.com/4403806/126037495-ec7307fe-9546-4505-9176-6ad530192ab1.png)

[2021-08-05 10:26] HEIC-to-JPEG-Dev opened #56898 "EnumerateFileSystemInfos on SSD slower than HDD when Windows has the data cached"
### Description
EnumerateFileSystemInfos against the root of an SSD that's been previously enumerated, takes longer than it does to enumerate the root of a HDD (that's been previously enumerated).

HDD
Run EnumerateFileSystemInfos at root, with RecurseSubdirectories = true. First run was 26 seconds, subsequent runs consistently <1 second.

SSD
Run EnumerateFileSystemInfos at root, with RecurseSubd

[2021-08-05 10:41] dazinator commented on #41050
The only solution I could find was to:-
1. Examine the `ServiceDescriptors` before the service provider is built, and harvest singleton Open Type Generic descriptors.
2. Use the information gleaned in step 1, to construct a decorator for the original IServiceProvider, that intercepts `GetService` requests and identifies the type being requests relates to an open generic descriptor. The result of t

[2021-08-05 10:45] alnikola commented on #43978
Done.

[2021-08-05 10:45] #43978 closed

[2021-08-05 10:52] #56884 closed

[2021-08-05 11:24] #49890 closed

[2021-08-05 11:27] #39704 closed

[2021-08-05 11:33] #50570 closed

[2021-08-05 11:33] #49932 closed

[2021-08-05 11:33] #50574 closed

[2021-08-05 11:33] #50937 closed

[2021-08-05 11:33] #52650 closed

[2021-08-05 11:35] akoeplinger commented on #49872
@mdh1418 ah sorry, I missed that this still failed on Android x86 in https://github.com/dotnet/runtime/pull/56852. Can you please make the two tests `ConditionalFact` and throw SkipTestException on Android x86 for now?

[2021-08-05 11:37] noahfalk opened #56901 "MetricsEventSource counts all 3 percentile values in a Histogram as one time series"
For other instrument types we have a single value output and we count them as 1 time series, but for histograms which have 3 output values we still count them as only 1 time series against the limit. Ideally we'd count them as 3.

See https://github.com/dotnet/diagnostics/pull/2373#discussion_r683294633

[2021-08-05 11:40] forderud commented on #56701
Thanks for the feedback @jkoritzinsky & @AaronRobinsonMSFT . I guess I then misunderstood the intended semantics when comparing  managed `object` instances.

As a work-around I've already created a `EqualComObjects` function to use instead of `Equals` or `==` for comparing the underlying COM objects:
[code]

This seem to work nicely for me. However, it would be simpler & less confusing if .Net cou

[2021-08-05 11:44] noahfalk commented on #56901
Given that the default time series bound is large and and histograms have their own independent limit which defaults much lower the total error introduced by this is <1%. It is easily noticable while testing with very small limits on maxTimeSeries, but I don't predict users would have any practical reason to reduce the default limit to the tiny values used in testing. Resolving it "Won't Fix" on t

[2021-08-05 11:44] #56901 closed

[2021-08-05 11:47] ivo-stoilov opened #56902 "Crash in Profiler API on Linux"
Hello,

We are encountering a crash in attempts to use IMetaDataAssemblyImport::GetAssemblyRefProps method from the Profiler API on Linux, here is a stack trace of the failing call:

[code]

Please let us know what else needs to be provided so that we can move forward with this issue as soon as possible.
Since our product has a closed code base any sensitive information could be supplied via a pri

[2021-08-05 11:51] antonfirsov commented on #55010
@mcliment thank you for the dump!

I had a look, both `IPEndPoint` and `SocketAddress` seem to be valid and correct, despite `WSAConnect` failing with `WSAEFAULT`. The most sane thing I can think of is a bug in winsock DualMode sockets on 32 bit. I'm about to contact the winsock team if they are aware of any known issues. Do you know the Windows version (`[System.Environment]::OSVersion.Version`)

[2021-08-05 12:04] eiriktsarpalis commented on #45346
@GrabYourPitchforks is this something we should try to get fixed for .NET 6?

[2021-08-05 12:07] theodorzoulias commented on #56820
Related: [ChannelReader<T>.ReadAllAsync(CancellationToken) - important cancellation details missing in docs](https://github.com/dotnet/dotnet-api-docs/issues/6751)

[2021-08-05 12:29] #45703 closed

[2021-08-05 12:36] clairernovotny commented on #53767
Any progress here?

[2021-08-05 12:37] SingleAccretion commented on #10905
This has been fixed in #53782.

[2021-08-05 12:47] janvorli commented on #55518
You are right. I believe that the fix should be to create dependency link between the LoaderAllocator of the dynamic assembly and the LoaderAllocator of the AssemblyLoadContext that we use for the contextual reflection. So that the latter would be held alive as long as the former exists. There is a LoaderAllocator::EnsureReference function that does that.

[2021-08-05 13:04] mcliment commented on #55010
I ran the command in the current machine:

[code]

Not sure if that was the version in the moment the bug was happening, but the web app is exactly the same.

[2021-08-05 13:06] thaystg commented on #56248
I created this issue: https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1366427/ for VS team. I will close this one as I believe they should fix on their side.

[2021-08-05 13:06] #56248 closed

[2021-08-05 13:12] thaystg commented on #41979
As I understood this is already fixed and has a lot of tests for it. If there is any case that you know that is not working @radical please reopen the issue and tell me how to reproduce.

[2021-08-05 13:12] #41979 closed

[2021-08-05 13:14] vcsjones opened #56908 "Consider removing minimum salt length requirement from Rfc2898DerivedBytes"
The instance-based PBKDF2 implementation in `Rfc2898DerivedBytes` currently throws an `ArgumentException` if a user supplied salt is less than 8 bytes.

https://github.com/dotnet/runtime/blob/1a4675db08384e4f20cf4481e6eaf03e40f3d754/src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/Rfc2898DeriveBytes.cs#L17

I would propose to remove this limitation. Though I d

[2021-08-05 13:24] jzabroski commented on #12506
@jeffschwMSFT @vitek-karas Any chance this can get looked at again?  I know that Vitek explained (in the linked Merged dotnet/docs PR above) some of the reasons why things are different in the new runtime environment than legacy .NET <=4.8.

[2021-08-05 13:42] DemiMarie commented on #56140
As a security researcher, thank you!

[2021-08-05 13:52] antonfirsov commented on #55010
Thanks! Let's see if the winsock folks can report back something interesting. BTW build 14393 means 1607 (Anniversary Update), which is quite old.

[2021-08-05 14:16] hopperpl commented on #56908
as a note: the official Zip AES-256 file encryption specification uses PBKDF2 with a salt length of 128 bits

[2021-08-05 14:29] SamMonoRT commented on #56887
@lambdageek @vargaz fyi

[2021-08-05 14:30] bcreswell commented on #56776
That workaround isn't going to work i dont think. Consider this serialization use case:

1. Use AssemblyType.GetType().FullName to get the type's string
2. store that string to disk
3. later, try to recreate the type using the string.

We wont have the type object available. Wont be able to call "IsGenericType" on it because all we have is the string. The whole point of Assembly.GetType() is to ge

[2021-08-05 14:30] aik-jahoda commented on #42613
@MihaZupan  I was able to reproduce this issue in helix test loop on latest main

[2021-08-05 14:31] eerhardt commented on #54170
@maryamariyan is working on getting perf numbers with this fixed. My hope is it fixes these regressions.

[2021-08-05 14:31] #41984 closed

[2021-08-05 14:50] fanyang-mono commented on #56814
@lewing I just changed the milestone of this issue to Future. If this issue will be unlikely actionable, feel free to close it.

[2021-08-05 15:06] #51537 closed

[2021-08-05 15:14] antonfirsov commented on #42211
#### Report 8/5

brief look through the CI output between 7/29-8/5:
- No new failure types in the test runs
- #56775 broke the last build, which is being fixed in #56912

[2021-08-05 15:17] MihaZupan commented on #56549
| Domain      | Query | Network with IPv6 support | Network without IPv6 support<sup>1</sup> | App with IPv6 disabled<sup>2</sup> |
|-------------|--------|-----------------|---------------------|---------------|
| IPv4 only   | Unspecified    | IPv4 address            | IPv4 address            | IPv4 address          |
| IPv4 only   | InterNetwork   | IPv4 address            | IPv4 address

[2021-08-05 15:19] eiriktsarpalis commented on #56017
I'm not able to discern a regression running the particular benchmark on my machine. Here are the results of a few runs:

### 07336810acf3b4e7bdd0fb7da87b54920ea9c382 (baseline)

|          Method | Size |     Mean |     Error |    StdDev |   Median |      Min |      Max |  Gen 0 |  Gen 1 | Gen 2 | Allocated |
|---------------- |----- |---------:|----------:|----------:|---------:|---------:|-----

[2021-08-05 15:21] MihaZupan commented on #42613
What kind of issue did you observe (failure / timeout / hang)?

[2021-08-05 15:22] pakrym commented on #54170
Oh no, 🤦 `ImplementationType`..

[2021-08-05 15:36] #54294 closed

[2021-08-05 15:39] alexcovington commented on #56734
Confirming #56881 resolves this issue. Big thanks! 😄

[2021-08-05 15:43] vcsjones commented on #50528
I'm not sure adding an `UnsupportedOSPlatform` here would be ergonomic. The issue is that the public API `ExportExplicitParameters` is accessible via the virtual `ECDsa.ExportExplicitParameters`. We would have to decorate the virtual with the UOSP attribute, which would not interact well with derived classes (our own or developers' own). To illustrate:

[code]

Similar concerns lie with `ToXmlStri

[2021-08-05 15:45] AaronRobinsonMSFT commented on #56701
@forderud This is a reasonable solution but only because of how .NET handles RCW caching. There is nothing stopping a custom proxy/stub implementation from creating a new proxy each time.

My statement was only for the `__ComObject` type. The assumed semantics are possible because we could override the `__ComObject.Equals()` method. However, that would make the implementation rather heavy weight a

[2021-08-05 15:48] AndyAyersMS commented on #56689
I've isolated this down to something PGO does to `System.Reflection.CustomAttribute.AddCustomAttributes(ListBuilder`1& attributes, RuntimeModule decoratedModule, Int32 decoratedMetadataToken, RuntimeType attributeFilterType, Boolean mustBeInheritable, ListBuilder`1 derivedAttributes)`.

Suspect it involves inlining so will try and pin that down next.

[2021-08-05 15:52] Jozkee commented on #56810
FWIW: I think the scenario here is: re-create a symlink with a different target i.e: delete it, then create it back.
But this error seems to be very unusual, it has been hit just once in the whole time the test has existed. Plus I tried to locally repro by doing the above mentioned 100k times in a loop and never got the error.

I will keep it in 7.0.0 since it may not be possible to fix it in 6.0.

[2021-08-05 15:59] #50831 closed

[2021-08-05 16:02] ManickaP commented on #56828
Triage: this is non-trivial work . It's not just adding new enum values but also making it work with the OS of choice.

[2021-08-05 16:07] joperezr commented on #36903
@marek-safar looks like this is marked as 6.0.0, is that correct? If so, is there somebody looking into this one?

[2021-08-05 16:08] akoeplinger commented on #40074
Small comment about this section:

We could add an AppContext switch to turn off the managed fallback so users can enforce they're not using the fallback.

[2021-08-05 16:10] GrabYourPitchforks commented on #45346
@eiriktsarpalis I don't have bandwidth to work on this for .NET 6. Since it's not a regression, it's falling below other work items in terms of priority. I'll move to .NET 7 for now and unassign from self, but feel free to move back if somebody wants to pick it up.

[2021-08-05 16:11] joperezr commented on #42428
@layomia are you still planning on addressing this by 6.0? If not, can we adjust the milestone to future then?

[2021-08-05 16:13] msedi opened #56914 "Provide a way to create types from the MetadataLoadContext"
### Discussed in https://github.com/dotnet/runtime/discussions/53415

<div type='discussions-op-text'>

<sup>Originally posted by **msedi** May 28, 2021</sup>
Currently with the `MetadataLoadContext` you can load metadata very quickly but it seems it not straightforward to create real types out of these metadata. Currently I think the approach is to load the runtime assembly in the AssemblyLoadCon

[2021-08-05 16:13] joperezr commented on #44912
@buyaa-n @jeffhandley is this one done?

[2021-08-05 16:14] MihaZupan commented on #56549
As @wfurt noted, getting "No such host is known" for a specific address family makes sense in isolation.

Today, you will get different results for `InterNetworkV6` if:
- The domain exists, but does not have AAAA records (throw)
- The domain exists, has AAAA records, but IPv6 is disabled (empty array)

The downside of changing it is that targeted queries may be more expensive (resolver would be fo

[2021-08-05 16:14] eerhardt opened #56916 "Remove System.Linq entirely in default Blazor WASM app"
We've removed a lot of System.Linq usages in a default Blazor WASM app. With the latest builds, there is only 1 method left `ToArray`, and it only has 3 callers:

![image](https://user-images.githubusercontent.com/8291187/128384177-3e68fbaf-ddf9-476a-a33c-d2f1e0b7d301.png)

We should be able to replace these 3 places with:

[code]

This would completely remove System.Linq from the default Blazor W

[2021-08-05 16:14] #931 closed

[2021-08-05 16:15] vcsjones commented on #40074
All of the FIPS checks were removed from .NET Core and I personally would not like the return of options to disable things to support FIPS requirements. In the case of OpenSSL it won't be FIPS either unless you are using a FIPS build of OpenSSL, which most distros do not use.

[2021-08-05 16:15] DemiMarie commented on #40074
I strongly recommend _not_ supporting a managed AES implementation by default; it will either be super slow or vulnerable to side-channel attacks.  ChaCha20-Poly1305, on the other hand, can be reasonably fast in a pure C implementation, which I recommend using.

[2021-08-05 16:17] Lxiamail opened #56917 "wasm aot failed to compile benchmark test ByteMark.BenchAssignRectangular. Linker issue?"
### Description
build error out of [perf lab run 20210805.3 ](https://dev.azure.com/dnceng/internal/_build/results?buildId=1277991&view=logs&j=1357cd62-e24d-5aa9-0c31-6ecf28bf022d&t=bdc095b6-7aba-59cf-d00c-526aa5e7f168). Completed log is at https://helix.dot.net/api/2019-06-17/jobs/48b6dab4-0fbb-423b-ae9b-4335cd0add78/workitems/x64.micro.net6.0.Partition13/console?access_token={Get this from helix

[2021-08-05 16:17] joperezr commented on #36053
We won't have time to address this in 6.0, so moving it to 7.0 for now.

[2021-08-05 16:18] GrabYourPitchforks commented on #56776
The following sample app works and prints the correct results, demonstrating that `Assembly.GetType(string)` works with the output from `Type.FullName`, even when the type's full name includes the assembly-qualified name of generic parameters.

Am I misunderstanding something about this bug report?

[code]

Output:

[code]

[2021-08-05 16:23] joperezr commented on #43929
Given this is not a regression and don't have an exact repro, I'll move this issue for us to investigate in 7.0.

[2021-08-05 16:24] akoeplinger commented on #40074
@vcsjones yeah, though it could be useful to make sure the managed implementation is trimmed out for size reasons regardless of FIPS issues.

[2021-08-05 16:31] jakobbotsch commented on #49881
Failed in Windows ARM32 again in PR #56790: https://dev.azure.com/dnceng/public/_build/results?buildId=1277844&view=ms.vss-test-web.build-test-results-tab

[2021-08-05 16:34] ManickaP commented on #56851
Triage: we should investigate if there's no serious underlying issue and clean up Kestrel runs. If it's easy we should fix this.

[2021-08-05 16:39] ericstj commented on #42428
I don't think this meets the bar for 6.0 at this point, let's move it out.

[2021-08-05 16:40] janvorli commented on #49881
The test is clearly good at finding GC holes due to its stressy nature.

[2021-08-05 16:45] joperezr commented on #54365
@terrajobst for ZBB tracking, is it ok if we move the milestone of this issue to future?

[2021-08-05 16:50] eiriktsarpalis commented on #45346
Assigning to self, will try to tackle if I happen to have cycles towards the deadline.

[2021-08-05 16:51] joperezr commented on #49376
@Thomas-Avery thanks for the great investigation! Have you had a chance to revert that change to again set searchResult property and validate that this fixes the issue you are facing?

[2021-08-05 16:58] kunalspathak commented on #46803
This test is failing again in https://dev.azure.com/dnceng/public/_build/results?buildId=1277859&view=ms.vss-test-web.build-test-results-tab&runId=37788414&resultId=110572&paneView=debug

[2021-08-05 16:59] kunalspathak commented on #46803
https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E7+definition%3A655+name%3A%22test45929%22

[2021-08-05 17:01] kunalspathak commented on #49881
I just reopened #46803 because the failure is not under GCStress but in normal R2R outerloop leg. @jakobbotsch - I think we can close this issue.

[2021-08-05 17:04] jakobbotsch commented on #49881
Sure

[2021-08-05 17:04] #49881 closed

[2021-08-05 17:07] kunalspathak opened #56918 "Official builds are broken with Repeated Asset entry errors"
[code]

Most likely caused by #56712.

[2021-08-05 17:07] kunalspathak commented on #56918
@ViktorHofer

[2021-08-05 17:12] vargaz commented on #56887
The test fails at this line:
        Assert(CustomAttributeExtensions.GetCustomAttributes(programTypeInfo, typeof(MultiAttribute<>), false) == null);

because it calls Array.CreateInstance () with the open generic type.
Looking at the custom attribute code, I don't see the place where it checks for generic type definitions and returns null.

[2021-08-05 17:14] buyaa-n commented on #56776
You are right, i thought @bcreswell is saying that did not work, now I don't know what is the issue here.

[2021-08-05 17:17] joperezr commented on #48491
Correct me if I'm wrong, but seems like the main problem here was that the library didn't support searching on the root of the domain, and looks like that was fixed by turning off ldapreferrals, which @iinuwa has merged in 6.0 on PR https://github.com/dotnet/runtime/pull/54380. That means that you shouldn't need to set the variable in your container any longer and should be able to search on the r

[2021-08-05 17:17] #48491 closed

[2021-08-05 17:19] ManickaP commented on #56870
Description how what the problem is: https://github.com/dotnet/runtime/pull/56831#issuecomment-893060264
Description how the problem manifests: https://github.com/dotnet/runtime/pull/56831#issuecomment-893437549

GoAway arrives on the control stream thus there's a race with the request processing, which might be faster and even make 3 retries on the same connection before it receives and processes

[2021-08-05 17:21] joperezr commented on #52100
@iinuwa thanks so much for investigating this and figuring out what the problem was! Changing the default protocol version set by the library seems a significant breaking change, which I wouldn't change this late in the release cycle but we can revisit this on 7.0 if it is still desired.

Given the initial question on this issue is resolved now, I'll go ahead and close this issue for now. @samkit3

[2021-08-05 17:21] #52100 closed

[2021-08-05 17:22] #56819 closed

[2021-08-05 17:26] joperezr commented on #32734
This is actually already supported, and was added by @iinuwa on PR https://github.com/dotnet/runtime/pull/52904 to 6.0. If you use the latest System.DirectoryServices.Protocols [preview package](https://www.nuget.org/packages/System.DirectoryServices.Protocols/6.0.0-preview.6.21352.12) so you should be able to do something like this:

[code]

[2021-08-05 17:27] joperezr commented on #32734
Given this is already supported, I'll go ahead and close this issue, but @svkuhn feel free to reopen if the snipped I shared doesn't work for you.

[2021-08-05 17:27] #32734 closed

[2021-08-05 17:34] GrabYourPitchforks commented on #40074
We brought this up with the Crypto Board, because our original plan was to implement exactly this. The strongly advised against doing this. Our AppContext switch would be seen as a "do you want a compliant algorithm or not?" setting. But since we can't make any guarantees about the browser's underlying implementation, we don't know anything about compliance, so the switch doesn't actually answer t

[2021-08-05 17:35] lewing commented on #51912
This is effectively tracking that trimming the test breaks the test now.

[2021-08-05 17:49] joperezr commented on #54964
I believe that what @ViktorHofer meant here, is that there are some inbox assets that also get shipped via its library's OOB package, for example System.Text.Json. It's net6.0 asset ships inbox, but also gets shipped in the System.Text.Json package since we want to be able to replace it if we want to via the package, and I can see how @ViktorHofer concern is valid in case we were shipping a slight

[2021-08-05 17:49] AntonLapounov commented on #53161
I cannot reproduce the failure on Linux arm64 Checked (tried gcstress0xc_zapdisable_jitstress2 and some other variations) and I see no recent failures or actionable core dumps.

[2021-08-05 17:50] RikkiGibson commented on #56887
I am looking into whether the compiler team considers it a ship blocker for the feature. cc @jaredpar @jcouv

[2021-08-05 17:55] agocke commented on #53161
Sounds good, let's close for now and we can re-open if problems reappear

[2021-08-05 17:55] #53161 closed

[2021-08-05 18:02] stephentoub opened #56920 "JSON source generator fails to compile if context type isn't in a namespace"
This fails to compile:
[code]
with the errors:
[code]
but wrap both the type to be serialized and the context type in a namespace, and then it compiles fine:
[code]

[2021-08-05 18:05] josalem commented on #56888
I'm not sure what would be different for LTTng between corehost and corerun. That seems odd. Is there any more to the stack when the assert is thrown? clrhost_nodependencies.cpp:296 is just `ClrFree`. I'll see if I can get an LTTng environment set up. If you can easily reproduce this though, it might be faster if you can run it under LLDB and get a `bt` at the assert.

(`lldb corerun -- helloworld

[2021-08-05 18:06] mdh1418 commented on #56854
Building off of latest main this no longer reproduces on Android Debug configuration for any of the suites `System.Net.Ping`, `System.Security.Cryptography.X509Certificates`, or `System.Private.Uri`

[2021-08-05 18:06] #56854 closed

[2021-08-05 18:07] BrzVlad commented on #53601
Disabled test on maccatalyst

[2021-08-05 18:07] #53601 closed

[2021-08-05 18:08] Inspyro opened #56922 ".Net 5 Directory.Delete needs new permissions (vs .Net 4.8)"
### Description
`Directory.Delete(somePath, recursive: true)` throws an `UnauthorizedAccessException` when the user has no `ListDirectory` rights on the parent directory

Repro sample:
[code]

throws:
[code]
This is unexpected, because:
- the same user created the directory
- the user can still create sub directories and files within the directory
- same code works without exception in .Net 4.8
-

[2021-08-05 18:14] maryamariyan commented on #56781
Changing one line

[code]

to
[code]

improves perf from

[code]

to

[code]

[2021-08-05 18:17] ViktorHofer commented on #56918
Got fixed with https://github.com/dotnet/runtime/commit/e9268fbe638687c32db49f90ee0f05f6ddd3f62b.

[2021-08-05 18:17] #56918 closed

[2021-08-05 18:17] danmoseley commented on #45143
I'm going to close this as there's no longer a partner ask and it's a legacy tech.

[2021-08-05 18:17] #45143 closed

[2021-08-05 18:21] GrabYourPitchforks commented on #56908
[RFC 2898, Sec. 4.1](https://datatracker.ietf.org/doc/html/rfc2898/#section-4.1), says the following.

[code]

I suspect this is where the const value came from. But in context, this paragraph is just a recommendation, not a hard requirement. If anything, this probably should have been implemented as an analyzer ("are you really sure you meant to do this?"), not as a hard stop.

I'd be supportive

[2021-08-05 18:23] #56115 closed

[2021-08-05 18:29] tillig commented on #36575
Related: #36496
This was definitely a confusing situation when trying to figure out if a directory exists.

[2021-08-05 18:35] Dvergatal opened #56924 "Using X509Certificate2 with an instance backed by a key from PKCS11 causes authorization failure"
Hi all,
I have a problem with a certificate which is being made like this:

[code]

and pKeyHandle is on pkcs11 token. According to this reply:

_Originally posted by @vcsjones in https://github.com/dotnet/runtime/issues/53345#issuecomment-849685534_

cert.CopyWithPrivateKey(key);` should give me an instance backed by a key from PKCS11, but when i'm trying to connect using RestSharp api with an en

[2021-08-05 18:36] joperezr commented on #54642
How are you publishing your application? I'm not able to reproduce the issue. The ConfigurationManager package has a netstandard2.0 ref and lib files which should be used when targeting netcoreapp3.1, so I think that the error here is more related to your deployment or setup than to the actual package itself. Can you share more info on how do you deploy, and how do you build your application?

[2021-08-05 18:40] joperezr commented on #54464
Hello @klettier thanks for your submission. Do you mind sharing a snippet of how you are trying to perform the search and initializing the controls? Also, are you running your code on Windows or Linux? I agree with you that if it works with ldp.exe it should work as well with S.DS.P SearchRequest.

[2021-08-05 18:42] joperezr commented on #53002
ping @mthalman is there anything we can do here?

[2021-08-05 18:43] wfurt commented on #55979
We talk about it more today @nibanks  and just to confirm and clarify. When MsQuic feels it is overloaded it would send back packages with notification instead of just ignoring the request and waiting for re-transmit, right?

And is there any other reason why client may get CONNECTION_REFUSED error?
I'm primarily asking if this is something we can depend on for test connection retry or if there is

[2021-08-05 18:45] teo-tsirpanis commented on #40546
I think it should also have an overload for `IReadOnlyCollection<LabelHandle>`, to allow high-performance apps to reuse a `List<LabelHandle>`.

[2021-08-05 18:47] MihaZupan opened #56925 "Test failure: ArgumentValidation_ThrowsExpectedException"
Test: `System.Net.Quic.Tests.MsQuicQuicStreamConformanceTests.ArgumentValidation_ThrowsExpectedException`

Day | Run | OS
-----|-----|-----
8/5 | PR #56874 | ubuntu.1604.amd64.open.rt
8/2 | PR #56717 | ubuntu.1604.amd64.open.rt
7/28 | PR #56466 | ubuntu.1604.amd64.open.rt
7/26 | PR #56255 | ubuntu.1604.amd64.open.svc
7/21 | PR #56086 | ubuntu.1604.amd64.open.rt

[code]

[2021-08-05 18:47] MihaZupan commented on #56925
@wfurt I assume this is the same issue as #56875?

[2021-08-05 18:49] janvorli commented on #53002
@xsacha I am not aware of .NET itself using libomp. None of the shared libraries that are part of .NET runtime references that library. I've just checked all of them with ldd. So I wonder what in your case has pulled it in. Do you happen to use some 3rd party component?

[2021-08-05 18:52] nibanks commented on #55979
In this case, MsQuic should inform the peer with the CONNECTION_REFUSED error. There shouldn't be any other reasons that you'd see this error from an MsQuic server. You can retry if you want. But you're just going to be adding more load to the system and there's no guarantee you'll succeed any time soon. If you have enough parallel tests all "retrying until they succeed" it's possible you never ge

[2021-08-05 18:53] MihaZupan opened #56926 "Test failure: ConnectionClosedByPeer_WithPendingAcceptAndConnect_PendingAndSubsequentThrowConnectionAbortedException"
Test `System.Net.Quic.Tests.QuicConnectionTests_MsQuicProvider.ConnectionClosedByPeer_WithPendingAcceptAndConnect_PendingAndSubsequentThrowConnectionAbortedException`

Day | Run | OS
-----|-----|-----
8/5 | PR #56915 | ubuntu.1604.amd64.open.rt
8/3 | Official run | ubuntu.1604.amd64.open.rt
8/2 | PR #56735 | ubuntu.1604.amd64.open.rt

[code]

[2021-08-05 18:59] janvorli commented on #53002
Oh, maybe you are using ML.NET? That component seems to have a dependency on libomp.

[2021-08-05 18:59] MihaZupan opened #56927 "Test failure: CloseOutputAsync_ClientInitiated_CanReceive_CanClose"
Test `System.Net.WebSockets.Client.Tests.CloseTest.CloseOutputAsync_ClientInitiated_CanReceive_CanClose`

Day | Run | OS
-----|-----|-----
8/2 | PR #56604 | ubuntu.1804.amd64.open.rt
7/26 | PR #56325 | ubuntu.1804.amd64.open.rt
7/20 | Official run | ubuntu.1804.amd64.open.rt
7/15 | PR #53505 | ubuntu.1804.amd64.open.rt
7/14 | PR #55582 | ubuntu.1804.amd64.open.rt

[code]

[2021-08-05 19:00] jtmueller commented on #1854
@loopedvin How can we safely call `KeyCollection.Contains()` if we don't know whether the dictionary is using the same Equality Comparer as our HashSet? If it's not the same comparer, then all this would do is allow us to arrive at the wrong answer quickly.

[2021-08-05 19:07] Maoni0 commented on #49174
it's indeed very easy 😀 I used your method to submit [another doc PR](https://github.com/dotnet/dotnet-api-docs/pull/6983), @stephentoub.

[2021-08-05 19:21] heng-liu opened #56929 "Question: on macOS, what's the possible reasons for "Interop+AppleCrypto+AppleCommonCryptoCryptographicException : The user name or passphrase you entered is not correct.""
We have several tests to create a self-issued certificate, then add it to store` CurrentUser\My` on macOS.
The tests works well on CI for nearly a month, but now they start to fail on CI very often.

The error is as following in [build](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=5058571&view=logs&j=a1762d43-9ec6-55e8-af8b-c0d9842bd83b&t=6d0220f8-d751-5901-dc18-2ec44f6eb39f):
[co

[2021-08-05 19:22] am11 commented on #56888
This is only happening in debug build, I tested with release build and the test passed.

Here is the `backtrace` of helloworld.dll from lldb, when launching with corerun:

[code]

and without `settings set target.env-vars DOTNET_EnableEventLog=1`, it works fine:

[code]

`helloworld.dll` was generated with:

[code]

[2021-08-05 19:32] jakobbotsch opened #56930 "ARM64 multiplication/anding by zero seems to be discarded"
[code]

[code]

cc @dotnet/jit-contrib

[2021-08-05 19:33] janvorli commented on #56888
I wonder if it is yet another case of a mismatch between standard new operator and our overriden delete[], like we've seen in mscordaccore. Isn't this code by any chance using the STL? That would be bad.

[2021-08-05 19:34] #56492 closed

[2021-08-05 19:39] bcreswell commented on #56776
i made a boiled down example. 1 class library with a single class in it:
[code]

and a second project that loads the first project's assembly at runtime using reflection. It creates a list of the UserType and attempts to serialize the type to a string using Type.FullName and then deserialize the type using Assembly.GetType()

[code]
[code]

Using the debugger, i can see the resultType variable at

[2021-08-05 19:39] stephentoub commented on #49174
Excellent!  Thanks, @Maoni0.

[2021-08-05 19:41] janvorli commented on #56888
Ok, seems no STL is there. But I can see the problem. The ResizeBuffer is in PAL and as such uses standard new operator. The code that asserts is built on top of PAL though (like runtime) and so it cannot use the standard delete operator and uses our override instead.
The reason why it works in release builds is that we add extra information into the memory around the allocation only in non-releas

[2021-08-05 19:46] davidwrighton commented on #56887
Ah, if its just the issue around the open type... see `internal static object[] GetCustomAttributes(RuntimeType type, RuntimeType caType, bool inherit)` in `src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeCustomAttributeData.cs`. there is a check `bool useObjectArray = (caType.IsValueType || caType.ContainsGenericParameters);` and `typeof(MultiAttribute<>)` ContainsGenericParemters

[2021-08-05 19:47] #49189 closed

[2021-08-05 19:49] kouvel commented on #54276
Since there are significant allocations in the test, with more allocations in the parallel execution than the serial one, how does the perf change with server GC (`COMPlus_gcServer=1`)? I believe workstation GC does not scale as well as server GC in allocation perf across multiple threads, maybe that would be a reason. It doesn't look like there is anything special about the thread pool in the tes

[2021-08-05 19:50] jeffhandley commented on #56645
Ah, indeed. Here's an illustration of the behavior.  I believe the new reflection APIs would express the difference, but the editor isn't presenting the oblivious state.

![image](https://user-images.githubusercontent.com/1031940/128411991-0d7d62a6-0694-4df7-82f6-0c62f09694fb.png)

[2021-08-05 19:58] davidwrighton commented on #56887
I do agree though, where is the null coming from? That just seems odd. I'll take a look at the coreclr behavior, and try and figure out what is supposed to trigger that to happen..

[2021-08-05 19:59] RikkiGibson commented on #56492
Thank you so much for the fix @davidwrighton!

[2021-08-05 20:08] MichalPetryka opened #56931 "Math/MathF.Truncate isn't an intrinsic and results in inefficient codegen"
### Description

Math/MathF.Truncate results in bad codegen that calls into native modf which is pretty slow. Instead, it should be an intrinsic for vroundsd/vroundss like Ceiling and Floor are (and clang also does do it for truncate).

### Configuration

Sharplab Core CLR 5.0.721.25508 on amd64

### Regression?

No idea.

### Data

[Sharplab for Math](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA

[2021-08-05 20:10] jhudsoncedaron opened #56932 "API Proposal: ValueTask.GetResult()"
[code]

[code]

Rationale: CA2012 says that ValueTask.GetAwaiter().GetResult() doesn't work unless the task has already completed, and to await the task instead. Normally, this would be correct, but sometimes await simply does not work because it's a live thread not an async job and some things don't like their thread id changed out from under them. I've had a handful lurking for years in the test

[2021-08-05 20:30] tdykstra commented on #31619
If I run the Main method of the sample and instead of using the custom converter I use the  built-in JsonStringEnumConverter with JsonNamingPolicy.CamelCase, everything works correctly.  What am I missing that the custom converter is required for?

[code]

[2021-08-05 20:34] tannergooding commented on #56931
This should be a relatively simple fix but is going to be for 7.0.0 at the earliest.

[2021-08-05 20:35] svick commented on #56932
If I remember correctly, `ValueTask` not having a blocking way to get the result (or any other blocking APIs) was a very conscious design decision to steer people towards using `await`.

If you do need to block, you should use `AsTask()`, and then use the blocking member from `Task`.

[2021-08-05 20:36] jhudsoncedaron commented on #56932
@svick : Which would have been nice if .GetAwaiter().GetResult() didn't pass most test cases.

[2021-08-05 20:44] davidwrighton commented on #56887
Ah. The null comes from https://github.com/dotnet/runtime/blob/1fb151f63dca644347a5c608d7ab17f7cb8e1ccb/src/coreclr/System.Private.CoreLib/src/System/Attribute.CoreCLR.cs#L468 The internal custom attribute functions return object[] and then that line converts the `object[]` into an `Attribute[]` or null. I can't explain why anyone would write the code this way, but that's where the null comes from

[2021-08-05 20:48] janvorli commented on #56888
It seems the right fix would be to implement a function to delete the buffer in the eventproviderhelpers.cpp like the ResizeBuffer and call it instead of the delete. That way both new and delete would be guaranteed to be compatible.

[2021-08-05 20:49] spouliot commented on #47601
Almost :-) It's for obsoleted, not deprecated, API.

Most obsoleted API comes with replacement(s), which are part of the existing (pre-net6) attributes. E.g.

[code]

The current IDE tooling is showing this to developers at edit-time (not at build-time).

For net6 we're mapping obsoleted API to `[Obsolete]` - https://github.com/xamarin/xamarin-macios/pull/10580#issue-567778817

This is not a perfe

[2021-08-05 20:55] captainsafia commented on #48732
Do the logs get written out somewhere where end users can access them? Then we can instruct folks to include them in bug reports to help with investigations.

[2021-08-05 20:58] captainsafia commented on #56715
@javiercn has been playing around with static assets + Blazor which might be relevant here. AFAIK, we don't do anything special for AoT here.

[2021-08-05 20:58] josalem commented on #56888
To make sure we're on the same page, this is the `ResizeBuffer` you're talking about?

https://github.com/dotnet/runtime/blob/1fb151f63dca644347a5c608d7ab17f7cb8e1ccb/src/coreclr/pal/src/eventprovider/lttngprovider/eventproviderhelpers.cpp#L14-L39

Looks like EventPipe got around this by having `ResizeBuffer` re-defined on top of the PAL:

https://github.com/dotnet/runtime/blob/1fb151f63dca644347a

[2021-08-05 21:05] AaronRobinsonMSFT commented on #56725
@danmoseley I believe the equivalent on macOS would be [`dtruss`](https://www.unix.com/man-page/osx/1M/dtruss/). On other unix platforms I would typically start with `strace`.

[2021-08-05 21:10] GrabYourPitchforks commented on #56932
/cc @stephentoub who might have some additional thoughts on this.

[2021-08-05 21:22] danmoseley commented on #56725
that's procmon ? I meant procdump. Essentially, a tool to capture dumps based on unhandled exceptions, events, timers etc.

[2021-08-05 21:22] jeffhandley commented on #47601
Thanks, @spouliot! I'll go ahead and close this, but we can certainly reopen it if we get feedback indicating we should revisit it.

[2021-08-05 21:22] #47601 closed

[2021-08-05 21:23] danmoseley commented on #36903
@steveisok is the best person to ask for device specific libraries test failures.

[2021-08-05 21:24] En3Tho commented on #54276
Do cpu frequency change when running mt test? Do server processors run at exact speed all the time or they can throttle/boost too? It could be running single thread at max boost clocks and multi at much lower speed

[2021-08-05 21:25] AaronRobinsonMSFT commented on #56725
@danmoseley Doh. Sorry about that. I honestly don't know if there is a ProcDump equivalent. Perhaps @janvorli knows of something.

[2021-08-05 21:26] steveisok commented on #36903
We have some of these old issues left that we are going through.  The vast majority have cleared up and we are closing them.

[2021-08-05 21:27] jeffhandley commented on #44912
[OperatingSystem.IsIOS API is problematic #53084](https://github.com/dotnet/runtime/issues/53084) is still open but it's being tracked individually, so we can close this out.

[2021-08-05 21:27] #44912 closed

[2021-08-05 21:35] RikkiGibson commented on #56887
Speculatively I think the compiler sees a few options from our POV:

1. We are able to get generic attributes support in Mono in the .NET 6 timeframe and the compiler ships "generic attributes" in C# 10. This is the happy path.
2. Mono won't be able to support generic attributes in .NET 6, and the compiler ships "generic attributes" under a preview flag with the caveat that it may not currently wo

[2021-08-05 21:37] Maoni0 commented on #54276
@kouvel looks like @Savlik already tried with server GC and saw no difference:

instead of guessing, why not take a profile and see where the bottle neck is? you could start with a general CPU profile which may or may not reveal the culprit right away; and if needed take one with context switches which will tell you why threads aren't running. I'll take GC area off for now as there isn't any evide

[2021-08-05 21:44] filipnavara commented on #56929
Apple stores certificates and private keys separately and pairs them together based on the thumbprint of the certificate. Is it possible that there are some leftovers in the keychain of the CI machine that incorrectly get paired?

[2021-08-05 21:53] jakobbotsch opened #56935 "ARM64 incorrect result when expression involves modulo by 1"
[code]

cc @dotnet/jit-contrib

[2021-08-05 21:54] shafaqat309 commented on #54642
I am using .netcore3.1 and publishing through VS to Azure function apps

[2021-08-05 22:11] eerhardt commented on #56563
This looks like a duplicate of https://github.com/dotnet/runtime/issues/56631.

I believe both issues were caused by fixing https://github.com/dotnet/runtime/pull/51772, which brought in more code in System.ComponentModel, because it is required to fix the bug.

This size increase is expected.

[2021-08-05 22:11] #56563 closed

[2021-08-05 22:12] maryamariyan commented on #52578
cc @rladuca

[2021-08-05 22:13] xsacha commented on #53002
I'm not using ML.NET and the dependency seems to disappear if I go back to .NET Core 3.1

[2021-08-05 22:13] janvorli commented on #56725
On Linux, there is a gcore tool, but all it can do is to take a dump of a running process when started. gdb can be used to catch AV and take a dump.

On macOS, you have two options:
* You can run a process under lldb or attach lldb and then take a dump (`process save-core` LLDB command). It looks like the error above happens early during startup, so running it under lldb would be easy.
* You can e

[2021-08-05 22:15] maryamariyan commented on #52578
This does not seem like a regression happening in 6.0 (moved to 7.0 milestone)

@rladuca if you think this needs to be taken care of in 6.0 please let us know.

[2021-08-05 22:21] janvorli commented on #53002
Ok, then there should be no dependency on the omp. I've double checked with the 5.0.5 version and none of our shared libraries reference it directly. If you cd into the shared/Microsoft.NETCore.App/5.0.5 subdirectory of the .NET installation and run `ldd *.so`, can you see the libomp listed on your device?

[2021-08-05 22:30] rladuca commented on #52578
@maryamariyan I don't work on WPF anymore, so I'm not the right person to tag here.

@ryalanms Potentially there is some designer difference here, you might want to circle back with VS (@chabiss?)

[2021-08-05 22:31] tarekgh opened #56936 "Add Metrics overloads taking more tags"
### Background and motivation

In .NET 6.0 preview five we have exposed the new Metrics APIs. In a couple of classes there we have exposed APIs which take tags parameters.

[code]

We have been collecting the feedback regarding the Metrics APIs from the OpenTelemetry and other uses. We got the request to add more overloads which support up to eight tags. We have seen common scenarios that takes up

[2021-08-05 22:31] wfurt commented on #55979
I see no evidence that the system would be generally overloaded. When I run it locally on my vm I see 20-80% cpu utilization. There may be spikes and with docker and virtualization there are no real-time guarantees.

At this moment this is biggest reason. for CI instability impacting all .NET contributors. There are other factors like occasional DNS failures or outages in external Azure services.

[2021-08-05 22:38] tarekgh commented on #56936
CC @noahfalk @cijothomas @reyang @shirhatti

[2021-08-05 22:51] JulieLeeMSFT commented on #56935
CC @dotnet/jit-contrib

[2021-08-05 22:55] joperezr commented on #36903
Sounds good, thanks for the update @steveisok. The reason why I'm pinging this is because this one is coming up in our triage query for ZBB since it has milestone as 6.0.0 and we want to drive that number down, so if we are expecting to clean up this particular one in a week or so then I'm fine with keeping it as is, but if we think we might not get to it till later, then we might want to push the

[2021-08-05 22:56] xsacha commented on #53002
I don't see it with ldd either. It must be a runtime dependency.

[2021-08-05 22:58] joperezr commented on #54642
Can you share a minimal repro project so that I can take a peek? This may just be a problem with VS publish to Azure.

[2021-08-05 22:58] JulieLeeMSFT commented on #56493
@rickbrew I am trying to understand when the milestone should be for this issue. How critical is it to include this in .NET6? Are you planning to complete this in .NET6?

[2021-08-05 23:00] JulieLeeMSFT commented on #56930
CC @dotnet/jit-contrib

[2021-08-05 23:01] JulieLeeMSFT commented on #56836
@kunalspathak setting this as .NET6 for now.

[2021-08-05 23:02] JulieLeeMSFT commented on #56855
Setting to .net7 because .NET6 optimisation timeline has passed.

[2021-08-05 23:03] janvorli commented on #53002
Could you please try to enable debugging of dynamic libraries loading using the `LD_DEBUG` env variable and share the output (ideally as a gist) after running your app with the failure? You'd just put `LD_DEBUG=all LD_DEBUG_OUTPUT=lddebuglog.txt ` into the command line in front of your command to launch your app, so e.g. `LD_DEBUG=all LD_DEBUG_OUTPUT=lddebuglog.txt dotnet myapp.dll`.

[2021-08-05 23:07] AaronRobinsonMSFT commented on #56902
/cc @noahfalk

[2021-08-05 23:07] layomia commented on #31619
@tdykstra I think it's working because we have logic trying case-insensitive matching for enum string values, which works well with PascalCase -> camelCase transformations. Can you try your repro using a policy such as snake_case - https://github.com/dotnet/runtime/blob/66ca4741f543306f0b6138b17dc39baf05bfdd4c/src/libraries/System.Text.Json/tests/Common/TestClasses/TestClasses.cs#L1887-L1893?

[2021-08-05 23:18] kunalspathak commented on #56882
Duplicate of https://github.com/dotnet/runtime/issues/56522.
cc: @sandreenko , @briansull , @janvorli

[2021-08-05 23:18] #56882 closed

[2021-08-05 23:21] josalem commented on #56902
CC @davmason

[2021-08-05 23:25] danmoseley commented on #56493
@JulieLeeMSFT Seems to me we just need to merge https://github.com/dotnet/runtime/pull/56501 for .NET 6.0. Longer term we should increase our PGO test app matrix.

[2021-08-05 23:26] JamesNK opened #56939 "[HTTP/3] Re-add QuicStream.ShutdownWriteCompleted"
I think Kestrel needs `QuicStream.ShutdownWriteCompleted` to successfully handle a graceful server shutdown.

In a graceful server shutdown:

1. The server will send a GOAWAY to the client
2. The server will then wait some time for in-progress requests to complete
3. Once requests are all complete then the server closes the connection.

The problem is there is a race between completing the final r

[2021-08-05 23:28] davidwrighton commented on #56887
@RikkiGibson I've spent a bit of time looking into the issue (and figuring out how to run the tests under Mono), and I can say that while the Generic Attributes test as written fails, it ONLY fails for the case of attempting to look up an attribute of an open type. As that particular query could exist outside of any actual usage of generic attributes I believe it is irrelevant to general generic a

[2021-08-05 23:43] xsacha commented on #53002
Can I use LD_DEBUG=lib instead because that one is absolutely massive and does not appear to be ending

[2021-08-05 23:48] AntonLapounov commented on #50704
I think `export COMPlus_GCStress=` worked as expected. All recent failures were in HeapVerify and JitStress legs, not GCStress ones.

[2021-08-05 23:50] janvorli commented on #53002
Let's try `LD_DEBUG=files,libs` then

[2021-08-05 23:52] josalem opened #56941 "Failures on ARM64 Windows R2R Crossgen2 outerloop legs"
On some _but not all_ ARM64 Windows outerloop test legs for Crossgen 2 on a recent PR, I was seeing >50% of all tests failing with the following stackoverflow:

[code]

Link to the console log for PayloadGroup0 on one of the legs: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-56507-merge-e5626f1b9ca24c9eb8/PayloadGroup0/console.5312eb1e.log?sv=2019-07-07&se=2021-0

[2021-08-05 23:57] #54902 closed

[2021-08-06 00:03] geoffkizer commented on #56939
I'm not sure what you mean here by "the client also calls complete", can you clarify?

Assuming that you are completing or aborting the read on the server side, then ShutdownCompleted is not waiting for the client to complete anything, because the read is already completed and/or aborted.

Can you post or link the code?

[2021-08-06 00:08] JamesNK opened #56944 "[HTTP/3] Graceful server shutdown and REJECT_REQUEST"
If a server is gracefully shutting down it will send a GOAWAY and then abort incoming requests with the status code H3_REQUEST_REJECTED. These are requests that could have been sent before HttpClient receives the GOAWAY.

What I see:
[code]

I haven't looked closely at client behavior in the spec, but I would have thought that HttpClient would resend rejected requests on a new connection.

[2021-08-06 00:10] xsacha commented on #53002
This is the log without LD_PRELOAD set: https://pastebin.com/Fig9pAjX (Fails with .NET5)
This is the log with LD_PRELOAD set: https://pastebin.com/2MLWcG1B (Succeeds with .NET5)

[2021-08-06 00:12] vargaz commented on #56887
Is the GetCustomAttribute () call supposed to return null for an open type ? According to the docs, it should return a (possible empty) array, or throw an exception.

[2021-08-06 00:12] danmoseley opened #56945 "EncryptDecrypt_Read failed with "There are no EFS keys defined for the user""
This previously passed on this machine, but today it's consistently failing. Not sure what's changed or how to investigate.
[code]

Configuration\Administrative Templates\System\Filesystem\NTFS\Do not allow encryption on all NTFS volumes is set to default (false) and the EFS checkboxes are enabled and `fsutil behavior query disableEncryption` returns `DisableEncryption = 0  (Disabled)` which I bel

[2021-08-06 00:18] wfurt commented on #56944
we should perhaps also do interop with other clients and servers. (and of course look at the spec)

[2021-08-06 00:19] wfurt commented on #56925
yes, very likely

[2021-08-06 00:28] JamesNK commented on #56939
PR: https://github.com/dotnet/aspnetcore/pull/34968
Test: ConnectionLifetimeNotificationFeature_RequestClose_ConnectionEnds

[code]

[2021-08-06 00:31] davidwrighton commented on #56887
Well that's a good question. I'd like to defer to @steveharter for what should this thing be doing, and then lets make the two runtimes implement the same logic. I'm generally of the opinion that the particular scenario we're talking about here is probably just wrong.

[2021-08-06 00:40] geoffkizer commented on #56944
@ManickaP has code to support this, but it's not in yet. We were talking about this recently. See https://github.com/dotnet/runtime/pull/56831

[2021-08-06 00:50] janvorli commented on #53002
It seems that it is only pulled in because it is referenced by the /usr/local/lib64/Imagus/libc10.so. I don't see any other reference or an attempt to load it dynamically in the failing case. And it is actually looking for it at /usr/lib/aarch64-linux-gnu/libgomp.so.1.
In the second case with the preload, the libgomp is actually referenced as needed by another binary, the /usr/local/bin/Imagus.Con

[2021-08-06 00:51] #54365 closed

[2021-08-06 00:51] terrajobst commented on #54365
We can just close the announcement here. We should probably leave the milestone as 6.0.0 for clarity.

[2021-08-06 00:58] dreddy-work commented on #56948
@safern , this looks like problem in the System.Drawing or Windows.  Transferring here for initial investigation.

[2021-08-06 01:13] xsacha commented on #53002
jane@jane-desktop:~$ ldd -r /usr/local/lib64/Imagus/libc10.so
        linux-vdso.so.1 (0x0000007fb34bd000)
        libnuma.so.1 => /usr/lib/aarch64-linux-gnu/libnuma.so.1 (0x0000007fb33c3000)
        libstdc++.so.6 => /usr/lib/aarch64-linux-gnu/libstdc++.so.6 (0x0000007fb322f000)
        libm.so.6 => /lib/aarch64-linux-gnu/libm.so.6 (0x0000007fb3175000)
        libgomp.so.1 => /usr/lib/aarch64-lin

[2021-08-06 01:21] AntonLapounov commented on #54203
We should not run `crossgen2` compiler under GC stress in these tests as that takes a very long time.  In particular, running with `GCStress=3` is expected to time out.  The `GCStress=0xc` failures above are worth investigating.  However, crash dumps are gone and I could not reproduce any of the failures on Ubuntu 16.04.6 ARM64 machine after running for many hours.

[2021-08-06 01:24] JamesNK commented on #56939
Had a discussion with @geoffkizer about this and I'm going to change Kestrel to rely on the client to complete a graceful close. There is a timer on host shutdown that will forcefully terminate the server after 5 seconds.

Closing for now.

[2021-08-06 01:24] #56939 closed

[2021-08-06 01:26] VincentBu opened #56950 "Test failure:baseservices/exceptions/simple/ParallelCrash/ParallelCrash.sh"
Run: [runtime-coreclr gcstress-extra 20210803.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1274221&view=ms.vss-test-web.build-test-results-tab&runId=37705790&resultId=110463&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-08-06 01:33] VincentBu opened #56951 "Test failure:Interop/ICustomMarshaler/ConflictingNames/MultipleALCs/MultipleALCs.sh"
Run: [runtime-coreclr gcstress-extra 20210803.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1274221&view=ms.vss-test-web.build-test-results-tab&runId=37692360&paneView=debug&resultId=101270)

Failed test:
[code]
**Error message:**
[code]

[2021-08-06 01:37] VincentBu opened #56952 "Test failure:baseservices/threading/interlocked/exchange/exchangedouble/exchangedouble.sh"
Run: [runtime-coreclr gcstress-extra 20210803.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1274221&view=ms.vss-test-web.build-test-results-tab&runId=37693550&paneView=debug&resultId=101036)

Failed test:
[code]
**Error message:**
[code]

[2021-08-06 01:41] MichalStrehovsky commented on #51912
Isn't that true for all the tests? I would expect all the tests being trimmed to 0 test cases since they're all reflection activated. The test case assemblies need to be be fully rooted. Looks like this is not happening. Test in https://github.com/dotnet/runtime/pull/56859#discussion_r683050234 would definitely be fixed with that if that was the case.

[2021-08-06 01:47] rickbrew commented on #56493
This isn't critical for me -- I made my own `InlinedCompareTo` method that I'm using for now inside my app.

[2021-08-06 01:52] kunalspathak opened #56953 "operand->gtUseNum == -1 during 'Generate code'"
[code]

[2021-08-06 01:52] kunalspathak commented on #56953
@dotnet/jit-contrib

[2021-08-06 01:53] VincentBu commented on #54260
Failed again in [runtime-libraries-coreclr outerloop 20210805.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1277814&view=ms.vss-test-web.build-test-results-tab&runId=37785796&resultId=104156&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-08-06 02:02] AaronRobinsonMSFT commented on #51196
@andrei-datcu Apologies for the very slow response. The hint/example here is create a basic WPF application and reference a C++/CLI assembly. The issue is the CLR needs to start first in a stable way and then load a C++/CLI assembly. Note this is only an issue on Win7 I believe.

[2021-08-06 02:02] #51196 closed

[2021-08-06 02:13] geoffkizer commented on #56891
This seems a bit complex because the QuicBuffer could be really large, right? Say it's 64K, we consume 32K of it... it might be worth it to inform msquic that we consumed 32K so it can inform the peer and receive more data.

[2021-08-06 02:19] geoffkizer opened #56954 "Exceptions from QUIC APIs should derive from IOException"
For one, exceptions from streams usually derive from IOException and QuicStream should follow this.

But it also seems reasonable and consistent to have exceptions from QuicConnection/QuicListener derive from IOException as well. In particular, some exceptions are used for both QuicStream and QuicConnection.

Related: https://github.com/dotnet/runtime/issues/56292#issuecomment-887956058

[2021-08-06 02:21] AaronRobinsonMSFT commented on #12611
Closing this as "by-design" - unless someone feels there is an opportunity here. The recommended approach is demonstrated in [DNNE](https://github.com/AaronRobinsonMSFT/DNNE).

[2021-08-06 02:21] #12611 closed

[2021-08-06 02:23] geoffkizer opened #56955 "QuicException should be abstract and not thrown directly"
Right now we have a handful of exception types that derive from QuicException, e.g. QuicConnectionAbortedException.

We also sometimes throw QuicException directly, in particular when an msquic API fails.

We should not throw QuicException generically like this. We should try to interpret the msquic error code, and act appropriately -- either map it to a specific (new or existing) exception, or ha

[2021-08-06 02:34] wfurt commented on #56891
I'm wondering if we can get more than UDP packet ... or perhaps few. And if few, would that be split to multiple buffers to avoid allocations. Anyway, this looks like something to look into in future.

[2021-08-06 02:41] tommcdon commented on #49055
@eerhardt I noticed that this issue is a few months old.  Just checking in to see if this is on track for .NET 6, or if this is something that can be moved out to .NET 7

[2021-08-06 02:42] AaronRobinsonMSFT commented on #7968
The first few steps of this support are done.
- Enable a COM calling convention declaration: https://github.com/dotnet/runtime/issues/46775
- Enable `ComWrappers` API for all platforms: https://github.com/dotnet/runtime/issues/36582

[2021-08-06 02:45] AaronRobinsonMSFT commented on #37552
@emmenlau I am closing this for now. Please do let us know if the observed behavior remains and we can try and help root cause the issue.

[2021-08-06 02:45] #37552 closed

[2021-08-06 02:47] AaronRobinsonMSFT commented on #55329
@xiaoxstz I am going to close this for now. Please do let us know if assistance is still needed. Thanks.

[2021-08-06 02:47] #55329 closed

[2021-08-06 02:48] eerhardt commented on #49055
I was planning on addressing it in the next week. I just have a few bugs assigned to me.

[2021-08-06 02:51] AaronRobinsonMSFT commented on #38814
Now that we have a sample of how we are going to close this issue. If there are more targeted things that would help with supporting this scenario please feel free to file new issues/proposals for those utilities.

[2021-08-06 02:51] #38814 closed

[2021-08-06 02:53] AaronRobinsonMSFT commented on #56951
This is a duplicate of https://github.com/dotnet/runtime/issues/47696

[2021-08-06 02:53] #56951 closed

[2021-08-06 02:59] AaronRobinsonMSFT commented on #29528
Closing this as a duplicate of https://github.com/dotnet/runtime/issues/54792. This one should have been used but was missed. A lot of conversation has occurred on the new issue with a referenced PR.

[2021-08-06 02:59] #29528 closed

[2021-08-06 03:00] JamesNK opened #56957 "[HTTP/3] WinHttpHandler"
What is the plan for HTTP/3 and WinHttpHandler?

It would be kind of useful to have another HTTP/3 implementation to compare against.

[2021-08-06 03:02] AaronRobinsonMSFT commented on #30412
@cbaysinger Apologies for the lack of response - it seems I missed your reply. Are you still facing this issue?

[2021-08-06 03:03] hamarb123 opened #56958 ".NET 5.0.8 arm64 for Windows Desktop not installing properly"
### Description

On arm64, .NET 5.0.8 for Windows Desktop doesn't install properly.  It is missing the `dotnet.exe` executable, and it can't run anything. I downloaded it from  [here](https://dotnet.microsoft.com/download/dotnet/5.0):
![image](https://user-images.githubusercontent.com/25316035/128448930-f2b8eb87-4ac6-45a6-b073-b49d398cbdb9.png)
Folder:
![image (1)](https://user-images.githubuserco

[2021-08-06 03:05] AaronRobinsonMSFT commented on #48752
I believe this is a duplicate of the general native varargs issue at #48796. Please let me know if there is something specific in this issue that #48796 doesn't contain.

[2021-08-06 03:05] #48752 closed

[2021-08-06 03:12] AaronRobinsonMSFT commented on #49858
@SupinePandora43 Do you still need assistance with this issue?

[2021-08-06 03:54] jeffhandley commented on #50528
We could take these 3 obsoletions without going through API Review--just code review from @bartonjs and @GrabYourPitchforks. I'm comfortable taking them before the August 17th cutoff for .NET 6, especially since it's not a breaking change.

[2021-08-06 04:22] kunalspathak opened #56961 "'block->bbNatLoopNum == BasicBlock::NOT_IN_LOOP' in 'System.SpanHelpers:LastIndexOf(byref,ushort,int):int' during 'Optimize index checks'"
With below environment variables, we hit an assert:

[code]

[code]

[2021-08-06 04:28] kunalspathak opened #56962 "Assertion failed '((tree->gtDebugFlags & GTF_DEBUG_NODE_MORPHED) == 0) && "ERROR: Already morphed this node!"'"
[code]

Gets following error during startup:

[code]

[2021-08-06 04:28] kunalspathak commented on #56962
@dotnet/jit-contrib

[2021-08-06 04:28] kunalspathak commented on #56961
@dotnet/jit-contrib

[2021-08-06 04:59] pavelsavara opened #56963 "[wasm][interop] Roundtip identical instance delegate<->function, task<->promise"
Current implementation doesn't give you back same instance of delegate after you passed it to JavaScript and back to C#.
Same for Task/promise pair.

We need to asses if there is use case which would benefit from added complexity.

[2021-08-06 05:13] geoffkizer commented on #56683
Just to make sure I understand this properly:

There's a race between cancelling the ReadAsync on the response stream and disposing the response stream, as to which one causes the request to abort. Correct?

Which case is it where you get the ODE?

If Dispose happens first, it should cancel the read and the read should throw something like IOException("Request aborted").
If cancellation happens fi

[2021-08-06 05:24] iSazonov opened #56964 "Need reorder conditions in HasWildCardCharacters method"
Update:  HasWildCardCharacters () is not used any more. PR to remove #57028.

Original issue:

### Description

I'd expect users use `*` and `?` chars more often and they should be on first place. ([Docs ](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-fsa/0b034646-4e23-4874-8488-2adac231ff23?redirectedfrom=MSDN)say the same.)

https://github.com/dotnet/runtime/blob/6ac03709fd2d01

[2021-08-06 05:33] kirsanium commented on #46520
@steveharter I am following this issue here because it is really blocking for my company - we have some business logic rely on that. It messes with our code and there is no workaround atm.

[2021-08-06 05:34] pavelsavara opened #56965 "[wasm][interop] Consider switching mono_wasm_object_registry to Map"
As discussed here https://github.com/dotnet/runtime/pull/56538#discussion_r683844601

[2021-08-06 05:36] gulbanana commented on #40074
Feedback: I have a complex internal codebase, originally written for .NET Framework, later ported to .NET Core, now being used in Blazor applications. We use these features of System.Security.Cryptography:
* ECDSA for signing some content
* RSA or PBKDF2+RSA for authentication
* AES for private communication channels

We first used Blazor in .NET Core 3.1 We disabled the elliptic-curve related fea

[2021-08-06 05:38] geoffkizer commented on #56129
There are several ways to cancel an in-flight request. One is to dispose the response body before reading to the end.

When this happens, we need to abort the underlying QUIC stream with the appropriate error code (I think it's H3_REQUEST_CANCELLED or something like that). We should abort both the read and the write side of the QUIC stream -- the write side only matters for duplex, but it should b

[2021-08-06 05:53] gulbanana commented on #40074
There will also be a significant release-engineering cost to us. We'll have to figure out how to do things like alter our nuget packages to include a RID-specific(?) browser build of a dll. This approach implies some sort of support matrix like

[code]

...which, again, feels like something that would be more within a platform vendor's capabilities than ours as application developers :(

[2021-08-06 05:53] saucecontrol opened #56967 "Illegal encoding for AVX2 Gather instructions"
### Description

Sometime between net6.0 preview 5 and preview 6, the codegen for AVX2 gather instructions changed, presumably to eliminate what might have appeared to be redundant reg/reg moves.  This has resulted in an illegal instruction encoding where the index and destination registers are the same.  As stated in the Intel developer manual for `vpgatherdd`:

### Quick Repro

[code]

[code]

#

[2021-08-06 06:15] #51232 closed

[2021-08-06 06:21] radical commented on #56917
cc @vargaz

[2021-08-06 06:58] eiriktsarpalis commented on #53241
Reopening per discussion in https://github.com/dotnet/runtime/issues/46520#issuecomment-892835550

[2021-08-06 07:00] eiriktsarpalis commented on #46520
Hi @kirsanium, would your company be unblocked if #53241 were addressed, or does this specifically concern adding custom key converter support?

[2021-08-06 07:02] kirsanium commented on #46520
@eiriktsarpalis, it's just about `JsonConverter<string>`

[2021-08-06 07:05] #56645 closed

[2021-08-06 07:18] noahfalk commented on #48727
Fixed in #56680

[2021-08-06 07:18] #48727 closed

[2021-08-06 07:19] noahfalk commented on #54469
I'll be out on vacation so reassigning to @josalem

[2021-08-06 07:26] tippisum opened #56968 "SDK version of hostfxr.dll cannot initialize self-contained app"
### Description

When a native host uses the default .NET SDK version of `hostfxr.dll` (the one returned by `get_hostfxr_path(buffer, size, nullptr)`) to initialize a self-contained app, `hostfxr_initialize_for_dotnet_command_line` fails with error:

If the native host instead directly loads the `hostfxr.dll` from the app path then the error does not occur and the app is initialized properly.
If t

[2021-08-06 07:29] ManickaP commented on #56944
Yes, this should be mostly mitigated with my PR. However, as we discussed, since there's a race between GoAway (on the control stream) and the request itself, we might be too fast with retrying the request on the same connection. It's captured in #56870 and I think that implementing multiple connection support #51775 might help fixing this as well.

[2021-08-06 07:30] #53093 closed

[2021-08-06 07:31] sjschukin commented on #50629
I have to write custom deserializer that skips some JSON fields with invalid data. Unfortunately I've to use reflection to show the position where the error occured. Voted for this feature.

[2021-08-06 07:33] ManickaP commented on #56944
Triage: since this is mostly mitigated by #56831 and we decided to punt the rest of the work, moving to future.

[2021-08-06 07:35] #54726 closed

[2021-08-06 08:05] ManickaP commented on #56926
@wfurt: is this the same thing as #56875 i.e. a symptom of #55979? Seems like it to me.

[2021-08-06 08:09] geoffkizer commented on #56766
Fixed by https://github.com/dotnet/runtime/pull/56943

[2021-08-06 08:09] #56766 closed

[2021-08-06 08:11] geoffkizer commented on #56926
My understanding is that any `CONNECTION_REFUSED` is #55979. But @wfurt can confirm.

[2021-08-06 08:16] Dvergatal commented on #56924
Ok i have verified it with pfx certificate made from key.key and crt.crt files. Now all is connecting properly. But the problem is i am unable to use certificate from file and the key is in pkcs#11 api. Is it possible that the endpoint also needs updated dotnet core?

[2021-08-06 08:20] janvorli commented on #56888
Yes, I was talking about the one in the eventproviderhelpers.cpp. If you added a DeleteBuffer function there and called it instead of using the delete in the generated eventprovdotnetruntime.cpp, it would fix the issue. The way eventpipe did that would work as well, but it seems that the way I've suggested is kind of cleaner.

[2021-08-06 08:49] JamesNK opened #56969 "[HTTP/3] Request headers not sent to the server on HttpContent flush when there is no data"
I noticed this some Kestrel/HttpClient interop tests:

1. Create a HTTP POST with a custom `HttpContent`.
2. On the stream passed into `SerializeToStreamAsync`, call `FlushAsync()`. In HTTP/2 this would send the headers to the server. In HTTP/3 it doesn't.
3. Wait for server request to finish. It will timeout because the client never sent headers.

Step 2 **will** send headers if any content has b

[2021-08-06 08:59] janvorli commented on #53002
Ok, thank you. I have a couple of additional questions:
* What is the actual error you are seeing when you run your application without the LD_PRELOAD?
* How did you figure out it is related to the libgomp?
* Does the version with .NET 3.1 still work on the same machine? Could you please share the same LD_DEBUG log (`LD_DEBUG=files,libs`) for that version?

[2021-08-06 09:15] forderud commented on #56701
Thank you again for the explanations @AaronRobinsonMSFT . I'll then probably continue using my custom `EqualComObjects` function moving forward.

Adding this function to an open-source library sounds like a good idea. However, I'm primarily a C++ developer myself and am only working in C# to ensure that my company's COM servers remain compatible with managed code. I'm therefore probably not the ri

[2021-08-06 09:22] Vake93 opened #56970 "System.Text.Json Source Generator not working with classes in global namespace"
### Description
If a class is defined in the global namespace, the JsonSerializerContext class code generation does not work.
Installed .NET SDK Version is: 6.0.100-preview.6.21355.2

Steps to re-create this is as follows:
1. Create a new .NET 6 console application
2. Add a reference to the latest preview of System.Text.Json NuGet (I tested with 6.0.0-rc.1.21405.12)
3. Replace the contents of Prog

[2021-08-06 09:28] javiercn commented on #56715
We don't know about the `WasmFilesToIncludeInFileSystem` item group, so we don't even look at it.

@lewing in general we want to be good citizens here and make sure we support things like these, we just need to know we need to add them :). We can also work out a mechanic to try and pick these things automagically.

[2021-08-06 09:30] Joe4evr commented on #56701
Sounds like a request for dotnet/docs. 🙂

[2021-08-06 09:36] ChrisKoebke opened #56971 "Referencing OpenTK.Mathematics crashes the Ready2Run build."
### Description
When referencing OpenTK.Mathematics (or OpenTK.Windowing.Desktop), I'm getting a NotImplementedException on a Ready2Run publish and the build fails.

### Demo project for reproduction:
[ConsoleApp1.zip](https://github.com/dotnet/runtime/files/6944611/ConsoleApp1.zip)

### Steps to reproduce the problem:
- Publish the demo project with the following settings:
![settings](https://use

[2021-08-06 09:42] Dvergatal commented on #56924
I have also verified using curl call:
[code]
that the connection is being established.

[2021-08-06 10:21] am11 commented on #53561
These issues were closed but still present in the [exclude list](https://github.com/dotnet/runtime/blob/22cee85aa08061e5b2c1e893797a860e3c642e6c/src/tests/issues.targets#L906-L967) (one or more times):
* https://github.com/dotnet/runtime/issues/53561
* https://github.com/dotnet/runtime/issues/43498
* https://github.com/dotnet/runtime/issues/43461
* https://github.com/dotnet/runtime/issues/38291

[2021-08-06 10:49] Dvergatal commented on #56924
Ok the problem was on my side:D i was returning bad certificate, not the one returned by _CopyWithPrivateKey_. So i'm closing this issue.

[2021-08-06 10:49] #56924 closed

[2021-08-06 11:01] SamMonoRT commented on #47756
Moving this to 7.0.0

@steveisok - fyi

[2021-08-06 11:03] SamMonoRT commented on #48109
@lambdageek - moving this to 7.0.0, let me know if this is required for 6.0.0

[2021-08-06 11:03] stephentoub commented on #56970
Thanks. Dup of https://github.com/dotnet/runtime/issues/56920.

[2021-08-06 11:13] SamMonoRT commented on #38480
Assigning to @BrzVlad for the last item

[2021-08-06 11:41] amsoedal commented on #56543
@wfurt thanks so much. Just got around to trying this today, and the logs were revealing:

[code]

We've known we had signing issues, but I didn't think this change would cause them to surface, since nothing changed anything about our signing or our pipeline. Thanks so much for your help, closing this since it's not a dotnet issue but rather a signing issue on our end.

[2021-08-06 11:41] #56543 closed

[2021-08-06 11:43] #10561 closed

[2021-08-06 11:51] #56970 closed

[2021-08-06 12:07] akoeplinger commented on #55618
I used this query:

[code]

and it returned just three results and all of them were other issues. If I extend the query to e.g. 30 days there are a lot more results up until July 17th, but the Console log is no longer available so we can't check if it's this issue. My guess is whatever caused this was fixed around that timeframe.

[2021-08-06 12:11] SamMonoRT commented on #55618
Thanks @akoeplinger - Based on that, makes sense to close the issue.

[2021-08-06 12:11] #55618 closed

[2021-08-06 12:12] #56516 closed

[2021-08-06 12:18] smartaquarius10 opened #56975 "Dynamic certificate update is failing in HTTPClient Handler for mutual authentication?"
Team,

I have made an api in .net core 3.1 and created a custom HTTP Client Handler to manage dynamic certificates per http call but, the calls with only first certificate remains successful. Any call for other certificates gives authentication error from server side because **ClientCertificates.Clear()** is not working.

**Startup.cs**

    services.AddHttpClient(Configuration["ClientName"], c =>

[2021-08-06 12:32] MartyMcFly85 opened #56976 "[API Proposal]: Equivalent to ICLRStrongName::StrongNameSignatureVerificationEx from .NET Framework"
### Background and motivation

In order to be able to verify the strong name of a .NET assembly at runtime without launching an external process like sn.exe which might not be practical in all situations, there should be an equivalent to ICLRStrongName::StrongNameSignatureVerificationEx from .NET Framework (MSCorEE.dll).

### API Proposal

[code]

### API Usage

[code]

### Risks

_No response_

[2021-08-06 12:34] arshadazeem opened #56977 "StackTrace: Provide an option to grab the first "N" number of frames"
### Is your feature request related to a problem? Please describe.
System.Diagnostics.StackTrace currently provides a way to skip the specified number of frames using the skipFrames parameter.
It would be helpful to have a way to grab the first "N" number of frames as well.

### Describe the solution you'd like
A clear and concise description of what you want to happen. Include any alternative sol

[2021-08-06 12:35] alpencolt opened #56978 "[ARM] LSRA heuristic tuning"
I've tried to apply orderings described in https://github.com/dotnet/runtime/blob/main/docs/design/coreclr/jit/lsra-heuristic-tuning.md#outcome on ARM and measure application startup time, but difference was less than stddev.

1. Have you performed measurement on real applications or benchmarks with described orderings? What results have you observed?
2. Does the option `COMPlus_JitLsraOrdering` a

[2021-08-06 12:39] krwq commented on #56914
@msedi do you have any proposition for how the APIs should look like? FYI: https://github.com/dotnet/runtime/blob/main/docs/project/api-review-process.md

[2021-08-06 12:41] #41929 closed

[2021-08-06 12:41] krwq commented on #56697
changing label since the suggestion is that Arcade should be updated

[2021-08-06 12:58] CarnaViire commented on #56975
If you want dynamic certificates, you need to use `SocketsHttpHandler.SslOptions.LocalCertificateSelectionCallback`
Please see this issue for examples https://github.com/dotnet/runtime/issues/52779

Also, you are using HttpClientFactory, so `System.Net.Http.HttpClient` you create on this line
`using (var client = _clientFactory.CreateClient(clientName))`
will reuse `RegistryHttpHandler` for the ha

[2021-08-06 13:01] steveisok commented on #51274
@touzas I'm assuming this isn't a problem and am closing the issue.  If you find otherwise, please re-open.

[2021-08-06 13:01] #51274 closed

[2021-08-06 13:04] #38433 closed

[2021-08-06 13:04] #50908 closed

[2021-08-06 13:09] jeffschwMSFT commented on #56953
@kunalspathak which area path would you recommend?

[2021-08-06 13:15] krwq commented on #56751
AFAIK those APIs didn't get ported from full framework and I do not know about anyone who might might own these now - I think they might be deprecated but do not know for sure.

I've created https://github.com/dotnet/iot/issues/1623 to consider adding these APIs into .NET IoT since they fit there better than runtime anyway. I'm not sure if we will add this APIs at all and even if we are if they wo

[2021-08-06 13:19] #56621 closed

[2021-08-06 13:20] krwq commented on #56751
Closing issue per above answer since it's not actionable in here. Consider creating issue in dotnet/iot repo about how to read lat/lon from your sensor but note the answer you will get will most likely not involve GeoCoordinateWatcher APIs and be similar to the solution I suggested above.

[2021-08-06 13:20] #56751 closed

[2021-08-06 13:20] jakobbotsch opened #56979 "JIT performs invalid jump threading"
[code]

BB07 ends up not running. JIT dumps shows:
[code]

"Jump flow from pred BB03 -> BB06 implies predicate true; we can safely redirect flow to be BB03 -> BB08" seems suspect.

cc @dotnet/jit-contrib

[2021-08-06 13:20] adamsitnik commented on #56964
I am not sure if reording would help us a lot, but using the vectorized version might be worth giving a try:

https://github.com/dotnet/runtime/blob/e847c8c71da94a2a70c2391352cd13ea8dbb6e8f/src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.cs#L725-L733

@iSazonov would you be interested in running some benchmarks and sending a PR?

[2021-08-06 13:20] jakobbotsch commented on #56979
I've looked at this for a bit now so I'll assign it to myself.

[2021-08-06 13:22] #37094 closed

[2021-08-06 13:24] janvorli commented on #42291
The problem is that the helix Ubuntu / Debian arm/arm64 docker images are missing the `liblttng-ust0` package.

[2021-08-06 13:26] krwq commented on #48400
@philippdolder thanks! No worries about the bot. As for this issue to set the expectations: I'm not sure this will get fixed - currently even though it doesn't roundtrip with serialization both XMLs are equivalent - all elements have the same local name and the namespace and the content and the difference is just the prefix which doesn't have any meaning and just improves readability. Perhaps some

[2021-08-06 13:29] #53813 closed

[2021-08-06 13:38] jakobbotsch opened #56980 "JITted code throws NullRefException in release"
Run on x64 Windows:
[code]

Disassembly looks quite strange:
[code]

cc @dotnet/jit-contrib

[2021-08-06 14:05] filipnavara commented on #56957
I don't think WinHTTP even has support HTTP/3 at the API level. The flags suggest only HTTP/2 to be supported (https://docs.microsoft.com/en-us/windows/win32/winhttp/option-flags).

[2021-08-06 14:14] directhex commented on #55637
Hm. I have a "bad" .res file which derb won't touch, even with a -i

[2021-08-06 14:18] filipnavara commented on #55637
@directhex Good job, can you share it somewhere (along with the other .res files, or at least pool.res)? I learned to read the files in hex editor so I would take a look at some point...

[2021-08-06 14:19] aik-jahoda commented on #42613
It is Assert: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/results-4d505ac13aae4f81aa/Hello%20World/1/console.a89413d1.log?sv=2019-07-07&se=2021-08-26T08%3A38%3A04Z&sr=c&sp=rl&sig=ezfG%2Bs2at0HpojnrCB3zBVEo6a25FED5EwqLpKMOdn8%3D

[2021-08-06 14:28] MihaZupan commented on #42613
Ah I see, this is a test bug. If the handshake completes quickly, we would never see a non-zero "current". I'll look at fixing it now.

[2021-08-06 14:32] AaronRobinsonMSFT commented on #56701
@forderud I can document this behavior. The issue is `__ComObject` isn't documented as it is an internal type and implementation detail. We'd have to place it under RCW/CCW documentation and that is likely to get lost. I will add a note under https://docs.microsoft.com/dotnet/standard/native-interop/runtime-callable-wrapper &ndash; does that okay?

[2021-08-06 14:36] steveisok commented on #36893
@mdh1418 These tests no longer fail and can be re-enabled.

[2021-08-06 14:40] steveisok commented on #49192
Closing due to lack of info.

[2021-08-06 14:40] #49192 closed

[2021-08-06 14:55] janvorli commented on #13127
I was able to repro it locally. It is a codegen / gcinfo bug in the `
System.Security.Cryptography.X509Certificates.Tests.HostnameMatchTests.RunTest(System.String, System.String, System.Collections.Generic.IList`1<System.String>, Boolean, Boolean)` method.

In my repro, the assert happens when GC tries to report an object in R4 during stack walk.
[code]

Here is the disassembly upto the problemati

[2021-08-06 14:56] janvorli commented on #13127
cc: @dotnet/jit-contrib

[2021-08-06 14:58] vcsjones commented on #56958
I think this is related to or a duplicate of https://github.com/dotnet/windowsdesktop/issues/1823

[2021-08-06 14:59] DemiMarie commented on #40074
Having the fallback be slow is fine, but having it be vulnerable to cache-based timing attacks is not.

[2021-08-06 15:05] mdh1418 commented on #37069
https://github.com/dotnet/runtime/issues/56407 may be related with respect to Turkish culture failing.

[2021-08-06 15:12] danmoseley commented on #37069
It's the same issue. The special casing behavior of Turkish I. This isn't new so even if these devices have old ICU it ought to work. @tarekgh  have you seen this fail?

[2021-08-06 15:18] danmoseley commented on #56958
@ryalanms can we close as dupe? Seems it.

[2021-08-06 15:19] echesakovMSFT commented on #56930
I will take a look.

[2021-08-06 15:33] directhex commented on #55637
Hm. No, never mind, it _does_ have valid includes, it's just it seems to not accept a fully qualified path to the .res file (i.e. `derb ./am_ET.res` works, `derb -i /path/to/res/files/ path/to/res/files/am_ET.res` doesn't)

BUT

The lone file with the includes _is_ why the .dat files differ. If I pull in am_ET.res from another arch, i get the same checksum when regenerating the .dat

[2021-08-06 15:34] jonathanpeppers opened #56989 "Support for Android "Profiled AOT" in .NET 6"
This feature in Xamarin.Android is also known as "Startup Tracing":

https://devblogs.microsoft.com/xamarin/faster-android-startup-times-with-startup-tracing/

Yet another name for this might be "profile guided optimization".

For .NET 6, we'd like users be able to do something like the following in Release builds:

[code]

This would use a built-in profile that the Android workload provides as we

[2021-08-06 15:34] directhex commented on #55637
I need to look at the source of the .res creation tool, and see how it decides whether or not to use includes

[2021-08-06 15:37] vcsjones commented on #40074
I would like to better understand your concern about timing attacks in a browser scenario. Browser sandboxing has implemented numerous changes to prevent timing attacks in a browser scenario, including site-isolations, and removing high precision timers<sup>1, 2</sup> such as `SharedArrayBuffer` or `performance.now` either by disabling them entirely or reducing their accuracy. Browsers that do imp

[2021-08-06 15:38] tdykstra commented on #31619
That explains it, thanks! Snake case test cases work only with the custom converter. I'll update the docs.

[2021-08-06 15:38] AlgorithmsAreCool commented on #31619
@layomia I am assuming there is a 0% chance of a fix for this making it into .NET 6. Is that assumption correct?

[2021-08-06 15:38] akoeplinger commented on #56989
So we need to do two things:

- [ ] enable build of `libmono-profiler-aot.so` in mono.proj (it's already done for Browser)
- [ ] support multiple arguments for `AotProfilePath` in MonoAOTCompiler

[2021-08-06 15:38] Trinitron commented on #54642
Paste these lines to any v2 function (netcoreapp3.1). There is no need for publishing, it fails locally.
`            var codeBase = System.Reflection.Assembly.GetExecutingAssembly().CodeBase;
            var binDir = System.IO.Path.GetDirectoryName(codeBase).Replace(@"file:\", "");
            System.Configuration.ExeConfigurationFileMap configFileMap = new System.Configuration.ExeConfigurationFi

[2021-08-06 16:13] kunalspathak commented on #56953
Should be codegen..not sure why it got removed by me.

[2021-08-06 16:21] antonfirsov commented on #56159
No idea why did this error start surfacing only now, but looks like the problem is that we are not passing `cancellationToken` to `FlushAsync`. Two places from the CI stack traces, but there are more:

https://github.com/dotnet/runtime/blob/bc7b910144d1f2b62de05540b9df1bb90f3729b9/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs#L525

https://github.com/dotnet

[2021-08-06 16:22] ViktorHofer commented on #56697
The repo license never got recognizhed by GitHub for dotnet/runtime as the THIRD-PARTY-NOTICES.TXT lists conflicting licenses which confuses GitHub's license detection. There is nothing that we can do that and likely need support from GitHub to exclude files from their license detection logic. More information can be found here: https://docs.github.com/en/github/creating-cloning-and-archiving-repo

[2021-08-06 16:22] #56697 closed

[2021-08-06 16:24] tarekgh commented on #37069
It looks to me on Android there is one of the following cultures have Turkish I behavior.

[code]

I suggested if we can manually check that on the failed device or at least update the test to print the culture name that is failed.

[2021-08-06 16:26] ViktorHofer commented on #45163
Closing as we don't trim inbox dependencies anymore (when matching versions) with PackageReferences.

[2021-08-06 16:26] #45163 closed

[2021-08-06 16:27] ViktorHofer commented on #42807
Closing as I didn't see this again.

[2021-08-06 16:27] #42807 closed

[2021-08-06 16:28] ViktorHofer commented on #45772
Moving this to 7.0 as we won't use a new GenAPI in 6.0. For 7.0 we might even switch to Roslyn's RefOut which should preserve the layout.

[2021-08-06 16:33] Joe4evr commented on #56887
Just to confirm, that means in a case of:
[code]
asking `GetCustomAttributes<NonGenericBaseAttribute>()` *does* include any instances of `MyGenericAttribute<>` with whatever type arguments were at the use-site?

I might be biased, but I'm under the impression that's going to be the majority case. Of course, if Mono can fix the problematic case in time, that's all the better, but maybe it doesn't n

[2021-08-06 16:33] AndyAyersMS commented on #56689
Inline analysis indicates it's likely this chain of inlines (plus maybe some others)
[code]

[2021-08-06 16:33] ViktorHofer commented on #47318
Ideally we would continue to produce packages in the servicing branches but just not upload the ones that haven't changed. This allows to guarantee that all packages are still packable even after years and after several dependency (i.e. dependent updates) and tooling updates.

Also another thing to consider is that we might even switch to GitHub CI at some point and away from AzDO (just a wild gue

[2021-08-06 16:36] jonathanpeppers opened #56990 "Android .NET 6 Exception Messages missing"
### Description

In a .NET 6 Android Application (`dotnet new android`), do something that throws an `Exception` by default like:

[code]

This throws:
[code]

Note that the exception message is `BinaryFormatter_SerializationDisallowed` instead of:

https://github.com/dotnet/runtime/blob/577d079a72dbb1cf48e032c015f202770526ff52/src/libraries/System.Private.CoreLib/src/Resources/Strings.resx#L3727-

[2021-08-06 16:37] ViktorHofer commented on #49083
@sdmaclea do you know what should be done here? It's unclear to me with the current amount of information if this in an infrastructure issue that we should own.

[2021-08-06 16:38] ViktorHofer commented on #52251
Closing as versions are up-to-date. That said, we should consider using dependabot in the repo.

[2021-08-06 16:39] tarekgh commented on #56948
@weltkante is right. The font looks don't have mapping glyphs to the input text and GDI+ couldn't find a better font to fallback to. I am not sure if GDI does it even. This looks limitation that the callers should use fonts having glyphs for the used text.

@KlausLoeffelmann what exactly the font used in your sample?

[2021-08-06 16:40] #52251 closed

[2021-08-06 16:47] filipnavara commented on #55637
You don't even need to pull it from another arch. Usually rebuilding the single .res files produces the smaller one.

Note that the problem happened for me on various different .res files inconsistently. There could be some pattern but I didn't see it at first.

[2021-08-06 16:47] #56182 closed

[2021-08-06 16:54] #54876 closed

[2021-08-06 16:55] antonfirsov commented on #56159
Looks like `SslStream` will still throw `ObjectDisposedException` if the stream is disposed, even if we pass a pre-cancelled token.

@geoffkizer @ManickaP shouldn't we check our tokens manually in a very aggressive manner? I'm surprised we don't have more issues around cancellation.

[2021-08-06 16:56] jakobbotsch commented on #56979
The way the jump threading works means we end up with outdated dominators when processing later opportunities, which leads to this problem. After the first jump threading BB03 -> BB06, the dominator of BB06 changes to BB02, but when we process it we still see it as BB05.

Perhaps we can do the optimization in a post-order traversal of the dominator tree instead. @AndyAyersMS do you see any issues

[2021-08-06 16:56] ViktorHofer commented on #487
When ever we get to this we should make use of the shared framework's SDK functionality to dump the bundle layout onto disk and use that for both the runtime and libraries.

Moving to 7.0.

[2021-08-06 16:57] ViktorHofer commented on #32935
Let's keep this onto 6.0 until we hear back from Richard.

[2021-08-06 16:58] #54993 closed

[2021-08-06 16:58] ViktorHofer commented on #33069
@am11 do you know if there's still work left to do here? Asking as you spent quite a lot of time into consolidating RID logic on at least the managed side.

[2021-08-06 17:03] ViktorHofer commented on #44476
@mmitche do you know if we still use the -internal archives? What would need to happen to remove these?

[2021-08-06 17:04] danmoseley commented on #37069
@mdh1418 can you update the assert of one of these tests to dump the culture name eg
https://github.com/danmoseley/runtime/blob/b432e9892e8cf10d30891f207dbccb4b3de2c3df/src/libraries/System.Collections.NonGeneric/tests/CaseInsensitiveHashCodeProviderTests.cs#L93

[2021-08-06 17:05] #54874 closed

[2021-08-06 17:06] ViktorHofer commented on #55484
@akoeplinger didn't you recently fix that?

[2021-08-06 17:07] ViktorHofer commented on #54478
@safern any update on this? We would like to have this in place for 6.0.

[2021-08-06 17:08] danmoseley commented on #54872
Moving to 6.0 as we are required to doc all new API (eg, ApplyUpdate in this case) in the same release.

I'll take it.

[2021-08-06 17:09] danmoseley commented on #54879
We need to document 6.0 API in the 6.0 timeframe (even though work is in docs repo). I'll do it.

[2021-08-06 17:10] GrabYourPitchforks commented on #40074
Don't get me wrong - we're not going to be sloppy with the implementation. We will make a reasonable effort to balance maintainability / readability of code and security. But we're not going to go out of our way to try to flush caches, to mathematically prove that all code paths take the same cycle count in the face of CPU micro-opts, etc. This is what I meant by us not making guarantees about the

[2021-08-06 17:11] stephentoub opened #56993 "JsonSerializer.Serialize<T>(Utf8JsonWriter, T) regression in .NET 6"
Benchmark:
[code]

On my machine, running this with:
[code]
with .NET 5.0.8 and .NET 6.0.0 (6.0.21.40103), I get these results:

|    Method |        Job |  Runtime | Toolchain |      Mean |    Error |   StdDev | Ratio |
|---------- |----------- |--------- |---------- |----------:|---------:|---------:|------:|
| Serialize | Job-DDTUUM | .NET 5.0 |    net5.0 |  85.54 ns | 0.487 ns | 0.407 ns |  1.

[2021-08-06 17:15] GrabYourPitchforks commented on #56776
@bcreswell Your call to `userAssembly.GetType` near the end of the sample is using the wrong assembly. You should be calling this API on the assembly that contains `List<T>`, not on the assembly that contains `UserType`. This is because the string you're passing in is `listOfUserTypeName = "System.Collections.Generic.List<...>"`.

[2021-08-06 17:20] akoeplinger commented on #55484
@ViktorHofer no, that was a different thing.

[2021-08-06 17:21] adamsitnik commented on #56922
It seems to be a regression introduced by https://github.com/dotnet/corefx/pull/28124

[2021-08-06 17:21] wfurt commented on #56159
From the trace, we are trying to `WriteAsync`. So the question is why do we do that on disposed Stream.
It feels like we should either swallow the exception if we intentionally despised the stream e.g. Disposed/Cancellation/error  or we should delay disposal if we have pending operations.

[2021-08-06 17:23] am11 commented on #33069
Yes, this can be closed. :)

The native RID continues to be calculated in `eng/native/init-distro-rid.sh`, and managed RID is derived from the input from script in some cases (`__DistroRid`). We have combined all managed RIDs calculation in `CalculateRID` property group in `Directory.Build.props` at root of the repo.

For Android, currently it is working but the situation is not ideal as coreclr a

[2021-08-06 17:23] danmoseley commented on #48177
Created a PR. For future reference, changes like this can be made directly in the browser. Just click the pencil button in the top right of the topic.

At some point, we'll likely make the .vb code the source of docs, but for now it's obviously in dotnet-api-docs.

[2021-08-06 17:24] josalem commented on #56888
Thanks for the triage @janvorli. @am11 if you aren't planning to include that change in your PR, I'll go ahead and make it.

[2021-08-06 17:24] danmoseley commented on #45039
@cston we're branching for 7.0 on the 17th. Do you expect to fix this 6.0 bug by then?

[2021-08-06 17:25] danmoseley commented on #43752
@akoeplinger does your team expect to do this by Aug 17th

[2021-08-06 17:25] iSazonov commented on #56964
It seems the HasWildCardCharacters method is not used any more and could be removed.

Looking the file I think vectorization could be used for other methods in the file.
And I guess it's worth it.

I have an interest (to get this in PowerShell) but haven't experience for the work today. :-(

[2021-08-06 17:26] akoeplinger commented on #43752
@lewing @steveisok what do you think?

[2021-08-06 17:28] MihaZupan commented on #53597
These 3 tests are back to failing daily #54640 #56354 #56983

[2021-08-06 17:33] smartaquarius10 commented on #56975
@CarnaViire ,

Hello, thank you very much for sharing the code. Actually, I thought why to recreate HttpClientFactory as I read somewhere that objects of httpclient or factory or anything else related to this should be created only once rather than again and again. So under that impression I have done this. There is no specific reason other than this. Currently, in my project I'm using 2 http clie

[2021-08-06 17:34] mdh1418 commented on #37069
@danmoseley @tarekgh
[code]
So it looks like `provider.GetHashCode("file")` and `provider.GetHashCode("FILE")` are incorrectly the same for tr-TR.

[2021-08-06 17:35] jakobbotsch commented on #56979
Doing that fixes the problem with the phase doing the following work:
[code]

However it looks like we end up with a duplicated check for `s_5` in the false case, not sure if that's a remnant of changing the ordering.

[2021-08-06 17:36] vargaz commented on #56887
If we want to make GetCustomAttributes () work with an open type, then it needs to return an object[], since the return array needs to contain different instantiations of the same type.

[2021-08-06 17:37] ryalanms commented on #56958
Yes, this is a duplicate and can be closed.  Until 5.0.10 is released, users will need to install both the ARM64 .NET WindowsDesktop Runtime and the ARM64 .NET Runtime to run ARM64 WindowsDesktop applications on .NET 5.0.

[2021-08-06 17:37] tannergooding commented on #12984
I agree. This looks like a good improvement over the codegen we had. Kunal is probably the best to comment if the LSRA changes are correct or will run into any issues.

@kunalspathak, we don't have an equivalent in x86/x64 AFAIK. We only recently added minimal redundant move detection in .NET 6

[2021-08-06 17:44] AntonLapounov commented on #54203
The `(GetComponentSize() <= 2) || IsArray()` assertion failure on ARM32 is likely a dup of #13127.

[2021-08-06 17:51] mmitche commented on #44476
I am not sure. We need to ensure we don't have downstream use of them (usually just go and grep through aspnetcore, installer, sdk, and windowsdesktop).

[2021-08-06 17:53] vcsjones commented on #56958
Duplicate of dotnet/windowsdesktop#1823.

[2021-08-06 17:53] #56958 closed

[2021-08-06 17:55] AndyAyersMS commented on #56979
I'll have to spend a bit of time looking at this. I went back and forth on the order and I thought there were issues working in post-order (which is how it was done initially).

We could also update the idoms perhaps. There is code somewhere in the flowgraph methods that does that in some cases.

[2021-08-06 17:57] ViktorHofer commented on #50621
The work described in this issue is completed. Closing.

[2021-08-06 17:57] #50621 closed

[2021-08-06 17:57] mrange opened #56995 "Unexpected code size increase when using JSON Source Generator"
Hi.

I tried the JSON Source Generator as asked too. I was surprised to find that my assembly grew from 7 KiB to 125 KiB after adding source generators even though I only generated code for `Person` and `List<Person>`.

[code]

When looking at the generated code I found a bunch of generated methods that I didn't use and that should be possible to have in a shared library such `AssemblySerialize`.

[2021-08-06 17:59] davidwrighton commented on #56887
I don't think we have any consensus on what the behavior should be for anything involving open generics and the GetCustomAttributes api. Obviously we can't return an array of open types. I'm not entirely comfortable with just returning null as CoreCLR does, and I'm pretty sure an exception around bad array type creation isn't what should happen either. Also we can't change the signature of any pub

[2021-08-06 18:00] ViktorHofer commented on #49026
AFAIK we haven't received any complaints about this, hence moving to 7.0.

[2021-08-06 18:03] CarnaViire commented on #56975
You should not be modifying `ClientCertificates` on the run. This property needs to be set before the first request is fired.
If you want to pick a certificate on the run depending on any logic, instead of `ClientCertificates`, you need to use `SocketsHttpHandler.SslOptions.LocalCertificateSelectionCallback`
Please see this issue for example #52779

[2021-08-06 18:08] ViktorHofer commented on #44842
Keeping this in 6.0 as @riarenas is currently working on it.

[2021-08-06 18:09] ViktorHofer commented on #36518
Thanks for explaining. Closing.

[2021-08-06 18:09] #36518 closed

[2021-08-06 18:12] bcreswell commented on #56776
I've modified the example below. Same result. It's still null.
[code]

[2021-08-06 18:13] tarekgh commented on #37069
In this case the issue would be related to the ICU used in Android or Mono could be doing something different than coreclr.

https://source.dot.net/#System.Private.CoreLib/CompareInfo.Icu.cs,739

[2021-08-06 18:14] Joe4evr commented on #56887
Doesn't it already return `Attribute[]`? That's already enough.

[2021-08-06 18:14] ViktorHofer commented on #1252
@NikolaMilosavljevic are you still looking into this? Unsure if we should keep it for 6.0 or move it into 7.0.

[2021-08-06 18:15] tannergooding commented on #56967
CC. @kunalspathak, @echesakovMSFT

[2021-08-06 18:20] JulieLeeMSFT commented on #56493
Thanks @rickbrew. I set the milestone to .NET 7.
@tannergooding I assigned this issue to you to review the PR and merge it.

[2021-08-06 18:22] #56961 closed

[2021-08-06 18:25] danmoseley commented on #37069
@mdh1418 what version of libicu is on this device?

I'm not sure where it is or the file name, but eg on Ubuntu I have
[code]

I wonder whether it's particular to this Android version/distribution that it hasn't come up before. Windows has had this behavior for nearly 20 years so I would be surprised if it was only recently fixed in ICU/CLDR.

[2021-08-06 18:26] JulieLeeMSFT commented on #56962
@echesakov PTAL.

[2021-08-06 18:27] NikolaMilosavljevic commented on #1252
I'd keep this in 6.0 for now.

[2021-08-06 18:30] vargaz commented on #56887
Returning Attribute[] could work.

[2021-08-06 18:33] NikolaMilosavljevic commented on #47822
[Triage] we could not reproduce this issue. Let us know if this is still reproing for you and provide the info about mirror IP using the command shared above.

[2021-08-06 18:33] #47822 closed

[2021-08-06 18:35] davidwrighton commented on #43588
@stephentoub @kouvel  This looks to be intentional. The test actually creates two separate Native overlapped structures. Note that the call to MyCallback actually creates a different overlapped structure and queues another event. So, I can't explain why its done this way in the test, but it doesn't appear to be a bug.

[2021-08-06 18:37] NikolaMilosavljevic commented on #49353
Fixed with https://github.com/dotnet/runtime/pull/53705

[2021-08-06 18:37] #49353 closed

[2021-08-06 18:39] CarnaViire commented on #56975
That is true. That's why I proposed registration as a singleton.

You certainly can continue using HttpClientFactory if you wish so. It is not wrong, it is just an overhead I though you might not need.

[2021-08-06 18:40] danmoseley commented on #37069
Either way, it's very unlikely that we can do anything about it. The only question in my mind is whether this is true for all Android flavors, and whether we're testing on one that should be updated.

[2021-08-06 18:40] danmoseley commented on #56407
duping against https://github.com/dotnet/runtime/issues/37069 as the fix would be the same fix in Android.

[2021-08-06 18:40] #56407 closed

[2021-08-06 18:41] ViktorHofer commented on #53282
Closing as work is completed.

[2021-08-06 18:41] #53282 closed

[2021-08-06 18:41] NikolaMilosavljevic commented on #51322
[Triage] Closing Snap issues to reflect current priorities.

[2021-08-06 18:41] #51322 closed

[2021-08-06 18:44] tarekgh commented on #37069
I believe Android has customized version of ICU, so the version wouldn't help much here. We need to confirm if this is issue with the ICU version installed on Android or there is something different between Mono and coreclr in such code path.

@danmoseley just FYI, on Ubuntu, you can get the ICU version by running the command `uconv -V`

[2021-08-06 18:45] L2 opened #56998 "Build failure with /p:DebugType=embedded"
### Description

Steps to reproduce:
[code]

Right near the end of the build it gives this error:

[code]

### Configuration

Windows 10, x64:

### Regression?

Not sure, I haven't tried building with `/p:DebugType=embedded` for previous .NET versions.

### Other information

I've also tried `/p:DebugType=` with `full`, `pdbonly`, and `portable` which in all three cases build successfully. Just ha

[2021-08-06 18:46] ViktorHofer commented on #48311
Closing as we now intentionally include `$(NetCoreAppCurrent)` assets in our packages.

[2021-08-06 18:46] #48311 closed

[2021-08-06 18:48] ViktorHofer commented on #25858
Closing as we don't include reference assemblies in packages anymore.

[2021-08-06 18:48] #25858 closed

[2021-08-06 18:49] L2 commented on #56998
I was hoping to use /p:DebugType=embedded to see if the pdb information for the runtime libraries and such could be embedded inside the dlls instead of separate pdb files.

[2021-08-06 18:50] ViktorHofer commented on #28503
@ericstj @joperezr can we close this issue now given that we added .NETFramework configurations to couple of libs?

[2021-08-06 18:52] alpencolt commented on #56978
Hm, I forgot that crossgen2 expect options via `--codegenopt`. Let me check again.

[2021-08-06 18:53] ViktorHofer commented on #28643
@ericstj as tfms aren't filtered out anymore when generating packages, do we still want validation for this? I imagine we wouldn't add new APIs during servicing which is the only where we only publish a subset of packages.

[2021-08-06 18:53] krispenner opened #56999 "System.Text.Json constructor deserializing with covariant return type read-only properties sets values to null"
### Description
I would expect the below to work, however it does not. Maybe because covariant return types are new and not yet handled in System.Text.Json yet. I think the example speaks for itself but let me know if more information is required.

### Configuration
* Which version of .NET is the code running on? .NET 5.0
* What is the architecture (x64, x86, ARM, ARM64)? x64
* Do you know whether

[2021-08-06 18:54] ViktorHofer commented on #29156
Closing as references assemblies aren't included in packages produce in dotnet/runtime anymore.

[2021-08-06 18:54] #29156 closed

[2021-08-06 18:55] ViktorHofer commented on #31295
Closing as we haven't heard back from the customer. In addition to that, we don't produce packages anymore that support .NET Framework < 4.6.1.

[2021-08-06 18:55] #31295 closed

[2021-08-06 18:55] #48177 closed

[2021-08-06 18:58] echesakovMSFT commented on #56962
I will take a look.

[2021-08-06 18:59] ViktorHofer commented on #54287
Closing as pkgprojs are removed.

[2021-08-06 18:59] #54287 closed

[2021-08-06 19:06] mdh1418 commented on #52072
`System.Tests.StringTests.NormalizationTest` particularly fails at https://github.com/dotnet/runtime/blob/b6647fce59c7de0f870dae4bd008c278c99e036f/src/libraries/Common/tests/Tests/System/StringTests.cs#L7355-L7356

Not sure what the invalid unicode characters are in `string s = new string( new char[] {'\u0063', '\u0301', '\u0327', '\u00BE'});` on iOS. Perhaps something is wrong with https://github

[2021-08-06 19:07] bartonjs commented on #56924
I was about to say... "looks like you're returning cert, not certWithKey" :smile:.

Glad you got it worked out.

[2021-08-06 19:09] layomia commented on #56995
Thanks for the feedback. I believe this issue is resolved following https://github.com/dotnet/runtime/pull/56354. The generator was including a bunch of auto-generated members on record types, but those should now be excluded following this PR. You'll be able to try the fix in a couple hours when we have a [new build](https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet6&view=vers

[2021-08-06 19:13] lewing commented on #56847
This looks suspiciously like corrupted memory, we should investigate further.

cc @lateralusX

[2021-08-06 19:13] bartonjs commented on #56929
The inner exception would be illuminating (at Interop.AppleCrypto.X509StoreAddCertificate), but it's only printing the callstack and the type, not the message.

My suspicion is that some CI machine doesn't have the default keychain (generally login.keychain) in an unlocked state, so the call to add to the keychain failed with an access denied / locked / etc error.

[2021-08-06 19:16] bartonjs commented on #49083
@elahmo I think you're having the problem from https://github.com/dotnet/runtime/issues/54597 (and our CI might, too).

Basically, Homebrew is giving you the arm64 OpenSSL, but you're running x64 .NET.  You need to get the arm64 .NET (assuming it's ready to be used) or the x64 OpenSSL.

[2021-08-06 19:19] CorruptComputer opened #57001 "[API Proposal]: System.Diagnostics.Process.WaitForExit() should return the Process to allow chaining of calls"
### Background and motivation

This would allow method calls to be chained and reduce the number of lines of code required for certain actions.

### API Proposal

Before
[code]

After:
[code]

### API Usage

Before:
[code]

After:
[code]

### Risks

It currently returns void, so I'm not sure if this would cause any issues with backwards compatibility.
Since if someone is already using the above 'B

[2021-08-06 19:19] NikolaMilosavljevic commented on #46954
[Triage] @fugkco this should be working now. If you still see any issues, please reopen.

[2021-08-06 19:19] #46954 closed

[2021-08-06 19:23] NikolaMilosavljevic commented on #45972
[Triage] This should only consume live ref-packs for new release and not in servicing, as those are not reshipped.

[2021-08-06 19:24] #56916 closed

[2021-08-06 19:30] NikolaMilosavljevic commented on #41695
[Triage] Needed for 6.0.

[2021-08-06 19:31] NikolaMilosavljevic commented on #37436
[Triage] @NikolaMilosavljevic can you verify that this is now working?

[2021-08-06 19:33] NikolaMilosavljevic commented on #36842
[Triage] This should now work with 'packs' subset.

[2021-08-06 19:36] am11 commented on #56888
I am not sure what would the prospective `DeleteBuffer` look like, since we can neither use ClrFree (with corehost) nor delete (which is a placement operator in corerun). 😅

On unix, based on `git grep 'new.*std.*nothrow' ':(top,icase,exclude)*win*' | grep -v unique_ptr`, we have only used `std::nothrow` in two other places one of which uses 'std::unique_ptr' and the other one ArrayHolder (both ar

[2021-08-06 19:39] am11 commented on #56916
@eerhardt, can we move it to 6.0 milestone since it's already merged? :)

[2021-08-06 19:44] NikolaMilosavljevic commented on #1252
[Triage] Please use the latest available LTS, i.e. 20.04.

[2021-08-06 19:44] janvorli commented on #56888
@am11, I am not sure I understand your question. The new function code would be in src/coreclr/pal/src/eventprovider/lttngprovider/eventproviderhelpers.cpp, so it would use the same delete [] operator as the ResizeBuffer uses. The generated eventprovdotnetruntime.cpp would then call the DeleteBuffer instead of calling delete [] operator.
Right now, one of the functions in the generated code looks

[2021-08-06 19:46] NikolaMilosavljevic commented on #1252
@jamshedd do we have an issue tracking policy regarding build machine OS versions?

[2021-08-06 19:47] am11 commented on #56888
@janvorli, thanks. I misunderstood and thought the issue is with https://github.com/dotnet/runtime/blob/1fb151f63dca644347a5c608d7ab17f7cb8e1ccb/src/coreclr/pal/src/eventprovider/lttngprovider/eventproviderhelpers.cpp#L26-L27 and we need to change that to DeletedBuffer call which will use the matching `::operator delete[]`.

[2021-08-06 19:48] DemiMarie commented on #40074
Ah okay.  You should probably explain that in the document; my first thought was a naive table-based AES implementation!

A way to check if the fallback is in use would be nice.

[2021-08-06 19:57] richlander commented on #32935
I did some more analysis of the data I was collecting. This will be important for .NET 7 but I think we can consider the ship sailed on this for .NET 6.

[2021-08-06 20:06] AndyAyersMS commented on #56689
I don't have a general-purpose inline XML reducer (yet). The method normally does 136 inlines, and if I cut off inlining at 104, the tests pass, and at 105 they fail.

Inline 105 is `RuntimeTypeHandle:get_Value` noted above. While it is a small method, it has control flow, and biased PGO data, and inlining it leads to wide scale block reordering, so it's not that easy to diff between the 104 and 1

[2021-08-06 20:19] lewing opened #57003 "[wasm][aot] AOT failure in System.Diagnostics tests."
[code]

[2021-08-06 20:23] #54504 closed

[2021-08-06 20:25] steveisok commented on #37069
The ICU version is set to the API level.  This [table](https://developer.android.com/guide/topics/resources/internationalization#versioning-nougat) shows the breakdown.  It's unknown how much they customize, but there clearly are subtle differences between desktop, Android, and what we provide in iOS.  Also, there theoretically could be differences between devices / carriers as I believe they have

[2021-08-06 20:31] danmoseley commented on #56998
This will fix it. But, I don't really know what's supposed to happen with embedded PDB's with linking, etc.
[code]

[2021-08-06 20:32] danmoseley commented on #56998
@L2 maybe try that edit locally and let us know if everything seems to work (not just the build but debugging eg)

[2021-08-06 20:36] lewing opened #57004 "[wasm][aot] Failure in System.Linq.Expressions"
[code]

[2021-08-06 20:38] JamesNK commented on #56957
It may be supported on Insider builds, and not yet publically documented.

🤷

[2021-08-06 20:42] owlstead commented on #30341
@bartonjs I have created and tested a SecureRandom class that implements Random and takes a RandomNumberGenerator, if you're interested. Disadvantage: if functions rely on NextDouble() then you may not get a normal distribution; not evenly spread out and only 53 bits of mantissa.

[2021-08-06 20:45] owlstead commented on #30341
By the way, I'm trying to create an issue w.r.t. to this example: https://docs.microsoft.com/en-us/dotnet/api/system.random?view=net-5.0#generate-random-64-bit-integers which should be rewritten to use 8 random bytes and a conversion to long, but I don't know where. Sorry to put that here.

[2021-08-06 20:45] vargaz commented on #57004
Is this a new failure ?

[2021-08-06 20:49] lewing commented on #57004
It has probably been failing all along. I'm flagging all the failing tests in assemblies we were skipping and enabling the assembly. I didn't see this one listed in previous issues.

[2021-08-06 20:51] vcsjones commented on #30341
If you mean an issue about the documentation itself, it should be filed in https://github.com/dotnet/dotnet-api-docs.

[2021-08-06 20:51] lewing commented on #57003
@vargaz same thing here

[2021-08-06 20:53] danmoseley commented on #30341
Or better still @owlstead you can offer a PR in dotnet-api-docs, which would get it fixed immediately. 😸

[2021-08-06 21:03] #56052 closed

[2021-08-06 21:04] DrewScoggins commented on #56017
I will try and repro this on the lab machines. Maybe this is an architectural thing that we only hit on older Intel hardware.

[2021-08-06 21:07] mdh1418 commented on #52434
I might be missing something, but is this resolved by https://github.com/dotnet/runtime/pull/55425?
It seems like the `X509KeyStorageFlags keyStorageFlags` are being used now?
https://github.com/dotnet/runtime/blob/6874ef21eae2aabe2f3dd0e7852390e20e0ce1f7/src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.iOS/StorePal.cs#L40
https://github.com/dotnet/runtime/

[2021-08-06 21:08] mdh1418 commented on #52435
Is this resolved by https://github.com/dotnet/runtime/commit/086079a776c6c4d957efa0449f50d6fa5624d724?

[2021-08-06 21:14] L2 commented on #56998
Thanks for the quick help @danmoseley , everything's going well after your fix :)

[2021-08-06 21:16] jkoritzinsky opened #57007 "CoreCLR Runtime Tests aren't running on outerloop-only queues"
CoreCLR has some test queues defined to only run in outerloop scenarios. Specifically, there are some queues that we used to run tests only on during the official build back before repo consolidation.

This was conditioned by setting the `helixQueuesGroup:` property in the pipeline definitions for test jobs to `all`.

When we consolidated repositories, we removed the test runs on the internal pipe

[2021-08-06 21:17] AaronRobinsonMSFT commented on #57007
/cc @ViktorHofer

[2021-08-06 21:27] josalem commented on #45518
I'm going to move this back to 6, close it, and open a new one for 7 to prevent confusion over what work goes where.

[2021-08-06 21:27] #45518 closed

[2021-08-06 21:41] bartonjs commented on #56868
@jeffhandley Are we in "please, don't" or "please, do" for this kind of thing for 6.0?  (The class is PNSE for all members except the ctor, I don't expect any review pushback)  Just trying to remember the boundary conditions :smile:.

[2021-08-06 21:46] danmoseley commented on #37069
This appears to suggest that the behavior was supported starting in v28, but your table shows that as the lowest version.
https://www.unicode.org/cldr/cldr-aux/charts/28/delta/transform-tr-Lower.html

[2021-08-06 21:47] vcsjones commented on #56868
I opened this before @jeffhandley said we can probably skip API reviews for this, so, I'll close it. If I'm wrong, we can re-open it. https://github.com/dotnet/runtime/issues/50528#issuecomment-893981312

[2021-08-06 21:47] #56868 closed

[2021-08-06 22:08] steveisok opened #57010 "[Mono] Linker generating invalid IL with exception filters"
The exception filters introduced in https://github.com/dotnet/runtime/compare/ab0991e1adf2e4ebbcb09a1ddcfdfc031aa21510...40ed818e5ecd9f413ca75bb62c2eb4913acbc723#diff-b79affd636899ac98b816c1398f9dca19bc4850a939a3815c09c5a9931094a4c started to make the iOS AOT functional tests fail with:

[code]

As a result, the iOS and Catalyst legs are failing on CI.

[2021-08-06 22:08] steveisok commented on #57010
/cc @vargaz @lambdageek

[2021-08-06 22:17] #48440 closed

[2021-08-06 22:18] vargaz commented on #57010
Can you attach the linked assembly ?

[2021-08-06 22:18] jeffhandley commented on #56868
I'm comfortable taking this kind of an obsoletion at this stage. We've been pushing some other obsoletions through for RC1 as well, where we know the breaking impact is very low.

[2021-08-06 22:19] #56930 closed

[2021-08-06 22:25] AndyAyersMS commented on #56980
Took a quick look; proximate cause is that VN thinks the base of an indir is null, and that feeds a nullcheck, so the codegen above is the nullcheck of a null.
[code]

Now WHY VN thinks that is not immediately clear.... likely we are missing something when modelling the memory updates done earlier in the method, and so think that bit of the struct was not explicitly initialized.

[2021-08-06 22:29] bartonjs commented on #40074
@gulbanana If you want your libraries to be as small as possible you'd need to make the split as you described, but if you're OK carrying around the browser interop types in your non-browser DLL (which is probably only a couple of KB) you can just use `System.OperatingSystem.IsBrowser()` to make a runtime decision

[2021-08-06 22:34] javiercn opened #57012 "Interpolated string regression?"
I've noticed some ASP.NET Core tests failing to run locally, and upon inspection with the debugger seems that something is going on with string interpolation.

When I concatenate the string as follows I get the proper text:
[code]
[code]

However, when I do the same thing via string interpolation the results are completely different.
[code]
This is what I get upon putting the code into a variable

[2021-08-06 22:35] josalem commented on #54469
Looking at @hoyosjs's query, we haven't seen a failure of this test since 8/3 in a win-x64 R2R test leg. That seems to indicate that this isn't related to #56104, though, which went in ~10 days ago.

[2021-08-06 22:51] bartonjs commented on #52434
* The Exportable flag means that the private keys, once imported, can be exported again (e.g. `cert.GetRSAPrivateKey().ExportRSAPrivateKey()`).
* The PersistKeySet flag means that the intention is to add the certificate to a certificate store, so the private key should be written to a place that it can be used again later.
  * For macOS if PersistKeySet is used we import the cert+key into the defa

[2021-08-06 23:07] eerhardt commented on #39709
Moving to 7.0 as this scenario isn't necessary in order to ship 6.0. The underlying linker issue https://github.com/mono/linker/issues/1536 needs to be fixed before this issue can be resolved.

[2021-08-06 23:21] #56701 closed

[2021-08-06 23:24] #43060 closed

[2021-08-06 23:26] steveisok commented on #57010
[System.Net.Http.dll.zip](https://github.com/dotnet/runtime/files/6948253/System.Net.Http.dll.zip)

[2021-08-06 23:40] lewing commented on #51912
I'm not sure what you are asking.  We have a build setting EnableAggressiveTrimming=true which roots the majority of the tests effectively.  We run ~60k tests on runtime main in that scenario for scenario.  The point I was was making is that this test appears to be failing because that trimming is causing issues not because  AOT is causing issues.

[2021-08-06 23:46] maryamariyan commented on #54170
yes, more info available in this comment https://github.com/dotnet/runtime/issues/56781#issuecomment-893677784

[2021-08-06 23:56] ericstj commented on #28643
Yeah, we can close this now.

[2021-08-06 23:56] #28643 closed

[2021-08-06 23:58] ericstj commented on #28503
We won't be doing this in 6.0.  Doing this would be about making sure we have zero bindingRedirects in our .NETFramework packages.  It think it is still interesting to do and not too much work.

[2021-08-06 23:59] owlstead commented on #30341
@danmoseley I couldn't find the documentation page, so I went with the middle ground, [raising an issue](https://github.com/dotnet/dotnet-api-docs/issues/6997) but with the code included.

[2021-08-07 00:19] vargaz commented on #57010
How can I reproduce this ?

[2021-08-07 00:35] steveisok commented on #57010
Pull main, build for iOSSimulator, and then build the functional test.

./dotnet.sh build /t:Test src/tests/FunctionalTests/iOS/Simulator/AOT /p:TargetOS=iOSSimulator /p:TargetArchitecture=x64

[2021-08-07 00:48] AndyAyersMS commented on #56689
I managed to narrow it down by first noting that the failure required assertion prop and then by limiting the number of allowed assertions. This lead to a one-instruction diff in the generated code:
[code]
and the upshot it looks like there's another invalid peephole:
[code]
wondering why arm64's `emitter::IsRedundantMov` does not check `isValidLastInsFormats` for same src/same dest movs.

[2021-08-07 01:07] AndyAyersMS commented on #56689
This seems to fix things, as best I can tell:
[code]
Issue was seemingly there from the start, eg #38179.

[2021-08-07 01:12] mandel-macaque commented on #47601
For future references, the following is a real example of what we have to do know: https://github.com/xamarin/xamarin-macios/pull/12365/files#diff-72574ede623de97723139c5b253475575f186431bd438834f73af5052587e91aR582

As you can see, is very verbose and error prone :(

[2021-08-07 01:45] #55183 closed

[2021-08-07 02:25] vargaz commented on #57010
This is a linker problem, the original IL in `'<SendAsync>d__28'::MoveNext` is:
[code]
while the linked one is:
[code]
which is not valid anymore.

[2021-08-07 02:26] lewing commented on #57010
cc @agocke @sbomer @eerhardt @marek-safar

[2021-08-07 03:00] filipnavara commented on #56990
For reference, this is controlled by the `<UseSystemResourceKeys>` property.

[2021-08-07 03:34] iSazonov opened #57017 "Type name conflicts in PowerShell after moving to .Net 6.0 Preview7"
### Description

See https://github.com/PowerShell/PowerShell/pull/15886 It is very amazing to see such name conflicts.

1. System.Management.Automation.ExecutionContext vs System.Threading.ExecutionContext

Proposal is to rename System.Threading.ExecutionContext to System.Threading.**ThreadExecutionContext**

"ExecutionContext" is such a common pattern that there will be conflicts in many project

[2021-08-07 03:42] dotnet-eng-status[bot] opened #57018 "Build failed: Validate-DotNet/main real signed, .NET 6, validation-runtime-.NET 6, runtime #runtime-101014-.NET6"
Build [#runtime-101014-.NET6](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1281263) partiallySucceeded

## :warning: : internal / Validate-DotNet partiallySucceeded

### Summary
**Finished** - Sat, 07 Aug 2021 03:42:09 GMT
**Duration** - 274 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :x: - [[Log]](http

[2021-08-07 03:57] MichalStrehovsky commented on #51912
The test called out in https://github.com/dotnet/runtime/pull/56859#discussion_r683050234 is reflecting on one of the test assemblies themselves. I would expect the target of the reflection to be rooted by whatever is rooting the test cases themselves - the test cases get reflection-activated by xunit so something must be rooting them. There's either a bug in how EnableAggressiveTrimming works (I

[2021-08-07 04:05] lewing commented on #51912
EnableAggressiveTrimming is highly imperfect but required in a practical sense for CI and mono AOT.  Please help resolving the failures, which have uncovered multiple linker bugs, instead of assuming it just works.

[2021-08-07 04:48] JamesNK opened #57021 "[HTTP/3] Client closing control stream before closing connection"
Justification for 6.0: Violation of HTTP/3 spec -- leading to error on the server side (which can be in theory ignored, but will be confusing for people adopting and experimenting with HTTP/3, lowering their confidence).

HttpClient is closing its outbound control stream before closing the connection. This is causing an `H3_CLOSED_CRITICAL_STREAM` error to be raised in Kestrel. There will be a rac

[2021-08-07 05:27] jeffhandley commented on #47601
@mandel-macaque Thanks for sharing that example; that's helpful.

If we were to do `[ObsoletedInOSPlatform]`, I see a difference in what the experience would be. That attribute would end up producing a single message that combines all of the platforms together, like `[SupportedOSPlatform]` and `[UnsupportedOSPlatform]` do today. Therefore your multiple attributes would all combine together for a s

[2021-08-07 06:06] #53614 closed

[2021-08-07 06:06] #55679 closed

[2021-08-07 06:06] #55735 closed

[2021-08-07 06:11] danmoseley commented on #54871
Some of these are Xamarin only, and come from mono/mono. Eg
  `    <MemberSignature Language="C#" Value="public SafeMemoryMappedFileHandle (IntPtr preexistingHandle, bool ownsHandle);" FrameworkAlternate="xamarinandroid-7.1;xamarinios-10.8;xamarinmac-3.0" />`
only exists at https://github.com/mono/mono/blob/main/mcs/class/System.Core/Microsoft.Win32.SafeHandles/SafeMemoryMappedFileHandle.cs#L40

[2021-08-07 06:17] jeffhandley commented on #43328
Closed via dotnet/roslyn-analyzers#5347 - `CA2255` - `ModuleInitializerAttributeShouldNotBeUsedInLibraries`

[2021-08-07 06:17] #43328 closed

[2021-08-07 06:24] mrange commented on #56995
@layomia Hi. Tried it but after updating the reference my code no longer compiles. It almost seems like the source generator hasn't generated any code as it complains that: `error CS0534: 'MyJsonContext' does not implement inherited abstract member 'JsonSerializerContext.GetTypeInfo(Type)'`

I tried faking the method but then I got other errors.

It could be because you made some changes to how to

[2021-08-07 06:27] mrange commented on #56995
I also tried the version you linked but with the same results.

[2021-08-07 06:28] danmoseley commented on #54879
M:System.Runtime.CompilerServices.Unsafe are implemented in IL so it has a hard coded doc file at src\libraries\System.Runtime.CompilerServices.Unsafe\src\System.Runtime.CompilerServices.Unsafe.xml

[2021-08-07 06:37] danmoseley commented on #54879
@safern the new member is present in src\libraries\System.Runtime.CompilerServices.Unsafe\src\System.Runtime.CompilerServices.Unsafe.xml. However, after i build it's not present in artifacts\bin\docs\System.Runtime.CompilerServices.Unsafe.xml. That one, like the other files in there, has a timestamp of 10/09/2020  09:10 PM .. it's getting restored from somewhere. Compare eg System.Runtime.xml, whi

[2021-08-07 07:03] GSPP commented on #57001
Chaining of calls serves to compress the program in terms of the number of its characters. There is a heavy price to pay: the program becomes harder to read and maintain.

[2021-08-07 07:08] iSazonov commented on #56964
@adamsitnik I think it is better to remove the dead code and close the issue. See #57028.

If you see any chance to improve performance of methods in the file (PathInternal.Windows.cs) I will open new tracking issue.

[2021-08-07 07:09] cston commented on #27537
This issue appears similar to https://github.com/dotnet/runtime/issues/18655 which was resolved in 2.0.

Are there still cases where this issue repros?

[2021-08-07 07:21] danmoseley commented on #54860
these need code docs

M:System.IO.BinaryReader.ReadHalf
--
M:System.IO.BinaryWriter.Write(System.Half)

[2021-08-07 07:22] GSPP commented on #56955
The `SqlException` way of doing things is really nice. All exceptions are an `SqlException` and you can interrogate that object to analyze the error.

In my opinion, this is the gold standard for a high-level API.

`SocketException` is another such success story.

So I'd propose that `QuicException` (and derived types) would be the only ones thrown. There should be an integer code that allows call

[2021-08-07 07:23] GSPP commented on #56954
Precedent is mostly that `IOException` is not being used as a base class. Rather, `QuicException` should be caught by calling code.

[2021-08-07 07:24] jkotas commented on #57017
ExecutionContext is a very old type introduced more than decade ago. Renaming it would be significant breaking change.

I think you are getting bitten by implicit namespaces feature. You may want to set:
[code]
in the Powershell repo to disable it. FWIW, it is what we have done in this repo as well.

[2021-08-07 07:30] danmoseley commented on #54857
All done in the linked PR except for these which are missing xml doc in code:

M:System.Net.Sockets.SafeSocketHandle.#ctor
M:System.Net.Sockets.SendPacketsElement.#ctor(System.ReadOnlyMemory{System.Byte})
M:System.Net.Sockets.SendPacketsElement.#ctor(System.ReadOnlyMemory{System.Byte},System.Boolean)
P:System.Net.Sockets.SendPacketsElement.MemoryBuffer

[2021-08-07 07:31] jkotas commented on #56976
Strong name signatures are deprecated in .NET Core / .NET 5+. Nothing in the runtime pays attention to them. They are not meant to be used for security purposes (documented in https://docs.microsoft.com/en-us/dotnet/standard/assembly/strong-named).

Why do you need to validate the strong name signatures in .NET Core / .NET 5+?

[2021-08-07 07:31] svick commented on #57012
This looks like a duplicate of https://github.com/dotnet/roslyn/issues/55461.

[2021-08-07 07:40] danmoseley commented on #56751
Original requests were here: https://github.com/dotnet/runtime/issues/26666

[2021-08-07 07:55] iSazonov commented on #57017
@jkotas Thanks! Is the problem caused by changing the default values in Preview7?

[2021-08-07 07:56] danmoseley commented on #55435
@halter73 @jkotalik this is a 6.0 bug. could you either please fix by aug 17 or move to a new milestone

[2021-08-07 07:57] danmoseley commented on #49570
@halter73 @jkotalik this is marked 6.0. please either fix or change milestone by aug 17.

[2021-08-07 08:00] davidfowl commented on #49570
Do we know if this is still happening?

[2021-08-07 08:17] MichalStrehovsky commented on #57017
It's caused by implicit usings that add an implicit "using System.Threading" at the beginning of all CS files. The above properties disable the feature.

The feature is going to be disabled by default after Preview 7 because it causes trouble like this in existing code (and more): https://github.com/dotnet/sdk/issues/19521

[2021-08-07 08:34] #57017 closed

[2021-08-07 08:54] huoyaoyuan commented on #57001
It's obviously breaking change and unacceptable.

Chaining calls isn't fashioned in BCL. Only a few cases like `StringBuilder` use the pattern.

[2021-08-07 09:33] MaledongGit opened #57029 ""9009" exit code error"
HI all :)

When I build the whole project with the given example command in x86's windows 10 (latest version):

[code]

It gives me this:
![image](https://user-images.githubusercontent.com/52018749/128595843-6378a7bb-5cf3-4f21-9338-9c810041e573.png)

In English, it means:

Already exited, with the code "9009....

PS: I've installed through vsconfig all successfully....:(

[2021-08-07 09:55] MaledongGit commented on #57029
Hi, after reinstall Python (Why???)  for a trail, there's only one error left:
![image](https://user-images.githubusercontent.com/52018749/128596340-1b787a07-4bd3-480f-b094-7de9d39a6e6a.png)

There's no defination "GetValueRefOrAdd" in "CollectionsMarshal"....

[2021-08-07 10:02] hoyosjs commented on #56815
![image](https://user-images.githubusercontent.com/19413848/128596514-04b6a09c-71ad-498a-aa2c-2c2869d886fd.png)

@adamsitnik it's happened 19 times in rolling CI's over 30 days. Always ARM64 (save for 1 amd failure) but not machine specific for sure.

[2021-08-07 10:04] hoyosjs commented on #57018
Explicit exclusions.

[2021-08-07 10:04] #57018 closed

[2021-08-07 10:26] JamesNK commented on #55707
I believe I've narrowed down some flakey tests to missing this API.

There are Kestrel tests that are sent GET requests by the client (and so have no request body). The app code does some minimal work on the server. The tests pass is the request was completed gracefully. That means the request was read to the end and the response completes sending

Unfortunately, the app code is completing BEFORE

[2021-08-07 10:34] huoyaoyuan commented on #57029
The member was added recently and you may have outdated build result for that assembly. You may try `build.cmd libs` to do a full build for libraries.

[2021-08-07 12:03] MaledongGit commented on #57029
Hi @huoyaoyuan:

![image](https://user-images.githubusercontent.com/52018749/128598751-f863c2d0-15da-43ad-9a39-3ef7c7fc9609.png)

![image](https://user-images.githubusercontent.com/52018749/128599481-c945cf57-8468-4eb5-a785-7b272412dcab.png)

I wanna know if we need VPN? or just have several times of trials?

PS: I didn't find what you told me about "build libs", since the command file has been ch

[2021-08-07 12:35] teo-tsirpanis commented on #39406
How about making the `Handle` properties return `SafeHandle`s?

[2021-08-07 13:34] chsakell opened #57030 "System.IO.IOException: The response ended prematurely"
### Description

After migrating from `.NET Core 2.2` to `.NET Core 3.1` we randomly get the following error:

[code]

* This is not something we can reproduce on a low traffic environment but it does happen on our high traffic production website.
* Obviously this relates to [47612](https://github.com/dotnet/runtime/issues/47612) and [31528](https://github.com/dotnet/runtime/issues/31528) - I don'

[2021-08-07 14:43] teo-tsirpanis commented on #56914
Creating types from assemblies loaded in a `MetadataLoadContext` goes against the API's purpose. If you want to both inspect an assembly and run code from it, it would be better to load it in an `AssemblyLoadContext` in the first place.

If you want to inspect an assembly and _maybe_ run code from it so rarely that always creating an `AssemblyLoadContext` imposes an unnecessary overhead, you can c

[2021-08-07 14:57] kimbell opened #57031 "Additional enum support in System.Text.Json"
Over the last couple of years I've been involved in building infrastructure code for a number of internal services; make it easier and consistent to set things up. One of the areas we configure is Json serialization; indentation, customer converts, enums as strings, etc. We also use Swashbuckle on the server to generate Open API contracts, and NSwag to generate strongly typed clients.

One of the

[2021-08-07 15:21] #56313 closed

[2021-08-07 15:44] am11 commented on #56888
Something like this:  https://github.com/am11/runtime/commit/f07b9474b6c10c934bbfdc53009309469d5e9230? we get an extra frame for DeleteBuffer, but it still ends up calling ClrFree with corerun:

[code]

[2021-08-07 16:11] huoyaoyuan commented on #57029
I can restore them successfully under normal Chinese network. You may try for more times.

You can see it in `build.cmd -h`.

[2021-08-07 16:12] danmoseley commented on #57030
Is it possible to say whether it happens on 5.0 (or even 6.0 preview 6)?

[2021-08-07 16:21] chsakell commented on #57030
Difficult to say as we don't plan to migrate on 5.0 soon, we will migrate on 6.0 when it's stable.

[2021-08-07 16:42] mikem8361 opened #57032 "Fix stack overflow problems in createdump crash report generation"
### Description

When a crash report is generated on MacOS for a stack overflow, it takes way to long and the json is too big.

The "ExceptionType" is sigabrt and should be managed exception of a stack overflow type.

### Configuration

MacOS

### Regression?

Bug in new feature so no.

### Other information

Instead of adding individual frames to the json for the overflow frames, sum the dups and

[2021-08-07 16:48] shibayan commented on #38966
I've noticed the same problem. Similarly, if you call `Console.KeyAvailable`, certain characters will be skipped. This occurred when I pasted a string containing 'KATAKANA MIDDLE DOT' into the console as shown below.

Oddly enough, it didn't happen in the Windows Terminal, but seemed to happen in the command prompt.

### Repro code

[code]

### Use `Console.KeyAvailable`

paste "A・B" by right clic

[2021-08-07 17:17] gulbanana commented on #40074
That should work in some cases, but are we talking about referencing Microsoft.AspnetCore.Components and expecting all consumers to pass in an IJSRuntime? These libraries are also used by non-Blazor code.
I guess even new async APIs would have the same problem as they wouldn't be added to older TFMs...

[2021-08-07 17:23] stephentoub commented on #57030
What is NativeApiHttpClientHandler?

[2021-08-07 17:53] stephentoub opened #57033 "Dead code not eliminated after constant folding/propagation"
This example is a derivative of one from wikipedia:
[code]
The JIT successfully reduces the entire operation to `mov eax, 4`, but it leaves behind multiple computations that would seem to no longer be necessary:
[code]
Is there some kind of side effect it's relying on from all the earlier gunk, or should it be removing the mov, mov, xor, idiv and just isn't?  Note that if I tweak the C# to make `i

[2021-08-07 18:11] chsakell commented on #57030
[Configure the HttpMessageHandler](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-5.0#configure-the-httpmessagehandler)
Just configuring the inner `HttpMessageHandler`

[2021-08-07 18:42] stephentoub commented on #57030
Right,  but what type is that?

[2021-08-07 18:52] chsakell commented on #57030
I though I posted the entire class above, but posted just a method.. Here's the class.

[code]

[2021-08-08 00:40] Symbai commented on #57031
#42093 #29167

[2021-08-08 02:44] TheAstrologic opened #57038 "More language support in .NET in relation to Regular Expressions."
I noticed in .NET, there seems to be no support for the regex scripts for Kanji.  There's \p{IsCJKUnifiedIdeographs}, but that will also find Chinese and Korean characters, and not Kanji specifically. I noticed other versions use "Han" - which includes Chinese characters and Kanji.  I don't know if there is a difference between Kanji and Chinese characters, but I do believe there's simplified Chin

[2021-08-08 02:48] vargaz commented on #55000
Did it work out ?

[2021-08-08 03:17] #54870 closed

[2021-08-08 03:23] danmoseley commented on #57014
Question is how breaking would it be to existing code to change this.

[2021-08-08 03:42] danmoseley commented on #57038
@TheAstrologic could you point to docs on another engine that uses Han, and ideally what block(s) it maps to?

eg., I do not see it in the list for Perl, which is generally a super set of what we have.
https://perldoc.perl.org/perluniprops#Properties-accessible-through-%5Cp%7B%7D-and-%5CP%7B%7D

cc @tarekgh who may know what the named Unicode range is that covers Kanji.

[2021-08-08 04:29] CorruptComputer commented on #57001
I think there are situations where this could make code easier to read, take these two examples:
[code]
[code]
I personally find the second one to be more easily readable, and a lot more concise.
Adding this wouldn't force you to use it if you dislike chaining.
But rather, it would just be an option if you wanted to, the top code would still work fine even if this change were accepted.

Could you

[2021-08-08 05:25] DaZombieKiller commented on #57038
@danmoseley

I searched the page for `{Han}` and this popped up:
[code]

[2021-08-08 05:34] TheAstrologic commented on #57038
![image](https://user-images.githubusercontent.com/88603553/128621980-5e28f360-2651-4181-9b52-369cb84a68aa.png)

[2021-08-08 05:57] KalleOlaviNiemitalo commented on #57001
This would be a binary breaking change, i.e. the new version of System.Diagnostics.Process.dll would not be compatible with assemblies that were built before the change and use the WaitForExit method. The assemblies would have to be rebuilt from source.

[2021-08-08 06:09] davidwrighton opened #57040 "Fix ARM32 floating point registers unwinding in PAL"
While building issue #56522 with PR #56919 it was discovered that float registers are not properly being unwound on Linux Arm32 platforms. See PR #56919 for details on how to repro.

We should fix this before we ship 6.0 and if the fix is simple enough we may consider backport to 5.0.

[2021-08-08 06:10] #56522 closed

[2021-08-08 06:28] geoffkizer commented on #56955
That seems like a reasonable way to go, and in fact when we've had similar discussions in the past we have tended to do exactly that.

That said, it is somewhat orthogonal to this issue. The thing I'm trying to get at in this issue (which unfortunately may not be as clear as I had hoped) is that we shouldn't just expose the msquic error code/error text to the user. We should interpret it, and eith

[2021-08-08 06:29] huoyaoyuan commented on #57001
The method's binary signature consists of name, parameter types and return type. Changing any of them is a breaking change.

[2021-08-08 06:44] GSPP commented on #56955
I understand better now.

Not letting msquic details leak out seems wise. Who knows if .NET will use msquic at all in 5 or 10 years from now?

For example, the previous HTTP stack has migrated away from WinHTTP. I believe SqlClient is migrating as well but I could be mistaken.

[2021-08-08 06:46] geoffkizer commented on #56955
Yep. And even if we do, we might be using msquic v2 or v3, which might have differences in how this stuff is handled.

[2021-08-08 06:47] geoffkizer commented on #55707
Regardless of whether we add this API, it's still valid HTTP3 to send the FIN separately and you will need to handle this case somehow.

[2021-08-08 07:36] geoffkizer commented on #56954
The problem is that QuicStream derives from Stream, and in general Stream throws IOException. So at least for QuicStream, it seems like we should derive from IOException. so that code that is operating on a generic Stream can at least distinguish IOExceptions from other exceptions.

That said, I don't know how consistent we are about this in general with Stream. Maybe it's not worth it. @stephento

[2021-08-08 07:48] elahmo commented on #49083
@bartonjs yeah, this was the case. Unfortunately, for the project I am using, there is no arm64 dotnet version (3.1), but at least I am able to run the stack locally now.

[2021-08-08 07:59] Dvergatal commented on #56924
Yeah @bartonjs, my mistake:P For some reason i haven't seen this in the code... _certWithKey_ is returning a new object, not modyfing the old one and i had assigned a new one to the _certWithKey_ but the mine function, was returning the old one :P Thx anyway and sorry for making such noise:P My crypto system now is fully operational:D

[2021-08-08 08:17] JamesNK commented on #55707
That's fine. Kestrel won't break or error, but we will be where we are today for all GET requests: there will be a race. Apps will write logs that GET requests weren't completed cleanly which will be confusing. We can't fix it for sub-optimal clients, but we can stop this from happening from those that send HEADERS and FIN together. At the very least, that will include HttpClient - https://github.

[2021-08-08 08:42] geoffkizer commented on #55707
Why not?

[2021-08-08 08:46] kunalspathak opened #57041 "Assertion failed 'emitOffsAdj == newOffsAdj' during 'Emit code'"
[code]

Note: The repro could be reduced further.

[2021-08-08 08:47] kunalspathak commented on #57041
@dotnet/jit-contrib

[2021-08-08 08:57] GSPP commented on #56464
I would expect that the file system uses the prefix in a search pattern to seek into the B-tree that stores the directory entries. This is, I assume, how a single file can be found quickly in a directory with 1 million files.

Losing this seeking behavior can therefore convert `O(log N)` to `O(N)` for certain kinds of queries.

[2021-08-08 09:31] MaledongGit opened #57042 "Should be nullable value when mixing with a non-nullable value"
https://github.com/dotnet/runtime/blob/5aced7eb238ed2dc9e95734ede4be6e11d74dd9c/src/libraries/System.Collections/src/System/Collections/Generic/CollectionExtensions.cs#L15-L23

Notice the function: L23 is a conditional return (a non-nullable value with a nullable value).  The return type (L15) should be "TValue?" instead of "TValue", obviously in a nullable limit, because it MAY return you a nulla

[2021-08-08 10:13] GSPP commented on #56214
Great that this is already there. Any process can die at any time. Any correct usage of `WaitForExit` therefore requires a pointless try-catch.

[2021-08-08 10:30] Joe4evr commented on #57038
Not an expert in this field, but far as I know there is no difference there. I *think* "simplified Chinese" could be mostly the subset of characters under a certain amount of strokes, but that's a bit of a guess.

[2021-08-08 11:06] stephentoub commented on #57042
In this overload, the caller gets to specify the `TValue`.  If they specify a nullable `TValue`, then it'll be nullable.  If they specify a non-nullable `TValue`, then it'll be non-nullable, and they'll get a warning if they try to pass in a nullable `defaultValue`.  The signature is correct as-is.  Thanks.

[2021-08-08 11:06] #57042 closed

[2021-08-08 11:11] stephentoub commented on #56954
I think it's fine to derive from IOException, though we can discuss it with API review when all of this comes through.  There's a lot of antiquated exception derivation stemming from decisions 20 years ago, e.g. the closest existing counterpart to QuicException is probably SocketException, but we're obviously not going to make QuicException derive from Win32Exception or SystemException.  There are

[2021-08-08 11:14] MaledongGit commented on #57029
@huoyaoyuan : Trying for a day, nope :(

[2021-08-08 11:19] JamesNK commented on #55707
Because Kestrel starts processing the app delegate on a different thread as soon as HEADERS are received. The server can't hang around, waiting for the next `QuicStream.ReadAsync` result. Processing immediately after HEADERS are received is part of the HTTP/3 spec.

After that point it is a race between IO thread figuring out there is no body when the next `QuicStream.ReadAsync` call returns 0, an

[2021-08-08 11:26] FeeSaver opened #57604 "HttpClient deflate decompression error"
Hi, I just tried to move project from Net 5 to latest preview of Net 6 and I have noticed issue with automatic decompression.
Gzip and Brotli seems to work fine, but Deflate is throwing IO error with invalid stream data.
When I change back to Net 5, everything works fine again. Here is part of code that throws the error on last line with stream.ReadAsync. I think this happen only when the website

[2021-08-08 11:43] MaledongGit commented on #57042
Hi @stephentoub:

Maybe I didn't make myself so clear, here're some things confusing me a lot:

https://github.com/dotnet/runtime/blob/5aced7eb238ed2dc9e95734ede4be6e11d74dd9c/src/libraries/System.Collections/src/System/Collections/Generic/CollectionExtensions.cs#L10-L13

If as what you said, why does the function above call the overrload one I mentioned in 1st post, return a nullable (TValue?)? I

[2021-08-08 11:49] stephentoub commented on #57042
Because there the caller isn't supplying the defaultValue. When they specify it,  it must conform to the nullability of TValue or else there will be a warning.  But in this overload, the default value is null for reference types,  so no matter if TValue is nullable or not,  null can still be returned.

I don't understand the question,  sorry.  If you're asking why it's possible in L23 for the valu

[2021-08-08 12:15] geoffkizer commented on #55707
Why not? The server is just generating an event here, right? Why is it hard to defer generating this event until you determine whether there is actually a request body or not?

I'm not sure what this means; can you explain?

Great, let's set up a meeting.

I will say, it seems strange to me that we would generate an event like this in a case where (a) the client is behaving correctly, as per RFC,

[2021-08-08 12:20] MaledongGit commented on #57042
@stephentoub:
Maybe the picture can make me more clear:
![image](https://user-images.githubusercontent.com/52018749/128631712-f7db8d20-48c0-47b6-aae9-0a9b7b94093f.png)

The yellow part returns you a nullable value, the red part returns you a non-nullable value, statically checked through the compiler. But why the green part (non-nullable) can accept both nullable and non-nullable value? On the oth

[2021-08-08 12:37] svick commented on #57042
@MaledongGit It can accept a nullable value value *that's known to be not `null`*. If `TryGetValue` returns `true`, then the `out value` will never be `null`, so it can be safely returned from this method.

[2021-08-08 12:52] MaledongGit commented on #57042
Yes, it seems you get what I said.
Consider the return type may be true / false, so we have to use "TValue?" instead of "TValue", because we don't know which value will return. As for it, the return type doesn't know which will return either, so it should be "TValue?" better IMO ;)

[2021-08-08 13:25] stephentoub commented on #57042
If TryGetValue returns true,  the function will return a TValue guaranteed to only be null if TValue is nullable. If TryGetValue returns false,  the function will return defaultValue,  which will only be null if TValue is nullable.  Either way,  the return value will only be null if TValue is nullable,  so not having a question mark on the return type is correct,  and adding a question mark to the

[2021-08-08 13:27] stephentoub commented on #57042
If TValue ends up being instantiated with a value type, a question mark in TValue? is simply ignored.  That's how the language defines the semantics.

[2021-08-08 13:49] CorruptComputer commented on #57001
I guess that is true you would need to rebuild the application, but I feel like that is kind of a moot point since you need to rebuild your application anyways when upgrading .NET versions. So in practice that would be a non-issue.

[2021-08-08 13:51] svick commented on #57001
@CorruptComputer It is an issue when you're trying to use a library that was built for an older version of .Net on a newer version of .Net.

[2021-08-08 14:10] ganxw opened #57043 ".Net5.0.8 sqlite connection to database Segmentation fault"
.Net version 5.0.8
ubuntu version 18.04
arch arm64
depend lib spatialte5.0.1
-rwxr-xr-x 1 root root     1074 ??  8 21:10 mod_spatialite.la
lrwxrwxrwx 1 root root       23 ??  8 21:10 mod_spatialite.so -> mod_spatialite.so.7.1.0
lrwxrwxrwx 1 root root       23 ??  8 21:10 mod_spatialite.so.7 -> mod_spatialite.so.7.1.0
-rwxr-xr-x 1 root root 19011120 ??  8 21:10 mod_spatialite.so.7.1.0

error info:

[2021-08-08 14:53] ganxw commented on #57043
Segmentation fault detail info:

Thread 58 ".NET ThreadPool" received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7a187f01c0 (LWP 10430)]
0x0000000000000000 in ?? ()
(gdb) bt
#0  0x0000000000000000 in ?? ()
#1  0x0000007a3c7134dc in sqlite3_busy_handler () from /usr/lib/aarch64-linux-gnu/libsqlite3.so.0
#2  0x0000007a9c1f3848 in sqlite3_busy_timeout () from /home/***/cellapi/runtime

[2021-08-08 15:08] #56689 closed

[2021-08-08 16:07] AndyAyersMS commented on #57041
Assuming 6.0...

[2021-08-08 16:13] AndyAyersMS commented on #57033
During constant prop the jit doesn't clear the exception flag (`X` in the below) from the divide even though it could; this keeps the divide and computations feeding it alive.

[code]
Should be an easy fix.

[2021-08-08 16:17] danmoseley commented on #56394
@tannergooding do you agree with my assessment? If so I will remove this.

[2021-08-08 16:17] danmoseley commented on #56931
@MichalPetryka any interest in offering a PR?

[2021-08-08 16:22] Nihlus commented on #43359
I have a suggested API surface + implementation - is there an appropriate place to share this? PR, here in this issue...?

[2021-08-08 16:51] SingleAccretion commented on #57033
FWIW, I've bumped into the exact same problem before: https://github.com/dotnet/runtime/pull/50450#issuecomment-813055813, and also found no diffs doing the "easy" fix.

What we'd like to do in these situations is use exception sets, but we cannot because they do not model all exceptions today (canonical example is the lack of `NullPtrExc` for the `GetType` call).

[2021-08-08 16:53] am11 commented on #49233
Another library `Microsoft.NETCore.Platforms` from core-setup repo was moved under src/libraries. From MSBuild restore perspective, it has similar constraints as HostModel. If HostModel is moved under src/libraries, it wouldn't be too strange compared to other *more stranger* stuff we have in that directory. The only thing we need to care about is <kbd>when</kbd> do we run its tests. That can be r

[2021-08-08 17:10] alpencolt commented on #56978
Tried to pass heuristics through `--codegenopt` but difference still be non observable.
Could you share measurements on real apps if you have.

[2021-08-08 17:21] huoyaoyuan commented on #57038
The **CJKV Unified Ideographs** are meant to use same code point for the same character from different languages. It's meant to be undistinguishable if I've understood correctly.

[2021-08-08 17:23] ViktorHofer commented on #49233
IMO it makes more sense to have everything host related under `src/host`.

[2021-08-08 17:35] am11 commented on #49233
by just renaming `src/installer` to `src/host`? (since besides hostmodel+tests and pkgs, there is nothing else left in that directory)

OK. I was thinking it a little bit differently; we already reference src/installer/pkg in src/libraries so in a sense they are not decoupled anyway. Which is why I thought a library project with src+tests is best suited under libraries rather than one off exceptio