[2022-08-25 13:00] svick commented on #74569
In my opinion, this is ultimately impossible to do. Once you distribute your code to someone, they can do whatever they want with it. (See for example game companies spending millions on DRM, which is anyway often defeated quite quickly.)

As such, I don't think any kind of anti-tamper technology belongs in .Net itself.

[2022-08-25 13:34] performanceautofiler[bot] opened #78179 "Regressions in Span.Sorting"

[2022-08-25 13:40] tsjdev-apps opened #74576 "Send mail via System.Net.Mail.SmtpClient isn't working on .NET MAUI Android, but on .NET MAUI Windows and Xamarin.Forms Android"
### Description

I've created a small sample trying to send an email using the `System.Net.Mail.SmtpClient`. The sample is working on Windows, but not on Android. An `Interop+AndroidCrypto+SslException` is thrown. The same code is working on Xamarin.Forms for both platforms.

### Reproduction Steps

1. Create a File > New .NET MAUI App
2. Create a `System.Net.Mail.SmtpClient` and calling the `Send

[2022-08-25 13:42] tsjdev-apps commented on #74576
I've also create an issue in the .NET MAUI repository:
https://github.com/dotnet/maui/issues/9587

Maybe also related to:
https://github.com/xamarin/xamarin-android/issues/7277

[2022-08-25 13:48] SamMonoRT commented on #73454
@lambdageek @fanyang-mono -- with https://github.com/dotnet/runtime/pull/74357 merged(backported), I think we can move this to 8.0.0 ?

[2022-08-25 13:50] fanyang-mono commented on #73454
I think so. If @vargaz has some idea of a quick fix for this, he could move it back later.

[2022-08-25 13:51] tmds opened #74577 "source-build TargetRid and SourceBuildNonPortable don't flow through to the native scripts"
These parameters don't flow through to the native scripts.

The issue is masked because the native __DistroRid default value matches the default TargetRid.

If you set TargetRid to something other than __DistroRid, the build fails.

[2022-08-25 13:54] KSemenenko commented on #67088
but then how is it done in programs that work with MIDI files, for example?
Or in games?

Also, if it's not a documented feature, can't Microsoft document it?

[2022-08-25 14:00] ComptonAlvaro opened #74578 "When I install the ASP Core as windows service I can't connect to my gRPC service"
Well, I have a gRPC service that is hosted in a ASP Core .NET 6 application.

When I debug the ASP project or run the .exe directly, I can connect with the gRPC service, but if I install the ASP Core as a windows service, i get a error: connection refused. SocketException: connection refused. DebugException: System.Net.Http.HttpRequest exception.

This error is when I have disabled the firewall in

[2022-08-25 14:01] lambdageek commented on #73454
we need to also do something with calling conventions

[2022-08-25 14:19] eerhardt commented on #73688
Happened in https://github.com/dotnet/runtime/pull/74533/

https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-74533-merge-098db56d71e34e0da0/System.Net.Quic.Functional.Tests/1/console.f5129532.log?helixlogtype=result

[code]

[2022-08-25 14:20] steveisok commented on #74576
@tsjdev-apps What version of Android / api level are you using?

[2022-08-25 14:41] MihaZupan opened #74581 "PendingConnectionTimeout logic can be too aggressive in certain scenarios"
Creating an issue based on discussion on the PR - https://github.com/dotnet/runtime/pull/71785#issuecomment-1184742277.

With #71785, we now tear down connection attempts after 5 seconds if the request that triggered the attempt is canceled.
With busy client/server communication with many requests over multiple connections, that has an affect similar to setting the `ConnectTimeout` to 5 seconds.

[2022-08-25 14:48] MihaZupan commented on #60644
This issue has been mitigated by #72958 for cases where the server advertises its keep-alive timeout via a response header.
[code]

[2022-08-25 14:49] lambdageek opened #74583 "[mono] Re-enable passing Vector128 arguments in SIMD registers"
Due to mixing LLVM and non-LLVM code (see https://github.com/dotnet/runtime/issues/73454) we disabled the work done for https://github.com/dotnet/runtime/pull/68991 to pass arguments in SIMD registers.  Once the JIT (and interp?) can also use the SIMD registers, we should re-enable that code.

https://github.com/dotnet/runtime/pull/74582

[2022-08-25 14:50] lambdageek commented on #74583
/cc @vargaz @fanyang-mono @SamMonoRT

[2022-08-25 14:51] Clockwork-Muse commented on #74569
They could, but it wouldn't help your case, since people could just compile a version of the runtime without it.  "Malicious" here refers to people attacking the end user, not the end user themselves.

You can make a source-only nuget package, which would solve that problem.  Or use git submodules to the library repo.
That said, if someone is interested enough they can still patch your application

[2022-08-25 14:52] simonrozsival commented on #74576
I tried to reproduce this problem on my device and the message was successfully sent (Samsung Galaxy S10 Lite, Android 12)

[2022-08-25 14:52] SamMonoRT commented on #74583
Assigning to @fanyang-mono for tracking and consolidating related issues for 8.0.0

[2022-08-25 15:02] ComptonAlvaro commented on #74576
I have debugging the the MAUI application in a android device (a phone) and it works perfectly.
![photo_2022-08-25_17-01-11](https://user-images.githubusercontent.com/20024410/186700439-214e7e14-19c7-4579-8288-a9279968d922.jpg)

I am using ionos as priveder, instead of outlook, but I guess the problem is with the data that you use to ahutenticate.

[2022-08-25 15:06] Jozkee commented on #74320
Actually, I take that back, the Microsoft.DotNet.RemoteExecutor.dll is in `System.IO.FileSystem.Tests.zip`, there's no pdb, though. Any idea where can I find it?

[2022-08-25 15:09] Const-me commented on #74418
@vitek-karas Here’s the `HelloWorld.runtimeconfig.json` for a hello, world app based on .NET 3.1 and built with VS2022.

[code]

I never publish anything, I build my stuff, and deploy the built DLLs along with `*.deps.json` and `*.runtimeconfig.json`. In case of ARM Linux, I also package the runtime into OS-specific packages, here’s [an old example](https://github.com/Const-me/Vrmac/blob/master/ne

[2022-08-25 15:11] ComptonAlvaro commented on #74576
I have with outlook.com account (really a hotmail account) and it works too, using this data:

[code]

[2022-08-25 15:21] lambdageek opened #74587 "Support for intrinsics with multiple execution engines with divergent capabilities"
See https://github.com/dotnet/runtime/issues/73454 (issue 2) for the motivation.

Currently the BCL intrinsics support is defined using static classes that provide one intrinsic function per operation (for example [`System.Runtime.Intrinsics.Arm.AdvSimd.AbsoluteDifferenceWideningUpperAndAdd(Vector128<Int32>, Vector128<Int16>, Vector128<Int16>)`](https://docs.microsoft.com/en-us/dotnet/api/system.r

[2022-08-25 15:21] lambdageek commented on #74587
/cc @davidwrighton  @SamMonoRT @fanyang-mono @vargaz

[2022-08-25 15:23] lambdageek commented on #74587
This isn't an exhaustive list of options.  Primarily I wanted to capture the problem.  We may be able to come up with alternate approaches to resolving it

[2022-08-25 15:24] radical opened #74588 "Native crash in `JIT.Regression` for `mono llvmfullaot Pri0 Runtime Tests Run Linux x64 release`"
[Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1965687&view=logs&jobId=ac444259-14dc-5e9e-4846-f4aabcc22cf0&j=ac444259-14dc-5e9e-4846-f4aabcc22cf0), and [log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-73596-merge-994fea73bae5440c88/JIT.Regression/1/console.80bfe912.log?helixlogtype=result):

[code]

### Report
#### Summary
|24-Hour Hit Coun

[2022-08-25 15:41] En3Tho commented on #74550
I believe this is because of Reflection changes that introduced FieldAccessor class to RTFieldInfo. GetValue call now uses Invoker property which always null checks for FieldAccessor and uses it to call back to itself's GetValueNonEmit method. Also, before logic of non-emit GetValue was inlined, now it's in another method. So I guess those 5ns are this additional null check and 2 calls?

[2022-08-25 15:45] AaronRobinsonMSFT commented on #74170
I've looked at that signature several times and can't see anything obviously wrong here. The loop and retry is the only thing I'd consider "odd". Let's try an experiement, update the signature to be `out IntPtr` and then manually marshal the `IntPtr` to the type via `Marshal.GetObjectForIUnknown`. This is theoretically what the marshaller should be doing. It might also be helpful to get an assembl

[2022-08-25 15:49] janseris commented on #74576
Android 5 should be tested as it is the lowest supported Android version by MAUI

[2022-08-25 15:54] rodrigovaras commented on #61231
This is the error from the msbuild:
(looks like the tooling is adding the 'win-x64' path to the obj folder which does not exist from the project build
...
PostBuild:
  dotnet publish --no-build /p:NativeLib=Shared /p:SelfContained=true  -r win-x64 -c Debug Api.
  AOT.csproj

C:\Program Files\dotnet\sdk\6.0.303\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Publish.targets(248,5): error MSB3030:
 Cou

[2022-08-25 15:57] lambdageek commented on #74587
FYI  @tannergooding, appreciate any insights you might have

[2022-08-25 15:59] karelz commented on #73930
Triage: @wfurt analyzed the problem as a problem in test + we need to slightly modify what we fail in this error case (that's a product change) -- neither is important for 7.0.
Along the way @wfurt added bunch of useful logging that is not critical for 7.0.
Moving to 8.0.

[2022-08-25 16:01] karelz commented on #73447
Update: We are re-enabling the test in main via PR #74545 with changes that will hopefully give us more info on the root cause.

[2022-08-25 16:04] karelz commented on #72830
Update: We are re-enabling the test in main via PR #74545 with changes that will hopefully give us more info on the root cause.

[2022-08-25 16:07] wfurt commented on #72227
Similar for me. We had ARM64 pipeline for a while on msquic and if was failing occasionally on msbuild. Running tests seems to be ok.

[2022-08-25 16:08] karelz commented on #74053
Triage: We should throw better error when IPv6 is disabled on the OS. Not critical for 7.0.

[2022-08-25 16:09] MihaZupan commented on #74581
If every connection attempt takes longer than (RequestTimeout + 5 seconds), then in case (2) you go from "some timeouts" in 6.0 to "all requests always fail" in 7.0.

[2022-08-25 16:10] karelz commented on #74066
@ComptonAlvaro did you get any luck with Wireshark traces?

[2022-08-25 16:14] mangod9 commented on #74315
closing this since its an infra issue.

[2022-08-25 16:14] #74315 closed

[2022-08-25 16:20] karelz commented on #74061
Triage: `CacheControlHeaderValue` is unique, not like others and its ability to accept empty string makes lives of devs hard for all other headers.
We do not like to change the annotation to Nullable -- it would break users as they would have to change their code.
Throwing for empty string is even more breaking.
Returning empty value instead of null sounds like the best option - least impactful on

[2022-08-25 16:21] karelz commented on #74061
This should be fairly straightforward to do. It is not important for any release, but we would take a contribution.
@FreeApophis are you interested?

[2022-08-25 16:24] antonfirsov commented on #74581
We had the same behavior pre-6.0, I don't think it's incorrect. I would expect RequestTimeout to consider connection times, the fact that we pool connections (& spin them up in the background) is an implementation detail.

I'm not 100% sure if we will max at one connection, but we should investigate.

If it turns out to be a problem, another mitigation might be to dynamically increase PendingConne

[2022-08-25 16:29] karelz commented on #74568
Triage: There may be opportunity to provide more user-friendly timeouts for ResponseStream read/write. Currently it has to go via ConnectCallback or write your own streams, which is rather ugly.
We should figure out what's the best option.

Note: There is difference between overall timeout and idle timeout on the read/write.

[2022-08-25 16:29] tannergooding commented on #74587
I believe CG2 handles this specially for corelib and other libraries differently.

corelib is treated specially and we assume that we always do the right thing and the two paths are equivalent.

While it assumes other libraries may differ in behavior between two paths and so I believe it forces jitting for various `IsSupported` checks were present that couldn't be emitted as a dynamic check.

We o

[2022-08-25 16:38] MihaZupan commented on #74581
I agree this is a 6.0 => 7.0 issue.
The `ConnectTimeout` wouldn't do anything in these scenarios in 5.0.

The fact that we pool connections is the contract. How exactly we do it are technically implementation details, but they have functional differences that can break users moving from 6.0 to 7.0.

That's a very good point. It would only help users that chose upper limits for the `ConnectTimeout`

[2022-08-25 16:49] deeprobin commented on #67088
How about emitting `nop`s to make the delay?

[2022-08-25 16:56] BruceForstall opened #74593 "Assertion failed 'opcode == CEE_LDFLD && objType != nullptr' in 'ReturnTestsType:Return.LocalStructFieldByRef_Invalid_ReturnPtrToStack(Struct):byref:this' during 'Importation'"
I noticed this assertion in a SuperPMI collection: PMI of coreclr_tests on Linux/arm64 (I didn't check to see if the assertion happens on other platforms).

Relevant portion of the collection log:
[code]

@dotnet/jit-contrib

[2022-08-25 16:59] #74370 closed

[2022-08-25 17:05] roji commented on #74170
@AaronRobinsonMSFT I've pushed [this commit](https://github.com/dotnet/runtime/pull/74226/commits/d0845d842761b64b1790849cbd5cd50960760fca) to #74226, tests pass locally. I'm guessing we're going to need @kunalspathak's help for verifying whether this helps - and also to get an arm64 assembly dump of the stub...

[2022-08-25 17:06] BruceForstall opened #74596 "superpmi: `Method X is of low integrity` errors"
I noticed the Linux-arm64 PMI coreclr_tests collection has 8 cases of:

[code]

during the `mcs -merge` step. These should never occur: they indicate file corruption.

At the end, I see `terminate called after throwing an instance of 'PAL_SEHException'` which I believe comes from `mcs`, meaning we're probably not getting the full set of collected MCs into the base.mch file.

I didn't check to see

[2022-08-25 17:16] JulieLeeMSFT commented on #74593
@EgorBo PTAL.

[2022-08-25 17:17] lambdageek commented on #74587
That will slow down AOT compilation time. We would have to look at every method in every assembly.

[2022-08-25 17:17] weqasds commented on #74474
I have the same problem, will using git clean and rebuilding solve the current problem?

[2022-08-25 17:20] carlossanlop commented on #74474
@weqasds I don't really know what fixed it for me, but I did these things and I'm not seeing it anymore:

1. `git clean -fdx`
2. `build clr -rc release`
3. `build libs -rc release`

I noticed that using `build clr+libs -rc release` would throw the error, but separating the subsets would not.

[2022-08-25 17:23] tannergooding commented on #67088
`nop` takes decoding time but generally no execution time. You wouldn't want to execute a million `nop` just to wait 0.25-1 millisecond.

Typically when you want to "delay" for a very brief period of time, you emit `pause` (or `yield` on Arm64). On modern CPUs this waits for about 100-140 clock cycles and correctly plays into power management/efficiency settings (which is important for mobile, lap

[2022-08-25 17:32] jkotas commented on #74587
Yes, how much? A simple scan of all methods in the app, without generating any code, should be pretty fast.

[2022-08-25 17:34] danmoseley commented on #73327
It's possible the machine is locked down such that they can't do that kind of thing?

[2022-08-25 17:39] BruceForstall commented on #74596
I see this error in the `SuperPMI collect libraries_tests pmi Linux x64 checked` job as well (just one, no "terminate" error).

[2022-08-25 17:42] georgewfisher commented on #63630
@roji When will this patch be released?

[2022-08-25 18:04] lambdageek commented on #74587
In theory Mono is using some kind of table-driven approach for this, too. but evidently we still end up with a lot of manual plumbing.  it would be good to investigate where the gap is @SamMonoRT

---

I think this is probably the right place to start in net8 for Mono.

---

This is also probably a good place to start - we could make a table of "must AOT" methods and measure the impact on compilat

[2022-08-25 18:06] ivdiazsa commented on #73327
Alright then it's settled! I'll get a PR with fixes on our part, i.e. until the failure falls onto MSBuild.

[2022-08-25 18:08] ivdiazsa commented on #73327
This is a thing in some companies so unfortunately that workaround wouldn't work for them. It's not a huge amount of places, but there are enough locked down that warrants looking into this.

[2022-08-25 18:19] tarekgh commented on #74557
CC @dotnet/area-system-text-json as this is related to `System.Text.Json` too.

[2022-08-25 18:42] carlossanlop commented on #73299
Hit it in a 7.0 backport: https://github.com/dotnet/runtime/pull/74589
- Queue: Build OSX x64 release NativeAOT.
- Job results: https://dev.azure.com/dnceng/public/_build/results?buildId=1966755&view=logs&j=2de479a8-eae7-5324-c49d-bebaef329288&t=bb577e75-8247-55f1-4164-04f3b0f2d1eb&l=974

[code]

[code]

[2022-08-25 18:55] naricc opened #74603 "Race condition on marshal-ilgen init"
### Description

Because of this change: https://github.com/dotnet/runtime/pull/71203, `mono_marshal_ilgen_init` gets called later, after comnponents are initilized. This allows for potential races in initilizing the callback table.

I propose to fix this by making a pointer to `ilgen_marshal_cb`, and initing that pointer atomically (with a CAS) after the table has been constructed.

See comment h

[2022-08-25 18:57] naricc commented on #74603
@uweigand I've created this issues based on your comment from the PR. Thanks for finding that.

Is this blocking you? If it is an immediate blocker I will jump on this right now, otherwise I will wait until early next week.

[2022-08-25 18:58] antonfirsov opened #74604 "NCL stress tests fail to build since ProductVersion update to 8.0.0"
In #61689 HttpStress and SslStress has been updated to utilize the live-built runtime with the help of `targetingpacks.targets` in a manner similar to our unit and functional tests.

Builds are broken since #73985: with `ProductVersion` still set to 7.0.0 in our tests, we get the usual framework resolution error "`You must install or update .NET to run this application`".

However, bumping `Produc

[2022-08-25 18:58] uweigand commented on #74603
No, it's not a blocker - I just saw this on one testsuite run, and haven't been able to reproduce since.

Thanks for looking into this!

[2022-08-25 18:58] SamMonoRT commented on #74603
cc @lambdageek fyi

[2022-08-25 19:07] wfurt commented on #74604
do we use custom NuGet config? We may need to add dotnet-8 feed.....
There were also some variables to roll forward on version.

[2022-08-25 19:12] NikolaMilosavljevic opened #74605 "Update Third-party-notices file in 7.0 installers"
Now that we are close to 7.0 release, all dependent TPNs should be up to date and we should update the main, aggregated TPN file, that is shipping with our installers.

[2022-08-25 19:18] NikolaMilosavljevic commented on #61466
@leecow is there any pending work for the last remaining repo `dotnet/emsdk`?

We need to update main third-party-notices file, which will harvest TPNs from all dependent repos - https://github.com/dotnet/runtime/issues/74605

[2022-08-25 19:26] karelz commented on #74170
Tests disabled in main (8.0) in PR #74572 and in 7.0 (for RC2) in PR #74573 -- not blocking clean CI anymore.

[2022-08-25 19:41] abelykh0 commented on #63630
I did a limited testing (docker with Ubuntu 20) and it does work and I didn't experience any regression issues.

[2022-08-25 20:16] #71069 closed

[2022-08-25 20:21] mangod9 commented on #73681
Closing since https://github.com/dotnet/runtime/pull/74523 has merged into 7.

[2022-08-25 20:21] #73681 closed

[2022-08-25 20:23] #12684 closed

[2022-08-25 20:25] mangod9 commented on #66568
Assigning to Jan but perhaps move to 8, but continue to investigate?

[2022-08-25 20:29] mangod9 commented on #66079
Moving to 8 due to the risk associated with the fix.

[2022-08-25 20:40] mangod9 commented on #67972
Based on Peter's analysis this doesnt seem to be of much concern.

[2022-08-25 20:40] #67972 closed

[2022-08-25 20:54] mangod9 commented on #74555
@AntonLapounov another crossgen2 failure but this time on x86

[2022-08-25 20:55] mangod9 commented on #74541
@mrsharm could you please check if this can be reproed and/or dump is available?

[2022-08-25 21:11] AntonLapounov commented on #74555
It has been intermittently failing for a long time: #61825.

[2022-08-25 21:11] roji commented on #63630
@georgewfisher this should go out in 6.0.9, which is probably a few weeks away.

[2022-08-25 21:38] carlossanlop commented on #74488
We hit this failure in a PR the 7.0 branch: https://github.com/dotnet/runtime/pull/74600

- Job results: https://dev.azure.com/dnceng/public/_build/results?buildId=1967070&view=logs&j=55b384d0-d6b0-5894-fd8a-d754d713246e&t=8dcacd81-cb5e-5ac9-93e5-c3f19b19e19b&l=106
- Failure log: https://helix.dot.net/api/2019-06-17/jobs/7437910e-a6f8-4979-9724-a91a7064099a/workitems/System.Data.OleDb.Tests/consol

[2022-08-25 21:41] StephenMolloy commented on #59855
We'll look at using a potential workaround on the serializer side for this.

[2022-08-25 22:03] KSemenenko commented on #67088
while (_running)
{
    if (stopwatch.ElapsedMilliseconds - lastTime >= intervalMs)
    {
        callback();
        lastTime = stopwatch.ElapsedMilliseconds;
    }

    if (!Thread.Yield())
        Thread.Sleep(0);
}

[2022-08-25 22:06] steveharter commented on #74550
I was actually looking at this due to recent bechmarks in https://github.com/dotnet/runtime/issues/74550 which shows the regression, primarily in `GetValue`:
[code]

[2022-08-25 22:07] ChrisDenton commented on #67088
On Windows you can also use a waitable timer object with  `CREATE_WAITABLE_TIMER_HIGH_RESOLUTION`. However, this only works since Windows 10 1803 and the actual timer resolution will depend on the underlying hardware.

See https://docs.microsoft.com/en-us/windows/win32/api/synchapi/nf-synchapi-createwaitabletimerexw

[2022-08-25 22:11] timmydo commented on #65145
I was just bitten by this... We recently moved from a web host builder to host builder, and the fact that ValidateOnBuild was only set when HostingEnvironment.IsDevelopment() (CreateDefaultServiceProviderOptions) is tricky. In our case, the class had some string types in the ctor but it was never resolved by the DI container at runtime so it didn't matter that it couldn't resolve it. After the mig

[2022-08-25 22:34] danmoseley commented on #74316
@carlossanlop do you feel we must do more work here for 7.0? It seems to me we are in a reasonable place based on the data we have. These test tar's are synthetic after all. I suggest to move this to Future. We should certainly pick up the libarchive tar's if they let us know it's OK.

[2022-08-25 22:35] tannergooding commented on #67088
You typically don't want to use `Thread.Yield()` or `Thread.Sleep(0)`, both relinquish the remainder of the allocated time slice and can cause you to not run again until the OS schedule first goes through the queue of equal and higher priority threads waiting to run.

The `pause` (x86/x64) and `yield` (Arm32/Arm64) instructions are different from these.

This is also why in games you may not want

[2022-08-25 22:37] carlossanlop commented on #74316
No more work for 7.0 in my opinion, @danmoseley. Thanks for moving the milestone.

[2022-08-25 22:40] anthonycanino opened #74613 "Expose VectorMask<T> to support generic masking for Vector<T>"
### Summary

For each `Vector` API, we introduce a corresponding `VectorMask`, which abstracts away low-level bit-masking and instead allows to express conditional SIMD processing as boolean logic over Vector APIs. In particular, `VectorMask<T>` allows to perform masking operations and conditional SIMD processing on the variable length `Vector<T>` API, which allows for `Vector<T>` to be used more

[2022-08-25 22:41] davidfowl commented on #65145
Or always on

[2022-08-25 22:42] timmydo commented on #65145
Always on is fine with me. We're always trying to minimize differences between environments.

[2022-08-25 22:46] anthonycanino commented on #74613
@DeepakRajendrakumaran @clairiky

[2022-08-25 22:47] Const-me commented on #74418
@vitek-karas Tried that trace thing, attaching the output: [host.txt](https://github.com/dotnet/runtime/files/9428591/host.txt)

As you see, the error says `Dependency manifest [/home/linaro/z/Test/HelloWorld.deps.json] does not exist`, but that’s not true:

[code]

[2022-08-25 22:59] lewing commented on #74538
cc @danmoseley @steveisok

[2022-08-25 23:04] danmoseley commented on #74538
thanks for working on this @radical

[2022-08-25 23:23] wfurt commented on #74418
You can try `trace -f  dotnet /home/linaro/release/helloworld.dll` @Const-me. (possibly add `-e trace=%file,%desc` if output is too verbose) (and perhaps try mount with `nobrl`)

[2022-08-25 23:26] #1429 closed

[2022-08-25 23:26] davidwrighton commented on #74549
I don't think this is blocking for .NET 7. Its a rather rare scenario, and the failure is only on the fail path. I would mark this as .NET 8.

[2022-08-25 23:39] JamesNK commented on #72619
Kestrel could move the abort back into a lock if it's needed.

My question is, should QuicStream be making these checks? i.e. CompleteWrites no-ops if an abort has happened. Or throws an error. It doesn't seem like a good user experience to require all calling code to have locks when QuicStream could do it itself. Is QuicStream intended to be thread-safe?

[2022-08-26 00:24] MichalStrehovsky commented on #74503
The RD.XML was the correct approach, but you specified the wrong assembly - that's why it wasn't compiling.

[2022-08-26 01:33] v-wenyuxu commented on #74120
Failed again in: [runtime-coreclr libraries-jitstress 20220825.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1965939&view=ms.vss-test-web.build-test-results-tab&runId=50438000&resultId=184998&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2022-08-26 01:46] Zintom commented on #74613
The `CreateUnsafe` methods on `VectorMask<T>` should take `Span<T>` equivalents rather than the array types, or should at least provide overloads for this.

[2022-08-26 01:55] MichalStrehovsky commented on #73299
Blocking the test in #74618. Dropping blocking-clean-ci label.

[2022-08-26 02:48] MichalStrehovsky opened #74620 "ComWrappersTestsBuiltInComDisabled failing with NativeAOT"
[code]

[2022-08-26 02:51] matt-psaltis commented on #31115
Cross platform snapshot testing is painful due to this hardcoded behaviour. Please consider :D

[2022-08-26 02:56] wfurt commented on #74443
I'm not sure if same but I see also crash on arm64
 https://helix.dot.net/api/2019-06-17/jobs/05ae2254-f587-48d9-9412-318847bbc3d7/workitems/System.Net.Requests.Tests/console

[code]

[2022-08-26 03:34] #1483 closed

[2022-08-26 04:43] sumit84mca commented on #74548
Hi,
Just figured it out why it was not working. There was location filter on the server. It was accepting requests from India only. And our server was out on India. Hence it was not forwarding any request to other server.
Thank you all for your time.

[2022-08-26 04:43] #74548 closed

[2022-08-26 04:52] radical commented on #74328
This is being hit frequently - [two](https://dev.azure.com/dnceng/public/_build/results?buildId=1966436&view=logs&j=6f051c1a-c3e7-5cde-411e-64125624a208&t=961bb5d4-39cc-55d0-23ed-82f28319785b&s=96ac2280-8cb4-5df5-99de-dd2da759617d) [instances](https://dev.azure.com/dnceng/public/_build/results?buildId=1968277&view=logs&j=6f051c1a-c3e7-5cde-411e-64125624a208&t=961bb5d4-39cc-55d0-23ed-82f28319785b&l

[2022-08-26 05:17] danmoseley commented on #31115
We need an API proposal here in the same form as the new API proposal template. It can either be here or in a new issue.

[2022-08-26 05:26] davidfowl commented on #1483
We should fix the milestone right?

[2022-08-26 05:26] davidfowl commented on #72153
cc @kouvel

[2022-08-26 05:36] tsjdev-apps commented on #74576
I've tried now on several real devices and it is working.
Before I was testing on different emulators and on the emulators I recieve the exception.

[2022-08-26 05:36] #74576 closed

[2022-08-26 05:37] wfurt commented on #74576
firewall setting....?

[2022-08-26 06:01] wfurt commented on #72830
BadExit may be misleading in queries...
This is not event PR but `main`

https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-ececf5ef6b4c4ff2a6/System.Net.Mail.Functional.Tests/1/console.8759b633.log?helixlogtype=result
[code]

[2022-08-26 06:10] jkoritzinsky commented on #74557
I would highly recommend that any fixes be coupled with tests using the step tracking infrastructure to validate that the fixed incremental behavior is preserved in the future. We added this testing for LibraryImportGenerator and it has been quite valuable already.

[2022-08-26 06:40] rolfbjarne opened #74628 "The mono_marshal_ilgen_init symbol is private in libmonosgen-2.0.dylib"
### Description

In xamarin-macios, when the interpreter is enabled, we call `mono_marshal_ilgen_init` from the main method:

https://github.com/xamarin/xamarin-macios/blob/c55fbdfef95028ba03d0f7a35aebca03bd76f852/tools/common/Target.cs#L747

However, marshal-ilgen was [recently made into a component](https://github.com/dotnet/runtime/pull/71203), which looks like made this symbol private in libmo

[2022-08-26 06:41] rolfbjarne commented on #74628
CC @naricc @steveisok @akoeplinger

[2022-08-26 06:53] rzikm commented on #72619
I believe the answer is no

[2022-08-26 07:01] wfurt opened #74629 "HttpClient creates Quic threads even if HTTP/3 is not in use"
1. Create simple console app with HTTP and run simple http1.1 request  on Windows 11 or Server 22.
2. look at application threads.

![image](https://user-images.githubusercontent.com/14356188/186841698-87e4f329-335e-4fa2-971f-28d8f92a7bcd.png)

Application crates 2x threads per core even if HTTP/3 and Quic are not in used. This was originally reported on legacy system with 54 cores. That will crea

[2022-08-26 07:05] AntonLapounov commented on #74555
I have looked at the dump; this is an OutOfMemoryException.
[code]

[2022-08-26 07:35] rzikm commented on #74629
I think we can simply try opening and closing the API registration, and then lazily reopen it when we actually intend to use it.

[2022-08-26 07:38] rzikm commented on #72830
@wfurt I found out that you need to specifically filter for 134 and 139 exit codes to get true process crashes

[2022-08-26 07:44] wfurt commented on #72830
ok. I updated my query. My original one was based on the `runfo` issues. So far so good.

[2022-08-26 07:58] v-wenyuxu opened #74631 "Test failure GC\\API\\GC\\GetTotalPauseDuration\\GetTotalPauseDuration.cmd"
Run: [runtime-coreclr outerloop 20220825.6](https://dev.azure.com/dnceng/public/_build/results?buildId=1968348&view=ms.vss-test-web.build-test-results-tab&runId=50474432&resultId=106147&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-08-26 08:02] v-wenyuxu opened #74632 "Test failure JIT\\Regression\\VS-ia64-JIT\\V1.2-M02\\b28158\\b28158_64\\b28158_64.cmd"
Run: [runtime-coreclr outerloop 20220825.6](https://dev.azure.com/dnceng/public/_build/results?buildId=1968348&view=ms.vss-test-web.build-test-results-tab&runId=50474244&resultId=105755&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-08-26 08:14] ante-maric opened #74633 "ReadOnlyDictionary Values and Keys collections are out of sync with KeyValuePairs"
### Description

When underlying dictionary passed to a constructor of ReadOnlyDictionary is ConcurrentDictionary, all KeyValuePairs that are added to the ConcurrentDictionary after ReadOnlyDictionary is created are not visible through ReadOnlyDictionary.Values and ReadOnlyDictionary.Keys collection. However, ReadOnlyDictionary indexer and ContainsKey work correctly.

All of this is not a problem

[2022-08-26 08:21] mnmr commented on #46132
Seeing that this issue is still open, I have an additional concern that I'd like you to consider when tackling this.

Orleans is using ActivatorUtilities to create objects, but would prefer to have internalized attributes so that they can follow a consistent naming scheme (for ease of discovery). That is, we'd like to be able to define an OrleansConstructorAttribute and then somehow tell Activator

[2022-08-26 08:26] rzikm commented on #73688
The issue is race when using e.g. `CancellationTokenSource.CancelAfter`, it can be reproduced with an added help:

[code]

And following test

[code]

This produces:

[code]

While https://github.com/dotnet/runtime/pull/74611 would help a bit by not passing invalid handle to MsQuic, we would get `ObjectDisposedException` instead. I think at this point the best course of action is to simply swallow

[2022-08-26 08:40] ViktorHofer commented on #74604
https://github.com/dotnet/runtime/pull/74157 will update the assembly versions to 8.0.0.0. I expect that change to go in soon. It sounds like that won't help you in this case as you control these versions yourself and don't import the repo infrastructure.

This broke because the testhost folder path contains the `$(ProductVersion)` which got changed from 7.0.0 to 8.0.0. So changing your hardcoded

[2022-08-26 08:42] karelz commented on #73343
Fixed in main (8.0) in PR #74554 and in 7.0 (RC2) in PR #74600

[2022-08-26 08:50] CarnaViire commented on #73688
What I don't like about the current cancellation pattern, is that we first finish the task with OCE and only later call abort. If this would not be the case (abort called before finishing the task), then you would not get this race in the code from your example:

[code]
Because abort would be already done when you call DisposeAsync.

The example was about reads, but race with cancelling writes mig

[2022-08-26 09:02] rzikm commented on #73688
Doing it in the reverse order would expose us to a different race (set OCE vs. set real result). We would have to change the implementation of `ResettableValueTaskSource` and move the call to `CancellationAction` inside the lock in `TryComplete`, thoughts, @ManickaP?

[2022-08-26 09:14] CarnaViire commented on #73688
Yep, I know, just reverting the order is not enough, the change would be extremely tricky, there's also a thing that we don't want to lose OCE, and just calling Abort would result in a different exception being set. That's why I'm not suggesting changing that now, merely highlighting that I believe there's a problem and we might want to explore potential solutions.

[2022-08-26 09:28] MichalStrehovsky opened #74635 "Side effects of boxing are getting removed"
Debug build of this works. Release build (with tiered compilation off) throws an exception because we transformed the whole body into a throw. Reproed this with Preview 7.

[code]

As an additional task for myself, I need to figure out why we don't see it in the CI since this is literally a NativeAOT test that we run on every CoreCLR checkin and I can also repro it with NativeAOT when compiling th

[2022-08-26 09:48] #74569 closed

[2022-08-26 10:13] karelz opened #74640 "firefox-DebuggerTests - TaskCanceledException in random tests"
7/27-8/28 -- see [last 30 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A~30+definition%3Aruntime-extra-platforms+name%3A%22firefox-debuggertests+work+item%22) - mostly TaskCanceledException:

Platform: net7.0-Browser-Release-wasm-Mono_firefox_Release-WasmDebuggerTests-(Ubuntu.1804.Amd64)Ubuntu.1804.Amd64.Open

Day | Run | Details
-- | -- | --
8/27 | **Rolling run** [1972127](http

[2022-08-26 10:13] karelz commented on #74640
Happens once per 2 days, marking as blocking-clean-ci.

[2022-08-26 10:15] simonrozsival commented on #74576
I've done some further testing on emulators with various API levels and encrypted SMTP consistently worked on API levels 28 and newer and failed on 26 and lower. For some reason emulator with API 27 didn't work on my PC today so I couldn't test it.

I'm not sure what exactly the problem is, but it seems that the problem is support on lower API levels and not emulator vs. device or firewall setting

[2022-08-26 10:25] janseris commented on #74576
@simonrozsival this exactly matches API levels with issues with SSL when connecting to SQL Server. It works for Android 9+ which is API 28+ and fails for all lower versions.

[2022-08-26 10:25] janseris commented on #74576
What Android version?

[2022-08-26 10:31] tsjdev-apps commented on #74576
I've tested with Android 11 and Android 12.

[2022-08-26 10:39] iSazonov commented on #74568
SocketsHttpHandler return NetworkStream instance
https://github.com/dotnet/runtime/blob/e71a9583b4d6c9bd97edd87cda7f98f232f63530/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs#L1588

[NetworkStream docs](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.networkstream.readtimeout?view=net-6.0) says about ReadTimeout(WriteTimeout):

I think it

[2022-08-26 10:42] janseris commented on #74576
Could you test Android 8.1 or lower?

[2022-08-26 10:52] stephentoub commented on #74568
No, it doesn't.

[2022-08-26 10:52] dtaylorus opened #74642 "IsolatedStorageFile.GetUserStoreForApplication path changes between Xamarin.iOS and .NET 6 builds on iOS"
### Description

The path of a file created by IsolatedStorageFile.GetUserStoreForApplication() changes between Xamarin.iOS and .NET 6, and also changes between different builds of the application under .NET 6.

This makes IsolatedStorageFile unusable in .NET 6 since an updated build cannot open a file created by a previous build. Each time the build is updated, all of the files previously created

[2022-08-26 10:58] iSazonov commented on #74568
Oh, then I don't understand why NetworkStream/Socket is not throw on timeout. Is this expected or bug?

[2022-08-26 11:00] stephentoub commented on #74568
I don't understand the question. ReadTimeout/WriteTimeout does not apply to asynchronous operations so the async operations don't timeout in response to them. Read/WriteAsync are cancelable via the token passed in.

[2022-08-26 11:11] iSazonov commented on #74568
If I understand correctly socket pinvoke read operation return a timeout error code in the Issue scenario
I guess for Windows it is [WSAETIMEDOUT](https://docs.microsoft.com/en-us/windows/desktop/WinSock/windows-sockets-error-codes-2)
So if it is not Success I'd expect an exception.

[2022-08-26 11:15] karelz commented on #70981
Not blocking clean CI anymore, the tests were disabled - removing the label.

[2022-08-26 11:24] stephentoub commented on #74568
For sync operations, not async operations. You said the timeout applies to ReadAsync/WriteAsync as well, and I said it doesnt. It doesn't apply at the .NET level nor on Windows level with overlapped I/O.

[2022-08-26 11:25] tsjdev-apps commented on #74576
Unfortunately I don't have access to an Android device running Android 8.1 or lower.

[2022-08-26 11:26] stephentoub commented on #74568
Note that PowerShell can implement timeouts via cancellation per read/write operation just as well as SocketsHttpHandler could internally.

[2022-08-26 11:30] svick commented on #74633
This is not really about `ReadOnlyDictionary`, but about the behavior of `ConcurrentDictionary.Values` (and `Keys`):

[code]

This happens because accessing `Values` creates a snapshot of the dictionary (and `ReadOnlyDictionary` only accesses `Values` of the wrapped dictionary once).

I suspect that this is an intentional design decision that's not going to change. But at least it [should be docum

[2022-08-26 11:36] #50878 closed

[2022-08-26 11:38] ante-maric commented on #74633
Since accessing the Values only once is the behavior of `ReadOnlyDictionary`, I would argue this is about `ReadOnlyDictionary`. You can't observe this issue with `ConcurrentDictionary` alone. But we could agree it's potato-potato. What I would suggest that warning should be part of `ReadOnlyDictionary` documentation and adding the same to `ConcurrentDictionary` documentation would be a bonus, maxi

[2022-08-26 11:42] Joe4evr commented on #74569
In addition to this, we now have a record that a malicious actor can *use an anti-tamper driver as an attack vector:* https://www.trendmicro.com/en_us/research/22/h/ransomware-actor-abuses-genshin-impact-anti-cheat-driver-to-kill-antivirus.html

The thing that businesses spend millions (if not billions) of dollars on (in futility, IMO) to prevent end-users from tampering with software is what allo

[2022-08-26 11:45] iSazonov commented on #74568
In PowerShell I migrate to SocketHttpHandler and implement callback as in HttpWebRequest.cs metioned above. Only I set ReceiveTimeout and SendTimeout for socket in async branch. I see in debbuger the socket is closed if network fails (I hope it is not debugger side effect) but CopyToAsync() is still blocked on copyTask.Wait().
The PowerShell code (without my additions for sockets)
https://github.c

[2022-08-26 11:58] ManickaP commented on #73688
You cannot abort before setting OCE, you could end up with a different exception (undeterministically) than expected OCE, breaking the stream conformance tests thus an expected stream behavior. And as far as I understand we didn't abort at all in 6.0.
Also we have an open issue to consider making cancellation "soft": https://github.com/dotnet/runtime/issues/72607 so we can discuss cancellation beh

[2022-08-26 12:00] ManickaP commented on #73688
That could work, it would be ugly as hell though :rofl:

[2022-08-26 12:00] eiriktsarpalis commented on #74633
Generally speaking, most `IDictionary.Keys`/`Values` collection implementations are kept in sync with their parent dictionary, so I suspect this is more an issue of `ConcurrentDictionary` being special rather than `ReadOnlyDictionary` requiring documentation.

[2022-08-26 12:00] rzikm commented on #73688
That is something that is possible to fix (e.g. having internal overload of Abort which takes an exception to use) 😈

[2022-08-26 12:06] eiriktsarpalis commented on #74557
Related to #68353.

[2022-08-26 12:06] ManickaP commented on #73688
The thing with setting up oce and than aborting is that you set up 2 exceptions in a row, since you want to return OCE first and for all following calls to return StreamAborted (or whatever). And that's a thing that ResettableValueTaskSource is made to do. So moving this logic outside defeats the purpose and it can all be redone in a different way.

[2022-08-26 12:14] En3Tho commented on #61412
This can be closed @EgorBo

[2022-08-26 12:40] stephentoub commented on #74568
And in the debugger you see that the cancellation token passed to both CopyToAsync and Wait has had cancellation requested?

[2022-08-26 12:46] roji commented on #74120
Submitted #74648 (7.0 backport PR #74649) to add test resiliency against communication failures with the MSDTC (CI flakiness).

[2022-08-26 12:51] eiriktsarpalis commented on #74442
Looking at that commit range, #73481 appears to stand out since single-line comment parsing is implemented using `IndexOfAny`:

https://github.com/dotnet/runtime/blob/7aef48a531e814bb8e8e0f6e060b100b51b27c80/src/libraries/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs#L2376-L2381

cc @adamsitnik

[2022-08-26 12:52] kekekeks commented on #74307
Another use case:

My [COM interop bindings](https://github.com/kekekeks/MicroCom) generate COM interfaces as normal .NET interfaces.

e. g.
[code]

becomes
[code]

Interop is handled by separate generated classes `__MicroComIFooProxy` (implements the managed interface and forwards calls to native function pointers) and `__MicroComIFooVTable` (builds a CCW vtable).

Both are registered by the modu

[2022-08-26 13:38] jkotas commented on #74307
CsWinRT solved this problem by linking the interop helper types via custom attributes: https://github.com/microsoft/CsWinRT/pull/1224

[2022-08-26 13:39] lambdageek commented on #74628
`mono_marshal_ilgen_init` is not defined in `libmonosgen-2.0.dylib` at all. it's defined in the marshaling component now.

@naricc we need to put it back in `libmonosgen`.  (I suggest making a new symbol for the function in the component API - or better yet call it internally in mono through the ilgen component interface)

[2022-08-26 13:56] dtaylorus commented on #74642
It looks like the original Xamarin.iOS file location was:

[code]

[2022-08-26 14:01] #50870 closed

[2022-08-26 14:10] kekekeks commented on #74307
I believe such custom attributes require reflection access. MicroCom aims to work with IlcDisableReflection=True

[2022-08-26 14:16] naricc commented on #74628
Working on a fix now.

[2022-08-26 14:17] teo-tsirpanis commented on #74307
No, the attributes would be accessed at the time of the source generation, not at runtime.

[2022-08-26 14:36] adamsitnik commented on #74442
It could. `Span.IndexOfAnyThreeValues` has not regressed on arm64 during this period:

https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_arm64_ubuntu%2018.04%2fSystem.Memory.Span(Byte).IndexOfAnyThreeValues(Size%3a%20512).html

![image](https://user-images.githubusercontent.com/6011991/186927330-d11faa93-fdd3-4aea-aaa7-0e9028b8019b.png)

But this benchmark use

[2022-08-26 14:37] radical commented on #74640
These tests are in runtime-extra-platforms now, so shouldn't be blocking clean ci, IIUC.

[2022-08-26 14:48] austindrenski opened #74652 "Using `StringValues` with `JsonSerializerContext` produces warnings with `7.0.0-preview*`"
### Description

`JsonSerializerContext` produces warnings when models contain `StringValues` due to nullable annotation mismatch.

### Reproduction Steps

[code]

[code]

[code]

### Expected behavior

Using `StringValues` in conjunction with `JsonSerializerContext` does not produce warnings.

### Actual behavior

Using `StringValues` in conjunction with `JsonSerializerContext` produces warnings.

[2022-08-26 14:49] karelz commented on #72830
Not blocking CI as the test was disabled in #73452

[2022-08-26 14:56] karelz commented on #71475
Does not seem to be happening lately, removing blocking-clean-ci label

[2022-08-26 15:01] eerhardt commented on #46132
@mnmr - that is a new scenario, not what this issue is tracking. Please open a new API proposal issue for your scenario.

[2022-08-26 15:02] antonfirsov commented on #74604
@ViktorHofer attached my binlogs:
[binlogs.zip](https://github.com/dotnet/runtime/files/9434151/binlogs.zip)

I created the current solution based on the recommendation in https://github.com/dotnet/runtime/issues/60769#issuecomment-951332931, using `targetingpacks.targets` as a minimal dependency from the eng infra. If you have specific recommendations, I can try to pull in more bits of that infra

[2022-08-26 15:03] iSazonov commented on #74568
The cancellation token works well if PowerShell user press Ctrl-C.
In experiment I do the cancellation token is not involved.

It is .Net 7.0 Preview.3
It is ContentLegthReadStream -> SslStream -> NetworkStream

Repro steps (there was an error in my previous post, sorry):
1. Start PowerShell cmdlet
2. PowerShell show progress bar is updated.
3. Disconnect network
4. Progress bar looks like freeze

[2022-08-26 15:06] stephentoub commented on #74568
It should be. If PowerShell wants to time out the operation, it has the ability to do so via the token.

[2022-08-26 15:07] mariusz96 opened #74653 "[API Proposal]: FormattableStringBuilder"
### Background and motivation

Recently I run into a legacy web api (who hasn't had one of these?) that constructs injection-vulnerable sql as plain strings.

After some looking around I found in ef core documentation that I can use `FormattableString` to parametrize this.

And it turned out that `ConcreteFormattableString` is just a simple class with a `string` and an `object[]` in it and gets us

[2022-08-26 15:08] antonfirsov commented on #74604
@wfurt we don't as far as I'm aware, and I don't see how could a dotnet-8 feed feed help us. We only use 3rd party packages which should be forward-compatible with .NET 8.0.

https://github.com/dotnet/runtime/blob/536f34d9ab88e153aa11329e789afe6975fbe9a9/src/libraries/System.Net.Http/tests/StressTests/HttpStress/HttpStress.csproj#L10-L17

[2022-08-26 15:11] lambdageek opened #74654 "[wasm-mt] Issues with enabling threads in .NET 7 RC 1"
Using the `wasm-experimental` workload it shoudl be possible to create multi-threaded `wasmbrowser` projects in .NET 7 RC1

Issues:

- [x] First group - fixed on `main` by https://github.com/dotnet/runtime/pull/75162 and on `release/7.0` by https://github.com/dotnet/runtime/pull/75171
   - `WasmGenerateAppBundle` doesn't create multi-threaded builds with `WasmEnableThreads` - only `WasmBuildNative

[2022-08-26 15:11] lambdageek commented on #74654
@lewing @steveisok @radical

[2022-08-26 15:14] mnmr opened #74655 "Proposal: Allow alternate names for ActivatorUtilityConstructorAttribute"
Orleans is using ActivatorUtilities to recreate serialized objects, but would prefer to have internalized attributes so that they can follow a consistent naming scheme (for ease of discovery).

It would therefore be useful with a mechanism that allows Orleans to tell ActivatorUtilities that its OrleansConstructorAttribute corresponds to the ActivatorUtilitiesConstructorAttribute.

To support this,

[2022-08-26 15:15] iSazonov commented on #74568
I don't understand what timeout you mean. The scenario is about network disaster. If network is disconnected read operation should return an I/O error on the socket unexpected closing and the task should throw an exception.

[2022-08-26 15:17] lambdageek commented on #74654
@radekdoulik @lewing I guess our biggest problem is going to be

because that runs up against the nuget size limit?

[2022-08-26 15:18] radical commented on #74654
I can take care of the rest.

[2022-08-26 15:20] stephentoub commented on #74568
You were saying you wanted to be able to set a read/write timeout. I'm telling you how.

If your concern is the socket connection failing at the OS level or below, it's up to the OS to tell us that. It will eventually, but it can take many seconds or even minutes depending on the OS and its configuration. There's nothing short of cancellation/timeout to be done about that at the .NET level.

[2022-08-26 15:28] iSazonov commented on #74568
I may not have been accurate, sorry, but it's not about read/write timeout operations, it's about timeout on the socket level itself and this timeout works - OS close the socket after network disaster and .Net see this. A problem is that NetworkStream continue think that the socket lives and copy task is _never_ completed.

[2022-08-26 15:30] stephentoub commented on #74568
That is an OS issue. If the OS isn't reporting that the connection has aborted, there's nothing NetworkStream/Socket can do about that other than user-initiated timeout/cancellation.

[2022-08-26 15:32] AntonLapounov commented on #74541
+@Maoni0 regarding `"should not happen for regions!"`.  Please see `corerun.exe.6684.dmp`.

[2022-08-26 15:33] lambdageek commented on #74654
Maybe for net7 RC2 we can focus on `WasmGenerateAppBundle`+`WasmEnableThreads` as the "golden path" - that way we don't have to put the `*-mt.a` libs back in the Emscripten nuget.  Anyone who wants to P/Invoke native code will be broken, but simple experiments with threading will work.

for net7 RTM we probably should have the `*-mt.a` stuff back in the Emscripten nuget, but if that's hard, maybe

[2022-08-26 15:43] stephentoub commented on #74568
What member specifically are you looking at that says "Closed"?

[2022-08-26 15:48] lambdageek commented on #74628
@rolfbjarne Can you try this:

https://github.com/xamarin/xamarin-macios/blob/c55fbdfef95028ba03d0f7a35aebca03bd76f852/tools/common/Target.cs#L772

[code]

I think `mono_marshal_ilgen_init` will get called on-demand now the first time marshaling is needed...

[2022-08-26 15:48] svick commented on #74655
I *think* that an attribute that inherits from `ActivatorUtilitiesConstructorAttribute` should also work. Does that help your use case?

[2022-08-26 15:48] iSazonov commented on #74568
Connected (on srceenshot network is in up state, if network is in down state this has False value after ~1min)
![image](https://user-images.githubusercontent.com/22290914/186943591-d1e79101-93cd-4598-93de-b166a6f64d0d.png)

[2022-08-26 15:49] Clockwork-Muse commented on #74653
This proposal does not solve your problem - **THIS IS STILL VULNERABLE TO SQL INJECTION**.

You **ABSOLUTELY MUST** [follow the guidance on this page](https://docs.microsoft.com/en-us/ef/core/querying/raw-sql#passing-parameters):

To be more clear, your proposal provides a general string formatter that has no way to know that parameters need to be escaped, so will still allow for SQL Injection.  A

[2022-08-26 15:58] iSazonov commented on #74568
I think that if the OS has closed the socket, no doubt ReadAsync task should end - it has nothing to do over a closed socket.
Since OS can not know the reason for closing the socket, an exception cannot be generated unless the connection is closed by timeout.
I think in any case it is ContentLegthReadStream to know if full content is read and generate an exception if not and I guess it does this.

[2022-08-26 16:07] iSazonov commented on #74568
Maybe problem in the method https://source.dot.net/#System.Net.Http/System/Net/Http/SocketsHttpHandler/HttpConnection.cs,1719
Comment says "Throws IOException on EOF.  This is only called when we expect more data." but it is not throw if network is disconnected.

[2022-08-26 16:08] karelz commented on #74640
runtime-extra-platform is run in Rolling runs and sometimes kicked off by devs on PRs, so it does impact CI :(

[2022-08-26 16:11] Mustafalb opened #74659 "SqliteException: SQLite Error 1: 'no such table: Movie'"
When I tried to access the website using https://localhost:7281/movies
and this the line of code that caused the error: Movie = await _context.Movie.ToListAsync();

[2022-08-26 16:17] mrsharm commented on #74541
Thanks, @AntonLapounov! Was taking a look at the dump a bit back and unfortunately some of the important stress log messages are not enabled for these Jit stress tests; these messages could have given us some indication about a hypothesized condition that's causing this assertion i.e. an OOM that's causing the assertion failure.

The pertinent code is the following that indicates that ``next_seg``

[2022-08-26 16:21] Clockwork-Muse commented on #74659
There's nowhere near enough detail for us to reproduce this problem.  We need a minimal (otherwise) working example.

[2022-08-26 16:23] naricc commented on #74628
I believe I have a fix for this (https://github.com/dotnet/runtime/pull/74658). I am working on testing it against xamarin-macios to verify it works. I am not exactly sure how to take xamarin-macios and use it against a runtime I just built locally though. Figuring that out.

[2022-08-26 16:23] matouskozak opened #74661 "Clang LLVM emitting float instrinsics for bitwise operation for every input"
### Description

Clang compiler is emitting float instruction for all bitwise operations both for floating point numbers and integers.

### Reproduction Steps

BuildMono HelloWorld project and run it under LLVM while calling Vector128 intrinsics e.g.:

`var vectorA = Vector128.Create<int>(0);
 var vectorB = Vector128.Create<int>(0);
 Vector128.BitwiseAnd(vectorA, vectorB);
`

Generates `vandps %xm

[2022-08-26 16:24] lewing commented on #74628
@thaystg can help you out

[2022-08-26 16:28] eiriktsarpalis commented on #74652
Related to #61734.

[2022-08-26 16:30] rolfbjarne commented on #74628
@lambdageek Seems to work:

[code]

And this code works:

[code]

[2022-08-26 16:30] iSazonov commented on #74568
NetworkStream doen't overload ReadAsync() method but SslStream does. May issue is in SslStream...

[2022-08-26 16:31] rolfbjarne commented on #74628
I've created a PR with this change: https://github.com/xamarin/xamarin-macios/pull/15788, let's see how it goes on the bots.

[2022-08-26 16:32] Mustafalb commented on #74659
This the link for the file
https://drive.google.com/file/d/1qojd9MfRprpPgR0ASMR_KlOWbRs_P8DI/view?usp=sharing

[2022-08-26 16:32] filipnavara commented on #74628
The on-demand initialization may have race conditions (https://github.com/dotnet/runtime/issues/74603)

[2022-08-26 16:35] 0xced opened #74662 "UriBuilder should percent-encode its UserName or Password properties"
### Description

Constructing a URI with the [UriBuilder ](docs.microsoft.com/en-us/dotnet/api/system.uribuilder) class should produce valid URIs when setting valid `UserName` and/or `Password` properties. Instead, an `UriFormatException`  is thrown if the user name or password contains a character that should be percent-encoded.

It should be the responsibility of the UriBuilder to properly perce

[2022-08-26 16:35] karelz commented on #73038
Not blocking-clean-ci as it did not happen for 2+ weeks.

[2022-08-26 16:40] karelz commented on #73405
Didn't happen for 2 weeks, removing blocking-clean-ci label

[2022-08-26 16:43] karelz commented on #73646
Looks like it happened only 2x in last month - 8/15 and 8/19.

[2022-08-26 16:44] karelz commented on #74179
Tests are disabled, removing blocking-clean-ci label

[2022-08-26 16:56] sajjadarashhh opened #74664 "IDBFS is Not defined"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

i've been use IDBFS File system module to use sqlite in blazor wasm .net 7 preview 7
but IDBFS is not defined in release mode.
also i've add : `<EmccExtraLDFlags>-lidbfs.js</EmccExtraLDFlags>`
to my .csproject file

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

[2022-08-26 16:58] mariusz96 commented on #74653
Yes, I meant it more like a general tool, but that's just the example use case I found - just like StringBuilder but for `FormattableString` class.

So for example this overload:
[code]
accepts `FormattableString` which [to my understanding is just a format string + object array](https://github.com/dotnet/runtime/blob/v6.0.8/src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/

[2022-08-26 17:01] mangod9 commented on #74632
hi @davidwrighton, could you please take a look at this? Looks to be blocking outerloop.

[2022-08-26 17:17] eiriktsarpalis commented on #74442
I've been able to isolate the performance regression to https://github.com/dotnet/runtime/pull/73481 locally:

|                       Method |        Job |                                                                                      Toolchain | CommentHandling | SegmentSize |        TestCase |        Mean |    Error |   StdDev |      Median |         Min |         Max | Ratio | MannWhitne

[2022-08-26 17:23] MrMontana1889 commented on #42187
Is there an update on this issue?

I am in the process of testing the migration of one the products I develop and it uses TLS in a mixed-mode C++ project. The TLS code (__declspec(thread)) is in a statically linked C++ library (non-managed) but is accessed from managed C++/CLI (code is now CLI as it was old syntax but the migration was required to target .NET Core 3.1).

The exact same code works

[2022-08-26 17:44] onurkanbakirci commented on #74659
Hi @Mustafalb . I think that this repo is not suitable for your question nevertheless i looked your codes. The codes looks like good but `.db` file is empty. You added migrations but possibly you forgot to apply migrations to db. By the way, if there is no table named `movie`, program will throw an exception such like you mentioned.

[2022-08-26 17:48] eiriktsarpalis commented on #74442
Profiling indicates that most time is spent in `SpanHelpers.IndexOfAny`: [profiledata.speedscope.zip](https://github.com/dotnet/runtime/files/9435294/profiledata.speedscope.zip)

[2022-08-26 17:52] steveisok opened #74667 "Mono crash in System.Net.Requests tests on linux-arm64"
It appears that there is some trouble trying to reap child processes and that leads to a crash.  Could it be possible we are timing out waiting for a request to finish?

Example [log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-74647-merge-f2fe4ed3cca9493d9b/System.Net.Requests.Tests/1/console.16727ac6.log?helixlogtype=result)

[code]

Lot of other threads are w

[2022-08-26 17:57] Clockwork-Muse commented on #74653
... I'm sorry, I misunderstood what the base type you were using was/how it was handling strings.

You are correct, this would work as you want, and would be **extremely** useful in dynamic SQL scenarios.  Although note that at least some providers support composing raw query with LINQ operators, so may not require the entire query to be written raw.

The one caveat is that it may make it more lik

[2022-08-26 18:13] naricc commented on #74628
The fix was having some issues on wasm, I think I may have resolved them, still testing.

[2022-08-26 18:14] AntonLapounov commented on #74631
@cshung Please take a look.

[2022-08-26 18:27] wfurt commented on #72830
I font understand the comment @karelz. The suspected test was enabled again in https://github.com/dotnet/runtime/pull/74545 I did not see occurrences since. (still may come)

[2022-08-26 18:29] AndyAyersMS commented on #12098
Seems like this will largely be addressed by #74384

[2022-08-26 18:38] AndyAyersMS opened #74671 "[JIT] Assertion Prop Issues and Ideas"
Tracking issue for work and ideas about Assertion Prop.

### Recent work

Not a complete list -- will fill this out over time.

* https://github.com/dotnet/runtime/pull/74384
* https://github.com/dotnet/runtime/pull/72700
* https://github.com/dotnet/runtime/pull/73142
* https://github.com/dotnet/runtime/pull/70378

### Existing open issues

Not a complete list -- will fill this out over time. Also

[2022-08-26 18:39] AndyAyersMS commented on #74671
FYI @dotnet/jit-contrib. Probably lots to add here...

[2022-08-26 18:45] SingleAccretion commented on #32248
Zero-offset sequences have been deleted in #71455, making this issue obsolete.

[2022-08-26 18:45] #32248 closed

[2022-08-26 18:47] karelz commented on #72830
Sure, but right now it is not blocking CI

[2022-08-26 18:54] ManickaP commented on #72619
That's what happens internally in msquic, we do not prevent the call though. But if `CompleteWrites` arrives after `Abort` it won't do anything.

And I don't think it's even in `QuicStream` ability to prevent this race. If there's possibility of having `CompleteWrites` or `WriteAsync(completeWrites: true)` run in parallel with `Abort`, no amount of locking in `QuicStream` will make 100% sure that

[2022-08-26 18:54] SingleAccretion commented on #74671
The primary benefit of running assertion propagation after CSE is the ability to take advantage of the refined conservative VNs.

[2022-08-26 19:05] SingleAccretion commented on #4659
In .NET 8 (and 7) the code for both loops is identical.

VN-based constant propagation for small-typed locals in particular was enabled in #57726.

[2022-08-26 19:05] #4659 closed

[2022-08-26 19:19] mnmr commented on #74655
It does indeed, thank you. I can confirm that the code seems to use `ConstructorInfo.IsDefined` to check for the attribute, and it isn't sealed, so this should already work - nice!

Apologies for not checking this before creating an issue.

[2022-08-26 19:20] #74655 closed

[2022-08-26 19:20] Const-me commented on #74418
@wfurt nobrl changed nothing.

I don't have trace, but here's interesting lines from the end of the log made by `strace` tool.

[code]

As you see, the runtime didn’t even bother to read the content of any files. It failed because it didn’t like something in the result of the `stat64()` system call.

Here's a few bits of information which might help.

`stat HelloWorld.deps.json` in a mounted folde

[2022-08-26 19:21] RobSiklos opened #74676 "Regression: Items are not being evicted from MemoryCache in .NET 6"
### Description

This works in .NET Framework, but in .NET 6, I'm seeing an issue where items added to a `MemoryCache` are not evicted based on the cache memory limit.

Likely related, no matter how much I add to the cache, `MemoryCache.GetLastSize()` always returns `0` in .NET 6.

### Reproduction Steps

Run the code below, and notice that items are never evicted from the cache, and that the resu

[2022-08-26 19:27] jscarle opened #74677 "Process.StandardOutput.Peek() hangs when StandardOutput contains no data."
### Description

When a process is launched using `System.Diagnostics.Process.Start` which has `RedirectStandardOutput` set to `true` and `Process.StandardOutput.Peek()` is called before any output is returned (or because there is no output), then the method will hang instead of returning `-1`.

### Reproduction Steps

Launch and redirect standard output using an executable which does not immediat

[2022-08-26 19:27] directhex commented on #74175
Removing windows-arm64 cross-compilers from scope for this issue. Right now we can't even build a basic JIT for windows-arm64, and trying to fix that is a distinct issue from trying to build cross-compilers there.

[2022-08-26 19:28] romansp opened #75613 "`wasm-tools` workload isn't supported on `arm64` version of Docker"
### Describe the bug
`wasm-tools` workload cannot be installed using default SDK base image on `arm64` version of Docker.

Default SDK image resolves to `debian.11-arm64` runtime here. Current workaround is to force `amd64` base image on M1 Mac, e.g. use `mcr.microsoft.com/dotnet/sdk:6.0-bullseye-slim-amd64` as base which isn't ideal.

Switching to 7.0 SDK preview doesn't help either.

What made i

[2022-08-26 19:30] wfurt commented on #74418
The host logs
[code]
that comes from the `stat`. @vitek-karas  would probably know why we are looking for the policy.

You an try to set
[code]
This is not area of my expertise. I was mostly trying to see if there is anything fishy at the OS level.

[2022-08-26 19:32] AndyAyersMS commented on #74671
Ah. you'd think I would have remembered https://github.com/dotnet/runtime/issues/45658. At any rate we don't actually have to do the CSE up front, just know that it is possible. For instance, we could recognize CSE candidates but defer optimizing and then see which CSEs AP benefits from before we figure out which ones we should (or now, have to) do.

We already have `GTF_MAKE_CSE` for the interact

[2022-08-26 19:35] #73930 closed

[2022-08-26 19:43] VSadov opened #74678 "[NativeAOT] Lock up at process shutdown on Windows when process has many threads"
The lock up is more likely to happen with ServerGC configuration on a manycore machine.

The reason seems to be that at some stage of the process shutdown all threads except the main one get terminated regardless of what they do. With large number of attached threads (BGC threads are attached), it becomes fairly likely that one will be terminated while holding TSL spinlock.

Subsequently, when it

[2022-08-26 19:47] directhex commented on #74175
| Build machine | Cross-compiler target | Executing machine | Status |
| --- | --- | --- | --- |
| linux-x64 | browser-wasm | linux-arm64 | ☑ In PR
| linux-x64 | android-x64 | linux-arm64 | ❌ Does not build
| linux-x64 | android-arm64 | linux-arm64 | ⚠ Builds, disabled in PR
| linux-x64 | android-x86 | linux-arm64 | ❌ Does not build
| linux-x64 | android-arm | linux-arm64 | ⚠ Builds, disabled in P

[2022-08-26 19:48] naricc commented on #74628
It seems like we are going to have to revert moving marshal-ilgen into a component. That means this change will have to be reverted in xamarin-ios: https://github.com/xamarin/xamarin-macios/pull/15657/commits/4bd22e3144aa17f9c8596f64cdf6659a754164d2 @rolfbjarne

[2022-08-26 19:59] naricc commented on #74628
This one for xamarin-android will also need reverting: https://github.com/xamarin/xamarin-android/pull/7260 @jonathanpeppers

[2022-08-26 20:01] jscarle commented on #74677
This issue seems to be related to the same StandardOutput stream problems: https://github.com/dotnet/runtime/issues/28583

[2022-08-26 20:08] AndyAyersMS commented on #64626
@krwq in the profiles above are the two runs measuring the same amount of work (that is, same values for `iterationCount` and `invocationCount` ?

And, were you filtering the profile to just the actual stages?

Assuming so, it does not look like a codegen issue, the jit-generated code is actually a good deal faster.

[2022-08-26 20:18] VSadov opened #74680 "[NativeAOT] Need to add support on Unix for recursive Crst"
Concurrent GC uses recursive Crst and does rely on reentrancy when scanning handles asynchronously.

NativeAOT ignores the `CRST_REENTRANCY` and just uses the default for the given platform. On Unix the pthread default is not recursive, thus BGC occasionally deadlocks.

We should propagate the `CRST_REENTRANCY` to the mutex initialization.

[2022-08-26 20:24] austindrenski commented on #74652
@eiriktsarpalis I agree this isn't an STJ regression in .NET 7 (traces back to #55566 which shipped with .NET 6), but I _was_ surprised to run into it using a combination of `System.Text.Json` + `Microsoft.Extensions.Primitives` (i.e. no shade, just the same repo, so had assumed there would have been a test case somewhere).

But since it looks like it impacts _any_ `IList<TElement?>`, would it mee

[2022-08-26 20:33] trylek opened #74681 "[Quality Week] Improve quality of Crossgen2 testing, most notably in context of library tests"
Over the course of 2 years since we shipped the first preview of Crossgen2 we have identified several testing gaps that bit us in various phases of development. We would like to at least create an action plan how to address them and ideally implement at least part of the work in context of the Core Runtime team Quality Weeks.

**The problem**

* Library testing in the runtime repo doesn't target C

[2022-08-26 20:38] trylek commented on #74681
/cc @dotnet/crossgen-contrib, @davidwrighton, @AntonLapounov, @jkotas, @jkoritzinsky, @ViktorHofer, @danmoseley, @stephentoub, @agocke. Just for visibility I'm also /cc-ing @SamMonoRT even though at this point I'm not aware of any particular Mono impact of this work.

[2022-08-26 20:41] eiriktsarpalis commented on #74652
Honestly,  I don't think this would meet the bar for a .NET 7 fix at this stage. Realistically the only safe intervention might be to introduce a `#nullable disable warnings` declaration in all source generated files cc @layomia @krwq

[2022-08-26 20:43] tannergooding commented on #27912
@GrabYourPitchforks is this something we can drive to completion for .NET 8? It's been approved for a while now.

[2022-08-26 20:52] jkotas commented on #73405
This was likely fixed as part of https://github.com/dotnet/runtime/issues/73405#issuecomment-1206151902

[2022-08-26 20:52] #73405 closed

[2022-08-26 20:52] #73433 closed

[2022-08-26 20:53] jkotas commented on #73433
Likely fixed as part of https://github.com/dotnet/runtime/issues/73405#issuecomment-1206151902

[2022-08-26 20:53] jkotas commented on #73038
Likely fixed as part of https://github.com/dotnet/runtime/issues/73405#issuecomment-1206151902

[2022-08-26 20:53] #73038 closed

[2022-08-26 20:55] tannergooding commented on #73026
.NET 6 already exposes `Parse`, `TryParse`, and `TryFormat` APIs on the various numeric primitives that support hexadecimal formatting/parsing.

.NET 7 additionally extends this with `static abstract` APIs on `IParsable<TSelf>` and `INumberBase<TSelf>` which support doing this "generically".

We see little benefit in adding this API to `Convert` at this time because of that.

[2022-08-26 20:59] tannergooding commented on #72064
CC. @tarekgh, is this something we should look at providing?

[2022-08-26 21:00] ransagy commented on #74066
I have a very similar issue with the same stack trace, trying to do something a bit different though - Using one of the Google Cast libraries to open an ssl connection (so uses the same `SslStream` class, etc) but on an net6-android target.
Same exact code does work for me on a net6-windows target though, so I'm not sure if its 100% aligned or not.

[2022-08-26 21:08] tannergooding commented on #70515
I'd agree with @stephentoub here and that this is likely not something worth adding.

We've already exposed APIs named `ThrowIfNull` and similar and you cannot overload by return type. Likewise, changing the signature is a breaking change so the "good" name is already taken.

This seems like, more generally, something you might want a language feature around instead.

[2022-08-26 21:08] #70515 closed

[2022-08-26 21:09] jscarle commented on #74677
Closing this issue because I cannot reproduce it reliably.

[2022-08-26 21:09] #74677 closed

[2022-08-26 21:16] tannergooding commented on #69262
As with https://github.com/dotnet/runtime/issues/14084 this isn't a direction we'd like to move forward on.

The idiomatic bit operations are guaranteed to be efficient where-as these named methods aren't and potentially push users towards a pit of failure.

[2022-08-26 21:16] #69262 closed

[2022-08-26 21:16] tannergooding commented on #68779
Agree with @stephentoub here. This is a not a direction we'd be willing to take the BCL.

[2022-08-26 21:16] #68779 closed

[2022-08-26 21:18] tannergooding commented on #68450
CC. @stephentoub, could you provide some input/insight here on if this is something you think we should move forward on?

[2022-08-26 21:19] tannergooding commented on #68339
Closing as duplicate of https://github.com/dotnet/runtime/issues/69590

#69590 has had more discussion, covers the API requests from this proposal and has done the initial work to show proof of concept.

[2022-08-26 21:19] #68339 closed

[2022-08-26 21:20] tannergooding commented on #68755
@karelz, should this one go to the networking team? If so, which group is the right ones to assign?

[2022-08-26 21:21] tannergooding commented on #68154
This would be a breaking change and is not something we could do. A new API would need to be proposed instead, as suggested above.

[2022-08-26 21:21] #68154 closed

[2022-08-26 21:23] tannergooding commented on #68145
Going to close this as per the above. If someone wants to open a proposal covering a `Deconstruct` method, I'd be willing to take that to API review.

[2022-08-26 21:23] #68145 closed

[2022-08-26 21:29] darjanbogdan opened #74682 "There are no dedicated DateOnly and TimeOnly type converters"
Currently `TypeDescriptor.GetConverter` methods return default `System.ComponentModel.TypeConverter` instances for `DateOnly` and `TimeOnly` types. It looks like `Time/DateOnlyTypeConverter` implementation is missing?

This may lead to subtle "bugs" (in the case of using `var` or more generic code) in which `IsValid` method always returns `false`. In the case of mentioned types.

Example:
[code]

[2022-08-26 21:32] mariusz96 commented on #74653
Yes, the intent of the API is to build a `FormattableString`, not necessarily realize it - hence it's mainly meant for building `FormattableString`s, not `string`s.

Some other scenarios where this might get used:
- source generation, code templates, e-mails, etc
- parsing custom classes into csv strings and similar, possibly custom formats
- letting client code build long `FormattableString`s wit

[2022-08-26 21:33] eerhardt commented on #74682
Duplicate of https://github.com/dotnet/runtime/issues/68743.

[2022-08-26 21:33] #74682 closed

[2022-08-26 21:36] tannergooding commented on #66928
CC. @tarekgh, could you provide insight into whether this is something we should look at providing?

[2022-08-26 21:38] tannergooding commented on #63732
Going to close this. Users can now trivially provide their own equivalents using `Generic Math`.

`INumberBase<TSelf>` provides functions for `MinMagnitude` and `MaxMagnitude` while `INumber<TSelf>` provides functions for `Min` and `Max`.

[2022-08-26 21:38] #63732 closed

[2022-08-26 21:41] tannergooding commented on #63176
I'm not seeing the same benefit here as for `string`. In the case of `string` it is normally immutable and so `Create` allows you to allocate a string of the correct size and initialize it before it becomes "immutable".

In the case of `StringBuilder` the type itself is always mutable and so you can simply `new StringBuilder(capacity: x)` and then initialize it as needed without causing unnecessar

[2022-08-26 21:44] elinor-fung commented on #3153
A lot of refactoring, splitting, and renaming has been done since this was opened, largely covering examples called out here. I'm going to close this issue. If we have additional targeted improvements, we can create new issues.

[2022-08-26 21:44] #3153 closed

[2022-08-26 21:44] tannergooding commented on #62834
CC. @jkotas, this sounds like something outside the scope of what the BCL/Runtime want to support. Is that correct?

[2022-08-26 21:46] tannergooding commented on #62795
This is an unsafe operation that ignores the normal bounds checking required by the underlying MD array.

If you wanted to do this, you can make use of `unsafe { }` and `pointers` -or- `System.Runtime.CompilerServices.Unsafe` and `System.Runtime.InteropServices.MemoryMarshal` to achieve the same thing.

[2022-08-26 21:46] #62795 closed

[2022-08-26 21:48] julealgon commented on #70515
Yeah.... I understand the limitations for sure. It is too late now to change it, basically.

It is just unfortunate that such a common concern was tackled with a solution that is far from orthogonal and will create even more confusion over time around argument validation. The proposed design basically forces a mix of different approaches to be used simultaneously, instead of a unified, consistent

[2022-08-26 21:49] tannergooding commented on #62413
CC. @tarekgh, if this is something we should provide and the shape looks good could you mark this `api-ready-for-review`? Otherwise can we close this with the relevant reasoning?

[2022-08-26 21:50] elinor-fung commented on #3580
@jkoritzinsky you did this for [comhost](https://github.com/dotnet/core-setup/pull/8293) and @swaroop-sridhar did this for [apphost](https://github.com/dotnet/core-setup/pull/6831), right? Is there any remaining work being tracked here?

[2022-08-26 21:51] stephentoub commented on #63176
If we were to do something here, I expect it would be akin to:
https://github.com/dotnet/runtime/blob/b14fcedcfa54248e8ed29d8e4784913fc5950cf1/src/libraries/Common/src/System/Text/ValueStringBuilder.cs#L264
basically just asking the builder for a region the caller can populate directly. The downside for StringBuilder is this puts some constraints on the SB implementation, which limits segment size

[2022-08-26 21:51] wfurt commented on #74066
Get packet capture @ransagy. This simply mens the TCP was closed by the peer and does not neccesarily indicate problem with the SslStream.

[2022-08-26 21:51] elinor-fung commented on #3515
This was done in https://github.com/dotnet/runtime/pull/49313.

[2022-08-26 21:51] #3515 closed

[2022-08-26 21:53] ransagy commented on #74066
I'm not entirely how to do that on MAUI + net6-android, i'll have to have a look (unless just a wireshark output, but i wouldn't know what to look for there).
Am aware this isn't necessarily a problem with the runtime impl. hence the question - since it works with the exact same project and code and the same receiver device - just not against the same runtime platform.

[2022-08-26 21:53] stephentoub commented on #70515
I think it's in the eye of the beholder. I think the approach of validating and then storing is perfectly reasonable and is no more or less unified than the proposal.

[2022-08-26 21:54] tannergooding commented on #62266
Going to close this as its providing a new form of enumeration within the BCL is an extremely complicated task that would require revving the whole ecosystem to support.

Getting codegen improvements in the form of DPGO and guarded devirtualization is the most viable path forward here.

[2022-08-26 21:54] #62266 closed

[2022-08-26 21:56] tarekgh commented on #72064
I agree with @Clockwork-Muse, cannot parse duration format to a TimeSpan. We may consider supporting `duration` by introducing a new type. We just want to see a demand for that, and we can consider it.

[2022-08-26 21:57] elinor-fung commented on #3592
https://github.com/dotnet/runtime/pull/57150 added architecture information.
https://github.com/dotnet/runtime/pull/67022 added the .NET location where the host looked for the framework.

[2022-08-26 21:57] #3592 closed

[2022-08-26 21:59] tannergooding commented on #62115
This is a similar request to https://github.com/dotnet/runtime/issues/68154 and I'm going to close for similar reasons.

We cannot easily provide a new API from the existing interfaces here nor provide a correct default implementation. This likewise has a few pit of failures in knowing whether such an invalid character was truly invalid or not and therefore whether slicing and reparsing is correct

[2022-08-26 21:59] #62115 closed

[2022-08-26 22:02] stephentoub commented on #68450
This is already supported with:
[code]
e.g.
[SharpLab](https://sharplab.io/#v2:EYLgtghglgdgPgAQEwEYCwAoBAGABAlAOgBUBTADwBcBuTHfIgcQBsB7YCZqALwkqlYxaWAMz4kuAMK4A3plwL8YhABZcAWQAUAZUoAnWAHMAQgFcozACak9uAM7AAlPMVyMij/eCEAggAc/UhhLTUlTZkpTPVIASRgAM1ZCOIA3CAMIGEowiKjSABpcABIAIhkAET5SYigwUkIAOVYAd0JKgE8AeXiATVJ0kHIAXxLHYQ8hzCGgA===)

If we think that's not sufficiently discoverable, I don't see a huge d

[2022-08-26 22:04] tarekgh commented on #66928
@tannergooding this is a nice to have helper method but not necessary blocking any scenario. It is easy to have the apps adding extension method that does that.

[2022-08-26 22:05] wfurt commented on #74066
If you connecting outside of the device you should be able to watch this externally.... Often this is problem with http/https mismatch, firewalls, name services or IPv6..

[2022-08-26 22:09] tannergooding commented on #61178
Going to close this as not actionable. We'd be willing to take an API proposal that extends `Matrix4x4` (and friends) to expose the "missing" functions that support the other handedness.

Such a proposal would need to follow the outline laid out by https://github.com/dotnet/runtime/blob/main/docs/project/api-review-process.md#steps, which is also the template covered by https://github.com/dotnet/r

[2022-08-26 22:09] #61178 closed

[2022-08-26 22:10] MichalPetryka commented on #63176
The implementation could stackalloc/rent a span that'd be passed here and then copied back into the segments when the data would get past the segment end, although that'd mean the API would be copy free only not in all of the cases.

[2022-08-26 22:11] tarekgh commented on #62413
@medo64 what is your scenario of using TimeOnly and need to add a milliseconds and ticks? TimeOnly represents a time of day and we thought about that during designing TimeOnly and we couldn't find a real scenario that needed adding milliseconds or ticks to TimeOnly. We are not trying to copy functionality provided to DateTime to TimeOnly. I don't think we need to expose such functionality with hav

[2022-08-26 22:17] ransagy commented on #74066
I'm deploying and debugging to a physical android device in my case, yes. Here's the only bits i could find in wireshark that seemed applicable, but doesn't tell me too much:
[capture.txt](https://github.com/dotnet/runtime/files/9436664/capture.txt)

[2022-08-26 22:23] tannergooding commented on #59273
The existing standard here is to throw `ArgumentException` (some users throw `ArgumentOutOfRangeException` instead).

I don' think this is something worth adding to the BCL at this time.

[2022-08-26 22:23] #59273 closed

[2022-08-26 22:23] jkoritzinsky commented on #3580
This work has all been completed.

[2022-08-26 22:23] #3580 closed

[2022-08-26 22:24] jkoritzinsky commented on #3580
I guess we can add a feature request for https://github.com/dotnet/runtime/issues/3580#issuecomment-490251603

I'll open an issue in dotnet/runtime for it if I can find the place in `dotnet tool install` that would use it.

[2022-08-26 22:26] tannergooding commented on #58994
This likely needs to be driven from the Roslyn/C# side and not from the libraries side.

I'd recommended opening a proposal on dotnet/csharplang or dotnet/roslyn and seeing what the compiler team has to say. If this is a feature they want, then it can come back as an API proposal for the BCL.

[2022-08-26 22:26] #58994 closed

[2022-08-26 22:27] jkoritzinsky commented on #3580
Looks like the API in that comment was also completed, so this issue is 100% complete.

[2022-08-26 22:28] tannergooding commented on #58734
@tarekgh, could you provide some additional input here. I think some of this has already shipped so we can't change it.

[2022-08-26 22:31] stephentoub commented on #63176
Not without a second "I'm done" method call. There's also currently no facility for a callee to stack-allocate into its caller.

[2022-08-26 22:34] tannergooding commented on #66928
Do you think this is in the right shape for us to mark `api-ready-for-review` then or are there any other concerns with the current proposal?

[2022-08-26 22:35] tannergooding commented on #68450
Thanks! Going to close this for the time being. Please feel free to reopen if anyone feels like the current support isn't discoverable enough and we can discuss it further.

[2022-08-26 22:35] #68450 closed

[2022-08-26 22:37] tannergooding commented on #73026
Reopening. Someone pointed out on Discord this isn't the API overload for converting `T` to hex, but rather the one supporting a `byte[]` to hex.

[2022-08-26 22:37] davidfowl commented on #63176
Obligatory https://docs.microsoft.com/en-us/dotnet/api/system.buffers.ibufferwriter-1?view=net-6.0

[2022-08-26 22:38] julealgon commented on #70515
@stephentoub note that "validating and then storing" is not possible when validating inline values to pass them to base classes, which is one of the cases I described.

I don't think the lack of orthogonality is subjective here. A method that returned the value would be usable in every single argument validation scenario the same way.

[2022-08-26 22:41] jkotas commented on #62834
The proposal is asking for relatively minor addition to the functionality that we support already: Fire a event at the end of unhandled exception handling second pass in addition to the existing UnhandledException event that is fires at the end of the unhandled exception handling first pass.

Here is an example of existing code in our own libraries that can benefit from this API: https://github.co

[2022-08-26 22:43] tannergooding commented on #74613
Updated the API proposal to cover the full set of changes and to better match existing signatures in a few cases.

[2022-08-26 22:43] tannergooding commented on #73604
`VectorMask` proposal is here: https://github.com/dotnet/runtime/issues/74613

I'll work on getting the API surface that utilizes these types up.

[2022-08-26 22:46] bartonjs opened #74684 "COSE needs to enforce that only NIST P-{256,384,521} are used"
In the COSE spec section on ECDSA it says (https://www.rfc-editor.org/rfc/rfc8152#section-8.1)

   P-384, and P-521.

It also suggests that for interoperability the curve size and hash size be aligned, but since that's a suggestion (vs a declarative statement) we shouldn't be limiting.

[2022-08-26 22:47] stephentoub commented on #70515
The inability to write arbitrary code in base/this delegation is an issue well beyond ThrowIfNull argument validation and deserves separate language consideration rather than contorting such an API to address the lack of such support.

The API would also need to be generic to return a strongly-typed reference usable in the same manner as the original, and that brings with it its own complexity and

[2022-08-26 22:47] Foxtrek64 commented on #72064
I'll go ahead and update the proposal to recommend the creation of a new type. This will help us better gauge demand.

[2022-08-26 22:50] bartonjs commented on #74684
The check for this would be something like

[code]

in `CoseSigner`'s constructor.

[2022-08-26 22:58] mathy-plutoflume opened #74686 "Regex auto-atomicity too aggressive about \w and \b"
### Description

`System.Text.RegularExpressions.Regex.Matches` not returning expected matches. It returns no matches at all.

### Reproduction Steps

[code]

[code]

### Expected behavior

[code]

Example 1: https://regex101.com/r/Xn7X3w/2
Example 2: https://regex101.com/r/Q10441/1

### Actual behavior

[code]

### Regression?

When running the same code pointing to `netstandard2.0` and `net472`

[2022-08-26 23:01] wfurt commented on #74066
The posted packers seem like middle of some conversation. You can set filter `host <Host>` and possibly `and port  <Port>`. That will filter out excessive data. You should see some initial sequence SYN+SYN/ACK/ACK and then TLS Hello.
Send the binary capture to my public GH address if you don't want to post them here.

[2022-08-26 23:20] JamesNK commented on #72619
Log an issue please. Leave this here to confirm that changing asp.net core resolves the stress failures.

[2022-08-26 23:28] tarekgh commented on #66928
The API shape looks good to me.

[2022-08-26 23:37] trylek commented on #74681
Related to (precursor issue): https://github.com/dotnet/runtime/issues/50127

[2022-08-26 23:38] SingleAccretion opened #74687 "Mono interpreter doesn't handle captured aliases to `newobj` values"
See the test (specifically, `ProblemWithCapturingCtors`) being added in #74665.

[2022-08-26 23:40] alexrp commented on #62834
My thinking there was that the `Unsafe` could be a way to dissuade application developers from using the event, since basically only library authors should be using it. But I'm not attached to that name at all. `CriticalCleanup` sounds reasonable to me, but should the class name remain as `RuntimeLifetime` or would it be better to put it on an existing class?

This seems reasonable as long as the

[2022-08-26 23:42] TIHan commented on #74172
The test that caused the assertion is this:
[code]

On isolating the test, I can't reproduce the assert:
![image](https://user-images.githubusercontent.com/1278959/187003346-94357f29-db27-48b2-9d01-15f8b2c81f66.png)

@dotnet/jit-contrib How would you all try to reproduce this issue considering this is a JITStress?

[2022-08-26 23:51] LuizLLPz opened #74688 "ASP.NET location not found in ubuntu 22.04 when running dotnet watch"
Hello, i have a issue where i can't run my ASP.NET core webapp, this is the error:

You must install .NET to run this application.
Architecture: x64
App host version: 6.0.8
.NET location: Not found

Learn about runtime installation:
https://aka.ms/dotnet/app-launch-failed

Download the .NET runtime:
https://aka.ms/dotnet-core-applaunch?missing_runtime=true&arch=x64&rid=ubuntu.22.04-x64&apphost_ver

[2022-08-26 23:58] radical commented on #74640
For PRs, the job will show up orange for test failures.

For rolling builds, we could skip running the job entirely.
@thaystg would that be fine? Or are the test failures not completely random, and it would be enough to disable a few explicitly?

[2022-08-27 00:04] tarekgh commented on #58734
@tannergooding I think the ask here is to add operators to the DateOnly and TimeOnly. These were in the original proposal of the APIs and was decided to remove it from the original proposal. Unfortunately, the review on March 18, 2021, somehow not recorded which captures the details of the discussion.

@bartonjs do you recall the reasons deciding to remove the operators on these types? I recall yo

[2022-08-27 00:04] davidfowl commented on #63176
Could StringBuilder just implement `IBufferWriter<char>` (I know you'd have to move the interface to corelib)

[2022-08-27 00:06] #70543 closed

[2022-08-27 00:09] SingleAccretion commented on #74172
Does the self-contained reproduction have exactly the same name as the original one: `ManagedTests.DynamicCSharp.Conformance.dynamic.dynamicType.conversions.target003.target003.TargetIsPredefinedValueType:NullableDoubleTypeWithNumericConversionFromFloatInAssignment` ?

[2022-08-27 00:10] JamesNK opened #74689 "Remove temporary workaround to not use msbuild server"
https://github.com/dotnet/aspnetcore/pull/43028 is adding `DOTNET_CLI_DO_NOT_USE_MSBUILD_SERVER` to build YAML to workaround SDK update issue.

This is a temporary fix and should be removed when no longer needed.

Example,

[code]

[2022-08-27 00:12] bartonjs commented on #58734
The general reasoning would be

* Operators (especially conversions) should have named equivalents, because operators are not discoverable.
* You have a named version, do you really need an operator?
* Implicit operators are good at creating ambiguity in overload resolution... are you confident that adding them won't cause problems?

[2022-08-27 00:12] dougbu commented on #74689
@JamesNK should this be transfered to dotnet/aspnetcore❔

[2022-08-27 00:21] LuizLLPz commented on #74688
### Update ###
If i use **dotnet run** the app works, i only get this error when using **dotnet watch**.

**Dotnet run output:**
Compiling...
info: Microsoft.Hosting.Lifetime[14]
      Now listening on: https://localhost:7104
info: Microsoft.Hosting.Lifetime[14]
      Now listening on: http://localhost:5229
info: Microsoft.Hosting.Lifetime[0]
      Application started. Press Ctrl+C to shut down.
i

[2022-08-27 00:23] RobertHenry6bev opened #74691 "incorrect computation of build parallelism"
### Description

When running on Linux, https://github.com/dotnet/runtime/blob/9a1debd4f021ba2143d3e37caf9197793d92ab86/eng/native/build-commons.sh#L248 computes the amount of available parallelism by running `nproc -all`.  However, when `nproc -all` returns *all* available parallelism, not the parallelism clamps done by `/usr/bin/taskset $cpu_mask ...job invocation`.  Arguably, just `nproc` shoul

[2022-08-27 00:24] RobertHenry6bev commented on #74691
/cc @jkotas

[2022-08-27 00:26] JamesNK commented on #74689
Opps

[2022-08-27 00:29] jkotas commented on #74307
Yes, custom attributes are accessed via reflection. The key advantage is that the helper types associated via custom attribute can be statically analyzed for correctness and the solution does not have concerns shared by @vitek-karas and @MichalStrehovsky above.

This is temporary fallback path that should go away eventually.

[2022-08-27 00:58] kunalspathak commented on #74172
Also another thing to try out is marking `NullableDoubleTypeWithNumericConversionFromFloatInAssignment` as `NoInlining`? Probably easier thing would be to get `JITDump` of the failing method and attach windbg with `COMPlus_JitBreak=NullableDoubleTypeWithNumericConversionFromFloatInAssignment` to see what is going on.

[2022-08-27 00:59] #74550 closed

[2022-08-27 01:13] wfurt opened #74694 "MarshalUsing does not work with generics"
I tried to write custom marshaling so I can have nullable SafeHandle in return to avoid allocation of SafeHandle in invalid state.
[code]

the specific one works as expected but when I try to use generic on I get compilation error when trying to use:

[code]

[2022-08-27 01:28] radical commented on #72938
Hm that's true. And for a compression task you don't have a "older" uncompressed file to compare against. Would it make sense to store the hashes, and compare those? Is incremental publish, a common scenario?

[2022-08-27 01:32] LuizLLPz commented on #74688
I fixed the error by removing PMC repository and ASP.NET
[code]
And reinstalling using
[code]

[2022-08-27 01:32] #74688 closed

[2022-08-27 01:47] Hafthor commented on #68710
Raised PR for this. Attempted to include tests for System.Half, but these weren't working so I removed those and just have tests for non-canonical NaN equality for double and float. https://github.com/dotnet/runtime/pull/74517

[2022-08-27 01:57] jkoritzinsky commented on #74694
Based on our offline conversation, using GenericPlaceholder as-is doesn’t work correctly at the moment.

[2022-08-27 02:52] jkotas commented on #74691
cc @am11

[2022-08-27 03:06] jkotas commented on #74691
`nproc -all` was introduced in https://github.com/dotnet/coreclr/pull/13909

[2022-08-27 03:17] am11 commented on #74691
This is a good point, and that's how brotli's build uses it https://github.com/dotnet/runtime/blob/13d8d2ecfa0d6b2766ffb8ceaf4d1779bf03fb1b/src/native/external/brotli/fuzz/test_fuzzer.sh#L17

Lets update all three places:
[code]

[2022-08-27 03:38] elinor-fung commented on #33034
@Const-me were you able to try this with a newer .NET and are you still seeing this issue?

[2022-08-27 03:45] elinor-fung commented on #38916
@mo3head were you able to try the suggestions from @dagood and @wfurt?

[2022-08-27 03:53] AaronRobinsonMSFT commented on #74694
What is the specific issue in this case?

[2022-08-27 03:56] medo64 commented on #62413
My scenario was aligning events from multiple machines. I had many measurements from different systems already using TimeOnly and I had to adjust them a millisecond here or there to sync with a reference node.

At the end I just converted TimeOnly to ticks, adjusted as needed, and then created TimeOnly from adjusted ticks.

It just seemed strange that struct accepting both milliseconds and ticks i

[2022-08-27 03:59] elinor-fung commented on #2879
I believe this has been addressed now (somewhere between the move to Arcade, repo consolidation, and general refactoring/improvements).

[2022-08-27 03:59] #2879 closed

[2022-08-27 04:21] jkotas commented on #74328
Added ErrorMessage signature to get this issue auto-detected by Build analysis

[2022-08-27 05:02] Clockwork-Muse commented on #62413
If you have an event it implies you should be using `DateTimeOffset` (and possibly not actually adjusting them, just using the value from the reference node outright).

[2022-08-27 05:31] jkoritzinsky commented on #74694
When trying to use `NullableSafeHandleMarshaller<T>` in a valid marshal mode, the generator was saying that the marshaller was invalid.

[2022-08-27 05:44] jkotas opened #74697 "Complete warnings for AOT unsafe interop"
Warnings for AOT unsafe interop are incomplete best effort currently: https://github.com/dotnet/runtime/pull/74630#discussion_r955966809

- [ ] Generate warnings for unsafe interop in marshalled structs
- [ ] Generate warnings for AOT unsafe marshallers like AsAny and LayoutClass
- [ ] Use actual marshaller kind to produce the warning instead of the approximation at https://github.com/dotnet/runti

[2022-08-27 06:12] MichalStrehovsky commented on #74697
If we tell people to use the source generator for AsAny/LayoutClass/System.Delegate marshalling, the source generator will then tell them it's unsupported. It will shift the blame, but the end result for the user is the same if we don't send them on a hike first.

[2022-08-27 06:35] jkotas commented on #74697
Yes, it is the case with retrofitting existing AOT unsafe code.

Steering people towards source generated interop is more interesting for new code. Source generated interop has natural AOT safety guiderails and prevents the AOT unsafe code to be written in the first place.

[2022-08-27 06:42] hez2010 commented on #74697
Is source generated P/Invokes support direct P/Invoke and static linking?

[2022-08-27 06:51] jkotas commented on #74697
Yes. This aspect is not different between source generated and built-in marshalling.

All P/Invokes (except a few outliers) in this repo have been switched to be source generated, and native aot publishing uses direct P/Invokes and static linking extensively.

[2022-08-27 08:23] Mustafalb commented on #74659
I tried to update the database by using this command

`dotnet ef database update`

and it worked.

[2022-08-27 08:24] #74659 closed

[2022-08-27 09:27] radical opened #74699 "Helix test results are not getting uploaded for a lot of jobs"
For `runtime` pipeline, with rolling [builds](https://dev.azure.com/dnceng/public/_build/results?buildId=1970276&view=results).

[Working case in wasm/runtime-tests](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-ddf74c289d6e4e02bb/JIT.CodeGenBringUpTests/1/console.39732105.log?helixlogtype=result):

[code]

### Broken cases

1. [Wasm/AOT/windows](https://hel

[2022-08-27 09:28] wangrd opened #74700 "standard2.0 Type.IsAssignableFrom not work"
### Description

`Type.IsAssignableFrom` or `typeA == typeB` always return false even they have the same type with .net standard.

### Reproduction Steps

I have a Interface `ITest` in .net project A of standard2.0, and I implement I with class `Test:ITest` in project B of .net6.
Now I get the type of Test from `AssemblyA` as `typeA`, then compare it with the `ITest`:
[code]

### Expected behavior

[2022-08-27 10:37] javiercn commented on #72938
@radical not when it comes to copying to the final folder (AFAIK, if you publish two times to the same folder, we do not guarantee that the output is correct, for example, we wouldn't remove files that were removed from the previous publish) but the pipeline in general should be/remain incremental otherwise.

WRT to the hashes, maybe that is something we could do if we have to (I believe we alread

[2022-08-27 10:44] radical commented on #72938
If we don't support the scenario, then nothing needs to be done here.

Re:hashes, I meant store hashes when compressing, and next time you can compare with the old one to see the contents have changed.

[2022-08-27 10:48] radical commented on #72938
Ok, so should this moved to aspnetcore then?

[2022-08-27 10:53] javiercn commented on #72938
Our leg is already incremental, is our inputs that are changing even though their contents aren't that breaks incrementalism here.

We could address it at our layer by doing the hashing ourselves, but that's not something we want to be generally doing. Otherwise, we become responsible for implementing incrementalism from scratch on every leg of the build.

I don't think we would do work on our sid

[2022-08-27 10:55] radical commented on #72938
I understand. This is all blazor, so I don't have any opinion here, simply facilitating the discussion.

[2022-08-27 10:57] teo-tsirpanis commented on #74700
Hello, can you provide a program that reproduces this behavior?

[2022-08-27 11:54] AndrewRober opened #74703 "Default implementation of an interface to satisfy another interface it inherits from is malfunctioning"
### Description

the issue only happens when this default implementation is to satisfy the implementation of another interface to the said interface, it just doesn't make sense why they would ignore that because in my case it makes a perfect sense to have the default implementation of `IEquatable<T>` of `T` in `T` itself!

![YO9Rr](https://user-images.githubusercontent.com/54873972/187028999-aae59

[2022-08-27 12:10] #74703 closed

[2022-08-27 12:29] wangrd commented on #74700
[TypeVerify.zip](https://github.com/dotnet/runtime/files/9437961/TypeVerify.zip)

[2022-08-27 12:38] wangrd commented on #74700
It maybe because of loading the assembly via `AssemblyLoadContext`, but why ?

[2022-08-27 12:55] svick commented on #74700
That's exactly it. The type `Test` from your `PluginLoadContext` implements the interface `ITest` from the `PluginLoadContext`, which is different from the `ITest` interface in the `Default` context that you're testing against.

If I add the following code at the start of your `PluginLoadContext.Load`, it seems to make the code work:

[code]

But I don't know enough about `AssemblyLoadContext` to

[2022-08-27 12:56] AndrewRober opened #74706 "a field evaluates to null but passes a null check!"
### Description

Okay i'm not sure how that is even possible, tested using .NET 6.0 and 7.0

this is a single threaded library, no threading, no tasks, no concurrency, no parallelism, nothing even changes those values

i paused the execution, no background threads are running, i tested on the immediate window and it looks as if it's javascript not C#

![image](https://user-images.githubusercontent

[2022-08-27 12:59] teo-tsirpanis commented on #74700
I do, and that's the right way.

[2022-08-27 13:18] #74503 closed

[2022-08-27 13:20] Jaafar-abusair commented on #74503
@MichalStrehovsky can you guide me to the correct assembly?

[2022-08-27 13:23] karelz commented on #74170
@roji this is weird - it seems the problem is still happening in CI - last hit is in 8/26@2pm Rolling run [1970381](https://runfo.azurewebsites.net/view/build/?number=1970381) in main, which should be 21h after your disabling PR. Can you please check it?

[2022-08-27 13:27] karelz commented on #69125
There has been another crash in **System.Net.Requests.Tests** Work Item @wfurt
Can you please check if it is the same problem and reopen the issue? If not, let's file a new one.

8/26 PM Rolling run [1970381](https://runfo.azurewebsites.net/view/build/?number=1970381) - [Core Dump](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-aaacaf8e0a7f46c4ad/System.Net.R

[2022-08-27 13:30] teo-tsirpanis commented on #74700
Also @wangrd, please do not use the `System.Runtime.Loader` package, for the reasons explained in #38503. After removing it, you can either retarget the `TypeHelper` library to .NET 6, or move the `AssemblyLoadContext`-related code in the `Main` project.

[2022-08-27 13:38] stephentoub commented on #74316
How confident are we in the opposite direction, that tars produced by TarWriter are consumable by all commonly-used tools? Do we have tests for that direction, e.g. generate various outputs with TarWriter, shell out to `tar` to unpack, and compare that everything roundtripped as expected?

[2022-08-27 13:40] wangrd commented on #74700
That's a bad message for me, because i'm trying to write a basic library for my team and aims to  universal as far as possible, and I alse want wo load my assembly like a alone plugin.

[2022-08-27 13:41] MihaZupan commented on #68755
Somewhat related to #58813

[2022-08-27 13:46] wangrd commented on #74700
any way, thanks.

[2022-08-27 13:55] jkotas commented on #74503
`IAuthenticationService` lives in `Microsoft.AspNetCore.Authentication.Abstractions`

[2022-08-27 13:56] jkotas commented on #74503
I found it by searching aspnetcore repo: https://github.com/dotnet/aspnetcore/blob/main/src/Http/Authentication.Abstractions/src/IAuthenticationService.cs

[2022-08-27 14:05] karelz commented on #73343
@filipnavara this is still happening in main in latest Rolling runs - I will file a new issue

[2022-08-27 14:05] karelz commented on #74224
Likely related to #73343

[2022-08-27 14:15] filipnavara commented on #73343
@karelz It must be happening on some obscure platform combination that is not part of any normal/extra PR pipelines. I need a link to the failed runs to figure out what is going on.

The other issue showed some obscure build that looked like "Android" but was not the standard Android pipeline (where the tests are intentionally disabled).

[2022-08-27 14:16] karelz opened #74708 "System.Net.Security.Tests.NegotiateAuthenticationKerberosTest asserts on Android"
Tests affected:
- **Loopback_Success** - `System.Net.Security.Tests.NegotiateAuthenticationKerberosTest.Loopback_Success`
- **Invalid_Token** - `System.Net.Security.Tests.NegotiateAuthenticationKerberosTest.Invalid_Token`

Failure frequency - results with "Test Results" link in [last 30 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E30+definition%3Aruntime-extra-platforms+name%

[2022-08-27 14:18] jeffschwMSFT commented on #74706
@AndrewRober can you share the repro?

[2022-08-27 14:19] filipnavara commented on #74708
This is same as #74224. As stated in https://github.com/dotnet/runtime/pull/74225#issuecomment-1220448471 the code is guarded not to execute on Android. We need to figure out what the h*ck is this pipeline and why that check doesn't correctly trigger.

[2022-08-27 14:21] jeffschwMSFT commented on #45559
@StephenMolloy if this is not serialization, do you have a recommendation?

[2022-08-27 14:24] filipnavara commented on #74708
@akoeplinger Got any idea what run is that and why would `OperatingSystem.IsLinux()` return true for Android? (or does it get incorrectly substituted by linker?)

[2022-08-27 14:32] filipnavara commented on #74708
Hmm, apparently the Linux Bionic pipeline is something weird that I didn't know...and it's not Android. I can add extra check much like https://github.com/dotnet/runtime/pull/72256/files did.

[2022-08-27 14:36] ComptonAlvaro commented on #74066
@karelz Sorry for the late reply. I didn't use wireshark because finally I could solve the problem.

In my case, it was related with the certificates. I solve it few days ago and between this and solve the problem I did some tries and I could't tell what is the exact solution, but it is related with the certificates, in my case I am using self signed certificates, both, the root certificate (the C

[2022-08-27 14:42] karelz opened #74710 "System.Net.* and System.Security.* crash on NativeAOT arm64"
Frequency as of:
- 9/9 - [last 30 days of System.Net.Security.Tests](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E30+definition%3Aruntime-extra-platforms+name%3A%22system.net.security.tests+work+item%22) (with Core Dump) - all arm64-NativeAOT only
- 9/9 - [last 30 days of System.Net.WebSockets.Client.Tests](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E30+definition%

[2022-08-27 14:55] AndrewRober commented on #74706
turns out to be a bad override to the != operator, closed for being incorrect

[2022-08-27 14:55] #74706 closed

[2022-08-27 14:59] karelz commented on #72149
Frequency updated in top post -- somehow it happens very often in 7.0-preview7 branch, but main and 7.0 are also hit -- roughly 2x per week (in last 2 weeks).

[2022-08-27 15:17] gragra33 commented on #1541
I have found a work around for now ...

[code]
All work is now done on a `.Net TreadPool Worker Thread`.

[2022-08-27 16:11] VSadov opened #74711 "[NativeAOT] Revisit process/thread termination scenario"
Re: https://github.com/dotnet/runtime/pull/74679

A few concerns that we need to address before supporting more scenarios.

- there is a number of mechanisms that require that thread exit is promptly communicated to the runtime. For example Unix wait susbsystem releases locks held by the thread. As a result we cannot rely on finalization of Thread object as that can be delayed or not run at all.
V

[2022-08-27 16:17] steveisok commented on #73343
We have a Linux-bionic configuration that will run on android, but without needing the dalvik vm.

I just recently moved it over to runtime-extra-platforms, so that's probably what you're seeing fail.

[2022-08-27 16:28] jkotas commented on #74710
Stacktrace:
[code]

[2022-08-27 16:33] sajjadsaharkhan opened #74713 "[API Proposal]: Add DateTime support overload for ToDateTime in PersianCalendar"
### Background and motivation

hi.
I'm using `System.Globalization.PersianCalendar` class in my code to convert Utc or system time zone date time to Persian date time.
its have a method and gets a date-time from year , month ,day,...
It pollutes my code.

[code]

i think `PersianCalendar` need a new overload for `ToDateTime` api

### API Proposal

[code]

### API Usage

[code]

### Alternative Des

[2022-08-27 16:34] sajjadsaharkhan commented on #74713
@dotnet/area-system-globalization

[2022-08-27 16:34] sajjadsaharkhan commented on #74713
@dotnet/area-system-globalization

[2022-08-27 16:36] sajjadsaharkhan commented on #74713
@ericstj
@dotnet/area-system-globalization

[2022-08-27 16:47] liveans commented on #69266
Can I implement this, if you don't mind? @wfurt

[2022-08-27 16:51] jkotas commented on #74710
A function pointer in libcrypto data structures is bad. Use-after-free bug?

84350000 is the corrupted function pointer. 8490... are the good function pointers around it.
[code]

[2022-08-27 17:04] Clockwork-Muse commented on #74713
It's not there because this:

isn't correct and doesn't work.  You can't encode calendars other than ISO/Gregorian into `DateTime` - for instance, `DateTime` will prevent day-of-month being higher than 29 for month 2 (and often it being 29 as well).

The anticipated usage pattern for the calendars is that you get the raw numeric values from whatever input source and immediately convert it to `Date

[2022-08-27 17:14] Casper-Olsen commented on #1541
This is not really a work around, since all work with the ZipArchive is still done synchronously.
And it's not guaranteed that work will continue on the thread pool, after Task.Yield. Only if there is no SynchronizationContext.

[2022-08-27 17:26] KieranDevvs opened #74716 "[API Proposal]: Get period from PeriodicTimer"
### Background and motivation

Currently I don't see a way to know what tick period was given to a `PeriodicTimer` without tracking this externally.

I want to query a `PeriodicTimer` and find out how long `WaitForNextTickAsync` will last.

### API Proposal

[code]

### API Usage

[code]

### Alternative Designs

_No response_

### Risks

None

[2022-08-27 17:32] gragra33 commented on #1541
I do agree to some extent, however testing done works as expected in a worker thread, not the `Main Thread`. I would still require propper asynchronous support to replace this temporary work around.

[2022-08-27 17:47] KieranDevvs commented on #74716
If https://github.com/dotnet/runtime/issues/60384 is implemented as a property then this might be redundant, however if the proposal is accepted as it stands, then there is also a need for this proposal.

[2022-08-27 17:55] stephentoub commented on #74568
I expect this is a case of Schrodinger's cat. You're only seeing that as Connected=false because you queried the properties of the Socket in the debugger. Also, note that this Connected property doesn't actually mean the connection has been dropped.  It's set to false if many properties, like Available, throw an exception.

It does.  If you believe otherwise, please share an isolated repro, withou

[2022-08-27 18:38] SingleAccretion opened #74718 "SPMI with `JitNoInline=1` asserts in instrumentation code"
Reproduction: run an SPMI replay of the `aspnet` collection with `-jitoption JitNoInline=1`.

Expected result: clean replay.

Actual result:
[code]
Preceded by a number of `ERROR: AllocPgoInstrumentationBySchema mismatch`.

`JitNoInline` can be a nice setting to verify changes "modulo inlining", it would be nice to keep it assert-free.

[2022-08-27 19:17] teo-tsirpanis commented on #72989
BTW @gerardog since you are in .NET 7 I recommend you to use [`NamedPipeServerStreamAcl.Create`](https://docs.microsoft.com/en-us/dotnet/api/system.io.pipes.namedpipeserverstreamacl.create) instead of this package.

[2022-08-27 19:45] dtaylorus commented on #74642
This is broken in the same way on Android. The original Xamarin.Android IsolatedStorageFile path is:

[code]

As a workaround, the legacy Xamarin.Android IsolatedStorageFile path can be built manually in .NET 6 using `Environment.GetFolderPath(SpecialFolder.LocalApplicationData)` as the base path and appending `.config/.isolated-storage/`. Legacy files can then be accessed using `System.IO.File`.

[2022-08-27 20:11] VSadov commented on #72149
When it fails in a Windows run, it always fails in 4 runs for the same build  - on Windows10, Windows11, Windows10server, Windows8.1

Are we running the same binary? Perhaps the failure is at compile time?
Is there a way to get a binary from a failed run?

[2022-08-27 20:12] VSadov commented on #72149
I'd be interested in `artifacts\bin\System.Numerics.Vectors.Tests\Release\net7.0\publish\System.Numerics.Vectors.Tests.exe`

[2022-08-27 20:55] 3HMonkey commented on #73617
Thx for reply. What does that mean in detail?

[2022-08-27 20:58] danmoseley commented on #73617
@3HMonkey Can you try with the latest build from the dotnet/installer repo, and post that stack?

[2022-08-27 21:17] tarekgh commented on #62413
@Clockwork-Muse is right. Your scenario should use DateTimeOffset and not TimeOnly. Maybe you need to revisit using TimeOnly in that scenario.

Not necessarily strange. Some scenarios would use some time units from other sources to create TimeOnly. But after creating TimeOnly, I am struggling to think in real scenario need to add milliseconds or ticks to it.

[2022-08-27 22:50] #68710 closed

[2022-08-27 23:26] ransagy commented on #74066
That's an interesting idea to explore and fits with what @wfurt suggest might be the issue; Did you see any kind of error log/message/trace or anything that pointed you this way?

In my case, This is a plain out-of-the-box android debug build deployed on the device (so signed with the default debug keystore), There possibly is something self-signed involved, but i didn't configure any, so i'm not

[2022-08-27 23:31] MichalStrehovsky commented on #72149
You can get it with runfo, instructions here: https://github.com/dotnet/runtime/blob/main/eng/testing/debug-dump-template.md

For this failed run: https://helix.dot.net/api/2019-06-17/jobs/67c3cd97-4086-489f-a0b2-6ed45d5196d5/workitems/System.Numerics.Vectors.Tests/console

This runfo command works for me: `runfo get-helix-payload -j 67c3cd97-4086-489f-a0b2-6ed45d5196d5 -w System.Numerics.Vectors.

[2022-08-28 00:46] VSadov commented on #72149
Thanks! I have obtained the binary. And surely enough it fails. So it is a compile-time bug not a runtime bug.

No wonder it was not reproducing via rerunning the test.

[2022-08-28 00:51] VSadov commented on #72149
now I can build the same commit locally and see what the diffs are in the bits or when executing/debugging

[2022-08-28 01:05] stephentoub commented on #61412
Was this fully addressed?

The PR that was cited as closing this addressed the case:
[code]
turning this on .NET 6:
[code]
into this on .NET 7:
[code]
but for the original example:
[code]
on .NET 6 I get:
[code]
and on .NET 7 I get:
[code]
Wouldn't we expect it to be more like:
[code]
?

The PR also didn't seem to address the case of `!= 0` and `!= 1`?

[2022-08-28 02:11] VSadov commented on #72149
The difference start when the following line is executed:

[code]

The first `movups` loads some static value (I suspect it is `Vector.One` ?)

My locally built exe, that passes the test, loads
[code]

The failing exe from the lab build loads:
[code]

@MichalStrehovsky
I think someone else should take a look. I have only very vague idea where these `__readonlydata_` things come from.

[2022-08-28 02:17] RNONGFU001 opened #74750 "AppContext.BasedDirectory can not return a valid file directory info"
Hi,

I am trying to migrate a winform app to a new blazor wasm app. In my winform app, the project referenced a dll lib.  Inside of dll lib, it would call AppContext.BasedDirectory method to get current app directory, in order to location some other files.

the problem is the new blazor app hits a runtime error, coz AppContext.BasedDirectory returns a virtual path as "/", instead of a real file di

[2022-08-28 02:29] #45398 closed

[2022-08-28 03:01] radical commented on #74303
Another [instance](https://dev.azure.com/dnceng/public/_build/results?buildId=1971504&view=results)([log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-364163df84ae48ea86/normal-System.Collections.Tests/1/console.bd796e68.log?helixlogtype=result)):

[code]

[2022-08-28 03:19] njavilas2015 commented on #67465
the commando is => sudo snap refresh dotnet-sdk --beta

[2022-08-28 03:29] ehasis commented on #65230
Is jut to remove the line with `<MethodImpl(MethodImplOptions.NoInlining)>`? If is, then I have the branch ready for pr.

[2022-08-28 03:30] njavilas2015 commented on #67465
good evening I'm trying to start a good new project and I can't get it, a hand would be very useful to me I'm just starting

![image](https://user-images.githubusercontent.com/47610140/187056088-7555c5ea-16d6-474f-bb57-c4365d6ee24c.png)

[2022-08-28 03:33] jkotas commented on #72149
Vector3 is 12 bytes, but the readonly data that `Vector3.One` is loaded from is 16 bytes. The JIT leaves the top 4 bytes of the readonly data uninitialized that leads to failures depending on what the uninitialized data happened to be. This looks like a JIT bug. @dotnet/jit-contrib Could you please take a look?

The questions to ask:
- Are the top 4 bytes of xmm register that holds Vector3 data re

[2022-08-28 03:35] jkotas commented on #72149
This is silent bad codegen. We should fix it for .NET 7.

[2022-08-28 03:39] am11 commented on #69705
@shushanhf, should we have `native->uc_mcontext.__fcsr = lpContext->Fcsr;` before this line: https://github.com/dotnet/runtime/blob/48a3dbe5509f53f89db0a48c8285a2eec0758fea/src/coreclr/pal/src/thread/context.cpp#L626 as we do the opposite here: https://github.com/dotnet/runtime/blob/48a3dbe5509f53f89db0a48c8285a2eec0758fea/src/coreclr/pal/src/thread/context.cpp#L776

[2022-08-28 03:42] DavuKnight opened #74720 "Using hostfxr.h to Host Core AppDomain.CurrentDomain.BaseDirectory is empty"
### Description

I'm Hosting a DotNetCore Dll from umanaged c++ using hostfxr.h.
AppDomain.CurrentDirectory.BaseDirectory appears to be empty not sure if this is a config setting I missed or a by product of the dymac host but given some applications rely on it if there isnt a way to set it that would be helpful.

### Reproduction Steps

Download
https://github.com/dotnet/samples/tree/main/core/hos

[2022-08-28 03:59] BruceForstall commented on #72149
cc @tannergooding

[2022-08-28 05:37] reflectronic commented on #74720
It is expected that unmanaged hosts set the `APP_CONTEXT_BASE_DIRECTORY` runtime property themselves. This can be done through `AppDomain.SetData`/`AppContext.SetData` in managed code, or through `hostfxr_set_runtime_property_value` in the host itself.

[2022-08-28 06:46] tmds opened #74721 "Microsoft.NETCore.App.Crossgen2.sfxproj in source-build"
This project publishes crossgen as a self-contained app.

For source-build this needs to use the runtime that got built from the runtime repo.

The builds also needs to be aware of the rid that source-build added via `AdditionalRuntimeIdentifiers` by using https://github.com/dotnet/runtime/pull/69455.

cc @ericstj @omajid @MichaelSimons @jkotas @ViktorHofer

[2022-08-28 07:14] EgorBo commented on #72149
I assume the data section's value has to be 16 bytes with zeroed last 4 bytes while currently it's 12 bytes

[2022-08-28 07:18] En3Tho commented on #61412
Sorry, this might have been a disinformation on my side then. I've been looking at help-wanted issues and some of them were still active but with linked pull requests already merged like this one.

Should we add a new tag like pr-merged-on-trial so new contributors could  see that issue is sorta resolved but needs confirmation. Now you have to check it manually.

Should we reopen this or open a ne

[2022-08-28 07:27] ComptonAlvaro commented on #74066
@ransagy Windows and Android have its own way to validate certificates. When I did tries with an WPF application (windows) and a MAUI project (Android), with the windows application I could connect without needing the CA but with Android I needed to tell to the application explicitly the the CA is a trust certificte. This you can do it installing the CA in the Android device or confiure the applic

[2022-08-28 07:34] SingleAccretion commented on #61412
Let's reopen this; the case of `(x & 1) != 0` has not been addressed.

[2022-08-28 07:42] ransagy commented on #74066
The simplest piece of code is the one i posted above - a tcp client and an attempt to establish TLS via SslStream.
It very much sounds like the same root cause - I'm sure the Mi Box sends _some_ kind of certificate to do the TLS part - but it appears it does send a self-signed one as part of the Google Cast protocol. So i don't see how i could trust it in the first place dynamically (which is why

[2022-08-28 08:11] DavuKnight commented on #74720
Thanks much a ppreciated.

[2022-08-28 08:11] #74720 closed

[2022-08-28 08:19] deeprobin commented on #65230
That is already perfect. Unfortunately, I do not know to what extent such contributions are accepted (see README of MSFT.VB.Core).

[2022-08-28 10:04] Mankarse opened #74722 "Incorrect behaviour of regex atomic groups"
### Description

In some scenarios, the regex engine can backtrack in an atomic group. This should not be possible

### Reproduction Steps

`var m = System.Text.RegularExpressions.Regex.Match("aaa", "^(?>a*)a$")`

### Expected behavior

`m.Success == false`

The above regex should not match. The atomic group should greedily match "aaa", and then be unable to backtrack to match "aa"; and so the ove

[2022-08-28 10:18] stephentoub commented on #74653
I'm not understanding what value this adds. In the most recent example, why wouldn't you just write that as:
[code]
?

Or better yet, don't use FormattableString at all and instead use a custom interpolated string handler.
https://devblogs.microsoft.com/dotnet/string-interpolation-in-c-10-and-net-6/

[2022-08-28 10:24] SkiFoD commented on #61412
@En3Tho Hey, if you want to continue working on the issue I don't mind :)

[2022-08-28 10:57] radical opened #74723 "[wasm] V8 crash with`System.IO.MemoryMappedFiles.Tests` on linux"
[Rolling build](https://dev.azure.com/dnceng/public/_build/results?buildId=1972465&view=results), and [log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-2f5e1a8416ea418c83/normal-System.IO.MemoryMappedFiles.Tests/1/console.1cac1bf0.log?helixlogtype=result):

[code]

### Report
#### Summary
|24-Hour Hit Count|7-Day Hit Count|1-Month Count|
|---|---|---|
|0|0

[2022-08-28 11:08] radical opened #74724 "[wasm] `emcc` crash on `dotnet-runtime-perf` pipeline"
Perf build `20220827.7`, and [log](https://helixri107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-487ed0110db149888d/wasmaot.x64.micro.net7.0.Partition22/1/console.dde0856b.log?sv=2021-08-06&se=2022-11-26T05%3A40%3A10Z&sr=c&sp=rl&sig=1qJl8KC9Tv1Z3JppvGDkydNTXjoJWfaVAgfWKAg94%2FE%3D):

[code]

[2022-08-28 11:14] radical commented on #74640
And for rolling builds, we can additionally *build* the Firefox tests in the `chrome debugger tests` job, so if anyone breaks it, it would get caught.

[2022-08-28 11:44] karelz commented on #74708
Thanks for figuring it out @filipnavara!

[2022-08-28 11:49] sajjadsaharkhan commented on #74713
it's true and I got it
it's true and I got it
thanks

[2022-08-28 11:49] #74713 closed

[2022-08-28 12:21] 3HMonkey commented on #73617
I gonna test it with the latest installer build soon. I was testing with preview 7 this morning with the same effect:

![image](https://user-images.githubusercontent.com/4610892/187073948-a6b1bf41-0ae7-49cb-aaeb-8950831d94e1.png)

[2022-08-28 13:05] Const-me commented on #33034
@elinor-fung Indeed, I've even filed another bug recently: https://github.com/dotnet/runtime/issues/74418 See commends for traces, both `COREHOST_TRACE` and `strace`

[2022-08-28 13:06] En3Tho commented on #61412
I will try. Thanks.

[2022-08-28 13:35] jkotas commented on #66859
All native dependencies are referenced directly in source build. We would need to do this for icu, gssapi, zlib, brotli, and potentially also libunwind that @omajid mentioned above.

[2022-08-28 13:47] stephentoub commented on #74686
The update bumpalong optimization is broken in this case. We end up bumping the next starting position for the \w* until after the first word, but that word can match the \w+ after the boundary.

[2022-08-28 13:50] stephentoub commented on #74722
It's not that it's backtracking into an atomic group; it's that the `(?>a*)a` is erroneously being reduced to `(?>a*)`. We need to not apply loop concatenations to atomic groups.

[2022-08-28 13:56] SingleAccretion commented on #11670
Fixed with #67238, #68748, #70635 and #70888.

[2022-08-28 13:56] #11670 closed

[2022-08-28 14:04] stephentoub commented on #74686
Or, actually, the issue may just be that we're making the starting loop atomic, and we shouldn't be, as doing so visibly affects the behavior.

[2022-08-28 14:07] jkotas commented on #74721
It may be easiest to publish it as framework dependent app for source-build.

[2022-08-28 14:28] roji commented on #74170
@karelz thanks, I see the issue - this is a test that isn't expected to contact MSDTC (System.Transactions.Tests.NonMsdtcPromoterTests.PSPENonMsdtcGetPromoterTypeMSDTC), and therefore isn't in the test suite where I added the skipping for arm64. I'll sort this out.

[2022-08-28 14:40] Jaafar-abusair commented on #74503
@jkotas  yes, but the name space still "Microsoft.AspNetCore.Authentication", I think the problem related to assembly version, how to tell RD.XML file to load specific version?

[2022-08-28 15:05] jkotas commented on #74503
Versions do not matter in rd.xml. The aot compiler always loads the one and only version that the application was published with.

[2022-08-28 15:26] zxcvqwerasdf opened #74725 "JsonSerializer deserialize big json in tasks memory leak"
### Description

When you try to deserialize big json file (86kb+) in many tasks with delay you get memory leak

### Reproduction Steps

[code]

### Expected behavior

No memory leak

### Actual behavior

Memory leak

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

Net 5.0, 6.0, 7.0
x64
Debug/Release

### Other information

It's only leak with tasks, in one

[2022-08-28 15:50] Clockwork-Muse commented on #74653
@stephentoub - True, for the most recent example that probably makes more sense.  The real use-case would be for situations where you need to determine at runtime whether you need to make any of those `AppendFormat(...)` calls at all:

[code]

The intent here is that this feeds into methods that aren't taking just plain string, so that's not an option.  They either take `FormattableString`, or `st

[2022-08-28 15:58] tannergooding commented on #72149
We don't have any strict requirement here. For most operations (`add`, `and`, `subtract`, etc) the actual functionality is "element-wise" and so the value of the top 4-bytes doesn't matter.

The few cases where it crosses lanes (such as `DotProduct` or `Sum`) we're supposed to ensure the upper bits are zeroed or ignored. In the case of `DotProduct` we emit the encoding that says to only use the lo

[2022-08-28 16:00] tannergooding commented on #72149
Given this is NAOT only and NAOT must target a lower baseline, its possible there is a bug in the `dpps` emulation emitted for SSE2 only hardware that isn't correctly accounting for this.

I'll take a look tomorrow.

[2022-08-28 16:16] stephentoub commented on #74725
Can you elaborate? What exactly is the perceived leak?

[2022-08-28 16:25] zxcvqwerasdf commented on #74725
Even force GC.Collect didn't help
[image](https://i.ibb.co/d03HCy5/image.png)
Left one is 1 task (10.000). Right one is 1000 tasks (10 per task)

[2022-08-28 16:30] teo-tsirpanis commented on #8220
Is that feature desirable or even _possible_ to implement at the runtime level? GPU programming is a quite opinionated field with various APIs like CUDA, OpenCL and DirectCompute. We would also need analyzers that enforce what is allowed and what is not in a method with `[RunOnGPU]` and lots of other stuff I can't think of.

I think that community projects powered by source generators such as @Ser

[2022-08-28 17:03] deeprobin commented on #65230
@ehasis
Removing this seems fine. I think you could create that PR.

[2022-08-28 17:04] danmoseley commented on #74418
It's not relevant to the issue, but please note that 3.1 is now in the last months of support.

[2022-08-28 17:09] stephentoub commented on #74725
I just tried your repro.  The only large byte[]s I see are in the ArrayPool. That's not a leak; over time or as there's increased memory pressure, the pool will discard those arrays. e.g.
<img width="764" alt="image" src="https://user-images.githubusercontent.com/2642209/187086111-ba018652-684d-4f31-9f29-8d36b2c359fe.png">

[2022-08-28 17:16] zxcvqwerasdf commented on #74725
So, it's normal behaviour? And i can't affect on this to force discard those arrays?

[2022-08-28 17:23] danmoseley commented on #73617
There is no preview 8: next is RC1. You could test with that (Release/7.0.1xx-RC1) or Release/7.0.1xx which is slightly newer.

https://github.com/dotnet/installer

[2022-08-28 17:26] danmoseley commented on #67465
@njavilas2015 What is your distro and version?
Can you run under gdb or lldb and get a backtrace?

[2022-08-28 17:29] danmoseley commented on #62413
What is the scenario where AddMinutes is useful but AddSeconds would not be?

[2022-08-28 17:50] tarekgh commented on #62413
TimeOnly represents the time of day.  You can use it in normal life scenarios like the show will start after 15 minutes. Adding 15 minutes will make sense. Add seconds is not really used the same way.

Note, TimeOnly also has `Add(TimeSpan)` which can support adding any other smaller units if needed.

[2022-08-28 17:52] jkotas commented on #8220
Closing. Not actionable in this repo.

[2022-08-28 17:52] #8220 closed

[2022-08-28 17:59] Const-me commented on #74418
@danmoseley Well, I can reliably reproduce in .NET 6.0.8:

[code]

This is despite I first reported the bug for .NET Core 2.1, see #33034, almost 2.5 years ago.

[2022-08-28 19:04] 3HMonkey commented on #73617
Yeah this is already installed. Do I need to switch something?

![image](https://user-images.githubusercontent.com/4610892/187090457-de331043-ae53-4118-957d-dd490a809b97.png)

[2022-08-28 19:10] njavilas2015 commented on #67465
I have made the installation from the page as it appears

 Linux insert-systemproductname 5.15.0-46-generic #49-Ubuntu SMP Thu Aug 4 18:03:25 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

Linux version 5.15.0-46-generic (buildd@lcy02-amd64-115) (gcc (Ubuntu 11.2.0-19ubuntu1) 11.2.0, GNU ld (GNU Binutils for Ubuntu) 2.38) #49-Ubuntu SMP Thu Aug 4 18:03:25 UTC 2022

Distributor ID: Ubuntu
Description:

[2022-08-28 20:18] Fabi commented on #74725
Fun fact: Task.Delay itself is leaking memory since it exists and almost never frees it. Not much but it will grow endless when called often :D

[2022-08-28 20:21] stephentoub commented on #74725
Huh? It allocates objects that become available for collection when the delay is reached.

[2022-08-28 20:25] stephentoub commented on #74725
There's no API to force the shared ArrayPool to release all its arrays. With enough memory pressure / GC collections, all its arrays will eventually go away.

[2022-08-28 20:26] KSemenenko commented on #67088
Yes, also time for call back excecution.
It’s timer, so it’s generate event and don’t wait until previous one will be finished

[2022-08-28 20:29] KSemenenko commented on #67088
So, only windows api is the blocker?

[2022-08-28 20:52] Fabi commented on #74725
I thought the same but in many tests with an endless loop it actually added a few MB of memory after a while. That was due to the usage of await task.delay. Had to switch to a new thread and thread.sleep to fix that. But that might be a topic for a new issue when i can create a repo

[2022-08-28 21:02] olmobrutall commented on #58734
Yes, I don't suggest to remove them.

I think the world needs it more than the effort it is to build it. The alternative is up to 8 extension methods on each application.

Empirically, previously to [this commit](https://github.com/signumsoftware/framework/commit/e2f4db6b453b89a8208303b61e11704c689263e7) I know about 10 applications that were working OK with the operators defined in [Date.cs](http

[2022-08-28 21:15] stephentoub commented on #74725
The GC heap may have increased in size and the GC may not have decommitted memory regions, but that's not a leak. A leak here would be if the allocated objects remain rooted. That doesn't happen. If you have evidence that it does, please open an issue.

[2022-08-28 21:56] Fabi commented on #74725
Memory that is never freed after days of running and increasing the process memorusage is always a leak. Will open an issue the next days

[2022-08-28 22:07] zxcvqwerasdf commented on #74725
I tryed to reproduce it:
[code]
![image](https://user-images.githubusercontent.com/67195196/187096253-4c5c044e-0953-4eea-b7e3-a63ed53adc0f.png)
max memory usage 28 mb (was on start)
next: 23-24 mb usage

[2022-08-28 22:08] zxcvqwerasdf commented on #74725
Thank you for the info

[2022-08-28 22:08] #74725 closed

[2022-08-28 23:21] MichalStrehovsky commented on #72149
If we don't have any other test coverage for the lower baselines, it might be a good quality week topic. With NAOT one at least has a deterministic repro once a bad binary has been produced. Running into this in a JIT configuration would be a lot more difficult to root cause.

This is not the first issue caused by this test hole - there were #72081 and #72158 just in the past month. NAOT covers th

[2022-08-28 23:45] tannergooding commented on #72149
We do test, but only in the outer loop and only for the runtime tests. There has been a longstanding issue to also run the library tests under the various JIT Stress options for ISA enablement

[2022-08-28 23:49] slang25 opened #74728 "TarReader stops enumerating entries when stream is unseekable"
### Description

When enumerating a tar file using `TarReader` and `GetNextEntryAsync`, once `ExtractToFileAsync` is called on one entry then the enumerating stops.

However, if the source tar stream is copied into a `MemoryStream` then it works as expected.

### Reproduction Steps

[code]
[:octocat: Repro here](https://github.com/slang25/tar-issue)

### Expected behavior

In the code example prov

[2022-08-29 00:14] RobbieLePommie commented on #74345
@bartonjs To bring this to an end; eventually tracked down that I was using MD5 as if thread safe, but it is not thread safe. Replaced with a static System.Security.Cryptography.MD5.HashData() (static, so can only be used on the one thread) and problem appears to have gone.  Pure fluke it was Ubuntu 22 and not other OSes.

This led to to the solution:

[code]

Thanks for responding.

[2022-08-29 00:47] MichalStrehovsky commented on #74307
Working with IlcDisableReflection is a noble goal but I don't think the base class libraries will ever be in a position where they work with IlcDisableReflection=true. They likely won't even work in the more usable future version of it: https://github.com/dotnet/runtime/issues/67193#issuecomment-1214229147. Trimmable reflection is not a problem and would be a good solution for this.

IlcDisableRef

[2022-08-29 00:47] tannergooding commented on #67088
This is not just a Windows limitation, this is a limitation of both hardware and software for almost any platform that might be targeted.

Most platforms are not designed or oriented around real time execution, targeting sub millisecond execution is not something that really has any guarantees for most platforms and which often requires additional care and work to make partially possible in the fi

[2022-08-29 01:03] MichalStrehovsky commented on #74697
This logic is shared with IL Linker and IL Linker doesn't have access to this unfortunately.

[2022-08-29 01:31] v-wenyuxu commented on #69092
Failed again in: [runtime-coreclr gcstress0x3-gcstress0xc 20220828.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1972618&view=ms.vss-test-web.build-test-results-tab&runId=50534110&resultId=109812&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2022-08-29 01:34] v-wenyuxu commented on #69092
Queued | OS | Arch | Column1
-- | -- | -- | --
2022-08-28T15:08:37.572Z | ubuntu.1804.armarch.open | arm64 | [runtime-coreclr gcstress0x3-gcstress0xc   Checked-gcstress0x3](https://dev.azure.com/dnceng/public/_build/results?buildId=1972618&view=ms.vss-test-web.build-test-results-tab&runId=50534118&resultId=110184&paneView=debug)
2022-08-28T15:05:04.526Z | ubuntu.1804.armarch.open | arm | [runtime-

[2022-08-29 01:42] v-wenyuxu opened #74730 "Test failure reflection/Tier1Collectible/Tier1Collectible/Tier1Collectible.sh"
Run: [runtime-coreclr gcstress-extra 20220827.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1972125&view=ms.vss-test-web.build-test-results-tab&runId=50527602&resultId=109651&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-08-29 01:48] v-wenyuxu opened #74731 "Test failure GC\\LargeMemory\\API\\gc\\keepalive\\keepalive.cmd"
Run: [runtime-coreclr r2r 20220827.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1972398&view=ms.vss-test-web.build-test-results-tab&runId=50530538&resultId=106243&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-08-29 01:55] v-wenyuxu commented on #74730
Queued | OS | Arch | Column1
-- | -- | -- | --
2022-08-28T23:21:05.295Z | ubuntu.1804.amd64.open.rt | x64 | [runtime-coreclr gcstress-extra   Checked-gcstress0xc_jitstress1](https://dev.azure.com/dnceng/public/_build/results?buildId=1972844&view=ms.vss-test-web.build-test-results-tab&runId=50536760&resultId=109593&paneView=debug)
2022-08-27T23:09:53.418Z | ubuntu.1804.amd64.open.rt | x64 | [runtim

[2022-08-29 02:06] danmoseley commented on #74728
@carlossanlop

[2022-08-29 02:17] am11 commented on #74728
This is fixed in the main branch and backported to release/7.0, but codeflow is waiting on https://github.com/dotnet/sdk/pull/27472t. You can build from source or download the latest runtime binaries (without SDK):

[code]

[2022-08-29 02:24] danmoseley commented on #74728
what fixed this? #72045?

[2022-08-29 02:25] carlossanlop commented on #74728
Hi @slang25, thanks for reporting.

This sounds like it's a repro of the bug we fixed in https://github.com/dotnet/runtime/pull/74396 which will be available in RC2. I'm going to double check anyway, using the latest bits in release/7.0.

Thanks for sharing the additional info, @am11.

[2022-08-29 02:45] carlossanlop commented on #74728
It works with the latest release/7.0 bits. The bug is fixed.

![image](https://user-images.githubusercontent.com/1175054/187112689-3f76b63b-8f91-4397-b4d2-486fc58dd985.png)

[2022-08-29 02:45] carlossanlop commented on #74728
Duplicate of https://github.com/dotnet/runtime/issues/74242

[2022-08-29 02:45] #74728 closed

[2022-08-29 02:51] MichalStrehovsky commented on #74681
Cc @LakshanF since moving where we AOT compile crossgen2 is similar to AOT compiling ILC that Lakshan has been looking at.

[2022-08-29 02:58] carlossanlop opened #74732 "Undocumented 7.0 APIs in System.Net"
@dotnet/ncl

Below is the latest list of APIs that were introduced in 7.0 and have not yet been fully documented. This list was generated using the bits of the latest published .NET 7 version which is Preview 7.

All pending documentation changes need to be merged directly into dotnet-api-docs, and the last day to do so is before the RC2 snap on September 13th.

<details>
  <summary>Undoc API list

[2022-08-29 03:03] carlossanlop opened #74733 "Undocumented 7.0 APIs in System.Runtime.Versioning"
@dotnet/area-system-runtime @buyaa-n

Below is the latest list of APIs that were introduced in 7.0 and have not yet been fully documented. This list was generated using the bits of the latest published .NET 7 version which is Preview 7.

All pending documentation changes need to be merged directly into dotnet-api-docs, and the last day to do so is before the RC2 snap on September 13th.

<details>

[2022-08-29 03:05] shushanhf commented on #69705
Thanks, you are right.
And maybe I have to sync these to the upstream because the last merged by the kernel and glibc might be different with these.
As the reviewing of some projects liking the kernel and glibc  was too slow.
I will update these later.

[2022-08-29 03:08] carlossanlop opened #74734 "Undocumented 7.0 APIs in System.Runtime.InteropServices.Javascript"
@dotnet/interop-contrib

Below is the latest list of APIs that were introduced in 7.0 and have not yet been fully documented. This list was generated using the bits of the latest published .NET 7 version which is Preview 7.

All pending documentation changes need to be merged directly into dotnet-api-docs, and the last day to do so is before the RC2 snap on September 13th.

Undoc API list in the c

[2022-08-29 03:09] carlossanlop commented on #74734
| API

[2022-08-29 03:12] carlossanlop commented on #72403
<details>

  <summary>Latest list for System.Net.Http.Json, as of Preview 7</summary>

| API

[2022-08-29 03:15] jkoritzinsky commented on #74734
@pavelsavara @lewing

[2022-08-29 03:15] carlossanlop commented on #73851
Thanks @filipnavara for addressing those APIs.

There were new APIs introduced in Preview 7 and need documentation, so I'm reopening this issue.

Important: To ensure the docs of these APIs reach intellisense in RC2, the PR to document them needs to go directly in dotnet-api-docs before September 13th.

Here is the list:

| API

[2022-08-29 03:37] danmoseley commented on #74728
@slang25 Thanks for the report. We are interested in any issues you find in the latest bits.

[2022-08-29 04:23] jkotas commented on #66859
Not required for 7.0: https://github.com/dotnet/source-build/issues/2885#issuecomment-1229743173

[2022-08-29 06:00] krwq commented on #74652
Given though technically it isn't directly our regression it is a regression from the product perspective. IMO we should at least bar check this and I agree the appropriate fix for 7.0 seems like either `#pragma warning disable` or `#pragma warning annotations` since we don't know the exact list of types

[2022-08-29 06:04] filipnavara commented on #73851
I'll look into it.

[2022-08-29 06:07] ajaypathak opened #74737 "DateTime.Now.ToString("yyyy/MM/dd") is not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When i am trying to use DateTime.Now.ToString("yyyy/MM/dd"), it is always returning the response in "2022-08-29" format

following are examples

?DateTime.Now.ToString("yyyy/MM/dd")
"2022-08-29"
?DateTime.Now.ToString("yyyy%MM%dd")
"2022882929"
?DateTime.Now.ToString("yyyyMMdd")
"20220829"
?D

[2022-08-29 06:50] DDolG commented on #68710
hello. I am very sorry to you. I got sick, so I couldn't reply to messages promptly.

[2022-08-29 07:13] mariusz96 commented on #74653
Yes, exactly - and imagine that the current method is not even a final destination, it might just as well be a step in a pipeline and I want to create `FormattableString` (or multiple ones) there and pass them somewhere else and do something special with the values.

So with the proposed tool I could:
[code]
[code]

In fact this is exactly how real life SQL example would work and in that particula

[2022-08-29 07:33] skyoxZ commented on #74737
https://docs.microsoft.com/en-us/dotnet/api/system.globalization.datetimeformatinfo.dateseparator?view=net-6.0#remarks

  The DateSeparator property defines the string that replaces the date separator ("/" custom date and time format specifier) in a result string in a formatting operation. It also defines the date separator string in a parsing operation.

[2022-08-29 08:01] Donis- commented on #67088
I'm not advocating that the runtime uses these APIs to change system timers.
Undocumented `NtSetTimerResolution` or documented timeBeginPeriod and timeEndPeriod can be used by the user via pinvoke.

What the user cannot change is the utilization of low resolution GetTickCount / GetTickCount64 in runtime system timers implementation, hence the ask if there could be a use of QueryPerformanceCounter

[2022-08-29 09:29] jakobbotsch opened #74739 "Assertion failed 'block->bbNatLoopNum == loopNum' during 'Optimize Valnum CSEs'"
[code]

Saw several of these on arm64 only.

cc @dotnet/jit-contrib

## Build Information
Build: https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_build/results?buildId=1970696
Build error leg or test failing: Exploratory Linux arm64 checked coreclr JIT / Summarize (Linux arm64)
Pull request: https://github.com/dotnet/runtime/pull/73233

## Error Message
Fill the error message usi

[2022-08-29 09:33] jakobbotsch commented on #74739
Exposed by checks added in #74308 maybe? cc @AndyAyersMS

[2022-08-29 09:39] AntonLapounov opened #74741 "Assert failure: SyncTableEntry::GetSyncTableEntry()[sbIndex].m_Object == obj"
The failure has been observed on [x64](https://github.com/dotnet/runtime/pull/72082#issuecomment-1184680141) and [ARM64](https://github.com/dotnet/runtime/pull/72082#issuecomment-1227839169) while using server GC:

[code]
The sync table entry with index `sbIndex` is in the free list pointed by `m_FreeSyncTableList` near its beginning.

Call stack examples:
[code]
[code]

[2022-08-29 09:42] #74295 closed

[2022-08-29 09:44] AntonLapounov commented on #74741
@PeterSolMS I suspect this may be caused by #41600, which made it possible for one thread to start scanning for deleted entries in the `SyncBlockCache` while another thread is still performing `GCScan::GcWeakPtrScan`.

[2022-08-29 09:58] roji opened #74745 "Distributed transactions: TransactionInterop.GetDtcTransaction doesn't work"

[2022-08-29 10:13] radical commented on #73330
The runtime should print the details for the error, and then exit, which would trigger xharness to kill the browser process.

[2022-08-29 10:14] Junjun-zhao commented on #73936
@CarnaViire Can you please confirm if the breaking change document has been created for this issue? Thanks.

[2022-08-29 11:20] #74120 closed

[2022-08-29 11:36] #74387 closed

[2022-08-29 11:55] iSazonov commented on #74568
If remove using CTS in the repro it outputs infinitly:
<details>
<summary>Code</summary>
<ul>
<li>
        static async Task Main(string[] args)
        {
            var httpClient = new HttpClient();

            var request = new HttpRequestMessage(HttpMethod.Get, "https://speed.hetzner.de/10GB.bin");
            var response = await httpClient.SendAsync(request, HttpCompletionOption.ResponseHe

[2022-08-29 12:09] stephentoub commented on #74568
As I've already stated, PowerShell itself can already do this via a CancellatioToken. Are you asking for this again because of convenience or because there's a technical blocker?

It's not impossible. It's expensive. And it's exactly what PowerShell itself can do if it wants a timeout.

[2022-08-29 12:19] Mankarse commented on #74722
It's awesome to see this get fixed so fast. Thankyou.

[2022-08-29 12:32] pavelsavara commented on #74302
This seems that there is `throw 143503392` which is probably pointer ? Do we know what could throw like this ?

[2022-08-29 12:34] marcin-krystianc opened #74752 "Regression in the XmlBaseWriter.cs"
### Description

In this optimization change ([XmlBaseWriter.cs](https://github.com/dotnet/runtime/commit/eeeeb7a75c338b0d994ccd7140d676a612990ebc#diff-623f899046e92b4f3466d81f642abd32a22cec9ba0fe81917b4121a6066ccc68)), there is a mistake which changes the logic in the `XmlBaseWriter.cs`. Previously, it checked for the existence of `-` at the end of a text, but now it is checked at the beginning o

[2022-08-29 12:40] pavelsavara commented on #74302
Could this be
[code]

[2022-08-29 12:43] slang25 commented on #74728
Thanks, I tried with a daily build before, but yes the latest runtime has fixed it 🥳

Very nice work, I'll keep an eye out for any other issues I bump into.

[2022-08-29 12:51] stephentoub commented on #74653
Here's an implementation in under 30 lines.
[code]

Using the previous example, for example:
[code]
yields:
[code]

From my perspective, this is too niche to add to the core libraries, especially as `FormattableString` is largely considered legacy (from before interpolated string handlers existed), and anyone who wants something like this can use code like shown above.

[2022-08-29 13:14] uweigand commented on #34195
@AaronRobinsonMSFT the remaining open questions are around:
- Possibly providing pre-built .NET SDK & runtime binary images for s390x somewhere, similar to the pre-built tarballs provided by Microsoft for Intel and Arm.  (These would be intended for dev/test purposes only, without any official support.)
- Out-of-the box support for .NET on s390x in Linux distributons other than RHEL (and Fedora).

[2022-08-29 13:35] VSadov commented on #74355
@tomcashman - here is a PR https://github.com/dotnet/runtime/pull/74735 to enable background GC on Unix (both arm64 and x64).
I did have to fix a few things to make it work, but I did not see the issues as you describe.

[2022-08-29 13:37] PeterSolMS commented on #74014
After looking at this in considerable detail, my conclusion is that while the regressions are for real, they are likely to affect only micro benchmarks.

Details:

I don't think that PR #73434 causes regressions.

PR #67389 causes regressions in microbenchmarks that obtain an object pointer by using some very fast mechanism (e.g. a simple cast) and assign it to a field in an object in generation 1

[2022-08-29 13:50] rzikm commented on #74053
Note that the MsQuic status codes are platform specific, so a clean solution would be
- add a status define on the MsQuic side first (e.g. `#define QUIC_STATUS_ADDRESS_NOT_AVAILABLE    ((QUIC_STATUS)EADDRNOTAVAIL)`)
    - update the C# interop sources as well (for status codes this process is manual AFAICT)
 - Port the updated interop to .NET runtime and fix what is necessary (it may require addin

[2022-08-29 13:55] rzikm opened #74755 "[API Proposal] QuicError.AlpnInUse"
Current implementation of QuicListener (backed by MsQuic) allows starting multiple listeners in the same process on the same machine port (each listener listening for connections with different ALPNs). When attempting to start a second listener with the same ALPN (e.g. second HTTP3 listener), we reported an exception with an internal error which caused some confusion among the users (see https://g

[2022-08-29 14:03] MartinZid opened #74756 "Performance issue with ASP .NET 6.0 integration tests executed on .NET 7.0-preview"
### Description

We encountered a problem with a ASP.NET 6.0 project, when we tried to execute our integration test suit on .NET `7.0.100-preview.7` inside Docker. The project was unchanged (still on .NET 6.0) and the test duration multiplied - in our CI the duration rose from 1 min to 5 min.

When I tried to reproduce this locally (also in the same Docker) and the duration rose from 4 min to 28 m

[2022-08-29 14:05] galakt commented on #31099
@maryamariyan @joperezr Any updates? Do you need help or something?

[2022-08-29 14:21] radical commented on #72752
Closing as duplicate of https://github.com/dotnet/runtime/issues/74302 .

[2022-08-29 14:22] rzikm commented on #73936
@Junjun-zhao AFAIK the document wasn't created yet, it is on our todo list

[2022-08-29 14:28] Marusyk commented on #74061
I'm interested in this PR. Can I start?

[2022-08-29 14:31] directhex commented on #38210
Architecturally, I don't think shipping `mono-sgen` is what we want to do, is it? `mono-sgen` isn't a part of the .NET 5+ model for building/shipping apps, even if it is technically a thing that can work. We should be running apps via our regular `dotnet` pipeline, and making the required changes to enable that

[2022-08-29 14:32] shadow-cs commented on #74756
@EgorBo you mean #43844?

[2022-08-29 14:37] VSadov commented on #73906
For hijacking to work we need two things:
- stack unwinding. (also needed for exception handling, so typically present)
- mechanism for asynchronous thread interrupting and accessing to the context - i.e. Posix signals or something like SuspendThread.

I assume the thread interruption APIs are unavailable or somehow restricted.

Without hijacking there is a risk of long suspension pauses or hangs

[2022-08-29 14:46] joperezr commented on #31099
I'm no longer the owner of this area. ping @dotnet/area-system-runtime, any updates here?

[2022-08-29 14:47] RenatoCaenaro commented on #74015
@naricc in this issue (already related) you can find a minimal repo to try:
https://github.com/dotnet/maui/issues/9176

[2022-08-29 14:50] krwq commented on #74752
cc: @GrabYourPitchforks

[2022-08-29 14:51] karelz commented on #74755
I don't think anyone will push back -- marking as ready for API review. @dotnet/ncl please speak up if you have second thoughts ...

[2022-08-29 15:06] jeffschwMSFT commented on #72297
![image](https://user-images.githubusercontent.com/9561583/187233033-a65822be-1e47-44bf-968b-1419ef70915f.png)

[2022-08-29 15:09] SamMonoRT commented on #74664
@lewing @radical @kg - please triage

[2022-08-29 15:10] pavelsavara commented on #74302
@vargaz do you have any ideas ? Thanks!

[2022-08-29 15:11] SamMonoRT commented on #74750
@RNONGFU001 - please can you add more details on .NET version etc ?

@radical - please help triage this issue.

[2022-08-29 15:15] radical commented on #74664
but IDBFS is not defined in release mode.

- how does it fail?
- how are you building this? If it is from the command line, then can you please add `-bl`, and share the generated `msbuild.binlog`?

[2022-08-29 15:15] tannergooding commented on #67088
There are many more considerations than simply increasing the timer resolution or utilizing QPC within a timer.

This is something that is going to be application specific and which needs to be considered at the very least thread wide for a given process, but more likely also managed even higher at the general process level.

It is not something which can be trivially provided by the BCL. The BCL

[2022-08-29 15:16] BruceForstall commented on #74172
Hit again: https://dev.azure.com/dnceng/public/_build/results?buildId=1971993&view=ms.vss-test-web.build-test-results-tab&runId=50524504&resultId=100258&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

[2022-08-29 15:16] radical commented on #74723
cc @vargaz

[2022-08-29 15:17] adetunji-david opened #74758 "BigInteger.Parse creates invalid instances from hex strings"
### Description

By design, the following expression creates an instance of BigInteger with the value of -2
`var x = BigInteger.Parse("FFFFFFFFE", NumberStyles.HexNumber);`
However, x is not equal to another instance with a value of -2.

### Reproduction Steps

`var x = BigInteger.Parse("FFFFFFFFE", NumberStyles.HexNumber);`
`var minusTwo = new BigInteger(-2);`
`Console.WriteLine(x);`
`Console.Wri

[2022-08-29 15:17] SamMonoRT commented on #74588
happening on main, moving to 8.0.0.  @naricc @radical - how deterministic is this error, why haven't we seen it on other runs ?

[2022-08-29 15:18] BruceForstall commented on #74172
While it can be useful to reproduce in isolation (so as to be easier to create a repro case), I would also try to debug in the original test. One thing to do is a superpmi collection running the original failing scenario, then replay just the assertion failure. It's probably easiest to do that if you replace the "dotnet.exe" invocation of xunit with "corerun.exe".

[2022-08-29 15:19] Clockwork-Muse commented on #74737
While @skyoxZ is correct about the reason you're seeing this behavior, I want to ask why you want that format.
Generally when dealing with formatting you want one of two things:
 - If you're displaying to an end user, you should be using their local culture settings, and should just display whatever formatting outputs without inspecting it.
 - If you're doing data interchange, you should be using

[2022-08-29 15:20] radical commented on #74588
No idea. I saw this on a PR.

[2022-08-29 15:21] SamMonoRT commented on #74603
reverted the original change from 7.0.  Moving this to 8.0

[2022-08-29 15:25] tannergooding commented on #74758
This bug also repro's in .NET 6.

[2022-08-29 15:28] tannergooding commented on #31099
I expect this one should actually be owned and driven by the networking team since it impacts `Url`. CC. @karelz

[2022-08-29 15:37] #74737 closed

[2022-08-29 15:38] timbze commented on #74361
Here's how to reproduce on Ubuntu 22.04:
1. Download both dotnet6 and dotnet7 sdks (both folders contain `dotnet` binary)
[code]
2. Link dotnet6 binary to `/usr/bin/dotnet` -- `sudo ln -s /usr/bin/dotnet6-6.0.108/dotnet /usr/bin/dotnet`
3. Try debugging Blazor WASM hosted app (`dotnet new blazorwasm -ho`)
4. **After app.Run() is called it exits with error "frameworks not found"**
5. Now link dotne

[2022-08-29 15:38] radical commented on #74750
@RNONGFU001 this is the expected behavior. You can't access the host filesystem in the blazor web assembly app, as it is running in a browser. That is why `AppContext.BaseDirectory` returns `"/`".

@TanayParikh What is the recommended way to make extra files available to the app?

[2022-08-29 15:39] karelz commented on #73377
Reopeing to track fix in 7.0 in PR #74740.

[2022-08-29 15:43] TheSpydog commented on #73906
Correct, neither Unix-like console includes support for Posix signals or has any APIs similar to SuspendThread. I'm wondering if maybe some sort of event polling could be used as a substitute in the event that a given platform does not support signals.

[2022-08-29 15:48] ComptonAlvaro opened #74759 "How to install an ASP Core .NET 6 as windows service?"
This has relation with this issue: https://github.com/dotnet/aspnetcore/issues/43547, but there I was thiking about gRPC and I considerate it is better don't mix the two quiestions.

In this case I just created an ASP Core project. I followed this steps:

1.- Create a ASP Core with the template of VS2022.
2.- Import the package Microsoft.Extensions.Hosting
3.- Import the package Microsoft.Extensio

[2022-08-29 15:52] danmoseley commented on #70754
Who owns doing that -- is that you @jkoritzinsky , @joperezr  or someone else?

[2022-08-29 15:53] #50866 closed

[2022-08-29 15:55] #50868 closed

[2022-08-29 15:59] ericstj commented on #72407
This is API added with https://github.com/dotnet/runtime/pull/66550  @eiriktsarpalis @dotnet/area-system-collections can you have a look?

[2022-08-29 16:01] lewing commented on #74361
It's hard to know the exact scenario that is failing here without more details but if you want to target net6 with net7 sdk before rc1 I would suggest following the instructions here: https://github.com/dotnet/maui/wiki/.NET-7-and-.NET-MAUI

@thaystg can you verify debugging is working in the lastest rc1 builds in vs in 6 and 7 from VS

[2022-08-29 16:08] karelz commented on #74732
Regarding QUIC:
- `QuicListener` and `QuicConnection` entries have /// docs in main.
- `QuicStream` seems to be bunch of overdriven members of base-class, so perhaps we're just missing link to base class member doc ...
- Unclear about System.Net.Quic namespace doc.

The other non-QUIC APIs (5) do not seem to have even /// comments, so we will have to add the docs.

[2022-08-29 16:09] timbze commented on #74361
Since I found how to get it to work I'm fine now. It just seems there's an issue in the debug tooling someplace. **Maybe** it's not even related to dotnet since I'm using Rider on Ubuntu. I just thought it likely was because I had issues on VS Code as well.

[2022-08-29 16:12] wfurt commented on #74053
Is this the `QUIC_STATUS_INVALID_ADDRESS` ??? (I did not try on Windows so I'm not sure.

[2022-08-29 16:20] eiriktsarpalis commented on #74442
FWIW I'm reproducing the regression on Windows.

[2022-08-29 16:22] NikolaMilosavljevic commented on #61466
Removing 'blocking-release' label - we are updating TPN notices for 7.0 with https://github.com/dotnet/runtime/pull/74760

[2022-08-29 16:28] Jozkee commented on #74320
Actually, ignoring the dumps, this is just the RemoteExecutor timing out after 60s, Can we use a larger timeout on JitStress runs?

[2022-08-29 16:29] #74069 closed

[2022-08-29 16:29] #74057 closed

[2022-08-29 16:29] JulieLeeMSFT commented on #72149
Assigning to Tanner.

[2022-08-29 16:30] karelz commented on #31099
@MihaZupan any thoughts?

[2022-08-29 16:31] liveans commented on #37150
I'm working on this. Can you assign it to me?

[2022-08-29 16:33] mmitche opened #74764 "llvm-project - Specify all source-built dependencies and ensure they are regularly updated"
### Overview

Source-build works today by building a repository, gathering the versions of the outputs, and creating a property file with those versions. This property file is then fed to downstream repositories, which import it after their `eng/Versions.props`. The resulting behavior is that the downstream repo overrides all dependency versions specified in `eng/Versions.props` with the versions

[2022-08-29 16:35] En3Tho commented on #55217
As a workaround I've used an
[code]

This allows to skip zero initialization and EmptyCollection instance can be cached.

[2022-08-29 16:35] mmitche commented on #74764
This is .NET 8 work

[2022-08-29 16:36] karelz commented on #74179
Reopening to track backport to 7.0 in PR #74738

[2022-08-29 16:36] mmitche commented on #74764
This is .NET 8 work

[2022-08-29 16:37] mmitche commented on #74764
This is .NET 8 work

[2022-08-29 16:39] GrabYourPitchforks commented on #74752
Thanks for the report! I'll send a PR fixing this (and adding regression tests) within a few hours.

[2022-08-29 16:39] mmitche opened #74765 "runtime - Specify all source-built dependencies and ensure they are regularly updated"
### Overview

Source-build works today by building a repository, gathering the versions of the outputs, and creating a property file with those versions. This property file is then fed to downstream repositories, which import it after their `eng/Versions.props`. The resulting behavior is that the downstream repo overrides all dependency versions specified in `eng/Versions.props` with the versions

[2022-08-29 16:40] mmitche commented on #74765
This is .NET 8 work

[2022-08-29 16:55] carlossanlop commented on #73851
You rock, thanks @filipnavara . I'll reassign to you.

[2022-08-29 16:58] tomcashman commented on #74355
Thanks @VSadov we can test after it's merged in 😃

[2022-08-29 17:00] naricc commented on #74588
I will disable the test for now.

[2022-08-29 17:04] NikolaMilosavljevic opened #74766 "Tool for updating 3rd-party notices should be more resilient to changes in dependencies"
Currently we have a list of repos that contribute TPNs and a commented out list of those that do not. These lists can change and the repo can onboard its own TPN file. Every such change would require modification of the tool, to uncomment the repo-specific entry.

https://github.com/dotnet/runtime/blob/d9cfbb4d5e2e861a36a974ca36b62a2f98a611ca/eng/regenerate-third-party-notices.proj#L15-L33

Instea

[2022-08-29 17:07] 3schwartz commented on #74557
Close - see https://github.com/dotnet/runtime/pull/74558#issuecomment-1229129001 for details.

[2022-08-29 17:07] #74557 closed

[2022-08-29 17:09] EgorBo opened #74768 "JIT: get rid of shortName for phases"
As it was discussed, remove shortName column from https://github.com/dotnet/runtime/blob/main/src/coreclr/jit/compphases.h and use actual name (enumName) for e.g. flowgraphs and per-phase dumps. Without PHASE_ prefix.

[2022-08-29 17:13] eiriktsarpalis commented on #74652
Let's try to mitigate the problem (and the related issue in #61734) by disabling nullability warnings in .NET 7.

[2022-08-29 17:19] carlossanlop commented on #72407
Posted the latest list as of Preview7 in this comment: https://github.com/dotnet/dotnet-api-docs/pull/8342#issuecomment-1230607986

[2022-08-29 17:24] eiriktsarpalis commented on #72407
@carlossanlop Am I missing something? These lists appear to be identical.

[2022-08-29 17:40] danmoseley commented on #74320
I think you can't assume that the test isn't hung.

@BruceForstall what environment variables should @Jozkee set locally to get the test to run as slow as the slowest jitstress run that would run this test?

@Jozkee if you can verify that way that it's merely slow, I suppose we could make a change [here](https://github.com/dotnet/arcade/blob/ba1c3aff4be864c493031d989259ef92aaa23fc3/src/Microsoft.D

[2022-08-29 17:41] ComptonAlvaro commented on #74759
I oculd solve it if in the first line of my pogram.cs I set the CurrentDirectory of the enviroment:

`Environment.CurrentDirectory = Path.GetDirectoryName(Assembly.GetExecutingAssembly().Location);`

It is because the user that run the service, System, doesn't have permissions to write in c:\windows\system32, that is the default directory of the services.

[2022-08-29 17:42] carlossanlop commented on #72410
@tannergooding Below is the most up-to-date list for APIs introduced up to Preview7 that are still undocumented.

Note: I fixed the inheritdoc bug in the porting tool and I submitted the PR here: https://github.com/dotnet/dotnet-api-docs/pull/8335

Please let me know if there is still a bug with the tool.

| API

[2022-08-29 17:54] #74640 closed

[2022-08-29 17:58] danmoseley opened #74771 "String.Replace(char, char) now slower in some cases"
Moving discussion from the PR https://github.com/dotnet/runtime/pull/67049

@gfoidl, at least on my machine, comparing string.Replace in .NET 6 vs .NET 7, multiple examples I've tried have shown .NET 7 to have regressed, e.g.

[code]
Method	Runtime	Mean	Ratio
Replace	.NET 6.0	108.1 ns	1.00
Replace	.NET 7.0	136.0 ns	1.26
Do you see otherwise?

@gfoidl

[gfoidl](https://github.com/gfoidl) commented

[2022-08-29 18:13] #72407 closed

[2022-08-29 18:15] BruceForstall commented on #74320
In the console log, you can see this failure was run with:

[code]

The 2nd one means more JIT compilation.

Setting `COMPlus_JITMinOpts=1` would run much slower generated code.

[2022-08-29 18:16] thaystg commented on #74640
They are completely random. I'm planning to investigate it as soon as I finish the multithreaded debugger.

[2022-08-29 18:24] AndyAyersMS commented on #74739
Yeah, likely so. The implication is that CSE is introducing or altering control flow, which is surprising.

[2022-08-29 18:28] kunalspathak opened #74773 "Assertion failed '(parentLoop.lpFlags & LPFLG_REMOVED) == 0' during 'Assertion prop'"
[code]

[2022-08-29 18:28] kunalspathak commented on #74773
@dotnet/jit-contrib

[2022-08-29 18:30] kunalspathak opened #74774 "Assertion failed 'varDsc->lvDoNotEnregister || varDsc->lvIsMultiRegRet' during 'Lowering nodeinfo'"
[code]

[2022-08-29 18:30] kunalspathak commented on #74774
@dotnet/jit-contrib

[2022-08-29 18:33] danmoseley commented on #74179
merged

[2022-08-29 18:33] #74179 closed

[2022-08-29 18:37] SingleAccretion commented on #74774
Will set the milestone to 8.0 because this is under `JitNoStructPromotion=2`.

[2022-08-29 18:49] carlossanlop commented on #72400
Here is the updated list as of Preview7:

| API                                                                                                                                                                                                                                                                   | Summary  | Parameters | TypeParameters | ReturnValue |
|------------------------------------

[2022-08-29 19:01] carlossanlop commented on #72401
Below is the most up to date list as of Preview7. It excludes anything that got the inheritdoc tag added, which I already ported here: https://github.com/dotnet/dotnet-api-docs/pull/8335

| API

[2022-08-29 19:07] NikolaMilosavljevic opened #74775 "Consider updating tool for updating 3rd-party notices to be smarter about duplicates"
Tool for updating TPN file, harvests notices from all dependent repos. It avoid duplicates, but still misses some harder-to-deduce cases. See this PR for examples: https://github.com/dotnet/runtime/pull/74760

Explore options for updates in the tool or in baseline TPN files, so merging is easier and doesn't produce duplicates.

[2022-08-29 19:19] AndyAyersMS commented on #64626
Also we haven't historically run triage on full PGO results; I'm a bit surprised we even opened this issue. If we look at [perf of this test with the default settings](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_x64_Windows%2010.0.18362%2fSystem.Xml.Linq.Perf_XName.NonEmptyNameSpaceToString.html) we see

(default)
![newplot - 2022-08-29T112657 971](https

[2022-08-29 19:29] EgorBo opened #74778 "Arm64: RCPC, DC ZVA and probably RDM ISAs are never detected on win-arm64"
It turns out the following features are never detected for Windows-arm64 (thanks to @mcfi who found it out):

- RCPC (e.g. Windows-arm64 does not benefit from https://github.com/dotnet/runtime/pull/67384)
- ~~DC ZVA (used for zeroing of large data by JIT)~~
- RDM (used in System.Runtime.Intrinsics.Arm.Rdm)

Mostly because Windows API `IsProcessorFeaturePresent ` doesn't provide flags for https://d

[2022-08-29 19:35] EgorBo commented on #74778
Marking as 8.0.0 but if we find a quick way to detect those + detect improvements we, probably, can try to backport it to 7.0.0

[2022-08-29 19:39] NikolaMilosavljevic opened #74779 "Cleanup of third-party-notices files"
There are inconsistencies, potential duplicates and unclear notices. There should be a cleanup across all contributing repos.

See examples: https://github.com/dotnet/runtime/pull/74760#issuecomment-1230761232

[2022-08-29 20:23] Maoni0 commented on #74756
the issue F# folks hit was specific to WKS GC with concurrent GC disabled which I presume isn't the case here? @MartinZid, unless you are doing some GC configuration yourself you should be using SVR GC with concurrent GC enabled.

I would recommend the following, could you please let me know if the following is feasible?

1) please run with the segment version of the GC and see if you are still se

[2022-08-29 20:24] davidwrighton commented on #74681
I think we may be able to have a relatively minor variation to our test build and setup.

In particular, I think the following approaches may be viable:
1. We can probably use the Crossgen2 outerloop job to run these new test variations instead of modifying the normal test legs.
2. If we build the product.pack build, we'll have both the full Runtime+libraries compiled via Crossgen2 available as we

[2022-08-29 20:29] #72403 closed

[2022-08-29 20:32] steveisok opened #74781 "VectorSingle and VectorDoubleEqualsNonCanonicalNaNTest fails on Mono"
From the logs, the `Assert.False` is failing https://github.com/dotnet/runtime/blob/51f76399be3775c72ccf3134f3ac67549a11e934/src/libraries/System.Numerics.Vectors/tests/GenericVectorTests.cs#L893

It is tough to tell which nan value is the cause:
https://github.com/dotnet/runtime/blob/51f76399be3775c72ccf3134f3ac67549a11e934/src/libraries/System.Numerics.Vectors/tests/GenericVectorTests.cs#L881-L8

[2022-08-29 20:39] steveisok commented on #74781
/cc @karelz

[2022-08-29 20:43] trylek commented on #74681
Thanks David, that is an interesting direction - while using the packs-produced Crossgen2 (and framework) for local CoreCLR / libraries testing may be challenging due to the build ordering issues, for lab testing it's a no-concern as we have all the dependencies readily available.

On the other hand, generally speaking we should strive to keep most lab chores reproducible locally for the purpose o

[2022-08-29 20:45] mangod9 commented on #74555
@trylek do you know if this might be related to running multiple tests in parallel on helix machines? how would we harden this scenario ?

[2022-08-29 20:50] sajjadarashhh commented on #74664
@radical i migrate my code from .net 6 to .net 7
FS in js files is replaced with window.Module.FS
but IDBFS is no longer accessible.
i build my project in release mode with visual studio 2022 latest preview currently

[2022-08-29 20:52] radical commented on #74664
Can you share a small test project that reproduces this issue?

[2022-08-29 20:52] sajjadarashhh commented on #74664
yep wait i produce this

[2022-08-29 20:58] GrabYourPitchforks commented on #74752
Double-checked the original PR to look for additional errors. Buggy lines:

* https://github.com/dotnet/runtime/commit/eeeeb7a75c338b0d994ccd7140d676a612990ebc#diff-623f899046e92b4f3466d81f642abd32a22cec9ba0fe81917b4121a6066ccc68R445
* https://github.com/dotnet/runtime/commit/eeeeb7a75c338b0d994ccd7140d676a612990ebc#diff-5a4227ea7ed09c1330ccd8c1706b184096516ec666ec72f1cc98864f1d11a32fR766

[2022-08-29 21:06] sajjadarashhh commented on #74664
https://github.com/sajjadarashhh/Test.net7
i've created this repo to described another problems and now make few changes to described this problem.
when start debugging error logged to console in browser.
problems is about my codes in wwwroot/file.js
@radical  thanks.

[2022-08-29 21:14] trylek commented on #74555
For the non-merged tests (still a majority) parallelization is controlled by the xunit console but I have no idea whether we have any "official" knobs for controlling that, some time ago we discussed this with Andrew in context of GC tests that are sometimes also sensitive to concurrent execution. I'll take a closer look and I'll try to figure out how to introduce the support for tests that need e

[2022-08-29 21:15] sajjadarashhh commented on #74664
@lewing  sorry but it's available in .net 6 and have breaking changes in .net 7.
this not better to solve this in .net 7?
I think this not a bug or new feature this is changed in .net 7 but I don't know how to use it in .net 7 and i dont find any documentation about this

[2022-08-29 21:29] jkotas commented on #74681
I agree that one needs to be able to replicate the lab testing locally. It does not need to be as efficient as dev inner loop, it is fine to require building the whole repo for that.

In general, I think we should be making stronger distinction between dev inner loop where a dev iterates on a specific component or a specific test, and lab testing where we want to run all tests as efficiently as po

[2022-08-29 21:29] davidwrighton commented on #74681
Yes. For instance, we could easily have another flag to the build script for the `src\tests\build.cmd` which could use the crossgen2 from the products pack.  something like `src\tests\build.cmd generatelayoutonly use_final_product_crossgen2` and that would simply pull the crossgen2 from the actual product build. Or possibly we could just have an environment variable which does the redirection.  So

[2022-08-29 21:47] radical commented on #74664
I tried this repo, and it fails with:
<img width="1821" alt="Screen Shot 2022-08-29 at 5 39 38 PM" src="https://user-images.githubusercontent.com/1472/187304193-7770db57-85b1-4476-96a6-1807beeb4985.png">

Is this the error that you were talking about?

@pavelsavara Does this look related to the new interop API? Maybe MudBlazor needs to make changes for that.

I don't see this file. Also, I don't s

[2022-08-29 21:50] bartonjs commented on #58734
I don't see a particular problem right now, but let's just imagine that there's a method group somewhere which overloads both `DateTime` and `DateTimeOffset`, and that `DateOnly` gained implicit conversion operators to both of those:

[code]

calling that method group and passing a `DateOnly` would have two candidates of equal weight (both require an implicit conversion via a user-defined (not bas

[2022-08-29 21:51] ChadNedzlek commented on #74699
This is caused by https://github.com/dotnet/runtime/commit/7a4b0afcc30a57ce5565a34fb4020c0b9e3bcd3e#diff-1d68a522b60c1ab69fb537ce06f5d7e9a176fa4f75e16425fc164d4b738d7678 from PR https://github.com/dotnet/runtime/pull/73060 (which, if you look at the last run of it, didn't run hardly any tests)

It made breaking changes in "sendtohelixhelper.proj". Currently runtime has almost ZERO test coverage, s

[2022-08-29 21:54] trylek commented on #74681
Adding a new option to <code>src\tests\build.cmd/sh</code> for using the "nuget" Crossgen2 sounds great to me and should be pretty easy to implement including some warning diagnostics in case the pack is not available (*"You need to build <code>packs.product</code> prior to using the <code>nuget-crossgen2</code> option"*). The environment variable will ultimately report the same via a "file not fo

[2022-08-29 22:00] kunalspathak opened #74785 "[JitOptRepeat] Assertion failed 'limit->OperGet() == GT_ARR_LENGTH' during 'Optimize Valnum CSEs'"
[code]

category:correctness
theme:value-numbering
skill-level:intermediate
cost:small
impact:small

[2022-08-29 22:00] kunalspathak commented on #74785
@dotnet/jit-contrib

[2022-08-29 22:01] davidwrighton commented on #74681
The bigger question is about running the libraries tests with official bits, and crossgening the libraries tests themselves. @danmoseley, do you have someone who we could talk to about various options around the libraries tests?

[2022-08-29 22:02] leecow commented on #61466
@lewing - anything in emsdk that needs to be covered by a third-party license notice?

[2022-08-29 22:03] trylek commented on #74681
While I made the speculative syntax <code>nuget-crossgen2</code> up, it's actually an interesting aspect as we could use the same or similar syntax to make CoreCLR test build grab the "nuget" version of the framework (per-assembly or composite). While this may sound nitpicky, CoreCLR test build uses the very non-standard internal app R2RTest to compile the framework (if it sounds like I'm trying t

[2022-08-29 22:08] trylek commented on #74681
In a way it's an interesting question whether, if we decide to add support for using the nuget framework for runtime testing, it makes any sense to keep the pre-existing logic of custom crossgenning of the framework using R2RTest - my gut feeling is that two different versions of R2R framework would do more harm than good and we should just use the one we ultimately ship.

[2022-08-29 22:09] MihaZupan commented on #74662
I agree that throwing when accessing `builder.Uri` is odd and the exception message is not ideal.

The spec defines user-info as `unreserved / pct-encoded / sub-delims / ":"`.
The problematic characters are `"/" / "\" / "?" / "#" / "@"` (`gen-delims` excluding `[` and `]`).

Blindly encoding the input (`Uri.EscapeDataString`) would be a breaking change, as we would start double-encoding already-en

[2022-08-29 22:16] sajjadarashhh commented on #74664
@radical  Oh sorry no!
this issue is not about .net,wait i check repo and take again

[2022-08-29 22:22] trylek commented on #74681
And David's question for Dan made me realize that we can already start actually building up an ordering of tasks:

1. Add options to src/tests/build.cmd/sh/proj to use nuget Crossgen2 / nuget framework instead of using raw Crossgen2 and manually compiled framework. Switch over all Crossgen2 pipelines to use this new logic. This seems well understood, I would estimate it at 1/2-1 workweek and in my

[2022-08-29 22:31] sajjadarashhh commented on #74664
![image](https://user-images.githubusercontent.com/72276897/187310301-4ae6513e-9506-411f-a606-e66c8d3fb404.png)
i dont know how do you get this error.
but i have this problem.
@radical

[2022-08-29 22:32] EgorBo commented on #74785
[code]
seems to be broken in many ways, I tried to enable it for NativeAOT (to repeat ops at least twice) and it failed in many methods with different asserts (I am not saying it should not be fixed though)

[2022-08-29 22:33] sajjadarashhh commented on #74664
please get latest changes of repo i have few changes for your problem

[2022-08-29 23:02] kunalspathak commented on #74785
True. I am not sure if I should disable this flag from Antigen until we fix these issues.

[2022-08-29 23:08] radical commented on #74664
With `wasm-tools` workload installed, and using `<WasmBuildNative>true</WasmBuildNative>`, I can reproduce the issue.
@pavelsavara does `IDBFS` need to be exported in our API?

[2022-08-29 23:16] kingmotley opened #77460 "Add analyzer detecting & fixing use of Cast/OfType methods on generic IEnumerable sources."
### Description

The performance of the .OfType<T> and .Cast<T> methods are suboptimal in many cases.  For example, while essentially equivalent:

`people.Cast<Person>().ToList()` runs about 4 times as slow and takes 4 times the memory as `people.Select(x => (Person)x).ToList()` while being essentially logically equivalent.

// * Summary *

BenchmarkDotNet=v0.13.2, OS=Windows 11 (10.0.22000.856/21

[2022-08-29 23:31] danmoseley commented on #74681
@ViktorHofer is a great person to include for discussion of libraries test execution.

[2022-08-29 23:34] Clockwork-Muse commented on #58734
Also - Not all days have midnight.  There are multiple timezones where DST skips midnight, and going to some other time (usually 01:00).

(Strictly speaking this is only a problem because of the existence of `DateTimeKind`.  If that was removed the transformation to `DateTime` would be safe, but the resolution into a particular timezone might not be, and would require adjustment)

[2022-08-30 00:09] cston commented on #65230
Closing as per [README.md](https://github.com/dotnet/runtime/blob/main/src/libraries/Microsoft.VisualBasic.Core/README.md).

@deeprobin, @ehasis, I apologize for not closing earlier.

[2022-08-30 00:09] #65230 closed

[2022-08-30 00:42] lewing commented on #74664
@sajjadarashhh we plan to investigate this and fix it if possible. Marking the issue for net8.0 does not mean we won't fix it in net7.0.  Once we have a fix it will be considered for net7.0 but specific emscripten features are not a part of the supported api.

[2022-08-30 01:49] BruceForstall opened #74790 "Recommended Linux LLDB version"
The linux requirements document https://github.com/dotnet/runtime/blob/main/docs/workflow/requirements/linux-requirements.md suggests depending on lldb-6.0. Is that correct? It says we depend on clang-9/llvm-9 for building; shouldn't they be in sync? My Ubuntu 20.04 machine seems to default "lldb" to lldb 10.0.0 and it looks like the latest is version 14 (https://apt.llvm.org/).

Should the docs b

[2022-08-30 02:01] mikem8361 commented on #74790
I'm not sure why it is still on lldb 6.0. SOS will work with any version > 4.  It could match the clang/llvm version to be consistent or what every is the latest for the distro which would be just "lldb"/"liblldb-dev".

In the end, the later lldb version the better.

[2022-08-30 02:03] Hafthor commented on #73583
Q: Within the space of, say -qNaNs, are they all expected to sort as equals? or do we sort by their significands?

[2022-08-30 02:35] danmoseley commented on #74756
setting GC area for now, although I don't see any evidence it actually is GC, it seems we're starting there.

[2022-08-30 02:40] TanayParikh commented on #74750
This may be helpful depending on the specific functionality you'd like to achieve: https://docs.microsoft.com/aspnet/core/blazor/fundamentals/static-files?view=aspnetcore-6.0

[2022-08-30 03:09] Jozkee commented on #74320
I ran it locally with the jitstress variables but they didn't made the test execution slower at all:

Baseline:
[code]

With set COMPlus_TieredCompilation=0 set COMPlus_ReadyToRun=0 & set COMPlus_ZapDisable=1
[code]

With above set + COMPlus_JITMinOpts=1

[code]

[2022-08-30 03:09] Jozkee commented on #74320
FWIW, I queried for "Half-way through waiting for remote process." issues and found the following.

Failures with Jitstress and remotexecutor
https://github.com/dotnet/runtime/issues/48798#issuecomment-848403487
https://github.com/dotnet/runtime/issues/44060

Failures with Jitstress and remotexecutor that were closed:
https://github.com/dotnet/runtime/issues/71243
https://github.com/dotnet/runtime

[2022-08-30 03:31] tannergooding commented on #73583
The IEEE 754 `TotalOrder` views them as equal and leaves payload consideration as "implementation defined".

[2022-08-30 04:06] danmoseley commented on #74320
All it means is "a test hung" or "a test was running very slowly". You can't conclude anything else without a dump or repro.

[2022-08-30 04:07] AlekseyTs opened #74792 "Unexpected System.BadImageFormatException for an invocation of a static abstract method declared in a non-generic interface"
### Description

See https://github.com/dotnet/roslyn/issues/63617 for additional info.

### Expected behavior

Code should run successfully

### Actual behavior

System.BadImageFormatException is thrown

### Regression?

Do not know

### Known Workarounds

No

### Configuration

_No response_

### Other information

_No response_

[2022-08-30 04:09] AlekseyTs commented on #74792
@davidwrighton, @trylek FYI

[2022-08-30 04:36] jkotas commented on #73583
It means that the non-deterministic behavior of sorting is not going to be fully fixed by this proposal.

Another alternative design to switch to a stable sorting algorithm in the BCL that would fix this whole class of problems for good.

[2022-08-30 04:40] #74691 closed

[2022-08-30 05:06] AndyAyersMS commented on #64626
PGO regressions (best guesses)
* 5/30: #69878
* 6./6: #63095
* 6/27: pgo update #71128
* 7/13: #71991 ?
* 8/4-8/7: One or more of
  * #73533,
  * #73434,
  * #73243,
  * #67389,
  * #73375

[2022-08-30 05:09] olmobrutall commented on #58734
* The operator DateTime -> DateOnly: it is explicit because of losing precision. This means there is no overloads ambiguity and also no midnight problem. Right?
* The operator DateOnly -> DateTime: could we make it explicit at least? It will also avoid the overload resolution problem and will make the midnight assumption more aware.

About the problem of not every day having midnight, this is a pr

[2022-08-30 05:10] AndyAyersMS commented on #74320
In my experience the CI machines are often heavily loaded, and this leads them to unusual interleaving and delay in test execution that can be hard to repro locally.

You might try loading down your machine when running the tests, either via some explicit stress program (`stress` on linux, say) or by running a couple copies of the test concurrently, or by kicking off a build of the repo while the

[2022-08-30 06:12] MichalWeczorek commented on #73754
Hello
I was having a similar issue. This is critical from my point of view, please consider fixing this problem with the COM object in the .net core 6 version as it is in the extended therm support.
Here is the reproduction repository link
https://github.com/MichalWeczorek/COM-event-with-recursion-.net-6-problem
if you debug the .net6 version it freezes
if you debug in .net framework 4.72 all work

[2022-08-30 06:14] gitlsl opened #74794 "wrong cookie parse"
### Description

Cookie parsing error

### Reproduction Steps

[code]

### Expected behavior

second query with    cookie   which return from first time response,

I want to get same behavior like python

### Actual behavior

first
[code]

second:
[code]

I also use python test
same code as above
[code]

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

.net

[2022-08-30 06:21] kouvel commented on #72153
Another option that may work for you on Linux in .NET 6 is `DOTNET_SYSTEM_NET_SOCKETS_INLINE_COMPLETIONS=1`. It bypasses the worker thread pool and processes IO completions on as many threads as the processor count. There are some downsides to using it (for instance it doesn't handle stalling). On Windows, from .NET 7 IO completions are handled more similarly to Linux and I see similar higher CPU

[2022-08-30 06:29] gfoidl commented on #74771
We can only disable dynamic PGO (D-PGO), not the static PGO. Correct?
So if static PGO is the culprit here, then JitDisablePGO=1 shouldn't show serious effect, which the numbers prove.

[2022-08-30 06:36] wfurt opened #74795 "assert in ProcessWaitState on Linux arm64"
Disabled tests:
- 9/8 - Mono Linux arm64 in PR #75266 - see https://github.com/dotnet/runtime/issues/74795#issuecomment-1241036585

Crash in **System.Net.Requests.Tests** Work Item - Last [7 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E7+definition%3Aruntime+name%3A%22system.net.requests.tests+work+item%22) in Runfo:
- 9/8 - 142x failures out of which 115x are on arm64-Mono

[2022-08-30 06:36] wfurt commented on #69125
[code]

I did not figure out how to dump managed objects from Mono - cc @marek-safar for help.
But the trace looks similar...

opened #74795 for tracking

[2022-08-30 06:46] huoyaoyuan commented on #74737
Unfortunately invariant culture uses `mmddyyyy` which can be more misinterpreted than `yyyymmdd`. There is a concrete reason to write logs as `yyyymmdd` to avoid misinterpreting as possible.

[2022-08-30 07:04] mariusz96 commented on #74653
Yay! Split by value, alignment and format like that's what I wanted and you can even add your own formats ie `ex` for `excluded from SQL parameters`, great.

You see I thought based on [SO](https://stackoverflow.com/questions/71005770/given-a-formattable-string-is-there-a-clean-way-to-get-the-formatting-string-fo) and [StringBuilder.AppendFormat](https://github.com/dotnet/runtime/blob/v6.0.8/src/l

[2022-08-30 07:18] PeterSolMS commented on #74741
@AntonLapounov I think you are right - I'm thinking about the proper way to fix this...

[2022-08-30 07:32] gfoidl commented on #74771
With `JitDisasm` and `JitDisablePGO` not set I get
[code]
What is the meaning of "edge weights are invalid"?

With `JitDisablePGO` set, then it's
[code]

<details>
  <summary>full assembly listing</summary>

### `JitDisablePGO` not set

[code]

### `JitDisablePGO` set

[code]
</details>

---

JitDisasm is really cool, big thanks for that feature 👍🏻

[2022-08-30 07:49] mfkl commented on #47563
Does anyone have an opinion regarding the 3 API proposals suggested above?

[2022-08-30 08:21] BrzVlad commented on #68914
I stumbled across an identical stacktrace while hitting various issues on android + llvmaot. https://github.com/dotnet/runtime/pull/74796 was fixing it for me.

[2022-08-30 08:26] akoeplinger commented on #74781
I think this fails on all Mono platforms/configs, we just didn't see it due to the issue that will be fixed by https://github.com/dotnet/runtime/pull/74788.

I'll disable the tests for Mono for now.

[2022-08-30 08:32] pierrebelin commented on #74061
Hey @karelz, since this issue is not important and not in a rush, can I take this one as first issue to start contributing?

[2022-08-30 08:48] skyoxZ commented on #74794
Seems regression from .NET 4.8

Test the code below for .NET 4.8 and .NET 6.0:
[code]
and I use Fiddler to capture the cookie of the second request in each test.

Result:

.NET 4.8:
[code]

.NET 6.0
[code]

I have no idea why some keys prefixed with `$` (such as `$Version`) are in the cookie but at least the result of .NET 4.8 contains all necessary key/values.

[2022-08-30 09:09] peter-chapman opened #76192 "[android] `unknown opcode name for 400`, only workaround is UseInterpreter=true"
### Description

My app crashes on a `Pax A920 Pro` with:

[code]

### Steps to Reproduce

This can be recreated by creating a fresh MAUI app and renaming the Debug configuration e.g.

<Configurations>Debug.Pax</Configurations>

### Version with bug

6.0.486 (current)

### Last version that worked well

Unknown/Other

### Affected platforms

Android

### Affected platform versions

8.1

### Did yo

[2022-08-30 09:20] MartinZid commented on #74756
Thank you @Maoni0 for your suggestions.

We are not doing any GC configuration by ourselves.

Also, I've tried step one, setting `COMPlus_GCName` env variable and the duration of the tests is mostly unchanged - around 27 min in Docker on my local machine.

I will try to collect some data from step two and get back with the metrics.

[2022-08-30 09:55] karelz commented on #74061
Great, thanks! Assigning to you @pierrebelin
Let us know if things are more complicated than we expected.

[2022-08-30 10:45] trylek commented on #74792
Hmm, I have just created a regression test for this issue but it seems to be passing on current runtime main in release mode. I'll try debug mode and I'll further poke on it later today, @AlekseyTs - would there be a way for you to identify the exact version of .NET runtime that hits this in Roslyn testing?

Thanks

Tomas

[2022-08-30 11:43] pavelsavara commented on #74664
The Net7 runtime is not spilling the emscripten guts into JS global namespace anymore.
In your code
https://github.com/sajjadarashhh/Test.net7/blob/f8280d225d1f4e549c129fc94cfa8b101ce9763a/MultipleEventHandlers/MultipleEventHandlers/wwwroot/file.js#L3-L4

The `IDBFS` is not global anymore. Please try to replace it with `window.Module.FS.filesystems.IDBFS`

Please re-open, if that doesn't help.

[2022-08-30 11:43] #74664 closed

[2022-08-30 11:46] tmds commented on #53550
This is needed to make .NET 6.0 and .NET 7.0 source-build on new versions of a distro.

Currently maintainers need to patch the runtime graph before the build works.

If this is fixed on `main`, we can see if the patch works for .NET 6 and .NET 7. If it does, maintainers can include it, and no longer need to worry about updating the runtime graph.

I have a long open issue for this: https://github

[2022-08-30 11:48] sajjadarashhh commented on #74664
sorry.
theres no documentation about this for .net?
@pavelsavara

[2022-08-30 11:51] rzikm commented on #74053
No, it is a different status code. INVALID_ADDRESS is returned when the address family byte of the sockaddr struct is not valid I think.

[2022-08-30 12:00] #73674 closed

[2022-08-30 12:20] tannergooding commented on #74781
Do we know why or how Mono is failing here?

[2022-08-30 12:25] tmds commented on #74402
You can reproduce this using `Tmds.ExecFunction` in a single application.

[code]

When I run this, I get:
[code]
As you can see, prog1 can't distinguish between prog2 and prog3 output.

I'm surprised this behaves different on Windows.

[2022-08-30 12:31] iSazonov commented on #74568
This is neither a convenience nor a technical interlock. It is something that is misleading and previous discussions show it. If HttpClient has a Timeout property and it doesn't work as users expect, it's really costly for them because first they have to take the time to understand the problem and then still come up with a workaround. Same thing happens with PowerShell web cmdlets - users keep ask

[2022-08-30 12:31] steveisok commented on #74781
Not yet.  I was primarily trying to keep CI clean.

/cc @SamMonoRT

[2022-08-30 12:41] tmds commented on #74795
We had this last year for `System.Net.Requests.Tests` too: https://github.com/dotnet/runtime/issues/55618.

This `FailFast` happens when some other code in the process reaps a child process that was started by .NET.

[2022-08-30 12:44] MichalPetryka commented on #74781
Should we maybe add custom messages to the asserts that will say which nans are failing?

[2022-08-30 13:01] karelz commented on #73377
Fixed in main (8.0) in PR #74450 and in 7.0 (for RC2) in PR #74740.

[2022-08-30 13:01] #73377 closed

[2022-08-30 13:04] stephentoub commented on #74653
You mean the AppendLiteral and the AppendFormat methods?  Yes, they will continue working fine.  All the other AppendFormat overloads you see on DefaultInterpolatedStringHandler are optimizations, e.g. to avoid boxing a value type being formatted, but you're explicitly asking for that boxing anyway because you wanted all the arguments as an object[].