[2020-07-22 21:25] Forgind commented on #38138
Are those the only three traces for each case there are? They mention trying to connect to a lot of other processes, which sounds strange to me if those processes don't exist. On the other hand, it seems that the connection was successful with the one worker node that managed to leave a trace, and it looks like it shut down afterwards.

[2020-07-22 21:30] lewing commented on #39756
Yeah this is going to be an issue.  That error should be different in recent builds but the code will still fail because the Cryptography classes are no longer available.

[2020-07-22 21:30] halter73 commented on #39718
My thoughts on the listed differences:

1. 👍
2. 👍
3. Response body Streams in ASP.NET Core auto flush, so we kept that behavior when creating PipeWriterStream. Changing this now would be breaking. Maybe we could add an AsStream() overload that disables auto flushing, but I doubt we have time to do that for 5.0, and I don't love the idea of a bunch of AsStream() overloads. I'm starting to wish we h

[2020-07-22 21:37] lewing commented on #39776
Yes, this is the same issue we're discussing options.

[2020-07-22 21:37] lewing commented on #39776
Duplicate of #39756

[2020-07-22 21:37] #39776 closed

[2020-07-22 21:53] Stryxus commented on #39757
@lewing Thanks for confirming. This really hit my app but, thankfully, in the meantime i can use old school javascript for websockets.

[2020-07-22 21:55] #38570 closed

[2020-07-22 21:58] #39522 closed

[2020-07-22 22:15] chris-rogala commented on #30795
Today I ran into an issue with this with the a `DateTime` property. Basically, my object is something like:

[code]

When the body looks like this:

[code]

And the method looks like this:

`public Task<IActionResult> Post([FromBody] SomeDTO model)`

The `model` is always `null`. I try the same thing with a `double`, and it reacts the same way with a `double`. Keep in mind, this is for a more comp

[2020-07-22 22:27] NukeDev opened #39803 ".NET 5 RazorGenerate Error"
### Description

I got error while build an ASP.NET MVC Razor application.
This error comes up only with .NET 5 Preview

**rzc generate exited with code 2**. C:\Program Files\dotnet\sdk\5.0.100-preview.6.20318.15\Sdks\Microsoft.NET.Sdk.Razor\build\netstandard2.0\Microsoft.NET.Sdk.Razor.CodeGeneration.targets 150

### Configuration

.NET 5.0.100-preview.6.20318.15
Windows Pro x64

[2020-07-22 22:29] danmosemsft commented on #31292
Any interest in trying it in C# ? 😉

[2020-07-22 22:34] hoyosjs commented on #38777
It looks like `IsCLRToCOMStub` and `IsPinvoke` (all that assume `HasMDContextArg`) are not quite right - currently the `DynamicMethodDesc` that we use for array stubs falls under `IsCLRToCOMStub`. I could add the original code that worked around the AV, but I have a feeling issues are running deeper here. I'd rather address that, so I'll come back to this in a bit.

[2020-07-22 22:49] vitek-karas commented on #39783
This behavior is by design on .NET Core - although compared to .NET Framework somewhat unfortunate.

On .NET Core there's only ever one AppDomain - so that can't be used to isolate assemblies (unlike .NET Framework). So instead there are load contexts (`AssemblyLoadContext` class - also called ALC). Each load context can only ever load one assembly of a given simple name. But it's possible to crea

[2020-07-22 22:58] MSLukeWest commented on #3620
Packages for the x86/x64 Core and Desktop 3.1 runtimes have been created and will appear in the upcoming VS 2019.7 update.

[2020-07-22 22:58] #3620 closed

[2020-07-22 23:55] jkoritzinsky commented on #39798
cc: @AaronRobinsonMSFT @elinor-fung

[2020-07-22 23:59] noahfalk commented on #39792
Can we get rid of it? The PORTS syntax now includes a per-request setting to suspend so a global mechanism is probably superfuous.

[2020-07-23 00:03] josalem commented on #39792
I think you're right, but when I just thought about it, there is one thing we might want to leave it for: using the default port with pause on start.  For example, let's say I want to implement something like `dotnet debug my.dll`.  I could use that variable to turn on the pause on start functionality without needing to create an additional port and then I would just send the resume runtime comman

[2020-07-23 00:11] AaronRobinsonMSFT commented on #39798
@BeastLe9enD Thanks for filing this issue. This feature is something we have been mulling over for quite some time. We have actually started exploring this path by providing some basic building blocks. One of the most important is [`UnmanagedCallersOnlyAttribute`](https://docs.microsoft.com/dotnet/api/system.runtime.interopservices.unmanagedcallersonlyattribute) - [usage in runtime](https://github

[2020-07-23 00:23] ChadNedzlek commented on #36617
If anyone does any sort of testing, they almost certainly used these types, even if they are internal; I know I did in several important projects.  Though I'd accept the breaking change if it meant this thing would never break again, because it was really supported instead of tacked on to several different libraries.

I'd have to change code in a few different projects to deal with this, and it wo

[2020-07-23 00:25] davidfowl opened #39806 "Add ability to disable reflection emit for testing"
When trying to target platforms without ref emit support, it would be nice to run CoreCLR in a mode with it disabled so it would be possible to write unit tests to see if your library breaks or not. This mode should also cause `RuntimeFeature.IsDynamicCodeCompiled` to return false.

cc @jkotas

[2020-07-23 00:31] jkotas commented on #39806
@eerhardt @vitek-karas Would it make sense to make this linker and feature switch bundle, similar to what we are doing elsewhere?

[2020-07-23 00:32] AaronRobinsonMSFT commented on #39798
This statement is interesting to me. Some "marshalling" of a `string` is likely to always need to happen. We can of course debate how work should be done, but a managed `string` object at a minimum will need to be pinned or else the GC could move it during the native call. The fact that the native side defines `char*` so requires expensive marshalling is more a matter of how the runtime internally

[2020-07-23 00:36] saucecontrol commented on #31292
I can give it a look next time I have a free day, unless @john-h-k beats me to it ;)

Also of interest is that the 'official' hardware was fairly recently upgraded from the very old Intel Q6600 to a slightly newer Intel i5-3330, meaning SSE4.1 and AVX are now fair game (still no AVX2).  Could be an opportunity to improve on all the scores again.

[2020-07-23 00:38] danmosemsft commented on #1953
@iSazonov How would the "depth limit" scenario work with these predicates? In the implementation of ShouldRecursePredicate would it examine the FileSystemEntry and then calculate the depth vs the start of the recursion (perhaps with Path.GetRelativePath and counting the double dots?)

As with any API proposal it might be useful to write out what the user code would look like.

[2020-07-23 00:42] josalem commented on #38847
I've been investigating this some more today and I've got a hypothesis of what's going on.

There is a missing `else` statement in this chunk of code that will result in the first element of `pHandles` not being set.  When we call `Read` with overlapped IO, there is a possibility there was already data to be read and it succeeds.  In this case, the first element isn't set and whatever data is in t

[2020-07-23 00:49] danmosemsft commented on #31292
Oh - interesting, I did not know about the hardware upgrade.

Perhaps [Spectral Norm](https://benchmarksgame-team.pages.debian.net/benchmarksgame/program/spectralnorm-csharpcore-5.html) could benefit from the upgrade to AVX?

"nbody" is [already using AVX](https://benchmarksgame-team.pages.debian.net/benchmarksgame/program/nbody-csharpcore-1.html) -- although there is a comment in there about rand

[2020-07-23 00:57] nblumhardt commented on #39664
Hi @maryamariyan - sorry I'm late to reply; just a thought, we consider `JsonFormatter` to be "legacy" for Serilog, and generally recommend/use the (quite different) `CompactJsonFormatter` or `RenderedCompactJsonFormatter` from https://github.com/serilog/serilog-formatting-compact whenever asked.

Not sure how relevant that is to the current issue (only skim read), but there could be more learning

[2020-07-23 01:02] reflectronic opened #39808 "Add Effects to System.Drawing"
### Background

A major addition in GDI+1.1 was the addition of effects. GDI+ comes with eleven effect types which perform various adjustments and transformations on images, like blurs, color balancing, brightness/contrast adjustments, etc. This proposal is one of many to add missing GDI+ 1.1 functionality to `System.Drawing`.

### API Proposal

See the documentation for [the gdipluseffects.h head

[2020-07-23 01:06] jkotas commented on #39798
There are performance trade-offs that come with exposing raw object allocation APIs like this one to 3rd party code. Exposing APIs like this typically requires conservative stack scanning that comes with non-trivial performance hit (~20% for real world workloads when we have measured it last time). CoreCLR  offers significantly more performance in part by not having raw embedding APIs like Mono.

[2020-07-23 01:11] eerhardt commented on #39806
I’m not sure using the linker would result in the experience being asked for here. Someone would need to run the linker on the tests, and the app/test would need to be self contained.

You could do this today with the linker. You would just need to pass a substitution file to the linker that had the following:

https://github.com/dotnet/runtime/blob/3a4298cf15379678c4d437a6554a1453706cc3b3/src/mon

[2020-07-23 01:12] danmosemsft commented on #39805
@tarekgh

[2020-07-23 01:21] AntonLapounov commented on #39701
@ladipro I cannot reproduce the issue with a freshly built ARM64 Checked drop.  What binaries are you using?

[2020-07-23 01:23] tarekgh commented on #39805
@fSharpMinor this is looks right. VS grab the date format from the user profile settings. It is possible the date format on Windows 7 machine is different than Windows 10 machine. You may try run `intl.cpl` on the 2 machines and then compare the date settings there. You can also customize the dates there the way you like to get what the formatted date as you desired.

I am closing the issue but fe

[2020-07-23 01:23] #39805 closed

[2020-07-23 01:28] noahfalk commented on #39792
you are right, it could make sense to use that var (or a renamed var) to control the suspension on the default port

[2020-07-23 01:32] davidfowl commented on #39806
The end to end here it so be able to have confidence to run on a platform like unity. That's why I think it should be a runtime mode. Something I can turn on in tests with an environment variable or something.

[2020-07-23 01:33] jkotas commented on #39701
This will likely only reproduce in release builds.

[2020-07-23 01:39] AntonLapounov commented on #39701
Thanks, reproduced with a release build.

[2020-07-23 01:58] jkotas commented on #39806
I agree that exposing it only via linker would not help. That's why I have said linked and feature switch bundle, for example like the binary serialization switch. You can turn the feature off via AppContext, you can tell linker to strip the feature code, and some platforms have the feature turned off unconditionally.

[2020-07-23 02:07] clamp03 commented on #38981
@mangod9 I will look forward to the feature. Thank you for the comment and hard work.

[2020-07-23 02:25] eerhardt commented on #39806
Probably a naive question, but why not test it directly on unity? That’s probably the only way you’d have confidence it works on that platform. Ref emit is just one of many things that will be different.

[2020-07-23 02:33] lewing commented on #39757
@Stryxus sorry for the trouble, they should be working in p8/master builds already so it is just a matter of time

[2020-07-23 02:35] reflectronic opened #39812 "Add custom image metadata to System.Drawing"
### Background

GDI+ 1.1 added support for custom image metadata. JPEG, PNG, and GIF images can have multiple ImageItemData objects serialized inside of them, each of which consist of a fixed-size description and any amount of arbitrary data. This proposal is one of many to add missing GDI+ 1.1 functionality to `System.Drawing`.

### API Proposal

See the documentation for:
- [ImageItemData](https

[2020-07-23 03:07] GrabYourPitchforks commented on #39806
I agree with @eerhardt that running on Unity is the only way to be 100% certain. But there is something very nice about being able to use our existing dev environment for rapid prototyping. Assuming our normal dev environment would detect a significant percentage (50%? 90%?) of these problems I'd consider that a win.

[2020-07-23 03:08] reflectronic opened #39813 "Add histogram support to System.Drawing"
### Background

GDI+ 1.1 added support for retrieving a histogram of the colors present in a bitmap. A handful of formats can be specified, each of which uses at most four channels of data to return the desired histogram(s). For example, the `Gray` format converts the bitmap to a grayscale image and returns a single histogram based on those grayscale values. However, the `PArgb` format uses all fo

[2020-07-23 03:36] davidfowl commented on #39806
The same reason I don't want to test on Xamarin, it requires a new toolchain, setup, sometimes devices. The idea here is to get closer to what the actual target device/environment is without needing one. Sure you can say "if I don't test on the platform then I can't know it'll work there" but given my experience 90% of the code just works and there are known missing capabilities of the underlying

[2020-07-23 03:45] GrabYourPitchforks commented on #30817
I think @KalleOlaviNiemitalo's comment demonstrates why we wouldn't want to use `Range` in this type. This seems very similar to https://github.com/dotnet/runtime/issues/417, which considered `Range.Contains(Index)` and was ultimately rejected due to its ambiguity.

If you instead used a custom data structure such as the following, it would eliminate this problem. (Both _start_ and _end_ would nee

[2020-07-23 03:49] smoogipoo commented on #12706
@gregg-miskelly the code I've used can be found above: https://github.com/dotnet/runtime/issues/12706#issuecomment-505745822 It uses `NotifyOfCrossThreadDependency`. Not a container or VM.

As for debugger, I can reproduce on both VSCode (vsdbgui), and JetBrains Rider.

[2020-07-23 03:53] echesakovMSFT commented on #39581
Got smaller repro without JitStress in #39815 (still need `GCStress=C` though)

[2020-07-23 04:00] iSazonov commented on #1953
@danmosemsft You can see draft code in PowerShell repo https://github.com/PowerShell/PowerShell/pull/12834. The PR demonstrates well real scenario of using the API.

[2020-07-23 04:07] danmosemsft commented on #1953
@iSazonov to make the API review meetings efficient we ask that all the supporting info be in the proposal  (ideally in the top post). For API proposals this ideally includes small usage examples to help demo how the API would be used

[2020-07-23 04:07] sgryphon opened #39816 "Eliminate ambiguous date and time values"
aka _The Date project_

## Background and Motivation

Dotnet Core contains several types for representing dates and times. As noted in the guidance documentation, developers should _"consider `DateTimeOffset` as the default date and time type for application development"_ (https://docs.microsoft.com/en-us/dotnet/standard/datetime/choosing-between-datetime)

However in many cases, in examples, comp

[2020-07-23 04:12] mangod9 commented on #39681
I am unable to repro this on latest builds (I tried multiple times). Perhaps its intermittent?

[code]

[2020-07-23 04:17] #39701 closed

[2020-07-23 04:56] terrajobst commented on #38872
I believe he means for showing syntax errors in regexs in the IDE. BTW, how did you handle regex parsing in Roslyn? I assume you have your own parser. Do you do any validation today?

[2020-07-23 05:02] danmosemsft commented on #39813
We have to decide on what our road map is for Drawing and what kind of changes we want to take in it. For new code, libraries like Imagesharp and SkiaSharp may be better choices.

What are your thoughts about why it is important to extend System.Drawing? Who would use this do you expect?

Also, we would want it to work on Unix: does libgdiplus support this?

[2020-07-23 05:10] Guluis commented on #39783
Thank you for the quick and detailed response.
This level of information greatly helps understanding and resolving issues when moving from framework to core.
I used this information and resolved the issue we had with double loading.

BTW, there is still an issue with visual studio where quickwatch shows one result and stepping through the code returns a different result. This happens when I used A

[2020-07-23 05:10] #39783 closed

[2020-07-23 05:34] Berrysoft commented on #38124
Is there any plan or roadmap to add localization back to WASM?

[2020-07-23 05:50] jkotas commented on #35962
It works if you really need the full power of AutoResetEvent/ManualResetEvent for your scenario. If this is

If you just need to signal that a work got finished via a Task, `TaskCompletionSource` is the most lightweight way to do that. Note that #17393 added a non-generic version of `TaskCompletionSource` for .NET 5 so it won't be necessary to use a dummy generic result argument anymore.

This doe

[2020-07-23 05:52] agocke opened #39819 "Single-file publish of csc is much larger than regular publish"
Publishing csc (327c010) with `PublishSingleFile` resulted in a much larger binary than expected. Total size of the publish directory without the flag: 101 MB. With: 135 MB.

[2020-07-23 05:59] BruceForstall commented on #39681
These type of failures, especially with GCStress, are almost always intermittent. You should try running in a loop.

Also, you should repro with a Checked build, not Debug.

Sorry, I forgot to include a link to the failure in the CI. Here it is:

https://dev.azure.com/dnceng/public/_build/results?buildId=737350&view=ms.vss-test-web.build-test-results-tab&runId=22834060&resultId=102320&paneView=deb

[2020-07-23 06:14] #39602 closed

[2020-07-23 06:15] #39713 closed

[2020-07-23 06:20] #27660 closed

[2020-07-23 06:20] davidfowl commented on #39713
We've added support for exporting the cert to pem in .net 5 fwiw

[2020-07-23 06:28] reflectronic commented on #39813
One thing that System.Drawing has (which no other frameworks do) is very close integration with Winforms. Really, this isn't something important to me *personally*, but e.g. I originally proposed CachedBitmap when someone asked me online how they could utilize it to speed up their drawing performance. Of course, they linked me to the C++ documentation for it, and there wasn't a way to do that from

[2020-07-23 06:35] zackliu opened #39820 "Add hot reloading cpu/memory cgroup settings support during running"
Currently, I need to dynamically restrict the performance of a process. I use cgroup to restrict the cpu/memory limit and I need to dynamically update the restriction.
I update the cpu/memory cgroup settings for a running dotnet process through editing the cgroup file like `memory.limit_in_bytes` or through `docker update --memory` if I using docker (see [here](https://docs.docker.com/engine/refer

[2020-07-23 06:38] ststeiger commented on #39713
@davidfowl: I have written my own utility to manage/read/convert SSL certificates years ago.

[2020-07-23 06:52] iSazonov commented on #1953
@danmosemsft I added a code snipped from the PowerShell PR.

[2020-07-23 06:58] davidfowl commented on #39713
It supports pem in 5.0, so that will improve

[2020-07-23 06:59] ststeiger commented on #39713
Good, that's good to hear.

[2020-07-23 07:03] ststeiger commented on #39713
One more thing:
The .NET integrated cryptography does not support to create an RSA provider from just exponent and modulus.
Though certificates with only modulus and exponent are perfectly valid.
JetBrains license server, for example, used to use such a certificate.
I had to go to great lengths to get it to work with BouncyCastle.
Turns out, unlike BouncyCastle, Python can read out these certifica

[2020-07-23 07:14] davidfowl commented on #39820
Do we know how often you need refresh the limits? Would you be ok calling an API?

cc @Maoni0 @jeffschwMSFT

[2020-07-23 07:15] jkotas commented on #27660
This works fine for me. If you have a repro, please open an issue via https://developercommunity.visualstudio.com/

We do not have plans to improve UWP-specific versions of the libraries.

[2020-07-23 07:20] safern commented on #38124
@Berrysoft you can try installing the latest .NET daily build that enables ICU usage by default on wasm at the moment. Which brings it closer to a regular console app. Note that we only carry data for the locales listed here: https://developer.chrome.com/webstore/i18n?csw=1#localeTable

You can find the latest daily preview here
https://github.com/dotnet/installer/blob/master/README.md#installers-

[2020-07-23 07:21] zackliu commented on #39820
Refreshing every minute is fine I think. If runtime exposing an API that I can call it to reload is also ok in my scenario.

[2020-07-23 07:25] jkotas commented on #34799
This is expected behavior. `Debug.WriteLine` is annotated with `Conditional("DEBUG")` attribute. It means that the compilers will emit a call to this method in debug builds only by default. See https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.debug?view=netcore-3.1#remarks for more details.

[2020-07-23 07:25] #34799 closed

[2020-07-23 07:39] vzalamea commented on #630
I have a netstandard2.0 project with a reference.cs file generated by the Visual Studio WCF web service reference generator.  We point the tool to a WSDL to generate the reference.cs file.  The project is referenced by a netcoreapp3.1 web application.

I gave up on the Microsoft.XmlSerializer.Generator due to the error:
Method 'System.Xml.Serialization.XmlSerializer.GenerateSerializer' was not fou

[2020-07-23 07:40] AnthonyLloyd commented on #31292
I'll take another look at these. I have a new thing CsCheck that will be useful and it makes a good demo.

[2020-07-23 07:55] sandreenko opened #39823 "Incorrect OBJ/IND/BLK removal."
@erozenfeld I was experimenting with the suspicious code from https://github.com/dotnet/runtime/pull/38004 that we have discussed early today and have created a repro, run this on x64 windows checked:

[code]

the current master will fail with assert or return -1 in release, 3.1 will correctly generate an exception.

The problems are in these two blocks:
https://github.com/dotnet/runtime/blob/811c

[2020-07-23 07:56] jskeet commented on #34742
@davidfowl: It took a little longer to get to this than expected, but there's a prototype PR here, including before/after screenshots:

https://github.com/googleapis/google-cloud-dotnet/pull/5200

[2020-07-23 07:56] sandreenko commented on #39823
cc @erozenfeld , @CarolEidt , @dotnet/jit-contrib

[2020-07-23 08:07] fredrikhr commented on #36209
@maryamariyan I have opened #39825 which implements this proposal.

@maryamariyan, @davidfowl, while I was implementing the API, I noticed why I had originally proposed the `configSectionPath` parameter to be nullable: In the other `Bind` methods we also use the `Name` property of `optionsBuilder` as a section name to the `IConfiguration`. Therefore, defaulting `configSectionPath` could make sense

[2020-07-23 08:29] AndyAyersMS commented on #31292
Would also be nice if we didn't have to delegate the heavy lifting to native libs (gmp, pcre) on some of those tests.

[2020-07-23 08:30] fredrikhr commented on #36209
I also wanted to add test-cases for this new API, but I realized after some searching that the `Microsoft.Extensions.Options.ConfigurationExtensions` library simply does not have its pwn test-project. Should I just create a new project (modelled after one of the test-projects from other libraries), or is there something else I should consider?

[2020-07-23 08:43] CumpsD commented on #22977
If this would work, then maybe these can finally work:
* https://github.com/robinrodricks/FluentFTP/issues/347
* https://github.com/dotnet/runtime/issues/27916

[2020-07-23 09:08] DmitryGaravsky opened #39827 "Regression in .Net 5 Preview 7 - MarshalDirectiveException is thrown when using the UnmanagedType.HString"
### Description
For now, some COM interop code fails with the MarshalDirectiveException:
[code]

Our unit tests detected this issue immediately. (we maintain unit tests for all the released and preview environments like .net core 5 in our codebase).
Thus it is an important breaking change for us.

### Configuration
OS Version: Microsoft Windows [Version 10.0.18362.535]
.Net Framework Version: Micr

[2020-07-23 09:20] DKittenz commented on #39140
I can take this, assign me please.

[2020-07-23 09:25] enricobenedos opened #39838 "Different algorithm result on different OS"
# Issue Title

Good Morning,

I've a .NET CORE API hosted on a Linux environment. My develop machine is a macOS. In both cases I'm using .NET CORE SDK/Runtime 3.1.
The same code executed on my machine works perfectly but on the Linux environment it generate an exception when trying to convert a decimal number
[code]

The problem seems not related directly to decimal conversion but from a my own [o

[2020-07-23 10:16] eiriktsarpalis opened #39829 "TextEncoder.FindFirstCharacterToEncodeUtf8 not being used anywhere."
Discovered [this issue](https://github.com/dotnet/runtime/pull/38707#issuecomment-658418135) while working on ARM64 intrinsics optimizations for System.Text.Encodings.Web. While the method is public, it is also marked `EditorBrowsable.Never`. There are however unit tests consuming it.

A lot of the intrinsics optimizations for this project live in `FindFirstCharacterToEncodeUtf8` implementations,

[2020-07-23 10:45] NukeDev commented on #39803
5.0.100-preview.7.20366.6 solved the problem!

[2020-07-23 10:45] #39803 closed

[2020-07-23 10:53] vitek-karas commented on #39783
Re VS issue - I would have to see the specifics - but it's true that the VS debugger has only very basic support for load contexts - it should not fail on anything, but it's very possible that things don't work intuitively.

[2020-07-23 10:54] adams85 commented on #35962
@jkotas Alright, thanks for the info.

[2020-07-23 10:57] vitek-karas commented on #39806
The feature switch solution as @jkotas suggested should work nicely. Whether it's bound to linker or not is secondary (but if we do it, we should do it for linker as well, just for completeness). It should just mean defining a new runtime property and wiring it into the `RuntimeFeatures.IsDynamicCodeCompiled`. This will obviously not guarantee that the runtime will not allow usage of Ref.Emit -  t

[2020-07-23 11:18] nzstevem opened #39831 "Public Enum FileAttributes is missing values"
### Description

The System.IO.FileAttributes Enum is missing values associated with OneDrive (and iCloud) files not present on the local system.

The following values from

C:\Program Files (x86)\Windows Kits\10\Include\10.0.16299.0\um\winnt.h:

are not present.

FILE_ATTRIBUTE_UNPINNED              = 0x00100000
FILE_ATTRIBUTE_PINNED                = 0x00080000
FILE_ATTRIBUTE_RECALL_ON_DATA_ACCES

[2020-07-23 12:37] eiriktsarpalis commented on #38966
I'm reproducing the same behaviour. Basically the character is omitted on Windows terminal only (reproducing with either cmd, PowerShell or Git Bash), but not on any other terminal emulators that I tested. It namely works for Visual Studio Console, Git bash, Powershell classic and ConEmu. I'll update the issue description accordingly.

[2020-07-23 12:40] eiriktsarpalis commented on #38966
Also, the issue _does not_ reproduce when using Windows terminal on WSL.

[2020-07-23 12:43] kakone opened #39835 "Add TrustedRootCertificates property to HttpClientHandler"
## Background and Motivation

It's actually complicate to add a custom root certificate authority to [HttpClientHandler](https://docs.microsoft.com/fr-fr/dotnet/api/system.net.http.httpclienthandler). You need to use the [ServerCertificateCustomValidationCallback](https://docs.microsoft.com/fr-fr/dotnet/api/system.net.http.httpclienthandler.servercertificatecustomvalidationcallback) and it's not v

[2020-07-23 12:48] eiriktsarpalis commented on #39799
Tagging @stephentoub, @buyaa-n, @krwq.

I think this is a reasonable change. Should we prioritize this ahead of the .NET 5.0 release?

[2020-07-23 12:50] KalleOlaviNiemitalo commented on #39831
FILE_ATTRIBUTE_RECALL_ON_DATA_ACCESS and FILE_ATTRIBUTE_RECALL_ON_OPEN are documented in [File Attribute Constants](<https://docs.microsoft.com/windows/win32/fileio/file-attribute-constants> "File Attribute Constants (WinNT.h) - Win32 apps | Microsoft Docs").

FILE_ATTRIBUTE_PINNED and FILE_ATTRIBUTE_UNPINNED are mentioned in [FILE_RENAME_INFORMATION structure](<https://docs.microsoft.com/windows-

[2020-07-23 12:52] kakone commented on #39835
I see the case very regularly (the last time in this [Twitter thread](https://twitter.com/csteegz/status/1284352254439337984) of @davidfowl).

[2020-07-23 13:01] blowdart commented on #39706
It was a Microsoft sample? That's even funnier :)

Don't worry about the wrong repo, SQL Clr doesn't have one, nor does .NET Framework.

In case security patches cause problems again you should know support calls for security patches and side effects are free, and you can call the support line to get things addressed.

[2020-07-23 13:07] stephentoub commented on #39799
Yes

[2020-07-23 13:13] KalleOlaviNiemitalo commented on #34799
Sure, the compiler discards the `Debug.WriteLine` call in release builds. However, that still does not quite explain why a null reference exception is thrown.

Without seeing the original poster's source code, I guess the exception could be caused by the garbage collector either clearing a weak reference or calling a finalizer that then resets some field to `null`. If so, `GC.KeepAlive` could be o

[2020-07-23 13:17] PeterSolMS commented on #39600
AVX512 is roughly about 2.2x faster than AVX2 for 64-bit elements, and about 1.4x faster for 32-bit elements, according to Dan Shechter's numbers. That is unless we're limited by memory bandwidth, in which case the difference is less. However, it's quite common to have one GC server thread take significantly longer than the others due to a larger mark list, in which case the other GC threads will

[2020-07-23 13:22] xtremertx opened #39836 "Fatal error. Internal CLR error. (0x80131506) - Unknown reason!"
### Description

I have created an AVX2 (256-bit) version of ChaCha20 symmetric encryption algorithm, however after using the following trick in order to force compiler to generate better performance code ([link](https://vcsjones.dev/2019/02/01/csharp-readonly-span-bytes-static/)), everything failes on runtime error. This happens when I'm trying to access 'CachedMasks' static property of type Read

[2020-07-23 13:29] benaadams commented on #39836
Aside `ReadOnlySpan<uint> CachedMasks => new uint[]` only works for `ReadOnlySpan<byte>` for other types it will allocate an array each time (due to unknown endianness) so `CachedMasks` will not be a fixed location for `uint`, which will mean the `(uint*)Unsafe.AsPointer` call will create an untracked pointer and GC hole.

[2020-07-23 13:31] xtremertx commented on #39836
but when I use fixed statement if will crash too?

[code]

[2020-07-23 13:36] ViktorHofer commented on #39473
Happened here again: https://helix.dot.net/api/2019-06-17/jobs/9b6ba048-2f3a-47aa-9f8d-67a294408c7b/workitems/System.Runtime.Extensions.Tests/files/console.6dbef032.log

[2020-07-23 13:37] john-h-k commented on #39836
[code]
(pretty sure that is the right way to do it for little endian)

[2020-07-23 13:43] xtremertx commented on #39836
Gonna to try it. But I think that you did not answered my question about 'fixed' statement, if 'ReadOnlySpan<uint>' allocates a new array each time because it doesnt know endianess in advance, then if I get a managed pointer on it and use it inside of 'fixed' block, GC should deallocate that pointer once that block is finished?!

[2020-07-23 13:54] vcsjones commented on #39835
This is a lot easier now in .NET 5 with `CustomTrustStore`. For example, you could do something like:

[code]

Perhaps a new API would make this useful, even though `X509Chain` now makes this only a few lines of code. That said, if we want to add something like `TrustedRootCertificates`, there is probably merit for `ExtraCertificates` as well.

The use-case for something like `TrustedRootCertifica

[2020-07-23 13:56] ViktorHofer commented on #32805
Reopening as I'm hitting this in some Windows legs: https://dev.azure.com/dnceng/public/_build/results?buildId=742988&view=logs&j=694d544e-ff71-5faf-b01a-5137c04e57c6&t=38d97292-8f3b-5b9c-e49b-40e136935136

[2020-07-23 14:03] xtremertx commented on #39836
**FIXED! Thanks a lot guys! I'm going to close this issue!**

There should be some warning section in docs that if you are using `ReadOnlySpan` as static property or variable and you will use any other parameter than `byte` than behaviour will change drastically! Normal .NET devs dont know about this.

Can someone add this into documentation as a warning section - "When using ReadOnlySpan as stati

[2020-07-23 14:03] #39836 closed

[2020-07-23 14:07] vcsjones commented on #39713
If there is something that is missing to making working with RSA keys easier, please feel free to open another issue.

.NET Core 3 has `RSA.ImportRSAPublicKey` to import a DER encoded PKCS1 key, and `RSA.ImportSubjectPublicKeyInfo` to import a DER encoded PKCS8 public key.

.NET 5 will have [`RSA.ImportFromPem`][1] which will support PEM encoded RSA public keys in either PKCS1 ("BEGIN RSA PUBLIC K

[2020-07-23 14:09] vcsjones commented on #39835
cc @bartonjs @wfurt

[2020-07-23 14:37] aik-jahoda commented on #31198
As this api belongs to Http protocol we should use HTTP terminology. I suggest use `ping` instead to not confuse with HTTP 1.1 keep alive.

[code]

[2020-07-23 14:41] Clockwork-Muse commented on #36617
@bartonjs - I didn't comment on this earlier:

... normally the way something like this would be used is as a singleton per application (Or, in a web context, cached singleton per resolved user timezone), and injected into all methods requiring "getting" current time (note that most methods that "use" current time should be instead accepting it as a parameter).  Am I missing something about why th

[2020-07-23 14:57] layomia commented on #39790
This is known/by design. Properties cannot inherit System.Text.Json attributes. The attributes need to be placed on each (de)serializable override.

[2020-07-23 14:57] #39790 closed

[2020-07-23 14:57] kakone commented on #39835
Great, I hadn't noticed this new properties on ChainPolicy. Indeed, it's much easier now.

Yes, you are totally right, it's exactly that. To add an ExtraCertificates property would be perfect and would cover most needs.

[2020-07-23 15:10] KalleOlaviNiemitalo commented on #39836
An analyzer could perhaps warn about `static ReadOnlySpan<T> property => new T[] { … };` where `T` is not `byte` and the array elements are constants, and suggest replacing with `static ReadOnlySpan<T> property { get; } = new T[] { … };`. That would fix the repetitive construction of arrays but not the crash caused by not pinning the array.

[2020-07-23 15:11] Clockwork-Muse commented on #39816
... we've had `System.Time.Date` and `System.Time.Time` types in corefxlab for years, although they've never been pulled in.

Personally, I rather wish that we'd get a good, complete, first-party date/time library, [like I proposed years ago](https://github.com/dotnet/runtime/issues/14744).  For one thing, it allows representations much closer to conceptual/semantic than the limited types you've p

[2020-07-23 15:19] #31092 closed

[2020-07-23 15:20] #31844 closed

[2020-07-23 15:20] #31872 closed

[2020-07-23 15:20] #963 closed

[2020-07-23 15:20] #35061 closed

[2020-07-23 15:20] #37959 closed

[2020-07-23 15:20] #1919 closed

[2020-07-23 15:20] #31757 closed

[2020-07-23 15:20] #38278 closed

[2020-07-23 15:21] ericstj commented on #39734
cc @pgovind @jeffhandley

[2020-07-23 15:30] steveisok commented on #39379
@akoeplinger was this before or after enabling ICU?

[2020-07-23 15:32] steveisok commented on #39285
@EgorBo Since we hit a good spot w/ ICU, please update.

[2020-07-23 15:34] MattGal commented on #32805
@ViktorHofer this isn't an inability to unzip assets, it's an inability to download them.  From your logs:

[code]
... but if you download that zip, you'll find it's > 380 MB, not 78

I have an issue about this I can dig up.

[2020-07-23 15:37] am11 commented on #39598
Stats from macOS (ignoring the `lib` prefixes additions to all libs in net5 and mutually exclusive binaries), there is only one regression in `libhostpolicy.dylib`, all the rest of native libraries have gotten size reduction:

| Library Name  | netcoreapp3.1 (KB)  | net5.0 (KB) |
|---|---|---|
| libhostfxr.dylib | 400	 | 396 |
| System.IO.Compression.Native.dylib | 928	 | 900 |
| System.Native.dyl

[2020-07-23 15:38] steveisok commented on #37709
@EgorBo Please validate now that we have ICU snapped in.

[2020-07-23 15:45] AaronRobinsonMSFT commented on #39827
@DmitryGaravsky The built-in support for WinRT API has been removed. This support was removed as a documented breaking change - see https://github.com/dotnet/runtime/issues/37672. The removal of built-in WinRT support does seem to make the marshalling of `HString` to be less interesting, but we welcome feedback if this is a requirement even in cases where WinRT isn't being used. The replacement fo

[2020-07-23 15:45] layomia commented on #39795
In the existing `JsonConverter` model, custom converters do not have to worry about handling partial data, as the serializer passes all the data for the current JSON scope. `Skip`/`TrySkip` logic is unnecessary. cc @tdykstra we should consider adding a section about this in the docs.

The "read ahead" logic that the serializer performs to make this possible does have some perf implications. There

[2020-07-23 15:49] lewing commented on #39223
@thaystg can you take a look at this?

[2020-07-23 15:51] thaystg commented on #39223
Yes!

[2020-07-23 15:54] steveisok commented on #38283
We added https://github.com/dotnet/runtime/pull/38690, which should allow a lot of the threading tests to pass.  Closing this issue and will add another for us to go back and enable what we disabled previously.

[2020-07-23 15:54] #38283 closed

[2020-07-23 16:01] steveisok commented on #38124
@mdh1418 Can you see what wasm w/ ICU enabled produces?

[2020-07-23 16:02] pranavkm commented on #38539
@steveharter do you know if this change made it to p8?

[2020-07-23 16:02] aik-jahoda commented on #31198
ASP.NET Core has nice names:
[code]

[2020-07-23 16:16] karelz commented on #39785
@layomia @Jozkee @eerhardt looks like HttpClientExtensions for Json - can you please check it out if it is bug there?

[2020-07-23 16:19] scalablecory commented on #39838
CC @tannergooding

[2020-07-23 16:20] Alvin-Seville opened #39840 "Why Debug.Assert is used instead of direct exception throwing in Attribute.cs?"
![image](https://user-images.githubusercontent.com/42812113/88235629-df076b00-cc40-11ea-9b99-c116ac0acc96.png)

Hello! Can somebody tell me why `Debug.Assert` is used instead of direct exception throwing? When this approach is better than exceptions?

[2020-07-23 16:24] wfurt commented on #39835
If anything, I would add it to https://docs.microsoft.com/en-us/dotnet/api/system.net.security.sslclientauthenticationoptions?view=net-5.0

But as @vcsjones it is pretty simple now.

This is dup of #39590.

[2020-07-23 16:25] tarekgh commented on #39829
@GrabYourPitchforks just checking if you are triaging this area?

[2020-07-23 16:26] steveisok commented on #39202
@CoffeeFlux Just to see how far I could get in this test, I commented out the `FileNotFoundException` assertion.  Seems to fail at https://github.com/dotnet/runtime/blob/24f63eca6350ce0f9d311b848427a4aa97a14ccd/src/libraries/System.Runtime.Loader/tests/DefaultContext/DefaultLoadContextTest.cs#L106

Any ideas as to why?

[2020-07-23 16:31] bartonjs commented on #39835
Rather than needing to add more properties and/or mode selectors in the future that can poorly interact, maybe a better answer is to provide some delegate factories.

[code]

And then at the HttpClient layer:

[code]

Yeah, new methods would have to / could be added for "custom anchors" (being able to trust non-root CAs for the call), when that support ever gets added to X509Chain, but making dele

[2020-07-23 16:48] layomia commented on #38539
@pranavkm, it did - find "38f6ebc" here https://github.com/dotnet/runtime/commits/release/5.0-preview8.

[2020-07-23 16:50] CyrusNajmabadi commented on #38872
Yup. I wrote my own. You can see the code here: https://github.com/dotnet/roslyn/blob/697e6309ab78bd0e36e537cb1be93bdc23af9125/src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexParser.cs

The existing .net parser is unsuitable for many reasons. First, you can DOS it. Second, it doesn't actually give you a tree back that is needed for providing suitable IDE features.

Yup. We hav

[2020-07-23 16:52] MihaZupan commented on #39785
We are not ignoring the BaseAddress. The issue here is that the Uri is created without explicitly specifying `UriKind.Relative` in the constructor.

You should use `new Uri("/api/User/RefreshToken", UriKind.Relative)`, or simply use the string overload of `PostAsJsonAsync`.

`new Uri("/api/User/RefreshToken")` will throw on Windows, but on Linux it will be parsed as an absolute file path.
As it is

[2020-07-23 16:52] #39785 closed

[2020-07-23 16:52] vsfeedback opened #39843 "Broken parsing of c# file (static delegate?)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1120503/broken-parsing-of-c-file-static-delegate.html)._

---
[severity:My work is severely impacted or blocked (internal MSFT only)]
Repro steps
###
1) Open dotnet runtime System.Net.Http solution: https://github.com/dotnet/runtime/tree/master/src/libraries/System.Net.Http

[2020-07-23 16:54] vsfeedback opened #39844 "Broken parsing of c# file (static delegate?)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1120503/broken-parsing-of-c-file-static-delegate.html)._

---
[severity:My work is severely impacted or blocked (internal MSFT only)]
Repro steps
###
1) Open dotnet runtime System.Net.Http solution: https://github.com/dotnet/runtime/tree/master/src/libraries/System.Net.Http

[2020-07-23 16:55] tarekgh commented on #39843
dup of #39844

[2020-07-23 16:55] #39843 closed

[2020-07-23 16:59] lmolkova commented on #31261
I was OOF for quite a while, sorry for not commenting earlier.

I agree that exposing `DiagnosticasHandler` make sense as it enabled diagnostics for custom/customized innermost handler, and makes instrumentation testable.
I guess we might want to expose some configuration and perhaps different defaults (so we don't enable back-compat stuff).

 @karelz assuming we make decision to expose it , did w

[2020-07-23 17:04] scalablecory commented on #39844
This is a Visual Studio bug, not a .NET bug. @tarekgh can you reroute the original bug to VS?

[2020-07-23 17:18] terrajobst commented on #35088
* Makes sense. We discussed pushing it down but decided against because people are not likely to code against these properties in a generic fashion.

[code]

[2020-07-23 17:18] KalleOlaviNiemitalo commented on #39840
The question refers to source code of System.Attribute: <https://github.com/dotnet/runtime/blob/53976d38b1bd6917b8fa4d1dd4f009728ece3adb/src/libraries/System.Private.CoreLib/src/System/Attribute.cs#L114-L116>

That assertion actually fails in this case:

[code]

[2020-07-23 17:18] danmosemsft commented on #38872
Not everyone authors their regexes in VS. They may use another tool, or they may accept input, eg., from a file. In such a scenario, this would help suggest where the error is in a potentially large pattern, no different to a compiler error giving an error and a location rather than just saying the code is invalid.

[2020-07-23 17:22] cijothomas commented on #31261
Please consider making backports to 2.1 and 3.1 as well to benefit more customers. :) Many of the affected customers are not going to be in 5.0 anytime soon :(

[2020-07-23 17:26] tarekgh commented on #39844
@scalablecory can't this be because of our toolchain customization? remember we build in Runtime so different than regular projects. This could be the NuGet packages not restored properly when loading the project which can cause this issue.

[2020-07-23 17:27] steveisok commented on #38126
Since ICU is going to be enabled for blazor, is this still an issue?

[2020-07-23 17:27] am11 commented on #39838
Unrelated to the platform disparity; I think that method needs `if (lat1 == lat2 && lon1 == lon2) continue;` after `double lon2 = double.Parse(longitudesXAtt[i + 1].Value);` line.

tested your code on macOS and Ubuntu with one complex gpx file, `Math.Acos` turns 1.000003 like numbers into NaN. I also cannot share the file; company property etc. 😉

[2020-07-23 17:28] terrajobst commented on #31198
* Makes sense, but we propose to change `Interval` to `Delay`.

[code]

[2020-07-23 17:32] mangod9 commented on #39681
Tried on checked with 1000 iterations without failure. I am running the test in isolation however, does helix run group of tests in-proc by any chance?

[2020-07-23 17:32] safern commented on #38126
I think we can close this now... also now in .NET 5.0, InvariantMode is the same for WASM and non-WASM, before it was the Mono Globalization implementation which differed.

[2020-07-23 17:33] #38126 closed

[2020-07-23 17:40] abelbraaksma commented on #38872
@CyrusNajmabadi, if you use one of the `Regex` overloads that contains a static string for the regex argument, you can get editor-time feedback if the regex is faulty. This suggestion makes implementing such feedback easier. It's certainly not a silver bullet for all scenarios.

I can imagine the wish for feedback in the form of an AST, and splitting parsing and compiling, but that's beyond the sc

[2020-07-23 17:41] BruceForstall commented on #39681
You can see in the log file exactly how Helix runs it:

https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-511b36470d96438d99/JIT.Regression.CLR-x86-JIT.V1-M09-M11/console.2e797cda.log?sv=2019-02-02&se=2020-08-08T23%3A03%3A03Z&sr=c&sp=rl&sig=ECJcsMevh7svm9qcrU2U4KmAins6F4U%2FzNmUBe%2Fox5o%3D

It runs under the dotnet xunit console runner, and I believe runs all

[2020-07-23 17:45] AndyAyersMS opened #39845 "JIT: breaking IGs for perf score leads to check-release GC info diffs"
As part of root-causing #39023, I was running check-release diffs via SPMI, and saw a large number of GC info diffs.

Tracked this down to this particular bit of code:

https://github.com/dotnet/runtime/blob/24f63eca6350ce0f9d311b848427a4aa97a14ccd/src/coreclr/src/jit/codegenlinear.cpp#L347-L367

We shouldn't form full IG boundaries differently in check and release. It's tolerable to form differen

[2020-07-23 17:47] AndyAyersMS commented on #39845
Based on some cursory analysis, I don't think the different GC info is wrong, though I'm not 100% sure. The upshot seems to be that in checked builds we terminate GC lifetimes earlier than we do in release.

[2020-07-23 17:48] terrajobst commented on #39489
We should consider a factory method like:

[code]

This would allow library code to write code like this:

[code]

However, the proposed API also makes sense:

[code]

@scalablecory, please discuss this with your networking folks and file a separate feature, likely for 6.0.

[2020-07-23 17:49] AaronRobinsonMSFT commented on #39827
/cc @jkoritzinsky

[2020-07-23 17:50] AndyAyersMS commented on #39845
Sample diff jit gc encoder trace from the problematic method in #39023 (red is chk, green is rel):
[code]

[2020-07-23 17:51] CoffeeFlux commented on #39202
This, apparently, doesn't work on wasm. Unsure of whether it's because the event isn't triggered or the load is just returning null, but my instinct is to say the latter.
https://github.com/dotnet/runtime/blob/24f63eca6350ce0f9d311b848427a4aa97a14ccd/src/libraries/System.Runtime.Loader/tests/DefaultContext/DefaultLoadContextTest.cs#L67-L73

[2020-07-23 17:54] AndyAyersMS commented on #39845
This could also lead to codegen diffs as the emitter peepholes for x64 don't look back across IG boundaries. So it's possible we'd do a bit less peepholing on x64 chk than ret. I haven't found an example of this.

If we go the route of having the code above produce extended IGs then we still may have chk-release diffs as the x64 peepholes don't look back across extended IG boundaries. So arguably

[2020-07-23 17:57] BruceForstall commented on #39845
I don't see any harm in making the highlighted code run on all configurations. I don't think we should create "extended" IGs for this purpose: nobody should ever do anything different due to extended IGs; the peepholes that behave differently in the presence of extended IGs should be fixed (I thought there was already a proposal to do so, based on doing "the right thing" for arm64 peeps).

[2020-07-23 18:02] scalablecory commented on #39844
Ahhh I see, ok. @safern can you please help us out here?

FWIW I can not reproduce this on my machine.

[2020-07-23 18:04] tarekgh commented on #39844
This may depend on if you built the repo before (I didn't try that though). you may try do `git clean -fdx` and then go and load the solution after that.

[2020-07-23 18:11] AndyAyersMS commented on #39845
Thinking some more, this issue won't cause any new chk-rel codegen diffs; these extra IGs in chk happen only if the pred is a BBJ_COND none of our peepholes are effected as the previous instruction will be some kind of branch.

[2020-07-23 18:13] terrajobst commented on #36617
@maryamariyan @davidfowl would we be OK with a breaking change to reconcile the `ISystemClock` types into a single core type? If not, we shouldn't do this. If yes, then I think we can make progress.

[2020-07-23 18:16] GrabYourPitchforks commented on #30612
Updated proposal at https://github.com/dotnet/designs/pull/147.

[2020-07-23 18:17] EgorBo commented on #37709
hm.. still reproduces, investigating...

[2020-07-23 18:20] terrajobst commented on #31170
* Looks good as proposed

[code]

[2020-07-23 18:29] terrajobst commented on #256
* Looks good as proposed
* We should have an analyzer that flags usages, [just like for the AES types](https://github.com/dotnet/roslyn-analyzers/issues/3646). @tannergooding, please file the request and label it with `code-analyzer`.

[code]

[2020-07-23 18:39] ygoe opened #39848 "Add LogLevel.Notice (for syslog)"
## Background and Motivation

The [`LogLevel`](https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Extensions.Logging.Abstractions/src/LogLevel.cs) enum has a number of log levels for different logging events. Syslog, the Linux logging system that can also be used with Journald, has different (other/more/less) levels. While the highest syslog levels may only apply to system error

[2020-07-23 18:41] ygoe commented on #39848
@Dotnet-GitSync-Bot I've seen the label "area-Extensions-Logging" that might fit here. I'm not allowed to assign this.

[2020-07-23 18:42] terrajobst commented on #371
* The added constructor seems to add little value, the bigger gains would be `Process.Start()`

[code]

[2020-07-23 18:57] punska666 opened #39850 "new"
### Description

### Configuration

### Regression?

### Other information

[2020-07-23 18:58] punska666 opened #39851 "api"
## Background and Motivation

## Proposed API

## Usage Examples

## Alternative Designs

## Risks

[2020-07-23 18:58] punska666 opened #39852 "performance"
### Description

### Configuration

### Regression?

### Data

### Analysis

[2020-07-23 18:59] danmosemsft commented on #39852
Looks like an accident. @punska666 if you fix this, feel free to reopen.

[2020-07-23 18:59] #39852 closed

[2020-07-23 19:00] terrajobst commented on #785
* Proposed as-is

[code]

[2020-07-23 19:02] danmosemsft commented on #37360
Apologies for somehow missing this. It's a duplicate of https://github.com/dotnet/runtime/pull/39766. Arbitrarily taking the other one since CI just ran on it. Sorry about that and thanks for the fix.

[2020-07-23 19:02] #37360 closed

[2020-07-23 19:05] #30612 closed

[2020-07-23 19:11] danmosemsft commented on #37360
Fixed by #39766 (and #37513!)

[2020-07-23 19:23] jeromelaban opened #39855 "[Wasm] Build options to enable AOT in monovm"
### Description
The build options to build for WebAssembly AOT are not yet available in the runtime, like they are in mono/mono.

The only option I can find is here:
https://github.com/dotnet/runtime/blob/b613cbe051234c4e55e32d0dcd198fb3e7974567/src/mono/mono.proj#L628

Is this the only option to ensure the interpreter+AOT is enabled?

[2020-07-23 19:26] kzu opened #39857 "Default activity name to caller member name if not provided"
The improvements up to [part 2](accepted/2020/diagnostics/activity-improvements-2.md) have made things substantially more usable for the Activity API. This is a small proposed improvement to introduce a sensible default activity name.

## ActivitySource.StartActivity

We currently require an activity `name` to be provided as the only required argument in `ActivitySource.StartActivity` overloads. F

[2020-07-23 19:39] tarekgh commented on #39857
I am seeing this is kind nice to have but wouldn't add much value especially I am not seeing this is main scenario. Providing such overload can cause confusing for the API users too as it switch the parameters with other existing overload.
Whoever want the proposed scenario can easily create a small wrapper which would be simple and enough.

[code]

CC @noahfalk

[2020-07-23 19:50] Jozkee commented on #39785
If you use `new Uri(string)` the instance is created with `UriKind.Absolute`, which is not accepted by `HttpClient` methods if it doesn't start with http or https. When you pass the url using the string overload, the `Uri` is instantiated with `UriKind.RelativeOrAbsolute`.

@RichardVogelij just out of curiosity, what package were you using on .NET core 3.1 (Microsoft.AspNetCore.Blazor.HttpClient o

[2020-07-23 19:53] danmosemsft commented on #2036
If I understand right, given the caller can't choose the polynomial, and we will use the fixed CPU specific algorithm if available, this API would only be useful for callers that are (a) not interoperating with some other format that has a chosen polynomial (such as zlib), and (b) do not need to exchange the value across architectures. Is that right?

[2020-07-23 20:15] BeastLe9enD commented on #39798
Okay, with *Marshalling* i

Perhaps I expressed myself a little unfavorably in the case. I just wanted to mention that for example
if you pass a managed string object to C++, with PInvoke you are only able to use the string in C++ by marshalling to a const char* or pinning the object that the fixed UTF-16 string isnt moved by the GC while working with it on the native side.
In Mono, you can regist

[2020-07-23 20:17] BeastLe9enD commented on #39798
@AaronRobinsonMSFT
Perhaps I expressed myself a little unfavorably in the case. I just wanted to mention that for example
if you pass a managed string object to C++, with PInvoke you are only able to use the string in C++ by marshalling to a const char* or pinning the object that the fixed UTF-16 string isnt moved by the GC while working with it on the native side.
In Mono, you can register an int

[2020-07-23 20:23] karelz commented on #31261
The chance to get it into 5.0 is very low at this point. The team is busy, time is short, this is not the highest priority issue for 5.0 and the design is unclear and will require iterations - https://github.com/dotnet/runtime/issues/31261#issuecomment-660204822

@cijothomas .NET Core does not add new APIs in servicing -- I think it is because we don't ship new ref assemblies to use the new APIs.

[2020-07-23 20:23] safern commented on #38995
I can't find any test disabled against this issue and we already enabled this test assembly. Closing

cc: @steveisok @akoeplinger

[2020-07-23 20:23] #38995 closed

[2020-07-23 20:24] tannergooding commented on #2036
We likely could provide both and we might even be able to expose the API in such a way that the JIT specially handles the method if the polynomial given is constant.

But as proposed, it would be limited to the given polynomials.

[2020-07-23 20:35] sglienke opened #39864 "IEnumerable<T>.SkipLast and TakeLast behave wrong"
### Description

`SkipLast` and `TakeLast` behave wrong when the source is a countable collection such as `List<T>` as it internally determines the min and max index to take which is wrong when the collection is modified afterwards.

### Configuration

Observed in .NET Core 3.1 and .NET 5 preview

### Other information

The defect for `TakeLast` was likely introduced with https://github.com/dotnet

[2020-07-23 20:39] danmosemsft commented on #2036
I guess I'm wondering whether there's examples when this API with the "undefined" polynomial would be useful. But maybe that's not that different to asking when the intrinsics we already have would be useful. It would have to be when you're producing/consuming on the same machine. (Unless I misunderstand)

[2020-07-23 20:45] ericstj commented on #38582
@safern is contributing https://github.com/dotnet/runtime/pull/39854 which will need to be included as well.

[2020-07-23 20:47] kzu opened #39866 "Add Activity.GetTagItem"
## Background and Motivation

Both `Activity.Tags` and `Activity.Baggage` have a somewhat unusual `IEnumerable<KeyValuePair<string, string?>>` type, which makes it cumbersome to access individual values (i.e. can't do `activity.Tags.TryGetValue(key, out var value)`). The latter adds a [Activity.GetBaggageItem](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Diagnostics.Diagnosti

[2020-07-23 20:55] alefranz opened #39867 "JsonConsoleFormatter: should include formatted string for scopes"
### Description

From https://github.com/dotnet/runtime/issues/39664#issuecomment-662315321

Currently the new JsonConsoleFormatter does not includes the formatter message for the scopes.
As the formatted message is available for the log entry itself and it is generally available in others structured logging providers.

#### Sample code
[code]
#### Current result
[code]
#### Expected result

[code

[2020-07-23 20:58] karelz commented on #31198
'Delay' feels weird to me (as ESL) vs. Interval.
@JamesNK what do you think? IMO it would be nice to align ASP.NET and Runtime at least ... if 'Delay' is better for everyone, I am fine with it.

[2020-07-23 21:04] tarekgh commented on #39866
@kzu Activity mainly collecting tags/Baggages and then when logging it will just get the list of these. could you please elaborate more on your scenario and what you are trying to do?

[2020-07-23 21:04] tarekgh commented on #39866
CC @noahbkim

[2020-07-23 21:05] prajaybasu commented on #17655
Any updates on this?
I noticed that PBKDF2 was also implemented in [ASP.NET Core](https://github.com/dotnet/aspnetcore/tree/master/src/DataProtection/Cryptography.KeyDerivation/src/PBKDF2).
These should be a part of an extensions API or corefx, is there any reason to use the above API over the .NET Core API?

[2020-07-23 21:05] #38541 closed

[2020-07-23 21:17] wfurt commented on #31198
Interval implies regularity. It seems like we will send PING only of there is no other activity e.g. time after.

[2020-07-23 21:18] SingleAccretion commented on #39866
@tarekgh This could be achieved if the new `TagObjects` property was exposed as `IReadOnlyDictionary<string, object>` instead of `IEnumerable<string, object>`. It is would be backed by `ActivityTagsCollection` which implements `IDictionary<string, object>` anyway.

That said, I feel like I am forgetting something from the review why was it not done this way.

[2020-07-23 21:18] #23972 closed

[2020-07-23 21:28] JamesNK commented on #31198
In ASP.NET Core we called it `KeepAlivePingInterval`.

[code]

However I'm happy to change it to KeepAlivePingDelay. @wfurt's point is good and I don't have a strong opinion.

[2020-07-23 21:33] ericstj commented on #37421
Is this fixed now that ConsoleLogger changes are in?

[2020-07-23 21:33] ericstj commented on #36515
@davidfowl is the goal here to make this completely allocation free at steady state?  Did you have specific ideas for low-hanging fruit that we should look at first?

[2020-07-23 21:37] tarekgh commented on #39866
@SingleAccretion we are exposing the list as IEnumerable to ensure the order in the list. The internal implementation is not using ActivityTagsCollection either because there is some behavior specific to Activity. e.g. AddTag(string, object) can allow adding a duplicated entry (with same key). ActivityTagsCollection wouldn't allow duplication.

[2020-07-23 21:48] alefranz opened #39870 "JsonConsoleFormatter: number and boolean properties should not be converted to string"
### Description

Currently the new JsonConsoleFormatter converts all the values of the key/value pairs in both the state and scopes to string.
As json supports numbers and booleans, I think the _built-in value types_ should not be converted to `string`.
Using number would allow to write range queries once ingested on a log analysis system.

/cc @maryamariyan

#### Sample code
[code]
#### Current r

[2020-07-23 21:49] SingleAccretion commented on #39866
@tarekgh I see, then this would really be better exposed as a method on `Activity` itself. The problem, as I can guess, is that it effectively makes `O(1)` item retrieval a part of the public contract which is not desirable.

[2020-07-23 21:51] alefranz commented on #39870
@maryamariyan if this change is agreed, I could work on a PR if it helps.

[2020-07-23 21:52] mgwelch opened #39927 "No XML Documentation for core dotnet assemblies in VS Code"
# Issue Title

A brand new (re)-install of dotnet core (dotnet-sdk-3.1.302-osx-x64.pkg) on macOS does not appear to have xml documentation for all assemblies. (At least VS Code doesn't find it. However, as I write this I see that Visual Studio for Mac is giving me documentation pop-ups)

# General

I'm running macOS Catalina (10.15.6) and VS Code (1.47.2). When I use IntelliSense or hover over a s

[2020-07-23 21:52] tarekgh commented on #39866
@SingleAccretion could you please tell more about your scenario and what you are trying to do? https://github.com/dotnet/runtime/issues/39866#issuecomment-663231606

[2020-07-23 21:55] SingleAccretion commented on #39866
@tarekgh Well, I am not the original poster, I am just commenting on the API, so I am afraid I would not be of much help in coming up with (real-world) scenarios for it.

[2020-07-23 21:59] tarekgh commented on #39866
As I commented this is not the common scenario as Activity been there for years and this was not requested. Also, internally we are maintaining the list in order too. So even we expose it most likely wouldn't be `O(1)` except if we add overhead on the perf to do it O(1) and in same time be ordered which no-one so far required it.

[2020-07-23 22:03] wfurt commented on #31198
I'm merely repeating arguments from API review :)

[2020-07-23 22:07] stephentoub commented on #39840
Related to https://github.com/dotnet/runtime/issues/35784

[2020-07-23 22:18] alefranz commented on #39848
For completeness, here are Syslog 8 levels, however level 0 should not be used by applications so the only missing is Notice.

| Level | Description                              |
|-------|------------------------------------------|
| 0     | Emergency: system is unusable            |
| 1     | Alert: action must be taken immediately  |
| 2     | Critical: critical conditions            |
| 3

[2020-07-23 22:20] nzstevem commented on #39831
A few more thoughts...

There's a need here for a generally more sophisticated api. I've been working with the iCloud photo directory. Apple have recently changed the way this works - by default only links are downloaded by the win10 icloud client, the file names have become GUID like (useless for a human to work with), and they no longer support down loading to a directory hierarchy so you end up

[2020-07-23 22:26] #39851 closed

[2020-07-23 22:26] #39850 closed

[2020-07-23 22:27] maryamariyan commented on #34742
Thanks again all for the feedback. I'll close this as complete as it should now satisfy the requested features described in the description. Any further feature requests or bugs can be tracked separate new issues.

[2020-07-23 22:27] #34742 closed

[2020-07-23 22:36] DmitryGaravsky commented on #39827
Hi Aaron, thanks for participating

Could you please describe in detail why "removing built-in support for WinRT API" affects the PInvoke to **Combase.dll** in this way?
`DllImport("Combase.dll")`
And why the exception says just about the **marshaling error**?

I understand that under the hood the _RoGetActivationFactory_ function is exported by the **api-ms-win-core-winrt-l1-1-0.dll**. This libra

[2020-07-23 22:50] jkoritzinsky commented on #39827
The P/Invoke fails because of the usage of `[MarshalAs(UnmanagedType.HString)]`. The `HSTRING` type was introduced with WinRT in Windows 8 and continues to only be used with WinRT-related APIs (including `RoGetActivationFactory`).

Your workaround has a memory leak: It never releases the created `HSTRING`.

You should add a wrapper for `WindowsDeleteString` as you have for `WindowsCreateString` an

[2020-07-23 22:51] AaronRobinsonMSFT commented on #39827
@DmitryGaravsky These are all good questions.

It impacts this API because the `UnmanagedType.HString` marshalling type was a part of the WinRT system. The [`HSTRING`](https://docs.microsoft.com/windows/win32/winrt/hstring) type was created for WinRT and as such we removed it because if WinRT types are not longer built-in then there is no reason to provide that support. The new support for WinRT i

[2020-07-23 22:55] DustinCampbell commented on #39872
Here's information from my investigation of the issue:

[2020-07-23 22:59] danmosemsft commented on #39831
Would you consider updating the top post to be in the format of [API Proposal ](https://github.com/dotnet/runtime/issues/new/choose) ?

Generally we want to only represent concepts that make sense across Windows, macOS and Linux, so some thoughts about what that would mean would be good.

[2020-07-23 23:04] safern commented on #39473
Another hit in: https://github.com/dotnet/runtime/pull/39854

[2020-07-23 23:06] danmosemsft commented on #39872
We welcome PR's 😊

[2020-07-23 23:06] MSLukeWest commented on #36479
We've created the tool, see sources here: https://github.com/dotnet/deployment-tools/tree/master/src/clickonce/native/projects/NetCoreCheck

[2020-07-23 23:08] safern commented on #39872
This has been the behavior since 3.1 so marking as future for now given the timeframe, but a PR is welcome if we want to get this in earlier 😄

[2020-07-23 23:08] AaronRobinsonMSFT commented on #36479
Thanks @MSLukeWest. Looks great. We are going to close this issue then.

[2020-07-23 23:08] #36479 closed

[2020-07-23 23:13] davidfowl commented on #36515
@ericstj as close as we can get to that. I can't remember where those allocations were coming from. We should get a new profile to see if any of the low hanging fruit sticks out.

[2020-07-23 23:15] jeffhandley commented on #39401
@ericstj If we do decide to apply the obsoletions to netstandard, would we still need to conditionally compile the ref assembly such that it uses the .NET 5.0 `ObsoleteAttribute` with `DiagnosticId`/`UrlFormat` while using either the traditional `ObsoleteAttribute` downlevel or using an internally-defined attribute with the properties?

Meaning... would we still need net5.0-conditional compilation

[2020-07-23 23:22] safern commented on #39401
Nope... the conditional compilation is only needed to distribute different compile assets for different frameworks.

[2020-07-23 23:34] teo-tsirpanis opened #39873 "Consider devirtualizing & inlining Comparer<T>.Default.CompareTo as well."
Starting in .NET Core 2.1, calling `EqualityComparer<T>.Default.Equals` is specially optimized by the JIT by devirtualizing and inlining the equality check.

However, [as seen in SharpLab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABABgAIBlAC2ygAcAZbYAOgCUBXAOwwEt8MANwBYAFDEATAEZxZcsWkpREgMwLpSBZPIBhcgG9x5E+QDaAKT4YA4jG4wofMAAoMAT3owIAMxd9eAEpAgF1jU2J1RS0AjD0IfHo6GAAeABUAPhc08gRpNH

[2020-07-23 23:45] AaronRobinsonMSFT commented on #39827
@DmitryGaravsky I am going to close this for now as the described behavior is expected. Feel free to continue the conversation here or tag myself or @jkoritzinsky if you report issues on the CsWinRT repo. Thanks.

[2020-07-23 23:45] #39827 closed

[2020-07-24 00:05] AndyAyersMS commented on #39873
Thanks, will take a look. Suspect this is similar to #39519, the jit devirtualizes late and so can't inline.

[2020-07-24 00:13] merriemcgaw commented on #39875
https://referencesource.microsoft.com/#System/services/io/system/io/FileSystemWatcher.cs,30 for reference to the Framework approach.

[2020-07-24 00:20] rgarrison12345 opened #39876 "DbConnection.CloneWith"
Hello,

Often times I find I have to clone an existing instance of DbConnection object.  But I want to clone it with a different connection string, but still keeping same security information.  Such as password, user name, etc.

public abstract DbConnection CloneWith(string connectionString);

[2020-07-24 00:29] CyrusNajmabadi commented on #38872
Well.. somewhat.  A core problem for the editor case is that the positions of these exceptions doesn't match string index positions. For example `"Foo\\bar\n\\nbaz"`.  You need to know how the original textual characters in the doc match the end characters that go into teh regex engine to get anything working properly.

THis is one of hte reasons i do *not* use the actual .net parser here.  But, f

[2020-07-24 00:38] danmosemsft commented on #39875
@merriemcgaw does it have to be `IODescriptionAttribute` or can it just be `DescriptionAttribute`? For some reason we never ported the former. I'm guessing the designer doesn't care?

Here's where it should be
![image](https://user-images.githubusercontent.com/6385855/88351488-5acdea00-cd0b-11ea-9b59-bc73732a272d.png)

[2020-07-24 00:40] buyaa-n commented on #33618
@John0King `XmlWriter` could have something need to write or flush before closing the stream, but for `XmlReader` no need any final operation except just close the stream, so just using `Dispose()` suffices for async sync streams both

You can use it from Net 5.0 version, you can download 5.0 preview versions from [here](https://github.com/dotnet/installer#installers-and-binaries)

[2020-07-24 00:43] mirh commented on #2452
It's already documented, but the point of the issue was avoiding clueless users to spin in circles after an apparently successful installation.

[2020-07-24 00:46] danmosemsft commented on #39875
As for BackgroundWorker, in .NET Framework it's System.SRDescriptionAttribute which is internal. So the fix is to apply the public System.ComponentModel.DescriptionAttribute onto those. (I think that reinforces that we don't need IODescriptionAttribute)

![image](https://user-images.githubusercontent.com/6385855/88351699-1000a200-cd0c-11ea-8a3b-33a9554220ae.png)

How important are these attributes

[2020-07-24 00:50] danmosemsft commented on #38872
@pgovind perhaps you can rep this at the API review sometime?

[2020-07-24 00:54] #39125 closed

[2020-07-24 00:57] stephentoub opened #39877 "Rollout T? on unconstrained type parameters"
C# 9 just added support for `T?` on unconstrained generic parameters in https://github.com/dotnet/roslyn/pull/45993.  We can use this in dotnet/runtime in two ways:
1. To express better annotations than we currently are due to previously lacking the expressability.
2. To replace some use of [MaybeNull].

We need to do (1) for .NET 5 in order to ensure our annotations are correct, and we should str

[2020-07-24 01:01] danmosemsft commented on #38872
@abelbraaksma I made some more tweaks to the names (broke into separate edits - one of them was just sorting). LMK if those look ok.

[2020-07-24 01:05] nzstevem commented on #39831
I think there are two issues. One easily fixed - the exposure of the attribute values in the Enum. Hold this issue open for that alone.

And then the much larger issue of how to provide the required functionality in software that is specifically written to anticipate and be friendly to these environments. Even a simple thing like a default file open dialog needs a progress bar, a cancel option, an

[2020-07-24 01:09] buyaa-n commented on #31402
Sorry @joperezr misread your question, i think it would be good to have it fixed in 5.0, but as  `BinaryFormatter` is being obsoleted now not sure if we would/should fix it CC @GrabYourPitchforks

[2020-07-24 01:18] alanwest opened #39879 "Passing a UTC startTime to ActivitySource.StartActivity treats startTime as though it were local time"
### Description

Using the new `System.Diagnostics.ActivitySource` API like so:

[code]

Thank you @CodeBlanch for looking up the code that may be the likely cause:
https://github.com/dotnet/runtime/blob/b2d9dac0d44b21ec3de4fcada196610500763cca/src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs#L989

Should probably be:

[code]

[2020-07-24 01:21] abelbraaksma commented on #38872
@danmosemsft, thanks for doing those changes, I reviewed them, and I agree this is clearer than what I had for some of these fields.

I wasn't sure about the alphabetical ordering, but it sure is easier to read this way :). LGTM.

[2020-07-24 01:24] Ninds commented on #38231
Hello,
I am observing the same issue when building Excel XLL's  against .NET 5 (preview) with a modified [XLW](https://github.com/Ninds/xlw).  XLW has a hook to add the containing directory to the PATH :
[code]
This is executed quite early on when the XLL is loaded and works for most other dependant dlls that need to be found. It does not work for ijwhost.dll however.

For some reason it's too lat

[2020-07-24 01:30] abelbraaksma commented on #38872
Sure, some logic needs to be added to do it correctly, but only a handful of escapes are literal escapes, it's rather easy to do. Similar techniques are already used with interpolated strings and multiline strings, the AST has this information for the string type.

But this is not an end all solution, it improves error handling and allows to take corrective steps, or give better messages to users,

[2020-07-24 01:34] AaronRobinsonMSFT commented on #38231
/cc @agocke

[2020-07-24 01:39] John0King commented on #33618
@terrajobst  @buyaa-n  I still recommand  `XmlReader` to implement the `IAsyncDisposeable`  because it access `Stream` and `Stream` has implement `IAsyncDisposeable`  ,  the `XmlReader` will crash too if some stream  throw on `Dispose` .
because

reference souce  .net framework 4.8  `Stream` class
[code]

[2020-07-24 02:16] tarekgh commented on #39879
@alanwest thanks for the catch. do you want to submit a PR for it?

[2020-07-24 02:35] JamesNK commented on #31198
A question about no `KeepAliveWithoutRequests` in approved API.

Will idle HTTP/2 connections be closed when keep alive pings have been enabled? The first point I made in [this comment](https://github.com/dotnet/runtime/issues/31198#issuecomment-635622175) was about improving client performance by keeping the connection warm. Some customers want to avoid the high latency of the first gRPC call aft

[2020-07-24 02:49] alanwest commented on #39879
Sure! Will do shortly.

[2020-07-24 03:02] CyrusNajmabadi commented on #38872
I dunno.  Things like \u and \U escapes are not fun.  Figuring out surrogate characters and the like.

The roslyn AST does not contain this information for strings.  It's rather unfortunate, but there hasn't been enough demand to expose that yet.

If you intend on using this, then that's enough for me. I just wanted to make sure there was an actual customer that would be able to vet the suitabilit

[2020-07-24 04:24] mangod9 commented on #39681
yeah will need to try with xunit since it doesnt repro standalone.

[2020-07-24 04:30] mangod9 commented on #32723
Closing as this is dupe of the JIT bug.

[2020-07-24 04:30] #32723 closed

[2020-07-24 04:51] andrea5586 commented on #39838
Recalling from high school, you can pass to acos function values between -1 and 1. This is proved by the documentation
https://docs.microsoft.com/en-us/dotnet/api/system.math.acos?view=netcore-3.1

If the parameter passed to acos is outside the range (-1,1). NaN is returned.

Still doesn't explain the different result based on the platform.

[2020-07-24 04:55] mangod9 commented on #12328
these are some old issues, I assume these havent failed since and can be closed for now?

[2020-07-24 04:57] mangod9 commented on #13115
@cshung do we know if this is still an issue which needs to be investigated?

[2020-07-24 04:58] wli3 opened #39885 "Moving target framework parsing to runtime"
## Background and Motivation

During development of optional workload. We find many part of the system need to parse target framework. "net5.0-windows10.0.18362" means TargetFrameworkIdentifier = .NETCoreApp, TargetFrameworkVersion = 5.0, target platform identifier = windows, target platform version = 10.0.18362. Currently we have msbuild intrinsic already. And we are wondering if it should also b

[2020-07-24 05:03] mangod9 commented on #13148
this is an old issue, closing for now assuming this hasnt reproed for a while

[2020-07-24 05:03] #13148 closed

[2020-07-24 05:10] echesakovMSFT commented on #39581
The issue is understood, will submit a fix shortly

[2020-07-24 05:20] kzu commented on #39866
The scenario is exactly the same as for `GetBaggageItem` @tarekgh. Whichever was the scenario that caused that API to be introduced (i.e. being able to read a baggage or tag item by key), is the same for this.

It's a usability improvement when retrieving items. So rather than having to do the foreach at the call site (something `GetBaggageItem` currently does precisely for this reason, I'd assume

[2020-07-24 05:20] am11 commented on #39838
The way this method is written (iteratively) this can happen in realworld valid GPX file. That's why we need the early bail.

[2020-07-24 05:23] kzu commented on #39866
FWIW, my concrete scenario is that when ultimately logging from an `ActivityListener`, I need to check for the presence of certain tags to customize said logging/telemetry, and it was a bit surprising that there was no equivalent for `Tags` to what's there for `Baggage`, that's all.

[2020-07-24 05:24] BruceForstall commented on #12328
This infrastructure is long gone. Perhaps @VSadov knows if it's been replaced in AzDO.

[2020-07-24 06:13] #34709 closed

[2020-07-24 06:16] Gnbrkm41 opened #39886 "`build.cmd Clr+Libs` with Insider Preview Windows SDK fails during builds of libunwind"
I'm currently setting my laptop up for building runtime. When I attempt to build the runtime with `build.cmd Clr+Libs`, the build fails with some weird compilation error. It appears that the CoreCLR Component, for some reason, is being built for Linux on my Windows machine - I'm not exactly sure why this is happening. Helps would be appreciated 🙂

I'm on Windows 10 Home Insiders Preview (Build 201

[2020-07-24 06:19] Gnbrkm41 commented on #39886
Specifying the os via `-os Windows_NT` doesn't seem to help either.

[2020-07-24 06:25] WernerMairl commented on #35922
Hi,
working on this...

current implementation is:

``
      WriteMessage(textWriter, exception.ToString(), singleLine);
``
we can replace/extend this with a key/value trace like [this](https://docs.microsoft.com/en-us/dotnet/api/system.exception.data?view=netcore-3.1)...

but, a few aspects must be considered

exception.Tostring() output has multiple "sections" separated by newlines:
- classname

[2020-07-24 07:24] YohDeadfall commented on #36617
@terrajobst, please fix the link. The right one is https://youtu.be/WW65sGkDINQ?t=2548 (starts at 4:28).

[2020-07-24 07:37] davmason opened #39887 "FinalizeObject event sends a BulkType event for every finalized object"
### Description

When the runtime emits the FinalizeObject ETW event, it always emits the BulkType event for the type being finalized. There may be thousands of finalized objects in a trace, and therefore thousands of unnecessary events.

### Configuration

All versions of .net core

### Regression?

Not a regression, this appears to be the behavior all the way back to desktop.

### Other informat

[2020-07-24 07:49] ygoe commented on #39848
The Syslog Alert level is also missing, but I consider this only applicable to systems as well as Emergency.

What are those targets? I know three:

* Windows Event Log (never really used that, it's so complicated)
* Syslog (was mostly flat text before Journald)
* [my own one](https://unclassified.software/source/fieldlog) (which also had that [Notice level](https://unclassified.software/en/source

[2020-07-24 08:19] alefranz commented on #39848
Yes, sorry!

There are many possible targets, for example here are the one supported by serilog: https://github.com/serilog/serilog/wiki/Provided-Sinks

Even when using files or databases, where adding a new field or possible value is not a problem per se, you generally have some solution on top of it to analyse or aggregate the logs that would have to take this new level into account (into in you

[2020-07-24 08:21] lawrence-laz opened #42339 "ActivatorUtilitiesConstructorAttribute Does Not Work in Some Cases"
### Describe the bug
`ActivatorUtilities.CreateInstance<T>(IServiceProvider provider, params object[] parameters)` does not respect `ActivatorUtilitiesConstructorAttribute` in a case when constructor ordering is changed.

### To Reproduce
Steps to reproduce the behavior:
1. Using version '3.1.6' of package 'Microsoft.Extensions.DependencyInjection'
2. Run this test code:
[code]
4. See error `This

[2020-07-24 08:31] iDreamCXK opened #39926 "Memory leak by System.Net.NetworkInformation.Ping"
.Net core version : 3.1.201
OS : Linux

codes :
[code]
------------------------------------------------------------------------
The codes above running well on Windows , but memory leak on Linux .
And I have found an article that said it was solved in .Net framework 4 ,but occure now
https://docs.microsoft.com/zh-cn/troubleshoot/dotnet/framework/access-violation-call-ping-send-repeatedly

[2020-07-24 09:44] oakad commented on #28736
.NET Core SDK (3.1.201)

I'm hitting this with all new code (AWS head/upload) on Centos around 6 times out of 10 - the problem is pretty persistent.

[2020-07-24 10:05] weitzhandler commented on #24460
What would be a good way to use `Enumerable.Intersect` with a lambda for equality-comparison?

[2020-07-24 10:32] julienGrd opened #39893 "[Blazor webassembly] "The type initializer for 'Crypto' threw an exception" after upgrading to .net 5 preview 7"
Hello guys, i see a similar issue when preview7 was released but im unable to find it, so i prefer open a new issue because its a blocking problem for me to upgrade.

**The complete Exception**
[code]

**How to reproduce :**
- create a new blazor webassembly app .net 5 preview 7
- put this line of code
`var lHasher = new System.Security.Cryptography.SHA256Managed();`

Thanks !

[2020-07-24 10:58] akoeplinger commented on #39473
We _think_ this is fixed with https://github.com/dotnet/runtime/pull/39856 which is merged now (I ran four helix jobs with a loop of System.Memory.Tests for three hours with no crashes).

I'll keep a close eye on the CI results over the next few days.

[2020-07-24 11:05] akoeplinger commented on #39150
This looks like a duplicate of https://github.com/dotnet/runtime/issues/39473

[2020-07-24 11:05] #39150 closed

[2020-07-24 11:11] abelbraaksma commented on #38872
Ah, I didn't know, we recently fixed this for F#, but that has always had parameterized strings with highlighting.

Understand. There are currently already more cases in the wild, including in the tests of regexes, that use reflection to get this information. So this fix is directly applicable to that. Online regex parsers may benefit, but that's indeed speculation. I may personally update the reg

[2020-07-24 11:36] abelbraaksma commented on #38872
In addition, there was this decision from an earlier review process: https://github.com/dotnet/runtime/issues/13942#issuecomment-70185134:

And I forgot about the i18n problems (mentioned here: https://github.com/dotnet/runtime/issues/13942#issuecomment-68141257), which makes it virtually impossible currently to provide tailored information on specific errors. I'll add that to the original text.

[2020-07-24 11:49] CoffeeFlux commented on #35219
Not-so-quick update:

After the NativeLibrary test refactoring, these names and our exclusions are no longer all accurate or useful. Regardless, the test content is the same, and the failure here is interesting. A minimal repro:

NativeLibrary.c: (compiled with `clang -c -fPIC NativeLibrary.c -o NativeLibrary.o` and `clang -shared -o libNativeLibrary.dylib NativeLibrary.o` and placed in the assemb

[2020-07-24 11:53] karelz commented on #31198
Naively, I would expect that Ping does not count as "normal" request and does not prolong idle timeout. User should set longer `[PooledConnectionIdleTimeout](https://apisof.net/catalog/System.Net.Http.SocketsHttpHandler.PooledConnectionIdleTimeout)` to keep idle connections around longer. That is my naive expectations without looking at code - @aik-jahoda can you please confirm?

[2020-07-24 11:59] enricobenedos commented on #39838
@am11 thank for the code improvement about the algorithm (if (lat1 == lat2 && lon1 == lon2) continue;). But the problem in this case is not related to some equals points.
Now I'm able to show you that there is a platform problem related to `Math.Sin` method that show why on macOS there are no problem differently from linux.

Same code and same input vars on both OS as you can see from the screensh

[2020-07-24 12:06] TonyValenti opened #39892 "Make Data Type Static methods Extension Methods"
Please make many of the static methods on:
string
char
byte
int
long
etc

be Extension methods so that instead of typing things like:

[code]

I can simply type:
[code]

[2020-07-24 12:39] javiercn commented on #39893
@julienGrd thanks for reporting this issue.

This problem doesn't seem to be Blazor specific and more of an issue on the runtime on webassembly. We've moved it to the runtime repository since they'll be able to give you a faster and better answer.

[2020-07-24 12:58] am11 commented on #39838
Thanks for the screenshot. A self-contained repro, without library would be:

[code]

Linux: 0.7170660190724857
macOS: 0.7170660190724856

This is by the language specification: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/types

So I think it is best to define an epsilon value withing that range and ignore the least significant digits for distance calcu

[2020-07-24 13:18] MichalStrehovsky commented on #39600
Does AVX-512 still have the throttling issues CloudFlare talked out [here](https://blog.cloudflare.com/on-the-dangers-of-intels-frequency-scaling/) (would they affect us?).

At the end of the blog they basically recommend disabling AVX-512 unless one has some very specific tasks that rely on it.

[2020-07-24 13:23] PeterSolMS commented on #39600
We are aware of the issue and only use AVX-512 for big mark lists where (according to our back-of-the-envelope calculations) it seems worthwhile, even taking into account the ~700 us long downclocking that occurs with current Intel hardware.

After the sorting, we do the plan_phase, whose performance is more driven by main memory access speed than processor clock.

So, in theory we should be ok, b

[2020-07-24 13:23] tannergooding commented on #39838
This is misleading at best. While you need no more than 17 digits to produce a roundtrippable string, the underlying float/double may have significantly more digits available.
The longest `float` actually has 112 digits while the longest `double` has 767 digits, when looking at the exact value represented.

The issue here is in the underlying implementations for the various `Math` functions. Simpl

[2020-07-24 13:25] tannergooding commented on #39838
CC. @jeffhandley, here is another example of where normalizing the Math implementations would help resolve customer bugs/issues.

[2020-07-24 13:39] enricobenedos commented on #39838
Thank you @am11 for the Microsoft documentation snippet.
But at this point which "parameter" decides the precision value? Who decides to use 15 instead of 16 digit?
At this point every time I need to write a boiler plate on my code that fix the number of digits in order to have a standard length. But it is crazy because I'm using a cross platform framework in order to avoid differences between OS.

[2020-07-24 14:02] KalleOlaviNiemitalo opened #39895 "Publish Microsoft.Bcl.HashCode supporting HashCode.Add(null, comparer)"
<https://github.com/dotnet/runtime/pull/32090> changed the `public void Add<T>(T value, IEqualityComparer<T> comparer)` method of `System.HashCode` so that it no longer calls `comparer.GetHashCode(value)` if `value == null`. That is particularly useful if the comparer is a `StringComparer` that would throw if given `null`.

Can a new version of the Microsoft.Bcl.HashCode NuGet package be published

[2020-07-24 14:12] tannergooding commented on #39838
It's not quite as simple as just cutting digits.

`float` and `double` (and now `Half`) are `binary-based floating-point numbers`. This means they work a bit differently from normal "decimal" arithmetic you may be used to.

Namely, they are constructed out of a 1-bit sign, x-bit exponent, and y-bit mantissa. For `float`, there are 8-exponent bits and 24 mantissa bits (one of which is implicitly de

[2020-07-24 14:12] KalleOlaviNiemitalo commented on #39895
The area label might be either **area-Infrastructure-libraries** (because this is a packaging request) or **area-System.Runtime** (as in <https://github.com/dotnet/runtime/issues/39624>).

[2020-07-24 14:19] StevenRasmussen opened #39896 "Support OnXXX methods/attributes for System.Text.Json"
I saw issue #29177 which is currently closed.  However, it talks about both converts and the `OnXXX` methods but only converters has been implemented. I was really hoping this was on the roadmap for completion in the .Net 5 timeframe but don't see a separate ticket for this so I apologize if there is another ticket already open for this.

Writing a custom converter for every type for which you wan

[2020-07-24 14:25] loftyinclination opened #39897 "ExpandoObject.ContainsKey and ExpandoObject.Keys.Contains return different results"
I'm attempting to test whether an ExpandoObject contains a given key. The object is created, the key added, and then removed. Using the IDictionary.ContainsKey method returns false, but using IDictionary.Keys.Contains returns true.

This seems to be because the ExpandoObject.Remove method does not actually remove the key from the private _data field, but instead sets the value to ExpandoObject.Uni

[2020-07-24 14:28] akoeplinger commented on #38995
Yeah the tests were moved to be `[ConditionalTheory(typeof(PlatformDetection), nameof(PlatformDetection.IsNotInvariantGlobalization))]`

[2020-07-24 14:35] AlastairCodd commented on #39897
To reproduce:
[code]

[2020-07-24 14:35] akoeplinger commented on #39379
Since I opened this 9 days ago and ICU was merged 8 days ago probably before :)

I tried reenabling the tests but they still failed.

[2020-07-24 14:46] KalleOlaviNiemitalo commented on #39876
System.Data.SqlClient.SqlConnection already allows a similar feature if you use SqlCredential. The Clone method copies the credential, and changing the ConnectionString of the clone does not clear the credential.

[2020-07-24 14:50] campersau commented on #39893
Looks similar to https://github.com/dotnet/runtime/issues/39756

[2020-07-24 14:55] jkotas commented on #39885
That is a lot of code that seems to be doing  lot more than just parsing target framework string. Is this proposal really about all of this code?

[2020-07-24 14:59] oakad commented on #28736
It seems that the issue is strongly related to the rate of task creation. Also, it appears that runtime in general has some bugginess and can get stuck outright, spinning on cpu, when large number of tasks are created in rapid succession.

I have implemented 2 relatively simple programs in go and c#, both uploading large number of files to s3 using corresponding SDKs (one upload per task/goroutine

[2020-07-24 14:59] jkotas commented on #39886
Building libunwind on Windows is expected after https://github.com/dotnet/runtime/pull/37521

cc @sdmaclea

[2020-07-24 15:20] rgarrison12345 commented on #39876
Hello @KalleOlaviNiemitalo, I'm familiar with the SqlClient functionality.  I am proposing adding a function on the abstract class DbConnection. MySqlConnector and NpgSql drivers already have this feature defined with a similar signature I proposed.

MySqlConnector
https://github.com/mysql-net/MySqlConnector/blob/master/src/MySqlConnector/MySqlConnection.cs

NpgSql
https://github.com/npgsql/npgsql

[2020-07-24 15:49] stephentoub commented on #28736
@oakad, repro? And why do you think it's related to this closed issue?

[2020-07-24 16:07] bartonjs commented on #39893
Yep, duplicate of #39756

[2020-07-24 16:07] #39893 closed

[2020-07-24 16:09] AndyAyersMS commented on #39873
For `Compare2` I see more complex codegen than sharplab...suspect their ambient has done some class init?
[code]
Late devirt here requires class init, so doesn't happen either.
[code]
When the Comparer<T> class has been initialized I get the sharplab code, and indeed here we've devirtualized late:
[code]
as seen in the jit dump
[code]
Codegen for some other types is interesting too. For short type

[2020-07-24 16:19] sdmaclea commented on #39886
I just built a recent tip  4f38b755fd8953830b5 on Windows.  It built properly.

I would recommend trying a `git clean -xdf` to start with a clean directory.

[2020-07-24 16:25] #39879 closed

[2020-07-24 16:28] vcsjones commented on #39756
I'm curious how this might be addressed? My understanding is that you can't FFI in to system libraries from wasm, and .NET doesn't ship crypto libraries. What is the plan / roadmap for cryptographic primitives in wasm?

What changed in preview 7 that this is now coming up?

[2020-07-24 16:31] oakad commented on #28736
Because it's exactly the error I was getting. Same location, same message.

[2020-07-24 16:31] AndyAyersMS commented on #39873
For the `short` case of `Compare`, the method is defined on a struct, so we indirect the `this` arg. The call gets inlined, showing that the address is immediately dereferenced, but we're unable to clean this up:
[code]
Wonder if the mixture of types here gets in the way. Seems a bit odd that we widen the type in `LCL_VAR   int    V00 arg0 ` as we're pushing the address of the local, not its value

[2020-07-24 16:32] tarekgh commented on #39866
@kzu sorry I am still not clear about the scenario. As I mentioned before, usually users of Activity just store tags/baggages and never bother reading it back. if there is logging or trace exporters, usually they get the whole list of the and then log it. So, I want to know your scenario require you to get specific Tag from the Activity object to do something with it. I am asking because Activity

[2020-07-24 16:35] stephentoub commented on #28736
Can you share your repro? I'm confused by the description of the problem: this issue is about an exception, but I interpret your description to be about a hang ("gets stuck").

[2020-07-24 16:38] oakad commented on #28736
Here's a stack trace easily - version .NET Core SDK (3.1.201) as I said.

As to repro it's a bit tricky.

Exceptions were encountered: System.AggregateException: One or more errors occurred. (Bad value for ai_flags)
 ---> System.Net.Http.HttpRequestException: Bad value for ai_flags
 ---> System.Net.Sockets.SocketException (0xFFFFFFFF): Bad value for ai_flags
   at System.Net.Http.ConnectHelper.Con

[2020-07-24 16:39] mangod9 commented on #12328
ok thanks for the info. Closing for now. we can open different issues if similar issues repros in AzDO

[2020-07-24 16:39] #12328 closed

[2020-07-24 16:41] oakad commented on #28736
My other comment was somewhat unrelated. If we look at the issue at hand, that is, socket error, it appears to be strongly bound to the rate, at which those AWS SDK async tasks are created.

My other problem was apparently due to memory pressure - it was connected to OS OOM handler being invoked (but no internal OOM exception).

[2020-07-24 16:43] mangod9 commented on #166
@cshung it appears LargePages is enabled in runtimeconfig, but other settings were not? Do we plan to add them in 5?

[2020-07-24 16:47] safern commented on #39473
Let's keen an eye and look at the data tomorrow or Monday that will give us an idea as there can be many runs today that checked out sources without this change.

[2020-07-24 16:53] AArnott opened #39902 "Process crash when System.IO.Pipes.PipeCompletionSource.Cancel() throws ObjectDisposedExeption"
### Description

In switching our process from .NET Framework to .NET Core, it (nearly?) always crashes on shutdown.
The crashing exception is shown below, which reveals what appears to be an attempt to cancel async I/O. The CancellationToken registration callback calls `CancelIoEx` after checking that the handle is valid. `CancelIoEx` then throws because the handle is disposed. Perhaps a race con

[2020-07-24 17:08] AaronRobinsonMSFT commented on #39798
@BeastLe9enD Thanks for the clarification here. It seems that @jkotas understood this point better than I did. This is an useful scenario but as mentioned does come with some drawbacks. Either conservative garbage collection or expensive object pinning must be done. The mono solution is conservative garbage collection but that comes with the performance impact which appears to be why some would li

[2020-07-24 17:10] danmosemsft commented on #38872
As an aside, not part of this proposal, I wonder whether the RegexParseException should include the pattern - at least if it's not too huge. Akin to how we include the path in IOException. That would be helpful in server logs but also make it easier to interpret the offset without a debugger.

[2020-07-24 17:11] terrajobst commented on #38288
Looks good

[code]

[2020-07-24 17:13] twsouthwick commented on #1544
@carlossanlop This is blocking many enterprises from moving to .NET Core as writing large office files ends up hitting this by way of System.IO.Packaging->DocumentFormat.OpenXml

[2020-07-24 17:16] terrajobst commented on #38456
Looks good

[code]

[2020-07-24 17:19] AaronRobinsonMSFT commented on #39895
/cc @ericstj

[2020-07-24 17:21] AArnott commented on #39718
Sounds like a good idea to me.

No. The thrown IOE is the same one that would be thrown if `ReadAsync` were called *after* disposal, stating that reading is already completed. I'm suggesting that we treat disposal of the reader the same as completion from the writer: that the ReadAsync would return with whatever it's got left (0 bytes in my example). It's not that a subsequent read might return mo

[2020-07-24 17:24] BruceForstall commented on #12328
Looks like we have:

runtime-coreclr gc-longrunning
https://dev.azure.com/dnceng/public/_build?definitionId=672

runtime-coreclr gc-simulator
https://dev.azure.com/dnceng/public/_build?definitionId=673&_a=summary

I presume someone is paying attention to these jobs, and ensuring they are doing the right thing.

I was a little surprised to see, when I looked, that the gc-simulator job runs in "defa

[2020-07-24 17:47] terrajobst commented on #29681
* Since we can apply it to classes and structs, it seem one should be able to apply it to properties and events as well. Should we add `Property`, `Event`, `Delegate`?
* We considered `Interface` (DIM), but that seems ill-defined for non-DIMs. If people wanted them on DIMs, they can apply it to the method

[code]

[2020-07-24 17:47] danmosemsft commented on #39902
Pipes is part of IO. Pipelines has its own label.

@AArnott if there's a way to set up a repro that would probably make it more likely we can investigate this soon.

[2020-07-24 17:48] danmosemsft commented on #39877
We'd need to ingest Roslyn.

[2020-07-24 17:49] terrajobst commented on #1235
* Looks good as proposed

[code]

[2020-07-24 17:56] CyrusNajmabadi commented on #38872
We already do that: https://github.com/dotnet/roslyn/pull/23984 (https://github.com/dotnet/roslyn/pull/23984#issuecomment-354707104).  I was the author of that work :)

The roslyn ast doesn't expose anything here (beyond just 'this is a string literal').  So i hand-wrote a compliant dotnet regex parser to match the one from the runtime.  As mentioned above, this was for several reasons:

1. the ru

[2020-07-24 17:57] AndyAyersMS commented on #39873
Seems to be the case, with
[code]
we now generate
[code]
Quick gloss of the above importer change over SPC looks promising:
[code]

[2020-07-24 17:57] mangod9 commented on #12328
tagging @dotnet/gc for the config question to ensure it was intentional.

[2020-07-24 17:59] #39845 closed

[2020-07-24 18:06] AArnott commented on #39902
These folks have the repro: @genlu @RyanToth3 @tmat
Can one of you share it?

[2020-07-24 18:06] stephentoub commented on #39877
Then we need to ingest Roslyn.

[2020-07-24 18:11] PathogenDavid commented on #29681
Adding those would require updating consumers of this attribute to recognize it in those places. For example:

https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.Private.CoreLib/src/System/Diagnostics/StackTrace.cs#L356-L369

I'm not sure if it's worth it to add the extra checks here for those scenarios. I can't really imagine why you'd need to hid

[2020-07-24 18:20] terrajobst commented on #1630
* API wise, the only change is the `NumberStyles` additional of `HexFloat`
* Behavior wise, this changes parsing of `float` and `double` to support the `x` format specifier. This isn't a breaking change because `float` and `double` throw when `x` is passed.
* We considered adding `AllowHexPrefix` because integers don't allow `0x` as  the prefix, while `float` and `double` would. However, for float

[2020-07-24 18:23] tcostin opened #39904 "BlockingCollection should properly cancel pending consumers when disposed"
### Description

If a thread is blocked inside BlockingCollection.Take(), and the collection is disposed, I would expect the Take() method to end with an exception. Instead, the call never returns, and the caller thread is permanently blocked. This can be worked around by calling CompleteAdding() first (causing the call to Take() to end with InvalidOperationEx), but I would expect the Dispose() me

[2020-07-24 18:24] tcostin commented on #39904
[TestBlockingCollectionDisposalCore.zip](https://github.com/dotnet/runtime/files/4973687/TestBlockingCollectionDisposalCore.zip)

[2020-07-24 18:25] ericstj commented on #39895
We cannot change API in HashCode since it must unify with the version that’s already inbox on .NETCore.

We can change implementation but we should do that in servicing so that the fix isn’t missing from 3.x (for similar reasons).

I’m not sure it’s worth it for this change.  Can the caller check null themself and just call `Add(null)` without the compared?

Cc @terrajobst @danmosemsft

[2020-07-24 18:25] tcostin commented on #39904
[TestBlockingCollectionDisposalCore.zip](https://github.com/dotnet/runtime/files/4973694/TestBlockingCollectionDisposalCore.zip)

[2020-07-24 18:33] terrajobst commented on #30657
* There are issues with supporting more thant 99 digits of precision, some are in parsing behavior as pointed out by the OP, some of them are in public data structures which are size limited, and some are likely in the implementation.
* Normally, it would seem better to extend the existing format specifier because it works better with resource strings and localization
* However, given that product

[2020-07-24 18:37] danmosemsft commented on #39877
Right, I'm just pointing out that it hasn't reached us yet. 😛

[2020-07-24 18:38] stephentoub commented on #39877
Ah, cool, I thought you were saying that was prohibitive for the release.

[2020-07-24 18:41] terrajobst commented on #1916
* We should remove the `Enum` constraint to match the other overloads
* Otherwise, looks good

[code]

[2020-07-24 18:42] danmosemsft commented on #1544
Maybe we should mark this 6.0.0

[2020-07-24 18:43] danmosemsft commented on #1953
Thanks, that makes it clear.

[2020-07-24 18:45] Clockwork-Muse commented on #39904
`Dispose` is almost never threadsafe (including here), so calling it at all on a shared collection is a bug in your application.  Having it call `CompleteAdding()` won't necessarily resolve all potential issues, because the rest of the cleanup code could produce race conditions.  You're going to need to ensure only one thread has access before you can call `Dispose`.  If you only have one consumer

[2020-07-24 18:47] jkotas commented on #35054
There is not much benefit in returning `ValueTask` from these APIs. They should be able to use `Task` just fine.

[2020-07-24 18:50] genlu commented on #39902
@RyanToth3 I think you have a simpler repro with ServiceHub tests? Could you please share that? Otherwise, following this instruction would repro it. (basically this runs Roslyn OOP on .NetCore servicehub)

1. Go here https://devdiv.visualstudio.com/DevDiv/_packaging?_a=feed&feed=VSIDE-RealSigned-Release%40Local, and search for “microsoft.servicehub.host.clr”.
2. Download the host nuget package. T

[2020-07-24 18:52] RyanToth3 commented on #39902
Here's an app that repros the issue: https://microsoft-my.sharepoint.com/:u:/p/rytoth/EfzfFjfQd8FLu2_dUrdoCpUBxc0LQUV8Raij9OsIgJeyuw

Just run "dotnet ServiceHub.Sample.NugetClientApp.dll" nd you should see the error printed to the console.

[2020-07-24 19:04] terrajobst commented on #1953
* It seems `OnDirectoryFinishedDelegate` should include the `FileSystemEntry entry`
* Should `ContinueOnErrorPredicate` provide some context? It seems one would want the container and the name the child to do anything useful for logging. If we see potential for more state, we may want to allow a struct, such as `FileSystemError` instead.
* @carlossanlop you want to sync with @JeremyKuhne on how to

[2020-07-24 19:16] volaru77 opened #39962 "Rfc2898DeriveBytes constructor throws exception"
### Describe the bug
Rfc2898DeriveBytes constructor throws an exception in a Blazor WebAssembly project after updating it to target .NET SDK 5.0.100-preview.7.20366.6. Same code was working when targeting .NET SDK 3.1.302

### To Reproduce

This sample line of code triggers the exception:
var pwdGen = new Rfc2898DeriveBytes(Encoding.UTF8.GetBytes("aa0f8a3b-c4c6-45f4-bc66-90773ba53bf7"), Encoding.U

[2020-07-24 19:22] akoeplinger commented on #38456
Curious why we need separate *LittleEndian and *BigEndian methods? Is it because I might want to read something in big-endian encoding even though I'm on a little-endian machine so using `BitConverter.IsLittleEndian` internally wouldn't make sense?

[2020-07-24 19:27] vitek-karas opened #39907 "Single-File host does not correctly redirect hostpolicy PInvokes"
There's a managed component `AssemblyDependencyResolver` which is implemented by PInvoking into `hostpolicy`. Since in the new single-file the `hostpolicy` doesn't exist as a separate module, we need to redirect the PInvokes to the main module, just like we do for other statically linked libraries.

Note that this needs to work on Windows as well - which is different from the case we already imple

[2020-07-24 19:27] vitek-karas commented on #39907
/cc @agocke @VSadov

[2020-07-24 19:30] #2030 closed

[2020-07-24 19:33] AndyAyersMS opened #39908 "jit: check-release diff in some pinvoke call prologs"
After #39888 there are still around 8 methods in the "test SPMI" collection still show check-release diffs. In release the return address saved in the pinvoke frame has a value that is sometimes too large:

[code]
Not sure yet if this impacts correctness.

Likely caused by incorrect accounting of instruction and IG length changes. This has happened before in the pinvoke call prolog; see #8747.

Wo

[2020-07-24 19:38] Symbai opened #39909 "ICorDebug API shouldn't start the process if it's not the correct bitness"
Debugging a process by starting it using ICorDebug fails if its not the correct bitness. The debugger fails to debug which is expected however the debugged process still continues to launch, which is not expected. If the process is started by ICorDebug and ICorDebug is unable to debug the process, then the process should be killed. Or there should be some kind of logic to determine whether the tar

[2020-07-24 19:39] tcostin commented on #39904
In that case, BlockingCollection may not be the API I'm looking for.

I use a BlockingCollection shared between the main/UI thread and a worker thread to do background work in my app. The user queues certain work items via the GUI (i.e. the UI thread). The work items are added to the BlockingCollection, and the worker thread calls Take() to obtain work items, processes them, then posts updates to

[2020-07-24 19:39] tannergooding commented on #38456
Right, many file formats (for example) explicitly call out themselves as being big or little endian. These methods allow you to do the right thing regardless of what machine you are on.

[2020-07-24 19:44] AndyAyersMS commented on #39908
cc @dotnet/jit-contrib. If you've never tracked one of these down it is a fun exercise.

[2020-07-24 19:49] kunalspathak commented on #39722
I compared JIT output of baseline vs. test and didn't find anything noticeably different:
- I saw some diffs in `Chronometer:.cctor()`. This probably calls `StopWatch`.
- LocalAppContextSwitches:GetSwitchDefaultValue: https://github.com/dotnet/runtime/pull/38963
- `get_ProcessorArchitecture` - Changes in https://github.com/dotnet/runtime/pull/39196 and https://github.com/dotnet/runtime/pull/39209.

[2020-07-24 19:56] AndyAyersMS commented on #39908
From what I can tell the exact value of the `m_pCallerReturnAddress` field in an `InlinedCallFrame` is not critical, so long as it's within the current method; the only non-logging use I can find in the runtime is to determine if we're in R2R or jitted code. So this issue may not lead to any observable bugs.

@jkotas let me know if I'm off base here.

[2020-07-24 20:01] jkotas commented on #39908
The exact value is not critical as long as the unwind sequence is the same. The exact value tends to be critical on x86 where the stack frame size (and thus the unwind sequence) varies throughout the method.

[2020-07-24 20:13] danmosemsft commented on #39722
@DrewScoggins thanks for making sure the diff link is against the runtime repo. However this still produces a unicorn as it covers July 14-July 21. From eyeballing the graph, shouldn't the SHA's be about July 14-July 15?

(I realize that viewing even the tightly bracketed diff in Github is often not going to be feasible, but having well bracketed SHA's to examine offline is certainly important.)

[2020-07-24 20:24] danmoseley opened #39910 ""Cannot print exception string because Exception.ToString() failed." should include type"
In [this PR](https://github.com/dotnet/runtime/pull/39871#issuecomment-663707844) a missing FSharp.Core.dll produced

[code]

This can be trivially reproduced by throwing an unhandled exception object whose ToString() returns null (eg) but historically there have been more subtle cases

Although the actual cause may be a bit more complicated. It has come up before when FSharp.Core.dll was missing

[2020-07-24 20:29] Clockwork-Muse commented on #39904
The GUI can signal to the background thread to clean itself up by calling `CompleteAdding` - that's what it's there for.  Calling it will cause `Take` to unblock with an exception, so you can check that and the status of the collection with respect to adding to deal with this.  At that point, the background thread knows the GUI thread has been shut down, and so can clean itself up, including dispo

[2020-07-24 20:32] #39583 closed

[2020-07-24 20:35] akoeplinger commented on #39756
@vcsjones in preview 7 Blazor switched from the mono-based BCL (which had managed implementations for most of the crypto primitives) to the one from dotnet/runtime which relies on OpenSSL and that had to be disabled.

[2020-07-24 20:41] davmason commented on #39699
Hi @ww898,

Our team is not currently working on anything like this, and the soonest it would be scheduled is the .net 6 timeframe (although it could be later). As always we are happy to accept community patches. FYI the .net 5 release is quickly wrapping up, we are already past feature release and this sort of change would only reliably get in for the next month or so.

I would have to think abou

[2020-07-24 20:46] echesakovMSFT commented on #39581
Posted description of the issue in the PR with the regression test https://github.com/dotnet/runtime/pull/39815

[2020-07-24 20:49] carlreinke commented on #936
`System.Half` in master doesn't implement `IConvertible`.  Did that get dropped intentionally?

Will `System.TypeCode` get a new member for `Half`?

[2020-07-24 20:52] jkotas commented on #39699
[x64 emulation on ARM64](https://www.bing.com/search?q=Windows+64-bit+ARM+emulation) means that 64-bit can be either emulated x64 or native ARM64.

[2020-07-24 20:52] tcostin commented on #39904
That makes sense actually. I was just experimenting with the above approach, and it resulted in an orderly shutdown and cleanup. It's a bit odd to dispose an object on a different thread than the one that created it, but it seems to be required in this case.

This works well for my scenario of a single consumer. I can see the potential for race conditions if multiple consumers exist, but Dispose()

[2020-07-24 20:57] danmosemsft commented on #39910
Here's a repro, it's clearly not particularly interesting to replace FSharp.Core.dll with garbage, but perhaps more realistic repros go via the same path:
[code]
In this case I would expect a stack, but even an exception type would be nice.

[2020-07-24 20:59] #39904 closed

[2020-07-24 21:05] maryamariyan commented on #39867
Added a commit for this issue in PR: https://github.com/dotnet/runtime/pull/39860/commits/17abe4c9ece50dddaa24a730ec6a8e74186294ca

[2020-07-24 21:09] maryamariyan commented on #39022
I checked your sample, it is because for ConsoleLoggerProvider you have IncludeScopes option enabled:
[code]

[2020-07-24 21:11] Ninds commented on #39022
HI
Thankyou for looking at it.
Can you elaborate why the difference in behaviour ?

[2020-07-24 21:14] ericstj commented on #1197
@layomia can you please file a breaking change issue: https://github.com/dotnet/docs/issues/new?template=dotnet-breaking-change.md

[2020-07-24 21:14] ericstj commented on #2043
@bartonjs can you please file a breaking change issue? https://github.com/dotnet/docs/issues/new?template=dotnet-breaking-change.md

[2020-07-24 21:15] ericstj commented on #21943
@tannergooding can you please file a breaking-change doc issue? https://github.com/dotnet/docs/issues/new?template=dotnet-breaking-change.md

[2020-07-24 21:19] BrennanConroy commented on #39911
We don't plan on changing `IWebHost` as it is likely being obsoleted soon. But we should consider making `IHost` `IAsyncDisposable`, and we can use default interface methods to make it less breaking.

[2020-07-24 21:24] ericstj commented on #33680
@ViktorHofer do we have a breaking change notice for the TFM change?  If not can we add one here: https://github.com/dotnet/docs/issues/new?template=dotnet-breaking-change.md

[2020-07-24 21:25] ericstj commented on #34587
@tannergooding can we add a breaking change doc here? https://github.com/dotnet/docs/issues/new?template=dotnet-breaking-change.md

[2020-07-24 21:32] JamesNK commented on #31198
Ok. So for someone who wants to keep the connection "warm" they would combine idle timeout with keepalive.

[code]

Does this scenario make sense:
* An app exists that makes bursts of requests once an hour and wants to keep connections warm to avoid latency when the burst happens
* The app makes 1000 concurrent HTTP/2 requests and 10 connections are created. These 10 connections will live for at l

[2020-07-24 21:34] tannergooding commented on #936
`IConvertible` was dropped intentionally. We can't readily expand the `IConvertible` interface and the overall support that `IConvertible` provides for non-primitive types is fairly limited.

.NET 6 will take a closer look at where in the framework `System.Half` support should be added (including `System.Convert`).

[2020-07-24 21:41] JamesNK commented on #31198
I just thought of a concern to do with no `KeepAliveWithoutRequests` and defaulting its behavior to true. Many servers are aggressive about closing connections when pinged too much by clients. This isn't a problem with Kestrel - it handles pings so efficiently that it doesn't care how much you ping it - but other servers are strict. One of their techniques for measuring "malicious" pings is pings

[2020-07-24 21:45] #39403 closed

[2020-07-24 21:46] tannergooding commented on #21943
https://github.com/dotnet/docs/issues/19679

[2020-07-24 21:51] bartonjs commented on #2043
Breaking change doc PR is https://github.com/dotnet/docs/issues/19680.

[2020-07-24 22:01] abelbraaksma commented on #38872
Cool! I wasn't aware, my recent projects being in F# and all. I can understand why you took the approach you did. Also, as far as I know, parsing and compiling isn't split at the moment, and doing a compile of a regex just to find if it has an error in an editor doesn't strike me as the right path.

[2020-07-24 22:02] tannergooding commented on #34587
https://github.com/dotnet/docs/issues/19682

[2020-07-24 22:03] jkoritzinsky commented on #38924
I think @hoyosjs or @ericstj might know about how to fix this since they've both recently touched the CoreCLR pkgproj files.

[2020-07-24 22:05] danmosemsft commented on #31554
Logged breaking change as https://github.com/dotnet/docs/issues/19683

[2020-07-24 22:08] ericstj commented on #38924
I believe these need to be treated as Non-shipping.  I believe if the set the appropriate property then the right thing happens.  Arcade has docs on it.  I know we set it by convention in libraries.

[2020-07-24 22:34] hoyosjs commented on #38924
There's a bunch of things that should be non-shipping but are not:

[code]

That's controlled by the `IsShipping` property. I'll take a look given that the transport package is non-shipping, but the runtime packages are meant to be.

[2020-07-24 22:44] bartonjs commented on #38730
Suggested fix:

In CachedSystemStoreProvider, change ProcessFile to return a bool.  True means that we ever saw TryReadX509PemNoAux/TryReadX509Der return true (we made it into the while loop), false means we never did.

In LoadMachineStores replace

[code]

with something like

[code]

It needs to be a little different, since it should only do the directory replacement on first load.  Which probab

[2020-07-24 22:45] danmosemsft commented on #38872
You can instantiate the regex (either explicitly or through the static method) without passing RegexOptions.Compiled and arguably it doesn't compile it - it will least not emit IL, which is the expensive part. Using the regex later with the Compiled flag will reuse the parsing work.

This describes the moving parts
https://github.com/dotnet/runtime/blob/master/src/libraries/System.Text.RegularExpr

[2020-07-24 23:11] #39728 closed

[2020-07-24 23:18] abelbraaksma commented on #38872
@danmosemsft, I'm aware of that flag (as mentioned earlier, I use a tool that compiles regexes into an assembly and merges those together), but that wasn't what I meant, sorry for the confusion ;).

I see that creating a regex essentially only calls `RegexParser.Parse`. I think my point was that if you create a regex, this is quite expensive, and normally only parsing isn't. I was under the impres

[2020-07-24 23:24] maryamariyan commented on #39664
Thanks for the idea. It should make sense for use then to also rename Message to @m or @msg for the same reasons.

[2020-07-24 23:28] safern commented on #39379
I'm looking at this.

For: System.Runtime.Loader.Tests.GetAssemblyNameTest_ValidAssembly we can add `System.Runtime.Loader.Tests.dll` to the `VFS` until we have ALC support to load by name from the bundle.

For: `System.Runtime.Loader.Tests.SatelliteAssembliesTests.SatelliteLoadsCorrectly` still investigating.

[2020-07-24 23:35] DrewScoggins commented on #39722
Yes, getting a tight bracket is very important, and it is something that we are thinking about how to solve in a consistent, accurate, and automated fashion. In the meantime, we believed that having a link that can at least bracket to the time of the report, in this case a week, was still useful as a starting point. For what it is worth, when I clicked the link I was able to get the comparison and

[2020-07-24 23:36] abbatepabloo opened #39969 "Step Into (F11) is not working when use symbols server in wasm projects"
### Describe the bug
**Step into (F11)** is not working when use symbols servers in Visual Studio using Blazor Wasm Project.

### To Reproduce
- Create a Blazor WebAsm Project
- Create a pipeline in order to built it and publish artifacts and symbols into Azure DevOps
- Configure Visual Studio to point to your symbols server's location
**In order to get the same scenario you can follow this answer

[2020-07-24 23:37] danmosemsft commented on #39722
@DrewScoggins makes sense. Sounds good. I hope it didn't appear as a criticism. I see this as an iterative process to make these as useful as possible.

[2020-07-24 23:49] AndyAyersMS commented on #39023
Have some strong evidence now this is the jit misbehaving. Still not sure why. Here are two gc info traces, one that is correct, the other incorrect.
[code]

Here 0x16 is the start of the method body. In the bad case `RSI` and some byrefs are left unprotected on entry. Failure is that a GC happens here and RSI's referent gets relocated.

Checked jit always produces good info. As does release jit w

[2020-07-24 23:50] ericwj commented on #39793
https://github.com/dotnet/runtime/blob/c87e75e8ef260ccc6e979f9df1cc012536ee036f/src/libraries/System.Private.CoreLib/src/System/IO/PathInternal.Windows.cs#L154-L156

[2020-07-25 00:26] safern commented on #39379
So looking a little bit deeper on the `SatelliteAssembly` case. It seems like the satellite assemblies are not in the bundle, they're in the VFS. For example this is an entry of the mono-config:
[code]

However, when we try to find the assembly in the bundle here:
https://github.com/dotnet/runtime/blob/8465be73eb40a9c409dc8974b9d6b235a1b5158f/src/mono/mono/metadata/assembly.c#L2502

We never find

[2020-07-25 00:28] hoyosjs commented on #38924
Looks like they are all produced by the same target from the packaging task in Arcade:

![image](https://user-images.githubusercontent.com/19413848/88441244-5ebe4280-cdc5-11ea-8fb1-3250fcdd6d7f.png)

Do we need both symbol and transport packages? Runtime and transport packages are identical except for symbols in the package, but I'm not sure if the consumers of transport packages need the symbols

[2020-07-25 00:31] Clockwork-Muse commented on #39904
"Created" isn't the important criteria, "Owner" is.  Due to a number of factors, that isn't really a thing in C# - if you haven't looked at it yet, take a quick spin through the Rust language.  Or, the `std::unique_ptr` in C++ is somewhat similar.

There's a couple of ways to deal with the disconnect you're feeling here:
 - Have the background thread create the blocking collection, and expose it a

[2020-07-25 00:33] JamesNK commented on #31198
https://github.com/grpc/grpc/blob/master/doc/keepalive.md

By default gRPC client implementations don't send keep alive pings without active streams. And by default the servers (at least, CCore based gRPC servers) will close connections with GO_AWAY and ENHANCE_YOUR_CALM if the client attempts to ping the server without active streams.

I think we need `KeepAliveWithoutRequests` and it should defa

[2020-07-25 00:47] nblumhardt commented on #39664
Cool! :slightly_smiling_face:  FWIW, there are a few tools built to work with the Serilog ("CLEF") format that might be interesting to check out, if you'd consider using the same schema:

 * [Compact Log Format Viewer](https://www.electronjs.org/apps/compact-log-viewer) - an Electron app for viewing/filtering logs in this format
 * [`seqcli`](https://github.com/datalust/seqcli) and [`clef-tool`](h

[2020-07-25 00:50] safern commented on #39379
Another thing I notice for the satellite assemblies is that we lowercase the file name but we're comparing against the bundle list of names which are not lowercase.

[2020-07-25 01:06] maryamariyan opened #39917 "Allow JsonConsoleFormatter to write in compact format"
## Background and Motivation

For the newly introduced JsonConsole formatter, the logged output for a given log:
[code]
could look like this:
[code]
For more the formatter to perform more efficiently, it would be good to add a property to JsonConsoleFormatterOptions with a flag called IsCompact, so that once true the above log could look more compact to something like this:

[code]

Where:
[code]

[2020-07-25 01:08] maryamariyan commented on #39664
@nblumhardt thanks for the links. I created https://github.com/dotnet/runtime/issues/39917 in the meantime. But will check the above links to make comparisons.

[2020-07-25 01:10] maryamariyan commented on #39917
cc: @shirhatti @davidfowl

[2020-07-25 01:17] jkoritzinsky commented on #38924
I don't know of any part of the stack that uses the transport packages.

[2020-07-25 01:19] tarekgh commented on #39917
Do we need to have API for that? can't this supported by a config switch? We'll have the desired behavior as default and then any app want to switch back to older format can decide to enable it through the switch.

[2020-07-25 01:25] maryamariyan commented on #39917
For the config switch there also needs to be a property available in JsonConsoleFormatterOptions. to allow us to flip back and forth, unless we decided that the existing Json formatter should only write compact logs, which in that case we wouldn't need to flip back and forth and this API would not be necessary either.

Note `IsCompact` in the sample appsettings.json file below:

[code]

I think th

[2020-07-25 01:32] tarekgh commented on #39917
ignore my comment. I was looking at something else which confused with this one.

my question now is, does anyone asked for this compact formatting? why we think to get it in 5.0?

[2020-07-25 01:33] maryamariyan commented on #39917
It would greatly improve the performance.

[2020-07-25 01:38] maryamariyan commented on #39917
Also in a case like below:

[code]

we would no longer get Json key collision with Message:

IsCompact gives:

[code]

whereas the second scope in the default Json formatter gives:

[code]

[2020-07-25 01:51] tarekgh commented on #39917
Any more details about the perf? I mean, do you think non-compact formatting would be very slow? do we have any goal for the perf in general for the formatters? did we look in optimizing the non-compact formatting?

It is good in general to consider the perf, but I am afraid jump adding some features for that while users may still need the non-compact and still complaining about perf. let's see wh

[2020-07-25 02:30] SinxHe opened #39918 ".NET 5 Preview 7 Queue can not add value when debug step by step"
### description

i have a simple code with xunit, when i just run the test or when i debug test without step by step breakpoint. it passed.
but when i make a breakpoint before `_buffer.Enqueue(node?.val);` and after. i can see `_buffer` not add any element(must view the value, if not, the test will past). by the way, `_queue` can always add element sucessful.

![image](https://user-images.githubus

[2020-07-25 02:45] AntonLapounov commented on #12638
@sandreenko I do not see any tests disabled with this issue number and cannot repro the crash either (Windows ARM release build running on an ARM64 device).
[code]

[2020-07-25 02:45] #12638 closed

[2020-07-25 03:03] jenniferraines77 commented on #39067
Hey

On Fri, Jul 10, 2020, 7:33 AM Stephen Toub <notifications@github.com> wrote:

[2020-07-25 03:31] #32725 closed

[2020-07-25 03:56] erozenfeld commented on #39726
Resolved by #39878 and #39881.

[2020-07-25 03:56] #39726 closed

[2020-07-25 04:53] scalablecory commented on #31198
Wow, that is an interesting design choice. Okay, we do need this to be configurable then. Thanks for providing the data!

[2020-07-25 06:05] davidfowl commented on #36049
Yes there's no way to avoid this today. We'd need a way to do this so that all other containers could participate.

[2020-07-25 06:38] LeaFrock opened #39919 "Add System.Collections.Concurrent.ConcurrentHashSet<T>"
## Background and Motivation

We already have ConcurrentDictionary which takes great advantages at concurrent environment comparing to Dictionary. However, HashSet doesn't have a **Concurrent** version.
Sometimes(maybe very often in fact), we hope to use **ConcurrentHashSet** easily which its elements are never duplicated, with an O(1) operation for contains or remove methods at concurrent environ

[2020-07-25 06:47] LeaFrock commented on #16443
@MgSam I can't stand it anymore, so I've spent some time on the api proposal.

Details see #39919 . Let's promote it and finally make it.

[2020-07-25 06:51] vahida commented on #39546
The problem was session lock contention with - 3rd party - down stream API (ASP .NET Web API 2). It is solved by disabling the session state in IIS.  Basically not a ASP .NET Core/Http Client coding or hosting problem.

[2020-07-25 07:21] NextTurn commented on #33269
Thanks for the great answers.

[2020-07-25 07:21] #33269 closed

[2020-07-25 07:25] LeaFrock commented on #39919
By the way, this issue is not duplicated of #15326 .

[2020-07-25 07:32] andrea5586 commented on #39838
Thank you @tannergooding for your time to give us this complete explanation: this is a matter @enricobenedos and I where discussing, but couldn't relate to the platform disparity.

We will for sure keep in mind this concepts.

[2020-07-25 09:29] alefranz commented on #39664
Using those compact identifiers will only mitigate it as it would still cause a collision in the unlikely event that you use that name as a property e.g. `logger.BeginScope("{@m}", 3)`
I have a couple of alternatives in mind.

1. I believe there is special handling in place for curly braces, which is the reason why `{OriginalFormat}` has no risk of collision in the property bag, so using something

[2020-07-25 09:30] alefranz commented on #39917
I second @tarekgh on the importance of the loss of readability.
In my experience the human overheads due to the of the loss of readability outweigh the performance gains, in terms of software maintenance costs. It feels also quite disorientating for new comers, but for that what matters is that we don't make this the default.

The Serilog compact json format is an opinionated take on the performan

[2020-07-25 09:51] MythreyaK opened #39922 "Support for Argon2, BCrypt"
ASP.Net core supports  PBKDF2. Support for Argon2, BCrypt as first-party implementations would be nice.

There are nuget packages, but not sure if they're '_cryptographically verified_' for production scenarios. The common suggestion seems to be "[don't use 3-rd party packages, unless they're verified to be secure](https://stackoverflow.com/a/6228051)".

[2020-07-25 10:25] AnthonyLloyd commented on #31292
Spectral Norm doesn't seem to benefit from AVX at least on my laptop:
[code]

[2020-07-25 11:42] ViktorHofer commented on #33680
We don't have one yet AFAIK. What would be the breaking change here? That we rename the short target framework moniker from netcoreapp to net? cc @terrajobst

[2020-07-25 11:59] ViktorHofer commented on #38037
This was fixed with https://github.com/dotnet/runtime/commit/809a06f45161ae686a06b9e9ccc2f45097b91657.

[2020-07-25 11:59] #38037 closed

[2020-07-25 12:27] am11 commented on #39910
I tried the repro steps on Windows and macOS with net5. I think `ConsoleApp3.exe` is actually `fs2.exe`?
Nonetheless, on Windows I receive the same error as yours, but on macOS, it gives a proper error:

[code]

On Windows, I used `5.0.0-preview.7.20366.15` (from dotnet/installer's readme list); and on macOS `5.0.0-preview.8.20361.2` (which dotnet/runtime repo is currently using).

[2020-07-25 12:50] mfkl commented on #39211
Attempt here https://github.com/mfkl/runtime/tree/longpath-fix

Managed to workaround one of the calls to win32 that fails, but not the next one, which is `LoadLibraryEx`

new stacktrace:

[code]

Ended up on this page https://docs.microsoft.com/en-us/archive/blogs/bclteam/long-paths-in-net-part-1-of-3-kim-hamilton which states

I'm not sure moving the needed items in a shorter path is a viable/cl

[2020-07-25 13:14] Gnbrkm41 commented on #39886
I suppose it might be a local thing... It's the default installation that came with Surface Book 3, that's updated to Insiders build. Not sure what can cause that kind of issues.

I just pulled from 6ca6003, did `git clean -xdf` and it's still failing with the same kind of error.

[2020-07-25 13:25] guibranco commented on #36062
Any news ?

[2020-07-25 14:07] danmosemsft commented on #33680
Could break anyone testing Framework name (maybe various API) eg https://github.com/gfoidl/Stochastics/issues/88

[2020-07-25 14:08] danmosemsft commented on #39910
Cc @janvoJan who made earlier fix above.

There may be two fixes here ideally : in this case maybe it shoukd simply work as normal, and a "backup plan" that adds the type even if ToString() fails for some other reason.

[2020-07-25 15:13] Muitsonz opened #39925 "MissingMethodException about nuget System.Numerics.Vectors"
I had a .net std 2.0 lib which use nuget package System.Numerics.Vectors 4.5.0 by Microsoft from package manager window in Visual Studio 16.6.5. Then I created a unit test project of .net fw 4.8 using nuget package MSTest.TestAdapter 2.1.1, MSTest.TestFramework 2.1.1 (by project template), and the System.Numerics.Vectors 4.5.0 package.

When I call a method defined in the .net std lib from .net fw

[2020-07-25 15:39] yzrmn commented on #11554
I have fixed the benchmark code (MathF methods were returning doubles) and updated the OP with the most recent version of .NET.

[2020-07-25 16:32] Symbai commented on #26741
Any update on this? I was about to request the same APIs before I saw this old discussion.

[2020-07-25 16:46] colgreen commented on #26741
Feel free to use https://www.nuget.org/packages/Redzen/ in the meantime :)

[2020-07-25 17:11] jkotas commented on #35609
https://github.com/dotnet/runtimelab is created now and the experiments are starting to live there. Woo-hoo!

https://github.com/dotnet/runtimelab/blob/master/README.md has a link back to this issue for context.

[2020-07-25 17:11] #35609 closed

[2020-07-25 17:37] wli3 commented on #39885
Created this issue so we have something to point to. We would need a meeting later

[2020-07-25 18:08] jkotas commented on #16443
Duplicate of #39919 that has actual API proposal

[2020-07-25 18:08] #16443 closed

[2020-07-25 18:31] iSazonov commented on #1953
OnDirectoryFinished is defined as
https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.cs#L63
and my proposal follows this. If MSFT team want enhance this - I agree.

ContinueOnError is defined as
https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/

[2020-07-25 18:33] #39618 closed

[2020-07-25 18:57] KalleOlaviNiemitalo commented on #39895
If the Microsoft.Bcl.HashCode package has to match .NET Core 3.1, does it have to match .NET Core 2.1 as well?

At the caller side, I suppose the easiest workaround would be to define an `AddNullable<T>` extension method and ban the original. Alternatively, a dedicated analyzer could offer a code fix and warn only if `T` may be nullable (which in C# 7 includes all reference types).

[2020-07-25 20:02] vcsjones commented on #39922
Argon2 request is a dupe of #19933, bcrypt request could probably dupe under #15936.

[2020-07-26 01:47] ericwj commented on #39211
[code]

[2020-07-26 03:03] danmoseley opened #39928 "Process.Start() failure should include path"
When a process cannot be started, it would be useful for the exception to include the ProcessStartInfo or equivalent.

For example, I got this in the VS output window - I assume it's missing a certain dotnet.exe but I don't know which. I've encountered this in other situations.

[code]

We already special case two codes
https://github.com/danmosemsft/runtime/blob/58e6ab1054b8809b3c91fcd75d1dbfff55

[2020-07-26 04:02] danmosemsft commented on #39926
@iDreamCXK can you please try [.NET 5.0 Preview 7? ](https://devblogs.microsoft.com/dotnet/announcing-net-5-0-preview-7/)

Does it repro there?

[2020-07-26 08:09] karelz commented on #39926
@iDreamCXK how do you measure / recognize memory leak? Does it eventually throw OutOfMemoryException?
Are you sure it isn't just GC not releasing memory as there is no need?

How many iterations do you have to do before the symptoms manifest themselves?

[2020-07-26 08:10] karelz commented on #39546
Great, closing as resolved then.

[2020-07-26 08:10] #39546 closed

[2020-07-26 08:16] karelz commented on #39911
@BrennanConroy I don't quite understand what is this issue tracking in dotnet/runtime repo - can you please explain? Thanks!

[2020-07-26 08:24] ViktorHofer commented on #33680
Sorry I was reasoning to Eric's question. I understand that renaming the FrameworkName is a breaking change. I guess even for the TargetFrameworkMoniker, which shouldn't be read/persisted anywhere as it's inferred properties should be used, a breaking change notice makes sense.

[2020-07-26 09:06] iDreamCXK commented on #39926
Well，the memory grows slowly and never decreased.When I comment out the codes , the memory no longer grows.

[2020-07-26 09:18] iDreamCXK commented on #39926
I only test it on .net core 3.1.   My parter said that's ok on Windows,  but the memory grows slowly on Linux，It may take one day or two to see it more obviously.

[2020-07-26 11:03] RichardVogelij commented on #39785
I'm currently on the road so my hands are somewhat tied to answer you quesrtion, but I can at least mention I was not coming from 3.1 but from 3.2 - I remember having to use Uri type where I used to use a raw string. Also worth mentioning is this code is being used on Blazor Wasm side.

The HttpClient I am using in the "before the update to 5.0" scenario - with the Uri in the call to PostAsJsonAsy

[2020-07-26 14:09] mgwelch commented on #39927
Ok, I have more data on this issue. I had opened the issue on vscode, but today I discovered that in Visual Studio for Mac I also wasn't seeing help for some methods.

tl;dr. The problem seemed to be if the project was netstandard2.0. Upgrading it to netstandard2.1 resolved the issue. (Could have sworn I saw the issue with console project as well but haven't tried to investigate further).

See the

[2020-07-26 14:54] roji commented on #39876
@rgarrison12345 I agree it may make sense to include functionality like this on DbConnection. To set expectations though, we probably won't be able to get this into .NET 5.0 at this point in the release cycle.

[2020-07-26 15:12] mfkl commented on #39211
Sure, a symlink or just cd to the dir that contains the csproj will workaround the problem.

But building a library project from a long path works as expected, unlike an exe app (linked above), so there is a discrepancy here.

Is this something that should be fixed? Or just documented as "known issue, won't fix"?

[2020-07-26 15:54] StevenGranados commented on #39635
This does work in the nightly build.

[2020-07-26 16:03] danmosemsft commented on #39926
It might help narrow down the problem if you can try on 5.0 for us.

[2020-07-26 17:12] ericwj commented on #39211
I guess apart from the API's themselves, many Windows components, hence Windows as a whole is not quite done being fully long path capable, let alone .NET or any app running on it. There is a reason you have to hack the registry to enable implicit long paths.

The following shows that you actually cannot CD into the directory and run `dotnet build`.
[code]
Slightly confusing I think. `dotnet.exe`

[2020-07-26 17:22] BruceForstall commented on #39241
Failed again: https://dev.azure.com/dnceng/public/_build/results?buildId=746053&view=ms.vss-test-web.build-test-results-tab&runId=23124036&resultId=102773&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

[2020-07-26 17:23] BruceForstall commented on #39241
Dup'ing to https://github.com/dotnet/runtime/issues/33993

[2020-07-26 17:23] #39241 closed

[2020-07-26 17:32] BruceForstall commented on #37082
Another failure:

System.Memory.Tests, net5.0-Linux-Release-arm-CoreCLR_checked-jitstress2_jitstressregs1

https://dev.azure.com/dnceng/public/_build/results?buildId=745730&view=ms.vss-test-web.build-test-results-tab&runId=23109872&resultId=171344&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

[2020-07-26 17:47] BruceForstall opened #39931 "Test failure: tracing/eventpipe/gcdump/gcdump/gcdump.sh"
Failed with:
[code]
for:
[code]
https://dev.azure.com/dnceng/public/_build/results?buildId=746110&view=ms.vss-test-web.build-test-results-tab

[code]

[code]

@davmason

[2020-07-26 17:54] BruceForstall opened #39932 "Test failure: profiler/eventpipe/eventpipe/eventpipe.sh"
CoreCLR Linux arm64 Checked gcstress0x3

https://dev.azure.com/dnceng/public/_build/results?buildId=746110&view=ms.vss-test-web.build-test-results-tab&runId=23125998&paneView=debug

with:
[code]

[code]

Related? https://github.com/dotnet/runtime/issues/39669

@davmason

[2020-07-26 17:56] daxian-dbw commented on #38966
It would be very helpful if @DHowett can share some insight, especially on this question:

Thanks in advance @DHowett!

[2020-07-26 17:59] BruceForstall opened #39933 "Test failure: readytorun/multifolder/multifolder/multifolder.sh"
CoreCLR Linux x64 Checked gcstress0x3

with:
[code]

[code]

@trylek @dotnet/crossgen-contrib

[2020-07-26 18:00] BruceForstall commented on #39682
Failed again:
https://dev.azure.com/dnceng/public/_build/results?buildId=745918&view=ms.vss-test-web.build-test-results-tab&runId=23119792&resultId=100012&paneView=debug

[2020-07-26 18:05] BruceForstall opened #39934 "Test failure: Interop\\PInvoke\\Delegate\\DelegateTest\\DelegateTest.cmd"
CoreCLR Windows_NT x86 Checked gcstress0xc_zapdisable_jitstress2

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=745918&view=ms.vss-test-web.build-test-results-tab&runId=23119160&paneView=debug&resultId=102664

Looks like an x86 GC infrastructure issue.

cc @janvorli @AndyAyersMS

[2020-07-26 18:07] BruceForstall commented on #39934
Another failure that looks related (assert is on the next line from the assert shown above):

CoreCLR Windows_NT x86 Checked gcstress0xc_zapdisable_heapverify1

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=745918&view=ms.vss-test-web.build-test-results-tab&runId=23119162&paneView=debug

[2020-07-26 18:11] BruceForstall commented on #33948
I still see Part0 and Part3 time out, as above:

https://dev.azure.com/dnceng/public/_build/results?buildId=745918&view=ms.vss-test-web.build-test-results-tab&runId=23118794&paneView=debug&resultId=110176

[2020-07-26 18:17] BruceForstall opened #39935 "Test failure: tracing\eventpipe\processinfo\processinfo\processinfo.cmd"
`processinfo` fails in all ilasm round-trip testing:

https://dev.azure.com/dnceng/public/_build/results?buildId=745874&view=ms.vss-test-web.build-test-results-tab

[code]

@josalem

[2020-07-26 18:27] josalem commented on #39935
I don’t think this is an actual product issue, but rather the test being brittle on the file name being changed.  It seems that the ILASM round trip changes the file name such that the runtime perceives the new name when it checks its cmdline, i.e., .asm.dll, while the managed API sees the original name when you query the Assembly’s Location property, i.e., just .dll.  I think it’s probably suffic

[2020-07-26 18:38] #31127 closed

[2020-07-26 19:00] trylek commented on #39933
Hmm, this is super weird, I would expect the compilation of this project to take a few seconds, not more than an hour. In fact I saw similar behavior in my recent attempt to stand up Crossgen2 GC stress composite pipeline. I'm going to investigate whether the GC stress settings cannot somehow affect the runtime when we use the "dotnet" command to run the managed Crossgen2 compiler, that would prob

[2020-07-26 19:20] KirillOsenkov opened #39938 "Publish valid NETStandard.xml for NetStandard.Library 2.0.3"
The latest NuGet package for https://www.nuget.org/packages/NETStandard.Library/2.0.3 contains NetStandard.xml which is invalid XML:
https://github.com/dotnet/runtime/issues/24631
https://github.com/dotnet/standard/issues/666

The issue that caused invalid XML to be generated has since been fixed, but we haven't published an updated NetStandard 2.0 XML file anywhere that I can find. Starting with

[2020-07-26 19:29] KirillOsenkov commented on #39938
It appears that we already have an issue for this: https://github.com/dotnet/standard/issues/1527

[2020-07-26 19:29] KirillOsenkov commented on #39938
@Anipik

[2020-07-26 19:33] BruceForstall commented on #39933
In the meantime, mark this test as `<GCStressIncompatible>true</GCStressIncompatible>`?

[2020-07-26 19:45] trylek commented on #39933
I have triggered a new run of the composite GC stress pipeline that should show in about 2 hours whether my conjecture is true or not. Based on the outcome I'll send out a PR either for fixing the targets script or for marking the test as GC stress incompatible.

[2020-07-26 21:29] karelz commented on #39926
Also, "memory grows" does not yet mean a memory leak - it could be just GC not triggering finalized or not collecting memory.
I would try to force GC, or even better, use memory profiler analysis to identify, if there is a leak and where - eg PerfView can do nice snapshots of memory on Windows and I bet it will have similar capabilities on Linux ...

[2020-07-26 22:02] danmosemsft commented on #39928
Likely something like
[code]
and
[code]

[2020-07-26 22:03] danmosemsft commented on #39927
Not sure who might have context here - maybe @safern

[2020-07-26 22:10] danmosemsft commented on #39925
@ericstj what could cause the two System.Numerics.Vectors references to not get unified? I looked in the package and both assemblies are ` System.Numerics.Vectors, Version=4.1.4.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a` and the .NET Standard 2.0 one is 30% bigger because it contains an implementation for Vector3 etc whereas the .NEt Framework one type forwards it.

[2020-07-26 22:22] saucecontrol commented on #39927
This would seem to be another instance of https://github.com/dotnet/standard/issues/1527

[2020-07-26 22:34] danmosemsft commented on #39919
Thanks for doing this. Could you please update the proposal to be complete? No implementation is needed, but everything that would be public, eg.,

- all constructors
- all members fulfiling the interface contracts - whether explicit or implicit. Eg., there's no getter for the generic enumerator, etc.
- to your question in #2, does it need ISet<T> and IReadOnlySet<T>-- it sounds like your use case

[2020-07-26 23:43] cshung opened #39940 "R2RDump Unwind code decoding logic missed the extra word or dword in the UWOP_ALLOC_LARGE case."
When we write the UnwindInfo for stack space allocation, depending on the size, we write an extra WORD/DWORD to the UnwindInfo stream as follow:

https://github.com/dotnet/runtime/blob/0b164711c4df050566e23a1d0e89a22c08a832bd/src/coreclr/src/jit/unwindamd64.cpp#L278-L316

Notice how line 298 and line 307 moves the `unwindCodeSlot` further than just the usual `sizeof(UNWIND_CODE)`.

However, the si

[2020-07-26 23:46] scalablecory opened #39941 "Exception types for System.Net.Connections"
## Background and Motivation

We need an exception model for System.Net.Connections implementations, so that users can catch and react to common network events such as a connection reset.

Normally a `SocketException` would be used, but an abstracted connection may not be using a `Socket` and so that may not be appropriate. Furthermore it might confuse bugs in the connection's code versus events p

[2020-07-27 01:47] fsinisi90 opened #39945 "Interop with C++: Is it possible?"
I want to embed .NET Core in my C++ application (host) and be able to P/Invoke methods from C# directly like Mono allows doing.

For example, with Mono I can write this:

[code]

And because I'm using `"__Internal"` it will find the symbol in the main assembly.

Is there a way to accomplish that with .NET Core?

[2020-07-27 02:19] danmosemsft commented on #38872
I can't figure out how to hit AlternationHasMalformedCondition either. It's difficult to follow what's going on, but something like `(?()a|b)` which surely has an invalid condition is treated as a condition that is always true. Likely unintentionally. So it may never be possible to throw for an invalid condition without making a breaking change, unless there is some other condition I haven't tried

[2020-07-27 02:30] LeaFrock commented on #39919
@danmosemsft  Updated, thanks!

Just take reference of `ConcurrentDictionary<TKey, TValue>`.

Sorry, I'm confused whether the whole members of interface contract should be listed above? I deleted overloads of `CopyTo` and added getter for the generic enumerator.

Agreed. I moved the related content to 'Alternative Designs'.

Agreed & done.

I think **NO**, because it's a simpler collection than Co

[2020-07-27 02:45] abelbraaksma commented on #38872
The only thing that comes close is `AlternationHasNamedCapture`, which is like a malformed condition, but more specific. I had a look at the code at the time and it looked like the more general case will never hit as it is currently written.

It may be something from a moment during development where certain conditions where indeed invalid, and later changes have allowed more freedom in the condit

[2020-07-27 02:50] abelbraaksma commented on #38872
Another train of thought is that technically one can consider certain conditions malformed, but you get a different error instead, like missing parens, or other errors that could essentially fit in more categories than one.

A change could then be made to make certain imprecise errors more specific, which in turn may lead to the `AlternationHasMalformedCondition` taking on a useful role.

But you

[2020-07-27 03:26] v-haren opened #39943 "Test failure: System.Numerics.Tests.Vector3Tests.Vector3ReflectTest"
failed in job: [runtime 20200726.14 ](https://dev.azure.com/dnceng/public/_build/results?buildId=746222&view=ms.vss-test-web.build-test-results-tab&runId=23130472&resultId=160143&paneView=debug)

Error message
[code]

Runfo Tracking Issue: [system.numerics.tests.vector3tests.vector3reflecttest](https://runfo.azurewebsites.net/tracking/issue/51)
|Build|Definition|Kind|Run Name|Console|Core Dump|Tes

[2020-07-27 04:32] v-haren opened #39944 "Test failure: CoreMangLib\\system\\threading\\interlocked\\InterlockedExchange1\\InterlockedExchange1.cmd"
failed in job: [runtime-coreclr gcstress0x3-gcstress0xc 20200726.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=746110&view=ms.vss-test-web.build-test-results-tab&runId=23126532&resultId=109798&paneView=debug)

Error message
[code]

[2020-07-27 05:06] sgryphon commented on #39816
While NodaTime is good, I think simplicity is more important. `DateTimeOffset` already exists in the framework, and doesn't have the drawbacks of `DateTime`.

`DateTimeOffset` can perform all the functions of `Instant`, such as comparison, without any of the drawbacks of `DateTime`. In theory a `DateTime` fixed to UTC could do similar, but there is a high risk of getting out of sync with any manip

[2020-07-27 05:41] bartonjs commented on #39922
I agree with the duplicate assessments, these requests are already tracked.

[2020-07-27 05:41] #39922 closed

[2020-07-27 05:47] danmosemsft commented on #39919
Thanks

We're looking for the same format as in this file
https://github.com/dotnet/runtime/blob/master/src/libraries/System.Collections.Concurrent/ref/System.Collections.Concurrent.cs#L75

[2020-07-27 06:09] LeaFrock commented on #39919
@danmosemsft Got it. I'll finish it at another time.

[2020-07-27 06:19] iDreamCXK commented on #39926
I verify this problem by writing a demo. The result shows  that it works fine on .Net 5 Preview 7 ,while the memory grows slowly on .Net 3.1 , although I force garbage collection.

![Ping内存泄漏](https://user-images.githubusercontent.com/46046441/88509526-d7b2d980-d013-11ea-8d43-f4bb566d9a5c.png)

The code is below :

`using System;
using System.Collections.Generic;
using System.Net.NetworkInformatio

[2020-07-27 06:22] BruceForstall opened #39947 "SuperPMI checked/release failures"
Run SuperPMI in asm diff mode using Checked and Release JIT (Windows x64), on the full frameworks + tests collection, e.g.:
[code]

I see 926 of:
[code]
and 1:
[code]

I would expect there not to be any errors. The collection was done using a Windows x64 Checked JIT. A Release JIT shouldn't ask any different questions, so the Checked collection should be usable.

Related? https://github.com/dotnet

[2020-07-27 06:22] BruceForstall commented on #39947
cc @dotnet/jit-contrib

[2020-07-27 06:36] v-haren commented on #39571
failed again in job: [runtime-coreclr gcstress-extra 20200726.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=746229&view=ms.vss-test-web.build-test-results-tab&runId=23131226&resultId=110438&paneView=debug)

failed test: Loader\\binding\\tracing\\BinderTracingTest.ResolutionFlow\\BinderTracingTest.ResolutionFlow.cmd

Error message
[code]

[2020-07-27 06:48] KalleOlaviNiemitalo commented on #39876
Adding an abstract method to `DbConnection` would be a breaking change for existing ADO.NET providers.

The `Clone()` method is not part of `DbConnection`, either. It is part of `ICloneable`, which is implemented by some classes derived from `DbConnection`. A new interface for `CloneWith` might make sense. Alternatively, `DbConnection.CloneWith` could be a virtual method that throws `NotSupportedE

[2020-07-27 06:58] v-haren commented on #33993
failed again in job: [runtime-coreclr libraries-jitstress 20200726.1](https://dev.azure.com/dnceng/public/_build/results?buildId=746053&view=ms.vss-test-web.build-test-results-tab&runId=23124036&resultId=102773&paneView=debug)

failed test: Microsoft.Extensions.Caching.Memory.CapacityTests.DoNotAddIfSizeOverflows

Error message
[code]

[2020-07-27 07:05] am11 commented on #39945
Related https://github.com/dotnet/runtime/issues/7267

[2020-07-27 07:12] v-haren opened #39950 "Test failure: System.Numerics.Tests.GenericVectorTests.LessThanOrEqualUInt16"
failed in job: [runtime-coreclr libraries-jitstress 20200726.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=746053&view=ms.vss-test-web.build-test-results-tab&runId=23123738&resultId=140083&paneView=debug)

Error message
[code]

[2020-07-27 07:21] mfkl commented on #39211
This works
[code]

But only with
[code]

[2020-07-27 07:30] v-haren opened #39951 "Test failure: DataContractSerializerTests.DCS_DecimalAsRoot"
failed in job: [runtime-coreclr libraries-jitstress2-jitstressregs 20200725.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=745730&view=ms.vss-test-web.build-test-results-tab&runId=23109872&resultId=127010&paneView=debug)

Error message
[code]

[2020-07-27 07:38] Clockwork-Muse commented on #39816
... `Instant`, in theory, doesn't have a "friendly" display (although both NodaTime and Java give it a default UTC output).  You're _supposed_ to translate it to some configured zone.  This is best handled by the application itself, not automatically (ie, file times can't be translated to the "local" zone), since the local zone of the process may not be the zone desired for display (ie, on a serve

[2020-07-27 08:02] roji commented on #39876
As you writ below, we can just add a non-abstract virtual method that throws NotSupportedException.

We sometimes add capability flags for this, and this may be a good case to do that.

Unless I'm missing something, the imaginable fallback code wouldn't be able to do much beyond copy the connection string from the old to the new connection string (this could even be the default implementation for

[2020-07-27 08:27] ViktorHofer commented on #39938
Closing as dup of https://github.com/dotnet/standard/issues/1527.

[2020-07-27 08:27] #39938 closed

[2020-07-27 08:30] albracko opened #39953 "The JSON value of length n is too large and not supported #2"
I'm referring to this issue https://github.com/dotnet/runtime/issues/30746 that was closed with limit of 125MB staying fixed opposed to being configurable.

It was argued that there would be no common cases hitting the 125MB limit. Such cases probably never occur on UI but there are such cases...for example if you have a REST API that returns JSON document which has some document encoded as a base

[2020-07-27 08:42] preferProof opened #39954 "regsvr32 comhost.dll in .NET5 doesn't work"
when trying a simple .net5 COM server by following the tutorial [https://docs.microsoft.com/en-us/dotnet/core/native-interop/expose-components-to-com](url) ,Nothing happens after running"regsvr32 ComSample.comhost.dll".There isnt any item created in the Registry.
sdk version 5.0.100-preview.7.20366.6
code file
[code]
 project file:
[code]
Build succeeded, no warning or error.
Regsvr32 doesnt displ

[2020-07-27 08:56] kjpou1 opened #39955 "[browser] File System Emscripten's errno values are based on WASI"
Emscripten's errno values are based on WASI which uses 44 for ENOENT.

This is not the value that is expected in the `NotFoundErrorIsExpected` test.

This issue is opened to make sure the skipping of this test is addressed.

https://github.com/emscripten-core/emscripten/issues/10157

Error numbers defined in the wasm runtime code.

[code]

[2020-07-27 08:56] janvorli commented on #39583
@safern RHEL 7 has ICU 50.2

[2020-07-27 09:16] xtqqczze opened #39956 "API proposal: IsEmpty property for System.Guid"
## Background and Motivation

Add `IsEmpty` property to `System.Guid` for convenience.

<https://stackoverflow.com/questions/9837602/why-isnt-there-a-guid-isnullorempty-method/9837628>

## Proposed API

[code]

## Usage Examples

[code]

## Alternative Designs

## Risks

[2020-07-27 09:21] KalleOlaviNiemitalo commented on #39876
Wouldn't it be difficult for a default implementation of `DbConnection.CloneWith` to parse parameters from the connection string and know which of them contain security information?

[2020-07-27 09:24] roji commented on #39876
@KalleOlaviNiemitalo I'm not proposing anything be parsed anywhere (corrected to above which was inaccurate) - only that the default implementation of CloneWith simply instantiate a new connection with the connection string provided by the user. If that connection string itself is sufficient to connect, CloneWith would work - otherwise it would fail. For the cases which are actually interesting, t

[2020-07-27 09:35] KalleOlaviNiemitalo commented on #39876
Such a default implementation would still have to throw NotSupportedException if the derived class does not implement ICloneable.

[2020-07-27 09:55] roji commented on #39876
Depending on provider, the connection string usually represents many/most of the settable things on a connection, so I do think there's value in a *default* implementation that simply instantiates the connection with the connection string. But that's not a terribly important question, it can also throw instead.

[2020-07-27 10:17] akoeplinger commented on #38942
This seems to be fixed by https://github.com/dotnet/runtime/pull/39856.

[2020-07-27 10:17] #38942 closed

[2020-07-27 10:17] akoeplinger commented on #39473
I checked the data and couldn't find any run that hit this after the fix was merged :)

[2020-07-27 10:17] #39473 closed

[2020-07-27 12:01] akoeplinger commented on #39635
Closing as this is fixed in later builds.

[2020-07-27 12:01] #39635 closed

[2020-07-27 12:26] steveisok commented on #39473
Nice job everybody!  That was a tough one.

[2020-07-27 12:32] steveisok commented on #39379
Interesting.  Would `PublishTrimmed` include the satellite assemblies in the output?

[2020-07-27 12:57] roji commented on #39620
@yyjdelete are you interested in submitting a PR to fix this?

[2020-07-27 13:39] ViktorHofer commented on #35891
Fixed with https://github.com/dotnet/runtime/commit/809a06f45161ae686a06b9e9ccc2f45097b91657

[2020-07-27 13:39] #35891 closed

[2020-07-27 13:42] safern commented on #39583
Thanks @janvorli -- at the end we just did this for macOS.

[2020-07-27 13:45] safern commented on #39379
@eerhardt @marek-safar for that question.

[2020-07-27 13:53] ericwj commented on #39211
Yes, I perfectly see your point. I just point out there's more to it than just .NET. Will just have to see what the experts say and the priority this gets.

[2020-07-27 14:18] vcsjones commented on #39962
This is a dupe of https://github.com/dotnet/runtime/issues/39756.

[2020-07-27 14:23] RichardVogelij commented on #39756
Would like to mention this also started appearing in the generation of PDF files using iTextSharp which worked fine in 3.2 but any more in 5.0 due to `System.DllNotFoundException: libSystem.Security.Cryptography.Native.OpenSsl assembly:<unknown assembly> type:<unknown type> member:(null)`

[2020-07-27 14:29] akoeplinger commented on #39962
Duplicate of #39756.

[2020-07-27 14:29] #39962 closed

[2020-07-27 14:30] ericwj commented on #39793
Maybe API's like `GetFulPath` should also normalize `//?/unc/...` to uppercase?

Currently `GetFullPath` yields `\\?\unc\...`. Seeing there is special behavior for the exact string `\\?\` that could be enough if `\\?\UNC\` isn't special cased, too.

[2020-07-27 14:32] volaru77 commented on #39962
This code is in a shared library that is used server side and in applications running outside the browser, so using JS interop is not an option. I will follow https://github.com/dotnet/runtime/issues/39756 for a potential resolution.

[2020-07-27 14:37] WizardBrony opened #39963 "coreclr documentation questions - Virtual Stub Dispatch"
I have been trying to follow the documentation for how Virtual Stub Dispatch works in the CLR. I understand that the documentation explains some features that aren't currently turned on in the CLR, but I am still interested in knowing how they work:

https://github.com/dotnet/coreclr/blob/master/Documentation/botr/virtual-stub-dispatch.md

About halfway through, there is an example that shows what

[2020-07-27 15:12] marek-safar commented on #39756
@lewing @akoeplinger What API does Roslyn call?

[2020-07-27 15:17] vcsjones commented on #39756
@marek-safar Looks like Roslyn uses the SHA/MD5 algorithms to digest source files. https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/CryptographicHashProvider.cs

[2020-07-27 15:18] tannergooding commented on #33948
@echesakovMSFT, it looks like your draft PR didn't get merged, was there usability concerns?

Should we just lower the number of tests per project for now so they can run without timing out?

[2020-07-27 15:20] SamMonoRT commented on #38718
We haven't had regular runs in the perf labs since Jun 25th as they are upgrading the driver system and can't be certain if there were other regressions creeping in while the lab was offline(Mono runs not being executed).  We haven't quite achieved the same perf numbers as before, and are waiting on the new runs to be enabled in perf labs. if those numbers from newer runs are trending in positive

[2020-07-27 15:22] SamMonoRT commented on #38627
@thaystg - do we need to track this anymore based on comments in https://github.com/mono/mono/pull/20156 ?

[2020-07-27 15:23] #39838 closed

[2020-07-27 15:24] tannergooding commented on #39838
Happy to answer any other questions, but closing this for now since the behavior is expected/by-design for now.

[2020-07-27 15:24] thaystg commented on #38627
This should be fixed when this https://github.com/mono/mono/pull/20159 that Zoltan did is merged.

[2020-07-27 15:25] tannergooding commented on #38841
Closing. The last -arm job fully passed (https://dev.azure.com/dnceng/public/_build?definitionId=665) and the last x86 job only had eventpipe failures which are unrelated: https://dev.azure.com/dnceng/public/_build?definitionId=664

[2020-07-27 15:25] #38841 closed

[2020-07-27 15:26] #39770 closed

[2020-07-27 15:32] safern commented on #39927
Yeah I agree with @saucecontrol if help is working for netstandard2.1 and netcoreapp3.1 projects this is definitely an issue with the .NET Standard 2.0 ref pack not containing the correct .xml file in it.

[2020-07-27 15:33] tannergooding commented on #39950
CC. @echesakovMSFT, @CarolEidt, @kunalspathak

[2020-07-27 15:42] Coderrob commented on #36010
Originally opened a PR in the dotnet/extensions repo for this work.

https://github.com/dotnet/extensions/pull/2810

[2020-07-27 15:51] eerhardt commented on #39745
Moving to 6.0, as the size savings here is not critical for 5.0.

[2020-07-27 15:52] dehghani-mehdi opened #39966 "Why `Microsoft.Data.SqlClient` has dependency to `Microsoft.Identity.Client`?"
Why `Microsoft.Data.SqlClient` has dependency to `Microsoft.Identity.Client`?

[2020-07-27 15:54] janvorli commented on #39609
@vitek-karas I have debugged it and I am confident the problem is not in the unloadability related stuff. The related `DomainFile` destructor ends up getting called properly. On 3.1, it destroys the last reference to the underlying `PEFile` and so the handle gets closed. On 5.0 though, the refcount is higher by 1 and so the `PEFile` remains alive and the handle is never closed.
On 5.0, there are 2

[2020-07-27 15:55] janvorli commented on #39609
I have also created a gist with log of stack traces at the `PEFile::AddRef` / `Release`: https://gist.github.com/janvorli/c924c053ea0097a62760cbd76129fd34

[2020-07-27 16:02] ericstj commented on #38924
The purpose of transport packages in the past was to share bits between repositories for the purpose of repackaging (eg: between coreclr and core-setup, or SDK).  It's possible these are non longer needed with the repo merge.  Not sure, you could probably search for consumers.

[2020-07-27 16:04] eerhardt commented on #39379
Yes. Satellite assemblies coming from a NuGet package don't get passed to the ILLinker at all. They are always copied to the publish directory by the Publish target.

cc @sbomer

[2020-07-27 16:07] lewing commented on #39450
@thaystg any progress here?

[2020-07-27 16:08] thaystg commented on #39450
Not yet.

[2020-07-27 16:13] ericstj commented on #39902
That doesn't agree with the frequency you are seeing this.

I see the code you pointed out only checks if the handle `IsInvalid` not closed.  I see that the ReleaseHandle method doesn't actually clear the handle:
https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.IO.Pipes/src/Microsoft/Win32/SafeHandles/SafePipeHandle.Windows.cs#L16

If I had to gu

[2020-07-27 16:14] Ahoerstemeier opened #39967 "Configuration.Save() does write changes to appsettings"
### Description

The following little code sniplet writes an empty app.config
`            var config = ConfigurationManager.OpenMappedExeConfiguration(configMap, ConfigurationUserLevel.None);
            config.AppSettings.Settings.Add("YourKey", "YourValue");
            config.Save(ConfigurationSaveMode.Full);
`
In 4.7.2 it did write the old app.config plus the new key.

### Configuration

x64,

[2020-07-27 16:19] DotNetAppCompatFeiWang opened #39968 "[5.0.100-preview.8.20373.19] OpenMu plugins not displayed due to System.Reflection.ReflectionTypeLoadException"
**Application Name:** Open Mu
OS: Windows 10 RS5
CPU: X64
.NET Build Number: 5.0.100-preview.8.20373.19

App Location: On repro machine, at C:\Users\appcompat\Documents\OpenMU
App Source : On repro machine, at C:\Users\appcompat\Documents\OpenMUSource
App Source on GitHub link: https://github.com/MUnique/OpenMU (this source is new, we test old version )

**Verify Scenarios:**
1). Windows 10 RS5 X6

[2020-07-27 16:19] mkArtakMSFT commented on #39968
@marek-safar  FYI

[2020-07-27 16:21] kunalspathak commented on #38522
@janvorli  - Did you get chance to verify this?

[2020-07-27 16:27] twsouthwick commented on #26084
@danmosemsft Similar https://github.com/dotnet/runtime/issues/1544, this one is blocking people from moving to .NET Core/.NET 5 who use DocumentFormat.OpenXml as documents that would open just fine using System.IO.Packaging when targeting < .NET 4.5 but now fail to open with no way to handle it.

[2020-07-27 16:27] janvorli commented on #38522
I am sorry, I had vacation last week and I didn't have a chance to verify it before leaving. I'll give it a try today.

[2020-07-27 16:28] mkArtakMSFT commented on #39969
@lewing FYI

[2020-07-27 16:37] maryamariyan commented on #36010
Thanks @Coderrob were you planning on moving over the diff to runtime repo and a PR against this new repo instead?

[2020-07-27 16:38] BrennanConroy commented on #39911
`IHost` is in the runtime repo now.

[2020-07-27 16:40] jkotas commented on #39966
@cheenamalhotra Could you please transfer this issue to https://github.com/dotnet/sqlclient?

[2020-07-27 16:44] jkotas commented on #39963
cc @davidwrighton

[2020-07-27 16:45] ViktorHofer commented on #36215
I believe the tracking work is already implemented. cc @safern

[2020-07-27 16:45] BruceForstall commented on #39944
This was `CoreCLR Windows_NT arm64 Checked gcstress0xc @ Windows.10.Arm64v8.Open`

[2020-07-27 16:46] BruceForstall commented on #39950
This was `net5.0-Linux-Release-arm-CoreCLR_checked-jitstress1_tiered`

[2020-07-27 16:47] BruceForstall commented on #39951
This was `net5.0-Linux-Release-arm-CoreCLR_checked-jitstress2_jitstressregs1`

[2020-07-27 16:55] NikolaMilosavljevic commented on #2243
ThirdPartyNotices.txt file is installed as a shared component, to the same location, by both .NET 5.0 and .NET Core 3.1. Renaming this file in 5.0 would still preserve the 3.1 file on disk. If a similar fix was applied in 3.1,  it would not guarantee that the old file is removed, due to ref-counting and order of installs and version of shared .NET runtime on user's machines.

[2020-07-27 16:55] #2243 closed

[2020-07-27 17:01] NikolaMilosavljevic commented on #2000
@v-chayan - can you check that latest .NET 3.1 runtime servicing build can be installed correctly on OpenSUSE 15?

[2020-07-27 17:09] safern commented on #36215
The work to achieve this is already implemented, however we still need to move interpreter leg to the regular leg and use that mechanism still.

[2020-07-27 17:19] echesakovMSFT commented on #33948
@tannergooding I found some issues with the approach - I will work on the issue this week.

[2020-07-27 17:27] danmosemsft commented on #26084
cc @ericstj whose team owns these API's and can evaluate. Unless it's bug fix level, it would be 6.0 work at this point.

[2020-07-27 17:38] hoyosjs commented on #39918
Will try to take a look today

[2020-07-27 17:48] alexcovington commented on #39787
I'm still unable to build using the instructions [here](https://github.com/dotnet/runtime/blob/master/docs/workflow/building/coreclr/README.md). I'm still getting the same error message as above. I've successfully been able to build CoreCLR on Ubuntu 20.04.

Any word on a fix?

[2020-07-27 17:59] steveisok commented on #36215
/cc @directhex

[2020-07-27 18:01] hoyosjs commented on #33528
This was completed in #39574

[2020-07-27 18:01] #33528 closed

[2020-07-27 18:05] mou7866 commented on #36547
Please can this issue be added as I am having immense issues flushing keys manually. Thank you

[2020-07-27 18:14] vitek-karas commented on #39907
I spent some time today looking into this:
* On Linux this is relatively simple - just add `libhostpolicy` to the list of "Special" libraries in `dllimport.cpp`
* On Windows this a bit more tricky:
  * We need to special case `hostpolicy.dll` in `dllimport.cpp` as well, but only when running with single-file host with `hostpolicy` included
  * The `coreclr` itself can't tell if single-file host ha

[2020-07-27 18:15] layomia commented on #39896
We won't get to this in 5.0, but it can be considered in the next release. See the [JSON docs](https://docs.microsoft.com/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to#callbacks) for an example workaround for these callbacks.

[2020-07-27 18:33] Mailaender commented on #2000
I had a package update recently and it didn't ask to resolve broken dependencies, so I presume you fixed it successfully. Thanks!

[2020-07-27 18:33] #2000 closed

[2020-07-27 18:35] arunjvs commented on #38730
Why hadFiles and why !hadCerts, before you see /etc/ssl/certs? Won't a union irrespective, just work? What is GoLang/Python doing for instance?

There may always be some usable certs in OPENSSL_DIR and some usable (i.e. `BEGIN CERTIFICATE`) in /etc/ssl/certs. In the case of SLES perhaps _almost_ all usable  are in /etc/ssl/certs. Would just one valid cert in OPENSSL_DIR stop us from loading /etc/s

[2020-07-27 18:36] cshung commented on #166
My commit https://github.com/dotnet/runtime/commit/44ed52a8cd71d4dedc58943725a1fe3a14f4b38d introduced in PR https://github.com/dotnet/runtime/pull/34797 provided the capability to enable a configuration to be read from `runtimeconfig.json` simply by adding the expected name in the third column of the gcconfig table like this:

https://github.com/dotnet/runtime/blob/824d7709f03d093e48b1ea23f0bad77

[2020-07-27 18:47] ViktorHofer commented on #30685
Dup of https://github.com/dotnet/runtime/issues/30574

[2020-07-27 18:47] #30685 closed

[2020-07-27 18:57] ViktorHofer commented on #37325
@tmat do you know about this issue? Should we move it sourcelink?

[2020-07-27 18:59] ViktorHofer commented on #37817
@marek-safar do you think the ILLink deterministic fix will be ready for 5.0?

[2020-07-27 19:00] #38275 closed

[2020-07-27 19:05] john-h-k opened #39971 "Introduce Math/F.ReciprocalEstimate and Math/F.ReciprocalSqrtEstimate"
## Background and Motivation

This would expose methods in `Math`/`MathF` which provide a method to calculate estimations for the reciprocal (`1 / x`), reciprocal square root (`1 / sqrt(x)`) and square root of a method. These are estimations, and are faster than their equivalent "exact" IEEE counterparts but are not necessarily deterministic on all systems.

These methods prove very useful in 3D g

[2020-07-27 19:06] josalem commented on #38801
I can't seem to get this to reproduce locally with `COMPlus_gcstress=0xc` and `COMPlus_TieredCompilation=0`.  I'll try with a few different gcstress modes.

[2020-07-27 19:09] tmat commented on #37325
I don't see a specific Source Link issue here yet. Seems like it should be first investigated in dotnet/runtime repo and only when a specific issue is found file it in sourcelink repo.

[2020-07-27 19:11] elinor-fung commented on #39609
Thanks @janvorli. I will take a look.

[2020-07-27 19:12] BruceForstall commented on #38801
Note the failure above was `CoreCLR Windows_NT x86 Checked gcstress0xc @ Windows.10.Amd64.Open`. It only seems to fail on x86.

Here's the latest failure (from this weekend, before https://github.com/dotnet/runtime/pull/39937):
https://dev.azure.com/dnceng/public/_build/results?buildId=746110&view=ms.vss-test-web.build-test-results-tab

[2020-07-27 19:13] josalem commented on #38801
Looks like I got a repro under gcstress=0x3c, but not 0x3 or 0xc on their own.

[code]

Just now reading through the stack to see if I can pinpoint what happened.

[2020-07-27 19:18] tommcdon commented on #37983
@hoyosjs can you take a look?

[2020-07-27 19:18] #39664 closed

[2020-07-27 19:19] tommcdon commented on #37504
Closing since this looks like expected behavior

[2020-07-27 19:19] #37504 closed

[2020-07-27 19:20] tommcdon commented on #34014
Closing since #34113 was merged

[2020-07-27 19:27] tommcdon commented on #38018
@davidwrighton @davmason I believe that this issue is not fixed in 5.0, but is also not a default scenario and only reproduces if tiered compilation is disabled. Assuming the r2r_backpatch feature was not back ported to 5.0, I am leaning towards moving this to 6.0.  What are your thoughts on benefits/risk porting r2r_backpatch to 5.0?

[2020-07-27 19:28] AndyAyersMS commented on #39947
Do we want this in 5.0?

[2020-07-27 19:28] tommcdon commented on #37586
Closing as this looks like a duplicate to #13041.  Please let us know if that is not true and we will investigate further.

[2020-07-27 19:28] #37586 closed

[2020-07-27 19:31] tommcdon commented on #37444
@tejasavora did Gregg's suggestion resolve the issue?  This was mentioned on https://github.com/OmniSharp/omnisharp-vscode/issues/3277#issuecomment-654514481

[2020-07-27 19:31] josalem commented on #38801
Based on a quick read, it looks like this is happening because `System.Diagnostics.Process` calls `System.Threading.ThreadPool.RegisterWaitForSingleObject` which ultimately gets the ThreadPool lock here:
https://github.com/dotnet/runtime/blob/168409e0f96f4d96a7e747dff0a5764b59592cfb/src/coreclr/src/vm/win32threadpool.cpp#L2244-L2249

Then a GC starts after the switch to `GCPreemp` in frame `0x1c`

[2020-07-27 19:34] tommcdon commented on #35563
@davmason is there any work left for 5.0 for this issue?

[2020-07-27 19:34] tommcdon commented on #35561
@davmason is there any work left for this issue?

[2020-07-27 19:36] ericstj commented on #26084
Correct, the soonest this could go in is 6.0.

Some thoughts on the proposal.  It sounds like the primary purpose of this issue is to add an `IUriFactory` that can be specified when opening a package.  This seems like a very advanced scenario, and I don't see the benefit of adding so much API to support it.  I'd recommend starting with a more minimal proposal that minimally enables the scenario. M

[2020-07-27 19:40] #34014 closed

[2020-07-27 19:41] tommcdon commented on #33710
Thanks for verifying!  Closing this issue.

[2020-07-27 19:41] #33710 closed

[2020-07-27 19:41] tommcdon commented on #33564
@sdmaclea can this issue be closed?

[2020-07-27 19:42] josalem commented on #38801
I don't immediately see anything _new_ that might be causing this.  The reason that we are getting into this situation it seems is that when I set `System.Process.EnableEvents` to `true` in the test harness

https://github.com/dotnet/runtime/blob/52d4d8c057d24a77b2cf6708d495cf549a8bee9a/src/tests/tracing/eventpipe/common/IpcUtils.cs#L94

 it calls this code:

https://github.com/dotnet/runtime/blob

[2020-07-27 19:43] tommcdon commented on #31900
@semyon2105 are you still experiencing the CPU issues mentioned in djluck/prometheus-net.DotNetRuntime#6?

[2020-07-27 19:44] tommcdon commented on #1892
@davmason @josalem is there any outstanding 5.0 work for this issue?

[2020-07-27 19:44] tommcdon commented on #1874
@sdmaclea can this issue be closed?

[2020-07-27 19:45] tommcdon commented on #1099
Design doc: https://github.com/dotnet/runtime/pull/39800

[2020-07-27 19:47] tommcdon commented on #12739
@hoyosjs does this repro on .NET 5?

[2020-07-27 19:47] tommcdon commented on #12706
Closing as runtime side of work is merged: #39804

[2020-07-27 19:47] #12706 closed

[2020-07-27 19:52] tommcdon commented on #12552
@kfrolov it looks like this issue was fixed on dotnet/coreclr#24271, OK to close?

[2020-07-27 19:52] AndyAyersMS commented on #34214
@BruceForstall does this still repro?

[2020-07-27 19:53] tommcdon commented on #36571
@sywhang do you have a PR for this issue?

[2020-07-27 19:53] AndyAyersMS commented on #35853
@kunalspathak if there's no more planned 5.0 work, we should move this to future.

[2020-07-27 19:53] hoyosjs commented on #37444
If you don't see those two files, I can only think of two options: The service is running as a service as something under `systemd` with private temp, or an environment variable was set so disable diagnostics (with an environment variable `COMPlus_EnableDiagnostics=0`).

[2020-07-27 19:54] kunalspathak commented on #35853
Done.

[2020-07-27 19:57] kg commented on #38803
I've been trying to reproduce this and can't. There must be more to it, like a set of conditions that lead to it happening. Does it need to be running in a browser environment in particular, or in node? Does the await need to happen in an event handler or a threadpool task?

[2020-07-27 19:59] josalem commented on #1892
The bandaid fix applied in #1794 has kept this from popping up on my radar, so I believe this underlying issue is still present.  We could still go and make the changes I alluded to [in my comment on the PR](https://github.com/dotnet/runtime/pull/1794#issuecomment-575421919) in `EventPipeEventSource` to fix the only provided, live reader that I am aware of (note that this would be out of band work

[2020-07-27 20:02] cjblomqvist commented on #30820
I have to agree with many other concearning Ignore - and I'd like to try to add some arguments. Unfortunately video is not optimal for me, so I might have missed good arguments in the videos (but I've read through this issue/comments at least).

My arguments are based on that Preserve is the only good alternative. My reasoning for that: [JsonIgnore] is not feasible whenever you have a two-way rela

[2020-07-27 20:02] ViktorHofer commented on #37325
If I understood correctly, this about sourcelink complaining that it can't find GIT information on an clone that doesn't have GIT enabled.

[2020-07-27 20:05] agocke commented on #39515
@lothrop We changed the extraction logic a couple months ago to verify all binaries and re-extract them if necessary. However, this does require you to rebuild/redeploy your app. Could you provide info on which version of the SDK/runtime you saw this issue with?

[2020-07-27 20:06] BruceForstall commented on #39947
Yes.

[2020-07-27 20:11] hoyosjs commented on #37325
@ViktorHofer it feels like it should be disabled in arcade for zip downloads (aka, there's no `.git` folder). We'd need to do that too for native source versioning files in runtime too I believe.

[2020-07-27 20:13] ViktorHofer commented on #37325
yeah, shouldn't the sourcelink package detect that there's no .git folder? Naively asking as I don't know how this all works...

[2020-07-27 20:14] agocke commented on #38405
@LakshanF This would be good to put in the docs for `PublishSingleFile`

[2020-07-27 20:22] BruceForstall commented on #34214
I haven't tried recently, but, also, we've stopped running Windows arm32 testing in CI. So, this is lower priority. However, if it fails on Windows arm32 then presumably there could be an issue on Linux arm32, so I don't want to push it out yet.

[2020-07-27 20:26] ViktorHofer commented on #38383
Hey @handlespeed, can you try to just do a `dotnet test` on the Microsoft.Extensions.Configuration.Binder.Tests.csproj project on latest master? The source library is built together with the test project. Also what @ericstj said above, a root build is required first: `build.cmd clr+libs -rc Release`.

[2020-07-27 20:31] ericstj commented on #39925
Actually netstandard2.0 one is 4.1.3.0.

Looks to me like missing bindingRedirects.  Try adding the following to your unit test CSProj:
[code]

[It worked for me](https://github.com/dotnet/runtime/files/4984256/vectorTest.zip)

[2020-07-27 20:34] hoyosjs commented on #37325
The thing is is you reference sourcelink and you set repository type to be git, an error saying like this is honestly what you want for sanity check. In arcade if you don't disable SCM queries, it's assumed to be a git repo automatically: https://github.com/dotnet/arcade/blob/22d6355c4f3c9ac00b0e3abf9d85f2fb07e4787b/src/Microsoft.DotNet.Arcade.Sdk/tools/RepositoryInfo.targets#L32

[2020-07-27 20:43] maryamariyan commented on #39022
@Ninds so basically
[code]
would need to be called before the scope provider setup. That's why ILogger defined in your "if (itWorks)" code block works and not the one define underneath.

[2020-07-27 20:48] ericstj commented on #33680
We can enumerate the places the new moniker may appear.  The thing @danmosemsft mentioned actually doesn't change.    We left it at .NETCoreApp:
[code]
The same seems to be true for AppDomainSetup.TargetFrameworkName.

@Jkotas changed what RuntimeInformation returns here:
https://github.com/dotnet/runtime/commit/410b992bfba530841451fc4e1857be8ea1a8f92a

Perhaps that's the only place?  It might be

[2020-07-27 20:54] davidfowl commented on #39022
You shouldn't be setting the scope provider yourself, that's the job of the LoggerFactory. What exactly are you trying to do?

[2020-07-27 20:56] cshung commented on #13115
@mangod9

I have double checked our [test exclusion list](https://github.com/dotnet/runtime/blob/master/src/coreclr/tests/issues.targets). It appears to me that the test is no longer excluded.

This issue concerns the [GCTests](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Runtime/tests/System/GCTests.cs), and it is not mentioned in the exclusion list. Searching `GCTests` in t

[2020-07-27 20:58] tommcdon commented on #1892
@josalem Thanks! To clarify, is this a test issue only and not a product bug?

[2020-07-27 21:03] davmason commented on #1892
This is a product issue that we added a workaround for in our tests

[2020-07-27 21:08] maryamariyan commented on #39022
And to further elaborate, I believe when you use LoggerFactory your code sample should look something like below:

[code]

But (a heads up), when you update to using .NET5 preview8 or later you'll notice due to some API deprecations you'll end up using the below sample instead:

[code]

Refer to: https://github.com/dotnet/runtime/issues/34742 which introduced the changes.

[2020-07-27 21:11] #39168 closed

[2020-07-27 21:11] danmosemsft commented on #36547
What would this look like as an API? (https://github.com/dotnet/runtime/issues/new?assignees=&labels=api-suggestion&template=02_api_proposal.md&title=)

[2020-07-27 21:22] ericstj opened #39976 "Obsolete warnings on clean build"
*Initial cost estimate*: 2 days
*Initial contacts*: @trylek, @ViktorHofer

#39269 introduced warnings to the full build.

For example https://dev.azure.com/dnceng/public/_build/results?buildId=746713&view=results

Shows 18 warnings which seem to be test code:
[code]

cc @jeffhandley

[2020-07-27 21:27] BruceForstall commented on #39931
Additional failures today: https://dev.azure.com/dnceng/public/_build/results?buildId=746876&view=ms.vss-test-web.build-test-results-tab

[2020-07-27 21:31] BruceForstall commented on #39932
Failed again: https://dev.azure.com/dnceng/public/_build/results?buildId=746876&view=ms.vss-test-web.build-test-results-tab&runId=23150822&resultId=100010&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

[2020-07-27 21:38] jeffhandley commented on #39734
Hi @HurricanKai. Thanks for suggesting this, but we have no plans to backport `Half` to ship it against previous versions.

[2020-07-27 21:38] #39734 closed

[2020-07-27 21:47] Jozkee commented on #30820
The problem with `Ignore` is that you end-up losing data, this will probably cause an issue even more severe than having a large payload or having to do extra parsing in the front-end.

e.g:
[code]

@cjblomqvist How is that similar scenarios are not a concern for you or everyone else asking for `Ignore`?

[2020-07-27 22:09] BruceForstall opened #39979 "Test failures: reverseouter.sh, reverse.sh"
The tracing/eventpipe/reverse/reverse/reverse.sh and tracing/eventpipe/reverseouter/reverseouter/reverseouter.sh tests are failing on OSX with timeouts in the `runtime-coreclr jitstress-isas-x86` pipeline in various stress modes. I don't know if the stress modes here matter, because the tests seem to fail in different stress modes in different runs.

https://dev.azure.com/dnceng/public/_build/resu

[2020-07-27 22:23] lothrop commented on #39515
We’re still on version 3.1.0.

[2020-07-27 22:23] tmat commented on #37325
Exactly. If you ask for Source Link (the default for .NET repos) and you can't get it we shouldn't just silently ignore it.

[2020-07-27 22:24] JamesNK opened #39980 "Use HTTP/2 by default when version is 2.0 and not using TLS"
In .NET Core 3.1 a request with `HttpRequestMessage.Version` set to 2.0 will use HTTP/1.1 if TLS is not used. An AppContext switch is required to opt-in to use HTTP/2+cleartext

This situation is improving in .NET 5 with version selection - https://github.com/dotnet/runtime/issues/987

Has allowing HTTP/2+H2C by default been considered? Browsers require TLS with HTTP/2, but for apps making API cal

[2020-07-27 22:29] tmat commented on #37325
The above error is reported as warning by SourceLink: https://github.com/dotnet/sourcelink/blob/f61f34798be0641e4bbfa3a50174c8ee1f4f7ee5/src/Microsoft.Build.Tasks.Git/RepositoryTask.cs#L99

So perhaps what we can do in Arcade SDK is to not treat this specific warning as an error, unless `ContinuousIntegrationBuild` is `true`. CI should definitely fail if Source Link doesn't work.

[2020-07-27 22:36] josalem commented on #39979
This looks similar to the test failure that #39129 fixed.  The dumps generated on macOS don't have the native bits in them, so I can't do much until I can repro this locally.  Once #39858 is in, these failures should provide more insight into what's happening here.  I'll see if running under stress modes causes this to happen more frequently.

[2020-07-27 22:48] bartonjs commented on #38730
* If the environment variable is set, we won't do anything other than what the variable says to do (it may be intentionally reducing the support list).
* If the directory that the library was told to use is empty, then it was told to be empty and we should accept that.
* If the distro-specific tooling is being followed, there shouldn't be a mix of styles, so a directory either contains usable cont

[2020-07-27 22:49] pranavkm opened #39981 "DateTime.TryParse allows invalid characters"
Noticed this when running our test suite:

[code]

In 3.1, this produces

In 5.0 (Runtime: 5.0.0-rc.1.20371.13), this produces

I'd thought it was treating the letter A as a cool new short form for AM, but that's not the case. Using any other letter results in a result comparable to 3.1. This is not blocking, just looked suspect.

[2020-07-27 23:01] #38792 closed

[2020-07-27 23:05] scalablecory commented on #39980
It's reasonable to explore if we can implement reliable version detection (i.e. look for an HTTP/1 response to the connection prefix) and allow it to (based on the user's version policy) fall back to HTTP/1.

Technically we should be using H2C upgrade if we get a http:// URI and aren't sure if the remote server supports HTTP/2. I'm not sure how many servers support this though.

[2020-07-27 23:11] maryamariyan commented on #39870
Sure. @alefranz go for it :)

[2020-07-27 23:19] mangod9 commented on #166
These are specifically called out in the original comment:

"System.GC.CpuGroup": Same as `COMPlus_GCCpuGroup`
"System.GC.HighMemoryPercent": Same as `COMPlus_GCHighMemPercent`
"System.GC.LargePages": Same as `COMPlus_GCLargePages`
"System.GC.HeapAffinitizeRanges": Same as `COMPlus_GCHeapAffinitizeRanges`

[2020-07-27 23:20] Maoni0 commented on #166
all 4 mentioned at the top should be exposed via runtimejson; I'm fine with the names suggested.

the ones you added to specify SOH/LOH/POH separately for hardlimit should also be exposed, following the same naming convention - `System.GC.HeapHardLimitSOH`, `System.GC.HeapHardLimitSOHPercent`, etc.

also I just noticed..it's very odd that GCHeapHardLimit itself is not exposed via runtimejson but G

[2020-07-27 23:24] CarolEidt commented on #39484
I believe that this was fixed with #39452.

[2020-07-27 23:24] #39484 closed

[2020-07-27 23:25] CarolEidt commented on #38772
I believe that this was fixed with #39452.

[2020-07-27 23:25] #38772 closed

[2020-07-27 23:28] sywhang commented on #36324
Changed the proposal a little bit to make it align with what we did for GC metrics.

@BruceForstall I modified the proposal to reflect your suggestions. Thanks!

@john-h-k @mjsabby Thanks for the suggestions - I think @BruceForstall can comment on whether those APIs would be useful to expose? From a diagnostics standpoint, I believe having managed APIs be exposed for computing these metrics can be

[2020-07-27 23:28] sywhang commented on #36571
There are issues I filed for API reviews. Some of them were closed because there are ways to compute them using the managed APIs:

https://github.com/dotnet/runtime/issues/36324 (JIT metrics): this one has some discussions going on regarding what metrics to expose. I think it might be better to hold off on this for 6.0 so that we can expose all the right metrics instead of adding just a couple of

[2020-07-27 23:28] danmosemsft commented on #39976
@jkoritzinsky these aside, should warnings be treated as errors in the Clr tests (and all other code we have)? Then presumably this would have been found in PR validation.

[2020-07-27 23:30] jkoritzinsky commented on #39976
Traditionally we havent done warnings-as-errors for the CLR tests because we always had a ton of warnings due to the weird build setup. It would be worth investigating if we can enable warn-as-error for the CLR test build.

[2020-07-27 23:30] tommcdon commented on #36571
Thank you! I will move this to 6.0 based off of the current status of the JIT metrics issue (#36324)

[2020-07-27 23:33] AntonLapounov commented on #10803
@AndyAyersMS I am a little puzzled by this.  After this change
https://github.com/dotnet/runtime/pull/34927/files#diff-68447c48441989d81fe1f417a898befbR36 we started to ignore `<ZapRequire>1</ZapRequire>` in a project file if it also sets `<CrossGenTest>false</CrossGenTest>`.  On the other hand, the test seems to pass even if I set `COMPlus_ZapRequire=1` and skip running `crossgen` (testing this o

[2020-07-27 23:47] JamesNK commented on #39980
I don't think anyone uses the H2C upgrade header. Kestrel doesn't, and I don't know of other servers that do. Everyone either uses ALPN, or prenegotiates H2C.

With `http` + `RequestMessage.Version = 2.0` + `HttpVersionPolicy.RequestVersionOrHigher` then HttpClient will use prenegotiated h2c, but I was wondering why it makes sense for `HttpVersionPolicy.RequestVersionOrLower` (the default value) t

[2020-07-27 23:49] AaronRobinsonMSFT commented on #39945
@fsinisi90 Specifying the actual process binary isn't supported using any of the current APIs (e.g. `NativeLibrary` or `DllImport`) in CoreCLR. Neither accept `__Internal` nor do they allow passing `null` to the underlying `LoadLibrary`/`dlopen` function being used.

Alternatively one could P/Invoke to `LoadLibrary`/`dlopen`, pass the `null`, and then use `GetProcAddress`/`dlsym` to access the des

[2020-07-27 23:49] #39945 closed

[2020-07-27 23:50] danmosemsft commented on #39976
Compiler warnings, or MSBuild warnings? The former should be suppressible, if expected, of course.

[2020-07-27 23:56] davidwrighton commented on #38018
Its a high risk item to port to 5.0 and enable by default. I would push this change into 6.0, but I believe its still interesting in the long term.

[2020-07-28 00:19] AndyAyersMS commented on #10803
Maybe we lost some part of the ZapRequired checks somewhere?

[2020-07-28 00:22] vargaz commented on #38718
Would it be possible to rerun the tests after this:
https://github.com/dotnet/runtime/commit/fa72c754c513e1a681e3df59c87573af59656afd

[2020-07-28 00:27] AaronRobinsonMSFT commented on #37213
@CoffeeFlux I think the `__Internal` support (https://github.com/dotnet/runtime/issues/7267) is something we should have a conversation about in .NET 6 and have marked it as such. If you wanted to start another .NET 6 effort to reimagine DlIMap I think that would be appropriate and helpful to bring together feedback from the various issues we have heard about DllIMap and fold them into an official

[2020-07-28 00:40] BruceForstall commented on #36324
@john-h-k I believe everything related to inlining is already available in ETW events. I think the goal and design point of these counters is different from ETW events, but @sywhang can better comment on that. E.g., I'm not sure how useful it would be to have a managed code API to get the ETW info that's already exposed. Unless perhaps there is a general managed API for consuming VM produced ETW e

[2020-07-28 00:46] tarekgh commented on #39981
@pranavkm what is your current culture?

[2020-07-28 00:49] pranavkm commented on #39981
`CultureInfo.CurrentCulture: en-US`

[2020-07-28 01:03] josalem commented on #39979
Managed to catch it locally and collect a dump.  I've got it under a debugger and will be picking away at it.  It isn't the same issue as #38156 (which was fixed with #39129).  The stress log doesn't show the "too many open files" error, and there aren't any orphaned FDs lying around.  The symptom is the same, but the frequency and determinism of hitting it is lower.  It is somehow exacerbated by

[2020-07-28 01:07] safern commented on #39981
@tarekgh and I looked at this and the difference comes from the switch to use ICU on Windows by default. The reason why you're able to parse it successfully on 5.0 is because the `en-US` era name in ICU is `AD` and in NLS is `A.D` so the abbreviated era name in `ICU` is `A` and in NLS is `AD` because ICU doesn't contain `.` in the era name.

Closing as this is by design in ICU.

[2020-07-28 01:07] #39981 closed

[2020-07-28 01:12] #39609 closed

[2020-07-28 01:18] agocke commented on #39515
This should be fixed in the latest patch version, 3.1.6. I'll close for now, but let me know if this repros after rebuilding with the latest and we can investigate

[2020-07-28 01:18] #39515 closed