[2020-07-10 19:17] tarekgh commented on #13507
@ericstj I tried your suggestion and worked very well. The only thing is it didn't work for the corelib. do you know how we can add this attribute there? I hope we'll not need any change from the build tools.

[2020-07-10 19:18] vcsjones commented on #17590
That's the intention.

We don't really have a native PAL for CNG (do we?) and CNG's one-shot `BCryptHash` is Windows 10+, so maybe both?

[2020-07-10 19:19] halter73 commented on #38739
Any change to always throw an OperationCanceledException would be breaking and would have serious performance implications, so I doubt that's in the cards. The documentation should definitely be improved though.

To clarify things in the meantime, here's how it works:

1. If FlushResult.IsCanceled is true, someone called PipeWriter.CancelPendingFlush(). Period.
    - Similarly if ReadResult.IsCanc

[2020-07-10 19:20] jeffhandley commented on #33331
@adamsitnik @buyaa-n During the Design Review meeting today, we talked about some details that affect the open PRs related to this work.

1. For the `OSPlatform.OSX` and `OSPlatform.macOS` equivalence:
    * We should leave the `OSPlatform` type itself ignorant of the equivalence between the two platforms
    * `.OSX` would therefore still be backed by the `"OSX"` string, and `.macOS` would be bac

[2020-07-10 19:21] Ozzard commented on #29976
Let's see!

Yes.

Don't care.  Shouldn't be the type author's concern unless they're trying to ensure something special like serialization being compatible between versions, implementations, or architectures.

But also didn't necessarily do any work to make it *not* serializable.  System.Random is a good example of that; for a given version on a given architecture, it serializes just fine.

No.  I

[2020-07-10 19:23] dellamonica commented on #39023
@BruceForstall: I've got an ExecutionEngineException on 5.0.0-preview.8.20358.9. I'll try COMPlus_GCStress=F now.

@AndyAyersMS: from VS Debug > Save Dump as... I exported a crash dump and it's 201Mb and I'm not sure if source code is present in this file, if there is a way to send the file to you privately, or if there is a way to generate a smaller dump without (C#) code present, please let me k

[2020-07-10 19:27] bartonjs commented on #17590
Well, we have the PAL (split build for the OS), we just don't carry a native shim.

[2020-07-10 19:33] weltkante commented on #29976
Your problem isn't solvable in general purpose but maybe thats not your goal

Things like interop handles and pointers cannot be serialized without cooperation of the type author. e.g. trying to forcefully serialize classes from a UI framework will not be doable without the frameworks cooperation since there is a lot of interop with the underlying platform.

Also any class can have numeric indices

[2020-07-10 19:34] GrabYourPitchforks commented on #29976
Sounds like you want a "damn the torpedoes" style serializer. Something that recursively iterates over all the fields in a type and bitblts them into a byte buffer somewhere, with no regard for any deserialization-related attributes or API conventions. That's an interesting use case I've never heard of before. I'm not aware of any in-box serializer that follows this logic. But in theory it should

[2020-07-10 19:42] AndyAyersMS commented on #39023
The dump will contain IL but not sources.

You can share it securely by opening an issue on the [VS Developer Portal](https://developercommunity.visualstudio.com/spaces/8/index.html) and then attaching it there, or you can create your own share and email me the access info (andya@microsoft.com).

[2020-07-10 19:51] dellamonica commented on #39023
Sent to your e-mail!

[2020-07-10 19:57] davmason commented on #37586
Hi @birnbeidla,

Sorry that I never responded. I thought I did and moved on.

Since you opened this issue we have discovered that the jit has some error about how it treats gs cookies, which might be related to your issue. The only way to know for sure is to see the callstack of the target thread. See https://github.com/dotnet/runtime/issues/13041

If you need to send me something privately my ema

[2020-07-10 20:10] Ozzard commented on #29976
@weltkante - agree entirely that this isn't solvable in general, and you're also absolutely correct that that isn't my goal.  I agree with all of your points about ways of stopping this from working, and I've no doubt there are many more.  I've got considerable experience at VM and image level with Smalltalk, so the whole special classes / weak references / oddnesses thing isn't new to me.  Many S

[2020-07-10 20:19] jkotas commented on #33331
This makes this API even more expensive than it is today and increases chances that people will need to cache the result to avoid performance bottlenecks.

Is the compat analyzer going to do the required data flow analysis to see through cached checks for this?

[2020-07-10 20:24] jeffschwMSFT commented on #39024
@leecow

[2020-07-10 20:25] eiriktsarpalis commented on #29976
@Ozzard I can attest that nuget contains many serialisers that have the capabilities you require, though like you said, caveat user. So I guess the question is, what can we do from the perspective of the framework to further improve such libraries?

[2020-07-10 20:25] AndyAyersMS commented on #39023
Thanks. I should be able to look at it later today.

[2020-07-10 20:35] EgorBo opened #39100 "[mono][Browser] Interpreter doesn't fully support UnmanagedCallersOnly"
Currently, the only way to pass a managed callback to a pinvoke in Mono-Wasm-Interp is to use `IntPtr` + `Marshal.GetFunctionPointerForDelegate` + `MonoPinvokeCallbackAttribute`.

/cc @vargaz

I will use link to this issue for workarounds.

[2020-07-10 20:36] jeffhandley commented on #33331
No, we determined we couldn't feasibly handle platform checks being in helper/utility methods and therefore only direct calls to `IsOSPlatformOrLater` and `IsOSPlatformEarlierThan` would be supported.

Let's recap the options we have for where this logic could exist:

1. In `RuntimeInformation.IsOSPlatform`
    * Introduces a potential perf bottleneck that users would not be able to wrap/cache
2.

[2020-07-10 20:48] eerhardt opened #39102 "Remove GetICUVersion from being preserved unconditionally by the ILLinker"
We have one entry in CoreLib's ILLink.Descriptors.xml that is only used for testing:

https://github.com/dotnet/runtime/blob/b779870a391ed4e6021a40b317508a1fab817820/src/libraries/System.Private.CoreLib/src/ILLink/ILLink.Descriptors.Shared.xml#L3-L6

We should remove this entry so the method is trimmed when linking an app. See @marek-safar's comment here: https://github.com/dotnet/runtime/issues/3

[2020-07-10 20:49] eerhardt commented on #35199
Opened #39102 specifically for this last entry, so someone doesn't need to read through this whole issue to see what work is left.

[2020-07-10 20:51] ladeak commented on #39079
Thank you for the suggestion and the explanation on the history of this interface. I generally prefer to code against interfaces compared to abstract base classes, but in this case it makes sense to use that.

[2020-07-10 20:53] GrabYourPitchforks commented on #29976
This is already achievable to a large extent through opt-in via a surrogate selector. It allows you to take full control of the serialization pipeline for arbitrary types, including types that aren't otherwise serializable. But as you mentioned, _caveat user_.

[code]

[2020-07-10 21:02] mgravell commented on #29976
As someone who as spent much of their career looking at serialization, I'm
horrified by trivialising it; the type author should absolutely have a say
in how it is serialized. If you want to serialize someone else's hostile
type: stop - create your own type, and serialize that instead!

As for your wishlist: I could offer you everything there except "graphs" -
I'm actively trying to kill the refere

[2020-07-10 21:02] tarekgh commented on #39102
I am wondering how much we'll gain when trimming this method? is it really worth it?

[2020-07-10 21:09] eerhardt commented on #39102
It isn't so much about the size gain. The size gain is super minimal.

The bigger issue is the static linking with InvariantMode, as mentioned above.

[2020-07-10 21:26] vcsjones commented on #27830
@bartonjs this has been on me for a while, sorry about that. I will pick this one back up again, but some new developments have happened. Since we can now re-compute Q from D on macOS and Linux, we can without a big lift (I don't think) make those match Windows' behavior. If creating with Q fails, but we have D, derive Q and try again.

This to me seems (probably) better since making Windows throw

[2020-07-10 21:27] jkotas commented on #39102
So can we make it conditional on InvariantMode?

[2020-07-10 21:28] #30394 closed

[2020-07-10 21:32] DrewScoggins opened #39106 "[Perf -7%] System.Memory.Slice<String>.ReadOnlySpanStart"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Changes | [diff](https://github.com/dotnet/installer/compare/a4a49f07fbf986d496ef57521e76b22caaf9bfb3...3c6656f83b01ece6af7e11eb75ec0145554b139d)

### Regressions in System.Memory.Slice<String>

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
ReadOnlySpanStart | 5.99 ns | 6.40 ns | 1

[2020-07-10 21:32] DrewScoggins commented on #39106
This is a small regression, but it does look pretty consistent.

[2020-07-10 21:36] DrewScoggins opened #39107 "[Perf -19%] System.Collections.CreateAddAndRemove<Int32> (2)"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Changes | [diff](https://github.com/dotnet/installer/compare/a4a49f07fbf986d496ef57521e76b22caaf9bfb3...3c6656f83b01ece6af7e11eb75ec0145554b139d)

### Regressions in System.Collections.CreateAddAndRemove<Int32>

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
List | 12.20 μs | 14.24

[2020-07-10 21:37] ericstj commented on #13507
CoreLib doesn't include Versioning.targets it seems.  Only libraries build does.  It looks like SPC had decided to define such attributes directly:
https://github.com/dotnet/runtime/blob/master/src/coreclr/src/System.Private.CoreLib/src/System/Internal.cs
https://github.com/dotnet/runtime/blob/master/src/mono/netcore/System.Private.CoreLib/src/System/Internal.cs

So I'd imagine we just add to thos

[2020-07-10 21:37] DrewScoggins opened #39108 "[Perf -22%] System.Collections.IterateForEach<Int32>.ConcurrentBag"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Changes | [diff](https://github.com/dotnet/installer/compare/a4a49f07fbf986d496ef57521e76b22caaf9bfb3...3c6656f83b01ece6af7e11eb75ec0145554b139d)

### Regressions in System.Collections.IterateForEach<Int32>

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
ConcurrentBag | 2.04 μs | 2.

[2020-07-10 21:39] kouvel opened #39109 "[Mono] Test failure: System.Diagnostics.Process.Tests, SafeHandle double-close?"
Failed in:
- Libraries Test Run release mono OSX x64 Debug

- https://dev.azure.com/dnceng/public/_build/results?buildId=725076&view=logs&jobId=c6f8dc49-92a1-5760-c098-ba97b8142bfb&j=c6f8dc49-92a1-5760-c098-ba97b8142bfb&t=22b0078b-0469-5ba6-8725-2121fdbae049
- https://helix.dot.net/api/2019-06-17/jobs/0646804f-7cfc-455a-b6b0-d1c1628db70a/workitems/System.Diagnostics.Process.Tests/console

[code]

[2020-07-10 21:39] DrewScoggins opened #39110 "[Perf -26%] System.Tests.Perf_UInt64.TryParseHex"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Changes | [diff](https://github.com/dotnet/installer/compare/a4a49f07fbf986d496ef57521e76b22caaf9bfb3...3c6656f83b01ece6af7e11eb75ec0145554b139d)

### Regressions in System.Tests.Perf_UInt64

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
TryParseHex | 21.89 ns | 27.46 ns | 1.25 | B

[2020-07-10 21:41] DrewScoggins commented on #39031
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Changes | [diff](https://github.com/dotnet/runtime/compare/a4a49f07fbf986d496ef57521e76b22caaf9bfb3...3c6656f83b01ece6af7e11eb75ec0145554b139d)

### Regressions in System.Buffers.Tests.RentReturnArrayPoolTests<Byte>

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
ProducerConsumer |

[2020-07-10 21:42] DrewScoggins commented on #39031
We are also seeing this behavior on Ubuntu x64 and Windows x86

[2020-07-10 21:47] DrewScoggins opened #39112 "[Perf -22%] System.Collections.AddGivenSize<Int32>.SortedList"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Changes | [diff](https://github.com/dotnet/installer/compare/a4a49f07fbf986d496ef57521e76b22caaf9bfb3...3c6656f83b01ece6af7e11eb75ec0145554b139d)

### Regressions in System.Collections.AddGivenSize<Int32>

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
SortedList | 36.19 μs | 43.51

[2020-07-10 21:48] bartonjs commented on #27830
Yeah, I'm generally a fan of throwing, but since we already don't on netfx or corefx-win then "work everywhere" is an easier sell than "break some things" if both are viable.

[2020-07-10 21:48] DrewScoggins opened #39113 "[Perf -25%] System.Memory.Constructors<String> (2)"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Changes | [diff](https://github.com/dotnet/installer/compare/a4a49f07fbf986d496ef57521e76b22caaf9bfb3...3c6656f83b01ece6af7e11eb75ec0145554b139d)

### Regressions in System.Memory.Constructors<String>

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
ReadOnlyMemoryFromArray | 3.78 ns

[2020-07-10 21:50] DrewScoggins commented on #37808
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Changes | [diff](https://github.com/dotnet/runtime/compare/a4a49f07fbf986d496ef57521e76b22caaf9bfb3...3c6656f83b01ece6af7e11eb75ec0145554b139d)

### Regressions in PerfLabTests.BlockCopyPerf

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
CallBlockCopy | 2.65 ns | 6.75 ns | 2.54 | B

[2020-07-10 21:50] DrewScoggins commented on #37808
Reopening this because on Ubuntu x64 we are seeing regressions in the 1000 element case.

[2020-07-10 21:51] DrewScoggins commented on #39037
We are also seeing this on Ubuntu x64

[2020-07-10 21:51] DrewScoggins commented on #39037
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Changes | [diff](https://github.com/dotnet/runtime/compare/a4a49f07fbf986d496ef57521e76b22caaf9bfb3...3c6656f83b01ece6af7e11eb75ec0145554b139d)

### Regressions in System.Collections.CtorFromCollection<Int32>

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
SortedList | 5.60 μs | 8.7

[2020-07-10 21:52] GrabYourPitchforks commented on #39113
Was this regression seen only on linux? Trying to narrow down what may have been the culprit.

[2020-07-10 21:52] DrewScoggins opened #39114 "[Perf -164%] System.Tests.Perf_Guid.NewGuid"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Changes | [diff](https://github.com/dotnet/installer/compare/a4a49f07fbf986d496ef57521e76b22caaf9bfb3...3c6656f83b01ece6af7e11eb75ec0145554b139d)

### Regressions in System.Tests.Perf_Guid

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
NewGuid | 683.89 ns | 1.76 μs | 2.57 |  | Fals

[2020-07-10 21:53] DrewScoggins commented on #39113
Yes, we are only seeing it there.

[2020-07-10 21:54] DrewScoggins opened #39115 "[Perf -55%] PerfLabTests.StackWalk.Walk"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Changes | [diff](https://github.com/dotnet/runtime/compare/a4a49f07fbf986d496ef57521e76b22caaf9bfb3...3c6656f83b01ece6af7e11eb75ec0145554b139d)

### Regressions in PerfLabTests.StackWalk

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
Walk | 19.17 ms | 29.60 ms | 1.54 |  | False

##

[2020-07-10 21:56] DrewScoggins opened #39116 "[Perf -26%] System.Net.Http.Tests.SocketsHttpHandlerPerfTest.Get"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Changes | [diff](https://github.com/dotnet/runtime/compare/a4a49f07fbf986d496ef57521e76b22caaf9bfb3...3c6656f83b01ece6af7e11eb75ec0145554b139d)

### Regressions in System.Net.Http.Tests.SocketsHttpHandlerPerfTest

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
Get | 39.50 μs | 51.12

[2020-07-10 21:57] DrewScoggins commented on #39038
Also seeing regressions on Ubuntu x64.

[2020-07-10 21:57] DrewScoggins commented on #39038
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Changes | [diff](https://github.com/dotnet/runtime/compare/a4a49f07fbf986d496ef57521e76b22caaf9bfb3...3c6656f83b01ece6af7e11eb75ec0145554b139d)

### Regressions in System.Globalization.Tests.StringEquality

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
Compare_Same | 688.71 ns | 1.

[2020-07-10 21:57] jkotas commented on #33331
Cache the result of the "is current platform check?" in the `OSPlatform` constructor in a `bool`? The `IsOSPlatform` checks that we care about can then just check this bool without doing any expensive string comparisons, etc.

[2020-07-10 22:01] DrewScoggins opened #39118 "[Perf -148%] System.Collections.Tests.Perf_BitArray (3)"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Changes | [diff](https://github.com/dotnet/runtime/compare/a4a49f07fbf986d496ef57521e76b22caaf9bfb3...3c6656f83b01ece6af7e11eb75ec0145554b139d)

### Regressions in System.Collections.Tests.Perf_BitArray

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
BitArraySetAll | 1.30 ns | 4.14

[2020-07-10 22:02] DrewScoggins opened #39119 "[Perf -14%] System.Tests.Perf_UInt32.TryParseHex"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Changes | [diff](https://github.com/dotnet/installer/compare/a4a49f07fbf986d496ef57521e76b22caaf9bfb3...3c6656f83b01ece6af7e11eb75ec0145554b139d)

### Regressions in System.Tests.Perf_UInt32

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
TryParseHex | 15.14 ns | 17.49 ns | 1.16 | B

[2020-07-10 22:02] DrewScoggins opened #39120 "[Perf -81%] System.Threading.Tests.Perf_Thread.GetCurrentProcessorId"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Changes | [diff](https://github.com/dotnet/installer/compare/a4a49f07fbf986d496ef57521e76b22caaf9bfb3...3c6656f83b01ece6af7e11eb75ec0145554b139d)

### Regressions in System.Threading.Tests.Perf_Thread

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
GetCurrentProcessorId | 4.00 ns |

[2020-07-10 22:05] DrewScoggins opened #39121 "[Perf -24%] System.Memory.Constructors<Byte> (6)"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Changes | [diff](https://github.com/dotnet/installer/compare/a4a49f07fbf986d496ef57521e76b22caaf9bfb3...3c6656f83b01ece6af7e11eb75ec0145554b139d)

### Regressions in System.Memory.Constructors<Byte>

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
ReadOnlyMemoryFromArray | 3.78 ns |

[2020-07-10 22:06] tarekgh commented on #39038
Thanks @DrewScoggins. Is this means we have this regression on Linux since February? I am just trying to know what could be the change caused such regression and why this is not reported earlier.

[2020-07-10 22:06] DrewScoggins opened #39122 "[Perf -152%] System.IO.Tests.Perf_Path.GetRandomFileName"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Changes | [diff](https://github.com/dotnet/installer/compare/a4a49f07fbf986d496ef57521e76b22caaf9bfb3...3c6656f83b01ece6af7e11eb75ec0145554b139d)

### Regressions in System.IO.Tests.Perf_Path

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
GetRandomFileName | 695.30 ns | 1.76 μs | 2

[2020-07-10 22:08] DrewScoggins commented on #39026
Also seeing this in SortedList on Ubuntu x64

[2020-07-10 22:08] DrewScoggins commented on #39026
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Changes | [diff](https://github.com/dotnet/runtime/compare/a4a49f07fbf986d496ef57521e76b22caaf9bfb3...3c6656f83b01ece6af7e11eb75ec0145554b139d)

### Regressions in System.Collections.CreateAddAndClear<Int32>

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
SortedList | 36.77 μs | 43.

[2020-07-10 22:08] mangod9 commented on #39109
Is this related to the portal TP, or are those changes now exposing some timing issue causing the failure?

[2020-07-10 22:09] DrewScoggins commented on #37819
We are also seeing these regressions on Ubuntu x64

[2020-07-10 22:09] DrewScoggins commented on #37819
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Changes | [diff](https://github.com/dotnet/runtime/compare/a4a49f07fbf986d496ef57521e76b22caaf9bfb3...3c6656f83b01ece6af7e11eb75ec0145554b139d)

### Regressions in System.Globalization.Tests.StringSearch

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
IsSuffix_SecondHalf | 18.71 ns

[2020-07-10 22:10] alejandrofuchs opened #39123 "XmlSerializer in framework 4.7.2 fails at instantiation when using XmlElement with netstandard type"
### Description

Unable to instantiate a XmlSerializer in framework 4.7.2 when the type to serialize uses a XmlElement whose parameter Type is defined in a netstandard library.

However, this code runs well if everything is compiled using .NetFramework 4.7.2.

### In a .NetFramework 4.7.2 library:

This line throws an exception:

`new XmlSerializer(typeof(TestSerializeDTO));`

Notice the class `Te

[2020-07-10 22:22] kouvel commented on #39109
Looks like it could be my change, I got a better stack trace in one of the other runs, will take a look

[2020-07-10 22:22] #39109 closed

[2020-07-10 22:30] marek-safar commented on #39102
What is the motivation to have this pinvoke compiled into SPC at all? My understanding is that this is used for some test checks only, why the pinvoke cannot be defined in test assembly directly?

[2020-07-10 22:31] jeffhandley commented on #33331
Interesting... Something like this?

**RuntimeInformation.Unix.cs** (platform-specific, to be defined on Windows and Browser as well)
[code]

**OSPlatform.cs**
[code]

**RuntimeInformation.cs** (cross-platform)
[code]

[2020-07-10 22:34] omajid commented on #35727
It seems like option 2, setting `CFLAGS`/`CXXFLAGS`/`LDFLAGS` just before calling `cmake --build` (or equivalent) is sufficient: https://gist.github.com/omajid/3033f0d77c4e6d58fd2fffb0da685c12#file-cflags-patch

[2020-07-10 22:35] ericstj commented on #32734
Can you propose an API that would solve this?  Should there be an overload on GetDirectoryEntry to accept an AuthenticationTypes?  I'm not an owner of DirectoryServices here, that's @tquerec, just trying to turn this into a proposal

Could you workaround this by calling the DirectoryEntry constructor yourself or do you not have enough information?

[2020-07-10 22:38] davidwrighton commented on #226
We've enabled the ability to use crossgen2 in the sdk for .NET 5 via the `PublishReadyToRunUseCrossgen2` property, but a friendly developer interface to specify minimum viable instruction set will not happen in this release. In the meantime, the `PublishReadyToRunCrossgen2ExtraArgs` property can be used to specify an custom instruction set with an entry like `<PublishReadyToRunCrossgen2ExtraArgs>

[2020-07-10 22:39] eerhardt opened #39125 "TypeConverterAttribute needs to be annotated so the ILLinker preserves the ctor on the converter"
If you link the following app:

[code]

It fails because `MyStringConverter` is not getting its ctor preserved. This is because `TypeConverterAttribute` needs to have a `[DynamicallyAccessedMembers(PublicParameterlessConstructor)]` annotations on it:

https://github.com/dotnet/runtime/blob/a9944fa8a721af673999d074caf1dd74617f6ba6/src/libraries/System.ObjectModel/src/System/ComponentModel/TypeConve

[2020-07-10 22:39] davidwrighton commented on #13392
This isn't needed for the 5.0 release.

[2020-07-10 22:40] GrabYourPitchforks commented on #39090
If there aren't any objections, I'll experiment with sending a new iteration of https://github.com/dotnet/runtime/pull/38963 that addresses this code path as well.

[2020-07-10 22:41] davidwrighton commented on #13393
PR #2154 fixed this.

[2020-07-10 22:41] #13393 closed

[2020-07-10 22:47] buyaa-n commented on #33331
@jeffhandley GlobalFlowStateAnalysis API provided by roslyn-analyzers (Manesh recently added) supports cached checks, so we have it for free (just by using GlobalFlowStateAnalysis)

[2020-07-10 22:48] tarekgh commented on #39102
This was discussed when we introduced using ICU on Windows. The reason we preferred having it there is because the test assembly not aware if the ICU is loaded at all in the process or not or we are in NLS mode or ICU mode. Or if we are in NLS mode and somehow someone loaded ICU in the process for any other reason. having it in the SPC make it just straight forward if we are really in ICU mode wit

[2020-07-10 22:52] naster01 commented on #24051
Had the same error with ASP.NET Core 3.1. The certificate was not in the folder.
[code]
Generated a dev cert with :
[code]
Then everything succedded  :
[code]
A check before a call to OpenSsl could be done as it is a Kestrel environnent variable
`ASPNETCORE_Kestrel__Certificates__Default__Path`.
Then a
[code]

[2020-07-10 22:52] marek-safar commented on #38439
That's not how you should look at it with the tech we have today. The interpreter is quite limited in how much optimizations/propagations can do. So whether the code is ref-emit generated or precompiled does not matter, what matters is how much code needs to process. In the simple view, you can say that every IL instruction cost you 1 us to execute, if you can write a program in the way that it wi

[2020-07-10 23:00] safern commented on #39102
Also, the reason why this PInvoke wasn't added into the test assembly directly is because the PInvoke is a QCall, which is internal and only allowed from `System.Private.CoreLib` since `System.Globalization.Native` shim is linked into mono and coreclr.

[2020-07-10 23:11] stephentoub commented on #38439
Yes, and for Regex for example, there are in general many fewer IL instructions spit out for the ref emit version than need to be executed for the interpreted version. There are fewer IL instructions to execute in the ref emited IL. That's exactly my point.

[2020-07-10 23:11] HongGit opened #39127 "Align implementation of DCS, XMLSerializer and JSON serializer with .NET framework"
During investigation of serialization bugs, it is found that the implementation of DCS, XMLSerializer and JSON serializer is quite different from .NET framework.

[2020-07-10 23:13] danmosemsft commented on #39018
Ok. Can we close this then? Do the markdown did need clarification?

[2020-07-10 23:20] DrewScoggins commented on #39038
Probably closer to Mid-November. As for why we are finding this now, we haven't really been doing the level of comparison that we are doing now, partly because we didn't have the tooling to do it efficiently. The hope is that going forward we are going to be able to find this stuff much faster.

[2020-07-10 23:23] danmosemsft commented on #39122
@DrewScoggins  the diff link does not work. Can you please share the diff bracketing this jump?

[2020-07-10 23:28] sandreenko opened #39128 "Fix `ASG struct (copy)` with different src and dst sizes after global morph."
https://github.com/dotnet/runtime/pull/39066#issue-447380794 has a detailed description of the issue, shortly we should not allow IR with mismatched src and dst size under `ASG struct (copy) like:
[code]

I am going to:
1. reenable the IL test;
2. finish the fix in `fgMorphCopyBlock` (https://github.com/sandreenko/runtime/commit/6b07be7b4680acda48e5d3ef916429b738ae15bf);
3. add more asserts and re

[2020-07-10 23:30] danmosemsft commented on #39120
@DrewScoggins  again this diff link is bad.

[2020-07-10 23:32] danmosemsft commented on #39119
@DrewScoggins  please include a diff link showing changes closely bracketing regression. This one does not work. I believe this is important for all regression issues.

[2020-07-10 23:44] abelbraaksma commented on #38872
Got it. I'll volunteer, it's a rather trivial change.

[2020-07-10 23:47] DrewScoggins commented on #39122
Yeah, there seems to be a bug here if the points you are trying to diff go across the switch to the runtime repo. You can use the report to generate a tight diff, again as long as the comparison you are trying to do is after the switch to the runtime repo. To do this

1. Click on this link [Historical Data in Reporting System](https://pvscmdupload.blob.core.windows.net/autofilereport/autofilerepor

[2020-07-10 23:48] DrewScoggins commented on #39119
https://github.com/dotnet/runtime/issues/39122#issuecomment-656941297

[2020-07-10 23:48] DrewScoggins commented on #39120
This should help you track down the diff link.

https://github.com/dotnet/runtime/issues/39122#issuecomment-656941297

[2020-07-10 23:50] danmosemsft commented on #39118
@DrewScoggins  this is a duplicate is an issue you already opened. Does the script need to store issues it already opened?
https://github.com/dotnet/runtime/issues/37813

[2020-07-10 23:50] #39118 closed

[2020-07-10 23:51] danmosemsft commented on #39121
Diff link broken.

[2020-07-10 23:51] BruceForstall commented on #33344
I'm going to close this since the same issue is tracked in https://github.com/dotnet/runtime/issues/33727

[2020-07-10 23:51] #33344 closed

[2020-07-10 23:52] danmosemsft commented on #39116
Diff link broken. Need a commit range in this repo.

[2020-07-10 23:52] DrewScoggins commented on #39118
Sorry about that, you changed the title so when I search for it to see if one already existed I couldn't find it. So I re-filed it.

[2020-07-10 23:53] DrewScoggins commented on #39121
https://github.com/dotnet/runtime/issues/39122#issuecomment-656941297

This should help you track down the diff.

[2020-07-10 23:53] DrewScoggins commented on #39116
https://github.com/dotnet/runtime/issues/39122#issuecomment-656941297

This should help you track down the diff.

[2020-07-10 23:53] abelbraaksma commented on #38872
The new proposed names in the updated OP are sufficient. There can be some debate on whether we should improve certain errors (as in, raise the more detailed version if we have enough information). The few I thought make that threshold are in the linked issue (#39075).

But to be clear, the current behavior wrt to the error text is as one would expect, the clarification is on the choice of enum na

[2020-07-10 23:55] BruceForstall commented on #33727
@janvorli As far as I can tell, the JIT will never generate `sub.w sp, r8, #80` form. Also, the jit never generates `ldm` form. From the info here, it looks like those must be coming from some kind of native code. I didn't see anywhere in the VM that would generate the `ldm` form.

[2020-07-10 23:59] #38233 closed

[2020-07-11 00:24] hamarb123 opened #39132 "SetCreationTime on Mac"
### Description

The method `System.IO.File.SetCreationTime[Utc](string, DateTime)` does not work correctly on mac, but the `System.IO.File.GetCreationTime[Utc](string, DateTime)` does.
The following code snippet creates different results on mac and windows:
[code]

I believe that [this method](https://github.com/dotnet/runtime/blob/0d5e5766c6688a5ab29d6e96c01abbfe1ad3659c/src/libraries/System.IO.

[2020-07-11 00:47] juliusfriedman opened #39134 "StringBuilder overload AppendJoin or new RemoveLast"
## Background and Motivation

We often remove the last character from a string when building an array in `foreach` notation to remove the trailing comma.

## Example code

[code]

## Proposed API

[code]

## Usage Examples

[code]

## Alternative Designs

Warrant a bigger discussion around `foreach` and how one should be allowed to specify the start and end using `Range` syntax etc. (would not sol

[2020-07-11 00:49] juliusfriedman commented on #39134
cc @danmosemsft @jkotas

[2020-07-11 00:55] GrabYourPitchforks commented on #39113
/cc @dotnet/jit-contrib Any thoughts on this? Anything linux-specific go into the JIT around the May / June timeframe? I don't think we've changed the `ROM<T>` ctor in quite some time.

[2020-07-11 00:55] jeffhandley commented on #33331
Thanks, @buyaa-n; I obviously didn't realize that made it in. Would that also cover caching within utility/helper methods or properties though, or is it limited to caching within the scope of the method?

Would the following work?

[code]

[2020-07-11 01:06] AndyAyersMS commented on #39023
Working with @dellamonica offline -- initial impression is bad GC reporting by the jit. Will add this to 5.0.

[2020-07-11 01:11] marcnoon commented on #39018
Yes please just cancel this.

[2020-07-11 01:24] juliusfriedman commented on #33331
I really think a set of `PlatformSupportAttributes` dervived from `PlatformSupportAttribute` is better than a single attribute here,

That array given to a single `PlatformSupportAttribute` as I indicated above and it solves more problems than this does today.

cc @terrajobst @stephentoub @jkotas

[2020-07-11 01:25] kouvel commented on #39109
Think I found the issue, couldn't repro locally but trying the CI again. It's a timing issue that existed before but due to other unrelated changes, would be fatal after my changes.

[2020-07-11 01:26] kouvel commented on #39109
Also I believe it's a new test that I ported from CoreRT that exposed the issue, it may have failed without the changes as well

[2020-07-11 01:28] juliusfriedman commented on #798
Whats wrong with my proposal for `CongestionAlgorithmn` et al?

[2020-07-11 01:32] kouvel commented on #39109
If my understanding is correct it would have failed before too, but in a slightly different way and with different timing requirements

[2020-07-11 01:45] vcsjones commented on #39134
Seems like your use-case works well with `AppendJoin`, for what it's worth.

[code]

I've used `Length--` when I've need to "remove last", or `Length -= n` when needing to remove last `n` number of characters. Is this lacking in some way?

[2020-07-11 02:27] juliusfriedman commented on #39134
@vcsjones  Perhaps a delegated version of `AppendJoin` is more what I am after:

[code]

[2020-07-11 04:08] buyaa-n commented on #33331
I think it is limited within the scope of the method as the action registered to `OperationBlockStartAction`, I am not sure if we can support the example you wrote, @mavasani might answer that

[2020-07-11 04:24] #39018 closed

[2020-07-11 04:36] mavasani commented on #33331
Currently it doesn’t support reading values in fields and properties, but we can add support. It would be much cheaper if we only cared about read only fields and properties. Otherwise, we would need to enable PointsTo/Alias analysis, which is implemented in the repo, but would obviously make the analysis more expensive.

Analysis supports interprocedural analysis, but it is off by default. We can

[2020-07-11 04:44] danmosemsft commented on #39122
Thanks for the info.

I don't think that's the diff we want for the microbenchmarks. The issues sounds have diff across runtime repo commits surely?

[2020-07-11 05:02] mavasani commented on #33331
Note that the analysis understands Debug asserts. I would personally recommend we take route similar to nullability analysis for C# nullable references analysis:

1. Default analysis to scope of the current method.
2. Define well known attributes, say EnsuresOSPlatformXXX(name, version), that can be applied to methods, fields and properties to aid analysis without requiring interprocedural analysi

[2020-07-11 09:38] ManickaP commented on #39116
@DrewScoggins Please correct if I'm reading the graphs wrong, but the regression happened between 2.5.-4.5. on runtime master?

[2020-07-11 09:46] juliusfriedman commented on #33331
@mavasani I don't see how this is not better:

[code]
This gives you more flexibility and the ability to have all the information in one place rather than several.

[code]

[2020-07-11 10:28] adams85 opened #39140 "StringSegment.EndsWith inconsistent (buggy?) behavior"
### Description

[code]

Is this by design or simply a bug?

### Configuration

.NET Core 3.1.5, Windows 10 x64

[2020-07-11 10:29] ptsneves commented on #17912
I confirm @marcwittke solution works. Thanks a lot man. This was quite a deal breaker

[2020-07-11 11:46] mavasani commented on #33331
@juliusfriedman my comment was not related to your suggestion on actual attributes to use for annotating platform dependent operations. It was regarding the kind of dataflow analysis to perform when detecting if a platform dependent operation was invoked in correct context, when user has performed the platform checks in a helper method or stored it into a field or property.

[2020-07-11 12:20] stephentoub commented on #39116
I can't reproduce this locally, on either Linux or Windows.  Every run I've done on both shows .NET 5.0 measurably faster on all variants of the benchmark.

e.g.

[code]

| Method |        Job |       Runtime |     Toolchain |   ssl | chunkedResponse | responseLength |       Mean |       Error |      StdDev |     Median |        Min |         Max | Ratio | RatioSD | Gen 0 | Gen 1 | Gen 2 | Allocat

[2020-07-11 12:30] stephentoub commented on #39114
I can't repro this locally.  I've just done several runs on Ubuntu 18.04, and I see no difference between 3.1 and 5.0, e.g.

[code]

|  Method |        Job |       Runtime |     Toolchain |     Mean |   Error |  StdDev |   Median |      Min |      Max | Ratio |
|-------- |----------- |-------------- |-------------- |---------:|--------:|--------:|---------:|---------:|---------:|------:|
| NewGuid

[2020-07-11 12:32] stephentoub commented on #39120
Isn't this the same as https://github.com/dotnet/runtime/issues/37804?

[2020-07-11 12:51] abelbraaksma commented on #39075
@stephentoub, to prevent further confusion, I've updated the text above with the errors from both Framework and Core.

[2020-07-11 13:15] stephentoub commented on #39075
Cool, thanks :-)

[2020-07-11 13:22] jkotas commented on #33331
@juliusfriedman You suggestion does not compile as written. `System.Version` and arrays of non-primitive types are not valid fields in custom attributes.

[2020-07-11 13:47] kouvel commented on #39109
Upon further review the issue I found above could cause issues before my changes but should not be a problem after my changes, probably something else is wrong.

[2020-07-11 15:09] lambdageek commented on #38480
Related CoreCLR PR https://github.com/dotnet/runtime/pull/39030

Need to handle, in particular the case where `unmanaged`+`modopt` is different from an existing `unmanaged xyz` cconv https://github.com/dotnet/runtime/pull/39030/files#r452569548

[2020-07-11 15:23] jamalabo1 commented on #38939
but the "interface" works with POST requests, is it part of the unexpected behavior?

[2020-07-11 15:31] davidfowl commented on #36209
I would be explicit and call it configPath. Also thinking about this more, it's not clear to me where you'd use this without the section

[2020-07-11 16:24] ericstj commented on #29683
Again here: https://dev.azure.com/dnceng/public/_build/results?buildId=725147&view=ms.vss-test-web.build-test-results-tab&runId=22467048&resultId=166891&paneView=debug
[code]

[2020-07-11 16:30] ericstj commented on #38159
Same test just failed for me:
https://dev.azure.com/dnceng/public/_build/results?buildId=725147&view=ms.vss-test-web.build-test-results-tab&runId=22479114&resultId=126814&paneView=debug

[code]

[2020-07-11 17:37] #39040 closed

[2020-07-11 17:48] juliusfriedman commented on #33331
@jkotas  that's unfortunate, it can either be resolved with a custom version struct or more likley additional members which exspose a version property publicly.

[code]

[2020-07-11 17:50] Clockwork-Muse commented on #39134
... I don't know that I'd have reason to use the alternative design, as opposed to just doing the `Skip()`/`Take()` myself.  Especially since _usually_ the thing to do is dump the whole list.  Anything more unusual - like printing start/end of long lists for quick debug, or the differences in the list like XUnit - is going to have to be set up externally anyways,

[2020-07-11 17:59] juliusfriedman commented on #39134
I am good with the `Length -=` and other proposed alternatives feel free to close this issue for now as there are bigger fish to fry and the library I am using will eventually be updated to System.Text.Json anyway.

[2020-07-11 19:24] GrabYourPitchforks commented on #14395
@stephentoub is right, it's a per-instance thing. Were you also looking for global fallback surrogate selector support in Full Framework apps as well, or just Core?

[2020-07-11 19:27] stephentoub commented on #39122
I can't repro this locally (on Ubuntu 18.04).  I've run the benchmark multiple times, and each time I get results like this:

[code]

|            Method |        Job |       Runtime |     Toolchain |     Mean |   Error |  StdDev |   Median |      Min |      Max | Ratio |  Gen 0 | Gen 1 | Gen 2 | Allocated |
|------------------ |----------- |-------------- |-------------- |---------:|--------:|---

[2020-07-11 19:30] stephentoub commented on #39115
Locally I don't see -55%, but I do see -17% from .NET Core 3.1, as well as 48 bytes of allocation that wasn't showing up previously:

[code]

| Method |        Job |       Runtime |     Toolchain |     Mean |    Error |   StdDev |   Median |      Min |      Max | Ratio | RatioSD |        Gen 0 | Gen 1 | Gen 2 | Allocated |
|------- |----------- |-------------- |-------------- |---------:|---------

[2020-07-11 19:35] stephentoub commented on #39119
I can't repro this locally on Ubuntu 18.04.  All inputs to this test show improvement for me:

[code]

|      Method |        Job |       Runtime |     Toolchain |    value |      Mean |     Error |    StdDev |    Median |       Min |       Max | Ratio |
|------------ |----------- |-------------- |-------------- |--------- |----------:|----------:|----------:|----------:|----------:|----------:|--

[2020-07-11 19:39] sidney-pauly commented on #35336
@cston lamda.Compile() can be run, without throwing an exception, but no valid function is returned. If I remember correctly there where two cases:
- Compiling the Lambda returned null.
- Evaluating the parameter with the Visual Studio 2019 debugger displayed something like "<Internal Error evaluating expression>"

The bug can only be recreated if you enable Non-Nullable-Reference-Types as only th

[2020-07-11 19:40] danmosemsft commented on #39134
Ok, closing. Thanks

[2020-07-11 19:40] #39134 closed

[2020-07-11 19:41] #1999 closed

[2020-07-11 19:48] stephentoub commented on #39121
I don't see regressions here locally on Ubuntu 18.04.  I see improvements.

[code]

|                                   Method |        Job |       Runtime |     Toolchain |      Mean |     Error |    StdDev |    Median |       Min |       Max | Ratio |
|----------------------------------------- |----------- |-------------- |-------------- |----------:|----------:|----------:|----------:|---------

[2020-07-11 23:02] wfurt commented on #38159
This is interesting. The socket should be in connected state once Accept is finished. Unless explicit Disconnect or Dispose() is called.
Duration 0:00:00.497. Since the test really tests aborting connection, perhaps we can wrap the server in try/catch and ignore all errors.

[2020-07-11 23:06] juliusfriedman opened #39145 "Thread.Stop"
## Background and Motivation

`Thread.Abort` is gone [sic].

People need a way to stop threads as all threads must technically stop at some point, ie. before system shutdown or face outright termination which is worse.

[ThreadState](https://docs.microsoft.com/en-us/dotnet/api/system.threading.threadstate?view=netcore-3.1) already supports Stopped and WillStop.

## Proposed API

[code]

If you all

[2020-07-11 23:14] juliusfriedman opened #39146 "GC.Resurrect & Better Disposable support around ref struct"
## Background and Motivation
Sometimes you finalize an object and you change you mind, perhaps you should be using pools but that is a different issue.

## Proposed API

Ideally also a base disposable class with full async support but is not required.

[A newer this](https://github.com/juliusfriedman/net7mma_core/blob/master/Common/Classes/Disposables/CommonDisposable.cs)

[See the interface](http

[2020-07-11 23:16] juliusfriedman commented on #39146
cc @danmosemsft @jkotas

[2020-07-11 23:20] juliusfriedman commented on #39145
cc  (in no particular order)@stephentoub @GrabYourPitchforks @terrajobst @jkotas

[2020-07-11 23:34] GrabYourPitchforks commented on #39145
Is the idea behind this graceful cancellation? That is, we expect the threat to occasionally poll this property and unwind if the flag is set? It's an interesting idea but I wonder how it'll work as the ecosystem moves to a Task-based abstraction rather than a Thread-based abstraction.

[2020-07-11 23:43] juliusfriedman commented on #39145
Yes at heart not having to set your own stop flag because one already exists.

If people are using Threads how likely is it they will move to Tasks?

[2020-07-11 23:49] stephentoub commented on #39145
Such a mechanism already exists in the form of CancellationToken{Source}. How is this substantially different?

[2020-07-12 00:20] jkotas commented on #39146
I do not understand what would `Object.Resurrect` do. For example, how is it different from `GC.ReRegisterForFinalize` ?

[2020-07-12 01:16] juliusfriedman commented on #39146
It basically doesn't differ at all from `GC.ReRegisterForFinalize` I was just proposing an API which would do that work for the user with respect to the disposable instance (hence where the `CommonDispoable` comes in).

I also think that having the mechanism already in place for users of ref structs is important and that `GC.ReRegisterForFinalize` is not generic.

[2020-07-12 01:26] juliusfriedman commented on #39145
How do I use a plain thread with a `CancellationToken`?

This allows the runtime threads to be stopped (and if you deem to resume) from user code without inter-op / custom host.

It allows an outside user a way to Stop a thread they have access to which is a normal thing to do in almost all cases. (Save the lone watchdog and yet even then)

I don't have to check for my own `Stopped` or even have a

[2020-07-12 01:44] danmosemsft commented on #39146
@juliusfriedman an API proposal should explicitly list the proposed API diff please.

[2020-07-12 01:49] juliusfriedman commented on #39146
Sorry wasn't totally sure where to plop them at first.

[2020-07-12 01:56] stephentoub commented on #39145
Exactly the same way you'd use these, e.g. poll to see whether cancellation has been requested.

This is dangerous and unreliable. Thread aborts were removed because of the inherent dangers of such interactions, and this could be even worse due to cleanup not running, locks not exiting, etc.

[2020-07-12 02:01] stephentoub commented on #39146
I don't understand. A ref struct can't be finalizable, isn't subject to GC, etc; what does it have to do with resurrection? What does something that meets the unmanaged constraint have to do with resurrection?

[2020-07-12 02:09] juliusfriedman commented on #39145
We already have those flags and make use of them so I don't buy that.

Abort was different because of the exception handling at the very least.

This involves no such exceptions and doesn't provide the user with anything they don't already have other than a way to set that flag reliability just as it is set from the CLR.

If the CLR can set it then why can't it's users?

Why should I have to resor

[2020-07-12 02:15] juliusfriedman commented on #39146
It also can't implement Equals right?

When I treat a ref struct as a disposable tis Dispose method is called without boxing it and that call will be made from the finalizer queue so I treat that at a place where this would be beneficial although one can already work around that by implementing an interface on the ref struct with release semantics right? Not on a ref struct though...

[2020-07-12 02:56] GrabYourPitchforks commented on #39145
I guess the confusion stems from that we're not quite sure what's motivating this. Is the issue that you want to be notified before process termination so that you can perform some cleanup work? If you could explain the scenario a bit more there might even be an existing API we could point you to.

[2020-07-12 03:00] jkotas opened #39149 "dotnet-runtime-perf jobs failing due to Rate Limits"
Multiple failures in https://github.com/dotnet/runtime/pull/39148.

From https://helix.dot.net/api/2019-06-17/jobs/36cb8da6-1158-45ea-b472-4bd5ba7b0448/workitems/release.Partition4/console:

[code]

[2020-07-12 03:00] GrabYourPitchforks commented on #39140
FYI to whoever addresses this bug: using `string.Compare` may give incorrect results, especially when dealing with linguistic comparisons (e.g., `StringComparison.InvariantCulture`). Use `CompareInfo.IsPrefix` and `CompareInfo.IsSuffix` instead within the implementation, as it will always give the correct results.

[2020-07-12 03:00] jkotas commented on #39149
@dotnet/dnceng Could you please take a look?

[2020-07-12 03:02] jkotas opened #39150 "[mono/wasm] NullReferenceException in System.Xml tests"
Failed in https://github.com/dotnet/runtime/pull/39148. From https://helix.dot.net/api/2019-06-17/jobs/1bd94844-5dbb-42f8-9adb-c581eb8ce25f/workitems/System.Xml.RW.XmlWriterApi.Tests/console:

[code]

[2020-07-12 03:03] GrabYourPitchforks commented on #39146
Ref structs can never end up on the heap (and as a result can never end up in the finalizer queue), and they can't be used as the _T_ inside a generic method. For example:

[code]

[2020-07-12 03:04] stephentoub commented on #39146
No. A ref struct can't live on the heap, it can't be boxed, it can't have a finalizer, it won't ever be in the finalizer queue.

[2020-07-12 03:09] #38861 closed

[2020-07-12 03:34] jkotas commented on #39122
Duplicate of https://github.com/dotnet/runtime/issues/39114 . Both NewGuid and GetRandomFileName use the same underlying OS random number generator.

[2020-07-12 03:34] #39122 closed

[2020-07-12 03:38] mjsabby commented on #226
@davidwrighton Thanks for the update. Seems reasonable that it will work and may change in 6.0 LTS but at least there is an escape hatch for 5.0

[2020-07-12 03:39] mjsabby commented on #11354
@GrabYourPitchforks I see you self-assigned this, does this mean it'll happen in 5.0?!

[2020-07-12 04:22] juliusfriedman commented on #39146
Well then I suppose my proposed API won't be needed or even beneficial for ref structs 👍

ATP the only benefit of the proposed API (for the class type) would be the non boxing of the object which I myself don't believe is needed in this scenario.

Also thank you for the clarification on the ref struct finalizer, not sure where I got that from...

[2020-07-12 04:23] juliusfriedman commented on #39146
noted

[2020-07-12 04:47] juliusfriedman commented on #39146
You guys are free to close this one, sorry for any detritus. (Still feel like the CommonDisposable and the IDisposed are important pieces here, especially when sharing resources within the ref structs) [Disposable Ref Structs Article](https://tooslowexception.com/disposable-ref-structs-in-c-8-0/)

We can treat disposable ref structs as lightweight types that have A REAL destructor, known from C++.

[2020-07-12 05:30] juliusfriedman commented on #39145
Sorry for the confusion.

I just want to be able to tell the thread to stop working ASAP. (If it does not then the CLR should be able to terminate it just like the OS) and I feel like there should be API's for that just like there are for GC Notifications.

If that is dangerous I don't see why.

This is me just being able to read and write the same flags that I can observe from the `Thread` from i

[2020-07-12 06:13] juliusfriedman commented on #32418
Just wanted to chime in with what I had going on a while ago FWIW.

I originally started with something I copied from j-codec @ https://github.com/juliusfriedman/net7mma_core/blob/master/Codecs/Image/ColorSpace.cs

That got rather limited IMHO and I found out was based on libav to some extent which is somewhat surprising... so I dug a little deeper and found out that libav also had some issues wit

[2020-07-12 06:29] molinch opened #39152 "System.Text.Json: Ignore null values while serializing"
## Background and Motivation
Recently JsonIgnoreCondition have been changed to have WhenWritingDefault rather than WhenNull.
See:
![image](https://user-images.githubusercontent.com/5130190/87240149-45a5b100-c417-11ea-8535-2b1ccdbfd61c.png)

When serving JSON for frontends, then default values of value types are extremely important. It's not like null.
You could argue that undefined and null have "

[2020-07-12 06:30] molinch commented on #39152
https://github.com/dotnet/runtime/issues/38800

[2020-07-12 06:35] Gnbrkm41 commented on #39145
Not sure exactly how? To me this sounds like "you get almost infinite battery life if you keep your device turned off". Technically *you can*, but you don't want to because you want to run tasks on it.

So this is basically `Thread.Abort`, except this isn't notified to the code running in the thread (like `ThreadAbortException`), and it is guaranteed to stop the thread unlike `Thread.Abort` which

[2020-07-12 06:47] danmosemsft commented on #39145
Stopping threads uncooperatively is dangerous and was intentionally removed. I think the discussion above provides sufficient information about why.

Aside from its merits, as a general suggestion @juliusfriedman for API proposals, especially non trivial ones like this, it's very helpful to have more detailed motivation based on examples of real world use - something like "People need a way to sto

[2020-07-12 06:47] #39145 closed

[2020-07-12 06:50] danmosemsft commented on #39132
We'd certainly like to make it work if there's an API. Can you figure out what API we could call? I assume there's something lower level.

[2020-07-12 06:53] danmosemsft commented on #39110
Similar to #39119

[2020-07-12 06:56] ViktorHofer commented on #2044
@marek-safar @steveisok can you please update this issue based on the work that your team has done in the last months?

[2020-07-12 06:57] marek-safar commented on #39102
I see. I agree with @eerhardt that the simplest solution then is to move the rule to "_LibraryBuild.xml" file for SPC.

[2020-07-12 06:57] juliusfriedman commented on #39145
@Gnbrkm41  trust me I believe you, I know how dangerous it can be... just ask Oracle why Thread.stop was deprecated there....

My points are as follows:

1. C# is not java you have access to unsafe and basically machine level code
2. you can kill any process at anytime (kill -9) (taskkill) from the os and the os can kill any running call fiber / co routine it starts on a core.
3. What if my batter

[2020-07-12 06:58] ViktorHofer commented on #972
We need this for 5.0 as we state to support 7+. cc @safern

[2020-07-12 07:00] ViktorHofer commented on #1027
SDL validation doesn't run anymore as part of our build. Closing.

[2020-07-12 07:00] #1027 closed

[2020-07-12 07:02] ViktorHofer commented on #1616
@jkoritzinsky can you please give an update on this issue / close it with your SharedFramework SDK work?

[2020-07-12 07:02] danmosemsft commented on #39145
If you don't care about doing anything gracefully, you can already pinvoke to (on Windows) [TerminateThread](https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/nf-processthreadsapi-terminatethread) if you want. It will very likely not do what you want. As the documentation says, "TerminateThread is a dangerous function that should only be used in the most extreme cases. You shoul

[2020-07-12 07:03] ViktorHofer commented on #1664
The `dotnet test` migration is unblocked hence I hope we switch to it sooner than later: https://github.com/dotnet/runtime/issues/37953

[2020-07-12 07:09] juliusfriedman commented on #39145
I can interrupt at anytime though right? The hardware has to handle that and only then I get control back if everything goes smoothly.

Definitely appreciate you trying to point me to an Api but I was more after the provocation of the thought rather than exactly how to do it, I could just path the IP to HLT or something 📦

Thank you all again for you time!

In the future I would hope as we get eve

[2020-07-12 07:12] ViktorHofer commented on #1885
Nothing we plan to do for NET5, moving to Future.

[2020-07-12 07:13] LePalson commented on #39034
This happened because I was passing 100 as a command, when it has to be between 128-256

[2020-07-12 07:13] #39034 closed

[2020-07-12 07:14] ViktorHofer commented on #32884
This is fixed: https://github.com/dotnet/runtime/blob/56b696403b3f8fe6dac4a83f4d0743490e0e9ad2/eng/Subsets.props#L51-L53

[2020-07-12 07:14] #32884 closed

[2020-07-12 07:18] ViktorHofer commented on #33303
@jkoritzinsky looks like IBC data is still disabled for OSX? Are you planning to re-enable its consumption? https://github.com/dotnet/runtime/blob/56b696403b3f8fe6dac4a83f4d0743490e0e9ad2/eng/codeOptimization.targets#L7-L12

[2020-07-12 07:19] ViktorHofer commented on #33294
Moving to NuGet.

[2020-07-12 07:22] jkotas commented on #39145
C++ does not have this feature.

[2020-07-12 07:22] GrabYourPitchforks commented on #39146
Good question. It's not the `Dispose` method that adds something to the finalizer queue, but rather the existence of a `Finalize` method. I don't know if it's legal in .NET Core for a struct to have a finalizer. But assuming for a minute that it were legal, IMO it'd be truly bizarre if anybody were ever to do this.

[2020-07-12 07:23] ViktorHofer commented on #33294
Closing in favor of https://github.com/NuGet/Home/issues/9785

[2020-07-12 07:23] #33294 closed

[2020-07-12 07:25] ViktorHofer commented on #32918
The RuntimeFlavor doesn't need to specified on mobile targets as its inferred. For desktop configuration the msbuild `RuntimeFlavor` should be sufficient. Hence I don't think we need a build argument mapping for that variable.

Closing. Feel free to reopen if you disagree.

[2020-07-12 07:25] #32918 closed

[2020-07-12 07:26] ViktorHofer commented on #34590
This should have been fixed (can't find the commit right now)

[2020-07-12 07:26] #34590 closed

[2020-07-12 07:31] GrabYourPitchforks commented on #39145
This was mentioned earlier, but I want to draw extra attention to it. There is a difference between _unsafe_ code (`[SkipLocalsInit]` / `Unsafe.As`) and _unreliable_ code (`Thread.Abort`). You're right in that unsafe code is inherently dangerous. But it is definitely possible to use such code correctly. With appropriate discipline and code review you can use these features in production apps and n

[2020-07-12 07:31] juliusfriedman commented on #39146
Thank you.

I do not believe a struct can ever have a finalizer yet an object does which is where I got confused I guess. (ValueType)

I am also not sure if this is a C# limitation e.g. if in IL you can definite a struct with a finalizer... but I am fairly certain that no type of struct can have a finalizer as written from the C# compiler.

[2020-07-12 07:34] ViktorHofer commented on #34612
@mrj001 can you please try opening the solution with the -vs switch from the build script? E.g.

`build.cmd -vs System.Text.RegularExpressions`

That works around https://github.com/NuGet/Home/issues/5154 by doing a CLI `dotnet restore` before opening the solution in VS.

[2020-07-12 07:36] ViktorHofer commented on #38997
@MattGal @danmosemsft what's the status on allowing external contributors to trigger /azp commands? IIRC we wanted to make that work?

[2020-07-12 08:00] jkotas commented on #39146
Thank you for sharing the idea. I think it is best to close this one.

[2020-07-12 08:00] #39146 closed

[2020-07-12 08:35] asmichi commented on #36983
Just realized that you need to use the ReadyToRun version of System.Linq.Expressions.dll to reproduce this. When you use the non-ReadyToRun version, this issue rarely reproduces. (This issue only occurs early in the program life time as I mentioned, so early-stage performance matters.)

----

To my understanding, the reasoning behind the lack of locks is that this is just a cache after all. Messin

[2020-07-12 08:38] roji opened #39154 "Clean up async API docs for System.Data"
The current API docs for System.Data async methods simply point to the sync method, and provide information on the default implementation (throw on cancellation, invoke the sync method...). We should instead have the full information on the method directly available on the async method, and provide any default implementation info in the remarks.

Example method: [OpenAsync](https://docs.microsoft.

[2020-07-12 09:01] Joe4evr commented on #39146
@GrabYourPitchforks For the record, [it isn't](https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs0575). I want to say this limitation exists since C#/.NET 1.0, but it would be great if I could find a reference to back that up.

[2020-07-12 10:11] fredrikhr commented on #36209
@davidfowl What do you mean by that? Are you referring to the nullability of the argument? I agree that you almost never want to have a null configuration path, but since we'd implement that over the `IConfiguration.Bind(string key, object instance)` extension method, `null` is technically a valid/possible key (which would use the Configuration root, empty string is also valid.

But I agree that i

[2020-07-12 10:14] fredrikhr commented on #36209
Updated proposal above in reaction to https://github.com/dotnet/runtime/issues/36209#issuecomment-657081587 and https://github.com/dotnet/runtime/issues/36209#issuecomment-657201618.

* Method praramater renamed to `configPath`.
* Method parameter marked as required and non-`null`.

[2020-07-12 10:29] ViktorHofer commented on #36894
Update: the proj is now a .targets file: https://github.com/dotnet/runtime/blob/master/src/mono/wasm/wasm.targets.

Unsure if it's desirable to bring that into libraries as it invokes cmake which then builds the wasm runtimes. Another option would be to introduce a subset which runs after libs.src.

[2020-07-12 11:01] Sergio0694 commented on #36907
A small update - I just discovered that `BenchmarkDotNet` supports hardware counters in custom benchmarks, when adding the extra `BenchmarkDotNet.Diagnostics.Windows` package. I gave it a try on the two Fibonacci and Mandelbrot tests, and got this:

|       Runtime |       Name |        Mean |     Error |    StdDev |
|-------------- |----------- |------------:|----------:|----------:|
| .NET Core

[2020-07-12 11:55] EgorBo opened #39156 "[RyuJIT] bounds checks aren't eliminated for array[0] access when different indices are already accessed"
[code]
#### Codegen:
[code]

My guess it's "dead store removal" kills GT_ASG with GT_COMMA for `span[0]` and leaves only lonely ARR_BOUNDS_CHECK which then is not handled by optRemoveRangeCheck.
[code]

Possible fix (works): https://github.com/EgorBo/runtime-1/commit/a8367b83c08fcc6ac4f48c5e1a16881c49927dc5
Jit-diff:
[code]

/cc @dotnet/jit-contrib

category:cq
theme:bounds-checks
skill-level:inte

[2020-07-12 12:03] juliusfriedman commented on #39146
Let me know if you ever find that reference.

[2020-07-12 12:11] juliusfriedman commented on #39145
I don' mean to argue but what feature? It seems to have them all except Stop (which is terminate) afaik.

https://en.cppreference.com/w/cpp/utility/program/abort
https://en.cppreference.com/w/cpp/error/terminate
https://en.cppreference.com/w/cpp/thread/thread/detach

[2020-07-12 12:19] juliusfriedman commented on #39145
I never had a problem with `Thread.Abort` and yet I agree with everything you and the rest of the teams is saying.
All I am saying is we give all these other foot guns with explicit warnings etc.

IMHO this is no more dangerous than attaching a debugger. (just about the same amount of work has to be done) the debugger almost must handle native process loop so it would also therefor already likely

[2020-07-12 12:39] OmerRaviv opened #39160 "Clarify constraints on using NGEN with ReJIT"
There is some contradictory information in this repo regarding whether ReJIT can be used with NGEN assemblies.

The original [ReJIT Limitations blog post by David Broman](https://github.com/dotnet/runtime/blob/d8302cef7946be82775ba5b94a88ad8eee800714/docs/design/coreclr/profiling/davbr-blog-archive/ReJIT%20-%20Limitations.md) states:

However, the following comment can be inferred to mean that Dav

[2020-07-12 13:12] tomthebearded opened #39161 "Unexptected result with EUC-JP encoding"
The following issue has been found in .NET Core 3.0, but can be replicated also in .NET Frameworl 4.7.2.

I'm trying to read a file called kradfile2 (downloadable from [http://nihongo.monash.edu/kradinf.html](http://nihongo.monash.edu/kradinf.html), it's inside the kradzip.zip)

When i open the file in Visual Studio Code with the EUC-JP encoding there isn't any problem, this is for example the fir

[2020-07-12 13:56] #38028 closed

[2020-07-12 15:59] xieyubo opened #39197 "Inconsistent behavior in X509Certificate2 constructor."
### Describe the bug
The same code about creating X509Certificate2 will be success in DotNetCore but fail in AspNetCore. It's not consistent.

### To Reproduce

1. Create a console app:

        dotnet new console -o cert-test

1. Modify Program.cs like this:

        static void Main(string[] args)
        {
            try
            {
                var key = "-----BEGIN CERTIFICATE-----\nMII

[2020-07-12 16:57] GrabYourPitchforks commented on #11354
Still not funded, but I'm growing increasingly worried that if we don't address it in 5.0 it'll be too difficult to address in 6.0 due to compat. So going to see if we can slam this in at the last minute. It'll definitely be a roller coaster. :)

[2020-07-12 17:04] GrabYourPitchforks commented on #38456
Can we add these to `BinaryReader` and `BinaryWriter` as well? They're useful for throwing data across the wire.

[2020-07-12 17:06] GSPP commented on #36613
Related: https://github.com/dotnet/runtime/issues/4414

[2020-07-12 17:09] MichalStrehovsky commented on #39125
That's odd. Linker has some special casing for this attribute:

https://github.com/mono/linker/blob/2b0d31c1bf91d8259fa99f0619fe4e91adb86fe4/src/linker/Linker.Steps/MarkStep.cs#L1559-L1568

Either way, it's preferable to use the dataflow annotations. We should delete the linker handling.

Note the attribute also has a `string` version that should be annotated the same:

https://github.com/dotnet/r

[2020-07-12 18:14] stephentoub commented on #39028
I also see a fairly consistent (but slightly smaller) regression locally:

[code]

|        Method |        Job |       Runtime |     Toolchain | Items |     Mean |     Error |    StdDev |   Median |      Min |      Max | Ratio |
|-------------- |----------- |-------------- |-------------- |------ |---------:|----------:|----------:|---------:|---------:|---------:|------:|
| ContainsValue | Job-B

[2020-07-12 18:16] wli3 opened #39165 "Support nethost environment undeployment"
@MxGrv commented on [Mon Jun 29 2020](https://github.com/dotnet/sdk/issues/12261)

Using the nethost library, one can deploy the .NET Core environment via nethost, using the load_assembly_and_get_function_pointer() routine, but cannot undeploy (unload or terminate) the assemblies and functions in any way, except native process termination. One may want to use the other version of .NET Core, or ano

[2020-07-12 18:17] stephentoub commented on #39106
I consistently see improvement here for .NET 5 locally, not a regression:

[code]

|            Method |        Job |       Runtime |     Toolchain |     Mean |     Error |    StdDev |   Median |      Min |      Max | Ratio |
|------------------ |----------- |-------------- |-------------- |---------:|----------:|----------:|---------:|---------:|---------:|------:|
| ReadOnlySpanStart | Job-RSZXG

[2020-07-12 19:34] #34817 closed

[2020-07-12 19:34] #35601 closed

[2020-07-12 20:12] Pepsi1x1 commented on #33417
Cancellation support on UdpClient would be wonderful!

[2020-07-12 20:26] vitek-karas commented on #39165
AFAIK the runtime itself doesn't really support clean unload. So until it does, there's no point in having APIs to do it. I don't know how hard it would be to make the runtime unloadable correctly - maybe @jkotas would know.

[2020-07-12 20:32] jkotas commented on #39165
The runtime and the core libraries are not designed to be unloadable.

[2020-07-12 20:33] aaronfranke commented on #32418
By the way, even if there is no color type implemented for .NET Core, we should still deprecate `System.Drawing.Color`.

[2020-07-12 20:33] hiersekornc commented on #36037
I will give it a try. Never contributed before so please bear with me :)

[2020-07-12 20:51] cheverdyukv opened #39167 "AssemblyDependencyResolver raises exception when hosting .NET using using Mscoree.h"
### Description

Creating instance of AssemblyDependencyResolver throws exception "Hostpolicy must be initialized and corehost_main must have been called before calling corehost_resolve_component_dependencies" when native host uses Mscoree.h to load .NET 5 runtime.

Steps:
1. Create host using https://docs.microsoft.com/en-us/dotnet/core/tutorials/netcore-hosting#create-a-host-using-mscoreeh as ex

[2020-07-12 21:03] antonfirsov commented on #798
@juliusfriedman `TCP_CONGESTION_ALGORITHM (12)` seems to be an undocumented Windows feature.

[2020-07-12 21:18] chucker opened #39208 "JsonSerializer.Serialize throws when encountering nullable type in netstandard code paths"
Minimal repro:

1. Create a .NET Framework app
2. Reference S.T.Json 3.2
3. Run this code:

[code]

Exception:

[code]

Note that this does not reproduce in netcoreapp3.1 \ net5.0.

-----
### Describe the bug
When an object that is passed to `JSRuntime.InvokeVoidAsync`'s `args` contains a property that is a nullable value type (e.g., `System.Drawing.Point?`), and that property is set to a value, B

[2020-07-12 22:02] KirillOsenkov commented on #10077
Can anyone think of a workaround? Is there any way to read the output of the debuggee (suppose I'm Windows only)?

[2020-07-12 22:44] vitek-karas commented on #39167
This is currently by design. The AssemblyDependencyResolver currently only works if the runtime is hosted via `hostfxr` (and `hostpolicy`).
Please follow the guide here: https://docs.microsoft.com/en-us/dotnet/core/tutorials/netcore-hosting#create-a-host-using-nethosth-and-hostfxrh, to host the runtime from your native code.

[2020-07-12 22:54] lukoerfer opened #39168 "Microsoft.Extensions.Configuration.Binder should only depend on Microsoft.Extensions.Configuration.Abstractions"
According to [its project file](https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Extensions.Configuration.Binder/src/Microsoft.Extensions.Configuration.Binder.csproj) the package `Microsoft.Extensions.Configuration.Binder` depends on both `Microsoft.Extensions.Configuration.Abstractions` and `Microsoft.Extensions.Configuration`. For its functionality, a dependency on the `Abst

[2020-07-12 23:02] bgrainger commented on #34817
@FransBouma Would you be willing to share the list of MySQL error codes you consider to be transient for MySQL? I think MySqlConnector could adopt them, instead of coming up with a different list (that you'd have to augment because you couldn't trust that `IsTransient` is sufficient for your needs).

https://github.com/mysql-net/MySqlConnector/issues/849

[2020-07-12 23:06] cheverdyukv commented on #39167
Well I cannot use that option, because I'm using non default appDomainFlags and there is no way to provide them using hostpolicy.

[2020-07-12 23:11] kouvel commented on #39109
Got a repro with some timing changes and fixed the issue, it was a new issue in my changes

[2020-07-12 23:57] juliusfriedman commented on #798
@antovfirsov

On some Windows Server versions I believe it controls various attributes of the TCP transport known as congestion control see [Here](https://en.wikipedia.org/wiki/TCP_congestion_control)I believe you should have a look since it controls things such as ack timeout and duplicate ack etc.

Why are we disabling something specific like delayed ack while not having options for retransmissi

[2020-07-13 00:25] hamarb123 commented on #39132
@danmosemsft It took me a while, but I have figured out working C# code that does what it should:
[code]

This code can set the creation date, and the modification date.
There is one caveat: if you set the modification date to before the creation date it will change the creation date to the new modification date, which differs in behaviour to Windows. This could easily happen when you are copying

[2020-07-13 00:45] danmosemsft commented on #39132
That doesn't seem too bad. Area owners for IO should answer whether they'd accept a PR. (@carlossanlop @jozkee)

Most IO stuff is done with glibc calls - but we do have some libobjc use elsewhere: https://github.com/dotnet/runtime/blob/master/src/libraries/Common/src/Interop/OSX/Interop.libobjc.cs

https://github.com/dotnet/runtime/blob/master/src/libraries/System.IO.FileSystem/src/System/IO/FileS

[2020-07-13 00:56] sandreenko commented on #38980
I have tried Bruce's suggestion, but it was not enough, arm64altjit is returning `false` from `IsIntrinsicType` for `Vector128Wrapped`, when arm64 returns `true`. I was trying to debug it further but was blocked by a strange error that I am investigating now.
In any case, I think we don't have enough time in 5.0 for the optimization that was blocked by this issue, so the issue could wait as well (

[2020-07-13 01:51] loic-sharma commented on #779
I ran into the same issue as @rubo when updating my app to .NET 5. The current `JsonIgnoreCondition.WhenWritingDefault` is a breaking change that feels a little too strong. Would it be possible to add a `JsonIgnoreCondition.WhenWritingNull` that skips `null` values but writes defaults like `0` and `false`? This would "mitigate" the breaking change.

For context, my app implements the NuGet protoco

[2020-07-13 01:58] stephentoub commented on #39121
@DrewScoggins, a bunch of the issues you opened show the "regressions" happening at what appear to be two distinct moments in time, one in November and one in May.  Is it possible what we're seeing is actually the result of something changing in the execution environment, e.g. a patch, a microcode update, etc.?  Would it be possible for you to run the tests in the current environment against .NET

[2020-07-13 02:18] v-haren opened #39171 "Test failure: tracing/eventpipe/buffersize/buffersize/buffersize.sh"
failed in job: [runtime-coreclr gcstress0x3-gcstress0xc 20200712.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=726396&view=ms.vss-test-web.build-test-results-tab&runId=22494216&resultId=110282&paneView=debug)

Error message
[code]

[2020-07-13 02:25] v-haren opened #39172 "Test failure: baseservices\\threading\\interlocked\\compareexchange\\compareexchangeintptr\\compareexchangeintptr.cmd"
failed in job: [runtime-coreclr gcstress0x3-gcstress0xc 20200712.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=726396&view=ms.vss-test-web.build-test-results-tab&runId=22494800&resultId=105531&paneView=debug)

failed tests: baseservices\\threading\\interlocked\\compareexchange\\compareexchangeintptr\\compareexchangeintptr.cmd

Error message
[code]

[2020-07-13 02:27] #39172 closed

[2020-07-13 02:30] v-haren commented on #38518
also failed in job: [runtime-coreclr gcstress0x3-gcstress0xc 20200712.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=726396&view=ms.vss-test-web.build-test-results-tab&runId=22494800&resultId=105531&paneView=debug)

failed tests:
baseservices\\threading\\interlocked\\compareexchange\\compareexchangeintptr\\compareexchangeintptr.cmd
Loader\\classloader\\generics\\Instantiation\\Posi

[2020-07-13 03:24] jashook commented on #38167
This seems very similar to what @josalem at first glance this log looks like a test timeout, probably not an infrastructure issue.

[2020-07-13 03:27] jashook commented on #37132
Is the correct area assembly loader?

[2020-07-13 03:31] Gchkh16 opened #39173 "[System.Text.Json] make possible to deserialize objects from stream without always fully reading stream."
Currently `JsonSerliazer.DeserializeAsync` method always reads stream until completion. So if I try to deserialize object from `NetworkStream`, it blocks until the connection is open and not returns objects immediately.  This seems a really big problem for me when I have a long-lived TCP connection and I send multiple objects over time with that connection.

[2020-07-13 03:47] jashook commented on #36842
Seems like the area path should be area-infrastructure-installer?

[2020-07-13 03:56] GrabYourPitchforks commented on #39121
@DrewScoggins I wonder if being able to get the raw codegen dump could also help. Basically, for each method, the raw x86 assembly _and_ the memory address of each instruction. It might be a longshot and I don't want to randomize the perf work too much. But might it make sense to get it for a small handful of these runs and see if it can help diagnose problems any more quickly?

[2020-07-13 04:01] josalem commented on #38167
I’ll take a deeper look on Monday, but I took a quick look at the history: according to AzDO, this has been red since at least May 13th which is where the data stops (presumably due to retention policies).  For reference, this looks to be Windows x86 no tiered compilation.

A curious observation: a test timeout from the coreclr test wrapper should print the timeout status, collect dumps, and fail

[2020-07-13 04:38] mjsabby commented on #34279
A couple of questions:

(1) Does this not impact x64 for some reason? I don't understand why not if that is the case.
(2) Should we add this to IL Verification also?

I'm trying to determine if I'm hitting this or not, and I don't have a good way to audit all my generated IL at runtime in a system where this is happening.

[2020-07-13 04:47] am11 opened #39174 "Audit use of constants in libraries"
Under `src/libraries`, these are the lists of unique constants:

<details>
  <summary>defined in project files (71)</summary>
<br/>

* ALLOW_PARTIALLY_TRUSTED_CALLERS
* ActivatorUtilities_In_DependencyInjection
* BUILDING_INBOX_LIBRARY
* CAS_OBSOLETIONS
* CODEDOM
* DEBUG
* DRAWING_NAMESPACE
* ENABLECOMBINDER
* ENABLE_HTTP_HANDLER
* ES_BUILD_STANDALONE
* EVENTSOURCE_ACTIVITY_SUPPORT
* EVENTSOURCE_E

[2020-07-13 05:13] danmosemsft commented on #39174
Earlier discussion here https://github.com/dotnet/runtime/issues/7280

There is a tool that I used that can safely remove code within particular defines (or remove define and retain code). If you plan to do this I will find a link to it.

[2020-07-13 05:21] v-haren opened #39175 "Test failure: Interop\\COM\\NETClients\\Primitives\\NETClientPrimitives\\NETClientPrimitives.cmd"
failed in job: [runtime-coreclr gcstress0x3-gcstress0xc 20200712.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=726396&view=ms.vss-test-web.build-test-results-tab&runId=22494802&resultId=109142&paneView=debug)

Error message
[code]

[2020-07-13 05:39] #33079 closed

[2020-07-13 06:04] am11 commented on #39174
Thanks, such a tool will certainly help. I think main work is to make decision what actions to take. If a constant is not (explicitly or implicitly) defined anywhere, should we just delete the code (in a spirit that git has the history in case we ever need to revive)? Certain places may still require manual intervention (especially those which deal with consolidating windows and unix targets).

[2020-07-13 08:22] Sewer56 opened #39176 "[Hostfxr] [Windows] High CPU usage on background thread after invoking `hostfxr_get_runtime_delegate` on non-main thread."
### Description

In .NET 5, invoking `hostfxr_get_runtime_delegate` from a non-main thread appears to leave a background task running, consuming a full CPU thread.

Specifically, the issue can be reproduced in the following fashion on Windows:
[code]

This does not occur if the runtime is initialised on the main thread.

### Reproduction
Minimal reproduction is available at [Reloaded.Core.Bootstra

[2020-07-13 08:36] vitek-karas commented on #37132
Can we determine when was the last time we saw this failure? @elinor-fung added some fixes relatively recently to the binder tracing tests - maybe it has already been fixed.

[2020-07-13 08:38] vitek-karas commented on #39167
What non-default flags do you use (and if you can provide that info - why)? I want to figure out if there's a scenario which `hostpolicy` approach should cover in the future.

[2020-07-13 08:39] FransBouma commented on #34817
@bgrainger
I don't have such a list, we only ship a transient error recovery class for SQL Server with boilerplate code for users if they want to add support for their database for that.
Basically any error that doesn't kill the transaction / connection is usable for transient error recovery, however to figure out which ones that are is a painful process with some databases.

[2020-07-13 08:41] noahfalk commented on #38754
A little background on this area. To the best of my knowledge Vance kicked off the pattern of creating new EventSources when he proposed creating "System.Runtime" EventSource in addition to the "Microsoft-Windows-DotNetRuntime" EventSource we've had for a long time.  I assume he put some thought into it but I never heard what the rationale was. Personally I have mixed feelings about these renames.

[2020-07-13 08:54] roji commented on #34817
I tend to be a bit more conservative on this, e.g. a unique constraint violation isn't something I'd consider transient, since the *exact* same operation would in principle produce the same failure (even if the same operation but with a different ID would succeed). The way I'm thinking about this is for the development of automatic retry strategies (Polly, EF Core, LLBLGen Pro).

It's indeed a goo

[2020-07-13 08:58] FransBouma commented on #34817
Doesn't a UC violation terminate the transaction? For SQL Server we use these:
[code]
so basically everything related to creating a connection and keeping it alive. SQL Server documentation is pretty good on this, but I found other database documentation pretty vague on which errors do and which don't terminate a transaction for instance.

[2020-07-13 09:00] lukas-lansky commented on #39149
@jkotas Thanks for pointing this out, we're looking.

[2020-07-13 09:02] vitek-karas opened #39177 "Single-file running from "admin" location may load code from "non-admin" location"
I have an application which contains some native library dependencies - either the app itself, or for example WPF app (WPF has several native libraries it relies on).

If I publish the app as self-contained but non-single-file, I end up with folder with all of the code in it. If I deploy this folder into an "admin" location (that is location which is writable only to admins, and not normal users -

[2020-07-13 09:04] vitek-karas commented on #39177
I don't think we should try to solve this in the code - it's really hard. For example, just trying to detect if the app is running from "admin" location is definitely non-trivial (let alone OS specific). That said we should probably document this, and possibly think about SDK experiences around this (warning?, but then most people who don't deploy to "admin" locations would not care).

[2020-07-13 09:12] lukas-lansky commented on #39149
This is a problem with AzDO we seen before. Unfortunately we cannot solve it on our own, we need to notify AzDO that this happens to us and wait for resolution on their side. I will keep this updated.

[2020-07-13 09:23] alnikola commented on #38754
@noahfalk
1. Counters is only part of the new telemetry we are implementing. It will also introduce activities which in the nutshell track the same events as the original NetEventSource.Enter/Exit, so if we leaved the original Enter/Exit logging in place, it would lead to a duplication.
2. Our event logging is supposed to work on different platforms, but as you mentioned above existing events has

[2020-07-13 09:27] cg110 opened #39179 "Disposing of Activity updates Activity.Current before the end event, which different to DiagnosticSource.EndActivity"
### Description
While looking at updating some code to use ActivitySource rather than DiagnosticSource, I noticed that the behavior has changed around ending an activity.

With DiagnosticSource.EndActivity:
https://github.com/dotnet/runtime/blob/master/src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSourceActivity.cs#L44

Activity.Current is updated after the eve

[2020-07-13 09:56] marek-safar commented on #39125
IIRC `PublicParameterlessConstructor` is not the only ctor which needs to be kept so we might need to keep part of the linker logic

[2020-07-13 10:08] peacecwz commented on #36091
@ajcvickers any update? I got this same issue in .NET Core 3.1. We can't develop Cloud Native Application:(

[2020-07-13 10:16] vitek-karas commented on #39176
Thanks a lot for the repro @Sewer56 . I debugged into it a little bit and it seems to be related to the diagnostic server thread. It loops in this callstack:
[code]

It calls the `IpcStream::DiagnosticsIpc::Poll` which "successfully" waits (seems to be no wait time actually) on the handle, then gets a stream which is always `NULL` - that causes the caller to loop and try again... and so on.

I don

[2020-07-13 10:19] noahfalk commented on #38754
Are we confident enough in that assessment that there is a plan to remove the pre-existing code? My impression from the original issue is that the question was whether or not to merge the new EventSource into the old one. If we are instead contemplating removing the old one entirely that shifts the discussion a bit : )

FWIW I checked and the existing sockets EventSource doesn't have this particul

[2020-07-13 10:32] roji commented on #34817
The PG logic is pretty simple (and somewhat extreme) - *any* error puts the ongoing transaction in a failed state, and you can't do anything aside from rolling the transaction back (or rolling back to a savepoint).

But I'm not sure that IsTransient should mean the same thing as "does it terminate the transaction"... I was only thinking of this as an indication that a retry may be successful (even

[2020-07-13 10:46] Ozzard commented on #29976
@eiriktsarpalis - well, you asked :-):
* Within the framework, for as many types as possible, provide a standard, known-long-term-supported way to round-trip their state, including support that allows serializers to serialize and reconstruct directed (potentially cyclic) graphs of objects.
* In particular, this support should include all the common types that people use for data structures, includ

[2020-07-13 10:48] KalleOlaviNiemitalo commented on #34817
Our application also needs to know whether a different command on a new database connection could succeed, or the entire database or server is down. The application currently recognizes error codes for this purpose but we could perhaps make it instead check which method threw the exception.

[2020-07-13 10:51] alnikola commented on #38754
"Merge" here means - "merge old NetEventSources into the new telemetry and delete unnecessary parts".

Even if we decide to keep the old one around, we must delete some events (like Enter/Exit in the PR mentioned above) because they are duplicates to the new Start/Stop. That means the existing code must be changed anyways.

Or, could suggest any way on how to easily and unambiguously describe to t

[2020-07-13 11:22] softworkz opened #39183 "HttpListener (managed) does not monitor client disconnection (FIN)"
### Description

When a client connects to an http server driven by the current HttpListener implementation (the generic one from Mono), and the client disconnects by sending a FIN packet, either while waiting for the response or while receiving the response, the HttpListener implementation does not behave correctly:
(for easier understanding, let's assume that the http server needs a few seconds

[2020-07-13 11:42] jkotas opened #39184 "Assembly.Location returns paths of non-existing files in .NET 5 single file mode"
The design says it should return empty string, but the reality is that it returns a file path to the same folder as the app.exe (but for nonexisting files).

[2020-07-13 11:49] dhhoang opened #39185 "How to use System.Text.Decoder parameters"
I have a use case where I need to read a stream of UTF8 bytes character by character, while keeping track of the position within the stream. I'm trying to find a way to decode UTF8 bytes into a `char` buffer of size 2 (which is enough to hold any UTF-8 character):
[code]
I might misunderstand the usage, but right now I assume `bytesUsed` returns the number of bytes consumed by `decoder`, `charsUse

[2020-07-13 12:02] marek-safar commented on #2044
I think we can close this issue as most of the infrastructure tasks have been completed. The plan is for .NET6 to officially support Android but the foundational pieces are all already in and we do run on Android dotnet/runtime PR changes today.

[2020-07-13 12:07] qmfrederik commented on #2044
@marek-safar Just to be sure, does this include support for running .NET console apps (e.g. via `adb shell` or Termux) on Android?

[2020-07-13 12:14] marek-safar commented on #2044
This issue does not cover .NET SDK or CLI integration and that part is planned for .NET6.

[2020-07-13 12:15] #1485 closed

[2020-07-13 12:38] qmfrederik commented on #2044
This issue was opened (at the time) with Android CLI integration in mind.

That scenario worked at one point in time. You could `dotnet publish` a Hello World console app which targeted `android-arm64` and run it via `adb shell`.

If the issue has been recycled to track something else, it may be worth to mention that in a comment or the description.

[2020-07-13 12:51] mdh1418 opened #39187 "GetFunctionPointerForDelegateTests tests fail with Specified cast is not valid on Browser"
When running System.Runtime.InteropServices library tests on Browser wasm, two functions fail with `Specified cast is not valid`:

- GetFunctionPointerForDelegate_MarshalledDelegateNonGeneric_ReturnsExpected
- GetFunctionPointerForDelegate_MarshalledDelegateGeneric_ReturnsExpected

### Note
When the tests are not ordered, the suite sometimes fails with the two tests above
[code]
And other times, i

[2020-07-13 13:32] roji commented on #34817
@KalleOlaviNiemitalo detecting that the database/server is down is notoriously difficult (e.g. a network issue could indicate the server is down (or not)), am curious what you're current logic for this is...

But either way this seems to be orthogonal (and so out of scope) for this feature, which is only about identifying transient errors - or do you see things otherwise?

[2020-07-13 13:42] vcsjones commented on #38286
@danmosemsft The timeline for 5.0 seems similar to 3.0, so far. Given that, I would expect the `release/5.0` branch is going to be taken soon. Can you share any additional info on when that will happen?

Apologies if this spelled out somewhere and I missed it.

[2020-07-13 13:44] directhex opened #39190 "System.Runtime.Loader.Tests.AssemblyLoadContextTest.Finalizer_CollectibleWithNoAssemblyLoaded failure on Interpreter"
### Description

This test is a reproducible failure with the Mono interpreter.

https://helix.dot.net/api/2019-06-17/jobs/dd0eca30-d0a8-4d70-8c3f-3d51253dbd18/workitems/System.Runtime.Loader.Tests/console

[code]

### Configuration

Git master, Mono interpreter

### Regression?

Hard to be sure. We broke interpreter CI about 3 weeks ago

[2020-07-13 13:51] KalleOlaviNiemitalo commented on #34817
@roji Our application does not need to distinguish between a network issue, the server being down, and the database being down. It needs to know that those errors do not depend on the database commands that it was running in the transaction.

I agree that such a feature is not in scope for this issue, but I mentioned it as an example of difficulty in migrating to DbException.IsTransient from appli

[2020-07-13 13:56] BrzVlad commented on #39190
I remember mentioning this is extremely likely to be a false pinning issue, that we should disable with PreciseGCSupported. Was there an investigation suggesting otherwise ?

[2020-07-13 13:58] noahfalk commented on #10077
I would hope that you could use windows CreateProcess API with the CREATE_SUSPENDED flag, then use RegisterForRuntimeStartup(...) then ResumeThread(). @mikem8361 might know if there are issues with that approach?

[2020-07-13 13:58] markusschaber commented on #13788
Shouldn't CLong / CULong expose 64 bit values, so the full range can be marshaled on 64 Bit Linux / MacOS / Android?

[2020-07-13 14:02] directhex commented on #39190
I’ve marked the relevant test with a ConditionalFact instead of ActiveIssue, let’s see if that lets it pass. If so, we can close this issue

[2020-07-13 14:14] BrzVlad commented on #38817
For reference, this is caused by https://github.com/dotnet/runtime/pull/38085. After that change, we have fixed sized stack, and we no longer allocate stack fragments forever from the OS. I'm not comfortable increasing the stack size just because this test stress tests it. I think the async/task code has a limit on how much it should execute synchronously (in recursive fashion), if asked to. If th

[2020-07-13 14:19] tannergooding commented on #13788
They would internally be defined in a manner that allows the type to be blittable. That is it would be:
* 32-bits on Windows 32-bit
* 32-bits on Windows 64-bit
* 32-bits on Unix 32-bit
* 64-bits on Unix 64-bit

This would allow it to have no marshalling overhead on all relevant platforms.

[2020-07-13 14:23] FransBouma commented on #34817
I think what you describe is very sensible and in practice it likely leads to redoing the whole transaction again anyway, but I think the key difference with e.g. a UC violation in the middle of a transaction is that the error is outside of the scope of the data, i.e. there's nothing to 'correct' on the client / app side; the only thing it *can* do is retry the whole unit of work.

An error in the

[2020-07-13 14:27] sergeyt commented on #30328
I came up with the following code. It reads JSON dataset as `IAsyncEnumerable` sequence of `Dictionary<string, object>` records:

[code]

It reuses idea from https://github.com/scalablecory/system-text-json-samples/blob/master/json-test/JsonParser.ParseSimpleAsync.cs.

[2020-07-13 14:42] heartacker opened #39194 "wpf `FormatLine` api cause the wpfapp-hang[serious]"
### Description
AS THE ISSUE SHOW:  [WPF APP will hang if the editor SyntaxHighlighting=python](https://github.com/icsharpcode/AvalonEdit/issues/241)
THE `System.Windows.Media.TextFormatting` . `FormatLine` cause a app-hang.
![I%I~LKA04`SA6@G~ Y P8A6](https://user-images.githubusercontent.com/1876302/87317844-206d8b80-c55a-11ea-8c1e-25d3d92eeaa4.png)

### Configuration
 my work-pc  has the problem

[2020-07-13 14:56] heartacker commented on #39194
the  formatter ![image](https://user-images.githubusercontent.com/1876302/87319309-0c2a8e00-c55c-11ea-8bb1-6f731c25dc0a.png)

[2020-07-13 15:05] javiercn commented on #39197
Moved this issue to the runtime repo since the issue is not related to Blazor but likely to the difference in runtimes

[2020-07-13 15:18] coolboy190 commented on #38679
@wfurt Looks like resetting the default keychain fixed the issue. Thanks a lot for the help!

[2020-07-13 15:22] steveharter commented on #39081
I'll re-add the record type and ping you two if there's an issue. Thanks

[2020-07-13 15:24] AndyAyersMS commented on #36907
This is likely the explanation for the increased number of branches executed. Note branch mispredictions are down substantially. So it might be from extra unconditional branches.

Instructions retired is probably the most interesting initial stat; I think BDN lets you measure that too.

[2020-07-13 15:36] AaronRobinsonMSFT commented on #39175
Run is CoreCLR Windows_NT arm64 Checked gcstress0xc @ Windows.10.Arm64.Open

[2020-07-13 15:38] stephentoub commented on #39198
I took a quick look and I see the problem (or, at least, a problem, but I expect it's the same one).  We're releasing the send buffer back to the pool after rather than before releasing the send semaphore.  That could then create a race condition between the send that's finishing and the next send that may end up trying to use the send buffer.

[2020-07-13 15:42] AaronRobinsonMSFT commented on #39175
@jkoritzinsky Do you remember the history of adding the life time checks? 07c9eaf39c5d4fcb5fbf87e701cf20d94d05277f. I seem to recall asking you to add this testing, but don't remember what the original issue was.

Failure is at: https://github.com/dotnet/runtime/blob/2d9dbbb538322a7cc05397f5e2e15d445c7d3ff0/src/tests/Interop/COM/NETClients/Primitives/Program.cs#L28

[2020-07-13 15:43] danmosemsft commented on #39198
Are we missing coverage in our stress tool?

[2020-07-13 15:44] jkoritzinsky commented on #39175
I think the reason we added the checks was because we had no testing for those functions and it was easiest to add testing for it in the existing test.

[2020-07-13 15:45] stephentoub commented on #39198
Yes, in that we don't have _any_ stress tests for ClientWebSocket or WebSocket.CreateFromStream.

[2020-07-13 15:46] sab39 commented on #14395
@GrabYourPitchforks My particular situation is a Framework application using ASP.NET Web Forms. The Web Forms framework does a lot of implicit binary serialization for things like the ViewState object and my particular application is heavily dependent on putting lots of custom objects into ViewState. (Needless to say, those are questionable-at-best design decisions from both my app and from WebFor

[2020-07-13 15:55] bartonjs commented on #39197
Loading certs as base64 data is not stable across all execution environments.  You should either leave the header and footer in place, or use `Convert.FromBase64Bytes` instead of `Encoding.UTF8.GetBytes`.  (Only one or the other, not both)

[2020-07-13 16:02] antonfirsov commented on #798
A few arguments:
- The number of users requesting the former seems to be quite high, while I don't see strong need for the latter.
- It's not a good idea to expose undocumented Windows features, unless we have a strong proof they actually work, and at least some confirmation from the Windows TCP team. These are not trivial things to implement and maintain. (Although much simpler, it looks like we

[2020-07-13 16:15] mdh1418 opened #39202 "System.Runtime.Loader.DefaultContext test failing on Browser"
[code]

[2020-07-13 16:22] BruceForstall commented on #31685
I'm moving this to Future.

[2020-07-13 16:29] #2364 closed

[2020-07-13 16:29] #18063 closed

[2020-07-13 16:35] MattGal commented on #38997
I was actually unaware of this specific limitation but I guess it makes sense as it allows more than the PR trigger might run.  I'll ask around and reply back if I find useful stuff but I expect there'd always need to be some gate on who can issue such commands, otherwise writing a bot to just mess with it would be way too easy.

[2020-07-13 16:37] roji commented on #34817
@ KalleOlaviNiemitalo

Yeah, IsTransient unfortunately won't solve everything requiring applications to look at provider-specific error numbers. Note that there's SqlState which is also being added to DbException (https://github.com/dotnet/runtime/issues/35601), which could also help  (e.g. for recognizing unique constraint violations across databases).

@FransBouma

There could conceivably be som

[2020-07-13 16:45] felipepessoto commented on #38997
When contributing to corefx I was able to trigger the pipeline using dotnet-bot commands: https://github.com/dotnet/corefx/pull/17715

[2020-07-13 16:55] tarekgh commented on #39185
@dhhoang thanks for reporting the issue. we'll take a look to know what is wrong there. meanwhile, you may try to use the API https://github.com/dotnet/runtime/blob/7b2e585285884d80a4be5389d6a87f59195b7337/src/libraries/System.Private.CoreLib/src/System/Text/Rune.cs#L384 which should help in your scenario.

CC @GrabYourPitchforks

[2020-07-13 17:00] danmosemsft commented on #38286
@vcsjones right now we're thinking mid-August. Work before that in master will end up in 5.0, work after that would be ported selectively.

[2020-07-13 17:09] alnikola opened #39210 "WinHttpHandler can set arbitrary options on native WinHTTP"
In the past and now again we are seeing multiple instances of the same problem - callers of the managed HttpClient using the WinHttpHandler for HTTP/2 are facing a problem already solved in the native WinHTTP. Those solutions are enabled and configured through WinHTTP session and request options, however the users don't have access to them because the WinHttpHandler doesn't expose the correspondin

[2020-07-13 17:23] GrabYourPitchforks commented on #39185
@dhhoang I'm not seeing any of the APIs return _4_ for your scenario. Here's the sample application I have, which demonstrates that the behavior is as expected.

[code]

Can you provide a standalone repro which demonstrates the API returning _4_?

[2020-07-13 17:30] dhhoang commented on #39185
@GrabYourPitchforks  In your code snippet, I got `bytesUsed=3` when calling `Read(bytes.AsSpan())` instead of `Read(bytes[0..bytesWritten])` (i.e. convert the whole buffer).
My guess is that `decoder` maintains an internal buffer for incomplete UTF8 sequence?

[2020-07-13 17:33] juliusfriedman commented on #798
Hence why I recommended what I did, if you give people the toggles to control the Retransmission time they can sort of implement these algorithms on their own.

On platform where  `sysctl` is not available there is definitely another suitable way to accomplish the same thing but how becomes a question for that distro. What are you trying to accomplish with `sysctl`?

That would be because congesti

[2020-07-13 17:37] BruceForstall commented on #39171
@josalem

[2020-07-13 17:42] cheverdyukv commented on #39167
1. APPDOMAIN_ENABLE_PINVOKE_AND_CLASSIC_COMINTEROP because we are using COM. I am not sure if it is default flag
2. APPDOMAIN_IGNORE_UNHANDLED_EXCEPTIONS because we use some 3rd party components that creates threads and raises unhandled exception. And in general we process all unhandled exceptions anyway using appropriate callbacks, we just don't need runtime to terminate process.
3. "Create a hos

[2020-07-13 17:42] #1776 closed

[2020-07-13 17:47] anderslyman commented on #36039
In our case it was simple to adjust the capacity of the cache with `desiredSize + 1` since we know ahead of time how many entries we want to store.
It'd be good to fix it, but I think leaving this as a known bug along with a note in the docs would be pretty acceptable too.

[2020-07-13 17:49] GrabYourPitchforks commented on #39185
@dhhoang Yes, it maintains an internal buffer. But in your particular sample, the contents of `bytes[3]` (the byte that wasn't overwritten) was `0x00`, which is a standalone well-formed UTF-8 sequence which converts to the UTF-16 character `\u0000`.

So, for your scenario:

[code]

If you don't want the extra data (in your case, the trailing null) consumed by the encoder / decoder, you need to sli

[2020-07-13 17:49] josalem commented on #39171
Thanks, @BruceForstall!

Looks like the reader wasn't able to keep up with the writer and dropped _all_ of the events instead of _most_ of the events.  Interesting that this didn't fail until now, but not alarming.  I don't believe this is indicative of a product failure, but rather a test timing/resource constraint issue.  I'll mark this test as gcstress sensitive due to the reader speed.

[2020-07-13 17:53] mrpmorris opened #42344 "DefaultHttpClientFactory working incorrectly with Scoped dependencies"
### Describe the bug
When using Microsoft.Extensions.Http AddHttpClient and AddHttpMessageHandler<T>, the instance of T belongs to a different ServiceProvider than the ServiceProvider used to generate a Blazor page - even though T is registered as scoped.

This seems to be a problem with DefaultHttpClientFactory being registered as Singleton instead of Scoped. In Blazor every user connection equat

[2020-07-13 17:54] wfurt commented on #38679
Good to know. I wish the error codes from OS are more decriptiove so it is more obvious what is wrong.

[2020-07-13 17:54] #38679 closed

[2020-07-13 17:55] myblindy commented on #34472
Any idea why my https://dev.azure.com/dnceng/public/_build/results?buildId=726102 build was included in this? It didn't fail any tests or build steps as far as I can tell.

[2020-07-13 17:56] mfkl opened #39211 "CreateAppHost task fails with very long path"
### Description

repro:
- `git clone https://github.com/mfkl/dotnet-longpath-test repro`
- `cd repro`
[code]

Fails with
[code]

Building a classlibrary instead of a console app works as expected with this long path (because this task isn't run I guess).

With recent Windows 10 versions, if the "enable win32 long paths" registry key is set, I believe this should be building as expected.

What shou

[2020-07-13 17:59] dhhoang commented on #39185
@GrabYourPitchforks Sorry for providing a bad example, this is another one that fits my use case more:
[code]
In this case bytes[3] is the first byte of a new sequence ('る') and `Decoder.Convert` returns `bytesUsed=4` (which is now clear to me since it maintains an internal buffer).
In this case, should I not expect `completed` to be `false` because not all bytes in `bytes` have been decoded?

[2020-07-13 18:01] MattGal commented on #34472
It does on Attempt #1 :
![image](https://user-images.githubusercontent.com/7862010/87337323-1dda4a00-c4f8-11ea-8e77-a8e6414cc484.png)

So, if you didn't click retry, some nice person did for you :)

[2020-07-13 18:01] safern commented on #1616
@jkoritzinsky I assigned to you given the SharedFramework SDK. Please remove the assignment if this won't be fixed with that work.

[2020-07-13 18:02] jkoritzinsky commented on #1616
This will be fixed by adopting the new shared framework SDK.

[2020-07-13 18:02] marek-safar commented on #39074
That's odd we hardcode it as a constant value

[2020-07-13 18:02] marek-safar commented on #39074
@steveisok please assign

[2020-07-13 18:04] agocke commented on #1154
@AaronRobinsonMSFT As far as I can tell, this issue is currently adding tracking a test to make sure that the nethost is buildable as a static library?

[2020-07-13 18:10] GrabYourPitchforks commented on #39185
The `Convert` method is unfortunately a bit complicated. We tried changing the behavior in 3.0 to return _false_ in the scenario you describe, but it caused [huge compatibility problems](https://github.com/dotnet/runtime/issues/594) and we ended up backing out the change. There's a detailed comment in the code [starting here](https://github.com/dotnet/runtime/blob/7b2364312f2145ffa3bad6e153459b412

[2020-07-13 18:13] MattGal commented on #34472
Update from my end; chatted with AzDO folks in charge of the hosted macs today, the previous ETA of 7/15 to migrate the hosted agents seems to have not been accurate.  I am politely asking for an updated time.

[2020-07-13 18:24] AaronRobinsonMSFT commented on #1154
@agocke Yes that is true. It is not published and used, but a test would be prudent.

[2020-07-13 18:29] Brar commented on #1154
I'd say that a static nethost would be the most convenient way to actually use it (for outside projects) if it eventually gets published in a reliable way.

Just my 2ct.

[2020-07-13 18:31] AaronRobinsonMSFT commented on #1154
@Brar My mistake. I meant to say "it is **now**". I fixed this issue in #35431. Adding testing for the scenario is all that remains.

[2020-07-13 18:44] mikem8361 commented on #10077
On Windows that would work just fine. It is on Linux/MacOS that it gets more complicated.  You would have to emulate, the CreateProcess CREATE_SUSPENDED, call RegisterForRuntimeStartup, and then "resume" the target process.  Internally, that is what dbgshim's CreateProcessForLaunch/ResumeProcess does.

There are "CreateProcessW" and "ResumeThread" APIs exported by the DAC module (libmscordaccore.s

[2020-07-13 18:46] scalablecory commented on #39210
This doesn't seem unreasonable, though I'd like to see some interest here before moving forward.

[2020-07-13 18:49] #36696 closed

[2020-07-13 18:49] #37169 closed

[2020-07-13 19:00] tarekgh commented on #39179
@cg110 thanks for reporting the issue. Usually Activity.Current will have the same instance of the Activity object we'll stop which will be sent as the event parameter.So, I guess the current behavior looks better as when you receive the event, you'll have the activity object we are stopping and also you'll have the updated Activity.Current too. But, if this can cause any behavior confusion, I wou

[2020-07-13 19:01] BruceForstall commented on #38841
@tannergooding The proposed PR is https://github.com/dotnet/runtime/pull/38879? How is this coming along? (Of course, the weekend test runs failed again.)

[2020-07-13 19:23] marek-safar commented on #2044
What I meant by CLI integration is smoother dev experience when targeting Android. You can do `dotnet publish` and manual `adb shell` today but that's not where we would like to land.

[2020-07-13 19:33] jeffhandley commented on #33360
We created https://github.com/dotnet/designs/pull/139, which includes a few APIs mentioned here.

[2020-07-13 19:40] brphelps opened #39218 "Is HttpConnectionResponseContent.Content.ReadAsStringAsync() guaranteed to be re-runnable?"
This is a pretty specific question, and I don't really see an answer in docs. I'm trying to figure out if there's a guarantee that ReadAsStringAsync() will be reading from buffered content after the first read for the lifetime of the HttpConnectionResponseContent return from a .GetAsync call.

From what I can tell, it's an implicit guarantee today because the data will get buffered and replayed, b

[2020-07-13 19:46] antonfirsov commented on #798
@juliusfriedman users have the knobs now to control platform specific options with `SetRawSocketOption` if they want and really know what they are doing.

However, if we expose a high-level cross-platform option on the public API, those options should be stable, proven, well documented, and  consistent across platforms.

I barely see a way to achieve this for disabling delayed acks. How can we man

[2020-07-13 19:52] dhhoang commented on #39185
I need to go over a UTF8 byte buffer and process one character at a time (for things like parsing escape sequences etc). I'd like to have a nice way to parse one single UTF8 codepoint at a time in a loop. `System.Text.Rune` seems to be the correct API for that, unfortunately I need to support .NET standard 1.3 which does not have this API.
My current workaround is to find out the number of bytes i

[2020-07-13 20:06] erozenfeld opened #39221 "LSRA assert when running PMI on xunit.performance.execution.dll"
Repro steps:

1. Build release x64 core_root and set release_core_root to its location.
2. Copy checked clrjit.dll to %release_core_root%.
3. Build pmi.dll in http://github.com/dotnet/jitutils
4. set COMPlus_TieredCompilation=0
4. %release_core_root% pmi.dll PREPALL_QUIET %release_core_root%\xunit.performance.execution.dll

This will fail. The assert won't be printed to the console because this is

[2020-07-13 20:06] erozenfeld commented on #39221
@CarolEidt @dotnet/jit-contrib

[2020-07-13 20:15] juliusfriedman commented on #798
I have had them in use in my library for some time and have never had any issues, I would expect the greatest level of compatibility to be able to be achieved on Linux simply due to the open source nature.

The same way we probe for CPU information we should be doing for socket information. Offloading is just as important on the network side in certain cases as it is on the GPU. (Special network l

[2020-07-13 20:24] akoeplinger opened #39223 "Tests that read Environment.StackTrace don't work on WASM"
It is empty, causing these tests to fail:

----
- [x] System.Tests.EnvironmentStackTrace.StackTraceDoesNotStartWithInternalFrame
fails with `System.NullReferenceException`.

Failure Message:
[code]

Calling Code:
[code]
For Browser WASM, `Environment.StackTrace` is empty, which leads to a `null` return in `StringReader.cs`'s method `ReadLine`. Therefore, it cannot access `IndexOf`.

----

- [x] Sy

[2020-07-13 20:30] #38164 closed

[2020-07-13 20:31] tannergooding commented on #38841
@BruceForstall, https://github.com/dotnet/runtime/pull/38879 fixes (I believe) all the x86 issues.

There is still an ARM64 issue tthat I haven't finished investigating that is causing some remaining failures

[2020-07-13 20:35] hamarb123 commented on #39132
@carlossanlop @Jozkee, would you guys accept a PR for this?

[2020-07-13 20:38] joperezr opened #39225 "Investigate why NETStandard.Library package dependency is being added to net461 dependency groups for some of our packages"
I hit this when doing my changes for https://github.com/dotnet/runtime/pull/39099 by adding configurations and noticed that some of our Microsoft.Extensions packages had this dependency added for the net461 group. We'll have to investigate why that is  happening and fix whatever is causing it.

cc: @ericstj

[2020-07-13 20:40] AaronRobinsonMSFT commented on #38716
@Ollhax Without fully debugging this we are kind of stuck for now, but here are some insights from the COM team:

[2020-07-13 20:52] tannergooding commented on #32418
What would be the reason for deprecating System.Drawing.Color? It is still used for its intended purpose, with System.Drawing; which itself is based on GDI+ and is actively supported on both Unix and Windows.

[2020-07-13 20:59] #39190 closed

[2020-07-13 21:03] nxrighthere commented on #32418
There's no point to deprecate it without a replacement. It makes sense to update/improve it, but not just leaving behind.

It's used extensively in game engines for basic colors where 8 bits of precision per channel is acceptable such as console messages. For something advanced, more precision is required for sure. For instance, I've implemented a custom [LinearColor](https://github.com/nxrighther

[2020-07-13 21:07] carlossanlop opened #39227 "Building libs.tests fails in XmlSerializer.Generator.Tests"
I have a clean enlistment synced to the latest runtime commit in master.
I ran `.\build.cmd clr+libs -rc release` without problem.
When I build `.\build.cmd libs.tests -rc release`, I get this error:

[code]

Let me know if you need more info.

[2020-07-13 21:09] aaronfranke commented on #32418
Then why not replace it with the proposed `Color8` type, and add the proposed `Color` type? They work for the existing use cases of `System.Drawing.Color`, and are flexible enough to be used for more use cases.

The argument against this is basically that doesn't work for every single use case, but it doesn't need to. We don't need to support many color spaces and such, we can just treat `1.0f` in

[2020-07-13 21:19] KirillOsenkov commented on #10077
Thanks! Is `CreateProcessForLaunch` open source? I'm guessing I could take that implementation and since I only need it on Windows I could tweak to create the process myself (suspended), then RegisterForRuntimeStartup, then resume.

[2020-07-13 21:21] mikem8361 commented on #10077
Yes: https://github.com/dotnet/runtime/blob/48cd4789819d4903e11c786155211a97e1746a08/src/coreclr/src/dlls/dbgshim/dbgshim.cpp#L81

[2020-07-13 21:21] Jozkee commented on #39132
FWIW: This also fails on linux distros, I tried it on WSL and got the reported error so maybe we don't have to split the file and perhaps there is an unified way to solve the problem for Unix (Linux and OSX).

[2020-07-13 21:32] antonfirsov commented on #798
This request came before `SetRawSocketOption` existed, the first approval was a mistake (result of incorrect assumptions), the `api approved` label has been removed since then.

This is not true, delayed ack can be controlled on Socket level in both Linux and Windows (but with very different switches). The goal of this issue is to try to provide a unified API for that specific switch. If you think

[2020-07-13 21:37] hamarb123 commented on #39132
@Jozkee I do not believe that there is an easy way to do it on all Unix systems. It says that there is no API to update the CreationTime on Unix systems [here](https://github.com/dotnet/runtime/blob/0d5e5766c6688a5ab29d6e96c01abbfe1ad3659c/src/libraries/System.IO.FileSystem/src/System/IO/FileStatus.Unix.cs#L186), and it says that Linux does not even store it, so I think that we should either have

[2020-07-13 21:37] hamarb123 commented on #39132
But there could be an API that I do not know about.

[2020-07-13 21:40] vitek-karas commented on #39165
This is not in our plans right now (either the runtime or hosting side).

[2020-07-13 21:40] #39165 closed

[2020-07-13 21:44] juliusfriedman commented on #32418
Why not use something like I have proposed , it is extensible enough that I could also add the same format as @nxrighthere posted and would that be sufficient? It will only benefit users of `shaders` on `GPUS` so I suspect not...

My implementation supports audio and video in the same framework and is able to be SIMD optimized, it's basically a modernized take on what libav did.

I am not saying @

[2020-07-13 21:45] MaximGurschi opened #39230 "(Question) IValueTaskSource and ValueTask chaining"
Hi team,

I've implemented some logic attempting to reduce allocations when working with methods returning ValueTask.
I've used the ManualResetValueTaskSourceCore inside a type implementing IValueTaskSource.

My API has a non async method returning ValueTask<int>.

My question is if there is a simple way how to chain methods returning ValueTask while keeping allocations zero amortised?

Say i have

[2020-07-13 21:54] tarekgh commented on #39230
CC @stephentoub

[2020-07-13 21:54] RealDotNetDave commented on #30859
Thanks for continuing to look into this!

[2020-07-13 21:58] danmosemsft commented on #39132
From what I have read recently and in the past, there is not really a way to do this on Linux. And that is why the Apple way is not using a POSIX API at all.

[2020-07-13 22:00] agocke commented on #3774
We're not interested in doing this at the moment

[2020-07-13 22:00] #3774 closed

[2020-07-13 22:00] tannergooding commented on #32418
What we already have covers the basic use-case, which is accessing and interpreting colors in a fairly typical format (8-bits per pixel, 3 color channels + alpha channel). We also have `System.Numerics.Vector4` which can be the basis of a hardware accelerated floating-point format (32-bits per pixel, 3 color channels + alpha channel) and covers a good number of additional scenarios, including conv

[2020-07-13 22:01] #3820 closed

[2020-07-13 22:02] tarekgh commented on #39185
I think this is reasonable workaround till you migrate to .NET 5.0 and then use Rune. I am closing the issue here but feel free to respond back with nay more questions.

[2020-07-13 22:02] #39185 closed

[2020-07-13 22:05] eerhardt commented on #39125
TypeConverter supports 2 kinds of constructors:

* A PublicParameterlessConstructor or
* A public constructor that takes a `Type` to support things like `NullableConverter` and `EnumConverter`.

Here is the underlying code in `ReflectTypeDescriptionProvider.CreateInstance`:

https://github.com/dotnet/runtime/blob/7b2364312f2145ffa3bad6e153459b412e1bf264/src/libraries/System.ComponentModel.TypeConv

[2020-07-13 22:07] Jozkee commented on #39132
Ah, I didn't see that part.

OK, in that case I think is good that we could fix this for Mac, @hamarb123 a PR for it would be very welcome.

[2020-07-13 22:08] juliusfriedman opened #39232 "Better Socket Option and Network Interface Support."
## Background and Motivation

Lost of application layer protocols such as [RTSP](https://tools.ietf.org/html/rfc7826) require using TCP in different ways such as disabling TCP retransmission or using TCP Timestamp.

I might be on an mobile device plugged in and live streaming and I might want to get up and get in my car and continue the stream...

I must be able to tolerate network loss and re-con

[2020-07-13 22:16] juliusfriedman commented on #798
That myst be sum switchboard...

[2020-07-13 22:17] juliusfriedman commented on #39232
cc @scalablecory as I think this will be useful from your Connection abstraction.

cc @danmosemsft

cc @antonfirsov

cc @stephentoub

[2020-07-13 22:30] joperezr commented on #39027
@DrewScoggins is there an easy way on this issues to tell if this is a regression from 3.1? Marking as 5.0 for now in case it is a regression and will move to future if that is not the case.

[2020-07-13 22:34] KirillOsenkov opened #39233 "GZipStream.ReadByte 10x slower than on Desktop"
### Description

Reading a binlog file takes 4 seconds on .NET Desktop, but 40 seconds on Core 3.1.

Originally reported by @vatsan-madhavan in https://github.com/KirillOsenkov/MSBuildStructuredLog/issues/376

Repro:

1. `git clone https://github.com/vatsan-madhavan/MSBuildStructuredLogSummary`
2. `msbuild /r`
3. Download the binlog from https://1drv.ms/u/s!Ah63gfGkKca4lsl2sy71gpkpM9TCog?e=ifgsMj

[2020-07-13 22:35] KirillOsenkov commented on #39233
@carlossanlop

[2020-07-13 22:36] joperezr commented on #39010
Closing as the question has been answered, and we won't be using this issue once we have more info to share.

[2020-07-13 22:36] #39010 closed

[2020-07-13 22:37] juliusfriedman commented on #32418
I 100% agree but look @ [https://github.com/jcodec/jcodec](http://jcodec.org/)

That is why I started my library to enhance what issues they had at the time. It looks like they have also moved onto hardware acceleration where supported, which unfortunately I didn't get all the way to; I did get through [Manged Intrinsic's](https://github.com/juliusfriedman/net7mma_core/blob/fd895adbce2f4776eee5695

[2020-07-13 22:41] hoyosjs commented on #39176
@dotnet/dotnet-diag @josalem

[2020-07-13 23:05] GrabYourPitchforks opened #39235 "Proposed code fixer for obsoleted CAS APIs"
Per https://github.com/dotnet/designs/pull/139, we want to obsolete some of the CAS-related APIs in .NET 5.0. The obsoleted APIs are primarily classes that derive from `CodeAccessSecurityAttribute` and `CodeAccessPermission`.

The fixer should help apps migrate away from these now-obsolete types.

For __`CodeAccessSecurityAttribute`-derived__ which are obsolete (_except_ `PrincipalPermissionAttrib

[2020-07-13 23:19] safern commented on #39227
cc: @ViktorHofer @ericstj -- maybe a fallout from: https://github.com/dotnet/runtime/commit/8790adefae322d2e6d680c8fb3470081bea0da0b

What is weird is that CI is not failing and CI is doing `build.cmd libs.tests`. @carlossanlop was this in your regular machine or the Surface Pro X?

[2020-07-13 23:27] GrabYourPitchforks commented on #39185
This should work fine as long as you can ensure that your input is a well-formed UTF-8 sequence. If your input is not guaranteed well-formed UTF-8, your slice routine could end up operating on the incorrect number of bytes, which might make your `Convert` routine return garbage.

If you do this I would recommend:

[code]

That will prevent the `Convert` routing from giving you garbage due to incor

[2020-07-13 23:45] safern opened #39238 "WASM: builds are timing out due to helix queue capacity"
The WASM queue we're using because it is the only queue with `v8` available in it to be able to execute WASM tests, only has 6 machines, and as we've enabled more test projects it is not keeping up, so currently all jobs are timing out.

@MattGal is adding `v8` to a queue with more capacity and that should be available on Wednesday's rollout. In the meantime we're going to disable running the brow

[2020-07-13 23:58] josalem commented on #39176
Interesting!  I haven't had a chance to try the repro since I'm on my Mac right now.

@vitek-karas when you run this under the debugger, does a NamedPipe with a name like `dotnet-diagnostic-<pid>` show up for the application?  `IpcStreamFactory::GetNextAvailableStream` returning `nullptr` indicates a failure state of the underlying NamedPipe (on Windows).  Could you give some more details about wh

[2020-07-14 00:02] #37118 closed

[2020-07-14 00:03] softworkz commented on #39183
@scalablecory - it also affects Windows in our case because we're using this on all platforms (no WinHttp.sys).

[2020-07-14 00:11] Maoni0 commented on #36850
tests deleted, closing

[2020-07-14 00:11] #36850 closed

[2020-07-14 00:15] MaximGurschi commented on #39230
Is the idea that to achieve this natively we'd use .Net 5 with DOTNET_SYSTEM_THREADING_POOLASYNCVALUETASKSLIMIT?

[2020-07-14 00:22] erozenfeld commented on #13591
@jkotas #13582 is done so should be unblocked.

[2020-07-14 00:23] BruceForstall opened #39241 "Test failure: Microsoft.Extensions.Caching.Memory.CapacityTests.DoNotAddIfSizeOverflows"
Windows, x86, `COMPlus_JitStressRegs=8`

https://dev.azure.com/dnceng/public/_build/results?buildId=726304&view=ms.vss-test-web.build-test-results-tab&runId=22490824&resultId=102068&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

I don't think this is related to JitStressRegs; I can't repro it locally like that. I think the test simply fails sometimes on loaded system

[2020-07-14 00:24] Maoni0 commented on #32559
this is cleanup PR that fixes the unnecessary #endif/#ifdef: https://github.com/dotnet/runtime/issues/32559. closing. feel free to reopen if you find more places with these unnecessary #endif/#ifdef's.

[2020-07-14 00:24] #32559 closed

[2020-07-14 00:24] echesakovMSFT commented on #37014
During the last JIT team meeting there were concerns raised that LoadPairVector64 and LoadPairVector128 are the only intrinsics returning a tuple and we don't know yet if they could expose previously not seen issues.

I am going to open a separate issue to track the work of implementing LoadPairVector64 and LoadPairVector128. Depending on the extent of changes their implementation requires we migh

[2020-07-14 00:25] danmoseley opened #39242 "BasicTest_GetNetworkInterfaces_AtLeastOne failed with NetworkInformationException : No error information on Alpine"
net5.0-Linux-Release-arm64-CoreCLR_checked-(Alpine.312.Arm64.Open)Ubuntu.1804.ArmArch.Open@mcr.microsoft.com/dotnet-buildtools/prereqs:

https://dev.azure.com/dnceng/public/_build/results?buildId=727645&view=ms.vss-test-web.build-test-results-tab&runId=22528506&resultId=129574&paneView=debug
[code]

I guess SystemNative_GetNetworkInterfaces failed somehow but did not set error information.

https:

[2020-07-14 00:26] tarekgh commented on #39078
@ericstj did we decide what we'll do here? or the workaround will be enough by doing binding redirect?

[2020-07-14 00:26] Maoni0 commented on #32487
I'm closing this as there's not enough data to make progress. feel free to reopen with data that has enough GC events.

[2020-07-14 00:26] #32487 closed

[2020-07-14 00:26] echesakovMSFT opened #39243 "[Arm64] LoadPairVector64 and LoadPairVector128"
[code]

Extracted from #37014, see https://github.com/dotnet/runtime/issues/37014#issuecomment-657896555

[2020-07-14 00:28] echesakovMSFT commented on #37014
Opened #39243 for LoadPairVector64 and LoadPairVector128

[2020-07-14 00:28] #37014 closed

[2020-07-14 00:30] Maoni0 commented on #13156
this was open sourced so closing this...if you have problems running the perf suite (explained in the readme from the link @andy-ms mentioned above please feel free to open an issue at the dotnet/performance repo.

[2020-07-14 00:30] #13156 closed

[2020-07-14 00:32] #876 closed

[2020-07-14 00:35] Maoni0 commented on #38358
fixed with [PR#38970](https://github.com/dotnet/runtime/pull/38970)

[2020-07-14 00:35] #38358 closed

[2020-07-14 00:37] k15tfu commented on #39010
@joperezr Could you post a new link to follow up on?

[2020-07-14 00:38] wfurt commented on #39242
getifaddrs() _should_ set errno according to man page. It would be interesting if Alpine implementation is compliant with that as well. It seems like only other place would calloc() failure.

[2020-07-14 00:39] aaronfranke commented on #32418
@tannergooding `System.Drawing.Color` uses 8 bits per channel, not 8 bits per pixel, and `System.Numerics.Vector4` would give 32 bits per channel, not 32 bits per pixel.

[2020-07-14 00:39] BruceForstall opened #39244 "Helix infrastructure script failures on Linux arm"
Consider:

https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-f166106694b64041af/System.Security.Cryptography.Algorithms.Tests/console.c43f3c2f.log?sv=2019-02-02&se=2020-08-02T07%3A37%3A26Z&sr=c&sp=rl&sig=xGk3T6I7LB3HjJTLqeuiEWQ3ohh6Gbeynr3XVrIndxA%3D

(from test run:
https://dev.azure.com/dnceng/public/_build/results?buildId=726692&view=ms.vss-test-web.build-t

[2020-07-14 00:43] tannergooding commented on #32418
Sorry, simple typo was thinking one thing and wrote another

[2020-07-14 00:49] tarekgh commented on #39179
@cijothomas does OT assume anything about the order of the operations here?

[2020-07-14 00:50] GrabYourPitchforks commented on #39235
To clarify the above "fixer shouldn't do anything" examples a bit...

[code]

In the cases above, the .NET Core runtime does not honor the attributes. The runtime itself behaves as if the attributes were not present. But the only logical reason for a dev to have written these attributes in the first place is that they expected the runtime to perform a check on method entry. The dev should be made

[2020-07-14 00:53] safern commented on #38138
It seems like this is happening a lot now.

[2020-07-14 00:55] danmosemsft commented on #39242
would it be valid to assert something like
[code]

[2020-07-14 00:57] danmosemsft commented on #39241
Increasing the timeout would not affect tests that pass today, right? I think it would be fine if you want to increase those numbers.

[2020-07-14 00:59] danmosemsft commented on #38138
https://github.com/dotnet/runtime/pull/39217#issuecomment-657897621

[2020-07-14 01:08] Maoni0 commented on #13738
functional fix [PR#37166](https://github.com/dotnet/runtime/pull/37166) pending perf tuning which will be done separately.

[2020-07-14 01:08] #13738 closed

[2020-07-14 01:13] ericstj commented on #39227
Odd.  I'd expect serializable types to come from here https://github.com/dotnet/runtime/blob/8892364dffd62c478d398292a4f2699500bbb61c/src/libraries/Microsoft.XmlSerializer.Generator/tests/Microsoft.XmlSerializer.Generator.Tests.csproj#L18

One thing that comes to mind would be that this could happen if you were messing with TargetArchitecture.  For instance if you set it to arm64 and built the pro

[2020-07-14 01:15] BruceForstall opened #39247 "Test failure: ManagedTests.DynamicCSharp.Conformance.dynamic.context.operate.compound.evnt.minuseql.return002.return002.C.DynamicCSharpRunTest"
Windows and Linux arm64, JitStressRegs=0x80, libraries System.Dynamic.Runtime.Tests: checked CoreCLR, release libraries.

https://dev.azure.com/dnceng/public/_build/results?buildId=726304&view=ms.vss-test-web.build-test-results-tab&runId=22490830&resultId=178677&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotn

[2020-07-14 01:16] BruceForstall commented on #39247
@CarolEidt
cc @AndyAyersMS

[2020-07-14 01:19] BruceForstall commented on #39241
No idea. That would be up to the test owner to determine.

I would prefer the test/area owner make that change, to contribute to a better, more stable CI.

[2020-07-14 01:32] danmosemsft commented on #39010
@k15tfu I don't think there's another link, probably best to watch the .NET blog https://devblogs.microsoft.com/dotnet/

[2020-07-14 01:34] Maoni0 commented on #2341
fixed with [PR#32795](https://github.com/dotnet/runtime/pull/32795)

[2020-07-14 01:34] #2341 closed

[2020-07-14 01:39] #39198 closed

[2020-07-14 02:03] Maoni0 commented on #13152
fixed by [PR#25963](https://github.com/dotnet/coreclr/pull/25963)

[2020-07-14 02:03] #13152 closed

[2020-07-14 02:04] srxqds commented on #37269
as this (https://devblogs.microsoft.com/dotnet/performance-improvements-in-net-5) show, there are many improvements in .net5, but how about the improvements on mono runtime. because we are embeded .net using mono runtime.

[2020-07-14 02:31] wfurt commented on #39242
BTW I was looking for failure history and I did not find any ;(

[code]
cc: @MattGal I only see BadExit status when looking for that particular JobID (fc291949-69d3-435e-a0b6-7a62c0331b12)

[2020-07-14 02:51] Anipik opened #39253 "System.Runtime.CompilerServices.ExtensionAttribute not being applied to the extensions"
Microsoft.CCI.Extensions rely on this attribute to check whether a method is an extension or not https://github.com/dotnet/arcade/blob/master/src/Microsoft.Cci.Extensions/Extensions/CSharp/CSharpCciExtensions.cs#L667

I encountered this while generating a reference source of system.refelection.typeextensions where all the "this" keyword was getting skipped.

I checked the dll and this attribute is

[2020-07-14 03:11] jkotas commented on #39253
https://github.com/dotnet/runtime/blob/master/src/libraries/System.Reflection.TypeExtensions/src/System/Reflection/TypeExtensions.cs#L4 has comment about this. I do not think that this comment has merit. It should be fine to delete this comment and mark all methods in the implementation with `this`.

[2020-07-14 03:38] ericstj commented on #39078
I think @rainersigwald would need to weigh in on thoughts of plumbing a version to the code which is writing the resources.

One thing we could do here is include targets in the package to always suggest the bindingRedirect.  We did this with the WinRT contracts last release.

[2020-07-14 03:39] CodeBlanch commented on #37940
@layomia Just checking in on this. Any update? Anything I can do to help?

[2020-07-14 03:41] ericstj commented on #39227
Frankly think we shouldn't be conditioning the test this way as it could cause these incremental build issues since the project doesn't represent these as configurations.  Instead we should have the condition as attribute on the test.

[2020-07-14 04:01] ericstj commented on #39253
Agree with @jkotas here, assuming compiler does the right thing.  We can mitigate the "looks like infinite recursion" by adding a comment that says these all call the instance methods, then ensure we have tests that directly invoke the static methods to ensure they don't recurse.

IIRC that comment came about because someone forgot an assembly ref in the src at one point and actually did create in

[2020-07-14 04:35] DrewScoggins commented on #38138
I was off today. I will take a look at this tomorrow morning.

[2020-07-14 04:43] scalablecory commented on #39232
@juliusfriedman can you help us out by cleaning this up to just the API surface? If there are any tricky implementation details (portability, etc.) they can be discussed in 2nd half of issue, or in further comments.

[2020-07-14 05:03] ericstj commented on #698
@mjsabby there are some transitive types.  `RouteBase` `HttpContextBase` and their closure.  I assume you don't need to be able to construct these?

[2020-07-14 05:09] #13507 closed

[2020-07-14 05:19] danmosemsft commented on #39233
Would be interesting to know 5.0 numbers

[2020-07-14 05:39] scalablecory commented on #39230
An `async ValueTask` that runs synchronously does not allocate anything. For the async case, you'll need some sort of state for this. You can certainly manage that yourself, or you can let `DOTNET_SYSTEM_THREADING_POOLASYNCVALUETASKS` do that for you.

Because `ValueTask` has some gotchas, the recommendation for success is to always `await` a `ValueTask` return directly rather than (as you have do

[2020-07-14 05:40] Dogwei opened #39256 "Switch IL bug in .NET Core 3.1"
### Description

At X86 runtime, switch(long) will make an error, as shown in the picture.
this is normal on .Net Framework 471.

![微信截图_20200714132436](https://user-images.githubusercontent.com/14845492/87387476-6451a680-c5d5-11ea-96b4-48b16047e737.png)

### Configuration

.NET Core 3.1 on X86

### Regression?

##### This is an equivalent IL code:

[code]

category:correctness
theme:invalid-il
sk

[2020-07-14 05:50] #37681 closed

[2020-07-14 06:03] mjsabby commented on #698
Nopes, the PR you have is all I need.

[2020-07-14 06:19] JoshSchreuder commented on #31127
I [started looking at this](https://github.com/JoshSchreuder/runtime/commit/653f1bdbdb33cefeebe9bd27d543c7648dfefafb), but might need a clarification as I'm unfamiliar with the code structure.

With my change, I'm getting the following errors where `CodeBase` / `EscapedCodeBase` are used elsewhere (`DesigntimeLicenseContext`, `Helper.Win32Unix`, `RoAssembly`). Can I please get some tips on the bes

[2020-07-14 06:25] vatsan-madhavan commented on #39233
About the same as 3.1.

[code]

[2020-07-14 07:05] v-haren opened #39258 "Test failure: System.Net.Http.WinHttpHandlerFunctional.Tests.WinHttpHandlerTest.SendAsync_MultipleHttp2ConnectionsEnabled_CreateAdditionalConnections"
failed in job: [runtime-libraries outerloop 20200713.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=726827&view=ms.vss-test-web.build-test-results-tab&runId=22507178&resultId=102416&paneView=debug)

Error message
[code]

[2020-07-14 07:08] v-haren commented on #29683
failed again in job: [runtime-libraries outerloop 20200713.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=726827&view=ms.vss-test-web.build-test-results-tab&runId=22507180&resultId=103613&paneView=debug)

Error message
[code]

[2020-07-14 07:10] hamarb123 commented on #39132
@Jozkee what TFMs should I break it up into, the current csproj file has:
[code]

[2020-07-14 07:12] Gnbrkm41 commented on #38997
FWIW: https://github.com/dotnet/runtime/issues/718#issuecomment-564311630

[2020-07-14 07:14] jkotas commented on #31127
`System.ComponentModel.TypeConverter` should be switched to use `Assembly.Location`. The rest should use #pragmas to disable the warnings.

@jeffhandley is working on the plan for better obsoletions IDs. You can leave the ID as TODO in the PR.

[2020-07-14 07:14] v-haren opened #39259 "Test failure: System.Media.Test.SoundPlayerTests.Play_InvalidFile_ShortTimeout_ThrowsWebException"
failed in job: [runtime-libraries outerloop 20200713.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=726827&view=ms.vss-test-web.build-test-results-tab&runId=22506986&resultId=100892&paneView=debug)

Error message
[code]

[2020-07-14 07:15] Gnbrkm41 commented on #39243
Did we settle on using ValueTuples for the return type instead of a custom type?

[2020-07-14 07:27] MaximGurschi commented on #39230
Yes i understand the limitations of using ValueTask (double awaits etc). Tbh the interleaved execution in the above example is not even critical for the question. I was excited to be able to write allocation free async code, until it dawned on me that combining custom backed ValueTasks is still problematic (unless i'm missing something). I just want to clarify that it is not sufficient for both Me

[2020-07-14 07:53] JoshSchreuder commented on #31127
Cheers @jkotas, I've raised #39261

[2020-07-14 07:54] #34253 closed

[2020-07-14 07:56] ivanpovazan commented on #5051
Ilasm can now generate PDB in portable PDB format #37702
This feature is available through command line arguments: -debug -pdbfmt=portable

[2020-07-14 08:09] ViktorHofer commented on #39227
Agreed with using runtime detection over compile time exclusion. Probably via an XUnitExtensions attribute? cc @safern

[2020-07-14 09:31] k15tfu commented on #39010
I would rather take it as a meta issue of lack of support, with clarification that you plan to work on this. It was strange to close the issue for developers/contributors and ask to follow the blog.

[2020-07-14 09:39] cg110 commented on #39179
The problem is more that in our logging framework, we've decorators that add properties to messages, but they don't have access to the activity, they just see a Trace/Log message go through, and attach properties, we currently have an AsyncLocal with a transaction Id, and want to move to trace context.

[2020-07-14 09:53] scalablecory commented on #39258
@alnikola

[2020-07-14 10:00] noahfalk commented on #38754
Can we back up to "It's believed that almost nobody is actually listening to current NetEventSource events"? I don't intend to contradict but I want to learn what evidence we have behind it. The level of confidence makes a big difference in how much design freedom we have. Thanks!

[2020-07-14 10:28] cg110 commented on #39179
Perhaps this example better explains, the tracing pre-fixes messages with the Trace context:

[2020-07-14 10:29] Sergio0694 commented on #36907
Oh that makes sense, I thought that counter only referred to **conditional** branches, so I was confused as I didn't get why .NET 5 should've had more of them, thanks! Could this hypothesis also explain that increased number of cache misses on .NET 5? I'm thinking, if it does have more jumps, the code could generate more cache misses in the instruction cache?

I've re-run the benchmarks ading the

[2020-07-14 10:34] noahfalk commented on #39179
Thanks for the report @cg110 👍

I'd suggest that we match the ordering used by DiagnosticSource - stop event comes before Activity.Current changes. In addition to @cg110's scenario there is probably another one where someone using an ActivityListener wants to emulate the DiagnosticSource events for back-compat. If an ActivityListener.Stop() call was implemented to send DiagnosticSource.Write(activ

[2020-07-14 10:47] akoeplinger commented on #5051
@ivanbasov awesome work! would it make sense to use `-debug:portable` instead of a separate argument to be consistent with csc/roslyn?

[2020-07-14 11:04] juliusfriedman commented on #39232
Sorry, will do so asap, let me clarify the ask; just remove the implementation details right and keep it to just the header definition style/ API surface?

[2020-07-14 11:24] Ollhax commented on #38716
Alright, thank you for forwarding this. It's unfortunate that this is not considered a supported scenario, since it seems to be _almost_ working, and there's not a lot of other options for running untrusted C# code as far as I know. I can probably get away with lowering the sandbox level if I need to though.

[2020-07-14 11:34] ivanpovazan commented on #5051
@akoeplinger thank you.

I agree it would be nice to have consistency across the tools, but I have introduced a separate argument in order to avoid ambiguity with existing ilasm `-debug` options:
`-debug:opt`
`-debug:impl`

So the question is not about whether these options should be merged but whether it will be clear enough for ilasm users.
@noahfalk what do you think?

[2020-07-14 11:40] juliusfriedman commented on #32418
I also limits you to 4 channels, in the purest form without another class to break out the components. my implementation makes no such limitation right now (only up to 255 channels because of byte but easily changed to int though).

There needs to be a structure of something right in front of the Vector and Behind the color hence why I suggest Components and Buffers.

[2020-07-14 11:59] tmds commented on #39232
@juliusfriedman can you provide a list of socket options (like: IPPROTO_TCP/TCP_MAXRT) you need, and whether they are supported on Windows/Linux?

It would be preferable to support these by extending the `SocketOptionName` enum, instead of using new methods.

[code]

note: this doesn't work. `SetRawSocketOption` can't accept a name. It's meant for socket options not part of `SocketOptionName` for

[2020-07-14 12:01] juliusfriedman commented on #39232
`System.Net.Sockets.SocketOptionName` is just an enum and can be cas.

I have included them in the prior art everything seems supported except 12 which is congestion control, outside of that there is different values at USER_RT due to windows vs unix.

Other than that the options are mostly the same afaik.

[2020-07-14 12:02] stephentoub commented on #38754
Super noisy and terribly inconsistent events that make them close to useless for any real investigation.

A total of one hit (outside of dotnet/runtime and clones) on all of GitHub for the event source names and guide, and that one being in a tool that's just logging all networking event sources.

That same one hit via grep.app.

Zero discussions with developers about the consumption of these even

[2020-07-14 12:14] alnikola commented on #39258
This test must be skipped for OS older than Windows 10 Version 1607. I will add PlatformDetection attribute.

[2020-07-14 12:15] tmds commented on #39232
The values of `SocketOptionName` (which come from Windows .NET Framework) match the raw values on Windows. Casting to int doesn't work cross-platform.
For example, `DropMembership` has a value of `13` in the enum. Where on Linux, it should be IP_DROP_MEMBERSHIP (value `36`), or IPV6_DROP_MEMBERSHIP (value `21`), depending on whether ipv6 is used.
If the `SocketOptionName` enum gets extended, new v

[2020-07-14 12:16] stephentoub commented on #38754
(To be clear, I'm fine keeping the existing sources, deleting the useless stuff, and adding new stuff to them. What I want to avoid is splitting the events effectively arbitrarily across two sources. It's confusing and pointless from a customer perspective.)

[2020-07-14 12:18] juliusfriedman commented on #39232
Hence why they can be defined per OS at runtime similar to CPU stuff.

[2020-07-14 12:26] alnikola commented on #38754
@stephentoub Could you please clarify whether you suggest to **keep the old types**? I believed we decided to delete them and move valuable things to the new telemetry. Am I wrong?

[2020-07-14 12:30] tmds commented on #39232
You need to do it at runtime currently. When added to .NET Core, the values are captured as part of the build and will be mapped from `SocketOptionName` values to the appropriate platform-specific `optionLevel`, `optionName` internally.

[2020-07-14 12:33] tmds commented on #39232
This method does the mapping for non-Windows platforms:

https://github.com/dotnet/runtime/blob/078755e701831802f55121a24da0a17df52dde7a/src/libraries/Native/Unix/System.Native/pal_networking.c#L1654-L1655

[2020-07-14 12:42] juliusfriedman commented on #39232
So when I load a new kernel module with a new network interface after the runtime has booted what will happen? you will not support the newer adapter?

[2020-07-14 12:49] tmds commented on #31396
@adamsitnik is the above analysis good enough to close this issue?

[2020-07-14 12:54] tmds commented on #37421
@maryamariyan can you look into this issue as part of the `ConsoleLogger` changes you are making for .NET 5?

[2020-07-14 13:01] iozcelik opened #39268 "Socket.ConnectAsync result get the socket error "InvalidArgument" for UDP"
I use .net core 3.1 and creating a worker service.

I try to implement Socket.ConnectAsync both TCP and UDP. However UDP is not working as expected.

From [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket.connectasync?view=netcore-3.1), it will be possibble. However, I am not successed.

My code is simple:

[code]

[2020-07-14 13:03] stephentoub commented on #38754
I don't have a strong opinion on which ones to keep. I do care that:
- We only have one per assembly.
- We get rid of useless events.
- The tracing is useful and consistent.
- The above happens for .NET 5.

[2020-07-14 13:11] yecril71pl opened #39270 "FormatException must store the offending value"
### Description

[code]
### Configuration

.NETCoreApp,Version: v2.1
OS:                             Microsoft Windows 10.0.18363
architecture: x64
### Regression?

### Other information

Error Message:
 Assert.AreEqual failed. Expected:<?>. Actual:<(null)>. FormatException must store the offending value.

[2020-07-14 13:16] HASSEN-MEDDEB-ATOS commented on #39014
Hi @wfurt ,

I have used  DefaultCredentials  to Gets the system credentials of the application.  the proxies don't use the same authentification :/

[2020-07-14 13:29] tmds commented on #39232
Knowledge of these socket options gets put into .NET Core at build time. It's unrelated to kernel modules.

[2020-07-14 13:43] Gnbrkm41 commented on #39270
This is a feature request, correct? I don't remember the exceptions actually containing the invalid value.

[2020-07-14 13:51] felipepessoto commented on #38997
Makes sense. It may be the case of just changing the docs: https://github.com/dotnet/runtime/blob/master/docs/pr-guide.md

[2020-07-14 14:08] yecril71pl commented on #39270
I tried to report a feature request but there is no such option in the project.

[2020-07-14 14:09] Gnbrkm41 commented on #39270
API proposal might work, but I don't it really matters >_>.

[2020-07-14 14:10] yecril71pl commented on #39270
This request does not introduce any change into the API.

[2020-07-14 14:12] #39258 closed

[2020-07-14 14:14] Gnbrkm41 commented on #39270
I know, the template doesn't really matter (in fact you can start with an empty one if you wish). I just wanted to confirm that this isn't a bug report of some sort, the example seemed like one for me personally 🙂.

[2020-07-14 14:16] maryamariyan commented on #37421
For sure. The PR would also fix this.

[2020-07-14 14:20] alnikola commented on #38754
I see. Taking into account the [above comment](https://github.com/dotnet/runtime/issues/38754#issuecomment-658140503), I still believe we should delete old NetEventSources.

[2020-07-14 14:20] jeffschwMSFT commented on #39194
@vatsan-madhavan this looks like it should be moved to dotnet/wpf.

[2020-07-14 14:29] martinm1000 opened #39283 "X509Chain Validation with my own self signed CA"
# Issue Title

Linux, netcoreapp3.1

# General

## Code
https://gist.github.com/martinm1000/a9cd19204fa463ca4ae57a309f3d7131

I'm trying to have code that can validate a certificate chain where the CA cert is self signed. I want to do this all
in memory (without the official certificates on the OS).

I already have working code that do this in Java, but my first tests in C# seems to indicate I can

[2020-07-14 14:44] dsyme commented on #38349
For what it's worth, here is a technical issue where the nature of Microsoft's role in .NET leads to technical distortions in otherwise neutral .NET tooling (this time the question of naming of DLLs and namespaces)

https://github.com/dotnet/interactive/issues/643

[2020-07-14 14:50] yecril71pl commented on #39270
The example was a shot at TDD.

[2020-07-14 14:55] danmosemsft commented on #39010
Fair enough..@richlander do you plan an Epic issue in this repo for Apple Silicon?

[2020-07-14 15:02] juliusfriedman commented on #39232
If I load a module while an app is running and then use that newly added hardware....

[2020-07-14 15:07] marek-safar opened #39274 "Libraries trimming test are missing a lot of configurations"
Newly added trimming libraries tests are running only for configurations which are not by default trimmed aggressively. All the ones which are missing so we have no test coverage.

Mandatory RIDs to be added to the existing matrix
- browser-wasm
- ios-arm64
- tvos-arm64
- android-arm64

[2020-07-14 15:09] stephentoub commented on #39232
@juliusfriedman, this has nothing to do with things being loaded while the app is running.  The options we already support and would consider adding support for are ones defined in the relevant header files for networking stacks of the supported operating systems.  Some options differ across OSes, either not existing at all in some, or existing with different numerical values, or existing with dif

[2020-07-14 15:22] juliusfriedman commented on #39232
In such cases then if I update the kernel headers my app log changes?

I would expect it to be after the kernel has been compiled and probed from the kernel but whatever.

The problem I see with doing this only 1 time at runtime is many

1) I may never even use a socket in my program
2) My headers might change
3) My network stack might change and choose to apply socket options differently

With th

[2020-07-14 15:26] stephentoub commented on #39232
Then none of this matters.

Every time you compile a C/C++ application, it's baking in the values from the headers into the binary. If your OSes headers changed such that these values changed, that would be a massive breaking change, and every application and library used on that OS that used the old values would break.  This is not something we're concerned about happening; if an OS did that, the

[2020-07-14 15:29] antonfirsov commented on #39268
Can you elaborate on this? Your code looks fine. What is the value of `Endpoint`, where does it come from?

[2020-07-14 15:31] juliusfriedman commented on #39232
non conforming to who how do you know if you cannot observe the difference?

[2020-07-14 15:33] stephentoub commented on #39232
You said "choose to apply socket options differently".  I assumed you meant it had behavioral differences.  If it has behavioral differences, then it's non-conforming to everyone trying to use it.  If it doesn't have behavioral differences, then I don't understand what your concern is.

[2020-07-14 15:35] MattGal commented on #39244
Filed https://github.com/dotnet/arcade/issues/5786 to track updating xunit-reporter to use venv instead of direct python invocation.

[2020-07-14 15:35] juliusfriedman commented on #39232
I don't follow your train of thought.... even if it had behavior differences but it had a big enough switch board to apply them in a way where it didn't effect previously created sockets it would not be a problem....

Lets keep this to what I need to do for the proposal and not try to muddy the waters with comp sci voodoo.

[2020-07-14 15:39] MattGal commented on #39242
Wow I was literally just filing https://github.com/dotnet/arcade/issues/5786 .  This is not the cause of your '1' exit code and the only side effect of this failure is that you won't have XUnit results ingested into the Helix Kusto DB (and thus if you use the APIs to get them, you will only be able to get work item status).  Pass/Fail of your work item, core dump logging, etc should be unaffected.

[2020-07-14 15:52] vcsjones opened #39277 "No upper bound in Rfc2898DeriveBytes"
The implementation of `Rfc2898DerviveBytes` has no upper limit in the number of bytes you can extract from it. This is "easy" to reproduce since the implementation is streaming. Given a SHA1 HMAC, I should not be able to extract more than 85,899,345,900 bytes from the KDF.

The RFC has this to say:

The consequence of this is that the internal `_block` counter can overflow and wrap around back to

[2020-07-14 15:52] ericstj commented on #698
Fixed in https://github.com/dotnet/corefxlab/pull/2942

[2020-07-14 15:52] #698 closed

[2020-07-14 15:54] ericstj commented on #698
You can find the latest package here https://dnceng.visualstudio.com/public/_packaging?_a=package&feed=dotnet-experimental&package=System.Web.Compatibility&protocolType=NuGet&view=versions  (will be available shortly)

[2020-07-14 15:54] stephentoub commented on #39232
I do not understand what you're saying or arguing for or against.

Please:
- update the top post with the signatures of APIs you're proposing, with specific details about what problem each solves and why it's needed, scenarios it'll be used, etc.
- do not include any implementation.
- ensure that members have the visibility you're suggesting, e.g. if something doesn't have a visibility included, t

[2020-07-14 16:08] ericstj opened #39279 "System.Net.Tests.HttpWebRequestTest_Async.Timeout_SetTenMillisecondsOnLoopback_ThrowsWebException fails in CI"
https://dev.azure.com/dnceng/public/_build/results?buildId=728239&view=ms.vss-test-web.build-test-results-tab&runId=22544614&resultId=159662&paneView=debug

net5.0-OSX-Debug-x64-CoreCLR_checked-OSX.1013.Amd64.Open
System.Net.Tests.HttpWebRequestTest_Async.Timeout_SetTenMillisecondsOnLoopback_ThrowsWebException

[code]

[2020-07-14 16:09] eerhardt commented on #3447
Chatting with @vitek-karas, he mentioned that we aren't going to get to stage 5 of single-exe in .NET 5.0, and maybe won't ever get there, since it will require a platform linker.

I'm seeing `.a` files show up in my linux self-contained apps in 5.0, which just bloats the size of these apps without any benefit. Using a latest build, these are about 4MB of junk in both the NuGet runtime pack, and i

[2020-07-14 16:14] vargaz commented on #38337
Testcase:
[code]

This will print '2' under wasm, which means the finally clause is executed twice.

[2020-07-14 16:17] vargaz commented on #38337
It doesn't fail under the desktop interpreter, only on wasm.

[2020-07-14 16:20] eerhardt opened #39281 "Native .so files are considerably larger in 5.0 than they were in 3.1"
### Steps to repro:

1. Using the latest SDK https://github.com/dotnet/installer#installers-and-binaries, create and publish a Hello World app:
    - `dotnet new console`
    - `dotnet publish -r linux-x64 -c Release`
2. Check the sizes of the output .so files. Using `5.0.0-preview.8.20361.2` of the runtime, I see:

Assembly | Size
-- | --
libclrjit.so | 3,323 KB
libcoreclr.so | 11,532 KB
libmscor

[2020-07-14 16:20] dagood commented on #3447
Since repo consolidation and the asset flow being more direct, it might be easy for folks involved with the native builds to fix this. Not sure now CoreRT factors in now. The new sharedfx SDK may play a role if we still can't simply omit these files from the asset flow (@jkoritzinsky).

[2020-07-14 16:23] stephentoub commented on #39279
cc: @ManickaP, @wfurt

[2020-07-14 16:28] EgorBo opened #39285 "[mono] Browser's ICU limitations"
We use a stripped version of ICU data file. The default size is ~30Mb (or ~5mb after compression) - we reduced it down to 1.39Mb (or ~302kb compressed) by removing some features we don't need to can give up on. The main filter file is located here: https://github.com/dotnet/icu/blob/maint/maint-67/icu-filters/optimal.json

Here is a list of known limitations:

- `CultureInfo.EnglishName` returns "

[2020-07-14 16:28] bartonjs commented on #39283
AllowUnknownCertificateAuthority means the validation state ignores an incomplete chain (X509ChainStatusFlags.PartialChain) or a chain that completed with an untrusted root (X509ChainStatusFlags.UntrustedRoot).

We've added a feature for this in .NET 5.

[code]

[2020-07-14 16:30] juliusfriedman commented on #39232
I will get to this shortly. Thank you for the clarification

[2020-07-14 16:32] safern commented on #39274
Cc: @joperezr

[2020-07-14 16:38] GrabYourPitchforks commented on #29976
This plan is now out-of-date and I am closing the issue. Thanks all for the feedback!

[2020-07-14 16:38] #29976 closed

[2020-07-14 16:41] GrabYourPitchforks opened #39287 "Master tracking issue for removing BinaryFormatter usage from dotnet libs"
This issue tracks the tagging and removal of `BinaryFormatter`-related code paths from various _dotnet_ org repos. See https://github.com/dotnet/designs/pull/141 for more information.

## dotnet/runtime

- [x] https://github.com/dotnet/runtime/issues/39289 - usage in `DataSet`
- [x] https://github.com/dotnet/runtime/issues/39290 - usage in `ResourceReader`
- [x] https://github.com/dotnet/runtime/i

[2020-07-14 16:42] marek-safar opened #39288 "Disabled trimming test for windows configuration"
For the Windows configuration, there is an expectation of debug symbols to be available in the output but it looks like there is some misconfiguration about it. I had to disable the test run in #39158 to unblock other work but ideally, this should be addressed and re-enabled. All tests failed with the same error because the project.deps.json is generated with the required System.Private.CoreLib.pd

[2020-07-14 16:47] GrabYourPitchforks opened #39289 "Obsolete SerializationFormat.Binary in DataTable/DataSet and put it behind an appcontext switch"
Ref:

https://github.com/dotnet/runtime/blob/af828ae24cd094b7f0abfe5f208e329049934b37/src/libraries/System.Data.Common/src/System/Data/DataSet.cs#L303-L310

https://github.com/dotnet/runtime/blob/af828ae24cd094b7f0abfe5f208e329049934b37/src/libraries/System.Data.Common/src/System/Data/DataSet.cs#L378-L387

This issue tracks the removal of this code per [the `BinaryFormatter` obsoletion plan](https

[2020-07-14 16:48] layomia commented on #779
@rubo, @loic-sharma this will be addressed with https://github.com/dotnet/runtime/issues/39152.

[2020-07-14 16:49] layomia commented on #39152
From @rubo in https://github.com/dotnet/runtime/issues/779:

[2020-07-14 16:49] layomia commented on #39152
From @loic-sharma in https://github.com/dotnet/runtime/issues/779:

[2020-07-14 16:50] danmosemsft commented on #29976
Linking https://github.com/dotnet/designs/pull/141

[2020-07-14 16:52] GrabYourPitchforks opened #39290 "Remove BinaryFormatter usage from ResourceReader"
Ref:

https://github.com/dotnet/runtime/blob/af828ae24cd094b7f0abfe5f208e329049934b37/src/libraries/System.Private.CoreLib/src/System/Resources/ResourceReader.Core.cs#L67-L85

This issue tracks the removal and replacement of this code per [the `BinaryFormatter` obsoletion plan](https://github.com/dotnet/designs/pull/141).

[2020-07-14 16:55] GrabYourPitchforks opened #39292 "Remove BinaryFormatter usage from System.Resources.Extensions"
Ref:

https://github.com/dotnet/runtime/blob/af828ae24cd094b7f0abfe5f208e329049934b37/src/libraries/System.Resources.Extensions/src/System/Resources/Extensions/DeserializingResourceReader.cs#L37-L48

This issue tracks the removal and replacement of this code per [the `BinaryFormatter` obsoletion plan](https://github.com/dotnet/designs/pull/141).

[2020-07-14 17:03] danmosemsft commented on #39232
Hi @juliusfriedman just to support @stephentoub comment -- in API proposals it's important to start off with with the specific API exactly as proposed, formatted per the template, with clear motivation, and answers to any questions that can be anticipated. That can avoid time consuming and expensive questions back and forth for all of us.

[2020-07-14 17:04] GrabYourPitchforks opened #39293 "Remove BinaryFormatter usage from System.ComponentModel.TypeConverter"
Ref:

https://github.com/dotnet/runtime/blob/af828ae24cd094b7f0abfe5f208e329049934b37/src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/Design/DesigntimeLicenseContextSerializer.cs#L26-L45

This issue tracks the removal and replacement of this code per [the `BinaryFormatter` obsoletion plan](https://github.com/dotnet/designs/pull/141).

[2020-07-14 17:08] danmosemsft commented on #39242
I think @ViktorHofer needs to answer that question.

[2020-07-14 17:12] GrabYourPitchforks opened #39295 "Remove BinaryFormatter usage from SettingsPropertyValue"
Ref:

https://github.com/dotnet/runtime/blob/af828ae24cd094b7f0abfe5f208e329049934b37/src/libraries/System.Configuration.ConfigurationManager/src/System/Configuration/SettingsPropertyValue.cs#L99-L102

https://github.com/dotnet/runtime/blob/af828ae24cd094b7f0abfe5f208e329049934b37/src/libraries/System.Configuration.ConfigurationManager/src/System/Configuration/SettingsPropertyValue.cs#L196-L199

h

[2020-07-14 17:13] rbhanda opened #39296 "Microsoft Security Advisory CVE-2020-1147 | .NET Core Remote Code Execution Vulnerability"
# Microsoft Security Advisory CVE-2020-1147 | .NET Core Remote Code Execution Vulnerability

## <a name="executive-summary"></a>Executive summary

Microsoft is releasing this security advisory to provide information about a vulnerability in .NET Core. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.

Microsoft is aware of a r

[2020-07-14 17:16] ericwj opened #39297 "Path.Join may return an invalid path given (perhaps) invalid input"
### Description

Is this proper?
[code]
[code]

### Configuration

Same on `netcoreapp3.1` as on `net5.0`

[code]

### Regression?

Don't think so.

### Opinion

It might do the 'reverse' of `GetRelativePath(@"C:\", @"D:\")` which returns `D:\` and return `D:\` - as I expected writing that test.

[2020-07-14 17:16] onyxmaster commented on #39296
These versions look suspect to me since 3.1.5 runtime 3.1.301 SDK is "current".

[2020-07-14 17:16] BruceForstall commented on #39259
@danmosemsft What is the correct area for this?

[2020-07-14 17:17] tarekgh commented on #39292
CC @ericstj

[2020-07-14 17:18] joperezr commented on #39288
I'm taking a look at this now...

[2020-07-14 17:20] BruceForstall commented on #29683
@bartonjs Given this failure is occurring now, should it still be in milestone "Future"?

[2020-07-14 17:21] tarekgh commented on #39179
Sounds good. I'll track fixing this soon then.

[2020-07-14 17:24] juliusfriedman commented on #39232
I am sorry I did not have the ability to mark this item with ready for review or intend for it to be reviewed yet, it is not yet ready.

I was making it based on the linked discussion and was trying to get it into a proper proposal state to which I evolved form TCP to Socket in general to best support the features being proposed.

I will ping you guys again when this is ready as it's marked future

[2020-07-14 17:34] terrajobst commented on #30255
[code]

[2020-07-14 17:40] ericwj opened #39300 "Question: Is .NET behavior proper in the presence of the `\\?\` prefix? What does "\\?\." exactly mean?"
### Description

I know `\\?\` means 'do not parse', but might I halfway misuse this repo for a Win32 question about this syntax and the behavior of .NET path API's with them?

Is it even valid to use `\\?\.` unless there is something to talk to that is called exactly that? Like a device or file/directory that has such a weird name? Or should it in fact refer to the current directory and direct AP

[2020-07-14 17:40] AaronRobinsonMSFT commented on #5051
@ivanpovazan I would agree that taking inspiration from the `csc` options is appropriate here.

[code]

Since the `debug` flag appears to have a predefined set of options for `ilasm` and I personally wouldn't want to deal with the matrix of multiple argument, I propose slightly modifying your suggestion to align with existing `ilasm` syntax and acknowledge `csc` convention.

`-debugfmt={full|porta

[2020-07-14 17:43] cijothomas commented on #39179
Agree.

[2020-07-14 17:47] terrajobst commented on #39152
* Makes perfect sense.

[code]

[2020-07-14 17:49] echesakovMSFT commented on #39243
@Gnbrkm41 Yes, during the last API review [Video](https://www.youtube.com/watch?v=rx_098IdZU0&t=1h3m48s)

[2020-07-14 17:55] bartonjs commented on #29683
@BruceForstall There's nothing we can do about it, it's a problem in the OS (possibly resource exhaustion?).

[2020-07-14 17:56] BruceForstall opened #39308 "Assertion failed 'stmt->GetTreeList()'"
`COMPlus_JitStress=2`, all platform

https://dev.azure.com/dnceng/public/_build/results?buildId=728106&view=ms.vss-test-web.build-test-results-tab&runId=22543846&resultId=101328&paneView=debug

[code]

@dotnet/jit-contrib

[2020-07-14 17:59] AndyAyersMS commented on #39308
Would guess this is from #39111, that added a new phase just upstream of "determine first cold block."

[2020-07-14 18:03] danmosemsft commented on #39259
Per https://github.com/dotnet/runtime/blob/master/docs/area-owners.md System.Windows.Extensions is area-Microsoft.Win32

[2020-07-14 18:05] danmosemsft commented on #39232
@juliusfriedman I see -- the way we work is, as soon as an issue is opened we begin looking at it. We don't have a concept of draft issues -- that is why we encourage folks to make them fully formed ideas with backing data so that we can give issues the attention they deserve. I'll close this for now, and you can reopen when you're ready. Feel free to edit the top post as needed.

[2020-07-14 18:08] danmosemsft commented on #39292
Per the plan, this could maybe have the 6.0 milestone?

[2020-07-14 18:09] DrewScoggins commented on #39120
Yes, given that we got that to a point we understand I can close both of these issues.

[2020-07-14 18:09] #39120 closed

[2020-07-14 18:12] BruceForstall opened #39309 "Test failure: System.Net.Tests.HttpListenerResponseHeadersTests.KeepAlive_SetDisposed_ThrowsObjectDisposedException"
With:
[code]

This test hangs. Fails on Windows x86, x64 and arm64 (at least).

https://dev.azure.com/dnceng/public/_build/results?buildId=728248&view=ms.vss-test-web.build-test-results-tab&runId=22547532&resultId=178566&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

This is release libraries, checked coreclr.

category:correctness
theme:testing
skill-level:expert
co

[2020-07-14 18:13] danmosemsft commented on #39259
Relevant code is very simple
[code]
cc @dotnet/ncl are we doing this right here?

[2020-07-14 18:18] BruceForstall commented on #39308
This also shows up in a number of libraries Windows x86 tailcallstress jobs:

https://dev.azure.com/dnceng/public/_build/results?buildId=728248&view=ms.vss-test-web.build-test-results-tab&runId=22547330&resultId=175084&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

[2020-07-14 18:21] wfurt opened #39310 "GetAsync_CancelPendingRequests_DoesntCancelReadAsyncOnResponseStream start failing in CI"
This looks like recent regression. ~ 10 failures 7/14 - official builds as well as unrelated PRs

https://helix.dot.net/api/2019-06-17/jobs/e8072506-027f-4644-8142-63789cf82ad6/workitems/System.Net.Http.Functional.Tests/console

[code]

we have seen some of this in the past but not it start failing a lot. Perhaps related to recent HTTP changes.
cc: @geoffkizer

[2020-07-14 18:22] bgrainger commented on #39154
@danmosemsft Can I be subscribed to `area-System.Data` issues?

[2020-07-14 18:23] SamMonoRT commented on #37489
@imhameed - this needs enabling the associated test.

[2020-07-14 18:24] erozenfeld commented on #39308
I'll investigate.

[2020-07-14 18:26] steveharter commented on #39081
There is still an issue: https://github.com/dotnet/runtime/pull/38959#discussion_r454553639

[2020-07-14 18:26] geoffkizer commented on #39310
I'll take a look.

[2020-07-14 18:30] davmason commented on #39160
Hi @OmerRaviv

ReJIT has worked with NGEN images since roughly .Net Framework 4.5. The original blog post by David Broman was written for the 4.0 release when it was not supported. It is also supported for R2R images on all versions of .Net Core.

The inlining issue you mentioned is that NGEN is free to inline methods, so you potentially have methods inlined and won't get a JITInlining callback fo

[2020-07-14 18:37] vargaz commented on #38337
This happens because of differences in EH implementation on wasm. wasm hits this codepath:

#if defined (MONO_CROSS_COMPILE) || defined (HOST_WASM)
#define INTERP_PUSH_LMF_WITH_CTX_BODY(ext, exit_label) \
	(ext).kind = MONO_LMFEXT_INTERP_EXIT;

So after this call in interp_runtime_invoke ():

	interp_exec_method (&frame, context, NULL);

This codepath is hit only on wasm:
	if (context->has_resume_

[2020-07-14 18:39] akoeplinger opened #39311 "System.SpanTests.SpanTests.BinaryPrimitives_StaticWithSpanArgument fails with a runtime assertion on WASM"
In System.Memory.Tests:

[code]

[2020-07-14 18:40] wfurt commented on #39259
I don't know if it is related but this looks like synchronous API and there was recent change to use new sync implementation instead of using sync over async inside HTTP. The socket error also looks suspicious.
cc: @ManickaP

[2020-07-14 18:41] geoffkizer commented on #39310
Yeah, this seems to be caused by my change. When we are aborted, we are now throwing the abort exception synchronously in PerformWriteAsync rather than asynchronously. So although we try to eat the exception here in ExtendWindow, it's not actually eating it because it's synchronous.

[2020-07-14 18:42] dje-dev commented on #29976
I have used .NET professionally for more than 15 years and my company has built a multi-million-line codebase which supports our business operations. Binary serialization is a key tool we leverage extensively internally. There is no security concern because (among other reasons) all the development is internal within a small team. The ability to serialize arbitrarily complex graphs with high perfo

[2020-07-14 18:50] DrewScoggins commented on #39027
So if you click into the link that goes to the historical results you can look at the seven build moving average of the master branch. In that you can see that the master branch was in line with the results of 3.1 until around late February, when we saw the regression updward.
![image](https://user-images.githubusercontent.com/9439069/87464587-36b23080-c5c8-11ea-9424-7093a524d628.png)

[2020-07-14 19:03] DougSchmidt-AI opened #39352 "Case-insensitive dictionaries do not work in Blazor WASM"
### Describe the bug
Neither `StringComparer.InvariantCultureIgnoreCase` nor `StringComparer.CurrentCultureIgnoreCase` perform case-insensitive lookups in dictionaries as expected in Blazor.WASM. Only `StringComparer.OrdinalIgnoreCase` works as expected.

Case-mismatched strings throw a `KeyNotFoundException` when they should work fine as keys.

### To reproduce

The example code works in .NET Fra

[2020-07-14 19:14] dleeapho commented on #3808
Moving back to 5.0 because of customer feedback on urgency. /cc @preethikurup @nakarnam @StephenBonikowsky

[2020-07-14 19:14] ericstj commented on #38185
You should be able to service it in 2.1.  Normally we don't touch reference assemblies in servicing, but since this is a case of a compatible change that the implementation already supports I think it is OK.  2.1 ships the reference assemblies with every servicing event via the Microsoft.NETCore.App package, so I think the change here is to simply make the fix to the reference assembly source.  Of

[2020-07-14 19:18] juliusfriedman commented on #39145
Btw, we experienced a crash today from the profiler running under the debugger with a release application... it crashed the whole app. Talk about double dipping and double danger.

[2020-07-14 19:26] ericstj commented on #39292
Actually it's not clear to me from this doc why this code is removed or replaced.   Why wouldn't we just let this be controlled by "disable `BinaryFormatter`" feature switch?

[2020-07-14 19:31] BruceForstall commented on #39309
This is just the tip of the iceberg. There are many other hangs and failures in this assembly if you get past this one (e.g., by disabling just this one test).

[2020-07-14 19:42] danmosemsft commented on #29976
@dje-dev the design linked above might be a place to share input.

[2020-07-14 19:52] juliusfriedman commented on #39232
I am sorry @danmosemsft. I did not mean to violate any process I just wanted to get the ball rolling so to type.

I will edit this this week, and weekend and cc you when it's better looking.

Sorry to anyone else whom I also might have offended.

[2020-07-14 20:05] iozcelik commented on #39268
I add some screenshoot. And try to what I expect. First of all, I expect ConnectAsync must return true but it return false. Why?
From [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket.connectasync?view=netcore-3.1):

Secondly, _connectEventArg.SocketError give InvalidArgument error. Which given argument is invalid? I have only one endpoint argument.

![image](ht

[2020-07-14 20:09] wfurt commented on #39279
This seems same failure as #39259
[code]

[2020-07-14 20:13] Ozzard commented on #29976
@danmosemsft - given that the team appears to have ignored all other input in this area that demonstrates that people are using this functionality in real products, is there any chance of @dje-dev being listened to or are they wasting their effort?

[2020-07-14 20:18] rainersigwald commented on #39078
We already grovel through the references of the currently-being-built project to find _whether_ it references `System.Resources.Extensions`; it wouldn't be hard to extract and use that version. But we'd need an API change to support passing that in, right?

Always suggesting a binding redirect via package logic makes sense to me and is pretty low-cost.

[2020-07-14 20:22] #33532 closed

[2020-07-14 20:26] kunalspathak commented on #35613
It turns out that we shouldn't do this optimization for 4-byte registers. Consider for below example, the 2nd instruction zero-extends the upper bits of `x0` by doing `ldr`. If 2nd instruction is eliminated, that won't be true and hence would cause functional bug.

[code]

With that, I re-calculated the patterns in framework libraries and looks like there are 1442 patterns in 830 methods.

Details

[2020-07-14 20:29] joperezr commented on #39274
Although we do plan to enable a few extra platforms, with the trimming tests we are manually changing the way we invoke the linker in order to force aggressive trimming so we do have coverage for now. That said, I do want to restate that we do plan to add at least wasm platform as well

[2020-07-14 20:35] ManickaP commented on #39279
Yep, the same problem, different tests. I'll look into it.

[2020-07-14 20:37] #37307 closed

[2020-07-14 20:37] ManickaP commented on #39259
This is the same underlying issue as in https://github.com/dotnet/runtime/issues/39279
Since it's obviously a different test, should we keep both issues open?
If not, I'd close this one as a dupe, the original one is closer to the stack where it's happening.

[2020-07-14 20:39] safern commented on #39274
@joperezr could you add the right milestone on when you're going to be adding these? At least browser seems important for 5.0.0

[2020-07-14 20:44] danmosemsft commented on #39232
You haven't offended anyone and are welcome here 😺

[2020-07-14 20:48] wfurt commented on #39268
This should be fixed by https://github.com/dotnet/runtime/pull/33674.
Use 5.0 preview if you can @iozcelik
(You did not specify but I assume you are on Windows, right?)

[2020-07-14 20:51] danmosemsft commented on #29976
@Ozzard I think it is very likely that we will implement the linked proposal in some form, because of the long and continuing history of highly impactful security issues generated by BinaryFormatter use - even though we appreciate there are contexts where all data is trusted. [This one](https://github.com/dotnet/runtime/issues/39296) is only the most recent.

Feedback on the process, timeframe and

[2020-07-14 20:53] danmosemsft commented on #29976
It's also worth noting that the proposal relates to .NET Core 5+ (really, 6+). .NET Framework applications are not affected and .NET Framework will be supported a very long time.

https://github.com/dotnet/designs/pull/141/files#diff-9324781e4d7a839a358bc384f65a8327R7

[2020-07-14 20:58] ericstj commented on #39078
Given RAR will never see the version that is burned into resources, even if we did have GenerateResource write a higher version we'd still miss cases like the following.

App uses S.R.E 5.0.0.0
Lib uses S.R.E 4.0.0.0 (no reference to S.R.E types except in resource stream).

To handle this I think bindingRedirect is actually a better solution than GenerateResource.  Let's fix this in 5.0 by adding

[2020-07-14 21:01] iozcelik commented on #39268
Yes, working on Windows. I cant use .net 5 but thanks.

[2020-07-14 21:11] diegogarber commented on #30820
@Jozkee can we PLEASE get the Ignore???
A simple scenario:
Let's say that you have your application that's using newtonsoft.json (as most people do) and you swap to system.text.json. What happens? well, you get loop errors. You swap it to preserve and now your front end does NOT WORK!!!!!

If you supported the Ignore, we can have the same output and keep the front end without having to modify it a

[2020-07-14 21:13] ShawnSteele commented on #39161
Workaround would be to open it in VS Code then and save as Unicode.

There's a general problem with character encodings in computing in that all OS's/Frameworks/Applications don't necessarily use the same mappings for the data.  Changing behavior, particularly in frameworks consumed by multiple applications, can disrupt data that had been saved in those formats previously.

The general recommendat

[2020-07-14 21:14] EamonHetherton commented on #39078
Can someone elaborate on the correct way to do this binding redirect workaround?

I've tried this in my reproduction project as attached in the top of this post but no joy.

`<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Resources.Extensions" publicK

[2020-07-14 21:14] erozenfeld commented on #13727
@EgorBo I looked at your examples in https://github.com/dotnet/runtime/issues/13727#issue-557982354
The jit currently can't track dead assignments to the heap. Adding a general optimization to handle them would be expensive in terms of jit throughput since it will require heap alias analysis. We could handle these trivial examples (when there are no trees between the stores) as peaphole optimizati

[2020-07-14 21:16] erozenfeld commented on #13727
The example in https://github.com/dotnet/runtime/issues/13727#issuecomment-613607317 is different since these are redundant null checks. We should be able to handle it.

[2020-07-14 21:17] tarekgh commented on #39161
Also, we support extending the encoding by using [EncodingProvider](https://docs.microsoft.com/en-us/dotnet/api/system.text.encodingprovider?view=netcore-3.1) and you can provide your own mapping with the desired behavior.

[2020-07-14 21:19] wfurt commented on #39268
You should be able to use `socket.ConnectAsync(endpoint);`

[2020-07-14 21:19] #39268 closed

[2020-07-14 21:46] joperezr commented on #39274
yup, wasm will be done before 5.0 definitely.

[2020-07-14 21:50] stephentoub commented on #39230
Correct.  An async operation that consumes two other async operations is still its own async operation; if the goal is to have that be an IValueTaskSource implementation, you would need to craft an implementation of IValueTaskSource which provides the relevant implementation.  That's what DOTNET_SYSTEM_THREADING_POOLASYNCVALUETASKS does.

[2020-07-14 22:11] danmosemsft commented on #39259
Duplicate of #39279.

[2020-07-14 22:11] #39259 closed

[2020-07-14 22:43] timmydo opened #39327 "Span-based (non-stream) compression APIs"
## Background and Motivation

Currently to compress/decompress in .NET, you typically would use GZipStream or DeflateStream. However, there are a lot of times where you have an array of bytes and you want to get your output in an array of bytes. It would be simpler/faster to not have to have a bunch of stream redirection to the underlying byte array.

The request is that we add some methods that o

[2020-07-14 22:44] kumbham opened #39328 "Unable to Strong sign an individual project"
### Description

Steps to reproduce:
`./build.sh --projects ~/corefx/src/Microsoft.CSharp/pkg/Microsoft.CSharp.pkgproj --sign`

output:
[code]

### Environment
`Ubuntu 18.04`

What's the recommended way to strong name sign the individual DLL's?

[2020-07-14 22:57] OmerRaviv commented on #39160
Thanks so much, @davmason ! That is extremely helpful.

[2020-07-14 23:00] MaximGurschi commented on #39230
@stephentoub Thank you. I want to give you some details so you know of another use case where this makes a difference.

I have an application that sends Kafka messages and wait for another kafka message before finishing the call.

The flow of the method is:
1.Await a task from a TaskCompletionSource. The task of the TCS might handle the continuations of many concurrent calls
2.Send a Kafka message

[2020-07-14 23:00] #39230 closed

[2020-07-14 23:05] Anipik opened #39332 "OSX leg is not being running in the core-setup servicing for 2.1"
The OSX leg has not been running for quite some time in  2.1
This is due to the OSX image not being present
eg https://github.com/dotnet/core-setup/pull/9044

cc @ericstj @dagood @dleeapho

[2020-07-14 23:13] dagood commented on #39332
Core-Setup 2.1 => @mmitche may have some input.

Core-Setup 3.1 => I'm confused, it looks like it ran fine in https://github.com/dotnet/core-setup/pull/9043?

/cc @NikolaMilosavljevic

[2020-07-14 23:21] WilliamXieMSFT opened #39333 "ICorDebugGCReferenceEnum does not enumerate CorGCReferenceType::CorReferenceFinalizer"
### Description

The finalizer queue segment enumeration appears to be not implemented. See here: https://github.com/dotnet/runtime/blob/master/src/coreclr/src/debug/daccess/dacdbiimpl.cpp#L7352-L7356, mFQStart/mFQEnd is set to null and never updated.

### Configuration

This potentially affects all .NET Framework & Core (all versions). I tested using .NET 4.8.4180.0 on Windows 19041.329. This wou

[2020-07-14 23:23] Anipik commented on #39332
correcting its just for 2.1

[2020-07-14 23:24] mmitche commented on #39332
The machine name is no longer available. 3.1 uses the following:

https://github.com/dotnet/core-setup/blob/release/3.1/eng/jobs/osx-build.yml#L7-L10

[2020-07-14 23:25] Anipik commented on #39332
should we make efforts to fix this ?

[2020-07-14 23:27] WilliamXieMSFT commented on #39333
area-Diagnostics-coreclr @tommcdon

[2020-07-14 23:29] mmitche commented on #39332
https://github.com/dotnet/core-setup/pull/9046

[2020-07-14 23:45] #39184 closed

[2020-07-15 00:19] davmason commented on #35563
https://github.com/dotnet/docs/pull/19480 to update the docs

[2020-07-15 00:32] AndyAyersMS commented on #34279
I would guess it is x86 specific. x86 uses a different gc encoding and may rely more heavily on the pinvoke signature to make sense of the stack.

I can get you a version of the jit that will (optionally) fail with "invalid program" errors instead of asserts or silent casts, if you want to look for this sort of IL in your apps by running tests.

[2020-07-15 00:33] #38945 closed

[2020-07-15 00:37] AndyAyersMS commented on #39023
Analysis of various dumps provided by @dellamonica shows potentially corrupted GC info, but if so, it's not clear how it got corrupted. Failures were always in the same method at the same offset, so it doesn't look like random corruption. I can repro the exact jit codegen in a mocked-up version of the method, and get normal-looking GC info.

We are ready to do some more diagnosis to try and pin do

[2020-07-15 00:41] DrewScoggins commented on #39121
I am taking a look at why we are seeing this behavior on Ubuntu. The odd thing is that the numbers that you are finding and the baseline values seem to be in agreement. This is the same as when I run on a repro machine that is identical to our lab hardware. Also looking at the changes that went into the infra over that time regression pop in May, I see nothing of interest. I am going to take a loo

[2020-07-15 00:54] avanigupta opened #39337 "System.Net.Mime ContentType(string) constructor throws IndexOutOfRangeException"
### Description

While initializing a new instance of the System.Net.Mime.ContentType class using a string, I got IndexOutOfRangeException instead of FormatException.

[code]

According to the documentation, we should only get these 3 exceptions:
https://docs.microsoft.com/en-us/dotnet/api/system.net.mime.contenttype.-ctor?view=netcore-3.1#System_Net_Mime_ContentType__ctor_System_String_

### Othe

[2020-07-15 01:04] juliusfriedman commented on #39232
@danmosemsft  I am still working on the UDP options but is this okay?

[2020-07-15 01:07] wfurt commented on #39337
we should probably fix it and throw ArgumentException or FormatException.

[2020-07-15 01:27] xiangzhai commented on #39256
:mips-interest

[2020-07-15 01:30] BruceForstall opened #39338 "Test failure: System.Numerics.Tests.ExtractBytesMembersTests.ToByteArray_FromStringTests_Advanced"
release libraries, checked coreclr, Linux/arm32.

[code]

[code]

I was trying to reproduce a crash in this test for JitStress=2 JitStressRegs=3, but ended up seeing this failure instead. Passes without JitStress=2.

https://dev.azure.com/dnceng/public/_build/results?buildId=728164&view=ms.vss-test-web.build-test-results-tab&runId=22542524&resultId=121344&paneView=dotnet-dnceng.dnceng-build-releas

[2020-07-15 01:32] safern commented on #34030
This also fails on Browser.

[2020-07-15 01:40] wfurt commented on #39014
`proxy.Credentials = System.Net.CredentialCache.DefaultNetworkCredentials;` ?
From the example it is not clear to me how do you populate the CredentialCache and how you do you manage the proxy duality. Also I just noticed that you assign `DefaultProxy.Credentials` but the you replace DefaultProxy with different object effectively wiping out the line above.
Why don't you post complete runable minim

[2020-07-15 01:47] Roe92 opened #39339 "EventListener.DisableEvents does not work"
When changing the log level in json file while the app is running, the scenario where the event level is changed from Warning to Verbose works but vice versa it doesn't. The listener still listens on Verbose events.

Below code is used to read the log level from appsettings.json file and set the respective event level on the listener.
[code]

While debugging, It shows the new value i.e "Warning" i

[2020-07-15 02:18] danmosemsft commented on #39337
@avanigupta thanks for reporting this. Do you want to offer a PR?

[2020-07-15 02:24] josalem commented on #39339
CC @dotnet/dotnet-diag @sywhang

[2020-07-15 02:26] josalem commented on #39333
CC @dotnet/dotnet-diag @mikem8361

[2020-07-15 02:44] tonyqus commented on #36547
The issue has been open for 5 years. Nothing changed. It's a very common request to clear all cache items in the memory.

[2020-07-15 03:01] jaredpar commented on #29741
@jkotalik the easiest way right now is to use the runfo global too. With that you can grab test history like this

[code]

This command looks for failures with the name `ReadAsyncCancellationDeadlock` over the last 100 builds of runtime (`-c 100`) and includes pull requests in the results (`-pr`). There don't seem to be any other failures here (the 503 is just AzDO failing to get test data on a si

[2020-07-15 03:34] Jozkee commented on #1881
These cases (the ones in the description) are reference types, that someone could expect to work as any other reference type, hence we decided to keep the exception to make explicit that they are not supported and avoid misuses.

[2020-07-15 03:37] safern opened #39341 "ExceptionDispatchInfo.SetCurrentStackTrace doesn't include method in stack trace in WASM"
[code]

This would fail in `Assert.Contains` because the `StackTrace` only contains this line:
https://github.com/dotnet/runtime/blob/b032a4d9044bafca6d805b8f1ed244e0400c45de/src/mono/netcore/System.Private.CoreLib/src/System/Exception.Mono.cs#L118

It seems like this line is effectively returning empty:
https://github.com/dotnet/runtime/blob/b032a4d9044bafca6d805b8f1ed244e0400c45de/src/mono/netco

[2020-07-15 03:56] safern opened #39342 "WASM: System.Tests.TimeZoneInfoTests.GetSystemTimeZones test fails in Browser"
The test is currently doing:

[code]

Currently `Browser` for `TimeZoneInfo.GetSystemTimeZones` returns:
[code]

cc: @lewing @tqiu8 @steveisok @akoeplinger

[2020-07-15 03:59] juliusfriedman commented on #16676
@tannergooding,

https://github.com/juliusfriedman/net7mma_core/blob/2b0fb75ad5e7f498a7660ea518d03facd1a8148b/Concepts/Classes/Units.cs

https://www.codeproject.com/Articles/578116/Complete-Managed-Media-Aggregation-Part-III-Quantu

I think it also can serve as a `Unit` type once you have the `IdealUnit` and `IndirectionUnit`

[2020-07-15 04:02] ericstj commented on #39078
Here's what worked for me.

[code]

Double check your setting is making into the final config and that is what is being used (previously shared log message with fusion log will show this).

[2020-07-15 04:08] danmosemsft commented on #39232
There sounds be an option to reopen I thought, if you're the opener (?)..anyway, done.

I will let an expert give feedback.

BTW there is no need to @-mention people generally unless you need their specific attention. When issues get an area- tag the owners of that area will look at it. When you comment on an issue you are automatically subscribed to it so subsequent comments will by default notif

[2020-07-15 04:15] juliusfriedman commented on #39232
Sorry, I was @-mentioning you because I would not have been able to open it...

I @-mention jokats because I felt like he would be able to say yes or no the issue is in good standing.

I will refrain from using @- anyone form this point.

Sorry.

[2020-07-15 04:18] layomia commented on #33598
Moving to System.Memory since it is a general purpose ask related to buffers/IBufferWriter.

[2020-07-15 04:22] EamonHetherton commented on #39078
👍
I'd added it to the app.config file for the library, all good once I add it to the executable's app.config

[2020-07-15 04:25] #31355 closed

[2020-07-15 04:28] davidfowl commented on #33598
I 100% agree. We were overly cautious with ArrayBufferWriter but we avoid using it internally because we want to be efficient. I think it should be possible to use the ArrayBufferWriter with pooled buffers.

[2020-07-15 04:35] mjsabby commented on #34279
@AndyAyersMS I see you've made a change that ignores this assert. I suppose if I use that as a baseline build for my testing I can assume that it is not the problem. And you've also said it doesn't seem likely on x64.

[2020-07-15 04:50] martinm1000 commented on #39283
@bartonjs Thank you, this explain what I've seen. I think it would be a good idea to specify this somewhere in the documentation; I find it kind of dangerous that X509ChainStatusFlags.PartialChain would be allowed.

If I only tested with 'authority' and not with the 'other ca' I wouldn't have known that the chain could validate with basically anything !

Perfect. I'll use BouncyCastle in the mean

[2020-07-15 04:59] #36840 closed

[2020-07-15 05:00] safern opened #39343 "WASM: System.Tests.ArgIteratorTests.ArgIterator_GetRemainingCount_GetNextArg test fails on Browser"
[code]

[code]

It seems like either `args.GetNextArg` returns the wrong value for a double. If I change `0.42` to `100`, then it works fine. `TypedReference.ToObject()` for `0.42`, returns: `-1.0295113031207667E-86`

cc: @steveisok @lewing @akoeplinger @marek-safar

[2020-07-15 05:06] #38419 closed

[2020-07-15 05:41] wfurt commented on #37933
all API surface is available now.

[2020-07-15 05:41] #37933 closed

[2020-07-15 05:44] wfurt commented on #31097
should be fixed by #38760.

[2020-07-15 05:44] #31097 closed

[2020-07-15 05:45] rizi opened #42341 "LoggerExtensions.MessageFormatter takes an exception as argument but ignores it. - TraceSourceProvider should take exception into account, even if the formatter is not null."
### Describe the bug
We are using Asp.net Core (3.1) and the "TraceSourceProvider" (`logging.AddTraceSource(sourceSwitchName)`, which in turn uses the `Microsoft.Extensions.Logging.TraceSource.TraceSourceLogger` --> the TraceSourceLogger relies on the given MessageFormatter and does nothing withe the given exception.
Because `Func<TState, Exception, string> formatter` of the `ILogger` interface is

[2020-07-15 06:01] avanigupta commented on #39337
@danmosemsft , sure. I can create a PR for this.

[2020-07-15 06:23] vargaz commented on #38337
This will probably fail with a PNSE now.

[2020-07-15 06:35] xiangzhai commented on #1971
:mips-interest

[2020-07-15 07:07] v-haren opened #39347 "Test failure: System.Net.Security.Tests.ServerAsyncAuthenticateTest.ServerAsyncAuthenticate_SniSetVersion_Success(version: Tls11)"
failed in job: [runtime 20200714.120 ](https://dev.azure.com/dnceng/public/_build/results?buildId=729111&view=ms.vss-test-web.build-test-results-tab&runId=22561902&resultId=138649&paneView=debug)

Error message
[code]

[2020-07-15 07:18] Tornhoof opened #39349 "JIT: Inefficient Register Allocation without local var copy"
**tl;dr:**
The JIT on x64 does not assign a register to a byref variable leading to inefficent machine code in a fairly tight loop, this results in a performance which is twice as slow as a version with a local var copy.

The main difference in the generated asm output is: `` add dword ptr [rax], 8`` instead of ``add r11d, 8``
[Link to SharpLab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDA

[2020-07-15 07:28] tmds commented on #39232
Julius, the API proposal is quite large. Maybe we can focus first on things that are not possible on top of the existing API?

For anything that is related to socket options, can you (instead of suggesting dedicated methods) suggest a `SocketOptionName` name, and provide the corresponding C `optlevel` and `optname` for Windows and Linux?

[2020-07-15 07:43] tmds commented on #39232
There are 3 parts in the API proposal, and I think we can look at them separately:
- additional `SocketOptionName`s
- convenience methods for working with socket options
- additional `NetworkInterface` APIs

[2020-07-15 08:05] tmds commented on #2014
@sdmaclea are you still actively pursuing https://github.com/libunwind/libunwind/pull/187?

@omajid are you ok with using the packed libunwind until the feature is available as part of system libunwind?
We can consider backporting it once the feature is merged upstream.

[2020-07-15 08:31] tmds opened #39351 "Console ManualTest ReadKey_KeyChords fails for Control+Enter keystroke on Linux"
[code]

Test was added in https://github.com/dotnet/runtime/pull/37491.

cc @eiriktsarpalis

[2020-07-15 08:53] akoeplinger commented on #39341
Looks like a variation of https://github.com/dotnet/runtime/issues/39223

[2020-07-15 09:00] Wraith2 commented on #39289
What should the behaviour be if a user attempts to use binary serialization once the code to allow it has been removed? silent no-op or throwing of an exception? If an exception there is already an invalid enum value exception (I think ArgumentException) present which could be thrown or should there be a new one indicating that it has been removed? Should SerializationFormat.Binary be marked as ob

[2020-07-15 09:16] janvorli commented on #34793
It seems we cannot do anything about this issue. It is a problem of other applications that consume all the fixed system wide quota of wired pages, causing us not to be able to lock single memory page in memory. We need that for the FlushProcessBuffers functionality.

[2020-07-15 09:16] #34793 closed

[2020-07-15 09:19] janvorli commented on #33051
@am11 would you be able to check if this issue still occurs? It seems that it should be fixed now.

[2020-07-15 09:21] janvorli commented on #13686
This issue should be fixed now.

[2020-07-15 09:21] #13686 closed

[2020-07-15 09:25] HASSEN-MEDDEB-ATOS commented on #39014
Ok, you are right, i have putted
export http_proxy=http://..................
export http_proxy=http://..................
For my Web Services

and for my CRM : i have putted
[code]
Now i can connect to my CRM but i get error when connect to WEB API : ProxyAuthentificationRequired

however I have putted my proxy which opens the flow to my API in the environment variables

Cordially