[2022-08-12 17:50] Mr0N commented on #73709
In the documentation it says that only errors can be read from the stream, and it is for errors, I suggest adding to the documentation that you can read the log and errors from the stream, since you can read the log and errors from this stream, according to Wikipedia, if indeed from stream can read the log and not the errors, then you don't have the right documentation!

[2022-08-12 17:51] Mr0N commented on #73709
And the name of the method for the stream from which you can read errors and the log is very strange!

[2022-08-12 17:52] tannergooding commented on #73855
So I thought we already had this configured correctly, but generic NRT annotations are always wonky...

I think the definition needs to be either:
[code]
-or-
[code]

but I'm not positive which is correct and am waiting to hear back from some of the Roslyn team members.

@dotnet/fxdc needs to be looped in as would @jeffhandley

[2022-08-12 17:52] hoyosjs commented on #72755
According to kusto, last failure was 2022-08-07T08:53:38.06Z, so nothing since your PR went in.

[2022-08-12 17:53] Mr0N commented on #73709
properties

[2022-08-12 17:55] #73709 closed

[2022-08-12 17:56] #71804 closed

[2022-08-12 17:59] AaronRobinsonMSFT commented on #73850
Thanks @hoyosjs. The fix for this is in-flight https://github.com/dotnet/runtime/pull/73466.

[2022-08-12 18:00] mangod9 commented on #73828
ok, Tomas will investigate a fix next week.

[2022-08-12 18:13] Mr0N commented on #73709
https://en.wiktionary.org/wiki/stderr there is also a thread from wikipedia where it is written that it is only for errors

[2022-08-12 18:15] Mr0N commented on #73709
https://docs.microsoft.com/en-us/cpp/c-runtime-library/stdin-stdout-stderr?view=msvc-170 there are also errors

[2022-08-12 18:16] Mr0N commented on #73709
https://www.howtogeek.com/435903/what-are-stdin-stdout-and-stderr-on-linux/

[2022-08-12 18:18] Mr0N commented on #73709
On the official website of the Windows OS developer, it is written that this thread is only for errors!

[2022-08-12 18:20] jakobbotsch commented on #70636
I hit this issue when trying to track down a single file issue. For the checked singlefilehost we end up in an assert in `ClrFree` due to the allocator mismatch:
[code]

[2022-08-12 18:21] Mr0N commented on #73709
https://linux.die.net/man/3/stderr Linux documentation also says that this thread is only for errors

[2022-08-12 18:22] Mr0N commented on #73709
https://developer.apple.com/documentation/foundation/filehandle/1411001-standarderror IOS

[2022-08-12 18:23] Mr0N commented on #73709
I trust the documentation more than some people from wikipedia

[2022-08-12 18:25] iSazonov commented on #73458
@carlossanlop Thanks for clarify!

From PowerShell experience point view users can always fallback to native utilities if they need specific functionality.
So I don't intend to insist on unnecessarily complicating the code here.

[2022-08-12 18:25] #73458 closed

[2022-08-12 18:27] israellot opened #73860 "RuntimeType.GetGenericTypeDefinition() performance issue"
`RuntimeType.GetGenericTypeDefinition()` is a bit expensive.
As in a Dictionary<type,type> cache lookup is faster.
I would naively expect that the generic definition of a type is stored in a field of the constructed type and GetGenericTypeDefinition to be a simple field access.

[2022-08-12 18:31] Jozkee commented on #70164
The reported methods lack retry logic, that's probably the only thing needed to re-enable them and keep CI green. I also tried locally on macOS 12 and was unable to repro.

[2022-08-12 18:31] #73623 closed

[2022-08-12 18:38] JulieLeeMSFT commented on #67411
@tannergooding wants JIT team to take a look, so assigning this to @kunalspathak.
cc @dotnet/jit-contrib.

[2022-08-12 18:40] bartonjs commented on #73757
The values of WellKnownSidType come from https://docs.microsoft.com/en-us/windows/win32/api/winnt/ne-winnt-well_known_sid_type, so protected users is actually 107.  We're clearly at least one OS update behind on keeping the enums synchronized.

The complexity here is that we don't know what a SID is, we ask Windows to do all the work.  I don't see an easy Win32 API for adding a RID onto a current

[2022-08-12 18:42] #72458 closed

[2022-08-12 18:42] vcsjones commented on #73858
No rush but.. can someone explain a bit what exactly the intention is here? We found a way to use subtlecrypto without `SharedArrayBuffer`?

[2022-08-12 18:44] mrsharm commented on #71771
A similar regression for showed up for the Windows x64 configuration in our August Performance report and has been characterized as "by design":

![image](https://user-images.githubusercontent.com/68247673/184423315-cd44355d-8080-4550-8cd2-15a8efdd4aea.png)

<details>

System.Tests.Perf_UInt64.ParseSpan(value: "18446744073709551615")

| Result | Ratio | Alloc Delta | Operating System      | Bit

[2022-08-12 18:45] #72611 closed

[2022-08-12 18:51] eerhardt commented on #70733
I have created https://github.com/dotnet/docs/issues/30660 to document this breaking change.

I'm going to close this issue since this is now by design behavior.

[2022-08-12 18:51] #70733 closed

[2022-08-12 18:54] SamMonoRT commented on #50568
moving to 8.0.0

[2022-08-12 18:55] mrsharm opened #73861 "System.IO.Tests.Perf_File.Delete has Regressed for the Mono Interpreter Ubuntu 18.04 and WASM"
`System.IO.Tests.Perf_File.Delete` has regressed on Mono Interpreter Ubuntu 18.04 and WASM

[Reporting System](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_x64_ubuntu%2018.04_LLVM%3dfalse_MonoAOT%3dfalse_MonoInterpreter%3dtrue_RunKind%3dmicro_mono%2fSystem.IO.Tests.Perf_File.Delete.html)

![image](https://user-images.githubusercontent.com/68247673/1844249

[2022-08-12 18:56] wfurt opened #73862 "X509Chain sometimes fails to build with store certificates in CI"
See discussion in https://github.com/dotnet/runtime/pull/73574
There seems to be something specific to CI and some tests silently skip on macOS.
I tried to fix it #73574 bu tests fail in CI while passing on various macOS versions locally.
This should be investigated as it block some SslStream & HTTP tests to execute in CI (on macOS)

[2022-08-12 18:56] jkotas commented on #73850
This issue was introduced by https://github.com/dotnet/roslyn/pull/63209 . I do not see the fixes for it in https://github.com/dotnet/runtime/pull/73466 yet.

The problem is that C# disallows taking an address of ref struct that contains ref fields. It is artificial C# limitation that does not exist in IL. It will be pain to workaround it without taking a perf hit. Any chance we can relax the C# r

[2022-08-12 18:58] SamMonoRT commented on #62201
cc @fanyang-mono   -- moving to 8.0.0

[2022-08-12 19:00] AaronRobinsonMSFT commented on #73850
I know I've discussed this issue with @cston offline. I thought this issue was included in that PR. Let me follow-up offline.

[2022-08-12 19:04] mrsharm commented on #72194
This regression was detected by our August Performance report:

![image](https://user-images.githubusercontent.com/68247673/184426297-054091db-05db-4d35-97f8-e6aaa8958714.png)

<details>

System.Buffers.Tests.RentReturnArrayPoolTests<Byte>.ProducerConsumer(RentalSize: 4096, ManipulateArray: False, Async: True, UseSharedPool: True)

| Result | Ratio | Alloc Delta | Operating System      | Bit   | P

[2022-08-12 19:05] naricc commented on #73455
I haven't yet been able to reproduce this locally, so I think it is probably something that only happens infrequently, and apparently only one linux-arm64? I don't think its a blocker for .net7 and am putting it in the .net8 milestone.

[2022-08-12 19:05] tannergooding commented on #73855
The TL;DR: I think the correct is actually:
[code]

=============================

So here is an example of I<T> no recursive  constraint: https://sharplab.io/#v2:EYLgtghglgdgNAFxFANgHwMQwK4pRYFAUwAIiYDiBYAKFoAEBmE2BIgJwDMIBjUgSQA8AFQB8tAN60SMkvQCMANhIEAzgna8EJYSQCyACl0APAJQBuWgF9aDZvQBMJAMLySIEkNfiaUmrLl7JRc3Q1cSMxIAXlEIyxobOiSmOSdnJw8vBwB+Hz8AlIVldOz9AxKI02jYnDx4xNsaQrTGSWlZQuDdPXkRUSNK9oCZAHcAC

[2022-08-12 19:09] carlossanlop commented on #72111
I already took care of item no. 1: https://github.com/dotnet/runtime/pull/72068 and https://github.com/dotnet/runtime/pull/72110/

I will take care of item no. 4 gradually until we snap RC2.

Pending clarifying 2 and 3.

[2022-08-12 19:09] mrsharm opened #73863 "System.Numerics.Tests.Perf_VectorOf<*>.* has Regressed for Mono Interpreter Ubuntu 18.04"
`System.Numerics.Tests.Perf_VectorOf<*>.*` has regressed on Mono Interpreter Ubuntu 18.04

## Mono Interpreter Ubuntu 18.04

[Reporting System](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_x64_ubuntu%2018.04_LLVM%3dfalse_MonoAOT%3dfalse_MonoInterpreter%3dfalse_RunKind%3dmicro_mono%2fSystem.Numerics.Tests.Perf_VectorOf(Int32).SubtractionOperatorBenchmark.h

[2022-08-12 19:11] dakersnar commented on #73863
@tannergooding Considering this regression is only half a nanosecond, should we just disregard this one? That's what I'm leaning towards.

[2022-08-12 19:16] vcsjones opened #73864 "[API Proposal]: RandomDataGenerator"
### Background and motivation

We have primitives of random number generation on `RandomNumberGenerator`. I would propose expanding some of the ways we have help developers create sufficiently random data in other forms, including strings.

While `RandomNumberGenerator` has gotten more ergonomic to use to efficiently create random data, developers may choose to user other APIs that appear to creat

[2022-08-12 19:18] bartonjs commented on #73862
Now that the CertChainPolicy is present, the SslStream tests that aren't testing against expected-trusted public external hosts should just configure CustomRootTrust and bypass stores entirely.

[2022-08-12 19:21] #71496 closed

[2022-08-12 19:22] danmoseley commented on #72297
@jeffschwMSFT not sure how to get this issue itself out of your stats.

[2022-08-12 19:23] danmoseley commented on #57209
Closing this as it has served its purpose. cc @jeffhandley

[2022-08-12 19:23] #57209 closed

[2022-08-12 19:26] danmoseley commented on #70414
Moving to Future as it is no longer failing (now Win11 disabled)

[2022-08-12 19:26] AntonLapounov commented on #73794
Even if we revert the change, the new code path would still be used for Windows x64 with CET and one would still be able to catch `AccessViolationException`s there.  (I have no hardware to verify, but that is what I see from the code.)  I feel that if we could stash the original exception code in `HandleManagedFault` and then check it in `ProcessCLRException`, that would solve the issue.

[2022-08-12 19:27] danmoseley commented on #58829
Disabled test, no evidence of major issue. moving to Future.

[2022-08-12 19:30] danmoseley commented on #52426
Test isn't disabled, and hasn't failed for a while. @dotnet/area-system-diagnostics-eventlog such issue can be closed.

Execute: [Web](https://dataexplorer.azure.com/clusters/https%3a%2f%2fengsrvprod.kusto.windows.net/databases/engineeringdata?query=H4sIAAAAAAAEAI2QQUvDQBCF74X%2bhyGnBEopeI4HEUHB0trcRGSTnSYTk52ws6sE%2fPFmd9Veexp4783H41Uo7gXFD07Wq2%2f46tAiJAHKErIHRUN2cZ7Rdayjc7D8SRrtXo1YLRSJsZ7JwAcZ

[2022-08-12 19:30] #52426 closed

[2022-08-12 19:31] mangod9 commented on #73794
Adding @kouvel who can provide details on hardware

[2022-08-12 19:34] wfurt commented on #73862
We have tests like that but for client certificates we don't have API to pass in the chain
(since #71194 got pushed out to 8)

[2022-08-12 19:35] #64598 closed

[2022-08-12 19:35] danmoseley commented on #49866
@ViktorHofer is this intended for .NET 7? if so the PR isn't quite finished.

[2022-08-12 19:36] jeffschwMSFT commented on #72297
:) there is not a way, it will just be part of our non-product issues.  We have a lot of samples, docs, etc. that we track towards the end of the release that hang around.

[2022-08-12 19:37] fanyang-mono commented on #60792
AdvSimd is only supported when LLVM is enabled. Unfortunately, currently Maui Android doesn't ship with LLVM enabled. We are currently working on resolving issues when enabling LLVM on Android. For example,
https://github.com/dotnet/runtime/issues/73304
https://github.com/dotnet/runtime/issues/68914

[2022-08-12 19:38] ViktorHofer commented on #49866
It would be nice to get it into NET 7 but not a must. If what's left is making sure that the API is only exposed on .NETCoreApp, then I can help with that.

[2022-08-12 19:46] dhhoang commented on #49866
We'd really appreciate it if this can get into NET 7. I can work on amending the PR asap.

[2022-08-12 19:51] danmoseley commented on #70877
No longer happening as it's disabled. I assume it's not urgent, moving to Future.

[2022-08-12 19:53] akoeplinger commented on #73512
This is a duplicate of https://github.com/dotnet/runtime/issues/68321. It was fixed in the 6.0.6 runtime release.

There is however a separate issue that causes the 6.0.400 dotnet SDK to only pull down the 6.0.5 runtime release for Maui workloads.

One workaround is to use the 6.0.303 SDK (you can download it at https://dotnet.microsoft.com/en-us/download/dotnet/6.0) with this global.json in the r

[2022-08-12 19:53] #73512 closed

[2022-08-12 19:53] danmoseley commented on #28230
Past feature complete date. Moving to future.

[2022-08-12 19:55] #73636 closed

[2022-08-12 19:55] #73637 closed

[2022-08-12 19:57] #17296 closed

[2022-08-12 20:17] dakersnar commented on #72194
@AndyAyersMS Thoughts on these regressions? Given this is a PGO update should we assume this is by design and close this issue? Or should we investigate this further.

Specifically, System.Buffers.Tests.RentReturnArrayPoolTests MultipleSerial and SingleParallel and the one Mukund flagged above.

[2022-08-12 20:38] mrsharm opened #73866 ".NET 7.0 Preview 7 Microbenchmarks Performance Study Report"
## Data

This time we have covered following configurations comparing .NET 7.0 Preview 7 vs. .NET 7.0 Preview 5:

* architectures: arm64, x64, x86
* Unix: ubuntu 18.04, ubuntu 20.04, macOS Monterey 12.3, macOS Monterey 12.3.1, macOS Monterey 12.4, macOS Big Sur 11.6.8
* Windows: 10 & 11

<details>

 Operating System      | Bit   | Processor
 --------------------- | ----- | ------------------------

[2022-08-12 20:39] thaystg opened #73867 "[wasm][debugger]Fix behavior about setting breakpoints on hidden lines"
Some tests have a expected behavior that is to pause on some line before the line that the breakpoint was added:
`DebuggerTests.SteppingTests.BreakpointOnHiddenLineShouldStopAtEarliestNextAvailableLineAsync_PauseEarlier`

[2022-08-12 20:41] AntonLapounov commented on #66568
Here is the latest failure I managed to [find](https://runfo.azurewebsites.net/search/tests/?q=started%3A2022-01-01+definition%3A661+name%3ATest16833.sh):

[2022-08-12 20:43] akoeplinger commented on #73464
This is the same issue as mentioned in https://github.com/dotnet/runtime/issues/73512#issuecomment-1213464568

It was fixed in the 6.0.6 runtime release, I verified the issue doesn't happen with this or a later version.

[2022-08-12 20:43] #73464 closed

[2022-08-12 20:53] #71862 closed

[2022-08-12 20:53] BruceForstall commented on #72030
This regression is expected, as per discussion in https://github.com/dotnet/runtime/pull/70271. Follow-up work items have been filed to improve this.

[2022-08-12 20:53] #72030 closed

[2022-08-12 20:57] jeffhandley commented on #70330
Here's our plan on this issue:

1. We are still working to get a fix in place before the RC1 snap
2. If the fix misses the snap but lands soon thereafter, we will consider going through Tactics Ask Mode to port the fix into RC1
3. If the fix misses Ask Mode or is not justified for it, but it's proven to be a regression from .NET 6, we will fix it in RC2
4. If the issue proves not to be a regressio

[2022-08-12 21:08] tannergooding commented on #73855
I've pinged the relevant compiler devs internally. I'll likely a get a response sometime early next week.

I should get a draft PR up that covers what I believe are the correct changes shortly.

[2022-08-12 21:10] jeffhandley commented on #73855
@ZacharyPatten Thanks so much for filing this issue (in time for us to address it in .NET 7)! 🚀

[2022-08-12 21:15] cston commented on #73850
For now, we're reverting https://github.com/dotnet/roslyn/pull/63209 to unblock moving to the latest compiler. See https://github.com/dotnet/roslyn/pull/63367.

[2022-08-12 21:17] VSadov commented on #72149
I am unable to reproduce this locally - either by running the test in a loop or by extracting the test code in a standalone app and running that in a loop on multiple threads while forcing frequent suspensions.

I tried on both Windows and Linux.

[2022-08-12 21:17] ivdiazsa commented on #72308
Just tested and verified the fix in the linked PR works with the latest official SDK build. Closing issue now.

[2022-08-12 21:17] #72308 closed

[2022-08-12 21:24] fanyang-mono commented on #72114
I tried to run `Interop/PInvoke/SetLastError/SetLastErrorTest/SetLastErrorTest.sh` with interpreter locally multiple times, but wasn't able to reproduce this failure.

[2022-08-12 21:29] fanyang-mono commented on #72114
According to https://support.microsoft.com/en-us/topic/you-may-receive-error-code-0x80004005-or-other-error-codes-when-you-try-to-start-a-windows-xp-based-computer-a15f5b2f-642d-24ac-4912-1570a6bcedec. `Error: 0x80004005` seems to be a windows related issue. However, the failures are happening on non-win platforms.

@lambdageek Do you have any thoughts on this?

[2022-08-12 21:33] #73821 closed

[2022-08-12 21:35] mdh1418 commented on #73715
I ran a MacCatalyst test app on dotnet/runtime and it dotnet-trace'd fine.
I was able to repro the problem, and I also get that the `dotnet-trace` process hangs. When I try to build the podcast app itself via `dotnet build -t:Run -f net6.0-maccatalyst -r maccatalyst-x64 Microsoft.NetConf2021.Maui.csproj` it seems to have a problem, so maybe its because of this?
<img width="791" alt="Screen Shot 20

[2022-08-12 21:40] akoeplinger commented on #73715
Even with that alert (which I think just happens because the app can't talk to the API, you'd need to run a separate project for that) shouldn't tracing still work? It's just some code that runs.

[2022-08-12 21:41] akoeplinger commented on #73538
The `Expected: NaN` is extremely suspicious here since that is the `expected` value in this assert which should be `2.3`:
https://github.com/dotnet/runtime/blob/c302b7b9af154d17d154dde4ad37e47bc3792ecf/src/libraries/System.Text.Json/tests/System.Text.Json.Tests/JsonNode/JsonArrayTests.cs#L435

We recently did a major change to the x86 floating point handling in https://github.com/dotnet/runtime/pu

[2022-08-12 21:44] BruceForstall commented on #57918
I have an experiment to run random with JitStress values in the CI and hit this with `COMPlus_JitStress=8b`:

https://dev.azure.com/dnceng/public/_build/results?buildId=1940063&view=ms.vss-test-web.build-test-results-tab&runId=50024108&resultId=108540&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

[2022-08-12 21:47] jeffhandley commented on #72348
I thought we had a separate issue tracking the analyzer itself, but we don't. Leaving a comment here to capture what the analyzer work is separate from the fixer as proposed in the description. From there, we can spawn off issue(s) as needed.

* [ ] [IDE0049](https://docs.microsoft.com/en-gb/dotnet/fundamentals/code-analysis/style-rules/ide0049) should be updated to suggest converting IntPtr to ni

[2022-08-12 21:53] am11 commented on #70636
@jakobbotsch, by any chance, was that sigsegv raised on Alpine LInux? Valgrind on linux-x64 does not complain about this mismatch, it only does so on linux-musl-x64.

Clearly, the issue of our placeholder `operator delete` unconditionally ending up call to `free(3)` in `clrhost_nodependencies.cpp` on Unix for the objects allocated by the real `operator new` / `operator new[]` is unrelated to libc

[2022-08-12 22:01] kunalspathak commented on #67411
I scanned through last few runs and I see this test is passing.

<img width="988" alt="image" src="https://user-images.githubusercontent.com/12488060/184450342-5afd81bd-063a-4c09-b0bf-c75f909435dd.png">

[2022-08-12 22:01] #67411 closed

[2022-08-12 22:06] StephenMolloy commented on #59282
Fixed by #71703

[2022-08-12 22:06] #59282 closed

[2022-08-12 22:17] akoeplinger commented on #73541
I expanded the Kusto query a bit and found the same failure in other PingTest tests on AppleTV:

[code]

The common thing seems to be using "localhost" to ping instead of an IP address. It also seems to happen on only a subset of the machines which suggests an infra issue:

[code]

[2022-08-12 22:19] jonathanpeppers commented on #73715
Yes, I see the "Oppss" on iOS and Android, but `dotnet trace` works fine.

[2022-08-12 22:19] akoeplinger commented on #58939
Moving to 8.0

[2022-08-12 22:30] BruceForstall commented on #73804
What should be the IR behavior for short types in indirections? The incoming IL is:
[code]
So the `ldind.i2` loads an int16 into int32 on the evaluation stack; an implicit cast to `int`.

If we don't recognize the intrinsic, we have:
[code]
and generate a call like:
[code]
The `PUTARG_REG` is `TYP_INT`, but we don't have to generate any code for it.

When we recognize the intrinsic, we have:
[code

[2022-08-12 22:33] buyaa-n opened #73872 "Test failure: WasmTestOnBrowser-subtlecrypto-System.Security.Cryptography.Tests"
WasmTestOnBrowser-subtlecrypto-System.Security.Cryptography.Tests failure found in https://github.com/dotnet/runtime/pull/73748/checks?check_run_id=7812609951

[LOG](https://helix.dot.net/api/2019-06-17/jobs/66ea24e6-d195-4f66-9a72-0e2ebe9b298c/workitems/WasmTestOnBrowser-subtlecrypto-System.Security.Cryptography.Tests/console):
[code]

[2022-08-12 22:35] lambdageek commented on #72114
`monovm_initialize` only returns `0x80004005` when `parse_properties` returns `FALSE`.  Except that `parse_properties` always returns `TRUE`.  This is some issue with the corerun host, not the runtime.

https://github.com/dotnet/runtime/blob/5eb776dc21d89063d66287461313c1e79073b57b/src/mono/mono/mini/monovm.c#L207-L208

[2022-08-12 22:46] jakobbotsch commented on #73804
That cast would just be removed by morph. Using `genActualType` should be the right fix (using non-actual types for a child node is almost never correct).

I've said this a few times, but I really wish `GenTree::TypeGet()` would always return actual types and that we would have specific type getters for the nodes that have support for small typed operations (e.g. `GenTreeIndir::IndirType()`). We t

[2022-08-12 22:53] bartonjs commented on #73864
[code]

A couple things about the name.

* Since one of the parameters is `choices` it feels like the verb might be `Choose`, though it's doing it multiple times, so now it feels like `ChooseMany`, and that's maybe getting weird so maybe that's not the right rabbit hole.
* `Create` is usually the verb we use on "call this instead of a ctor", but in this case we're not returning our containing type

[2022-08-12 23:02] valentiniliescu opened #73873 "dotnet executable should be signed with same identifier across versions on macOS"
### Description

On macOS, dotnet executable is signed with different identifiers for different versions. The identifier should be stable, as recommended in the documentation: [Code Signing Guide](https://developer.apple.com/library/archive/documentation/Security/Conceptual/CodeSigningGuide/Procedures/Procedures.html#//apple_ref/doc/uid/TP40005929-CH4-SW11)
"When you have qualified a new version o

[2022-08-12 23:05] buyaa-n opened #73874 "Test failure in System.Transactions.Tests.OleTxTests.Volatile_and_durable_enlistments"
Test failure in System.Transactions.Tests.OleTxTests, found in https://github.com/dotnet/runtime/pull/73748/checks?check_run_id=7812731906
LOG: https://helix.dot.net/api/2019-06-17/jobs/3d6ddf47-29eb-453d-96aa-7f19f2e55bc6/workitems/System.Transactions.Local.Tests/console
[code]

[2022-08-12 23:07] #7430 closed

[2022-08-12 23:19] noahfalk opened #73875 "Testing GitHub issue creation - disregard this issue"
Runfo Creating Tracking Issue (data being generated)

[2022-08-12 23:21] #73875 closed

[2022-08-12 23:27] akoeplinger commented on #72342
I can reproduce the dynamics issue with the test project. Given we're running out of time in 7.0 I'm moving the milestone to 8.0 but we should investigate this soon so we can backport fixes to 7.0 (and maybe 6.0).

[2022-08-12 23:35] jakobbotsch commented on #70636
The mismatch there was on Ubuntu 18.04. the segfault is somewhat of a red herring – it happens while trying to print an assertion failure. That assertion is the heap tagging check in `ClrFree` failing, which I believe is because of the allocator mismatch.

When I looked at disassembly I saw that we were calling a `basic_string` creation function through GOT while the destructor was an inlined dire

[2022-08-12 23:38] #72405 closed

[2022-08-12 23:47] danmoseley commented on #73874
@roji

[2022-08-12 23:55] wolfkor commented on #72425
I hope you seriously consider fixing this in .NET 6 as well.

[2022-08-12 23:58] stephentoub commented on #73855
I agree... mostly.

The ? at the end of the `IEqualityOperators<TSelf, TOther>?` is important because it says that it's valid to specify TSelf as a nullable reference type; without that, the constraint is saying it can't be nullable.

The one controversial part is:

We _do_ explicitly mark the arguments to `IEqualityComparer<T>. Equals` and `IEquatable<T>. Equals` as nullable (`T? `), but we do so

[2022-08-13 00:04] #73789 closed

[2022-08-13 00:15] AntonLapounov commented on #56950
Closing as a duplicate of #72755.

[2022-08-13 00:15] #56950 closed

[2022-08-13 00:16] AntonLapounov commented on #72755
Very likely a duplicate of #57621.  Please reopen if you hit this again.

[2022-08-13 00:19] AntonLapounov commented on #72755
Reopening, I did not check dates properly.

[2022-08-13 00:24] AndyAyersMS commented on #72194
Have we isolated this to the PGO udpate? If not, we should probably drill in.

[2022-08-13 00:51] jeffhandley commented on #67197
@krwq The relationship between this issue/PR and #73687 was unclear to me. I'm going to go ahead and move this issue to 8.0.0, but here's what I recommend:

1. If #67198 gets merged in before the .NET 7 RC 1 snap on Monday, that will be nice! We can change this issue milestone back to 7.0.0.
2. If not, but it gets merged in next week, we can consider requesting for it to be ported into the RC1 bra

[2022-08-13 00:55] AntonLapounov commented on #73794
Not familiar with this code, but I am wondering if the following modification of `HandleManagedFault` would work (the new steps are marked):
* Create and link a `FaultingExceptionFrame`.
* (**New**) Check whether the `ExceptionCode` corresponds to one of process-corrupted-state exceptions.
* (**New**) If yes, re-raise the exception by calling `RaiseException` with exactly the same exception data —

[2022-08-13 00:57] #64603 closed

[2022-08-13 01:01] MichaelSimons commented on #73850
We assembled a source-build run with patches that revert https://github.com/dotnet/roslyn/pull/63209 and pull in the https://github.com/dotnet/runtime/pull/73466 changes with the very last sdk/roslyn and a new break appeared.  You can see the source-build configuration here - https://github.com/dotnet/installer/pull/14319

[code]

[2022-08-13 01:08] lambdageek opened #73880 "[wasm] warning WASM0001: Could not get pinvoke, or callbacks for method 'EnumUILanguages' because 'Parsing function pointer types in signatures is not supported.'"
Repro:

build wasm (I built commit e94f7ceb73244d9c4bf7a0d38fb59d01e300ef00), run the `System.Runtime` tests:
[code]

result - success, but during compilation we see:
[code]

[2022-08-13 01:08] lambdageek commented on #73880
/cc @maraf @radical

[2022-08-13 01:09] lambdageek commented on #73880
This might be harmless... It's a DllImport from kernel32 which isn't a thing on WASM

[2022-08-13 01:21] am11 commented on #70636
@jkoritzinsky, @AaronRobinsonMSFT, fyi. This is another alloc-dealloc mismatch in singlefilehost where `clrhost_nodependencies.cpp` is compiled in the same binary.

[2022-08-13 01:23] am11 commented on #70636
With today's daily build, valgrind reports:

[code]

[2022-08-13 01:39] danmoseley commented on #45398
Indeed, here
https://github.com/dotnet/runtime/blob/06060cde583c57820bd6578171c352c5e635b000/src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/FileIO/FileSystem.vb#L1722

it is treating these special codes as Win32 codes, which as explained here are in some cases different
https://docs.microsoft.com/en-us/windows/win32/api/shellapi/nf-shellapi-shfileoperationw#return-value

The do

[2022-08-13 01:40] jeffhandley commented on #73858
@vcsjones Unfortunately, no. I've updated the issue title and description to capture what we found we need to do. At a high level, we found the `SharedArrayBuffer` bridge to SubtleCrypto was not yielding the end-to-end experience we had relied on being able to achieve.

[2022-08-13 01:46] vcsjones commented on #73858
@jeffhandley is this specific to AES, or is HMAC / PBKDF2 included as well?

[2022-08-13 01:51] vcsjones commented on #73858
I am curious why AES specifically, when it was my understanding that HMAC and PBKDF were also using the SharedArrayBuffer.

[2022-08-13 01:54] VSadov commented on #73116
I do not see this any more. It could be related to the changes I was testing.

[2022-08-13 02:02] #66577 closed

[2022-08-13 02:34] VSadov commented on #70307
The original code, prior the TLS change also had the same assert and did not switch modes. It is reasonable to expect that a thread that is exiting has left coop mode by the time the tls monitor is destroyed.

In this particular case we see this as a result of `ExitProcess`, which must be PInvoked. I am not sure how we can be in coop mode in a PInvoke.

[2022-08-13 02:38] #42704 closed

[2022-08-13 02:45] VSadov commented on #70307
Basically, nothing is happening to the thread past this point as it is effectively dead and will not run managed code.
I think the assert itself is ignorable, but the state of the thread is suspicious.

I wonder if it was a result of some other corruption, that could be gone and that is why it is not reproducing.

[2022-08-13 02:46] VSadov commented on #70307
If we do not see this happening in CI any more, perhaps we can just close this?

[2022-08-13 03:19] danmoseley commented on #72297
On 5pm PDT on Monday 15th, main will become a .NET 8 branch. Here is where we are at:

![image](https://user-images.githubusercontent.com/6385855/184466487-a600c2da-f8fd-4931-89ad-6cb23907c3bb.png)

[2022-08-13 03:21] danmoseley commented on #73669
should we close then, with #63625 now merged?

[2022-08-13 03:23] danmoseley commented on #73863
Depending on what you're doing, it may look like 20% regression on your time?

[2022-08-13 03:41] cston commented on #73850
Sorry for missing the nativeaot case. I've created https://github.com/dotnet/runtime/pull/73883 which compiles `clr+libs+libs.tests` without errors.

[2022-08-13 03:48] mdh1418 commented on #73715
When running the trace command independently, some more interesting traces are found
[code]

[2022-08-13 04:06] VSadov commented on #67805
All the tasks planned for this workitem are done. I think we can close this now as Complete.

[2022-08-13 04:14] VSadov commented on #72149
Also - I did try disabling AVX and running the repro sample on CoreCLR - nope.

[2022-08-13 04:29] radical commented on #73880
Also, @maraf, this should show the full type also. I'm guessing that this fails to get the parameters, so we can't show that anyway.

[2022-08-13 04:49] pavelsavara commented on #73858
There is new interop with JavaScript based on `[JSImportAttribute]`. It could be used to wrap subtlecrypto's asynchronous API.  Applications with requirements to use certified crypto could find a way how to call it asynchronously.

That integration could be independent Nuget package and doesn't have to be in the runtime code. It could also wrap asymmetric algorithms.

[2022-08-13 04:50] jeffhandley commented on #73858
Thanks for calling that out, @vcsjones. I've edited the description again to be clearer that what remains supported is now only supported via managed implementations, with that scope being limited to algorithms without known side-channel leaks of keys.

[2022-08-13 04:57] jeffhandley commented on #40074
We've concluded that using the `SharedArrayBuffer` approach via a worker is not yielding the end-to-end experience or quality necessary to release this integration. As a result, we've changed the scope of what will be included in .NET 7 to no longer include AES-CBC. Additionally, instead of using SubtleCrypto via the `SharedArrayBuffer` to reach the native implementations of other algorithms, we w

[2022-08-13 04:57] #40074 closed

[2022-08-13 04:57] #64488 closed

[2022-08-13 05:20] VSadov commented on #70826
I have tried the repro with recent build form main branch (https://github.com/dotnet/installer#table) and it was able to run continuously as long as I could wait with either NativeAOT or CoreCLR.  The timings and total memory were slightly different. but that could be just different tunings and GC nondeterminism.

There were quite a bit of improvements in NativeAOT with focus on GC reliability rec

[2022-08-13 06:41] tannergooding commented on #73863
TL;DR: I don't think this change is particularly meaningful and we have a work item to improve these tests to track more accurate work which are less noisy and prone to mismeasurement by BDN. This is a small enough change that it's probably just a single unrelated instruction difference and not worth the time required to investigate, particularly when other SIMD workloads aren't showing meaningful

[2022-08-13 06:53] StephenMolloy commented on #58257
I do not have a PR to point to for this, but this no longer reproduces. Seems it was fixed in 6.0.

[2022-08-13 06:53] #58257 closed

[2022-08-13 07:09] #69019 closed

[2022-08-13 07:13] StephenMolloy commented on #71025
Fixed by #71703

[2022-08-13 07:13] #71025 closed

[2022-08-13 07:17] #66163 closed

[2022-08-13 07:25] #66045 closed

[2022-08-13 07:25] #63585 closed

[2022-08-13 07:27] StephenMolloy commented on #64885
Fixed by #73731

[2022-08-13 07:27] #64885 closed

[2022-08-13 07:28] StephenMolloy commented on #67136
Fixed by #73731

[2022-08-13 07:28] #68659 closed

[2022-08-13 07:34] StephenMolloy commented on #61528
I believe this was fixed with our alignment of DCS & friends with .Net 4.8 in net7.0-rc1 with #71752.

Since this was not a regression from a previous version of .Net Core, it's not a slam dunk that we'll be able to service this issue in 6.0.x. But the fix here is a very small part of #71752 and relatively low risk. So with vocal customer and business justification, we would like to try to bring i

[2022-08-13 07:36] StephenMolloy commented on #41448
Schema capabilities are back in #71752, and this Nullref is no longer an issue.

[2022-08-13 07:36] #41448 closed

[2022-08-13 07:41] StephenMolloy commented on #72243
Implemented in #71752

[2022-08-13 07:41] #72243 closed

[2022-08-13 07:41] StephenMolloy commented on #72242
Implemented in #71752

[2022-08-13 07:41] #72242 closed

[2022-08-13 07:45] roji commented on #73874
Will take a look, thanks.

[2022-08-13 08:02] StephenMolloy commented on #67622
For triage purposes, I can repro this on 4.8, 5.0, 6.0, and 7.0-rc1.

[2022-08-13 08:03] StephenMolloy commented on #53039
Fixed by #73550

[2022-08-13 08:03] #53039 closed

[2022-08-13 08:04] StephenMolloy commented on #2335
Fixed in 7.0-rc1 by #73550

[2022-08-13 08:04] #2335 closed

[2022-08-13 08:56] #61277 closed

[2022-08-13 09:39] LakshanF commented on #73723
Fixed with #73734

[2022-08-13 09:39] #73723 closed

[2022-08-13 09:57] hoyosjs commented on #69125
Seen in https://dev.azure.com/dnceng/public/_build/results?buildId=1941374&view=results

[code]

[2022-08-13 09:57] hoyosjs commented on #73621
Seen in https://dev.azure.com/dnceng/public/_build/results?buildId=1941374&view=results, but that stack is the same as #69125

[2022-08-13 10:01] akoeplinger commented on #73715
that is interesting indeed, stepping through `ep_rt_mono_write_event_exception_thrown` in a debugger should reveal what's going on.

[2022-08-13 10:30] tactical-drone opened #73891 "Performance has doubled since a couple of days ago."
According to my numbers since 7.0.100-rc.1.22412.1 my performance doubled.

Can this be?

I need to know maybe I broke something. The runtime has since forever had a hot (contested from many CPU) locking speed limit of ~`28, 000 FPS`. Now it is ~`54, 000 FPS`. Either I broke something or something spectacular has taken place inside the runtime. I would love to know, or I will have to walk back cha

[2022-08-13 10:57] Wraith2 commented on #73779
The message comes from the sql server as an error message string meaning that the SqlClient driver would have to parse the message to extract it. this would not work with with localized messages.

[2022-08-13 11:03] EgorBo commented on #73891
@tactical-drone what is the latest SDK version you used where you had lower FPS?

[2022-08-13 11:22] tactical-drone commented on #73891
@EgorBo Its on a AMD 3950x

I am not sure, it felt like the change came in over a nuget update from `<add key="dotnet7" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet7/nuget/v3/index.json" />`

It happened like yesterday during development. I am still a little bit confused. Everything was working, then everything broke. So I had to start from basics again, but this time performa

[2022-08-13 12:14] Lukas123798 opened #83118 "Authentication failed when trying to connect to secure websocket with android 8"
### Description

I cant connect to secure websocket(wss), it just writing `Unable to connect to the remote server` and error `Authentication failed`, full log is down there, and to unsecure websocket i can connect easily on any android.
When i used android 11 phone it works fine.
I am using library 'WebSocket4Net' which working perfectly in xamarin with all androids.

### Steps to Reproduce

Conne

[2022-08-13 13:33] stephentoub commented on #73891
When you profile your app, is there a particular method consuming a significant percentage of the time?

[2022-08-13 13:35] tmds opened #73899 "Directory.CreateDirectory with UnixFileMode: behavior for missing parents"
Currently, the mode argument is used to create missing parents too.
I would like to change it to only apply to the leaf directory.

This is consistent with `mkdir` which doesn't use the `-m <mode>` argument for parents (`-p` flag).

It avoids unintentionally creating parent directories with wrong permissions.
For example:
[code]

@eerhardt @adamsitnik @dotnet/area-system-io do you agree? If so, I'

[2022-08-13 14:16] Seabizkit opened #73900 "AssemblyLoadContext issue, needs better documentation or default behavior for AssemblyLoadContext"
Running in to all sorts of issues no matter what i try.. i have tied many many different things.
I updated all LIB to .net 6, to rule out any funnies, getting the same issue.

What is the correct way to use AssemblyLoadContext?
I want main app and the plugin to share lib "Paradox.Component.Facade" and nothing else.
I have followed the MS examples and many many others, this code tester below is bas

[2022-08-13 14:25] danmoseley commented on #73899
@eerhardt

[2022-08-13 15:03] radical opened #73901 "[wasm] Tests failing to build with trimming"
[Rolling build](https://dev.azure.com/dnceng/public/_build/results?buildId=1941593&view=logs&j=06c2b9cd-9a25-5ea1-8363-c1b61a607e70&t=07e56740-dd3a-5379-9df5-8d02f9b6c188):

`IL2121`, and `IL2104`:
[code]

[2022-08-13 15:35] vitek-karas commented on #73900
The most likely cause for the exception is that the class `ExecutingContext` comes from an assembly which is loaded both by the host as well as the plugin (so two copies). The assembly which defines `IParadoxComponent` probably has additional dependencies. All of those must be loaded only by the host, not by the plugins.

This typically means that the plugin project should reference the assembly w

[2022-08-13 15:38] vitek-karas commented on #73900
I think the correct way to look at this is that the main app and plugin must share the `Paradox.Component.Facade` AND everything that assembly depends on. (or more precise they have to share all types which occur in the plugin interface, no matter where they come from).

[2022-08-13 15:44] tactical-drone commented on #73891
@stephentoub No.

I think I know now what happened. 2 things:

1. Performance suddenly doubled
2. My program hung.

After further debugging today I located the problem:

`Awaiting	System.Threading.Tasks.UnwrapPromise<TResult>.Invoke(completingTask)`

The debugger says it is waiting for task 37, which if I click on it is the first line of my closure.

[code]
The rest of my program seems to still wo

[2022-08-13 15:46] #71654 closed

[2022-08-13 15:52] maraf commented on #73880
The usage of the DllImport is guarded by the `OperatingSystem.IsWindows()` condition, anyway the pinvoke generator still see it and tries to generate a trampoline. It was always there, I only made it more visible in the https://github.com/dotnet/runtime/pull/71477.

[2022-08-13 15:55] stephentoub commented on #73891
Nothing has changed here. You will need to provide a concise isolated repro for us to be able to help further.

[2022-08-13 16:00] tactical-drone commented on #73891
Fascinating.

What is even more fascinating is how it broke. I installed the nightly, developed a bit. All was well. Then at the end I was doing the basic house keeping stuff, like bumping nugets. Then while doing regfactoring cleanup in preparation for the commit everything just broke. Stashing my changes did not work. The problem was in the runtime.

[2022-08-13 17:19] tannergooding commented on #73781
While `Guid` and `Int128` are the same size, they are not compatible and conversion between them is not a "normal" operation.

A valid "Guid" definition could be one of many ranging from a single `128-bit value`, to `16x uint8`, to `2x uint64`, to the layout that we currently have .NET (which is modeled after Windows, being `1x uint32, 2x uint16, 8x uint8`).

Given the current layout, a "correct"

[2022-08-13 17:19] #73781 closed

[2022-08-13 17:22] davidfowl commented on #73832
cc @BrennanConroy as an FYI

[2022-08-13 17:41] TonyValenti opened #73904 "ChannelReader documentation error"
See this link:

https://docs.microsoft.com/en-us/dotnet/api/system.threading.channels.channelreader-1.waittoreadasync?view=net-6.0#system-threading-channels-channelreader-1-waittoreadasync(system-threading-cancellationtoken)

The documentation incorrectly stated that the return type is a valuetask tresult that is either true or false. It should be a valuetask bool.

[2022-08-13 17:53] stephentoub commented on #73904
Can you please quote the exact text you briefcase to be incorrect?

[2022-08-13 17:56] stephentoub commented on #73904
Oh, you're referring to it rendering as TResult in the text instead of the more specific bool? Feel free to open an issue on the docs repo.

[2022-08-13 17:58] #73904 closed

[2022-08-13 18:20] davidfowl commented on #72798
I like this idea, ASP.NET actually has a bunch of streams implemented like this (logging, the file buffering read stream you mentioned). The scenario you mentioned where the request body is being uploaded to blob storage and hashed using 2 algorithms is tricky because the TeeReader supports a read and write stream. I'm envisioning what that code would look like with this change:

[code]

There sho

[2022-08-13 18:31] Seabizkit commented on #73900
@vitek-karas I believe that helped a lot!, thanks

you were correct I had another lib shared in the assembly which defines IParadoxComponent.
I have since removed that and things are better but I'm still not quite where I would like to be.
Aka new issue grrrr

Thanks you! if you dnt mind, could you help me understand my next issue.

I removed all other libs from: Paradox.Component.Facade (one whic

[2022-08-13 18:55] stephentoub commented on #72798
Yup

[2022-08-13 19:06] lambdageek commented on #73880
oh, I missed that that's in the test assembly, not in the libraries.

I think we can close this.

[2022-08-13 19:09] vitek-karas commented on #73900
Please don't use AppDomains or even think about them :wink: in .NET (Core). Unlike .NET Framework, there's only ever one AppDomain - and so it effectively acts "global". So for example `AppDomain.CurrentDomain.GetAssemblies` will return all assemblies loaded the app, regardless of load context. So if the same assembly is loaded into the default load context and then also by a plugin into a plugin

[2022-08-13 19:41] #68033 closed

[2022-08-13 19:46] gabriel-kozma commented on #44855
Yeah, my project also uses hybrid AOT and I'm stuck at Xamarin.Android 12.2, whatever broke in 12.3 would be just fine, but not even that

I was looking forward for this feature to start migrating in to MAUI

[2022-08-13 19:53] TheSpydog opened #73906 "[NativeAOT] RhGetCodeTarget fails if executable code cannot be read"
While working on porting NativeAOT to a certain game console, I'm running into a problem where [RhGetCodeTarget](https://github.com/dotnet/runtime/blob/53315683e9be6c87814149bdea05b06a412cbfd2/src/coreclr/nativeaot/Runtime/MiscHelpers.cpp#L209) is causing a memory access violation. This console forces the memory protection of its executable code to exclusive EXEC (no READ) and does not allow you t

[2022-08-13 19:56] wfurt commented on #73295
This was primarily fixed by #73577. I was waiting for #73745 to get more test coverage.
Remaining (test only ) issue is tracked by https://github.com/dotnet/runtime/issues/73862

[2022-08-13 19:56] #73295 closed

[2022-08-13 20:00] lambdageek commented on #72606
Going to roll this into #73697

[2022-08-13 20:21] jkotas commented on #73906
Option 1: Add a pointer to the code target to the unwind data. We do that for more complex instantiating stubs already. Look for "MethodAssociatedData" or "GetTargetOfUnboxingAndInstantiatingStub". The simple unboxing stubs can be on the same plan. This option works only if you are able to produce the unwind data extension.

Option 2: Add a new table (https://github.com/dotnet/runtime/blob/main/sr

[2022-08-13 20:41] VSadov commented on #73906
Yes, we analyze code to detect epilogs on Unix. Since we cannot figure the stack location of the return address, return address hijacking cannot work in epilogs.
Unless the console port uses conservative GC mode, return address hijacking will be another scenario where code is read.

[2022-08-13 20:51] Seabizkit commented on #73900
Thanks!
I'm still not sure what I would replace that section with, let me explain...
.net 6, I need to get a class via reflection, as the system hasn't called it yet, it hasn't been loaded yet.
I need to load it, the assembly where this class is so i can get an instance via reflection.
The class in question here can be loaded* as if it was part of the app aka not a plugin isolation.

I presume App

[2022-08-13 20:54] TIHan commented on #46010
I marked it as future, but if you all want to look at it that is fine with me. If you have any questions, I am happy to answer.

[2022-08-13 21:23] ayakael opened #73908 "CrossGen2 nupkg on `linux-musl-arm64` / `linux-musl-arm` environment links to wrong libc"
### Description

CrossGen2 6.0.8 nupkg links to wrong libc on `linux-musl-arm64` / `linux-musl-arm` environment.

Unfortunately it seems that it wasn't fixed [here](https://github.com/dotnet/runtime/issues/66791), as to this day the error still occurs.

### Reproduction Steps

[code]

### Expected behavior

Should link to `ld-linux-musl-aarch64.so.1`

### Actual behavior

Rather links to `ld-linux

[2022-08-13 21:24] vcsjones commented on #73864
Seems reasonable.

Sometimes I do things intentionally. But yes, in this case I was going for characters, not bytes, of input.

That also seems reasonable.

That is one reason I had for the hex helper. It's something we could have a better implementation for instead of doing it the naive way. For alpha numeric that requires 6 bits per-character, so if we really wanted to we could build a better en

[2022-08-13 21:49] #73804 closed

[2022-08-13 22:08] aromaa commented on #67193
Surprisingly the `Process.Start` doesn't work under reflection free mode. It ends up calling `SerializationGuard` which then uses reflection [here](https://github.com/dotnet/runtime/blob/347847265d0832def96a2ff4057029999ffc70b1/src/libraries/Common/src/System/Runtime/Serialization/SerializationGuard.cs#L20) in a bit odd way. Not sure why the class isn't just caching the `Switch.System.Runtime.Seri

[2022-08-13 22:53] stephentoub commented on #67193
cc: @GrabYourPitchforks, @bartonjs

[2022-08-14 00:15] tjwald commented on #53593
Hi! I'm new to working on Open source and would love to give it a go.
I think that I could try to clean up this file as a nice start. What do you think?

[2022-08-14 00:46] ronniebarker opened #73909 ""hotReloadEnabled": false does not work"
### Description

Even with `"hotReloadEnabled": false` in `launchSettings.json`, hot reload still seems to activate which is particularly annoying when using **_ASP.NET_** and **_EF_** and **_AutoMapper_** where things that get configured at the start can recompile and hot reload, but the effect doesn't take effect - I have wasted many hours since upgrading to v6 with the code I am running not act

[2022-08-14 00:53] radical commented on #73880
Closing.

[2022-08-14 00:53] #73880 closed

[2022-08-14 01:05] VSadov commented on #73116
Saw this again. Several times in one run.

[2022-08-14 01:07] VSadov commented on #73116
I think I know what is going on. At shutdown we allow some threads to terminate without removing themselves from thread list. Once the threads1 TLS is released, the thread list may become corrupted, so whoever iterates it crashes.

Should be a simple fix.

[2022-08-14 01:16] #68509 closed

[2022-08-14 01:16] #68397 closed

[2022-08-14 01:16] #72606 closed

[2022-08-14 01:30] #73872 closed

[2022-08-14 01:30] #73901 closed

[2022-08-14 02:37] danmoseley commented on #53593
@tjwald you are welcome to try subject to the caveats and concerns above that it may not be worth it, and any change would need to be accompanied by thorough perf measurements. Perhaps there is some other issue in this repo that might be interesting instead? Many are marked "help wanted"

[2022-08-14 02:41] buahaha commented on #69968
I want to know what my dad was doing. Please additional h@lp. Some strange artifact in vision algorithms, parasail, proteins... But I'm missing more accurate info. I don't know if it's the lab work, he can't talk about, or just some passion he had to his study of DNA. [Jacek's Twitter account](https://twitter.com/4creators)

[2022-08-14 02:44] #69968 closed

[2022-08-14 03:34] davidfowl commented on #67337
What does the consumption side of this look like?

[2022-08-14 06:46] tactical-drone commented on #73891
Update.

A complete fresh checkout in a completely new directory works. This explains why my stashing changes step might not have worked. I am starting to think the compiler left artifacts in the original work `dir` that broke everything.

[2022-08-14 08:33] jvmlet opened #73915 "Configuration binding swallows the conversion exception"
### Description

Configuration binding still swallows the conversion exception  (#36502 ,#36129 and #36015 are still reproducible with `6.0.0`,  )

### Reproduction Steps

[code]
Starting the app with  `myapp.exe --MyModel:Ingredients:0 A --MyModel:Ingredients:1 C` starts up with `Ingredients == [A]`

### Expected behavior

Exception should be thrown when calling `iConfiguration.GetSection("MyMode

[2022-08-14 08:53] vitek-karas commented on #73900
Please read the docs here, they should explain the concepts much better than I can do here: https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/overview

Very short version (for .NET 6):
* Only one AppDomain - so all assemblies are in it, no matter where they're loaded
* Each assembly is loaded into one AssemblyLoadContext (ALC)
* Each ALC can load only one assembly of any given simple

[2022-08-14 09:01] Seabizkit commented on #73900
You have helped so much! thanks you for your time.

[2022-08-14 09:01] #73900 closed

[2022-08-14 09:09] hez2010 commented on #73909
If you don't want hot reload, you may simply run `dotnet run` without `watch`.

[2022-08-14 09:14] AHComp opened #73916 "Maui App after update Microsoft.AspNetCore.SignalR.Client to 6.0.8 release build crash without error message"
### Description

I have a simple maui chat app with asp.net core backend.
The android debug version runs very well after update but not the release.
I changed nothing in the code only upgrade from .net 6.0.7 to 6.0.8.
So it's only in release version and i have no idear how i can provide logs or something !

### Reproduction Steps

Nuget update to Microsoft.AspNetCore.SignalR.Client to 6.0.8
Change

[2022-08-14 11:39] tactical-drone commented on #73891
Ok so I think the compiler broken in a recent version.

The IDE is not happy most of the time, many crashes etc. Code won't build. The errors I am seeing is severe enough that you guys should pick it up too.

[2022-08-14 11:52] stephentoub commented on #73891
@tactical-drone, again, we'd need an isolated repro.  Just saying the compiler is broken isn't something we can act on.  And if this is about the C# compiler, that should be handled with an issue in the dotnet/roslyn repo instead.

I'm going to close this issue, as there's nothing we can actually follow-up on here.

Thanks.

[2022-08-14 11:53] #73891 closed

[2022-08-14 11:57] mattleibow opened #76338 "The 3.1 and 5.0 SDKs do not support musl/Alpine Linux anymore"
### Describe the bug

I am building an app for Alpine 3.15 and/or 3.16, but those versions of Alpine can no longer load the .so files from the linux-musl-x64 folders. I had a look at the runtime.json on those installs and I notice the version of alpine in the json is only 3.14.

### To Reproduce

Just try use SkiaSharp - or any other NuGet that has a musl-specific binary.

Se also these issues:
 -

[2022-08-14 11:59] tactical-drone commented on #73891
@stephentoub Sounds good.

BTW you were asking about `When you profile your app, is there a particular method consuming a significant percentage of the time?`

I am seeing strange things in my task manger now. Never seen anything like it, I can just post a picture.

![image](https://user-images.githubusercontent.com/1815319/184535779-7c658795-b6e7-4ca9-960d-d7deb238af38.png)

[2022-08-14 16:06] #73703 closed

[2022-08-14 17:42] deeprobin commented on #73001
Shouldn't this actually be an issue at dotnet/wpf since Dispatcher is part of the PresentationFramework?

[2022-08-14 18:15] ductai230894 commented on #61231
Json.net Can't use with AOT enable

[2022-08-14 18:16] roji commented on #73874
@danmoseley:

* Do we capture ETW logs for these test runs? There may be some valuable information there for diagnosing this.
* Is there a way to keep track of this failing test, so that I'm informed of more failures?

Notes (mainly to self):

* xunit happens to run the failing test first (Volatile_and_durable_enlistments). It also has 3 parameterized cases (volatileCount=0,1,2), and only the firs

[2022-08-14 18:21] mrhelmut commented on #61231
Which is not an AOT issue but a Json.net issue. [AOT is by nature constraining the range of possibilities](https://docs.microsoft.com/en-us/dotnet/core/deploying/native-aot#limitations-of-native-aot-deployment) and it is up to libraries providers to fit into those constraints or not.

(If you search enough, there are AOT-compatible forks around.)

[2022-08-14 18:24] Thefrank commented on #71338
@sec You can use https://github.com/Thefrank/dotnet-freebsd-crossbuild/blob/main/common.sh
It's a bash script so you will need to `source common.sh`. It also has `set -e` which, if outside of automation, you might want to remove.
After that you can `calculate_build_id $(git -C runtime tag --points-at HEAD)`  this will return a value to `$OFFICIALBUILDID`. Pass this to the build as `/p:OfficialBuil

[2022-08-14 18:25] okarpov opened #73920 "Ubuntu Server 20.04 SO_REUSEPORT throws System.Net.Sockets.SocketException (95): Operation not supported"
### Description

Enabling SO_REUSEPORT throws exception on Ubuntu Server 20.04

Operation not supported System.Net.Http.HttpRequestException: Operation not supported
 ---> System.Net.Sockets.SocketException (95): Operation not supported

### Reproduction Steps

[code]

### Expected behavior

should reuse ports as per SO_REUSEPORT feature

### Actual behavior

Operation not supported System.Net.Htt

[2022-08-14 18:26] ductai230894 commented on #61231
I use TelegramBot which using Newtonsoft.Json, when I publish my application with PublishAot set true, It allways show error Newtonsoft.Json.JsonException: No parameterless constructor defined for 'Newtonsoft.Json.Serialization.SnakeCaseNamingStrategy'.
But when I set PublishAot to false, my application work perfectly, I think maybe something wrong in there

[2022-08-14 18:40] ductai230894 commented on #61231
any one have find way to do this

[2022-08-14 18:47] sec commented on #71338
@Thefrank That I already know and use :) What I had in mind was the `preview.7` part - when doing build from `main` it's `rc.1` - was wondering where's that part set.

[2022-08-14 19:10] #44330 closed

[2022-08-14 19:28] Thefrank commented on #71338
@sec under `eng/Versions.props` and its usually in two parts `<PreReleaseVersionLabel>rc</PreReleaseVersionLabel>` and ` <PreReleaseVersionIteration>1</PreReleaseVersionIteration>` both typically found in the first few lines

[2022-08-14 19:50] filipnavara commented on #73873
Interesting, that could possibly explain why the automated .NET installation on my self-hosted macOS CI agents fails every month. When the new SDK is released it overwrites the existing one but due to some funky aspect of the code signature verification (modification time matters for ad-hoc signing but possibly affects the cache for other signatures too) it results in "137" kills from the system f

[2022-08-14 19:52] filipnavara commented on #73873
Btw, we have the same scenario and also experience this.

Unrelated to that there seems to be a bug where deleting the certificates doesn't delete the private keys from the key chain but I didn't get to narrow that one yet.

[2022-08-14 20:01] adamsitnik opened #73921 "[arm64] Unexpected performance degradation for Vector128<short>"
While working on #73768 I've re-implemented `Span.IndexOf` and `Span.LastIndexOf` by using `Vector128<T>` with generic implementation that can be used for `byte`, `short`, `int` and `long`.

`IndexOfValueType` and `LastIndexOfValueType` are very similar, but the first is performant for both `byte` and `short`, while the latter only for `byte`. It's very likely related to #73804

Repro:

<details>

[2022-08-14 20:20] valentiniliescu commented on #73873
Are you using `security delete-certificate` to delete the certificates? Try to use `security delete-identity` which deletes the certificate AND the private keys, and has the same arguments.

[2022-08-14 20:28] filipnavara commented on #73873
Thanks for the tip, I do the manual cleanup with the `security` tool (since the Keychain Access UI struggles to handle the number of items that are generated by the constant CI runs).

However, we primarily rely on the `X509Store` managed API to inject and delete the certificates within the unit tests. It's on my backlog to find out what causes the private keys not to be deleted. The same code wor

[2022-08-14 20:38] #73116 closed

[2022-08-14 21:04] ysmoradi opened #73949 "High memory usage in Blazor app, when built with `wasm-tools` workload installed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

If I publish the default project template of the blazor web assembly app which has counter/weather/index pages using visual studio 17.3 stable and .net SDK 7 preview 7, the memory usage would be about 50 MB
But afterI install the wasm-tools workload, the memory usage increases significantly (

[2022-08-14 21:05] Naine commented on #61231
As stated, this is a Json.NET issue. Libraries must be trimming-safe to be supported and compatible with AOT. See the link in the previous comment. I suggest you open or look for an existing issue against the library.

Should be possible with either static or dynamic linking. https://github.com/dotnet/runtime/blob/main/src/coreclr/nativeaot/docs/interop.md

[2022-08-14 21:07] wfurt commented on #73920
it seems like that API is Windows specific. cc: @tmds @antonfirsov
You can probably use `SocketOptionName.ReuseAddress` on Linux.
It will set both...

[code]

[2022-08-14 21:30] teo-tsirpanis opened #73922 "Resolve ILVerify assembly references from `.deps.json`."
An obstacle of using ILVerify is that all references of the assembly must be explicitly specified on the command line. We could take advantage of the `AssemblyDependencyResolver` class and automatically find the references from the assembly's accompanying `.deps.json` file if it exists. This would make using ILVerify much more easy.

The main question is how to expose it to the user. A way I thoug

[2022-08-14 21:31] TheSpydog commented on #73906
This is great, thanks! After looking around the code a bit, I have a few questions:

First, RhGetCodeTarget's doc comment says that it checks "if this points to an import stub or unboxing stub". What is the difference between an import stub and an unboxing stub? I found the `UnboxingStubNode` class in ILCompiler but I can't find an `ImportStubNode` or anything similar.

Second, RhGetCodeTarget [ha

[2022-08-14 21:33] ViTokarev opened #73923 "Problem with interception StandardOutput in Linux"
### Description

I described the problem in detail in "Reproduction Steps". When I run the code and the process has started, the console output is empty.

### Reproduction Steps

I downloaded from the official site: SA-MP, sever: version 0.3.7-R2 Linux Server (x86) and I try to run this server with my code, getting its output.

[code]

### Expected behavior

Create and a new process and intercept

[2022-08-14 21:58] cove opened #73924 "Parsing NumberStyles.HexNumber with "0x" prefix fails"
### Description

Unable to parse numbers such as 0xed, despite using NumberStyles.HexNumber and the [docs ](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.numberstyles?view=net-6.0#fields)"Strings that are parsed using this style cannot be prefixed with "0x" or "&h". "

### Reproduction Steps

[code]

### Expected behavior

The number is parsed without throwing an exception.

###

[2022-08-14 22:04] BrzVlad commented on #68849
This crash seems to happen on old profile mono/2020-02, in which case this issue is not a blocking release for .net 7. @gemSender Could you confirm that this is the old framework ? Also do you have a sample app that reproduces this crash ?

[2022-08-14 22:11] lewing commented on #73721
this isn't urgent at all and we will be looking at the fs related syscalls for wasi in 8

[2022-08-14 22:25] stephentoub commented on #73924
Which aspect of the cited docs is incorrect?

[2022-08-14 22:28] cove commented on #73924
Oh I read that backwards, I read it as saying 0x was supported, instead of not supported.

[2022-08-14 22:34] #73924 closed

[2022-08-14 23:52] parched commented on #9529
Can this note be added to [these docs](https://docs.microsoft.com/en-us/dotnet/api/system.environment.setenvironmentvariable?view=net-6.0)? It would've saved me a fair bit of debugging time.

[2022-08-15 00:26] rcdailey commented on #66856
@vitek-karas did you get a chance to review my last reply? I hope I was able to provide enough detail. If not, let me know how else I can help.

[2022-08-15 00:56] #73682 closed

[2022-08-15 00:57] danmoseley commented on #9529
@parched  feel free to offer a PR to improve the doc (click edit button on doc page)

I'll close this as apparently that was originally intended

[2022-08-15 00:57] #9529 closed

[2022-08-15 00:59] danmoseley commented on #73923
@tmds

[2022-08-15 01:22] v-wenyuxu commented on #70642
Failed again in: [runtime-coreclr jitstress2-jitstressregs 20220814.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1942819&view=ms.vss-test-web.build-test-results-tab&runId=50067850&resultId=100334&paneView=debug)

Failed Test:
[code]
**Error message:**
[code]

[2022-08-15 01:22] VincentBu commented on #60324
Hi @mkhamoyan, we will leave comment if the test fails again after 7 days. According to the thread, this test hasn't failed in the past 10 months. Additionally, I don't have access to upload run.

[2022-08-15 01:30] MichalStrehovsky commented on #67193
FWIW, I ifdef out all of serialization guard for [bflat](https://github.com/bflattened/bflat) so reflection disabled with Process.Start works there just fine. The reflection as it is there wouldn't even work in the "more usable reflection-free mode" that this issue is tracking.

[2022-08-15 01:40] v-wenyuxu opened #73925 "Test failure System.IO.Tests.RandomAccess_GetLength.ReturnsActualLengthForDevices(options: Asynchronous)"
Run: [runtime-coreclr libraries-jitstress 20220814.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1942500&view=ms.vss-test-web.build-test-results-tab&runId=50062636&resultId=137892&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-08-15 01:48] mangod9 commented on #73916
hello @AHComp, can you provide more details on what the failure mode is? Is it failing to build or failing while running on android?

[2022-08-15 01:52] #72557 closed

[2022-08-15 01:53] v-wenyuxu commented on #73138
Failed again in: [runtime-coreclr ilasm 20220813.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1942055&view=ms.vss-test-web.build-test-results-tab&runId=50056418&resultId=106772&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-08-15 02:26] danmoseley commented on #73925
https://github.com/dotnet/runtime/commit/1ae7c5f816b9910beaea67c45bb3681e8630662d

Cc @virzak

[2022-08-15 02:31] danmoseley commented on #72557
@dorthl  did you close because this is resolved for you?

[2022-08-15 02:37] #73848 closed

[2022-08-15 02:56] v-wenyuxu commented on #73139
Run: [runtime-coreclr ilasm 20220813.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1942055&view=ms.vss-test-web.build-test-results-tab&runId=50056388&resultId=103793&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-08-15 03:01] MichalStrehovsky opened #73926 "NativeAOT needs to understand SuppressTrimAnalysisWarnings"
https://github.com/dotnet/linker/pull/2930 deleted the mapping from SuppressTrimAnalysisWarnings to individual warning codes we need to suppress. NativeAOT relied on this to do the suppressions.

[2022-08-15 03:12] MichalStrehovsky commented on #73926
Cc @sbomer

[2022-08-15 03:29] lewing commented on #73809
/cc @radical

[2022-08-15 03:30] gemSender commented on #68849
My mono version is 6.12.x. @BrzVlad , you can close the issue if it was fixed in .net 7

[2022-08-15 03:36] lewing commented on #72114
cc @agocke

[2022-08-15 04:22] #71047 closed

[2022-08-15 04:40] tjwald commented on #53593
I think I want this one for now :)
What should I read in order to start working on this?

[2022-08-15 04:43] RobertHenry6bev opened #73927 "ubsan failure when calling through pointer to member function"
### Description

on ubuntu x64 using gcc-10 through gcc-12, compiled -O0 -ggdb -fsanitize=undefined

causes a runtime error when a pointer to a member function is called.
/mnt/robhenry/dotnet/clang11.a/runtime/src/coreclr/jit/phase.h:100:10: runtime error: member access within address 0x7fbeb726e070 which does not point to an object of type 'Phase'
0x7fbeb726e070: note: object has invalid vptr
 ff

[2022-08-15 04:44] MichalStrehovsky opened #73928 "ProcessNameMatchesScriptName fails intermittently with NativeAot"
Does the test have a race condition?

[code]

[2022-08-15 05:11] #47244 closed

[2022-08-15 05:12] jeffhandley commented on #28230
We are still going to explore possible ways to add some UTF8/ASCII helpers in the .NET RC2/GA timeframe, but until that plan solidifies this issue can sit in 8.0.0.

[2022-08-15 05:15] tmds commented on #73923
When I replace:
[code]
with
[code]
it works fine on Fedora 36.

If you start the executable on the command-line and redirect its output to a file. Does text appear in the file?
[code]

[2022-08-15 05:15] jkotas commented on #73928
Duplicate of https://github.com/dotnet/runtime/issues/13757

[2022-08-15 05:15] #73928 closed

[2022-08-15 05:18] okarpov commented on #73920
Thx, I will check it

[2022-08-15 05:19] jeffhandley commented on #68810
@database64128 Can you clarify if you still have an unsolved issue here? Thanks!

[2022-08-15 05:26] jeffhandley commented on #73647
@steveharter It looks like Reflection might be in the call stack here and a couple folks from this area pod are away from work right now. Can you take a look please?

[2022-08-15 05:30] jeffhandley commented on #73750
Thanks for the detailed issue details, @PathogenDavid. Since this isn't a regression, we won't fix it in .NET 7 (with where we are on the schedule), but we'll keep it open in our backlog. Would you be interested in digging deep into it to see if you can find where the bug is, and perhaps send a PR if there is an apparent fix?

[2022-08-15 05:32] jeffhandley commented on #73813
@Jozkee I'm moving this to Future, but if it's fixed during RC2 we could consider porting the fix into that branch.

[2022-08-15 05:35] jeffhandley commented on #73899
@adamsitnik + @Jozkee, I know that @eerhardt won't be able to look at this until later in the week. Could one of you two please take a look Monday/Tuesday to see if we can address this with RC1?

[2022-08-15 05:37] jkotas commented on #73906
Import stubs are used for compilation mode that produces multiple native .dlls (e.g. one native .dll that is shared between multiple apps and second native .dll that is the app). This compilation mode was used in .NET Native for UWP. We do not support this compilation mode in dotnet/runtime currently. We are keeping the code required for this compilation mode around in case it it needed in future.

[2022-08-15 05:49] Junjun-zhao commented on #73221
This issue has been verified and fixed on latest build dotnet-sdk-7.0.100-rc.1.22413.1.

[2022-08-15 05:51] MichalStrehovsky opened #73930 "Failures in SocketsHttpHandler_HttpClientHandler_MaxResponseHeadersLength_Http3"
Full log: https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-72145-merge-c270b69ee20f4e269e/System.Net.Http.Functional.Tests/3/console.142a186b.log?helixlogtype=result

Hit in https://github.com/dotnet/runtime/pull/72145/checks?check_run_id=7832255512

[code]

Cc @MihaZupan

[2022-08-15 06:04] davidwengier commented on #35122
Just ran into this issue on my M1 MacBook Pro, and it actually breaks the new Razor editor. Working around that in https://github.com/dotnet/razor-tooling/pull/6705 is easy enough, but still. I put up.a small repro at https://github.com/davidwengier/FileMoveTest

Output from running that is as follows:
[code]

Essentially, every second run that uses `MoveTo` fails, but no failures when using `Move

[2022-08-15 06:06] jkotas commented on #73922
AssemblyDependencyResolver won't resolve framework references for standalone .dlls, even though they have .deps.json next to them. It means that this would find the framework references only if the .dll was published as self-contained application.

I agree that it would be convenient for ILVerify to have an option to find the framework references for you, but I do not think that the proposed desig

[2022-08-15 06:45] wfurt commented on #27666
This should be fixed in 7.0
running benchmark from https://github.com/dotnet/performance

[code]

For TLS resume to work, the server side has to use  SslStreamCertificateContext. (and no CipherSuitePolicy)

[2022-08-15 06:45] #27666 closed

[2022-08-15 07:50] ViTokarev commented on #73923
@tmds

I don't know what for, but I checked. I have an output too. But this is not the file with which I have a problem. I think this is a special situation.
Especially for testing, I indicated which file I ran so that you can download and test it.

Yes, it does. The text is output to a file. Before writing here, I tried all the obvious options)

[2022-08-15 07:54] MichalStrehovsky commented on #73931
We produce deterministic object files, but the linker then messes it all up with timestamps and GUIDs, so there's well understood diffs in the final output. The VC++ team has been dragging their feet adding support for this: https://developercommunity.visualstudio.com/t/support-for-cls-experimentaldeterministic-becoming/426033

Experimentally adding `/EXPERIMENTAL:DETERMINISTIC` to the linker comm

[2022-08-15 08:01] MichalStrehovsky commented on #73931
The diffs are possible to patch out. A tool like this could be used: https://github.com/jasonwhite/ducible (Haven't actually tried)

[2022-08-15 08:04] MichalStrehovsky commented on #73930
Also failed in https://github.com/dotnet/runtime/pull/73929/checks?check_run_id=7833384695.

[2022-08-15 08:04] ManickaP commented on #73930
The error is H3_REQUEST_CANCELLED (0x010c), @MihaZupan could this be recently broken by https://github.com/dotnet/runtime/pull/73907?

[2022-08-15 08:06] karelz commented on #72958
Fixed in main for 7.0 in PR #73585 and in 6.0.9 in PR #73245.

[2022-08-15 08:06] #72958 closed

[2022-08-15 08:06] davidfowl commented on #69889
I'm running this performance test after this change and I'm not seeing a big difference 🤔.

Command:

[code]

<HTML>
<BODY>
<TABLE><TR><TD>Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD><TD>Exc %</

[2022-08-15 08:10] #67805 closed

[2022-08-15 08:18] karelz commented on #73930
I don't see any failures in Kusto -- perhaps they didn't propagate yet?
Is it 100% failure for you @MichalStrehovsky?

[code]

[2022-08-15 08:20] MichalStrehovsky commented on #73930
100% failure in the two pull requests I was involved in today:

https://github.com/dotnet/runtime/pull/72145/checks?check_run_id=7832255512
https://github.com/dotnet/runtime/pull/73929/checks?check_run_id=7833384695

[2022-08-15 08:25] #69423 closed

[2022-08-15 08:25] radical opened #73932 "[wasm] Test failures due to trimming errors on `main`"
[Rolling builds](https://dev.azure.com/dnceng/public/_build/results?buildId=1942952&view=results) failing due to trimming errors like:

[code]

<div style="font-style: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: a

[2022-08-15 08:26] karelz commented on #72114
@fanyang-mono

I don't have more info than above + details from Kusto. You might be able to get to the run from JobID and other records in Kusto. Unfortunately, I don't know how to do it.

[2022-08-15 08:29] karelz commented on #73621
Yes, we expect those 2 are dupes -- it was pending verification from @wfurt

[2022-08-15 08:37] radical opened #73933 "[wasm] Perftracing build broken due to trimming errors"
[Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1943226&view=logs&jobId=7f41eb05-1c5f-5922-38da-d308f495fb31&j=92c81310-cb26-5923-f96e-b7c73963fa3d&t=11318e79-3fe2-58cb-1121-19fe8295c832):

[code]

This is broken on `main` too.

[2022-08-15 08:47] simonrozsival commented on #69095
There have been several improvements to the gRPC support on Android in .NET 7 (bugfix #69507 which enables AOT compilation on Android, CI setup in #73060) but we still need more time to finish this issue (especially the iOS part) and there's not enough time to finish it in time for .NET 7. I'm moving further improvements (mostly infrastructure related) to .NET 8.

[2022-08-15 08:47] #61146 closed

[2022-08-15 08:54] ViTokarev commented on #73923
I have tried different options. Events, functions, streams, none of it works. It is on the Read(), ReadToEnd() functions or an attempt to read the stream:

[code]
In all cases, the program seems to get stuck while performing the read function and does not continue to be executed.

---

The only output is "StandardOutput.CurrentEncoding":
`stdSystem.Text.UTF8Encoding+UTF8EncodingSealed|`

---

But

[2022-08-15 08:54] davidwengier commented on #35122
FYI @jeffhandley in case it changes priority, that the issue is on Apple Silicon and not just Pis :)

[2022-08-15 09:00] BrzVlad commented on #68849
It is not clear to me if this issue exists on .net 7 since I don't understand why it happens on mono 6.12 in the first place. Do you have any kind of repro ? Either project source code, entire app binary or at least some binaries within application (the dll and aot image where that method lives)

[2022-08-15 09:05] Daniel-Svensson opened #73934 "Reading of Decimal broken for binary XmlDictionaryReader"
### Description

 #71752 introduced 2 bugs for reading of decimal values from binary xml
1. It forget to call Advance
2. it reads the bytes in incorrect order resulting in either the wrong decimal value being read or an exception being thrown.

A fix for both bugs can be found in #73332 since that PR already had the necessary test added to detect the 2nd bug.

### Reproduction Steps

See test in #

[2022-08-15 09:15] rzikm commented on #73688
Reproduced in #73817 at https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-73817-merge-3f1c7c257c234ddebf/System.Net.Quic.Functional.Tests/1/console.8d88137e.log?helixlogtype=result

[code]

My suspicion is that we may have some race which could result in calling `StreamShutdown` twice.

[2022-08-15 09:20] jakobbotsch commented on #73874
We are also seeing win-arm64 failures on this test in libraries-jitstress runs but with a different message.
Example failure: https://dev.azure.com/dnceng/public/_build/results?buildId=1942500&view=ms.vss-test-web.build-test-results-tab&runId=50062640&resultId=200894&paneView=debug
Example log: https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-7009fae360db496db1

[2022-08-15 09:22] radical commented on #73933
Running with `TrimmerSingleWarn=false` to get the individual warnings:

[code]

The issue seems to be that the sample project overrides the `$(NoWarn)` value.

[2022-08-15 09:26] v-hozha1 commented on #71098
This issue has been fixed on dotnet-sdk-7.0.100-rc.1.22414.7. Details please refer to below:
![image](https://user-images.githubusercontent.com/100275240/184611158-d462578d-351a-4c96-8857-3299a1404e96.png)

![image](https://user-images.githubusercontent.com/100275240/184610936-b891d9fd-610f-4af2-a354-9185c4a1f85c.png)
![image](https://user-images.githubusercontent.com/100275240/184610976-9e4d5602-

[2022-08-15 09:41] Junjun-zhao opened #73936 "[dotnet-sdk-7.0.100-rc.1.22413.1] When calling Socket.EndReceiveFrom method throws SocketException in .NET 7.0 but throws ObjectDisposedException in .NET 6.0"
### Description

When running the 3rd party app with latest .NET 7 RC build, it gets System.ObjectDisposedException when closing socket

### Reproduction Steps

**Repro steps for app:**
**The machine only has dotnet-sdk-7.0.100-rc.1.22413.1 installed and DOTNET_ROLL_FORWARD_ON_NO_CANDIDATE_FX environment variable set as 2.**

1. Copy app from SourceShare\InputShare to local machine.
2. Launch Inpu

[2022-08-15 09:50] SteveSandersonMS commented on #69741
@radical @lewing In light of https://github.com/dotnet/runtime/issues/73858, should this issue just be closed, or do we need to move any of it into that tracking issue?

[2022-08-15 09:52] radical commented on #69741
Yes, we can close this. thanks:)

[2022-08-15 09:52] #69741 closed

[2022-08-15 10:21] okarpov commented on #73920
does not work :(

[2022-08-15 10:32] okarpov commented on #73920
[code]
[code]

[2022-08-15 10:33] stephentoub commented on #73936
Yes, this is because of https://github.com/dotnet/runtime/pull/73335.

This repro code is broken.  If the EndXx method throws an exception, the implementation shouldn't eat it and proceed to issue another receive, regardless of whether the exception was an ObjectDisposedException.

We discussed whether #73335 should be marked as a breaking change and I'd argued it didn't need to be because we don'

[2022-08-15 10:51] gemSender commented on #68849
[AotTest.tar.gz](https://github.com/dotnet/runtime/files/9336746/AotTest.tar.gz)
this is the c# project and the folder 'binary' is the output of dotnetbuild and aotbuild output
@BrzVlad

[2022-08-15 10:55] MihaZupan commented on #73930
This is definitely related to #73907 - I just merged H2 and H3 versions of this test yesterday.
Shouldn't be 100% as I never saw this failure on CI on that PR.

Opened #73937 that may address this

[2022-08-15 10:55] Junjun-zhao commented on #73936
Thanks for your quick reply. Yes. We have done some little change to the demo.  In .NET 6.0, Socket.EndReceiveFrom() method will throw ObjectDisposedException when socket is disposed. But in .NET 7.0, Socket.EndReceiveFrom() method will throw SocketException.

[2022-08-15 10:59] stephentoub commented on #73936
Right,  the code was effectively:
[code]
We removed the first line to avoid throwing the disposed exception,  so you're now seeing the actual result of the operation.

The repro code is both ignoring an exception and using an object after it's been disposed.  Both are improper.

[2022-08-15 11:06] danmoseley commented on #73934
@StephenMolloy

[2022-08-15 11:25] tfenise commented on #35122
https://github.com/dotnet/runtime/blob/058bed796c153ecb1f1a02f443f8d13b70ab81b9/src/libraries/System.Private.CoreLib/src/System/IO/FileInfo.cs#L152-L153

I guess `FileInfo.Exists` is cached, so it thinks the source file does not exist. It seems rather a different problem than what this issue originally was about.

[2022-08-15 11:27] M4ttsson commented on #73757
Can the "new" values just be added to the enum then or are there more things that needs to be updated with it?

I'm happy with getting the enum updated so maybe the alternative solution can wait unless someone actually needs it. Thanks :)

[2022-08-15 11:47] simonrozsival commented on #69095
@janseris the gRPC Client is an independent NuGet package (https://www.nuget.org/packages/Grpc.Net.Client). It already works with .NET 6 on Android and iOS. In .NET 7, ahead of time compilation on Android will be fixed. We'll also run the interop tests on Android emulators. In .NET 8 we'll further improve our CI infrastructure to ensure the gRPC client works correctly on Android and iOS devices.

[2022-08-15 12:02] davidwengier commented on #35122
You might be right, I didn't dig in too much, but the code in the Razor tooling repo has been in place and running on Windows without issue. Only on macOS did the problem occur, so even if it's just a caching issue, seems like it should be consistent on every platform.

[2022-08-15 12:13] August-Alm commented on #40546
The original proposal had a clear usage example but the approved API leaves the intended functionality implicit. Am I correct in understanding the approved proposal as supposed to work in such a way that the originally suggested method is equivalent to the following ``InstructionEncoder`` method?
[code]

[2022-08-15 12:22] JosieBigler commented on #26506
Any thoughts on how to add fields to a module?  I'm trying to test

`ProjectingModule.GetFields()` And I'm not sure how to add a field to a module?

I did find https://github.com/dotnet/runtime/tree/main/src/libraries/System.Runtime/tests/TestModule And was able to hit `.GetFields()` that way with the correct return.

I can pull in that project to test `.GetFields()`?

I'd prefer to keep everythin

[2022-08-15 12:26] teo-tsirpanis commented on #40546
@August-Alm yes.

[2022-08-15 12:28] BarPupko opened #73940 "Visual Studio 2022 Remote Testing -.NET Framework 4.8 is installed, yet the.NET cannot be found during testing."
### Description

I am trying a new feature on a Visual Studio called "remote testing", I install Docker and started a new project of "xunit" or "nunit" after initialize the project, I try to run the tests on my machine first, and it succeeds.

[setting to use docker][1]

[Xunit][2]

[Nunit][3]

When I try to start the test on the Linux environment, I get the next message that I don't have a .NET o

[2022-08-15 12:35] davidwengier commented on #35122
Oh, does it? hmm okay that's surprising, I guess I'm wrong. Interesting, thanks.

[2022-08-15 12:37] roji commented on #73874
@jakobbotsch thanks. Yeah, I suspect the root cause here is the same as the NRT posted above, #73918 may eliminate the NRT itself and make the real exception propagate.

As written above, tes Volatile_and_durable_enlistments with volatileCount=0 is the very first test which communicates with MSDTC, and the stack trace shows the communication failure happening on the very first attempt to connect t

[2022-08-15 12:43] jakobbotsch commented on #57918
The stress mode itself is a little weird. It explicitly converts only IL locals to `TYP_BLK` locals, but we will never see a `TYP_BLK` IL local so we are stress testing something that we will never see. In this particular case we are trying to insert explicit zero initialization for an IL local and we simply do not support that for `TYP_BLK`.

[2022-08-15 12:56] loop-evgeny commented on #70733
[code]

Thanks, this works as a workaround. It's still a bit of a gotcha, of course, and definitely needs to be documented.

I see that https://github.com/dotnet/runtime/pull/44608 was prompted by Serilog and it's actually with Serilog overrides that I ran into this issue, too.

[2022-08-15 13:03] virzak commented on #73925
Should we catch IOExceoption in the test case and rethrow unless the message contains a string: "because it is being used by another process"

I don't have better ideas and it seems that there are no other test cases for physical drive.

@adamsitnik

[2022-08-15 13:11] fanyang-mono commented on #72114
@karelz thanks for checking! We have enough information to move forward now.

[2022-08-15 13:43] virzak commented on #73925
Ideally, should probably use [AttachVirtualDisk](https://docs.microsoft.com/en-us/windows/win32/api/virtdisk/nf-virtdisk-attachvirtualdisk) function and run all test cases against a virtual drive...

[2022-08-15 13:58] geh24 commented on #73765
Hi jkotas,
many thanks for your tip.

I had the same exception by mixing a self-written nuget-package built with 7.0...preview.6 with an API-Project using 7.0....preview.7. After using preview.7 for nuget-package and API-Project it works fine.

thank you
Gerhard

[2022-08-15 13:59] ayakael commented on #73525
I've mitigated this issue by doing two things:
1) Build runtime with `p:TargetRid=alpine.3.17-x64`
2) Patched `eng/native/init-distro-rid.sh` to cut out `_*` from `alpine.3.17_alpha20220715```
[code]

As you see above, I removed the distro-specific `VERSION_ID` normalization logics in favor of distro-agnostic logics. I do not know if this would break build on other platforms, but it would probably

[2022-08-15 14:04] sschmieta-qontigo commented on #61528
@StephenMolloy, as I mentioned in the initial bug statement, this is a regression against .NET Framework 4.7.1 that has been present in all .NET Core versions so far. It is causing a serious performance regression when running a .NET Core version of our Azure compute grid which is how we found this bug. We are currently targeting the 6.0 LTS version for our port (up from 3.1 when I filed the bug),

[2022-08-15 14:10] jeffschwMSFT commented on #73940
@BarPupko can you file this issue via VS Feedback?  That is the best way to get this feedback to the right team.  Please post the issue back here.  Thanks

[2022-08-15 14:25] jeffschwMSFT commented on #72297
![image](https://user-images.githubusercontent.com/9561583/184653915-07ec990f-2be2-40ee-b89e-099f1cfb4829.png)

[2022-08-15 14:43] fanyang-mono commented on #72114
According to @lambdageek

the following things happen at execution time (simplifying a bit):
1. the CI script runs corerun
2. corerun dynamically loads libcoreclr.so (really mono) from the Core_Root directory
3. corerun finds the coreclr_initialize symbol and calls it
4. the coreclr_initialize function should return S_OK or an error code.

what i was saying in the issue is that (4) is definitely n

[2022-08-15 14:45] renfred opened #74021 "Turning on LLVM compilation causes app crash on start up"
### Description

When LLVM is turned on, the app crashes on start up due to:
`MonoDroid	android.runtime.JavaProxyThrowable: System.ArgumentException: Invalid generic arguments Arg_ParamName_Name, typeArguments`

Tested on Android (API version 21), using Visual Studio 2022 v17.3.0 (17.3.32804.467 - August 9, 2022).

Reproduceable by creating a new MAUI project in Visual Studio.

### Steps to Reprod

[2022-08-15 14:50] steveharter commented on #73647
Reflection is only in the call stack because XUnit uses reflection to invoke the test methods.

Likely related to https://github.com/dotnet/runtime/issues/73739 since they use the same test helpers and the failure occurred around the same date.

The failure indicates the actual target test method `LengthyAction_ThrowFromFinally` was not called, since the first line of code in that method sets `_st

[2022-08-15 14:56] VSadov commented on #71507
I think we will have to fix it for 7 as it seems to be a regression.

I think itis ok to disable R2R in a case of loading from byte arrays as it is not a start-up scenario. User should not have to strip R2R information when loading arrays though. It can work the same as IL-only scenario.

[2022-08-15 14:56] lambdageek commented on #72114
So... looking at `corerun.cpp`, the only place where it prints out `"BEGIN: coreclr_initialize failed - Error: 0x%08x\n"` is when it successfully loads a `libcoreclr.so` and successfully binds the `coreclr_initialize` symbol, and manages to call it.
Other cases (like not being able to load the library, or not being able to find the symbol) just return `-1` from the `run` method which just exits `M

[2022-08-15 15:06] grrttedwards opened #73946 "Open up internal JsonConfigurationFileParser to be public"
## Background and Motivation

I would like to consume JSON-string values from files written to the filesystem, and flatten them into the format that the configuration system understands. For example: `{"foo":["bar1","bar2"]}` cannot be understood by or bound to POCO's unless the keys are mapped into the config dictionary like `"foo:0" = "bar1"` and `"foo:1" = "bar2"`.

This functionality is alread

[2022-08-15 15:12] adamsitnik commented on #73921
@EgorBo thanks for the sanity check!

I've synced my fork again, performed full build (previously was building only a subset of CoreLib) and I also can't repro it now.

[2022-08-15 15:12] #73921 closed

[2022-08-15 15:20] Jozkee commented on #73899
@tmds the proposed change sounds good to me.

[2022-08-15 15:23] MihaZupan commented on #73930
Hit issues on the PR (#73937).

Disabling the test for H3 until we resolve that: #73945

[2022-08-15 15:41] mangod9 commented on #70307
Ok closing for now, we can reopen if this reoccurs.

[2022-08-15 15:52] davidfowl commented on #73946
Copy the source? It's ~100 lines of code.

[2022-08-15 16:08] wfurt commented on #73920
This is not what I see @okarpov. Can you pose complete stand alone repro? (instead of just fragment)

[2022-08-15 16:12] RobertHenry6bev commented on #73927
/cc @mangod9
I looked at this some more. It is increasingly looking like a bug in ubsan.

The error message the ubsan runtime generates doesn't make sense. it is talking about an invalid vptr, and dumps what I presume is the *vptr, eg to the vtbl itself.  But the pointer point to the code making up the called-to function, and the dumped bytes are the bytes at the entry of the function.

The messag

[2022-08-15 16:15] lambdageek commented on #73854
Doesn't seem like a race condition in thread waiting.  (saved [a copy of the console log](https://gist.github.com/lambdageek/afbb1500bbc26c98860cf860ef1761da) for reference)

Thread 5 seems to crash while allocating a `ThreadSubsystem.ThreadWaitInfo` (not even calling the constructor; just allocating) possibly the vtable ptr is bad? not sure that would crash, necessarily.

https://github.com/dotne

[2022-08-15 16:17] lambdageek commented on #73854
/cc @BrzVlad is there a way to tell if it's an allocator crash if the vtable is non-NULL junk?

[2022-08-15 16:26] cston commented on #73850
https://github.com/dotnet/roslyn/pull/63367 and https://github.com/dotnet/runtime/pull/73883 have been merged.

[2022-08-15 16:26] #73850 closed

[2022-08-15 16:29] #72425 closed

[2022-08-15 16:33] cston commented on #73850
@jeffschwMSFT, @MichaelSimons, I've closed this issue since the PRs for the two issues have been merged. Please re-open if there is still something blocking here.

[2022-08-15 16:39] PathogenDavid commented on #73750
@jeffhandley No worries, definitely didn't expect it for .NET 7.

PR here! https://github.com/dotnet/runtime/pull/73948

[2022-08-15 16:39] BrzVlad commented on #73854
I don't see how we can tell what is going on if the stacktrace has no symbols and line information, without reproducing the crash of course

[2022-08-15 17:00] jakobbotsch opened #73951 "JIT: Bad codegen on x86 for a function in collectible ALC"
[code]

[2022-08-15 17:03] tlakollo opened #73952 "NativeAOT descriptor file doesnt generate warnings"
### Description

Descriptor files allow keeping members that otherwise the ilc compiler would have stripped. During this process it inserts nodes (reflectable fields, reflectable methods, etc.) this will indeed keep the members in the final assembly. What the ilc compiler is missing is the generation of warnings when the keep members produce dangerous code.

### Reproduction Steps

C# code: Assume

[2022-08-15 17:05] TIHan commented on #73138
I will need to make a quick PR to disable the mainv2 test now. The original issue here showed mainv1 failing, but now it shows mainv2.

[2022-08-15 17:12] TIHan commented on #73139
This is a totally different test, `hugeSimpleExpr1` which should be fixed now by https://github.com/dotnet/runtime/pull/73648.
The manual CI run did not show `hugeSimpleExpr1` failing here: https://dev.azure.com/dnceng/public/_build/results?buildId=1933473&view=ms.vss-test-web.build-test-results-tab

[2022-08-15 17:13] jakobbotsch commented on #73951
Looks like we fail to normalize `vr21.F3` when we construct `vr22`:
[code]

[2022-08-15 17:31] TIHan opened #73954 "ILASM roundtrip failure - `src/tests/readytorun/tests/mainv2`"
`src/tests/readytorun/tests/mainv2` is failing ILASM roundtrip, making a new issue so we can track it

[2022-08-15 17:32] lewing commented on #72946
saw it again on https://github.com/dotnet/runtime/pull/73939 https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-73939-merge-646ef37e77d843aaa0/chrome-DebuggerTests/1/console.3ea30947.log?helixlogtype=result

[2022-08-15 17:33] lewing commented on #72946
[code]

[2022-08-15 17:36] #72408 closed

[2022-08-15 17:40] thaystg opened #73957 "[debugger] Test failure - DebuggerTests.ExceptionTests.ExceptionTestUncaughtWithReload"
As discussed with @radical, fix it the same way he fixed HotReload test failures.
[code]

[2022-08-15 17:40] thaystg commented on #72946
Created a new issue to fix this: https://github.com/dotnet/runtime/issues/73957

[2022-08-15 17:41] hoyosjs commented on #73873
@adiaaida @mmitche - this is something that needs to happen both in the runtime and in the staging pipeline. Essentially, we need to specify the -i parameter to codesign in `osx_signing_operations.py` per image/dylib.

[2022-08-15 17:42] isakgjaerum opened #73959 "SignedXml. Ability to call SignedInfo verification or improve return type."
We are currently working with the SignedXml class and have come across several difficulties with it.
- First of all the SignedXml.CheckSignature method performs four different checks while the return type is a boolean leaving us with no clue as to which of the checks went wrong when we get a false return.
- Secondly, we are experiencing that the XmlDocument class is tampering with the contents of

[2022-08-15 17:43] hoyosjs commented on #73873
cc: @richlander since you've done a lot of the osx-arm64 UX definition work around installation. I think this might be something we should fix on the LTS?

[2022-08-15 17:45] ComptonAlvaro opened #73960 "When I try to create a handler in the client for a gRPC service HttpClientHandler.ClientCertificates is null"
### Description

I open this issue because I opened in the maui project and they told that this is more a problem of dotnet.

this is the maui project: https://github.com/dotnet/maui

this is the issued that I opened in the maui project: https://github.com/dotnet/maui/issues/9430

DESCRIPTION OF THE PROBLEM

I have added anyway a zip with a project that reproduces t he problem.

I have a solution

[2022-08-15 17:46] ericstj commented on #73646
This package was built by @clairernovotny for us and has been working just fine.   What would have changed to make this no longer work?

Something about trusted certificates on the machines?  @radical this wasn't hitting on all machines was it?  Was it specific to a single machine or machine type?

cc @mmitche

[2022-08-15 17:48] radical opened #73961 "[wasm] Test failures only when trimming"
Seen on `main`, and https://github.com/dotnet/runtime/pull/73894 :

[System.Runtime.Serialization.Schema.Tests log][https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-73894-merge-81b30ad20ea9433393/normal-System.Runtime.Serialization.Schema.Tests/1/console.2e21e33a.log?helixlogtype=result]:

[code]

[System.Runtime.Serialization.Xml.ReflectionOnly.Tests log](https://he

[2022-08-15 17:49] JulieLeeMSFT commented on #73951
@jakobbotsch, putting this to .NET 8. Please change to .NET 7 if it needs to be fixed in this release.

[2022-08-15 17:52] JulieLeeMSFT commented on #70642
@tannergooding, it failed again yesterday. Please check this out.

[2022-08-15 17:54] elinor-fung commented on #73711
Switched to only include `host.native` in https://github.com/dotnet/runtime/pull/73800.

The native tests assets are part of `host.native` though, so they will still be built.

[2022-08-15 17:55] vcsjones commented on #73959
A related API proposal: https://github.com/dotnet/runtime/issues/27263

[2022-08-15 17:59] SamMonoRT commented on #73863
cc @BrzVlad

[2022-08-15 17:59] bartonjs commented on #73959
Just to set some expectations: we're not really investing in SignedXml, other than fixing whatever security bugs we can (many of them start at the spec and are therefore hard to deal with).

My most sincere advise is don't use SignedXml at all, or any other component that uses the xmldsig specification, unless you're forced to by interoperating with an existing system/partner.

[2022-08-15 18:08] adiaaida commented on #73873
@MattGal you have the most context on the macos signing scripts, can you help out with @hoyosjs's comment

[2022-08-15 18:10] dakersnar commented on #72194
@AndyAyersMS I'm unsure if we have 100% isolated this to PGO. Looking at the commit range (https://github.com/dotnet/runtime/compare/52f4e7c567bbf1d239c0330a9bae3e929cb40229...8fe39db6203d01e3cba8ae453617efaed2da43f7), I've gotten some more insight.

First of all, considering these tests have not regressed on [Windows x64](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2f

[2022-08-15 18:13] dakersnar commented on #72194
Actually, looking at your comment here https://github.com/dotnet/perf-autofiling-issues/issues/6480#issuecomment-1192006370, it could be caused by https://github.com/dotnet/runtime/pull/71161.

[2022-08-15 18:15] jakobbotsch commented on #73951
This seems like an an interaction between spilling/unspilling and this transformation:

https://github.com/dotnet/runtime/blob/0a2b4eb956a5d1b43ae19132a3e8f888629c0420/src/coreclr/jit/lowerxarch.cpp#L510-L520

This was added in #65803 from what I can see, cc @SingleAccretion

[2022-08-15 18:15] Maoni0 commented on #73784
you don't need to revert the change, you can set the GCEnableSpecialRegions env var to turn it on as I mentioned in the PR -

set COMPlus_GCEnableSpecialRegions=1

[2022-08-15 18:22] AHComp commented on #73916
No failure on release build process but then the android app crash immediately because the signalr hub will start on startup. But I could not debug because it's only in the release version. So the error will raise on building the hub or starting the hub.

[2022-08-15 18:24] jxbrenner commented on #44855
@gabriel-kozma
Yes, we'd like to migrate to MAUI as well but this issue blocks us.

@jonathanpeppers
Does the information I provided help? What else can I do to help progress the issue? I might be able to manage manually building an IL stripped package, should I do this and share results? I'm quite curious if it will be successful, fail the same as Xamarin.Android 12.3, or fail differently. Or is

[2022-08-15 18:25] isakgjaerum commented on #73959
Yeah we are definitely in the last category, we are aware of the drawbacks of this, but are forced due to interoperating with existing systems.

I figured this was an area with little to no imvestment. I do though see the minimal solution i suggested as a quick and easy thing to implement. Would it be betrer to submit a PR with a proposal?

[2022-08-15 18:26] MattGal commented on #73873
I haven't touched the code signing stuff since almost a year before 6.0.7 shipped, but if I can help I will.   Not sure what the ask here is yet.

[2022-08-15 18:33] mangod9 commented on #70109
Hi @jkoritzinsky is this still being worked on for 7?

[2022-08-15 18:36] okarpov commented on #73920
Welcome to Ubuntu 20.04 LTS (GNU/Linux 5.4.0-29-generic x86_64)

 * Documentation:  https://help.ubuntu.com
 * Management:     https://landscape.canonical.com
 * Support:        https://ubuntu.com/advantage

  System information as of Mon 15 Aug 2022 08:11:09 PM CEST

  System load:  0.17               Processes:             118
  Usage of /:   4.7% of 137.27GB   Users logged in:       1
  Memory

[2022-08-15 18:36] okarpov commented on #73920
will create repro

[2022-08-15 18:37] pavelsavara commented on #63703
sorry :(

[2022-08-15 18:39] SwapnilGaikwad commented on #46010
That's great. I'll take a look then.

[2022-08-15 18:43] thangchung opened #76199 ".NET 7.0.100-preview.7.22377.5 threw an exception in docker (docker-in-docker with devcontainer - Ubuntu 20.4)"
### Description

I used `devcontainer` on `vscode` to create the `Ubuntu 20.4` with `docker in docker` approach. I packaged the .NET 7 Preview 7 application into the docker container. When I run its image inside devcontainer, then it keeps silent. Then I put the variables `COREHOST_TRACE = 1`. Then I see a lot of exceptions there. See below

[code]

I expect it can run normally, because when I cre

[2022-08-15 18:46] AndyAyersMS commented on #72194
Seems possible but unlikely -- diffs from #71161 are no longer available so hard to say for sure.

@jakobbotsch any chance you could take a look?

In the lab we only see this regression (June 27) on the ampere ubuntu arm64 runs, so it's not all arm64 HW either.

[ubuntu ampere](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory/refs/heads/main_arm64_ubuntu%2020.04/System.Buffers.Tes

[2022-08-15 18:48] mangod9 commented on #57698
@EgorBo if the PR is in a separate repo we should probably track the issue in that repo, since this is still marked as 7.

[2022-08-15 18:48] mangod9 commented on #66774
since this is macOS x64 only moving to 8

[2022-08-15 18:49] SingleAccretion commented on #73951
I see what is going on. I suppose it should have been obvious from the start...

[code]
The implication is that this kind of retyping is not legal for candidate locals.

Will be preparing fixes tomorrow; they may take some time due to this code relying in the retyping a good deal (remember that the whole thing is intended to make `push`ing thing easier).

[2022-08-15 18:50] trylek commented on #12475
I fixed this issue by the end of 2019 before the .NET repo consolidation.

[2022-08-15 18:50] #12475 closed

[2022-08-15 18:53] BruceForstall commented on #57918
A few questions: why do we have that stress mode, and is it still valuable? Possibly it was introduced before we had an adequate number of comprehensive struct test cases as a way to artificially increase that number. If that is true, is that still a concern? Or do we get good IL-level BLK stress cases via Fuzzlyn/Antigen/Span<>/etc.?

[2022-08-15 18:57] jkoritzinsky commented on #70109
I'm working on this in https://github.com/dotnet/runtime/pull/73661. I have one last failure that I'm going to try to investigate today.

[2022-08-15 18:59] #70318 closed

[2022-08-15 18:59] EgorBo commented on #57698
@mangod9 that PR was already merged and we're just waiting for PGO data to propagate to dotnet/runtime via maestro bot

[2022-08-15 18:59] okarpov commented on #73920
[code]

Linux:

[code]

Windows:
- works as expected

[2022-08-15 19:00] RobertHenry6bev opened #73964 "gcc ubsan reports pointer overflow in bitsetasshortlong perhaps a false positive"
### Description

ubuntu linux x64 all gcc's report a runtime error with
https://github.com/dotnet/runtime/blob/a85b7826d6b7d120c827b5350a962b13b095a8b8/src/coreclr/jit/bitsetasshortlong.h#L492

When ubsan complains The bs is a reference to a pointer; the pointer has value 0xff*fYULL.  Adding 1 to the pointer adds sizeof (uint64)_t) to the bit value which wraps around in 64 bit integer,  resulting

[2022-08-15 19:00] ductai230894 commented on #61231
Thank you, do you have any example for this, maybe I need some lib like sqlite to run in my application, but only 1 exe file, nothing else, some example code may help you understand correctly

[2022-08-15 19:02] BruceForstall commented on #73964
A simple fix would be to initialize m_bs=nullptr in the short case (before setting m_bsEnd) so the tool doesn't get upset about rounding.

[2022-08-15 19:03] BruceForstall commented on #73964
(Fixed reference to wrong Bruce)

[2022-08-15 19:16] neon-sunset commented on #61231
@ductai230894 This conversation is unfortunately offtopic.
Runtime compilation and unsupported reflection scenarios will not work in NativeAOT by design. There is no option to examine not statically linked to or rooted types and there is no option to compile code in runtime because it is Ahead Of Time compilation.

One of the reasons to introduce source generators in C# (as far as I understand) wa

[2022-08-15 19:36] #72841 closed

[2022-08-15 19:36] martencassel commented on #72841
LGTM

[2022-08-15 19:44] radical commented on #73646
I didn't see this anywhere else, but I'm don't track `Libraries Build windows x64 Debug` builds, so I don't know if it has been seen on any other PRs/branches.

[2022-08-15 19:46] grrttedwards commented on #73946
@davidfowl I have for now, just would prefer not to have to copy the source -- provided there's not a good reason not to expose this class.

[2022-08-15 19:50] wfurt commented on #73920
It seems like the socket is failing to connect - and not failing on socket options as originally reported. I think you should try it without any HTTP - just getting to socket nailed down first. And the code above is still just a fragment referencing `wr`. (with that I cannot use it ASIS without further modifications)

[2022-08-15 20:03] radical commented on #73932
Closing this in favor of https://github.com/dotnet/runtime/issues/73961 which is referenced in disabled tests.

[2022-08-15 20:03] #73932 closed

[2022-08-15 20:06] okarpov commented on #73920
its complete console main method - why you can not use it?

it works on Windows 11 with no errors and returns google page html

[2022-08-15 20:06] kunalspathak commented on #72645
@mangod9 - can you confirm the steps you used to repro this? And if I understand correctly, you were able to repro it on linux/arm64?

[2022-08-15 20:06] mrsharm commented on #73784
I was able to repro this issue locally and proved that after we set COMPLUS_GCEnableSpecialRegions=1, the regression dissapears:

Without COMPlus_GCEnableSpecialRegions=1:

|         Method | LineLengthRange |     Mean |    Error |   StdDev |   Median |      Min |      Max |      Gen 0 |      Gen 1 |     Gen 2 | Allocated |
|--------------- |---------------- |---------:|---------:|---------:|-----

[2022-08-15 20:09] JulieLeeMSFT commented on #73927
@kunalspathak PTAL and triage quickly.
cc @dotnet/jit-contrib

[2022-08-15 20:10] radical commented on #73949
@ysmoradi
1. How are you building this? Is this a build, or publish?
2. Can you share the binlog? (You can use https://marketplace.visualstudio.com/items?itemName=VisualStudioProductTeam.ProjectSystemTools2022 to get the binlog in VS)
3. Is this with the blazor template project?

Without that, I'm unable to build blazor web assembly projects using dotnet build command in CI/CD pipeline

What error

[2022-08-15 20:12] bartonjs commented on #73959
Starting with a PR is discouraged, because any changes to public API have to go through API review.  Starting with a prototype (to make sure that it can work the-way/for-what you want it to), turning that into an API proposal, and then after that gets discussed and approved then turning that into a PR would be OK.

One thing that I worry about with making things more piecemeal is that it would inc

[2022-08-15 20:14] okarpov commented on #73920
changing the socket ConnectCallback to this - works on linux and windows with no errors

[code]

[2022-08-15 20:14] #37970 closed

[2022-08-15 20:22] okarpov commented on #73920
commenting out that two lines returns google html page on linux as well

[code]

[2022-08-15 20:24] okarpov commented on #73920
dotnet --info

Host (useful for support):
  Version: 6.0.6
  Commit:  7cca709db2

.NET SDKs installed:
  No SDKs were found.

.NET runtimes installed:
  Microsoft.AspNetCore.App 6.0.6 [/usr/share/dotnet/shared/Microsoft.AspNetCore.App]
  Microsoft.NETCore.App 6.0.6 [/usr/share/dotnet/shared/Microsoft.NETCore.App]

To install additional .NET runtimes or SDKs:
  https://aka.ms/dotnet-download

[2022-08-15 20:24] #73775 closed

[2022-08-15 20:25] AaronRobinsonMSFT commented on #70109
I don't think we should be pushing on this at this point. There is no .NET 7 requirement and I'd prefer to defer this to .NET 8

[2022-08-15 20:28] tarekgh commented on #73915
Looks there are some places in the ConfigurationBinder.cs which we swallow the exception. We may consider using `BinderOptions.ErrorOnUnknownConfiguration` in such places and allow throwing there.

https://github.com/dotnet/runtime/blob/8be2105118b3743a968fd9b8ad4d0c490172b7ca/src/libraries/Microsoft.Extensions.Configuration.Binder/src/ConfigurationBinder.cs#L614
https://github.com/dotnet/runtime/

[2022-08-15 20:31] okarpov commented on #73920
have just found this: https://github.com/dotnet/runtime/issues/24917

[2022-08-15 20:32] jkoritzinsky commented on #70109
Sounds good.

[2022-08-15 20:36] #63768 closed

[2022-08-15 20:41] kunalspathak commented on #73927
@RobertHenry6bev  - Is the repro to compile coreclr using `gcc -fsanitize=undefined` and any console application would hit this error? I can definitely try out and see all the places where we hit them, but it is unlikely that we will be able to fix in .NET 7. Having .NET 8 as milestone is suitable for this.

[2022-08-15 20:42] tarekgh commented on #73832
@davidfowl do you think this is critical to fix for .NET 7.0? or can it wait to 8.0? from reading looks we have this behavior in 6.0 too.

[2022-08-15 20:46] mangod9 commented on #73658
moving to 8 to reduce churn at this point.

[2022-08-15 20:48] mangod9 commented on #66745
@AaronRobinsonMSFT could you please take a look at this. Its arm32 only so perhaps moving to 8 might be ok.

[2022-08-15 20:49] davidwengier commented on #35122
Okay, just woke up and tested, and you're right @tfenise this is nothing to do with the original issue. I will hide all of our comments and slink back to my cave. I guess something in VS/VS for Mac must explain why this was working in Windows for us.

[2022-08-15 20:50] mangod9 commented on #62881
hey @ivdiazsa, could you please check if you can repro this failure? Note that the test is disabled just for arm64 possibly

[2022-08-15 20:50] mangod9 commented on #71414
moving to 8 at this point.

[2022-08-15 20:51] Maoni0 commented on #73784
so when regions was enabled did we see the same degree of improvement with these tests? if so it would be fine to close.

[2022-08-15 20:57] jakobbotsch commented on #66745
Not even that but it is also win-arm32 only, so moving it should definitely be fine given that this is not a supported configuration.
Also, I believe it would be fixed as a side effect of #55697.

[2022-08-15 21:00] tipa commented on #70028
I was hitting this problem today as well and that workaround isn't really satisfactory when you are supporting a lot of languages in your app, because the `DisplayName` returns the localised name, not the English name. One would have to create that dictionary for every supported language.

I would appreciate if this could be fixed soon.

[2022-08-15 21:02] reflectronic opened #73969 "Consider obsoleting `RSA.EncryptValue`, `RSA.DecryptValue`"
`RSA.EncryptValue` and `RSA.DecryptValue` have been obsolete and non-working since .NET Framework 4.6 (and were removed initially from .NET Core). [A comment in the .NET reference source suggests](https://github.com/microsoft/referencesource/blob/5697c29004a34d80acdaf5742d7e699022c64ecd/mscorlib/system/security/cryptography/rsa.cs#L209-L227) that the members should have been marked obsolete long a

[2022-08-15 21:07] bartonjs commented on #73969
Huh, I thought we had already done this.  But, apparently not.

[2022-08-15 21:07] AaronRobinsonMSFT commented on #66745
Good point @jakobbotsch.

[2022-08-15 21:13] bartonjs commented on #73969
Actually, they've never worked for built-in providers.  They were abstract in .NET Framework 1.0 and RSACryptoServiceProvider threw a NotSupportedException.  RSAPKCS1KeyExchangeFormatter is the only thing that hinted at what the method pair was supposed to do, namely the raw RSA public key operation and raw RSA private key operation.

All we did in 4.6 was change abstract to virtual+throw so we di

[2022-08-15 21:15] mrsharm commented on #73784
Yes, comparing net6.0 (w/o regions enabled by default) and the results above, I observe a definite improvement:

|         Method | LineLengthRange |     Mean |    Error |   StdDev |   Median |      Min |      Max |      Gen 0 |     Gen 1 |     Gen 2 | Allocated |
|--------------- |---------------- |---------:|---------:|---------:|---------:|---------:|---------:|-----------:|----------:|--------

[2022-08-15 21:15] #73784 closed

[2022-08-15 21:28] jkoritzinsky opened #73971 "Minimum .NET SDK version updated to 7.0.100 Preview 7"
We have updated out minimum .NET SDK version to 7.0.100 Preview 7.

If you use the `build.cmd` script's `-vs` flag, then there is no action required.

If you directly open the solution files in the repo in Visual Studio or you use environments that use the global SDK (such as Visual Studio Code), download and install the 7.0.100-preview.7 SDK globally from https://dotnet.microsoft.com/en-us/downlo

[2022-08-15 22:05] ivdiazsa commented on #62881
@mangod9 No luck so far

[2022-08-15 22:11] danmoseley commented on #73658
@Silkfire you marked thumbs down. Is this issue affecting you?

[2022-08-15 22:14] danmoseley commented on #72841
@martencassel  as you use that doc, if you find any places it could be improved we would welcome a PR. Docs tend to get stale!

[2022-08-15 22:27] richlander opened #73974 ".NET 6 and .NET Framework 4.8.1 return different value for `OSArchitecture` when running emulated as x86"
Update: Looks like .NET 7 and .NET Framework 4.8.1 have the expected behavior and .NET 6 differs. Seems like we'll need to leave that behavior as-is at this point. This situation should be documented as a known issue and breaking change.

Intentional? Bug?

See: https://github.com/dotnet/core/issues/7709

.NET 6:

[code]

.NET 7:

[code]

.NET Framework 4.8.1:

[code]

[2022-08-15 22:31] alexhelms opened #73975 "LibraryImport with CLong produces SYSLIB1051 and requires disabling runtime marshalling"
### Description

Creating a `LibraryImport `P/Invoke function with `CLong` parameters produces a SYSLIB1051 error saying that runtime marshalling must be disabled in order to use a `CLong` as a parameter.

### Reproduction Steps

I have this C function signature and the corresponding P/Invoke function.

[code]

And the compiler will produce three errors (one for each `CLong`) -- `error SYSLIB1051:

[2022-08-15 22:35] AaronRobinsonMSFT commented on #73975
@alexhelms Appreciate this being called out. At this point I think we are unlikely to try and mitigate this for .NET 7, but this is something we should address in .NET 8. Please let us know if this is heavily impacting.

[2022-08-15 22:36] #73934 closed

[2022-08-15 22:38] alexhelms commented on #73975
That is unfortunate but I understand, release is getting close! The `DllImport` workaround allows me to move forward and I don't require AOT support so this is not a blocker. I'm just experimenting with the new `NativeLibrary` feature.

[2022-08-15 22:41] AntonLapounov commented on #73974
Hmm, according to my old issue #26612, it used to return `OSArchitecture: X86`.

[2022-08-15 22:44] hoyosjs commented on #72755
This hasn't reproed since 8/7; moving to future until we have something to make it actionable.

[2022-08-15 22:53] ericstj commented on #73792
We should never have these tests using a System.Private reference.  Something is leaking in from a ProjectReference.

Is this ProjectReference actually required:
https://github.com/dotnet/runtime/pull/73087/files#diff-4d639cb37fe53cdeae4262c1f5be7936cdd81e3b4f256f9c59ad02ec69b300d9R101

We don't use ProjectReferences for any other libraries which are part of the shared framework (System.Runtime, S

[2022-08-15 22:54] ericstj commented on #49866
Fixed in https://github.com/dotnet/runtime/pull/73548, thank you @dhhoang

[2022-08-15 22:54] #49866 closed

[2022-08-15 22:58] ericstj commented on #73778
This does appear to be an existing issue in `EventLogWatcher`.  The same bug was present in .NETFramework: https://referencesource.microsoft.com/#System.Core/System/Diagnostics/Eventing/Reader/EventLogWatcher.cs,275

@DaneSpiritGOD have this caused an issue for you in your application or did you just notice it through code inspection?

[2022-08-15 22:59] #54859 closed

[2022-08-15 23:19] dakersnar commented on #70330
I've been looking into this, here's an update. The short of it is a fix will not be ready for the RC1 snap.

The long story is I'm trying to break down the algorithms to figure out what is causing the difference. I'm also trying to verify which output is correct, the original behavior or the new behavior.

The `n3` BigInteger that gets used in the example above is a negative number, yet the result

[2022-08-15 23:19] #73750 closed

[2022-08-15 23:26] ericstj commented on #73706
The `ConfigurationErrorsException` is expected for any of the strongly typed configuration sections that are no longer supported.

This case is similar to the TraceSource case where there is no alternative API to specify this information.

I agree that this is not a regression -- it's been this way since the library was introduced.   Since we haven't seen any customer requests for this I'm moving

[2022-08-15 23:26] #73933 closed

[2022-08-15 23:40] hoyosjs commented on #72988
This is not a runtime issue - it looks like the project saw a nuget config with bad info (a path that didn't exist):

[code]

[2022-08-15 23:40] #72988 closed

[2022-08-15 23:42] hoyosjs commented on #73908
@mangod9 I haven't tested if this only affects 6.0

[2022-08-15 23:47] mangod9 commented on #73908
@am11 as fyi. @ayakael looks like this was only fixed in .NET 7. Is the ask to backport to 6?

[2022-08-15 23:53] hoyosjs commented on #73162
Closing since the branches were deleted. Please reopen if we see more branches using images that don't exist. Main branch has moved from such one.

[2022-08-15 23:54] #73162 closed

[2022-08-16 00:00] carlossanlop commented on #73724
Acknowledged. I'll close it. If I see any other APIs, I'll open a new issue.

[2022-08-16 00:03] #71708 closed

[2022-08-16 00:07] DaneSpiritGOD commented on #73778
Thank you for your reply. I just noticed it through reading source code.

[2022-08-16 00:14] ericstj commented on #72594
@akoeplinger can you clarify what you think should happen, or close this if you agree with what's said here?

[2022-08-16 00:15] ericstj commented on #72595
We can look at cleaning this up in v next.

[2022-08-16 00:16] am11 commented on #73908
It is fixed in v7:

[code]

so we would need to backport it manually to v6 branch, since in v6, the issue is not related to AOT vs. singlefile but rather the configuration which affects the compile step.

[2022-08-16 00:23] davidfowl commented on #73832
I think we should fix this in .NET 7 and 6

[2022-08-16 00:30] AaronRobinsonMSFT commented on #73975
Right. Thanks for understanding. We will get this done in .NET 8. Please ping us early next year if you don't see any traction so we can get on this and you can try it out in an early preview.

[2022-08-16 00:35] davidfowl commented on #73946
I don’t see a reason to expose it. It’s an implementation detail.

[2022-08-16 00:55] danmoseley commented on #73755
@mayadav1 What version of ninja do you have? Are you building the latest main or something else?

[2022-08-16 01:12] v-wenyuxu commented on #69092
Failed again in: [runtime-coreclr gcstress-extra 20220814.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1942951&view=ms.vss-test-web.build-test-results-tab&runId=50069558&resultId=110935&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2022-08-16 01:13] John0King commented on #63768
ref itself seem's being cut ?

[2022-08-16 01:17] hamarb123 commented on #63768
@John0King , ref fields should be in a ref struct, and is only .NET 7+

[2022-08-16 01:24] ductai230894 commented on #61231
I am sorry, I thank you for you guide
I have 1 problem when use native code with .net 7
I read from https://github.com/dotnet/runtime/blob/main/src/coreclr/nativeaot/docs/interop.md
I read about for DirectPInvoke and NativeLibrary, but when I use in my project I don't work, I can't load .lib and use in my project
My example Code

C++ code

[code]

my example .csproject file

[code]

C# code

[code

[2022-08-16 01:28] John0King commented on #63768
@hamarb123  so there still no way to write a `BineryTree` or other `Tree` in  struct ?

[2022-08-16 01:30] am11 commented on #73908
@ayakael, if you could apply https://github.com/dotnet/runtime/pull/73986.patch and test whether it fixes the issue in Alpine distro package, that would be great.

[2022-08-16 01:35] hamarb123 commented on #63768
No, because a `ref` field must be in `ref struct`, but a `ref` field cannot refer to a `ref` struct. If your value type is a `unmanaged` struct, then you could `stackalloc` some memory and manage everything manually (i.e. create a new allocator like malloc for that segment of memory, re-interpretation of memory for the value type, 'pointers' to other values which could just be an offset from the s

[2022-08-16 01:52] John0King commented on #63768
I think the `ref` of the field is not the same size of the struct, (I understand the `ref` is like `pointer` , it should be 32/64 bit )  so a struct has a `ref` or another struct of it's type is
[code]

[2022-08-16 02:38] hez2010 commented on #71210
Maybe in long term we can extend CoreCLR and NativeAOT to support mobile platforms, so that we won't suffer from plenty of performance issues of mono?

[2022-08-16 02:58] Junjun-zhao commented on #73936
That make sense. We will share the information to the customer to update their code.
Can you confirm whether team will create a breaking change document for this?

[2022-08-16 03:03] hamarb123 commented on #63768
`ref` fields are implemented as managed pointers (which are just pointers that move with the GC). The reason that you can't stick them in any type (such as a `struct` that is not a `ref struct`) is due to the span safety rules, if you want to read in-depth what they are and why they are what they are see here https://github.com/dotnet/csharplang/blob/main/proposals/low-level-struct-improvements.md

[2022-08-16 03:23] #66537 closed

[2022-08-16 03:49] silkfire commented on #73658
Not directly. It was more to show support to those people who were hoping this would be fixed in the upcoming .NET version.

[2022-08-16 03:50] danmoseley commented on #73974
.NET Framework through .NET 6 get OSArchitecture from wProcessorArchitecture out of GetNativeSystemInfo.

In .NET 7 [this changed ](https://github.com/dotnet/runtime/pull/60910) to use IsWow64Process2 if available, otherwise fall back to the previous method.  (Aside, it seems inconsistent that if IsWow64Process2 is found but fails, we [fall back](https://github.com/dotnet/runtime/blob/53312adb2873

[2022-08-16 04:32] am11 commented on #73974
I think the idea was to use new API and fallback consistently on the Windows versions which support `IsWow64Process2` (1511 onwards). Thus, both `isWow64Process2()` and `MapMachineConstant()` fallback to `ProcessArchitecture`.

[2022-08-16 04:35] danmoseley commented on #49120
we can just do `<NoWarn>$(NoWarn.Replace('1591','')</NoWarn>` globally for ourselves?

[2022-08-16 04:57] tmds commented on #73923
Do you have a link?

[2022-08-16 05:19] jvmlet commented on #73915
Is there **NEAREST** Future milestone ?
You ship the application documenting all the configuration options and have no chance to validate them at runtime.
No observability at all
Sounds like a **blocker issue.**
BTW, don't you have static code analysis  as build-pipeline step ? Sonar has no issue to catch this violation
![image](https://user-images.githubusercontent.com/6664858/184803352-e64ae4c1-

[2022-08-16 05:40] mayadav1 commented on #73755
I am trying to build latest main.

[2022-08-16 05:40] tmds commented on #73920
[code]
is because you're calling `Socket.ConnectAsync` with a `DnsEndPoint`.

You need to resolve the hostname, and try to connect to each `IPEndPoint` creating a new `Socket` after each failed attempt (cfr https://github.com/dotnet/runtime/issues/73920#issuecomment-1215743144).

[2022-08-16 05:55] msucgun opened #73992 "JsonSerializer.Serialize call doesn't return and continues to run for large lists."
### Description

Hi,

I have a list that includes 2.000.000 items. While calling JsonSerializer.Serialize method for it, the method call keeps running recursively and doesn't return any result. The memory usage pattern during the method call is as follows.

![vs_dbg_cpu_ram](https://user-images.githubusercontent.com/929462/184800626-979fc021-2a5b-4b3f-a8af-8104018ce3e4.png)

### Reproduction Steps

[2022-08-16 05:59] am11 opened #73993 "Info in host/testing.md is outdated for local testing"
The steps in doc https://github.com/dotnet/runtime/blob/78083e7/docs/workflow/testing/host/testing.md do not work locally.

After some debugging, I have figured out a workaround, but I am not sure if we want to document the workaround or fix the tests?

[code]

Workaround:
[code]

cc @elinor-fung

[2022-08-16 06:27] okarpov commented on #73920
i took this example from here: https://github.com/dotnet/runtime/issues/48219
where the similar issue seem was resolved

also it works on windows, so this is not obvious why it does not work in linux

[2022-08-16 06:31] okarpov commented on #73920
main issue that i'm trying to achieve is making our application to Reuse Port to avoid port exhausting on sending a lot of outbound connections.

so, could you, please, provide any affordable solution?

[2022-08-16 06:49] BarPupko commented on #73940
Hi, jeff.
I can't add a label or redirect the issue.

[2022-08-16 06:50] ViTokarev commented on #73923
@tmds https://www.sa-mp.com/download.php

Direct link to download the file from the same site:
http://files.sa-mp.com/samp037svr_R2-1.tar.gz

[2022-08-16 07:09] dorthl commented on #72557
@danmoseley i didn't solve it

But I did a lot of tests and found that the smaller Working Set of windows is just an optimization of .net for windows
For a simple asp.net core Working Set, it is normal at 100M~,Partial memory application in windows to use shared memory or some windows-specific~
The usual explanation for linux is that there is no relevant alternative api on this platform
The main s

[2022-08-16 07:23] ViktorHofer commented on #49120
Technically yes, but the regarding the bigger picture, Arcade is about providing the right defaults. IMO we should discuss if that setting still makes sense (it comes from roslyn's toolset repo).

[2022-08-16 07:36] mayadav1 commented on #73755
I refined the cause of error and found below error as cause of failure .

C:\Users\mayadav1\Desktop\runtime\src\native\corehost\test\ijw\ijw.cpp(22): error C2253: 'System::Numerics::INumberBa
  se<TSelf>::IsImaginaryNumber': pure specifier or abstract override specifier only allowed on virtual function

[2022-08-16 07:43] #73874 closed

[2022-08-16 07:52] jkotas commented on #61231
This needs to be the name that you use in your `DllImport`, ie `NativeExampleClass` in your example.

[2022-08-16 07:57] runebrg opened #73999 "String.StartsWith doesn't work if the string contains "AA" when using Norwegian/Danish cultureinfo in .NET 6"
### Description

String.StartsWith() will sometimes return the wrong value if the string contains "AA" and culture is set to Norwegian (nb-NO) or Danish (da-DK)

Even though the double A has a special meaning in Norwegian, I would expect `s.StartsWith(s.Substring(0, 2))` to always return true

Example .net fiddle:
https://dotnetfiddle.net/h4u01x

### Reproduction Steps

`var s = "BAAC";
var b = s.

[2022-08-16 07:58] hoyosjs commented on #73755
I thought for a second it was going to be python and the comment didn't get posted. But no, your error is you need a newer version of VS installed (17.2 Preview 2) with a v143 compiler installed.

[2022-08-16 08:14] MichalStrehovsky opened #74000 "[NativeAot] Devirtualization opportunity around field loads"
Notice the first interface call is not devirtualized, only the second, after storing to a local.

[code]

[code]

Cc @EgorBo

[2022-08-16 08:21] #64163 closed

[2022-08-16 08:59] krwq opened #74001 "UInt128 implicit casting"
Consider following code (variant of this is frequently used by serializers):

[code]

now uncomment new UInt128 overload which will likely be added by libraries after net7.0 ships and now users of those libraries get compile error:

[code]

I'm getting those errors both in the product and tests in https://github.com/dotnet/runtime/pull/73892 and have to workaround them by explicitly casting. Also

[2022-08-16 09:10] paulquinn commented on #72365
I'm also getting the same error. It looks like it's also appearing here: https://github.com/aws/aws-lambda-dotnet/issues/1244.

My config:
Dotnet runtime version: v7.0.100-preview.7 (ARM64)
OS : macOS 12.5 (Monterey)
CPU: ARM64 Apple Silicon M1 Max

This is happens (again, intermittently) when I'm running/debugging a few microservices (on Kestrel - was unsure if this was a Kestrel issue, but saw t

[2022-08-16 09:14] carpenterchris commented on #72153
you could try to limit CPU spent by threadpool looking for work by changing spin limit:
`DOTNET_ThreadPool_UnfairSemaphoreSpinLimit=0` (or some other, lower than default number)

it drastically improved the CPU usage of our system, but it does have a negative effect on the max throughput

[2022-08-16 09:29] teo-tsirpanis commented on #73969
@reflectronic can you reword the message to guide the users towards using `Encrypt` and specifying an `RSAEncryptionPadding`?

[2022-08-16 09:44] #73755 closed

[2022-08-16 09:51] ViktorHofer commented on #72112
cc @ericstj @danmoseley @jeffschwMSFT @marek-safar

[2022-08-16 10:05] richlander commented on #73974
I tested .NET 7. It matches .NET Framework 4.8.1 behavior. I updated the bug. Seems like this behavior needs to be documented as a known issue and (good) breaking change. Fair?

[2022-08-16 10:26] krwq commented on #73999
FWIW I don't know specifics of Danish/Norwegian culture but in Polish we also have special phonetic characters (i.e. `sz`) and I'd be surprised if this:

[code]

ever returned false (this works as I'd expect for Polish) so it makes sense that this works consistently across other cultures as well.

[2022-08-16 10:34] richlander commented on #73873
Interesting issue. We first need to figure out the right behavior. W/o that (since I'm now OOF), this looks like a candidate for servicing.

[2022-08-16 10:48] georgiuk commented on #70208
Thank you for the answer.
It is clearer now.
Some missing points:
What happens with the IDeserializationCallback interface?
Will the marked-as-warning APIs throw Exception on .NET 9.0?

[2022-08-16 10:50] roji commented on #73722
Sorry, I ended up missing the deadline... https://github.com/dotnet/dotnet-api-docs/pull/8311 adds the directly to dotnet-api-docs.

What's the status on the source code being the source of truth for API docs? :wink:

[2022-08-16 11:01] MarcoRossignoli opened #74003 "Hang for x64 runtime on arm64 Windows virtual machine"
### Description

When we run `dotnet test --arch x64` on arm64 Windows "virtual machine" process hangs.
It doesn't repro on "non virtual" arm64 Windows machine.

Full description inside the [item](https://devdiv.visualstudio.com/DevDiv/_boards/board/t/.NET%20DevExp%20Prague/Stories/?workitem=1593316)

### Reproduction Steps

run `dotnet test --arch x64` on arm64 Windows virtual machine and version

[2022-08-16 11:02] MarcoRossignoli commented on #74003
cc: @janvorli @mangod9 @jkotas

[2022-08-16 11:03] pstrus commented on #61349
I'm having same issue .Is there any way/workaround to read these params ?

[2022-08-16 11:23] jakobbotsch commented on #57918
I don't know, but I would be all for removing it, or at least changing it so that we are not doing it for IL locals.

[2022-08-16 11:26] akoeplinger commented on #73792
@ericstj if I remove that ProjectReference then the error doesn't happen anymore. I can send a PR if you think that's the correct fix.

[2022-08-16 11:32] akoeplinger commented on #73960
/cc @simonrozsival

[2022-08-16 11:56] tmds commented on #71753
Can we make a decision on whether to use `PreallocationSize` on `Unix` in this repo?

[2022-08-16 11:58] simonrozsival commented on #73960
Hi @ComptonAlvaro! The `HttpClientHandler` uses Xamarin's native `AndroidMessageHandler` under the hood by default and it doesn't seem to support the `ClientCertificates` property (even though it has that property).

What you should try is adding the following property to your csproj file:
[code]

This will force `HttpClientHandler` to use `System.Net.Http.SocketsHttpHandler` instead which should

[2022-08-16 11:59] #73794 closed

[2022-08-16 12:01] Webreaper commented on #40386
I'm currently in the middle of a huge refactor to convert my app from Blazor Server to Hosted Blazor WASM, using .Net 7 Beta 7.

I finally got some stuff working after a few days today. It turns out that deserializing around 60 relatively simple EFCore objects is taking over 20 seconds, during which the browser freezes. As per the OP, I split out my calls to `GetAsync` and `ReadFromJsonAsync`, and

[2022-08-16 12:13] LakshanF commented on #71395
The PRs #73416 and https://github.com/dotnet/sdk/pull/27159 should address this issue.

[2022-08-16 12:15] #72559 closed

[2022-08-16 12:16] #72310 closed

[2022-08-16 12:23] ComptonAlvaro commented on #73960
@simonrozsival Thanks for your suggestion.

It works.

Now the question if it AndroidMessageHandler will support ClientCertificates to avoid to do this setup, because it would be more intiuitve, because when I use .NET 6 and it is said it can be used by MAUI, I expect that it will can use in other the projects that can reference this library.

Thanks.

[2022-08-16 12:24] elliottp6 opened #74005 "Access Violation in CastHelpers.ChkCastClassSpecial"
### Description

I received this error the other night after hundreds of hours of stress testing a .NET project:

Fatal error. System.AccessViolationException: Attempted to read or write protected memory. This is often an indication that other memory is
corrupt.
   at System.Runtime.CompilerServices.CastHelpers.ChkCastClassSpecial(Void*, System.Object)

However, the project is 100% in safe C# code

[2022-08-16 12:26] stephentoub commented on #71753
We're not going to change anything here for .NET 7, so there's no rush.

[2022-08-16 12:30] stianeklund commented on #61411
Any news as to when these changes will be available in net7? I don't see any new changes in `System.Net.Sockets`, might just be in daily builds (I haven't gone that far to test that yet). Also curious whether or not this will be back ported to net6?

[2022-08-16 12:34] stephentoub commented on #61411
It's already in daily builds and will be in RC1 of .NET 7. There are no plans to backport it.

[2022-08-16 12:48] AaronRobinsonMSFT commented on #74003
@MarcoRossignoli Can you elaborate on what is hanging? Is it the initial `dotnet` process or one of the child processes that spin up? It would be helpful if you could share a stack of the thread that is blocked.

[2022-08-16 12:51] MarcoRossignoli commented on #74003
The stack is in the internal linked bug, anyway I can share here, in the bug there're also some dumps.

[code]

[2022-08-16 13:06] AaronRobinsonMSFT commented on #74005
A `null` check here isn't needed because an `object` instance without a `MethodTable` is invalid. If this is failing because of a `null` value, what has happened here is a GC hole has been discovered - entirely possible. Adding a check would hide that case when the value wasn't `null` and make for a potentially much worse situation.

Agree this is likely a runtime issue if the user application wit

[2022-08-16 13:17] danmoseley commented on #73974
Well I'm still wondering why you are seeing the .NET Framework result.

[2022-08-16 13:26] jogibear9988 opened #74008 "System.Text.Json -> Deserialize Null to Integer Property"
### Description

We hav the following Code:

        [JsonIgnore(Condition = JsonIgnoreCondition.WhenWritingNull)]
        public virtual int OrderIndex { get; set; }

But it throws a exception when we deserialize a "null" value to a Object with this et

### Reproduction Steps

see code above

### Expected behavior

should use default value for int

### Actual behavior

does not work

### Regressi

[2022-08-16 13:26] richlander commented on #73974
I just re-ran the .NET Framework sample and it is the same (just to double-check).

[2022-08-16 13:27] MichalPetryka commented on #74005
Keep in mind that AllowUnsafeBlocks set to false doesn't mean your code is safe, APIs like Unsafe.As can still cause GC holes and crashes.

[2022-08-16 13:28] jakobbotsch commented on #72194
Hottest methods via PGO data (sum of basic block counts):
[code]

Comparing 52f4e7c567 (left) to 8fe39db6203 (right): https://www.diffchecker.com/BfH1vTmK
Definitely seems PGO related:
[code]
[code]
and these two methods have significant diffs.

[2022-08-16 13:30] AaronRobinsonMSFT commented on #74003
This looks related to W^X logic on ARM64EC. @janvorli or @jkotas Any thoughts? There are three DMPs on the internal bug, two with the below stack, and one trying to set up the memory via `coreclr!ExecutableAllocator`.

[code]

[2022-08-16 13:40] jeffschwMSFT commented on #73940
Sorry, what I meant is file a feedback item in Visual Studio.  Then you can add a comment with the link to the issue on https://developercommunity.visualstudio.com/.

[2022-08-16 13:57] #40933 closed

[2022-08-16 14:12] BarPupko commented on #73940
OK Jeff ,Thank you , I will post my issue there,hope someone in the vs team will answer me.
have a great day.
I think you can close this Issue.

[2022-08-16 14:13] BarPupko commented on #73940
OK Jeff ,Thank you , I will post my issue there,hope someone in the vs team will answer me.
have a great day.
I think you can close this Issue.

[2022-08-16 14:20] performanceautofiler[bot] opened #74013 "[Perf] Windows/x86: 16 Regressions in MicroBenchmarks.Serializers.Xml"
### Run Information

Architecture | x86
-- | --
OS | Windows 10.0.18362
Baseline | [e94f7ceb73244d9c4bf7a0d38fb59d01e300ef00](https://github.com/dotnet/runtime/commit/e94f7ceb73244d9c4bf7a0d38fb59d01e300ef00)
Compare | [75228aca01a24087d21a76f32bf8d87dc9888648](https://github.com/dotnet/runtime/commit/75228aca01a24087d21a76f32bf8d87dc9888648)
Diff | [Diff](https://github.com/dotnet/runtime/compare

[2022-08-16 14:31] AaronRobinsonMSFT commented on #73974
@richlander Are the thoughts here in the official "Release Notes" or in the official documentation for `OSArchitecture` or both?

[2022-08-16 14:44] #72921 closed

[2022-08-16 14:51] tmds commented on #73923
The issue is in `samp03srv`.

To do something similar as .NET redirect on the shell, I run: `./samp03svr | less`.

There is no output.

When I terminate by pressing `Ctrl+C` the application output is printed (`Started server on port: 7777, with maxplayers: 50 lanmode is OFF.`).

[2022-08-16 14:53] Donis- commented on #67088
Would be nice that such feature could be enabled via `timeBeginPeriod` / `timeEndPeriod` pairs or the not so documented `NtSetTimerResolution`.
To my surprise, after setting 1ms desired resolution via above APIs, even though Thread.Sleep resolution seems to be affected, the `System.Threading.Timer`s still fire with resolution >10ms.

OS: Windows 11
.Net 6.0.3

My understanding so far:
Defaults obs

[2022-08-16 15:09] andrewaggb commented on #72153
That makes a large difference for me as well.  It doesn't bring my results down to near synchronous levels but in my example above (running a single thread async receive loop) the one case drops from around 50-60% to 35%ish.  I didn't observe a decrease in throughput but I'm sure there are cases where it could.  I don't suppose there's a way at runtime to scale this based on load?

[2022-08-16 15:14] AaronRobinsonMSFT commented on #73681
@jakobbotsch Is this something _need_ for .NET 7 or just a nice to have?

[2022-08-16 15:14] danmoseley commented on #73974
I think it is worth documenting in both.

[2022-08-16 15:20] jakobbotsch commented on #73681
We need this for .NET 7, it is fixing a user visible C# behavior change (and perf regression).

[2022-08-16 15:42] carpenterchris commented on #72153
I dont think there is: https://github.com/dotnet/runtime/blob/080f708e7018f6c0529b6c875a44d84fc4d74419/src/libraries/System.Private.CoreLib/src/System/Threading/PortableThreadPool.WorkerThread.cs#L34
We are running this setting in production on a couple of our services, only one showed throughput issues - it could be caused by something else

[2022-08-16 15:57] performanceautofiler[bot] opened #74014 "[Perf] Windows/x64: 188 Regressions from GC changes"

[2022-08-16 15:59] ysmoradi commented on #73949
1- Simply right click on the newly created blazor web assembly + aspnetcore backend project and perform `publish`

2- Will submit in separated responses

3- No particular error. I'd expect a size reduction in `dotnet.wasm` when I publish with `<InvariantGlobalization>true</InvariantGlobalization>` but It only happens when I install wasm-tools.

[2022-08-16 16:05] AaronRobinsonMSFT commented on #73974
@danmoseley @richlander Please review https://github.com/dotnet/dotnet-api-docs/pull/8312

[2022-08-16 16:07] ysmoradi commented on #73949
https://user-images.githubusercontent.com/5352980/184926861-3d76dda9-a753-42fe-b051-6bba1649b3c2.mp4
[BlazorApp4_Release_AnyCPU_Build_2022-08-16T20_34_37.5409148+04_30.zip](https://github.com/dotnet/runtime/files/9352613/BlazorApp4_Release_AnyCPU_Build_2022-08-16T20_34_37.5409148%2B04_30.zip)

[2022-08-16 16:07] ysmoradi commented on #73949
Microsoft Visual Studio Community 2022
Version 17.3.0
VisualStudio.17.Release/17.3.0+32804.467
Microsoft .NET Framework
Version 4.8.09037

Installed Version: Community

Visual C++ 2022   00482-10000-00261-AA784
Microsoft Visual C++ 2022

ASP.NET and Web Tools   17.3.375.53775
ASP.NET and Web Tools

Azure App Service Tools v3.0.0   17.3.375.53775
Azure App Service Tools v3.0.0

Azure Functions and

[2022-08-16 16:07] ysmoradi commented on #73949
[code]

[2022-08-16 16:11] CarnaViire commented on #73920
Triage: not critical for 7.0, moving to Future

[2022-08-16 16:12] mangod9 commented on #74003
JanV has recently fixed some x64 emulation issues on arm64: https://github.com/dotnet/runtime/issues/71098. This appears to be another special case.

[2022-08-16 16:19] CarnaViire commented on #73772
Triage: Named pipes were only added recently (todo: link to issue), not a regression. Not critical for 7.0. We should investigate whether it is Native AOT problem or not.

[2022-08-16 16:22] directhex commented on #73764
I can't reproduce this issue. Fresh install of popOS 22.04, installing the distro `dotnet-sdk-6.0` package, yields a found SDK in the correct place:

[code]

[2022-08-16 16:22] ductai230894 commented on #61231
thank you, I finally find my faul, thank you very much, you save my life

[2022-08-16 16:22] bartonjs commented on #73757
I would expect that the new enum values should be checked for whether or not a domain SID is required (https://github.com/dotnet/runtime/blob/080f708e7018f6c0529b6c875a44d84fc4d74419/src/libraries/System.Security.Principal.Windows/src/System/Security/Principal/SID.cs#L567-L576).  But, the last commit to update the enum (https://github.com/dotnet/runtime/commit/7d6fb3a793e268165860a85ccc1ae30fb6dad

[2022-08-16 16:22] akoeplinger commented on #73960
One alternative is also to use `HttpMessageHandler miHttpHandler = new SocketsHttpHandler();` and pass that to gRPC.

This will allow you to not set `<UseNativeHttpHandler>false</UseNativeHttpHandler>` in the .csproj so other parts of your app still use the native http handler (which is the recommended one for most scenarios).

@simonrozsival do you think we can implement `ClientCertificates` supp

[2022-08-16 16:24] CarnaViire commented on #73776
Triage: we might want to figure out the root cause of timeout to find out how critical is it for 7.0

[2022-08-16 16:26] steveharter commented on #73792
@akoeplinger I'll go ahead and create a PR for that thanks.

[2022-08-16 16:28] CarnaViire commented on #73812
Triage: We should fix it in 8.0

[2022-08-16 16:30] danespinosa commented on #73772
Hi @CarnaViire  happy to help. This test should fail if there's a regression in the code/behavior. I could help investigate. Is there a particular branch I should use where this is reproed, also I am not that familiar with the runfo system so would you mind if I setup some time with you to go over how to find where this is failing?

[2022-08-16 16:31] kunalspathak commented on #74013
https://github.com/dotnet/runtime/compare/bff7c3d522cfd6845d8452544ef2d4b81d1e5fb4...a2b6674fbb48f28d67b4b790145f0fc95acd880b

[StephenMolloy](https://github.com/dotnet/runtime/commits?author=StephenMolloy)

[2022-08-16 16:31] tannergooding commented on #74001
CC. @jaredpar who can likely explain the language semantics behind this.

In general, however, we shouldn't rely on implicit conversions for these cases. Implicit conversions do not work well with some languages, such as F#. Likewise, due to how overload resolution works in languages like C# there are often odd rules for which gets picked for various primitive types and adding new types can subtly

[2022-08-16 16:38] kunalspathak commented on #74014
We dont have data to see when regression was exactly introduced, but it might be from one of the following PRs:
- https://github.com/dotnet/runtime/pull/73434
- https://github.com/dotnet/runtime/pull/67389
- https://github.com/dotnet/runtime/pull/73375

@Maoni0 @PeterSolMS

[2022-08-16 16:40] MackinnonBuck commented on #74015
Moving to runtime because this problem appears to be specific to AOT.

[2022-08-16 16:41] kunalspathak commented on #74013
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.18362
Baseline | [e94f7ceb73244d9c4bf7a0d38fb59d01e300ef00](https://github.com/dotnet/runtime/commit/e94f7ceb73244d9c4bf7a0d38fb59d01e300ef00)
Compare | [75228aca01a24087d21a76f32bf8d87dc9888648](https://github.com/dotnet/runtime/commit/75228aca01a24087d21a76f32bf8d87dc9888648)
Diff | [Diff](https://github.com/dotnet/runtime/compare

[2022-08-16 16:45] richlander commented on #73974
Looks good. Thanks for doing that!

[2022-08-16 16:54] ericstj commented on #73832
Got it, this meets the bar for 7.0 if we'd service it in 6.0.  @eerhardt do we have enough info from @davidfowl's [suggestion](https://github.com/dotnet/runtime/issues/73832#issuecomment-1213313164) to try out a fix?  How risky would it be?

[2022-08-16 17:02] simonrozsival commented on #73960
@ComptonAlvaro I'm glad that helped. Thanks for the feedback, we should consider extending the functionality of the native handler in future .NET releases.

@akoeplinger The sockets handler is the default HTTP handler in .NET 5+. But in this case, @ComptonAlvaro needs to configure the handler in a specific way and so the handler must be created manually and then passed to the GrpcChannel. Implemen

[2022-08-16 17:02] performanceautofiler[bot] opened #77064 "Regressions in Perf_String, Perf_Stringbuilder, other on 8/9/2022"
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.19042
Baseline | [543bcc5ee7d6a2b9471b016770227421c43a756e](https://github.com/dotnet/runtime/commit/543bcc5ee7d6a2b9471b016770227421c43a756e)
Compare | [4211dc40d06195682d4b0fc9a220bdb75732d720](https://github.com/dotnet/runtime/commit/4211dc40d06195682d4b0fc9a220bdb75732d720)
Diff | [Diff](https://github.com/dotnet/runtime/compare

[2022-08-16 17:07] JulieLeeMSFT commented on #70642
@kunalspathak Could you take a look at this?

[2022-08-16 17:08] kunalspathak commented on #70642
Sure.

[2022-08-16 17:10] ericstj commented on #74015
I believe the problem here is that ASP.NET is creating generic delegates here which requires JIT.
https://github.com/dotnet/aspnetcore/blob/c85baf8db0c72ae8e68643029d514b2e737c9fae/src/Components/Components/src/Reflection/PropertySetter.cs#L31-L36

@agocke is there something that ASP.NET Or the application can do to tell the AOT tooling to pre-generate this delegate?

[2022-08-16 17:15] Forgind commented on #59061
@jkotas, I had some trouble figuring out how to get architecture out of System.Reflection.Metadata and had trouble finding a relevant example on GitHub. Could you link to somewhere someone did it? Thanks!

[2022-08-16 17:22] tarekgh commented on #73999
@runebrg this behavior is defined by the Unicode standard. `aa` is considered equivalent to `Å`.  You may look at the [history](https://en.wikipedia.org/wiki/Danish_and_Norwegian_alphabet#History) for more info. Look at the similar issue https://github.com/dotnet/runtime/issues/72770.

If you disagree with this behavior, you may log a ticket to ICU [unicode-org.atlassian.net/jira/software/c/projec

[2022-08-16 17:22] #73999 closed

[2022-08-16 17:23] terrajobst commented on #54482
* We'd prefer the read-only terminology because we don't really have the notion of mutable types that can become immutable, we do, however, have the notion of types becoming read only.

[code]

[2022-08-16 17:28] terrajobst commented on #60380
* Looks good as proposed

[code]

[2022-08-16 17:38] jaredpar commented on #74001
Think the reason for this is a bit clearer if you shrink down `UInt128` and `Int128` to these minimal representations:

[code]

Notice the implicit conversion from `long` to `Int128`. This serves as a tie break because it establishes the relationship between `long` and `Int128`. That means overload resolution can tie break between them. There is no such relationship between `long` and `UInt128`. I

[2022-08-16 17:45] terrajobst commented on #68223
* We don't want to add the overload `ReadOnlySequence<char>` because we'd have to deal with transcoding surrogate pairs across elements in the sequence, which is quite a bit of work that nobody seems to be asking for right now.

[code]

[2022-08-16 17:49] terrajobst commented on #69266
* Looks good as proposed.

[code]

[2022-08-16 17:55] terrajobst commented on #69716
* Assuming `Value` would either expose the string passed to `Encode` or produce a string when given a span, this looks fine
    - The sketched implementation seems to suggest that for the span case the return value might be the empty string, which seems problematic.

[code]

[2022-08-16 17:59] Alxandr commented on #54482
`MakeReadOnly` would still be a no-op if it already was readonly I assume?

[2022-08-16 18:05] terrajobst commented on #71194
(if the answer is no, we can just approve as proposed)

[2022-08-16 18:09] danmoseley opened #74020 "Unnecessary shr emitted for repeated multiplication"
Noted in discussion [here](https://github.com/dotnet/runtime/pull/72712#issuecomment-1203005578) about the recent DateTime perf optimization, that we could not rely on the JIT to safely collapse multiplication. In this example below, there's an extra shr. Same on x86.

[sharplab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgAJiBGAdgFgAoAb0fLfIFcBLAOw3IBmACm59OpAJTkWDdnMo1x5APTlSA

[2022-08-16 18:11] wfurt commented on #71194
It was not. We made it little bit more so by adding OCSP to it in 7.0. That make primarily sense for the server but even the client can send stapled OCSP when sending certificate.
Aside from that the context is really just a container to hold certificate+chain certificates

[2022-08-16 18:11] terrajobst commented on #73969
* Since the method (and all derivatives) always throw, we should also hide it.

[code]

[2022-08-16 18:12] danmoseley commented on #74020
Can repeated shr (or shl) be safely collapsed as a peephole optimization? Or are there subtleties/sideeffects that cannot be done in that way.

[2022-08-16 18:14] vcsjones commented on #73969
@reflectronic were you interested in implementing this?

[2022-08-16 18:18] danmoseley commented on #74020
Adding the Godbolt link from @cassioneri for gcc/clang: https://godbolt.org/z/T7M8Pqq1e .. MSVC seems to miss the same thing.

[2022-08-16 18:28] davidfowl commented on #61349
[code]

[2022-08-16 18:28] terrajobst commented on #71836
* Marking the type seems fine, assuming we believe the three remaining members listed are also obsolete. If we don't believe that, then we should follow the original proposal and only obsolete them proposed members.

[code]

[2022-08-16 18:36] #43184 closed

[2022-08-16 18:42] deeprobin commented on #39406
I think this issue should be taken over by someone else with more experience in System.Drawing.

@teo-tsirpanis Would you like to take over the issue?

[2022-08-16 18:42] AndyAyersMS commented on #72194
Interesting. We should try and root cause what's behind this...
* PGO collections differed?
* Runtime failed to match up PGO data?
* Jit failed to use PGO data?

I'll start in on this, but @jakobbotsch feel free to jump in if you have some of this lying around.

[2022-08-16 18:44] terrajobst commented on #72103
The intended usage

[code]

almost works today, by using named arguments:

[code]

Which would bind to this method:

[code]

We're not opposed to adding this overload but then we should probably add corresponding ones for the methods on `HttpClientJsonExtensions`.

[2022-08-16 18:45] buyaa-n opened #74022 "[Analyzer] Prevent behavioral change in built-in operators for IntPtr and UIntPtr"
Related to https://github.com/dotnet/runtime/issues/72348#issuecomment-1213543299

With [numeric IntPtr feature](https://github.com/dotnet/csharplang/issues/6065), System.IntPtr and System.UIntPtr gained some built-in operators (conversions, unary and binary). Those would now throw when overflowing within checked context, which is causing behavioral change in .NET 7

Detect places where the additi

[2022-08-16 18:50] jakobbotsch commented on #72194
I'm currently deep in some of my quality week work, but I can try to look into the dumps tomorrow if you haven't root caused it by then.

One thing I just realized is that I did the above investigation with a checked SPC, so it may have contributed to failures in matching up PGO data... (though I would expect to see it in both base and diff)

[2022-08-16 18:51] teo-tsirpanis commented on #39406
OK, it looks relatively simple, I will do it at some point in the 8.0.0 timeframe, assigning myself to not forget it.

I have also abandoned my experiments with using `SafeHandle`s. There are performance concerns and SDC is not that of a high-activity part of the BCL either way.

[2022-08-16 18:51] teo-tsirpanis commented on #54794
Removing the `api-ready-for-review` label, the API has been approved with outstanding questions moved to another issue; seems to have been kept by mistake.

[2022-08-16 18:54] dpk83 commented on #61353
@noahfalk  Is this issue only impacting .NET 6 or earlier versions as well? Is the fix going to be backported to all affected versions?

[2022-08-16 18:58] deeprobin commented on #73860
@israellot I assume you are using the CoreCLR implementation (Mono and CoreCLR have different implementations here).

Could you give us a benchmark (using BenchmarkDotNet or similar) / minimal reproducible example?
The problem is most likely in the method behind the QCall "RuntimeTypeHandle_GetGenericTypeDefinition".
https://github.com/dotnet/runtime/blob/ef2938999a4a528fc4b0ca719e4438520ba52100/s

[2022-08-16 19:05] deeprobin commented on #4872
I can't reproduce this.
[Sharplab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIGYACMhgYQYG8aHufuAHKAEsAbtgwwm5JAwCuAO1zYAZhMFyMDAKoLlMAMoAbCAHcAFMACe4gNoBdBrihg0DNRsdgA8kqW4YGF0sbewATXADXdQYwjG9ffwBKLl4eTmoUjIZRKAYEBgBeBgAGAG5kzJ4lQQQYEIZzKxgAKgY+PScChgAyD2sPOL8MWyT0itTysd48wqbTNo6AamKEstHJqYYFmbn2sE2GchWJ9aYAdlzVk4BfY54btZSBETEJYilZHRVIjW1FFQAxPAYBrBBxOFxuMFeHyDQKNOzRcI

[2022-08-16 19:06] buyaa-n commented on #74022
Example:
[code]

[2022-08-16 19:09] AndyAyersMS commented on #72194
Ok, I'll let you know how far I get.

[2022-08-16 19:11] terrajobst commented on #72625
The challenge is that `MoveToImmutable()` results in `Capacity` becoming `0`, while `ToImmutable(); Clear();` would preserve the capacity. This can result in cases where we need go through various resize cycles, making the `Capacity == Count` potentially more expensive.

[code]

[2022-08-16 19:12] teo-tsirpanis commented on #4872
Closing, thanks for the heads-up @deeprobin. This issue seems to have been fixed since at least .NET Core 3.1.

[2022-08-16 19:12] #4872 closed

[2022-08-16 19:18] elinor-fung commented on #73993
The instructions do mention building `packs.product`, but maybe it would be clearer to put it all in one step (instead of separating building `clr+libs` and `host+packs.product` as it is now).

I'm not sure what is going on with needing the `VersionSuffix`. It sounds like an issue we should fix in the test build/infrastructure.

[2022-08-16 19:20] bartonjs commented on #73969
@danmoseley What's your interest in taking some extra obsoletions in RC1?  (The methods have thrown NotImplementedException in inbox types since they were introduced in .NET Framework 1.0, so it's as low of potential usage as we could ever really hope to expect :smile:)

[2022-08-16 19:24] deeprobin commented on #3188
This was fixed in #70578.

[2022-08-16 19:27] deeprobin commented on #27191
There is now the Nanoseconds API in DateTime, DateOnly, TimeOnly.
See #67666

[2022-08-16 19:30] deeprobin commented on #11413
In .NET 7 it generates

https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIGYACMhgYQYG8aHuGAHKAJYA3bBhgMBAOwwMAGgAoAZgBsIohooCUHLjz3EA7AwBCAjCwiShMKGKgA6AMpSA5spgAVCAElpdUqYYuEqaANy63AC+NJFAA=
[code]

[2022-08-16 19:31] #3188 closed

[2022-08-16 19:40] davmason commented on #61353
@dpk83 this issue affects all runtimes that have support for dotnet-counters. A fix has not been checked in yet for this issue, when it is we will not backport it unless there is a business justification for it - i.e. a customer is blocked on it.

[2022-08-16 19:51] mangod9 commented on #72645
I followed the steps from Michal here: https://github.com/dotnet/runtime/issues/72645#issuecomment-1198876546. Was able to collect dumps using `ulimit -c unlimited`.

[2022-08-16 20:07] teo-tsirpanis commented on #27191
`StopWatch.GetTimeStamp()` uses the best timestamp source the OS can provide ([QPC on Windows](https://github.com/dotnet/runtime/blob/9a72a29c60f2254a72cd36ee2ef0007dba1fc2d7/src/libraries/System.Private.CoreLib/src/System/Diagnostics/Stopwatch.Windows.cs#L19-L28) and [`clock_gettime_nsec_np` or `clock_gettime` on Unix](https://github.com/dotnet/runtime/blob/8b1aecb7d89fdd7ff0319aa57001315da3d1a6a

[2022-08-16 20:07] #27191 closed

[2022-08-16 20:12] steveharter commented on #73992
The repro is missing the "Faker" class.

Working around that, I can serialize 2,000,000 items without error. However, soon after that it looks like `PooledByteBufferWriter` is using `int` so it will overflow and does not work correctly. Either there should be some validation to prevent that (I thought there was at some point) or it should support it by using `long\ulong`.

[2022-08-16 20:16] carlossanlop commented on #72111
Item no. 2 has been merged to main. Here is the backport to release/7.0-rc1: https://github.com/dotnet/runtime/pull/74024

[2022-08-16 20:24] msucgun commented on #73992
@steveharter thanks for the reply. Faker class comes from the package Bogus. Have you cloned the whole repo from [https://github.com/msucgun/poc](https://github.com/msucgun/poc) and restored the nuget packages? I've created the solution using VS2022 and didn't have any issue to build and run. If you run the sample in the solution (with data prepared with RandomListGenerator.GenerateDtoList method)

[2022-08-16 20:26] Ne4to commented on #54482
Looks like it requires a more general approach.
The proposed change is the single scenario specific.
There are a lot of mutable types and it's possible that similar scenarios are required.

One of the approaches could be introducing a special interface and implementing it by `JsonSerializerOptions`. Or at least it could be added later.
[code]

[2022-08-16 20:28] CodeBlanch opened #74026 "[Regression] System.Diagnostics.ActivityLink Equals broken in net7 preview"
### Description

[This change](https://github.com/dotnet/runtime/pull/68933/files#diff-eef69be4a844643e414d513125fb6191d01faebe1875819008e4e87a756e579eR28) on #68933 broke the `ActivityLink.Equals` [behavior](https://github.com/dotnet/runtime/pull/68933/files#diff-eef69be4a844643e414d513125fb6191d01faebe1875819008e4e87a756e579eR43) which previously was doing a reference check on the tags passed in

[2022-08-16 20:30] jkoritzinsky opened #74027 "Proposal: Update minimum CMake version required to build the dotnet/runtime repo to 3.20"
Now that we're starting a new release, it's worth revisiting our build requirements across our different supported platforms. For many if not all of our releases, we have had different minimum CMake version requirements depending on the platform. This has generally been due to a variety of different circumstances, varying from version availability on platform to fixes in CMake that are required fo

[2022-08-16 20:34] hoyosjs commented on #58779
Fixed in https://github.com/dotnet/runtime/pull/61958

[2022-08-16 20:34] #58779 closed

[2022-08-16 20:34] mwadams opened #74028 "[API Proposal]: Custom [Try]GetValue<T> methods on JsonElement for efficient projection of string values to dotnet types"
### Background and motivation

There have been a number of discussions about possible APIs for efficient access to the underlying UTF8 bytes for JSON string values represented by a `JsonElement`.

So far, there has been no consensus on a suitable approach.

In general, the criticism of previous proposals has been either that:

1. they require too much supporting scaffolding (e.g. an approach relyi

[2022-08-16 20:43] elinor-fung commented on #73993
@am11 I tried this without specifying `VersionSuffix` and with `packs.product` and was able to build/run the tests successfully. Was it just the packs build (not VersionSuffix) that was needed or am I missing something?
[code]

[2022-08-16 20:50] BruceForstall commented on #70642
The failure case is as @tannergooding mentioned above: https://github.com/dotnet/runtime/issues/70642#issuecomment-1155850989

With this particular stress setup, some of the test cases are inlined into the "main" function `GreaterThanAllUInt64()`, namely the failing `test.RunClassLclFldScenario();` as well as one of its predecessors.

In the inlined predecessor, we have `vpcmpeqd ymm10,ymm10,ymm10

[2022-08-16 20:51] ericstj commented on #73646
I added runfo tracking to this.  I don't think this is a product issue - more likely machine configuration around certificates.  Moving this out to 8.0.0.

[2022-08-16 20:53] LakshanF commented on #73764
The issue seems to be resolved now

[2022-08-16 20:54] ericstj commented on #39274
@steveisok - should we keep this in 7.0 or move it out at this point?

[2022-08-16 20:55] ericstj commented on #49120
Moving this out to 8.0.0

[2022-08-16 20:56] LakshanF commented on #73525
Moving to 8.0 since there is a mitigation

[2022-08-16 21:03] LakshanF commented on #73710
The linked issue comment and the document seem to provide context for this issue

[2022-08-16 21:03] #73710 closed

[2022-08-16 21:06] terrajobst commented on #54482
We have a design rules that says "if you can't think of a method accepting the interface the interface is useless". That's the case here; it would just work as way to codify a convention, which isn't all that useful.

[2022-08-16 21:07] terrajobst commented on #54482
Yes, that would be the intention.

[2022-08-16 21:10] MichalStrehovsky commented on #74015
This is Mono AOT. Re-pathed to there.

[2022-08-16 21:20] EgorBo commented on #74020
Looks like a good first-time issue for jit contributors 🙂

[2022-08-16 21:30] mwadams commented on #74028
One usage observation: developers may wish to implement extension methods that hide the underlying parsers from their ultimate clients.

[code]

[2022-08-16 21:32] StephenMolloy commented on #67371
Fixed by #71752

[2022-08-16 21:32] #67371 closed

[2022-08-16 21:37] am11 commented on #73993
Ah, that was it. I was missing `packs.product`. Thanks! :)

[2022-08-16 21:37] #73993 closed

[2022-08-16 21:40] davidfowl commented on #61349
This will use the args from the start instead.

[2022-08-16 21:51] kunalspathak commented on #70642
Introduced by https://github.com/dotnet/runtime/pull/70171. Still investigating.

[2022-08-16 21:52] jkotas commented on #59061
@Forgind We do not respond to comments on old closed PRs and issues. If it is still a problem, open a new [discussion]( https://github.com/dotnet/runtime/discussions) or [issue](https://github.com/dotnet/runtime/issues)

[2022-08-16 22:23] danmoseley opened #74034 "ConnectWithRevocation_WithCallback(checkRevocation: True) failed on macOS 12 with RevocationStatusUnknown"
Affected tests:
- **ConnectWithRevocation_WithCallback** in [last 120 days](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E120+definition%3Aruntime+name%3A%22system.net.security.tests.certificatevalidationremoteserver.connectwithrevocation_withcallback%22) - `System.Net.Security.Tests.CertificateValidationRemoteServer.ConnectWithRevocation_WithCallback`
    - Frequency as of 8/25: **

[2022-08-16 22:34] BruceForstall commented on #73339
Closing, as tracking issue https://github.com/dotnet/arcade/issues/10279 was closed

[2022-08-16 22:34] #73339 closed

[2022-08-16 22:36] BruceForstall commented on #69028
@ArminShoeibi Are you still working on this?

[2022-08-16 22:53] BruceForstall commented on #63638
According to https://www.kernel.org/doc/html/latest/arm/mem_alignment.html, it looks like the magic might be:

[code]

[2022-08-16 23:10] AndyAyersMS commented on #72194
My local profile shows:
[code]
So indeed, bucket Rent/Return are dominant.

A few interesting tidbits:
* The EventSource method is likely is an artifact of `-p ETW` -- seems like this provider should not be enabled?
* The OSR version of `MoveNext` is there for a while during the actual intervals. Not sure it matters.
* The autogenerated runner is getting tiered up (not seen in the above), which is

[2022-08-16 23:11] jkoritzinsky opened #74035 "[API Proposal]: Marshaller type to support SafeHandle in source-generated marshalling without hard-coding in the generator"
### Background and motivation

Today, we support marshalling `System.Runtime.InteropServices.SafeHandle`-derived types intrinsically in the interop source generators. This is one of the only types that we do this for since we moved string marshalling out of the generator during the .NET 7 development cycle. Additionally, `SafeHandle` marshalling is extremely complex, much more than any other built

[2022-08-17 00:08] kunalspathak commented on #70642
@BruceForstall  and I spoke offline and as he pointed, there is a case missing where we need to either kill the upper-half of vector register if it was callee-save or save/restore if it was callee-thrash. We create ref positions during building the interval, but we won't know which register got assigned until we come to the register assignment. I will think little bit more and try out some ideas t

[2022-08-17 00:28] TheSpydog commented on #73906
Thanks for the clarification.

I've started working on implementing the first option (storing code targets as associated method data, copying off how "special" unboxing thunks work), but I'm not sure how to verify that my attempted changes are working. What does the runtime actually *do* with the pointer that RhGetCodeTarget returns?

I've read through the source but it's kind of difficult to foll

[2022-08-17 00:38] am11 commented on #55803
Adding docker image: https://github.com/dotnet/dotnet-buildtools-prereqs-docker/pull/669.

[2022-08-17 00:39] MichalStrehovsky commented on #73772
What tools does the networking team use to do this kind of investigation?

[2022-08-17 00:43] Forgind opened #74040 "Question: finding architecture using System.Reflection.Metadata"
Using SRM was what @jkotas recommended in https://github.com/dotnet/runtime/issues/59061#issuecomment-922392861. I had trouble figuring out how to do that, exactly, and he told me to file a new issue. Can someone point me to an example of how to do that?

[2022-08-17 01:20] v-wenyuxu opened #74044 "Test failure JIT\\CodeGenBringUpTests\\DivConst_r\\DivConst_r.cmd"
Run: [runtime-coreclr outerloop 20220816.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1946310&view=ms.vss-test-web.build-test-results-tab&runId=50126352&resultId=107281&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-08-17 01:27] AndyAyersMS commented on #72194
With release builds (and checked jit) I don't see any codegen diff at Tier1 for `Bucket.Rent` or `Bucket.Return`.  There are some small PGO count diffs for some inlined spinlock methods, but they wash out.

Going to check some of the other methods noted above.

[2022-08-17 01:31] AndyAyersMS commented on #72194
Also very odd:
* a run with a checked jit (but everything else release) seems to run much faster than with a release jit.
* dumping `ConfigurableArrayPool.Rent` or `.Return` (with checked jit/release runtime) causes the jit to crash

[2022-08-17 01:31] carlossanlop commented on #74034
Hit it here too:

Libraries Test Run release mono OSX x64 Debug https://github.com/dotnet/runtime/pull/73985/checks?check_run_id=7865910786

[2022-08-17 01:44] MichalStrehovsky commented on #71395
The PR is getting reverted.

[2022-08-17 01:44] AndyAyersMS commented on #72194
One small asm diff in `ConfigurableArrayPool`1:Rent(int):ref:this` -- LSRA perhaps. But otherwise all the rent/returns line up.

[2022-08-17 02:00] #69516 closed

[2022-08-17 02:31] danmoseley opened #74049 "crash in JIT/Methodical/Coverage/copy_prop_byref_to_native_int on Mono"
Again
https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-73983-merge-490a59077c1d4a9185/Methodical_others/1/console.c4adfd07.log?helixlogtype=result

Console log: 'Methodical_others' from job 490a5907-7c1d-4a91-85f3-10f4d174b436 workitem ebe0903c-5588-4a64-b6f7-a5314aeeb274 (ubuntu.1804.amd64.open.rt) executed on machine a002K59 running Linux-5.4.0-1086-azure-x86_64-wi

[2022-08-17 02:44] Chicken-Bones opened #74050 "NetworkStream.BeginWrite has different buffer usage safety on Windows and Linux"
### Description

On Windows `NetworkStream.BeginWrite` makes a copy of the buffer if it does not complete synchronously
On Linux, it's the responsibility of the caller to either defensively copy before calling `BeginWrite` or check if the async-call has completed before writing new data into the old buffer (with some pooling/reclaimation)

It would be nice if either:
- The windows behavior was bro

[2022-08-17 02:48] stephentoub commented on #74050
This is the case with every Stream. Ownership of the array/span/memory is transferred as part of calling Read/Write/BeginRead/BeginWrite/ReadAsync/WriteAsync and is not transferred back until the operation completes.  NetworkStream nor Socket on Windows are doing any defensive copying of the data; if that's happening, it's happening in Windows itself and is not a documented nor in any way a guaran

[2022-08-17 02:56] theodorzoulias commented on #72981
Btw although we don't agree regarding the suitability of the general advice offered in the `MaxDegreeOfParallelism` documentation (which is to **not** modify this setting in general), I think that we will agree that this advice is not considering the new asynchronous `Parallel` APIs that were added on .NET 6 (the [`ForEachAsync`](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.p

[2022-08-17 03:15] longnlp opened #74052 "System.Resources.ResourceManager is not thread safe when ignore case is enabled"
### Description

I'm using ResrouceManager to access the resources file in satellite assemblies, and the function is working fine as expected, however I cannot get expected value if I turn on the ignore case for the Resrouce Manager.

### Reproduction Steps

1. I prepared a resource file which has 26 strings, the name is capital letter, and the value is lowercase letter. for example: A -> a; B ->

[2022-08-17 03:37] lateapexearlyspeed commented on #71170
Because current main branch is .Net 8 branch now so I just reopen [PR](https://github.com/dotnet/runtime/pull/72927). Please correct me if wrong, or review, thanks !

[2022-08-17 04:06] wfurt opened #74053 "Quic Connect fails with weird error when connecting to IPv6 and AF not available"
I bump to if while investigating some CI test failures. The repro machine (ARM64) did not have IPv6 configured so in the container I see
[code]
Then running test,
[code]

error 0x63 -> `EADDRNOTAVAIL`. We should be able to handle it and provide reasonable exception. (similar to TCP)

[2022-08-17 04:17] WeihanLi opened #74055 "Deserialize a JSON string with the property name had no quotes"
### Description

When I try to deserialize a JSON string with the property name had no `"`, it would throw an exception now, while it works with `Newtonsoft.Json`

Not sure if it's a problem, it may not a standard JSON

json sample:

[code]

### Reproduction Steps

Deserialize the previous JSON with system text json
[code]

### Expected behavior

Success with `JsonObject` returned

### Actual beha

[2022-08-17 04:22] WeihanLi commented on #74055
relates to https://github.com/dotnet/runtime/issues/32291

[2022-08-17 04:24] Catradora opened #74056 "System.Threading.Ratelimiting does not effectively maximize requests for its parameters"
### Description

I was exploring the recently-announced `System.Threading.Ratelimiting` APIs, when I noticed some peculiar behavior that I haven't noticed with other rate limiting frameworks.

When rate-limiting a function/request, it stands to reason that the average time taken for a batch of requests should approximate the rate limit.

When I set a rate limit with the intent of permitting one re

[2022-08-17 04:44] danmoseley commented on #74052
That seems like a bug as GetString should be thread safe.
It would be interesting to know whether this bug exists for .NET Framework.

[2022-08-17 04:45] vikasgupta8 opened #74057 "[ppc64le] New test RegexPcre2Tests added in System.Text.RegularExpressions.Tests testsuite is failing"
### Description

Failure is observed as Assertion at below line in function ppc_patch_full().

`* Assertion: should not be reached at /root/vikas/runtime/src/mono/mono/mini/mini-ppc.c:2893`

Complete stack trace.

[code]

### Reproduction Steps

[code]

### Expected behavior

Test should pass without any failure.

### Actual behavior

Failing with assertion.

`* Assertion: should not be reached at

[2022-08-17 04:59] jkotas commented on #40351
Fixed by #73955

[2022-08-17 04:59] #40351 closed

[2022-08-17 05:24] huoyaoyuan commented on #74027
/cc @shushanhf for LA64 port of CMake.
The version provided by apt source of LA64 vm is 3.13.4

[2022-08-17 05:32] huoyaoyuan commented on #73992
Another hint is to use `DeserializeAsyncEnumerable` to access the values before deserializing the full list.

[2022-08-17 05:37] jkotas commented on #74040
This example shows how to create a System.Reflection.Metadata reader: https://docs.microsoft.com/en-us/dotnet/api/system.reflection.metadata.metadatareader?view=net-6.0#examples

Once you have the reader, `PEHeaders.CoffHeader.Machine` has the PE file architecture. For example, you can add `Console.WriteLine(peReader.PEHeaders.CoffHeader.Machine)` to print it.

What are you trying to do with this

[2022-08-17 05:46] N0D4N commented on #72103
[code]
Is good workaround, i didn't think of at the time of writing a proposal.

However, `HttpClientJsonExtensions` is already following the approach i proposed for `HttpContentJsonExtensions`:

https://github.com/dotnet/runtime/blob/a5f3676cc71e176084f0f7f1f6beeecd86fbeafc/src/libraries/System.Net.Http.Json/ref/System.Net.Http.Json.cs#L25

https://github.com/dotnet/runtime/blob/a5f3676cc71e17608

[2022-08-17 06:21] shushanhf commented on #74027
Yes, you are right.
The default version of the cmake within the LoongArch64's debian is 3.13.4 which is too low.
But for our .NET developers on LA, we had asked to update to 3.20.6 which builded by ourself.

I will feedback to our OS to update the LA's cmake version.

Thanks

[2022-08-17 06:25] steveharter commented on #73992
This does appear to be an issue with `PooledByteBufferWriter` hitting the 2GB limit for `int32` for the [`index` field](https://github.com/dotnet/runtime/blob/c785a0b5ff94d879c55a9a67a18da0edf1070f32/src/libraries/Common/src/System/Text/Json/PooledByteBufferWriter.cs#L21). The field can't simply be changed to a `long` since it uses other APIs that are based on `int32`, such as `MemoryExtensions.As

[2022-08-17 06:26] steveharter commented on #73992
Thanks it is working now for me now.

[2022-08-17 06:45] mwadams commented on #74028
For a quantifiable benefit: if implemented, these APIs would enable me to eliminate allocations in three hot-paths in my JsonSchema validation.

In one of our benchmarks, we validate an array of 10,000 "Person" objects.

The Person has a FirstName, LastName, and a DateOfBirth.

The DateOfBirth is a JSON string in `dateTime` format which we project to a NodaTime local date type.

The name elements

[2022-08-17 06:50] tactical-drone commented on #73891
@stephentoub Just FYI. I figured out what the problem was. My scheduler was being boostrap from a static constructor that was affected by timing issues because of the framework upgrades. What caused the compiler issues with it, I have no idea.

[2022-08-17 07:05] doomlaur commented on #69797
Sorry for the delay. A few days ago I updated Visual Studio to 17.3 (now I'm on 17.3.1) and I don't get errors anymore when disabling trimming, although I'm still using the older .NET 7 Preview 4 (7.0.0-preview.4.22229.4 / 7.0.100-preview.4.22252.9). I used the following settings and had a perfectly working Blazor website:
`  <PropertyGroup>
    <TargetFramework>net7.0</TargetFramework>
    <RunAO

[2022-08-17 07:29] v-mikedu opened #74064 "F5 to run Blazor WebAssembly App project, register and log in on the web page, then log out, click login again, the web page will be crash."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Browser suddenly closes and debugging stops
https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_apis/wit/attachments/a0f53a8d-47fc-4de4-8cc9-c6505b350910?fileName=Mike1.gif

### Expected Behavior

Browser should allow us to login again

### Steps To Reproduce

1. Open a new

[2022-08-17 07:30] runebrg commented on #73999
I don't disagree that `aa` should be considered equivalent to `å` in many cases in Norwegian (though not always, this is context dependent). But I still think the .NET framework behaves inconsistently here. Both `"aa".StartsWith("a")`  and `"aa".StartsWith("å")` are false, but `"aa".StartsWith('a')` and `"aa".Contains("a")` are true

Fiddle:
https://dotnetfiddle.net/RcbfSa

[2022-08-17 07:31] quan0zhou commented on #72644
I searched online and found that someone encountered the same problem

1. https://social.msdn.microsoft.com/Forums/en-US/de6f19a8-6ac8-43d0-94f4-2b7b18597cae/exception-when-aspnet-core-api-hosted-via-windowsservices?forum=aspdotnetcore
2. https://github.com/IdentityServer/IdentityServer4/issues/2989

[2022-08-17 07:34] whann0205 commented on #70028
Thanks for your interest. Now that 2 months have passed i tried again and it is sadly not
fixed. I doubt it will be fixed anytime soon.

In my case by using:
var region = CultureInfo.GetCultures(CultureTypes.SpecificCultures)
               .Where(C => C.LCID != 127 & C.LCID != 4096 & !C.IsNeutralCulture)
               .Select(x => new RegionInfo(x.LCID));

You dont even get the localised Name bu

[2022-08-17 07:47] EfrSyn opened #74059 "System.Data.Odbc.OdbcException (0x80131937): ERROR [0]"
Hello,

I have this error when I try to connect to my ODBC database:

(I searched a lot and found no reference to Error "0"...)

System.Data.Odbc.OdbcException (0x80131937): **ERROR [0]** [
   at System.Data.Odbc.OdbcConnectionHandle..ctor(OdbcConnection connection, OdbcConnectionString constr, OdbcEnvironmentHandle environmentHandle)
   at System.Data.Odbc.OdbcConnectionOpen..ctor(OdbcConnection

[2022-08-17 07:51] tmds commented on #73721
_100 retries ought to be enough for anybody_ :smile:

The random function that is used is different: https://github.com/bminor/musl/blob/master/src/temp/__randname.c.
vs https://github.com/emscripten-core/emscripten/blob/e05e72d9c49fe15578e73934ce525a894d1b712a/system/lib/libc/musl/src/temp/__randname.c.

[2022-08-17 07:53] MichalStrehovsky commented on #73048
It's probably not a lockup - I just don't have enough patience. Extracted a repro to https://github.com/dotnet/linker/pull/2977.

[2022-08-17 08:06] bbhxwl opened #74063 "There is a delay bug in serial communication"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When reading the angle of the sensor through the serial port, C # needs a delay of about 2 seconds to read, but the serial port debugging tool and python can read it quickly.

C#
[code]
python
[code]
https://user-images.githubusercontent.com/26525599/185067130-e69745c5-c3cf-43fe-b887-2df58c6d

[2022-08-17 08:57] jakobbotsch commented on #74049
Dup of #69832? Seems like the test was expected to have been disabled on Mono.

[2022-08-17 08:58] EgorBo opened #74060 "cannot open include file 'version_info.h'"
Steps (windows) on a clean repo:
[code]

Build failure
[code]

[2022-08-17 09:00] EgorBo commented on #74060
cc @am11 @elinor-fung @alexrp if it rings a bell since you touched corehost project more or less recently

[2022-08-17 09:02] filipnavara commented on #74022
Behavioral change relative to what? Xamarin `n[u]int` types? Previously you could not use subtraction and addition on `[U]IntPtr`.

[2022-08-17 09:08] FreeApophis opened #74061 "Nullability annotation missing on CacheControlHeaderValue.TryParse"
### Description

In the namespace System.Net.Http.Headers are many very specific header classes which all have their own TryParse method.

For the following classes TryParse was annotated:
`AuthenticationHeaderValue`, `ContentDispositionHeaderValue`, `ContentRangeHeaderValue`, `EntityTagHeaderValue`, `MediaTypeHeaderValue`, `MediaTypeWithQualityHeaderValue`, `NameValueHeaderValue`, `NameValueWithP

[2022-08-17 09:19] jakobbotsch commented on #72194
I still see significant diffs in `Bucket:Rent` and `Bucket:Return` with a release build.

|         Method |        Job |                                Toolchain | RentalSize | ManipulateArray | Async | UseSharedPool |     Mean |     Error |    StdDev |   Median |      Min |      Max | Ratio | RatioSD | Allocated | Alloc Ratio |
|--------------- |----------- |-------------------------------------

[2022-08-17 09:38] jakobbotsch commented on #72194
There's no PGO info for `SpinLock.Enter` in the new PGO data according to the dump:

[code]
In the base we use the PGO data to reverse a branch:
[code]

[2022-08-17 09:42] jakobbotsch commented on #72194
I don't see many calls to `SpinLock.Enter` in framework sources beyond this one from `ConfigurableArrayPool`. It seems plausible that whether or not we will end up with PGO data for this method depends on the exact patterns of contention that occur during the training scenarios.

[2022-08-17 09:55] jakobbotsch commented on #72194
The data we have in the base .mibc is extremely sparse, much too little for us to be basing any decisions off of. We should probably apply a threshold on the dotnet-pgo side when we merge it to StandardOptimizationData.mibc.

[code]

Considering that we do get a good performance gain here though we should probably think about how we can get it via a synthetic profile.

[2022-08-17 10:11] krwq commented on #74001
So recommendation is to add extra overloads for serializers which might have ambiguity problem. Given that I think we can close this issue and I'll fix this in System.Text.Json by adding missing overloads. Thanks for clarifying @jaredpar and @tannergooding!

[2022-08-17 10:11] #74001 closed

[2022-08-17 10:14] javiercn commented on #74064
@lewing @thaystg I have experience this recently debugging auth related code, but I have not been able to reproduce it consistently. Seems the debugger crashes. Is there a way we could collect more information when this happens? (The browser just closes completely here and, in my case).

[2022-08-17 10:14] #73792 closed

[2022-08-17 10:41] am11 commented on #74060
It is strange that `--subset clr` is also building nethost, when it should only build singlefilehost from corehost directory.

[2022-08-17 10:43] SilentCC commented on #73712
Hi, @layomia Could I pick this issue as my first time contribution :blush:? I have finished set up work on my dev machine.

[2022-08-17 10:46] EgorBo commented on #74060
Then sounds like it's likely something from:
https://github.com/dotnet/runtime/pull/73269
https://github.com/dotnet/runtime/pull/72688
https://github.com/dotnet/runtime/pull/73800

cc @elinor-fung

[2022-08-17 11:07] am11 commented on #74060
Actually, I think it is from #73095, now that `host` subset is built as part of `DefaultCoreClrSubsets`, and we probably don't have checked configuration for host.

cc @agocke

[2022-08-17 11:22] mwadams commented on #74028
As an example of the flexibility of this API, here's a projection that would allow us to do `Rune` counting of the decoded JSON string, avoiding a string allocation (another requirement for json-schema validation).

[code]

In our actual implementation we would create a whole 'string validator' type that would also do e.g. pattern matching using the new net7 `Regex.IsMatch(ReadOnlySpan<T>)`. This

[2022-08-17 11:28] ComptonAlvaro opened #74066 "Received an unexpected EOF or 0 bytes from the transport stream"
I am trying to use a WPF application that use gRPC to connect to a service that is hosted in an ASP Core application.

The ASP Core has this code:

[code]

This is the code in the code in my WPF application:

[code]

By the moment, I am running the service and the client in the same machine.

But I get the error: Received an unexpected EOF or 0 bytes from the transport stream.

This is the complet

[2022-08-17 11:28] hez2010 opened #74067 "MakeNewCustomDelegate is not supported by NativeAOT"
### Description

The CsWinRT 2.0 update fixed the trimming issue, so I'm trying to AOT compile my app which uses WinRT APIs. But I immediately hit another issue where the implementation of Vftbl in CsWinRT uses `Expression.GetDelegateType` to get the delegate type and create it at runtime.

So it yielded:

[code]

Related source:

[code]

Is this possible to be supported by NativeAOT?
If not, does

[2022-08-17 11:37] 2mik opened #74068 "Default AssemblyLoadContext resolves assembly on the 2nd attempt"
### Description

Using .NET 6, I load DLL dynamically into the default load context by calling Assembly.LoadFrom(fileName)
The loaded assembly have some dependencies.
Using AssemblyResolve and AssemblyLoad events I got that
1) AssemblyResolve shows that resolution of a referenced assembly fails.
2) Right after fail AssemblyLoad shows that the referenced assembly loaded successfully.

Please give a

[2022-08-17 11:41] 2mik commented on #74068
The related issue may be https://github.com/dotnet/runtime/issues/1050

[2022-08-17 11:48] #73722 closed

[2022-08-17 11:49] krwq commented on #73992
I think we should at minimum throw an exception for 7.0 if fix is more involved

[2022-08-17 11:53] MichalStrehovsky commented on #74067
On my phone but IIRC this is ref emit without saying ref.emit. We need to create a brand new delegate type that matches the signature the caller is asking for. It's not supportable without ref.emit. CsWinRT is doing source gen - it needs to include the one-liner to declare a delegate instead.

[2022-08-17 11:54] Amit-Sirohi opened #74069 "[ppc64le] Debug build only - Crash related to stack unwinding while running System.Runtime test case"
### Description

Test System.Runtime.Tests is failing with crash (segmentation fault) in debug build with crash. However in release build the test is successful.

Complete stack trace

[code]

### Reproduction Steps

$ cd artifacts/bin/System.Runtime.Tests/Debug/net7.0

Run the test with below command.

.`./../../testhost/net7.0-Linux-Debug-ppc64le/dotnet exec --runtimeconfig System.Runtime.Tests.

[2022-08-17 12:15] hez2010 commented on #74067
Thanks for reply.
Issue fired: https://github.com/microsoft/CsWinRT/issues/1248

[2022-08-17 12:19] am11 opened #74071 "Missing risc-v implementations in mono mini"
To make `dotnet(1)` work with `-p:RuntimeFlavor=mono` on linux-riscv64 desktop, there are ~50 functions that need implementation in the following files:
[code]
We can skip the `_dyn_` APIs: `git grep mono_arch_.*dyn ':/src/mono/*riscv*'`.

To cross-compile:

[code]
Then copy `artifacts/bin` to riscv64 VM (e.g. this setup: https://gist.github.com/marrrk/b1014564826449dc23cecb3b8a01a5f2) and run som

[2022-08-17 12:20] am11 commented on #74071
cc @alexp, @vargaz

[2022-08-17 12:21] simonrozsival commented on #73960
The issue isn't specific to gRPC and it describes missing functionality in Xamarin.Android. I opened a new issue in the Xamarin Android repository and so I'm now closing this issue.

[2022-08-17 12:21] #73960 closed

[2022-08-17 12:26] svick commented on #73999
It does, but this behavior is documented and I believe it can't be changed, because that would break backwards compatibility.

[2022-08-17 12:31] teo-tsirpanis commented on #74071
We need an `arch-riscv` label.

[2022-08-17 12:42] MichaelSimons commented on #74027
cc @dotnet/source-build-internal

[2022-08-17 12:51] anhadi2 commented on #67337
@davidfowl We are going to use this in `JsonConverter` where we get instance of `Utf8JsonWriter`. We want to have a custom JSON writer for our response object. Reference: https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-converters-how-to?pivots=dotnet-5-0#steps-to-follow-the-basic-pattern

[2022-08-17 13:47] BrzVlad commented on #68849
@gemSender Thank you for the quick replies. After some investigations it turns out that this was indeed fixed on `dotnet/runtime` by https://github.com/dotnet/runtime/pull/40498. There was also a mono PR with this fix but somehow it wasn't backported to the release branch

[2022-08-17 13:47] #68849 closed

[2022-08-17 13:50] akoeplinger opened #74076 "Test failures on runtime-extra-platforms on Android/iOS/tvOS/MacCatalyst"
We introduced a couple test failures, see https://dev.azure.com/dnceng/public/_build/results?buildId=1948701&view=results

[2022-08-17 13:55] akoeplinger commented on #68906
I verified this doesn't happen in main anymore, it was fixed by https://github.com/dotnet/runtime/pull/65723 since I can repro if I revert that change (you need to build in Release config to see it).

[2022-08-17 13:57] rolfbjarne commented on #71323
@steveisok the link to the duplicate is a link to this issue...

[2022-08-17 14:05] SamMonoRT commented on #74049
@naricc @trylek - any ideas why a disabled test is still running in CI legs ?

[2022-08-17 14:06] SamMonoRT commented on #74071
cc @lambdageek @directhex

[2022-08-17 14:07] AaronRobinsonMSFT commented on #73775
@uweigand Boo. That is sad. We are in a bad situation here. Is there anyway you can help track all the failing cases down in this case? For me, visually auditing the entire test suite is going to be tedious and error prone. If you can comment out the failing tests and open an issue with all the ones failing, it would be easy for me, with endianness in mind, to simply fix them in bulk. Appreciate t

[2022-08-17 14:12] lambdageek commented on #74071
Related to https://github.com/dotnet/runtime/issues/36748

[2022-08-17 14:15] uweigand commented on #73775
@AaronRobinsonMSFT it looks like `char_return_as_refuint` is the last remaining problem.  Using the following hack all `LibraryImportGenerator.Tests` now pass for me:

[code]

[2022-08-17 14:21] rgueldenpfennig opened #74078 "Impersonation via Kerberos and HttpClient leads to TCP port exhaustion"
I'm currently helping out one of my clients to solve the following issue.

First of all some details about the environment:

- Windows Server 2019
- IIS 10, Integrated Pipeline mode
- ASP.NET MVC application running on .NET Framework 4.8

Note: As this repository is only for the "new" .NET framework versions my question regarding to .NET 6 is following at the end :)

We are maintaining a custom de

[2022-08-17 14:27] am11 commented on #74071
Sorry @alpexp, I meant to copy @alexrp :slightly_smiling_face:

[2022-08-17 14:30] lewing commented on #73949
cc @BrzVlad

[2022-08-17 14:34] rolfbjarne commented on #73715
You're running into this: https://github.com/dotnet/runtime/issues/71492

[2022-08-17 14:47] akoeplinger commented on #73715
Thanks, the fix for that was backported to the pending 6.0.9 runtime release: https://github.com/dotnet/runtime/pull/72002

There's also a workaround that you can use in the meantime: https://github.com/dotnet/runtime/issues/71492#issuecomment-1172012285

[2022-08-17 14:53] simonrozsival commented on #74076
Android:
- System.Net.Http.Functional.Tests.SocketsHttpHandler_SecurityTest (and derived classes) are failing - introduced in #73745
- several System.Formats.Tar tests are failing - introduced in #72078
- JIT.Directed AliasingRetBufNative test is failing - this test was supposed to be disabled by #73704 but the test is still being run

iOS, MacCatalyst, tvOS:
- iOS.Simulator.XmlSerializer_Deserial

[2022-08-17 15:02] tannergooding commented on #74022
`IntPtr` and `UIntPtr` have exposed various "user-defined" operators since .NET Framework 4.0. These operators are called out in the top post and include `IntPtr + int`, `IntPtr - int`, `UIntPtr + int`, and `UIntPtr - int` (as well as the conversions to/from `int`, `long`, `uint`, and `ulong`).

[2022-08-17 15:04] lambdageek commented on #68914
Based on the description here https://github.com/dotnet/runtime/issues/68914#issuecomment-1123770862 I'm trying to make a sample for dotnet/runtime that has the same behavior, and trying to compile it with LLVM.

Starting from this:

[code]

Currently having issues building the runtime with LLVM support 🤦

[2022-08-17 15:10] lewing commented on #73949
Installing the workload enables relinking and another wasm-opt pass, I wonder if it is interacting with the gc in some way

[2022-08-17 15:14] BruceForstall commented on #70642
@kunalspathak Given that the fix will probably require significant new work, I think we should revert #70171 and port the revert to .NET 7. A new implementation with fix can be made in .NET 8.

[2022-08-17 15:17] kunalspathak commented on #70642
Yes, I was thinking on similar lines given that #70171 should be straightforward to revert. I will try few things for couple of hours and if they don't work, will submit a revert PR.

[2022-08-17 15:20] vcsjones commented on #73793
I don't know if it has a material impact or not, but I thought I would point out that VB's `FileSystem.GetTempFileName()` defers to this API, so changing this API will change the behavior there as well.

https://github.com/dotnet/runtime/blob/edad790ea7d6a5153b1359cb7618f8fe896ea086/src/libraries/Microsoft.VisualBasic.Core/src/Microsoft/VisualBasic/FileIO/FileSystem.vb#L255-L257

Do we want VB to

[2022-08-17 15:24] rolfbjarne commented on #68808
@SimenCTan The fix didn't make it to 6.0.400, and right now it's slated for the .NET 7 release later this fall.

Unfortunately the only workaround at the moment is to disable the interpreter.

[2022-08-17 15:27] vcsjones commented on #65448
The WASM failure that recently got added here is erroneous. This test was not supposed to run on WASM.