[2020-12-02 01:20] stephentoub commented on #42899
Just based on the remote processes' stacks above,  I think it's more likely this is a deadlock.

[2020-12-02 01:21] benaadams opened #45450 "API Boolean ToLowerCaseString"
## Background and Motivation

`true`, `false` are common data values for boolean; however `Boolean.ToString()` returns title case values `True`, `False`; nessistating an extension or other method that converts e.g. `value ? "true" : "false"` or additional lowercasing `value.ToString().ToLower()` which allocates.

## Proposed API

Please provide the specific public API signature diff that you are p

[2020-12-02 01:21] safern commented on #42899
Ok thanks for looking. I will then disable with active issue.

[2020-12-02 01:22] sywhang commented on #42899
I can take a look at fixing this @safern. Please tag me in the issue you open.

[2020-12-02 01:22] safern commented on #42899
Sounds good. I will just open a PR to disable the test while this issue is fixed, thanks for looking into it.

[2020-12-02 01:29] layomia commented on #43587
Reopening for servicing consideration in 5.0.

[2020-12-02 01:34] jkotas commented on #42899
It is a classic A-B B-A deadlock:

Main thread is waiting for this lock:

[code]

The lock is taken by this thread that is waiting on a lock taken by the main thread:
[code]

[2020-12-02 01:36] elinor-fung commented on #45395
Is this only failing on Windows 2012 R2, or is it failing on a newer OS (e.g. Windows 10) as well?

Also note that with single-file in .NET 5.0, there are a number of [APIs that are not compatible with single-file deployment](https://docs.microsoft.com/dotnet/core/deploying/single-file#api-incompatibility). Since you mentioned that the app was working with 3.1 (where single-file still extracted al

[2020-12-02 01:44] nattress commented on #45286
The `DelayLoadMethodCallThunks` size discrepancy is due to Crossgen1 having an [optimization](https://github.com/dotnet/runtime/blob/31e436496222d696a5d33d9c39aabc09581a6df9/src/coreclr/src/vm/jitinterface.cpp#L5470) to use VTable dispatch for virtual (non-interface) dispatch if the callee is in S.P.CoreLib and the caller is in the same version bubble as S.P.CoreLib.

Supporting this in Crossgen2

[2020-12-02 01:44] AndyAyersMS commented on #44831
Helped Brian get unblocked, PR for 5.0 is #45431

[2020-12-02 01:46] jkotas commented on #45286
Why are we not able to share these thunks accross all callsites?

[2020-12-02 01:51] thudugala commented on #45395
@elinor-fung Only failing on Windows 2012 R2.

@danmosemsft Only fails when PublishSingleFile is True

[2020-12-02 01:52] akoeplinger commented on #44882
... for NuGets that don't contain native binaries, those that do will need to recompile to support Catalyst because the binaries aren't compatible as Rolf mentioned in https://github.com/dotnet/runtime/issues/44882#issuecomment-732427710

[2020-12-02 01:54] danmosemsft commented on #44903
Good point @Wraith2  - we'll hopefully include them next time.

[2020-12-02 02:03] yanhua1012 commented on #45403
Thanks for your reply.

[2020-12-02 02:13] v-haren commented on #29683
failed again in job: [20201201.66  runtime](https://dev.azure.com/dnceng/public/_build/results?buildId=904852&view=ms.vss-test-web.build-test-results-tab&runId=28879180&resultId=135660&paneView=debug)

failed test: System.Security.Cryptography.Rsa.Tests.EncryptDecrypt_Span.RsaDecryptAfterExport

Error message
[code]

[2020-12-02 02:15] LeaFrock commented on #45450
Would it be better to use(or add) a overload `ToString(string format)`? Just as same as `Guid` like `guid.ToString("N")`, or `DateTime` like `date.ToString("yyyy-MM-dd")`.
So you can not only use `isTrue.ToString("L")` instead to get "true", but also use `isTrue.ToString("U")` to get "TRUE".
It can be completely compatible to old version of api, and keep more choice for the future, with just a req

[2020-12-02 02:20] am11 commented on #45450
This also came up in the context of JSON, #42502, where `True` and `False` values are mostly undesirable.

[2020-12-02 02:20] akoeplinger opened #45454 "Remove dependency on USE_ZLIB from browser wasm build"
This special flag causes the emscripten toolchain to download and build a .zip version of zlib from https://github.com/emscripten-ports/zlib which unnecessarily introduces a network dependency into the build.

We already have a zlib implementation in mono that we can use.

Note that zlib is used both inside of mono and System.Native, we need to make sure only one copy of zlib makes it into the dot

[2020-12-02 02:23] hoyosjs commented on #13590
@egbertn was this with the debugger attached?

[2020-12-02 02:27] v-haren commented on #41929
failed again in job: [runtime-libraries-coreclr outerloop 20201201.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=904164&view=ms.vss-test-web.build-test-results-tab&runId=28864078&resultId=103909&paneView=debug)

failed test: System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2.Http2_PingKeepAlive(keepAlivePingDelay: 00:00:01, keepAlivePingPolicy: Always, expectRequestFail

[2020-12-02 02:38] v-haren opened #45455 "Test failure: Loader\\classloader\\explicitlayout\\Regressions\\ASURT\\ASURT150271\\test3\\test3.cmd"
failed in job: [runtime-coreclr crossgen2-composite 20201130.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=904043&view=ms.vss-test-web.build-test-results-tab&runId=28861072&resultId=100786&paneView=debug)

failed tests:
Loader\\classloader\\explicitlayout\\Regressions\\ASURT\\ASURT150271\\test3\\test3.cmd
Loader\\classloader\\regressions\\asurt150271\\test3\\test3.cmd

R2R-CG2 win

[2020-12-02 02:41] v-haren commented on #45099
failed again in job: [runtime-coreclr crossgen2-composite 20201130.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=904043&view=ms.vss-test-web.build-test-results-tab&runId=28861072&resultId=102517&paneView=debug)

failed test: readytorun\\r2rdump\\FrameworkTests\\R2RDumpTests\\R2RDumpTests.cmd

R2R-CG2 windows x86 Checked @ Windows.10.Amd64.Open

Error message
[code]

[2020-12-02 02:44] avparuch opened #45456 "Developers using Kestrel can configure the list of CAs per-hostname"
[AB#1253385](https://devdiv.visualstudio.com/10e66e43-9645-4201-b128-0fdc3769cc17/_workitems/edit/1253385)
Our Service has the need to configure the certificate trust lists sent in the "Certificate Request" of the TLS handshake on a **per-hostname** basis. Currently, we configure this via [Http.Sys APIs](https://docs.microsoft.com/en-us/windows-server/networking/technologies/netsh/netsh-http).

We

[2020-12-02 03:00] jeffhandley commented on #43617
cc @carlossanlop @buyaa-n

[2020-12-02 03:20] wfurt commented on #41929
it seems like the last failure is on release/5.0 Is there guidance @danmosemsft how much effort we want to put into that branch? One strategy could be to disable all flaky tests and focus on stabilization in master. If we car, I would also expect we should log 5.0 bugs separate?

[2020-12-02 03:25] echesakovMSFT commented on #45250
I suspected that the issue was some sort of wierd interaction between tail call via helper and generics, so I talked to @erozenfeld who was working in this area in the past.

He suggested disabling fast tail call optimization on x64 (we don't have the optimization on arm32) and see if the issue reproduces on that platform.

It does and that should make the debugging quite easier:
[code]

[2020-12-02 03:40] saulyt commented on #40386
I've been having similar issues. I've found [Utf8Json](https://github.com/neuecc/Utf8Json/) to be much faster than both Newtonsoft and System.Text.Json. I am using a PipeReader and Utf8Json is still faster even though I have to copy the bytes to an array to deserialize while with STJ it can be read directly.

I am having issues with other things being slow as well, and I suspect this issue not str

[2020-12-02 04:01] coolbluewater commented on #44882
To support Mac Catalyst before .net 6 are there any workarounds for this? Also @rolfbjarne mentioned:

That indicates that nugets have a distinguished reference assembly. I'm assuming that  in .net 6 this is no longer the case, correct?

From the pent up demand as well as the work by @praeclarum waiting for .net 6 to enable Mac Catalyst builds would be highly disappointing. It would also say much

[2020-12-02 04:09] jasonpugsley commented on #14537
I thought I'd write a quick update. I finally got all of the planets aligned to build 5.0.0 RTM on FreeBSD. I hadn't kept up since Preview3 and it took a while (and _many_ build attempts) to find the right combination of compatible builds to get a successful 5.0.
I've been able to build PowerShell 7.1.0 with surprisingly few hacks, it works though I haven't tested it thoroughly but it seems like a

[2020-12-02 04:23] danmosemsft commented on #41929
We will be servicing 5.0 until about Feb 2022 so we will still need to run PR validation a few 100 times over that time. In general I think this means if a test is significantly flaky we generally either disable it (as long as we still get reasonably coverage) or backport a test fix if any.

[2020-12-02 05:52] xinbingyiran opened #45462 "WebSocket ability to force IPv6 or IPv4"
**UPDATE:** Scoped to `WebSocket` only as there is no way to achieve that.
`HttpClient` has a way and `HttpWebRequest` is legacy API (so no need).

--------------------------------------

I find the sulution for httpclient from issues like this.
[code]

but it can useful for httpclient only,and it replaced httpclienthandle,will lost the diagnosticsHandler yet.

and I view the httpwebrequest and we

[2020-12-02 06:10] benaadams commented on #42899
It's this issue https://github.com/dotnet/runtime/issues/45059

![image](https://user-images.githubusercontent.com/1142958/100835030-d5023e00-3464-11eb-8d04-2664eacdb7fa.png)

[2020-12-02 06:12] RussellHaley commented on #14537
[code]

[2020-12-02 06:13] benaadams commented on #42899
It's this issue https://github.com/dotnet/runtime/issues/45059

![image](https://user-images.githubusercontent.com/1142958/100835030-d5023e00-3464-11eb-8d04-2664eacdb7fa.png)

Some of the EventSource initalizations (e.g. manifest generation) will request an ArrayPool buffer which then calls ArrayPool.Log to check if its enabled, which then requires the same lock

[2020-12-02 06:27] wfurt commented on #14537
That is good progress @jasonpugsley. I'm  trying to find better answer for the build but I was unable to put in any decent chunk of time in last few month ;(
Did PowerShell give you any grief because of terminfo or did you copy terminal definition from elsewhere?

[2020-12-02 06:28] benaadams commented on #42899
I think `PortableThreadPool` is triggering more managed EventSource initialization than was happening previously so this didn't exhibit as much previously?

[2020-12-02 06:43] jasonpugsley commented on #14537
I grabbed the terminal definition from my Mac where I was ssh'd from.

[2020-12-02 07:03] timcassell commented on #45446
I actually tried running that test again, and kept getting different results. So I rewrote the code to do many iterations to try to find any anomalies, and I ran it in different runtimes.
.NET 5.0 finds lots of anomalies.
.NET Framework 4.7.2 found no anomalies.
.NET Core 3.1 found some anomalies, but much fewer than .NET 5.0.

[code]

[2020-12-02 07:14] safern opened #45464 "System.Text.Json.Tests hang on a Checked CoreCLR"
https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-45451-merge-d5c2411bf7a94e53aa/System.Text.Json.Tests/console.8c3fdb0f.log?sv=2019-07-07&se=2020-12-22T01%3A58%3A57Z&sr=c&sp=rl&sig=jVvW5f1Z0z%2BebQhjuzWnYHsuErZs%2BRgJdJI0dR22FP4%3D

[code]

Happened on OSX on a Checked CoreCLR.

I just checked on Kusto and this has happened 11 times in the past day.

Hit in: https://

[2020-12-02 07:16] safern commented on #35927
I created an issue for the CoreCLR checked hangs as it is happening pretty often, it needs attention and there are more tests than just `HandleCollectionsAsync`: https://github.com/dotnet/runtime/issues/45464

[2020-12-02 07:16] safern commented on #45464
Related: https://github.com/dotnet/runtime/issues/35927

[2020-12-02 07:42] adamsitnik commented on #13669
@CarolEidt awesome! can't wait to see how many benchmarks show improvement on Linux

FWIW these 3 charts should show it for this particular method in the next 24 hours: [1](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmaster_x64_ubuntu%2018.04%2fSystem.Memory.ReadOnlySpan.Trim(input%3a%20%22%22).html), [2](https://pvscmdupload.blob.core.windows.net/reports/all

[2020-12-02 07:45] iSazonov opened #45466 "Slow AssemblyLoadContext.StartAssemblyLoad() at startup"
### Description

Related #44598
I measured PowerShell startup scenario with `pwsh -c exit` (really start-stop scenario).
One delay in the scenario is in AssemblyLoadContext.StartAssemblyLoad() called from hostpolicy - 59 ms (10%).

![image](https://user-images.githubusercontent.com/22290914/100843299-fa5e6e80-349b-11eb-862c-fa54e8c73371.png)

The StartAssemblyLoad() initializes tracing
https://git

[2020-12-02 07:54] alexdi220 commented on #45309
Hi, @jkotas the Mono.Cecil's AssemblyDefinition needs the whole assembly instead of metadata only. With DOSHeader, PEFileHeader, and other info. Is there any way to get the whole assembly's bytes? And how the references' assemblies are distributed in the "SingleFile" mode? I mean, I can load assembly myself if it shipped in resources of the application or any other known place.

[2020-12-02 08:08] jkotas commented on #45309
Yes, you can add the reference assemblies as resources yourself.

[2020-12-02 08:12] sywhang commented on #42899
@benaadams This is a different issue from #45059 (deadlock in the EventListener implementation used in the test) but yes, PortableThreadPool is triggering the deadlock more frequently.

[2020-12-02 08:13] jkotas commented on #45466
EventSource construction is relatively expensive reflection heavy operation today.

The ultimate way to fix this overhead is to replace the reflection with source generators: https://github.com/dotnet/runtime/issues/43390

[2020-12-02 08:31] weidingerhp commented on #43025
@davmason thanks for the info - will try.

[2020-12-02 08:34] kjpou1 opened #45468 "[browser][websockets] CloseOutputAsync is not supported"
Right now this is not supported on browser and tests are failing.

Added this issue as a placeholder to deactivate theses tests.

JavaScript WebSocket does not support a `CloseOutputAsync` but one may be able fake it so these tests work or maybe we keep the not supported instead of faking something that really is not used.

part of: https://github.com/dotnet/runtime/issues/44666

[2020-12-02 08:37] egbertn commented on #13590
@hoyosjs

VS 16.8.2
.NET Core 5.0.100
I worked around it by removing the hybrid async code from a library (basically pre native-async methods).
Also, it contained an IDisposable pattern which was to cleanup httpclient I placed dispose within the scope of the function.

[2020-12-02 09:00] weidingerhp commented on #43025
@davmason Yes - setting the "COMPlus_ReadyToRun=0" Environment does also reproduce the issue.

As soon as i set "COMPlus_ReadyToRun" to 1 or remove it it works again.

[2020-12-02 09:01] alexdi220 commented on #45309
Thank you. But I can't do it, could you advise another solution\workaround? We develop a third party that is used by other developers. In the projects of our clients, there are NuGet packages to our components. Some assemblies of these packages will be patched in runtime by our code (I told about it in the first message). The new behavior of .NET 5 when the location of assembly is null - critical

[2020-12-02 09:20] #45379 closed

[2020-12-02 09:36] michalhosala commented on #36590
@agocke thank you for the useful info. The main reason for us to migrate to 5.0 was that binaries will no longer have to be extracted to temp location as we were experiencing a known issue where extracted files were getting deleted randomly from there (I know there is a workaround). So using `<IncludeNativeLibrariesForSelfExtract>true` would effectively be the same as 3.1 for us, will have to wait

[2020-12-02 09:38] jkotas commented on #45309
You can set `<IncludeAllContentForSelfExtract>true</IncludeAllContentForSelfExtract>` that will extract the assemblies to disk like in .NET Core 3.1.

Also, we are likely to introduce more optimized form factors going forward that may be missing the IL or metadata completely. https://github.com/dotnet/designs/blob/main/accepted/2020/form-factors.md talks about it more details. If your feature depe

[2020-12-02 09:42] jkotas commented on #36590
We do not plan to solve the single-file problem with native assets of 3rd party libraries in .NET 6. I expect that `Microsoft.Data.SqlClient.SNI.dll` is still going to be there either on disk or be extracted into temp directory.

[2020-12-02 09:51] ivanivanyuk1993 opened #45471 "Blazor support JIT-runtime in browser"
### Is your feature request related to a problem? Please describe.
I am trying to do an app for inside use for enterprise in Blazor - https://fir-ec434.web.app/. While it runs great on desktop, it feels laggy on mobiles. My simple measures show that C# runs ~50 times slower than JS, so I had to move performance critical parts(like url state persisting, which can grow up to O(5000) for every state

[2020-12-02 09:55] eiriktsarpalis commented on #39443
Well the key difference is that no groupings will be calculated unless you create an enumerator. There is no clear way to achieve the same semantics when you return a pair of enumerables.

[2020-12-02 10:07] Dargazo commented on #7764
Will ARMv6 support be included in .NET 6.0 ?

Richard Lander mentioned something about it in the comments of .NET 5 Preview 4 announcement
[https://devblogs.microsoft.com/dotnet/announcing-net-5-preview-4-and-our-journey-to-one-net/#comment-5958](url)

[2020-12-02 10:32] huoyaoyuan opened #45473 "Allow less strict SDK version in local developer cmd"
Currently `dotnet-install` invoked by `build.cmd` requires strict SDK version. It can be a pain if the developer has moved to a higher global installed version. Downloading with `dotnet-install` is very slow (~10KB/s) for certain network.

`build -restore` can follow the roll forward setting, but `build -vs` doesn't for now.

**The less-strict behavior can be explicit or implicit.** Local develope

[2020-12-02 10:44] cincuranet commented on #36590
Out of curiosity. Is this a technical challenge (and if so what) or simple planning/resources reason?

[2020-12-02 10:50] karelz commented on #972
@wfurt is this still needed or did we forget to close it?
Can you please update milestone to 5.0.x (5.0 servicing) or 6.0 as appropriate? Thanks!

[2020-12-02 10:52] karelz commented on #44039
@davidwrighton @BruceForstall should we move it to 5.0 servicing milestone (5.0.x) or to 6.0/Future?

[2020-12-02 10:53] karelz commented on #33303
@jkoritzinsky is it needed for 5.0 servicing (5.0.x milestone), or for 6.0?

[2020-12-02 10:54] karelz commented on #2335
@HongGit are you considering it for 5.0 servicing (5.0.x milestone), or 6.0/Future?

[2020-12-02 10:58] rolfbjarne commented on #44882
Let's say we re-use the `Xamarin.iOS` TFM for Mac Catalyst.

* We already know there are APIs that are incompatible between iOS and Mac Catalyst. Let's assume we can figure out a way around those, and hope that Apple doesn't make this too difficult in the future.
* It would likely not be feasible to add the API specific to Mac Catalyst to a different assembly, because the Mac Catalyst specific API

[2020-12-02 11:00] eiriktsarpalis commented on #29398
Well, no. Uniqueness quantifiers return a boolean result by definition.

It depends. What is useful in returning `default` in an enumerable of value types?

In the interest of advancing the conversation, I'd be happy to accept that any talk about connotation is subjective. My main issue is how does the proposed name self-document the behaviour of the function when contrasted with `First*`?

I'll b

[2020-12-02 11:09] alexdi220 commented on #45309
Thank you, Jan. You really help me. Also, we'll research a new approach of form factors to improve our code in the future.

[2020-12-02 11:09] #45309 closed

[2020-12-02 11:27] coolbluewater commented on #44882
@rolfbjarne,

I'm assuming you mean in the pre-.net 6 era, is that right?
It looks like .net 6 will have the features needed for a clean implementation of Mac Catalyst in Xamarin. Therefore, we'll need to be clear which release - .net 5 or .net 6 - we're referring to at any moment.

For .net 5, I'd personally be OK with many simplifications, including no extra support for nuget at all. That is, Ju

[2020-12-02 11:29] srxqds commented on #45471
the browser can support jit mode?

[2020-12-02 11:31] eiriktsarpalis commented on #45017
@adamsitnik I was unable to reproduce using your code on docker. Here is [the relevant infrastructure](https://github.com/eiriktsarpalis/process-kill-repro). So perhaps something is missing it. @jkotalik would you be able to help us here?

[2020-12-02 11:37] ivanivanyuk1993 opened #45474 "the browser can support jit mode?"
the browser can support jit mode?

_Originally posted by @srxqds in https://github.com/dotnet/runtime/issues/45471#issuecomment-737172245_

Well, since clr is written in C++, I think it's not a problem to download it and run it in wasm

[2020-12-02 11:38] ivanivanyuk1993 commented on #45471
@srxqds
Well, since clr is written in C++, I think it's not a problem to download it and run it in wasm

[2020-12-02 11:39] #45474 closed

[2020-12-02 11:39] ivanivanyuk1993 commented on #45474
I did this issue by misclick

[2020-12-02 11:45] adamsitnik commented on #45436
@Tornhoof thanks for a great repro!

#45280 has not removed this particular allocation, it's caused by the creation of scope when new `CacheEntry` is being created:

![obraz](https://user-images.githubusercontent.com/6011991/100868600-1bbf5a80-349c-11eb-947e-498d08d51fe3.png)

I need to wrap my head around it and see what we can do about it

[2020-12-02 11:47] Sergio0694 commented on #37924
@CarolEidt I just tried again (now that https://github.com/dotnet/runtime/pull/43870 is merged) with the snippet I previously posted in my comment above ([this one](https://github.com/dotnet/runtime/issues/37924#issuecomment-716067818)), but the codegen is the same in this case, I imagine due to those other limitations Andy mentioned. Since both this and the other linked issue (https://github.com/

[2020-12-02 11:48] iSazonov commented on #33792
What about correlation with [IDE0030: UseCoalesceExpressionForNullable](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/style-rules/ide0030)?
The rule suggest `x ?? y` instead of `x != null ? x : y` when x and y are nullable _value_ types or nullable _reference_ types.
For the new analyzer I'd prefer `x.GetValueOrDefault(y)` for value types - this clearly indicates that the type is va

[2020-12-02 11:51] marek-safar opened #45475 "Typeforward System.Runtime.CompilerServices.Unsafe to SPC for netcore"
Right now we have two different implementations of System.Runtime.CompilerServices.Unsafe type. One in System.Runtime.CompilerServices assembly and the second one in System.Private.Corelib assembly. We should unify them and type forward to SPC implementation. This would reduce code duplication and simplify JIT/AOT maintenance for the intrinsics as well as drop dependency on IL compiler for librari

[2020-12-02 12:07] iSazonov commented on #45466
In the my trace for startup scenario it seems a reflection calls take <0.8% but System.Resources.ResourceManager.GetString() 1.2%.
I doubt that generators will help in this scenario.
If this initialization cannot be postponed, then most likely it is necessary to improve a little bit of all parts
/cc @adamsitnik

[2020-12-02 12:17] eiriktsarpalis commented on #41399
Generating permutations for IEnumerable would require creating an _O(n)_ copy of the source. I would suspect writing a bespoke implementation for the source type and application at hand to be more appropriate.

I also fail to think of a real-world application that uses permutations, at least in the context of LINQ. Assuming you're looking to perform some kind of brute-force calculation, then proba

[2020-12-02 12:17] #41399 closed

[2020-12-02 12:20] eiriktsarpalis commented on #43702
Proposal looks good to me. To be determined: what is the maximum arity we are willing to support?

[2020-12-02 12:28] eiriktsarpalis commented on #45197
I'm going to close this issue. Feel free to reopen if you would like to continue contributing to this conversation.

[2020-12-02 12:28] #45197 closed

[2020-12-02 12:43] ZacharyPatten commented on #41399
@eiriktsarpalis

_**I agree with not adding a LINQ version of a permutation function to C#. :)**_

But I just want to mention that...

...is not necessary. You can write one version that works with any source type. Assuming by "source type" we mean the collection type (array, list, dictionary, etc.). My example that I linked to in an above comment above accomplishes that topic.

Unfortunately thei

[2020-12-02 12:48] adamsitnik commented on #45436
It seems that the `parent` scope entry settings are always passed to `child` scope entries for cases like this:

[code]

Currently there is no way to opt-out of this behavior and avoid these allocations.

I was hoping that I could add a new internal `CacheEntry` ctor that does not create scopes and change the existing [extension methods](https://github.com/dotnet/runtime/blob/69d61271f900afd7ae6de

[2020-12-02 12:49] adamsitnik commented on #45436
@Tornhoof definitely! is there any chance that you would like to contribute to the docs?

[2020-12-02 12:56] stephentoub commented on #45475
To clarify, this is more than type-forwarding:
- The one in corelib is actually Internal.Runtime.CompilerServices.Unsafe
- They do not currently have the same surface area.  Methods have only been added to the internal one as they're needed.

[2020-12-02 13:02] stephentoub commented on #45450
_If_ we wanted to add support for this, would it be more consistent to do it via format strings / a `ToString(string)` overload rather than new named methods?

[2020-12-02 13:44] gregolsky commented on #42885
OK @janvorli we've got it in place and we can continue. I tried to figure out the method (the RavenDB index in question) that it is related to, but failed with `XXXX is not a MethodDesc`.

I attach:
- thread list
- bt on thread 1 (similar to the previous one)
- bt on thread 1004 (OS thread ID 24170) I believe it was cleaning after
- show pCF obj on thread 1

https://gist.github.com/gregolsky/2a124

[2020-12-02 14:06] Tornhoof commented on #45436
Yeah, I'll create a PR for the docs repo in the next few days.

[2020-12-02 14:15] karelz commented on #44686
@antonfirsov given that this is an accidental regression in .NET 5 as @scalablecory points out above, can you please put up a fix in master for .NET 6?
We can then discuss if we need to service .NET 5 or not.

@lahma note that hot fix in .NET 5 is not necessarily the only / the fastest option. Key thing is to find out if App Service is the only environment this will ever happen. If they push fix o

[2020-12-02 14:39] pavel-orekhov opened #45481 "How to unbox dynamic var via ICorDebug interface"
Hello!
I work on `netcoredbg`. My goal is to eval/print dynamic from `ICorDebugManagedCallback::Breakpoint` of `ICorDebugValue (frame_var)` of code
[code]
`ICorDebugValue ("ii")->GetType()` returns `ELEMENT_TYPE_I4` and allright. Over attrs are
ii: size=4 CorElementType=8 ExactCorElementType=8 CORTypeId=(7ffa4f7cb1e8,0) isRef=0 isBoxed=0 isValueClass=0 type="System.Int32"

for dynamic var a ref re

[2020-12-02 14:42] tmds opened #45482 "ProcessModule.BaseAddress is sometimes incorrect on Linux"
For example, `libcoreclr.so` base address is reported 7ffff7371000 instead of 7ffff72ff000 for the following maps file:

[code]

This happens because we skip entries with don't have rx set, before merging entries for the same file.

[2020-12-02 14:46] marek-safar commented on #45475
Yep, that's why I wrote "We should unify them and type forward ..."

Is there any reason why they should not have the same surface area? Does the lack of lack of C# declaration in SPC buy us anything if they are runtime intrinsics anyway?

[2020-12-02 14:47] pavel-orekhov commented on #45481
Most exact area is "ICorDebug interface using". Maybe intersection of following area-Debugger-mono, area-TypeSystem-coreclr, area-VM-coreclr

[2020-12-02 14:48] am11 commented on #45482
It is like this since the initial implementation in 2015. Interesting that we have noticed it around the same time. :)
Discussion: https://github.com/dotnet/runtime/discussions/45180. PR: https://github.com/dotnet/runtime/pull/45401.

[2020-12-02 14:56] stephentoub commented on #45475
I don't understand.  The ones not declared in C# also aren't implemented in the runtime.

[2020-12-02 14:56] khalidabuhakmeh commented on #44897
Hi folks, when trying to debug a `Hello, World` console app with .NET 5 I get the following `StackOverflowException`, which is around the ` thread_set_state` method.

Just adding this exception so you have more information.

I've tried debugging across most major IDEs: JetBrains Rider, Visual Studio for Mac, and VS Code. All end with the same exception, so I can safely rule out any debugger specif

[2020-12-02 15:02] jkotas commented on #36590
It is technical and ecosystem challenge. We would need to:
- Introduce a new way to distribute nuget package unmanaged assets that is based on either unmanaged C/C++ sources or unmanaged .obj files.
- Add runtime support and SDK tooling for this modality. E.g. Among other things, this woudl mean that .NET SDK would have dependency on the C/C++ toolset for this modality.
- Convince the NuGet packag

[2020-12-02 15:05] akoeplinger commented on #45428
The xharness bump landed with https://github.com/dotnet/runtime/pull/45476  and I verified the fix is working (https://github.com/dotnet/xharness/issues/354#issuecomment-737286521).

[2020-12-02 15:05] #45428 closed

[2020-12-02 15:08] jkotas commented on #36590
The alternative is for NuGet package authors to eliminate unmanaged dependencies by rewriting them in C#. In fact, it is where Microsoft.Data.SqlClient is heading with `UseManagedNetworkingOnWindows` configuration option: https://docs.microsoft.com/en-us/sql/connect/ado-net/appcontext-switches?view=sql-server-ver15#enabling-managed-networking-on-windows . This option is only supported for testing

[2020-12-02 15:17] danmosemsft commented on #44897
@ViktorHofer can help answer the question above about running libraries tests.

[2020-12-02 15:20] danmosemsft commented on #45482
Closing as dupe 🙂

[2020-12-02 15:20] #45482 closed

[2020-12-02 15:21] #45438 closed

[2020-12-02 15:29] mikernet commented on #41692
@HurricanKai

Splitting methods with trial and error until they inline is somewhat annoying, but if I'm accurately picturing what you mean by a "binary tree of sorts" then breaking it up in a linear fashion (like so)[https://pastebin.com/ek0hqUXA], may be easier and less tedious.

[2020-12-02 15:30] lewing commented on #45421
Asia/Calcutta appears to be one of the obsolete zone names that should have been fixed in https://github.com/dotnet/runtime/pull/43982 which will be included in the 5.0.1 Servicing release.  Without that fix the timezone would essentially always be set to UTC.

[2020-12-02 15:31] HurricanKai commented on #41692
Thank you, that is what I did for the functions were I did this manually, and only have few branches, but in some cases I have 1000+ cases and I believe a binary tree like that will yield less IL, so less binary size.

[2020-12-02 15:34] eiriktsarpalis commented on #27183
@TylerBrinkley would you be able to update the original post? I'll see if I can submit this for review.

[2020-12-02 15:38] eerhardt commented on #45436
@davidfowl @Tratcher - thoughts on making the "linked CacheEntry" feature optional? I think I remember discussing maybe removing it altogether. Given the above analysis, it appears to be a pretty expensive feature even in the case where a user doesn't use it.

[2020-12-02 15:38] jnm2 commented on #39443
@eiriktsarpalis I see. It's like enumerating the first two groupings from a GroupBy, and the latter is not lazy. The syntax sugar is worth it to me. Could we see `Match` in the same category of `Enumerable` methods as `ToLookup` and `ToList` and just be fine with the fact that it's not lazy?

[2020-12-02 15:38] eiriktsarpalis commented on #27449
We could take a look. @inputfalken would you be able to update the original post to match the [API review template](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md#steps)?

[2020-12-02 15:39] TylerBrinkley commented on #27183
@eiriktsarpalis I've updated the original post.

[2020-12-02 15:49] pavel-orekhov commented on #43731
same problem was in netcoredbg
cc @kfrolov @viewizard

[2020-12-02 15:50] ViktorHofer opened #45483 "TcpKeepalive_InfiniteTimeSpan_TranslatesToUInt32MaxValue fails in CI"
[code]

https://dnceng.visualstudio.com/public/_build/results?buildId=905703&view=ms.vss-test-web.build-test-results-tab&runId=28903150&resultId=135589&paneView=debug

Configuration: net6.0-windows-Release-arm64-CoreCLR_release-Windows.10.Arm64.Open

cc @dotnet/ncl

[2020-12-02 15:54] ilyas1974 commented on #45483
https://github.com/dotnet/core-eng/issues/11511 was created for dnceng to address this issue.

[2020-12-02 15:59] CarnaViire commented on #45483
I guess this issue is a duplicate of https://github.com/dotnet/runtime/issues/45249

[2020-12-02 16:00] ViktorHofer commented on #45483
jep, closing as dupe of https://github.com/dotnet/runtime/issues/45249

[2020-12-02 16:00] #45483 closed

[2020-12-02 16:00] ViktorHofer commented on #45249
Failed again in https://dnceng.visualstudio.com/public/_build/results?buildId=905703&view=ms.vss-test-web.build-test-results-tab&runId=28903150&resultId=135589&paneView=debug on `net6.0-windows-Release-arm64-CoreCLR_release-Windows.10.Arm64.Open`

[2020-12-02 16:03] antonfirsov commented on #45483
Yeah, will be fixed by #45249.

@ViktorHofer note that the job `Libraries Test Run release coreclr windows arm64 Release` seems to be executed for `refs/heads/master` only and not for PR-s. This prevented us to notice the bug in advance. Any recommendations to handle this in general/in future?

[2020-12-02 16:04] viewizard commented on #43731
Yes, we also faced with this issue and temporary added hook for `waitpid` in netcoredbg code - https://github.com/Samsung/netcoredbg/blob/0809b8aa1a80c88b35a04106fbfeb9f5be42853e/src/debugger/manageddebugger.cpp#L41-L127

[2020-12-02 16:05] antonfirsov commented on #45483
& does this mean that no libraries tests are executed on ARM64 for individual PR-s?

[2020-12-02 16:08] ViktorHofer commented on #45473
Moving to arcade.

[2020-12-02 16:10] ViktorHofer commented on #45483
Right, as we don't have enough hardware to run them on every PR.

We do have a vendor who is supposed to file test failures from rolling builds. cc @danmosemsft

[2020-12-02 16:18] schipplock commented on #43313
That really is a disappointment for me :(. Meanwhile the java people are churning out ready-to-use OpenJDK M1 builds which just work (for versions down to 8).

Keep up the good work and perhaps there will be a M1 build in less than 1 year :). I just hope so.

Regards,
Andreas

[2020-12-02 16:24] vsfeedback opened #45488 "Blazor Wasm fails when a named HttpClient is used."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Blazor-Wasm-fails-when-a-named-HttpClien/1265078)._

---
[severity:It's more difficult to complete my work]
When a named HttpClient is added to the service collection and later fetched via `factory. CreateClient("someName")` then the project fails to load with the message `RuntimeError:

[2020-12-02 16:28] marek-safar commented on #45475
I meant that we have 3 different types of implementations (intrinsics, SPC/C# version, SRCU/IL version). I see that SPC version is missing about 2 different method sets (e.g. Subtract* with overloads). I didn't look closely but I expect the missing methods can be implemented as C# code in SPC which would expand the non-intrinsics methods in SPC and we could type-forward. I don't know what is the h

[2020-12-02 16:31] #42899 closed

[2020-12-02 16:32] Tratcher commented on #45436
The "magic" factor of this feature has always been a problem. Letting people opt out of it is a good idea. How you do that without breaking people that are using it is a good question.

Trying to opt out on a per entry bases seems like it's going to be a challenge, the  scope is created too early. We don't want to duplicate a bunch of APIs unnecessarily. What about adding one option on MemoryCache

[2020-12-02 16:43] jkoritzinsky commented on #33303
This is 6.0

[2020-12-02 16:44] vsfeedback opened #45485 "Can't edit value of Auto when debugging Blazor WASM Client Project"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Cant-edit-value-of-Auto-when-debugging-/1266443)._

---
[severity:I'm unable to use this version]
The debugger is paused over a breakpoint. It allows me to inspect the value of the local variables but not edit them.
The edit value is ignored and replaced with the original value. Sometim

[2020-12-02 16:45] mkArtakMSFT commented on #45485
@lewing I'm not sure whether this is even supported?

[2020-12-02 17:03] radical commented on #45435
I couldn't reproduce this locally. And I didn't find another instance of this. Closing.

[2020-12-02 17:03] #45435 closed

[2020-12-02 17:03] lewing commented on #45485
This is a known limitation of the current debugger.  We hope to address it but the work isn't currently scheduled.

[2020-12-02 17:05] karelz commented on #43277
@Pilchie this may be owned by ASP.NET team. Is aspnet the right repo?

[2020-12-02 17:07] karelz commented on #44058
Triage: Closing as there is not enough info. Feel free to reopen once you can answer the above questions from @wfurt. Thanks!

[2020-12-02 17:07] #44058 closed

[2020-12-02 17:10] karelz commented on #44315
Triage: Ideally we would have tests working for all versions, or at least have code coverage (based on the list in #44204) for all HTTP versions.

[2020-12-02 17:16] mkArtakMSFT commented on #45488
@lewing FYI

[2020-12-02 17:20] karelz commented on #44458
@ManickaP can you please look at it when you get a chance, so that we can make decision? Thanks!

[2020-12-02 17:22] Anipik commented on #45400
This is a new project we are trying to add.

[2020-12-02 17:25] #45241 closed

[2020-12-02 17:30] karelz commented on #44660
Triage: We should do this based on the info above.
Experiments show that other clients (e.g. Internet Explorer) don't do it either. @wfurt can you find out explanations why?

[2020-12-02 17:33] wfurt commented on #44660
more chatter in #44764 and  https://trac.nginx.org/nginx/ticket/1270

[2020-12-02 17:39] danmosemsft commented on #44903
Thanks, edited text above since we didn't include that this time.

[2020-12-02 17:39] karelz commented on #44669
Triage: We should verify that the 1st request on new HTTP connection is assigned to stream 1.
And if it is, then it is super-low priority as it should be fairly rare and exceptional.

[2020-12-02 17:42] karelz commented on #44778
Triage: Making it compatible with .NET Core 3.0+ makes sense.
If it is worth exposing on .NET Framework is subject to discussion (which we will have tomorrow) and should be split off into separate issue.

[2020-12-02 17:45] karelz commented on #44784
@JamesNK do you know how is it exposed from WinHttp?
Are there customers asking for this on .NET Core? Or on .NET Framework?

[2020-12-02 17:46] danmosemsft commented on #45143
For non ARM64 - I assume you mean Windows Nano? I don't think we've gotten feedback on that gap so I guess ARM64 is the interesting case.

[2020-12-02 17:46] agocke commented on #36590
Not quite. Only extracting the native files is significantly less than before, so it may still be a net improvement

[2020-12-02 17:49] karelz commented on #44799
Triage: If we did this now, we would block ourselves from future support of HTTPS proxies.

@Rand-Random if you think the exception message should be better (or tracing), please let us know. It would help us if you can tell us what it is now and what you think might be better for you to diagnose such issue easier.

Closing for now.

[2020-12-02 17:49] #44799 closed

[2020-12-02 17:50] richlander commented on #7764
My thinking with that is that we'd use Mono for Armv6 as part of .NET 5.0. We most all the Mono/Xamarin related projects to 6.0. I'm hoping that we can fund a Mono Armv6 build in 6.0.

[2020-12-02 17:51] ManickaP commented on #44669
Did a quick look at the code and it can happen. We construct the connection, store it in `_http2Connections` and then we initiate the request itself. The streamId is assigned in `SendHeadersAsync` which happens further down the line so other requests might have been assigned lower stream ids in the meantime.

[2020-12-02 17:53] davidfowl commented on #45436
I would make a change to turn this feature off by default. It adds overhead for scenarios that don't need it.

[2020-12-02 17:56] ericstj commented on #41144
With https://github.com/dotnet/runtime/pull/45142 it is now possible to use this library on ARM64.  It will function correctly for reading non-.NET perfcounters.  .NET application provided perfcounters will still not work, but it will not fail: the instances will just not appear due to lack of the perfcounter.dll which exposes them to Windows.

[2020-12-02 17:58] scalablecory commented on #44876
@stephentoub do we have a customer who is doing both sync and async with one handler?

I would generally expect the user to just do the right thing in the callback based on their usage patterns here, and never need to check this API.

(Unless they are doing both sync and async)

[2020-12-02 18:08] BruceForstall commented on #44039
Set to 6.0

[2020-12-02 18:12] jkotalik commented on #45017
@eiriktsarpalis we setup a meeting tomorrow show the repro to Adam, I believe you were just forwarded the invitation 😄

[2020-12-02 18:17] stephentoub commented on #44876
Ourselves, ideally: we can use this to address HttpWebRequest.ReadWriteTimeout, with multiple HWRs sharing a single handier instance. The workaround now is hacky and more expensive (and requires all consumers to have direct knowledge of the callback), putting a known property into all requests' options bags for the callback to inspect.

In all other cases where custom logic can be plugged in (e.g.

[2020-12-02 18:21] lewing commented on #45488
This looks like an aspnetcore extension?  A sample to reproduce the issue would help us look into it.

[2020-12-02 18:24] #43325 closed

[2020-12-02 18:29] ericstj commented on #27981
Now that #34568 is fixed the scenario of using EventLogReader for this purpose should be more feasible.  @lucasalvarezlacasa can you give this a try with the latest 5.0 packages and see if it works for you?

[2020-12-02 18:38] rlktradewright commented on #45342
@elinor-fung thanks for the comprehensive answer.

Your proposal is pretty simple and works fine in my simple sample app.

How it would scale for the scenario I outlined before, is not clear to me at present, but I don't anticipate any major issues apart from the tedium of doing it.

My antipathy towards it is 'philosophical': it means that the deployment layout has to effectively be encoded in th

[2020-12-02 18:40] eiriktsarpalis commented on #19522
As already mentioned adding more methods to System.Linq comes at a cost, so we would need to see strong evidence for the utility of any new method on a case by case basis. As it stands this issue is more of a wish list of assorted LINQ methods, making it more difficult to evaluate during API review. I would recommend closing it and creating separate issues for each proposal, so that we can have a

[2020-12-02 18:40] #19522 closed

[2020-12-02 18:44] cshung commented on #45287
I believe the right thing to do for this bug is simply to remove the assert. Below I summarize my findings to support the conclusion.

Here is the decoded GCInfo if we ignored the assert.

[code]

and here is the JITDump when the method was compiled:

[code]

They seem to agree, meaning the decoder is doing the right thing.

Debugging the GCInfo generation, here are a few findings:

The method is

[2020-12-02 18:49] AntonLapounov commented on #45287
I agree with that analysis. Let's remove the assert and then we could do an experiment on not producing GC info for those methods.

[2020-12-02 18:51] LordMike opened #45491 "[Cookie] CookieContainer does not accept Expires at year 9999, ignores cookie"
### Description
I was implementing a client for a website, and noticed that two cookies were not set in my HttpClients `CookieCollection`. Further investigation revealed that the `Expires` value must be a valid .NET DateTime to be considered valid. If this fails, the entire cookie is silently discarded.

* [CookieParser.cs](https://github.com/dotnet/runtime/blob/44cf9459f4e846777434875943fd280cadc

[2020-12-02 18:56] Anipik opened #45492 "Hitting Classic PDB format is not supported on CoreCLR. while using 6.0 version of the ILASM package"
Darc updated the ilasm package version to 6.0 and we started hitting this

[code]
is this expected  ?

@dotnet/runtime-infrastructure

[2020-12-02 18:56] fanyang-mono commented on #41452
One of the reasons of the low performance of this benchmark is probably because the multiple usage of `Interlocked.Decrement_int`, since `Interlocked.Decrement_int` itself is 150% slower too.

[2020-12-02 18:56] gmorris007 commented on #44818
I have been following this subject for a while, and wanted to add a comment about my experience with it for the record. My interest stems from the fact that occasionally I will get “An operation on a socket could not be performed because the system lacked sufficient buffer space or because a queue was full”. We (the company & I) require timely polling of data so that is bad news, obviously. I did

[2020-12-02 19:04] #44173 closed

[2020-12-02 19:04] jefflill commented on #44745
Is it possible that we're not installing a required Linux package?

The **Raspberry Debugger** only installs **unzip** for its own use (to unzip the program being debugged), but we don't install anything else. There no mention of any required packages in the manual install instructions dor Debian based distros:

https://docs.microsoft.com/en-us/dotnet/core/install/linux-debian#manual-install

[2020-12-02 19:05] LordMike commented on #45491
This may actually be a timezone issue. When I'm testing locally (Europe/Copenhagen, UTC+01:00), I get the following:

Invalid:

Valid:

And from this, the DateTime I get is: `31-12-9999 23:59:59`, Kind: `Local`

So.. ehm.. if I set my local timezone to UTC, it'll probably work because `Local` won't be +1 hour.

[2020-12-02 19:06] fanyang-mono opened #45493 "Microbenchmark System.Threading.Tests.Perf_Interlocked.*_int is more than 100% slower on Wasm vs. desktop interpreter"
Relavant microbenchmarks:
- System.Threading.Tests.Perf_Interlocked.Decrement_int (150% slower)
- System.Threading.Tests.Perf_Interlocked.CompareExchange_int (149% slower)
- System.Threading.Tests.Perf_Interlocked.Add_int (143% slower)
- System.Threading.Tests.Perf_Interlocked.Exchange_int (129% slower)
- System.Threading.Tests.Perf_Interlocked.Increment_int (122% slower)

[Repro Instructions for

[2020-12-02 19:06] safern commented on #45492
Maybe something changed in arcade? I saw we hit this on the arcade update, right?

[2020-12-02 19:07] elinor-fung commented on #45342
It is also possible to use a [template `runtimeconfig.json` file](https://docs.microsoft.com/dotnet/core/run-time-config/#example-runtimeconfigtemplatejson-file) instead of putting the settings in the project file. By default, the build will look for a file named `runtimeconfig.template.json` in the same folder as the project - the `UserRuntimeConfig` project property can be set to point to a diff

[2020-12-02 19:08] ericstj commented on #45492
Hmm, I'd expect us to be using portable PDBs (as opposed to classic) everywhere now.

[2020-12-02 19:09] ViktorHofer commented on #45492
I might be wrong but could this be connected to @ericstj's change where he stopped producing the old pdb format in libraries?

[2020-12-02 19:10] ericstj commented on #45492
I changed it the other way.  That warning indicates that the build is asking ILAsm to produce classic PDB which is not what we want.

[2020-12-02 19:10] wfurt commented on #44818
The default is to re-use connection for HTTP1/1 and above. Client can indicate it explicitly or it can state that that it prefers to close the connection. However, server can choose to close as well regardless and it seems like this is happening in your case. AFAIK there is really nothing you can do aside from fixing or replacing the server. (or frontload it with load balancer so clients can keep

[2020-12-02 19:12] tommcdon commented on #44503
Thanks for opening the community issue!  Unfortunately it doesn't have the dump of the debuggee (iisexpress.exe or dotnet.exe).  When setting the reg key, 1) double check that the curly braces are around the guid, 2) vsregedit is running in the right instance of VS (if you have multiple installations), 3) try closing VS first, run vsregedit, then restart VS.

```vsregedit set local HKCU AD7Metrics

[2020-12-02 19:13] briansull commented on #45417
@dseefeld What is the simplest way to get the repro dlls: System.Memory.dll

Is there any current impact, other  than the ILDasm/ILAsm isn't round tripping correct?

[2020-12-02 19:14] ericstj commented on #45492
So here is where the ILSDK maps `DebugType` property to commandline args to ILAsm, perhaps that needs some work?
https://github.com/dotnet/runtime/blob/b9de3d04a0921199f24faee9d34a875044ecfe96/src/coreclr/src/.nuget/Microsoft.NET.Sdk.IL/targets/Microsoft.NET.Sdk.IL.targets#L131-L133

[2020-12-02 19:18] dseefeld commented on #45417
@briansull The easiest way to get both dlls for the repo is to download the package from here: https://www.nuget.org/api/v2/package/Microsoft.NETCore.App.Ref/5.0.0 unpack it and pull out the dlls.  It doesn't seem to be causing any impact for us on source-build at the moment, so this one isn't as high of a priority.

[2020-12-02 19:18] NadimNadimNadimNadimNadim commented on #44826
While doing so allowed me to authenticate successfully, I still received the exact same error message.
It also continues to be the case that taking the exact same code and running it in .NET Core 3.1 on Windows works as expected.

Trying with another user also results in the same error. Again, running the code in .NET Core 31 on Windows works as expected.

Thanks for taking the time to reply to th

[2020-12-02 19:18] trylek commented on #45286
I think that Crossgen2 currently adds call site identification to method call import cell identity so that we indeed create separate import cells / thunks per call site. I think I originally implemented it like this based on one of your older design docs where you mentioned it as a potential perf optimization (because in case of virtual dispatch the import cells for different call sites can conver

[2020-12-02 19:26] michalhosala commented on #36590
@agocke I meant it is going to be the same because there are going to be more files in the temp folder than just one exe and these files can again get randomly purged, as it is happening. That's why it is "the same" for us, while I of course agree the process was overally improved quite a bit.

[2020-12-02 19:27] agocke commented on #36590
We've also implemented some fixes to validate that the proper files are present whenever the app is started, but you're right: there's still an inherent race condition risk with the file system, and these changes only reduce risk, not eliminate it.

[2020-12-02 19:29] NadimNadimNadimNadimNadim commented on #44826
@joperezr
I forgot to mention: currently, I am using `string searchBase = "DC=inc,DC=company,DC=com";` This fails on Linux but works on Windows (with the setup described above).
However, If I instead use `string searchBase = "CN=Users,DC=inc,DC=company,DC=com";` I get the users in the "Users" path (missing users that are in the top level DC=inc,DC=company,DC=com that were returned on Windows using

[2020-12-02 19:29] elinor-fung commented on #45316
Wow. Yeah, I think this has been wrong for a long time. Good catch.

[2020-12-02 19:31] jkotas commented on #45286
Yes, we should match what CG1 does.

The cell duplication would only explain the difference in the `.data` section. Even when the cells are duplicated, the signatures and thunks should be shared between all cells with the same signature. We seem to have a problem with de-duplicating signatures.

[2020-12-02 19:33] briansull commented on #44831
Manual run of jit-stress to confirm that it is green:

https://dev.azure.com/dnceng/public/_build/results?buildId=906223&view=results

[2020-12-02 19:36] jbogard opened #45496 "Support W3C Baggage proposed standard"
The W3C Correlation-Context proposed standard was [renamed to "baggage"](https://github.com/w3c/baggage/issues/17). As part of that rename, the header was renamed from `Correlation-Context` to `baggage`.

The details of the spec are in [public working draft](https://www.w3.org/TR/baggage/), which remain the same as `Correlation-Context` except with the header name change.

Since this is a potentia

[2020-12-02 19:45] jbogard commented on #45496
@tommcdon I think this is probably yours, I didn't get the label magic to work. It's `System.Diagnostics.DiagnosticSource`.

[2020-12-02 19:46] AaronRobinsonMSFT commented on #43246
@danmosemsft and @TonyValenti This is a good question and one that warrants a longer discussion. The [`RuntimeInformation.ProcessorArchitecture`](https://docs.microsoft.com/dotnet/api/system.runtime.interopservices.runtimeinformation.processarchitecture) is meant to indicate the processor type the runtime is on top of, not necessarily details about the underlying hardware. Since there is an x86 em

[2020-12-02 19:47] eiriktsarpalis commented on #27687
A few remarks:

* I would support implementing `MinBy` and `MaxBy`. They are useful methods without good alternatives at the moment. I'm not sure if we should add the `defaultValue` overloads.
* Likewise, I think `DistinctBy` is useful. It should also come with an IQueryable implementation.
* Playing devil's advocate: what problem does `ExceptBy` solve? You assert that a naive workaround would tak

[2020-12-02 19:51] eiriktsarpalis commented on #39443
We could, but I think the return type should communicate this fact by returning something like `IReadOnlyCollection<T>` instead of `IEnumerable<T>`.

[2020-12-02 19:54] gmorris007 commented on #44818
@wfurt Would I be better off using HttpWebRequest/HttpWebResponse objects for this application, since the server wants a new connection for every request? Perhaps this is not an ideal scenario for use of HttpClient.

[2020-12-02 20:05] ikeough commented on #43411
Our issue is exactly the opposite of @andersson09's, and happens in a different place, but seems to have the same root cause. Our call to `CSharpCompilation.CreateScriptCompilation` succeeds but the first time we try to do `CSharpCompilation.GetDiagnostics` following the compilation call we get the `Cannot wait on monitors...` exception (stack trace below). The second time we execute this exact sa

[2020-12-02 20:08] eiriktsarpalis commented on #43702
Note that we would also need to include the reducing selecting overloads:
[code]
as well as the IQueryable variants:
[code]

[2020-12-02 20:10] steveoh commented on #418
This just surprised me. count me into the camp that agrees it should serialize to null and it isn't that important to round trip back to a dbnull as i think a null is ok.

[2020-12-02 20:15] janvorli commented on #44745
I was helping @hoyosjs to investigate it yesterday and we have found that it is a bug in our code that occurs only when debugger attempts to get certain data structures from the target process at addresses >= 2GB. For some reason lost in the past even before .NET Core was ported to Linux, we were undefining the _FILE_OFFSET_BITS in the file where the method to read from the remote process is locat

[2020-12-02 20:19] NinoFloris opened #45497 "Dependency Injection IServiceProvider Decoration"
## Proposed API
I want to propose one api addition to MS DI which would be useful for use-cases like service decoration, debug/logging service requests, cross-wiring, child containers and scope tracking.

[code]

Naming is of course up for discussion, `ServiceProviderFactory` is an overloaded term but I didn't directly find any precedent for calling anything a `Decorator` in dotnet/runtime so I le

[2020-12-02 20:19] jefflill commented on #44745
OK, that makes sense.  I'm testing on a Raspberry 4 with 4GiB RAM, so addresses can be > 2GB.

[2020-12-02 20:21] MgSam commented on #27687
@eiriktsarpalis Is there a reason you guys haven't reviewed this (or scheduled it for review) yet? I realize it doesn't follow the template but it seems pretty clear what it's asking and obviously you guys are aware of the proposal.

[2020-12-02 20:26] jeffreylongo commented on #43313
.Net dying on my M1 left and right.
I did have my Angular/Core project up and running with a custom configuration (didnt actually change any config), but after a VS update, the Core project will not run at all...at least I can play with angular and VS Code...but a little underwhelming without my API running

[2020-12-02 20:27] NinoFloris commented on #41050
As for the `ServiceDescriptor` api changes, I would strongly recommend while doing these changes to also add the concept of ownership with a flag like `ExternalOwnership` (somewhat mirrorring `ExternallyOwned()` in AutoFac), this would make cross wiring at the descriptor level (for a unified and overridable service graph) much more feasible.

If it would require another api proposal to do so we sh

[2020-12-02 20:31] wfurt commented on #44818
It should not matter. For Core, HttpWebRequest uses HttpClient behind the scenes anyway.
Using HttpClient directly has less layers but it will not change the networking behavior.

[2020-12-02 20:56] sandreenko opened #45501 "Replace OSX_ARM64_ABI define with a runtime flag."
- [ ] Delete `DEBUG_ARG_SLOTS` code. It was added to check that the previous behavior for supported platforms was preserved with Apple Arm64 changes. Once we get a ci and pass all tests on arm64 apple we should get rid of it, so we don't have any special fields in jit internal structures for !OSX_ARM64_ABI.

- [x] Replace `OSX_ARM64_ABI ` usages with runtime flag, something like `#ifdef ARM64 && U

[2020-12-02 20:56] sandreenko commented on #45501
cc @davidwrighton

[2020-12-02 21:03] akoeplinger commented on #45357
This was a side-effect of https://github.com/dotnet/runtime/pull/45164. We agree it's confusing and we'll fix it, in the meantime you can view the test failures by going to the "Tests" tab in the Azure DevOps build summary page.

(note: the reason why you still see the console log in WASM builds is because they use a different way of running the tests).

[2020-12-02 21:05] ycrumeyrolle commented on #45202
I can propose another API instead:

[code]

The `SkipObject()` method is specialized for skipping only JsonType.StartObject.
The `SkipArray()` method is specialized for skipping only JsonType.StartArray.

We are using such methods while parsing JSON document. When parsing at a 1st pass the objects & arrays are skipped , because such items are not revelants , but we keep the count of items.
If the

[2020-12-02 21:12] nattress commented on #45286
Removing the thunk per-callsite duplicates yields a 160KB size reduction for S.P.C. There are still 300kb of thunks. I'll look into the signatures and verify we're properly sharing those.

<pre>
 LEFT_SIZE RIGHT_SIZE       DIFF  PE sections by name (3 ELEMENTS)
------------------------------------------------------------------
    546816     492544     -54272  .data
     35328      26112      -921

[2020-12-02 21:15] buyaa-n commented on #44231
Discussed with @jeffhandley offline, we gonna separate windows specific (scenario 1) and browser unsupported (scenario 2)  APIs into separate files so that they are not warning in unrelated builds. Updates for scenario 2 would cover several files from several projects, so i am gonna cover those updates in different PR and for the first round i will keep Supported attribute removed from browser bui

[2020-12-02 21:16] CoffeeFlux commented on #43402
It seems like the bug was properly fixed in the build tree, but the dotnet.wasm shipping with the .NET 5 release is out of date. It has the old version of the icall:
[code]

Following to discover the cause of the packaging problem.

[2020-12-02 21:16] Logerfo commented on #43702
@eiriktsarpalis
I think that a good starting point on the maximum arity is the `System.Tuple` arities. It goes up to 7 type arguments until it starts nesting the tuples.
I have updated the proposal to contain the method groups you pointed out.
Thanks.

[2020-12-02 21:19] jkotas commented on #45286
This is still a lot. It should be <100 bytes, like with the CG1.

[2020-12-02 21:22] tmat opened #45503 "Messages printed to STDERR by DefaultCatchHandler are not encoded correctly"
### Description

Unzip [Repro.zip](https://github.com/dotnet/runtime/files/5632085/Repro.zip) and run `dotnet run`.

The app spawns a new process and redirects its output. It sets the STDOUT and STDERR output encodings to `Encoding.Unicode`. The process sets `Console.OutputEncoding` to `Encoding.Unicode` as well. Then the process prints out a message to STDOUT via `Console.WriteLine` (encoded corr

[2020-12-02 21:30] jnm2 commented on #39443
@eiriktsarpalis I'd be a fan of that. Or `ImmutableArray<T>` to be honest.

[2020-12-02 21:31] tommcdon commented on #43313
Very sorry to hear! We are tracking known Rosetta 2 issues on #44897.

[2020-12-02 21:37] davidfowl commented on #45497
I think avoiding service descriptor API changes is best here so this has that going for it. The other thing I would say is that it needs to be free when this setting is null.

I also don't quite understand how this extensibility solves the things described in the issue so I'd need to see some more concrete ways this solves those problems.

[2020-12-02 21:59] safern commented on #43952
@naricc I added blocking-clean-ci as this manifests as:
[code]

Whenever the Mono runtime tests start running before CoreCLR build is done.

[2020-12-02 22:00] thomaslevesque commented on #27687
@eiriktsarpalis

It's not different in terms of behavior (I assume you meant IEqualityComparer), and the same is true of all those proposed methods (ExceptBy, UnionBy, IntersectBy, DistinctBy). But writing a custom equality comparer every time you want to perform one of those operations based on a given property is time-consuming, and the logic of the comparison isn't immediately visible without l

[2020-12-02 22:05] safern commented on #40416
The errors are no longer baselined since we moved APICompat to run against 5.0.0 and we haven't gotten a repro (really weird). Closing.

[2020-12-02 22:05] #40416 closed

[2020-12-02 22:10] NikolaMilosavljevic commented on #45120
@Anipik is this dependency for dotnet/installer repo? Also, why is this an "api suggestion"?

[2020-12-02 22:18] #32205 closed

[2020-12-02 22:23] vitek-karas commented on #45342
In theory the `.deps.json` is basically the configuration file and can be used to achieve similar results as the privatePath in .NET Framework. The problem is that it's very detailed (per-assembly as oppose to per-directory) and thus much harder to modify maintain.

[2020-12-02 22:29] lewing commented on #43402
The fix for this didn't make it into 5.0.0 but is in release/5.0 and should be part of the next 5.0.x servicing release.

However the 5.0.2xx installer is pointing at 5.0.0 runtimes after https://github.com/dotnet/installer/pull/9185  so it is difficult to verify
cc @mmitche

[2020-12-02 22:31] sandreenko opened #45507 "dump command line to repro a crossgen2 failure with singlemethodname, singlemethodtype"
Crossgen2 has `--singlemethodtypename, --singlemethodname` that allow to set just one method to compile. It is useful for debugging, but it is tricky to find the method type name for a failure that you see in CI/local run.
It would be nice to have an optional/default verbose message that says which methodtypename and methodname you need to set for a replay.

PTAL @davidwrighton, @trylek, @nattress

[2020-12-02 22:57] dazinator commented on #45497
@NinoFloris
I went down the same path as you - in terms of a scope tracking IServiceProvider, capable of being asynchronously disposed - that safely waits for any active scopes to become freed. I had discussions somewhere with @davidfowl at the time about this general concept, will see if I can dig it out - I couldn't sell it very well!

You can find my implementation here:
https://github.com/dazi

[2020-12-02 23:26] DemiMarie commented on #45256
What if a program really does want to catch `System.Exception` or even `System.Object`?  I can think of many cases for this:

- Test harnesses
- User-mode sandboxes (such as Haskell’s [mueval]) that statically analyze code for safety before allowing it to run.
- REPLs, such as F# Interactive

[mueval]: <https://hackage.haskell.org/package/mueval>

[2020-12-02 23:31] mmitche commented on #43402
The 5.0.2xx installer is shipping a 5.0.0 runtime because it's in preview, not the 5.0.1 runtime.

/cc @marcpopMSFT

[2020-12-02 23:44] NinoFloris commented on #45497
Thanks @davidfowl that's an encouraging reply!

I'll go through it piece by piece.

I hope you didn't mind the length of the proposal too much ;) it was precisely because I know how hard it is (something something constrain to get any changes into this area, really glad to hear this!

Understood and I wouldn't want it any other way, if you take a look at ILEmit as an example:

[code]
https://githu

[2020-12-02 23:45] #45287 closed

[2020-12-02 23:49] NinoFloris commented on #45497
@dazinator thanks for the comment :) I know you battled with many of the same issues, at Crowded we started using .net core 1.0 alpha, back then we used StructureMap like Saaskit and like them we had an endless list of issues, around 2.0 we switched fully to MS DI where we are today, Our tenancy support is an implementation in F# and one day when all of this works without hacks I'd love to open so

[2020-12-02 23:52] cshung opened #45508 "Consider skipping generating GCInfo for uninterruptible methods."
During the investigation of https://github.com/dotnet/runtime/issues/45287, I figured there are some methods that are neither fully interruptible nor having any safe points. Such a method will not be interrupted for GC and therefore there should be no need to provide GCInfo for it. We might be able to save some space if we do not generate GCInfo for them.

[2020-12-02 23:58] sandreenko commented on #41130
With https://github.com/dotnet/runtime/pull/45467 being merged we have small stack arguments passing support on Apple Arm64, it fixes the following tests from pri0:
[code]

I will publish results for pri1 later, I have not seen any regressions, but I suppose there could be some missed cases.

If we ever need to port this support back here are the PRs:
https://github.com/dotnet/runtime/pull/43024 (

[2020-12-03 00:05] markwilkie commented on #45249
I really feel like we need to find a way to get this test out of the way so it stops blocking the build.  (then, once this test is ready, it can be brought back in)

[2020-12-03 00:09] riarenas commented on #45249
@antonfirsov has a PR for this https://github.com/dotnet/runtime/pull/45480 which is linked to this issue. I do think that if it doesn't make it in by tomorrow morning, this test should be disabled while it makes it in.

[2020-12-03 00:13] jinek commented on #45256
Thank you for nice question. You have made me understanding that my initial description is not easy while being short.
Both Compliant and NonCompliant modes allow to do that, because entry point assembly can be NonCompliant in both modes (but in force mode it will be forced to be compliant).

The difference is that in NotCompliant runtime mode you can call:
NotCompliant entrypoint --------> compli

[2020-12-03 00:16] CarolEidt commented on #11992
@sandreenko - I think this might have been fixed by your changes?

[2020-12-03 00:16] BreyerW commented on #30083
@GrabYourPitchforks would be ok to provide polymorphism support via something like `TypeResolver` that mimics `ReferenceResolver` but for `$type` metadata? This way different ploymorphism mechanism could be provided depending on security requirements (eg not every app holds sensitive data or some live in isolated enviroments meaning data is always trusted)

[2020-12-03 00:20] trylek opened #45509 "Crossgen2: don't emit type fixups for primitive types"
OS / arch: all

In contrast to Crossgen1, Crossgen2 unnecessarily emits method fixups for primitive types. These are initialized at CoreCLR runtime startup and don't need explicit fixups taking up space in the PE files and slowing down runtime execution.

<pre>
__Canon System.Array.FindLast<__Canon>(__Canon[], System.Predicate`1<__Canon>)
Handle: 0x06000150
Rid: 336
Number of RuntimeFunctions: 1
N

[2020-12-03 00:21] akoeplinger commented on #45492
See the discussion in https://github.com/dotnet/runtime/pull/45387#issuecomment-736916247

[2020-12-03 00:32] ViktorHofer commented on #45249
Converted to a live tracking issue. Fails on public builds 7 times per day.

[2020-12-03 00:33] ericstj commented on #799
Closing per support in Microsoft.Extensions.Hosting.Systemd

[2020-12-03 00:33] #799 closed

[2020-12-03 00:41] ViktorHofer commented on #30056
Happened again with dump and all:

core.13145:
  https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-45480-merge-dde19b458b43432eb3/System.IO.FileSystem.Watcher.Tests/core.13145?sv=2019-07-07&se=2020-12-22T19%3A07%3A45Z&sr=c&sp=rl&sig=tDpCnBJFS37RIHP04exheAsDCJ9fH5vsdBUWccpJg3c%3D

how-to-debug-dump.md:
  https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-run

[2020-12-03 00:41] #45249 closed

[2020-12-03 00:44] ViktorHofer opened #45510 "FrameworkHiveSelection_GlobalHiveWithBetterMatch failed in CI"
https://dev.azure.com/dnceng/public/_build/results?buildId=906108&view=ms.vss-test-web.build-test-results-tab&runId=28912544&resultId=100177&paneView=debug

Configuration: Installer-coreclr-windows_x86-Debug

[code]

Stacktrace:
[code]

cc @vitek-karas (?)

Runfo Tracking Issue: [frameworkhiveselection_globalhivewithbettermatch](https://runfo.azurewebsites.net/tracking/issue/108)
|Build|Definition

[2020-12-03 01:05] richard-grant-codepro commented on #45262
Same issue here with en-NZ. Getting 'NZD' instead of '$'

[2020-12-03 01:16] ViktorHofer commented on #30056
Looking at runfo and only into rolling builds, this failed in 3 builds in the last 14 days: https://runfo.azurewebsites.net/search/tests/?bq=definition%3Aruntime+started%3A%7E14+kind%3Arolling&tq=name%3A%22System.IO.FileSystem.Watcher.Tests%22

[2020-12-03 01:21] stephentoub commented on #45475
They were just added as they were needed by corelib.

[2020-12-03 01:31] ViktorHofer commented on #45510
@agocke the test started to fail just recently, so presumably a regression? this is killing our pass rate, should we disable the test meanwhile?

[2020-12-03 01:33] #45316 closed

[2020-12-03 01:42] ViktorHofer commented on #44183
Failed again on Windows arm64: https://dev.azure.com/dnceng/public/_build/results?buildId=906071&view=ms.vss-test-web.build-test-results-tab&runId=28911858&resultId=146495&paneView=debug

[2020-12-03 01:45] ViktorHofer commented on #44183
Also happening on x86 and x64 Windows. Converting the issue to a live tracking one.

[2020-12-03 01:46] elinor-fung opened #45515 "Installer test failures in PR build do not fail the build"
If one of the tests fail in the installer build job, it is treated as a warning instead of failing the build. The build is marked partially succeeded and the checks in the PR show up as successful.

Example build: https://dev.azure.com/dnceng/public/_build/results?buildId=906193&view=results

Possibly related to the `continueOnError` changes in #45178?

cc @dotnet/runtime-infrastructure @agocke @v

[2020-12-03 01:46] Redth commented on #44882
There is no Xamarin support in .NET 5, and there will not be.  The existing runtime for Xamarin will continue to be supported into .NET 6 where Xamarin support will actually land.

[2020-12-03 01:52] ViktorHofer opened #45516 "ios test run on simulator got cancelled"
https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-603733d0cf4e42a98b/System.Xml.RW.WrappedReader.Tests/console.e3c83457.log?sv=2019-07-07&se=2020-12-22T16%3A36%3A36Z&sr=c&sp=rl&sig=XX0uc%2FCJFVBrK3ZaOzU1Ol8CSC%2B4oiJ0v5fldTAFmmU%3D

Build: https://dev.azure.com/dnceng/public/_build/results?buildId=905807&view=ms.vss-test-web.build-test-results-tab&runId=289058

[2020-12-03 01:53] ViktorHofer opened #45517 "System.Collections.Concurrent.Tests crashing in CI"
Build: https://dev.azure.com/dnceng/public/_build/results?buildId=905607&view=ms.vss-test-web.build-test-results-tab&runId=28901114&resultId=182589&paneView=attachments

Configuration: `net6.0-Linux-Release-x64-CoreCLR_release-RedHat.7.Amd64.Open`

how-to-debug-dump.md:
  https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-b6482f3963824bb38a/System.Collections.C

[2020-12-03 01:54] ViktorHofer commented on #45517
cc @jkotas in case you are interested in the dump

[2020-12-03 01:56] hoyosjs commented on #45515
@elinor-fung thanks, @safern is in the process of fixing it and it was indeed that change (yml string vs bool shennanigans).

[2020-12-03 01:58] ViktorHofer commented on #39669
Failed again in https://dev.azure.com/dnceng/public/_build/results?buildId=905607&view=ms.vss-test-web.build-test-results-tab&runId=28901910&resultId=100002&paneView=debug. Unsure if this is the same cause?

Dumps are logged as well.

[2020-12-03 02:06] josalem opened #45518 "Improve Eventing Fundamentals"
This issue is tracking investigation and potential work on improving eventing fundamentals in .NET.

**User Statement**: As a user, I should be able to easily enable and collect profiling and event data from my .NET application with minimal overhead.

- [X] Make C implementation of EventPipe the default (#46079) (#47665)
- [X] Aligned reader causes latency in dispatching events live (now tracked i

[2020-12-03 02:06] elinor-fung commented on #45510
This should be fixed by #45500

[2020-12-03 02:07] scalablecory commented on #31088
Okay, all the API details proposed make sense now that I've skimmed the RFC.

I am not a web socket expert, so here are some thoughts -- @zlatanov @davidfowl does this make sense?:
- Is it valuable to keep the exact term `NoContextTakeover`? i.e. is it understood language that users would expect to carry across implementations? We may want to change this -- negative becomes positive `ClientContext

[2020-12-03 02:16] safern opened #45521 "Collapse Mono builds into single builds for Desktop targets"
Currently we fan out test legs and build Mono and Libraries in a separate leg. Then put those together in a run test leg and submit to helix. We do similar things for the mono runtime tests.

However this model has proven that reliability issues like networking hiccups, artifacts service outages, etc, bite us and the gain in time for Mono targets is not worth it.

We should be collapsing the Mono

[2020-12-03 02:17] #45411 closed

[2020-12-03 02:21] ViktorHofer commented on #45510
Closing and will reopen if I see other hits. Thanks

[2020-12-03 02:33] #45515 closed

[2020-12-03 02:46] riarenas opened #45524 "Disabled Job - Libraries Test Run release mono windows x64 Release"
Almost all tests involving networking fail in that leg. The test runs have been disabled temporarily in https://github.com/dotnet/runtime/pull/45529

An example in https://dnceng.visualstudio.com/public/_build/results?buildId=906071&view=ms.vss-test-web.build-test-results-tab

hmm this might be related to the helix rollout since it overlaps with when the rollout happened. all of the workitems have

[2020-12-03 03:07] BruceForstall commented on #6323
@echesakovMSFT Looks like the JIT has an implementation of SWP for arm64; maybe we should use it when available?

cc @kunalspathak

[2020-12-03 03:11] BruceForstall commented on #6582
I'm going to close this in favor of https://github.com/dotnet/runtime/issues/10790.

[2020-12-03 03:11] #6582 closed

[2020-12-03 03:14] jkotas commented on #45517
Crash during background GC handle table scan:
[code]

[2020-12-03 03:41] coolbluewater commented on #44882
@Redth - .net 6 is a year out, is it not? That would make Mac Catalyst support occur 2.5 years after the fact. Or in other words, 30 months late.

I beg to ask, what led to this unfortunate decision? This is not the time to remain silent.

https://github.com/xamarin/xamarin-macios/issues/6210 was filed in June 2019, and went largely ignored despite people pleading desperately for this.

@praeclaru

[2020-12-03 03:51] Dewera opened #45528 "Add generic overloads for Attribute.GetCustomAttribute"
## Background and Motivation

Calling `Attribute.GetCustomAttribute` requires you to explicitly provide the type as an argument. It would make sense to provide generic overloads where applicable like is done in most of .Net (using typeof(T) to get the type internally.)

## Proposed API

[code]

It may also make sense to constrain `T` to be of type `Attribute` like so

[code]

## Usage Examples

Th

[2020-12-03 03:58] Dewera commented on #45528
Upon further inspection it seems it would make sense to extend this suggestion to many of the methods in the Attribute class

[2020-12-03 04:16] echesakovMSFT commented on #45250
I constructed a simpler repro that does not require F# in https://github.com/dotnet/runtime/pull/45527. Presumably the test should fail on any platform that supports tail call via helpers (except x86).

The issue origin is how the JIT transforms `tail. callvirt` to a generic virtual method that has as its `this` argument another call as shown in an example below:
[code]

The IL snippet corresponds

[2020-12-03 04:18] rajeshaz09 opened #56028 "Blazor webassembly - Breakpoints not hitting"
### Describe the bug
Breakpoints are not hitting in my Blazor Webassembly application. Warning message in console is
**_: /__w/1/s/src/mono/mono/mini/debugger-engine.c:190 < disabled>**

But if I copy project to **C:\ drive**, then I can able to debug.

### update1
Identified root cause of the problem. We have **Directory.Build.props** file located in solution file directory. Following are content

[2020-12-03 04:36] jkotas commented on #45517
GC heap is corrupted. The corrupted objects are `System.Xml.Linq.XAttribute`s used by xunit harness for report.
[code]

[code]

[2020-12-03 04:36] jkotas commented on #45517
This needs more dumps to develop pattern. I do not see any more clues.

[2020-12-03 04:58] benaadams commented on #45528
It currently exists as an extension method?
[code]

Though for existence IsDefined might be better?
[code]

[2020-12-03 05:07] #45528 closed

[2020-12-03 05:10] Dewera commented on #45528
My bad. I didn't realise these were exposed via extensions methods.

[2020-12-03 05:27] kjpou1 opened #45531 "[browser][websockets][tests] Tests for CloseDescription Max Length are failing"
There seems to be a max length verification for the websocket close description that browser is not checking for.

The tests are expecting an exception but the browser websocket implementation does not throw an exception.

[code]

See https://github.com/dotnet/runtime/pull/45470 for tests

[2020-12-03 05:50] safern opened #45532 "Installer Build failed with fatal error C1007 on windows arm64"
[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=906703&view=logs&j=f5132c4d-221c-5bab-9451-fb5746c80054&t=47a75d49-32a8-5499-0783-e9566010a717

cc: @agocke

[2020-12-03 07:10] rolfbjarne commented on #44882
Mac Catalyst is being implemented for both the current Xamarin.iOS, as well as .NET 6.

[2020-12-03 07:16] DillonN commented on #42142
Maybe another perspective would help, if you consider this service registration:

[code]

Since `MyClient` is registered as transient, I would expect this to work. I.e. I would expect the scope of `sp` in `CreateHandler` to be the same as where `MyClient` is being resolved from

But this doesn't work because `DefaultHttpClientFactory` is managing the `IServiceProvider` and it's a singleton:

https

[2020-12-03 07:35] coolbluewater commented on #44882
@rolfbjarne, so @redth is not a Xamarin employee? Understood.

In that case, by Milliways, do let's have a timeframe for when we can expect something, anything.

[2020-12-03 07:43] misterbit-pro opened #45533 "FileSystemWatcher running in dockerized application does not report changes in docker volumes"
Hello,

I have tried my best to find some help related to my issue on the internet, but neither works for me or is not supported on linux.

The problem is I have ah .net5 console application running in a docker container that conatins a FileSystemWachter, wich watches a dir, wich is mounted using docker volumes to a dir on my debian server machine. When I am adding a file to the dir on the host ma

[2020-12-03 07:53] kjpou1 commented on #45531
The validation is there but the exception is not be propagated to the unit test https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.WebSockets.Client/src/System/Net/WebSockets/BrowserWebSockets/BrowserWebSocket.cs#L460

[2020-12-03 07:55] zlatanov commented on #31088
@scalablecory thanks for the feedback. Here are my thoughts:

I completely agree that renaming some of the properties towards making more sense for consumers who are not (and probably should not) familiar with the RFC.

The implementation will be the same regardless server / client, but I agree that having this omitted from the client is a good thing, and basically matches what we have in the brow

[2020-12-03 08:16] davmason commented on #39669
It doesn't look like the same failure. Looking at the dumps, I don't even see a problem. It just looks like it's executing normally.

[code]

[2020-12-03 08:31] agocke commented on #45532
@mateoatr Could you take a look at this?

[2020-12-03 08:34] timcassell commented on #45446
Interestingly, I found similar issues with regards to measuring allocations in both Core 3.1 and 5.0. See https://github.com/dotnet/BenchmarkDotNet/pull/1543
I am unsure if the issue with allocations and total memory are related. @adamsitnik mentioned in that other issue that he tracked that issue down to the jitter running in a separate thread. It seems to be completely random when it occurs (for

[2020-12-03 08:39] premun commented on #45516
This is an issue I am working on and should have a fix today or tomorrow hopefully:
https://github.com/dotnet/xharness/issues/305

It is caused by a simulator getting really slow until it won't be able to install things. It doesn't get cancelled, it hangs for 30 minutes actually (see the time difference):
[code]

[2020-12-03 08:41] premun commented on #45516
I have disabled the machine to unblock the pipeline (it's always machine bound)

[2020-12-03 09:06] filipnavara opened #45535 "[tvOS] System.Net.Security depends on non-existant System.Net.Security.Native"
There's no GSS support on tvOS and hence System.Net.Security.Native is not built on the platform (
https://github.com/dotnet/runtime/blob/3c39a5d3b8310d9adcb906718cf985d3e40122da/src/libraries/Native/Unix/CMakeLists.txt#L224). The managed code still references the library though which causes problem when trying to link on the platform. I assume it should throw PNSE instead.

[2020-12-03 09:23] LeaFrock commented on #44458
IMO, I prefer `public FormUrlEncodedContent(IDictionary<string, string?> dictionary)`. It makes no breaking changes, and callers can write codes like below,
[code]
@karelz @ManickaP I can make a PR to finish it if you have more imporant things to deal with.

BTW, I think [Encode](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Http/src/System/Net/Http/FormUrlEncodedContent.c

[2020-12-03 09:47] Rand-Random commented on #44799
@karelz

Not really, since I just suggested it as a fallback and not just do it.
So when a https URL in the https proxy evironment variable would be supported the fallback wouldn't trigger.

I don't understand your response here, because I already told you how to do it better and how it works now.
If you didn't understand what I was talking about it would help me if you could raise questions so I

[2020-12-03 10:00] scalablecory commented on #45524
Looking at logs, failures appear to be related to reflection. Can you point me to where you are seeing `MsQuicApi` as possible suspect?

A first-chance exception is expected here as a P/Invoke call is used to test for a DLL's presence. Are you seeing the exception leak out in other ways?

[2020-12-03 10:06] scalablecory commented on #45488
CC @CarnaViire

[2020-12-03 10:14] scalablecory commented on #45462
There's no way to do this with `HttpWebRequest` or `WebSocket`.
The former is obsolete and not being invested in. We could consider an API for `WebSocket`, though.

Not being able to use `DiagnosticsHandler` with `SocketsHttpHandler` is a known wart -- tracking that at https://github.com/dotnet/runtime/issues/31261

[2020-12-03 10:18] inputfalken commented on #27449
@eiriktsarpalis ✔

[2020-12-03 10:24] LukeTOBrien commented on #45478
I have been trying to recrate the issue without success. I will keep trying.
I think it seems to be when a JS Promise is unwrapped into a .Net type.
When a Promise is rejected then it is caught and a .NET exception is outputted to the console, but somehow in this instance the exception was not being caught?

I can also confirm that the issue no longer occurs, so it may have been a memory issue tha

[2020-12-03 10:24] premun commented on #45516
I noticed that the yesterday's rollout rebooted the machine and it was completing jobs fine after that.

Fix is here: https://github.com/dotnet/arcade/pull/6639

[2020-12-03 10:25] premun commented on #45516
The pool is now in a good shape, I tested this - we could close this @ViktorHofer

[2020-12-03 10:43] tmds opened #45537 "proposal: delete unix socket path on Dispose of bound Socket"
aspnetcore repo has an open issue about unix socket not getting cleaned up on exit: https://github.com/dotnet/aspnetcore/issues/14134.

The socket path of a unix domain socket acts as the address.
When the `Socket` gets disposed, we should make the address available by deleting the file.

With the current behavior, this program fails:

[code]

[code]

Deleting the file is a visible change, so we s

[2020-12-03 10:51] kjpou1 opened #45538 "[browser][websockets][tests] Test failures for invalid WebSocketCloseStatus codes"
[code]

see https://github.com/dotnet/runtime/pull/45470 for tests
part of: https://github.com/dotnet/runtime/issues/44666

Update:

Looks like an implementation detail of [WebSockets.close() ](https://developer.mozilla.org/en-US/docs/Web/API/WebSocket/close)as provided by the browser.

Found reference to in reported issue of specific source code checking and verifying this code:  https://searchfo

[2020-12-03 11:16] karelz commented on #44818
@gmorris007 while `HttpWebRequest` mostly creates a new connection per request (we started caching some connections in .NET Core 3.0), it is not guaranteed and it may change in next versions.
We highly recommend to use `HttpClient`. Setting [`ConnectionClose = true`](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.headers.httprequestheaders.connectionclose) should be sufficient. If it

[2020-12-03 11:38] akoeplinger commented on #45524
One example is in this log:

[code]

It sounds like something goes wrong when loading the MsQuic library but I don't see any related changes between the good/bad commits so my current hunch is that something in the OS changed.

[2020-12-03 12:30] karelz commented on #45537
Sounds reasonable to me -- @antonfirsov @geoffkizer any thoughts?

[2020-12-03 12:34] jeffreylongo commented on #44897
My Core/Angular project on M1 isnt running any longer.

Initially, I was only able to get it to run by running with a custom configuration (however, I didnt change any of the configs).

After a VS update, it will no longer run at all. It compiles fine, but I cannot run or debug the Core code. The angular project will bootstrap itself and run, but thats it. Angular project will run on its own, or b

[2020-12-03 12:35] eiriktsarpalis commented on #27687
Couple of reasons. The size of the backlog is significant so it takes us time before we can get to triage everything. I also need to be confident that any proposal has a strong chance of getting approved before I mark it as ready for review: this includes gathering evidence that the addition provides value to users, poking holes in the design, and finalizing the API shape. Following the template i

[2020-12-03 12:37] akoeplinger commented on #45524
Hmm after more digging this doesn't look related to MsQuic anymore, I tried disabling loading it with https://github.com/dotnet/runtime/pull/45520 but there are still other workitems that hit the reflection issue.

We seem to be hitting it on the release/5.0 branch as well so it definitely looks related to the recent Helix rollout.

[2020-12-03 12:42] En3Tho opened #45539 "[Question] Microsoft.Extensions.Configuration F# type handling"
I have a config type which has a specifig F# option type. I'm using out of the box json configuration provider. The problem is that this option type doesn't have a parameterless constructor and it seems like there is no way to add any custom options to JsonConfigurationProvider or Configuration infrastructure.
The way I see is that they should behave more or less the same as the standard JsonSeria

[2020-12-03 12:43] sakno opened #45540 "Add string.Create() with function pointer"
## Background and Motivation

Function pointers was introduced in C# 9 and can be used as allocation-free alternatives of delegates. `SpanAction<T, TState>` and `ReadOnlySpanAction<T, TSate>` can be effectively replaced with such pointers.

## Proposed API

[code]

## Usage Examples

[code]

## Alternative Designs

None.

## Risks

`Create` method must check the pointer value and throw `ArgumentNu

[2020-12-03 12:44] Redth commented on #44882
@coolbluewater sorry, let me be more clear, and then let's try to keep this issue related to the original intent of the conversation, which is, do we need another TFM or RID or ? for .NET 6 support of Catalyst.

First of all, I wanted to be sure it was clear there is no Xamarin support coming to .NET 5 whatsoever.  This of course does not mean we will not continue to support Xamarin.iOS, Xamarin.M

[2020-12-03 12:53] eiriktsarpalis commented on #39443
Hmm, presumably to eliminate virtual calls? `GroupBy` and `ToLookup` return interfaces. To my knowledge the only LINQ APIs returning concrete collection types are the `To[CollectionType]()` methods so we might want to stick to that convention. Wouldn't mind using `ImmutableArray<T>` as the backing implementation but the return type should probably be an interface. We might want to consider `IReadO

[2020-12-03 13:00] mari-dot-tj commented on #2317
Same here. Running on macOS Catalina 10.15.7 and Visual Studio for Mac (Professional) 8.8.3.
_A fatal error has occurred and debugging needs to be terminated. For more details, please see the Microsoft Help and Support web site. HRESULT=0x80131c36. ErrorCode=0x0.The program '[21368] Core.dll' has exited with code -1 (0xffffffff)._
Running .net Core 3.1.404

[2020-12-03 13:07] MichalStrehovsky commented on #45507
The Native AOT compiler has this - it's pretty simple:

https://github.com/dotnet/runtimelab/blob/d0a37893a67c125f9b0cd8671846ff7d867df241/src/coreclr/src/tools/aot/ILCompiler/Program.cs#L853-L867

[2020-12-03 13:07] Joe4evr commented on #45540
I don't see *that* much use for this overload, considering that its only purpose is being an `unsafe` equivalent of what already exists.

That's not a risk at all, that's basic code hygiene.

[2020-12-03 13:16] steveisok commented on #45535
Yes, we'll need to throw PNSE.

[2020-12-03 13:17] bencz commented on #13277
@bwright86 Look the work made by @neale to use the .net core on s390x: https://github.com/dotnet/runtimelab/tree/feature/s390x

[2020-12-03 13:20] scalablecory commented on #31088
Do you have some specific examples of where you'd want to disable compression? I agree it'd be easy to just leave it off here, but if there's a compelling use case we should keep it.

If we do want to keep it, we can invert the feature -- instead of `WebSocketMessageFlags.Compress`, use `WebSocketMessageFlags.NoCompression`.

[2020-12-03 13:25] janvorli commented on #2317
@mari-dot-tj than you for the details. @dotnet/dotnet-diag this error is different, the error code is CORDBG_E_TARGET_INCONSISTENT.

[2020-12-03 13:30] mari-dot-tj commented on #2317
@janvorli I see! Is this an already known issue?

[2020-12-03 13:31] dynamicons opened #45542 "Built-in self repair fails on .NET 5.0 Desktop Environment (.exe) - Process.Start()"
### Description

Hello!

There seems to be an issue with the .NET self-repair stub that is built into every Executable (.exe) file.

Reproduction:
Create a simple Windows Forms Application for the .NET 5.0 Desktop Environment.

In the bin/x86/Release/net5.0-windows folder, you'll find your Application.exe file.
With every Application.exe, there is automatically generated an Application.dll file.

[2020-12-03 13:35] frankabbruzzese commented on #45353
@vitek-karas ,

It is in 3.1 documentation for Blazor WebAssembly, [here](https://docs.microsoft.com/en-US/aspnet/core/blazor/host-and-deploy/configure-linker?view=aspnetcore-3.1#add-an-xml-linker-configuration-file-to-a-library). Maybe, its file name is not necessarily that, since they put constraints on its logical name being the same as the library.

`TrimmerRootDescriptor` works only in the ma

[2020-12-03 13:42] coolbluewater commented on #44882
@Redth, first off could you please describe your role? Because your reply is extremely confused/confusing:

.Net 5 is already released, and Xamarin runs atop it. So whatever you are saying needs to be more descriptive.

Here the support is in the opposite direction from the previously quoted sentence, which is about .net support for Xamarin.

Again, who is the "we" that you represent? The same tea

[2020-12-03 13:45] filipnavara commented on #44882
No, it does not. At least not Xamarin.iOS/Mac/Android.

[2020-12-03 13:47] coolbluewater commented on #44882
@filipnavara, see my edit above.

[2020-12-03 13:51] janvorli commented on #2317
It doesn't seem like a known issue, but I've tagged the diagnostics folks who might know more and would most likely do the investigations. Can you please create a new issue for your problem? It will be better than piggy backing on a closed issue.

[2020-12-03 13:51] Redth commented on #44882
@coolbluewater I'm the engineering lead/manager of the Xamarin.Forms team (Maui, Essentials, SkiaSharp, and others).  I'm also coordinating the Xamarin SDK effort for .NET 6 support.  I'm also not a product manager.  @davidortinau would be a good person to comment further on any Catalyst support pre .NET 6.

So, yes I think using .NET 5 to indicate pre-.NET 6 is confusing especially in the context

[2020-12-03 13:52] jasmh opened #45695 "NET 5.0 NumberFormatInfo.NumberDecimalDigits change for en-US, en-GB, de-DE, fr-FR and other cultures"
The following code

`new System.Globalization.CultureInfo("en-US").NumberFormat.NumberDecimalDigits`

returns these results:

in .NET Core 3.1:
2

in .NET 5:
3

It happens for en-GB, de-DE, fr-FR and probably many other cultures. For example, the value for hr-HR or InvariantCulture remains 2.

Is this by design? If so, why and what's the reasoning?

A lot of people are relying on those cultures be

[2020-12-03 13:53] murugaratham opened #45543 "Unable to load shared library 'System.Net.Security.Native' or one of its dependencies. .net5 after adding RSA"
### Description

We have a custom base dotnet image based off alpine 3.12.1 and recently added some crypto capabilities

### base Dockerfile
[code]
### Project dockerfile
[code]

[code]

### Configuration

* Which version of .NET is the code running on? .net 5
* What OS and version, and what distro if applicable? alpine3.12.1 (docker) on RHEL
* What is the architecture (x64, x86, ARM, ARM64)? x64

[2020-12-03 14:00] gmorris007 opened #45544 "HttpClient does not recycle sockets when server uses Connection: close. Sockets can be exhausted with high request rate."
I have been converting a service that talks to IoT devices from HttpWebRequest/HttpWebResponse objects to HttpClient. My interest stems from the fact that occasionally I will get “An operation on a socket could not be performed because the system lacked sufficient buffer space or because a queue was full”. We (the company & I) require timely polling of data so that is bad news, obviously. I did no

[2020-12-03 14:03] mari-dot-tj commented on #2317
Sure! I'll do that.

[2020-12-03 14:09] eerhardt commented on #45353
@frankabbruzzese - is there anyway you can provide concrete information (ex. exception call stacks, etc)? If there is a problem in linking certain System.* assemblies, we’d like to get them fixed.

[2020-12-03 14:09] benaadams commented on #45544
Are you creating multiple `HttpClient`s and if so are you calling `.Dispose()` on them; or are you using a single `readonly static HttpClient` (so not Disposing it)?

[2020-12-03 14:15] coolbluewater commented on #44882
@Redth, I understand your role now.

That's no more useful than your previous one-liner. And this really is the right place and time to discuss why engineering was unable (or chose not to) to deliver a Mac Catalyst implementation, and more importantly why it will take another whole year to have something usable.

If you don't wish to discuss this that's your choice. But you've said nothing about t

[2020-12-03 14:19] gmorris007 commented on #45544
I am creating multiple `HttpClient` objects, one per IP address, which stay alive for the life of the application. They get reused at the start of a new polling cycle. The application is meant to run indefinitely.

[2020-12-03 14:28] filipnavara commented on #44882
Nope. Not at all. It is the Mono desktop MSBuild based system that is totally unrelated to the .NET 5 code base.

[2020-12-03 14:45] eiriktsarpalis commented on #45542
I can reproduce the problem:

![image](https://user-images.githubusercontent.com/2813363/101043250-c744d980-3586-11eb-9802-210806faedc2.png)

@danmosemsft not sure what the right area label for this issue might be?

[2020-12-03 14:46] rclabo opened #45546 "ConcurrentQueue<T>.Peek() causes preservedForObservation = true _FOREVER_"
### Description

In my use of ConcurrentQueue I need to call Peek before ever TryDequeue.  I noticed that my website was experiencing memory leaks due to this use.  After studying the source code at https://github.com/dotnet/coreclr/blob/v3.1.10/src/System.Private.CoreLib/shared/System/Collections/Concurrent/ConcurrentQueue.cs  and https://github.com/dotnet/coreclr/blob/v3.1.10/src/System.Private.

[2020-12-03 14:52] radical commented on #11063
Seeing this in https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-21906b723775461185/PayloadGroup0/console.81c9eaa1.log?sv=2019-07-07&se=2020-12-23T13%3A13%3A31Z&sr=c&sp=rl&sig=D65mDzIZzZ36F68UhRgc5vOffnOAUJ8%2BXHelojRWpIA%3D

on [`Mono Linux x64 Release @ Ubuntu.1804.Amd64.Open`](https://dnceng.visualstudio.com/public/_build/results?buildId=907179&view=ms.vss-

[2020-12-03 14:54] geeknoid commented on #36022
Within the scope of a single assembly being compiled, I can ensure that no two generated log messages have the same ID. This would be independent of categories, independent of the source file or types the log messages are declared in. How's that?

And in that vein, I can have an assembly-level attribute to record reserved ids. I currently fetch an option controlling pascal casing of arguments from

[2020-12-03 14:57] jnm2 commented on #39443
Just my favorite inter-method collection type. I'm not strongly tied to it.

I think of `IReadOnlyList<T>` as better than `IReadOnlyCollection<T>` if the semantics are such that the elements are ordered in some way rather than being specifically unordered.

[2020-12-03 15:12] vitek-karas commented on #45353
Linker descriptor should work in any assembly which will end up in the application (if the entire assembly is removed, then its descriptor is ignored).

[2020-12-03 15:19] scalablecory commented on #45544
Yes, closing the socket when we receive "Connection: close" is correct behavior.

TIME_WAIT is a fundamental part of how TCP works -- it can't be aborted safely.

What you can do -- and I want to emphasize that this is not a good idea unless you have very controlled behavior -- is to override `SocketsHttpHandler.ConnectCallback` with something that manages a set of ports and sockets with `SO_REUSE

[2020-12-03 15:22] mari-dot-tj opened #45547 "Debugging terminated. CORDBG_E_TARGET_INCONSISTENT, HRESULT=0x80131c36"
### Description
The debugger terminates returning:
_A fatal error has occurred and debugging needs to be terminated. For more details, please see the Microsoft Help and Support web site. HRESULT=0x80131c36. ErrorCode=0x0.The program ... has exited with code -1 (0xffffffff)._
I am having trouble replicating the problem because I'm running a larger application relying on other microservices. The err

[2020-12-03 15:22] tannergooding commented on #45540
The purpose would be to avoid yet another allocation and while I would expect that this is not necessarily used in a hot-path, the `string.Create` API exists as a performance optimization already and so having an overload that allows you to avoid an additional allocation seems to be inline with the original goal of the API (a low cost and "official" way to create a string of a known length and set

[2020-12-03 15:23] vcsjones commented on #45543
To troubleshoot a bit, does the issue still reproduce if you do not publish as a single file and self contained? i.e. remove `--self-contained true -p:PublishSingleFile=true` from your build command?

[2020-12-03 15:25] lambdageek commented on #43402
Verified that the 5.0.1 runtime from https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=5.0.101-servicing.20601.5&package=Microsoft.NETCore.App.Runtime.browser-wasm&version=5.0.1&protocolType=NuGet from the upcoming servicing release does not have the LoadFromStream corruption.

Also checked that in 5.0.1, `dotnet.wasm`, the function`$mono_alc_load_raw_bytes` has the expected

[code]

[2020-12-03 15:35] vitek-karas commented on #45542
Thanks for reporting this - I'll look into it.

That said, in .NET 5, having just the `.exe` and `.dll` is not enough to run the app. The `.runtimeconfig.json` and `.deps.json` are also required to run the app.

Even if the dialog worked and it would make you install the .NET 5 runtime, the app would still not run.

[2020-12-03 15:37] eiriktsarpalis commented on #39443
Ok so something like this then:

[code]
If folks agree with this signature I will update the OP and mark as ready for review.

[2020-12-03 15:38] riarenas commented on #45524
@dotnet/dnceng for visibility. This looks like it started failing on all windows queues as of the latest rollout.

[2020-12-03 15:45] vitek-karas commented on #45542
The problem is that the host doesn't actually fail with "You need to install .NET" type of error - but it failed with "Can't run self-contained app" type of error. So there's no URL which is stored internally to point to once the "Yes" is clicked. This will need a change to show a different UI in this case.

That said - if I try to do the same with console app I get the original error:
[code]

Thi

[2020-12-03 15:46] premun commented on #45524
I opened https://github.com/dotnet/core-eng/issues/11569 for tracking

[2020-12-03 15:54] sakno commented on #45540
@tannergooding , maybe it's reasonable to expand proposal and look at all public APIs expecting these delegates as input parameters and add overloads with function pointers.

[2020-12-03 15:57] jnm2 commented on #39443
@eiriktsarpalis Signature looks good to me. I wouldn't implement using `ImmutableArray<TSource>.Builder` unless the signature required ImmutableArray to be returned, probably `List<TSource>` instead, but there's probably prior art within LINQ that decides what gets used for the implementation anyway.

[2020-12-03 15:57] gdignard commented on #44882
I would point out obvious that there's a very real value of having a feature like this appear as early as possible, even with disclaimers of "preview" / "as-is" / " WARNING: Operating this software can expose you to unimplemented features which are known to the State of California to cause machine crashes."

Having it in a non-publishable state is still of enormous value as the development process

[2020-12-03 16:02] antonfirsov commented on #45537
Sounds reasonable to me.

[2020-12-03 16:04] murugaratham commented on #45543
i am able to run successfully by just setting to --self-contained true

[2020-12-03 16:04] Rodrigo-Andrade commented on #44449
@kouvel as we are moving more apps to net5.0 the overhead is even more pronounced (i guess the changes to `SocketAsyncEngine` is to blame) making the move from 3.1 to 5 yield no performance improvements, unless we use the inline options, but those are dangerous, so we can't enable them on all our apps.

Looks like the main problem is the fact that we run our apps alone (no other apps on the VM) wi

[2020-12-03 16:05] jeromelaban opened #45548 "[Wasm][AOT] error when compiling: Assertion runtime/src/mono/mono/mini/aot-compiler.c:3563"
### Description

When building an application with profiled AOT, the following compiler error appears:

[code]

[Location](https://github.com/dotnet/runtime/blob/c6e5ef17d1e35800d7090872859cb408fe0f6e61/src/mono/mono/mini/aot-compiler.c#L3563)

Repro yet unknown.

### Configuration

CommitID: c6e5ef17d1e35800d7090872859cb408fe0f6e61

### Regression?

No

### Other information

[2020-12-03 16:07] vcsjones commented on #45543
Seems then that the issue is related to `-p:PublishSingleFile=true`.

@vitek-karas might you know how to best proceed?

[2020-12-03 16:11] benaadams commented on #45544
`TIME_WAIT` is more a function of TCP than Http; it's the final state the socket ends up in before closure:

![image](https://user-images.githubusercontent.com/1142958/101043754-8d6bd700-3576-11eb-9da0-e96a2244d73c.png)

`TIME_WAIT` will end up on one side of the socket (client or server); since the server can only use 1 port `80` whereas the client uses a large range of 16k+ ports (e.g. 49152 - 6

[2020-12-03 16:12] tannergooding commented on #45540
I don't think that's as worthwhile. Most APIs taking a delegate aren't as performance oriented/low-level and so a function pointer might seem out of place.

I believe it's a case by case basis where `function pointers` might be beneficial and there are likely a few places where generic specialized interfaces would be a better fit.
There are also likely a number of places where `function pointers`

[2020-12-03 16:12] benaadams commented on #45339
Also see https://github.com/dotnet/runtime/issues/45544#issuecomment-738108914

[2020-12-03 16:14] Clockwork-Muse commented on #45546
Outside of fixing this, for my own edification, what's the reason for calling `TryPeek`?  Given the consideration for race conditions, I've always just dequeued stuff (not even bothering with `IsEmpty` either).

[2020-12-03 16:16] sakno commented on #44903
From time to time I'm working on _dotnet/runtime_ repo and development on Linux is a bit complicated. I had spend a lot of time to fight with debug from vscode but without luck. The same story with code navigation. Additionally, there are some issues with the tools such as `dotnet` shipped with repo and relative paths. I believe that experienced *nix user and developer can solve these problems loc

[2020-12-03 16:18] jkotas commented on #45543
`Microsoft.Data.SqlClient` pinvokes into `System.Net.Security.Native`. `System.Net.Security.Native` has different shape in single file.

`System.Net.Security.Native` is internal implementation detail that `Microsoft.Data.SqlClient` is not supposed to depend on.

This is a problem to fix in `Microsoft.Data.SqlClient`. The PInvokes into `System.Net.Security.Native` from `Microsoft.Data.SqlClient` ne

[2020-12-03 16:22] pr8x opened #45549 "Support for MiniDumpWithIndirectlyReferencedMemory"
It seems that the Win32 `MiniDumpWithIndirectlyReferencedMemory` flag is only working for native memory, but not for managed. I don't really know how dbghelp interacts with the DAC, but apparently it does provide ways to enumerate memory regions etc. (see https://github.com/dotnet/runtime/issues/1269#issuecomment-572715660) Would it be possible to add support for this flag somehow?

Also: Is there

[2020-12-03 16:36] scalablecory commented on #45544
Closing this issue as there's nothing we can do about it and you've been given a few options.

[2020-12-03 16:36] #45544 closed

[2020-12-03 16:37] gmorris007 commented on #45544
@benaadams Thanks for your detailed response. I was actually reviewing {http://www.serverframework.com/asynchronousevents/2011/01/time-wait-and-its-design-implications-for-protocols-and-scalable-servers.html) when your message came in. I will review the information I have now and try to come up with a solution. The article mentioned above also talks about "...setting the SO_LINGER socket option to

[2020-12-03 16:43] eerhardt commented on #45524
I hit the same NullReferenceException in https://dev.azure.com/dnceng/public/_build/results?buildId=906896&view=logs&j=d81dbc02-ec0b-5bd5-14c1-0072bd710d3b&t=780f1b30-8338-5e4d-6b72-c57eeb2413c9&l=76

[code]

[2020-12-03 16:51] eerhardt commented on #45524
Also hit in another PR https://github.com/dotnet/runtime/pull/45522.

Log: https://dev.azure.com/dnceng/public/_build/results?buildId=906830&view=logs&j=d81dbc02-ec0b-5bd5-14c1-0072bd710d3b&t=780f1b30-8338-5e4d-6b72-c57eeb2413c9&l=76

[2020-12-03 16:55] benaadams commented on #45546
Frozen segments get thrown away once everything is dequeued from them? (and nothing can be enqueued to them)
https://github.com/dotnet/coreclr/blob/d989459717cbce34262060c4b8b949185033e379/src/System.Private.CoreLib/shared/System/Collections/Concurrent/ConcurrentQueue.cs#L720-L728

[2020-12-03 17:00] MattGal commented on #45524
Investigating via https://github.com/dotnet/core-eng/issues/11569

[2020-12-03 17:02] danmosemsft commented on #44903
@sakno thank you for that info. Can you open an issue for that? As well as putting in the survey

[2020-12-03 17:02] akoeplinger commented on #45524
@eerhardt those builds ran before the leg was disabled.

[2020-12-03 17:07] akoeplinger commented on #45524
I think this might be related to the VS update since I can reproduce it locally, i.e. the cause is not the Helix test machine but
the build machine.

[2020-12-03 17:15] karelz commented on #45319
Triage: Looks like problem in Kestrel. Closing. Should be addressed once Kestrel is on newer version of h3 in AltSvc
The concern if the scenario works at all will be addressed (aka tested) as part of HTTP/3 effort in .NET 6.

[2020-12-03 17:15] #45319 closed

[2020-12-03 17:20] benaadams commented on #45544
If the number of connections isn't unexpectedly high (other than them being in `TIME_WAIT`); I'd start with increasing the limits (e.g. `MaxFreeTcbs` and port range ) before reducing the safety/protections

[2020-12-03 17:25] karelz commented on #45364
Triage: We'd be ok with this API. There doe snot seem to be high demand and devs can do it themselves in ~40 lines of code. So not a priority.
We can revisit if there are more upvotes in Future and bump the priority.

[2020-12-03 17:26] karelz commented on #45496
Triage: We should do it once the spec is final. Is that the case already @jbogard?
cc @MihaZupan

[2020-12-03 17:27] DrewScoggins opened #45554 "[Perf -7%] System.Text.Perf_Utf8Encoding.GetBytes"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Baseline | [d73c65ed402fad658c39d78773d181c4459b62c8](https://github.com/dotnet/runtime/commit/d73c65ed402fad658c39d78773d181c4459b62c8)
Compare | [fe80a77dac16de2451be60563123b8fbf8ea8355](https://github.com/dotnet/runtime/commit/fe80a77dac16de2451be60563123b8fbf8ea8355)

### Regressions in System.Text.Perf_Utf8Encoding

Benchmark

[2020-12-03 17:32] rclabo commented on #45546
@Clockwork-Muse In this particular case, I'm queuing up work that needs to be done and the thread that is responsible for processing the queue needs to peek on the next item in the queue and do some other system checks to see it's now able to process that item.  If not it will wait awhile and repeat.  Once it determines that it is now able to process the peeked item (based on other system conditio

[2020-12-03 17:33] tommcdon commented on #45547
@hoyosjs

[2020-12-03 17:38] eiriktsarpalis commented on #39443
@simon-curtis I have updated your original post to include the updated proposal.

[2020-12-03 17:47] jbogard commented on #45496
No, it is not. It moved into the [first public working draft status](https://www.w3.org/blog/news/archives/8724) back on October 20th, 2020. However, the `Correlation-Context` header behavior for `Baggage` was implemented before this standard was in public working draft status.

It's in an odd place - the name of the standard/header was renamed, and now in public working draft, but it was the "old

[2020-12-03 17:49] nosami commented on #45547
I hit this error frequently and means that I can't run my program under the debugger.

The process that I am running crashes after a seemingly random amount of time. I can't pinpoint why this happens or if it's specific code that is being debugged when it crashes unfortunately.

I'm on macOS Big Sur (11.0.1) VSMac 8.8.3, SDK 3.1.404

[2020-12-03 17:52] zlatanov commented on #31088
Of top of my head when I experimented with this (and it was quite long ago), very small messages or messages containing unique data such as timestamps or guids benefited very little or even had negative gain with compression enabled. If this remains area of interest, I can setup a few benchmarks to find out whether and when it's useful.

In the real world though, in all times I've had compression

[2020-12-03 17:58] riarenas opened #45556 "Artifact libraries_test_assets_Linux_x64_Release not found for build errors during CI"
Seen this a couple of times in the last 48 hours:

[code]

Might be an error with the job dependencies.
* https://dev.azure.com/dnceng/public/_build/results?buildId=907013&view=logs&j=5c657fa2-65d2-55e4-f9c9-8fbd97185e37&t=463c9124-d2a4-5fa2-5a8b-23173e8d6e42&l=10
* https://dev.azure.com/dnceng/public/_build/results?buildId=907442&view=logs&j=5c657fa2-65d2-55e4-f9c9-8fbd97185e37&t=463c9124-d2a4-5f

[2020-12-03 18:06] tmat opened #45557 "Process crash with "Internal CLR error" (0x80131506) in Roslyn CI"
### Description

Roslyn CI failed with the following error:

https://dev.azure.com/dnceng/public/_build/results?buildId=906787&view=logs&j=7817cc08-46f6-529a-b675-9c2d2b016c0b&t=0fd245be-2f58-5546-b778-7c0bac845221&l=68

[code]

[code]

CLR version 5.0.100 on Windows.

[2020-12-03 18:09] sakno commented on #44903
@danmosemsft , I have already passed survey. Cloned repo is now configured to work properly on my linux workstation, so I will try clone it from scratch and pass through this path again to collect all the issues.

[2020-12-03 18:14] ericstj commented on #36545
I can see the value in this change as it allows folks to define custom handling of types at the member level without globally registering the converter.  It also allows the model to specify the converter, rather than the caller to Bind.

It looks to me like the PR added this functionality exclusively in the Configuration.Binder.  Would this be used by all Configuration providers (honest question,

[2020-12-03 18:15] antonfirsov commented on #44686
@scalablecory @geoffkizer should we revert to 3.1-compatible (non dual-stack) connection logic, which means that we shall  start using the static variant all the way down?  Or should we still try to attempt dual-stack whenever possible, and use the old logic only as fallback?

Note that with the static variant our current simple `DefaultConnectAsync` code will grow complicated again, and will be h

[2020-12-03 18:15] rodrmoya commented on #45547
Same here, happens for me on Mac (Catalina) with VSMac 8.8 and 8.9 and VSCode latest, and on Linux with VSCode, makes it impossible to use the debugger, as it crashes at random points, and the DEBUG_PROTOCOL output shows nothing, apart from the error message.

[2020-12-03 18:18] danmosemsft commented on #45557
Is a dump possible @tmat? Or is there any repro?

[2020-12-03 18:30] akoeplinger commented on #45524
Ok, I confirmed that this is indeed due to the VS update.

Good:
[code]

Bad:
[code]

[2020-12-03 18:30] marek-safar opened #45559 "DataContractSerializer is not trimming safe"
Following code works today with linker enabled for SDK **and** user code but breaks with netcore libraries

[code]

Exception is thrown at runtime

[code]

@eerhardt @vitek-karas

[2020-12-03 18:31] BrennanConroy opened #45560 "System.Text.Json defines netcoreapp3.0 with no dependencies"
Users are hitting an issue with needing to add an explicit reference to System.Text.Encodings.Web when they have System.Text.Json 5.0.0 in a netcoreapp3.1 project. I'm not sure why there is even a netcoreapp3.0 target for this package, but that's not my concern.

Looks like the regression was added between preview8 and rc1 of the 5.0.0 package.

![image](https://user-images.githubusercontent.com/7

[2020-12-03 18:32] LordMike commented on #45491
I've made this PR that converts the DateTime to a UTC kind, as long as there is a timezone specified. Expires values should always have GMT as their timezone, so this is a no-op conversion. It will mean that anyone reading the Cookie's Expires value will receive a different DateTime back.

[2020-12-03 18:33] jaredpar commented on #45557
This is happening on Unix so no auto-dump support yet in CI

[2020-12-03 18:33] akoeplinger commented on #45524
To reproduce:

[code]

[2020-12-03 18:42] eerhardt commented on #45559
Do we know how/why it works today? No code is referencing the `SearchRequest.Query` property, so how is the linker working today on it? Why isn't the property getting trimmed when not using the netcore libraries?

[2020-12-03 18:47] stephentoub commented on #45546
This is by design, with ConcurrentQueue optimizing for enqueue and dequeue while also supporting concurrent peeking / enumerating albeit with an impact on allocation.  Enqueues into the same segment need to avoid overwriting a cell that may be needed for an in-progress peek or enumeration, and thus once such a concurrent read-but-don't-remove is issued against a segment, that segment is frozen to

[2020-12-03 18:49] marek-safar commented on #45559
There are different [custom linker steps](https://github.com/xamarin/xamarin-android/blob/master/src/Xamarin.Android.Build.Tasks/Linker/MonoDroid.Tuner/PreserveRuntimeSerialization.cs) which are trying to guess what should be kept based on some heuristic.

[2020-12-03 18:52] premun commented on #45516
Arcade Helix SDK `6.0.0-beta.20603.2` has the fix

[2020-12-03 18:52] echesakovMSFT commented on #6323
I thought this proposal was about swapping two registers without requiring a temporary one. `swp` instruction on arm64 does
swap in memory.

[2020-12-03 18:52] scalablecory commented on #44686
I would revert to the old logic. Just copy the code from 3.1 -- iirc it has a non-obvious optimization re: CancellationTokenRegistration allocation.

If we need a simple sample, we should define that directly in docs and not rely on the implementation.

[2020-12-03 18:54] Clockwork-Muse commented on #45546
... check the status of the system before pulling things off the queue?  Or check if a member variable is still set before pulling off the next one?

[2020-12-03 19:02] BruceForstall commented on #6323
Ah, ok.

[2020-12-03 19:05] radical opened #45561 "Failing test - GC/Features/HeapExpansion/bestfit-finalize/bestfit-finalize.sh - CoreCLR Linux arm64 Checked"
Test failing on

[code]

helix console log: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-1b0ca2ab6094450aae/PayloadGroup0/console.3e7da7aa.log?sv=2019-07-07&se=2020-12-23T07%3A43%3A29Z&sr=c&sp=rl&sig=HeqnP%2F47RRmiM%2FGOnUZK8vQt%2Fh02ThzW1vmFZOxF8yg%3D
https://dnceng.visualstudio.com/public/_build/results?buildId=907013&view=ms.vss-test-web.build-test-res

[2020-12-03 19:09] wfurt commented on #44686
should we use specific socket only when we know if it is _only_ IPv4 or V6? It seems like we would do general fix for work-around one particular broken environment.

[2020-12-03 19:12] stephentoub commented on #45540
Just to make sure everyone is on the same page, though, we're talking about one allocation total, not per invocation.  The scenarios where a function pointer could be used (no capture) are the same scenarios for which the C# compiler will automatically cache the delegate, so there will only be an allocation the first time it's used and then never again (other than if there's a race to initialize i

[2020-12-03 19:14] elinor-fung commented on #45532
Hit this failure on arm as well: https://dev.azure.com/dnceng/public/_build/results?buildId=906291&view=logs&j=09f284fa-cf28-5239-7389-ddb0e9bf3d9f&t=24127001-2e3b-5c7c-4511-3b857ce69995

Maybe related to the version of VS installed? The arm64 failure in the description and the arm failure I hit are both on 16.7.3. The [arm build](https://dev.azure.com/dnceng/public/_build/results?buildId=906703&v

[2020-12-03 19:16] scalablecory commented on #31088
Okay. Easy thing to do here is nothing :). We can add that API later if someone finds a need.

[2020-12-03 19:27] mangod9 commented on #45561
@PeterSolMS would any of your recent changes affect this test?

[2020-12-03 19:29] mangod9 commented on #45561
Since the same test was failing here: https://github.com/dotnet/runtime/issues/45091. But your fix to that issue has been merged recently.

[2020-12-03 19:42] tmat commented on #45557
Dump is available in the build's artifacts: https://dev.azure.com/dnceng/public/_build/results?buildId=906787&view=artifacts&pathAsName=false&type=publishedArtifacts

[2020-12-03 19:45] safern commented on #45532
Hmm, I wonder why our machines would have a different version of VS. I would expect all machines on the build pool to have the same version. @ilyas1974 could you help look at why is that?

[2020-12-03 19:55] antonfirsov commented on #44686
@wfurt the problem is that we know this only after the host is resolved.

I think we have an API gap in sockets, missing is a Task-based static `ConnectAsync` overload:

[code]

This could provide the required functionality in a compact way. I'm happy to file an API proposal if you guys agree.

[2020-12-03 19:56] kouvel commented on #44449
I'm about to build a prototype fix for you to try (sorry for the delay), couple of questions about that:
- Which processor architecture are you using, x64/arm/arm64?
- For the app are you using a self-contained publish, or using the shared framework from the container image?

Did I understand correctly that the overhead has increased but the perf has not regressed in 5.0 compared to 3.1?

I see. H

[2020-12-03 19:58] #12375 closed

[2020-12-03 19:59] radical commented on #45492
Seeing this in some builds:
https://dev.azure.com/dnceng/public/_build/results?buildId=905221&view=results (PR #45451)
https://dev.azure.com/dnceng/public/_build/results?buildId=907315&view=results (PR #45387)

[2020-12-03 20:03] jkotas commented on #45557
Crash during GC:
[code]
Due to corrupted GC heap:
[code]
The bad reference should be array of object references (wrapped by ImmutableArray).

[2020-12-03 20:06] ilyas1974 commented on #45532
Taking at look at what happened.

[2020-12-03 20:11] fanyang-mono opened #45568 "[Mono][Android] Some runtime test groups are too big to run on Android devices"
Some runtime test groups are too big to run on Android devices. Need to split them up. For example,
- JIT.HardwareIntrinsics
- JIT.Methodical.eh
- JIT.IL_Conformance
- JIT
- JIT.Regression
- PayloadGroup0

[2020-12-03 20:16] tommcdon commented on #45549
@hoyosjs @mikem8361

[2020-12-03 20:26] CincySteve commented on #45104
@radical That would be great.  I can't wait.

[2020-12-03 20:31] ilyas1974 commented on #45532
It appears that the system this build was run on was provisioned before the rollout of 16.8 and did not get removed from the queue until later in the day. We have spun up an issue - https://github.com/dotnet/core-eng/issues/11573 - to address this type of behavior in the future.

[2020-12-03 20:33] jaredpar commented on #45557
This is hitting Roslyn multiple times a day right now. If you need more dumps to narrow down the problem you can follow the results from this search for more logs

https://runfo.azurewebsites.net/search/build-logs/?bq=definition%3Aroslyn-ci++started%3A%7E3&lq=logName%3ATest_Windows_CoreClr+text%3A%22Internal+CLR+error%22

[2020-12-03 20:38] #45037 closed

[2020-12-03 20:38] #45082 closed

[2020-12-03 21:10] hoyosjs commented on #45547
@rodrmoya @nosami Is there any particular workload that you notice can repro this? Is there anything I can do to repro?

[2020-12-03 21:15] odinnou opened #45569 "The certificate data cannot be read with the provided password, the password may be incorrect with .NET 5.0"
Hello, I am trying to migrate my application which integrates "Identity Server 4" from .NET Core 3.1 to .NET 5.0 and I'm in front of a big problem, the exactly same line crash in .NET 5.0, the "opening" of a certificate.pfx (properties **Build action** : Embedded resource & **Copy to output** : copy always). The exact same line works in .NET 3.1

### Minimal working example.

[code]

Obviously, I

[2020-12-03 21:16] #38949 closed

[2020-12-03 21:19] safern commented on #45492
@radical PR #45451 I don't think it hit this error, it actually hit a networking issue on the Browser leg and the other is a test failure.

PR #45387 is the PR that is updating the version of `ILASM` causing this, so I'm going to remove `blocking-clean-ci` as this is an issue on the `ILASM` version that we're updating to, but not manifesting on all PRs, just the PR trying to update that version.

[2020-12-03 21:26] naricc commented on #45521
Yes. I will help with the runtime ones. So this basically means that all the mono legs should be using the global-build-job.yml?

Also any preference if I fix this at the same time as https://github.com/dotnet/runtime/issues/43952 or in seperate PRs?

[2020-12-03 21:33] safern commented on #45521
Yeah, that means they should use the global build template. Just like the Android and Browser runtime tests.

I think it needs to be on a same PR so that we don't have to build coreclr as part of that job.

[2020-12-03 21:34] #45509 closed

[2020-12-03 21:34] hoyosjs commented on #37132
@sywhang and I took a look at this. It is a product issue that can cause deadlocks. It can hit any test that uses tracing (like BinderTracingTest.Basic and BinderTracingTest.ResolutionFlow do).

[2020-12-03 21:34] scalablecory commented on #44686
Sounds good to me. Put the `ConnectAlgorithm` there too. (https://github.com/dotnet/runtime/issues/33418)

[2020-12-03 21:35] nosami commented on #45547
@hoyosjs Running the CloudEnvironmentsService.sln on this [repo](https://devdiv.visualstudio.com/OnlineServices/_git/vsclk-core) triggers a crash pretty quickly, but unfortunately, the steps required to be able to run this repo are fairly involved.

I guess I could add some logging code somewhere in [here](https://github.com/dotnet/coreclr/blob/v3.1.4/src/debug/daccess/dacdbiimpl.cpp#L3336-L3377)

[2020-12-03 21:38] Rodrigo-Andrade commented on #44449
`Which processor architecture are you using, x64/arm/arm64?`

x64

`For the app are you using a self-contained publish, or using the shared framework from the container image?`

shared framework from the container image

`Did I understand correctly that the overhead has increased but the perf has not regressed (or improved) in 5.0 compared to 3.1?`

For cpu intensive apps it's about the same, for

[2020-12-03 21:40] kouvel commented on #44449
Thanks @Rodrigo-Andrade,

I meant how many processors are assigned to the VM/container? Wondering if it is already limited to a few processors or if it has several available and only the CPU utilization is limited.

[2020-12-03 21:45] Rodrigo-Andrade commented on #44449
8 vcpus

[2020-12-03 21:46] marcpopMSFT commented on #43402
To confirm what Matt says above, the SDK previews don't always ship on the same schedule as the servicing releases of the runtime.  To avoid trying to keep them in sync with different schedules, we typically don't update the runtime included in preview SDKs until the GA release of that SDK. The exception is when both the SDK and runtime are in preview (ie 6.0.1xx previews will include matching 6.0

[2020-12-03 21:50] vcsjones commented on #45569
This appears to be a duplicate of https://github.com/dotnet/runtime/issues/44535.

There is a work around posted in that issue.

[2020-12-03 21:51] VSadov commented on #11654
The bug is not actionable on our side (it is a spurious assert in glibc) and it has been more than a year since we saw this assert. Closing for now.

[2020-12-03 21:51] #11654 closed

[2020-12-03 21:53] vitek-karas commented on #45542
Things to do to improve the experience:
* For GUI apps, we always show the same UI "Please install .NET" even if the failure is not about missing framework. We need to change the logic to detect the "missing framework" cases and keep the current behavior and for everything else use a different UI (probably with just an OK button) which will include some generic "It failed" message, followed by the

[2020-12-03 22:23] rclabo commented on #45546
@Clockwork-Muse In my case the code responsible for processing a queued item needs to do a peek to learn some info about the item, then checks other information available in the system to see if all the info needed to process the item is available yet.  If it is it will process it and dequeue it, if the other info is not available yet it will leave the item in the queue and later go through the ev

[2020-12-03 22:59] tarekgh commented on #45552
I am not sure why we need this? can you explain more why we need that? both are valid options and both are preferable as long as providing the StringComparison options. I don't think we need that in the analyzers.

[2020-12-03 23:01] tarekgh commented on #45554
@GrabYourPitchforks did we have any recent change in this area? or you think this is related to codegen?

[2020-12-03 23:02] #45556 closed

[2020-12-03 23:13] stephentoub commented on #45546
No problem at all.  I was just pointing out that this was an explicit design tradeoff, to optimize one very common operation at the expense of another much less common (in general).  If someone has a good idea for how to have our cake and eat it,  too, great.

[2020-12-03 23:18] radical commented on #45524
BatchedCI build for https://github.com/dotnet/runtime/commit/2ee13ec8e5ad6af2d7d6e4d812f7c12b807dea42 is also failing with NRE in `RuntimeMethodInfo.Invoke`.

[2020-12-03 23:22] benaadams commented on #45546
If dequeue is slow(ish); as you have to peek and check conditions on whether it can be processed first; that suggests enqueue is slow(ish); otherwise you'll end up with a large backlog?

If so then you could use a `lock` over a regular `Queue<T>` for `Enqueue`, `TryPeek` and `TryDequeue`; then you wouldn't have the secondary issues with frozen segments?

[2020-12-03 23:29] sywhang opened #45571 "Using EventListener to listen on TplEventSource can result in a deadlock"
EventListener and TplEventSource with managed threadpool doesn't seem to play nicely together.

When an EventListener tries to enable TplEventSource while TplEventSource is being created, it's possible for that to deadlock with EventListnersLock + a lock within the runtime / user-defined lock in EventListener instance.

For example, a thread can try to initialize TplEventSource (which tries to gra

[2020-12-03 23:46] Clockwork-Muse commented on #45546
Yeah, I'm with @benaadams here, you're setting yourself up for a large backlog.

You haven't given us enough to go on, but there's a few possibilities:
 - If the extra info is part of a process also started by the same producer thread, have it hold off on submitting to the queue until it verifies that the extra info is (or should be) done.
 - If the extra info comes from multiple processes, or may

[2020-12-04 00:24] kouvel commented on #44449
Here is a link to a patched System.Private.CoreLib.dll with a prototype fix: [RequestFewerThreads50](https://1drv.ms/u/s!AvtRwG9CobRTgvlpRmJpI5_SwQZyGw?e=PH7zok)

To try it out, since you're using a container it probably would be easiest to temporarily replace that file in the shared framework in a temporary modification of the image. Find the path to `dotnet` in the container image, the original

[2020-12-04 00:51] akoeplinger opened #45575 "Assertion during System.Xml.Xsl.XslCompiledTransformApi.Tests on Android devices"
We sometimes get this assertion when running the System.Xml.Xsl.XslCompiledTransformApi.Tests testsuite on physical Android devices on Helix:

[code]

Logcat:
[adb-logcat-net.dot.System.Xml.Xsl.XslCompiledTransformApi.Tests.log](https://github.com/dotnet/runtime/files/5639906/adb-logcat-net.dot.System.Xml.Xsl.XslCompiledTransformApi.Tests.log)

ADB bugreport .zip:
[adb-bugreport-net.dot.System.Xml

[2020-12-04 00:53] akoeplinger commented on #45575
@vargaz any idea?

[2020-12-04 01:22] vcsjones commented on #44535
Hm, seems like CNG has that behavior. It looks like a key used across multiple certificates uses the same persisted CNG key, so supposedly someone could make a modification to the underlying CNG key from one certificate that might be visible to the other. Continuing with the example above, I end up with the same CNG persisted key:

[code]

For me, I end up with the exact same key identifiers. Seem

[2020-12-04 01:42] chucklu commented on #45107
@trylek  @sandreenko  @premun  @akoeplinger  Any update on this issue? Who is responsible for publish the NuGet package of https://www.nuget.org/packages/System.Text.Json/4.7.2？Or you can find the one who can help in this topic

[2020-12-04 01:45] davidfowl commented on #42549
Humor me a second though, what if we wanted to make this support function pointers instead of delegates:

[code]

This would bake the calling convention into the signature which might be limiting? Today we invoke the callback from managed code but I can imagine a future where we rewrite the IO thread pool to more directly call back into managed code from native code using the unmanaged calling con

[2020-12-04 01:48] xinbingyiran commented on #45462
Except `DiagnosticsHandler`,for replace the `HttpWebRequest`,I can use `HttpClient` via `ConnectCallback`  to  implement a ipv6 web request  , I'm really looking forward to a similar API for 'WebSocket' as well.

[2020-12-04 01:59] v-haren commented on #44060
failed again in job: [runtime-libraries-coreclr outerloop 20201203.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=907184&view=ms.vss-test-web.build-test-results-tab&runId=28934436&resultId=103411&paneView=debug)

failed test: System.Net.Sockets.Tests.TelemetryTest.EventSource_ConnectAsyncCanceled_LogsConnectFailed(connectMethod: \"Eap\", useDnsEndPoint: True)

net6.0-Linux-Release-

[2020-12-04 02:08] v-haren commented on #44015
failed again in job: [runtime-libraries-coreclr outerloop 20201203.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=907184&view=ms.vss-test-web.build-test-results-tab&runId=28934448&resultId=103153&paneView=debug)

failed tests:
System.Net.Sockets.Tests.TelemetryTest.EventSource_SocketConnectFailure_LogsConnectFailed(connectMethod: \"Sync\", useDnsEndPoint: True)
System.Net.Sockets.T

[2020-12-04 02:14] #41389 closed

[2020-12-04 02:15] jkotas commented on #42549
I doubt it. Everything else being equal, we are able to managed the threadpool queues more efficiently on the managed side.

What are you trying to optimize? The 3 extra instructions per work item invocation that you get with delegates compare to function pointers?

[2020-12-04 02:22] sandreenko commented on #45107
Hmm, I am not familiar with this, looking at [the area expert for area-Meta](https://github.com/dotnet/runtime/blob/master/docs/area-owners.md) I think @vargaz  could help.

[2020-12-04 02:51] davidfowl commented on #42549
I mean the IO thread pool that uses windows IO completion ports. Today a big chunk of that logic is written in native code (plus all of the native overlapped handling today that straddles native and managed). It seems there was some cost because we have this code https://source.dot.net/#System.Private.CoreLib/src/System/Threading/Overlapped.cs,53 that tries to stay in managed code for as long as p

[2020-12-04 03:02] naricc commented on #43952
@akoeplinger @steveisok I think the easiest way to do this is to use the test host the libraries tests are currently using, instead of corerun (which currently requires building coreclr). Is there any issue if the runtime tests depend on that test host?

[2020-12-04 03:13] steveisok commented on #43952
Not that I know of.

[2020-12-04 03:18] eerhardt commented on #45559
I don't believe this is going to be possible without more features from the ILLinker. We could make the exact scenario above work with the current `[DynamicallyAccessedMembers]` attribute. But as soon as `SearchRequest` has a property to another class, it will break again.

This issue is blocked by getting a serialization story in the ILLinker (https://github.com/mono/linker/issues/1087), or imple

[2020-12-04 03:21] scalablecory commented on #45462
Actually, you can use `WebSocket.CreateFromStream` here, so I don't think any new API is needed.

[2020-12-04 03:22] jkotas commented on #45557
This crash has a very regular pattern. It is always bad reference to ImmutableArray from `Roslyn.Utilities.ObjectBinderSnapshot`. It suggests that it is a bad GC info produced by the JIT.

@JulieLeeMSFT Could you please find somebody on your team to investigate? This is hitting Roslyn CI multiple times a day right now.

[2020-12-04 03:49] jkotas commented on #45557
@jaredpar It would help us a lot to get a crash dump with these stress log settings:
[code]
Any chance you can enable these stress log settings in the Roslyn CI temporarily to get a dump with stresslog? We should be able to root cause the problem immediately from a dump with stresslog.

The stresslog will make the runtime run a bit slower and consume more memory, but it should not be prohibitive (

[2020-12-04 03:59] #37132 closed

[2020-12-04 04:00] #45088 closed

[2020-12-04 04:07] CarolEidt opened #45580 "Infinite loop in stacklevelsetter"
Running superpmi with a release clrjit runs into an infinite loop in stacklevelsetter due to bad IR. I’ve traced this back to the importer, when it generates two statements that reference the same CATCH_ARG node. In checked it runs into “Verification failure:  F:\git5\runtime\src\coreclr\src\jit\importer.cpp:11980 : stack must be 1 on end of filter, while compiling App.Foo:VargFuncWrapper():App.Fo

[2020-12-04 04:24] AntonLapounov commented on #45088
@sywhang Could you please explain why this test used to fail with an `ArgumentNullException`?

[2020-12-04 04:31] huiren-jiang opened #45581 "System.Net.Security.SslStream.AuthenticateAsClient failed on Ubuntu 20.04 and .NET 5"
Hi,

After we ported all of our projects from dotnet3.1 to dotnet5, the client side code began to fail on Ubuntu 20.04. Below is the detail of the exception when we invoke System.Net.Security.SslStream.AuthenticateAsClient,

[code]

Also I checked the network capture, the first TLS packet sent by client is alert instead of handshake(clienthello).

Could anyone help with it, thanks!

[2020-12-04 04:45] wfurt commented on #45581
Does you server support TLS1.2? .NET 5.0 has some of the weak ciphers disabled by default. Look at notes in #45244

[2020-12-04 04:59] xinbingyiran commented on #45462
If I use `WebSocket.CreateFromStream`,it means i must copy all code of 'WebSocketHandle.ConnectAsync',and add 'ConnectCallback' to 'SocketsHttpHandler',to completed the websocket protocol upgrade manual,just for use ConnectCallback
 only.
 does it has a simple implement such as add the 'SocketsHttpHandler' or 'ConnectCallback' member to 'ClientWebSocketOptions'.

[2020-12-04 05:09] dujtep-airtech commented on #6323
swp support Armv8.1-a not support Armv8-a if i want to do swap on Armv8-a. how to do that?

[2020-12-04 05:12] hoyosjs commented on #45088
A task is used to monitor/pump events into listeners. When the last listener waiting was getting disposed (the one used in the test) it tried to remove itself from the interested EventSources. Part of it is to stop said task while the event dispatch configurations get updated. That set of operations triggered a TPL event, which the listener getting disposed was listening to. At that point, the str

[2020-12-04 05:34] huiren-jiang commented on #45581
Got it, I think this should be why dotnet5 failed the same environment.

Thanks for your information!

[2020-12-04 05:34] #45581 closed

[2020-12-04 05:36] LeaFrock commented on #27183
I think it will cause developers confused when returning `false`...
[code]

I know it's reasonable but I prefer to handle it by users themself. Or, `public static int NonEnumeratingCountOrDefault(this IEnumerable<TSource> source, int defaultValue = default);` should be better. At least it informs users what this method does and users won't have to understand the actual meaning of "**Try**" then de

[2020-12-04 05:38] briansull commented on #44415
A native int is a 64-bit integer on a 64-bit target
Array are always indexed by an int32

This leads to several extra casts from int32 into long.
Making it harder for the JIT to reason about the loop.

[2020-12-04 05:42] briansull commented on #44415
@tannergooding
Is there an example in System.Private.Corelib where we use nint?
Why can't that be changed to use int instead of nint?

nint is basically long on 64-bit systems and int on 32-bit systems.

Running this testcase on x86 does get the same codegen for both loops.

[2020-12-04 05:44] jaredpar commented on #45557
Yes we can add those. Our CoreCLR jobs are not the long pole in CI so the extra 20% here will be fine.

[2020-12-04 05:51] LWChris commented on #29398
Yes, but why should the function try to become a uniqueness quantifier? The function can serve any purpose that's best suited for solving a problem at hand; why restrict it to conform with a mathematical definition that was unnecessarily imposed on it?

You are correct, `default(T)` is not particularly useful for non-nullable structs.* But that is also true for all existing `...OrDefault` LINQ met

[2020-12-04 06:21] mayadav1 opened #45582 "error MSB4236: The SDK 'Microsoft.DotNet.Arcade.Sdk' specified could not be found"
Description:

I faced below error while building runtime 👍

/home/amd/manoj/project2/runtime/artifacts/toolset/restore.proj : error : Unable to find package Microsoft.DotNet.Arcade.Sdk with version (= 6.0.0-beta.20601.2)
/home/amd/manoj/project2/runtime/artifacts/toolset/restore.proj : error :   - Found 1150 version(s) in dotnet-eng [ Nearest version: 6.0.0-beta.20530.2 ]
/home/amd/manoj/project2/

[2020-12-04 06:50] tannergooding commented on #44415
Is that right? I know the upper limit for number of elements is currently 32-bits but I believe on both x86 and ARM the actual addressing has to be done as a pointer that the CPU can process.

The `ldelem`, `ldelema`, `newarr`, and `stelem` instructions all support either `int32` or `native int` indexes. For example, from `ldelem`

The JIT has to implicitly upcast any `int` index to a `nint` index

[2020-12-04 06:59] kjpou1 opened #45583 "[browser][websockets][tests] Test failures for subprotocol by URI Query"
Subprotocol support specified by URI query:

[code]

throw the following exception:

[code]
subprotocols are supported via websockets options and specifying the subprotocol via the AddSubProtocol method.

[code]

[2020-12-04 07:27] shravan2x opened #45585 "Task.Delay sometimes returns sooner than delay"
### Description

I have a program that runs a set task every x seconds. After the delay, a verification check is performed that _at least_ x seconds have passed. However, it appears that sometimes the `Task.Delay` method returns sooner than x. I tested this using code similar to the snippet below. The amount it's off by is usually small, around 1-4ms rarely 5ms.

[code]

To be clear, I have no iss

[2020-12-04 07:37] sywhang commented on #45088
@hoyosjs is correct. Thanks for jumping in and explaining - I should've done that when I submitted the PR :-)

[2020-12-04 08:22] kjpou1 opened #45586 "[browser][websockets][tests] Intermittent Test failures Uncaught RuntimeError: memory access out of bounds"
Some tests are throwing an intermittent RuntimeError: memory access out of bounds.

Hard to track down where this is being thrown: In the test framework or websocket code is causing this.

Update:
======

Most of these stem from not closing the connection correctly which keeps the session open.

These are being identified and worked through.  AbortTests are the common cause https://github.com/dotn

[2020-12-04 08:37] odinnou commented on #45569
Thanks @vcsjones  sorry for duplicate

[2020-12-04 08:45] MichalStrehovsky commented on #45559
If I'm reading the code in MonoDroid.Tuner right, the heuristic basically relies on the DataContract/DataMember attributes to decide what to keep. Those attributes are not mandatory - you can drop them and the DCS will do the same thing for this class. But I assume MonoDroid.Tuner is going to break it the same as NetCore linker.

We'll need to decide how we want to treat "regression in a unit test

[2020-12-04 08:59] marek-safar commented on #45559
Original customer issue is here https://bugzilla.xamarin.com/show_bug.cgi?id=36250

[2020-12-04 09:07] ManickaP commented on #43931
It's still happening [kusto for the last 10 days](https://dataexplorer.azure.com/clusters/engsrvprod/databases/engineeringdata?query=H4sIAAAAAAAAA21QwU7DMAy98xVWTyBNHXxAOQBDGoJJ0Eocpyzx2qxtXDkJUImPx00mxIFLHD+/Zz+7QR/e0McheLj4hs8OGaGZJ4SqgqKefcCx3GEoa9I9Bl82IljeAUcMPC9pAcoZeMHQkUmyzQe6UFNkjfusuyfnUIdHZYfIuH+m1v+B0OQW2UhqscCFGDqRddBbZyordIZ34n4rnjyQ+0225h/mEx0SSWKq59XuWDndpRGMR7/uUBm/HpXsydnEa8SIBm5

[2020-12-04 09:10] marek-safar commented on #43952
This sounds to me like a painful path for runtime developers. I think we want to keep runtime/VM tests runner simple to make tracking any problems less painful. What is blocking us from moving corerun to shared location?

/cc @vargaz @lambdageek

[2020-12-04 09:11] MichalStrehovsky commented on #45559
Thanks!

[code]

The customer actually hit a different issue and this kind of looks like one of those in the bucket of: "can't solve this without introducing `DynamicallyAccessedMemberKinds.DataContractSerializer` and specializing the DCS rules in the linker" - they hit this without aggressive treeshaking of user code. The unit test happens to pass with aggressive treeshaking of user code because

[2020-12-04 09:26] hoyosjs commented on #45582
I checked and the precise version is available on the dotnet-eng feed. If you have an artifacts directory, can you please try removing it? And can you try clearing your nuget cache by running `./dotnet.sh nuget locals http-cache --clear` from the root of the repo?

[2020-12-04 09:45] bad-samaritan commented on #42790
Hey @tai-yi,
Just wanted to say thank you so much for your comment on this:

TL;DR: *3 worked for me to!*

Man, I was pulling my hair off why a .NET Core Application got:
[code]

Background:
- NET Core 3.1. Application running in Docker container.
- NAS almost constantly with ~99%/100% storage utilization (reported by `df -h`) BUT ~100 GB free all the time (huge NAS, highly utilized).
- SELinux te

[2020-12-04 09:48] janvorli commented on #45028
@jifka would you be able to try .NET 5.0 for testing purposes? I've enhanced the error codes coming from the .NET PAL initialization, so instead of the 0x80004005, we might get a more specific error code.

[2020-12-04 09:50] weitzhandler opened #45587 "Strange behavior when using PostAsJsonAsync / JsonContent"
### Description

When posting json to server using `JsonContent` or `HttpClient.PostAsJsonAsync`, it's received as null in the server side, unless we call `jsonContent.ReadAsStringAsync` which will then arrive normally in the server!

Please refer to [this](https://github.com/weitzhandler/JsonIssueRepro) repro project and refer to the failing tests.

[2020-12-04 10:07] jbearfoot opened #45588 "Parent of CultureInfo.GetCulture("nb") has changed"
Previously CultureInfo.GetCulture("nb") had a parent "no", now the parent is Invariant culture. I do not know what is
linguistically correct but it is a different behavior at least.

The difference is at least between .NET framework and net5.0 but I think the same difference is between netcoreapp3.1 and net5.0

I run the test on Windows 10

[2020-12-04 10:32] dynamicons commented on #28005
Hello Dan,

thank you - yes, that seems a good idea.
I have filed in Issue 45542 against .NET Core development.

https://github.com/dotnet/runtime/issues/45542

It has already been reproduced, however, Process.Start() seems not to be the issue here.
The Error message itself was misleading, instead it hides other internal messages, and the feature itself also won't work.

However, the idea to fix t

[2020-12-04 10:47] zlatanov commented on #31088
@scalablecory I have one question about your suggested changes to the API proposal.

Isn't it better to have all compression options in the same object, rather than having them besides the existing ones. My reasoning is that it's not immediately obvious which options are related to the compression only, and having them configured without setting `UseDeflateCompression` is doing nothing.

[code]
vs

[2020-12-04 10:53] dynamicons commented on #45542
Dear Vitek,

thank you for reproducing this issue properly.

Interestingly, here the App.runtimeconfig.json file points to the correct .NET Release.

{
  "runtimeOptions": {
    "tfm": "net5.0",
    "framework": {
      "name": "Microsoft.WindowsDesktop.App",
      "version": "5.0.0"
    }
}}

The question remains do we really need that additional .json file, or could that information be put into

[2020-12-04 11:05] mladenb opened #45589 "Regex.Escape doesn't escape the monkey character @"
Not sure if this is a bug or a feature, but in case of a doubt I believe it's best to submit a bug report, anyway.

So, Regex.Escape method (or more precisely RegexParser.Escape) doesn't escape the monkey character (@). Should this be escaped as well?

https://github.com/dotnet/runtime/blob/master/src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs

[2020-12-04 11:21] scalablecory commented on #31088
We have some precedent for not grouping settings into their own objects, but I wouldn't mind it. I'll bring up both options during API review.

[2020-12-04 11:45] sywhang opened #45590 "Improve in-proc consumption story of runtime metrics"
[AB#1244363](https://devdiv.visualstudio.com/10e66e43-9645-4201-b128-0fdc3769cc17/_workitems/edit/1244363)
Since .NET Core 3.0 we've been adding many DiagnosticCounters to the runtime as well as the BCL to track some key metrics. These metrics can easily be consumed by `dotnet-counters` or with ETW/EventPipe out-of-proc.

In-proc-consumption of these metrics is not very easy/efficient. Using `Even

[2020-12-04 12:17] rjperes commented on #1489
Hi, this seems to be a very simple change, doesn't break anything and adds useful MIME types. Why can't we get this to move forward?

[2020-12-04 12:18] secana commented on #44996
The log from the browser looks like this.
![image](https://user-images.githubusercontent.com/12230822/101162793-12b4c180-3633-11eb-8908-a46f2c8bb4cd.png)
Seems to me that the SHA256 is the problem.

[2020-12-04 12:37] eiriktsarpalis commented on #27183
How so? The point of this addition is to provide its user a clear signal as to whether a count can be obtained without enumerating. Roughly it would translate into the following code:
[code]

I think you are right in pointing out that the currently proposed name `TryGetCount` is ambiguous in what it is doing. How about `TryGetNonEnumeratedCount`?

[2020-12-04 12:43] davidfowl commented on #31088
cc @BrennanConroy @halter73

[2020-12-04 12:55] zlatanov commented on #31088
@davidfowl What do you mean by that the client isn't aware? When a message is compressed, a bit flag is set in the message's headers. Also servers aren't supposed to send compressed messages if the handshake initiated by the client doesn't advocate that it wants it.

Other than that, if the server sends a compressed message, it's completely possible to read it as a normal message, and you will fai

[2020-12-04 13:04] #36060 closed

[2020-12-04 13:22] adamsitnik opened #45592 "[MemoryCache] Add possibility to disable linked cache entries"
## Background and Motivation

`MemoryCache` by default tracks linked cache entries to allow for propagating options.

In the following example, the `expirationToken` added for `child` is also applied to `parent`:

[code]

Tracking internally uses `AsyncLocal<T>`, which is expensive and adds non-trivial overhead. The cost of using it has popped out in the performance reports that we have received f

[2020-12-04 13:23] adamsitnik commented on #45436
I've sent a PR to minimize the cost of it: #45563 and a proposal to add a new API that allows for disabling it: #45592

[2020-12-04 13:41] adamsitnik opened #45593 "Add .Clear() method to MemoryCache"
## Background and Motivation

`MemoryCache` gives the possibility to add and remove a single cache entry, but it does not allow for clearing the entire cache at once.

Many (more than twenty by looking at the number of reactions) of our customers have expressed the need of this API in #36547.

So far most of them was forced to use ugly workarounds like using reflection or trimming the cache to a v

[2020-12-04 13:42] adamsitnik commented on #36547
I've created a new issue with the proposal: https://github.com/dotnet/runtime/issues/45593

[2020-12-04 13:46] vitek-karas commented on #45542
.NET 5 (or .NET Core) can't create "anycpu" executable. That was a trick which was possible only in .NET Framework because of direct integration of .NET Framework and Windows OS (there was a bit of code in the OS Process loader which detected managed .exe and redirected it to .NET Framework). .NET 5 doesn't have any OS integration (that's why it's possible to install it SxS and without rebooting a

[2020-12-04 13:49] vcsjones commented on #44996
It looks to me like you're using `HashAlgorithm.Create("SHA256")` or similar based on the stack. This routes through `CryptoConfig` which I think is the part not supported.

Can you use `SHA256.Create()` instead?

[2020-12-04 14:11] LeaFrock commented on #27183
Well, it's better.

[2020-12-04 14:20] rclabo commented on #45546
@benaadams I've been pondering that as well.  I've wondered if that might be the better route but there is something sexy about knowing that I can always enqueue without needing to lock.  :-)  Ultimately I need to run some performance testing on my use case and see and I may switch to using lock with a Queue<T>.

@Clockwork-Muse In my use case periodically there is a 2-3 second delay from the time

[2020-12-04 14:20] #45546 closed

[2020-12-04 14:27] karelz commented on #44799
I think the key source of misunderstanding here is that we are mixing scenario and behavior discussion with solution discussions. So, let's step back and let's clarify scenarios and current behavior first:

I can see these 3 main relevant scenarios:
1. User wants to use HTTP**S** proxy (which is not supported by .NET 5, but will likely be supported in future)
2. User accidentally puts HTTP**S** pr

[2020-12-04 14:28] bgribaudo commented on #45017
I don't, off the top of my head. I am curious what yesterday's repro meeting found.

[2020-12-04 14:30] karelz commented on #1489
@rjperes see the above discussion: https://github.com/dotnet/runtime/issues/1489#issuecomment-541385535

[2020-12-04 14:42] karelz commented on #45496
Oh, does it mean that we implemented a draft, that won't be part of the final spec?
We can either act right away, or wait for the spec to mature a bit more ... @MihaZupan what would you recommend?
Either way, we will have to deal with handling potential breaking change for customers -- are there mitigations we can put in place? (e.g. generating both headers)

[2020-12-04 14:59] Joe4evr commented on #45593
Close; default interface implementations requires targeting .NET Core 3.0+, which removes the ability to run on full-framework or Mono.

[2020-12-04 15:14] naricc commented on #43952
@jkoritzinsky Is there anything blocking us from moving corerun to a shared location and building it independently of coreclr, as per Marek's comment?

[2020-12-04 15:17] LokiMidgard opened #45594 "Nullable Anotation of XmlDocument.XmlResolver seems to incorrect"
### Description

XmlDocument.XmlResolver is not anotated as nullable. But the [documation](https://docs.microsoft.com/en-us/dotnet/api/system.xml.xmldocument.xmlresolver?f1url=%3FappId%3DDev16IDEF1%26l%3DEN-US%26k%3Dk(System.Xml.XmlDocument.XmlResolver);k(DevLang-csharp)%26rd%3Dtrue&view=net-5.0) mentionds setting it to `null`

I intentional set this property to `null`, to raise the above exceptio

[2020-12-04 15:22] jbogard commented on #45496
Yes - it was a draft implemented. The simplest way would be to generate both headers. It's different than the transition from `Request-Id` to `traceparent`, as that was the adoption of the W3C standard, and you could check the `ActivityIdFormat`. There's no similar check to be made here.

[2020-12-04 15:39] Rodrigo-Andrade commented on #44449
I'll play with it this weekend, thank you!

[2020-12-04 15:48] mrward commented on #42311
Ran a test of this fix and it looks good to me with Xcode 12.2.

- Installed .NET 5.0.1
- Ran David's repro steps.
- Debugger fails
- Copied the dylib from .net 5.0.1 from /usr/local/share/dotnet/shared/Microsoft.NETCore.App/5.0.1/libdbgshim.dylib to ~/.vscode/extensions/ms-dotnettools.csharp-1.23.6/.debugger
- Restarted VS Code and then debugged the project again
   - the debugger runs and breakp

[2020-12-04 15:52] lewing commented on #44996
/cc @akoeplinger

[2020-12-04 15:53] radical opened #45595 "[wasm] Debugger unable to show value"
I try to provide more description,
because this problem occures when we want to see value of variable from type of a class on other assembly of solution, based on a class from thrid party!!!

Class A => On assembly Model.dll
Class B => On third party assembly, referenced to Model.dll
Class C => a property of class A. type C defined on third party
Class D => has property of type A,
[code]
Usage of

[2020-12-04 15:54] radical commented on #45595
@ehsangfl could you also share what version of .net, and VS you are using?

[2020-12-04 15:56] safern commented on #43952
Didn't runtime tests depend on libraries anyways? At least on CI they download libraries assets. cc: @trylek

[2020-12-04 15:59] eerhardt commented on #45593
I wonder if we could/should start moving away from the interfaces. One way of doing that would be:

1. Introduce a new class in the Abstractions:

[code]

2. The current MemoryCache implementation class inherits from `MemoryCacheBase` and overrides and implements all the methods.

3. In apps that use IMemoryCache want to use any new methods we define, they can change usages from `IMemoryCache` =>

[2020-12-04 16:02] trylek commented on #43952
Runtime tests do depend on libraries, these are used to populate the <code>CORE_ROOT</code> folder which is subsequently used as a "test-specific framework drop". That by itself shouldn't prevent moving corerun to a location shared between CoreCLR and Mono as the tool is usable for both. For the test host, I was under the impression that it by itself was also using the libraries build (to populate

[2020-12-04 16:03] radical opened #45596 "Unable to evaluate method calls in watch window"
having same issues with blazor wasm. unable to evaluate in watch window, I have having to convert everything to json and put it out with a console.writeln to the dev tools for the browser to view information

![](https://user-images.githubusercontent.com/62156838/101121303-cf6c3b80-35bd-11eb-831d-ff53cec54535.png)

[code]

Based off @angelalaweai's comment in https://github.com/mono/mono/issues/19

[2020-12-04 16:05] radical commented on #45596
@angelalaweai Method calls are not supported in the watch window yet.

[2020-12-04 16:14] danmosemsft commented on #45589
Hi @mladenb this method is intended to expire only characters that have particular meaning in .NET regexes. This is so you can take the result and use it as a literal component in your own regex and it will be treated like the original string. If it escaped @ this would not work.

[2020-12-04 16:14] #45589 closed

[2020-12-04 16:17] xoofx opened #45597 "Console.ReadKey and pressing SHIFT+END returns invalid escape sequence on WSL/Ubuntu"
### Description

From the issue in [kalk#18](https://github.com/xoofx/kalk/issues/18)

When pressing `SHIFT+END` with the following program in WSL:

[code]

It generates the following sequence on Linux:

[code]

instead of generating the following on Windows:

[code]

I don't know if it is a problem in .NET or WSL.

### Configuration

Tested on all WSL Ubuntu versions (16.04, 20.04)
Tested with .N

[2020-12-04 16:25] Tratcher commented on #45593
Adding abstract methods to a base class is just as breaking for implementers as adding new methods to an interface. You can only do it once when introducing the new base class that nobody has derived from yet. The new methods would have to be virtual with a default implementation, not abstract.

There are a lot of API requests for MemoryCache, where any one of them doesn't seem significant enough

[2020-12-04 16:28] wingchunninja commented on #42311
@mrward  I assumed you took the .NET 5.0.1 from here: https://dotnet.microsoft.com/download/dotnet/5.0.
After installing it i cannot see the 5.0.1 Version under /usr/local/share/dotnet/shared/Microsoft.NETCore.App/. I am only getting until 5.0.0. Is there something more to be done on mac to use 5.0.1?

[2020-12-04 16:34] marek-safar commented on #43952
Which libraries are needed? I thought System.Private.Corelib should be enough for runtime tests and the remaining tests are in libraries tests so can take any dependency.

[2020-12-04 16:38] eerhardt commented on #45593
https://github.com/dotnet/runtime/issues?q=is%3Aopen+is%3Aissue+label%3Aarea-Extensions-Caching+label%3Aapi-suggestion

In general:

* Clear
* Enumerating the cache (which most of the scenarios I've seen is for bulk removing entries)
* Tagging

[2020-12-04 16:40] vitek-karas commented on #45395
I tried both .NET Core 3.1 and .NET 5 single file apps (console hello world) on both Win7 and Windows Server 2012 R2 and they work. So if the app is failing it's probably for some other reason than the missing `api-ms-win...` libraries.

You can check event log - it's likely to contain some additional details about the failure (but not guaranteed, depends on how it failed).

Is this using .NET 5.0

[2020-12-04 16:46] mrward commented on #42311
@wingchunninja Sorry, I was testing an internal 5.0.1 build. Not sure if this change has made it into the 5.0.200 preview builds from https://github.com/dotnet/installer yet.

[2020-12-04 16:50] wingchunninja commented on #42311
@mrward Ah okay. Thank you. I will take a look if there are some changes there. It is a pretty blocking issue for me since i cannot debug in the normal way without console logging.

[2020-12-04 16:50] NN--- opened #45598 "Disabling trimming per assembly with trimming does change the assembly"
### Description

Specifying `TrimmerRootAssembly` and even `IsTrimmable false` does change the package file.

### Configuration

.NET Core 3.1 or .NET 5.0

project.csproj:
[code]

program.cs
[code]

Run:
`dotnet publish project.csproj -c Release -r win-x64 -o publish  /p:PublishSingleFile=true /p:PublishTrimmed=true`

Check file inside: `obj\Release\netcoreapp3.1\win-x64\linked\SMBLibrary.dll`

Th

[2020-12-04 16:54] julealgon opened #45599 "Missing argument validation on 'LoggerFactory.AddProvider'"
### Description

`Microsoft.Extensions.Logging.LoggerFactory` implements `ILoggerFactory` with a `AddProvider(ILoggerProvider)` method. However, it does not perform any argument validation on `provider`, meaning it will consider `null` as a "valid" provider and add it to the collection of providers internally.

Some operations inside the class will unnecessarily throw `NullReferenceException`s due

[2020-12-04 16:55] Clockwork-Muse commented on #45587
Link 404s

[2020-12-04 16:57] lewing commented on #45548
/cc @vargaz

[2020-12-04 17:07] vitek-karas commented on #45598
This is currently expected. The trimmer still processes the assembly, it just doesn't remove any type/method from it in that mode. What it will do is remove assembly references to assemblies which are removed from the output. In this case it removes reference to mscorlib and netstandard and replaces it with references to .NET Core assemblies.

Does the fact that assembly is modified (but not actua

[2020-12-04 17:16] GureevLeonid opened #45600 "System.Security.VerificationException (type argument violates the constraint of type parameter) when running code on net 5.0"
### Description

Hi, we have encountered strange exception after one of ours project's target framework has been upgraded from netcoreapp3.1 to net5.0.

This is the exception message:
[code]

I made simple console app to reproduce it:
[code]

If you run this code with target netcoreapp3.1 - it works.
But if you run with target netcoreapp5.0 - exception throws.

### Configuration

Dotnet sdk 5.0.10

[2020-12-04 17:20] maryamariyan commented on #45599
I think it would make sense to ArgumentNullException for this case.

To your point, as part of the effort to enable nullable annotations for extensions libraries (tracked [here](https://github.com/dotnet/runtime/issues/43605)), we just recently annotated Logging.Abstractions, and that means ILoggerFactory implemented under Logging.Abstractions would expect to take a nullable ILoggerProvider for `I

[2020-12-04 17:20] gregg-miskelly commented on #42311
Yes, soon after 5.0.1 ships the VS debugger team expects to put out a new release of vsdbg-ui which can be included into the VS Code C# extension and VS For Mac.

[2020-12-04 17:26] trylek commented on #43952
I don't know how to produce an exhaustive list but it's definitely more than System.Private.CoreLib, I'm not aware of any hard definition of a "set of assemblies usable in runtime tests". A random text search for "using" statements under <code>src\tests</code> shows e.g. <code>System.IO</code>, <code>System.Linq</code>, <code>System.ComponentModel</code>, <code>System.Numerics</code>, <code>System

[2020-12-04 17:33] wingchunninja commented on #42311
@mrward Thank you for the hint. This did the work for me 🙂

[2020-12-04 17:33] dazinator commented on #45497
@NinoFloris

Yep thats the exact hurdle I hit. I got as far as exploring the native service provider code - but props on actually working through a solution. I'd love to see this feature land. Decorating the service provider seems the only way to implement scope tracking hermetically. (P.S thank you for also introducing me to the word `hermitically`!)

[2020-12-04 17:37] safern commented on #43952
You need a shared framework to run the tests as they run as XUnit .NET tests and I believe they use the live built shared framework, right? Or do we just use the live libraries to build the tests?

[2020-12-04 17:38] NN--- commented on #45598
It doesn't cause any issue but there are plenty of licenses which require you to state changes even if you just modify the date.
Some licenses may even disallow such usage if you change the original file.
For the safety I would like to have the original file in the output.

https://tldrlegal.com/search?reverse=true&must[]=52c5e04809728f9723000009

[2020-12-04 17:39] jkoritzinsky commented on #43952
The XUnit harness doesn’t use the live built runtime any more. We moved to pulling down a copy of the runtime bundled with the SDK we build with for running xunit a while ago.

[2020-12-04 17:42] MCCshreyas commented on #45593
Wanted to link here - #44522

[2020-12-04 17:45] eiriktsarpalis commented on #45597
Related to #802 and #44621.

[2020-12-04 17:51] julealgon commented on #45599
I think this is ill-advised @maryamariyan : `ArgumentNullExceptions` should be thrown even in the case that correct nullable annotations are in place.

This is because as of right now, there is no runtime validation leveraging nullable annotations, so if consumers pass a `null` value, one would still see the same issues. Also keep in mind that people having nullable reference types disabled and al

[2020-12-04 17:52] vitek-karas opened #45601 "LoadAssemblyAndGetFunctionPointer doesn't reset the out function pointer on error"
If the call to `ComponentActivator.LoadAssemblyAndGetFunctionPointer` fails it doesn't reset the value of the output parameter to `null`. It will leave potentially "random" value in it. It would be cleaner to reset the value to null.

Similarly for `GetFunctionPointer`.

[2020-12-04 18:04] vitek-karas commented on #45598
Thanks for pointing that out!

[2020-12-04 18:04] trylek commented on #43952
I think it's actually even more convoluted - the XUnit wrappers and XUnit console use the bundled framework as Jeremy says, however the tests themselves (running out-of-proc) use the framework in CORE_ROOT. This is one of the reasons why a couple of weeks back @nattress had to move xunit out of the CORE_ROOT folder exactly due to incompability between the two SDK versions.

[2020-12-04 18:07] vitek-karas commented on #45598
This issue was moved to mono/linker#1669

[2020-12-04 18:07] #45598 closed

[2020-12-04 18:07] julealgon opened #45602 "Decouple 'ILoggerFactory' and 'ILoggerProvider' from 'IDisposable'"
## Background and Motivation

Currently, `ILoggerFactory` and `ILoggerProvider` from `Microsoft.Extensions.Logging.Abstractions` also implements `IDisposable`. This forces every implementation to _also_ have to implement disposal semantics, even if they are not applicable (i.e. there are no resources that need disposal).

I believe this is a poor decision for a couple reasons:
1. it is a violation

[2020-12-04 18:13] hoyosjs commented on #42008
I haven't been able to take a look yet (few PRI 1 came after release and then the test reliability effort, will address as soon as those clear out).

[2020-12-04 18:20] jkoritzinsky commented on #43952
Yep. The harness uses the downloaded framework, but the tests themselves use CORE_ROOT.

Additionally, for some of the tests, (at least for CoreCLR runs) we use the additional tools available in CORE_ROOT that we don't ship in the shared framework. I think having two different ways to form CORE_ROOT is reasonable, but I don't think sharing a test host layout with libraries would work well.

[2020-12-04 18:30] CarolEidt commented on #10145
The inner loop code now looks like this:
[code]
So, although no real changes have been made to loop backedge splitting, it seems that the issue no longer exists.

[2020-12-04 18:30] #10145 closed

[2020-12-04 18:38] vcsjones commented on #45600
Hmm, `VerificationException`, if I understand correctly, means that something or unverifiable at runtime. @janvorli might you know best how to proceed here?

[2020-12-04 18:39] CoffeeFlux commented on #43402
I think we can close this issue given that it's fixed for 5.0.1.

However, I'm still curious how we didn't end up standardizing the runtime version across all components we ship that consume it before release. That seems like a procedural problem—having inconsistent runtime versions in the release seems like it could lead to all sorts of unintended problems, even beyond issues like this one.

[2020-12-04 18:46] CoffeeFlux commented on #43692
It looks like the Browser APIs for this aren't ready yet, so closing in favor of https://github.com/dotnet/runtime/issues/45454

[2020-12-04 18:46] #43692 closed

[2020-12-04 18:58] scalablecory commented on #43290
One quirk I've ran into while prototyping this is how it behaves when shutdown is not supported.

Say I'm taking a generic `Stream` and depend e.g. HTTP/1.0 behavior where you need to shutdown writes to trigger a response.

If we make the default implementation do nothing, my code might block indefinitely waiting for a response that will never come.

Similarly, if we make the default implementatio

[2020-12-04 19:04] tarekgh commented on #45588
@jbearfoot In .NET 5.0 we have switched to use ICU library instead of NLS Win32 APIs. It is expected to see some differences but mostly will get the behavior seen on Linux before. You may consult the doc https://docs.microsoft.com/en-us/dotnet/standard/globalization-localization/globalization-icu for more info.

ICU picks its data from CLDR which is the Unicode standard. So, usually ICU be more co

[2020-12-04 19:04] #45588 closed

[2020-12-04 19:15] danmosemsft commented on #43545
@HongGit OK to close? do you want to create stories for source generators for XmlSerializer and/or DCS? I suggest to do that even if they won't happen in .NET 6, as that will record the decision and discussion can continue there.

[2020-12-04 19:17] tarekgh commented on #45585
CC @stephentoub

[2020-12-04 19:23] danmosemsft commented on #42008
Thanks @hoyosjs this came up yesterday during .NET 5 retrospective and we feel that it would be valuable, especially for library devs where an incremental build is fairly quick so should be less sensitive to hardware performance.

[2020-12-04 19:30] kamronbatman commented on #43086
Any updates on this? This affects quite a bit of run-of-the-mill application logic that reaches out to 3rd party APIs. I haven't tested it with large downloads (which is another use-case I have), but I assume that is negatively affected considerably.

[2020-12-04 19:34] stephentoub commented on #45585
This is extremely unlikely to be specific to Task.Delay, rather Timer. And Timer uses Environment.TickCount64 rather than Stopwatch, with the former not having the same accuracy or precision of the latter.  I expect if you tested with TickCount instead you wouldn't see such a discrepancy.

[2020-12-04 19:41] AlbertoPa commented on #30820
Here: https://docs.microsoft.com/en-us/ef/core/querying/related-data/serialization Literally, straight out of the official MS documentation.

[2020-12-04 19:45] scalablecory commented on #44686
Possibly related failure in AWS -- https://twitter.com/bhop2112/status/1334943693179117570

[2020-12-04 19:45] CoffeeFlux opened #45607 "[mono] Implement and document PINVOKE_OVERRIDE"
See https://github.com/dotnet/runtime/pull/44505 for a more detailed description and the CoreCLR implementation.

Some embedders will probably be happy to migrate to this once it exists.

[2020-12-04 19:46] riarenas opened #45608 "System.Net.Sockets.Tests.LocalEndPointTestIPv4Sync.TcpAcceptSocket_WhenServerBoundToWildcardAddress_LocalEPIsSpecific failure in CI"
https://dev.azure.com/dnceng/public/_build/results?buildId=908690&view=ms.vss-test-web.build-test-results-tab&runId=28973454&resultId=148270&paneView=debug

[code]

Runfo Tracking Issue: [localendpointtestipv4sync.tcpacceptsocket_whenserverboundtowildcardaddress_localepisspecific](https://runfo.azurewebsites.net/tracking/issue/111)
|Build|Definition|Kind|Run Name|
|---|---|---|---|
|[1012157](http

[2020-12-04 19:49] kunalspathak commented on #10937
There were some updates recently by Carol that documented these things:
https://github.com/dotnet/runtime/pull/39492
https://github.com/dotnet/runtime/pull/45235
https://github.com/dotnet/runtime/pull/45609

[2020-12-04 19:49] #10937 closed

[2020-12-04 20:01] cjblomqvist commented on #40099
I guess https://github.com/dotnet/runtime/issues/30820#issuecomment-738979851 is a quite funny comment, and probably also highlights just how natural Ignore is (considering MS EF documentation suggests it as the number one solution). I guess EF is a quite relevant library with a lot of use cases, so that should guide the relevancy discussion a little 😊

[2020-12-04 20:05] janvorli commented on #45600
Let me run the repro locally and see where the exception stems from in the native runtime.

[2020-12-04 20:06] CarolEidt commented on #10937
Thanks for closing this @kunalspathak !

[2020-12-04 20:06] briansull commented on #44415
Yes, it is true that the array index is always an int32 and likewise the storage for the array.Length field is only 4 bytes and is a signed int32.  This means that the maximum array length is 2^31-1 in the .Net runtime.

It is is also true that when performing array address calculations we currently always cast the array index value from int32 to a 64-bit native integer.  This is done using a sign

[2020-12-04 20:11] bhop2112 commented on #44686
@scalablecory  I can confirm that the ConnectCallback workaround posted above by @antonfirsov resolved the issue for me.  Here are some additional details that may be relevant:

- The connection to the service in AWS only fails via a split-tunnel VPN (paloalto/GlobalProtect), I have a separate full-tunnel VPN connection that works fine in .NET 5.0
- The connection via the split-tunnel does work in

[2020-12-04 20:16] AlbertoPa commented on #40099
@cjblomqvist it meant to be funny and also show a bit of frustration behind all the IMHO over-thinking in this discussion, which led to postponing Ignore to 6, one year from now, despite it being obviously needed in some use cases. 😄

[2020-12-04 20:17] naricc commented on #43952
Ok, so my conclusion from this is that I should *not* use the libraries test host, but instead should make core_run build independently of coreclr, move the source for it to a new, and then use corerun to as normal for the runtime tests.

[2020-12-04 20:19] vargaz commented on #45548
No need for a repro.

[2020-12-04 20:32] shravan2x commented on #45585
@stephentoub Oh interesting, though this was tested on Linux. Do you know what the precision there is?

And if we know such a precision loss is possible, could our use of Timer be updated to always round _up_ to the next 15ms mark?

[2020-12-04 20:39] hoyosjs commented on #45547
There's a few places that can return such error (~40). I'll try to take a look, but right now there's quite a queue of things to take a look at. @tommcdon is helping me trying to repro this.

[2020-12-04 21:14] bwadswor opened #45610 "Missing VS pre-req leads to non-obvious build error"
*Initial cost estimate*: 2 days
*Initial contacts*: @trylek, @ViktorHofer

### Description

Would be nice if missing dependencies were flagged clearly in the build.

### Steps to Repro
1. starting with a clean machine, install all the pre-reqs except for VS2019.  (i just failed to install it...)

2. clone
3. build.cmd
4. observe error, and scratch head trying to figure out why it didn't work clean

[2020-12-04 21:16] AaronRobinsonMSFT opened #45611 "Improve the failure messaging for C++/CLI binaries that are missing dependencies"
### Description

When loading a C++/CLI assembly if there are missing native dependencies the error message is always `COR_E_BADIMAGEFORMAT`.

https://github.com/dotnet/runtime/blob/7e9dee84a91560dc8e3fda8bf1ddef664d07aa99/src/coreclr/src/vm/peimage.cpp#L1059-L1062

This is confusing when examining the assembly because it is typically of the correct bitness, but the error message indicates otherwi

[2020-12-04 21:17] geeknoid commented on #14484
I have a proposed for a considerably faster solution to string formatting, which avoids boxing of arguments in the common case and only performs a single allocation for the final string. It's coming at around 2x faster than String.Format or string interpolation in the common case, plus since it doesn't create temporary garbage it's nicer on the GC in the long run.

See https://github.com/geeknoid/

[2020-12-04 21:24] stephentoub commented on #14484
@geeknoid, what are the advantages of that over my cited proposal?  From a usability perspective, I'd prefer being able to write `Foo($"Hi.  My name is {name}, and my age is {age}.")` rather than `private static readonly StringFormatter s_nameFormat = new StringFormatter("Hi.  My name is {0}, and my age is {1}."); ...; Foo(s_nameFormat.Format(name, age);`, and I don't believe the proposed StringFo

[2020-12-04 21:25] AaronRobinsonMSFT commented on #45342
@vitek-karas and @agocke I am moving this to the hosting side of things since it is general limitation on that process. However I am inclined to actually move this over to the SDK since it is about providing an experience for customized `deps.json` generation? Please retag or move as appropriate.

[2020-12-04 21:25] riarenas commented on #45532
I haven't seen this since then and the linked issue seems like a good follow-up for this situation.. We can reopen if it happens again.

[2020-12-04 21:25] #45532 closed

[2020-12-04 21:28] AaronRobinsonMSFT commented on #45151
@tommcdon This appears to be a UWP specific scenario. What are your thoughts here? We should validate C#/WinRT supports this scenario but I am inclined to say this doesn't meet the bar of the built-in WinRT support in older scenarios.

[2020-12-04 21:33] EgorBo opened #45613 "OrdinalIgnoreCase could be faster when one of the args is a const ASCII string"
It's a quite popular case when we compare a string against some predefined one using `Ordinal/OrdinalIgnoreCase` case (I found plenty of cases in dotnet/aspnetcore and dotnet/runtime repos). E.g. patterns like:
[code]
So Roslyn/ILLink/JIT (perhaps, it should be JIT to handle more cases after inlining + Roslyn/ILLink know nothing about target arch) could optimize such comparisons by inlining a more

[2020-12-04 21:41] danmosemsft commented on #36391
@maryamariyan as this is work generated by the team (as opposed to necessary for the high level .NET 6 themes) please label it "bottom up"
Also you will want to list it in the Epic https://github.com/dotnet/runtime/issues/44314 so that it is parented when you go to https://themesof.net/?q=is:open%20kinds:teub as opposed to floating at the bottom.

[2020-12-04 21:41] danmosemsft commented on #36391
you may also want to add a cost and/or priority labels according to your judgement

[2020-12-04 21:43] Szer commented on #45613
It could be very beneficial for headers parsing in web servers.

[2020-12-04 21:45] davidfowl commented on #14484
How do format specifiers work in your proposal @stephentoub ?

[2020-12-04 21:53] stephentoub commented on #14484
We'd define a pattern for Append methods, where the first argument is the thing to be formatted,  if there's a second it's a format string, etc.

[2020-12-04 22:00] ericsampson commented on #44686
@jonsagara I believe you can use your own HttpClient with Elasticsearch NEST, if that helps in the meantime:
https://www.elastic.co/guide/en/elasticsearch/client/net-api/current/modifying-default-connection.html
https://github.com/elastic/elasticsearch-net/tree/master/src/Elastic.Transport/Components/Connection

[2020-12-04 22:08] tannergooding commented on #44415
So do the IL instructions (like `ldelem`) that take a `native int` themselves truncate the value first?

[2020-12-04 22:13] GrabYourPitchforks commented on #45613
Somewhat related to https://github.com/dotnet/runtime/issues/11484. If the JIT has knowledge that one of the parameters is constant, it can tell us to go down a separate code path, or it can even redirect the call to a different method.

[2020-12-04 22:26] ericsampson commented on #44686
FWIW, re the service patch for .NET 5, our org would have hit this in the next month or so when we start moving some stuff to .NET 5 as we have pretty much this same configuration as the OP:

[2020-12-04 22:29] FyiurAmron commented on #42820
FWIW, I'd say that current abstraction is broken (both in terms of correspondence with e.g. actual zlib functions, of POLA, and in simplicity of use) and adding a better abstraction would be a better idea. https://github.com/dotnet/runtime/issues/2236#issuecomment-698981107 sums up my stance on this. As such, I'd say that providing an access to more low-level API would solve all the issues raised

[2020-12-04 22:39] EgorBo commented on #45613
@GrabYourPitchforks Nice idea, reminds me this LLVM intrinsic: https://llvm.org/docs/LangRef.html#llvm-is-constant-intrinsic

Thanks to https://github.com/dotnet/runtime/pull/37226 and https://github.com/dotnet/runtime/pull/1378 the following code is computed as a const! 🎉
[code]
Codegen for `Test`:
[code]

[2020-12-04 22:41] AndyAyersMS commented on #44415
Index values are encapsulated early on in the jit (via index nodes).

When we expand these in morph we "widen" index values to native int, see eg `fgMorphArrayIndex`
[code]

[2020-12-04 23:07] EgorBo commented on #45613
`bool JitHelpers.IsConstAsciiString(string)` prototype: https://github.com/EgorBo/runtime-1/commit/86ca1306f9089acc16dd9711680864e395627a54

[2020-12-04 23:17] wli3 opened #45617 "Improve error message when there is an empty runtime folder"
### Description

installing a private copy of 5.0.0 and manually adding a 5.0.1 folder (empty) – then setting this as the dotnet location and running a console app (5.0.1 will be picked due to roll forward).

Cannot use file stream for [F:\AppModel\repro\emptyframework\dotnet\shared\Microsoft.NETCore.App\5.0.1\Microsoft.NETCore.App.deps.json]: No such file or directory
A fatal error was encountere

[2020-12-04 23:22] agocke commented on #44035
@LakshanF It looks like this is done -- are we ready to close this issue out or is there more investigation necessary for the issues?

[2020-12-04 23:25] LakshanF commented on #44035
https://github.com/vitek-karas/designs/blob/1d55edf52b4b25e67133ccb82672b2dd170e53aa/accepted/2020/linking-libraries.md gives guidance on fixing warnings

[2020-12-04 23:25] #44035 closed

[2020-12-04 23:39] #7407 closed

[2020-12-04 23:52] NickCraver commented on #45617
Worth noting this is related to https://github.com/dotnet/installer/issues/7812

[2020-12-04 23:53] scalablecory commented on #44686
I think we have enough for servicing.

@antonfirsov can you make a PR for 5.0 once the 6.0 one is merged, and we can talk to shiproom.

[2020-12-04 23:58] scalablecory commented on #43086
@kamronbatman the issue being discussed in this PR will only affect downloads >64KB. If you've got a perf case with content smaller than that, we'd be very interested -- please file a separate issue so we can keep each one focused on a single problem.

[2020-12-05 00:04] scalablecory commented on #31088
As @zlatanov said -- it is negotiated and uncompressed messages are part of spec, so client will handle it gracefully.

[2020-12-05 00:11] eerhardt opened #45623 "Fix ILLink warnings in .NET Libraries"
In .NET 6, we plan on addressing the ILLink warnings in the .NET shared framework. This issue is to track the overall progress, and list ownership of the areas that needs work.

The work needs to happen from the "bottom up", similar to nullable annotations. This is because addressing linker warnings in a lower-level library can cause new warnings in a higher-level library calling that API. I've gr

[2020-12-05 02:05] noon2a opened #45627 "."
https://github.com/dotnet/runtime/blob/29e9b5b7fd95231d9cd9d3ae351404e63cbb6d5a/src/coreclr/src/inc/corerror.xml#L2356-L2360

[2020-12-05 02:06] #45627 closed

[2020-12-05 02:09] noon2a commented on #44430
.

[2020-12-05 02:22] jkotas commented on #45613
There are many APIs that can be replaced with more efficient call-site specific equivalent when the input is in a particular shape. Would source generators be better way to handle that? It would be much more powerful solution than IsConstAsciiString.

[2020-12-05 02:27] BruceForstall commented on #6748
In the absence of any indication this is an important real-world problem, I'm going to close this.

[2020-12-05 02:27] #6748 closed

[2020-12-05 02:35] davidwrighton opened #45628 "getNewHelper hasSideEffects return value not correctly handling R2R versioning"
pHasSideEffects is supposed to be set to true if the type could have a finalizer, but the current logic only checks to see if the type has a finalizer visible in the current compilation.

[2020-12-05 02:36] tommcdon opened #45629 "Support Dev inner loop improvements in CoreCLR VM"
Contributes to dotnet/core/issues/5511

## Overview

Our goal is to provide a consistent dev inner loop experience in .NET Core across all platforms, architectures, and workloads.  Today, code edits can be made at runtime and applied to running processes using [ReJIT](https://github.com/dotnet/coreclr/blob/master/Documentation/Profiling/davbr-blog-archive/ReJIT%20-%20The%20Basics.md) and [Edit and

[2020-12-05 02:37] Nilotaviano opened #74195 "ChangeToken.OnChange consumer callback isn't being triggered on Ubuntu when used in conjunction with IConfiguration.GetReloadToken()"
The code below works perfectly on Windows, but doesn't work when deployed on Ubuntu 16.10. The `configuration` is initially loaded, but is never reloaded afterwards when `appsettings.json` is modified on Ubuntu (it works on Windows and I get to see the `App Settings reloaded` log message).

[code]

.csproj:
[code]

Publish profile:
[code]

[2020-12-05 02:56] BruceForstall commented on #7088
Given the low priority of the optimization, I'm going to close this.

[2020-12-05 02:56] #7088 closed

[2020-12-05 03:24] BruceForstall commented on #7697
It doesn't seem likely we will address this, and it's even more out-of-date now, so closing.

[2020-12-05 03:24] #7697 closed

[2020-12-05 03:44] Michael3161010 commented on #45599
I am looking for a good first issue to pick up, does anyone have an issue if I do that ?

[2020-12-05 03:45] jkotas commented on #45607
Is this callback sufficient replacement for the `__Internal` scenarios? (#7267)

[2020-12-05 03:54] srxqds commented on #44806
hope you can support it in jit mode

[2020-12-05 04:03] srxqds commented on #45629
will mono support it in jit mode?

[2020-12-05 04:21] CoffeeFlux commented on #45607
I don't think so. We've long had the _ability_ to recreate `__Internal` loading via existing functionality, and this doesn't really change that. As I see it, `__Internal` requests are mostly about convenience for an extremely common desire with embedding, so that developers don't have to copy paste the same snippet (be it using this callback or existing managed callbacks) into all their embedding

[2020-12-05 04:23] tommcdon commented on #45629
Please see https://github.com/dotnet/runtime/issues/44806 for the mono hot reload work

[2020-12-05 04:39] taooceros opened #45632 "WinRT bug: System.InvalidOperationException:“Attempt to update previously set global instance.”"
### Description

When calling the new PackageManager(), this error throw.

### Configuration
Using .Net 5 with TargetFramework net5.0-windows10.0.19041.0.
The windows OS version is 20H2 x64.

### Regression?

Not sure, but .net core 3.1 with the Windows.SDK.Contract works well.

### Other information
#### StackTrace

[code]

#### Similar bug
https://github.com/microsoft/CsWinRT/issues/394

[2020-12-05 04:56] sgronblo commented on #44567
Is this part of some official spec? I guess the problem is should be trivially resolvable by adding an error catch statement to the program. It just seemed like it works differently from every language I've used so far where an uncaught runtime exception  (which could be the result of incorrect user input for example) would not be considered as an error that needs to be reported.

[2020-12-05 05:15] BrunoBlanes commented on #30820
@AlbertoPa I think for that example you can set the `ReferenceHandler` property to `Preserve`.

[2020-12-05 05:18] geeknoid commented on #14484
I've now added support for a Span-based TryFormat version which results in no allocations. This version is over 4x as fast as String.Format and induces no garbage. After 20 years, there's finally a formatting function in .NET that can compare in perf with C's sprintf :-)

Here are the benchmark results

[code]

[2020-12-05 05:33] geeknoid commented on #14484
@stephentoub The benefits to my proposal is that:

* I believe it is both smaller IL and faster than what you propose.
* The implementation exposes a span-based version which completely eliminates all allocations.
* It's fully implemented and can be played around with.

I think the C# compiler can be thought about this type and magically generate the static StringFormatter instances for any use of

[2020-12-05 07:08] marek-safar commented on #35928
/cc @vargaz

[2020-12-05 07:13] En3Tho commented on #14484
@geeknoid can you share benchmark code or link it please? While this is kinda off topic but I feel that there might be a way to make faster F# printf with things you're proposing.

[2020-12-05 07:16] asmichi opened #45633 "P/Invoke function returning SafeSocketHandle throws "System.MissingMethodException: .ctor""
### Description

On .NET 5, P/Invoke function returning `SafeSocketHandle` throws "System.MissingMethodException: .ctor". See [MissingSafeSocketHandleCtor.zip](https://github.com/dotnet/runtime/files/5646646/MissingSafeSocketHandleCtor.zip) for a full repro project.

[code]

### Configuration

- .NET SDK 5.0.100
- Windows 10 Pro x64 (20H2, 19042.630)

### Regression?

Yes. Worked on 3.1.404.

###

[2020-12-05 07:22] asmichi commented on #45633
I just wanted to bring this to your attention. Something seems wrong with the released assemblies.

This issue itself is not a blocking issue to me because this issue is easy to work around. It is even acceptable to me if this is marked as an unsupported use case (by design).

[2020-12-05 07:25] GrabYourPitchforks commented on #45633
Possible linker issue? I'd think the linker would special-case `SafeHandle`-derived types and not remove the ctors, but possible something went wrong in this instance.

/cc @marek-safar @MichalStrehovsky

[2020-12-05 07:29] marek-safar commented on #45633
Yep, see https://github.com/mono/linker/issues/1660

[2020-12-05 07:32] AlbertoPa commented on #30820
@BrunoBlanes I have tried it but it does not seem to work if there are many-to-many relationships. Currently I have two workarounds:

1) Annotate the two navigation properties in the join entity with [JsonIgnore]

or

2) Use Newtonsoft.Json with the

`options.SerializerSettings.ReferenceLoopHandling
                        = Newtonsoft.Json.ReferenceLoopHandling.Ignore;`

option on the server. In

[2020-12-05 09:25] frankabbruzzese commented on #45353
@vitek-karas ,
You are right embedded resources continue working and in the past version, so I am solved my issue and I am going to close this issue. However, there is a documentation issue: any mention of the possibility to use embedded XML files disappeared from the documentation. So maybe, it would be better to open a new issue for the documentation repository, in some other place (not clear to

[2020-12-05 09:25] #45353 closed

[2020-12-05 10:07] Liversage opened #45634 "Deserializing IReadOnlyDictionary with integer key throws InvalidCastException"
`System.Text.Json` 5.0.0 supports dictionaries with integer keys:

[code]

This can be deserialized to a dictionary (not read-only) with `int` keys:

[code]

There is also support for `IReadOnlyDictionary<TKey, TValue>` when `TKey` is `string`:

[code]

However, when I try to deseriailze `IReadOnlyDictionary<TKey, TValue>` when `TKey` is `int` I get an `InvalidCastException`:

<pre>
Unable to cast

[2020-12-05 10:31] Szer commented on #45613
Does it mean that optimized path in language agnostic BCL could only be used in C#?

[2020-12-05 10:37] EgorBo commented on #45613
I think at least for the
[code]
for `str.Length <= 4` (or `2` in case of 32bit) small strings we can introduce the optimization directly in the JIT, it shouldn't be difficult to implement - a couple of `GT_QMARK` and indirect loads` for `string.Equals` intrinsic. We can also rely on PGO and don't do it in the cold blocks. But I'd honestly also implement if for longer strings using SSE/AVX, it shou

[2020-12-05 11:12] GSPP commented on #45397
A compiled `Expression.New` does not invoke the constructor? 👀

[2020-12-05 11:24] meee1 opened #45635 "SerialPort read latency on linux"
https://github.com/dotnet/runtime/blob/dc0e11d2e681659fc20feebf4c092082e75706af/src/libraries/System.IO.Ports/src/System/IO/Ports/SerialStream.Unix.cs#L841

if you short read the available bytes, there is a 1ms delay between reads as all reads now go via an async process and queue
eg
port.ReadByte();
// 1ms
port.ReadByte();
// 1ms
port.ReadByte();
// 1ms
port.ReadByte();

[2020-12-05 11:39] stephentoub commented on #45633
@marek-safar, so even though the ctor exists:
https://github.com/dotnet/runtime/blob/dc0e11d2e681659fc20feebf4c092082e75706af/src/libraries/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.cs#L41
the linker is trimming it out in the assembly build because no P/Invokes are using it in the assembly build?

This should be fixed in servicing; I'm not sure how that works.  Can we service the

[2020-12-05 12:18] weitzhandler commented on #45587
I must have posted it as private by accident, anyway, it's public now.

[2020-12-05 13:10] wzchua commented on #45587
`PostAsJsonAsync` would serialize `T`.

you're meant to use it like
[code]

[2020-12-05 13:54] PeterZander opened #45636 "FormatException on right padding a interpolated string"
### Description

Right padding a string with interpolated strings throw a System.FormatException

Code to reproduce:

    using System;

    namespace tmp5
    {
        class Program
        {
            static void Main(string[] args)
            {
                var st = "1";
                var st2 = $"{st,100}";  // Ok
                var st3 = $"{st,-100}"; // FormatException here