[2021-01-14 07:10] jeffhandley commented on #43854
@himanshu8088 FYI -- I'm adding @eiriktsarpalis and myself to the assignees for the purpose of seeing this on our team's project board.

[2021-01-14 07:28] Clockwork-Muse commented on #46869
.... what are you talking about, it's perfectly valid JSON?

What's not "normal" is the use of the various id links.  You'd have to tell Java/Python to handle them (and I would bet there are already libraries to do so).  That said, **usually** you don't have duplicate objects/circular references, so you just serialize everything by value.

[2021-01-14 07:35] MichalStrehovsky commented on #46940
This wouldn't have to be restricted to the SR class - if illink can prove the method/property is not a target of reflection, there's no side effects, and inlining would be profitable, illink could inline methods in general (and slap an IgnoreAccessChecks attribute on the assembly to shut up warnings about violating visibility/accessibility checks).

With the annotations we added in .NET 5 illink h

[2021-01-14 07:45] thanhhn253 commented on #46869
Why didn't you give me ReferenceHandler.Ignore option?
I need a way to bypass the ref loop but still maintain the structure of the class
That is why I switched back to Newtonsoft
Why is there only one option?
Please give us more options to choose

[2021-01-14 07:54] GSPP commented on #46911
It is not specific to this particular construction but I wonder if it would not be considered undermining a very fundamental guarantee of .NET that strings are immutable values. I don't think many people realize that strings can effectively change their value *using no unsafe code*. It was new to me.

Well, apparently that is not considered an issue. I thought it would be good to report it.

[2021-01-14 07:58] hameedshk commented on #29270
@joperezr thank you for linking the issue. Because of lack of kerberos authentication , we are on windows servers which is more costly in terms of operation, hoping to find or implement a solution as soon as possible.

[2021-01-14 08:00] kunalspathak opened #46973 "Assertion failed '!"Bad value of 'gcType'"' in 'testout1:Func_0_6_4_4():int' during 'Morph - Global' (IL size 85)"
Found this when working on a fix for https://github.com/dotnet/runtime/issues/46085.

[code]

[2021-01-14 08:00] Francoimora commented on #44897
Two solutions with almost all scenarios possible (.Net Standard 2.0 / Asp Net Core 3.1 / .Net 5 / Unit Tests) and everything is working now fine on Beta 2. Step-by-step debugging is also working (tested on Rider only). What a journey ! Congrats to everyone who helped making this possible.

[2021-01-14 08:00] kunalspathak commented on #46973
@dotnet/jit-contrib  @sandreenko

[2021-01-14 08:04] jkotas commented on #46911
The runtime issues barriers on weaker memory architectures when publishing object references, so this is not a real problem.

If the runtime did not issue barriers when publishing object references, it would cause problems for more than just the strings. For example, `obj.GetType()` would be unreliable.

[2021-01-14 08:08] tmds commented on #46905
I've added a 5th and 6th bullet.

[2021-01-14 08:16] Falco20019 opened #46974 "XmlSerializer corrupts empty tag when serialized using StreamWriter"
### Description

Serializing an empty string/tag embedded in an `XmlElement` using `XmlSerializer` with indentation and line breaks will corrupt the data.

I need to encapsulate part of an input `XmlElement` into another class instance with additional data.

Input:
[code]

Expected output:
[code]

Received output:
[code]

The `v1` field will contain a line break and therefore data. I would be fine

[2021-01-14 08:20] #41954 closed

[2021-01-14 08:21] tmds commented on #45755
@ViktorHofer is this an appropriate change? I can look into making it.

[2021-01-14 08:25] kunalspathak commented on #46086
I was able to repro this locally using altjit. Will start investigating.

[2021-01-14 08:32] kunalspathak commented on #46973
Several other test failures. Also fails with `JitStressRegs=0x80`:

[code]

[2021-01-14 08:33] karelz commented on #46948
@EatonZ are you interested in putting up a PR with a fix?

[2021-01-14 08:40] karelz commented on #46959
@scalablecory it looks to me like a problem on the server side. Am I missing something?
@Cloudmersive would you be able to create a minimal (HelloWorld-style) repro demonstrating the problem? That may clarify bunch of things and allow us to route it and investigate.

[2021-01-14 09:04] merken commented on #44897
I also confirm that Big Sur Beta 11.2 Beta 2 allows me to debug .NET Core in VS Code (using OmniSharp) and JB Rider. My workflow contains SpecFlow unit tests, .NET Core 3.1 and .NET 5 apps.

It's not particularly fast, but I hope that improves overtime.

[2021-01-14 09:09] ManickaP commented on #46959
Just a little thing I noticed. Is the stream positionable, i.e. does `CanSeek` return true? And are the logs clear of any exceptions? Because it might be just throwing exception from: `context.Request.Body.Position = 0;` if the stream is not seekable.

[2021-01-14 09:12] Benjiinator commented on #46921
@LiorBanai After republishing everything i still get the error - thanks for the reply though.

[2021-01-14 09:38] pinkfloydx33 commented on #46920
I ran into the very same problem. Deserializing to the concrete type throws an exception simply because that type implements IEnumerable. It seems the deserializer checks if the type implements the interface at all even when it shouldn't matter. Removing the interface worked, but was not what I wanted (for similar reasons to the above).

[2021-01-14 09:59] janvorli commented on #44897
I can also confirm that things look good. Build of the .NET 5.0 runtime and of all the coreclr tests now work. It was hanging in the middle of the build before.

[2021-01-14 10:02] GSPP commented on #46911
@jkotas Thanks for explaining this.

[2021-01-14 10:20] vitek-karas commented on #46956
If I change the read stream open to look like this:
[code]

It works for non-single-file apps. It copies the `app.dll` to `app.dll.tmp`.

To copy the `.exe` the source path can be determined by:
[code]

This will also work for single-file - tested and it copies the exe next to itself.

[2021-01-14 10:27] John0King commented on #37576
![未标题-1](https://user-images.githubusercontent.com/13639146/104578798-1d349300-5696-11eb-9420-55ebc0240290.jpg)

a image describe the problem .

[2021-01-14 11:26] theodorzoulias commented on #36500
Related StackOverflow question: [Stop Reentrancy on MemoryCache Calls](https://stackoverflow.com/questions/65640644/stop-reentrancy-on-memorycache-calls/)

[2021-01-14 11:37] koepalex opened #46978 "Unhandled exception thrown in FileSystemWatcher event handler, don't terminate task/application under linux"
### Description

When a unhandled exception is raised in event handler of FileSystemWatcher (what is local member of a task) the exception terminates the task (and application) when running under windows. Under Linux the application is not terminated.

[code]

**Test steps**:
* run the program
* open shell in folder with executables
* update the file
[code]

**Behavior under windows**:
Application

[2021-01-14 11:41] karelz commented on #46910
We do not have ability to get current IE settings in .NET Core.

.NET Framework watches for registry changes that signal change in proxy settings (reg key `HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Connections` - see [AutoWebProxyScriptEngine.ListenForRegistry](https://referencesource.microsoft.com/#System/net/System/Net/_AutoWebProxyScriptEngine.cs,395)), then

[2021-01-14 11:52] karelz commented on #46944
I assume this is achievable today by setting the headers and manually compressing the content. It probably also allows better flexibility in tweaking compression algorithm parameters (size vs. time tradeoff).
I think it will boil down to how often is the scenario needed.

We have similar new compression API on WebSocket: https://github.com/dotnet/runtime/issues/31088#issuecomment-754854011

[2021-01-14 12:10] eiriktsarpalis commented on #46714
Running bisect on both types of regressions, they all seem to point to #46120 being the culprit. Should we close this in favor of #46684?

[2021-01-14 13:04] marek-safar commented on #46940
I'm wondering if we could use source generators for this during compilation time and do less or no special work in IL linker. We need to get rid of code like this https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/ThrowHelper.cs#L524-L716 anyway and why to rewrite the code if we could generate it as size optimal from the start.

There is also the aspect o

[2021-01-14 13:13] marek-safar commented on #46915
Ideally, the code would be pulled only when needed. For example when http version is set to 3 or higher. If that's not possible then we resort to static property like that but that has a tax on developers to know about it. We could also PNSE the code on the platforms where the code won't be supported anytime soon (e.g. Browsers).

These are only a few platforms we support.

[2021-01-14 13:18] shunlir opened #47822 "dotnet-sdk-3.1 installation fails on SLES 12: cpio: read failed - No such file or directory"
md5sum /var/cache/zypp/packages/packages-microsoft-com-prod/dotnet-runtime-3.1.11-x64.rpm
97d0a60f4d2fa5d999aca68068d6ea66  /var/cache/zypp/packages/packages-microsoft-com-prod/dotnet-runtime-3.1.11-x64.rpm

zypper install dotnet-sdk-3.1
Refreshing service 'SUSE_Linux_Enterprise_Server_12_SP5_x86_64'.
Refreshing service 'SUSE_Linux_Enterprise_Software_Development_Kit_12_SP5_x86_64'.
Refreshing ser

[2021-01-14 13:34] kjpou1 opened #46982 "[browser][websocket] WebSocket hang for messages without ever signaling "end of message""
The javascript websocket implementation does not support partial message without end of message sent.

The following code that specifies that the end of message should be sent:

[code]

When executed it leaves the network request in a pending state and never fires the `onMessage` event.  This can be viewed from the network status page of a browser.

The test code that runs the websocket echo serve

[2021-01-14 13:36] kjpou1 opened #46983 "[browser][websocket] Hang with responses without ever signaling "end of message""
The javascript websocket implementation does not support partial message without end of message sent.

The following code that specifies that the end of message should be sent:

[code]

When executed it leaves the network request in a pending state and never fires the `onMessage` event.  This can be viewed from the network status page of a browser.

The test code that runs the websocket echo serve

[2021-01-14 13:45] wzchua commented on #46920
actually, it looks like the serialization is wrong here.
[code]

[2021-01-14 13:47] MaximLipnin opened #46984 "[iOS][AOT] Unable to compile method due to: 'Cannot box IsByRefLike type'"
Trying to make a test for iOS AOT mode work in https://github.com/dotnet/runtime/pull/46810, I get the following errors:

[code]

I use a build command with the following parameters:
`./dotnet.sh build /t:Test src/tests/FunctionalTests/iOS/Simulator/AOT/ /p:TargetOS=iOS /p:TargetArchitecture=x64 /p:Configuration=Release`

The example of the [AOT compiler output](https://gist.github.com/MaximLipnin

[2021-01-14 14:23] adamsitnik commented on #46901
If they were obsoleted for more than a few years I believe that we should not be doing **any** investment in them. Users had enough time to stop using them.

Such users would most likely not update to .NET Core, not to speak about updating to .NET 6.0 when it gets released.

[2021-01-14 14:34] stephentoub commented on #46940
Related, note that with https://github.com/dotnet/csharplang/issues/2145 / https://github.com/dotnet/csharplang/blob/master/proposals/null-arg-checking.md, which is on track for C# 10, for at least argument null validation the C# compiler will generate code like that used for ThrowHelper.

[2021-01-14 14:42] eiriktsarpalis commented on #46473
That's correct and FWIW the concern doesn't exclusively apply to concurrent collections. There are many `System.Collections.Generic` collections that do not implement `ICollection<T>`, for instance `Queue<T>` and `Stack<T>`.

[2021-01-14 15:00] davidfowl commented on #22144
Where did we land on this API wise? Do we like the ConfigureAwait approach or the NoThrow extension method (I prefer that).

[2021-01-14 15:06] stephentoub commented on #22144
I prefer the ConfigureAwait approach, e.g. `await task.ConfigureAwait(ConfigureAwaitBehavior.NoThrow | ConfigureAwaitBehavior.NoCapturedContext);`, rather than having lots of different methods for all the various ways we might want to support awaiting and that all need to compose in some fashion (this is why the method is called ConfigureAwait today, because the idea was it could be extended in th

[2021-01-14 15:12] jkotas commented on #46940
How would you make it linker friendly without losing compactness of the current manually written ThrowHelper?

[2021-01-14 15:22] tmds opened #46986 "OpenSsl exceptions may use information from unrelated errno"
`GetSslError` retrieves `Sys.GetLastErrorInfo`:

https://github.com/dotnet/runtime/blob/796cbeeec0a97428e97b92250cb9ff65aadf41de/src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs#L533-L535

but none of the `DllImports` in [Interop.Ssl.cs](https://github.com/dotnet/runtime/blob/master/src/libraries/Common/src/Interop/Unix/System.Security.Cryptography.Nativ

[2021-01-14 15:23] danmosemsft commented on #46901
Do we warn about them at build time? I know we improved our obsoletion story recently, but the test library (S.R.IS.RI) that calls them builds without warnings.

[2021-01-14 15:31] kbond-stackify opened #46987 "Cannot build previous coreclr/corefx release tags due to MyGet feed removal"
As of yesterday, I can no longer build the 2.1 version of coreclr because the Microsoft.Portable.Targets package is no longer available.

`error NU1101: Unable to find package Microsoft.Portable.Targets. No packages exist with this id in source(s): /Users/xxx/git/coreclr-2.1.24/Tools/dotnetcli/sdk/NuGetFallbackFolder, https://dotnet.myget.org/F/dotnet-buildtools/api/v3/index.json, nuget.org
`

We

[2021-01-14 15:31] Cazzar opened #46988 "Microsoft.Extensions.Configuration App binding adding to the initialized Collections, not replacing"
## Background and Motivation

When defining a configuration that has some defaulted options that are a `List<T>` or an `array` type we might want to have the ability to provide a default list, but completely replaces the enumerable's contents with what is in the configuration file.

## Proposed API

[code]

## Usage Examples
Expanding upon [my original repo](https://github.com/Cazzar/Configuration

[2021-01-14 15:35] lanegoolsby opened #46989 "Inconsistent daylight savings flag when running on Linux containers"
*Note I originally [reported this issue on the TimeZoneConverter repo](https://github.com/mj1856/TimeZoneConverter/issues/85) and was referred here.*

I am seeing inconsistent daylight savings flags for MST when using TzConvert on Linux vs Windows.

The following code produces a True for `zoneInfo.SupportsDaylightSavingTime` on Linux but False (the correct value) on Windows.

[code]

Attached is a

[2021-01-14 15:36] janvorli commented on #42885
@gregolsky the fix was approved for the 3.1.12 release that should be released in about a month.

[2021-01-14 15:41] steveharter commented on #40099
This feature seems specific to a handful of related but somewhat different scenarios. It may be safer and more flexible to improve the existing extensibility model to support ignore and provide various samples around that.

I was under the assumption that the behavior could be non-deterministic in some cases, but that doesn't appear to be the case at least with Newtonsoft. Ignore only applies to t

[2021-01-14 15:44] steveharter commented on #40099
I assume the design will cover:
- Value type semantics (do we use `Equals`?)
- Reference type semantics on whether `Equals()` vs. `ReferenceEquals()` is used.
  - I assume we want `ReferenceEquals()` since that is what we use for preserve reference handling.

[2021-01-14 15:57] adamsitnik commented on #46901
They are all annotated with `[Obsolete]` attribute:

https://github.com/dotnet/runtime/blob/ef2a1878793e7e3fc3060396d3d2655ac53b1316/src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.cs#L319-L320

I've checked that and the obsoletion warnings are disabled on purpose in the tests source code:

https://github.com/dotnet/runtime/blob/5808716d9669e0ed2fdaad2222a1611219c2bec2/src/

[2021-01-14 16:08] marek-safar commented on #46940
I was thinking about something like this (not sure if it's possible with source generators).

[code]

[2021-01-14 16:12] huoyaoyuan commented on #46987
Check the history of 2.1 branch in legacy coreclr repository, and you can find this PR:
dotnet/coreclr#28101

[2021-01-14 16:17] eiriktsarpalis commented on #22144
I started working on a prototype a few months back, but it got dropped on the floor. I'll see if I can revive it.

[2021-01-14 16:18] ReubenBond commented on #22144
A developer might want one of several behaviors:

1. Signal completion but swallow exceptions
2. Signal completion and return the result of the task but swallow exceptions and return `default` if the task was canceled/faulted
3. For either: Ensure that `TaskScheduler.UnobservedTaskExeption` does not fire if this task's failure is not observed
4. Signal completion, exceptions, and cancellation with

[2021-01-14 16:22] Jmales opened #46990 "Two self-contained apps targetting different runtimes"
I have a self-contained app (**App1**) targeting .NET 5.0.1 which is packed alongside another self-contained app (**AppFull**) targeting .NET 5.0.2. I was expecting everything to work well, but I get several errors with wrong .dll versions when running **AppFull** (which uses **App1**):

[code]
Runtimeconfig.json of App1
[code]

Runtimeconfig of AppFull
[code]
And looking at the `deps.json` files

[2021-01-14 16:26] marek-safar commented on #46552
I think this needs more design work as it's a feature that is not supported on .NET Core today and I'm not sure it should be MonoVM specific. It should be opt-in/out feature and I'd also like the stack traces not to be touched and instead, for example, add base64 payload to the end of the stack trace and have managed API which would decode the data into System.Diagnostics.StackTrace.

With all tha

[2021-01-14 16:28] stephentoub commented on #22144
It would be `default(T)`.  With NoThrow, you have to check the status of `task` afterwards to know whether it was successful, faulted, or canceled, and you'd only use the result if it was valid.

[2021-01-14 16:30] richlander commented on #44897
We're intending on releasing Apple M1 support (native and R2) starting with .NET 6.0 Preview 1. There will almost certainly be issues and feature gaps in Preview 1. Support will get better with each preview. For example, Preview 1 will have only native SOS-style debugging support and we intend to add managed Visual Studio-style debugging with Preview 3.

Our current thinking is to backport R2 supp

[2021-01-14 16:34] sharwell commented on #22144
I also prefer this approach. Considering how clean it is, even if it starts out slower in some sense I'd be interested to rule out JIT improvements targeting common patterns before letting it impact the API.

[2021-01-14 16:35] ReubenBond commented on #22144
If a developer writes `_ = task.ConfigureAwait(ConfigureAwaitBehavior.NoThrow)` without awaiting, would an exception still bubble up to `TaskScheduler.UnobservedTaskException`?

[2021-01-14 16:36] kbond-stackify commented on #46987
Is this available in any of the tagged releases?  I have had problems in the past building against the HEAD to the 2.1 release branch, so I would prefer to stick with  a tagged release.

[2021-01-14 16:38] stephentoub commented on #22144
We can decide, but I think the answer should be "yes".

[2021-01-14 16:39] sharwell commented on #22144
My instinct here is _yes_. Normally the `await` operation observes the exception for a faulted task, but `ConfigureAwaitBehavior.NoThrow` means it does not. Code is expected to check the task status separately in this case, and failure to do so would result in an `UnobservedTaskException`.

[2021-01-14 16:39] briansull commented on #44895
Fixed in 5.0.3 with #45989

[2021-01-14 16:39] #44895 closed

[2021-01-14 16:40] briansull commented on #44762
Fixed in 5.0.3 with #45982

[2021-01-14 16:40] stephentoub commented on #22144
Oh, wait, "without awaiting"?  If there's no await, the above is entirely a nop.

[2021-01-14 16:43] kbond-stackify commented on #46987
Actually this PR appears to be merged and included in the 2.1.24 version, but I still get the missing package error during build.

[2021-01-14 16:43] willdean commented on #22144
A little bit of bike-shedding, but should the enum be `AwaitBehavior` rather than `ConfigureAwaitBehaviour`?

After all, it's describing the behaviour of the await, not the behaviour of the the `ConfigureAwait` function - the latter is just there to configure the behaviour.

[2021-01-14 16:48] Clockwork-Muse commented on #46869
That's not what your issue is currently filed as (referencing the way lists are serialized vs how cyclical graphs are handled).

Now that it's more obvious what you actually want, you want to file [an API request](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md).  Note that the equivalent behavior in Newtonsoft is handled via a completely separate option, `Referenc

[2021-01-14 16:49] zwarich commented on #44897
I was busy with meetings yesterday, so apologies for the delay in replies. There are a few important fixes in the latest 11.2 beta, and I'm glad that it is working well for people in practice.

@richlander What .NET changes are you thinking of backporting for Rosetta 2 support? I don't think any should be required with 11.2.

[2021-01-14 16:49] HalHaynes commented on #46791
Thanks! I tried the work-around and it was successful.

[2021-01-14 16:54] richlander commented on #44897
@zwarich -- good question. I'm not up to date on 11.2 beta. I'll pass to the question to @janvorli. Do we need to make any changes to .NET x64 to enable correct and optimal operation in R2?

[2021-01-14 16:54] robeving opened #46991 "Redirecting StdOut and StdErr results in unexpected behaviour in Linux console apps"
### Description

Redirecting both STDOUT and STDERR using the Process class results in unexpected behaviour.

I have a very simple .NET5 Linux program (same behaviour on Core 3.1) which runs Nano and waits for it to terminate. If I redirect only one output stream then this code works as expected. Nano loads and I can interact exactly how I would if it was launched via Bash.

If I redirect stderr a

[2021-01-14 16:56] robeving commented on #46991
area-System.Diagnostics.Process for people with write-permissions

[2021-01-14 17:02] Clockwork-Muse commented on #22144
.... Side note: If we ever get a `Result<T, TError>` union, are we still anticipating needing this?  The intent being that exceptions would very much be "fatal" errors, whereas "ignore the small stuff" would be handled by returning the `Result` union.

[2021-01-14 17:09] sdmaclea commented on #44897
@richlander Since Apple made all the changes in Rosetta 2, we think this will just work for .NET 2.1, .NET 3.1, and .NET 5 w/o any changes to the runtime/SDK.

[2021-01-14 17:12] tannergooding commented on #46940
Source generators don't currently allow you to replace the contents of a method, only to define new code.

[2021-01-14 17:22] karelz commented on #43792
Triage: Given that we do not have any customers asking for it and it is non-trivial investment, we won't do it until we have strong business case in future.

[2021-01-14 17:24] karelz commented on #46728
Triage: We should try it, but not super high pri as there is only 1 reported case.

[2021-01-14 17:26] karelz commented on #46505
Triage: Seems to be addressed in 5.0. No need to backport now. Closing.

[2021-01-14 17:26] #46505 closed

[2021-01-14 17:31] steveisok opened #46992 "Experiment with different ways to run Wasm AOT tests on CI"
From our initial runs in https://github.com/dotnet/runtime/pull/46651, we know that AOT'ing all of the test suites on the build machine is not realistic.  Therefore, we should experiment with different approaches and pick the best one.

### Produce one mega or several AppBundles
This approach allows us to AOT the framework libraries only once, potentially reducing the time spent AOT'ing to somethi

[2021-01-14 17:40] R2D221 opened #46993 "CoClass doesn't mix well with default interface implementations"
### Description

While this is most likely not the intended use of ComImport/CoClass, I still think this finding is interesting and I wanted to report it.

If you declare a normal class with an interface, and link them with the ComImport and CoClass attributes, it all works as expected.

[code]

But as soon as you add a default interface method, running the code gives you a ReflectionTypeLoadExcep

[2021-01-14 17:47] marek-safar opened #46994 "Add workload for embeddable MonoVM"
We'd like to add a new workload for everyone that could be used by developers to build libraries and apps which would like to use Mono embedding API to embed .NET runtime. The end goal is to allow developers to install all bits required to use embeddable .NET VM.

### Work Items
- [ ] Build MonoVM runtime packs for all interesting targets (they should be shared with other workloads)
- [ ] Build Em

[2021-01-14 17:51] #42706 closed

[2021-01-14 17:53] roji opened #46995 "Volatile.Write doesn't prevent reordering as documented"
The documentation for [Volatile.Write](https://docs.microsoft.com/en-us/dotnet/api/system.threading.volatile.write?view=net-5.0) specifies that:

However, using Sharplabs ([see code](https://sharplab.io/#v2:C4LghgzgtgPgAgJgIwFgBQcAMACOSB0AKgBYBOApmACYCWAdgOYDc66cAzLgtgMLoDe6bMOz1g2APpgANJIBGLNCOwA3APYAbMMBobyouuIkqZklQtZKRHXABZsAOTUAFUmuDkAxjrV0AFACU2EIiglbKwlLYALzYAByKESIScjHYAJyJIgC+lso2cPYAapra

[2021-01-14 17:53] CoffeeFlux commented on #46994
Would my proposed header modernization for netcore go under this issue or a separate one?

[2021-01-14 17:53] stephentoub commented on #46509
For Socket, as @gfoidl noted the one place that it's mutated already uses Interlocked.CompareExchange.  The field is being passed by ref there, at which point the volatility of the field is ignored, so there's no performance impact to that CompareExchange usage to the field being volatile.  The only other place that _disposed field is used is it being returned from the internal Disposed property.

[2021-01-14 17:54] janvorli commented on #44897
Agree with @sdmaclea, I believe we won't need to make any changes to make Rosetta work.

There is one last issue that we hit when running all the .NET Core pri1 tests under Rosetta 2 - the `assertion failed: GPR thread_set_state is unsupported while in sa_tramp. (ThreadContextRegisterState.cpp:1250 thread_set_state_gpr_64)` listed in the head of this github issue. We have seen that failing in the

[2021-01-14 17:58] jeffschwMSFT commented on #46973
@kunalspathak I see you removed codegen-coreclr, do you have a suggested other area label?

[2021-01-14 18:02] safern commented on #45755
I believe this was designed that way so that builds were faster if we found a compatible SDK installed machine-wide to the version we specify in global.json.

[2021-01-14 18:03] ddrinka opened #46996 "IOptions<T> should support C# records"
With PR [#2169](https://github.com/dotnet/extensions/pull/2169) in place, there is no longer a compiler restriction on using records with `IOptions<T>`.  However the [default OptionsFactory implementation](https://github.com/dotnet/runtime/blob/54953538be9e7e20eccc90b271edfd01210cf6a8/src/libraries/Microsoft.Extensions.Options/src/OptionsFactory.cs) still requires a parameterless constructor.

We

[2021-01-14 18:05] ddrinka opened #46998 "IOptions<T> should support record types"
With PR [#2169](https://github.com/dotnet/extensions/pull/2169) in place, there is no longer a compiler restriction on using records with `IOptions<T>`.  However the [default OptionsFactory implementation](https://github.com/dotnet/runtime/blob/54953538be9e7e20eccc90b271edfd01210cf6a8/src/libraries/Microsoft.Extensions.Options/src/OptionsFactory.cs) still requires a parameterless constructor.

We

[2021-01-14 18:05] zwarich commented on #44897
@janvorli That issue will be fixed in a future release. I didn't see it reproduce when running the pri1 tests myself, but it makes sense that some of the tests could hit it. Please file a radar if there's an individual test that can reproduce it fairly consistently when run in a loop, but otherwise your time is probably better spent elsewhere.

[2021-01-14 18:05] ViktorHofer commented on #45755
Hey Tom, sorry for getting back to you so late. We intentionally allow globally installed sdks to avoid the unnecessary download which can be quite big.

I think we should diagnose why this is happening with mixed globally installed sdks as this could also happen in any other customer project...

[2021-01-14 18:08] marek-safar commented on #46994
That'd be a separate issue, this is primarily about building and packaging

[2021-01-14 18:12] Thefrank commented on #23653
much of this has already been covered above but for those that want their information embedded...

method 2 would be the easiest but unfortunately FreeBSD in both pkg and ports builds ncurses with `--with-hashed-db` which causes things like `tic` to be unable to write entries into a tree format. In ports this is fixable by just removing that line but that brings up other issues like mixings ports

[2021-01-14 18:17] JulieLeeMSFT commented on #44895
@briansull did you mean that this is fixed in 6.0 by #45284?

[2021-01-14 18:22] janvorli commented on #44897
Thanks @zwarich, I will file it. It reproduces consistently and in 100% of the test launches for me in two of the tests (that were mentioned above) when running the tests in unchanged .NET runtime master branch.
Here are the repro steps:
* git clone https://github.com/dotnet/runtime
* cd runtime
* arch -arch x86_64 ./build.sh clr+libs -c Release -rc Checked -cross -arch x64
* arch -arch x86_64 ./s

[2021-01-14 18:28] EatonZ commented on #46948
@karelz [Here you go!](https://github.com/dotnet/runtime/pull/47000)😁

[2021-01-14 18:30] roji commented on #46995
After writing this I learned that x86 has strong guarantees around store specifically (e.g. [details](https://stackoverflow.com/questions/50307693/does-an-x86-cpu-reorder-instructions)), so I'm guessing everything may fine and that Volatile.Write only emits memory barriers e.g. on ARM (thanks @NinoFloris). Will leave this open for someone to confirm and close.

[2021-01-14 18:32] t-mustafin commented on #45582
Thanks, I got same issue and it woks for me.

[2021-01-14 18:34] EatonZ commented on #46944
@karelz Yes, it can be done today if you copy that example `CompressedContent` class into your project. I just feel it should be built-in so you don't need to do that.

Compression params would be easy - just add `CompressionLevel` to the constructor to let the user specify their preference for speed or size.

I am working on a modernized version of `CompressedContent` for my own project. If the .

[2021-01-14 18:38] janvorli commented on #44897
@zwarich I've filed it in as FB8970566

[2021-01-14 18:46] #1946 closed

[2021-01-14 18:47] stephentoub commented on #46995
Correct.

[2021-01-14 18:47] #46995 closed

[2021-01-14 18:48] premun commented on #45181
Fix for the exit code detection was merged yesterday and runtime has the new version since this morning.

Let's give it a couple of days but iOS leg should be stable now, so let's see.

[2021-01-14 18:56] JamesNK commented on #44778
I believe a `GetWinHttpTrailingHeaders` method in WinHttpHandler package will need to return `HttpHeaders` (base type of `HttpResponseHeaders`).

The constructor for `HttpResponseHeaders` isn't public so creating an adhoc one on .NET Framework isn't possible.

[2021-01-14 18:56] geoffkizer commented on #46915
I mentioned that because the original issue description above said

[2021-01-14 18:59] christiannagel commented on #46920
@wzchua, yes, you're right - serialization is also wrong. Card and Category types which implement IEnumerable<T> are not correctly serialized, although there's no exception on serialization.
Now I tried the JSON that was correctly serialized with deserialization using the IEnumerable<T> objects, and there's the same issue on deserialization.

The current status:
* incorrectly serialization of type

[2021-01-14 19:01] geoffkizer commented on #46915
This makes sense. We are only calling into System.Net.Quic from the HttpConnectionPool ctr in order to check whether it's supported or not. We can easily defer this check.

[2021-01-14 19:03] Clockwork-Muse commented on #46998
Duplicate #46996

[2021-01-14 19:06] carlossanlop commented on #45661
I think this analyzer offers great value. We can always set the category to Info or even Hidden to reduce the noise.

[2021-01-14 19:07] wfurt commented on #46950
I think we switched to dual mode sockets in 3.x @scalablecory. This feels like dup of https://github.com/dotnet/runtime/issues/44686.
I would suggest too try it with the WEBSITE_VNET_SUPPORT_DUAL_STACK_SOCKETS = 1.

[2021-01-14 19:10] christiannagel commented on #46996
Feature request is already here: #43359

[2021-01-14 19:33] vitek-karas commented on #46990
Could you please clarify what you mean by "pack alongside"?
I assume you build both apps with `--self-contained` (or with `-r something`), this will produce two directories with lot of files in each. Do you somehow try to "merge" the two?

Also the runtime configs above are for framework dependent apps, not for self-contained apps... (not that it matters for the versions).

Which part of the Frame

[2021-01-14 19:35] tomesendam commented on #1946
@stephentoub great work! Excited to see what will be done with this.

[2021-01-14 19:36] alishchytovych opened #47005 "X509Certificate2 can't read certificate under Linux"
### Description

The following code works fine under Windows, but thrown the exception under Linux (Ubuntu 18, Fedora 33):
[code]

Run it under Windows:
`CN=Microsoft Azure Federated SSO Certificate`

Run it under Linux:
[code]

### Configuration

- .NET 5.0.102
- Windows 10H2, Ubuntu 18.04, Fedora 33

[2021-01-14 19:50] JulieLeeMSFT commented on #43629
Performance improvemnet work on the TechEmpower Cached Queries benchmark:
https://github.com/dotnet/runtime/issues/46970

[2021-01-14 19:59] vcsjones commented on #47005
This is because your data is base64 encoded, but you are getting the ASCII byte representation of the base64 string, not decoding the base64 contents.

This should work on all platforms:

[code]

Windows permits the decoding as you did it, but Linux and macOS will not. This is being tracked in #23763. Regardless though, you should be using `Convert.FromBase64String`.

[2021-01-14 20:12] KirillOsenkov commented on #45755
Also show we show the binlogs sent by Tom to an expert in compression to understand why a small binlog is fine, but large binlogs don't extract properly?

[2021-01-14 20:13] eerhardt commented on #45771
@GrabYourPitchforks @steveharter - any thoughts on this API? We've now hit 2 places where this would be useful while annotating the dotnet/runtime libraries. Would you be opposed to moving this forward?

[2021-01-14 20:16] wfurt commented on #23653
I thought ncurses is GPL but it seems like I was mistaken.
Perhaps we can use nurses _if_ available via dlopen in PAL? As somebody already mentioned not every app needs fancy terminal.

I've also seen few projects with fixed set for most common terminals. Perhaps DUMB, ANSI, VT100/220 and XTERM would cover most cases.

[2021-01-14 20:18] echesakovMSFT commented on #46525
This seems to be one-off failure.
I checked our telemetry and all the subsequent test runs were passing for that test.

Closing for now.

[2021-01-14 20:18] #46525 closed

[2021-01-14 20:20] alishchytovych commented on #47005
Confirm, it works this way. Thank you!

[2021-01-14 20:28] adamjones1 opened #47007 "Still getting System.TypeLoadException with generics and C# covariant return types"
This is a continuation of https://github.com/dotnet/runtime/issues/45344 (which has had discussion closed). The issue is still persisting for me on 5.0.102.

Repro:

[code]

Note that this does work if doing any other combination of `string`/`int` as type arguments into `Derived<,>`.

EDIT: Apologies, I must have been looking at another issue when I thought the original was closed off - let me kno

[2021-01-14 20:30] lambdageek commented on #46994
I have an example of how we might do this today - https://github.com/lambdageek/monovm-embed-sample - it's not pretty. There are three steps:
   1. Build and publish the managed code that will be invoked by the embedder.  I use `dotnet publish --self-contained` for this step, with `<TrimMode>copyused</TrimMode>` to get a subset of the BCL.
   2. Publish a fake managed project just to get nuget to

[2021-01-14 20:31] kbond-stackify commented on #46987
I have managed to piece together things from caches and gotten further, but I still cannot build a release build because I cannot find the optimization data for MacOS.  I have cached builds for Linux that are working, but not for MacOS.

The build seems to be referencing the optimization data from https://dotnet.myget.org/F/dotnet-core-optimization-data/api/v3/index.json but that feed does not exi

[2021-01-14 20:32] AndyAyersMS commented on #46882
## Some notes on optimal profiling

Following ideas in Ball's paper [Optimally Profiling and Tracing Programs](https://dl.acm.org/doi/10.1145/183432.183527) we wish to minimize the overall size and time cost of block profiling. The paper shows efficient profiling can greatly reduce instrumentation overhead, and we should see similar benefits.

However, there are several novel factors to take into

[2021-01-14 20:37] fpodshivadlov opened #47008 "System.Diagnostics.DiagnosticSource 4.7.1 Nuget has .NET Framework v4.7.2 target platform instead of netstandard1.3"
Information from dotPeek:
| Property | Value |
| - | - |
| Location | system.diagnostics.diagnosticsource.4.7.1.nupkg.zip\lib\netstandard1.3\System.Diagnostics.DiagnosticSource.dll |
| Name | System.Diagnostics.DiagnosticSource, Version=4.0.5.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51 |
| Target framework | .Net Framework v4.7.2 |

[2021-01-14 20:49] andreimilto opened #47009 "HKDF methods Expand and DeriveKey may generate corrupt output if 'info' and 'output' spans overlap"
### Description

User may supply overlapping spans as arguments `info` and `output` to the method [`HKDF.Expand`](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.hkdf.expand?view=net-5.0#System_Security_Cryptography_HKDF_Expand_System_Security_Cryptography_HashAlgorithmName_System_ReadOnlySpan_System_Byte__System_Span_System_Byte__System_ReadOnlySpan_System_Byte__). They m

[2021-01-14 21:00] steveharter commented on #46795
I think a reasonable approach to improving perf here (for small objects and collections where such smallish optimizations will show up) is to remove the List\array creation for WriteStack\ReadStack and instead have each WriteStackFrame\ReadStackFrame have a reference to the previous frame (and perhaps the next frame). So the WriteStack\ReadStack references the current frame (like today) but not a

[2021-01-14 21:06] eerhardt commented on #46857
Given the axiom stated in https://github.com/dotnet/designs/blob/main/accepted/2020/linking-libraries.md

My preference is to annotate the Type as `All` rather than marking it as `RequiresUnreferencedCode`. Developers don't see ILLink warnings by default today, so I'd rather be more conservative and ensure an app using this API still works. People can still use the overload that takes `MethodInfo`

[2021-01-14 21:10] kunalspathak commented on #46973
Sorry, that was by mistake. I meant to add that label, but somehow got removed.

[2021-01-14 21:19] steveharter commented on #45408
Should this be in the `area-TypeSystem-coreclr` instead of reflection?

[2021-01-14 21:32] safern commented on #45755
cc: @carlossanlop for the compression question.

[2021-01-14 21:36] kunalspathak opened #47012 "Make superpmi replay using altjit work for arm"
Today, `superpmi replay` on libraries.pmi doesn't work for arm using altjit.

[code]

[2021-01-14 21:37] kunalspathak commented on #47012
@dotnet/jit-contrib

[2021-01-14 21:39] tarekgh commented on #47008
CC @ericstj @Anipik

I have opened the v4.7.1 package and I am not seeing the TargetFramework attribute is there at all

[code]

So it maybe dotPeek is trying to put something there. while checking the latest package version and I am seeing

[code]

which correctly targeting `.NETStandard,Version=v1.3`

[2021-01-14 21:46] AndyAyersMS commented on #46882
## An Example

Let's see how the ideas above hold up on a realistic example, `InsertionSort` on arrays.

https://github.com/dotnet/runtime/blob/acd4855de9be7b51c853c4e5c719aa456a4865c9/src/libraries/System.Private.CoreLib/src/System/Array.cs#L2063-L2085

The early flow graph looks like the following, with each block annotated with start and end IL offsets in hex:
![image - 2021-01-14T124923 650](h

[2021-01-14 21:48] steveharter commented on #45771
This makes sense. A prototype and perf numbers would be a next step.

We could tighten the semantics to avoid confusion and ensure it is only applicable to obtain a member on a closed generic from an open generic, and not a closed to another closed, and not to address any sort of polymorphic\virtual method lookup:

[code]

[2021-01-14 21:58] ericstj commented on #47008
Agreed, the 4.7.x package is missing `TargetFrameworkAttribute` completely, while the 5.0.x package has it and it is correct.

@ViktorHofer fixed this in https://github.com/dotnet/corefx/pull/40924 which shipped in 5.0: https://github.com/dotnet/runtime/commit/641a23ecf3d815846dcc414834760c944240d912

[2021-01-14 22:03] tommcdon commented on #47008
fyi @josalem

[2021-01-14 22:05] tarekgh commented on #47008
@fpodshivadlov I am closing the issue but feel free to send any more questions.

[2021-01-14 22:05] #47008 closed

[2021-01-14 22:06] stephentoub opened #47014 "Sequence"
### Description

### Configuration

### Regression?

### Other information

[2021-01-14 22:08] danmosemsft commented on #46901
That's my bad for commenting on my phone without looking at the code. I meant the S.R.I.RI test that we use to log the Helix configurations. It seems @stephentoub added these, I'm not sure why:
https://github.com/dotnet/corefx/pull/35645/files#diff-eaa334ef3a9273c71a311add7a7c55f42c7f480925201b102bef79acfff49a0fR65

I will take those 32 bit ones out of there and remove the pragmas.

With respect t

[2021-01-14 22:09] stephentoub opened #47016 "SequenceEqual broken for concurrent use?"
Repro:
[code]

This runs without error on .NET 5.

On master on my Windows machine (I've not tried other OSes), within a few seconds I get a failure like this:
[code]

Note that if I remove one of the ThreadPool calls so that there's no concurrency, it's never failed for me; only once I introduce the parallelism does it start to fail.

JIT bug?  GC? Some kind of latent issue in SequenceEquals?

cc

[2021-01-14 22:10] #47014 closed

[2021-01-14 22:17] #46791 closed

[2021-01-14 22:21] steveharter commented on #46066
You may have to use `Assembly.LoadFrom` or use `AssemblyLoadContext`.

.NET Core doesn't load assemblies from the current path and by default files need to be in the deps.json file which is processed when the app is started.

@vitek-karas is there a plug-in sample that you can link to? Thanks

[2021-01-14 22:23] steveisok commented on #46994
Does it make sense to move the headers out of the runtime pack and into the embedded workload pack?

[2021-01-14 22:31] steveharter commented on #46272
Working on the System.Text.Json serializer, yes this in an issue. I have noticed differences in tests between Windows and Linux which I have not researched. Due to this, our cross-platform tests cannot assume a specific ordering.

Also, prior reflection can affect ordering in .NET Core:
[code]

[2021-01-14 22:47] stephentoub commented on #47016
As a follow-up, this still fails if I pin both buffers around the whole copy+compare operation.  And it still fails if I move one of the allocations out of the loop.  But it stops reproing for me if I move both allocations out of the loop.  So maybe something to do with alignment?

[2021-01-14 22:49] jkotas commented on #47016
This looks like a thread suspension bug to me.  @VSadov Could you please take a look since you have done refactoring of that code recently?

[2021-01-14 22:50] vitek-karas commented on #46066
Docs on how to implement a simple plugin system in .NET Core: https://docs.microsoft.com/en-us/dotnet/core/tutorials/creating-app-with-plugin-support

The related sample is here: https://github.com/dotnet/samples/tree/master/core/extensions/AppWithPlugin

As @steveharter notes, .NET Core will only "auto-load" assemblies which are part of the application as determined by the `.deps.json` file (prod

[2021-01-14 22:59] #46509 closed

[2021-01-14 22:59] marek-safar commented on #46984
@SamMonoRT

[2021-01-14 23:00] AndyAyersMS commented on #46882
FYI @dotnet/jit-contrib @davidwrighton

Should cut down number of count probes by a factor of two or so, and reduce runtime overhead somewhat. But won't easily be compatible with IBC, so if/when I start implementing this, it will be opt-in behavior.

[2021-01-14 23:01] #33378 closed

[2021-01-14 23:05] Thefrank commented on #23653
ncurses is... complicated wrt licensing. the closest similar match (but not exact) would be MIT-X11.

It is however, not licensed under that either.

the long version: https://invisible-island.net/ncurses/ncurses.faq.html#who_owns_it
the very long version: https://invisible-island.net/ncurses/ncurses-license.html

[2021-01-14 23:09] srxqds commented on #46994
hope this move to .net6 milestone

[2021-01-14 23:20] davmason commented on #39699
Right, that is the expectation if you need to profile both native ARM32/ARM64 and emulated x86/x64.

[2021-01-14 23:52] amaic opened #47018 "Make Microsoft.Extensions.Configuration.Xml more tolerant against not supported XML features"
I ran into a problem with the current implementation of Microsoft.Extensions.Configuration.Xml.

With Visual Studio 2019 16.2.1 I created a new  Console App (.NET Framework) application,
added NuGet packages Microsoft.Extensions.Configuration.Xml and NLog.Extensions.Logging,
added code `var configuration = new ConfigurationBuilder().AddXmlFile(Assembly.GetExecutingAssembly().Location + ".config").

[2021-01-14 23:57] reach4thelasers commented on #1419
Sorry but there's a complete lack of fundamental computer science knowledge in this last comment.  Any computer science graduate knows that abstract data structures like dictionaries are, at a fundamental level, implemented as arrays (sequential blocks of memory)

The statement: "as it's effectively a dictionary in its structure, there shouldn't be a performance hit for putting things in table"

T

[2021-01-14 23:59] eerhardt commented on #46197
@jogibear9988 - was this running in Blazor WASM? Do you have repro steps to get into this situation?

[2021-01-15 00:01] danwalmsley commented on #43313
I will test and get back to you.

[2021-01-15 00:02] #46961 closed

[2021-01-15 00:23] hoyosjs commented on #47007
@janvorli

[2021-01-15 00:23] VSadov commented on #47016
Will take a look.

[2021-01-15 00:36] VSadov commented on #47016
Hmm, does not compile for me.

Is that a new API in 6.0 ?

[2021-01-15 00:36] CodeBlanch commented on #46988
@Cazzar Funny I just ran into this too. It seems to be working as designed given there are unit tests for the behavior, for example:

https://github.com/dotnet/runtime/blob/e3247adc4a81a55add33541e6bfc2ff74e261e41/src/libraries/Microsoft.Extensions.Configuration.Binder/tests/ConfigurationCollectionBindingTests.cs#L305-L332

What I ran into is in the case of `IReadOnlyCollection`...
[code]
...confi

[2021-01-15 00:38] jkotas commented on #47016
Here is a simpler repro that does not use that API:
[code]

[2021-01-15 00:49] agocke opened #47022 "Infra: Reduce build time to perform CLR up-to-date check"
The time being measured is the time needed to build the `clr` subset, after the subset has been completely built already.

If this time were low enough, under 5 seconds or so, it would be feasible to add it as a dependency to other subsets. As it is, it takes roughly 51s on my machine.

Incomplete list of work items:

- [ ] Incrementally crossgen System.Private.CoreLib

[2021-01-15 00:51] Cazzar commented on #46988
@CodeBlanch Interesting, even if it was a binding option that might be a reasonable solution, since if you were to use raw JSON parsing, it is possible, at least with Newtonsoft.JSON that you can replace instead of update.

I've got a potential workaround idea that I will try later today and update here for the solution.

Given that it is an expected pattern, breaking the current API would not be

[2021-01-15 00:51] safern commented on #46596
FYI: Based on this conversation: https://github.com/dotnet/runtime/pull/47003#issuecomment-760420624 we're going to remove the checkout bundle from PRs again as the issue should be fixed. If for any reason you see it is not, please let me know and I will look at it.

[2021-01-15 00:56] hoyosjs opened #47023 "mono-aot-cross built without any ELF build ID/MacO Id"
### Description

The mono-aot-cross binary in has no Build ID note in it, which causes it to not be indexable in our symbol server and is failing official builds: https://dnceng.visualstudio.com/internal/_build/results?buildId=951671

[2021-01-15 01:04] VSadov commented on #47016
That builds, but so far I do not see failures. Tried more tasks, and server GC as well.
(I am using clr that I've just build from the current master ~ few commits)

How long does it normally take to see a repro?

[2021-01-15 01:07] stephentoub commented on #47016
Seconds on my machine, using src from master this afternoon.

[2021-01-15 01:11] jkotas commented on #47016
Does you machine has AVX2? Also, are you using checked or release coreclr build?

[2021-01-15 01:13] VSadov commented on #47016
Using all release, yes machine has AVX2. I will try older build.

[2021-01-15 01:18] jkotas commented on #47016
Even simpler repro:
[code]

[2021-01-15 01:18] jasonpugsley commented on #23653
Yes, I would expect xterm compatibility would cover the vast majority of potential terminals that people would be using in 2021.

Another option would be to use the terminfo.src file directly [terminfo.src.gz](https://invisible-island.net/datafiles/current/terminfo.src.gz) it doesn't appear to currently have a license. I did try to process it and create a resx/resources file (System.Resources) onl

[2021-01-15 01:26] wzchua commented on #46920
I'm not sure how this can be handle besides a custom converter.
You have an IEnumerable that you want to be treated as an object and not an IEnumerable.
The IEnumerable convertor comes before the Object converter because all IEnumerable are also objects

[2021-01-15 01:28] AndyAyersMS commented on #46882
## EH Example

We now consider a simple method with some EH constructs:
[code]
The flowgraph for this is shown below, with boxes used to show which nodes belong to the various EH regions.

Note that each EH handler region has a dotted edge from region exit back to entry, as does the "main" method region outside of any EH. There is no explicit flow to the starts of the handlers. There's dotted line

[2021-01-15 01:44] janvorli commented on #47007
Ok, so this is a new failure that is still not fixed. I've checked with the latest master branch state and it fails.

[2021-01-15 01:48] danmosemsft commented on #45755
When I go to @tmds links above, I just get the RedHat logo. It sounds like we need a bug opened with an example of the file that was created with .NET, but cannot be opened by .NET (but can be opened by gzip)

[2021-01-15 01:55] ahdung commented on #46910
This is really regrettable. Ofcourse not only developer scenario, many programs with network access capabilities usually provide an option called **Use IE proxy** or **Use System proxy**, and `.net framework` has also supported this since `2.0`, now you tell me the great `.NET` can't do this.
Even if we do not discuss whether it can be implemented, a `Property`(`DefaultProxy`) that can be arbitrar

[2021-01-15 02:13] VincentBu commented on #46837
Failed in job [runtime 20210114.72](https://dev.azure.com/dnceng/public/_build/results?buildId=951736&view=ms.vss-test-web.build-test-results-tab&runId=30034054&resultId=178481&paneView=debug)

Failed tests : `
System.Net.Security.Tests.SslStreamNetworkStreamTest.SslStream_UntrustedCaWithCustomCallback_OK(usePartialChain: False)
`
`System.Net.Security.Tests.SslStreamNetworkStreamTest.SslStream_Unt

[2021-01-15 02:15] VSadov commented on #47016
The way I am trying to repro:
- created an app via  "dotnet new"
- pasted the repro code
- dotnet publish -c Release -r win-x64 --self-contained
- copied the fresh built release coreclr binaries into the app publish folder
- run

Is that the way you repro this?

I tried fresh, yesterdays, today mid-day bits. Tried all the repros above.
Verified in the debugger that I do run the repro code with the

[2021-01-15 02:24] VSadov commented on #47016
Machine (standard-issue Intel, you likely have similar) :

	Intel(R) Core(TM) i7-8700 CPU @ 3.20GHz

	Base speed:	3.19 GHz
	Sockets:	1
	Cores:	6
	Logical processors:	12
	Virtualization:	Disabled
	Hyper-V support:	Yes
	L1 cache:	384 KB
	L2 cache:	1.5 MB
	L3 cache:	12.0 MB

[2021-01-15 02:26] VincentBu commented on #46619
Failed again in job [runtime-libraries-coreclr outerloop 20210114.2](https://dev.azure.com/dnceng/public/_build/results?buildId=950119&view=ms.vss-test-web.build-test-results-tab&runId=29972274&resultId=103768&paneView=debug)

Failed test : `System.Diagnostics.Tests.ProcessStartInfoTests.TestUserCredentialsPropertiesOnWindows`

net6.0-windows-Release-x64-CoreCLR_release-(Windows.Server.Core.1909.A

[2021-01-15 02:34] hoyosjs commented on #46837
@wfurt both `SslStream_UntrustedCaWithCustomCallback_Throws` and `SslStream_UntrustedCaWithCustomCallback_OK` have become heavy hitters. I've edited the name of the issue as it hits both CoreCLR and Mono.. The namespace [System.Name.Security.Tests](https://runfo.azurewebsites.net/search/tests/?bq=definition%3Aruntime++started%3A%7E15&tq=name%3ASystem.Net.Security) accounts for a good chunk of red

[2021-01-15 02:38] wfurt commented on #46837
ok. I'll try to reproduce it locally @hoyosjs

[2021-01-15 02:50] mconnew commented on #1419
@reach4thelasers, if you read my comment a little more closely, I said this (emphasis added):

Personal insults don't compensate for reading comprehension. FYI, a dictionary is generally implemented as an array of linked lists to account for collisions. Although you can theoretically implement it using the algorithm of placing the item in the next available slot, this, this would rely on the GetHa

[2021-01-15 02:57] jkotas commented on #47016
Looks like https://github.com/dotnet/runtime/issues/38974 finally caught up with us.

You may need to be on latest VS dogfood to see the crash and/or have processor without the ERMSB feature.

Here is what's happening:
1. Fully interruptible thread suspend happens to stop at this place in `SpanHelpers.SequenceEqual`:
[code]
2. The thread suspend helper happens to call memcpy at:
[code]
The memcpy

[2021-01-15 02:59] jkotas commented on #47016
cc @mangod9

[2021-01-15 03:08] VSadov commented on #47016
I have ERMSB and I thought I am on the latest VS (it did not tell me that there is a new build, so I need to check).

[2021-01-15 03:11] KirillOsenkov commented on #45755
@danmosemsft I have the binlogs locally, I'll open a bug and provide a link to internal-only binlog downloads

[2021-01-15 03:15] echesakovMSFT commented on #46642
I will take a look and see if I can repro the issue locally

[2021-01-15 03:16] lx4556332 commented on #46922
`
            string appPath = (System.IO.Directory.GetCurrentDirectory());
            var sourceFile = System.IO.Path.Combine(AppDomain.CurrentDomain.BaseDirectory, "pwd.txt");
            var targetFile = System.IO.Path.Combine(AppDomain.CurrentDomain.BaseDirectory, "code.enc");
            var outFileName = System.IO.Path.Combine(AppDomain.CurrentDomain.BaseDirectory, "roundtrip.txt");

[2021-01-15 03:19] KirillOsenkov opened #47024 "Corrupt binlogs recorded on Linux using GZipStream"
We have received a couple of binlogs from @tmds in this issue:
https://github.com/dotnet/runtime/issues/45755

They were recorded on Linux and there's something about the environment that makes them unreadable on Windows. We tried to open the binlogs with the exception:

![image](https://user-images.githubusercontent.com/7412651/102330933-740d5680-3f8a-11eb-99c4-2c89716815ef.png)

We've asked to r

[2021-01-15 03:21] VSadov commented on #47016
I did suspect that it is something that corrupts AVX registers. Suspension troubles or a GC hole would be unlikely to recover as in the very first repro and probably just lead to eventual AV instead.

I did not know about https://github.com/dotnet/runtime/issues/38974 , interesting.

Is it only about thread suspension code? GC could use AVX as well. In WKS mode GC runs "in-line" - without switchin

[2021-01-15 03:23] jkotas commented on #47016
Yep.

[2021-01-15 03:26] jkotas commented on #47016
ymm registers is volatile register. When the GC runs in-line, it is triggered from allocation helper that is not expected to preserve volatile registers.

[2021-01-15 03:27] AndyAyersMS commented on #46882
Prototyping the above, on the EH example:
[code]

[2021-01-15 03:28] KirillOsenkov commented on #47024
Ping me for the internal link to the binlogs

[2021-01-15 03:29] radityoardi commented on #33136
@joperezr Thanks for the pointer. I have modified the initial comment.

[2021-01-15 03:29] KirillOsenkov commented on #45755
I've filed https://github.com/dotnet/runtime/issues/47024

[2021-01-15 03:29] bruno-garcia commented on #46552
This is my biggest take away and I wonder if tooling built to support this format will break in the future or not.

[2021-01-15 03:33] stephentoub commented on #47024
What about the writing side?

[2021-01-15 03:37] KirillOsenkov commented on #47024
The binlog writing logic is here:
https://github.com/dotnet/msbuild/blob/a2c42ce9fc8d6fbd4a8cd600073803b8687c9341/src/Build/Logging/BinaryLogger/BinaryLogger.cs#L139

I haven't seen this binlog corruption before, it fails immediately when trying to read the first buffer from the stream:
![image](https://user-images.githubusercontent.com/679326/102393265-f7c84280-3f8c-11eb-9212-9f18f026a8c5.png)

I

[2021-01-15 03:43] AndyAyersMS commented on #46882
Data from the prototype, crossgenning SPC

All methods
[code]
Ignoring methods with just 1 block, which we could trivially skip with a block instrumentation scheme too:
[code]
so as expected we're eliminating over half the probes with this approach.

[2021-01-15 03:44] jasonpugsley commented on #14537
I don't have any experience in setting up automated builds with the type of complexity .NET has (though the manual process I use has become straightforward) but I can help troubleshoot any setup issues.

[2021-01-15 03:57] stephentoub commented on #26741
@tannergooding, @GrabYourPitchforks, any progress on how this should be implemented?  https://github.com/dotnet/runtime/pull/46890/commits/f56fe491785d48dffe5aea82043a112bb473d228 is attempting to add a custom 64-bit generator, based on changing the 32-bit one to 64-bit, and that doesn't seem like a good path.

[2021-01-15 04:08] thanhhn253 commented on #46869
Are you sure? You convert an array to an json object. You change the structure. Everyone, who paste your json will recieve object not an array. Did you read the first post?

What are you talking about?
This is stupid
I dont want to waste time here anymore. Good bye

[2021-01-15 04:17] #46869 closed

[2021-01-15 04:18] geoffkizer commented on #47016
Any idea why this just started showing up? I hadn't seen it until yesterday, now I'm seeing it all the time.

[2021-01-15 04:30] VSadov commented on #47016
Right - that is why at least two threads were needed to repro. One to trigger, another to get suspended at inconvenient time and get corrupted.

[2021-01-15 04:35] VSadov commented on #47016
I am still unable to repro. Likely requires newest C runtime/compiler.

[2021-01-15 04:41] vargaz commented on #46984
Which architecture is this ? Also, what is the aot command line ?

[2021-01-15 04:42] jkotas commented on #47016
I think it got triggered by memcpy changes in CRT. Are you on VS dogfood or have you installed VS update recently?

memcpy - shipping .NET 5.0 bits:
[code]

memcpy - master compiled using latest VS dogfood (Version 16.9.0 Preview 4.0 [30914.28.main])
[code]

[2021-01-15 04:44] geoffkizer commented on #47016
Yeah, yesterday, just before this started happening. Makes sense, thanks.

[2021-01-15 04:50] imhameed opened #47026 "[mono] LLVM ImplicitNullChecks crash"
https://github.com/dotnet/llvm-project/pull/89 works around this. See https://github.com/dotnet/runtime/pull/46817#issuecomment-760542379.

Current (not completely minimized) test IR:

This successfully compiles (https://godbolt.org/z/dvrqG8):
[code]

This will make llc crash (https://godbolt.org/z/8sq6hd):
[code]

Build with `-march=x86-64 -mcpu=generic -enable-implicit-null-checks -filetype=obj`

[2021-01-15 04:50] Thefrank commented on #23653
Summary of below: +1 to @jasonpugsley 's idea of a binaries package

That is certainly sounding like a better short term solution.
Installation to `/usr/share/misc/terminfo/*/*` would fall under the search tree that TermInfo.cs uses and prevent the need to make changes to that code. I am unsure why devel/ncurses installs to `/usr/local/share/misc/terminfo` but I am likely forgetting something abou

[2021-01-15 05:07] Dixin commented on #28776
@eiriktsarpalis, thank you for your reply.

That is by design.
- If index is from start `ElementAt(Index)` is the same as the original `ElementAt(int)`.
- If index is from end, it does take O(n) space, because we do not know the count of the enumerable.
  - `enumerable.ElementAt(^5)` is equivalent to `enumerable.TakeLast(5).ElementAt(0)`. Regarding consistency & performance, I am following the app

[2021-01-15 05:31] wfurt commented on #23653
we _can_ make code changes. @emaste would probably know if the BSD community would even take package with terminfo database. I'm personally OK with that as short term fix.

[2021-01-15 05:36] wfurt commented on #14537
@am11 can perhaps help. I'm hoping source-build would get easier _if_ we get some base SDK available,

[2021-01-15 05:39] mangod9 commented on #47016
just catching up, so it appears this will be resolved by #38974 , and wouldn't need any other change?

[2021-01-15 05:48] John0King commented on #45159
@Clockwork-Muse  the problem is that in C#  any type can be await, including `string`  `bool` and so on.   (stand type now have 4 type `Task`  `Task<T>`  `ValueTask` `ValueTask<T>` , and for ValueTask you can not using `is ValueTask`  because `ValueTask<T>` is not `ValueTask`)
2nd ,  the object will cause value type (`struct`) to box into heap,  and that why people want to avoid.

I hope `Shap` an

[2021-01-15 05:48] danmosemsft commented on #47016
When we service existing releases, do we use a pinned CRT version? Or will they start to hit this too.

[2021-01-15 06:06] justingrant commented on #45318
I led the design work for the IANA-timezone-aware type called [ZonedDateTime](https://tc39.es/proposal-temporal/docs/zoneddatetime.html) in JavaScript Temporal. One learning from this design is that types like .Net's `DateTime` and `DateTimeOffset` are inherently dangerous when used with (non-UTC) timezones because they don't adjust for DST changes or other political changes in time zone offsets.

[2021-01-15 06:21] jayrulez commented on #46994
This would be a very welcome change.
Currently, I'm guessing picking artifacts like here: https://github.com/jayrulez/ezEngine/tree/monodotnet/Code/ThirdParty/mono/windows.x64.Release

It would be great to have this packaged nicely where the includes are placed independent of the arch dir (since it should be the same).

I'm not sure about the order there though. I figure most people embedding mono

[2021-01-15 06:21] hoyosjs commented on #47023
Wherever that is build, the compiler needs to get the following flags: --build-id=sha1 flag. See https://github.com/dotnet/runtime/pull/43993/files?diff=split&w=1

[2021-01-15 06:25] MaximLipnin commented on #46984
I use a build command with the following parameters:
`./dotnet.sh build /t:Test src/tests/FunctionalTests/iOS/Simulator/AOT/ /p:TargetOS=iOS /p:TargetArchitecture=x64 /p:Configuration=Release`

The example of the [AOT compiler output](https://gist.github.com/MaximLipnin/b8891a1a9cc111e1a4c3ac997459dac2) for a particular assembly:
[code]

[2021-01-15 06:43] kjpou1 commented on #46982
duplicate of https://github.com/dotnet/runtime/issues/46983

[2021-01-15 06:43] #46982 closed

[2021-01-15 06:50] nixxholas commented on #44897
Not sure if this is going to help, but after extensive use of macOS 11.2 Beta 2 with me and my team, we discovered a sudden    runtime failure.

We've ran the project multiple times and it only happens once every 20-30 runs.
[code]

[2021-01-15 06:58] jiangzeng01 opened #47029 "[6.0.100-alpha.1.21064.42] Replychsharp get error CS0009: Metadata file 'C:\Program Files\dotnet\shared\Microsoft.NETCore.App\6.0.0-alpha.1.21063.13\System.IO.Compression.Native.dll' could not be opened"
**Application Name:** replay-csharp
**OS:** Windows 10 RS5
**CPU:** X64
**.NET Build Number:** 6.0.100-alpha.1.21064.42
**App Source:** [replay-csharp.zip](https://github.com/dotnet/runtime/files/5818901/replay-csharp.zip)
**DevDiv bug:** [https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1266457](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1266457)

**Repro steps:**
1. Download ap

[2021-01-15 07:04] gregolsky commented on #42885
@janvorli That's great news! Thank you for an update.

[2021-01-15 07:10] jiangzeng01 opened #47030 "[6.0.100-alpha.1.21064.27 ] MiniBlog app TypeLoadException at launch"
**Application Name:**  MiniBlog
**OS:** Windows 10 RS5
**CPU:** X64
**.NET Build Number:** 6.0.100-alpha.1.21064.27
**App Source on GitHub link:** [https://github.com/madskristensen/MiniBlog](https://github.com/madskristensen/MiniBlog)

**Verify Scenarios:**
1). Windows 10 RS5 X64 + .NET Core SDK build 6.0.100-alpha.1.21064.27: **Fail**
2). Windows 10 RS5 X64 + .NET Core SDK build 5.0.101 : **Pass

[2021-01-15 07:14] Happypig375 commented on #46364
For the time being, https://github.com/arogozine/TupleAsJsonArray should suffice.

[2021-01-15 07:35] adamsitnik commented on #46901
It's always good to ask questions and this one led to an interesting discussion!

I hardly ever have a strong opinion besides the performance aspects, but here I would really prefer to avoid making any improvements in code that have been marked as `[Obsolete]`. It could give our users a false hope that it's still fine to use these properties. It's not recommended to use them and they should not be

[2021-01-15 07:37] ddrinka commented on #46998
Apologies for the duplicate.  I received a 500 error from GitHub for the first submission.  Closing this duplicate.

[2021-01-15 07:37] #46998 closed

[2021-01-15 07:39] ddrinka commented on #46996
@christiannagel Ok, looks like this is on the radar.  Thanks for pointing me to that existing feature request.

[2021-01-15 07:46] misterbit-pro commented on #45533
I think I got it working with using the user command when starting up the container. Before that I was running the container as root. Now it works

[2021-01-15 07:46] #45533 closed

[2021-01-15 07:53] vargaz commented on #46984
This is just a warning, it shouldn't cause the AOT compiler to fail. The AOT compiler needs to be exec-ed using
IgnoreStandardErrorWarningFormat="true".

[2021-01-15 07:55] tmds commented on #45755
Is there something that verifies the build works if you meet the requirement in `global.json`? I have `5.0.100` which meets what is required in `global.json` and is the latest available version through source-build. Though you probably have `5.0.102` installed because it is available from Microsoft builds.

Is there an option to not use globally installed sdks? If not, can we add one?

[2021-01-15 07:59] jgauffin opened #47050 "UseEnvironment overwritten by ConfigureWebHostDefaults"
### Describe the bug
UseEnvironment is not picked up in ASP.NET Core 3.1.

I'm using `UseEnvironment` to toggle between configurations when running in Visual Studio (between on-premise and cloud versions of my service).

It worked great in v2.2, but I've recently migrated to 3.1 and it's not being used anymore.

### To Reproduce

1. Set ASPNETCORE_Environment as an environment variable
2. Try to o

[2021-01-15 08:05] danmosemsft commented on #46901
Sounds good, feel free to close. I will fix up that test later.

[2021-01-15 08:08] #46901 closed

[2021-01-15 08:24] Clockwork-Muse commented on #28776
Technically this equivalent proposal only requires O(5) space, at most.  There's no reason a from-end `ElementAt` wouldn't be able to take the same shortcuts.

[2021-01-15 08:34] davmason commented on #46671
For using multiple IL rewriting profilers, Microsoft provides CLRIE - https://github.com/microsoft/CLRInstrumentationEngine. It registers itself as the profiler and then handles synchronization across profilers.

The story here is a bit complicated. When the ReJIT APIs were introduced, the intention was that ICorProfilerFunctionControl would be the only way to set the IL for a ReJIT request, but a

[2021-01-15 08:36] zspitz commented on #46364
@Happypig375 Or [this](https://github.com/zspitz/PandocFilters/blob/main/PandocFilters/Converters.cs#L79).

[2021-01-15 08:47] adamsitnik commented on #46970
@sebastienros is there any chance that you could add the Caching benchmark to the first page of the PowerBI report?

[2021-01-15 08:49] adamsitnik commented on #46970
@jeffhandley I've updated the issue description and closed the proof of concept PR, so our work here is done. I am closing the issue.

[2021-01-15 08:49] #46970 closed

[2021-01-15 09:09] Jmales commented on #46990
Thanks for the answer!

Yes, that's basically it. I copy the contents of **App1** into **AppFull**. Is there any better way of achieving this?

I tried the rollForward option in `runtimeconfig.json`, as I was trying to achieve a rollForward strategy when system tries to run **App1** with 5.0.1. I wanted somehow that it understood that instead of `5.0.1`it can also run with LatestPatch, `5.0.2`.

[2021-01-15 09:13] Jmales commented on #46990
You state that the `runtimeconfig`are for framework dependent apps, not for self--contained. Why are these files generated then when I publish a self-contained app?

[2021-01-15 09:26] christiannagel commented on #46920
@wzchua, thanks for this information. Creating a custom converter that's just using the object converter could be a solution. I'll look into how to create this on using the object converter.

Anyway, I think this scenario should result into a feature request:

* The IEnumerable converter to also serialize the additional state and not just the collection available via the iterator
* At least better

[2021-01-15 09:29] karelz commented on #28039
@TonyValenti no ETA.
The demand is not that strong (please upvote top post to help us keep track of that) and there are some workarounds.
Given that the last +1 took 2 years, I am tempted to close it as Won't Fix at this moment.

[2021-01-15 09:30] karlra commented on #1419
Thanks for the explanation, @mconnew . But the fact of the matter is that even if the analysis suggests there is nothing wrong here, the GC doesn't run and the RAM usage grows into the 20 gigs size before my computer grinds to a halt. As far as I understand it the default recommendation from Microsoft around manual GC is "don't do it".

Where would I open a ticket about the GC failing to collect i

[2021-01-15 09:36] GSPP commented on #1946
A small step for a developer, a big step for mankind. Awesome!

[2021-01-15 09:38] tmds commented on #47024
@KirillOsenkov The one I sent in December was generated using the dotnet sdk that was downloaded by `build.sh` at `runtime/.dotnet`.
Last week I figured out the issues I have (https://github.com/dotnet/runtime/issues/45755) are due to the globally installed sdk on my system being used by the runtime build.
Maybe a small binlog from that sdk will also fail. I'm sending you one by mail.

[2021-01-15 10:02] Altair7610 opened #47035 "SSL connection could not be established(The remote certificate is invalid according to the validation procedure)"
Environment:-
Docker: Windows using Linux containers
OS: Window 10
Microsoft.AspNetCore.App:3.1
Docker Image: mcr.microsoft.com/dotnet/core/aspnet:3.1-buster-slim

Im just stuck at certificates problem inside docker containers. I have two ASP.NET Core apps: one is auth and based on IS4, another is just an secured gRPC api. To call api i need to get token from IS4 and pass to gRPC channel. All of t

[2021-01-15 10:12] Dixin commented on #28776
@eiriktsarpalis I updated the proposal contents including all links. Thank you.

[2021-01-15 10:14] karelz commented on #46944
@EatonZ we first need agreement on Networking team this is something valuable for enough customers (in our triage) and then we will need official API approval (see [API review process](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md), before we would be ready for a PR.
Expect it will take some time - also to let more folks to comment and not to rush it without cons

[2021-01-15 10:20] Dixin commented on #28776
@Clockwork-Muse Yes, the proposed implementation only requires O(5) space, at most. Here is the [link to the source](https://github.com/Dixin/System.Linq.IndexRange/blob/master/System.Linq.IndexRange/ElementAt.cs).

[2021-01-15 10:24] karelz commented on #47035
Couple of high-level ideas:
- Can you try your isolated repro on .NET 5?
- On .NET Core 3.1, can you try to [disable `SocketsHttpHandler`](https://docs.microsoft.com/en-us/dotnet/core/run-time-config/networking#usesocketshttphandler) to see if our curl integration will work? ... Note: It will not help in .NET 5, but at least it may help us narrow down the root cause a bit more.

[2021-01-15 10:32] eiriktsarpalis commented on #28776
It's _Θ(k)_ for `ElementAt(^k)` calls, so _O(n)_ space by virtue of the fact that `source.ElementAt(^source.Count())` is valid.

[2021-01-15 10:37] Unknown6656 commented on #45344
@janvorli I have the same bug with 5.0.2
Although I have to admit that my classes are more complex than @ASolomatin's. I'll try to post a MWE as soon as possible.

[2021-01-15 10:37] Altair7610 commented on #47035
@karelz I`ve tried .NET 5, but there`s a problem with root CA certificate chain, and we have instant crash at start. With disabling SocketsHttpHandler on .NET Core 3.1 I got more luck, it`s not crashing with SSL, but throws status code 401 "Unauthenticated"

[2021-01-15 10:40] davmason opened #47037 "Reverse PInvokes do not call TraceCall on non-x86 platforms"
### Description

Filed after discussion in https://github.com/dotnet/runtime/pull/46238#discussion_r546218708

There is no call to `Debugger::TraceCall` for reverse pinvokes on non-x86 platforms. This means when doing mixed mode debugging on x64, if a breakpoint is set in a reverse pinvoked function as the first call on a new thread the breakpoint will not be hit.

Example program:

[code]

[code]

[2021-01-15 10:41] karelz commented on #46247
Android/Xamarin solution is tracked separately in #32680

[2021-01-15 10:43] karelz commented on #46247
Closing this issue in favor of #887 and #32680

[2021-01-15 10:43] #46247 closed

[2021-01-15 10:51] Dixin commented on #28776
I am not sure either, and I don't have a preference here, just trying to put everything on the plate for discussion. @eiriktsarpalis please let me know if you want me to remove it from the proposal or make other changes.

[2021-01-15 10:57] vitek-karas commented on #46990
In short this is currently an unsupported scenario - the story is basically: whatever SDK produces, should work, if you make changes to the output of SDK it might break.

For most assemblies and files this will work because the file names didn't change and the `.deps.json` has version info to help with resolving conflicts. But in the case of `mscordaccore_amd64_amd64_5.0.120.57516.dll` the version

[2021-01-15 10:58] kjpou1 opened #47038 "[wasm] Enable tests on Firefox"
Follows suggestion of Safari support.

This will prevent some issues from slipping through such as testing for `SharedArrayBuffer` which is not supported on FireFox unless specifically turned on.  See issue https://github.com/dotnet/runtime/issues/46624

[2021-01-15 11:00] adamsitnik commented on #16354
Another problem with `seek` and `read` is that it's not a single operation, so it's not atomic (and not thread-safe).

An excellent read for Linux: https://learning.oreilly.com/library/view/The+Linux+Programming+Interface/9781593272203/xhtml/ch05.xhtml#ch05lev1sec06

I am going to try to figure a way to use `pread`  instead (and find a similar solution for Windows implementation)

[2021-01-15 11:01] svick commented on #46869
That's https://github.com/dotnet/runtime/issues/40099, which has already been approved and should be included in .Net 6.0.

[2021-01-15 11:04] eiriktsarpalis commented on #28776
At this point I'm fairly convinced that we should hold of from adding the `Enumerable.Range` and `AsEnumerable` methods. I think adding the `Slice` and `ElementAt*` methods is probably fine despite the performance concerns (the existing `ElementAt` method isn't too great in that regard either) since they are consuming index types the way they were intended.

[2021-01-15 11:05] kjpou1 commented on #47038
See XHarness PR: https://github.com/dotnet/xharness/pull/420

[2021-01-15 11:13] karelz commented on #46910
@ahdung I am sorry that you ran into this the hard way. Yes, it is some incompatibility with .NET Framework, which hit you by surprise. We wish we could be 100% compatible, but you can probably imagine that it is impossible task and we have to pick our battles and choose where to invest.

To answer your concerns:

The obsoletion of `WebRequest` didn't make it into 5.0 (which is sad), but is at lea

[2021-01-15 11:17] akoeplinger commented on #47023
Hm this is almost certainly caused by https://github.com/dotnet/runtime/pull/43535 but we did get a green official build on the PR there: https://dev.azure.com/dnceng/internal/_build/results?buildId=950402&view=results

[2021-01-15 11:17] Jmales commented on #46990
So, in this scenario, do you know any other approach better than mine (i.e. copy one self-contained app to the contents of other) ?

Thanks for the info so far

[2021-01-15 11:19] karelz commented on #37055
Unclear what is needed, closing.

[2021-01-15 11:19] #37055 closed

[2021-01-15 11:23] karelz commented on #34873
@Rodrigo-Andrade how much CPU % does the whole `Uri` class takes from your workload.
I wonder what you're doing with the Uris -- for example, it did not pop in our YARP reverse proxy scenarios, nor have we seen it in our partner workloads which got to us ...

[2021-01-15 11:31] karelz commented on #41301
Looks like the problem is likely caused by the user code (see above comment). Closing.

[2021-01-15 11:31] #41301 closed

[2021-01-15 11:33] MaceWindu commented on #36954
duplicate of #46187

[2021-01-15 11:33] #36954 closed

[2021-01-15 11:39] vitek-karas commented on #46990
You might be able to get something slightly better if there's a project reference between the two apps. As per this PR https://github.com/dotnet/sdk/pull/14488 SDK might be able to handle at least some situations.

[2021-01-15 11:41] gurustron commented on #46469
@eiriktsarpalis thank you! this works for 5.0. Still wonder what actually changed since 3.1 cause it worked there with disposes =)

Agreed on the disposes - code was written by someone else and I have not read it thoroughly  enough.

[2021-01-15 11:41] #47038 closed

[2021-01-15 11:46] karelz commented on #42524
@HASSEN-MEDDEB-ATOS looking into this more -- it would be best to use separate HttpClient instances for each proxy and configure the proxy per HttpClient (before its first usage) via [SocketsHttpHandler.Proxy](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.socketshttphandler.proxy?view=net-5.0).
Changes to `DefaultProxy` are not observed by existing and used SocketsHttpHandler instanc

[2021-01-15 11:46] #42524 closed

[2021-01-15 11:48] agowa338 commented on #46724
@wfurt: I'd expect behavior according to the RFC https://tools.ietf.org/html/rfc4038#section-4.2

I'm interested in this feature as I do not want to handle dual stack and just use the mapped addresses instead of the IPv4 ones, so that my applications can be fully IPv6 only while still being able to reach github and twitter...

[2021-01-15 11:51] Jmales commented on #46990
👍

One final doubt. I noticed that running **AppFull** in Windows results in the errors referred above but running that same **AppFull** in Mac does not. Any idea on why?

[2021-01-15 11:56] vitek-karas commented on #46990
I honestly don't know, there only seems to be `mscordaccore` library on OSX, not a counterpart of `mscordaccore_amd64_amd64_5.0.120.57516` from windows  - @dotnet/dotnet-diag  might be able to explain the intricacies of debugger support libraries across platforms.

[2021-01-15 11:56] Dixin commented on #28776
@eiriktsarpalis Thank you for your insight. Can I submit a PR for `Slice` and `ElementAt*`? Or should I wait for further approval?

[2021-01-15 12:03] eiriktsarpalis commented on #28776
It would need to go through [API review](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md) before we can consider an implementation. Would it be possible to update the proposal to only include `Slice` and `ElementAt*`?

[2021-01-15 12:09] eiriktsarpalis commented on #46469
Great to know! In that case I'm going to close this issue. Thank you for your contribution.

[2021-01-15 12:18] karelz commented on #47035
The "Unauthenticated" (on 3.1 with disabled SocketsHttpHandler) feels like what you're getting in the original post "_The remote certificate is invalid according to the validation procedure._" ... which is weird as it uses curl under the hood. So apparently there is some difference in available certificates between command line curl and .NET with or without curl. Maybe that is the root of the prob

[2021-01-15 12:19] eiriktsarpalis commented on #46991
I can reproduce the issue. On my machine it also seems like console dimensions are being misreported:
![image](https://user-images.githubusercontent.com/2813363/104726593-c6799880-572b-11eb-8810-1e4d1b395485.png)
However once I replace the editor with `vim`:
[code]
I see no issues and control sequences work as expected. I wonder if there might be an issue specific to the nano implementation that r

[2021-01-15 12:21] karelz commented on #45651
Fixed in 5.0.3 in PR #46629 and in 6.0 (master) in PR #46151

[2021-01-15 12:21] #45651 closed

[2021-01-15 12:26] karelz commented on #46950
@wfurt the linked bug is regression between 3.1 and 5.0. This report is about regression between 2.1 and 3.1, so it won't be likely the same.

Are you able to minimize the repro (ideally HelloWorld style) such that we can try it ourselves as well?
Is your problem specific to Azure WebApps deploymnet? Or are you able to reproduce it also locally?

[2021-01-15 12:38] karelz commented on #44630
OK, so HttpClient works just fine. Something else is interfering in the app.
I would suggest to try similar minimal repro with just `HttpClientFactory` (i.e. one more layer closer to your app). Will that work?
If yes, then you need to play with your app to see which piece of code breaks it and then focus on that ...

[2021-01-15 12:41] MaximLipnin commented on #46984
It's the [MonoAOTCompiler msbuild task](https://github.com/dotnet/runtime/blob/master/eng/testing/tests.mobile.targets#L104), not Exec, there is no `IgnoreStandardErrorWarningFormat`. I tried setting `ContinueOnError=true` but it just led to the error in the `AppleAppBuilderTask`

[2021-01-15 12:44] karelz commented on #46322
FYI: `WebClient` is already obsoleted in 6.0 (master branch): #33125 ... we closely missed the window to make it happen in 5.0

Given that these APIs are obsolete, there is simple RegEx workaround and this is not widely-used feature, I recommend to close it as Won't Fix.

[2021-01-15 12:44] #46322 closed

[2021-01-15 12:45] karelz commented on #46430
Closing as addressed.

[2021-01-15 12:45] #46430 closed

[2021-01-15 12:47] karelz commented on #46953
@lxman would you be able to share a fully functional minimal repro (HelloWorld style) that we can debug locally?
Alternatively if you can debug it on your side to help us identify the source of the regression, that would work as well.

[2021-01-15 12:53] stephentoub commented on #16354
Why is that a problem?

[2021-01-15 12:55] Dixin commented on #28776
@eiriktsarpalis It's updated. Please let me know if more modification is needed. Thank you for taking this to further review. This is very exciting!

[2021-01-15 12:58] ilushka85 commented on #44897
@richlander this means about another year of slowness of .net for m1 when competing platforms like Java have already had native support for weeks. What is the issue of trying to move native in 5.0. Can someone try to apply the changes to 5.0 and see how far off it is for native ?

Kind regards,
Ilya Beyrak | Founder & CEO
Resultly LLC.
(p) 312.273.9401
(m) 847.912.1212
(w) www.result.ly ( http://w

[2021-01-15 13:02] adamsitnik commented on #16354
We perform the extra seek to verify that nobody else has changed the file offset in the meantime (because we want to throw in such situations). Despite doing it and paying the perf price for it we can still miss the situation when it got modified after the call to seek and before the call to read?

[2021-01-15 13:03] ViktorHofer commented on #45755
It's currently a direct match. If the installed SDK matches the specified version in global.json, it's a match. There's no support for patch/minor/major roll forward: https://github.com/dotnet/arcade/issues/6636.

This means that the SDK is fetched ie if you have a 5.0.102 installed. The corresponding logic can be found here: https://github.com/dotnet/arcade/blob/8ca877b54001e682f9642d8995f2a01616

[2021-01-15 13:23] antonfirsov commented on #46724
@agowa338 some context on @wfurt's concerns:
While .NET socket behavior tends to (silently) shift towards Dual Stack everywhere, recently we discovered that it may lead to unexpected issues when used together with certain VPN-like solutions (see #44686).

Regardless, we need to have a preference for the sockets we use in AddressFamily-agnostic API-s, and stick to it for consistency. Currently our

[2021-01-15 13:31] stephentoub commented on #16354
Personally,  I think this existing attempt at protection is inherently flawed in purpose. The implementation doesn't try to make it work, but rather simply tries to detect misuse, and as you say,  such protection is broken, anyway.  Maybe I'm misunderstanding the suggestion,  but switching to pread suggests to me you're not just trying to be more accurate in the misuse detection,  but actually aim

[2021-01-15 13:34] eiriktsarpalis commented on #28776
Thanks, main open question for me is whether we would also want to add the queryable APIs. @bartdesmet is right to point out that it may break query providers if they rely on the fact that there are no overloads for `ElementAt`, but I'm not sure if there is precedent here cc @stephentoub

[2021-01-15 13:35] gurustron commented on #46469
@eiriktsarpalis

I was running wrong project. Removing the `using` from `standardInput` leads to repro project just hanging indefinitely on first `baseStream.Read(buffer, 0, buffer.Length)` (which kind of makes sense).

can you please reopen the issue?

[2021-01-15 13:35] lemonmojo commented on #44897
@ilushka85 100% this! I'm kind of stunned by this decision and still in disbelieve that there won't be official native support by MS for a long time while the rest of the world has either already completed the transition or is close to doing so. Just to make this very clear: You're not hurting Apple or it's platforms with your decision but your own developers and users of their apps. Users don't c

[2021-01-15 13:51] jeromelaban commented on #46613
Recent changes (likely https://github.com/dotnet/runtime/issues/45078) make the problem bigger as afterwards the execution gets stuck in an infinite loop in various places.

[2021-01-15 14:03] agowa338 commented on #46724
@antonfirsov Well, these workaround than provide issues to others. I'd suggest to follow the RFC.
We frequently encounter issues where applications try to be smart instead of just leaving that task to the admin. The administrator can than decide to disable IPv4 completely, to add a firewall rule, or to do whatever else. But what is needed for that to work is software that follows the RFC.

[2021-01-15 14:06] DruSatori commented on #44897
For what it is worth,  as a Windows on ARM user as well ( Surface Pro X ), even there, .NET support is relatively weak.  VS is not native.  There is little to no .NET ARM64 debugger support on Windows on ARM.  So while it is an annoying situation, I think we need to maintain a bit of perspective. As of right now, it looks like the Apple Silicon support will arrive before fully Windows on ARM suppo

[2021-01-15 14:08] Altair7610 commented on #47035
@karelz yeah, everything is exactly the same as in the #46654. Most likely I’ll have to wait until a new 5.0 build that fix that is released. Maybe @wfurt will advice something :) So far I had to deploy the authentication service to iis

[2021-01-15 14:09] karelz commented on #46724
@agowa338 I am not sure which part of RFC you have in mind. Can you please be specific? Thanks!

[2021-01-15 14:10] eiriktsarpalis commented on #46469
I was seeing the same, however the exact same behaviour happens when I call it with the same arguments directly from the shell, so I'm assuming this is the intended behaviour?

[2021-01-15 14:17] tmds commented on #46991
`nano` uses these file descriptors to access the terminal.

By redirecting them, you're replacing the terminal with a `pipe`(/`socket`) to the point where `nano` can no longer access the terminal.

You shouldn't redirect when running interactive applications.

[2021-01-15 14:20] ViktorHofer commented on #34420
@eerhardt should we do anything about this? We still exclude the DependencyModel assembly when generating shims. cc @ericstj

[2021-01-15 14:22] gurustron commented on #46469
@eiriktsarpalis

works fine for me.

And again - 3.1 works with closing input, and sample in the docs closes the `StandardInput` also.

[2021-01-15 14:53] robeving commented on #46991
I couldn't come up with a test case that exactly matches the nano problems but I can repo something similar.

Your C

[code]

Your C#

[code]

I'm expected identical output and behaviour here. Notable as STDIN hasn't been redirected.

In an interactive Linux terminal (i'm using Windows Terminal / WSL2 / Ubuntu 18.04) run the compiled C code above. I get the following in my terminal.
[code]

Now ru

[2021-01-15 15:23] omajid commented on #44884
@bartonjs I just realized that this affects 5.0 branch as well. Should I open a separate issue for that?

[2021-01-15 15:26] Rodrigo-Andrade commented on #34873
It improved a lot since the creation of this issue (my god it was 8 months ago, feels like yesterday, crazy times),
In terms of cpu time, things are much better now (i think some stuff got into de 5.0 release?)
Now the main problem is allocations:
![image](https://user-images.githubusercontent.com/1174384/104745115-7bac5080-572c-11eb-8a36-d9bedf314b00.png)
It's the number 1 allocator on this workl

[2021-01-15 15:39] MihaZupan commented on #34873
How are the Uris being used - only getting passed to HttpClient, or are you accessing other properties?
If calling `GetComponents`, what parameters are you using?

Yes, quite a lot of Uri improvements went into the 5.0 release.
Excess allocations in `ReCreateParts` will also be greatly reduced for the 6.0 release.

[2021-01-15 15:59] colgreen commented on #26741
I will describe the approach I took in Redzen (my own little side project and nuget package) - just as food for thought really.

All code is here: https://github.com/colgreen/Redzen/tree/master/Redzen/Random

I defined an interface `IRandomSource` that more or less mirrors the API of `System.Random`, but with updates/additions, so e.g. there exist methods `Next()`, `Next(int)`, `NextBytes(Span<byt

[2021-01-15 16:09] mahamr commented on #41352
Now that .NET 5 has released and removed the ability to use the "UseSocketsHttpHandler=false" switch, the dotnet CLI on .NET 5 I'm thinking will be broken for the scenario this issue was opened for. Since this is not an issue with System.Net itself, but is really with how the dotnet CLI consumes the System.Net APIs, I am closing this issue in favor of dotnet/sdk#14692

@jcmcken if you're able to t

[2021-01-15 16:09] #41352 closed

[2021-01-15 16:18] rolfbjarne opened #47047 "iOS: error: Ran out of trampolines of type 1 in '/private/var/containers/Bundle/Application/D4741AA0-B7E1-442E-AAA2-BFD48F71C744/dont link.app/System.Private.CoreLib.dll' (limit 0)."
### Description

iOS App crashes upon launch on device with:

[code]

Repro:

1. Download & Install Xcode 12.5
2. Install .NET 6 Preview 5: https://dotnetcli.azureedge.net/dotnet/Sdk/6.0.100-preview.5.21302.13/dotnet-sdk-6.0.100-preview.5.21302.13-osx-x64.pkg
3. Install the iOS workload:

[code]

4. Fix execution permissions for the aot compiler (this might only be possible after having tried to b

[2021-01-15 16:36] yakeer commented on #46469
Could you please share your code which made it work?

[2021-01-15 16:50] danmosemsft commented on #43166
Seems this issue can be closed, since the test no longer runs on Linux?

[2021-01-15 16:51] GiorgioG commented on #44897
As the owner of a new M1 MacBook Air this is pretty disappointing.  I do my day to day work on a desktop PC, but my laptop for everything else.

I've recommended .NET Core to friends who run a startup and been running happily on Intel Macs (no PCs at all in this shop) for 2+ years with no problems.  Fast forward to today, with most of their MacBooks exhibiting the butterfly keyboard problems, they

[2021-01-15 16:54] mikem8361 commented on #46990
The names of the debugger support modules (DAC,DBI) are Windows: both mscordaccore.dll/mscordbi.dll and modules like mscordaccore_amd64_amd64_5.0.120.57516, Linux: libmscordaccore.so/libmscordbi.so, MacOS: libmscordaccore.dylib, libmscorlib.dylib.

The DAC modules mscordaccore_amd64_amd64_5.0.120.57516 are basically that runtime's version of mscordaccore.dll but decorated with the "host" architect

[2021-01-15 16:54] tannergooding commented on #9766
This is likely a fairly small change, in cost. Much of the `Vector<T>` code has already been updated to internally use HWIntrinsics internally.

The process for making the changes should be something akin to:
1. Add new entries to https://github.com/dotnet/runtime/blob/master/src/coreclr/jit/simdashwintrinsiclistxarch.h and https://github.com/dotnet/runtime/blob/master/src/coreclr/jit/simdashwintr

[2021-01-15 17:01] tmds commented on #46469
This is indeed the root cause for the issue.
`open` for `/dev/stdout` fails when it is a `socket`.

@stephentoub this is a regression caused by changing the `Process` `Streams` from `pipes` to `sockets`.

[2021-01-15 17:09] stephentoub commented on #46469
That's unfortunate.  How do other platforms deal with this?  I've seen others use socketpair as well.

Suggestions?  It'd be a shame to need to revert.

[2021-01-15 17:12] zwarich commented on #44897
@nixxholas I haven't seen any reports of problems like that before. Is it possible for you to file an issue with Feedback Assistant that includes all of the the binaries required to reproduce that issue? If so, it would be greatly appreciated and would accelerate a fix.

[2021-01-15 17:17] tannergooding commented on #20510
I'm fine with taking a proposal for `ShiftLeft` and `ShiftRight` additions to `Vector<T>`. Given how we implemented HWIntrinsics and the proposed analyzer: https://github.com/dotnet/runtime/issues/33771, I think the overall implementation will work out.

@mjmckp could you please update the top post to follow our API proposal template? https://github.com/dotnet/runtime/issues/new?assignees=&labels=

[2021-01-15 17:31] tannergooding commented on #956
Going to close this as most off the SIMD intrinsics have already been ported to use HWIntrinsics internally during importation.

[2021-01-15 17:31] #956 closed

[2021-01-15 17:32] vcsjones commented on #47009
A 3rd option we could consider: if the buffer we are writing to overlaps any of the other input buffers, allocate/rent a temporary buffer and write to the temporary buffer. When all of the writing is done, copy it to the destination buffer. This is done in a few places that use symmetric encryption.

https://github.com/dotnet/runtime/blob/f3ec6dcada8b693fc33570fc11386fd7a07a5715/src/libraries/Syst

[2021-01-15 17:35] eerhardt commented on #34420
Honestly I'm not sure what we can do about this other than make a breaking change in `Microsoft.Extensions.DependencyModel`.

If we were going to make this breaking change, we could also delete this mistake as well:

https://github.com/dotnet/runtime/blob/1d9e50cb4735df46d3de0cee5791e97295eaf588/src/libraries/Microsoft.Extensions.DependencyModel/src/HashCodeCombiner.cs#L11-L13

So if we think this

[2021-01-15 17:35] ericstj commented on #34420
I don't think a breaking change to make our tools happy is the right tradeoff.

Obsoletion isn't a great option either, since I don't think the compiler considers that when examining betterness for extension methods.  So if we put an obsolete attribute on the type and created a new type, nothing would tell the compiler the new type was better.  We'd have to break the old type.

Given we haven't go

[2021-01-15 17:37] tannergooding commented on #7364
Closing this as the performance has improved in the latest releases and this is currently mostly non-actionable due to how the functions are implemented internally (they forward to the C runtime).

[2021-01-15 17:37] #7364 closed

[2021-01-15 17:38] eerhardt commented on #34420
I'm fine with that as well. Closing.

[2021-01-15 17:38] #34420 closed

[2021-01-15 17:42] tmds commented on #46469
Other platforms using socketpair will run into the same problem.
Yes, we can use https://github.com/dotnet/runtime/pull/44647 to switch back to pipes.

[2021-01-15 17:43] tannergooding commented on #24328
@GrabYourPitchforks, should this issue be converted to a `discussion`?

[2021-01-15 17:48] bartonjs commented on #47009
@GrabYourPitchforks Are you in camp "make it throw", camp "make it work", or camp "do nothing, caller beware"?  Do we have a solid precedent across the framework at large yet?

[2021-01-15 17:49] ericstj commented on #47029
This app is doing the following:
[code]

It "noticed" that the dll name changed from clrcompression.dll to System.IO.Compression.Native.dll which was done by @VSadov in https://github.com/dotnet/runtime/commit/99f3f55697b09e4a03a17e0a62f18d174cd4c285.

What this app is doing is incorrect.  It's examining the .NETCore installation directory and using implementation assemblies for compilation.  It a

[2021-01-15 17:51] buyaa-n commented on #42967
Even the analyzer implementation could be small applying it to runtime repo and fixing the warnings might need a lot more work, increasing size to medium

[2021-01-15 17:57] #45267 closed

[2021-01-15 17:57] mj1856 commented on #45318
Thanks for your feedback @justingrant!

I tend to agree with most of your points.  Though keep in mind that the challenge we face with .NET is that unlike Java and JavaScript, we aren't (IMHO) in a great position to overhaul the entire date/time type system.  The existing structures `DateTime`, `DateTimeOffset`, and `TimeSpan` are so engrained into the framework and surrounding ecosystem that they

[2021-01-15 17:58] tannergooding commented on #30634
Closing as this is largely a register allocator issue and is already tracked by other issues such as https://github.com/dotnet/runtime/issues/12984

[2021-01-15 17:58] #30634 closed

[2021-01-15 18:02] mj1856 commented on #45318
With regard to a `ZonedDateTime` type - there's no reason we *couldn't* add that, but I don't feel it's as warranted or urgent as the other times.  I'd be interested in hearing others in the .NET community's perspective on this.

[2021-01-15 18:05] tannergooding commented on #34450
Closing as this is "by design". Doing fused operations isn't fast if the hardware doesn't support it.

[2021-01-15 18:05] #34450 closed

[2021-01-15 18:07] mj1856 commented on #45318
Also, In regard to the first two items on the features list at the top of this issue - I'd actually be in favor of a whole new time zone type, or overhauling the `TimeZoneInfo` type with many breaking changes.  We got the design quite wrong with `System.TimeZone` and thus created `System.TimeZoneInfo` in attempt to fix it - but we still got it wrong by not supporting the full complexity of time zo

[2021-01-15 18:07] Tratcher commented on #47050
Notes from dotnet/aspnetcore#18499:
- UseEnvironment works today by adding a config provider, but that makes it too easy for ConfigureWebHostDefaults to overwrite.
- A real fix would likely require redesigning multiple APIs here to allow setting the environment as a higher level host option, but it's not clear how that would compose with CreateDefaultBuilder.

[2021-01-15 18:07] tannergooding commented on #34859
Closing as this is "by design". If someone want's to create a proposal for the other handedness, please open a new proposal following the API proposal template: https://github.com/dotnet/runtime/issues/new?assignees=&labels=api-suggestion&template=02_api_proposal.md

[2021-01-15 18:07] #34859 closed

[2021-01-15 18:10] tannergooding commented on #36469
I'm going to mark this as `ready-for-review` and we can have further discussion on whether or not this is warranted in API review. We already have these methods internally.

[2021-01-15 18:20] ViktorHofer commented on #44536
Already completed in master.

[2021-01-15 18:20] #44536 closed

[2021-01-15 18:22] ViktorHofer commented on #44907
Already completed in master.

[2021-01-15 18:22] #44907 closed

[2021-01-15 18:23] bartonjs commented on #40169
Looks good as proposed.

[code]

[2021-01-15 18:23] #46568 closed

[2021-01-15 18:24] ViktorHofer commented on #43110
@agocke as we just talked about this in the stand-up, would you mind summarizing your thoughts on this?

[2021-01-15 18:25] bartonjs commented on #46930
Looks good as proposed.

[code]

[2021-01-15 18:25] ilushka85 commented on #44897
I dont think its acceptable that there is no support on Windows on Arm for the debugger.  But visual studio has proven to be junk in recent years while staying windows only and 32 bit... This is where rider truly shines.  But the fact that the .net platform itself is going to take a year to even consider launching on native apple silicon is troubling when every other platform has done it.

The fac

[2021-01-15 18:26] lxman commented on #46953
The only way I could get this info was by working with our IS department while they watched the logs on our Outlook server while I fired off the requests from our web product. I've since resolved the issue in my case by just rewriting to MailKit. In my case this is closed.

[2021-01-15 18:26] #46953 closed

[2021-01-15 18:26] tarekgh commented on #45318
What exactly the breaking changes you are suggesting in TimeZoneInfo?

[2021-01-15 18:30] mairaw commented on #43545
Is this really completed or was it cut?

[2021-01-15 18:30] bartonjs commented on #46934
Looks good as proposed.

[code]

[2021-01-15 18:32] pgovind commented on #46827
Looks like a bug. I'll investigate this as I work on https://github.com/dotnet/runtime/issues/46874 next week!

[2021-01-15 18:33] Clockwork-Muse commented on #45318
.... another breaking change to consider (that has almost no chance of happening) - remove `DateTimeKind`.

Personally I feel some programmers may be lead astray by `DateTimeOffset` - not necessarily that they believe it will change the offset, but that they may forget that offsets do, in fact, change.  `DateTime` has its own issues in this area.  `DateTimeZoned` is where I prefer the direction th

[2021-01-15 18:33] c0g1t8 commented on #38327
The last link does not exist.  I believe it should be https://github.com/dotnet/runtimelab/tree/feature/JsonCodeGen.

[2021-01-15 18:34] geoffkizer commented on #30205
Note this will get worse with HTTP3.

[2021-01-15 18:38] geoffkizer commented on #42852
I don't really see any alternative here other than remote server tests. These platforms don't support doing loopback and they don't support connection-level hooks. They basically only support talking to a remote server.

As mentioned above, we do have some remote server tests, but in general they are not factored in a way that would make it easy to run only these tests (and not the loopback tests)

[2021-01-15 18:42] tannergooding commented on #26741
Assuming we are confident that `InternalSample()` is producing 32 random bits, then I think we are fine with just getting two `int` and combining them for `long NextInt64()`.

For `long NextInt64(long maxValue)`, I think we need to create a new `GetSampleForLargeRange()`. This is because while `double` is 64-bits, the returned sample is effectively between `0.0` and `1.0` which is only `0x3FF00000

[2021-01-15 18:44] bartonjs commented on #42967
Because we don't currently have the ability to mark things as OS-specific based on parameter input, it can only be reliable for methods that are entirely `throw new PlatformNotSupportedException(...)`.  As such, we don't think there's sufficient value in it at this time.

When it is possible to do something more complicated the analyzer should not warn if the method is declared `[Obsolete]`, in ad

[2021-01-15 18:44] #42967 closed

[2021-01-15 18:49] jkotas commented on #36469
Pointers? I do not think we have them in any shipping binaries.

[2021-01-15 18:50] bartonjs commented on #46594
Looks good as proposed, but we simplified it to use a default parameter.

[code]

[2021-01-15 18:51] AndyAyersMS commented on #39732
@sandreenko can you look into this as part of your possible .Net 6 work?

[2021-01-15 18:55] wfurt commented on #47035
It was confirmed that installing root CA fixes the problem. You can try it in mean time  @Altair7610
It is curious that nothing posted on this issue relates to the  #46654 e.g.  that one is server problem but all posted traces show client side.

[2021-01-15 18:56] bartonjs commented on #46775
Looks good as proposed.

[code]

[2021-01-15 18:59] jeffhandley commented on #42967
@marek-safar @terrajobst Until we get through #44922 and find ways to handle all of the conditional PNSE scenarios, an analyzer warning for PNSE bodies would be too noisy.

My understanding is that the APIs we've marked with `[SupportedOSPlatform]` and `[UnsupportedOSPlatform]` were largely discovered through static analysis that found method bodies throwing PNSE; is it correct to assume we have l

[2021-01-15 19:02] AndyAyersMS commented on #46882
One unresolved issue from the prototype is handling of BBJ_THROW blocks. My initial thought was that these should be treated similarly to BBJ_RETURN (and so will end up getting instrumented); Ball suggests instead that the pseudo-edge target EXIT and only accumulate a count if the throw actually happens.

I think this amounts to the same thing, and simply instrumenting throws as if they were retur

[2021-01-15 19:03] wfurt commented on #46950
this is because HTTP switched to dual mode socket in 5.0. Same happened to TcpClient in 3.0 and that impacted FTP in 3.0 as well. Can you reproduce it outside of VNET @d-daniel-de-sousa?

[2021-01-15 19:05] eiriktsarpalis commented on #46469
FWIW here's a minimal repro highlighting the regression:
[code]

[code]
The above prints the error messages in `net5.0` but works in `netcoreapp3.1`.

[2021-01-15 19:06] mj1856 commented on #45318
@Clockwork-Muse - I don't believe removing `DateTimeKind` would be possible at this point.  At least, not without comprehensive overhaul.  (But I agree with you on the pain it causes.)

[2021-01-15 19:07] stephentoub commented on #46594
Just realized there's a semantic difference between Start() and Start(object), with regards to error handling around whether the Thread was created with a ThreadStart or ParameterizedThreadStart delegate.  So, we should stick with the original proposal of two overloads and maintain the same semantics for the Unsafe variants.

[2021-01-15 19:07] mj1856 commented on #45318
@tarekgh - Let me get back to you on the `TimeZoneInfo` changes.  I would like to put a rough prototype together and see what edge cases are teased out.

[2021-01-15 19:08] sandreenko commented on #39732
@AndyAyersMS sure!

[2021-01-15 19:16] carlossanlop commented on #33799
Suggested severity: Info

Cases to cover:

[code]

[2021-01-15 19:18] andreimilto commented on #47009
HKDF doesn't impose any upper limit on the size of the inputs, so in theory any of the inputs - `ikm`, `salt`, `prk` or `info` - or all of them can be very large, although in practice that would be a very rare case - I agree with you. Outputs on the other hand are by design limited to `hashOutputSize` for `Extract` and `255 * hashOutputSize` for `Expand`/`DeriveKey`, which makes them a more univer

[2021-01-15 19:20] hoyosjs commented on #47016
We don't pin a CRT.

[2021-01-15 19:25] agocke commented on #43110
Incorporating the higher-level goal and what Jan said, I think the first step is to improve our up-to-date check performance.

Per https://github.com/dotnet/runtime/issues/47022, building the `clr` partition after it's already built and nothing has been changed takes roughly 51s on my machine. This appears to be a combination of steps which simply aren't incremental (always rebuilt) and expensive

[2021-01-15 19:25] marek-safar commented on #42967
That's not correct. We did a manual pass for one platform (and we missed many places) in .net5 and will be doing another one in .net6 for different platforms and another one in the future. Having a reliable tool/way to do that is beneficial over grep for throw and manual edits.

I'm also not sure I understand what would be noisy on a one-line throw PNSE body detection.

[2021-01-15 19:29] carlossanlop commented on #33809
Suggested severity: Info

[code]

[2021-01-15 19:31] bartonjs commented on #46830
We think that a hybrid approach is best:

* Update guidance to say that non-abstract SafeHandle types should have a default ctor (where IsInvalid is true).
  * Update all of our SafeHandle types to follow this guidance.
  * Add an analyzer to suggest this guidance.
* Do not make `SafeHandle.SetHandle` public.
* Add `Marshal.InitHandle` (using "Init" instead of "Set" to suggest that it should only

[2021-01-15 19:32] vcsjones commented on #47009
That's fair, but we might be able to be better than allocating either by using `stackalloc` for small values and `CryptoPool.Rent` for large values. The latter _might_ allocate, and we can also put this in the documentation.

[2021-01-15 19:35] #46451 closed

[2021-01-15 19:35] tannergooding commented on #36469
Ah, you're right, I was misremembering.

We just have many of the internally usages in product code explicitly converting to the unsigned variant:
* https://source.dot.net/#System.Private.CoreLib/BitConverter.cs,27a5a69559e7663e,references
* https://source.dot.net/#System.Private.CoreLib/BitConverter.cs,db20ea77a561c0ac,references
* https://source.dot.net/#System.Private.CoreLib/BitConverter.cs,bd

[2021-01-15 19:39] bartonjs commented on #45290
Looks good as proposed.

[code]

[2021-01-15 19:39] carlossanlop commented on #33772
@terrajobst is this what you intend the analyzer/fixer to do?:

### Before
[code]

### After
[code]

[2021-01-15 19:52] akoeplinger commented on #47023
Fixed by https://github.com/dotnet/runtime/pull/47051

[2021-01-15 19:52] #47023 closed

[2021-01-15 19:58] carlossanlop commented on #33778
Suggested severity: Warning

We implemented a very similar analyzer for Stream.ReadAsync and Stream.WriteAsync that suggested preferring the memory-based overloads. The logic can be very similar here so whoever works on this can use that analyzer for reference: https://github.com/dotnet/roslyn-analyzers/pull/3592

[code]

[2021-01-15 20:01] bartonjs commented on #25608
We think spanifying the constructor and CopyTo methods makes sense, but don't think adding the byte-based variants makes sense at the time.

Semantics of these members should match what `Vector<T>` does.

[code]

[2021-01-15 20:01] mangod9 commented on #47016
umm.. that is interesting. that would imply backporting to 3.1 or lower. Also wonder if the memcpy change now implies an AVX requirement, or if they are doing a dynamic check for it.

[2021-01-15 20:10] jkotas commented on #47016
They are doing dynamic check.

We should understand the VS update schedule on the build machines. If/once the build machine are updated to VS Version 16.9.0, this will become a blocking problem.

[2021-01-15 20:17] GrabYourPitchforks commented on #47009
@bartonjs I don't think we have FX-wide precedent. Most methods don't check. There have been [some bugs](https://github.com/dotnet/runtime/issues/28494) in areas like globalization where we added "do these overlap?" checks after the fact. Honestly I'm in camp "caller beware" unless it makes sense for the scenario that overlapping buffers should be special-cased. For instance, when changing case of

[2021-01-15 20:21] justingrant commented on #45318
Note that the current `TimeSpan` type isn't good for date arithmetic because it doesn't distinguish between day deltas (which must be adjusted for DST) and time deltas (which generally don't care about DST), and because it lacks months and years. So if there's a `DateOnly` type added, then would there also be a `DateSpan` type needed too, presumably with `Years`, `Months`, `Days` properties?

The

[2021-01-15 20:21] hoyosjs commented on #47016
Right now we have 16.8.3 and 16.9 P2 on the lab machines. We build against 16.8.3 as of Wednesday.

[2021-01-15 20:29] bartonjs commented on #47009
The fact that the API is intended to make a cryptographic key makes me a little skeptical of caller beware, since it might cease being reproducible.

Hmm.

[2021-01-15 20:29] mconnew commented on #1419
You are right, except in very narrow cases (near real time where you disable GC for short periods is the only one I'm aware of), if you have to manually run GC then there's something wrong. This isn't one of those scenarios, so something is wrong. GC issues can be opened in this repo as everything has be combined under one repo. I was investigating another memory leak issues for WCF a few weeks ag

[2021-01-15 20:43] tannergooding commented on #35626
An alternative name which matches the HWIntrinsic APIs would be: `AddAcross`

[2021-01-15 20:45] sandreenko commented on #46235
won't be fixed, see discussion in #46248

[2021-01-15 20:45] #46235 closed

[2021-01-15 20:52] gfoidl commented on #35626
Would `SumAcross` match more? As it results in the sum across the elements of the vector.
I see that AddAcross is used by AdvSimd, but this name makes me think "add across simd-lanes".

At least we should avoid "HorizontalAdd" as this is a similar but different operation in x86 instrinsics.

[2021-01-15 20:56] jeffhandley commented on #42967
The one-line throw PNSE body detection could be done if we also have the analyzer respect `[Obsolete]` attributes (for APIs not implemented in .NET Core, where PNSE is orthogonal to _OSPlatform_). It would not be noisy. I thought we had already most of the one-line throw PNSE bodies that were related to _OSPlatform_; now I understand that we haven't. I found over 4500 PNSEs thrown across runtime (

[2021-01-15 20:59] stephentoub commented on #33778
I don't think any purely perf-focused rules like this should break a build (which warning can do if warning-as-error is enabled).  It should likely be Info.

[2021-01-15 21:01] BartoszKlonowski commented on #45420
I would like to handle this.
@steveharter Please assign me to this issue so I can work on this issue.

[2021-01-15 21:04] wfurt commented on #46724
The RFC really talks what should happen on the wire. There is no doubt that it should go out as IPv4. The trickery in in TcpClient it self. I was wondering if we should do something similar to https://github.com/dotnet/corefx/pull/37194/files e.g. treat v4 mapped address as IPv4 instead of using dual-mode socket.

Since that (and any other clean-up) is unrelated to the reported issue I put up PR t

[2021-01-15 21:12] jogibear9988 opened #47059 "Program using Roslyn Compiler works in 4.8 but not in net5"
I've a program wich uses Roslyn to compile user code at runtime.

This Program uses some nugets wich are only netstandard1.4

The program works as expected in Net4.8
In netcore5 in need to add MetadataReferences to "netstandard" and "System.Runtime" via string to get it to work.
Is there another way?

See following Code:

    using Microsoft.CodeAnalysis;
    using Microsoft.CodeAnalysis.CSharp;

[2021-01-15 21:12] agowa338 commented on #46724
@wfurt: I thought the RFC is clear on that, look at the "stack" in section 4.2, the application (and the libraries should be IPv6).
E.g. The application doesn't know that IPv4 exists nor that it is a special address. The "magic" hapens when the TCP layer (aka. the library that crafts the tcp package) adds the IP layer. It will pick the IPv4 layer when sending the package. But from the application

[2021-01-15 21:13] jogibear9988 commented on #47059
[CompilerTest.zip](https://github.com/dotnet/runtime/files/5822920/CompilerTest.zip)

[2021-01-15 21:14] jkotas commented on #45420
@BartoszKlonowski It is all yours.

I think it would be better to return empty string in this case. It is generally a good idea to not throw from `ToString()` under normal circumstances.

E.g. `new AssemblyName().ToString()` returns empty string without throwing too.

[2021-01-15 21:15] jogibear9988 commented on #47059
The Problem is here, how do I know wich of the Metadata references I need to add? Only by trial and error? Do I need to hardcode the names of them via string?

[2021-01-15 21:16] jogibear9988 commented on #47059
BetterWin32Errors is only a sample, my real program uses many more nugets, I can not change all of them

[2021-01-15 21:18] BruceForstall commented on #10314
I don't see any specific, unique work here, so I'm going to close this.

[2021-01-15 21:18] #10314 closed

[2021-01-15 21:34] vcsjones commented on #46585
Hm. It appears I was mistaken exactly as to what this flag does. Policy checking in OpenSSL and Windows appears to be rather different from how it is done in Windows and MacOS.

[2021-01-15 21:52] sywhang opened #47061 "Add diagnostic server command to detect EventSourceSupport feature switch"
If EventSourceSupport feature switch is turned off and EventSource is trimmed, external diagnostic tools can run into issues when trying to consume events from EventSource. This issue tracks the work to make this issue more diagnosable by adding a command in diagnostics server to check if the target app is running with trimmed EventSource.

cc @LakshanF

[2021-01-15 21:56] sywhang opened #47062 "Add a runtime event for detecting EventSourceSwitch turned off"
Related: https://github.com/dotnet/runtime/issues/47061

For ETW/LTTng scenarios - if EventSourceSwitch is turned off, tools that relies on OS-specific tracing mechanisms like ETW/LTTng can't use diagnostics server command to detect that EventSourceSwitch is turned off for a target app.

This issue tracks work for adding a runtime event under the Microsoft-Windows-DotNETRuntime provider that alway

[2021-01-15 21:56] Rodrigo-Andrade commented on #34873
Only getting passed to HttpClient.

[2021-01-15 22:07] samsp-msft commented on #43545
The work from this was refactored into other work items, and so was no longer relevant as the planning node.

[2021-01-15 23:05] AndyAyersMS commented on #46882
A few cases have as many edge probes as block probes, eg `System.Delegate:RemoveAll(System.Delegate,System.Delegate):System.Delegate`
![image - 2021-01-15T144309 653](https://user-images.githubusercontent.com/10121823/104785721-0fd3e300-5740-11eb-963c-eae266e78a02.png)

Critical edge probe density (out of all probes) is around 20%. About 450 methods (out of 11433) have more that 50% of their probe

[2021-01-15 23:08] AndyAyersMS commented on #46882
Given all the above, the first bits of prospecting for efficient edge instrumentation look promising, so I'll start working on actually doing the instrumentation and producing the necessary schema, and from there work on count reconstruction.

[2021-01-15 23:22] ohsorry opened #47066 "meet #25901, Vector2<-->PointF implicit conversion ."
## Background and Motivation
No c# native support, have to write this:
[code]

## Risks
no risks.

[2021-01-15 23:22] pgovind commented on #44676
I took some time this week to prototype this and have a working prototype at https://github.com/dotnet/runtime/pull/47065.

Approaches considered:

1. Duplicating IL as C#
2. Abstraction in RegexCompiler.cs to output C#/IL. For ex: Ldloc(_runtextposLocal) => runtextpos: This would be a more elegant approach, but it is not straightforward to implement. We'd have to come up with a way to locally sto

[2021-01-15 23:25] carlossanlop commented on #45661
Considering the [VSTHRD103](https://github.com/microsoft/vs-threading/blob/master/doc/analyzers/VSTHRD103.md) analyzer already exists, we want to:

- Bring it to the API Proposal meeting to decide if we want to turn it on.
- In Parallel, test it in the dotnet/runtime repo to see how well it performs there. If we find any bugs or unhandled cases, address them.

Now, since this analyzer does not liv

[2021-01-15 23:30] bartonjs commented on #42967
FWIW: If it makes sense to do as an internal analyzer there's nothing in the API review "no" that impedes that.  Once it's done we can then decide that it makes sense as a public analyzer and move the code.

[2021-01-15 23:33] AndyAyersMS commented on #44676
I would also recommend comparing the code the jit produces for any C# based version of a regexp vs the IL version, just to make sure the jit is able to handle them both well.

Direct "diff style" comparison may not be easy, so would suggest initially just looking at very simple examples.

[2021-01-15 23:34] vsfeedback opened #47068 "Reesult of ToString("C") is incomatible in Blazor WebAssembly"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Reesult-of-ToStringC-is-incomatible-/1305101)._

---
In ja-JP culture of .NET F/W and . NET5 in desktop, 123.ToString("C") is "\123", but in Blazor WebAssembly, 123.ToString("C") is "￥123".

System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("ja-

[2021-01-15 23:34] mkArtakMSFT commented on #47068
@lewing FYI.

[2021-01-15 23:48] tarekgh commented on #47068
I assume this is flipped statement. I am seeing .NET 5.0 is successfully returning `￥123` which is the expected result.

[2021-01-16 00:45] adegeo commented on #40331
This warning has been published.

[2021-01-16 00:53] #1360 closed

[2021-01-16 01:25] richlander commented on #44897
I understand that people want Apple M1 support now/yesterday. We're working as quickly as we can. I'm hoping that the experience is fully functional and stable by about .NET 6.0 Preview 4. Some of the Apple M1 chip characteristics have required us to make significant changes, above and beyond our existing quite functional Arm64 support. It's possible that other development platforms had fewer chan

[2021-01-16 01:26] davidfowl opened #47071 "Consider using splice(2) to optimize NetworkStream.CopyToAsync"
This [blog post](https://blog.cloudflare.com/sockmap-tcp-splicing-of-the-future/) outlines various techniques for proxying content from one socket to another and one such option is using the [splice(2)](https://man7.org/linux/man-pages/man2/splice.2.html) system call.

We could perform this optimization for example with `NetworkStream` in CopyToAsync if the target is a `NetworkStream` (and the soc

[2021-01-16 02:55] terrajobst commented on #42967
Right, but the attribute is viral and the leaf nodes are public APIs...

[2021-01-16 03:51] GiorgioG commented on #44897
@richlander We all appreciate the effort and difficulty in getting .NET Core fully supported on M1, but waiting until November is completely unrealistic for folks who need to ship code.

.NET has a big perception problem in the open source / startup community where it's seen as a framework/system for large enterprises. With .NET Core Microsoft has made huge inroads in changing that perception, but

[2021-01-16 04:09] ilushka85 commented on #44897
@richlander  why not attempt to prioritize even a beta 5.0 version with support for m1?  I think @GiorgioG comments highlight some of the recent issues with inroads and backwardness in .net with the move to 5.0 and even azure alignment.

.Net 5 was released in December and yet there is still no support in Azure Functions for it.  You would think that the alignment of .net / functions / Microsoft /

[2021-01-16 04:25] sandreenko commented on #44897
Build your apps with the master branch and ship them as self-contained? Btw why do you need native support if apple's emulator is great?

[2021-01-16 04:31] ilushka85 commented on #44897
Is this a real response?  Most of us are developers and trying to use these machines for development.  Apples great emulator until beta 2 a couple of days ago didn't even work with .net for starters.  Second of all while rosetta two works "great" its still not anywhere near native speed especially for jit apps like .net / java.  The performance is staggering and makes working as a developer in .ne

[2021-01-16 04:35] GiorgioG commented on #44897
I'd be happy if .NET Core worked in any fashion in the short term. But I do need .NET Core to work for development on M1 machines.

[2021-01-16 04:54] AArnott commented on #45661
From past discussions on this question, the preferred path is for dotnet to take a copy of the analyzer source code, change its ID to match your scheme, and continue to develop it. When dotnet's copy is publicly available via nuget package, we would consider removing the original one from vs-threading.

As far as its "completion" state, we were quite happy with it. There are [a few open issues](ht

[2021-01-16 05:53] MCCshreyas opened #47075 "Error while building runtime repository"
Hi there, I am following these instructions on this page (https://github.com/dotnet/runtime/blob/master/docs/workflow/README.md) to build a repo from the source.
Am getting following error when I execute following command
[code]
Error log (runtime\artifacts\log\Debug\CoreCLR_windows__x64__Debug.err)
[code]
It seems like it's a compilation error from `cpp` files
I have installed all pre-requisites

[2021-01-16 06:06] danmosemsft commented on #47059
Does just netstandard alone work?

[2021-01-16 06:09] srxqds opened #47076 "what are the difference among coop, hybrid and preemptive of thread suspend in monovm?"
why introduce these three mode and what difference?

[2021-01-16 06:09] jogibear9988 commented on #47059
what do you mean?
my project is net5, what should be only „netstandard“?

[2021-01-16 06:14] danmosemsft commented on #47005
@alishchytovych can this be closed then?

[2021-01-16 06:20] lateapexearlyspeed commented on #44801
Hi @eiriktsarpalis, this was assigned to you but mark as up for grabs, so not sure can external guys pick to implement or not?

[2021-01-16 06:21] danmosemsft commented on #46987
How exactly are you building (starting from clean repo) and against which tag/branch? I am not sure what we are doing differently to you.

[2021-01-16 06:30] danmosemsft commented on #46922
@lx4556332 I believe we need the sample inputs (nothing confidential of course)

Also could you please use triple back ticks to format your code to make it a bit easier to read? This has an example
https://guides.github.com/features/mastering-markdown/

[2021-01-16 06:43] #47005 closed

[2021-01-16 07:17] danmosemsft commented on #46829
Win32Exception as designed does not attempt to map system codes to HRESULTs (using eg HRESULT_FROM_WIN32). As you saw its HRESULT is always E_FAIL unless set otherwise. I do not know whether that was a choice or an oversight back in.NEt 1.0. Regardless I expect changing that now would be unacceptably breaking. Feel free to open issue or PR in dotnet-api-docs if necessary.

HRESULTs also aren't rel

[2021-01-16 07:25] danmosemsft commented on #46946
Is `liblibSystem` above just a typo, or the actual message?

[2021-01-16 07:29] #46800 closed

[2021-01-16 07:33] danmosemsft commented on #47059
What error message do you get, when only referencing netstandard?

[2021-01-16 08:11] waf commented on #47029
@ericstj Hi, appreciate you taking a look into this. I'm sure the app is at fault here, rather than the runtime. As background, the app is a REPL for C#, and heavily uses the Roslyn APIs.

It ultimately needs the assemblies to pass into the following two Roslyn APIs:

1. The Roslyn `ScriptOptions` - Runtime evaluation with the Roslyn Scripting APIs (e.g. `CSharpScript`). This drives the core of th

[2021-01-16 08:34] marek-safar commented on #42967
Most PNSE in runtime are one liners and I think it's going to stay this way. I cannot tell how many are going to be added (wild guess between 10 and 100) but it won't be zero in every upcoming release.

[2021-01-16 08:34] zhoujit opened #47077 "IndexOf result"
int idx3 = "a\r\nb".IndexOf("\n");

Above statement returns -1.

OS: Ubuntu/WSL2
Version: .NET 5

[2021-01-16 09:16] huoyaoyuan commented on #47077
Duplicate of #43736

[2021-01-16 09:44] broudy3 commented on #36748
I assume that [libunwind](https://github.com/libunwind/libunwind) needs to be ported first to RISC-V, as coreclr depends on this library. Is this statement true? There is a closed port request libunwind/libunwind#99

[2021-01-16 09:53] drieseng commented on #45230
@KvanTTT This one can be closed, right?

[2021-01-16 10:19] ahdung commented on #46910
@karelz My English is not good, I try to understand what you mean, please point out if there is any misunderstanding.

Regarding `WebRequest`, i hope don't obsolete it, although it has some issues now. i believe that many old apps still dependent it, this is absolutely a major breaking change, please be cautious.

Regarding `DefaultProxy`, it can be changed, that is not a problem in my opinion, li

[2021-01-16 10:30] #45230 closed

[2021-01-16 11:01] njlr commented on #46946
I copy-pasted all of the messages from the terminal, so should be real

[2021-01-16 11:02] njlr commented on #46946
I should also mention that this dual `5.0` / `3.1` setup is quite common because F# tooling (e.g. Ionide) has moved to `5.0` but AWS and other services are still on the last LTS version `3.1`.

[2021-01-16 11:08] gfoidl commented on #45290
@bartonjs did you copy the wrong overloads? These are already here: https://github.com/dotnet/runtime/blob/5078dd61a81c88dbdd131a77b8148b4dee3803fa/src/libraries/Microsoft.Extensions.Logging.Abstractions/src/LoggerMessage.cs#L151 (except the nullability on Exception) and miss the proposed argument `skipEnabledCheck`.

What about the overload that doesn't take any `T1...T6`? https://github.com/dotn

[2021-01-16 12:22] stephentoub commented on #47071
Certainly interesting to experiment with.

My understanding is splice doesn't actually work socket to socket,  but rather requires one of the ends to be a pipe.  That has a downside of requiring a pipe be created, and could be prohibitive for very small data,  but it also means potentially the approach could be generalized a bit more to allow integration with other stream types. In theory SocketsH

[2021-01-16 12:40] jogibear9988 commented on #47059
this one (sorry it's a german windows)

(8,31): error CS0012: Der Typ "Enum" ist in einer nicht referenzierten Assembly definiert. Fügen Sie einen Verweis auf die Assembly "System.Runtime, Version=4.0.20.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" hinzu.

but why do I also need to add netstandard? If I compile in vs, and add a reference to that lib, i also don't need to do more. it resolv

[2021-01-16 12:46] eddynaka opened #47079 "Is it possible to discover if pdb is full or portable using MetadataReader?"
Hi,

I would like to check if is possible to know if a pdb is full or portable using MetadataReader.

For example, if the pdb is full, I can see that that are flags that does not show correctly. But, if the pdb is portable i can see everything correctly. So, I would need some way to distinguish between a full vs portable pdb.

Thank you.

[2021-01-16 13:28] lambdageek commented on #47076
There's a description of some of this over at https://www.mono-project.com/docs/advanced/runtime/docs/coop-suspend/

The basic problem is that when the runtime needs to stop threads (for example at some steps during GC) there are two general approaches:
* Preemptive - the runtime sends a signal to the thread and the signal handler for the thread puts it to sleep until it gets a resume signal. (or

[2021-01-16 13:46] lambdageek opened #47080 "Mono WebAssembly AOT asserts if hybrid or cooperative suspend is used"
Build mono for WebAssembly, but set the suspend mechanism to `hybrid` or `cooperative`.  Then run an AOT compilation.  The runtime will assert at

https://github.com/dotnet/runtime/blob/ea4f5f2c501599b9397d14274bbfe5513b0ff03b/src/mono/mono/mini/mini.c#L2871

Because `mini_safepoints_enabled` is just:

[code]

but the `insert_safepoint` function is called when `mono_threads_are_safepoints_enabled(

[2021-01-16 15:39] gerhard17 opened #47082 "Unsafe cast confuses JIT Inline Optimizer"
**Version Used**: NET5

Not a hard bug - the suboptimal code is still logical correct.

**Steps to Reproduce**:

Compiler settings
[code]

Assume following example (stripped down from real source code) which should load a struct with a kind of literal value.
In the Test() method, three variables x, y, z are initialized with 1.0, 2.0 and 1.0 again.

[code]

Case 1: When you compile to a optimized r

[2021-01-16 16:22] danmosemsft commented on #47059
@ericstj shouldnt type forwarding be avoiding this?

[2021-01-16 16:36] vcsjones commented on #46922
@danmosemsft

I think we / I have everything now, just haven't had a minute to look, but will soon.

[2021-01-16 16:56] jeffschwMSFT commented on #47077
Closing per #43736

[2021-01-16 16:56] #47077 closed

[2021-01-16 17:27] iSazonov commented on #37301
I wonder how you weight this:
1. There is two code paths which contradict each other
2. There is a clear performance issue
3. Finally, it's just bad design, even wrong

[2021-01-16 18:52] #46594 closed

[2021-01-16 18:52] stephentoub commented on #26741
If I'm understanding the current implementation correctly, I think it's producing 31 bits... ish, in that it's producing a value in the range [0, int.MaxValue).

[2021-01-16 19:59] ericstj commented on #47059
Indeed, this is happening because of missing typeforwards. Those are provided in Sysytem.Runtime and netstandard in this case.  Those are needed in order to resolve the types in other assemblies (eg: the nuget packages).  It appears automatic in VS because MSBuild automatically references everything from the targeting pack when calling the compiler. You are calling the compiler yourself so you nee

[2021-01-16 20:13] jayoungers commented on #46920
Is this documentation incorrect?
https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-supported-collection-types?pivots=dotnet-5-0

I've created a simple class that implements `IReadOnlyList<T>`, and based on that documentaiton it should be de-serializable; however, I'm getting this same message.

It's a bit frustrating that all of the `System.Text.Json.Serialization.Con

[2021-01-16 20:40] jogibear9988 commented on #47059
is there a way i can use the same logic as msbuild does while using roslyn compiler internal in my application?

[2021-01-16 20:41] jogibear9988 commented on #47059
does thos mean I need the sdk version of netcore on my customers side, or is the runtime still enough?

[2021-01-16 20:48] EgorBo commented on #47082
I can repro this on [sharplab.io](https://sharplab.io/#v2:C4LghgzgtgPgAgJgIwFgBQcAMACOSB0ASgK4B2wAllAKb4DCA9lAA4UA21ATgMpcBuFAMbUIAbnTo4AZmwRgnYoODYAsgE9u8xcHQBvdAEhp2YmwakA5tgCCmADQ2kD6wmdTxaIzNPmrAIXtsPycg1yD3dABfCQwZCGowDgATXARsABURYDpIaj10bELUhAKi/TQiyoysgAoASg9K6IqiwwBtFWpgAAsGJIBJFjYazp6+weY2AHlmSnMIfGsLC04RCAo+an7SNgpSPYs6gF1DYzwANlwAFmwAGQYwAZ296hqGYmV1TQUlbFWIUzABw+SzYPiJYjUOrYcoGAz/QHYAC

[2021-01-16 21:17] AaronRobinsonMSFT commented on #46838
@jkoritzinsky We should have a link to how we define blittable here. The [official definition](https://docs.microsoft.com/dotnet/framework/interop/blittable-and-non-blittable-types) has the following section we should confirm we want to continue:

Is supporting both value types and classes what we want in this model? Do we have a justification to support marking classes blittable? Experience tells

[2021-01-16 22:15] SingleAccretion commented on #47082
Interesting, this reproduces for me on the latest master (c7fda3b94a50297e6ece9db4ddc79ed039394dd3).
[code]
At this point I am not sure as I was initially testing against ef73cd93d5ab98b516d9ba68a6a6220f62010174, which _does_ include the jump threading commit.

FWIW, here's my original analysis:

So, the elimination of redundant initialization is performed in `Compiler::optRemoveRedundantZeroInits

[2021-01-16 22:35] danmosemsft commented on #43313
I think the "liblib" prefix in the error message is misleading as it looks like a bug. Eg., in https://github.com/dotnet/runtime/issues/46946
[code]
In this case we're trying to load `libSystem.Security.Cryptography.Native.OpenSsl` (one lib) and it's not present, which causes this "liblib" message.
If it's just one of the things we try, perhaps we should be logging the "original" and not one of ou

[2021-01-16 22:41] danmosemsft commented on #46946
Looks like it's just because when we can't find the specified name, we try [variations](https://github.com/dotnet/runtime/issues/43313#issuecomment-754976207), and the error ends up using the last failed one.

[2021-01-16 22:54] rathga opened #47178 "Json MVC model binding should have an option to respect non-nullable reference types when they are used"
## Summary

When deserializing Json to DTOs in MVC model binding, for non-nullable value type members null Json values are rejected, a nice error message is added to ModelState and a 400 error returned.  However, for non-nullable reference types null values are let through which can then trip ArgumentNullExceptions in object constructors or property setters leading to a more cryptic 500 error rath

[2021-01-16 22:58] danmosemsft commented on #45454
We should at some point reduce the two zlibs in our tree to a single copy. Looks like they're identical versions, but the libraries one has some extra files.

[2021-01-16 23:31] jeffhandley commented on #37301
@iSazonov Thanks for the comment and feedback. The priority is based on our overall themes and the relative priority of fixing this issue compared to completing other items that the team is committing to for 6.0.0. Even with `Priority:3`, our project plan includes time to work on this issue during the 6.0.0 release cycle.

[2021-01-16 23:32] vcsjones commented on #46922
The issue with 2.2 is the way that it handles the buffer size calculation when given the input array is larger than expected. Even though you are specifying an offset and length, it is not handled correctly in 2.2.

As a work around, if you copy the input data to an array that is at most the size of the data being transformed, I believe it will work. Perhaps something like this:

[code]

The best

[2021-01-16 23:43] danmosemsft commented on #45454
For my own reference, here's what we have in the repo currently:

src\libraries\Native\Windows\System.IO.Compression.Native\zlib
from https://github.com/madler/zlib/releases/tag/v1.2.11 (latest - Jan 2017)
Used for Arm and Arm64.

src\mono\mono\zlib
same code as above. I think this is not used in this repo. It is used by by S.IO.C in mono/mono

src\libraries\Native\Windows\System.IO.Compression.Na

[2021-01-17 00:06] danmosemsft commented on #46901
I do wonder whether instead of
`[ObsoleteAttribute("This property has been deprecated.  Please use System.Diagnostics.Process.WorkingSet64 instead. ...`
which sounds like a "eh, but ideally you wouldn't use me" it should be something more blunt like
`[ObsoleteAttribute("This property may return incorrect results. Please use System.Diagnostics.Process.WorkingSet64 instead...`

[2021-01-17 04:10] NewellClark commented on #33789
I would like to be assigned to this issue.

[2021-01-17 04:19] AaronRobinsonMSFT commented on #46880
/cc @vitek-karas

[2021-01-17 04:35] danmoseley opened #47087 "Wire up setting native thread name for macOS"
Setting the Name of a managed Thread will also set it on the backing OS thread in Linux and Windows if possible and (if Mono) on macOS. This is nice when looking at native debuggers and tools such as htop.

It would be nice if this was also wired up for macOS for CoreCLR, essentially use a define to call the macOS variant of pthread_setname_np [here](https://github.com/dotnet/runtime/blob/69e114c1

[2021-01-17 06:02] briansull commented on #46529
@EgorBo You have a reasonable fox for this issue.
I will reassign this issue to you.

[2021-01-17 08:33] ayende commented on #16354
It is allowed to have multiple concurrent `ReadAsync` ?

On `Unix`, it looks like there is a semaphore for it:

https://github.com/dotnet/runtime/blob/c7fda3b94a50297e6ece9db4ddc79ed039394dd3/src/libraries/System.Private.CoreLib/src/System/IO/FileStream.Unix.cs#L523-L530

So that will ensure that the position is changed in step. That make me think that on Linux, you can just drop this (assuming th

[2021-01-17 08:49] danmosemsft commented on #33789
It won't let me assign you for some reason but consider it yours!

[2021-01-17 09:22] mayorovp commented on #46974
MCVE:

[code]

[2021-01-17 09:46] christiannagel commented on #46920
Thanks for the information and the link @jayoungers - I missed this documentation.

The list of types and interfaces here https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-supported-collection-types?pivots=dotnet-5-0#systemcollectionsgeneric-namespace only list the members that are serializable (including `IReadOnlyList<T>`.

With the section on custom collections, `I

[2021-01-17 15:18] CreateAndInject opened #47090 "Why we need Type.op_Equality?"
On .NET 2.0, if we compare two types by `==`, it will call `object.Equals`, but from .NET 4.0, it will call `Type.op_Equality`.
So, why we need `Type.op_Equality`? Is one type can have two instances?
This blocks us from using `C#9 Record Types` on .NET 2.0 (CS0656)

[2021-01-17 15:49] svick commented on #47090
I don't know why this change was made, but [C# 9 is only officially supported on .Net 5](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/configure-language-version?WT.mc_id=DOP-MVP-5002735), so I doubt you're going to get much help with trying to make it work on something as ancient as .Net Framework 2.0.

[2021-01-17 16:00] CreateAndInject commented on #47090
@svick We can use `<LangVersion>latest</LangVersion>` to support C#9 on .NET Framework 2.0-4.8.
And we can add following code to support init-only setter
[code]

But `Type.op_Equality` blocks us from using `C#9 Record Types` on .NET 2.0 (CS0656), so I want to know, why we need this method? Is the result different from `object.Equals`?

[2021-01-17 16:08] SingleAccretion commented on #47090
Hmm, that's interesting. It doesn't call `object.ReferenceEquals`, but specifically `object.Equals`?

[2021-01-17 16:10] huoyaoyuan commented on #47090
It should call `object.op_Equality`, which calls `ReferenceEquals`. `object.Equals` isn't called.

[2021-01-17 16:11] SingleAccretion commented on #47090
Right, that was my suspicion as well. Because that and https://docs.microsoft.com/en-us/dotnet/framework/interop/type-equivalence-and-embedded-interop-types would explain this.

[2021-01-17 16:14] CreateAndInject commented on #47090
I test it: .NET 2.0 use `ceq` which is equal to `ReferenceEquals`

[2021-01-17 16:17] jayoungers commented on #46920
@christiannagel - regarding the `public` vs `internal` part, I ended up pulling it from the `JsonSerializerOptions`, which may have been the intended route:  I'm not sure I could have simplified this more if I had direct access to the internal converter.

My collection class is `RecordArray<T>`:

[code]

[2021-01-17 16:28] CreateAndInject commented on #47090
@SingleAccretion I had read [this article](https://docs.microsoft.com/en-us/dotnet/framework/interop/type-equivalence-and-embedded-interop-types), but today I didn't remember it. I agree with you : this should be the reason.

[2021-01-17 16:28] #47090 closed

[2021-01-17 17:09] MaxDZ8 commented on #33417
Some feedback.

I've just decided to not use `UdpClient` and prefer `Socket`. I've spent a while reading all the various discussions about its functionalities relating especially to cancellation. The provided value is unclear to me. I dream of a day those things will be at least deprecated but with .NET 5 out of the door I guess this will remain my fantasy.

I agree and support.

The choice I made

[2021-01-17 18:04] rseanhall commented on #46880
Actually, is a feature switch the right answer here? Other feature switches seem to be for situations where the linker needs help in order to trim something, but the problem here is that it's trimming too much.

It seems like there needs to be a new attribute that gets put on a method that is called through `GetFunctionPointer` so that the linker knows not to trim:
1. that method and
1. the delega

[2021-01-17 18:35] CincySteve commented on #45363
Can someone let me know what, if anything, is planned for this issue?  How long might it remain "untriaged?"  Thanks.

[2021-01-17 19:01] CincySteve commented on #45104
Just upgraded VS to v16.8.4 and confirmed that I am still experiencing this issue.  Any news?

[2021-01-17 19:42] CoffeeFlux commented on #45363
cc: @lewing

[2021-01-17 20:32] aaronfranke commented on #44931
@danmosemsft This issue is labeled `* NO MERGE *` but in #43313 it says "Support compilation targeting osx-arm64" and the box is checked. So this has already been merged, and should be fixed soon before it's too late.

[2021-01-17 20:35] VSadov commented on #47016
Is anyone working on making a fix for this? (or #38974, which seems the same issue)
I'd be interested to take a look.

[2021-01-17 20:51] vcsjones commented on #46672
@korny86 just to follow up on the 5.0 port, it looks like the fix will land in 5.0.3.

[2021-01-17 21:30] jkotas commented on #47016
I do not think anybody is working on it. It would great if you can pick it up. Thank you!

[2021-01-17 22:39] En3Tho commented on #45363
@CincySteve What kind of action do you expect? It's known that Blazor is utilizing interpreter now, thus perf degradation is expected. Net6 is going to bring AOT wasm compilation. That will most probably cure perf problems you're experiencing.

[2021-01-17 23:01] CarnaViire opened #47091 "Add API to provide existing DI scope to HttpClientFactory"
## Background and Motivation

`HttpClientFactory` allows users to register one or several `HttpClient` configurations in DI container and then instantiate `HttpClient`s according to the respective configuration.  A configuration can specify that `HttpClient` should use a specific `HttpMessageHandler` or even a chain of such handlers. When creating a client, `HttpClientFactory` caches and reuses `H

[2021-01-17 23:06] CincySteve commented on #45363
@En3Tho Your response seems to answer my questions.  You believe that my perf difference is due to interpretation.  AOT will "most probably cure perf problems" (without guarantees, of course).  And since AOT is a .Net6 thing, the timing won't be until November, 2021 if I'm recalling correctly.  Unfortunate, but I understand the list of Blazor needs is long.

[2021-01-17 23:12] mangod9 commented on #47016
@VSadov I had been working on a possible fix which I have just pushed here: https://github.com/mangod9/runtime/commits/gh38974. It isnt complete yet (need to figure out how to correctly delete the allocated Context) , so please take a look if thats viable. You are probably in a better position to fix than me :)

[2021-01-17 23:38] EatonZ opened #47092 "HTTP/2 - Large download speed is dramatically slower than HTTP/1.1"
### Description

When downloading a large (100 MB) file via a `HttpClient` configured for HTTP/2, the download speed is a fraction of HTTP/1.1 speeds.

### Configuration

My network speed: 250 mbps (both ways, fiber)

Benchmark code. It is configured for HTTP/2. To configure for HTTP/1.1, replace `RequestVersionOrHigher` with `RequestVersionOrLower`.

[code]

### Data

**HTTP/1.1 benchmark test:**

[2021-01-17 23:39] iwis commented on #45363
@CincySteve  I found a speed comparison of: Blazor WebAssembly, the current implementation of Blazor WebAssembly AOT, C# running outside the browser, and JavaScript: https://csharp-wasm-benchmark.acmion.com/. Reddit discussion is [here](https://www.reddit.com/r/Blazor/comments/kp1all/c_wasm_benchmark_c_wasm_aot_vs_c_wasm_interpreted/).

I think that it may be helpful in answering some of your ques

[2021-01-18 00:17] danmosemsft commented on #44931
Thanks for pointing that out. As much as it's not ideal as is, I expect doing this would require cutting work in other places including NuGet. Could you say a little more about what you believe the relative priority of this should be and why?

Cc @terrajobst @richlander @wfurt @sdmaclea

[2021-01-18 00:31] EatonZ commented on #47092
Interesting observation. When specifying `HttpCompletionOption.ResponseHeadersRead` and reading the response stream manually, it ends of reading in a lot more chunks: https://pastebin.com/kbxrjkwm

Compared to HTTP/1.1: https://pastebin.com/hfArNs5y

Maybe HTTP/1.1 is faster because it completes the read in larger/less chunks. Unfortunately it doesn't want to read in my large buffer size - it seem

[2021-01-18 00:41] aaronfranke commented on #44931
@danmosemsft The issue is that the longer we wait the bigger the potential breakage is. Since .NET 6 introduces new names (the mentioned inaccurate `osx-arm64`), the optimal strategy is to use the correct names from the start, and then the only breakages that have to be worried about are with the existing code. So I think this should be solved before .NET 6 is in preview; if .NET 6 follows [a simi

[2021-01-18 00:50] VSadov commented on #47016
@mangod9 Thanks! I will try using your changes as a starting point. It looks like a plausible direction, although I did not get into every detail yet.

[2021-01-18 00:55] mangod9 commented on #47016
yup sounds good. I have validated that the fix works for the simplified repro from Jan above, just need to ensure that the allocation is ok at that spot and cause no leaks. I have left comments on the commit as such. Thx.

[2021-01-18 01:34] danmosemsft commented on #44931
Cc @ericstj @marek-safar

[2021-01-18 01:44] VincentBu commented on #46803
Fail again in [runtime 20210116.4](https://dev.azure.com/dnceng/public/_build/results?buildId=954283&view=ms.vss-test-web.build-test-results-tab)
Failed tests:
[code]
Error messages:
[code]

[2021-01-18 01:57] VincentBu opened #47094 "Assertion failed 'paddingToAdd == paddingNeeded'"
Job : [runtime-coreclr jitstressregs 20210117.1](https://dev.azure.com/dnceng/public/_build/results?buildId=954707&view=results)

Failed test :
[code]
Part of error message:
[code]

[2021-01-18 02:01] lx4556332 commented on #46922
谢谢你的解答，它工作了

[2021-01-18 02:02] #46922 closed

[2021-01-18 02:05] VincentBu opened #47095 "Assertion failed: 'isRegAvailable(reg, physRegRecord->registerType)'"
Job : [runtime-coreclr jitstressregs 20210117.1](https://dev.azure.com/dnceng/public/_build/results?buildId=954707&view=ms.vss-test-web.build-test-results-tab)

Failed tests:
[code]

Error message:
[code]

[2021-01-18 02:10] VincentBu opened #47096 "Test failed: baseservices/exceptions/simple/ParallelCrashWorkerThreads/ParallelCrashWorkerThreads.sh"
Job : [runtime-coreclr jitstressregs 20210117.1](https://dev.azure.com/dnceng/public/_build/results?buildId=954707&view=results)

Failed test :
[code]
Error message:
[code]

[2021-01-18 02:10] jiangzeng01 commented on #47029
@ericstj Can we confirm this issue as app issue but not a product issue?

[2021-01-18 02:21] VincentBu opened #47097 "Test failed: baseservices/exceptions/simple/ParallelCrash/ParallelCrash.sh"
Job: [runtime-coreclr jitstress2-jitstressregs 20210117.1](https://dev.azure.com/dnceng/public/_build/results?buildId=954780&view=ms.vss-test-web.build-test-results-tab)

Failed tests:
[code]

Error message:
[code]

[2021-01-18 02:24] VincentBu commented on #47095
Also failed:
Job: [runtime-coreclr jitstress2-jitstressregs 20210117.1](https://dev.azure.com/dnceng/public/_build/results?buildId=954780&view=ms.vss-test-web.build-test-results-tab)

Failed Tests:
[code]

Error message:
[code]

[2021-01-18 02:36] VincentBu opened #47098 "Test failed: profiler/unittest/releaseondetach/releaseondetach.sh"
Job : [runtime-coreclr gcstress0x3-gcstress0xc 20210117.1](https://dev.azure.com/dnceng/public/_build/results?buildId=954737&view=ms.vss-test-web.build-test-results-tab)

Failed tests:
[code]

Error message:
[code]

[2021-01-18 02:41] benaadams commented on #47016
Will this also effect the `SequenceEquals` in `System.Memory` on .NET Framework? i.e.. will that also be affected by the memcpy changes in CRT?

[2021-01-18 02:41] VincentBu commented on #46279
Failed again in job [runtime-coreclr gcstress0x3-gcstress0xc 20210117.1](https://dev.azure.com/dnceng/public/_build/results?buildId=954737&view=ms.vss-test-web.build-test-results-tab)

Failed test :
[code]
Error message:
[code]

[2021-01-18 02:57] VincentBu opened #47099 "Test failed: Regressions\\coreclr\\GitHub_22348\\Test22348\\Test22348.cmd"
Job : [runtime-coreclr gcstress-extra 20210116.1](https://dev.azure.com/dnceng/public/_build/results?buildId=954533&view=ms.vss-test-web.build-test-results-tab)

Failed tests:
[code]

Error message:
[code]

[2021-01-18 03:03] VincentBu commented on #44275
Also failed in:
Job : [runtime-coreclr gcstress-extra 20210116.1](https://dev.azure.com/dnceng/public/_build/results?buildId=954533&view=ms.vss-test-web.build-test-results-tab&runId=30119990&paneView=attachments&resultId=109016)

Failed tests:
[code]

Error message:
[code]

[2021-01-18 03:06] VincentBu commented on #46023
Also failed in:
Job : [runtime-coreclr gcstress-extra 20210116.1](https://dev.azure.com/dnceng/public/_build/results?buildId=954533&view=ms.vss-test-web.build-test-results-tab&runId=30119792&paneView=attachments&resultId=108163)

Test failed:
[code]

Error message:
[code]

[2021-01-18 03:08] VincentBu commented on #40965
Also failed in:
Job : [runtime-coreclr gcstress-extra 20210116.1](https://dev.azure.com/dnceng/public/_build/results?buildId=954533&view=ms.vss-test-web.build-test-results-tab)

Test failed:
[code]

Error message:
[code]

[2021-01-18 03:23] danmosemsft commented on #46516
https://engsrvprod.kusto.windows.net/engineeringdata?query=H4sIAAAAAAAEAG2ST0vDQBDF74V%2bh7GnFLZtGouCGA%2bKQj0I%2fsOjbLNjs22yW3Y2NBE%2fvNNGu5GaQwIzu%2b%2f95k3erFvPPZYE%2fd5k8gXbHB3CnTaaclSQpqCkR69LjJI4iUfTZDQ9h3h2kSQXs3icnM5ifob93tHVKzB2G43OYjUEaVRoXLaNKdf%2fmjqNRhXNgywRyEvnaat9DoPnhphwPOiYdI8y4%2b%2bRF6z9%2bAmXVSHdbb1xSKStIa6Tp0HX7LbW%2fsYqhJM0DrqPFVZ45F8tKuOrvf3KagNrbVSqjUEH93ZBYM3uO1dB59pJk%2bV

[2021-01-18 03:31] VincentBu opened #47101 "Test failed: JIT\\Directed\\cmov\\Float_And_Op_cs_ro\\Float_And_Op_cs_ro.cmd"
Job: [runtime-coreclr r2r-extra 20210116.1](https://dev.azure.com/dnceng/public/_build/results?buildId=954601&view=ms.vss-test-web.build-test-results-tab&runId=30120948&paneView=attachments&resultId=107642)

Failed tests:
[code]

Error message:
[code]

[2021-01-18 03:47] sdmaclea commented on #44931
We will probably need to create `macos` & `macos-*` as an alias for `osx` & `osx-*`.  I am not sure `osx-arm64` makes the situation any worse as we would probably want to keep things symmetrical.

[2021-01-18 04:30] danmosemsft commented on #38756
Seems indeed to be fixed by the repaving.

[2021-01-18 04:44] KirillOsenkov commented on #47024
Binlogs uploaded by Tom are on corpnet at:
kirillo2\public\Bugs\runtime47024

[2021-01-18 04:56] danmosemsft commented on #47094
[code]

https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-a7ab659486744286af/System.Collections.Tests/console.8126f33e.log?sv=2019-07-07&se=2021-02-06T07%3A44%3A02Z&sr=c&sp=rl&sig=%2B3OjyHflp76my8yr6R5LOnyMZhn8z1g97ZEJjIiyqxE%3D

[2021-01-18 05:06] danmosemsft commented on #30056
It is happening ~8 times a month, across all macOS versions...
[code]

[2021-01-18 05:11] danmosemsft commented on #33509
This sometimes happens in our test runs eg
https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-0f4db9e2139448f6a5/System.Net.Http.WinHttpHandler.Functional.Tests/console.32654000.log?sv=2019-07-07&se=2021-01-31T12%3A03%3A10Z&sr=c&sp=rl&sig=vdkLzE7tu6O1VzWsU%2BY9gjYi%2FuK3I1KUa8giFp3UUaA%3D
[code]
on windows.10.amd64.server20h1.open.rt.

This observation may not

[2021-01-18 05:16] VincentBu commented on #42613
Failed again in job [runtime-libraries-coreclr outerloop 20210117.2](https://dev.azure.com/dnceng/public/_build/results?buildId=954714&view=ms.vss-test-web.build-test-results-tab&runId=30122616&paneView=debug&resultId=102258)

Failed tests:
[code]

Error message:
[code]

[2021-01-18 05:16] VincentBu opened #47103 "Test failed: System.Net.NameResolution.Tests.GetHostEntryTest.DnsGetHostEntry_LocalHost_AddressFamilySpecific"
Job: [runtime-libraries-coreclr outerloop 20210117.2](https://dev.azure.com/dnceng/public/_build/results?buildId=954714&view=ms.vss-test-web.build-test-results-tab&runId=30122550&paneView=debug&resultId=102125)

Failed tests:
[code]

Error message:
[code]

[2021-01-18 05:16] VincentBu commented on #46619
Failed again in job:  [runtime-libraries-coreclr outerloop 20210117.2](https://dev.azure.com/dnceng/public/_build/results?buildId=954714&view=ms.vss-test-web.build-test-results-tab&runId=30122654&paneView=debug&resultId=101962)

Failed tests:
[code]

Error message:
[code]

[2021-01-18 05:17] VincentBu commented on #43207
Failed again in job: [runtime-libraries-coreclr outerloop 20210117.2](https://dev.azure.com/dnceng/public/_build/results?buildId=954714&view=ms.vss-test-web.build-test-results-tab&runId=30122654&paneView=work-items&resultId=104003)

Failed tests:
[code]

Error message:
[code]

[2021-01-18 05:23] VincentBu opened #47104 "Test failed: System.Net.NameResolution.Tests.LoggingTest.GetHostEntryAsync_InvalidHost_LogsError"
Job: [runtime-coreclr libraries-jitstress 20210116.1](https://dev.azure.com/dnceng/public/_build/results?buildId=954677&view=ms.vss-test-web.build-test-results-tab&runId=30122164&resultId=151744&paneView=debug)

Failed tests:
[code]

Error message:
[code]

[2021-01-18 06:08] #46782 closed

[2021-01-18 06:45] richlander commented on #44897
Let's test an assumption I have. My assumption is that the vast majority of people using .NET on macOS are building web sites, as opposed to client apps. If folks are building web sites, then .NET 5.0 as-is seems perfectly satisfactory. I agree that it is not awesome, but it hasn't made .NET worse. In fact, if you believe Apple's marketing, it will run better than on x64 machines. If folks have pe

[2021-01-18 06:55] Altair7610 commented on #47035
@wfurt I installed the root CA certficate inside the container and checked it in the certificates list by invoking awk command, but it doesn't change the situation. This call is cross-server and when I removed second service from docker and deployed it to iis everything worked.

[2021-01-18 06:56] En3Tho commented on #45363
@CincySteve Yes You're right. I personally believe Blazor actually needs like 1-2 more years to mature (AOT + more Framework features.. all those routing, generics, nested components improvements etc) Also, WASM too. If calculation time is really noticeable, maybe it's not too unreasonable to actually offload heavy work in JS.

[2021-01-18 07:08] TheFanatr commented on #44931
I think it's also somewhat useful to point out that not only is the operating system no longer called Mac OS X, macOS Big Sur is actually version 11 of the software, as opposed to 10 for the multiple previous macOS releases, so it's incorrect on multiple levels.

[2021-01-18 07:19] jkotas commented on #47016
This potentially affects any code that uses AVX, e.g. any code that uses `Vector<T>` is potentially affected. This will affect .NET Framework once/if the C++ compiler used to build .NET Framework is updated. We will keep that in mind.

[2021-01-18 07:33] merken commented on #44897
@richlander @GiorgioG
Just my opinion, .NET 5 (and even Core 3.1) on Rosetta seems to be an acceptable mitigation in the wait for native support.

About those metrics, please provide some test scenario's/instructions and I'm happy to benchmark between a MBP16 i7 and an MBA M1

[2021-01-18 07:42] MichalStrehovsky commented on #46858
Note that function pointer types in C# are part of C# 9.0 and C# 9.0 is only supported when targeting .NET 5 (see this document for details: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/configure-language-version).

It can be made to work outside .NET 5, but it's an unsupported configuration - so if it doesn't work in a specific environment, you might not be able to get fixes

[2021-01-18 08:06] marek-safar commented on #44931
yep, that's correct, and [current setup](https://github.com/wfurt/runtime/blob/master/src/libraries/pkg/Microsoft.NETCore.Platforms/runtimeGroups.props#L121-L125)

I agree there should be a way to alias OSX to macOS and vice-versa so developers can use both names on CLI and in their projects/NuGets. I don't think we should be pedantic and block osx-arm64 though.

[2021-01-18 08:17] MichalStrehovsky opened #47105 "Blittable interop with "fixed" arrays and pointers"
I was doing interop with a C library that defines data structures along these lines:

[code]

I wanted to define a blittable equivalent in C#.

The usual trick is to define `sg_image_content` as `StructLayout(Explicit, Size = XXX)` and make an indexer that exposes individual elements (similar to how the C# `fixed` array does it). But the problem is that the individual elements have pointers so the

[2021-01-18 08:50] mterhorst opened #47106 "Full AssemblyLoadContext unloading whilst in debug mode"
We use a collectible `AssemblyLoadContext` for loading/unloading plugins.

We delete the plugin folder after the unload, by checking the `WeakReference.IsAlive` that references the `AssemblyLoadContext`.

However, when the Visual Studio debugger on Windows is attached, the deleting of the folder results in a `UnauthorizedAccessException` `Access to the path is denied`.

Consider the following [Gis

[2021-01-18 09:00] ManickaP commented on #47092
This is probably the very same problem as https://github.com/dotnet/runtime/issues/43086.

Could you please confirm it by running the test with wireshark and checking whether [WINDOW_UPDATE](https://httpwg.org/specs/rfc7540.html#WINDOW_UPDATE) frames are sent very often?

If it's the case we should close this one as a dupe.

[2021-01-18 09:05] SommerEngineering opened #47107 "[Documentation] Thread safe methods of HttpClient"
If I have analyzed the code of `HttpClient` correctly (cf. [code](https://github.com/dotnet/runtime/blob/fc3f6f1a053cc8dcfc1d384be205be7d9045afa5/src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.cs#L555)), then the method `PatchAsync` (and all its variants) is/are also thread-safe. However, the [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient?view=

[2021-01-18 09:29] premun commented on #45181
Looks like if the issue for which we're doing retry+reboot happens for `ios run` instead of `ios test` together with `--expecited-exit-code`, we don't get back the right return code and the retry+reboot won't happen. So this needs to be fixed as it happened at least once since the latest fix.

[2021-01-18 09:37] vitek-karas commented on #47106
You can check with for example [Process Explorer](https://docs.microsoft.com/en-us/sysinternals/downloads/process-explorer) it has "Find file handles" function which given the name of the file can tell you which process has it opened. I would guess it's the debugger...
@dotnet/dotnet-diag - do we tell the debugger to close assemblies when they're unloaded?

[2021-01-18 10:09] mterhorst commented on #47106
I checked with Process Explorer and it shows that `devenv.exe` still uses the file after `AssemblyLoadContext.Unload()`.

[2021-01-18 10:17] czdietrich opened #47110 "Question: What does Microsoft.NetCore.Targets actually do?"
I would like to get some information about what this package actually does, how it works and when I do I need to add it to my projects. I didn't find any useful information about it.

We added this package some time ago when migrating over to .NET Core. It was suggested in some blog post to get rid of warnings when building the solution.
Just to get a better understanding what is going on, some mo

[2021-01-18 10:27] vitek-karas commented on #46880
@rseanhall good point - keeping just the `ComponentActivator` is not enough... the called method has to be kept as well.
The delegate is probably something the method would have to add itself since there's no way the tooling can figure out which delegate to pair with the method. But that should be easy enough to do with `DynamicDependency`.

Right now I think the easiest solution is probably to us

[2021-01-18 11:11] janvorli commented on #43349
I've just hit that on Apple Silicon arm64 too, so it doesn't seem to be related to rhel 8. It might be something new on arm64 in general, I'll see if it repros on my Odroid N2.

[2021-01-18 11:14] mcoolidge commented on #44897
FWIW, I was able to debug my asp.net core 3.1 app on M1, but the performance seems to be about 10% as fast as a native x86 system. This is purely from a development perspective and not release performance.

Some observations:
- Build performance is comparable
- Web calls sometime don't return at all until debug is restarted
- Basic API calls take around 10x time to respond (when they do)

If I can

[2021-01-18 11:27] huoyaoyuan commented on #47110
Viewing its content, it only provides `runtimes.json` on older versions. It does nothing on 5.0.0.

It should be used by some toolchain internally, but not directly.

[2021-01-18 11:30] czdietrich commented on #47110
Thank you for your response.

Might it be your answer refers to `Microsoft.NetCore.Platforms` instead of `Microsoft.NetCore.Targets`?

[2021-01-18 11:32] EgorBo commented on #47105
Isn't it better to just wait for https://github.com/dotnet/csharplang/issues/1314
so you will be able to define `fixed sg_subimage_content subimage[SG_CUBEFACE_NUM * SG_MAX_MIPMAPS];` ?

[2021-01-18 11:36] rolfbjarne opened #47112 "iOS: Attempting to JIT compile method '(wrapper dynamic-method) string object:lambda_method1 (System.Runtime.CompilerServices.Closure)' while running in aot-only mode."
### Description

The following code throws an exception at runtime when running on an iOS device:

[code]

Exception:

[code]

Repro:

[code]

[Complete output](https://gist.github.com/rolfbjarne/cdbbf6bbaa568d1dbdcf489d511eaaa2)

### Configuration

.NET 6.0.100-alpha.1.21060.3

Binlog:
[MySingleView.binlog.zip](https://github.com/dotnet/runtime/files/5829922/MySingleView.binlog.zip)

### Regressi

[2021-01-18 11:36] huoyaoyuan commented on #47110
I'm referring to `Microsoft.NetCore.Targets`. I viewed their content of each version in my nuget cache folder.

[2021-01-18 11:41] schalling commented on #30328
Im getting similar deserialization errors as @alexandrvslv
I gave the JsonSerializerOptions.DefaultBufferSize a size of 128Kb. That helped for a few files - but now I have hit a new file that throws an exception. The json object been deserialized i only 21 properties (flat object). We changing buffer sizes the exception changes to where it reached in the file..
I can deserialize the whole file in

[2021-01-18 11:43] czdietrich commented on #47110
Yes, you are right. I did not mention any version. I only checked 3.0.0 and 3.1.0 and those versions do not contain any `runtime.json`, but e.g. 1.1.3 does.

Nevertheless this doesn't seem to be the whole story of this package, since even without `runtime.json` it has influence on the build process and fixes [NU1605](https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu1605).

[2021-01-18 11:50] EgorBo commented on #47112
I suspect `LambdaCompiler` should always prefer interpretation instead of compilation on iOS.

[2021-01-18 11:52] maciejjarzynski opened #47113 "Undocumented breaking change in .NET 5.0 - HashSet moved to another assembly/library"
Hello everyone,
I've stumbled upon a breaking change which as far as I've searched for was not documented anywhere.
It seems that with that pull request https://github.com/dotnet/runtime/pull/37180 `HashSet` was moved from `System.Collections` to `System.Private.CoreLib` library.
Let's say we have a fair big distributed system based on microservices with an immutable events used for a synchronizat

[2021-01-18 11:54] rolfbjarne opened #47114 "iOS: Attempting to JIT compile method '(wrapper dynamic-method) void object:WriteArrayOfintToXml (System.Runtime.Serialization.XmlWriterDelegator,object,System.Runtime.Serialization.XmlObjectSerializerWriteContext,System.Runtime.Serialization.CollectionDataContract)' while running in aot-only mode."
### Description

The following code throws an exception at runtime when running on an iOS device:

[code]

Exception:

[code]

Repro:

[code]

[Complete output](https://gist.github.com/rolfbjarne/ecf64299d14ff91fc1223f29ec6d09f2)

### Configuration

.NET 6.0.100-alpha.1.21060.3

Binlog:
[MySingleView.binlog.zip](https://github.com/dotnet/runtime/files/5829997/MySingleView.binlog.zip)

### Regressi

[2021-01-18 11:58] ASolomatin commented on #45344
Just one next code modification to reproduce on 5.0.2 somesing look likes the same:

[code]

[code]

[2021-01-18 12:02] robertpi commented on #46671
Thanks @davmason ! I did not know about CLRIE and this seems to be exactly what I need. I'm therefore closing this.

[2021-01-18 12:02] #46671 closed

[2021-01-18 12:35] davidfowl commented on #47091
👀

[2021-01-18 12:42] huoyaoyuan commented on #47113
Moving types among assemblies isn't treated as breaking change for common cases. There's `TypeForwardedTo` added.

There are, but not frequently. Types will be moved when the implementation structure requires so.

Such serialization can be more incompatible with .NET Framework, since many types have moved and the corelib name has changed.

[2021-01-18 12:44] ViktorHofer opened #47116 "[browser] System.Composition.AttributeModel.Tests work item failing with OperationCanceledException"
[code]

https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-47100-merge-0bc7cf5303d046d1ac/System.Composition.AttributeModel.Tests/console.93cf64b1.log?sv=2019-07-07&se=2021-02-07T04%3A10%3A08Z&sr=c&sp=rl&sig=DQo6v2%2B7ur46QxSB%2BbZJVy0C0ICY%2ByrlaWP8xoEB1EI%3D

https://dev.azure.com/dnceng/public/_build/results?buildId=954947&view=ms.vss-test-web.build-test-results-tab

[2021-01-18 12:45] ViktorHofer commented on #34015
Happened again in https://dev.azure.com/dnceng/public/_build/results?buildId=954947&view=logs&j=73b7db51-6fbc-594d-25c9-15b2737b0bf6&t=590c8228-c55a-505d-ce75-e0df1b5682ea

[2021-01-18 12:46] brechtvhb opened #47117 "Upgraded to .NET 5 error:14094410:SSL routines:ssl3_read_bytes:sslv3 alert handshake failure while using .NET Core"
### Description

Since upgrading to .NET 5, my HTTP client no longer wants to connect to a legacy service using an (invalid) SSL certificate.
Our code is running within a docker container (linux alpine) on AKS.

### Configuration

Http client configuration

            services
                .AddHttpClient("HttpClientWithSSLUntrusted").ConfigurePrimaryHttpMessageHandler(() => new HttpClientHandl

[2021-01-18 12:47] SergeTartak commented on #46200
Sorry @wfurt. Unfortunately I couldn't do an Install Package with 5.02x. although version 5.0.2 is installed on my computer. The "self-contained package" is being rolled out with version 5.0.1-servicing.20575.16. would be happy to read a detailed guide on how can I deliver my project with the preview version of SDK

[2021-01-18 13:02] maciejjarzynski commented on #47113
If it isn't, I think it should be treated as such.
As per `SemVer` specification:

And of course assembly name for the given type is the public API.

And my question (let me quote myself) was regarding any other such a breaking changes for .NET 5.0 release:

[2021-01-18 13:06] fn2020 opened #47145 "String.IndexOf("\0") returns always 0 in .NET 5.0"
Here's a small example code to reproduce the issue:

`byte[] buf = { (byte)'A', (byte)'B', (byte)'C', (byte)'\0' };`
`string s = Encoding.ASCII.GetString(buf);`
`Console.WriteLine(s.IndexOf("\0")); /* outputs 0 for .NET 5 and 3 for .NET Core 3.1 */ `
`Console.WriteLine(s.IndexOf('\0')); /* outputs 3 for .NET 5 and 3 for .NET Core 3.1 */ `

Ok, it doesn't make much sense to search for "\0\" instead

[2021-01-18 13:17] rolfbjarne opened #47120 "iOS: Attempting to JIT compile method '(wrapper native-to-managed) void System.Net.NetworkInformation.BsdNetworkInterface/<>c__DisplayClass5_0:<GetBsdNetworkInterfaces>b__0 (intptr,Interop/Sys/IpAddressInfo*)' while running in aot-only mode."
### Description

The following code throws an exception at runtime when running on an iOS device:

[code]

Exception:

[code]

Repro:

[code]

[Complete output](https://gist.github.com/rolfbjarne/fea88cdafc1fee4f0c26ea7f93dc1af7)

### Configuration

.NET 6.0.100-alpha.1.21060.3

Binlog:
[MySingleView.binlog.zip](https://github.com/dotnet/runtime/files/5830375/MySingleView.binlog.zip)

### Regressi

[2021-01-18 13:17] fabricefou commented on #42808
Hello any news for a NuGet release date?
Thanks

[2021-01-18 13:27] EgorBo opened #47121 "[iOS] AOT: mono_gc_pthread_create Cannot transition thread 0x16b77b000 from STATE_BLOCKING with DO_BLOCKING"
Steps to reproduce (on a clean repo):
[code]
Open `~/prj/runtime/src/mono/netcore/sample/iOS/bin/ios-arm64/publish/app/HelloiOS/HelloiOS.xcodeproj` in XCode, solve all signing issues if any (in case of physical devices), e.g.:

![image](https://user-images.githubusercontent.com/523221/104921020-cedf0700-59a9-11eb-8980-3ff4d67d36d1.png)

try to deploy the app to a physical device or a simulator.

O

[2021-01-18 13:33] MichalStrehovsky commented on #47105
Oh neat. Didn't realize C# is considering emitting the bag of fields with a sequential layout instead of the single explicit layout struct with an explicit size. Switching back and forth between Explicit and Sequential layout has impact on calling conventions though so this will have to be done carefully. But it would solve the scenario I hit, albeit with a size impact (all those fields are not fr

[2021-01-18 13:33] aijkl opened #47122 "System.Drawing.Graphics The drawing results are different on Unix and Windows NT."
The drawing results are different on Unix and Windows NT.
The same font is used.
Please let me know the cause and solution.
I used DeepL, sorry if this is rude. I like Microsoft.

Environment
NET Core 5.0
System.Drawing.Common 4.7.0
Unix(Debian)
Windows NT (Windows 10)

[code]

![Unix](https://user-images.githubusercontent.com/51302983/104921268-6cebc500-59dc-11eb-9729-580afcd0491e.jpeg)
![Win32NT

[2021-01-18 13:34] huoyaoyuan commented on #47113
In public API, it stays remaining in the original assmebly. Serialization using reflection is getting **implementation detail**.

For example, there is no `System.Private.CoreLib` in public API. There is only `System.Runtime`.

Implementation detail can be broken in any release.

[2021-01-18 13:38] MichalStrehovsky commented on #47113
The type has moved many times already. Serializers should ideally respect the `TypeForwarded**From**` attribute on the type and emit that as the owning assembly:

https://github.com/dotnet/runtime/blob/0df028bfd9ce57b045af4dc13ab8df5a66423ffa/src/libraries/System.Private.CoreLib/src/System/Collections/Generic/HashSet.cs#L16

Libraries have type forwarders (using the above mentioned `TypeForwardedT

[2021-01-18 13:43] janvorli commented on #45344
@ASolomatin thank you for the repro. I have tested it with my pending fix for the #47007 and the issue is gone with that fix.

[2021-01-18 13:49] SingleAccretion opened #47123 "Inliner misses some constant arguments due to casts"
Example of the problem (reproduces on master): [sharplab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAZgAJiAmcgYXIG9znyBYAKBa8ouIEYk5AJYA7DOQDiMDADVsAGwCuMABTyIIgOblsASg7cWDA4e5CAZuRXZyAXlvk+ffZ1Ndjrt4eIB2RwG4TL3IAXyCvCysbe3IAVhdg5g9E7l9yKkDPLzD2cLc0gE5Mtxy8ljJKAWExcgBBABN6gGUAC2gMFVFxPTKk3tS/KVkFZRU+AAZdcgBqHWLTUqyuCv5BLrrGgBkNTU6anqWjfuXB6TklVXGEADFrgH1bh/vH5xm5/pyQoA=).

In sho

[2021-01-18 13:56] lambdageek commented on #47121
Probably due to the switch to hybrid suspend in https://github.com/dotnet/runtime/pull/46873 - going to try to fix it if I can get a stack trace (it should be straightforward - we're calling `MONO_ENTER_GC_SAFE` somewhere after we came in from a Mono API that doesn't have a `MONO_ENTER_GC_UNSAFE`.  Just need a good stack trace.

[2021-01-18 14:02] Rassi commented on #36388
I have just been hit by this along with several colleagues. We have a long running background service pulling from a message queue (Google PubSub). The message queue service is started (await StartAsync) and completes only when manually stopped, or when an unrecovereable error occurs. This recently started periodically failing silently for long periods of time until a restart. And it took us a lon

[2021-01-18 14:15] briansull commented on #46529
I will take this  back, as it requires a servicing fix

[2021-01-18 14:41] KalleOlaviNiemitalo commented on #42808
@fabricefou, [Microsoft.Bcl.HashCode 1.1.1](https://www.nuget.org/packages/Microsoft.Bcl.HashCode/1.1.1) was released last week. `version.txt` in that package refers to commit <https://github.com/dotnet/corefx/commit/59d2f36ec02c494eec50940c7993257a807f9531>, which is on the release/3.1 branch and includes the fix <https://github.com/dotnet/corefx/pull/43004>.

I don't know why this issue is still

[2021-01-18 14:41] avaneerd commented on #31261
I have tried this and this causes other issues.

Using reflection does work:
[code]

[code]

[2021-01-18 14:41] maciejjarzynski commented on #47113
Then a question to @JamesNK : does the `Newtonsoft.Json` respect the `TypeForwardedFrom` attribute, and if not, why?

[2021-01-18 14:47] Jmales commented on #3671
Hey guys. Not sure how to solve my problem, even after @VSadov fix.

I have a singleFile bundle inside another App and when I sign the whole contents of the App it always fails in the singleFile bundle binary with the mentioned error. I'm failing to understand how to fix the issue.

Can someone help?

[2021-01-18 14:51] vitek-karas commented on #3671
As mentioned above by @VSadov this has been fixed for .NET 6 here: https://github.com/dotnet/runtime/pull/46558. As far as I know we don't have plans to try to backport this to .NET 5.

[2021-01-18 14:52] Jmales commented on #3671
This single-file was my workaround for this: https://github.com/dotnet/runtime/issues/46990

Everything works awesome, except for the signing of the SingleFile binary/bundle. Now we have no idea on how to tackle the problem at hands.

[2021-01-18 14:56] tmds commented on #46991
Not redirecting avoids issues where the application uses the file descriptors for terminal functions.

It depends on the application itself how hard it tries to get hold of the terminal.
So some applications may work better when redirected than others.
The general rule is: don't redirect when running interactive applications.

I don't think there is an issue here on .NET side.

If that makes sense

[2021-01-18 15:14] MatthewBStone commented on #44826
Hi. I'm running into the same issue. I'm running the .NET SDK 5.0.101 on Linux and Powershell version 7.1.1. I can create an LDAP Connection and Bind just find. I can also create and send a ModifyRequest without any issues. But when I SendRequest to retrieve an object I hit the same issue. Again changing the the searchBase from "DC=company,DC=com" to "OU=EMEA,DC=company,DC=net" returns the results

[2021-01-18 15:21] fabricefou commented on #42808
Thanks 👍

[2021-01-18 15:25] kbond-stackify commented on #46987
I am starting from a checkout of 2.1.24 and running the following commands:

[code]

And I get the following output

[code]

I get similar errors on MacOS (shown here) and Linux when attempting to build a release build.  I have tried building 3.1.11 as well and get further, but still don't get a complete build.

[2021-01-18 15:28] tmds commented on #47024
@KirillOsenkov how can I check whether a binlog has this issue?

I'm trying by using the `BinaryLogReplayEventSource` referenced in the top level comment.
[code]
When I run it on my machine (Fedora) for the binlogs I've sent you, it doesn't throw.

These are the MD5 hashes of the files I ran it against:
[code]

[2021-01-18 15:59] iamlouk opened #47124 "CIL .data-Declaration: Address of label not working"
Hi,

I think i found something missing from the CIL-Spec in the .NET-Core runtime on Linux. It might be a bug, or simply not yet implemented, as it seams C#-Compilers do not use this feature of the CIL:

### Description

The follwing CIL assembly code does not run properly. Assembling it works, but trying to run it results in the following error: `Unhandled exception. System.BadImageFormatExceptio

[2021-01-18 16:08] davidfowl commented on #43637
Lets do this for 6.0. Add the option to stop the host on background service exception.

[code]

[2021-01-18 16:09] davidfowl commented on #36388
See https://github.com/dotnet/runtime/issues/43637#issuecomment-762342875 for the API proposal.

[2021-01-18 16:30] Jmales commented on #46990
Thanks both for the answers.

@mikem8361 No, **AppFull** and **App1** were built for both "win-x64" and "osx-x64".

Ultimately we were following a Single-File publish approach of **App1** to solve the problem, and while debugging everything seemed solved. However, because of #3671 we cannot sign the **App1** bundle and hence this isn't a workaround as well.

New ideas are welcome.

[2021-01-18 16:35] jkotas commented on #47105
We do not want to be emitting hundreds of dummy fields just to inflate the struct to the right size. The plan is to have runtime feature to solve that problem https://github.com/dotnet/runtime/issues/12320

[2021-01-18 16:55] EatonZ commented on #47092
Thanks for the link. Looks like the same exact issue.

[2021-01-18 16:55] #47092 closed

[2021-01-18 16:57] KirillOsenkov commented on #47024
If you have Windows you can use https://msbuildlog.com, and it has an online viewer too (https://live.msbuildlog.com)

[2021-01-18 17:01] richlander commented on #44897
Thanks for the offer. That said, I'm more interested in people's real-world experiences as opposed to synthetic benchmarks.

@mcoolidge -- thanks for the report. We'll see if we can repro that. Do you mean that you are running an ASP.NET Core service, and that when you call it (say with curl) that it is very slow or unresponsive?

[2021-01-18 17:07] booyaa commented on #37915
Just as an aside, I foolishly assumed that given `libcurl` is a dependency when bootstrapping .net core in Linux, that you could export `SSLKEYLOGFILE` as an environment variable (see [docs](https://ec.haxx.se/usingcurl/tls/sslkeylogfile)). Sadly, I can confirm this does not generate a key log file. So this feature would be very helpful.

[2021-01-18 17:10] Gladskih opened #47126 "System.Text.Json custom converter doesn't work with Nullable value"
The same Issue https://github.com/dotnet/runtime/issues/44006 closed with comment about HandleNull.
But that still does not work (.Net 5). The next complete example does not throw when it's expected.
[code]

[2021-01-18 17:12] AndyAyersMS commented on #47123
Thanks for spotting this. You might instead try fixing this over in the importer where the cast is first created, provided `opts.OptimizationEnabled()` returns true:

https://github.com/dotnet/runtime/blob/7216466cd5e73aaba9f67ad13313dbab93034d49/src/coreclr/jit/importer.cpp#L13483-L13507

@EgorBo because of the deficiencies in the stack modelling (eg the lack of pops) we're likely already observi

[2021-01-18 17:18] tmds commented on #47024
Does `BinaryLogReplayEventSource.Replay` crash for you with these files?
Is there something I can run on Linux?

[2021-01-18 17:21] akoeplinger commented on #45454
This _is_ used by the mono in this repo on platforms that don't ship a system zlib like WASM or Win32.

[2021-01-18 17:21] robeving commented on #46991
This makes sense. I do wonder if it might be worth uplifting the documentation to state the above.

[2021-01-18 17:22] huoyaoyuan commented on #47122
On Windows it uses Windows GDI/GDI+, but on Linux it uses a simulation `libgdiplus`.
It's ported by Mono for compatibility. If you care about the result, you should find some alternative. System.Drawing isn't truly cross-platform now.

[2021-01-18 17:37] eiriktsarpalis commented on #44801
Hi @lateapexearlyspeed I had myself assigned during for API review purposes. Yes this would be open to external contributes, would you be interested in taking this? :-)

[2021-01-18 17:48] KieranDevvs commented on #45363
@En3Tho I don't think its necessarily the fact that Blazor is interpreted, is the problem. I read on the AOT issue thread that a lot of optimisations haven't taken place in regards to interpreting thus AOT might not be a holy grail fix for all problems. If I recall correctly, AOT was only going to happen for hot paths of the application and the less critical code can all be interpreted.

[2021-01-18 17:55] wfurt commented on #47117
That seems likely. You can check #45244 and other linked issues for remediation.

[2021-01-18 18:00] wfurt commented on #46200
5.0.2 does not have the fix. You need to use 6.0 or wait for 5.0.3 to get out.

[2021-01-18 18:09] KirillOsenkov commented on #47024
BinaryLogReplayEventSource is a good thing to try, it doesn't work for me for your large files. The fact that it works for you is interesting. We'll need the compression experts to take a deeper look here, I'm out of my depth :)

[2021-01-18 18:17] wfurt commented on #47035
You claimed that this is same as  #46654 but there is no evidence for that from what you posted. And you provided no information about the certificate and the chain. All the details could matter.

Why don't you add something like this to your validation callback and check why the certificate is being rejected.

[code]

[2021-01-18 18:17] mcoolidge commented on #44897
I am debugging an asp.net core web api + SPA. The services called from the JS side are much slower and I can see some of the dotnet debug logging running much slower. It's not really practical to use for development. Also, the SPA proxy stops working sporadically but works after restarting.

For now, my workaround is to use remote debug with a windows box and accessing the page on the mac.

If nee

[2021-01-18 18:19] huoyaoyuan commented on #47126
This will only throw when you are deserializing `{ "Property": null }`. No such property isn't null. The converter will be never invoked, because no potential value can be read.
You are requiring verification for missing property. Since JSON is unordered, the implementation isn't trivial. Their must be a collection to track which properties are present, and is somehow harmful to performance.

[2021-01-18 18:21] jhudsoncedaron commented on #46829
@danmosemsft : `catch (Exception e) when (e.HResult == some value)` does something plenty useful on Unix.

[2021-01-18 18:26] adamsitnik commented on #46619
I've sent a PR with a fix https://github.com/dotnet/runtime/pull/47031

[2021-01-18 18:27] trympet commented on #40640
I also encountered the same issue.
Runtime: 5.0.2
SDK: 5.0.102

[2021-01-18 18:28] adamsitnik commented on #46901
This is definitely a good idea!

[2021-01-18 18:30] #47126 closed

[2021-01-18 18:31] MichalStrehovsky commented on #47105
Missed that. We can close as dupe of that then.

[2021-01-18 18:31] #47105 closed

[2021-01-18 18:40] GrabYourPitchforks commented on #47113
That question should be asked over at the Newtonsoft.Json repo (https://github.com/JamesNK/Newtonsoft.Json). This repo is specifically for .NET.

[2021-01-18 18:42] MichalStrehovsky commented on #47124
I assume the Unix PE loader is rejecting images with more than the expected (1) number of relocations. This directive generates relocations.

[2021-01-18 18:44] huoyaoyuan commented on #33779
The length check should also be eliminated. `SequenceEqual` has shortcut for length mismatch.

[2021-01-18 19:02] En3Tho commented on #45363
@KieranDevvs I hope we will get an option to choose manually what code gets AOT compiled then. Also, for intranet Enterprise apps I don't think that app size will be a problem. So full AOT is a good choice. So we'll, flexibility is welcome.

[2021-01-18 19:07] brechtvhb commented on #47117
Thank you. I also found this (which might be helpful for others running within a docker context), confirmed that the solution also works on alpine containers.
https://github.com/dotnet/SqlClient/issues/776

[2021-01-18 19:07] JamesNK commented on #47113
Issue about this here - https://github.com/JamesNK/Newtonsoft.Json/issues/1972

This was suggested as a solution - https://github.com/JamesNK/Newtonsoft.Json/issues/1972#issuecomment-734032924

[2021-01-18 19:08] zvirja opened #47129 "TypeLoadException when using self type as generic parameter for struct"
### Steps to reproduce

Compile and run following C# code (this is [MVCE](https://stackoverflow.com/help/minimal-reproducible-example) so code might look a bit weird).

[code]

### Exception

The following exception is begin thrown:

[code]

### Configuration
.NET Core: 5.0.2 (reproducible with older versions too, including .NET 4.8)
OS: Windows
Arch: x86

### Other information

Exception does not

[2021-01-18 19:15] zvirja commented on #47129
UPD: The `Cell` type is not necessarily should be nested. This fails as well:
[code]

[2021-01-18 19:17] Maniues opened #47130 "The repo fails to build when git source control information isn't available"
Command: "./build.sh" on root
I didn't use https://github.com/dotnet/source-build

Log (copied from Bash): pastebin.com/6MEtHDcq

[2021-01-18 19:24] qsdfplkj commented on #46749
The output:

SomeNumber: 1234
SomeText: text
{OriginalFormat}: Loading entry {SomeNumber} from {SomeText}

Shows the oringal template and the variables... you might not expected this but it is called a template. if you don't want this you should log:

_logger.BeginScope($"Loading entry {number} from {text}");

[2021-01-18 19:26] qsdfplkj opened #47131 "EventId is not used in the eventloglogger."
When i log:

 _logger.LogError(new EventId(1234), "Error 1234");

I expected eventId in the event viewer but "Event ID" column is  always 1000.

How to correctly use the eventId?

[2021-01-18 19:45] maryamariyan commented on #46749
For console logging have you tried using the Json console log formatter? In your sample code changing AddConsole to AddJsonConsole, should give you that. (Refer to docs [here](https://docs.microsoft.com/en-us/dotnet/core/extensions/console-log-formatter) too.)

[2021-01-18 19:50] maryamariyan commented on #46749
@tarekgh @noahfalk are there specific guidelines around using scopes alongside EventLogger?

[2021-01-18 20:01] weltkante commented on #46749
@qsdfplkj I know this, its part of the issue description. I believe you are wrong though, your workaround defeats the whole purpose of the extension method capturing the arguments without formatting (only paying the performance for formatting when the logging is enabled).

please reread the issue description
- no other of the default loggers does this (for what its worth the Log extension methods

[2021-01-18 20:08] tarekgh commented on #46749
@maryamariyan I think the ask here is more generic to give the ability to attach a custom formatter to the logger to allow formatting specific type. So, I am seeing this is as a feature request and not just a bug we need to fix.

@weltkante do you have specific proposal in your mind?

[2021-01-18 20:14] agnauck commented on #42384
I have a similar issue when I try to include a library in Blazor WASM which is calling **Rfc2898DeriveBytes**.

The following code:
[code]

throws:
[code]

is Rfc2898DeriveBytes currently not supported?

[2021-01-18 20:15] weltkante commented on #46749
The type used by the extension methods is intentionally kept internal, so I don't think you could write a formatter for it. The custom formatter would just do a `ToString` to invoke the default behavior of the object generated by the `BeginScope` extension. IMHO invoking `ToString` on formattable objects should be the default behavior of everything and not require custom formatters. The problem is

[2021-01-18 20:21] tarekgh commented on #46989
@lanegoolsby unfortunately we depend on different data when running on different OS's and that why you can run into discrepancies. but this is something we'll look at in the future to make the experience better and consistent as much as possible.

[2021-01-18 20:24] tarekgh commented on #46989
CC @eerhardt

[2021-01-18 20:27] qsdfplkj commented on #46749
Just some research but maybe this helps:  https://source.dot.net/#Microsoft.Extensions.Logging.Abstractions/LoggerMessage.cs  It seems to generate the scopes where the  {OriginalFormat} comes from.  Maybe writing a similar class can help you out.

[2021-01-18 21:13] richlander commented on #44897
Thanks @mcoolidge. That's enough for now. I'll talk with folks tomorrow (today is a holiday).

[2021-01-18 21:24] EgorBo commented on #47129
Explanation: https://github.com/dotnet/runtime/issues/6924#issuecomment-547078135

[2021-01-18 21:48] agnauck commented on #44996
I am currently missing the following to make my app work:

- Rfc2898DeriveBytes
- HMACSHA1
- HMACSHA256
- HMACSHA384
- HMACSHA512

[2021-01-18 21:56] vcsjones opened #47136 "Arithmetic overflow in CryptoStream with very large reads"
I noticed an issue while eyeballing code in `CryptoStream`, where attempting to perform very large reads can result in an arithmetic overflow if the input block size is greater than the output block size:

https://github.com/dotnet/runtime/blob/3946369dd6e42cc59e09651ce3e9d09751d44131/src/libraries/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/CryptoStream.cs#L329-L334

[2021-01-18 22:09] danmosemsft commented on #47130
[code]

[2021-01-18 22:11] danmosemsft commented on #47130
This is with a clean clone (git clean -fdx) of recent master?

[2021-01-18 22:14] danmosemsft commented on #47123
The labeler was likely confused because your text contained 'System.ServiceModel.Syndication' which is normally a highly selective term. Perhaps it will learn that  when it sees 'pmi' it should always choose the codegen label.

[2021-01-18 22:17] danmosemsft commented on #47117
It's a shame the error from OpenSSL is so poor. Hopefully a web search on the message will find issues like this.

[2021-01-18 22:23] danmosemsft commented on #47110
@joperezr may know

[2021-01-18 22:24] danmosemsft commented on #47104
@wfurt

[2021-01-18 22:42] wfurt commented on #47117
in such cases, we get Alert from peer and there is not much info in it.  The trace is just how we wrap the native API through Http and SslStream.
I'm glad @brechtvhb got working solution.
Alternatively, one can use [CipherSuitesPolicy](https://docs.microsoft.com/en-us/dotnet/api/system.net.security.ciphersuitespolicy?view=net-5.0) but that unfortunately throws PNSP on Windows so it is more difficu

[2021-01-18 22:42] #47117 closed

[2021-01-18 22:52] ViktorHofer commented on #47130
I assume you didn't check the repo out via git or deleted the .git folder afterwards?

[2021-01-18 23:15] mangod9 commented on #45600
I debugged the issue further and duplicate instantiation comes from here: https://github.com/dotnet/runtime/blob/3946369dd6e42cc59e09651ce3e9d09751d44131/src/coreclr/vm/siginfo.cpp#L1427

With the following call stack. @MichalStrehovsky might need your help on this. Thx

[code]

[2021-01-18 23:46] Thefrank commented on #14537
likely a stupid question but:
pipelines already(?) produces FreeBSD x64 runtime as seen [here](https://dnceng.visualstudio.com/public/_build/latest?definitionId=686&branchName=release/5.0) in totally scattered artifact form, so is it possible to make a working runtime from that?
The "releases" section of the pipelines tab gives me a nice 403 and what I have been able to download from artifacts (th

[2021-01-19 00:20] bruno-garcia opened #47139 "System.Reflection.Metadata doesn't work on AOT"
### Description

I'm not sure if this is even supposed to work, but I'm trying `System.Reflection.Metadata` and doesn't work with AOT.

The snippet below works with JIT, but not with AOT:

[code]

Errors with:
[code]

Background:

I'm trying to [replace code using `Mono.Cecil` with `System.Reflection.Metadata`](https://github.com/bruno-garcia/simbolo/pull/1).

I'm experimenting with `System.Reflec