[2022-05-18 13:33] sakno commented on #69488
@stephentoub , if so, I'm ready to make a PR.

[2022-05-18 13:40] jonathanpeppers commented on #66863
Socket exhaustion definitely seems like something server scenarios would run into. If mobile app is making enough web requests to hit that problem, I would probably recommend "don't do that". Even if a mobile app was downloading lots of files, they should probably limit to 4 (or some number) of concurrent connections

[2022-05-18 13:44] rolfbjarne opened #69492 "net6-ios: DateTimeOffset.Local does not have local timezone"
_From @dotMorten on Tue, 17 May 2022 22:49:14 GMT_

### Steps to Reproduce

1. With an iOS device where timezone is != UTC, compare `DateTimeOffset.Now` and `DateTimeOffset.UtcNow` and notice they are the same.
2. `DateTimeOffset.UtcNow.ToLocalTime()` has no real effect, since it thinks that is already the local timezone.
3. `DateTimeOffset.Parse("12/30/1997 10:00:00 PM +00:00").ToLocal()` fails t

[2022-05-18 13:44] rolfbjarne commented on #69492
_From @dotMorten on Tue, 17 May 2022 22:50:02 GMT_

@spouliot theorized here that this might be an issue: https://github.com/xamarin/xamarin-macios/issues/14740#issuecomment-1099614310

[2022-05-18 13:44] rolfbjarne commented on #69492
_From @spouliot on Tue, 17 May 2022 22:53:26 GMT_

hmm... did I _theorized_ or _terrorized_ ? 🦖

[2022-05-18 13:44] rolfbjarne commented on #69492
_From @dotMorten on Tue, 17 May 2022 23:37:37 GMT_

@spouliot well you didn't follow up on your hunch so... 🔥    😁

[2022-05-18 13:44] rolfbjarne commented on #69492
_From @spouliot on Tue, 17 May 2022 23:51:08 GMT_

I knew it 🦖  would bite me soon enough 😈

[2022-05-18 13:44] rolfbjarne commented on #69492
_From @rolfbjarne on Wed, 18 May 2022 13:30:23 GMT_

I can reproduce this on:

* iOS device

I can not reproduce this on:

* iOS simulator
* Mac Catalyst
* macOS

[2022-05-18 13:44] rolfbjarne commented on #69492
_From @rolfbjarne on Wed, 18 May 2022 13:32:44 GMT_

This is not a duplicate of https://github.com/xamarin/xamarin-macios/issues/14740, because setting `LANG=es_ES` works around https://github.com/xamarin/xamarin-macios/issues/14740, but does not work for this issue.

[2022-05-18 13:46] rzikm commented on #69491
Duplicate of https://github.com/dotnet/runtime/issues/55437

I want to tackle this once https://github.com/dotnet/runtime/pull/68772 is merged, we can do additional refactorings once we don't have 3 duplicate Send*Async implementations

[2022-05-18 13:46] rolfbjarne commented on #69492
@dalexsoto FYI this might be an important bug/fix to get out asap.

[2022-05-18 13:48] wstaelens commented on #23625
@stephentoub but that creates additional allocations.

[2022-05-18 13:48] eiriktsarpalis commented on #63747
Given review feedback, I'd be inclined to flatten polymorphism configuration into properties of `JsonTypeInfo` proper. This would look as follows:
[code]
Under this design, a type metadata would be regarded as polymorphic iff its `JsonDerivedTypes` collection is nonempty.

## Usage Examples

[code]
cc @krwq @layomia @bartonjs for additional feedback.

[2022-05-18 13:54] MihaZupan opened #69493 "TcpClient.Connect throws NRE if the Socket is cleared"
After #67951, the [`Connect_DnsEndPoint_Success(mode: 1)`](https://github.com/dotnet/runtime/blob/a598ebb67973f03b1d6b3fd6c50f75bae3fe1c51/src/libraries/System.Net.Sockets/tests/FunctionalTests/TcpClientTest.cs#L221-L222) TcpClient outerloop test is failing with an NRE.
[code]

The `_clientSocket` is only initialized during the ctor, so the `Connect` ends up failing if the user clears the `Client`

[2022-05-18 14:03] #69491 closed

[2022-05-18 14:06] CarnaViire commented on #69481
There's also an option of sending connection's abort code alongside the ABORTED result in the stream event @nibanks

[2022-05-18 14:12] tannergooding commented on #69424
@fanyang-mono it correctly takes `NaN` into account. `NaN != NaN` but `NaN.Equals(NaN)` is the requirement. `==/!=` follow the IEEE 754 requirements while `Equals`/`GetHashCode` follows the .NET requirements and allows the usage of a type in collections and maps.

[2022-05-18 14:14] nibanks commented on #69481
So is the problem here that if you get an aborted error from calling StreamSend, you want to differentiate "connection aborted" and "stream aborted"?

[2022-05-18 14:23] TonyValenti commented on #69462
Thanks @jkotas - This is exactly the issue.  Oh boy, what a complex one for your team to wade through!

Thanks to everyone who has been working to resolve that over the past year.

[2022-05-18 14:23] #69462 closed

[2022-05-18 14:25] CarnaViire commented on #69481
We mostly intended to differentiate user-side connection abort from peer-side connection abort. The check was "if there's an error code already set to the connection, then the connection must be aborted by the peer", but the race here ended up not setting the connection's error code in time. So even if we know from somewhere it's peer side abort, we don't have anywhere to get the error code from.

[2022-05-18 14:34] rolfbjarne commented on #69492
Yeah, that worked.

[2022-05-18 14:37] dotMorten commented on #69492
How do you do that? I could use the works around for now just to get me tests to pass again

[2022-05-18 14:37] nibanks commented on #69481
Aborted can definitely mean either Connection or Stream aborted.

[2022-05-18 14:39] rolfbjarne commented on #69492
Looks like this does it:

[code]

[2022-05-18 14:41] sschmieta-qontigo commented on #61528
@StephenMolloy , any update on the schedule for this ticket? Which 6.0.x release will include the fix?

[2022-05-18 14:52] rzikm commented on #69481
The order of the events in MsQuic is such that the connection-wide error is signaled first, so by the time stream shutdown notification arrives, we already have the connection error code. The `ABORTED` result I am speaking of is the direct return value from `MsQuicStreamSend`, not from a stream event.

Yes, and we want to include the error code in the exception. We can already differentiate this (

[2022-05-18 15:04] #68868 closed

[2022-05-18 15:17] jeffschwMSFT commented on #69466
@ayankumaar can you share your repo with the issue?

[2022-05-18 15:43] vargaz commented on #69424
Probably needs to use LLVMRealUEQ in mini-llvm.c:9612

[2022-05-18 15:45] fanyang-mono commented on #69424
@vargaz Yes, I've tested it locally. And that is the problem for LLVM enabled scenarios. But I am not sure the `Build tvOS arm64 Release AllSubsets_Mono` lane used LLVM. And why the mono llvmfullaot lane didn't fail on Tanner's PR.

[2022-05-18 15:57] fanyang-mono commented on #69424
Oh, the failing tests are library tests, the llvmfullaot lane that I mentioned in my previous comment is for runtime tests.

[2022-05-18 15:59] ethanbishop commented on #1418
Just ran into this in .NET 6 - ghost and @NikitaEgorov 's reflection workaround still works a treat.

Totally agree with this, I don't think there's any point in this maximum any more. As long as `TransactionManager.DefaultTimeout` is honoured when not providing a timeout (you probably should have to opt in to "no timeout", and only if you *really* know what you're doing), I don't see the point in

[2022-05-18 16:04] Clockwork-Muse commented on #64634
Potentially fixing this aside, I'm wondering if you should take a page out of IBM's book, and back things with an SQL database and translate read/write to SQL statements.  For one thing, if your current system allows for index files, you're having to write/maintain the database code yourself, whereas backing it with an SQL database would move that maintenance burden to somebody else.  And also all

[2022-05-18 16:06] bartonjs commented on #63747
Flattening the options down onto JsonTypeInfo feels a little weird to me... I don't see any other "clustered" settings on it.  That is, `TypeDiscriminatorPropertyName` and `UnknownDerivedTypeHandling` have no meaning unless `DerivedTypes` is non-empty (or non-null?)... so now they're either error states or just garbage data.

If we think that 90%+ of the user usage is going to be attributes (eithe

[2022-05-18 16:07] rzikm commented on #69481
Filed https://github.com/microsoft/msquic/issues/2727

[2022-05-18 16:15] markm77 commented on #69379
BTW the above example could also allow supporting `.sh`, `.ps1` etc files (setup scripts!) as `environmentFiles` where some platform rules applied (e.g. `.sh` files not supported on Windows launch profiles).

That would look a pretty nice design to me!

[2022-05-18 16:21] tillig commented on #67391
[Just completed the PR](https://github.com/autofac/Autofac.Extensions.DependencyInjection/pull/102) to include the fix for this in the next major release of `Autofac.Extensions.DependencyInjection`, which will be v8.0.0. I want to test it against .NET 7 preview and do a little bit of other housekeeping before releasing, but the fix is forthcoming.

[2022-05-18 16:23] ClementeGao opened #69502 "System.Text.Json.JsonException: '0xE9' is an invalid start of a value. Path: $ | LineNumber: 0 | BytePositionInLine: 0."
Due to the loss of data, I can't share it with you. Now I can only provide exception logs. I don't know how to solve this problem
can you help me? the log is in the following screenshot
![image (1)](https://user-images.githubusercontent.com/16145998/169092919-f851769a-a41b-431b-803d-c82128f24802.png)

[2022-05-18 16:26] ClementeGao commented on #69502
@HongGit @StephenMolloy @jeffhandley  the problem blcok me  if you have time  can you help me ?

[2022-05-18 16:28] eerhardt commented on #66863
The Logging in Microsoft.Extensions.Http also seems to be adding a decent amount of overhead

[2022-05-18 16:30] sba923 commented on #61175
Great. I'll check on the PowerShell side of things, probably there will be a 7.3.x preview consuming .NET 7 Preview 5... at some point.

I'll test the fix both in .NET and PowerShell lands.

[2022-05-18 16:32] markm77 commented on #69379
Another way to handle the case where external files may not be present would be to have `"environmentFiles"` and `"optionalEnvironmentFiles"` properties where the latter are not required but used if available.

[2022-05-18 16:38] #30120 closed

[2022-05-18 16:38] richlander commented on #69379
Cool. I'll leave the design converation to @vijayrkn.

[2022-05-18 16:51] tannergooding opened #69505 "Unsafe.As being intrinsic has exposed a few JIT related issues"
### Issue

https://github.com/dotnet/runtime/pull/68739 switched several APIs to be `intrinsic` to the JIT and have the respective IR imported directly by the JIT rather than go through inlining.

While this in general has been positive there have been a couple of issues related to `Unsafe.As` that have cropped up.

These issues don't appear to be related to the IR being "incorrect" but rather due

[2022-05-18 16:52] tannergooding commented on #69505
CC. @jkotas. Would appreciate your feedback on this in particular and if there is a preference on direction.

[2022-05-18 16:53] tannergooding commented on #69505
The proposed switch would impact all `System.Runtime.CompilerServices.Unsafe` APIs that are treated as JIT intrinsics, not just `Unsafe.As`.

It would not impact the existing VM or inlining support that we've had for many releases.

[2022-05-18 16:53] simonrozsival commented on #69095
I found a problem with full AOT on Android that has alread been solved on Apple platforms: #55736, #55947

[2022-05-18 16:55] vitek-karas commented on #69466
Additional ideas:
* Could you please share the callstack of the exception (if you can get it)?
* You could try to capture runtime loader traces (on top of the tracing suggested by @joeloff): https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/collect-details
* Do you publish your application as self-contained?
* Anything special about the application? Specifically things like customiza

[2022-05-18 16:57] theodorzoulias commented on #68742
@sab39 this looks like a valid alternative design, that covers a wider range of scenarios than my proposal. The scenarios where the `Modify` method could be utilized to its full potential should be quite rare though. Regarding the name, `TryModify` might be more consistent with the existing APIs than `Modify`.

Before posting this suggestion I experimented myself with a dedicated `delegate` for th

[2022-05-18 17:02] jkotas commented on #69505
I do not think it makes sense to introduce a switch for this. We should just fix the bugs.

We can use `[MethodImpl(MethodImplOptions.NoOptimization)]` as a temporary workaround if we identify specific method that have a problem.

[2022-05-18 17:08] radical commented on #65956
Yes.

[2022-05-18 17:22] #69166 closed

[2022-05-18 17:24] radical commented on #69166
Please re-open if I closed this incorrectly.

[2022-05-18 17:58] josalem commented on #68690
The test seems to be reliably failing on linux-arm and linux-arm64 under jitstress and/or PGO. I'm not sure why those would cause an issue with this test, though. I'm inclined to turn the test off for those platforms and triage this further.

[2022-05-18 18:09] tmds commented on #61175
I'm curious. Can we reproduce this with a native program?

main.c:
[code]
@sba923 can you compile this on your rpi using `gcc main.c`. That will produce an executable named `a.out`.

You can pass it a filename and it will print the file system type. For example:
[code]
What output do you get if you point it to an smb file?

[2022-05-18 18:12] krwq commented on #63747
I got mixed feelings on flattening: examples above from @eiriktsarpalis seem much cleaner than no flatenning and at the same they are grouped. But having said that only UnknownDerivedTypeHandling feels a bit off but at the same time NumberHandling is also meaningless unless Type is numeric

[2022-05-18 18:34] TaffarelJr commented on #69262
My apologies. In my effort to simplify the scenario from my real-life code, I simplified too much. Here's a more comprehensive test scenario:

[code]

[2022-05-18 18:35] sba923 commented on #61175
FWIW, this is a Raspberry Pi 2 Model B Rev 1.1 running Raspbian "buster" (10), and the SMB server is Ubuntu 20.04.4 LTS running Samba Version 4.13.17-Ubuntu

[2022-05-18 18:42] richlander commented on #69372
How about these:

256x256 and 32x32

![dotnet-logo-256px](https://user-images.githubusercontent.com/2608468/169121509-f56d1cdc-0a95-4e18-bc19-bc3d087d5a54.png)
![dotnet-logo-32px](https://user-images.githubusercontent.com/2608468/169121544-a355dc18-202a-43a5-b788-0a460c3ad5d5.png)

Source: https://github.com/dotnet/brand/blob/main/logo/dotnet-logo.png

[2022-05-18 18:49] deeprobin commented on #69372
@richlander In my opinion using the branding of the foundation there is great 👍🏼.

---

On the [C# Community Discord](https://discord.gg/csharp) another suggestion came up, which I don't want to leave unmentioned.
That is, that we might use the .NET bot icon.

![dotnet-bot](https://user-images.githubusercontent.com/10373452/169123994-b74a0c6a-475d-4a97-b394-3b60912d3973.svg)

[2022-05-18 18:52] richlander commented on #69372
Cool idea. That's a lot of detail for a small icon. I think that most users would be better served by the larger block letters.

[2022-05-18 18:53] pweerd opened #69585 "Some exceptions cannot be caught by a try/catch block or global exception handler"
### Describe the bug
Following code is causing an Exception that cannot be caught:
[code]
If this code is executed, the application silently terminates.

This is a **_major_** problem, since I'mwriting a text editor, where:
- I cannot offer my users a way to quickly safe their work
- I cannot inform my user what happened
- I cannot log the error, which makes it much harder to diagnose. Especially

[2022-05-18 19:15] steveisok opened #69512 "[mono] Profiled AOT - PGO tracking"
This issue tracks the move to use `dotnet-trace` in conjunction with `dotnet-pgo` to produce a `.mibc` file that can be used as input to our AOT compiler.

- [x] [Emit MethodDetails and BulkType events from mono](https://github.com/dotnet/runtime/pull/68571) ✅
- [x] [Parse .mibc file within Mono AOT compiler](https://github.com/dotnet/runtime/pull/70194) ✅
- [x] [Modify AOT compiler msbuild task t

[2022-05-18 19:16] GrabYourPitchforks commented on #69502
This almost certainly indicates that somebody sent Han data (Chinese, Japanese, or Korean text) without surrounding it in quotes.

For example, this JSON payload is malformed - it's missing quotes. Trying to deserialize it will result in an error similar to what you're seeing.

[code]

This JSON payload is well-formed and will deserialize correctly. Note the quotes around the string.

[code]

[2022-05-18 19:43] tmds commented on #61175
Your OS is 32-bit.
On your OS, f_type is an int32, so 0xFE534d42 is a negative number.
And when represented as int64 that negative number becomes 0xFFFFFFFFFE534D42.

[2022-05-18 19:46] danmoseley commented on #69513
@WenJunJi01 can you confirm it works for you with preview 4? perhaps you could try older preview 5 builds? to help narrow it down.

[2022-05-18 19:57] danmoseley commented on #69456
We hard code this version
https://github.com/dotnet/runtime/blob/b12e288a143c2986f81aa7c025beac9f5a4c7c29/src/libraries/Common/src/Interop/Linux/Interop.Libraries.cs#L9

If I'm looking at the right thing, 2.5 came out a year ago, and current is 2.6.
https://www.openldap.org/software/roadmap.html#current

[2022-05-18 19:59] TonyValenti commented on #68868
@stephentoub you might also consider adding IsBase64 methods as well.

[2022-05-18 20:04] ericstj commented on #69460
cc @lambdageek @radical per https://github.com/dotnet/runtime/pull/59720

It's a bit ironic that this "source" package is treated as a "prebuilt".  I wonder if this component is needed for source build or not.

[2022-05-18 20:08] ericstj commented on #69461
Agree with what @ViktorHofer said.  @crummel -- what makes these any different than other projects like https://github.com/dotnet/runtime/blob/c96e47047af2816cac1f2e240068f71628ef105d/src/libraries/System.Text.Json/ref/System.Text.Json.csproj#L40-L43 (and many others) which reference the same packages in the same way?

When filing these issue can you please share tools / repro steps that help us t

[2022-05-18 20:23] sba923 commented on #61175
QED

So there are IMVHO two equivalent ways to fix the comparison of `f_type` against the magic values (list e.g. in https://linux.die.net/man/2/fstatfs):

1. compare the lowest 32 bits of `f_type` against the magic values, that's what is implemented in https://github.com/dotnet/runtime/pull/69484
2. compare `f_type`  against the magic values cast (sign-extended) to `int64` but that would basicall

[2022-05-18 20:59] jeromelaban opened #69516 "[net7][Wasm] Type.TypeInitializer.Invoke() does not run the type initializer"
### Description

Running `Type.TypeInitializer.Invoke()` does not run the type initializer under net7, where it was under net6.

### Reproduction Steps

Considering this code:

[code]

### Expected behavior

net6 shows this:
[code]

### Actual behavior

net7 shows this:
[code]

### Regression?

Yes

### Known Workarounds

Use `System.Runtime.CompilerServices.RuntimeHelpers.RunClassConstructor` ins

[2022-05-18 21:03] Neme12 commented on #69372
I think it would be good to get more sizes in the ico file, especially 48x48 and 64x64 (potentially 96 or 128 as well). These are common in places like the taskbar.

[2022-05-18 21:03] MichalStrehovsky commented on #69476
The edit here: https://github.com/dotnet/runtime/pull/69284#discussion_r873850320 was to the CoreCLR test leg (running tests under src/tests), not the libraries test leg (running xunit tests under src/libraries), so it didn't affect System.Reflection.Tests runs. My concern was that adding anything ARM64 in that section won't work. ARM64 testing currently only works for the libs tests and those leg

[2022-05-18 21:05] radical opened #69517 "[wasm] Stack overflow in `JIT/Directed/tailcall/tailcall/tailcall.sh` on Linux"
Two tests failing with stack overflow on unrelated [PR](https://github.com/dotnet/runtime/pull/68696), [build](https://dev.azure.com/dnceng/public/_build/results?buildId=1777836&view=logs&jobId=190ad6c8-5950-568c-cadd-f2dfb7d5a79f&j=190ad6c8-5950-568c-cadd-f2dfb7d5a79f&t=c0f6fdc1-ac5d-583c-8ae1-a18de0846552), and [log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull

[2022-05-18 21:08] eerhardt commented on #69460
I don't believe any of the Mono workloads tasks are needed for source-build. So I think not building AssemblyStripper during source-build makes sense.

See also #60315.

[2022-05-18 21:11] radical opened #69518 "[wasm] `JIT/Performance/CodeQuality/Linq/Linq/Linq.sh` timing out on linux"
Two tests failing with stack overflow on unrelated [PR](https://github.com/dotnet/runtime/pull/68696), [build](https://dev.azure.com/dnceng/public/_build/results?buildId=1777822&view=logs&jobId=190ad6c8-5950-568c-cadd-f2dfb7d5a79f&j=190ad6c8-5950-568c-cadd-f2dfb7d5a79f&t=c0f6fdc1-ac5d-583c-8ae1-a18de0846552), and [log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull

[2022-05-18 21:33] elinor-fung opened #69521 "Enable running analyzers on `Microsoft.Extensions.Logging.Abstractions` project"
`Microsoft.Extensions.Logging.Abstractions` currently has violations of analyzer rules used in our repo and has analyzers explicitly disabled (see https://github.com/dotnet/runtime/pull/69511).

We should fix the violations and stop disabling analyzers in the project.

[2022-05-18 21:35] elinor-fung opened #69522 "Enable running analyzers on `System.Text.Json.SourceGeneration` project"
`System.Text.Json.SourceGeneration` currently has violations of analyzer rules used in our repo and has analyzers explicitly disabled (see https://github.com/dotnet/runtime/pull/69511).

We should fix the violations and stop disabling analyzers in the project.

[2022-05-18 21:36] elinor-fung opened #69523 "Enable running analyzers on `System.Text.RegularExpressions.Generator` project"
`System.Text.RegularExpressions.Generator` currently has violations of analyzer rules used in our repo and has analyzers explicitly disabled (see https://github.com/dotnet/runtime/pull/69511).

We should fix the violations and stop disabling analyzers in the project.

[2022-05-18 21:56] eerhardt commented on #69229
Since this is an interface that is implemented by external code, we should annotate it to be in-line with the documentation. The documentation indicates that `null` can be returned, so the API should be updated accordingly.

[2022-05-18 22:19] steveharter commented on #69427
It is not possible to change existing references held by user code during a hot reload. Hot reload in general just clears runtime caches, so any existing references in memory will still be there and thus fail comparison against newly-created ones.

If we wanted to preserve existing references, the underlying cache could use `WeakReference`, but that would come at a non-trivial cost to implement pl

[2022-05-18 22:35] stephentoub commented on #69427
We'd want to make sure this didn't negatively impact the performance of equality, in particular for inequality (since reference equality could still be used for the fast path). We might look to make any additions here conditioned on the process being configured for hot reload.

[2022-05-18 22:39] richlander commented on #69372
I was thinking the same thing @danmoseley. @vitek-karas suggested we get the help of a DevDiv designer. We're doing that.

[2022-05-18 22:42] jkoritzinsky commented on #69403
The majority of marshallers fall into the scenario where the need state preserved only between the `From/ToNativeValue` and the corresponding pair (constructor or `ToManaged` method) and the `FreeNative` method. This flag is for preserving state between the constructor all the way to the `ToManaged` method. I guess we could do something state-free for the majority of the marshallers, but we don't

[2022-05-18 22:52] Neme12 commented on #69372
Visual Studio seems to be using a *lot* of sizes for its icon:
![image](https://user-images.githubusercontent.com/11444821/169168114-b31611cc-12d2-464f-a739-1c84a8024502.png)
![image](https://user-images.githubusercontent.com/11444821/169168164-6ec259e6-ce1d-4f93-b612-b071a5838713.png)

[2022-05-18 23:26] jkotas commented on #69403
Yes, I think it would help with clarity. The state management in the current marshaller API shape is confusing. It makes it look like that the state is always preserved for the whole transaction, but it is not actually the case. Can we change the design such that marshaller instance state (if there is any) is always preserved for the whole transaction, and adjust the meaning name of the `RequiresP

[2022-05-18 23:27] #69450 closed

[2022-05-18 23:48] joperezr commented on #69456
Correct, we hard coded the version because back when we added the support the library hadn't been updated in over 14 years so we didn't expect exact versioning to be a problem, but it does seem like two new versions have been released since then. By taking a quick look at the changelog it doesn't seem like we should have any issues with also supporting 2.5 and 2.6, but we will need to test all of

[2022-05-18 23:59] MichalStrehovsky commented on #69410
Following adapted snippet placed in a console app works with NativeAOT full AOT mode, so this looks like it has more to do how S.L.Expressions is configured for iDevices than with AOT:

[code]

The `Expression must be readable (Parameter 'expression') (System.ArgumentException)` failure mode that @steveisok hit looks suspicious - it would indicate an issue with the LINQ expression interpreter and

[2022-05-19 00:13] wfurt commented on #57134
Let's close it. It is super old. We should open new issue if we see something similar. It feels it would be beneficial to have more specific issues as the reasons may be different.

[2022-05-19 00:13] #57134 closed

[2022-05-19 00:16] tarekgh commented on #69395
The problem happening here is because the app is running in partial trust mode. None of the libraries in dotnet/runtime are supported in partial trust. Our recommendation is turn off partial trust sandboxing.

The [Code Access Security doc](https://docs.microsoft.com/en-us/previous-versions/dotnet/framework/code-access-security/code-access-security)

CC @jkotas

[2022-05-19 00:17] #69395 closed

[2022-05-19 00:18] jkotas opened #69529 "Source generated marshalling can leak unmanaged resources in the presence of exceptions"
## Repro:
[code]
## Generated sources:
[code]
## Actual behavior:

If unmarshalling of `b` throws an exception, `a` unmanaged array will leak.

## Expected behavior:

Proper cleanup even in the presence of exceptions.

[2022-05-19 00:21] maryamariyan commented on #65264
Here's a summary for the latest developments with investigation made for this issue:

[This](https://gist.github.com/maryamariyan/053de71d66822f8e9b76ff1e6b892f4f) gist summarizes some trial and error experiments done to evaluate console logger against Console.WriteLine and in different scenarios. We couldn't prove that console logging is slower than console write line. Instead what we want to foc

[2022-05-19 00:24] jkotas commented on #69529
This issue is potentially related to `GuaranteedUnmarshal` proposed in https://github.com/dotnet/runtime/issues/69403.

As part fixing this, should `FromNativeValue` and `FreeNativeValue` methods in the marshaller shape be documented as not allowed to throw exceptions?

[2022-05-19 00:25] AaronRobinsonMSFT commented on #69529
If I recall, there was a design point about assuming the marshalling code is written properly and won't throw.

This case is easy to ignore because if the string is too long, we are either out of memory or there is some assumption from the marshaller that the string length has some specific limit. The former I would argue isn't very interesting, but I do agree the latter is something we should con

[2022-05-19 00:26] AaronRobinsonMSFT commented on #69529
Perhaps. I would like to discuss if there is a mechanism to address this in a performant way.

[2022-05-19 00:28] jkotas commented on #69529
Another potential case for string are string encoding errors. The string marshaller may want to throw an exception to indicate that the string encoding is invalid.

[2022-05-19 00:43] steveharter commented on #69154
Those tests with `COMPlus_JitStress=1` are missing the stack frame for the actual method invoked, but contains the stack frame for the reflection-created `DynamicMethod` that calls the actual method. Either DynamicMethods are being JITed with `COMPlus_JitStress=1` (which they shouldn't be) or the stack frame isn't there for some reason.

[2022-05-19 00:50] tannergooding opened #69531 "Enable Int128/UInt128 interop tests for Mono"
https://github.com/dotnet/runtime/pull/69204 introduced the `Int128` and `UInt128` types and included interop tests validating they are passed correctly to/from native.

However, they are currently disabled for Mono as are a large number of the `Interop/PInvoke/*` tests. These tests need to be enabled for Mono to ensure that these types work correctly in Interop scenarios.

The other `Interop/PInv

[2022-05-19 00:52] tannergooding commented on #69531
The android tests in particular were failing because they can't find the corresponding native library: `System.DllNotFoundException: Int128Native`.

The iOS and tvOS tests didn't run as the jobs hit other more general issues, such as timeouts at 240 minutes.

[2022-05-19 00:53] jkotas opened #69532 "Audit source-generated marshallers for integer overflow bugs"
For example, here:
https://github.com/dotnet/runtime/blob/bcded447f1558e7f891f3411f566db49f2ced6ec/src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/ArrayMarshaller.cs#L69
What happens when this multiplication overflows?

[2022-05-19 00:59] jkotas commented on #69154
The JIT is free to inline the actual method invoked into the reflection-created DynamicMethod.

If we want to see the actual method invoked on the stack, we should call it using a function pointer. Calling the actual method invoked using a function pointer would also allow us to reuse the invokers between different methods with the same signature.

[2022-05-19 01:20] GrabYourPitchforks commented on #28230
Taking another stab at this, based on things we've learned over the past few years and feedback received via this forum, API reviews, and email.

### High-level summary of changes

__The APIs are now more eager to fail when they see non-ASCII data.__

This deserves a bit of exposition since there are conflicting goals of "the API shouldn't try to allow data it doesn't understand" vs. "the API is g

[2022-05-19 01:25] steveharter commented on #69154
My understanding is that DynamicMethods are never inlined but has been [considered](https://github.com/dotnet/runtime/issues/34500).

FWIW here's a small repro. It fails in a Debug build of the runtime + `COMPlus_JitStress=1`:
[code]

[2022-05-19 01:42] ipjohnson commented on #67391
I've pushed a beta with this change. It will be released as part of Grace V8.0.0 in the next month or two.

[2022-05-19 01:59] kunalspathak commented on #62696
After some more debugging of `scanArgRegTableI()` to understand why `argMaskResult` tells to scan first 3 arguments, it seems that something might be wrong in the way we find the argsOffset. The arg offset (from what I understand) is with respect to the current method frame but as I mentioned earlier, when we enumerate the refs, we actually scan them from `baseSP` and that miscalculates which obje

[2022-05-19 02:04] steveharter commented on #69154
Yes using `calli` does work. This is preferred since it is a reasonable change to avoid a breaking change.

[code]

I'll work on doing this along with a hashtable to re-use the invokers.

[2022-05-19 02:29] Jozkee commented on #62975
@wegylexy @Raffaello I talked with the Windows team and they pointed out that the silent failure was due to an error on our side, so I fixed it in the main branch. Could you please help me validaiting the fix for your scenarios with a nightly build of .NET 7? That way, we can propose porting the fix to .NET 6.

Download the nightly build from https://github.com/dotnet/installer#table (column **mai

[2022-05-19 02:34] radical opened #69536 "ILLinker NRE on Windows"
[Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1778207&view=logs&j=a76e47fe-7826-5544-e6de-c2f449cb29d2&t=b4b733d9-5f79-5962-29cc-2464cb6dc677):

[code]

|Build|Kind|Start Time|
|---|---|---|
[1813081](https://dev.azure.com/dnceng/public/_build/results?buildId=1813081)|Rolling|2022-08-06|
[1814339](https://dev.azure.com/dnceng/public/_build/results?buildId=1814339)|Rolling|2022

[2022-05-19 02:57] kunalspathak commented on #69093
2022-05-09T08:18:09.508Z | ubuntu.1804.armarch.open | arm64 | runtime-coreclr crossgen2-composite gcstress Checked-gcstress0xc_zapdisable_jitstress2
-- | -- | -- | --

I was hoping to debug this issue, but when I download the related artifacts, I get weird error while running `corerun` even on helloworld:

[code]

[2022-05-19 03:40] GrabYourPitchforks commented on #69502
If you're requesting a new behavior that _System.Text.Json_ allow deserializing payload with missing quotes, I think your best bet would be to leave a comment at https://github.com/dotnet/runtime/issues/32291. That issue tracks allowing the deserializer to parse spec-nonconforming payloads.

[2022-05-19 04:24] iSazonov commented on #28230
Is it intentional to skip one option `public static bool EqualsIgnoreCase(ReadOnlySpan<char> left, ReadOnlySpan<byte> right);`?

[2022-05-19 04:43] NicoleWang001 commented on #69513
@danmoseley
This issue is not repro with 7.0.100-preview.4.22252.9.
This issue is not repro with 7.0.100-preview.5.22263.22 either.

[2022-05-19 05:02] sba923 commented on #61175
BTW, when / how / why was this regression introduced?

How come 64-bit types are being used in that context on that 32-bit OS in the first place?

[2022-05-19 05:05] kunalspathak commented on #69092
@jakobbotsch - assigning to you since you have osx.

[2022-05-19 05:06] kunalspathak commented on #69093
@AndyAyersMS - Since you have osx, can you take this one?

[2022-05-19 05:32] MSDN-WhiteKnight commented on #62956
It is done currently statement-by-statement, you need to create [InstructionEncoder](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.metadata.ecma335.instructionencoder?view=net-6.0) and emit statements into it, then pass it to MethodBodyStreamEncoder.AddMethodBody. I suppose, we could add new AddMethodBody overload that takes array of IL bytes and emits it as a whole if it would be

[2022-05-19 05:40] noahfalk commented on #65264
I'm not a fan of making such a large change to the cache size based on the anecdotal evidence I am aware of so far. I'd propose we leave the cache size limit at default 400KB and let the community experiment with changing the limit for their individual projects using the new API. If we see strong feedback that raising the limit was beneficial for many projects then we'll be in a much better place

[2022-05-19 05:52] MichaelKetting commented on #62956
@MSDN-WhiteKnight Thanks for the details. So, it's definitely not "cheap" as in "copy all IL bytes inside the assembly from A to B" but requires a more structured approach. Good to know because for me this means it's best to wait for the official API to catch up instead of doing it in my own code and then switch later on once the official API also supports it (aside from the question if/when/how b

[2022-05-19 05:53] jkotas opened #69541 "Source generated interop should be unconditionally ExactSpelling=true"
### Repro:

Inspect source generated interop for CoreLib

### Actual behavior:

Some DllImports have `ExactSpelling=false` and other have `ExactSpelling=true`
[code]
[code]
### Expected behavior:

All DllImports have `ExactSpelling=true`

[2022-05-19 05:53] noahfalk commented on #65264
This seems reasonable in principle - does it make the implementation substantially harder?

Small suggestion on the naming, we might want to use 'Buffer' instead of 'Queue' or 'QueueBuffer'. Ie:
MaxQueueBufferSizeInBytes => MaxBufferSizeInBytes
ConsoleLoggerQueueFullMode => ConsoleLoggerBufferFullMode
QueueFullMode => BufferFullMode

However if the review crew decides they like 'Queue' better go f

[2022-05-19 06:20] tmds commented on #61175
It's not a regression. The improvement made in https://github.com/dotnet/runtime/pull/55256 has an issue on 32-bit Linux.

.NET doesn't directly call platform functions, it does that through a native library. The native library abstracts platform differences, like using fixed-size types that are large enough to work on any platform.

[2022-05-19 06:52] sba923 commented on #61175
From the original PowerShell standpoint, it is. Writing to those network files used to work.

[2022-05-19 07:00] kunalspathak commented on #68665
For Sort and Matrix4x4, I can clearly see the asmdiffs because of use of SIMD registers so I believe that it is because of https://github.com/dotnet/runtime/pull/68085. The same benchmarks are not affected on Ubuntu. There were also equal wins on other benchmarks in https://github.com/dotnet/perf-autofiling-issues/issues/4992. Looking at the tradeoffs and given the code size improvement, I am incl

[2022-05-19 07:08] tmds commented on #61175
With what version of .NET (Core)?

Before .NET 6 the locks were taken unconditionally.
So the issue should have always occurred.

[2022-05-19 07:09] carlossanlop commented on #68230
Hi again @Bio2hazard ,

What tool did you use to generate the tar file inside your gz file?

I inspected the internal tar file with the Hex Editor HxD. The `magic` and `version` metadata fields of the first 2 entries indicate the archive is in `ustar` format, but then it contains an unexpected `GNU` format entry with the TarType `LongLink` in the 3rd position. Hence why you're getting the `FormatE

[2022-05-19 07:17] carlossanlop commented on #68230
@Bio2hazard I'm really curious how you generated your archive, because even if I address the above by allowing intermixing formats, the `magic` and `version` of your entries are malformed in the 3rd entry: they indicate ustar instead of in gnu format, even though the entry type is `L` which is exclusive to the gnu format. And once again, I'm very surprised that SharpCompress and 7-zip were kind en

[2022-05-19 07:29] kunalspathak commented on #68822
After https://github.com/dotnet/runtime/pull/67930, we do clone more loops within which we have more cloned loops. I will investigate more and see if we can modify the heuristics for such cases.

[2022-05-19 07:30] kunalspathak commented on #68822
[68822.zip](https://github.com/dotnet/runtime/files/8726693/68822.zip)

[2022-05-19 07:34] kunalspathak commented on #68822
dumps: [68822_dumps.zip](https://github.com/dotnet/runtime/files/8726720/68822_dumps.zip)

[2022-05-19 07:37] ClementeGao commented on #32291
When there are special characters in the JSON string, how can I ignore them and how can I configure them
see issue  #69502

[2022-05-19 07:41] ilonatommy opened #69543 "[wasm][debugger] Fix class returned on evaluation of expression with "?""
This PR: https://github.com/dotnet/runtime/pull/69307 enabled using null-conditional operator in `onCallFrame` calls. The result is still not ideal, for evaluation of e.g. `listNull?.Count` in `EvaluateOnCallFrameTests.EvaluateNullObjectPropertiesPositive`:

current result:
TObject("System.Collections.Generic.List<int>", is_null: true)

expected result:
TNumber("int?", is_null: true)

The place wh

[2022-05-19 07:41] sba923 commented on #61175
I opened https://github.com/PowerShell/PowerShell/issues/15339 for PowerShell 7.1.3, which was using .NET 5.0.4.

I would have to perform some tests to determine which earlier PowerShell versions didn't exhibit the problem.

I don't have a table of PowerShell -> .NET version mapping handy, is there one @SteveL-MSFT?

[2022-05-19 07:54] kunalspathak commented on #69444
I verified the asmdiffs and I don't see any difference introduced by https://github.com/dotnet/runtime/compare/336a5d2443a5040f43040eb1b559d046479eef5b...9d972eda4da654dfafae101e9850b1191a4dcbf9. @DrewScoggins - Did anything change about the machines where the benchmarks run or the order in which they run?  Is it possible to get ETLs for them?

[2022-05-19 07:56] carlossanlop opened #69544 "[API Proposal]: TarReader should not assume same format for all entries in a tar file"
### Background and motivation

The user @Bio2Hazard was kind enough to report [this bug](https://github.com/dotnet/runtime/issues/68230#issuecomment-1128266820) when testing the new `System.Formats.Tar` APIs published in .NET 7 Preview4 with a tar file he generated with their own work tools. He shared the file [here](https://github.com/dotnet/runtime/issues/68230#issuecomment-1129201469).

The tar

[2022-05-19 08:11] maraf commented on #62054
Currently no, you can try suggestions from this comment https://github.com/dotnet/runtime/issues/62054#issuecomment-1113105050.

[2022-05-19 08:32] GO3LIN opened #69546 "[ SignalR ] TypeScript EventSource dependency security vulnerability"
The EventSource library had a security issue, and got patched ~1 week ago, just after the last signalr version, the vulnerability is about Information Disclosure in headers ( high risk ), and is causing our DevSecOps pipeline to fail, can you please update the EventSource dependency to last version ?

[2022-05-19 08:34] sba923 commented on #61175
I can repro with PowerShell 7.0.0, which used .NET Core 3.1.2

![image](https://user-images.githubusercontent.com/12860484/169250097-c5a57120-61eb-4077-a0f3-90c153b1ee14.png)

I can't run PowerShell 6.1.2 anymore on that system:

![image](https://user-images.githubusercontent.com/12860484/169249909-ce8ac2a2-d60a-47fd-80bf-191f31cede20.png)

[2022-05-19 08:36] vargaz commented on #68914
Which aotprofile file is used to AOT these apps ?

[2022-05-19 08:37] krwq commented on #69229
This is probably incorrect - I suspect all internal implementations have returned non-null and I was looking only at the XML docs which was missing `null` remark (xml docs says only `Gets a type converter for this object.`). @jl0pd are you interested in making a PR with the fix?

[2022-05-19 08:37] hakenr commented on #62054
Just to add my observation - the `Module._mono_wasm_enable_on_demand_gc(0)` does not help (the issue occurs one click later in the repro-project but it is still there).

[2022-05-19 09:09] wegylexy commented on #62975
@Jozkee We switched to use directory junction points and copying files instead, as typical users won't have developer mode enabled.
Now I just look forwards to QUIC datagram and NativeAOT in .NET 7.
So, I am going to just trust that you have fixed it.

[2022-05-19 09:10] AlgernonDanglepratt commented on #64634
We do have technology that allows our customers to make that choice... but it's their choice rather than ours.

[2022-05-19 09:34] logcorner opened #69547 "Each parameter in the deserialization constructor on type 'SpeechCreatedEvent' must bind to an object property or field on deserialization. Each parameter name must match with a property or field on the object. The match can be case-insensitive.'"
Hi I'm migrating from newtonsoft.json to System.Text.Json using .NET6 I have an issues when deserializing json string into object.

The error message is  Each parameter in the deserialization constructor on type 'SpeechCreatedEvent' must bind to an object property or field on deserialization. Each parameter name must match with a property or field on the object. The match can be case-insensitive.'

[2022-05-19 09:42] eiriktsarpalis commented on #69502
FWIW this is not something that Json.NET supports either, for example:
[code]
The examples listed in https://github.com/dotnet/runtime/issues/32291#issuecomment-586402938 are specifically ones that Json.NET supports, and we might want to consider surfacing them in the future for compabitility.

Honestly though, I don't believe this particular request makes the cut.

[2022-05-19 09:43] michaelkira opened #69549 "Private key file not got deleted for X509Certificate2 after process exit correctly for .net core program"

[2022-05-19 09:46] Raffaello commented on #62975
@Jozkee ok, i will have a look, just need to find some times, hopefully i should hace some in the weekend.

[2022-05-19 09:48] eiriktsarpalis commented on #69547
Hi, we plan to support custom contract resolution in .NET 7 via https://github.com/dotnet/runtime/issues/63686. Until then, it won't be possible to modify the list of serializable properties I'm afraid.

Duplicate of #63686

[2022-05-19 09:48] #69547 closed

[2022-05-19 09:54] logcorner commented on #69547
So I'm suspending the migration for now.

I can't use System.Text.Json if I can't deserialize complex types.

I would like this feature to be implemented soon
Regard

[2022-05-19 09:57] KircMax commented on #69485
Thanks a lot for the explanations - all very understandable to me.

Would you know another easy way on how I could try to establish a connection and check the server certificate ? Like any Nuget Package that I could do that with?
That would be appreciated a lot.
If not it's fine to me anyways - thank you very much... this issue can be closed from my perspective and be viewed as "system behavior".

[2022-05-19 10:19] Raffaello commented on #62975
with `.NET7-preview5` an exception has been thrown, so it fixes that doesn't silently failing.
![image](https://user-images.githubusercontent.com/1850902/169271272-21ae44e9-5330-46e3-98e6-13096418a6b6.png)

test ref: https://github.com/BlueRedSkyLTD/PowerDir/blob/main/PowerDir.Tests/EscapeCodesThemesTest.cs#L116-L158
(`[TestMethod]`) is commented as it won't work as a test as requires dev/admin pr

[2022-05-19 10:28] eiriktsarpalis commented on #63747
## Updated proposal

[code]

### Usage Examples

[code]

[2022-05-19 10:52] danmoseley commented on #69547
https://github.com/dotnet/runtime/issues/43563

[2022-05-19 11:06] czd890 commented on #36044
What's the status here? I would need 😥

[2022-05-19 11:15] a74nh opened #69550 "format.py fails on Arm64 due to missing clang-format/cling-tidy binaries upstream."
### Description

format.py is used to check code formatting.
This tool fails on Arm64 machines during the setup stage.

### Reproduction Steps

`python3 ./src/tests/Common/scripts/format.py -c ./src/coreclr -o Linux -a arm64`
or
`python3 ./src/tests/Common/scripts/format.py -c ./src/coreclr -o OSX -a arm64`

### Expected behavior

The bootstrap script is downloaded. The bootstrap script then downl

[2022-05-19 11:15] a74nh opened #71983 "format.py fails on Arm64 due to missing clang-format/cling-tidy binaries upstream."

[2022-05-19 11:17] jakobbotsch commented on #69154
If the plan is to reuse the invoke stubs then I assume in the final implementation the function pointer will be more opaque to the JIT?
Note that we are expecting to do JIT work to optimize patterns like this one and make them inlinable, see #44610.

[2022-05-19 11:28] jakobbotsch commented on #69550
cc @dotnet/jit-contrib

[2022-05-19 11:32] a74nh opened #69551 "Assertion failed 'preciseVarTypeMap[type] != TYP_UNDEF' when dumping all functions"
### Description

Whilst debugging coreclr using a simple example application I wanted to dump the IR for every function. I wanted to do this to see in which functions an optimised had kicked in.

### Reproduction Steps

Arm64 Linux (not tested elsewhere).
Using a simple example test app:

`COMPlus_JitDump="*" COMPlus_TieredCompilation=0 ./bin/release/net7.0/linux-arm64/publish/corerun bin/release/

[2022-05-19 11:36] a74nh commented on #69551
Full log file attached:

[dumpf.txt](https://github.com/dotnet/runtime/files/8728676/dumpf.txt)

[2022-05-19 11:37] theodorzoulias commented on #761
Are there any plans about documenting the current behavior of the [`ChannelReader<T>.ReadAsync`](https://docs.microsoft.com/en-us/dotnet/api/system.threading.channels.channelreader-1.readasync) method? It's quite likely that some developers will assume that awaiting and canceling the `ReadAsync` repeatedly in a loop is a safe operation. Apparently this is not the case, and this usage pattern is no

[2022-05-19 11:39] Akarinnnnn opened #69552 "[Documentation] Add an example to `Utf8JsonReader.Skip`"
Currently there're only basic stuff on the docs page. Here is an example demonstrates one scenario of the API: Once everything we interest were got, skip anything remain in the json.

In this section, we will made a method that extract the `code` property from root object, and ignore anything else in the json.

[code]

[2022-05-19 11:41] stephentoub commented on #761
That would mean guaranteeing this behavior. We're not going to do that if we might change it. It's an implementation detail, and this issue is still open.

No. It's fine to cancel a lot. The implementation just assumes that you'll also be consuming data from the channel, as the moment a canceled item gets to the front it'll be discarded, and all canceled items at the head of the queue will be purg

[2022-05-19 11:51] performanceautofiler[bot] opened #69559 "Arm64: Regressions in System.Tests.Perf_Random"
### Run Information

Architecture | arm64
-- | --
OS | ubuntu 18.04
Baseline | [130ef3cae8b88593cbd1627d31c2c4bbf6336c40](https://github.com/dotnet/runtime/commit/130ef3cae8b88593cbd1627d31c2c4bbf6336c40)
Compare | [35e47797a36e29475d28af61f0fa0fb3bf067838](https://github.com/dotnet/runtime/commit/35e47797a36e29475d28af61f0fa0fb3bf067838)
Diff | [Diff](https://github.com/dotnet/runtime/compare/130

[2022-05-19 11:51] performanceautofiler[bot] opened #69561 "Arm64: Regressions in System.Buffers.Text.Tests.Utf8ParserTests"
### Run Information

Architecture | arm64
-- | --
OS | ubuntu 18.04
Baseline | [35e47797a36e29475d28af61f0fa0fb3bf067838](https://github.com/dotnet/runtime/commit/35e47797a36e29475d28af61f0fa0fb3bf067838)
Compare | [04e65d2b871211832f9999256435787c727afd0f](https://github.com/dotnet/runtime/commit/04e65d2b871211832f9999256435787c727afd0f)
Diff | [Diff](https://github.com/dotnet/runtime/compare/35e

[2022-05-19 11:54] performanceautofiler[bot] opened #69563 "Arm64: Regressions in System.IO.Compression.Brotli"
### Run Information

Architecture | arm64
-- | --
OS | Windows 10.0.19041
Baseline | [5ecaae992806a2d422157a095a63efb467365f54](https://github.com/dotnet/runtime/commit/5ecaae992806a2d422157a095a63efb467365f54)
Compare | [f63fdeefa535a1d2fd1855249f673f12e021774d](https://github.com/dotnet/runtime/commit/f63fdeefa535a1d2fd1855249f673f12e021774d)
Diff | [Diff](https://github.com/dotnet/runtime/compa

[2022-05-19 12:15] 0xced commented on #68740
Maybe it would be worth asking the GitHub team if they could add a setting to control whether locked issue include cross-references or not?

Surely increasing the time to more than one month would make me happy! A few months ago I wanted to reply to @tarekgh in #63192 but I came back to this issue too late, it was already locked. 🤷

Now, what would be a good value? See, I just did it again, almost

[2022-05-19 12:47] #59809 closed

[2022-05-19 13:06] directhex opened #69555 "Cannot easily generate bash RunTests scripts from Windows, and vice versa"
### Description

There are cases where we might want to do a build on a Linux/Mac system, but the Helix queue for execution is Windows (or vice versa). In fact, this is already the case for Android, where our device queue is on Windows but are builds are all on Linux, or Wasm where our builds are on Linux but the browser queue is Windows. However, for these cases, we rely on the Helix SDK to gener

[2022-05-19 13:22] TheJayMann opened #69826 "Unable to build, missing System.IO.Pipes.AccessControl"
In an attempt to bootstrap build v6.0.300 (the latest version and release not in preview) on linux, using a clean Debian Testing distribution, installing the Debian equivalent packages as is listed by the Fedora build process, I followed the instructions listed in the README.md file for building source build.  I ran the build.sh script from this repository, bundled the content of `TarballDir` into

[2022-05-19 13:32] sakno opened #69556 "[API Proposal]: Introduce token versions to deal with token hiding in linked CTS"
### Background and motivation

I would like to return back to #22172 discussion. I faced with the same issue when I can't propagate user-supplied cancellation token in _OperationCanceledException_.

### API Proposal

We don't want to introduce a new heavy API and overloads that can impact performance and backward compatibility both. Instead, we can distinguish the order of cancellations and determ

[2022-05-19 13:37] TricksterCat opened #69557 "Exception when I call SslStream.AuthenticateAsClientAsync on net-6 android"
When using maui with net6-android I get an error when calling SslStream.AuthenticateAsClientAsync.
The same code through xamarin mono-android everything works correctly.

[code]

P.S. the host has a valid certificate.

[2022-05-19 13:39] jonathanpeppers commented on #68914
It is this one, which was recorded using .NET 6:

https://github.com/xamarin/xamarin-android/blob/b250c04b09a2b725336ae6d6c5693e0b9f37e4cc/src/Xamarin.Android.Build.Tasks/dotnet.aotprofile

Working on another one, but it looks like I have to build a newer `libmono-profiler-aot.so`.

[2022-05-19 13:48] svick commented on #69556
Why does it matter which token caused the cancellation? If both are cancelled, isn't it enough to report either one of them?

[2022-05-19 13:59] sakno commented on #69556
Here is practical example from _HttpClient_ that currently requires workaround:
https://github.com/dotnet/runtime/blob/215b39abf947da7a40b0cb137eab4bceb24ad3e3/src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.cs#L594-L613

[2022-05-19 14:02] steveharter commented on #69154
I was wondering if using `calli` to avoid the stack issue will eventually stop working based on future JIT changes. If that's the case, and it isn't desirable or feasible to add something like a `NoTargetInline` decl attribute then we should just declare this as a breaking change for when using Invoke. The stackwalk APIs including `Assembly.GetCallingAssembly()` are already documented to pretty mu

[2022-05-19 14:03] stephentoub commented on #69556
How would your proposal materially change that snippet?

[2022-05-19 14:05] stephentoub commented on #69556
How do you define "correct"?  In most of these situations, it doesn't matter which actually triggered the cancellation; if they're both canceled, it's a race condition, either of them could have caused it, and it doesn't matter which is used.

[2022-05-19 14:13] jakobbotsch commented on #69154
Yes, this should be fine. The only problem I can think of is guarded devirtualization, but we do not ever expect to get PGO data for dynamic methods.

We also have the `System.StubHelpers.StubHelpers.NextCallReturnAddress` intrinsic. The JIT guarantees that the next IL call will result in a call instruction that is not inlined or tailcalled when this is used. For your case it would be sufficient t

[2022-05-19 14:46] davidfowl commented on #66863
Hmmm, maybe worth making that opt-in.

[2022-05-19 15:07] eerhardt commented on #68139
Unfortunately, #16598 isn't going to solve this issue.

From looking at BinaryReader, it is a bit confusing at which APIs treat `count` (or `buffer.Length`) parameters as the actual count to read, and which are treated as a "maximum count".

### Actual Count APIs:

1. `public virtual byte[] ReadBytes(int count)`
2. `public virtual int Read(char[] buffer, int index, int count)`
3. `public virtual i

[2022-05-19 15:08] radical commented on #69479
You need the `wasm-tools` workload to AOT. Do you want to skip `Microsoft.Authentication.WebAssembly.Msal` because AOT is taking too long?

Can you share the build output when it is timing out?

[2022-05-19 15:19] RODevVro opened #69558 "[System.Data.Odbc] GetSchemaTable fails with [42000 Interrupted] for x64 ODBC driver"
### Description

Hi,

I have an issue with the ODBC driver on a connection to an OLAP database.  When I try to retrieve the column information from the "ExecuteReader(CommandBehavior.KeyInfo)", I get a "42000 Interrupted" exception, but if I remove the "CommandBehavior.KeyInfo", I get the tables back (without types, without size).

Unfortunately I can't provide you with an environment to reproduce

[2022-05-19 15:25] GrabYourPitchforks commented on #28230
Yes, just swap the parameters at the call site if needed. Equals follows this same pattern.

If it's a usability issue we can add the extra overload.

[2022-05-19 15:38] verdie-g commented on #63016
1. True, we're still using .NET 5 and need to do that upgrade.
2. Thanks I'll look into that.
3. I think what I was looking for was a metric to easily prove those synchronous waits are an issue. Currently we are not even collecting all metrics used in https://docs.microsoft.com/en-us/dotnet/core/diagnostics/debug-threadpool-starvation especially the "Completed Work Item Count" and "ThreadPool Queu

[2022-05-19 15:38] #63016 closed

[2022-05-19 15:43] CarnaViire commented on #69269
Triage: we should fix the docs in 7.0

[2022-05-19 15:53] stephentoub commented on #69475
This doesn't seem particularly actionable.  The purpose of the server GC is to perform better for highly concurrent/parallel workloads, which this example is.  Other than trying to allocate less across the end-to-end benchmark, this isn't particularly actionable for the networking stack; driving down allocation is something that has been a priority and continues to be.  If anything, we might want

[2022-05-19 15:54] CarnaViire commented on #69488
Triage: that makes sense; we would gladly accept the contribution @sakno
Moving to Future as it's not a priority

[2022-05-19 15:56] CarnaViire commented on #69475
Triage: we should document this behavior

[2022-05-19 15:56] tannergooding commented on #66901
Going to close this. I would be open to a proposal that `char` be supported as one of the primitive types as indicated above.

[2022-05-19 15:59] tannergooding commented on #67151
This was done in https://github.com/dotnet/runtime/pull/69204

It currently just has a general software implementation. Additional acceleration will come with time but may be .NET 8 depending on timing.

[2022-05-19 15:59] #67151 closed

[2022-05-19 16:16] antonfirsov commented on #43239
Team discussion:
It might be actually better to carry this information in an `IOException` subclass, maybe the same one for both HTTP2 and QUIC.
Passing this over to @rzikm who is responsible for the QUIC exception API design. I can help with the implementation when API-s are approved.

[2022-05-19 16:17] ManickaP commented on #43239
This is also related to decision whether to derive `QuicException` from `IOException`: https://github.com/dotnet/runtime/issues/56954
In such case, we would have `HttpRequestException` with `IOException` as the inner exception in both H/2 and H/3 cases. From that point of view, it might make more sense to reuse the similarity and design a common vehicle for the protocol error code. Moreover, this

[2022-05-19 16:28] TahirAhmadov opened #69560 "Multi const string concat using interpolation - not optimized"
This was posted on everybody's favorite blog, thedailywtf.com.

[SharpLab](https://sharplab.io/#v2:EYLgtghglgdgNAFxBAzmAPgAQEwEYCwAUJgMwAEOZAwmQN5FmMXmYAsZAsgBQCUdDTQZlwAGMgAsAphAAmkgE5kAvGQBEqgNwDGU2QuVqAKlAQAbSZu0TpcxSoAkq2rtsBfOAB1VAMSjyUCGQAchBgkl6WhIIu+g5OMfLuXhxQMjLmwaHh6lpRTAkGjs42CkmqADKogSFhEbnRJXZkRQnuAMoArgBmXVAAHpENek0tje5UAPZgAA4QMACeg/mNhfFjcAAikrPyCGEwCEs6K3HFw2UAUhPAZMZm2UfWw6tnbp6

[2022-05-19 16:31] kunalspathak commented on #69561
Could be related to #69034?

[2022-05-19 16:36] stephentoub commented on #69560
[SharpLab](https://sharplab.io/#v2:EYLgtghglgdgPgAQEwEYCwAoBBmABM3AYVwG9NcL88EAWXAWQAoBKU8yjhFABlwAsAphAAmAgE64AvLnYc5uAEQAVKABcANgIW4A1LPmUFAGgA6CgGJQxAZ1W4AchDACz2vRgNzjZ+lGHDNBycXBTd9T28FABkIWyDnV11wg2MAZQBXADNMqAAPMI9PQyNCAHswAAcIGABPAqLigBEBKrFVZxhVeobFUwUAKVLgXBUNEO6GyIAhdOtYAWtrXFTVMQEBVUT3Ht6zGbmYBaWVtY3cJC3k+WnZ+cXl1fW7bEvCyb79u6XCNRrXnZuByODwgqnGSTeRUBX1wAAVSrYIOoiKVRP8etDDvcyulOmIagB6XA

[2022-05-19 16:37] eerhardt commented on #69290
@udaken - Do you have Docker installed? If so, you can prepare an environment by following the steps in https://code.visualstudio.com/docs/remote/create-dev-container with a dotnet/runtime clone. We have a `.devcontainer` folder in the repo with all the requirements needed to prepare an environment. All you need is Docker.

If that isn't possible, another option would be to get your account enable

[2022-05-19 16:39] TahirAhmadov commented on #69560
I know, my question stems from the fact that the interpolation version is reduced to a series of `Concat` calls, but it doesn't reduce it further to a single string.
Granted - we could say this is where we draw the line, you write terrible code, it's on you...

[2022-05-19 16:40] WeihanLi opened #69562 "Typo in Microsoft.Extensions.DependencyModel/src/DependencyContextStrings.cs"
A typo found in

https://github.com/dotnet/runtime/blob/f6c5698cb612f3b6e56eb41d808ae7fa73c63897/src/libraries/Microsoft.Extensions.DependencyModel/src/DependencyContextStrings.cs#L36

[2022-05-19 16:40] stephentoub commented on #69560
You're asking whether the C# compiler could recognize that the variable being used was actually populated with a constant and revise its code generation based on that?

[2022-05-19 16:46] tommcdon commented on #69546
Hello @GO3LIN!  I'm closing this issue as this repo is for the .NET implementation of EventSource.  This particular problem seems be related to the javascript eventsource, which seems to be getting the 1.1 version of eventsource : https://github.com/EventSource/eventsource/pull/273#issuecomment-1127624508.  Since there may be a javascript package reference from signalr, please feel free to open a

[2022-05-19 16:46] #69546 closed

[2022-05-19 16:51] kunalspathak commented on #68338
This benchmark recovered:

![image](https://user-images.githubusercontent.com/12488060/169354992-b007175f-c840-459c-b4e5-39a14aca308e.png)

[2022-05-19 16:52] Jozkee commented on #62975
Thanks!

[2022-05-19 16:54] tmds commented on #65874
@vcsjones I assume you didn't find time for this. I'll give it a shot next week.

[2022-05-19 17:09] bartonjs commented on #69021
Looks good as proposed

[code]

[2022-05-19 17:09] maryamariyan commented on #65264
Yes. It might be OK, I'll need to prototype the implementation that supports updating buffer size on reload.

Link to current logic:
https://github.com/dotnet/runtime/blob/main/src/libraries/Microsoft.Extensions.Logging.Console/src/ConsoleLoggerProcessor.cs#L17

[2022-05-19 17:22] danmoseley commented on #68338
Any idea why - did it coincide with another arcade update?

[2022-05-19 17:31] lambdageek opened #69568 "[wasm-ep] Can't have both runtime and EventSource event providers in the same session"
Depends on https://github.com/dotnet/runtime/pull/69567

Specifying both an EventSource and one of the runtime providers (e.g. `"Microsoft-Windows-DotNETRuntime"`) on the same session only captures runtime events and not the EventSource events

Repro:

modify the `browser-eventpipe` sample and change

[code]

to

[code]

and collect a trace.  note that there are no `EventCounters` events in the re

[2022-05-19 17:34] bartonjs commented on #68557
Generally looks good as proposed, except
* we synchronized the AttributeTargets with what we have on `SupportedOSPlatformAttribute`.
* we made UnsupportedOSPlatformAttribute.Message be get-only with a new ctor.

[code]

[2022-05-19 17:43] bartonjs commented on #68792
Generally looks good as proposed, except we added an overload of EnumerateUris that takes a System.Security.Cryptography.Oid

[code]

[2022-05-19 17:45] tarekgh commented on #69513
CC @jkotas

This looks the coreclr is calling AppContext.Setup passing invalid pointers?

[2022-05-19 17:51] jkotas commented on #69513
Duplicate of https://github.com/dotnet/runtime/issues/69222

[2022-05-19 17:51] #69513 closed

[2022-05-19 18:01] bartonjs commented on #68897
Looks good as proposed.  It seems like there's some missing user story around what to do when it's `true`, but it does provide incremental value.

[code]

[2022-05-19 18:11] josalem commented on #69375
Has there only been one instance of this failing? If this is indeed a race condition in the tracing code, I would have assumed we would have seen this issue for a long time. Rundown logic hasn't changed significantly in a long time. I would assert that something else changed around the tracing code. I'll take a look at the PR Tom mentioned and see if I spot anything.

[2022-05-19 18:17] bartonjs commented on #25918
We generally liked option (2) over option (1).

* We don't particularly feel like the nullable return value on the HttpStatusCode is needed, the code should always be populated and can use a sentinel value for "I haven't attempted connecting yet"
* The HttpStatusCode property seems like it should be using `System.Net.HttpStatusCode` instead of `int` as its return type.  If there's a layering probl

[2022-05-19 19:04] bartonjs commented on #65264
* We changed the buffer size limit property to just be a simple queue length property
* There was a lot of discussion around DropNewest vs DropOldest vs a more complicated policy (such as Drop(Something)UnlessError), so there may be more enum values needed in the near future.
* We renamed all "Buffer" items to be "Queue"

[code]

[2022-05-19 19:04] jkotas commented on #69375
Yes, it is.

The heap enumeration and code memory allocation are all protected by `m_CodeHeapCritSec`. The problem that this lock does not protect the initialization of this memory. Here is the sequence of events that leads to this assert:

1. `EEJitManager::allocGCInfo` allocates a piece of memory for GCInfo and sets up codeheader to point to this memory (under `m_CodeHeapCritSec` lock)
2. The tr

[2022-05-19 19:05] BrennanConroy commented on #69546
FYI ASP.NET Core SignalR is located at https://github.com/dotnet/aspnetcore

For this issue specifically, EventSource 1.1.1 is not vulnerable, but most vulnerability databases don't seem to be updated yet. https://github.com/EventSource/eventsource/pull/273#issuecomment-1127624508

[2022-05-19 19:06] jerryk414 commented on #68036
Thank you @eerhardt!

[2022-05-19 19:12] halter73 commented on #65264
We should log a message indicating exactly how many logs were dropped an where so it's obvious to anyone reviewing the logs why something fishy might be going on. We've already done this kind of thing in Microsoft.Extensions.Logging.AzureAppServices which you can see here: https://github.com/dotnet/aspnetcore/blob/bf50999cd8e60d4c683b772dffa9898794a8433a/src/Logging.AzureAppServices/src/BatchingLo

[2022-05-19 19:12] eerhardt commented on #65264
Should this be renamed to `DropWrite` (or similar) to not confuse it with the same named option in Channels?

https://github.com/dotnet/runtime/blob/6ca8c9bc0c4a5fc1082c690b6768ab3be8761b11/src/libraries/System.Threading.Channels/src/System/Threading/Channels/BoundedChannelFullMode.cs#L11-L16

I think it would be confusing for Channels' `DropNewest` to mean "drop the most recent item in the channe

[2022-05-19 19:14] josalem commented on #69375
Thanks for the clarification! Presumably this race has been around for a long time then. We'll take a look at adjusting the tracing code to handle this case.

[2022-05-19 19:14] bartonjs commented on #65264
Yeah, I thought about suggesting that.  Then wondered how pervasive Channels are, and if they're the odd one out there.

I'd support changing it to DropAdd/DropWrite/whatever.

[2022-05-19 19:27] #66027 closed

[2022-05-19 19:30] #69562 closed

[2022-05-19 19:41] vcsjones opened #69573 "[API Proposal]: InitialCapacity for AsnWriter"
### Background and motivation

There are many places throughout the Libraries where we use `AsnWriter` for little writes. Consider `X509KeyUsageExtension`'s managed implementation:

https://github.com/dotnet/runtime/blob/f6c5698cb612f3b6e56eb41d808ae7fa73c63897/src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/X509Certificates/ManagedX509ExtensionProcessor.cs#L23-L25

In

[2022-05-19 19:42] fanyang-mono commented on #69186
The support of `Vector4` on Amd64 was added to function `emit_vector_2_3_4` in simd-intrinsics.c

[2022-05-19 20:21] dakersnar commented on #68338
@danmoseley We haven't determined why. I think we should check in on this in a bit, and also monitor the rest of the configs to see if they also recovered. Unfortunately the recovery won't show up in the perf report until preview6 because it seems to have missed the cutoff.

[2022-05-19 20:23] Bio2hazard commented on #68230
@carlossanlop

Yikes, I was unaware that the archive is in a malformed format.

So the _original_ file that I first encountered this problem with was created by TeamCity Enterprise. A build agent designated a folder as the output artifact, and TeamCity automatically turned the folder into a `.tar.gz`. I think [these are the relevant docs](https://www.jetbrains.com/help/teamcity/configuring-general

[2022-05-19 20:28] AaronRobinsonMSFT commented on #61997
@vijayarasan Please let us know if this is still causing issues.

[2022-05-19 20:28] #61997 closed

[2022-05-19 20:33] #66668 closed

[2022-05-19 20:36] AaronRobinsonMSFT commented on #62223
This was fixed with our updated Roslyn SDK.

[2022-05-19 20:36] #62223 closed

[2022-05-19 20:36] AaronRobinsonMSFT commented on #60909
This should have been fixed with the GC fix last month.

[2022-05-19 20:36] #60909 closed

[2022-05-19 20:40] AaronRobinsonMSFT commented on #58601
@Const-me Have you been able to confirm what @am11 found?

[2022-05-19 20:45] kunalspathak commented on #68338
Out of the range during which performance was improved, we have a theory that https://github.com/dotnet/runtime/pull/68739 might have impacted, but it is hard to believe that the performance came back to around same point. Also, even if it is because of #68739, it means that we still need to investigate the cause of the initial spike.

[2022-05-19 20:51] Tratcher commented on #57308
Progress? https://github.com/microsoft/msquic/pull/2702

[2022-05-19 21:06] danmoseley opened #69576 "Vector128.IsHardwareAccelerated always returns false in debugger"
I'm using Visual Studio 17.2 using 7.0.100-preview.5.22267.11 SDK targeting 7.0.100-preview.5.22267.11 runtime.
[code]
This writes true for me, but Vector128.IsHardwareAccelerated in the watch window (or hovering) is always true. this doesn't happen for eg., Sse2.IsSupported.

@tannergooding

[2022-05-19 21:10] bartonjs commented on #69573
I was thinking about this recently, too.  I wondered if it might be (differently/also) useful to give it an initial buffer... not to say "start with these contents", but that for small or repetitive tasks to be able to use a pre-allocated (even rented) buffer.

Of course, that then has the "should it block growth" / "can you ask if it's still writing to your buffer and you can avoid copying it out

[2022-05-19 21:12] tannergooding commented on #69576
This is a simple fix. These aren't recursive where-as `Sse.IsSupported` and friends are.

I'll have a fix up shortly, just need to add a test validating things.

[2022-05-19 21:18] radical commented on #65033
Can this be closed now?

[2022-05-19 21:24] stephentoub opened #69577 "[Analyzer]: Unexpected allocation when converting arrays to spans"
The C# compiler has a valuable optimization that enables code like:
[code]
to be converted into code that emits that constant data into the assembly, and then this code just creates a span directly referencing that data.  However, this optimization is limited to single byte primitive types, to all of the initialization data being constant, and to immediately storing into a `ReadOnlySpan<byte>`.  I

[2022-05-19 21:26] halter73 commented on #69475
Can we revisit this? Should we move this issue to the aspnetcore repo?

[2022-05-19 21:30] kouvel commented on #51362
Actually you might be right about work stealing being a problem. If only one or few threads queue a whole bunch of timers locally and the thread pool is mostly idle, then all other threads would have to rely on work stealing to get that work. Batching may be more efficient when the thread pool is idle, so maybe that's a better solution for this case.

[2022-05-19 21:32] Const-me commented on #58601
@AaronRobinsonMSFT I’m not willing to bind functions manually, I’m consuming more than 300 of them, from 15 DLLs. I want `[DllImport]` to work consistently on all platforms.

Currently, I’m calling `NativeLibrary.SetDllImportResolver` and `[DllImport]` works afterwards.

Still, the software is large and has many DLLs both managed and native, so the workaround causes pages of boilerplate code. I wo

[2022-05-19 21:38] onurkanbakirci commented on #69377
Is there any solution? You can share more detail with me.

[2022-05-19 21:48] #69523 closed

[2022-05-19 21:54] vcsjones commented on #69573
A bunch of thoughts all jumped out at my head at once, so I will do my best to make sense of them.

My first thought is "how does ownership work". For example, let's say we accept a pre-allocated buffer... do we want to support continuing to own that buffer? One might think something like this works:

[code]

Ah ha, this is neat because now I can use `AsnWriter` allocation free.

But do we want th

[2022-05-19 23:08] federicoparra opened #69599 "Can't debug C native dependency of WASM Blazor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Following this guideline
https://docs.microsoft.com/en-us/aspnet/core/blazor/webassembly-native-dependencies?view=aspnetcore-6.0#use-native-code, we can add a C library easily to a WASM Blazor project.
But when we try to debug it using Visual Studio 2022 for Windows, for example setting a bre

[2022-05-19 23:17] theodorzoulias commented on #761
@tkrafael [that](https://github.com/dotnet/runtime/issues/761#issuecomment-800558836)'s a clever technique. It solves the problem of reading a `Channel<T>` in batches, enforcing a maximum latency between consuming an item from the channel and processing a batch, and without triggering the memory leak issue. But it doesn't help at handling a different scenario, where you just want to wake up every

[2022-05-19 23:28] JamesNK commented on #69475
Ok, I had a feeling that would be the result. I raised the issue because the perf difference is so extreme, but starting 20,000 tasks at once is also extreme...

I think revisiting the name would be useful. It's odd to recommend server GC in client apps.

[2022-05-19 23:33] LeeMSilver opened #69584 "Unable to use Libraries.sln in VS"
Windows 10 V 19.9 / Visual Studio V22.2.1

I'm trying to study the source-code for the Libraries and CoreClr. As such, I downloaded and unzipped runtime-main.zip.

I ran GenerateLibrariesSln.ps1 in the src\Libraries folder and got a message for each project that I needed to install SDK 7.0.100-preview.4.22252.9. I downloaded/installed it, and reran GenerateLibrariesSln.ps1 successfully. I renamed

[2022-05-19 23:34] eerhardt commented on #68293
I finally got back to this. I've created https://github.com/dotnet/runtime/pull/69583 to fix this issue.

The problem, as far as I can tell, is that the macOS devices used in CI must have changed which group they run under, or somehow the user configuration on the machines changed. The tests were failing because they expected the `S_ISGID` bit to be set on the files, but that bit wasn't be set. Re

[2022-05-19 23:45] terrajobst commented on #54410
If the compiler synthesizes the attribute then I don't think they are any (real) .NET Standard concerns (assuming `scoped` is just a custom attribute on the parameter). Worst case, the consumer doesn't use C# 11 which means the caller can't use the API with a stack allocated span. The caller can, of course, upgrade to C# 11 to use this API this way.

While `readonly` would work here too I dislike

[2022-05-20 00:06] jaredpar commented on #54410
💯

[2022-05-20 00:21] bartonjs commented on #69544
I think adding the `TarFormat` kind on the entry is fine... it has goodness (jump table instead of cast-a-fall) and precedent.

I assume GNU-format global attributes still have to be literally the first entry to work as expected, and not simply the first GNU-format entry in the archive.  If not, is there a way of making the behavior apparent to a user who might want to read from them?

What does t

[2022-05-20 00:26] bartonjs commented on #69544
Re-reading the top I see you already talked about the writer continuing to be converting.  To me that made sense when an archive had to use only one family of entries, but makes less sense if the majority of tools support hybrid.

The ability to convert probably has some tidiness/goodness; but it feels like it should maybe just be extra/special API (like converting copy-style ctors).

[2022-05-20 00:32] wfurt commented on #57308
maybe. I know @ManickaP  was planning to do more testing. We should enable our tests on all platforms before we claim victory.

[2022-05-20 00:51] #41881 closed

[2022-05-20 01:01] intj-t opened #69586 "Continuous Integration Issue"
I really don't want to use Azure Devops because I miss XAML build definitions in TFS 2015 that are now deprecated. Did internal teams not want to make them available to the public anymore? Microsoft probably still has the UNIX subsystem too internally I bought the BSD 4.4 Lite Berkley book. and found the [OpenNT USEINX PDF](https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.120.7281&rep=rep

[2022-05-20 01:05] #69493 closed

[2022-05-20 01:06] #66692 closed

[2022-05-20 01:16] JulieLeeMSFT opened #69587 "Test failure: JIT\opt\Tailcall\TailcallVerifyWithPrefix\TailcallVerifyWithPrefix.cmd"
Log file: [Link](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-7c25bf59a6d940b592/JIT.1/1/console.8e34e161.log?helixlogtype=result)
Failed pipeline: [Link](https://dev.azure.com/dnceng/public/_build/results?buildId=1779275&view=results) cc @AntonLapounov
[code]

[2022-05-20 01:37] carlossanlop commented on #68293
Thanks for the investigation, @eerhardt. I still have to fix a bug in the tar tests, and after the fix I need to make sure they don't hit the same failure.

[2022-05-20 01:59] LeeMSilver commented on #69584
Additional info

It looks like most/all of the projects have unresolved package references to Microsoft.DotNet* components (ApiCompat, Build.Tasks.TargetFramework, GenAPI, GenFacades), and System.Threading.Tasks.Extensions.

Note that in some projects (e.g. Microsoft.Bcl.AsyncInterfaces) the Microsoft.DotNet* package references are unresolved for netstandard2.0 and netstandard2.1, while for others

[2022-05-20 02:02] JulieLeeMSFT opened #69588 "Test failure: Build failed during "Copy native test components to test output folder" in /Users/runner/work/1/s/dotnet.sh"
Pipeline [Link](https://dev.azure.com/dnceng/public/_build/results?buildId=1774636&view=results)
Log [Link](https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_apis/build/builds/1774636/logs/1197)

[code]

[2022-05-20 02:03] JulieLeeMSFT commented on #69588
Related https://github.com/dotnet/runtime/issues/67405

[2022-05-20 02:24] stephentoub opened #69589 "Codegen for `value ? stackalloc byte[c1] : stackalloc byte[c2]` vs `stackalloc byte[value ? c1 : c2]`"
The JIT's codegen for:
[code]
ends up being worse than its codegen for:
[code]
[SharpLab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIGYACMhgYQYG8aHunGBLAHYYGAWXIAKYBAgAbBgDdsMgK4wAlFx6dqPXQwDKAB2wCAPMACeGGAD4GuBgF57GbGADWSmRDANL1gG1FFRgGAH4GFAYQBgAOAF0Abk09JgB2ewCABiSUhgBfPLz6BkFhEVJJaTlg1Q0dLTzdIxNzK1t7JwUlVXCm1Jc3TxlvX38YAJR46IZ+1NxXDy8fP3aAhOSG1OIM3GzcrYKafKA==)

It'

[2022-05-20 02:28] #69521 closed

[2022-05-20 02:34] carlossanlop commented on #68230
Thanks for the information, @Bio2hazard . A few more questions:

Do you happen to know what was the original format of the archive? I couldn't find it in the documentation you shared. The reason I ask is because you then mentioned:

Which I interpret as: you deleted all the original files that the TeamCity tool generated, then added new files using 7-zip. So it's 7-zip who's adding the (seemingly)

[2022-05-20 02:42] hrrrrustic opened #69590 "[API Proposal]: ArgumentOutOfRangeException helper methods"
UPD: Fully rewrote description after creating PR
UPD2: Initially `IComparisonOperators<T, T>` was used instead of `IComparable<T>`
Proposed methods (split them as mush as possible) after looking at /runtime code:
(Not sure about `struct` constraint, everything looks working without it, but it exists in Linq.Max/Min)

[code]

# Some statistics
Actual usages count will be a little bit lower since so

[2022-05-20 03:36] michaelkira commented on #69549
Thanks for take a look at this issue.
I tested again, it is true that .NET Core some time will also call the garbage collection with process exit, but the possibility is very low while .net framework will call GC everytime in my case.
So for dispose, yes, I very agree that we should dispose the cert object once we finished using it.
But the real case we have is, we have a lot of singleton service

[2022-05-20 03:47] tarekgh commented on #68743
@0xced I am noticing some differences comparing the proposal to like [DateTimeConverter](https://github.com/dotnet/runtime/blob/334989f6cc0600f9c12e9fa989dc1814c8300d1d/src/libraries/System.ComponentModel.TypeConverter/ref/System.ComponentModel.TypeConverter.cs#L354). Any reason for that? you are proposing to have the extra API `IsValid`  and also you are missing the public constructor and the nul

[2022-05-20 03:55] bartonjs commented on #69549
You could add

[code]

after everything has run, though I have no idea if the DI system will have released references to them, or not.

Alternatively, when you create them you could register them into a static field/collection and register for the [AppDomain.CurrentDomain.ProcessExit](https://docs.microsoft.com/en-us/dotnet/api/system.appdomain.processexit?view=net-6.0) event, and manually call Di

[2022-05-20 04:02] gsuberland opened #69591 "[API Proposal]: Equivalent of Path.IsPathRooted for directory traversal prevention"
### Background and motivation

Filenames are often taken from untrusted input and combined with a base directory path. If the input filename is not properly checked, the resulting file path might be outside the base path, allowing files to be overwritten or accessed unexpectedly. For example:

[code]

If `this._basePath` is `C:\MyApp\data\upload` and an attacker sends `..\..\MyApp.exe.config` as a

[2022-05-20 04:22] gsuberland commented on #69591
As a side-note, it occurs to me that there should probably also be a `Path` function to check whether a given path refers to an ordinary filename or an alternate data stream (ADS) path. Something like `bool Path.IsAlternateDataStream(string)`. If that's something that's likely to be well-received, I can open another issue for it.

[2022-05-20 04:29] AaronRobinsonMSFT commented on #66625
This test failed in https://github.com/dotnet/runtime/pull/69213. Log https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-69500-merge-b21cdb471b2b42039a/JIT.1/1/console.9673802c.log?helixlogtype=result

[code]

[2022-05-20 04:32] #63547 closed

[2022-05-20 04:35] noahfalk commented on #65264
+1 for using DropWrite 👍

[2022-05-20 04:55] AaronRobinsonMSFT commented on #69584
@LeeMSilver Loading in Visual Studio requires building the repo first. From the command line run `build.cmd -subset Libs+Clr`. After that, I recommend starting Visual Studio from the command line using the `build.cmd` script. This can be done using the `-vs` flag for the desired assembly.

For example,

To load System.Private.CoreLib: `build.cmd -vs System.Private.CoreLib`

To load System.Runtime:

[2022-05-20 05:13] JulieLeeMSFT commented on #69589
cc @dotnet/jit-contrib.

[2022-05-20 05:35] AaronRobinsonMSFT commented on #58305
Close this based on the response in https://github.com/dotnet/runtime/issues/58305#issuecomment-908343545

[2022-05-20 05:35] #58305 closed

[2022-05-20 06:03] michaelkira commented on #69549
Thanks, @bartonjs Also can you provider more information about this statement
use EphemeralKeySet when you can (e.g. when not using SslStream/HttpClient, or macOS)

[2022-05-20 06:26] gregsdennis commented on #49144
Any traction on this?  Trying to get property values while debugging WASM is really annoying.

[2022-05-20 07:33] ManickaP commented on #57308
ATM, we cannot update msquic due to this: https://github.com/microsoft/msquic/issues/2732, so we cannot consume it yet. However, we might test it out locally and do some fix ups if necessary; otherwise this should just work (tm).

@rzikm is this something you could look into?

[2022-05-20 07:44] MichalStrehovsky opened #69593 "Internal CLR error while ILC.exe compiling Microsoft.CSharp in multifile mode"
Seen in this CI run: https://dev.azure.com/dnceng/public/_build/results?buildId=1780244&view=logs&jobId=310a6d4b-19ba-5a3a-d7f8-7eef1d10e31f&j=310a6d4b-19ba-5a3a-d7f8-7eef1d10e31f&t=18f80362-701c-5056-2790-aab686841135

I've not seen this before. ILC.exe is running on top of whatever dotnet/CoreCLR we use in the repo which is currently .NET 7 Preview 3. This is not self-hosted NativeAOT and likely

[2022-05-20 08:14] davmason commented on #60081
This is fixed now

[2022-05-20 08:14] #60081 closed

[2022-05-20 08:14] jakobbotsch commented on #69587
This does not look persistent so will remove the blocking label.

[2022-05-20 08:15] davmason commented on #60566
It was fixed in #65638

[2022-05-20 08:15] #60566 closed

[2022-05-20 08:36] ilonatommy opened #69594 "[wasm][debugger] Add onFrameCall evaluation of static members of non-static class"
Test e.g.
[code]
fails.
It should be resolved in `Resolve(string varName, CancellationToken token)` function. So far we support only static members of static classes or non-static members of non-static classes. We need to add the support of static members of non-static classes. To do so, edit `ResolveStaticMembersInStaticTypes` by using className found in result from `JObject retObject = await Res

[2022-05-20 08:37] jakobbotsch commented on #69587
Unfortunately doesn't look like there is any dump here. I'm trying to repro by running the test in a loop on win-arm32, but no luck so far.

[2022-05-20 08:38] mkhamoyan commented on #65840
It's still being hit in the last 3 rolling builds.
https://runfo.azurewebsites.net/view/build/?number=1780395
https://runfo.azurewebsites.net/view/build/?number=1779269
https://runfo.azurewebsites.net/view/build/?number=1778170

[2022-05-20 08:42] Antonius-S opened #69595 "[API Proposal]: Pxoxy (HTTP, HTTP tunnel, Socks) support at the Socket level"
### Background and motivation

Now proxies are supported for HTTP requests only but the world obviously is not limited to HTTP protocol. It would be nice to have proxy supported at the lower socket level so that any TCP connection could be proxied.

### API Proposal

Current SocksHelper.cs is based on a Stream so we've to use NetworkStream but it requires already connected sockets. Thus proxy feat

[2022-05-20 08:42] yejinmo opened #69596 "Call 'Type.GetType' after 'Assembly.LoadFrom' throw 'System.IO.FileLoadException'"
### Description

When call 'Type.GetType' after 'Assembly.LoadFrom', throw 'System.IO.FileLoadException'

[code]

Crash:
[code]

### Reproduction Steps

1. Create .Net Standard 2.0 dll project, write something or nothing, compile

[code]

2. Create .Net 6 console project, code:

[code]
3. Publish, using `.Net 6` `win-x64` `SingleFile` `SelfContained`
4. Copy `Core.dll` to `Test.exe` root directory

[2022-05-20 08:55] jakobbotsch commented on #69587
In the same run the UnsafeBlockCopy test failed. This is an extremely simple test that should involve next to no GC:
https://github.com/dotnet/runtime/blob/3914bcc230134ec3e1c9be903c6bd8ff60d92501/src/tests/JIT/opt/Inline/tests/UnsafeBlockCopy.cs#L7-L33

It seems unlikely to me that the problem is codegen related.

[2022-05-20 09:14] jakobbotsch commented on #69092
This looks like another occurrence of #68884. The test is disabled in GC stress, gets skipped, but the OutOfProcess execution mechanism seems to hang after that. cc @trylek, it seems like there is some form of intermittent deadlock in the OutOfProcess execution mechanism, do you have any idea how we can get to the bottom of it?

[2022-05-20 09:16] ViktorHofer commented on #69584
What @AaronRobinsonMSFT said. Unfortunately we require an initial root build today before you can open libraries inside VS.

That's a script that @stephentoub added to generate such big solution files. I don't know if it still works and it is probably missing the source generators as those didn't exist when the script was written. We could clean this up and offer a better way to generate a solutio

[2022-05-20 09:28] MihaZupan commented on #69595
For socks I understand wanting arbitrary connections. But what is your use case for doing things other than http over an http proxy?

[2022-05-20 09:44] rzikm commented on #57308
@ManickaP just curious, is that bug you mentioned something that was broken recently (and why we can't update)?

I tested the latest MsQuic locally and it will need some fixes from our side (namely passing `QUIC_CREDENTIAL_FLAG_USE_SUPPLIED_CREDENTIALS` for clients). Don't ask how long it took me to debug this :D

[2022-05-20 10:10] simonrozsival opened #69601 "[Android] Uncaught exception crashes an app without printing correct stack trace"
### Description

I noticed that uncaught exceptions don't print information about the exception that cause it and instead print information about a SIGSEGV crash originating in Mono `m_class_get_class_kind` function.

### Reproduction Steps

- replace all of `src/mono/sample/Android/Program.cs` with simply `throw new System.Exception("boom");`
- run the Android sample on a device
- observe the out

[2022-05-20 10:18] davidullrich opened #69602 "[API Proposal]: Add support for XML serialization callbacks"
### Background and motivation

Similar to the requirements for serialization of JSON, there is also the challenge with XML that requirements for values before serialization and after deserialization cannot simply be modeled via attributes.

Analogous to the support for notifications implemented in .net 6 for the serialization of JSON, this should also be supported for XML.

### API Proposal

[code

[2022-05-20 10:21] premun commented on #65840
I checked the linked builds and:
1. [The first](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-b74a37f2b5374038b4/JIT.1/1/console.08113c86.log?helixlogtype=result) is just a failing test
1. [The second](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-14ca07002d0c4db498/System.Text.RegularExpressions.Tests/1/console.4e75a0

[2022-05-20 10:35] #69522 closed

[2022-05-20 10:44] davidullrich commented on #69602
I would be able to implement the issue.

[2022-05-20 10:46] #67442 closed

[2022-05-20 11:00] jakobbotsch commented on #69092
I managed to get a repro by running `CoreclrTestWrapperLib.RunTest` in a loop with `COMPlus_GCStress=c` and `COMPlus_JitStress=2` on macOS arm64. Trying to track down now what the problem is.

[2022-05-20 11:16] Antonius-S commented on #69595
HTTP tunnel (aka CONNECT) could be used for anything, just like Socks. I personally prefer it over usual HTTP proxy manner (sending request with full remote Uri to proxy host) because of more clear semantic (connect to proxy -> negotiate with proxy -> send request to remote) and unmodified request contents

[2022-05-20 11:29] ManickaP commented on #57308
It's portable certificates specific (in our case on Linux), it's been introduced in https://github.com/microsoft/msquic/pull/2419. Some more details are in that PR.

[2022-05-20 11:46] vitek-karas commented on #69596
Thanks for reporting this.

The problem has been fixed in .NET 7 with https://github.com/dotnet/runtime/pull/67890.
Targeting the test project to `net7.0` and rebuilding/publishing with .NET 7 Preview 4 makes the program work the same regardless if `LoadFrom` is called or not.

[2022-05-20 11:46] #69596 closed

[2022-05-20 11:47] MihaZupan commented on #69595
You already can use `CONNECT` tunnels for anything - you send a CONNECT http request with `SocketsHttpHandler` and use the `response.Content.ReadAsStreamAsync()` as the transport stream.
But is it actually commonly used for things other than HTTP to warrant exposing a more convenient API for it?

For the socks part I think it's a reasonable request. We've briefly discussed it when we were adding s

[2022-05-20 11:54] lindexi opened #69604 "Using File.Exists to check the pipe created will make the NamedPipeClientStream connect fail"
### Description

We can use File.Exists to check whether the pipe exists, just as the code:

[code]

But after we use the File.Exists method and the NamedPipeClientStream may connect fail.

### Reproduction Steps

Step 1: Using NamedPipeServerStream to create the Pipe

[code]

Step 2: Using File.Exists to check the pipe exists.

[code]

Step 3: Using NamedPipeClientStream to connect the pipe.

[co

[2022-05-20 12:02] tmds commented on #69130
That's right. There is no API that returns the shared secret. And if I remember correctly, Windows itself doesn't provide one.

After trying the managed implementation on top of .NET crypto APIs, I did another prototype that wraps [libssh](https://www.libssh.org/). The code is at https://github.com/tmds/Tmds.Ssh. (The managed implementation is under the `release/v0.1` branch.)

[2022-05-20 12:24] jakobbotsch commented on #69092
@dotnet/area-system-diagnostics-process Can you please confirm that the following code looks correct:
https://github.com/dotnet/runtime/blob/8d4a724883715cc5ae71e020b22762136f7ce50b/src/tests/Common/Coreclr.TestWrapper/CoreclrTestWrapperLib.cs#L306-L334

On macOS arm64 I am frequently hitting a hang on the `WaitForExit` call when I run this code in a loop under `COMPlus_GCStress=c`.  The child pro

[2022-05-20 12:31] mkhamoyan commented on #65840
I'm not sure how runfo searches. Maybe @jaredpar can help?

[2022-05-20 12:31] Antonius-S commented on #69595
Well, I consider HTTP CONNECT option as a Socks analog with similar or even more easy protocol: only one req-resp while Socks requires 2 of them; it's HTTP-like and text-based; server could be written in 10 minutes. And like Socks it could be used for any TCP connection - f.ex., FTP, POP/SMTP/IMAP, SSH and so on. For example, I wrote primitive TLS tunneler exposing HTTP CONNECT interface in Node t

[2022-05-20 12:56] iSazonov commented on #69130
/cc @SteveL-MSFT Could you please share thoughts on the possibility of implementing this request?

[2022-05-20 13:00] steveharter commented on #67989
Yes based on this hot reload at https://github.com/dotnet/runtime/issues/69427 preserving instances is probably not feasible. Supporting a proper `Equals()` and stable `GetHashCode()` seems reasonable assuming perf is not crippled.

[2022-05-20 13:01] steveharter commented on #69427
Closing as duplicate of https://github.com/dotnet/runtime/issues/67989 assuming that we implement a proper `Equals()`.

[2022-05-20 13:12] directhex commented on #69555
Good question. Not sure!

[2022-05-20 13:27] yejinmo commented on #69596
Is there a way to fix this problem in .Net 6?

[2022-05-20 13:38] hakenr commented on #62054
Tried to update the repro to .NET 7 Preview 4, the issue is still there... 😭😭😭😭😭
![image](https://user-images.githubusercontent.com/12828888/169539993-57fd90bc-b490-4937-84e8-8e1a983bf504.png)
https://wasmgrpcerrorrepronet7.azurewebsites.net/

[2022-05-20 13:41] stephentoub commented on #69590
@tannergooding, were you looking to add an IsBetween method to one of the generic math interfaces?

[2022-05-20 13:42] stephentoub commented on #69590
Can you elaborate?

[2022-05-20 13:44] mgravell opened #69605 "[API Proposal]: [ReadOnly]Memory<T> lifetime / pooling considerations"
### Background and motivation

`Memory<T>`/`Span<T>` (and the read-only variants, and `ReadOnlySequence<T>`) are awesome. However, they have some weaknesses when it comes to pooling and lifetime considerations. When the lifetime is scoped inside a single deterministic context (i.e. "rent, do a thing, return"), it works great; but when lifetime needs to pass *outside* of that context: things get wo

[2022-05-20 13:46] mgravell commented on #69605
Thanks bot; I'm guessing this is area-System.Memory or area-System.Buffers, both of which are @jeffhandley - but I don't have write-permissions for that.

[2022-05-20 13:49] rcdailey commented on #69449
Your use case isn't exactly the same as mine (although I'm not certain the differences matter):

- On Windows, cross-compile the application for linux-musl-x64
- Take the single-file executable and copy it into your alpine image
- Set the `$HOME` directory to something (e.g. `/config`)
- Create `$HOME/.config`
- Run the executable

Does it still work for you?

[2022-05-20 13:56] hrrrrustic commented on #69590
Yes. Most of the usages in dotnet/runtime use prepared messages from `SR` and can be just passed as one more string param
https://github.com/dotnet/runtime/blob/6ca8c9bc0c4a5fc1082c690b6768ab3be8761b11/src/libraries/System.Net.Sockets/src/System/Net/Sockets/NetworkStream.cs#L131

But I think it is fine to do something like this sometimes
[code]

and in the new API laziness of interpolation will be

[2022-05-20 13:58] stephentoub commented on #69590
These helper APIs are meant for the most common cases where the caller wants to use a standard error message.  I don't think these APIs should accept a message; the implementation can use the bounds it's given to create the message, but the user shouldn't be able to customize it.  At that point, they can just write their own check.

[2022-05-20 14:01] #69502 closed

[2022-05-20 14:03] eiriktsarpalis commented on #69123
Closing as answered. We don't believe adding support to `JsonExtensionData` for constructor parameters warrants the added complexity, given that there exist easy workarounds.

[2022-05-20 14:03] #69123 closed

[2022-05-20 14:08] fanyang-mono commented on #65840
@premun regarding to the third one, the test seems to be passed. According to this log message:
`05-19 00:22:10.465 22728 22746 I DOTNET  : MonoRunner finished, return-code=100`
The test is marked as failed seems to be an infrastructure issue to me.

[2022-05-20 14:11] fanyang-mono commented on #65840
But all of them were different syndrome than the one originally reported here. If the original issue is not happening any more. Maybe we should close this one and open a new one to track the new issue.

[2022-05-20 14:13] premun commented on #65840
@fanyang-mono seems like XHarness is being killed somehow because of some time out and doesn't return any exit code:

[code]

There should be a line like this:
[code]

I think `-100` is the default that you set and it's never overridden?

[2022-05-20 14:15] jkotas commented on #69593
This is likely caused by https://github.com/dotnet/runtime/issues/68443 . We need to wait for the repo SDK to be updated to preview5.

https://github.com/dotnet/runtime/issues/69454 and https://github.com/dotnet/runtime/issues/69192 are potentially related.

[2022-05-20 14:16] tannergooding commented on #69590
Yep. I'll be getting a proposal up later today most likely.

[2022-05-20 14:16] fanyang-mono commented on #65840
Anything here suspicious?
[code]

[2022-05-20 14:19] Mossimos commented on #69010
SDK 6.0.300 an 6.0.203 Build osx.11.0-arm64
run output: segmentation fault
SDK 6.0.202
run output:  hello-world
see:
https://github.com/dotnet/sdk/issues/25440

[2022-05-20 14:20] tannergooding commented on #69590
This one needs a different name. In the realm of `generic math`, the `IEEE 754` (floating-point) spec, and a few other cases `0` is considered positive and `INumberBase.IsPositive` will return true. Likewise for `-0` it will return `false` and `IsNegative` will return `true`.

[2022-05-20 14:20] kunalspathak commented on #35033
Looks like `Shuffle` has landed in https://github.com/dotnet/runtime/pull/68559 so this can get started? Note, as called out in #67339 - lot of Base64Encode benchmarks like `System.Buffers.Text.Tests.Base64Tests.Base64Encode(NumberOfBytes: 1000)` are  up to 16 times slower. So we should fix this sooner to make sure it lands in .NET 7.

@a74nh , @SwapnilGaikwad

[2022-05-20 14:24] tannergooding commented on #69590
I'd likely recommend the other APIs have slightly different names as well:
* `ThrowIfNegative` - LGTM
* `ThrowIfNotPositive` - Needs a different name, as per above
* `ThrowIfGreater` - Should probably be `ThrowIfGreaterThan`
* `ThrowIfLower` - Should probably be `ThrowIfLessThan`
* `ThrowIfNotInRange` - Should probably be `ThrowIfNotBetween`

`GreaterThan(x, y)` is the name we use in the vector ty

[2022-05-20 14:26] Sergio0694 opened #69606 "[API Proposal]: add remaining APIs to complete NativeMemory set"
### Background and motivation

With #33244 and #63547, we now have the new `NativeMemory` type exposing lowlevel building blocks to perform common operations on memory. The APIs in this type are thing wrappers over the relative C API, and they all accept raw pointers and `nuint` length as parameters. They're effectively the "correct" (or, "easy", "preferred", "modern", whatever) way to interact wi

[2022-05-20 14:28] theodorzoulias commented on #69320
@eiriktsarpalis yes, the `TryTakeWithNoTimeValidation` is also used by these three methods:

[code]

The check is needed for these methods. Removing it would most likely cause performance regression. It's just that the `GetConsumingEnumerable` iterator does also this check just before calling this method, so it seems like the check in the iterator `while (!IsCompleted)` is superfluous.

Regarding

[2022-05-20 14:29] premun commented on #65840
I don't really have much experience reading these. I know that some of these such as "Shutting down VM" are there always but not sure about the others honestly

[2022-05-20 14:29] hrrrrustic commented on #69590
Agree, but not sure how can `ThrowIfNotPositive` be renamed, I thought above `ThrowIfNegativeOrZero` but is still falls in `-0 `and `+0` 😄

Updated proposal for other methods.

[2022-05-20 14:31] tannergooding commented on #35033
Noting that only the `Shuffle(x, mask)` API has landed and it still has a few quirks, but should be generally usable especially with constant inputs.

The `Shuffle(x, y, mask)` API is going to need https://github.com/dotnet/runtime/pull/68874 (which needs a couple bits of PR feedback handled and a final review).

[2022-05-20 14:31] a74nh commented on #35033
We are looking at this....

With a recent HEAD, took the ss2 C# code and (mostly) updated it to use Vector128.
On Arm64, most things generated into neon code ... but for  Vector128.Shuffle() it generated to a function call:

Annotated IR dump of part of the function:
[code]

[2022-05-20 14:32] tannergooding commented on #69590
`ThrowIfNegativeOrZero` seems reasonable to me. It `-0` is negative and/or zero, depending on how you look. `+0` is `zero`. So both will cause a `throw` and only positive/non-zero values will "succeed".

[2022-05-20 14:35] vcsjones commented on #69130
I _think_ this is possible with `BCryptDeriveKey` and specifying `BCRYPT_KDF_RAW_SECRET`. It's only on Windows 10+, and would be somewhat tricky to make work as it's a BCrypt API, whereas the `ECDiffieHellmanCng` implementation is built on top of NCrypt (to support CngKey and the like). For whatever reason the `NCryptDeriveKey` does not support raw values.

But I digress.

[2022-05-20 14:36] tannergooding commented on #35033
Can you share the managed code that was being used here, preferably including the `Shuffle` call and how its arguments are being passed in?

[2022-05-20 14:36] hrrrrustic commented on #69590
Uhh, make sense, updated proposal

[2022-05-20 14:45] t-mustafin opened #69607 "create-mibc with spgo on Linux"
As says 62df49298ae1 trace with sample data could be collected on Windows with xperf. Corresponding to https://github.com/dotnet/runtime/blob/main/docs/design/features/dotnet-pgo.md instrumented traces on Linux could be collected with dotnet-trace tool. Is there any tool on Linux for collecting spgo-traces to create mibc-file?

cc @jakobbotsch @davidwrighton @AndyAyersMS @alpencolt

[2022-05-20 14:50] a74nh commented on #35033
This code was made by taking Ssse3Decode(), replacing Sse2 with Vector128, then fixing up the function calls. Quite possible there's an obvious mistake on my end.

            // The JIT won't hoist these "constants", so help it
            Vector128<sbyte> lutHi = Vector128.Create(
                0x10, 0x10, 0x01, 0x02,
                0x04, 0x08, 0x04, 0x08,
                0x10, 0x10, 0x10, 0x

[2022-05-20 14:59] eiriktsarpalis commented on #69320
Take a look at the [workflow guide](https://github.com/dotnet/runtime/blob/main/docs/workflow/README.md#workflow-guide) to get started on building and testing the repo.

[2022-05-20 15:10] stephentoub opened #69608 "LibraryImport generated code feedback"
I spent a little time looking over the code generated for the LibraryImports in CoreLib.  Some random feedback / comments / questions...

**Performance**

1. [Addressed: #69764] Manual copy loops. For RegSetValueEx, I see this code being generated for marshaling:
[code]
That copy loop could be fairly inefficient.  Can't we use MemoryMarshal.Cast in a case like this to treat the char input as a ush

[2022-05-20 15:22] bartonjs commented on #69549
EphemeralKeySet means the key never gets written to disk.  SslStream/HttpClient on Windows can't work with certs of that form (because of an OS limitation).  macOS doesn't support certificate+key pairs that aren't associated with a Keychain, which is on-disk, so it can't load them at all.

[2022-05-20 15:24] SamMonoRT commented on #54850
Assigning to @ivanpovazan

[2022-05-20 15:28] Ropack opened #69610 "Records with framework multi-targeting throw System.TypeLoadException"
### Description

I discovered a bug when using record types in combination with a project that targets multiple frameworks, in my case net6.0 and netstandard2.0 i.e. `<TargetFrameworks>net6.0;netstandard2.0</TargetFrameworks>` in the .csproj file (but also tested with net6.0+netcoreapp3.1). In order to be able to use record types on netstandard, I have also configured `LangVersion` 9 in the .cspro

[2022-05-20 15:37] GrabYourPitchforks commented on #69532
I noticed this in the string marshallers as well the other day, e.g.:

https://github.com/dotnet/runtime/blob/6ca8c9bc0c4a5fc1082c690b6768ab3be8761b11/src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshalling/Utf8StringMarshaller.cs#L48

I _think_ the worst that will happen here is a runtime exception since somebody somewhere will detect the overflow, but I don't think we

[2022-05-20 15:49] jeffschwMSFT commented on #69559
@kunalspathak based on the commit range, I think that area-codegen-coreclr is the most likely cause.  What are your thoughts?

[2022-05-20 15:54] GrabYourPitchforks commented on #69606
I'd propose dropping _memcpy_ and exposing only _memmove_, but otherwise LGTM. We can expose _memcpy_ in the future if there's a real hardcore scenario for it.

[2022-05-20 15:57] huoyaoyuan commented on #69595
Generally, SOCKS can be used for any TCP and UDP session.
UDP case is more complicated since there is bind-receive process.

As #63162 discussed, the TcpClient API is out of date now. We may consider such API on a new designed Tcp API, or we can expose the methods in `SocksHelper` some way. It can be directly used with `NetworkStream`.

[2022-05-20 15:59] theodorzoulias commented on #69320
@eiriktsarpalis thanks for the [link](https://github.com/dotnet/runtime/blob/main/docs/workflow/README.md#workflow-guide). I am seeing that building the repository is a quite involved process, so I'll skip it for now. Feel free to close this issue if you think that it's not actionable. The impact of removing the superfluous check of a `volatile` field should be quite minuscule after all. 😃

[2022-05-20 16:04] crummel opened #69611 "Is runtime.linux-x64.Microsoft.NETCore.Runtime.ObjWriter necessary for source-build?"
This is a new prebuilt in 7.0 that we're seeing being used by coreclr/ILCompiler.  Is this a component that needs to be included in source-build?  It seems to be related to Native AOT but there's also some notes where it's being used that make it seem testing-related.

[2022-05-20 16:09] AndyAyersMS opened #69612 "Unexpected JIT helper in TreatAsHasRetBufArg"
I have a customer case that fails on 6.0 with checked CLR assert:
[code]
looking at the dump, we have the following tree
[code]
and the code in `TreatAsHasRetBufArg` is not expecting to see this helper.

I'll see if I can come up with a simple repro. Seems like in release we'll do the right thing as the default case is to return `false`.

[2022-05-20 16:41] AaronRobinsonMSFT commented on #69606
Can't all these be done using existing APIs on `Span<T>`?

[2022-05-20 16:43] stephentoub commented on #69606
Not if you have a byteCount > int.MaxValue.

[2022-05-20 16:43] MattGal commented on #65033
I think so; the warnings as errors is long resolved and we have a Server 2022 ES-ES queue which will last a relatively long time.

[2022-05-20 16:43] GrabYourPitchforks commented on #69606
@AaronRobinsonMSFT Kind of, but it's a bit weird without true nint support on `Span<T>`. The caller would have to create helpers to call the existing `Span<T>` methods in a loop.

[2022-05-20 16:45] Sergio0694 commented on #69606
Also how would you do `memcmp` and `memcpy` with `Span<T>`?
AFAIK `Span<T>.CopyTo` is equivalent to `memmove` (as it has extra logic to handle overlaps).
As for `memcmp`, wouldn't you need some additional logic to find the first not equal `byte` and then compare it? 🤔
I guess there's also the argument of having a single, consistent "goto" set of APIs for memory manipulation.
Tanner also mentioned

[2022-05-20 16:49] vargaz commented on #65705
Do we still have these crashes ?

[2022-05-20 16:52] radical commented on #65705
I haven't seen these on CI recently.

[2022-05-20 16:53] tannergooding commented on #69606
Right. One benefit is that we can contract these APIs to just be calls to the CRT.

This simplifies a lot of things including when/where to call it and covers the scenario where we already have and use such APIs internally for the managed variants.

Calling into the CRT yourself is complex and potentially error prone, particularly when needing to consider various library names/versions, where APIs

[2022-05-20 16:57] GrabYourPitchforks commented on #69606
You don't need to use `Span<T>` for memcmp. It's easy enough to write yourself in a loop.

And here's memmove. It's possible over existing APIs but really inconvenient.

[code]

[2022-05-20 16:59] AndyAyersMS commented on #69589
As you probably know, small fixed sized stackallocs get special handling, so currently there's an advantage to the second form where the sizes are small and known.

Seems like it should not be hard to spot this pattern in the jit and effectively rewrite the code.

[2022-05-20 16:59] AaronRobinsonMSFT commented on #69606
Then it would appear if we add `nint` support these methods could be done using the `Span<T>` methods, which seems like what we want users to reach for, right?

This argument doesn't sit well with me. Adding `nint` support to `Span<T>` does sound like it would enable the "just use Span<T>" statement to hold. Is there a reason this wasn't done?

[2022-05-20 17:04] tannergooding commented on #69606
Its a very large breaking change because every `for (int i = 0; i < span.Length; i++)` loop is now potentially broken.

We might be able to mitigate that by having `Span<T>.Length` and `Span<T>.NativeLength` where the former basically does `return checked((int)NativeLength)` and the majority of spans continue working, but it still leaves the "hole" where you don't know whether or not a given metho

[2022-05-20 17:06] tannergooding commented on #69606
Likewise, `Span<T>` while good for managed isn't nearly as efficient or as optimized as the underlying CRT functions, particularly for large data.

We could certainly update them to correctly use non-temporal loads/stores and vectorized comparisons everywhere but that's quite a lot of work and there has been pushback in the past on if the long term maintenance for that is worthwhile over just havi

[2022-05-20 17:08] buyaa-n commented on #67989
Yes there is a single cache for MethodInfo, but as the cache also checks method handles for equality in this case 2 method will be added to the cache https://github.com/dotnet/runtime/blob/810a7f9cd78d6611c0473940cb733231f3eabc06/src/coreclr/System.Private.CoreLib/src/System/Reflection/RuntimeMethodInfo.CoreCLR.cs#L87-L88

I will check how those methods are created/obtained

[2022-05-20 17:10] vcsjones commented on #69573
A completely separate idea would be to support one shot encoding for non-constructed items.

[code]

[2022-05-20 17:12] vargaz commented on #57004
Fixed some time ago.

[2022-05-20 17:12] #57004 closed

[2022-05-20 17:13] Neme12 opened #69614 "Update XML docs for `IntPtr` and `UIntPtr`"
The XML docs summary for `IntPtr` and `UIntPtr` currently says:

This is also shown in the IDE when hovering over `nint` and `nuint`:
![image](https://user-images.githubusercontent.com/11444821/169577757-9b8dec37-cc18-4e7c-9a3c-7424ddffe384.png)
![image](https://user-images.githubusercontent.com/11444821/169577778-ec33a11a-ffd3-4b89-b252-be34e3a788a1.png)

Now that the C# native integer types are

[2022-05-20 17:14] vargaz commented on #57003
Fixed some time ago.

[2022-05-20 17:14] #57003 closed

[2022-05-20 17:15] vcsjones commented on #69573
I guess you could even do constructed items with `ReadOnlyMemory`:

[code]

This might be a better direction for "little" writes.

[2022-05-20 17:16] vargaz commented on #65705
Closing then.

[2022-05-20 17:16] #65705 closed

[2022-05-20 17:16] tannergooding commented on #69614
I'll be updating this alongside a PR I'm working on once the official build is finished and I can consume the new language functionality.

Based on past build times, I should have bits within the hour.

[2022-05-20 17:17] teo-tsirpanis commented on #782
@dotnet/area-system-text-json, @terrajobst this API is marked as approved but I can't find an API review video, or an entry in `dotnet/apireviews`. Did a mistake happen?

[2022-05-20 17:17] vargaz commented on #68808
Implementing infinite trampolines is a lot of work, so I'd prefer this approach.

[2022-05-20 17:24] Neme12 commented on #69614
This also applies to the constructors and other members like `Size` and probably others. Basically everywhere where it just says "pointer", it should primarily say "integer" and "pointer" maybe optionally in addition to that.

[2022-05-20 17:39] stephentoub opened #69616 "Consider propagating regex comments to source-generated code"
If a developer specifies `RegexOptions.IgnorePatternWhitespace` or uses the `(?x)` inline option, they can embed `# comments` inside their regex pattern.  Today the parser simply throws these away.  When in the context of the source generator, we could instead store them and try to propagate them to the generated C# code at an appropriate location.

[2022-05-20 17:49] elinor-fung commented on #65033
Yeah. We switched to Server 2022 ES-ES in :
- https://github.com/dotnet/runtime/pull/66404
- https://github.com/dotnet/runtime/pull/67054

[2022-05-20 17:49] #65033 closed

[2022-05-20 18:07] AndyAyersMS commented on #69612
[JitDump](https://gist.github.com/AndyAyersMS/f236bed055897393e321b4d1925a7f5c) for the above. This is using a build at latest release/6.0.

I'm actually looking at another issue with this customer case, so won't get back to this for a while.

[2022-05-20 18:13] stephentoub commented on #69589
Thanks.  This is in no way a priority.  I just saw some code doing it and noticed that the codegen was worse.  I would expect in these situations it'd actually be better for the code to just pick the larger value and stackalloc that (and use SkipLocalsInit).

[2022-05-20 18:14] bartonjs commented on #69573
Yeah. I think a more "natural" representation, given the static AsnDecoder type, would be to make a static AsnEncoder type.

[code]

(And Try versions, too, I'm just doodling)

In that doodle there the BIT STRING and OCTET STRING types were the only ones that needed to know the encoding rules (because of CER).

[2022-05-20 18:23] kunalspathak commented on #68470
@TIHan - If this doesn't repro, can you close it?

[2022-05-20 18:53] #68470 closed

[2022-05-20 18:56] #68293 closed

[2022-05-20 18:56] #60581 closed

[2022-05-20 19:09] dotMorten opened #69618 "[Uri] Absolute paths using UriKind.RelativeOrAbsolute parsed as relative on iOS and Android"
### Description

`Uri.TryCreate` with `UriKind.RelativeOrAbsolute` fails to detect absolute paths on .NET 6 iOS and Android, whereas this worked with the legacy Xamarin mono runtimes.

### Reproduction Steps

Run the code on both .NET 6 ios/android and legacy xamarin. Note that the asserts are very different for the code to work on both platforms.
[code]

### Expected behavior

IsAbsoluteUri and I

[2022-05-20 19:12] dotMorten commented on #69618
Found this reference regarding the difference: https://www.mono-project.com/docs/faq/known-issues/urikind-relativeorabsolute/

[2022-05-20 19:26] jkotas commented on #67989
I do not think that this issue and #69427 have the same root cause.

Without hot-reload, we are not supposed to ever end up with multiple MethodInfos pointing to same (non-generic) method.

Internally, the runtime can have multiple MethodDesc* for the same method. These MethodDescs are unboxing and/instantiating stubs. This is runtime implementation detail that is not supposed to leak through the

[2022-05-20 19:26] jkotas commented on #69427
We should treat this and #67989 as two separate bugs.

https://github.com/dotnet/runtime/issues/67989#issuecomment-1133246061

[2022-05-20 19:27] YohDeadfall commented on #782
Hey there, I just opened a PR #69613 adding new policies to the libraries, but to complete it I need another round of API proposal. As @sveinfid mentioned, kebab is widely used too and is worth to be included for better interopability. My implementation is simple, so it shares the same code for snake and kebab conventions, and in addition to that allows upper and lower casing.

[code]

Names are c

[2022-05-20 19:30] Bio2hazard commented on #68230
Sorry, you may be right. I'll try to clarify.

I created a LINQPad Script ([gist](https://gist.github.com/Bio2hazard/fd40220f3b076c8fc15e0159a83444d4)) to read the headers of the files in the tar archive and compare the headers between 2 archives.

I was trying to determine if 7z changes the tar headers when files are added through the 7z GUI, as you are suspecting.

I extracted and untar'd the or

[2022-05-20 19:34] terrajobst commented on #782
@teo-tsirpanis

Likely. There are rare cases where we approve APIs offline via email, in a pinch. Those don't go via GitHub/YouTube and hence aren't picked up by my tool that archives them in dotnet/apireviews.

Any particular questions you're trying to answer?

[2022-05-20 19:35] terrajobst commented on #782
@dotnet/area-system-text-json based on the comments from @teo-tsirpanis and the latest change request from @YohDeadfall I have pushed the API back to api-ready-for-review.

[2022-05-20 19:36] SamMonoRT commented on #55528
@fanyang-mono is going to run locally and verify

[2022-05-20 19:40] JulieLeeMSFT commented on #68880
cc @dotnet/jit-contrib. This test is consistently failing in CI.
@AndyAyersMS PTAL.

[2022-05-20 19:42] AndyAyersMS commented on #68880
We should disable the test for now.

[2022-05-20 19:47] JulieLeeMSFT commented on #69551
cc @kunalspathak @dotnet/jit-contrib.

[2022-05-20 19:49] JulieLeeMSFT commented on #69505
cc @dotnet/jit-contrib.

[2022-05-20 19:49] JulieLeeMSFT commented on #68890
cc @dotnet/jit-contrib.

[2022-05-20 19:51] AndyAyersMS opened #69621 "JIT: another case of bad interaction of GDV and boxing"
https://github.com/dotnet/runtime/issues/53549 described a bug where the out-of-order IR produced by a box that feeds into an inline candidate can lead to trouble with GDV.

There is a new case of this in 6.0 reported by a customer. I don't have a small repro yet. This issue was worked around in 6.0 via https://github.com/dotnet/runtime/pull/56126 but evidently there are cases the workaround does

[2022-05-20 19:53] halter73 commented on #61634
I want to make a slight change to the approved `UseWindowsService()` and `UseSystemd()` APIs after starting work on the PR at #68580.

I want to rename these extension methods to `AddWindowsService()` and `AddSystemd()` for consistency with our other `IServiceCollection` extension methods. "Use" sticks out like a sore thumb when it's near other calls to `builder.Services.AddWhatever()`. We might n

[2022-05-20 19:55] JulieLeeMSFT commented on #69472
cc @dotnet/jit-contrib.
Moving to future since we have less than 2 months to .NET 7 code complete.

[2022-05-20 19:57] AndyAyersMS commented on #68880
Likely introduced by https://github.com/dotnet/runtime/pull/64412.

[2022-05-20 19:57] crummel commented on #69461
Let me take another look at this one and track down exactly where this is coming from.  We're hoping to have better tooling for repo-by-repo prebuilts soon.

[2022-05-20 19:59] AntonLapounov opened #69622 "[API Proposal]: Non-cooperative abortion of code execution"
### Background and motivation

Update: Replaced `TryThrowException` with `TryAbort` as was in the original proposal.

There is a number of execution environments for .NET code that may benefit from having an option to perform non-cooperative abortion of code execution, e.g., C# and F# interactive compilers (`csi` and `fsi`) or .NET Interactive Notebooks (see dotnet/runtime#41291).  While the legac

[2022-05-20 20:01] JulieLeeMSFT commented on #66089
Assigining Arm64 issues to @kunalspathak. Please redistrubte to members.

[2022-05-20 20:02] AndyAyersMS commented on #68880
Seems like the logic is off here:

https://github.com/dotnet/runtime/blob/8626da3cc62d940513141b7c58c3495a87bb2bba/src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Byte.cs#L2377-L2400

and here

https://github.com/dotnet/runtime/blob/8626da3cc62d940513141b7c58c3495a87bb2bba/src/libraries/System.Private.CoreLib/src/System/SpanHelpers.Char.cs#L2064-L2087

We are checking if SSE2 is suppor

[2022-05-20 20:07] carlossanlop commented on #68230
Thanks for spending time helping with this, @Bio2Hazard. I appreciate it a lot.

Ah good to know, my suspicion was correct.

This might be because you were doing this on a Windows machine. The concept of mode, uname and gname are from Unix. This is ok.

This is interesting, and I think it's the only thing left for us to clarify, if that's ok. Do you mind sharing the exception message/callstack whe

[2022-05-20 20:08] JulieLeeMSFT commented on #64815
@BruceForstall please move to future if we cannot accomodate this in .NET 7.

[2022-05-20 20:13] Bio2hazard commented on #68230
@carlossanlop I'll get those stack traces for you

I wanted to quickly add that you should be able to just base64 decode the headers in my last message. They should have **exactly** what you are looking for. It's the first 512 bytes of the entries, from both teamcity and 7z.

[2022-05-20 20:15] JulieLeeMSFT commented on #58633
Moving to future since we have less than 2 months to .NET 7 code complete.

[2022-05-20 20:19] jkotas commented on #69606
`Span<T>` [delegates to the CRT for large buffers](https://github.com/dotnet/runtime/search?q=MemmoveNativeThreshold) for these functions as appropriate, for the reasons you have mentioned. We handle the smaller buffers in managed code to avoid the transition cost for them. I expect we would use the exact same implementation for these APIs (ie these APIs would be one-liner wrappers of the existing

[2022-05-20 20:24] Sergio0694 commented on #69606
Just to clarify, didn't we want the APIs in `NativeMemory` to have names matching the underlying C APIs as much as possible? As in, that was my understanding given that eg. the one to clear is also called `ZeroMemory` and not `ClearMemory` 🤔

Same goes for `CopyMemory` to wrap `memmove` too I guess.

[2022-05-20 20:27] jkotas commented on #69611
objwriter is not testing related. It needs to be included in source-build, assuming we want NativeAOT packages to be produced by source-build.

[2022-05-20 20:28] crummel commented on #69611
I think that means we need to include https://github.com/dotnet/llvm-project in source-build as well, correct?

cc @MichaelSimons

[2022-05-20 20:29] JulieLeeMSFT commented on #68890
@AndyAyersMS, I am opportunistically setting it to .NET 7, but please feel free to move to Future.

[2022-05-20 20:29] JulieLeeMSFT commented on #63067
@kunalspathak, should we move this to future?

[2022-05-20 20:29] hoyosjs commented on #69611
Yes

[2022-05-20 20:33] JulieLeeMSFT commented on #60252
@BruceForstall, opportunistically setting to .NET 7. Please move to future if it cannot be done in .NET 7.

[2022-05-20 20:36] jkotas commented on #69606
The matching C++ API is caller `memset`. I see no similarity between `ZeroMemory` and `memset`. (There is Windows-specific `ZeroMemory` macro in Windows SDK that is `#define`d to memset. Windows SDK names are not necessarily the best prior art for .NET naming.)

Good point though. We may want to rename `ZeroMemory` to `ClearMemory` for consistency.

All `Copy*` APIs for copying memory in .NET (Arr

[2022-05-20 20:56] ogxd commented on #69475
I tried with ServerGarbageCollection and it made a difference where now both clients are on pair.
I dug a bit to understand why it is that much slower under Workstation GC by looking at ETW GC events and using the repro setup I see a difference where using the `Grpc.Net.Client` there are twice as much GC events (~400 in 10 seconds!) and that are almost entirely **ForegroundGC** while it was mostly

[2022-05-20 20:58] elinor-fung commented on #69608
@stephentoub could you point us at an example for this? We should already be doing this (and should have tests for it), so it's definitely a bug if it is not happening. I believe most of the runtime libraries already have it set it at the module level, so we don't add it on the method.

[2022-05-20 21:00] teo-tsirpanis commented on #782
~~My question was what was the approved API shape was~~ Well, forget it, I found https://github.com/dotnet/runtime/issues/782#issuecomment-532341171 (😳), but it might still be useful to re-review it for the additional casings.

`JsonKnownNamingPolicy` might also need to be updated.

[2022-05-20 21:09] #66036 closed

[2022-05-20 21:19] carlossanlop commented on #68230
Oh cool, never done that. Allow me to figure it out then, and will come back to you if I don't find the info I wanted.

[2022-05-20 21:32] radical commented on #69536
cc @eerhardt

[2022-05-20 21:37] eerhardt commented on #69536
@radical - has this happened on any other build than your PR? Does it repro in `main`? If yes - do you have repro steps on what kind of build, and on what platform, this repros on?

[2022-05-20 21:38] radical commented on #69536
No, I have seen it only this one time.

[2022-05-20 21:46] AndyAyersMS commented on #69621
Repro case
[code]
On 6.0
[code]

[2022-05-20 21:50] filipnavara commented on #69618
This was always a difference between .NET [Core]. The problem is that the input is ambiguous, it can either be relative to server Uri (eg. `/foo/bar/` relative to `https://foo.com/example/` is `https://foo.com/foo/bar) or an absolute path with implicit `file://` scheme. Mono (& legacy Xamarin) chose to interpret it one way and .NET Core the other way. .NET 6 follows the .NET Core interpretation.

[2022-05-20 21:51] AndyAyersMS commented on #69621
Verified 7.0 handles this just fine.

Going to first look at porting the fix from https://github.com/dotnet/runtime/pull/60355

[2022-05-20 21:52] eerhardt commented on #34098
I've updated the top post with the current proposal. Please take a look and provide feedback. Once we are happy with the proposal, I can mark this as `api-ready-for-review`.

[2022-05-20 21:54] teo-tsirpanis commented on #69622
Because this API can unpredictably corrupt the application's state by design and to avoid misuse, it might need to be gated by an opt-in runtime configuration setting. This means we also need a `static bool IsSupported { get; }` property to the `ControlledExecution` class.

My understanding is that it's impossible to implement this API safely, and this would strongly discourage using it as a repla

[2022-05-20 22:01] LeeMSilver commented on #69584
Thanks for the response.
Under runtime-main I found the foldersrc\.DotNet\shared\Microsoft.WindowsDesktop.App\7.0.0-preview.3.22177.1
which seems to have the dll's that I can use to resolve Reference references. This should be sufficient for my purposes. Having a way to resolve the References means that I can examine the projects in any order; so I don't need BuildProjectOrder to work. I don't thi

[2022-05-20 22:02] eerhardt commented on #34098
One issue I have with the current design is that I see methods falling into 2 categories:

1. Ignoring the result of this method is basically guaranteed to be a bug in your code - i.e. Reliability. (Stream.Read, ImmutableCollection.Add, `string.Replace/Remove`, etc.)
2. Ignoring the result of this method means the method call is unnecessary - consider removing the method call - i.e. Performance. (

[2022-05-20 22:04] #69258 closed

[2022-05-20 22:04] Bio2hazard commented on #68230
@carlossanlop nice looks like it worked out! Base64 is just a quick and convenient way to share byte[]s through a text format. You can use `Convert.FromBase64String("<base 64 header from before>")` to get the raw byte[] in C# if that helps.

I got the stack traces for you:

### WithSystemsFormatTar_PreDecompressed()
In this variant, the `.tar.gz` is first decompressed via `GZipStream` into a seeka

[2022-05-20 22:05] mrsharm commented on #69258
Closing for now, please feel free to reopen if need be.

[2022-05-20 22:06] vcsjones commented on #69573
Well, I think character strings would need to know CER-or-not, too.

I think, at least for what I would hope for, just being able to do basic primitives would be enough. If SET OF and SEQUENCE OF, I think it's fairly reasonable to just go to a builder for that.

Anyway, if you have appetite for doing this, here's a complete proposal. Maybe it should be spun off it to it's own separate issue.

I om

[2022-05-20 22:08] AndyAyersMS commented on #69621
Porting was surgical. So going to propose that as the fix. Will add the test case.

[2022-05-20 22:08] eerhardt commented on #69536
Are you sure the failure isn't caused by your changes? Can you repro it yourself with your changes?

[2022-05-20 22:14] #69586 closed

[2022-05-20 22:15] richlander commented on #69586
This issue isn't actionable. We're happy to address specific issues with our current products.

[2022-05-20 22:18] #58159 closed

[2022-05-20 22:18] #67887 closed

[2022-05-20 22:21] bartonjs commented on #69573
Explicit encodes as a SEQUENCE with one item, right?  So it might need to know CER-ness, because I think CER might have to write an `EXPLICIT [0]` as

[code]

Yeah, probably :smile:

[2022-05-20 22:21] tarekgh commented on #65989
@noahfalk the GC API is already in now.

[2022-05-20 22:22] DrewScoggins commented on #69222
We have started seeing this bug again. It looks like it happened between the commits here, dd919f1e...b12e288a.

@kunalspathak

[2022-05-20 22:29] radical commented on #69536
It passed on the second attempt by azdo for the same commit of my branch. My [PR](https://github.com/dotnet/runtime/pull/68696/files#diff-1a2c2a3ad9fbfb269d653ae3dc750539f97d78bb88a809e9dd08fcb04c033215) has very few non-wasm specific changes, and this is not for a wasm run.

[2022-05-20 22:32] eerhardt commented on #69536
Hmm, that's odd for a NRE in the linker to be non-deterministic. @agocke @vitek-karas @sbomer - thoughts?

[2022-05-20 23:28] jakobbotsch commented on #69222
Strangely we have runs from yesterday that are green:
https://dev.azure.com/dnceng/public/_build/results?buildId=1781232&view=results

[2022-05-20 23:30] JRahnama opened #69633 "What kind of SSL/TLS is being used for dotnet sdk check?"
### Description

when I try to run `dotnet sdk check` I get an error message stating:
![image](https://user-images.githubusercontent.com/32077152/169624152-86c68c06-b2e4-4fa0-b3bd-fbf20a00fd3a.png)

I am not sure if a certificate or a public key has been removed from machine that causes the issue. Just wanted to check with you to see if there is a way to reinstall any missing key/certificate on a

[2022-05-20 23:50] tannergooding commented on #69632
The documentation here is incorrect and .NET Framework's behavior is not IEEE 754 compliant.

The IEEE 754 spec defines a series of special-cases for `pow`, including:
* `pow (+1, y)` is `1` for any `y` (even a `quiet NaN`)

IEEE 754 also defines a `pown(x, n)` which operates only on integral `n` and a `powr(x, y)` which operates only over positive `x`. The latter would have `powr(x, qNaN)` return

[2022-05-20 23:59] Austin-Lamb commented on #39233
I have a minimal repro of this issue in case it helps.  With code like this:

[code]

When running this in .NET Framework 4.6.2, I get numbers like this:

[code]

When running in .NET 6, I get numbers like this:

[code]

So it's ~10-11x slower here.  In some cases in a larger codebase I've seen it be 13-14x slower.  @stephentoub any thoughts about fixing this in .NET 7?

[2022-05-21 00:11] stephentoub commented on #39233
What would the fix be?

(We still haven't heard back from @jtkukunas.)

[2022-05-21 00:31] jeffhandley commented on #57197
@srikrishnag - Can you review the API that was approved to confirm that it would meet your needs? It is a very minimal addition, simply adding a `bool ZipArchiveEntry.IsEncrypted` property.
[[API Proposal]: Add property to ZipArchiveEntry to indicate if the entry is encrypted · Issue #68897 · dotnet/runtime](https://github.com/dotnet/runtime/issues/68897)

Please note that this new API would be av

[2022-05-21 00:39] kunalspathak commented on #69222
@DrewScoggins - I downloaded the artifacts from the failing job and it seems to work fine for me. Is the machine in bad state or something?

[2022-05-21 00:46] saucecontrol commented on #12212
This was resolved by https://github.com/dotnet/runtime/pull/58196

[2022-05-21 00:46] #12212 closed

[2022-05-21 00:53] Austin-Lamb commented on #39233
Could we insert a buffer into the stream?  When I tested putting a BufferedStream atop the DeflateStream, it substantially improved perf (by 50x) - and it looks like .NET Framework essentially had a buffering mechanism in this codepath.

[2022-05-21 00:58] stephentoub commented on #39233
If someone wants a buffer, they can add a BufferedStream themselves; BufferedStream exists because most streams don't implicitly buffer themselves, and it provides the ability to opting in to doing so when it's desirable.  Implicitly adding a buffer impacts all use cases (e.g. additional allocation), whereas this issue is localized to ReadByte.

Can you elaborate?  What buffer are you referring to

[2022-05-21 01:00] Austin-Lamb commented on #39233
I didn't read the code closely, but in Inflater there is a thing called OutputWindow in .NET Framework - and a cursory read suggests this is some kind of buffer.

I'm planning to use a BufferedStream as my workaround, but it feels like DeflateStream and GZipStream performance should be equivalent on upgrading to .NET Core from .NET Framework so codebases don't have to go manually buffer these stre

[2022-05-21 01:10] stephentoub commented on #39233
That's part of the old managed implementation of decompression, which is only used if you explicitly opt out of using zlib via config, and is way slower, existing only for legacy compatibility.

DeflateStream and GZipStream in .NET Core are generally much faster than they are in .NET Framework, when you read/write in reasonably-sized chunks (though many of the improvements made in .NET Core around

[2022-05-21 01:19] Austin-Lamb commented on #39233
The reason I found this is we have a `BinaryReader` which ends up reading strings, and strings first read a 7-bit encoded length with `Read7BitEncodedInt` which is a single byte so this got super expensive quickly.  `ReadByte` can happen even without a caller directly trying to read bytes one at a time, through mechanisms like that.

How do you opt out of zlib via config, so I can try that out?

[2022-05-21 01:22] stephentoub commented on #39233
On .NET Framework, you use this switch:
https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/retargeting/4.5.2-4.8#suggestion
zlib is the only mechanism for .NET Core; it's the primary mechanism for .NET Framework, which just kept the old managed implementations around for compatibility.

Makes sense.  Using a BufferedStream for now is a good way to go.  Even if/when this issue is add

[2022-05-21 01:38] am11 opened #69635 "jit disasm is confusing for R2R helpers with different entry points"
Repro:
[code]
crossgen'd with:
[code]
emits the following asm for `get_Bar()`:
[code]
`CORINFO_HELP_READYTORUN_STATIC_BASE` is emitted twice. This does not happen in the absence of .cctor.

using runtime / CG2 build from commit: 810a7f9cd78d6611c0473940cb733231f3eabc06.

category:implementation
theme:ready-to-run
skill-level:beginner
cost:small
impact:small

[2022-05-21 01:53] AaronRobinsonMSFT commented on #69608
@stephentoub Using `Unsafe.SkipInit` is possible except when the out is a pointer value - good idea. The remaining 5 functional statements the team is looking at - see @elinor-fung's comment above.

I appreciate the aspirational aspect of the style issues and I think we can move closer, but for our first public version we are only going to focus on the easy ones. Updated comments on the stages - g

[2022-05-21 02:37] hrrrrustic opened #69637 "[API Proposal]: More helper methods for exception types"
### Background and motivation

A few more helper methods that can replace a lot of boring and copy-paste `if` checks in dotnet/runtime and user code as well.
I believe that this one and #69590 will cover all possible helpers 😸

### API Proposal

[code]

### API Usage

`FileNotFoundException`

https://github.com/dotnet/runtime/blob/6ca8c9bc0c4a5fc1082c690b6768ab3be8761b11/src/libraries/System.Diagn

[2022-05-21 05:35] AaronRobinsonMSFT commented on #69536
Occurred on https://github.com/dotnet/runtime/pull/69619

https://dev.azure.com/dnceng/public/_build/results?buildId=1782592&view=logs&j=81a0f8c2-d4db-561f-9b8e-3f045280d7fe&t=2a104984-c43b-5b93-1361-6bd8a1e96b04&l=960

[code]

[2022-05-21 05:42] yejinmo commented on #69596
@vitek-karas

I upgraded to VS Preview and .Net 7 Preview and everything worked fine after testing. But I can't convince the team to upgrade the production environment from LTS to Preview. Is there a schedule for such maintenance updates for .Net 6?

[2022-05-21 06:16] AaronRobinsonMSFT commented on #68836
@tommcdon I think this might be worth fixing to be honest. Without the hexadecimal the value now becomes `0x4C4B402`. This means it is including more handles during enumeration than expected. We could fix up the header file as suggested and then respect the current value in the implementation to be a synonym for `CorReferenceFinalizer`.

[2022-05-21 06:25] AaronRobinsonMSFT commented on #46993
Default interface methods and CoClasses and other scenarios involving COM are not compatible. This is by-design.

[2022-05-21 06:25] #46993 closed

[2022-05-21 08:33] ilonatommy opened #69639 "wasm][debugger] Refactor evaluateOnCallFrame"
Currently: we have 2 functions handling on-frame-evaluation:
- `Resolve`, targeting simple expressions that can be resolved talking to the runtime (e.g. local variables, object members, static classes etc)
- `CompileAndRunTheExpression`, targeting more complex expressions using Roslyn. It is triggered only when `Resolve` fails in evaluating the expression.
-
Goal:
merge these two processes because

[2022-05-21 08:39] ilonatommy opened #69640 "[wasm][debugger] Support complex expressions with null-condition"
Complex expressions that use null-conditional operator fail in the debugger. Try to make sure that issue: https://github.com/dotnet/runtime/issues/69639 is fixed first before starting this one.

Add `tc?.memberList[0]` and similar cases to `EvaluateNullObjectPropertiesPositive` and some negative cases, e.g.  `tcNull?.memberListNull[0]` to `EvaluateNullObjectPropertiesNegative`.

[2022-05-21 08:39] noahfalk commented on #65989
Closing now that the GC API is in, thanks @tarekgh!

[2022-05-21 08:39] #65989 closed

[2022-05-21 09:17] GSPP commented on #68616
In my estimation, this hash algorithm is likely to be legacy tech 5-10 years from now (perhaps even right now). I don't believe it should be eternalized in the framework to be supported forever.

Creative alternative: Refactor the existing code to be easy to copy out. Those users who require that will then have a decent workaround.

[2022-05-21 09:26] theodorzoulias commented on #69320
I think that I found the answer why the "superfluous" second check exists. In the case of a completed `BlockingCollection<T>`, the `GetConsumingEnumerable` iterator has different behavior than the `Take`/`TryTake` methods when cancellation is involved. The iterator ignores the cancellation and completes normally, while the `Take`/`TryTake` honor the cancellation and complete with exception. Here i

[2022-05-21 09:38] eiriktsarpalis commented on #69320
I guess my question would be, why is it important to eliminate the double check? Is it demonstrably impacting performance? I wouldn't think so, this is a concurrent collection so I find it unlikely that a redundant check would be a performance bottleneck.

[2022-05-21 09:54] theodorzoulias commented on #69320
@eiriktsarpalis the `BlockingCollection<T>.IsCompleted` property ([source code](https://github.com/dotnet/runtime/blob/dfa39de33fe7e0c883eb0c343ab4012c8d5351a8/src/libraries/System.Collections.Concurrent/src/System/Collections/Concurrent/BlockingCollection.cs#L90-L97)) calls the `SemaphoreSlim.CurrentCount` property ([source code](https://github.com/dotnet/runtime/blob/f8323092eb414f9fc09a262132c6

[2022-05-21 10:01] FrediKats opened #69641 "ArrayPool does not resize based on user request"
# ArrayPool

### Description

ArrayPool (TlsOverPerCoreLockedStacksArrayPool) does not resize based on user request. TlsOverPerCoreLockedStacksArrayPool has constant value for arrays buckets. If those number of arrays is not enough then we get ` GC.AllocateUninitializedArray` call:

https://github.com/dotnet/runtime/blob/main/src/libraries/System.Private.CoreLib/src/System/Buffers/TlsOverPerCoreLo

[2022-05-21 11:14] En3Tho commented on #69641
This is specifically why custom Array pool creation api was made, isn't it? Shared array pool is used across whole runtime and is used specifically with quick take-give back in mind.

I doubt that tuning Shared for such a specific use case makes sense.

[2022-05-21 14:10] slav commented on #69377
So far the only solution we found is to downgrade to .net 5.

[2022-05-21 15:06] #68880 closed

[2022-05-21 17:32] AaronRobinsonMSFT commented on #37198
Closing as this is a duplicate of https://github.com/dotnet/runtime/issues/43486.

[2022-05-21 17:32] #37198 closed

[2022-05-21 17:35] AaronRobinsonMSFT commented on #46426
Yes and I think that is the point actually. I've given this some more thought and rummaged through some interop code bases and I think this API is commonly used for the "is blittable" check for a `Type`. This would imply that being more permissible could break existing applications, which is difficult to mitigate on the interop boundary.

Here are some other related issues to Generics and the `Mar

[2022-05-21 17:44] AaronRobinsonMSFT commented on #69641
/cc @Maoni0 in relation to https://github.com/dotnet/runtime/issues/52098.

[2022-05-21 18:23] AaronRobinsonMSFT commented on #66032
Perhaps another instance of AzDO issue: https://dev.azure.com/dnceng/public/_build/results?buildId=1783143&view=logs&jobId=2662b7d9-28ff-5dca-b58f-3053d0bc5578&j=2662b7d9-28ff-5dca-b58f-3053d0bc5578&t=4d4a5b9c-0a42-5d4d-71ab-d0e293a111d8

This is on Windows x64

[code]

[2022-05-21 19:20] maloo opened #69649 "ReadAtLeastAsync cancellation is broken"
### Description

Calling ReadAtLeastAsync with a cancellation token that is not cancelled and then cancel it will not cancel the ReadAtLeastAsync call. Only if token is cancelled before the call cancellation will work.

### Reproduction Steps

var port = new SerialPort(SerialPort.GetPortNames().Single());
port.Open();
using var cts = new CancellationTokenSource();
cts.CancelAfter(300);
//await Tas

[2022-05-21 19:50] maloo commented on #69649
@krwq Could this be related to SerialPort/SerialStream and not Pipelines? It seams all Async calls just deadlock when no data available. For example, port.Read() and port.BaseStream.Read() both timeout according to port.ReadTimeout. port.BaseStream.ReadAsync() just block, doesn't seem to care about port.ReadTimeout or CancellationToken. So not sure how to use any Async Read operation on SerialPort

[2022-05-21 20:28] EduardoLemos567 opened #69650 "NetworkStream blocks on CopyTo from it"
### Description

A NetworkStream from a TcpClient will block if you call CopyTo (even with DataAvailable)

tcp_client.GetStream().CopyTo(memory_stream ); // <- will block

[https://referencesource.microsoft.com/#mscorlib/system/io/stream.cs,98ac7cf3acb04bb1,references](url)
From the reference it uses a while Read which blocks on the last loop:

            int read;
            while ((read = Read

[2022-05-21 21:16] teo-tsirpanis commented on #62447
I've started working on this. I will first create [a separate project](https://github.com/teo-tsirpanis/Regal) that implements the Teddy algorithm using the cross-platform vector intrinsics and fallbacks to Aho-Corasick. Once benchmarks show an improvement over `Regex`es, we will look at incorporating the changes.

[2022-05-21 22:39] stephentoub commented on #69650
CopyTo copies until the stream has no more data available and won't have any more available, meaning Read returns 0. With a NetworkStream, that will only happen once the remote closes its sending end and all data has been consumed. What you're seeing is by design and the expected behavior.

[2022-05-21 22:40] #69650 closed

[2022-05-21 23:19] Neme12 commented on #68600
Wait, I'm looking at the solution and it seems like current culture is always used in serialization? This makes no sense to me - I would expect the opposite. For example, in web apps when you're serializing or deserializing stuff for JSON, you don't care what language the website uses, it shouldn't depend on the culture at all. But given that this does use current culture by default, there should

[2022-05-21 23:28] Neme12 commented on #68600
Does JSON even allow using other characters than the standard `-` in a number? That seems really unlikely to me. JSON shouldn't use culture-sensitive numbers just like outputting C# can't use culture-sensitive numbers. It's a standardized language that has standardized rules including what negative sign to use. Doing this in a culture aware way doesn't make any sense :/

[2022-05-22 00:28] stephentoub opened #69652 "Update zlib (zlib-Intel) to 1.2.12"
We're currently using 1.2.11.  Newer versions have been released.

[2022-05-22 00:44] stephentoub commented on #69608
You're right, it's behaving as I'd expect.  I'd tried it in a separate project but must have been doing something wrong.  I see it now doing what I expect it to be doing.

Thanks.

Yes.  Though sometimes stylistic improvements also map to smaller IL and asm, e.g. here's (6) on the style list, before and after:
[SharpLab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIGYACAV

[2022-05-22 03:12] danmoseley commented on #62447
@teo-tsirpanis  sounds great. For the sake of maximizing the chance of success and making digestible PR’s I wonder whether it would make sense to put up a change with just A-C first, which I expect would be fast enough to stand alone.

A general purpose API is proposed above. If it’s to satisfy the needs of regex it will presumably need to return leftmost match (as BurntSushi alludes to above; you

[2022-05-22 03:18] danmoseley commented on #68328
I’d like to take a look, but if someone can do this sooner, just let me know.

It looks like the algorithm cannot be immediately transliterated into Vector128 because (at least) it relies on Ssse3.Shuffle and the generic shuffle on Vector128 doesn’t have the same behavior. Therefore we would rely on software fallback for Arm64 and potentially improve later.

[2022-05-22 03:19] danmoseley commented on #62447
(Of course feel free to disagree with suggestion above if you think there’s a better ordering that could still avoid one big PR)

[2022-05-22 05:12] tactical-drone opened #69653 "Fatal error. Internal CLR error. (0x80131506)"
### Description

[code]

This started happening regularly and somewhat reproducibly since .Net 7 Preview 5 a couple of versions ago. My next level scheduler & async/await optimizations were also taking affect so I cannot be sure. It could just be caused by the increased load achieved instead of something in the runtime.

` zero.cocoon.models.CcDiscoveries+<ConsumeAsync>d__16.MoveNext()` is the par

[2022-05-22 05:59] sajjadarashhh opened #69654 ".net 6 Blazor wasm AOT Publish is very slow"
when i published my blazor wasm project as AOT its Make 100MB Size and it's very slow at start time and in runtime renders very slow
if your need more information and details tell me to make and post here.

[2022-05-22 07:24] AndreduToit opened #86487 "On Android platform .NET Maui App referencing NuGet Package Microsoft.AspNetCore.Authentication.JwtBearer 6.0.5 does not build"
### Description

On Android platform, .NET Maui App referencing NuGet Package Microsoft.AspNetCore.Authentication.JwtBearer 6.0.5 does not build. It fails with error NETSDK1082: There was no runtime pack for Microsoft.AspNetCore.App available for the specified RuntimeIdentifier 'android-x86'.
Om Windows platform the app builds and runs.
Please refer to the project 'MauiApp1' in Solution Folder 'NE

[2022-05-22 08:21] MineCake147E commented on #62416
I have edited my comments, including adding Intrinsics for ARM.
Should I submit a separate Issue for the ARM ones?

[2022-05-22 10:59] jakobbotsch opened #69655 "R2RDump does not work anymore"
R2RDump does not output anything except header information when I try to use it, regardless of which parameters I use. For example, `--disasm` does not output anything.
If I revert #66929 then it starts to work again, cc @jkotas

[2022-05-22 11:00] jakobbotsch commented on #69635
Under the hood crossgen2 creates two different entry points for this helper that, to the JIT, is named the same thing. Internally in R2R the first helper call is a `CctorTrigger` helper call, while the second is a `GetNonGCStaticBase` helper call. It is more visible if you use r2rdump (which is broken right now,
[code]
Since these have different entry points the JIT does not e.g. CSE them.

[2022-05-22 11:37] pgrawehr commented on #46426
@AaronRobinsonMSFT That's what I'm expecting. I'm expecting Sizeof(Type) to work when Type is blittable. And a generic struct with (defined) generic arguments _is_ blittable. Consider (from the example above):

[code]
then the type `GenericStruct<short>` is blittable, and hence `Marshal.SizeOf(typeof(GenericStruct<short>))` should succeed and return 6. I'm absolutely fine that `Marshal.SizeOf(type

[2022-05-22 13:28] denisenko93 commented on #68123
In the visual studio profiler, I did not see any performance degradation for the derived classes
![image](https://user-images.githubusercontent.com/36818775/169697517-444c8999-dcbb-4f8a-8268-55de6de0b25f.png)

[2022-05-22 14:00] jakobbotsch commented on #69653
I can reproduce this. It looks like we get an AV and then hit a stackoverflow in EH while trying to handle that AV. The top frames of the call stack that shows the repeating segment is
[code]

The actual crash itself happens inside `RuntimeType.get_Cache` in the inlined call to `GCHandle.InternalGet`.
https://github.com/dotnet/runtime/blob/621cd59436cb29cab4b1162409ae0947c4bd780d/src/coreclr/Syste

[2022-05-22 14:37] EduardoLemos567 commented on #69650
That's a really strange use case: block my code until the other endpoint close the socket, otherwise your program is stuck forever awaiting, looping and copying (Pratically hostage of the other endpoint).

Anyways, could the documentation on NetworkStream.Read at least inform that it WILL ALWAYS block if there's no data available. As it is, there's no such information anywhere in the page.

https:

[2022-05-22 14:50] jakobbotsch commented on #69653
When I run this under debugger I see quite a few different crashes that all point to some heap corruption. It also seems to crash much more quickly than when not run under debugger.

[2022-05-22 15:07] jakobbotsch commented on #69653
It looks a lot like allocations are being returned without being zeroed. In one example run we crashed immediately when trying to throw an exception:
[code]
The managed function that creates the exception looks like:
[code]

And the object does not look to have been zeroed:
[code]

[code]

cc @dotnet/gc

[2022-05-22 15:29] stephentoub commented on #69650
It's actually not.  It's very common to want to read all the data from a stream, e.g. read the whole file a server sends.

This is the contractual behavior of Stream.Read in general:
https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.read?view=net-6.0
"The implementation will block until at least one byte of data can be read, in the event that no data is available. [Read](https://docs.mi

[2022-05-22 15:57] VSadov commented on #69010
I am able to reproduce the failure. It is not 50% chance. For me it fails about 1 out of 10 launches. But it does fail sometimes.

The trace for successful and unsuccessful launches looks the same to the point of failure.

[code]

[2022-05-22 15:58] VSadov commented on #69010
It does not look like it is an issue with bundle offset calculations, since it would be failing every time.

[2022-05-22 16:47] Mossimos commented on #69010
![image](https://user-images.githubusercontent.com/26396340/169706120-9231a0c2-7131-443e-ba01-fa0cc5e90372.png)
// See https://aka.ms/new-console-template for more information
Console.WriteLine("Hello, World!");

53 runs and 4 errors

dump file
[testdotnet_dump.txt](https://github.com/dotnet/runtime/files/8749819/testdotnet_dump.txt)

[2022-05-22 16:49] deeprobin commented on #68165
@maryamariyan I also noticed this behavior recently. I can very gladly take a look (since I am affected myself), if is not a big priority.

If that's okay with you, please assign me so I don't lose track.

[2022-05-22 17:06] AaronRobinsonMSFT commented on #46426
Agreed, but it isn't in .NET Framework and that means assumptions are baked into applications for that reason. Changing this would impact those assumptions about how code has evolved and branches.

[2022-05-22 18:13] jakobbotsch opened #69657 "ARM32/ARM64 gcstress-extra failures"
There are many arm32/arm64 failures in recent gcstress-extra runs:
https://dev.azure.com/dnceng/public/_build/results?buildId=1783259&view=results

There are a few x86/x64 failures too, but they look more consistent and probably not like GC holes.

[2022-05-22 18:18] #69655 closed

[2022-05-22 18:21] trylek commented on #69092
Honestly I don't think that marking these tests as out-of-proc actually fixed the hangs we were seeing, it just made them much less frequent. My working theory based on Andrew's initial analysis of the problem is that the GC stress logic can sometimes cause some form of starvation w.r.t. draining the finalization queue. Apparently the problem was much more pronounced when running the tests in-proc

[2022-05-22 18:21] pgrawehr commented on #46426
Code that used to work would still work. I'm actually not expecting anyone to use this method to test whether an object contains generics, as this can be tested directly, not using this method and relying on catching the exception. No code should ever catch ArgumentException.

Also, if I understand #43486 and #103 correctly, marshalling generics was not at all supported in .NET Framework.

[2022-05-22 19:27] deeprobin opened #69658 "`BackgroundService` is started before `Host` is started."
### Description

I noticed a behavior from the host recently that I'm not sure is explicitly desired.

Namely, that the code in the background service is executed before the theoretical start time.

In my opinion, a background service is not a part of the actual initialization process and rather a service that does some work in the background, etc.

### Reproduction Steps

[code]

### Expected beh

[2022-05-22 19:59] Mossimos commented on #69010
use this  [lipo](https://github.com/konoui/lipo)
arm normal x64 crashing
use  System lipo
arm  crashing  x64  normal

[2022-05-22 20:04] jakobbotsch opened #69659 "Assertion failed '!foundDiff' during 'Linear scan register alloc'"
[code]

Introduced by c190f6be4afa, cc @kunalspathak

[2022-05-22 20:04] jakobbotsch commented on #69659
Also the following:
[code]

[2022-05-22 20:27] deeprobin commented on #68593
Couldn't we introduce the possibility to use a property in `.csproj` to determine the optimization level of the host?

[2022-05-22 20:36] AaronRobinsonMSFT commented on #46426
That is precisely my point. Consider the following for code that was initially ported from .NET Framework in the .NET Core 1.0 timeframe.

[code]

Whatever logic this was blocking included cases when `Type` was a Generic, either open or closed. However, by relaxing the current behavior this code would now permit Generic types in code that quite possibly never expected that. This is very dangerous

[2022-05-22 20:41] fandrei opened #69660 "P/Invoke string encoding doesn't work properly in some cases"
### Description

When running the code below, I get "?" chars instead of some Unicode chars.

### Reproduction Steps

[code]

### Expected behavior

Show the window titled "խխխ 3"

### Actual behavior

Shows "??? 3" instead.
Same code rewritten in C++ works no problem.

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

.NET 6
Windows 10
x64

### Other informa

[2022-05-22 20:43] deeprobin commented on #68328
@stephentoub Is the constant `5` dependent on other parameters? Or was this constant only selected based on benchmarks?

In other words, in any case, if the length is > 5, is it guaranteed that the performance will be better than the probablistic map?

---

*I was thinking in general about these constants that we have everywhere. Especially that we somehow evaluate them dynamically in the startup

[2022-05-22 20:46] jkotas commented on #68593
It would mean building, testing and shipping yet another build of coreclr, for all platforms and OSes. It is expensive.

There are number of other ways one may want to customize the single file host, e.g. using a custom compression - https://github.com/dotnet/runtime/issues/61073.

I think the best way to satisfy all these requests is to publish recipe for how to build a host from cloned dotnet/ru

[2022-05-22 20:53] stephentoub commented on #68328
It's not just a constant. If you look at the implementation, you'll see there's work that has to be done specific to each additional character, each one getting its own vector that needs to be factored in. It's not like there's some number to just change and magically higher counts of chars  are vectorized.

[2022-05-22 20:54] deeprobin commented on #68593
That's right. The build is quite expensive. I mean, we still have a lot of optimization potential in the build, but I should move that to another issue after I've analyzed it in more detail.

However, there are many users who would probably prefer this size-reduced build. The question is: The build is expensive, but does the benefit relativize this price?

I personally have a few tools at work whe

[2022-05-22 21:48] jkoritzinsky commented on #69660
You're passing the window name with the `[MarshalAs(UnmanagedType.LPStr)]`; however, since you're specifying the `CharSet = CharSet.Unicode`, the runtime is calling the `CreateWindowExW` method, which expects an `LPWSTR` for the `lpWindowName` parameter. You should remove the `[MarshalAs]` attribute on the `lpWindowName` parameter.

Also for correctness, you should change the type of the `regResul

[2022-05-22 21:56] fandrei commented on #69660
@jkoritzinsky
`You should remove the `[MarshalAs]` attribute on the `lpWindowName` parameter.

I already tried that and it works even worse in this case. All the text gets truncated by the first letter or is written garbled.
[code]

[2022-05-22 21:59] jkoritzinsky commented on #69660
Okay, that's very odd. Can you put together a small repro and share it?

[2022-05-22 22:13] #50707 closed

[2022-05-22 22:19] fandrei commented on #69660
@jkoritzinsky https://github.com/fandrei/PInvokeWindowRepro

[2022-05-22 22:21] fandrei commented on #69660
PS the window itself doesn't have the title bar; it's shown in the taskbar only.

[2022-05-22 22:30] teo-tsirpanis commented on #62447
Yes, starting with AC and leaving Teddy for later is a good idea.

[My implementation](https://github.com/teo-tsirpanis/Regal/commit/06dd95eb4d950daedafb953dd56a23e43f02a035) remembers the match's location upon encountering one and keeps looping over the characters, accepting subsequent matches only if they occur before the last we accepted. If we return to the root node and have seen a match, we

[2022-05-22 22:59] BurntSushi commented on #62447
How does it handle the case when you have the patterns `[oob, foobar]` and search against `foobar`? In that case, `oob` is found as a match before `foobar` is, but `foobar` is the correct "leftmost longest" match. So you have to know to keep looking in cases like that.

Another thing to consider is whether you plan on building the DFA variant of AC. In that case, you can't really reason about root

[2022-05-22 23:00] AndyAyersMS commented on #69612
Here's a repro case (repros in both .NET 6 and .NET 7):
[code]

[2022-05-22 23:10] JamesNK commented on #65802
Might be broken - https://github.com/dotnet/aspnetcore/issues/41042. Will double-check in ASP.NET Core.

[2022-05-22 23:10] #65802 closed

[2022-05-22 23:29] #68665 closed

[2022-05-22 23:58] SingleAccretion commented on #69657
This may also be the cause of multiple failures documented in #68986.

I looked at a very simple & nice Linux ARM64 dump from [here](https://dev.azure.com/dnceng/public/_build/results?buildId=1783259&view=ms.vss-test-web.build-test-results-tab&runId=47771704&resultId=108006&paneView=dotnet-dnceng.dnceng-anon-build-release-tasks.helix-anon-test-information-tab).

In the test, we have a few block co

[2022-05-23 00:52] #6027 closed

[2022-05-23 01:17] VincentBu opened #69661 "Test failure JIT\\opt\\virtualstubdispatch\\bigvtbl\\bigvtbl_cs_d\\bigvtbl_cs_d.cmd"
Run: [runtime-coreclr outerloop 20220522.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1783507&view=ms.vss-test-web.build-test-results-tab&runId=47774048&resultId=103866&paneView=debug)

Failed test:
[code]

**Error message:**
[code]
Queued | OS | Arch | Pipeline
-- | -- | -- | --
2022-05-22T11:16:15.941Z | windows.10.amd64.open.rt | x64 | [runtime-coreclr outerloop   Checked-no_ti

[2022-05-23 01:23] GrabYourPitchforks commented on #68616
Something to consider is that the entire _System.IO.Hashing_ package ships out-of-band. It's not part of the inbox SDK. To me, this makes it no more "eternal" than any other OOB package which has shipped over the years, and those packages don't enjoy a "supported forever" policy. (Case in point: all of the OOB _System.Web.\*_ releases over the years, most of which are no longer supported.)

[2022-05-23 01:23] VincentBu commented on #67630
Failed again in: [runtime-coreclr jitstress-isas-x86 20220521.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1783212&view=ms.vss-test-web.build-test-results-tab&runId=47771838&resultId=100503&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-05-23 01:46] VincentBu opened #69662 "Test failure GC/API/GC/GetTotalPauseDuration/GetTotalPauseDuration.sh"
Run: [runtime-coreclr gcstress0x3-gcstress0xc 20220522.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1783608&view=ms.vss-test-web.build-test-results-tab&runId=47775552&paneView=debug&resultId=108626)

Failed test:
[code]
**Error message:**
[code]
Queued | OS | Arch | Pipeline
-- | -- | -- | --
2022-05-23T00:31:13.142Z | ubuntu.1804.armarch.open | arm64 | [runtime-coreclr gcstress-e

[2022-05-23 02:13] VincentBu commented on #66625
Failed again in: [runtime-coreclr gcstress0x3-gcstress0xc 20220522.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1783608&view=ms.vss-test-web.build-test-results-tab&runId=47775550&paneView=debug&resultId=106648)

Failed test:
[code]
**Error message:**
[code]
Queued | OS | Arch | Pipeline
-- | -- | -- | --
2022-05-22T23:55:56.616Z | ubuntu.1804.armarch.open | arm64 | [jit-cfg   Chec

[2022-05-23 02:14] #42154 closed

[2022-05-23 02:26] VincentBu commented on #62696
Failed again in: [runtime-coreclr r2r-extra 20220521.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1783389&view=ms.vss-test-web.build-test-results-tab&runId=47772890&resultId=101103&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-05-23 02:34] VincentBu commented on #65289
Failed again in: [runtime-libraries-coreclr outerloop 20220522.4](https://dev.azure.com/dnceng/public/_build/results?buildId=1783546&view=ms.vss-test-web.build-test-results-tab&runId=47774720&resultId=104527&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-05-23 02:37] stephentoub commented on #65289
@VincentBu, all of these Unicode_IgnoreCase_Tests failures should be https://github.com/dotnet/runtime/issues/69406 rather than this issue.

[2022-05-23 02:42] VincentBu opened #69664 "Test failure System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_ServerCertificates_Test.UseCallback_BadCertificate_ExpectedPolicyErrors(url: \"https://wrong.host.badssl.com/\", expectedErrors: RemoteCertificateNameMismatch)"
Run: [runtime-libraries-coreclr outerloop 20220522.4](https://dev.azure.com/dnceng/public/_build/results?buildId=1783546&view=ms.vss-test-web.build-test-results-tab&runId=47774664&paneView=debug&resultId=104049)

Failed test:
[code]
**Error message:**
[code]

[2022-05-23 03:33] kkwpsv commented on #69604
`.NET 6` will call `GetFileAttributesW` first to check if it exists, and this will make the pipe gone.
[It](https://stackoverflow.com/questions/28769237/calling-getfileattributesw-removes-a-pipe) says `GetFileAttributesW` undefined behavior for non-filesystem objects.

But `.NET Framework` will call `FindFirstFile` first.

[2022-05-23 03:44] agocke commented on #68593
One question: are you using the self-contained single file host? Or the framework-dependent one?

And if you're using self-contained, are you also using IL trimming? I generally want to understand the full scenario.

In most cases where people are using self-contained the size of the runtime is usually dwarfed by the size of the IL.

[2022-05-23 04:14] VincentBu commented on #69406
Failed again in: [runtime-libraries-coreclr outerloop 20220522.4](https://dev.azure.com/dnceng/public/_build/results?buildId=1783546&view=ms.vss-test-web.build-test-results-tab&runId=47774720&resultId=104527&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-05-23 04:17] joperezr commented on #65289
My bad, that issue has fell under my radar. I will work on it tomorrow to mitigate all those failures.

[2022-05-23 04:21] VincentBu commented on #65289
@stephentoub, I leave a new comment under #69406 and hide those off-topic comments in this thread.

[2022-05-23 05:06] kunalspathak commented on #69657
In #69202, we mark the IG as `nogc` only if we know that adjustments will be made to calculate offset to encode it for an instruction that I don't see here. Prior to #69202, we would mark IG as non-gc if destination is local stack (which is the case of `IG05` and `IG06`). I Regardless, I will have investigate it further.

[2022-05-23 05:15] hez2010 opened #69665 "A single box instruction is preventing JIT from devirtualizing and inlining"
Repro:

[code]

Codegen:

[code]

If I either change the return type of `CreateComputer` from `IComputer` to `T`, or add a `[MethodImpl(MethodImplOptions.AggressiveInlining)]` on `CreateComputer`:

[code]

The only difference in IL code of `CreateComputer`:

[code]

I'm using .NET 7 build from main branch.

[2022-05-23 05:16] pgrawehr commented on #46426
I see your point, and digging a bit further, the problem seems to be larger than what I anticipated. It appears that when generic types where made blittable for .NET core, it was only partially done. I started with being confused that `Marshal.SizeOf(typeof(GenericStruct<short>))` fails, but `Marshal.Sizeof(new GenericStruct<short>())` works. Now I just see that `Marshal.StructureToPtr(new Generic

[2022-05-23 05:30] MichalStrehovsky commented on #69536
If it's indeed non-deterministic, it's probably an issue in the .NET runtime running the tool.

We started to see various mystery bugs in managed tools that run as part of the build ever since switching to the .NET 7 SDK/runtime.

Here's a similar NRE in crossgen2: #69454. The theory is that these are all related, possibly fixed with #68443 and will be fixed once we update to Preview 5 (https://gi

[2022-05-23 06:01] #21528 closed

[2022-05-23 06:16] GSPP commented on #69616
It is amazing to see all this regex work happening. I can see the amount of sophistication that goes into building this new engine. This is going to be state of the art. 👍

[2022-05-23 06:43] danmoseley commented on #42154
https://github.com/dotnet/runtime/issues/60600#issuecomment-1128079867 mentioned  by @bartonjs  also describes the cross appdomain scenario. Are we consistent, and is our guidance clear? Or is cross appdomain not relevant here?

[2022-05-23 07:24] GSPP commented on #60948
Why is it called `fldHandle` and not `fieldHandle`? Is this a convention for such APIs? Such abbreviations are rarely seen in the framework.

[2022-05-23 07:28] MichalStrehovsky commented on #60948
Consistency with [`RuntimeHelpers.InitializeArray`](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.runtimehelpers.initializearray?view=net-6.0) I guess. It's not expected for developers to call this API from C#.

[2022-05-23 07:57] hamarb123 opened #69666 "string.LastIndexOf(char, int, int) doesn't work"
### Description

The function `int string.LastIndexOf(char value, int startIndex, int count)` doesn't work properly.

It checks the `count` parameter incorrectly [here](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Private.CoreLib/src/System/String.Searching.cs#L286).

It should check `count < 0 || (uint)count + (uint)startIndex > (uint)Length` or `(uint)count > (uint)(Length -

[2022-05-23 08:09] MineCake147E opened #69667 "Optimize conversions between `Half` and `Single`"
### Description

Currently the conversion between `Half` and `float` is only implemented in software, leading to performance issues.
It would be ideal if Issue #62416 could be resolved, but better software fallback is still needed for environments like Sandy Bridge, which does not support hardware conversion.

### Configuration

[code]

### Regression?

No

### Data

I benchmarked the code below.

[2022-05-23 08:12] mgaeckler1964 commented on #69306
It is gnu C++ 4.8.5
the year is 1997

may be, the compiler is too old.

[2022-05-23 08:17] am11 commented on #69306
Yup, it is too old. g++ [4.9 onwards](https://github.com/dotnet/arcade/blob/7e7a0a5b3d0e3ee2f694f321cbd603234f14038e/eng/common/native/init-compiler.sh#L75) should support C++11 features required by .NET runtime.

[2022-05-23 08:51] mpervovskiy commented on #68983
This becomes even worse with Http streams as `Peek()` is unpredictable there... and looks like this issue dwells in `StreamReader` for ages.
Repo:
[code]
Differences are happening at different places in the stream

[2022-05-23 08:58] roji commented on #64940
Closing as duplicate of #63630

[2022-05-23 08:58] #64940 closed

[2022-05-23 09:01] vitek-karas commented on #69596
I'll see if it will be possible to backport the fix, but it's been this way since forever, so the priority to backport is relatively low.

As for the workaround: If you don't need the "auto resolve next to the file" functionality of `Assembly.LoadFrom` you could call `AssemblyLoadContext.Default.LoadFromAssemblyPath` instead (that's what `LoadFrom` does anyway).

[2022-05-23 09:03] jakobbotsch commented on #69092
What I said above about the bash process still being alive is not totally right. The bash process shows up as `(bash)` in `ps`. From my googling, the parentheses seem to indicate that something might have gone wrong with an `execve` syscall, but I am not totally sure. I am also not able to attach lldb to the `(bash)` process, so it might be that Process.Start actually failed somewhere.

@dotnet/ar

[2022-05-23 09:03] KalleOlaviNiemitalo commented on #69666
It works as documented in <https://docs.microsoft.com/en-us/dotnet/api/system.string.lastindexof?view=net-6.0#system-string-lastindexof(system-char-system-int32-system-int32)>. `startIndex` is the starting position of the search, not the numerically smallest position to search. So if you want to search the first five positions of `string x`, then the search should start at `x[4]` and proceed towar

[2022-05-23 09:05] #69666 closed

[2022-05-23 09:20] greenEkatherine opened #69669 "[API Proposal]: WebSockets over HTTP/2"
### Background and motivation

Currently we are supporting WebSockets over HTTP/1.1 only. For WebSockets over HTTP/2 the protocol is quite different and described by [RFC #8441]( https://datatracker.ietf.org/doc/html/rfc8441). It is already [supported by Chrome](https://wpt.fyi/results/websockets/opening-handshake/002.html%3Fwpt_flags%3Dh2?label=experimental&label=master&aligned) and there are an

[2022-05-23 09:21] greenEkatherine commented on #69669
## Internal Changes

#### `ClientWebSocket`
To make downgrade for WebSocket from HTTP/2 to HTTP/1.1 possible we need to add additional header with the key because we cannot generate it later in `HttpClient`. Other headers can be easily added and renamed to construct HTTP/1.1 WebSocket connection request from HTTP/2 ws request.
HTTP/2 example:
![image](https://user-images.githubusercontent.com/1997

[2022-05-23 09:27] JanEggers commented on #69622
whats the differnce of this vs a method that takes a cancellation token?

[2022-05-23 09:30] teo-tsirpanis commented on #69622
A method with a cancellation token has to periodically check for it and pass it down the call stack. This API will allow terminating methods forcefully and immediately, even if they don't accept a cancellation token.

[2022-05-23 09:48] RehanSaeed commented on #44194
Corefx removed `<CLSCompliant>false</CLSCompliant>` from the BCL in https://github.com/dotnet/corefx/pull/9052. I'd love to find out more about why they did that.

CA1014 can now be turned off in .editorconfig in https://github.com/dotnet/roslyn-analyzers/issues/4400. I'd like to understand if thats the recommended approach today.

[2022-05-23 09:59] mavasani commented on #44194
@RehanSaeed This should be a simple change. Let me create a PR right away.

[2022-05-23 10:27] stephentoub commented on #44194
Because it wasn't actually necessary in those cases.

[2022-05-23 10:48] teo-tsirpanis commented on #62447
Yes, exactly, it returns if it reaches the root or input ends. We can reconsider this once we come at implementing the DFA variant.

[2022-05-23 11:04] stephentoub commented on #42154
That isn't relevant here.

[2022-05-23 11:04] stephentoub commented on #65289
Thanks

[2022-05-23 11:20] stephentoub commented on #69622
This is a dangerous API, one very few folks should use, but I don't see how the suggestion helps; it just forces extra boilerplate that someone who needs to call this has to go through, and is on the path towards reintroducing Code Access Security. How are the dangers here different from a library, say, P/Invoking to TerminateThread and similarly leaving things in a corrupted state? That doesn't r

[2022-05-23 11:26] stephentoub commented on #69669
Why "default"? We typically use that for statics providing a default value for any instance, but that's apparently not the case here.

This is concerning. It ties ClientWebSocket to the underlying implementation that should be used. ClientWebSocket has historically used HttpWebRequest, WinHttpHandler, and SocketsHttpHandler, and even today has a browser-based implementation for wasm.

[2022-05-23 11:37] EnCey commented on #36458
I believe I also just fell in this hole, on net6.0. Took quite some digging around to figure out that a circular reference was the culprit, I was certain we'd get an exception from the DI container if that happened and didn't even look at that when I started my investigation 🙈

[2022-05-23 12:29] rzikm commented on #68958
@JamesNK Can you check again? Latest main should now accept IPv4 connections when listening on IPv6Any.

[2022-05-23 12:31] deeprobin commented on #68593
Actually in my case not (Framework Dependant). IL trimming will make a lot of difference, you're right.

[2022-05-23 12:42] CarnaViire commented on #69669
`RequestVersion` and `VersionPolicy` for connect request might look better as a part of `ClientWebSocketOptions`. But we might also want to have an additional `HttpVersion` property on `ClientWebSocket` itself if we support downgrade (so we could know what exactly was established)

[2022-05-23 12:43] eiriktsarpalis commented on #68600
True, but as @dbc2 originally pointed out enums [don't appear to have a culture-insensitive formatting method](https://github.com/dotnet/runtime/blob/4aeec6397c7dd6198129219ed806f93d6ed675c0/src/libraries/System.Private.CoreLib/src/System/Enum.cs#L1345-L1349). The change appears to predate the open sourcing of .NET, @stephentoub might know we've obsoleted the method or why the obsolete method isn'

[2022-05-23 12:47] MihaZupan commented on #69669
Can you elaborate on what you meant here?

Would the downgrade be handled by the `WebSocket` layer (i.e. calling into the handler multiple times)?
Or did you mean that Websockets would be a special case the handler recognized to adapt headers as needed?

[2022-05-23 12:53] CarnaViire commented on #69669
Or did you mean that Websockets would be a special case the handler recognized to adapt headers as needed?

I believe both are considered, but for YARP it will be better if it was handled by HTTP layer

[2022-05-23 13:06] ahmed-salem-me opened #69671 "Compiler error when publishing a blazor wasm (MonoAOTCompiler: Unable to compile method 'bool System.DateTimeParse:Lex)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When I publish a blazor wasm app, with AOT, and using .net 7.0.100-preview.4.22252.9
I get the following error, then the publishing kinda freezes at this point.
[code]

### Expected Behavior

publish succeeds.

### Steps To Reproduce

_No response_

### Exceptions (if any)

_No response_

###

[2022-05-23 13:30] ManickaP commented on #55816
The current implementation of `CanRead|Write` returns false when the stream is disposed. Whether querying the properties after `Dispose` is a good or bad idea is a different question. Also we already have the enum for stream creation via connection, so we can take advantage of it.

[2022-05-23 13:37] rzikm commented on #68958
Good, so I consider this resolved.

[2022-05-23 13:37] #68958 closed

[2022-05-23 14:07] stephentoub commented on #68328
There could be a separate method that computes and returns the input to be used.

[2022-05-23 14:37] lambdageek opened #69674 "[wasm-ep] Add a hook to start an EventPipe Session from runtime startup"
Required for wasm profiled AOT

[2022-05-23 14:40] fandrei commented on #69660
@jkotas this issue is **not** resolved.

[2022-05-23 14:41] EgorBo commented on #69665
[code]

Inliner should be able to ignore that `box` if it sees that `T` is a reference type.

[2022-05-23 14:50] tmds commented on #69658
`StartAsync` starts the background services. If you want to wait till they are started, you can use `IHostApplicationLifetime.Started`.

https://github.com/dotnet/runtime/blob/a0ff92c8d3cb3cb3b35357117e629cdd19f7080a/src/libraries/Microsoft.Extensions.Hosting/src/Internal/Host.cs#L56-L82

[2022-05-23 15:06] eerhardt commented on #69658
Note also that calling `StartAsync` on a `BackgroundService` is what kicks off `ExecuteAsync` (inline, synchronously):

https://github.com/dotnet/runtime/blob/6ca8c9bc0c4a5fc1082c690b6768ab3be8761b11/src/libraries/Microsoft.Extensions.Hosting.Abstractions/src/BackgroundService.cs#L35-L45

We have https://github.com/dotnet/runtime/issues/36063, which is basically requesting that `BackgroundService.

[2022-05-23 15:06] AaronRobinsonMSFT commented on #60803
Closing this as I don't see any need for further action from the runtime side.

[2022-05-23 15:06] #60803 closed

[2022-05-23 15:23] ManickaP opened #69675 "[API Proposal]: [QUIC] QuicStream"
### Background and motivation

API design for exposing `QuicStream` and related classes to the public.

The API shape is mainly defined by `Stream` from which it derives. `QuicStream` has some additional APIs specific for QUIC, but it still has a goal of `QuicStream` to be usable as an ordinary stream, e.g.: allow usage like this:
[code]
Albeit better results can be achieved via the additional API

[2022-05-23 15:29] tannergooding commented on #46426
When generic interop types were made possible, it was really just relaxing the restriction in the interop logic so it could cross the managed/native boundary.

There wasn't also work done to update `Marshal.*` to support this and much of that was done based on the feedback @AaronRobinsonMSFT has already given above.

Put another way, these types must already be blittable and so you don't want to u

[2022-05-23 15:32] dakersnar opened #69676 "[API Proposal]: Add AllBitsSet to the IBinaryNumber Interface"
### Background and motivation

Conceptually, `T.AllBitsSet` returns an instance of the binary number type `T` where every bit is set to 1. For example, `Int32.AllBitsSet` is `0xFFFFFFFF`, or `-1`. This concept is generally useful for masking purposes. For example, Vectors use `AllBitsSet` often for Conditional Select, as bitwise-anding a number with `AllBitsSet` will produce the same number, in co

[2022-05-23 15:37] tannergooding commented on #69606
The proposed changes make sense to me for API review.

I do think there is benefit to more closely matching the existing native names, but not enough that its worth pushing on.

[2022-05-23 15:37] abbotware commented on #49209
I ran into this same issue.  I have an API suggestion for the library that may solve the issue follow design of other  **Microsoft.Extensions.*** patterns.   For dependencies between host services there should be an `IHostedService<T>` wrapper and it should function similar to how `IOptionsSnapshot<T> / IOptionsMonitor<T>` work.  This can be used for injection as follows:

[code]

That should allo

[2022-05-23 15:42] pgrawehr commented on #46426
I see, but then I would expect remarks in the documentation of the Marshal class that it is considered legacy and which alternatives should be used. Instead, we have documentation that suggests that `Marshal.*` was updated, which apparently is just not the case.

[2022-05-23 15:47] Sergio0694 commented on #69606
So just to recap, we should:
- Drop `memcmp` like Jan suggested.
- Drop `memcpy` like Levi and Jan suggested.
- Potentially adjust names (up to FXDC I assume since there's no consensus?).

On the naming topic, personally I think it'd be better to just stick to mirroring the native names for consistency (given we also already have `Alloc`, `Realloc` etc. instead of something more .NET-like, such as

[2022-05-23 15:56] greenEkatherine commented on #69669
I agree with @stephentoub and @CarnaViire suggestions to rename policy and version properties and move it into `ClientWebSocketOptions`:
[code]

Would using `HttpClient` be better from that perspective?

Providing an external handler is a keypoint here because in that case we are able to take advantage of HTTP/2 multiplexing by reusing the same handler for other ordinary HTTP/2 streams.

[2022-05-23 16:05] greenEkatherine commented on #69669
Based on the https://datatracker.ietf.org/doc/html/rfc8441#section-3 we should add a new SETTINGS parameter that a server sends to a client. My suggestion is to add a new property into `Http2Connection` to indicate this setting, so the `HttpConnectionPool` would be able to check its value of a connection and perform downgrade if needed.

[2022-05-23 16:09] stephentoub commented on #69652
https://github.com/dotnet/runtime/pull/68219

[2022-05-23 16:10] jtkukunas commented on #39233
Not sure how I missed this. Will take a look.

[2022-05-23 16:11] stephentoub commented on #39233
Thanks, @jtkukunas.

[2022-05-23 16:11] tannergooding commented on #69606
We have a range of this. For example `Unsafe.Copy/CopyBlock` does `destination` first since that's what IL uses.

I'd personally lean towards matching native here given its under `NativeMemory` and do `destination` first. We're in an unfortunate situation where some group of people will get this wrong likely no matter what we do.

[2022-05-23 16:12] Genbox commented on #68593
I've run a few tests on the binary size alone. Just to get a feeling of what can be gained.
It is an x64/release configuration. The executable tested is the full single-file host.

Format: <compiler options>:<size in bytes>

1. /Ox (baseline): 8.097.792
2. /O1: 6.819.328
3. /Oxs: 6.819.328
4. /Os /GF /Ob1: 6.693.888
5. /O2: 8.097.792

I'm not sure why it seems some compiler flags have no impact on

[2022-05-23 16:21] MattGal commented on #66032
First I've seen this (recently). From the symptoms, it's either a partial artifact download or a malformed archive which should be detect-able from downloading the same artifact locally and unzipping via 7-zip.

[2022-05-23 16:23] MattGal commented on #66032
Yup it's what I guessed:

From the logs:
[code]
Note this file is 301 MB, not 402 bytes.  There's a bug with the download task here.  @ilyas1974 FYI.

[2022-05-23 16:28] KieranDevvs commented on #68959
Should `startat` be camel case? i.e `startAt`?

[2022-05-23 16:30] stephentoub commented on #68959
Right, I was being consistent with the existing parameters casing.

[2022-05-23 16:32] MattGal commented on #66032
After checking timestamps and convincing myself the artifact was finished uploading many minutes before the download occurred, I filed https://portal.microsofticm.com/imp/v3/incidents/details/309716763/home to ask Azure DevOps to investigate.  Note from the logging (`Artifact items integrity check successfully finished`) this isn't the first time we've asked them to do better here.

[2022-05-23 16:35] stephentoub commented on #34098
That _might_ be the case, but it might also just be another case of your code being buggy, i.e. the method call is necessary and the fact that you're ignoring the result means you have a bug.

[2022-05-23 16:36] AaronRobinsonMSFT commented on #69660
@fandrei This is an issue with inconsistent API use across the Win32 boundary. It appears that Unicode was desired and that was specified in several locations, but in one, `DefWindowProc`, it was not and so the ANSI version of the API was being used. The Win32 API is very picky about this when using the windowing system - all API should match because they interpret the stored contents differently.

[2022-05-23 16:36] #69660 closed

[2022-05-23 16:59] LoopedBard3 commented on #69222
It looks like the most recent run was successful. I will keep watching this today over the next handful of runs to see if we keep seeing this and close this if it is fixed.

[2022-05-23 17:04] mkhamoyan opened #69678 "Failures on Mono Android x64 Release @ Ubuntu.1804.Amd64.Android.29.Open on rolling build of runtime-extra-platforms"
### Description

runtime-extra-platform [build](https://runfo.azurewebsites.net/view/build/?number=1779269)  fails with
Interop_PInvoke._Int128_Int128Test_Int128Test_._Int128_Int128Test_Int128Test_sh() and IT_opt._OSR_pinnedlocal_pinnedlocal_._OSR_pinnedlocal_pinnedlocal_sh(), return code is -1.

It started failing from  this build [1779269]( https://runfo.azurewebsites.net/view/build/?number=1779

[2022-05-23 17:05] mkhamoyan commented on #69678
@[AntonLapounov] could you please take a look? seems after this [commit](https://github.com/dotnet/runtime/commit/04d5bbcbddb96dcb05d28a614df9caea93d5df9a) tests started to fail

[2022-05-23 17:07] AaronRobinsonMSFT commented on #65000
@elinor-fung Was this resolved with https://github.com/dotnet/core-eng/issues/15333?

[2022-05-23 17:09] AraHaan commented on #62113
Also we have to consider if Read/Written should be ``int``, ``uint``, ``long`` or, ``ulong`` for large data sets (since large files can also be compressed that would normally overflow an Int32 (some I think can even overflow an int64).

However the native implementation I believe uses uint's for the sizes (``size_t`` or something along the lines of that).

So it is something to consider to support

[2022-05-23 17:15] mkhamoyan commented on #67728
Issue continues happening on runtime-extra-platforms consistently in all builds (last one [here](https://dev.azure.com/dnceng/public/_build/results?buildId=1784214&view=ms.vss-test-web.build-test-results-tab) )

From logs I can see "ERROR  	dockerhelper(233)	run	API Error attempting to talk to Docker Server:500 Server Error: Internal Server Error ("CreateComputeSystem 3eabe1175e89e82cc6ee266148d8b

[2022-05-23 17:23] VSadov commented on #69010
I was unable to reproduce this with small hello-world like app. Trivial app runs hundreds of times without a failure.

One theory I had is that we unmap the bundle in the `~json_parsr_t` destructor and it happens before `m_document` is destroyed.
That could lead to use-after-unmap, if the document's destructor accesses the mapped data. It does not seem to be a case though.
If that was a case, then

[2022-05-23 17:44] radical commented on #69671
cc @vargaz @maraf

[2022-05-23 17:45] radical commented on #69671
Could you please share the log file? you can add `-bl` to the command line to build. And attach the generated `msbuild.binlog`.

[2022-05-23 17:51] #69251 closed

[2022-05-23 17:54] radical opened #69681 "[wasm][aot] Test failure - `System.Runtime.InteropServices.JavaScript.Tests.MarshalTests.MarshalPrimitivesToCS`"
Hitting on rolling builds. [Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1784214&view=logs&j=7f41eb05-1c5f-5922-38da-d308f495fb31&t=142a4cb7-24ad-543f-6942-1fea62d34e98), and [log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-3d03844919af47c89c/normal-System.Private.Runtime.InteropServices.JavaScript.Tests/1/console.85bf8f1b.log?helixlo

[2022-05-23 18:18] vargaz commented on #69681
Note that the failure only happens with AOT.

[2022-05-23 18:19] fandrei commented on #69660
@AaronRobinsonMSFT  great, thanks.

[2022-05-23 18:26] fandrei commented on #69660
@AaronRobinsonMSFT  but it's strange that it chose ANSI version of the API by default on Windows 10, isn't it?

[2022-05-23 18:37] AaronRobinsonMSFT commented on #69660
Sad, nope. The default for `CharSet` in `DllImport` is `ANSI`, so that is the [look up logic](https://docs.microsoft.com/dotnet/api/system.runtime.interopservices.dllimportattribute.charset#remarks) - it is terribly confusing.

[2022-05-23 18:39] #69424 closed

[2022-05-23 18:41] stephentoub commented on #34098
Certainly not "a new object is created but never used", assuming that's not just about "System.Object"... it's not unheard of to create an instance in order to use it for the side-effects of its constructor.  While possibly a perf issue, it's not necessarily a functional one.

But the others, I have trouble differentiating possible reliability impact of ignoring the result of string.Replace (which

[2022-05-23 18:50] jkotas commented on #69660
FWIW, the [interop source generator](https://github.com/dotnet/runtime/tree/main/src/samples/LibraryImportGeneratorSample) that we are introducing in .NET 7 does not have these legacy defaults.

[2022-05-23 18:54] jakobbotsch commented on #69154
Fixed by #69575

[2022-05-23 18:54] #69154 closed

[2022-05-23 18:59] a74nh commented on #35033
Although - Lack of an Arm64 version of shuffle isn't surprising given there is not obvious match to the instruction

[2022-05-23 19:01] teo-tsirpanis opened #69682 "[API Proposal]: Efficiently matching multiple strings."
### Background and motivation

As explained in #62447, we want to use more sophisticated string searching algorithms such as [Aho-Corasick](https://en.wikipedia.org/wiki/Aho%E2%80%93Corasick_algorithm) and the vectorized [Teddy](https://github.com/jneem/teddy) in regexes.

Since these algorithms are quite complex, to avoid duplicating their logic in source-generated `Regex` code, I propose to add

[2022-05-23 19:02] teo-tsirpanis commented on #69682
c.c. @stephentoub @danmoseley

[2022-05-23 19:03] redknightlois commented on #31987
Is there any visibility on availability? As you know I usually abuse generic types with the purpose of code generation (performance) and the ability to convert numerical types from `TSource` to `TDestination` like `int` to `long` where they are hidden inside generic code would be very useful if the JIT picks up the idiom.

This is one example where it actually simplify a lot since I know `TValueTy

[2022-05-23 19:03] agocke commented on #69611
I think this is an important question:

There have been some other design problems with NativeAOT and the source build restrictions. In particular, NativeAOT uses pre-built static libraries from the runtime to compile packages. If we use the source build version, things break because they reference specific versions of openssl instead of dynamically loading what's available. See https://github.com

[2022-05-23 19:04] a74nh commented on #35033
From the top of Base64Decoder.cs:

   // AVX2 version based on [https://github.com/aklomp/base64/tree/e516d769a2a432c08404f1981e73b431566057be/lib/arch/avx2](https://github.com/aklomp/base64/tree/e516d769a2a432c08404f1981e73b431566057be/lib/arch/avx2)
    // SSSE3 version based on [https://github.com/aklomp/base64/tree/e516d769a2a432c08404f1981e73b431566057be/lib/arch/ssse3](https://github.com/akl

[2022-05-23 19:05] kunalspathak commented on #35033
And that should be fine.

[2022-05-23 19:08] eerhardt commented on #34098
Looking at [the code](https://github.com/dotnet/roslyn-analyzers/blob/d2ef898a6283858c1224c0114cd87fa27b6cb091/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/Maintainability/DoNotIgnoreMethodResults.cs#L169-L176), it applies to all object creations.

My thinking was that the analyzer wouldn't do this. The API author would decide whether ignoring the result of the method being marked `DoNotI

[2022-05-23 19:08] ViktorHofer commented on #66032
Thanks for opening the IcM.

[2022-05-23 19:14] ViktorHofer commented on #69471
Thanks for filing @buyaa-n. What's your hardware configuration? Also, did only this one test fail or multiple ones?

[2022-05-23 19:16] am11 commented on #69635
@jakobbotsch, thank you for the explanation and fixing r2rdump.

* Do we want to continue to call `CCTOR_TRIGGER` on each static property's get method in this case?
* Do we want to disambiguate `CORINFO_HELP_READYTORUN_STATIC_BASE_NON_GC` and `CORINFO_HELP_READYTORUN_CCTOR_TRIGGER` in disassmembly? (the command I used was extracted from [godbolt](https://github.com/compiler-explorer/compiler-explo

[2022-05-23 19:18] stephentoub commented on #34098
I think we'd have a really hard time making that call for all of the APIs we produce.

@mavasani, do you have an opinion here?  Any sense for how common it is for CA1806 to be used?  It looks like it defaults to Info level.

[2022-05-23 19:21] JKorf opened #69684 "ClientWebsocket KeepAliveInterval keeps spawning more keep alive messages in some cases"
### Description

Creating a websocket connection to a websocket server with the KeepAliveInterval option set will start sending increasingly more ping message over time, resulting in using more and more network capacity.
Even though the amount of messages can be very low, the network usage will increase to use up multiple mbits of up/download speed, while nothing is being actively send and receive

[2022-05-23 19:32] danmoseley commented on #69682
My preference would be the Regex motivated API, as that's what we have the clearest motivation for. We will be able to immediately use and validate that API. It doesn't prevent us extending later if necessary.

One other thought, Find may not be the best name for the method since you're passing in the "thing to be found in". FindIn, perhaps? IndexIn?

[2022-05-23 19:38] danmoseley commented on #69682
Is there a way we can make this generic, so I could search for multiple byte sequences in a span of bytes? Internally, it would not be able to use any algorithm vectorized for char, but Aho-Corasick would with the same.

I haven't thought this through, not considered whether it would be used, just wanted to throw it out there before we bake string into the type name.

[2022-05-23 20:03] Tratcher commented on #69669
It should at least be a HttpMessageInvoker.

[2022-05-23 20:04] kouvel opened #69688 "Track removing workaround to not use pthread robust mutexes for named mutexes on arm32/arm64 Linux"
- Issue was in glibc as described here: https://github.com/dotnet/runtime/issues/6014#issuecomment-227363925
- Issue was fixed in glibc 2.24 according to https://sourceware.org/bugzilla/show_bug.cgi?id=20263#c9
- Workaround in named mutex implementation: https://github.com/dotnet/runtime/blob/fdcedd873ddfa9f639f64481652d1f9c258e37b1/src/coreclr/pal/src/include/pal/mutex.hpp#L123-L124
- There still