[2020-12-13 15:40] xtqqczze commented on #45552
I think it would be worthwhile to have a separate analyzer to flag redundant assignment, like [RCS1212](https://github.com/JosefPihrt/Roslynator/blob/master/docs/analyzers/RCS1212.md).

If we had such an analyzer, rules like `CA2249` and the rule proposed in this issue could use the rule as a pre-processor to improve detection of violations.

[2020-12-13 15:45] EgorBo commented on #41518
It'd be nice to have, I've integrated `AltJIT` into my `Disasmo` add-in for VS2019 but unfortunately it doesn't allow to play with HW intrinsic because of this issue 🙁
![screenshot](https://user-images.githubusercontent.com/523221/102016714-48fcea00-3d73-11eb-8920-6c88b316ef6b.gif)

[2020-12-13 17:01] ryantgray commented on #30820
@butler1233 Thanks Lee but your comment did not address my issue. I don't really care about the advantages and disadvantages. I only care about getting it to work. It seems like it should be easy to have someone confirm that you guys implemented changes in JSON 5.0 to address the scenario I'm mentioning and, if so, what needs to be done in a standard default implementation of Blazor WebAssembly th

[2020-12-13 17:08] mavasani commented on #45552
@xtqqczze The assignment above is not redundant, `RCS1212` seems to be worded incorrectly, it should probably say inline variable (which we already provide as a refactoring in the VS IDE). Also note that we do have https://docs.microsoft.com/dotnet/fundamentals/code-analysis/style-rules/ide0059 for _real_ redundant assignments where the value written is never read on any control flow path.

[2020-12-13 17:09] mavasani commented on #45552
@buyaa-n Sounds good to me. I think it will cover most realistic user code.

[2020-12-13 17:13] BrunoBlanes commented on #30820
@ryantgray Again, as mentioned so many times in this thread, `ReferenceHandling.Preserve` is not supported in S.T.Json, do you wish to implement it using Newtonsoft.Json?
Keep in mind that we are all doing you a favor, this is not the place to learn to code, questions like yours should be opened at Stackoverflow.

[2020-12-13 17:23] samueleresca opened #46015 "System.Text.Json and JavaScriptEncoder cause a FileLoadException in .NET Standard 2.0"
### Description

I upgraded the `System.Text.Json` package to version 5.0.0 in a `netstandard2.0` project. Deserialising using `JavaScriptEncoder.UnsafeRelaxedJsonEscaping` encoder throws an exception at runtime:
[code]

The build log the following warning:
[code]

Is this expected?

### Configuration

.NET Core 3.1.404

### Other information

I attach a sample project to reproduce the issue: [htt

[2020-12-13 17:27] ryantgray commented on #30820
@BrunoBlanes It feels like there's a communication disconnect here. Maybe your getting me confused with AlbertoPa? I have never inquired about Ignore. My inquiry was always about Preserve and no, i have never gotten Preserve working. I understand this is not the place to learn code and did start out posting on places like Stackoverflow. However, noone has been able to provide any insight, possibly

[2020-12-13 17:33] BrunoBlanes commented on #30820
@ryantgray Didn't this fix it for you?

[2020-12-13 17:35] ryantgray commented on #30820
That's the way it looked to me to based on the links I provided but no it did not fix it.

[2020-12-13 17:37] BrunoBlanes commented on #30820
If you are using Blazor, do also set `PropertyNamingPolicy = JsonNamingPolicy.CamelCase` in your `AddJsonOptions` method.

[2020-12-13 17:52] ryantgray commented on #30820
@BrunoBlanes Thanks, I tried implementing your suggestion with both of the code options I posted and I still get the same errors.

[2020-12-13 17:57] BrunoBlanes commented on #30820
#### Server

[code]

#### Client
[code]

Try this and let me know what error are you getting.

[2020-12-13 18:00] menees commented on #36947
I've just spent a couple of days getting my LDAP logic to work from both Windows and Linux when talking to my Windows 2016 Active Directory using the S.DS.P 5.0.0 package. The [original thread by brunohbrito](https://github.com/dotnet/runtime/issues/36888) was extremely helpful. Since that original thread is locked, I thought I'd post my experience here in case it helps someone else or the .NET 6.

[2020-12-13 18:10] menees commented on #36947
In the interest of helping others, here's a fairly complete example of code that works on both Windows and Linux for me.

# Program.cs

[code]

# LdapTest.csproj
[code]

[2020-12-13 18:49] ivan-prodanov opened #46016 "[WASM] How to read from SharedArrayBuffer?"
Context: My react app is accessing a large dataset from a worker using a SharedArrayBuffer. I'd like to process the SharedArrayBuffer in C# with minimal overhead. I have a hard time converting the SharedArrayBuffer to a Span in C#.
Here's what I tried:

[code]

This unfortunately fails with "Object '...' is not a typed array" in js_typed_array_to_array.

Here's the function from dotnet.js:
[code]

[2020-12-13 19:12] danmosemsft commented on #36947
Thank you @menees. We should also resolve the error code - https://github.com/dotnet/runtime/issues/43621#issuecomment-712513986 - LDAP_FILTER_ERROR at least gives a bit more clue.

[2020-12-13 19:23] AlbertoPa commented on #30820
I observe a reduction in size in relatively small models or when the EF navigation properties are not fully populated. When pulling complex models, that does not seem to be the case. One example: if I pull an incomplete object with a query, to list objects for CRUD operations in a table, then System.Text.Json gives a smaller payload than Newtonsoft.Json (up to 11 Bytes smaller in my tests over 766

[2020-12-13 20:11] Anipik commented on #45853
We started created tags using the tool in later preview versions, seems like a bug in the tooling, i will fix the tags and raise the issue with tool authors to fix this.

[2020-12-13 20:32] EgorBo opened #46017 "Make RuntimeHelpers.IsBitwiseEquatable public"
## Background and Motivation

This proposal makes [RuntimeHelpers.IsBitwiseEquatable](https://github.com/dotnet/runtime/blob/a955eaf67ba5fcc0864cb06611cf8d7e8dd55eb7/src/coreclr/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs#L191) API public.

It allows users to optimize various comparisons with super fast memcmp/memset-like APIs when input T is bitwise compar

[2020-12-13 20:32] trylek opened #46018 "Sharing violation reading pgd file during concurrent local coreclr builds (windows x86 release)"
*Initial cost estimate*: 2 days
*Initial contacts*: @trylek, @jkoritzinsky, @davidwrighton

OS: **Windows**
Architecture: **x86**
Configuration: **Release**
Repro steps (non-deterministic): **build clr+libs+libs.tests -a x86 -c Release** in two runtime repo clones

<pre>
    D:\git\runtime\artifacts\obj\coreclr\windows.x86.Release\vm\wks\cee_wks_obj.dir\Release\ceemain.obj
  LINK : fatal error LNK

[2020-12-13 20:38] danmosemsft commented on #36536
Is this still relevant?

[2020-12-13 20:41] menees commented on #36947
Yes, that would be great! Seeing the error name would have clued me in to my filter problem much faster. An LdapErrorCode enum with those values would be nice too, with a property or extension to cast/convert LdapException.ErrorCode to LdapErrorCode.

[2020-12-13 20:50] trylek opened #46020 "runtime build failure: "GenerateFileVersionProps" task could not be loaded because installer.tasks.dll not found"
*Initial cost estimate*: 2 days
*Initial contacts*: @trylek, @ViktorHofer, @safern

OS: **Windows**
Architecture: **x86**
Configuration: **Release**
Repro steps (non-deterministic): **build clr+libs+libs.tests -a x86 -c Release**

<pre>
  System -> D:\git\runtime\artifacts\bin\manual.System\net6.0-Release\System.dll
  System.Data -> D:\git\runtime\artifacts\bin\manual.System.Data\net6.0-Release\Sy

[2020-12-13 21:46] GrabYourPitchforks commented on #46017
I don't think we need to make `IsBitwiseEquatable` public to get this optimization. If the input parameters are contiguous buffers (`T[]` or `List<T>`) and the comparer is _null_, shouldn't we simply always defer to `MemoryExtensions.SequenceEqual`? Let that method figure out the most optimal way of comparing two contiguous buffers for equality; the caller shouldn't need to know anything about its

[2020-12-13 21:56] danmosemsft commented on #43565
@igorkuzuro is there any action to take here? it seems Linux is behaving as designed, and I think it is unlikely Windows will change - it is likely by design as well. It is probably not appropriate for our API to artificially throw on Linux.

[2020-12-13 22:01] EgorBo commented on #46017
@GrabYourPitchforks LINQ's `SequenceEqual` doesn't define any constraints on `TSource` in order to be able to use in `MemoryExtensions.SequenceEqual` (needs `where T : IEquatable<T>`)

[2020-12-13 22:04] GrabYourPitchforks commented on #46017
Then we should look into removing the constraint on `MemoryExtensions.SequenceEqual` for parity with the LINQ routine, or we should invest in ways to make the compiler and runtime able to call generic-constrained methods from non-generic-constrained methods. (This isn't the first time these constraints have bitten us.) I'd rather not expose an API that requires the caller to drop down to unsafe co

[2020-12-13 22:16] GrabYourPitchforks commented on #46017
Aside - if we do end up making `IsBitwiseEquatable` public (either for this or for another reason), we should consider ways in which library authors can attribute their own types as bitwise equatable. Currently the method only special-cases a handful of types within corelib.

[2020-12-13 22:24] EgorBo commented on #46017
Ah I had it in the description but decided to remove.
I proposed to extend the current implementation of `IsBitwiseEquatable` to also check `mt->IsNotTightlyPacked` bit and check that `Equals` is not `overriden` like it's already done for `ValueType.GetHashCode` so we can mark any struct without gc fields and holes between them as bitwise equatable in case if `Equals` is not overriden.

[2020-12-13 22:41] danmoseley opened #46021 "LdapException messages on Unix do not include detail"
Right now, many LdapException messages on Unix look like:
[code]

There is no way to tell from this message what the error was. For example in the case above say the ErrorCode was -7, then the exception message should include text like `The search filter is invalid.` .  As it is you need to run under the debugger to get it, then look up in ldap.h to translate it. Examples of bugs where the specifi

[2020-12-13 22:41] danmosemsft commented on #36947
@menees I went through all the codes, and created an issue describing the necessary change here: https://github.com/dotnet/runtime/issues/46021

Do you have any interest in offering the change, @menees ?

[2020-12-13 22:42] danmosemsft commented on #43621
Created #46021 to fix the codes

[2020-12-13 22:43] danmosemsft commented on #46021
cc @joperezr

[2020-12-13 22:59] igorkuzuro commented on #43565
Yes. This not dotnet problem. I found this case by tests and in normal situation anyway restricted usage of empty password. But I think this case should be clearly indicated in the documentation.

[2020-12-13 23:18] danmosemsft opened #46022 "iOS tests failed with The "AppleAppBuilderTask" task failed unexpectedly. System.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than the size of the collection. (Parameter 'chunkLength')"
Got this error in CI
[code]

Exception is from here
https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/Text/StringBuilder.cs#L367

The string builder here is apparently corrupted - eg ToString() on an empty StringBuilder does not throw - suggesting that writing to it happened after WaitForExit() returned
https://github.com/dotnet/runtime/blob/master/src/t

[2020-12-13 23:42] danmosemsft commented on #46022
@steveisok the bug is that both the stderr and stdout event handlers are writing to the same stream builder.
https://github.com/dotnet/runtime/blob/master/src/tasks/AppleAppBuilder/Utils.cs#L56-L66

They are serviced by separate Tasks:
https://github.com/dotnet/runtime/blob/master/src/libraries/System.Diagnostics.Process/src/System/Diagnostics/AsyncStreamReader.cs#L75

Depending on timing these ta

[2020-12-13 23:46] EgorBo commented on #46022
I guess a simple lock should help,
NOTE: this file is duplicated for AndroidAppBuilder and MonoAOTCompiler with the same issue.

[2020-12-13 23:49] danmosemsft commented on #43565
Thanks @igorkuzuro . If you wish to clarify in the docs, you may wish to offer a PR here https://github.com/dotnet/dotnet-api-docs. I will close this now.

[2020-12-13 23:49] #43565 closed

[2020-12-14 00:15] v-haren opened #46023 "Test failure: JIT/Regression/JitBlue/Runtime_45557/Runtime_45557/Runtime_45557.sh"
failed in job: https://dev.azure.com/dnceng/public/_build/results?buildId=919383&view=ms.vss-test-web.build-test-results-tab&runId=29226030&resultId=106020&paneView=debug

failed tests:
JIT/Regression/JitBlue/Runtime_45557/Runtime_45557/Runtime_45557.sh
JIT\\Regression\\JitBlue\\Runtime_45557\\Runtime_45557\\Runtime_45557.cmd

CoreCLR Linux arm Checked gcstress0x3 @ (Ubuntu.1804.Arm32.Open)Ubuntu.

[2020-12-14 01:06] Thefrank commented on #14537
Went back and built the full 3.1.11 SDK to feed into the requirements for ASPNetCore 5.0.x.
Everything works in the 3.1.11 leg! ASPNetCore 5.0.x still refuses to build

`/root/aspnetcore/src/Framework/App.Runtime/src/Microsoft.AspNetCore.App.Runtime.csproj : error NU1604: Project dependency Microsoft.NETCore.App.Runtime.freebsd-x64 does not contain an inclusive lower bound. Include a lower bound i

[2020-12-14 01:11] AaronRobinsonMSFT commented on #45820
@raoyutian This issue is likely "by-design" due to some decisions made early in the the port of COM support to .NET Core. The gist here is the inability to use "class" types during most casts. In order to confirm this can you try casting to one of the underlying COM interface types rather than the class type (e.g. [`IHTMLDocument2`](https://docs.microsoft.com/en-us/previous-versions/windows/intern

[2020-12-14 01:23] sandreenko commented on #46023
PTAL @BruceForstall

[2020-12-14 01:45] AaronRobinsonMSFT commented on #45750
At present, it is not supported in .NET Core 3.0+ or .NET 5. COM registration is only supported for the HKLM hive. This was chosen for security reasons. In .NET Framework the behavior had issues that were not appropriate and relied upon legacy registry behavior from the Windows 95/98 days. We are now explicit about this and force HKLM.

Yes. That would be our suggested workaround.

@smourier Your

[2020-12-14 01:50] jkotas opened #46025 "Linux CI legs failing due to an infrastructure failure"
The error is: `##[error]The request: 9937528 was abandoned due to an infrastructure failure. Notification of assignment to an agent was never received.`

For example: https://github.com/dotnet/runtime/pull/46019

[2020-12-14 01:50] jkotas commented on #46025
@dotnet/dncenghot Could you please take a look?

[2020-12-14 02:08] sandreenko opened #46026 "Cleanup LclVar alignment requirements."
The current alignment mechanism for jit local vars is very complex, I think it is worth a cleanup.

Requirements:
1. There are different requirements for incoming arguments and local vars in the method:
  1.1 the incoming argument requirements are simple, esp. without vector calling convention.
2. There are correctness and performance requirements for local vars:
  2.1 there are more correctness r

[2020-12-14 02:09] AaronRobinsonMSFT commented on #45735
@Gavin-Williams Thanks for pointing out that the [`ComObject`](https://github.com/sharpdx/SharpDX/blob/1f89381bc08f2d8cf8d294c6c5fce8dc85a849a1/Source/SharpDX/ComObject.cs#L37-L44) in question is the SharpDX implementation and not our own. [COM](https://docs.microsoft.com/windows/win32/com/the-component-object-model) is basically an ABI contract for a myriad of things and is about 30 years old - t

[2020-12-14 02:09] sandreenko commented on #46026
@AndyAyersMS I would like to get your opinion about it if you think it is worth doing now.

[2020-12-14 03:42] yyjdelete commented on #43295
It's really strange but I don't know why.

Microsoft Windows [Version 10.0.19042.685]
The default code page of powershell, Windows Terminal and cmd from start menu is all 936 for me instead of 65501, but cmd from Win+R get 65501, and the default value can not be changed for new console mode.

`Beta: Use Unicode UTF-8 for worldwide language support` is not set for me.

[2020-12-14 03:49] ToMyAF commented on #45985
![image](https://user-images.githubusercontent.com/36257915/102038524-717ff500-3e02-11eb-8a71-4f5433e752b7.png)

[2020-12-14 04:22] joperezr commented on #46021
Totally agree that our error messages in Linux could and should be much better. Thanks @danmosemsft for the detailed investigation. Without going into too much detail, the issue here is that all search requests in Linux always are handled in two steps by the native library: 1) you send the request to libldap which gives you back an id to later query for the result, and 2) you query the library usi

[2020-12-14 04:47] joperezr commented on #46021
This is the important line

https://github.com/dotnet/runtime/blob/8d6e098d647bd59a79165c3ad6b31957999479bb/src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/ldap/LdapConnection.cs#L1463

servererror and responseMessage there have the info we need.

[2020-12-14 04:57] v-haren opened #46028 "Test failure: JIT\\Directed\\cmov\\Bool_Xor_Op_cs_do\\Bool_Xor_Op_cs_do.cmd"
failed in job: https://dev.azure.com/dnceng/public/_build/results?buildId=919691&view=ms.vss-test-web.build-test-results-tab&runId=29230678&resultId=108327&paneView=debug

failed tests:
JIT\\Directed\\cmov\\Bool_Xor_Op_cs_do\\Bool_Xor_Op_cs_do.cmd
JIT/Directed/cmov/Bool_Xor_Op_cs_do/Bool_Xor_Op_cs_do.sh

R2R windows x86 Checked jitstress2_tiered @ Windows.10.Amd64.Open

Error message
[code]

[2020-12-14 06:11] BruceForstall commented on #46023
Also Linux/Windows arm64, including GCStress=C

[2020-12-14 06:53] microhobby commented on #44745
@hoyosjs is this already in the daily installer? Or is there a daily that we can use to test?

[2020-12-14 07:06] hoyosjs commented on #44745
It's not going to be officially released at least until next month. There might be a build which you could use to test things out. How do you build/deploy your app? A shared framework deployment (where the runtime is installed for all apps in the machine)? A self contained app deployment (dotnet publish with a specific runtime identifier)?

[2020-12-14 07:08] microhobby commented on #44745
For debugging we usually run with the shared framework @hoyosjs

[2020-12-14 07:32] hoyosjs commented on #44745
Let me ask if I can share a nightly build of the rolling release and answer tomorrow.

[2020-12-14 07:52] smourier commented on #45750
Thanks for your answer.

If such a feature is added, it's very important to decide where registration happens at deployment time vs compilation time. This is what the ATL-generated code does.

So, my initial idea was really not to change any .NET API but instead add support in comhost for a DllInstall parameter that would instruct the registration to happen in HKCU instead of HKLM. So, COM-support

[2020-12-14 08:03] tmds commented on #45755
@ViktorHofer here's my binlog: http://people.redhat.com/~tdeseyn/runtime_45755/msbuild.binlog.

[2020-12-14 08:15] MihaZupan commented on #43931
Linking #43931 as caused by the same underlying issue.

[2020-12-14 08:23] MihaZupan commented on #44015
Seems to have been fixed by #45170.

[2020-12-14 08:23] #44015 closed

[2020-12-14 08:28] MihaZupan commented on #44221
Duplicate of #44015

[2020-12-14 08:28] #44221 closed

[2020-12-14 08:28] sgronblo commented on #44567
I don't have experience with that so will take a bit of time to try it out. But if I write some dinky mini CLI tool and run it with `dotnet run` should that really deserve the full signed binary treatment?

[2020-12-14 08:30] MihaZupan commented on #43931
Note that this issue is tracking test failures for:
- `EventSource_SocketConnectFailure_LogsConnectFailed`
- `EventSource_ConnectAsyncCanceled_LogsConnectFailed`

[2020-12-14 08:36] ManickaP commented on #43931
@MihaZupan if there's another test reported under this issue feel free to extract it to its own issue and delete the comment. I've been doing that quite a bit lately.
Especially if we might disable the test.

[2020-12-14 08:44] MihaZupan opened #46030 "[Regression] [Product bug] Test failure: System.Net.Sockets.Tests.TelemetryTest.EventSource_ConnectAsyncCanceled_LogsConnectFailed(useDnsEndPoint: True)"
Same underlying issue as #43931, just a different method.

Example failure:
[code]

[2020-12-14 08:55] bb-froggy commented on #45759
What about we accept 0x20 as well as 0x01 in IsMachineKey?

We could add MachineKeyAlternative to the enum CngKeyTypes and check for both values in IsMachineKey, like this:

[code]

Both return values seem to exist in KSPs that ship with Windows, so we should accept both. Both values are unambiguous, too, as KeyType is used for nothing else currently.

Eventually, the KSP teams should also sort ou

[2020-12-14 08:55] MihaZupan commented on #46030
Test disabled by #46031.

[2020-12-14 08:55] MihaZupan commented on #43931
Test disabled by #46031.

[2020-12-14 09:01] adamsitnik opened #46032 "Possible thread safety issue with linked cache entries"
As noticed by @gfoidl in https://github.com/dotnet/runtime/pull/45962/files#r541573802

It's possible that when the following code responsible for propagating the options to the linked cache entry:

https://github.com/dotnet/runtime/blob/8d6e098d647bd59a79165c3ad6b31957999479bb/src/libraries/Microsoft.Extensions.Caching.Memory/src/CacheEntry.cs#L329-L341

calls the `parent.AddExpirationToken` meth

[2020-12-14 09:17] adamsitnik commented on #45868
@ChadNedzlek thank you for providing all the details!

@eerhardt my first PR (#44797) got merged on the 17th of Nov, but it was a very low-risk change with just better inlining and I don't think that it could have introduced a bug. We should watch it closely and see if it reproduces more often (and in what config)

[2020-12-14 09:35] MihaZupan commented on #36908
We should really be using `Uri.EscapeDataString` instead of `WebUtility.UrlEncode` here.

[2020-12-14 09:36] Wraith2 commented on #45750
Adding the ability to perform user registrations would also have an effect on tools that generate or gather registration information. For example when I last used WiX to generate installers the official advice was not to try and invoke DllInstall dynamically at install time but to do a gather step and embed the resulting registry alterations. Properly written this won't change if registration if i

[2020-12-14 09:44] premun commented on #45181
Seems that runtime got the Arcade version needed for this organically already. I put the machines back into the pool and am monitoring the builds in the staging pipeline.

[2020-12-14 09:47] govert commented on #45750
@AaronRobinsonMSFT You say:

Do you have some more information or a reference about these issue?

The registry behaviour under the Office Click-to-Run environment (I think it is related to App-V) has also been problematic in recent Office versions, with undocumented registry types and unexpected behaviour in different versions.

In general the component developer has little control over the enviro

[2020-12-14 10:59] adamsitnik commented on #45315
From the dumps that you have provided, we can see that in the first dump there was:

527791 bytes allocated by 4261 objects

in the second:

511337 bytes allocated by 3052 objects

So... the **memory usage did not increase but has decreased instead** (and the diff window shows a negative `Totals Metric`).

To be 100% sure there is no leak I've opened the dumps and diffed them:

![obraz](https://us

[2020-12-14 11:08] eiriktsarpalis commented on #39919
Adding new classes always comes at a cost, even if they're just facades.

[2020-12-14 11:08] yodasad commented on #27002
Well, it seems like there **is** a channel support in .NET Core.
If you add and EventAttribute to your EventSource method and specify the Keywords parameter with the value -9223108154064109568 everything is working, EventViewer starts to see all events.

[code]

Don't ask how I found this constant -9223108154064109568.

[2020-12-14 11:21] premun commented on #45181
All seems OK. The iOS leg has been passing steadily for last few days, just last weekend was red thanks to the new machines that were added and were misconfigured.

I think we can consider adding iOS back to non-staging

[2020-12-14 11:21] Masus commented on #27002
@yodasad brute force?:) Excellent finding! A pain to change all the manifests for our products but if this is the official way to do it I guess it will have to do. Any comments Microsoft (@vancem ?)?

[2020-12-14 11:23] SimonPilkington opened #46033 "DateTimeFormat for the en-GB CultureInfo is incorrect on .NET 5"
### Description

Per the title, the patterns seem incorrect. ShortDatePattern is notably wrong and causes my code to parse dates incorrectly.

[code]

### Configuration

x64 Windows and Linux. Most likely platform-agnostic.

### Regression?

Yes, .NET Framework is correct:

[code]

[2020-12-14 12:08] steveisok commented on #45181
@premun Do you log something when reboots occur?  I'd like to validate when that happens before moving off the staging pipeline.

[2020-12-14 12:10] zsybupt opened #46036 "IEnumerable.Count() performance"
### Description

IEnumerable<T>.Count() in System.Linq is optimized for ICollection type, should it has a fast path for IReadOnlyCollection to achieve better performace, too ?
https://github.com/dotnet/runtime/blob/010a5654555be3dacf624c8a16897dfc4cff8f76/src/libraries/System.Linq/src/System/Linq/Count.cs#L11

If it is an improvement, I can provide a pull request for this. :smile:

Thanks

[2020-12-14 12:21] akoeplinger commented on #36536
Yes I think we should still do this. It should be easy by removing the hardcoded Xcode path here: https://github.com/dotnet/runtime/blob/010a5654555be3dacf624c8a16897dfc4cff8f76/src/mono/mono.proj#L31

Not a libraries concern though, moving the area label to mono.

[2020-12-14 12:28] premun commented on #45181
We know when the last reboot happened only. This seems to be Dec 9th for most of the machines.

However, I observed the issue again here and the fix of the fix is not working still:
https://dev.azure.com/dnceng/public/_build/results?buildId=920110&view=logs&j=8580ecfb-912a-5dbd-35ce-e64d0d51ddbf&t=ebd4788e-80c8-5104-29f3-a1792da138c8

[code]

So we're still not quite there yet

[2020-12-14 12:30] premun commented on #45181
The problematic machines are still 133 and 145, like before. Last reboot on 9th

[2020-12-14 12:31] #46022 closed

[2020-12-14 12:33] andrew-boyarshin commented on #45735
`ComObject` is actually part of _SharpGen_ (maintained by @jkoritzinsky), it's just that _SharpDX_ and [Vortice](https://github.com/amerkoleci/Vortice.Windows) ship their own version of it with minor changes. SharpGen doesn't rely on built-in COM support (instead, it generates its own wrapper around Vtbl), but it does interface with it (e.g. you can construct ComObject from `IUnknown` wrapped by .

[2020-12-14 12:34] adamsitnik commented on #36777
@DmitryKhryukin have you made any progress on this? please let me know if you need some help

[2020-12-14 12:35] adamsitnik commented on #39928
@batzen have you made any progress on this? do you need some help?

[2020-12-14 12:45] EgorBo commented on #46036
https://github.com/dotnet/runtime/issues/42254

[2020-12-14 13:01] ViktorHofer commented on #46020
@trylek who reported the issue? This sounds very similar to restore issues where the build doesn't fail even though restore isn't entirely successful which is something that Nuget controls and we can't fix.

[2020-12-14 13:02] ViktorHofer commented on #46020
If it was you who encountered the issue, do you still have the full build log available to verify my assumption?

[2020-12-14 13:04] ViktorHofer commented on #46018
cc @akoeplinger and @marek-safar regarding the linker ask.

[2020-12-14 13:17] akoeplinger commented on #46018
@ViktorHofer this is about the native C++ linker, not the managed linker :)

[2020-12-14 13:18] ViktorHofer commented on #46018
Haha 😂 thanks for clarifying

[2020-12-14 13:59] eiriktsarpalis commented on #31573
What would be the motivation for making this proposal? Experience shows that such additions while well-intentioned only function to increase the concept count of your typical codebase.

In order for the new interfaces to be useful, both runtime libraries and nuget ecosystem alike would need to implement them on their types. Do note however that there is a performance penalty when appending new int

[2020-12-14 13:59] #31573 closed

[2020-12-14 14:11] gregolsky commented on #42885
@janvorli I am not sure if this is a concidence or was it planned, but on the first look it seems the memory usage has been decreased significantly after installation of the custom binary... Is that possible? Similar behavior can be observer on other 2 cluster nodes.

![image](https://user-images.githubusercontent.com/1541805/102090969-6f2b9400-3e1e-11eb-94b6-f7b2343c2ee2.png)

[2020-12-14 14:12] stepkillah commented on #44686
Another issue related to Application Insights diagnostic data, so in `.NET5` when using a workaround above diagnostic data not get sent, here is a related issue https://github.com/dotnet/runtime/issues/31261

[2020-12-14 14:23] eiriktsarpalis commented on #31350
Proposed API:
[code]

[2020-12-14 14:46] eiriktsarpalis commented on #31070
Note that this would be a breaking change since it would now throw `IndexOutOfRangeException` instead of the current `ArgumentOutOfRangeException`. I'm not convinced it would bring any significant performance gains either.

I'm going to close the issue since we can't avoid enumerator allocations without taking a breaking change.

[2020-12-14 14:46] #31070 closed

[2020-12-14 15:08] eiriktsarpalis commented on #30661
Are `Contains` and `IndexOf` the only methods to be added to the invariant subtypes? If so it feels like a lot of added complexity in order to accommodate a scenario that could in principle be obtained using enumeration or indexers.

Not sure I like, but I can't think of anything better either.

[2020-12-14 15:10] eiriktsarpalis commented on #46036
Closing as duplicate #42254.

[2020-12-14 15:10] #46036 closed

[2020-12-14 15:47] Taritsyn opened #46040 "System.IO.Compression.Brotli: `BrotliStream` incorrectly compresses an empty stream"
### Description

Compressing an empty memory stream by using the `BrotliStream`:

[code]

Gives an incorrect result:

[code]

In other words, instead of an empty string, we get a semicolon.

If use a `GZipStream` or `DeflateStream` classes instead of a `BrotliStream` class, then result will be correct:

[code]

### Configuration

* .NET 5.0.1 and .NET Core 3.1.10
* Windows 10 20H2 (OS Build 19042.

[2020-12-14 15:54] danmosemsft commented on #44657
Failed again https://dev.azure.com/dnceng/public/_build/results?buildId=920007&view=logs&jobId=a45ba455-ebc4-599b-2570-d14d0585f433

[2020-12-14 15:56] TylerBrinkley commented on #30661
At this point I don't really advocate for making this change due to the added complexity. If someone else would like to keep this issue open please let me know and I can re-open.

[2020-12-14 15:56] #30661 closed

[2020-12-14 15:56] Taritsyn commented on #46040
Most likely, semicolon put in the output stream during calling the `Dispose` or `DisposeAsync` method of `BrotliStream` class.

[2020-12-14 15:59] BruceForstall commented on #46028
@dotnet/jit-contrib "Assertion failed 'blockPred->bbTraversalStamp == curTraversalStamp'" in R2R win-x86 jitstress2-tiered

[2020-12-14 16:11] trylek commented on #46020
@ViktorHofer - yes, I hit the issue locally, happens to me quite often. I reran the build yesterday after hitting this so I'm afraid I don't have the logs readily available but I'll collect them the next time this reproes - what particular logs are you interested in? I must admit I'm not aware of any "single global log", according to my knowledge for instance CoreCLR build emits a series of smalle

[2020-12-14 16:21] janvorli commented on #42885
@gregolsky that was not expected. Maybe somehow the issue doesn't always lead to crash, but somehow falsely keeps objects alive. But I don't have a clear explanation for such a  mechanism.

[2020-12-14 16:40] premun commented on #45181
I prepared a fix and tomorrow morning when there's no traffic on the queue, I will bump Arcade in a draft PR and run the iOS leg again to see.

[2020-12-14 16:41] MattGal commented on #46025
Yup, I'm investigating.  Curious why this is hot... is it 100% repro?

[2020-12-14 16:47] danmosemsft commented on #46040
@Taritsyn thank you for reporting this. Are you interested in debugging a little further?

[2020-12-14 16:49] jkotas commented on #46025
It was 100% repro for a while yesterday. It does not seem to repro anymore.

[2020-12-14 16:52] MattGal commented on #46025
@jkotas there were two things going on here:

- There were only 14 distinct machines for this queue during this time in `buildpool.ubuntu.1604.amd64.open` ... I would guess either Azure or the scaler had trouble in this time range (it's not happening right now, I'm looking for any interesting logs).  @AlitzelMendez  / @ulisesh  FYI.

- As a result, the builds sat in queue for > 90 minutes, after w

[2020-12-14 16:53] MattGal commented on #46025
@jkotas ah yes, it was a scaler outage (https://github.com/dotnet/core-eng/issues/11667)

[2020-12-14 16:56] TanvirArjel commented on #31094
I have been tired of writing `PropertyNameCaseInsensitive = true` as follows:

[code]

This should have been a default setting. I am not convinced why .NET team made this `PropertyNameCaseInsensitive = false,` ass default. This is one of the misdesign in .NET 5.0 which is giving and will give a lot of pain in the upcoming days unless they alter this.

[2020-12-14 17:04] AlFasGD opened #46042 "Add implementations of System.Linq.Enumerable.Sum(this IEnumerable<X> source) for uint, ulong and potentially more types"
## Background and Motivation

There are several implementations to calculate the sum of the values within an `IEnumerable<T>`, but not all types are covered. Specifically, the currently implemented types are `int`, `long`, `float`, `double`, `decimal`, and their nullable variants. I believe that this should be extended to also support ~~at least~~ `uint` and `ulong`~~, if not for `byte`, `sbyte`,

[2020-12-14 17:10] AaronRobinsonMSFT commented on #45735
@andrew-boyarshin Thank you for the comprehensive answer. It aligns well with the current runtime design for WinRT and my limited understanding of the external libraries involved here.

The default constructor taking an `object` should work just fine for the existing UWP scenario (i.e. .NET Native).

Given the description and workarounds above I am going to close this issue. @Gavin-Williams Sorry

[2020-12-14 17:10] #45735 closed

[2020-12-14 17:16] ericsampson commented on #31094
@TanvirArjel it is my understanding that the default was chosen because of improved performance, you take a perf hit for using caseinsensitive. I doubt that the default is going to change now, that would change behavior.

[2020-12-14 17:25] jkotas commented on #46025
Thanks for taking a look.

[2020-12-14 17:25] #46025 closed

[2020-12-14 17:30] vcsjones commented on #46040
I think this is expected. Google's [test suite][2] indicates that a zero-length input results in a one-byte output. Further, the [RFC states][1] that a compressed stream has at least one meta-block.

Further, using the `brotli` command line tool, I can reproduce the behavior.

[code]

[1]: https://tools.ietf.org/html/rfc7932#section-9.2
[2]: https://github.com/google/brotli/blob/master/tests/testd

[2020-12-14 17:35] AaronRobinsonMSFT commented on #45750
Missed this query. It is entirely possible and one could use the [existing source](https://github.com/dotnet/runtime/tree/master/src/installer/corehost/cli/comhost) to start. One missing aspect from the source is the need to link against our public low level host API (i.e. `nethost.lib`). A sample exists for that [here](https://github.com/dotnet/samples/tree/master/core/hosting/HostWithHostFxr).

[2020-12-14 17:35] danmosemsft commented on #45023
Perhaps @steveharter can help us in January to figure out whether there's anything here or this can be closed? I'd rather it not sit around without more clarity.

[2020-12-14 17:37] GrabYourPitchforks commented on #45759
I'll follow up with the crypto team and see what they recommend.

[2020-12-14 17:41] janvorli commented on #33068
It is important to keep the ability to run individual tests without dotnet test (or any other way that results in spawning a child process for running the test).  lldb doesn't support following fork and switching to debugging the child process. There is a way using multiple instances of lldb, but it is extremely clunky and painful.

[2020-12-14 17:44] layomia commented on #44726
Fixed for 5.0.2 in https://github.com/dotnet/runtime/pull/45449.

[2020-12-14 17:44] #44726 closed

[2020-12-14 17:47] batzen commented on #39928
I had some massive issues with the build scripts.
- Build scripts used mixed windows sdk versions
- Build scripts used mixed visual studio versions (preview / non preview)
- Build scripts use the debug configuration by default which causes massive slowdowns, at least on my machine, and i wasn't able to get even one test to finish before hitting a timeout

I sorted all those out by "fixing" the bui

[2020-12-14 17:51] mikem8361 commented on #45867
@jdobrzanski are you still having this issue?  It may have been a transient symbol server problem?

[2020-12-14 17:53] eiriktsarpalis commented on #46042
A `Sum()` overload over bytes or shorts is extremely likely to suffer from arithmetic overflow. In rare cases I can see how `ulong` might be useful but for other unsigned types probably not as much.

[2020-12-14 17:57] AlFasGD commented on #46042
That was my thought as well, better leave them out.

It is true that those types are not used everyday, but if the functions work, the only thing that could prevent those overloads from being justifiably added is the statement below.

What's the cost of adding more functions to LINQ?

[2020-12-14 18:09] jkotas commented on #45023
We need end-to-end spec with details how the different hot reloading modes are going to work, where each of them ends and their implementation architecture.

This specific issue is a potential part of the EnC hot reloading mode. We need to draw a boundary around the limits of EnC reloading mode before we can tell what makes sense to do here.

FWIW, I expect that this issue is going to be cut becau

[2020-12-14 18:20] Taritsyn commented on #46040
The main problem is that if we postpone calling of the `Dispose` method, then result will be correct. For example, the following code:

[code]

Gives an correct result:

[code]

In this case, result does not depends on the peculiarities of compression algorithm implementation, but depends on moment when the `Dispose` method was called. When using the `GZipStream` and `DeflateStream` classes, we al

[2020-12-14 18:24] eiriktsarpalis commented on #46042
Shared framework size primarily.

[2020-12-14 18:26] danmosemsft commented on #45023
@DamianEdwards @stephentoub is there a person who owns this spec?

[2020-12-14 18:27] AlFasGD commented on #46042
Does adding 8 more functions to LINQ increase shared framework size by that much? I don't really know what the effects for that could be, so I'm just leaving this proposal open here.

[2020-12-14 18:30] ViktorHofer commented on #45638
Fixed in both release/5.0 and master. The package will be updated with the next servicing release.

[2020-12-14 18:30] danmosemsft commented on #39928
@batzen hmm, the steps I normally use for libraries work are essentially these
https://github.com/dotnet/runtime/blob/master/docs/workflow/building/libraries/README.md

`build.cmd clr+libs -rc Release` builds a release runtime - with debug libraries, that should run fast.

I'm not sure about the other two issues unfortunately. I do most of the build on the command line, in a regular command prompt

[2020-12-14 18:30] #45638 closed

[2020-12-14 18:37] antonfirsov commented on #45651
Removing the caching of the `LocalEndpoint` doesn't help. With Debug builds we end up with an assertion failure in `SocketAsyncContext.Unix`:
https://github.com/dotnet/runtime/blob/31062e4ec6b248b709095e13947400b49d507e53/src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs#L475

The assertion keeps failing when switching from `ReceiveFrom` to `ReceiveFromAsync` as su

[2020-12-14 18:38] eiriktsarpalis commented on #46042
It's just that we receive many requests for LINQ enhancements. Given the extensible nature of the library (missing overloads can be added as extension methods or even published as nuget packages), we generally err towards requiring evidence that the proposal provides value to many users (e.g. issue popularity, addition is not a one-liner etc.)

[2020-12-14 18:44] tmds commented on #45651
@antonfirsov, since you can reproduce the issue, can you check if https://github.com/dotnet/runtime/pull/45683 has an effect?

[2020-12-14 18:46] sywhang opened #46044 "Starting a SampleProfiler session at startup runs into asserts"
It's possible for a SampleProfiler EventPipe session to run into the following assertion if it's started at runtime startup:

[code]

Specifically it is this assert:
[code]

This can fail at enabling at startup scenario because s_refCount has been incremented by the new EventPipe session that requested SampleProfiler, but s_pSamplingThread is still null because it hasn't been started yet.

[2020-12-14 18:49] tmds commented on #45651
I think we are missing `SetReceivedFlags = true` here:

https://github.com/dotnet/runtime/blob/31062e4ec6b248b709095e13947400b49d507e53/src/libraries/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs#L1510-L1516

[2020-12-14 18:54] antonfirsov commented on #45651
@tmds yeah `SetReceivedFlags = true` seems to fix the issue. Will raise a PR tomorrow.

[2020-12-14 18:54] tmds commented on #45651
I wonder why tests haven't caught this.

[2020-12-14 19:00] fanyang-mono commented on #45716
Portable thread pool may also have affected the TE benchmarks on ARM with Linux for both CoreCLR and Mono, especially for PlaintextPlatform and JsonPlatform scenarios. According to the following screenshots, the charts started to fluctuate since it started to measure .NET6

<img width="1489" alt="Screen Shot 2020-12-14 at 1 57 33 PM" src="https://user-images.githubusercontent.com/52458914/10212300

[2020-12-14 19:06] ViktorHofer commented on #46020
AFAIK the global build log should be in `artifacts\log\$(Configuration)\`. I never hit that issue so it might be related to different developer workflows. Logs should help to better understand the issue.

[2020-12-14 19:07] LakshanF opened #46047 "dotnet-trace needs to work better with apps that has the EventSourceSupport feature switched off"
### Description

When an out of proc tracing tool like dotnet-trace is used to collect a trace from an application that has been built with the feature EventSourceSupport turned off, it crashes the application. Also the generated trace file (nettraace.trace) is corrupted.

Repro steps
 - Build a runtime that allows EventSource feature to be turned off. Currently requires, [EventPipe and NativeRunt

[2020-12-14 19:14] LakshanF commented on #43657
The consensus is to honor the developer intent when they switch off EventSource feature and not enable any events from the application. The user experience when they use an external tool like dotnet-trace should be to fail gracefully. The current behavior with dotnet-trace is not optimal since it crashes the app and generates a trace file that is corrupted (issue #46047).
The reason for honoring t

[2020-12-14 19:20] AndyAyersMS commented on #46026
Generally I'm in favor of things that remove complexity (or at least try and limit the scope of complexity). This proposal seems like it is likely to do just that. So it seems like a good idea.

[2020-12-14 19:21] mrybson commented on #36947
@danmosemsft  - thank you for posting your solution. I have now the same setup, but this after call:
          `  var response = (SearchResponse)_connection.SendRequest(searchRequest);`
I cannot debug and the application stops. Have you experienced that issue? I am running this on .NET Core 3.1 in a Linux environment.

[2020-12-14 19:32] safern commented on #46033
Thanks @SimonPilkington for opening the issue. The reason why this is different in between `.NET Framework` and `.NET Core` and `.NET 5.0` is because in `.NET Framework` we used `NLS` as the globalization engine and we changed the implementation for `.NET Core` and `.NET 5.0` to use `ICU` as the globalization engine. However, from looking at the ICU data for `en-GB` it seems like we should be retu

[2020-12-14 19:33] danmosemsft commented on #36947
@mrybson I actually am not familiar with the directory services code. @joperezr would have to help you.

No console output at all?
What debugger did you use -- did you start under the debugger?
Did you try a native debugger?

For managed code debugging, you can try lldb if you are willing to try SOS commands (there is a learning curve): https://github.com/dotnet/runtime/blob/master/docs/workflow/d

[2020-12-14 19:33] steveharter commented on #1570
Currently the prototype for serialization works similar to deserialization -- it kicks in based on the internal buffer size getting close to its capacity. So it calls `WriteAsync()` at that point in order to prevent the JSON serializer from having to increase the buffer size. This means there will likely be a lag for calls to `WriteAsync()`.

There is no call to `FlushAsync()` since flushing seman

[2020-12-14 19:38] safern commented on #44673
@Marusyk then it seems like we can add a `netstandard2.0` target to the project and if def the code?

[2020-12-14 19:40] safern commented on #45181
I removed `blocking-clean-ci` since this leg was moved the staging pipeline.

[2020-12-14 19:40] stephentoub commented on #45023
@LyalinDotCom

[2020-12-14 19:41] NikolaMilosavljevic commented on #749
[Triage] We should break this into separate issues.

[2020-12-14 19:41] ViktorHofer commented on #45181
We probably need a new label for the staging pipeline similar to the outerloop one: blocking-clean-ci-staging.

[2020-12-14 19:42] steveharter commented on #1570
The [existing ](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsonserializer.serializeasync?view=net-5.0)"serialize" async method uses `Task` and the "deserialize" methods use `ValueTask`. This was based on API review where "serialize" is likely async while the "deserialize" is likely sync.

@stephentoub have there been any recent guideance changes w.r.t. `ValueTask` vs `Task`?

[2020-12-14 19:47] butler1233 commented on #30820
Ah, my apologies, it looks like I linked to the wrong issue. Should have been #40099.

They didnt make the changes to add something like Ignore in 5, although as discussed in that (hopefully correctly linked) issue it's being considered for 6.

________________________________
From: Ryan Gray <notifications@github.com>
Sent: Sunday, 13 December 2020, 17:01
To: dotnet/runtime
Cc: Lee Butler; Mentio

[2020-12-14 19:48] Anipik commented on #45111
I added the package, we can keep this open until we ship the package

[2020-12-14 19:49] ericstj commented on #43347
Are there other platforms which use `bionic`?  In other words, what sort of reuse will you gain by this indirection vs folks just using `android` to mean the same thing?

[2020-12-14 19:50] danmosemsft commented on #46033
I see the format is correct on Linux (used 5.0.1)

Can personally confirm that `MM/dd/yyy` would be completely wrong in en-GB 😄

[2020-12-14 19:52] NikolaMilosavljevic commented on #1365
@jkoritzinsky is this still being tracked?

[2020-12-14 19:54] Anipik commented on #45120
its for the installer section of the runtime repo

[2020-12-14 19:54] jkoritzinsky commented on #1365
Well, we're going whatever the SDK does now, so not really? I don't think they paralelize so we might have some work to do for this, but we'd want to do it in the SDK.

[2020-12-14 19:57] NikolaMilosavljevic commented on #1719
[Triage] @jkoritzinsky do you know if this is tracked as part of leg consolidation and optimization?

[2020-12-14 19:58] jkoritzinsky commented on #1719
I'm not sure. I'm not familiar with this issue. @safern or @jaredpar would know better.

[2020-12-14 19:58] Anipik commented on #45007
i think runtime-dev-workflow is much better, i didnt know the difference before this comment.

[2020-12-14 20:00] jkoritzinsky commented on #1867
Yes, the tooling was integrated.

[2020-12-14 20:00] #1867 closed

[2020-12-14 20:01] NikolaMilosavljevic commented on #2051
[Triage] Closing since notarized packages were released.

[2020-12-14 20:01] #2051 closed

[2020-12-14 20:03] NikolaMilosavljevic commented on #32187
[Triage] @jkoritzinsky do you know if this was done as part of SharedFX refactoring?

[2020-12-14 20:03] Anipik commented on #39078
@ericstj do we have plans to ship the fix for .NET 4.8 ?

[2020-12-14 20:03] jkoritzinsky commented on #32187
Yep

[2020-12-14 20:03] #32187 closed

[2020-12-14 20:09] geoffkizer commented on #45651
+1. I assume we just don't have tests for this particular combination (async ReceiveFrom with Memory) or something like that, but it's still concerning.

[2020-12-14 20:12] NikolaMilosavljevic commented on #32836
[Triage] It would be too risky to change now; it could regress any customer workarounds.

[2020-12-14 20:12] #32836 closed

[2020-12-14 20:15] am11 commented on #46033
[code]
on Windows 10 (10.0.19042.630) with .NET SDK 5.0.100 gives me `dd/MM/yyyy` (both with ICU and NLS).

[2020-12-14 20:15] NikolaMilosavljevic commented on #33218
[Triage] @jeffschwMSFT this is one of the native compilation steps, and unrelated to Installer.

[2020-12-14 20:18] tarekgh commented on #46033
@danmosemsft is right, we are returning the right pattern on Windows and Linux. my guess here is on @SimonPilkington machine, the short date pattern is overridden `HKEY_CURRENT_USER\Control Panel\International` for the value of `sShortDate`.

@SimonPilkington you may try

[code]

This should print the value without using the user override. I am closing this issue but feel free to send any question

[2020-12-14 20:18] #46033 closed

[2020-12-14 20:20] NikolaMilosavljevic commented on #34913
[Triage] we should investigate using static upgrade code.

[2020-12-14 20:23] SimonPilkington commented on #46033
I am getting the incorrect value on both Windows and Linux so a registry override is unlikely. Still, if everyone else is seeing the correct value it seems like something must be wrong here. I will investigate this further.

[2020-12-14 20:29] safern commented on #46033
I got confused by that as well because  I saw that you specified both Windows and Linux on the configuration. I just tried it on both Linux and Windows and I got, `dd/MM/yyyy`. Also, I wrote a small console app to call `ICU` directly and I get `dd/MM/yyyy` as well.

@SimonPilkington maybe the ICU version that you're using on `Linux` is old? You can run: `icuinfo` on your console to get that info.

[2020-12-14 20:31] tarekgh commented on #46033
@SimonPilkington could you print the value of `CultureInfo.GetCultureInfo("en-GB").NumberFormat.CurrencySymbol`? I have some doubt you are running on the Invariant globalization mode.

[2020-12-14 20:32] safern commented on #45181
I would suggest something like `staging` or something like that. As the staging pipeline is not `blocking` per se since that is it's purpose. To test things that are not stable before moving them to the main pipeline.

[2020-12-14 20:35] ViktorHofer commented on #45181
Sounds good, just a small addition, the staging pipeline can be blocking if there are build failures on it. We just hit that in another PR.

[2020-12-14 20:36] safern commented on #1719
I don't thin kit is part of the leg consolidation, however we should do this after the leg consolidation is done.

[2020-12-14 20:36] ViktorHofer commented on #45181
Also I think the `blocking` refers to the `clean` and the pipeline that follows afterwards: `blocking-clean-ci-staging`. I read this is as, this issue is blocking a clean ci on the staging pipeline.

[2020-12-14 20:38] NetMage commented on #29620
It seems the current `ToDictionary` passes a `0` for `capacity` when it can't get it quickly - would just adding an optional parameter with a default value of `0` be just as good?

I'd also note that `Enumerable.ToDictionary` already has `ICollection`, `List` (would this be better `IList`?), and `T[]` specializations to get a quick capacity. `Enumerable.ToList` would need some modification to take

[2020-12-14 20:38] SimonPilkington commented on #46033
@safern @tarekgh's suggestion is exactly the code I use in my application where I have the problem, but for completeness' sake:
[code]
`icuinfo` returns version 13.0. The system I'm using is running Debian Unstable so all software should be relatively recent.

@tarekgh The output here is also unexpected:
[code]

(All output is from the Immediate Window in Visual Studio with my application running

[2020-12-14 20:38] ViktorHofer commented on #1719
We might not need build or pipeline artifacts anymore at all after 1) the legs are consolidated and 2) the "Prepare Signed Artifacts" leg is eliminated: https://github.com/dotnet/runtime/issues/44842.

[2020-12-14 20:39] safern commented on #45181
Fair point. Yeah we need to fail on build failures to protect verticals for new platforms that are part of the staging pipeline.

[2020-12-14 20:40] tarekgh commented on #46033
@SimonPilkington you are running with `Invariant globalization mode` https://docs.microsoft.com/en-us/dotnet/core/run-time-config/globalization. try to turn it off on your project.

[2020-12-14 20:42] SimonPilkington commented on #46033
Yes, you are correct. I even remember enabling this now that you linked the docs. Thanks for clearing that up, and sorry about the bogus report.

[2020-12-14 20:43] SimonPilkington commented on #46033
If practical maybe it would be good to have `GetCultureInfo` throw in this scenario.

[2020-12-14 20:45] agocke commented on #45705
@terrajobst I believe this API is ready for review. If you wanted to consider broadened support I think one of my other proposals touches on the same problem

[2020-12-14 20:54] hoyosjs commented on #44745
There's this https://dotnetcli.blob.core.windows.net/dotnet/Runtime/5.0.2-servicing.20611.21/dotnet-runtime-5.0.2-linux-arm.tar.gz. You can extract it and you'll have a shared framework. On the debugger side, you can set the environment variable `DOTNET_ROOT` pointing to that folder and use that `dotnet` executable to ensure you use it. Given that the extracted folder will be called 5.0.2, be real

[2020-12-14 21:03] kouvel commented on #45716
Thanks, I'll take a look to see if it's the same issues

[2020-12-14 21:09] tarekgh commented on #46033
We have to be careful doing that. When Invariant globalization mode is turned on intentionally, throwing can cause some problems. like, if the app is using a library which not having control over and this library is creating a culture like that.

[2020-12-14 21:11] tommcdon commented on #46007
@sywhang

[2020-12-14 21:28] echesakovMSFT commented on #32239
@EgorBo I haven't started working on this. If you want to work on this, feel free to do so and un-assign me.

[2020-12-14 21:34] danmosemsft commented on #46033
We should perhaps move https://github.com/dotnet/runtime/blob/master/docs/design/features/globalization-invariant-mode.md out of the repo onto the docs site.

[2020-12-14 21:36] Gavin-Williams commented on #45735
SharpDX is archived. There are no more issues being filed or resolved.

[2020-12-14 21:55] sandreenko commented on #38773
The issue still exists.

[2020-12-14 22:06] radical commented on #44657
Failed here - https://dev.azure.com/dnceng/public/_build/results?buildId=920677&view=ms.vss-test-web.build-test-results-tab&runId=29254050&resultId=100009&paneView=debug

[2020-12-14 22:07] kalaskarsanket opened #46049 "Converge on one concept and set of APIs for "stuff packed with dlls""
---
**Issue moved from microsoft/dotnet#1278**
- Please respond to @atrauzzi.

---

_From @atrauzzi on Friday, December 11, 2020 3:01:31 AM_

In the spirit of https://themesof.net/ it would be nice if the resource story in .net converged on one idea.

 - I'm always unsure as to which is the right one to pick and official docs don't clearly spell out which to use.
 - I'm not sure which APIs for acc

[2020-12-14 22:07] kalaskarsanket opened #46050 "System.Diagnostics.Process.WorkingSet64 is static value in .Net Core 3.1"
---
**Issue moved from microsoft/dotnet#1277**
- Please respond to @ChristianKern97.

---

_From @ChristianKern97 on Tuesday, December 8, 2020 12:36:59 PM_

I'm using the WorkingSet64 endpoint to measure the RAM usage of multiple processes with my application, this worked fine, but for some reason it stopped working as it should and it only returns a static value, which is different for different

[2020-12-14 22:24] kalaskarsanket opened #46475 "[New Feature Request] appsettings.json should have syntax support to enable usage of placeholders for Environment Variables (or any other setting from same config)"
---
**Issue moved from microsoft/dotnet#1248**
- Please respond to @manoj-choudhari-git.

---

_From @manoj-choudhari-git on Wednesday, September 9, 2020 4:31:06 PM_

I realized this while working on a code where I had to add transformations on very complex JSON object.
The transformation required were very simple.

_For ex.  I just wanted environment name to be present in a setting._

The issue w

[2020-12-14 22:29] ViktorHofer commented on #42250
@ericstj @jkotas do you know to whom to speak to about this?

[2020-12-14 22:40] #44078 closed

[2020-12-14 23:04] jkotas commented on #42250
@briansull owns ilasm/ildasm these days.

[2020-12-14 23:24] Marusyk commented on #44673
@safern could you please check how I tried to implement it?

[2020-12-14 23:25] cijothomas opened #46054 "Introduce Propagators API in DiagnosticSource package"
## Background and Motivation

`DiagnosticSource` package was enhanced in 5.0 to achieve OpenTelemetry Tracing API scenarios. There were few areas which were required in OpenTelemetry API, but was not included in 5.0, due to timing issues/OpenTelemetry spec not being ready before .NET 5 cut off time. One of the key missing pieces is the Propagators API. A propagator API allows libraries to inject a

[2020-12-14 23:35] LyalinDotCom commented on #45023
Hi folks,

@tmat and I would love to meet with all of you to discuss this. I will setup a quick chat and we can circle back here once we've talked.

[2020-12-14 23:48] 1304654 commented on #1570
I'm interested about serilize iasyncenumerable. But finally I should get rid of from actions/controller and go through signalr and send iasyncenumerable to browser web soket connection.

[2020-12-14 23:50] danmosemsft commented on #46050
@ChristianKern97 are you remembering to call `Refresh()` on your process object? WorkingSet64 and other similar properties will not update otherwise.

Example here:
https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.process.workingset64?view=net-5.0

[2020-12-14 23:56] menees commented on #36947
@danmosemsft, I'm sorry I don't have more time to work on this right now.

[2020-12-15 00:13] trylek commented on #45857
Thanks Michal for the suggestion; I tried that out but no E2E success so far:

1) When compiled with the project change you suggested, <code>r2rdump.dll</code> can no longer be run through the <code>dotnet.cmd</code> script. This is probably expected as the default dotnet host installed on an x64 machine is 64-bit and fails to run the 32-bit assembly. Running <code>r2rdump.exe</code> works fine.

[2020-12-15 00:26] echesakovMSFT commented on #45857
We don't test coredistools separately. However, we use both x86-hosted and x64-hosted coredistools for running GCStress.
Also when I worked on moving coredistools to dotnet/jitutils I tested them with SuperPMI asmdiffs on win-x86 (see https://github.com/dotnet/jitutils/issues/290). So, at least, functionality related to disassembling seems to be working fine.

[2020-12-15 00:29] trylek commented on #45857
Thanks Egor for your immediate response, that confirms my suspicion that the bug is most likely on our side. Have you got any idea where I or JanV could take a look at the native C++ declarations of the native API so that we can double-check correctness of the PInvoke declarations? I see this as the most likely culprit.

[2020-12-15 00:36] echesakovMSFT commented on #45857
Sure, the declarations are define in the following [file](https://github.com/dotnet/runtime/blob/master/src/coreclr/inc/coredistools.h)
[This one](https://github.com/dotnet/jitutils/blob/master/src/coredistools/coredistools.h) is in jitutils and should match the one in runtime.

[2020-12-15 00:47] joperezr commented on #46005
Thanks for logging the issue! Most of the work I did was more around the interaction with the native layer on Linux in order to be able to run on non-Windows, so I haven't played around much with LDAP notifications so getting to the bottom of your issue would warrant an investigation. When you say that you are trying to run it in .NET 5, do you mean in Windows as well? or is this on Linux?

[2020-12-15 01:03] GrabYourPitchforks commented on #45889
Reopening to track backporting.

[2020-12-15 01:03] trylek commented on #45857
Thanks Egor but I'm still not there ;-). When I look at <code>coredistools.dll</code> with a PE dumper, I see the following exports:

<pre>
  Ordinal   Entry Point   Name
        1   0x000151C0    ClearOutputBuffer
        2   0x000151F0    DisasmInstruction
        3   0x000152D0    DumpCodeBlock
        4   0x00015300    DumpDiffBlocks
        5   0x00015460    DumpInstruction
        6   0x0001

[2020-12-15 01:17] janvorli commented on #45857
Is it possible that the coredistools.dll is compiled  on x86 with stdcall calling convention and dllimport by default uses cdeclor vice versa?

[2020-12-15 01:18] msoliver commented on #46005
@joperezr  - Hi. This was all on Windows (Win 10 client connecting to Win Server 2019 AD server). The same sample code that I linked to above works fine in .NET Framework 4.72 but I was unable to receive LDAP notifications via BeginSendRequest mechanism on any .NET Core version, nor .NET 5. No errors or exceptions while running the code, just never received notifications.

FWIW - I was able to use

[2020-12-15 01:19] echesakovMSFT commented on #45857
Yes, all the coredistools files are here https://github.com/dotnet/jitutils/tree/master/src/coredistools

[2020-12-15 01:24] janvorli commented on #45857
I think I was right - all the methods are declared with cdecl in the coredistools repo and the default for dllimport on Windows for x86 is stdcall

[2020-12-15 01:30] sandreenko commented on #41639
@BruceForstall right now you can do the collection using the following command:
[code]

[2020-12-15 01:46] LeaFrock commented on #39919
Well, so the situation becomes that we're all waiting for some kind of implementation by someone now, in order to compare it with the current solution... that doesn't sound good =.=

[2020-12-15 02:16] #40700 closed

[2020-12-15 02:39] danmosemsft commented on #39919
It will be more space efficient, even if it's no faster, which seems potentially worthwhile to me.

I noticed this (didn't look at it): https://github.com/i3arnon/ConcurrentHashSet by @i3arnon

[2020-12-15 02:44] v-haren commented on #43207
failed again in job: [runtime-libraries-coreclr outerloop 20201214.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=920179&view=ms.vss-test-web.build-test-results-tab&runId=29240704&resultId=104417&paneView=debug)

failed test: System.ServiceProcess.Tests.ServiceBaseTests.TestOnExecuteCustomCommand

net6.0-windows-Release-x64-CoreCLR_release-(Windows.Server.Core.1909.Amd64.Open)windo

[2020-12-15 02:45] v-haren commented on #41723
failed again in job: [ runtime-libraries-coreclr outerloop 20201214.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=920179&view=ms.vss-test-web.build-test-results-tab&runId=29240438&resultId=103029&paneView=debug)

failed test: System.Net.Http.Functional.Tests.TelemetryTest_Http20.EventSource_ConnectionPoolAtMaxConnections_LogsRequestLeftQueue

net6.0-OSX-Release-x64-CoreCLR_release

[2020-12-15 02:57] microhobby commented on #44745
@hoyosjs ok, got it, thanks

[2020-12-15 03:20] #45730 closed

[2020-12-15 04:08] drewnoakes commented on #45828
Yes, and perhaps this could be a second diagnostic. There are two cases which don't make any sense to me:

1. `Interlocked.CompareExchange(ref F, F, A);` &mdash; the original scenario
1. `Interlocked.CompareExchange(ref F, A, A);` &mdash; the scenario you have highlighted

That's only true for `long` which is a 64 bit value, and would be subject to tearing.

[2020-12-15 04:59] #45654 closed

[2020-12-15 05:32] ahsonkhan commented on #31094
Also, asp.net core web apps and HttpClientJsonExtensions methods use [JsonSerializerDefaults.Web](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsonserializerdefaults?view=net-5.0) options setting by default, which is geared specifically for such web scenarios and has case insensitive set to true.
https://github.com/dotnet/runtime/blob/35fbaefa57f94268090dd28d432b6109e64a8c48/src/li

[2020-12-15 06:19] chucklu commented on #45107
@joperezr  Thanks for your explanation, I just reviewed [limitation of package reference](https://docs.microsoft.com/en-us/nuget/consume-packages/migrate-packages-config-to-package-reference#package-compatibility-issues).
Although we are using the visual studio 2019, I am not sure if it would be better to switch to package reference.

[2020-12-15 06:26] #35928 closed

[2020-12-15 06:33] chucklu opened #46182 "Why the nuget library required another library which actually not required?"
Today when I checked the dependency problem, I found I have multi versions of System.Security.Principal.Windows installed across multi projects in same solution.
And when I tried to [figure out the dependent](https://github.com/chucklu/DependentChecker)  of  System.Security.Principal.Windows, I got nothing.
There is no library required System.Security.Principal.Windows.

When I try to uninstall Sy

[2020-12-15 06:41] vargaz commented on #35928
How is this going to work without marshal attributes ?

[2020-12-15 06:45] Jozkee commented on #30820
@ryantgray, it seems to me that @BrunoBlanes' suggestion should cover your problem.

You need to use at least version 5.0.0 of System.Text.Json in order to be able to use the `ReferenceHandler.Preserve` feature, this can be achieved by either changing your target .NET version to 5.0 or by installing the latest standalone version of S.T.Json from nuget.

in case you are still having issues, kindly

[2020-12-15 07:19] svick commented on #46050
@danmosemsft The example does call `Refresh()`, but the documentation does not mention it otherwise and it even talks about "the **current** size of working set". Shouldn't that be changed? (Though that would be a dotnet-api-docs issue, not a dotnet/runtime issue.)

[2020-12-15 07:31] jkoritzinsky commented on #35928
The returned value type must be a blittable value type. As a result, it doesn’t require marshalling and the marshal attributes aren’t needed.

[2020-12-15 07:43] MichalStrehovsky commented on #45705
Should we consider aligning with the `Requires` naming pattern? `RequiresOriginalAssemblies`/`RequiresAssemblyFiles` or something like that?

[2020-12-15 09:45] chucker opened #46064 "EventLoggerFactoryExtensions seems to disregard filters"
### Description

I have an ASP.NET Core app targeting `.net5.0-windows`. In my `Program.cs`, I call `ConfigureLogging` to customize the providers:

[code]

In my `appsettings.Development.json`, I set the default log level to debug:

[code]

And finally, in a simple controller action, I do some logging:

[code]

At this point, I would assume:

* all those log messages should pass the minimum log le

[2020-12-15 10:00] mrybson commented on #36947
@danmosemsft  @menees I just found what was the root cause of the issue. So when running from Linux, you can't use TimeLimit property in the SearchRequest object. When you use it, app stops.

[2020-12-15 10:15] eiriktsarpalis commented on #39919
In practice though we'd be looking at maybe shaving one byte per [`Node` instance](https://github.com/dotnet/runtime/blob/e29b83934e7ceef9905f82bd6328cbc72db2278b/src/libraries/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentDictionary.cs#L2165) which I'm not sure would even register in heap allocations. That being said, there might be opportunities for other optimization

[2020-12-15 10:33] dalle commented on #1566
This extends @mpashkovskiy solution and relies on the functionality in `Utf8JsonReader`/`Utf8JsonWriter` for actual parsing/formatting.

[code]

[2020-12-15 10:53] Joe4evr commented on #45759
I feel like there should be a bit-twiddle that can do this in "one" operation (instead of `||`), but that bridge can be crossed after this is approved. 🙃

[2020-12-15 11:37] marek-safar commented on #43347
Very minimal right now, this is more correctness issue than anything else.

[2020-12-15 12:18] adamjones1 commented on #45344
Hi, in the meantime before this fix is released, I am trying to continue developing my app on machines with 5.0.101 installed (I didn't experience the error on 5.0.100 for some reason, it only appeared when 5.0.101 was installed). Is there any way to force usage of 5.0.100 for running it with a global.json? When I attempt this, `dotnet --version` gives me 5.0.100 but when the app actually launches

[2020-12-15 12:23] vsfeedback opened #46066 "Type.GetType(string, bool) don't work in . NET5"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/TypeGetTypestring-bool-dont-work-in/1286940)._

---
[severity:I'm unable to use this version]
In . NET5 (5.0.1) the method Type.GetType(string, bool) do not find the type in a not referenced assembly (Ribbon.dll). This assembly exists in the application path.
In . NET4.5 the type will b

[2020-12-15 12:47] Kumhy opened #46068 "I will not use CngKey.Import"
`

            using (var ecdh = new ECDiffieHellmanCng(ECCurve.CreateFromFriendlyName("secP224r1")))
            {
                var publicKey = (ECDiffieHellmanCngPublicKey)ecdh.PublicKey;
                var cngKey = publicKey.Import();

                var tmp = cngKey.Export(CngKeyBlobFormat.EccPublicBlob);

                //fail
                CngKey.Import(publicKey.ToByteArray(), CngKe

[2020-12-15 13:13] janvorli commented on #45344
Would setting the runtime version property in the csproj file to 5.0.100 work as a workaround?
[code]

[2020-12-15 13:17] pengweiqhca opened #46070 "GenericTypeDefinition equals issue"
[code]
Why? how to do that the first line will be true?

[2020-12-15 13:23] #46070 closed

[2020-12-15 13:29] adamjones1 commented on #45344
Trying this I get _"Unable to find package Microsoft.NETCore.App.Host.win-x64 with version (= 5.0.100)"_ (seems only 5.0.1 exists at https://www.nuget.org/packages/Microsoft.NETCore.App.Host.win-x64/?). Using 5.0.1 instead the issue is still present I assume as this still instructs it to use the latest patch version.

[2020-12-15 13:34] janvorli commented on #45344
I am sorry for the confusion, I meant 5.0.0.

[2020-12-15 14:08] madhubalakrishnan opened #46071 "MacOS - AesGcm Cryptography - No usable version of libssl was found"
### AesGcm Cryptography throws error "No usable version of libssl was found"
Application instantiates AesGcm class with a key - the application crashes with a crash report "dotnet quit unexpectedly".

Thread 0 Crashed:: Dispatch queue: com.apple.main-thread
0   libsystem_kernel.dylib        	0x00007fff77bcc2c6 __pthread_kill + 10
1   libsystem_pthread.dylib       	0x00007fff77c87bf1 pthread_kill +

[2020-12-15 14:25] ChristianKern97 commented on #46050
Ok i did not call `Refresh()` and that is likely causing the issue.

The other thing is, that the `PerformanceCounter.NextValue()` also produces the same behaviour, if run on Windows 10, but works on Windows Server 2019.

[2020-12-15 14:31] TylerBrinkley commented on #27183
I changed the proposal to `TryGetNonEnumeratedCount` and added a few use cases.

[2020-12-15 14:32] JulienM28 opened #46072 "StringLength attribute to limit length of strings inside an array"
Hello,

Is it possible to make StringLength attribute validating length inside an array, just like that:

[code]

Thanks.

[2020-12-15 14:33] EgorBo commented on #46071
AesGcm requires OpenSSL on macOS to work, see https://docs.microsoft.com/en-us/dotnet/standard/security/cross-platform-cryptography#aes-ccm-and-aes-gcm-on-macos

The easiest way to obtain one is to install it from homebrew.

[2020-12-15 14:33] ericstj commented on #43347
I don’t think will add another RID in between Linux and android if there’s no use case for it.  If there’s a specific case for sharing that this would enable then we would consider it.  There’s an infinite number of hypothetical characteristics we could model in the RID graph. We only do so when it makes sense to enable sharing.  It’s big enough already.

[2020-12-15 14:33] #43347 closed

[2020-12-15 14:33] premun commented on #45181
So I did some investigations and the problem is that we are using `launchctl asuser` to start XHarness in a user session with GUI rendering capabilities in order to be able to run the Simulator.
However, this process doesn't run in a subshell so we lose all the env variables and that's why we cannot request an infra retry. I will need to take care of this outside of `launchctl` so will need more t

[2020-12-15 14:42] eiriktsarpalis commented on #46050
@ChristianKern97 would you be able to provide a minimal repro of the behaviour? I tried running the following using `netcoreapp3.1` and couldn't detect anything out of the ordinary:

[code]

[2020-12-15 15:04] janvorli commented on #45971
It seems that in majority of cases, the STACK_SIZE_PARAM_IS_A_RESERVATION is a good thing, as most threads would use just a small portion of the reserved stack space. If we stopped passing it, applications using e.g. many threadpool threads would crash with OOM even though they would never need to use that amount of memory.
So I believe removing the STACK_SIZE_PARAM_IS_A_RESERVATION by default wou

[2020-12-15 15:08] janvorli commented on #45967
@Maniues can you please share the command line you have used and the complete output of the build.sh? The one that you've shared is just the configuration part of cmake.

[2020-12-15 15:11] ManickaP opened #46073 "Test Failure System.Net.Http.Functional.Tests.TelemetryTest_Http20.EventSource_ConnectionPoolAtMaxConnections_LogsRequestLeftQueue"
failed again in job: [ runtime-libraries-coreclr outerloop 20201214.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=920179&view=ms.vss-test-web.build-test-results-tab&runId=29240438&resultId=103029&paneView=debug)

failed test: System.Net.Http.Functional.Tests.TelemetryTest_Http20.EventSource_ConnectionPoolAtMaxConnections_LogsRequestLeftQueue

net6.0-OSX-Release-x64-CoreCLR_release

[2020-12-15 15:13] ManickaP opened #46074 "Test Failure: System.Net.NameResolution.Tests.TelemetryTest.EventSource_ResolveValidHostName_LogsStartStop"
failed again in job: [runtime-libraries-coreclr outerloop 20200916.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=817342&view=ms.vss-test-web.build-test-results-tab&runId=26020616&paneView=debug&resultId=102066)

failed test: System.Net.NameResolution.Tests.TelemetryTest.EventSource_ResolveValidHostName_LogsStartStop

net5.0-Windows_NT-Release-x64-CoreCLR_release-Windows.81.Amd64.O

[2020-12-15 15:16] ManickaP opened #46075 "Test failure: System.Net.Http.Functional.Tests.TelemetryTest_Http11.EventSource_SuccessfulRequest_LogsStartStop"
failed again in job: [runtime-libraries outerloop 20200903.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=800064&view=ms.vss-test-web.build-test-results-tab&runId=25329596&paneView=debug&resultId=102811)

failed test: System.Net.Http.Functional.Tests.TelemetryTest_Http11.EventSource_SuccessfulRequest_LogsStartStop(testMethod: \"Send\")

net5.0-Windows_NT-Release-x86-CoreCLR_release

[2020-12-15 15:16] #46068 closed

[2020-12-15 15:20] Kumhy commented on #46068
`
ECParameters otherPartyParameters = new ECParameters
{
    Curve = ECCurve.CreateFromFriendlyName("secP224r1"),
    Q = new ECPoint
    {
        X = byte[28],
        Y = byte[28]
    }
};

using (ECDiffieHellmanCng otherPartyCng = new ECDiffieHellmanCng(ECCurve.CreateFromFriendlyName("secP224r1")))
{
    otherPartyCng.ImportParameters(otherPartyParameters);
    using (var otherKey = otherParty

[2020-12-15 15:22] ChristianKern97 commented on #46050
Ok i have tried writing a minimal example. I used a Java process, because that is what i actually use in the real application.

[code]

The output is a static value around 7 (MB) but the TaskManager, aswell as the windows created by the java process tell something else.

![grafik](https://user-images.githubusercontent.com/28393606/102234495-a159f600-3ef1-11eb-8793-7a1a1efd93fb.png)

[2020-12-15 15:24] mthalman opened #46076 "Can OpenSSL native library be lazy loaded?"
I've been experimenting with [Docker Slim](https://github.com/docker-slim/docker-slim) to produce extremely slimmed down versions of .NET containers that contain only the files that are actually used by the app.  After examining the results of a basic Hello World console app, I wonder whether it'd be possible to modify the runtime to further reduce its dependencies.

Here's the list of files that

[2020-12-15 15:32] adamsitnik commented on #42029
I've written a repro app and was able to reproduce it only for Full Framework, not Core. Since it's not a security issue, I am just going to close it as `won't fix`.

<details>

[code]

[code]

</details>

[2020-12-15 15:32] #42029 closed

[2020-12-15 15:50] antonfirsov commented on #45651
I want to produce a minimal repro and add a new test to the PR. It has probably something to do with `SendTo` & `ReceiveFrom` happening from the same socket which is not exercised by our current UDP tests.

Unfortunately some new (?) infra changes seemingly broke my entire Linux workflow, I'm not sure anymore if I can finish the troubleshooting and do any meaningful progress before my vacation.

[2020-12-15 15:54] EgorBo commented on #46076
It's definitely should be done, related: https://github.com/dotnet/runtime/pull/44505#issuecomment-731307787

[2020-12-15 16:02] eiriktsarpalis commented on #46050
We would need more information about the child process. I tried emulating your repro using the following code but still couldn't see anything out of the ordinary:
[code]

cc @adamsitnik

[2020-12-15 16:10] maryamariyan commented on #45599
Seems like there is a PR for this now. @Michael3161010 you could perhaps pick another one from [here](https://github.com/dotnet/runtime/labels/up-for-grabs) and comment on the one you picked stating you picked it and would be creating a PR for it.

[2020-12-15 16:15] janvorli commented on #46050
What if JAVA always created a child process to execute the code? In such case, the working set extracted in .NET would naturally not reflect the state of the process executing the JAVA code, but just the working set of the launcher.

[2020-12-15 16:16] jhudsoncedaron commented on #45971
@janvorli Unix systems raise bus error instead of stack overflow when the stack memory can't be allocated. This makes the cases distinguishable. But if I turned off overcommit I would observe the memory being reserved immediately on `clone()` (not just the address space--this reserves space in the swap file, thus guaranteeing the demand can be met). But I'm pretty sure can't create thread in the t

[2020-12-15 16:23] ChristianKern97 commented on #46050
@janvorli is actually right. I can't believe i didn't think of that.

Apperently Java 15 is handling it differently to java 8 and 11 which is weird but now i atleast know the problem. Thank you very much for helping me out everyone here!

[2020-12-15 16:24] joperezr commented on #45107
The general recommendation is that unless you depend on a package that only works with packages.config (for example if the package needs to run an msi at installation time) or you are using an old version of VS, you should upgrade to package reference. The feature has been redesigned in order to fix precisely the type of issues you were hitting on this issue, and that is were all the new investmen

[2020-12-15 16:27] madhubalakrishnan commented on #46071
Installed OpenSSL through homebrew already as mentioned in the reference link provided.

[2020-12-15 16:34] kevingosse opened #46077 "Threadpool doesn't scale optimally at low thread count"
I ran into a weird performance issue where having one idle threadpool thread impacted significantly the throughput of the application.

The minimum repro is a simple ASP.NET Core MVC app (`dotnet new mvc`) running on a 2 cores instance (Amazon c5.large). When load-testing the `/home` endpoint with enough traffic to overload the server, I get the following results:
 - Average CPU usage: 98%
 - Requ

[2020-12-15 16:35] baal2000 commented on #45929
**TargetInvocationException**

It was noticed by our team that `artificially` switching the Asp.Net Core application from a synchronous API method causing the app to crash to an async-like pattern by simply making a synchronous method return _Task.FromResult(result)_ made the crash go away. We looked at how the application middleware handles both types (async/sync) of the reflection-based invocati

[2020-12-15 16:45] adamsitnik commented on #46050
Since there is no bug I've just sent a PR to improve the docs based on @svick feedback: https://github.com/dotnet/dotnet-api-docs/pull/5174

[2020-12-15 16:45] #46050 closed

[2020-12-15 16:56] scalablecory commented on #32074
Closing as duplicate of #42651

[2020-12-15 16:56] #32074 closed

[2020-12-15 17:09] bootzin opened #46078 "Init methods"
## Background and Motivation

Frequently I have some pretty complicated constructors in a few classes that end up getting harder to understand/maintain over the course of time. Also frequently, I've thought to myself that it would be nice to split the constructor using different methods to make it easier to understand.

The problem with this approach though is that we cannot use readonly fields/in

[2020-12-15 17:16] shortspider commented on #45929
@danmosemsft documentation aside, we are hitting this crash in production. Are or will you guys be looking into this? We have a number of dumps and can reproduce this at will using our application. We would be happy to get on a call and provide anything that you need to help get to the bottom of this.

[2020-12-15 17:22] vitek-karas commented on #43543
To support library authors we will need to have a way to run analyzers to produce the right warnings, both in the IDE (Roslyn analyzers) as well as all up (possibly even the linker in some form).
We need a mechanism to enable the analyzers in the right cases:
* We want as many libraries to be trim compatible as possible
* We don't want to start producing lot of warnings by just upgrading

Basicall

[2020-12-15 17:30] josalem opened #46079 "Switch to C implementation of EventPipe"
~We should have a CI pipeline that tests the C version of EventPipe until we have permanently turned on the feature flag.  This will help to make sure we don't have any regressions in the meantime.~

This issue will track progress towards switching over to the C implementation of EventPipe.  Currently, it is behind a feature flag.  Before we transition, we should collect the following information:

[2020-12-15 17:31] danmosemsft commented on #45929
I hear you, that's clearly the real issue. I don't have expertise in this area though: it is owned by @janvorli

[2020-12-15 17:32] Clockwork-Muse commented on #46078
The workaround for this is usually:

[code]
... which has the benefit of being "Safer" (in that you're less likely to attempt to reference an uninitialized variable).

[2020-12-15 17:33] #27742 closed

[2020-12-15 17:50] ericstj commented on #27742
The same exact message is generated by the EventLog apis: https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d5f227d30e723/src/libraries/System.Diagnostics.EventLog/src/Resources/Strings.resx#L186
https://github.com/dotnet/runtime/blob/3130ac980c97c0664eddb04411f8f765a9f908d8/src/libraries/System.Diagnostics.EventLog/src/System/Diagnostics/EventLogEntry.cs#L156-L167

IIRC a lot of M

[2020-12-15 18:01] danmosemsft commented on #39919
That is true.

[2020-12-15 18:03] benaadams commented on #46077
/cc @kouvel

[2020-12-15 18:08] josalem commented on #45059
That makes sense.  I'm curious if we observe the slowdown without VS open or on non-Windows platforms where we don't register with a system-wide tracing service.

CC @karpinsn

[2020-12-15 18:08] karelz commented on #44686
We discussed the root cause and options with Azure App Service last week. We concluded it is primarily problem in the environment and that's where it should be fix first. There is no need to have fix/workaround in .NET 5.0 servicing for it.

We also talked with AWS representative last week. We are waiting on root cause from their side to decide if such environments are more common and we should do

[2020-12-15 18:11] jkotas commented on #46079
What is the remaining work that prevents us from switching to the C flavor of eventpipe by default?

[2020-12-15 18:11] #45252 closed

[2020-12-15 18:16] jonsagara commented on #44686
Thank you for the update. Did they (Azure App Service) give any indication on when they would be able to roll out a fix?

[2020-12-15 18:16] josalem commented on #46079
As I itemize this work I'm not seeing anything that _prevents_ us from switching by default.

- [ ] Code size comparisons
- [ ] throughput comparisons
- [ ] regression analysis with external tools

@lateralusX is there anything else you can think of?  If the prevailing opinion is to "switch now and stabilize in master" I don't have any immediate objections.  We could always revert the feature flag

[2020-12-15 18:19] janvorli commented on #45929
@shortspider, @baal2000 let me read all the details provided, look at the related code and get back to you.

[2020-12-15 18:20] josalem commented on #46047
dotnet-trace exits with a message indicating that EventSource is turned off

I'm not sure this is something we'll be able to observe external to the application without runtime changes.  More likely I would expect dotnet-trace to receive 0 events and have an empty trace file.  `EventSource` being turned off isn't equivalent to `EventPipe`/`DiagnosticServer` being turned off.

We could add a specia

[2020-12-15 18:23] ericsampson commented on #44686
I really don't want to have to delay our .NET 5 rollout to App Service due to this. Would definitely appreciate hearing about a resolution plan/timeline on their end.

[2020-12-15 18:27] kouvel commented on #46077
An issue I'm aware of in CPU-limited environments is that hill climbing does not work very well in low-thread-count situations, and can be more intrusive than helpful. It can be disabled by starting the process with environment variable `COMPlus_HillClimbing_Disable=1`.  Using up a thread pool thread for long-running work in a CPU-limited environment can have more dire consequences since there are

[2020-12-15 18:35] eerhardt opened #46082 "System.Memory package doesn't have CompilerServices.Unsafe dependency in .NETCoreApp 2.1"
### Scenario

Have a class library:

[code]

[code]

And a `netcoreapp2.1` program that references the class library and calls the method in it:

[code]

[code]

### Expected results

The program should execute correctly

### Actual results

[code]

### Notes

The issue appears to be that for `netstandard2.0`, `System.Memory` declares a dependency on `System.Runtime.CompilerServices.Unsafe`, and s

[2020-12-15 18:51] janvorli commented on #45929
Btw, moving to Linux should fix this problem as there is no Watson on Unix and the problematic method is never called.

[2020-12-15 18:51] shortspider commented on #45929
Thank you very much @janvorli and @danmosemsft, if you need anything please let myself of @baal2000 know.

[2020-12-15 18:53] BruceForstall opened #46084 "Assert failure: GlobalCompletionPort != NULL"
Windows arm64

https://dev.azure.com/dnceng/public/_build/results?buildId=921370&view=ms.vss-test-web.build-test-results-tab&runId=29267068&resultId=180465&paneView=debug

[code]

[2020-12-15 18:54] BruceForstall commented on #46084
@kouvel

[2020-12-15 18:56] GrabYourPitchforks commented on #11484
Per Tanner's comment, I wonder if adding a bunch of `[Intrinsic]` methods would be the way to go here. It's not the cleanest long-term solution, but at least it could allow us to prove / disprove the value of this feature.

[2020-12-15 18:57] BruceForstall opened #46085 "Assertion failed 'isRegAvailable(reg, physRegRecord->registerType)' in 'testout1:Func_0_5_2_4():float' during 'LSRA build intervals'"
Linux arm Checked jitstressregs0x80

https://dev.azure.com/dnceng/public/_build/results?buildId=921372&view=ms.vss-test-web.build-test-results-tab&runId=29270552&paneView=debug

[code]

category:correctness
theme:register-allocator
skill-level:expert
cost:small

[2020-12-15 18:57] BruceForstall commented on #46085
@kunalspathak

[2020-12-15 18:57] #45599 closed

[2020-12-15 18:59] BruceForstall commented on #46085
Also seen for `JIT/Regression/CLR-x86-JIT/V1.2-M01/b16570/b16570/b16570.sh` in jitstress2-jitstressregs0x80:

https://dev.azure.com/dnceng/public/_build/results?buildId=921349&view=ms.vss-test-web.build-test-results-tab&runId=29270174&resultId=108316&paneView=debug

[2020-12-15 19:03] BruceForstall commented on #46085
Also seen in

https://dev.azure.com/dnceng/public/_build/results?buildId=921374&view=ms.vss-test-web.build-test-results-tab&runId=29267158&resultId=174407&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

net6.0-Linux-Release-arm-CoreCLR_checked-jitstress2_jitstressregs0x80

Microsoft.VisualBasic.Core.Tests

[2020-12-15 19:05] maryamariyan commented on #45599
Thanks for the pointer @julealgon. We should throw even if nullable annotations are enabled, since the consuming library may not have nullable enabled. Also, e.g. `Foo(null!)` could get past compiler, and then in runtime with this fix we'd receive an ArgumentNullException which is better than the previous NRE.

cc: @safern

[2020-12-15 19:05] BruceForstall opened #46086 "Assertion failed '!"Spill candidate has no assignedInterval recentRefPosition"' in 'System.Numerics.Tests.Vector2Tests:Vector2LerpTest7():this' during 'LSRA build intervals'"
https://dev.azure.com/dnceng/public/_build/results?buildId=921374&view=ms.vss-test-web.build-test-results-tab&runId=29267922&paneView=debug&resultId=173687

net6.0-Linux-Release-arm-CoreCLR_checked-jitstress2_jitstressregs0x80
net6.0-Linux-Release-arm-CoreCLR_checked-jitstress2_jitstressregs3

System.Numerics.Vectors.Tests

[code]

category:correctness
theme:register-allocator
skill-level:expert
c

[2020-12-15 19:05] BruceForstall commented on #46086
@kunalspathak

[2020-12-15 19:07] BruceForstall commented on #46086
Also

https://dev.azure.com/dnceng/public/_build/results?buildId=921368&view=ms.vss-test-web.build-test-results-tab&runId=29267344&resultId=174420&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

net6.0-Linux-Release-arm-CoreCLR_checked-jitstressregs0x80

System.Numerics.Vectors.Tests

[2020-12-15 19:08] kunalspathak commented on #46086
Is there a theme or label for register allocator related issues?

[2020-12-15 19:11] BruceForstall commented on #46086
There's a JIT-specific theme, e.g. you could add this to the end of the first comment:

category:correctness
theme:register-allocator
skill-level:expert
cost:small

see https://github.com/dotnet/runtime/issues/858

[2020-12-15 19:12] am11 commented on #46079
FWIW, high-level figures suggest overall decrease in library physical size after switching to C implementation. On Linux x64, libmscordbi.so size increased by 4 KiB, while libcoreclr.so decreased by 11.3 KiB (as of e29b83934e7ceef9905f82bd6328cbc72db2278b).
| lib | after size - before size | diff |
| --- | --- | --- |
| libcoreclr.so | 7037856 - 7049408 | -11552 |
| libdbgshim.so | 721808 - 721776

[2020-12-15 19:16] wli3 commented on #46087
To runtime team, I think we've talked about having a crossplatform API to write PE bites. What's the progress?

[2020-12-15 19:21] josalem commented on #46079
Chatted offline with Tom about this.  Let's instead aim for doing the switch and stabilizing in master as Jan mentioned.  I'll run some local tests for the bullet points above and document them here.  I'll repurpose this issue to track switching over to the C version instead of adding a CI pipeline.

[2020-12-15 19:34] rabidkitten commented on #728
To the commenters asking "why" this feature is necessary, beyond perhaps readability, perhaps what you should be asking is why features that used to work, features that people expected to be there - are no longer there? Sure, one can just deal with the now lack of functionality, but why should anyone have to? Why is it that upon every release code that used to work, tests that used to pass, UI's t

[2020-12-15 19:43] mattchidley opened #46088 "System.Text.Json does not support constructors with byref parameters."
### Description

I have a List of objects whose constructors take 'in' parameters of DateTime and TimeSpan.

[code]

When serializing a list of these objects, I am seeing the exception in the title being thrown:

![image](https://user-images.githubusercontent.com/32843265/102264291-6cdf3d80-3ee3-11eb-91c4-bf0d7f2b556b.png)

![image](https://user-images.githubusercontent.com/32843265/102264313-7701

[2020-12-15 19:44] NikolaMilosavljevic commented on #35672
[Triage] Most of the time we have monthly releases where we can update dependencies. There is a potential for a delay in case we skip a month and distro updates its dependencies very late in the release cycle. We think those scenarios are rare.

[2020-12-15 19:44] #35672 closed

[2020-12-15 19:48] jkoritzinsky commented on #44761
We'd only remove the MSBuild generator once we have equivalent development support with the Ninja generator (for example with the CMake for VS support).

If we drop support for the MSBuild scripts, it simplifies our build scripts and ensures that we don't have to bump our minimum CMake version unnecessarily just to get the generator for a new Visual Studio. With the Ninja generator, we can move to

[2020-12-15 19:51] NikolaMilosavljevic commented on #36537
[Triage] Both runtime and installer should use the new shared tooling.

[2020-12-15 19:54] gtbuchanan commented on #728
@rabidkitten Are you sure System.Text.Json had this functionality in the past? You may be thinking of Newtonsoft.Json, which is a completely different library, not managed by Microsoft, and has been around for about 15 years. As for unmet expectations, that's why this issue exists. AFAIK, Microsoft didn't port System.Text.Json from any other source so your claims of this feature being intentionall

[2020-12-15 19:56] NikolaMilosavljevic commented on #36842
@janvorli do you know if this is still needed since we produce Alpine arm32 packages? Please close if it's not needed.

[2020-12-15 19:57] NikolaMilosavljevic commented on #37091
[Triage] It was decided not to do this work.

[2020-12-15 19:57] #37091 closed

[2020-12-15 19:58] NikolaMilosavljevic commented on #37436
[Triage] @jkoritzinsky do you know if this is now possible after SharedFX refactoring and concurrent changes in subset infra?

[2020-12-15 20:00] shortspider commented on #45929
@janvorli thanks for that, great to confirm that. Unfortunately we are not going to be able to do that in a short time frame so we really are looking for a Windows fix.

[2020-12-15 20:00] NikolaMilosavljevic commented on #40331
[Triage] @adegeo can this be added to our Snap documentation?

[2020-12-15 20:01] janvorli commented on #36842
For local testing of changes, it would still be good to have. Moreover, since it works fine on all non-musl Linuxes, Windows and OSX, it is a bug that it doesn't work on musl. In fact, the CI / official scripts compensate for this issue by adding extra msbuild property. I have actually started to work on a fix in #37101.

[2020-12-15 20:01] jkoritzinsky commented on #37436
Yes this should now be possible.

[2020-12-15 20:02] NikolaMilosavljevic commented on #40562
[Triage] @jkoritzinsky was the fix included in SharedFX refactoring work?

[2020-12-15 20:04] NikolaMilosavljevic commented on #43977
[Triage] There are no immediate plans to produce MSIX packages.

[2020-12-15 20:04] #43977 closed

[2020-12-15 20:05] NikolaMilosavljevic commented on #41769
This was completed.

[2020-12-15 20:05] #41769 closed

[2020-12-15 20:05] janvorli commented on #45929
That makes sense. I wonder - what does the InitializingException mean? Does it fire on every startup of your application? Or does it fire only sometimes, in the cases when you observe the crash?

[2020-12-15 20:07] jkoritzinsky commented on #40562
It looks like this did not get fixed. We should transfer this issue to dotnet/arcade where the code now lives.

[2020-12-15 20:08] tarekgh commented on #46049
We have a documentation here https://docs.microsoft.com/en-us/dotnet/framework/resources/retrieving-resources-in-desktop-apps which explain how to access the localized resources.

And the doc for reading embedded resource inside the assembly is here https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assembly.getmanifestresourcestream?view=net-5.0. Using this APIs, usually when you have

[2020-12-15 20:09] NikolaMilosavljevic commented on #42438
Closing as this was fixed with linked PR.

[2020-12-15 20:09] #42438 closed

[2020-12-15 20:14] shortspider commented on #45929
@janvorli so we have simplified our repro a little bit and ruled out any initialization issues on our app. Once the app is up and running if you throw enough requests at it that cause a TargetInvocationException to be thrown it will crash within a few min. It doesn't matter what exception is thrown, just that it's wrapped into a TargetInvocationException.

We are trying to reproduce with a stock s

[2020-12-15 20:14] NikolaMilosavljevic commented on #43052
Fixed with linked PR.

[2020-12-15 20:14] #43052 closed

[2020-12-15 20:16] janvorli commented on #45929
Thank you for the details.

[2020-12-15 20:19] jkotas opened #46090 "Simple "build.cmd" from the repo root on Windows x64 fails with errors"
## Repro:

Run simple "build.cmd" from the repo root on Windows x64 per https://github.com/dotnet/runtime/blob/master/docs/workflow/README.md#concepts

## Expected result:

Build succeeds

## Actual result:

[code]

[2020-12-15 20:21] shortspider commented on #45929
No problem. If you need anything else from us please let me know.

[2020-12-15 20:27] asklar commented on #42029
@adamsitnik This is currently affecting MSBuild.exe - without a fix to .net framework (or getting msbuild to move to .net core which includes moving Task DLLs to .net core, which seems unlikely in the foreseeable future), this will continue to crash.

Could you please reconsider?

[2020-12-15 20:30] NikolaMilosavljevic commented on #45122
[Triage] @jkoritzinsky was this task removed with SharedFX refactoring?

[2020-12-15 20:30] jkoritzinsky commented on #45122
Yep this was removed.

[2020-12-15 20:31] #45122 closed

[2020-12-15 20:31] danmosemsft commented on #42029
@asklar the bar for taking changes to .NET Framework is very high -- it is also a lengthy and costly process. I do not think this would be successful. I recommend a fix to Yarn, or how it's configured, or a wrapper script that fixes the environment block, or perhaps continue the discussion with MSBuild (as it ships in the SDK which is easier to change - I am not offering an opinion on whether the

[2020-12-15 20:35] danmosemsft commented on #42029
It may not be a near term solution, but I am curious why it is unlikely. Do you own the code? Just pointing out that building against .NET Standard may simply "just work" and then you could use the same DLL's for both .NET Framework and .NET Core.

[2020-12-15 20:36] NikolaMilosavljevic commented on #46012
[Triage] This is not a setup issue. It seems to be related to an API used to set Firewall rules.

[2020-12-15 20:36] Anipik opened #46091 "Move remaining extensions packages to runtime repo."
Packages still being built in extensions repo

- [x]   Microsoft.Extensions.Caching.SqlServer
- [x]   Microsoft.Extensions.Caching.StackExchangeRedis
- [x]   Microsoft.Extensions.Configuration.NewtonsoftJson
- [x]   Microsoft.Extensions.Hosting.Systemd
- [x]   Microsoft.Extensions.Hosting.WindowsServices
- [x]   Microsoft.Extensions.Http.Polly

Some of these will be moved to aspnetcore and we shou

[2020-12-15 20:40] Anipik commented on #45122
so do we no longer require this task while building stable packages ?

[2020-12-15 20:43] asklar commented on #42029
@danmosemsft I don't own msbuild nor any of the Task DLLs being used, I'm just trying to get my C++ app builds to not fail when invoked from nodejs/yarn.
@rainersigwald is there any interest in moving msbuild and all of the inbox task dlls to .net core?

[2020-12-15 20:55] jkoritzinsky commented on #45122
We shouldn’t as far as I know. Where was this used for building stable packages?

[2020-12-15 21:03] AaronRobinsonMSFT commented on #42029
I actually think this may be a question/request for the C++ team to use the .NET Core version of MSBuild during their build. I will let @rainersigwald confirm that.

[2020-12-15 21:03] dagood commented on #43052
Any luck on the forward-thinking part?

[2020-12-15 21:03] AndyAyersMS commented on #46028
I'll investigate.

[2020-12-15 21:04] ericstj commented on #46091
cc @JunTaoLuo

[2020-12-15 21:09] pbalexlear opened #46093 "Failed To Create CoreCLR"
looks like the issue https://github.com/dotnet/runtime/issues/9336 has began reoccuring when deploying an aspnet:3.1* image to AKS with

readonly file system the error:

Failed to create CoreCLR, HRESULT: 0x80004005

occurs

[2020-12-15 21:11] ajcvickers commented on #46072
@JulienM28 Can you explain more what you mean by "inside an array?"

[2020-12-15 21:15] kg commented on #45916
I'm still looking into whether the codegen changed in some significant way, but more test runs have convinced me that BDN measurements for wasm (at least in interpreted mode) are noisy enough to be useless. I'm seeing enormous variances between runs even after I try to control for variables (setting my VM to 2 cores and locking it to specific physical cores, closing everything else i have running,

[2020-12-15 21:16] KirillOsenkov commented on #39233
Thanks for looking into this Eric!

First of all, adding BufferedStream indeed does completely fix it in Vatsan's standalone command-line repro. It brings the time down from 31 to two seconds for .NET 5:
![image](https://user-images.githubusercontent.com/679326/102268571-5aa7d400-3ed0-11eb-9e1c-a4315cc8c030.png)

and from 4 down to 2 seconds for net472:
![image](https://user-images.githubuserconte

[2020-12-15 21:17] StingyJack commented on #728
@gtbuchanan - the disconnect most of us have is in how System.Text.Json was and is still being presented as the successor and replacement for the newtonsoft library.

[This](https://devblogs.microsoft.com/dotnet/try-the-new-system-text-json-apis/) and related blogs/GH posts was the first place many of us heard about the STJ  and how fast it was supposed to be, what its potential future was, and ho

[2020-12-15 21:20] cijothomas commented on #45111
@Anipik When does 5.0.2 gets released to nuget?

[2020-12-15 21:23] KirillOsenkov commented on #39233
Wild thought: looking at the traces here, could it be an interop issue? https://github.com/dotnet/runtime/issues/39233#issuecomment-658879877

@jkoritzinsky

[2020-12-15 21:27] KirillOsenkov commented on #39233
Hmm now that I'm re-reading this paragraph from @Wraith2 earlier in the thread it starts making sense to me:

[2020-12-15 21:27] BruceForstall opened #46095 "superpmi: problem using arm collections"
I generated asm diffs on Windows x86 using Linux arm collection and clrjit_unix_arm_x86.dll cross-compiler JIT:

[code]

This fails to replay every MC due to what appears to be an issue with sign extension of pointer types.

The JIT calls `getMethodClass()` with, in my example, 0xe8b8303c (from some previous SPMI call).

This calls the SuperPMI function:
[code]

which calls:
[code]

It casts a `CO

[2020-12-15 21:28] #45908 closed

[2020-12-15 21:28] BruceForstall commented on #46095
cc @dotnet/jit-contrib

[2020-12-15 21:31] KirillOsenkov commented on #45706
Update: we have found a workaround for the slowdown I mentioned when reading .binlogs. Just wrapping the GZipStream with a BufferedStream solves the issue.

Check out https://github.com/vatsan-madhavan/MSBuildStructuredLogSummary for an example of how to read all the errors and warnings from the binlog.

[2020-12-15 21:38] Wraith2 commented on #39233
You could test to see if peak throughput is when the buffered reader buffer size is equal to the native buffer used, in that situation no memcpy to refill the buffer will be used only a full read in the native side.

[2020-12-15 21:42] lambdageek commented on #46090
There's something going on with paths with drive letters, maybe?
`"D://_version.h"` vs `D:\runtime\src\mono\mono.proj`

/cc @akoeplinger

[2020-12-15 21:47] sdmaclea opened #46096 "Apple Silicon `JIT_CheckedWriteBarrier` with `FEATURE_WRITEBARRIER_COPY` broken"
The following priority 1 tests are failing with Apple Silicon.  These represent a regression since the initial Apple Silicon port.  They appear to have been introduced with the managed thread pool.

[code]

The tests fail with the assertion
[code]

This occurs while the debugger is trying to mark an object in the heap which has an invalid MethodTable.
[code]

Note the heap is corrupted
[code]

If

[2020-12-15 21:47] #46044 closed

[2020-12-15 22:00] JunTaoLuo commented on #46091
Only the hosting and configuration packages remain in extensions. The others have already been moved.

[2020-12-15 22:03] Anipik commented on #45111
It will be shipped around second week of january

[2020-12-15 22:08] KirillOsenkov commented on #39233
Good idea! I tried various buffer sizes (all .NET 5) and it bottoms out at 1.3 seconds after 16K buffer size:
![image](https://user-images.githubusercontent.com/679326/102278675-0f48f200-3edf-11eb-8f6d-4a08eacf1613.png)

[2020-12-15 22:10] Anipik commented on #45122
https://github.com/dotnet/runtime/blob/master/src/installer/tests/PrepareTestAssets/PrepareTestAssets.proj#L3

here

[2020-12-15 22:15] ViktorHofer commented on #45122
Looks like a left-over that should be removed.

[2020-12-15 22:17] jkoritzinsky commented on #45122
Yes, that leftover should be removed. We never use that task now.

[2020-12-15 22:19] karelz commented on #44686
We do not have ETA and we were explicitly asked not to discuss any dates by the team.
I can assure you they treat is as high priority and are doing their best to unblock customers (based in our discussion, and follow up communications I see).

[2020-12-15 22:22] janvorli commented on #46096
@sdmaclea it would be great to know if the corruption of the heap happened during GC on in-between GCs. The simple way to figure that out is to run the test with `COMPlus_HeapVerify=1` under the debugger. When it fails, you should be able to see whether it was pre GC or post GC verification pass that failed.

[2020-12-15 22:30] Wraith2 commented on #39233
My assumption when I investigated originally was that the native implementation had been optimized for throughput and that the small reads for headers followed by mostly large full buffer reads was the intended use case. As always optimizing for all use cases would be problematic.

On the other hand since the small reads degraded so badly and it was accepted it doesn't seem that there's any partic

[2020-12-15 22:31] Ditriksss opened #46098 ".net core socket timeout in docker / linux"
Hello,
I've encountered with Socket problem on linux / docket. I've created entry at stackoverflow with my problem but after discuss with other developers, my issue seems to be more complicated. It is link where  I described my problem. ->https://stackoverflow.com/questions/65284251/net-core-socket-timeout-in-docker-linux

Problem occur only on linux / docker. There is no any issue / timeout on wi

[2020-12-15 22:39] radical opened #46100 "[tests] System.Text.Json.Tests segfault, for `Libraries Test Run checked coreclr Linux_musl x64 Debug`"
Segfault seen in a test run: https://dev.azure.com/dnceng/public/_build/results?buildId=922206&view=ms.vss-test-web.build-test-results-tab&runId=29288458&paneView=debug&resultId=173384 on https://github.com/dotnet/runtime/pull/46048 .

[code]

[2020-12-15 22:42] benaadams commented on #45059
Note this is from just having VS open; running an app in VS also attaches 2 more listeners to the EventSource; so 3 listeners in total from VS
[code]
[code]

No; hence my inconsistent results on "fixing" the issue, it was more to do with if I had VS open when profiling or using `Console.WriteLine` to see if it was triggered by profiler.

Is only triggered by default from the `EtwEventProvider.Even

[2020-12-15 22:50] sdmaclea commented on #46096
With `COMPlus_HeapVerify=1`

[code]

`WKS::gc_heap::verify_heap(int)` fails on thread 1 during an alloc related GC.

[code]
The managed stack looks like (clrstack fails on thread 1, excerpt from dumpstack)
[code]

Thread 8 looks the same
[code]

[2020-12-15 22:55] ericstj commented on #39233
This looks like it might be the culprit.  This is called with every ReadByte.   It does appear to be shifting the state buffer in zlib.
https://github.com/dotnet/runtime/blob/99f3f55697b09e4a03a17e0a62f18d174cd4c285/src/libraries/Native/Windows/System.IO.Compression.Native/zlib-intel/inflate.h#L187

[2020-12-15 22:57] janvorli commented on #46096
The question is whether it failed before or after the GC pass. It can be figured out by disassembling the `WKS::gc_heap::garbage_collect` method at frame 4 to see which of the two calls to verify_heap was being called (or just what was the value passed to the verify_heap - TRUE or FALSE, but it seems that it would not be easy given the release build and no symbols)

[2020-12-15 22:58] sdmaclea commented on #46096
I am running debug build.

[2020-12-15 22:59] jeffhandley commented on #44912
Platform TFMs will result in automatic application of the `[assembly:SupportedOSPlatform]` attribute for the targeted platform. But we'll need to enable checking of our new platforms in the build, and we'll also need to apply attributes for any specific APIs that have platform dependencies.

[2020-12-15 23:00] janvorli commented on #46096
Ok, so it seems you will need to manually load the libcoreclr.dylib.dwarf to get symbols in the bt.

[2020-12-15 23:05] sdmaclea commented on #46096
I don't think debug builds are stripped.

I only see one heap verify call in the disassembly.  From what I can tell it is pre GC.  See `disas -f` excerpt below

[code]

[2020-12-15 23:05] trylek commented on #45706
Thanks Kirill for the update - I assume this is basically an extra argument for switching over to binlogs wherever possible.

[2020-12-15 23:06] eduherminio opened #46103 "Add analyzer for StringBuilder(char)"
Context:

* Adding a `StringBuilder(char)` constructor was originally proposed in #20848 due to the existing `StringBuilder(int capacity)` constructor accepting a `char` as an argument (i.e.: `StringBuilder('a')`), but the proposal was finally rejected.

* Since this scenario will generally denote a bug, the possibility of creating an analyzer for it was brought up during [the review of the propos

[2020-12-15 23:19] gtbuchanan commented on #728
@StingyJack I understand your frustration. To be fair, successors do not generally have 100% feature parity right off the bat (hence why they're successors and not just a new version) and the official docs page looks like it makes a decent effort to list the differences. The fact of the matter is Newtonsoft.Json is [still under active development](https://github.com/JamesNK/Newtonsoft.Json/commits

[2020-12-15 23:22] josalem commented on #46079
Just did a size comparison on my mac at commit 7ae298e4f21a1e7015d0eb085ae7cbae2e9db31c

| lib | after size - before size | diff |
| --- | --- | --- |
| libcoreclr.dylib | 7033296 - 7042176 | -8880 |
| libdbgshim.dylib | 657360 - 657040 | +320 |
| libmscordbi.dylib | 1966096 - 1965744 | +352 |

Seems to be meeting expectations that it would reduce code size.  My assumption is that the changes to d

[2020-12-15 23:25] jaredpar opened #46104 "Improve low level struct performance"
This is a "User Story" to track the proposed improvements to low level struct performance improvements.

C# Language Features
- [ ] [Allow `ref` fields in `ref struct` types](https://github.com/dotnet/csharplang/issues/1147)
- [ ] [Allow safe fixed sized buffers of any type](https://github.com/dotnet/csharplang/issues/1314)

The feature proposal for both C# features is captured [here](https://gith

[2020-12-15 23:35] benaadams commented on #46104
What about...?

`Span<object> span = stackalloc object[5];`

Which is sorta
[code]

[2020-12-15 23:37] jaredpar commented on #46104
The `stackalloc` primitive doesn't support reference types.

[2020-12-15 23:58] ericsampson commented on #44686
Thanks @karelz , I understand.
Is there any way to know when this work has been done? Some sort of Azure case ID or something that I could relay to Support when asking them for an update in X weeks.
Cheers

[2020-12-16 00:01] josalem commented on #46079
One hiccup already.

I started my attempts at collecting end-to-end throughput measurements, but I'm getting an AV in a Release macos-x64 build with the C implementation that doesn't happen with the C++ implementation.

[code]

I'll try switching to a checked build and see if I can't pin down what's happening.

For reference, the test I'm running writes events across N threads (N == number of core

[2020-12-16 00:06] akoeplinger commented on #46090
Hm this is weird since it suggests `CMAKE_CURRENT_BINARY_DIR` is set to `D:/` but it should be set to the build directory in artifacts/obj.

I'll need to create a D: partition on my Windows VM to try it out tomorrow.

@jkotas how are you launching the build.cmd? from cmd.exe/PS/Windows Terminal and are you launching it with the working directory in D:\runtime ?

[2020-12-16 00:17] jkotas commented on #46090
I am launching the build from "Visual Studio 2019 Developer Command Prompt", with working directory set to `d:\runtime`

[2020-12-16 00:19] jkotas commented on #46090
In case that it is relevant:
[code]

[2020-12-16 00:31] benaadams commented on #46104
`localloc` returning a `byte*` pointer is obv problematic for a reference type; however if it was limited to a `Span<ref type>` receiver and a fixed size rather than variable size then t could be translated to something closer to the safe fixed sized buffer proposal? e.g.
[code]
Not sure what the GC would make of referring only to an internal element of a stack struct (if it was sliced)

[2020-12-16 00:37] josalem commented on #46079
The above AV doesn't happen under a checked build of the C impl, but a checked build triggers an assert during process shutdown if the app has a tracing session open.

[code]

This is a valid scenario that works under the C++ implementation.

[2020-12-16 00:44] trylek opened #46106 "NullRef in System.Text.Json.Serialization.Tests.NumberHandlingTests.UnsupportedFormats (Linux_musl x64 Debug)"
OS: **Linux_musl**
Architecture: **x64**
Configuration: **checked** CoreCLR, **debug** test build
Example run: https://dev.azure.com/dnceng/public/_build/results?buildId=922427
(my PR run for a completely unrelated change fixing a few bugs in R2RDump)

<pre>
  Discovering: System.Text.Json.Tests (method display = ClassAndMethod, method display options = None)
  Discovered:  System.Text.Json.Tests

[2020-12-16 00:57] jkotas commented on #46090
The problem repros with cmake version 3.19.1 too

[2020-12-16 01:06] jkotas commented on #46104
I think https://github.com/dotnet/runtime/issues/25423 is the proposal we should follow to improve stackalloc.

[2020-12-16 01:15] Anipik commented on #2353
failed again here https://github.com/dotnet/runtime/pull/45564

[2020-12-16 01:22] GrabYourPitchforks commented on #46103
I wonder if this can be turned into a generalized heuristic. Some possible examples:

If the parameter is named _capacity_, _count_, or similar; and if the input to the parameter is a char which has been auto-widened to an int; trigger the analyzer.

If there's are two method overloads `MyMethod(..., string, ...)` and `MyMethod(..., int, ...)`, and if the call site matched the second overload beca

[2020-12-16 01:23] jkotas commented on #46106
This is very likely duplicate of https://github.com/dotnet/runtime/issues/46100

[2020-12-16 01:23] #46106 closed

[2020-12-16 01:28] GrabYourPitchforks commented on #46088
Looks like _System.Text.Json_ doesn't understand byrefs as ctor arguments? You can work around this for now by removing the `in` keyword from your ctor parameters.

[2020-12-16 01:31] benaadams commented on #25423
Also stackalloc ref types to `Span<T>` receivers https://github.com/dotnet/runtime/issues/46104#issuecomment-745633974 and https://github.com/dotnet/runtime/issues/38677 (the array rather than the objects themselves); rather than having to use ArrayPool for small object Span/Arrays that are then passed to another method (issue with for `params Span<T>` also?)

[2020-12-16 01:32] chucklu commented on #45107
@joperezr  Thanks, I will switch to packages reference.

[2020-12-16 01:32] #45107 closed

[2020-12-16 01:35] chucklu commented on #45107
@joperezr  I have filed another new issue about the library required another not required library. https://github.com/dotnet/sdk/issues/14985

[2020-12-16 02:03] jkotas commented on #46100
Crash during background GC:
[code]

[2020-12-16 02:06] adegeo commented on #40331
Sure. I have a PR that is moving snap to its own article and I can add a note there.

[2020-12-16 02:12] v-haren opened #46109 "Test failure: readytorun/determinism/crossgen2determinism/crossgen2determinism.sh"
failed in job: [runtime-coreclr outerloop 20201215.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=922305&view=ms.vss-test-web.build-test-results-tab&runId=29291702&resultId=110429&paneView=debug)

CoreCLR Linux x64 Checked no_tiered_compilation @ Ubuntu.1804.Amd64.Open

Error message
[code]

[2020-12-16 02:16] v-haren opened #46110 "Test failure: Loader/binding/tracing/BinderTracingTest.Basic/BinderTracingTest.Basic.sh"
failed in job: [runtime-coreclr outerloop 20201215.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=922305&view=ms.vss-test-web.build-test-results-tab&runId=29291530&resultId=110377&paneView=debug)

CoreCLR OSX x64 Checked no_tiered_compilation @ OSX.1013.Amd64.Open

Error message
[code]

[2020-12-16 02:29] AndyAyersMS commented on #46028
This looks like a latent bug in flow graph maintenance.

We have
[code]
and we do

Optimizing a jump to an unconditional jump (BB48 -> BB50 -> BB98)
fgRemoveBlock BB50

Removing unreachable BB50
[code]
then we do

Optimizing a jump to an unconditional jump (BB52 -> BB99 -> BB55)
[code]
then we do

Compacting blocks BB54 and BB55:
Second block has multiple incoming edges

*This is likely where the

[2020-12-16 02:29] sywhang commented on #46079
@josalem can we file separate issues for each problem we encounter? I’m guessing this is only the beginning of issues we’ll start discovering.

[2020-12-16 02:33] jkotas commented on #46100
[code]

[2020-12-16 02:43] v-haren opened #46111 "Test failure: System.ArgumentOutOfRangeException : Specified argument was out of the range of valid values. (Parameter 'index')"
failed in job: [runtime-libraries-coreclr outerloop 20201215.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=921603&view=ms.vss-test-web.build-test-results-tab&runId=29274760&resultId=101017&paneView=debug)

failed tests:
System.Collections.Tests.SortedDictionary_Generic_Tests_EquatableBackwardsOrder_int.ICollection_Generic_Add_AfterRemovingAllItems(count: 75)
System.Collections.Tes

[2020-12-16 03:17] kouvel commented on #46084
`ThreadpoolMgr::Initialization` needs to be volatile, will fix

[2020-12-16 03:26] AndyAyersMS commented on #46028
The bug is actually much earlier. We have
[code]
and we renumber, getting
[code]
Now preds are out of BBnum order, this means later calls to `fgAddRefPred` with bbNums lower than 98 will introduce dups as the
search will bail out early.

And this is exactly what happens later on when we merge BB54 and BB55. As part of the merge we add a ref to BB52 to BB54. This should ideally bump the `flDupCount

[2020-12-16 03:33] AndyAyersMS commented on #46028
I'm going to close this as a dup and schedule #8720 for fixing in .NET 6.

[2020-12-16 03:33] #46028 closed

[2020-12-16 03:47] danmosemsft commented on #46111
@v-haren  please add only one "area-" label to an issue, thanks

[2020-12-16 04:03] zachsaw opened #46117 "STJ Serializer - bad serialization results"
Unit test to reproduce the problem:

[code]

* Which version of .NET is the code running on?
.net 5.0

* What OS and version, and what distro if applicable?
mac OS Catalina and Amazon Linux 2

* What is the architecture (x64, x86, ARM, ARM64)?
x64

* Do you know whether it is specific to that configuration?
It is not specific to this config

* Do you know of any workarounds?
Yes - use Newtonsoft S

[2020-12-16 04:51] GrabYourPitchforks commented on #46117
Possible duplicate of https://github.com/dotnet/runtime/issues/29937.

Can you clarify the _exact_ output you expect? _System.Text.Json_ and _Newtonsoft.Json_ are different libraries with different default policies, so it's reasonable that they'd produce different outputs.

[2020-12-16 05:12] danmosemsft commented on #46100
@jkotas is it possible to say where this should go - JIT, JSON, ..?

[2020-12-16 05:14] danmosemsft commented on #36947
@mrybson would you mind opening a new issue for that, with repro code? That would be less confusing.

[2020-12-16 05:15] danmosemsft commented on #43544
@stephentoub when he's back can perhaps help clarify whether this is necessary for dev inner loop.

[2020-12-16 05:16] ToMyAF commented on #45985
![image](https://user-images.githubusercontent.com/36257915/102308104-e25d1380-3fa0-11eb-9b0f-b3abdb602ef1.png)

[2020-12-16 05:17] zachsaw commented on #46117
There are missing fields in the output - i.e. `Bar1Name` and `Bar2Name`. Newtonsoft faithfully serialises the objects correctly.

[2020-12-16 05:23] microhobby commented on #44745
@hoyosjs I try to debug with the framework shared but I'm having the same issue:

[code]

Return from `dotnet --info`

[code]

[2020-12-16 05:24] acaly opened #46118 "System.Reflection setting static fields of pointer types silently fails"
### Description

[code]

The above code cannot set value for Field2. The SetValue call returns without the field being changed. Note that this only happens for static fields. Instance fields can be properly set.

### Configuration

Windows 10 Professional 19041
Visual Studio 16.8.2
.NET Core 5
Compiled with AnyCPU, x86-preferred off. Other options give same result.

### Regression

Same behavior w

[2020-12-16 05:25] #45985 closed

[2020-12-16 05:26] hoyosjs commented on #44745
@microhobby let me test that particular build.

[2020-12-16 05:28] ToMyAF opened #46139 "The type initializer for 'Crypto' threw an exception."
These` is my code.I don't know what the problem is.Please

		private RSA GetMerchantPrivateKeyByFile(string pfxfile,string pwd)
		{
			X509Certificate2 x509Certificate = null;
			try
			{
				x509Certificate = new X509Certificate2(pfxfile, pwd, X509KeyStorageFlags.MachineKeySet);
				DateTime certDate = Convert.ToDateTime(x509Certificate.GetExpirationDateString());
				if (certDate < DateTime.Now)

[2020-12-16 05:40] microhobby commented on #44745
@hoyosjs ok, a quick look on the commits and the https://github.com/dotnet/runtime/commit/131a30a3262f22059ce9cc4b08b7099231e83d8c is there before the 988fa3b75f 🤷‍♂️

[2020-12-16 06:33] jkotas commented on #46100
[code]

[2020-12-16 06:50] #46084 closed

[2020-12-16 07:04] hoyosjs commented on #44745
hmm @microhobby I just tried attaching to my repro with the provided sample, and I am able to attach.

[2020-12-16 07:05] #44745 closed

[2020-12-16 07:11] v-haren opened #46119 "hundreds failures failed with Assert.True() Failure"
hundreds failures failed in job: [runtime 20201215.47 ](https://dev.azure.com/dnceng/public/_build/results?buildId=922264&view=ms.vss-test-web.build-test-results-tab&runId=29289212&resultId=116409&paneView=debug)
[runtime-coreclr libraries-jitstress 20201214.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=921471&view=ms.vss-test-web.build-test-results-tab&runId=29270550&resultId=137

[2020-12-16 07:40] jkotas commented on #46100
We need more dumps to see the pattern

[2020-12-16 07:51] zachsaw commented on #29937
It doesn't cost as much performance as you think it does, even with a binary serialiser that doesn't have the overhead of writing out UTF8 text like my [Binaron.Serializer](https://github.com/zachsaw/Binaron.Serializer) which supports polymorphism.

[2020-12-16 08:00] tmds commented on #45755
@ViktorHofer have you had a chance to look at the binlog?

[2020-12-16 08:02] tmds commented on #45755
@antonfirsov fyi, I also have issues building .NET. I don't know if it is similar to yours.

[2020-12-16 08:05] Evangelink commented on #30381
@john-h-k +1 on the `OfType` call. I was using this syntax and I have recently hit a compiler warning saying I cannot change the nullability although it seems to actually work properly.

[2020-12-16 08:23] kouvel commented on #45716
Looks like the arm issue is the same

[2020-12-16 08:52] JulienM28 commented on #46072
Sorry my english isn't good.

I have a string array and I want to validate that each string of the array matches the Stringlength requirement.

We made a custom validator for that :

[code]

It makes the job, but if the original StringLength attribute could validate stringlength of arrays, i t could be nice.

I hope it's more understandable this time.

Thanks.

[2020-12-16 09:02] kiminuo opened #46122 "Question: Is NetworkStream.DataAvailable used correctly in the docs example?"
Hi .NET team,

https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.networkstream.dataavailable?view=net-5.0#examples shows an example where while loop is defined as follows `while(myNetworkStream.DataAvailable);`

Is that actually correct? What if the data sender pauses for a while and sends more data then?

What I'm after is that it is not the same "can more data be read now" and "no m

[2020-12-16 09:02] MichalStrehovsky commented on #7643
Bumping this to .NET 6 since this means that Mono CoreLib builds carry junk CoreCLR resource strings. #2151 made Mono just use the same RESX file as CoreCLR instead of doing a proper split.

[2020-12-16 09:11] vitek-karas commented on #45763
This is still not fully fixed for me - on latest master it fails with:
[code]

[2020-12-16 09:33] euantorano opened #46123 "HttpListenerContext::AcceptWebSocketAsync should have a nullable annotation for the subProtocol"
## Background and Motivation

The method [`AcceptWebSocketAsync`](https://github.com/dotnet/runtime/blob/86224fd11c943ebe111c602358f8b8d3c3fb7494/src/libraries/System.Net.HttpListener/src/System/Net/HttpListenerContext.cs#L36) on the `HttpListenerContext` class currently takes a `string subProtocol`. When using `#nullable enable`, the compiler warns about passing null to this parameter, but doing

[2020-12-16 09:36] ViktorHofer commented on #45755
Unfortunately the binlog doesn't open:

![image](https://user-images.githubusercontent.com/7412651/102330933-740d5680-3f8a-11eb-99c4-2c89716815ef.png)

It's also surprisingly big. Does the error repro when you only build the the libs subset?

[2020-12-16 09:42] akoeplinger opened #46124 "Malformed PDB file for a few runtime tests on Mono AOT after ilasm bump"
After the ilasm bump in https://github.com/dotnet/runtime/pull/45387 a few runtime tests abort on Mono when AOTing with the following message:

[code]

Affected tests:
[code]

@jkotas would you mind checking whether these PDBs are really malformed or if it is a mono issue?

[2020-12-16 09:46] mrybson opened #46125 "System.DirectoryServices.Protocols - SendRequest fails in Linux"
### Description
I am working with System.DirectoryServices.Protocols to read data from AD. After the connection is bound, there seems to be a problem with sending the SearchRequest with SendRequest method.

[code]

changed to
[code]

then it works.
I was able to use the TimeLimit property when running on Windows.

### Configuration

NET Core 3.1
Linux
This issue does not occur on Windows

[2020-12-16 09:48] GSPP commented on #45798
I can tell that you are German 😄

[2020-12-16 10:17] sandreenko opened #46126 "crossgen2: getHFAType fails on arm64 and passes on x64 targetting arm64"
https://github.com/dotnet/runtime/blob/78efb9250245617ff8532371ae4b8375a741f5ea/src/coreclr/tools/Common/JitInterface/CorInfoImpl.cs#L2540  fails on arm64 and passes on x64 targetting arm64.

To repro get this change:
https://github.com/sandreenko/runtime/commit/880a563af8171609257c80045538d98401aa8877

[code]

and run crossgen2 test on x64 -> passes, on x64 targeting arm64 -> passes, on arm64 ->

[2020-12-16 10:17] sandreenko commented on #46126
PTAL @mangod9 @jkotas

[2020-12-16 10:19] bjornbouetsmith opened #46127 "Implement SqlDateTime2"
### Description
My own and other people's performance tests show that that SqlTypes can give better performance than using the built in .NET types. https://github.com/dotnet/SqlClient/issues/846

In sql client specifically, calling GetDateTime vs GetSqlDateTime and similar "pairs" of methods.

The performance gain from using SqlTypes and their GetSqlWhatever method comes from not having to call Is

[2020-12-16 10:23] tmds commented on #45755
Yes, it also reproduces.

http://people.redhat.com/~tdeseyn/runtime_45755/msbuild3.binlog is for running `./build.sh --subset libs -rc Release  /p:NoPgoOptimize=true /bl`.

[2020-12-16 10:26] vitek-karas opened #46128 "Add new hostfxr API to report installed runtimes and SDKs - equivalent of --info"
## Goal

Currently the `hostfxr` has the ability to enumerate all accessible runtimes and SDKs given a certain environment. This functionality is only exposed via the `dotnet --info` command which provides humanly readable output. This is useful for humans, but it's hard to consume for machines - if there's a need to get this information from code, parsing this text is problematic at best.

## Des

[2020-12-16 10:30] ViktorHofer commented on #45755
![image](https://user-images.githubusercontent.com/7412651/102336580-a53d5500-3f91-11eb-84de-a1dff808ad86.png)

locally with the latest version of structured log viewer and a OutOfMemoryException when opening the binlog with https://live.msbuildlog.com/.

I will see if I can get logs out of the binlog without using binlogviewer.

[2020-12-16 10:35] ViktorHofer commented on #45755
Unfortunately no success with https://github.com/vatsan-madhavan/MSBuildStructuredLogSummary either:

[code]

[2020-12-16 10:36] En3Tho opened #46130 "[Task/ValueTask] Perf regression on Net 5 vs NetCore 3.1"
While I was observing benchmarks of Ply (library focused on fast task support for F#) I noticed regression in Net 5 vs NetCore 3.1:

F# part of benchmark + runner code : https://github.com/crowded/ply/blob/master/Benchmarks/Benchmarks.fs
C# part of benchmark: https://github.com/crowded/ply/blob/master/Benchmarks/CS/Benchmarks.cs

I modified project with BDN v. 12.1 nuget, edited global json to all

[2020-12-16 10:37] ViktorHofer commented on #45755
cc @KirillOsenkov

@tmds until Kirill responds, can you please send me the full console output when building?

[2020-12-16 10:42] lateralusX commented on #46079
@josalem

Possible to get the app you are running hitting the AV so I can try to get local repro on Windows? Is the AV also happening during shutdown of the app or was that just the assert?

Would be good to have a little more assembler of ep_buffer_manager_write_event from the crash in order to try to pin point where in source that could be, but one thing comes to mind is a write that is targetin

[2020-12-16 10:48] lateralusX commented on #46079
Also there are a couple of changes in C++ library not yet ported into C library, not sure it will affect this, but just pointing that out as well. Will try to get to that by end of week (porting the missing PR's over to C library).

[2020-12-16 11:01] adamsitnik commented on #22007
It looks like `System.Diagnostics.Process.Tests` project is not targeting .NET Framework anymore:

https://github.com/dotnet/runtime/blob/78efb9250245617ff8532371ae4b8375a741f5ea/src/libraries/System.Diagnostics.Process/tests/System.Diagnostics.Process.Tests.csproj#L6

I know that we have a lot of MSBuild magic that could somewhere overwrite it, but even then it would fail to build this project be

[2020-12-16 11:01] #22007 closed

[2020-12-16 11:03] stephentoub commented on #39919
On 64-bit it won't even save that.

[2020-12-16 11:10] ivanpovazan commented on #39436
Based on https://github.com/dotnet/runtime/pull/45979 I believe this isn't an issue anymore.
Now ILAsm generates only portable PDBs and there are no more issues with -pdbfmt command line argument.

@jkotas I think you can close this issue.

[2020-12-16 11:10] adamjones1 commented on #45344
Ah ok, using 5.0.0 unfortunately the TypeLoadException is still present. My full csproj is:
[code]

[2020-12-16 11:12] #39436 closed

[2020-12-16 11:14] ViktorHofer commented on #45755
This is super weird as gzip reports the file to be valid:

[code]

Also the file is a valid gzip as it starts with the magic bytes:
[code]

Could this actually be a bug in dotnet/runtime reading Unix generated deflated gzips?

[2020-12-16 11:15] ViktorHofer commented on #45755
cc @jeffhandley @carlossanlop @ericstj (area owners)

[2020-12-16 11:17] En3Tho commented on #46130
Update with Net 5.0.1 results. There are 2 outliers, so i've made more runs. But general picture is the same: Net 5 is slower most of the time.

un 1

|                  Method |        Job |       Runtime |     Mean |    Error |   StdDev | Ratio | RatioSD |
|------------------------ |----------- |-------------- |---------:|---------:|---------:|------:|--------:|
|                     Ply | Job-W

[2020-12-16 11:23] kevingosse commented on #46077
`COMPlus_HillClimbing_Disable=1` makes it worse, which is somewhat consistent with your analysis.

With the idle thread and hill climbing disabled, CPU is at 50% and the server processes 84,000 requests per 10 second (down from 99,000 requests with hill climbing). Without the idle thread, CPU is at 98% and the server processes 105,000 requests per 10 seconds (down from 110,000 requests with hill c

[2020-12-16 11:25] i3arnon commented on #39919
It depends on the type being used, doesn't it?
I did some naive tests with benchmark-net compared with `ConcurrentHashSet` and I can see some difference when `Tkey` is `int`, but not with reference types (on 64-bit) or any other sized types (`long`, `short`, etc.)
I assume that's because of how `Node`'s members are being aligned. It consists of a reference to the next node (8 bytes), 2 `int`s (the

[2020-12-16 11:31] ViktorHofer commented on #45755
I just saw a PR where restore failed as well with a 5.0.101 SDK on OSX and fortunately there is a binlog to look at.

Apparently NuGet fails to restore but doesn't fail the build:

![image](https://user-images.githubusercontent.com/7412651/102343265-9b6c1f80-3f9a-11eb-8d05-cba4997f3920.png)

cc @nkolev92 @jeffkl (as we are using RestoreTaskEx). No projects were restored but the build still continu

[2020-12-16 11:32] jkotas commented on #46124
Yes, these PDBs are corrupted.

I have used the Pdb2Xml tool from https://github.com/dotnet/symreader-converter to verify it.

For example, the dump for vt2 test above includes:
[code]
However, the `Main` method is not at lines 282-284 in the sources. The actual method at lines 282-284 in the sources is test::.ctor.

[2020-12-16 11:39] stephentoub commented on #39919
Yes. The node stores the key,  the value,  a next node reference,  and an int hash code, so whether the value increases the size of the object depends on whether the key and value need any padding. If the value is byte, then if the key is any reference type, for example,  the byte value will just be in what is otherwise padding space from the hashcode.

[2020-12-16 11:44] quixoticaxis opened #46132 "ActivatorUtilities.CreateInstance depends on the order of constructors' definitions"
### Description
#### Current behavior
The effect of calling `ActivatorUtilities.CreateInstance` methods (any of the overloads) depends on the order in which the constructors of the type being created are defined. The instance of the class is created if constructors are defined in one order, but the creation throws if constructors are defined in reversed order (see the code below).
#### Expected be

[2020-12-16 11:48] adamsitnik commented on #46130
cc @stephentoub

[2020-12-16 11:49] jkotas commented on #46124
@ivanpovazan Are you interested in this bug?

[2020-12-16 11:53] adamsitnik commented on #44034
@ygoe ping

[2020-12-16 12:00] adamsitnik commented on #30266
@JennyLawrance is there any chance that you could share the repro?

[2020-12-16 12:45] ASolomatin commented on #45344
Still can reproduce with small code modifications:
[code]

[2020-12-16 12:53] janvorli commented on #45344
@ASolomatin what version of runtime have you reproed it with? The latest fix is not in any released .NET 5 versions, it will be part of 5.0.2.

[2020-12-16 13:08] ASolomatin commented on #45344
Sorry. )  I thought, it's already released because the original issue stops to reproduce on 5.0.1

[2020-12-16 13:13] janvorli commented on #45344
@ASolomatin I'll verify it with the latest version to make sure this is not yet another problem.

[2020-12-16 13:19] eiriktsarpalis commented on #46111
Test started failing yesterday and seems to impact Linux x64 hosts. I couldn't reproduce the failure on my local Ubuntu device so will try to repro using a draft PR.

[2020-12-16 13:36] EgorBo commented on #45206
@briansull feel free to close it if you think there is nothing we can do here (it looks so)

[2020-12-16 13:45] lateralusX commented on #46079
Have captured something under the debugger that is probably related. Seems to be problems with ref count on EventPipeThread meaning that we apparently could end up with a released thread during session disable (when we delete thread session state). Thread ref counting and EventPipeThreadHolder ties into thread local storage and relies on implementation in the shim. Now I have something to investig

[2020-12-16 13:50] JaroslavKnotek-Datamole opened #46956 ".net 5 binary can't read itself 'because it is being used by another process'"
# .net 5 binary can't read itself 'because it is being used by another process'

Hello, I have the same code build for .net framework 4.5 and for .net 5. The code is as follows

[code]

The the code is properly published. The .netframework version successfully copies itself. E.g at start, I have a binary `app.exe` and after the program finishes, I get `app.exe.tmp`.

The same approach does not wor

[2020-12-16 13:51] lateralusX commented on #46079
And if I get passed disabling session, next time I start a new session and writing an event I get a callstack very similar to the above, hitting the same issue, thread in tls has been incorrectly freed at some previous point in time. If I don't disable the session, all 8 threads continue to write events into session as expected.

[2020-12-16 14:00] superjulius commented on #44686
We face the same issue after upgrading one of our apps hosted on Azure Web App to .Net 5.
The Azure Web App is connecting to internal systems in our private data center using Azure Hybrid Connections.

All calls are now failing with the same exception.

[code]

We have confirmed that rolling back to .net 3.1 or using the [workaround](https://github.com/dotnet/runtime/issues/44686#issuecomment-7337

[2020-12-16 14:05] ViktorHofer commented on #45359
Closing as dup of https://github.com/dotnet/runtime/issues/41593

[2020-12-16 14:05] #45359 closed

[2020-12-16 14:11] adamsitnik commented on #40703
@eiriktsarpalis did you mean notepad?

https://github.com/dotnet/runtime/blob/021e77650dde27619397bdb985db545896523fe6/src/libraries/System.Diagnostics.Process/tests/ProcessTests.cs#L1598-L1600

[2020-12-16 14:12] stepkillah commented on #44686
for those who still use the workaround above and want to collect diagnostic data with app insights - it works with the below snippet, but it uses reflection so not the best option at all, but it works for now
[code]

[2020-12-16 14:14] eiriktsarpalis commented on #40703
No, the PR referenced in #40703 relied on wordpad behaviour to produce a non-responsive process.

[2020-12-16 14:17] adamsitnik commented on #40703
@eiriktsarpalis thanks!

FWIW the commit that removed the test: https://github.com/dotnet/runtime/pull/38385/commits/c4d3ed52ed8c3763ab69dbc53376eca77e02abd4

[2020-12-16 14:32] ericsampson commented on #44686
oh, it affects apps using Hybrid Connections? That means a lot more of ours would be affected, we have more apps using that than vNet Integration. Good to know thanks

[2020-12-16 14:37] microhobby commented on #44745
@hoyosjs I added the snippet on the `.csproj` and yes it still runs, with the same behavior

[2020-12-16 14:41] lateralusX commented on #46079
Think I pinpointed the issue, it is a race between TLS Thread holder doing free on destructor when a thread terminates (in this case the streaming thread) and a call disabling a session, iterating all threads in thread list. The disable thread will get a copy of all threads (done while holding lock and addref each thread) in list and then iterate them, but since thread calling release from destruc

[2020-12-16 14:57] marek-safar opened #46141 "CultureData initialization brings a lot of dependencies"
CultureData [initialization](https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Unix.cs#L16) brings a lot of dependencies for members which are rarely used. Few examples are [_SpecificCulture](https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.Pri

[2020-12-16 15:10] dynamicons commented on #45542
Hmm... ok, Thank you, Vitek. Fair enough. Another hint to try.
my best suggestion then is to keep providing 2-3 variants, each, in the long run:

(Win32 or Win64)
(compact or all-in-one)
(with or without .NET 5 installer)

for each of these, there should be a fine implementation. what we definitely won't need - from the developer side - is to be able to select Win32, and then in Debug settings aga

[2020-12-16 15:24] lateralusX commented on #46079
So we probably need to split the concept of having a reference to an EventPipeThread object, handling lifetime of object instances and the add/remove from the global thread list. Since a thread can die at any time, triggering the TLS destructor it already means we can have EventPipeThread objects out living the physical thread. So instead of removing the thread from the list as part of hitting a 0

[2020-12-16 15:30] janvorli commented on #46096
Ah, I've forgotten that the post-GC call is in a different function. That means that the corruption was caused by runtime or test code. Can you please dump memory bytes after the end of the last valid object through the beginning of the invalid object to see if the data there would ring a bell?
It would also be interesting to run the test with disabled using of the crossgen generated code in S.P.C

[2020-12-16 15:33] janvorli commented on #45344
I can confirm that your test above passes with runtime from the master branch, which means that it should pass with the 5.0.2 once it is out.

[2020-12-16 15:34] tmds commented on #45755
@ViktorHofer http://people.redhat.com/~tdeseyn/runtime_45755/build.log

[2020-12-16 15:34] ViktorHofer commented on #1823
Apparently someone added a subscription to point to ourselves, i.e. https://github.com/dotnet/runtime/pull/46137. Verified via DARC:

[code]

Curious why it was enabled now and isn't set to Batchable: True?

cc @dotnet/runtime-infrastructure

[2020-12-16 15:38] ViktorHofer commented on #45755
Without sounding too serious, @tmds can you please send me a mail offline so that we can discuss this in private? Thanks

[2020-12-16 15:39] rseanhall commented on #46128
I haven't looked at the API itself yet, but here are my thoughts at the high level. For our use case of detecting which runtimes are installed (https://github.com/wixtoolset/issues/issues/6257), we have to run out-of-proc anyway to be able to detect runtimes for architectures other than our own. Having said that, this API would be much nicer than having to call into `dotnet` because then we don't

[2020-12-16 15:50] karelz commented on #44686
What is the difference between Azure Hybrid Connections and VPN in Azure App Service?

[2020-12-16 15:57] #27615 closed

[2020-12-16 16:06] lambdageek commented on #46090
@akoeplinger Trying something https://github.com/dotnet/runtime/pull/46145 - my guess is that cmake didn't like a mix of `\` and `/` in a single path for some reason.

[2020-12-16 16:07] Escoto opened #46146 "Parallel.ForEach ends working in a single thread"
I had an issue with Parallel.ForEach - Might be how I was using it, but if that's the case it would be really nice if it could be improved so that one don't run into this issue so easily.

Problem - I have a list of a few hundreds of tasks to run in parallel, each task can take from a few seconds up to a day and MaxDegreeOfParallelism has to be configured. While they do start in parallel, It happe

[2020-12-16 16:10] akoeplinger commented on #46090
That can't hurt but I just tried reproducing it on my Windows VM and it works fine there...

[2020-12-16 16:13] antonfirsov commented on #46123
I think this is an overlook we should fix. Note that the repro code in #45934 also uses `context.AcceptWebSocketAsync(null!)` to overcome this problem.

[2020-12-16 16:29] microhobby commented on #44745
@hoyosjs it's working!

![image](https://user-images.githubusercontent.com/2633321/102376639-9ad78700-3fa2-11eb-8f6c-eb8a5d78ca93.png)

I put the `--no-self-contained` on my build command and now it's using the shared framework.
Thanks!

[2020-12-16 16:38] stefanloerwald opened #46147 "net5.0 console apps on linux don't show OutOfMemoryExceptions before being OOM-killed"
### Description

I have a very frustrating situation where my app deployed in kubernetes (docker image based on `mcr.microsoft.com/dotnet/runtime:5.0-buster-slim`) is killed due to the memory constraint on it. I would like to have that limit at 100MB, but apparently even running `GC.Collect()` around the most offending method (3rd-party to me. roslyn, actually) doesn't help: I will eventually run

[2020-12-16 16:41] TanvirArjel commented on #31094
@ahsonkhan Thank you. I know this but the question is when your default in the base class library is being altered in almost every case then surely your default is wrong and it needs to be amended as a breaking change in the next major version.

[2020-12-16 16:44] roji commented on #898
This looks like it should no longer be relevant, as there won't be further versions of .NET Standard and libraries are expected to simply target .NET.

[2020-12-16 16:45] benaadams commented on #46147
Aside: would setting Heap Limit help https://docs.microsoft.com/en-us/dotnet/core/run-time-config/garbage-collector#heap-limit

[2020-12-16 16:47] NikolaMilosavljevic commented on #43052
We are tracking that task with https://github.com/dotnet/runtime/issues/43419

[2020-12-16 16:47] stefanloerwald commented on #46147
Potentially, @benaadams. I'll have to try that out. It's not exactly elegant though, as I now have to pass the memory constraint that I impose on kubernetes pod level to the container too (e.g. as env variable). That smells like bad design to me.

[2020-12-16 16:56] MSACATS commented on #23937
I just wanted to chime in as well and say what a loss this is.  We used System.Diagnostics.Trace a lot, and it is pretty much the remaining issue in our Framework to Core migration.

With System.Diagnostics.Trace

- internal components can expose trace output

- activity is correlated.  for example, we can start an "operation", and that operation will flow through to other components that are trac

[2020-12-16 16:58] a11cf0 opened #46148 "Random exceptions when calling UWP APIs on .NET 5"
### Description
I'm trying to call Windows 10 UWP OCR APIs from a .NET 5 Windows Forms application. The code which i'm using was perfectly working on .NET Core 3.1 but on .NET 5 it's extremely unstable. For some reason the code throws either ObjectDisposedException or sometimes InvalidCastException. this usually happens on the call to GetSoftwareBitmapAsync() but sometimes right on the first await

[2020-12-16 17:00] jkotas commented on #46147
I do not expect that this would help. The GC reads the cgroup settings that should reflect the K8 settings, and uses it to compute the heap limit.

My guess is that the problem is with HeapHardLimitPercent . The GC assumes that it can be use 75% of the container limit for managed heap. It leaves 25% of 100MB in your case for the code and other other static overhead. Roslyn is a ton of code, so thi

[2020-12-16 17:09] jkotas commented on #46148
Transferred to https://github.com/microsoft/CsWinRT/issues/640

[2020-12-16 17:09] #46148 closed

[2020-12-16 17:12] jkoritzinsky commented on #45763
cc: @VSadov since he most recently changed how we build System.IO.Compression.Native

[2020-12-16 17:14] Anipik commented on #1823
I added this one because we were using some old dependencies here. we have setup up dependency flow but it required a manual trigger. we could update the frequency to weekly though.

[2020-12-16 17:16] GrabYourPitchforks commented on #45759
IMO we shouldn't blindly accept both values unless the OS's crypto team tells us to do so. A less invasive change would be to switch on the KSP and select the appropriate mask based on the KSP. But will wait to see what the OS team recommends.

[2020-12-16 17:17] jkotas commented on #46090
I have tried this change. It does not fix the problem.

[2020-12-16 17:20] eiriktsarpalis commented on #20619
I think it's a reasonable optimization, it should be added to these methods as well.

[2020-12-16 17:35] fanyang-mono opened #46149 "Replace MethodOnTypeBuilderInst (Mono) with corresponding CoreCLR ones"
In the long term we should try to unify `MethodBuilderInstantiation` (CoreCLR) with `MethodOnTypeBuilderInst` (Mono) - with the caveat that actually `MethodOnTypeBuilderInst` is doing double-duty as `MethodBuilderInstantiation` and also `MethodOnTypeBuilderInstantiation` (CoreCLR). And the second caveat that the native side in mono in `sre.c` will need to be updated to look for the new class names

[2020-12-16 17:40] kouvel commented on #46077
Sounds like hill climbing is not compensating for the blocked thread (at least soon enough). I'll try to get a repro. It should be possible and perhaps better to have the starvation heuristic track starvation on a per-thread basis rather than for the whole pool of worker threads.

[2020-12-16 17:42] Clockwork-Muse commented on #46146
... at least some of the implementations work-steal, so we'd have to see how you're using it.  If "partitioner" is referring to one of the overloads that takes an actual `Partitioner` object, then that does appear to be the expected behavior (static partitions).

Not really.  Tasks will be _submitted_ in the listed order, but there's no guarantee that they're actually processed (or, perhaps more r

[2020-12-16 17:46] #18978 closed

[2020-12-16 17:57] jkotas commented on #46090
I have traced it down to the problems with current directory when invoking cmake. Here is the build command: `set __repoRoot="D:\runtime\" && call "D:\runtime\eng\native\init-compiler-and-cmake.cmd" x64 &&  cmake -DCMAKE_INSTALL_PREFIX ... D:\runtime\src\mono\`

The current directory when this command is starting is `D:\runtime\artifacts\obj\mono\windows.x64.Debug\`, but
`init-compiler-and-cmake.c

[2020-12-16 17:58] ajcvickers commented on #46072
@JulienM28 Thanks for the suggestion, but the value here seems low so it's not something we plan to implement.

[2020-12-16 17:58] #46072 closed

[2020-12-16 18:08] BruceForstall commented on #46119
[code]

[2020-12-16 18:10] sandreenko commented on #46126
@mangod9 no, it does not

[2020-12-16 18:18] Rast1234 opened #46152 "Wrong timezone on Linux"
### Description

I am writing unit tests for DateTime serialization. Sometimes DateTime.ToString gives me wrong TZ offset:

[code]
Same results with `DateTimeKind.Local`. I tracked it down to `TimeZoneInfo.GetAdjustmentRuleForTime` which selects `AdjustmentRule` with offset of 57 minutes, which is subtracted from offset later.

Other observations:
* Works on Windows 10
* Fails in `dotnet/sdk:lates

[2020-12-16 18:20] #46095 closed

[2020-12-16 18:20] David-Engel commented on #46127
This would be in System.Data.

@roji - Do you know any of the history about why some data types like datetime2, introduced in SQL Server 2008, did not get their own [SqlType](https://docs.microsoft.com/en-us/dotnet/api/system.data.sqltypes?view=dotnet-plat-ext-5.0) while they did get their own [DbType](https://docs.microsoft.com/en-us/dotnet/api/system.data.dbtype?view=net-5.0) and [SqlDbType](htt

[2020-12-16 18:26] rseanhall commented on #46128
The API looks good. How much of an implementation detail is [`fx_ver`](https://github.com/dotnet/runtime/blob/03e4f5e36410203a7ebab55ac177c166406ea1fe/src/installer/corehost/cli/fxr/fx_ver.h#L10)? It would be useful if the API could also provide a data structure with the version pre-parsed, especially whether the version is considered a prerelease version.

[2020-12-16 18:30] kwontae commented on #35508
Same issue from azure function. I've made sure my function is indeed integrated with a vnet that the API i'm trying to connect lives in.

[2020-12-16 18:31] DrewScoggins opened #46153 "[Perf] Changes at 12/9/2020 1:20:52 PM"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Baseline | [76a443d3954f072c7e9778844115026e564ce5a1](https://github.com/dotnet/runtime/commit/76a443d3954f072c7e9778844115026e564ce5a1)
Compare | [d32f44679de07a74e894c853076233f12353c754](https://github.com/dotnet/runtime/commit/d32f44679de07a74e894c853076233f12353c754)

### Regressions in System.Drawing.Tests.Perf_Color

Benchmar

[2020-12-16 18:31] vitek-karas commented on #46128
Well - for one we would need a C version of the struct. But it doesn't sound too complicated.

[2020-12-16 18:32] DrewScoggins commented on #46153
This pull request https://github.com/dotnet/runtime/pull/42785 is almost certainly the issue.

[2020-12-16 18:35] wfurt commented on #35508
Is it consistent or not @kwontae ? If you use VNET and 5.0 check #44686.

[2020-12-16 18:38] steveisok opened #46155 "Mono Functional Tests Follow Up"
This is a follow up issue to address @safern's comments in:

https://github.com/dotnet/runtime/pull/45768#issuecomment-746758470

https://github.com/dotnet/runtime/blob/93e767bd18975bf33d64177f6849c12d7505d206/eng/testing/tests.targets#L51-L52

[2020-12-16 18:43] radical opened #46156 "Avoid special casing work items in `sendtohelixhelp.proj`"
[code]

Instead of this, we could try generating `RunTests.sh` which is done by https://github.com/dotnet/runtime/blob/93e767bd18975bf33d64177f6849c12d7505d206/eng/testing/tests.targets#L51-L52 .

Based on @safern's comment https://github.com/dotnet/runtime/pull/45768#issuecomment-746758470
[code]

[2020-12-16 18:43] radical commented on #46156
/cc @akoeplinger @MaximLipnin

[2020-12-16 18:45] wfurt commented on #46122
I don't think the example is trying to read all data e.g. until the end @kiminuo.
The "as long as data is available" shows how to read data without being blocked in synchronous read.
If you can, I recommend to use ReadAsync() (perhaps with CancellationToken). With that, all that logic is handled behind the scenes.

[2020-12-16 18:45] safern commented on #46155
Ha it seems like @radical and you reacted at the same time: https://github.com/dotnet/runtime/issues/46156#issuecomment-746806707

[2020-12-16 18:48] steveisok commented on #46155
His is better :-)

[2020-12-16 18:48] #46155 closed

[2020-12-16 18:49] premun commented on #46156
@radical please note that `RunTest.sh` is not used for Helix but only in local development.

For iOS and Android, we use the Helix SDK to take care of running XHarness.

For iOS, we have something like `RunTest.sh` (but static):
https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Helix/Sdk/tools/xharness-runner/ios-helix-job-payload.sh

For Android, we call XHarness directly in the H

[2020-12-16 18:50] josalem commented on #46079
Yes.  Let's use this issue as the higher-level tracking issue and break individual issues out as the come up.

Yes.  Let me open separate issues for each thing and add details there.  I'll copy your notes over to the individual issues.  The assert and the AV are two different issues since the AV is happening almost immediately and the assert is happening during app shutdown after sending events fo

[2020-12-16 18:52] josalem opened #46158 "AV in Release build of C implementation of EventPipe"
I started my attempts at collecting end-to-end throughput measurements, but I'm getting an AV in a Release macos-x64 build with the C implementation that doesn't happen with the C++ implementation.

[code]

I'll try switching to a checked build and see if I can't pin down what's happening.

For reference, the test I'm running writes events across N threads (N == number of cores on machine, 4 in my

[2020-12-16 18:54] josalem opened #46159 "Assert on process shutdown while tracing C implementation of EventPipe"
A checked build of the C implementation of EventPipe triggers an assert during process shutdown if the app has a tracing session open.

[code]

This is a valid scenario that works under the C++ implementation.

Belongs to #46079

CC - @lateralusX

[2020-12-16 18:55] KirillOsenkov commented on #45755
I haven't seen this binlog corruption before, it fails immediately when trying to read the first buffer from the stream:
![image](https://user-images.githubusercontent.com/679326/102393265-f7c84280-3f8c-11eb-9212-9f18f026a8c5.png)

I don't have the expertise to dig deeper unfortunately. This is where the binlog creation logic lives in MSBuild:
https://source.dot.net/#Microsoft.Build/Logging/Binary

[2020-12-16 18:56] kwontae commented on #35508
It is consistent and we are using azure vnet

[2020-12-16 19:05] ericsampson commented on #44686
This is the best short overview of its architecture that I know of. Hybrid Connections use the Azure Relay service. Someone from the Azure Messaging team could help with anything on the Azure server side.
https://azure.microsoft.com/en-us/resources/videos/azure-service-bus-relay-overview/

[2020-12-16 19:07] nkolev92 commented on #45755
Looking at https://github.com/dotnet/arcade/blob/7d638bb082f374f7c8ddbada79f757662df4a246/src/Microsoft.DotNet.Build.Tasks.Packaging/src/GetLastStablePackage.cs#L139, the task doesn't log an error.

It's possible that restore is skipped, rather than failed. We just don't have enough logging right now to be able to confirm that.

Have you been able to narrow it down to a repro?
We can add more logg

[2020-12-16 19:07] y-yamshchikov opened #46160 "Version Bubble implementation flaw: some methods are forced to rejit"
The runtime does not load precompiled R2R code for methods like `System.Collections.Concurrent.ConcurrentDictionary<int32,System.__Canon>.TryAddInternal` in case where assembly with entrypoint does not contain in it's manifest metadata a direct mentioning of `System.Collections.Concurrent` assembly. In case where the method is used from assembly with entrypoint things work fine.

I have explored t

[2020-12-16 19:08] wfurt commented on #46098
Did you try to packet capture @Ditriksss ? The `SendAsync` will not complete if TCP shrinks windows to 0 (Wireshark should flag that) and when you fill up kernel socket buffers.

[2020-12-16 19:11] ericsampson commented on #35508
@clement911 if it's helpful, from what I remember the new ASE V3 (preview) doesn't use SNAT, and also doesn't cost an arm and a leg like the old ASE architecture.

[2020-12-16 19:12] jkotas commented on #46160
cc @dotnet/crossgen-contrib

[2020-12-16 19:12] kwontae commented on #35508
@wfurt  we are also using .netcore 3.0 due to some legacy dependencies

[2020-12-16 19:16] josalem commented on #46158
Here's the full dissassembly for the AV:

[code]

[2020-12-16 19:16] kwontae commented on #35508
[code]

The code is simply calling the API. We are just trying to test if the vnet integration is indeed working correctly.
[code]

This is currently running in azure function with .netcore 3.0

[2020-12-16 19:17] kwontae commented on #35508
I've also checked the snat port exhaustion through the analysis tool and it is showing green.

[2020-12-16 19:17] wfurt commented on #35508
I would suggest to try Ping or simple direct Socket.Connect() to verify the environment reachability @kwontae. If you can, you can always try packet capture.

[2020-12-16 19:18] mangod9 commented on #46126
Thanks, assigning to @AntonLapounov who will look at it in Jan.

[2020-12-16 19:20] ilushka85 commented on #44897
@zwarich any updates on fixes for rosetta on the issues presented here?

[2020-12-16 19:21] safern commented on #46156
@premun yeah that's correct. However for iOS we should try to also binplace the sample app into `TestArchiveTestsRoot` so that we don't have to duplicate logic in `sendtohelixhelp.proj`: https://github.com/dotnet/runtime/blob/03e4f5e36410203a7ebab55ac177c166406ea1fe/src/libraries/sendtohelixhelp.proj#L192

[2020-12-16 19:21] VSadov commented on #45763
The library was renamed on windows. It used to be `clrcompression` and now it is `System.IO.Compression.Native` - same as on Unix. That was basically the change.
I wonder if this could be related to the rename somehow?

[2020-12-16 19:23] sandreenko opened #46161 "renable/fix /Loader/classloader/generics/Variance/Methods"
https://github.com/dotnet/runtime/blob/03e4f5e36410203a7ebab55ac177c166406ea1fe/src/tests/issues.targets#L83 references https://github.com/dotnet/runtime/issues/3893 that was closed a long time ago (and looks unrelated to these tests).

The tests are failing now on windows x64:
[code]
they should get an updated issue or be fixed and reenabled.

[2020-12-16 19:24] ViktorHofer commented on #45755
Unfortunately not yet. I'm trying to reproduce the error via https://github.com/dotnet/runtime/pull/46134 but haven't hit the error yet... That PR includes generating the static graph restore evaluation binlog that would tell us more.

I think we should definitely do that. It's not clear to me if the static graph restore nuget console app failed, succeeded but actually swallowed an exception and d

[2020-12-16 19:27] kwontae commented on #35508
@wfurt  is the packet capture built-in azure portal functionality?

[2020-12-16 19:30] sandreenko commented on #46161
Are these AssemblyLoader tests? PTAL @agocke @vitek-karas

[2020-12-16 19:36] agocke commented on #46161
It looks like the issue number for these was incorrectly changed in https://github.com/dotnet/runtime/pull/32236. The tag for #84 looked correct. Also, sounds like these are VM tests, not loader.

[2020-12-16 19:37] nkolev92 commented on #45755
Not every project type supports restore, so when run on a solution, NuGet might skip some projects.

Recently we investigated an issue where `restore was skipped` https://github.com/NuGet/Home/issues/10363.
We don't have as much logging in static graph scenarios (because so much of the msbuild logic was re-written).

I'm making this guess because we have not had issues with restore swallowing exce

[2020-12-16 19:37] lateralusX commented on #46158
Think I pinpointed the issue, it is a race between TLS Thread holder doing free on destructor when a thread terminates (in this case the streaming thread) and a call disabling a session, iterating all threads in thread list. The disable thread will get a copy of all threads (done while holding lock and addref each thread) in list and then iterate them, but since thread calling release from destruc

[2020-12-16 19:38] lateralusX commented on #46159
Believe this is a different way that the issue manifests under checked build but the underlying issue is most likely the same as for https://github.com/dotnet/runtime/issues/46158.

[2020-12-16 19:39] sandreenko commented on #46161
Ah, so the issue number was already from the new repo when we replaced old coreClr issue number with the new Runtime issues.
I will update the number, thanks @agocke

[2020-12-16 19:39] vitek-karas commented on #46087
This is currently by design - there's a master issue for this somewhere (can't find it right now). Basically the root cause is that SDK uses Windows API to update native resources for windows executables. These APIs are obviously not available on Linux and instead of failing it will just "skip" that step. This applies to all native resources, so version information, manifests, icons, ...

[2020-12-16 19:39] lateralusX commented on #46079
Added findings into the two issues, working on a fix for C library, but the race is also in C++ code, so once we have a verified fix we could discuss if it should be ported or if we ignore since we are moving over to the C library anyways.

[2020-12-16 19:40] Escoto commented on #46146
@Clockwork-Muse Thanks for your answer.

You are right i can't tell the order in which they complete, but this way i can tell the order they start an thus assign priorities. Since I know the entire procedure takes about 48 hrs, having them in priority order i know i can trigger other tasks after 4-7 hrs instead of waiting a complete random amount of time.

The test cases don't take more than a few

[2020-12-16 19:41] ViktorHofer commented on #45755
Wouldn't static graph restore skipping projects indicate a deterministic behavior? What I was seeing in CI was a one-off failure. The issue that @tmds reported originally in this issue is a timeout and probably a different cause (you responded offline).

[2020-12-16 19:41] kiminuo commented on #46122
Thank you. Just to clarify and confirm my understanding: `NetworkStream.DataAvailable` will return `false` when there are no more data but the server can send still send some data a moment later, right?

[2020-12-16 19:46] rseanhall commented on #46087
https://github.com/dotnet/runtime/issues/3828?

[2020-12-16 19:47] josalem commented on #46158
This AV isn't happening on session end or process end.  This is happening in the middle of a session, typically immediately upon session start.  The assert in #46159 happens on process end while a session is open.  The streaming thread shouldn't have a an `EventPipeThread` on it since it shouldn't be writing events to the buffers.  An `EventPipeThread` gets created for a thread on the first attemp

[2020-12-16 19:48] Marusyk commented on #45149
Should it be something like in other places: `CheckDisposed();`?

Please assign it to me, I'll try to prepare a PR for this

[2020-12-16 19:52] nkolev92 commented on #45755
One would hope :)

We can add some extra logs in static graph restore, but I'm not sure how quickly that propagates.

[2020-12-16 19:58] agocke commented on #46087
That looks right to me

[2020-12-16 20:07] KirillOsenkov commented on #45755
@nkolev92 would you mind filing a bug to add better logging to RestoreTaskEx?

[2020-12-16 20:10] tarekgh commented on #46141
@marek-safar could you point at _bNeutral data you are referring to?

I understand the benefit of that but I sated to worry the maintenance of the code started to be very complicated. so we need to weigh that against the benefit.

[2020-12-16 20:18] nkolev92 commented on #45755
I added a comment to expand https://github.com/NuGet/Home/issues/10363.

[2020-12-16 20:20] lateralusX commented on #46158
There is a scenario where we could end up in unbalanced ref count when writing events into the stream as well, when that happens you will have the same effect as the race during shutdown.

[2020-12-16 20:25] #25823 closed

[2020-12-16 20:26] kpreisser opened #46165 "ANSI escape sequences (Console) don't work correctly in Linux Terminals starting with .NET 5.0"
### Description

Hi, we discovered an issue with .NET 5.0.1 (probably also 5.0.0), where [virtual terminal/ANSI escape sequences](https://docs.microsoft.com/en-us/windows/console/console-virtual-terminal-sequences) that are written to the Console don't seem to work correctly in Linux terminal emulators like the Gnome Terminal (at least in Ubuntu 18.04 and 20.04 x64) and LXTerminal (Raspbian). This

[2020-12-16 20:26] wfurt commented on #46122
correct. It means some data already arrived and are ready for immediate consumption.
False simple means there are no data at the moment.

[2020-12-16 20:26] #46122 closed

[2020-12-16 20:28] danmosemsft commented on #45149
I think it would be good to get comment from one of the folks above, and they are out for holidays. But I have assigned it meantime.

[2020-12-16 20:29] wfurt commented on #35508
I don't know. I rarely touch cloud. Since your issue is consistent and likely different than what @@clement911 reported, I would suggest to open separate issue with details if you keep having problems.

[2020-12-16 20:48] lateralusX commented on #46158
The C++ code removes the thread from global thread list when ref count hits 0, so it has the same potentially race condition between the TLS destructor and copy of threads into the EventPipeSession::SuspendWriteEvent. If a thread terminates and the destruct gets executed it will do EventPipeThread::Release that first does a decrement of the ref count and if it hits 0 it will take lock and remove t

[2020-12-16 20:55] lateralusX commented on #46158
The other issue I found that can hit any time during runtime, when ep_buffer_manager_write_all_buffers_to_file_v4 hitting scenario where we do AddOrReplace in C++ code in ep_rt_thread_sequence_number_map. The CoreClr shim implementation of that method ended up as a Add and since the code didn't refcount thread on add into the hash map, you will end up in unbalanced ref count on thread. I believe t

[2020-12-16 21:09] drdamour commented on #35508
i had this problem with a function app, was inconsistent, but i noticed that it would come and go as my app jumped host instances.  Opened a support case and MS remoted into some of the bad instances and couldn't tcpping my request target server.  They had me redeploy to a different region (so i for SURE woudl get a different webspace) and all the problems went away.  unclear if the problem was on

[2020-12-16 21:11] Thefrank commented on #14537
**TL;DR: If this spoils the oat milk in your refrigerator or lets the chickens out of your coop at night don't blame me**

Ok here is the [dotnet sdk for 3.1.11 and 5.0.0 release builds](https://mega.nz/folder/tIpEFSSB#IHx1OjAREnt_Y56PlsKs-g)

These will likely be buggy and slow. You must be really desperate or brave to be using these

Disclaimers:

- **Not for production use** only tested and bui

[2020-12-16 21:13] Wraith2 commented on #46127
Or, it could be put into Micsoft.Data.SqlClient if that's the only place that would use it. As far as i know the reason that the other SqlTypes are still in runtime is that DataTable uses them so if it were put into runtime would that also include adding these types to DataTable DataAdapter etc? @roji and I discussed this somewhat at https://github.com/dotnet/SqlClient/issues/846 and I thought tha

[2020-12-16 21:17] NikolaMilosavljevic commented on #35206
This issue requires a fix in Arcade: https://github.com/dotnet/arcade/issues/6698

[2020-12-16 21:19] josteink commented on #14537
@Thefrank As one of the guys who put in a lot of the initial work getting this port started before new family-duties took away my ability to contribute further, I must say I'm positively thrilled beyond what I words can express to see this effort finally getting this close to the finishing line. Thanks you for this!

I also realize this has been a team effort with key people contributing everywher

[2020-12-16 21:33] Clockwork-Muse commented on #46146
... It appears that work is "chunked" - that a group is handed out as a subset of the range, and not recalculated, which would show the behavior you're seeing.  `Parallel.Invoke` directly uses the index of the array, but it's not completely clear why this wasn't done for `ForEach` (for `List` and `Array`, at least).  It does suggest that `ForEach` is primarily intended for situations where the wor

[2020-12-16 21:34] jeremyVignelles commented on #30083
I think that @Timovzl is really spot on here : https://github.com/dotnet/runtime/issues/30083#issuecomment-534078476

Unless I'm missing something, there is a big prerequisite that is currently missing: `Utf8JsonReader` is a forward-only reader, and the `$type` or whatever discrimination property must be the first to be read, otherwise you'll be missing some properties that you can't catch later,

[2020-12-16 21:58] lateralusX commented on #46158
Fixes seems to have positive impact on Windows, won't be able to repro issues running 8 threads writing events into a dotnet-trace session. Will collect changes into PR tomorrow morning.

[2020-12-16 21:59] lateralusX commented on #46079
Fixes seems to have positive impact on Windows, won't be able to repro issues running 8 threads writing events into a dotnet-trace session using EventPipe C library. Will collect changes into PR tomorrow morning.

[2020-12-16 22:04] marek-safar commented on #46141
https://github.com/dotnet/runtime/blob/496bc88f0517990c8430ba8d8d63946a6f9e716c/src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.cs#L1237

I think the changes could actually lead to clearer/simple code

[2020-12-16 22:06] sdmaclea opened #46168 "StructStackParams fails on Apple Silicon"
Testing ~ 8978239d

[code]
[code]

[2020-12-16 22:11] sandreenko commented on #46168
will be fixed by https://github.com/dotnet/runtime/pull/46034

[2020-12-16 22:16] lateralusX commented on #46159
Run session for 60 seconds and then shutdown runtime, no assert on shutdown after fixes.

[2020-12-16 22:47] zwarich commented on #44897
@ilushka85 All of the issues presented here from .NET 5 should be fixed in the macOS 11.2 Beta (build 20D5029f) released today. This includes the `exceptionState.__trapno` issue manifesting as GC hangs. Please let me know if any of you find this to not be the case, or you find any new issues.

The issues blocking signal-based activations (which I understand is a likely future direction for .NET on

[2020-12-16 22:53] vsfeedback opened #46169 "Shift Types for Bitarray"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1220576/shift-types-for-bitarray.html)._

---
<p>Hello, please add more shift types for binary collection of Bitarray like circular shift and many other shift types that are available in internet.</p> <p>Thanks.</p>

---
### Original Comments

#### Touraj Ostovari on 10/14/202

[2020-12-16 22:56] naricc opened #46170 "[Mono][Wasm] Performance Regression 78 % on CreateInstanceGeneric"
This looks like it may have been caused by this change: https://github.com/dotnet/runtime/commit/804d730d2fd8a57dbe9c0a3118800b1288993ecd

### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Baseline | [88680a4c00bdb9b00a9b83691536d53cfbe840fa](https://github.com/dotnet/runtime/commit/88680a4c00bdb9b00a9b83691536d53cfbe840fa)
Compare | [be0efd358453d2dbea7821caa328352c25012c2a](https

[2020-12-16 23:00] GrabYourPitchforks commented on #30083
This is already possible today. It's a struct with all relevant state data present as instance fields, so you can copy the struct by value. Example:

[code]

[2020-12-16 23:18] lewing commented on #46170
@kg any thoughts

[2020-12-16 23:27] #45716 closed

[2020-12-16 23:34] srxqds opened #46171 "when can you begin to support alc implemented on monovm"
as we know, the mono runtime has not full supported alc.
is there any progress or schedule about the work?

[2020-12-16 23:59] tarekgh commented on #46141
@marek-safar You are not pointing at _bNeutral at all. would be good to fix the description of the issue.

[2020-12-17 00:00] #10928 closed

[2020-12-17 00:00] #45857 closed

[2020-12-17 00:17] jkotas commented on #46170
#46173 has fix for this regression. It reverts the code flow on Mono to what it was before 804d730.

[2020-12-17 00:20] lambdageek commented on #46170
Our implementation of the  `this` check https://github.com/dotnet/runtime/blob/10381a2cdc33860f0dc649b24cbb703d23b9ea33/src/mono/netcore/System.Private.CoreLib/src/System/RuntimeType.Mono.cs#L1684-L1697 does quite a lot of expensive-ish things.  I think `ContainsGenericParameters` does a lot of reflection.

[2020-12-17 00:23] Jozkee commented on #45635
cc @krwq @wfurt

[2020-12-17 00:32] kg commented on #46170
That whole method seems like it should only run once.

[2020-12-17 00:40] #46161 closed

[2020-12-17 00:44] sandreenko opened #46174 "[Mono][WASM][Test] JIT/SIMD/Vector3Interop_r/Vector3Interop_r.sh failures"
The test is failing with:
[code]
on `Mono Browser wasm Release @ Ubuntu.1804.Amd64.Open` and `Mono Linux arm64 Release`, see an example:
https://dev.azure.com/dnceng/public/_build/results?buildId=923829&view=ms.vss-test-web.build-test-results-tab&runId=29324602&paneView=debug

in the past the test was disabled so we did not see it.

[2020-12-17 00:48] sandreenko commented on #46174
Hi, @maryamariyan, could you please check if msftbot subscribed the arena owners for this issue?
The message looks like it did not: `Tagging subscribers to this area: empty`

[2020-12-17 00:52] CoffeeFlux commented on #46171
You will hear if there's an update. Repeatedly mentioning it and opening new issues will not change that timeline, sorry. Closing in favor of https://github.com/dotnet/runtime/issues/34072

[2020-12-17 00:52] #46171 closed

[2020-12-17 00:52] maryamariyan commented on #46174
@danmosemsft is the msftbot missing area `area-Codegen-JIT-mono`?

[2020-12-17 01:02] sandreenko opened #46175 "baseservices/exceptions/stackoverflow/stackoverflowtester/stackoverflowtester fails on Linux"
It was disabled so we have not seen it, [the log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-46162-merge-220e22b5c2f647bd89/PayloadGroup0/console.4fb06fd4.log?sv=2019-07-07&se=2021-01-05T22%3A20%3A00Z&sr=c&sp=rl&sig=3vqwTvEU9Q%2FP9Lt588%2BL2lM56KL3ro0ftDCBA2V2qVk%3D) is:
[code]
note that on some archs it fails with a timeout.

[AzDo example.](https://dev.azure.

[2020-12-17 01:02] sandreenko commented on #46175
PTAL @echesakovMSFT  I believe you were working with this test.

[2020-12-17 01:26] echesakovMSFT commented on #46175
No, @janvorli created this test

[2020-12-17 01:38] sandreenko commented on #46174
PTAL @vargaz

[2020-12-17 01:42] #45302 closed

[2020-12-17 01:45] lewing commented on #46174
the wasm failure is a test issue not a jit issue

[code]

[2020-12-17 01:48] jkoritzinsky opened #46177 "Reverse P/Invokes should notify profiler when transitioning between unmanaged and managed"
Today, the runtime notifies the profiler when an unmanaged<->managed transition happens in the following scenarios:

- P/Invokes on all platforms
- COM->CLR calls on Windows
- CLR->COM calls on Windows
- Reverse P/Invokes on Windows x86 only

We should either notify the profiler about transitions for all Reverse P/Invokes or none (probably all).

cc: @noahfalk @AaronRobinsonMSFT

[2020-12-17 01:51] danmosemsft commented on #46174
Someone left leaving no subscribers to these areas

area-Codegen-JIT-mono | @SamMonoRT | @vargaz |  
-- | -- | -- | --
area-CodeGen-LLVM-mono | @SamMonoRT | @imhameed |  
area-Codegen-meta-mono | @SamMonoRT | @vargaz

I'll remove the empty notificatoins.

[2020-12-17 01:52] AaronRobinsonMSFT commented on #46177
/cc @tommcdon @davmason

[2020-12-17 02:02] davmason commented on #46177
Thanks for reporting this, if you have any other context could we capture that? Do you know why we only notify on x86 for reverse pinvokes? Is it due to IL stubs not being on x86?

[2020-12-17 02:35] v-haren commented on #46109
failed again in job: [runtime-coreclr crossgen2 20201215.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=922950&view=ms.vss-test-web.build-test-results-tab&runId=29303402&resultId=102269&paneView=debug)

failed tests:
readytorun/determinism/crossgen2determinism/crossgen2determinism.sh
readytorun/tests/mainv1/mainv1.sh
readytorun/tests/mainv2/mainv2.sh

R2R-CG2 Linux x64 Checked no_t

[2020-12-17 02:35] jkoritzinsky commented on #46177
On x86 we use a dynamically emitted assembly stub that wraps the IL stub. That assembly stub is what emits the profiler notifications. On other platforms we just use the IL stubs, so nothing is calling the profiler.

[2020-12-17 02:36] david9 opened #46955 "Getting additional fractional digits in sum operation of two double numbers"
# Getting additional fractional digits in sum operation of two double numbers

Earlier, we were running with .net core 2.2 and we upgraded to .net core 3.1 for next release of our product.

[code]
![image](https://user-images.githubusercontent.com/2461554/102434606-1be25d00-403b-11eb-8c5b-3959ecbdf3df.png)

After upgrading to .net core 3.1, we are observing that addition of two double numbers is g

[2020-12-17 02:37] Anipik opened #46178 "Automate the servicing process of packages"
Currently the developers have to add the versioning changes on the top of their change for the packages.
These changes include incrementing the package version, assembly version, package index changes & finally enabling to build the packages.
The goal here is to automate all the steps. The developer should be able to set single property and rest should be automated.

- [ ] package version
- [ ] As

[2020-12-17 02:37] jkotas commented on #46177
I assume that you mean `UnmanagedCallersOnly` methods. Is that right?

Marshaled delegates that are sometimes also called reverse PInvoke should be fine.

[2020-12-17 03:05] v-haren opened #46179 "Test failure: readytorun/determinism/crossgen2determinism/crossgen2determinism.sh"
failed in job: [runtime-coreclr crossgen2 20201215.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=922950&view=ms.vss-test-web.build-test-results-tab&runId=29303400&resultId=101994&paneView=debug)

R2R-CG2 Linux x64 Checked @ Ubuntu.1804.Amd64.Open

Error message
[code]

[2020-12-17 03:12] jkoritzinsky commented on #46177
From what I could tell both delegate reverse pinvoke and UnmanagedCallersOnly reverse pinvoke are the same for this case.

[2020-12-17 03:14] sdmaclea commented on #46096
@sandreenko Mentioned that #46034 fixed a subset of these tests.

[code]

I would be surprised if this issue was a hfa struct passing issue.  @sandreenko Can you comment on what #46034 fixes and why it only affects 4 of these failing tests?

[2020-12-17 03:15] sdmaclea commented on #46096
@janvorli I ran the tests with `export COMPlus_ReadyToRun=0` and `export COMPlus_ReadyToRun=1`.  I saw no difference.

[2020-12-17 03:22] sandreenko commented on #46096
@sdmaclea probably these tests are passing sometimes and I saw them as passing during my 2 diff runs and failing before, could be a coincidence and they are not actually fixed

[2020-12-17 03:25] sdmaclea commented on #46096
Assuming the issue is caused by thread 8...  I tried `sos HeapVerify` on each call to `PreStubWorker` in thread 8.

The corruption occurs while `System.String.Format(System.String, System.Object)` is on the stack, between entering the call to `System.ParamsArray..cctor()` and the `System.String.FormatHelper(System.IFormatProvider, System.String, System.ParamsArray)`

[code]

[code]

[code]

[2020-12-17 03:25] sdmaclea commented on #46096
I'll set break points in `JIT_NewArr1OBJ_MP_FastPortable` and `JIT_CheckedWriteBarrier` and see if I can narrow this down some more.

[2020-12-17 03:30] sdmaclea commented on #46096
I guess the other interesting thing is that thread `#1` and thread `#8` are creating arrays `JIT_NewArr1VC_MP_FastPortable` and `JIT_NewArr1OBJ_MP_FastPortable` respectively.

[2020-12-17 04:22] #46170 closed

[2020-12-17 04:30] jkotas commented on #46177
FWIW, `DirectStubLinker::EmitProfilerBeginTransitionCallback` is supposed to handle the delegate reverse pinvoke case.

[2020-12-17 04:51] chucklu commented on #46182
@joperezr  By the way, the .net standard version of System.Diagnostics.EventLog requires System.Security.Principal.Windows.
packages\System.Diagnostics.EventLog.4.7.0\lib\netstandard2.0\System.Diagnostics.EventLog.dll
// System.Diagnostics.EventLog, Version=4.0.2.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51

Maybe someone mixed the .net version and .net standard version of System.Diagnostic

[2020-12-17 04:53] joperezr commented on #46182
Dependencies get automatically calculated by our build tooling so this would hardly be a human error, I believe it may instead be a bug in that tooling, which is what I have to investigate

[2020-12-17 05:09] kevzhao2 opened #46184 "UnmanagedCallersOnly fails in Debug mode, with SuppressGCTransition and certain signatures"
### Description

The following code results in `Fatal error. Invalid Program: attempted to call a UnmanagedCallersOnly method from managed code.`.

[code]

[code]

### Configuration

.NET Version: 5.0.101
OS: Windows 10 (18363.1256)
Architecture: x64

### Regression?

N/A, since a lot of this stuff didn't even exist on 3.1.

### Other information

Notably, if at least one of the following is true,

[2020-12-17 05:12] chucklu commented on #46182
The first version [System.Diagnostics.EventLog 4.5.0-preview1-25914-04 ](https://www.nuget.org/packages/System.Diagnostics.EventLog/4.5.0-preview1-25914-04) also has the same problem
packages\System.Diagnostics.EventLog.4.5.0-preview1-25914-04\lib\net461\System.Diagnostics.EventLog.dll

However the difference is, it required another library

[2020-12-17 06:10] jeremyVignelles commented on #30083
Thanks for your answer @GrabYourPitchforks . I tried the solution of breaking the `internal` to get the `OriginalSpan` to see if there's something we could do in the converter.
Unfortunately, it seems that the JsonConverter receives a reader that has already consumed the first token to have its Value fields initialized.
This means I can't use JsonSerializer.Deserialize on my new reader initialized

[2020-12-17 06:21] v-haren opened #46185 "Test failure: Interop\\COM\\ComWrappers\\GlobalInstance\\GlobalInstanceTrackerSupportTests\\GlobalInstanceTrackerSupportTests.cmd"
failed in job: [runtime-coreclr crossgen2-composite 20201215.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=922951&view=ms.vss-test-web.build-test-results-tab&runId=29303208&resultId=100683&paneView=debug)

failed tests:
Interop\\COM\\ComWrappers\\GlobalInstance\\GlobalInstanceTrackerSupportTests\\GlobalInstanceTrackerSupportTests.cmd
Interop\\COM\\ComWrappers\\GlobalInstance\\Glob

[2020-12-17 06:43] geekworm opened #46340 "DataTable of. Net 5 cannot be visualized"
I built a new one ASP.NET Core Web API  project, a DataTable is code in the default interface, but there is no data in the visual interface, as shown in the following figure:
`
DataTable dttest = new DataTable();
dttest.Columns.Add("name");
dttest.Columns.Add("anum");
dttest.Columns.Add("bnum");
dttest.Columns.Add("hgpre");
dttest.Columns.Add("avg");

dttest.Rows.Add(new object[] { "Able", 152, 15

[2020-12-17 07:01] danmosemsft commented on #46153
@DrewScoggins thanks a thorough report (with disassembly!) -- is it missing a link to see the range of commits though? ie., this link: https://github.com/dotnet/runtime/compare/53c16198a8417e87e62c9df7c5e2e2602f9aa01d...dcbf6e9dee81434e5be937897c8445df4e71c70e

I'm guessing the sha's above are of the points on the graph marked Baseline and Compare (?)  but ideally the diff would tightly bracket, a

[2020-12-17 07:23] lauxjpn opened #46187 "Non-deterministic 'AccessViolationException' under specific conditions when using 'System.Data.OleDb' in an x64 process"
@roji As discussed yesterday in our call with @ajcvickers and the others, here the information about the `AccessViolationException` issue I was talking about.

The `AccessViolationException` issue has been previously discussed in detail in https://github.com/bubibubi/EntityFrameworkCore.Jet/issues/43#issuecomment-602592245 (and I also referenced it before in https://github.com/dotnet/runtime/pull/

[2020-12-17 07:33] wfurt commented on #45635
The sleep is not great. Further more, each ReadByte() will create new Task and that is not cheap either. Some of the complexity is there to deal with signal notification. I'm wondering if it would make sense to simplify all this in case of synchronous reads e.g. no async and no signal tracking. It seems like reading byte is quite common and it would make sense to optimize for it IMHO.

[2020-12-17 08:14] hoyosjs commented on #45649
It looks like this is the linker that is causing this. If I build a facade - say `System.Runtime` - on x86 and x64 Windows we get a dll with two issues:

- The resulting dll no longer has a [PDBChecksum entry](https://github.com/dotnet/runtime/blob/master/docs/design/specs/PE-COFF.md#pdb-checksum-debug-directory-entry-type-19). According to @tmat, this is needed if symbols were to be indexed in Nu

[2020-12-17 08:18] krwq commented on #45635
There are couple of ways we can deal with that I can think of:
- use different code paths when there are no signals
- buffering (but then, should write return immediately while we send in the background?)
- deprecate signals (I do not recommend people to use them anyway) and make the whole library lighter

[2020-12-17 08:20] ivanpovazan commented on #46124
@jkotas Sure, I can take a look later today

[2020-12-17 08:21] JFMG commented on #42311
VS4M version 8.8.4.30 is available by now: https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2019-mac-relnotes#884

Issue can probably get closed.

[2020-12-17 08:26] marek-safar commented on #46141
What do you mean? The link in the description points to a line where _bNeutral is set and when you asked for data I added another comment point to value _bNeutral is set with.

[2020-12-17 08:33] DavidKarlas commented on #42311
Looking at VSCode extension, looks like they have fix available in preview and will probably land very soon on stable, closing.

[2020-12-17 08:33] #42311 closed

[2020-12-17 08:56] AxelHu opened #46188 "TypeLoadException on struct with generic"
I'm using net5.0 and vs community 2019 16.8.3. I found this issue in a part-time project.

Run the following code in a new project and a TypeLoadException will be thrown.
[code]

Here is the exception message
[code]

It's not the top-level statements that lead to exception, the original code in my own project is well organized.

Is it a bug or something I shouldn't do in C#? I have no idea since t

[2020-12-17 08:59] clement911 commented on #35508
Thanks for info @ericsampson

Do you happen to remember where you read that?

[2020-12-17 09:19] superjulius commented on #44686
@karelz Hybrid Connections are very similar to a VPN. The main difference is that there is no public IP exposed. Instead some services installed on-premises connects to an Azure Relay, which is "routing" the requests.

https://docs.microsoft.com/en-us/azure/app-service/app-service-hybrid-connections

[2020-12-17 10:21] vitek-karas commented on #45649
I would think that facades don't run through the linker - there's nothing to do on them anyway. Would be interesting to know why this happens (if it actually does).

As for the GUIDs being the same before and after linking - linker implemented deterministic output, which includes copying the MVID from the input to the output. If we use linker in the deterministic mode, then this behavior is curren

[2020-12-17 10:29] Joe4evr commented on #46188
Duplicate of #6924.

[2020-12-17 10:31] sandreenko commented on #45326
PTAL @dotnet/crossgen-contrib

[2020-12-17 10:40] premun commented on #45181
I returned the bad machines to the pool and ran a new job with the latest fix. However, yesterday's rollout rebooted the machines and I couldn't observe the fix anymore since they're not broken anymore. We will have to wait for another machine going bad.. 🙄

@steveisok there won't be any rollout until January so we might get another shot. Do we keep this open until then or re-open if we see the is

[2020-12-17 10:41] karelz commented on #44686
Thanks for explanation. Azure App Service team realized they will need to do similar fix for Hybrid Connections as well (similar to the one for VPN).
I don't have answer from them yet on tracking status of "Is it fixed and deployed yet?" ... will let you know when/if I know.

[2020-12-17 10:42] vitek-karas commented on #46128
I updated the issue with:
* Describe behavior with regard to searching for SDKs and frameworks (identical to `dotnet --info` existing behavior)
* Describe ordering of results (very similar to existing `dotnet --info` existing behavior)

[2020-12-17 10:49] ericsampson commented on #35508
@clement911 i did some quick internet search and I couldn't find it again, sorry. It may have been a [Twitter post](https://twitter.com/ccompy?lang=en) by @ccompy , you could try searching there or asking here - or maybe she'll see this question :)

[2020-12-17 10:51] clement911 commented on #35508
@ericsampson  no worries, thanks anyway.

[2020-12-17 11:15] MaximLipnin commented on #46156
@safern As for iOS, could you point me to other way besides putting to separate directories to differentiate the sample from test apps in order to set a couple of specific properties?

[2020-12-17 11:35] iamNoah1 opened #46192 "dotnet crash when debugging unit tests on Visual Studio for Mac (Rosetta)"
### Describe the bug

I am trying to debug unit tests on Visual Studio for Mac. After starting the debugging, for a while nothing happens. Then the dotnet process crashes. I will attach the output of the crash in a file.
[crash-log.txt](https://github.com/dotnet/aspnetcore/files/5709027/crash-log.txt)

Additional Info:
* I am using a new M1 ARM Macbook Air
* Running the tests in non debug mode wor

[2020-12-17 11:43] karelz commented on #972
@wfurt ping?

[2020-12-17 11:55] iSazonov commented on #46182
Does it load extra assemblies? If so the repo need to have a protection tests for expected dependencies..

[2020-12-17 12:11] stefanloerwald commented on #46147
@mangod9 I'm not sure whether the question categorization is appropriate. After all, in .NET I would expect an OutOfMemoryException before my application is killed. This shouldn't depend on the platform, should it?

[2020-12-17 12:15] iSazonov commented on #45946
I like it on Windows but what are the benefits on Unix?

[2020-12-17 12:46] akoeplinger commented on #1823
+1 on setting to weekly and batchable.

[2020-12-17 13:08] pablopioli commented on #45833
Related to
https://github.com/dotnet/runtime/issues/45189

Since this is by design, until the situation changes in Net 6 my workaround would be to use Newtonsoft.Json

[2020-12-17 13:50] ygoe commented on #44034
I'm sorry I don't know anymore where the original issue appeared. So I probably cannot help much to fix this bug in .NET now. But it's certainly still there and will affect others.

Here's my process helper class that should actually be included in .NET because it took me weeks to find out how process execution really works. The existing BCL API is insufficient to accomplish that. It just deadlock

[2020-12-17 14:03] #46188 closed

[2020-12-17 14:13] Escoto commented on #46146
So, in __theory__ i am `async` capable, but i am hitting SAP via RFC... SAP's libraries just lock your application when calling the server, they don't even implement a way to gracefully timeout, that's why i have each `Action` on a separate `Task`. In my specific use case, one `Action` can result on hundreds of calls (all within the same `Task`), these unitary calls are supposed to be sequential.

[2020-12-17 14:13] SamMonoRT commented on #46174
@danmosemsft - interesting, thanks for removing the empty notifications. Did you add us back to the above three areas ?

[2020-12-17 14:17] madhubalakrishnan commented on #46071
Any suggestions or work arounds to get this sorted out? Our application is polyglot and if this does not work, we may have to change the cryptography on all the relevant microservices. Only .NetCore microservice had this problem.

should I downgrade the openssl version and try?

@EgorBo Hope I answered your question.

[2020-12-17 14:23] janvorli commented on #46071
@madhubalakrishnan can you please check the filename of the libssl dylib in the `/usr/local/opt/openssl@1.1/lib` directory? Is it different from `libssl.1.1.dylib`?

[2020-12-17 14:28] jkotas commented on #46147
It is not possible for .NET runtime to reliably throw OutOfMemoryException on Linux, unless you disable oom killer.

Note that average .NET process uses number of unmanaged libraries. .NET runtime does not have control over allocations done by these libraries. If the library happens to make an allocation that overshoots the memory killer limit, the Linux OS will happily make this allocation succee