[2020-03-12 12:47] dovisutu commented on #1630
I've updated the issue description to show what changes should be made. Free to discuss.

[2020-03-12 13:24] stephentoub commented on #17774
Closing as no repro.

[2020-03-12 13:24] #17774 closed

[2020-03-12 13:25] stephentoub commented on #27720
If someone wants to experiment with this and open a PR with appropriate performance numbers, please do. In the meantime, we don't need to track the possibility of an improvement. Thanks.

[2020-03-12 13:25] #27720 closed

[2020-03-12 13:32] vitek-karas commented on #32337
Closing this in favor of docs issue  dotnet/dotnet-api-docs#387.

[2020-03-12 13:32] #32337 closed

[2020-03-12 13:36] vitek-karas commented on #13723
If this is still an issue, please feel free to reopen or open a new one.

[2020-03-12 13:36] #13723 closed

[2020-03-12 13:58] guesshe commented on #33374
@am11 @jkotas Thanks!

[2020-03-12 14:07] tannergooding commented on #33398
Yes, you can just do [value.GetLower()](https://source.dot.net/#System.Private.CoreLib/Vector128.cs,1783) or [value.GetUpper()](https://source.dot.net/#System.Private.CoreLib/Vector128.cs,1811).
Likewise, in the other direction you can do [value.ToVector128](https://source.dot.net/#System.Private.CoreLib/Vector64.cs,678) or [value.ToVector128Unsafe](https://source.dot.net/#System.Private.CoreLib/V

[2020-03-12 14:23] tannergooding commented on #33490
I was giving an example of how the APIs work functionally, not suggesting an API shape here 😄

I think @echesakovMSFT's proposed shape here https://github.com/dotnet/runtime/issues/33490#issuecomment-597876379 is much nicer and is something that would be more likely to be approved (or some close variant of it)

[2020-03-12 14:27] guesshe commented on #33374
Any idea how this shared library is built? ./shared/Microsoft.NETCore.App/2.2.8/System.Net.Http.Native.so, I didn't find it after built src/libraries/Native/build-native.sh

[2020-03-12 14:31] jkotas commented on #33374
This library no longer exists in dotnet/runtime repo.

[2020-03-12 14:33] tannergooding commented on #33504
Is this possibly because while `eax`/`rax` can be tracked "independent registers" (because writing `eax` clears the 32-bits to zero), `al`, `ah`, and `ax` are considered part of the full register and cause a "partial register access" which can introduce stalls?
There are likely some cases where the stall isn't noteworthy, such as when only reading and never writing the register, but it may be comp

[2020-03-12 14:34] guesshe commented on #33374
@jkotas Thanks! I will work on the rest then.

[2020-03-12 14:38] guesshe commented on #33374
For the managed libraries (.dll), can I reuse 2.2.8 sdk version? Only replacing .so and .a libraries with my own built version.

[2020-03-12 14:40] ohsorry commented on #16010
AEAD_CHACHA20_POLY1305 uses chacha encryption, it's fast.
[ChaCha20 and Poly1305 for IETF Protocols](https://tools.ietf.org/html/rfc8439)

[2020-03-12 14:47] ericstj commented on #33316
Fixed in #33300

[2020-03-12 14:47] #33316 closed

[2020-03-12 15:20] ManickaP commented on #33510
### Separate build times in minutes:

| Machine | Root build | 2nd Root build | CoreCLR | Libraries | Note |
|-------------|--------------:|--------------------:|-------------:|-------------:|--------|
| Windows SB2 | 38 | 14 | 22 | 10 | per partes build was 6 minutes faster |
| Linux PC | 19 | 5 | 17 | 5 | per partes 3 minutes slower |

[2020-03-12 15:23] GrabYourPitchforks commented on #33504
I don't think partial stalls are a concern here. If you call `movzx`, you're already taking a dependency on the low byte of the source register. Regardless, even if the JIT had to be pessimistic it could still be codegened as:

[code]

The bigger concern IMO is that two registers need to be used to hold the temporary values. That could create an unnecessary stack spill.

[2020-03-12 15:26] ericstj commented on #17279
This is the file that should be deleted: https://github.com/dotnet/runtime/blob/master/src/libraries/System.Security.Cryptography.Algorithms/src/ApiCompatBaseline.net463.txt

[2020-03-12 15:32] jaredpar commented on #33510
@ManickaP could you add two more columns to the table above: CPU cores and RAM? Think that will add some context to the issue.

[2020-03-12 15:37] tannergooding commented on #33504
The point of this is that `movzx` is a dependency breaking pattern (because it updates the full 32-bit register). I believe the partial stall generally only applies when also doing partial writes, however so it might be okay here.

[2020-03-12 15:57] karelz commented on #33401
Triage: We just need to look through the code to find out what it does -- consistency would be ideal.
Idea: They should return empty collection, not null.

[2020-03-12 16:02] karelz commented on #33378
up-for-grabs: We just need to add function to our PAL layer. Then call it from the C# code.

[2020-03-12 16:05] karelz commented on #33377
@bartonjs this looks like something crypto layer should support first. Or do we need to do something special in SslStream?

[2020-03-12 16:10] karelz commented on #31628
Triage: It is useful information for developers. Unclear if it is possible to do -- as next step, we need someone with Linux expertise to do investigation if it is achievable at least on some distros and how.

Anyone interested to do the research?

[2020-03-12 16:12] karelz commented on #32719
Triage: We don't think we will change any APIs behavior even if it is confusing -- documenting the behavior seems like the best choice.

[2020-03-12 16:14] jashook commented on #33510
Based on the cpu alone this seems like a very unfair comparison.

[2020-03-12 16:14] karelz commented on #33084
Triage: This may be related to some SIMD code not being that efficient on AMD (@GrabYourPitchforks @tannergooding).
We should re-benchmark - @adamsitnik do you have latest info?

cc @alnikola can you check if it still shows up in latest results when you get a chance?

[2020-03-12 16:15] jashook commented on #33510
My suggestion is to spin up two vms and build on them. I can do if interested.

[2020-03-12 16:20] karelz commented on #33029
Triage: Having consistency between platforms makes sense.

[2020-03-12 16:23] karelz commented on #33049
Triage: It seems to be worth considering. We should be careful about backward compatibility.
It needs more investigation and decision what to do about it.

[2020-03-12 16:26] karelz commented on #33053
Triage: `Localpath` should do escaping which is appropriate for the platform.

[2020-03-12 16:28] ManickaP commented on #33510
@jashook I'm aware of that. My main point is: please don't make it any slower and if possible make it faster. SB is my main work machine, I have to live with those 38 minutes.

[2020-03-12 16:34] AndyAyersMS commented on #33504
This is one of those cases where the jit codegen directly reflects IL semantics (integral IL stack entries are always 32 or 64 bits). The values to be compared are widened to stack size and then compared.

What the jit is missing is an optimization that can resize and reshape computations to the optimal version for the target ISA  (to be fair, the jit does some of this today, but it's hit and miss

[2020-03-12 16:35] karelz commented on #33362
Triage recommendation:
1. Loopback server can listen also on IPv6, which will make the problem go away on dev machines
2. Use `HttpClient` cached instead of per-request as recommended above (general `HttpClient` guidance)
3. For IPv4-only servers we will eliminate the perf problem by Happy Eyeballs - #861

Closing as resolved [1] and [2] / duplicate [3]

[2020-03-12 16:35] #33362 closed

[2020-03-12 16:36] pasikarkkainen commented on #23944
@flamencist cool! Are you planning to try to get ldap4net merged to dotnet core?

[2020-03-12 16:36] karelz commented on #33430
Triage: Regression from @wfurt's changes in Linux, they regressed Mac.

[2020-03-12 16:40] sdmaclea opened #33518 "[ARM64] Add missing unwind info"
Per @janvorli this needs to be added

https://github.com/dotnet/runtime/issues/33335#issuecomment-597529890

[2020-03-12 16:40] tmds commented on #31628
You need to integrate with whatever is managing the network. For many distros it is [NetworkManager](https://wiki.gnome.org/Projects/NetworkManager). NetworkManager has a D-Bus API which you can use from .NET with [Tmds.DBus](https://github.com/tmds/Tmds.DBus). The example on the repo readme is using NetworkManager.

[2020-03-12 16:46] ViktorHofer commented on #33510
@ManickaP how often do you do a clean build and for what reasons? That might be another pivot to optimize.

[2020-03-12 16:48] tarekgh commented on #31373
@noahfalk thanks for the feedback. I have updated the description according to your comments. please let me know if I missed anything there.

@chandramouleswaran thanks for the feedback too, I'll try to get back to you soon.

[2020-03-12 16:50] pakrym commented on #31373
Is there a fast way to check if activity should be created? Sometimes collecting context and links might be expensive, it would be nice to have a performant way to know beforehand if someone is listening on the activity.

[2020-03-12 17:00] tarekgh commented on #31373
@pakrym we `Activity.StartNew(string name)` which doesn't take a context or links.

if you are talking about the Listener side and want to avoid dealing with context/links there, we may think to add a callback to the listener which doesn't take a context/links. but I am not sure if this case concerns you.

[code]

[2020-03-12 17:01] sebastienros commented on #33084
I am almost sure it's more related to thread scheduling than instructions. If you check the link you will see that we can get 712K RPS at 20 cores, but it goes down to 187K RPS when using the full 48 cores. This machine being an AMD might not be the cause, but the fact that is has more cores than the other machines we usually test on is adding some new information.

[2020-03-12 17:07] ericstj commented on #17712
This no longer exists.

[2020-03-12 17:07] #17712 closed

[2020-03-12 17:08] tmds commented on #31628
I agree, it cannot be implemented in a generic way on Linux.

[2020-03-12 17:11] pakrym commented on #31373
As a producer of activity I want to know when any particular activity is enabled so I don't have to extract links/ActivityContext from, for example an incoming request, when no one is listening.

[2020-03-12 17:19] dagood commented on #32055
From an official build, looks like this is almost there and we got *some* links that work, but we hit this Arcade bug causing publish failure: https://github.com/dotnet/arcade/issues/5044

[code]

[2020-03-12 17:24] tarekgh commented on #31373
got it. would adding something like:

[code]

will it address your scenario?

[2020-03-12 17:26] pakrym commented on #31373
Would it be as fast as `DiagnosticSource.IsEnabled()` check currently is (a single non-virtual field read)?

[2020-03-12 17:35] ManickaP commented on #33510
It depends on what I'm doing, there're few major flows I do:
- Working in my happy bubble of my branch, not syncing with master. Then I can go even days between clean builds.
- Switching between different tasks for which I try to have separate clones, where I sometimes loose track of what I've build and when. In this case I can go up to 2-3 clean builds a day.
- Trying to find which change regress

[2020-03-12 17:36] gaensebluemchenritter commented on #30258
With the behaviour as of now we actually need to suppress CA2227 for collections in our DTOs we want to deserialize into. So the out of the box coding standards actually prevent usage of the Deserializer ...

From where I'm standing an additional JsonSerializerOption would probably be the best way to proceed.

[2020-03-12 17:43] jkotas commented on #33374
You are likely going to run into mismatches when combining 2.2.8 managed libraries with latest native binaries from dotnet/runtime

[2020-03-12 17:45] wfurt commented on #31628
Even if that is not complete, it may be an improvement if we can talk to NetworkManager via API.  Embedded and unsupported distros can keep throwing PNSP.

[2020-03-12 17:46] caioproiete commented on #28005
@AraHaan I tested on .NET Core 3.1 on Windows 10 and worked fine (i.e. opened my default browser (Chrome) without any errors)

[code]

[2020-03-12 17:52] tarekgh commented on #31373
If there are no registered listeners, then yes, we'll just check a static field value and if it is null we'll just return false. if there is any registered listener, we'll need to call them to know if any of the listeners interested in creating such an activity with the input name.

[2020-03-12 17:54] karelz commented on #33084
In that case, I wonder if it is even Networking related ... @adamsitnik can you please help shed some light here?

[2020-03-12 17:56] pakrym commented on #31373
Then I don't think it addresses my scenario, N virtual calls just to know if an activity should be created seems way to high for something like Kestrel.

[2020-03-12 17:56] danmosemsft commented on #33506
You probably know this, but note that you can click the pencil in the top right of the topic and fix it if you like.

[2020-03-12 17:57] Gnbrkm41 commented on #33510
Bit of an unrelated question, but I'm curious if the build process utilises all the logical threads, not just the physical cores. I remember seeing CoreCLR build script reporting "Number of cores 6" when I have a CPU that has 6 physical cores and 12 threads (i7-8700). Is it just the log that shows 6 cores and the build process utilise all 12 threads, or does the build script intentionally use only

[2020-03-12 17:59] tannergooding commented on #33084
I have a 12-core/24-thread AMD box I can test on.

Do we know if it also reproduces on Windows (I can also test in Ubuntu 18.04)? Could someone list where to get the benchmark from and what command line to test with (I didn't see it in dotnet/performance)?

[2020-03-12 18:00] jashook commented on #33510
@jkoritzinsky can explain

[2020-03-12 18:01] tannergooding commented on #33084
You might also have some luck trying to collect a profile using https://developer.amd.com/amd-uprof/ to see what the hotspot differences are.

[2020-03-12 18:03] jkotas commented on #33518
Duplicate of https://github.com/dotnet/runtime/issues/33470

[2020-03-12 18:03] #33518 closed

[2020-03-12 18:07] mwpowellhtx opened #33520 "Package System.Reflection.Metadata 1.0.21 is not compatible with netcoreapp2.1"
The dotnet core runtime snafus continue. It's been a little while since I've been deep in the stacks, but this just seems really broken to me. [Repro repository here](https://github.com/AlbertoMonteiro/CodeGenerationRoslynBugRepro). I'm just troubleshooting my CGR here, but I definitely did not expect this sort of snafu for what I want to accomplish.

[2020-03-12 18:14] adamsitnik commented on #33084
@sebastienros I am getting a new error when downloading the trace file.

[code]
[code]

[2020-03-12 18:14] CarolEidt commented on #33490
I have to say that to me the `Vector64x2<t>` and similar look rather ugly, but I think they are probably the best choice. I haven't worked through the register allocation implications, other than thinking it through at a fairly high level. but I think that this is going to require that the register allocator treat these as fundamental types. I'm not sure whether it will be necessary to "leak" them

[2020-03-12 18:14] BobbyCannon commented on #33362
@karelz Question on Triage 2. Is HttpClient threadsafe? If so then I could create a static instance and reuse it and I'll be fine. However if not then is this really a valid solution?

[2020-03-12 18:15] adamsitnik commented on #33084
It's one of the ASP.NET TechEmpower benchmarks. As soon as I get the trace I am going to share it with you

[2020-03-12 18:17] tarekgh commented on #31373
ActivityListener.ShouldCreateActivity is added to the listener mainly a request from @noahfalk to enable the sampling scenario which he is interested in. We may try to turn off the sampling by default in the listener and be opt-in to turn it on. so by default the virtual calls to ShouldCreateActivity will be skipped except if someone enables it on any listener. would that be reasonable middle grou

[2020-03-12 18:21] tannergooding commented on #33490
I agree they aren't the prettiest, but it at least matches the `Matrix#x#` convention that may be similar to some people already.

If you have a suggestion for what would allow this to efficiently work in the register allocator, we can definitely take that into account during API review (whether it is a custom struct, value tuple, out/pointer parameters, etc).
This also isn't the only case where i

[2020-03-12 18:23] soyang2828 opened #33522 "System.Drawing.Common throws System.NotSupportedException: Stream does not support reading"
It looks like version from netcoreapp2.0 works but one from netcoreapp3.0 doesn't.
I was told to use one from netcoreapp3.1, but there isn't such folder in the nuget package.
The callstack from our repro:

System.NotSupportedException: Stream does not support reading.
   at System.IO.StreamHelpers.ValidateCopyToArgs(Stream source, Stream destination, Int32 bufferSize)
   at System.IO.Stream.CopyTo

[2020-03-12 18:27] danmosemsft commented on #33097
This is not fixed yet.

[2020-03-12 18:28] wfurt commented on #31213
It seems like the issue is understood and mitigation put in place at aspnet layer. Fundamentally, keys are stored in separate partitions matching process e.g unsigned applications store keys in a different partition than signed binary and there is really not much we can do about it in .NET. That is by OS design.

[2020-03-12 18:28] #31213 closed

[2020-03-12 18:28] CarolEidt commented on #33490
I think that, from the register allocator's perspective, it only matters that we can recognize the "special types" (whether register-allocator-specific or not), and I think we can do that with any of those choices. I would reiterate that we probably want to do what's best from an API perspective, though I suspect that out or pointer parameters or returns will be the most difficult from a CQ perspe

[2020-03-12 18:30] soyang2828 opened #33523 "ConfigurationManager.AppSettings failing if app.config contains <system.net>…</system.net>"
Want to know this is expected.

Our callstack:
Unhandled exception. System.Configuration.ConfigurationErrorsException: Configuration system failed to initialize
 ---> System.Configuration.ConfigurationErrorsException: Unrecognized configuration section system.net. (C:\Program Files\Microsoft\Exchange Server\V15\PopNetCore\Microsoft.Exchange.Pop3.dll.config line 24)
   at System.Configuration.Confi

[2020-03-12 18:32] sdmaclea opened #33524 "Reenable linux unwinder on Cross OS DAC build"
#31777 Disabled the unwinding of native frames in the Windows cross OS DAC build.

The root cause of the compilation errors will need to be addressed and this code will need to be reenabled

[2020-03-12 18:36] soyang2828 opened #33525 "StartInfo of Process throws with Process was not started by this object, so requested information cannot be determined."
If this is not supported, what is the recommended way to pass around the environment variables of a process?

Here is our callstack:
System.InvalidOperationException
  HResult=0x80131509
  Message=Process was not started by this object, so requested information cannot be determined.
  Source=System.Diagnostics.Process
  StackTrace:
   at System.Diagnostics.Process.get_StartInfo()
   at Microsoft.O

[2020-03-12 18:40] EgorBo commented on #32504
I guess https://github.com/dotnet/runtime/issues/13816 is related

[2020-03-12 18:43] sdmaclea commented on #32756
We discussed this briefly a few days ago in our stand up meeting.  The consensus was we can

+ Use the heuristic RVA < Base address will cover most cases
+ We can add a cookie to the g_DacTable to determine if the heuristic failed.
+ During dump debugging examining unmapped memory will not lead to a segmentation fault. So we can easily look at this during dump analysis.
+ `createdump` has more fle

[2020-03-12 18:47] #1987 closed

[2020-03-12 18:51] PriyaPurkayastha commented on #33160
@ajcvickers in terms of next steps in order to close this issue, do you want to document this as a known issue for apps that use EF Core 2.1 and try to run on .NET5? We can track this on the thread for .NET 5 Preview 1 known issues that Vivek sent out.

Additionally, we will remove this app from the test suite that we run for .NET 5 but continue to include this for .NET Core 2.x Servicing runs.

[2020-03-12 18:53] sdmaclea opened #33527 "Cross OS DAC design doc"
Create a brief DAC to document and describe the prototype learnings, design details, and risks for the cross OS DAC

[2020-03-12 18:56] VSadov commented on #5973
I had two cases recently where I could use this. (managed `StelemRef` and `GC.Allocate[Uninitialized]Array` API)

I believe the issues with array type handles should not be a problem any more.

[2020-03-12 19:01] sdmaclea opened #33528 "CI - Sign and symbol upload Cross OS DAC"
We need to revise the official build process to

- Build the cross OS DAC configurations
- Sign them.
- Upload the builds to the symbol server
- Index the build by the corresponding elf-build-id (s)

We need to agree on the indexing scheme and update the symbol upload docs.

We will need add indices to support mapping from the following libcoreclr build-ids to the corresponding Windows DAC.

[code

[2020-03-12 19:04] #17279 closed

[2020-03-12 19:05] AndyAyersMS commented on #33510
This affects me too. I am also mainly using a surface book. A few thoughts:
* it use to be easier for me to figure out how to incrementally rebuild just what I needed when I made a change, now I am less sure.
* kicking off a a general build after a small local change (say one file in the jit) does a lot of work to figure out that there is really not much to do
* incrementally rebuilding after a me

[2020-03-12 19:07] vcsjones commented on #33525
If you are trying to get the environment variables for your current process, you can use [`Environment.GetEnvironmentVariables`](https://docs.microsoft.com/en-us/dotnet/api/system.environment.getenvironmentvariables?view=netcore-3.1).

If you are trying to do this for a different process other than the current one, I don't believe there is a way to do that. See https://github.com/dotnet/runtime/is

[2020-03-12 19:09] ViktorHofer commented on #33510
@jkoritzinsky that's what we talked about yesterday. You mentioned it's possible and we could make the fanning out conditional?

[2020-03-12 19:13] mwpowellhtx commented on #33520
I have VS2017 installed against which I am trying to run this. I do not see any reason why this should not work, apart from dotnet package snafus.

I have the following run times installed, which should support the LTS `netcoreapp2.1`, should it not?

[code]

Has LTS expired? Because it seems like your support for it is weak, at best.

[2020-03-12 19:14] ViktorHofer commented on #33510
That's because of the way Arcade builds the passed in `$(ProjectToBuild)` items. We should set the `StopOnFirstFailure` property in the msbuild task in Arcade via an extension point: https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/tools/Build.proj#L249. I think @akoeplinger mentioned the same thing some weeks ago.

[2020-03-12 19:14] ajcvickers commented on #33160
@PriyaPurkayastha I don't believe this is necessary.

[2020-03-12 19:18] jkoritzinsky commented on #33510
I don't know exactly why we parallelize CL on number of cores instead of threads (that was initially done before my time) but from my experiments it got us the fastest builds doing a combination of that + max MSBuild parallelization instead of just maxing out CL parallelization across all threads.

Re making the fanning out conditional: Theoretically it's possible. We'd just have to add switches t

[2020-03-12 19:24] soyang2828 commented on #33525
I think I shouldn't say environment varaibles, but rather it's process related variables. How do I associated those to a process?

[2020-03-12 19:29] juliusfriedman commented on #33443
@tannergooding, I was just thinking shouldn't it maybe resemble the existing `Nullable` [API's](https://docs.microsoft.com/en-us/dotnet/api/system.nullable-1.getvalueordefault?view=netframework-4.8)  `GetValueOrDefault` already has an overload where the default can be specified.

[2020-03-12 19:39] jashook commented on #33510
### Build command

### Build times in minutes:

| Machine | CPU | Memory | Root build | Rebuild | CoreCLR | Libraries |
|-----------|------|----------|-------------:|-----------------:|----------:|----------:|
| Azure F16_v2 (Windows Server 2019)| 2.4 GHz Intel Xeon® E5-2673 v3 16 core | 32 GB | 14.5 | 5 | 9.5 | 5.5 |
| Azure F16_v2 (ubuntu 18.04) | 2.4 GHz Intel Xeon® E5-2673 v3 16 core | 32 GB |

[2020-03-12 19:40] vcsjones commented on #33525
What information are you trying to get from the `ProcessStartInfo`? Even for the .NET Framework, [the documentation][1] states

So if you are trying to do this with a `Process` object for a process that your own code did not start, this doesn't work correctly in .NET Framework and .NET Core throws an exception to prevent that incorrect behavior.

If you are doing this for a process your own code d

[2020-03-12 19:43] stephentoub commented on #33362
Yes, and that is the recommended usage.

[2020-03-12 19:46] SergeyKanzhelev commented on #31373
I think it will be great to align this design closer to the OpenTelemetry API.

1. Can we introduce a `Tracer` class that will start and stop activities instead of static methods? `Tracer` will also have a `name` and `version` so the entire `Tracer` may be disabled.
2. Let's have a "current" span always be present. It may be one with the invalid context.
3. `ActivityContext.IsValid` is a very usef

[2020-03-12 20:05] AndyAyersMS opened #33529 "JIT: follow-up on importer tail recursion block loop marking"
Follow-up from #33517 ([comment](https://github.com/dotnet/runtime/pull/33517#issuecomment-598384570))

1. Further reduce cases where we mark blocks with `BBF_BACKWARD_JUMP` -- screen out tail recursive calls that cannot become loops.
2. Verify we're not creating latent bugs in already imported block codegen by setting `BBF_BACKWARD_JUMP` while importing.

[2020-03-12 20:14] steveharter commented on #33520
The csproj is using netcore 2.1 and referencing `<PackageReference Include="Code.Generation.Roslyn" Version="1.2.0.20972" />` but I don't see any reference to "System.Reflection.Metadata 1.0.21" in the .csproj.

System.Reflection.Metadata 1.0.21 is a really old version that predated netcore 1.0 -- can you use a newer version?

[2020-03-12 20:20] GrabYourPitchforks commented on #355
A constructor on a type is really a void-returning instance method, but presumably if you want to wrap a constructor within a delegate you actually wanted to _instantiate_ the object, returning the new object instance. This isn't something that can be accomplished with a single method invocation. See https://github.com/dotnet/runtime/pull/32520 for an alternative proposal which attempts to provide

[2020-03-12 20:20] #355 closed

[2020-03-12 20:37] #33346 closed

[2020-03-12 20:42] GrabYourPitchforks commented on #13536
Like David said, using a plugin model is the best solution for this scenario. You'll be able to load assemblies dynamically at runtime (such as from a specific folder) and inspect their attributes and types to light up implementations.

[2020-03-12 20:42] #13536 closed

[2020-03-12 20:45] steveharter commented on #13416
As @MichalStrehovsky stated it is unlikely we will service this in 2.1 due to the size\risk of the change. Upgrading if possible to 3.1 would be the best option since it is LTS (3.0 is not).

cc @GrabYourPitchforks

[2020-03-12 20:45] #13416 closed

[2020-03-12 21:01] GrabYourPitchforks commented on #30219
A little history behind this. Some frameworks didn't expose the instance method `MemberInfo.GetCustomAttributes(bool)`, so the extension method was added to account for this missing API. Since the extension method couldn't call `MemberInfo.GetCustomAttributes(bool)` - it was missing, after all - it had to do the next best thing and call `Attribute.GetCustomAttributes(MemberInfo, bool)`. As mention

[2020-03-12 21:01] #30219 closed

[2020-03-12 21:08] swaroop-sridhar commented on #32823
Adding notes from an offline discussion:

@vitek-karas  wrote:

In our previous discussion about building the super-host (for self-contained builds), we concluded that:
-	In order to support upstream scenarios (ex: AssemblyLoadContext), we’ll start with statically linking all existing host components (apphost, hostfxr, hostpolicy)
-	The checks/processes involved should be optimized by removing unn

[2020-03-12 21:08] swaroop-sridhar commented on #32823
CC: @dsplaisted  @wli3

[2020-03-12 21:19] PriyaPurkayastha commented on #33160
All teams have agreed to the compatibility principles for .NET 5 that were shared during .NET Core tactics as part of the Fundamentals effort. Summarizing it here for those not in that meeting:
_.NET Core 3.x/2.x apps should by and large, continue to work with .NET Core 3.x(later minor versions). Customers need to opt-in to major version upgrade (e.g. .NET 5) if desired runtime, as described by Mi

[2020-03-12 21:21] lambdageek opened #33531 "CreateDelegate(Type, Type, string) ContainsGenericParameters check is too strict"
Consider this example:
[code]

If I run the above, code on .NET Core 3.1 (or on .NET Framework 4.7.2) the runtime will error with:

[code]

This is done by this code in CoreCLR

https://github.com/dotnet/runtime/blob/2beb5527ea3be3d2e9f30fdbb9ece090adc0a889/src/coreclr/src/System.Private.CoreLib/src/System/Delegate.CoreCLR.cs#L265-L266

and by this code in MonoVM

https://github.com/dotnet/runtime

[2020-03-12 21:22] lambdageek commented on #33531
/cc @jonpryor

The opposite issue (to add the missing ContainsGenericParameters check) for mono/mono is https://github.com/mono/mono/issues/19207

[2020-03-12 21:32] mwpowellhtx commented on #33520
I did see that these are somewhat dated versions. However, to my knowledge, I have never had to reference these at all. Ever. And it's "just worked". Is there a way to "home" the CLI run time on an acceptable base version?

[2020-03-12 21:33] echesakovMSFT opened #33532 "[Arm64] Store Pair of SIMD&FP registers"
[code]

[2020-03-12 21:34] echesakovMSFT commented on #33532
@CarolEidt, @tannergooding , @TamarChristinaArm PTAL

[2020-03-12 21:35] echesakovMSFT commented on #33532
@TamarChristinaArm Is it correct to say that functionality of `STP` on Arm32 can be achieved by using `VSTM`

[2020-03-12 21:37] lambdageek opened #33533 "[mono] Don't compile and export unused icalls"
In https://github.com/dotnet/runtime/blob/master/src/mono/mono/metadata/icall-decl.h we have declarations for icalls that may not be used in https://github.com/dotnet/runtime/blob/master/src/mono/mono/metadata/icall-def-netcore.h that aren't under an '#ifndef ENABLE_NETCORE` guard.

The two files should be audited and the icall declarations should be ifdefed out in `icall-decl.h` (along with their

[2020-03-12 21:43] steveharter commented on #31463
It appears the path to "System.Runtime.dll" needs to be added to the `AssemblyLoadContext` instance. For .NET Core that assembly will forward to corelib. A brute-force way to specify all paths used by NetCoreApp:
[code]

If that is not the case can you provide a full repro? The calling code is missing the code that kicks off the call to the `CustomAttributeData` extension method.

[2020-03-12 21:51] ajcvickers commented on #33160
@PriyaPurkayastha To be clear again, this is _not_ an EF breaking change in any way. This is a _bug_ in EF Core 2.1 that prevents it working _for this particular query_ on .NET 5, which isn't recommended anyway. Also, we have _no evidence_ that it is impacting customers in any way.

To me, this is a clear example of runaway process clouding sensible decisions. We don't need to do anything here. If

[2020-03-12 21:52] bartonjs commented on #33377
@karelz Both :smile:

For Windows, it's entirely going to be SslStream.  Presumably there's just a flag or option you set for SChannel and it does it.

For Linux, things are more involved:
* We'd need to expose API (shared source or public) to either get a current OCSP response from the cache or build the request and get the response (and cache it if appropriate), which also tells you the expirati

[2020-03-12 22:07] akoeplinger commented on #33531
We hit this case while bringing up Xamarin.Forms on top of .NET5-enabled Xamarin.Android.

/cc @jkotas

[2020-03-12 22:13] danmosemsft commented on #13416
3.0 is actually out of support entirely.
https://github.com/dotnet/core/blob/master/microsoft-support.md

[2020-03-12 22:13] wli3 commented on #32823
So that means publish self contained vs non self contained and Windows VS Linux will have different host. 1 code path now spitted to 4 code path, including how the package flows.

If so, we also need to double the apphost pack count in core-sdk. We used to have 8 apphost pack, and now it will be 16?

All of them can be done, but we need to watch out the infra load, and we may need more time to des

[2020-03-12 22:17] AndyAyersMS opened #33536 "Test case hits assert when logging is enabled"
Repro:
[code]

[2020-03-12 22:20] tannergooding commented on #33532
I think we should could have better names than `value1`/`value2` to help clarify the order they are stored in.

I wonder if `StoreScalarPair` is better than `StorePairScalar`

[2020-03-12 22:23] jkotas commented on #32823
I agree that it would make sense to have both hosts in the same package.

I do think we should be calling this superhost. It does not say anything about what it is. This can be described netcoreapp single file host. I would call it netcoreapp host or single file host, but it would be a good idea for others to chime in.

[2020-03-12 22:27] wfurt commented on #33430
I confirmed this is a regression caused by https://github.com/dotnet/corefx/pull/34084. It is not clear if #27996 was ever applicable to OSX. So far I was unable to reproduce it again either on Linux or OSX.

[2020-03-12 22:28] jkoritzinsky commented on #33502
I think today's `runtime` pipeline does a "release libraries on a checked CoreCLR" test run, so it looks like we only need to add the stress mode pipelines.

A recent rolling build for reference: https://dev.azure.com/dnceng/public/_build/results?buildId=557557&view=logs&j=96447df6-cb08-536e-96a6-2b28fb9fc6e6&t=df9553ca-be28-55ee-0cb8-d9f84c2659a4

[2020-03-12 22:34] HongGit commented on #33285
Thanks for reporting this issue!.

This is a duplicate issue as #630.

[2020-03-12 22:34] #33285 closed

[2020-03-12 22:35] marek-safar commented on #1800
@karelz yes, this is from ios handler. I'd add `os-ios` label to the issue.

[2020-03-12 22:46] echesakovMSFT commented on #33532
How about `first`/`second` ?

It is an option, but I can't tell which one has more emphasis on that we store a **pair**

[2020-03-12 22:55] steveharter commented on #31485
DispatchProxy does not appear to support generic constraints. Removing the generic constraints works as expected.

Here's a simpler repro that removes the generic constraints (adding the constraints back results in the exception)
[code]

[2020-03-12 22:55] swaroop-sridhar commented on #32823
@wli3 the change will be for self-contained single-file publish vs all other paths.
I am hoping this will be two paths instead of 4:
* PublishSingleFile self-contained will obtain native components and Apphost from a different pack
* All other configurations will proceed as normal
This is regardless of whether the hosts live in the same pack or two.

We can configure the new hosts to be set within

[2020-03-12 22:56] steveharter commented on #31485
cc @GrabYourPitchforks

[2020-03-12 22:58] eerhardt commented on #32921
I think we can close this issue, right? From @stephentoub's analysis above, the only usage of this method is:

https://github.com/dotnet/runtime/blob/84cf6a19356d7574664ce08251815ddd4e3d2964/src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncTaskMethodBuilderT.cs#L262-L271

And the points that:
1. Fields on the async state machine shouldn't be able to be trimmed.
2. Even

[2020-03-12 23:00] stephentoub commented on #32921
Yup. The only question is if we need to attribute the method in some way to keep it off tooling radar in the future, and if so, how.

[2020-03-12 23:01] Sina-Soltani opened #36038 "Feature request: Getting the WatcherChangeTypes from IFileProvider.Watch"
The `System.IO.FileSystemWatcher` already gives us the `WatcherChangeTypes` enum when a files is created, modified, deleted or renamed. This feature does not exist in `IFileProvider.Watch` method. So if we inject the `IFileProvider` somewhere for tracking the changes of a folder, then we have no possibility to know what exactly to a file happened.

### Describe the solution you'd like
Maybe someth

[2020-03-12 23:13] #589 closed

[2020-03-12 23:39] jcagme commented on #33111
`https://github.com/dotnet/arcade/pull/4838` complete, moving to `runtime.linux-x64.Microsoft.NETCore.Runtime.Mono`

[2020-03-12 23:48] rharpavat opened #33537 ".NET Core 2/3 on macOS: System.Security.Cryptography causes keychain errors in Console.app"
We're seeing repeated keychain errors on macOS when trying to use the `System.Security.Cryptography` namespace. The errors are of the format:
[code]

I have created a minimum reproducible example in [this GitHub repository][1] (run instructions are in the README). I was able to find a bit more detail about the error code itself [here][2]:

I found some specific documentation for the functions [her

[2020-03-12 23:51] jaykrell commented on #33533
Compiling them is useful.
Are they actually exported? I think not. Agreed they should not be.

[2020-03-12 23:54] sywhang commented on #759
Fixed with https://github.com/dotnet/runtime/pull/32516

[2020-03-12 23:54] #759 closed

[2020-03-13 00:05] CarolEidt commented on #33532
It seems to me that it's useful to have all of these start the same, i.e. `StorePairXXX`

[2020-03-13 00:07] terrajobst commented on #33328
This needs more thought.

[2020-03-13 00:08] terrajobst commented on #33331
This needs more thought

[2020-03-13 00:57] ahsonkhan commented on #31464
Would that work for non-root types on which the caller can't call `.GetType()` on, or is the issue only isolated to root types?

[2020-03-13 01:06] am11 opened #33541 "GCC warns when compiling the JIT: too small to hold all values of regNumber"
e.g. around 78% of this build https://dev.azure.com/dnceng/public/_build/results?buildId=557918&view=logs&jobId=e5f41d17-fae4-5d3d-f998-568159b1c41c&j=e5f41d17-fae4-5d3d-f998-568159b1c41c&t=86eaea2a-2e8c-50dd-cc99-c57aff36e5ad, there are a lots of such (non-fatal) warnings:

[code]

Is this something actionable?

category:implementation
theme:build
skill-level:beginner
cost:small

[2020-03-13 01:14] janvorli commented on #33541
It looks like the regNumber enum has two extra members that are never stored in the fields the compiler complains about, see:
[code]

[2020-03-13 01:30] VSadov opened #33542 "Add `GC.IsPinnedHeapObject(object obj)` API"
`GC.IsPinnedHeapObject(object obj)`

Returns true if the obj is allocated on pinned object heap.

Caveat: we generally cannot know easily if object is pinned (thus this is not a `IsPinnedObject`), but we can tell if it resides in Pinned Object Heap.

===

There are obvious scenarios where this could be useful.
When trying to use pinnable heap objects in prototypes, it does not take long before you

[2020-03-13 01:31] VSadov commented on #33542
CC: @Maoni0 @terrajobst

[2020-03-13 01:58] hoyosjs commented on #33537
@bartonjs

[2020-03-13 02:48] GrabYourPitchforks commented on #33542
How fast would it be to query this API? I'd assume it's something like `return (objPtr >= POH_START) && (objPtr <= POH_END);` with some minor overhead?

[2020-03-13 02:52] am11 commented on #33541
I have found a related bug: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=61414, which seems to be fixed last month in 8.4+ and 9.3+, by introducing (only?) a warning suppression.

The problem is that when the enum with fixed underlying type is used as a bit fields in a struct (or class), and has any valid value (within limits) different width than the underlying type, we get this unspresseble warn

[2020-03-13 03:05] VSadov commented on #33542
The simplest implementation is

[code]

It is more involved than a range check. There are multiple heaps and multiple segments within, not necessarily contiguous.

`segment_of` is a table lookup + some checks.
If you do some IO after that, then it is very fast. Otherwise, it depends what you do.

You can cache the result too. It will not change for a given object.
There might be other implementati

[2020-03-13 03:16] tannergooding commented on #33542
So at least for arbitrary inputs, it will still be cheaper to just pin. But for certain specialized cases, it may be useful to check and take it into account?

[2020-03-13 03:17] VSadov commented on #33542
Right. For fast operations, it would make more sense to just pin on the stack /w `fixed` statement.

[2020-03-13 03:23] jkotas commented on #33531
@akoeplinger What would you expect the behavior to be for ambiguous matches, e.g.?

[code]

You are right that the reflection APIs can do more guesses about what you meant in many cases, but I do not think it is a good idea. It is hard to tell where to stop. I believe that the current CoreCLR behavior is the more appropriate one.

Other factors to consider:
- C# does not allow you to call the meth

[2020-03-13 03:23] VSadov commented on #33542
If operation is long(ish) or you need something that is pinned across calls or async operations, then permanently pinned buffer becomes more interesting.

And then, at some point you may find yourself in a need to check or assert that.

[2020-03-13 04:06] jkotas commented on #33542
And do you expect to be materially cheaper than just always allocating the handle for async operation?

I can see this to be useful for asserts or error handling, but not much else.

[2020-03-13 04:18] bartonjs commented on #33537
Simply importing a namespace doesn't cause any code to run.  Presumably those errors are happening internal to the `dotnet` executable.

[2020-03-13 04:48] GrabYourPitchforks commented on #33542
Seems like there might be a scenario for a managed object to be allocated on the POH and for managed thread + native thread to have a reference to the backing memory simultaneously? Exposing this API if even for error detection in such a scenario could be useful.

[2020-03-13 04:48] VSadov commented on #33542
Allocating a handle may results in extra code to ensure freeing that handle.

I think there are scenarios where knowing if the object is in POH heap could be useful.
I'd say it could be more useful/actionable API than `GC.GetGeneration`, for example.

[2020-03-13 04:58] dovisutu commented on #1630
(Sorry for the mess when I edit the title)

[2020-03-13 06:08] AriNuer commented on #32729
Test `JIT/opt/ObjectStackAllocation/ObjectStackAllocationTests/ObjectStackAllocationTests.sh` failed again.
**Job:**
[runtime-coreclr crossgen2:20200311.1](https://dev.azure.com/dnceng/public/_build/results?buildId=556709&view=results)
**Error message:**
[code]
**Stack trace:**
`
at JIT_opt._ObjectStackAllocation_ObjectStackAllocationTests_ObjectStackAllocationTests_._ObjectStackAllocation_ObjectS

[2020-03-13 06:17] soyang2828 opened #33543 "Importing a single SerializedCert with CERT_KEY_PROV_INFO_PROP_ID attempts to delete the key on Dispose."
The typical code would look like. And upon out of scope of using, the Network Service permission will
be deleted.

using (X509Certificate2 cert = new X509Certificate2(bytes))
                    {
                        thumbprint = cert.Thumbprint;
                    }

[2020-03-13 06:42] theRainbird commented on #1391
I need to create typed DataSet code, because I'm planning to port a very large ERP application (over 1 million lines of code) to .NET Core, which massively uses typed DataSets. Without xsd.exe or another way to create type DataSet code, a port is not possible.

[2020-03-13 07:00] benaadams opened #33544 "Sse2 Intrinsics and Vector<T> paths no longer being output at R2R"
Using `jit-diff` to produce the output
[code]
`SpanHelpers.IndexOf(ref byte searchSpace, byte value, int length)` doesn't look like it gets output at all.

The workhorse `SpanHelpers.SequenceEqual(ref byte first, ref byte second, nuint length)` doesn't output any vectorized asm
[code]

`SpanHelpers.IndexOf(ref char searchSpace, char value, int length)` no longer outputs vectorized asm
[code]

/cc

[2020-03-13 07:08] Maoni0 commented on #33542
what are those scenarios aside from what Jan pointed out (asserts/err handling)?

[2020-03-13 07:23] mwikstrom opened #33546 "Bug when deserializing immutable collection property with ignore null values"
Reproduction 1:

[code]

`Bug1` throws a `NotSupportedException`:

    System.NotSupportedException: Specified method is not supported.
       at System.Collections.Immutable.ImmutableList`1.System.Collections.IList.Add(Object value)
       at System.Text.Json.JsonSerializer.ApplyObjectToEnumerable(Object value, ReadStack& state, Boolean setPropertyDirectly)
       at System.Text.Json.JsonSerializ

[2020-03-13 07:34] jkotas commented on #33544
@davidwrighton Is this related to your recent change (#33090) ?

[2020-03-13 07:40] briangru commented on #26013
Hi @jkotas , @danmosemsft . I just ran into this bug tonight.  My scenario is debuging a VS test unit test in Visual Studio on Windows.  I've got some .NET Standard assemblies being tested, but the unit tests are targeting .NET Framework.  I don't think VS's test harness lets me target .NET Core, at least not with my old projects.

I'm guessing this is probably 80% likely to be the same issue, as

[2020-03-13 07:55] jaykrell commented on #2222
I get lots of this problem in the mono repo too.

[2020-03-13 08:46] flamencist commented on #23944
Probably but now  I am focusing on implementation compatibility with ldap v3 features.

[2020-03-13 09:38] MaximLipnin opened #33549 "[mono][windows] Test failed: System.Drawing.Imaging.Tests.PropertyItemTests.Properties_SetValues_ReturnsExpected"
1. `build.cmd -subsetcategory coreclr-mono-libraries -c Release -runtimeconfiguration Release /p:RuntimeFlavor=mono`
2. `cd src\libraries\System.Drawing.Common\tests`
3. `dotnet build /t:Test /p:RuntimeFlavor=mono /p:Configuration=Release`
[code]
OS: Win10 1909 (18363.657)

[2020-03-13 10:02] janvorli commented on #13685
I've fixed this particular issue in #33448 in the master. I am going to create a porting request for 3.1 and probably even 2.1.

[2020-03-13 10:02] #13685 closed

[2020-03-13 10:40] yunwei00q opened #33550 "For .NET Core 2.1, the CoreCLR symbols are missing for IL symbols."
Affected Build: Val build D15.9/28307.1072(15.9.22) with SDK 2.1.513(runtime-2.1.17)

### Steps to reproduce
Testing on Windows with VS -
1.	Goto Tools -> options -> Debugging
Under General
a. Uncheck 'Enable Just My Code'
b. Check 'Suppress JIT optimization on module load (Managed only)'
Under Symbols
a. Check 'Microsoft Symbol Servers'
2.	Create a new ASP.NET Razor project by doing
mkdir razor
c

[2020-03-13 11:06] fiseni opened #33554 "[DataAnnotations] New class targeted ResourceType attribute (Question)"
Sorry for posting this question here, but this request is all over the internet, and no answers so far.

What is the possibility of having class targeted ResourceType attribute, as a default value for all member annotations (e.g. DisplayAttribute)? Any plans toward such implementation?
In AspNetCore this is fixed through the usage of IStringLocalizer in AttributeAdapters and AdapterProviders, but

[2020-03-13 11:13] Symbai opened #33555 "Bitconverter.GetBytes - Any reason why not using fixed pointer?"
https://github.com/dotnet/runtime/blob/91c1d7cab87653fc2214d9effbee54d3d9072c65/src/libraries/System.Private.CoreLib/src/System/BitConverter.cs#L105-L110

Using fixed pointer is slightly faster (10-15%). Is there a reason why Unsafe.As is used instead?

[code]

[2020-03-13 11:25] benaadams commented on #33555
This would probably be better?
[code]

[2020-03-13 11:40] stephentoub commented on #33555
How are you measuring that?

[2020-03-13 11:45] stephentoub commented on #33543
Permissions are nops in .NET Core. Are you using something other than .NET Core? What do you mean the permission is deleted?

[2020-03-13 11:51] Joe4evr commented on #33360
@Kryptos-FR The idea of .NET Standard was to unify the API surface area across multiple implementations of the .NET runtime. With .NET 5 being the unification of those to a single runtime implementation, the purpose of .NET Standard loses its meaning in that new world.

As such, don't hold your breath on the Standard still evolving.

[2020-03-13 12:32] vitek-karas commented on #32921
Thanks a lot for the confirmation. Can we please keep this open a bit longer - we're currently figuring out the best way to tell the tooling that it should not warn about some code.

[2020-03-13 12:38] stephentoub commented on #32921
There are now multiple issues in the same state, right? This, the delegate one, etc. Seems like they should all be closed in favor of an issue specifically about annotating all such methods, rather than multiple issues tracking e same thing. Up to you, though.

[2020-03-13 13:02] jkotas commented on #26013
This exception is thrown&handled inside `Exception.ToString()`. I know that it may be confusing if you have "stop at all exceptions" enabled.

We track .NET Core issues only in this repo. If you believe that it is something that needs to be fixed in .NET Framework, it is best to report it via VS feedback tool - https://github.com/dotnet/core/#getting-help .

[2020-03-13 13:03] jkotas commented on #26013
Closing this issue:
- We have no plans to enable support for Windows PDBs on Unix
- There may be situations where an exception is thrown & handled inside `Exception.ToString` that is by design.

[2020-03-13 13:03] #26013 closed

[2020-03-13 13:08] vitek-karas commented on #32921
The delegate issue is somewhat different.
Is it a problem to have several issues opened as a way to track this work?

[2020-03-13 13:09] stephentoub commented on #33555
For this benchmark:
[code]
Here's what I get on my machine:

|    Method |     Mean |     Error |    StdDev |
|---------- |---------:|----------:|----------:|
|   Current | 3.504 ns | 0.0411 ns | 0.0384 ns |
| Benaadams | 3.592 ns | 0.0696 ns | 0.0617 ns |
|    Symbai | 4.186 ns | 0.0693 ns | 0.0615 ns |

Based on this we certainly wouldn't want to change to the `fixed` version, which not only sho

[2020-03-13 13:13] #33482 closed

[2020-03-13 13:26] #33555 closed

[2020-03-13 13:28] stephentoub commented on #33447
I think there are multiple things being confused here.  Stream.BeginRead/Write have two relevant behaviors that seem to be conflated here:
1. The base Stream.BeginRead/Write will synchronously block if there's another async operation currently in flight.
2. The base Stream.BeginRead/Write will queue a call to the Read/Write method.

(1) is behavior inherited from .NET Framework 1.x.  I think for .

[2020-03-13 13:32] #33414 closed

[2020-03-13 13:32] #33399 closed

[2020-03-13 13:43] #2222 closed

[2020-03-13 14:03] filipnavara commented on #33447
I'd be worried about that too. The question is whether there is a reasonably safe path to do a separate serialization for reads and writes for non-seekable streams. That would likely cover bulk of the cases where the current behavior is problematic.

Shared libraries are my primary concern. I am not overly happy with code being copied over to different places but it's fine as long as it's an offic

[2020-03-13 14:08] stephentoub commented on #33447
Just because a stream is non-seekable doesn't mean it's duplex.  We also currently pay for a field on _every_ stream to store the SemaphoreSlim, which is one field more than I'd like, plus actually creating that instance when it's used.  I'd very much like to not add yet another one.

Sounds like something good to be added to documentation, and you can point people to that.

Sure, but that non-obv

[2020-03-13 14:18] guesshe commented on #33374
I am able to build corehost but got a ELF error while executing it in a QNX device. I am debugging on why it happened.

[2020-03-13 14:27] guesshe commented on #33374
@jkotas Is netcore 5 sdk available to try out?

[2020-03-13 14:28] SamMonoRT commented on #33234
From slack conversation :
Burgers Microbenchmark comparison after @vlad.brezae added more interpreter intrinsics (https://github.com/mono/mono/pull/19174) for math stuff. These are ratios to dotnet core in the first colum, and the end of feb column is before his change. It made a big difference!
Benchmark	dotnet_core	mono_end_of_feb	mono_interp_intrin_change
Burgers.Test0	1	        359.78

[2020-03-13 14:45] #31842 closed

[2020-03-13 14:51] Gnbrkm41 commented on #33309
I think I can put up a PR for this, but we seem to be lacking a couple instructions that would be nice to have:
1. Unloading values of single SIMD register where the vector contains a single element (e.g. Vector64<short> returned from `AddAcross`) to non-vector registers - [vduph_laneq_s16 etc?](https://developer.arm.com/architectures/instruction-sets/simd-isas/neon/intrinsics?search=vduph_laneq_s

[2020-03-13 14:53] jkotas commented on #33374
Yes, you can download the daily builds at https://github.com/dotnet/core-sdk#installers-and-binaries

[2020-03-13 14:57] filipnavara commented on #33447
You are right. There are probably currently no proper criteria for detecting that a particular stream is a duplex stream. Seems like there is no easy implementation fix without changing the API shape.

The issue is to document the non-obviousness and also offer guidance on how to correctly address for  library authors. The current preferred way to address it seems to be to use `TaskToApm` (judging

[2020-03-13 15:05] Gnbrkm41 commented on #33308
I think we also could add `System.Buffers.Binary.BinaryPrimitives.ReverseEndianness` in the list as well. Trivial search on CoreCLR sources do not seem to suggest that they are intrinsic; however I may as well be wrong.

[2020-03-13 15:16] grendello commented on #33531
@jkotas in your example, as stated by the OP, the error should be thrown. There's no ambiguity. The OP says:

[code]

In the OP code the method is actually defined in the non-generic type, in your case it is defined in the generic type.

[2020-03-13 15:16] tannergooding commented on #33308
For `System.Runtime.Intrinsics` (https://github.com/dotnet/runtime/issues/33496), it is correct that `Vector256<T>` is unsupported on ARM/ARM64. The functions already have a software fallback however, so no work is needed there.

However, ARM/ARM64 do support `Vector64<T>` (unlike x86) and functions which are special cased on `Vector128<T>` should be mirrored down. Likewise, there are functions li

[2020-03-13 15:17] hiersekornc opened #36037 "MemoryCache Size calculation fails when entry to add is already expired"
When using MemoryCache with SizeLimit, adding an entry with past expiration will cause the Cache Size to be incremented during a call to `UpdateCacheSizeExceedsCapacity` but it is never decremented (l.207ff.).

Repro:
[code]

[2020-03-13 15:19] stephentoub opened #33556 "Audit usage of `move register, 0` pattern"
From https://github.com/dotnet/runtime/pull/32871#issuecomment-597713059:

[2020-03-13 15:27] jkotas commented on #33531
How do you know that the user meant the method on non-generic type, and not the method on the generic type - that is closer in the inheritance hierarchy?

[2020-03-13 15:30] grendello commented on #33531
In the OP case there's just one method - in the base type. There's no ambiguity as to which method the user meant. In your case it's more complicated, but the `new` keyword causes the method to shadow the original one - and since there's no cast to the base type, the ambiguity doesn't exist.

[2020-03-13 15:31] lambdageek opened #33557 "[mono] Audit embedding API for ALC correctness"
This is a tracking issue to audit the public embedding API for correctness with respect to assembly load context support.

The goal is to consider how each function in the headers below will behave when there are multiple ALCs in the managed code, and to decide whether the function behavior needs to be corrected, or if it is not feasible to correct, whether the function's documentation should be u

[2020-03-13 15:33] lambdageek commented on #33557
/cc @CoffeeFlux @steveisok @mdh1418

[2020-03-13 15:48] jkotas commented on #33531
I agree with you that there are cases that this API can handle. I just do not think it is a good idea for this API to allow them, for the same reason that it does not make sense for C# to allow calling static methods via open generic types (e.g. `Derived<>.M()` does not compile). I will leave it for reflection area owners to chime in with their opinions.

[2020-03-13 15:48] ericstj commented on #24181
Again here: https://dev.azure.com/dnceng/public/_build/results?buildId=557777&view=ms.vss-test-web.build-test-results-tab&runId=17587538&resultId=100000&paneView=attachments

[code]

[2020-03-13 15:51] grendello commented on #33531
@jkotas this thing has a concrete and real impact on existing Xamarin.Android code and apps, though. Which is why it was brought up - it's not a theoretical case.

[2020-03-13 15:52] CoffeeFlux commented on #33557
It's worth noting this isn't just for ALCs, it's for netcore changes in general. ALC support is just going to be the most frequent incompatibility.

[2020-03-13 15:54] jkotas commented on #33531
Was the code where this was hit in the app itself, or in the Xamarin part?

[2020-03-13 15:59] aik-jahoda opened #33558 "Failing test after Remote executor fix"
There is a fix (dotnet/arcade#4912) of remote executor which causes flaky/false-positive tests.
There is a list of test which starts fail after the remote executor fix is applied: see attached PR #33560
- [x] `Proxy_UseEnvironmentVariableToSetSystemProxy_RequestGoesThruProxy` - reenabled in PR #34444
- [x] `HttpClientUsesSslCertEnvironmentVariables` - fixed in PR #34331

[2020-03-13 16:01] steveharter commented on #33531
I agree. I don't know of any other cases where delegates have different behavior\rules than C#.

Closing the generic works of course:
[code]
as well as calling the base:
[code]

[2020-03-13 16:01] jaredpar commented on #33435
This has been addressed.

[2020-03-13 16:01] #33435 closed

[2020-03-13 16:02] grendello commented on #33531
@jkotas it's in Xamarin.Forms, exposed by Xamarin.Android, but it can/will be part of any XF app

[2020-03-13 16:05] guesshe commented on #33374
@jkotas Thanks!

[2020-03-13 16:10] jkotas commented on #33531
Can we fix it Xamarin.Forms/Android?

I assume that the apps will be required to upgrade to latest Xamarin.Forms/Android for .NET 5. We have similar policy with ASP.NET - e.g. ASP.NET 2.1 is not supported/tested on top .NET Core 3.

If we get data that this API usage is very common in the Xamarin apps, we can decide that to do about it then.

[2020-03-13 16:13] CoffeeFlux commented on #33557
We should also consider as part of this what ALC functions to put in public headers. Things like getting the default ALC for a domain will be useful to embedders.

[2020-03-13 16:23] aik-jahoda commented on #33558
the promised PR is https://github.com/dotnet/runtime/pull/33560

[2020-03-13 16:27] janvorli commented on #33114
It seems that this occurrence of the problem is not present anymore with the current master. However, another one is still there:
[code]

[2020-03-13 16:29] bartonjs commented on #33543
It's not actually a permissions problem, it's a "private key got deleted" problem.

[2020-03-13 16:33] janvorli opened #33561 "Enable thread suspension for debugger using activation injection on Unix"
Currently, suspension for debugger on Unix relies only on GC polling. As such, it cannot suspend threads in many kinds of long running loops even if (most of the) JIT helpers are called in the loop or the loop calls another managed function.
We need to modify the debugger suspension to use activation injection on Unix similar to what regular runtime suspension e.g. for GC does so that e.g. abortin

[2020-03-13 16:34] janvorli commented on #33561
cc: @tommcdon, @hoyosjs

[2020-03-13 16:38] aik-jahoda commented on #31861
There is obvious improvement in simple GET requests (see the #31864 for details). The improvement is on .NET Core and I expect the same benefit on the Kestrel side as the code is shared. There are two concerns:
* AspNet team -  how it is aligned with dotnet/aspnetcore#17400
* @scalablecory - performance trade: https://github.com/dotnet/runtime/pull/31864#discussion_r375986160

Currently, I'm worki

[2020-03-13 16:49] gfoidl commented on #33057
I poured the numbers in a chart (without case `MathMin`, as it's the worst):
![math-min](https://user-images.githubusercontent.com/5755834/76636056-aba52900-6548-11ea-8ed1-d0eb7554c7f7.png)

For Ryzen `MinReorderWithMinScalar` performs best and is quite stable on the inputs.
For Intel `MinReorder` performs best.

So which one should we pick?
Do you know why `minsd` seems to be quite slower on Inte

[2020-03-13 17:08] tannergooding commented on #33057
Looking at https://www.agner.org/optimize/instruction_tables.pdf, Skylake has a 4 cycle latency while Ryzen only has a 1 cycle latency (for `minss`/`minsd` and `maxss`/`maxsd`).

It might have to do with internal mechanics of how the branch predictor works. It could also be a side effect of the test or some other factor.

`Math.Min` and `Math.Max` are really small functions, so we can't accurately

[2020-03-13 17:12] echesakovMSFT commented on #33309
@Gnbrkm41

I believe this should be supported via `ToScalar()` method. cc @tannergooding to confirm

I am working on these https://github.com/dotnet/runtime/pull/33461 https://github.com/dotnet/runtime/pull/33535

[2020-03-13 17:14] sdmaclea opened #33564 "3.1 CoreCLR Cross DAC official build CI implementation"
Similar to #33528 for CoreCLR 3.1.

Build Cross OS DAC in official buids, uploads to symbol store, index...

[2020-03-13 17:32] GrabYourPitchforks commented on #32247
@tarekgh Ah, got it. I'll open a separate API proposal for those.

[2020-03-13 17:39] tarekgh commented on #32247
@GrabYourPitchforks if we are going to expose new APIs, shouldn't we break the current behavior? and we ask devs to use the new APIs for correct scenarios?

[2020-03-13 17:47] echesakovMSFT opened #33565 "[Arm64] Vectorize System.Numerics.Matrix4x4 using hardware intrinsics"
System.Numerics.Matrix4x4.Transpose()
System.Numerics.Matrix4x4.Lerp()
System.Numerics.Matrix4x4.operator-()
System.Numerics.Matrix4x4.operator+()
System.Numerics.Matrix4x4.operator*()
System.Numerics.Matrix4x4.operator==()
System.Numerics.Matrix4x4.operator!=()

[2020-03-13 17:52] sdmaclea commented on #33528
Per @mikem8361

Per @leculver & @mikem8361 suggestions the new DAC should be indexed as:

[code]

[2020-03-13 17:55] Gnbrkm41 commented on #33309
Ah, did not notice `ToScalar` extension method 🙂. I did manage to work around using a different approach which probably is better.

It still would be nice to have those exposed as intrinsics for feature parity, though.

[2020-03-13 17:57] terrajobst opened #33566 "Add JSON extension methods for HttpClient"
The [full spec is available here](https://github.com/dotnet/designs/blob/master/accepted/2020/json-http-extensions/json-http-extentions.md).

### Usage

#### Getting data from and to the server is a one-liner

[code]

#### Dealing with HTTP responses is also still doable

[code]

#### Constructing HTTP requests is still doable

[code]

### Proposed APIs

**Assembly**: System.Net.Http.Json (new)
**

[2020-03-13 17:57] terrajobst commented on #33566
[Video](https://www.youtube.com/watch?v=_AHbjIS8_0I)

* `HttpClientJsonExtensions`
  * `JsonSerializerOptions` should be nullable
  * `Uri` and `string` should be nullable
  * We should add overloads that take `CancellationToken` without `JsonSerializerOptions`
  * Should we define the extension methods over `HttpMessageInvoker` instead (the base type of `HttpClient`)?
    * We concluded no, becau

[2020-03-13 18:01] jcouv commented on #31877
@terrajobst
Confirmed with LDM that `AllowMultiple=false` is acceptable.

I think that `Inherited=false` makes sense because putting `[MemberNotNull("field")]` on `Base.Init()` has a different meaning than putting it on `Derived.Init()`. The former refers to `Base.field` and the latter refers to `Derived.field` (could be new, or we'll produce a warning). So although the contacts accumulate through

[2020-03-13 18:02] tannergooding commented on #33309
For some cases, there isn't a corresponding intrinsic on the native side. Where there is, we also expose it there (for example `int Sse2.ConvertToInt32(Vector128<int> value)` on the x86 side, which corresponds to `MOVD reg/m32, xmm`).

[2020-03-13 18:02] jcouv commented on #31877
Opened PR for adding these attributes: https://github.com/dotnet/runtime/pull/33567
I'm hoping to get the compiler change into 16.6p2 (ie. next 2 or 3 days) and the attributes in a similar timeframe.

[2020-03-13 18:47] carlossanlop commented on #32760
I also noticed we do not have any `NamedPipeClientStream` unit tests verifying `isConnected=false`.

I wonder if it's possible to retrieve the path of a named pipe from only a `SafePipeHandle`. If this is not possible, then I think the exception should be thrown directly in the constructor if `isConnected=false`.

[2020-03-13 18:49] dersia commented on #33566
I was recently working with some REST-APIs and what I came across a lot was that next to `Get`, `Post` and `Put` api creators often also use `Patch` and `Delete` with json content (i.e. apple app store connect api or ms app center api). So I think it makes sense to also include those to methods.

Another thing that I came across often, is that there are Types use for success and failure responses

[2020-03-13 18:56] steveharter opened #33568 "Test failure ThreadTests.InterruptInFinallyBlockTest_SkipOnDesktopFramework"
Test failure in https://github.com/dotnet/runtime/pull/33400
OSX Debug
System.Threading.Thread.Tests
[code]

[2020-03-13 19:03] davidwrighton commented on #33544
There is a fair bit of confusion here. The `Vector<T>` code is never compiled with crossgen1, and the vectorized forms of the IndexOf and SequenceEqual methods use `Vector<T>`. However, the generic variants of these methods do not use vector instructions. One of the less than ideal situations with jit-diff is that it does not make it clear when working with a generic method, that it is doing so. T

[2020-03-13 19:14] mdh1418 commented on #33557
In [xamarin android monodroid/jni direcotry](https://github.com/xamarin/xamarin-android/tree/master/src/monodroid/jni), I found the following header files referenced by the corresponding files in the directory. Everything else lacked a reference.
[code]

[2020-03-13 19:26] mdh1418 commented on #33557
Similarly in [Java.Interop](https://github.com/xamarin/java.interop/tree/master/src/java-interop) the following headers are referenced by the corresponding files in the Java.Interop directory.
[code]

[2020-03-13 19:30] steveharter commented on #31464
The issue is only for root types.

[2020-03-13 19:31] steveharter commented on #31464
Closing; tests added

[2020-03-13 19:31] #31464 closed

[2020-03-13 19:38] vitek-karas opened #33569 "Apphost should include apphost_version in the download URL in CLI apps"
If the apphost can't find any runtime at all, it will print out a URL with the download location of .NET Core runtimes. If it's a GUI app that URL will include the version of the apphost in a parameter `apphost_version=<version>`. But if it's a CLI app, only architecture and RID will be included, the apphost version will not be there.

Including the apphost version can help the `dot.net` website t

[2020-03-13 19:47] terrajobst commented on #32937
Because I'm an idiot, I filed a new issue for today's API review (https://github.com/dotnet/runtime/issues/33566#issuecomment-598845161). I've marked this as API reviewed. I'll close the review one in favor of this.

[2020-03-13 19:48] terrajobst commented on #33566
Duplicate of #32937

[2020-03-13 19:48] #33566 closed

[2020-03-13 19:52] terrajobst commented on #33566
We're on a really tight deadline to hit Blazor release in May. I don't think we have the time to add these overloads. FWIW, we considered them but that they might be rare, but if folks ask, we can add them. So they are still on the table for .NET 5.

We could, but my hunch is that this is going into the long tail of possible tweaks. If you need this, you should call the `SendAsync` API and use the

[2020-03-13 20:01] benaadams commented on #33544
So it might be worth removing `AggressiveOptimization` to the versions that have Sse2 variants; to have it emitted and pregenerated? `AggressiveOptimization` was added as not having the inlines etc makes these methods very poor.

However, that would also hit arm as it wouldn't have a R2R intrinsic variant (at this stage); so perhaps `#if` the attribute?

[2020-03-13 20:06] tarekgh commented on #31373
I have looked at the OT specs and here are the differences:

## SpanContext:
- Tracestate is defined as key-value pairs and in our proposal is defined as a string containing the key-value pairs. should we stick to the specs? [Activity already exposing this as string](https://github.com/dotnet/runtime/blob/4480bdbe66c55caceb64fc3477010435ba70c4ec/src/libraries/System.Diagnostics.DiagnosticSource/sr

[2020-03-13 20:23] Pilchie commented on #33571
@jeffschwMSFT - can you help label and triage this?  It appears to be a failure to initialize the runtime?

[2020-03-13 20:30] ericstj commented on #32922
I believe this should be a dup of https://github.com/dotnet/runtime/issues/33427.

[2020-03-13 20:30] #32922 closed

[2020-03-13 20:47] reyang commented on #31373
I think it is totally fine to leave it as a string. Most users won't consume it directly. Propagator authors will need to access this field for interop scenario, and there are more efficient ways to manipulate tracestate as a string rather than a dictionary.

These seem to be helper methods that we can add later without breaking existing thing. Given OpenTelemetry specification is evolving, I thin

[2020-03-13 20:53] davidwrighton commented on #33544
Unfortunately, that won't work either. The vectorized SequenceEqual(ref byte, ref byte, nuint) uses `Vector<T>`, and as the size of `Vector<T>` can vary from run to run, the current rules for crossgen prohibit its usage in R2R code at all, even within a single function body. I'm in progress of building out support for specifying the available instruction set at AOT compiler time into crossgen2 (Se

[2020-03-13 20:57] benaadams commented on #33544
I have a PR to use intrinsics for SequenceEqual https://github.com/dotnet/runtime/pull/32371 and it looks to output Sse2 at R2R. I was missing that `AggressiveOptimization` blocked it.

However, I'm not sure of what define to use to only drop it for x86/x64 and not ARM (else ARM will get the Tier0 for the method; which would be unfortunate). `TARGET_XARCH` seems to only apply for the cpp?

[2020-03-13 21:00] eerhardt opened #33575 "Take advantage of nint and nuint in Utf8String code"
When we get a compiler with the new [`nint`/`nuint` feature](https://github.com/dotnet/csharplang/issues/435) we should change our current ifdef pattern in the Utf8String code:

https://github.com/dotnet/runtime/blob/490f09e1751d03d3ca9ea87ae3a8ea49b72739a3/src/libraries/System.Private.CoreLib/src/System/Text/Unicode/Utf8Utility.Transcoding.cs#L14-L20

And just use the new feature.

For the OOB Ut

[2020-03-13 21:07] tarekgh commented on #31373
thanks, @reyang for your quick feedback.

Does this suggest we don't need to provide IsRecording in BCL as we never have a dummy Activity?

[2020-03-13 21:08] EgorBo commented on #33308
I attempted to use Arm64 intrinsics to optimize `System.Numerics.BitOperations.LeadingZeroCount` but it was too early :-) https://github.com/dotnet/coreclr/pull/26815/files

[2020-03-13 21:10] Wraith2 commented on #33572
duplicate of https://github.com/dotnet/runtime/issues/33466

[2020-03-13 21:15] jkotas commented on #33575
This is in no way specific to Utf8String.

[2020-03-13 21:18] layomia commented on #33376
There's an issue to be able to specify the serializer's global options: https://github.com/dotnet/runtime/issues/31094. This will solve the issue of specifying the options everywhere.

Populating collections without setters is currently not supported. There's an issue tracking this: https://github.com/dotnet/runtime/issues/30258.

I'll close this as a duplicate. @Sandeep321 in the future, please c

[2020-03-13 21:18] #33376 closed

[2020-03-13 21:22] eerhardt commented on #33575
I can make it more general to cover the whole CoreLib. I was just logging this in order to put in a tracking issue for [this comment on my PR](https://github.com/dotnet/runtime/pull/33357#discussion_r392077362).

It directly affects Utf8String because we can only build 1 IL assembly, and so we had to pick what `nint` means in that build.

[2020-03-13 21:37] reyang commented on #31373
I think the `IsRecording` is introduced to reduce instrumentation cost when the span is not used (e.g. as mentioned [here](https://github.com/dotnet/runtime/issues/31373#issuecomment-598306643)). As long as we can address the problem - whether `IsRecording`, `IsEnabled` or `IsSubscribed`. From usability perspective, I would prefer `Span.IsRecording` though.

@pakrym what's your perspective?

[2020-03-13 21:38] layomia commented on #33388
Triage: this isn't on our roadmap right now.

It would require discussion on what the behavior would be. It would be good to know what scenarios this would be used for. You provided a set of exceptions here, would you hardcode these or would you want options to control these?

[2020-03-13 21:52] echesakovMSFT commented on #33309
The similar functionality will be exposed as a part of https://github.com/dotnet/runtime/issues/24588 - I am working on this at the moment

[2020-03-13 21:55] tarekgh commented on #31373
I am trying to understand how this property can be supported on the Activity. I am seeing we will have 2 options to do so:
- Either having Activity.IsRecording as a static property, which can tell if there are any enabled listeners.
- Or having it as an instance property which will turn true if there are any added tags, links, ...etc. to the activity. otherwise will be false. This can be useful in

[2020-03-13 21:55] layomia commented on #33508
This is a duplicate of https://github.com/dotnet/runtime/issues/30889 and was fixed for 5.0 in https://github.com/dotnet/corefx/pull/41691. Can you try the fix in 5.0?

[2020-03-13 21:55] #33508 closed

[2020-03-13 21:58] layomia commented on #33546
Closing as duplicate of https://github.com/dotnet/runtime/issues/2387. This is fixed in 5.0 - can you try the fix?

[2020-03-13 21:58] #33546 closed

[2020-03-13 22:10] janvorli commented on #33114
It doesn't occur with the latest master anymore.

[2020-03-13 22:10] #33114 closed

[2020-03-13 22:10] safern commented on #33522
@soyang2828 could please provide more details on the repro?
I.e:
A sample code and input of the image?
What OS are you running on?
What version of `System.Drawing.Common` are you using?

cc: @JeremyKuhne

[2020-03-13 22:12] safern commented on #33522
There is no netcoreapp3.1 asset because the implementation for netcoreapp3.1 is the same as for netcoreapp3.0 so it uses the one in netcoreapp3.0.

We would need to know the details asked above to be able to diagnose and understand the problem.

[2020-03-13 22:18] jaredpar opened #33577 "Official buids failing at testing published symbols"
The error is

This is impacting all our official builds at the moment.

|Build|Kind|Timeline Record|
|---|---|---|
|[558488](https://dev.azure.com/dnceng/internal/_build/results?buildId=558488)|Rolling|Publish|
|[558213](https://dev.azure.com/dnceng/internal/_build/results?buildId=558213)|Rolling|Publish|
|[558052](https://dev.azure.com/dnceng/internal/_build/results?buildId=558052)|Rolling|Publis

[2020-03-13 22:37] safern commented on #33523
@soyang2828 thanks. For diagnostics, could you please provide more info?

What OS this is running on?
A sample code and input?
Version of .NET Core?

[2020-03-13 22:40] benaadams commented on #33544
Anyway, removing `AggressiveOptimization` solves the issue I was seeing. Thank you

[2020-03-13 22:40] #33544 closed

[2020-03-13 22:55] buyaa-n commented on #31104
@Tornhoof thank you for reporting it, we will add IAsyncDisposable implementation for XmlWriter.

As this issue is tracked by https://github.com/dotnet/runtime/issues/29464 am going to close it now

[2020-03-13 22:55] #31104 closed

[2020-03-13 22:56] #33441 closed

[2020-03-13 22:57] jeffschwMSFT commented on #33571
@mangod9

[2020-03-13 23:15] antonfirsov commented on #32418
Defining a generic, universal type to represent colors in a way that is agnostic from all perspectives, and **at the same time** capable for meaningful operations on it's instances in a convenient and performant manner is pretty much impossible.

In ImageSharp we have overcome this issue by defining a `Color` type that [keeps it's state completely private](https://github.com/SixLabors/ImageSharp/b

[2020-03-13 23:17] soyang2828 commented on #33523
This is on Windows 2016,with .NET core 3.1 runtime.
Usage:
string appSettingsStr = ConfigurationManager.AppSettings["DependencyDirectories"];

It throws if my config has section:
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="true" bypassonlocal="true" />
      <bypasslist>
        <add address=".*" />
      </bypasslist>
    </defaultProxy>
  </system.net>

[2020-03-13 23:19] safern commented on #33523
cc: @JeremyKuhne do you have any clue from top of your mind, if no I can try debugging.

[2020-03-13 23:27] soyang2828 commented on #33522
The ask is why it throws when I use assembly under netcoreapp3.0? (callstack in the first post)

[2020-03-13 23:39] safern commented on #33522
I'm still not understanding the issue. Could you provide with more details? If you can't share the project, code sample, etc, we can take this offline and share all that info there 😄.

I don't know why it throws, it might be a bug we introduced, but to understand more we need more info. Like the package version, a simple repro, etc.

[2020-03-13 23:41] echesakovMSFT commented on #24794
I think we should re-consider API for `ExtractVector64` and `ExtractVector128` - instead of
1) forbidding floating point types and
2) specifying a `byteIndex`

we should follow the approach that C++ intrinsics take - specify `elementIndex` and have JIT to convert this element index to byte index immediate - this way we are not gonna get de-normalized floating point value as a result and we will be

[2020-03-13 23:50] #32462 closed

[2020-03-13 23:54] tannergooding commented on #24794
I don't like the approach of taking an `elementIndex`. That artificially limits the usage of the intrinsics and prevents you from extracting an arbitrary 64-bit sequence.

There are separate intrinsics for extracting individual elements from a vector: https://github.com/dotnet/runtime/issues/24588 and users wanting to work with float can just use the zero cost reinterpret cast APIs (`.AsInt32` and

[2020-03-13 23:54] echesakovMSFT commented on #24794
Another question concerning `FusedMultiplyAddBySelectedScalar` and `FusedMultiplySubtractBySelectedScalar`.

In C++ there are exist
`float32x2_t vfma_lane_f32 (float32x2_t a, float32x2_t b, float32x2_t v, const int lane)`
and
`float32x2_t vfma_laneq_f32 (float32x2_t a, float32x2_t b, float32x4_t v, const int lane)`.

Shouldn't we follow the same approach, i.e. have multiple overloads such as :

`p

[2020-03-13 23:57] mangod9 commented on #33571
@urbanecm based on the comments in the issue, does the hang occur while running on https://vpsadminos.org/ ? Have you been able to capture a dump when the hang occurs? Thanks!

[2020-03-13 23:59] echesakovMSFT commented on #24794
#24588 works only on one SIMD register not a pair of SIMD registers.

If a user wants to extract an arbitrary 64-bit sequence why not convert both operands to Vector64/128<byte> using `As<byte>()`?

[2020-03-14 00:00] benaadams commented on #32714
Yes

[2020-03-14 00:01] benaadams commented on #32714
Nor does `Vector128<byte>.Count()` or `Vector128:AsByte(Vector128`1):Vector128`1`
[code]

[2020-03-14 00:02] AaronRobinsonMSFT opened #33581 "Remove UMThunkStub for all non-x86 scenarios"
With the completion of support for NativeCallableAttribute being public - https://github.com/dotnet/runtime/pull/33005, there is some additional cleanup that can now occur. The `UMThunkStub()` calls written in assembly can now be replaced by the newly added JIT helpers for Reverse P/Invoke Enter/Exit.

https://github.com/dotnet/runtime/blob/a1af0f2ad6cf51107a636dbe280cf939abd46b34/src/coreclr/src/

[2020-03-14 00:05] baulig commented on #33447
There is an issue with using `TaskToApm` that - when used incorrectly - can lead to leaking unobserved tasks.  This has caused major issues in Mono in the past, which were very hard to track down and eventually fixed, and it was the primary reason for that cleanup that removed these overloads.

And as I already pointed out in that other issue, the only guarantee that we've been making in Mono's `S

[2020-03-14 00:08] stephentoub commented on #33447
What issue?

I'm not following. What are you arguing for or against?

[2020-03-14 00:09] AaronRobinsonMSFT opened #33582 "The Windows x86 path for NativeCallableAttribute should be improved."
The making public of `NativeCallableAttribute` done in https://github.com/dotnet/runtime/pull/33005, provided some additional optimizations. However the Windows-x86 path was deemed lower priority so wasn't optimized. There are various locations where the Windows-x86 platform opted out of the optimization.

Examples:

https://github.com/dotnet/runtime/blob/a1af0f2ad6cf51107a636dbe280cf939abd46b34/s

[2020-03-14 00:14] tannergooding commented on #24794
It doesn't look like the underlying instruction encoding requires they all be the same size and so I would guess this is done because C++ doesn't have an easy way to convert from `V128<T>` to `V64<T>`.
Maybe @TamarChristinaArm has a better idea of why the split exists?

They could also do that, but the underlying instruction actually operates on `byteIndex` and we have tended away from adding abst

[2020-03-14 00:15] SergeyKanzhelev commented on #31373
`Activity.IsRecording` is per every activity. It indicates whether attributes, events, status code, etc. should be set on Activity or not. It's very useful. It wasn't as useful before as Activities operated with raw objects which didn't require much parsing and allocations to be reported in DiagnosticsSource events

Activity must allow multiple states: Completely turned off (rare), Propagating con

[2020-03-14 00:32] echesakovMSFT commented on #24794
Well, this is true on `Arm64` for `EXT <Vd>.<T>, <Vn>.<T>, <Vm>.<T>, #<index>` where
`<index>` is indeed a byte index. By the way, `<T>` can only be `8B`  or `16B` that kind of suggests you are working on byte sequences.

However, on Arm32 **VEXT (multibyte elements)** `VEXT.<size> {<Dd>,} <Dn>, <Dm>, #<imm>` is a pseudo-instruction that translates by assembler to  **VEXT (byte elements)** `VEXT.8

[2020-03-14 00:41] baulig commented on #33447
The `TaskToApm` being and end methods must always be called in pairs - which means you cannot move the begin call into some "implementation" class that gets disposed.

I'm arguing against making changes to Mono's `SslStream` unless absolutely necessary and very well tested.  Ideally, I'd like to keep as much of the low-level I/O in the underlying stream instead of having custom overloads.

[2020-03-14 00:46] tannergooding commented on #24794
Both instructions (`VEXT` on ARM32 and `EXT` on ARM64) operate identically. They are similar to `orr` or other logical operations. That is, the instruction encoding only takes `8B`/`16B` but it isn't doing something that is logically byte only and will be frequently used for non byte operations.

We can always create an issue and re-discuss `ExtractVector64`/`ExtractVector128` again on Tuesday, br

[2020-03-14 01:04] jkotas commented on #32714
You can mark these as `[NonVersionable]`. It will allow inlining in version-resilient R2R, but we have to guarantee that the methods are set in stone - that is safe guarantee to make.

[2020-03-14 01:06] jkotas commented on #32714
Ignore my comment. `[NonVersionable]` is not going to help for these.

[2020-03-14 01:12] VSadov opened #33583 "Implement pinned flavors of GC.Allocate[Uninitialized]Array on Mono"
System.GC is exposing new  APIs.  (see: https://github.com/dotnet/runtime/pull/33526)

[code]

The "pinned" part guarantees that the allocated object will never be relocated.
The easiest way to implement these is to allocate in a part of the heap that is never compacted.

[2020-03-14 01:14] stephentoub commented on #33447
This is how the APM pattern works in general: TaskToApm is just reflecting the realities of the pattern.

[2020-03-14 01:21] benaadams commented on #32714
Its in `System.Private.CoreLib` so that shouldn't be the issue?

[2020-03-14 02:27] JeremyKuhne commented on #33523
@soyang2828 I presume under `<configuration>`? It would help if you shared a repro .config so that we can make sure we respond correctly.

This is by design, you can't have sections under `<configuration>` that don't have definitions. `system.net` is normally defined in `machine.config`, but there isn't a definition for .NET Core as the type (`System.Net.Configuration.NetSectionGroup`) doesn't exi

[2020-03-14 02:53] tarekgh commented on #31373
does this mean when no one listening to the Activity?

Does this mean when there is a listener?

I think we can add Activity.IsRecording with the behavior you are describing.

do you mean create an activity with a state? telling if recording or not?

Doesn't the tracer need to listen on Activity stopping? I mean should it already have a callback from the activity anyway?

If you have a specific mo

[2020-03-14 02:54] wjk opened #33648 "Please remove SOS_README.md from every app's OutDir"
This file is trite and pointless, but if I fail to install it alongside my app, it won't launch because this file is written into the deps.json file, and is therefore treated as vital. It comes from the `Microsoft.NETCore.App.Runtime.win-x64` runtime pack, and I am not entirely certain how to stop it from being included. Nor am I successful with removing it at build time using injected MSBuild tar

[2020-03-14 04:03] benaadams commented on #33308
Also `SpanHelpers.SequenceEqual<byte>` after https://github.com/dotnet/runtime/pull/32371

[2020-03-14 04:31] davidfowl commented on #33583
@VSadov are you planning to do any work on the ASP.NET Core SlabMemoryPool with these APIs?

[2020-03-14 05:18] BruceForstall opened #33585 "CoreCLR test build failure"
My coreclr test builds are failing in Debug and Checked configurations (but Release builds are ok), for all architectures, with:
[code]

The build has been done with:
[code]

[2020-03-14 05:18] BruceForstall commented on #33585
@AaronRobinsonMSFT @jkoritzinsky @dotnet/runtime-infrastructure

[2020-03-14 05:23] yyjdelete commented on #33520
@mwpowellhtx
It's reference by `<DotNetCliToolReference Include="dotnet-cgr" Version="[1,2)" />`(1.0.0.30102), which maybe known something wrong and unlisted. Change the version to `1.0.1.5415`(seems nuget always install the lowest version) make it possible to restore.
https://www.nuget.org/packages/dotnet-cgr/1.0.0.30102

[2020-03-14 05:33] scovetta opened #33587 "Nit: Non-short-circuiting OR in Linq"
In [Linq/Select.cs:180](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Linq/src/System/Linq/Select.cs#L180):

[code]
This looks to me like it should be a `||` operator instead, but a tiny part of me thinks that perhaps the TSource could implement .Length as a property and the getter could mutate the object in some important way.

Happy to submit a PR for this, but wanted to ask

[2020-03-14 05:40] jkoritzinsky commented on #33585
@BruceForstall can you try building the corelib and nativecorelib subsets for checked and release?

For context, those tests reference System.Private.CoreLib directly since they use unexposed APIs (or in about half of the cases, tested APIs yet to be exposed through corefx at time of authoring in the old world pre-consolidation). Many of the APIs are accessed via the hosting layer, but some are ju

[2020-03-14 08:16] svick commented on #33587
According to the PR that introduced this change (https://github.com/dotnet/corefx/pull/11841), this was intentional, to avoid a branch instruction.

[2020-03-14 10:08] rafaelbenavent commented on #876
Any update on this?

[2020-03-14 10:10] artkpv commented on #15802
Recently it was dissappointment that SortedSet or SortedDictionary doesn't have O(log(n)) index. ElementAt() works in O(N). So this is in 5.0 milestone? How hard is it to add this now? As I see there is some API review process. Does supporting size / count in `SortedSet<T>.Node` entails some underwater issues?

[2020-03-14 11:29] stephentoub commented on #33587
Also _source here is an array; its Length is immutable.

[2020-03-14 11:30] stephentoub commented on #33587
Closing as by design. Thanks.

[2020-03-14 11:30] #33587 closed

[2020-03-14 15:34] ericstj commented on #33428
Seems like the same issue as https://github.com/dotnet/runtime/issues/736.  I see from the logs that fetch depth is 1, so that seems likely that this would happen a lot more often.  This build definition seems to be maintained by networking team, please have a look @dotnet/ncl /cc @eiriktsarpalis @safern

https://github.com/dotnet/runtime/blob/master/eng/pipelines/libraries/stress/http.yml

[2020-03-14 15:34] johmarjac opened #33590 "C++/CLI .NET Core 3.1 Injection to Native Process"
Hello,

I have a question. On .NET Framework C++/CLI DLL's I was able to have a DllMain inside the C++/CLI library which was getting called upon attaching the Dll to a native process (aka injecting it to a native process).

With .NET Core C++/CLI Dll this does not seem to be working. DllMain is not getting called. Can anyone explain me why and if it possible to call it nevertheless upon injection

[2020-03-14 15:34] ericstj commented on #33427
@ViktorHofer and @Anipik are looking into fixing this.

[2020-03-14 15:39] ericstj commented on #33327
So we currently have the RID `webassembly` with architecture `wasm` which derives from `unix`.

https://github.com/dotnet/runtime/blob/95b7248e9ba1a4552809c24cd571d5aa60d5af48/src/libraries/pkg/Microsoft.NETCore.Platforms.Future/runtimeGroups.props#L8-L11

If folks agree on this, we can promote it to the primary platforms package, it's currently in the *Future* package.

[2020-03-14 15:43] #29442 closed

[2020-03-14 15:48] mwpowellhtx commented on #33520
@yyjdelete Yes, I am asking because I am the CGR author, and this runtime snafu issue has been a persistent, festering thing, especially since the advent of the new "LTS" runtime. Seems like that blew up the previous LTS altogether, and I have not been able to persuade a successful run from it ever since. At present it is depending on `netcoreapp2.1` if memory serves. Any thoughts on how to persua

[2020-03-14 15:48] ericstj commented on #33291
@jaredpar how does the data look on this?  I tried to look at failing instances of `System.Diagnostics.PerformanceCounter.Tests` work item in AzDo and didn't notice any timeouts, but there's a lot of noise in here from a couple busted draft PRs.

[2020-03-14 16:09] yyjdelete commented on #33520
@mwpowellhtx
It should work for netcoreapp2.1 and 3.1 when you change version of `dotnet-cgr` to `1.*` or any version >= `1.0.1.5415`. In fact, `[1,2)` mean `1.0.0` since NuGet always choose the lowest version, even it's unlisted.
The only error I see is an `CS0101: The namespace "Alberto.TheApp" already contains the definition of "Bar"`, which is the same as https://github.com/mwpowellhtx/Code.Ge

[2020-03-14 16:24] ericstj commented on #33269
I am not seeing this.  Perhaps you're looking at **cross-gened** binaries which have been JIT'ed and are architecture specific?  If you examine the output of the libraries build under artifacts\bin\runtime you should find the non-crossgen'ed IL.  The shipping runtime packages / shared framework has been cross-gened for the architecture noted in the package.
[code]

System.Private.CoreLib on the ot

[2020-03-14 16:29] ericstj commented on #7553
Related: https://github.com/dotnet/runtime/issues/33128

[2020-03-14 16:30] ericstj commented on #7553
Related: https://github.com/dotnet/runtime/issues/2138

[2020-03-14 16:35] ericstj commented on #33097
@danmosemsft can you summarize what is not fixed?

I believe the original issue (missing symbols) is no-repro.

We found another issue, which is we are missing embedded sources for build-time-generated files like assemblyinfo.cs and generated resource accessors and the like.  An issue we are fixing -- but not the original posted issue, and not something likely to block someone debugging.

Let me k

[2020-03-14 16:46] danmosemsft commented on #33097
I didn't verify the bug. If it's already fixed, great. My only concern was step-in works. (Don't care about assemblyinfo). If this is actually fixed, great. Hopefully we have sufficient validation to protect it or that will be added.

[2020-03-14 16:47] danmosemsft commented on #33097
I didn't realize only the assembly info issue was left.

[2020-03-14 16:47] #33097 closed

[2020-03-14 17:12] ericstj commented on #32867
I believe @wfurt has some steps that help in reusing binaries from other platforms on new OSes.
Also cc @dseefeld @MichaelSimons who drive source build that permits building the whole stack from source without build orchestration.

[2020-03-14 17:18] mwpowellhtx commented on #33520
@yyjdelete Appreciate the feedback. I will try that adjustment and see if it does not yield better results. Thanks!

[2020-03-14 17:22] artelk commented on #32706
Thank you for your reply!

Yes, that is mainly about improving the performance.
I believe there will be only two RW memory types provided by the BCL itself: the existing `Memory<T>` and the new `ArrayMemory<T>`.
And there will be only two RO memory types: the existing `ReadOnlyMemory<T>`  and the new `ReadOnlyMemory<T, TMemory>`.
Will the impact be too big?

Developers who are going to work with s

[2020-03-14 17:25] ericstj commented on #32797
When you upgrade a dependent nuget package you need to use bindingRedirects.  That's expected and same for any package when used on .NETFramework.  This happens automatically for most new projects.  See https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/how-to-enable-and-disable-automatic-binding-redirection for information about enabling autogeneration of bindingRedirects.

The foll

[2020-03-14 17:25] #32797 closed

[2020-03-14 17:25] ericstj commented on #33128
@jkoritzinsky is this something you're working on?  Do we understand the dependencies of CoreLib project to know if this is technically feasible?  /cc @safern @ViktorHofer

[2020-03-14 17:28] mwpowellhtx commented on #33520
@yyjdelete And that's not an error. I believe the OP was concerned about an analysis/fixed `partial` keyword, which is not among the stated objectives of *CGR* itself. In terms of the generator, implementing the `IClonable` interface on behalf of its subscriber.

[2020-03-14 17:38] ericstj commented on #31785
My understanding is that this issue is calling for us to add configuration such as the following to our ILLink invokation.

[code]
And similar for each case @jkotas mentions above, and maintain a different set of values for each architecture and platform we build for.

Do we really think this is the right way to control this?  Can we instead do so with metadata on the methods?  That way anyone run

[2020-03-14 17:53] ericstj commented on #31810
This was regressed with https://github.com/dotnet/corefx/pull/32934 @AraHaan @danmosemsft

This set DocumentationFile for all src projects:
https://github.com/dotnet/corefx/pull/32934/files#diff-4b2f402501d23abbede6eac0f47783e4R472

We use the value of this to determine if a src project should include docs:
https://github.com/dotnet/arcade/blob/e0396581483c2355dcc22fb433c4f3a95a01ad5b/src/Microsof

[2020-03-14 17:56] ericstj commented on #31505
@ViktorHofer that sounds right.  We then manually rev AssemblyVersions when we need to patch packages that require a change.  I wonder if we can codify that rule 🤔 .  Perhaps for any project that targets NETFramework it's assembly version bumps in servicing.  Then we go through and make sure every library that supports NETFramework has a NETFramework target?  @joperezr

[2020-03-14 17:59] ericstj commented on #31253
@ramsubbaraoc are you still facing this issue?

[2020-03-14 18:57] obiwanjacobi opened #33592 "Deploy project with C++/CLI assembly with dependencies"
I am trying to `dotnet publish` (or pack) a solution that contains a C++/CLI project.
As I understand it this is not currently supported. It seems the context of the current directory is lost when going thru `dotnet pack`.

Doing
`> dotnet pack --no-build -o ./pack Jacobi.Vst.sln`

Results in
[code]

There are two goals I want to achieve:
1. Create a nuget package for my library that devs can use

[2020-03-14 19:29] BruceForstall opened #33593 "Installer build failure (Windows x64 Checked)"
With a clean clone (after `git clean -dxf`), a

[code]
failed with:
[code]

[2020-03-14 19:31] BruceForstall commented on #33593
@dotnet/runtime-infrastructure Is this some issue where `Checked` builds don't work for all components? If so, aren't components (e.g., non-coreclr) that only support Debug/Release supposed to map Checked to Debug?

Or is this just some real failure?

[2020-03-14 20:21] TETYYS opened #33594 "Console.WriteLine stuck on ConsoleHandleIsWritable"
Im not sure how this happens, but I got this:

![Untitled](https://user-images.githubusercontent.com/3091645/76689656-c2c74200-6640-11ea-9f43-43102331f222.png)

That `SeLocateProcessImageName` sure looks suspicious. I ran my program that attached to existing Visual Studio Debug Console, which may be at fault too. I got the memory dump of this `VsDebugConsole.exe` and its `conhost.exe` too if neede

[2020-03-14 20:22] TETYYS commented on #33594
It started working fine after killing existing `VsDebugConsole.exe` and letting Visual Studio start new one.

[2020-03-14 21:12] VSadov commented on #33542
I can think of a few cases, hypothetical of course.

- Imagine an array pool that serves pinned buffers. It probably would not want to accept a regular array returned back. Pool may ignore ordinary arrays or throw something. Then, it is error checking as Jan mentioned.

[2020-03-14 21:16] VSadov commented on #33542
- Imagine you get an array/list/dictionary of buffers to share with native code. Then you need to pin each of the buffers. In some cases you may use Overlapped/AsyncPinnedHandle for the sideeffects of pinning multiple things at once.
If all buffers are in POH, you do not need to worry. Just need to be sure the outer collection is rooted as long as buffers are in use.

Again, you may choose to not

[2020-03-14 21:31] GrabYourPitchforks opened #33596 "Debug.Assert causing unit test failures in System.Runtime and System.Memory"
Some unit tests are failing due to `Debug.Assert` statements being tripped. See for instance:

 * https://helix.dot.net/api/2019-06-17/jobs/945daa52-1ccd-42e5-a59a-02cc4a26fa76/workitems/System.Memory.Tests/console
 * https://helix.dot.net/api/2019-06-17/jobs/945daa52-1ccd-42e5-a59a-02cc4a26fa76/workitems/System.Runtime.Tests/console

The culprit is likely https://github.com/dotnet/runtime/pull/32

[2020-03-14 22:04] vitek-karas commented on #33590
@jkoritzinsky

[2020-03-14 22:06] vitek-karas commented on #33592
@jkoritzinsky

[2020-03-14 22:22] blankensteiner opened #33598 "[System.Text.Json] Make PooledByteBufferWriter public"
Hi
I'm writing my own serializer using Utf8JsonWriter and Utf8JsonReader.
I have performance tested:
* Utf8JsonWriter.Utf8JsonWriter(Stream utf8Json, JsonWriterOptions options = default) with a MemoryStream.
* Utf8JsonWriter.Utf8JsonWriter(IBufferWriter<byte> bufferWriter, JsonWriterOptions options = default) with an ArrayBufferWriter.
* Utf8JsonWriter.Utf8JsonWriter(IBufferWriter<byte> bufferWrit

[2020-03-14 22:44] GrabYourPitchforks commented on #33598
The libraries team isn't yet exposing "dangerous" types like this that use `ArrayPool` under the covers. The reason for this is that it's extremely easy to misuse these types, which could lead to global memory corruption of the application and would be nearly impossible to debug. This would do more harm than good to the ecosystem at large without a language feature that can enforce proper usage of

[2020-03-14 22:53] jkotas commented on #33596
Unless you have a fix ready, could you please revert the change?

[2020-03-14 23:03] danmosemsft commented on #33594
It seems unlikely anything .NET is doing. We are just calling WriteFile. Knowing nothing about the Windows code here, it appears to be reading the process name perhaps eg., in order to log a security check into the event log. Without a kernel debugger, I do not thing this could be investigated.

If you see this happen regularly and only under the VS debugger I suggest to open a VS feedback inciden

[2020-03-14 23:03] #33594 closed

[2020-03-14 23:12] GrabYourPitchforks commented on #33596
I should have a fix ready soon.

[2020-03-15 00:13] blankensteiner commented on #33598
Hi @GrabYourPitchforks
I see. Maybe we can find an alternative then since it would be a shame if only JsonSerializer can make Utf8JsonWriter use it.
I've seen other teams at Microsoft that places stuff in an "Internal" namespace, but make them public. Could that be a solution? Moving PooledByteBufferWriter to 'System.Text.Json.Internal' and thereby signaling that it's meant for internal use and th

[2020-03-15 01:12] VSadov commented on #33583
@davidfowl - it would be interesting. The biggest advantage of using pinned heap is to reduce fragmentation of regular heap. However SlabMemoryPool lives in LOH, so that is not an issue.
I think a few things could be simplified around pinned handle use.

[2020-03-15 01:16] HughPH commented on #473
I've got the same issue for the same reason on Linux

[2020-03-15 01:18] BruceForstall commented on #33585
I started again from clean and did:
[code]
and got the same errors listed above. Then I did:
[code]
and the build succeeded.

@jkoritzinsky Is that what you expected? This must be new behavior; previously I could do one root "build -c Release" then use my previous (pre-merge) workflow to build coreclr + tests.

[2020-03-15 01:22] #33596 closed

[2020-03-15 01:30] jkoritzinsky commented on #33585
You’re using the build-runtime.cmd script directly, which only builds the native portion of CoreCLR, not CoreLib. The old build.cmd script built both the native and managed portions of the build. You should be invoking the build script at the root instead if you want to build the managed and native assets.

There’s support in the root build script for building multiple configurations and architect

[2020-03-15 02:57] NextTurn commented on #33269
I simply built a self-contained Hello World app as described in dotnet/sdk#10772, copied the managed parts (no CoreLib or System.Native etc.) to x86 and saw these error messages. I didn't know whether the framework assemblies were cross-gened or not.

If I was seeing cross-gened assemblies, I'm curious in what the 0xFD1D machine type means. I believe the `IMAGE_FILE_MACHINE_*` values are sufficien

[2020-03-15 03:41] jkotas commented on #33269
The Windows machine types are XORed with OS-specific masks in crossgened images
https://github.com/dotnet/runtime/blob/0c610c5de7db0b97099b9d3ea1a071a1027264bc/src/coreclr/src/inc/pedecoder.h#L91 . This is done to make ensure that Windows crossgened image does not get used on Unix, and vice versa - it would result into hard to diagnose crash.

[2020-03-15 04:14] noahfalk commented on #31373
Sorry for a big reply on multiple threads of discussion. I'm working to get something in PR form so that discussion can happen inline as review comments or across multiple issues.

Right now I think the proposal roughly maps OT concepts like this:
Span.IsRecording = false -> Activity object was never allocated
Span.IsRecording=true, IsSampling=false -> Activity is allocated and started, Activity.R

[2020-03-15 04:17] danmosemsft commented on #33572
Duplicate

[2020-03-15 04:17] #33572 closed

[2020-03-15 04:34] maikebing commented on #13273
Is there a plan for this problem?

[2020-03-15 05:26] TechnologyAnimal commented on #914
Hello everyone. I recently ran into an issue with System.Net.Security.SslStream and it's really ruining my day. I asked a question on [reddit](https://www.reddit.com/r/csharp/comments/fippha/systemnetsecuritysslstream_authenticateasclient/), and some very nice person pointed me to this thread.  Details can be found in that thread, but will summarize here as well.

I [wrote code](https://github.com

[2020-03-15 06:53] #2378 closed

[2020-03-15 07:02] marek-safar commented on #31785
What metadata would you add the the method? The configuration for each RID which will be used during libraries build will be different and for some platforms (e.g. webassembly) much longer than what Jan listed in initial set. Perhaps a better example would be to use `RuntimeInformation.OSArchitecture`.

We could also embed such configuration file into System.Private.CoreLib for linker to use the d

[2020-03-15 07:09] alrz commented on #30740
Some of [JB annotations](https://www.jetbrains.com/help/resharper/Reference__Code_Annotation_Attributes.html) that I find useful at times:

- Lack of `InstantHandleAttribute﻿` on a delegate warns if we capture a disposed disposable object
- Honor `PureAttribute` and warn if return value is not used.
- `StringFormatMethodAttribute﻿` verifies valid usage of string format.
- `RegexPatternAttribute﻿`

[2020-03-15 07:10] marek-safar commented on #33327
I don't think `unix` is right parent. What rid name do you suggest based on this, is it `webassembly1.0-wasm` ?

[2020-03-15 11:27] markusmobius opened #33622 "Different default stack size across platforms"
I am using HtmlAgilityPack within a heavily threaded application to process html files. Occassionally there are badly misformed HTML files with many nested child objects which cause a stack overflow error.

HtmlAgilityPack has an option to limit child nodes:

                                //get the title
                                try
                                {

[2020-03-15 13:36] TorbenJ commented on #1931
I'm sorry for not answering, I resolved the issue in the meantime.

There was nothing wrong with the application or Docker itself, it was a combination of the internal service and the debian version used by the ASP.NET Core docker image.
Debian blocks SSL/TLS versions <= 1.0 if I remember correctly and the internal service's apache wasn't updated for some time and used TLS 1.0.

The solution is to

[2020-03-15 17:59] leopripos commented on #33508
@layomia Yes, fixed. What about core 3.1 LTS? any update plan?

[2020-03-15 20:07] mikem8361 commented on #1599
David, could I get a little more detail on what has changed in the runtime and what needs to change in the DAC.  Is this the GC change to 6 generations?

[2020-03-15 21:06] joacar commented on #32877
Great post! I‘ve read it and intend to look into it in more detail and provide an answer to your proposals. I’ll mention another potential finding (so I won’t forget it my self) and it relates to ‘in’ parameter modifier passed to a method that in turns calls ‘WriteEvent’ with that parameter fails. I’ll provide a repro when I have the opportunity.

Thanks again for a great answer, really appreciate

[2020-03-15 21:10] pcchannz opened #33609 "SocketsHttpHandler rejects certificate with RemoteCertificateNameMismatch .Net Core 3.1 linux"
Refer to this: https://github.com/dotnet/runtime/issues/26494

If I use .net core 2.2 without setting DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=0, certificate validation is good. So i guess the fix were there.

But on .net core 3.1 app, the error RemoteCertificateNameMismatch is back. There is no chainstatus and I have to disable default socket http to get it working again.

[2020-03-15 23:20] bayesfactor opened #33628 "add DataTable.WriteCSV & DataTable.ReadCSV methods"
There is a [DataTable.WriteXML](https://docs.microsoft.com/en-us/dotnet/api/system.data.datatable.writexml?view=netframework-4.8) and [DataTable.ReadXML](https://docs.microsoft.com/en-us/dotnet/api/system.data.datatable.readxml?view=netframework-4.8) method, but no native functionality for CSVs. Since CSVs are pretty much a standard of data science, and users of [R](https://cran.r-project.org/web/

[2020-03-16 01:40] caihongxu opened #33610 "Ignore invalid header line instead of throw exception"
https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d5f227d30e723/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs#L885

The logic here throws exception if an invalid header line is encountered, which caused issue when I talk to a web server that is not well designed. As a generic http client library, should the code logic be more robust so that

[2020-03-16 02:17] am11 commented on #32680
Tried building gssntlmssp in Android rootfs and hit the first blocker; looks like we would need to port Samba's libwbclient (+its dependencies https://gitlab.com/samba-team/samba/-/blob/master/nsswitch/libwbclient/wscript), which is a required dependency of gssntlmssp and missing from termux: https://github.com/termux/termux-packages/issues/4517.
created a standalone script by stitching together p

[2020-03-16 02:26] AriNuer commented on #32731
Test `Loader\\classloader\\MethodImpl\\self_override5\\self_override5.cmd` failed again.
**Job:**
[runtime-coreclr crossgen2 outerloop:20200314.1](https://dev.azure.com/dnceng/public/_build/results?buildId=560028&view=results)
**Error message:**
[code]
**Stack trace:**
`
at Loader_classloader._MethodImpl_self_override5_self_override5_._MethodImpl_self_override5_self_override5_cmd() in F:\workspace

[2020-03-16 02:37] AriNuer commented on #32725
Tests filed with same error here:[runtime-coreclr crossgen2 outerloop 20200314.1](https://dev.azure.com/dnceng/public/_build/results?buildId=560028&view=results)
**Failed tests:**
[code]
**Error message:**
[code]
**Stack trace:**
`
at JIT_Intrinsics._TypeIntrinsics_r_TypeIntrinsics_r_._TypeIntrinsics_r_TypeIntrinsics_r_sh() in /Users/runner/runners/2.165.0/work/1/s/artifacts/tests/coreclr/OSX.x64.

[2020-03-16 03:10] AriNuer opened #33611 "Test failure: Interop\\COM\\Dynamic\\Dynamic\\Dynamic.cmd"
**Job:**
[runtime-coreclr jitstressregs:20200315.1](https://dev.azure.com/dnceng/public/_build/results?buildId=560117&view=results)
**Error message:**
[code]
**Stack trace:**
`
at Interop_COM._Dynamic_Dynamic_Dynamic_._Dynamic_Dynamic_Dynamic_cmd() in F:\workspace\_work\1\s\artifacts\tests\coreclr\Windows_NT.x64.Checked\TestWrappers\Interop.COM\Interop.COM.XUnitWrapper.cs:line 334
`
**Details:**
h

[2020-03-16 03:20] AaronRobinsonMSFT commented on #33611
/cc @elinor-fung

[2020-03-16 03:21] AriNuer opened #33612 "Test failure: Interop/NativeCallable/NativeCallableTest/NativeCallableTest.sh"
**Job:**
[runtime-coreclr gcstress0x3-gcstress0xc:20200315.1](https://dev.azure.com/dnceng/public/_build/results?buildId=560162)
**Error:**
[code]
**Stack trace:**
`
at Interop_NativeCallable._NativeCallableTest_NativeCallableTest_._NativeCallableTest_NativeCallableTest_sh() in /__w/1/s/artifacts/tests/coreclr/Linux.arm.Checked/TestWrappers/Interop.NativeCallable/Interop.NativeCallable.XUnitWrappe

[2020-03-16 03:39] AriNuer opened #33613 "Assert failure(PID 2292 [0x000008f4], Thread: 2312 [0x0908]): !g_pConfig->fAssertOnFailFast() || (m_Next == FRAME_TOP) || (*m_Next->GetGSCookiePtr() == GetProcessGSCookie())"
**Job:**
[runtime-coreclr gcstress0x3-gcstress0xc:20200315.1](https://dev.azure.com/dnceng/public/_build/results?buildId=560162)
**Error message:**
[code]
**Stack trace:**
`
at Interop_NativeCallable._NativeCallableTest_NativeCallableTest_._NativeCallableTest_NativeCallableTest_cmd() in F:\workspace\_work\1\s\artifacts\tests\coreclr\Windows_NT.x64.Checked\TestWrappers\Interop.NativeCallable\Intero

[2020-03-16 03:44] AriNuer opened #33614 "Test failure:Interop\\PInvoke\\BestFitMapping\\LPStr\\ATF_PFT\\ATF_PFT\\ATF_PFT.cmd"
**Job:**
[runtime-coreclr gcstress-extra:20200314.1](https://dev.azure.com/dnceng/public/_build/results?buildId=559800)
**Error message:**
[code]
**Stack trace:**
`
at Interop_PInvoke._BestFitMapping_LPStr_ATF_PFT_ATF_PFT_ATF_PFT_._BestFitMapping_LPStr_ATF_PFT_ATF_PFT_ATF_PFT_cmd() in F:\workspace\_work\1\s\artifacts\tests\coreclr\Windows_NT.x64.Checked\TestWrappers\Interop.PInvoke\Interop.PInvoke

[2020-03-16 03:44] AaronRobinsonMSFT commented on #33613
@jkotas or @janvorli Any suggestions here on how to address this for Windows would be helpful. I have a fix for #33612, but this one seems related to the exception handling side of things that I am less knowledgable about how to mitigate.

[2020-03-16 03:53] AriNuer opened #33616 "Assert failure(PID 396 [0x0000018c], Thread: 396 [0x018c]): Assertion failed '!"Bad type in gtNewZeroConNode"' in 'System.Runtime.Intrinsics.Vector128:AsByte(System.Runtime.Intrinsics.Vector1281[Boolean]):System.Runtime.Intrinsics.Vector1281[Byte]' during 'Morph - Global' (IL size 7)"
**Job:**
[runtime-coreclr r2r-extra:20200314.1](https://dev.azure.com/dnceng/public/_build/results?buildId=559970)
**Error message:**
[code]
**Stack trace:**
`
at JIT_HardwareIntrinsics._General_NotSupported_NotSupported_r_NotSupported_r_._General_NotSupported_NotSupported_r_NotSupported_r_sh() in /__w/1/s/artifacts/tests/coreclr/Linux.arm64.Checked/TestWrappers/JIT.HardwareIntrinsics/JIT.Hardware

[2020-03-16 03:56] AaronRobinsonMSFT commented on #33613
This is easy to reproduce locally. Looks like an issue with `TestNativeCallableValid_ThrowException()` test.

https://github.com/dotnet/runtime/blob/a1af0f2ad6cf51107a636dbe280cf939abd46b34/src/coreclr/tests/src/Interop/NativeCallable/NativeCallableTest.cs#L218-L255

[2020-03-16 03:57] AaronRobinsonMSFT commented on #33614
/cc @jkoritzinsky

[2020-03-16 04:06] AaronRobinsonMSFT commented on #33613
Bah. I think this is my bad. @jkotas If I recall a conversation about exceptions and the `NativeCallableAttribute`, the expectation here is that they don't mix at all and we shouldn't even be trying to validate them right? If so I will disable those tests since I added them just to have a set of scenarios I could validate fail. Looks like on GCStress they really don't work due to the stack walking

[2020-03-16 04:26] jkotas commented on #33613
On Windows, the managed exception should get converted to SEH exception on the NativeCallable boundary.
On Unix, the managed exception should become unhanded on the NativeCallable boundary.

[2020-03-16 04:33] jkotas commented on #33613
I think we are missing "unwind and continue" on the NativeCallable boundary. @janvorli Do you have thoughts about the best way to fix that?

[2020-03-16 04:52] #33543 closed

[2020-03-16 04:58] sandreenko opened #33617 "Unoptimal codegen for Vector<T> init if Vector is not a localVar."
For a method like this:
[code]
IL for these two Vector inits will look similar:

[code]

[code]

but the generated code will be different:

[code]

[code]

Of course, the first version is better (10 bytes against 16).

The problem happens because `fgMorphOneAsgBlockOp` doesn't do that optimization for `LCL_FLD` nodes, only for `LCL_VAR`.

[fieldUnoptimalVectorT.txt](https://github.com/dotnet/runti

[2020-03-16 04:59] sandreenko commented on #33617
cc @CarolEidt That is part of what we have discussed last week, I am still preparing the main issue description.

[2020-03-16 05:41] buyaa-n opened #33618 "Implement IAsyncDisposable for XmlWriter and XmlReader"
There is some issues filed for XmlWriter about async write operation using  sync write/flush on dispose: https://github.com/dotnet/runtime/issues/29464, https://github.com/dotnet/runtime/issues/31104. From the issues apparently In ASP.NET Core 3.x for HTTP Response/Request streams now sync operation is disabled by default and throwing `InvalidOperation` when XmlWriter `Dispose()` eventually calls

[2020-03-16 06:17] jkotas commented on #13311
clean.cmd/sh scripts do not exist in dotnet/runtime repo anymore.

[2020-03-16 06:17] #13311 closed

[2020-03-16 06:18] #27985 closed

[2020-03-16 06:37] noahfalk commented on #31373
That PR is https://github.com/dotnet/designs/pull/98

[2020-03-16 06:57] scalablecory commented on #33618
If `CloseAsync` is going to call `Stream.FlushAsync`, can we make it take a defaulted `CancellationToken`?

[2020-03-16 07:12] zhxymh commented on #32848
Hi @fadimounir , The crash problem has come up again, we are now using .net core 3.1.102, and the stack information for the crash is not quite the same as last time. I share the dump file and dlls of the crash with you.

Dump file and dlls:
https://drive.google.com/open?id=1wwaIz8GQtiGU4GOfFLqMk8N8BE9PxwMU

Exception:
[code]

Environment:
[code]

[code]

[2020-03-16 07:16] DotNetAppCompatFeiWang opened #33620 "System.AccessViolationException: Attempted to read or write protected memory error in WinQuickLook app"
Application Name: WinQuickLook
OS: Windows 10 RS5
CPU: X64
.NET Build Number: 5.0.100-preview.2.20163.4
App Location:
App Source on GitHub link  : https://github.com/shibayan/WinQuickLook

Verify Scenarios:
1). Windows 10 RS5 X64 + .NET Core SDK build :   3.1 : Pass
2). Windows 10 RS5 X64 + .NET Core SDK build :   5.0.100-preview.1.20125.9: Pass
3). Windows 10 RS5 X64 + .NET Core SDK build :   5.0

[2020-03-16 08:03] handlespeed commented on #30457
@stephentoub
Submitted [#33619 ](https://github.com/dotnet/runtime/pull/33619) for System.Net.Requests, thanks.

[2020-03-16 08:57] bnayae commented on #29743
work around:
use Obsolete attribute in order to prevent direct code access (serialization is using reflection therefore ignore it)

        private string _microServiceVersion = string.Empty;
        public string MicroServiceVersion
        {
            get => _microServiceVersion;
            [Obsolete("for serialization", true)]
            set => _microServiceVersion = value;
        }

[2020-03-16 09:54] scalablecory commented on #33622
You will probably want to file a bug with the Html Agility Pack project to see if a recursionless algorithm is possible, but we should be able to answer the default stack size question.

CC @jkotas

[2020-03-16 10:27] aik-jahoda commented on #1507
Identified an issue with remote executor: dotnet/arcade#4912. I will go back once it is closed.

[2020-03-16 10:36] janvorli commented on #33622
The default stack size for a thread is platform specific and it also differs between primary thread and the secondary threads. The primary thread size limit is set when an application by the OS / OS specific runtime libraries. E.g. on Linux, it can be set by "ulimit -s" command, on many Linux distros it is 8MB by default. We can set the default stack size for the secondary threads though and we do

[2020-03-16 10:46] TamarChristinaArm commented on #24794
For such intrinsics the split is always 4 ways. the location of the `q` in the name denotes which components are `128` bits.

So for e.g. the `float` case we have

[code]

precisely because as you said the instruction doesn't require them to all be the same size.

This convention holds for newer ISAs such as `MVE`[1] and `SVE`[2] as well, though in those cases we also have completely overload driv

[2020-03-16 10:57] #33622 closed

[2020-03-16 11:13] chrisdpratt commented on #29743
@bnayae That's not a workaround. The point is to not expose a setter at all.

About the best "workaround" I've found for this is using interfaces. All my public methods return the interface, which only exposes a getter, and then the actual implementation has a setter for the sake of serialization. It doesn't stop someone from casting to the concrete type to access the setter, but using an interfac

[2020-03-16 11:26] GSPP commented on #33542
Maybe add an API that exposes all GC related properties of an object in one call? The pinnedness of the heap, generation, alignment if supported. It could return a struct which would provide extensibility for additional properties to be added in the future.

[2020-03-16 12:09] scalablecory commented on #33609
Do you have a small sample app that demonstrates this behavior?

[2020-03-16 12:11] janvorli commented on #33613
I'll take a look. It seems that we need to do what the personality routine at the UMThunkStub was doing when unwinding from the managed frame of a native callable function. That is what the UMThunkUnwindFrameChainHandler was doing. It seems we could do that somewhere down the ProcessCLRException call chain, but I need to figure out the exact details.

[2020-03-16 13:34] danmosemsft commented on #33620
@DotNetAppCompatFeiWang can you please get full native call stack? Attach VS native debugger or windbg and repro it.

[2020-03-16 14:18] jkotas commented on #2188
https://github.com/dotnet/runtime/pull/33446 added CI testing for GCC build. The master should be always buildable with GCC now.

[2020-03-16 14:20] #9760 closed

[2020-03-16 14:21] #9938 closed

[2020-03-16 14:23] #1605 closed

[2020-03-16 14:30] AraHaan commented on #31810
I personally like the docs to be in the ref and the lib dirs because then projects that depend on them sometimes copies them over to the published copy so then those who want to see what a library does can read them.

[2020-03-16 14:39] #33179 closed

[2020-03-16 14:50] vitek-karas opened #33626 "TypeManager in CSharp enumerates all attribute on an assembly - unfriendly to linker"
The code in [`Microsoft.CSharp.RuntimeBinder.Semantics.TypeManager.InternalsVisibleTo`](https://github.com/dotnet/runtime/blob/8f9920832f07ed2cceb766b44f593b1ba2417036/src/libraries/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Types/TypeManager.cs#L759-L762) calls `Assembly.GetCustomAttributes` to get all attributes on an assembly and then filters it by attribute type (`InternalsV

[2020-03-16 14:50] vitek-karas commented on #33626
/cc @eerhardt

[2020-03-16 15:14] jkotas opened #33627 "Disable warnings-as-errors in release branches"
The noisy warnings-as-errors are ongoing problem in release branches. See the discussion https://github.com/dotnet/coreclr/pull/28026#issuecomment-598952586

[2020-03-16 15:32] mdh1418 commented on #33557
In [xamarin-macios exports.t4](https://github.com/xamarin/xamarin-macios/blob/master/runtime/exports.t4) the following headers are referenced.

[code]

[2020-03-16 15:43] dseefeld opened #33631 "Remove multi-stage build for libraries when building from source"
https://github.com/dotnet/runtime/issues/29701 added a process for using GenAPI to generate non-supported assemblies in source-build.  Before 5.0, the source-build process was to build the entire repo first and then use the result to generate a tarball, providing a 2 stage build.  This worked well to use GenAPI (with prebuilts) in the initial stage to generate the assembly source to be included in

[2020-03-16 15:56] jonpryor commented on #33531
It was hit within the Xamarin part.

We have a Fix in Xamarin.Android: xamarin/xamarin.android#4394.

[2020-03-16 15:57] davidwrighton commented on #1599
No, this appears to be a long-standing issue that has been in the product for years. The issue is that the global allocation context isn't typically used in situations where verify heap is used, and thus we didn't find the problem earlier. To reproduce the issue you must configure the gc to expect there to be only 1 processor, and thus skip usage of the thread specific allocation context.

[2020-03-16 16:11] ericstj commented on #33593
@dagood looks like this might be some inconsistent path building logic in the framework packages?

[2020-03-16 16:11] #33531 closed

[2020-03-16 16:20] janvorli commented on #33613
I am actually getting a different assert when running with COMPlus_GCStress=C. It happens because the GetThread() returns NULL. So we are missing a runtime thread data structure creation when we enter the managed function on a foreign thread. I would expect the JIT_ReversePInvokeEnter to do that.

[code]

And looking into it more, I can see the cause. The `Program.ManagedCallback_Prepared(Int32)`

[2020-03-16 16:29] ericstj commented on #31785
I was thinking something like
[code]
or
[code]

I think it makes the most sense for this sort of information to be maintained parallel to the API which implements it (ideally in the same source file).  Also we should have tests that make sure that whatever information is checked in agrees with the actual API behavior on that platform.

[2020-03-16 16:31] AaronRobinsonMSFT commented on #33613
@janvorli That is issue #33612 and the fix is https://github.com/dotnet/runtime/pull/33615. I would merge in that change or comment out all other tests except for the exception ones.

[2020-03-16 16:40] tannergooding commented on #31785
Some of the metadata, such as hardware intrinsic `IsSupported` checks, won't be doable in that manner as they are dependent on the underlying or target hardware.

[2020-03-16 16:41] janvorli commented on #33613
@AaronRobinsonMSFT this is different. I have already applied your fix locally before. The disass of the managed method shows that it is not calling the JIT_ReversePInvokeEnter, so it has no place to create the native Thread object.

[2020-03-16 16:46] ericstj commented on #33631
Some initial brainstorming on this:
1. Be able to use the reference source directly (with some if-def or something) to build not-supported assemblies.
2. Make GenAPI work without pre-builts by porting to S.R.M, Roslyn, or MetadataLoadContext.
3. Make a source-rewriter that based on Roslyn that doesn't need to do the whole workload of GenAPI, but can just consume reference source and turn it into n

[2020-03-16 16:51] pakrym commented on #31373
I agree that #1 and #3 would have pretty much same perf as in DiagnosticSource solution but #2 is what I have on my mind.

I think this scenario would become way less obscure when more activities would get added thought the library ecosystem.

I'd like the new solution to be as much pay for play for producers as possible and avoid a situation where adding a listener for one or two subsystems custo

[2020-03-16 16:54] marek-safar commented on #31785
It still might be useful, for example for platforms where the intrinsics set is restricted (e.g. wasm)

[code]

How would that work for e.g. `IntPtr.Size`. Would you list every possible 32 bit rid in the values? Perhaps that could work for our build.

Note, the xml file/syntax will still be used to let users control features like System.Globalization.Invariant

[2020-03-16 16:59] buyaa-n commented on #33618
We are only using  overloads without `CancellationToken`

[2020-03-16 17:09] jkoritzinsky commented on #33592
There's limitations in the SDK around the restore and publish process for C++/CLI. I'm going to transfer this issue to the dotnet/sdk repo since they own the SDK-side of the experience.

[2020-03-16 17:11] jkoritzinsky commented on #33590
Do you have the `ijwhost.dll` deployed along-side your C++/CLI assembly? The ijwhost.dll has the native implementation of the DLL entry-point to bootstrap the .NET Core runtime.

Can you try injecting the `ijwhost.dll` into the application before injecting your C++/CLI assembly?

[2020-03-16 17:27] jkotas opened #33636 "Publishing of experimental packages"
Experimental packages `System.Runtime.Intrinsics.Experimental`, `System.Utf8String.Experimental` should:
- Not built in release branches
- Not published on nuget.org

More context https://github.com/dotnet/runtime/pull/33357#discussion_r393096741

[2020-03-16 17:29] jkotas commented on #33636
@safern Are you the right person to look into this?

[2020-03-16 17:31] safern commented on #33636
Yeah I'm who has worked most with `IsShipping*` properties to set the right outputs on official builds.

I'm assigning myself and when I have some bandwidth I'll look into it. If @Anipik or @ViktorHofer can take it first, they can happily take it. I'll ping the issue whenever I start looking into fixing it.

[2020-03-16 17:33] safern commented on #33636
I added `System.Numerics.Tensors` to the list as it is marked as experimental as well. I guess we want the same behavior for that one?

https://github.com/dotnet/runtime/blob/master/src/libraries/System.Numerics.Tensors/Directory.Build.props#L5

[2020-03-16 17:36] AaronRobinsonMSFT commented on #33613
Let me try that locally. I don't recall observing any issue with that test.

[2020-03-16 17:36] mangod9 commented on #33275
dupe of https://github.com/dotnet/runtime/issues/32731

[2020-03-16 17:44] fadimounir commented on #32848
@janvorli This callstack on the second crash looks like something you've been looking at recently. There is a dump for it here if you need one.

[2020-03-16 17:46] johmarjac commented on #33590
Hi, thanks for the answer.
I did the following changes to the `CLR Core Class Library (.NET Core)` Template of VS2019:

Switched from x86 to x64 as my target process is a x64 process.
Then in the pch.h
![image](https://user-images.githubusercontent.com/30114127/76784602-39388100-67b4-11ea-9812-b1e3a3caa987.png)
I just added the windows header.

And in my "Main.cpp" file the template created it loo

[2020-03-16 17:50] BruceForstall opened #33638 "CoreCLR test run failure: missing System.Runtime.dll"
I built using:
[code]
then tests fail with missing System.Runtime.dll:
[code]
And in fact `C:\gh\runtime\artifacts\tests\coreclr\Windows_NT.x64.Checked\Tests\Core_Root\System.Runtime.dll` does not exist.

This is the System.Runtime.dll found in my build:
[code]

What is missing?

[2020-03-16 17:51] BruceForstall commented on #33638
@jkoritzinsky @dotnet/runtime-infrastructure Any suggestions?

[2020-03-16 17:51] GrabYourPitchforks commented on #33636
If we do end up removing these packages from nuget.org, we should have readmes that provide very clear acquisition steps. For the experimental _Utf8String_ package, for instance, we have a single-line _install-package_ command listed prominently at the top of the readme.

https://github.com/dotnet/runtime/blob/master/src/libraries/System.Utf8String.Experimental/README.md

Feel free to use this as

[2020-03-16 17:55] danmosemsft commented on #33620
@AaronRobinsonMSFT i put the interop label given that's apparently the point of the AV and the code worked in 3.1

[2020-03-16 18:02] wfurt commented on #32867
That is certainly a bumpy road. Even if we have full cli for FreeBSD it is extremely difficult to use it for the build. Some c# parts are still platform dependent - Diagnostics.Process for example and without implementation build functions do no work.

My suggestion would be to start putting changes to recognize QNQ as a separate platform.    That would allow us to cross-target and build needed ma

[2020-03-16 18:06] AaronRobinsonMSFT commented on #33613
I am not seeing that locally. Using `COMPlus_jitdump=ManagedCallback_Prepared` I get the following below. I am also able to step through the Enter/Exit and run `COMPlus_GCStress=0xC` and `COMPlus_GCStress=0x3` without issue. Is there something I could be missing locally? I am using a Debug version of the runtime. Is it possible I need to try a Checked version?

[code]

[2020-03-16 18:07] eerhardt commented on #33636
I see that package as different from `Experimental` packages, which is why we didn't add the word `Experimental` to the package ID.

The difference, in my mind, is we NEVER intend to stabilize an `XXX.Experimental` package - that's why we put `Experimental` in the name. It may contains APIs that will eventually ship stable somewhere else, but this package itself (named with `Experimental`) will ne

[2020-03-16 18:08] jonpryor opened #33639 "monovm & Type.GetCustomAttributes() doesn't like interfaces"
Context: https://github.com/dotnet/runtime/issues/7190
Context: https://gist.github.com/pjcollins/a3cdf82a6e04cfafbb0ea613b769a8bb
Context: https://github.com/xamarin/java.interop/blob/bd7c60a6a5ea8abaf6f241da17c42d2d93226bf2/src/Java.Interop.Tools.TypeNameMappings/Java.Interop.Tools.TypeNameMappings/JavaNativeTypeManager.cs#L291
Context: https://github.com/xamarin/xamarin-android/tree/test-net5-d

[2020-03-16 18:11] BruceForstall commented on #33638
If I follow those build steps with:
[code]
then System.Runtime.dll is there, and running the test works.

So what is the salient difference here? Why do the first steps (above) fail, but these steps succeed?

[2020-03-16 18:12] AaronRobinsonMSFT commented on #33613
Okay. I see the issue now. I was only using a `Release` build of the test binary not a `Debug` version. I foolishly assumed the `Release` would uncover more issues than the `Debug` version.

[2020-03-16 18:16] lambdageek commented on #33583
@BrzVlad Not sure if it's obvious to you but it wasn't obvious to me: if `pinned == true`, it doesn't mean the object is kept alive forever.  But if the object is alive, it is at a fixed location. So it's like a weak but pinned gchandle. (I'm just restating what's in https://github.com/dotnet/runtime/issues/27146#issuecomment-537197630)

[2020-03-16 18:18] jkoritzinsky commented on #33638
In your first command when you’re just building libraries, that command tries to build libraries against a Release CoreCLR. From what it looks like, that command failed because you didn’t have a release build of S.P.CL. That’s why there’s only ref-assembly outputs one your output list.

In your second set of commands, you’re telling the libraries build to build against a checked CoreCLR. As a resu

[2020-03-16 18:19] danmosemsft commented on #33636
What is the status of API review of System.Numerics.Tensors - didn't at least part of it go through review?

[2020-03-16 18:19] lambdageek commented on #33639
/cc @CoffeeFlux

[2020-03-16 18:23] BrzVlad commented on #33583
Yes, that my expectation. We already have this mechanism, in order to implement this we just need to expose `mono_gc_alloc_pinned_obj` to the api

[2020-03-16 18:23] rharpavat commented on #33537
@bartonjs Would it be possible to investigate this issue? We're using the `Cryptography` namespace in a cross-platform console app that is long-running. The keychain errors detailed above are logged (sometimes several times per second) to the Console logs on macOS, which pollutes the logs/makes it hard to find other important events. It hasn't had a noticeable effect on performance/resource consum

[2020-03-16 18:24] AaronRobinsonMSFT commented on #33613
Okay. So the issue here is it appears the GC stress something is inserted prior to the new reverse P/Invoke helper Enter/Exit. See the diasm below. I don't know enough about this to be able to make a fix. Any help would be appreciated.

[code]

[2020-03-16 18:25] VSadov commented on #33583
Yes, it is just a regular object that does not move. the behavior could be implemented using some combination of weak/pinning handles.

However, the key advantage comes from not having these in regular compactible heap. If you have a heap region that does not compact (like large object heap or smth), forcing these objects to live there could be a better solution.

[2020-03-16 18:26] GrabYourPitchforks commented on #33542
Exposing a slew of GC-related properties at once assumes that they're cheap to query. That might be the case today, but I don't know if that would universally be the case moving forward for all information we might want to query about the GC or managed objects.

[2020-03-16 18:29] VSadov commented on #33583
Also note - the API currently forbids arrays with references. There are no fundamental reasons to have such restriction. It just was not clear whether anyone needs this or not.
It actually works internally, so the restriction may be relaxed if there is a demand.

[2020-03-16 18:35] jkotas commented on #33613
What is this "something"? I do not see it in the disassembly that you have shared.

[2020-03-16 18:44] AaronRobinsonMSFT commented on #33613
The `hlt` instruction. That is what I am stepping through in Visual Studio. I didn't think the `hlt` would be emitted by the JIT, but am assuming it is a part of the GC Stress mechanism that triggers an exception. The failure point here is in `ProcessCLRException()` which fails to attempt a switch to COOP mode since the reverse PInvoke hasn't called the Enter yet and a thread doesn't yet exist.

M

[2020-03-16 18:48] AaronRobinsonMSFT commented on #33613
Boo. Yep. This is done by `GCCoverageInfo::SprinkleBreakpoints()`.

[2020-03-16 18:51] AaronRobinsonMSFT commented on #33613
Therefore the question here is should I update the `GCCoverageInfo` to know about this type of helper and move beyond it or ignore methods attributed with the `NativeCallableAttribute`. Other options?

[2020-03-16 18:53] janvorli commented on #33613
The GC coverage can only instrument at places where real GC can take place. So it is rather a matter of generating correct GC info that should not make a native callable function interruptible before the JIT_ReversePInvokeEnter.

[2020-03-16 18:58] jkotas commented on #33613
I believe that the same problem exists for the regular PInvoke. The instructions can be marked as fully interuptible, but still run in preemptive mode.

Can we just create the Thread when we are doing GC stress and hit the GC stress exception handler?

[2020-03-16 19:13] mangod9 commented on #33365
I am unable to repro this failure. @AriNuer does this still repro on latest runs?

[2020-03-16 19:24] sandreenko commented on #33616
https://github.com/dotnet/runtime/pull/33457

[2020-03-16 19:31] janvorli commented on #33613
Ah, I haven't realized that the thread runs in a preemptive mode until it reaches the JIT helper. But it is weird that GC stress doesn't handle that already. And even stranger, how come Aaron's fix doesn't help, as the OnGcCoverageInterrupt with his fix is checking for NULL Thread and if it is the case, it should just silently remove the hlt and go without ever going into the ProcessCLRException.

[2020-03-16 19:38] guesshe commented on #32867
Thank you very much! Tomas. I have another thread discussing on how to port dotnet/runtime to QNX, also facing some issues there, would you please take a look at that and see if anything is of interests? 
https://github.com/dotnet/runtime/issues/33374

[2020-03-16 19:39] BruceForstall commented on #33638
@jkoritzinsky ok, the issue is I didn't build the "whole" thing release first.

In https://github.com/dotnet/runtime/issues/32991, you say to do this:
[code]

what if I want to build coreclr Checked and Release also? What is the minimal set of commands, to avoid unnecessary builds/rebuilds? Does the `libraries` subsetcategory need to be built more than once?

I.e., can I do this (1):
[code]
or (2)

[2020-03-16 19:40] jkotas opened #33643 "Change Environment.OSVersion to return actual OS version on Windows"
`Environment.OSVersion` returns quirked OS version from app manifest on Windows. Consider changing it to return the actual OS version. It's not the recommended solution, but so many times I've seen folks say that Environment.OSVersion is buggy and then go and just do the P/Invoke themselves (or parse some other string-based representation that's doing it).

Related:
- https://github.com/dotnet/des

[2020-03-16 19:43] AaronRobinsonMSFT commented on #33613
@janvorli That is because this is the `PrepareMethod()` scenario where the function is JITed from a thread that is initialized and only called on a thread that is external.

[2020-03-16 19:44] AaronRobinsonMSFT commented on #33613
@janvorli But you just pointed out to me how I think we can fix this.

[2020-03-16 19:53] GrabYourPitchforks commented on #33643
How do we intend on getting this information? The _HKLM\SOFTWARE\Microsoft\Windows NT\CurrentVersion_ reg keys?

This needs to be coordinated with the Windows team. I don't know about the other keys, but they've said in crystal clear terms that _BuildLab_ and _BuildLabEx_ keys are intended to be human-readable strings used for debugging, and applications should under no circumstance attempt to par

[2020-03-16 19:56] jkotas commented on #33643
`RtlGetVersion`. We are using this API in `System.Runtime.InteropServices.RuntimeInformation` already.

[2020-03-16 20:01] AaronRobinsonMSFT commented on #33613
@janvorli Nope. I misunderstood why this was happening. Looks like the COOP transition is happening before the call to `IsGcMarker()` which would handle the case I fixed.

[code]

[2020-03-16 20:07] AaronRobinsonMSFT commented on #33613
@jkotas Can you elaborate on this? @AndyAyersMS suggested I could update `bool emitter::emitNoGChelper(CorInfoHelpFunc helpFunc)` to have the Enter/Exit - the `CORINFO_HELP_INIT_PINVOKE_FRAME` is already present. Is that what you mean here?

[2020-03-16 20:15] janvorli commented on #33613
It seems that the call to ProcessCLRException stems from something else than the GC coverage interrupt. I can see that the CLRVectoredExceptionHandlerShim correctly detects that the Thread is null and just removes the instrumentation and returns. And then a bit later, without any other CLRVectoredExceptionHandlerShim call, the ProcessCLRException is called and crash due to the Thread being NULL. T

[2020-03-16 20:22] AaronRobinsonMSFT commented on #33613
Yep the call to `CLRVectoredExceptionHandlerShim()` is returning `EXCEPTION_CONTINUE_SEARCH` during that `hlt` for GC cover. What should it be returning?

[2020-03-16 20:22] janvorli commented on #33613
I think I've found the culprit - testing now ...

[2020-03-16 20:26] carlossanlop opened #33647 "Keeping CODEOWNERS and area-owners.md in sync"
I'd like to add my alias to this file, for all the areas I own, so I get automatically added as PR reviewer when a file in the area is modified:
https://github.com/dotnet/runtime/blob/master/.github/CODEOWNERS

But we also have this file to track area ownership:
https://github.com/dotnet/runtime/blob/master/docs/area-owners.md

And we also have the dotnet-api-docs CODEOWNERS file:
https://github.c

[2020-03-16 20:31] jkoritzinsky commented on #33638
There's also a `-librariesconfiguration` flag like the `-runtimeconfiguration` flag. Also, libraries only needs to be built once. So you could do one of the two following:

[code]

or  (this one only builds libraries once so it will be faster):

[code]

[2020-03-16 20:47] GrabYourPitchforks commented on #32247
@tarekgh, not quite sure I follow. You're suggesting that both the current APIs and the new APIs get the new behavior?

[2020-03-16 20:49] janvorli commented on #33613
Yes, I was right. The problem is that the fix @AaronRobinsonMSFT did in OnGcCoverageInterrupt in #33615 was insufficient. We also need to make sure that the CLRVectoredExceptionHandlerShim returns EXCEPTION_CONTINUE_EXECUTION when bIsGCMarker is true and pThread is NULL. We were currently returning EXCEPTION_CONTINUE_SEARCH, which resulted in the incorrect call to ProcessCLRException.

[2020-03-16 20:51] AaronRobinsonMSFT commented on #33613
@janvorli I just tested that very scenario. My plan was to update `if (pThread || fExceptionInEE)` to `if (bIsGCMarker || pThread || fExceptionInEE)` in `excep.cpp`@7982?

[2020-03-16 20:56] carlossanlop commented on #33475
I cannot repro with 3.1.

I had a spare USB drive that I formatted to NTFS, then FAT32, then ExFat. I ran your code and the "Success!" message was printed for all 3 cases.

@JeremyKuhne do you have an idea of what could be happening here?

[2020-03-16 20:57] janvorli commented on #33613
I would put the following at line 7967. That is sufficient. I believe we don't need anything from the body of the `if` you've mentioned.

[code]

[2020-03-16 20:57] tarekgh commented on #32247
I am trying to say, don't change the current APIs behavior and have the new behavior in the new exposed APIs.

[2020-03-16 21:00] janvorli commented on #33613
I also have a fix for the other issue, I will create a PR soon.

[2020-03-16 21:01] AaronRobinsonMSFT commented on #33613
I will fold the above into the previous PR so it is complete.

[2020-03-16 21:12] GrabYourPitchforks commented on #32247
So the current APIs would continue to have the behavior described below?

[code]

[2020-03-16 21:16] #33257 closed

[2020-03-16 21:22] joperezr commented on #31505
I'm not sure I follow why we would do this every time. Is it because of the concern that the assembly could be GACed? If we are only bug fixing one small thing in an assembly, doing this will introduce the possiblity of requiring BindingRedirects on the app which a lot of people want to avoid.

[2020-03-16 21:27] LarsAndreasEk opened #33649 "Does CipherSuitesPolicy require tls1.3 / openssl 1.1.1?"
Hi,

I'm trying to specify allowed ciphers in a dotnet core 3.0 api, hosted on linux, in order to be compliant with PCI DSS.

Incoming connections/Kestrel: Setting SslServerAuthenticationOptions.CipherSuitesPolicy through the HttpsConnectionAdapterOptions.OnAuthenticate hook.

Outgoing connections: Setting SocketsHttpHandler.SslClientAuthenticationOptions.CipherSuitesPolicy

However, the CipherSui

[2020-03-16 21:31] tarekgh commented on #32247
Right. I think this can be acceptable. and the new proposed APIs can provide more control over the comparison as desired.

[2020-03-16 21:33] joperezr commented on #31810
If/When we do this, we will have to make sure we consider the case where `ExcludeReferenceAssets` is set to true, because we will want to include the xmls in that case as the lib asset will be the one that the compilers will get and will need to be documented.

[2020-03-16 21:44] dagood commented on #33593
Could be. IIRC the Checked configuration should build the installer subset as Release? If that's true, then it seems the configuration isn't being set properly in the intermediate output path here (since it's trying to build Checked stuff). Something in https://github.com/dotnet/arcade/tree/master/src/Microsoft.DotNet.Build.Tasks.SharedFramework.Sdk/targets might be affecting this.

/cc @NikolaMil

[2020-03-16 21:52] GrabYourPitchforks commented on #32247
I guess one of the things bugging me is that Unicode defines 4 ways to perform case-insensitive text comparison, and `OrdinalIgnoreCase` just kind of does its own thing that doesn't match any of them. 😊 See specifically https://www.unicode.org/versions/Unicode13.0.0/ch03.pdf, Sec. 3.13, definitions D144 - D147.

Our `OrdinalIgnoreCase` attempts to detect certain cases (see the comment in the openi

[2020-03-16 21:52] vcsjones commented on #33649
Yes, OpenSSL 1.1.1 or macOS has been mentioned previously as a requirement. https://github.com/dotnet/runtime/issues/28048#issuecomment-482764569

/cc @krwq

[2020-03-16 21:54] LarsAndreasEk commented on #33649
Thanks for bringing this to my attention. Missed that comment.

Br

On Mon, 16 Mar 2020 at 22:53, Kevin Jones <notifications@github.com> wrote:

[2020-03-16 21:58] ericstj commented on #31810
The behavior you describe is an artifact of the old MSBuild non-transitive references.  This was done because otherwise you'd never see the assets from a transitive reference.  With NuGet + PackageReference this shouldn't be an issue, since projects will always receive the transitive reference, and thus the XML from the package itself.

@joperezr good point, and something we'd want to check when d

[2020-03-16 22:01] ericstj commented on #33647
cc @maryamariyan @danmosemsft @karelz @jeffhandley

I think we need to understand if we use CODEOWNERS at all or if we should have the bot(s) do notifications.

If we do use CODEOWNERS it feels pretty challenging to keep it in sync with the area-owners markdown.  It'd be nice to unify the lists.

[2020-03-16 22:10] #20509 closed

[2020-03-16 22:11] tannergooding commented on #20509
Resolved in https://github.com/dotnet/runtime/pull/31993

[2020-03-16 22:18] #31361 closed

[2020-03-16 22:26] steveisok opened #33652 "Globalization for mobile / wasm in .net5"
Attendees: @steveisok @danmosemsft @marek-safar @safern @tarekgh

We met to discuss ideas for utilizing`System.Globalization.Native` / `libicuuc`on mobile and wasm platforms.

#### Current Xamarin state
- Data is bundled in a custom format
- Can be customized (trimmed down) to whatever the app needs
- Needs to be updated within mono (reactive / handful of times a year).

#### Using ICU:
In general

[2020-03-16 22:28] noahfalk commented on #31373
No argument that this is a desirable property, in my mind the question is just that it takes a certain amount of design complexity, implementation costs, and testing costs to achieve it. On the one hand if Tarek thinks ActivitySource and filtering will be easy to restore then I'm not going to object, it feels like the long term good outcome. On the other hand I've been getting increasingly convinc

[2020-03-16 22:34] tomkerkhove opened #36035 "Introduce ISecretStore"
### Is your feature request related to a problem? Please describe.
As of today; `IConfiguration` provides integration with Azure Key Vault which is by nature a secret store, not configuration information.

### Describe the solution you'd like
I'd love to have an `ISecretStore` or `ISecretProvider` to provide a clear distinction between configuration & secret information so that it can be treated h

[2020-03-16 22:46] steveisok opened #33654 "Build icu for iOS/tvOS/Android"
In order to support globalization on mobile, we would like a custom build version so that we know / can control the binary size and have more flexibility.

- [x] Build/Package for iOS
- [x] Build/Package for tvOS
- [x] Build/Package for Android

[2020-03-16 22:52] mcarrilloco commented on #617
Hi. I am currently working on an application and hitting this issue. I just wanted to ask what are the plans for this fix. When will it be included in a release of dot net core?

[2020-03-16 22:55] jcberleur opened #33655 "dotnet publish --no-build with PublishSingleFile doesn't produce a working executable"
## Steps to reproduce

[code]

## Expected behavior
running the executable works normally

## Actual behavior
running the executable doesn't work with the error:
[code]

## Environment data
`dotnet --info` output:

[code]

[2020-03-16 23:02] Symbai commented on #617
It has been backported to 3.1.3 (besides .NET 5). The current released version for end users is 3.1.2 so you still have to wait.

[2020-03-16 23:40] BruceForstall commented on #33638
@jkoritzinsky In your second example:
[code]
The first command specified `-subsetcategory coreclr-libraries` but the `-subset` arg doesn't include any subset applicable to libraries (of which the only defined subset appears to be `all`). So does it build libraries at all, if a `-subset` is defined that doesn't include a libraries subset? If so, what is the difference between these two:
[code]
?

Y

[2020-03-16 23:50] eerhardt commented on #32862
In order to fix this, I think we will need to teach ILLink how to read `.resources` streams. ILLink can then inspect which types are present in the resource, and mark those types as "necessary".

Using reflection here is a key to the design of [System.Resources.Extensions](https://github.com/dotnet/corefx/pull/36906), which is used by WinForms/WPF when putting Images and other types as resources.

[2020-03-16 23:55] pakrym commented on #31373
It's not only about the 20x perf difference in the best case but also the way it scales:

Proposed solution has ActivityProducerCount*ListenerCount*10ns of impact
while the DiagnostiSource had ActivityProducerCount*0.5ns so every additional listener adds an overhead to every callsite.

As for if it's worth it I'd like @davidfowl to chime in.

[2020-03-17 00:02] #33611 closed

[2020-03-17 00:06] curtiswellborn opened #34713 "mcr.microsoft.com/dotnet/core/sdk:3.1-alpine The type initializer for 'Http' threw an exception - Error loading shared library lib System.Net.Http.Native: No such file or directory"
We are using .NetCore 3.1 sdk alpine image and running tests from Jenkins(i believe this is running aplpine3.11). Here is code snippet:
[code]

This seems like a similar issue to a case I found from 2018 on 2.1 and runtime: https://github.com/dotnet/runtime/issues/26326

[code]

[2020-03-17 00:08] jkoritzinsky commented on #33638
Shoot, that first command had a typo with the subsets as you noticed. It should have the `all` subset as well.

[2020-03-17 00:10] noahfalk commented on #31373
Agreed it certainly scales differently. So far I can't come up with a scenario where that scaling appears to matter? If there are scenarios that are creating 100s or 1000s of Activities per request but somehow the requests are also really fast it would be an issue - but I don't forsee that happening in practice. If we had a plausible hypothetical example I might see it differently.

[2020-03-17 00:10] dougbu commented on #33643
With the property be quirked to avoid breaking applications expecting the old behaviour? Probably something of a corner case but&hellip?

[2020-03-17 00:18] BruceForstall commented on #33638
Well, I'm still confused about the proper use of `-subsetcategory` and `-subset`, but there's no point keeping this issue open.

[2020-03-17 00:18] #33638 closed

[2020-03-17 00:27] stephentoub commented on #33643
Wasn't planning on it.

[2020-03-17 00:34] davidsh commented on #33643
It should, though, be documented as a 'breaking-change' for .NET 5.

[2020-03-17 00:35] jkoritzinsky commented on #33638
I'm really sorry for the confusion.

[2020-03-17 00:46] AndyAyersMS opened #33658 "On Stack Replacement Next Steps"
Possible next steps now that #32969 is merged, in rough order of priority.

- [ ] implement a regularly scheduled test run that enables OSR for pri1 tests on x64 windows and x64 Linux (both default OSR and with "OSR stress")
- [ ] look into the feasibility of having one OSR method cover all the patchpoints
- [ ] optionally run same set of tests with OSR and some GC and JIT stress modes
- [ ] re-en

[2020-03-17 00:46] ericstj commented on #32862
It'd need to understand the formats used by ResourceReader as well as DeserializingResourceReader.

Both formats can represent types in resources.

Here's a sample I wrote a while back to demonstrate reading the types out of a ResourceReader stream: https://gist.github.com/ericstj/b0e8537f29dabdd73f726e8fee0f49d6

For ResourceReader & DeserializingResourceReader (binary format case) it would need

[2020-03-17 00:53] AndyAyersMS commented on #33658
And if you want to try this out (x64 only):
[code]
By default a transition requires ~10,000 executions of a patchpoint. Unlike tiered compilation, transitions are currently synchronous, so there's no lag/delay once this threshold is reached.

To enable "aggressive OSR" -- where an OSR method is created the first time a patchpoint is encountered,  also set
[code]

[2020-03-17 01:00] JeremyKuhne commented on #33475
@carlossanlop deleting the hidden stuff is a pain as it keeps getting recreated. I can get it to repro if I blast the hidden folders (from an admin prompt) like follows:

[code]

I don't see the repro on .NET Framework.

[2020-03-17 01:08] JeremyKuhne commented on #33475
Note that they will come back after nuking- not sure what process does it specifically, but you have to work fast. :)

[2020-03-17 01:13] tarekgh commented on #32247
I agree then fixing them as you described in the issue.

[2020-03-17 01:54] jkotas commented on #32862
Note that the BinarySerializer path is only needed by legacy workloads (e.g. WinForms). It should not be needed by modern workloads (e.g. Blazor) unless they take dependency on a legacy component.

We should have a switch to disable use of BinarySerializer. This will solve the binary serializer problem for both ResourceReader and everything else going forward. This switch should be turned on by de

[2020-03-17 02:45] AriNuer commented on #32728
Test `tracing/tracevalidation/tracelogging/tracelogging/tracelogging.sh` failed again.
**Job:**
[runtime-coreclr crossgen2:20200315.1](https://dev.azure.com/dnceng/public/_build/results?buildId=560509&view=results)
**Error message:**
[code]
**Stack trace:**
`
at tracing_tracevalidation._tracelogging_tracelogging_tracelogging_._tracelogging_tracelogging_tracelogging_sh() in /Users/runner/runners/2.

[2020-03-17 02:52] DotNetAppCompatFeiWang commented on #33620
Add Call Stack :

# Child-SP          RetAddr           Call Site
00 00000089`4d77d4c0 00007ffa`615fbc39 WinQuickLook!WinQuickLook.WinExplorerHelper.GetSelectedItemCore(WinQuickLook.Interop.IWebBrowserApp)+0x188
01 00000089`4d77d5b0 00007ffa`615fb5d4 WinQuickLook!WinQuickLook.WinExplorerHelper.GetSelectedItem()+0x2a9
02 00000089`4d77d700 00007ffa`bedecdd5 WinQuickLook!WinQuickLook.App.PerformQuick

[2020-03-17 02:52] chenxuuu commented on #30251
@carlossanlop I have no linux envernmrnt now, and maybe WSL can't check this. I will try to find a ubuntu machine to test it

[2020-03-17 03:13] AriNuer opened #33660 "Test failure:baseservices/threading/interlocked/compareexchange/CompareExchangeTClass/CompareExchangeTClass.sh"
**Job:**
[runtime-coreclr crossgen2 outerloop:20200315.1](https://dev.azure.com/dnceng/public/_build/results?buildId=560510&view=results)
**Error message:**
[code]
**Stack trace:**
`
at baseservices_threading._interlocked_compareexchange_CompareExchangeTClass_CompareExchangeTClass_._interlocked_compareexchange_CompareExchangeTClass_CompareExchangeTClass_sh() in /Users/runner/runners/2.165.0/work/1

[2020-03-17 03:22] carlossanlop commented on #33475
Thanks, Jeremy.

It's my understanding that this folder should not be deleted or will cause unexpected problems on Windows, like the one we are seeing here. So the exception is expected, since we are not doing anything to mitigate its absence.

I'm wondering if we should prompt for a SVI folder right before `FindNextData` calls `GetData`, and if the folder does not exist, ask Windows to create it.

[2020-03-17 03:24] v-haren commented on #33616
failed again in job: [runtime-coreclr jitstress 20200315.1](https://dev.azure.com/dnceng/public/_build/results?buildId=560455&view=ms.vss-test-web.build-test-results-tab&runId=17650012&resultId=101248&paneView=debug)

failed test:
JIT/HardwareIntrinsics/General/Vector256/Vector256_r/Vector256_r.sh
JIT/HardwareIntrinsics/General/Vector128_1/Vector128_1_r/Vector128_1_r.sh
JIT/HardwareIntrinsics/Gene

[2020-03-17 03:26] AriNuer opened #33661 "Test failure:System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2.SendAsync_ConcurentSendReceive_Ok(shouldWaitForRequestBody: True, responseCode: OK)"
**Job:**
[runtime-libraries outerloop:20200316.2](https://dev.azure.com/dnceng/public/_build/results?buildId=560648&view=results)
**Error message:**
[code]
**Stack ttrace:**
[code]
**Details:**
https://dev.azure.com/dnceng/public/_build/results?buildId=560648&view=ms.vss-test-web.build-test-results-tab&runId=17652986&resultId=102974&paneView=debug

[2020-03-17 03:30] AriNuer commented on #33365
@mangod9 this test did not repro in the latest run.
[runtime-coreclr crossgen2 outerloop:20200315.1](https://dev.azure.com/dnceng/public/_build/results?buildId=560510&view=results)

[2020-03-17 03:32] mangod9 commented on #33365
thanks for confirming. Does look like it was some infra or build issue since the assembly was not found. Will close the issue for now.

[2020-03-17 03:32] #33365 closed

[2020-03-17 04:01] hez2010 opened #33662 "DateTime should accept 0 as a valid year input"
Repro:
[code]

Exception:
[code]

[2020-03-17 04:01] v-haren opened #33663 "Test failure: Interop\\NativeCallable\\NativeCallableTest\\NativeCallableTest.cmd"
failed in job: [runtime-coreclr jitstress 20200315.1](https://dev.azure.com/dnceng/public/_build/results?buildId=560455&view=ms.vss-test-web.build-test-results-tab&runId=17650420&resultId=100828&paneView=debug)

error message:
[code]

[2020-03-17 04:28] GrabYourPitchforks commented on #33662
Per [the docs](https://docs.microsoft.com/en-us/dotnet/api/system.datetime), the smallest possible value for `DateTime` is January 1, 0001 CE. This is also reflected via the [`DateTime.MinValue`](https://docs.microsoft.com/en-us/dotnet/api/system.datetime.minvalue) static member.

[2020-03-17 04:34] ahsonkhan commented on #32523
Re-opening. Please clean up the TODO comments in source that link to this issue and update nullability (these comments were introduced in https://github.com/dotnet/runtime/pull/32474).

For example:
https://github.com/dotnet/runtime/blob/385b4d4296f9c5cb82363565aa210a1a37f92d90/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonConverterOfT.cs#L70-L75

I am going to assume all t

[2020-03-17 04:57] Clockwork-Muse commented on #33662
Note too that formally there isn't a year 0000 CE - the next previous year would be 0001 BCE

(unless we're talking proleptic years, which is handy for astronomers, but isn't how anybody else uses it)
In general, if you need better date/time support, use NodaTime.

[2020-03-17 05:27] vscodewinodws commented on #33139
i was able to figure out the issue , i was downloading the .net core (download zip) and trying to build it however i never able to build it, then i checked issue found that issue was specific to git repo so i cloned the repo and simple build.cmd i was able to build .net core although there are still few errors but i got what i was looking for ,

but thing is why should downloading zip and build do

[2020-03-17 05:35] #33612 closed

[2020-03-17 05:36] AaronRobinsonMSFT commented on #33613
Fixed with #33653 and https://github.com/dotnet/runtime/pull/33615

[2020-03-17 05:37] #33613 closed

[2020-03-17 05:42] AaronRobinsonMSFT commented on #33620
I am unable to see this failure anywhere. I keep getting the following and then an immediate crash. @DotNetAppCompatFeiWang can you please collect a full DMP and leave it on the machine so someone can investigate. Thanks.

[code]

[2020-03-17 06:11] YairHalberstadt commented on #13633
Thought I'd add a link to your blogpost here @stephentoub:

https://devblogs.microsoft.com/dotnet/async-valuetask-pooling-in-net-5/

[2020-03-17 06:26] #33662 closed

[2020-03-17 06:32] rapcgutz commented on #31247
Any update regarding this issue? currently encounter this problem right now

[2020-03-17 06:35] shahinjabbar opened #50027 "Dependency injection does not work in multiple async threads include backgroundservice"
Hi.I have a service which I inject to my backgroundservice using Dependency Injection.In backgroundservice I have timer which works every 10 seconds and an additional method to send async request using the service I've injected.When I turn off my timer everything works fine,but I need stopless method that send async request every 10 seconds.I think this cause an deadlock or the service I've inject

[2020-03-17 06:37] AaronRobinsonMSFT commented on #33663
@jkotas or @davidwrighton Any idea why during [`Thread::DetachThread()`](
https://github.com/dotnet/runtime/blob/0d19a5e18a988ad52ca0c2907edeb40ba4e00d9b/src/coreclr/src/vm/threads.cpp#L882-L886) - where `fDLLThreadDetach = TRUE`, the following assert would be a hard requirement? I assume this should be generally true since we would want a proper separation to have occurred, but in this case that

[2020-03-17 06:47] sandreenko commented on #33663
@AaronRobinsonMSFT it treats calls as if they have explicit IL tail-call prefix when it can. So it creates tail calls even if they are not profitable.

[2020-03-17 06:47] AaronRobinsonMSFT commented on #33663
The issue here isn't that the thread is exiting prior to calling the exit helper, the exit helper just isn't being called here since the call to the function is being done via a `jmp` and from within that function call a `ret` is being used which means the enclosing reverse P/Invoke frame isn't being cleaned up/reset by a call to [`JIT_ReversePInvokeExit`](https://github.com/dotnet/runtime/blob/0d

[2020-03-17 06:50] AaronRobinsonMSFT commented on #33663
@sandreenko Ah. That makes sense. Thank you.

With the above knowledge, it looks like we should disable tail calls in general for functions marked with the `NativeCallableAttribute`. On the other hand perhaps the reverse P/invoke frame needs to be modified. I will need to defer to someone else to make that decision.

[2020-03-17 06:53] DotNetAppCompatFeiWang commented on #33620
Saved on the repro machine at "C:\Repro\WinQuicklook.dmp".

BTW, after launch application, don't click on notifyicon, it crashes, we ignore it because it is same on 3.0.x & 3.1.x.

[2020-03-17 06:58] davkean opened #33666 "ISourceBlock<TOutput>/IReceivableSourceBlock<TOutput> should be marked for nullability"
These interfaces should be marked as follows:

[code]

[code]

This is not an exhaustive list of nullability annotations changes for dataflow, but ones I've encountered and had to suppress warnings for not matching the source interface after we annotated our blocks.

[2020-03-17 07:30] warappa commented on #33475
Hello @carlossanlop ,
it seems to me that relying on at least one file system entry being found (i.e. SVI) is unexpected and unneccessary from an user's (read developer's) view.

Imagine a readonly media with no file system entry, which wasn't even created by Windows (therefore no SVI). Like empty CDs or USB sticks with a hardware readonly-switch or the forementioned empty (readonly) network share

[2020-03-17 07:33] TamarChristinaArm commented on #33532
Yeah that's correct

[2020-03-17 07:38] TamarChristinaArm commented on #33532
Question about these store intrinsics in general, how are you guys planning on dealing with the different addressing modes? or are you only interested in a the register addressing modes?

[2020-03-17 09:10] stephentoub commented on #13633
Thanks, @YairHalberstadt.

[2020-03-17 09:21] GSPP commented on #33542
Good point. I just thought, let's return everything that becomes available after the expensive call to `segment_of(obj)`.

[2020-03-17 09:26] marek-safar opened #33667 "Add Console output support for iOS"
Console API is still useful even on iOS where there is no terminal available. The solution we could use is to call `os_log_create` with console category. We have done something similar in Mono for such purposes https://github.com/mono/mono/blob/master/mcs/class/corlib/System/Console.iOS.cs but that implementation calls to `xamarin_log`. It'd be preferable to have the console output working without

[2020-03-17 09:26] marek-safar commented on #33667
@vargaz could you look into implementing this?

[2020-03-17 09:46] tmds commented on #14304
hi, though it has been quit here, we (@antonfirsov, @adamsitnik, @tkp1n and myself) have been working on this, I'd like to share some intermediate conclusions:
- Batching operations that are happen when epoll says they are ready using AIO has a measurable improvement on json benchmark
- Zero-byte async receives, used by Kestrel to wait until data is available without allocating a buffer, are not b

[2020-03-17 09:57] stephentoub commented on #33666
This library hasn't been annotated yet. The issue  https://github.com/dotnet/runtime/issues/2339 is tracking annotating all libraries in this repo, and  https://github.com/dotnet/runtime/pull/33644 is a PR I put up yesterday for dataflow.

[2020-03-17 09:57] #33666 closed

[2020-03-17 10:01] tmds commented on #31719
@missymessa test coredumps cannot be debugged using lldb.
I still have to check whether they can be debugged with `dotnet-dump`, but probably we want lldb to be usable also?

[2020-03-17 10:06] tmds commented on #2333
@karelz shouldn't this be 5.0 milestone?

[2020-03-17 11:25] davkean commented on #33666
Thanks!

[2020-03-17 11:57] janvorli commented on #33139
I can confirm that build doesn't work at all if it is executed from a downloaded zip file with sources (e.g. the one that one can get from the github repo site). The error is:
`C:\Users\janvorli\.nuget\packages\microsoft.build.tasks.git\1.0.0-beta2-19554-01\build\Microsoft.Build.Tasks.Git.targets(24,5): error : Unable to locate repository with working directory that contains directory 'F:\git\runt

[2020-03-17 12:00] vscodewinodws commented on #33139
then what can be done here  , although i cloned from GitHub and libs  are building now but still there are 100+ errors visual studio showing

[2020-03-17 12:41] vitek-karas commented on #33139
The failure to build without "git clone" is probably separate from VS showing lot of errors.
@vscodewinodws What project/solution are you working on? Which version of VS? What are the errors you're seeing in VS.

/cc @ViktorHofer @jkoritzinsky - any idea who should look at the build failing without git?

[2020-03-17 12:41] #33569 closed

[2020-03-17 12:45] ViktorHofer opened #33668 "Building without git is broken"
from @janvorli:

C:\Users\janvorli\.nuget\packages\microsoft.build.tasks.git\1.0.0-beta2-19554-01\build\Microsoft.Build.Tasks.Git.targets(24,5): error : Unable to locate repository with working directory that contains directory 'F:\git\runtime-master\eng'. [F:\git\runtime-master\eng\empty.csproj] C:\Users\janvorli\.nuget\packages\microsoft.dotnet.arcade.sdk\5.0.0-beta.20162.3\tools\Version.targets

[2020-03-17 12:45] ViktorHofer commented on #33139
Opened https://github.com/dotnet/runtime/issues/33668 to track this.

[2020-03-17 12:49] adamsitnik opened #33669 "Regression in non-pipelined Platform benchmarks"
It looks like I've introduced a regression to non-pipelined platform benchmarks in #2346

![obraz](https://user-images.githubusercontent.com/6011991/76857567-01821580-6856-11ea-9635-3581b56c075c.png)

This has been noticed by @sebastienros immediately, I am creating the issue with a huge delay (it was impossible to gather traces on TE machines for a while)

[2020-03-17 12:54] adamsitnik commented on #33669
It looks like most of the time is spent for waiting on a lock:

![obraz](https://user-images.githubusercontent.com/6011991/76857949-bfa59f00-6856-11ea-9166-cf4f2b389332.png)

[2020-03-17 13:01] adamsitnik commented on #33669
It looks that **only for the non-pipelined version of the platform benchmarks** the epoll thread is the only one that dispatches jobs to thread pool and spends most of the time in `EnsureThreadRequested` method

![obraz](https://user-images.githubusercontent.com/6011991/76858312-6f7b0c80-6857-11ea-87de-4680803b72c9.png)

[2020-03-17 13:10] adamsitnik commented on #33669
@halter73 could you shortly describe how the non-pipelined platform code works? What I am interested in is who spawns the task for the new connection and for how long is it executed?

I can see that it's configured here:

https://github.com/aspnet/Benchmarks/blob/master/src/BenchmarksApps/Kestrel/PlatformBenchmarks/Program.cs#L34-L39

And the actual work is done here:

https://github.com/aspnet/Be

[2020-03-17 13:21] am11 commented on #2188
For completeness, this issue is actually about build failure on official Clear Linux image, where `CFLAGS` and `CXXLAGS` are already set in the environment. Build fails with Clang the same way it fails with GCC. I think we should fix it by setting the values of these flags explicitly and conciously; more importantly this tells us that CoreCLR is not `_FORTIFY_SOURCE ` compatible: https://access.re

[2020-03-17 13:38] stephentoub opened #33671 "System.Runtime.WindowsRuntime.sln refuses to open"
It just hangs here forever:
![image](https://user-images.githubusercontent.com/2642209/76861410-f5389100-6832-11ea-9595-e943600ce47a.png)

cc: @Anipik, @ViktorHofer, @safern

[2020-03-17 13:43] ViktorHofer commented on #33671
@anipik @ercistj is this the same as https://github.com/dotnet/runtime/issues/33427?

[2020-03-17 14:21] ww898 commented on #12125
Hi @davmason, just tested `v5.0.0-preview1`. The issue is till present: `System.Environment.Version` returns `5.0.0`, but `ICorProfilerInfo3::GetRuntimeInformation` still `4.0.30319`.

[2020-03-17 14:44] eiriktsarpalis commented on #33525
Hi @soyang2828, would you mind sharing reproduction steps, sdk version and operating system? I couldn't reproduce the exception in a couple of simple examples that I tried.

My understanding of `ProcessStartInfo` is that it is meant to be passed as an argument when creating a process, and not querying it after it has been started. This is documented [here](https://docs.microsoft.com/en-us/dotnet/a

[2020-03-17 14:54] dagood opened #33672 "Create SLES 15, openSUSE Leap 15.2, Leap 16.0 dotnet-runtime-deps for libicu change"
In SLES 15 SP2, openSUSE Leap 15.2+, and openSUSE Leap 16.0+, the libicuXX_X package is taking this change to remove the `libicu` Provides clause:

https://build.opensuse.org/request/show/724939

This breaks the .NET Core package dependency. We need to create a new `dotnet-runtime-deps` package for each distro/version that depends directly on the version-specific libicu package (e.g. `libicu60_2`)

[2020-03-17 15:04] eerhardt commented on #32862
Which workloads would be above the cut line for "works great with IL linker" for .NET 5? I'm assuming Blazor and Xamarin are. What about web / micro services?

How about WPF on .NET 5? Are we enabling developers building single file Windows applications to trim their application?

For Blazor and Xamarin, my understanding is that those workloads don't use System.Resources.ResourceManager.

[2020-03-17 15:04] dagood commented on #33672
Alternative: we can give up on keeping the dependency minimal and instead depend on the `icu` package, which is built by the distro and takes a dependency on the current `libicu##_#` package. I looked into this a bit at https://github.com/dotnet/runtime/issues/3523#issuecomment-479082023.

[2020-03-17 15:06] vcsjones commented on #33525
@eiriktsarpalis you can reproduce it like so:

[code]

In .NET Framework, this does not throw an exception. In .NET Core 3.1, this throws an exception.

[2020-03-17 15:09] SteveL-MSFT opened #33673 "System.Diagnostics.Process.ProcessName returning incorrect information on Linux with .NET 5"
Moving PowerShell to .NET 5 via branch https://github.com/SteveL-MSFT/PowerShell/tree/dotnet-5

We have tests that expect the `pwsh` process to have a ProcessName of `pwsh`, but on Linux, the name is actually `ConsoleHost mai` (looks to be cut off).  Works correctly on Windows and macOS.

Note that `[System.AppDomain]::CurrentDomain.FriendlyName` returns `pwsh` as expected.

[2020-03-17 15:10] jkotas commented on #32862
Yes, this sounds about right. We are still working through the exact web / micro services to target.

They do use it for strings. Every other netcoreapp library that we ship uses ResourceManager for strings.

[2020-03-17 15:19] jkotas commented on #33663
+1

[2020-03-17 15:31] jkotas commented on #2188
@am11 Do you plan to submit a PR for this?

[2020-03-17 15:51] missymessa commented on #31719
@tmds Hi Tom, I created an issue for this feature: https://github.com/dotnet/core-eng/issues/9393

[2020-03-17 16:11] eiriktsarpalis commented on #33525
Based on what I'm reading, accessing environment variables of other processes is not supported by the windows api. TBH I'd be surprised if the opposite were the case. In that sense I'd probably treat the current behaviour as by-design, though happy to be corrected on this.

[2020-03-17 16:18] #946 closed

[2020-03-17 16:20] ericstj opened #33675 "Bundle_extraction_is_reused failed in CI"
See https://github.com/dotnet/runtime/pull/33563#issuecomment-599901920

Build failure https://dev.azure.com/dnceng/public/_build/results?buildId=561783&view=ms.vss-test-web.build-test-results-tab&runId=17679122&resultId=100000&paneView=debug

Platform: linux-x64

Error:
[code]

/cc @swaroop-sridhar

[2020-03-17 16:37] karelz commented on #2333
@tmds we won't be able to ship QUIC in 5.0 milestone -- the spec won't be finalized yet. Hence Future for now.

[2020-03-17 16:37] echesakovMSFT commented on #33532
@TamarChristinaArm

I had a discussion with @BruceForstall where we briefly discussed how we can benefit from post-index addressing modes if we had something like these:
[code]

For example, if have a loop
[code]
a user might want to do some sort of strength reduction manually and have this
[code]
and that as a result
[code]

[2020-03-17 16:41] tannergooding commented on #33532
Why can't we just detect and emit the right encoding for `baseAddr + i * 16` like we do on x86/x64?

[2020-03-17 16:44] tannergooding commented on #33532
For example, see https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABABgAJiBGAOgCUBXAOwwEt8YaBJFqVp3KzC4A3AFgAUGUq1GLdpx4Y+AobhoANABxJxEycQDM5ZrmwAzGJQBM5AMLkA3pPKvKxgGowwGaFWtaADzmADYQ2BgAfOQAsgAUoeEYAFTk2AAm6VBo5PwYuUzpMAgAlE4ubpXEAOzkAMq4nAAy4elePn4BcRlZ5ADUBUUI5KkoJXqVAL6Sk0A=

We already support optimizing things like:
[code]

into:
[code]

[2020-03-17 16:44] echesakovMSFT commented on #33532
I did not know that we are doing this on x86/x64. Thes, yes, we can.

[2020-03-17 16:45] echesakovMSFT commented on #33532
I will open an issue to track this work

[2020-03-17 16:45] SchoolGuy commented on #33672
Another possibility would be (as Microsoft ist a SUSE Partner) that you open a ticket in the Jira/Bugzilla that you need this Provide in the specfile. This does not guarantee that you get that feature for that package but at least SUSE will evaluate this.

[2020-03-17 16:46] TamarChristinaArm commented on #33532
That would make it easier to do `pre-index` addressing mode too.

e.g. `baseAddr + 16`

[2020-03-17 16:49] svick commented on #33417
@GSPP

That wouldn't work for the `IList<Memory<byte>>` case, since you can't have implicit conversions from interfaces.

[2020-03-17 16:53] echesakovMSFT opened #33676 "[Arm64] Detect and emit right addressing mode for Store intrinsics"
See the discussion after this question

cc @CarolEidt @TamarChristinaArm @tannergooding

[2020-03-17 17:03] tannergooding commented on #33676
Do we have some existing support for this in codegen/emitter? I would guess we have some support for the non-vector code paths already...

[2020-03-17 17:04] jaredpar commented on #2234
Closing as the work around has been completed and verified with core-eng

[2020-03-17 17:04] #2234 closed

[2020-03-17 17:15] davidsh commented on #33649
@wfurt

[2020-03-17 17:30] JeremyKuhne commented on #33475
@carlossanlop as we had this working in .NET Framework (please try and validate that you can't repro there either) this may be a regression from my enumeration work. It is possible I missed some special "magic" that `FindFirstFile` does, but I don't see anything obvious. I also may have missed where we handled this particular situation in the original code.

[2020-03-17 17:43] Anipik commented on #33671
No its the problem with sln file. i will take a look and fix it

[2020-03-17 17:47] guesshe commented on #33374
I managed to build the dotnet executable using clang (built for QNX specifically), but when I used ldd to check dependencies, I got following error.
ldd: /tmp/dotnet: Exec format error
The readelf command showed following required libs and they are all present on the OS.
0x0000000000000001 (NEEDED)             Shared library: [libm.so.3]
0x0000000000000001 (NEEDED)             Shared library: [lib

[2020-03-17 17:56] JeremyKuhne commented on #33475
It looks like I did mess this up. 🙏🏻 Win32 does return an error, but we used to [swallow it](https://referencesource.microsoft.com/#mscorlib/system/io/filesystemenumerable.cs,278). Thanks for reporting this, @stukselbax!

[2020-03-17 18:24] echesakovMSFT commented on #33676
You mean support for emitting an instruction with post-index addressing mode?

[2020-03-17 18:25] terrajobst commented on #32512
* Looks good
* We made some substantial changing in order of words
* ~~`AbsoluteDifferenceAdd` in #24794 should take `Vector128<T>` rather than `Vector64<T>`~~
    - Actually it's correct

[code]

[2020-03-17 18:38] richlander opened #33680 "Breaking change: Update FrameworkName to ".NET""
See: https://github.com/dotnet/runtime/blob/master/src/libraries/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/RuntimeInformation.cs#L11

This [code](https://github.com/richlander/testapps/blob/master/versioninfo/Program.cs) produces this output today (for 5.0):

**.NET Core info**
Version: 5.0.0
FrameworkDescription: .NET Core 5.0.0-previe

[2020-03-17 18:39] omajid opened #33681 "failing to build runtime on clang 10"
[Clang 10 introduces a new warning `-Walloca`](https://prereleases.llvm.org/10.0.0/rc4/tools/clang/docs/DiagnosticsReference.html#walloca). This breaks compiling runtime:

[code]

Should we disable this warning? Should we fix some uses? I know that coreclr has some extra checks (via `AllocaCheck`) and I dont think clang 10 flags those.

[2020-03-17 18:40] aL3891 commented on #13633
Coming from the blog post, this is really really cool :)

I haven't done any measurements but I can see this being beneficial for some places in our code, but I'd be worried to enable it globally. Perhaps it could be enabled with an attribute, that way you could choose the scope (method, class,assembly) and then down the line if we want it do be the default it could be a default msbuild parameter

[2020-03-17 18:48] stephentoub commented on #13633
Thanks, @aL3891.  Technically it could be done in a manner you suggest, and I considered something like that.  The main problem I hit is it adds a non-trivial amount of expensive reflection on first use of every async method, and that can contribute non-trivially to things like start-up time costs.  If we could figure out how to avoid that, it might be a very reasonable opt-in path to consider.

[2020-03-17 18:54] echesakovMSFT opened #33683 "[Arm64] More overloads for *BySelectedScalar methods"
Follow-up on https://github.com/dotnet/runtime/issues/24794#issuecomment-598976242

[code]

cc @terrajobst @tannergooding @TamarChristinaArm

One more question: do we need `rightIndex` parameter at all for `FusedMultiplyAddBySelectedScalar(Vector128<double> addend, Vector128<double> left, Vector64<double> right, byte rightIndex)` since it only can have one value (i.e. 0)

We might just have `Fused

[2020-03-17 18:55] ViktorHofer commented on #1323
Fixed by https://github.com/dotnet/runtime/pull/1525

[2020-03-17 18:55] #1323 closed

[2020-03-17 18:56] tarekgh commented on #31373
### Summary to the status of the discussions
- SpanContext.Tracestate will keep it as string per @reyang recommendation
- SpanContext.IsValid/IsRemote will not be added until we find a value for it. per @reyang recommendation. IsValid is a trivial check (context == default). IsRemote, was recommended not to added before by Liudmila.
- Added `public ActivityContext Context { get; }` to Activity cla

[2020-03-17 18:56] tmds commented on #33673
@SteveL-MSFT do you have some info on how to reproduce this?
[code]
Program.cs:
[code]
outputs:
[code]
using:
[code]

[2020-03-17 18:57] tannergooding commented on #33676
Yes, like does the JIT already support this for array indexing, etc?

[2020-03-17 19:00] jkotas commented on #33681
This specific case can be fixed by switching to a fixed size stack allocated buffer.

Is this the only use in libraries\native? I think it would be fine to shoot for no alloca under libraries\native.

[2020-03-17 19:01] terrajobst commented on #1277
* We should consider using a custom type rather than a tuple to repesent lists, because we can expose more operations later. It also means people can't do things like taking the address of the tuple field. However, the nice thing about using tuples is language syntax. But we can probably get the same benefits if we were to define implicit conversion between the two. We can also a `Deconstruct` dir

[2020-03-17 19:03] carlossanlop commented on #33475
I have a fix for this and will submit a PR soon.

[2020-03-17 19:06] SteveL-MSFT commented on #33673
So in PowerShell, the code is calling `GetProcessById()`

[2020-03-17 19:10] tmds commented on #33673
[code]
also outputs:
[code]

[2020-03-17 19:13] SteveL-MSFT commented on #33673
Let me investigate this a bit after my meeting, wrote a simple C# program and it doesn't repro.  The only change on the PowerShell side was moving from .NET Core 3.1 to .NET 5 preview.1

[2020-03-17 19:20] jkotas commented on #30724
Hit in

Test name: System.Net.Security.Tests.ApmSslStreamSystemDefaultTest.ClientAndServer_OneOrBothUseDefault_Ok(clientProtocols: Default, serverProtocols: Ssl2 | Default | Tls11 | Tls12)

[Log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-33664-merge-8f4028f3d56e41c0a6/System.Net.Security.Tests/console.d8ff6a0a.log?sv=2019-02-02&se=2020-03-27T17%3A40%3A39Z&sr=c

[2020-03-17 19:22] echesakovMSFT commented on #33532
Actually, I stand corrected when I said we can do this (well, we can but it's not that easy) - the problem with detecting a post-indexing address mode is harder than what you described on x86/x64, since during writeback stage the instruction modifies the value of a base register.

I don't think we currently do this anywhere on arm64 other than in hand-written prolog/epilog or cpObj codegen.

[2020-03-17 19:23] echesakovMSFT commented on #33676
Support for emitting all possible variants of ld1, st1 was added in #33461 - this includes post-indexing variants as well.

However, the actual optimization is harder problem and I don't think we are doing this for array indexing at the moment. (see also my comment here https://github.com/dotnet/runtime/issues/33532#issuecomment-600253398)

[2020-03-17 19:23] jkotas commented on #30724
Similar failure in the synchronous version of the test:

[code]

[2020-03-17 19:26] am11 commented on #2188
Sure, I will try to make build work on Clear Linux without needing to unset `C{XX}FLAGS`.

[2020-03-17 19:33] wfurt commented on #33537
I can reproduce it on Catalina. But I see same error even without `dotnet`.

[code]

Seems like some issue with security API. Of course .NET will trigger it when using crypto. Will check where the `errSecNoSuchKeychain` is coming from.

[2020-03-17 19:34] VSadov opened #33685 "[Pinned Object Heap] update documentation for the new public APIs"
[code]

[2020-03-17 19:38] wfurt commented on #33537
You can try to set this @rharpavat:
[code]

Or you can try to publish & run app directly without dotnet cli. It seems to be related to TLS Handshake.

[2020-03-17 19:40] aL3891 commented on #13633
I was thinking the attribute could be checked at compile time similar to CallerMemberNameAttribute (atleast that's how I think that attribute works, apologies if I'm incorrect)
Perhaps that is not possible/practical though

Still, a very cool feature for micro service apps with very chatty APIs

[2020-03-17 19:42] steveisok opened #33686 "Enable iOS build in dotnet/runtime"

[2020-03-17 19:42] #33686 closed

[2020-03-17 19:45] steveisok opened #33687 "Enable android build targets in dotnet/runtime"

[2020-03-17 19:48] steveisok opened #33688 "Enable iOS builds on CI"
WIP: https://github.com/dotnet/runtime/pull/33424

[2020-03-17 19:48] #33671 closed

[2020-03-17 19:49] steveisok opened #33689 "Enable android builds on CI"

[2020-03-17 19:51] GrabYourPitchforks commented on #32247
@tarekgh One more quick question on `ToUpperInvariant` / `ToLowerInvariant`: should they allow for producing a result string whose length differs from the input?

On Windows, the behavior of these APIs is that they iterate through the string char-by-char, changing the case of each char in isolation. Each input char maps exactly to one output char (or to itself, if no case conversion exists). So th

[2020-03-17 19:52] steveisok opened #33690 "Ensure correct packaging for iOS and Android"
iOS and Android are going to create RuntimePacks that will be consumed by the Xamarin SDK's.  In order for the to happen, we must modify the installer to not be coreclr specific.

- [x] Investigate the best way to alter the installer to take mono into account
- [x] Build installer for iOS
- [x] Validate the correct packages are created for iOS : https://github.com/dotnet/runtime/pull/34050
- [x] B

[2020-03-17 19:52] BruceForstall commented on #33532
It seems like we would want intrinsics to allow directly specifying pre-indexed or post-indexed addressing, due to writeback. I don't think the JIT will be able to optimize that in all cases.

I was wondering the APIs allow specifying a "memcpy" using LD1/ST1 with post-indexing, for example:
[code]
instead of:
[code]

In simple cases the JIT might be able to optimize this, but we shouldn't necessa

[2020-03-17 19:57] tarekgh commented on #32247
I would expose new APIs to support different length for compact reason. I saw a usage before that consumer of the APIS always assumed the same input length.

[2020-03-17 20:01] steveisok commented on #32739
for iOS, we can use the osx image, so this task is more about android.

[2020-03-17 20:02] halter73 commented on #33669
Kestrel's [ConnectionDispatcher](https://github.com/dotnet/aspnetcore/blob/f5a2245957db4aa49584cb263280687343d2d441/src/Servers/Kestrel/Core/src/Internal/ConnectionDispatcher.cs#L24) is executing the [ConnectionDelegate](https://github.com/dotnet/aspnetcore/blob/master/src/Servers/Connections.Abstractions/src/ConnectionDelegate.cs#L13) defined by [HttpApplication.ExecuteAsync](https://github.com/a

[2020-03-17 20:29] tannergooding commented on #33532
It looks like writeback in this context is the modification of (depending on the post-index overload) `Xm` (register used for offset), `Xn` (register used for address), or `SP` (stack pointer) and not writeback with regards to how the memory is being stored, is that correct?

[2020-03-17 20:30] tannergooding commented on #33532
That is, those inputs are effectively RMW?

[2020-03-17 20:31] jkotas commented on #32247
Do you have examples? We should look at how bad is this.

It is not pretty to have old broken and new correct versions of the same APIs. It has negative value in the long run. We had the same problem with floating point formatting changes, and we choose to fix the existing APIs.

[2020-03-17 20:32] echesakovMSFT commented on #33532
It's modification of `Xn` (register used for address) or a base register

[2020-03-17 20:34] tannergooding commented on #33532
Ah, yes, I see. The operation manual has the following and I misread the first if statement
[code]

[2020-03-17 20:37] adamsitnik commented on #33669
Yes, thank you very much!

I have one more question left: do I understand correctly that `BenchmarkApplication.ExecuteAsync` is executed for all the incoming requests for a given connection? Which means that it's a long running task?

I am trying to understand why after my change the `epoll_thread` spends so much time in scheduling new work on ThreadPool (and only for the platform benchmarks).

ht

[2020-03-17 20:39] elinor-fung commented on #33655
I think this is a result of specifying `--no-self-contained` in the `dotnet publish` step, but not the equivalent in the `dotnet build` step.

I believe the application is built as self-contained by default when specifying a rid. Then, the publish step is just taking that output - which has a configuration file indicating that it is a self-contained application - but not including all the framewor

[2020-03-17 20:47] halter73 commented on #33669
Correct.

Json resulting in more dispatching than pipelined plaintext makes sense since there are more requests per read in the pipelined plaintext case. I'm not sure way platform is dispatching more than middleware though. Middleware is basically built on top of the platform, so that doesn't make much sense to me yet.

[2020-03-17 20:51] karelz commented on #29247
Triage: There is option to use `WebSocket` on top of stream, which one can create from manually using `HttpClient` (a bit involved, but not rocket science).
Given that `ClientWebSocket` is not tied to `SocketsHttpHandler`/`HttpClient` in API surface and it is only implementation detail, we believe this is the best option here. Otherwise we would have to create very general extensibility model, whi

[2020-03-17 20:51] #29247 closed

[2020-03-17 20:52] karelz commented on #30330
Closing as there is not response and it is not actionable for us. If there is more info, feel free to reopen. Thanks!

[2020-03-17 20:52] #30330 closed

[2020-03-17 20:55] karelz commented on #30907
Triage: It seems there is nothing left to track. Closing.

[2020-03-17 20:55] #30907 closed

[2020-03-17 21:12] tannergooding commented on #33532
Given the instructions look to force `wback = TRUE`, would it make sense for them to simply be: `byte* Store(byte* address, Vector128<byte> value)`
Then the JIT can more easily determine whether the user intended for `address` to be mutated?

[2020-03-17 21:14] tannergooding commented on #33532
Oh, nevermind. It's only forced to `true` for the `post index` variant not the `no offset` variant

[2020-03-17 21:16] sebastienros commented on #33669
Side note, Plaintext NP is now slower than Json (NP). There might be something to dig here too.
And there is a clear regression on Plaintext NP from 3.1 to 5.0 (probably the same commit we are talking about here), but not on Json which is faster.

You might want to create a brand new Plaintext and Json app, completely independent from the current Benchmarks app to be sure we are really comparing t

[2020-03-17 21:17] tannergooding commented on #33532
Hmmm, but the native intrinsics don't seem to have variants that take anything other than `T*`, do they just have better analysis for handling/optimizing this?
Given we won't be able to have overloads for things like `array[index]`, is this not something we want to better handle in the JIT anyways?

[2020-03-17 21:18] jcberleur commented on #33655
I see

so it is more that the `dotnet build` self contained option is undocumented

[2020-03-17 21:21] swaroop-sridhar commented on #33655
This is a dup of https://github.com/dotnet/sdk/issues/10608

[2020-03-17 21:21] #33655 closed

[2020-03-17 21:27] karelz commented on #31247
@rapcgutz see the comments above -- we did not have enough data.
Please file a new issue and try to isolate the problem upfront to make it actionable for us.

[2020-03-17 21:32] swaroop-sridhar commented on #33311
I think this is a dup of  #32823

[2020-03-17 21:34] GrabYourPitchforks commented on #32247
Within the runtime and libraries:

https://github.com/dotnet/runtime/blob/1124c1ac95bf1b74b4a030fc21ef0b9f58e33b07/src/libraries/System.Private.CoreLib/src/System/MemoryExtensions.Globalization.cs#L317-L319

https://github.com/dotnet/runtime/blob/d5be85531a90aadd5e38e21e0d49bb145f39b737/src/libraries/System.Private.CoreLib/src/System/Marvin.OrdinalIgnoreCase.cs#L81-L82

https://github.com/dotnet/r

[2020-03-17 21:34] ericstj commented on #33327
The RIDs this generates are here:
https://github.com/dotnet/runtime/blob/95b7248e9ba1a4552809c24cd571d5aa60d5af48/src/libraries/pkg/Microsoft.NETCore.Platforms.Future/runtime.json#L3-L16

What should be the parent?  Linux?  Nothing at all (peer of Unix/Win)?  Keep in mind that the RID parent here isn't likely to impact native assets since there won't be any with `wasm` architecutre.  It'll likely

[2020-03-17 21:37] swaroop-sridhar commented on #33675
Seems to be a one-off failure, where a copy/execute have collided. I'm not sure whether this is within the product, or a test-fixture copy step that raced with the test execution. I was unable to reproduce the failure in master or `maryamariyan:ref-src` branches locally.

[2020-03-17 21:44] DanielRBowen commented on #707
This is fixed and can be closed.

[2020-03-17 21:46] #707 closed

[2020-03-17 21:55] ericstj commented on #33675
I believe this is like a file-in-use situation on Linux.  Does the test or product code need to account for such a file-in-use?  Often times these are one-off but common enough to require mitigations (virus scanners, search indexers).

[2020-03-17 22:00] SteveL-MSFT commented on #33673
@tmds, ok, the problem is when Thread.CurrentThread.Name is set, then the process name uses that:

[code]

[2020-03-17 22:16] CarolEidt commented on #33532
I would suspect that's the case.

I don't know why we'd need to have specific overloads for array[index] for this to be useful. In any event the memory hw intrinsics require a pointer, and it would seem that supporting post-indexing of that pointer would be desirable.

[2020-03-17 22:20] noahfalk commented on #31373
Thanks @tarekgh!

I am concerned that if we add that setter people will use it in ways that break pre-existing code. All .NET code for the past decade has been able to rely on OperationName being an immutable value. I recommend we do not add the setter and get feedback from @SergeyKanzhelev or @reyang to understand what the use case is to search for an alternate solution.

I had an open question (

[2020-03-17 22:21] tannergooding commented on #33532
I meant this more as a, `post-indexing` isn't a concept that is specific to HWIntrinsics, it is a more generally applicable scenario. Because of this, and because there are cases where we can't expose `post-indexing` specific overloads, would it make sense to just track this as a place we can/should invest further JIT improvements instead?

If we were to expose the `post-index` variant, do we have

[2020-03-17 22:25] GCascaes opened #43129 "Possible Solution idea to ChangeToken.OnChange firing several times."
### Is your feature request related to a problem? Please describe.
Yes, it is related to the problem already described in dotnet/aspnetcore#2542, which is the fact that ChangeToken.OnChange fires more than once for a single change.
I would post this idea in that issue, but it is closed, so I had to open this new one.

### Describe the solution you'd like
My solution idea, which I used in my projec

[2020-03-17 22:27] tmds commented on #33673
In https://github.com/dotnet/coreclr/pull/27182 support was added for naming Linux threads.
The implementation is using `pthread_setname_np`.

The name set for the main thread shows up in the `comm` field in `/proc/<pid>/stat` (see http://man7.org/linux/man-pages/man5/proc.5.html) which we use to determine the filename.

Previously changing the thread name was a no-op.
Maybe we should continue to

[2020-03-17 22:28] CarolEidt commented on #33532
I think it remains to be seen whether it would be better to expose this directly or to rely on the JIT to optimize it. But I suspect that the difficulties of determining that `address` is not *really* address-taken in the presumably frequent case that it's a local var are less than the difficulties of optimizing this. In any event, it would be great to know the extent to which this would be useful