[2021-09-02 16:24] karelz commented on #58439
Triage: If it fails on Win11 or Server 2022, we should investigate. It is unsupported scenario on lower OS versions.

@Glutwolf will you be able to test your scenario on one of those OS versions?

[2021-09-02 16:25] antonfirsov commented on #58378
@Wraith2 if you can link or copy here working code for HyperV, that would be also helpful for that part.

[2021-09-02 16:25] karelz commented on #58498
Triage: Exists for 2 release, nobody complained so far -> not critical for 6.0.

[2021-09-02 16:41] joeloff commented on #58561
@lewing were there any changes recently to the manifests?

[2021-09-02 16:45] #58119 closed

[2021-09-02 16:49] lewing commented on #58561
https://github.com/dotnet/runtime/pull/57270 appears to be the last change

[2021-09-02 16:52] joeloff commented on #58561
Did we take any Arcade updates? I think Peter might have made a change to deal with a file lock which added a mutex in one of the steps to parallelize the builds of the installers they saw with Android, but I've generally never had any luck with running multiple instances of WiX over the same source files at the same time.

[2021-09-02 16:54] lambdageek commented on #58556
This is a duplicate of #58062 most likely.

The stack trace looks similar:

[code]

[2021-09-02 16:56] lambdageek commented on #58556
in fact it's identical.  definitely a dupe.

[2021-09-02 16:56] #58556 closed

[2021-09-02 17:05] radical commented on #58569
cc @lewing

[2021-09-02 17:06] NikolaMilosavljevic commented on #58307
@wf-soft it sounds like this would be a request for a new functionality in .NET setup. Can you share a bit about scenarios where this would be used, perhaps there are alternatives that could be utilized?

[2021-09-02 17:12] josalem commented on #38801
This is a different failure than what is tracked in this issue. This is an occurrence of #57461

[2021-09-02 17:14] danmoseley commented on #58496
@oliinyka is this difference causing functional issues, eg., an image is corrupted, and if so on which OS? If Windows, does it repro on .NET Framework too?

As mentioned above, we are removing Linux implementation of this library, so we would likely not fix anything Linux specific and we can close this. For Windows, we will continue support but have a relatively high threshold for making fixes as

[2021-09-02 17:48] karelz commented on #57134
@pavelsavara that is a solution we are considering, assuming we know the root cause -- which is what we should check on first IMO (see https://github.com/dotnet/runtime/issues/57134#issuecomment-906878156)

[2021-09-02 17:56] al-cheb opened #58575 "Environment.OSVersion returns the incorrect value for macOS 12 Monterey"
[Environment]::OSVersion.Version.ToString()  should return 12.0.0.

Current behavior:

[code]

Expected value:
[code]

[2021-09-02 18:19] #58525 closed

[2021-09-02 18:26] Wraith2 commented on #58378
https://github.com/Wraith2/HyperVSockets it's enough to get a server process on the hyperv host and a client from a child within it connected using JsonRpc over a stream. There's windows specific stuff in there for looking up the client vitualmachine id which you'll have to provide an alternative for on linux but otherwise it should work if you can get the socket plumbed together.

[2021-09-02 18:26] #58042 closed

[2021-09-02 18:34] kunalspathak commented on #58443
Looks to be noisy, most likely will close it.

![image](https://user-images.githubusercontent.com/12488060/131898152-69a2043c-5f2f-44fe-b50a-f15d5f89b6d3.png)

[2021-09-02 18:38] JulieLeeMSFT commented on #52313
Changing to .NET 7 to revisit after #57698.

[2021-09-02 18:39] WhiteBlackGoose commented on #58522
To add a bit more details:
Here's the original method:
[code]
At the point where `return` happens, it emits a `call` on Windows, but a `jmp` on Linux.

Here's the full codegen for both linux and windows: [gist](https://gist.github.com/WhiteBlackGoose/5c567281c0b6bbac816ae0d48607ccba#file-foreachwithrangeenumeratorrawwithlocal-md).

Sorry if those details are irrelevant 😅, hope they add something t

[2021-09-02 18:50] danmoseley commented on #58049
@janvorli maybe you know?

[2021-09-02 18:50] joeloff commented on #58561
I wonder if parallelizing the commands is causing this. Long ago back in April when I started work on this I tried to speed up the builds in a similar fashion and ran into problems locally as well and ended up just making them sequential.

I wonder if https://github.com/dotnet/arcade/commit/c17de7fcb8e37291c7dff7e153cdabfdee4c5eb7#diff-ad9523f5675c0de8ffd78ea2a1b647033b2859cc9f2a25b9217f35cb6ed700

[2021-09-02 18:53] #58372 closed

[2021-09-02 18:56] janvorli commented on #58049
CoreCLR doesn't do anything to get a message into the system crashlog. We just print it to stderr. I haven't tried to look at the possibility of adding own message into the crashlog, but it would be really nice to have that. I'll try to check if there is any way to do so.

[2021-09-02 18:58] AndyAyersMS commented on #58554
Seems like another box pattern match case?

[2021-09-02 19:01] AndyAyersMS commented on #58368
Seems like the top issue could lead to bad codegen. I have a fix in testing but no simple repro.

Might consider porting this to 6.0.

[2021-09-02 19:12] AndyAyersMS commented on #58539
Crossgen2 is multithreaded by default, so that might explain the different observed failures.

[2021-09-02 19:15] mikernet opened #58581 "System.IO.EnumerationOptions.IgnoreInaccessible has undesirable behavior"
### Description

AFAICT, the purpose of `EnumerationOptions.IgnoreInaccessible` is to prevent `UnauthorizedAccessException` from occurring when doing a recursive directory search. The problem here is that it also suppresses `UnauthorizedAccessException` when the root directory being searched is inaccessible as well.

For example:
[code]

In almost all circumstances that I can think of, searching `

[2021-09-02 19:28] fanyang-mono commented on #44011
This test has been running well on Android x64 on CI lately. The runtime test infrastructure for mobile targets has been improved quite a lot during the past couple months. This issue must have been fixed. I am closing this issue now.

[2021-09-02 19:28] #44011 closed

[2021-09-02 19:38] Coder3333 opened #58583 "DbCommand.ExecuteReaderAsync throws TaskCanceledException with wrong CancellationToken"
I am witnessing this behavior in packages\netstandard.library\2.0.3\build\netstandard2.0\ref\netstandard.dll when running from a .Net Core 3.1 application.

When I call DbCommand.ExecuteReaderAsync with a CancellationToken and cancel it before it finishes, an exception is thrown that contains a TaskCanceledException buried down in the InnerExceptions.  I expect that behavior, but the issue is that

[2021-09-02 19:43] joeloff commented on #58561
@ViktorHofer is this issue in all branches? I can prep a fix for Arcade, but for RC1 it gets tricky since we either take an Arcade update into runtime or revert the previous Arcade update in RC1 and take the fix in RC2/main

[2021-09-02 19:44] mdh1418 opened #58584 "[Libraries][iOS] Microsoft.Extensions.FileProviders PhysicalFileProviderTests failure"
Discovered in unrelated PR for iOSSimulator x64 Release https://github.com/dotnet/runtime/pull/57208
[code]
Build: https://dev.azure.com/dnceng/public/_build/results?buildId=1337772&view=logs&j=accacb66-0a14-52ef-4079-6344686d9d4c&t=34fbd35e-866b-51a1-9063-fb50703b1957
Log: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-57208-merge-9e0e0de14f9742ad80/Microsoft.Exte

[2021-09-02 19:47] AndyAyersMS commented on #58539
Running with `--parallel 1` reproduces the top assert. Nominal issue is that `V06(rcx)` is becoming live while `V03(rcx)` is still live.
[code]

[2021-09-02 19:52] lewing commented on #58561
It doesn't look so frequent to me that we need to fix it for rc1 which shouldn't need many more builds.

[2021-09-02 19:53] davidvmckay commented on #51985
io_uring is a pretty sweet, modern io api in Linux kernel 5.5+
https://kernel.dk/io_uring.pdf

Uses producer-consumer ring buffers to achieve asynchrony with low-latency, high throughput, and minimal memory copies, like other notable recent architectures:
https://lmax-exchange.github.io/disruptor/files/Disruptor-1.0.pdf
https://youtu.be/Qho1QNbXBso?t=1267

[2021-09-02 20:09] AndyAyersMS commented on #58539
I suspect this is an LSRA issue? It looks like V03 is initially live only on the stack and gets loaded into RCX before its uses, but something gets confused and also claims V03 is live in RCX from method entry. This leads to the liveness conflict with V06 noted above.

Or maybe that it's V03 is single def and must-init so instead of materializing a zero in RCX and then spilling we just write 0 to

[2021-09-02 20:15] wfurt commented on #57134
Timing on loopback is not quite the same so there is _some_ value in getting to external servers. This also partially serves as interop test. But obviously we pay some price as well.

[2021-09-02 20:18] campersau commented on #58583
Looks like this code is always creating a new cancelled `CancellationToken` but it could just use the one which is passed in in the calling method. Also looks like this helper isn't really needed since it could be inlined?!

https://github.com/dotnet/runtime/blob/6714f8175ff32daa501c7061a3237fafcead88c9/src/libraries/System.Data.Common/src/System/Data/Common/AdapterUtil.Common.cs#L22

[2021-09-02 20:24] jakobbotsch commented on #58373
I have a risky fix that supports `CanBeReplacedWithItsField` of small types in morph by inserting casts when necessary. This has some CQ regressions where we zero/sign-extend multiple times, but some of these can be removed by better local assertion prop. However the change uncovers some asserts (from a somewhat unrelated but required change to insert the cast properly: fixing a `GTF_DONT_CSE` tha

[2021-09-02 20:34] stephentoub commented on #58568
Per https://github.com/dotnet/runtime/pull/58567#discussion_r701238462, any action here would likely just be updating a resource string in System.IO.Compression.

[2021-09-02 20:34] mikem8361 commented on #58517
The reason do may not be working is that that variable `Interop+PollEvent* events @ 0x7f6940bfe760` is a pointer and could be an interior pointer in the middle of an object which the do command can't handle.

[2021-09-02 20:41] wfurt opened #58587 "WinHttp tests with Tls 1.3 are failing"
This showed up in attempt to add Windows 11 test queue. We never tried to run WinHttp with TLS 1.3 before.
At this point it is not clear if this is limitation of WinHttp or if there is work we need to do at .NET.

https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-58570-merge-71d5888539224bb281/System.Net.Http.WinHttpHandler.Functional.Tests/1/console.d7f8ff6e.log?sv=2

[2021-09-02 20:46] #58335 closed

[2021-09-02 20:49] steveisok commented on #58561
I would prefer we take the fix in RC2/main if we can.

[2021-09-02 20:58] AndyAyersMS commented on #58518
Seems like the fix here is simply to remove the assert from `lvaSetVarDoNotEnregister`'s `DNER_IsStructArg` case, as we can see non-struct args reinterpreted as structs.

Doing so gives plausible codegen for the above, the local is spilled and then read past its bounds...

[code]
Or else force the (single) caller to do the check and pass a new `DNer` indicating a non-struct is reinterpreted as a s

[2021-09-02 20:58] AndyAyersMS commented on #58518
Release build will already do the right thing here, so don't see this as a 6.0 issue.

[2021-09-02 21:17] am11 commented on #56888
related gcc 11 warnings have been disabled: https://github.com/dotnet/runtime/blob/790cd89065746c3e27e95d657d301217dbb61021/eng/native/configurecompiler.cmake#L402-L404

[2021-09-02 21:52] kunalspathak commented on #58443
Are you able to reproduce regression with vs. without your change?

[2021-09-02 21:53] MihaZupan commented on #58504
We did make a change here. Can you share an example of the input/output/desired output?

[2021-09-02 21:57] SingleAccretion commented on #58443
Yes, that was how it was originally, but higher `--iterationTime` washes away the difference, so I suspect some systematic error got in the way. I also note I was not able to find any codegen differences in the calling stack of the benchmark (for my-change-vs-without-my-change or for the first commit in the cited diffs vs the last).

[2021-09-02 22:12] maryamariyan commented on #58223
We don't want to make the breaking change after we have enabled nullability.

Closing this issue. But if we wanted to obsolete the implicit conversion (recommended by @GrabYourPitchforks) we should log a new issue for that.

[2021-09-02 22:12] #58223 closed

[2021-09-02 22:26] LukeTOBrien commented on #782
I have come here after searching for a solution for my project.
I am also following the issue: https://github.com/dotnet/runtime/issues/29975

My issue is that the third party API that I am consuming uses mixed naming policy, some of the JSON properties are `snake_case` and some are `camelCase`.
Is there a way to map .NET property names to use a different policy? i.e: `func<string, JsonNamingPolic

[2021-09-02 22:39] carlossanlop commented on #20874
@isazonov What does PowerShell do when the user is on Unix, inside an NTFS drive, and sees a junction?

[2021-09-02 22:50] radical commented on #57430
Works fine with VS preview4 (rc2).

[2021-09-02 22:50] #57430 closed

[2021-09-02 22:53] kunalspathak commented on #58443
I double checked and I don't see any asm difference in benchmark. Also, it seems historically there are spikes in the test.

![image](https://user-images.githubusercontent.com/12488060/131925529-019ef124-08b6-47b1-8c84-525cd1faafc9.png)

From code alignment perspective the loop inside benchmark method `GetHue()` itself doesn't get aligned because there is a call in it, but looking at it, it looks

[2021-09-02 22:53] kunalspathak commented on #47194
Sometimes, the resolution blocks are added that breaks the contiguous flow of loop which can be bad for performance. https://github.com/dotnet/runtime/issues/58443#issuecomment-912114002

[2021-09-02 22:54] kunalspathak commented on #58443
As such, I will go ahead and close this issue as there is nothing actionable.

[2021-09-02 22:54] #58443 closed

[2021-09-02 22:58] chucker opened #58591 "[Analyzer Proposal] Warn on subsequent OrderBy calls; fix those into ThenBy"
**Brief description:**

LINQ has `OrderBy` and `OrderByDescending` methods. One might be tempted to chain calls of those to order by multiple fields. However, subsequent calls result in only the final call having an effect.

An analyzer should detect such incorrect uses, and a fixer should offer replacing them with `ThenBy` and `ThenByDescending`.

**Languages applicable:**

C# 10, VB 16.9

**Code

[2021-09-02 23:05] danmoseley commented on #21941
@joeloff asked today about getting parent process ID, for an installer scenario. I suppose the argument for returning a Process object vs GetProcessById() is to avoid races with pid recycling.

I wonder whether it would help to consider environment, command line, and parent as separate requests.

[2021-09-02 23:27] danmoseley commented on #58584
Let's include full stacks.

[code]
@mdh1418 is it surprising there's no line number? Is the pdb not getting deployed on iOSSimulator? It makes diagnosis harder.

[2021-09-02 23:37] danmoseley commented on #58584
[code]

I think this means that the last write time of the root directory of the DisposableFileSystem changed. But that is unique to this test
`RootPath = Path.Combine(Path.GetTempPath(), Path.GetRandomFileName());`

Some kind of OS delay ?

[2021-09-02 23:46] BruceForstall commented on #57919
Simpler repro case:
[code]

[2021-09-02 23:52] BruceForstall commented on #58397
Doesn't repro now

[2021-09-02 23:52] #58397 closed

[2021-09-03 00:22] BruceForstall commented on #57919
This also fails in 5.0. Moving out to 7.0.

[2021-09-03 00:28] BruceForstall commented on #57911
I don't think this meets the .NET 6 bar; moving to 7.0

[2021-09-03 00:37] BruceForstall commented on #58230
Config:
[code]

There are many cases of "RunBasicScenario failed to throw ArgumentOutOfRangeException.":

[code]

[2021-09-03 00:37] BruceForstall commented on #58230
This looks like a dup of https://github.com/dotnet/runtime/issues/58295

[2021-09-03 00:37] #58230 closed

[2021-09-03 00:50] BruceForstall commented on #58295
Doesn't repro on my 16" MacBook Pro (2019, 2.3GHz 8-core Intel Core i9). Reported failures are from Helix queue `osx.1014.amd64.open`, machines dci-macpro-03.local, dci-macpro-13. Maybe a hardware issue?

[2021-09-03 00:51] AndyAyersMS commented on #57919
Do we do something reasonable in release jits?

[2021-09-03 00:53] #58368 closed

[2021-09-03 00:55] MichalStrehovsky opened #82384 "Get rid of TemplateConstructableTypes"
While looking at a repro case with Linq.Parallel, I'm seeing we're spending *significant* amount of time in this method. Basically, whenever I break into the debugger at random intervals, stack looks like below.

It feels like `TemplateConstructableTypes` is just us saying "describing the dependencies of the individual native layout nodes is hard".

There's some context in https://github.com/dotne

[2021-09-03 01:14] VincentBu commented on #55162
Failed again in: [runtime 20210902.89](https://dev.azure.com/dnceng/public/_build/results?buildId=1339262&view=ms.vss-test-web.build-test-results-tab&runId=39243460&resultId=102298&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-09-03 01:18] VincentBu opened #58599 "Test failure tracing/eventpipe/reverse/reverse/reverse.sh"
Run: [runtime 20210902.89](https://dev.azure.com/dnceng/public/_build/results?buildId=1339262&view=ms.vss-test-web.build-test-results-tab&runId=39242296&resultId=102484&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-09-03 01:21] BruceForstall commented on #58295
There aren't too many failures, but there is a cluster recently but with various stress modes. E.g. from Kusto
[code]
I see:
[code]

@tannergooding @echesakovMSFT Can you think of any reason this test might be sensitive to the particular Mac hardware? Looks like it fails on the osx.1014 queue -- are those older machines?
[code]

[2021-09-03 02:11] AndyAyersMS commented on #58371
Was able to repro via `set COMPlus_TC_AggressiveTiering=1`... after loop weight block marking, we have blocks with max weight...
[code]
and this leads to the assert in CSE.

Since the assert is evidently just there to catch uninitialized setting of some "global" state we can express it differently.

Ideally loop reweighting would not ever lead to weights hitting max weights. That is something we s

[2021-09-03 03:10] Const-me opened #58601 "[DllImport] fails despite the DLL is already loaded"
Only happens on ARM64 Alpine Linux.

Only tested with .NET 6 but I would expect the bug to affect the rest of the Alpine Linux runtimes too.

### Steps to reproduce

Use gcc to compile a C DLL which exports a function. Place the compiled DLL into different folder, such as `linux-musl-arm64` subfolder.

Use the following code to load it from absolute path:

	[DllImport( "libdl" )]
	static extern In

[2021-09-03 03:28] richlander commented on #58463
If we switch this API to return the correct value, then do we have another to return the architecture of the process? If not, then it seems like we might be favoring one class of bugs over another.

[2021-09-03 04:49] AaronRobinsonMSFT commented on #56888
@am11 I believe this is the same or similar to https://github.com/dotnet/runtime/issues/12770.

[2021-09-03 04:52] AaronRobinsonMSFT commented on #57577
@tommcdon This is becoming a rather acute issue for local development. I am unable to debug a locally built debug/checked runtime in WinDBG without hundreds of asserts popping up.

[2021-09-03 05:08] iSazonov commented on #20874
@carlossanlop Do you ask about symbolic links? I never tested. PowerShell do nothing specific for the scenario.  It uses .Net API for file operations and sometimes p/invokes Stat()/LStat()/ReadLink(). So PowerShell behavior is entirely dependent on the underlying API.

I think we should consider WSL and non-WSL Unix scenarios separately because behavior can be highly dependent on Unix NTFS _driver

[2021-09-03 05:16] #57912 closed

[2021-09-03 05:27] muszeo opened #58603 "dotnet publish results in "There is no application host available for the specified RuntimeIdentifier" using RID "osx.11.0-arm64""
I'm using Apple silicon M1 processor, macOS Big Sur with dotnet 6 preview 7 SDK (released August 10th).

dotnet publish command with RID being "osx.11.0-arm64" results in the error "There is no application host available for the specified RuntimeIdentifier".

This RID is listed in the [runtime.json](https://github.com/dotnet/runtime/blob/main/src/libraries/Microsoft.NETCore.Platforms/src/runtime.j

[2021-09-03 05:31] am11 commented on #56888
@AaronRobinsonMSFT, yup, these seem to be similar reports of incorrect pairing of {de}allocators in different places.
The good news is that the three gcc 11 warnings are highlighting all places under coreclr on Linux, so we don't have to wait for the next mismatch to be identified by someone. I think if we un-suppress these three warnings and fix all the reported instances, it will fix both issues

[2021-09-03 05:42] #58603 closed

[2021-09-03 05:47] am11 commented on #56888
FTR, here is the quickest way to reproduce compile time errors with gcc 11:

[code]

[2021-09-03 06:10] Tornhoof commented on #58550
Do you really want to punt that to 7.0? Most, if not all, source gen errors for the JSON source generator were classified as blocking.
My reasoning:
This problem also occurs if MessagePrinter is an abstract base class, I looked through my code where an class gets the non-generic ``ILogger`` interface in the constructor (a cursory glance verifies that these are abstract), that an injected logger is

[2021-09-03 06:23] martincostello commented on #58550
For what it's worth, I found this in a library code base converting the logging which was using the nested private Log class pattern to the source generators and hit this on three classes, two of which were abstract.

I went with non-abstract for writing up the repro as it was easier to follow.

[2021-09-03 06:38] carlossanlop commented on #20874
Yes, precisely that's why I wanted to ask.

Interesting. I'm going to test it when I get a chance.

[2021-09-03 06:53] iSazonov commented on #20874
Why not? :-) Ext4 is not the only file system on Unix.

For information https://github.com/tuxera/ntfs-3g/search?q=symbolic&type=wikis

[2021-09-03 07:47] Glutwolf commented on #58439
@vcsjones Thanks for pointing me to the issue you've created, I've searched half the internet for people with a similar problem.

@wfurt @karelz I ran my code again on _Windows 11 Insider Preview (Dev Channel) - Build 22000.132_ (this was the edition I've downloaded, see specific version below) and noticed that it only works partially.

My code works with the self-signed certificate I've created w

[2021-09-03 07:56] huoyaoyuan commented on #58601
I don't know if the behavior is expected, but as a workaround you may use the `AssemblyLoadContext.Default.ResolvingUnmanagedDll` event to return the loaded library.

[2021-09-03 08:10] adamsitnik commented on #58581
@carlossanlop @JeremyKuhne could you PTAL?

[2021-09-03 08:11] deeprobin commented on #45812
@safern What is the current status of this?

[2021-09-03 08:16] Floyddotnet commented on #58568
Please reopen the Issue #24205

As you suggest in [#58567 (comment)](https://github.com/dotnet/runtime/pull/58567#discussion_r701316868) i try to create an instace of `DecompressionHandler` in my DelegatingHandler. The DelegatingHandler needs a instance of `HttpMessageHandlerStage` with is internal. I can creating a wrapping Handler around this and must copy the whole `DecompressionHandler` source

[2021-09-03 08:19] ViktorHofer commented on #58561
Just ignore the RC1 branch which won't trigger builds for much longer (as we are close to its release).

I saw this failing only in the build that I provided but there could be more. Runfo should tell.

[2021-09-03 08:22] lilinus opened #58607 "Add reciprocal and SinCos methods to IFloatingPoint"
# Background and Motivation
Suggestion for the generic math. The mentioned methods are available in Math and MathF classes. I think it would be nice to add these to the IFloatingPoint interface.

# Proposed API
[code]

Oops forgot to add api suggestion label...

[2021-09-03 08:29] eiriktsarpalis commented on #782
@LukeTOBrien it should be possible to achieve by inheriting the [JsonNamingPolicy](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsonnamingpolicy.convertname?view=net-5.0) class. In pseudocode:
[code]

[2021-09-03 08:30] #58259 closed

[2021-09-03 08:34] oliinyka commented on #58496
@danmoseley we are doing a migration from .net framework 4.7.2 windows services to .net5 linux containers.  After migration to .net5 our code works same way in windows but when we run it in linux container Save method produces different result. It can be a problem, as this byte array is used for further image processing. We just started the migration, currently it just breaks the tests, so not sur

[2021-09-03 08:38] jjliu-vmware opened #58610 "Occasionally failed to install Desktop Runtime dotnet_runtime_5.0.7_win_x86.msi"
### Description
When silently install Microsoft Desktop Runtime dotnet_runtime_5.0.7_win_x86.msi we got failures like:
[12D0:12D8][2021-08-25T01:12:28]e000: Error 0x8007000e: Failed to allocate data for message.
[12D0:12D8][2021-08-25T01:12:28]e000: Error 0x8007000e: Failed to get message over pipe
[12D0:12D8][2021-08-25T01:12:28]e000: Error 0x8007000e: Failed to pump messages during send message

[2021-09-03 08:41] pavelsavara commented on #57134
Agreed. Another benefit of Azure hosted service is that it is running on long term unchanging runtime.

[2021-09-03 08:46] deeprobin commented on #35324
Why does this need a constructor for Inner Exceptions? Is there any use case to nest Exceptions in UnreachableExceptions?

[2021-09-03 08:47] karelz commented on #58439
@wfurt if it is certificate specific, I assume we should ask Schannel to take a look. What kind of logs will they need?

[2021-09-03 08:48] BrzVlad commented on #58062
A few observations about the causes of this issue :
- happens because LLVM is generating code that reconstructs an object pointer using arithmetic operations, instead of just loading it normally into a register. The GC thus fails to pin the object.
- the issue was triggered by moving to LLVM11. LLVM9 doesn't reproduce the issue.
- this pointer computing capability seems to exist also on LLVM9, so

[2021-09-03 08:49] fitdev opened #58612 "System.IO: Allow recursive file system enumeration to continue when directory link's target does not exist"
Perhaps this should be considered holistically as part of .Net 7's improved and more integrated support of file system links into various APIs, but at the least it would be nice to add:

[code]

to prevent throwing of `DirectoryNotFoundException` when a symlink / junction is encountered during enumeration which has invalid (non-existing) target, as often it is valuable to continue enumeration rega

[2021-09-03 08:58] am11 commented on #56888
@josalem, while going through these compiler warnings, I noticed that in `dotnetruntimeprivate.cpp` we have generated functions like:

[code]
In this case `    if (!success)` and `    if (!fixedBuffer)` are dead blocks and we seem to have a memory leak as we never delete the `buffer` (because there was no call to `WriteToBuffer`.
I am not sure what is the bug, either:
* we need to fix the conditio

[2021-09-03 08:59] ViktorHofer commented on #58168
@NikolaMilosavljevic when you remove the "untriaged" label please set a milestone.

[2021-09-03 09:03] #57710 closed

[2021-09-03 09:07] ViktorHofer commented on #57218
@jeffschwMSFT can someone on your team please take a closer look?

[2021-09-03 09:08] hhao01-becls opened #58650 "Different number decimal separators for the culture fr-CH in different environments"
### Description

I find a weird thing, and I'm not sure this is a bug or not.
Our code needs to convert the number from string to double for different culture. But when we handle the culture **fr-CH**, we find the inconsistent behavior between local development environment (Win10 x64, VS 2019 with .NET Core 5.0.400) and Azure App Service environment (Windows x64, .NET Core 5.0.204).

You can find

[2021-09-03 09:09] karelz commented on #58568
We should not reopen #24205. It was closed 2 years ago.
What has changed since it was closed is that we have 1 more upvote (in last 2 years), therefore the original reasoning for its closure still stands.

[2021-09-03 09:15] ViktorHofer commented on #51601
Fixed with the GenFacades fix in the Arcade repo.

[2021-09-03 09:15] #51601 closed

[2021-09-03 09:16] Floyddotnet commented on #58568
because it's closed there are no upvotes, because there are no upvotes it stays closed?

What did you think about my posted solutions? or does the discussion end with: "bad luck" / "not solvable" / "wont be solved in any way"

[2021-09-03 09:16] ViktorHofer commented on #46484
Closing as we are moving onto alpine 3.13 and 3.14 for testing.

[2021-09-03 09:16] #46484 closed

[2021-09-03 09:17] ViktorHofer commented on #49069
Closing as mitigated with https://github.com/dotnet/runtime/commit/b0ba53a8f051079ac14726554fbb6aceeba2fe61.

[2021-09-03 09:17] #49069 closed

[2021-09-03 09:20] ViktorHofer commented on #52622
Closing as I haven't seen this again. This was probably mitigated with the removal of the default netstandard.dll reference in source assemblies which caused them to rebuild every time.

[2021-09-03 09:20] #52622 closed

[2021-09-03 09:23] ViktorHofer commented on #50739
@ericstj can this issue be closed given that https://github.com/dotnet/arcade/pull/7643 was merged?

[2021-09-03 09:24] ViktorHofer commented on #53550
@ericstj as this issue still targets 6.0, do you have someone to work on it?

[2021-09-03 09:26] ViktorHofer commented on #54341
Fixed with https://github.com/dotnet/runtime/commit/56894f09aaac6e635136dec68dfc174159911796

[2021-09-03 09:26] #54341 closed

[2021-09-03 09:26] Floyddotnet commented on #58568
Please don't get me wrong. I think the .net framework is great and I admire your work. But this attitude "it can't be what can't be" I already know from another big opensource community and I find it frustrating and disheartening.

there are people who have a real problem. there are easy ways to solve the problem, but everything is blocked with "private", "internal" or "sealed". then you offer a s

[2021-09-03 09:29] BrzVlad commented on #57544
this has been fixed

[2021-09-03 09:29] #57544 closed

[2021-09-03 09:30] ViktorHofer commented on #58455
Fixed with https://github.com/dotnet/runtime/commit/b8b42ba93092225381424fa09180b65f4c91def3

[2021-09-03 09:30] #58455 closed

[2021-09-03 09:31] ViktorHofer commented on #58214
@Anipik can this be closed now?

[2021-09-03 09:33] ViktorHofer commented on #53930
cc @trylek @hoyosjs @tommcdon

[2021-09-03 09:37] iconics-milan opened #58614 "Calling Abort() or Dispose() on a server WebSocket originating from a HttpListener does nothing on Linux"
### Description

Calling Abort() or Dispose() on a server WebSocket originating from a HttpListener does nothing with the underlying TCP connection, when run on Linux. The connection simply remains open.
On Windows, it properly aborts the TCP connection.

### Configuration

Tried on .NET Core 2.1, 3.1, 5.0 on Ubuntu - all with the same result.
Works on Windows with all these versions.

### Code

T

[2021-09-03 09:44] huoyaoyuan commented on #58607
They are more about low-level optimization, when you know the hardware support for some specific type, and looks unsuitable for generic. The interface should contain primitive methods only.

[2021-09-03 10:04] lateralusX commented on #57461
Found a case where we can set streaming_thread to NULL after the session have been freed on different thread (from IPC close command), https://github.com/dotnet/runtime/pull/58615.

streaming_thread is first field of the session struct, and looking at the m_pFirstBlock in AllocMemTracker it also seems to be the first field in that struct. It is possible for IPC thread to disable the session (trigg

[2021-09-03 10:09] karelz commented on #58568
@Floyddotnet

We can edit the number of duplicated reports, or if there is suddenly spike in interest, another issue (like this one) can be upvoted and connected to the old one.
If we reopen the old one now, the key question is: What has changed since the last time we closed it?
Note that we are keeping this one open for another round of triage. I am just suggesting to not reopen the old one, that

[2021-09-03 10:13] karelz commented on #57888
Fixed in 6.0 RC2 in PR #58460.
Fixed in 7.0 in PR #58296.

[2021-09-03 10:13] #57888 closed

[2021-09-03 10:22] karelz opened #58616 "System.Runtime.Tests Outerloop "killed" on Debian.10 and Debian.11"
PR #58129 hit 4 times this failure:
[code]

Seems related to #56567

Not sure how to query Kusto to see all these failures. I bet they will be fairly common ...

[2021-09-03 10:24] karelz commented on #57929
Reopening to track backport to 6.0

[2021-09-03 10:39] karelz commented on #57537
Reopening to track port to 6.0

[2021-09-03 10:43] akoeplinger commented on #39233
should we add this to the 7.0 milestone? it seems important enough to me so it doesn't get lost in the Future milestone.

[2021-09-03 10:47] Floyddotnet commented on #58568
Thank you for the detailed reply. I agree with many points, but not with all.

That's wrong. stephentoub commentar refers to mine at: [#58567(comment)](https://github.com/dotnet/runtime/pull/58567#discussion_r701255651)

in [#58568 (comment)](https://github.com/dotnet/runtime/issues/58568#issuecomment-912352158) i didn't go into this because we already agreed on this improvement. sorry for the amb

[2021-09-03 10:49] roji commented on #58583
@Code3333 I'm assuming you are using System.Data.SqlClient or Microsoft.Data.SqlClient, can you please confirm (and say which one)?

This is actually a problem - async APIs are expected to raise a TaskCanceledException directly when cancellation occurs, without wrapping it; this is important to get the proper Status in the resulting Task (i.e. Canceled rather than Faulted). Assuming you're on SqlC

[2021-09-03 11:02] Wraith2 commented on #39233
It would be good to identify the desired behaviour and then find a way to make the native lib support that. At the moment the optimization is for peak large read throughput but that causes small reads to suffer high buffer consolidation overhead in the native side.

[2021-09-03 11:15] MichalStrehovsky opened #58619 "Support variance in IDynamicInterfaceCastable"
We might be able to allow interfaces that are compatible through variance to be returned from Getinterfaceimplementation.

[2021-09-03 11:49] vcsjones commented on #58439
P521 is a somewhat rare choice for an HTTPS certificate and not all platforms support it. I don't believe all Apple platforms support it for HTTPS, either. I'm not aware of documentation for SChannel however.

Also public CAs are not allowed to issue p521 certificates, only p256 and p384.

[2021-09-03 12:16] karelz commented on #58568
As I said, I didn't read everything. At minimum, this issue lacks some context / summary of what was discussed elsewhere. The fact the discussion is / was happening in 2 places is not helping ...

I will disagree here. Bunch of APIs have many more upvotes. While not everyone will comment or upvote, many folks will. Therefore you can treat it as a sampling method. If only 3 people cared enough to r

[2021-09-03 12:29] jakobbotsch commented on #58063
Andy suggested that the regression might be because of native PGO and after rebuilding a release build with PGO off I see almost no difference (0.03% more retired instructions), so gonna mitigate by making the weights doubles and also by introducing epsilon in the above.

[2021-09-03 12:32] Const-me commented on #58601
@huoyaoyuan Workarounds do exist. Personally, I have used the [SetDllImportResolver](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.nativelibrary.setdllimportresolver?view=net-5.0) method.

Still, the whole point of .NET runtime is to provide a good enough abstraction over the underlying CPUs and operating systems.
Manually calling LoadLibrary worked for decades with `[

[2021-09-03 12:36] Szer opened #58622 "Allow tail call optimization for call + nop + ret"
At the moment JIT could eliminate tail calls with `call+ret` or `callvirt+ret` patterns.

There is a known problem in F# compiler where it emits `nop` instruction in between `call` and `ret` instructions even in `Release` mode
https://github.com/dotnet/fsharp/issues/6026

Unfortunately @dsyme decided not to fix that issue.

My proposal is to add 2 more patterns for JIT to eliminate tail calls: `ca

[2021-09-03 12:38] Coder3333 commented on #58583
@roji I updated my original issue.  This happens with both versions of SqlClient and the exception is wrapped in an AggregateException, instead of throwing a TaskCanceledException directly.

[2021-09-03 12:43] EgorBo commented on #58622
@jakobbotsch I'll take a look if you don't mind since I'm currently inspecting tailcall related sources

[2021-09-03 12:50] akutsyk opened #58623 "Unexpected using clause behaviour in some cases"
### Description
Hi,
I was working with simple method where 2 using() calls present.
The issue happens when I changed using to new style of using() usage without braces.
'memory' variable doesn't contain bytes result until I manually close GZipStream.

I know from https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/using-statement
`The newer using statement syntax translates

[2021-09-03 12:51] jakobbotsch commented on #58622
@EgorBo Sure, but I'm not really sure I understand the issue. @Szer is F# generating `tail./call/nop/ret`? From my reading it sounds like F# is generating `call/nop/ret` (without tail. prefix), but only in debug in which case we are not going to do any tailcall optimization in any case.

[2021-09-03 12:52] EgorBo commented on #58622
@jakobbotsch I'm seeing an actual nop here for Release as well (in ILDasm) sharplab doesn't render it

[2021-09-03 12:53] karelz opened #58624 "Test failure: PostAsyncNonDuplex_ServerCompletesResponseBodyThenResetsStreamWithNoError_SuccessAndRequestBodyCancelled"
Test type: `System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2`

Failures 3/12-9/3 (incl. PRs)

Day | Run | OS
-- | -- | --
3/17 | PR #49777 | Windows.10.Amd64.Server19H1.Open
3/23 | PR #49414 | OSX.1015.Amd64.Open
5/8 | PR #51772 | OSX.1015.Amd64.Open
6/12 | PR #53752 | OSX.1015.Amd64.Open
7/12 | PR #55493 | OSX.1015.Amd64.Open
7/23 | Official run | OSX.1014.Amd64.Open
8/17 | PR #57303

[2021-09-03 12:54] Szer commented on #58622
@jakobbotsch F# generates `nop` between `call` and `ret` even in Release (you should check ildasm output or just run the example I provided, it will fail with SO) which Don Syme decided not to fix and that blocks JIT to eliminate that tailcall.

If you remove that `nop` example above should run without SO

[2021-09-03 12:58] jakobbotsch commented on #58622
It's still only guaranteed if it is `tail.` prefixed. If the nop is removed it might work on x64 and ARM64, but it will still fail on x86 or ARM32.
It sounds fine to me to do opportunistic tailcalls even with nops, but I don't think it reliably solves the issue.

[2021-09-03 13:00] karelz opened #58625 "Test failure: PreAuthenticate_FirstRequestNoHeader_SecondRequestVariousStatusCodes_ThirdRequestPreauthenticates"
Test type: `System.Net.Http.Functional.Tests.SyncHttpHandler_HttpClientHandler_Authentication_Test`

Failures 3/12-9/3 (incl. PRs):

Day | Run | OS
-- | -- | --
9/2 | PR #58559 (release/6.0) | SLES.15.Amd64.Open
9/2 | PR #57879 (release/6.0) | SLES.15.Amd64.Open

Failure:
[code]

[2021-09-03 13:08] karelz opened #58628 "Test failure: Expect100Continue_WaitsExpectedPeriodOfTimeBeforeSendingContent"
Test types:
- `System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_Cancellation_Test_Http2`
- `System.Net.Http.Functional.Tests.SyncHttpHandler_HttpClientHandler_Cancellation_Test`

Failures 3/12-9/3 (incl. PRs):

Day | Run | OS | Test
-- | -- | -- | --
8/25 | Official run - release/6.0-rc1 | SLES.12.Amd64.Open | SocketsHttpHandler_HttpClientHandler_Cancellation_Test_Http2
8/27 |

[2021-09-03 13:12] Szer commented on #58622
@jakobbotsch I do realize it is UB, but if I'm forced to do ildasm+ilasm fixes, Im totally ok with that :)

[2021-09-03 13:15] karelz opened #58629 "Test failure: PostAsyncExpect100Continue_NonSuccessResponse_RequestBodyNotSent"
Test type: `System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2`

Failures 3/12-9/3 (incl. PRs):

Day | Run | OS
-- | -- | --
7/27 | Official run | OSX.1013.Amd64.Open
8/17 | PR #57223 (main) | OSX.1014.Amd64.Open
9/1 | PR #55362 (main) | OSX.1015.Amd64.Open

Failure:
[code]

[2021-09-03 13:15] karelz commented on #58629
Similar to #58624

[2021-09-03 13:20] jakobbotsch commented on #58622
It seems to me that the underlying issue is that F#'s analysis of when to insert tail. prefix is too conservative. It does not insert it here because of the byref parameter, even though one can statically do the analysis to determine that the byref never points locally (the JIT is doing an approximation of this analysis, which is why it is able to do the tailcall as an optimization). Ideally the F

[2021-09-03 13:22] dsyme commented on #58622
Some notes:

* The F# compiler doesn't emit a `tail.` in the linked example because a byref is being passed - and it never emits `tail.` in such situations.

* So from the point of view of the F# compiler this is according to spec.  For example, if we had "non-tailcall warnings" in F#, we'd always emit a warning at this point, regardless of what the JIT does on a specific platform.

* Programmers

[2021-09-03 13:22] fanyang-mono commented on #55162
This is a dup of https://github.com/dotnet/runtime/issues/58062

[2021-09-03 13:22] #55162 closed

[2021-09-03 13:30] lambdageek commented on #55162
@ViktorHofer @VincentBu hey folks, just FYI: when you get failures like this, the "Error message" in AzDO is usually cut off: it only seems to include the stack trace from one thread (usually not the failing one).  If you go to the "Attachments" tab and look at the console log, you can get the rest of the crash.

For example in the most recent failing run it's "Thread 1" that has the actual crash

[2021-09-03 13:31] #58394 closed

[2021-09-03 13:34] karelz opened #58631 "Test failure: SendRecv_0ByteReceive_Success"
Test types:
- `System.Net.Sockets.Tests.SendReceive_Eap`
- `System.Net.Sockets.Tests.SendReceive_SyncForceNonBlocking`

Failures 3/12-9/3 (incl. PRs):

Day | Run | OS | Test
-- | -- | -- | --
4/21 | Official run | OSX.1014.Amd64.Open
6/2 | PR #53538 | Centos.8.Amd64.Open | SendReceive_SyncForceNonBlocking
6/8 | Official run | OSX.1013.Amd64.Open
6/10 | PR #52800 | OSX.1015.Amd64.Open
6/25 | Offici

[2021-09-03 13:36] paulomorgado commented on #33797
is there an issue like this for `HashSet<T>`?

* Don't guard `HashSet<T>.Remove(item)` by `HashSet<T>.Contains(item)`?
* Don't guard `HashSet<T>.Add(item)` by  `HashSet<T>.Contains(item)`?

[2021-09-03 13:44] EgorBo commented on #58622
I think it's inevitable due to ABI differences and happens even today, e.g. https://github.com/dotnet/runtime/issues/58522#issuecomment-911955964

[2021-09-03 14:00] akoeplinger commented on #58213
@mmitche https://github.com/dotnet/emsdk/pull/71 was merged, can we close this?

[2021-09-03 14:02] dsyme commented on #58622
My understanding is this:

- In practice .NET implements the "tail." instruction sufficiently uniformly on all platforms to allow a language like F# to give a tailcall guarantee in specific circumstances. This subset of tailcalls is consistently implemented across all platforms and under strong test.  If this guarantee gets violated for future platforms, we will know about it.  There may be some e

[2021-09-03 14:19] Szer commented on #58622
So in general, this tail call elimination was present in .NET Framework age even before .NET Core, so this particular change is not something new, but rather make same optimization wider and more consistent.

As a neat side effect it fixes some inevitable `nop`s in F# code :)

And I'm fully agree that it should be fixed on language level as well, making F# even more intelligent.
That byref example

[2021-09-03 14:20] teo-tsirpanis opened #58633 "The JIT generates suboptimal code when comparing the same values many times."
### Description

Consider the following snippet:

[code]

Now look at how these methods are JITted:

[code]

The first method was written with the intention to compare the two integers only once, yet it was compiled in a very naive and suboptimal way, comparing the numbers, storing `0`, `1`, or `-1` depending on the result, and then comparing again that value to decide what to return. In the worst

[2021-09-03 14:29] marek-safar commented on #35401
Closing as it seems there is general consensus that the .NET Core behaviour for the legacy assemblies is reasonable and .NET6 mobile workloads have added the references automatically to simplify the migration.

[2021-09-03 14:29] #35401 closed

[2021-09-03 14:41] EgorBo commented on #58633
Interesting that for the second case clang/LLVM emits an even worse asm (well, it's branchless but has two cmp and a cmov so it might be even slower than what we emit in a benchmark): https://godbolt.org/z/roYMfaoTd

[2021-09-03 14:46] AaronRobinsonMSFT commented on #58619
I believe the first attempt here will be updating the following to use `IsAssignableTo`.

https://github.com/dotnet/runtime/blob/918e6a9a278bc66fb191c43d4db4a71e63ffad31/src/coreclr/System.Private.CoreLib/src/System/Runtime/InteropServices/DynamicInterfaceCastableHelpers.cs#L37-L38

There is likely other fallout here and we need to think about how IDIC works with variance in general.

[2021-09-03 14:47] steveharter opened #58638 "JSON source gen doesn't detect [JsonNumberHandling] when applied to POCO"
The attribute is ignored, causing number-based properties to be written as integers, for example, instead of a string.

Repro:
[code]

Outputs `{"Id":0}` instead of the expected `{"Id":"0"}`

Also when applying `[JsonSourceGenerationOptions(GenerationMode =JsonSourceGenerationMode.Serialization)]` to the context, a compile-time (or run-time based on current expected behavior) should occur since fa

[2021-09-03 14:53] #58213 closed

[2021-09-03 14:55] eerhardt opened #58639 "Add back StructWithPublicDefaultConstructor test"
With the discussion in https://github.com/dotnet/runtime/issues/49069, we removed the StructWithPublicDefaultConstructor test in https://github.com/dotnet/runtime/pull/49133 in order to not ship the `TestStructs` assembly.

Now that C# 10 has [parameterless constructors in struct](https://github.com/dotnet/csharplang/issues/99) support, we can make this test without depending on the `TestStructs`

[2021-09-03 15:10] jakobbotsch commented on #58622
That's correct.

Depending on the platform that might be true. The reverse is also true -- we do more tailcalls in .NET core than in .NET framework. But we don't guarantee that optimizations done in .NET framework are also done in .NET core and vice versa.

[2021-09-03 15:13] dsyme commented on #58622
My position is this:  the spec of when tailcalls are taken is fundamentally part of the *programming model*, not its *implementation*.   This means that each time "extra" tailcall optimizations are added, expanded or adjusted the programming model changes, and guidance must be rewritten, and programmers re-educated.  And changing the tailcall spec should, for example, ideally always be associated

[2021-09-03 15:14] progmars commented on #39835
I'm wondering what should I do if I want to combine both - system trust store and my own root certificate? It seems strange that X509ChainTrustMode both modes are exclusive. I imagined CustomTrustStore would work as an addition to the system trust store, as if I had temporarily installed my custom root cert into the system Trusted Root store.

If the combination of both stores is made possible, it

[2021-09-03 15:24] EgorBo commented on #58622
If I am not mistaken, Roslyn will never emit nops after calls in Release so the change I made in JIT is purely F# only and since Don has a strong (completely understandable) opinion against it I guess I will just close the PR. Thanks for bringing this issue to our attention, it's something we should indeed keep in mind (potential issues with platform-dependent tailcalls).

[2021-09-03 15:27] jeffschwMSFT commented on #57218
@mangod9

[2021-09-03 15:29] janvorli commented on #57218
I have originally made the changes to enable cross build for arm64 macOS on x64 (and vice versa).
When building coreclr for arm64 on macos x64, you also need to pass in the -cross flag:
`src/coreclr/build-runtime.sh -arm64 -debug -cross`
That works correctly.
As for the global build.sh script, e.g. this works as well on my x64 macOS:
`./build.sh clr+libs -c Release -rc Checked -arch arm64 -cross`

[2021-09-03 15:48] odhanson commented on #57218
Thanks, I guess I missed the -cross option.
Closing the issue

[2021-09-03 15:48] #57218 closed

[2021-09-03 15:49] Szer commented on #58622
Okay, it seems that that adding ad-hoc tailcalls in JIT is not what people want, so I'm closing the issue.

[2021-09-03 15:49] #58622 closed

[2021-09-03 15:53] #58371 closed

[2021-09-03 16:10] JulieLeeMSFT commented on #58633
CC @dotnet/jit-contrib

[2021-09-03 16:13] AndyAyersMS commented on #58633
@EgorBo you may recall I was working on changes where RBO could draw inferences from different dominating predicates. Seems like that would help here. But it is somewhat complicated.

[2021-09-03 16:13] kunalspathak commented on #58539
I think it is to do with my recent changes in singledef spillAfter. Investigating.

[2021-09-03 16:26] kunalspathak commented on #58539
Seems to be coming from EHWriteThru. All the asserts disappear with ` --codegenopt EnableEHWriteThru=0`

[2021-09-03 16:34] mdh1418 opened #58640 "[libraries][OSX] System.Security.Cryptography.X509Certificates.Tests PolicyContraints_Mismatch Failed to generate asymmetric keypair"
Failed on unrelated PR.
Libraries Test Run release - coreclr OSX x64 Debug
[code]
Build: https://dev.azure.com/dnceng/public/_build/results?buildId=1341126&view=logs&j=4724cd84-0a26-56bc-9b1d-ca1983f340b0&t=bd2814f3-22fe-5d50-acb1-9c92a93a7f5f
Log: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-58562-merge-58dbd37d9d3b4dbfb9/System.Security.Cryptography.X509Certifi

[2021-09-03 16:35] ericstj commented on #53550
I'll leave it to the owners of the area to make the call and fix it if they deem it necessary.  I don't see it as must fix for 6.0 unless there's a source build scenario that requires it.

[2021-09-03 16:37] Floyddotnet commented on #58568
What i can tell you about the server is that it is an apacha server. After searching around a bit if figure out that this problem often happens in 2 cases.
1. apacha or nginx are used as a reverse proxy is configured wrong to communicate with the backend (see [Solving reverse proxy error ERR_CONTENT_DECODING_FAILED)](https://www.itsfullofstars.de/2018/04/solving-reverse-proxy-error-err_content_dec

[2021-09-03 16:48] mdh1418 commented on #58355
Also seen on https://dev.azure.com/dnceng/public/_build/results?buildId=1341104&view=logs&j=f9ca8601-c4c2-5da2-61cf-0da7d83d7557&t=6f9dc6e4-5fb8-536e-70b9-642f2da0a848
log: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-57208-merge-acfe8ed5abcd4ea499/System.Net.WebSockets.Client.Tests/1/console.3964cd41.log?sv=2019-07-07&se=2021-09-23T15%3A02%3A15Z&sr=c&sp=rl&sig=p

[2021-09-03 16:50] VSadov opened #58642 "Serialization.Formatters.Tests - numerous failures with server GC"
To repro:
[code]

I get lots of failures that look like:

[code]

This is not a GC test so it should not be sensitive to GC flavor.

[2021-09-03 16:50] tarekgh commented on #58496
@oliinyka could you start using libraries like ImageSharp or SkiaSharp on Linux to avoid the break again when you migrate to .NET 6.0 later? Let's know if there is anything will be blocking doing that. Thanks!

[2021-09-03 16:53] mdh1418 opened #58643 "[wasm] System.Net.Http.Functional.Tests Timeout - the server responded with a status of 401 (Unauthorized)"
Build: https://dev.azure.com/dnceng/public/_build/results?buildId=1341104&view=logs&j=f9ca8601-c4c2-5da2-61cf-0da7d83d7557&t=6f9dc6e4-5fb8-536e-70b9-642f2da0a848
Log: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-57208-merge-acfe8ed5abcd4ea499/System.Net.Http.Functional.Tests/1/console.79eb7b79.log?sv=2019-07-07&se=2021-09-23T15%3A02%3A15Z&sr=c&sp=rl&sig=pLYZdJ0aw

[2021-09-03 16:54] Floyddotnet commented on #58568
If i google for the specific error message "ERR_CONTENT_DECODING_FAILED" with is the message chrome returns in this case i found over 17.200 entries.

https://stackoverflow.com/questions/14039804/error-330-neterr-content-decoding-failed (with upvodes from every year since the last 8 years)
https://superuser.com/questions/172951/chrome-error-330-neterr-content-decoding-failed

and many block-posts

[2021-09-03 17:02] Anipik commented on #50739
I verified the fix in the final bits, we might want to wait until we release before closing.

[2021-09-03 17:08] VSadov commented on #57534
@eduherminio - just curious - is there a failure if the app is launched outside of Docker? (just  trying to narrow down reasons for the failure).

[2021-09-03 17:11] fanyang-mono commented on #58409
@BrzVlad Could you please provide more details why these tests are not supposed to run on Android?

[2021-09-03 17:24] Anipik commented on #58214
yes this is resolved.

[2021-09-03 17:24] #58214 closed

[2021-09-03 17:39] eiriktsarpalis commented on #58580
Hi @rajasekarshanmugam, using the following console app
[code]
compiles and runs as expected using dotnet sdk version 6.0.100-rc.2.21452.10. Does the issue still reproduce for you if you use [a newer sdk version](https://github.com/dotnet/installer#installers-and-binaries)?

[2021-09-03 17:43] danmoseley commented on #39233
Probably we should open an issue in zlib directly?

[2021-09-03 17:46] Wraith2 commented on #39233
Possibly but I don't know if or by how much a standard version of zlib would regress performance over using @jtkukunas 's fork. It looks like the specific change for this is only in his fork.

[2021-09-03 17:49] eiriktsarpalis commented on #58502
I can reproduce the error using the steps that you provided, however the error went away as soon as I removed the `global.json` file. Curious, what is the output of `dotnet --info` once you remove `global.json` on your machine?

I'm not sure if source generation is meant to be supported using v5 SDKs. @layomia or @eerhardt might know.

[2021-09-03 17:51] danmoseley commented on #39233
I wasn't clear, I meant https://github.com/jtkukunas/zlib. Yes, we only use https://github.com/madler/zlib for Arm/Arm64.

[2021-09-03 17:56] Wraith2 commented on #39233
In which case yes, i think opening an issue with a simple repro would probably be the next action.

[2021-09-03 18:00] wfurt commented on #58439
According to https://docs.microsoft.com/en-us/windows/win32/secauthn/tls-elliptic-curves-in-windows-10-1607-and-later `secP521r1` should be supported but not enabled by default.  Would expect one can verify that with TLS 1.2 to see if this is culprit or not.

[2021-09-03 18:04] eerhardt commented on #58502
@Jericho - I know this isn't ideal, but try to set `<LangVersion>preview</LangVersion>` in your .csproj. Then using the 6.0 SDK should work.

This is because we moved to the "incremental source generator API", and initially incremental generators need preview langversion. See https://github.com/dotnet/roslyn/pull/55866.

Note this restriction has been lifted in the latest Roslyn.

Regarding VS 201

[2021-09-03 18:36] patelmitul opened #58647 "Make all SendAsync methods virtual"
I am requesting to make all SendAsync methods virtual in System.Net.Http.HttpClient . Only one of the 4 SendAsync method is virtual. If not all then make the the following SendAsync virtual.

public **_virtual_** Task<HttpResponseMessage> SendAsync(HttpRequestMessage request, HttpCompletionOption completionOption, CancellationToken cancellationToken)

[2021-09-03 18:44] danmoseley commented on #58647
@patelmitul thanks for the contribution, but we don't make API change decisions in PR's. We have to reach consensus in an issue, and go through API review.
Please see here: https://github.com/dotnet/runtime/blob/main/docs/project/api-review-process.md

[2021-09-03 18:48] karelz commented on #58647
@danmoseley this is not PR, but an issue. Reopening ...

[2021-09-03 18:53] karelz commented on #58647
There is only 1 method virtual, as it is the most general one needed. Note that it overrides base class virtual method `HttpMessageInvoker.SendAsync`:
https://github.com/dotnet/runtime/blob/13d5fa0938506d55a41a32384af0c44ad3740054/src/libraries/System.Net.Http/ref/System.Net.Http.cs#L218
All the other overloads eventually call into it, so there is no need to make the other methods virtual.

Why do

[2021-09-03 18:56] danmoseley commented on #58647
Oops 😊  Apologies @patelmitul.

[2021-09-03 18:57] mapogolions commented on #58330
In my opinion, the most unexpected side effect of the introduced changes is demonstrated by the example below.
[code]

[2021-09-03 19:25] JeremyKuhne commented on #58581
It is a reasonable request. I'd consider adding another option to always throw errors for the root directory.

[2021-09-03 19:40] VSadov commented on #57534
So far I am unable to reproduce the crash. The app runs fine for me in a single-file or a regular self-contained configuration.

[code]

This is Debug and without docker.
Next I will try running inside a container.

[2021-09-03 19:44] patelmitul commented on #58647
It would not work if I override it in derived class. If I call GetAsync or GetStreamAsync of HttpClient then it will not call the derived SendAsync method of sub class because base HttpClient class has not allowed it. Overriding without base method being virtual is not true polymorphism.

Making it virtual will allow little more flexibility on per project need.

[2021-09-03 19:45] ViktorHofer commented on #50739
If the necessary fix is already merged and the final bits prove its correctness, this should be fine to close. Thanks Anirudh for validating.

[2021-09-03 19:45] #50739 closed

[2021-09-03 19:51] VSadov commented on #57534
I see same results in a container. Both self-contained and single-file builds of the app run without crashing.

For building I am using a windows machine with
[code]

[2021-09-03 20:09] carlossanlop commented on #54862
I ported all the documentation that existed in triple slash: https://github.com/dotnet/dotnet-api-docs/pull/7094

I updated the list of undoc APIs that have yet to be documented. See the issue description.

[2021-09-03 20:11] carlossanlop opened #58653 "System.Drawing - Undoc 6.0 APIs"
The following APIs were introduced in 6.0 and did not get documented in triple slash. They will need to be manually documented directly in dotnet-api-docs, and must target the net6-rc1 branch. This needs to be done before Tuesday September 14th so we have enough time to generate the IntelliSense package that will be shipped to GA.

| Undoc APIs

[2021-09-03 20:13] carlossanlop opened #58654 "System.Diagnostics - Undoc 6.0 APIs"
The following APIs were introduced in 6.0 and did not get documented in triple slash. They will need to be manually documented directly in dotnet-api-docs, and must target the net6-rc1 branch. This needs to be done before Tuesday September 14th so we have enough time to generate the IntelliSense package that will be shipped to GA.

| Undoc APIs

[2021-09-03 20:20] VSadov commented on #57534
I have also tried the actual preview-7 SDK instructions -
[code]

The build produces a lot of trim warnings, but the a app still works. At least as I can tell - there is some diagnostic output and no crashes.

I have tried building with ` -p:PublishAsSingleFile=true`  and without.

[2021-09-03 20:22] carlossanlop opened #58656 "System.Runtime.InteropServices - Undoc 6.0 APIs"
The following APIs were introduced in 6.0 and did not get documented in triple slash. They will need to be manually documented directly in dotnet-api-docs, and must target the net6-rc1 branch. This needs to be done before Tuesday September 14th so we have enough time to generate the IntelliSense package that will be shipped to GA.

| Undoc APIs

[2021-09-03 20:24] carlossanlop opened #58657 "System.Runtime.CompilerServices - Undoc 6.0 APIs"
The following APIs were introduced in 6.0 and did not get documented in triple slash. They will need to be manually documented directly in dotnet-api-docs, and must target the net6-rc1 branch. This needs to be done before Tuesday September 14th so we have enough time to generate the IntelliSense package that will be shipped to GA.

| Undoc APIs

[2021-09-03 20:28] carlossanlop commented on #54857
@dotnet/ncl I updated the description with the last batch of APIs that need to be documented. Please see the instructions.

[2021-09-03 20:42] mdh1418 opened #58659 "Long running test: System.IO.Pipelines.Tests - CopyToAsyncPipeWriterCopiesRemainderAfterReadingSome"
Configuration: `net48-windows-Release-x86-Windows.10.Amd64.Client19H1.Open`

[code]

Console: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-58562-merge-39d88fcad77245eca1/System.IO.Pipelines.Tests/1/console.e8ede0a2.log?sv=2019-07-07&se=2021-09-23T18%3A10%3A56Z&sr=c&sp=rl&sig=deEqxSCy4iJR%2FES2F7q48l92yujksOrQGl0L7Flsf10%3D

Build: https://dev.azure.com/dnceng/pub

[2021-09-03 20:43] carlossanlop opened #58660 "System.Configuration - Undoc 6.0 APIs"
The following APIs were introduced in 6.0 and did not get documented in triple slash. They will need to be manually documented directly in dotnet-api-docs, and must target the net6-rc1 branch. This needs to be done before Tuesday September 14th so we have enough time to generate the IntelliSense package that will be shipped to GA.

| Undoc APIs

[2021-09-03 20:45] carlossanlop opened #58661 "System.Collections - Undoc 6.0 APIs"
The following APIs were introduced in 6.0 and did not get documented in triple slash. They will need to be manually documented directly in dotnet-api-docs, and must target the net6-rc1 branch. This needs to be done before Tuesday September 14th so we have enough time to generate the IntelliSense package that will be shipped to GA.

| Undoc APIs

[2021-09-03 20:47] carlossanlop opened #58662 "System.Linq - Undoc 6.0 APIs"
The following APIs were introduced in 6.0 and did not get documented in triple slash. They will need to be manually documented directly in dotnet-api-docs, and must target the net6-rc1 branch. This needs to be done before Tuesday September 14th so we have enough time to generate the IntelliSense package that will be shipped to GA.

| Undoc APIs

[2021-09-03 20:49] carlossanlop opened #58663 "System.CodeDom - Undoc 6.0 APIs"
The following APIs were introduced in 6.0 and did not get documented in triple slash. They will need to be manually documented directly in dotnet-api-docs, and must target the net6-rc1 branch. This needs to be done before Tuesday September 14th so we have enough time to generate the IntelliSense package that will be shipped to GA.

| Undoc APIs

[2021-09-03 20:50] carlossanlop opened #58664 "System.Runtime.Versioning - Undoc 6.0 APIs"
The following APIs were introduced in 6.0 and did not get documented in triple slash. They will need to be manually documented directly in dotnet-api-docs, and must target the net6-rc1 branch. This needs to be done before Tuesday September 14th so we have enough time to generate the IntelliSense package that will be shipped to GA.

| Undoc APIs

[2021-09-03 20:52] carlossanlop opened #58665 "System.Text - Undoc 6.0 APIs"
The following APIs were introduced in 6.0 and did not get documented in triple slash. They will need to be manually documented directly in dotnet-api-docs, and must target the net6-rc1 branch. This needs to be done before Tuesday September 14th so we have enough time to generate the IntelliSense package that will be shipped to GA.

| Undoc APIs

[2021-09-03 21:10] TanayParikh opened #58667 "VS Blazor Wasm Debugging Crashes"
Tried debugging the `Wasm.Authentication.Server` app in VS2022, and getting:

[code]

Launch Settings:
[code]

dotnet --version
6.0.100-rc.1.21415.3

[2021-09-03 21:35] joperezr commented on #58343
FWIW, I checked the above set of assemblies and seems like the libraries with potential issues where we could ship a not-linked assembly but only tested a linked one, are:
- System.Security.AccessControl
- System.Text.Enconding.CodePages : We ship net6.0 asset which isn't linked as we link the net6.0-windows config instead
- System.Text.Encondings.Web: We ship the net6.0-Browser asset in a package

[2021-09-03 21:46] josalem commented on #56888
I think I'm missing what is leaking. The buffer is stack allocated here, no? I would really hope the compiler would remove the dead code blocks and reduce this to just the call to `WriteEvent`.

You're right though, those appear to be dead code.

[2021-09-03 21:48] tarekgh commented on #58654
@carlossanlop

Are you sure? 😊

https://github.com/dotnet/runtime/blob/main/src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DistributedContextPropagator.cs
https://github.com/dotnet/runtime/blob/main/src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Metrics/Meter.cs
https://github.com/dotnet/runtime/blob/0becc9905f69968a2c15ba5d41a9ea8162517590/src/l

[2021-09-03 22:03] #49845 closed

[2021-09-03 22:06] karelz commented on #58647
@patelmitul all the SendAsync overloads call the one which is virtual on base class. Check the code, or try it out.
Same holds for `Send`. The important one is virtual on base class.

[2021-09-03 22:18] patelmitul commented on #58647
GetAsync calls the SendAsync(HttpRequestMessage request, HttpCompletionOption completionOption, CancellationToken cancellationToken).
That SendAsync will call the base SendAsync which is virtual. But, If I override the only SendAsync of the base class then it will not be called by the GetAsync.
The base class's SendAsync is overridden in HttpClient which calls the overload with HttpCompletionOptio

[2021-09-03 23:33] trylek commented on #57062
@jkoritzinsky - as part of my work on merging sections of test build scripts into the MSBuild project I hit this too using the latest codebase - I have your change to <code>gen-buildsys.cmd</code> in my runtime repo clone yet I'm still hitting the following error when trying to build CoreCLR with the <code>-msbuild</code> switch after installing the dogfooding version of VS2022:

<pre>
  BUILD: Co

[2021-09-03 23:45] jkoritzinsky commented on #57062
Hi @trylek,

I believe you need to install a newer version of CMake on your system. It looks like the generator name is correctly resolved (which is what this issue was for), but now you need to install CMake 3.21 (I believe) on your machine for CMake to understand the generator name.

[2021-09-03 23:53] terrajobst commented on #35324
All exceptions have these constructors; it's the standard pattern.

[2021-09-04 00:00] jeffhandley commented on #50528
Moved to 7.0.0.

[2021-09-04 00:07] AraHaan commented on #35324
Could this type be used for those like me who want to use it at runtime as well (to notify any application that something unexpected happened inside of one of it's dependencies)? Currently I have mine stuck between these:

- ns2.0 only dependency:
  - Throw Exception (or NotSupportedException if it's available)
- net5.0 only dependency:
  - Throw NotSupportedException
- net7.0 only dependency:
  -

[2021-09-04 00:08] trylek commented on #34649
I'm hitting this to this day when trying to build CoreCLR on Ubuntu in release mode; last time I hit this literally 2 minutes back. I'll be happy to assist any follow-up investigation by collecting artifacts, logs or anything else. @davidwrighton / @janvorli, have you got any suggestions as to how to continue the investigation? Is there an infra problem like pulling down a too old pgo data package

[2021-09-04 00:09] trylek commented on #34649
<pre>
  [ 42%] Building CXX object jit/CMakeFiles/clrjit.dir/alloc.cpp.o
  error: Could not read profile /home/trylek/.nuget/packages/optimization.linux-x64.pgo.coreclr/1.0.0-prerelease.21451.4/data/coreclr.profdata: Unsupported instrumentation profile format version
</pre>

[2021-09-04 00:31] AraHaan commented on #58047
I think I would like an overload of ThrowIfNull like so:

[code]

Then one can use it like so:

[code]

Limitations for this: all params passed in the single call would have to be the same type, this overload would be uncaring about the parameter names (for those who does not care to pass them into the exception type themselves).

[2021-09-04 00:33] am11 commented on #56888
Ah right, then why `delete[] buffer` at all? it's UB behavior..

Yes compiler has enough mileage that it will produce fairly highly optimized code, but during the compilation different level of analysis are warning about various issues especially in `export`ed methods, symbols of which we explicitly want to keep (tautological mistakes, dead code, deletion of unallocated buffer (which in grand sche

[2021-09-04 00:33] fgheysels opened #58675 "Determine from Host when HostedServices have completed / stopped working"
When creating a `Host` that has one or more registered `HostedServices`, it would be nice if you can get somehow informed when all those HostedServices have stopped running.
This would be usefull to be able to gracefully shutdown an application.

Suppose I have an application that has 2 hosted services:

[code]

When the application is stopped by sending a termination signal (CTRL+C), the `StopAsy

[2021-09-04 00:34] DaZombieKiller commented on #58047
@AraHaan I think it would be best to wait for `params Span<T>` to be implemented before an overload taking multiple arguments is considered, but I otherwise agree that it would be useful.

[2021-09-04 01:11] fgheysels commented on #58675
I did some testing, but it seems that the task that is returned by `RunAsync` only completes when all hostedservices have completed as well.

[2021-09-04 02:33] jeffhandley commented on #58419
Since this is known and expected, I'm going to go ahead and close this issue.  This will be addressed in RC2 when we've finished the analyzer and updated it to report as Error. Thanks for reporting, nonetheless, @JamesNK!

[2021-09-04 02:33] #58419 closed

[2021-09-04 02:56] rajasekarshanmugam commented on #58580
Thank you for the quick note. I don't think I am using the newer version of the SDK. Will try a new version/nightly and revert back.

[2021-09-04 03:16] thaystg commented on #58667
@TanayParikh, could you please send me the result of `dir` command in this directory: YOUR_PROJECT\netX.0\wwwroot\_framework
And the version of your nuget package microsoft.aspnetcore.components.webassembly.devserver that is being used in the solution?

[2021-09-04 04:18] #58396 closed

[2021-09-04 07:29] jiten87 opened #89818 "FPE (Formet preservation encryption) FF1/FF3 supports in .Net"
Not sure about the right forum to ask this query like Is there any plan to support FPE FF1/FF3 in any upcoming releases

[2021-09-04 08:20] AnudeepGunukula commented on #58139
Hi @eerhardt @maxkoshevoi  . i am interested in this project
i would like to work on this issue.

[2021-09-04 08:59] AnudeepGunukula commented on #58239
Hi @karelz , @geoffkizer .
i had made a pr that will close this issue.
kindly review it and please let me know the changes if needed.

[2021-09-04 10:51] am11 commented on #35735
btw, we do remove empty loop if we return from it. e.g. with main (2a1eaa2ca6db40c72febe840cea1977490c7d0b8):

[code]

comment out line 7, so it goes from:
[code]
to
[code]

[2021-09-04 13:28] rajasekarshanmugam commented on #58580
@eiriktsarpalis - Tried with version - 6.0.100-rc.1.21453.34. Above sample works fine with no errors.

However, on trying another scenario in a larger application, getting some errors. I am trying to isolate into a smaller scenario and would post back if one is available. Possibly something wrong with the JsonSerializationContext context.

Exception is below (edited file paths as they were super l

[2021-09-04 15:00] davidfowl opened #58683 "ChainedConfigurationSource doesn't support reloading manually"
### Description

This was found as a part of investigating https://github.com/dotnet/aspnetcore/issues/36181. It seems like manually calling IConfigurationRoot.Reload on a chained configuration source [doesn't work](https://github.com/dotnet/runtime/blob/9f6da559949d4f591ff87b1cef543278997d5576/src/libraries/Microsoft.Extensions.Configuration/src/ChainedConfigurationProvider.cs#L65).

### Configur

[2021-09-04 17:02] iSazonov commented on #58612
I'd qualify this as a bug and re-use `EnumerationOptions.IgnoreInaccessible` to mask the exception.

/cc @carlossanlop @Jozkee

[2021-09-04 19:24] eerhardt commented on #58139
Sounds good. I assigned it to you.

[2021-09-05 01:22] dmitriyse commented on #51985
Windows also should receive IO Rings API soon:
https://windows-internals.com/i-o-rings-when-one-i-o-operation-is-not-enough

[2021-09-05 03:42] shanoaice opened #58687 "Interoperability of C# and F# Record Types"
*(Unsure where should this issue fit)*
F# Records and C# Records (added in C# 9.0), on the surface, looked very similiar: they both have immutable fields, value equality (structural equality) and able to create a new record based on a previous record using the `with` keyword. They even have a similiar type signature when exposed to each other (unsure about this).

However, C# and F# both don't und

[2021-09-05 04:58] am11 commented on #58687
At CIL level, C# record is compiled down to [a class](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBLANgHwGEACMYgXmIDsYB3ACgEoBuAWACgwA6ADQuICMbTlwCa/AEzCOAAQDMxWJCgATYoQ4B6TQAcArsGxkZE9RwDeHYteLzi2KhmI9hN2wodPRwgL5A==) (with some helpers). There is no special idiom for record in the IL.

[2021-09-05 05:32] jasonpugsley opened #58689 "Setting permissions on eventpipe AF_UNIX socket file for MacOS/FreeBSD/Linux"
I have PR #58688 that is needed for FreeBSD to be able to set permissions on a unix domain socket for an eventpipe.

FreeBSD is the same as APPLE where you cannot set the permissions on a socket file descriptor using `fchmod()`, something that can be done with Linux.

The current alternative method sets the `umask()` before calling `socket()` and `bind()` and then resets it after.

What I would li

[2021-09-05 06:09] shanoaice commented on #58687
I do notice that, so do F# records, but F# records is also compiled down to a class with some helper, I see their IL is a bit different, but is it possible to let F# able to apply with expression on a C# record or construct a C# record in F#'s way (i.e. a bracket notation like this: `let someCSharpRecord = { CSharpRecord.X = 1; Y = 1 }`

[2021-09-05 06:10] JakenVeina opened #58690 "ArgumentNullException in System.Text.Json.Serialization.Metadata.JsonTypeInfo"
### Description

I am receiving an `ArgumentNullException` from `JsonSerializer.Serialize<T>(Utf8JsonWriter, T value, JsonSerializerOptions options)` that appears to be the result of a faulty null-check-override within `JsonTypeInfo`.

https://github.com/dotnet/runtime/blob/804a933e2b699e10391e7f8b4ccbbbfad41bfefc/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonTypeI

[2021-09-05 06:43] teo-tsirpanis commented on #58687
Duplicate of fsharp/fslang-suggestions#903 and fsharp/fslang-suggestions#904.

[2021-09-05 07:52] ladeak opened #58691 "[API Proposal]: string.Create Span overload"
### Background and motivation

Pass `Span<char>` and `ReadOnlySpan<char>` to `string.Create` method.
When using `string.Create` it is typically used for highly optimized scenarios for constructing strings, and usually having some parts of the string to be created in Span types. However, spans cannot be passed in the *state* parameter because span-s cannot be used as generic parameter of the `strin

[2021-09-05 09:02] gulshan opened #58692 "[API Proposal]: `Then` or `ContinueWithResult` extension method for `Task`"
### Background and motivation

`Task` currently has a method group named `ContinueWith`, which supports doing something when the task is finished and result is available or there is an exception. But it takes the main `Task` as a parameter and successful completion of the `Task` has to be checked and `Result` has to be accessed manually.

The proposal is to give a new extension method for `Task` a

[2021-09-05 09:15] omariom commented on #58692
There is already[ such method ](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.task.continuewith?view=net-5.0#System_Threading_Tasks_Task_ContinueWith_System_Action_System_Threading_Tasks_Task__System_Threading_Tasks_TaskContinuationOptions_).

[2021-09-05 09:50] grinay opened #58837 "DOTNET_ROLL_FORWARD=Major ignores in new builds of .net 6 since preview 7"
Hi. I'm using the global environment variable DOTNET_ROLL_FORWARD=Major and I'm able to run .net 3,5 projects on my Mac machines with m1 CPU. But since preview 7 this variable seems to be ignored and I'm unable to run .net 3,5 projects with new versions.
The version which I using currently dotnet-sdk-6.0.100-preview.6.21355.2-osx-arm64.pkg , but after update  to
dotnet-sdk-6.0.100-rc.2.21454.3-osx

[2021-09-05 10:16] Frassle commented on #58692
@omariom that is not the method that this issue describes.

I nearly always end up writing an extension method to do this, which cause I'm an FP nerd I always call bind because this is monadic bind. It's useful, gives the same semantics as await pretty much but in a method calling/function passing style rather than a sequential code/keyword style.

[2021-09-05 11:19] Sergio0694 commented on #58691
Note that you can already achieve the same today with no need for any new APIs. For instance:

[code]

If your `T` in the input `ReadOnlySpan<T>` is not an unmanaged type, you can still pin it like so:

[code]

This is well defined and will work fine, it's just very clunky 😄

Also, I'm not saying this API proposal is unnecessary, just pointing out a workaround to unblock you in the meantime 🙂

[2021-09-05 11:20] stephentoub commented on #58692
Why?

Your example:
[code]
becomes:
[code]

[2021-09-05 11:52] catfiadhaich commented on #53239
I've been having similar problems with the "gd-GB" (Scottish Gaelic) and "cy-GB" (Welsh) cultures when using Blazor (wasm in this case - I have not tried this under server).

For example:

I placed the following code in the Program.cs file, right at the start of Main:

[code]

When running under dotnet 3.1 (lts), the (developer tools) console shows the output of the first, third, and fourth lines.

[2021-09-05 13:05] jakobbotsch opened #58693 "LSRA does not respect single-candidate uses"
1. Change RA to allocate tail call targets into a different non-arg register:
[code]

2. Compile and run the following program:
[code]

3. LSRA allocates the control expression in `Foo` into `rdi` instead of `r10`:

[code]

This is not currently a problem because we compensate for it during codegen:
https://github.com/dotnet/runtime/blob/804a933e2b699e10391e7f8b4ccbbbfad41bfefc/src/coreclr/jit/cod

[2021-09-05 13:43] shanoaice commented on #58687
thanks for your reply! so......should I close this issue?

[2021-09-05 13:48] pinkfloydx33 commented on #36510
I spent a few hours debugging this today. For `IConfiguration`-based setup, the Azure SDK looks for a property called `serviceUri`, which we have set in our base AppSettings.json file.

For local development though, we need to use the `connectionString` property with `UseDevelopmentStorage=true`. We tried to override `serviceUri` with an explicit `null`. Unfortunately, the Azure SDK checks for `se

[2021-09-05 13:48] teo-tsirpanis commented on #58687
Yes, I think so.

[2021-09-05 13:48] #58687 closed

[2021-09-05 13:49] stevenaw opened #58695 "Minor typo in inline comments in Decimal.cs"
I noticed a few cases in the inline comments in Decimal.cs where the word "lose" appears misspelled as "loose"
- https://github.com/dotnet/runtime/blob/main/src/libraries/System.Private.CoreLib/src/System/Decimal.cs#L34
- https://github.com/dotnet/runtime/blob/main/src/libraries/System.Private.CoreLib/src/System/Decimal.cs#L52

[2021-09-05 15:13] pr8x opened #58697 "Using `ToastNotificationManagerCompat` etc. with .NET 5"
Hey, not sure if this is the right place to ask, but here we go: I am trying to port some code to .NET 5 and I was previously just referencing `Microsoft.Toolkit.Uwp.Notifications` to get access to `Microsoft.Toolkit.Uwp.Notifications` and the `ToastNotificationManagerCompat` compat class. With .NET5 that doesn't seem to be possible anymore:

So I am using the `net5.0-windows10.0.18362.0` TFM now.

[2021-09-05 17:15] huoyaoyuan commented on #58697
It's better to ask at https://github.com/microsoft/cswinrt

[2021-09-05 17:27] #58518 closed

[2021-09-05 19:55] Jericho commented on #58502
I have removed global.json, switched to net6.0 and also added `LangVersion`  in my csproj and I confirm that I can build.

@eerhardt thank you for the links to other issues. Do I understand 58536 correctly that using Json code generator will prevent me from multi-targeting?

[2021-09-05 20:18] Jericho opened #58698 "System.Text.Json code gen: unhelpful error when custom serializer context is not decorated with any JsonSerializable"
When my custom serialiazer context class has zero JsonSerializable attributes, I get an error message which does not help me understand what the problem is.

I simply get the dreaded:
[code]

I do not get any additional information to help me realize that I forgot to add JsonSerializable attributes to my custom class. It would be extremely helpful to get an error message similar to `Your custom se

[2021-09-05 20:21] Jericho commented on #58698
By the way, I want to be completely clear that I fully understand that a custom serializer context without any JsonSerializable is not a valid scenario. I am not saying that the code generator should accept this situation. However, I think that a better/more descriptive error message would be helpful and would allow developers to resolve the situation easily.

[2021-09-05 22:22] radical commented on #58643
cc @pavelsavara

[2021-09-06 00:22] tarekgh commented on #53239
@lewing could you please triage these issue, I think @maryamariyan unintentionally moved it to 7.0?

[2021-09-06 01:14] VincentBu commented on #57621
Failed again in: [runtime-coreclr outerloop 20210905.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1344037&view=ms.vss-test-web.build-test-results-tab&runId=39356156&resultId=110483&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-09-06 01:21] VincentBu commented on #58295
Failed again in: [runtime-coreclr jitstress 20210904.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1343755&view=ms.vss-test-web.build-test-results-tab&runId=39349816&paneView=debug&resultId=106441)

Failed test:
[code]
**Error message:**
[code]

[2021-09-06 01:38] VincentBu commented on #57462
Failed again in: [runtime-coreclr gcstress0x3-gcstress0xc 20210905.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1343915&view=ms.vss-test-web.build-test-results-tab&runId=39353732&resultId=111202&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-09-06 01:39] VincentBu opened #58699 "Test failure readytorun/coreroot_determinism/coreroot_determinism/coreroot_determinism.sh"
Run: [runtime-coreclr gcstress0x3-gcstress0xc 20210905.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1343915&view=ms.vss-test-web.build-test-results-tab&runId=39353732&resultId=110124&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-09-06 01:47] VincentBu opened #58702 "Test failure Regressions/coreclr/GitHub_45929/test45929/test45929.sh"
Run: [runtime-coreclr gcstress-extra 20210904.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1343634&view=ms.vss-test-web.build-test-results-tab&runId=39348758&paneView=debug&resultId=109549)

Failed test:
[code]
**Error message:**
[code]

[2021-09-06 01:56] VincentBu commented on #1722
Failed again in: [runtime-libraries-coreclr outerloop 20210905.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1343850&view=ms.vss-test-web.build-test-results-tab&runId=39351736&paneView=debug&resultId=102806)

Failed test:
[code]
**Error message:**
[code]

[2021-09-06 02:02] VincentBu opened #58704 "Test failure SampleSynthesisTests.SynthesizeRecognizeTests.SpeechSynthesizerToSpeechRecognitionEngine"
Run: [runtime-coreclr libraries-jitstress 20210905.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1343796&view=ms.vss-test-web.build-test-results-tab&runId=39350954&resultId=170265&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-09-06 02:07] VincentBu commented on #54943
Failed again in: [runtime-coreclr libraries-jitstress2-jitstressregs 20210904.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1343241&view=ms.vss-test-web.build-test-results-tab&runId=39339644&paneView=debug&resultId=124577)

Failed test:
[code]
**Error message:**
[code]

[2021-09-06 02:54] 1290690484 opened #58705 "Certificate SHA1withRSA encryption method dotnet Framework and dotnet core calculation results are inconsistent"
### Description

Can anyone help me? The above code runs in the above environment list The result is not the same?
I can't upgrade dotnet core because of this.

[code]

[Completed issue reproduction dome github link](https://github.com/1290690484/DotNetCoreSignError)

### Configuration
dotnet core 3.1

dotnet Framework v4.6.1

### Regression?

### Other information

[2021-09-06 02:56] nealef opened #58706 "Mono does not consider cgroup constraints when determining memory sizes"
There are differences between the CoreCLR and Mono JITs w.r.t. calculating physical memory sizes when running under cgroups.

There is a Red Hat test case that demonstrates the issue:
https://github.com/redhat-developer/dotnet-regular-tests/tree/main/cgroup-limit

This simply calls the `GC.GetGCMemoryInfo().TotalAvailableMemoryBytes` routine.

In CoreCLR this routine is implemented via `GCToOSInte

[2021-09-06 04:15] jkotas commented on #58706
It would be nice to factor this out to https://github.com/dotnet/runtime/tree/main/src/native/common so that we have just one copy of this logic. It has been changing a lot.

Similar problem exists for processor limits (e.g. value returned by `Environment.ProcessorCount`). I do not think Mono respects the cgroup for that either.

[2021-09-06 04:45] radical opened #58707 "[wasm][aot] Windows: Test failures for `System.IO.FileSystem.Tests`"
PR to enable AOT tests on windows: https://github.com/dotnet/runtime/pull/58578a

[Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1344204&view=logs&j=c24b3bf0-34d4-58dc-62fd-621ef62beaf8&t=57689805-9064-5d56-984a-6ae89a8efb73)
[Log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-58578-merge-bacb37a0e62d4c33a9/System.IO.FileSystem.Tests/1/console.

[2021-09-06 04:48] radical opened #58708 "[wasm][aot] Windows: Test failures for `System.Globalization.Extensions.Tests`"
PR to enable AOT tests on windows: https://github.com/dotnet/runtime/pull/58578

[Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1344204&view=logs&j=c24b3bf0-34d4-58dc-62fd-621ef62beaf8&t=57689805-9064-5d56-984a-6ae89a8efb73)
[Log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-58578-merge-bacb37a0e62d4c33a9/System.Globalization.Extensions.Tests/

[2021-09-06 04:53] radical commented on #58708
cc @lewing @radekdoulik

[2021-09-06 04:53] radical commented on #58707
cc @lewing @radekdoulik

[2021-09-06 05:15] radical opened #58709 "[wasm] Test failing because of not being able to output utf8 characters on windows - `?????` instead of `こんにちは`"
Seen on https://github.com/dotnet/runtime/pull/58578
`Wasm.Build.Tests.SatelliteAssembliesTests.ResourcesFromMainAssembly`, and `
Wasm.Build.Tests.SatelliteAssembliesTests.ResourcesFromProjectReference`:

[code]

Actual output: `For 'ja-JP' got: ?????`

https://dev.azure.com/dnceng/public/_build/results?buildId=1344204&view=ms.vss-test-web.build-test-results-tab&runId=39357506&resultId=100020&pane

[2021-09-06 05:15] radical commented on #58709
cc @radekdoulik

[2021-09-06 06:12] FilipToth commented on #58612
I agree with @iSazonov. The `IgnoreInaccessible` property has been designed with this goal in mind, making this obsolete.

[2021-09-06 06:40] Glutwolf commented on #58439
@vcsjones Thanks for the information, do you have any sources for these statements? I have not read anywhere that said parameters are rare or that public CAs are not allowed to issue p521 certificates.

Even in [rfc8446](https://datatracker.ietf.org/doc/html/rfc8446) there are a few places, e.g. [7.4.2. Elliptic Curve Diffie-Hellman](https://datatracker.ietf.org/doc/html/rfc8446#section-7.4.2), wh

[2021-09-06 06:48] pavelsavara commented on #58643
The 401 there is side-effect of one of the tests which are testing it, normal and expected. The real reason for failure is timeout.

[2021-09-06 07:32] fgheysels commented on #58675
The strange thing though is that, if I have this code in my `BackgroundService` which is called from a console application:

(code for demo purposes)
[code]
When I press CTRL+C, the application is stopping.   I can see from the output that `StopAsync` for the worker is called, but the code after the `while` loop in the `ExecuteAsync` method is never executed.
In the example above, I don't see the

[2021-09-06 08:00] krwq opened #58712 "Consider Uri .ctor to allow for paths starting with \\?\"
See https://github.com/dotnet/runtime/pull/58627#issuecomment-912630223 for context.

Would be nice if URI allowed for UNC paths such as i.e. those starting with `\\?\` - that would make it easier to make long paths scenarios to work.

[2021-09-06 08:04] wzzdzr opened #58713 "StreamReader.ReadLineAsync cannot quit even if Close() is called."
### Description

StreamReader.ReadLineAsync cannot quit even if Close() is called.

### Configuration

Which version of .NET is the code running on?  netcoreapp 3.1
What OS and version, and what distro if applicable? Windows 10

### Reproduce

[code]

And output is as below

Try to close streamReader.
StreamReader closed

I think StreamReader.ReadLineAsync should be able to quit when streamReader

[2021-09-06 08:04] krwq opened #58714 "Consider stripping \\?\ from AppDomain.CurrentDomain.BaseDirectory"
Currently when running app from the long path you need to prefix the path with `\\?\` which is causing that `AppDomain.CurrentDomain.BaseDirectory` also starts with that. Some apps might pass the directory into component which doesn't expect it (in .NET Framework BaseDirectory could be an URI so some apps could have passed it into `Uri` which would throw if it encounters anything starting with `\\

[2021-09-06 08:04] #56897 closed

[2021-09-06 08:15] fgheysels opened #58715 "StopAsync of BackgroundServices is called sequentially"
I've noticed that, if you have multiple `BackgroundServices`, the `StopAsync` method of those services is not called in parallel when the host is stopping.  They're rather called in a blocking fashion.

Suppose:

[code]

And we have these backgroundservices:

[code]

When running the application, and then pressing ctrl+c, we see this output:

![image](https://user-images.githubusercontent.com/3605

[2021-09-06 08:17] fgheysels commented on #58715
Best label would be area-Extensions-Hosting imho.

[2021-09-06 08:27] wzzdzr commented on #58713
I test for another scenario. And It seems that it is due to different provided Stream.

[code]

And ReadLineAsync can throw exception as I hope.

[2021-09-06 08:48] loop-evgeny commented on #52592
Hi @PeterSolMS , I just got back from a vacation. Thanks for the further fixes! How do I test these? Apply the nightly binaries on top of preview7 as before?

[2021-09-06 09:06] #58440 closed

[2021-09-06 09:13] BrzVlad commented on #56449
I can't reproduce this issue.

[2021-09-06 09:13] eduherminio commented on #57534
🤔 that's... odd, I still have the issues following those instructions.

I'm seeing this issue both with and without Docker.
I'm using an `aarch64` OCI VM to test (and deploy) it:

[code]

This is one of the preview-7 built binaries that fail while ran directly inside the mentioned VM:
* [https://github.com/lynx-chess/Lynx/releases/download/v0.2.2/Lynx-0.2.2-linux-arm64.zip](https://github.com/lynx

[2021-09-06 09:28] pentp commented on #48247
C/C++ exposes it as `unsigned char _addcarry_u64(unsigned char, unsigned __int64, unsigned __int64, unsigned __int64 *)`, but compilers recognize some of the comparison based code patterns also.
Go exposes it as `func Add64(x, y, carry uint64) (sum, carryOut uint64)`.

## Proposed API

[code]

## Usage Examples

In `decimal.DecCalc.VarDecMul` this would be used quite a lot:
[code]

In `BigIntegerC

[2021-09-06 09:39] Floyddotnet commented on #58568
@karelz as you suggested, i have expanded my initial post, put together all the solutions i can think of and the ones you mentioned, and listed the pros and cons i can imagine in each case

[2021-09-06 09:40] filipnavara commented on #58705
Are you saying that the byte output is different or that the signature is not mutually accepted? The byte output could be different due to small differences in the encoding wrt. the specification. You can check the semantic output by pasting the encoded base64 string into https://lapo.it/asn1js/.

There was more than one instance where the output differs because the specification changed and there

[2021-09-06 09:59] karelz commented on #58587
Reopening for backport to 6.0

[2021-09-06 10:19] 1290690484 commented on #58705
@filipnavara
That means the subtle encoding differences can be decoded successfully by the parsing side of java, right? I just tried it. It's not the same, but the interactive side can still check the signature successfully

[2021-09-06 10:22] AustEcon commented on #256
So can I clarify this (as well as for anyone else with the same question).
If I use: https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.sha256.hashdata?view=net-5.0

`System.Security.Cryptography.SHA256.HashData(someData)` on say an AMD5950X CPU will I be gaining the benefits of Intrinsics?

It was mentioned earlier https://github.com/dotnet/runtime/issues/256#issuecomment-55

[2021-09-06 10:22] filipnavara commented on #58705
Correct, it should be interoperable.

[2021-09-06 10:30] vanillajonathan opened #58748 "Blazor HttpClient has null entries when JSON deserialized into collections"
### Describe the bug
When using the `HttpClient` to deserialize data you must use an array, you cannot use collections. Using collections will result in extra entries in the collection which are null.

The file `weather.json` contains an array with 5 object entries.
`Http.GetFromJsonAsync<WeatherForecast[]>` returns an array with a proper length of 5.
`Http.GetFromJsonAsync<ICollection<WeatherFore

[2021-09-06 11:25] iconics-milan commented on #58614
After experimenting more, I found that my code was missing a ctx.Response.Close() when done with the WebSocket (ctx is the HttpListenerContext). With that call in place, the TCP connection gets torn down abruptly (as expected) when no CloseAsync() is called before. I guess there is no reason not to call Close() on WebSocket responses.
This still means that Abort() does nothing, but it isn't an iss

[2021-09-06 11:43] CarnaViire commented on #57619
I'm able to reproduce it. It is not flaky for me, happens on every run.

The exception:

[code]

The code:

[code]

[2021-09-06 11:44] #55001 closed

[2021-09-06 11:52] teo-tsirpanis opened #58721 "[API Proposal]: Hide and obsolete `TypedReference.SetTypedReference`."
### Background and motivation

The `TypedReference.SetTypedReference` static method is [documented to always throw a `NotSupportedException`](https://docs.microsoft.com/en-us/dotnet/api/system.typedreference.settypedreference?view=net-5.0#exceptions). Unless it is planned to finally give it a purpose, I propose to hide and obsolete it. I don't think the obsoletion needs a new `SYSLIB` code since i

[2021-09-06 11:52] erikbra opened #58722 "Https against invalid domain names (containing underscores) behaves differently on Linux than Windows and macOS"
### Description

There is a difference in the behaviour of TLS server cert domain name validation on Linux compared to Windows and macOS.
While Windows and macOS accepts domains with underscores in them, Linux fails on certificate validation, with a `RemoteCertificateNameMismatch`.

Minimal repro:
[code]

#### Expected behaviour:

The behaviour should be the same on Linux and Windows.

#### Actual

[2021-09-06 11:57] #58137 closed

[2021-09-06 12:33] eiriktsarpalis commented on #58580
Yes, hitting F12 on your `JsonSerializerContext` class should reveal the generated source files in the IDE.

Isolating into a reproducing app would help tracking down the issue. Would it be possible to create a separate issue when you do? I'm going to close this one for now. Thanks.

[2021-09-06 12:33] #58580 closed

[2021-09-06 12:41] StefanKoell opened #58741 "System.Runtime.InteropServices.ExternalException : A generic error occurred in GDI+"
* .NET Core Version:
Microsoft.WindowsDesktop.App 5.0.9

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
I switched my WinForms App from .NET 4.71 to .NET 5 and get the following crashes from my user's machine:
[code]

From the stack trace, I can see that this crash almost always originates from showing a messagebox (drawing the background). Since I'm not ab

[2021-09-06 12:41] eiriktsarpalis commented on #58662
Need some clarification here. Assuming we need to port these to `main` first then backport to `net6-rc1`? cc @gewarren

[2021-09-06 12:48] eiriktsarpalis commented on #58661
@carlossanlop is this list accurate? Going through the docs I'm not able to detect any missing documentation. The only `To be added.` placeholder I could find in that list of files are `<remarks/>` sections (with [this](https://github.com/dotnet/dotnet-api-docs/blob/net6-rc1/xml/System.Collections.Generic/PriorityQueue%602+UnorderedItemsCollection+Enumerator.xml#L61) being the sole exception).

[2021-09-06 12:56] karelz opened #58724 "Test failure: KeepAlivePingDelay_Infinite_NoKeepAlivePingIsSent"
Test type: `System.Net.Http.Functional.Tests.SocketsHttpHandler_Http2KeepAlivePing_Test`

Failures 3/12-9/6 (incl. PRs):

Day | Run | OS
-- | -- | --
8/26 | PR #58092 - main | Windows.10.Amd64.Server19H1.ES.Open
9/3 | PR #58336 - release/6.0 | Ubuntu.1604.Amd64.Open

Failure:
[code]

[2021-09-06 12:58] eiriktsarpalis commented on #54862
@steveharter @layomia could you take a look? We're missing a few doc elements from triple slash documentation. On quick inspection these seem to be minor things such as missing `<returns/>` or `<value/> elements but these should be added for 6.0.0.

These can be identified by looking for the `To be added.` placeholder in the linked xml docs. Note that some of these will be fixed by #7094 so I woul

[2021-09-06 13:04] karelz opened #58725 "Test failure: GetAsyncWithRedirect_SetCookieContainer_CorrectCookiesSent"
Test type: `System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Cookies_Http2`

Failures 3/12-9/6 (incl. PRs):

Day | Run | OS
-- | -- | --
7/29 | Official run | Centos.8.Amd64.Open
8/28 | Official run | Debian.10.Amd64.Open
9/4 | Official run | Fedora.34.Amd64.Open

Failure:
[code]

[2021-09-06 13:31] pavelsavara commented on #58031
`The FinalizationRegistry callback is called potentially multiple times` see https://github.com/tc39/proposal-weakrefs

[2021-09-06 13:40] bjh0 commented on #1550
Is there an update on this issue? This issue affects my use of the OpenXML SDK.

[2021-09-06 13:47] ManickaP commented on #56310
Also seeing crashes in H/3 stress from time to time:
https://dev.azure.com/dnceng/public/_build/results?buildId=1343911&view=logs&j=0da5d1d9-276d-5173-c4c4-9d4d4ed14fdb&t=1451f5f3-0108-5a08-5b92-e984b2a85bbd&l=85

[2021-09-06 13:51] svick commented on #58691
My problem with this is that it's too limited. The old overload supports any type for state (as long as it's not a stack-only type). The proposed overload only supports ROS<char> and nothing else. That's not a problem that can be solved well in C# today, but I think it's still a problem, because it limits the usefulness of the proposed overload.

[2021-09-06 14:42] CarnaViire commented on #57619
HTTP/2 in the same situation throws ODE
[code]

[2021-09-06 14:43] vcsjones commented on #256
This is going to depend on the implementation of the hash function of the platform. `HA256.HashData` basically uses the following on each platform:

1. Windows will use [` BCryptHash`](https://docs.microsoft.com/en-us/windows/win32/api/bcrypt/nf-bcrypt-bcrypthash)
2. macOS will use `CC_SHA26`, `CC_384`, etc.
3. Linux will use OpenSSL's `EVP_DigestUpdate` and `EVP_DigestFinal_ex`

If those dependen

[2021-09-06 14:49] ASLAnthony commented on #57430
@radical When will VS preview4 be released, I am still having this issue with preview3 even after trying the suggestions above ?

[2021-09-06 15:01] vcsjones commented on #58439
Yeah, there are multiple identifiers for the same EC curve. This is the unfortunate result of multiple standards bodies all coming up with different names for the same thing.

https://github.com/dotnet/runtime/blob/32df6797cb5704edb589250f8bfeae8c275e9994/src/libraries/System.Security.Cryptography.Encoding/src/Internal/Cryptography/OidLookup.cs#L212-L214

P-521 has been discussed a lot in the Web

[2021-09-06 15:15] NewellClark commented on #33772
I just ran my [working prototype](https://github.com/NewellClark/roslyn-analyzers/tree/do-not-pass-mutable-value-types-by-value) against dotnet/runtime and I found quite a few false positives in the `System.Text.Json` library. I found several false positives for the return by-value error in [JsonElement.cs](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Text.Json/src/System/Text/

[2021-09-06 15:20] jakobbotsch opened #58729 "Assertion failed 'block->countOfInEdges() > 0' during 'Remove empty finally' with infinite loop in finally"
[code]

[code]

[2021-09-06 15:24] jakobbotsch commented on #57752
In this case we have left a lot of unreachable blocks around which seems to contribute to confusing the JIT:
[code]

It's unfortunate that we have both `fgUpdateFlowGraph` and `fgComputeReachability` that remove unreachable blocks, with the former not doing as good a job as the latter (but also doing other things). We should look into unifying them in .NET 7.

As for this issue: it seems we create

[2021-09-06 15:29] AustEcon commented on #256
@vcsjones Thanks for the prompt response. This is exactly what I was after and if linux uses openssl (which is fast) then that is the main thing I wanted reassurance about 👍

[2021-09-06 16:05] jakobbotsch commented on #57752
@davidwrighton's issue seems to not be the same as the previous comment, but it does look like it's exactly the same as @AndyAyersMS's comments in #38894, in the same function.
It looks like we did add an `IsSupported` check in `SseImpl` in the meantime:
https://github.com/dotnet/runtime/blob/32df6797cb5704edb589250f8bfeae8c275e9994/src/libraries/System.Private.CoreLib/src/System/Numerics/Matrix4x

[2021-09-06 16:19] mayur-ekbote opened #58817 "Introduction of JsonTypeInfo <TValue> in one of the Serialize overloads breaks the code in .net 6"
I have EF Core conversion lambdas as follows:

`entity.Property(e => e.Value).HasConversion(v => JsonSerializer.Serialize(v,null), v => JsonSerializer.Deserialize(v, null));
`
where 'v' is a HashSet<string> . It worked in .net5

After moving to .net 6, I got this compilation error:

"The call is ambiguous between the following methods or properties: 'JsonSerializer.Serialize<TValue>(TValue, JsonSe

[2021-09-06 16:30] #58697 closed

[2021-09-06 16:40] lkhore opened #58740 "Serial Port support on Android"
Support the existing Windows API on Android mobile.

Any volunteers interested in starting to scope this out? Please thumbs up if you would use this library.

[2021-09-06 16:43] rajasekarshanmugam commented on #58580
@eiriktsarpalis - absolutely, will try to get a reproducing app and open a new ticket.

[2021-09-06 17:38] acaly commented on #58691
I agree with svick. There are many APIs that are not usable with ref structs besides this one. I really hope C# and runtime will allow ref structs as generic arguments, which solves all those problems.

[2021-09-06 18:06] AndyAyersMS commented on #57752
Yes (#50162), and not that I know of...

[2021-09-06 18:52] AlexRadch opened #58732 "[API Proposal]: Add ref TTo Unsafe.AsOut<TFrom, TTo>(out TFrom from) to simplify out parameters casting"
### Background and motivation

Now to cast out parameter developers need to use `Unsafe.SkipInit` method before casting of out parameters. Or compiler will say that parameter is not initialized.

The need to use `Unsafe.SkipInit` method before casting of out parameter is not obvious to developers. Many developers will make manual out parameters initialization to workaround compiler error.

1. `AsO

[2021-09-06 19:12] #58656 closed

[2021-09-06 19:27] deeprobin commented on #54390
The proposal is already partly implemented 😄
https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/libraries/System.Private.CoreLib/src/System/Numerics/BitOperations.cs#L78-L86

[2021-09-06 19:47] deeprobin commented on #54390
Would love to take care of it :) You are welcome to assign me the issue.

[2021-09-06 21:55] olmobrutall opened #58734 "Reconsider conversion operators `Date` <-- > `DateTime`"
### Background and motivation

As part of adapting Signum Framework to .Net 6 I had some friction with the current API for `DateOnly` / `TimeOnly`, specially in the LINQ provider. I think similar inconveniences will arise in Entity Framework.

During the design and implementation that @tarekgh was championing, at some point (https://github.com/dotnet/runtime/issues/49036#issuecomment-802237375 / h

[2021-09-06 22:05] jeff-simeon commented on #58471
Any update?

[2021-09-06 22:15] Erakx commented on #58569
I made some tests,
When i change
<_EmccLDFlags Include="-s TOTAL_MEMORY=536870912" /> to
<_EmccLDFlags Include="-s TOTAL_MEMORY=16777216 " />
In
C:\Program Files\dotnet\packs\Microsoft.NET.Runtime.WebAssembly.Sdk\6.0.0-preview.7.21377.19\Sdk\WasmApp.Native.targets
There is no more bugs
The solution was here : https://github.com/dotnet/runtime/issues/53365.
How can we configure TotalMemory like it

[2021-09-06 22:46] braidenstiller commented on #45262
Any chance this will make it in 6.0 or is this scoped for 7.0?

[2021-09-06 23:37] kouvel commented on #52379
Closing for now as discussed offline

[2021-09-06 23:37] #52379 closed

[2021-09-06 23:49] MichalStrehovsky opened #58737 "Revise pthread_condattr_setclock on Android"
See https://github.com/dotnet/runtime/pull/58701#issuecomment-913789763

---

We can likely use `pthread_condattr_setclock` on Android in NDK r21.  Also our minimum supported ios version is now greater than the version that didn't support CLOCK_MONOTONIC.

So we can likely change the ifdef around `BROKEN_CLOCK_SOURCE` to exclude ios and Android

https://github.com/dotnet/runtime/blob/e55968b688acc

[2021-09-07 01:39] VincentBu commented on #29683
Failed again in: [runtime-libraries-coreclr outerloop 20210906.5](https://dev.azure.com/dnceng/public/_build/results?buildId=1344598&view=ms.vss-test-web.build-test-results-tab&runId=39367816&resultId=104446&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-09-07 01:50] VincentBu opened #58739 "Test failure System.Net.WebSockets.Client.Tests.MemorySendReceiveTest.ReceiveAsync_MultipleOutstandingReceiveOperations_Throws(server: wss://corefx-net-http11.azurewebsites.net/WebSocket/EchoWebSocket.ashx)"
Run: [runtime-libraries-coreclr outerloop 20210906.5](https://dev.azure.com/dnceng/public/_build/results?buildId=1344598&view=ms.vss-test-web.build-test-results-tab&runId=39367852&resultId=103388&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-09-07 02:14] rickbrew commented on #44968
This would be really useful in my upcoming interop library conversion from C++/CLI to C# :) This will be several months down the road though

We were talking about it on Discord and I was able to come up with this, which doesn't require the delegate pointer trick and may produce better codegen (unverified either way):

[code]

... although this requires changing from using e.g. `IUnknown* p` to `P

[2021-09-07 06:40] carlossanlop commented on #58654
Yep, I',m sure. The examples you listed are missing triple slash docs, so there was nothing to port, and need the documentation to be added manually. For example:

#### DistributedContextPropagator

- One of the undoc APIs in this type is the `CreateNoOutputPropagator` method, which only has a summary, but does not have a returns value: [runtime/src/libraries/System.Diagnostics.DiagnosticSource/sr

[2021-09-07 06:43] carlossanlop commented on #58654
@noahfalk @tommcdon can you please take care of these APIs? @tarekgh is going to be OOF until after the deadline for merging 6.0 docs.

[2021-09-07 06:53] AnudeepGunukula commented on #58239
kinldy eloborate the issue
i removed the requestId argument from loopbackserver.cs and then
also removed argument from the abstract methods in genericloopbackserver.cs
which further causing errors in  its implemented methods in http2loopbackconnection.cs and http3loopbackconnection.cs
kindly help me here should i continue removing requestId from those methods also.

[2021-09-07 07:45] filipnavara commented on #58737
I think it's broken or unavailable on API level <= 20, which would roughly mean that it is available since Android 5.0. What is the minimum supported version now?

[2021-09-07 07:48] MichalStrehovsky commented on #58737
https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/mono/Directory.Build.props#L32

[2021-09-07 08:08] ViktorHofer commented on #55449
Closing as the fix is now part of every branch that showed the symptom (main, release/6.0*).

[2021-09-07 08:08] #55449 closed

[2021-09-07 08:18] StefanKoell commented on #58741
@RussKie If I can get a hand on a special build with this attribute, I could roll that out to my users in order to find out if it resolves the issue. Unfortunately I'm not able to provide a stand alone repro. I'm not sure what other condition must be met to get the crash. I haven't been able to reproduce the crash on my machines.

[2021-09-07 08:26] RussKie commented on #58741
You can try the following:
1. clone [release/5.0 branch](https://github.com/dotnet/runtime/tree/release/5.0),
2. change the code,
3. build ([instructions](https://github.com/dotnet/runtime/blob/main/docs/workflow/building/libraries/README.md#quick-start)), and then
4. use your private binary.

[2021-09-07 08:28] AraHaan opened #58742 "[ZlibStream] ArgumentOutOfRangeException when passing in compression levels past level 3 (cast from manual enum defining all of the native compression levels)."
### Description

I wanted to pass in the native zlib compression levels (raw 0~9) onto the Native zlib that used by DeflateStream in my code. However doing such results in an ArgumentOutOfRangeException when I explicitly cast my enum down to the one that DeflateStream expects (which are the proper values that are supported in the native zlib implementation).

[This branch on my zlib repository](ht

[2021-09-07 08:38] #57805 closed

[2021-09-07 08:41] kirsan31 commented on #58741
Due to that it's related to terminal server session closing/suspending it's a _bit_ difficult to build repro :(
But calling `GetLastWin32Error` after unmanaged function without `SetLastError` flag it's a **bug** any way...

[2021-09-07 08:48] Joe4evr commented on #58732
Why aren't you simply using [`UIntPtr.TryParse`](https://docs.microsoft.com/en-us/dotnet/api/system.uintptr.tryparse) for this?

[2021-09-07 08:49] filipnavara commented on #58742
That won't work (by design). The enumeration is converted into the native values and it's not a simple cast:
https://github.com/dotnet/runtime/blob/6cb0e80fe6f4c13a8e7d3a1b43d8fe6ea9ffc344/src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateZLib/Deflater.cs#L37-L63

[2021-09-07 09:24] WeihanLi opened #58743 "When I run the diagnostic analysis tool, got some warning"
Related:

![image](https://user-images.githubusercontent.com/7604648/132319867-74ec466e-2abb-4f3d-85c0-4e809ba62b20.png)

Is this expected, if not, do we need some fix?

[2021-09-07 09:28] AraHaan commented on #58742
Actually I think that default case should be changed to:

[code]
As most people like me want to use compression levels between the ones that are provided and so they expect to be able to cast it to ``CompressionLevel``. I feel like that should not break anything at all really.

[2021-09-07 09:31] filipnavara commented on #58742
That would not work. The values of the enum overlap with the values of the native compression levels.

[2021-09-07 09:32] AraHaan commented on #58742
Well there should be some way to allow one to use all of the compression levels that the native one supports.

[2021-09-07 09:36] filipnavara commented on #58742
There's not even a guarantee that all native values are supported or that the native zlib is used. In fact, it was not used in early .NET Framework versions and it's probably still not used for Browser implementation (https://github.com/dotnet/runtime/tree/main/src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateManaged). For most platforms .NET actually uses a modified Intel Zlib

[2021-09-07 09:43] ViktorHofer opened #58744 "CoreCLR GCC Product Build Linux x64 leg failing in CI"
[code]

Likely regressed with https://github.com/dotnet/runtime/pull/58701 which didn't run the failing leg (for whatever reason?).

cc @MichalStrehovsky

[2021-09-07 09:46] AlexRadch commented on #58732
I use it in `net5.0` and later.
`netstandard2.1` and early targets does not have `Parse` methods for `IntPtr` and `UIntPtr`.

[2021-09-07 09:46] StefanKoell commented on #58741
@RussKie I tried what you suggested and even though some errors appear when I build the System.Drawing.Common solution, I do get an assembly in the net5.0-Release folder in the artifacts. Unfortunately, replacing this dll with the one I ship my product makes the app faulty. I can briefly see the process starting but it then disappears with no logs in the event log.

I also adapted the deps.json fi

[2021-09-07 09:51] AraHaan commented on #58742
Also note that their ZlibStream inflater is broken: <img width="908" alt="image" src="https://user-images.githubusercontent.com/15173749/132324394-8c96c878-d715-404e-a358-00188503e824.png">

[2021-09-07 09:51] kirsan31 commented on #58741
Key moment here is: _when DllImportAttribute.SetLastError **is true**._

[2021-09-07 11:02] karelz commented on #54857
@carlossanlop can you please split `System.Net.Http.Json`? -- that is maintained by @Jozkee (cc @eiriktsarpalis @steveharter @layomia)

[2021-09-07 11:05] Joe4evr commented on #58732
Even if this method were to be added to the BCL, it's not going to be backported to NetStandard 2.1, so you still wouldn't be able to use it in earlier targets.

[2021-09-07 11:08] MichalStrehovsky commented on #58744
Not at my PC anymore for the rest of the day, but submitted #58746 to see if it fixes it. That line cost me half an hour of investigation (I saw a red herring) and it feels like it might be behind this too.

[2021-09-07 11:17] ramondeklein opened #58747 "createdump cannot write to stdout"
ARM-based systems with limited storage often don't have storage to save a complete dump (mostly >170MB). Dump files are highly compressible, so I would like to create a compressed dump. This is typically possible using `createdump -f - <pid> | gzip > coredump.gz`. Unfortunately, the `createdump` utility doesn't support writing to standard output.

For now I tried to do the following that works, bu

[2021-09-07 11:24] ramondeklein commented on #58747
I guess it could be easily changed by changing [this method](https://github.com/dotnet/runtime/blob/f57b6e7308e9db32e63488aa5e8f938934f54cf0/src/coreclr/debug/createdump/dumpwriter.cpp#L24):

[code]
If the `dumpFileName` is set to `-`, then it uses file descriptor 1 (stdout).

[2021-09-07 11:33] ramondeklein commented on #58747
I also found another workaround, by using `/proc/self/fd/1` as the filename, so it effectively writes to stdout:
[code]
This solves the issue, but using `-` would have been a bit more intuitive.

[2021-09-07 12:00] karelz opened #58750 "[System.Net.Http.Json] System.Net.Http.Json - Undoc 6.0 APIs"
Area owners: @Jozkee cc @eiriktsarpalis @steveharter @layomia

The following APIs were introduced in 6.0 and did not get documented in triple slash. They will need to be manually documented directly in dotnet-api-docs, and must target the net6-rc1 branch. This needs to be done before Tuesday September 14th so we have enough time to generate the IntelliSense package that will be shipped to GA.

| U

[2021-09-07 12:06] karelz commented on #54857
@CarnaViire can you please help with 3 WebSocket APIs above and the 2 `System.Net.Http.Headers.HttpHeadersNonValidated`?
@aik-jahoda @wfurt can you please help with the 6 System.Net.Security APIs above?

[2021-09-07 12:33] marek-safar commented on #58748
/cc @pavelsavara

[2021-09-07 12:55] eiriktsarpalis commented on #58469
The exception message:

Seems to provide a clear suggestion on what is causing the error. Not discounting the possibility of this being a regression, however we would need to see a reproducing app to better understand the nature of the error.

[2021-09-07 12:57] eiriktsarpalis commented on #58132
I believe consensus is we should not be adding the proposed API, so I'm going to close this. @Mrxx99 thank you for contributing the proposal!

[2021-09-07 12:57] #58132 closed

[2021-09-07 12:59] Mike-E-angelo commented on #58469
Hi @eiriktsarpalis thank you for your investigation of this issue.  As stated in the ticket a csproj was provided and attached.  You may also find the same project here for your review:

https://github.com/Mike-E-angelo/Stash/tree/master/Syncfusion.Error/WebApplication1

Please do let me know if you require any further information and I will do my best to assist. 👍

[2021-09-07 13:03] eiriktsarpalis commented on #58690
Hi @JakenVeina, would it be possible to provide a minimal app that reproduces the issue? Thanks.

[2021-09-07 13:05] eiriktsarpalis commented on #58469
Thanks, we'll investigate.

[2021-09-07 13:07] teo-tsirpanis opened #58752 "Support the Windows 11 I/O ring API"
As noticed in https://github.com/dotnet/runtime/issues/51985#issuecomment-913066109, Windows 11 will get [a new I/O API](https://windows-internals.com/i-o-rings-when-one-i-o-operation-is-not-enough/) similar to `io_uring`.

Since it's still in preview, documentation and details about it are scant. When more are released and if it is decided to support it in a future release, this issue will track

[2021-09-07 13:16] RussKie commented on #58741
@StefanKoell I'm afraid I don't know enough about the runtime, area owners should be able to help. (Expect some delays due public holidays in the US).
I think @safern owns this library but he's OOF. @ericstj is there someone else who can help?

@kirsan31 this is a perfect Q for @AaronRobinsonMSFT :)

[2021-09-07 13:38] grinay opened #58754 "DOTNET_ROLL_FORWARD=Major ignores in new builds of .net 6 since preview 7"
Hi. I'm using the global environment variable DOTNET_ROLL_FORWARD=Major and I'm able to run .net 3,5 projects on my Mac machines with m1 CPU. But since preview 7 this variable seems to be ignored and I'm unable to run .net 3,5 projects with new versions.
The version which I using currently dotnet-sdk-6.0.100-preview.6.21355.2-osx-arm64.pkg , but after update to
dotnet-sdk-6.0.100-rc.2.21454.3-osx-

[2021-09-07 13:50] tannergooding commented on #58650
@GrabYourPitchforks, @tarekgh. Are you familiar with any localization gotchas in this area?

We simply use `info.NumberDecimalSeparator` (https://source.dot.net/#System.Private.CoreLib/Number.Parsing.cs,b3578775a3c73d2e,references) when parsing the string and based on the above, it should work as expected.

[2021-09-07 13:53] tannergooding commented on #58607
The functions exist as more than just hardware optimizations and they are fully suitable for use in general algorithms, hence why they are on `Math`/`MathF` and not some other type.

These were simply missed from the initial preview due to the functions being new in .NET 6.

[2021-09-07 14:03] tannergooding commented on #58295
@BruceForstall  IIRC, we have a few mac machines which have AVX but not AVX2. Its possible there is a slightly incorrect check somewhere allowing this through.

What's somewhat odd here is that the failing scenario basically tests (see https://github.com/dotnet/runtime/blob/main/src/tests/JIT/HardwareIntrinsics/General/Vector256_1/GetAndWithElement.Byte.0.cs and neighboring files):
[code]

The fai

[2021-09-07 14:05] ViktorHofer commented on #58754
cc @vitek-karas

[2021-09-07 14:13] atuls9390 commented on #36386
@khellang Any work-around for this?

[2021-09-07 14:14] tannergooding commented on #58732
I'm not sure I see a huge benefit in this API as this is a two line helper method that anyone can write, there is no actual reason it needs to be written in IL or in the BCL.

The code is also likely going to inline/optimize better by using a simpler implementation:
[code]

[2021-09-07 14:22] karelz commented on #58239
@AnudeepGunukula I think the idea was to remove the argument -- which means, incl. inherited classes. Making it compile should be fairly straightforward, shouldn't it?

[2021-09-07 14:29] AaronRobinsonMSFT commented on #58741
That seems like the issue here.

Right. If error codes are expected from a P/Invoke, the `SetLastError` should be set to `true`.

It appears the change here was done quite some time ago and to a different mechanism: https://github.com/dotnet/corefx/pull/39275.

/cc @elinor-fung @JeremyKuhne

[2021-09-07 14:34] khellang commented on #36386
Not really. I ended up just using the Redis API directly and not shipping a library to NuGet as it wouldn't be as useful without proper abstractions.

[2021-09-07 14:36] vitek-karas commented on #58754
I assume you're running your app via `dotnet run` - as I can't think of another case where the behavior changed.

The change we made was that we enable apphost on all apps in the .NET 6 SDK. Since 3.1 only supports x64, I assume the apphost it built as x64 and then when the app is trying to run, it does so as x64. Since you only have arm64 runtime, it fails.

We were able to do this since we now d

[2021-09-07 14:38] FiniteReality commented on #58742
A trick used by some other APIs is to map the *known* values to negative numbers, and then allow somebody to pass a positive value which gets mapped as-is. Since CompressionLevel already uses positive numbers, the opposite could instead be done: negative numbers would get mapped to their absolute value.

Personally, though, I think the best solution would be to expose a ZLibEncoder/Decoder (see [t

[2021-09-07 14:40] IEvangelist opened #58756 "The actual `ExceptBy` and `IntersectBy` APIs differ from the approved APIs"
### Description

It was originally proposed to have heterogenous element types for the `second` parameter for both `ExceptBy` and `IntersectBy` APIs, but after discussions the API was approved with non-heterogenous element types. Here is a comparison of the original proposed API, and the approved API.

[code]

Here is the actual API as it exists today:

[code]

The same is true for the `Queryable`

[2021-09-07 14:48] layomia commented on #58698
Yes we can log a diagnostic error for this scenario.

Yes we log diagnostic errors for other scenarios, e.g. when a custom context class or one of its enclosing types is not `partial`.

[2021-09-07 14:49] ViktorHofer commented on #52596
Closing as resolved.

[2021-09-07 14:49] #52596 closed

[2021-09-07 14:51] lewing commented on #58569
If you install the wasm-tools workload then set
[code]
It should get set correctly in recent builds.

[2021-09-07 14:51] eerhardt commented on #58502
No that isn't the case. In #58536, the term "multi-targeting" is referring to which version of the Roslyn compiler is being targeted by the source Json code generator. If it only targets the latest Roslyn version, it means the Json code generator won't be able to work in VS 2019, which has an older Roslyn version.

User projects can target multiple TFMs (netstandard2.0, net5.0, etc) just the same

[2021-09-07 14:54] jairbubbles opened #58757 "regex: different behavior between .NET Framework and .NET Core"
_While copy/pasting a regex (don't judge me 😁) from a .NET Framework to a .NET 5.0 project alongside with the associated tests, I was surprised to see the exact same tests failing only with .NET Core._

I created a sample project ([TestRegex.zip](https://github.com/dotnet/runtime/files/7122419/TestRegex.zip)) with the following class:

[code]

And here is the test results execution:

![image](http

[2021-09-07 14:56] jairbubbles commented on #58757
(.NET6 version is 6.0.100-preview.7.21379.14)

[2021-09-07 15:02] ViktorHofer commented on #46863
Closing as resolved.

[2021-09-07 15:02] #46863 closed

[2021-09-07 15:07] #58320 closed

[2021-09-07 15:14] eerhardt commented on #54862
Nothing in the "SourceGeneration" namespace is public API that consumers should be using. @carlossanlop - is there a way we can remove any members coming from the https://github.com/dotnet/runtime/blob/main/src/libraries/System.Text.Json/gen/System.Text.Json.SourceGeneration.csproj library? We shouldn't have them on docs.microsoft.com.

[2021-09-07 15:17] eiriktsarpalis commented on #58502
@eerhardt it looks like the question has been answered and the underlying issues are being addressed. Can we close this issue?

[2021-09-07 15:22] #58502 closed

[2021-09-07 15:28] janvorli commented on #58111
Unfortunately, it turns out this is by design on macOS for work queue threads. They have `pthread_kill` explicitly disabled. It is documented here: https://developer.apple.com/library/archive/documentation/General/Conceptual/ConcurrencyProgrammingGuide/ThreadMigration/ThreadMigration.html#//apple_ref/doc/uid/TP40008091-CH105-SW18

It seems that we will need to ignore the failure to send the signal

[2021-09-07 15:33] Jericho commented on #58698
How do I access this log?

[2021-09-07 15:38] lateralusX commented on #58599
Probably related to similar CoreCLR issues, https://github.com/dotnet/runtime/issues/57461,  and probably fixed by https://github.com/dotnet/runtime/pull/58615.

[2021-09-07 15:38] ViktorHofer commented on #57259
@hoyosjs do you know if there's an issue filed about ignoring the excluded symbols in the validation pipeline?

❌ - [Log] - (NETCORE_ENGINEERING_TELEMETRY=CheckSymbols) Missing symbols for 2 modules in the package D:\workspace_work\1\a\signed\shipping\assets\symbols\Microsoft.NETCore.App.Runtime.win-arm.6.0.0-rc.2.21454.1.symbols.nupkg

[2021-09-07 15:38] eiriktsarpalis commented on #58756
The API as approved [can be found here](https://github.com/dotnet/runtime/issues/27687#issuecomment-769339626). In the case of `Enumerable.ExceptBy` it looks as follows:
[code]
I decided to drop the first couple of methods because I encountered issues with overload resolution/type inference when both method variants were exposed. The choice was influenced by the fact that they derive trivially fro

[2021-09-07 15:39] mangod9 commented on #58045
@DrewScoggins is there a repro and/or dump available for the issue?

[2021-09-07 15:43] ericstj commented on #58343
In that case what it might mean is "app size increases when consuming System.Text.Encodings.Web package on browser" right?  Maybe it's not super critical since browser will get linked anyways, though with different settings.

[2021-09-07 15:43] ViktorHofer commented on #57259
@danmoseley I would like to get to get the Validation pipeline green for NET6 and onwards. There are currently six source code validation issues. Can you please take a look and let me know what we should do about them?

2021-09-05T00:07:55.6090705Z [Error]     s/src/libraries/System.Net.Http.WinHttpHandler/tests/UnitTests/ClientCertificateHelper.cs(120,1): Error CSCAN-GENERAL0020: Found X.509 Cert

[2021-09-07 15:47] jkotas commented on #58111
The documentation says that `pthread_kill` cannot be called by the work queue thread. It does not say anything about the target thread. Is it ok for the target thread to be a work queue thread?

The current (work queue) thread that is sending the signal is in a good spot already. I think the problem is with all other (non work queue) threads in the process. We won't be able to suspend them if they

[2021-09-07 15:48] #58744 closed

[2021-09-07 15:48] ViktorHofer commented on #58744
Reverted the offending change in https://github.com/dotnet/runtime/pull/58755.

[2021-09-07 15:54] IEvangelist commented on #58756
Hi @eiriktsarpalis, I do see that - but I'm a bit conflicted. That is why I wanted to raise the issue. I just feel like it's too different than its counterpart `Except` where both collection types are the same.

[2021-09-07 16:11] janvorli commented on #58111
The doc is a bit vague and misleading then. I haven't read it that way. Anyways, the problem is not caused by the caller is of the `pthread_kill` being the work queue thread. The target thread is actually the one that's checked. See the implementation here:
https://github.com/Apple-FOSS-Mirror/Libc/blob/master/pthreads/pthread.c#L1574-L1601

[2021-09-07 16:12] josalem commented on #56888
100% agree. Based on the structure of the generated code, those if statements should be something we know the answer to at generation time.

Yeah... I saw that when I was reading the snippet. Luckily, it shouldn't hit the `delete[]` due to the pre-baked if statements, but still, it's troubling.

I think this is all pointing to the need to go through the generation scripts and update them.

[2021-09-07 16:18] karelz commented on #57619
Triage: We do not think this meets 6.0 bar -- people will be ok to catch all exceptions in preview, or will find this issue and ignore NRE in this specific case.

[2021-09-07 16:23] tannergooding commented on #58486
Closing this as by-design. As indicated above doc contributions/improvements are welcome if you'd like to see this updated.

[2021-09-07 16:23] #58486 closed

[2021-09-07 16:30] stephentoub commented on #58757
.NET doesn't (and never has) supported POSIX bracket expressions, so the `[:punct:]` in your expression isn't doing what you expect it to be doing (https://github.com/dotnet/runtime/issues/22401), on either .NET Framework or .NET Core.  You can use `\p{P}` instead.  I expect the difference in behavior you're seeing is due to bug fixes related to parsing that are influencing how that is being handl

[2021-09-07 16:32] pavelsavara commented on #58748
I tested with dotnet.6.0.0-rc.1.21430. and VS 2021 preview 4 and it worked just fine.
![image](https://user-images.githubusercontent.com/271576/132379813-fde0295d-904d-4233-985f-c00bf06da88f.png)

[2021-09-07 16:34] eerhardt commented on #58675
@fgheysels - regarding the top comment -

This is correct. The task returned by RunAsync waits for all the hosted services to have run, and stopped, before returning. We can update the docs to make this explicit.

The reason this happens is because the `stoppingToken` is being stopped while your method is inside `Task.Delay`. When this happens, `Task.Delay` throws a `TaskCanceledException`. Which

[2021-09-07 16:38] gewarren commented on #58662
I'm going to let @carlossanlop answer that. I wasn't aware till late last week that we were going to create PRs to the RC1 branch. I thought the RC1 branch was just to generate the report.

[2021-09-07 16:44] JulieLeeMSFT commented on #58729
@kunalspathak PTAL.

[2021-09-07 16:47] karelz commented on #58739
Duplicate of #57134

[2021-09-07 16:47] #58739 closed

[2021-09-07 16:47] kunalspathak commented on #58729
I have seen cases where roslyn would add unreachable infinite loop inside finally - https://github.com/dotnet/roslyn/issues/51205

[2021-09-07 16:53] IEvangelist commented on #58662
It appears that there are actually more APIs from `System.Linq` that are missing triple slash comments, I shared my findings here.

https://github.com/dotnet/runtime/issues/58756

- `Chunk`
- `ExceptBy`
- `ElementAt(..., Index)`
- `ElementAtOrDefault(..., Index)`
- `DistinctBy`
- `LastOrDefault(..., defaultValue)`
- `MaxBy`
- `MinBy`
- `SingleOrDefault(..., defaultValue)`
- `UnionBy`
- `Zip`

[2021-09-07 16:57] huoyaoyuan opened #58758 "Consider to throw a better exception in System.Media.SoundPlayer.LoadAsync"
https://github.com/dotnet/runtime/pull/57896#discussion_r703572743

It throws `NullReferenceException` if there's nothing to load. Consider `InvalidOperationException`?

[2021-09-07 17:00] karelz commented on #58647
You are right, `HttpClient` intentionally calls `base.SendAsync` to bypass overrides.
Stepping back a moment, it is not recommended to override this method, but rather leverage `HttpMessageHandler` extension model -- see [HttpClient docs](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient?view=net-5.0#remarks):

Is that what you are going after perhaps?

[2021-09-07 17:00] eiriktsarpalis commented on #58662
@IEvangelist this concerns missing docs in `dotnet-api-docs`. Linq triple-slash docs in `dotnet/runtime` are largely missing, but this should not be a blocker from a 6.0 perspective. FWIW an attempt was made to backport docs to triple-slash in #51140 but that was aborted due to unresolved issues in the backporting process.

[2021-09-07 17:07] pavelsavara commented on #58748
I was able to replicate on 5.0.400 + VS 16.11.2
![image](https://user-images.githubusercontent.com/271576/132383638-644bf41a-fcc7-4f63-a551-567b4d6017d0.png)

The `_items` is internal buffer and the public API returns correct value of `.Count`.

You could try to add following code to your test to validate it.
[code]

[2021-09-07 17:07] #58748 closed

[2021-09-07 17:07] agocke commented on #58173
Looks like this question was answered -- we don't do automatic binding redirects, but do try to load the highest version. If the loaded assembly doesn't match the interface that the reference was compiled against, that can cause a variety of failures, including MissingMethodException.

Closing for now, unless there's an unanswered question.

[2021-09-07 17:07] #58173 closed

[2021-09-07 17:13] #58619 closed

[2021-09-07 17:28] EgorBo commented on #58729
I also saw in the past that until we calculate preds we don't maintain bbRefs 100% accurate in the initial phases

[2021-09-07 17:37] Erakx commented on #58569
Ok thank you lewing,

[code]

So i will have to do this in the .csproj file ?

[2021-09-07 17:45] josalem commented on #58654
@carlossanlop, @noahfalk is similarly OOF till after that deadline. I'll attempt to fill in the blanks, but I can't promise that I'm familiar enough with all the APIs to add too much detail.

Based on context, I'm assuming I can `ctrl`+`f` for "To be added." to find all the blanks I need to fill in. I'm assuming it's also preferential to fix up the `///` docs in the code as well?

[2021-09-07 17:55] eiriktsarpalis commented on #57198
Hi @sdmaclea, could you take a look at the above?

[2021-09-07 17:58] kunalspathak commented on #58729
So it is not directly related to dotnet/roslyn#51205 but has similar effects.

Roslyn duplicates the infinite loop from inside the `finally` block to the outside and add a jump to it leaving the infinite loop inside `finally` as it-is. Of course, jit need to be resilient to such ILs, but may be there is room to improve in roslyn as well - @jaredpar ?

[code]

[2021-09-07 18:13] carloluisito commented on #30171
Is this fixed on .Net core 3.1? I can still replicate the issue.

`_httpClient.DefaultRequestHeaders.TryAddWithoutValidation("Accept", "application/vnd.airselangor.portal.api+json;channel=apiv2");`

![image](https://user-images.githubusercontent.com/33120739/132391653-5a0db25f-1273-48b4-814a-aae83902b6eb.png)

[2021-09-07 18:20] joperezr commented on #58343
True, I guess the uneasy feeling for that one is that we are only testing the linked asset, but shipping an un-linked that will be used if the package is consumed. My suggestion of fixing it and marking as the "important one" is mostly due to the fact that we are shipping assets we don't test in that case.

[2021-09-07 18:21] CarnaViire commented on #43916
Fixed by dotnet/dotnet-api-docs#7103 and dotnet/dotnet-api-docs#7110

[2021-09-07 18:21] #43916 closed

[2021-09-07 18:36] lewing commented on #43859
cc @pranavkm

[2021-09-07 18:41] layomia commented on #58698
It's part of the error log shown during the build (visible both in command line & VS), just like the `CS0534` error you're seeing above.

[2021-09-07 18:54] AraHaan commented on #58742
But what if one wants to construct those streams using an int value for compression levels?

[2021-09-07 19:11] terrajobst commented on #43669
* We should have a list of places where we'd **implement** the abstraction:
    - `System.Text.Json`
    - XML serializer?
    - Data contract serialization?
* We should have a list of placed where we'd **accept** the abstraction
    - Azure SDK (such as Cosmos)
    - ASP.NET Core's model binder?
    - `HttpClientJsonExtensions`?
* We should validate that the abstraction works well with the featur

[2021-09-07 19:13] radical commented on #58569
Yes

[2021-09-07 19:22] TanayParikh commented on #58667
Hmm I can't find that directory in `aspnetcore\src\Components\WebAssembly\testassets\Wasm.Authentication.Server` nor `aspnetcore\artifacts`. @javiercn you'd mentioned you'd found some issues with the setup of the samples. Could this be related?

Not installed. Trying this, thanks!

[2021-09-07 19:23] jogibear9988 commented on #14336
maybe. some part of the code would setup. a callback of a value other than infinity, so this could be a perf. consern

[2021-09-07 19:30] karelz commented on #58614
Triage: Windows works because it is implemented on top of http.sys
Looks like something we might want to address in the managed implementation.

It might be as simple as make `NetworkStream` to own the `Socket`. We need to validate if `HttpListener` will be ok with that.
We would appreciate help in the investigation here ...

[2021-09-07 19:34] karelz commented on #58712
Triage: Is there any reason, why `Uri` was used in these situation vs. `Path`?
We already regret we support path in Uri, extending it even more is not something we are thrilled about ...

[2021-09-07 19:35] tommcdon commented on #58654
@carlossanlop I'm taking ownership to drive this to completion

[2021-09-07 19:37] teo-tsirpanis opened #58765 "[API Proposal]: Add `System.Reflection.Metadata.Ecma335.ControlFlowBuilder.Reset`."
### Background and motivation

One of the very few reference types in S.R.M, the `ControlFlowBuilder` class is an obstacle to low-allocation code, since it requires allocating one object of this type for each emitted method.

I propose to add a public method that resets `ControlFlowBuilder` objects, allowing consumers to reduce allocations by reusing them.

Such method already exists but it's inte

[2021-09-07 19:38] drieseng commented on #14336
@jogibear9988 There are already APIs that expect a **TimeSpan** representing **-1** milliseconds to indicate infinity.
One such example is [`System.Threading.Thread.Sleep(TimeSpan timeout)`](https://docs.microsoft.com/en-us/dotnet/api/system.threading.thread.sleep#System_Threading_Thread_Sleep_System_TimeSpan_).

As @huoyaoyuan mentioned, this value is currently exposed through [`System.Threading.

[2021-09-07 19:39] karelz commented on #58722
Triage: This is OS leaking into errors. Not sure if we can ever fully be the same across platforms. @wfurt any further thoughts?

[2021-09-07 20:12] AndyAyersMS commented on #58522
Seems like this runs into a limitation of #36862 where if the number of fields of a multi-reg struct arg doesn't match the number of registers then the struct is not promoted. Here we have 3 `int` fields taking up 12 bytes, passed in 2 8-byte registers.

Would be easier to verify if the struct promotion code left a better debug trail.

[2021-09-07 20:14] FiniteReality commented on #58742
You don't.

[2021-09-07 20:15] tommcdon commented on #57577
Adding @hoyosjs @mikem8361.  Is the issue specific to placement new and delete[] operators in the DAC?  I am wondering if placement delete[] is needed here, or if we need to change the alloc/delloc pattern being used here.

[2021-09-07 20:16] DrewScoggins commented on #58045
I do not have a dump for this. We do not auto-collect dumps of failures in the perf lab. I could try and collect one by running that test over and over and seeing if I can reproduce the crash, but that is the only way I know of trying to repro this.

[2021-09-07 20:31] #58539 closed

[2021-09-07 20:32] AndyAyersMS commented on #58522
Actually we hit an earlier bail out; we only support promotion on x64 if there are 1 or 2 fields:

https://github.com/dotnet/runtime/blob/83f6621eec9f8f5b84b9a8655cfcc626432c18c4/src/coreclr/jit/lclvars.cpp#L1958-L1962

[2021-09-07 20:40] #49647 closed

[2021-09-07 20:48] janvorli commented on #45356
The crossgen is dead now, replaced by crossgen2 completely, closing the issue.

[2021-09-07 20:48] #45356 closed

[2021-09-07 20:51] karelz commented on #30171
Per linked PR, it is addressed in .NET 5+ - see https://github.com/dotnet/runtime/pull/792#issuecomment-611125494

[2021-09-07 20:57] tommcdon commented on #58747
@mikem8361

[2021-09-07 20:59] ericstj commented on #58343
Let's make a call on this for 6.0.0 or move to 7.0.0.

[2021-09-07 21:01] mikem8361 commented on #58747
See https://github.com/dotnet/runtime/issues/9840

[2021-09-07 21:01] mikem8361 commented on #9840
Dup of https://github.com/dotnet/runtime/issues/58747

[2021-09-07 21:01] #9840 closed

[2021-09-07 21:15] danmoseley commented on #58743
@stephentoub do we run this analyzer against our own code?

I assume all use in public classes (such as ours above apparently) would need to be suppressed as removing would be a breaking change.

[2021-09-07 21:16] danmoseley commented on #58743
I guess I'm wrong - #41918 fixes two of these already.

[2021-09-07 21:22] stephentoub commented on #58743
"AA0011" isn't a Roslyn analyzer.  It's part of the Visual Studio "Diagnostic Analysis" tool window, which let's you analyze dumps and then reports on things it finds.

[2021-09-07 21:26] hoyosjs commented on #57577
The problem is there is a mismatch of allocators - we noticed it earlier as a lot of the workstreams changed the allocators. This is just one case. Another was observed in the usage of STL constructs in the DAC. For this case the deallocation should use the deallocation through the custom allocator as well.

[2021-09-07 21:29] #58063 closed

[2021-09-07 21:32] ViktorHofer commented on #58343
1. For 6.0 I would like us to enable trimming NetCoreAppCurrent inbox source assemblies but exclude PNSE assemblies for: https://github.com/dotnet/runtime/pull/58345 (but change the `$(TargetFrameworkIdentifier)` condition to `$([MSBuild]::VersionGreaterThanOrEquals($(TargetFrameworkVersion), '$(NETCoreAppCurrentVersion)'))` to only trim NetCoreAppCurrent.
2. For 7.0 I think it makes sense to chan

[2021-09-07 21:37] imhameed commented on #48914
Also fails on arm64 FullAOT. A CI log can be found [here](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-55362-merge-c1795bba6ea44330a7/JIT.Regression/1/console.3c6c8ba8.log?sv=2019-07-07&se=2021-09-27T18%3A17%3A52Z&sr=c&sp=rl&sig=lTucHtcfk4oyFhz7T6BjePCM8eloElU8P32BbCYel6I%3D). The log is also duplicated here: https://gist.github.com/imhameed/4d2a3d559314e9a7ac112

[2021-09-07 21:41] BrzVlad commented on #58062
We'll see if anything can be done so llvm doesn't reconstruct obj refs. Otherwise we'll just disable sroa for 6.0 and investigate this issue later.

[2021-09-07 21:52] bradwestness opened #58769 "HttpClient Silently Omits Message Body If Header Has Trailing Newline"
### Description

In .NET 5, if you construct an `HttpRequestMessage` and set a header value that has a trailing newline, there is no exception thrown, but when the request is sent, the message body will silently be omitted.

Example:
[code]

The message will still be sent and if you inspect it, the `Content` appears to be there, but the message body is not included with the payload that gets sent

[2021-09-07 22:16] dallmair opened #58770 "System.Text.Json source generator fails to deserialize init-only & required properties"
### Description

When using the System.Text.Json source generator, init-only properties are not deserialized.

Repro code:

[code]

Expected output:

[code]

Actual output:

[code]

### Configuration

* .NET 5.0.9 with System.Text.Json version 6.0.0-preview.7.21377.19
* Windows 10.0.19043.1052 x64

[2021-09-07 22:16] MihaZupan commented on #58769
The body will be sent, but the server may fail to interpret it / reject the request as the request is corrupting the HTTP flow.
![image](https://user-images.githubusercontent.com/25307628/132416824-7a3067c0-ca7d-49e9-a331-231a14a2da27.png)

See the underlyned bytes in the screenshot above - the server may interpret the `0A 0D 0A` (`\n\r\n`) as two new lines separating the headers from the body. As

[2021-09-07 22:19] bradwestness commented on #58769
Ah, ok. I was looking at the messages in Fiddler and it doesn't show any content (and the remote server was also evidently just silently interpreting it as no content) so I assumed it wasn't getting sent. But evidently Fiddler was also just interpreting the CLRF as an end of message delimiter and not showing the rest.

Sounds like the .NET 6 behavior is already addressing this and would've saved m

[2021-09-07 22:24] #58769 closed

[2021-09-07 22:34] bartonjs opened #58772 "Add a test for verifying non-modified reader state in JsonDocument.ParseValue on deep values"
`Utf8JsonReader` has a `BitStack` value that is a value type right up until it exceeds depth 64.

Since https://github.com/dotnet/runtime/blob/b7e10374429b5af32debc4660aa9bce41cfb903e/src/libraries/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs#L1126-L1137 does not check the MaxDepth value, the "restore on exception" logic in https://github.com/dotnet/runtime/blob/b7e10374429b5af32

[2021-09-07 22:49] tsu1980 opened #58773 "Support cookie values with comma"
The following code will fail.
[code]

This means that c# does not allow commas, but major browsers (Chrome, Firefox) do.

Chrome, Edge, and Firefox are the ones that allow commas. The combined market share of these browsers is probably over 90%. This means that **allowing commas is a de facto standard**.

My opinion is to follow de facto standards, not standardization bodies, because our goal is n

[2021-09-07 23:05] jaredpar commented on #58729
Making sure we're on the same page: the loop outside the finally is the unreachable one correct?

Possibly. I'm a bit surprised we are duplicating here, not sure why we'd be doing that when a loop is inside a `finally`. @cston any intuition here?

[2021-09-07 23:11] ericstj commented on #58500
This has been the case for all past releases since .NETCore 1.0 (and technically even before that when we were OOBing on .NETFramework and NGEN).  It's a very intentional tradeoff: we allow ourselves to remain agile in API by shipping new versions in packages that can add new API even on old frameworks, at the cost of those new packages not being optimized.  I don't think we'd want to start carryi

[2021-09-07 23:24] kunalspathak commented on #58729
No, the loop inside the finally is unreachable. We directly jump to the loop outside on `IL_000e  `

[2021-09-07 23:28] jaredpar commented on #58729
Yes but won't an exception jump to the finally block?

[2021-09-08 00:26] OoLunar opened #58777 "[API Proposal]: Add further validation to EmailAddressAttribute"
### Background and motivation

My basic implementation is more for show and basic concept. The main goal is to validate that the email according to [RFC 3696, Section 3](https://datatracker.ietf.org/doc/html/rfc3696#section-3). Naming the method `IsValid` is really misleading if not outright incorrect. Right now [the method](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Componen

[2021-09-08 00:36] MichalStrehovsky opened #58779 "src/libraries/Native changes don't trigger GCC leg"
The root cause behind the clean build blocking issue #58744 is that the GCC leg wasn't triggered.

This is likely because the GCC leg only runs on coreclr changes and the change to src/libraries/Native wasn't considered a coreclr change. Maybe those should be.

[2021-09-08 00:37] MichalStrehovsky commented on #58744
@ViktorHofer Looks like the leg only triggers when coreclr is changed but it doesn't consider changes to src/libraries/Native to be coreclr changes (it also doesn't trigger in #58746).

I tried to find where the definition of "coreclr changes" is but got lost in the yaml. Filed https://github.com/dotnet/runtime/issues/58779 so that it doesn't get lost.

[2021-09-08 00:39] BruceForstall commented on #58295
I can repro this on Linux and Mac with:
[code]
The key is `JitStress` is required. We don't run JitStress + ABI modes in pipelines like `runtime-coreclr jitstress-isas-x86`. Maybe we should add `JitStress=1` and `JitStress=2` for all the ABI variants? Note that we do have JitStressRegs variants with "noavx" in `runtime-coreclr jitstressregs-x86`

[2021-09-08 00:56] hhao01-becls commented on #58650
We also find a similar issue #37743 related to this culture.

[2021-09-08 01:15] VincentBu opened #58781 "Test failure tracing/eventpipe/pauseonstart/pauseonstart/pauseonstart.sh"
Run: [runtime 20210907.81](https://dev.azure.com/dnceng/public/_build/results?buildId=1347167&view=ms.vss-test-web.build-test-results-tab&runId=39438650&resultId=102430&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-09-08 01:27] layomia commented on #58267
Fixed for 6.0 in https://github.com/dotnet/runtime/pull/58652 cc @steveharter, @eiriktsarpalis.

[2021-09-08 01:27] #58267 closed

[2021-09-08 01:43] danmoseley opened #58782 "Test hang: System.Net.Tests.SimpleHttpTests.ListenerRestart_Success"
Failures 7/8-9/6 (incl. PRs):

Day | Run | OS
-- | -- | --
8/21 | PR #57879 - release/6.0 | Centos.8.Amd64.Open

[code]
This is in release/6.0. No other info I can provide.

[2021-09-08 01:50] evilzhou opened #58783 "attribute not work in dynamic module when marshal"
I tested it in Xamarin, but dotnet runtime also exists:

![B8e011799c6fc43a1b8891993a90da9ac637658856013765092_20210830-100000-image](https://user-images.githubusercontent.com/14306064/132432954-eb54c2d2-7891-4de5-9d4a-adeee9dd756b.png)
![B9efe2a3af0c148e0b69db8730f9537f8637658856958724359_20210830-100135-image](https://user-images.githubusercontent.com/14306064/132432962-632c48e7-4e90-47b5-bede-9

[2021-09-08 01:57] JakenVeina commented on #58690
It looks like a "minimal" reproduction might not be possible. I have replicated the scenario in a simple console program, using the same runtime and package versions, and the exception does not occur. I.E...
[code]
...where `value` is a `NullableContextAttribute` object, which, when reflected upon, produces a `ParameterInfo` object with a `Name` value of `null`. This line throws in the full soluti

[2021-09-08 02:17] patelmitul commented on #58647
I agree about HttpMessageHandler and I use it because it provides more flexibility over overloading SendAsync.
But, I have seen enough projects where people have tried to derive a class from HttpClient and that prompted me to raise this issue. If this class is not meant to be extended then it needs to be sealed otherwise it needs to provide functionality that one would expect from inheritance.
At

[2021-09-08 02:21] AndyAyersMS opened #58785 "JIT: Assertion failed 'optLoopTable[i].lpContainedBy in windows arm64 pgo libraries stress test"
Arm64 random pgo & gdv assertion failure in System.Globalization.Nls.Tests.dll:

https://dev.azure.com/dnceng/public/_build/results?buildId=1344008&view=ms.vss-test-web.build-test-results-tab

[code]

[2021-09-08 02:25] AndyAyersMS commented on #58785
Marking as 7.0 for now.

[2021-09-08 02:39] danmoseley commented on #58757
It would be interesting if you could simplify your regex and text down as far as possible. I would expect you can make it quite short and still see the divergent behavior. Then we could confirm it's a bug fix.

[2021-09-08 03:08] jasonpugsley commented on #58689
I tested this on Linux as well (Ubuntu 20.04) and it also returns ECONNREFUSED for a client trying to connect to a server socket that isn't yet in listen() state. So it seems at least MacOS/FreeBSD/Linux could use the bind()/chmod()/listen() sequence.
The create method could be simplified in
src/coreclr/debug/debug-pal/unix/diagnosticsipc.cpp as

[code]
But I still need someone else to weigh in on

[2021-09-08 03:10] AraHaan commented on #52065
How would the stackalloced buffer remain valid after that function returns? I thought about this and I think the way stackalloc works today is that it lives only until the function returns, then it is freed (GC'd).

Also if it does work, what about ref types, that later needs resized? a prime example is my open Pull request in dotnet/winforms that is a bit tricky because I either have to: A: rent

[2021-09-08 03:13] danmoseley opened #58786 "IndexOutOfRangeException in RegexInterpreter caused by not always resizing its stack appropriately"
From fuzzing, these are 3 distinct stacks, with relatively-reduced patterns. Note, the inputs are almost anything - not specially crafted. the examples below are in the interpreter, but I've seen similar crashes/stacks when using compiled mode.

RegexRunner, the base class, maintains several stacks (as managed arrays) and allows its derived classes (RegexInterpreter and CompiledRegexRunner) to pus

[2021-09-08 03:14] danmoseley commented on #58786
Actually, I only debugged the first case. It's possible that one or both of the others are due to attempting to read out of bounds, rather than write. It's also conceivable that there are other variations, but these are the only 3 distinct stacks.

[2021-09-08 03:15] jairbubbles commented on #58757
Thx @stephentoub, it works great with `\p{P}`:
![image](https://user-images.githubusercontent.com/15875066/132440546-23d13ef9-3fff-4bec-a6bb-b3242f015fd4.png)

As it's not supported I would expect it to thrown when building the RegEx but I guess it's not that simple.

I'll give it a shot.

[2021-09-08 03:58] MichalStrehovsky commented on #52065
I think this is in the text you're quoting: "These APIs would be intrinsic to the JIT and would effectively be implemented as the following, except specially inlined into the function so the localloc scope is that of the calling method:"

[2021-09-08 04:39] danmoseley commented on #57259
@aik-jahoda has been monitoring our code for credscan issues. Jan, can you please advise on question above?
https://github.com/dotnet/runtime/issues/57259#issuecomment-914418622
can you help fix/suppress?

[2021-09-08 04:43] BruceForstall commented on #58295
It looks like there's some kind of problem with disabling AVX2 (via `COMPlus_EnableAVX2=0`, and possibly because a machine doesn't have AVX2 hardware?), and `Vector256<>`. In particular, `getSIMDVectorType()` returns `TYP_SIMD16` and thus the `SIMDInitTempVar` (`lvaSIMDInitTempVarNum`) get allocated as `TYP_SIMD16`.

E.g., in the JitDump:
[code]

Later, `NI_Vector256_GetElement` uses this 16-byte

[2021-09-08 04:44] hoyosjs commented on #57259
There isn't an issue filed as far as I know.

[2021-09-08 04:53] BruceForstall commented on #58295
This will trigger the bug:
[code]

[2021-09-08 04:56] kunalspathak commented on #58729
That's right, my bad. I got confused with the symptoms seen in  dotnet/roslyn#51205

[2021-09-08 05:11] filipnavara opened #58787 "[tvOS] Environment.GetSpecialFolder is too eager in creating the special directories"
PR #57508 added the following code:

https://github.com/dotnet/runtime/blob/98670d7b3814c32c73f25124ffbb1f897094a4f9/src/mono/System.Private.CoreLib/src/System/Environment.iOS.cs#L102-L111

While the intention to create `ApplicationData` directory is correct the implementation creates also any subdirectory as well which is different from what legacy Mono did and what iOS does.

The expected versio

[2021-09-08 05:12] filipnavara commented on #58787
cc @akoeplinger @directhex @steveisok

[2021-09-08 05:20] karelz commented on #58773
@tsu1980 I agree we need to be practical with standards. However, I fail to see why HttpClient should be able to send wrong headers and how browser compat plays role here. I would understand the need to accept these headers on the server side.

Are there major servers that are violating the RFC as browsers by sending or requiring commas in cookies?
If not, why should we allow it in .NET?

[2021-09-08 05:27] BruceForstall commented on #58295
It's kind of surprising how different Windows and Linux are when compiling this function. E.g., inlining is massively different.

[2021-09-08 05:28] BruceForstall commented on #58295
@tannergooding Do you have any idea what the correct behavior / fix is here? Is this a bug you could pick up, since you know the area better than anyone?

[2021-09-08 06:27] tsu1980 commented on #58773
I have confirmed that nginx works as follows.

- Can send Set-Cookie header. e.g. `Set-Cookie: foo=ba,r`
- Can parse Cookie header. e.g. `Cookie: foo=ba,r`

[2021-09-08 07:02] BrzVlad commented on #58409
Disabled in https://github.com/dotnet/runtime/pull/58719

[2021-09-08 07:02] #58409 closed

[2021-09-08 07:04] ajcvickers commented on #58777
Duplicate of #27592. This has been discussed multiple times before (see other duplicates of #27592) and is something we are not planning to change.

[2021-09-08 07:04] #58777 closed

[2021-09-08 07:17] jairbubbles commented on #58757
It all goes down to `[:punct:]` which is handled differently between both frameworks but never properly.

In .NET Framework, `[:punct:]` seems to be ignored in the list of possible values but other values in the list won't be ignored.
In .NET Core, the list nevers matches anything as soon as there `[:punct:]` in it.

To sum up, these tests will only pass with .NET Framework:
[code]

[2021-09-08 07:20] AnudeepGunukula commented on #58139
Hi @eerhardt . i had made a pr that might solve this issue
Kindly review it and please let me know the changes if needed.
Thanks in advance

[2021-09-08 08:33] vsfeedback opened #58790 "CS0759 and CS8795 with LoggerMessageAttribute and single-line "namespace" - the autogenerated code doesn't pick up the namespace."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/CS0759-and-CS8795-with-LoggerMessageAttr/1503588)._

---
In Visual Studio 2022 preview 3, the following code will generate these errors unless "#define OLD_SYNTAX" is uncommented:

It's because the code generator does not recognize single-line "namespace TestNameSpace;" (without { })  an

[2021-09-08 08:57] karelz commented on #58773
@tsu1980 does it send cookie headers with comma by default? Or using some standard configuration?
Are you aware of any real-world sites which use comma separated cookies?

[2021-09-08 09:12] karelz commented on #58647
@patelmitul I think there may be other reasons people might want to inherit from `HttpClient` -- e.g. adding more verb methods. Though extension methods may be used as well.
I agree that if we designed the class from scratch, we would probably seal it, or we would think about extensibility in different ways. Sadly, we do not have time machine.
Making the class sealed at this point would be breakin

[2021-09-08 09:34] karelz commented on #57929
Fixed in 6.0 RC2 in PR #58617.
Fixed in 7.0 in PR #58129.

[2021-09-08 09:34] #57929 closed

[2021-09-08 09:39] imhameed commented on #57689
A dummy assembly with 10,000 functions of the form `public static void DummyFunc9971() { }` generates 135kb of aotdata with dotnet/runtime at revision 721a802c12b524912b6c398313d8eb5e73dec2ef. mono/mono at revision 6c61baf83c215daf21d67dd2a31244dcf7404bb1 generates 86kb for the same assembly. So there's some extra per-function aotdata size increase compared to legacy mono, although I don't know wh

[2021-09-08 09:51] skyflyer commented on #58754
Not related to roll-forward, but I had the same error after installing latest preview on Mac M1 (with existing 5.0.9). A coworker with the same 6 preview does not have this issue.

Note: the issue is present when running a program with target framework `net5.0` and none of the workarounds work. I had to uninstall preview 6 **and** net 5 SDK and runtime to get it working again. Perhaps also related

[2021-09-08 09:59] karelz commented on #30171
Closing as fixed (in .NET 5+) per https://github.com/dotnet/runtime/pull/792#issuecomment-611125494 -- it should be achievable via `TryAddWithoutValidation`.
We can reopen if it turns out to be incorrect.

[2021-09-08 09:59] #30171 closed

[2021-09-08 10:11] wihrl opened #58792 "Blazor AOT compilation runs out of memory, is extremely slow, results in a giant website"
### Describe the bug
It takes 45+ minutes to compile our project. The resulting wwwroot is 340MB.

One of the reasons for this is constantly running out of memory.
The compilation spawns many clang processes, choking my PC with "only" 16GB of RAM.
It may be due to it trying to utilize all 16 CPU threads.

A possible solution could be allowing the user to set a maximum worker count?

### To Reprodu

[2021-09-08 10:15] #57537 closed

[2021-09-08 10:15] tsu1980 commented on #58773
@karelz
It's not my server, so I don't know about the server settings. However, I don't think there is such a setting in nginx.

Yes. That's why I reported this issue.

I also think that such web applications are badly behaved and rare. However, such web applications do exist in real, because it works without any problems🙁

[2021-09-08 10:17] karelz commented on #57537
Fixed in 6.0 RC2 in PR #58508.
Fixed in 7.0 in PR #58456.

[2021-09-08 10:19] karelz commented on #58773
@tsu1980 can you share which server endpoint it is? Is there a way to learn from owners of the server which version it is and if it is misconfigured?
Does the server require comma-separation and refuses the (correct) semi-colon separation?

[2021-09-08 10:57] fitdev opened #58794 "DotNet 6 Preview 7: Regex.Match and Regex.IsMatch wrong results with startat parameter overload"
### Description

When using
[code]
It finds _no match_, contrary to using:

[code]
in which case match _is found_.

Shouldn't overloads taking in `int startat` parameter behave the same as if `input.Substring(startat)` was passed instead?

I don't want to use `Substring` workaround since this leads to unnecessary allocations and copying. In that reagrd it would be nice if Regex methods would have

[2021-09-08 11:01] ViktorHofer commented on #58549
Still timing out, i.e. https://github.com/dotnet/runtime/pull/58011/checks?check_run_id=3543565778.

[2021-09-08 11:14] tsu1980 commented on #58773
@karelz I'm sorry, but I can't share the site.

Instead, I tried this with Apache and PHP at my hand.

PHP's setcookie function escapes the value, so I added a cookie by the Apache configuration file.

#### 1) Setup apache config
Apache config:
[code]

#### 2) Setup PHP files
index.php:
[code]

action.php:
[code]

#### 3) Access to http://cookie-with-comma.localhost/action.php in Chrome
Server res

[2021-09-08 11:36] Thaina commented on #23799
Should we also have `double DateTimeOffset.ToUnixTimeSecondsDouble()` ?

Suppose we have `DateTimeOffset` `today 12:30:15.1244` and want to get unix time seconds but with milliseconds as decimal

I would like to have `FromUnixTime***` in all precision that receive `double` too

[2021-09-08 11:44] vsfeedback opened #58795 ".NET 6.0 does not support OLEDB"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/NET-60-does-not-support-OLEDB/1508889)._

---
This is the 3rd time I am trying to report a simple issue.
Please use the zip file attached, which is the solution.
1-As it is, the project is set to .NET 6.0, run the project and select the Book1.xlsx Excel file and see the result.
2-Switch

[2021-09-08 11:47] ajcvickers commented on #58795
@vsfeedback I downloaded your zip and ran the project with both:

[code]

and

[code]

In both cases it behaved the same way; that is, several message boxes were popped up containing the data. For example:

![image](https://user-images.githubusercontent.com/1430078/132503850-908f4df4-e717-470b-8d6e-67427a1d9f0a.png)

Can you provide more details on exactly what is not working for you?

[2021-09-08 12:20] vanillajonathan commented on #58748
@javiercn
Yes, the Count property for the collection does have the right value.

Yes, I was looking at the internal capacity. I was looking at the `_items` property.

The Length property of the WeatherForecast array a has a value of 5.
The Count property of the WeatherForecast  collection has a value of 5 but its internal contents (`_items`) contains 8 entries of which 3 are null.

![image](https:

[2021-09-08 12:28] karelz commented on #58773
@tsu1980 in your test case, the server returns comma-separated cookies, but there is no need for client to construct and send comma-separated cookies. Is that correct?
Does HttpClient have problems with parsing comma-separated cookies in response from the server?

[2021-09-08 12:35] mumby0168 opened #58798 "[API Proposal]: Implicit Guid Conversion to string"
### Background and motivation

It would be nice to not have to call the `ToString()` method on a guid when directly assigning it to a string.

### API Proposal

[code]

vs

[code]

### API Usage

[code]

### Risks

I don't see any.

[2021-09-08 12:36] #58498 closed

[2021-09-08 12:50] ManickaP commented on #58773
I haven't read the whole discussion here, but this might be relevant: https://github.com/dotnet/runtime/issues/42856 since we do have a bug in concatenating cookie values...

[2021-09-08 13:11] tsu1980 commented on #58773
Yep, HttpClient([CookieContainer.SetCookies](https://docs.microsoft.com/en-us/dotnet/api/system.net.cookiecontainer.setcookies?view=net-5.0)) cannot parse the following cookies in the same way as Chrome.

[code]

[2021-09-08 13:13] MichaelSimons opened #58800 "ResolvePackageFileConflicts is detecting unexpected conflicts"
While building the runtime repo in source build for .NET 6.0 I have encountered an issue where ResolvePackageFileConflicts is detecting unexpected conflicts.

Here is a binlog for the issue - https://artprodcus3.artifacts.visualstudio.com/Ab55de4ed-4b5a-4215-a8e4-0a0a5f71e7d8/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_apis/artifact/cGlwZWxpbmVhcnRpZmFjdDovL2RuY2VuZy9wcm9qZWN0SWQvOWVlNmQ0NzgtZDI4OC00N2Y

[2021-09-08 13:22] MichaelSimons commented on #58800
I tried the suggested fix in source-build and encountered an issue with resolution.

[code]

`System.Reflection.Metadata.dll` is in the list of assemblies to crossgen twice.

[code]

and

[code]

The output from ResolvePackageFileConflicts is the following:
[code]

[2021-09-08 13:27] wihrl commented on #58792
128 assemblies according to the build output. The production release build without AOT is 70MB.

[2021-09-08 13:31] momt99 opened #58801 "Multiple disposal possibility in ServiceProvider"
### Description
Suppose that we are interested in having a singleton service that implements multiple interfaces (as you can see in [this similar question](https://stackoverflow.com/q/41810986/2912553) on SO).
A general solution would be adding the class as the main entry point for the definition of the singleton and then adding the interfaces by fetching the singleton from the service provider. L

[2021-09-08 13:38] rainersigwald commented on #58800
@MichaelSimons that one should be fixed by https://github.com/dotnet/sdk/pull/19878 -- you might want to try applying this workaround: https://github.com/dotnet/sdk/issues/19834#issuecomment-901373251 for now.

[2021-09-08 13:47] eerhardt commented on #58794
@fitdev - can you provide a program that reproduces the issue with expected and actual results?

[2021-09-08 13:57] stephentoub commented on #58798
We avoid adding implicit conversions that allocate, which this would. It's also not clear why Guid would special here,  why it would be demanding of such a conversion but other primitives wouldn't. And in any such implicit conversion,  there's a risk that the loss of type information hides a bug. And the implicit conversion would necessarily need to pick a default format to use: with ToString, you

[2021-09-08 13:58] mumby0168 commented on #58798
Okay that makes sense happy to close this. Thanks for your time.

[2021-09-08 13:58] #58798 closed

[2021-09-08 13:58] karelz commented on #58773
@tsu1980 can you please confirm if `HttpClient` has problems to parse response with comma-separated cookies?
I don't think we need cookie APIs to be able to parse such input from user input. Though it would be nice to have a way for reverse-proxy scenarios (cc @alnikola @MihaZupan).

[2021-09-08 13:59] vitek-karas commented on #58754
@skyflyer what you describe is very likely due to having both .NET 5 and .NET 6 but different architectures. I assume you installed .NET 5 x64 and then .NET 6 arm64 (or reverse order) - currently the installers are not clever enough to recognize this layout the bits on disk correctly (the desired layout is described in the sample from Rich here https://github.com/dotnet/sdk/issues/20584).

Unfortu

[2021-09-08 14:04] stephentoub commented on #58794
Not necessarily.  For example, if the pattern contains constructs that look before the current position (e.g. a lookbehind), there's a large difference between using startat to start matching in the middle of a string (where the engine is able to look at the content of the input before the startat) and trimming off everything that came before startat (in which case the engine is unable to look the

[2021-09-08 14:05] stephentoub commented on #58794
That's tracked by https://github.com/dotnet/runtime/issues/23602, which also discusses why from a public API perspective it'd be possible to add an `IsMatch(ReadOnlySpan<char>)` but much more challenging to add a `Match(ReadOnlySpan<char>)`.

[2021-09-08 14:08] stephentoub commented on #58742
Closing as a dup of https://github.com/dotnet/runtime/issues/42820

[2021-09-08 14:08] #58742 closed

[2021-09-08 14:11] stephentoub commented on #58743
Most of those types are not in this repo, and of the ones that are, they need a finalizer.  Sometimes there are valid reasons to have them.  You can also see in the analysis that there are very few of these instances.

I don't see anything that needs to be handled here.

Thanks.

[2021-09-08 14:11] #58743 closed

[2021-09-08 14:17] ManickaP opened #58805 "Consider obsoleting SocketsHttpHandler.Properties"
It seems it over-lived its usefulness. It was introduced by David Shulman in this PR: https://github.com/dotnet/runtime/commit/354c2e5b9c6f2db543e1256b979c9f632b9a832f, the tracking issue is https://github.com/dotnet/runtime/issues/16941.

So, it seems it was meant for `CurlHandler` and `WinHttpHandler`, but was never used for that. It was modeled after `HttpRequestMessage.Properties.` https://git

[2021-09-08 14:19] stephentoub commented on #58794
Have you tried using the overload that takes the beginning position and a length, rather than a startat position?

[2021-09-08 14:24] fanyang-mono commented on #58409
The reason why these tests need to be disabled is because currently precise GC is not supported on mono.

[2021-09-08 14:37] younussenn opened #58810 "ASP.Net Core 5.0 Web App SOAP WSDL connection error?"
Hello there,

I'm working on asp.net core webapp for my client. Client sent a new soap web service generated from SAP system. I tried more times for connecting to the service but i didn't do it. I got "**Unrecognized Message Version**" error.
I didn't find solution. How can i pass error. I need help.

Thanks.

![soap_used_method](https://user-images.githubusercontent.com/46409298/132529869-822dc94

[2021-09-08 14:40] stephentoub commented on #58794
If they don't already, I agree that'd be useful.  Note the docs are open source; if you'd like to submit a PR to do so, that'd be welcome.
https://github.com/dotnet/dotnet-api-docs/blob/main/xml/System.Text.RegularExpressions/Regex.xml

That said, they do try to make this clear, in the details Remarks section for both overloads, e.g.
"beginning always defines the index of the leftmost character to

[2021-09-08 14:40] #58794 closed

[2021-09-08 14:41] eerhardt commented on #58801
@davidfowl - I believe this is by design. Registering multiple interfaces into the DI system indicates that there are multiple services. The DI system disposes each registered service.

If your singleton service can't be disposed more than once, keep track of it being disposed, and "no op" when it is disposed again.

[2021-09-08 14:42] grinay commented on #58754
@vitek-karas Thanks. Using UseAppHost in the project file really helps. The project now runs as before.

[2021-09-08 14:59] davidfowl commented on #58801
This is by design and [Dispose is supposed to be idempotent anyways](https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/implementing-dispose)

[2021-09-08 15:06] younussenn commented on #58810
I solved problem. Endpoint url shouldn't WSDL link. I changed in my code and problem fixed.

[2021-09-08 15:06] #58810 closed

[2021-09-08 15:13] radical opened #58812 "[wasm] Test failure Dispose_DisposingHandlerCancelsActiveOperationsWithoutResponses - ERR_CONTENT_LENGTH_MISMATCH"
Test failure `ERR_CONTENT_LENGTH_MISMATCH` seen on https://github.com/dotnet/runtime/pull/57556 , windows:

`System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandlerTest.Dispose_DisposingHandlerCancelsActiveOperationsWithoutResponses`

[Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1347818&view=logs&jobId=f9ca8601-c4c2-5da2-61cf-0da7d83d7557&j=f9ca8601-c4c2-5da2-61

[2021-09-08 15:14] eiriktsarpalis commented on #58770
Can reproduce. This is by-design, and a limitation of how metadata-based deserialization works. In source generated code, `JsonPropertyInfo` metadata instances are constructed as follows:
[code]
Since the `setter` lambda is invalid in the case of init-only properties, the generator will generate a `null` setter instead.

@layomia given that fast-path deserialization has not been implemented yet, d

[2021-09-08 15:19] ericstj commented on #58800
@rainersigwald I'm not sure it will.  This particular use of conflict resolution is rather unusual since it's happening inside the crossgen target for a shared framework project (custom project/sdk type used to build the framework).

I think there's still an issue here that there are two sets of binaries flowing into this task from different sources.  Can the cross-gen folks comment on what should

[2021-09-08 15:20] pavelsavara commented on #58812
This is loppback test, it may be caused by timing/consistency of underlying wasm WS 'send'

[2021-09-08 15:30] 3GDXC opened #58813 "DataAnnotations UrlAttribute validating Url incorrectly"
### Description
UrlAttribute not validating sftp://, ftps:// or other valid URLs

### Configuration

### Regression?

### Other information

[2021-09-08 15:30] DenisRumyantsev opened #58814 "Questions about requirements for the new SocketsHttpHandler"
Hi, we maintain the [Azure DevOps pipeline agent](https://github.com/microsoft/azure-pipelines-agent) and we quite frequently encounter SSL issues that can be resolved by switching from the new [SocketsHttpHandler](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.socketshttphandler?view=net-5.0) to the previous [HttpClientHandler](https://docs.microsoft.com/en-us/dotnet/api/system.net.h

[2021-09-08 15:41] karelz commented on #58814
@DenisRumyantsev there is no documentation. The above would be bugs and things we would have to track down and root cause.
They may be fixed in latest version of .NET Core -- are you in position to try .NET 6? (it will have go-live RC1 published in a week)

Note that the above opt-out is not available on .NET 5: https://docs.microsoft.com/en-us/dotnet/api/system.net.http.socketshttphandler?view=ne

[2021-09-08 15:42] mangod9 commented on #58800
@davidwrighton @AntonLapounov in case they have ideas around this.

[2021-09-08 15:47] 3GDXC commented on #58813
urls with username/password also fail validation, while I understand the need to not break compatibility this implementation is poor and should IMHO be deprecated in favor of a UriAttribute the has more complete validation of standard URL/URI values

[2021-09-08 15:48] tannergooding commented on #58295
@BruceForstall, I can take a look. I'm assuming we also want to bar check this for .NET 6, correct?

This sounds like something in the JIT is incorrectly handling `TYP_SIMD` in some case and likely using the wrong function (one that deals with `V<T>` rather than `V256<T>`). In particular, we have:
* `Vector<T>` - Is a `TYP_SIMD16` by default. Is a `TYP_SIMD32` if AVX2 is supported
* `Vector64<T>`

[2021-09-08 15:53] maryamariyan commented on #58790
dupe of https://github.com/dotnet/runtime/issues/57880

[2021-09-08 15:53] #58790 closed

[2021-09-08 16:03] #57630 closed

[2021-09-08 16:10] MichaelSimons opened #58816 "Source-build encounters circular PublishBuilder dependency in WasmAppBuilder"
This issue was discovered while updating source-build to the latest 6.0 commit shas - https://github.com/dotnet/installer/pull/11710/files

/repos/tarball1/src/runtime.c300b096419523024f2b807ec9db3c2d91df0298/artifacts/source-build/self/src/src/tasks/WasmAppBuilder/WasmAppBuilder.csproj(33,5): error MSB4006: There is a circular dependency in the target dependency graph involving target "PublishBui

[2021-09-08 16:10] MichaelSimons commented on #58816
cc @safern

[2021-09-08 16:18] tommcdon commented on #58781
@josalem @lateralusX

[2021-09-08 16:22] adiaaida commented on #57259
There is: https://github.com/dotnet/arcade/issues/7523. Epsi is working on it, but she is on FR this week. We think she will have a fix in for it when she comes back from FR next week.

[2021-09-08 16:28] wfurt commented on #58722
This is essentially dup of #35880. As @bartonjs mentioned we rely on OS functions to determine the validity and that brings the platform difference. Attempt to fix it could open another can of worms where .NET has different prospective than underlying OS about what is valid name.
While underscores are technically invalid in DNS, it is annoying that OpenSSL tries to enforce it at crypto layer inste

[2021-09-08 16:32] BruceForstall commented on #58295
Yes. It seems possible that using Vector256<T> on a machine without AVX2 in some situations could lead to arbitrary stack corruption, which I assume would meet the bar for .NET 6, even for servicing.

Thanks for the breakdown of the types. It looks specifically like the implementation of `NI_Vector256_GetElement` in `genBaseIntrinsic`, in the case it needs `lvaSIMDInitTempVarNum` (non-constant ind

[2021-09-08 16:34] wfurt commented on #58439
That link was about enabling EC for Schannel e.g. TLS. It may work for some other operations - like crypto primitives and certificates. And I agree about the messages but .NET works with what we get from OS e.g. error code we map to user visible text.

It seems like you are set and this can be closed @Glutwolf ?

[2021-09-08 16:50] vsfeedback opened #58818 "dotnet core dump on linux cant show method name"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/dotnet-core-dump-on-linux-cant-show-meth/1441862)._

---
I use dotnet 3.1, and publish it to linux, which import a so and call some native functions, it cant show the method name when core, how can i solve this problem?
when i use the lldb, also no method name and class name.
! [企业微信截图_2

[2021-09-08 16:53] layomia commented on #58770
Yes this is [known](https://github.com/dotnet/runtime/blob/00f37bc13b4edbba1afca9e98d74432a94f5192f/src/libraries/System.Text.Json/tests/System.Text.Json.SourceGeneration.Tests/Serialization/PropertyVisibilityTests.cs#L62-L87), for the reason Eirik mentioned - we cannot reference an init-only setter in generated code outside of object initialization/construction.

So far we have avoided the use of

[2021-09-08 17:07] jeff-simeon commented on #58471
@hoyosjs  bump...

[2021-09-08 17:13] BruceForstall commented on #58295
I have a potential fix. I'll put up a PR soon.

[2021-09-08 17:13] tannergooding commented on #58295
I think the "simple" fix is a bit less complex as we just need to change:
[code]

This will ensure that the temp entry is always big enough to fit a method's requirements. A more complex fix would ensure this is set to the largest used vector type in a method (e.g. if a method only uses `Vector128<T>` set it to `TYP_SIMD16`, etc), but I don't think that's necessary for .NET 6

[2021-09-08 17:14] radical commented on #46856
This needs some more work (a bit involved) to integrate with Publish at a more granular level.

[2021-09-08 17:15] MattGal commented on #58549
Your archives here are just too big (it's something in the 15-20 GB range).  I'd like to point out something about one of the listed runs to make my case.

[code]
It took this hosted macos machine 39 minutes to upload all those zips (wow), but the job it sent?  It ran the entire 3 hours, 20 minutes of test work items in a mere 5 minutes, 18 seconds.

[code]

I can't tell you what to do here, but s

[2021-09-08 17:20] radical commented on #58792
re:too many cores being used:
In the next release (rc1), the msbuild AOT tasks work with msbuild to get decide how many cores to use. Which should mean that VS can control that number, or you can use `/m:N` argument on the command line for building, to control that.

[2021-09-08 17:24] tannergooding commented on #58295
For the more complex fix, we have/track `GetEmitter()->Contains256bitAVX()`. I don't know if that's set early enough to cover the `lva` sizes being correct however.

[2021-09-08 17:31] AaronRobinsonMSFT commented on #58783
@evilzhou Instead of posing screenshots, please post code that can be copied into an editor. Attempting to reproduce these scenarios locally is error prone and cumbersome attempting to transpose from an image.

[2021-09-08 17:38] steveisok commented on #58549
This is something we are actively working on.  We're trying to prove / validate a couple of ways to reduce build times and maybe payload sizes as well.  No lightning quick solution though.

[2021-09-08 17:41] AaronRobinsonMSFT commented on #58783
[code]

[2021-09-08 17:52] ericstj commented on #58817
It doesn't hurt to have the breaking change notice.  It can help folks who search the error string see it's a known issue.  I reopened the doc issue.  Will close this since it is addressed.

[2021-09-08 17:52] #58817 closed

[2021-09-08 17:52] ReubenBond commented on #43669
Thanks for tagging me, @danmoseley.
I have a few comments:

1. It's not clear to me what the motivation for including this in the BCL is, other than ~"it's BCL-like and we (Azure SDK team) want it in a common place so that developers can target it". Is that compelling enough to enter into the quagmire of serializer interfaces? Without understanding the target scenario well, it's hard to judge the

[2021-09-08 17:56] layomia commented on #45448
We need a final pass at the source generator APIs:

[code]

[2021-09-08 18:02] ajcvickers commented on #58817
Thanks all!

[2021-09-08 18:12] adegeo commented on #58470
@NikolaMilosavljevic to be clear, the x64 runtime will not run a 32-bit app, and you need to install both runtimes for full coverage.

Yes?

[2021-09-08 18:14] ericstj commented on #58665
@GrabYourPitchforks looks like you added some of these in https://github.com/dotnet/runtime/commit/ad41de40967d2290e28d000a0804619430da1e9c and https://github.com/dotnet/runtime/commit/177d6f1a0bfdc853ae9ffeef4be99ff984c4f5dd

@stephentoub you added the rest in https://github.com/dotnet/runtime/commit/adad29284f8db4ca1dc852e11cddf797eb309919

Can you help by documenting these?

[2021-09-08 18:15] pranavkm opened #58821 "[API Proposal]: Enumerable.TryGetSpan(IEnumerable<T> enumerable, out ReadOnlySpan<T> span);"
### Background and motivation

A number of APIs expose or consume an `IEnumerable<T>` which are often backed by a `List<T>` or an array. A motivated user might want to avoid the `GetEnumerator` allocation in these cases. It would be nice if `Enumerable` provided an API similar to `TryGetNonEnumeratedCount` to get at the backing `span` for allocation free enumeration

### API Proposal

[code]

###

[2021-09-08 18:20] stephentoub commented on #58665
Why does anything manual need to be done here?  These all have XML comments, and have since they were originally merged.

[2021-09-08 18:24] GrabYourPitchforks commented on #58821
Given that this could allow violating some internal invariants of the underlying collection, this should not be an extension method. If added, it should probably go on `CollectionsMarshal`. See also https://github.com/dotnet/runtime/issues/27061.

[2021-09-08 18:32] ericstj commented on #58665
I'm not certain, but I see some "To be added" terms in the docs that @carlossanlop linked.  Maybe those need to be filled in or deleted?

[2021-09-08 18:38] stephentoub commented on #58665
@carlossanlop, can you please clarify what exactly is missing here?  Is this purely about the `typeparam` nodes for each of the four AppendFormat overloads you cited?

[2021-09-08 18:41] JeremyKuhne commented on #58741
Sorry, I've been out for the holiday weekend.

Note that GDI+ does _not_ document that it sets last error. Looking through the sources it could, theoretically, set last error when it gets an HRESULT from some APIs that return an HRESULT with the Win32 facility code. That shows up in the bitmap and filter code. Outside of that, the underlying Win32 APIs that get called certainly can and do set last

[2021-09-08 18:52] KrzysztofCwalina commented on #43669
I have to say I don't understand this issue. The only difference between the sync and async method implementations is how these methods read/write the stream, i.e. sync methods use sync Stream APIs and async methods use async Stream APIs.

[2021-09-08 18:59] KrzysztofCwalina commented on #43669
Azure SDK team really does not need this in the BCL. We already have an abstraction and in fact this BCL abstraction just complicates things for Azure SDK. But, I do think such abstraction would be good for the .NET platform. For example, BinaryData does not currently allow changing how it serializes/deserializes object. Http Json extensions is another scenario. Having an abstraction that BinaryDa

[2021-09-08 19:02] KrzysztofCwalina commented on #43669
It only requires boxing if the root of the serialized/deserialized object graph is a struct. In practice roots of graphs that are serialized/deserialized are almost always reference types.

[2021-09-08 19:02] NikolaMilosavljevic commented on #58470
Users should always install just the native runtime. Having both 32-bit and 64-bit runtimes will create potential issues with running 'dotnet' command, depending on which runtime was installed first, as both of these installers would add their corresponding installation roots to the PATH variable.

However, a note can be added to the install page, explaining that 64-but runtime does not include 32

[2021-09-08 19:03] KrzysztofCwalina commented on #43669
Why is there no Deserialize overload accepting BinaryData? I think every Serialize overload should have a corresponding Deserialize overload.

Yes. We should add span/memory overloads. I am not sure about BinaryData. It's just a wrapper over Memory<byte>.

[2021-09-08 19:05] KrzysztofCwalina commented on #43669
We might want to trim some of these. But, I think there is a misconception that CancellationTokens are for async and not for sync. If a sync operation can take a very long time, you might want an ability to cancel it.

[2021-09-08 19:13] mayur-ekbote commented on #56702
Facing the same issue after moving to .net 6. I do not use any source generators. CPU usage routinely hits 100% after a few keystrokes.
![VS CPU Usage](https://user-images.githubusercontent.com/40038634/132570532-0747cc1f-3358-460b-ba92-89ea43c37262.JPG)

[2021-09-08 19:32] ReubenBond commented on #43669
That's not true. Take a look at how System.Text.Json was implemented in order to support async deserialization. In order to avoid async state machines on every method, the library is structured with a state struct which is threaded through all methods so that they can resume from a partial read without having to pay the cost of async state machines at every level - only the top-level method uses a

[2021-09-08 19:33] AndyAyersMS opened #58824 "JIT: recursive inline detection using IL code address is not reliable"
It appears roslyn is able to determine when different methods would have identical IL bodies, and just emit one IL stream for the methods. This breaks the recursion detection done in the jit, which relies on the IL address.

Here after inlining A into B, the call to C looks like a recursive call, and so we block inlining:

[code]

[2021-09-08 19:36] AndyAyersMS commented on #58824
Not clear if this has any significant impact on perf, as we won't do recursive inlines in general.

[2021-09-08 19:37] ReubenBond commented on #43669
If all the data is available (as in the `BinaryData` case, and as would so be in the `ReadOnlySequence<byte>`/`Span<byte>`/etc cases), why would the operation be slower than a few ms? Having a non-used parameter is not a major concern to me, but I don't see it being wired up in those synchronous cases (where all of the data is available) - i.e, I doubt many serializers would plumb it through and c

[2021-09-08 19:54] radical opened #58826 "[wasm] Fix "Clean" target for build, and publish"
Currently, we end up leaving many files around even after a clean.

- [x] Blazor: Build with relinking (#58913)
- [x] ~~Blazor: Publish with relinking~~
- [x] ~~Blazor: Publish with AOT~~
- [x] non-Blazor: Build with relinking
- [x] ~~non-Blazor: Publish with relinking~~
- [x] ~~non-Blazor: Publish with AOT~~

Blazor doesn't support Clean with publish (https://github.com/dotnet/aspnetcore/issues/3

[2021-09-08 20:02] AndyAyersMS opened #58827 "JIT: assert in morph implicit tail call validation"
Running the below with
[code]
gives
[code]
Not sure that PGO is essential here, it may just be enabling the right pattern of inlines.
[code]
Ran into this while trying to repro a different (but nearby) assert seen when running Roslyn test suite with a checked jit.

[2021-09-08 20:02] danmoseley commented on #58757
Our parser requires that a close square bracket in a character class be escaped. So the regex is parsed as a character class containing these literal chars `\w[:punct` followed by `]+`. This doesn't match "test". If I change the pattern to escape it, it works: `[\w[:punct:\]]+`

This means if we were to support classes like `[something]` then it would break some existing behavior because today we

[2021-09-08 20:02] #58757 closed

[2021-09-08 20:03] ViktorHofer opened #58828 "System.Text.Json.Tests crashing on Mono"
Configuration: `net6.0-Linux-Debug-x64-Mono_release-Ubuntu.1604.Amd64.Open`

Dump available: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-58558-merge-1c1e3bdb886344679d/System.Text.Json.Tests/1/core.1000.13620?sv=2019-07-07&se=2021-09-22T16%3A19%3A20Z&sr=c&sp=rl&sig=sjEJQ%2BswuvmnAmzLahc2AgFLgot5gYVvnZSow7cL6Jg%3D

https://dev.azure.com/dnceng/public/_build/resul

[2021-09-08 20:06] AndyAyersMS commented on #58827
cc @dotnet/jit-contrib

There is likely another nearby issue here, if I can find the right repro case.

The "post implicit tail call" IR scan is becoming increasingly complex and likely not all that useful, as there can now be multiple levels of "harmless" IR and simple flow between the call and the ret.

[2021-09-08 20:20] NikolaMilosavljevic commented on #58470
cc @dleeapho

[2021-09-08 20:21] wfurt opened #58829 "EventLog tests failing on Windows 11"
https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-58570-merge-82d3210ae65b4c7bab/System.Diagnostics.EventLog.Tests/1/console.22fc633f.log?sv=2019-07-07&se=2021-09-28T19%3A09%3A59Z&sr=c&sp=rl&sig=c9WGUmQHt%2FIcFz23yiVBOPIXos7SuYjCtPHDRupOcxA%3D

[code]

locally, I was able to reproduce only on failure on Insider Preview build.

[2021-09-08 20:31] adityamandaleeka commented on #58659
@ViktorHofer Any chance we have dumps or other info to work with beyond what's linked above?

Also, any idea why this test always seems to take exactly 1 minute to run? That seems suspicious :smile:

[2021-09-08 20:37] thebitllc opened #59015 "IPV6 stack is required for .NET 5"
We ran into a weird problem with Elasticsearch.NET package when upgraded to .net5. Our docker machines don't have ipv6, specifically they don't have /proc/net/tcp6, they have /proc/net/tcp.

In StringParsingHelpers.Connections.cs:
[code]

/proc/net/tcp6 is a required file and the exception will be thrown if its missing.

[code]

[2021-09-08 20:42] karelz commented on #58722
Duplicate of #35880

[2021-09-08 20:42] #58722 closed

[2021-09-08 20:47] BruceForstall commented on #57962
Maybe @josalem @noahfalk @tommcdon know whether Core needs a new design to support the SymGetModuleBase64/SymFunctionTableAccess64 functions similar to the fix in #7675 -- presumably Core can't use the registry key KnownFunctionTableDlls.

[2021-09-08 20:49] EgorBo opened #58832 "FltToInt: OverflowException in Debug and no exception in Release"
I noticed that we assign the same VN for "checked" and "unchecked" conversions from double to integer [here](https://github.com/dotnet/runtime/blob/main/src/coreclr/jit/valuenum.cpp#L9830-L9835), so I came up with the following repro that throws `OverflowException` in Debug (as expected) and prints "done" in Release:
[code]

[2021-09-08 20:52] vcsjones opened #58833 "New X509Chain status code "DuplicateExtension" in Monterey beta 8"
I am hitting a `Debug.Assert` in macOS Monterey beta 8 for the test `System.Security.Cryptography.Pkcs.Tests.TimestampTokenTests.TwoEkuExtensions(includeOption: WholeChain)`.

<details>
<summary>Output + stack trace</summary>
<pre>
[xUnit.net 00:00:02.02]     System.Security.Cryptography.Pkcs.Tests.TimestampTokenTests.TwoEkuExtensions(includeOption: WholeChain) [FAIL]
  Failed System.Security.Cryp

[2021-09-08 20:59] KrzysztofCwalina commented on #43669
e.g. we worked on a serializer that accesses a schema registry while serializing or deserializing to validate the data and to embed schema ID in the payload.

[2021-09-08 21:04] ReubenBond commented on #43669
Synchronously?

[2021-09-08 21:05] vcsjones commented on #58833
It's our old friend, `MergeStatusCodes` in https://github.com/dotnet/runtime/issues/32941. There is a new chain building status code we are not handling, `DuplicateExtension`. We need to handle that in https://github.com/dotnet/runtime/blob/5abee29eea0ecc836126225c88e903c2dd1e44f4/src/libraries/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.c#L123.

[2021-09-08 21:07] KrzysztofCwalina commented on #43669
Ah, I see what you are saying: existing serializes don't support async APIs. Got it. I thought you were saying that it's fundamentally not possible for some serializers to do async.

I think it's a good issue, but I am not sure refactoring the abstraction into two is worth it. Worth discussing it though.

[2021-09-08 21:08] danmoseley commented on #58829
We already added 2 new ones in https://github.com/dotnet/runtime/pull/57804

Looks like we now need to add ERROR_MR_MID_NOT_FOUND

@dotnet/area-system-diagnostics-eventlog if this is consistent on Windows 11, it might be a 6.0 candidate.

[2021-09-08 21:10] KrzysztofCwalina commented on #43669
Azure SDK libraries support both sync and async APIs. The sync APIs use https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.send?view=net-5.0

[2021-09-08 21:10] danmoseley commented on #58829
Not sure what is special about these two tests..?

[2021-09-08 21:15] joperezr commented on #44736
@steveisok @marek-safar friendly ping 😄

[2021-09-08 21:27] eiriktsarpalis commented on #58770
This makes sense in principle, however the end result is we're blocking users with DTOs using init-only properties. The reflection suggested here should be linker-safe and have no issue other than being slightly slower compared to equivalent properties with setters. I don't think think this should be opt-in behavior, getting the correct serialization behavior should not require additional configur

[2021-09-08 21:36] GrabYourPitchforks commented on #35324
@AraHaan There's nothing terribly unique about this exception type from a runtime perspective. You should be able to use reflection to instantiate it just as you would any other type, cast to the base `Exception` type, then _throw_ to your heart's content. :)

[2021-09-08 21:47] AaronRobinsonMSFT commented on #58783
Based on some local debugging the Mono Reflection.Emit code paths are not propagating some `TypeBuilder` values. The most obvious ones are the `PackingSize.Size1`, which is `t.StructLayoutAttribute.Pack == 8` instead of `1`, and the custom attribute placed on the `buffer` field, `t.GetFields()[0].CustomAttributes.Count() == 0`.

If `t` is set to `typeof(Static)`, the above values are respectively

[2021-09-08 21:48] hoyosjs commented on #58471
Sorry @jeff-simeon, things are building up around the .NET 6 release and with the long weekend I haven't had a chance to get to this yet. I'll try my best to sink some time into the analysis this week and come back to you.