[2022-03-03 18:22] ericstj commented on #66122
I'll give things a try locally and see if I can provide a better workaround.  Alternatively you could also try to apply @ViktorHofer's [change](https://github.com/microsoft/MSBuildSdks/commit/d72c0f264b847f844cf90f31517c5cff6e743230) manually to `C:\Users\<userName>\.nuget\packages\microsoft.build.traversal\3.1.3\Sdk\Sdk.targets` would have the added benefit of testing it.

[2022-03-03 18:24] MihaZupan commented on #61563
Note that the serialized value of a `DateTime` has not changed.
The only thing that changed is how the in-process `EventListener` decodes this value.

External telemetry systems should not be impacted (unless they are being fed by data coming from `EventListener`).

[2022-03-03 18:27] jaredpar commented on #65874
I think changing the default for .NET Core target frameworks is reasonable. It should not have any impact.

For `netstandard2.0` and .NET Framework target frameworks though it seems a lot dicier. To address this problem we'd need to flip the defaults for these target frameworks to.  That is necessary at a fundamental level because even our own source build, which must work on RedHat, uses these ta

[2022-03-03 18:28] Samirat commented on #61563
Thanks, @MihaZupan , I was afraid the other WriteEvent overloads would be impacted, but if they have the same contract, we can just fix the EventListener usages.

[2022-03-03 18:33] andrew-hampton commented on #61563
I've updated my original post to remove the known workaround since it's unlikely to result in the correct behavior in most cases. The workaround was that if you're only using a local listener then you can get the same behavior by updating to to use `dateTime.ToBinary()` instead of `dateTime.ToFileTimeUtc()` however this is unlikely to work when sending telemetry to external systems.

[2022-03-03 18:34] pranavkm opened #66153 "Consider updating ActivatorUtilities.CreateFactory to use ILEmit when possible"
### UPDATED (Steve Harter):
Current plan is to avoid adding new emit-based logic (which should be considered a last resort) and instead use reflection with new, faster APIs. It is possible that we can also completely remove the usage of LINQ\compiled expressions pending perf and tradeoffs. NativeAOT would also use this faster reflection path (NativeAOT doesn't support emit and LINQ is not used sin

[2022-03-03 18:34] pranavkm commented on #66153
FYI @eerhardt

[2022-03-03 18:35] trylek commented on #66083
@koritzinsky - Sure, will do. I suppose that basically means we need to manually reference TestLibrary from each test using PlatformDetection.

[2022-03-03 18:38] GrabYourPitchforks opened #66154 "SDL signoff requirements - please enable additional C/C++ compiler warnings"
Recent SDL changes require that we enable additional compiler warnings across our C/C++ projects. The requirements are:

- [x] Compile with warning level 3 or higher. These warnings do not have to be fixed, but they must at least be triaged.

Enable the following additional warnings, which __must__ be fixed if they occur:
- [x] __C4018__ - 'expression' : signed/unsigned mismatch
- [x] __C4055__ -

[2022-03-03 18:40] JulieLeeMSFT opened #66155 "JIT: checked/release asm diff in windows and linux x64"
[Pipeline link](https://dev.azure.com/dnceng/public/_build/results?buildId=1641734&view=logs&j=011e1ec8-6569-5e69-4f06-baf193d1351e&t=486c0909-f67d-5748-80b3-bb1d531e7b43)
Also from https://github.com/dotnet/runtime/pull/61335#issuecomment-1057513622.

Two issues:
- ERROR: REL32 relocation overflows field! delta=0xFFFFFFFF73F2F43F
- ISSUE: <ASM_DIFF> main method 34684 of size 70 differs
-- [Window

[2022-03-03 18:40] Clockwork-Muse commented on #65951
This is false.
In one of my current work projects, I'm writing an archive (zip, and streaming out to gcloud, but not otherwise relevant) with images that were encoded and output to memory (via [`cv2.imencode(...)`](https://docs.opencv.org/4.5.5/d4/da8/group__imgcodecs.html#ga461f9ac09887e47797a54567df3b8b63)), completely removing the need to touch the filesystem.
I would imagine there are any numb

[2022-03-03 18:41] JulieLeeMSFT commented on #66155
cc @dotnet/jit-contrib.

[2022-03-03 18:46] JulieLeeMSFT commented on #66155
Pipeline reports asm diff, but local repro does not show asm diff.

[code]

[2022-03-03 18:50] EatonZ commented on #65680
I received [this reply from Yubico](https://user-images.githubusercontent.com/3020941/156631792-75c3a1bb-1b78-4887-a35a-e04ec6fe42b2.png). I tried what they recommended with using `--pin-policy="once"` instead of `--pin-policy="always"`. That appears to have solved the problem.

It seems they do not consider this to be a bug. Do you agree? If so, I can close this, but maybe we should wait until th

[2022-03-03 18:51] jkotas commented on #65874
Agree. I do not think it is worth the pain to be changing default for these. If you need to target legacy systems, you need to have legacy build machine configuration.

[2022-03-03 19:17] danmoseley commented on #66154
Added checkboxes...

[2022-03-03 19:21] #66143 closed

[2022-03-03 19:28] pphadke commented on #60870
Here's another theme to an issue we faced with the multitargeting.

1. Our solution does not have an explicit reference to: System.Text.Json version 6.0.*, it was brought over by another dependent nuget.
2. Our build system uses .NetCore 5.0.*, so the build fails with errors documented here: https://github.com/dotnet/runtime/issues/61602
3. We tried to use the workaround documented in #2 above, bu

[2022-03-03 19:33] Pycorax commented on #62346
I'm happy to report after testing the fixes for a month extensively, that the issue no longer occurs. Cheers!

[2022-03-03 19:33] #62346 closed

[2022-03-03 19:33] nrcventura commented on #66138
We haven't fully explored or tried to address this problem yet, but users of [OpenTelemetry .NET Auto-Instrumentation](https://github.com/open-telemetry/opentelemetry-dotnet-instrumentation) may not always have access to an application config (depending on which type of application config you are referring to). Consider a tool like Sharepoint or SiteCore (ignoring whether it runs on .NET Framework

[2022-03-03 19:34] #66136 closed

[2022-03-03 19:35] #33943 closed

[2022-03-03 19:37] carlossanlop commented on #65951
@Clockwork-Muse  It's not false, but maybe I wasn't clear enough. Allow me to elaborate: If a user needs to create an entry that will contain a non-null `DataStream`, it can only mean they want to create a tar entry with an `EntryType=TarEntryType.OldRegularFile` (V7 only) or `EnTryType=TarEntryType.RegularFile` (all other formats). None of the other entry types that we will support for writing wi

[2022-03-03 19:43] joshpeterson commented on #65205
Earlier in the output, I do see this:

[code]

At the end of the build though, that `GenericContextTestDefaultImpCallDefaultImp.ilproj.AssemblyReference.cache` files does not exist at the path mentioned. Is there some kind of race condition happening here during the test process?

[2022-03-03 20:05] agocke commented on #66143
FYI @thaystg

[2022-03-03 20:05] rzikm commented on #55802
Closed by #65195

[2022-03-03 20:05] #55802 closed

[2022-03-03 20:08] radical commented on #66118
`AppBundle` from my Mac.
[AppBundle.zip](https://github.com/dotnet/runtime/files/8180816/AppBundle.zip)

[2022-03-03 20:09] EatonZ commented on #65680
Ok, well, it's _mostly_ fixed with `--pin-policy="once"` but I am seeing this new error randomly now. Thoughts?

`WindowsCryptographicException`: _An unexpected card error has occurred._
HRESULT: 0x8010001F (SCARD_E_UNEXPECTED)

[code]

[2022-03-03 20:18] stephentoub commented on #65634
Here is approximately what the core libraries would look like if we extended StringSyntaxAttribute to have:
[code]
beyond the ones already there:
[code]
Commit:
https://github.com/stephentoub/runtime/compare/7db092a6ed68a5fbf47962c45bb0c1bb965d02c6...a5d30b0b6e940ec38e495f287876ba81e48ecb0c

Seems like DateFormat, EnumFormat, GuidFormat, NumericFormat, TimeFormat, and TimeSpanFormat would all be r

[2022-03-03 20:19] steveharter commented on #66122
The linked PR fixes the issue (applied the changes locally to my `Sdk.targets`).

[2022-03-03 20:20] vcsjones commented on #65680
@EatonZ does enabling logging reveal anything interesting?

[2022-03-03 20:23] joshpeterson commented on #65205
No, we did not! Thank you - with this change our build now passes locally for me. We can close this issue.

[2022-03-03 20:24] #65205 closed

[2022-03-03 20:26] WenceyWang commented on #66039
I think there's only a little different for me as if we use `ContinueAllocatingUntilThrow`, we can catch the OOM, display a UI about the situation and maybe start a GC and try to do some error report or load the recent checkpoint or so.
 If we have `ContinueAllocatingThenGC` and the player just doesn't have enough memory in that segment, there will be a GC pause, maybe it'll let the player dead in

[2022-03-03 20:29] #66122 closed

[2022-03-03 20:32] Clockwork-Muse commented on #65951
Ah, that's what you were referring to.
Yes, I assumed that you could use an in-memory stream that way, I was just asking whether we should add a convenience method to streamline that (not need to manually create `entry`, in your example).

[2022-03-03 20:41] bartonjs commented on #65951
@Clockwork-Muse The trouble, as I understand it, is that from "just a stream" there's not enough information to set the uid/gid/LMT/modebits/etc file entry attributes.  Presumably some sort of defaults will apply when going the manual create-from-a-stream approach, but at least there it has the chance of being a bit more in-your-face that it's something you might want to set.

[2022-03-03 20:44] bartonjs commented on #65951
For the async APIs: My understanding, which I'm always clear that I defer to @stephentoub here, is that unless you're @stephentoub and you wrote down the non-generic ValueTask you meant instead non-generic Task.

The only generic one (GetNextEntryAsync) probably stands a chance of not yielding every now and then, so being `ValueTask<T>` might be reasonable.

[2022-03-03 20:45] faceoffers28 commented on #66148
@eerhardt Thanks for the quick response.

The DBContext looks like this.

[code]
MyService looks like this.

[code]

IMyService looks like this.

[code]

[2022-03-03 20:49] lewing commented on #65859
cc @akoeplinger

[2022-03-03 20:52] eerhardt commented on #66148
Hmm, the following works just fine for me:

[code]

[code]

I'm not sure what `ConfigureFunctionsWorkerDefaults` is. Is that causing problems here?

[2022-03-03 20:56] faceoffers28 commented on #66148
@eerhardt I've built an Asp.Net 5.0 Function. Looks like you are on 6. I'm testing in Azure. The error message I'm seeing occurs in Azure when the Function BLob Trigger fires.

[2022-03-03 20:58] eerhardt commented on #66148
It also works with:

[code]

Any chance you could provide a project that reproduces the problem? It is hard for me to guess without being able to reproduce it myself.

[2022-03-03 20:59] EatonZ commented on #65680
@vcsjones:

[code]

[2022-03-03 21:03] faceoffers28 commented on #66148
@eerhardt Here are my packages from the Function.

[code]

[2022-03-03 21:09] eerhardt commented on #66148
@faceoffers28 - please see https://github.com/dotnet/runtime/blob/main/CONTRIBUTING.md#writing-a-good-bug-report, specifically "Why are Minimal Reproductions Important?".

Unfortunately I am not able to reproduce the issue you are reporting. Without a minimal reproduction, I don't believe we will be able to help much here.

[2022-03-03 21:30] maryamariyan commented on #50406
In the approved API proposal we exposed the method on the concrete type

We understand that it may be inconvenient for users that might want to access this via the interface and need it casted. regardless, the `GetCurrentStatistics` would only work with the right concrete type, so if we wanted to expose this on the interface we'd need to decide on either throwing or returning null for unexpected c

[2022-03-03 21:33] mungojam opened #66163 "Fatal CLR error when XML serializing ImmutableArray, related to reflection"
### Description

When running the fairly simple program in the reproduction below, the CLR crashes and so asp.net stops receiving requests.

It only happens when using the XML response type to serialize a non-empty ImmutableArray of reference types.

The stack trace is:

### Reproduction Steps

Run the following program

[code]

### Expected behavior

The CLR presumably shouldn't be crashable in t

[2022-03-03 21:34] radical opened #66164 "[wasm] Use a fixed version of `v8` for testing"
Currently we use `v8` on helix from the image itself, unlike chrome, for which we send a specific version as a payload.

- [x] determine a version to use
- [ ] Update to use that version for helix
- [ ] Match this for codespaces too
- [ ] Should we also be checking a minimum version in xharness?
- [ ] print the version in xharness
- [ ] perf pipeline should also follow this

cc @kg @pavelsavara @r

[2022-03-03 21:46] roji commented on #65634
Just to make sure people are aware, Jetbrains have had a subset of these for a long while: [StringFormatAttribute](https://www.jetbrains.com/help/resharper/Reference__Code_Annotation_Attributes.html#StringFormatMethodAttribute) (and/or [StructuredMessageTemplate](https://www.jetbrains.com/help/resharper/Reference__Code_Annotation_Attributes.html#StructuredMessageTemplateAttribute)) are similar to

[2022-03-03 21:51] CyrusNajmabadi commented on #65634
We do this as well.

[2022-03-03 21:54] CyrusNajmabadi commented on #65634
The major decision pivot points here are who actually owns this code. Roslyn is not going to write and own languages that are out of our purview.

I'm working on exposing easy classification now. At that point it's up to interested parties to then add support accordingly

[2022-03-03 21:58] stephentoub commented on #65634
Which from my list are in and out of Roslyn's purview?

[2022-03-03 21:59] roji commented on #62505
For SQL, see this comment: https://github.com/dotnet/runtime/issues/65634#issuecomment-1058524593

I'm not sure what "lowest common denominator" means in SQL. Sure, there's a certain subset of statements which work everywhere, but it's really quite restricted. The moment you e.g. want to get only X rows, SQL Server has TOP, PG/SQLite have LIMIT/OFFSET, etc. IMHO for anything to be useful around SQ

[2022-03-03 22:11] JRahnama opened #66166 "DiagnosticSource Class is only applies to NetCore, but nuget package shows dependency to 4.6.1"
### Description

According to MS doc on [DiagnosticSource Class](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.diagnosticsource?view=net-6.0#applies-to) this class applies to .NetCore, Net5 and Net6. But the [Nuget package](https://www.nuget.org/packages/System.Diagnostics.DiagnosticSource/) shows a dependency to net461. Is this supported in netfx?

### Reproduction Steps

N/A

##

[2022-03-03 22:25] hoyosjs commented on #65341
@janvorli  As an FYI: Yep - looks like in https://github.com/dotnet/runtime/blob/c0072fdea4b3b8f61c890d327e6873689990aaa1/src/coreclr/pal/src/map/map.cpp#L2056-L2061 we do the mapping with only MAP_PRIVATE|MAP_FIXED, getting the flags from this call https://github.com/dotnet/runtime/blob/c0072fdea4b3b8f61c890d327e6873689990aaa1/src/coreclr/pal/src/map/map.cpp#L2331-L2333 which is set here: https:/

[2022-03-03 22:33] vargaz commented on #66118
So it looks like that on wasm, TryEnsureSufficientExecutionStack cannot really be implemented since the real execution stack is hidden from the program. We can only check that we don't run out of the C stack which is in linear memory.
In this case, the 'real' execution stack overflows, and the wasm vm aborts.

[2022-03-03 22:40] 333fred opened #66167 "[API Proposal]: System.Runtime.CompilerServices.CompilerFeatureRequiredAttribute"
### Background and motivation

We've had a few times now in C# language design where the traditional method of requiring that a compiler understand a feature, a `modreq`, has been insufficient in one of a couple of ways:

* The context doesn't allow `modreq`s to be applied, such as a type declaration. This is the case for ref structs.
* The fact that `modreq`s affect binary compatibility isn't des

[2022-03-03 22:40] 333fred commented on #66167
/cc @stephentoub

[2022-03-03 22:49] buyaa-n opened #66168 "Mono is crashing on the newly added tests for generic Attributes"
Looks like Mono is crashing on the newly added tests even though they are disabled:
[code]

_Originally posted by @jkotas in https://github.com/dotnet/runtime/issues/65237#issuecomment-1041935039_

[2022-03-03 22:58] tannergooding commented on #66167
What's the plan to ensure that new/existing .NET languages are aware of this attribute and the requirements around understanding/respecting it? What about older compilers (say the C# native compiler) that have no awareness of this attribute?

IIRC, that's one reason why `Obsolete` was used for `Span`, to avoid the issue where some languages were known to ignore `modreq` and to simultaneously ensur

[2022-03-03 23:00] MadsTorgersen commented on #66167
Looks great! You might want to call out the fact that this only blocks the feature back to the version of the language that first knows about _this_ attribute; e.g. C# 11. So we might need to allow some time to pass before we rely solely on this rather than `Obsolete`.

[2022-03-03 23:00] tannergooding commented on #66167
The compiler could, I guess, add both `Obsolete` and `CompilerFeatureRequiredAttribute` to try and cover that scenario (ensure older compilers are aware and that user specified `Obsolete` can't override compiler specified `Obsolete`)?

[2022-03-03 23:00] mattjohnsonpint opened #66170 "Bad Process.StartTime in .NET Core 3.1 on macOS"
### Description

The value returned from `System.Diagnostics.Process.StartTime` is wildly incorrect when run on .NET Core 3.1 (runtime 3.1.22) on macOS 12.2.1 with M1 (Apple Silicon / arm64) processor.  The problem does *not* occur on .NET 6.0 or 5.0, nor does it occur on .NET Core 3.1 running on macOS with an Intel (x64) processor.

### Reproduction Steps

Following [this guidance](https://github

[2022-03-03 23:07] Neo-vortex commented on #66104
I agree with you.
Probably the problem is with the way I benchmark single instruction

[2022-03-03 23:07] Neo-vortex commented on #66104
This look rock solid

[2022-03-03 23:08] BruceForstall commented on #64972
This continues to fail.

https://dev.azure.com/dnceng/public/_build/results?buildId=1634260&view=ms.vss-test-web.build-test-results-tab

[2022-03-03 23:08] BruceForstall commented on #64972
@kunalspathak

[2022-03-03 23:08] BruceForstall commented on #65942
This continues to fail.

https://dev.azure.com/dnceng/public/_build/results?buildId=1634260&view=ms.vss-test-web.build-test-results-tab

[2022-03-03 23:10] BruceForstall commented on #65942
@echesakovMSFT @kunalspathak Can one of you take this?

cc @dotnet/jit-contrib

[2022-03-03 23:14] #65807 closed

[2022-03-03 23:21] #65718 closed

[2022-03-03 23:23] tannergooding commented on #65717
Closing, this looks to be unrelated and is likely just noise. The test is fairly noisy overall and has had spikes like this in the past and following builds were a bit lower.

[2022-03-03 23:23] #65717 closed

[2022-03-03 23:26] kunalspathak commented on #65942
I will take a look.

[2022-03-03 23:38] timmydo commented on #66036
Thanks! + @sudeepagarwal

[2022-03-03 23:39] bruno-garcia commented on #66170
I'm running macOS x64 and I get:

[code]

[code]

[2022-03-03 23:40] #66104 closed

[2022-03-03 23:42] mattjohnsonpint commented on #66170
Thanks @bruno-garcia.  I updated the issue to reflect that it only occurs on M1 hardware, not on Intel.

[2022-03-03 23:48] KeterSCP commented on #66163
Here is a shorter console app repro:

[code]

Btw on .NET5 this code produces System.AccessViolationException

[2022-03-04 00:03] RikkiGibson commented on #66167
maybe a dumb question: is it possible to make old compilers ignore or disallow usage of declarations which have this attribute by putting a modreq on the constructor of `CompilerFeatureRequiredAttribute` itself?

[2022-03-04 00:08] theodorzoulias opened #66172 "Potential for optimizing the ValueTask.Preserve method"
Recently I had to use the [`ValueTask.Preserve`](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.valuetask.preserve) method, for the implementation of a custom LINQ operator for `IAsyncEnumerable<T>` sequences (for preserving the `MoveNextAsync` task). I noticed that the `Preserve` is not optimized for the case below:

1. The `ValueTask<bool>` is not completed upon creation.
2.

[2022-03-04 00:13] m10k commented on #2129
#61304 has been merged, so I'll close this issue. Thank you everyone!

[2022-03-04 00:13] #2129 closed

[2022-03-04 00:45] kg commented on #66164
We need to make it easy to bypass the version check in xharness (for regression tests/bisecting) but I think it's worthwhile to at least warn if the version is too old.

[2022-03-04 00:46] jkotas commented on #66163
This is crashing in the code ref.emited code by the Xml serializer.

[2022-03-04 01:10] #38777 closed

[2022-03-04 01:10] #63199 closed

[2022-03-04 01:10] VincentBu commented on #65646
Failed again in: [runtime-coreclr outerloop 20220303.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1643242&view=ms.vss-test-web.build-test-results-tab&runId=45433432&resultId=100091&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-04 01:12] VincentBu opened #66174 "Test failure profiler/eventpipe/eventpipe/eventpipe.sh"
Run: [runtime-coreclr outerloop 20220303.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1643242&view=ms.vss-test-web.build-test-results-tab&runId=45433282&resultId=110069&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-04 01:28] VincentBu opened #66177 "Test failure System.Security.Cryptography.X509Certificates.Tests.RevocationTests.DynamicRevocationTests.RevokeEndEntity_IssuerUnrelatedOcsp(pkiOptions: IssuerRevocationViaCrl | OcspEverywhere)"
Run: [runtime-libraries-coreclr outerloop 20220303.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1642560&view=ms.vss-test-web.build-test-results-tab&runId=45415216&paneView=debug&resultId=104400)

Failed test:
[code]
**Error message:**
[code]

[2022-03-04 01:35] stephentoub commented on #66172
Are you actually seeing a `Task<bool>` being allocated in the scenario you outline? I wouldn't expect that to be the case.

[2022-03-04 01:35] jcouv commented on #66167
1. Could you provide an example of error message when the compiler disallows using a marked member? Just having a "feature name" may not be sufficient information to present to the user.
2. What the scenario that would involve `Language` being non-null?
  If we decide to keep `Language`: Do we have a precedent for an attributes using properties and meant for compiler usage? I would just make it an

[2022-03-04 01:55] vcsjones commented on #66177
Duplicate of #29683

[2022-03-04 01:55] #66177 closed

[2022-03-04 02:15] CyrusNajmabadi commented on #65634
C#/vb and anything deeply embedded into .net.  So Json/regex/xml (and format strings).

We're also super wary of any domain that is not backed by a single clear spec.  Sql is an example that we would avoid as there are so many dialects.

[2022-03-04 02:16] CyrusNajmabadi commented on #62505
We are making this extensible at the Roslyn layer. But it will be up to a different party entirely to provide any level of SQL support.

[2022-03-04 02:41] vargaz commented on #66118
Decreasing the depth in MinMaxLengthIsCorrect_HugeDept to 5000 works around the problem. The recursion code should have some kind of hardcoded limit imho,
FindAndMakeLoopsAtomic () was on the stack 8k times when it crashed.

[2022-03-04 02:44] theodorzoulias commented on #66172
Hi @stephentoub! I am using .NET 6 in Release mode. You are right, preserving a `ValueTask<bool>` is allocation free. I did my allocation measurements with `ValueTask<int>` though, and there is a difference. Here is a demo:

[code]

Output with `Preserve`:

[code]

Output with `PreserveLight`:

[code]

[Live demo](https://dotnetfiddle.net/jM0ra5)

I am creating the `ReadAsync` tasks first and writ

[2022-03-04 02:47] madelson commented on #62505
I imagine that if VS/VSCode/Rider were to implement this then it would start with just the base keywords (SELECT, JOIN, WHERE, etc) and maybe some operators. I've worked with SQL in editors with this behavior and a little syntax highlighting goes a long way towards making the code easier to read.

IDEs can of course go beyond this by offering configurable dialect highlighting like JetBrains does.

[2022-03-04 02:51] stephentoub commented on #66172
Yes, it's because the allocation-free-ness comes from Task.FromResult returning a singleton for each of true/false.  If your Int32 value were small, like <= 8, you'd also see that allocation go away, as such objects are also cached by Task.FromResult.

As for extending it, we could as long as we were careful not to make any additional interface calls, which accessing IsCompletedSuccessfully would

[2022-03-04 03:11] Kevin-Lewis commented on #40386
I see this is being targeted for .NET7. Blazor WASM has been great for the most part but this performance issue is making it really difficult to view Blazor as a viable option for some of the more data intensive projects I have coming up. I'll give MessagePack a try since it seems people have had some success with that,

[2022-03-04 03:15] theodorzoulias commented on #66172
I agree. My actual use case is about `ValueTask<bool>`, which is covered by the true/false singletons, and for other types admittedly it should be pretty rare to not `Preserve` a `ValueTask<T>` immediately after its creation. So I am closing this issue too. :-)

[2022-03-04 03:15] #66172 closed

[2022-03-04 03:19] AndyAyersMS commented on #33658
Looking at `RegexIntepreter.Go` for some benchmarks, we have an unusual loop shape with a switch at loop top and many backedges. If we put patchpoints at the backedge sources we may be less aggressive about triggering OSR (and put a lot more patchpoints) then if we put a patchpoint at the target.

That suggests that perhaps we want to vary strategy depending on the number of backedge preds of the

[2022-03-04 05:02] scalablecory commented on #61257
Auto-retry is currently left up to the operating system. For instance, on Windows you can control how many times it will attempt a TCP handshake before giving up.

Do any of .NET's platforms (including Android) not have such a retry mechanism? This might be interesting to look at -- maybe we'd code some retry for those platforms for better consistency, or maybe we'd see that e.g. Android designed

[2022-03-04 05:51] ToanHT commented on #62136
Hello everyone,
I got the same error when using HttpWebRequest and SoapClient to call Webservice in proxy environment.
_System.ComponentModel.Win32Exception (0x80090308): The token supplied to the function is invalid_
I upgraded .Net 6 for a long time, so it is difficult to go back to .Net 5.
Anybody help me how to solve this problem.
Thank you all!

[2022-03-04 06:15] wfurt commented on #62136
Any chance you can test the linked binary @ToanHT?

[2022-03-04 06:40] mariusGundersen commented on #32128
Just want to share this very simple solution that unfortunately isn't very efficient:

[code]

Making a more efficient implementation, for example one that is async, would require reimplementing most of StreamReader.

[2022-03-04 06:53] Smartisa commented on #38503
What method can be used to automatically know whether this package supports the actual installed platform?

[2022-03-04 06:59] Smartisa opened #66181 "What method can be used to automatically know whether this package supports the actual installed platform?"
What method can be used to automatically know whether this package supports the actual installed platform?
For example:[[System.Runtime.Loader](https://www.nuget.org/packages/System.Runtime.Loader/)]. it indicates that it supports the framework, but it does not support the framework. How can we use automation to know whether it supports the framework? [There are also indirect references to System.

[2022-03-04 07:00] #65332 closed

[2022-03-04 07:22] teo-tsirpanis commented on #38503
@Smartisa you could use `Type.GetType("System.Runtime.Loader.AssemblyLoadContext") != null`, but that's not the best option since it uses reflection and is not compatible with AOT. If you target modern .NET, the answer to your question is always a "yes" and you shouldn't bother with this package at all.

@ericstj, is there something that prevents this issue from moving forward? It's been open for

[2022-03-04 07:31] ToanHT commented on #62136
Dear wfurt,
I use System.Net.HttpWebRequest to call API and SoapClient to call WCF WebService.
So I can't use System.Net.Http

[2022-03-04 07:34] wfurt commented on #62136
in .NET Core HttpWebRequest sits on top of HttpClient. If it would not you would not see this :)

[2022-03-04 07:39] touchofevil2 opened #66182 "All test inputs are not being executed when using DataRow"
### Description

I have written a following test. I expect that the test should run 3 times with 3 different inputs. However when I run this either using debug or run option, I only get message saying 2 tests passed. TestExplorer also shows only 2 tests. If I run this in azure pipelines, then as well it shows only 2 tests.

It seems the tests are being executed in the reverse order of attributes (

[2022-03-04 08:06] VincentBu opened #66183 "Test failure JIT\\Methodical\\Invoke\\fptr\\ftn_t_il_r\\ftn_t_il_r.cmd"
Run:  [runtime-coreclr outerloop 20220303.5](https://dev.azure.com/dnceng/public/_build/results?buildId=1644284&view=ms.vss-test-web.build-test-results-tab&runId=45451178&resultId=104155&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-04 08:19] touchofevil2 commented on #66182
Closing this as issue is with test framework. Raised one in [TestFx repository](https://github.com/microsoft/testfx/issues/1028) instead.

[2022-03-04 08:19] #66182 closed

[2022-03-04 08:21] teo-tsirpanis opened #66184 "Storing objects from another `AssemblyLoadContext` inside its own instance inhibits unloadability."
Consider the following code snippet:

[code]

It will always print `true`; the ALC is never unloaded because a reference cycle is formed between the native and managed sides of the runtime that the GC cannot figure out. While [judging from the unloadability design document](https://github.com/dotnet/runtime/blob/main/docs/design/features/unloadability.md#assemblyloadcontext-unloading-process) this

[2022-03-04 08:49] ioantoader opened #66185 "Azure webapps rewriting backslash to slash"
Here is my controller sample code:

`using Microsoft.AspNetCore.Mvc;

namespace TestRoute.Controllers
{
    [Route("api/[controller]")]
    [ResponseCache(Location = ResponseCacheLocation.None, NoStore = true)]
    [ApiController]
    public class TestRouteController : ControllerBase
    {
        [HttpGet("{*documentId}", Name = "Get")]
        public IActionResult Get([FromRoute] string document

[2022-03-04 09:18] Joelius300 commented on #62554
The issue was fixed for me when installing the .NET SDK using the [installer script](https://docs.microsoft.com/en-us/dotnet/core/install/linux-scripted-manual). I'm assuming the error is with the RID. Comparing the outputs of `dotnet --info` on the package install vs the script install reveals that the package install sets the RID as `arch-x64` as opposed to `linux-x64`. This would also match wit

[2022-03-04 09:43] Lydia-Shi opened #66186 "An exception is thrown when getting PrinterSettings.InstalledPrinters"
### Description

An exception is thrown when getting PrinterSettings.InstalledPrinters

### Reproduction Steps

1.	Create a Console .NET Core application, add reference: System.Drawing.Common.dll
2.	Add below code in Program.cs:
[code]

3.	Build and run

### Expected behavior

No exception is thrown.
![image](https://user-images.githubusercontent.com/54019172/156739439-6404f70d-728a-4901-9c62-cbcd

[2022-03-04 09:47] Jackie-L opened #66187 "System.Text.Json ReferenceHandler.IgnoreCycles"
### Description

In.net6, circular references are ignored during serialization, resulting in unwanted [NULL], making front-end and back-end interactions difficult

### Reproduction Steps

### .net6.0 A Console application

[code]

### Expected behavior

`{
  "Name": "Angela",
  "Manager": {
    "Name": "Bob",
    "Manager": null,
    "Subordinates": []
  },
  "Subordinates": null
}`

### Actual be

[2022-03-04 10:16] Smartisa commented on #38503
Thanks a lot

[2022-03-04 10:19] eiriktsarpalis commented on #66187
It would seem like this is by-design behavior, as witnessed by the following unit tests:

https://github.com/dotnet/runtime/blob/b90b4649001de0f45600dd0d867fa4400801fbd4/src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/ReferenceHandlerTests.IgnoreCycles.cs#L166-L220

This differs from the semantics of Newtonsoft, which skips cyclic nodes altogether on collections. It's unf

[2022-03-04 10:19] #66187 closed

[2022-03-04 10:27] vitek-karas commented on #66184
@janvorli  for comment on the design here.

[2022-03-04 10:43] Smartisa commented on #38503
Thanks for your answer. How can I automatically know whether any package is compatible with the actual installed platform?

[2022-03-04 10:47] cubidobusinesssolutions opened #66188 "InternalException at SslStream at DuplexPipeStreamAdapter DisposeAsync"
### Description

3/15 ASP.NET Core services running on the same server "randomly" threw the same 2 exceptions

### Reproduction Steps

No idea

### Expected behavior

No exceptions are thrown

### Actual behavior

[code]

[code]

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

Microsoft.AspNetCore.App 6.0.2

Windows Server 2019

x64

### Other information

[2022-03-04 10:48] teo-tsirpanis commented on #38503
In general, a NuGet package should work on all frameworks it targets. This package is an exception and you should avoid it using it in all cases. If you target modern .NET and you want to use `AssemblyLoadContext`, _you don't need this package, the type is already there_.

If you target .NET Standard, _this package is __lying__ to you_, and I strongly recommend you to target to .NET 6.

[2022-03-04 10:48] stevebrowne commented on #62136
@wfurt Can confirm this fixes it for us. We also use McAfee Web Gateway.

[2022-03-04 10:51] #65481 closed

[2022-03-04 11:05] simon-curtis opened #66189 "[API Proposal]: Switch expression without parent object"
### Background and motivation

I really enjoy switch expressions and I have found myself refactoring alot of if/else's to use them.

I have found that when refactoring the logic doesnt tend to revolve around one single variable, this means I end up using a the switch statement with a random variable and doing `_ when ... =>` the whole way down the chain. i.e.

[code]

I think it would be nice to a

[2022-03-04 11:06] krwq commented on #65925
The proposal seems complete and I'm not strongly opinionated on this so I'll let API reviewers decide if we want this or not. I've personally wrote similar code in the past as mentioned so I guess it is occasionally very useful.

[2022-03-04 11:07] Smartisa commented on #38503
We want to check the compatibility of any package with the actual installed platform, but we haven't found a practical method yet. Thanks for your help

[2022-03-04 11:15] krwq commented on #65884
Definitely we should live unit benchmark i.e. EncodeName with couple of different length but max sanely long (sanely as length user might actually do that rather than artificially crafted).

For the the end to end scenario: either generate or find relatively long XML find (people do use megabytes long XML files in practice - even personally seen couple of GBs long) and see how it affects overall r

[2022-03-04 11:32] Hjaltesorgenfrei commented on #62239
Our scenario is essentially the one you mentioned above in your minimal example, except that we use `ServiceCollection.GetServices` instead.
So I don't know if an minimal repro would be helpful as it would be very similar to yours.
When I lower the amount of services in your example to 26 the memory usage is also lower, 1.4GB instead of 6.2GB, but I still get the stack overflow.
This is the same m

[2022-03-04 11:33] #62105 closed

[2022-03-04 11:40] BerndNK commented on #62054
We face the same issue in our application and we also use Blazor Wasm, protobuf-net, Net 6 and DI.

I cannot provide a fix, but at least share my observations and suggestions.

@hakenr A key difference I suspect in your repository with the local instantiation, is that the channel gets disposed after usage.
See
https://github.com/hakenr/BlazorWasmGrpcMemoryRepro/blob/caceac22ce835d046c8788336da1db4

[2022-03-04 11:47] Hjaltesorgenfrei commented on #62239
Also it appears that the memory usage is only high upon the resolve call which Emit is done in.
Any subsequent calls to `GetRequiredService` after the call where memory usage spikes are much faster and have no real impact upon memory usage.
Is it therefore possible that the culprit is `GenerateMethodBody` in `ILEmitResolverBuilder` and not creating the actual objects?

[2022-03-04 11:50] chucker commented on #28285
@DjArt I've just backported a library from .NET 6.0 to .NET Standard 2.0, and one of the things I had to re-add was System.Range. Long story short:

		<PackageReference Include="IndexRange" Version="1.0.0" />

This seemed to do the trick for my relatively simple use case (get a string's characters except for the very first and very last, with `[1..^1]`). Some more complex needs may not work; see t

[2022-03-04 11:50] hopperpl commented on #66189
I think this would work

[code]

the "true when" addition bypasses the constant expression constraint. So if you want that, you can already do it. For me this looks a lot more cryptic than an if-then-else chain, or using the ternary operator.

[2022-03-04 11:51] Kuinox commented on #63199
Thanks !

[2022-03-04 11:59] adamsitnik commented on #66108
I am able to confirm:

[code]

[code]

[2022-03-04 12:08] BerndNK commented on #62054
That's a good point. In our application I did try the .NET7 Preview 1 and the behavior was exactly the same. I did however not try a rollback to .NET 5. I'll try that in our app and report back here whether I can confirm that the issue is Net 6 related.

[2022-03-04 12:10] AaronRobinsonMSFT commented on #66154
@GrabYourPitchforks Is this for the repo all up or only for coreclr and native code in libraries?

[2022-03-04 12:13] hakenr commented on #62054
So might I suggest to inherit IDisposable in Index.razor and dispose DataService and see whether the issue persists?

Well, there is probably no chance the DI+Dispose might help as there is the same DataService instance being used in Index.razor repeatedly without removing (disposing) the Index.razor component itself.

I would have to try to get some channel factory+disposal logic in the DataServi

[2022-03-04 12:26] teo-tsirpanis commented on #66181
Answered in https://github.com/dotnet/runtime/issues/38503#issuecomment-1059050900.

[2022-03-04 12:26] #66181 closed

[2022-03-04 12:32] kg commented on #62054
While I still can't promise anything, we've identified a couple bugs that could cause GC problems like what you're experiencing, so I hope to have fixes for testing in an upcoming preview.

[2022-03-04 12:54] MichalStrehovsky opened #66191 "Debugging information corrupt"
https://github.com/dotnet/runtime/pull/66061#issuecomment-1057129704

Looks related to multimodule mode that is not shipping.

[code]

[2022-03-04 13:01] hakenr commented on #62054
@kg great! Is there any chance to test those fixed bits now? Will it be .NET7 or can we hope for .NET6 fix?

[2022-03-04 13:03] kg commented on #62054
These changes will be significant enough that a backport to .NET6 would be difficult. The fixes are not landed yet, so it's not possible to test them.

[2022-03-04 13:04] IrakliLomidze commented on #65659
.NET Team what is a status of this suggestion is it adopted somehow  ?

[2022-03-04 13:04] filipnavara commented on #62136
@wfurt Do you happen to have the full Wireshark/Fiddler logs with the Authorization header contents? I have a way to synthesise the server side of the communication and I'd look into a fix for this.

[2022-03-04 13:11] deeprobin commented on #62505
We could indeed support only ANSI/ISO SQL (ISO/IEC 9075-1) by means of the identifier `sql` and then build on it in the long run with `sql+mysql`, `sql+mssql`/`sql+tsql` (maybe with version identifier? - `sql+mysql8.0`)...
That would be my approach now, anyway. Feel free to leave feedback.

[2022-03-04 13:13] #65696 closed

[2022-03-04 13:34] DamienCassou commented on #63418
I'm using snap and have the same issue.

[2022-03-04 13:40] janvorli commented on #66184
The interesting thing is that the problem doesn't happen if you don't call the Unload. The unloading then works as expected. Although both the Unload and the finalizer of the ALC ends up calling the same code, the difference is that when the finalizer calls it, the references in the ALC are not considered alive while with the Unload call, they are still fully alive. The unloading needs to keep the

[2022-03-04 13:52] lambdageek opened #66194 "Port Unity's Mono embedding API tests to src/tests/Interop/MonoAPI"
As followup to https://github.com/dotnet/runtime/issues/64456 we're now in a position where it should be possible to take the tests in https://github.com/Unity-Technologies/runtime/pull/4 and use them from the runtime tests infrastructure in `src/tests/Interop/MonoAPI` with minimal changes.

[2022-03-04 13:54] lambdageek commented on #64456
The foundational work is finished.  Follow-up work includes #66194, as well as writing additional tests that validate the embedding API calls used by popular embedders such as xamarin-macios or xamarin-android

[2022-03-04 13:54] #64456 closed

[2022-03-04 13:59] adamsitnik commented on #65835
Fixed by #65899

[2022-03-04 13:59] #65835 closed

[2022-03-04 14:01] hakenr commented on #62054
@kg Please let me know when those changes are available for testing. I still have doubts if we're not fighting two bugs - runtime issues in GC, but also some problems on the gRPC/protobuf-net/aspnetcore-DI side that manifest themselves in this.

[2022-03-04 14:01] lambdageek commented on #65808
Fixed by https://github.com/dotnet/runtime/pull/65973 and https://github.com/dotnet/runtime/pull/65867

[2022-03-04 14:01] #65808 closed

[2022-03-04 14:02] hakenr commented on #62054
@kg Also better knowing what was fixed might help us find a workaround for .NET6 to survive until .NET gets released.

[2022-03-04 14:10] adamsitnik commented on #66096
Hi @PaulHigin

Thank you for a very detailed bug report. As pointed by @stephentoub the issue has been already reported (https://github.com/dotnet/runtime/issues/63937) and fixed (https://github.com/dotnet/runtime/issues/63937). The fix has been merged 8 days ago and it's going to be included in .NET 7 Preview 3.

[2022-03-04 14:10] #66096 closed

[2022-03-04 14:15] vcsjones commented on #65680
@EatonZ I think then at this point my advice remains the same, just with a different error. It seems the error is coming from their PIV / minidriver and it's just bubbling up through CNG.

[2022-03-04 14:50] #61818 closed

[2022-03-04 14:59] AaronRobinsonMSFT commented on #66154
Relevant occurrences under `src/coreclr`

We are already building with at least `/W3` on I believe. The `jit/` subdirectory is set for `/W4`.

## 4146
https://github.com/dotnet/runtime/blob/9053aa1e66ab7c1af7a14e649fb0bf0b0c501cde/src/coreclr/inc/safemath.h#L526

## 4244
https://github.com/dotnet/runtime/blob/9053aa1e66ab7c1af7a14e649fb0bf0b0c501cde/src/coreclr/debug/daccess/gcdump_dac.cpp#L11
htt

[2022-03-04 15:03] steveisok commented on #66168
/cc @SamMonoRT

[2022-03-04 15:16] fanyang-mono commented on #66083
With @trylek's PR, the `Mono llvmfullaot Pri0 Runtime Tests Run Linux arm64 release` lane still time out. And the time out currently was because the tests running on helix step took too long to finish (10min -> 1h). @simonrozsival Could you re-open your revert PR and merge main to it to see if the testing time would go down? (https://github.com/dotnet/runtime/pull/66088)

[2022-03-04 15:16] SamMonoRT commented on #66168
@naricc - this was another case of a disabled test still run in CI

[2022-03-04 16:04] koszeggy commented on #60549
I think the proposed API is actually the "more birds with one stone" case, especially the `SampleBased` approach:
* It is "future proof", so even if new members are introduced (just like as `NextInt64` and `NextSingle` were introduced in .NET 6), the non-overridden new virtual members will not revert back to the compatible behavior. This is pretty crucial in some cases such as a [SecureRandom](htt

[2022-03-04 16:14] #65960 closed

[2022-03-04 16:17] #65770 closed

[2022-03-04 16:23] hez2010 opened #66197 "Suboptimal code generated for ValueTuple.GetHashCode()"
### Description
Given this code:

[code]

The codegen for M1 and M2:

[code]

I think `ValueTuple.GetHashCode` should at least be inlined.

But even with `DOTNET_JitAggressiveInlining=1` (which forces inlining `ValueTuple.GetHashCode`), the codegen for M2 is still suboptimal:

[code]

### Configuration
.NET build from main branch.

[2022-03-04 16:32] mangod9 commented on #65659
we will look into this for the next release.

[2022-03-04 16:48] EgorBo commented on #66197
The IL of ValueTuple<T1,T2>::GetHashCode is tricky:
[code]
inliner managed to figure out that BOX operations are foldable, but the benefit multiplier is still too low.

[2022-03-04 16:50] Saalvage opened #66199 "JsonSerializer should support named member tuples"
Currently when (de-)serializing, the `ItemN` property names of tuples are used exlusively, despite the fact that in the case of named tuple members the names given to the tuple items can be identified via `TupleElementNamesAttribute`.

### Example:
[code]
[code]
In the above example only `MyBool` and the tuple item `B` will be deserialized correctly and only if `IncludeFields` is specified in the

[2022-03-04 16:50] AaronRobinsonMSFT commented on #63860
I didn't debug this or look at logs but can confirm it repros immediately. The only two options that are needed are:
[code]

Take away either one and the test will pass. The `DOTNET_ZapDisable=1` and `DOTNET_TieredCompilation=0` don't seem to matter.

[2022-03-04 16:53] JulieLeeMSFT commented on #65940
We think that this issue will be fixed by https://github.com/dotnet/runtime/pull/66070.

[2022-03-04 17:13] SamMonoRT commented on #66083
The aot time build issue seems to be fixed by the PR - but we still are seeing some tests running longer and exceeding the overall timeout of the lanes. Changing ownership of issue till we determine what is causing the tests to run longer than expected.

[2022-03-04 17:16] hez2010 commented on #66197
Also note that some unnecessary code are generated for `M2` even with `ValueTuple.GetHashCode` inlined:

[code]

[2022-03-04 17:18] arekpalinski commented on #65694
Hi. any update on this?

[2022-03-04 17:26] ericstj opened #66201 "No package validation coverage for runtime.native.System.IO.Ports"
See discussion in https://github.com/dotnet/runtime/pull/66176 as well as https://github.com/dotnet/runtime/issues/28796.  Since this package was introduced we've never had coverage of it since it's the only library package we build that requires runtime-specific packages as dependencies.

This has caused regressions numerous times because the package is "special" and often overlooked and that spe

[2022-03-04 17:31] mikem8361 commented on #66001
I'm not sure why /tmp/ isn't working.  Maybe @hoyosjs has some ideas.

[2022-03-04 17:34] DerNairolf opened #66254 "Accessing an array of ValueTuple<int[], int, ...> throws exception if code is optimized"
### Describe the bug

The compiler optimization seems to be too aggressive in some cases with ValueTuple arrays.

My ValueTuple array:
[code]

Now I loop through the Item1 arrays with two nested for loops:

[code]

This works as expected in the debug configuration. If I run the same code in the release configuration (with optimizations), a **NullReferenceException** is thrown. This also happens in

[2022-03-04 17:34] greyhoundgames opened #66203 "JSONSourceGenerator: JsonSerializerContext requiring implementing all functions in partial class"
### Description

I am seeing a problem I found described back last August in issue
#57579 JSON source generator fails to compile when providing the full name of serializable class

I have two projects that are AWS Lambda applications. I switched to .net 6 and thus visual studio 2022 (Version 17.1.0) this week on both projects and implemented this new feature (JSONSourceGenerator for request object

[2022-03-04 17:57] 333fred commented on #66167
Exactly the same as with `modreq`s today, it will just be marked as unsupported by the language.

I did not have a specific scenario in mind, I simply wanted to make this option as flexible as `modopt` vs `modreq`, where a language could use this to communicate just between itself, and not to all other .NET languages.

Not AFAIK. The general pattern in the BCL (that I know of) is to not used defau

[2022-03-04 18:07] eiriktsarpalis commented on #66199
See my comment in https://github.com/dotnet/aspnetcore/issues/40510#issuecomment-1058007984 concerning the same request. TL;DR the `TupleElementNamesAttribute` only applies to properties and not the ValueTuple types themselves. Converters are scoped to types and as such are oblivious of any property-level metadata.

While it might be possible to knock together an internal converter that fetches tu

[2022-03-04 18:13] GrabYourPitchforks commented on #66154
Only for production code, so I'd think coreclr / mono (if compiled via MSVC++) / libs. Test code is excluded.

[2022-03-04 18:15] Saalvage commented on #66199
Inconsistency is definitely an argument I forgot to consider! I agree that in light of that a change like this shouldn't go ahead.
Such a shame that tuple item names aren't associated with the type itself!

[2022-03-04 18:15] #66199 closed

[2022-03-04 18:20] tannergooding commented on #65646
This looks unrelated to the hardware intrinsics and possibly is a bitness mismatch or something similar.

[2022-03-04 18:27] cshung commented on #66039
While there is nothing stopping you from catching an OOM exception, the recommendation is that you don't. If you wanted to display UI, you will need memory, and you don't have any, so you will have another OOM again. It just won't do what you wanted, might as well let it crash so that the system will handle that for you (e.g. talk to Watson on Windows, create coredump on Linux, ...)

[2022-03-04 18:31] tannergooding commented on #66048
Duplicate of https://github.com/dotnet/runtime/issues/65646

[2022-03-04 18:31] #66048 closed

[2022-03-04 18:31] mangod9 commented on #65694
I just cloned the repro and seem to be able to repro it after some time. When I look at the dump you shared and the local repro, the corrupted object pointer seems to be located between these two objects. Could you please confirm that for all repros that is the case, and if so is there anything special about these?

[code]

[2022-03-04 18:32] tannergooding commented on #66052
CC. @echesakovMSFT/@JulieLeeMSFT  closing this as a duplicate of https://github.com/dotnet/runtime/issues/65646

[2022-03-04 18:32] #66052 closed

[2022-03-04 18:32] tannergooding commented on #66052
Noting that it's a different test, but this and others are all failing with the same general error.

File name: 'System.Security.Cryptography.Primitives, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'

and something similar to

Test Harness Exitcode is : 1

[2022-03-04 18:39] tannergooding commented on #65982
Closing as dupe of https://github.com/dotnet/runtime/issues/65646

[2022-03-04 18:39] #65982 closed

[2022-03-04 18:44] jkotas commented on #66039
Exactly. The problem is that code out there has finally blocks and other exception handling processing for cleanup, etc. This code is also likely to going to try to allocate memory somewhere, this allocation is going to fail again, and the cycle will repeat. It is not unusual for these situations to end up with stack overflow or other hard to diagnose situation.

The write up above says "This mean

[2022-03-04 18:44] ericstj commented on #62042
Reopening for backport to 6.0.

[2022-03-04 18:47] BruceForstall opened #66205 "Assertion failed 'IsBaselineSimdIsaSupportedDebugOnly()'"
Many tests in the "runtime-coreclr jitstress-isas-x86" pipeline on x64 fail with this, e.g. JIT\\opt\\Vectorization\\UnrollEqualsStartsWIth\\UnrollEqualsStartsWIth.cmd in CoreCLR windows x64 Checked jitstress_isas_x86_nosse2:

https://dev.azure.com/dnceng/public/_build/results?buildId=1643987&view=ms.vss-test-web.build-test-results-tab&runId=45451108&paneView=debug

[code]

@tannergooding @dotnet/

[2022-03-04 18:47] #63185 closed

[2022-03-04 18:47] #34582 closed

[2022-03-04 18:53] BruceForstall opened #66206 "Assertion failed 'comp->supportSIMDTypes()'"
Many tests in "runtime-coreclr jitstress-isas-x86" pipeline, job "CoreCLR OSX x64 Checked jitstress_isas_nosimd" fail, e.g., JIT/Methodical/NaN/r8NaNdiv_cs_do/r8NaNdiv_cs_do.sh:

[code]

@tannergooding @dotnet/jit-contrib

[2022-03-04 18:56] BruceForstall commented on #66174
This timeout is pervasive: Kusto data shows that it happens in many pipelines, but mostly on osx/x64.

@dotnet/area-system-diagnostics-tracing

[2022-03-04 18:56] agocke commented on #65791
@dotnet/area-system-io Could someone take a look at this please? It's hitting PRs somewhat often

[2022-03-04 18:57] tannergooding commented on #66206
It's probably worth removing the `COMPlus_EnableSIMD=0` switch. It doesn't exist/work for ARM64 and the code has been in long enough for x86/x64 that it's extremely well tested and so the original purpose for it doesn't really "exist" anymore. Additionally on Unix (and to an extent on x64 Windows) the support is "required" for ABI purposes to ensure types like `Vector128<T>` or HFAs/HVAs are corre

[2022-03-04 18:59] BruceForstall commented on #65042
ping

[2022-03-04 19:13] #66005 closed

[2022-03-04 19:20] swgriffith commented on #66037
Terminating the container works, but if you're running in an orchestrator with autoscaling, like Kubernetes and the Horizontal Pod Autoscaler, the orchestrator is ultimately responsible for terminating the pod. If you try to use memory as the scaling metric then your calculation gets skewed and you may never fully scale down.

For example, I'm running a dotnet 6 app in AKS with a 100Mi request and

[2022-03-04 19:30] mangod9 commented on #66005
Since there appears to be a simple workaround, is a backport to 6 required for this?

[2022-03-04 19:31] trylek opened #66210 "[Crossgen2 / windows / arm64] JIT\Performance\CodeQuality\BenchmarksGame\regex-redux\regex-redux-5 AV's in the CoreCLR runtime"
OS: **Windows**
Architecture: **arm64**

This is a rare bug - I found three repros in the last month. The last one is from JanK's testing of the generic exception fix, the middle one occurred during my testing of the Crossgen2 fix to only register code range once for composite image and the first one happened on 2/8 during testing of a library change.

The call stacks slightly vary so I'm attachin

[2022-03-04 19:37] trylek commented on #66210
During testing of the code range change I raised concerns whether the bug may be related to my change and I ran the test in a loop overnight on a Windows arm64 VM that David Wrighton kindly granted me access to; I was unable to hit the failure with more than 60K iterations.

[2022-03-04 19:38] jkotas commented on #66005
If the bug is found in 3rd party library, it is not easy to workaround (short of disabling crossgen for the whole library).

[2022-03-04 19:41] BruceForstall commented on #66206
You understand the support matrix here much better than I, so I will defer to your judgement. My main concern would be that we should be able to test all the configurations that we support. If `COMPlus_EnableSIMD=0` doesn't improve our testability, then I'm fine to remove it.

[2022-03-04 19:43] BruceForstall commented on #65940
Fixed by #66070

[2022-03-04 19:43] #65940 closed

[2022-03-04 19:44] ericstj commented on #38503
It's not getting traction because it's not a blocking issue and it's assigned to future.  There's also uncertainty around the fallout of leveraging the deprecated feature for existing consumers.

It could be interesting a case for trying out deprecation.  All of the frameworks that actually needed it are now out of support so the only consumers of it today are getting the false promise of this API

[2022-03-04 19:44] trylek commented on #66210
I found one more failure of the test in 20220124.1, sadly the retention period for Helix logs is just one month so they are no longer available but considering the frequency and duration it seems to me it might have had a similar cause. Before that there's no single repro for about half a year, I just found one repro from last July but that was probably infrastructural because the test ran for jus

[2022-03-04 19:45] BruceForstall commented on #65650
I'm going to assume this was fixed by https://github.com/dotnet/runtime/pull/65916

[2022-03-04 19:45] #65650 closed

[2022-03-04 19:45] eerhardt commented on #62239
You have this much recursion in your dependency graph? Not that my minimal example is basically a recursive fibannoci growth of the number of services being created. Are you sure the services need to be `Transient`?

[2022-03-04 19:47] ds5678 commented on #63882
+1

[2022-03-04 19:47] AlbertoMonteiro opened #66212 "Regex Matches Count gives ArgumentOutOfRangeException (regression)"
### Description

Just run this code with dotnet 7.0.100-preview.1.22110.4 and it will break
[code]
![image](https://user-images.githubusercontent.com/836496/156831443-46a1966a-f1d7-488c-ad34-581100b8cf8f.png)

### Reproduction Steps

Clone this project: https://github.com/AlbertoMonteiro/RegexIssueDotnet7Preview1
Then `dotnet run`

### Expected behavior

The Count should return 1

### Actual behav

[2022-03-04 19:53] jkotas commented on #66210
Do we have any crash dumps for the crash?

[2022-03-04 19:55] trylek commented on #66210
I haven't found any, IIRC dumps on arm64 are somehow problematic because their Helix uploads keep timing out so they are mostly suppressed.

[2022-03-04 19:57] JulieLeeMSFT commented on #65646
@mangod9 PTAL.

[2022-03-04 20:01] trylek commented on #66210
I just double-checked the log from your latest run, we don't even try to generate the dump when this fails; the harness normally returns 1 as if the test just failed with a wrong exit code. Perhaps that is something we should fix, possibly by setting some COMPLUS variable or by making some adjustments to the VM configuration to capture dumps upon assertion failures?

[2022-03-04 20:03] ThonChanvannak746 opened #66214 "It"
### Description

### Configuration

### Regression?

### Data

### Analysis

[2022-03-04 20:04] MattGal commented on #66083
Don't forget that ARM64 test machines are a limited, not-scalable resources and the runtime team is sending thousands of hours of work through them.  Being more clever saves time but we can't forget that we have a static number of limited resources.

[2022-03-04 20:13] #66214 closed

[2022-03-04 20:14] SingleAccretion commented on #65852
So, in the time since since the regression, the benchmark, it seems, has become bimodal:

![image](https://user-images.githubusercontent.com/62474226/156834401-4eca0d00-6291-4d0c-89bf-b6c5ce6b53ae.png)

Given that, and the fact that I did not see invariant indirections in the call stacks of the benchmark that could have impacted the results, I think it is unlikely that #65709 has affected the perf

[2022-03-04 20:23] stephentoub commented on #66212
Thanks for the great bug report.  We're missing a length check after we optimize for a beginning-of-line anchor and jump to the next \n.

[2022-03-04 20:25] Maoni0 commented on #63860
that's interesting, if I set those 2 env vars, it simply runs for a very long time because we are triggering GCs left and right (by design). and if I run it in release, I can't get it to fail. I'm running on x64.

[2022-03-04 20:26] adamsitnik commented on #65042
I'll take a look at this on Monday, but I don't think that we have any architecture-specific code on the libraries side. I'll get back to you when I know more.

[2022-03-04 20:27] EgorBo commented on #65852
Right, I think we can close this one
![image](https://user-images.githubusercontent.com/523221/156836746-0d86b0b7-bce9-435b-a6c7-329f7e2b489d.png)

@SingleAccretion sorry for wasting your time

[2022-03-04 20:27] #65852 closed

[2022-03-04 20:49] vflame opened #66218 "Foreach interator variable wrongly captured/wrong context for async methods"
### Description

Not exactly sure how to describe the issue but when a LINQ query is used on a variable in a loop, .NET treats the variable inconsistently.

Any variables used in a foreach loop I would expect not be available outside of foreach loop, but it's bleeding out and causing issues when having multiple foreach loops use the same variable interator variable name. This seems to happen for a

[2022-03-04 20:59] Joe4evr commented on #66218
Just so you know for your repro, you can get the debugger to break without needing to tell people to set a breakpoint by using [`Debugger.Break()`](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.debugger.break).

[2022-03-04 21:46] kakins opened #66219 "AddUserSecrets fails in environment for "DOTNET_USER_SECRETS_FALLBACK_DIR""
### Description

Using `.AddUserSecrets(optional: true)` causes a runtime error when deploying outside my local environment.  The error points to "DOTNET_USER_SECRETS_FALLBACK_DIR"

### Reproduction Steps

Add user secrets to a project using to dotNet CLI, with the configuration builder method `.AddUserSecrets(optional: true)`

### Expected behavior

Making user secrets optional should ignore the

[2022-03-04 21:48] JulieLeeMSFT commented on #66076
cc @dotnet/jit-contrib.

[2022-03-04 21:55] steveisok opened #66220 "[iOS] [System.Text.Json] Number_AsCollectionElement_RoundTrip test failure on device"
The suite will crash when running https://github.com/dotnet/runtime/blob/5d2da719731b4711bdda13f69c2ffdabf6ad74c0/src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/NumberHandlingTests.cs#L376

On debug, an assert is triggered at https://github.com/dotnet/runtime/blob/5d2da719731b4711bdda13f69c2ffdabf6ad74c0/src/mono/mono/metadata/object-internals.h#L2008

Here are the first

[2022-03-04 21:56] steveisok commented on #66220
/cc @vargaz @lambdageek

[2022-03-04 22:05] kg commented on #62054
The issues I've identified on our side are mostly in the C and JavaScript layers, so it is unlikely there will be C# side workarounds - but we will definitely keep you posted and share testing builds as soon as we can.

[2022-03-04 22:05] lambdageek opened #66222 "[API Proposal]: System.Runtime.CompilerServices.MetadataUpdateOriginalTypeAttribute"
### Background and motivation

In .NET 6 we added [`CreateNewOnMetadataUpdateAttribute`](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.createnewonmetadataupdateattribute?view=net-6.0) to allow frameworks to mark types that do not carry any state that needs to be preserved between hot reload updates (or that any relevant state can be migrated by the framework itself fr

[2022-03-04 22:19] AndyAyersMS commented on #66076
`optRedundantBranches` is new in .NET 6. I'll take a look.

[2022-03-04 22:24] agocke commented on #65626
This test run is pretty regularly timing out -- can we get someone to investigate if the slowness is a bug, or if we need to adjust the timeout?

[2022-03-04 22:25] teo-tsirpanis commented on #62447
Thanks for letting me know @danmoseley. It is indeed a very interesting project, but I am pretty busy these days with pressing obligations, included my university classes that started this week and the work on my thesis.

Speaking of this, I had the thought to make _this_ my thesis' subject. I talked with some professors (that was the reason for my delay) and were willing to accept it, but I was w

[2022-03-04 22:25] B1Z0N commented on #66076
If it might help, I've reduced [proof of concept](https://sharplab.io/#v2:C4LgTgrgdgNAJiA1AHwAICYCMBYAUKgBgAJVMA6AGQEsoBHAbj0JPOrrIFEAPABzAFMAzoKoB7KIMb5ipACxS8TdAGY8AbzxEtRAMbjBwIjUMiAXvyIBeIgFYCBBbm0l06Tdo1Pn2gG4BDMF0AwSsiDigIAFt+MD8AIwAbfjIAJT8oAHN+AApMGCIzfgBKMgBlfiSdYGyqKwA+Iih+AHciAGEAojUjUNqAXxKAFVFqA2yiqW9fTrg/YH5gKmjQgBE5/kGl5IA5UWbJqaIAM1EBPx0AC2z/QIqjKCIAcQWASUFsnWCiPxDSZQAeURxABW/CqdRK

[2022-03-04 22:25] jeffhandley commented on #57205
Closing this issue in favor of #64596. The items from this epic were merged into that one.

[2022-03-04 22:26] #57205 closed

[2022-03-04 22:31] jeffhandley commented on #62658
This list in this issue has been edited to reflect changes from our ongoing planning and discussions. The headings have been updated to reflect what is still planned for .NET 7 and what is in the backlog. The list is still expected to change throughout the release cycle with periodic reviews of our plans.

[2022-03-04 22:33] jeffhandley commented on #64596
This list in this issue has been edited to reflect changes from our ongoing planning and discussions. The headings have been updated to reflect what is still planned for .NET 7 and what is in the backlog. The list is still expected to change throughout the release cycle with periodic reviews of our plans.

Additionally, the items from [System.IO Symbolic Link work planned for .NET 7 · Issue #57205

[2022-03-04 22:39] danmoseley commented on #62447
Yes to be clear, no pressure whatsoever, just flagging as maybe interesting to you or someone. Hmm, it's a significant project but I do not think this should be huge work. For the most part it would be isolated from Regex: it would be implementing an (internal) API essentially like `String.IndexOf(string, string, string...)` using an already understood algorithm, with a reference implementation. T

[2022-03-04 22:44] kunalspathak commented on #66076
https://github.com/dotnet/runtime/pull/46237/

[2022-03-04 22:48] jeffhandley commented on #64599
This list in this issue has been edited to reflect changes from our ongoing planning and discussions. The headings have been updated to reflect what is still planned for .NET 7 and what is in the backlog. The list is still expected to change throughout the release cycle with periodic reviews of our plans.

[2022-03-04 22:48] stephentoub commented on #62447
Yes...ish.  Source generation is a wrinkle.  For that, we'd either need to emit the code for the algorithm, which I don't think we want to do, or we would need to expose some public API the generated code could use.  And while we could leave such a thing to just be for the non-source generated regexes, that would complicate the story for when to pick source generation over not.

I think the actual

[2022-03-04 22:50] danmoseley commented on #62447
That makes sense -- thinking of this as an isolated experiment to implement a high performance ` String.IndexOf(string, string, string...)`. Once that is proven to work well, we can stop and choose next steps. It may be that we simply add such an API for the benefit of all.

[2022-03-04 22:51] danmoseley commented on #62447
(obviously not that signature)

[2022-03-04 22:52] radical opened #95971 "[blazor-wasm] Improve handling OOM error, and surface it better"
Example issue: https://github.com/dotnet/aspnetcore/issues/40528

If the initial heap size is too big (set via `$(EmccTotalMemory)`) then the user sees:

[code]

We should instead catch the OOM error, and maybe surface it as better error that the app can catch, and surface to the user. And log a useful error message on how to fix it, for the the app developer.
And with https://github.com/dotnet/as

[2022-03-04 23:07] wfurt opened #66223 "expose HttpConnection"
This is somewhat related to #525 and it aims to solve some of the problem Low-level HTTP API is trying to solve.
At this moment it is direct copy from [prototype](https://gist.github.com/scalablecory/f8eb6273b6cc1d679bcd5a5f1feb07da) @scalablecory was working on.

The basic idea here is that we would API that allows to connect to given server and expose operations similar to HttpClient.
There woul

[2022-03-04 23:20] wfurt opened #66224 "support kernel TLS and offload on Linux"
Linux Kernel supports TLS framing and it also allows to offload encryption to network interface if the HW supports it.
https://www.kernel.org/doc/html/latest/networking/tls-offload.html

In essence after initial handshake and certificate validation, symmetric session keys ar negotiated. The build encryption is pretty simple and it can be done by kernel, possibly with HW offload.
There is already s

[2022-03-05 00:02] bartonjs commented on #64689
Windows has telemetry for chain building, which is opt-in.  The instructions for turning it on are at https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-vista/cc749296(v=ws.10)?redirectedfrom=MSDN

[2022-03-05 00:02] #64689 closed

[2022-03-05 00:06] bartonjs commented on #59638
Since the best we can do is change the exception type or message in this situation, and there doesn't seem to be a huge support base for that proposal, closing the issue.

[2022-03-05 00:06] #59638 closed

[2022-03-05 00:09] bartonjs commented on #59431
While there's room for us to do a pass and find out what LIGHTUPs are actually expected to be REQUIRED based on minimums changing over time, I think the original question/problem has been resolved.

[2022-03-05 00:09] #59431 closed

[2022-03-05 00:13] bartonjs commented on #59305
Since all questions seem to be answered, and there hasn't been activity for a while, closing.

[2022-03-05 00:13] #59305 closed

[2022-03-05 00:16] bartonjs commented on #59191
I believe all questions have been answered, and that the actionable pieces are already tracked by other issues.  Closing.

[2022-03-05 00:16] #59191 closed

[2022-03-05 00:21] bartonjs commented on #62880
Using the query Dan shared earlier, I see no occurrences of this in the current sliding window of test history.  Looks like an OS issue that got patched out.

[2022-03-05 00:21] #62880 closed

[2022-03-05 00:22] bartonjs commented on #58640
The sliding history window shows no occurrences of this error.  Looks like an OS issue that got patched out.

[2022-03-05 00:22] #58640 closed

[2022-03-05 00:25] bartonjs commented on #54195
The questions seem to be answered and there hasn't been activity in a long while, closing.

[2022-03-05 00:25] #54195 closed

[2022-03-05 00:34] mangod9 commented on #65694
From looking closer, this doesnt look like a heap corruption but rather an issue with reporting gcinfo on the stack, possibly some race condition leading to an off-by-8 condition.

[2022-03-05 00:44] #51337 closed

[2022-03-05 00:44] #49993 closed

[2022-03-05 00:46] #46946 closed

[2022-03-05 00:49] bartonjs commented on #46076
It's not clear that there's any work remaining here (at least for the assigned area), and there hasn't been any activity in a long while; so assuming this is no longer an area of concern.

[2022-03-05 00:49] #46076 closed

[2022-03-05 00:51] bartonjs commented on #42568
There are no instances of this (or similar) failures in our rolling test history, seems to have been a transient OS or machine issue.

[2022-03-05 00:51] #42568 closed

[2022-03-05 00:53] #40166 closed

[2022-03-05 00:53] AaronRobinsonMSFT commented on #63860
@Maoni0 Apologies, more details are needed here. My repro was for x86 Checked on Windows 11.

[2022-03-05 00:55] #31703 closed

[2022-03-05 00:58] lambdageek commented on #66222
@captainsafia FYI, since it's treading the same waters as  https://github.com/dotnet/roslyn/issues/55651 But that proposal is about the "original name" of other constructs that Roslyn mangles even in the baseline version of an assembly.  Whereas this is about names that are mangled specifically as part of C# Hot Reload on classes that compile in an unsurprising way in the baseline assembly.

[2022-03-05 01:23] BruceForstall commented on #33658
fwiw, some additional comments on Array2 are here: https://github.com/dotnet/runtime/issues/54074

It looks like cloning wants to know the initialization condition so it can check that the initial value is >= 0. With a constant initialization it can check that statically, otherwise it checks it dynamically. Why? Because the iteration variable is being used as an array index and we want to eliminat

[2022-03-05 01:25] bartonjs opened #66228 "(Should we) Provide implementations for {RSA,DSA,ECDsa}.HashData(?)"
All of our derived types for these algorithms now call the exact same helpers (except maybe DSACryptoServiceProvider, which fails if you ask for something other than SHA-1, because of FIPS 186-2 limitations).

Perhaps instead of re-implementing these methods identically 14 times ({CNG,CSP,OpenSSL,Android,Apple} * {RSA,DSA,ECDSA} - DSACSP)) we should define them just the 3 times.

[2022-03-05 01:30] vcsjones commented on #66228
Seems reasonable. I can throw up a PR to see what it'd look like.

[2022-03-05 01:34] bartonjs commented on #66228
Really this is a bit "I have no idea why we made these methods as virtual+throw" (except where they're, maybe, abstract).  Possibly it was just that we didn't have access to the dispatchers we wanted to use on .NET Framework (System.dll vs System.Core.dll).

Unless someone can remember a good reason why they're virtual+throw then virtual+work seems good to me.

@nguerrera any chance you have the a

[2022-03-05 01:36] vidhyapg opened #66229 "Configuration Binding a dictionary with a key that has empty value skips the key as well"
I am using Configuration Binding to read a config file. Empty dictionary value leads to not generating an entry for key as well.

Here is where I bind the configuration to a type defined in my project DistributedQueueConfig

[code]

Attached the json file used.

This is examining opts after Bind.

[code]

q4 which has empty value does have an entry in the dictionary which is not expected. When I u

[2022-03-05 01:46] AndyAyersMS commented on #33658
You mean the simple nested loop case?

With OSR enabled (and adaptive strategy from #66208) loop recognition finds both loops but neither is `LPFLG_ITER` and so we don't consider either loop for cloning.

[code]
Outer loop iteration search fails in `optExtractInitTestIncr` and inner loop in `optPopulateInitInfo`.

For the inner loop, `BB03` is just the test; the initialization of `V03` is up in th

[2022-03-05 02:29] radical opened #66231 "`System.Text.Json.Tests` failing due to `Could not load file or assembly 'System.Runtime.CompilerServices.Unsafe'`"
Failing for `Libraries Build windows net48 x86 Release`, hit on unrelated PR https://github.com/dotnet/runtime/pull/66042 .

[Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1645913&view=logs&j=79ebbb2e-07f2-5457-c5e5-132dd7ee4ba8&t=160ce0e3-a8e8-5ac5-8623-55bee3c49b38&l=53), and
[log](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-66042-merge-0eb

[2022-03-05 02:30] elinor-fung opened #66232 "System.Text.Json.Serialization.Tests failing with `FileLoadException` on net48 runs"
After https://github.com/dotnet/runtime/pull/65863, these two are failing on net48 runs:
- `System.Text.Json.Serialization.Tests.CacheTests.JsonSerializerOptions_ReuseConverterCaches`
- `System.Text.Json.Serialization.Tests.CustomConverterTests.GetConverter_Poco_WriteThrowsNotSupportedException`

[code]

Build: https://dev.azure.com/dnceng/public/_build/results?buildId=1637814&view=ms.vss-test-web

[2022-03-05 02:37] radical commented on #65817
Hit this again for [System.Text.Json.SourceGeneration.Roslyn4.0.Tests](https://dev.azure.com/dnceng/public/_build/results?buildId=1645913&view=logs&j=3f95ca23-483b-5dc9-4b05-6bd24fb925c2&t=0c1dd9d1-4ef7-54d5-2d62-e4ab330605ca).

[2022-03-05 06:05] Smartisa commented on #42244
Backward incompatibility is a headache. You know how to decide whether the version of a package is backward compatible or the API has changed

[2022-03-05 06:49] jkotas commented on #66231
Duplicate of #66232

[2022-03-05 06:49] #66231 closed

[2022-03-05 07:14] SteveDunn commented on #62112
@cervengoc - I can see the use of this, although I've personally never needed such a feature.  However, I can envisage some confusion on larger config sets where developers wonder why their collections are not being appended to, and **then** discovering this flag.

Perhaps an attribute would be better suited?  It would be perfectly clear of your intentions with an attribute.

Or, just keep it 'old

[2022-03-05 07:18] SteveDunn commented on #62112
But if it is decided to implement this, then my [blog post](https://dunnhq.com/posts/2021/contributing-to-dotnet/) on how I implement [something very similar](https://github.com/dotnet/runtime/pull/53852) might help.

[2022-03-05 08:40] jeffhandley commented on #64487
This list in this issue has been edited to reflect changes from our ongoing planning and discussions. The headings have been updated to reflect what is still planned for .NET 7 and what is in the backlog. The list is still expected to change throughout the release cycle with periodic reviews of our plans.

@davidfowl / @stephentoub Can you share any more info on the async console APIs topic? Are t

[2022-03-05 08:42] #64601 closed

[2022-03-05 09:54] SpocWeb opened #66236 "[API Proposal]: Make Type-Argument contra-variant in IEquatable<in T> and IComparable<in T>"
### Background and motivation

Variance allows to extend Algorithms to more Types.
IEquatable<T>.Equals is unnecessarily in-variant, preventing me from keeping multiple Interfaces contra-variant.

### API Proposal

[code]

### API Usage

Usage stays the same. No Changes in Behavior either.

[code]

### Alternative Designs

My current workaround is to define my own IEquals<in T> Interface, but obvi

[2022-03-05 10:01] calbonaler opened #66237 "Method binding by name with Type.DefaultBinder.BindToMethod fails with specific condition"
### Description

`Type.DefaultBinder.BindToMethod` throws `IndexOutOfRangeException` with the following conditions.
* All the arguments are specified by name.
* Some methods to bind have any unspecified parameters before the specified one.
* All the unspecified parameters have default values.

### Reproduction Steps

1. Define the following class and method.
[code]
2. Bind to the above method with

[2022-03-05 11:35] SpocWeb commented on #66236
area-System.Numerics

[2022-03-05 11:51] namazso opened #66238 "Epilog unwinding code may fail in certain cases"
In https://github.com/dotnet/runtime/blob/main/src/coreclr/unwinder/amd64/unwinder_amd64.cpp the `UnwindEpilogue` function may not work on functions where no volatile registers are saved but RFLAGS is. An example of such a function would be `KiSetAddressPolicy` from ntoskrnl, or you can just make one on your own:

[code]

Unwinding this with rip pointing at the pop instruction will fail.

Accordin

[2022-03-05 12:21] MaximLipnin opened #66239 "System.Text.Json.Serialization.Tests.CustomConverterTests.GetConverter_Poco_WriteThrowsNotSupportedException test failed."
Configuration: `net48-windows-Release-x86-Windows.10.Amd64.Client21H1.Open`
Build: [runtime pipeline of the rolling build](https://dev.azure.com/dnceng/public/_build/results?buildId=1646707&view=ms.vss-test-web.build-test-results-tab&runId=45486288&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab&resultId=117563)

[code]

[2022-03-05 12:23] konrad-kruczynski commented on #7764
@c-harris Exactly, the same find-replace procedure (replacing linux-s390x with linux-armv6) was taken here. Actually, if I remember correctly, I grepped all occurences of linux-s390x in the repo and changed them, due to the error message not pointing mi into directly this file.

@michaldobrodenka or anyone else: have you find uploaded packages useful and actually done something with them? I am cur

[2022-03-05 13:15] thaystg opened #66240 "[mono] Failing test System.Text.Json.Serialization.Tests.InvalidTypeTests_Writer.DeserializeInvalidType"
Libraries Test Run release mono OSX x64 Release

https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-7cbbd03aca164d3480/System.Text.Json.Tests/1/console.5f2d70c3.log?sv=2019-07-07&se=2022-03-24T20%3A41%3A01Z&sr=c&sp=rl&sig=3KEgHV9LeG%2BDX%2FxjjJ4wMmCmRVec%2B1qDsD0p%2BN2c6uo%3D

[code]

[2022-03-05 13:33] thaystg opened #66241 "[android][mono] Test failure System.Net.Sockets.Tests"
Build Android arm64 Release AllSubsets_Mono

https://dev.azure.com/dnceng/public/_build/results?buildId=1645898&view=ms.vss-test-web.build-test-results-tab&runId=45476322&resultId=164776&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

[code]

[2022-03-05 14:09] jkotas commented on #66239
Duplicate of #66232

[2022-03-05 14:09] #66239 closed

[2022-03-05 15:36] jakobbotsch opened #66242 "JIT: Invalid result on x86 with forward sub"
### Description

The following program computes the wrong result in x86 when optimizing.

### Reproduction Steps

[code]

### Expected behavior

Same result.

### Actual behavior

Different results.

### Regression?

Does not repro with `COMPlus_JitNoForwardSub=1`.

### Known Workarounds

_No response_

### Configuration

_No response_

### Other information

cc @dotnet/jit-contrib @AndyAyersMS

[2022-03-05 15:46] psteniusubi opened #66243 "System.DirectoryServices.Protocols.CompareRequest fails on Linux when invoked with string attribute value"
### Description

Using `CompareRequest (string distinguishedName, string attributeName, string value)` always fails on Linux.

`LdapPal.CompareDirectoryEntries` from [LdapPal.Linux.cs](https://github.com/dotnet/runtime/blob/3ede8095da51d5d27a890020b61376155e9a61c2/src/libraries/System.DirectoryServices.Protocols/src/System/DirectoryServices/Protocols/Interop/LdapPal.Linux.cs#L15) does not pass `st

[2022-03-05 15:49] MichaelHochriegl commented on #53539
Yeah, installing a Nuget for this is really like working with javascript all over again. Just hit this in my app and thought I was doing something wrong for a second.

As julealgon mentions the coupling of STJ to the framework itself seems odd to me, but I guess it is what it is.

[2022-03-05 16:36] danmoseley commented on #66243
Thanks for the report @psteniusubi . I haven't looked into it, but if the fix is local and understood would you consider offering a PR with a test?

[2022-03-05 17:14] jgilbert2017 opened #66244 "Extra round trip due to 407 proxy authentication when using proxy with basic auth"
### Description

Not sure, but this may be the same as #24865 .

I'm doing https requests using a proxy that requires basic auth using `HttpClient`.

I've got an EventListener setup for http and am seeing that each request is doing a CONNECT to the proxy and getting nacked with 407 and then following up with another request that correclty includes the `Proxy-Authorization`.

Is there any way to fo

[2022-03-05 17:29] wfurt commented on #66244
You can try to set `HttpClientHandler.PreAuthenticate`. I don't remember if that works for Proxy but the intent is exactly what you describing. Especially basic auth leaks passwords so the the HttpClient will not send them unless asked for but status code.

[2022-03-05 17:29] mguinness commented on #7764
I haven't worked with the new packages yet, but serial port support might be needed.  What was your workaround, did you have to manually add the native binary to the project to get it working?  Would it be worth creating an issue in the [.NET Runtime](https://github.com/dotnet/runtime) repo requesting that they include it in the [System.IO.Ports](https://www.nuget.org/packages/System.IO.Ports/) pa

[2022-03-05 17:42] jgilbert2017 commented on #66244
yep, tried PreAuthenticate.  no dice.

IMO there should be a way to either force the header for a proxy or allow me to insert a custom header and achieve the same.

When explicitly providing an ip/host/user/password via new WebProxy(ip, port) { Credentials = } I dont see how sending the header can leak.

[2022-03-05 17:54] mnns opened #66246 "Is it possible replacing .NET System libraries with custom ones?"
For example, I'd like to re-compile System.IO with my own patches inside, to print Console.WriteLine() each time a specific method is called.

Can this be done system-wide? if so, how?
Assuming I'm able to disable signature validation.

Also, can I provide my custom DLLs with a specific project and make sure it uses them?

Thanks

[2022-03-05 18:00] Clockwork-Muse commented on #66246
You can fork this project, make whatever changes you want, build it, then build a project with it and do a self-contained deployment.

_Why_ do you want to do this, though?  You might only need to turn on logging/eventing or debug tracing.

[2022-03-05 18:19] RyanThomas73 commented on #66064
@KalleOlaviNiemitalo Unless I mistaken the BeginScope method on that logger wouldn't be called in traditional uses because the provider doesn't support external scopes; the performance tradeoff of cases where external scopes aren't supported is still a valid counter argument to be considered.

**[tl;dr]**
The reason that TraceSourceLogger.BeginScope wouldn't normally be called is that the aggregat

[2022-03-05 18:28] KalleOlaviNiemitalo commented on #66064
Quite the opposite: the aggregate logger calls the BeginScope methods of the loggers that do _not_ support external scopes.

[2022-03-05 19:05] stephentoub commented on #66236
Thanks. This has been proposed and declined a few times in the last few years. Recycling some text @gafter wrote a few years ago:

This is also why this comment exists:

https://github.com/dotnet/runtime/blob/1934775fc47e7992ff4a502a40f6f4060a461b1f/src/libraries/System.Private.CoreLib/src/System/IEquatable.cs#L8

[2022-03-05 19:18] SpocWeb commented on #66236
OK, thanks very much for this answer anyway. I'll close this issue then.

[2022-03-05 19:18] #66236 closed

[2022-03-05 19:23] madelson commented on #62505
As mentioned previously, likely most applications of this would be SQL dialect agnostic members like `DbCommand.CommandText`, parameters to various methods in Dapper, EF, etc. The value is in the enhanced readability of SQL blocks in an IDE as opposed to perfect parsing. Many text editors/IDEs/wikis/etc offer this sort of agnostic SQL syntax highlighting indicating that it is indeed useful despite

[2022-03-05 19:42] vcsjones commented on #66228
Well, `TryHashData` is not virtual + throw, it has an implementation that calls `HashData`. That is… probably… a breaking change of some kind if we stopped calling a virtual that others were implementing.

https://github.com/dotnet/runtime/blob/3ae87395f638a533f37b8e3385f6d3f199a72f4f/src/libraries/System.Security.Cryptography/src/System/Security/Cryptography/RSA.cs#L100

We would want to continue

[2022-03-05 20:00] eiriktsarpalis commented on #66232
I've disabled the failing tests in netfx, reopening to track the issue.

[2022-03-05 20:03] deeprobin opened #66249 "JIT Optimization: Eliminate duplicate `bswap`"
An `bswap` swaps the endianess. If we emit an `bswap` twice we get back to the initial state, so this can be optimized (similar to what GCC and Clang do).

Reproduction: https://godbolt.org/z/KMEn8bYsc

## Expected diff
[code]

[2022-03-05 20:13] RyanThomas73 commented on #66064
You're quite right. I missed the negation on the `if (!loggerInformation.ExternalScope)` line. It would appear that the situations in which boxing does not happen would be even more limited than I originally surmised.

[2022-03-05 20:29] nguerrera commented on #66228
I'm afraid any details I had about this have long escaped my memory. 😂

[2022-03-05 21:51] EgorBo commented on #66249
As we discussed in the Discord - this optimization looks super niche
if it's two lines of code and it actually helps with some real-world code - we can accept it I'd guess, but overall I'd personally not bother.

[2022-03-05 21:56] EgorBo commented on #66242
Address-exposed issue?
[code]

[2022-03-05 22:22] deeprobin commented on #66249
@EgorBo

I asked in the LLVM reviews what the real-world case is (See [D6407: [InstCombine] Minor optimization for bswap with binary ops](https://reviews.llvm.org/D6407)).
Maybe this will give us some insight.

[2022-03-05 22:26] theodorzoulias opened #66255 "Not documented that the List<T>.RemoveAll method can corrupt the list"
I noticed that the [`RemoveAll`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.list-1.removeall) method can corrupt a [`List<T>`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.list-1), in case the `match` predicate throws for some element, but not for all elements. Here is a minimal demonstration of this behavior. A list has three elements, the fir

[2022-03-05 23:05] tommcdon commented on #66238
@hoyosjs

[2022-03-05 23:18] teo-tsirpanis commented on #66255
I think it should catch the exception, make sure the list's state is consistent (e.g. keep this and the rest of the elements), and rethrow it.

[2022-03-06 00:25] stephentoub commented on #64487
I don't know exactly what David was referring to in his comment, but broadly there are three areas here:

1. Make the asynchronous operations on the default Stream underlying Console actually asynchronous. Today they just inherit the base Stream behavior of doing async-over-sync (queuing a work item to invoke the corresponding sync methods). This isn't feasible on Windows today, but we could make

[2022-03-06 01:36] davidfowl commented on #64487
I was referring to 1 and 2, I remember we attempted that and then reverted in 6.0.

[2022-03-06 02:11] samchenws opened #66258 "about httpclient"
The request time of httpclient on the same interface is about 2 times higher than that of Httpwebrequest
.net6

[2022-03-06 03:32] Clockwork-Muse commented on #66255
Exceptions - in general, not just here - should be assumed in **all** cases to corrupt the state/be the result of corrupt state of any object they are returned from (barring some specific documented cases).

Even if this case was fixed (so the list wasn't mutated this specific way), the list is corrupted _simply because `RemoveAll` didn't finish_.  It's not usable, and there's no way to automatica

[2022-03-06 03:33] AndyAyersMS commented on #66076
Method has a long, skinny dominator tree with every branch potentially redundant. This leads to quadratic behavior in the redundant branch optimizer.

[2022-03-06 04:06] theodorzoulias commented on #66255
@Clockwork-Muse hmm, so in case for example that a `list.RemoveAt(index)` resulted in a ([documented](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.list-1.removeat)) `ArgumentOutOfRangeException`, it should be assumed that the `list` has been corrupted? Or this assumption should be made only for non-documented exceptions?

[2022-03-06 05:02] PathogenDavid commented on #66255
No. The list will be fine in this case.

The problem is not necessarily the exception its self, but the reason it was thrown and who threw it. In your case the predicate threw an unexpected exception before `RemoveAll` could complete its work. The state you're seeing is `RemoveAll` having only finished part of its work.

On the flip side, `ArgumentOutOfRangeException` is explicitly thrown by `Remo

[2022-03-06 05:10] danmoseley commented on #66255
On top of what @PathogenDavid said, if your predicate is throwing an exception, you simply have a bug. Rather than hoping the library will help you recover from that bug and plow on, you should fix the bug.

[2022-03-06 05:11] danmoseley commented on #66255
With respect to documentation, I would say it is only worth it if there is evidence it is a common mistake.

[2022-03-06 05:19] danmoseley commented on #66154
@AaronRobinsonMSFT in case anyone would like to help with this one, could you give a pointer to the necessary cmake changes?

I am not familiar with cmake and I only found this:
https://github.com/dotnet/runtime/blob/7db092a6ed68a5fbf47962c45bb0c1bb965d02c6/src/mono/CMakeLists.txt#L266

[2022-03-06 07:26] theodorzoulias commented on #66255
@PathogenDavid I am trying to understand the general pattern here. @Clockwork-Muse said that **all** exceptions should be assumed to be corruptive, except when it's documented otherwise, which contradicts my whole experience of using the .NET and its documentation for decades. I don't remember ever reading a piece of documentation stating that (example) *"This method can throw a `SomeException`, w

[2022-03-06 08:14] theodorzoulias commented on #66255
For context, I searched the `System.Collections.Generic` namespace for other cases where invoking a method can corrupt the associated collection, and I managed to find only one. The APIs that I suspected the most seem to be resistant to corruption:

- [`HashSet<T>.RemoveWhere(Predicate<T> match)`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.hashset-1.removewhere)
- [`Sor

[2022-03-06 08:48] SupinePandora43 opened #66261 "[API Proposal]: Enum.HasFlag<TEnum>(TEnum flag)"
### Background and motivation

A better editor intellisense

### API Proposal

[code]

### API Usage

[code]

### Alternative Designs

Code-generated flag `get`/`set`-ters with a requirement of JIT to optimize HasFlag(E.A) && HasFlag(E.B) to HasFlag(E.A | E.B)

### Risks

Performance (at least bigger asm/il code https://sharplab.io/#v2:EYLgtghglgdgNAFxBAzmAPgAQEwEYCwAUJgAwAEmuAdAEoCuMCUYAplQMID2YA

[2022-03-06 09:23] EgorBo commented on #66261
IMO it's not clear from the proposal what this API is supposed to solve/help with.

It's pretty much the same the only difference that JIT pushed generic context to stack for vm, it's a known issue

[2022-03-06 09:29] SupinePandora43 commented on #66261
`TEnum.HasFlag(Enum)` can be called with any `Enum` , not just `TEnum`.

[2022-03-06 11:28] filipnavara commented on #62136
So, I have the scenario reproduced locally. The reason it fails is that the proxy server doesn't report the Target Name and Target Info. Both of these fields are empty in the CHALLANGE message from the server.

The failure is described in the specification:

MsvAvNbComputerName and MsvAvNbDomainName AVPairs and either Integrity is TRUE or
Confidentiality is TRUE, then return STATUS_LOGON_FAILURE (

[2022-03-06 11:49] teo-tsirpanis commented on #66261
There could be an analyzer that warns about invalid usage of the non-generic `HasFlag`.

[2022-03-06 12:11] konrad-kruczynski commented on #7764
My workaround is very simple, but also probably not suitable for any advanced scenario. I am opening serial port just as a normal file (which it is from the unix perspective), only disabling buffering:
[code]
and then using `ReadByte` and `WriteByte` to do the necessary work. Once you need some setup for the port (e.g. baud rate), it wouldn't be useful.

[2022-03-06 13:12] stephentoub commented on #66258
In. NET Core, HttpWebRequest is just a thin wrapper around HttpClient, so WebRequest's perf can't ever be better than what's achievable with HttpClient. WebRequest does try to cache and reuse an HttpClient instance, so if you're comparing creating a new WebRequest with creating a new HttpClient for each request, that's both expected and ill-advised use of HttpClient. The HttpClient instance (or mo

[2022-03-06 13:15] stephentoub commented on #66249
In the future, please only open issues when the real-world use case is known. Thanks.

[2022-03-06 13:16] michaldobrodenka commented on #7764
I'm currently testing my home automation app. So far so good. Using Mono.IO.Ports for serial ports. Publishing as self contained and trimmed. Only minor problem is missing createdump and missing libMonoPosixHelper.so which I took from mono for ARMv6. I will test it more following days. Thank you for nuggets its a great push for start.

[2022-03-06 13:53] AaronRobinsonMSFT commented on #66154
@danmoseley Sure. The way this issue is framed it is confusing. I believe the entire repo already has `/W3` set by default. The set up for this is

https://github.com/dotnet/runtime/blob/b463b1630dbf1be5b013208a9fa73e1ecd6c774c/eng/native/configurecompiler.cmake#L551-L555

Note the removal of the default flag and then the conditional for CMake is added. If `TARGET_PROPERTY:MSVC_WARNING_LEVEL` isn'

[2022-03-06 13:56] mungojam commented on #66163
Does my original reproduction count as a security flaw in asp.net since it could feasibly be used to crash a production asp.net server? It's not too obscure a setup and the serialisation works for JSON so could be in a live service that just had XML as an option

[2022-03-06 14:34] WeihanLi opened #66262 "[API Proposal]: `HttpPostJson<TRequest, TResponse>`/`HttpPutJson<TRequest, TResponse>`/`HttpPatchJson<TRequest, TResponse>` extensions"
### Background and motivation

Currently, we had `PostAsJsonAsync`/`PutAsJsonAsync`/`PatchAsJsonAsync` extensions for JSON request body, and we could read JSON content via `ReadFromJsonAsync`, maybe we could make it more simple by combining these extensions.

### API Proposal

[code]

### API Usage

[code]

### Alternative Designs

_No response_

### Risks

Should be fine since it would be new ext

[2022-03-06 14:54] simplejackcoder opened #66263 "DOTNET_DiagnosticPorts=/mypath/myfile.socket does not work"
In .net 6, tried to create a different path for the socket that EventPipe generates and it doesn't work.

[2022-03-06 15:34] miu-na opened #66264 "[Feature Request] Add xml serialization support for immutable arrays"
Currently, the xml serializer will throw an error when serializing immutable arrays containing objects of reference type.
Is it possible to add xml serialization support for immutable arrays containing objects of reference type? Or how to implement this function?

Exception:
[code]

[2022-03-06 15:41] MichalPetryka commented on #66264
#66163

[2022-03-06 16:27] #66076 closed

[2022-03-06 17:11] B1Z0N commented on #66255
I couldn't find any documentation on these leaving the collection in half(sorted/...) state in your links, only docs on exceptions being thrown if exceptions in callbacks passed occurred. So maybe it's just undocumented side effect feature?

Correct me if I'm wrong and these half-finished states are documented, but if not:

1) We should either document these half-states and provide it as a feature

[2022-03-06 18:29] theodorzoulias commented on #66255
@B1Z0N yes, my assessment that the three aforementioned APIs are resistant to corruption is based on experimentation and on reading the source code, not on the documentation. And I could very well be wrong.

[2022-03-06 19:08] WenceyWang commented on #66039
It's kinda common in a game to load these fail-safe assets into memory while on the loading screen. displaying an error UI just means us to change a bool flag somewhere and the rendering thread will do their job of changing what to draw to the swapchain, this is done by unmanaged code and I don't think it needs memory allocation while doing this. What we'll do in managed code is just catch the OOM

[2022-03-06 20:16] AaronRobinsonMSFT commented on #66263
/cc @dotnet/dotnet-diag

[2022-03-06 20:19] AaronRobinsonMSFT commented on #66263
@simplejackcoder Could you also provide the platform on which this was tried and what happened specifically. Was there a crash? Was data simply not emitted? What sort of behavior did you notice that indicated it "didn't work".

[2022-03-06 20:31] jakobbotsch opened #66269 "JIT: Assertion failed 'type == genActualType(type)' during 'Morph - Global'"
### Description

The following program hits a JIT assert when optimizing:

### Reproduction Steps

[code]

### Expected behavior

No JIT assert hit.

### Actual behavior

JIT assert hit.

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

_No response_

### Other information

This looks like a new assert added in #65257 (but perhaps uncovering some invalid IR)

[2022-03-06 20:35] SingleAccretion commented on #66269
[code]
Is the culprit. Should be an easy fix.

[2022-03-06 20:44] wfurt commented on #62136
It seems like it was like that until 6.0 so it is probably acceptable. We could also add AppContext switch to control this but I would be inclined to leave it off by default to match 5.0 behavior.

[2022-03-06 21:13] Clockwork-Muse commented on #66255
While @PathogenDavid is correct that the list isn't corrupted, that's an implementation detail, and in no way guaranteed.  Almost all cases of "resistant" calls are due to such implementation details.

It doesn't really matter. though - any of the `ArgumentException`s represent a bug in programmer code;
 - They should (barring some truly special cases that don't apply to normal use) never be caugh

[2022-03-06 21:42] srikrishnag opened #66271 "At compile type, foreach is not validating strongly type of the elements"
### Description

In below code

- **source** data type is is "IDictionary<string, List<string>>", and
- **target** data type is "Stack<string>"

Though they are not directly compatible data types we are able to compile it successfully, with this any signature changes which happen in source are showing up at run time.

            List<IDictionary<string, List<string>>> propertyValues = new List<ID

[2022-03-06 23:23] mguinness commented on #7764
@konrad-kruczynski Was the missing native library `System.IO.Ports.Native.so`?  I suppose that gets pulled from the dependency on [runtime.native.System.IO.Ports](https://www.nuget.org/packages/runtime.native.System.IO.Ports/) which is probably only ARMv7.

@michaldobrodenka When you say `Mono.IO.Ports` are you referring your own [System.IO.Ports.Mono](https://www.nuget.org/packages/SystemIOPorts.

[2022-03-06 23:24] fantaclaus opened #66272 "JsonSerializer.Deserialize throws random errors running in parallel on 64-bit .NET Core 3.1 or .NET 6 runtime on Windows 7"
### Description

When `JsonSerializer.Deserialize` is invoked in parallel in multiple threads it throws random errors.

This behaviour is observed in 64-bit runtime of .NET Core 3.1, .NET 5 and .NET 6 on Windows 7.

### Reproduction Steps

Create and run the following `Console Application` for .NET 6 code:

[code]

Try different `count` for `Enumerable.Repeat` from 100 to 1000 to get different kin

[2022-03-06 23:38] captainsafia commented on #66222
Quite similar indeed! It would be great if we can get a two-for-one solution with this one but I recognize that it might be easier to solve the hot-reload specific problem.

[2022-03-06 23:53] GrabYourPitchforks commented on #66163
Hi @mungojam - hard to say right now. We'll send it around to the larger team for review. But your mixed JSON/XML web service scenario is compelling.

[2022-03-07 00:05] wfurt commented on #66188
I assume you don't use Tls 1.3 since runing on 2019, right @cubidobusinesssolutions? (there was know Windows bug causing the SEC_E_CONTEXT_EXPIRED.
Do you use client certificates and the new DelayCertificate feature?
This may be hard to figure out without repro or at least core dump.

[2022-03-07 00:10] AndyAyersMS commented on #66101
Future for now, as there aren't any specific plans yet on when we might try and enable partial compilation.

[2022-03-07 00:13] #66212 closed

[2022-03-07 00:14] davidfowl commented on #66188
cc @Tratcher @adityamandaleeka

[2022-03-07 01:04] Maoni0 commented on #63860
@AaronRobinsonMSFT NP. I still cannot repro it with x86. however I am on windows 10.

at this point, unless there's a repro that I can go run myself, it's simply not worth it to spend more time on this test with these configs. so it's fine to just disable the test.

[2022-03-07 01:16] VincentBu opened #66273 "Test failure baseservices\\threading\\threadpool\\bindhandle\\bindhandleinvalid6\\bindhandleinvalid6.cmd"
Run: [runtime-coreclr outerloop 20220306.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1647830&view=ms.vss-test-web.build-test-results-tab&runId=45502822&resultId=100064&paneView=debug)

Failed test:
[code]
**One of error message:**
[code]

[2022-03-07 01:30] VincentBu opened #66274 "Test failure baseservices/threading/threadpool/bindhandle/bindhandlenull/bindhandlenull.sh"
Run: [runtime-coreclr outerloop 20220306.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1647830&view=ms.vss-test-web.build-test-results-tab&runId=45502724&resultId=100101&paneView=debug)

Failed test:
[code]
**One of error message:**
[code]

[2022-03-07 01:56] VincentBu opened #66275 "Test failure readytorun/determinism/crossgen2determinism/crossgen2determinism.sh"
Run: [runtime-coreclr jitstress-isas-x86 20220305.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1647092&view=ms.vss-test-web.build-test-results-tab&runId=45496552&resultId=110944&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-07 02:00] VincentBu opened #66276 "Test failure tracing/eventpipe/complus_config/name_config_with_pid/name_config_with_pid.sh"
Run: [runtime-coreclr jitstress-isas-x86 20220305.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1647092&view=ms.vss-test-web.build-test-results-tab&runId=45496552&resultId=110930&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-07 02:04] VincentBu opened #66277 "Test failure tracing\\eventpipe\\reverseouter\\reverseouter\\reverseouter.cmd"
Run: [runtime-coreclr jitstress-isas-x86 20220305.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1647092&view=ms.vss-test-web.build-test-results-tab&runId=45495516&resultId=109011&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-07 02:13] VincentBu commented on #64972
Failed again in: [runtime-coreclr jitstress-isas-arm 20220305.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1647067&view=ms.vss-test-web.build-test-results-tab&runId=45493892&resultId=101451&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-07 02:19] VincentBu opened #66279 "Test failure JIT/opt/AssertionPropagation/ArrBoundBinaryOp/ArrBoundBinaryOp.sh"
Run: [runtime-coreclr gcstress0x3-gcstress0xc 20220306.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1647673&view=ms.vss-test-web.build-test-results-tab&runId=45501334&resultId=109135&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-07 02:25] VincentBu commented on #63324
Failed again in: [runtime-coreclr gcstress-extra 20220305.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1647131&view=ms.vss-test-web.build-test-results-tab&runId=45495090&resultId=102064&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-07 02:32] kunalspathak commented on #66275
Duplicate of https://github.com/dotnet/runtime/issues/66205

[2022-03-07 02:32] #66275 closed

[2022-03-07 03:18] danmoseley commented on #66272
@VSadov could this be https://github.com/dotnet/runtime/issues/65292 ? It's Win 7 specific.

[2022-03-07 03:19] danmoseley commented on #66272
Also if it is, did the necessary fixes get into 7.0 Preview 2 for them to try? I see it will be in 6.0.4.

[2022-03-07 03:23] stephentoub commented on #62345
It ended up not being a large amount of work nor a large increase in complexity. #66280 takes care of it.

[2022-03-07 03:58] simplejackcoder commented on #66263
I put the file path and it doesn't generate the socket file, it generates two files clr-debug-pipe-339-108580-in and out equivalent but not in the path I told it to.

`DOTNET_DiagnosticPorts=/mypath/myfile.socket,nosuspend`

[2022-03-07 04:46] WeihanLi commented on #66078
Think it should not be inherited, maybe it's acceptable for a breaking change?

[2022-03-07 04:48] theodorzoulias commented on #66255
@Clockwork-Muse you are making some good arguments. Instead of addressing your arguments one by one, allow me to take a shortcut and present a realistic (I hope) example of using the `List<T>.RemoveAll` method, in a way that could result in a bug with serious repercussions. The goal of this exercise is to identify who is responsible for this bug.

The programmer George is contracted by the RedHotS

[2022-03-07 05:15] danmoseley commented on #66255
@theodorzoulias I agree that it is a little fuzzy at the highest level, as there are indeed some exceptions that .NET core API throw that it is reasonable to recover from (eg IO exceptions, in many cases). However one can assume at a very minimum that throwing an exception _into_ library code is not safe unless explicitly documented otherwise.

You could add a line to the doc for RemoveAll to note

[2022-03-07 05:15] #66255 closed

[2022-03-07 05:17] danmoseley commented on #66255
To add -- I would be opposed to documenting cases where throwing from a delegate would _not_ (currently) corrupt the collection. We should reserve the right to change the implementation for whatever reason (such as to use a more performant algorithm or data structure) in such a way that it would corrupt the object.

[2022-03-07 05:25] davidfowl opened #66281 "[API Proposal]: Support a lower bound on BoundedChannelOptions"
### Background and motivation

Today bounded channels let the channel creator set a maximum capacity for the queue inside of the channel. This critical for making sure that backpressure can be applied to the consumer once the bounds have been hit (it can affects the reliability and performance of system using channels). When the consumer hits the capacity, it can the channel can be configured to b

[2022-03-07 05:40] Clockwork-Muse commented on #66255
George, for the following reasons:
 1. Use of a sync api to make a web request.
 2. Exception catch covers too much code (and too broad a category, if that wasn't just for the example).
 4. Poor handling of error cases.  The only way that the list is displayed in an error case is that someone clicks "No" on the retry, but even if there wasn't a duplicate error, there's no way to know which items h

[2022-03-07 05:43] sajjadarashhh opened #66287 "Blazorwasm : deployment with aot compilation and with out aot compilation"
i know aot compilation can take more size for published app and in my case this take 4x weight and this size is very huge in my country
many users in my country can download 500kb per second and my published app take 20mb weight in brotli compression mode..!
users must be wait over 50s to load my web application
in .net 7 i seen mixed-mode aot compilation
can you say me how it's can be help me!?
A

[2022-03-07 05:49] clamp03 commented on #8891
I pushed a new patch. I checked all tests, but I wonder I implemented in right way. Please review. Thank you.

https://github.com/dotnet/runtime/pull/66282

[2022-03-07 06:04] SoorajKothari opened #66283 "Message : No credentials are available in the security package (Rest Sharp C#)"
I am sending client certificate reading certificate and key from pem file.

[code]

 I am coding on net3 which does not have any version issue with  rsa.ImportRSAPrivateKey(key, out _); this also imports fine

 definition for LoadPrivateKey method

[code]

 I also get this exception on .net5 where we have explicit methods for reading pem file requiring no such explicit ASN Parser just like mine in

[2022-03-07 06:26] theodorzoulias commented on #66255
Thanks @danmoseley for the guidance! I just posted [a pull request](https://github.com/dotnet/dotnet-api-docs/pull/7803) on the [dotnet/dotnet-api-docs](https://github.com/dotnet/dotnet-api-docs) repository.

[2022-03-07 06:49] Thefrank commented on #14537
Soooo...it is possible to get azure to process the results from runtime's build+test
![Screenshot 2022-03-06 234125](https://user-images.githubusercontent.com/1910378/156981699-c14cf7ea-d219-4677-9651-13998b487d96.png)

This makes the nightly a bit more useful now :D

[2022-03-07 07:04] theodorzoulias commented on #66255
1. Agreed, but let's assume that the API that George had to work with was synchronous. George might have solved the issue of the non-responsive UI by wrapping the `ids.RemoveAll` in an `await Task.Run`. I skipped this complication to keep the example simple.
2. The `try` block includes just the invocation of the `ids.RemoveAll` method, plus a `break`. How could this code be reduced? As for being t

[2022-03-07 07:07] BruceForstall commented on #66067
This shouldn't have been closed.

[2022-03-07 07:38] stephentoub commented on #66078
Why? We generally prefer to seal attributes, but this one shipped unsealed. If someone is deriving from it, why is that so harmful that it's important to break them? And what huge benefit does sealing it now bring that it's worth breaking them?

[2022-03-07 07:45] alixiashu commented on #66133
Thanks for the reply, will add another comment in https://github.com/dotnet/runtime/issues/65305.

[2022-03-07 07:45] #66133 closed

[2022-03-07 08:00] alixiashu commented on #65305
@geoffkizer Should we consider adding a setting toggle here to let dev select the pattern? Or could we add the status code to the HttpRequestException?
In our scenario, we do a test call for our service, then if get a response with 407, we could know that the user has a proxy and need an auth credential then we could tell the user to enter the credential to authorize the next operations. Could I j

[2022-03-07 08:02] WeihanLi commented on #66078
@stephentoub , yeah, you're right, we should try to avoid the breaking change.
Just try to propose this, we could ignore this if it's not acceptable, from what I can see, I think it's none sense to inherit this, and it's not been inherited from the grep search result: https://grep.app/search?q=ProviderAliasAttribute

[2022-03-07 08:02] #66078 closed

[2022-03-07 08:13] theodorzoulias commented on #66255
@danmoseley how would you apply this principle in the example below? An array of IDs is projected to an array of products, using the `Select` LINQ operator. Then the query is materialized with the `ToArray`, which fails, and the exception is caught. Can we still use the `ids` array inside the `catch` block, or we should assume that the array is corrupted at this moment?

[code]

AFAICS, neither th

[2022-03-07 08:28] teo-tsirpanis commented on #66255
@theodorzoulias LINQ does not modify the input collection. You can safely use `ids` in the `catch` block.

[2022-03-07 08:29] arekpalinski commented on #65694
Exactly, the repro I provided doesn't cause a heap corruption.  That's why I commented:

We use unamanged code so potentially heap corruption could be the root cause. But given that it reproduces without corrupting the heap I think the issue isn't caused by our unmanaged code.

[2022-03-07 08:35] michaldobrodenka commented on #7764
[libMonoPosixHelper.zip](https://github.com/dotnet/runtime/files/8195885/libMonoPosixHelper.zip)
 repo.

Yes, check https://github.com/michaldobrodenka/System.IO.Ports.Mono package, but that depends on libMonoPosixHelper native library not present in Mono.POSIXHelper Nuget. So better is to compile System.IO.Ports.Mono against managed Mono.Posix.NETStandard.dll (extracted from NuGet) and attach lib

[2022-03-07 08:37] huoyaoyuan commented on #66283
Do you mean .NET Core 3.1 and .NET 5? Can you also verify .NET 6? If it works on .NET 6, it's suggested to update, because both 3.1 and 5.0 will reach EOL in this year.

[2022-03-07 08:38] huoyaoyuan commented on #66264
Xml serialization was not actively developed recently, and there's no infrastructure for rich conversions like json.

[2022-03-07 08:48] huoyaoyuan commented on #63310
Implemented in #62594

[2022-03-07 08:48] #63310 closed

[2022-03-07 08:53] #66242 closed

[2022-03-07 09:00] tmds commented on #64222
Yes, I think this API is meant to work on Kubernetes. I'll take a closer look.

[2022-03-07 09:06] huoyaoyuan commented on #28731
@tannergooding Do we need to revisit this? Is current approved api shape still OK?

[2022-03-07 09:17] psteniusubi commented on #66243
@danmoseley - yes I'll put together a PR. The fix is local. This needs an integration test but I think I know how to do that in [DirectoryServicesProtocolsTests.cs](https://github.com/dotnet/runtime/blob/b1da321d184875040bd6aa8c5ebd904e8192815f/src/libraries/System.DirectoryServices.Protocols/tests/DirectoryServicesProtocolsTests.cs)

[2022-03-07 09:21] huoyaoyuan commented on #2214
@khellang Now #20824 is unblocked. Do you want to work on this again?

[2022-03-07 09:44] khellang commented on #2214
Thanks for the heads up, @huoyaoyuan! I'm pretty swamped with Other Stuff right now, so I can't commit to anything. I can try to breathe life back into #43108 when I have time, but if someone beats me to it, I won't mind 😅

[2022-03-07 09:54] #66269 closed

[2022-03-07 10:12] manfred-brands opened #66286 "Add MemberNotNullWhen to Type.IsArray"
Add a `[MemberNotNullWhen(true, nameof(GetElementType))]` to `bool IsArray` in Type.cs

To prevent a CS8600 (or equivalent) when using:

[code]

There are likely more places where this attribute is appropriate.

[2022-03-07 10:46] krwq commented on #65817
Note this is about `Debug.Assert(PropertyCache == null);` in `InitializePropCache`

I think this assert is just bogus and should be removed. I assume scenario of re-using same options on multiple threads is a valid one and that could create such problem. The worst case scenario we will double initialize PropertyCache. I'm not sure it makes sense to lock it - at least cannot immediately see anythin

[2022-03-07 11:03] Symbai opened #66288 "Environment.ProcessPath shouldn't be marked as nullable"
My application is explicit marked as windows only by using `-windows`. The docs say `Returns null when the path is not available.` but in which case can this be true? You cannot move/delete/rename the executable when its running (at least under Windows). Also the implementation doesn't return null anywhere:

https://github.com/dotnet/runtime/blob/0022738e10a22c6ffa121604a86c99d45fc3ea78/src/librar

[2022-03-07 11:08] alexrp commented on #66288
* https://github.com/dotnet/runtime/blob/0022738e10a22c6ffa121604a86c99d45fc3ea78/src/libraries/System.Private.CoreLib/src/System/Environment.Browser.cs#L34
* https://github.com/dotnet/runtime/blob/7414af2a5f6d8d99efc27d3f5ef7a394e0b23c42/src/native/minipal/getexepath.h#L28

[2022-03-07 11:18] tmds commented on #64222
@grahambunce I took your app, and ran it on OpenShift. It worked for me.

I did make a few changes to make it easier for me to deploy the app.

- https://github.com/tmds/K8SConfigMap/commit/71052132f73ccda443fb7346c4d7bed8bca12921

- I didn't use the Dockerfile, and built the app on OpenShift using the [.NET 6.0 UBI8 image](https://catalog.redhat.com/software/containers/ubi8/dotnet-60/6182efb9be25

[2022-03-07 11:18] Symbai commented on #66288
First it's a windows application. Second if these are the only cases when its null, it should throw a not supported exception instead. Because its obviously not supported (immediately return null).

[2022-03-07 11:22] alexrp commented on #66288
NRT annotations are not platform-specific.

That would be a breaking change.

[2022-03-07 11:59] stephentoub commented on #66286
MemberNotNullWhen is applied to a bool-returning method or property to indicate that some other field or property (not method) isn't null; such an attribute on IsArray couldn't specify the method GetElementType. But thanks for the suggestion.

[2022-03-07 11:59] #66286 closed

[2022-03-07 12:34] Symbai commented on #66288
Exactly, was done for [ProcessModule.FileName](https://github.com/dotnet/runtime/discussions/63235) as well. If the only situation when it can be null, is when it's not supported by the platform. Then it should throw instead, that's why we have this exception for.

[2022-03-07 12:47] alexrp commented on #66288
These situations aren't the same. `ProcessModule.FileName` cannot be null on any platform, so marking it as such is appropriate. `Environment.ProcessPath` has already shipped with the behavior of returning null on some platforms in certain scenarios. Changing it to throw `PlatformNotSupportedException` in those cases would be breaking. It's a bit unfortunate, but the ship has sailed on this.

[2022-03-07 12:57] jakobbotsch commented on #66254
Looks like loop cloning thinks this is a jagged array scenario and creates an incorrectly typed `GT_INDEX` node:
[code]
`loc0` here is a reference to a `ValueTuple<int[], int>[]`, so the index ends up with the wrong scale and we generate
[code]
where the scale should actually be `16` instead of `8`.

Assigning Bruce.

[2022-03-07 13:03] grahambunce commented on #64222
@tmds ok - I will have a look tomorrow

[2022-03-07 14:21] B1Z0N commented on #66254
@jakobbotsch could you please tell me what tool you are using to get this output?

[2022-03-07 14:23] rzikm commented on #66012
Should be fixed by  #66077. Closing

[2022-03-07 14:23] #66012 closed

[2022-03-07 14:24] vanillajonathan opened #66293 "[API Proposal]: Add UriSchemeUrn field to Uri"
### Background and motivation

The `Uri` class have `public static readonly string` fields for various protocols such as `ftp`, `ftps`, `http`, `https`, `ssh`, `ws`, `wss`, etc but none for the `urn` URI scheme.

### API Proposal

[code]

### API Usage

[code]

### Alternative Designs

_No response_

### Risks

Arguably pollutes the dotnet API with a larger public API surface.

[2022-03-07 14:36] eiriktsarpalis commented on #65817
I think we should make sure that the instance is initialized before it can be shared across multiple threads.

[2022-03-07 14:48] #66083 closed

[2022-03-07 14:49] danmoseley opened #66294 "Customer reports occasional errors in event log when stopping Windows service"
### Description

Customer reports that when starting/stopping their .NET based Windows service many times, there occasionally will be an error in the event log that erroneously reports that the service stopped unexpectedly, even though the stop is actually expected and was requested via the SCM.

(I have not been able to repro locally yet.)

Reached out to understand whether the concern is simply

[2022-03-07 15:21] adamsitnik commented on #65955
It looks like some internal runtime assertion has failed (due to bug in the runtime itself) and it got printed to std error. This was was not expected by this test which is asserting the content of std error, so it has failed.

Since the error message does not contain full failure details (`xUnit` shows only part of it) I am going to close the issue as it's not actionable.

If someone has better i

[2022-03-07 15:21] #65955 closed

[2022-03-07 15:27] danmoseley commented on #66294
@ericstj is anyone on @dotnet/area-system-serviceprocess available to spend say an hour looking at this this week? I attempted to repro but did not. I've reached out to the partner to understand the priority (details in link above)

[2022-03-07 15:30] jkotas commented on #66288
+1

Also, the advantage of returning null instead of throwing PlatformNotSupportedException is that it allows cheap runtime check and fallback for the unsupported case without hardcoding the list of unsupported platforms.

[2022-03-07 15:31] CarnaViire opened #66297 "Change SocketsHttpHandler's default ConnectTimeout to a reasonable finite value"
Windows will timeout a connection attempt after ~21s. Linux apparently waits much longer – around 3 minutes or more.

The connection pooling changes in 6.0 made it so that a pending connection is not associated with a specific request. As such, request cancellation no longer causes pending connections to be canceled. We do not impose any connect timeout by default (`DefaultConnectTimeout = Timeout

[2022-03-07 15:58] #66028 closed

[2022-03-07 16:00] danmoseley commented on #65955
This has been a problem in the past. I dont know whether XUnit would accept a change to [increase the length](https://github.com/xunit/assert.xunit/blob/b4f2de311f3b050d3cce6d6024dcdccfcfa2bbf8/Sdk/Exceptions/EqualException.cs#L182), and we use 2.x anyway.

I suppose we could create an AssertExtensions.Equal(string, string) that logs more, and use that everywhere. Probably implemented as a wrapper

[2022-03-07 16:03] danmoseley commented on #65955
I see that XUnitException contains the full actual string, if you can downcast it to the non-public AssertActualExpectedException.

[2022-03-07 16:06] jkotas commented on #66246
You can create your own modified copy of the .NET runtime and point `DOTNET_ROOT` environment variable or some of the other install location overrides (https://github.com/dotnet/designs/blob/main/accepted/2020/install-locations.md) to it.

These is no way to override individual files that are part of .NET runtime. It has to be always a full set that is consistent.

[2022-03-07 16:06] #66246 closed

[2022-03-07 16:27] EmJayGee commented on #14746
Hey, I was intrigued by this issue so I was poking into it and had a question or two.

Looking at struct DateTime, there's a helper private method:

        private void ValidateLeapSecond()
        {
            if (!IsValidTimeWithLeapSeconds(Year, Month, Day, Hour, Minute, Kind))
            {
                ThrowHelper.ThrowArgumentOutOfRange_BadHourMinuteSecond();
            }
        }

qu

[2022-03-07 16:53] IrakliLomidze commented on #65659
Will it be in .NET 7 Timeline or will postponed for .NET 8

[2022-03-07 17:23] layomia commented on #65361
Might be a dup of https://github.com/dotnet/runtime/issues/62937.

[2022-03-07 17:27] premun opened #66302 "Stack overflow causes process to crash without diagnostic error message (Program halts with `Bus error: 10` on .NET 6 osx-arm64)"
### Description

Regular **.NET 6 command line program** is built and run on **MacOS 12.2 (M1)**.
Running the command line program results in an abrupt program end. My console output is followed by this line:
[code]
Exit code of the run is `138`.

No exception is thrown, dispose is not called - the program halts immediately. Last executed line by console output is this one:
https://github.com/prem

[2022-03-07 17:43] JulieLeeMSFT commented on #65327
@AndyAyersMS or @EgorBo will look into it, but we don't know if we might be able to resolve this issue.

[2022-03-07 17:46] JulieLeeMSFT commented on #64981
Look at only #1 in .NET 7. The rest of work items can be done in future.

[2022-03-07 17:50] JulieLeeMSFT commented on #66249
Closing now. Let's reopen this issue when there is a real world case.

[2022-03-07 17:50] #66249 closed

[2022-03-07 17:52] JulieLeeMSFT commented on #66197
@kunalspathak please check if your PR fixes the struct issue.

[2022-03-07 17:53] JulieLeeMSFT commented on #65934
@jakobbotsch will check if @AndyAyersMS's fix resolved this issue.

[2022-03-07 17:56] BrennanConroy commented on #65400
The issue with `PartitionedRateLimiter.Create` needing to duplicate the users' `if` statements can be solved if we change the API to return a tuple of key and factory.
[code]

We could further improve this by providing a type that is easier to use and could provide convenient methods for specific limiter types like the originally proposed builder pattern.
[code]

There are two more concepts that w

[2022-03-07 18:03] layomia commented on #64813
Yup I can repro this. Will put up a fix shortly.

[2022-03-07 18:06] vcsjones commented on #66228
If we make it a `static readonly` field doesn’t the JIT do a decent job of burning those in? I think we did that for “Is this Windows 10 and have pseudo handles” where we determined that works.

[2022-03-07 18:09] #66277 closed

[2022-03-07 18:12] GrabYourPitchforks commented on #66228
I think you can implement an internal interface `IMySpecialMarker` on all of the sealed types, then `if (this is IMySpecialMarker) { /* fast-path */ }` within the base class method body. In theory, the trimmer / linker should be able to deduce that there are no concrete RSA/DSA/etc.-derived types other than the sealed inbox ones that implement this special interface, so it will turn this into `if

[2022-03-07 18:16] mangod9 commented on #66273
@kouvel, since this looks related to the recent IOCompletion changes -- looks to be reproing consistently.

[2022-03-07 18:18] AlexEyler commented on #65859
@radical it's a Windows 1809 image (cdpxwin1809.azurecr.io/global/vse2019:latest). Could you share some more info on the Windows version that's suggested?

[2022-03-07 18:48] wfurt commented on #66283
In general, on Windows, ephemeral keys/certificates do not work with schannel. e.g. unless stored in certificate store.

You can add something like this and it should fix it.
https://github.com/dotnet/runtime/blob/380a4723ea98067c28d54f30e1a652483a6a257a/src/libraries/System.Net.Security/tests/FunctionalTests/TestHelper.cs#L192-L197

[2022-03-07 19:16] theodorzoulias commented on #66255
@Clockwork-Muse if you put the `try` inside the `Predicate<T>`, what should you return in case of an exception, `true` or `false`? George didn't know how to answer this question, so he concluded that the error handling should be done on the `ids.RemoveAll` invocation, not inside the `match` predicate. Note that our goal here isn't to enumerate all the different ways that the `Button1_Click` handle

[2022-03-07 19:33] mthalman opened #66310 "OpenSSL error with Ubuntu 22.04 on Arm32 architecture"
When attempting to run a .NET app that makes an HTTPS connection with the upcoming release of Ubuntu 22.04 on the Arm32 architecture, it results in an OpenSSL error. This issue will block our upcoming support for Ubuntu 22.04 (see https://github.com/dotnet/core/issues/7038).

This _only_ happens in Arm32. Using Arm64 works fine. The easiest way to reproduce this is with a Docker container. But bec

[2022-03-07 19:34] cshung commented on #66039
At the interface, `GCHeap::Alloc` returns `NULL` if we ran out of memory. My propose was that when we ran out of memory within the NoGCRegion with the `NoGCRegionMode` set to `Throws`, then we will return `NULL` at that point.

Right now, in [this](https://github.com/dotnet/runtime/blob/main/src%2Fcoreclr%2Fvm%2Fgchelpers.cpp#L239) particular case, the VM checks for that `NULL` throws an `OutOfMem

[2022-03-07 19:40] AraHaan commented on #60595
Not at all, ChangSharp is meant for converting native header files into .NET PInvokes.

[2022-03-07 19:52] AndyAyersMS commented on #856
@SingleAccretion perhaps you've already addressed this one?

[2022-03-07 19:55] Clockwork-Muse commented on #66255
... then we start stumbling over the simplified example.
In particular, a more realistic example is to query all the ids for their current status, then filter them on display (eg, a clickable data column), or with LINQ's `Except`.

:raised_eyebrow: Then George should have seen this exact issue during development/testing.

[2022-03-07 19:57] jkotas commented on #66039
It is not just VM. The problem affects all .NET libraries out there. The problem with injecting OutOfMemoryException in random places is that it has a good chance to leave the process in irrecoverable state, or that the exception will be ignored and thus your catch handler won't get notified. The simple example is if this happens inside static constructor. The static constructor is going to marked

[2022-03-07 20:15] SamMonoRT commented on #65626
This PR should help ease the timeouts seen in last couple weeks. Even with that fix, the lane is 2.5+hrs long. Still discussing this, but we might possibly 1. want to exclude certain long running tests as part of PR runs in this lane, 2. Extend the timeout to stabilize CI in the short term

[2022-03-07 20:16] cshung commented on #66039
But we do have a mode of letting the allocation succeed, it is the `ContinueAllocating` mode. Look like what is needed is an additional callback when the continue allocating mode is triggered?

[2022-03-07 20:23] agocke commented on #65626
@SamMonoRT which PR?

[2022-03-07 20:31] ericstj commented on #66294
This looks like a duplicate of https://github.com/dotnet/runtime/issues/62579.  Let me know if you agree.

[2022-03-07 20:43] faceoffers28 commented on #66148
@eerhardt I finally got passed this issue with the LocationService. I was Publishing the Function using the zip method. Anyway, the Publish to folder method, in Visual Studio, is not working correctly, I wasted hours and hours on this. The next thing is that if you comment out .ConfigureFunctionsWorkerDefaults() you get this... "Exception while executing function: Functions.ProcessFile Did not fin

[2022-03-07 20:43] #66148 closed

[2022-03-07 20:44] danmoseley commented on #66294
Oh! Yes it is. I'll post to ask how important a fox is to them as it's not at all clear this would meet a servicing bar.

[2022-03-07 20:44] #66294 closed

[2022-03-07 20:45] WenceyWang commented on #66039
OK, As I imagine, there are 4 mode

[code]

And a callback with event info about the status of ContinueAllocating, which happens

1. After continued allocation occurs;
2. While in `ContinueAllocatingThenGC` mode, after (a failed allocation, end the NoGCRegion and a GC).

And also I am also happy to see the current proposal can catch the merge window if there's no time.

[2022-03-07 20:54] radical opened #66313 "[wasm] Determine what default value to use for `$(EmccInitialHeapSize)`"
Currently we use `512M`. Is this really required? It might not be available for some mobile devices.
@lewing suggests that maybe we should use whatever amount a simple blazor app would need, plus some more.

Thoughts?

cc @radekdoulik @kg @pranavkm

context: https://github.com/dotnet/runtime/pull/66233#discussion_r820110080

[2022-03-07 21:01] radical commented on #51251
This can be closed now, as the original work is done.

[2022-03-07 21:01] #51251 closed

[2022-03-07 21:14] JulieLeeMSFT commented on #64972
@kunalspathak, it failed again today. Please prioritize to investigate this test.

[2022-03-07 21:17] markus-fischbacher commented on #2379
I'm facing the same bad performance on my Linux embedded system. I have to deal with two UARTs in parallel. CPU usage approx. 80%. On MacOS it's working better (maybe because of more CPU power). I will try the Mono implementation.

[2022-03-07 21:32] radical opened #66314 "[wasm] Tracking issue for disabled library test projects"
Projects disabled in `src/libraries/tests.proj`:

| Project                                                | AOT | Platform | issue                                                                      | -               |
| ---                                                    | --- | ----     | -----                                                                      | ---             |
| System

[2022-03-07 21:39] agocke commented on #65626
Looks like that resolved the problem. I'm going to close this out for now.

[2022-03-07 21:39] radical commented on #66314
- Do `Microsoft.Extensions.Hosting.Unit.Tests`, and `Microsoft.Extensions.DependencyModel.Tests` need to be because of missing crypto support?
- `Microsoft.Extensions.Caching.Memory.Tests` was disabled due to tests hanging. This should be tried again.

[2022-03-07 21:48] lambdageek commented on #66154
For mono, we need to pay attention to:
- AOT cross compilers running on Windows targeting Android and WebAssembly, including our LLVM fork /cc @steveisok
- Windows desktop builds of Mono, if we productize is @lateralusX
- the mono mscordbi, if we productize it @lewing @thaystg

one complications - mono doesn't use eng/native/configurecompiler.cmake and sets its own compiler flags.  So we need to v

[2022-03-07 21:52] #62345 closed

[2022-03-07 22:01] radical commented on #66314
We should also try the ones disabled due to https://github.com/dotnet/runtime/issues/55429 which might be fixed now.

[2022-03-07 22:08] ericstj commented on #66316
This applies to https://github.com/dotnet/runtime/blob/main/src/libraries/Microsoft.NETCore.Platforms/src/GenerateRuntimeGraph.cs

Ideally we don't need this if we can change the way RIDs are defined to not require explicitly listing architectures.  https://github.com/eerhardt/designs/pull/2

[2022-03-07 22:12] #66288 closed

[2022-03-07 22:16] jeromelaban opened #66319 "[Wasm][AOT] `Assertion: should not be reached at mini-llvm.c:5017`"
### Description

The AOT compiler fails on a seemingly simple project.

### Reproduction Steps

When building a small project:
[code]
With these references:
[code]

Linux AOT Compiler command line:
[code]

Build assets: [20220307-minillvm-5017.zip](https://github.com/dotnet/runtime/files/8201204/20220307-minillvm-5017.zip)

### Expected behavior

Build success.

### Actual behavior

The AOT compil

[2022-03-07 22:17] stephentoub commented on #66118
It's using TryEnsureSufficientExecutionStack to avoid needing a hardcoded limit.  This particular test is a stress test validating that behavior is functional.

[2022-03-07 22:18] stephentoub commented on #66118
(Multiple places use TryEnsureSufficientExecutionStack for this same purpose, e.g. `await` for determining whether it should queue long async continuation chains, System.Linq.Expressions, I believe Roslyn in various places, etc.)

[2022-03-07 22:39] elinor-fung commented on #61181
Fields have been pared down and now match the API approved in https://github.com/dotnet/runtime/issues/46822

[2022-03-07 22:39] #61181 closed

[2022-03-07 23:23] AlexEyler commented on #65859
@radical I updated our build machines to use an RS5 image (cdpxwinrs5.azurecr.io/global/vse2019:latest) but am still running into the same issue. It would be helpful to know _what's_ missing here so I can work to try to install what's missing.

[2022-03-08 00:05] vargaz commented on #66319
Can't reproduce this with 04be7a990d4bd24792d891bda51ce42432f31bbb.

[2022-03-08 00:06] bartonjs commented on #1211
RedHat has closed out their bugs on this, and the issue shows little-to-no activity for a long time.  Calling it closed until proven otherwise.

[2022-03-08 00:06] #1211 closed

[2022-03-08 00:21] tommcdon commented on #66263
@mikelle-rogers

[2022-03-08 00:31] noahfalk commented on #66263
Each port has a connect side and a listen side. The listen side creates the socket/pipe and the connect side connects to it. By default when you specify new ports with that env var the runtime takes on the connect role so we wouldn't expect the runtime to be responsible for creating that socket.

If you want the runtime to take on the listening role and create the socket try this:

`DOTNET_Diagnos

[2022-03-08 00:48] jeromelaban commented on #66319
The issue seems to happen when `-O=gsharedvt` is passed to the AOT compiler.

[2022-03-08 01:12] VincentBu commented on #62696
Failed again in: [runtime-coreclr gcstress-extra 20220306.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1647948&view=ms.vss-test-web.build-test-results-tab&runId=45503900&resultId=101047&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-08 01:14] #62291 closed

[2022-03-08 01:24] VincentBu opened #66320 "Test failure JIT\\HardwareIntrinsics\\General\\Vector128\\Vector128_r\\Vector128_r.cmd"
Run: [runtime-coreclr crossgen2 20220306.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=1648348&view=ms.vss-test-web.build-test-results-tab&runId=45508384&resultId=100274&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-08 01:28] stephentoub commented on #66297
This seems reasonable.  Technically it's a breaking change, but if a connection is taking that long to be established, it's likely going to fail, anyway.  There's also value in consistency across platforms.

Is the exception that occurs in the case of a timeout due to ConnectTimeout the same that occurs in response to the OS timing out a connection?

[2022-03-08 01:39] #61425 closed

[2022-03-08 01:44] BruceForstall commented on #66273
When fixed, re-enable the tests disabled with #66303

[2022-03-08 01:47] BruceForstall commented on #66191
fyi, one example:

https://dev.azure.com/dnceng/public/_build/results?buildId=1649847&view=logs&j=6db13b2b-91c6-5dc1-932a-ee0a68560d9e&t=4b34605a-5eef-5b38-e2cc-6f633df186e0

[2022-03-08 01:50] PRIMETSS commented on #62554
Wont port all the other comments across re Manjaro, Tried same on Latest Ubuntu

---
Just out of interest
Installed Ubuntu, updated, installed DotNet 6.0.120 SDK from "Ubuntu Software"/Store install
And got same results you had previously with Manjaro, with SerialPort test app
"SerialPort only supported on Windows"
Runtime [6.0.2]

Ran dotnet-install.sh [SDK 6.0.102]
Got same exception error!
Rebo

[2022-03-08 02:08] elinor-fung commented on #50838
This was added in https://github.com/dotnet/runtime/pull/60889

[2022-03-08 02:08] #50838 closed

[2022-03-08 02:17] Symbai commented on #66288
The disadvantage is that it creates unnecessary warnings for all developers which doesn't write a browser application, because it CANNOT be null for them (which also the docs doesn't say). Some people might even add an unnecessary null check.

[2022-03-08 02:26] Symbai opened #66323 "The documentation for Environment.ProcessPath needs an update"
`Environment.ProcessPath` returns a nullable string. If developers want to check why this is the case the [docs just say](https://docs.microsoft.com/en-us/dotnet/api/system.environment.processpath?f1url=%3FappId%3DDev16IDEF1%26l%3DEN-US%26k%3Dk(System.Environment.ProcessPath);k(DevLang-csharp)%26rd%3Dtrue&view=net-6.0) `Returns null when the path is not available.` which isn't really clear WHEN th

[2022-03-08 02:29] stephentoub commented on #66323
"minipal" is any Unix.
https://github.com/dotnet/runtime/blob/3383c7f656c0763245f33ee99357b36c4e3343b8/src/libraries/System.Private.CoreLib/src/System/Environment.cs#L136-L145
https://github.com/dotnet/runtime/blob/3383c7f656c0763245f33ee99357b36c4e3343b8/src/libraries/System.Private.CoreLib/src/System/Environment.Unix.cs#L99
https://github.com/dotnet/runtime/blob/3383c7f656c0763245f33ee99357b36c4

[2022-03-08 02:35] Symbai commented on #66323
Sorry I didn't know, I'll remove that half sentence. Even more reason to update the documentation.

[2022-03-08 02:43] hoyosjs commented on #65341
Investigated this a bit more with @janvorli. This looks like a bad interaction between preading the file and the MAP_JIT flag. The following stand alone c++ repro emulated parts of what the runtime does for m1.

[code]

If doesn't matter what type of flags we pass to the first mprotect, we'll always fail.
- RW and W makes the pread successful, but repros what this issue sees.
- Using RX and X ends

[2022-03-08 03:07] stephentoub opened #66324 "Use StartsWith literal optimization for OrdinalIgnoreCase in RegexCompiler / source generator"
https://github.com/dotnet/runtime/pull/66095 is optimizing MemoryExtensions.StartsWith(span, "literal", OrdinalIgnoreCase) by auto-vectorizing cases where the literal string is all ASCII.  In Regex, we can take advantage of this in the compiler and source generator by recognizing sequences of appropriate sets, e.g. `"[Aa][Bb][Cc]"`, which our IgnoreCase option now produces (and will produce more r

[2022-03-08 03:39] AArnott commented on #14746
Structs are *not* copied when calling instance methods by default. I think they are copied when the struct is stored in a readonly field, unless the method itself has a readonly modifier on it (a relatively new thing).

As you deduced in Q2, this leads us to want to make this a static method. It could take `in DateTime` as a first parameter so that the caller can pass its own _copy_ of `this` into

[2022-03-08 04:58] jkotas commented on #66302
These repro steps fail for me with:
[code]
Where is `[repo root]/artifacts/obj/Microsoft.DotNet.XHarness.CLI/Debug/mlaunch/bin/mlaunch` supposed to come from?

It may be more efficient to diagnose the crash on your machine. Here are the basic steps:
1. `dotnet tool install --global dotnet-sos`
2. `dotnet-sos install`
3. `lldb -- dotnet Microsoft.DotNet.XHarness.CLI.dll apple install -t ios-simulat

[2022-03-08 05:00] cshung commented on #66039
The second case is still problematic, in essence, we cannot do a callback when we really don't have memory.

Let me make sure we understand by going a simple example. To make things simple, let's use tiny numbers.

Let's say right now we have 100 bytes of memory. You have used 20 bytes already, and you just started a NoGC region with 10 bytes.

So you allocate object #1, succeed (remaining 7 bytes

[2022-03-08 05:14] abarberenaCPDS opened #66325 "SOLVED Cannot get symbol ucol_setMaxVariable_50 from libicui18n"
Cannot get symbol ucol_setMaxVariable_50 from libicui18n

Hi @tarekgh 👋 , I know it's been a long time, however, I just wanted to give you an update in regards to https://github.com/dotnet/runtime/issues/57983.

I was able to ***successfully run dotnet 5!*** 🚀 🥳 🤟

[code]

<img width="888" alt="sc1" src="https://user-images.githubusercontent.com/43246964/157169518-99250456-cb88-439f-9896-1e04a5235

[2022-03-08 05:15] jkotas commented on #66039
I think we should automatically terminate the NoGCRegion before issuing the out of space callback. The whole point of NoGCRegion is to maintain certain SLAs. The moment you run out of space, the SLAs are not going to maintained anyway and so trying to artificially stay in NoGCRegion just makes it difficult to recover from the situation.

[2022-03-08 05:51] radical commented on #65859
@AlexEyler I had found suggestions on stack overflow, that it might be related to unpatched windows. But I guess, it's not the case here.

- Does it change anything if you don't `dotnet workload install macos`?
- And can you run the workload install with `dotnet workload install wasm-tools -v diag`, and share the full output?

@radekdoulik any idea why this might be breaking? The image is using VS

[2022-03-08 06:17] wfurt commented on #66188
It does not really change anything important but I was curious why we see `InternalException`.

The `Interop.SECURITY_STATUS.ContextExpired` maps to `0x00090317` e.g.  `SEC_I_CONTEXT_EXPIRED` but there is no entry for `SEC_E_CONTEXT_EXPIRED`  e.g. 0x80090317.

https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/libraries/Common/src/System/Net/SecurityStatusAdapterPa

[2022-03-08 06:52] cshung commented on #66039
But that is something we already do, the default behavior is to terminate the NoGCRegion once the out-of-space situation happens.

[2022-03-08 07:09] michaldobrodenka commented on #7764
[libMonoPosixHelper.zip](https://github.com/dotnet/runtime/files/8203539/libMonoPosixHelper.zip)

[2022-03-08 07:56] Joelius300 commented on #62554
Ubuntu _should_ work fine but I've not tested it 🤔 the PR you linked is from 2018, that should definitely have been included in .NET 6 already.

On the other hand, https://github.com/dotnet/runtime/pull/64500 and https://github.com/dotnet/runtime/commit/9ebe0efa4850fb2e451befe1fdf7c2d3cbb5c862, which weren't included in .NET 6, might have solved some issues as they mention RID and framework-target

[2022-03-08 08:02] VincentBu opened #66327 "Test failure JIT/Methodical/eh/nested/nestedtry/throwinnestedtrycatch_il_r/throwinnestedtrycatch_il_r.sh"
Run: [runtime-coreclr outerloop 20220307.6](https://dev.azure.com/dnceng/public/_build/results?buildId=1650372&view=ms.vss-test-web.build-test-results-tab&runId=45538770&resultId=106834&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-08 09:28] grahambunce commented on #64222
@tmds I can confirm that the only change needed is this

I'm not sure if this is referenced anywhere in documentation (it may be, but I may have missed it). Checking the original issue, which contains a large number of comments, I can now see that this setting is mentioned by David Fowler about half way through but it is immediately followed by a "this does not work comment".

The ticket is closed

[2022-03-08 09:40] tmds commented on #64222
@grahambunce can you create an issue in https://github.com/dotnet/dotnet-docker for this envvar not being set in the Microsoft image you are using?

No problem!

[2022-03-08 09:40] #64222 closed

[2022-03-08 10:20] krwq commented on #7764
@mguinness we'd need to create a native asset with ARMv6 which means our official builds would need to build that asset first and then changing https://github.com/dotnet/runtime/tree/main/src/libraries/System.IO.Ports/pkg to include that in the nuget package.

Alternatively if we remove native asset that could make it easier from shipping perspective as we don't need a special build for ARMv6 and

[2022-03-08 10:23] michaldobrodenka commented on #7764
@krwq From my point of view System.IO.Ports is so CPU intensive that it is unusable.

[2022-03-08 10:28] theodorzoulias commented on #66281
I can surely imagine myself having the need for this API, and using it if it was available. I can also imagine myself reviewing my code a month later, and struggling to remember what exactly this esoteric `ResumeCapacity` configuration means!

[2022-03-08 10:59] kasperk81 commented on #7764
major issues are: high cpu #2379 and memory leak #55146. doesn't require very specific hardware to reproduce them.

[2022-03-08 11:02] WenceyWang commented on #66039
OK, this is fair enough for me to have a callback while still in NoGCRegion.

[2022-03-08 11:33] codebolt opened #66379 "Language 'Norwegian' missing from drop-down in designer properties"
* .NET Core Version: 6.0.200

* Have you experienced this same bug with .NET Framework?:  No

**Problem description:**

Working in with the WinForms Designer in .NET Framework, I created several localizable Forms/User Controls where I used two languages: English (default) and Norwegian (language code 'no'). When I open these forms in VS 2022/.NET 6 (after using the migration tool), I can no longer

[2022-03-08 12:24] MichalStrehovsky commented on #66210
Windows ARM64 machines are not configured to collect dumps - https://github.com/dotnet/core-eng/issues/15534.

[2022-03-08 12:26] sommmen commented on #60600
Any idea on what the proper way to handle this would be?

my code is now:

[code]

I'm running into this ex with a custom bootstrapper and ef core - would this be the proper way to handle this?

[2022-03-08 12:36] CarnaViire commented on #66297
Unfortunately, no.

If OS did the timeout, the error would bubble up from sockets, so we would see `HttpRequestException` with inner `SocketException` (`(110): Connection timed out` on Linux and `(10060): A connection attempt failed because the connected party did not properly respond after a period of time....` on Windows)

If it was our timeout, we would see `TaskCanceledException` with inner `T

[2022-03-08 12:50] jgilbert2017 opened #66329 "[API Proposal]: Provide tunnel status code for proxy exceptions"
### Background and motivation

API user would like to have specific information about why a proxy connection failed without the need to parse a text based error message.

Dotnet 6 altered how proxy errors were handled as part of #48679.  Rather than the proxy response being returned to the user, an error message is returned.  This was done to distinguish proxy related errors from upstream errors.

[2022-03-08 12:52] rzikm commented on #43879
This is the behavior I observe when I disable the credential caching (so that for each connection, new credentials are acquired)

[code]

Furthermore, I noticed that [`AcquireCredentialsHandle`](https://docs.microsoft.com/en-us/windows/win32/secauthn/acquirecredentialshandle--schannel) returns an _expiry timestamp_, which in this repro returned `2032-03-08 11:58:02`. I tinkered with the dates a bi

[2022-03-08 13:11] theodorzoulias commented on #66255
Regarding an [earlier comment](https://github.com/dotnet/runtime/issues/66255#issuecomment-1059916600) of mine where I compared the behavior of the `List<T>.RemoveAll` with the behavior of the `PriorityQueue<TElement, TPriority>`, I should note that it might not be a fair comparison, because in order to provoke the same corruptive behavior one has to write a non-conforming implementation of the `I

[2022-03-08 13:24] HuzefaUsama25 commented on #65969
This happens when dotnet is installed with the snap package manager try it with apt and it would work fine!

[2022-03-08 14:38] jkotas commented on #66302
[code]

Could you please do the lldb steps again and run `process save-core coredump` command in lldb? It will create coredump file on disk - share the file with me e.g. using OneDrive. It is big file (several GB). You may want to zip it before sharing.

[2022-03-08 14:46] davidfowl commented on #60600
@eerhardt we need to expose something basic for this scenario either an interface or the exception itself if we want to avoid code like above. The scenarios are pretty narrow though (avoiding the log for when migrations happen). We could at a minimum document the current behavior.

[2022-03-08 15:01] TonyValenti opened #66336 "[API Proposal]: Enumerable.Append / Enumerable.AppendRange"
### Background and motivation

The API surface for Appending items to an enumerable is currently inconsistent and clunky.
You can ```Append``` (Extension Method) single items to an enumerable and you can ```Concat``` (static member) two enumerables.

Additional overloads should be created that simplify appending many individual items and many lists (enumerables) of items.

### API Proposal

[code]

[2022-03-08 15:29] lambdageek opened #66337 "[mono][gshared] generic instance function pointer crash"
[code]

Expected:

[code]

Actual: Crash.
Backtrace:

[code]

[2022-03-08 15:29] lambdageek commented on #66337
/cc @vargaz @SamMonoRT

[2022-03-08 15:31] lambdageek commented on #66337
Works with `--interp`, except there are some warnings:
[code]

[2022-03-08 15:58] stephentoub commented on #66336
This doesn't exist yet in the C# language.

Isn't this just giving a different name to Concat?

[2022-03-08 16:02] premun commented on #66302
Great, thanks!

[2022-03-08 16:15] #65136 closed

[2022-03-08 16:21] am11 commented on #66154
Note that we have [slowly adapted](https://grep.app/search?q=CLR_ENG_NATIVE_DIR&filter[repo.pattern][0]=dotnet/runtime&filter[path.pattern][0]=src/mono) eng/native infra in mono; so it is semi-true these days. :)

Looking at @AaronRobinsonMSFT's fixes for coreclr, it should be easy to fix. I can take a stab at it (if nobody else is working on it).

[2022-03-08 16:31] ManickaP commented on #63706
Triage: closing now, all should be addressed now, partially in 6.0 partially in main (7.0). Please feel free to re-open or open a new one if you find any more issues in your investigations.

[2022-03-08 16:31] #63706 closed

[2022-03-08 16:37] willibrandon commented on #65664
I’m running into the same issue. I’ve been unable to debug for several weeks.

[2022-03-08 16:39] #65636 closed

[2022-03-08 16:41] jkotas commented on #66039
Agree. I am arguing that it is the right behavior and we should continue doing that even for the callback.

I think managed callbacks that run with NoGCRegion still in place would be fragile and unreliable.

[2022-03-08 16:43] ManickaP commented on #66258
@samchenws did Stephen explanation answered your question? If so, can we close this?

If not and you still observe unusual duration discrepancies between `HttpClient` and `WebRequest` could you provide us with repro code, the way you measure it and the actual times you got with your measurements?

[2022-03-08 16:43] Bip901 commented on #31001
This is a highly requested feature not only for performance reasons but also for object oriented-ness and greatly simplified code. It has been requested in tens of issues in this repository, some of them mentioned here.

Will we be seeing this feature in .NET 7?

[2022-03-08 16:51] joshudson commented on #31001
@Bip901: I could make a PR immediately; but the API review team is unwilling to approve the API change.

[2022-03-08 17:04] tommcdon commented on #66325
It looks like the text in this issue was actually intended for https://github.com/dotnet/runtime/issues/57983#issuecomment-1061996269.

@abarberenaCPDS please let us know if anything else is needed before we close this issue.

[2022-03-08 17:11] geoffkizer commented on #66297
Perhaps we should use 15s. That means that typically we'd do the timeout ourselves on both platforms. It's also a reasonably round number as compared to 21s.

[2022-03-08 17:11] Clockwork-Muse commented on #66255
Generally, yes, that means it shouldn't throw vexing or exogenous exceptions (and usually means that it won't throw boneheaded ones either).

But the producer side isn't your actual problem, it's the consumer side.  You should be looking for an equivalent section on `RemoveAll`, something like "if the callback returns an Exception..." - which doesn't exist, and (for speed reasons) most likely shou

[2022-03-08 17:23] mirespace opened #66340 "Cannot find mkstemps nor mkstemp on this platform (CMake Error at src/runtime.*/artifacts/source-build/self/src/src/libraries/Native/Unix/configure.cmake:788)"
Hi,

I'm packaging dotNet for Ubuntu 22.04. trying to build .Net 6 from source using sbuild in Ubuntu to generate deb packages.

I can't progress on this because I get the following error:

[code]

this part, attending at the log, is launched with

[code]
Building itself was launched with:
[code]

The tarball used by sbuild was builder with boostrap  (./build.sh /p:ArcadeBuildTarball=true /p:Tarba

[2022-03-08 17:26] emaste commented on #65831
repro needs `O_CREAT` in the open() call, after adding that I get (on FreeBSD 14):
[code]

[2022-03-08 17:27] eiriktsarpalis commented on #54189
@RamjotSingh would the solution proposed in https://github.com/dotnet/runtime/issues/63791 address your use case? I was thinking it might be possible to do something like this:
[code]
It would use the collection converter that accepts the type of the element converter used.

[2022-03-08 17:27] inf9144 commented on #39953
This hardcoded thing just crashed my production site. Fix ahead or do i need a new serializer?

[2022-03-08 17:32] performanceautofiler[bot] opened #66341 "Regressions in System.Text.Json.Serialization.Tests.ReadJson<Hashtable>"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Baseline | [783e260c78f87dda7cd88b2d8d6305c742e0f78d](https://github.com/dotnet/runtime/commit/783e260c78f87dda7cd88b2d8d6305c742e0f78d)
Compare | [1665aca8f09eba553c8e411a8c01105d71dcabbf](https://github.com/dotnet/runtime/commit/1665aca8f09eba553c8e411a8c01105d71dcabbf)
Diff | [Diff](https://github.com/dotnet/runtime/compare/783e2

[2022-03-08 17:32] eiriktsarpalis commented on #54189
FWIW it might be a breaking change if we do decide to have `JsonConverterAttribute` map to element converters. Consider the following example:
[code]

[2022-03-08 17:39] wfurt commented on #66329
Triage: looks reasonable. We should look at it at some point.

[2022-03-08 17:44] #65545 closed

[2022-03-08 17:47] bgriffy commented on #61917
FYI, I tried this work-around, it doesn't seem to work for me still.

[2022-03-08 17:47] wfurt commented on #66244
Triage: we can look at it. It should probably be controlled via property. Basic auth is insecure and it probably should not be used with plain-text like connect to proxy.

[2022-03-08 17:48] bgriffy commented on #61917
FYI, I tried this work-around, it doesn't seem to work for me still.

[2022-03-08 17:50] performanceautofiler[bot] opened #66344 "Regressions in System.Globalization.Tests.StringSearch"
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.18362
Baseline | [093bdc466693e847dc75b6fd86d895bf603acdee](https://github.com/dotnet/runtime/commit/093bdc466693e847dc75b6fd86d895bf603acdee)
Compare | [24ce527fb5f966a8262e48b5812cefc240ba6ef5](https://github.com/dotnet/runtime/commit/24ce527fb5f966a8262e48b5812cefc240ba6ef5)
Diff | [Diff](https://github.com/dotnet/runtime/compare

[2022-03-08 17:50] performanceautofiler[bot] opened #66343 "Regressions in System.Net.Http.Tests.SocketsHttpHandlerPerfTest"
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.18362
Baseline | [9053aa1e66ab7c1af7a14e649fb0bf0b0c501cde](https://github.com/dotnet/runtime/commit/9053aa1e66ab7c1af7a14e649fb0bf0b0c501cde)
Compare | [136b312bc4b471c92eeaf25ded3d0b4dec3afd13](https://github.com/dotnet/runtime/commit/136b312bc4b471c92eeaf25ded3d0b4dec3afd13)
Diff | [Diff](https://github.com/dotnet/runtime/compare

[2022-03-08 17:50] performanceautofiler[bot] opened #66342 "Regressions in System.Text.RegularExpressions.Tests."
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.18362
Baseline | [6dcefe002035fa19c3288d54d8d10f6533cb94fc](https://github.com/dotnet/runtime/commit/6dcefe002035fa19c3288d54d8d10f6533cb94fc)
Compare | [95770c9198df503d16b5aa9880ebc4e634a970e7](https://github.com/dotnet/runtime/commit/95770c9198df503d16b5aa9880ebc4e634a970e7)
Diff | [Diff](https://github.com/dotnet/runtime/compare

[2022-03-08 17:52] kunalspathak commented on #66342
@stephentoub

[2022-03-08 17:53] wfurt commented on #65802
Triage: looks reasonable. We may need some infrastructure changes for mobile platforms.

[2022-03-08 17:54] kunalspathak commented on #66343
Is it introduced in https://github.com/dotnet/runtime/pull/64834? @kouvel

[2022-03-08 17:54] thaystg commented on #61917
This is on release 6.0.2.

[2022-03-08 17:55] thaystg commented on #61917
This is on release 6.0.2.

[2022-03-08 17:57] wfurt commented on #65305
Triage: it seems like we need to add documentation. This should be possibly solved by #66329.

[2022-03-08 17:57] #65305 closed

[2022-03-08 17:57] tarekgh commented on #66325
Thanks @abarberenaCPDS for the update and I am happy you are finally able to unblock yourself.

@tommcdon thanks for posting the comment into the original thread.

I am closing this issue, but feel free to send any more questions or notes if you have any.

[2022-03-08 17:57] #66325 closed

[2022-03-08 18:00] carlossanlop commented on #65951
Next steps:

1. Update the top API proposal with the extra async APIs.
2. Add any necessary corrections related to what Jeremy mentioned above regarding `ValueTask` vs `Task`.
3. Mark this as ready for review.
4. Schedule a meeting with Immo to discuss this proposal.

@stephentoub would you mind giving us your input on no. 2? And any other feedback is also welcome, if you have any.

[2022-03-08 18:03] thaystg commented on #61917
Can you help me to reproduce this, build in release and then rebuild in debug and the debugger is not working?
I tried here using dotnet 6.0.2 and it's working for me.
Any hints how to reproduce?

[2022-03-08 18:03] wfurt commented on #61257
Triage: We can look into retry policy but we probably need some more specific use case. Probably not linked to `HttpClient` but to specific handler. It may be better to leave to application as it may have more insight to what is reasonable.

[2022-03-08 18:07] stephentoub commented on #65951
I mostly agree with Jeremy's take.  GetNextEntryAsync should return `ValueTask<TarEntry?>`, and DisposeAsync has to return `ValueTask`.  Everything else returning Task seems reasonable.

[2022-03-08 18:08] thaystg commented on #61917
Thanks!!!

[2022-03-08 18:25] cshung commented on #66039
and

are contradictory ...

[2022-03-08 18:29] dcwhittaker opened #66346 "Microsoft Security Advisory CVE-2020-8927 | .NET Remote Code Execution Vulnerability"
Microsoft Security Advisory  CVE-2020-8927 | .NET Remote Code Execution Vulnerability
## <a name="executive-summary"></a>Executive summary
Microsoft is releasing this security advisory to provide information about a vulnerability in .NET 5.0 and .NET Core 3.1. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.
A vulnerability e

[2022-03-08 18:35] terrajobst commented on #66121
* We should add a zero-value for `CustomTypeMarshallerDirection` such that default initialized values have an associated member. We should call it `None` and simply reject this as invalid for `CustomTypeMarshallerAttribute.Direction`. We should hide it.

[code]

[2022-03-08 18:36] dcwhittaker opened #66348 "Microsoft Security Advisory CVE-2022-24512 | .NET Remote Code Execution Vulnerability"
Microsoft Security Advisory CVE-2022-24512 | .NET Remote Code Execution Vulnerability
## <a name="executive-summary"></a>Executive summary
Microsoft is releasing this security advisory to provide information about a vulnerability in .NET 6.0, .NET 5.0, and .NET Core 3.1. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.
A Remo

[2022-03-08 18:39] tommcdon commented on #65664
@WPMGPRoSToTeMa would you mind trying to disable Intellitrace in Visual Studio to see if it works around the issue?  I believe that this issue is actually a Visual Studio problem and is tracked on Devdiv internal bug #'s [1495188](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1495188) and [1495179](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1495179).

[2022-03-08 18:41] #65638 closed

[2022-03-08 18:41] bgriffy commented on #61917
I am not able to get it to work after installing the the 6.0.2 SDK.

Steps to reproduce:
- Clone https://github.com/bgriffy/BlazorWasmDebugRepro2
- Run it in debug mode
- Go to the counter page and click the "Click me" button

[2022-03-08 18:45] terrajobst commented on #48615
* Looks good as proposed

[code]

[2022-03-08 18:45] thaystg commented on #61917
The published app(https://bgriffy.github.io/BlazorWasmDebugRepro/) is still using dotnet 6.0.0, right?
![image](https://user-images.githubusercontent.com/4503299/157304504-ca31a62f-27fc-43b2-bffd-7417d826e165.png)

[2022-03-08 18:58] EmJayGee commented on #14746
duh! of course, while you can't partially mutate a DateTime, you can wholesale overwrite it. Apologies for wasting the vertical space in this thread.

I'll put together what I think a fix for this for DateTime would look like and figure out what the right workflow is for this new world order of git and open source. I guess submitting a PR?

addendum:

I don't know that you can force, at the source

[2022-03-08 19:04] bgriffy commented on #61917
Right you are! After publishing both projects with the .NET 6.0.2 SDK, I no longer have any issues debugging. I'll go ahead and close the issue now. Thanks for the help on this!

[2022-03-08 19:04] #61917 closed

[2022-03-08 19:14] terrajobst commented on #56592
* `XDocument` uses a copy constructor on `XElement` instead, but `DeepClone` seems more discoverable.
* `IsRoot` doesn't seem that value, as the canonical way would be to check `node.Parent is null`.
* `GetValueKind()` should try to return a better value than `Undefined` such that modifications of primitives doesn't result in unexpected changes from, say, `Number` to `Undefined`.
    - Do we need

[2022-03-08 19:18] terrajobst commented on #65858
* Looks good as proposed

[code]

[2022-03-08 19:20] echesakovMSFT commented on #65282
Doesn't seem to be reproducible anymore.

[2022-03-08 19:20] #65282 closed

[2022-03-08 19:26] terrajobst commented on #65660
* Looks good as proposed

[code]

[2022-03-08 19:28] Wraith2 commented on #65634
I agree with @roji on the SQL syntax.

It feels like a larger VS feature. Perhaps allow some form of InitializationData string on the string format attribute and then have visual studio use that to identify and query a language server to support it.

[2022-03-08 19:28] steveharter commented on #56592
Per the API review discussion, I looked at `JsonValueKind GetValueKind(options)` and determined that the `options` is not needed.

Basically, the algorithm would look like this:
[code]

I believe `options` was there previously because the thought is that there for non-`JsonElement` types the code would automatically do the expensive serialize(options) in order to obtain the kind. Now, we just retu

[2022-03-08 19:32] dreddy-work commented on #65664
I tried with disabling Intellitrace and it works as expected after that.

[2022-03-08 19:33] terrajobst commented on #57881
* Makes sense
* It seems also desirable to also implement `ISpanFormattable`, this would be useful, for example, for interpolated strings
    - This would require work in the JIT to avoid the boxing overhead

[code]

[2022-03-08 19:34] teo-tsirpanis commented on #65634
Another idea: __database connection strings__. Doesn't have to be too complicated and recognize specific fields, just basic highlighting and syntax check.

[2022-03-08 19:36] terrajobst commented on #65074
* Looks good as proposed

[code]

[2022-03-08 19:38] Wraith2 commented on #65634
Connection strings are a similar minefield to the syntax itself. You'd need to know the provider to access the builder type, even then there is no notion of syntax checking it only allows you to access properties. There's obsolete syntax etc. Again it is something you'd want a specific new language service for.

[2022-03-08 19:42] lambdageek commented on #66337
This is the same issue as https://github.com/mono/mono/issues/20962

[2022-03-08 19:43] WizardBrony opened #66354 "Rationale for invoking continuations synchronously vs. asynchronously as part of a call to CancellationTokenSource.Cancel"
There was a recent change made to `Task.DelayPromiseWithCancellation` to invoke any continuations from the task as part of a `Cancel` call asynchronously:

https://github.com/dotnet/runtime/blob/446a0d610d4479fa9ba58ec14a89132a18ed33c4/src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs#L5639-L5662

However, there are other APIs that invoke continuations within a `Cancel` call

[2022-03-08 19:47] danmoseley commented on #42154
@GrabYourPitchforks thoughts?

[2022-03-08 19:50] terrajobst commented on #66167
* Makes sense
* It's not clear why the `Language` property exists; it seems it's geared towards expressing optionality. But if other languages later also support the feature, would they emit the attribute using their language or would the emit with the name of the first language?

[code]

[2022-03-08 19:51] AraHaan commented on #2214
Wouldn't it be worth making ReadAllLinesAsync then call into this new API then to optimize them a bit as well?

[2022-03-08 19:51] steveharter commented on #54189
This was [previously discussed](https://github.com/dotnet/runtime/issues/1562#issuecomment-579385889) and supported by Newtsonsoft's `JsonPropertyAttribute.ItemConverterType`.

The element converter is there today of course, just not exposed.

Although adding an `ItemConverter` mechanism will probably work for all resonable scenarios, consider the encapsulation done today by something like a prope

[2022-03-08 19:52] danmoseley commented on #65074
@vanillajonathan are you interested in offering a PR or should we mark up for grabs?

[2022-03-08 19:53] danmoseley commented on #61675
@maryamariyan should this be marked up for grabs in case @fredjeck or someone else is interested in doing it before we get to it?

[2022-03-08 19:53] danmoseley commented on #58853
@tannergooding should tihs be 'up for grabs' (possibly for @rotanov if he's interested)?

[2022-03-08 19:54] danmoseley commented on #58607
@lilinus are you interested in working on this one?

[2022-03-08 19:55] danmoseley commented on #57881
@leandromoh are you interested in working on this one?

[2022-03-08 19:55] fanyang-mono commented on #66174
This happened again for rolling build #20220308.1 on `CoreCLR Pri0 Runtime Tests Run OSX x64 checked`. The link to the log is https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-a1a9de6e17b849f196/profiler.eventpipe/1/console.1158da49.log?sv=2019-07-07&se=2022-03-28T09%3A24%3A17Z&sr=c&sp=rl&sig=Xqtq4mBksJ5vn2SeQpc00q9oqntl2GhaHPQ5vDmaJAM%3D

[2022-03-08 19:55] danmoseley commented on #50590
@maryamariyan should this be marked up for grabs?

[2022-03-08 19:56] danmoseley commented on #42275
@jkotas should this be labeled up for grabs?

[2022-03-08 19:57] danmoseley commented on #1630
@dovisutu are you interested in working on this? If not I will label up for grabs.

[2022-03-08 19:58] tannergooding commented on #58853
@danmoseley, this one likely requires JIT work. If someone feels confident enough in C# and C++ to do both sides of the work, then I'm happy to assign it out. But it's not necessarily an "easy" issue.

[2022-03-08 20:07] roji commented on #65634
WRT to connection strings, these generally shouldn't be in source code, but rather in external config.

[2022-03-08 20:32] AaronRobinsonMSFT commented on #66154
@am11 if you could handle 4267 in mono that would be great. I'll be working on 4146 and 4244 shortly.

[2022-03-08 20:32] divetta commented on #3505
Hello @jcmcken @valeriob, I know is a old issue, but I'm getting the same problem using this image: mcr.microsoft.com/dotnet/aspnet:6.0.

The system CA works for other tools (curl and wget) and for .NET are failing:

"The SSL connection could not be established.... The remote certificate is invalid because of errors in the certificate chain: PartialChain"

How did you get it working?

Thanks in ad

[2022-03-08 20:36] TonyValenti commented on #66336
Hi @stephentoub - I had a typo in my API definition.  I was missing a ```[]```.  It should be:
[code]

The difference between Append and AppendRange is that Append appends one or more ITEMS and AppendRange appends (concats) multiple enumerables.

[2022-03-08 20:37] danmoseley commented on #58853
"up-for-grabs" doesn't imply easy, we've had community members handle that kind of task before I think. But it maybe nobody "grabs" it...

[2022-03-08 20:41] stephentoub commented on #66336
How does this relate to your proposal in https://github.com/dotnet/runtime/issues/54220? Aren't they covering the same ground?

[2022-03-08 20:49] rseanhall commented on #42275
`CancelEventArgs` is almost always used in an event with the "-ing" suffix. For example, the `CancelEventArgs` is available in the [`Closing`](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.form.closing) event not the [`Closed`](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.form.closed) event. This suggests that the existing `UnhandledException` event is not th

[2022-03-08 20:54] hoyosjs commented on #66340
Does this source compile for you?

[code]

[2022-03-08 20:55] 333fred commented on #66167
Up to the implementation. If we don't think the optionality is relevant, we can strip it from the proposal. We could also change it to a boolean `Optional` flag if we don't think the language is the right way to expression optionality per-language.

[2022-03-08 21:28] fanyang-mono commented on #65791
Should System.IO.Tests be disabled, while being investigated? It is still happening quite often on rolling builds.

[2022-03-08 21:30] #65271 closed

[2022-03-08 21:46] eerhardt opened #66361 "Allow lazy-loading of referenced assemblies in Mono AOT"
When loading an AOT'd application, Mono will eagerly load assemblies even if they are not necessarily used at that moment. This can cause the app to take longer to load since some of these assemblies might not be used.

See https://github.com/dotnet/runtime/issues/66361#issuecomment-1062406860

We should add an option to allow lazy loading these assemblies, so we can use it in .NET Maui Android.

[2022-03-08 21:53] vargaz commented on #66361
What code is calling RuntimeHelpers.CompileMethod () ?

[2022-03-08 21:57] jkotas commented on #42275
Ok, I have flipped this back to API needs work.

[2022-03-08 22:31] jkotas commented on #42275
Thoughts on a good name and the exact shape of the API are welcomed.

[2022-03-08 22:31] eerhardt commented on #66361
According to @lateralusX, `RuntimeHelpers.CompileMethod` is the method that gets injected into the profile when JIT'ing occurs.

[2022-03-08 22:34] huoyaoyuan commented on #27292
I looked into this, but found it's not easy, since the only tuple-returning intrinsic was CPUID, which is not optimal in implementation (calls a function).

Ideally, the JIT should be updated to handle multi-reg returning instructions better, and the LSRA can be tuned to handle instructions with fixed register input (namely DIV/IDIV), which can also improve the codegen for BigMul.

@tannergooding

[2022-03-08 22:35] pedrobsaila commented on #48756
Hi @Prologh

So here is how the example works :
* you start a new thread asynchronously without blocking/awaiting it
* You hit `return Task.CompletedTask;`
* The Background service has now ended because of the last step
* We kick the dispose Method of Host
* We dispose of the service container including the Event log logger
* 3 seconds elapses
* the cancellation token is cancelled and OperationCan

[2022-03-08 22:35] vargaz commented on #66361
Which method which gets JITted in this case ? Would it be possible to run the app with the MONO_LOG_LEVEL=debug env var set ? That will print out the AOT methods found/not found.

[2022-03-08 23:05] eerhardt commented on #66361
This is a good tip. Thanks, I was not aware of that env var. Using

[code]

I was able to get a run of the app, and looking at the logcat searching for `HandlerRegistration:AddRegistration`, I see:

[code]

Notice it says `AOT: FOUND method Microsoft.Maui.Hosting.HandlerMauiAppBuilderExtensions/HandlerRegistration:AddRegistration`, so this isn't time being spent JIT'ing. But the very next log entr

[2022-03-08 23:51] Jozkee commented on #65371
An Index wouldn't be very useful as `Matcher` doesn't expose the include patterns. Including the Pattern in FilePatternMatch makes more sense to me.
There's an open request for improving Globbing in .NET (https://github.com/dotnet/runtime/issues/21362), I think this proposal should be considered as part of that effort.

[2022-03-08 23:57] vargaz commented on #66361
Yes, currently the AOT runtime will load all the referenced assembly of an aot image, because it cannot handle mismatches later. Maybe we need to add an option to avoid that.

[2022-03-09 00:00] #7167 closed

[2022-03-09 00:01] #5661 closed

[2022-03-09 00:01] #5645 closed

[2022-03-09 00:01] #4923 closed

[2022-03-09 00:01] #4492 closed

[2022-03-09 00:01] #4394 closed

[2022-03-09 00:01] #4339 closed

[2022-03-09 00:01] #4274 closed

[2022-03-09 00:01] #3987 closed

[2022-03-09 00:01] #3976 closed

[2022-03-09 00:12] danmoseley commented on #14336
Assigning to @deeprobin

[2022-03-09 00:13] danmoseley commented on #14336
Hmm, @deeprobin I can't assign to you unless you're either an org member (which you aren't) or you've commented on the issue. If you comment here, I can assign it.

[2022-03-09 00:23] am11 commented on #66323
We query the underlying OS to get the process path, which can fail per the various, supported OS documentations. For instance; unable to allocate memory on Windows, someone hijacked argv[0] after fork() on Linux, fiddled with procfs on OS' that support it, failed syscall, running .NET as unikernel (single process OS / your process _is_ the bootable OS) and so on. In such rare cases, the implementa

[2022-03-09 00:54] Anderman commented on #64812
Interesting. In my TDS Implement I also skipped the command and execute a Sql string directly from the connection. I think mapping to Poco or some kind of datareader /writer is possible.

When reading the columns from the TDS stream a user defined expression /  function can be called to the mapping to poco or datareader. I did a hardcode poco implementation but that not necessary. A [row](https://

[2022-03-09 00:56] VincentBu opened #66368 "Test failure tracing/eventpipe/pauseonstart/pauseonstart/pauseonstart.sh"
Run:[ runtime-coreclr outerloop 20220308.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1651712&view=ms.vss-test-web.build-test-results-tab&runId=45562916&resultId=110088&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-09 01:01] carlossanlop opened #66369 "Remove ObjectDisposedException triple slash from CancellationToken.ThrowIfCancellationRequested"
From this discussion: https://github.com/dotnet/dotnet-api-docs/pull/7807/files#r822056944

This exception needs to be removed from triple slash comments since it is not thrown by the method. This will ensure we don't accidentally port it back to dotnet-api-docs, considering we run [a tool](https://github.com/dotnet/api-docs-sync) to port source documentation to api docs.

@kouvel

Source that nee

[2022-03-09 01:04] VincentBu opened #66370 "Test failure baseservices\\threading\\generics\\Monitor\\EnterExit08\\EnterExit08.cmd"
Run:[ runtime-coreclr r2r 20220307.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1650714&view=ms.vss-test-web.build-test-results-tab&runId=45543304&resultId=100585&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-09 01:12] ericstj commented on #64840
DataContractSerializer on the other hand is a serialization / deserialization mechanism that can turn C# POCOs into XML and vice versa.

I agree with this 💯.  We'll never get parity with DCS -- that's a non-goal.  Just like it's a non-goal to get to parity with features of other serializers like System.Text.Json or Newtonsoft.Json.  Those are serializers.  This is a configuration API.

Can you tel

[2022-03-09 01:15] danmoseley commented on #65791
@jeffhandley is anyone on the IO crew available to look at this? We can't disable all the IO tests en masse, if they can at least narrow down where hte memory usage is, or add some logging ,etc that would be a win.

[2022-03-09 01:18] danmoseley commented on #66154
If anyone is willing to take a first scan of `/native` that would be great.

[2022-03-09 01:19] elinor-fung commented on #66154
For the hosting components, a number of these are disabled - **4018**, **4244**, **4267**, **4996**:

https://github.com/dotnet/runtime/blob/853e494abd1c1e12d28a76829b4680af7f694afa/src/native/corehost/CMakeLists.txt#L13-L17

https://github.com/dotnet/runtime/blob/853e494abd1c1e12d28a76829b4680af7f694afa/src/native/corehost/apphost/static/CMakeLists.txt#L48-L52

[2022-03-09 01:19] kunalspathak commented on #64972
We have a tree for `Test1(Vector64.Create((ulong)23));`:

[code]

which is later morphed into (note the `d0` register)

[code]

and then after constant propagation:

[code]

While the type of node is `TYP_INT` the fixed register assigned is vector register which is why the assert fails. May be, we miss updating the type somewhere in previous phases.

[2022-03-09 01:21] elinor-fung commented on #66154
A few pragma suppressions in the host too:

https://github.com/dotnet/runtime/blob/853e494abd1c1e12d28a76829b4680af7f694afa/src/native/corehost/hostmisc/pal.h#L161
https://github.com/dotnet/runtime/blob/853e494abd1c1e12d28a76829b4680af7f694afa/src/native/corehost/hostmisc/pal.h#L169
https://github.com/dotnet/runtime/blob/853e494abd1c1e12d28a76829b4680af7f694afa/src/native/corehost/hostmisc/pal.h#L

[2022-03-09 01:27] AraHaan commented on #65791
Too bad each test could not run in separate processes so that way the testing lib could just analyzer the working sets on them all to find the test that uses the most memory.

[2022-03-09 01:30] vidommet commented on #64840
DataContractSerializer forces us to use XML and doesn’t provide all the flexibilities of Extensions.Configuration including OOB support for non-XML formats. We are expanding the capabilities of our library to support a broad list of formats and validation options. Extensions.Configuration is a much better option with this when compared to DataContractSerializer.

I am not trying to bring feature p

[2022-03-09 01:33] Arash-Sabet opened #66856 "Receiving the following error message after upgrading to .NET SDK 6.0.200 on MacOS: Error: 'Failed to initialize CoreCLR, HRESULT: 0x80004005' [/var/folders/4d/cbxjxphj73931v78kt_h2vr80000gn/T/il11v5iq.ifv/WorkerExtensions.csproj]"
### Describe the bug
Ensure that you have the latest version of MacOS on an x64 machine and install the latest .NET SDK version 6.0.200 on it. Compile a dotnet solution that used to be success and you will get the following error message:

[2022-03-09 01:36] AaronRobinsonMSFT commented on #66154
Ugh. I forgot the src/native directory.

[2022-03-09 01:37] AaronRobinsonMSFT commented on #66154
@elinor-fung Can you provide a PR for the 4996 issues in `src/native`?

[2022-03-09 01:47] elinor-fung opened #66371 "Timeout running `System.Text.Json.Serialization.Tests.CustomConverterTests.GetConverter_Poco_WriteThrowsNotSupportedException` on mono interpreter"
From [test result](https://dev.azure.com/dnceng/public/_build/results?buildId=1652456&view=ms.vss-test-web.build-test-results-tab&runId=45572582&resultId=185687&paneView=debug) and [log](https://helix.dot.net/api/2019-06-17/jobs/56bd84c8-6429-4c00-96b1-cb8dece26e37/workitems/System.Text.Json.Tests/console) from https://github.com/dotnet/runtime/pull/66307:
[code]

This test was added in https://gi

[2022-03-09 01:58] ericstj commented on #64840
The problem here is that configuration is never going to have the sort of features that serializers do.  Things that let folks be opinionated about the format of the input files or how conversions are done.  Its purpose is simpler.  Why should we add policy to the provider for this one case?  Others will certainly have more.

Can't the path be "convert your XML file by removing this node"?  If you

[2022-03-09 02:00] KalibGao commented on #64010
Ok, let me make it straight, can asp.net core or hosting service prevent Windows 10 from stopping my background service apps.

[2022-03-09 02:00] elinor-fung commented on #66371
Looks like we've hit the timeout five times since the test was added yesterday - the console logs from the five hits indicate `GetConverter_Poco_WriteThrowsNotSupportedException` was running.

[code]

|Queued                  |FriendlyName            |Status                |ConsoleUri|PhaseName

[2022-03-09 02:31] stephentoub commented on #60948
@davidwrighton, is there work remaining on this issue, or is the API functional enough now for Roslyn to target?

[2022-03-09 02:35] #66273 closed

[2022-03-09 02:51] jeffhandley commented on #65791
@Jozkee Could you take a look at this within the next couple days please?

[2022-03-09 02:58] davidfowl commented on #50406
I don't understand this outcome, what is the guidance for people that use `IMemoryCache`?

[2022-03-09 03:19] carlossanlop opened #66374 "Fix triple slash exceptions on `BlockingCollection.Take()` method"
As discussed here: https://github.com/dotnet/dotnet-api-docs/pull/7807/files#r822224919

- `OperationCanceledException` should be removed since the `Take()` overload. Only the `Take(CancelationToken)` overlos throws that exception.
- The `InvalidOperationException` should be updated to match what we have in dotnet-api-docs (make sure to fix it in both `Take` overloads if necessary): https://github

[2022-03-09 03:36] theodorzoulias commented on #66255
@Clockwork-Muse could you name a few .NET APIs, beyond the `List<T>.RemoveAll`, where this general rule is applicable? What other .NET APIs exist that are mutating an object from the results of a callback, and in case the callback fails, the object should be expected to be corrupt?

[2022-03-09 03:41] eerhardt commented on #50406
Who are the people that need to access the cache statistics, but don't know the concrete implementation of the cache?

My thinking is that the owners of the cache are the ones who want to report statistics on it. And if you own the cache, you know if you are working with our `MemoryCache`, or some other implementation.

[2022-03-09 03:46] davidfowl commented on #50406
That doesn't answer the question. When people are using dependency injection to configure the cache globally using AddMemoryCache, how does code in the application get that instance and get statistics? Are we saying that scenario isn't important? That's the main use case.

[2022-03-09 04:01] eerhardt commented on #50406
It gets the `IMemoryCache` from the DI container, and casts it. The application knows if it is using a `MemoryCache` or not. If the application is using a different cache implementation, it will need to get that cache implementation to implement a statistics API, and it can call that.

I think this is different than Adding/Removing from the cache. I can imagine library code (like ASP.NET) needing

[2022-03-09 04:18] elinor-fung commented on #66154
Yep, I will do that.

[2022-03-09 04:35] davidfowl commented on #50406
I think this is horrible, but lets document it so everyone at least knows what horrible thing we're telling them to do 😄 . https://docs.microsoft.com/en-us/aspnet/core/performance/caching/memory?view=aspnetcore-6.0#use-imemorycache

[2022-03-09 04:57] hez2010 opened #66376 "Proposal: Remove covariance on array"
## Proposal: Remove covariance on array
Prev discussion: https://github.com/dotnet/csharplang/discussions/5153

Basically covariance on array allows us to upcast an array. But it also leads to the following issue:

[code]

It's breaking the type system: a type error occurred in runtime regardless the compile-time type check.

And also, an interesting case:

[code]

Covariance array is not only bre

[2022-03-09 05:13] AArnott commented on #14746
This issue came from considering a struct that was particularly important to be thread-safe and would frequently be changed *in place* (`ImmutableArray<T>`). For that particular type, it was worthwhile to audit the type and fix it so all entrypoints observed its one, pointer-sized field no more than once. Because it's pointer sized, torn state was impossible, but it could still malfunction if the

[2022-03-09 05:29] deeprobin commented on #27292
@huoyaoyuan
I've seen that too, that we return a ValueTuple. And as far as I know CPUID is also an InternalCall and not an Intrinsic or?
We could try to mimic a ValueTuple, but I'm not sure if that would work so well, since `ValueTuple` has the `StructLayout` `Auto` and not `Sequential`.

Alternatively, we could create another `private static` intrinsic which is easier to represent (for ex. using

[2022-03-09 05:30] wfurt commented on #29270
Few more thoughts:
I would personally prefer one Class with multiple constructors if it comes to it or follow the `SslStream` pattern where you create the object with `AuthenticateAsClient` and `AuthenticateAsServer`  that can replace the ambiguous `GetOutgoingBlob`.

The `IsCompleted` probably follows the `Task` naming pattern in lack of return code. The `GetOutgoingBlob` gives you blob but it ca

[2022-03-09 05:31] deeprobin commented on #14336
@danmoseley
Oh thanks for the info Dan. Here is my comment.

I did apply to the Foundation a while back, but I don't know at what intervals they look at their applications :smile:.

[2022-03-09 06:04] VincentBu commented on #65040
Failed again in: [runtime-coreclr outerloop 20220308.4](https://dev.azure.com/dnceng/public/_build/results?buildId=1652840&view=ms.vss-test-web.build-test-results-tab&runId=45580722&resultId=100116&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-09 06:06] VincentBu opened #66377 "Test failure JIT/Regression/JitBlue/DevDiv_487702/DevDiv_487702/DevDiv_487702.sh"
Run: [runtime-coreclr outerloop 20220308.4](https://dev.azure.com/dnceng/public/_build/results?buildId=1652840&view=ms.vss-test-web.build-test-results-tab&runId=45580552&resultId=109576&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-03-09 06:37] Anderman commented on #64812
A columnreader give you also the possibility to a conversion / streaming before the complete row is read.  A big jsoncolomn can parsed before creating a big string. Also images etc can be streamed to the client before reading a complete row

[2022-03-09 06:50] kunalspathak commented on #64972
It seems that morphing should have taken care of updating the type to `SIMD8`, but that doesn't happen around here:

https://github.com/dotnet/runtime/blob/a0a5fc9771f63aa31cb45b3577a7cea31527a2fb/src/coreclr/jit/morph.cpp#L3809-L3815

[2022-03-09 06:52] Symbai commented on #66323
Can you show me how/where you handle this for a Windows desktop application and where it returns null then? Because from the code I've seen so far there is nothing like that. Previously I've used `Process.GetCurrentProcess().MainModule.Filename`, that always worked and its NOT a nullable string. Now VS suggested me to use `Environment.ProcessPath` which is nullable. I didn't implemented it so I do

[2022-03-09 06:55] kunalspathak commented on #64972
@SingleAccretion - were there any changes done in this area lately?

[2022-03-09 07:25] kunalspathak commented on #65942
Introduced in #65468

[2022-03-09 07:46] eiriktsarpalis commented on #66341
Thanks. This is likely an expected side-effect of the refactorings related to #63747. I'll see if I can negate the loss in future refactorings but it's likely a regression we'd want to take. In any case this should specifically concern deserialization of collections containing polymorphic elements which is not a particularly common scenario.

[2022-03-09 07:47] MaximLipnin opened #66380 "[windows][x64] Build failed in CI"
Configuration: `Build windows x64 Release AllSubsets_Mono`
Build: https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_apis/build/builds/1652171/logs/242

[code]

[2022-03-09 07:55] EgorBo commented on #66376
It seems to be one of those features .NET team regrets in terms of both perf impact and compile-time safety
but I'd guess it needs a proper analysis how many codebases this breaking change would brake.

References:

- [ARRAY COVARIANCE: NOT JUST UGLY, BUT SLOW TOO](https://codeblog.jonskeet.uk/2013/06/22/array-covariance-not-just-ugly-but-slow-too/) by Jon Skeet
- ["If I had a Gene that could fix

[2022-03-09 07:56] eiriktsarpalis commented on #31001
It's not an issue of unwillingness. As it stands, it seems unlikely we would consider augmenting existing interfaces with DIMs, because this is known to create both compile-time and runtime breaking changes in downstream consumers due to the potential for diamond ambiguities. See https://github.com/dotnet/runtime/issues/52775#issuecomment-843446017 for an example.

Related to #55106.

[2022-03-09 08:07] eiriktsarpalis commented on #54189
Having a dedicated property for the element type is something that would resolve the ambiguity in https://github.com/dotnet/runtime/issues/54189#issuecomment-1062027567. I think it's reasonable that such a feature should only support basic generics patterns, and not concern itself with nested collections.

[2022-03-09 08:13] Hjaltesorgenfrei commented on #62239
Yep, we have quite a lot of recursion in our graph. It is of course possible to refactor our application to avoid using `Transient` all the way down.
But it would be nice if the "default" worked, that being that everything is `Transient` unless there is a need for it to be scoped or a singleton. Or if one could choose which `ServiceProviderEngine` was used, so that we could avoid the problem in th

[2022-03-09 08:25] am11 commented on #66323
For example, this OS API: https://docs.microsoft.com/en-us/windows/win32/api/libloaderapi/nf-libloaderapi-getmodulefilenamea#return-value suggests that the call can fail under certain circumstances. Basically, it is not in caller's control whether or not OS will always return a value (.NET does not produce this string). Hence, the new API (Environment.ProcessPath) uses `null` as a fallback value,

[2022-03-09 08:28] roji commented on #64812
This proposal isn't about skipping the command - it's about skipping the connection. You're still executing a DbCommand, you'd just be doing it directly against a DbDataSource instead of against a DbCommand. As such, you'd still be using DbDataReader to consume the results - mapping to POCO is definitely out of scope here (and probably not a great fit for a low-level database API like ADO.NET).

S

[2022-03-09 08:33] alexrp commented on #66323
Note: #63272

[2022-03-09 08:34] eiriktsarpalis commented on #66371
The test logic itself is a fairly trivial unit test, however it does run as an isolated process using `RemoteExecutor` which on its own should contribute substantial overhead. We have a handful of other RemoteExecutor tests in the project, but none of them have been disabled for mono (although we do disable them in netfx due to unrelated infrastructural errors).

Should we just slap a `SkipOnMono`

[2022-03-09 08:42] manfred-brands commented on #66286
@stephentoub Thanks. So there is no way to do this pattern in the current system. Do you know of any plans to do this.

[2022-03-09 08:44] lateralusX commented on #66361
RuntimeHelpers.CompileMethod is used when we enter the JIT to JIT a method, but JIT:ing a mehtod in Mono can lead to classes loaded, assemblies loaded, more method JIT:ed in the process etc, so the marker indicates that we are about to compile a method, but that might end up to a series of runtime events.

You can also run with verbose nettrace, that will give you events connected to JIT:ing speci

[2022-03-09 08:48] kskog commented on #63187
Would be great if you could prioritize this. It seems to be a minor issue.. We're having issues with the serialport lib we use now and would love to switch to `System.IO.Ports.SerialPort`.

[2022-03-09 08:48] am11 commented on #66323
Thanks. Still, `MainModule` itself is nullable: https://github.com/dotnet/runtime/blob/a0a5fc9771f63aa31cb45b3577a7cea31527a2fb/src/libraries/System.Diagnostics.Process/ref/System.Diagnostics.Process.cs#L43 in case we can't get the filename, the loop `continue;`s.

[2022-03-09 08:56] SingleAccretion commented on #64972
@kunalspathak Nothing that I could think of, the code that folds `OBJ` into `LCL_VAR` is very old.

For reference, the reproduction for this issue is very simple:
[code]
As an experiment, I downloaded the artifacts from [this](https://dev.azure.com/dnceng/public/_build/results?buildId=1651977&view=results) `release/6.0` PR, and CGing the app did still fail:
[code]

[2022-03-09 09:08] WenceyWang commented on #66039
I think the idea of both @jkotas and me is that if we have both `ContinueAllocatingThenGC` and a callback, thus:

The GC will continue to allocate more after the original `totalBytes` is used up while still keeping in NoGCRegion then invoke callback after the additional allocation.
And if the further allocation failed, exit NoGCRegion, GC, invoke the callback.

[2022-03-09 09:38] vanillajonathan commented on #65074
@danmoseley Mark it as up for grabs.

[2022-03-09 09:42] WenceyWang commented on #66039
And also if the mode is GC, the callback can also be invoked after exit the NoGCRegion and GC.

And while in the `ContinueAllocatingUntilThrow` mode, the idea would be:

The GC will continue to try to allocate more after (the original totalBytes or the previous addition allocated memory) is used up while still keeping in NoGCRegion.
If the allocation success, invoke the callback.
if the allocation