[2020-08-12 09:27] eiriktsarpalis opened #40703 "Add tests for System.Diagnostics.Process.Responding"
https://github.com/dotnet/runtime/pull/38385 added a test for `Process.Responding`, which however was disabled since it depends on the current implementation characteristics of Wordpad.

We should replace it with a test that consistently reproduces the behaviour.

[2020-08-12 10:07] alnikola commented on #40249
@JamesNK I checked that log, but didn't find any signs of the mentioned problems. Could you please post here specific log lines which concern you?

[2020-08-12 10:08] qsdfplkj commented on #31742
@sake402  you should use: `var bases = new object[]{ new Foo(), new Bar() };`

[2020-08-12 10:09] alnikola commented on #40249
Just to clarify. I fully agree that we need to make HttpClient compatible to Kestrel (or vice versa). But, I believe there is no actual bug in handling MaxConcurrentStreams. It's a flaw in the protocol specification itself.

[2020-08-12 10:16] adamsitnik commented on #39721
Have you used the latest 5.0 bits? I've seen the same assembly code and no regression when using `.NET Core SDK=5.0.100-preview.8.20362.3` but when I use the python script to download the latest SDK (RC1) the there is a diff and a regression.

https://www.diffchecker.com/OfXOVRte

![obraz](https://user-images.githubusercontent.com/6011991/90004172-82bec680-dc95-11ea-9f50-fb9818cdd77c.png)

[code]

[2020-08-12 10:26] zsybupt commented on #40444
I think memory barrier before the assignment can prevent this, but the implementation of .NET Framework is after assignment (I think this is for preventing reorder).
If we change to:
[code]
[code]
L0095 load the address instead of the content, and every time in the loop will get the latest value.

Thanks for explaination, I read some articles and find that  [x86-x64 processor provides fairly stron

[2020-08-12 10:33] sake402 commented on #31742
@qsdfplkj that doesnt work.
Please see https://dotnetfiddle.net/NpiwnZ

[2020-08-12 10:41] JamesNK commented on #40249
Very first connection started. Note the time. Note the connection id: 0HM1OQ02379OT
[code]

First refused stream on that connection.
[code]

One of the many many retries to that same connection that happen until the stream errors and closes. Note that it is over 10 seconds later.

[code]

Another one. 40 seconds after the connection started.

[code]

Search for 0HM1OQ02379OT. The log file is absol

[2020-08-12 10:44] adamsitnik commented on #31448
I was not able to reproduce this regression, 5.0 is same as 3.1 and slighly faster than 2.1. Closing

[2020-08-12 10:44] #31448 closed

[2020-08-12 10:44] adamsitnik commented on #31448
I forgot to share the numbers....

 BenchmarkDotNet=v0.12.1.1405-nightly, OS=Windows 10.0.18363.959 (1909/November2019Update/19H2)
 Intel Xeon CPU E5-1650 v4 3.60GHz, 1 CPU, 12 logical and 6 physical cores
 .NET Core SDK=5.0.100-rc.1.20411.10
   [Host]     : .NET Core 2.1.11 (CoreCLR 4.6.27617.04, CoreFX 4.6.27617.02), X64 RyuJIT
   Job-HVDWYH : .NET Core 2.1.11 (CoreCLR 4.6.27617.04, CoreFX 4.6.2

[2020-08-12 10:53] movedoa opened #40704 "Provide ReadyToRun support for collectible assemblies"
Currently ReadyToRun is disabled when isCollectible is true in AssemblyLoadContext.
This means that users have to choose between pointless high memory consumption or bad startup performance if they load/unload a assemblies as runtime.

In our case its even worse because we load and unload a lot of assemblies an undefined amount of time so our memory consumption would explode without assembly unloa

[2020-08-12 10:54] #40683 closed

[2020-08-12 11:16] adamsitnik commented on #39060
Hello @fawdlstty

First of all, exposing a public API method for stopping (or crashing) your service can allow some attackers to easily take your service down (imagine that someone writes a script that pings this url in a neverending loop). Please don't do it. (cc @GrabYourPitchforks @bartonjs)

What do you use to host your app? Most of the web servers should allow for restarting selected services

[2020-08-12 11:19] ManickaP commented on #39648
Added few H2C test cases in #40702 for 5.0.
Not closing yet, better test coverage and h2c remote server should still be done in the future.

[2020-08-12 11:23] alnikola commented on #40249
They are **not** retries, they are all different requests that passed the initial stream limit check **when MaxConcurrentSreams was `infinite`**. This exactly what I explained above at step 3.1

HttpClient works really fast, so if you create a new client and start sending 250 requests concurrently, it's highly likely that all of them will manage to pass through the concurrent streams limit check *

[2020-08-12 11:31] KimKiHyuk commented on #32341
@thall90 you still work in progress on JsonHelpers?

[2020-08-12 11:31] alnikola commented on #40249
This is **not** throttling, it's still the same requests, passed the initial `infinite` stream limit check, sending their bodies to the server. This seems to be the reason for HTTP.SYS to grant 10s lifetime to unbounded number of streams after sending `MaxConcurrentStreams` setting to the client, that is to allow streams **created immediately after connection establishing** to finish successfully.

[2020-08-12 11:38] JamesNK commented on #40249
Once httpclient has the setting of 100 it shouldn’t keep sending requests to a connection that has 100 active connections. The connection will refuse it forever. Httpclient should send the request to a new connection. The flag to have multiple connections is true.

[2020-08-12 11:41] alnikola commented on #40249
But what to do with requests which **already** started sending bodies? Are you suggesting to terminate them?

[2020-08-12 11:43] jkotas commented on #40701
It was intentional decision to not port these APIs to .NET Core.

These APIs got added to .NET Framework as future proofing during the initial wave of speculative execution side-channel disclosures, with assumption that it may be useful to mitigate them. The software based mitigations were proven to be impractical as many more variants of the side-channels got discovered.

cc @AndyAyersMS

[2020-08-12 11:43] JamesNK commented on #40249
If the request is refused then hasn’t the request body already been terminated?

[2020-08-12 11:45] alnikola commented on #40249
Request refusal is an asynchronous message, it doesn't stop bytes already flying over the wire.

[2020-08-12 12:01] JamesNK commented on #40249
The server has refused the stream. Body data is ignored by the server.

[2020-08-12 12:04] karelz commented on #40249
We have a lengthy discussion here - let's try to drive to consensus.

Based on http.sys analysis above and thoughts about what Kestrel could do, I assume it won't be easy for Kestrel to truly support the spec-flaw of unbound streams at beginning.
I think the spec-workaround suggestion from above may be best way out of our troubles:
1. Start each connection with initial limit of 100 streams
2. Lift

[2020-08-12 12:07] alnikola commented on #40249
But per @Tratcher comment above, it looks like it should not be hard for Kestrel to do the same thing as HTTP.SYS

@karelz Or do you believe it's more hard to implement than it appears to be?

[2020-08-12 12:18] jkotas commented on #40651
It seems to work fine most of the time. It fails only once in a while.

I was able to reproduce this as well after leaving the repro run overnight. I have regular fully patched Windows version. kernelbase.dll version is 10.0.19041.423.

[2020-08-12 12:23] karelz commented on #40249
@alnikola while it may help, I don't think it is going to solve all problems we have seen here -- e.g. your experiment with MaxConcurrentStreams=1 showed that Kestrel (and likely other servers) currently tracks only MaxConcurrentStreams closed streams, and the other ones will cause the connection to be closed :(. That seems to be rather undesirable.

Given that client fix seems to be fairly simple

[2020-08-12 12:31] alnikola commented on #40249
Ok, I see.
But please also note that setting 100 as the initial MaxConcurrentStreams will probably decrease performance of the **existing** code in request spike scenarios when **the server is IIS** because currently IIS allows for an unlimited number of streams to keep going for 10 seconds which seems enough for many applications (e.g. health probes, fast GETs, etc.)

I'm fine if we decide to tra

[2020-08-12 12:37] karelz commented on #40249
Yes, understood. I believe that the IIS initial perf is just side-effect of the RFC flaw and not intentional unlimited streams support on http.sys side.
As such, it could go away at any time.
I would rather opt for the safe side, until we see real-world scenarios that require such initial burst perf and the server is appropriately configured for that (with truly unlimited streams count).

[2020-08-12 12:45] #20308 closed

[2020-08-12 12:59] arabelaa opened #40706 "[System.Net.Http.Json] ReadFromJsonAsync throws System.NotSupportedException : The provided ContentType is not supported - when content is NULL"
When having a null return type `ReadFromJsonAsync `throws an Exception because `ValidateContent `checks for mediaType.
In this case mediaType is null and an exception is thrown - `System.NotSupportedException : The provided ContentType is not supported; the supported types are 'application/json' and the structured syntax suffix 'application/+json'`.
[code]

I assume this is by design but I find it

[2020-08-12 13:05] MaceWindu opened #40707 "[System.Data.Odbc] ODBC cannot read values for types, missing from hardcoded predefined set of types"
### Description

`TypeMap.type table` throws `ArgumentException` for types outside of predefined set of types.
E.g. for SAP HANA ODBC (HDBODBC/HDBODBC32) provider it fails for spatial types like `ST_GEOMETRY`:
[code]

### Regression?

nope

### Other information

[2020-08-12 13:09] ManickaP opened #40708 "System.Security.Cryptography.X509Certificates.Tests.ChainTests.VerifyWithRevocation failing in outerloop"
For instance this run: https://dev.azure.com/dnceng/public/_build/results?buildId=766799&view=results
Multiple occurrences of this test failing.
Happening since `2020-08-11T21:51:22.31Z`, seems to be Linux-only problem.
Kusto query:
[code]

Only one commit in this space and time frame: https://github.com/dotnet/runtime/commit/efafca9bd8ba5a746634820596f8144d0d98fde1#diff-e90af7202ab9605abea2489746

[2020-08-12 13:17] jkotas commented on #40651
@janvorli discovered that this is may be caused by using SP that points to uncommitted stack page.

Here is a more reliable repro:

[code]

[2020-08-12 13:23] MichalStrehovsky commented on #40701
But since we ended up documenting this, and the ecosystem is picking up on the documented definition (e.g. https://github.com/0xd4d/dnlib/commit/71218f355899ee09fe6711bdc4153a71cbe1238a), does that mean we should consider the bit burned and not available for future use in .NET?

[2020-08-12 13:36] karelz commented on #38494
Fixed in #40267

[2020-08-12 13:50] vcsjones commented on #40708
I'm kind of in that space now, I'll take a look.

[2020-08-12 13:52] RevensofT commented on #40581
@AndyAyersMS
[This](https://github.com/dotnet/runtime/files/5063117/tail.call.stack.overflow.zip) is repo of vs solution of tail call stack over flow error, for source code of ILS.dll is here [IL Script](https://github.com/RevensofT/ils/tree/v2.5-Optimize)

[tail call stack overflow.zip](https://github.com/dotnet/runtime/files/5063117/tail.call.stack.overflow.zip)

[2020-08-12 13:55] jkotas commented on #40701
We named the bit in .NET Framework, but it is not doing anything useful otherwise. Using the bit for something actually useful in future versions should be ok.

[2020-08-12 13:57] karelz commented on #40679
The new API was fairly recent, so I don't think we use it in Preview7 just yet.
The old API does not support TLS 1.3 at all (it used to do it under an experimental switch over a range of Windows builds).

If the Windows API regressed for TLS 1.2, it might have regressed also for TLS 1.3 -- or our usage is wrong and it used to work and now it doesn't -- something to dig into.

[2020-08-12 13:59] eiriktsarpalis commented on #28114
Pushing to future. I wasn't able to get the happy path to work on my prototype, so will need to spend more time on this implementation. At the same time, the test for `ProcessStartInfo.LoadUserProfile` is long disabled (#18978). We should probably attempt to address the two issues at the same time.

[2020-08-12 14:06] tebeco commented on #40679
(thx)

[2020-08-12 14:06] ManickaP commented on #38494
Changing nullability of the existing `IEnumerable<KeyValuePair<string?, string?>>` API is not a correct solution. We internally handle nulls (in keys as well as in values) and encode them as `String.Empty`, see method [`Encode`](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Http/src/System/Net/Http/FormUrlEncodedContent.cs#L37-L39). This has been allowed in previous versio

[2020-08-12 14:13] fawdlstty commented on #39060
Called by Webhook and used for continuous deployment, the address is normally so complex that there is almost no vulnerability.
The software is very small and wants to be as simple as possible, so daemons and docker are not used.

Hosting mode is Kestrel, Can the problem be solved?

[2020-08-12 14:35] GeorgeAlexandria opened #40712 "AccessViolation on the gc phase"
Hello,

AccessViolation (AV) was raised a couple of time on the our app under `.net472` at a different state of GC, but unfortunately I can't attach dump of app. So I wrote a simple app ([AccessViolation.zip](https://github.com/dotnet/runtime/files/5063000/AccessViolation.zip)) that try to emulate work with memory as is doing our app. Simple app was running in 4-6 instances in parallel on the 16gb

[2020-08-12 14:38] martincostello commented on #38494
So for .NET **5**, what is the official recommendation to fix compiler warnings/errors caused by these new nullability annotations for existing uses of `Dictionary` as the value to the constructor?

[2020-08-12 14:45] kouvel commented on #40444
Because it's a loop there is a memory barrier before the load too (on subsequent iterations of the loop). So while the memory load for the first loop iteration could be hoisted out of the loop, subsequent iterations should be loading from memory I think.

[2020-08-12 14:47] kouvel commented on #40444
For a volatile load the memory barrier is after the load to ensure that any subsequent loads are at least as recent as the volatile load.

[2020-08-12 14:52] vcsjones commented on #40708
I can reproduce it. The problem is that the CA for the certificate we are testing is giving back a CRL with no `NextUpdate`. This code here doesn't seem to tolerate a CRL with no NextUpdate.

https://github.com/dotnet/runtime/blob/13d97e1ebb2d99e9aad631dcd1afb35f2d6c99ac/src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CrlCache.cs#L99-L100

Here is the

[2020-08-12 14:52] #35219 closed

[2020-08-12 15:05] maryamariyan commented on #40033
On
`Console.WriteLine($"ConfigSetting: {configForMain["Setting1"]}");`

Do you get anything printed in Console? I am guessing it is also not writing `ConfigSetting: `, so nothing to do with configuration per say.

Maybe you need to call UseSystemd and enable logging for Systemd. Then rather than using Console.WriteLine, you try Logger.Log and then it would show up in Console? Refer to https://devb

[2020-08-12 15:05] #38011 closed

[2020-08-12 15:08] alexxn commented on #40712
Upvoting this bug.

[2020-08-12 15:08] vcsjones commented on #40708
I think the appropriate fix here would be to modify the code so that if a CRL has an empty `NextUpdate`, return false from `AddCachedCrl` since we probably don't want to download a fresh CRL that is likely to be what we already have in the cache. Thoughts @bartonjs ?

[2020-08-12 15:10] zsybupt commented on #40444
I got you point, because there is a loop, so the next time it should load from memory, but the instructions generated load the value to register out of the loop, and  each time it loads from ecx register, it is still the cached value
[code]
If the last line is *jnz L006f*, I think it should be right

[2020-08-12 15:11] maryamariyan commented on #40218
@alefranz were you still up to taking a PR up for this?

[2020-08-12 15:16] Symbai opened #40716 "[Proposal] Expose cpuid"
## Background and Motivation

For some specific scenarios it's important to know the CPU Vendor / CPUID. The .NET Runtime itself also checks the CPUID already:
https://github.com/dotnet/runtime/blob/96f178d32b7ba62485917ac46ef1edcfd3c2d10d/src/libraries/System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/X86Base.cs#L71-L81
https://github.com/dotnet/runtime/blob/96f178d32b7ba62485917ac46ef1edc

[2020-08-12 15:21] alnikola commented on #35126
@dotnet/fxdc While implementing it, I realized that `Enumerator`s **cannot be marked with readonly** because they have mutable internal state. So, the PR differs from the approved version at two points: [HttpHeadersNonValidated.Enumerator](https://github.com/dotnet/runtime/blob/274ed2ef9829884bfd8bb46272cd25e2d48836f4/src/libraries/System.Net.Http/ref/System.Net.Http.cs#L514) and [HttpStringValue.

[2020-08-12 15:24] #479 closed

[2020-08-12 15:35] movedoa commented on #40430
Don't know if this is even a problem but just to mention it here.
An important feature for us would be the ability to dynamically load und unload native assemblies at runtime.

[2020-08-12 15:36] cston commented on #479
@adamrodger, thanks for reporting this issue and providing a great repro.

[2020-08-12 15:36] bartonjs commented on #40708
Returning false (cached file is corrupt, or expired) would make us download a new one, so I assume you meant "return true".

I'm having trouble identifying what Crypt32 does here.  I... think... they mark it as never-expiring in the cache.  The only thing I can think of better than that is to do something like 72 hours after the LastModifiedTime of the file when there's no nextUpdate.

[2020-08-12 15:36] bartonjs commented on #40708
Oh, and we should probably add a dynamic revocation test... and delete this one, since it's about to perma-fail.

[2020-08-12 15:36] danmosemsft commented on #40712
Does it repro on.NET 5.0 preview? That might be helpful to know.

[2020-08-12 15:44] maryamariyan commented on #40507
@dmitriyse for this proposal it would help if you could please provide an example logging usage and expected output for it.

[2020-08-12 15:46] alefranz commented on #40218
Sure, I'd like to! I've missed it was up for grabs, I guess github doesn't send notifications when labels are added.

[2020-08-12 15:48] SteveSandersonMS commented on #40617
Glad to hear that @BrzVlad!

@lewing mentioned he thinks there is already some profile trace exporting feature and maybe that can be adapted to our needs, if not just used directly. Larry, could you clarify what that existing feature is? Is it in the interpreter already? How does one tell it to capture a trace and access the resulting data?

[2020-08-12 15:50] reflectronic commented on #40716
That first method that you linked is a public API 😅 See #785, which was implemented last week.

[2020-08-12 15:50] sfoslund opened #40718 "No support to marshal Strings in structures to and from wchar_t."
---
**Issue moved from dotnet/sdk#12809**
- Please respond to @johndaintree.

---

_From @johndaintree on Thursday, August 6, 2020 2:28:49 PM_

I have a similar issue to the (now close, but not fixed) one made here:

https://github.com/dotnet/runtime/issues/8271#issuecomment-561912518

In that I have a lot of unmanaged code that uses structures that contain pointers to arrays of wchar_t. I'd like

[2020-08-12 15:50] sfoslund commented on #40718
---
**Issue moved from dotnet/sdk#12809**
- Please respond to @johndaintree.

---

_From @johndaintree on Thursday, August 6, 2020 2:31:35 PM_

It would also be great of System.Runtime.InteropServices.Charset could be similarly extended for use with P/Invoke.

[2020-08-12 15:52] Symbai commented on #40716
I wondered about that, couldn't find it in .NET 5 Preview 7, explains why 🤦‍♂️

[2020-08-12 15:52] #40716 closed

[2020-08-12 16:04] GrabYourPitchforks commented on #31402
We're no longer investing in this type, including closing any reported issues as "won't fix". I recommend closing this issue. But neat find! :)

[2020-08-12 16:06] mangod9 commented on #33051
@am11 any updates on this? If not might make sense to close this out and reopen if the issue repros. Thx.

[2020-08-12 16:11] josalem commented on #40696
Whoops!  Should be an easy fix.  I'll have a PR up soon.

[2020-08-12 16:13] Clockwork-Muse commented on #40697
I don't know, but frankly, I'd be far more worried [about this line](https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Extensions.Configuration.Json/src/JsonConfigurationFileParser.cs#L65):

[code]
... because that's going to be subject to culture shenanigans (now your config keys depend on the culture of the process used to read the file).  Was that the intention?

[2020-08-12 16:19] GrabYourPitchforks commented on #2116
I think the easiest thing to do would be Dan's suggestion of annotating the field with `[NonSerializable]` in the Core implementation. From looking at the `ManagementBaseObject` type it's pretty clear that the type itself isn't meant to be serializable, and third parties are not expected to create serializable subclasses.

[2020-08-12 16:34] captainsafia commented on #40721
@lewing Transferring this to the runtime repo in case something has changed with log verbosity here.

[2020-08-12 16:35] #40147 closed

[2020-08-12 16:44] ManickaP commented on #38494
Use the cast for now. Once, the API is in, you would just remove it.
BTW, I just tried that and I'm not getting any warnings about redundant cast.

[2020-08-12 16:45] eiriktsarpalis commented on #36768
Fixed by #36768

[2020-08-12 16:45] #36768 closed

[2020-08-12 16:46] captainsafia commented on #40723
@lewing This user reported an issue with incomplete timezone data in 3.2. Transferring it to the runtime repo to confirm that the data is complete for .NET 5.

[2020-08-12 16:47] titanix commented on #782
Why is this isn't in the library already? This is a very basic feature for a JSON library. System.Text.Json is not usable as it is.

[2020-08-12 16:59] RaphaelSilv commented on #40720
@dotnet/ncl @karelz could you help me properly move this issue?

[2020-08-12 17:04] tarekgh commented on #26961
I am working on optimizing ordinal cases in general but I am not going to change the way we do the toupper. the reason is it is easier to describe that the ordinal casing behavior is what UnicodeDatat.txt is providing. It is also case folding can introduce some cases that could be not expected for ordinal. I would not risk doing that and we can look in the future if we need to do it. closing it bu

[2020-08-12 17:04] #26961 closed

[2020-08-12 17:06] karelz commented on #40720
@RaphaelSilv it is hard to guess what you're having troubles with. Did you try to create minimal repro?
For example, in your 2nd code snippet, the string concatenated is not the same as the string in 1st code snippet (there are missing spaces). Is that making a difference?
As minimal repro I would use values as "a" and "b" to clarify where the problem lies.

[2020-08-12 17:20] tarekgh commented on #37349
I am moving this to 6.0 release as this is not a new behavior for invariant mode. we can revisit later to enhance Invariant mode if needed.

[2020-08-12 17:20] joperezr commented on #39641
Reopening to track the ingestion of this on dotnet/runtime which will actually fix the issue.

[2020-08-12 17:21] mangod9 commented on #34412
@AntonLapounov is there anything which still needs to be fixed here?

[2020-08-12 17:22] mangod9 commented on #34316
Closing since I can repro this anymore.

[2020-08-12 17:22] #34316 closed

[2020-08-12 17:23] mangod9 commented on #13522
@janvorli is there anything actionable here?

[2020-08-12 17:26] mangod9 commented on #39572
I think its ok to move this to 6.0. There was a discussion about publishTrimmed + R2R, and there are some unknowns there too.

[2020-08-12 17:30] daxian-dbw opened #40727 "Redirecting stdout/stderr of a process throws exception with .NET 5 preview.6 on WSL1"
### Description

This was reported in PowerShell repo (https://github.com/PowerShell/PowerShell/issues/13407), and it turns out to be a .NET 5 issue on Ubuntu 18.04 with WSL1.

#### Repro

On Ubuntu 18.04 with WSL1, run the following in PowerShell 7.1.0-preview.5 (using .NET 5 preview.6)

[code]

The exception is:

[code]

### Configuration

* Which version of .NET is the code running on:
    - .N

[2020-08-12 17:32] mangod9 commented on #33571
My comment was for @gaviriar who mentioned that they have been able to capture a dump when the build hangs. So sharing that would be helpful to continue the investigation. Thx.

[2020-08-12 17:32] Serg046 commented on #38852
But if we still wanted to change the behaviour, I would take it

[2020-08-12 17:39] MichalStrehovsky commented on #40701
If this is not triggering any extra behaviors in desktop CLR (like custom attribute searches), I guess it's fine to leave as-is. Would be worrisome if we were to repurpose this bit for something that ends up being commonly set to 1 otherwise.

Should we document it? (Something akin "SecurityMitigations - this value is reserved for future use" instead of what's there "Specifies that the JIT compile

[2020-08-12 17:39] steveharter commented on #35028
Closing this for the following reasons:
- `Type.MakeGenericType` is supported on platforms including Xamarin; the serialization usage was made drastically simpler in 5.0 and no reported issues have been reported.
- We have a [code-gen initiative](https://github.com/dotnet/runtime/issues/1568) `Type.MakeGenericType` will not be used for AOT scenarios. This will help scenarios that want faster start

[2020-08-12 17:39] #35028 closed

[2020-08-12 17:42] mangod9 commented on #40288
Hey @philieu, was able to get access to the dump, but we are having trouble inspecting managed frames. So checking whether the dump was collected with the appropriate [configuration](https://github.com/dotnet/runtime/blob/master/docs/design/coreclr/botr/xplat-minidump-generation.md#configurationpolicy)?

cc @janvorli

[2020-08-12 17:45] jkotas commented on #40701
Sounds good to me.

[2020-08-12 17:50] janvorli commented on #13522
I believe @davidwrighton has fixed that in one of his changes a long time ago, but I am not 100% sure.

[2020-08-12 17:54] eidylon commented on #28650
While this would be awesome, I do think it should be broader than just structs. It is something that would be helpful for all value types. ints, bools, or even enums. 100% vote for this, but for all value types.

[2020-08-12 18:01] isaacrlevin commented on #40033
It does not write ConfigSettings either, so probably a UseSystemd issue. Would that be a cause for the not reading of the setting? My reason is the real-world example of this is I had an IP Address in config and map it to Kestrel, and no matter what I do, it does not map

[2020-08-12 18:04] RaphaelSilv commented on #40720
@karelz, I apologize for the lack of info. Also, I've omitted an important element in my question: the `\n` character which I realize is the origin of my issue. I've already updated the question and added a minimal repro as well.

[2020-08-12 18:10] layomia commented on #782
Due to [other commitments](https://github.com/dotnet/runtime/projects/25#column-7634129) for 5.0, this will have to come in 6.0. Custom implementations can be utilized until then via [JsonSerializerOptions.PropertyNamingPolicy](https://docs.microsoft.com/dotnet/api/system.text.json.jsonserializeroptions.propertynamingpolicy?view=netcore-3.1).

[2020-08-12 18:12] john-h-k commented on #40430
@movedoa see the `NativeLibrary` APIs <https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.nativelibrary?view=netcore-3.1>

[2020-08-12 18:14] layomia commented on #40720
cc @Jozkee

[2020-08-12 18:18] danmosemsft commented on #2116
@danlyons-softek any interest in offering a PR for this? I assume not since you've worked around it, but you'd be welcome.

[2020-08-12 18:27] jkotas commented on #40727
Related #34861 / #34158

cc @stephentoub @tmds

[2020-08-12 18:35] stephentoub commented on #40727
Presumably this had to do with the code in Socket's SafeSocketHandle ctor that tries to determine whether the supplied socket is connected or not. I'm out right now and not in a position to debug what's going on. Maybe @wfurt can. If not, we can revert #34861, which uses that new ctor.

[2020-08-12 18:38] stephentoub commented on #40727
(It would also be good to understand what's different about the repro vs the Process tests we have, and augment the process tests accordingly.)

[2020-08-12 18:55] maryamariyan commented on #40507
Seems like the best way forward for issue is if we changed the output from

![image](https://user-images.githubusercontent.com/5897654/90055499-4342ab00-dc92-11ea-96b9-bc9d04e06b6a.png)

To rather just have

[code]
where X is the exception.ToString() content and to be similar with SystemdConsoleFormatter and SimpleConsoleFormatter then when FormatterOptions.JsonWriterOptions.Indented is false for

[2020-08-12 18:59] maryamariyan commented on #35922
Good point. Seems like a proper thing to do is for JsonConsoleFormatter to also call exception.ToString() as also described in this comment: https://github.com/dotnet/runtime/issues/40507#issuecomment-673050569

[2020-08-12 19:06] #35693 closed

[2020-08-12 19:17] am11 commented on #33051
The issue with `dotnet build` still persists, so this is waiting for fix. I am not sure `needs more info` is the right tag for this issue. I have already provided the public CI link where the build is breaking..

[2020-08-12 19:18] daxian-dbw commented on #40727
The code in PowerShell is the normal operations to start a process, you can [find the code here](https://github.com/PowerShell/PowerShell/blob/ede10850ccbedfeefebf3f9b722897c7e49781a2/src/System.Management.Automation/engine/NativeCommandProcessor.cs#L463-L468).

I think the WSL1 environment is the key factor in play for this issue. I also ran into trouble building PowerShell with .NET 5 preview.6

[2020-08-12 19:18] maryamariyan commented on #40033
Good I believe that is expected. Your sample code does not use UseSystemd as illustrated in the [devblog link](https://devblogs.microsoft.com/dotnet/net-core-and-systemd/), I think you want to try that out.

[2020-08-12 19:29] geoffkizer commented on #1505
HPackEncoder support for this is getting added in https://github.com/dotnet/runtime/pull/40689.

Remaining work for us is really just to have a big table that maps static header ID => KnownHeader. And possibly some small special handling for known values like ":method: GET".

[2020-08-12 19:31] Dante3085 opened #40731 "System.Text.Json custom indentation"
When serializing Json with System.Text.Json the only way to get indentation is to set [JsonSerializerOptions.WriteIndented](https://docs.microsoft.com/de-de/dotnet/api/system.text.json.jsonserializeroptions.writeindented?view=netcore-3.1) = true.
This will produce indentation like in the following example...

[code]

It would be very useful to be able to create custom indentation rules so that som

[2020-08-12 19:32] mangod9 commented on #40651
So this doesnt appear to be a .net regression, but something which needs to be fixed due to stricter validation from windows?

[2020-08-12 19:33] msschl opened #40732 "Missing dll's after dotnet publish for a blazor wasm app"
Running `dotnet publish` for a blazor wasm client and server app including grpc web results in some dll's missing.
The missing dll's in this case are e.g. `Grpc.Core.Api`, `Grpc.Net.Client`, and `Grpc.Net.Common`.

Probably due to the `Compressing Blazor WebAssembly publish artifacts. This may take a while...` step in a publish?

However, this leads to a crash in the client application:
![image](h

[2020-08-12 19:40] NikolaMilosavljevic commented on #38013
@swaroop-sridhar , this seems like app-host related and not a setup issue. If you feel that setup is more appropriate, please provide the reasoning for moving back to infrastructure-installer or setup areas.

[2020-08-12 19:40] msschl commented on #40732
I wasn't sure whether this issue belongs to the dotnet/runtime repo or dotnet/aspnetcore repo.

[2020-08-12 19:41] mangod9 commented on #33051
Can you please clarify what version are you still seeing the issue on (the original comment mentions 3.1.2)? Are there more details on the failure details? Thx

[2020-08-12 19:42] mconnew commented on #35678
I just ran into this problem for WCF Core Client. We have 2 test scenarios which work on .NET Core 3.1, but are failing on .NET 5. I've ran both failing scenarios against a WCF self hosted server as well as an IIS hosted server so I believe this is NOT a server side issue as this is using server side implementations which have been around for years. The same client code works on .NET Core 3.1 (and

[2020-08-12 19:52] geoffkizer commented on #40706
Dup of https://github.com/dotnet/runtime/issues/38713

[2020-08-12 19:55] am11 commented on #33051
The issue is from March, at that time it was tested on 3.1. Last link I shared (https://github.com/dotnet/runtime/issues/33051#issuecomment-658911567) is using preview 8. At this point I cannot test whether it works without `sched_getcpu` workaround due to another issue with the SDK, which CI logs show

[2020-08-12 19:56] geoffkizer commented on #40720
I don't see anything that indicates this is an HttpClient bug. If you think there's a bug here, you need to be more specific about what you think the bug is.

[2020-08-12 20:07] ManickaP commented on #40720
This seems like `HttpClient` is perfectly fine and you're getting an error from the server.
AFAIK `HttpClient` doesn't create `BadRequest` on its own.

[2020-08-12 20:08] janvorli commented on #33051
@am11 are you sure the underlying issue with the socket is #39279? Looking at the call stack in the Cirrus CI logs you have provided link to, it seems that there is a problem with a relatively recent change that uses socketpair to implement Process.Start redirection: #34861

[2020-08-12 20:12] tommcdon commented on #35885
We unable to repro and according to the test history in AzDO there have been no event pipe related failures in this test since June, so closing.

[2020-08-12 20:12] #35885 closed

[2020-08-12 20:16] am11 commented on #33051
@janvorli, you are right, it is a socketpair issue not the socket. There is another issue reported today for WSL https://github.com/dotnet/runtime/issues/40727, with similar callstack.

[2020-08-12 20:20] cspatig commented on #2303
Just following up on this. If someone could give me a quick overview of how to run the tests associated with the project I'd really appreciate it. I've been working through some of the header files in my spare time and everything seems to be building without issue, but I'd like the added security of knowing the tests are still working as expected.

[2020-08-12 20:20] Clockwork-Muse commented on #40731
.... how/why?  Other than possibly making it look prettier, does this help in some use-case?

Note that the current indentation rule is essentially "indent every element", which is simpler to implement than your proposed format.  Note too that in many interchange cases, the JSON is going to be minified - that is, have its whitespace removed - and appear to have no format.

[2020-08-12 20:26] janvorli commented on #2303
@cspatig here is what you can use to build and run coreclr tests that should exercise most of the coreclr native runtime:
On Windows:
From the root of the repo, run
[code]

On Linux or OSX:
From the root of the repo, run
[code]

[2020-08-12 20:27] sdmaclea commented on #2303
Also note, if you upload a draft PR, CI will run most of them.  It has the advantage of running the test on all supported architectures.

[2020-08-12 20:31] danmosemsft commented on #2303
I think at present CI has stopped running on draft PR's (separate issue) - if that's the case you may have to use a regular PR

[2020-08-12 20:31] steveharter commented on #36784
As covered in https://github.com/dotnet/runtime/issues/35028, the perf implications are mitigated by having an options code-gen approach for 6.0 that avoids MakeGenericType and because object and collections converters are normally based on reference types which do not have the same perf impacts as value types.

On this previous statement "It is important for 5.0 that we don't expose implementatio

[2020-08-12 20:31] #36784 closed

[2020-08-12 20:34] eiriktsarpalis opened #40735 "Console.In.Peek() always returning EOF after the first read line"
I came across the following behaviour when debugging a System.Console test. Running
[code]
Produces the following behaviour
[code]
Essentially it is impossible to use `Console.In.Peek()` after the first line has been consumed. Note that this behaviour manifests itself regardless of whether the buffer contains any characters. The following variant will produce the exact same observable behaviour:
[

[2020-08-12 20:35] Grauenwolf commented on #28650
An int or boolean is a struct in .NET. You're probably thinking of C.

[2020-08-12 20:41] NikolaMilosavljevic commented on #32982
There's a patch in source-build that could be incorporated in runtime repo.

[2020-08-12 20:45] GeorgeAlexandria commented on #40712
@danmosemsft, currently didn't try to repro it on .NET 5 preview or some actual version of .NET Core. Can try to repro if it's necessary, but it may take a time

[2020-08-12 20:46] RaphaelSilv commented on #40720
I appreciate all the efforts. I will rely on SO.

[2020-08-12 20:46] #40720 closed

[2020-08-12 20:49] eiriktsarpalis commented on #40735
Related to #39192.

[2020-08-12 20:50] GrabYourPitchforks opened #40737 "Tracking: Reflection issues which would be breaking changes if fixed"
Spoke with @steveharter yesterday and realized that there's a category of reflection issues which are truly legitimate bugs but which could be considered breaking changes if they were addressed. This meta-issue is an effort to aggregate these individual issues as we encounter them.

We need to determine the correct course of action for this category of issue. Should we fix them? What's the appropr

[2020-08-12 20:50] GrabYourPitchforks commented on #40737
I've tentatively marked this 6.0 so that we can make a decision soon as to how we want to address this category of issue.

[2020-08-12 20:53] janvorli commented on #40547
I was actually considering trying to do something like that some time ago, but I didn't have a chance to get to that. I will give it a try in the .NET 6 timeframe.

[2020-08-12 20:57] GrabYourPitchforks opened #40738 "Mono: MethodInfo.Invoke on a method that takes a ref struct by ref throws ExecutionEngineException"
See repro at https://github.com/dotnet/runtime/issues/38769. In coreclr, this sample succeeds even though it shouldn't (see https://github.com/dotnet/runtime/pull/40632). We're updating the logic to detect this condition and throw `NotSupportedException`.

The mono runtime correctly detects that there's an attempt to box a ref struct, and it fails with `ExecutionEngineException`. The unmanaged mon

[2020-08-12 20:59] Dante3085 commented on #40731
I would argue two things:
1. In the case of very big json files more compact forms of indentation like in the second image make the file more readable and reduce the number of lines in the file drastically.
2. The way the json is represented in the file should be an option to the user.

I am not proposing a specific format. I am proposing the functionality to create a custom format.

[2020-08-12 21:01] sharkguto opened #40739 "Snap installer - ubuntu 20.04 - libc musl"
Today after a snap refresh and update the dotnet-sdk snap package, i am not able to run it anymore.

ERROR:

/snap/dotnet-sdk/95/dotnet: error while loading shared libraries: libc.musl-x86_64.so.1: cannot open shared object file: No such file or directory

Troubleshooting:

[code]

I tried to install musl and create a symlink , without success.... someone can help me???

using last stable version

[2020-08-12 21:05] buyaa-n commented on #31402
Thank you @GrabYourPitchforks closing with `won't fix, obsoleted`

[2020-08-12 21:05] #31402 closed

[2020-08-12 21:51] steveharter commented on #28046
The `GenericMethodAwareAreParameterTypesEqual` logic only runs when standard reflection determines the types are not equal, so one can't be generic and another non-generic:

[code]

So I was unable to construct a case that hits the line in question.

FWIW the call stack when that line in question is hit:
[code]

[2020-08-12 22:09] mikem8361 commented on #39987
I can't seem to repro your issue with my simple test case that throws an unhandled exception.  I made it a self-contained app and the pdb is next to the exe and I get source/line info.  Using the exact same SDK version. There may be something unique about your environment or app.  Have you tried the above suggestions (embeded PDB, etc.)?

[code]

[2020-08-12 22:19] briansull commented on #40608
It appears to have failed in IlAsm when it tried to write the PE file.

[code]

[2020-08-12 22:33] #40708 closed

[2020-08-12 22:37] JamesNK commented on #40249
Agree with first point.

I think the second point shouldn't add complexity*. You're changing the limit based on the SETTINGS result from the server. If a setting isn't present then you're just defaulting the number to int.MaxValue. Pseudo code: `int maxConcurrentStreams = settings[MAX_CONCURRENT_STREAMS] ?? int.MaxValue`.

*As I finished this paragraph I realized that you'll only want to do this o

[2020-08-12 22:46] Clockwork-Muse commented on #40731
This presumes the user is reading it as a raw text file, and not in a program that is going to auto-format it in some fashion, or provide in-memory ways to munge the view.

Line count may or may not aid readability, but isn't necessarily a separate reasonable "goal" (otherwise you'd minify it, removing **all** lines).  Note that whether there are fewer lines would depend entirely on what the schem

[2020-08-12 23:00] buvinghausen commented on #38812
Another thing when serializing and deserializing dictionaries that have a key you should also check if a type converter to string exists for the key and if so use it.

Currently it blows up if you return a Dictionary<DateTime, string> even though DateTIme has a TypeConverter to string that could be used.

[2020-08-12 23:00] briansull commented on #40608
I wasn't able to repro this locally.

[2020-08-12 23:00] #40608 closed

[2020-08-12 23:12] danmosemsft commented on #40550
@lewing another CI hang this time in System.Collections.NonGeneric.Tests
[code]
There is no dump so I'm not sure how we can tell whether it's #40214.

[2020-08-12 23:16] danmosemsft commented on #40436
Failed again on net5.0-Linux-Debug-x64-CoreCLR_release-Centos.7.Amd64.Open
[code]
https://dev.azure.com/dnceng/public/_build/results?buildId=767524&view=ms.vss-test-web.build-test-results-tab&runId=23867748&paneView=debug&resultId=178458

Again it's Libraries Test Run release coreclr Linux x64 Debug

hit in https://github.com/dotnet/runtime/pull/40729

[2020-08-12 23:19] jkotas commented on #40651
This issue will be fixed in future Windows releases.

[2020-08-12 23:19] #40651 closed

[2020-08-12 23:23] jkotas commented on #40651
For internal reference, the Windows OS fix is PR #5041554 in os.2020 collection. "Rtl: Accept stack pointers in the guard page range.".

[2020-08-12 23:26] danmosemsft commented on #14084
This isn't required to ship 5.0

[2020-08-12 23:27] danmosemsft commented on #32416
@lambdageek are you planning on handling this? Can we move this out of the 5.0 milestone or is it required in order to ship ?

[2020-08-12 23:27] danmosemsft commented on #39114
@DrewScoggins did you get a chance to verify?

[2020-08-12 23:29] danmosemsft commented on #34753
@steveisok this is apparently Mono specific. Shall we move out of 5.0 now?

[2020-08-12 23:29] danmosemsft commented on #34495
@steveisok this is apparently Mono specific. Shall we move out of 5.0 now?

[2020-08-12 23:29] danmosemsft commented on #30566
Not blocking release of 5.0 product

[2020-08-12 23:30] danmosemsft commented on #27935
How is this blocking release of 5.0 product? Moving to Future.

[2020-08-12 23:32] danmosemsft commented on #31377
Leaving in 5.0 so loader folks can triage

[2020-08-12 23:32] maryamariyan commented on #36065
Not blocking release of 5.0 product.

[2020-08-12 23:36] danmosemsft commented on #37816
@tarekgh @safern are you tracking this as part of ICU perf remediation work? It would be good to know how we stand with respect to NLS-ICU perf gap. I know @tarekgh you mentioned an effort to cache casing table.

[2020-08-12 23:38] GrabYourPitchforks commented on #27935
I'm actually about to push up a PR for this.

[2020-08-12 23:39] noahfalk commented on #31862
I think the code is working 'by design', but the feedback would then be that this current design didn't match your expectations and we can discuss if it is a good design or not. The mismatched assumptions appear to be something like this:

Current design - Any code is allowed to create an Activity. If you want to log an outgoing Activity ID then you need to use a DiagnosticListener (or starting in

[2020-08-12 23:40] danmosemsft commented on #31451
I do not see this scenario in any of the 3.1->5.0 comparisons (I realize the claim was a 3.0->3.1 regression)

I do not believe we need this open as we have not gotten feedback that 3.1 perf is insufficient and the data is unclear.

[2020-08-12 23:40] #31451 closed

[2020-08-12 23:41] danmosemsft commented on #39028
@AndyAyersMS might you have cycles to compare the codegen for Dictionary<int, int>ContainsValue ? We did not change the code, apparently.

[2020-08-12 23:43] danmosemsft commented on #39108
@DrewScoggins I went here to take a look and I don't see it. Is this the wrong link?
https://pvscmdupload.blob.core.windows.net/reports/08_12_2020/report_Daily_ca=x64_cb=master_co=Ubuntu1804_cr=dotnetcoresdk_cc=CompliationMode=tiered-RunKind=micro_Baseline_bb=release-3.1.1xx_2020-08-12.html

[2020-08-12 23:44] GF-Huang commented on #39987
@mikem8361 I will try it later and report it, thanks for reminding.

[2020-08-12 23:51] lewing commented on #40550
@danmosemsft we are actively working some wasm GC related corruption problems.  Blazor will ship using the same GC mode it did in 3.2 which should not have these problems.  We plan to keep the on demand GC mode enabled for the runtime tests.

[2020-08-12 23:52] maryamariyan commented on #38852
@HaoK I think you added these tests earlier in PR https://github.com/aspnet/Configuration/pull/504. Do we close the issue as the behavior is intentional?

[2020-08-12 23:54] maryamariyan commented on #36041
@Rick-Anderson should this be transferred to dotnet/AspNetCore.Docs repo?

[2020-08-12 23:58] danmosemsft commented on #27935
Sounds good

[2020-08-12 23:59] #40721 closed

[2020-08-13 00:03] HaoK commented on #38852
Right the current behavior is intentional

[2020-08-13 00:07] DrewScoggins commented on #39114
Baseline:

[Host]     : .NET Core 3.1.6 (CoreCLR 4.700.20.26901, CoreFX 4.700.20.31603), X64 RyuJIT
Job-CISVEY : .NET Core 3.1.6 (CoreCLR 4.700.20.26901, CoreFX 4.700.20.31603), X64 RyuJIT

|  Method |     Mean |     Error |    StdDev |   Median |      Min |      Max | Gen 0 | Gen 1 | Gen 2 | Allocated |
|-------- |---------:|----------:|----------:|---------:|---------:|---------:|------:|------:

[2020-08-13 00:08] DrewScoggins commented on #39114
So I am also not seeing the regression either. Given that we can go ahead and just close this.

[2020-08-13 00:08] #39114 closed

[2020-08-13 00:08] #38852 closed

[2020-08-13 00:09] DrewScoggins commented on #31451
This sounds fine to me.

[2020-08-13 00:15] tarekgh commented on #37816
@danmosemsft I am focusing on the ordinal ignore casing (the high priority issue). This issue is not ordinal. I cannot cache all possible casing for all possible cultures. The best we can do here is to look if there is a way to optimize when calling ICU.

[2020-08-13 00:18] GrabYourPitchforks commented on #27935
Not sure why it got marked as blocking, though. That was weird.

[2020-08-13 00:20] tarekgh commented on #27935
could be when marked for design review?

[2020-08-13 00:31] terrajobst commented on #27935
Might have been some residue from the API review process.

[2020-08-13 00:34] danmosemsft commented on #40550
Thanks @lewing

I'm trying to improve my kusto querying powers, so I did
[code]
says

  |   |   |  
-- | -- | -- | --
  | Status | IsWasm | count_
  | Pass | 0 | 188786
  | Pass | 1 | 51838
  | Fail | 0 | 159
  | BadExit | 0 | 2151
  | Timeout | 0 | 307
  | Timeout | 1 | 29
  | Fail | 1 | 41
  | Error | 1 | 5
  | InfraRetry | 0 | 97
  | BadExit | 1 | 421
  | InfraRetry | 1 | 7

which I think means

[2020-08-13 00:37] DrewScoggins commented on #39108
That is the right link. Since it is not in the regression list that means we likely have dropped down in the timing of this test, and looking at this graph, that seems to be the case. This came from this [report](<https://pvscmdupload.blob.core.windows.net/reports/08_10_2020/Collections/report_Weekly_ca=x64_cb=master_co=Ubuntu1804_cr=dotnetcoresdk_cf=Collections_cc=CompliationMode=tiered-RunKind=m

[2020-08-13 00:46] danmosemsft commented on #39108
OK thanks. I find it pretty hard to navigate around https://aka.ms/dotnetperfindex . I found the first graph above but not the second. I opened what I think is the monthly report and it's not there
https://pvscmdupload.blob.core.windows.net/reports/08_01_2020/Libraries/report_Monthly_ca=x64_cb=master_co=Ubuntu1804_cr=dotnetcoresdk_cf=Libraries_cc=CompliationMode=tiered-RunKind=micro_2020-08-01.htm

[2020-08-13 00:47] danmosemsft commented on #39108
I wanted to get a graph with 3.1 on as well so we could see whether it was bimodal then and whether the modes overlapped.

[2020-08-13 00:57] jeffhandley commented on #40727
We'll take a look at this before the end of the week.

[2020-08-13 01:05] davidwrighton commented on #13522
I'll look into this in depth tomorrow.

[2020-08-13 01:15] wfurt commented on #35678
This looks like dup of #39011. (fixed very recently with #40222)
Could you please check with daily builds @mconnew?

[2020-08-13 01:24] steveisok commented on #34495
Yes

[2020-08-13 01:54] AndyAyersMS commented on #39028
Yes, I'll take a look.

[2020-08-13 01:59] AndyAyersMS commented on #40701
Sounds fine to me too.

[2020-08-13 02:03] AndyAyersMS commented on #13703
No, I haven't tried re-enabling this.

[2020-08-13 02:04] AndyAyersMS commented on #37082
I'll keep looking but it might also help to have somebody on the VM side looking too. cc @mangod9

[2020-08-13 02:05] AndyAyersMS commented on #40581
Thanks @RevensofT -- will report back what I see soon.

[2020-08-13 02:13] mangod9 commented on #37082
Is this still Linux arm32 specific failure, or repros on other platforms?

[2020-08-13 02:17] morphx666 commented on #3671
But isn't .NET Core supposed to be cross-platform? Isn't that one of its major selling points?
How are we supposed to compile for macOS if we can't sign the binaries?

[2020-08-13 04:19] dagood commented on #40739
This is weird, to my knowledge Ubuntu uses glibc, not musl, so I don't know why it would be looking for that in this case.

@leecow is it possible something weird happened like the snap ended up containing `linux-musl-x64` rather than `linux-x64`?
I haven't poked at this myself.

/cc @MichaelSimons @NikolaMilosavljevic

[2020-08-13 04:38] wfurt commented on #35942
cc: @bartonjs @blowdart

[2020-08-13 04:45] dagood commented on #40739
I wasn't able to get snapd working, but did find out how to download the dotnet-sdk snap raw via advice in https://forum.snapcraft.io/t/download-snap-package/14212/5, and yeah, the dir structure 7zip shows me is a little weird, but it's clear from `shared\Microsoft.NETCore.App\3.1.7\Microsoft.NETCore.App.deps.json` and some other places that it's `linux-musl-x64` rather than `linux-x64`.

It seems

[2020-08-13 05:00] jeffhandley commented on #38730
From what I understand, this detail won't interfere with the reported scenario that was leading to unexpected behavior, and this would align with the principle of least astonishment.

Thanks for doing that, @arunjvs.

[2020-08-13 05:07] Maoni0 commented on #40712
I have been running this (16 instances) on one of my machines for the past 8 hours with the current 5.0 build with no repro.

@ChrisAhna is this something you have cycles to help with? thanks so much!

[2020-08-13 05:45] v-haren opened #40751 "Test failure: Loader/CollectibleAssemblies/ByRefLocals/ByRefLocals/ByRefLocals.sh"
failed in job: [runtime-coreclr jitstress 20200811.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=766498&view=ms.vss-test-web.build-test-results-tab&runId=23829828&resultId=109456&paneView=debug)

failed test:
Loader/CollectibleAssemblies/ByRefLocals/ByRefLocals/ByRefLocals.sh
Loader\\CollectibleAssemblies\\ByRefLocals\\ByRefLocals\\ByRefLocals.cmd

Error message
[code]

[2020-08-13 05:50] justConfused opened #42222 "IOptionsSnapshot Results in High CPU 100% at 1500 RPS with 15 Node Cluster (8core per vm 32GB Memory)"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
IOptionsSnapshot Results in High CPU 100% at 1500 RPS with 15 Nod

[2020-08-13 05:50] jeffhandley commented on #39401
I was finally able to confirm that this can work.  Defining an internal `ObsoleteAttribute` in a netstandard2.0 library that includes `DiagnosticId` and `UrlFormat`, and consuming that API in another assembly will be respected by the tooling (command-line build as well as VS build), and it will show the warning/error respecting the diagnostic id and url format.

I'll move forward with that approac

[2020-08-13 05:50] #39401 closed

[2020-08-13 06:35] jeffhandley commented on #40111
Thanks for the suggestion.  We've considered it some more but decided to stick with the OS-specific version methods.

The OS-specific version methods allow us to understand versioning of each OS canonically and guide folks more easily into the right version checks.  As a bonus, the XML doc comments for the methods can reference how the version is detected on each platform, as is seen in this comme

[2020-08-13 06:44] MichalStrehovsky commented on #40701
I opened the linked pull request to update the docs.

I guess there's nothing else to do for this. We're free to reuse the bit in any way we desire in the future and we might as well forget something happened on desktop CLR. Closing.

[2020-08-13 06:44] #40701 closed

[2020-08-13 06:45] v-haren opened #40755 "Test failure: System.Security.Cryptography.X509Certificates.Tests.ChainTests.VerifyWithRevocation"
failed in job: [runtime-libraries outerloop 20200812.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=766799&view=ms.vss-test-web.build-test-results-tab&runId=23841332&resultId=103381&paneView=debug)

Error message
[code]

[2020-08-13 06:51] #31198 closed

[2020-08-13 06:53] MichalStrehovsky commented on #28046
It's possible this was only reachable from GetImplicitlyOverriddenBaseClassMember (I vaguely remember we hit this while trying to get inherited custom attributes on CoreRT). Since MetadataLoadContext decided it doesn't want to support APIs that retrieve inherited attributes and you're deleting the vestigial support for it, it's possible the bug is unreachable (still there, for someone to hit in th

[2020-08-13 07:04] Dante3085 commented on #40731
I accept your arguments. The [answer](https://stackoverflow.com/questions/63376873/in-system-text-json-is-it-possible-to-specify-custom-indentation-rules) to my question on stack overflow where i originally asked this, mentioned at the bottom that this is possible with Json.Net. If it's okay I will close this issue then.

[2020-08-13 07:15] WernerMairl commented on #40507
@maryamariyan  your proposal looks nice and simple but i think the main purpose of this logger was providing output with more (predictable) structured output details specially for other engines that are interpreting logs (ApplicationInsights et.al)

the more complex way (and not easy to implement) may be using the full capabilities to implement hierarchies inside Json:

[code]

using "InnerExcepti

[2020-08-13 07:50] kirsan31 commented on #40512
@RussKie @merriemcgaw I think guys here not 100% sure what going on with this in WinForms.
This is nasty regression from .net Framework - not to able using asserts :(

[2020-08-13 08:30] gleb-grigoriev opened #40758 "Net core app silently crash if exception occurs during inherited type creation from dynamic loaded library."
### Configuration

.Net core 3.1.5, windows 10

### Other information

I have asp net core app which loads dll dynamically using    AssemblyLoadContext.
Assembly loads fine but later when I try to create type located in this assembly app silently crashes (closes) without any information.

`            var type = asm.GetType("A");
            var factory = type.GetConstructor(new[] { inputData.GetT

[2020-08-13 08:46] gleb-grigoriev commented on #40758
Ohh.. seems that I choose the wrong bugtracker...or?

[2020-08-13 09:32] #371 closed

[2020-08-13 10:01] TonyValenti opened #40761 "Generic Attributes"
Please allow attributes to be generic.  For example:
[code]

[2020-08-13 10:02] stephentoub commented on #37664
This got moved to Future.  Shouldn't this be fixed for 5.0?  If the problem is what's described above (https://github.com/dotnet/runtime/issues/37664#issuecomment-641530658), this is also an issue with Microsoft.Extensions.
cc: @maryamariyan

[2020-08-13 10:07] antonfirsov commented on #40436
Hit in #40506

https://dev.azure.com/dnceng/public/_build/results?buildId=767472&view=ms.vss-test-web.build-test-results-tab&runId=23866186&resultId=178920&paneView=debug

[2020-08-13 10:08] karelz commented on #1510
Moving to 6.0 and unassigning.
Next step: Figure out if the issue is still reproducible.

[2020-08-13 10:09] karelz commented on #1586
Moving to 6.0 and unassigning.
Next step: Figure out if it still reproduces.

[2020-08-13 10:24] tomrus88 commented on #40761
https://github.com/dotnet/csharplang/issues/124

[2020-08-13 10:25] karelz commented on #40514
@MihaZupan is it from recently added test? If not, is it common test failure?

[2020-08-13 10:27] karelz commented on #40706
Duplicate of #38713

[2020-08-13 10:27] #40706 closed

[2020-08-13 10:31] lcsondes opened #40764 "MemoryStream that works with Memory<T>"
## Background and Motivation

I needed to wrap a `Memory<byte>` as a `Stream`, so I went to everyone's old friend, `MemoryStream` to see if it has an overload. It doesn't. I looked for related classes to see if there was something named similarly. I couldn't find any. I ended up writing my own but I feel like this should be part of the standard toolkit, especially given that everything these days

[2020-08-13 10:31] MihaZupan commented on #40514
It was added 1 month ago in #38409. I made a small change in #40665 that should give us more info when the test does fail.

As far as I can tell it is on average failing once a week on master.

[2020-08-13 10:43] EgorBo commented on #37709
validated:
we print
[code]
so does .NET 5 (coreclr) on Windows and *nix

.NET 3.1 on Windows prints
[code]
because it uses NLS and since .NET 5 it tries to use ICU on all platforms.

[2020-08-13 10:43] #37709 closed

[2020-08-13 10:48] EgorBo commented on #37709
NOTE: there are other "breaking changes" between NLS and ICU e.g. https://github.com/dotnet/runtime/issues/40258#issuecomment-668123640

[2020-08-13 10:58] antonfirsov commented on #40627
@karelz unless anyone confirms that it happened again, I think this was just a weird git artifact, and we can close.

[2020-08-13 11:09] lindexi opened #40768 "Can the GetProcessesByName method reduce the number of arrays and Process objects created?"
### Description

As written in the code, GetProcessesByName first calls GetProcesses to obtain all processes of the machine, and then filters the process name

[code]

But in fact, we can filter the process name in GetProcesses in advance.

[code]

If we do this, we can reduce the allocation length of the Process array and create some Process objects in the GetProcesses method

[2020-08-13 11:12] karelz commented on #40678
Reproduced on .NET Core 3.1 and on .NET Framework.

The name is not discarded, the standalone value is just treated as value, where key is 'null'. String `?a=b&a=c` will be parsed as `a` key with multiple values (`b,c`).
While it feels a bit odd, it is likely the only reasonable way to support something like `?a&a=b` in the collection.
Given that it is behavior from .NET Framework, I would suggest

[2020-08-13 11:50] YairHalberstadt opened #40770 "Help with improving JIT for method"
I'm using extension GetEnumerator (coming in C# 9) to implement foreach on Range. See https://github.com/YairHalberstadt/RangeForeach.

I'm using sharplab to check the jit output.

I want everybody to be able to rewrite their for loops to foreach loops without having to think about any potential performance impact. Therefore ideally we'd want `M1` and `M2` in:

[code]

To have identical asm.

My c

[2020-08-13 12:05] CincySteve commented on #39450
@danmosemsft Dan - I don't know if there's a side channel to get this message to you about subscribing, so I'll have to post it here.  I would like to be subscribed to this issue and the others I created.  The site shows that I am subscribed in the notifications box above and to the right and my email is correct in my profile, but I am not getting any email notifications from GitHub.  Can you help

[2020-08-13 12:07] karelz commented on #35678
@wfurt if you suspect even the original report as a dupe, we should mark it so and wait for confirmation.

[2020-08-13 12:09] lindexi opened #40771 "The Component Dispose is not safe in lock"
### Description

The System.ComponentModel.Component will lock self when enter Dispose. Maybe there will be dead locks in this approach.

        protected virtual void Dispose(bool disposing)
        {
            if (disposing)
            {
                lock (this)
                {
                    _site?.Container?.Remove(this);
                    if (_events != null)

[2020-08-13 12:11] eiriktsarpalis commented on #40727
The same issue seems to impact dotnet sdk too:
[code]

[2020-08-13 12:14] CincySteve commented on #39450
In case it helps, here's another exception message that provides no guidance as to where the exception happened.  I know the component that triggered it, but the debugger isn't stopping on any break points in the overridden OnInitialized method.  The debugger situation may be a separate issue, but a lack of guidance in these messages is part of the problem too.  This particular set of messages go

[2020-08-13 12:38] #15771 closed

[2020-08-13 12:53] SamMonoRT commented on #40214
We'll ship with full GC disabled just like the prior release. The tests will have GC enabled to flush out such issues. Moving to 6.0.0 Milestone.

[2020-08-13 12:58] eiriktsarpalis commented on #40727
Here's a minimal repro:
[code]

[2020-08-13 13:12] alnikola commented on #38944
This error is already tracked in the umbrella issue. #40388

[2020-08-13 13:12] alnikola commented on #38944
Duplicate of #40388

[2020-08-13 13:12] #38944 closed

[2020-08-13 13:33] JessieArr opened #40774 "Is it Possible to Fetch ARP Info in .NET Core?"
Hello!

Is it possible to fetch ARP lookups or the cached results of previous lookups via .NET Core?

I'm interested in something like the output from `arp -a` at the Windows command line, or the Powershell `Get-NetNeighbor` commandlet (which seems to be unsupported in Powershell Core currently.)

It looks like most of the solutions in .NET Framework either rely on p/invoke, or starting arp as a c

[2020-08-13 13:35] #36211 closed

[2020-08-13 13:37] karelz commented on #40627
Closing as it seems to be point in time problem.

[2020-08-13 13:37] #40627 closed

[2020-08-13 14:08] GeorgeAlexandria commented on #40712
After installation .NET 5 preview 7 sdk and building app under `.net5.0` by visual studio 16.7.1 AV still persists:

**1)** Dump: https://drive.google.com/file/d/1yCk1lCsRYA2fx52vqP1gvzUQMbby4O0y/view with AV on
**coreclr!MethodTable::GetFlag [inlined in coreclr!WKS::gc_heap::background_mark_simple1]**

**2)** Dump: https://drive.google.com/file/d/15ODUo_sIoAVaZm9SkyTezeLScxGBt-7W/view with AV on

[2020-08-13 14:17] sharkguto commented on #40739
Thanks for the troubleshooting dagood! My team got a big problem with this bug inside snap package. I hope someone can fix it soon.

Grateful for your attention

[2020-08-13 14:18] #38406 closed

[2020-08-13 14:36] layomia commented on #40731
Adding extension points like this comes with a performance cost at the lower-level reader and writer and does not present a good trade-off between perf and functionality/benefit. Providing such configuration is not on the System.Text.Json roadmap.

[2020-08-13 14:36] #40731 closed

[2020-08-13 14:42] ManickaP opened #40776 "ActivityId missing in a newly added HttpTelemetry Stop events."
In non-trivial number of cases, the [`RequestStop`](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Http/src/System/Net/Http/HttpTelemetry.cs#L41) event has empty activity id.

`9 945` out of `35 452` requests sent during HTTP FunctionalTests were missing activity id.

Other `Start/Stop` event pairs introduced with the new telemetry are not properly linked with ActivityId as

[2020-08-13 14:42] eduard-bystrov opened #40777 "HttpHandlerDiagnosticListener does not send second chain of events if the request was autoredirected on netfx in W3C mode"
Here from https://github.com/dotnet/runtime/issues/38152

Request with status code 401(Unauthorized) can be autoredirected, which leads to the execution of the second request on the same object HttpWebRequest (may be HttpRequestMessage too).

If this happens we have the following chain of events:

1) System.Net.Http.Desktop.HttpRequestOut.Start
2) System.Net.Http.Desktop.HttpRequestOut.Ex.Stop (go

[2020-08-13 14:54] karelz commented on #40777
@eduard-bystrov were you able to reproduce it also on .NET Core?
Or is the report only about .NET Framework?

[2020-08-13 15:15] #31389 closed

[2020-08-13 15:16] ManickaP opened #40778 "Incremental call of `build.cmd` / `build.sh` removes hostpolicy.dll / libhostpolicy.so and prevents running tests."
When `build.sh` is run multiple times without full repository clean (`git clean -dfx`) then the tests fails with:
[code]

Also the final message is a bit confusing since there hasn't been any tests run:
[code]

Output:
<details>

[code]

</details>

Repro steps:
[code]

[2020-08-13 15:24] vcsjones commented on #40755
This looks like a dupe of https://github.com/dotnet/runtime/issues/40708, which was recently fixed. The linked job ran before the fix was merged.

[2020-08-13 15:24] #40755 closed

[2020-08-13 15:24] jkotas commented on #40758
Is it possible to share the project that reproduces the problem?

[2020-08-13 15:25] jkotas commented on #40761
Runtime support this. This is C# limitation. Resolving as duplicate of dotnet/csharplang#124

[2020-08-13 15:25] #40761 closed

[2020-08-13 15:31] jkotas commented on #40764
Duplicate of https://github.com/dotnet/runtime/issues/22838

[2020-08-13 15:31] #40764 closed

[2020-08-13 15:35] leecow commented on #40739
@rbhanda to take a look at the build.

[2020-08-13 15:37] vcsjones commented on #40778
I've been hitting this _a lot_ the past week or two. I don't know what I've been doing to cause it, but it's frustrating because I've only been able to fix it with a full `git clean -xdf` (`build.sh -clean` does not fix) and then I have to spent time downloading the SDK again.

[2020-08-13 15:41] ManickaP commented on #40778
@safern shared a workaround.

Run this after the subsequent build instead of the full rebuild:
[code]

[2020-08-13 15:43] tqiu8 commented on #40723
The correct name is now being outputted for .NET5

Code:
[code]

Output:
[code]

[2020-08-13 15:44] KalleOlaviNiemitalo commented on #38478
Could perhaps check [MethodBase.IsSpecialName](https://docs.microsoft.com/dotnet/api/system.reflection.methodbase.isspecialname?view=net-5.0) around here: <https://github.com/dotnet/runtime/blob/53976d38b1bd6917b8fa4d1dd4f009728ece3adb/src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs#L3140-L3152>

That would take care of property accessors and event accessors, at

[2020-08-13 15:49] jkotas commented on #40416
@safern @ericstj @danmosemsft This is taking down a large number of PRs. Can we prioritize getting it fixed?

[2020-08-13 15:50] fschmied commented on #38852
@maryamariyan Are you sure that closing this is a good thing - even if it was intentional, it's very surprising and a likely cause of errors?

[2020-08-13 15:52] danmosemsft commented on #40412
It's likely it won't be useful, but you could try running `!analyze -v` in [windbg](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/debugger-download-tools) and share the result -- that wouldn't require sending the dump.

[2020-08-13 15:54] danmosemsft commented on #40412
Another idea is to run with pageheap enabled (https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/gflags) if you have the opportunity to run a separate test instance to repro it (it will make it unnacceptably slow for production)

Does your client have a Microsoft support contract? If so I would encourage them to open a case. The support folks know all the tricks for getting useful

[2020-08-13 15:55] ZiadMadkour opened #40782 ".net 5 backward compatiblity with .net framework?"
This is not an issue but a want an answer if you please.

Our product has multiple projects/package involved, they are a mix between .Net framework, .net standard and .net core.

If we used a .net framework library on .net 5 application, will it run? we are having a parser based on lex-yacc .net framework package.

In other words,  Is .net 5 backward compatible with .net framework?

[2020-08-13 16:00] am11 commented on #40416
Made a similar fix for `SuppressGCTransitionAttribute`, by listing it in `eng/DefaultGenApiDocIds.txt`. Not sure if it is applicable to `TypeConverterAttribute`.

[2020-08-13 16:06] SingleAccretion commented on #40770
It appears you are using x86 JIT. That said, x64 code with my recent-ish version of the runtime, obtained via Disasmo, is not substantially different:
[code]

I was able to make the comparison go away with this hack, but I do not know if it is good enough in the general case:

[code]
[code]

[2020-08-13 16:17] AndyAyersMS commented on #40444
cc @dotnet/jit-contrib

Looking at what the jit does. Here's the Loop body
[code]
The jit's will hoist the load out of the loop:
[code]
Surprised we'd hoist like this with (or without) the memory barrier. I thought we treated statics as implicitly volatile.

Resulting loop may not terminate
[code]
Note using the actual `Thread.VolatileRead` works as expected; codegen for the loop is
[code]

[2020-08-13 16:19] CarolEidt commented on #40542
@echesakovMSFT - it seems to me that this line: https://github.com/dotnet/runtime/blob/master/src/tests/JIT/HardwareIntrinsics/Arm/Shared/StoreSelectedScalarTest.template#L431 is overwriting `outArray`, which in this case has a single element.

[2020-08-13 16:20] leecow commented on #40739
Rolled back the 3.1 offerings in the Snap store to 3.1.302 until this gets worked out.

[2020-08-13 16:22] AndyAyersMS commented on #11848
@sandreenko wondering if your recent work on small struct enregistration has fixed the last issue here. Can you take a look?

[2020-08-13 16:23] AndyAyersMS commented on #40770
Thanks for the report. #11848 called out a number of issues with the performance of `Range`. Good news is that most of these have been addressed over time, but it looks like there's more to do.

Marking as future since we're closing down work for 5.0

cc @dotnet/jit-contrib

[2020-08-13 16:23] safern commented on #40416
This is my top priority, I added logging to APICompat and ran multiple builds from a branch using APICompat... now looking at the logs and trying to find the reason behind it. It seems like a race condition... if I can't fix this today I can baseline the errors temporarily until I found the fix.

We don't want to do this as that means that we don't check those attributes in between ref and impleme

[2020-08-13 16:25] safern commented on #40778
Or you could also do:

[code]

if you don't want to run 2 different steps.

[2020-08-13 16:25] AndyAyersMS commented on #37082
Linux arm32 only.

[2020-08-13 16:26] mangod9 commented on #37082
Ok, thx. + @AntonLapounov

[2020-08-13 16:27] AndyAyersMS commented on #40751
cc @dotnet/jit-contrib

Treating as 5.0 at least until we've root-caused this.

[2020-08-13 16:28] ENikS commented on #35999
@davidfowl

With so many changes to layout of the repositories, could you point me to a suggested way of building and testing latest DI?
Is there easier way of doing it than building entire runtime libraries?

[2020-08-13 16:28] karelz commented on #40249
@alnikola can you please file remaining issue around REFUSED_STREAM for 6.0 -- we may want to look into that and make sure the E2E works with Kestrel final.

[2020-08-13 16:29] cston commented on #33479
The delegate is a dynamic method which is not viewable in the debugger.

[2020-08-13 16:31] danmosemsft commented on #40416
@safern what do you tihnk about putting up a PR to do this while you work on it? I think you could reasonabledirect-submit it if it's just an edit to the baseline and you build locally to check, since the risk is outweighed by the cost of these breaks.

[2020-08-13 16:33] danmosemsft commented on #40416
As a general rule if something hits CI it's good to immediately suppress the problem if we can, while we work on it. (?)

[2020-08-13 16:33] cston commented on #39433
@yecril71pl

Does the private type key lead to an issue? Thanks.

[2020-08-13 16:34] safern commented on #40416
Yeah I guess that makes sense.

[2020-08-13 16:37] YairHalberstadt commented on #40770
That's great @AndyAyersMS

When we remove all usage of range, and just pass in the start and end directly:

[code]

X86 does a pretty good job:

[code]

x64 meanwhile is still not great:

[code]

[2020-08-13 16:39] cston commented on #32878
Moving to 6.0.

Please follow up if this needs to be addressed sooner.

[2020-08-13 16:40] alnikola opened #40784 "[Follow-up] Properly handle infinite MaxConcurrentStreams value on new Http2Connection"
Http2Connection is currently created with an 'infinite' MaxConcurrentStreams value as it's demanded by RFC. However, the most of servers does not support unbound active streams number on an HTTP/2 connection because it would make them vulnerable against DOS attacks. Thus, they send a specific MaxConcurrentStreams value with the first SETTINGS frame and respond with REFUSE_STREAM error to opening e

[2020-08-13 16:45] blowdart commented on #35942
I think you'd have to justify this with numbers. I am suspicous of crappy IoT devices. Hopefully they'd support SSL3 by now, but I don't think you can do this with a wave of a hand. There should be a deprecation strategy to give people enough time to scream if they're still in need of SSL2.

[2020-08-13 16:45] SingleAccretion commented on #40770
This is not the codegen I am getting. I too saw it on sharplab and was a bit puzzled. But it does indeed seem like .NET 5 is that much better than .NET Core 3.1 in this case.

[2020-08-13 16:47] alnikola commented on #40249
@karelz Follow-up issue submitted #40784
I believe we need to look at both of client and Kestrel sides to find the most efficient and safe solution to this problem.

So far, it seems the easiest fix would be to handle this scenario in Kester the same way as HTTP.SYS does.

But let's also can consider other options.

[2020-08-13 16:47] rbhanda commented on #40739
We have published the snap packages again. This should be resolved now

[2020-08-13 16:48] sidney-pauly opened #40785 ""error CS0535: x does not implement interface member y" only thrown if using Nullable reference types"
### Description
While working with generic interfaces and default implementing the I encountered a very strange bug. Consider the following combination of interfaces and classes:
[code]

And

Important for reproducing the error: Implement this in another package:

[code]

Quick explanation: A read-only interface with a dictionary is introduced. The read and write interface is build on top and defa

[2020-08-13 16:48] gleb-grigoriev commented on #40758
Well. I could try to prepare test project if needed. But now I have more details. class B has incorrect (temporary) code in constructor
`this != "";` and  bug in overloaded operators !=/==.  which cause StackOverflow exception. For some reason i could catch this exception in .net core 3.1 console app but not in asp .net....should I still prepare a test project?

[2020-08-13 16:49] briansull commented on #40444
A memory barrier should block any expression from being hoisted before it.

I will take a look.

[2020-08-13 16:50] gleb-grigoriev commented on #40758
So probably the issue is : if Stackoverflow exception occurs in dynamically load type in asp .net - application silently crash. I`ve tried to throw Stackoverflow exception manually but on this case everything works fine.

[2020-08-13 16:52] yecril71pl commented on #39433
When you get an exception from PowerShell, you can interactively investigate its content.  The content of the serialisation is presented using a default format, which means you can see the key but you cannot look at the content at the key because the key itself is inaccessible.  This leads to user frustration.  The fix would be to use the class name as the key.

[2020-08-13 16:53] #1577 closed

[2020-08-13 16:59] echesakovMSFT commented on #40538
@davidwrighton The test seems to fail again in https://dev.azure.com/dnceng/public/_build/results?buildId=768267 in *CoreCLR Linux arm64 Checked gcstress0xc_jitstress1* leg on top of 3873bf5
[code]

https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-9e76da7a186b44dba8/PayloadGroup0/console.8830aa4a.log?sv=2019-02-02&se=2020-09-02T04%3A02%3A09Z&sr=c&sp=rl&sig=DC

[2020-08-13 17:05] echesakovMSFT commented on #40538
There is already an issue for this - #40751

[2020-08-13 17:12] jkotas commented on #40758
StackOverflowException cannot not be caught using try/catch in C#. You should still see an error message when stackoverflow happens.

I doubt that the behavior depends on whether the module is dynamically loaded. The behavior difference is more likely caused by ASP.NET hosting layer. It may be still useful if you can create a project that demonstrates the problem if it is not hard.

[2020-08-13 17:21] dagood commented on #40739
@rbhanda I noticed that [3.1.6](https://github.com/dotnet/core/issues/4939) resolved known issue backlink, but doesn't 3.1.401 actually contain a [3.1.7](https://github.com/dotnet/core/issues/5057) runtime so it should be posted there instead?

[2020-08-13 17:24] rbhanda commented on #40739
It seems I updated wrong issue. I added the list of issues in our August post

[2020-08-13 17:24] gleb-grigoriev commented on #40758
are are right. I`m able to catch stackoverflow not in catch but in debugger (it stops on the line) and I see message in normal console app.But asp .net core app is silently closes. If I will have time - I`ll try to create a sample.

[2020-08-13 17:27] mangod9 commented on #40712
Thanks @GeorgeAlexandria to trying on .net 5. We will investigate.

[2020-08-13 17:30] sandreenko commented on #11848
Will do.

[2020-08-13 17:30] #40578 closed

[2020-08-13 17:35] vcsjones commented on #38875
@bartonjs I _think_ this issue can be closed. I had the PR as "contributes to" since the PR didn't initially cover negatives and caps, but those are in now.

[2020-08-13 17:39] bartonjs commented on #38875
Is there anything else for testing... CRL/OCSP timing out and falling back to the other one? Anything related to AIA?

If there's anything left, I'll move it to 6 (since we got the most important parts in), if not, we can close.

[2020-08-13 17:43] vcsjones commented on #38875
Hm, yeah there are at least some tests there that could be written.

I added tests for Linux for AIA timeouts. They aren't in there for Windows since URT doesn't impact AIA fetches on Windows.

I think that is the most sensible thing.

[2020-08-13 17:47] mangod9 commented on #40712
possible heap corruption:

[code]

[2020-08-13 17:49] WernerMairl commented on #40507
i have created a first draft that implements InnerExceptions AND Exception.Data output:

https://github.com/WernerMairl/runtime/commit/39235faa027d7a0bf1339c2eec516318e2c8babf

The test is creating the following exception hierarchy:

[code]

and the reuslting json looks like:

[code]

if we agree to go this way, i can polish the code and prepare a PR

[2020-08-13 17:50] eiriktsarpalis commented on #40727
So, after running this on the debugger, it looks like the root cause is in the [SystemNative_GetSocketType](https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/Native/Unix/System.Native/pal_networking.c#L2486) function which does not set an address family in this case. Ultimately that results in [this check](https://github.com/dotnet/runtime/blob/6072e4d3a

[2020-08-13 17:56] davidwrighton commented on #40751
Sigh, this (new) test scratches the very edge of what is legal to rely on, and while it has revealed a number of real issues, I've already had to revise it once for not quite being valid. Please let me know if I can help out.

[2020-08-13 17:59] AndyAyersMS commented on #37082
Seeing if I can pin this down to a particular test case.  Running serially I get an assert during `TestBitmap.LockBits_Double`, but this passes if run as the only test.

[2020-08-13 18:01] wfurt commented on #40727
Does it fail with specific error or does it just stay unknown? I'm wondering if we can somehow detect this specific condition and do some damage control.

[2020-08-13 18:07] eiriktsarpalis commented on #40727
It succeeds without populating the address family. Same for protocol type.

[2020-08-13 18:08] mconnew commented on #35678
@wfurt, yes this is fixed with the latest daily build.

[2020-08-13 18:09] maryamariyan commented on #40512
I think as explained in https://github.com/dotnet/runtime/issues/11461, the [Trace_AssertUiEnabledFalse_SkipsFail](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Debug/tests/DebugTestsUsingListeners.cs#L248-L303) test illustrates how to use custom Trace Listeners to allow for showing dialogs.

[2020-08-13 18:17] karelz commented on #35678
Duplicate of #39011

[2020-08-13 18:17] #35678 closed

[2020-08-13 18:17] wfurt commented on #35678
Thanks for confirmation @mconnew. Can you please try it as well @Devnsyde? I read through the issues and it may be same problem. I'm inclined to close this unless we can prove it otherwise. I'm trying to figure out plan to get some automated test coverage as current test suite is not capable of covering this.

[2020-08-13 18:17] mikem8361 commented on #7986
The "--full" createdump option or setting COMPlus_DbgMiniDumpType=4 will create dumps with all the modules and state necessary.  As of 3.1 or greater full dumps are not the huge ones than 2.x produced.

[2020-08-13 18:19] wfurt commented on #35678
it seems like @karelz beat me by minute. confirmation would be still good @Devnsyde

[2020-08-13 18:22] danmosemsft commented on #40758
You might try it in 5.0 preview 7 as well. It may give you a better stack.

[2020-08-13 18:28] steveharter commented on #36278
It appears only runtime behavior has changed, not standard reflection, so MetadataLoadContext shouldn't need any changes as it is designed to match standard reflection behavior.

I assume the covariance feature did not change reflection behavior by design, and that it was not an oversight. In particular, the behavior of `Type.GetMethods()` for covariant methods is not consistent with non-covariant

[2020-08-13 18:31] AndyAyersMS commented on #37082
Running two tests I can repro:
[code]
Not sure if it matters what the upstream test is, checking.

[2020-08-13 18:40] AndyAyersMS commented on #37082
@safern do we know if this is a regression, or a test that we just started running?

Also suspect my local libgdiplus is perhaps not up to date; some other tests fail with libgdiplus errors. I have
[code]

[2020-08-13 18:57] AndyAyersMS commented on #37082
Corrupt heap location is just past the end of a` BitmapData` object that is allocated by the test. So seeing if I can get a suitable data breakpoint to watch this spot.
[code]

[2020-08-13 19:00] VSadov commented on #35616
Fixed in: https://github.com/dotnet/runtime/pull/40754

[2020-08-13 19:00] #35616 closed

[2020-08-13 19:01] #40782 closed

[2020-08-13 19:01] cshung commented on #40712
Could it be https://github.com/dotnet/runtime/pull/38784?

[2020-08-13 19:05] SamMonoRT commented on #37762
@naricc @DrewScoggins - I believe we have the runs going in Drew's lab now, but still waiting on reporting. I'm not sure where the reporting scripts live (which repo) and if we need to publish/merge those prior to the RC1 snap on Monday ? If no code change needed for the snap, we can close this issue.

[2020-08-13 19:24] Maoni0 commented on #40712
that only affects running in containers and I didn't see container mentioned for this issue (and in test there's no forced LOH compaction). maybe I missed reading something?

[2020-08-13 19:30] cshung commented on #40712
Heap corruption, AV on `background_mark_object` trying to access method table. All seems to look like what I was investigating, so I just pattern-matched it. I didn't really look into it in depth.

[2020-08-13 19:37] danmosemsft commented on #40768
@lindexi is this just a general observation, or is this causing performance impact in your own application?

[2020-08-13 19:38] jkotas opened #40793 "Poor Debug.Assert experience in VS"
From https://github.com/dotnet/coreclr/pull/20764#issuecomment-673386853

Repro: Create a simple command line app that just does `Debug.Assert(false)` and F5 it in VS.

Result:
![image](https://user-images.githubusercontent.com/4403806/90122882-57c19900-dda1-11ea-9434-2eb47a7ab03c.png)

[2020-08-13 19:39] steveharter commented on #36278
@janvorli can you verify that the existing reflection semantics of `Type.GetMethods()` is correct for covariant methods?

[2020-08-13 19:39] jkotas commented on #40793
@noahfalk @gregg-miskelly What needs to get fixed to make this experience to be like on .NET Framework where the debugger highlights the line where the assert failed?

[2020-08-13 19:41] jensolsson opened #40794 "System.Net.Http.WinHttpHandler fallbacks to HTTP/1.1 when using client certificates with HTTP/2"
I am trying to write some code to send a push notification to an iPhone using C# .NET and HttpClient over HTTP2 with client certificate authentication.

Code compiles but always yields a:

HttpRequestException with Message "Error while copying content to a stream."

InnerException IOException Message "The write operation failed, see inner exception."

InnerException WinHttpException Message "{"Err

[2020-08-13 19:46] wfurt commented on #40679
I was able to finally get local repro.
Hre is workaround:
HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\TLS 1.3\Client
Setting Enabled=0 should fix it.

[2020-08-13 20:01] ManickaP opened #40798 "Outerloop ConnectTimeout_TimesOutSSLAuth_Throws intermitently fails"
With the highest probability due to slow infra.
Occurrences:
|Finished|Method|Message|QueueName|Branch|Duration|
|--------|------|-------|---------|------|--------|
|2020-08-13T19:30:14.549Z|ConnectTimeout_TimesOutSSLAuth_Throws|Assert.InRange() Failure\r\nRange:  (500 - 60000)\r\nActual: 71658|ubuntu.1604.amd64.open|refs/pull/40788/merge|75.1964957|
|2020-08-11T20:32:53.517Z|ConnectTimeout_TimesO

[2020-08-13 20:06] sdmaclea commented on #40634
@hoyosjs Tracked this down to a incorrect implementation of arm64's `GetMem()` and `GetSimdMem()`.

I am wondering if the solution might be to make the https://github.com/dotnet/runtime/blob/b21f0e5cfe925d18df6eac3d45f3bdd4553a5a67/src/coreclr/src/vm/arm64singlestepper.h#L102

Function a static method and just use that for both implementations.

[2020-08-13 20:20] karelz commented on #40794
I think it was fixed in: https://github.com/dotnet/corefx/pull/42888
You need Win10 version which has the support and WinHttpHandler package that has the automatic opt-in feature.

CC @alnikola

[2020-08-13 20:24] steveharter commented on #40620
Emit does very little validation other than verifying the parameters are valid (non-null, etc) and doesn't verify opcode-specific values.

There are 200+ opcodes, so this would be a large effort to categorize and test.

Verifying per opcode would likely result in a large switch statement and\or dictionary which would have a significant perf hit, so based on this alone I don't think this is feasibl

[2020-08-13 20:30] jkotas commented on #40620
Ultimately, it would mean reimplementing a large part of https://github.com/dotnet/runtime/tree/master/src/coreclr/src/tools/ILVerify in Reflection.Emit.

I think more interesting way to approach is to figure out how ILVerify can be optionally plugged into Reflection.Emit.

[2020-08-13 20:31] GeorgeAlexandria commented on #40712
It was not run in containers and app didn't forced LOH compaction or GC

[2020-08-13 20:49] gregg-miskelly commented on #40793
Wow, it is kind of amazing that we are still discovering things like this.

The problem is that the VS debugger has code to automatically step out of asserts before stopping. But the assert detection logic was never updated for .NET Core. I opened VS bug 1173112 for this.

Question: I am assuming that it is enough to just pay attention to:
* System.Diagnostics.Debug.Assert
* System.Diagnostics.Deb

[2020-08-13 20:54] steveharter commented on #40620
Instead of trying to hook the existing, low-level Emit() method we could add higher-level Emit() APIs that are per-opcode (or grouping combinations of) which would allow for faster validation without switches\dictionaries.

e.g. for the `OpCodes.Constrained` example:
[code]

[2020-08-13 20:55] jensolsson commented on #40794
Thanks for the info, this sounds super interesting!
Regarding Windows 10 I assume it is enough if Windows 10 is recent enough to support HTTP2 via WinHttpHandler or do I need a very recent version?
I am running windows update not to make sure everything is at the latest.

The current stable WinHttpHandler, does it have the feature? I tried this and it did not work.
I also tried the latest 5.0 prev

[2020-08-13 20:56] sudeepagarwal opened #40799 "EventSource ReportOutOfBandMessage message impacts program execution"
###  Description

The following is a callstack from Bing Production data center where the program would periodically freeze because EventSource's error reporting mechanism ends up indirectly calling `RtlAcquireSRWLockExclusive`
[code]
**This can be catastrophic to production services and we think this behavior is a poor setting in .NET Core**

### Configuration

.Net Version: **5.0.0-rc.1.20404.16

[2020-08-13 20:58] jkotas commented on #40793
`DebugProvider` is internal implementation detail of `Debug.Assert`.

[2020-08-13 21:00] gregg-miskelly commented on #40793
Thanks. I think you can close this issue then.

[2020-08-13 21:01] joperezr commented on #38611
Hello @GrowSharp so sorry that it took us so long to take a look at this. Unfortunately, I'm unable to repro your issue I tried with several different password combinations using several special characters but in every case I'm able to authenticate correctly and are able to query the ldap server. Here is the sample code I used (as you can see the password for my user in this case is `Spec1alCharac

[2020-08-13 21:01] jkotas commented on #40793
Would it make sense to mark some of these methods with `NoInlining` to make sure that the debugger can see them and trigger the step out, even in optimized code?

[2020-08-13 21:04] danmosemsft commented on #38611
Is it possible you have different versions of libldap or whatever?

[2020-08-13 21:04] joperezr commented on #38611
I wonder if this is a problem due to you bein on CentOS instead of Ubuntu, but I doubt it as you say you also saw this problem on Ubuntu20.04. Can you share a code snippet that you are using and also a sample password (obviously not your real one but one where you have constructed and validated that you fail to login)

[2020-08-13 21:06] joperezr commented on #38611
libldap per se not really, because we actually PInvoke to a very specific version (2.4) and will fail to PInvoke if that exact version is not installed. That said, even though it is the same version it is possible that there is a slight behavior change across distros even though the native library code is the same

[2020-08-13 21:06] #19478 closed

[2020-08-13 21:09] #32714 closed

[2020-08-13 21:13] Devnsyde commented on #35678
Hey guys,

Using the console app that I attached above I am still getting the same error.

`
fail: WindowsAuthTestConsoleApp.App[0]
      Test failed with message: The token supplied to the function is invalid
`

I am using version 5.0.0-preview.7.20364.11

[2020-08-13 21:22] wfurt commented on #35678
That is too old @Devnsyde. I don't think the fix is in any preview yet. Can you grab build from https://github.com/dotnet/installer and give it another try?

[2020-08-13 21:22] janvorli commented on #36278
I have no idea what is the supposed semantics of the `Type.GetMethods` for covariant methods. I hope @davidwrighton would have some idea here.

[2020-08-13 21:24] hoyosjs commented on #40634
I thought of going a step further and sharing the implementation as much as possible. But right now what you are saying is more or less the same.

[2020-08-13 21:32] joperezr commented on #38609
@GrowSharp can you share the filter you are using in the snippet above? Also is there a chance you can share the full CN you are trying to search here so that we can try reproing exactly the problem you are seeing?

[2020-08-13 21:33] Devnsyde commented on #35678
@wfurt I installed the runtime version 5.0.100-rc.1.20413.9 that you linked above, not sure if that is what you were wanting me to try? I am getting an error now with my test solution that I'll need to work through as the error only says "Warning level must be in the range 0-4". I'll write back one I can get a good test going again.

[2020-08-13 21:37] moogle001 opened #40835 "Blazor WebAssembly unrecoverable when session cookie has large number of claims"
I lost several hours today tracking down a bug in a Blazor WASM project that was not only causing an HTTP Get request to fail with the very unhelpful exception "children could not be evaluated", it then caused the entire Blazor front-end to fail to load even with a CTRL-R refresh in Chrome. Restarting the Blazor project likewise had no impact, the only way to retry the app was by clearing browser

[2020-08-13 21:52] vitek-karas opened #40802 "Using .NET Core COM server from new .NET Core Single-File app results in two runtimes in process"
Client:
.NET 5 console app which uses a COM object
Published as new single-file self-contained

Server:
.NET 5 COM Server implementing the COM object

Using reg-free COM, but this should not really matter.

The code actually works, but it loads two coreclr.dll modules into the process. The first coreclr comes from the client app (it's the coreclr.dll which is next to the bundle). The second corecl

[2020-08-13 21:52] GrabYourPitchforks opened #40803 "CompareInfo.IsPrefix/IsSuffix can return wrong results given CompareOptions.IgnoreNonSpace"
Calling `CompareInfo.IsPrefix` or `CompareInfo.IsSuffix` with `CompareOptions.IgnoreNonSpace` also seems to incorrectly imply `CompareOptions.IgnoreCase`.

Repro app, running under Windows 10.0.19041.450, using .NET 5.0's ICU mode:

[code]

Output:

[code]

Looks like the invariant culture, en, and en-US are special-cased so that they'll return the correct value. All other cultures (including the

[2020-08-13 21:53] GrabYourPitchforks commented on #40803
Also of interest: `CompareInfo.Compare` still seems to be returning the correct value in these cases. It's just `IsPrefix` and `IsSuffix` that are problematic as far as I can tell.

[2020-08-13 21:56] jaredpar opened #40804 "Need to include Windows Server Core in our test suite"
The image to use is available here https://github.com/dotnet/dotnet-buildtools-prereqs-docker/issues/316

There is no need to build here but we need to include this in our rolling build validation matrix as it's part of our supported platforms.

[2020-08-13 21:57] vitek-karas commented on #40802
This is not new - we've realized this problem pretty early on (unfortunately sort-of forgot since). Writeup of the problem I did some time ago:

### Native component hosting with single-file bundles
Native component hosting is a set of functionality which allows native code to dynamically load managed code into a process. If the process is .NET Core application, this allows external callers to loa

[2020-08-13 21:58] tarekgh commented on #40803
My guess here is could be the optimization we have in the native side. but I am not sure.

[2020-08-13 21:59] vitek-karas commented on #40802
See also discussion in https://github.com/dotnet/runtime/issues/3773: The outcome seems to be that it's OK to not actively block this scenario if we document it as unsupported (we don't support two runtimes in one process).

[2020-08-13 21:59] vitek-karas commented on #40802
/cc @elinor-fung @AaronRobinsonMSFT @agocke @VSadov

[2020-08-13 22:01] gregg-miskelly commented on #40793
It would be kind of a weird scenario for it to matter, but maybe it makes sense --
1. In the case of System.Diagnostics.Debug.*: These all have conditional compilation attributes, so normally one wouldn't have optimized code where this is important. But of course you could turn on optimizations for your 'debug' builds (a.k.a. `chk` in old Razzle)
2. In the case of System.Diagnostics.Debugger.Break

[2020-08-13 22:11] pgovind opened #40805 "Investigate potential ARM64 perf improvements in AsciiUtility and Utf16Utility"
This is a follow up to https://github.com/dotnet/runtime/pull/39506, https://github.com/dotnet/runtime/pull/39507 and https://github.com/dotnet/runtime/pull/39050 to investigate Tamar's suggestions for improving ARM64 perf in ASCIIUtility and Utf16Utility. The suggestions are https://github.com/dotnet/runtime/pull/39506#discussion_r469516647, https://github.com/dotnet/runtime/pull/39507#discussion

[2020-08-13 22:16] steveharter commented on #36621
For the original case there is a custom converter:
[code]

A custom converter should not include the nullable version (`PatronStatus?`) in `CanConvert` as that is taken care of automatically by the serializer, at least if the standard "null" semantics are desired.

If you want to override null, override `HandleNull` and return `true` from the converter. This feature was added in 5.0.

[2020-08-13 22:18] steveharter commented on #36329
Please try overriding `HandleNull`.

[2020-08-13 22:19] danmosemsft commented on #29429
Moving to future, a long disabled test without clear customer impact

[2020-08-13 22:32] steveharter commented on #39208
FYI I ran the code on 3.1 (netcoreapp, not netstandard) and although it doesn't throw it does have an issue serializing nullable structs.

The JSON from the test above:
[code]

It appears it is treating `Nullable<>` as an object and not the special value type it is.

[2020-08-13 22:33] steveharter commented on #39208
@layomia pending discussion this should be servicing-consider.

[2020-08-13 22:34] jensolsson commented on #40794
@karelx Now updated to Windows 10, Version 2004, no more updates available
Tested with System.Net.Http.WnHttpHandler v4.7.2 - does not work, same problem
Tested with System.Net.Http.WnHttpHandler v5.0.0-preview.7.20364.11 - does not work, same problem

Is there a special version of WinHttpHandler I need to fetch?

[2020-08-13 22:35] terrajobst opened #45851 "Refering to unknown platform names should result in warnings"
We use string literals for OS platform names. We should validate that the name is known. The list is the combined set from two places:

1. `OperatingSystem.Is(PlatformName)[VersionAtLeast]()`. That's the target framework's known set of platforms.
2. The project's MSBuild item group `SupportedPlatform`. This is the project's specific knowledge of known platforms. This allows class library authors t

[2020-08-13 22:50] vsfeedback opened #40806 "Properties | Build tab for .NET Core C# app shows error message"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1147747/properties-build-tab-for-net-core-c-app-shows-erro.html)._

---
[severity:I'm somewhat annoyed. A fix would be nice]
After loading the .NET Core C# managed project "crossgen2" (residing under src/coreclr/src/tools/aot in the dotnet/runtime repo) into the latest VS20

[2020-08-13 23:05] jkotas commented on #40799
Should ReportOutOfBandMessage throttles the OutputDebugString to 16 events max similar to how it throttles the other places that it writes to?

[2020-08-13 23:27] davidwrighton commented on #36278
It sounds like the behavior is correct here. Covariant returns use a different override mechanism than standard name/sig overrides, and this mechanism represents itself in reflection in a different manner. The other method that I would be particular concerned about is `GetInterfaceMap`, but that throws an exception in MetadataLoadContext, so it isn't a concern either. Its plausible that we may wis

[2020-08-13 23:27] #36278 closed

[2020-08-13 23:46] Devnsyde commented on #35678
I looked at the error and it takes me to a document written in 2015, I don't really have the time to work through more bugs so I re-downloaded the preview version of the .net 5 sdk from https://dotnet.microsoft.com/download/dotnet/5.0 and after a closer look it looks like this version is a higher version anyway so maybe I downloaded something super old.

The version I had downloaded/installed from

[2020-08-13 23:48] RussKie commented on #40512
/cc: @OliaG @diverdan92

[2020-08-13 23:54] wfurt commented on #35678
It seems like some regression slipped to the sdk. if building from command line you can do `dotnet build  /p:analysisLevel=0` or add `<AnalysisLevel>0</AnalysisLevel>` to your project file. It seems like the fix is available but it will take some time to roll into builds.

[2020-08-13 23:54] #39641 closed

[2020-08-13 23:57] GrabYourPitchforks commented on #2408
As of https://github.com/dotnet/coreclr/pull/27375, the test exclusion files are deleted. We even have ARM-specific code in the S.T.E.W package now. Closing since I believe we have test coverage here now.

[2020-08-13 23:57] #2408 closed

[2020-08-14 00:02] Devnsyde commented on #35678
Okay added `AnalysisLevel>0</AnalysisLevel>` to the `<PropertyGroup></PropertyGroup>` of my project file worked.
I ran my test app and it worked as well. Getting a 200 back.

[2020-08-14 00:19] AndyAyersMS commented on #37082
I can get [this extracted repro](https://gist.github.com/AndyAyersMS/1272f2cb9becc87757a17f9b4ca1b89c) to crash intermittently when run with GCStress=3 HeapVerify=1.
[code]
So far this does not repro when run under a debugger.

Guessing there's memory corruption introduced by libgdiplus's `LockBits` method, but haven't confirmed this.

[2020-08-14 00:35] danmosemsft opened #40810 "Investigate regressions of binary-trees and fannkuch on benchmarksgame site"
Benchmarks game site has a comparison up of 3.1 vs . 5.0 preview 7 : https://benchmarksgame-team.pages.debian.net/benchmarksgame/fastest/csharpcore-csharppreview.html

There are 4 regressions, 2 may be noise level. The other two are binary-trees (7%)  and fannkuch-redux (4%)

I'll check those two using the source of the latest submissions.

[2020-08-14 00:35] #27935 closed

[2020-08-14 00:36] AndyAyersMS commented on #37082
The LLDB I'm using can't backtrace from a crashudmp, but gdb can...
[code]
Via lldb we can see that last method on the stack is `X.HashLock`. Disassembling, we can see this is the first call site after the call to `LockBits`.

[2020-08-14 00:39] AndyAyersMS commented on #37082
@jeffhandley @safern pretty sure the issue here lies in libgdiplus for linux arm32, can you re-label & reassign?

[2020-08-14 00:44] echesakovMSFT commented on #40607
This has been failing in **runtime-coreclr libraries-jitstress** since last Sunday build [20200809.1](https://dev.azure.com/dnceng/public/_build/results?buildId=762801&view=results), so it seems like a codegen issue to me. I am going to take a look and see if there were any changes  between 51ad8e4 and b4a58c28 that affected this test.

Marking as 5.0 for now

[2020-08-14 00:44] lindexi commented on #40768
@danmosemsft   this is just a general observation.

[2020-08-14 00:52] #40572 closed

[2020-08-14 01:11] #39792 closed

[2020-08-14 01:11] #40696 closed

[2020-08-14 01:21] danmosemsft commented on #40768
@lindexi thanks, but unless something is self-evidently inefficient, we would need perf numbers to motivate increasing the complexity in this way. I will close this: feel free to reopen if you have such numbers. We recommend use of Benchmark.NET. I do agree with @jkotas that I do not think you will see a benefit.

[2020-08-14 01:22] danmosemsft commented on #40768
Apologies - I mixed this up with the other perf issue you opened (for registry). I have not evaluated this one.

[2020-08-14 01:22] lindexi commented on #40768
@dandanmu It doesn't matter, I'm writing test code.

[2020-08-14 01:45] morphx666 commented on #3671
I can confirm that, whenever selecting the option to generate a single-file , the generated binary cannot be signed.

Is this going to be fixed?
What's the point of having a cross-platform framework if the generated binaries cannot be signed for distribution?

[2020-08-14 02:00] Rick-Anderson commented on #36041
@maryamariyan  only if the team says this is no longer supported. It's trivial to test and it worked in 1.x for sure and probably 2.x

[2020-08-14 02:07] wfurt commented on #35678
thanks for confirmation @Devnsyde. All the fixes should be in next preview build.

[2020-08-14 02:15] wfurt commented on #40774
no, there is no API to get ARP entries. I think executing `arp` utility is probably your best option. That should work on Linux and MacOS as well. There may be more efficient ways how to do it in particular OS but that wan't be portable.
Since ARP table only sees directly connected nodes on the same L2 segment, the list generally should not be too long.

[2020-08-14 02:15] #40774 closed

[2020-08-14 02:27] maryamariyan commented on #40507
@WernerMairl the proposal looks good and is an improvement to what is already there.

A limitation to it is that sometimes different exception types may embed extra content into exception.ToString that would otherwise get lost if we not [use ToString insead](https://github.com/dotnet/runtime/commit/f214269fd29a7ac19e59245ac426d025ec319a54).

cc: @tarekgh @eerhardt @davidfowl

[2020-08-14 02:40] Anipik opened #40813 "Correct configurations in packages for Browser tfm"
Some of the packages doesnot include the correct implementation for Browser tfm. eg System.Drawing.Common.
We need to check all the packages that this is not the case with them.

https://github.com/dotnet/runtime/issues/38559
cc @safern @ericstj @ViktorHofer @marek-safar

[2020-08-14 02:44] am11 commented on #40774
You might be interested in NetStandard 2.0 package: [ArPLoopup](https://www.nuget.org/packages/ArpLookup/), it does not spawn a child process on Linux (but instead reads the arp file asynchronously under procfs). On Windows, it does P/Invoke. API shape is simple, see [usage](https://github.com/georg-jung/ArpLookup#usage).

[2020-08-14 02:44] am11 commented on #40774
You might be interested in NetStandard 2.0 package: [ArpLookup](https://www.nuget.org/packages/ArpLookup/), it does not spawn a child process on Linux (but instead reads the arp file asynchronously under procfs). On Windows, it does P/Invoke. API shape is simple, see [usage](https://github.com/georg-jung/ArpLookup#usage).

[2020-08-14 02:44] danmosemsft commented on #40813
Does this have impact on 5.0 scenarios? Eg., drawing isn't supported in Blazor.

[2020-08-14 02:47] Anipik commented on #40813
I expect most of these to be non supported assemblies being missed from the package.

[2020-08-14 03:01] safern commented on #37082
Thanks @AndyAyersMS for investigating.

cc: @marek-safar @akoeplinger

[2020-08-14 03:04] tommcdon commented on #40799
@noahfalk

[2020-08-14 03:13] tarekgh commented on #40507
I am wondering, do we also handle the AggregateException?

[2020-08-14 03:15] mangod9 commented on #39600
@PeterSolMS can this issue be closed now that your sort changes have merged?

[2020-08-14 03:18] mangod9 commented on #38518
@echesakovMSFT can this particular issue now be closed, or is this tracking other similar failures as well?

[2020-08-14 03:21] mangod9 commented on #13115
Closing based on the comment above

[2020-08-14 03:21] #13115 closed

[2020-08-14 03:21] #39413 closed

[2020-08-14 03:21] agocke commented on #3671
Apple has a variety of restrictions on exactly what needs to happen for signing. Those restrictions change over time and we try to address them for various deployment models. Single-file embedding is a new deployment model that will need new work to deal with additional signing restrictions. This probably won't make .NET 5, but there are a variety of other deployment models that are signable, incl

[2020-08-14 03:23] erich-wang opened #40815 "EventListener.DisableEvents doesn't work as expected with Guid.Empty eventSource"
### Description
Per the description `If the Guid property for eventSource is Empty, events for all event sources in the application domain are disabled for this event listener.` from [doc](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.tracing.eventlistener.disableevents?view=netcore-3.1)

I should not get OnEventWritten notification:
[code]

### Configuration

### Regression?

###

[2020-08-14 03:29] mangod9 commented on #13572
closing for now based on above. Please reopen if you repro it again. Thanks

[2020-08-14 03:29] #13572 closed

[2020-08-14 03:31] mangod9 commented on #40602
Moving this to 6 since this is a timeout, perhaps just need to remove from gcstress suite.

[2020-08-14 03:32] MihaZupan commented on #40680
Are you sure? This behavior is the same going back to Framework 2.0 (maybe even earlier).

[2020-08-14 04:26] davidfowl commented on #35999
@maryamariyan can you assist?

[2020-08-14 04:35] danmosemsft commented on #40806
@davkean any idea which code is responsible for this message?

[2020-08-14 04:44] ProbablyFaiz commented on #3671
Single file is much smaller to distribute, which is very helpful for desktop applications running .NET Core (which I understand is not a priority, but it would be nice).

[2020-08-14 04:45] WernerMairl commented on #40507
Yes, AggregateException is covered by the implementation!

[2020-08-14 04:49] davidwrighton commented on #13522
This didn't get implemented, but I've just put together a PR that identifies where the ABI may be unstable and surgically disables code gen for those cases. It preserves the ability to use Vector intrinsics even in the presence of unstable abi.

[2020-08-14 04:53] WernerMairl commented on #40507
About exception.ToString() and extra content
Yes, I see the same concerns....

On the other side, we have a lot of problems/risks with Exception.ToString:
Each ToString() override does his own formatting for stacktrace, innerexceptions etc...
this does not looks like a consistent output
and now we are working on adding Exception.Data output on top of this....

Assuming that we cannot do significan

[2020-08-14 04:59] agocke commented on #3671
If the main concern is size, you can enable trimming even without enabling single file. There are some single-file specific size improvements, but AFAIK it's not huge for macOS at the moment.

[2020-08-14 05:11] svick commented on #40680
@MihaZupan

Even so, I do think the behavior is very confusing, because it depends on the order in which you access properties.

For example, consider the following code:

[code]

Its output is:

[code]

I definitely wouldn't expect that accessing the `Uri` property would change the value of `Port`.

Does the current behavior have to be kept for backwards compatibility? If not, I think it should b

[2020-08-14 05:23] noahfalk commented on #40799
cc @mjsabby - I think this is the same issue you were emailing me about earlier?

It certainly feels like a good starting point. I don't feel like I have enough understanding about the underlying issue to know if it would be sufficient.

Can we quantify this a bit? Is the program deadlocking entirely, or does it resume execution at some point? If it resumes what is the order of magnitude of the pa

[2020-08-14 05:37] Anipik opened #40822 "AllConfigurations Not working properly"
The filtering of targetFrameworks is not working properly in all config leg. It got broken recently in preview8.
Its behaving like a vertical build and building of packages.

This is due to change of filtering Condition from BuildALlConfigurations to BuildTargetFramework. The new conditions expects BuildTargetFramework to be empty in case of allconfig build, which is not the case

cc @ericstj @Vik

[2020-08-14 06:07] #38769 closed

[2020-08-14 06:11] PeterSolMS commented on #39600
Yes, let's close it. As @damageboy mentioned, we can do better in .NET 6 though...

[2020-08-14 07:27] KalleOlaviNiemitalo commented on #40815
`[EventSource(Guid = "00000000-0000-0000-0000-000000000000")]` causes EventSource.Initialize to fail:

<https://github.com/dotnet/runtime/blob/53976d38b1bd6917b8fa4d1dd4f009728ece3adb/src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs#L1419-L1422>

I think this is a documentation error.

[2020-08-14 07:34] Gnbrkm41 commented on #40679
Related: https://github.com/dotnet/sdk/issues/12741

I'm running insider builds as well, and didn't quite think it would be related with that. Interesting...

[2020-08-14 07:56] alefranz opened #40827 "Configuration Json provider loads null values as empty string"
### Description
Configuration Json provider loads null values as empty string.
I understand that other providers like the environment variables one do not support to add null, however I don't think this should prevent the json provider to do the expected thing of preserving null.
Also as the enviornment variables provider supports adding both a value and children for a key which the json one doesn

[2020-08-14 08:04] ststeiger opened #40828 "Wrong ContentRoot when built with /p:PublishSingleFile"
I'm building a .NET Core 3.1 Service with this option:
`dotnet publish -r win-x86 -c Release /p:PublishSingleFile=true -o D:\inetpub\RamMonitor`

I'm setting the ContentRoot
[code]
The logger shows:
[code]
I also set `config.SetBasePath(executableDirectory);` in ConfigureHostConfiguration.

But then, in ConfigureAppConfiguration
[code]
it shows `ContentRootPath: C:\WINDOWS\TEMP\.net\LdapService\nm

[2020-08-14 08:19] alefranz commented on #40218
Created PR #40829

[2020-08-14 08:21] davidfowl opened #40830 "Add EventCounter for ArrayPoolEventSource"
I've been doing some performance investigation recently around how ASP.NET Core uses the ArrayPool and it would be great to have some counters for the existing events:
- BuffersAllocated
- BuffersRented
- BuffersReturned

cc @noahfalk @adamsitnik

[2020-08-14 08:22] ManickaP commented on #40776
I might have found the root cause of this problem.
When I fetch an HTTP response without content, the ActivityId is present in the Stop event.

The `RequestStop` is called only after the response has been read to the end, which happens outside of the async scope started when `RequestStart` was called.

#### Details:
`RequestStart` is called in [`HttpConnectionPoolManager`](https://github.com/dotne

[2020-08-14 08:28] maurei commented on #40678
I'm wondering what use-case`?a&a=b` has if the `a` preceding the `&` is interpreted as a stand-alone **value** rather than an operator? Conceptually, wouldn't it be just a value assigned to nothing, whereas the value `b` succeeding the `&` is assigned to *operator* `a` (which is unrelated to the *value* `a` preceding the `&`).

Our use-case for interpreting it as a name/operator rather than value

[2020-08-14 08:28] ststeiger commented on #40828
Source, for reproduction:

[code]

[2020-08-14 08:34] adamsitnik commented on #40830
@davidfowl have you tried using `ArrayPool` [EventSource](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/Buffers/ArrayPoolEventSource.cs) ?

It's [not enabled](https://github.com/microsoft/perfview/issues/932) in PerfView by default so when using PerfView you have to put its name like this before starting the collection:

![obraz](https://user-images.

[2020-08-14 08:36] lucamauri opened #40831 "[System.Text.Json] unable to use Utf8JsonWriter with VB.net"
### Description
I am trying to replicate the functionality of [this example](https://gist.github.com/terrajobst/336da6ae0a327bef113c1325710164f0#file-sample9-cs) as explained in the blog post https://devblogs.microsoft.com/dotnet/try-the-new-system-text-json-apis/ using **VB.net** _instead_ of C♯.

The original code work well, so I migrated it to:
[code]
I am unable to make it work: `MemStream.Len

[2020-08-14 08:37] adamsitnik commented on #40803
To verify this we can just change the following condition:

https://github.com/dotnet/runtime/blob/6362ec357baaac66ae461b6a73c49cec5ea37470/src/libraries/Native/Unix/System.Globalization.Native/pal_collation.c#L842

if it's just a matter of calling the more expensive version for `IgnoreNonSpace` we could include this in 5.0

[2020-08-14 08:45] eduard-bystrov commented on #40777
only about .NET Framework
I have no information about .NET Core

[2020-08-14 08:48] davidfowl commented on #40830
@adamsitnik 😊 Yes I know how to add custom providers in perfview and using dotnet trace. I'm specifically asking for event counters though.

[2020-08-14 08:52] noahfalk commented on #40776
@ManickaP nice investigating 👍
Indeed as you observed, ActivityId is async-local so it flows from parent to child when creating a Task but changes do not flow back from child to parent when an await completes.

I'm not knowledgeable about the networking code, but is there an option to call Start() sooner so that it runs in the same Task where Stop() will eventually be called? Other more customized

[2020-08-14 09:07] Gnbrkm41 commented on #40679
Script (Run from elevated powershell instance):
[code]

You may need to restart your PC for the change to apply. After disabling TLS1.3 it seems to restore fine.

[2020-08-14 09:18] Gnbrkm41 commented on #40679
Perhaps we can set `DisabledByDefault` to 1 instead of entirely disabling it? https://docs.microsoft.com/en-us/windows-server/security/tls/tls-registry-settings#tls-12

[2020-08-14 09:44] thomaslevesque commented on #36329
@steveharter just tried (with .NET 5 preview7), same result:

[2020-08-14 10:02] ManickaP commented on #40776
We could, theoretically, run it from `HttpClient.SendAsync`, but that would only help us with buffered responses. In the other case, the request gets finished after the user either disposes it or reads the response stream till the end and we have no control over when and where this happens.

Is there a way to manually retrieve and later attach the ActivityId to the stop event?

[2020-08-14 10:04] thomaslevesque commented on #36329
Here's a Gist with the full code if you need it to repro
https://gist.github.com/thomaslevesque/e191e438521ad86cd0f99c315508c838

[2020-08-14 10:20] GrowSharp commented on #38609
@joperezr sure.
Original CN = `CN=Portal\#23\#Práva supervisora`

Filter with my custom escaping experiment that doesn't work:
`(&(objectClass=group)(distinguishedName=CN=Portal\5c#23\5c#Práva supervisora,OU=Portal Logistika,OU=Skupiny,OU=Users,OU=ADLER,DC=adler,DC=local))`

Without my escaping:
`(&(objectClass=group)(distinguishedName=CN=Portal\#23\#Práva supervisora,OU=Portal Logistika,OU=Skupin

[2020-08-14 10:22] GrowSharp commented on #38609
I would just like to add for all these issues that the AD that I'm working with is a bloody mess. But it should still work tho, because on windows it does.

[2020-08-14 10:41] GrowSharp commented on #38611
@joperezr
Login: `testdev2`
Password: `AhojAhoj!$*+`
I can't share the whole code, it's not property of mine. But I can assure you it's not in my implementation. To make sure I even tried the snippet that works for you. It doesn't work for me.

[2020-08-14 11:11] MihaZupan commented on #40776
As @ManickaP said, we could only do that for buffered responses. For unbuffered ones, we hand out the response that the user can interact with that will eventaully trigger a Stop event.

If I'm understanding this correctly, we can't flow the ActivityID up to the parent?
In that case, is the HttpClient design (handing out the response to the caller to process) incompatible with a Start/Stop activit

[2020-08-14 11:20] ManickaP commented on #40776
That would measure/trace different things depending of `HttpCompletionOptions`, for buffered it'd include reading the response, for read-headers it wouldn't.
It's similar the first solution I suggested in here: https://github.com/dotnet/runtime/issues/40776#issuecomment-673954728.

[2020-08-14 11:26] MihaZupan commented on #40776
The idea is that it would be captured in the user-provided callback.

Essentially if a user had code like

[code]

[code]

it would turn into

[code]

[2020-08-14 11:29] ManickaP commented on #40776
Now I see.

[2020-08-14 11:37] vitek-karas commented on #40103
It seems that on Linux the API already behaves correctly (returns `<Unknown>`).

[2020-08-14 11:44] KalleOlaviNiemitalo commented on #40776
One could save EventSource.CurrentThreadActivityId after the start event, use set EventSource.SetCurrentThreadActivityId to temporarily change the activity ID before and after the stop event, and set EventActivityOptions.Disable on the stop event to prevent ActivityTracker from overriding the activity ID. However, if the request causes any other activities, then those would not get the correct par

[2020-08-14 12:17] stephentoub commented on #40776
Good question, but no :-) We do not want to encourage that style of programming, and it won't fix the 99% case (on top of which it's more expensive).

[2020-08-14 12:25] noahfalk commented on #40776
What @KalleOlaviNiemitalo suggests would work to set the activity id of the stop event, however there is also the consideration of what activity id is attached to all events that happen to occur in between the start and stop. Perhaps we are in position to know that we can control all of those events because we own 100% of the code that executes between those two points? I didn't get a chance to re

[2020-08-14 12:32] adamsitnik commented on #38998
The test has been disabled in https://github.com/dotnet/runtime/pull/39003, I am moving it to 6.0

[2020-08-14 12:37] ManickaP commented on #40776
We can move the `RequestStart` somewhere within the start of `HttpClient.SendAsync`. This should put all of our other activities in the same `async` scope. After that, the control is in user's hands, we don't need to track those activities, we just need to link the `RequestStop` once it happens. For that, we can use the `SetCurrentThreadActivityId`. The only things that would be excluded are conte

[2020-08-14 12:42] igor-tk opened #40834 "Windows authentication in HttpClient not working over https in .NET 5"
# Windows authentication in HttpClient not working over https in .NET 5

Windows authentication (NTLM or Kerberos) in HttpClient doesn't work over https in .NET 5 although in .NET Core 3.1 it does.
Was first created [here](https://github.com/dotnet/core/issues/5042), but it looks like it was the wrong repository.

Software versions:
Windows 10 Pro x64
IIS Express 10
.NET - dotnet-sdk-5.0.100-previ

[2020-08-14 12:49] adamsitnik commented on #40735
I assume that this is not a regression and moving it to future

[2020-08-14 12:59] adamsitnik commented on #40768
@lindexi would you like to send a PR?

[2020-08-14 13:08] devsko commented on #40831
I think you have to call `Writer.Flush()` or `Writer.Dispose()`. Thats what C#'s `using` is for.

[2020-08-14 13:09] eiriktsarpalis commented on #40735
That's correct, this seems to have been the behaviour for quite a while. The main goal here is achieving consistency with unix behaviour.

[2020-08-14 13:12] adamsitnik commented on #38943
I've sent a PR to disable this test for Mono to unblock the CI https://github.com/dotnet/runtime/pull/40837 and moving this to 6.0

@jeffhandley @marek-safar how area owners should handle Mono-specific issues?

[2020-08-14 13:17] adamsitnik commented on #40518
I've moved it to future as it's not 100% clear that we should do it and there is a code freeze happening on Monday.

[2020-08-14 13:19] CodingMate commented on #3671
My main concern isn't the size, it's the fact that Apple will not allow the app to run unless it's signed.
Currently, Apple only allows apps to be executed as long when they are downloaded from AppStore or they are identified/signed by identified developers, Otherwise, the app will be blocked from running.
The workaround is to unblock the app from the settings, however, if you don't use the self-c

[2020-08-14 13:32] roji commented on #40654
@MaceWindu thanks for filing this. The team is now busy with stabilizing .NET 5.0 - we are unlikely to get around to this issue before the release. We'll definitely take a look at this at that point.

I'm completely unfamiliar with SAP HANA ODBC driver. To help us reproduce and effectively fix this, is there any way to submit a code sample that reproduces the error? If not, is it possible to repro

[2020-08-14 13:33] roji commented on #39794
Thanks for filing this. The team is now busy with stabilizing .NET 5.0 - we are unlikely to get around to this issue before the release. We'll definitely take a look at this at that point.

[2020-08-14 13:34] roji commented on #36954
@saurabh500 does this ring any bells? Could this be connected to #32405 as suggested above?

[2020-08-14 13:37] roji commented on #35444
@MaceWindu can you post the code doing GetSchema and your exact expectations, to make sure the issue is clear? Are you seeing parameters properly returned for other, non-Access ODBC providers?

[2020-08-14 13:38] roji commented on #35442
As in #35444, are you using this info returned from other, non-Access ODBC providers?

[2020-08-14 13:40] stephentoub commented on #40518
I think we either need to do this now or close it and never do it.

[2020-08-14 13:44] adamsitnik commented on #40061
@BruceForstall do I understand correctly that this is a JIT issue specific to ARM? I wonder what milestone we should set for it

[2020-08-14 13:54] adamsitnik commented on #33943
Moving it to the future as it looks like the test needs to allocate 2GB array but there is simply not enough memory available. So it's not a bug in the product itself

[2020-08-14 13:57] steveharter commented on #36329
@thomaslevesque I've pasted an updated version of your converter below. The converter model is not polymorphic, so using "object" doesn't work as you have it. The `<T>` in `JsonConverter<T>` is intended to match the property type.

Null is handled automatically, and for converters based on value types the `Read` method is called when the JSON property value is null (just in case it has special tre

[2020-08-14 14:15] lcsondes commented on #35142
Just hit this one in my code, can confirm. I'm getting a compressed buffer (using `new BrotliEncoder(9, 22).Compress(...)`) of 0x0040000c length (the input is exactly 0x00400000 bytes) when the expected maximum is 0x00400007.

[2020-08-14 14:23] lucamauri commented on #40831
Indeed it is necessary to use `.Flush()` as written by @devsko and explained here https://docs.microsoft.com/en-us/dotnet/api/system.text.json.utf8jsonwriter.flush
I apparently had a very bad understanding of `using`, thanks for pointing that out.

I am closing this as it is not a bug.

[2020-08-14 14:23] #40831 closed

[2020-08-14 14:31] eidylon commented on #28650
Huh. Did not realize that. Yup... learn something new every day. Okay then, I guess my comment is extraneous. 👍🏼👍🏼

[2020-08-14 14:34] thomaslevesque commented on #36329
@steveharter thanks! Indeed, with your modified version it works correctly.

But I guess it only works in .NET 5... in .NET Core 3.1 I get this error:

[2020-08-14 14:38] adamsitnik commented on #40518
I see your point.

I am not a nullability expert, but my take on this is the following: since `Cast` can return `null`s, while `OfType` filters them out, the definition of `OfType` should remain as it is while `Cast` should be changed to return `?`

[code]

so users who don't want nulls at all use `OfType`

[code]

[code]

@eiriktsarpalis @stephentoub if you both agree I am going to send a PR

[2020-08-14 14:44] steveharter commented on #39208
Per @layomia this is a dup of https://github.com/dotnet/runtime/issues/30843.

Strategies for workaround:
  - Move to 5.0 if possible.
  - Use a class, not a struct.
  - Write a custom converter for that struct.

[2020-08-14 14:45] #39208 closed

[2020-08-14 14:47] layomia commented on #39055
This appears to be a short-lived bug/failure that occurred just once. Please reopen if it fails again.

[2020-08-14 14:47] danmosemsft commented on #35142
Interested in debugging some @lcsondes ?

[2020-08-14 14:52] adamsitnik commented on #31469
I was not able to reproduce it as of today while using lates versions of 2.1, 3.1 and 5.0:

[code]

[code]
|                  Method |     Mean |     Error |    StdDev |   Median |      Min |      Max | Gen 0 | Gen 1 | Gen 2 | Allocated | Code Size |
|------------------------ |---------:|----------:|----------:|---------:|---------:|---------:|------:|------:|------:|----------:|----------:|
| Rea

[2020-08-14 14:52] #31469 closed

[2020-08-14 14:55] lcsondes commented on #35142
@danmosemsft What do you need?

[2020-08-14 15:07] adamsitnik commented on #39722
I was able to reproduce the regression. Link to asm diff https://www.diffchecker.com/daxuXSFS full details below:

<details>

[code]
|       Method | Size |     Mean |    Error |   StdDev |   Median |      Min |      Max | Gen 0 | Gen 1 | Gen 2 | Allocated | Code Size |
|------------- |----- |---------:|---------:|---------:|---------:|---------:|---------:|------:|------:|------:|----------:|----

[2020-08-14 15:10] #40542 closed

[2020-08-14 15:12] danmosemsft commented on #35142
@lcsondes it may be some time before someone can take a look, so sometimes I ask folks whether they’re interested in investigating to figure out the root cause.

[2020-08-14 15:15] #40281 closed

[2020-08-14 15:15] jpactor commented on #35469
"dotnet5.0" doesn't directly conflict, but there was a TFM, now deprecated, which was "dotnet50". This could lead to confusion as people may leave off the "."

[2020-08-14 15:20] eiriktsarpalis commented on #40518
It's not the same though. `OfType<string>()` filters the non-null elements, however `Cast<string>()` (with the current annotation) asserts that every element in the sequence is non-null. That assertion could be invalidated at runtime, but clearly this is true for any generic collection with non-null type parameters.

I'm not convinced we should make this change, but won't die on this hill either :

[2020-08-14 15:24] #39008 closed

[2020-08-14 15:25] lcsondes commented on #35142
From skimming the source my best guess is [this line](https://github.com/dotnet/runtime/blob/master/src/libraries/System.IO.Compression.Brotli/src/System/IO/Compression/enc/BrotliEncoder.cs#L105) hardcoding the largest possible large block size while the BrotliEncoder constructor lets you select any window size. The guesswork here is whether the two are related, RFC 7932 doesn't seem to talk about

[2020-08-14 15:40] AndyAyersMS commented on #36681
@dotnet/jit-contrib we need somebody to look at this.

[2020-08-14 15:44] kunalspathak commented on #39722
Thanks @adamsitnik  for collecting the numbers. Few things:
1. The original issue was regression between July 15 and July 21 but it looks like this is a regresison between .NET Core 3.1 and .NET 5. Which version of .NET 5 did you check? Was it preview8 or rc1? Can you share the commit hash, if possible?
2. Also, the original issue was Ubuntu only (or that is what was reported), but looks like it a

[2020-08-14 15:46] SamMonoRT commented on #40550
@danmosemsft @lewing - considering hangs are not a big issue, can we remove the blocking-clean-ci tag. We are working on GC improvements, but will ship as full GC disabled just like 3.2 release. We will keep chipping away at fixing issues found via tests, but not targeting 5.0 RC submissions unless we identify a very nasty issue. Moving this to 6.0 Milestone and removing the blocking-clean-ci tag

[2020-08-14 15:54] ayende commented on #40585
My issue is that I have a bunch of process that allocate a lot of memory (indexing).
During the indexing run, the memory is referenced, once the indexing batch is completed, most of the memory can go away.
The problem is that I have no good way to tell _when_ I should close the batch.

Closing the batch means that the GC doesn't have to scan so many objects, so I don't actually want the GC more ag

[2020-08-14 16:01] mangod9 commented on #39600
Fixed by: https://github.com/dotnet/runtime/pull/40613

[2020-08-14 16:01] #39600 closed

[2020-08-14 16:02] mangod9 commented on #39681
Triaging out of 5.0, since this is a corner case during shutdown.

[2020-08-14 16:10] moogle001 commented on #40835
@javiercn Yeah, adding that much data to the cookie was definitely unintentional. It just took me a while to figure out what was going on due to Blazor's reaction. Unfortunately I cannot implement OpenID Connect for this website at this time.

Are you sure this has no impacts within Blazor itself? I found it incredibly bizarre/frustrating that the Blazor WASM wouldn't load pages regardless of Http

[2020-08-14 16:24] AndyAyersMS commented on #39028
The inner-loop codegen for `ContainsValue` is slightly different:
<table>
<tr>
<td>
<pre>
;;; 3.1
M01_L00:
       cmp       r9d,eax
       jae       short M01_L04
       movsxd    r10,r9d
       shl       r10,4
       ;;
       cmp       dword ptr [r8+r10+10],0FFFFFFFF
       jl        short M01_L01
       mov       r10d,[r8+r10+1C]
       cmp       r10d,edx
       sete      r10b
       movzx

[2020-08-14 16:32] maryamariyan commented on #35999
Is there easier way of doing it than building entire runtime libraries?

Here's the steps you would need to work on runtime repo:

1) Check [build requirements](https://github.com/dotnet/runtime/tree/master/docs/workflow/requirements).
2) Check the  [quick start](https://github.com/dotnet/runtime/tree/master/docs/workflow/building/libraries) on how to build the runtime repo libraries.
3) Then to c

[2020-08-14 16:39] naricc commented on #37762
There is some fine tuning to do on the exact set of benchmarks to run (changes will be in dotnet/performance).

[2020-08-14 16:39] #37762 closed

[2020-08-14 16:49] maryamariyan commented on #35994
closed via #40743.

[2020-08-14 16:49] #35994 closed

[2020-08-14 16:51] ENikS commented on #35999
Thank you

[2020-08-14 16:53] mangod9 commented on #38585
We decided not to support compat for major version upgrades.

[2020-08-14 16:53] #38585 closed

[2020-08-14 17:01] fpelliccioni opened #40843 "dotnet command not found on Fedora 32 after installation"
After performing the installation as described here on Fedora 32:

https://docs.microsoft.com/en-us/dotnet/core/install/linux-fedora

I get the error:

[code]

### Configuration

Architecture: x64

[code]

[2020-08-14 17:08] mangod9 commented on #40758
Possible dupe of https://github.com/dotnet/runtime/issues/32629. Moving to Diagnostics and 6.0 (as the other issue)

[2020-08-14 17:08] #40075 closed

[2020-08-14 17:08] #40361 closed

[2020-08-14 17:10] MgSam commented on #27687
@terrajobst What needs to happen to get these API suggestions reviewed and get any official feedback from the team? I saw you mention in the standup yesterday that you guys have a clear plate now... :)

[2020-08-14 17:18] stephentoub commented on #40518
This really ends up being a question of correctness vs usability. `T?` is correct, but likely to be annoying; `T` could easily lead to nulls in things that swear they're non-null, but won't give as many warnings. And even though the nullable reference type feature isn't perfect, its purpose is to warn when things that may be null are dereferenced. So I think we need to change it.

[2020-08-14 17:19] stephentoub commented on #40518
(Note that some a few other APIs were also dup'd against this issue.)

[2020-08-14 17:23] briansull commented on #40444
This issue is now fixed with #40821
And I added a test case derived from the test here

[2020-08-14 17:23] #40444 closed

[2020-08-14 17:28] cston commented on #40143
Closing since we are not accepting new features in System.Linq.Expressions.

Thanks @sidney-pauly for the suggestion.

[2020-08-14 17:28] #40143 closed

[2020-08-14 17:28] kouvel commented on #40444
Thanks! Would the fix be ported to .NET Framework too?

[2020-08-14 17:28] mangod9 commented on #32732
this doesnt repro anymore:

[code]

[2020-08-14 17:28] #32732 closed

[2020-08-14 17:31] #40170 closed

[2020-08-14 17:44] GrabYourPitchforks opened #40846 "BoundedMemory test helper needs an implementation on non-Windows platforms"
Our test infrastructure has a type `BoundedMemory` that's used for unit-testing unsafe code. The helper sets up poison (NOACCESS) pages around a `Span<T>` so that out-of-bounds accesses are discovered during testing.

This type [has a working implementation](https://github.com/dotnet/runtime/blob/master/src/libraries/Common/tests/TestUtilities/System/Buffers/BoundedMemory.Windows.cs) on Windows, b

[2020-08-14 17:45] DrewScoggins commented on #39722
You can find the full test history here, https://pvscmdupload.blob.core.windows.net/reports/08_13_2020/allTestHistory/System.Memory.Span(Char).IndexOfValue(Size%3A%20512).html

[2020-08-14 17:45] #40843 closed

[2020-08-14 17:56] layomia commented on #36621
If the nullable version is included in the `CanConvert` check, the serializer will [thow an `InvalidOperationException`](https://github.com/dotnet/runtime/pull/40824) saying that the implementation is redundant. The expected behavior from the converter is not to include the nullable version, or omit the override entirely. Without the redundant check, the converter is picked up and used as expected

[2020-08-14 17:58] antonfirsov commented on #40044
This got now partially implemented for 5.0.

Leftovers:
1. `SocketsListenerFactory`
2. `Stream` and `IDuplexPipe` factory methods in `SocketsConnectionFactory`.

During implementation we found uncertainities around the ownership of disposable resources coupled to the `IDuplexPipe` created by  `SocketsConnectionFactory` but owned by the `Connection` object. Ownership of the `Socket` is fine, but if

[2020-08-14 17:59] digitalpacman commented on #31457
I agree with @johncrim

I also ran into this issue as I want it to use existing sub objects.  I think the object creation handling of json.net would solve my issue. As long as it allows me to bypass the inability to deserialize interfaces.  I have constructors setting the internal objects concrete type and read-only interfaces for subobjects.   This technique was necessary for me to handle closed

[2020-08-14 18:07] wfurt commented on #40834
I think this is dup of  #39011 and #35678. Follow instructions in the second issues and verify the fix with daily build or wait for next preview. If you still see problem, reopen this with more details.

[2020-08-14 18:07] #40834 closed

[2020-08-14 18:15] AmadeusW opened #40847 "StringComparer.CurrentCulture incorrectly sorts Turkish letters"
### Description

Some of the letters from the Turkic alphabet are incorrectly sorted, even when using `StringComparer.CurrentCulture` using ``CultureInfo("tr-TR")`

I set up a simple program which attempts to sort letters using various `StringComparer`s and `CultureInfo`s:
https://gist.github.com/AmadeusW/892c4a3d3d341b50d964d1834f0d91e9

Sorting `new[] { 'h', 'ğ', 'g', 'i', 'k', 'ı', 'j', 'Ğ', 'H

[2020-08-14 18:17] davidfowl opened #40848 "Throw exceptions for generic arity mismatches at container build time"
[code]

Today these are only caught at resolve time (the call to GetRequiredService), doing this earlier would be better. Context https://github.com/dotnet/runtime/pull/39540/files#r470778826

[2020-08-14 18:18] BertanAygun commented on #40847
This example also seems to be broken on my machine: https://docs.microsoft.com/en-us/dotnet/api/system.stringcomparer.ordinalignorecase?view=netcore-3.1

I've also tried with letters like c ç o ö s ş u ü which shows the same behavior. The Turkish specific letters are always sorted to end.

[2020-08-14 18:22] cston commented on #39614
@sidney-pauly, thanks for reporting this issue. As you suggested, `Expression.TypeIs()` should probably throw an exception if the type argument is an open generic type.

However, we are limiting the changes accepted in System.Linq.Expressions (see [README.md](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Linq.Expressions/README.md)).

[2020-08-14 18:22] AndyAyersMS commented on #39028
We changed the layout of the `Entry` data structure in dotnet/coreclr#27195.

The upshot is that in 5.0 the offset add for the `next` field is outside the bounds check comma rather than within:
[code]
This alters the jit's CSE behavior as now the comma subtree in 5.0 is identical to the one for the element access, and so they get CSEd. That CSE is the `lea` we see above.

This difference arises in

[2020-08-14 18:24] #39614 closed

[2020-08-14 18:26] danmosemsft commented on #39028
I want to appreciate your analyses, @AndyAyersMS, I always learn something 😺

As you know, Dictionary,GetValue is an antipattern API - if it is on a hot path, the caller is probably using the wrong data structure. So there is no suggestion on my part that this is important for 5.0. It's key lookups that are vital.

[2020-08-14 18:31] AndyAyersMS commented on #39028
@danmosemsft yes, this is not a perf critical API.

Per dotnet/coreclr#27195, the rational for the rearrangement of `Entry` fields was:

We might try undoing this and see if we can recover the perf here without regressing the more important `TryInsert` and `FindValue` methods, but would suggest we hold off on this until after 5.0.

[2020-08-14 18:34] abelbraaksma commented on #38872
@danmosemsft, thanks for the pointers on those tests! I'm actually not sure I can finish today for the simple reason that I couldn't get the build succeed (only to find out that I needed to update VS, oops). Behind a relatively slow connection, the download of 5GB for the update can take a while...

While I think the changes i made are sound (the renaming part, at least), I'd prefer to at least su

[2020-08-14 18:35] AndyAyersMS commented on #39028
Also even if we flip `Entry` back to how it was before, I'd like to tag this as codegen somehow, as we should be able to cope with either layout equally well.

[2020-08-14 18:45] steveharter commented on #25958
Changing milestone to 6.0 for risk (5.0 is almost in ask-mode and no more previews); see the PR for more information. cc @GrabYourPitchforks

[2020-08-14 18:46] vitek-karas commented on #40013
Fixed by https://github.com/dotnet/runtime/pull/40780.

[2020-08-14 18:46] #40013 closed

[2020-08-14 19:00] GrabYourPitchforks commented on #26961
@tarekgh Sure, that sounds reasonable. Do you think there's still interest in a __new__ dedicated "perform case folding" API? You've previously pointed out the one in corefxlab, but I'm trying to figure out when (if ever) we'd port it to runtime.

[2020-08-14 19:02] WernerMairl commented on #40700
What about this implementation ?
https://github.com/WernerMairl/runtime/tree/40700-testcoverage-host-stopasync ?

[2020-08-14 19:04] tarekgh commented on #26961
We should look at the case folding support APIs in the next releases. I am still seeing it is useful to support and we already have requests for it.

[2020-08-14 19:04] danmosemsft commented on #39028
@eiriktsarpalis @layomia are area owners. Chaps, shall we move this out to Future since it's not such a perf-critical API, and there is no simple fix?

@AndyAyersMS I'm thinking it makes sense to re-label this codegen since it sounds like improvements there might be of broader value/more durable than twiddling with the layout of the struct in Dictionary which itself may regress something else.

[2020-08-14 19:07] maryamariyan commented on #40700
I think the link is broken

[2020-08-14 19:13] #40115 closed

[2020-08-14 19:13] #40436 closed

[2020-08-14 19:16] danmosemsft commented on #38872
@abelbraaksma I don't know your schedule - we don't branch until Monday, if that helps.

[2020-08-14 19:24] elinor-fung commented on #40718
cc @jkoritzinsky This looks like a (potentially common) use case that would be enabled with the new struct marshalling design / attributes.

[2020-08-14 19:24] steveharter commented on #36329
Linking https://github.com/dotnet/runtime/issues/25958 as it adds an nice exception for this case.

[2020-08-14 19:25] jcbeppler commented on #40430
My biggest problem is that usually .NET can be easily decompiled, except with UWP Native, at least as far as I tested (I hope to be right). Not in a "normal" company mindset, someone will put a lot of IP in a project which can be easily decompiled.
Linux is cool ok, but all desktop applications are for Windows in the enterprise world.

Maybe to make the life easier, put a checkbox which says:
**NA

[2020-08-14 19:25] wfurt commented on #40679
I'm working with Windows team to trace this down. The `None` works as intended e.g. give the decision to the OS.
BTW earlier Windows versions had TLS13 disabled by default but that changed very recently and it us one unless you disable it. That will help finding bugs - like this. I think that is price for using latest dev builds.

[2020-08-14 19:26] jkoritzinsky commented on #40718
Yes, the new struct marshalling code-gen should cover this scenario pretty well.

[2020-08-14 19:34] tebeco commented on #40679
I see it as a win since this needs to be seems before november 12 ;)

[2020-08-14 19:54] jeffhandley commented on #38943
Thanks, Adam! We'll want to put a little more time into this later to try to narrow it down to see if we can find the appropriate mono area that we would move it into. But since we've already punted this out to 6.0.0 and disabled the test for now, there's no urgency on it as far as I'm concerned.

/cc @lewing @steveisok

[2020-08-14 19:55] jkotas commented on #40585
What is the metrics you want to optimize here in priority order? Peak memory consumption? % time spent in GC? Maximum GC pause times?

[2020-08-14 20:04] maryamariyan commented on #40507
It would be as unpredictable for SystemdConsoleFormatter and SimpleConsoleFormatter, and we would still be left inconsistent

I think you're thinking in terms of using JsonConsoleFormatterOptions for further customization. If so, I believe there is no such customization yet for Exception.Data.

Your PR is a definite improvement to what is already in the code base, which is not using System.Excepti

[2020-08-14 20:16] eerhardt commented on #38683
Just an FYI - these kinds of decisions impact other tools in the ecosystem as well. For example, the ILLinker has the ability to strip attributes if someone asks it to. However, when an attribute can be generated into a bunch of different assemblies, it makes it slower for the linker to strip these attributes.

See https://github.com/dotnet/runtime/pull/39000#discussion_r452411120 for the discussi

[2020-08-14 20:22] CoffeeFlux opened #40853 "[mono] make run-tests-corefx-% target no longer works correctly"
Running the following:

[code]

Causes us to loop on a particular line in mono.proj, logs below:

[code]

Checking locally, it appears to have been copied. Not sure what's going on, but it would be nice to have that target working again.

[2020-08-14 20:22] AndyAyersMS commented on #40061
I'll investigate.

[2020-08-14 20:25] maryamariyan commented on #40700
Sure, please go ahead if you'd like to open the PR.

[2020-08-14 20:26] maryamariyan commented on #40033
Closing as resolved, Please reopen you find more issues.

[2020-08-14 20:26] #40033 closed

[2020-08-14 20:33] echesakovMSFT commented on #38518
@mangod9 As far as I know, there are more failures in GC that manifest themselves as AVs.

We might keep this issue open to track them down, or we can close this one or open another one to specifically track the AV related issues.

[2020-08-14 20:49] mangod9 commented on #38518
Ok, lets keep this one to track AVs in arm64.

[2020-08-14 20:50] mangod9 commented on #40604
closing this based on this fix: https://github.com/dotnet/runtime/pull/40719. Please reopen if this still shows up in latest gcstress runs.

[2020-08-14 20:50] #40604 closed

[2020-08-14 20:51] mangod9 commented on #40605
Hoping that this https://github.com/dotnet/runtime/pull/40719 fixes this issue. Please reopen if it still repros on recent runs.

[2020-08-14 20:51] #40605 closed

[2020-08-14 21:12] mangod9 commented on #37237
This is most likely fixed by: https://github.com/dotnet/runtime/pull/40493. The asserts are the same.

[2020-08-14 21:12] #37237 closed

[2020-08-14 21:16] briansull commented on #40444
I would say that this is unlikely to meet the bar to be ported to the desktop .NET Framework.

[2020-08-14 21:17] carlossanlop commented on #39370
Thanks for the details.

Changing the default behavior of `Directory.EnumerateFiles` to be case sensitive would be a breaking change, so the correct way to capture sensitivity is, as you pointed out, by using `EnumerationOptions.MatchCasing`.

The related issue you shared https://github.com/dotnet/runtime/issues/34235 has the API proposal to detect sensitivity for the folder. Feel free to also pro

[2020-08-14 21:18] AndyAyersMS commented on #40061
Adding to 5.0 for now, will reconsider when we know more.

[2020-08-14 21:19] AndyAyersMS commented on #39393
Missing an area label, so will presume codegen.

[2020-08-14 21:22] mangod9 commented on #39393
@AndyAyersMS are you able to repro this? I know you were working on reproing other issue on arm32.

[2020-08-14 21:25] JulieLeeMSFT commented on #38703
@janvorli, we suspect that this might be related to SDK issue. You appear as ["area-SDK" owner](https://github.com/dotnet/runtime/issues/13556). However, I don't see area-SDK anymore from our labels, but who would be the proper owner for SDK related issue? I also reported this to dotnet/sdk.

[2020-08-14 21:25] janvorli commented on #38703
The problem is that libcoreclr.so needs to be side by side with the ilasm and the steps above don't put it there. The folder ./bin/Release/netcoreapp3.1/linux-x64/publish created by the above mentioned commands contains just these files:
[code]

Removing the `false` after the `--self-contained` fixes the problem since the whole runtime is copied into the target folder.

[2020-08-14 21:25] DrewScoggins opened #40856 "[Perf -23%] System.Collections.IndexerSet<String>.Span"
**I have added a new feature to the performance issues. If you click on the name of the benchmark in the table, you will be taken to a page that shows the entire test history for that benchmark.**

### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.18362
Changes | [diff](https://github.com/dotnet/runtime/compare/55ed5cda016f1dd3d730e81165c40d45327e1ba4...d1c7946bb0892005a58ec647e3a6

[2020-08-14 21:26] carlossanlop commented on #39300
Thanks for the details.

We don't normalize paths prefixed with `\\?\`, and we are following the same behavior as Windows: a path with such prefix is considered as already normalized, and should not be modified.

Here is the relevant code in `Path.GetFullPath`:
https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.Private.CoreLib/src/System/IO/Path.Wi

[2020-08-14 21:28] janvorli commented on #38703
I am not an owner of the SDK area, I'm not sure how I got it assigned to myself. In fact, I have no idea what that area is supposed to mean in the runtime repo. I believe that dotnet/sdk repo is an appropriate repo for this issue.

[2020-08-14 21:28] kouvel commented on #40444
Oh ok. Using `Thread.VolatileRead` or `Volatile.Read` is working as expected in .NET Framework 4.8 (the former has the `NoInlining` attribute).

[2020-08-14 21:29] jkotas commented on #40830
This would be pretty expensive non-pay-for-play counter. We do not have counter that tracks number of regular objects allocated either.

[2020-08-14 21:30] danmosemsft commented on #40856
@DrewScoggins the diff link is bad again. It covers Aug 4-Aug 14th and won't open.

The correct link, based on zooming into the graph, is seems to be https://www.github.com/dotnet/runtime/compare/55ed5cda016f1dd3d730e81165c40d45327e1ba4...d1c7946bb0892005a58ec647e3a6d8f3514cdc6b

Is it possible to tighten the diff before opening such issues? Maybe a script needs adjustment, or it has to be done ma

[2020-08-14 21:30] JulieLeeMSFT commented on #38703
Closing this bug and tracking from [dotnet/sdk #12928](https://github.com/dotnet/sdk/issues/12928).

[2020-08-14 21:30] #38703 closed

[2020-08-14 21:31] svick commented on #40847
The problem is that you're using **string** comparer to compare **chars**. If I switch to comparing strings, I get output that's much closer to what you're expecting.

My code:

[code]

The output:

[code]

Note that this error becomes much more obvious if you use a more modern API. For example with my modifications, `chars.OrderBy(c => c, StringComparer.CurrentCulture)` compiles fine, while `char

[2020-08-14 21:32] DrewScoggins commented on #40856
I updated it. This will likely always be a manual process, at least for the time being.

[2020-08-14 21:33] danmosemsft commented on #40856
Thank you. Can you pleaes also fix the typo in the repro instructions that I mentioned in an earlier issue? The Windows repro instructions should be like this I think
[code]

[2020-08-14 21:35] danmosemsft commented on #40856
Looking at the changes, there's no smoking gun but this one seems least unlikely to be relevant:

https://github.com/dotnet/runtime/commit/d1c7946bb0892005a58ec647e3a6d8f3514cdc6b

@trylek do you think that is possible?

Here is the test (parameterized for 'string'):
https://github.com/dotnet/performance/blob/8f00082e5f1ab8b86a98bf3bfc9c307a171912a3/src/benchmarks/micro/libraries/System.Collection

[2020-08-14 21:36] steveharter commented on #37940
@CodeBlanch thanks for reporting this issue. Yes there was an unintended change for null handling from 3.0 to 5.0 and the linked PR addresses it.

[2020-08-14 21:39] jkotas commented on #38703
This was fixed by https://github.com/dotnet/coreclr/pull/25930 and related PRs that made ilasm/ildasm SDK standalone. It does not reproduce for with the .NET 5 preview packages.

BTW: dotnet/runtime is the right repo to track this if this is still a problem. dotnet/sdk repo is not responsible to ilasm/ildasm packages.

[2020-08-14 21:39] josh-endries commented on #29937
FFS, just own up to a bad decision and make it the default behavior, like every other worthwhile serialization tool out there. The thing needs to do before it fasts. As far as stupid default behaviors go, this has got to be one of the dumbest I've come across. A serialization library that (by default) doesn't serialize what you give it. Awesome! No wonder it's so fast!

IFoo { string Foo }
IBar {

[2020-08-14 21:47] carlossanlop commented on #38824
Thanks for the details.

I know in Linux, there are ways to manipulate the attributes of the symbolic link itself, For example you can read the file attributes using `stat` and you can read the symbolic link attributes using `lstat`. You can also use `touch` to alter the timestamp of a file, and you can use `touch -h` to alter the timestamp of the symbolic link itself.

What I would like to invest

[2020-08-14 21:51] kunalspathak commented on #39721
The diff is related to https://github.com/dotnet/runtime/pull/38586 and shouldn't introduce regression.

[2020-08-14 21:51] davidfowl commented on #40830
Wait why would it be expensive? Counting using interlocked in this code path is too expensive?

[2020-08-14 21:52] GrabYourPitchforks commented on #39829
This method was at one point used by _System.Text.Json_ ([see source](https://github.com/dotnet/corefx/blob/23db30b63d4945653f358ae4ac387c3f259fc9d0/src/System.Text.Json/src/System/Text/Json/Writer/JsonWriterHelper.Escaping.cs#L58-L66)). They've stopped using the API since then, but since it's a public API we need to keep it around in perpetuity.

What is this bug tracking? That we should stop mak

[2020-08-14 21:52] danmosemsft commented on #39415
@lohitakshgupta ?

[2020-08-14 21:55] jkotas opened #40862 "API Proposal: get full path of current process executable"
## Background and Motivation

The path of the current process executable is often needed for logging or to find more files next to the current process executable.

This API is needed more than before now that we support single-file publishing and assemblies do not have physical file paths anymore. See https://github.com/dotnet/designs/blob/master/accepted/2020/form-factors.md#single-file for detai

[2020-08-14 22:00] GrabYourPitchforks commented on #40410
I don't think we have existing `IndexOf` methods that take an equality comparer. What's the proposal here? Is it the below?

[code]

Would it make more sense to be a LINQ extension method?

[code]

[2020-08-14 22:03] #29122 closed

[2020-08-14 22:07] #38713 closed

[2020-08-14 22:10] am11 commented on #40847
Interestingly, output from that documented example on .NET 5.0.100-preview.8.20362.3 and .NET 4.7.2 are the same; that is, both are different than what documentation suggests should be.

Difference:

[code]

[2020-08-14 22:10] eiriktsarpalis commented on #39829
Unlike `TextEncoder.Encode(string)` which depends on `FindFirstCharacterToEncode(char*)`, `TextEncoder.EncodeUtf8` does not make use of `FindFirstCharacterToEncodeUtf8`. The issue then is that `TextEncoder.EncodeUtf8` does not take advantage of any of the hardware intrinsics optimizations. If that's intentional or not necessary to improve on, I can close the issue.

[2020-08-14 22:11] jkotas commented on #40830
Yes!

[2020-08-14 22:12] BertanAygun commented on #40847
@svick, I can repro the same sorting strings as well using List.Sort suggested by the MSDN link I posted earlier. I get the same output as @am11, which is the wrong output.

[2020-08-14 22:13] davidfowl commented on #40830
@jkotas Can we do a performance test to make sure? I believe you, but we should measure the overhead before we do something more complex.

[2020-08-14 22:14] terrajobst commented on #40862
I usually do it via `Environment.GetCommandLineArgs()[0]` but that's not pretty/intuitive. I like it!

[2020-08-14 22:15] terrajobst commented on #40862
(also tagging IO, b/c it seems relevant)

[2020-08-14 22:15] noahfalk commented on #40830
I assumed @davidfowl was seeking a counter that would only track the count when someone enabled this provider. The only cost we'd pay by default would be the log.IsEnabled() check returning false and skipping the remainder of the logic, which is already a cost we incur now.

[2020-08-14 22:16] briansull commented on #40444
The fix address a missing check for a Thread.MemoryBarrier()
All of the other memory ordering checking instructions were already covered by the current code.

[2020-08-14 22:24] jkotas commented on #40830
Here you go:

[code]

On my Surfacebook:

Without Interlock.Increments: 13348ms
With Interlocked.Increments: 33192ms

The difference will be even more on higher end server machine.

[2020-08-14 22:25] svick commented on #40847
@am11 @BertanAygun As far as I can tell, the only difference is how values that only differ in case (according to the given culture) are sorted when ignoring case. And since `List<T>.Sort` is documented as being unstable, it's okay that the order is different in that situation.

If you still think there is an issue, can clarify why the output is incorrect?

[2020-08-14 22:26] qsdfplkj commented on #29937
If you like OOP you should be serializing IList and not a List. I don’t have a problem to serialize object[] but we need metadata to deserialize the Json but there is no metadata yet so deserialize should be called with the samen generic type argument as serialize (which only works for the root object and not for properties) When you use object or the non generic method you cannot deserialize with

[2020-08-14 22:31] svick commented on #40410
Somewhat related discussion about `IndexOf` on `IEnumerable<T>`: https://github.com/dotnet/runtime/issues/31156.

[2020-08-14 22:33] GrabYourPitchforks commented on #39721
How important is this scenario? I think we can get substantial perf wins for primitive types like `byte`, `char`, `int`, etc. But I don't want to risk introducing churn this late in the release cycle unless this is a critical scenario.

[2020-08-14 22:37] abelbraaksma commented on #38872
Hmm, strange, I would swear I could build stuff before. After updating everything (I ran into this briefly too: ), I get:

e\.dotnet\shared\Microsoft.NETCore.App\5.0.0-preview.6.20305.6\Microsoft.NETCore.App.deps.json]: No such file or directory [D:\Projects\Github\Runtime\tools-local\tasks\installer.tasks\installer.tasks
.csproj]

Since this points to the directory in the local `.dotnet` path, it

[2020-08-14 22:44] GrabYourPitchforks commented on #32004
@jkotas Do you suppose this report is actionable by us? I don't see this crash report in Watson, so things like the stack trace are no longer available. It's possible the data was purged given how long it has been.

[2020-08-14 22:46] danmosemsft commented on #38872
I have never seen that error and if I got it I would probably `git clean -fdx` on the repo and `git pull` and then build again explicitly using the `dotnet` out of the `.dotnet` folder (which isn't required, but why not)

[2020-08-14 22:49] GrabYourPitchforks commented on #40497
Closing as no response.

[2020-08-14 22:49] #40497 closed

[2020-08-14 22:50] brettfo opened #40864 "tailcall regression with compiled F#"
Machine:
Latest Windows 10 x64

Pre-verification:

1. On a clean machine install latest VS with the following workloads:
   - **.NET desktop development**
      - Add optional component **F# desktop language support**
   - **.NET Core cross-platform development**
2. Clone `https://github.com/dotnet/fsharp` and reset to commit 1c1b5ac7eacbbfd79e7277982e15178cecee20b4
3. Build with `.\Build.cmd -c R

[2020-08-14 22:50] BertanAygun commented on #40847
Here is another example, these should have output "cçıi" per Turkish alphabet ordering. On try.dot.net, it outputs 'ciçı'.

`        // Create a list of string.
        List<string> list = new List<string>();
        list.Add("ç");
        list.Add("c");
        list.Add("i");
        list.Add("ı");

        // Get the tr-TR (Turkish-Turkey) culture.
        CultureInfo turkish = new CultureInfo("

[2020-08-14 22:51] pgovind commented on #38872
I've never seen that error either. If your build still fails, tell us your environment too? Or, even better, try it again by passing in `-bl` in the command line to generate a bin log.

I can still most likely review your PR over the weekend if you put it up, so you have some time :)

[2020-08-14 22:53] AndyAyersMS commented on #40864
Presume codegen for now, and marking as 5.0 pending investigation.

cc @dotnet/jit-contrib

[2020-08-14 22:55] am11 commented on #40847
I am not sure if the output of unstable sort being different across the frameworks is ok; if not, then maybe that is not the problem here, since both .NET Framework 4.7.2 and .NET 5 are showing a consistent output.

[2020-08-14 22:55] abelbraaksma commented on #38872
Thanks for the support. The error is gone (I edited the comment with the cause: `dotnet.exe` was hanging and made `git clean` fail in creative ways).

But I keep getting an `ml64.exe` error, which prompted me to update CMake too, but that didn't help (it's a messy error, and I have a few of them):

If I can't find a solution quickly, I'll post the binary log output.

[2020-08-14 22:55] AndyAyersMS commented on #40061
Failed again on 8/7, so seems like it may still be active. Trying to repro locally.

[2020-08-14 22:58] soroshsabz commented on #1545
I think this issue can resolve my feature needed in https://developercommunity.visualstudio.com/idea/368318/add-password-protected-zip-file-to-systemiocompres.html

[2020-08-14 22:59] BertanAygun commented on #40847
I tested this locally and get the correct output both for netcoreapp3.1 and net472 but I consistently get the wrong output on try.dot.net. Not sure which host try.dot.net uses but it could be related to that now.

Although I would expect runtime to throw if sorting by given culture isn't supported on the host since it can cause unexpected behavior in the app.

[2020-08-14 22:59] AndyAyersMS commented on #39393
Am just about to try reproing... same test dll as in #40061 which I already have running, but slightly different stress config.

[2020-08-14 23:06] AndyAyersMS commented on #40864
Going to take a preliminary look while waiting for other intermittent bugs to repro.

@dotnet/jit-contrib feel free to jump in and take this one.

[2020-08-14 23:10] abelbraaksma commented on #38872
Ok, this appears to be cause by a new `cmd.exe`, which probably doesn't have `lib.exe` on the same path (it doesn't inherit it?). Since I have basically all Visual Studio's and Windows SDK's from the last 20 years or so, something has gotten amiss here. I need to find the command in the build that fires up a new `cmd.exe` and have it inherit the parent, or just update the global path and add the l

[2020-08-14 23:15] svick commented on #40847
@BertanAygun I *think* this happens because try.dot.net is using Blazor, [which omits some culture information by default](https://docs.microsoft.com/en-us/aspnet/core/blazor/globalization-localization?view=aspnetcore-3.1#blazor-webassembly). You might want to open an issue on [dotnet/try](https://github.com/dotnet/try/) about this.

[2020-08-14 23:23] tarekgh commented on #40847
Thanks @svick for your follow up replies. I believe you are right. easiest way to confirm is rung the line of code

[code]

which prints:
`Mono 6.5.0 (explicit/9f49cc85af1)`

by that I am closing this issue. You may try the latest version of Blazor and you can report the issue if it is still there.

[2020-08-14 23:23] #40847 closed

[2020-08-14 23:27] Turnerj commented on #36621
Hmmmmm - in my case, my `CanConvert` looks like the following:

https://github.com/Turnerj/Schema.NET/blob/5df8731a317c5173a1ace4870188ef82b270c95a/Source/Schema.NET/ValuesJsonConverter.cs#L33

The types that implement `IValues` are structs of `OneOrMany<T>`, `Values<T1, T2>`, `Values<T1, T2, T3>` etc.

I'll note that this converter is specifically added to every property where it is applicable so

[2020-08-14 23:29] sandreenko commented on #11995
The exclusion list was deleted so now this issue is not mentioned anywhere, also many things have changed since the test was open so the issue is outdated and can be closed.

[2020-08-14 23:29] #11995 closed

[2020-08-14 23:30] DrewScoggins opened #40866 "[Perf -13%] Microsoft.Extensions.Primitives.StringSegmentBenchmark.EndsWith"
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.18362
Changes | [diff](https://github.com/dotnet/runtime/compare/3218c128072962fc90d92677c704f8653e1777a0...d7506e7d04b5dadf40e48896a8c1585ed10cd354)

### Regressions in Microsoft.Extensions.Primitives.StringSegmentBenchmark

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
[EndsWith]

[2020-08-14 23:34] espenrl commented on #40423
I am working on a library `Extended client certificate authentication with management UI for ASP.NET Core`, please see https://github.com/espenrl/erl.AspNetCore.Authentication.ClientCertificate. We're in the process of doing the final touches before a first release. This will give you an idea of the use case, as well as ready to run examples.

[2020-08-14 23:43] espenrl commented on #40423
I've got another idea. What about allowing a callback for configuring the `X509Chain.ChainPolicy` to our liking.

https://github.com/dotnet/aspnetcore/blob/91776832e08d5ddf8abc2824ee7ac24f42f953e7/src/Security/Authentication/Certificate/src/CertificateAuthenticationHandler.cs#L125-L131

[2020-08-14 23:52] sandreenko commented on #11848
I think there was a type in the range implementation, should not it be
[code]
instead of
[code]
?

If yes then both methods now have `; Lcl frame size = 32` and the first has
[code]
when the second
[code]

The only difference is in this instruction:
[code]

because in the second method when we come to global morph and try to do `SUB(x, const)->ADD(x, -const)` we don't yet know that `op2` is const

[2020-08-14 23:59] Jozkee opened #40867 "System.IO.Tests.File_Copy tests failing on Browser wasm"
Triggered by https://github.com/dotnet/runtime/pull/40753.

First:
[code]
Second (this is a new test just added on https://github.com/dotnet/runtime/pull/40753):
[code]

[2020-08-15 00:00] bartonjs commented on #40423
This seems to be either for SslStream or HttpClient (or both), changing area.

[2020-08-15 00:09] #40249 closed

[2020-08-15 00:09] agocke opened #40868 "Adding code to Assembly.GetFile(s) causes interface re-ordering in Mono"
See https://github.com/dotnet/runtime/pull/40593

[2020-08-15 00:15] AndyAyersMS commented on #40864
Managed stack bactrace at point of overflow...
[code]

[2020-08-15 00:17] #12690 closed

[2020-08-15 00:27] #40190 closed

[2020-08-15 00:37] AndyAyersMS commented on #40864
Something goes wrong in the new tail call helpers and we end up not reusing stack frames.

cc @jakobbotsch @erozenfeld

[2020-08-15 02:14] MostHated commented on #40430
Shhh... The fact that Rider does this for you automatically is amazing when I am trying to figure out how something works behind the scenes in Unity or 3rd party packages.

[2020-08-15 02:19] jkotas opened #40874 "Environment.GetCommandLineArgs()[0] points to non-existing file in single-file apps"
Repro:
[code]
1. `dotnet publish -r win-x64 --self-contained=false /p:PublishSingleFile=true`
2. `bin\Debug\net5.0\win-x64\publish\zzz.exe`

Actual result:
`c:\test\bin\Debug\net5.0\win-x64\publish\zzz.dll`

Expected result:
path to file that physically exists on disk

[2020-08-15 02:24] #36621 closed

[2020-08-15 02:28] #37940 closed

[2020-08-15 02:33] #38889 closed

[2020-08-15 02:33] #38892 closed

[2020-08-15 02:33] #39309 closed

[2020-08-15 02:33] #39398 closed

[2020-08-15 02:33] #8017 closed

[2020-08-15 02:33] #37117 closed

[2020-08-15 02:33] #38887 closed

[2020-08-15 02:48] jkotas commented on #40862
`Environment.ProcessExecutablePath` would return same path as `Process.GetCurrentProcess().MainModule.FileName`.

`Environment.ProcessExecutablePath` would not always return same path as `Environment.GetCommandLineArgs()[0]`. `GetCommandLineArgs[0]` is virtual arg0.

For example, if you run `dotnet myprogram.dll`, `Environment.GetCommandLineArgs()[0]` is myprogram path. `Environment.ProcessExecuta

[2020-08-15 02:52] Turnerj commented on #36621
Now that this is closed, should I be creating a new issue for the `InvalidProgramException` errors I've received that I've mentioned in my previous comments? (As my `CanConvert` doesn't do a nullable check)

[2020-08-15 03:00] danmosemsft commented on #38872
Repairing your VS (the newest one?) might make sure the environment variables are correct -not sure though.

[2020-08-15 03:03] danmosemsft commented on #40862
In what environments would  it return null?

[2020-08-15 03:27] jkotas commented on #32004
@tommcdon How would you like to route this? Should we delete area-UWP since it is not actionable in this repo?

[2020-08-15 03:37] jkotas commented on #40862
Wasm?

[2020-08-15 03:58] #1011 closed

[2020-08-15 03:58] #33061 closed

[2020-08-15 04:12] layomia commented on #36621
@Turnerj, yes pease open a new issue and kindly provide a repro that shows the converter, all types being (de)serialized, what the JSON payload looks like, and what the call to the serializer looks like.

[2020-08-15 04:59] geoffkizer opened #40876 "HttpClient: Timing issue in sync ConnectHelper.Connect"
This code has a timing issue:

[code]

If the socket.Connect call succeeds, but then the CancellationToken fires before the registration is disposed, then the Socket will be disposed but we will still continue as if the Connect succeeded.

I'm reasonably sure that's what caused this failure: https://helix.dot.net/api/2019-06-17/jobs/e63fcc11-e9ad-476c-9798-47f2f6d3b152/workitems/System.Net.Http.Fu

[2020-08-15 05:01] terrajobst commented on #40862
Interesting. Is this discrepancy desirable? It seems for a .NET developer, the virtualized output would generally make more sense, no?

[2020-08-15 05:23] pjmlp commented on #40430
@jcbeppler  You are wrong, that is a common misunderstanding of bytecode vs native, it is just a matter of having the right tools.

https://www.hex-rays.com/products/decompiler/compare/compare_vs_disassembly/

Hex-Rays is just a possible solution, there are others to choose from.

[2020-08-15 05:37] terrajobst opened #43971 "[Platform Compatibility Analyzer] Nested APIs shouldn't be allowed to expand the platform set"
### Repro

[code]

### Expected

### Work Items

Each of these should produce separate diagnostic ids:

- [ ] Inconsistent List section of the [Advanced Scenarios of Combining Attributes](https://docs.microsoft.com/dotnet/standard/analyzers/platform-compat-analyzer#advanced-scenarios-for-combining-attributes), when conflicting attributes are applied at the same level
- [x] Nested APIs shouldn't be

[2020-08-15 05:39] jkotas commented on #40862
We can describe the API by what it returns. It is the current proposal. The process executable path is non-ambiguous definition.

Or we can describe the value by what it is meant to be used for. It leads to some kind of policy to computed or configure the path. The existing `AppContext.BaseDirectory` is on this plan . I think that `AppContext.BaseDirectory` serves the scenarios that need the virtu

[2020-08-15 05:40] jkotas commented on #40862
As I was looking into this, I have found that there is API that returns policy-free process executable in WinForms: `Application.ExecutablePath`. So this would be a cross-platform duplicate of the WinForms API.

[2020-08-15 05:59] Turnerj opened #40878 "System.Text.Json Access Violation Exception (Attempted to read or write protected memory)"
### Description

First just a quick bit of background: as I've raised in comments in #36621, I've hit a variety of `InvalidProgramException` and `AccessViolationException` while trying to bring System.Text.Json (Previews 4 through 7) to Schema.NET (https://github.com/RehanSaeed/Schema.NET/pull/100). Prior to trying System.Text.Json v5 previews, I had tried v4 which worked with my converter without

[2020-08-15 06:00] Turnerj commented on #36621
@layomia - Done https://github.com/dotnet/runtime/issues/40878

[2020-08-15 06:17] Turnerj commented on #40878
Found the stack trace - VS didn't show it in the exception dialog but it was in the Visual Studio Debug Console - hope it helps!

[2020-08-15 06:25] jcbeppler commented on #40430
@pjmlp I know the difference between decompile vs disassembly. I cannot do anything against disassemblying my software but native compilation can make the software much more secure because the person cannot do a very simple decompilation. A disassembled software will definitely look weird and the disassembled code may not even run correctly.

[2020-08-15 07:01] jakobbotsch commented on #40864
I cannot quite see what segment of the stack is looping in your backtrace. However, it looks like the instantiating stub generated and used by the JIT here also needs to do a tailcall. Since it is leaving a normal frame on the stack the tailcalling mechanism is probably not kicking in. We might be missing tests for this scenario, though it is unclear to me, there are many generic tests around here

[2020-08-15 07:06] jkotas commented on #40864
The instantiating stubs for trivial signatures (e.g. where all arguments fit into registers) use regular tail calls. The instantiating stubs for more complex signatures do not tailcall. It is what's causing the problem.

[2020-08-15 07:47] JamesNK commented on #25443
Would be useful to have. There are a number of places in aspnetcore where `ReadOnlySequence<byte>` are written to `IBufferWriter<byte>`

[2020-08-15 07:49] huoyaoyuan commented on #40202
The current managed accelerated method `SpanHelpers.IndexOf` that powers the internal members takes `int`. If `nuint` is used for the public version, some refactor around it should be taken.

[2020-08-15 08:14] AndyAyersMS commented on #40864
Here's the top of the native stack, frame 0a is one of those complex instantiating stubs

[code]
and the code for this stub:
[code]

[2020-08-15 08:22] huoyaoyuan commented on #38288
For consistency, there are 4 more overloads for `Half` can be added:

[code]

Do I need to create a new API proposal because this one is already approved?

[2020-08-15 08:24] miloush commented on #27936
I understand that some APIs need to be obsoleted because they are fundamentally broken, unsecure or not working. I can also accept that an API can lead to so bad and widespread practices, that the benefits of reducing its usage outweigh compatibility.

I don't see how `IAsyncResult` meets this bar though. Both are valid and working patterns. Obsoletion should not be taken lightly and using it to p

[2020-08-15 08:24] AndyAyersMS commented on #40864
So is the fix it as simple as emitting `tail` prefixes for the callis in `CreateInstantiatingILStub` and perhaps `CreateUnboxingILStubForSharedGenericValueTypeMethods`?

[2020-08-15 08:39] gaviriar commented on #33571
Hi @mangod9 ,

I have sent you the dump via private email. I hope it is somewhat helpful. For future reference here are the instructions on how to create a dump (FYI @ksemkav):

1. Install `dotnet-dump` by following [these steps](https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dotnet-dump#installing-dotnet-dump)

2. Run the build that is stuck `dotnet build --project <problematic-project>

[2020-08-15 08:42] gfoidl commented on #40866
Just to point out that there is https://github.com/dotnet/runtime/issues/39140 (fix is https://github.com/dotnet/runtime/pull/39853), so maybe it's more interesting to validate the numbers after this change is in.

[2020-08-15 08:52] ManickaP commented on #40876
This has been already fixed in https://github.com/dotnet/runtime/pull/39514
But returned back, probably via bad resolution of conflicts in merge, in https://github.com/dotnet/runtime/pull/39524.

I can fix that.

[2020-08-15 08:59] miloush commented on #889
I am generally sceptical about obsoleting non-generic collections, but I have to say that the fact that `StringDictionary` is lower casing all string keys using invariant culture is troubling me (and explains most of the performance difference). However it also means that `StringDictionary` cannot be simply replaced by `Dictionary<string, string>` (you could theoretically supply a custom comparer

[2020-08-15 09:31] Symbai commented on #889
That's the point. If the docs say it should be considered as obsolete, it should have an obsolete attribute. Obsolete don't break code, it only throws a warning and this warning is not an issue because the docs give this warning as well. If there are apps which relies on it they either find an alternative or stick to an obsolete class.

I've seen many stuff marked as obsolete:
https://github.com/d

[2020-08-15 09:45] miloush commented on #32954
I think the implicit operator is reasonable. There is no loss of precision. The behaviour is the same as with `DateTime` constructor without the kind specified, i.e. it's treated as local time unless told otherwise. There is nothing _obsolete_ on the conversion. If you think it is being misused, analyser seems an appropriate counter measure.

[2020-08-15 09:47] slavanap commented on #32954
@miloush there's a loss of precision, if the offset stored within the value does not match with you local time or UTC. Not to mention that your local timezone may be updated by a user any time.

[2020-08-15 09:54] miloush commented on #32954
@slavanap but the `DateTimeOffset` is constructed so that the offset always matches either local time or UTC, and that's the direction of the implicit conversion.

Sure, that's why we have both `DateTime` and `DateTimeOffset`, no one is forcing you to use one or another. If your intention is a relative time, use `DateTime`, if absolute, use `DateTimeOffset`, but you convert at one point in time.

[2020-08-15 10:03] slavanap commented on #32954
@miloush there's a problem with this if you work with DateTime with Kind = Unspecified and can easy compare it with DateTimeOffset value, which leads to Undefined Behavior for the conversion because of luck of information what offset Unspecified Kind of DateTime should be used for.

And it's very easy to receive DateTime with the kind of Unspecified, if you work with at least 3 timezones, because

[2020-08-15 10:05] miloush commented on #889
Just to clarify we are in agreement that `StringDictionary` should be marked `[Obsolete]` here.

It's not as simple as that. Some codebases treat warnings as errors, and there is an understandable expectation that obsolete stuff will be removed in the future. The fact that we cannot distinguish between "we messed up and this will be going away ASAP" and "you might want to consider this other thing

[2020-08-15 10:08] Jozkee opened #40881 "Test failure Timeout_SetTenMillisecondsOnLoopback_ThrowsWebException"
Libraries Test Run release coreclr Linux x64 Debug
https://dev.azure.com/dnceng/public/_build/results?buildId=771997&view=logs&j=71afe768-e493-597c-228c-037834193aeb&t=3e74a8b7-5e62-58f8-6a85-9e36ef39d1c1

Helix log: https://helix.dot.net/api/2019-06-17/jobs/0684a59a-ffc9-4199-9295-900298e7dfc2/workitems/System.Net.Requests.Tests/console

[code]

[2020-08-15 10:10] #31429 closed

[2020-08-15 11:01] miloush commented on #32954
I think the issue here is that you are interpreting "unspecified" as "neither local nor UTC", while the API treats it more like "could be local or UTC, whichever you want". For example, `IsDaylightSavingTime` treats unspecified as local, `ToLocalTime` treats it as UTC.

The `DateTimeKind` is not preserved during serialization. The comparison operators do not use it either. You can compare `Local`

[2020-08-15 11:12] Symbai commented on #40430
Currently a .NET program decompiled reveal the whole source code. This even includes all method names and variable names. This is cool for debugging and allows us to have a "readable" stacktrace when an exception occurs. However its a huge security flaw and a reason why there is a huge market for .NET obfuscators.

A native application can be disassembled. But it does not goes down to reveal its f

[2020-08-15 11:30] slavanap commented on #32954
@miloush I think that precedence of DateTime over DateTimeOffset is not correct and is the real issue while you're making assumptions like this. These types are independent types. They can be used for functions overloads and with this implicit conversion of one over another, it creates possiblity of the API incorrect usage like in the example above. Incorrect usage that is hardly debuggable, becau

[2020-08-15 11:45] am11 commented on #40862
Would it make sense to expose both the native and virtual paths:
[code]

[2020-08-15 12:08] klogeaage commented on #31326
@steveharter I tried the latest preview package, 5.0.0-preview.7.20364.11, but it completely failed to deserialize the JSON received from my .Net Core 3.1 backend. This is surprising, as the backend uses System.Text.Json. It gave no errors, just returned objects with no sensible data in them.

This is the code with the working Newtonsoft statements commented out:
[code]

Would you be interested in

[2020-08-15 12:11] NN--- commented on #29387
What about ReadOnlySet which can wrap any ISet ?
Like https://stackoverflow.com/a/36815316/558098

[2020-08-15 12:20] miloush commented on #32954
As I said the perceived loss is only if you view the "unspecified" as "neither".

It works as expected to me - clearly there are developers with different expectations here. Making the operator obsolete will therefore be also disruptive, to existing code that uses it correctly. (I don't have any numbers to judge which situation is more common.)

I think that is a wrong goal. Let me know if I am mi

[2020-08-15 12:30] #40876 closed

[2020-08-15 12:30] #40881 closed

[2020-08-15 12:44] pjmlp commented on #40430
@Symbai It is not a protection against anything, as any Android developer that has tried to use the NDK as means to protect their IP will tell you. The applications that you briefly mention, can do the same with single click, and even though they usually assume C or C++ code as original source code, they are good enough to steal your algorithms.

I want AOT, for scenarios where .NET will lose long

[2020-08-15 13:15] steveisok commented on #40732
This doesn't seem like a runtime issue.  @lewing please confirm.

[2020-08-15 13:56] slavanap commented on #32954
@miloush
This is not "undesired" behavior, but "unexpected" behavior, because of the implicit nature of the operator. I don't know a human who can infer types 100% accurately while reading source code.
That's why,

even `new` expression with constructor call will help detecting such cases and handle them as informed developer would like to. Alternatively, one may cast DateTimeOffset to DateTime vi

[2020-08-15 14:51] felipepessoto commented on #40768
If we want to reduce memory allocation, we may want to filter the process name all the way through the NtProcessInfoHelper.GetProcessInfos, for Windows, where we have SYSTEM_PROCESS_INFORMATION.ImageName:
https://github.com/dotnet/runtime/blob/f4d39134b8daefb5ab0db6750a203f980eecb4f0/src/libraries/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Win32.cs#L346

and similarly for Lin

[2020-08-15 15:10] jkotas commented on #40864
It would introduce very significant performance regression for scenarios that happen to go through these instantiating stubs and do not care about tailcalls.

I think that the best way to solve this is by manually "inlining" the instantiating stub into the tailcall helper: Load address of the actual target + instantiating stub arg in the first tail call helper and match it in the second tail call

[2020-08-15 15:37] jkotas commented on #40862
I am not sure sure what the difference between `ProcessExecutablePath` and `ProcessMainModulePath` would. What would be the implementation used for `ProcessExecutablePath` and when would these two APIs return different paths?

[2020-08-15 15:43] lwardzala commented on #30083
I've just discovered this thread and I decided to publish a solution I've been using in my projects.
It's an implementation of abstraction converter factory very easy to introduce.
It might be helpful till the issue will be closed :)
https://github.com/lwardzala/Json.Abstraction

[2020-08-15 15:46] jkotas opened #40885 "JIT.Regression\JitBlue\Runtime_40444\Runtime_40444 test failure"
[code]

[2020-08-15 15:47] jkotas commented on #40885
Failed in #40593

Full log at https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-40593-merge-b77c010b2379406cb9/JIT.Regression/console.9257e45d.log?sv=2019-02-02&se=2020-09-04T11%3A02%3A09Z&sr=c&sp=rl&sig=y5QJPprOl9zR38qQFJEpmISs2xS%2BBKZTq98iBcKuXAg%3D

[2020-08-15 15:48] jkotas commented on #40885
This is a new test added in #40821 cc @briansull

[2020-08-15 15:52] #40154 closed

[2020-08-15 16:04] am11 commented on #40862
Results would be hosting-dependent:
* in case of `dotnet myapp.dll`, `ProcessExecutablePath` will return /path/to/dotnet, and `ProcessMainModulePath` will return /path/to/myapp.dll.
* in case of `./myapp` (native executable; `runtime-dependent` or `self-contained`), both `ProcessExecutablePath` and `ProcessMainModulePath` will returns `/path/to/myapp`.

This will make it explicit whether we are in

[2020-08-15 16:06] jkotas commented on #40862
If `ProcessMainModulePath` is a cached value of `Process.GetCurrentProcess().MainModule.FileName` as your comment states, it will not return `/path/to/myapp.dll` in this case.

[2020-08-15 16:12] antonfirsov opened #40886 "wasm test failure: System.IO.Tests.FileStream_SafeFileHandle.ThrowWhenHandlePositionIsChanged_async"
Filed on mono/wasm (`net5.0-Browser-Release-wasm-Mono_Release-Ubuntu.1804.Amd64.Open`)  in #40841:
https://dev.azure.com/dnceng/public/_build/results?buildId=772623&view=ms.vss-test-web.build-test-results-tab&runId=24126412&paneView=debug

With `PlatformNotSupportedException: Cannot wait on monitors on this runtime.`

Currently I'm rerunning the tests, but since FileSystem and System.Private.Corel

[2020-08-15 16:26] am11 commented on #40862
Correct, the implementation will be different, it would basically be what the `EntryPoint.Assembly.Location` returns (maybe `ProcessManagedEntryPointPath`?)

[2020-08-15 16:36] jkotas commented on #40862
`Assembly.GetEntryAssembly().Location` is typically not what you want to use a path. You typically want to use `AppContext.BaseDirectory` instead. `Assembly.GetEntryAssembly()?.Location` returns null/empty string when CoreCLR is hosted and there is no entry assembly; or when the entry assembly is in single-file bundle and it does not physically exists on disk.

[2020-08-15 16:46] am11 commented on #40862
I was thinking that in cases where assembly with managed entrypoint does not physically exist, the second API will return the same value as `ProcessExecutablePath`.

[2020-08-15 16:59] briansull commented on #32475
Ran this test in a loop overnight with all the different GCStress values: 1,2,4,C
It never hit any GC hole or other issue

[2020-08-15 16:59] #32475 closed

[2020-08-15 17:06] jakobbotsch commented on #40864
Related comment: https://github.com/dotnet/coreclr/pull/26418#issuecomment-536127958
I think at that time I had been through a few edge cases with VSDs and default interface methods and I was on the path of duplicating all the logic of `ldvirtftn`. I'm sure someone with more knowledge of the runtime/type system would not have significant problems doing this, however.

However doing this will still

[2020-08-15 17:31] jkotas commented on #40864
Delegates do not make any guarantees about when or whether they internally perform tailcalls.

[2020-08-15 17:33] jkotas commented on #40864
Does the F# example use virtual methods? I think we just need to fix the non-virtual method case for this.

[2020-08-15 17:35] danmosemsft commented on #40886
Assert.Throws() Failure\nExpected: typeof(System.IO.IOException)\nActual:   typeof(System.PlatformNotSupportedException): Cannot wait on monitors on this runtime.\n---- System.PlatformNotSupportedException : Cannot wait on monitors on this runtime.

[code]

[2020-08-15 17:59] layomia commented on #37047
@dlyz thanks for the clear explanation of the issue. Fix in https://github.com/dotnet/runtime/pull/40879.

[2020-08-15 18:04] jakobbotsch commented on #40864
What about explicit `ldftn` + `tail. calli`? Also, it seems likely to me that F# users are relying on tailcalls via delegates, but maybe I am wrong.

No, but the same problem could occur with virtual methods I presume.

Is it feasible to detect when emitting the instantiating stub whether the target method contains a `tail` prefix anywhere in its IL? I'm not sure whether this is feasible due to vi

[2020-08-15 18:05] AndyAyersMS commented on #40864
Need to dig through what is happening in F# but I think it is non-virtual.

Here's a simple C# repro that overflows...
[code]
results in
[code]

[2020-08-15 18:28] YairHalberstadt opened #40890 "Add IOwned interface"
## Background and Motivation

Most IOC containers control disposal of injected dependencies, as the user of the dependencies cannot know the lifetime of the dependency, and so cannot dispose of it.

Sometimes though the user needs to be able to dispose of the dependency, for example if the current container scope is very long lived, and a `Func<Disposable>` is injected, all created instances of `D

[2020-08-15 18:34] davidfowl commented on #40890
The bar for new DI features is that the feature needs to be agreed upon by the DI council and implemented in all existing containers that support the DI abstraction.

I don't see a namespace suggestion for this type, was that intentional?

[2020-08-15 18:34] YairHalberstadt commented on #40890
I'm not sure which namespace to put it in.

[2020-08-15 18:36] YairHalberstadt commented on #40890
For many containers it would be possible to implement this in a module defined in a nuget package. For example, I have done so for Autofac. Would that be sufficient?

[2020-08-15 18:42] erozenfeld commented on #40864
Is it possible to create special instantiating stubs with tail prefixes that are only used when the caller dispatches a tail-prefixed call?

[2020-08-15 19:06] abelbraaksma commented on #38872
Repair didn't help, nor did any other things I tried to make the `ml64.exe` discoverable (it's there, it's on the path, I can run it etc etc).

So I decided to fire up a VM with a clean Win10 and a clean recent VS2019 and go from there. While this took some time, I have managed to get the initial build going. Hopefully the rest will go smooth now ;)

![image](https://user-images.githubusercontent.

[2020-08-15 19:12] mc0re commented on #31326
@klogeaage I might be off-track here, but check the serialization options you use in the 3.1 serializer.
For what I recall, *Newtonsoft* (de)serializes into `camelCase` by default, while *System.Text.Json* - into `PascalCase`. There is also different treatment of numbers - *Newtonsoft* happily accepts `"10"` as a numeric field, while *System.Text.Json* does not.

In short, check the incoming text

[2020-08-15 19:19] EgorBo commented on #39285
@steveisok updated the description.

[2020-08-15 20:47] am11 commented on #40878
With netcoreapp3.1 and net5.0 preview 8 on macOS, it throws `EntryPointNotFoundException`:

[code]

The runtime type of `IValues value` in custom converter's [`Write` method](https://github.com/Turnerj/SchemaNet_SystemTextJson/blob/573830d5081fb2383fb26460c28dfce7bb4dda04/SchemaNet_SystemTextJson/Schema.NET/ValuesJsonConverter.cs#L110-L111) is `string[]` instead of `OneOrMany<string>`. Looks bad I

[2020-08-15 20:54] Jlalond commented on #14032
@TimLovellSmith I understand the desire for this behavior, but because this has been a 5 year ask, wouldn't it be reasonable to just implement a array based binary heap with a selector and sharing the same API surface area as `Queue.cs`? I think that is by far what most users need. In my opinion this data structure hasn't been implemented because we can't agree on an API design, but if we are maki

[2020-08-15 21:18] mjsabby opened #40892 "API Proposal: Marshal.AllocHGlobal like API that map to VirtualAlloc/mmap and support specifying Large Pages"
## Background and Motivation
`Marshal.AllocHGlobal` supports allocating native memory via C#. If a user wants to allocate native memory in a more specific way they have to write platform specific code that targets the underlying `VirtualAlloc` (on Windows) or `mmap` on *nix API call.

This is not ideal. While the code is not a lot, with proper error handling which are platform specific, not to men

[2020-08-15 21:18] jkotas commented on #40864
We could, but I think it is better to deal with it locally by "inlining" the instantiating stub into the tailcall helper: https://github.com/dotnet/runtime/issues/40864#issuecomment-674409519 . It should be local change, with less risk, and it will  have better performance compared to introduring new type of instantiating stubs .

New type of instantiating stubs would be a new type system entity.

[2020-08-15 21:31] jkotas commented on #40892
- There is typically no concept of Reserve vs. Commit on non-Windows OSes. What would Reserve vs. Commit map to on non-Windows?
- Do you also need an API to free the memory that got allocated this way?

[2020-08-15 21:33] jkotas commented on #40892
This has a lot of overlap with the existing MemoryMappedFile set of APIs. Would it make sense to piggy back on the existing APIs for this? E.g. https://docs.microsoft.com/en-us/dotnet/api/system.io.memorymappedfiles.memorymappedfilerights overlaps with MemoryProtection, etc.

[2020-08-15 21:52] layomia commented on #38395
@Fosol, I tried the code you shared on both .NET Core 3.1 and .NET 5.0 (master) and couldn't repro the issue with `JsonConverterAttribute` and `JsonPropertyNameAttribute` being ignored. Can you kindly share what version of System.Text.Json you are using? Also please take a look at my repro and let me know if something is wrong/different from what you are doing: https://dotnetfiddle.net/CLJMv8.

I'

[2020-08-15 22:09] jcbeppler commented on #40430
Stealing an algorithm I can live with, but not what .NET allow today (e.g. WPF), where a person have your complete application beautifully and easily ready to run as a VS project. I think UWP with Native compilation does a good job, if someone wants to disassemble it, ok, good luck! I will always use Native compilation, no matter what. Android world I can't talk about, tried AOT with Xamarin Forms