[2021-11-01 18:52] elinor-fung opened #61062 "[DllImportGenerator] Fix inconsistencies in signature of updated p/invokes"

[2021-11-01 18:53] vitek-karas commented on #60061
I also emailed the Dogfood SWAT alias.

[2021-11-01 18:58] eiriktsarpalis commented on #29620
Related to #45679 and #24900. On second thought I don't believe that the proposed method should be added to LINQ. I think though that there might be an opportunity for optimizing the [`ToDictionary` methods](https://github.com/dotnet/runtime/blob/759057fea4ddadc10d068a74ec7f3fc55d561ab8/src/libraries/System.Linq/src/System/Linq/ToCollection.cs#L48) e.g. by pre-sizing the dictionary via the new `Tr

[2021-11-01 18:58] tapika commented on #60936
What if I would like that path to be configurable by the one who creates that bundle ?
At the moment default path include some sort of checksum directory, which does changes from one build to another.
I would prefer files to be extracted in `c:\ProgramData\ChocolateyGUI` and keep them in there.

Only thing which worries me - is that amount of files can change from one build to another, and it's no

[2021-11-01 18:58] buyaa-n commented on #57728
Oops, sorry did not notice that

If that is the case then the `uniquifier` is redundant, doesn't seem we need that at all

[2021-11-01 19:01] #29620 closed

[2021-11-01 19:02] radical commented on #61053
Try building with `-p:DisableParallelAOT=true`

[2021-11-01 19:17] pedrobsaila commented on #52693
Hi
I made a PR #61058

[2021-11-01 19:17] sebastienros commented on #59093
This induces a regression in RPS of 10x for connection close benchmarks on Windows.

Before the change:
[code]

After:
[code]

[2021-11-01 19:20] SimonSchwendele commented on #61053
Sadly yields the same error.

<details><summary>`dotnet publish` output</summary>

[code]

</details>

[msbuild.zip](https://github.com/dotnet/runtime/files/7455645/msbuild.zip)

[2021-11-01 19:24] ww898 commented on #60566
I have just finished debugging .NET 5.0.11 macOS Big Sur x64 where the situation is the same. The `Thread::DetachThread()` in `EEDllMain()` never called for `ForceGC` thread because the condition in +193..+196:
[code]
+399 is the address just after `Thread::DetachThread()`
[code]

`GetThread()` implementation
[code]

I think that the problem is in following condition where the `GetThread()` return

[2021-11-01 19:33] vitek-karas commented on #60936
https://github.com/dotnet/runtime/issues/35249 - this is basically the same discussion.

Overall I think this is getting into the gray area of:
* Provide a way to build a single executable with reasonable performance characteristics as a way to simplify distribution of tools
* Provide a deployment mechanism which is customizable enough for various needs

Currently our goals are in the former bucke

[2021-11-01 19:36] bartonjs commented on #55690
With the stage 1 PR I got to avoid platform-differentiated code.  Stage 2 is being less nice.

We've evolved ourselves into having a couple of different "standards" in file pathing for how we have platform splits.  For example:

* System.Security.Cryptography.Encoding
  * All: Internal\Cryptography\OidLookup.cs
  * Windows: Internal\Cryptography\OidLookup.Windows.cs
  * Linux/FreeBSD: Internal\Cry

[2021-11-01 19:52] radical commented on #61053
This is likely a dupe of https://github.com/dotnet/runtime/issues/57141 which is fixed (https://github.com/dotnet/runtime/pull/60265) in `main`, but not in `6.0*` yet.

I will try with the fixed build on windows.

[2021-11-01 19:53] anthonycanino commented on #35268
@BruceForstall

I think this issue may have been resolved. On my machine, the sample above generates the following code:

[code]

Looks like only two constants are created in the constant pool now. Perhaps this was solved with: https://github.com/dotnet/runtime/pull/44419

[2021-11-01 19:53] kunalspathak commented on #60659
This benchmark is very noisy and I don't see anything obvious from the historic graphs:
Ubuntu:
- BinaryTrees_2: https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_x64_ubuntu%2018.04%2fBenchmarksGame.BinaryTrees_2.RunBench.html
- BinaryTrees_5: https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_x64_ubuntu%2018.04%2fBenchmark

[2021-11-01 20:07] CarnaViire commented on #48729
I've updated the top comment with the API proposal

[2021-11-01 20:14] radical commented on #60612
Are you able to build, and run the app with AOT now?

[2021-11-01 20:25] vcsjones commented on #55690
"open mic" style feedback...

Having a managed "PAL" seems odd.

I really struggle with files with the same name in different directories. It makes code navigation harder (Cmd+P) and it when looking at a tab row of many open files, they all have the same name so I just end up lost. I greatly prefer file-based suffixes instead of directories that contain a handful of files with lots of overlapping

[2021-11-01 20:38] lambdageek commented on #60550
@uweigand I updated #60987 to also address the `ApplicationBase` loader issue, and it immediately reproduced the xunit issue 😁 .  I added some code for the `call` instruction to also avoid class initialization.  (And also in the interpreter).

I think this might be less of a hack than I initially thought - in particular I wonder if this might have a benefit for app startup.  I wonder if it's possi

[2021-11-01 20:38] gdalsnes commented on #48729
But will this cover aspnetcore websocket as well? It should also have the same timeout option, else it can hang forever and stall request pipelines (potentional DOS problem?)

[2021-11-01 20:44] radical opened #61067 "[wasm] Surface errors from `emcc --version`, like missing python"
Based on https://github.com/dotnet/runtime/issues/60274 .

Missing python, for example, shows up in the logs as:
[code]

.. but for the user:
[code]

[2021-11-01 20:45] karelz commented on #48729
@gdalsnes what do you mean by "aspnetcore WebSocket"?
ASP.NET WebSocket is based on our implementation to our best knowledge. Unless there is some wrapper around our APIs, all should be good. We do not restrict what frameworks/apps above us do.

[2021-11-01 20:47] bartonjs commented on #55690
That’s a good point. It has also frustrated me, but somehow that didn’t occur to me when I was strawmanning.

[2021-11-01 20:47] CarnaViire commented on #48729
@gdalsnes good point. This will need an additional API from ASP.NET Core side as well. I suspect it should be added to `ExtendedWebSocketAcceptContext` the way WebSocket compression was added... @BrennanConroy will you be able to help with ASP.NET Core side please?

[2021-11-01 20:47] jogibear9988 commented on #61044
That all means the breaking change will stay as is in Net6?

But why does System.Text.Json use IAsyncEnumerable at all, in the synchronous serialization methods, when it can only serialize with async serialization methods?

[2021-11-01 20:48] radical commented on #60274
Installing python, and making sure that it is in `PATH` should fix this issue. Please re-open, if it doesn't.

Closing this based on the above, and opened an issue for surfacing the errors to the user - https://github.com/dotnet/runtime/issues/61067 .

[2021-11-01 20:48] #60274 closed

[2021-11-01 20:48] maryamariyan commented on #59246
@dihaase I made a very plain windows service application (available [here](https://github.com/maryamariyan/WindowsServiceSample)) and restarted it both through services window and also by restarting the machine. In both cases I was able to get logs upon shut down.

[code]

[2021-11-01 20:50] jogibear9988 commented on #61044
![image](https://user-images.githubusercontent.com/364896/139740296-bd176d7d-d35e-484e-834a-112c1103477e.png)

[2021-11-01 20:52] BrennanConroy commented on #48729
`WebSocketAcceptContext` would likely need a new property, something like `KeepAliveTimeout`. I can help out if this feature gets added.

[2021-11-01 20:52] jogibear9988 commented on #61044
I think System.Text.json should, when I use the synchronous methods, stop using the IAsyncEnumerable interface.
If I use SerializeAsync then it should, but then it also would not break.

[2021-11-01 20:54] BruceForstall commented on #35268
Thanks for checking. I'll go ahead and close this issue.

[2021-11-01 20:54] #35268 closed

[2021-11-01 20:59] janvorli commented on #60566
@ww898 thank you for all the details. The issue was caused by a bit different change. We were relying on DllMain being called on thread attach / detach before and then switched to the `thread_local`. The `__thread` doesn't support any constructors / destructors on objects at all.
So it seems the SIGSEGV is somehow related to an interaction between your profiler and our PAL. I wonder if you also ha

[2021-11-01 21:15] maryamariyan commented on #59246
Things to consider trying:

1- Try increasing `HostOptions.ShutdownTimeout` because a theory might be that EventLog might not have enough time to flush the logs.
2- Also note, `LifetimeEventsHostedService ` in your code is implementing `IHostedService` but `WindowsBackgroundService` in the sample I shared implements `BackgroundService`

[2021-11-01 21:21] wfurt commented on #59093
I thought I roll it back while ago it it seems like somehow I did not. https://github.com/dotnet/runtime/pull/61069 should fix it and I'll look for better fix for the original issue.

[2021-11-01 21:46] bartonjs commented on #55690
Once the files have unique names, I guess I should question whether there's value in PAL directories at all.  The problem I have with them a bit right now is that "Android" can be in both "Android" and "Unix", but Linux is only in "Unix", though not necessarily all of Unix (since that could also be something shared by Apple and Android); so if they're present it feels like they should be about the

[2021-11-01 21:57] LetMeSleepAlready commented on #37483
@ShadyNagy Interesting extension, but I don't see any code that handles the 'MissingMemberHandling.Error' case. So that means it is the default functionality, which is not the intent of this raised ticket.

case:
[code]
The above will not throw an exception, and there is no way to somehow trap this and act on it.

[2021-11-01 22:04] jkoritzinsky commented on #60826
This rollout will be delayed a few days due to some difficulties in getting the rollout PR fully green.

[2021-11-01 22:24] #60597 closed

[2021-11-01 22:29] tapika commented on #35249
There is a warp-tool mentioned in #60936 which can perform packing of folder with executable, where target folder is hardcoded within tool itself - in case if you want to use it immediately.

[2021-11-01 22:41] tapika opened #61073 "ReadyToRun + PublishSingleFile=true: Possibility to specify compression codec and compression level"
As discussed in #60936 - at the moment for .NET 6 there exists mechanism to use compression - however extraction of executable / dll's happens into RAM only, which in a turn means that decompression is performed everytime when readytorun executable is launched.

It would be useful if decompression would happen in a folder:
- With possibility to control where extraction happens (#35249, #3844)
   -

[2021-11-01 22:51] danmoseley commented on #42914
@djjz thanks for the update. Is there any of your solution that you could paste here, with identifiers etc removed? Might help someone else.

[2021-11-01 22:59] danmoseley commented on #46586
This is my assumption too. Plus, if your application is dealing with such huge maps, you are likely going to be optimizing heavily, and would likely want to invest in your own collection type optimized for your use case. If you simply care about size, you can easily multiplex several dictionaries by using one or more bits from the hash code. @Developer-Alexander are those fair assumptions in your

[2021-11-01 23:06] jakobbotsch opened #61074 "Assertion failed '!parentStruct->lvUndoneStructPromotion' during 'Mark local vars'"
### Description

The following program hits a JIT assert in checked builds when optimizations are on:

### Reproduction Steps

[code]

### Expected behavior

No JIT assert hit

### Actual behavior

JIT assert is hit

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

_No response_

### Other information

Assert was added as part of #58582.
cc @dotnet/jit-contr

[2021-11-01 23:13] jakobbotsch commented on #61074
Somewhat similar looking example that leads to silent bad codegen:
[code]

May be something else entirely.

[2021-11-01 23:22] NightOwl888 commented on #23337
An update on this. We ended up having to implement a (nearly) complete set of generic collections that are structurally comparable. They rely on a `StructuralEqualityComparer` implementation that has 2 modes:

- Default  - highly optimized path using collections and arrays that all implement `IStructuralEquatable`
- Aggressive - same optimized path as Default that falls back to using Reflection/dy

[2021-11-01 23:25] luckerby opened #61076 "Memory allocation in .NET fails at 70% of the container limit when running in Kubernetes"
### Description

I'm running an AKS cluster v1.21.2 with 2 nodes. Nothing out of the ordinary about the cluster, but simply created through the Azure portal. Each node is a [DS2_v2 machine](https://docs.microsoft.com/en-us/azure/virtual-machines/dv2-dsv2-series#dsv2-series) (2 vCPUs, 7 GB RAM).

The cluster itself isn't doing much, as only Prometheus and Grafana were deployed to track various metr

[2021-11-01 23:32] luckerby commented on #61076
Tagging @janvorli as he's probably one of the best people to be involved.

[2021-11-01 23:49] jakobbotsch opened #61077 "JIT: Invalid optimization of (-1 * -A) + A"
### Description

The following program computes a wrong result when optimizations are turned on:

### Reproduction Steps

[code]

### Expected behavior

Same result.

### Actual behavior

Differing result.

### Regression?

Does not repro in .NET 5.

### Known Workarounds

_No response_

### Configuration

_No response_

### Other information

We hit both transforms in this block:
https://github.c

[2021-11-02 00:15] janvorli commented on #61076
@luckerby .NET GC uses 75% of the container memory limit as its default allocation limit. The limit was chosen to leave enough space for native parts of .NET and 3rd party libraries that .NET uses. So if you allocate that much and all the allocated objects are rooted (transitively referenced by some roots like stack slots, GC handles etc), the GC has no way to get you more memory and .NET OOMs. It

[2021-11-02 00:25] AaronRobinsonMSFT commented on #60950
Duplicate of https://github.com/dotnet/runtime/issues/60909

[2021-11-02 00:25] #60950 closed

[2021-11-02 00:47] WeihanLi opened #61080 "System.Text.Json inconsistent behavior using JsonExtensionData on JsonObject"
### Description

When I use the `JsonExtensionData`, I found that the `JsonObject` is a little different from `Dictionary<string, object>`/`Dictionary<string, JsonElement>`, not sure if it‘s by design or a bug.

![image](https://user-images.githubusercontent.com/7604648/139767472-a8c39d27-2797-48c8-8f0d-ff7df081c8e5.png)

The last one is using the `JsonObject`, test code is below

### Reproduction

[2021-11-02 01:07] VincentBu opened #61081 "Test failure JIT/Regression/JitBlue/GitHub_26491/GitHub_26491_MultipleReturns/GitHub_26491_MultipleReturns.sh"
Run: [runtime 20211101.29](https://dev.azure.com/dnceng/public/_build/results?buildId=1449222&view=ms.vss-test-web.build-test-results-tab&runId=41730676&paneView=debug&resultId=101915)

Failed test:
[code]
**Error message:**
[code]

[2021-11-02 01:08] szilvaa-adsk commented on #61059
@rseanhall `hostfxr_set_runtime_property_value` works perfectly. Thank you for the suggestion.

[2021-11-02 01:11] VincentBu commented on #60383
Failed again in: [runtime-coreclr outerloop 20211101.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1449059&view=ms.vss-test-web.build-test-results-tab&runId=41728488&resultId=104450&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-11-02 01:13] VincentBu opened #61082 "Test failure Loader\\classloader\\TypeGeneratorTests\\TypeGeneratorTest1082\\Generated1082\\Generated1082.cmd"
Run: [runtime-coreclr outerloop 20211101.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1449059&view=ms.vss-test-web.build-test-results-tab&runId=41728178&paneView=debug&resultId=106024)

Failed test:
[code]
**Error message:**
[code]

[2021-11-02 01:21] NightOwl888 commented on #23337
An alternative way around a non-generic `IReadOnlyCollection` would be to provide a similar [wildcard generic](https://docs.oracle.com/javase/tutorial/extra/generics/wildcards.html) feature that Java has:

[code]

There are many cases we need to access the members of an instance cast to a type that requires a generic parameter. And we are passed a reference that doesn't include anything about the

[2021-11-02 01:24] radical commented on #61053
I couldn't reproduce this with a 7.0*alpha build from https://github.com/dotnet/installer/#installers-and-binaries which includes the [stack size fix](https://github.com/dotnet/runtime/pull/60265).

[2021-11-02 01:52] Elringus opened #61083 "How to use dotnet.js outside of browser?"
I'm looking to use C# libraries compiled to Mono WASM runtime from JavaScript, but without the browser context, so that `window`, `document` and other browser-specific APIs are not available (example use case are [web extensions](https://code.visualstudio.com/api/extension-guides/web-extensions) for vscode).

I've already ported ASP.NET Core's `blazor.webassembly.js` , but it turns out `dotnet.js`

[2021-11-02 01:57] radical commented on #60745
The value is no longer hardcoded: https://github.com/dotnet/runtime/commit/95488fe85a1b3bf3807f310801eadd477b64ce4e .

[2021-11-02 01:57] #60745 closed

[2021-11-02 02:02] radical commented on #61081
Is this seen only with wasm?

[2021-11-02 03:57] runfoapp[bot] opened #61084 "System.Memory.Tests failing in checked ARM64"
Runfo Tracking Issue: [System.Memory.Tests failing in checked ARM64](https://runfo.azurewebsites.net/tracking/issue/205)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Results|Run Client|
|---|---|---|---|---|---|---|---|
|[1450140](https://dev.azure.com/dnceng/public/_build/results?buildId=1450140)|[runtime](https://dnceng.visualstudio.com/public/_build?definitionId=686)|Rolling|net7.0-Li

[2021-11-02 04:00] am11 commented on #61083
I would also love to see dotnet.js decoupled from DOM APIs, so the responsibility of providing fetch()-like implementations is shifted to caller, or the consumer can at least inject the granular dependencies required by dotnet.js (rather than the "entire DOM API set"). dotnet.js currently depends on only a few DOM functions.

Some experimentation was done in https://github.com/dotnet/runtime/pull/

[2021-11-02 04:00] agocke commented on #61084
This is starting to fail pretty often in rolling builds -- we should consider disabling these tests entirely in checked-release-arm64, and try to fix ASAP

[2021-11-02 04:37] clamp03 commented on #60452
[code]

[2021-11-02 04:37] #60452 closed

[2021-11-02 04:40] ShadyNagy commented on #37483
@LetMeSleepAlready and @SiggyBar
The Devebetter Team Package updated so you can find cover for your problem here
https://github.com/DevBetterCom/DevBetter.JsonExtensions/blob/main/tests/DevBetter.JsonExtensions.Tests/SetMissingMemberErrorHandlingTests.cs
Nuget: [DevBetter.JsonExtensions](https://www.nuget.org/packages/DevBetter.JsonExtensions)
Source Code: [DevBetter.JsonExtensions](https://github

[2021-11-02 04:43] #60824 closed

[2021-11-02 04:44] harveytriana commented on #60824
Excelent. Thanks.

[2021-11-02 05:00] mikernet commented on #23337
@NightOwl888 I was vouching for that with a proposal here: https://github.com/dotnet/csharplang/discussions/1992

[2021-11-02 05:12] tapika commented on #61073
Btw - one approach to solve this and potential future requirements - is to costruct dll which can control what will happen during bootstrap (in apphost) and provide as its own sdk to developers.

This way decompression algoritm can be left to developers, but also determining in which folder extraction will happen, permissions, etc...

[2021-11-02 05:26] tapika commented on #60936
As installer you probably mean packaging technology, which purpose is to bring application for first time on computer ?

First time is good, but if you think about it - application may need also second, third, and so on times to bring itself to computer - like software update. If installer technology does not satisfy developer needs, then custom install+software update technologies will be born to

[2021-11-02 05:47] KuromeSan opened #61228 ".NET 6.0 - ReceiveAsync not working"
### Describe the bug
I'm writing a "server emulator" for an old flash game,
Basically the callback set in e.Completed is not getting called despite data being sent to the socket.

### To Reproduce
[code]
this only seems to happen when using the original flash client.
here is a wireshark pcap of it sending data to the client and not working
[pcap.zip](https://github.com/dotnet/sdk/files/7458113/pca

[2021-11-02 06:36] AqlaSolutions commented on #29088
Yeah, what's the point to use ImmutableDictionary if it's slower than ConcurrentDictionary on get operations?

[2021-11-02 06:46] rayao opened #61086 "A delegate object is created for each IOptionsMonitor<T>.Get call"
https://github.com/dotnet/runtime/blob/df5b118c6f1137769487065dade3887a012f4731/src/libraries/Microsoft.Extensions.Options/src/OptionsMonitor.cs#L89
It could be avoided if the delegate is a member, or simply Add a TryGetValue call before calling GetOrAdd.
The object allocation is much more expensive than the getting itself, when CurrentValue/Get is used in hot code path, the cost will be unexpecte

[2021-11-02 07:35] davidfowl commented on #61086
We can fix this by not using the [IOptionsCache](https://github.com/dotnet/runtime/blob/df5b118c6f1137769487065dade3887a012f4731/src/libraries/Microsoft.Extensions.Options/src/IOptionsMonitorCache.cs). It's possible we can use the concrete type if it hasn't been overridden as an optimization.

[2021-11-02 07:47] Joe4evr commented on #61077
I might be missing something here, but I'm pretty sure that `(-1 * -A)` should simplify to just `A`. Then the expression becomes `A + A` which simplifes to `2A`, so the `Debug` result (where optimizations are *off*) looks to be correct.

[2021-11-02 08:04] jakobbotsch commented on #61077
Indeed, I mean when optimizations are turned on. Fixed.

[2021-11-02 08:45] SimonSchwendele commented on #61053
Publishing with this version does precompile the previously failing dll.
However the build still fails with a NotImplementedException
[code]

<details><summary>'dotnet pulish'</summary>

[code]

</details>

[msbuild.zip](https://github.com/dotnet/runtime/files/7459116/msbuild.zip)

[2021-11-02 09:21] senthilray commented on #42914
@djjz - we are facing the same issue. Can you share the sample code as @danmoseley mentioned that will be helpful to solve the issue? Thanks in advance

[2021-11-02 09:23] performanceautofiler[bot] opened #61374 "Regressions in System.Tests.Perf_Byte"
### Run Information

Architecture | x86
-- | --
OS | Windows 10.0.18362
Baseline | [f734307b7a2ad5a0b7daec21bea8ce191cb0c9d9](https://github.com/dotnet/runtime/commit/f734307b7a2ad5a0b7daec21bea8ce191cb0c9d9)
Compare | [fdec73a0a44a19c4fc6bd4dc59938b7bf894a074](https://github.com/dotnet/runtime/commit/fdec73a0a44a19c4fc6bd4dc59938b7bf894a074)
Diff | [Diff](https://github.com/dotnet/runtime/compare

[2021-11-02 09:23] orwo1 opened #61088 "GetAbbreviatedDayName in Portuguese"
### Description

Calling (Some)CultureInfo.DateTimeFormat.GetAbbreviatedDayName((Any)DayOfWeek);
In Portuguese Portugal return the full name of that day,
in contrast with Portuguese Brazil, which works correcly.

### Reproduction Steps

using System;
using System.Collections.Generic;
using System.Linq;

public class Program
{
  public static void Main()
  {
    var pt = new System.Globalization.Cu

[2021-11-02 09:24] orwo1 commented on #61088
Opened here after closing in Xamarin.forms:
https://github.com/xamarin/Xamarin.Forms/issues/14810

[2021-11-02 09:58] dkboon01 commented on #60612
Yes, it builds it but now my download to load the application takes 4 minutes.
![MicrosoftTeams-image (12)](https://user-images.githubusercontent.com/11353230/139825466-0f9dce2e-0f7b-4046-83d7-031b60540472.png)

[2021-11-02 09:58] dkboon01 commented on #60612
I don't know what to try next.

[2021-11-02 10:12] sxotney commented on #40386
@90Kaboom

Serialisation is slow across all browsers for Mono .Net. If the performance of Blazor is slow in a particular browser, that's more likely a wasm implementation issue for the team that maintain that browser as opposed to a Blazor/Mono .Net issue.

[2021-11-02 10:17] davmason commented on #60665
I spent quite a bit of time trying to get anything actionable out of the attached dump and was unable. Closing this, will investigate more if it happens again

[2021-11-02 10:17] #60665 closed

[2021-11-02 10:18] #60965 closed

[2021-11-02 10:24] Joe4evr commented on #61088
There's been a bunch of Globalization issues filed lately, but as per https://github.com/dotnet/runtime/issues/60286#issuecomment-941057519:

That makes this an external issue, but it seems very strange for CLDR to define the abbreviated names as the full names in `pt-PT`:

https://github.com/unicode-org/cldr/blob/e020f52b1210cd94d2f1d7a73d4a76d69e13e656/common/main/pt_PT.xml#L1642-L1650

But in t

[2021-11-02 10:41] akoeplinger commented on #37303
@grendello do you know if this is still an issue?

[2021-11-02 10:42] BRLN1 opened #61089 "Increase serialization max size or make it user driven for SystemTextJson"
### Background and motivation

I'm trying to serialize a big pdf of around 200MB, while trying to do so I'm getting following error:
---> System.ArgumentException: The JSON value of length 304063897 is too large and not supported.\r\n
   at System.Text.Json.ThrowHelper.ThrowArgumentException_ValueTooLarge(Int32 tokenLength)\r\n
   at System.Text.Json.Utf8JsonWriter.WriteStringValue(ReadOnlySpan`1

[2021-11-02 10:43] eiriktsarpalis commented on #61080
Thanks for reporting, this is a duplicate of #60560. Please consider upvoting that issue so we can prioritize accordingly.

[2021-11-02 10:43] #61080 closed

[2021-11-02 10:52] Sam13 opened #61092 "X509Certificate.CreateFromSignedFile fails on Linux with ASN1 corrupted data"
### Description

The following code works on Windows when a path to a signed file is provided:

[code]

when running the same under Linux the following exception is thrown:
[code]

### Reproduction Steps

Run the following code snipped under Linux (e.g. Ubuntu 20.04) and provide a path to a signed assembly:
[code]

### Expected behavior

Certificate can be read correctly under Linux

### Actual be

[2021-11-02 10:54] eiriktsarpalis commented on #61044
Unfortunately that is not technically possible with the current converter model. Each converted type/member is fixed to a specific converter instance (and from the converter's perspective it's serializing a `TCollection : IAsyncEnumerable<T>` with no visibility on whether `TCollection` is also `IEnumerable<T>`). I should also point out that dynamically falling back to `IEnumerable<T>` if using a s

[2021-11-02 10:59] eiriktsarpalis commented on #61044
FWIW this is documented in a relevant breaking change document: https://docs.microsoft.com/en-us/dotnet/core/compatibility/serialization/6.0/iasyncenumerable-serialization#new-behavior

[2021-11-02 11:03] orwo1 commented on #61088
I have opened an issue over there:
https://unicode-org.atlassian.net/browse/CLDR-15139

[2021-11-02 11:20] eiriktsarpalis commented on #61089
This appears to be by design:
https://github.com/dotnet/runtime/blob/c690d2731db85933e8b4ab936fa71cd190471194/src/libraries/System.Text.Json/src/System/Text/Json/JsonConstants.cs#L71-L78
Basically the restriction is in place in order to guarantee that the escaped token does fit in a single span segment. That being said, the constant seems to be derived from the rather pessimistic assumption that e

[2021-11-02 11:25] eiriktsarpalis commented on #29088
This is not an apples-to-apples comparison, `ImmutableDictionary` stores hash buckets using an AVL tree and as such its performance profile for lookups should sit between `Dictionary` and `SortedDictionary`, which it does seem to do.

See https://github.com/dotnet/runtime/issues/14477 for a proposal on potentially improving performance for immutable collections.

[2021-11-02 11:25] #29088 closed

[2021-11-02 11:25] jogibear9988 commented on #61044
in the breaking change you list that the async methods will enumerate the iasyncenumerable, not that the synchronous will fail.

The only real workaround is to force blocking enumeration of the IAsyncEnumerable<T>, but again this is something we would like to avoid unless the user opted in to that.
==> how do I opt out?

[2021-11-02 11:40] djjz commented on #42914
Sure thing, here's the core of my solution which demonstrates the alternate way of querying for user groups. The resulting set is nowhere near as neat as the ones you'd come to expect from the principal objects attached to your request context, but that's perfectly workable.

[code]

[2021-11-02 11:41] eiriktsarpalis commented on #61044
Here's how I would write it. Be warned that a) this hasn't been tested and b) it forces blocking enumeration in the async case as well:
[code]

[2021-11-02 11:52] senthilray commented on #42914
@djjz Thanks for the code snippet

[2021-11-02 11:56] eiriktsarpalis opened #61093 "[API Proposal]: Expose a JsonSerializerOptions.Default property"
### Background and motivation

`JsonSerializerOptions` currently exposes an internal [`s_defaultOptions` instance](https://github.com/dotnet/runtime/blob/8c6aeea1d8e17fd692df0f509d415d9ad79d83bc/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.cs#L23) for use by System.Text.Json. This is useful since `JsonSerializerOptions` holds the reflection-based serializ

[2021-11-02 11:57] dkboon01 commented on #60655
System.Color is package from Microsoft.   You can take the code and load into Blazor wasm project and then try to put the project into a Azure AppService. Looks like the appservice does not have the same rendering packages is what the local machines has.  I'm wondering why. I would of that the rendering from a local machine to a web browser would be the same when using a web broser to an appservic

[2021-11-02 12:20] BrzVlad opened #61095 "[mono] Improve handling of OOM"
In mono, there are a lot of places where we don't handle allocation failure. While we throw OOM when we fail to allocate an object, we don't handle allocation failures during a GC. Instead we assert / crash.

We should attempt to do error checking for out of memory, at least during GC, which is a common scenario for OOM crashes.

[2021-11-02 12:28] freddyrios opened #61096 "DataMisalignedException thrown when using MemoryMarshal.Cast<byte, double> on correct data"
### Description

Trying to use MemoryMarshal.Cast<byte, double> against a span returned from a byte[] via fails when iterating the values with a DataMisalignedException. It works correctly on windows but fails on linux.

This is the narrowed down version showing the issue:
[code]

In the actual scenario the bytes are part of a message being exchanged over the network. The message gets into a byte[

[2021-11-02 12:39] f2bo commented on #60803
I'd hoped that an analyzer could somehow detect the conditions that cause this problem (base blittable / derived not-blittable) and only flag these specific cases but I can see that it would be difficult to determine the exact type being passed in as an argument.

Thanks!

[2021-11-02 12:52] grendello commented on #37303
From what I see, the current net6 builds no longer show this behavior. Closing then :)

[2021-11-02 12:52] #37303 closed

[2021-11-02 12:57] DaZombieKiller commented on #61096
I don't think this is a bug, but rather expected behaviour. `MemoryMarshal.Read` works because it does an unaligned read (uses `Unsafe.ReadUnaligned` internally). Your example code doesn't guarantee any particular alignment on the data, it just allocates a byte array and slices off the first value before reinterpreting it.

[2021-11-02 13:04] LBensman commented on #45089
@geoffkizer , yes, I do have scenario as I'm the one who originally discovered and submitted the issue in #36481 and I've discovered it while developing and debugging our project code.

The basic principle behind the scenario is a case of being a blind proxy between two communication endpoints.  Our product, where I discovered the issue, bridges various devtool clients and remote targets (so sort

[2021-11-02 13:13] TonyValenti opened #61097 "[API Proposal]: JsonBoolHandling"
### Background and motivation

System.Text.Json's JsonSerializerOptions has a simple member, JsonNumberHandling, that allows reading/writing values to/from string members.  Currently there is no equivalent for bool members.

### API Proposal

[code]

### API Usage

var Options = new System.Text.Json.JsonSerializerOptions() {
    BoolHandling = System.Text.Json.Serialization.JsonBoolHandling.AllowR

[2021-11-02 13:15] TonyValenti commented on #61093
Would the defaults be mutable?  My recommendation is "No".

[2021-11-02 13:15] freddyrios commented on #61096
@DaZombieKiller closing this based on that, also given this is in the remarks of the method: "This method is supported only on platforms that support misaligned memory access or when the memory block is aligned by other means.".

ps. I would say its *documented* instead of expected behaviour i.e. its quite unexpected when the MemoryMarshal one used elsewhere was MemoryMarshal.Read and its docs do

[2021-11-02 13:15] #61096 closed

[2021-11-02 13:27] TonyValenti opened #61098 "System.Text.Json: Support DateOnly and TimeOnly members"
### Description

.NET should support (de)serialization of DateOnly and TimeOnly members

### Reproduction Steps

Serialize a class that has a DateOnly or TimeOnly member.

### Expected behavior

It should work.

### Actual behavior

It errors:
[code]

### Regression?

No

### Known Workarounds

Create a custom converter.

### Configuration

_No response_

### Other information

_No response_

[2021-11-02 13:28] steveisok opened #61099 "[wasm] System.Security.Cryptography test failures"
A handful of SSC test failures are now showing up in the post PR validation runs:

https://dev.azure.com/dnceng/public/_build/results?buildId=1450140&view=results

I believe these were introduced after https://github.com/dotnet/runtime/pull/61025 was merged.

[code]

/cc @bartonjs

[2021-11-02 13:29] steveisok commented on #61099
/cc @lewing @radical

[2021-11-02 13:31] stephentoub commented on #61098
Duplicate of https://github.com/dotnet/runtime/issues/53539

[2021-11-02 13:31] #61098 closed

[2021-11-02 14:19] AArnott commented on #58909
Ok, I found a cancellation bug in Nerdbank.Streams this time around (AArnott/Nerdbank.Streams#414). So till evidence suggests otherwise, I will consider _this_ bug fixed with the original PR.
@davidfowl, I will do some more testing of the Pipelines fix combined with the Nerdbank.Streams fix. If I don't see any hangs in test runs, I'll request that we resume the backport of the fix made for this bu

[2021-11-02 14:19] #58909 closed

[2021-11-02 14:42] WeihanLi commented on #61080
Actually, I had seen that issue, but I'm not using the custom converter, I'm not sure if it's the same issue, so I opened this issue

[2021-11-02 14:46] eiriktsarpalis commented on #61080
I think it's the same, see also #60806. In any case I made a note in the open issue so that both cases are accounted for.

[2021-11-02 14:55] vcsjones commented on #61092
Is the file you are passing to `CreateFromSignedFile` an Authenticode signed Windows file?

`CreateFromSignedFile` is just `new X509Certificate(..)`

https://github.com/dotnet/runtime/blob/594f32e4309a08dce741675ee0420adee4a69658/src/libraries/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/X509Certificate.cs#L214-L217

The supported contents of the

[2021-11-02 14:57] eiriktsarpalis commented on #61097
A common use case when deserializing booleans writing and reading as integers, so if any configurability is added to boolean serialization it should definitely cater to that use case.

Given that this feature is restricted to configurating serialization of a single type, I don't think `JsonSerializerOptions` is the appropriate type to expose this. We should instead look at perhaps exposing `Boolea

[2021-11-02 15:02] eiriktsarpalis commented on #61093
It would not be. Moreover the implementation of this property would need to make sure that the instance is locked for modification before being returned.

[2021-11-02 15:12] ruhoch opened #61100 "[API Proposal]: Add support to override default event provider name for AddEventSourceLogger"
### Background and motivation

Microsoft.Extensions.Logging.EventSource's AddEventSourceProvider does not allow the default event provider name to be overridden, meaning any product that uses the library will emit messages under the same provider name.

This makes it impossible to utilize the api in a retail products without forking and implementing a new version of the AddEventSourceProvider  ext

[2021-11-02 15:29] krwq commented on #60933
I'm reusing this issue since I've seen similar issue in different random tests across PerformanceCounters.
List of tests I've seen failing similarly in the past 14 days:
- System.Diagnostics.Tests.PerformanceCounterCategoryTests.PerformanceCounterCategory_CategoryType_MultiInstance
- System.Diagnostics.Tests.PerformanceCounterCategoryTests.PerformanceCounterCategory_InstanceExists_Static
- System.

[2021-11-02 15:30] krwq commented on #60933
I'm unclear if Mono issue: https://github.com/dotnet/runtime/issues/53261 is the same or not so leaving that one for now. The above are Windows only (happened on Win 10, Win 11, Win 7) all on amd64 (although unclear if it's specific to this arch)

[2021-11-02 15:35] krwq commented on #60933
Also related: https://github.com/dotnet/runtime/issues/60403

[2021-11-02 16:04] akoeplinger commented on #45649
We should fix this too since Xamarin Android uses the MVID to deduplicate architecture-independent assemblies so we definitely want to make sure both builds are identical.

[2021-11-02 16:10] akoeplinger commented on #61019
Yeah if @KirillOsenkov and @filipnavara were not aware of the option then I don't know who you consider an expert :)

[2021-11-02 16:14] EgorBo commented on #61084
It should be fixed with https://github.com/dotnet/runtime/pull/61090

[2021-11-02 16:17] JulieLeeMSFT commented on #60829
@AndyAyersMS PTAL.

[2021-11-02 16:29] jkotas commented on #61019
I did not mean to imply that experts should be carrying everything in their heads. There are many expert-level details I do not know and I discover every day. And there are many that I will never learn about and that is fine.

That just means they did not need it so far. It is reassuring that the default (install and run on the matching major runtime version that the error message guides you towar

[2021-11-02 16:32] JulieLeeMSFT commented on #60659
@kunalspathak on windows, .NET5 is 139.6 ms and .NET6 is 584.77ms, which means .NET6 is 4 times slower? It seems like it was that way since Nov 2020. I see the same trend in Ubuntu.
We didn't compare perf between .NET 5 and .NET 6? That's why we dind't notice it?

[2021-11-02 16:33] gregoireternon opened #61103 "[Runtime Store] conflict with dotnet command line"
Hi,

I've set up my own runtime store with custom assembly build in dotnet standard 2.0. This work well in visual studio and my custom hosted assemblies are well executed on my dotnet 5 projects within my IDE.
Howerver, as long as my "runtime store" env variables (DOTNET_ADDITIONAL_DEPS, DOTNET_SHARED_STORE) are set, i am not able to use "dotnet" command line anymore and i get  such this error:

P

[2021-11-02 16:35] karelz commented on #53533
Unless the RFC lands by March or earlier, we won't be able to react in time based on this year experience.

@wegylexy would you be interested in doing a prototype of the API as mentioned above? (Or we could run it by our API review when it is reasonably close to final shape) ... we might not be ready for that right now, but in couple of months it should be feasible from our side.

[2021-11-02 16:40] #60794 closed

[2021-11-02 16:41] karelz commented on #55103
Triage: We should do it early in 7.0 to have time to stabilize. We have decent test coverage now, so we are not too much afraid to touch it.
It will help with maintenance.

[2021-11-02 16:42] vladd commented on #61077
... but only in unchecked context, [right](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEUCuA7AHwEs8MACAQTIF4ySMA6AWRIDUBDAGxxgG4BYAFAABAIwMxATgAU+MAAsYYANYwAJtLiiyAKjJwKASkMCR4qdIVLVGrbv1GTQoA===)?

[2021-11-02 16:44] tarekgh commented on #61088
Thanks @orwo1 for filing the issue.  As @Joe4evr explained this is CLDR issue. It is nice to see you filing the issue to CLDR. I am closing the issue here as this is external issue.

Thanks @Joe4evr for your reply and the pointers you have included.

[2021-11-02 16:44] #61088 closed

[2021-11-02 16:45] JensNordenbro opened #61104 "ReadyToRun and Unicode class names"
### Description

[code]

[code]

$ dotnet --list-sdks
5.0.400 [C:\Program Files\dotnet\sdk]
6.0.100-rc.2.21505.57 [C:\Program Files\dotnet\sdk]

$ dotnet --list-runtimes
Microsoft.AspNetCore.All 2.1.29 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.All]
Microsoft.AspNetCore.App 2.1.29 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.App]
Microsoft.AspNetCore.App 3.1.18 [C:\Program Files\

[2021-11-02 16:52] kunalspathak commented on #60659
Could you confirm where you see those numbers? Are they in the graph that I pointed above?

@adamsitnik did that exercise towards the end of .NET 6.

[2021-11-02 16:59] karelz commented on #55485
Triage: We should investigate what the behavior of Sockets and SslStream is and what we want to do here.
We might want to avoid undefined behavior.
We should decide if Read and Write can behave differently.

[2021-11-02 17:01] szilvaa-adsk opened #61105 "C++/CLI assembly is loaded into isolated AssemblyLoadContext (IsolatedComponentLoadContext) in .NET 6"
This is a continuation of the discussion in #56391 which is closed and therefore cannot be commented on.

@jkoritzinsky said:

Can we expect this limitation to be removed? This is a major migration blocker for our (native/unmanaged) C++ application that used C++/CLI to implement some of its functionality. C++/CLI dlls are called via the PE import table and LoadLibrary/GetProcAddress and it will be

[2021-11-02 17:05] radical commented on #60612
You could try asking on `GitHub.com/dotnet/aspnetcore` for ideas. Maybe tweaking trimming might help.

Closing this as the issue is resolved.

[2021-11-02 17:05] #60612 closed

[2021-11-02 17:11] agocke commented on #61105
One of the workarounds described is pre-loading via an "initialize" stub. Can you elaborate on why that wouldn't work for you? Your description here:

doesn't sound like it should be necessary, since you shouldn't need to change the calls, as long as the assembly is first loaded via a managed shim.

[2021-11-02 17:32] szilvaa-adsk commented on #61105
The workaround works. I implemented in the first scenario that we hit. The problem is that the application is very large. C++/CLI dlls get loaded in many code paths. The same C++/CLI dll may be loaded via one code path or another depending on what the user is does. Loading all C++/CLI dlls on startup is non-starter because of the performance cost.

Essentially, I'm trying to highlight the signific

[2021-11-02 17:35] NN--- opened #61107 "Dynamic structure alignment by IntPtr.Size"
There are use cases where structure has different alignment in 32 and 64 bits.
It would be very useful to be able to align structure by size of pointer or its derivative.

[code]

A possible solution mentioned in #33899 is to use two structures and introduce an interface.
However it means boxing and requires defining properties instead of simple fields.
Much more convenient solution is to allow pa

[2021-11-02 17:39] NN--- commented on #61107
area-Infrastructure

[2021-11-02 17:40] AndyAyersMS commented on #60829
These events are generated by the runtime, so updating the area path.

@mangod9 I'm probably not the best person to fix this, can you reassign?

[2021-11-02 17:44] jkoritzinsky commented on #61105
The decision to use an `IsolatedComponentLoadContext` was for a few reasons:

1. We need a way to point to the dependencies of the C++/CLI assembly, and the mechanism for that is an AssemblyLoadContext with an AssemblyDependencyResolver that uses the C++/CLI assembly's deps.json file. We can't update the set of "known" assemblies in the default assembly load context as we bake that in during CoreC

[2021-11-02 17:46] adamsitnik commented on #60659
The data that I got showed no regression:

<details>

## BenchmarksGame.BinaryTrees_6.RunBench

| Result |          Base |          Diff | Ratio | Alloc Delta | Modality | Operating System        | Bit   | Processor Name                                  | Base V        | Diff V      |
| ------ | -------------:| -------------:| -----:| -----------:| -------- | ----------------------- | ----- | ----

[2021-11-02 17:57] DougSchmidt-AI opened #61109 "DateTime.TryParseExact returns false for "945" with pattern "Hmm""
### Description

The `ParseExact` functionality of DateTime/DateTimeOffset fails to parse times with a leading single character `H` or `h` (1-or-2-digit 24-hour or 12-hour) followed by 2-digit minute (and/or 2-digit seconds).

"1245" is parsed as 12:45 PM, but "945" thows `FormatException("String was not recognized as a valid DateTime")`

So "Hmm" can only parse times from 10AM until midnight.

Lo

[2021-11-02 17:58] layomia commented on #61097
The `JsonNumberHandling` feature that this proposal models is pretty clunky in it's implementation (as written by me). Rather than add a parallel feature for bools, we could either include `bool` as one of the types that are affected by `JsonNumberHandling`, or to take the converter approach as mentioned by @eiriktsarpalis.

[2021-11-02 18:08] filipnavara commented on #61019
With the original scenario I had three options:
1) Install .NET 5 => It would break my development environment because coexistence between ARM64 SDK and x64 SDK didn't exist yet and .NET 5 didn't support Apple Silicon, so that was not an option.
2) Try running with roll-forward => I didn't do that because I was not aware of the command line option. If I knew about the option it would have helped f

[2021-11-02 18:10] #49283 closed

[2021-11-02 18:12] terrajobst commented on #33033
* This makes sense, but it seems we should be consistent and offer one for `ReadOnlyCollection<T>`, which today only exists as instance methods on `List<T>` and `Array`.

[code]

[2021-11-02 18:17] szilvaa-adsk commented on #61105
@jkoritzinsky Thanks for the details.

1. So why don't we have the same problem when the DLL is loaded via managed code first? What so different about the unmanaged entry point vs. managed entry point?

2. Why do you need to change the TPA? I don't think there's any way to add any of my assemblies to the TPA when I call `hostfxr_initialize_for_runtime_config`. So why couldn't the implicit initiali

[2021-11-02 18:17] terrajobst commented on #44947
* Looks good as proposed

[code]

[2021-11-02 18:20] echesakovMSFT commented on #61084
@EgorBo Should we close the issue?

[2021-11-02 18:25] #61084 closed

[2021-11-02 18:28] terrajobst commented on #55510
* It seems unfortunate to force the caller to inspect the values to decide which of the three methods to call. It would be nicer if we could pass in "null" to indicate that the value is missing and have the method do the right thing.
    - I put "null" in quotes because the `T` is unconstrained so we can't actually make it nullable if `T` is a value type.
* Can we make this better with extension m

[2021-11-02 18:29] jkoritzinsky commented on #61105
When loaded from managed code, there are two cases. One, the C++/CLI assembly and its dependencies are already in the dependency list of the assembly that loaded it, so it can be loaded in the same ALC as the calling assembly, which in most cases is the default ALC. Otherwise, the developer has used the ALC or Assembly APIs to explicitly load a C++/CLI assembly in a particular ALC, so the runtime

[2021-11-02 18:31] deeprobin opened #61112 "[tracking]: Remove SafeFileHandle for Unix"
@deeprobin yeah it's a historical issue, and would need a hypothetical feature to fix: https://github.com/dotnet/runtime/issues/26227#issuecomment-747842770

_Originally posted by @danmoseley in https://github.com/dotnet/runtime/pull/60507#discussion_r737900037_

[2021-11-02 18:39] terrajobst commented on #61093
* Looks good as proposed
    - We just need to make sure the instance is marked as "you can't touch this anymore"

[code]

[2021-11-02 18:42] szilvaa-adsk commented on #61105
So why couldn't the default ALC be used when the caller has no ALC (because it is unmanaged code)? It seems rather arbitrary to create a new IsolatedComponentLoadContext in this case. In other words, I still don't see the advantage of creating an isolated context. I see the disadvantage: it breaks .net4 apps that are trying to move to net6 platform.

[2021-11-02 18:52] Developer-Alexander commented on #46586
My use case was processing Open Street Map which is structured as a huge number of small objects. For performace reasons I needed a lot of fast lookups. (uint64 or uint32 id for example)

Dealing with this the size limitation of arrays became a problem and so did the limited capacity of dictionaries.

When you want a hash based dictionary and you hash is limited to 32 bit then you will end up in a

[2021-11-02 18:53] jkoritzinsky commented on #61105
What if someone tries to run another C++/CLI assembly as a plugin that should be fully isolated? If we don't create a separate ALC for each component, than every component after the first could end up with non-deterministic failures since some assemblies (and as a result values of static fields) might be shared while others aren't and the set of shared assemblies would depend on which component wa

[2021-11-02 18:55] layomia commented on #60314
Currently working on putting these artifacts together for review (mostly code changes to return the correct locations).

[2021-11-02 18:57] rseanhall commented on #61105
You're expected to provide a .deps.json as part of `hostfxr_initialize_*`. That's the way to get your assemblies automatically added to the TPA.

The alternate way is to manually add your assemblies to the TPA through a runtime property (I don't remember what it is, maybe `TRUSTED_PLATFORM_ASSEMBLIES`). This is similar to your previous issue, but I hope you're realizing that manually setting these

[2021-11-02 19:01] szilvaa-adsk commented on #61105
They can always do this by creating their own ALC. My point is that .net4 didn't have ALCs. Assemblies got loaded into the "default" context all the time (yes, sometime causing failure). I think the path of least surprise for migration is to maintain this behavior. Clients who wish to have more advanced plugin/component story can start using ALC.

[2021-11-02 19:20] dkattan commented on #38736
This is causing huge issues for me and my team as well.

[2021-11-02 19:21] vitek-karas commented on #61105
Assembly loading is one of the areas where .NET Core/.NET was intentionally made different. Just like .NET Core/.NET doesn't have app domains. The magic of fusion in .NET Framework worked reasonably well for simple cases, but more complex cases caused all kinds of trouble (probably the most known is binding redirect hell). .NET Core was intentionally designed to have a much simpler assembly loader

[2021-11-02 19:22] eiriktsarpalis commented on #33033
@Mrxx99 would you be interested in providing an implementation?

[2021-11-02 19:26] Thefrank commented on #57487
poking issue as https://github.com/dotnet/runtime/pull/57027 got merged

[2021-11-02 19:27] hoyosjs commented on #38736
Thanks for all the feedback. I've slated this as needed work for .NET 7. Once we have this in as it is properly tested, I'll take it through the process to request it to be backported to 6.0. I can hopefully have it done in a low risk manner to get it through.

[2021-11-02 19:28] jkotas commented on #61107
Duplicate of #60573

[2021-11-02 19:28] #61107 closed

[2021-11-02 19:30] vitek-karas commented on #61103
The store should only apply to `dotnet` if it contains assemblies which are used by `dotnet`. Do you actually put some framework assembly (or similar) into the store?

Also out of curiosity: What is the scenario you need the store for? (It's not a frequently used feature with several pretty big limitations, so I'm trying to figure out what scenarios it does solve).

[2021-11-02 19:36] Tornhoof commented on #61089
Not a solution, but maybe a workaround, if you need to serialize the pdf for Elasticsearch ingest pipelines, you can also use CBOR to send the data, instead of json.

[2021-11-02 19:46] pkindruk opened #61115 "SslStream.Read behavior changes"
I have been moving some legacy code from net46 to net5.0, for background that code was custom binary protocol using length delimited messages as TCP payload. While testing the result, I encountered different behavior when reading data from socket with `SslStream.Read(byte[], int, int)`. Behavior changes depending on target framework:
1. For `net48`:
1 chuck of data(typically up to 16355 bytes if t

[2021-11-02 19:53] echesakovMSFT commented on #60827
This issue could be reproduced using a simplified version of the original program

[code]

The assert happens when generating `PUTARG_STK(OBJ)` in `M21` to pass 6-byte struct argument `stkArg` on stack

[code]

Codegen tries to generate `ldrh\strh` instruction pair for copying the remaining 2 bytes and ended up passing `EA_2BYTE` as `attr` to `emitIns_R_R_I` call. However, emitter expects (even fo

[2021-11-02 19:55] kunalspathak opened #61116 "Assertion failed 'm_dst->TypeGet() != TYP_STRUCT' with COMPlus_JitSkipArrayBoundCheck"
Hits following assert with `COMPlus_JitSkipArrayBoundCheck=1`:

[code]

[2021-11-02 19:55] kunalspathak commented on #61116
@dotnet/jit-contrib

[2021-11-02 20:02] scalablecory commented on #61115
This isn't something that consistency should be expected from. `Stream.Read` is not packet based; For every `Write`, you can get multiple reads, or it might consolidate them.

I think a 0-byte `Read()` will result allow you to wait for more data being available, but I don't think there's any way to poll. Note, even polling for data on the socket isn't correct, because TLS can send alerts at any po

[2021-11-02 20:11] danmoseley commented on #46586
@Developer-Alexander  got it. Is a value-based hash feasible in your use case? As opposed to a reference one where it is fundamentally implemented by the runtime, is stored in the syncblock, effectively growing the object size, etc.

[2021-11-02 20:15] danmoseley commented on #60659
Well, perhaps the mystery may be resolved in a couple weeks when they replace 5.0 with 6.0 numbers. I suggest we wait a little bit for that, and if it doesn't go away it might be worth digging a bit more.

[2021-11-02 20:22] danmoseley commented on #61112
The proposal here is to find a way to move SafeFileHandle and such classes out of Microsoft.Win32.SafeHandles into some namespace that doesn't have the historic ties with Windows.

Unfortunately as far as I can see that requires a nonexistent feature that allows types to be forwarded between namespaces. I would expect we would need much more compelling reasons to do something like that. @jkotas ha

[2021-11-02 20:26] danmoseley commented on #34056
fwiw `Exception\s*\(` in src\mono\System.Private.CoreLib is down to 205 hits as of now.

[2021-11-02 20:35] danmoseley commented on #60933
Noting from offline discussion -- for some reason, we are getting an incomplete read from the registry key (which I think is dynamically populated?). Recommendation is that if a category isn’t present, we should sleep for a little while, call CloseSharedResources(), and try again. We would do this in tests only -- unless something has changed in Windows, it doesn't seem to be affecting real-world

[2021-11-02 20:35] Mrxx99 commented on #33033
@eiriktsarpalis Yes, I would be interested. Also thanks for moving this issue forward. Should I also update the proposal to also include the extension method on IList<T>?

[2021-11-02 20:38] eiriktsarpalis commented on #33033
No that's fine, we use https://github.com/dotnet/runtime/issues/33033#issuecomment-958004623 as the source of truth.

[2021-11-02 20:40] wfurt commented on #60906
Could you share some repro and/or container @wingrime?
cc: @janvorli in case he is aware of any known issues.

[2021-11-02 20:40] jkotas commented on #61112
Namespace forwarding is a very complex feature to build. It comes up occasionally when the technology names or positioning changes, the old names are not good fit anymore and people would like to stay compatible with old names and have new names at the same time.

In practice, the changes in technology names or positioning are often accompanied by other (breaking) changes, so namespace forwarding

[2021-11-02 20:50] danmoseley commented on #61112
Thanks. @deeprobin  I'm going to close this because we don't have sufficient compelling reason to make such a major investment - although I don't like the name either. thanks for opening this tracking issue though.

[2021-11-02 20:50] #61112 closed

[2021-11-02 20:52] tapika opened #61120 "ReadyToRun, PublishSingleFile=true, net 5.0 / 6.0 leaves native dlls out of bundle container"
Forked from https://github.com/dotnet/runtime/issues/60936 discussion, as separate not related bug report.

- `PublishSingleFile=true`
- `PublishTrimmed=true`

Run following commands:

`git clone https://github.com/tapika/swupd.git`

To build on .net 5.0 platform:

`build buildexe_chocogui_win7 -net net5.0`

Check build directory - `src\ChocolateyGui\bin\publish_win7-x64` -
It does build .exe, but

[2021-11-02 21:00] buyaa-n opened #61122 "Analyzer: Replace occurrences of TypeInfo with Type and TypeInfo.GetTypeInfo() with Type.GetType()"
Related to https://github.com/dotnet/runtime/issues/53217#issuecomment-885962507
For obsoleting `TypeInfo/GetTypeInfo` we need an analyzer/code fixer that replaces GetTypeInfo() with calls to GetType(), and occurrences of TypeInfo with Type. A heavy reflection code base that migrated to Windows 8/was written for the Windows 8 era, would have had widely used both. The key would be making it easier

[2021-11-02 21:03] karelz commented on #58033
@daniilzaonegin it does seem like failure to set up a working test case, not sign that it is the same issue. Or am I reading it incorrectly?
I don't know how to set it up, I would expect you just repeat what you did previously with .NET 5.0.
Perhaps @Tratcher has some thoughts?

[2021-11-02 21:03] radical commented on #61099
Closing in favor of https://github.com/dotnet/runtime/issues/37669 .

[2021-11-02 21:03] #61099 closed

[2021-11-02 21:17] bernd5 opened #61124 "Invalid override of protected interface member via regular puplic member"
### Description

The roslyn team recently fixed the following issue: https://github.com/dotnet/roslyn/issues/43680

Consider the following code:

[code]

### Reproduction Steps

Compile the code

### Expected behavior

The app should print:

[code]

because `App.DoInternal()` is no interface override / implementation of `ISomething.DoInternal()` - this requires an explicit interface implementation

[2021-11-02 21:18] szilvaa-adsk commented on #61105
@vitek-karas Fair enough. Thanks for the details.

A data point: the unmanaged host that I work on ([AutoCAD](http://www.autocad.com/)) has hosted .NET Framework since 2004 with many C++/CLI and C# assemblies. The "big pile" has not caused any trouble (no need for binding redirects). Perhaps, we have been lucky. :-)

I'll pursue @jkoritzinsky's suggestion to see if a forked/custom built ijwhost.dl

[2021-11-02 21:26] vitek-karas commented on #61105
I'm not saying that it should not be possible to load everything into default, just that having that as the default is problematic. Unfortunately currently we don't have a setting to allow this easily.

[2021-11-02 21:27] qcc-na commented on #60300
I cannot find a way to make this file appear.  I tried these combinations and can't find the files.  I restarted the vm and IIS in-between each attempt.  I set these environment variables from the user interface menu located in: `C:\Windows\System32\SystemPropertiesAdvanced.exe`

[code]
[code]
[code]

[2021-11-02 21:29] vitek-karas commented on #60300
I honestly don't know how to set this up in IIS.
The variables should work though... but I don't know how to verify if they are set or not.

[2021-11-02 21:35] janvorli commented on #60906
GDB is not good at dumping stack traces when there are managed frames involved. So the stack trace logged above is likely not real. You can get reliable stack trace from LLDB which is able to walk over the managed frames too thanks to its ability to use RBP chain when unwind info is missing. @wingrime would you be able to run it under LLDB and get the stack trace from there?

[2021-11-02 21:37] wfurt commented on #58033
In essence, the old code would run as wrong user but it would not fail to run.

[2021-11-02 21:38] #45988 closed

[2021-11-02 21:42] qcc-na commented on #60300
Here is some more information that might be useful to those not familiar from:
https://docs.microsoft.com/en-us/iis/manage/configuring-security/application-pool-identities

Whenever a new application pool is created, the IIS management process creates a security identifier (SID) that represents the name of the application pool itself. For example, if you create an application pool with the name "M

[2021-11-02 21:52] ao57772 opened #61127 "TimeZoneInfo.GetSystemTimeZones() returns empty list - Net6 Regression"
### Description

On a linux system without lib ICU installed,

TimeZoneInfo.GetSystemTimeZones() returns empty list.
The reason is, TimeZoneInfo.TryPopulateTimeZoneDisplayNamesFromGlobalizationData,
in TimeZoneInfo.FullGlobalizationData.Unix.cs, on line 33, does this:

            CultureInfo uiCulture = CultureInfo.CurrentUICulture;
            if (uiCulture.Name.Length == 0)
                uiCu

[2021-11-02 22:00] davidwrighton commented on #34649
I'll take a look at fixing the code flow here

[2021-11-02 22:01] davidwrighton commented on #34649
But my guess is that you have a version of clang that isn't able to consume the profile data we produce. Are you building with the same version of clang that is used in the offical docker build images?

[2021-11-02 22:16] safern commented on #57487
cc: @steveisok

[2021-11-02 22:17] jeffhandley commented on #32121
https://github.com/dotnet/runtime/issues/32080 is a design/implementation detail of this item. That issue has been closed and captured here.

COSE_Key comes from [IETF RFC 8152, section 7](https://tools.ietf.org/html/rfc8152#section-7).

Some specs are already known that use COSE Key encodings that don't use all of COSE, so at a high level we should support going from `AsymmetricAlgorithm` to an e

[2021-11-02 22:17] jeffhandley commented on #32080
Closing as this is a design/implementation detail of https://github.com/dotnet/runtime/issues/32121#issuecomment-958262265.

[2021-11-02 22:17] #32080 closed

[2021-11-02 22:32] safern commented on #61127
@ao57772 thanks for your report.

This was an intentional breaking change that we added in .NET 6 as creating new cultures when running on Invariant mode doesn't really do anything as the data that is used for all culture aware operations will use the Invariant Culture data, even if the user created a culture and requested that culture to be used.

You can read a little bit more about this breakin

[2021-11-02 22:38] vitek-karas commented on #60300
Honestly this is sounding a lot like a similar problem we had with single-file on Linux in systemd. That's another environment where the app is started under a special user/security environment - and for example the systemd doesn't define the standard `$HOME`. On Windows this would similar to an environment where there's not `%TEMP%`. Right now our answer to these cases is that the single-file its

[2021-11-02 23:05] qcc-na commented on #60300
That seems logical to me.

[2021-11-02 23:08] jkoritzinsky opened #61131 "Installer test infrastructure around the install_location config file on macOS crashes test process with RC2 SDK"
The installer test infrastructure creates a dummy install_location config file for some of the nethost testing. When using the RC2 SDK, the test process crashes while running the tests that use this infrastructure.

After the RC2 SDK update is merged, we should figure out the cause of this failure and re-enable the disabled tests.

[2021-11-02 23:12] steveisok opened #61132 "[mono] Create separate yml that can trigger full test runs on demand"
Since a large share of the mono configurations are now running only smoke tests on each PR, we need to have a way to manually trigger running all tests.  A copy of runtime.yml that can only be manually triggered is probably the easiest option, but I'm sure there are others.

An engineer should be able to trigger a full test run via `/azp run <yet-to-be-named.yml>`

[2021-11-02 23:24] radical commented on #61132
Can it be nested like `mono.yml` can contains `apple/android/wasm.yml`, and any further splits, if useful. And these can be triggered on-demand. then maybe `runtime.yml` can use the above mono.yml?

[2021-11-02 23:26] wfurt commented on #57792
I also test with `curl` and it works without any error. The interesting difference is that `curl` sets
[code]
but HttpClient use
[code]

so it looks like the normalization happens at HTTP layer before TLS even kicks in.

I'm wondering if the proper fix is at HttpClient or even URI.
cc: @geoffkizer @scalablecory @MihaZupan

[2021-11-02 23:35] tarekgh commented on #61127
We already fixed this in the release build.  https://github.com/dotnet/runtime/pull/59710. You may try the release build from https://github.com/dotnet/installer.

[2021-11-02 23:35] #61127 closed

[2021-11-02 23:37] #59823 closed

[2021-11-02 23:41] matteo-prosperi opened #61133 "[API Proposal]: Allow to await a SynchronizationContext or a TaskScheduler"
### Background and motivation

When writing async code, switching to executing code on a given SynchornizationContext or TaskScheduler requires complicated code.
It would be great to be able to simply `await` an instance of SynchornizationContext or TaskScheduler

### API Proposal

Microsoft.VisualStudio.Threading already provides this ability for the TaskScheduler (see [here](https://docs.microso

[2021-11-02 23:42] safern commented on #61127
Thanks @tarekgh for correcting me 😄. I for some reason got confused.

[2021-11-02 23:50] elinor-fung opened #61134 "Switch usage of `CallingConvention` field on `GeneratedDllImport` to `UnmanagedCallConv` attribute"

[2021-11-02 23:51] danmoseley commented on #61127
@ao57772 it would be great if you could confirm here when you've verified that all is working for you. thanks again for the report.

[2021-11-02 23:52] buyaa-n commented on #33771
A new proposal added to the description

[2021-11-03 00:02] wfurt commented on #59986
Try this @sanchhoker
[code]
It adds the `DHE-RSA-AES128-GCM-SHA256` to the handshake on my Ubuntu 20.04 box

<img width="1506" alt="image" src="https://user-images.githubusercontent.com/14356188/139967769-319ca549-b1a7-4850-b5be-1e22f55ebff2.png">

You can add more as you see fit but it should offer the cipher you listed.

[2021-11-03 00:09] VSadov opened #61135 "[API Proposal]: InlineArrayAttribute"
### Background and motivation

There were multiple proposals and ideas in the past asking for a no-indirection primitive for inline data. [Example1(inline strings)](https://github.com/dotnet/csharplang/issues/2099),  [Example2(inline arrays)](https://github.com/dotnet/runtime/issues/12320), [Example3(generalized fixed-buffers)](https://github.com/dotnet/csharplang/blob/main/proposals/low-level-str

[2021-11-03 00:26] tonybaloney opened #61136 "load_assembly_and_get_function_pointer_fn returns undocumented error codes"
### Description

Whilst using the hostfxr API with delegates to call static methods, the example repo works fine for the default method, but when trying different methods I noticed that the returned code is not a `StatusCode`.

The result code I get in this example is ` -2146233054`.  No information is printed to stderr.

It looks like one of the methods in `ComponentActivator` threw an exception

[2021-11-03 00:27] tonybaloney commented on #61136
This is `area-Host`

[2021-11-03 01:14] VincentBu opened #61138 "Test failure System.Security.Cryptography.Hashing.Tests.HashAlgorithmTest.ComputeHashAsync_SupportsCancellation"
Run: [runtime 20211102.46](https://dev.azure.com/dnceng/public/_build/results?buildId=1451235&view=ms.vss-test-web.build-test-results-tab&runId=41767194&resultId=136925&paneView=debug)

Failed test:
[code]
**Error message:**
[code]
Failed test:
[code]
**Error message:**
[code]
Failed test:
[code]
**Error message:**
[code]
Failed test:
[code]
**Error message:**
[code]

[2021-11-03 01:14] terrajobst commented on #23950
Sounds good.

[2021-11-03 01:30] VSadov commented on #60308
The SDK test should be reenabled once changes from https://github.com/dotnet/runtime/pull/61066 reach SDK repo.

[2021-11-03 01:59] markdchurchill commented on #57792
This makes sense to me - the dot demonstrating intent in name resolution to prevent ambiguities in network connection - but not an HTTP specific concern.

FQDN usage should be allowed in a Uri, as that is a legitimate intent.

[2021-11-03 02:07] VSadov commented on #61135
CC: @jaredpar  @davidwrighton @jkotas @stephentoub

[2021-11-03 02:10] jkotas commented on #61135
I think this is ready for API review.

[2021-11-03 02:26] tonybaloney commented on #61136
Update -2146233054 is equivalent to COR_E_TYPELOAD. Found this by looping over all values in rexcep.h until I got a match

[2021-11-03 02:38] HurricanKai opened #61139 "Extremly slow build & size explosion of assembly when compiling for WASM in AOT mode"
### Description
I'm experimenting with adding WASM support to [Silk.NET](https://github.com/dotnet/Silk.NET) but when compiling my test application for WASM in AOT mode, the Silk.NET.Maths assembly bytecode file becomes >220MB large and takes 2454s to process.

### Configuration
Running on Windows 10, Ryzen 9 3900x

### Data
Original Assembly size: 307 kb
Bytecode file size: 220604 kb
Object file

[2021-11-03 02:44] vcsjones commented on #61138
I think this should be addressed by https://github.com/dotnet/runtime/pull/61102

[2021-11-03 03:41] #59427 closed

[2021-11-03 04:07] #61134 closed

[2021-11-03 04:25] wegylexy commented on #53533
@karelz [wegylexy/runtime/.../feature/msquic-datagram](https://github.com/wegylexy/runtime/tree/feature/msquic-datagram) is a prototype, forked from a .NET 6 preview when `System.Net.Quic` was still `public`.

[2021-11-03 04:27] #60662 closed

[2021-11-03 06:14] AndrewMD5 commented on #61120
Have you tried `IncludeNativeLibrariesForSelfExtract` or `IncludeAllContentForSelfExtract`?

[2021-11-03 06:56] jaykrell commented on #61139
Is it possible, I don't remember and I haven't looked..to at least test this theory, and get a build, which should work, might run slow, it should be possible to ask Mono AOT to explicitly not instantiate generics, except for the gshared/gsharedvt versions, like for object and struct, i.e. a maximum of two instantations per generic (maybe exactly 2).

Furthermore, what should be "easy", given that

[2021-11-03 07:45] gregoireternon commented on #61103
Hi @vitek-karas ,

Well my store is built following the procedure described here:
https://docs.microsoft.com/en-us/dotnet/core/deploying/runtime-store
in a project targeted to netcoreapp2.1
In package reference, i only insert my library (in dotnet standard).
So there is no framework assembly...
After that, i set up my store globally (global env variables).

From my understanding, runtime store is

[2021-11-03 07:49] davidfowl commented on #61100
cc @noahfalk for best practices regarding multiple instances of the logging event source

[2021-11-03 08:21] ao57772 commented on #61127
I tried with v6.0.100, built from commit 4822e3c3aa, it works ok.

Sorry, that I tried only with rc2,
but https://dotnet.microsoft.com/download points to rc2.
I wasn't sure if I want to dive into the daily builds.

[2021-11-03 08:33] svick commented on #60768
@mayorovp and @pedoc are right: this is a deadlock caused by combining `await` with synchronous `Wait()`.

Specifically, it happens because of this part in the TPL Dataflow code:

https://github.com/dotnet/runtime/blob/6527f540e4b50bc84eb72705f80d3f2bdd57473b/src/libraries/System.Threading.Tasks.Dataflow/src/Internal/SourceCore.cs#L962-L968

The problem is that `_completionTask.TrySetResult` execu

[2021-11-03 09:01] SiemerPasch opened #61141 "Half operator < (smaller) not working correctly"
### Description

I try to compare two Half Values. Both has the same Value of -128.
Now if i check that one is smaller than the other, it returns true. But there are the same Value

### Reproduction Steps

[code]

### Expected behavior

I expect that `a < b = false` is, when `a = b = -128`

### Actual behavior

`a < b = true`

### Regression?

_No response_

### Known Workarounds

_No response_

#

[2021-11-03 09:15] danmoseley commented on #61127
Nope that's enough confirmation. Thanks!

[2021-11-03 09:17] svick commented on #61141
This is a duplicate of https://github.com/dotnet/runtime/issues/49983, which is fixed in .Net 6 (releasing in less than a week).

[2021-11-03 09:19] daniilzaonegin commented on #58033
@karelz, maybe we better wait till dotnet 6 will be released? It is only one week left. Then I can definitely check it.

[2021-11-03 09:20] mikkeljohnsen commented on #59681
Guess it is mono that is not able to run it. Will reopen if dotnet has the same error, when i'm able to switch to dotnet instead of mono.

[2021-11-03 09:20] #59681 closed

[2021-11-03 09:22] Sam13 commented on #61092
I guess so. For example _System.Security.Cryptography.Xml.dll_

If I understand you correctly this is not yet supported?
Is there any workaround to check whether a file is (Windows) signed under Linux?

[2021-11-03 09:23] yhj200722 commented on #59561
dotnet fundation should argree to accept some new CPU-architecture supporing the .NET, that's helpful for dotnet ecosystem

[2021-11-03 09:24] danmoseley commented on #61141
Thanks @svick i was just typing the same answer! @SiemerPasch is it possible for you to move to 6.0?

[2021-11-03 09:34] shushanhf commented on #59561
yes, I agree with you.
Now, we had finished or passed about 90% of the runtime testsuites, 9491/10564.

And we are debuging and amending the JIT of the mono-6.13 on LoongArch64-linux.

[2021-11-03 09:36] SiemerPasch commented on #61141
Thanks for your fast replay. I have not found the  #49983 Issue previous. I can validate that the Problem is done, when i use .Net 6.

[2021-11-03 09:36] #61141 closed

[2021-11-03 09:49] karelz commented on #60644
@avparuch I don't think it meets the bar for breaking change, unless we believe this will noticeably impact non-trivial number of customers.

[2021-11-03 09:51] karelz commented on #58033
@daniilzaonegin that is fine with me. Would be great to have final confirmation that we truly addressed the end-to-end scenario, given that this is 2nd attempt to fix it.

[2021-11-03 09:55] pkindruk commented on #61115
It is perfectly fine that `SslStream.Read` can return arbitrary number of bytes. Message boundaries are handled upper in stack. I omitted those details since they have nothing to do about this issue.
I wanted to talk about `SslStream.Read` behavior. It can read more data from underlying stream, but return less, leaving some of it somewhere in its internal cache. This behavior is only present `net5

[2021-11-03 10:02] iSazonov commented on #60948
I'm glad to see a progress for primitive type constants. Is there something similar for more complex types? So, PowerShell builds some large Dictionary-based caches on _startup_. It would be great if they could be built beforehand at the _crossgen_ stage, for example.

[2021-11-03 10:04] Misiu commented on #60762
@Tornhoof because regex replace can cause unwanted behaviour - https://stackoverflow.com/questions/69675115/httpclient-and-system-text-json-jsonserializer-and-php-different-character-size?noredirect=1#comment123168070_69675115

[2021-11-03 10:22] Frassle commented on #61133
For comparison with another dotnet language, F# has `Async.SwitchToContext` which lets you do this for a SynchornizationContext.

[2021-11-03 10:31] akoeplinger commented on #61017
Yeah though I think I'd prefer extending evaluate-changed-paths.sh so that it outputs more fine grained variables that we can use in runtime.yml to trigger the full runs.

[2021-11-03 10:35] akoeplinger commented on #61132
Yeah you can nest templates, basically like we use the `eng/pipelines/common/platform-matrix.yml` template in `runtime.yml` which in turn uses the `xplat-setup.yml` and so on.

[2021-11-03 10:38] akoeplinger commented on #34649
In https://github.com/dotnet/runtime/pull/61001 I was updateing from Ubuntu 16.04 to 18.04 so it's possible that there is a different clang version being used.

[2021-11-03 11:06] karelz commented on #59692
No response for a month, closing as not enough info to make it actionable.

[2021-11-03 11:06] #59692 closed

[2021-11-03 11:13] stephentoub commented on #61133
Duplicate of https://github.com/dotnet/runtime/issues/20025

[2021-11-03 11:13] #61133 closed

[2021-11-03 11:32] eiriktsarpalis commented on #60762
I mean that comment is merely pointing out a corner case, but that doesn't mean it's impossible to get right.

I don't believe this use case justifies controlling the casing of escaped unicode: the produced output is valid according to spec and generating JSON that is byte-by-byte identical to Json.NET is not a goal of System.Text.Json. In general, I would not recommend using JSON from the STJ ser

[2021-11-03 11:32] #60762 closed

[2021-11-03 11:35] stakira opened #61173 "AppHost requires macOS 10.15 while .net core 3.1 claims to support macOS 10.13+"
### Description

1. End user receives a error "You can't use this version of the application <appname> with this version of macos. You have macOS 10.14.6. The application requires macOS 10.15 or later." when installing app from dmg.
2. https://github.com/dotnet/core/blob/main/release-notes/3.1/3.1-supported-os.md claims dotnet core supports 10.13+
3. After looking around for a while. I found that

[2021-11-03 11:41] HurricanKai commented on #61139
How would I do this? I can't seem to find any documentation on how to configure anything about the AOT process.

[2021-11-03 11:47] vitek-karas commented on #61103
I haven't played with this for a while, but I think the problem is actually not the store but the `DOTNET_ADDITIONAL_DEPS` - that is what effectively injects code into the app. And yes, this works on any managed app which is executed with the variable set. Since dotnet CLI is also a managed app, it influences it as well. The reason why it works from VS is that VS build is using .NET Framework to r

[2021-11-03 12:05] HurricanKai opened #61144 "Enums are not considered blittable by Emscripten / Blazor WASM AOT"
### Description

In P/Invoke callbacks, Enums are not considered blittable.
This means no enums can be used as parameters of P/Invoke callbacks.

### Reproduction Steps

Attempt to compile a method like
[code]
using Emscripten / WASM AOT

### Expected behavior

The above code should be possible. Enums should be considered blittable.

### Actual behavior

An error is shown, enums are not considered

[2021-11-03 12:06] andersson09 opened #61145 "[mono wasm] Passing arguments to entry point not working"
### Description

I'm running the wasm browser sample and am struggling to pass parameters using BINDING.call_assembly_entry_point("Wasm.Browser.Sample", ["Hello"]);

It's triggering the entry point successfully but not passing the parameters. For some reason the args.Length property is returning 6357060 when it should be 1.

### Reproduction Steps

Build wasm browser sample
-Rename Test class to P

[2021-11-03 12:08] AradAral commented on #43662
Disappointing that this was not implemented in 6.0 to be honest.

[2021-11-03 12:10] HurricanKai opened #61146 "(Unmanaged) Structs are not considered blittable by Emscripten / Blazor WASM AOT"
### Description

Unmanaged structs are not considered blittable and therefore cannot be used in pinvoke callbacks.

### Reproduction Steps

Attempt to compile code like
[code]
using Emscripten / WASM AOT

### Expected behavior

The above code should compile.

### Actual behavior

An error is shown, structs are not considered blittable.

### Regression?

_No response_

### Known Workarounds

_No re

[2021-11-03 12:18] thaystg opened #61147 "[wasm][debugger] Not able to evaluate a static class attribute"
I created this class:
[code]
And added this code to Program.cs before `await builder.Build().RunAsync()`:
`staticclass.AppVersion = "thays2";`

And tried to evaluate on watch: `staticclass.AppVersion`.

Should work also if it's a non static class with a static attribute.

Related to https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1427267

[2021-11-03 12:36] afvieira opened #61148 "ShortTimePattern does not respect the system configuration when in macOS"
### Description

Regardless of the used Culture (`InstalledUICulture`,`CurrentCulture`,`InvariantCulture`,`CurrentUICulture`) the `ShortTimePattern` is always `HH:mm`. This is happening only when I run the code in **macOS**. When running the same code in **windows** the `ShortTimePattern` is respecting the system configurations.

You can see an example [here](https://github.com/afvieira/tmp-ShortT

[2021-11-03 12:38] theodorzoulias commented on #60768
Thanks @svick. Your reply encourages me to report another deadlocking behavior in TPL Dataflow that I've encountered recently. I may do it later. A good library should be able to survive even when it's stressed to its limits IMHO. 😃

[2021-11-03 12:43] thaystg opened #61149 "[wasm][debugger] Automatically show the values of the getters of a property."
Check how does it work for a common console app, and try to behave in the same way.
View an Exception object in the locals window.
https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1424946

[2021-11-03 12:45] DaniilTS opened #61150 "Question about of using goto in switch case of Linq.Where"
I looked through the code of [Linq.Where](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Linq/src/System/Linq/Where.cs) and I don't understand why `goto case 2` is used in lines 114, 216, 322, 388 if the second case is always going after the first?
Can you explain it?

[2021-11-03 13:00] EgorBo commented on #56493
Closed by https://github.com/dotnet/runtime/pull/56501

[2021-11-03 13:00] #56493 closed

[2021-11-03 13:03] bbartels commented on #46236
Hi @JulieLeeMSFT,

I found some time over the weekend and implemented a fix for this. Ran into another bug on the way, but i'll open a separate issue for that. Could you assign this to me? I'll create a PR later today, once I write the appropriate tests!

[2021-11-03 13:04] EgorBo commented on #2233
Closing as "fixed"

[2021-11-03 13:04] #2233 closed

[2021-11-03 13:07] sksk571 opened #61151 "Application threads deadlock when throwing an exception"
### Description

We have a .NET Framework application that processes data in Cosmos DB using the V3 SDK (https://github.com/Azure/azure-cosmos-dotnet-v3). Recently we made an attempt to migrate this application to .NET5 and changed TFM from net472 to net5.0 (no other code changes was made). While the app works logically correct, after running for some time in production (several hours or sometimes

[2021-11-03 13:09] EgorBo commented on #13445
.NET 6.0 numbers (without additional attributes):
[code]

[2021-11-03 13:09] #13445 closed

[2021-11-03 13:18] EgorBo commented on #61150
Pretty sure that code has to be rewritten to plain if-else. Maybe the original author expected it to be optimized into a jump-table (but it's too small for that).

[2021-11-03 13:21] wingrime commented on #60906
[code]

[2021-11-03 13:25] gyankov commented on #52867
@cston Thanks for the update.

I tested to convert the values as suggested and indeed it returns the items as expected, however, I have a follow up question.

As types might differ, how do I get the runtime type of a LambdaExpression body?

[2021-11-03 13:28] EgorBo commented on #46236
re-assigned to you, thanks!

[2021-11-03 13:29] wingrime commented on #60906
[code]

[2021-11-03 13:37] janvorli commented on #60906
@wingrime can you please run `disass -a $rip` and `register read` LLDB commands at the crash location? That would help us to figure out which argument of the `NetSecurityNative_ImportPrincipalName` is null, which seems to be the issue here.

Btw, `clrstack -f` includes both native and managed frames together.

[2021-11-03 13:49] danmoseley commented on #61127
BTW @ao57772 we have lots of issues marked up-for-grabs or easy, if you are interested in becoming a contributor!

[2021-11-03 13:51] GiorgioG commented on #782
Stop dragging your feet Microsoft. Support a well-established naming policy out of the box.

[2021-11-03 13:52] krwq commented on #61081
@radical it seems so

[2021-11-03 13:55] wingrime commented on #60906
[code]

[2021-11-03 13:58] danmoseley commented on #58828
@lambdageek could you please take a look ? we hit we had a similar crash, also in JSON. it would be good to avoid having an active GC hole.

https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-61142-merge-76dd86c53f534a6f9c/System.Text.Json.Tests/1/console.bbc35fce.log?sv=2019-07-07&se=2021-11-23T10%3A07%3A57Z&sr=c&sp=rl&sig=NHWXxAo4YJUDwUFtnUwhMSdlCDFSVB6OdRUeITh7XAc%3

[2021-11-03 14:13] janvorli commented on #60906
I believe the crash happens when we are trying to get the value of the 3rd argument of the following call:
https://github.com/dotnet/runtime/blob/20569058b229e9269f8c9a7965688f771328d16e/src/libraries/Native/Unix/System.Net.Security.Native/pal_gssapi.c#L281

The `GSS_C_NT_HOSTBASED_SERVICE` is defined as
https://github.com/dotnet/runtime/blob/20569058b229e9269f8c9a7965688f771328d16e/src/libraries/

[2021-11-03 14:19] stephentoub commented on #61150
Can you explain it?

C# doesn't allow for falling through from one case block to the next; without a "return", "break", "goto", etc. at the end of the block, it'll fail to compile.  So the "goto case 2" here mean "please fall through to the code immediately after".

https://github.com/dotnet/runtime/blob/65c943358b57f4df4161afbd5b8df7c551c58d51/src/libraries/System.Linq/src/System/Linq/Where.cs#L1

[2021-11-03 14:19] #61150 closed

[2021-11-03 14:26] BrzVlad commented on #58828
@danmoseley The issue is not related to that. There is some GC issue but the crash is not enough to figure out what is going on. I tried to reproduce the issue the last time but I failed. I'll try again to reproduce by running this test in a loop for a very long amount of time.

[2021-11-03 14:27] lambdageek commented on #61146
This is an error from the AOT tasks, maybe?  Console sample using Mono works (see https://gist.github.com/lambdageek/f289259398a33cdf19811d2ab4eefd35):

[code]

[2021-11-03 14:28] janvorli commented on #60906
That would indicate that no member of the `NetSecurityNative` class was accessed.

[2021-11-03 14:43] jkotas commented on #60948
@iSazonov Can you link an example of the large Dictionary cache in Powershell? (To me, it sound like a job for source generator and specialized hashtable structure optimized for persistence.)

[2021-11-03 14:45] rolfbjarne commented on #61153
CC @akoeplinger @steveisok

This is breaking the default MAUI template, so it's a rather high priority.

It's rather obnoxious to reproduce, because of other breaking changes in later commits that hides this problem, but I believe it should be possible by installing .NET 6 (RTM), and then this package: https://bosstoragemirror.blob.core.windows.net/wrench/main/40db84a71e10a549cdcd3dab746120dba3f84

[2021-11-03 14:47] lambdageek commented on #61135
1. I think `Length = 0` should be allowed
2. What kind of validation do we want on the runtime side? E.g. throw `BadImageFormatException` if the length is negative, or if the struct has multiple fields.

2. Is this ok:
[code]
   How about:
[code]

[2021-11-03 14:50] lambdageek commented on #61144
related to #61146

[2021-11-03 15:00] lambdageek commented on #61146
Note that this is also related to https://github.com/dotnet/runtime/issues/60639 - in particular we will need to follow the runtime's (updated) rules for what is blittable

[2021-11-03 15:04] vsfeedback opened #61154 "Vector3.Dot sometimes return 0 instead of correct value in release mode"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Vector3Dot-sometimes-return-0-instead-o/1564640)._

---
[severity:Other]
After upgrading to .Net 5.0 Vector3.Dot sometimes return instead of correct value in release mode. I do the following calculations (simplified in this example) multiple times in a subscription (Using System.Reactive

[2021-11-03 15:07] TheSpydog opened #61156 "[wasm] Specific PInvoke call works with AOT but fails on Interp"
### Description

I'm attempting to run a basic FNA app with the interpreter mode of BlazorWebAssembly, and it almost works, except for one particular PInvoke call, which produces an error. When running in AOT mode, the program runs correctly.

### Reproduction Steps

I have isolated the problematic PInvoke call and written a [small sample project](https://github.com/TheSpydog/wasm-pinvoketest) to

[2021-11-03 15:10] lambdageek commented on #61146
This could be considered an enhancement.

One current workaround is to pass a pointer to the struct:

[code]

And correspondingly use a pointer on the native side:
[code]

[2021-11-03 15:15] eiriktsarpalis commented on #61044
Related to #1808.

[2021-11-03 15:15] #61077 closed

[2021-11-03 15:16] VSadov commented on #61135
I do not think we have a choice. We cannot remove the field that is already there, thus we cannot follow the directive to have a completely empty array.

It must be a **struct with a single instance field and not having an explicit layout**
(I forgot to add the layout part to the proposal, it would obviously be in conflict)

I am almost 50%/50% on how we handle nonconforming situations - whether w

[2021-11-03 15:17] steveisok commented on #61153
/cc @BrzVlad

[2021-11-03 15:34] tannergooding commented on #61135
Why do you have to remove the field?

The intent behind 0 length fixed sized buffers in C/C++ is:
1. Do not impact `sizeof`
2. Be a marker field that you can succesfully use for indexing
3. Much like `length = 1`, support the concept of "variable length inline arrays" and so must be the last field in a struct

We should be able to support and special case both `0` and `1` and have it work as expec

[2021-11-03 15:38] lambdageek commented on #61135
I think field layout errors are usually TLE or BIFE when you actually try to use the type - but I don't think we're totally precise about when the exception is raised.

I guess the alternative is that any noncomforming use of the attribute is just ignored?  In that case it would be nice to have a C# analyzer flag the bad attribute usage.  Unexpected layout in conjunction with pointer-ful code seem

[2021-11-03 15:42] VSadov commented on #61135
@tannergooding  - I think auto layout is ok. Since we require only one instance field, only explicit could be a problem.

[2021-11-03 15:43] jkotas commented on #61135
Right. Invalid uses of the attribute should produce TLE.

[2021-11-03 15:44] shadow-cs opened #61162 "Logging methods created by generators allocate if LogLevel is passed"
### Description

The new Logging generators for `LoggerMessage` cause the generated implementations to allocate due to usage of a method group which the generator assigns to `Func<TState, Exception?, string> formatter` in a `ILogger.Log` call. This is due to a fact that method groups are not cached whereas lambdas are (which is not always obvious, see https://github.com/dotnet/roslyn/issues/5835).

[2021-11-03 15:50] tannergooding commented on #61135
I'm a bit skeptical. C# defaults to sequential structs so most users would have to go out of there way to define `Auto` layout in the first place. On top of that, the type layout algorithm differs in a few places for `Auto` layout + it prevents the usage in P/Invoke, so in almost every scenario you can think of, its undesirable to allow it IMO.

[2021-11-03 15:50] VSadov commented on #61135
I am ok with TLE when attribute cannot work.

I assume  `Length == 0` is also a TLE case, right?
(a struct can't have 0 size, and we can't make `[0]` not work, since there is a field)

[2021-11-03 16:05] JeWaVe opened #61166 "can't parse french dates in alpine docker image while ok in focal"
### Description

Consider the following code :

[code]

It works well and logs `02/01/2022 00:00:00` when it runs in mcr.microsoft.com/dotnet/runtime:5.0-focal docker image.
However, it logs `error` when it runs in `mcr.microsoft.com/dotnet/runtime:5.0-alpine`

### Reproduction Steps

take this piece of code
[code]

run it a docker container deriv

### Expected behavior

This piece of code logs `0

[2021-11-03 16:07] kevingosse opened #61167 "ValueTask.s_canceledTask can be disposed"
### Description

After upgrading to .NET 6, we started seeing random failures with RabbitMQ.Client 3.6.9:

[code]

The code of the failing method is:

[code]

It occured to me that this method shouldn't possibly fail _this way_, so I tried to understand what was happening. Notably, this method uses `TcpClient.BeginConnect`, which use the Begin/End methods of the socket. Those were changed in .NET

[2021-11-03 16:10] tannergooding commented on #61135
The intent behind length 0 isn't to remove the field, just to remove its from size calculations when it isn't the only field.
A struct only containing `T x[0]` impacts packing but not size, if you have additional fields, its no longer counted: https://godbolt.org/z/97qcx95oP
* Clang looks to have a bug here if you have a struct that only contains `T x[0]` and returns `0`, differing from GCC

That

[2021-11-03 16:10] danmoseley commented on #61141
Great -- hope you can update next week! .NET 5 will be out of support in 6 months from now, while .NET 6 will be in support through Nov 2024 (3 years)
https://dotnet.microsoft.com/platform/support/policy/dotnet-core

[2021-11-03 16:13] jakobbotsch opened #61168 "ARM32 JIT: Assertion failed '!"NYI: odd sized struct in fgMorphMultiregStructArg"' during 'Morph - Global'"
### Description

The following program hits a NYI in the ARM32 JIT.

### Reproduction Steps

[code]

### Expected behavior

No assert hit

### Actual behavior

Assert hit

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

_No response_

### Other information

cc @dotnet/jit-contrib

[2021-11-03 16:13] marknadig opened #61169 "[API Proposal]: EnvironmentVariablesConfigurationProvider support custom key and value mutation"
### Background and motivation

I would like to be able to store environment variables in an encrypted form. To facilitate this I need to be able to mutate the values after they are read. I'm proposing the EnvironmentVariablesConfigurationProvider support an optional translator lambda that accepts a DictionaryKey which would mutate the key/value, or perhaps two `ref` strings would be cleaner since

[2021-11-03 16:16] HurricanKai commented on #61139
I have noticed that a debug builds produces much smaller files, with the bc file "only" being 80mb

[2021-11-03 16:17] syncsiva commented on #61053
@SimonSchwendele You can overcome the problem by using individual NuGet packages of Syncfusion.

Refer below thread for more details,
https://www.syncfusion.com/forums/169884/aot-publish-fails-for-syncfusion-blazor-dll

Individual NuGet packages list,
https://blazor.syncfusion.com/documentation/nuget-packages

[2021-11-03 16:18] tapika commented on #61120
With both options turned on build seems to work. (With only `IncludeNativeLibrariesForSelfExtract=true` - there comes folder `runtime` and .exe does not raise)

What is odd - that that on .net 5 I have configured .net platform to be `net5.0-windows10.0.19041`, which implies that executable would work only on windows 10 - but I find out that it works also on windows 7.

With `net6.0-windows10.0.190

[2021-11-03 16:20] aik-jahoda commented on #57259
@ViktorHofer I believe all credscan issues are gone.
The credscan tool was updated and new discovered bugs were fixed.

[2021-11-03 16:21] eiriktsarpalis commented on #61044
Triage: issue can be worked around by either casting the value to IEnumerable or registering a custom converter. In the future we should explore adding additional APIs that let users opt-in to internal converters that are not resolved by default for the given type (cf. #1808).

Moving to 7.0.0

[2021-11-03 16:31] tapika commented on #60936
I think this ticket can be closed. Parameter handling is not perfect, but at least it works.

[2021-11-03 16:32] jogibear9988 commented on #61044
I think the breaking changes need to be fixed, so people also know that the Synchronous methods are also changed.

And I think I tried to use AsEnumerable(), but that did not work (but I have to check again)

[2021-11-03 16:33] jkotas commented on #61135
And you would like this attribute to behave like clang for `Length == 0` that seems to be the most sensible behavior. Do I understand it right?

[2021-11-03 16:37] #59549 closed

[2021-11-03 16:47] lambdageek commented on #60550
And removing `ApplicationBase` broke some tests - for reasons I don't understand yet - as we observed it's not clear that coreclr ever probes ApplicationBase and yet it seems necessary in Mono.  I checked the other properties that the host might pass to the runtime (`APP_PATHS` and `PLATFORM_RESOURCE_ROOTS`) and they are either unset or empty.

Questions/Next steps:

1.  I think we may need to go

[2021-11-03 16:52] kevingosse commented on #61167
Ok I figured out the bit I was missing, and it's a tad more tricky than disposing the task.

RabbitMq.Client is disposing the waithandle:

[code]

Since the waithandle is on the shared task, it will be disposed for all callers.

[2021-11-03 16:52] Wraith2 commented on #61166
I believe that alpine does not contain ICU libraries (because they're quite large) and so the runtime functions in globalization invariant mode. Try adding this to your dockerfile:

[code]

[2021-11-03 16:58] tannergooding commented on #61135
Not quite. Clang's behavior here is a bug for `S1A`/`S1B`; the behavior is correct and matches GCC for `S2*` and `S3*`

------------------------------

The layout algorithm already special cases scenarios where the computed size is `0` and forces the managed size to `1`: https://github.com/dotnet/runtime/blob/main/src/coreclr/vm/classlayoutinfo.cpp#L706-L710

We then later take into account the na

[2021-11-03 17:06] bartonjs commented on #61092
Since Mono has a tool that does it (chktrust) https://github.com/mono/mono/blob/bdd772531d379b4e78593587d15113c37edd4a64/mcs/class/Mono.Security/Mono.Security.Authenticode/AuthenticodeDeformatter.cs probably works; but I don't know how deep the rabbit-hole goes on using it.

[2021-11-03 17:12] joperezr commented on #57728
cc: @steveharter PTAL regarding the need of `uniquifier`

[2021-11-03 17:17] huoyaoyuan commented on #782
It can simply throw on any questionable name to avoid future breaking change. At least we need support for most common scenarios (well-defined ASCII).

[2021-11-03 17:22] Jozkee commented on #60417
Seems like there was a snippet after all (attached to the vs ticket):
[code]

I tried it and it is working for me, can you please verify the following:

* `watcher.Filter` is meant to match the exact name of the file, please be sure to include any file extension or append `*` at the end of your filter.
* Given that you use `watcher.IncludeSubdirectories = false` confirm that the file you are looki

[2021-11-03 17:22] safern commented on #61017
Yeah that'd be great. The infra should already support more variables, we would just need to add extra entries on the yml include/exclude paths parameter to the script.

[2021-11-03 17:30] bartonjs commented on #61138
Yep, already fixed.

[2021-11-03 17:30] #61138 closed

[2021-11-03 17:51] joperezr commented on #59900
This sounds like a great feature, thanks for the proposal. Can you confirm a list of all characters that would need to be escaped for this? Also, we would need to make sure that the RFC-compliant form works for both wldap32 and libldap (openldap) which are the native libraries that we use underneath.

[2021-11-03 17:53] tannergooding commented on #61154
It would be helpful to have a repro here. The simple codegen looks correct and I can't repro with a simple example or a loop.

`DPPS` in .NET 5 is emitted as `vdpps tgt, left, right, 0x71`. `0x71` is `0b0111_0001` where the algorithm is:
[code]

This means that `x, y, z` are counted and the non-existent `w` field is ignored. The resulting SIMD register has `x` containing the result and `y, z, w` b

[2021-11-03 17:53] hoyosjs commented on #58471
@jeff-simeon We continued looking at this and have a new theory of what's causing the deadlock. I also saw that the suggested workaround was properly applied didn't help in the way I thought it would, I'm sorry about that.

[2021-11-03 17:55] steveharter commented on #57728
Although currently `uniquifier` is not needed due to adding the `ReturnType` in the last PR (which by coincidence is unique across the 3 methods), keeping the `uniquifier`, but making it hard-coded instead (e.g. 0=Get; 1=Set; 2=Address) would still be good to make the code more clear and consistent with the other areas that use `uniquifier`. Currently since it is incremental it is broken.

[2021-11-03 17:56] scalablecory commented on #61115
This is fine -- no guarantees are made on how `SslStream` reads the underlying stream, or how it buffers. This isn't a `SslStream`-specific thing, either: we generally leave this type of thing undefined because it leaves flexibility for making performance changes in the future. It's not a bug, so it's not something viable to change in 5.0.

Stepping back, it looks like you have a desire to poll if

[2021-11-03 17:57] wfurt commented on #61115
I think it is unlikely to get any change to `net5.0` @pkindruk.  The servicing bar is pretty high so there would need to be some serious functional impact.

Even with 'net6.0' there _may_ be some internal buffering. Let imagine you get bunch of smaller TLS frames (let say 15K total) but you give small buffer to `read()`. SslStream would be happy to read everything from socket but not would stop pr

[2021-11-03 18:06] anthonycanino commented on #35305
@tannergooding I was re-reading your first comment,

and I wanted to clarify one point. These functions determine whether to emit the REX.W bit, and as part of a larger refactoring, we'll have to consider how that interplays with parts of the code that determine whether to emit the 'w' bit, but we are only talking about tracking the 'w' and 's' bits in the INS_FLAGS entry, not an additional 'REX.W

[2021-11-03 18:07] tannergooding commented on #61135
The Windows SDK and various GNU/Linux/MacOS native libraries use it fairly extensively, so I'm not really sure it matters if the language says "well defined" or "not" (not quite as much as `Length == 1`, but still frequently enough its an annoyance).

There are real type definitions in `microsoft/win32metadata` that should ideally be correctly encodable using `Length == 0` and which should be usab

[2021-11-03 18:07] JulieLeeMSFT commented on #61077
I am wondering why (-1 * -A) + A hit the code pattern for -a + b ==> b - a and a + -b => a - b.
The second A is not negation, so it must have hit -a + b, but then (-1 * -A) is GT_MUL node and not GT_NEG. So, it should not hit
`if (op1->OperIs(GT_NEG) && !op2->OperIs(GT_NEG) && !op2->IsIntegralConst() && gtCanSwapOrder(op1, op2))`
@jakobbotsch , do you know why?

[2021-11-03 18:15] tannergooding commented on #35305
Right, that was me conflating two different `w` bits in the original message. `REX.W` is different from the `w` bit actually being discussed here.

[2021-11-03 18:22] vitek-karas commented on #61173
@VSadov could you please take a look? Note that this is 3.1 - so it's probably a question how/where do we build the 3.1 servicing patches.

And we should also check that 5.0, 6.0 and 7.0 are built with the right min versions (respective to their supported OS matrix).

[2021-11-03 18:29] timmydo opened #61174 "System.Text.Json source generator doesn't work with nullable enable at the csproj level"
### Description

If you enable nullable in a csproj, it appears the source generated code does not compile.

Sample class:

[code]

### Reproduction Steps

See sample class above and source generator:

[code]

### Expected behavior

Expected compile to succeed.

### Actual behavior

[code]

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

_No response_

###

[2021-11-03 18:31] shadow-cs commented on #61162
I have a fix 😉, see above, shall I submit it?

[2021-11-03 18:31] #60936 closed

[2021-11-03 18:37] jakobbotsch commented on #61077
@JulieLeeMSFT we first turn `-1 * -A` into `--A`, and we do not get rid of the double negation before we make it to this transform. So the actual tree we see before those two transforms is
[code]

[2021-11-03 18:38] vitek-karas commented on #61120
I must admit I don't fully understand what version you're comparing against each other. That said:
* Building a net5.0 app as single-file on Windows is expected to produce an executable and several native dlls next to it (limitation of what was implemented in .NET 5). Basically all managed assemblies are part of the exe, all native libs, including the runtime are left next to it on disk.
* Buildin

[2021-11-03 18:39] buyaa-n commented on #57728
That is even better as do not need the ReturnType check anymore

[2021-11-03 18:43] JulieLeeMSFT commented on #61077
Interesting that we transform it to double negation instead of A. @AndyAyersMS, is there any reason that we do that?

[2021-11-03 18:44] sba923 opened #61175 ".NET 6.0.0-rc.2 on Raspberry Pi cannot write to writable network file"
This is a follow-up to https://github.com/dotnet/runtime/issues/53182

While testing PowerShell 7.2.0-rc.1 which is built atop .NET 6.0.0-rc.2 I was able to repro the issue described in https://github.com/PowerShell/PowerShell/issues/15339

Digging further, I was able to repro the underlying .NET issue, using @adamsitnik's code in https://github.com/dotnet/runtime/issues/53182#issuecomment-8741010

[2021-11-03 19:06] AndyAyersMS commented on #61077
I don't think it is intentional;  the ordering of things in morph is complicated / confusing.

[2021-11-03 19:20] jeff-simeon commented on #58471
All good @hoyosjs

if you have any other workarounds you can suggest we would greatly appreciate it

[2021-11-03 19:28] Const-me opened #61178 "Matrix4x4 class only works on Windows"
### Description

The .NET is cross-platform, yet functions of Matrix4x4 class which create various matrices are only compatible with Direct3D conventions about coordinate systems and clip space.

Specifically, there’re at least 4 different conventions about these things:

1. Left-handed versus right-handed coordinate system.
2. Z axis in the clip space can be clipped into [ -1 .. +1 ] like in GLES

[2021-11-03 19:36] Const-me commented on #59280
@agocke You have a native build of .NET, i.e. the runtime works on top of your Linux kernel.

When I filed the bug, I was using the snap package with the runtime. Snap works on top of an AppArmor-based sandbox.

This unnecessary intermediate abstraction layer between the runtime and the OS breaks quite a few things. This particular bug is just one of them, here’s another: https://stackoverflow.com

[2021-11-03 19:43] tannergooding commented on #61178
This isn't a Windows specific thing. There is no "correct" answer for left or right-handedness nor for the bounds or default direction of the Z-axis.

Due to back-compat, the `Matrix4x4` is matching what was done/exposed in XNA. IIRC, this is actual a "right-handed" system and differs from DirectX which is typically considered "left-handed".

The docs can certainly be updated to reflect the handed

[2021-11-03 19:47] baal2000 opened #61180 "Cancelling GetHostEntryOrAddressesCoreAsync may cause an unobserved Task Exception event"
### Description

An application records all `TaskScheduler.UnobservedTaskException` events to make sure that there are no hidden bugs and all asynchronous components' life cycles are controlled.

It are intermittently receives reports of Dns.GetHostEntryOrAddressesCore failing, similar to

[code]

The failing thread's callstack is rooted in the framework's own code, although it could be difficult

[2021-11-03 19:53] bartonjs commented on #45759
The latest I saw on this Windows claims that "it's fixed"... which I think means the platform KSP should be returning 0x20 / NCRYPT_MACHINE_KEY_FLAG now.  (And long enough ago that anyone not specifically on (e.g.) TH1-LTS should already have it)

Anyone care to verify?

[2021-11-03 20:00] iSazonov commented on #60948
@jkotas There are two examples.
1. A type catalog. The cs file is generated (by custom application for years since we get source generators only now) so I attach the result file
[CorePsTypeCatalog.zip](https://github.com/dotnet/runtime/files/7470246/CorePsTypeCatalog.zip)

2. It is more complex example. Historically Windows PowerShell loads psxml files at startup. You can find them in C:\Windows\S

[2021-11-03 20:01] gregoireternon commented on #61103
Hi @vitek-karas ,

Many thanks for your answer. I tried startup hook today, and it met my needs perfectly; it is much simpler to use than runtime store I don't get problem with dotnet commands.
I will have a look on the ways to use it conveniently regarding your remarks.

Thanks again!

[2021-11-03 20:01] gregoireternon commented on #61103
Hi @vitek-karas ,

Many thanks for your answer. I tried startup hook today, and it met my needs perfectly; it is much simpler to use than runtime store I don't get problem with dotnet commands.
I will have a look on the ways to use it conveniently regarding your remarks.

Thanks again!

[2021-11-03 20:02] gregoireternon commented on #61103
Hi @vitek-karas ,

Many thanks for your answer. I tried startup hook today, and it met my needs perfectly; it is much simpler to use than runtime store I don't get problem with dotnet commands.
I will have a look on the ways to use it conveniently regarding your remarks.

Thanks again!

[2021-11-03 20:02] #61103 closed

[2021-11-03 20:05] milkshakeuk commented on #50308
@joperezr

Why was it decided to remove support for script blocks in .net core and above?
Is there a possibility it will ever make its way back into newer versions of dotnet?
We recently (finally) ported a dotnet framework project to .net5 and the platform not support exception meant we couldn't port across to .net5 (we have a lot of xslt files which use scripts.

[2021-11-03 20:07] layomia commented on #61174
I couldn't repro this - the issue with nullable reference types was fixed in 6.0 RC2 via https://github.com/dotnet/runtime/pull/59817. What version of the generator are you using?

[2021-11-03 20:07] #61174 closed

[2021-11-03 20:13] tarekgh commented on #61148
@afvieira thanks for the report. This is a limitation we currently have in .NET. This is something we are going to look at to support in the future releases. The workaround for that is manually read the setting from MacOS and use it for your formatting.

[2021-11-03 20:48] vcsjones commented on #45759
It does seem fixed on Windows 11 (22000.194). Using my [repro above](https://github.com/dotnet/runtime/issues/45759#issuecomment-740789348), the output is now `True` + `True` instead of `False` + `False`.

[2021-11-03 20:51] NikolaMilosavljevic commented on #60807
[Triage] This is related to VSCode dev-container feature - can you move this issue or open a new one in https://github.com/microsoft/vscode-remote-release?

[2021-11-03 20:51] #60807 closed

[2021-11-03 20:55] stephentoub commented on #61180
Can you share a repro that includes GetHostXxAsync?  The repro you shared just highlights how UnobservedTaskException is supposed to behave.  If a task generated by the core library is returned to user code and then doesn't have its exception observed, it's correct that UnobservedTaskException would be raised.  What would be unexpected is if the Task returned from GetHostXxAsync properly has any e

[2021-11-03 21:05] elinor-fung opened #61181 "Remove unsupported fields from `GeneratedDllImport`"
- https://github.com/dotnet/runtime/pull/61182
- https://github.com/dotnet/runtime/pull/65164

[2021-11-03 21:06] BruceForstall commented on #59445
If we can figure out the baseline commit (in the upstream `main` branch), we could just download the JIT rolling build created baseline build. There should be no need to build it ourselves.

[2021-11-03 21:06] adityamandaleeka commented on #61060
@kasajian Is this helpful? https://github.com/davidfowl/TcpEcho

[2021-11-03 21:26] stephentoub commented on #61167
Note that this is the case even for Task.CompletedTask, e.g. this will throw an exception:
[code]
We'd debated whether to try to address that a decade ago and decided it wasn't worth trying to special-case.

[2021-11-03 21:33] joperezr commented on #50308
I am not familiar as to why we only partially added support for Scripts but didn't actually support the Transofrm side of it. Perhaps @krwq knows more here?

I think the answer here will e very dependent on what @krwq can share as of why it was removed, but if it was just an issue with not having enough bandwidth to port that, then I wouldn't see a reason why  not to add it in the future.

[2021-11-03 22:03] MhdTlb opened #61183 "Content-Disposition encoding non-ASCII characters"
### Description

I'm migrating ASP.Net 4.6.2 project to .Net Core 3.1.
In my web app, I have a requirement to download Excel file after clicking a button.
The Excel file name contains non-ascii characters.
In .Net 4.6.2 web project, the download is fine and the file preserves the name that has non-ascii characters. However, in .Net Core 3.1, the file name was converted to Unicode characters.

###

[2021-11-03 22:09] afvieira commented on #61148
Hi @tarekgh, thank you for your quick reply. Can you point me an example to read those settings from macOS?
Thanks in advance

[2021-11-03 22:10] BruceForstall commented on #59445
One way to figure out the baseline:

The pipelines work in the context of a git clone of the PR branch. With `git remote add origin https://github.com/dotnet/runtime` (this is there by default),
[code]

The "fetch" commands seem to pass some authorization options, e.g.:
[code]
do we need to do this?

[2021-11-03 22:20] BruceForstall commented on #59445
Then we need to walk back the commits to the last JIT one so we can find a commit hash to use for the JIT rolling build.

This is essentially the logic in `superpmi.py::process_base_jit_path_arg()`.

So we probably can't use "--depth=20". Maybe start with pulling down everything for 'main', and prune later if necessary.

[2021-11-03 22:23] kunalspathak commented on #59445
Right, and when I was experimenting this last time while working on https://github.com/dotnet/runtime/issues/59598, if we pull everything, it is very expensive in terms of data it pulls down. Perhaps, we will do this only in asmdiff pipeline and not anywhere else, it should be ok though.

[2021-11-03 22:24] kevingosse commented on #61167
That's fair. Since `Task.CompletedTask` can't be disposed, I assumed it would be the same for the associated handle. I guess I'll just refrain from using this version of the library with .NET 6, it's pretty old anyway 👍

[2021-11-03 22:24] #61167 closed

[2021-11-03 22:52] mikem8361 opened #61186 "VS4Mac needs a runtime API to symbolize managed IPs"
### Background and motivation

VS4Mac needs a way to symbolize managed IPs when rethrowing the NSException from Objective C++.

### API Proposal

[code]

### API Usage

[code]

### Alternative Designs

_No response_

### Risks

_No response_

[2021-11-03 22:53] baal2000 commented on #61180
@stephentoub
Makes sense, I now see that [RunAsync](https://github.com/dotnet/runtime/blob/7308c4fcc4361c0523c7060d67b5bf4f87ed40e3/src/libraries/System.Net.NameResolution/src/System/Net/Dns.cs#L677) works differently than `Task.Run` although not sure what is expected when cancellationToken becomes cancelled before the wrapped synchronous method finishes with a failure as this behavior is not docu

[2021-11-03 23:05] baal2000 commented on #61180
Another mistake: I have confused 6.0 and 5.0 framework Dns API. There is no cancellation support yet in 5.0 version of [RunAsync](https://github.com/dotnet/runtime/blob/b02e13abab3d6f499751af2ad1ae6333fb4e633d/src/libraries/System.Net.NameResolution/src/System/Net/Dns.cs#L501).

Back to square one. I am going to close the case until have figured out the necessary details.
Thanks.

[2021-11-03 23:05] #61180 closed

[2021-11-03 23:08] eerhardt commented on #61032
Thanks for the bug report, @ayende. With your above description, I was easily able to reproduce the problem myself and you were correct in your analysis. The issue is that we are sorting based on `LastAccessed` time, but that value may be updated concurrently by a different thread. This causes the Sort to fail, and since it happens in a background thread, the app crashes.

I have created a [fix](h

[2021-11-03 23:09] AaronRobinsonMSFT commented on #60639
I believe, we also need to consider the case where the type loader may reorder or pack the type if it is determined to be non-blittable. If I recall during type load the layout of the type is managed auto and not managed sequential. This means if we apply the proposed attribute to a P/Invoke argument but the type was loaded with auto the native side must adhere to how the type loader decided to la

[2021-11-03 23:14] lukeb1961 commented on #14537
PS /root> $IsFreeBSD
True
PS /root> $PSversionTable

Name                           Value
----                           -----
PSVersion                      7.2.0-preview.10
PSEdition                      Core
GitCommitId                    7.2.0-preview.10-137-g00d39fa4d5f562f3ee03df7f0d0355501eb1af4a
OS                             FreeBSD 13.0-RELEASE FreeBSD 13.0-RELEASE #0 releng/13.0-n244733

[2021-11-03 23:24] GrabYourPitchforks commented on #61183
Sending this to _System.Net.Http_ folks. The _filename_ parameter seems to be encoded as if the original filename (as a string) was converted to UTF-8, then these UTF-8 bytes were converted back to a string using Latin-1, and finally this new string was escaped using UTF-8 and url-encoded.

[2021-11-03 23:34] kg commented on #61008
@lambdageek so after messing around with this, one obstacle seems to be that handles aren't exposed to wasm code (driver.c), much like some other internals. Is there a straightforward way for me to address this - just add handle.h to a list somewhere? It seems like handle.h touches other stuff that is also internal and I don't have a good understanding of our internal/external header situation whe

[2021-11-03 23:53] RoadTrain commented on #59900
[The RFC](https://tools.ietf.org/search/rfc4515#section-3) lists 5 characters that must be escaped:

   valid UTF-8 string and provides that the octets that represent the
   ASCII characters "*" (ASCII 0x2a), "(" (ASCII 0x28), ")" (ASCII
   0x29), "\" (ASCII 0x5c), and NUL (ASCII 0x00) are represented as a
   backslash "\" (ASCII 0x5c) followed by the two hexadecimal digits
   representing the val

[2021-11-04 00:24] tonyqus commented on #59561
I agree with @jkotas. DNF is created to raise the ecosystem and community instead of making decisions for .net runtime project. Same cases happen in CNCF projects. Only PMC/maintainer are allowed to make decision for single projects.

[2021-11-04 00:51] MichalStrehovsky opened #61190 "Don't generate guarded devirtualization for abstract classes"
Stale PGO data might have information in it suggesting a class that is abstract is a likely class at some virtual callsite (because the class wasn't abstract when the PGO data was collected). Such information is obviously out of date and can be ignored because the devirtualization opportunity will never happen - abstract classes cannot be allocated.

Cc @AndyAyersMS this is tracking what we discus

[2021-11-04 01:10] AndyAyersMS commented on #61190
Thanks Michal. I have a fix I'll PR shortly.

[2021-11-04 01:37] kg opened #61192 "wasm InvokeJS return value is broken"
### Description

The transition to using a custom closure instead of eval broke the return value of InvokeJS.

### Reproduction Steps

[code]

### Expected behavior

Doesn't throw

### Actual behavior

Throws, exception message indicates there was no return value

### Regression?

Yes

### Known Workarounds

If you put 'return' in the JS expression it may work

### Configuration

_No response_

##

[2021-11-04 01:38] kg commented on #61192
cc @pavelsavara

The ideal would be for us to figure out that we need to insert a 'return' keyword somehow, but I'm not sure there's any obviously correct way to do that.

[2021-11-04 01:41] scalablecory commented on #61183
This looks like a malformed response. "%ESCAPED" is not a thing, as far as I know.

[2021-11-04 01:53] jkotas commented on #60639
Yes, it is possible today and it makes the field layout algorithm very complex. We should replace the IsBlittable checks in field layout with is IsUnmanaged` (ie does not contain object references).

It was attempted in https://github.com/dotnet/runtime/pull/51416#discussion_r620733997 , but we run out of time to stabilize that change for .NET 6. The plan is to do that in .NET 7. We should make th

[2021-11-04 02:21] jaredpar commented on #61135
One part that worries me is that the pattern here of slicing the inline array is hard to write correctly. It's very easy though to write as the example in the issue does and that creates a convenient yet large type safety hole.

[code]

This will compile just fine and it's very unsafe.  In general I think if our API reviews need `MemoryMarshal.Unsafe` in the prime examples we should pause and thin

[2021-11-04 03:22] jkotas commented on #61135
My assumption was that this is enabling feature for https://github.com/dotnet/csharplang/blob/main/proposals/low-level-struct-improvements.md#safe-fixed-size-buffers and the buffer will by typically accessed by auto-generated accessor that returns `ReadOnlySpan<T>`, except for the `Length = 0` cases discussed above where the memory is manually managed and the compiler cannot infer the actual lengt

[2021-11-04 03:34] lambdageek commented on #58783
@fanyang-mono  I think this is related to the issue we talked about.

So essentially the problem is that we need to extend `typebuilder_setup_one_field` in `sre.c` to do something with the `MonoReflectionFieldBuilder:marshal_info` field - basically convert it into some marshal specs.

Compare with what `reflection_methodbuilder_to_mono_method` does with the `MonoReflectionParamBuilder:marshal_info

[2021-11-04 03:47] brantburnett commented on #761
I have also recently encountered this issue for low-volume channels.

https://github.com/couchbase/couchbase-net-client/blob/3.2.3/src/Couchbase/Core/Diagnostics/Tracing/OrphanResponseReporting/OrphanReporter.cs#L106

I certainly understand the logic involved in not clearing the linked list of AsyncOperation when a wait is canceled, for most use cases this would go unnoticed and it would add a lot

[2021-11-04 03:56] danmoseley commented on #61175
@sba923 thanks for the report. IO folks will take a look but meantime, in case they need the info, could you get the file system type?

Looks like the code in https://github.com/dotnet/runtime/issues/53182#issuecomment-875523336 will do it.

[2021-11-04 04:15] kg commented on #61192
The new version of InvokeJS appears to also be considerably slower than the old one (~2x slower for a simple test), according to my benchmarks. While I would hope no one is relying on it to have high performance, it's worth trying to figure out whether we can accept the hit (and whether it's potentially much worse in Firefox or Safari, since I've only run these benchmarks in v8.)

[2021-11-04 04:20] jaredpar commented on #61135
I agree the primary use would be to enable that feature. I'm also trying to think of the general use case here. Essentially it's an API we're offering and what will be the implications of direct usage? Other features in that proposal, particularly offering the ability to invert our lifetime defaults, will make usage of this safe. I worry a bit though about taking this without the other though beca

[2021-11-04 04:50] scalablecory commented on #61183
I think I misunderstood this, I assume now that the %ESCAPED is some sort of json convention. Do you have the original string available?

[2021-11-04 04:55] carlossanlop commented on #58240
Yes, there are two `FileExists` checks, but the first one is for the source path, and the second one is for the destination path. Since there is no bug or potential improvement we could make, I'll go ahead and close the issue.

https://github.com/dotnet/runtime/blob/48090398ac359a8862a87682b3265cb3e2f80a9d/src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.Unix.cs#L376

https://github.c

[2021-11-04 04:59] iSazonov commented on #58240
@carlossanlop The issue is about _callsites_ - there are the check too.

[2021-11-04 05:16] noahfalk commented on #61100
@ruhoch thanks for reaching out. If you do something like this:
[code]
then you can get dotnet-trace to capture only a subset of the ILogger events. Can you help me understand if this is meets your goal, or if not how does your goal differ?

[2021-11-04 05:29] carlossanlop commented on #58240
Thanks for the clarification. I saw the PR first and noticed the internal FileExists calls were being collapsed into one.

@m0ddixx the internal FileExists calls should not get modified. But I still think the fix should be approached differently. Feel free to submit a new PR if you would still like to address this.

[2021-11-04 06:03] performanceautofiler[bot] opened #61213 "Regressions in System.Collections.CopyTo<String>"
### Run Information

Architecture | arm64
-- | --
OS | ubuntu 18.04
Baseline | [3146533f05d44a4a0e919b90fc8fad3244b7f03b](https://github.com/dotnet/runtime/commit/3146533f05d44a4a0e919b90fc8fad3244b7f03b)
Compare | [6df2b8d6dad696a82af3a70d4bc6af8b91d65607](https://github.com/dotnet/runtime/commit/6df2b8d6dad696a82af3a70d4bc6af8b91d65607)
Diff | [Diff](https://github.com/dotnet/runtime/compare/314

[2021-11-04 06:03] performanceautofiler[bot] opened #61214 "Regressions in System.Collections.CreateAddAndRemove<String>"
### Run Information

Architecture | arm64
-- | --
OS | ubuntu 18.04
Baseline | [1888959ccd47ee50370cea023a7892a831af3462](https://github.com/dotnet/runtime/commit/1888959ccd47ee50370cea023a7892a831af3462)
Compare | [7414b45bfa6dc60387838abf4d864a8690ca6c3c](https://github.com/dotnet/runtime/commit/7414b45bfa6dc60387838abf4d864a8690ca6c3c)
Diff | [Diff](https://github.com/dotnet/runtime/compare/188

[2021-11-04 07:24] ganluo960214 opened #61195 "use System.Drawing.Common.Bitmap.GetPixel got RGB data but the result is different from PS"
use System.Drawing.Common.Bitmap.GetPixel got RGB data but the result is different from photoshop.

many pixel are not the same. Especially when two colors intersect.

[code]

[code]

![image](https://user-images.githubusercontent.com/8499204/140273330-0fee3460-db70-4139-90a1-875bc58f124e.png)

[2021-11-04 07:24] mika76 commented on #60740
Running into this too with an app compiled in .net framework 4.5...

[2021-11-04 07:25] ganluo960214 commented on #61195
this is origin image

![3-2-2](https://user-images.githubusercontent.com/8499204/140273509-332260c7-f182-4171-ae72-608f1aec9843.jpg)

[2021-11-04 07:30] SimonSchwendele commented on #61053
didn't see that.
Yeah I'll try that this evening, thanks a lot :)

[2021-11-04 07:47] lateapexearlyspeed commented on #22928
Hi, I would like to learn and try this issue by [PR](https://github.com/dotnet/runtime/pull/61196). Will notify when it is ready for review, thanks.

[2021-11-04 08:06] amin1best commented on #61051
Yes, I'm worried about client. I didn't find any code sample about ServerOptionsSelectionCallback. May I ask you to provide a sample code to read SslProtocols from SslClientHelloInfo in ServerOptionsSelectionCallback.

Thanks, @wfurt

[2021-11-04 08:10] MhdTlb commented on #61183
@scalablecory I used chrome (chrome://net-export/) to capture network traffic while downloading files.
While debugging, i can see that the content-disposition header in HttpContext.Response.Headers was:
- For .Net Framework: "attachment;filename=枯渇日一覧.xlsx;"
- For .Net Core: "attachment;filename=æ\u009e¯æ¸\u0087æ\u0097¥ä¸\u0080è¦§.xlsx;"

I'm really sorry, i didn't explain issue well. So now i can

[2021-11-04 08:16] MhdTlb opened #61197 "Decode content-disposition header"
I'm writing a .Net Core(.Net Core 3.1) gateway project where i need to:

- Intercept an HTTP request from client (Browser and Mobile app).
- Make the request to ASP.NET MVC (Framework 4.6.2)
- Get the response from ASP .NET and forward it to the client

When the client downloads files with non-ASCII characters in the name, for example `こんにちは.xlsx` (Japanese characters), the gateway gets the file n

[2021-11-04 08:23] ayende commented on #61032
I'm actually using a copy of the code, so I can patch this locally. However, I would estimate that this is likely to be causing application crashes in production (and nearly impossible to reproduce ones).
My estimation is that this is a serious issue, and should be backported.

[2021-11-04 08:52] JimBobSquarePants commented on #61195
https://github.com/dotnet/runtime/blob/bfc5ebc14a1e249fce8dab095361e322ef349180/CONTRIBUTING.md#writing-a-good-bug-report

[2021-11-04 09:04] ganluo960214 commented on #61195
@JimBobSquarePants I use blank issue, I don't know it's bug or not.

[2021-11-04 09:07] ganluo960214 commented on #61195
I tired use golang do something and show me the third result. next I will try rust. this is so fxxx.

[2021-11-04 09:32] itn3000 commented on #60752
I make PR for this issue(#61199)

[2021-11-04 09:47] krwq commented on #50308
@milkshakeuk I assume you mean C# script blocks? If so it was removed solely because of security concerns - you can execute arbitrary code in such scripts. Also System.Xml should have as little dependencies as possible and this was adding really weird dependency in the project. It's better idea to manipulate the doc using i.e. XDocument directly in your code rather than C# script inside of an XSLT

[2021-11-04 09:53] milkshakeuk commented on #50308
@krwq in our case its javascript blocks.

[code]

We inherited these, I guess it makes sense from a security perspective but we haven't the time to convert all these javascript functions to use extension objects instead, so for now we have spun up another app which targets .net framework 4.8 just so we make as little changes as possible to the XSLT's.

[2021-11-04 09:56] krwq commented on #50308
I can't remember how javascript got executed in XSLT but I thinkl having javascript interpreter inside of XML is not a good idea (especially in terms of size of the library - relatively very few people use it but everyone has to pay the size price)

[2021-11-04 10:02] eiriktsarpalis commented on #22928
Cool @lateapexearlyspeed, assigning the issue to you

[2021-11-04 10:05] AdnanZafar0005 opened #61227 "Blazor Web Assembly build failed .Net 6 RC1 MONO_PATH doesn't exist or has wrong permissions"
Following is build error. I have upgraded to Visual Studio 2022 RC
[code]

[2021-11-04 10:20] vsfeedback opened #61200 "Visual Studio 2019 is crashing when trying to load a solution with System.AccessViolationException"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Visual-Studio-2019-is-crashing-when-tryi/1555393)._

---
[severity:I'm unable to use this version] [regression] [worked-in:16.9]
I've got a solution for a .NET Framework 4.6.1 desktop app that I'm now unable to load in Visual Studio 2019 after updating to the latest version. It appears t

[2021-11-04 10:21] ajcvickers commented on #61200
Possibly related to #981 or #46187.

/cc @saurabh500 @roji @lauxjpn

[2021-11-04 10:37] pavelsavara commented on #61192
Is slower speed of micro-benchmark caused by the fact that `eval()` is interpreted and function constructor is JIT ?
Anyway, I don't think people should use this in perf critical scenarios.
We have `new Function("a", "b", "return a + b");` in C# which would perform much better with re-use of the function, than `InvokeJS` which needs to parse code on each call.

I don't have any good idea how to ma

[2021-11-04 10:51] maraf commented on #61192
The previous version with `eval` supported a scenarios where state was shared between `InvokeJS` calls.

[code]

[2021-11-04 10:52] jkotas commented on #61135
FWIW, using Spans with fixed buffers has the lifetime type safety hole today. Example from this repo: https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/libraries/Common/src/Interop/Windows/Kernel32/Interop.WIN32_FIND_DATA.cs#L25-L28

I agree that we should commit to take both or neither for the release.

[2021-11-04 10:52] rlgordey commented on #60417
Please reopen this, as the problem has not changed.

To confirm, the exact file I am trying to watch: C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\Log\ERRORLOG

I have tried with `.*` extension, I still get no output. I think the Sql Directory Privilages may be blocking. But I don't get any error messages from `FileSystemWatcher` that it is unreachable. I was hoping the try catc

[2021-11-04 10:55] fitdev opened #61202 "Regression in Microsoft.Extensions.Configuration.Binder in DotNet 6 RC2"
### Description

In DotNet 6 RC1 and before, I could get my custom type:

[code]

to be properly instantiated via the constructor and bound to a property on my options class:

[code]

from appropriate section in json config:

[code]

However now it throws an exception on my end because of how `MyType` that is being instantiated by the ConfigurationBinder works. The main point though is that in RC2

[2021-11-04 11:01] karelz commented on #56369
@bompani yes, there is still a chance -- I kicked off the servicing process in PR #61203

[2021-11-04 11:02] jkotas commented on #61186
Do you mean for this to become a public API in .NET 7?

I think this should be under `System.Diagnostics` namespace somewhere.

[2021-11-04 11:10] jkotas commented on #61186
Also, why is not `System.Diagnostics.StackTrace` enough? Note that there is `StackTrace` constructor that takes `Exception`.

[2021-11-04 11:16] jkotas commented on #61186
There is an existing API `StackFrameExtensions.GetNativeIP`. So this one should be called `GetMethodInfoFromNativeIP` to make the naming consistent.

[2021-11-04 11:22] pavelsavara commented on #61192
The [original implementation](https://github.com/dotnet/runtime/pull/60928/files#diff-59bc072b78d32f6c66bd6e590eda1c5a723a3b870690d9c8ad7a980348cab0b1L140) was essentially

EM_ASM_INT
[code]

[2021-11-04 11:37] phumphreys opened #61205 "During Json Serialization of a 2d array, JsonIgnore attribute not being checked before data type support validation"
### Description

I updated my machine with .Net (6.0.100-rc.2.21505.57). While testing various parts of my Blazor WebAssembly App, I started getting a System.NotSupportedException from a WebAPI call.  An exception was being thrown trying to JsonSerialize a class with a double[,] property that had the [JsonIgnore] attribute.

### Reproduction Steps

Here is a minimal API version of an app that exhi

[2021-11-04 11:38] jkotas commented on #61181
Do we have a plan on what to do about `CharSet`, `CharSet.Ansi` in particular?

`CharSet.Ansi` makes no sense on non-Windows. I see that the [source generator requires you to explicitly specify `CharSet` when marshaling strings](https://github.com/dotnet/runtime/blob/main/docs/design/libraries/DllImportGenerator/Compatibility.md#semantic-changes-compared-to-dllimportattribute). At minimum, would i

[2021-11-04 12:01] JasonBock opened #61206 "[API Proposal]: Add `new()` for `TProxy` Parameter for `DispatchProxy.Create`"
### Background and motivation

I was playing with `DispatchProxy`, and I noticed in the documentation for [`Create`](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.dispatchproxy.create?view=net-5.0#System_Reflection_DispatchProxy_Create__2) that an `ArgumentException` is thrown if the type given in `TProxy` doesn't have a public parameterless constructor.

Couldn't this be checked w

[2021-11-04 12:05] karelz commented on #61197
Did you consider leveraging existing gateway / reverse proxy? [YARP](https://github.com/microsoft/reverse-proxy) is fairly customizable. It may save you some time to deal with problems like these.

There is section on headers encoding on client and server side: https://microsoft.github.io/reverse-proxy/articles/http-client-config.html
It seems that Kestrel enables UTF-8 characters in response head

[2021-11-04 12:08] karelz commented on #61197
Overall, it would be great to provide more information on the byte flow and identify where it does not fit your scenario.
Check out what comes on the wire from your backend. Then check out what you receive from HttpClient. Is that the same? If not, this is the right repo to go deeper into it.
The next step would be to see how to pass that byte stream to Kestrel as response header. aspnetcore repo

[2021-11-04 12:13] karelz commented on #61183
@MhdTlb this question looks like duplicate of #61197 that you filed as well. Or is there some subtle difference?

[2021-11-04 12:14] zoinkydoink commented on #53539
I read through this whole thread, still no idea when this is being added, someone mentioned it should be part of the PR for TimeSpan but i see that closed and no code done for DateOnly/TimeOnly in that PR, any insight into when we might get this support would be appreciated.

[2021-11-04 12:17] HurricanKai opened #61207 "Unrolled Vector128<T>.Count doesn't elide bounds check"
### Description
Even when only used within the unrolled context of a `Vector128<T>.Count` for loop GetElement & WithElement still incur a bounds check.

Code like this
[code]
[sharplab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABABgAJiBGAOgCUBXAOwwEt8YaBJFqVp3KzC4A3AFgAUMQDMlAEzkAwuQDek8hsqyAajDAZoVOQA4APPwwA+cgFkAFLv2GT5ltYBuegJSr1m/wBm0OR2FuSs5AC85KQi4eSm5I4GUEZmFpY0ihDMGHGsANQF

[2021-11-04 12:17] teo-tsirpanis commented on #61206
Hello, adding a new generic constraint on an existing method would have been an unacceptable breaking change.

[2021-11-04 12:18] jkotas commented on #61206
https://github.com/dotnet/runtime/blob/main/docs/coding-guidelines/breaking-changes.md

[2021-11-04 12:18] #61206 closed

[2021-11-04 12:24] MhdTlb commented on #61183
@karelz It's a duplicate

[2021-11-04 12:24] karelz commented on #61183
Duplicate of #61197

[2021-11-04 12:24] #61183 closed

[2021-11-04 12:45] eiriktsarpalis commented on #61205
I can reproduce the issue with 6.0.100-rc.2.21505.57, but not with the latest `release/6.0` bits. @layomia did we fix this recently?

[2021-11-04 12:53] SingleAccretion commented on #61207
FWIW, I see no bounds checks in the current codegen:
[code]
It is surprising to see `WithElement`s not being handled intrinsically; will chalk it up to something being wrong in my environment.

[2021-11-04 13:07] karelz commented on #46770
@wfurt can you please add few details why it was reopened? I assume you reverted the changes ...

[2021-11-04 13:09] karelz commented on #30724
@wfurt can you please add few details why it was reopened? I assume you reverted the changes ...

[2021-11-04 13:21] davidfowl commented on #61032
Yes we need to back port this one

[2021-11-04 13:25] davidfowl commented on #61169
This seems like it should be more general purpose than environment variables.

[2021-11-04 13:44] FlsZen commented on #57768
@carlossanlop I have code that was just migrated from .NET 4.8 to .NET 6 and ran into `FileSystemRights.AppendData` being not mapped to `FileAccess.Write` (audit log files that we create with `ReadData | AppendData` rights). Glad to see it will be fixed in the future. 👍

[2021-11-04 13:50] KalleOlaviNiemitalo commented on #61206
Is there already a Roslyn analyzer that can detect this mistake? Adding such an analyzer would not be a breaking change.

[2021-11-04 13:58] maxima120 opened #61210 "TimeZoneInfo.DisplayName is inconsistent between Linux and Windows"
### Description

If you map Windows TZ IDs to Linux ones and then get `DisplayName` - you get very different values. Linux values are not usable at all. See below

### Reproduction Steps

How did I test:
[code]

Now here are some Win-Linux maps
[code]

which produce unusable result in Linux (because a. - they are incorrect (Beirut and Cairo arent in Europe); b. - the values are the same):
[code]

[2021-11-04 14:11] JasonBock commented on #61206
@KalleOlaviNiemitalo as far as I can tell, there isn't an analyzer (at least not with the default .NET analyzers included) that detects this. Ironically, I was looking at [building them](https://github.com/JasonBock/Transpire/issues/12) :).

[2021-11-04 14:19] jnm2 commented on #61206
@teo-tsirpanis @jkotas Does that still apply when turning an already-existing runtime error into a compile-time error?

[2021-11-04 14:21] KalleOlaviNiemitalo commented on #61206
An application may contain a generic method that uses DispatchProxy.Create and does not have the new() constraint, but works at run time because the type arguments have parameterless constructors. Adding the constraint to DispatchProxy.Create would break the method in the app even though there was no problem at run time earlier.

[2021-11-04 14:23] jnm2 commented on #61206
That makes sense. Could this be considered for .NET 7.0 then?

[2021-11-04 14:25] KalleOlaviNiemitalo commented on #61206
DispatchProxy.Create has `[DynamicallyAccessedMembers(DynamicallyAccessedMemberTypes.PublicParameterlessConstructor)]` on the TProxy type parameter. I wonder if an analyzer that detects this flag and complains about missing constructors would raise too many false positives.

<https://github.com/dotnet/runtime/blob/4822e3c3aa77eb82b2fb33c9321f923cf11ddde6/src/libraries/System.Reflection.DispatchPro

[2021-11-04 14:27] adamsitnik commented on #61175
This is very unexpected.

In the past you have provided (https://github.com/dotnet/runtime/issues/53182#issuecomment-876198413) the File System ID: FE534D42
It's smb2 in our enum: https://github.com/dotnet/runtime/blob/4822e3c3aa77eb82b2fb33c9321f923cf11ddde6/src/libraries/Common/src/Interop/Unix/System.Native/Interop.UnixFileSystemTypes.cs#L120
It's now on the list of File Systems for which we do

[2021-11-04 14:27] KalleOlaviNiemitalo commented on #61206
Are the generic constraints validated by the runtime (thus binary breaking) or only by the compilers (source breaking)?

[2021-11-04 14:34] jnm2 commented on #61206
That makes a major version breaking change very much less palatable.

[2021-11-04 14:36] sba923 commented on #61175
No problemo. But today I'm not WFH so this'll have to wait until I'm back home.

[2021-11-04 14:39] jkotas commented on #61206
It would generate some false positives for sure. For example, it would generate false positives for `ConditionalWeakTable`.

[2021-11-04 14:43] kouvel commented on #52379
Further investigation led to finding an issue that appears to be causing the deadlock. Thanks for sharing the additional dumps, @joakimriedel. There is another issue that is a duplicate, https://github.com/dotnet/runtime/issues/58471. Since this issue is already closed, we can track this issue further with https://github.com/dotnet/runtime/issues/58471.

[2021-11-04 14:46] KalleOlaviNiemitalo commented on #61206
I see, ConditionalWeakTable has `GetOrCreateValue(TKey key)`, which uses the parameterless constructor, but that method might not be called for every _TValue_.

If GetOrCreateValue had been an extension method, then it could have had its own `where TValue : new()` constraint. 😔

[2021-11-04 14:50] danmoseley commented on #61175
Also perhaps use a debugger or procmon or other simple tool to verify which .NET is getting loaded and check the version stamp of that and/or use ilspy to verify it contains the fix for #53182

[2021-11-04 15:09] EgorBo commented on #61213
Regressed within https://github.com/dotnet/runtime/compare/d702914b944a7ad20fd9119af4e855863bbedc08...ffa122aeab898e577a444e8c10f94fab1ff9a850 range, most likely https://github.com/dotnet/runtime/pull/60747? (cc @jakobbotsch)

[2021-11-04 15:14] EgorBo commented on #61214
Regressed in https://github.com/dotnet/runtime/compare/7ac806d7332cc7769c2f3b19467686cf3162577b...7414b45bfa6dc60387838abf4d864a8690ca6c3c

[2021-11-04 15:22] joakimriedel commented on #58471
@jeff-simeon

You're not crazy, I've noticed the same pattern. Sent some new dumps and I think there's some progress being made on this issue, let's hope for a resolution soon.

[2021-11-04 15:32] SiggyBar commented on #37483
@ShadyNagy, have you looked at [Dahomey.Json](https://github.com/dahomey-technologies/Dahomey.Json)?  Maybe these efforts could be joined.

[2021-11-04 15:34] danmoseley commented on #61214
@kunalspathak just curious, do we know why this test is so bimodal -- loop alignment, memory alignment, ,?

[2021-11-04 15:34] danmoseley commented on #61214
either https://github.com/dotnet/runtime/pull/59780 or https://github.com/dotnet/runtime/pull/60505

[2021-11-04 15:50] ericstj commented on #60740
@mika76 can you try the Windows 11 update to see if it fixes your problem?  You can check the version of Windows you're using with `winver`

[2021-11-04 15:50] jakobbotsch commented on #61213
ARM64 should not be affected by that change, we never report back hints on ARM64.

[2021-11-04 15:52] jakobbotsch commented on #61213
I'll take a look and make sure.

[2021-11-04 15:52] karelz commented on #56369
@bompani will you be able to validate on private (unsigned) binaries that the fix addresses your problem?

[2021-11-04 15:56] ericstj commented on #61205
Correct, the change was only made in GA.
![image](https://user-images.githubusercontent.com/8918108/140371849-c9194110-e816-43cd-8ace-97a55af6502e.png)
https://github.com/dotnet/runtime/commit/12fb2c3a2e11596268e58f087728eed53acfced3 (note absence of 6.0-rc2)
![image](https://user-images.githubusercontent.com/8918108/140373471-e9482f18-415a-45e1-9de1-5c8f5c526c03.png)

You can get the fix if you'd

[2021-11-04 15:56] #61205 closed

[2021-11-04 16:15] danmoseley commented on #61214
relevant changes seem to be codegen.

[2021-11-04 16:20] tarekgh commented on #60752
CC @noahfalk

[2021-11-04 16:24] EgorBo commented on #61213
that was my thought as well, it might be update-dependencies (pgo update) commit, but it's not typical for pgo unless something changed in the benchmarks we collect it on so your commit was the only suspect.

[2021-11-04 16:24] mikem8361 commented on #61186
I included you on a thread that should have more background/context. This issue is a WIP and isn't fleshed out.

[2021-11-04 16:27] EgorBo commented on #61214
#59780 only touched x86/64 related files so definitely had no effect on arm64
#60505 @SingleAccretion stated there were no asmdiffs. @SingleAccretion is there a chance it could affect anyway?

[2021-11-04 16:34] wfurt commented on #30724
yes,  #58594  was reverted.

[2021-11-04 16:35] jaredpar commented on #61135
Indeed. That is somewhat mitigated because of the limitation of fixed buffers. This proposal is essentially fixing all those limitations and hence expanding the set of cases where people could fall into this safety trap. It is likely to be attractive to a number of developers.

👍

[2021-11-04 16:35] wfurt commented on #46770
yes, #58594  was reverted

[2021-11-04 16:35] SingleAccretion commented on #61214
It could, yes. I will re-check the diffs.

[2021-11-04 16:43] VSadov commented on #61135
Yes. In the prototype we just tweaked C# escape rules to assume that all ref/span returning accessors on `ValueArray<T, Size>` behave like fields. It was sufficient since there was just one special type.

With feature as proposed user user can write types like this and thus we need to provide means for annotating escape behavior.
It can be  as simple as `[FieldLike]`/`[RefReturnsThis]` attribute t

[2021-11-04 16:46] tarekgh commented on #61210
@maxima120 we have enhanced this in .NET 6.0.  I encourage you to migrate to .NET 6.0.

Here is example of the output on Ubuntu 20.04 using .NET 6.0:

[code]

Note, .NET still depends on the OS for getting the underlying time zone display name. So, you may find some differences but should be reasonable to use. I am closing this issue but feel free to reply back with any question or if you need mor

[2021-11-04 17:05] maxima120 commented on #61210
No worries. I can wait 4 days

[2021-11-04 17:09] tarekgh commented on #61166
@Wraith2 is right. Alpine images enable [Globalization Invariant Mode](https://github.com/dotnet/runtime/blob/main/docs/design/features/globalization-invariant-mode.md) which has globalization support limitation. follow @Wraith2 instructions installing ICU library and disable the globalization invariant mode, and everything should work fine.

Note, in .NET 6.0, when having Invariant mode on, you'l

[2021-11-04 17:10] #61166 closed

[2021-11-04 17:26] Anipik opened #61216 "Pin FileVersions in platform manifest for the ref packs in the servicing"
Currently when we build the ref packs, the platform manifest contains the fileversions with the buildNumber string (which will change when we build the ref pack in servicing).

This could cause problems as apps could only target against rtm tfm. We would like to pin the fileversions in the platform manifest to the 6.0.0 ref pack.

cc @ericstj @safern @jkoritzinsky

[2021-11-04 17:30] Tratcher commented on #61183
Note there's a standard for encoding non-ascii filenames in the content-disposition header called `filename*` and it's supported by ASP.NET Core and HttpClient.
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition#directives
https://docs.microsoft.com/en-us/dotnet/api/system.net.http.headers.contentdispositionheadervalue.filenamestar?view=net-5.0
https://docs.microsoft.com

[2021-11-04 17:36] ericstj commented on #61216
We need to decide the best way to freeze the data files in the ref-pack during servicing.  They need to represent the "GA" state of the product since the ref-pack represents a minimum version of the runtime for a given framework.

ASP.NET achieves this by checking in the GA version of these files.  Shown here:
https://github.com/dotnet/aspnetcore/blob/4e47fd8f759dbdeeadadf689cd4e60c614932ae3/src/F

[2021-11-04 17:44] wfurt commented on #61115
I was thinking about it more @pkindruk  and perhaps you can write simple wrapper `Stream` you hand to `SslStream` instead of `NetworkStream`. With that, the `Poll` logic could work on all versions.

Let me know if you have more concerns. Let me know if there are any other concerns.

[2021-11-04 18:09] Clockwork-Muse commented on #61210
@tarekgh - The display name gives the location, but the timezone is still wrong (as of rc2):

[code]
Yields
[code]
([fiddle](https://dotnetfiddle.net/kD8kVF))
(reproduces in devcontainer images as well)

[2021-11-04 18:11] hopperpl commented on #61195
Just a general note about images:

* Photoshop uses colorspace correction (color profiles)
* Photoshop also uses pixel averaging based on brush settings to pick up the color
* JPEG files use lossy compression; the used IDCT transform is defined with an error margin
* JPEG also uses YUV colorspace; YUV to RGB transformation is not exact and based on decoder settings can lead to additional error mar

[2021-11-04 18:26] pkindruk commented on #61115
@scalablecory I double checked everything, but code does only receive/send timeout logic in receive/send thread. It is not something you can't check from outside and really need to `Poll`. Another downside - this requires 2 dedicated threads for each connection.

@wfurt thanks for idea with stream wrapper, but those dedicated threads for each client connection were always bothering me, so I will t

[2021-11-04 18:42] wfurt commented on #61115
Make sense. I'm glad you have plan how to address it @pkindruk

[2021-11-04 18:42] #61115 closed

[2021-11-04 18:43] karelz commented on #46770
@wfurt which PR reverted it? Is it linked?

[2021-11-04 18:52] phumphreys commented on #61205
The RTM version looks good.  Thank you both for the quick response!

[2021-11-04 18:54] fanyang-mono opened #61218 "Mono build failure: Could not resolve type 'System.Threading.AutoreleasePool'"
Ran into a build failure when building mono for Android after building mono for desktop.

Repro steps:
[code]

Error message:
[code]

cc @akoeplinger

Binlog for problematic Android build
[Build.binlog.zip](https://github.com/dotnet/runtime/files/7478137/Build.binlog.zip)

[2021-11-04 19:21] hopperpl commented on #61178
Actually, I do care about this.

I'm using a lot of hacks to get the Matrix4x4 working with D3D, Vulkan, OpenGL etc. There is not only an issue with handedness, but also with row/column layout (transposition). I often have to transpose matrices before I can use them in shaders. There is no standard, there is no right/wrong layout or orientation, but it causes a lot of headaches if you counter-intu

[2021-11-04 19:32] tarekgh commented on #61210
@Clockwork-Muse

I assume you are referring to standard and daylight names. They are not wrong but not specific.  We have fixed the display name as we think it is common to use in the apps/UI. For standard and daylight names, we use whatever ICU is giving when formatting time zones https://github.com/dotnet/runtime/blob/main/src/libraries/Native/Unix/System.Globalization.Native/pal_timeZoneInfo.c#

[2021-11-04 19:45] ststeiger opened #61221 "No SerializeAsync in System.Text.Json.JsonSerializer"
### Description

I want to serialize an exception (outside of `System.Text.Json.Serialization.JsonConverter<System.Exception>`.
If you change the code below to async, there's no
`                System.Text.Json.JsonSerializer.SerializeAsync(writer, thisError.Data, options);`
instead of
`                System.Text.Json.JsonSerializer.Serialize(writer, thisError.Data, options);`

Funny thing, insi

[2021-11-04 19:51] tannergooding commented on #61178
Yes. .NET (and indeed most vector math libraries such as `glm`, `directx math`, etc) store data in `Row Major`:
[code]

Which is conceptually the same as:
[code]

----------------------

While older versions of shaders and graphics frameworks typically stored and operated on data in `Column Major` order:
[code]

In older hardware, this had some benefits in how various algorithms could be implement

[2021-11-04 19:52] Clockwork-Muse commented on #61210
**Eastern European** Time (Cairo)

.... Cairo is not in Europe.  It looks like the proper equivalent zone is [Central Africa Time](https://en.wikipedia.org/wiki/Central_Africa_Time).

My guess is that whatever is looking up these zone names is doing it based off the offset (although why it picks Europe instead of Africa is mysterious).

[2021-11-04 19:59] tarekgh commented on #61210
Thanks @Clockwork-Muse. I got it. I'll look at this.

[2021-11-04 20:01] Clockwork-Muse commented on #61210
... although it could still be an ICU issue, given wikipedia is also falling victim to this:
![image](https://user-images.githubusercontent.com/5569508/140411391-e097582d-7c3c-4892-b449-3f90a299712a.png)

[2021-11-04 20:05] tarekgh commented on #61210
Yes, I am pretty sure this is ICU issue as we don't do anything special. If we have a bug in accessing this data would show up everywhere. I am not sure there will be easier way to get more reasonable data from ICU.

[2021-11-04 20:16] sba923 commented on #61175
Will reach home later than 10pm so will probably postpone testing to the weekend, sorry for that.

[2021-11-04 20:17] tannergooding commented on #61178
Just noting the GLM docs are actually slightly confusing. The constructor indicates that its column major:
[code]

However the following code shows they store it in `M41, M42, M43`:
[code]

[2021-11-04 20:20] Clockwork-Muse commented on #61210
Although I should have looked harder at that page:

... although it's not clear from any of the references there whether Egypt specifically tied themselves to European time, or whether that's a result of wikipedia having an automated page or something.

If [this page](https://www.localeplanet.com/icu/ff/timezone.html) is to be trusted, there's a number of countries using European zones (beyond the

[2021-11-04 20:38] DamianEdwards commented on #45812
This seems to not be fixed as I'm getting the following string on the .NET 6.0 GA build:
![image](https://user-images.githubusercontent.com/249088/140416216-4801bd12-a28c-406e-b989-97bb2e4e5ee0.png)

Output of `dotnet --info`;
[code]

[2021-11-04 20:46] maxima120 commented on #61210
Thank you for the interesting information. I am satisfied with the promise of more specific names in v 6.

[2021-11-04 20:46] #61210 closed

[2021-11-04 20:51] DamianEdwards commented on #45812
Seems the `AssemblyInformationalVersion` in `System.Private.CoreLib` still has the full build info:

![image](https://user-images.githubusercontent.com/249088/140418127-f3a3a5e0-6483-4444-b1e4-93f3c5cad01c.png)

[2021-11-04 20:52] lewing commented on #61145
try
[code]

[2021-11-04 20:58] jkoritzinsky commented on #61216
I think freezing the data files makes sense. We'll need to add an option in the shared framework sdk (probably just a property to set) that would skip all of the data file generation steps. Then in dotnet/runtime, we'd add the files manually with matching MSBuild item metadata to what the shared framework sdk does.

[2021-11-04 21:03] lewing commented on #61192
The api is still private so we can definitely still discuss what the right course of action is.

[2021-11-04 21:03] JamesNK opened #61223 "[HTTP/2] Memory usage while reading from long running response streams"
gRPC supports bidirectional streaming over HTTP/2. One of the implications of streaming is an RPC call idling while reading data from the HTTP/2 response stream.

For example, a frontend server could have many bidi streams open with a backend server. The gRPC client in the frontend server is waiting to read data from them and holding onto many buffers. The client app has higher memory usage and GC

[2021-11-04 21:14] lewing commented on #60907
@yamachu I'm not sure what you are asking for exactly, there is vfs support, are you requesting a way to populate the filesystem?

[2021-11-04 21:24] #61007 closed

[2021-11-04 21:25] MichalStrehovsky commented on #61124
I don't recall these details as they happened before my involvement in the default interface method feature, but FWIW, Roslyn also thinks these are related. If you put this snippet into Visual Studio and do a rename of `App.DoInternal`, it will also rename the interface method. Also notice that `App.DoInternal` is virtual (even though you didn't make it virtual in the C# source code). This is Rosl

[2021-11-04 21:28] GrabYourPitchforks commented on #50308
Agree with @krwq - it's a security trap. But I want to say another reason the functionality got yanked is that it depends on CodeDom, which has a somewhat tenuous relationship with .NET Core and beyond and is considered a legacy component. If this functionality ever comes back as an optional package (and I wouldn't expect it to do so given its security concerns) I'd expect it to be based on Roslyn

[2021-11-04 21:29] geoffkizer commented on #61223
There are several semi-related issues we should consider addressing, all around reducing memory usage and (in some cases) avoiding long-lived pinned buffers:

(1) Zero-byte read in the HTTP2 connection receive logic. This would allow us to release the HTTP2 receive buffer back to the pool if we don't have any data to receive at the moment, and similarly for SslStream's receive buffer (SslStream._i

[2021-11-04 21:38] HurricanKai commented on #61146
Given the workaround requires changes to the native side, which isn't always possible (ie binding to standardized or otherwise externally defined APIs), I would not consider this as an enhancement, but rather a missing feature that is important to making interop in WASM fully functional.

[2021-11-04 21:41] ericstj commented on #61216
I see, so we create an item like this:
https://github.com/dotnet/arcade/blob/1672ddac621ecce7cb51354347f622a2becd9e80/src/Microsoft.DotNet.SharedFramework.Sdk/targets/sharedfx.targets#L365
And add it to `FilesToPackage` like it's done here:
https://github.com/dotnet/arcade/blob/1672ddac621ecce7cb51354347f622a2becd9e80/src/Microsoft.DotNet.SharedFramework.Sdk/targets/sharedfx.targets#L376

Then add

[2021-11-04 21:49] tapika commented on #61120
My last comment was about `TargetFramework` - my assumption is that:

If you have `<TargetFramework>net5.0</TargetFramework>` - given executable can be exported to windows 7, 10 and linux
If you have `<TargetFramework>net5.0-windows</TargetFramework>` - given executable can be exported to windows 7, 10 and but not linux
If you have `<TargetFramework>net5.0-windows10.0.19041</TargetFramework>` - gi

[2021-11-04 21:55] jkoritzinsky commented on #61216
Yes, I think that would work well.

[2021-11-04 22:12] Tratcher commented on #61197
(copied from https://github.com/dotnet/runtime/issues/61183#issuecomment-961263472)

Note there's a standard for encoding non-ascii filenames in the content-disposition header called `filename*` and it's supported by ASP.NET Core and HttpClient.
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition#directives
https://docs.microsoft.com/en-us/dotnet/api/microsoft.net.http.he

[2021-11-04 22:29] pranavkm commented on #61227
/cc @radical

[2021-11-04 22:32] scalablecory commented on #61223
A `PinnedArrayPool` would avoid the issue of long pinning. Bonus points, we can avoid `GCHandle` allocation every time we do I/O. I believe ASP.NET Core has something like this already, perhaps @JamesNK can get numbers on how much it moved the needle.

[2021-11-04 22:36] scalablecory commented on #61223
I've also been wanting to try a ref-counted receive buffer. This is a bit involved of an idea that needs massive proving out, but, it's:

- Use buffers of fixed size, like 4KB or something.
   - Keep a list of available buffers `[bufA], [bufB], [bufC]`
- The connection reads into these buffers with scattered I/O.
- We parse the frame header in the receive loop, ref count the buffer, and send the f

[2021-11-04 22:42] BruceForstall commented on #59445
Draft PR: https://github.com/dotnet/runtime/pull/61194

[2021-11-04 22:52] agocke commented on #61120
Right, the `net5.0-windowsXYZ` there means that some APIs are included that are only available on later versions of Windows. If you happen to not use any of those APIs, then your app will run fine.

In general, the guidance is that for the broadest platform support, you should specify the simplest TargetFramework (like `net5.0`), but you will have the fewest APIs available. More specific TFMs will

[2021-11-04 22:52] #61120 closed

[2021-11-04 23:10] #57728 closed

[2021-11-04 23:22] agocke opened #61231 "NativeAOT in .NET 7"
.NET 6 improvements listed here: https://github.com/dotnet/runtimelab/issues/336

We're now planning the following improvements for NativeAOT in .NET 7:

## Goals:

**Pri 0:**
- [ ] Move the NativeAOT project out of `dotnet/runtimelab` and into `dotnet/runtime`
  - [ ] Building
  - [ ] Test integration
  - [ ] Official packaging
- [ ] Ship official NativeAOT packages
- [ ] Onboard first-party dotn

[2021-11-04 23:23] radical commented on #61227
Which version of VS20222 are you using? This seems to be using a 6.0-rc1 workload. Can you try with the latest one available?

If you still get the issue, then can you try building it from the command line:
`dotnet publish -p:RunAOTCompilation=true -bl`, and attach the generated `msbuild.binlog`.

[2021-11-04 23:35] bartonjs commented on #55690
@vcsjones: Since Encodings just got folded in to the new library, AsymmetricAlgorithm and PemEncoding are in the same library now.  Since that was the catalyst for the squishification, thought I'd point that out explicitly.

[2021-11-04 23:47] bartonjs commented on #61092
The disabled test that would check for this says it's tracked by 15073... so closing this as a dupe of that.

[2021-11-04 23:47] #61092 closed

[2021-11-04 23:56] sebastienros opened #61233 "Regression in connections creation performance"
I detected a regression due to this PR https://github.com/dotnet/runtime/pull/53340 on "connection close" scenarios where we measure the speed of creating connections. It was discovered while investigating ssl handshakes performance comparisons with HttpSys. We discovered the difference was not due to the handshake itself.

On a 12 v-cores windows machines (aspnet-perf-win) it reduces RPS from 14K

[2021-11-05 00:15] tarekgh commented on #61148
@afvieira here is a hacky example you may try. I couldn't find better way for now but when we get into this issue, we should provide a better way to read it.  For now, you may try this example.
**Note, I didn't do much testing it, so make sure you test and polish it well before using it in any product.**

[code]

[2021-11-05 00:40] maloo opened #61236 "IAsyncEnumerable<T>.DisposeAsync() can't be used manually (used outside await foreach)"
### Description

When using the methods of IAsyncEnumerable<T> manually I'm not able to get the same behavior as the code generated by `await foreach`. What is needed to manually dispose an IAsyncEnumerator<T>?

### Reproduction Steps

[code]

### Expected behavior

- Calling DisposeAsync() on an IAsyncEnumerator<T> should be possible even if last task is not completed (timeout for example).
- Fin

[2021-11-05 00:47] maloo commented on #61236
The finally block is run, as long as at least one MoveNextAsync() call has made, so that is no longer an issue (since no resources have been allocated if no call has been made to MoveNextAsync()).

[2021-11-05 01:00] #59232 closed

[2021-11-05 01:01] #57373 closed

[2021-11-05 01:01] #57191 closed

[2021-11-05 01:01] #56497 closed

[2021-11-05 01:01] #55686 closed

[2021-11-05 01:01] #54464 closed

[2021-11-05 01:01] #53800 closed

[2021-11-05 01:01] #53379 closed

[2021-11-05 01:01] #53272 closed

[2021-11-05 01:01] #50847 closed

[2021-11-05 01:01] #49515 closed

[2021-11-05 01:01] #49367 closed

[2021-11-05 01:01] #49060 closed

[2021-11-05 01:01] #46462 closed

[2021-11-05 01:01] #45464 closed

[2021-11-05 01:01] #42907 closed

[2021-11-05 01:01] #40640 closed

[2021-11-05 01:01] #39674 closed

[2021-11-05 01:01] #38111 closed

[2021-11-05 01:02] #37252 closed

[2021-11-05 01:02] #35933 closed

[2021-11-05 01:02] #35084 closed

[2021-11-05 01:02] #34404 closed

[2021-11-05 01:02] #34277 closed

[2021-11-05 01:02] #33989 closed

[2021-11-05 01:02] #33803 closed

[2021-11-05 01:02] #36038 closed

[2021-11-05 01:02] #33051 closed

[2021-11-05 01:02] #33571 closed

[2021-11-05 01:02] #32536 closed

[2021-11-05 01:02] #32357 closed

[2021-11-05 01:02] #1903 closed

[2021-11-05 01:02] #1881 closed

[2021-11-05 01:02] #1780 closed

[2021-11-05 01:02] #1526 closed

[2021-11-05 01:02] #31486 closed

[2021-11-05 01:02] #31462 closed

[2021-11-05 01:02] #31456 closed

[2021-11-05 01:03] #31296 closed

[2021-11-05 01:03] #31239 closed

[2021-11-05 01:03] #31167 closed

[2021-11-05 01:03] #31064 closed

[2021-11-05 01:03] #30866 closed

[2021-11-05 01:03] #30865 closed

[2021-11-05 01:03] #30755 closed

[2021-11-05 01:03] #30545 closed

[2021-11-05 01:03] #30523 closed

[2021-11-05 01:03] #30359 closed

[2021-11-05 01:03] #30316 closed

[2021-11-05 01:03] #30135 closed

[2021-11-05 01:03] #29834 closed

[2021-11-05 01:03] #1564 closed

[2021-11-05 01:03] #29577 closed

[2021-11-05 01:03] #29482 closed

[2021-11-05 01:03] #1558 closed

[2021-11-05 01:03] #29305 closed

[2021-11-05 01:03] #29293 closed

[2021-11-05 01:04] #28977 closed

[2021-11-05 01:04] #28421 closed

[2021-11-05 01:04] #28408 closed

[2021-11-05 01:04] #1557 closed

[2021-11-05 01:04] #27950 closed

[2021-11-05 01:04] #27851 closed

[2021-11-05 01:04] #27848 closed

[2021-11-05 01:04] #27840 closed

[2021-11-05 01:04] DamianEdwards commented on #60532
Almost certainly cause of this regressing again #45812

[2021-11-05 01:04] #27837 closed

[2021-11-05 01:04] #36575 closed

[2021-11-05 01:04] #18527 closed

[2021-11-05 01:04] #4524 closed

[2021-11-05 01:04] DamianEdwards commented on #45812
FYI seems we meant to take this for GA but it slipped through the cracks https://github.com/dotnet/runtime/pull/60572#issuecomment-948889384

[2021-11-05 01:11] VincentBu opened #61237 "Test failure Interop/PInvoke/Generics/GenericsTest/GenericsTest.sh"
Run: [runtime 20211104.48](https://dev.azure.com/dnceng/public/_build/results?buildId=1454720&view=ms.vss-test-web.build-test-results-tab&runId=41847820&paneView=debug&resultId=102052)

Failed test:
[code]
**Error message:**
[code]

[2021-11-05 01:19] VincentBu opened #61238 "Test failure System.Security.Cryptography.X509Certificates.Tests.RevocationTests.DynamicRevocationTests.RevokeEndEntityWithInvalidRevocationName(pkiOptions: IssuerRevocationViaOcsp | AllEndEntityRevocation | RootAuthorityHasDesignatedOcspResponder)"
Run: [runtime-libraries-coreclr outerloop 20211104.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=1453959&view=ms.vss-test-web.build-test-results-tab&runId=41830130&resultId=104315&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-11-05 01:20] MichalStrehovsky opened #61239 "Add RequiresDynamicCodeAttribute"
### Background and motivation

.NET comes with APIs that are fundamentally unsupportable without some sort of ability to run dynamic code. We already offer ability to not enable dynamic code support in some of our existing AOT form factors (Xamarin iOS without MtouchInterpreter enabled), and we have other runtime form factors on the horizon (https://github.com/dotnet/runtime/issues/61231) without

[2021-11-05 01:29] carlossanlop commented on #57768
I found another bug in the extension method: If `FileShare.Inheritable` is passed, an `IOException` is thrown with the message `The parameter is incorrect`.

This does not happen in .NET Framework.

I found the root cause: The `FileShare.Inheritable` needs to be [saved in the `SECURITY_ATTRIBUTES` struct](https://referencesource.microsoft.com/#mscorlib/system/io/filestream.cs,1104) (we are already

[2021-11-05 01:44] yamachu commented on #60907
Thanks @lewing .
I'm sorry for the confusion.
I misunderstood that the FS that can be accessed from System.IO and from Native Dependencies (such as C library) are different.
Therefore, it seems that what I require is already there.

[2021-11-05 01:45] davidfowl commented on #61239
Very nice!

[2021-11-05 01:47] lewing commented on #60907
no problem, i'm interested in what you are trying to do and figuring out how we can help.

[2021-11-05 01:47] davidfowl commented on #61231
I think we can get really far with ASP.NET if user code isn't trimmed but framework code is

[2021-11-05 02:05] Thefrank commented on #14537
tags are early for RTM so: https://github.com/Thefrank/dotnet-freebsd-crossbuild/releases/tag/v6.0.100-rtm.21527.11
native: SOON(ish) will edit when up

[2021-11-05 02:26] agocke commented on #61231
At the moment we're sticking with user code not being trimmed by default.

As for EF, I think it strongly depends on what people use. My impression is that grpc is more important for microservice-type apps, but this really isn't my area of expertise. My hope is we can use apps like YARP to drive some of this investigation.

[2021-11-05 02:29] hez2010 commented on #61231
I used to build a demo for using EF with NativeAOT, it requires heavy manual written runtime directives but it works without any problem. However, EF can definitely annotated itself for better trimming support and get rid of the need of runtime directives.

See https://github.com/hez2010/EFCore.NativeAOT

[2021-11-05 02:39] davidfowl commented on #61231
Luckily, this is my area of expertise 🙃.

I'd like to manifest a document that describes the patterns that are AOT unfriendly. I've spent quite some time with native AOT and ASP.NET Core and it would be nice to have a doc for library authors that want to enable trimming to better understand the rules of the game

[2021-11-05 02:49] davidfowl commented on #61231
@agocke any reason to keep this a package? Why not have it be first class like the other publish experiences?

[2021-11-05 02:49] snickler commented on #61231
Awesome! Does this also have a line item for ensuring it works well in regards to modern Desktop application support? This is a huge want for those migrating from UWP and .NET Native.

[2021-11-05 03:06] agocke commented on #61231
@davidfowl Thanks for the feedback, much appreciated. So I take it EF is really common? In that case, I think it would be useful to find a representative app to flush out problems. As you know, serializers are probably are most common problem with trimming, so let's see what we can bring into scope.

We've added some documentation for this at https://docs.microsoft.com/en-us/dotnet/core/deploying/

[2021-11-05 03:08] maloo commented on #61236
https://stackoverflow.com/questions/69847252/should-iasyncenumeratort-disposeasync-throw-if-the-last-movenextasync-task

[2021-11-05 03:09] #61236 closed

[2021-11-05 03:23] ganluo960214 commented on #61195
@hopperpl thank u so much.

[2021-11-05 03:23] #61195 closed

[2021-11-05 03:31] agocke commented on #61231
@snickler No plans for GUI apps yet. There's been some success experimenting with WinForms -- it's very close to trimmable once ComWrappers is integrated. We'll just need to see how much bandwidth we have for .NET 7 and how difficult it is to make some of these things trimmable/AOT compatible.

[2021-11-05 03:41] BruceForstall commented on #59445
Processing generated .dasm files requires running jit-analyze. This means cloning and building jitutils, using the dotnet CLI. The build machine can cross-build a target-specific, self-contained jit-analyze as follows:

[code]

or replacing `osx-x64` by `win-x64`, `linux-x64`, or one of the other appropriate [RIDs](https://docs.microsoft.com/en-us/dotnet/core/rid-catalog) .

On Windows, you get `j

[2021-11-05 03:45] jkotas commented on #61231
This depends on https://github.com/microsoft/CsWinRT/issues/373

[2021-11-05 04:22] AdnanZafar0005 commented on #61227
I'm using latest version of visual studio 2022 RC and .Net 6.0-rc1

[2021-11-05 04:42] geoffkizer commented on #61233
Wow, that's a big regression. The linked PR did shuffle around some of the internal handling here, so perhaps that introduced an issue.

Since we are seeing a lot of BLOCKED time, it sounds like we have some sort of contention issue. Can you tell from the traces where the contention is occurring? I looked at the code, but don't see anything obvious here; there are a bunch of interlocked ops but no

[2021-11-05 04:46] lukemcdo commented on #61231
Is there any way this could be officially supported (or even experimental/beta status) in a UWP app container for app services? This would be a positive tool to help keep modern tools available for UWP while WinUI goes through its teething issues.

[2021-11-05 04:50] geoffkizer commented on #61228
You need to check the return value from ReceiveAsync (and all other similar Async methods). If it is false, then the operation completed synchronously and the Completed event will not be raised.

[2021-11-05 04:54] AdnanZafar0005 commented on #61227
[msbuild.zip](https://github.com/dotnet/runtime/files/7480654/msbuild.zip)

@radical . I have run that command and try to run same build error. Following I have attached msbuild.binlog file.

[2021-11-05 05:01] agocke commented on #61239
Nit: "dynamic code" is a little vague, maybe `RequiresRuntimeCodeGen`?

[2021-11-05 05:03] MichalStrehovsky commented on #61239
I chose this name as a complement to the existing [`RuntimeFeature.IsDynamicCodeSupported`](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.runtimefeature.isdynamiccodesupported?view=net-5.0) API, but I'm not strongly attached to it.

[2021-11-05 05:33] karelz commented on #49340
The needs more info was bogus. Reopening.

[2021-11-05 06:26] davidfowl commented on #61231
Will the AOT compiler support the trimming attributes without configuration OOTB, that is, will it only trim assemblies marked as trimmable by default?

[2021-11-05 06:53] hez2010 commented on #61231
That's not how NativeAOT work. The NativeAOT compiler generates code at compile-time instead of run-time, and there's no IL code in compiled artifacts so even if the compiler doesn't trim anything, you still may encounter exception due to missing code at runtime.

For example, for a generic type `Foo<T>` the compiler need to figure out what `T`s are being substituted into before it can generate co

[2021-11-05 06:54] davidfowl commented on #61228
But you should async just use async await https://github.com/davidfowl/DotNetCodingPatterns/blob/main/2.md

[2021-11-05 07:01] MichalStrehovsky commented on #61231
If we ignore nuances related to AOT and generics that @hez2010 mentions above for a moment, the trimming experience should match `PublishTrimmed` in .NET 6 - by default only assemblies marked IsTrimmable are trimmed (pretty much just the framework at this point) and further configuration is possible through MSBuild properties. That configuration will do the same things wrt trimming irrespective of

[2021-11-05 07:02] karelz commented on #21626
It has total 13 customer reports (1 was offline) -- only 2 are upvotes of the top post (1 is the original post).

Can I ask everyone who've hit it to please upvote the top post? It will help us prioritize.

Moving it to .NET 7.0 as it has rather larger impact. cc @MihaZupan

[2021-11-05 07:06] davidfowl commented on #61231
@hez2010 thsnks for the explain (I know how it works 🙃).

@MichalStrehovsky great!

[2021-11-05 07:19] milkshakeuk commented on #50308
@krwq @GrabYourPitchforks thanks for the updates.

It would be useful to know the reasons why on the [Microsoft documentation page](https://docs.microsoft.com/en-us/dotnet/standard/data/xml/script-blocks-using-msxsl-script) rather than its just not supported.

[2021-11-05 07:20] karelz commented on #61233
Given that this is non-trivial regression, we should fix it sooner in 7.0 and then consider backporting it to 6.0 based on fix risk and assessed + observed impact on customers.

[2021-11-05 07:21] 0xced opened #61243 "Microsoft.XmlSerializer.Generator does not run with the .NET 5 SDK"
### Description

When using the Microsoft.XmlSerializer.Generator NuGet package, no assembly is generated because the tool fails to run.

### Reproduction Steps

[code]

### Expected behavior

The Microsoft.XmlSerializer.Generator tool generates an optimized assembly for the XmlSerializer.

### Actual behavior

The Microsoft.XmlSerializer.Generator fails to run and produces the following errors:
[

[2021-11-05 07:32] filipnavara commented on #61231
Are there any plans to port generics sharing from ProjectN?

[2021-11-05 07:34] JinShil opened #61244 "[mono] class-setup-vtable.c:1747, condition `is_ok (error)' not met, function:mono_class_setup_vtable_general, VAR 1 (T) cannot be expanded in this context with 1 instantiations"
### Description

Using Blazor WebAssembly project.  I have a class hierarchy that seems to cause an assertion failure in the mono runtime.  I've created a solution and reduced the code as much as I can and attached it to this issue.  The project works fine in a Blazor Server (non-WebAssembly) project.

The projects were created with Visual Studio 2022 using the 6.0.100-rc.2.21505.57 SDK.

[Comfile

[2021-11-05 07:37] josteink commented on #14537
Tested and works. Nice! :smiley:

[2021-11-05 07:49] MichalStrehovsky commented on #61231
If you mean universal shared code, it's not in scope for now. We want to lean into having predictable performance characteristics as opposed to wider compatibility at the cost of unpredictable perf for now.

(Universal shared code turns the generic problem @hez2010 mentioned above into a non-issue because the compiler pregenerates a universal native method body that works for any T. This comes wit

[2021-11-05 07:59] bompani commented on #56369
Yes I'm amble to validate on private binaries.  Can I download the PR buld or have I to build it myself?

[2021-11-05 08:01] dustinmoris commented on #61231
Good to see that .NET is the programming platform for **Azure developers only**.

I mean the majority of the world runs on AWS but the AWS SDK or GCP SDK is nowhere mentioned here.

This is complete bullshit and I'm sick of being treated like some second class peasant by Microsoft if I'm not using Visual Studio + Azure:

![image](https://user-images.githubusercontent.com/4580714/140477585-ece7a952

[2021-11-05 08:06] micktion opened #61247 "Avoiding PathTooLongException"
There doesn't seem to be any reliable cross platform method for determining the maximum length of a file on the system using .NET.

Am I wrong?  Seems like such a basic need, yet I searched and it doesn't seem to be a thing.

For those wanting to avoid exceptions like ...

System.IO.PathTooLongException: The specified path, file name, or both are too long. The fully qualified file name must be les

[2021-11-05 08:23] MichalStrehovsky commented on #61231
@dustinmoris I understand where you're coming from given the past couple of weeks, but to be 100% clear on what that bullet means - we are **not going to special case Azure SDK in .NET or NativeAOT**. It came to our attention (or my attention, really because I dealt with the bug) that if someone references a lot of the Azure SDK NuGet packages combined with a bunch of other NuGet packages, the app

[2021-11-05 08:40] dustinmoris commented on #61231
@MichalStrehovsky Thanks for the clarification. From the issue it sounded like "let's focus primarily on ASP.NET Core + Azure SDK apps being super efficiently trimmed first".

Hopefully the team will test this with other SDKs as well so other issues don't go unnoticed for AWS or GCP users.

[2021-11-05 08:59] En3Tho commented on #61231
Annotating or refactoring all other possible SDKs to be AOT-friendly is not in scope of this issue tbh.

[2021-11-05 09:03] dxynnez opened #61248 "Question: when would System.IO.FileNotFoundException get thrown?"
Hi team,

We recently encountered the following exception seems to be indicating the dll cannot be found in the file system.
[code]
But normally when the dll is missing I would expect the FileNotFoundException includes message like 'Could not load file or assembly... The system cannot find the file specified.'

Can someone let me know when the FileNotFoundException would be thrown without the **'C

[2021-11-05 09:16] krwq commented on #50308
@milkshakeuk please open a ticket in dotnet/docs to edit https://github.com/dotnet/docs/blob/main/docs/standard/data/xml/script-blocks-using-msxsl-script.md

[2021-11-05 09:29] krwq commented on #61237
@AndyAyersMS is trying the fix for this: https://github.com/dotnet/runtime/pull/61229
I'm also testing his change in parallel: https://dev.azure.com/dnceng/public/_build/results?buildId=1456069&view=results against full matrix

[2021-11-05 09:31] hez2010 commented on #61231
The trimming support is done by annotating the library itself for trimming compatibility. AWS and GCP sdk authors should annotate their own libraries for better trimming support and make sure they're AOT-friendly. That's not a thing which can be done on .NET NativeAOT or ILLinker side.

[2021-11-05 10:12] karelz commented on #56369
Great!
Building it yourself is of course an option.

The PR has [build artifacts](https://dev.azure.com/dnceng/public/_build/results?buildId=1453972&view=artifacts&pathAsName=false&type=publishedArtifacts) - libraries_bin_*:
- [Windows x64 Debug](https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_apis/build/builds/1453972/artifacts?artifactName=libraries_bin_Windows_NT_x64_Debug&ap

[2021-11-05 10:39] teo-tsirpanis opened #61250 "Create Codespaces Prebuild workflow fails on forks of this repository"
My fork of this repository [is getting GitHub Actions errors](https://github.com/teo-tsirpanis/dotnet-runtime/actions/runs/1424617665) that seem to occur because prebuilding Codespaces is not generally available.

[2021-11-05 10:43] TonyValenti commented on #61247
I feel like this should live in system.environment.

But yes, I agree. Something like this is needed. I bump in the challenges with long paths all the time.￼

[2021-11-05 10:44] bompani commented on #56369
I can confirm that the PR build resolves our problem.
Thanks.

[2021-11-05 10:45] karelz commented on #56369
Thanks for validation @bompani!Which OS / architecture did you validate? Did you use the build artifacts, or your local build?

[2021-11-05 10:46] sec commented on #14537
@Thefrank I noticed you have some extra changes in patches for runtime - are those already in PR's for main or something new (ex. https://github.com/Thefrank/dotnet-freebsd-crossbuild/blob/16c9ccad8c4073af230be2e6d1894b8f2843da12/patches/patch_runtimeRTM.patch#L59) ?

[2021-11-05 10:47] mika76 commented on #60740
Thanks @ericstj, but still getting it...

![Screenshot 2021-11-05 at 11 43 22](https://user-images.githubusercontent.com/229311/140498636-5fb09596-b7b6-4d61-9aa5-815e474a543a.png)

See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text **************
System.InvalidOperationException: We do not have 18 variants giv

[2021-11-05 10:50] bompani commented on #56369
I validated my local build of branch backport/pr-56455-to-release/5.0 on Windows10/x64

[2021-11-05 10:50] Robo210 commented on #60740
The Windows fix is available in the latest Windows Insider builds, and will be available through Windows Update soon.

[2021-11-05 10:51] karelz commented on #56369
Thanks for confirmation @bompani!

[2021-11-05 11:00] srxqds opened #61253 "[MonoVM] crash when call internal call function duration `mono_runtime_delegate_invoke`"
### Description

I am ambeding the monovm.
I pass c# `Delegate` instance to the native side and use `mono_runtime_delegate_invoke` to execute the delegate.

if the delegate function have call internal call function will cause crash.

the test case code
[code]
[code]

the callstack shot:

![image](https://user-images.githubusercontent.com/5187024/140500375-9adb8394-b352-46ee-9469-5ae638e7edc5.png)

[2021-11-05 11:01] srxqds commented on #61253
@lambdageek , may you help me?

[2021-11-05 12:20] srxqds commented on #61253
use `mono_dangerous_add_raw_internal_call` work correctly.

[2021-11-05 12:21] JeWaVe commented on #61166
Great ! Thanks !

Maybe this should be somewhere in the doc though.

[2021-11-05 12:23] vitek-karas commented on #61248
You can probably use tracing to get detailed info on why the assembly load failed: https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/collect-details

There are cases where the runtime throws `FileNotFoundException` even if the file actually exists, but there are other problems with loading the assembly. It's hard to tell exactly which case it is though. The tracing above will determi

[2021-11-05 13:50] stephentoub commented on #61223
It would.  It would, however, also require more due diligence on returning arrays to the pool and on the pool keeping such arrays more aggressively (which would in turn have impact on how it's used).  Such a pool would likely be backed by the pinned object heap, and current loosy-goosy-ness around how non-aggressively we return arrays to the pool as well as how liberally the pool is able to drop t

[2021-11-05 13:53] stephentoub commented on #61250
@eerhardt, seems more people besides me have been hitting this...

[2021-11-05 14:02] #61192 closed

[2021-11-05 14:14] sam-wheat opened #61255 "OnAfterRenderAsync code not executed"
In the attached screen cap below, breakpoints inside the outer `if` statement are not loaded.
Note `firstRender` is true as shown in the watch window.
When I press F5 the next statement that executes is `await base.OnAfterRenderAsync(firstRender)`.
Since `firstRender` is true I expect the code in the `if` block to execute.
Why is it not executing?  How can I fix this or work around it?

![Capture]

[2021-11-05 14:35] SingleAccretion commented on #61214
We do not have benchmarks in our collections for `linux-arm64` it seems (it also seems we should, but that's separate), so I have replicated the test code and manually compiled it via AltJit with TC disabled, and diffing the versions with and without #60505 produced no diffs. As such, I will unassign myself for the time being, further investigation would most likely require someone with access to

[2021-11-05 14:37] EgorBo commented on #61214
@SingleAccretion thanks for confirming that!

[2021-11-05 15:03] sam-wheat commented on #61255
@javiercn Thanks for your response - I don't believe that is the case at all.  Please see my update.

[2021-11-05 15:06] #60856 closed

[2021-11-05 15:15] serefarikan commented on #61231
@hez2010 thanks a lot for the link to that repo. For others curious about how DB access may work in AOT case, Dapper AOT may also be worth keeping an eye on. https://github.com/DapperLib/DapperAOT/

[2021-11-05 15:39] roji commented on #61231
Re EF, we do intend to work on trimming friendliness for 7.0, and ideally make EF fully compatible (tracked by https://github.com/dotnet/efcore/issues/21894). I'll take a look at going beyond that and looking into NativeAOT compat as well, though no promises as of yet...

[2021-11-05 15:47] KingRikkie commented on #957
Of course, it can be done, but I struggle to see how this can be similar in performance than the actual instruction itself.

Take for example `_mm_cmpestri(a, al, b, bl, _SIDD_CMP_EQUAL_ORDERED)`. This gets the index of a part of vector **a** in vector **b** while also matching partially at the very end (in case the unmatched part of vector **a** resides at the beginning of the next vector chunk w

[2021-11-05 15:48] Suchiman commented on #61247
These limits do not just apply to operating system but also filesystem being used so you'd need something like `Path.IsPossiblePathName(path)`... or you just try to create the path or file name and catch the `PathTooLongException`, or a `Path.GetRemainingNameLength(path, out int remainingDirectoryNameLength, out int remainingFileNameLength)`...

[2021-11-05 15:58] jaredpar commented on #61135
I agree this case can be solved with that. Rather than one annotation though, I think we'd do the full set. The `[RefReturnsThis]` annotation is an expansion annotation for one specific parameter (flips a default of "can't return" to "can return"). There is also a need for the opposite (flipping a default of "can return" to "can't return"). To be fully expressive we essentially need both kinds of

[2021-11-05 15:58] #61190 closed

[2021-11-05 16:11] fanyang-mono commented on #58783
@evilzhou Has this code worked correctly for you before?

[2021-11-05 16:13] yekanchi commented on #61231
Does nativeAOT remove IL from the published output?
so the ` C# ` code will be compiled(exported)  to machine-specific code somehow like what `GO`, `C++`  compilers build?

[2021-11-05 16:22] hez2010 commented on #61231
Yes.

[2021-11-05 16:50] MihaZupan opened #61256 "HttpConnection leaks UnobservedTaskExceptions"
If the `SocketsHttpHandler` is not disposed, [`HttpConnection.Dispose`](https://github.com/dotnet/runtime/blob/852405c649c1f26124974c97199053d6d8f2adab/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs#L110) will not be called in time to [observe the exception from the `readAheadTask`](https://github.com/dotnet/runtime/blob/852405c649c1f26124974c97199053d6d8f2a

[2021-11-05 16:58] ralfbalzer opened #61316 "TypeLoadException: The generic type '<>A{00000004}`3' was used with an invalid instantiation in assembly 'kktsxund.iql, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null'."
When I upgrade Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation from 6.0.0-rc.1.21452.15  to 6.0.0-rc.2.21480.10, I am encountering the above error when I am starting the app.

It is a MVC app with Blazor server side integrated.
Any idea what could cause this? The assembly name does not make any sense to me.

I am using:
Windows 10
Rider 2021.3 EAP6
.NET 6 RC2

And here are the referenced package

[2021-11-05 17:03] wfurt commented on #61223
We may be able to eliminate `SslStream._internalBuffer` in some cases. I had PR up but it dod not made it to 6.0.
Note that the `_internalBuffer` comes from pool and returned every time when empty.

[2021-11-05 17:11] lewing commented on #61244
cc @lambdageek

[2021-11-05 17:11] Thefrank commented on #14537
@sec oh! those are rolled forward from net5. they were to workaround...something that I don't remember. They are likely safe to be removed. The eventpipe stuff is unbreak IPC issues (mostly debug builds or using dotnet/diagnostics). You can yank that too if you are not planning on using either.

[2021-11-05 17:23] geoffkizer commented on #61223
@wfurt What did you have in mind specifically?

[2021-11-05 17:39] wfurt commented on #61051
Look at https://github.com/dotnet/runtime/blob/852405c649c1f26124974c97199053d6d8f2adab/src/libraries/System.Net.Security/tests/FunctionalTests/ServerAsyncAuthenticateTest.cs#L75-L99

This test verifies `TargetHost` but the [SslProtocols](https://docs.microsoft.com/en-us/dotnet/api/system.net.security.sslclienthelloinfo?view=net-6.0) have what you looking for. (as Flag bit mask)
The test has both

[2021-11-05 17:40] wfurt commented on #61223
If user buffer is big enough we can read into it and decrypt in place.

[2021-11-05 17:48] galvesribeiro commented on #61231
@dustinmoris the tools for trimming are/will be available. Any package author can leverage it. It is not reasonable that the team has to run it across all NuGet.org packages. I believe it would be more productive if you open an issue on their SDK repos asking to play the ball and use the tools that allow trimming.

I understand that we're all upset (with real reasons to be!) with all the drama tha

[2021-11-05 17:51] dragos-dinulescu commented on #61231
Does going with NativeAOT mean that there is no CLR, or any other runtime?

[2021-11-05 17:54] tannergooding commented on #957
The actual instruction actually performs fairly poorly being a macro-op converted to a large number of micro-ops; having decently high latency, and taking up a large number of ports:
![image](https://user-images.githubusercontent.com/10487869/140553358-ea97ccb5-e78d-43ac-aceb-3cf8adbe4d51.png)

The single instruction actually represents several different "APIs" ranging from UTF-8 to UTF-16 to vari

[2021-11-05 17:57] eiriktsarpalis commented on #61221
Hi @ststeiger, the error message appears to emanate from ASP.NET Core, not System.Text.Json. In order to better understand the problem, would it be possible to provide us with a repo containing a standalone application that reproduces the problem? Please include instructions on how to reproduce as well as the expected vs. actual behavior.

[2021-11-05 18:03] uweigand commented on #60550
I don't think the installer tests do anything *special*, they just use the "normal" arcade logic for test projects, which always uses the upstream console runner.

For the library tests, in contrast, we have `src/libraries/Directory.Build.props` do:
[code]
and that file `eng/testing/tests.props` has logic that appears to be responsible for overriding arcade and doing something special.   This file

[2021-11-05 18:04] josephmoresena commented on #61231
By itself NativeAOT is a runtime but in compilation process combines it with the application.

[2021-11-05 18:05] GrabYourPitchforks commented on #45759
Given the recent OS updates, I'm tempted to resolve this issue as "external" and not try to work around it in vNext, especially since we aren't going to patch 4.8 / 3.1 / 5.0 / 6.0. I'd rather keep consistency within the frameworks than try to play whack-a-mole working around OS bugs.

Thoughts?

[2021-11-05 18:21] geoffkizer commented on #61223
We have also talked about allowing Stream users to get direct access to buffered data for Streams that have internal buffers like SslStream. This would allow the HTTP2 code to avoid allocating its own buffer in at least some cases.

See https://github.com/dotnet/runtime/issues/58216 -- "Peeking".

[2021-11-05 18:29] janvorli commented on #61104
cc: @dotnet/crossgen-contrib

[2021-11-05 18:32] baal2000 commented on #61180
@stephentoub
I am still strugging to understand  how this unobserved exception condition om Dns.GetHostEntryOrAddressesCore could happen under the FW 5 as there is no cancellation support that would potentially be able to pre-empt a late failed Task.

Looking at how the synchronous operation is wrapped into a task by RunAsync at https://github.com/dotnet/runtime/blob/b02e13abab3d6f499751af2ad1ae63

[2021-11-05 18:33] bartonjs commented on #45759
Sounds good to me

[2021-11-05 18:49] stephentoub commented on #61180
No.  The CancellationToken passed to StartNew only has any impact before the delegate is invoked.  If cancellation is requested prior to the task actually being run / the delegate invoked, then the task can transition to a Canceled state and the delegate will never be invoked.  If cancellation isn't requested until after the delegate is invoked, cancellation is a nop as far as this Task is concern