[2020-12-28 09:16] GSPP commented on #46122
This example code is misguided and should be changed. A strong warning should be added to `DataAvailable` because almost always it is not what people want.

Really? It seems that it is trying to create a "complete message" (`myCompleteMessage`) which would not work.

<hr>

I do not know what this is supposed to do:

[code]

`CanRead` is not reliable and even if it returns false this is not appropr

[2020-12-28 09:32] MichalStrehovsky commented on #46236
This issue is closed, but default interface methods are still not fully supported. I assume e.g. `Foo` will still fail to ILVerify here:

[code]

We could either reopen this, make a new issue, or just ignore the issue until someone hits it.

[2020-12-28 10:02] MichalStrehovsky opened #46424 "Consider replacing IntrinsicAttribute with SpecialNameAttribute"
We currently use `IntrinsicAttribute` to indicate that a name has a special meaning to the runtime/codegen and should be looked at. This matches what the ECMA-335 `specialname`/`rtspecialname` is for - these are dedicated bits in the IL metadata that are set for e.g. the `.ctor` method.

Roslyn respects `SpecialNameAttribute` and emits the `specialname` bit in the IL stream for it (i.e. it's a pse

[2020-12-28 10:03] janvorli commented on #45600
I have looked into it three weeks ago, but I wasn't able to figure out what's wrong right away and then got side tracked by other high priority work and Christmas holidays. It is still on my list to get to as soon as possible.

[2020-12-28 10:20] LinoBarreca opened #46425 "Modify MemberNotNullAttribute to be applied to constructors (add AttributeTargets.Constructor)"
I read the issue about the MemberNotNullAttribute (#33567 & #41438)
I don't understand why the developer is forced to write an Init() method (to which he should apply the MemberNotNullAttribute) instead of applying the MemberNotNullAttribute to the constructor itself.
If my constructor ensured the member of the class is never null why can't I apply the MemberNotNullAttribute to the contructor itse

[2020-12-28 10:23] pgrawehr opened #46426 "Marshal.SizeOf(Type) is throwing incorrectly on generic types"
### Description

`Marshal.SizeOf(typeof(somegenericstruct))` throws `ArgumentException` when T is a closed generic type. It should only throw on open generic types.

Here's the implementation

[code]

### Configuration

Seen on .NET 5.0

### Analysis
The [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.marshal.sizeof?view=net-5.0) says that `ArgumentExcept

[2020-12-28 10:28] EgorBo commented on #46424
BTW, Mono doesn't use `[Intrinsic]` (afair, for the reason you described - fetching a custom attribute is slower than running a bunch of `!strcmp(...)` especially with binary search).

Can we ask Roslyn to emit `specialname` for `[Intrinsic]` as well?

[2020-12-28 10:31] IvanG96 opened #50025 "Scoped service resolving: 'Common Language Runtime detected an invalid program.'"
### Describe the bug
Currently I have a worker service with configured IServiceProvider that listens to the queue. On each event (e.g. user request) system resolves scoped service and perform some actions using this service. After several successful operations (5 - 6) ServiceProvider throws  System.InvalidProgramException: 'Common Language Runtime detected an invalid program.'

### To Reproduce
At

[2020-12-28 10:41] MichalStrehovsky commented on #46424
Is there any advantage in doing that besides "it saves us from having to do `'s/Intrinsic/SpecialName/g'` within CoreLib sources"?

[2020-12-28 10:46] ivanpovazan commented on #46328
If that is acceptable by portable pdb standard, I am fine with it. I was just pointing out the rule which states the opposite (or I did not understand it correctly)

[2020-12-28 11:07] EgorBo commented on #46424
Not really, just not sure `[SpecialName]` name is as self-documenting as `[Intrinsic]` 🙂

[2020-12-28 13:01] #44878 closed

[2020-12-28 13:01] #43805 closed

[2020-12-28 13:01] #43013 closed

[2020-12-28 13:01] #42810 closed

[2020-12-28 13:01] #38392 closed

[2020-12-28 13:01] #41766 closed

[2020-12-28 14:23] amsoedal opened #46648 "Unix Domain Sockets - SocketException "An address incompatible with the requested protocol was used." is thrown"
# Issue Title

Unix Domain Sockets - SocketException "An address incompatible with the requested protocol was used." is thrown

# General

Hi, our product (a .NET Core 3.1 app which runs locally on the users' workstations) has been using Unix Domain Sockets without any issues for some time now.  We instantiate the socket like so:

[code]

However, one of our customers is unable to run our product

[2020-12-28 14:41] lateapexearlyspeed commented on #20619
Hi @sharwell @eiriktsarpalis I would like to pick this but want to confirm one difference compared with that [update](https://github.com/dotnet/corefx/blob/343561048c85321713c30b6e69ddd20cfac94dea/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableInterlocked.cs#L42-L46): The type of [TValue ](https://github.com/dotnet/corefx/blob/343561048c85321713c30b6e69ddd20cfac94dea/sr

[2020-12-28 15:46] jkotas commented on #46328
We should update the portable pdb doc as part of this.

[2020-12-28 15:53] jkotas commented on #46424
Property getters and setters get the special name bit by default. How would that work?

[2020-12-28 15:58] steveisok opened #46429 "Create Workload Packs for Mono AOT Compilers & AOT Compiler MSBuild Task"
The AOT compilers in Mono are host specific, so we need to create multiple workload packs for the host + target architecture combos we support.  Additionally, we should create a single workload pack for the [MonoAOTCompiler](https://github.com/dotnet/runtime/tree/master/src/tasks/AotCompilerTask) MSBuild task that can be used to trigger AOT compilation.

The names of the AOT compiler workload pack

[2020-12-28 16:00] steveisok commented on #45742
Closing in favor of https://github.com/dotnet/runtime/issues/46429

[2020-12-28 16:00] #45742 closed

[2020-12-28 16:01] steveisok commented on #45743
Closing in favor of https://github.com/dotnet/runtime/issues/46429

[2020-12-28 16:01] #45743 closed

[2020-12-28 16:10] DaveSenn opened #46430 "SmtpClient UseDefaultCredentials different behavior between netcore3.1 and net5.0"
### Description

We used the following code to send E-Mails using SmtpClient:

[code]

I know the commented line with `UseDefaultCredentials = credentials != null` is wrong.
But this somehow works with netcore3.1. After changing the target framework to net5.0 this stopped working. If we change the line to `UseDefaultCredentials = credentials == null` it works again.

I know its a bug in our code.

[2020-12-28 16:24] jkotas commented on #46236
Let's reopen this issue. @bbartels Would you be interested in taking a look?

[2020-12-28 16:25] bbartels commented on #46236
Can do, yes!

[2020-12-28 17:28] JulieLeeMSFT commented on #46384
@sandreenko PTAL.

[2020-12-28 17:54] tmat commented on #46328
Unfortunately, these kinds of sequence points are not supported by Portable PDB.

This rule is important for the delta encoding. If Start Line = End Line (ΔLine = 0) and Start Column = End Column (ΔColumn) then such value encodes a [hidden sequence point](https://github.com/dotnet/runtime/blob/master/docs/design/specs/PortablePdb-Metadata.md#hidden-sequence-point-record).

The format expects all s

[2020-12-28 18:03] kouvel commented on #46266
Should be possible to do after https://github.com/dotnet/runtime/pull/45901, then it also wouldn't need to be conditioned on whether the portable thread pool is enabled

[2020-12-28 18:07] jkotas commented on #46328
It does not help with the explicit line directives with missing column information. The length of instruction source is irrelevant for explicit line directives. C# `.line` directives have the same problem. Would it make sense to emit max column value for these?

[2020-12-28 18:31] bruno-garcia commented on #43642
I was able to collect minidumps from Windows, macOS and Linux automatically with this [NuGet package](https://github.com/getsentry/sentry-dotnet-minidump).

As the app crashes I mean, a minidump is generated and uploaded. I can see the processed minidump or download it to see it on Visual Studio.

[2020-12-28 18:31] #43642 closed

[2020-12-28 18:52] tmat commented on #46328
C# currently does not allow to specify column. It uses the start and end columns from the current source and the line to the one specified with the `.line` directive.

For some scenarios (like Razor), this is not good enough. We might need to change the language/compiler to allow specifying a column range. In any case, we wouldn't have a scenario when the column is undefined.

If we think it's wor

[2020-12-28 19:27] MichalStrehovsky commented on #46424
Hm, wonder how much noise we would get with that.

I guess then we need a `RTSpecialNameAttribute` then. We would still get a conflict with `.ctor` and `.cctor` but those checks already happen in many places anyway and those are the places that could disambiguate.

That makes all of this more involved.

[2020-12-28 20:01] rseanhall commented on #46128
There should be an opaque pointer parameter added to `hostfxr_get_dotnet_environment_info` which will get forwarded to `hostfxr_get_dotnet_environment_info_result_fn` so that the caller can use state in the callback, like the `LPVOID lpParameter` in [CreateThread](https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/nf-processthreadsapi-createthread)/[ThreadProc](https://docs.micro

[2020-12-28 20:15] robtaylor commented on #45073
I just hit this also, same configuration

[2020-12-28 20:34] RonAmihai commented on #46322
`HttpClient`, which is suggested as the modern approach, simply doesn't support URI protocols other than http...

`WebRequest` does support http, ftp and file.

(And honestly, I think the documentation should point that out in this note... Without marking `WebClient` as "deprecated" / "unnecessary")

I get that most of the URI cases are http, but I've seen many microservices use cases which should

[2020-12-28 20:51] wfurt commented on #46430
It seems like with 3.1, even if I pass in `UseDefaultCredentials = true`, printing smtpClient.UseDefaultCredentials, still shows `false`.

It seems like 3.1 had some automatic logic to determine this by comparing references.
for 5.0 it uses what ever is passed in since https://github.com/dotnet/corefx/pull/41271

[2020-12-28 21:02] wfurt commented on #46139
How come the openssl shows Debian @ToMyAF ???
[code]

Did you somehow hand-craft the OpenSSL installation?
Can you try to run it on some of the standard dotnet Docker images?
https://hub.docker.com/_/microsoft-dotnet-samples/

[2020-12-28 21:07] webJose commented on #20752
@svick Thanks for the tip.  I shall try that one out.

[2020-12-28 21:42] #42719 closed

[2020-12-28 22:23] huoyaoyuan commented on #46425
Shouldn't `MemberNotNull` on constructor just be a non-nullable member?
I remember that the nullablity verification of constructor is going go be changed to more close to MemberNotNull`.

[2020-12-28 22:30] wfurt commented on #44175
fixed by #44741

[2020-12-28 22:30] #44175 closed

[2020-12-28 23:00] teo-tsirpanis commented on #33794
Such optimization could be automatically done by the compiler for methods that accept a `ReadOnlySpan`.

[2020-12-28 23:44] ViktorHofer commented on #24074
The commit SHA got removed from the packages and its now part of the nuspec and displayed via nuget.org or NuGet Package Explorer.

[2020-12-28 23:44] #24074 closed

[2020-12-28 23:48] ViktorHofer commented on #26421
Moving as not planning to harvest anything in the future anymore.

[2020-12-28 23:48] #26421 closed

[2020-12-28 23:52] ViktorHofer commented on #30102
Not planning to harvest anything in the future anymore. Closing.

[2020-12-28 23:52] #30102 closed

[2020-12-29 00:04] ViktorHofer commented on #33226
Closing as we don't plan to continue harvesting assets.

[2020-12-29 00:04] #33226 closed

[2020-12-29 00:12] ViktorHofer commented on #41558
Stumbled upon this recently. I think we should do this as the additional `StableVersion` property in contrast to the Arcade properties is quite confusing.

[2020-12-29 01:31] wfurt commented on #43682
hello @RobSiklos, can you check this again? I put it on hold for little while and now I cannot reproduce it anymore. Either the server changed or I got updates from windows. (2004 build 20279.1)

[2020-12-29 01:33] MGBtrust commented on #41128
@Dotnet-GitSync-Bot

[2020-12-29 03:36] sdmaclea commented on #46369
The corrupt signature also affects 6 test libraries.

For these 9 libraries, cmake `install()` generates a `cmake_install.cmake` file which includes the code below.  (I don't really understand why this only affects 9 libraries).
[code]

I believe the changing the `id` of the library is corrupting the signature.  (It could be the strip command, but most of the libraries/programs have this code.  On

[2020-12-29 05:28] NMSAzulX commented on #18527
Hi! Everyone!
I've done something similar before, which requires include two tags into the csproj file,
[code]
and then using :
[code]

We use it in Web services and in some console programs. It works well, but it creates an extra refs folder, which increases the size of App, which makes me miserable. I don't know if there's a better way. This size is unacceptable to my customers, which gives me a

[2020-12-29 05:45] ToMyAF commented on #46139
- I just put the PFX file in the corresponding directory and read it directly.

- Certificate format was not converted.

Do I need to convert first?

[2020-12-29 06:01] v-haren opened #46439 "Test failure: System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_Decompression_Tests.GetAsync_SetAutomaticDecompression_ContentDecompressed_Deflate(uri: \"http://httpbin.org/deflate\", expectedContent: \"\\\"deflated\\\": true\")"
failed in job: [runtime-libraries-coreclr outerloop 20201228.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=932693&view=ms.vss-test-web.build-test-results-tab&runId=29531028&resultId=104441&paneView=debug)

net6.0-windows-Release-x64-CoreCLR_release-Windows.10.Amd64.ServerRS5.Open

Error message
[code]

[2020-12-29 06:49] assumenothing opened #46440 "API suggestion: Provide an overload of System.Numerics.BigInteger.ToString()/TryFormat() that allows precision greater than 99"
### Description

When using BigInteger.ToString(...) or BigInteger.TryFormat(...) with a format such as 'X' or 'G' using a length specifier, only up to 99 digits can be set for the total format length.

E.g., `new BigInteger(42).ToString("X100")` fails to properly generate a hexadecimal string with 100 digits, but using 99 works. It results in the following unexpected string instead: `X142`. And I

[2020-12-29 07:42] Barshan-Mandal opened #46441 "[Report Progress Of a Function]"
I want to create a wrapper that will bind a function to a progress. For example, I would call it like

ProgressBar.ReportProgressFor(MyDefinedFunction())
I want to make a function that will take an user defined function as its parameter and execute it and return the percentage of the user defined function executed in a method property

The code example should be like

var x = ProgressBar.ReportPro

[2020-12-29 07:51] Barshan-Mandal commented on #46357
Because using these api s many works related to  virtualization can be done.....these api s are example but there are many alike these

[2020-12-29 08:06] Joe4evr commented on #46424
Would it cause an actual problem if the bit is being set more than once?

[2020-12-29 08:23] MichalStrehovsky commented on #46424
The runtime/JIT needs to `strcmp` the name with a bunch of known names if the bit is set, so we don't want it to be set on too many irrelevant things. rtspecialname is specifically for situations when the name is relevant to the runtime and needs to be looked at. Searching for `IsMdRTSpecialName` in the CLR codebase finds all such places.

[2020-12-29 08:49] MichalStrehovsky commented on #46424
We have about 600 things annotated with `[Intrinsic]` in the CoreLib. With 12 bytes per custom attribute table entry + 4 bytes for the data blob, the potential size saving is about 10 kB. The runtime saving (not having to `strcmp` a bunch of attributes just to see the method/type is not interesting but check a bit instead) is harder to estimate so I'm not going to bother.

[2020-12-29 09:05] marek-safar commented on #46424
We always run illink during libraries build and we could use it to do the transformation of [Intrinsic] to `RTSpecialNameAttribute`.

It's probably less as that would mean none of the methods is trimmed but even 5k would be nice to save.

[2020-12-29 09:07] ygra commented on #46441
There are a lot of things weird with this proposal in my eyes:

1. Since this is apparently a member method of ProgressBar, this should probably belong to either Windows Forms or WPF.
2. Even then, the way you're calling it could probably only work if your method returns an instance of `IProgress<int>` or `IProgress<IConvertible>`, since you don't pass a method reference, but instead just call the

[2020-12-29 09:52] endasil opened #46951 "WebClient UploadProgressChanged broken?"
To summarize the problem, `UploadProgressChanged` is called several times, `BytesSent` goes up until it reached the file size but the file is not actually SENT during that time. The file is sent AFTER.

Tried this with sendDataAsync, sendDataTaskAsync, and UploadFileTaskAsync, with the same result. When the code comes to `client.UploadFileTaskAsync`, UploadProgressChanged will start to be called r

[2020-12-29 11:54] Ilchert opened #46445 "Unexpected CamelCase formatting in System.Text.Json"
### Description
Unexpected formatting for dictionary keys using `System.Text.Json`.

Expected value `some_3`.
Actual value `somE_3`.

[code]

### Configuration

* Which version of .NET is the code running on? NET5.0.101
* What OS and version, and what distro if applicable? Win10
* What is the architecture (x64, x86, ARM, ARM64)? x64
* Do you know whether it is specific to that configuration? No

#

[2020-12-29 11:59] jrahma opened #46446 "Count json"
Hi,

Why there is no way to count the result like this:

[code]

[2020-12-29 12:03] FiniteReality commented on #46396
Having something like this on `Vector<T>` would be hugely advantageous for me, who wants to write vectorised code but has little understanding of each SIMD instruction set and which CPUs they are available on. (For example, I discovered the hard way that Ryzen doesn't implement AVX512... D'oh :sweat_smile:)

Importantly, I'd be using this to implement audio processing algorithms in a fast and effi

[2020-12-29 12:05] huoyaoyuan commented on #46445
Are you using ASP.NET? This is a known change in ASP.NET Core 5.0.

[2020-12-29 12:07] huoyaoyuan commented on #46446
It's depends on the structure of your json. If it's a json array, you can deserialize it in `SomeData[]`, and count the array.

[2020-12-29 12:08] Itsamirmasoud opened #46448 "deserialization of empty string to nullable value fails using System.Text.Json.Serialization"
### Description

* Please share a clear and concise description of the problem.

today I came across an issue that seems to be related to System.Text.Json.Serialization. I am posting an empty string via axios to my API, the posted empty string property in JSON object is mapped to a nullable property in a C# class. as explained in [#37913](https://github.com/dotnet/runtime/issues/37913) , the deser

[2020-12-29 12:11] Ilchert commented on #46445
@huoyaoyuan yes, aspnet. Could you provide a description of this change?

[2020-12-29 12:15] huoyaoyuan commented on #46445
https://github.com/dotnet/docs/issues/21067

[2020-12-29 12:25] Ilchert commented on #46445
@huoyaoyuan, thanks for the link, but my issue about upper case of char `E` in `SOME_3 -> somE_3` transformation, not about quoted numbers.

[2020-12-29 12:33] KalleOlaviNiemitalo commented on #46424
You would not get any savings from the data blob. It is already deduplicated in each module and shared by all `[Intrinsic]` CustomAttribute rows and other attributes besides.

[2020-12-29 13:01] #31232 closed

[2020-12-29 15:05] lambdageek opened #46451 "[Mono] Implement support for CallConvSuppressGCTransition"
See #38134.  The CoreCLR implementation is in #46343

This gives the ability to declare a function pointer that can be called without a GC transition.

For example:
[code]

The call to `GetNextUintFunctionPointer` returns a pointer to some unmanaged function.  By declaring its calling convention as `[Cdecl, SuppressGCTransition]` (as opposed to `[Cdecl]`) the caller code does not need to do a mana

[2020-12-29 15:34] lambdageek commented on #46451
I'm not actually sure that mono today emits a GC transition for something like:
[code]

We need to complete https://github.com/dotnet/runtime/issues/38480 - the `calli` call for the last line in the example needs to emit a gc transition

[2020-12-29 15:35] jkotas commented on #46328
I have done some ad-hoc testing and the max end column value (0xffff) works nicely. There is no odd single character yellow highlight, the whole line is highlighted.

I think we should emit undefined end column as 0xffff in ilasm. Does it sound reasonable?

I think we would want to consider this only if emitting undefined end column as 0xffff proves to be insufficient for some reason.

I believe t

[2020-12-29 15:37] lambdageek commented on #38480
One thing I missed initially is that `calli <fsig>` instruction needs to look at `<fsig>` and emit a GC transition if its calling convention is `unmanaged`

[2020-12-29 15:52] rajeshaz09 commented on #40386
2MB json file is taking about 7 seconds to deserialize which is not acceptable. We moved to [MessagePack](https://github.com/neuecc/MessagePack-CSharp) which is taking 2 seconds.

[2020-12-29 17:00] jeffschwMSFT commented on #46441
@Barshan-Mandal if you have a specific question please provide a repro.  An issue in this repro is not the best place to ask for an implementation.  I am going to close the issue for now, but happy to reopen to answer a specific question.  Please see @ygra's reply for specifics on where to start.

[2020-12-29 17:00] #46441 closed

[2020-12-29 17:18] #46337 closed

[2020-12-29 17:35] lambdageek commented on #41569
I'm not sure this is a good idea (or at least - it's a complicated idea).  The reason is that there are more kinds of ECMA 335 PE images than just assemblies.  For example portable PDB files, or EnC delta files.  They are all currently represented as a `MonoImage`.

What is confusing is that for images that _do_ represent assemblies some of their attributes are stored in `MonoImage` fields.

Any r

[2020-12-29 17:41] Logerfo commented on #43702
@svick it adds value on legibility and succinctness and it grows with the arity:
[code]

[2020-12-29 18:09] briguyjm opened #51322 "Segmentation Fault when using dotnet 5.0 from snap"
I just installed dotnet sdk 5.0 using snap on Ubuntu 20.10. When creating a simple Hello World and running `dotnet test`, nothing happens. Running `dotnet build` builds my Hello World just fine, but `dotnet run` does nothing. Running the binary directly in the `bin/` directory results in a Segmentation Fault.

[code]

This is my Program.cs

[code]

System info:

[code]

[2020-12-29 18:22] sharwell commented on #20619
I believe you can use [`ImmutableDictionary<TKey, TValue>.ValueComparer`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.immutable.immutabledictionary-2.valuecomparer) for the comparison.

[2020-12-29 18:43] huoyaoyuan commented on #46448
This is the desired behaviour. Json does have `null`. The correspondint json should be `{"value": null}`.

Using empty string is strictly violating the schema. Such malform can be handled by a common converter (like quoted numbers), but not the basic deserializer.

[2020-12-29 18:45] huoyaoyuan commented on #46445
The camel case handler does not have well-defind behavior for all capitalized. You should use an option to not convert the name at all. It there already such option?

[2020-12-29 20:09] sandreenko opened #46456 "Fix stack arguments passing via reflection."
This is the last item from https://github.com/dotnet/runtime/issues/41130. I have extracted it into a separate issue for a cleaner discussion.

Such a method when called via reflection is getting stack arguments with wrong offsets:
`public int TestSmallStackArgsMethod(short s1, short s2, short s3, short s4, short s5, short s6, short s7, short s8, short s9, short s10, short s11, short s12)`

This m

[2020-12-29 20:09] sandreenko commented on #41130
Closing this meta, the last item is covered by https://github.com/dotnet/runtime/issues/46456

[2020-12-29 20:09] #41130 closed

[2020-12-29 20:16] lambdageek commented on #46380
There's no Mono API to analyze .NET IL like this.  In general it's not the responsibility of the runtime to try to understand what the code is doing.

[2020-12-29 20:16] #46380 closed

[2020-12-29 20:16] Thefrank commented on #14537
Updated mega link with:

5.0.102 sdk (aka 5.0.1) this includes runtime and aspnetcore both at 5.0.1. runtime still missing symbols due to changes that started in 5.x but are being worked on in main branch. aspnetcore has been an adventure. still getting NU1604 and don't know why but a workaround for it seems to make up for it.

azure-pipelines-agent with the patches from the amazing @jasonpugsley.

[2020-12-29 20:19] lambdageek commented on #46429
Is the naming general enough for our needs?
Should we also specify AOT flavor? (ie LLVM vs mini)

[2020-12-29 20:35] tmat commented on #46328
I think 0xffff is reasonable as a workaround.

[2020-12-29 21:04] jayoungers commented on #44686
We're experiencing a similar issue in an aspnetcore 5 app when using:

`services.AddMicrosoftIdentityWebApiAuthentication(Configuration, "AzureAd");` from `Microsoft.Identity.Web`

It appears one of the first things it'll do is attempt to pull down the openid details from https://login.microsoftonline.com/, which is resulting in this socket error.

Since it sounds like as of now I can not specify

[2020-12-29 21:54] mgwynnSymbrium opened #50012 "Package is not compatible with netcoreapp3.1 when using MSBuild but not VS"
### Describe the bug
When using Jenkins and MSBuild to build a .NET Core 3.1 application using Systemd 5.0.1, MSBuild errors out. Building the same application locally in Visual Studio does not have the same issue.

### To Reproduce
1. Create project using Systemd
2. Build locally in Visual Studio targeting x86 and .NET Core 3.1
3. Build on Jenkins using MSBuild with the following command:
`"C:\Pr

[2020-12-29 22:28] sbeaudoin opened #46457 "DriveInfo for a removable drive gives an UnauthorizedAccessException even if the capability is included in the manifest."
**The following as been posted on [StackOverflow ](https://stackoverflow.com/questions/65499448/uwp-driveinfo-gives-access-denied-for-removable-storage-even-if-included-in-ca) to maybe get a work around as to something who seems like a bug to me.  Here is the posted content.**

I work on an UWP application who manage removable devices.  So, I made sure to have this in the manifest.

    <Capabilit

[2020-12-30 00:18] danmosemsft opened #46459 "JIT.Methodical.eE failed on CoreCLR windows arm64 Checked no_tiered_compilation @ Windows.10.Arm64v8.Open"
https://dev.azure.com/dnceng/public/_build/results?buildId=932668&view=ms.vss-test-web.build-test-results-tab&runId=29530724&resultId=102819&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab
https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-45941-merge-2c9d9a926eac40899e/JIT.Methodical.eE/console.489f3de2.log?sv=2019-07-07&se=2021-01-17T10%3

[2020-12-30 02:13] lateapexearlyspeed commented on #20619
Hi @sharwell Thanks, but doesn't ImmutableDictionary<TKey, TValue>.ValueComparer also use "custom" comparision for both value type and ref type and current method can only just "get" to use it?
I think we should use custom cmp (type overrided Equals) for value type and default cmp (object.ReferenceEquals) for ref type here so that we will not change existing method behavior, as mentioned above.
Un

[2020-12-30 02:16] sharwell commented on #20619
I think it's safe to assume we can use reference equality for reference types. I'm not sure what the right answer is for value types. If we had a fast "same binary representation" method we could use that (essentially the same thing reference equality is doing).

[2020-12-30 02:46] lambdageek opened #46461 "Mono runtime pack should include include/ directory on desktop, too"
We include the `include/` directory with the mono embedding API headers in the mobile runtime packs, but not the Microsoft.NETCore.App.Runtime.Mono packs

https://github.com/dotnet/runtime/blob/8d7e074fe88d05a66f70e1717c1bea490cd41d2e/src/installer/pkg/sfx/Microsoft.NETCore.App/Microsoft.NETCore.App.Runtime.sfxproj#L82-L86

[2020-12-30 04:32] Mgamerz opened #46462 ".NET 5 application on Linux fails to create CoreCLR, 0x80004005"
## Description
I'm running .NET 5 on a Linux host that I don't own (it's a shared environment). I know I'm not really supposed to do this... but here we are.

I downloaded the zip for .NET 5 for Linux, extracted it, and exported the DOTNET_ROOT and PATH variables for it. I can run `./dotnet` in the folder and the dotnet program runs, printing out information. It is installed at /home/username/net5

[2020-12-30 05:11] jkotas commented on #46462
cc @janvorli

[2020-12-30 05:14] jkotas commented on #46459
See https://github.com/dotnet/runtime/pull/46449#issuecomment-752155078

Duplicate of https://github.com/dotnet/core-eng/issues/11777

[2020-12-30 05:14] #46459 closed

[2020-12-30 06:02] badcel opened #46463 "NativeLibrary documentation: Cache result of System.Runtime.InteropServices.DllImportResolver"
I found the discussion about updating the docs regarding `NativeLibrary` in https://github.com/dotnet/runtime/issues/41180#issuecomment-678568362. As i did not want to hijack the discussion I open this issue to improve the documentation on `NativeLibrary`.

@jkotas I just wanted to raise the question if it is valid to cache the `IntPtr` to an assembly in the given resolver of `SetDllImportResolver

[2020-12-30 06:34] jkotas commented on #46456
Does it have impact on GC stack walking (`TransitionFrame::PromoteCallerStack` and friends)?

[2020-12-30 06:54] jkotas commented on #46463
It is ok to cache this pointer, as long as your code does not call `NativeLibrary.Free` on it. The runtime itself does not do any lifetime management with `DllImportResolver`, it assumes that your code will keep the library loaded long enough.

Is there a good reason that you ignoring the requested `searchPath` and hardcoding `DllImportSearchPath.LegacyBehavior` behavior instead? I think the typic

[2020-12-30 08:01] lateapexearlyspeed commented on #20619
Yes, we need to consider both value type and ref type which was as my initial thought above.
For value type, not sure but maybe it is not always good to cmp by binary and using a good user-design Equals should be fast, safe and proper meaning way here.
Anyway that is why I am not sure if type.IsValueType should be used here to distinguish TValue and maybe impact perf.

[2020-12-30 08:20] sandreenko commented on #46456
Yes, it goes down to `ArgIteratorTemplate<ARGITERATOR_BASE>::GetNextOffset()` that calls `int cbArg = StackElemSize(argSize)`  that returns incorrect results. To repro that we need something like `occcupy all registers, short a, short b, Object o)` so `GetNextOffset` for `o` returns 16 instead of 8.

In the prototype, my idea was to return the correct result from `StackElemSize` by adding addition

[2020-12-30 08:35] sandreenko commented on #9810
The issue is similar to #8034 that happens with the same artificial test. The problem is in our reachability algorithm that could be quadratic (in time and memory) in the worst case because we don't use predecessors/successors lists there and iterate all blocks after each change.

If I remember correctly I had a change that was fixing the algorithm by keeping a set of changing blocks. However, it

[2020-12-30 08:37] ehsangfl commented on #46398
Yes. Sorry. but this is for dotnet debugger on dotnet 5, it is not step into exception location. the problem was on property setter

[2020-12-30 09:31] premun commented on #45181
We are building one app at a time so I can imagine we could parallelize this but I guess a question for @akoeplinger

[2020-12-30 10:27] janvorli commented on #46456
I would go with the option #2. I would make the signature of StackElemSize the same for all platforms and just ignore the argument for non-osx arm64.
Looking at your experimental change, I can see a problem in the change in `ArgIteratorTemplate<ARGITERATOR_BASE>::GetNextOffset()`. The m_idxStack handling needs to be updated. Since the stack element size is 1, the following is not correct: `int arg

[2020-12-30 10:45] TonyValenti opened #46465 "JsonSerializerOptions.PropertyNamingPolicy Ignored for ExpandoObject"
Run the code below and you'll see that ExpandoObject is incorrectly serialized to Json.

[code]

[2020-12-30 10:54] akoeplinger commented on #45181
Building the tests in parallel is one option but to get build time really down we need to pack multiple test assemblies in one or at least a few iOS app(s).

We've talked about this in the past but I'm not 100% sure how much work it'd be in the libraries tests build, we'd need to have a step that runs after the normal tests build that can take a subset of the tests and package them into an iOS app

[2020-12-30 12:30] janvorli commented on #46462
@Mgamerz is the error code printed in the `Failed to create CoreCLR, HRESULT: 0x80004005` the same for .NET 5.0?

[2020-12-30 12:52] TonyValenti opened #46466 "IEnumerable<object> Misbehaves in Debugger Watch"
Run this code:
[code]

And add a watch on ```C is IEnumerable<object>``` and ```D is IEnumerable<object>```.

```C is IEnumerable<object>``` = ```false```
```D is IEnumerable<object>``` = ```true```

![image](https://user-images.githubusercontent.com/13609558/103352338-96fc3800-4a6b-11eb-88e8-ce6af67b608c.png)

[2020-12-30 13:00] janvorli commented on #46462
I think you are right that the grsec is causing trouble here. From the strace.txt, I can see that the area that we are trying to change to Read+Write+Execute is inside libcoreclr.so and it was mapped as Read+Execute (from the strace.txt):
[code]
The mprotect address is in the range of the first mmap above.

I believe it is this called by this code:
https://github.com/dotnet/runtime/blob/8d7e074fe8

[2020-12-30 13:22] JasperRev commented on #46226
https://github.com/OmniSharp/omnisharp-vscode/issues/4315
@sdmaclea  @DavidKarlas I opened the issue over a week ago against omnisharp and it doesn't have any traction lol.  I do see others having similar issues.  Is omnisharp the best place for this issue, or is this a potential runtime issue?

[2020-12-30 14:01] JasperRev commented on #46226
Additional info from Mac console crash log:

Crashed Thread:        0  Dispatch queue: com.apple.main-thread

Exception Type:        EXC_BAD_ACCESS (SIGSEGV)
Exception Codes:       KERN_INVALID_ADDRESS at 0x00000001111f5748
Exception Note:        EXC_CORPSE_NOTIFY

Termination Signal:    Segmentation fault: 11
Termination Reason:    Namespace SIGNAL, Code 0xb
Terminating Process:   exc handler [71

[2020-12-30 14:26] lambdageek commented on #46461
/cc @steveisok

[2020-12-30 14:28] janvorli commented on #46226
@JasperRev can you please share the whole crash log as a gist? There should be stack traces of all the threads including the one that has crashed. In fact, the bits above show that the thread 0 has crashed, so the stack trace of that thread should be sufficient.

[2020-12-30 14:30] JasperRev commented on #46226
@janvorli here is the one from vsdbg-ui, I will also add from dotnet crash

Process:               dotnet [7115]
Path:                  /usr/local/share/dotnet/dotnet
Identifier:            dotnet
Version:               0
Code Type:             X86-64 (Translated)
Parent Process:        vsdbg-ui [7114]
Responsible:           Electron [6714]
User ID:               501

Date/Time:             2020-1

[2020-12-30 14:31] JasperRev commented on #46226
this is from vsdbg-ui -- sorry above is from dot net.

Process:               vsdbg-ui [7114]
Path:                  /Users/USER/*/vsdbg-ui
Identifier:            vsdbg-ui
Version:               0
Code Type:             X86-64 (Translated)
Parent Process:        Code Helper (Renderer) [6971]
Responsible:           Electron [6714]
User ID:               501

Date/Time:             2020-12-30 07:58:

[2020-12-30 14:39] janvorli commented on #46226
This is a dup of #42489, it happens on x64 macOS too. I have described the culprit in my comment over there: https://github.com/dotnet/runtime/issues/42489#issuecomment-706999308

[2020-12-30 14:47] JasperRev commented on #46226
@janvorli thanks for the info and your comments.

I am not sure where to go with this.  What I mean is, this didn't happen on my x64 Mac, but it does now on my m1 MacBook Pro (and 100% of the time in aspnetcore apps).  I can debug console apps for what it's worth.  Until this is addressed (by someone?), it really makes development on a Mac challenging to debug (without a bunch of console.writeline

[2020-12-30 14:50] janvorli commented on #46226
Actually, this crash happens when the debugger is exiting. So I guess the issue that you are seeing on the M1 is a crash in the application itself. Let me check the log of the application itself.

[2020-12-30 14:57] Cyl18 opened #46467 "Add APIs to make nint & nuint match Int32 and Int64"
## Background and Motivation

Almost all numeric types have `Parse` and `TryParse` ReadOnlySpan<char> overload, I think it's good for `nint` to have them too.
Edit: `int` also has `TryFormat` method which contains `ReadOnlySpan<char>` parameter, so I added `TryFormat`.

## Proposed API

[code]

[code]
Update 2021.1.6: Change `Parse` and `TryParse` to match Int32 and Int64's signature and add `TryF

[2020-12-30 15:14] janvorli commented on #46226
@JasperRev looking at the application crash itself, I actually think it is likely an issue that will be fixed in some upcoming macOS beta release. I remember seeing a stack trace like yours locally. I have reported two debugger issues to Apple and they have fixed one of them in 11.1 and another fix is expected to appear in a future beta release. Basically, debugging doesn't work at all without the

[2020-12-30 15:16] JasperRev commented on #46226
@janvorli thank you!  that makes sense!  appreciate it.

[2020-12-30 15:16] #46226 closed

[2020-12-30 15:38] vjpudelski opened #46468 "System.Drawing.DrawString not respecting FontStyle.Bold on Mac or Linux"
### Description

When trying to draw text on a bitmap the text appears with the same font weight regardless of using FontStyle.Bold. I have a reference to the System.Drawing.Common package and have installed the necessary dependencies. I have tested this on both linux and macOS and both present the issue while Windows appears as expected. This is also true for FontStyle.Italic.

### Sample Code

[2020-12-30 15:42] sharwell commented on #20619
If we can't use `ValueComparer`, then we also can't rely on the `TValue.Equals` method (for the same reason: it may or may not be an oracle for identical values).

The JIT should eliminate this check so it would not have a runtime impact.

[2020-12-30 15:46] gurustron opened #46469 "Same code starting wkhtmltopdf process works on netcoreapp3.1 but fails on net5.0 on Linux"
### Description

[Repro](https://github.com/gurustron/repro-process-wkhtml-net-5).

Following code starting process and reading stdout works fine in  netcoreapp3.1:

[code]
 but fails in net5.0 with:

   Exit with code 1, due to unknown error.

### Configuration

- dotnet --version: `5.0.101`
- Ubuntu 20.04.1 LTS
- wkhtmltox_0.12.6-1.bionic_amd64

### Regression?

Works in netcoreapp3.1

### Other

[2020-12-30 15:53] badcel commented on #46463
Thank you for your feedback and help. As this could result in some performance gain it would be great seeing it documented.

Regarding the `DllImportSearchPath.LegacyBehavior` we actually never had taken over the value from the delegate as there are some [examples](https://developers.redhat.com/blog/2019/09/06/interacting-with-native-libraries-in-net-core-3-0/) suggesting otherwise. I try to conta

[2020-12-30 16:03] #46369 closed

[2020-12-30 16:32] RobSiklos commented on #43682
@wfurt Just tried it again, and unfortunately I CAN still reproduce the problem.

[2020-12-30 16:45] gfoidl commented on #46425
Another usecase for this would be something like
[code]
Applying `[MemberNotNull(nameof(s_mappingTask))]` to the ctor would fix the warning.
(I know there are other ways, too).

[2020-12-30 16:47] worproject opened #46470 "Missing .NET 5 Desktop Runtime installers for ARM64"
There are no ARM64 installers for the .NET 5 Desktop Runtime on the downloads page: https://dotnet.microsoft.com/download/dotnet/5.0

Previous RC builds have links for that.

[2020-12-30 17:36] TonyValenti opened #46473 "ConcurrentBag<T> does not implement ICollection<T>"
Can you please add this interface?

[2020-12-30 17:51] Symbai commented on #46473
Can you please tell us why?

[2020-12-30 18:05] TonyValenti commented on #46473
I have a number of extension methods that I work with to simplify adding things to ```ICollection<T>```'s.  Because it doesn't implement the ICollection<T> interface, I can't use them.

[2020-12-30 18:20] d-daniel-de-sousa opened #46950 "FTP Upload Issue After Updating to .Net Core 3.1"
# Issue Title

FTP Upload Issue After Updating to  .Net Core 3.1

# General

Version: .Net Core 3.1
OS: Windows
Solution Deployed: Web App Azure
Using Swagger.
Vnet

After Updating the Net Core Version from 2.1 to 3.1 the method to upload a file just stop working after deployed on Azure Web App.

If I Deploy it with a later version (2.1) it starts to work again.

## Exception/error
Exception throw

[2020-12-30 18:59] sandreenko commented on #46456
I will fix the prototype according to @janvorli review and publish a PR after the NY.

[2020-12-30 19:28] jkotas commented on #46470
Windows Desktop components were not ready for prime time in .NET 5. See https://devblogs.microsoft.com/dotnet/announcing-net-5-0/#windows-arm64 for details.

[2020-12-30 19:28] #46470 closed

[2020-12-30 19:32] jkotas commented on #46470
You can follow https://github.com/dotnet/installer/issues/8905 for updates.

[2020-12-30 19:33] mj1856 commented on #20626
@tarekgh @eerhardt - See another case in https://github.com/mj1856/TimeZoneConverter/issues/83  I believe it's the same problem.  Thanks.

[2020-12-30 19:34] geoffkizer commented on #46122
Yeah, this example sucks.

Yeah, I've seen quite a few that are not particularly good.

I think we should file doc issues on any and all that we find that are questionable/misleading/etc, including this one.

Adding @carlossanlop for visibility.

[2020-12-30 19:45] #43901 closed

[2020-12-30 19:49] GSPP commented on #13788
This looks like something that would benefit from a proof of concept to validate the design. For example, I notice that there are no conversion operators. The types are intentionally minimal. I wonder how well this works under practical circumstances. I also wonder if this feature carries it's weight. In this issue, there was pretty minimal discussion around that. Maybe this discussion happened el

[2020-12-30 21:00] ssa3512 commented on #13788
@GSPP my understanding (and need) is that these really are only for use in cross platform private interop methods. You would never expose them in a public API - you would instead expose `int` or `long` or some other result in the public surface. This was discussed in the API review video linked [here](https://github.com/dotnet/runtime/issues/13788#issuecomment-659573076)

[2020-12-30 21:11] worproject commented on #46470
Thanks!

[2020-12-30 21:26] VSadov commented on #44442
Fixed in https://github.com/dotnet/runtime/pull/46455

[2020-12-30 21:26] #44442 closed

[2020-12-30 23:11] kaipm opened #46476 "Reflection: Inconsistent result from GetProperties in Blazor wasm and regular C#"
### Describe the bug
``System.Type.GetProperties(BindingFlags bindingAttr)`` works differently in Web Assembly than in regular C#.

Base type properties are always omitted in Web Assembly.

### To Reproduce
Here is a [Sample solution](https://github.com/kaipm/ReflectionTest) containing both a console app, and a blazor wasm app - both apps use the same reflection code to write the properties to the

[2020-12-30 23:35] mkArtakMSFT commented on #46476
@lewing FYI

[2020-12-31 00:17] AaronRobinsonMSFT commented on #13788
Correct. Exposing these to users would be rather annoying and represent a leak in the API abstraction being exposed. The primary purpose here is to help interop do the right thing when it concerns cross platform APIs that use a C/C++ `long` on the native side.

[2020-12-31 00:58] TheGeneral-dev opened #46477 "DateTime.Parse ISO 8601 allowing extra arbitrary character at the end of the date"
When parsing an ISO 8601 DateTime the parser allows 1 single extra arbitrary character

The following dates are all parsed correctly

2020-5-7T09:37:00.0000000-07:00

2020-5-7T09:37:00.0000000-07:00x

2020-5-7T09:37:00.0000000-07:00@

In summary

1. When parsing in `ParseISO8601` it grabs the correct *timezone* information `-07:00` in `ParseTimeZone`
2. This leaves the `str` with 1 last index
3. I

[2020-12-31 03:30] v-haren commented on #41249
failed again in job: https://dev.azure.com/dnceng/public/_build/results?buildId=934303&view=ms.vss-test-web.build-test-results-tab&runId=29569858&resultId=104537&paneView=debug

failed test: System.Net.Http.Functional.Tests.PlatformHandlerTest_AutoRedirect.GetAsync_AllowAutoRedirectTrue_RedirectToUriWithParams_RequestMsgUriSet(remoteServer: (BaseUri: http://corefx-net-http11.azurewebsites.net/, Ht

[2020-12-31 03:56] wsq003 opened #46478 "Threadpool need a scheduler that can handle tasks with priority"
## Background and Motivation

1. Threadpool starvation is an objective fact. When this happens, any task-context will not be scheduled.
2. Some await need to be proecessed as soon as possible, and with certainty.
3. The reason why we need task priority, is just the same why we need thread priority.
4. Threadpool need a scheduler that can handle tasks with priority.

Possible implementation:
1. Sim

[2020-12-31 04:32] 0xC0000054 opened #46479 "Reverse P/Invoke marshaling can drop the first method parameter"
### Description

The reverse P/Invoke marshaler can drop the first method parameter when working with callback methods in some native libraries.
This appears to be an edge case that only occurs when interfacing with certain methods.

I encountered this issue with the `write` callback in the `heif_writer` structure when writing a managed interface for [libheif](https://github.com/strukturag/libheif

[2020-12-31 04:40] wsq003 commented on #46478
Even farther, I would suggest a new interface ITaskScheduler that enable user-defined task scheduler.

[2020-12-31 05:15] am11 commented on #46122
While the limitation of `DataAvailable` is that it indicates whether or not more data is available right now, the limitation of `ReadAsync()` is that it reads up to max size of internal buffer. To read data indefinitely, I think the must have is `myNetworkStream.Socket.Connected` as part of loop control condition and collect chunks of data as they arrive.

[2020-12-31 05:54] Mgamerz commented on #46462
It does not appear that paxctl is installed on the system (or I cannot access the command - it just returns command not found).

[code]

I would ask the hosting provider, but they might ask a few questions they won't like the answer to. I doubt I'm supposed to be running .NET on their servers (they have resource limits, but I don't think this app would hit that resource limit as it's very quick to

[2020-12-31 06:05] Mgamerz commented on #46462
Update: I downloaded the paxctl .deb file for Ubuntu 18.04, extracted it, then uploaded the binary onto my server. I ran that command, and now the program appears to work! It seems my webhost does not have paxctl on the system (or is purposely not visible to me). I will need to test a bit more to get it all worked out and setup (right now it just throws the missing parameter messages) but it seems

[2020-12-31 07:01] #41857 closed

[2020-12-31 07:01] huoyaoyuan commented on #46473
I would say no. All the concurrent collections don't implement standard mutable collection interfaces.

You should not use concurrent collections like non-concurrent ones. If you want interface, please use `IProducerConsumerCollection<T>`.

[2020-12-31 08:03] lateapexearlyspeed commented on #20619
Just found that ImmutableDictionary.SetItem() will keep old value instance if key existed and new value instance has same value but is different instance (as [this),](https://github.com/dotnet/runtime/issues/43809#issue-729085894 said), so I think can use custom cmp for TValue here without changing behavior mentioned. Will try to raise PR later.

[2020-12-31 08:13] bklooste commented on #30083
I have lost count of how often i have heard this argument .. im ancient now and every time management or some new dev team changes the back end to Java / go or front end to  js this has ended up costing a mint . Its hard language based coupling. ( Why are you using an interface again... OO is dying it doesnt need to die but dont distribute it)

Not to mention the expensive C#  cost when the deseri

[2020-12-31 08:21] NN--- opened #46480 "JsonConstrutor different behavior between Newtonsoft.Json and System.Text.Json"
### Description

[code]

Given string:
[code]

It is deserialized fine with Newtonsoft, but not with System.Text.
The reason is that constructor parameter type is `int?` while the property has type of `int`.
Newtonsoft doesn't validate it, giving an option to do anything in the constructor.

There are possible workarounds but they are not as simple as the original code:

Make property private and

[2020-12-31 09:22] huoyaoyuan commented on #46466
Is this a bug of expression evaluator in Roslyn?

[2020-12-31 09:25] gfoidl commented on #46478
[TaskScheduler](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.taskscheduler?view=net-5.0) is a abstract class, so you already can define a custom scheduler (see example in linked page).

[2020-12-31 09:25] WeihanLi opened #46482 "GC question: Will object allocated on SOH migrate to LOH?"
I try to have a test on memory leak sample.

I had a `static ConcurrentBag` variable, and I'll add an item to the bag on every method call, and I found it was allocated in LOH,

I think it should allocated to gen-0 on SOH firstly, promoted to gen-1 and then gen-2, is there something I missed?

So I wondering that will a object allocated on SOH migrate to LOH? If yes, when'll this happen?

The code

[2020-12-31 09:29] GSPP commented on #46416
I like this a lot 😄

I vote for `Helper`.

[2020-12-31 09:36] GSPP commented on #46349
This is important as well for sequences that read from a database or from the file system.

[2020-12-31 09:41] WeihanLi opened #46483 "Is there some way that I can limit the process cpu usage?"
Sometimes we wanna have resource limit for our application

For memory limit we could use the runtime GC settings <https://docs.microsoft.com/en-us/dotnet/core/run-time-config/garbage-collector#heap-limit> to limit GC memory usage.

Is there some runtime config like this could be used for CPU limit?

[2020-12-31 09:45] janvorli commented on #46462
Thank you for checking that! That seems to means that we are missing the paxctl on our build machines.
You can run paxctl on the binary on some other machine and then copy the file to the target one. So you don't need to install it on the server in the hosting.

[2020-12-31 10:07] GSPP commented on #46478
I believe you cannot control the `TaskScheduler` that some internal BCL work runs on. For example, I think IO completions are not controllable like that. A custom scheduler would only take effect once control enters user code.

I cannot think of a good mechanism to set a priority for internal BCL work items.

Therefore, it seems that the only viable option is to avoid thread pool starvation catego

[2020-12-31 10:20] ViktorHofer opened #46484 "Libraries tests timing out on (Alpine.312.Arm32.Open)Ubuntu.1804.ArmArch.Open"
https://dev.azure.com/dnceng/public/_build/results?buildId=934800&view=logs&jobId=62876419-b96e-5483-94d3-b47175c1afe7&j=62876419-b96e-5483-94d3-b47175c1afe7&t=69034341-3a68-59aa-c247-b3e7d2608abb took longer than 2h30min and timed out. We could increase the the timeout and/or investigate the pool's health.

cc @MattGal @dotnet/runtime-infrastructure

[2020-12-31 10:29] ViktorHofer opened #46485 "Set <GeneratePackage /> on projects that should produce packages during servicing"
https://github.com/dotnet/runtime/commit/752c927cf26a3c57190d46b3635de52cc49b203e added the ability to service packages incrementally and consistently throughout the repo. We use the term "service incrementally" when we only publish packages that changed during a servicing release.

For any package that should by default be generated during servicing, the `<GeneratePackage Condition="'$(PreRelease

[2020-12-31 10:54] TonyValenti commented on #46473
Why not though?  it seems to me that any Generic Collection should be a ... Generic ICollection.  I would expect implementing the interface to be an extremely small amount of work that would bring the Concurrent generic collections parity with their non-concurrent counterparts.

Plus - they already implement ICollection.

[2020-12-31 11:03] huoyaoyuan commented on #46473
This looks to be very **intentional**. Non-generic `ICollection` doesn't provide `Add` and `Remove`.

After peeking it's API interface, it cannot implement `ICollection<T>` at all, because there's no `Remove(T item)` method.

[2020-12-31 11:06] TonyValenti commented on #46473
Isn't that essentially what the ```TryTake``` method is?

[2020-12-31 11:09] oldzhu commented on #33727
for the illegal arm instruction ldm I reported at   https://github.com/dotnet/runtime/issues/33344. I found a way to reproduce it and actually the illegal ldm instruction is not generated when "jit" but it is generated when compile for "r2r". The following is the detail steps:

1. Create a new classlib project named as testlib and copy the below content to Class1.cs

using System;

namespace testl

[2020-12-31 11:15] kevingosse commented on #46478
As a matter of fact, this is not limited to the BCL because of the generalized usage of `.ConfigureAwait(false)`. This has rendered TaskScheduler practically useless in most scenarios.

[2020-12-31 11:18] sipsorcery opened #46486 "System.Text.Json cannot serialise EF Core Model with foreign key constraint"
### Description

The model generated by EF Core for a 2 table database with a foreign key constraint cannot be serialised by `System.Text.Json`. The exception thrown is:

`System.Text.Json.JsonException: A possible object cycle was detected. This can either be due to a cycle or if the object depth is larger than the maximum allowed depth of 32. Consider using ReferenceHandler.Preserve on JsonSeria

[2020-12-31 11:22] huoyaoyuan commented on #46473
No. Look at there signatures.

Generally, only `ConcurrentDictionary<T>` supports the operation of *finding certain element*. It's necessary for `Contains` and `Remove`.

[2020-12-31 11:43] huoyaoyuan commented on #46473
Additional words for you:

Concurrent collections are different from non-concurrent ones under a lock. They drop other operations to speed up certain operations under different threads.

`Add` is the operation that's not dropped. But, adding/removing interface is still a too heavy change. The interfaces are also "heavy" because it requires more operations.

The future approach should be roles/shap

[2020-12-31 11:46] TourajOstovari commented on #45795
we want have Circular binary shift on .Net 5

[2020-12-31 12:10] ValerCheck opened #46487 "AppDomain.GetLoadedAssemblies() returns an array of all assemblies loaded in different AssemblyLoadContexts"
In plugin-based architecture it can come to lazy load of some UI elements with the help of dotnet/wpf which brings us to [SafeSecurityHelper.cs](https://github.com/dotnet/wpf/blob/d49f8ddb889b5717437d03caa04d7c56819c16aa/src/Microsoft.DotNet.Wpf/src/Shared/MS/Internal/SafeSecurityHelper.cs) (which is also in dotnet/wpf) which in turn uses AppDomain.GetLoadedAssemblies() and looks for required depe

[2020-12-31 13:43] fcorbeil commented on #44503
This issue prevents me from doing the following updates :

Microsoft.Extensions.Logging.3.1.10 -> Microsoft.Extensions.Logging.5.0.0
Microsoft.ApplicationInsights.Web.2.15.0 -> Microsoft.ApplicationInsights.Web.2.16.0
Microsoft.ApplicationInsights.WindowsServer.2.15.0 -> Microsoft.ApplicationInsights.WindowsServer.2.16.0
Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.15.0 -> Micros

[2020-12-31 14:04] fcorbeil commented on #44503
I generated the dump and sent it using the "Reconsider" button at https://developercommunity2.visualstudio.com/t/Upgrading-to-SystemDiagnosticsDiagnost/1270524?port=1025&fsid=248584ff-4927-4143-a95c-37d3cd710d93&entry=myfeedback.

![image](https://user-images.githubusercontent.com/13508843/103413217-98e6f980-4b46-11eb-8b4c-52772c4486ce.png)

[2020-12-31 14:36] davidfowl commented on #46486
I'm not sure that's a work around, that's by design.

[2020-12-31 14:49] fcorbeil commented on #44503
Just let you know I have created a new Visual Studio feedback item : https://developercommunity2.visualstudio.com/t/SystemDiagnosticsTraceInternalListen/1299563?entry=myfeedback

Note 1 : I did this because sending a "Reconsider" feedback was done in less than a second with about 1.5GB of dump!?
Note 2 : Sending a new Visual Studio feedback item also took less than a second, I doubt it worked...

[2020-12-31 14:51] sipsorcery commented on #46486
If it is by design my guess is I'm not the only developer who will encounter the problem and need to go through the same troubleshooting steps.

Maybe even a tip on the [documentation](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-5.0&tabs=visual-studio#register-the-database-context) would reduce the friction. Although ideally this simple scenario would work

[2020-12-31 15:59] ANahr commented on #46482
Most collection types use some kinds of array internally. And as soon as you have put enough elements into it it will have to reallocate a larger array.
Large arrays are always directly allocated in LOH.

[2020-12-31 16:12] jkotas commented on #46487
This is duplicate of https://github.com/dotnet/wpf/issues/1700 . This issue needs to be fixed in WPF.

It is the intentional behavior. `AppDomain.GetLoadedAssemblies` in .NET Framework returned array of all assemblies loaded in different load contexts as well.

[2020-12-31 16:12] #46487 closed

[2020-12-31 16:29] WeihanLi commented on #46482
Got it, thanks @ANahr , happy new year.

[2020-12-31 16:29] #46482 closed

[2020-12-31 16:31] huoyaoyuan commented on #46486
It's documented in EF documentation:
https://docs.microsoft.com/en-us/ef/core/querying/related-data/serialization

[2020-12-31 16:36] huoyaoyuan commented on #46483
You can set a memory limit for CLR because memory is "scheduled" by CLR (GC allocator).
For CPU usage, it could only be an OS feature, because CPU is scheduled by the OS. CLR effectively takes all CPU resource from OS.

[2020-12-31 17:00] Clockwork-Muse commented on #46480
Um, if you throw an exception like that, why not just make the constructor take a non-nullable?

[2020-12-31 17:31] danmosemsft commented on #46416
Following history would require --follow. Unfortunately GitHub doesn't do that for log or blame IIRC.
We do have plenty of precedent for renames just pointing that out.

[2020-12-31 17:39] mangod9 commented on #46483
If its possible to host your app within a container, you could use core based restrictions to limit cpu usage per container.

[2020-12-31 17:39] sipsorcery commented on #46486
Ok, seems like it's "one of those things" that each developer will have to discover for themselves. Hopefully the presence of this issue will make the search a little quicker.

[2020-12-31 17:39] #46486 closed

[2020-12-31 18:29] EatonZ opened #46489 "Allow setting buffer size of FileStream outside constructor"
## Background and Motivation

When initializing a new `FileStream`, you have the option of specifying a buffer size only when initializing it (`bufferSize`). This is fine for the majority of cases, but I have a unique use-case that has required me to add a hacky workaround, and I would like to propose a better solution.

My use-case is a class inheriting from `FileStream` called `DiskStream`. Its

[2020-12-31 19:05] NN--- commented on #46480
It is a general question.
The argument validation can be more complicated than this.

[2020-12-31 20:34] udlose commented on #44512
@maryamariyan, `StackExchange.Redis.IDatabase.KeyDeleteAsync(RedisKey[] keys, CommandFlags flags = CommandFlags.None)` does not throw an exception if a key is not found.  See - https://github.com/StackExchange/StackExchange.Redis/blob/6409b9d1f2afd01a7eab9498a525360d1ca2b752/src/StackExchange.Redis/Interfaces/IDatabaseAsync.cs#L442

Is there a concern I'm missing?

[2020-12-31 20:40] KalleOlaviNiemitalo commented on #46489
How about a delegating constructor in your class:

[code]

That would avoid reflection, at least.

Related: <https://github.com/dotnet/csharplang/issues/377>, <https://github.com/dotnet/csharplang/issues/2335>.

[2020-12-31 20:50] sdmaclea commented on #43313
The fix for #46369 is in the latest build, so I updated the smoke test comment above.

Also a preview release of https://github.com/ericsink/SQLitePCL.raw/issues/375 is available for testing, if anyone would like to test ASP.NET with SQLite on Apple Silicon.

[2020-12-31 20:58] fbrosseau commented on #46483
Either containers, or if you want to stay with regular processes only, Job Objects would do the trick. (JOBOBJECT_CPU_RATE_CONTROL_INFORMATION  etc).

[2020-12-31 22:12] EatonZ commented on #46489
Hi @KalleOlaviNiemitalo, clever idea, but that won't quite do it for me because I also use that sector size value to set a few other non-static fields in the `DiskStream` instance. It wouldn't be possible to set those in your example `GetPhysicalSectorSize`, or in second constructor (the sector size would have to be obtained again).

[2020-12-31 22:38] Mgamerz commented on #46462
Ah so paxctl patches the files? I haven't worked on hardened linux systems before, so even after reading, had little idea what it did.

[2020-12-31 22:47] #46240 closed

[2020-12-31 22:55] pgovind commented on #46440
Just assigning to @tannergooding first for his thoughts on if this would be a regression. Otherwise this looks like a bug fix and I'll investigate it next week. Might even be a candidate for up-for-grabs depending on the complexity!

[2020-12-31 22:57] pgovind commented on #45840
Just a note for myself. I'll triage this next week. It looks like a duplicate of another open issue, but I'm not sure yet.

[2020-12-31 23:10] KalleOlaviNiemitalo commented on #46489
I think you could stash the sector size by passing it from the static method to the private constructor in a struct or tuple:

[code]

Alternatively, use a variable declaration in an `out` argument as shown in <https://github.com/dotnet/csharplang/issues/2335#issuecomment-472466899>.

[2021-01-01 00:57] jkoritzinsky commented on #46485
The shared framework projects use the ProjectServicingConfiguration items to configure when to build a project in servicing.

[2021-01-01 01:15] WeihanLi commented on #46483
Thanks for the information, and yes I wanna run it directly on my os(windows and linux) not container environment, happy new year @huoyaoyuan @mangod9 @fbrosseau

[2021-01-01 01:31] AaronRobinsonMSFT commented on #46479
@0xC0000054 Thanks for reporting this. We will consider this issue for servicing of .NET 3.x in the .NET 6 timeframe.

@jkoritzinsky @elinor-fung we should root cause this and then add a test if the scenario exercises a unique code path in the current implementation. I am going to assume the work that @jkoritzinsky did with the marshallers fixed this.

[2021-01-01 01:41] AaronRobinsonMSFT commented on #46479
@0xC0000054 I haven't run the linked scenario only looked at the code. I did notice that the [`WriteDelegate` delegate](https://github.com/0xC0000054/libheif-sharp/blob/de4545eb7643c3e3f53ee123c96defb74316b961/src/Interop/LibHeif/IO/heif_writer.cs#L28) is not marked with the [`UnmanagedFunctionPointerAttribute`](https://docs.microsoft.com/dotnet/api/system.runtime.interopservices.unmanagedfunction

[2021-01-01 01:57] SeriaWei commented on #27927
How to resolve this issue?

[2021-01-01 01:57] 0xC0000054 commented on #46479
I linked to the wrong revision in the readme, the latest version does have the UnmanagedFunctionPointerAttribute to indicate the cdecl calling convention.

Adding the UnmanagedFunctionPointerAttribute does not change this issue, the repo version of the [WriteDelegate delegate](https://github.com/0xC0000054/heif-reverse-pinvoke-bug/blob/b6befaf4b7a174c3a73ca75f8dffc0427534d124/LibHeifSharp/Interop/

[2021-01-01 06:39] gobananasgo commented on #42375
I just encountered the same issue as the above users.
We have updated our project from dotnet 1.0, to 5.0 following the upgrade guide on the website.
https://docs.microsoft.com/en-us/aspnet/core/migration/31-to-50?view=aspnetcore-5.0&tabs=visual-studio

I have another project to upgrade as well. Will be interesting to see if it encounters the same issue, or if it is ok.

[2021-01-01 08:39] bilalmalik777 opened #46753 "PKCS12_parse:mac verify failure"
i updated my application from 2.2 to 3.1 and facing the following error.It was working perfectly in 2.2 with docker
`'error:23076071:PKCS12 routines:PKCS12_parse:mac verify failure'`

it was working fine with 2.2 but now facing an error in development mode. i run the following command to generate the dev certificate

[code]

**program.cs**
[code]

i also declared both environment varibale **ASPNET

[2021-01-01 08:51] MichalStrehovsky opened #46495 "ComponentModel.DataAnnotations resources are probably not formatted right"
`<GenerateResxSourceIncludeDefaultValues>true</GenerateResxSourceIncludeDefaultValues >` in combinations with `UseSystemResourceKeys` produces messages like this:

`Unhandled Exception: System.Exception: Exception of type '{0}' was thrown., System.Exception` - we don't run String.Format in `SR.Format` when `UseSystemResourceKeys` is set because we don't expect that string to have formatting charac

[2021-01-01 11:11] kiminuo commented on #46122
@geoffkizer Will you file such an issue? Any improvement in the docs would be great.

[2021-01-01 12:26] ViktorHofer commented on #46485
@jkoritzinsky thanks, I will make sure that the newly added infra doesn't apply to sfxprojs then. Do you know about the host packages. Do we always ship them in servicing releases?

[2021-01-01 18:36] jkoritzinsky commented on #46485
To my knowledge we ship them in servicing releases. I didn't add any code to make us not ship them in servicing.

[2021-01-01 19:16] am11 commented on #3561
This was fixed with unification of configs (#33716). W3 and WX are used by installer and coreclr alike: https://github.com/dotnet/runtime/blob/c985bdcec2a9190e733bcada413a193d5ff60c0d/eng/native/configurecompiler.cmake#L455-L456

[2021-01-01 20:13] filipnavara opened #46498 "Consider using pinnable heap for AsymmetricAlgorithm.ExportParameters"
.NET 5 introduced the concept of special heap for objects that are going to be pinned in memory. Using the [GC.AllocateArray API](https://docs.microsoft.com/en-us/dotnet/api/system.gc.allocatearray?view=net-5.0) new byte arrays could be placed into this heap. This has the additional guarantee that the memory won't be moved by the garbage collector and leave behind a copy of the data which is a val

[2021-01-01 21:22] Wraith2 commented on #46498
Does pinned memory allocated through that api get unpinned by the GC if it is found to be eligible for collection? If not there would need to be a disposable wrapper around it to encourage users to use it in a scoped manner. I know users _shouldn't_ be dropping things like private key material to the GC but you know that somewhere someone will be.

[2021-01-01 21:32] filipnavara commented on #46498
I assume it garbage collectible like a normal array would be.

Changing the existing `ExportParameters` API is unfortunately not an option but even the internal usage suffers from a small time window where the arrays can get moved by the GC.

[2021-01-01 21:37] Wraith2 commented on #46498
Internal buffers sure, they should be changeable without external observation. It'd be nice to get confirmation on POH allocated objects and GC behaviour before considering exposing them to users.

[2021-01-01 21:38] filipnavara commented on #46498
/cc @Maoni0

[2021-01-01 23:40] colgreen opened #46501 "ArraySortHelper.DownHeap() redundant 'lo' parameter, and arithmetic additions."
Just a minor observation, but the reworking of the ArraySortHelper has resulted in a left-over redundant 'lo' parameter on the private DownHeap() method. The lo parameter is always passed a zero argument.

I'm sure the performance impact of this is small (7 arithmetic adds per inner loop, and another 4 adds per method call), but thought I would mention it. In fact I expect the JITter will eliminat

[2021-01-02 00:27] vcsjones commented on #46498
Maybe @GrabYourPitchforks has some thought / input on this.

I'm not sure the impact or desire to return things from the POH every time sensitive data might be returned.

Perhaps it might be more useful to accept a Span to write to. That way we could write to a non movable buffer if that's where you want it written.

[2021-01-02 01:01] #3338 closed

[2021-01-02 02:26] geoffkizer commented on #46122
I don't understand what you are saying here.

ReadAsync will complete as soon as data is available, and it will return as much data as it can, up to the size of the user's buffer.

[2021-01-02 02:27] geoffkizer commented on #46122
What issue in particular?

Please feel free to file issues on anywhere you think the docs are unclear, misleading, or flat-out wrong. Including samples that are part of the docs. There's a "doc issue" tag that can be used for these.

[2021-01-02 02:37] filipnavara commented on #46498
That's what the newer APIs do. The problem is that due to the inheritance model of the classes they all end up using `ExportParameters` under the hood since different implementations can override it. The new APIs wrap the secret data in `fixed` block as soon as it's returned from `ExportParameters` which still leaves a small window of opportunity where the data can be moved by the GC.

[2021-01-02 03:01] am11 commented on #46122
...

So ReadAsync by itself does not guarantee that no more data will be available, user will still need to use ReadAsync in a loop and check if the associated socket is connected.

[2021-01-02 03:02] am11 commented on #46122
...

So ReadAsync by itself does not guarantee that no more data will be available after it returns, user will still need to use ReadAsync in a loop and check if the associated socket is connected.

[2021-01-02 03:09] geoffkizer commented on #46122
Yes, that's true. Though you don't need to do a separate check for whether the socket is still connected. Just loop and do ReadAsync.

[2021-01-02 04:25] EatonZ commented on #46489
@KalleOlaviNiemitalo Hm, seems like an option, but it still seems like allowing setting buffer size would be the cleaner and easier option. Looking forward to hearing if this is something the .NET team would consider, as it could have other uses outside of my use-case.

[2021-01-02 05:18] jasonpugsley commented on #14537
I know this is the wrong thread but hopefully the right audience. I've created a release of PowerShell 7.1.0 for FreeBSD built with .NET5 SDK 5.0.101. It may interest some people here.
https://github.com/jasonpugsley/PowerShell/releases/tag/v7.1.0.freebsd

[2021-01-02 06:45] #46448 closed

[2021-01-02 06:53] Thefrank commented on #14537
@jasonpugsley
TL;DR: Everything looks great so far with no issues other than the one I inflicted on myself. For documentation I suggest adding a note regarding FreeBSD 12 jails requiring `allow_mlock=1` for powershell to work. Finally, running pwsh as login is likely fine (but still discouraged for root) for jails but not for host (afaik `/usr/local/share` is not mounted in single user)

Long vers

[2021-01-02 07:28] am11 commented on #46468
libgdiplus [package on Ubuntu](https://packages.ubuntu.com/bionic/libs/libgdiplus) is an ancient five years old version [4.2](https://github.com/mono/libgdiplus/releases/tag/4.2).

The one from brew is recent (v6.0.5) but they are missing `  depends_on "pango"`: https://github.com/Homebrew/homebrew-core/blob/19711e622bf573cba0d2c8f9f8275a097c8c3e80/Formula/mono-libgdiplus.rb#L17-L31, so it builds

[2021-01-02 07:48] jasonpugsley commented on #14537
Thanks for trying it out and giving me some tips!

That's where we get back on topic. It's in this very repo https://github.com/dotnet/runtime/blob/master/src/libraries/System.Console/src/System/TermInfo.cs

I don't know about the politics but there's only terminfo support at this time.

[2021-01-02 08:23] En3Tho commented on #46489
Can you just make a static method Create that will return your DiskStream? I don't think constructor should necessarily do all these complex operations, determining buffersizes and so on. Just make a method, calculate all that outside and pass simple args into constructor. Also, your example does not show how changing bufferSize dynamically does help people at all. Like "detect disk slowdown and c

[2021-01-02 11:28] weltkante opened #46505 "Deadlock in Linux Socket code"
### Description

Our production server stopped receiving data and accepting network connections. Our internal business logic kept running, otherwise our watchdog timer would have detected that the server was unresponsive and restarted it automatically. The socket classes were apparently hanging in their async codepath so we could not detect this from inside the process.

I've taken a `dotnet-dump

[2021-01-02 13:35] ilushka85 commented on #44897
@zwarich any updates on this from apple's side?

[2021-01-02 14:39] jodydonetti commented on #35044
Hi @bladepan if you still need an (optionally) multi-level cache with some other advanced features may I suggest taking a look at [FusionCache ⚡🦥](https://github.com/jodydonetti/ZiggyCreatures.FusionCache) ?

I just released it and, if you find it helpful, that would be great to know.

Also, any comment on it would be greatly appreciated.

[2021-01-02 14:53] jodydonetti commented on #36499
On top of the great LazyCache, may I suggest taking a look at [FusionCache ⚡🦥](https://github.com/jodydonetti/ZiggyCreatures.FusionCache) as another option for a concurrent-factory-calls optimized cache?

It is also optionally multi-level (memory + distributed) and it has some other advanced features you may be interested in, like a fail-safe mechanism (see [here](https://github.com/jodydonetti/Zi

[2021-01-02 14:59] weltkante commented on #46505
Actually got a second occurence of this within 24 hours. I hope this is not becoming a problem.

<details><summary>stack traces from dotnet dump (2nd occurence)</summary>

[code]
</details>

[2021-01-02 15:17] #45078 closed

[2021-01-02 15:20] jodydonetti commented on #36379
Hi @avin-kavish , if you still need some sort of optimized GetOrCreate for distributed caches may I suggest taking a look at [FusionCache ⚡🦥](https://github.com/jodydonetti/ZiggyCreatures.FusionCache) ?

It is an optionally multi-level (memory + distributed) cache with some other advanced features you may be interested in, like a fail-safe mechanism (see [here](https://github.com/jodydonetti/Ziggy

[2021-01-02 16:22] drma-dev opened #46514 "[System.Net.Http.Json] JsonSerializerOptions"
I have the following code that is sending a json with attributes in the CamelCase format, but I am not able to read in my API.

[code]

But when I start the options, without changing any default values, my API can read the json correctly.

[code]

Shouldn't the code already apply the default values?

[2021-01-02 19:49] vitek-karas commented on #46312
Can you please clarify:
* If the main executable is tagged by Windows Defender then I assume it won't run at all, right?
* So the failure above happens only if the executable itself is not tagged. In that case, does Windows Defender report something - like tagging the native library it's trying to load?
* The failure above is about failing to load a managed dll - not the native dll (unless it's a

[2021-01-02 20:09] maxpiva commented on #46312
It starts running, and run several times without a problem, but at random, when the native library needs to be loaded is when the wreck happens. In this case OpenCV. I notice that IncludeNativeLibrariesForSelfExtract publish decompress the related DLLs into the Temp/.net/(name of the exe)/temp directory. And, actually, I'm inclined to think that the File.Not.Found is from the main exe itself disap

[2021-01-02 20:35] mySYSMON opened #46508 "possible bug? "..Eventing.Reader.EventLogSession threw an exception""
Basic EventLogReader example has exception.
TargetFramework: net5.0

Unhandled exception. System.TypeInitializationException: The type initializer for 'System.Diagnostics.Eventing.Reader.EventLogSession' threw an exception.
 ---> System.NullReferenceException: Object reference not set to an instance of an object.

[code]
**Project Config**
[code]

[2021-01-02 20:38] mySYSMON commented on #46508
Note I tried to create this earlier this afternoon, but didn't currently show up due to github flagging my other (new) github account.
https://github.com/dotnet/runtime/issues/46507

[2021-01-02 20:40] mySYSMON commented on #46508
Note I tried to create this earlier this afternoon, but didn't currently show up due to github flagging my other (new) github account.
46507

[2021-01-02 20:41] #46501 closed

[2021-01-02 21:12] jbe2277 opened #46509 "Thread-safe Dispose implementation for Socket and NetworkStream"
I did a [research](https://github.com/jbe2277/waf/wiki/Implement-IDisposable) on how to implement the `IDisposable` interface in a thread-safe way. For this I had a look at some .NET BCL classes and saw that different implementations are used.

The following implementations might not be 100% thread-safe:

# Socket class
Actual:
[code]
Expected the volatile keyword here:
[code]
See: https://source.

[2021-01-02 21:20] Thefrank commented on #14537
oh! erm, the politics was more on the AT&T vs BSD side during the System V(?) era and is why termcap is used instead of terminfo. there was likely no politics involved in picking the clearly more widely used terminfo.

terminfo is newer (1981?) and "improved" version of termcap (1978?). BSD-ish systems still use termcap over terminfo afaik but support both and for the purpose of staying on freebsd

[2021-01-02 21:21] Cacuci commented on #45315
@adamsitnik I give up did attempts investigate what's is happing and i update my program to .Net5 and problem did resolved. Previously, with .Net 4.8 a memory did grow infinitely, until the program stop and computer run out of memory, now with .Net5 consumes between 100 MB and 120MB, nothing more that this.

[2021-01-02 22:03] gfoidl commented on #46509
Did you notice https://github.com/dotnet/runtime/blob/5078dd61a81c88dbdd131a77b8148b4dee3803fa/src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.cs#L3552-L3556 ? So no need for volatile (as the compare exchange generates a full memory-barrier).

(I'm not sure what guarantees for thread-safety the NetworkStream-class provides, so can't comment on this).

[2021-01-02 23:48] danmosemsft commented on #46381
@MattGal @safern in https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-e8d9bc08dc2441d7a0/System.IO.FileSystem.Tests/console.547b5a51.log?sv=2019-07-07&se=2021-01-06T01%3A52%3A38Z&sr=c&sp=rl&sig=DG1seb%2FgKbIzrNgJNwQwHSbwyf0EG5DTpgG8jpxfwZk%3D (which was from 12/16) I see:
[code]
Is that known?

[2021-01-03 00:20] danmosemsft commented on #46381
This particular issue seems to have gone away by itself though...

https://engsrvprod.kusto.windows.net/engineeringdata?query=H4sIAAAAAAAEAGWS30%2fCMBDH30n4Hy48jaSwHxI1xPEgkQQfNEYMj6aspytsLel1gRn%2feDuGdMY%2btNnd7T7f%2b7ZrbXZLiyVBvxeG33DI0SAspJKUo4A0BcEtWllikERJNIqTUXwD0WSaJNNJNE6uJpFbw37v368zUPoQjK4jMQSuhE%2fctYnYxf9CjUQlivqJlwhkubF0kDaHwWtNTuF40IF0S53G35Ll83ghCzx%2frZAsDbqIh6O0cy0QZinEyW3TcKulgp

[2021-01-03 00:20] #46381 closed

[2021-01-03 01:11] danmosemsft opened #46512 "Assert failure(PID 5984 [0x00001760], Thread: 1888 [0x0760]): CONTRACT VIOLATION by CallCountingManager::OnCallCountThresholdReached within calls to KERNELBASE! EnumCalendarInfoExEx"
Globalization related tests are periodically failing with output like this
[code]

It is happening ~2x a day over the last 10 days and only on windows.10.amd64.open.rt `### OS: Distro=WindowsProductType=8 WindowsInstallationType=Server Description=Microsoft Windows 10.0.14393 Version=Microsoft Windows NT 10.0.14393.0 Arch=X64 Rid=win10-x64`

It occurs in these test jobs
[code]
the stack always con

[2021-01-03 01:12] danmosemsft commented on #46512
https://engsrvprod.kusto.windows.net/engineeringdata?query=H4sIAAAAAAAEAIWRUU%2fCMBDH30n4Dpc9QTK2UhZniPNBogYfTFQMz4WeWWG7krYLYPzwFkE2gsQ%2btEl7ze%2f3v5tqsxw7LC20W3H8BescDcKDImVzlJBlIIVDp0rscMZZr897%2fRRYMuR8mLCIDxLmV7fdOvt6C6TXnV6fyS4IkvXDzeHB359CjUKSxfZZlAjWCePsWrkcgret9YZR0IBcKP2r9n6j3EhL3GXxNukgTRi%2fvmqSXyqs8AxbzSpyVRSANhcqtN3sSQutCJaKZKaI0MCTnlnQtDvHsla5M4Lm%2bU4kMPhh4xyFtHEpvLIJ9kIroxc4dzUwP

[2021-01-03 01:20] danmosemsft commented on #46512
First instance was 2020-12-15 08:03:15.8700000 - previously it didn't appear at all. Given how regular the runs are on this queue, whatever caused it likely was a change made between about 12-10 through 12-15

[2021-01-03 01:21] danmosemsft commented on #46512
Setting interop because it seems like we shouldn't be able to cause this with a managed code bug? The relevant signatures did not change in that period.

[2021-01-03 01:38] danmosemsft commented on #46512
https://github.com/dotnet/runtime/pull/45625 was about the right time and mentoins UnmanagedCallersOnly. However that was reverted a couple days later, whereas these failures continue:
Finished	ExitCode
2020-12-15 08:03:15.8700000	-1073740286 (first one)
2020-12-15 08:17:15.7180000	-1073740286
2020-12-17 08:06:36.9600000	-1073740286
2020-12-17 08:20:15.3760000	-1073740286
2020-12-19 08:14:09.18800

[2021-01-03 01:39] sandreenko commented on #46278
Fixed by https://github.com/dotnet/runtime/pull/46345

[2021-01-03 01:39] #46278 closed

[2021-01-03 02:57] annerajb opened #46513 "X509Certificate2 Fails to load Pfx files that contain a 25519 key/cert instead reports wrong password"
### Description

#### Issue

The x509certificate2 class fails loading a pfx file which contains a ed25519 private key and it's certificate (+ chain)

The real failure seems to be [here](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslPkcs12Reader.cs#L40) (it's super hard to know 100% since visual st

[2021-01-03 04:52] ecorm opened #46515 "Half to Double/Float conversion is broken for subnormal values"
### Description

`Half` numbers with binary values between 0x0200 and 0x03FF are converted to approximately half their value when cast to `Single` and `Double`. 0x03FF corresponds to the largest positive subnormal number.

[code]

### Configuration

.NET version: 5.0.101
OS: Linux 5.4.0-45-generic
Distro: Linux Mint 20
Architecture: x86_64

[2021-01-03 04:55] ecorm commented on #46515
There are only 65536 possible `Half` values. They should be all tested exhaustively. Is there a published unit test for `Half` that I could check out?

[2021-01-03 05:49] danmosemsft opened #46516 "Regex outer loop tests running out of memory on Ubuntu 1804"
The outerloop System.Text.RegularExpressions.Tests fail about 2x a day almost every day only on `ubuntu.1804.amd64.open.rt` only in Outer Loop always with SIGKILL. This is presumably due to OOM killer.

In the last 3 months, no other libraries test suite has had this problem.

Eg., https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-36e21453dd484dfca1/System.Tex

[2021-01-03 06:20] danmosemsft opened #46518 "Test_EventSource_EtwManifestGenerationRollover failed in CI"
net6.0-windows-Debug-x64-CoreCLR_release-Windows.81.Amd64.Open
https://dev.azure.com/dnceng/public/_build/results?buildId=936179&view=ms.vss-test-web.build-test-results-tab&runId=29613832&resultId=177187&paneView=debug
[code]

This particular failure also happened on https://github.com/dotnet/runtime/pull/46238 on windows.10.amd64.open.rt

@sywhang looks like this is your test?

[2021-01-03 06:21] danmosemsft commented on #46518
https://github.com/dotnet/runtime/pull/46493

[2021-01-03 09:42] jbe2277 commented on #46509
@gfoidl That's one of the aspects which I try to find out:
- When modifying a field only with Interlocked compare exchange is the usage of volatile still required?

---

The `TcpClient` class uses volatile here:
[code]
https://source.dot.net/#System.Net.Sockets/System/Net/Sockets/TCPClient.cs,20

---

If volatile is not needed then removing the keyword might improve the performance. In this concre

[2021-01-03 10:13] oldzhu commented on #33727
I worked out a POC fix for arm ldm illegal instruction by modifying emitarm.cpp as the below:
...
--- /dotnetruntime-origin_master/src/coreclr/jit/emitarm.cpp 2021-01-03 09:49:48.790000000 +0800
+++/dotnetcore/dotnetruntime/modified/emitarm.cpp  2021-01-03 09:53:34.740000000 +0800
@@ -1520,12 +1520,19 @@

             if (imm & 0x8000) // Is the PC being popped?
                 hasPC = true;
+

[2021-01-03 11:53] NN--- commented on #38812
I encountered this issue with serializing and deserializing NLog.LogLevel which is declared with TypeConverter:

[code]

https://github.com/NLog/NLog/blob/dev/src/NLog/LogLevel.cs

[2021-01-03 11:53] gfoidl commented on #46509
It's not that easy to just say "no".

`volatile` does the following:
* it prevents the compiler(s) from taking optimizations on that field-access (i.e. cache it in a register)
* for reads it generates an _acquire fence_, so it prevents that any read is reordered with any read or write that follows in program order
* for writes it generates an _release fence_, so it prevents that any read or write

[2021-01-03 12:08] EgorBo commented on #46515
BTW, @tannergooding are there any plans on adding `vcvtps2ph/vcvtph2ps` for half->float/float->half` conversions?
I guess it should be an API proposal to add `Fp16` set of intrinsics?

[2021-01-03 12:54] Dotnet-And-Happiness opened #46519 "Internal CLR error (0x80131506) with covariant return types"
### Description
[code]
this code cause Internal CLR error (0x80131506) on Windows 10 x64 and segmentation fault on  linux(Fedora 33 x64)

if I change AChild class to:

[code]
everything will work fine

.Net version - 5.0.101

[2021-01-03 13:33] NN--- opened #46520 "Allow custom converters for dictionary keys"
Edited by @layomia.

<details>
<summary>
Original post by @NN--- (click to view)
</summary>

### Description

JsonConverterAttribute is considered when used in a collection or as Dictionary value.
However, it is not considered when it is used as Dictionary key.

[code]

Please support JsonConvertAttribute on Dictionary keys.

### Configuration

.NET 5.0.1

### Regression?

No.

### Other informati

[2021-01-03 13:41] Youssef1313 opened #46521 "Analyzer proposal: Missing GetInstance for `ICustomMarshaler`s"
Types that implement `ICustomMarshaler` must have a [`GetInstance`](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.icustommarshaler?view=net-5.0#implementing-the-getinstance-method) method with correct signature.

@mavasani I opened this here instead of roslyn-analyzers as it's related to API usage. Feel free if this fits more in roslyn-analyzers repo.

[2021-01-03 16:29] JeroenBer commented on #46247
Yes it certainly works on Mac .NET Core (2/3) if you add the following line:

[code]

The main reason for posting this because we liked to get this fixed in .NET Core since Xamarin is also going to be part of .NET Core 6. And NTLM is also a problem in Xamarin Android/iOS/Mac, there is a workaround there using the old MonoWebRequestHandler but I think this should be solved in .NET Core so it will b

[2021-01-03 16:33] jkotas commented on #46519
cc @janvorli

[2021-01-03 16:59] danmosemsft commented on #46515
https://github.com/dotnet/runtime/blob/master/src/libraries/System.Runtime/tests/System/HalfTests.cs

(I just browsed for file names beginning with "Half")

Improvements welcome.

[2021-01-03 17:03] danmosemsft commented on #33727
@oldzhu thanks. You might consider using ``` blocks in your text above to fix the formatting.

[2021-01-03 17:06] danmosemsft commented on #46512
@jkoritzinsky

[2021-01-03 19:16] CincySteve commented on #45363
I shifted to discussing this issue in the aspnetcore forum [here](https://github.com/dotnet/aspnetcore/discussions/28080#discussioncomment-258269) and ended up creating a repro demo [here](https://github.com/CincySteve/PerformanceRepro/tree/master).  After some optimization by the person who has been helping me, the repro code runs ~6 times slower in Blazor Wasm versus WinForms.  Part of the optim

[2021-01-03 20:34] ecorm commented on #46515
@danmosemsft Thanks!

I managed to get the dotnet runtime test suite running and am in the process of adding `ExplicitConversion_x` test vectors for the normal/subnormal corner cases.

I figured out how to run only the `HalfTests`, but it's still pretty slow. Is there a way to get the test suite to run any faster? It seems to spend a lot of time setting things up. It takes around 30 seconds per ru

[2021-01-03 20:37] meziantou opened #46522 "JsonSerializer throw an InvalidCastException when serializing an array of item with a custom converter"
### Description

JsonSerializer throw an InvalidCastException when serialization a collection of items. The class has a custom JsonConverter that matches one of the interface implemented by the class.

Serializing an `SampleRepro[]` (`SampleRepro` implements the interface) throw an InvalidCastException.

[code]

[code]

[code]

### Configuration

.NET 5.0.1

### Regression?

This is new code, I ha

[2021-01-03 20:58] NN--- commented on #45633
@eerhardt When can we expect releasing .NET 5 update with the fix ?

[2021-01-03 21:37] eerhardt commented on #45633
This fix is in the release branch, so the next servicing release of .NET 5 will have the fix. According to https://docs.microsoft.com/en-us/dotnet/core/releases-and-support, `Servicing updates` ship almost every month, and 5.0.1 shipped in December. So I'd guess that 5.0.2 would ship in January or February.

[2021-01-03 22:18] StingyJack opened #46524 ""The process '/usr/bin/dotnet' failed with exit code 249"... what does that exit code mean or how can I figure it out?"
I found this list of exit codes https://github.com/dotnet/runtime/blob/master/docs/design/features/host-error-codes.md  but it doesnt go up to 249.

[2021-01-03 22:19] ecorm commented on #46515
Submitted PR that adds subnormal corner cases to unit test: https://github.com/dotnet/runtime/pull/46523

Note the eight commented-out lines that fail under `ExplicitConversion_ToSingle_TestData` and `ExplicitConversion_ToDouble_TestData`.

[2021-01-03 23:39] oldzhu commented on #33727
Thanks Dan! I fixed..

[2021-01-04 02:57] jeromelaban commented on #45698
This issue was not adressed by the fixes of https://github.com/dotnet/runtime/issues/45078, though when refining this issue, it is in fact related to the use of `Assembly.GetSatelliteAssembly()`.

Curiously, when decomposing `GetSatelliteAssembly`, running the following:

[code]

creates the following error:

[code]

[2021-01-04 03:13] chkn commented on #15704
I'm not sure I understand this. Isn't .NET 5/6 supposed to be the one .NET? Why will we need reference assemblies?

I'm working on a project that could really benefit from `AssemblyBuilderAccess.RunAndSave` and `LambdaExpression.CompileToMethod`, so I do hope they're restored. Mono has had cross-platform implementations of these for decades.

[2021-01-04 03:54] danmosemsft commented on #46515
I usually run tests on the command line and in the console it prints instructions for how to run the tests "directly" which is faster.

[2021-01-04 04:37] mangod9 commented on #46483
Closing for now, please reopen if you need any further info.

[2021-01-04 04:37] #46483 closed

[2021-01-04 04:40] mangod9 commented on #42375
@gobananasgo are you hitting it with .net version 5.0.100?

[2021-01-04 04:52] gobananasgo commented on #42375
@mangod9
I am using 5.0.101

[2021-01-04 05:14] v-haren opened #46525 "Test failure: JIT\\CodeGenBringUpTests\\Shift_r\\Shift_r.cmd"
failed in job: https://dev.azure.com/dnceng/public/_build/results?buildId=936522&view=ms.vss-test-web.build-test-results-tab&runId=29621768&resultId=107084&paneView=debug

CoreCLR windows arm Checked @ Windows.10.Arm64v8.Open

Error message
[code]

[2021-01-04 05:43] satya-rajesh opened #46526 "openssl 3.0 support"
In continuation to https://github.com/PowerShell/PowerShell/issues/14410

PowerShell-7.0.3$ grep -Rns "ERR_put_error" ./
Binary file ./src/powershell-unix/bin/Linux/netcoreapp3.1/linux-x64/System.Security.Cryptography.Native.OpenSsl.a matches
Binary file ./src/powershell-unix/bin/Linux/netcoreapp3.1/linux-x64/System.Security.Cryptography.Native.OpenSsl.so matches
Binary file ./bin/System.Security.

[2021-01-04 06:39] huoyaoyuan commented on #46522
The exception message tells the problem: you must use `JsonConverter<SampleRepro>`, not `JsonConverter<IRepro<object>>`.

A `JsonConverter<T>` must be associated with a concrete type. Only `JsonConverterFactory` can be used for a family of types.

[2021-01-04 08:09] adamsitnik commented on #46208
Based on what I can see in Kusto my previous PR (#46213) has not solved the problem and this test test has failed 140 times since 25th of December. I am going to reopen it and send a proper fix

[2021-01-04 08:23] ValerCheck commented on #46487
@jkotas Thanks for pointing out.

[2021-01-04 08:29] #45315 closed

[2021-01-04 08:30] adamsitnik commented on #45315
@Cacuci thank you for your cooperation and upgrading to .NET 5. Since there is nothing actionable (no memory leak found), I've closed the issue.

[2021-01-04 08:50] GaneshVydyanathan opened #46949 "dotnet 2.1.4 application is crashing on libcoreclr.so with signal: 'Aborted'"
Application is hosted on AWS EC2 Linux instance as Kestrel Service(self hosting) .

It's a WebAPI (REST services) build on 2.1.4 .net core.
Intermittently application is crashing on /usr/share/dotnet/shared/Microsoft.NETCore.App/2.1.22/libcoreclr.so

executablePath: /usr/share/dotnet/dotnet
pgiId: 2eaa35e4f1f2fccc
faultLocation: libcoreclr.so!<imagebase>+0x283a73
faultModulePath: /usr/share/dotnet

[2021-01-04 09:06] ManickaP opened #46528 "Test failure: System.Net.Http.Functional.Tests.SyncHttpHandler_HttpClientHandlerTest.GetAsync_RequestHeadersAddCustomHeaders_HeaderAndValueSent"
failed again in job: [runtime-libraries-coreclr outerloop 20201220.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=927879&view=ms.vss-test-web.build-test-results-tab&runId=29415500&resultId=104098&paneView=debug)

failed test: System.Net.Http.Functional.Tests.SyncHttpHandler_HttpClientHandlerTest.GetAsync_RequestHeadersAddCustomHeaders_HeaderAndValueSent(remoteServer: (BaseUri: http

[2021-01-04 09:19] kjpou1 commented on #46016
@ivan-prodanov this is still not possible as per the WebAssembly design open issue: https://github.com/WebAssembly/design/issues/1162.  This is also for shared buffers.

You might be able to use the heap itself and design something that will fit your needs.  There is issues with holding onto memory addresses and should not be done long term.  Emscripten during memory allocation can issue warning a

[2021-01-04 09:36] janvorli commented on #46462
Yes, it sets some bits in the executable. See http://man.he.net/man1/paxctl

[2021-01-04 09:41] janvorli commented on #14537
It is used for event logging and it should be optional IIRC.

[2021-01-04 09:47] ManickaP commented on #46505
Hi @weltkante, could you provide a minimal repro of your code?

[2021-01-04 11:33] weltkante commented on #46505
@ManickaP sorry, I don't know what you are asking for
- this happens in a production system
- all stack traces are in your codebase
- this apparently happened under a (primitive) DOS attack scenario

I have `dotnet-dump` files that can be analyzed (either by telling me what to look for or by sharing privately).

Creating a repro would presumably require setting up a test environment and simulating

[2021-01-04 11:35] marek-safar commented on #45633
5.0.2 should go out next week, you can test the fix by installing https://github.com/dotnet/installer#installers-and-binaries 5.0.2 preview version

[2021-01-04 12:00] janvorli commented on #46519
This works fine in master, so it should be fixed in the upcoming 5.0.2 release. Dup of #45082.

[2021-01-04 12:00] #46519 closed

[2021-01-04 12:27] eiriktsarpalis commented on #46111
The test failure has stopped occurring in CI for a while now, so I'm going to close this.

[2021-01-04 12:27] #46111 closed

[2021-01-04 12:36] ManickaP commented on #46505
I mean your source code that produces the deadlock.

[2021-01-04 12:39] eiriktsarpalis commented on #45149
I think it's best to follow existing convention used in the particular class, namely inline an `if (!_disposed)` check.

[2021-01-04 13:02] TamarChristinaArm commented on #43789
@echesakovMSFT coming back to this, particularly for zeroing you have an additional option:

On AArch64 you have the data cache zero instructions `DC ZVA` (Can be found under system registers not Instructions).

Essentially using this you can clear large blocks of memory by `VA`, but it can be disabled so support for it should be detected at runtime.  This can be done by reading the `DCZID_EL0` re

[2021-01-04 13:03] Zastai opened #46529 "Unexpected behaviour of ulong -> int cast"
### Casts from `ulong` to `int` changed behaviour in .NET Core 3.0

We are updating an existing codebase to target multiple frameworks (`net472` plus the active LTS version of .NET).
We ran into odd behaviour with code that interpreted bytes as a big-endian two's complement integer.
It turns out conversions from `ulong` to `int` behave differently depending on whether it's one big expression, or u

[2021-01-04 13:16] weltkante commented on #46505
I cannot share the full source publically, but if you are just looking for the way the sockets are used here are the relevant classes:

<details><summary>accepting connections</summary>

[code]
</details>

<details><summary>socket connection</summary>

[code]
</details>

The SynchronizationContext is a custom one running its work on a dedicated thread.

[2021-01-04 13:20] fededim commented on #715
This issue has been opened for a year....is there any hope of seeing it implemented in 2021 ?

[2021-01-04 14:08] huoyaoyuan commented on #46529
Explored with [sharplab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIGYACMhgYQYG8aHunGBLAHYYGAET6wwGABTAAnhhgBtALoM5C3AEouPTtR4GGAN2xQGAE3ExJDALwMpgjJodS3AVwA2EAQHNNMvIwuIoADMqaLgA8UQwArEguhDqGqWluUl4+/oEaiuQR0bEoABxJKWmV3BlZfgHqwYqkhQwxDCih5fpVPTXedbmNdC1tdKRdPb0e/TkNISgjsaQoE5OVfdn1QSFxiwzkiQzJ3WupGwNzikh7ZUcVpzzns9uKAOx7nZoA3Pc8xK8WKySH4nBgAXwq9AYTgYAEkBOYYAooPg+JZsAp

[2021-01-04 14:19] janvorli commented on #46175
After I've fixed the lookup for the Main in the stack trace, the ARM64 legs are failing due to the fact that we don't have the probing helper change in yet. So for large frames, the failure point is too far from the SP, the failure is not recognized as stack overflow and the sigsegv alternate stack is not large enough to execute the full stack overflow reporting. The alternate stack is about two p

[2021-01-04 14:37] TannerBrunscheon commented on #46372
Does anyone have any idea on how to do this?

[2021-01-04 14:54] stephentoub commented on #46146
What @svick said.

Parallel.ForEach when given an `IEnumerable<T>` needs to pull each item out of the enumerator, but that is an inherently thread-unsafe operation, with the caller needing to make calls to the MoveNext + Current pair atomically.  So the calling thread(s) must take a lock around the operation.  If the work performed by the ForEach "body" is relatively cheap, the cost of taking that

[2021-01-04 14:54] #46146 closed

[2021-01-04 14:56] EgorBo commented on #46529
It does look like a bug (reproduces on `[netcoreapp3.0 .. net6]`), a minimal repro:
[code]
Output:
[code]
Codegen for `Foo`:
[code]
/cc @dotnet/jit-contrib

[2021-01-04 14:58] tmds commented on #43349
@janvorli do you have some suggestion on what stand-alone applications I may try to run that could trigger this issue. So far I'm running the whole build+tests and see only 1-5 occurrences at random places. It would be nice if I could find something smaller but I don't know what I'm looking for.

[2021-01-04 15:27] EgorBo commented on #46529
Potential fix (works for the repros): https://github.com/EgorBo/runtime-1/commit/7a8d73898de08384294a75be18e1e68230a10998

[2021-01-04 15:29] meziantou commented on #46522
The way S.T.Json handle converters seems inconsistent:

- When serializing a single value, it works with `JsonConverter<IRepro<object>>`. => According to your comment, this shouldn't be the case?
- When serializing a collection, it throws an `InvalidCastException`. As a user, this exception seems like a bug in S.T.Json.
- When serializing a single value with a non-compatible converter (CanConvert

[2021-01-04 15:52] alnikola commented on #45958
I checked the test, it uses only the loopback server with timeout set to 3 seconds which seems reasonable in this case. So, it looks like yet another case of an unexplained test VM hang we observe from time to time.
cc: @karelz

[2021-01-04 15:55] alnikola commented on #45958
It's worth mentioning, there is another less probable option that the loopback server has some subtle bug that causes those unexplained hangs from time to time. But, I have not got any evidence supporting that theory so far.

[2021-01-04 16:16] weltkante commented on #46505
We are interacting with the `Socket` and `SocketAsyncEventArgs` only from the thread running on the `SynchronizationContext`, but as far as I understand `SocketAsyncEventArgs` are not synchronized with anything, so of course there could be a receive happening when we decide to terminate the connection. We do not block `SocketAsyncEventArgs` receiving more data while processing incoming data, so if

[2021-01-04 16:16] steveharter commented on #40386
@rajeshaz09 I assume you've measured against 5.0 .NET since there have been gains.

I see that MessagePack claims to be ~13x faster deserializing than Json.NET (no benchmark for STJ) for the case of "large array of simple objects". So if STJ is 2x as fast as Json.NET here, the 7 seconds for STJ vs. 2 seconds for MessagePack seems consistent, although note that the benchmark is for standard .NET Co

[2021-01-04 16:18] stephentoub commented on #44442
Thanks.

[2021-01-04 16:37] rajeshaz09 commented on #40386
@steveharter
Thanks for the reply. Yes I am using .NET 5.
Difference between STJ and MessagePack is more visible on low config machine.

I have powerful dev machine. I didn't see much difference (Hardly 1 second)  between  STJ and MessagePack with HighPerformance power setting. But I can see significant gap if I use Balanced/PowerSaver setting.

MessagePack is temporary solution, once we satisfy w

[2021-01-04 16:43] danmosemsft commented on #45813
dupe of https://github.com/dotnet/runtime/issues/45814

[2021-01-04 16:43] #45813 closed

[2021-01-04 16:43] danmosemsft commented on #45814
dupe of https://github.com/dotnet/runtime/issues/38756

[2021-01-04 16:43] #45814 closed

[2021-01-04 16:45] bartonjs commented on #38244
I believe most, if not all, of the BCL is American English spelling, so I think my vote is for making the parser here support both while leaving IntelliSense consistent as American English (even though I usually spell grey with an e).

[2021-01-04 16:49] danmosemsft commented on #38756
In the last 6 months, this is always on the same machine (actually always in Dec)

https://engsrvprod.kusto.windows.net/engineeringdata?query=H4sIAAAAAAAEAG2QTUsDMRCG74L%2fYeilLfRj7UkK68FWYQUVbcXzdDNtpt1NlkzWdsUfb7ItVkEITGaSeeZ9Z0niX0nqwgtcXnzBXpMjWDYVgXh0XvbsNXQWjXgqR3PGjbHiOZfRMnRKJ%2fZsLRvYsVEpG0MO3q3bZeG7gDU%2fSaZ%2b8e%2fZsGhScJOCQk%2beS%2bpNkkkyTK6HyRUk0ySe%2fn%2f0B7tqwSFm6oy8dWhyDWkKHUdrGWtC

[2021-01-04 16:49] weltkante opened #46532 "Add ConditionalWeakReference support"
Disclaimer: this is a copy of #30759 - I am very sory having to do this, but the original issue is not properly categorized and nobody was responding, presumably because the wrong people are subscribed and back then there was less automation. I understand that the number of open issues is overwhelming, but at the same time I'd like to contribute to getting this API in and nobody is responding. Sor

[2021-01-04 16:50] danmosemsft commented on #38756
@dotnet/dnceng could we please rebuild DDARM64-160? Seems the perf counters are corrupted.

[2021-01-04 16:54] danmosemsft commented on #38756
If this fixes it we should improve the message to give the machine name and suggest the perf counters are corrupted.

[2021-01-04 16:54] tannergooding commented on #38244
I think supporting parsing both without exposing both would be reasonable. We can then chalk the existing duplicates up as legacy/back-compat

[2021-01-04 16:54] stephentoub commented on #46532
What do you believe is the proper categorization?  @Maoni0 is tagged on that thread, and she is the the right person. Adding a duplicate isn't going to help speed it along.  I'm going to close this.  Thanks.

[2021-01-04 16:54] #46532 closed

[2021-01-04 16:55] janvorli commented on #43349
It is hard to say what app could repro the problem when we don't know where it is stemming from. However, I would recommend trying to repro it with coreclr pri 1 tests running with GC stress 3 (checked build of coreclr is needed for that to work). My guess is that it could raise the frequency of the problem considerably and might even get it repro in 90-100% cases on certain tests. Then you can pi

[2021-01-04 16:55] weltkante commented on #46532
I don't know, not having *any* response lead me to believe something was wrong. Thanks.

[2021-01-04 17:05] MattGal commented on #38756
I put it offline and am double checking it's the only one with this symptom;  I'm unfamiliar with "corrupted" perf counters, is there something we should investigate on the machine itself?

[2021-01-04 17:08] huoyaoyuan commented on #46522
It surprises me. I'd expect it not to work.

[2021-01-04 17:13] meziantou commented on #46522
You can run the code from the issue and check the result of the first serialization `Console.WriteLine(JsonSerializer.Serialize(new SampleRepro()));`. It seems to correctly calls the converter.

[2021-01-04 17:17] weltkante commented on #46509
What about caches? Won't even on a strong memory model the possibility exist that the variable in on the CPU cache and return the wrong value if you don't use `Volatile.Read` or a volatile variable modifier?

[2021-01-04 17:19] MattGal commented on #38756
Doing some quick reading it seems rebuilding perf counters isn't hard but given there could be other problems with the agent I created https://github.com/dotnet/core-eng/issues/11788 to reimage it.

[2021-01-04 17:34] davidfowl commented on #46505
@weltkante why aren't you using async/await in your implementation?

[2021-01-04 17:36] MattGal commented on #46484
Definitely something weird here; that job's technically not finished yet.  I am making an investigation and will reply back.

[2021-01-04 17:42] eiriktsarpalis commented on #46374
The analysis in the linked article seems valid, however it seems likely that the uniqueness invariant is accidental rather than intentional. @stephentoub might be able to provide context here.

If we do decide to update the docs it becomes part of the informal spec so any future regressions would be considered breaking changes. How could we effectively test for this kind of behaviour?

[2021-01-04 17:45] briansull commented on #44762
This is already fixed in 6.0 by #45134

[2021-01-04 17:46] briansull commented on #44895
This is already fixed in 6.0 by #45134

[2021-01-04 17:48] jkoritzinsky commented on #46512
I'll take a look.

[2021-01-04 17:51] weltkante commented on #46505
These didn't exist when the server code was initially written (its ported from a Mono codebase). Moving to async/await (and Span) certainly is on the long term roadmap for me.

[2021-01-04 17:54] #46208 closed

[2021-01-04 17:58] stephentoub commented on #46374
Yes, if that actually holds, it's a side-effect of the chosen implementation rather than a guarantee the dev was trying to make.

[2021-01-04 18:04] josalem commented on #36820
I have a couple brewing, but since we've merged the C version, I can put them in directly.  I can't think of any that you haven't already handled.

[2021-01-04 18:06] stephentoub commented on #44676
I'd be (happily) surprised if that worked well for regex.  I expect it'll fall into the cited escape hatch of two code paths, one for emitting IL and one for emitting C#.  But, maybe the exercise of doing the latter will prove me wrong.

[2021-01-04 18:12] JulieLeeMSFT commented on #44895
Good. Let's keep this open until .NET 5 fix is released in 5.0.3.

[2021-01-04 18:19] tannergooding commented on #46440
This isn't a regression. At least today, none of the built in `ToString(string format)` APIs support precisions over 99 digits. This is why, for example, we approved new variants that take an explicit precision for `float` and `double`: <https://github.com/dotnet/runtime/issues/30657>

It likely makes sense to propose a similar API for `BigInteger` so we don't need to take a breaking change here.

[2021-01-04 18:19] jeffhandley commented on #46515
/cc @pgovind

[2021-01-04 18:19] tannergooding commented on #46440
@assumenothing, if you could update the original post to include a proposal for an API similar to the one's approved for `float`/`double`, I can mark this as `api-ready-for-review`

[2021-01-04 18:21] pgovind commented on #46515
Thanks for the tag @jeffhandley. I just approved #46536 to fix this issue.

[2021-01-04 18:23] jeffhandley commented on #46515
#46536 looks good to me too. @tannergooding called my attention to this asking if this would meet the servicing bar; I think it will.

[2021-01-04 18:24] tannergooding commented on #45795
We already expose `BitOperations.RotateLeft` and `BitOperations.RotateRight`. Could you please clarify if you are looking for something additional?

[2021-01-04 18:24] MattGal commented on #46484
This is an interesting one.  It happened around 2020-12-31 00:28:27 UTC.  The job details from Helix API indicates we had an error sending the work to service bus and only sent the first batch of 50 items (so the remaining 190 could never finish). However, our logging got lost and Service Bus didn't report any errors itself in this time, so I've opened up two issues about my investigation:

[Helix

[2021-01-04 18:24] briansull commented on #46281
Looks like a duplicate of #44139

[2021-01-04 18:25] jeffhandley commented on #46515
Thanks for reporting this and contributing the tests, @ecorm!

[2021-01-04 18:27] tannergooding commented on #46396
What is the expectation for platforms that do not support scatter/gather?

For example, `scatter` is only supported on `AVX-512+` and `gather` is only supported in a limited capacity on `AVX2+`, so would this simply do a set of sequential stores/loads for those platforms and would assume they are non-sequential?

[2021-01-04 18:28] JulieLeeMSFT commented on #44762
Thanks. Let's keep this open until the fix is merged to 5.0.3.

[2021-01-04 18:32] briansull commented on #46281
We have a lot of similar issues:

@BruceForstall

[2021-01-04 18:32] briansull commented on #44139
We have a lot of similar issues:

@BruceForstall

Most likely some kind of infrastructure issue due to file locking.

[2021-01-04 18:36] briansull commented on #45098
Probably a duplicate of #44139

[2021-01-04 18:36] briansull commented on #41930
Possibly a duplicate of  #44139

[2021-01-04 18:37] briansull commented on #41931
Possibly a duplicate of  #44139

[2021-01-04 18:43] safern commented on #45233
Thanks for the info @RusKnyaz -- I'll try that one as well.

[2021-01-04 18:48] wfurt commented on #45958
I see only this one failure in Kusto.
I think we would need dump or a way to reproduce it.
Since this seems like oddball, I'm not sure Huw much effort we want to put into this.

[2021-01-04 18:54] safern commented on #46405
Thanks, @am11. I believe this is the correct/expected behavior from our side as that is what libgdiplus is returning us from our call to: https://github.com/mono/libgdiplus/blob/9efff6a9ed1c3286362270b704dcdcf7a2670d54/src/jpegcodec.c#L664

I believe the only action as @am11 pointed out here is to update the documentation to include the exception.

@Socolin where you expecting something different?

[2021-01-04 18:58] MattGal commented on #46381
Two things going on here:  first is https://github.com/dotnet/arcade/issues/5786 which we've discussed separately.

The second is that you shouldn't be modifying files in your correlation directory.  It's difficult to prevent this outside a docker container, but it's trivially easy to make it the law inside one since we're just mounting the correlation payload folder as a volume.  When you [opened

[2021-01-04 19:02] danmosemsft commented on #46381
Thank you @MattGal.

[2021-01-04 19:07] tommcdon commented on #46276
@davmason  would you mind taking a look?

[2021-01-04 19:13] tommcdon commented on #46276
Possible dupe to #46420

[2021-01-04 19:13] tommcdon commented on #46420
@davmason would you mind taking a look?

[2021-01-04 19:22] 89z opened #46540 "An update for template pack is available"
Every time I run this command now:

[code]

I get this:

[code]

I dont want DotNet checking for updates, ever. How do I disable this?

[2021-01-04 19:24] kendfrey opened #46541 "How should optional dependencies (plugins) work with deps.json?"
### Summary

We have an application referencing many libraries which are considered optional, and are only used as MEF plugins. Currently if one of these dlls is missing at runtime, the application fails to start with an error like "An assembly specified in the application dependencies manifest (MyApp.deps.json) was not found". We would like to deploy copies of our application with a subset of the

[2021-01-04 19:25] jkotalik opened #46542 "[QUIC] How to handle graceful connection shutdown"
See https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Quic/src/System/Net/Quic/Implementations/MsQuic/MsQuicConnection.cs#L370-L371

We'd like to be able to gracefully close an HTTP/3 connection without losing data. Ideally, if we call CloseAsync with a zero error code, either msquic or System.Net.Quic would wait for all streams to close.

[2021-01-04 19:40] karelz commented on #46430
Agreed, looks like a technical breaking change due to fixed bug. I don't think it makes sense to document it unless we see more people running into it and be surprised.

[2021-01-04 19:40] tannergooding commented on #46153
@safern, I don't think so. The `GetHue()` benchmark is: https://github.com/dotnet/performance/blob/4e14ecc54759224121b807c70e46fb1d9ee0e7d6/src/benchmarks/micro/libraries/System.Drawing/Perf_Color.cs#L72-L81
[code]

While the implementation of `GetHue()` is:
https://github.com/dotnet/runtime/blob/5078dd61a81c88dbdd131a77b8148b4dee3803fa/src/libraries/System.Drawing.Primitives/src/System/Drawing/Co

[2021-01-04 19:42] tarekgh commented on #45843
@mjeanrichard you have the choice when creating any new Activity using `ActivitySource.StartActivity` to pass the parentContext which will set the parent Id. So you have control over what parent you want to have to the created Activity. If you want to ensure the Parent Activity is always created even if there is no listener, then use `new Activity(...)` and start it instead of using `ActivitySourc

[2021-01-04 19:42] #45843 closed

[2021-01-04 19:42] BruceForstall commented on #46281
Yes, looks like a dup

[2021-01-04 19:42] #46281 closed

[2021-01-04 19:44] tarekgh commented on #44789
Closing this one per the PR https://github.com/dotnet/runtime/pull/45079

[2021-01-04 19:44] #44789 closed

[2021-01-04 19:44] BruceForstall commented on #44139
Seems like we should add some more checking/retry logic. E.g., make sure the .dasm.il file exists before assembling, then retrying once or twice (after waiting) if it fails with a "Could not open" error. Maybe ildasm crashed and it actually doesn't exist?

[2021-01-04 19:45] huoyaoyuan commented on #46541
https://docs.microsoft.com/en-us/dotnet/core/tutorials/creating-app-with-plugin-support

I think this is the documentation you need. Each optional assembly should be treated as a plugin and loaded dynamically.

[2021-01-04 19:46] tannergooding commented on #46259
While I think it would be nice to optimize the pattern, I think it's also really counterintuitive to how you would typically write .NET code and how most .NET users think about exceptions, their side effects, etc.
Also, if performance is involved, you would always have a comment around the above saying "this is not actually expensive because the JIT does the right thing".

[2021-01-04 19:49] tannergooding commented on #45793
I agree. I think this is something that can be handled by a 3rd party library/package.

[2021-01-04 19:49] #45793 closed

[2021-01-04 19:50] jkotas commented on #46259
I agree, however we have prior art in `static ReadOnlySpan<byte> ThisDoesNotActuallyAllocate => new byte[123] { ... };`.

[2021-01-04 20:17] Marusyk commented on #45149
Ok, so, can I start implementing this?

[2021-01-04 20:18] vitek-karas commented on #46524
The `dotnet` executable is just a runner - it will exit with whatever exit code the managed application it runs returns from its Main. For example, if I have a console app `MagicalNumber` which has main like this:
[code]

And then run it:
[code]

That command will produce exit code `42`.

So the answer to your question depends on what managed application was it running? What is the command line wh

[2021-01-04 20:28] jkoritzinsky commented on #46512
I've been able to triage it. These failures are happening since the only place we block Tiered Compilation for UnmanagedCallersOnly is when we load the UnmanagedCallersOnly method from a R2R image. We don't block it when we JIT the method. #45625 removed R2R support for UnmanagedCallersOnly in crossgen1, so that's why the failures started happening now.

The issue is that UnmanagedCallersOnly meth

[2021-01-04 20:33] jrahma opened #46545 "varchar type not accepted"
Hi,

I have a varchar field in my database and I am storing mobile number starting with leading zero

in my JSON I am using:

`public string mobile { get; set; }
`
but it is assuming the field is int and throwing an error failing to convert int to string

[2021-01-04 20:34] safern commented on #46410
Thanks @Socolin. I was able to get a repro for this and I see that the issue is mainly coming from [libgdiplus](https://github.com/mono/libgdiplus). The problem is that the image format a bitmap is created when using the `Bitmap(int, int)` constructor, the image format is set to `MemoryBMP` [here](https://github.com/mono/libgdiplus/blob/9efff6a9ed1c3286362270b704dcdcf7a2670d54/src/bitmap.c#L869).

[2021-01-04 20:39] briansull commented on #44139
@BruceForstall Do you on anyone else understand how this IlAsm/IlDasm roundtrip testing is supposed to work?

[2021-01-04 20:45] AaronRobinsonMSFT commented on #46512
I agree with this. I assume that these methods will simply be JITed for tier1 instead of tier0?

Do we know how baked in this assumption is in the implementation?

/cc @kouvel

[2021-01-04 20:58] jkotas commented on #46512
Sounds good to me.

[2021-01-04 20:58] kendfrey commented on #46541
We already do this (using MEF). My question is not about how to load assemblies.

[2021-01-04 20:59] HurricanKai opened #46546 "Internal CLR Error from GC.AllocateUninitializedArray"
### Description
I'm fidling with Vulkan Allocation Callbacks, and uses the POH to do so.
This means I'm in a `[UnmanagedCallersOnly]` method, and from there I call `GC.AllocateUninitializedArray(size, true)` with the size given to me.
I account for some alignment and have a small header (consisting of the original alignment and the GCHandle)
I allocate a GCHandleType.Normal GCHandle for the POH ar

[2021-01-04 21:04] Socolin commented on #46405
I was expecting to be able to fully parse an image from a stream without having to write it on a disk.

Without this feature (and the 2 other bug I've post ~ at the same time) I'm going to switch to another library.

[2021-01-04 21:09] BruceForstall commented on #44139
fyi, that logic comes from https://github.com/dotnet/runtime/blob/6553a49e1b501cd3c40ef64999475fecad1c9f19/src/tests/Common/CLRTest.Execute.Batch.targets

I was thinking we add something like:

[code]

of course, it has to be implemented for both Linux/bash and Windows/cmd.

[2021-01-04 21:11] kouvel commented on #46512
They would be generated with optimizations but without the tier1 flag, which is probably similar at the moment.

Call counting is currently done at the boundary of the call, when it reaches the call count threshold for promotion it currently uses coop mode to synchronize with deleting call counting stubs, that ensures that a call counting stub would not be deleted while managed code is running thr

[2021-01-04 21:11] jkotas commented on #46512
The call counting reclamation strategy uses GC mode for synchronization, so it is pretty baked in.

https://github.com/dotnet/runtime/blob/69e114c1abf91241a0eeecf1ecceab4711b8aa62/src/coreclr/vm/callcounting.cpp#L733

[2021-01-04 21:11] safern commented on #46411
Thanks, @Socolin. Just as in the other issues you opened this unfortunately seems like a `libgdiplus`, `bug/limitation`. It seems like when we are loading from stream, we depend on the loader that reads the information from the stream. It is created here:  https://github.com/mono/libgdiplus/blob/9efff6a9ed1c3286362270b704dcdcf7a2670d54/src/image.c#L2266.

Then when the image info is read from the

[2021-01-04 21:21] safern commented on #46405
I see... you should be able to as long the image is valid as `libgdiplus` checks for validity of images when loading an image either from a file or a stream.

Sounds good. Note that we added `Unix` support using `libgdiplus` for compat only and since we don't maintain `libgdiplus` we can't promise a release cadence or bug fixing that is on pair with `System.Drawing.Common`. So in the docs we've ad

[2021-01-04 21:25] safern commented on #46468
Thanks, @am11. Closing since this is a libgdiplus issue.

[2021-01-04 21:25] #46468 closed

[2021-01-04 21:26] TourajOstovari commented on #45795
Yes, sir I saw it.
but we should be able give bitarray to the method's arguments and method do Rotate Circular shift to the bitarray, while pointed method is earning number not a bitarray.
if you be able develop fast and extension method like for bitarray would be great.
Thanks for your reply sir.
I am happy for having bitarray because I am doing cryptography tasks too.
(I want to give method mine

[2021-01-04 21:28] tannergooding commented on #45795
Just to confirm, you are saying you want `RotateLeft` and `RotateRight` methods for `System.Collections.BitArray`?

[2021-01-04 21:29] safern commented on #46484
Let's leave it open for a little while with the `blocking-clean-ci` label to raise visibility and see if we get any other hits before closing it here in dotnet/runtime as having an issue here helps discoverability.

[2021-01-04 21:35] agocke commented on #45705
Hmm, doesn't read very well to me. `SingleFileUnsupported` is pretty self-explanatory, but `RequiresOriginalAssemblies` seems really confusing -- I'd have to read docs to figure out what that means.

[2021-01-04 21:39] agocke commented on #45705
@terrajobst Did you want to sound off on the platform capability design and how it could fold into single-file analysis? I laid out some options in https://github.com/dotnet/runtime/issues/45705#issuecomment-74083135.

I think the main question is -- is there an extension of the existing platform capability design that would fold in single-file analysis?

[2021-01-04 21:41] safern commented on #46153
Hmm interesting. I thought it impacted the `FromArgb_AlphaColor` benchmark, but that one just does Math operations as well.

Do you see anything in between that commit range that could've caused this?

[2021-01-04 21:43] stephentoub commented on #46261
CanPeek / TryPeek was approved here:
https://github.com/dotnet/runtime/issues/31362

With that, someone could implement their own async peeking, e.g.
[code]
I don't think we should expose a PeekAsync method, though.  It would need to be robust against multiple consumers (so there would be a loop around the WaitToReadAsync and TryPeek, looping if TryPeek returns false), but with multiple consumers,

[2021-01-04 21:44] tannergooding commented on #46153
Nothing obvious pops out. It shouldn't even be because of the new color, since it wasn't added to `AllKnownColors`.

[2021-01-04 21:46] mangod9 commented on #46546
Hi @HurricanKai, Do you have a simple repro for this which you could share?  Thx!

[2021-01-04 21:51] tarekgh commented on #43119
@Kaelum sorry for this long delayed answer.

can't you just publish the files with your app and then open them with System.IO APIs? something like:

[code]

which will publish the file `ResourceFile.txt` with your app and then you can open that file with File APIs.

[2021-01-04 21:54] briansull commented on #44139
The issue could also be `IlDasm` failing for out of space or some other reason?

[2021-01-04 21:58] HurricanKai commented on #46546
Unfortunately not - this very likely has something to do with the repeated transition through vulkan, which I have no clue how to reproduce accurately. The Project is open-source but requires the Vulkan SDK in Debug Mode. I've pushed the experimental changes [here](https://github.com/Ultz/Silk.NET/blob/21961013e2c802c46e3bbdb3748998e4c1c0a996/src/Aliquip/Aliquip/AllocationCallbacksProvider.cs) in

[2021-01-04 22:03] TourajOstovari commented on #45795
Yes sir.
I want to do  have rotate circular shift for the bitarray.
Please add some comments to other shift methods of bitarray.
I do not know what is it doing?! I am pointing already available right and left shifts for the bitarray collection that what they are doing! Are they logical bit shift array?!

[2021-01-04 22:09] briansull commented on #44139
it has to be implemented for both Linux/bash and Windows/cmd.

All of the reported failure are on Windows, I'm not sure if we are running IlDasm/IlAsm roundtrip testing on Linux.

[2021-01-04 22:10] jkotas commented on #46546
https://github.com/Ultz/Silk.NET/commit/21961013e2c802c46e3bbdb3748998e4c1c0a996#diff-3e154fc0afd7db2f87c1016eccf444ab4b992ed3b8195a0d13883f63f86d55d2R53 seems to be writing before the start of the array payload.

[2021-01-04 22:13] tarekgh commented on #45323
@Genbox I am closing this issue as I think I already answered your question. Feel free to send any more questions if you have any and we'll be happy to help with.

[2021-01-04 22:13] #45323 closed

[2021-01-04 22:16] Kaelum commented on #43119
@tarekgh not if you want to use the ResourceManager, which is the entire reason for doing this.  Plus, you can't upgrade any .NET Framework application that requires this to work as expected.

Yes, if you don't need to use the ResourceManager, and are willing to manually load every single file into a string, you could do that, but that is not what I am talking about.  Simply dragging and dropping

[2021-01-04 22:23] tarekgh commented on #43119
@Kaelum I think currently there is no easy way to link a resources in the net core projects. But it can possible customize some targets to achieve the result.

@rainersigwald do you know any way in msbuild that can support https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/linkresource-compiler-option in net core app projects?

CC @ericstj if he has any ideas too.

[2021-01-04 22:26] #46338 closed

[2021-01-04 22:37] rainersigwald commented on #43119
It looks like the standard C# target consumes the `@(LinkResource)` item:

https://github.com/dotnet/roslyn/blob/6671eb6534eb024448040a6d1ee5d700ae3ff550/src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets#L106

Per [its docs](https://docs.microsoft.com/visualstudio/msbuild/csc-task)

[2021-01-04 22:45] lucapivato opened #46556 "String.Concat throws OutOfMemoryException"
Is there a memory limit to the mono wasm?
I'm testing with the latest .NET 5 and Blazor client side, which seems to be mono, and a loop like this:

        for (int i = 0; i < 1300; i++)
        {
            s += new string('A', 1000);
        }

throw this:

blazor.webassembly.js:1 crit: Microsoft.AspNetCore.Components.WebAssembly.Rendering.WebAssemblyRenderer[100]
      Unhandled exception rend

[2021-01-04 22:53] briansull commented on #44040
@AndyAyersMS

Would the code that you have added to do tail duplication of conditional blocks possibly kick in here?

If this block below were duplicated so that it had only one predecessor for each copy we could use assertion prop to fold away the conditional branch for the inner loop.
[code]

[2021-01-04 22:54] Maoni0 commented on #30759
I'm wary of exposing DH because of perf. currently DH handling is not really optimized (especially scanning them which is done during the STW part of a background GC). I do have a design to make it optimized but it's work that didn't make onto our agenda for the near future. I was already seeing DH usage abused via CWT so I didn't want to expose yet more things that use DH.

I think the usage you

[2021-01-04 22:58] briansull commented on #44139
I built the Priority=1 tests locally and run this test 100 times on my system
But it didn't repro for me on my system.

[2021-01-04 23:01] #38756 closed

[2021-01-04 23:04] noahfalk commented on #27002
@vancem retired a good while ago, I think ownership of this issue should have passed to my team. Sorry this has been causing trouble. I updated the title to reflect that this issue is about supporting EventLog and changed the milestone back to .NET 6. That doesn't mean we are promising to fix it, but I'd like to at least understand what is involved. While I have a fair amount of knowledge about Ev

[2021-01-04 23:09] bruno-garcia opened #46552 ".NET 6 Mono: Line numbers in stack traces."
What will be the strategy to retrieve line/column numbers and file path from Mono stacktraces in .NET 6?

Some background: Mono generates stack traces which include the assembly module version id (`<mvid>`) for errors when running on MonoVM. This is the default for Xamarin.Android and Unity standalone and on Android (where they use Mono JIT).

With Mono AOT, the format is `<mvid#aotid>`, which is

[2021-01-04 23:23] colgreen opened #46553 "ArraySortHelper.cs: Possible unnecessary bounds checks"
This relates to the PickPivotAndPartition() method, of which there are four implementations within ArraySortHelper.cs. The four are:

    1. ArraySortHelper<T>
        private static int PickPivotAndPartition(Span<T> keys, Comparison<T> comparer);

    2. GenericArraySortHelper<T>
        private static int PickPivotAndPartition(Span<T> keys)

    3. ArraySortHelper<TKey, TValue>
        private s

[2021-01-04 23:33] tommcdon commented on #44503
Thank you!  I have received the dumps and we are investigating.

[2021-01-04 23:35] am11 commented on #33541
Update: the false-positive bug (https://godbolt.org/z/YZnRvq) was fixed in gcc 9.3+, 8.4+ and 10.0+. The GCC CI leg in master branch was today upgraded from gcc 7.3.1 to 9.3.1.

The remaining bitfield warnings are real, but not critical. However, they are on the edge of being critical, it seems.

Actually both GCC and Clang complain about e.g. https://github.com/dotnet/runtime/blob/0e951b138982495

[2021-01-05 00:00] weltkante commented on #30759
This sounds like you expect having to reshape the infrastructure in order to support this performantly? Otherwise, if the infrastructure is going to remain the same and just needs to be optimized how the GC implements it, there is no harm in exposing it as counterpart to WeakReference, it will only get faster than having to abuse CWT (no lock contention for a shared CWT, less general overhead over

[2021-01-05 00:02] marklio commented on #45149
Since ObjectDisposedException derives from InvalidOperationException, this doesn't even qualify as a breaking change. It is certainly possible to imagine scenarios where this can break user code, but those are not typically invoked for .NET Core changes. This seems completely in line with changes we'd take for a .NET Core major release.

[2021-01-05 00:16] lucapivato commented on #46556
My bad. Wrong loop, will test again.

[2021-01-05 00:25] Maoni0 commented on #30759
I just meant in this case the "complex type" provides the same things we'd provide for a DH. for a DH you also need the Set/Get key/value anyway.

[2021-01-05 00:29] stephentoub commented on #46553
This is by design.  An erroneous comparer code cause the loop to walk off the end of the span,  otherwise. With the indexer,  the runtime provides bounds check,  but when using unsafe code,  we need to make absolutely sure the code is still safe even in the face of a poorly-implemented comparer.

In general we shy away from using unsafe code for performance except for critical,  hot-path functions

[2021-01-05 01:02] #45867 closed

[2021-01-05 01:07] #45090 closed

[2021-01-05 01:17] kunalspathak commented on #46391
@AndyAyersMS  is right. When building the intervals, we assign `rcx` to the parameter 'a', but when we see that there is a call, we kill the callee-saved registers and [update the preference](https://github.com/dotnet/runtime/blob/8b8a3fca1ace915d13c221d0fb3a794da2eef823/src/coreclr/jit/lsrabuild.cpp#L1195) of the corresponding interval to exclude them. There is potentially a [CQ item to not do](h

[2021-01-05 01:18] echesakovMSFT commented on #43789
Thank you for following up, Tamar! I've heard about this instruction but, for some reason, I was under (wrong) impression that it required EL1 or higher. Is there any alignment requirement for the address in `<addr-reg>`? My copy of reference doesn't say so.

[2021-01-05 01:23] bartonjs commented on #46526
I thought we already had an issue tracking this, but apparently it was just on my implicit TODO.  So now this is the issue tracking working with OpenSSL 3.  (Which we may have to service... at least, I think we did for 1.0/1.1 hybridization)

[2021-01-05 02:19] assumenothing commented on #46440
Alright, I just updated the title and contents of the original post to reflect those changes. Thanks for pointing out the related issue that I could use as a template.

[2021-01-05 02:45] jkotas commented on #46184
@AaronRobinsonMSFT @jkoritzinsky There seems to be a bug in interop sharing of IL marshalling stubs. We do not include SuppressGCTransition in the sharing key, and thus can end up using SuppressGCTransition  IL marshaling stub for non-SuppressGCTransition case, or vice versa.

I just helped @trylek to debug a crash that was caused by this problem. I think we should consider fixing it in servicing.

[2021-01-05 03:06] AaronRobinsonMSFT commented on #46184
@jkotas Agreed. I was chatting with @elinor-fung about this today actually and she was thinking it was a caching bug. Not taking this attribute into consideration is definitely an issue - boo.

[2021-01-05 04:15] danmosemsft commented on #46545
Hello @jrahma unfortunately there isn't enough information here to help you. What data access API are you using? How are you integrating JSON with it?

What is the callstack of the exception?

A minimal repro, or something close, that you can paste in here would be helpful.

[2021-01-05 04:15] danmosemsft commented on #46545
Just guessing at the label for now.

[2021-01-05 04:54] huoyaoyuan commented on #46541
There are sections about plugin dependencies, which should be useful.

[2021-01-05 04:59] jasonpugsley commented on #14537
A little more on terminfo, there is an existing thread https://github.com/dotnet/runtime/issues/23653 discussing the possibility of adding termcap support to the runtime but I think it might be easier to provide user instructions to generate a terminfo database in directory tree layout, that's what I ended up doing, though that might be a bit advanced for part of the audience?

I don't know how li

[2021-01-05 05:29] #45531 closed

[2021-01-05 06:26] vargaz commented on #45698
Should be fixed by
https://github.com/dotnet/runtime/pull/46534

[2021-01-05 06:28] ericstj commented on #46209
Yes, at least given how we build today.  Assumptions are made by the SDK that we have the same set of assemblies on all runtimes.  This lets the SDK know when it needs to include an assembly in a framework dependent app or not.  We wouldn't want a runtime agnostic app to depend on registry and get a FNFE instead of PNSE on Unix.  We could lie about registry being in the framework, but then apps wo

[2021-01-05 06:46] boukenka commented on #46261
Thank you @stephentoub for your comments. 😄

I will then wait for version 6 of .NET (or a possible preview) to use ```.CanPeek``` and ```.TryPeek```.

[2021-01-05 06:46] #46261 closed

[2021-01-05 06:46] kjpou1 opened #46566 "[browser][tests] Potential memory leak of cached Completion Task"
Test [TestNullTarget_CompletionNoCaching](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Threading.Tasks.Dataflow/tests/Dataflow/DataflowBlockExtensionTests.cs#L119-L132) failing with the following:

[code]

Comments inside test:
[code]

[2021-01-05 06:46] ishepherd commented on #45190
Can any of these be plugged in naturally by a 3rd party if they had the right extensibility support?

A 3rd party library can evolve so much easier than .NET

[2021-01-05 07:18] eiriktsarpalis commented on #46169
Hi @TourajOstovari, would you be able to file an issue follow the [api review process](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md)? Basically we'd need a list of the new proposed APIs as well as a few code samples.

[2021-01-05 07:44] eiriktsarpalis commented on #46357
IIUC the proposal pertains to exposing managed wrappers for the Win32 [ReadProcessMemory](https://docs.microsoft.com/en-us/windows/win32/api/memoryapi/nf-memoryapi-readprocessmemory)/[WriteProcessMemory](https://docs.microsoft.com/en-us/windows/win32/api/memoryapi/nf-memoryapi-writeprocessmemory) functions? W.r.t. making it cross-platform there seem to exist [Linux-specific syscalls](https://man7.

[2021-01-05 07:55] sirinath opened #46568 "Generalised Intrinsic"
Can we have generalised intrinsic which are not dependent on any particular platform. This can follow the approach used in [SIMDe ](https://github.com/simd-everywhere/simde) but not limited to SIMD instructions. Also the intrinsic can be more generalised. Also there should be a generic or platform specific fall back for platforms which do not directly support a particular intrinsic.

[2021-01-05 08:00] Clockwork-Muse commented on #46545
Maybe it's trying to read the string as a number?

What are your Json serialization options, particularly [number handling.](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.serialization.jsonnumberhandling?view=net-5.0).  Note there is specifically an option to treat string fields as numbers if they're "parseable"

[2021-01-05 08:10] eiriktsarpalis commented on #27687
I'm simply arguing that the particular signature is not defining an intersection operation, at least from a strict set theoretic perspective. If the point of the *By methods is to provide an alternative to the [existing `Except` method](https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.except?view=net-5.0#System_Linq_Enumerable_Except__1_System_Collections_Generic_IEnumerable___0_

[2021-01-05 08:49] eiriktsarpalis commented on #20619
FWIW I found at least two instances in the [ImmutableInterlocked class](https://github.com/dotnet/runtime/blob/867ba801d1a609f4cbb6e5847a3ec030adb2d8f4/src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableInterlocked.cs#L454) where `Comparer<TValue>.Default` is hardcoded when determining value equality. This is almost certainly accidental. We should either follow th

[2021-01-05 08:50] campersau commented on #46514
The default for these JSON methods is to use `camelCase` and not `PascalCase` / `CamelCase`.
Here are the corresponding code references:

https://github.com/dotnet/runtime/blob/1d9e50cb4735df46d3de0cee5791e97295eaf588/src/libraries/System.Net.Http.Json/src/System/Net/Http/Json/JsonContent.cs#L22

https://github.com/dotnet/runtime/blob/1d9e50cb4735df46d3de0cee5791e97295eaf588/src/libraries/System.T

[2021-01-05 08:53] GSPP commented on #27687
I do not believe there is a lambda-taking existing method. A comparer certainly is different from a `keySelector` for two reasons:

1. Creating a custom comparer is so much code overhead that it often is not worth it. A key innovation in LINQ was that comparers could often be replaced with a lambda expression. That was magical back then.
2. The `keySelector` moves the comparison from the main item

[2021-01-05 08:58] karelz commented on #40935
@Jozkee can you please check the triage here?

[2021-01-05 09:01] karelz commented on #46514
cc @Jozkee

[2021-01-05 09:12] eiriktsarpalis commented on #39703
As illustrated in https://github.com/dotnet/runtime/pull/46166#issuecomment-754168515 many classes inheriting from `CollectionBase` depend on the current throwing behaviour. So in the interest of maintaining compatibility, we will preserve the current behaviour even though it is inconsistent with `IList` specification.

[2021-01-05 09:12] #39703 closed

[2021-01-05 09:19] colgreen commented on #46553
Thanks @stephentoub . In which case, I may look into the performance differential between unsafe vs safe code, as (a) My suspicion is that the difference will be minimal due to JITter improvments, and (b) it does cause a functional difference, i.e., the safe code will throw an index-out-of-range exception, whereas the unsafe code will continue executing the overall sort routine.

I appreciate ther

[2021-01-05 09:24] xanatos opened #46569 "Strange Contains and IndexOf handling of "\0" in .NET 5.0"
The new ICU handling of strings seems to have a problem with `"\0"` in .NET 5.0

    Console.WriteLine($"Ordinal Contains null char {"test".Contains("\0", StringComparison.Ordinal)}");
    Console.WriteLine($"OrdinalIgnoreCase Contains null char {"test".Contains("\0", StringComparison.OrdinalIgnoreCase)}");

    Console.WriteLine($"CurrentCulture Contains null char {"test".Contains("\0", StringCom

[2021-01-05 09:38] karelz commented on #43521
Verified that it works on 5.0, but fails on 3.1. Marking as fixed in 5.0.

[2021-01-05 09:38] #43521 closed

[2021-01-05 09:44] karelz commented on #46098
Triage: No response, closing. Feel free to reopen when there is more info available to make it actionable. Thanks!

[2021-01-05 09:44] #46098 closed

[2021-01-05 09:46] gfoidl commented on #46568
Is [Use SIMD-accelerated numeric types](https://docs.microsoft.com/en-us/dotnet/standard/simd) something you have in mind?

[2021-01-05 09:47] karelz commented on #45810
@marek-safar who can help to triage this issue?

[2021-01-05 09:48] xanatos commented on #43736
I'm getting 24 and 24 on .NET 5.0 *today*. Tested both without explicit culture, Current and Invariant.

[2021-01-05 10:05] kjpou1 commented on #45538
Closed via https://github.com/dotnet/runtime/pull/45470

[2021-01-05 10:05] #45538 closed

[2021-01-05 10:12] tmds commented on #45755
I still can't build the runtime repo. I'm still seeing errors from https://github.com/dotnet/runtime/issues/45755#issuecomment-742373031. I sent you a mail with logs.

It's weird no one else is seeing this. I created a new user on my system to rule out something in my HOME causes the problem. Also for this user, I get the same errors.

[code]

[2021-01-05 10:14] isolin opened #46570 "Exception.StackTrace missing the peek level in C#"
After holidays I started to notice strange inconsistent behavior when an exception gets thrown in C#, that is within the `catch` block. When I append 'Exception.StackTrace' to a `string`, also when I evaluate it in the debug console, it skips the line where it occurred. The first line that gets reported is one level above in the stack. However, when I hover with the mouse over the variable contain

[2021-01-05 10:14] msallin opened #46571 "Add Tags and Baggage to LogScope using ActivityTrackingOptions"
## Background and Motivation

Since .NET 5 the `LoggerFactoryScopeProvider` can be configured using the `ActivityTrackingOptions`, to add the SpanId, TraceId, ParentId, TraceStateString and TraceFlags to the scope. The SpanId, TraceId and ParentId are added by default when using `Host.CreateDefaultBuilder()`.

In our use case, we implement a own `ConsoleFormatter` which writes the log lines as key

[2021-01-05 10:21] msallin commented on #46571
area label: area-Extensions-Logging

[2021-01-05 10:22] msallin commented on #46571
Releated issues:

- https://github.com/dotnet/runtime/issues/35209
- https://github.com/dotnet/runtime/issues/34305

[2021-01-05 10:30] sirinath commented on #46568
What I had in mind is having additional functionality in `System.Runtime.Intrinsics` which is not platform specific and extensive bringing it in parity with C/C++/Fortran so there is not need to call native code for simple fucntionality. This should not be limited to SIMD instructions. This can bring .net in parity with C/C++/Fortran intrinsics, built-ins, pragmas, etc. in a platform independent w

[2021-01-05 10:44] lateralusX commented on #45524
Crash should be fixed by https://github.com/dotnet/runtime/pull/46573. PR also re-enables the Windows x64 Release CI lane.

[2021-01-05 10:49] lateapexearlyspeed commented on #46477
Hi @tarekgh Based on issue description, I just try to have a look and change the related code, seems changing DTString.Match() cannot fix issue but the description of DTString.Match make me notice [here](https://github.com/dotnet/runtime/blob/21baf31b19ebdc79ee400e44c212b983add00501/src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeParse.cs#L3000) . I traced code and found when

[2021-01-05 10:56] badamczewski opened #46592 "Multi-Conditional Switch Statements produce sub-optimal JIT code"
Tested on: Core CLR v5.0.120.57516 on amd64

Switch statements that are multi-conditional produce C# code that will favor the forward branch when the case is true and an unconditional jump when the case is false. This will result in a jump in both situations.

The reason for this that JIT favorous forward branches as taken and C# rewrites the code in such a way that will put a break in the branch

[2021-01-05 11:00] HurricanKai commented on #46546
Seems that was the issue. Thanks!

[2021-01-05 11:00] #46546 closed

[2021-01-05 11:09] Wraith2 commented on #46568
Assuming that intrinsics implemented by any given platform are higher performance than doing the same work without them because otherwise there would be no reason for their existence, what is the benefit of doing what you suggest? It would allow you to write more complex code that ran slower and that doesn't seem helpful.

[2021-01-05 11:16] TourajOstovari commented on #45795
When would you add this feature to bitarray?

[2021-01-05 11:36] stephentoub commented on #46553
It's caught higher in the stack.

It was quite measurable here the last time I looked several months ago.

[2021-01-05 12:04] SingleAccretion commented on #46391
I see. That is a bit unfortunate for methods like these:
[code]

Since that's the case, sure.

[2021-01-05 12:04] #46391 closed

[2021-01-05 12:05] benaadams commented on #46569
/cc @GrabYourPitchforks @tarekgh

[2021-01-05 12:07] benaadams commented on #46570
Do you have `[MethodImpl(MethodImplOptions.AggressiveInlining)]` on `SomeClass.SomeRoutine`?

[2021-01-05 12:12] sirinath commented on #46568
Code that runs faster in supported platforms but still work without modification in others.

[2021-01-05 12:18] jrahma commented on #46545
I am using the System.Text.Json

[2021-01-05 12:43] colgreen commented on #46553
If you have any performance test code that you think I could use then feel free to point me to it (or send it my way). E.g. code that tries a range of different scenarios (different ordered data, and data types).

My expectation is that either (a) your optimisation will still be faster (given that you observed that recently), or (b) the safe span indexer approach will match performance, which woul

[2021-01-05 12:50] adamsitnik commented on #45149
@Marusyk yes, please

[2021-01-05 12:50] Wraith2 commented on #46568
Intrinsics code should always be written with general fallbacks and guarded by availability checks. A good example of this is the string comparison code in .net 5. The downside of this is that there are multiple code paths for the same operation, the upside is that each variation is entirely optimized for the instructions that are available to it.

If the only version that were provided is the mos

[2021-01-05 12:55] stephentoub commented on #46553
If we could get equivalent performance here without using unsafe code,  we would happily accept a PR.

There are some sorting tests in the dotnet/performance repo. I suggest starting with those.
https://github.com/dotnet/performance/blob/master/src/benchmarks/micro/libraries/System.Collections/Sort.cs

You might also use the microbenchmarks from:
https://github.com/dotnet/coreclr/pull/27700

[2021-01-05 12:59] kendfrey commented on #46541
I read it but I didn't see anything that helps with my specific question. If the solution to my problem is somewhere in there, please point me to it directly, as it is not clear.

[2021-01-05 13:11] marek-safar commented on #45810
There are no details about the error (the log is gone) to see if it could be MonoVM related or not.

[2021-01-05 13:24] 0xced opened #46577 "The CultureInfo named "/" might stall the dotnet process on macOS/Linux"
### Description

Running the following code completely stalls the dotnet process:
[code]

[code]

The line `cultureInfo.Name = '/'` is printed but the line `cultureInfo.NativeName = …` is never written to the console and the process is stalled. When breaking in the debugger we can see the following stack trace:

[code]

The native frame corresponds to the call to [Interop.Globalization.GetLocaleIn

[2021-01-05 13:46] KalleOlaviNiemitalo commented on #27002
I tried to debug this on .NET 5.0.1. `eventRegister.exe` from Microsoft.Diagnostics.Tracing.EventRegister/1.1.28 could not load EventSourceTest.Logging.dll, so I added code to write the manifest out:

[code]

and then built a DLL for it:

[code]

<details>
<summary>EventSourceTest.man</summary>

[code]

</details>

Then ran that in WinDbg with [dotnet-sos](https://docs.microsoft.com/en-us/dotnet/c

[2021-01-05 14:22] msmolka opened #46580 "The purpose of EmailAddressAttribute?"
For security reasons regex validation was removed from this attribute. So it is now not doing any reasonable validation. It can cause big misleading when users annotate their models with this attribute to makes sure valid email address is provided and then be hit by email provider/smtp/imap senders that invalid email address was provided.

I know for backward compatibility it is required, but shou

[2021-01-05 14:27] vitek-karas commented on #40103
Note that there are existing tests around `FullyQualifiedName` which are wrong. https://github.com/dotnet/runtime/blob/master/src/installer/tests/Microsoft.NET.HostModel.Tests/AppHost.Bundle.Tests/SingleFileApiTests.cs

These tests don't use SDK to produce the single-file, they use SDK to produce a self-contained build of an application and then run the bundler manually to "convert" it to a single

[2021-01-05 14:35] karelz commented on #44686
The Azure App Service incident number is 219225320 if anyone works with support to get update / more information.

[2021-01-05 14:40] nixxholas commented on #44897
Greetings everyone, would the .NET core developers have any assistance we developers can do to accelerate or aid in progress? Would love to do so!

[2021-01-05 14:42] am11 commented on #46577
SOS' dumpstack suggests that is it stuck in libicucore's `ures_getByKeyWithFallback` function:

[code]

[2021-01-05 14:47] janvorli commented on #44897
@nixxholas thank you for your offer. Currently, we are waiting until Apple releases a macOS beta with next round of fixes to the issues we have reported to them. Then we can continue the effort or maybe things will just start working. All the results of investigations we've done before Christmas were reported to Apple and we haven't found new ones since then.

[2021-01-05 14:48] eiriktsarpalis commented on #27687
Perhaps I didn't phrase my original statement very well: I'm not claiming that there currently is a method accepting a lambda, but that the proposed `ExceptBy` method could be considered an overload of the existing `Except` methods (the `By` suffix being a convention for methods that define equality via projection). As such I think that any addition should adhere to what the existing methods do ra

[2021-01-05 15:47] janreiner opened #46582 "Expression Evaluation fails only for Nullable<decimal> on .Net Core 3.1"
### Description

I have some code that tries to validate a value with some rules. The code is running perfectly fine on .NET Framework 4.7.2, but has some weird behavior if running on .Net Core 3.1.
The rules are generated as `System.Linq.Expressions.Expression`. One rule checks whether a value is equal to `null` or if it is greater than 0. So it is similiar to `value => value == null || value > 0

[2021-01-05 15:50] stephentoub commented on #46006
ManualResetValueTaskSourceCore was shipped in order to make it easier for developers to create their own IValueTaskSource implementation.  Most implementations have something special they want to do, such as reusing some other object as the IValueTaskSource, or automatically resetting the instance when awaited, or some such thing, which is why we've not shipped a ManualResetValueTaskSource that ju

[2021-01-05 15:50] #46006 closed

[2021-01-05 15:52] JeffAshton opened #46583 "System.Memory (5.0.0)"
Are there plans to release a 5.0.0 version of [System.Memory](https://www.nuget.org/packages/System.Memory/) which depends on the 5.0.0 version of [System.Runtime.CompilerServices.Unsafe](https://www.nuget.org/packages/System.Runtime.CompilerServices.Unsafe/)?

Packages like [System.Diagnostics.DiagnosticSource](https://www.nuget.org/packages/System.Diagnostics.DiagnosticSource/) are inherently de

[2021-01-05 15:55] JeffAshton opened #46584 "System.Threading.Tasks.Extensions (5.0.0)"
Are there plans to release a 5.0.0 version of [System.Threading.Tasks.Extensions](https://www.nuget.org/packages/System.Threading.Tasks.Extensions/) which depends on the 5.0.0 version of [System.Runtime.CompilerServices.Unsafe](https://www.nuget.org/packages/System.Runtime.CompilerServices.Unsafe/)?

[2021-01-05 16:00] vcsjones opened #46585 "X.509 chain building throws on macOS with policy constraint violations"
Another chain status we aren't handling for macOS is a "PolicyConstraints", or when a certificate chain violates the policy as defined in 2.5.29.36.

Found this one by looking for it, it is not new in Big Sur or started running in to it.

Need to research how Windows / Linux react to this situation.

[2021-01-05 16:07] EvanMachusakNCQA commented on #44686
Further, if you have a single App Service Plan which has both an ASP.NET application _and_ a NodeJS Azure Functions application assigned to it, upgrading the ASP.NET application to .NET 5 _irreversibly_ breaks your NodeJS Azure Functions app if it has a VNet configuration set.

You receive this error in the host logs:
gRPC client connection info is missing or incorrect (--port is 0)

When I say ir

[2021-01-05 16:13] KalleOlaviNiemitalo commented on #27002
I suspect this part of ManifestBuilder.GetChannelKeyword should compare `channelKeyword == 0` rather than `channelKeyword != 0`: <https://github.com/dotnet/runtime/blob/d4d50db6768f729857b27ced3b68067bf30d18de/src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/EventSource.cs#L5332-L5344>

[2021-01-05 16:16] jkotas commented on #40103
We should stop localizing this and just return hardcoded `<Unknown>`

[2021-01-05 16:19] Developer-Alexander opened #46586 "Large Collections"
## Background and Motivation
Generic collection types like Arrays, Lists and Dictionary are limited to roughly 2.1 billion elements even on 64 bit machines.
That's a very annoying limitation when you want to work on very large sets of data.
On a 64 bit machine you should not need to handle your collections like you are on a 32 bit machine.

## Proposed API

Introduce new large, generic collection

[2021-01-05 16:48] huoyaoyuan commented on #46586
There are already many discussions over large arrays and collections (effectively, `nint/nuint Length`.

You are free to implement large collections with long length, but such interface can hardly contribute to the ecosystem, because int length was assumed almost everywhere except streams.

Huge collections implies another problem. Many collections uses continuous memory. It will become impossible

[2021-01-05 16:49] stephentoub commented on #45689
@LyalinDotCom is on point for what the end-to-end user experience is here.  Dmitry?

[2021-01-05 16:57] danmosemsft commented on #46545
@jrahma again, this is not actionable without more information. Can you please share a minimal example of code that reproduces your problem? And answer @Clockwork-Muse 's question?

[2021-01-05 17:00] stephentoub commented on #1570
It's still largely as it was.  If it's expected that 99% of consumers will simply await it, then using ValueTask could be reasonable, especially if it's likely to complete synchronously.  For .NET 5, there's an experimental feature that makes this a bit more reasonable even if it doesn't complete synchronously, and I'm hoping we can make that official in some form for .NET 6.

[2021-01-05 17:16] arunendapally opened #46591 "Issue in System.Globalization"
I have observed that I get different results in .NET 5 whereas .NET Framework 4.61 and .NET Core 3.1 are working as expected, If you run the below code in all the three frameworks you would see the output which I added below.

[code]

Output:
.NET Framework: ($1,234.56)
.NET Core: ($1,234.56)
.NET 5:  -$1,234.56

[2021-01-05 17:27] jrahma commented on #46545
@danmosemsft what I mean is I have a mobile field which has values starting with zero like 0521112233, 0544466777, 072538766, etc and I want to be a varchar type on the database not int.

When I read the data into my app using System.Text.Json and with:

public string mobile { get; set; }

it will throw a int to string conversion error although my field type is not an int but the values are.

so t

[2021-01-05 17:28] rixtech commented on #13979
In addition to the natural sort order for PowerShell/PowerShell#12931 as a user I want a natural sorting order when listing files using the `dir` command in `CMD.exe`. An additional sortorder switch will be required , _N_ is already in use, so perhaps _L_.  Also, the new switch should be treated as a valid preset by `%DIRCMD%`

[2021-01-05 17:30] bartonjs commented on #46498
Absent any gotchas, it seems like a reasonable change to me.

[2021-01-05 17:43] danmosemsft commented on #43616
@jeffhandley @cathysull we can mark this as Committed on the .NET 6.0 board, I guess? Note this is marked P1 but has P0 children (which by definition are committed).

[2021-01-05 17:55] ericstj commented on #28858
This should be fixed with https://github.com/dotnet/runtime/pull/45142

[2021-01-05 17:55] #28858 closed

[2021-01-05 18:01] vcsjones commented on #46585
OpenSSL won't do anything unless we specify `X509_V_FLAG_POLICY_CHECK`. Depending on what Windows does:

1. If Windows also enforces policy checks, then:
    1.  make macOS report it as Windows does
    2. Enable it for OpenSSL
2. If Windows does not enforce it, then:
    1. Ignore it for macOS

[2021-01-05 18:04] ericstj opened #46589 "System.Diagnostics.PerformanceCounter written perfcounters cannot be read on a machine without .NETFramework"
### Description

Related to https://github.com/dotnet/runtime/issues/41144

With #45142 it is now possible to use this System.Diagnstics.PerformanceCounter on ARM64. It will function correctly for reading non-.NET perfcounters. .NET application provided perfcounters will still not work, but it will not fail: the instances will just not appear due to lack of the perfcounter.dll which exposes them t

[2021-01-05 18:06] ericstj commented on #41144
I opened https://github.com/dotnet/runtime/issues/46589 to track the remaining production of performance counters.  This issue will track the request of reading counters, and porting that back to 5.0.

[2021-01-05 18:12] am11 commented on #46577
Debugged it a bit on Ubuntu, I think the upstream fix is to add an `else` case at https://github.com/unicode-org/icu/blob/a84fdd0e903fb20acd93ed186a0da4c0c071a0e6/icu4c/source/common/uresbund.cpp#L1911

[code]
because in `res_findResource`, we are hitting this condition https://github.com/unicode-org/icu/blob/a84fdd0e903fb20acd93ed186a0da4c0c071a0e6/icu4c/source/common/uresdata.cpp#L948 as value o

[2021-01-05 18:13] terrajobst commented on #43702
* Let's support only three for now as four seems fairly rare.
* We decided to now add an overload for the one taking the result selector.

[code]

[2021-01-05 18:19] stephentoub commented on #40202
So... do we want to change the return to be `ReadOnlySpan<char>`/`ReadOnlySpan<byte>`?  I'm ok with it, especially given that for the mutable case someone could write a simple wrapper:
[code]

[2021-01-05 18:27] isolin commented on #46570
True, I do. I use it often for short helper methods, but never encountered this issue before. Was there any recent change related to this, or did I just miss that it always worked like that?

[2021-01-05 18:29] jkotas commented on #46570
It always worked like that.

[2021-01-05 18:30] vcsjones commented on #46585
Meh. Windows breaks down policy violations to `NoIssuanceChainPolicy`, `InvalidPolicyConstraints`, etc depending on the scenario.

[2021-01-05 18:30] tannergooding commented on #46440
Normally `out` parameters come last, but the other parameters are optional in this case, hence they need to come last.

I'll leave the decision on where `precision` goes to API review 😄

[2021-01-05 18:30] TamarChristinaArm commented on #43789
There is, but it's a bit sneakily described. The operation works on an entire cache line.  If the address is not aligned to the cache line it will silently align it (ignore the lower bits) and clear the entire cache line.

Which means it will clear data you didn't intend to.  So there is an alignment constraint for what you probably want, but not for the actual use of the instruction (as in, you w

[2021-01-05 18:31] tarekgh commented on #46577
@am11 thanks for the investigation.

I think we can in the loop https://github.com/dotnet/runtime/blob/1d9e50cb4735df46d3de0cee5791e97295eaf588/src/libraries/Native/Unix/System.Globalization.Native/pal_locale.c#L49 check for `/` and fail the call if it is there. `/` is not allowed character in the locale names. Here is the the BCP47 specs https://tools.ietf.org/html/bcp47.

will you submit a PR? p

[2021-01-05 18:37] geoffkizer commented on #46542
What's the underlying problem here? Do we not know how to make msquic do what we want? Trying to understand what the action here is...

[2021-01-05 18:40] jkotas commented on #40202
My vote would be to keep `MemoryMarshal.CreateSpanFromNullTerminated`. `MemoryMarshal.CreateReadOnlySpanFromNullTerminated` is a very long name, and we typically use a simple `Span` in names of method or properties even when they return `ReadOnlySpan`.

[2021-01-05 18:41] am11 commented on #46577
@tarekgh, I can try to add a test case and early bail for 0x2F. Will submit a PR shortly.

[2021-01-05 18:41] davidfowl opened #46594 "Add Thread.UnsafeStart to avoid capturing the ExecutionContext"
## Background and Motivation

We added UnsafeStart in this PR https://github.com/dotnet/runtime/pull/46181 because we needed to lazily create thread pool threads and the timer thread on the default execution context. UnsafeStart avoids capturing the current execution context and restoring it when the thread runs. There are other places where we create threads that could use similar logic:

- https

[2021-01-05 18:43] stephentoub commented on #40202
We do, except we have `MemoryMarshal.CreateSpan` and `MemoryMarshal.CreateReadOnlySpan`.

FWIW, for consistency with the existing names, to avoid collisions in the future if we decided to add a span-based one, and to keep the names relatively short, my preference is:
[code]
but I understand some folks felt the meaning of that wasn't clear enough.

[2021-01-05 18:44] jkotalik commented on #46542
The underlying problem we'd like to figure out is if there is a way to initiate a graceful connection closure with by calling CloseAsync on the QuicConnection. I'm not sure if there is a way to make msquic gracefully close a connection where it waits for all streams to close. That' probably a question for them.

[2021-01-05 18:46] stephentoub commented on #46594
LGTM as proposed

[2021-01-05 18:46] tannergooding commented on #45795
The API review process is detailed here: https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md

Before I can mark the issue ready for API review someone will need to write up the proper proposal following the template given in the docs above (https://github.com/dotnet/runtime/issues/new?assignees=&labels=api-suggestion&template=02_api_proposal.md). I can then mark this (

[2021-01-05 18:47] benaadams commented on #46570
If the method inlines it has never shown up in the stacktrace; there was a change so any method marked as `AggressiveInlining` also doesn't show up in the stacktrace; this was for tiered compilation as Tier0 doesn't do any inlines at all; so to maintain some coherence between Tier0 and Tier1 any method marked as `AggressiveInlining` is dropped from the stacktace `.ToString()`

[2021-01-05 18:48] antonfirsov commented on #45810
Looks like listening on `0.0.0.0` doesn't result in a successful connection despite the connection attempt on `127.0.0.1`. To me it seems like a configuration issue specific to a CI machine.

[2021-01-05 18:53] tannergooding commented on #46568
Of all intrinsic APIs (which is approx. 1500-2000 methods, including overloads) there is a limited subset that can be represented as "general-purpose" APIs and that is essentially what is exposed today via `System.Numerics.Vector<T>`

The functionality that isn't exposed either isn't easy to express cross-platform or may not be possible to expose on `Vector<T>` since it is variable-sized.

I have

[2021-01-05 18:55] tarekgh commented on #46591
@arunendapally which culture you are using on your environment? I mean print out `CultureInfo.CurrentCulture` value.

In .NET 5.0 we switched to use ICU library which is implementing the Unicode standard and using it is standard data `CLDR`. When you send the culture name used in your environment I can try to confirm that in CLDR. mean while I encourage you to look at the doc https://docs.microsof

[2021-01-05 18:58] stephentoub opened #46595 "Revisit BrotliStream CompressionLevel values"
Two independent-but-related issues:

1.  The ctor:
[code]
passes the `compressionLevel` to the function:
[code]
with no argument validation.  If an arbitrary level is provided, that then gets passed through as-is to the underlying library, resulting in inconsistent and potentially unexpected behavior.  We should decide whether we're ok with this behavior or whether we should take a breaking change

[2021-01-05 19:03] halter73 commented on #46505
I'm not sure it would fix your problem, but it could be a good data point. Using async/await will change up the threading, so I could see it potentially avoiding the deadlock.

I'm also interested in `dotnet-trace` output for the `Microsoft-System-Net-Sockets` provider. Can you collect this during the deadlock? There's a guide at https://developers.redhat.com/blog/2019/12/23/tracing-net-core-appli

[2021-01-05 19:08] stephentoub commented on #39233
@jtkukunas, any thoughts on this issue?  It seems like the memmove may have been introduced as part of
https://github.com/jtkukunas/zlib/commit/62b7616b0bad4ff088f1a73d0fa11159b6925fbb, and presumably it's a tradeoff with it optimizing for larger / "normal" size buffers at the expense of small ones.

[2021-01-05 19:08] terrajobst commented on #45705
* The attribute seems reasonable
    - We shouldn't take a message because they are hard to change
    - We should take a diagnostic id
* Generalizing this to a capability-based model seems too complex
* We should consider whether we want a capability API (globally for single file or per assembly like `HasLocation`)
    - Do we need all the cases?
    - Is framework loaded from disk or memory?

[2021-01-05 19:15] svick commented on #46545
@jrahma What does the JSON contain? E.g. is it something like `"mobile": "0521112233"` or `"mobile": 0521112233` (note the missing quotes).

Also, can you change what JSON is produced by the database, or is that outside of your control? E.g. the expected way to represent boolean values in JSON is `false` and `true`, not `0` and `1`, which would explain why you're getting errors on those. Can you m

[2021-01-05 19:19] #45611 closed

[2021-01-05 19:19] safern commented on #45181
reopened as we need to track this getting back from runtime-staging into the main pipeline.

[2021-01-05 19:19] isolin commented on #46570
Hm ok, I see.  Somehow I thought the inlining happes only in release, but that is now obviously not the case.

Is there a better way to see the aggressively inlined methods in the stack trace than decorating them like this?

[code]

[2021-01-05 19:26] tarekgh commented on #43736
@xanatos I believe @mattleibow report was regarding when using the `NLS` and not `ICU`. This should repro consistently on .NET Core when running on Windows.
to be able to see it on `5.0`, try add the following to your csproj to enable NLS mode.

[code]

[2021-01-05 19:26] eerhardt opened #46596 "runtime pipeline(s) jobs can be based on top of different commits"
These JIT tests are failing on a few legs of #46559.

See the logs here:

https://dev.azure.com/dnceng/public/_build/results?buildId=937878&view=logs&j=40d27226-09bf-5dd6-600e-719dc91d57e5&t=81c7ae10-7832-5173-b7fe-92ee582028ba&l=33

https://helix.dot.net/api/2019-06-17/jobs/a1bb7d7e-fd66-461e-a17d-2b5a93083dfc/workitems/JIT.Regression/console

[code]

[2021-01-05 19:27] safern commented on #32805
@MattGal we just hit this in a rolling build on OSX but I see the dnceng issue is closed. Do we have a way to track AzDo adding retry for Unix code paths?

https://dev.azure.com/dnceng/public/_build/results?buildId=938377&view=logs&j=d8aa34eb-4280-5100-d989-99a78ab22b6c&t=2fa7448e-f849-5fe0-7bed-68068872d0e8&l=18

[2021-01-05 19:27] tannergooding commented on #46592
This looks like its because Roslyn generates IL that inverses the `if` statement in `N`: https://sharplab.io/#v2:D4AQzABCBMEMIFgBQBvZENUgSwHYBcIBZACj0IA8AaCciATwEp1M0lMOIBnAd23wDGACwglqDZu04Y206QICGXAKaiAjDTWMAXFADsENQG4WczIpWjoNaDv0RoJqWYwXVJMDTB2QBsE7MAX1NOXwgABgDMYOcIEPBaAggAOTIk8TomENk5Xn5hUQpJMxyXCDdDXWwAM1F6CABCAF5DRggUCAAjACdlBQBrIwhA+2MQswroKtqSeuaHNo6evsHh+0dxuQqwabrGlu92rt6BoZGw/02MGLMwy

[2021-01-05 19:31] MattGal commented on #32805
I have been tracking this since "the surge" via https://github.com/dotnet/core-eng/issues/11551, and AFAIK we're just waiting for this PR to merge; feel free to ping it some more too: https://github.com/microsoft/azure-pipelines-tasks/pull/14065 .  I suspect things are just slower than usual because folks are still getting back from holidays.

[2021-01-05 19:31] badamczewski commented on #46592
@tannergooding Yes, reversing it back would reduce the number of jumps in code making it faster. I was checking other switch expressions that involve type checking and they do pretty much the same thing generating jumps.

[2021-01-05 19:38] terrajobst commented on #31088
* Let's try to put the deflate settings in a single spot. This also solves the problem when we have to support a different compression algorithm with separate settings.

[code]

[2021-01-05 19:43] safern commented on #32805
Thanks, @MattGal. I didn't know about https://github.com/dotnet/core-eng/issues/11551.

[2021-01-05 19:47] tmds commented on #46505
I haven't looked in detail at everything provided here, but

reminds me of https://github.com/dotnet/runtime/issues/31570.

[2021-01-05 19:51] AndyAyersMS commented on #44040
Not currently, as there's also an assignment in the block:
[code]
We could try and generalize what's there to allow a bit more code to be duplicated. We might also need other tweaks.

[2021-01-05 19:56] vitek-karas commented on #45705
I don't agree with this. The primary reason to have the message is so that the annotated code can provide a domain specific feedback. For example DI frameworks:
* Without the message I would get something like `Calling PopulateDIFromApp is not compatible with single-file, it may not work as expected` (or similar vague message). This is basically unactionable - user will have to search for this and

[2021-01-05 20:00] madelson opened #46597 "Inconsistent behavior of DataRow.Field<T> with nullable enum type between .NET Framework and .NET Core"
### Description

The following code behaves differently when run on .NET Framework (I'm targeting net472) and .NET Core (I'm targeting netcoreapp3.1):

[code]

In .NET Framework, the last line prints `RemoveEmptyEntries` to the console.

In .NET Core, the last line fails with an exception:
[code]

I'm not sure which behavior is desired, but I thought I'd report the discrepancy in case it was not i

[2021-01-05 20:00] jkotas commented on #46596
cc @echesakovMSFT

[2021-01-05 20:09] wfurt commented on #45810
I'm wondering if we should add some time boxing so it does not hang and enable it again to get more data.

[2021-01-05 20:12] weltkante commented on #46505
I'll do once I'm able to repro, we had no further occurrences of the deadlock after the initial DOS attempt was over. Could be that there is no more interest to pressure our server, or could be that switching to .NET 5 is sufficient to fix the problem.

As suggested earlier I'm currently working on reproducing the hang. If theres nothing to learn from the dumps taken during the attack then this is

[2021-01-05 20:23] Maoni0 commented on #46498
yes - if an object is eligible for collection it means it will be gone (at some point). think an object on the POH same as any other object, it's just guaranteed to not be moved as long as it's alive.

[2021-01-05 20:28] #972 closed

[2021-01-05 20:34] terrajobst commented on #40099
* The concern would be ensure that the output is deterministic regardless how we're traversing the object graph. Is this guaranteed? If that's the case, this feature seems reasonable.
* When an a list contains a cycle, we should write out `null` value, instead of just omitting the value (as that's consistent with the ignore-null-behavior and doesn't change indices).

[code]

[2021-01-05 20:37] terrajobst commented on #44446
* Looks good, but we should change the order to preserve positional order between overloads.

[code]

[2021-01-05 20:38] geoffkizer opened #46600 "SocketAsyncContext should not need to pin Span buffers for sync APIs"
Currently, if you call a sync Span-based Socket overload like `Socket.Receive(Span<byte> buffer)`, and we end up going through the sync-over-async path in SocketAsyncContext, we will end up pinning the buffer when data is not immediately available from the socket.

See references to BufferPtrReceiveOperation and BufferPtrSendOperation in SocketAsyncContext.

In theory, this shouldn't be necessary.

[2021-01-05 20:41] arunendapally commented on #46591
I am using 5.0, I have more info on why this is happening, run the below code in https://dotnetfiddle.net/ in all the three compilers/frameworks and you will see the below output

[code]

Output:

.NET Framework 4.7: 0

Roslyn 3.8: 0

.NET 5: 1

[2021-01-05 20:42] Thefrank commented on #14537
I know there is an ncurses pkg in FreeBSD but I think it was built "--with-hashed-db" and asking people to both build from ports (and edit the makefile) and mix and match ports and pkgs is a big, dangerous ask. im running the runtime tests now (except the HTTPListener which hangs or is missing something) to see if anything fails due to terminfo missing. if somehow nothing fails (or is skipped beca

[2021-01-05 20:44] echesakovMSFT commented on #46596
The failure is due to the following facts:
1) *"Runtime Tests Run"* jobs that create test runner scripts and XUnit test wrappers is based on top of my commit 8b8a3fca1ace915d13c221d0fb3a794da2eef823 that introduces the test
2) *"CoreCLR Common Pri0 Test Build"* job that build test assemblies is based on top of earlier commit ac8e1225eb71eb5975f1e65368497c36ec81f1a2 that doesn't have knoweldge abou

[2021-01-05 20:46] karelz commented on #45673
Triage: We will run it by shiproom for backporting. While not super bad, in certain rare situations it can cause quite a lot of headaches and servicing issues.

[2021-01-05 20:51] AndyAyersMS commented on #46529
cc @dotnet/jit-contrib

This bit of code in morph has been problematic...

[2021-01-05 20:54] arunendapally commented on #46591
tried with `var cal = CultureInfo.GetCultureInfo("en-US");` still no difference. Yes, I am on windows 10

[2021-01-05 20:55] briansull commented on #44040
OK, I will open an issue about this and link it to this issue.

[2021-01-05 20:59] jkoritzinsky commented on #46596
cc: @safern @ViktorHofer

[2021-01-05 21:02] Wraith2 commented on #46498
Excellent, thank you.

[2021-01-05 21:04] #45607 closed

[2021-01-05 21:05] echesakovMSFT commented on #46596
Change the issue area and title

[2021-01-05 21:09] geoffkizer commented on #45673
@karelz Can you point me to the servicing template? I can't remember where to find it.

Details for shiproom:

When we get epoll notifications for a particular socket, we can get either a read notification, a write notification, or both. Each notification will cause us to perform the IO and then invoke the user callback.

Prior to PR https://github.com/dotnet/runtime/pull/37974, when we got both n

[2021-01-05 21:15] TourajOstovari commented on #45795
is there anything on my side to do?
how may I help to see process faster is done!?

[2021-01-05 21:18] emaste commented on #14537
Coming into this a bit late and I don't have all of the background, but is the runtime consuming the terminfo data directly, and that's why `--with-hashed-db` is unworkable?

I discussed this a bit on a FreeBSD IRC channel and have these notes:
- we have an up-to-date ncurses in the base system for FreeBSD-CURRENT (what will be FreeBSD 13.0 soon), that's the file in contrib/ncurses/... above
- Fre

[2021-01-05 21:20] tannergooding commented on #45795
You could write up a proposal detailing the exact APIs you'd like to see exposed (using the template given above). Otherwise, it will go on the general backlog for myself or some other interested party to eventually create the proposal.

[2021-01-05 21:23] 0xced commented on #46577
I framed this issue around the locale named `/` because I thought it was an interesting corner case but maybe the real question is: should .NET create `CultureInfo` with _invalid_ names? The CultureInfo documentation [(Culture names and identifiers)](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.cultureinfo#culture-names-and-identifiers) states:

As such, `/` or basically any ot

[2021-01-05 21:26] scalablecory commented on #46542
Purely in terms of the protocol, there is no graceful connection shutdown. Closing a connection explicitly closes all streams without flushing. So, MsQuic is reflecting that. The correct way to manage this is to gracefully shutdown your streams individually and only close the connection once that is done. The way we initially implemented the API is just a little wrong so we were trying to do somet

[2021-01-05 21:30] lucapivato commented on #46556
OK, tested a bit better. The mono wasm runtime in blazor client side with .NET 5 crashes in a simple loop concatenating a string 31,175 times. Works ate 31,174. Being a crash with the garbage collection it may impact just about anything running in the mono wasm, but I couldn't spend more time.

Crash

        for (int i = 0; i < 31175; i++)
        {
            s = s + "A";
        }

Works

[2021-01-05 21:32] Thefrank commented on #14537
@emaste @jasonpugsley  I am still looking over the test results for the other hundredish tests under runtime but from `System.Console.Tests` only 1 of the 18 terminfo tests fail (verifying its installation...see my edit above). This was from a 12.2-RELEASE-p2 jail without ncurses pkg installed. It might be the case that only certain packages outside the dotNET runtime environment (e.g., powershell

[2021-01-05 21:32] am11 commented on #46577
On Windows, it seems that icu4c is already patched (I couldn't find any special handling on runtime side). I tested with ICU's master branch on linux and macOS, and the problem persists. BTW the fix is ready, and it does throw `CultureNotFoundException` with this handling.

runtime passes the input to ICU, which decides whether the name is valid or invalid. This corner case `/` has surfaced a bug

[2021-01-05 21:33] tarekgh commented on #46577
@0xced I don't think the framework create any cultures with bogus names. What we do is we pass the user input locale name to ICU and ICU validate this name should fail with any bogus name. The `/` is special case here because ICU used this character as resource separator as @am11 indicated in his analysis.

[2021-01-05 21:37] scalablecory commented on #46542
Assuming MsQuicStream's shutdown was fixed to work correctly (i.e. completion actually indicated a full graceful shutdown where all data has been sent and ACKed), would you still need this?

If so, can you go more into your scenario for how this would fit?

FWIW I believe the intended HTTP/3 workflow is to not explicitly close, but instead let a connection idle out. In this scenario the only reaso

[2021-01-05 21:39] tarekgh commented on #46577
Yup, I tried that too and we are successfully throwing `CultureNotFoundException` exception.

[2021-01-05 21:44] safern commented on #46596
I'm assigning myself as I removed the checkout bundle and already was investigating this. I will put up a PR to bring the checkout bundle back for PRs and open an issue on dnceng to follow up with AzDo. FYI: @MattGal

[2021-01-05 21:46] safern commented on #46596
Yeah, we reached out to AzDo, and they were supposed to have fixed it, on my PR to remove the checkout bundle, we did a few tests and it seemed like it worked fine but it seems like we hit a cache in the GH refs and that's why the test (introducing a commit to documentation in between two legs started) passed.

[2021-01-05 21:54] #46419 closed

[2021-01-05 22:03] 0xced commented on #46577
Let me be more explicit about what I meant. On Windows, calling `CultureInfo.GetCulture(name)` throws `CultureNotFoundException` for any string with a single ASCII character, e.g. `CultureInfo.GetCulture("{")` and `CultureInfo.GetCulture("x")` both throw `CultureNotFoundException`. On macOS, a `CultureInfo` with name `{` and `x` are respectively returned.

I think `CultureInfo.GetCulture("{")` sho

[2021-01-05 22:09] am11 commented on #46577
Actually it hangs with any name that starts with `/`, e.g. `/foo`, but does not hang when `/` is in the middle or end of multi-character input. Also, `{foo` should probably throw the same exception if the strict validation is performed consistently cross-platform, ideally by ICU, or by the runtime.

[2021-01-05 22:12] 0xced commented on #46577
Well, that's the problem, `{foo` and many other bogus culture names don't throw any exception on macOS. Maybe I should open another issue about that?

[2021-01-05 22:16] halter73 commented on #46542
Do you know of any documentation related to this workflow? With HTTP/3, is the idea that after all the streams are closed (including the control streams) both the client and the server will just stop using the QUIC connection? If I want the client to reconnect so it can pick up a DNS update or something, would closing all the streams be enough?

[2021-01-05 22:17] jefgen commented on #46577
Thanks for tagging me on this issue!

FWIW, I can reproduce this issue on Windows as well when calling into ICU directly with the following:

[code]

Note that I actually can't repro this issue when calling `uloc_getLanguage` on either Windows or Linux. Rather, it only occurs when calling `uloc_getDisplayLanguage`, which I think matches the stack-trace in the comment here: https://github.com/dotne

[2021-01-05 22:26] tarekgh commented on #46577
I found out when running on Windows we do the call https://github.com/dotnet/runtime/blob/5f984ae83f0c474e03d7e42a4cec8ab08bba4e8d/src/libraries/System.Private.CoreLib/src/System/Globalization/CultureData.Windows.cs#L51 which does validate the culture name and we throw after that. This is why we couldn't repro the issues on Windows. But looks to me ICU still have the problem that is allow using lo

[2021-01-05 22:36] am11 commented on #46577
@jefgen, I applied that patch (https://github.com/dotnet/runtime/issues/46577#issuecomment-754807183) on linux, compiled libicuuc.so and tested the app with `LD_LIBRARY_PATH=/projects/icu/icu4c-build/lib dotnet gh-46577.dll`, it worked without the hang.

@tarekgh, would it make sense to skip `GetLocaleInfoEx` call when ICU is selected on Windows? That will make the user-experience consistent acros

[2021-01-05 22:46] danwalmsley commented on #43313
Btw id like to report that in the current master build... if you try to load a native library.. "libMyLib.dylib"

.net core 6 is adding on "lib" so it tries to load "liblibMyLib.dylib".

[code]

renaming the binary to have an extra "lib" in the file name makes it work.

[2021-01-05 22:50] tarekgh commented on #46577
I think we can do that if we ensure ICU behavior. Currently this call is used to normalize the culture name. So we need to ensure this is still happening in NLS cases and also we want ensure ICU is normalizing the names properly which looks it does.

[2021-01-05 23:08] WizardBrony opened #46603 "Task.Delay: CancellationToken registration leak"
`DelayPromise` is the implementation class for `Task.Delay`. Its constructor handles a race condition such that the underlying `TimerQueueTimer` still gets cleaned up if its callback fires before the backing field is written:

https://github.com/dotnet/runtime/blob/5f984ae83f0c474e03d7e42a4cec8ab08bba4e8d/src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs#L5433-L5476

`DelayPr

[2021-01-05 23:23] tarekgh commented on #46591
@arunendapally I have investigated this more to understand what is going on.

The behavior here is the difference when using `ICU` which we do in 5.0 (we use it on Linux/MacOS for all net core versions too) and when using `NLS` which we use it on Windows only with net core versions up to and including 3.1. Also, NLS is used with the Full Framework.

The ICU behavior looks more correct though accor

[2021-01-05 23:23] #46591 closed

[2021-01-05 23:27] jefgen commented on #46577
Thanks for testing out the change! I also tried the change out in ICU, and all the existing ICU tests pass with the change.

Well one thing though is that ICU doesn't always use BCP47 names, as it also supports "ICU format locale IDs", which can contain things like "@", which BCP47 doesn't allow. (For example: `th_TH@calendar=buddhist`).

However, looking at the ICU User Guide page here: https://u

[2021-01-05 23:29] benaadams commented on #46570
Define
[code]

Then you can use
[code]

[2021-01-05 23:32] tarekgh commented on #46577
It is not a valid characters but some things need to be validated. e.g. names like the following would be invalid: `x`, `_`, `-`, `en-`,...etc.

[2021-01-05 23:45] bartonjs commented on #40202
I think my objection to not having the NullTerminated in the name is that the semantics of the `byte*` version is not obvious from its signature (looking at the two together, it's "oh, for ASCII or UTF-8", but without seeing the `char*` version it's like "so I have some bytes... how far does this span go?", and once I wanted the name in that one the `char*` one got dragged along with it.  (If the

[2021-01-05 23:55] danmosemsft commented on #46556
@lewing not sure what area label to apply to this one.

[2021-01-05 23:59] ericsampson commented on #40099
@terrajobst FWIW here's our usecase for this functionality, just because there was a number of questions about this on the video:

"So we have a central structured logging service where users can send arbitrary C# objects, and then our service writes them to several targets (Elasticsearch, APM, etc) and these targets often want the payload to be JSON. So we need to be able to transform arbitrary u

[2021-01-06 00:06] janvorli commented on #43313
@danwalmsley the runtime should try all variants with and without lib prefix and with and without .dylib suffix. So if you for example use just "MyLib" in your DllImport, then we would try:
MyLib
libMyLib
libMyLib.dylib
MyLib.dylib
The reason is that people tend to specify the library name in various ways (sometimes with and sometimes without the lib prefix, sometimes with and sometimes without th

[2021-01-06 00:16] shaynevanasperen commented on #45593
I've just solved this problem for myself (I needed to reset the cache between running each scenario of my unit tests), like this:

[code]

And then in app startup:
[code]
Then I can just resolve an instance of `MemoryCacheManager` from IoC and call `Reset()` when I want to clear the cache.

[2021-01-06 00:32] tarekgh commented on #46577
I am reopening this to track the locale name validation issue so we'll be complete with the solution.

[2021-01-06 00:35] safern commented on #46577
@tarekgh we also need to port the workaround to avoid the hang when locale == "/" on Unix, right?

[2021-01-06 00:40] AaronRobinsonMSFT commented on #46426
@pgrawehr This is the expected behavior. This behavior is consistent with .NET Framework and has been this way for quite some time - please let me know if I am missing the scenario. The fact that a Generic type has a closed type or not isn't a consideration for this API. Relaxing this to permit closed Generic types is possible, but it would require a discussion.

At this point I believe the open q

[2021-01-06 00:42] jasonpugsley commented on #14537
I think the answer is yes - the entire file is read for a single terminal definition and its contents parsed in managed code. https://github.com/dotnet/runtime/blob/f473665b470a5e23bb161e465b9b8427cbccb466/src/libraries/System.Console/src/System/TermInfo.cs#L240

To use the terminfo.db file you'd need to access the Berkeley DB yourself with P/Invoke to libc for dbm and then navigate the indexes to

[2021-01-06 00:45] #46569 closed

[2021-01-06 00:48] jnm2 commented on #13979
@rixtech This repository is not related to cmd.exe.

[2021-01-06 00:52] sywhang commented on #46518
Took a quick look at this and it seems like it's a product issue -- let me investigate and report back.

[2021-01-06 00:54] tarekgh commented on #46577
@safern would be good to check with the tactics first to see if this meet the bar. As you know this behavior existed since net core 1. but I am inclining to port it to the servicing.
Can you help with that? please let me know if you are busy so I can do it myself.

[2021-01-06 00:58] tarekgh commented on #46477
@lateapexearlyspeed thanks a lot for willing to help with that. I agree with your analysis and suggestion here. in short, just inserting `str.Index--;` at the line
https://github.com/dotnet/runtime/blob/21baf31b19ebdc79ee400e44c212b983add00501/src/libraries/System.Private.CoreLib/src/System/Globalization/DateTimeParse.cs#L3005 would make it work I guess.

[2021-01-06 01:00] runfoapp[bot] opened #46606 "profiler/elt/slowpatheltenter/slowpatheltenter.sh test failed"
Runfo Tracking Issue: [profiler/elt/slowpatheltenter/slowpatheltenter.sh test failed](https://runfo.azurewebsites.net/tracking/issue/115)
|Build|Definition|Kind|Run Name|
|---|---|---|---|

Build Result Summary
|Day Hit Count|Week Hit Count|Month Hit Count|
|---|---|---|
|0|0|0|

[2021-01-06 01:04] runfoapp[bot] opened #46608 "profiler/elt/slowpatheltenter/slowpatheltenter.sh test failed"
[code]

Dump: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-46051-merge-c6d495492c1549728b/profiler.elt/coredump.10271.dmp?sv=2019-07-07&se=2021-01-25T21%3A22%3A03Z&sr=c&sp=rl&sig=5YUXiu9zCwQV1rF24K6yOYt%2Fdv%2F%2Byfy09lzWezMof9I%3D

Runfo Tracking Issue: [profiler/elt/slowpatheltenter/slowpatheltenter.sh test failed](https://runfo.azurewebsites.net/tracking/issue

[2021-01-06 01:08] safern commented on #46608
cc: @davmason

[2021-01-06 01:14] safern commented on #46577
Yeah I can help with that.

[2021-01-06 01:18] tarekgh commented on #46569
Just to add to what @safern mentioned:

Unicode collation has some characters which will be ignored during the cultural collation operations. This about it as if these characters not exist at all in the string. The null character `\0` is one of these characters. You can consult the Unicode standard for the whole list of ignored characters here https://www.unicode.org/charts/collation/chart_Ignored

[2021-01-06 01:21] davidfowl opened #46610 "Move the IOCP thread pool on windows to managed code"
Today the managed thread pool implementation moved worker threads and the gate thread but doesn't include IO threads to handle IOCP completions. Lots of complex logic (like handling multiple app domains) and overhead could be removed (and it would be easier to experiment with) by moving the logic into managed code:

- https://github.com/dotnet/runtime/issues/11314
- https://github.com/dotnet/runti

[2021-01-06 01:27] tarekgh commented on #46603
CC @stephentoub

[2021-01-06 01:30] AaronRobinsonMSFT commented on #46426
It should be noted that the `Marshal.SizeOf` suite of functions are specifically for interop scenarios and not for computing arbitrary type size. With the support for some blittable Generic types in P/Invoke signatures (Issue: https://github.com/dotnet/runtime/issues/4547 PR: https://github.com/dotnet/coreclr/pull/23899) we may want to permit some narrow functionality in this area.

/cc @jkoritzin

[2021-01-06 01:38] lateapexearlyspeed commented on #46477
@tarekgh Yes, and thanks for confirmation, I will raise PR later :)

[2021-01-06 01:50] tannergooding commented on #46426
I believe we had previously discussed updating `S.R.I.Marshal` to handle generics as well but it was decided against. I can't seem to find the relevant thread at the moment, however (IIRC, enabling generics was one of the migrated PRs from dotnet/coreclr so that might be contributing).

[2021-01-06 01:53] tannergooding commented on #46426
I might be remembering https://github.com/dotnet/runtime/issues/32963#issuecomment-592609261, which was related to `GetDelegateForFunctionPointer` rather than `SizeOf`...

[2021-01-06 01:58] #46277 closed

[2021-01-06 02:19] isolin commented on #46570
Nice, thank you! +1:

[2021-01-06 02:19] #46570 closed

[2021-01-06 02:39] jeromelaban opened #46613 "[Wasm][AOT] Assertion at /__w/1/s/runtime/src/mono/mono/mini/exceptions-wasm.c:66, condition `(*lmf)->method"
### Description

Executing the following code:
[code]

fails with the following:
[code]

### Configuration

73bce5550bc30c11953b32be554803e466f376a4

### Regression?

No.

### Other information

Related to https://github.com/dotnet/runtime/issues/45698

[2021-01-06 02:42] jeromelaban commented on #45698
Thanks. The fixes from #46534 allow for `GetSatelliteAssembly` to fail gracefully, but now `ResourceManager` falls into a infinite loop while resolving the manager. Here's a example stack trace when pausing:

![image](https://user-images.githubusercontent.com/5839577/103722869-e926e700-4f9e-11eb-9fec-b2045771362c.png)

[2021-01-06 03:12] tommcdon commented on #45151
Unfortunately right now we have other competing priorities and so this will not be fixed in the current release under development.  While we would like to fix each and every bug that is reported to us we do not have the time to fix all of them.  We will re-evaluate fixing this in a future version.

[2021-01-06 03:28] stephentoub commented on #40202
So options discussed:
- `MemoryMarshal.CreateSpanFromNullTerminated` returning a `ReadOnlySpan`... but that's inconsisten with `MemoryMarshal.CreateSpan`, which returns a `Span`.
- `MemoryMarshal.CreateReadOnlySpanFromNullTerminated`... but that's super long.
- `MemoryMarshal.CreateReadOnlySpan`... but that may not be intuitive for the `byte*` overload as to what it means.
I'm not sure there are a