[2020-02-28 20:07] karelz commented on #32973
@adamsitnik can you please help here?

[2020-02-28 20:11] stephentoub commented on #32973
My guess would be it's the same as https://github.com/dotnet/runtime/issues/13091, i.e. leap-seconds support.

[2020-02-28 20:12] dagood commented on #1622
I got reminded by a convo about dotnet/source-build-reference-packages that this actually probably isn't an active bug in source-build. Context: the platform manifest is delivered in two places in 3.0+: the targeting pack, and the runtime pack. Neither is source-built by dotnet/core-setup or dotnet/runtime:

* The targeting pack is ildasm'd and built from IL source, here: https://github.com/dotnet

[2020-02-28 20:13] kasajian commented on #20908
I don't want to sound like I'm questioning the decision to close it, because I'm not.  But I am curious what's the rationale for it.
Is it because it's out of scope for this project?
Is there no interest in ensuring that the nuget packages point to actual documentation?  Seems like the Microsoft delivered nuget packages are the worst.   This is just not a thing in other environments such as npm.
T

[2020-02-28 20:20] jaredpar opened #32980 "Opening repo in VS Code reports modified files under Mono"
Repro steps:

- Clone dotnet/runtime in Linux
- Open VS Code on Windows
- Use Remote-SSH to open the dotnet/runtime enlistment on Linux

My expectation here would be that no files are different. Yet appears that several Mono files are listed as modified. The modification appears to be line entry issues and is visible both in VS Code and locally on the box.

![image](https://user-images.githubuserc

[2020-02-28 20:23] vitek-karas opened #32981 "dotnet --info should not print out error like message when no SDK is installed"
Repro - run `dotnet --info` in an environment where there's no SDK installed (only the runtime).
The resulting output will be something like:
[code]

The first part of the message is confusing - not having an SDK is not an error.
Compare to the output with SDK installed:

[code]

For the runtime-only version I would like to see output like this:
[code]

Basically the same as for the SDK version, b

[2020-02-28 20:23] danmosemsft commented on #20908
@carlossanlop @ericstj do you know any history here , about nuget packages pointing to docs?

[2020-02-28 20:24] ericstj commented on #32935
I believe @Anipik is seeing the failure on debug build in CI which would explain why the IBC data is missing.

I checked the binaries from a [recent official build](https://dev.azure.com/dnceng/internal/_build/results?buildId=540482) and confirm that IBC data is present:
![image](https://user-images.githubusercontent.com/8918108/75583740-13288800-5a23-11ea-9158-5d6974abd11b.png)

It did get an OSG

[2020-02-28 20:27] dagood opened #32982 "Disable targeting pack build during source-build: avoid incomplete platform manifest"
See https://github.com/dotnet/runtime/issues/1622 for the reason why the targeting pack is incomplete, and a plan to make it complete.

If that's not addressed by 5.0, we should disable targeting pack generation during source-build. This allows source-build to decompile the targeting pack (as usual) and use it as the 5.0.0 targeting pack. If we don't disable it, we risk having dotnet/runtime build

[2020-02-28 20:34] stephentoub commented on #6217
This now exists.

[2020-02-28 20:34] #6217 closed

[2020-02-28 20:35] carlossanlop commented on #20908
The project URL for NuGet packages is specified in the `<projectURL>` xml tag of the *.nuspec file. It should be edited when the NuGet package is generated.

We could have a file with links the official Documentation to each assembly or namespace, and  when the NuGet packages are generated, find their URL in that file.

@ericstj @joperezr @safern know more than me about this.

[2020-02-28 20:36] antonfirsov commented on #1218
@dotnet/ncl this issue is no longer an upgrade blocker for the nopCommerce, since the root cause turned out to be a bug in their which is getting fixed in nopSolutions/nopCommerce#4260. On the other hand, it may indicate that in certain degenerate conditions destruction is prone to incorrect behavior.

Possible explanation: `~Socket()` is triggering disposing `PreAllocatedOverlapped` here:

https:

[2020-02-28 20:37] carlossanlop commented on #20908
I learned this by looking at the [only *.nuspec file](https://github.com/dotnet/corefxlab/blob/IntellisensePackage/standalone/Microsoft.Private.Intellisense/Microsoft.Private.Intellisense.nuspec) I have modified myself, which we use to generate the NuGet package we then consume internally to add intellisense when we build.

Coincidentally, the default URL there is also https://dot.net.

[2020-02-28 20:41] janvorli commented on #2021
@ericstj There are no technical blockers. It is just about wiring it to our build lab / docker containers (whcih includes rootfs creation). Maybe RID graph, I'm not sure whether we already have it covered or not. Otherwise I believe it should just work.

[2020-02-28 20:44] BruceForstall commented on #32980
Related? https://github.com/dotnet/runtime/issues/2222

[2020-02-28 20:50] echesakovMSFT commented on #32951
There is an actual difference in reported debug info on cross-achitecture compiler (x64_arm) v. native compiler (arm) for `System.Reflection.Emit.TypeBuilder:DefineGenericParameters(System.String]):System.Reflection.Emit.GenericTypeParameterBuilder[]:this` method in System.Private.CoreLib.dll

[code]

I am going to take a look into other assemblies' differences

cc @dotnet/jit-contrib

[2020-02-28 20:57] jaredpar commented on #32980
@BruceForstall yes this is a dupe of #2222

[2020-02-28 20:57] #32980 closed

[2020-02-28 20:58] jaredpar commented on #2222
I'm still seeing this on a fresh install of Ubuntu 16.04. Full list of affected files is:

[code]

[2020-02-28 21:02] BruceForstall commented on #32951
It looks like these are differences in the recently-added coalescing code:

[code]

from https://github.com/dotnet/runtime/pull/2107

[2020-02-28 21:09] jaredpar commented on #2222
Followed these instructions and it got me unblocked on Ubuntu 16.04

https://unix.stackexchange.com/a/170831

[2020-02-28 21:11] brianrob commented on #32935
Historically, the conditioning has been on whether or not ibcmerge.exe is present, which only happens on release official builds since it is not publicly available.

[2020-02-28 21:18] layomia commented on #32005
This looks like a duplicate of https://github.com/dotnet/runtime/issues/30694. This sort of extension point to the serializer is not on our roadmap for now. It may be possible to build this on top of our existing converter model in another library. If you want to prototype this in dotnet/corefxlab, we could collaborate with you.

[2020-02-28 21:18] #32005 closed

[2020-02-28 21:19] layomia commented on #30694
@orcun, if you want to prototype this in https://github.com/dotnet/corefxlab, we could collaborate with you.

[2020-02-28 21:22] layomia commented on #32801
This is a duplicate of https://github.com/dotnet/runtime/issues/31464.

[2020-02-28 21:22] #32801 closed

[2020-02-28 21:28] joperezr commented on #20908
Thanks for the feedback @kasajian. I think the main point in here is that you would like to have that our packages' Project Site link take you back to the repo that generates them right? I think that is fair and you are right that not all of our existing packages do that, for example, [System.Text.Json](https://www.nuget.org/packages/System.Text.Json/) does take you to github.com/dotnet/corefx, bu

[2020-02-28 21:31] #31614 closed

[2020-02-28 21:38] echesakovMSFT commented on #32951
Similar differences in Microsoft.CodeAnalysis.dll
[code]

[2020-02-28 21:38] layomia commented on #32824
Not actionable without a dump. There's not enough information on this issue. Please reopen if there's another hit on this, and provide a repro or a dump.

[2020-02-28 21:38] #32824 closed

[2020-02-28 21:39] Anipik commented on #32935
@ericstj I tried with the release flag still the same error
[code]

[2020-02-28 21:41] stephentoub commented on #4023
Closing as an answered old question. Thanks.

[2020-02-28 21:41] #4023 closed

[2020-02-28 21:43] stephentoub commented on #5600
SemaphoreSlim is built on top of Monitor, which isn't fair either.

[2020-02-28 21:44] steveharter commented on #32242
Linking #32824 in case it is related.

The code in fault should never get into this state when `document.RootElement.Clone()` is used (`extraRentedBytes` will be null). Some other code must be writing to an invalid pointer.

Closing as non-actionable. Please re-open if there are additional hits.

[2020-02-28 21:44] #32242 closed

[2020-02-28 21:49] bartonjs commented on #698
The porting experiment was timeboxed.  They had source and could fork the component; but because some of the users are still using classic ASP they can't just remove the lightup from the shared library.  So the choices were fork, dual-compile (which is difficult in their engineering system), or try to make System.Web work "just enough".  They pursed the latter, but got bit by the System.Web in the

[2020-02-28 21:50] ericstj commented on #32935
I see, we are probably missing another condition then as @brianrob suggests.

[2020-02-28 21:50] tarekgh commented on #32973
Right, this is leaping second support which comes with some extra cost.

@B-Esmaili can you try the work around on https://github.com/dotnet/runtime/issues/13091#issuecomment-511937942 and look if this get rid of the regression?

I am going to cliose this issue for now as a duplicate with #13091 but feel free to respond back if you think otherwise.

[2020-02-28 21:50] #32973 closed

[2020-02-28 21:51] ericstj commented on #32935
Found it: https://github.com/dotnet/arcade/blob/f6121fcaf62777bc2288f7f0917b48a130a0174e/src/Microsoft.DotNet.Arcade.Sdk/tools/OptimizationData.targets#L59

[2020-02-28 21:53] ericstj commented on #32935
@brianrob I don't like copying a bunch of this conditional logic or running the targets.   Is there a way for these installer targets to "observe" that IBCMerge was run and only then specify the param?  Or for crossgen to ignore the option if the binary doesn't have IBC merge data?

[2020-02-28 21:53] layomia commented on #1168
Closing - there's a workaround with member inialization/in a constructor or with using a custom converter.

This issue addresses default value handling: https://github.com/dotnet/runtime/issues/779.

[2020-02-28 21:53] #1168 closed

[2020-02-28 21:55] stephentoub commented on #13544
I believe this has been addressed. Closing.  @delmyers, please re-open if something remains.

[2020-02-28 21:55] #13544 closed

[2020-02-28 21:55] layomia commented on #1174
Closing - we don't want to add complexity to the writer to support this feature.

[2020-02-28 21:55] #1174 closed

[2020-02-28 21:57] layomia commented on #1127
Closing - we don't have plans to support this format at the moment.

[2020-02-28 21:57] #1127 closed

[2020-02-28 21:59] stephentoub commented on #12042
Closing as fixed by https://github.com/dotnet/coreclr/pull/24532.

[2020-02-28 21:59] #12042 closed

[2020-02-28 22:00] stephentoub commented on #11803
We will continue to look for ways to reduce the overheads, but I don't think there's anything actionable here anymore, so closing. Thanks.

[2020-02-28 22:00] #11803 closed

[2020-02-28 22:02] stephentoub commented on #11425
Without the requested self-contained repro, it's difficult to do anything further here.  Closing.  If you can share a runnable repro on .NET Core 3.1 that demonstrates the issue, please re-open this and we can take another look.  Thanks.

[2020-02-28 22:02] #11425 closed

[2020-02-28 22:04] jkoritzinsky opened #32991 "Changes to CoreCLR workflow"
PR #31701 is changing the developer workflow for CoreCLR to help increase reliability, reduce local build times, and move us closer to a place where we can better parallelize CI to improve build times.

The largest part of the change is that the `build.cmd` and `build.sh` scripts under `src/coreclr` will be **deprecated** and later (probably in a few weeks) **removed**. The `src/coreclr/src/build.

[2020-02-28 22:07] GrabYourPitchforks commented on #415
Problem seems to be that `Latin1Encoding.GetBytes` doesn't update the `EncoderNLS._charLeftOver` field when a high surrogate character is seen at the end of the input slice. This means that on the next call to `Latin1Encoding.GetBytes`, it will try to fall back the low surrogate in isolation rather than the high + low surrogate together, resulting in an output of `"?"` rather than `"??"`. Problem

[2020-02-28 22:08] stephentoub commented on #10284
Closing as addressed.  @danmosemsft, please re-open if there's more to be done here.

[2020-02-28 22:08] #10284 closed

[2020-02-28 22:11] stephentoub commented on #9662
Closing, per the above.  Thanks.

[2020-02-28 22:11] #9662 closed

[2020-02-28 22:12] stephentoub commented on #9284
Closing as asked/answered.  Please re-open if there's something remaining I missed.  Thanks.

[2020-02-28 22:12] #9284 closed

[2020-02-28 22:13] stephentoub commented on #8950
Thanks. Closing as dup of https://github.com/dotnet/runtime/issues/21363.

[2020-02-28 22:13] #8950 closed

[2020-02-28 22:15] stephentoub commented on #8070
Since https://github.com/microsoft/vs-threading/issues/109 was closed as not having any complaints in years, I'm also going to close this.  Please re-open if there's still an observed problem here.  Thanks.

[2020-02-28 22:15] #8070 closed

[2020-02-28 22:18] stephentoub commented on #32991
@jkoritzinsky, I'm struggling to follow the examples a little.  If today I do this:
[code]
what does that translate to now?  Thanks.

[2020-02-28 22:22] jkoritzinsky commented on #32991
That translates to `build -subsetcategory coreclr -c Release`.

CoreCLR tests are now only built through the `src/coreclr/build-test` scripts, not the product build scripts, so there’s no need for a skiptests argument.

[2020-02-28 22:23] Maoni0 commented on #32966
yep, looks like it. could you please take a look, @cshung ?

[2020-02-28 22:24] StephenBonikowsky commented on #1409
Simple fix, low priority scenario.
@imcarolwang Could you add this as something for your team to try fixing.

[2020-02-28 22:26] StephenBonikowsky commented on #1410
@imcarolwang Another issue that your team can look into fixing.

[2020-02-28 22:27] dagood commented on #3770
Completed Oct 2019 by https://github.com/dotnet/core-setup/pull/8426.

[2020-02-28 22:27] #3770 closed

[2020-02-28 22:31] dagood commented on #3786
This was completed while reworking the Installer yaml to make it work more like the other templates: https://github.com/dotnet/runtime/pull/1623.

[2020-02-28 22:31] #3786 closed

[2020-02-28 22:32] StephenBonikowsky commented on #1411
Is an issue, could be fixed.
Potentially fixing it is a breaking change.
Should consider for 5.0

[2020-02-28 22:39] StephenBonikowsky commented on #1412
Due to the complexity of the fix and that it also exists in the full framework and that it is also a corner case will not fix.

[2020-02-28 22:39] #1412 closed

[2020-02-28 22:40] StephenBonikowsky commented on #1413
@mconnew Please comment on this issue and resolve as appropriate.

[2020-02-28 22:42] StephenBonikowsky commented on #1414
No customer asks for this.

[2020-02-28 22:42] #1414 closed

[2020-02-28 22:44] StephenBonikowsky commented on #1415
@HongGit To work with @imcarolwang to add test coverage.

[2020-02-28 22:46] StephenBonikowsky commented on #1416
Will not be fixing uap issues.

[2020-02-28 22:46] #1416 closed

[2020-02-28 22:49] joperezr commented on #14336
@reflectronic thanks for providing the list, that is very handy.

@terrajobst regarding your comment:

Is there anything impeading us adding these overloads just in netcoreapp? In case that's fine, then I guess this issue might be ready to take to API Review.

[2020-02-28 22:51] StephenBonikowsky commented on #1417
@imcarolwang Could you create a PR removing the skip attribute on this test to see if the test still fails. There should be a "Do Not Merge" or similar label you can put on the PR to make sure it doesn't get merged.

[2020-02-28 23:03] joperezr commented on #13678
From reading the thread this seems to be a problem comming from an external component and not a problem with the framework, so I'm closing the issue for now. @BramEsendam feel free to re-open if that is not the case.

[2020-02-28 23:03] #13678 closed

[2020-02-28 23:12] #32534 closed

[2020-02-28 23:18] joperezr commented on #31482
@jeffschwMSFT do we have any docs on how to port code from .NET Framework to .NET Core when using app domains to load assemblies? I suppose in .NET Core this would be using ALCs which would already take the deps.json file into consideration

[2020-02-28 23:27] joperezr commented on #31499
Question seems to be answered by reading the above, so closing this.

[2020-02-28 23:27] #31499 closed

[2020-02-28 23:40] terrajobst commented on #14336
LOL. No idea what I meant. It was a different time back then. Maybe I though how we can OOB these methods? Who knows. Let’s just look at the APIs in one of next reviews. Seems generally like a fine feature.

[2020-02-28 23:41] CarolEidt commented on #32951
It hadn't occurred to me that the crossgen-comparison diff would catch the live range coalescing. That's kind of cool!

[2020-02-28 23:47] echesakovMSFT commented on #32951
@BruceForstall These are two disassembles from the native compiler

[code]
and the cross-architectural compiler
[code]

[2020-02-29 00:04] joperezr commented on #14336
sounds good, will mark it as ready for review then.

[2020-02-29 00:18] kasajian commented on #20908
You're right that I haven't proposed what it should do.   I just think if three's a link on a page for a particular nuget package, that link should go to someplace for *that* nuget package.  If not, that nuget package should be listed on the page you clicked on.   Going to https://dot.net/ isn't enough.

I feel like the solution should be obvious because every other nuget package that I've seen, o

[2020-02-29 00:29] mletterle opened #32996 "Guidance around the dotnet-coreclr nuget feed"
What is the status of packages listed in https://dotnetfeed.blob.core.windows.net/dotnet-coreclr/index.json ? Are they ever going to be published to nuget.org? I'm specifically thinking of the IL Tools, but I'm sure there's others.

In the case of the IL Tools, nuget.org's versions stop at 2.0.8, whereas the dotnetfeed has many more versions.

Is this a feed that can be relied on? And if so, shoul

[2020-02-29 00:34] zxj17815 opened #32998 "NET Core Hosting Bundle is installed, which makes it unavailable to other sites on IIS"
I have an old.net service application on IIS，After I installed Hosting Bundle, it broke and couldn't start，if I uninstall the Hosting Bundle, it works again

[2020-02-29 00:35] bitcrazed commented on #18258
@danmosemsft - do let @craigloewen-msft know if you need any assistance etc. from WSL

[2020-02-29 00:35] joperezr commented on #20908
The likely reason why this is not a big issue for other NuGet packages that you've seen, is because in most other cases, there is a 1:1 mapping between repo and NuGet package, so it is easy to have the project site be the repo where the package is built and the main readme can just describe the contents of that package. In our repo (dotnet/runtime repo) we build around 216 different nuget packages

[2020-02-29 00:38] stephentoub commented on #11226
This remains an issue:
[code]

[2020-02-29 00:49] karelz commented on #1065
Looks like duplicate of #31344

[2020-02-29 00:50] vitek-karas commented on #31482
We don't have a direct guide for migration, but there are pretty good docs on `AssemblyLoadContext` and related classes and how to use them in various scenarios:
https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/overview
https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/understanding-assemblyloadcontext

[2020-02-29 01:03] danmosemsft commented on #18258
It's @bitcrazed himself 😃

Sure, although I don't plan to look at this in the near future - these are just test failures, they may not be failing because of issues that would actually impact a customer.

These attributes were all added on WSL1. First task here is for a volunteer to just remove the attributes and see how many pass on WSL2.

[2020-02-29 01:08] danmosemsft commented on #6390
Ah, gotcha!

[2020-02-29 01:54] GrabYourPitchforks opened #33002 "JIT: Some SIMD intrinsics operations don't reliably fold memory addressing logic"
Found while looking at codegen for https://github.com/dotnet/runtime/pull/32994. From SharpLab:

[code]

[code]

Is there any reason why the first sample uses a `lea` to help with calculating the destination memory address, while the second sample foregoes `lea` and folds the memory addressing logic directly into the `vmovdqu` instruction? As far as I can tell they take around the same amount of t

[2020-02-29 02:06] davidwrighton commented on #32175
This is actually a bug in crossgen 1. It should be generating the longer sequence instead of the dpps instruction.

[2020-02-29 02:52] GrabYourPitchforks commented on #33002
Actually, upon rerunning the benchmarks, it appears that there is a significant perf win for killing the `lea` instruction and folding the memory addressing calculation into the store instructions.

|   Method |      Toolchain | Size |     Mean |   Error |  StdDev | Ratio |
|--------- |--------------- |----- |---------:|--------:|--------:|------:|
| GetChars |         latin1 | 4096 | 243.5 ns | 2

[2020-02-29 02:58] davidwrighton commented on #32175
There is also a similar bug in crossgen 1 around use of the insertps instruction, and plausible future bugs around min, max and abs.

There are bugs in the crossgen2 compilation in that popcnt isn't generated directly. (In particular, the SSE41, SSE42 and POPCNT instructions aren't marked as eligible for the jit to generate for corelib). This both causes the `popcnt` bug in crossgen2, and causes t

[2020-02-29 03:13] benaadams commented on #32175
Also issue with `Vector128<byte>.Zero` which remains a call at crossgen https://github.com/dotnet/runtime/issues/32714

[2020-02-29 03:27] jkotas commented on #32996
https://dotnetfeed.blob.core.windows.net/dotnet-coreclr/index.json feed is for nightly builds and experimental packages. The packages have varying quality and are not officially supported.

@tannergooding Do you happen to remember why we are not publishing IL.SDK to nuget.org?

Duplicate / related to https://github.com/dotnet/runtime/issues/11411

[2020-02-29 03:31] jkotas commented on #32991
What is going to be equivalent of `src\coreclr\build.cmd linuxmscorlib` ?

[2020-02-29 04:38] smoogipoo commented on #32852
@janvorli:

[code]

Additionally, we've pushed out a fix where instead of loading `libdl.dylib` we've tried loading `libSystem.dylib` directly, and are encountering similar issues:

[code]

src: https://github.com/ppy/osuTK/blob/3e8f33f949f8d01ca09b99f284f925eb77181da1/src/osuTK/Platform/MacOS/NS.cs#L52

[2020-02-29 05:14] danmosemsft commented on #32907
@joperezr

[2020-02-29 05:21] danmosemsft commented on #765
We would certainly be interested in  a PR that makes the exception(s) more useful.

[2020-02-29 05:24] danmosemsft commented on #30761
@verdie-g missed your reply. Publicly visible API changes are to be avoided. Hopefully that answers you questions..

[2020-02-29 05:27] danmosemsft commented on #32859
@cheenamalhotra i suggest all Sqlclient bugs be tracked in https://github.com/dotnet/SqlClient - since the code is no longer here. do you agree? If so could you please move this one.

[2020-02-29 05:29] cup opened #33007 "String literal escaping"
C# can print a string:

[code]

but it seems to have no way to print a string representation, that is to say
`"Sunday"` instead of `Sunday`. Other languages can do this, like Rust:

[code]

C++:

[code]

Go:

[code]

Ocaml:

[code]

Nim:

[code]

[2020-02-29 05:29] danmosemsft commented on #31338
@MichalBrylka are you still planning to contribute? Checking you are not waiting on more info?

[2020-02-29 05:32] danmosemsft commented on #31292
@AnthonyLloyd i assume this is your submission them? Nice result!
https://benchmarksgame-team.pages.debian.net/benchmarksgame/program/spectralnorm-csharpcore-5.html

@KoziLord any interest in taking a shot?

[2020-02-29 05:56] benaadams commented on #33007
Escape the quotes? `\n`
[code]
Interpolated string `$` with escaped quotes `\"`
[code]
Verbatim interpolated string `@$` with escaped quotes `""`
[code]

[2020-02-29 06:07] cup commented on #33007
@benaadams sorry I wasnt clear

the issue is not "how do I include a literal double quote in a string

the issue is, given an arbitrary string that might contain embedded quote
characters, or other pathological characters including but not limited to:

- Spaces
- Tabs
- Newlines

How can one print the representation of said string. All the examples I gave do
this. So given the input `string s1 = "

[2020-02-29 06:19] davidfowl commented on #33007
You're looking for the equivalent of https://docs.microsoft.com/en-us/dotnet/api/system.text.regularexpressions.regex.escape?view=netcore-3.1 but for strings yes? `String.Escape`

[2020-02-29 06:25] cup commented on #33007
@davidfowl thats correct, but it seems `String.Escape` is not a currently existing method

[2020-02-29 06:36] davidfowl commented on #33007
Sounds like an API suggestion 😄

[2020-02-29 07:01] MichalBrylka commented on #31338
@danmosemsft
I opened this issue on corefx repo. I reckoned that project was abandoned. My changes are already merged: https://github.com/dotnet/runtime/pull/382

I'm closing this then

[2020-02-29 07:01] #31338 closed

[2020-02-29 07:46] davidfowl commented on #698
I like the idea of the out of band package, I think we should discuss this more as I have some thoughts about it as well.

[2020-02-29 08:53] marek-safar commented on #7220
The SPARC support is a community maintained so there will be a way to run .NET5 on SPARC but we don't plan to do any testing of this scenario and might well be broken unless someone from community steps in.

[2020-02-29 10:46] shaokuan opened #33008 "dotnet new mvc Access to the path is denied."
The following error message appears after I enter the command dotnet new mvc
How do I handle it?
thanks.
my dotnet core version 3.1
os linux ubuntu Ubuntu 16.04.6 LTS on raspberry pi

[code]

[2020-02-29 11:25] svick commented on #20908
@joperezr

If you linked to a specific page for that package on docs.microsoft.dom, that wouldn't be a problem. Even if that site was reorganized, docs have the ability to set up redirects.

[2020-02-29 11:53] faddiv opened #33009 "Reversed order between StringComparer.InvariantCulture and IgnoreCase version"
I discovered that some Compare operations outputs different results even when there is no lower-case upper-case relations between them. For example:

`var ch1 = "\uFE63";`
`var ch2 = "\uFF0D";`
`StringComparer.InvariantCulture.Compare(ch1, ch2); // => 1`
`StringComparer.InvariantCultureIgnoreCase.Compare(ch1, ch2); //=> -1`
`ch1.ToUpperInvariant(); //=> remains the same`
`ch2.ToUpperInvariant(); /

[2020-02-29 12:00] svick commented on #33008
This looks like you don't have the rights to create files in the directory `/usr/share/coremvc`. Can you try running the command in a directory where you have the rights, like a subdirectory of your home directory?

[2020-02-29 12:17] shaokuan commented on #33008
thanks..wheh i use chmod 777 to setting permission of folder,new mvc is working...

[2020-02-29 12:17] #33008 closed

[2020-02-29 12:48] benaadams opened #33010 "CI OSX x64 Could not find a part of the path '.../NuGetScratch/"
[code]
Seen in https://github.com/dotnet/runtime/pull/2004

[2020-02-29 14:12] #32690 closed

[2020-02-29 14:19] airbreather commented on #1857
In my original comment, I wrote this:

Should open an issue on [dotnet/dotnet-api-docs](https://github.com/dotnet/dotnet-api-docs) for that "decent first step" part of it?

As of right now, the "[Filing Issues](https://github.com/dotnet/runtime#filing-issues)" section of this repo doesn't link over there (I only found out about it when scrolling through and noticing the cross-reference from dotnet

[2020-02-29 14:44] #32408 closed

[2020-02-29 14:47] bencz commented on #7220
Hummm
The last time that i tried to build the Mono on my T2000 running Debian, I
got a lot of errors.....
Maybe I will try again

On Sat, Feb 29, 2020, 05:53 Marek Safar <notifications@github.com> wrote:

[2020-02-29 14:56] layomia opened #33011 "[Debug] IndexOutOfRangeException when extension data doesn't have two generic parameters"
_From @alanisaac in https://github.com/dotnet/runtime/pull/32952#discussion_r385989189. This issue exists only in debug mode. The fix could look like [this](https://gist.github.com/layomia/d77aeea5d3250785de5a7aa4dee95c46#file-create_data_extension_property-cs-L8-L20). We'll need tests for dictionary types with 0, 1, and 3 generic parameters._

I've added additional collection classes and tests fo

[2020-02-29 15:37] danmosemsft commented on #31338
Oh good thank you @MichalBrylka

[2020-02-29 15:59] MihaZupan commented on #1857
I suppose we could extend the scope of dotnet/dotnet-api-docs#3906 to cover this as well

[2020-02-29 16:06] ddgweb commented on #32812
@karelz @wfurt this problem happend 3moth ago, now , that Project is fail and discarded ,  I try find source and release on my server (centos7+nginx)  test agan , .net core 3.1 has the same error too , this request is for url "st.so.com" action "upload-image" , you can catch http-network by chrome -Devtool , then use .net core httpwebrequest or httpclient send post request , that you will find the

[2020-02-29 16:07] davidsh commented on #1857
Things like this can go into the 'Remarks' section of the relevant API methods/properties of Uri.

[2020-02-29 16:10] josegomez commented on #31688
Got it @kekekeks Thank you and thank you @616E64726173
I got it to work using ya'll suggestions.
However I would still argue that if dotnet core is going to provide Trimmed, Single File "Mac" Applications it should provide a way for us to register intent on this particular event (and most events that a standard Mac app can handle), specially if the only viable solution with .net core is using Mono

[2020-02-29 16:14] ddgweb commented on #32812
I think ,Can't be all https website have this problem , If it is true , .net core maybe have too more issure

[2020-02-29 16:17] vcsjones commented on #33010
Dupe of #32764.

[2020-02-29 16:25] benaadams opened #33012 "Test crossgen-comparison Linux arm checked comparing wrong files?"
Is comparing `arm` to `x64_arm` and complaing hash sums are mismatched (then job fails)

[code]

Seen in https://github.com/dotnet/runtime/pull/32538, https://github.com/dotnet/runtime/pull/2004, https://github.com/dotnet/runtime/pull/33004

[2020-02-29 16:29] RaidMax opened #33013 "Unexplained CPU usage on Linux when using HTTPClient and Regex"
I'm encountering a CPU usage issue when retrieving a string with `HTTPClient` and processing the resulting string with `Regex`. This issue _does not occur on Windows_.
I'm not certain if the issues lies in the `HTTPClient` or the `Regex` class.
At apparent random intervals it'll spike CPU usage. I've encountered this on multiple Linux systems (even different distros)

**Code Snippet**
[code]

**OS

[2020-02-29 16:48] davidsh commented on #32812
@ddgweb Thank you for giving us more information about the problem you're seeing. Unfortunately, I still don't fully understand how to reproduce this problem or exactly what .NET Core 3.1 APIs you're using. You indicate that there is a server involved (centos7+nginx) and also another external server, https://st.so.com/

In order for us to investigate the problem, we need a small repro that we can

[2020-02-29 17:11] xiongdashan commented on #721
So bad！！！
I had same problem, When i updated dotnet-ef version to  3.1.2

[2020-02-29 17:31] AndyAyersMS commented on #33012
The cross-arch aspect of the comparison is intentional -- we are trying to show that one can generate the same arm bits whether crossgen runs on arm or on x64.

The bug is that there's now a diff, it crept in because the test was failing so often with timeouts that we failed to notice when it failed for other reasons.

Dup of #32951

[2020-02-29 17:31] #33012 closed

[2020-02-29 17:43] EgorBo opened #33015 "Mono: devirtualize sealed calls"
Mono doesn't devirtualize (and inline) sealed methods, e.g.:
[code]
`b.Foo()` is expected to be devirtualized and inlined because it is `sealed`.
#### Current codegen:
[code]
#### Expected codegen:
[code]

CoreCLR is able to do it, part of the jitdump for Test:
[code]

[2020-02-29 17:54] danmosemsft commented on #33013
The regex implementation is identical on Windows and Linux so most likely it is not the culprit.

Have you tried profiling? If the spike is more than a second or two or may be sufficient to just grab a dump file (https://github.com/dotnet/diagnostics/blob/master/documentation/dotnet-dump-instructions.md) and see what is going on.

[2020-02-29 17:55] danmosemsft commented on #33013
How to get a profile : https://github.com/dotnet/diagnostics/blob/master/documentation/dotnet-trace-instructions.md

Please post back what you find out.

[2020-02-29 17:57] RaidMax commented on #33013
Thanks for you comment. I originally captured trace logs when I encountered the issue in live code, but couldn't really ascertain the source and it's much more complex than the repro code. I will try profiling this simpler code and see what I can determine

[2020-02-29 17:59] danmosemsft commented on #721
@xiongdasha please open a new issue if necessary

[2020-02-29 18:02] danmosemsft commented on #33009
@GrabYourPitchforks will know

[2020-02-29 18:06] danmosemsft commented on #33007
What is the value of this - why do these other platforms offer it?

[2020-02-29 18:06] EgorBo commented on #33015
Also, Xamarin.iOS has a linker substep where it marks all methods and classes as `sealed` if there are no subclasses/overrides.
So this opt will be nice to have.

[2020-02-29 18:08] danmosemsft commented on #33007
Oh, it seems intended for serializers.

https://en.cppreference.com/w/cpp/io/manip/quoted

[2020-02-29 18:17] RaidMax commented on #33013
@danmosemsft,
Here are some results from speedscope analysis.
This was about a 15 second capture.
I've attached two captures (the second one is very short during the CPU spike).
Let me know if I can provide more information.

**Thread 1**
![image](https://user-images.githubusercontent.com/6732771/75612814-d6c15e80-5aec-11ea-993b-0702c1884c64.png)

**Thread 2**
![image](https://user-images.githubus

[2020-02-29 18:23] cup commented on #33007
@danmosemsft as an example, say you have a program like this:

[code]

That final space wont be easily identifiable. You might counter with, "well
just do this":

[code]

but as I alluded to previously, this will fail as string can in general contain
any arbitrary character, including any character that you might choose to use
as a delimiter, making the above suggestion ambiguous should the delimi

[2020-02-29 19:13] erjicles commented on #20681
Just my 2 cents - I think BigRational (based on BigInteger) should be (re)added to this list. Arbitrary-precision rational numbers would be very useful in many applications, and after much sleuthing around the internet, it seems that a lot of people wind up having to roll their own half baked versions of it because it's not provided as managed code anywhere.

Also, it seems it was scratched from t

[2020-02-29 19:14] danmosemsft commented on #33013
You could try  RegexOptions.Compiled, but I'm still guessing it's irrelevant. Is the regex getting invoked just as often in both platforms?

Cc @adamsitnik

[2020-02-29 19:21] RaidMax commented on #33013
On average yes. My first attempt to counter the issue was to increase the regex cache size (as original project had a lot more patterns) followed by using the compilation and case insensitive flag when that failed to make a difference. The compiled flag slightly reduces average CPU usage but not the spikes.

[2020-02-29 19:33] danmosemsft commented on #33013
If you change the regex to something else (string.contains perhaps) do you still see the difference between  platforms ?

[2020-02-29 19:41] reflectronic commented on #14336
Er... there wasn't actually an API proposal before. However, I have now updated my original comment with an API proposal.

[2020-02-29 19:43] RaidMax commented on #33013
Yes, a stop gap design I started working on was implementing a different parsing method for each platform.

Replacing the regex call with a string.Split and accessing the elements by index appears to prevent the CPU usage spikes.

However using regex alone with a static set of strings that resemble the test data I can’t reproduce the issue.

The only way I’ve been able to reproduce the issue is us

[2020-02-29 20:52] omariom commented on #33015
@MichalStrehovsky Does CoreRT do the same?

[2020-02-29 23:02] jkotas commented on #19689
This fix was meant for better compat with .NET Framework. We have not seen it to be a problem in practice and fixing this now would be breaking change between .NET Core versions. Closing.

[2020-02-29 23:02] #19689 closed

[2020-02-29 23:31] GrabYourPitchforks commented on #33009
`ToUpperInvariant` doesn't necessarily do what most people think it does. If a character is not itself uppercase, it performs a simple uppercase mapping transform on the character. Since `U+FE63 SMALL HYPHEN-MINUS` does not have an uppercase form (see https://unicode.org/cldr/utility/character.jsp?a=fe63&B1=Show, heading *Simple_Uppercase_Mapping*), its `ToUpperInvariant` form returns itself. Same

[2020-02-29 23:32] #33009 closed

[2020-02-29 23:35] baehny commented on #2317
I can confirm the issue is fixed using the current preview version: 5.0.0-preview.2.20128.16

[2020-03-01 00:21] GrabYourPitchforks commented on #33007
.NET doesn't expose a general-purpose "escape this string" API because it would be ambiguous as to what you mean. Are you looking for C#, C++, VB, F#, something else? (Remember: .NET isn't a specific language. It's a runtime.)

If you're looking for something that performs C#-style escaping specifically, check out the `CSharpCodeProvider` type and the `CodePrimitiveExpression` type. In fact, [a bu

[2020-03-01 00:51] stephentoub commented on #33013
I haven't tried it, but your repro is splitting the response based on "\r\n".  Is it possible in your Linux environment the input being split contains "\n" rather than "\r\n", and that's causing different inputs than you expect to the regex?

[2020-03-01 01:05] RaidMax commented on #33013
The sample text filed used as the source were created on a Windows machine. (This goes for the repro code as well as the project I originally observed this behavior in).

If it were the case that the new line characters were being altered perhaps in the WriteLine response, would high CPU utilization be a symptom?

[2020-03-01 01:08] stephentoub commented on #33013
The listener in your repro is using StreamWriter to write each line to the response.  StreamWriter by default will use "\n" as the line ending on Linux.

Potentially.  If backtracking is involved, some regular expressions can become exponentially more expensive on longer inputs.

Again, I don't know if this is the cause, but the "\r\n" jumped out at me, given the description of your issue.

[2020-03-01 01:21] RaidMax commented on #33013
I think you're on the right track here. The actual source of the string/lines to be parsed are coming from a python script (not the Listener), which I assumed was sending the chunks of the file with the original line endings.
Also in the project original noticed in the split looks like this:
![image](https://user-images.githubusercontent.com/6732771/75617705-8ff15a00-5b28-11ea-96a8-e6919a7dd906.pn

[2020-03-01 01:50] danielwcarey commented on #20681
Here is an implementation that I find quite useful.
https://github.com/tompazourek/Rationals

[2020-03-01 02:39] ivan-myob commented on #32911
I run into the same issue, and following fix did not help.
[code]
If I run
[code]
I see that library is there.
Probably, because I'm trying to debug from rider? Could you advice what else I can possibly be missing or where else to look?

[2020-03-01 02:51] andy-yx-chen commented on #32911
For dotnet <dll>, the solution does not work, I think that should be fixed, for my devbox, I just go with link the dylib to dotnet core app share, such as `/usr/local/share/dotnet/shared/Microsoft.NETCore.App/3.1.2`

[2020-03-01 02:52] ivan-myob commented on #32911
Yeah I done the same - it did not help :/

[2020-03-01 02:53] andy-yx-chen commented on #32911
that works for me, or you can try `fs_usage` and check which paths were searched by your app

[2020-03-01 02:54] ivan-myob commented on #32911
Nevermind, I added it to `Microsoft.AspNETCore.App`. Works, thanks @andy-yx-chen !

[2020-03-01 03:50] jkotas commented on #32951
This is affecting all CoreCLR PRs. I am reverting the change in https://github.com/dotnet/runtime/pull/33021

[2020-03-01 04:19] ptsneves commented on #1035
Hello @davidsh the goal is exactly for handshake purposes. The endpoint should only be used for this content type and I want the Middleware to reject the connection immediately if the content type is incorrect. The http GET verb is kind of irrelevant for web sockets anyway as HTTP becomes just a transport on which the web socket session will run. So to sum up, I would like to not even start a web

[2020-03-01 07:14] davidfowl commented on #32125
Right.

It's definitely better than spawing another thread to complete the blocked one.

What about async requests queued behind synchronous requests? In particular, what happens if the request that establishes the connection is synchronous and then another async requests is made after it? I guess I could read the code but I figure it's worth bringing up these weird interactions now...

[2020-03-01 07:43] Happypig375 commented on #20681
@erjicles Re-included `BigRational` :)

[2020-03-01 08:36] kugarliyifan opened #33023 "Is that any best way to call async function in a sync function"
In asp.net core is that any best way to call async function in a sync function,and get the result
1. someasync.Result?
2.someasync.RunSynchronously()  someasync.Result?
3.someasync.GetAwaiter().GetResult()???
or other way?

[2020-03-01 08:47] slang25 commented on #33023
A good resource on this topic is here:
https://github.com/davidfowl/AspNetCoreDiagnosticScenarios/blob/master/AsyncGuidance.md#avoid-using-taskresult-and-taskwait

In short, there is no good way to do it. `.GetAwaiter().GetResult()` will give you the actual exception if there is one, whereas `.Result()` will wrap it in an AggregateException, so is slightly preferable, but is still bad.

[2020-03-01 09:49] Fs00 commented on #765
Ok, I'll look into it when I have some time. Can you point me in the right direction on how to change/add new exception message resources? (is some special operation needed?)
And what about the other two proposals?

[2020-03-01 10:57] neville-nazerane commented on #17393
Should it be `SetResult()` and `TrySetResult()` even though we will not be setting a result?
Couldn't it just be `Complete()` and `TryComplete()`?

[2020-03-01 12:13] MichalStrehovsky commented on #33015
Yes, and it's behind policies so that we don't do this if Assembly.Load or Reflection.Emit is allowed.

[2020-03-01 13:12] robertsundstrom opened #33027 "Question about the future of nullable types"
In a future version - let’s say .NET 6, would you consider making a breaking change in the CLR to redo nullable types and to make it a first class runtime feature?

What would that take? I guess adding fields to the metadata and runtime checks. Simplified, of course.

Updating the compilers, obviously.

Could you even preserve backwards compatibility with .NET 5 somehow?

[2020-03-01 13:40] svick commented on #33007
Another option would be to use the other C# compiler API: Roslyn.

For example, consider the following code:

[code]

It prints:

[code]

While Roslyn is more heavy-weight than CodeDOM (suggested by @GrabYourPitchforks above), I think it's more likely to be bug-free and up-to-date, since it's the actual code of the C# compiler.

[2020-03-01 14:02] stephentoub commented on #32125
Same thing as is they were both async: the latter will asynchronously wait for the connection to be established. For the first request, we could choose to make the connection established synchronously or have it be sync-over-async, but either way the subsequent async request will asynchrously wait for the shared connection to be established.

[2020-03-01 14:26] cup commented on #33007
@svick thanks, that is exactly what I am looking for. Using this file:

[code]

I can compile like this:

[code]

whats interesting is the resultant file requires these to be in the same
directory:

[code]

even just having them in the PATH doesnt seem to do it.

[2020-03-01 14:45] lostmagicK commented on #32812
My website is simple http website i just wanted to make a post request to Google's FCM API and there problem exists, Now i am planning to workaround by hosting a php site in subdomain and calling php api using dotnet core. Its irritating but i think its only way...

[2020-03-01 15:05] NinoFloris opened #33029 "[Uri] Provide lossless roundtripping for Uri between platforms (Windows / Linux)"
Related to https://github.com/dotnet/runtime/issues/22103

`Uri` seems to be missing a capability to operate in a platform independent manner. We ran into this during testing. Today there seems to be no way to round-trip `Uri` across windows and unix machines. This must be an oversight.

Concretely, transforming backslashes to forward slashes significantly changes meaning of the URI and could be d

[2020-03-01 15:06] svick commented on #6722
@danmosemsft Just to clarify, are you saying that it's a breaking change to return a type other than `Dictionary<,>.Enumerator` from `IDictionary.GetEnumerator()`, because existing code could do something like the following, which would stop working with such change?

[code]

[2020-03-01 15:41] jkotas commented on #33010
I have noted the stacktrace in https://github.com/dotnet/runtime/issues/32764 so that it is easy to find.

[2020-03-01 15:41] #33010 closed

[2020-03-01 15:44] jkotas commented on #2234
Hit by https://github.com/dotnet/runtime/pull/33025:

https://dev.azure.com/dnceng/public/_build/results?buildId=542122&view=logs&jobId=b226872e-8c83-547b-bd09-c26e54b2cebc&j=b226872e-8c83-547b-bd09-c26e54b2cebc&t=1f299386-bba9-46bf-b6f5-eb428c54b41e

[2020-03-01 15:56] jkotas commented on #33027
We have pretty high bar for breaking changes. Incrementally updating the existing design in non-breaking way is fine, but large scale breaking changes would not be acceptable.

If we believed that the right way to do nullable types is by making them a first class runtime feature, we would do it that way in the first place. The chance of that happening now is close to zero.

[2020-03-01 15:56] #33027 closed

[2020-03-01 15:58] #33023 closed

[2020-03-01 16:05] jkotas commented on #32964
Service Bus outage causing the Helix client to fail renewing the lock on a work item

[2020-03-01 16:05] #32964 closed

[2020-03-01 16:06] davidsh commented on #32812
@lostmagicK

So, you aren't hosting an ASP.NET Core website using HTTPS? But are you using ASP.NET Core at all to host your HTTP site? And then from that you make outbound requests to Google's websites?

It sounds like your scenario is different from @ddgweb despite getting a similar error.

If you want us to diagnose your problem in more detail, I suggest you open a new issue and post a complete

[2020-03-01 16:17] jkotas commented on #2280
Hit in https://github.com/dotnet/runtime/pull/33028 on netcoreapp5.0-Linux-Debug-arm64-Mono_release. If you are not actively working on this, disable the test on Mono against this issue to keep the CI clean.

[2020-03-01 16:27] #32943 closed

[2020-03-01 16:34] jkotas commented on #13749
.NET Core 2.2 is out of support.

[2020-03-01 16:34] #13749 closed

[2020-03-01 16:37] jkotas commented on #622
Fixed in 3.1.2

[2020-03-01 16:37] #622 closed

[2020-03-01 16:42] #33007 closed

[2020-03-01 16:43] kugarliyifan commented on #33023
thk!!!

[2020-03-01 16:45] mrange opened #33030 "Let Utf8JsonReader process input with one complete JSON document per line"
**EDIT** see https://github.com/dotnet/runtime/issues/33030#issuecomment-2197778133 for an API proposal

_Apologies if this ticket has been created but I missed it or there's a flag that I missed. I looked around but didn't find a good match._

I work in BigData and a common scenario is that we have large files that contains JSON documents separated by newline like so:

[code]

This is not a valid

[2020-03-01 16:46] jkotas commented on #13475
Fixed in 3.1.2

[2020-03-01 16:46] #13475 closed

[2020-03-01 16:48] #3780 closed

[2020-03-01 16:51] #10240 closed

[2020-03-01 16:51] #10242 closed

[2020-03-01 16:52] #9871 closed

[2020-03-01 16:55] jkotas commented on #10457
Non-actionable in dotnet/runtime

[2020-03-01 16:55] #10457 closed

[2020-03-01 16:56] #8894 closed

[2020-03-01 16:57] #2781 closed

[2020-03-01 16:59] #29118 closed

[2020-03-01 16:59] NinoFloris commented on #30964
@YohDeadfall to fully understand your example, you think case 1 should (de)serialize `ClassWithPublicProperty.MyString` because the derived class new slot property is private, and therefore less visible?

I guess I can agree to having every new slot property with higher or equal visibility being preferred over its parent. Is that the plan? Ultimately it's another thing to keep in mind, always hidi

[2020-03-01 17:03] jkotas commented on #3332
2.2 is out of support

[2020-03-01 17:03] #3332 closed

[2020-03-01 17:07] #3013 closed

[2020-03-01 17:22] mrange commented on #33030
Code example of workaround:

[code]

[2020-03-01 17:29] benaadams opened #33031 "Assert failure currentProcessCpuCount == g_processAffinitySet.Count()"
https://helix.dot.net/api/2019-06-17/jobs/5c24c550-4c42-459f-bbfd-21e69cbf8a27/workitems/System.Diagnostics.Process.Tests/console

`Libraries Test Run checked coreclr Linux x64 Debug `
[code]

Seen in https://github.com/dotnet/runtime/pull/32538

[2020-03-01 17:34] AndyAyersMS commented on #33031
Also seen in #33004

https://helix.dot.net/api/2019-06-17/jobs/39ad1508-af24-45b6-a333-b29865d72b21/workitems/System.Diagnostics.Process.Tests/console

Older reports of this or something similar looking: #12510, #13215.

[2020-03-01 17:43] zhou881117 opened #33032 "System.Drawing.Common EMF"
all emf image size is error on linux
every emf image width is 2181 height is 3209 on linux

[2020-03-01 17:48] jkotas commented on #32593
Duplicate of https://github.com/dotnet/runtime/issues/12510

[2020-03-01 17:48] #32593 closed

[2020-03-01 17:49] jkotas commented on #33031
The other failures so far were on arm. It is interesting that we have hit it on x64 as well.

[2020-03-01 17:49] jkotas commented on #33031
Resolving as dup of #12510

[2020-03-01 17:49] #33031 closed

[2020-03-01 17:51] jkotas commented on #12510
This is getting hit in CI

[2020-03-01 17:57] benaadams commented on #33031
Might be race with process exit? `Cannot process request because the process (15210) has exited.`

[2020-03-01 19:37] stephentoub commented on #33013
Thanks. Since the difference is now explained, can we close this issue?

[2020-03-01 20:14] blankensteiner commented on #32536
Hi @layomia
Sure, will the above suffice?

[2020-03-01 20:16] blankensteiner commented on #32965
Hi @layomia
I would love to, but I can't edit your post. Should I just create a new comment and copy/past + the alteration needed?

[2020-03-01 20:21] benaadams commented on #4233
There are other .NET languages.

[2020-03-01 20:22] RaidMax commented on #33013
Yeah I think that's fine, I haven't had a chance to dig further yet, but for now it looks like it's explained by having runaway regex matching due to line ending differences.

[2020-03-01 21:04] KoziLord commented on #31292
@danmosemsft I've tried a couple benchmarks in the past however I didn't get any improvements worth submitting. There's people more qualified to this than me, however if I do end up with something worthwhile I'll make sure to submit it.

[2020-03-01 21:14] Mrxx99 opened #33033 "[API Proposal]: Add extension method AsReadOnly() for IDictionary<TKey, TValue>"
## Background and motivation

Like the `List<T>` has a method `AsReadOnly()` I would like to propose the same for the Dictionary.
This could lead to more clean and fluent code, when you can call AsReadOnly at the end of a call chain instead of creating a new instance of ReadOnlyDictionary manually.

I am aware that Dictionary already implements IReadOnlyDictionary but only using the ReadOnlyDictio

[2020-03-01 21:18] stephentoub commented on #33013
Thanks. For reference, can you share the regex, the input that takes a long time, and the expected result?

[2020-03-01 21:18] #33013 closed

[2020-03-01 21:19] brianrob commented on #10457
cc: @noahfalk, @sywhang, @josalem

[2020-03-01 21:26] brianrob commented on #32935
We specifically added this error message because release builds were making it out into the wild without IBC data, and thus partial NGEN resulted in no pre-compilation.  I wouldn't want to go back to a world where that's a possibility.  Without having dug too much into the targets here, I'm not sure there's a great answer here.  The invariant we want to hold true is that we always call crossgen -p

[2020-03-01 21:29] tarekgh commented on #18258
@danmosemsft I'll try that with WSL2 during next week or so and will report what I find.

[2020-03-01 22:13] davidsh commented on #1035
@ptsneves Thank you for explaining your use case.

The HTTP RFC doesn't disallow those headers for a GET request even if the request body payload is 0 bytes. So, I agree with you that this scenario should work.

It currently doesn't work due to how we store headers. Those particular headers such as 'Content-Type' are stored in an HttpRequestMessage.Content.Headers collection only. But since there

[2020-03-01 22:44] danmosemsft commented on #765
No special process for the exceptions..just a PR.

@Anipik is owner of this area and could comment on the other two suggestions

[2020-03-01 23:03] Const-me opened #33034 "Unable to run hello world on ARM Linux"
The command I'm running: `dotnet my.dll`

[code]
Content of my runtimeconfig.json:
[code]
I’ve even verified that `nano` opens that file, by copy-pasting the path, opens OK.

Output of `dotnet --info`
[code]
Another one, same bug:
[code]

Can reproduce with 100% probability, when running from a network mounted location.
Mount command: `sudo mount -t cifs //192.168.0.55/z$/Something /home/pi/z -o '

[2020-03-02 01:00] stephentoub commented on #1080
@danmosemsft, unless there are known scenarios demanding this, I suggest it be closed. It's otherwise just going to sit open for a long time.

[2020-03-02 01:02] HASSEN-MEDDEB-ATOS opened #33081 "System.InvalidOperationException: Misused header name. Make sure request headers are used with HttpRequestMessage, response headers with HttpResponseMessage, and content headers with HttpContent objects."
Hello,

I had this error when i called WS, Erreur lors de l'import des contrats depuis le web service, message de l'erreur : 0
System.InvalidOperationException: Misused header name. Make sure request headers are used with HttpRequestMessage, response headers with HttpResponseMessage, and content headers with HttpContent objects.
   at System.Net.Http.Headers.HttpHeaders.GetHeaderDescriptor(String

[2020-03-02 01:02] layomia commented on #32965
@blankensteiner - ah, I see. Yes, a new comment is fine.

[2020-03-02 01:07] stephentoub commented on #23683
@danmosemsft, can you run your test again, but using .NET 5 master?

[2020-03-02 02:14] VincentBu opened #33036 "Some pipelines have no 'Test' view because build fail"
Here are those pipeline:
[runtime-coreclr jitstressregs 20200301.1](https://dev.azure.com/dnceng/public/_build/results?buildId=542095&view=results)
[runtime-coreclr jitstress-isas-arm 20200229.1](https://dev.azure.com/dnceng/public/_build/results?buildId=541875&view=results)
[runtime-coreclr gcstress0x3-gcstress0xc 20200229.1](https://dev.azure.com/dnceng/public/_build/results?buildId=541652&view=

[2020-03-02 02:28] sandreenko commented on #33036
They all fail with `##[error]largeexceptiontest.cs(12,5): error CS0246: (NETCORE_ENGINEERING_TELEMETRY=) The type or namespace name 'LargeObject' could not be found (are you missing a using directive or an assembly reference?)
`.

I do not see any warning about that in the previous builds and these files have not been changed last 4 months.

[2020-03-02 02:49] stephentoub commented on #29605
Closing as a dup of https://github.com/dotnet/runtime/issues/25423.

[2020-03-02 02:49] #29605 closed

[2020-03-02 02:50] danmosemsft commented on #1080
Anyone who thumbed this up want to make a case for having this? If not we will close it.

[2020-03-02 02:50] stephentoub commented on #7607
We're not investing in "slow span".  Closing.

[2020-03-02 02:50] #7607 closed

[2020-03-02 02:50] #7478 closed

[2020-03-02 02:50] stephentoub commented on #7478
Closing per @GrabYourPitchforks' comment.

[2020-03-02 02:53] v-haren commented on #33036
also failed in:
[ runtime-coreclr outerloop 20200301.2](https://dev.azure.com/dnceng/public/_build/results?buildId=542295&view=results)
[runtime-coreclr jitstress 20200229.1](https://dev.azure.com/dnceng/public/_build/results?buildId=542011&view=results)
[runtime-coreclr jitstress2-jitstressregs 20200301.1](https://dev.azure.com/dnceng/public/_build/results?buildId=542318&view=results)
[runtime-co

[2020-03-02 02:54] sandreenko commented on #33036
PTAL @dotnet/runtime-infrastructure

[2020-03-02 02:57] stephentoub commented on #31307
In that case, anything we'd do here would be covered by https://github.com/dotnet/runtime/issues/23602, so I'll close this. Thanks.

[2020-03-02 02:57] #31307 closed

[2020-03-02 03:27] sandreenko commented on #33036
duplicate of #32966

[2020-03-02 03:27] #33036 closed

[2020-03-02 04:22] Jozkee commented on #2280
Another hit here: https://github.com/dotnet/runtime/pull/32909/checks?check_run_id=473576884

[2020-03-02 06:25] cristina-dorotan opened #33037 "TimeZoneInfo StandardName, DisplayName changes"
Steps to reproduce the issue
use Net Core 2.1 and Display StandardName and DisplayName on Windows os
use Net Core 3.1 and Display StandardName and DisplayName on Linux os

Expected behavior
We expect that the StandardNamas and DisplayNames to be the same from 2.1 to 3.1

Actual behavior
It seams that the behavior has changed from 2.1 to 3.1 on Linux os, the DisplayName is replaced by StandardName

[2020-03-02 06:40] AriNuer commented on #2131
same test failed 'System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2.Http2_PendingSend_SendsReset' has failed here runtime-libraries outerloop#20200301.1

Details:
https://dev.azure.com/dnceng/public/_build/results?buildId=542108&view=ms.vss-test-web.build-test-results-tab&runId=17175548&resultId=102753&paneView=debug

[code]

[2020-03-02 06:51] mikhail-barg commented on #27191
I'd like to add another reason for such an API to exist: it's working with multimedia and/or VoIP stuff. For example when playing voice over network, you need to provide audio packets in really proper intervals, or you get tearing.

So for windows the proper way to do this is to use [Multimedia Timers](https://docs.microsoft.com/en-us/windows/win32/multimedia/multimedia-timers).

But what to do fo

[2020-03-02 07:30] polijp opened #33057 "Performance issues for Math.Min, Math.Max for double/float"
# Issue Title

Using Math.Min in a loop is almost 4 times slower than before.

# General

Porting our libraries to .net core 3.1, we realized performance issues on Math.Min. Min is including in a loop with millions of iterations. The loop execution was almost 4 times slower than before.

I looked at the source code and realized that the AggressiveInlining option (MethImplAttribute) was missing on

[2020-03-02 07:32] blankensteiner commented on #32965
As explained in the related issue #32429, I'm currently writing my own (de)serializer because I need to support creating the object without calling a constructor (using System.Runtime.Serialization.FormatterServices.GetUninitializedObject) and getting/setting private and read-only fields (using System.Reflection.FieldInfo.SetValue).

Just like [JsonSerializer](https://docs.microsoft.com/en-us/dotn

[2020-03-02 07:59] jelovacsoley opened #33038 "After migration to .Net Core 3.1 for a given Cancellation Request test case ReadAsStringAsync() throws System.IO.IOException with message 'Error while copying content to a stream'"
After migrating my solution from 2.2 to 3.1 I ended with a single test failing.

Test:
[code]
`EnsureSuccessStatusCodeWithMessage` is extension method where I use `ReadAsStringAsync`:

[code]
the `response.Content.ReadAsStringAsync();` throws `System.IO.IOException` with message `Error while copying content to a stream`

Btw, if I leave the request to finish (remove the cancellation part), I don't

[2020-03-02 08:07] joozek78 commented on #32859
Is there a workaround I could try? Not being able to connect to a database is a critical issue for me

[2020-03-02 08:48] HASSEN-MEDDEB-ATOS opened #33039 "System.InvalidOperationException: Misused header name. Make sure request headers are used with HttpRequestMessage, response headers with HttpResponseMessage, and content headers with HttpContent objects."
Hello,

I have migarted my project from .NET Framework to .NET Core, and when i call WS i get error

System.InvalidOperationException: Misused header name. Make sure request headers are used with HttpRequestMessage, response headers with HttpResponseMessage, and content headers with HttpContent objects.
   at System.Net.Http.Headers.HttpHeaders.GetHeaderDescriptor(String name)
   at System.Net.Htt

[2020-03-02 09:49] GSPP commented on #14336
@reflectronic It seems you are proposing adding parallel properties. So both an `int` version and a `TimeSpan` version. What behavior would result from reading and writing both properties? When I set 1.5 seconds using the `TimeSpan` version, what do I get reading the `int` version? Probably a rounded result.

Thanks to default interface methods it might actually be feasible to modify the interface

[2020-03-02 10:01] vanashimko commented on #32171
@janvorli I've tried to switch one part of our code from emit using `AssemblyBuilder` to Roslyn and `AssemblyLoadContext`. And faced the same (I suppose) crash:

https://drive.google.com/file/d/1Q2ermVUhxF07JTZCwJuVOnXsgRVMA0mE/view?usp=sharing

managed trace:

[code]

unmanaged trace:

[code]

[2020-03-02 10:12] TFTomSun opened #33040 "Can't resolve dependencies in published .net core applications"
Recently I have a very weird behavior of the .net core runtime and I have absolutely no idea what I could do about it.
I publish an application:

When I try to start it, it can't resolve any of the references that are published together with the appliciation

File name: 'Siemens.Collaboration.Net.Logging, Version=1.0.58291.446, Culture=neutral, PublicKeyToken=null'
   at Siemens.Collaboration.Net.

[2020-03-02 10:49] janvorli commented on #32875
@omajid I believe the fix you've suggested is correct. Can you please create a PR for it?

[2020-03-02 10:57] aevitas commented on #14336
@GSPP What would you envision such an upgrade tool to do? Would Roslyn analyzers with code fixes that allow people to migrate from the old overloads to the modern `TimeSpan` variants be feasible or do you think an API migration requires a more "rigid" approach?

Could be interesting to explore this path and see just how feasible providing (semi-)automated migrations from older APIs would be.

[2020-03-02 11:10] adamsitnik commented on #24192
If anybody is interested in seeing the full list, please filter by `tenet-performance` and `os-linux` labels: https://github.com/dotnet/runtime/issues?q=is%3Aopen+is%3Aissue+label%3Atenet-performance+label%3Aos-linux

[2020-03-02 11:59] GSPP commented on #14336
@aevitas I'm not too familiar with the Roslyn analyzer infrastructure. These upgrades need to happen in mass, across the entire solution, with a preview and a report of the changed locations.

If the old APIs are to be dropped in .NET 5 then opening a pre-5 solution with .NET 5 would immediately result in a lot of compiler errors. The tool should then go and fix them.

Maybe .NET 5 needs to keep a

[2020-03-02 12:19] janvorli commented on #32852
I have no idea why the libdl.dylib is not shown by the otool -L and still makes a difference. Just double checking - you have got the output from otool on the 10.14.5, right?
I've tried to build your test with and without -ld on my 10.14.6 and then compare the binaries. They were the same byte for byte. Would you be able to share your without / with binaries that you've built on 10.14.5 and that b

[2020-03-02 12:42] HASSEN-MEDDEB-ATOS commented on #33039
@davidsh any suggestion please

[2020-03-02 12:49] tannergooding commented on #27191
@mikhail-barg, could you please elaborate?

Most modern applications (especially games, etc) utilize the underlying `monotonic` hardware timers for the system. This is `QueryPerformanceFrequency` and `QueryPerformanceCounter` on Windows, `clock_gettime` on Linux, and `mach_absolute_time` on macOS (and typically have resolution up to 1ns). The Multimedia Timers, to my knowledge, are considered lega

[2020-03-02 12:56] am11 commented on #13475
The helloworld app in Linux chroot of FreeBSD still failed when invoking the compiler (at `dotnet exec /path/csc.dll...`, during the build). Tested with 3.1.2, without the [workaround](https://github.com/dotnet/runtime/issues/13475#issuecomment-559854433). Here is the truss output: https://api.cirrus-ci.com/v1/task/6667788790005760/logs/emulate%20dotnet.log. With the `sched_getcpu` workaround, it

[2020-03-02 13:01] tannergooding commented on #4233
@benaadams, could you elaborate?

Other languages (such as F#) already support `IntPtr`/`UIntPtr` with operators since it is the framework type defined to match the runtime `native int` type (which itself has the direct IL support). C# is just exposing the new `nint`/`nuint` types to be partially erased wrappers over `IntPtr`/`UIntPtr` so that the operators can be exposed in a non breaking way (th

[2020-03-02 13:09] techfan101 commented on #30688
My primary interest here is the ability to deserialize to properties where the type is derived from ICollection (most often IList) and which have only a getter (no setter).  This is a common pattern within my pre-existing data models and almost a "must-have" capability for a deserializer.

That said, the ability to deserialize to other read-only types would sometimes be useful as well.   However,

[2020-03-02 13:15] tannergooding commented on #6207
This was resolved in .NET Core 3.0 alongside the floating-point parsing and formatting improvements: https://devblogs.microsoft.com/dotnet/floating-point-parsing-and-formatting-improvements-in-net-core-3-0/

[2020-03-02 13:15] #6207 closed

[2020-03-02 13:29] wcswanson opened #33055 "CloudLinux 6.10 will not run net core web app -- Segmentation fault (core dump)"
# Issue Title
CloudLinux 6.10 will not run net core web app -- Segmentation fault (core dump)
Be as descriptive as you can with your title.

# General
I did a self contained install on CloudLinux 6.10 and received the following error Segmentation fault (core dump). The code was compiled with this:
`dotnet publish -c Release -r centos-x64`
It will run on Centos 7 & 8 but not ClouldLinux. Tech suppo

[2020-03-02 13:55] msedi commented on #508
@tannergooding I have updated my proposal and hope that it fits your needs. Otherwise please just come back and hit me ;-)

[2020-03-02 14:48] davidsh commented on #33039
Entity body related headers such as 'Content-Type', 'Content-Length' should be added to the Content.Headers collection of HttpRequestMessage. That assumes that you are also adding an HttpContent object as well since you are trying to probably post some content.

[code]

[2020-03-02 14:56] HASSEN-MEDDEB-ATOS commented on #33039
Thank you for your repsonse
 i get now this error :/
[code]
 Cordailly

[2020-03-02 14:56] HASSEN-MEDDEB-ATOS commented on #33039
[code]

[2020-03-02 15:00] antonfirsov commented on #753
A general update:

All prototyping is being done on https://github.com/tmds/Tmds.LinuxAsync, together with other experiments from #14304 . We hope to see some numbers soon. After that we can thing about the productization of the changes.

[2020-03-02 15:24] benaadams commented on #4233
So VB will be able to do use apis that expose `nint` (as they will be `IntPtr`); however the api changes for it don't expose comparison operators for `IntPtr` https://github.com/dotnet/runtime/issues/21943; so you couldn't use it as a loop iterator value without doing `i.CompareTo((IntPtr)upperbound) = 0`

[2020-03-02 15:33] naricc commented on #2280
I will disable the test this afternoon, if I can't figure it out immediately.

[2020-03-02 16:04] scholtz commented on #887
Hi @karelz , thanks for that.. I am trying to extend docker image mcr.microsoft.com/dotnet/core/sdk:3.1-buster with .net5, with no success yet.

I was able to install runtime using this:
[code]
but i am not able to find dependencies for the sdk:
for example it complains that runtime is in lower version than required runtime for sdk:

[code]
Any ideas where i can find dotnet-runtime > 5.0.0~preview

[2020-03-02 16:11] benaadams commented on #2325
`DateTimeParse:ParseExact` looks like a post inline zero of `DateTimeResult::Init`

[2020-03-02 16:15] tannergooding commented on #4233
Right, `IntPtr` is functionally the same as `Int32` and so it shouldn't directly expose user defined operators (and it minimally doing so in .NET 4 is one reason why we needed to go down the partial erasure route). Languages will need to treat it as a primitive type and emit the right IL instructions if they want operator support to be available.

@KathleenDollard or @jaredpar might be able to com

[2020-03-02 16:16] cheenamalhotra opened #33046 "'linux' does not seem inclusive of 'unix' RID"
Hi Team,

I'm coming from issue dotnet/sqlclient#445 where providing `--runtime linux-x64` fails to load DLL from `runtimes\unix\...` folder.

RID ref: https://github.com/dotnet/runtime/blob/master/src/libraries/pkg/Microsoft.NETCore.Platforms/runtime.json

Is that expected behavior?

[2020-03-02 16:17] benaadams commented on #2325
Second zeroing in `DateTimeParse:ParseExact` is an explicit `initobj System.DateTimeResult` call; might be able to change the C#

[2020-03-02 16:21] benaadams commented on #2325
Can't use `Unsafe.SkipInit<T>` as its a `ref struct` :sad`

[2020-03-02 16:26] #32966 closed

[2020-03-02 16:36] jaredpar opened #33047 "CoreCLR outerloop failing due to bad project references"
Example build

https://dev.azure.com/dnceng/public/_build/results?buildId=542084

[code]

[2020-03-02 16:36] jaredpar commented on #33047
FYI @BruceForstall

[2020-03-02 16:36] pentp commented on #2325
You can still use the `_ = &local;` trick to get the same effect.

[2020-03-02 16:37] tarekgh commented on #18258
@danmosemsft looking at the method `PlatformDetection.IsNotWindowsSubsystemForLinux` used in the attribute, this method detect if we are running inside WSL by checking the content of the `/proc/version`

[code]

on WSL2 (Ubuntu 18.04), I am seeing the content of the file is

[code]

Which will make the detection always fail. note that `String.Contains` is case sensitive, which means "Microsoft" wi

[2020-03-02 16:42] benaadams commented on #2325
Alas can't do that either as it contains object references
![image](https://user-images.githubusercontent.com/1142958/75697315-cd7af200-5ca4-11ea-9aea-4cba8aba20e6.png)

[2020-03-02 16:44] benaadams commented on #33047
Fixed by https://github.com/dotnet/runtime/pull/33018?

[2020-03-02 16:45] #32177 closed

[2020-03-02 16:47] tannergooding commented on #508
For `AsVector`, could you use `TFrom`/`TTo`. These match the names we use in some of the other conversion APIs (such as `Unsafe.As`).

We don't need the implementation listed as that won't be important for API review. Instead, you could probably just comment that `TFrom`/`TTo` are valid for any `T` currently supported by `Vector<T>`.
The actual implementation, if approved, will likely be specializ

[2020-03-02 16:48] jaredpar commented on #4233
There are not for `nint`

[2020-03-02 17:00] ericstj commented on #730
This was fixed in 3.1.2 with package System.Reflection.MetadataLoadContext\4.7.1.

WPF is still working on picking up the fix in the SDK.

[2020-03-02 17:00] #730 closed

[2020-03-02 17:01] CoffeeFlux commented on #32510
This is reproducible with just a Hello World. Additionally, on OSX I can get a managed stack trace. Crash info below:

[code]

[2020-03-02 17:02] joperezr commented on #32907
Microsoft.NETCore.Platforms is a package that doesn't really contain any assets that get passed in to the compiler, but it is a package that includes a runtime mapping table that lets us know what are the latest RID mappings for all OSes. This file, looks something like this:
[code]

We include this package reference for any package that has Runtime-specific assets, as we want to make sure that if

[2020-03-02 17:06] tannergooding commented on #32510
Could this be a similar to: https://github.com/dotnet/runtime/issues/1716?

In the case of the 1716, it is believed that the failure is due to a runtime vs corelib mismatch.

[2020-03-02 17:06] CoffeeFlux commented on #32510
The exception the GetResourceString issue was covering up:

[code]

[2020-03-02 17:06] CoffeeFlux commented on #32510
cc: @EgorBo

[2020-03-02 17:08] tannergooding commented on #32510
With the latest stack trace, I'd more confidently say this is a duplicate of #1716 (https://github.com/dotnet/runtime/issues/32510#issuecomment-593508613).

[2020-03-02 17:10] jkotas commented on #13475
FreeBSD hang is likely a different underlying problem. Could you please open a new issue on it?

[2020-03-02 17:14] CoffeeFlux commented on #32510
Yep, looks like the same type of failure, though I would expect this is a Mono build issue rather than a true duplicate?

[2020-03-02 17:15] joperezr commented on #32907
I'll go ahead and close this given that I believe the question posted was answered, but @LazZiya please do feel free to reopen if you think otherwise or if you have any follow-up questions.

[2020-03-02 17:15] #32907 closed

[2020-03-02 17:17] joperezr commented on #20908
That is totally true for docs.microsoft.com, I has refering more to the case where we pointed back to a Readme.md on the repo as that was the example I gave for most NuGet packages.

[2020-03-02 17:19] tannergooding commented on #32510
Yes, probably.

The failure would indicate that the build is pulling a version of S.P.Corelib built for ARM/ARM64 or for 32-bit Unix: https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems#L1740-L1756

While the runtime believes that the ISA should be `IsSupported=true` (the `Isa.cs` files are recursively implemented, while th

[2020-03-02 17:22] NinoFloris opened #33049 "[Uri] UNC paths should consistently convert backslashes"
Related https://github.com/dotnet/runtime/issues/22103 https://github.com/dotnet/runtime/issues/33029

UNC paths passed to the Uri constructor seem to receive the same platform dependent treatment as file schemes, yet UNC is firmly a Windows file path concept. I believe backslashes should always be replaced in UNC paths, also when running on Unix.

[code]

This outputs `test\foo/bar` on Unix and `

[2020-03-02 17:26] danmosemsft commented on #18258
@tarekgh I guess we need to decide whether we want to have a separate condition for WSL1 vs WSL2. It would be nice if tests run clean on both but WSL2 is more interesting I think.

[2020-03-02 17:31] BruceForstall commented on #33047
We'll find out when https://dev.azure.com/dnceng/public/_build/results?buildId=543096&view=results finishes.

[2020-03-02 17:40] benaadams commented on #2325
Can't drop the `initobj` before codegen as don't know if its going to be fully cleared in the prolog until then. Doesn't seem a quick win here 😢

[2020-03-02 17:44] Anipik commented on #765
@Fs00 I will take a look at the two proposals and update the issue.

[2020-03-02 17:46] HASSEN-MEDDEB-ATOS commented on #33039
@davidsh  Can you invetigate please

[2020-03-02 17:46] tannergooding commented on #16676
Going to close this for now. I agree with @mellinoe's previous statement and I don't see this having gained much traction since then.

There are a lot of open ended questions still and I would ideally like to see a prototype of this library and is usage out in the wild before considering first class support in the .NET Libraries.

[2020-03-02 17:46] #16676 closed

[2020-03-02 17:48] tannergooding commented on #14531
Going to close this for now. This hasn't gained much traction and likely needs more thought/scenarios before it could be moved forward.

[2020-03-02 17:48] #14531 closed

[2020-03-02 17:51] ameltzerMSFT opened #33050 "When calling into COM API, behavior is different when a COM exception is thrown between desktop and core"
When calling into a COM API that errors in .NET Desktop, a COMException is thrown. In .NET Core, a TargetInvocationException is raised with an inner exception of COMException is thrown. This is a breaking change for any app that relies on COM API calls throwing a COMException for flow control.

Example repro:

[code]

In .NET Desktop, COMException is caught and the PowerShell script writes "caught

[2020-03-02 17:51] tannergooding commented on #14280
Going to close this for now. This hasn't gained much traction and likely needs more thought/scenarios before it could be moved forward.

If someone feels strongly about this, please feel free to open a new issue. Our API review process is detailed here with a "good example" being listed under step 1. Ideally the new issue would provide many of the sections given, but would at a minimum provide the

[2020-03-02 17:51] #14280 closed

[2020-03-02 17:52] am11 opened #33051 "Running dotnet in Linux chroot with FreeBSD host fails"
The helloworld app in Linux chroot of FreeBSD still failed when invoking the compiler (at `dotnet exec /path/csc.dll...`, during the build). Tested with 3.1.2, without the [workaround](https://github.com/dotnet/runtime/issues/13475#issuecomment-559854433). Here is the truss output: https://api.cirrus-ci.com/v1/task/6667788790005760/logs/emulate%20dotnet.log. With the `sched_getcpu` workaround, it

[2020-03-02 17:53] tannergooding commented on #14291
Going to close this for now. This hasn't gained much traction and likely needs more thought/scenarios before it could be moved forward.

If someone feels strongly about this, please feel free to open a new issue. Our API review process is detailed [here](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md) with a "good example" being listed under step 1. Ideally the ne

[2020-03-02 17:53] #14291 closed

[2020-03-02 17:53] tarekgh commented on #18258
I ran all the tests and looks they are passing. I didn't remove the attributes manually because is not really affecting the run and I am not seeing any test skipped because of this attribute.

I am seeing the run of some of the networking tests (e.g. `System.Net.Http.Functional.Tests`) has skipped many tests because we are not running stress mode.

[2020-03-02 17:54] tannergooding commented on #14362
Going to close this for now. This API needs some more thought about how shuffling would work with regards to variable length vectors (when exposed as a general-purpose API).

If someone feels strongly about this, please feel free to open a new issue. Our API review process is detailed [here](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md) with a "good example" bei

[2020-03-02 17:54] #14362 closed

[2020-03-02 17:55] am11 commented on #33051
Script with the `sched_getcpu` workaround: https://github.com/am11/freebsd-bootstrap-cli/blob/043bb4a/.cirrus.yml

without the workaround: https://github.com/am11/freebsd-bootstrap-cli/blob/0e316bb/.cirrus.yml

[2020-03-02 17:56] ericstj commented on #32935
So you want to test that all binaries have IBC data by failing if 3 of them are missing IBC data?  I understand you'd want test coverage, but relying on this as a side-effect of cross-gen commandline seems a little busted.

Regardless, if you want this stuff in the installer targets to match what is done in the optimatizationdata targets you ought to agree upon a contract to communicate that rathe

[2020-03-02 18:01] ViktorHofer commented on #127
@jkoritzinsky is there anything left to do here?

[2020-03-02 18:02] ViktorHofer commented on #487
Closing as done.

[2020-03-02 18:02] ViktorHofer commented on #487
Reopening as I misread the title.

[2020-03-02 18:03] tannergooding commented on #14522
Going to close this for now. This API needs some more thought about how gathering would work with when exposed as a general-purpose API.

If someone feels strongly about this, please feel free to open a new issue. Our API review process is detailed [here](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md) with a "good example" being listed under step 1. Ideally the n

[2020-03-02 18:03] #14522 closed

[2020-03-02 18:08] HASSEN-MEDDEB-ATOS commented on #33039
System.NullReferenceException: Object reference not set to an instance of an object, when i used  request.Content.Headers.Remove("Content-Type");
[code]

[2020-03-02 18:08] daxian-dbw commented on #33050
### Investigation from the PowerShell team

This is a behavior change in .NET Core comparing to .NET Desktop.
I updated the repro script a bit to print out the exception and all its inner exceptions, and the following is what I got from pwsh 7-rc.3 and Windows PowerShell respectively (updated repro script is pasted at the end):
[code]
As shown above, the COMException is wrapped by ‘TargetInvocatio

[2020-03-02 18:09] tannergooding commented on #20509
@Gnbrkm41, The proposed and approved API surface is only for `float`/`double`, so we shouldn't need to consider the integral types.

[2020-03-02 18:09] ViktorHofer commented on #910
Just took a look, there is still no link to the building instructions from the Contributing.md so this is still todo.

[2020-03-02 18:11] JensNordenbro commented on #2021
Alsö @ericstj ; work was done on 17468 and we were a couple of people following the issue and still wanted!

[2020-03-02 18:14] ViktorHofer commented on #736
Closing as it seems this hasn't happened again for some time.

[2020-03-02 18:14] #736 closed

[2020-03-02 18:15] tannergooding commented on #17453
It might be better to do `1.234E+123`. It would then be in a format similar too how float/double display large values.

[2020-03-02 18:16] stephentoub commented on #33039
You need to set Content to something. The null ref is from your method trying to call something off of the Content property, which will return null until you set it to something non-null.

[2020-03-02 18:20] davidsh commented on #33039
@HASSEN-MEDDEB-ATOS

Why do you want to set the 'Content-Type' header at all?

If you are trying to control the HTTP response body encoding, then you should set the 'Accept-Encoding' header instead.

[2020-03-02 18:25] NinoFloris opened #33053 "[Uri] Localpath shouldn't be encoding ucschars"
Passing Uri a UNC path that contains unicode special characters - which are valid directory and file names on Windows - get encoded to a percent encoded triplet anyway. This is correct when dealing with Uris, but `Uri.LocalPath` should not encode these characters.

[code]

Outputs `//example/%EF%BF%B0` yet it should output `//example/￰￰￰` (which is `//example/\uFFF0`)

[2020-03-02 18:27] danmosemsft commented on #910
I'll add something simple to CONTRIBUTING.md. Looks like I only updated README.md.

[2020-03-02 18:29] #910 closed

[2020-03-02 18:31] HASSEN-MEDDEB-ATOS commented on #33039
thnaks for all response but still same error,
[code]

[2020-03-02 18:31] danmosemsft commented on #33047
It would be ideal if the `<Error>`'s above had a message even if it was "Building child projects failed. Se errors above."

[2020-03-02 18:32] danmosemsft commented on #33037
Can you give concrete examples? (Code and output before/after)

[2020-03-02 18:33] stephentoub commented on #33039
Where are you setting request.Content?

[2020-03-02 18:35] ericstj commented on #2021
Alpine is only x64 in rid graph: https://github.com/dotnet/runtime/blob/129ee5252757ec8bdfccf9b271ded36675570309/src/libraries/pkg/Microsoft.NETCore.Platforms/runtimeGroups.props#L16-L20

Seems like that's not even consistent with the matrix.

[2020-03-02 18:36] davidsh commented on #33053
@MihaZupan

[2020-03-02 18:38] HASSEN-MEDDEB-ATOS commented on #33039
request.Headers.Add("Content-Type", "application/json;charset=UTF-8");
request.Headers.TryAddWithoutValidation("Date", utcFormattedDate);

[2020-03-02 18:39] tannergooding commented on #20308
This fix should use the new `System.HashCode` type to construct the final hash.

[2020-03-02 18:39] janvorli commented on #2021
That's strange as we've supported Alpine on ARM64 since 3.0 (see https://hub.docker.com/_/microsoft-dotnet-core-runtime-deps/, the Linux arm64 tags)

[2020-03-02 18:39] HASSEN-MEDDEB-ATOS commented on #33039
request.Content.Headers.Add("Content-Type", "application/json;charset=UTF-8");
                    request.Content.Headers.TryAddWithoutValidation("Date", utcFormattedDate);

[2020-03-02 18:39] ViktorHofer commented on #964
Closing in favor of https://github.com/dotnet/runtime/issues/487

[2020-03-02 18:39] #964 closed

[2020-03-02 18:40] jkoritzinsky commented on #127
I don't think there's any additional work unless we want to change our current output folders.

[2020-03-02 18:40] stephentoub commented on #33039
No, where are you actually setting the Content property, e.g.
[code]
?

[2020-03-02 18:41] ViktorHofer commented on #127
I don't think there is a need for that at the moment. Closing.

[2020-03-02 18:41] #127 closed

[2020-03-02 18:41] Anipik commented on #32935
I took a look at the official build and it doesn't seem like we are hitting this code on the official build as well. Not sure which target is responsible for embedding the ibc data to dlls

[2020-03-02 18:45] tannergooding commented on #20461
Going to close this as it hasn't gotten much traction and I would agree that it does not mesh well with the rest of the BCL.

[2020-03-02 18:45] #20461 closed

[2020-03-02 18:47] 616E64726173 commented on #32456
Yes, there is an issue with WaitForExit on OS X. It doesn't work at all.

As I said, in [dotnet/corefx/Process.OSX.cs:48 ](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/Process.OSX.cs#L48)you can clearly see that it invokes /usr/bin/open to spin up a process.

[dotnet/corefx/System.Diagnostics.Process/src/System/Diagnostics/Process.cs:1333](http

[2020-03-02 18:48] CoffeeFlux commented on #32510
Seems the issue here is purely that corlib uses intrinsics on some platforms that we didn't have implemented, not a platform inconsistency. Egor's PR adds the missing ones, which should fix this particular issue, but we should probably handle that case better and surface the actual exception if possible.

[2020-03-02 18:50] tannergooding commented on #20714
@dcwuser, could you please update the proposal to follow the "good example" listed under step 1 of our API review process: <https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md>

Ideally this would contain the rationale and proposed API sections, if nothing else. I would also expect `TanPi`, `AsinPi`, `AcosPi`, `AtanPi`, and `Atan2Pi` for parity (and as they are also re

[2020-03-02 18:50] HASSEN-MEDDEB-ATOS commented on #33039
https://docs.microsoft.com/fr-fr/aspnet/web-api/overview/advanced/http-message-handlers
but accrodign to this article we don't need to initialize object.Content ?

[2020-03-02 18:51] HASSEN-MEDDEB-ATOS commented on #33039
My code work well using .NET Framework

[2020-03-02 18:52] jaredpar commented on #2234
This hit several other builds as well

- https://dev.azure.com/dnceng/public/_build/results?buildId=542333
- https://dev.azure.com/dnceng/internal/_build/results?buildId=543099

This is occurring on a variety of Linux builds (not ARM specific). Hit rate is approaching %3 of builds now.

@MattGal are we looking into this?

[2020-03-02 18:53] jaredpar commented on #2209
Closing as we haven't seen recent occurrences of this. Please re-open if they pop up again.

[2020-03-02 18:53] #2209 closed

[2020-03-02 18:54] jaredpar commented on #1282
Removing blocking label now that mitigations are in place.

[2020-03-02 18:54] tannergooding commented on #27435
Going to close this.

`Vector(Span<T>)` was added in .NET Core 2.1.
`Vector(ReadOnlySpan<T>)` and `Vector.CopyTo(Span<T>)` were added in .NET Core 3.0

[2020-03-02 18:54] #27435 closed

[2020-03-02 18:56] ViktorHofer opened #33058 "dotnet build behavior is different for runtime-libraries"
dotnet build /t:Test should restore, build and then execute the test target (https://github.com/dotnet/docs/issues/6295#issuecomment-444008652). It looks like the build target isn't invoked but only the passed in target:

[code]

cc @ericstj @Anipik

[2020-03-02 18:58] ViktorHofer opened #33059 "dotnet build ignores the passed in TargetFramework in runtime-libraries"
`dotnet build /t:BuildAndTest -f net472` doesn't work on a test project, as it ignores the passed in framework.

[code]

cc @Anipik @ericstj

[2020-03-02 18:59] stephentoub commented on #33057
cc: @tannergooding

[2020-03-02 19:01] karelz commented on #887
@scholtz I would expect to see .NET 5 Docker image. At minimum with Preview builds. @richlander @MichaelSimons do you know more about it? (or someone who does)

[2020-03-02 19:03] tannergooding commented on #33057
Marked as up-for-grabs as it should be a trivial fix.

[2020-03-02 19:04] jkoritzinsky commented on #32991
The equivalent is `./build -subset corelib -os Linux`.

[2020-03-02 19:05] tannergooding commented on #33057
We should also add tests covering `Min`/`Max` to dotnet/performance. @adamsitnik might be able to help with this side of things.

[2020-03-02 19:05] HASSEN-MEDDEB-ATOS commented on #33039
https://docs.microsoft.com/fr-fr/dotnet/api/system.net.http.delegatinghandler.sendasync?view=netframework-4.8

[2020-03-02 19:08] davidsh commented on #33039
You must create a .Content object if you plan on adding content related headers to the request object like 'Content-Type'.

Also, you didn't answer my question [here](https://github.com/dotnet/runtime/issues/33039#issuecomment-593544271) about why you want to use 'Content-Type' header at all.

[2020-03-02 19:12] HASSEN-MEDDEB-ATOS commented on #33039
i used Content_Type to specifies to the server what data it should expect

[2020-03-02 19:12] BruceForstall commented on #33047
outerloop is now passing.

[2020-03-02 19:12] #33047 closed

[2020-03-02 19:13] ViktorHofer commented on #1282
Is this issue still actionable now that the mitigation is in place? Should we open another issue or link to an existing one which tracks the ARM hardware capacity issue?

[2020-03-02 19:14] davidsh commented on #33039
Ok. That implies you are sending data to the server? So, where is the data that you're sending? You usually create an `HttpRequestMessage` with the `.Content` property set to an object. But where is that code? Currently, `.Content` is null. So, that means you aren't sending any data (no request body).

[2020-03-02 19:18] HASSEN-MEDDEB-ATOS commented on #33039
No in this case i need to get Data from server

[2020-03-02 19:19] HASSEN-MEDDEB-ATOS commented on #33039
[code]

[2020-03-02 19:20] ahsonkhan commented on #32903
That's a bit strange. Is there a reason for that and should we (can we?) fix it?

[2020-03-02 19:20] HASSEN-MEDDEB-ATOS commented on #33039
[code]

[2020-03-02 19:21] davidsh commented on #33039
If you need to set 'Content-Type', you should set it on your request.Content.Headers object.  However, looking at your code, you probably already are setting it?

[code]

This statement tells me you want to control the data that the server sends to the client. So, you should be setting the 'Accept-Encoding' header on the HttpRequestMessage instead. That tells a server what kind of response body da

[2020-03-02 19:25] HASSEN-MEDDEB-ATOS commented on #33039
[code]

[2020-03-02 19:27] HASSEN-MEDDEB-ATOS commented on #33039
ystem.Exception: Exception of type 'System.Exception' was thrown.
   at VSMP_Contracts.CTR_WS_Connection.GetContracts(String URL, String startDate, String EndDate)

[2020-03-02 19:29] DustinCampbell opened #33061 "System.Drawing.Font Name and Unit properties are missing TypeConverterAttributes"
Both the `Font.Name` and `Font.Unit` properties are missing attributes for their respective type converters, `FontNameConverter` and `FontUnitConverter`. Both of these are included in `System.Windows.Extensions`. These missing type converters negatively affect how the font properties are displayed in the property grid control.

[2020-03-02 19:31] janvorli commented on #33055
The problem is that CloudLinux 6.10 is built on RHEL / CentOS 6. That system is too old. We have a special version for RHEL 6 that would work there (unless the CloudLinux deviated from the related RHEL one too much). You need to use rhel.6-x64 RID for your publish command

For the upcoming .NET 5.0, we've dropped support for RHEL 6, so only versions <= 3.1 would work there.

[2020-03-02 19:31] HASSEN-MEDDEB-ATOS commented on #33039
Misused header name. Make sure request headers are used with HttpRequestMessage, response headers with HttpResponseMessage, and content headers with HttpContent objects.
   at System.Net.Http.Headers.HttpHeaders.GetHeaderDescriptor(String name)
   at System.Net.Http.Headers.HttpHeaders.Add(String name, String value)

[code]

[2020-03-02 19:32] davidsh commented on #33039
If you want to use 'Accept-Encoding', that header goes into the main request.Headers collection.

[2020-03-02 19:36] HASSEN-MEDDEB-ATOS commented on #33039
system.Exception: Exception of type 'System.Exception' was thrown.
at VSMP_Contracts.CTR_WS_Connection.GetContracts(String URL, String startDate, String EndDate)

[2020-03-02 19:37] HASSEN-MEDDEB-ATOS commented on #33039
Can you came skype please for 2 minutes please

[2020-03-02 19:38] janvorli commented on #33046
cc: @ericstj

[2020-03-02 19:57] Jozkee commented on #32903
@ahsonkhan Overflow properties does not come on a particular order when reading the JSON and the `Read` method must return a `Dictionary<string, JsonElement>` or `Dictionary<string, object>` while overflow properties are parsed to `JsonElement` entries in such dictionary. That is why we don't use it on deserialization.

[2020-03-02 20:01] layomia commented on #32903
@ahsonkhan it's because we may not have all the extra JSON in one go - we'd have to parse and wrap all the extension properties in one JSON object, or pass the entire payload to the converter to be filtered.

FWIW Newtonsoft does not honor custom converters for both reading and writing extension data: https://dotnetfiddle.net/qwMrPS. Writing seems doable, so I think the action for this issue is to

[2020-03-02 20:08] MichaelSimons commented on #887
[dotnet/core Docker images](https://hub.docker.com/_/microsoft-dotnet-core/) will be published for all preview releases of .NET 5 (e.g. preview 1).  There are no .NET 5 images in the dotnet/core repositories yet because preview 1 hasn't been released.  Don't worry though we have you covered 😸, you can always get the last-known-good (LKG) builds for the next release of .NET Core by going to the [do

[2020-03-02 20:16] HASSEN-MEDDEB-ATOS commented on #33039
i have modified my code like this
[code]

[2020-03-02 20:19] HASSEN-MEDDEB-ATOS commented on #33039
string responsedata = await response.Content.ReadAsStringAsync();

[2020-03-02 20:33] HASSEN-MEDDEB-ATOS commented on #33039
my request return this messge below
Method: GET, RequestUri: 'https://www.test.com/mediation/v1/recette/vsmp/contracts?&startDate=2019-08-01T08:52:13Z&endDate=2020-03-02T20:28:12Z&count=100', Version: 1.1, Content: System.Net.Http.StringContent, Headers:
{
  Authorization: Signature keyId="**********",algorithm="hmac-sha1",signature="********"
  Accept-Encoding: gzip
  Content-Type: application/js

[2020-03-02 20:34] hoyosjs commented on #32808
Verified packaging won't be affected. Just missing to verify this all works with PGO.

[2020-03-02 20:37] ericstj commented on #33046
Can you provide a repro that demonstrates what you claim is broken?

Here's how things are expected to work:
- If you publish with a runtime, then NuGet resolves the correct final assets for the application, writes this information in the project.assets.json, then the SDK copies out the correct set of things (determined by NuGet) to put in the published application's layout.  At runtime the host o

[2020-03-02 20:41] elinor-fung commented on #33040
I assume the assemblies being loaded are dependencies that are intentionally not in your .deps.json? (e.g. set to not copy local / Private=false or not explicitly in project's chain of references)

.NET Core does not automatically load assemblies from the running application's directory. Aside from adding assembly resolution handling in your application, there is also the `Microsoft.NETCore.DotNet

[2020-03-02 20:42] #1282 closed

[2020-03-02 20:43] ericstj commented on #2021
Looks to be https://github.com/dotnet/runtime/issues/10111 in new repo.

[2020-03-02 20:48] ericstj commented on #2021
Looking at the product assets I see it was treated as `linux-musl-arm64` so that works from shared-fx but would fail for folks trying to resolve from `alpine.ver-arm64` in a self-contained publish.

[2020-03-02 20:50] ericstj commented on #32935
This target does: https://github.com/dotnet/arcade/blob/f6121fcaf62777bc2288f7f0917b48a130a0174e/src/Microsoft.DotNet.Arcade.Sdk/tools/OptimizationData.targets#L174-L177

[2020-03-02 20:51] jashook opened #33066 "Decouple Coreclr Test and Product build"
Currently our test build requires build.cmd/sh to complete. This is a bottleneck for our CI, without it our long poles are serialized on each other.

In order to accomplish this the test build will need to split apart the managed test build from the native test build. The native test build will happen as a separate step, that can be run right after the product build.

Note this is a larger issue t

[2020-03-02 20:53] pentp commented on #2325
Maybe it's actually better to focus on reducing the prolog zeroing by only doing it for GC tracked locals/fields? There were a couple of comments in the PR about this: https://github.com/dotnet/runtime/pull/32538#issuecomment-588462187

`DateTimeResult` has only 6 GC refs (48 bytes + maybe some params?), but 136 bytes are zeroed in the prolog.
This struct could make use of `[StructLayout(LayoutKin

[2020-03-02 20:53] jashook opened #33067 "Change coreclr YML to build tests and product in parallel"
*Initial cost estimate*: 2 weeks
*Initial contacts*: @trylek, @jkoritzinsky, @safern

This will allow us to cut the end to end time of the build from ~2 hours to ~1 hour.

[2020-03-02 20:57] jashook opened #33068 "Move coreclr testing to dotnet test"
This will remove the last use of the xunit console runner and get us closer to the libraries testing infrastructure.

[2020-03-02 20:58] jkoritzinsky opened #33069 "Managed and Native RID discovery can resolve different RIDs"
We currently have two methods of resolving the current build's RID. For native components, we use the `init_distro_rid.sh` script in `eng/native`. This script supports discovering RIDs for not-officially-supported distros as well as discovering rids for cross-compilation.

The managed RID discovery mechanism only supports discovering the host RID and then overriding it with a specific RID manually

[2020-03-02 20:58] jashook opened #33070 "Add more specific filtering for arm and arm64 testing"
This will allow us to reduce the amount of testing we use on our linux arm64/arm32 machines to help with capacity.

[2020-03-02 21:03] jaredpar commented on #32805
Issues still occurring, impacting non-Mac builds now too

|Build|Kind|Timeline Record|
|---|---|---|
|[543112](https://dev.azure.com/dnceng/public/_build/results?buildId=543112)|PR https://github.com/dotnet/runtime/pull/33048|Unzip Test Assets|
|[542475](https://dev.azure.com/dnceng/public/_build/results?buildId=542475)|PR https://github.com/dotnet/runtime/pull/33035|Unzip Test Assets|
|[542475](h

[2020-03-02 21:04] jaredpar commented on #32764
Mitigation is ineffective. Have to wait on the official bits to flow. Keeping this open to track the underlying problem.

[2020-03-02 21:21] MattGal commented on #2234
Actually the first I've been aware of this.  I'll take a peek and get an issue created if I find anything interesting.

[2020-03-02 21:25] jashook opened #33071 "Move coreclr tests out of src/coreclr/tests"
This will allow the tests to be more easily shared with mono.

[2020-03-02 21:28] jashook opened #33072 "Coreclr - Add the ability to include or exclude test metadata during test build time"
This will allow us to leverage test metadata to build portions of the test tree.

[2020-03-02 21:43] benaadams commented on #2325
Would only save a few instructions, would also need to sort the stack locations as GC clearing currently jumps about (though I think you are also suggesting binning the zeroing so xmm could still be used); however it would then still re-zero the whole 128 block; which is still more significant than the savings.

[2020-03-02 21:54] fadimounir commented on #32828
I couldn't figure out from the dumps where the memory corruption came from. Seems to be a corruption where something overwrote the MethodTable pointer stored in the MethodDescChunk of a method, and this is what lead to the assert.

Interestingly, in the dump I was looking at, the 2 threads hitting the assert were not threads listed by the `clrthreads` sos command in lldb. I don't know what this me

[2020-03-02 21:55] StephenBonikowsky commented on #32590
@menua-web Feel free to re-open this issue if you can provide some additional info such as the call stack. FYI if you are using XmlSerializer it does not support Dictionary, in that case we would suggest you use DataContractSerializer instead.

[2020-03-02 21:55] #32590 closed

[2020-03-02 21:57] AndyAyersMS commented on #32647
Looks like one source of collision is `GTF_ARRLEN_NONFAULTING`.

[2020-03-02 22:00] #32911 closed

[2020-03-02 22:03] cheenamalhotra commented on #33046
Repro is available in original issue, copied below:

Clone this repo: https://github.com/davedx/sqlclient-repro

Then run:

`docker build -t efgs -f ./Dockerfile.custom.dotnet.3.1 .`
`docker run efgs`

[2020-03-02 22:09] #32510 closed

[2020-03-02 22:14] petegamble opened #33077 "Recent Issue with libgdiplus"
Hi

I've recently been experiencing an issue with System.Drawing.Common since what I believe was an update. The code below was fine until recently with the last image saved to file on the 27th Feb. Any ideas?

.Net Core 2.1 Web API running on Mac OSX 10.15.3 ....

var request = (HttpWebRequest)WebRequest.Create(url);
            var response = (HttpWebResponse)request.GetResponse();
            va

[2020-03-02 22:19] scalablecory commented on #28230
Here are some examples:

## char -> lowercase byte, unvalidated truncate to 8 bits
https://github.com/dotnet/runtime/blob/9dec6ae2ea81d46884bf49d2df8b26cc1e28eb12/src/libraries/Common/src/System/Net/Http/aspnetcore/Http2/Hpack/HPackEncoder.cs#L130-L166

## char -> lowercase byte, pre-validated as ASCII
https://github.com/dotnet/runtime/blob/9dec6ae2ea81d46884bf49d2df8b26cc1e28eb12/src/libraries/Co

[2020-03-02 22:22] danmosemsft commented on #2222
Only one area label at a time please

[2020-03-02 22:23] marek-safar commented on #33066
Please also think about producing test artefacts which can be used by multiple runtimes instead of building it for each runtime

[2020-03-02 22:32] am11 commented on #33069
Following components built successfully (with #31701 changes):

* CoreCLR - native and managed
* Libraries - native and managed
* Installer - native

managed components of installer failed at the package step, due to the wrong RID (`linux-arm64`) resolution.

[2020-03-02 22:45] Anipik commented on #33058
@ViktorHofer it doesn't seem like build is running even for an independent csproj
I created a new csproj
[code]

the build target is not getting executed when I run dotnet build command
[code]

I checked the binlog as well as there is no dlls produced. should we add some one from the cli or sdk team ?

cc @ericstj

[2020-03-02 23:01] jkoritzinsky commented on #33068
This issue can be split into a few steps:

- [ ] Update our Helix work items to also pull down a `dotnet` CLI with the correlation payload. (This is a feature of the Helix SDK that we can opt-in to.)
- [ ] Change our Helix work items to run `dotnet xunit.console.dll <params>` instead of `corerun xunit.console.dll <params>`
- [ ] Change our Helix work items to run `dotnet test <params>`. This step

[2020-03-02 23:05] CoffeeFlux opened #33079 "[loader] Don't parse config files from legacy Mono"
From a hello world with `MONO_LOG_LEVEL=debug`:

[code]

We probably shouldn't be checking those.

[2020-03-02 23:08] CoffeeFlux opened #33080 "[loader] Don't try to load images from legacy mono AOT cache"
From a hello world with `MONO_LOG_LEVEL=debug`:

[code]

This probably isn't an issue in practice since those won't match the GUID/runtime version, but we shouldn't even check. Unsure if we have an equivalent for netcore or want to use one.

[2020-03-02 23:14] MattGal commented on #2209
I actually rolled out a fix for this last week :) that's awesome to hear, and fingers crossed it stays this way.

[2020-03-02 23:19] davidsh commented on #33081
Isn't this issue a duplicate of #33039?

[2020-03-02 23:24] HASSEN-MEDDEB-ATOS commented on #33081
Yes, it's a duplicate issue

[2020-03-02 23:24] #33081 closed

[2020-03-02 23:27] brianrob commented on #32935
@ericstj the reason that we do this in crossgen is because that's the natural place to detect whether or not specifying -partialNGEN is going to have the desired behavior.  From a crossgen usage perspective, you would never want to specify -partialNGEN if there isn't IBC data embedded in the input IL image, as that would mean "please don't precompile this DLL", even though that's exactly what you'

[2020-03-02 23:28] layomia commented on #33011
Closed in https://github.com/dotnet/runtime/pull/33014.

[2020-03-02 23:28] #33011 closed

[2020-03-02 23:29] HASSEN-MEDDEB-ATOS commented on #33039
I have finally find solution, i don't need to use  request.Headers.Add("Accept-Encoding", "gzip");
   request.Content.Headers.Remove("Content-Type");
                    //request.Headers.Add("Accept-Encoding", "gzip");
                    request.Content.Headers.Add("Content-Type", "application/json;charset=UTF-8");

                    request.Content.Headers.TryAddWithoutValidation("Date", utcF

[2020-03-02 23:29] #33039 closed

[2020-03-02 23:32] danmosemsft commented on #6722
@svick right. If this was a little used type, maybe that might be OK. But on a heavily used type, just to save a few bytes in an enumerator (which may not leave the stack) it does not seem worth it. Let me know if you disagree.

`Environment.GetEnvironmentVariables()` returns an `IDictionary`. Originally it was a `Hashtable` and later it was changed to `Dictionary<K,V>` which broke enough people i

[2020-03-02 23:38] jaredpar commented on #2234
FR issue https://github.com/dotnet/core-eng/issues/9197

[2020-03-02 23:45] ericstj commented on #33058
@Anipik can you test specifically the /t:Test target?  I think @ViktorHofer is saying that in the .NETSdk the Test target will include Build in its closure, but it doesn't for our config system.

[2020-03-02 23:47] ericstj commented on #32935
Changed the title of the issue.  This needs to track re-enabling the COMPlus_PartialNGen option.  That appears to have been broken since repo consolidation.  It needs to be brought back with "awareness" of whether the rest of the build actually embedded IBC data.  It didn't need this before because it was consuming transport packages in core-setup (which were always "official" "release" packages w

[2020-03-02 23:53] jkoritzinsky opened #33082 "dotnet-runtime-perf Windows jobs failing to pull down .NET SDK version 5.0.100-preview.2.20152.10"
Perf jobs in https://github.com/dotnet/runtime/pull/31701 are failing with a very similar error to #32835 but with a new SDK version.

cc: @dotnet/runtime-infrastructure

[2020-03-02 23:53] richbryant opened #33083 "RFC: Add a Unit type to the System namespace"
**Abstract**

`Unit`s are proliferating in the NetCore ecosystem.  Nobody can deny their utility (since you can't return a void) but this does introduce the issue of incompatible structs all called `Unit` provided by different packages.

**Proposal**

Implement a `System.Unit` struct, taking on board the needs of the major libraries providing `Unit`s at the moment.

**Benefits**

- Provide a `Type

[2020-03-03 00:01] danmosemsft commented on #33085
I'm going to guess from the text above that this was resolved. Please reactivate if not

[2020-03-03 00:09] danmosemsft commented on #33085
I'll leave this open so that networking folks can see it.

[2020-03-03 00:36] erozenfeld commented on #2325
I'm seriously considering adding an analysis for the first basic block to detect locals that are initialized there before the first use and before any gc-safe points. Then we'll be able to eliminate redundant zero init in cases like `DateTimeParse:ParseExact` I expect significant wins from that. I hope to get to this in the next couple of weeks.

[2020-03-03 01:10] ericstj commented on #33046
The bug here is that this docker file is publishing both a framework-dependent and a standalone app to the same directory.

https://github.com/davedx/sqlclient-repro/blob/755f9ac2a43c422b275015d28ba9633956e3d741/Dockerfile.custom.dotnet.3.1#L16-L19

dotnet build -c Release **-o /app**
dotnet publish -c Release **-o /app** --runtime linux-x64

The latter produces a self-contained app which is expec

[2020-03-03 01:26] terrajobst opened #33089 "Extend ObsoleteAttribute"
We'd like to [make obsoletion more viable](https://github.com/dotnet/designs/blob/master/accepted/2020/better-obsoletion/better-obsoletion.md). This requires extending the `ObsoleteAttribute`:

### API

[code]

### Usage

[code]

[2020-03-03 01:36] AndyAyersMS commented on #32647
When morphing `GT_INDEX` nodes, we were inadvertenly setting `GTF_IND_NONFAULTING`
for the `GT_IND` subtree for ref type arrays, because `GTF_IND_NONFAULTING` has
the same value as `GTF_INX_REFARR_LAYOUT`.

This turns out to be safe since in general there is an upstream bounds check to
cover the null check from the indexing operation, so the fact that we were claiming
the `GT_IND` can't fault is o

[2020-03-03 02:45] stephentoub commented on #33084
Does the regression appear only on Linux or also on Windows?

If it weren't for the fact that I know you and @adamsitnik said you did lots of testing on https://github.com/dotnet/runtime/pull/2346, that would be my first guess.

[2020-03-03 02:48] benaadams commented on #33084
Why I thought it might need the AMD fix #31904 is recently Kestrel changed from using its own ASCII encoding to use `Encoding.ASCII.GetBytes` https://github.com/dotnet/aspnetcore/pull/18404 so would be dependent on and effected by any runtime regressions. However that was merged on 11 Feb so should be in the before and not the after.

[2020-03-03 02:49] #32808 closed

[2020-03-03 02:53] benaadams commented on #33084
Is in the commit range

[2020-03-03 03:10] xiangzhai commented on #6479
:mips-interest

[2020-03-03 03:11] ryandle commented on #698
There was also a 2nd dependency on a DLL owned by a different internal team. A primary entry point of their DLL has a reference to HostingEnvironment.SiteName to see if its running in ASP.NET. (They had a few other references to System.Web too but they were all branched behind this one IIRC.) That source is not something we can fork/recompile/change the distribution of. We're currently blocked on

[2020-03-03 03:12] noahfalk commented on #31373
@tarekgh is the primary dev owner, I am actively assisting. So far design feedback has been occurring in https://github.com/dotnet/runtime/pull/32660

[2020-03-03 03:39] v-haren opened #33091 "Assertion failed '(effOp1->gtOper == GT_CNS_INT) && (effOp1->IsIntegralConst(0) || effOp1->IsIntegralConst(1))'"
failed in job: [runtime-coreclr jitstress 20200302.1](https://dev.azure.com/dnceng/public/_build/results?buildId=543560&view=ms.vss-test-web.build-test-results-tab&runId=17211062&resultId=107192&paneView=debug)

related test:
JIT/Methodical/Boxing/misc/_relnestval_il/_relnestval_il.sh
JIT/Methodical/Boxing/callconv/_relinstance_il/_relinstance_il.sh

Error message
`
\nAssert failure(PID 71955 [0x0

[2020-03-03 04:56] noahfalk opened #34737 "[Feature Request] Allows EventSourceLogger in MEL to defer to in-proc MEL logger config"
### Is your feature request related to a problem? Please describe.
Microsoft is trying to create an out-of-process agent that will forward ILogger log messages to telemetry systems such as Azure Monitor. We want to do this with zero changes to the default application code by leveraging the EventSource logger that is enabled in ASP.NET Core apps automatically. Similar to forwarding an ILogger produ

[2020-03-03 06:25] BruceForstall commented on #33091
@briansull Can you investigate?
cc @dotnet/jit-contrib

[2020-03-03 06:26] BruceForstall commented on #33002
@tannergooding @CarolEidt

[2020-03-03 07:08] cristina-dorotan commented on #33037
return TimeZoneInfo.GetSystemTimeZones().Select(
                    timezone => new TimezoneModel
                    {
                        DisplayName = $"({timezone.StandardName}) {timezone.Id}".Replace("_", " ")
                    })
                .ToList();

Result in NET Core 2.2 Windows and Linux- using Docker:
FROM nosinovacao/dotnet-sonar:19.09.0 as build
The results are the same f

[2020-03-03 07:27] yunwei00q opened #33097 "For .net 5 preview1, the CoreFX symbols are missing for IL symbols."
Affected Build: Master/29827.154 (16.6.0 preview 1.0) + CLI/SDK:5.0.100-preview.1.20125.9

**Steps to reproduce**
Testing on Windows with VS -

1. Goto Tools -> options  -> Debugging
Under General
	a. Uncheck 'Enable Just My Code'
	b. Check 'Suppress JIT optimization on module load (Managed only)'
Under Symbols
	a. Check 'Microsoft Symbol Servers'
2. Create a new ASP.NET Razor project by doing
mkd

[2020-03-03 07:47] scalablecory commented on #31911
Unfortunately I don't know that `ConcurrentStack` could be updated to do this (at least, not without extra overhead) as `GetEnumerator` and `Count` depend on nodes not being recycled.

[2020-03-03 07:51] mikhail-barg commented on #27191
@tannergooding

As far as I understand, it's not that Multimedia Timers are deprecated. More like they have significant cost in terms of CPU usage and they were frequently abused for other needs besides media processing because of their high precision. See for example [this](https://stackoverflow.com/a/29183085). But up until now we found no way to get around using those for media processing.

Tha

[2020-03-03 07:59] tmds commented on #27191
@mikhail-barg

I wonder how you deal with GC pauses?

The hardware audio device has a buffer of a couple of ms which you need to keep filled. You don't need nanosecond precision to do this.
You do need a good timer (like `StopWatch`) to calculate clockdrift between sender and receiver.

[2020-03-03 08:13] benaadams commented on #27191
Don't allocate when you are doing latency sensitive operations 😉  If you don't allocate you won't pause.

[2020-03-03 08:17] davedx commented on #33046
Hi @ericstj, original bug reporter here, thanks for your reply!

Now that I understand what is happening here it makes sense. It did cost us a quite some time to get to this point because previously, running dotnet build then dotnet publish behaved differently (publish pulled in the platform dll's) so this dockerfile worked properly for us for the last 2 years without any issues. I think, re-readi

[2020-03-03 08:19] tmds commented on #27191
And when your app performs latency sensitive operations all the time, that is: never allocate.

[2020-03-03 08:31] adamsitnik commented on #33084
It's interesting that the CPU consumption was never 100% and the RPS for this 48 core machine is smaller compared to the machine which has only 12 cores.

I suspect that there is some underlying scalability issue and my change in #2346 has for some reason made it even worse.

As soon as we get PerfCollect to work on this machine I would be more than happy to analyze the trace files and identify th

[2020-03-03 09:01] mjsabby commented on #30740
@stephentoub Are you accepting more rules for this issue?

Another one that is in our guidelines for C# 7.2+ but codifying it would be great,

A warning to be emitted when a method or property is called on an `in` argument if it is a value type (maybe of a certain size threshold?).

[2020-03-03 09:30] DevDrake commented on #33033
I was scratching my head thinking about this proposal.
If we need the functionality i would be more opt to extension function or default interface implementation for `IDictionary<,>`
`public ReadOnlyDictionary<TKey, TValue> AsReadOnly(this IDictionary<TKey, TValue> dictionary) => new ReadOnlyDictionary<TKey, TValue>(dictionary)`
as this will cover more than just Dictionary.
also this is already us

[2020-03-03 09:58] AriNuer commented on #2230
Same test `tracing\\eventpipe\\providervalidation\\providervalidation\\providervalidation.cmd` failed here :[runtime-coreclr crossgen2 outerloop 20200302.1](https://dev.azure.com/dnceng/public/_build/results?buildId=544222&view=results)

Details:
https://dev.azure.com/dnceng/public/_build/results?buildId=544222&view=ms.vss-test-web.build-test-results-tab&runId=17227512&resultId=107009&paneView=deb

[2020-03-03 10:13] v-chayan commented on #32496
@dgxhubbard I tried you steps and this issue could be reproduced in my machine. Actually the installation is a complicated process. Not only copy the binaries to your disk but also write many registry keys, store caches and so on. Especially on Windows platform, you can not uninstall dotnet by deleting C:\Program Files\dotnet.

For ".NET Core Uninstall Tool", the command "dotnet-core-uninstall rem

[2020-03-03 11:34] gfoidl commented on #33057
`Math.Min(double, double)` produces [quite a lot of asm](https://sharplab.io/#v2:C4LghgzgtgPgAgJgIwFgBQcAMACOSB0ASgK4B2wAllAKb4DCA9lAA4UA21ATgMpcBuFAMbUIAbnTo4AZlwJsdbAG902VbhkATBsQBGHbAFkkACi279YADTYze6th0BKbAF4AfIbDAAFvgMVSYysHR3E0NXUbbTtDBFNoi2tbfSdXD39A4KcwiJU1AG0Dah8GDQBJFjZjIpLyyoB5ZkoGUgh8AEEAc07OEQgKPmoy0jYAgM7HAF081WlcJAA2KPN7DPiV7D4wNiQkhPsttgRHGaVTiIB6C+wAFW8KCGwoL0FvEWwfezKAUV/sAHYAKwA

[2020-03-03 11:52] janvorli commented on #32171
@vanashimko I have created a testing coreclr.dll that you can use as a drop-in replacement for the existing one. I have just added check for the handle double-free and let the process abort and generate crash dump when the condition is detected. This should enable us to see the call stack of the place where the second freeing happens in the crashdump. You can get it here: https://1drv.ms/u/s!AkLV4

[2020-03-03 12:15] stephentoub commented on #31911
We have a similar issue in ConcurrentQueue (whether to clear a dequeued element and allow its slot to be reused), and the extra meaningful overhead there is incurred only as part of the operations doing the iterating, e.g. GetEnumerator and Count, by setting a flag while such an operation is in progress and only performing the problematic operation if one isn't. They should be rare compared to pus

[2020-03-03 12:20] stephentoub commented on #30740
Absolutely.

However, I've been trying to keep it focused on rules specific to framework types rather than on language features. My hope has been that @jaredpar and @mavasani and co would similarly build rules related to language features.

The rule you suggest would also, I expect, be super noisy.

[2020-03-03 12:27] benaadams commented on #33091
[code]

[2020-03-03 12:50] vanashimko commented on #32171
@janvorli here is what I have: https://drive.google.com/file/d/13JmyLpup_0AYfx53-b3bG3den0R2D3fz/view?usp=sharing.

The stacktrace looks pretty strange (to me), because it contains "coreclr!coreclr_shutdown_2":
[code]

I've tried several times and always got shutdown there. Is it what we're looking for or I need to try more?

[2020-03-03 12:53] janvorli commented on #32171
Most of the method names you are seeing on the stack trace are not correct as I've not shared pdb file for the coreclr.dll. Let me open your dump locally and see.

[2020-03-03 13:25] ManickaP commented on #31997
I was able to successfully reproduce the issue on Win7 VM with PageHeap. I was able to isolate the offending test and reproduce the same exception stack:
[code]
The same repro doesn't fail on my Win 10 machine (running the test in a loop for many hours).

[2020-03-03 14:04] damageboy commented on #32175
I'm also having crossgen related issues in a draft PR.
As a clear example:
https://github.com/damageboy/runtime/commit/8f3d72107c74a361f728a7a55315237ec657a31e#diff-54c667fe59347842036834f5b31c5411R340

[code]

Will not enter the branch under the Avx2.IsSupported condition until the R2R image is replaced by a freshly JIT'd version (30 calls + startup delay)

Is there a workaround to get this worki

[2020-03-03 14:12] ericstj commented on #33046
I tend to agree. Let’s ask the SDK to change behavior of publish to copy if different rather than newer.

[2020-03-03 14:53] MichalStrehovsky commented on #32175
This is by design right now (in CoreLib only). AVX2 support is a global switch in RyuJIT - it enables VEX encoding everywhere (including outside the IsSupported-guarded regions). We can't allow RyuJIT to use it because it would generate code that cannot run without VEX.

Outside CoreLib, using VEX2 instructions in the method body would disqualify the method from crossgenning completely. Within cor

[2020-03-03 15:01] HASSEN-MEDDEB-ATOS opened #33105 "System.IO.FileNotFoundException: Could not find file"
Hello,

i have migrated my projet from .NET framework to .NET Core, and when i build my project in RedHat,
I had this error
System.IO.FileNotFoundException: Could not find file '/home\VSMP_Setting.xml'.
i used this code below to get file
[code]

[2020-03-03 15:02] stephentoub commented on #33105
Your code is using `\` as a directory separator. It isn't on Unix. Use `/` or Path.Combine.

[2020-03-03 15:02] #33105 closed

[2020-03-03 15:47] scholtz commented on #887
@MichaelSimons Yes, exactly. Thanks for that :) I was able to to create project from tamplate, added the negotiate library, build and run the project however at the end it did not solved my issue :(

[2020-03-03 15:50] tannergooding commented on #27191
@mikhail-barg, The point I was trying to make is that the Multimedia timers aren't very precise. That is, they only have accuracy up to 1 millisecond and while which might be suitable for some purposes, it won't be for all (in fact, called out above, people are asking for nanosecond resolutions, which is only possible via the mechanisms we already expose).

QueryPerformanceFrequency/Counter on the

[2020-03-03 15:50] ManickaP commented on #31997
The failing test is `HttpListenerResponseTests.CloseResponseEntity_ChunkedSentHeaders_DoesNotModifyContentLength`, it fails only for `willBlock == false`:
[code]

The fail is caused by a race condition caused by [`Dispose`](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.HttpListener/src/System/Net/Windows/HttpListenerResponse.Windows.cs#L175-L186) at the end of the using bl

[2020-03-03 15:53] #29934 closed

[2020-03-03 15:53] #24664 closed

[2020-03-03 15:58] tannergooding commented on #33057
The asm isn't quite as bad when you look at the [x64 version](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIAYACY8gOgCUBXAOwwEt8YLAMIR8AB14AbGFADKMgG68wMXAG4aNYgGYmpBkIYBvGgzNNdAEwgdg0hgFlyACmu372NAzd2YDYACUDAC8AHyO2BgAFiwOvFzOnv4BGtTmFt42vo6krlkeXj72gSHhcQlJganppuYA2g4w0RCWAJLiks6NzW0dAPJifBBcuCwAggDmE7C4uLwKMK1ckvHxEwEAurVmOkzkSJnufuV5RwwK2JLkhfl+F5KkAdvGz+kA9G8MACpRvLgM

[2020-03-03 16:00] skaman commented on #17912
I confirm that ZipArchive is not usable for create zip files on a linux server (for this problem with permissions). I had to use a third party library. I think it should generate readable zip files also on linux servers.

[2020-03-03 16:01] tannergooding commented on #33057
This isn't a valid transformation because `minsd` doesn't correctly handle `0.0` vs `-0.0`, it always returns the second operand when IEEE 754 requires it return `-0.0`.

[2020-03-03 16:05] tannergooding commented on #33057
I had previously implemented a branchless version of this code which uses intrinsics, but the results weren't consistent on all platforms: https://github.com/dotnet/coreclr/pull/22965 (this was also a version which didn't propagate NaN, so it would need to be tweaked slightly).

We might also be able to gain some perf by ensuring the non Zero/non NaN case is the "predicted" path if the former isn'

[2020-03-03 16:14] #31649 closed

[2020-03-03 16:14] #31650 closed

[2020-03-03 16:33] HASSEN-MEDDEB-ATOS commented on #33105
private static string Xml_Settings_Path = Combien.Path(Directory.GetParent(Directory.GetCurrentDirectory()).Parent.FullName,"VSMP_Setting.xml");

Return same error

[2020-03-03 16:35] janvorli commented on #32171
This is the real stack trace:
[code]

Unfortunately it shows a path where the cleanup is expected to happen, so the problem seems to be that something else destroyed the handle incorrectly before. An additional possibility could be a race of multiple threads running the `AssemblyLoaderAllocator::CleanupHandles` and ending up popping the same handle from the cleanup list twice, but I don't think it

[2020-03-03 16:36] stephentoub commented on #33105
You will need to debug it.  The exception is valid, saying it can't find the specified path.  You'll need to look at what the actual path is that you're specifying, and determine why it can't find that file.  Maybe the path is wrong.  Maybe the permissions on that path prevent you from accessing it.  Etc.

(I'm also not sure what `Combien.Path` is as a method.)

[2020-03-03 16:43] jaredpar commented on #30740
We're meeting with the analyzer team later this week to discuss how we can incorporate language rules into this analyzer package. It will effectively become what we've previously described as warning waves.

[2020-03-03 17:04] filipnavara opened #33111 "Mono runtime NuGet versions on blob storage"
Since the merge of #33074 the new `Microsoft.NETCore.Runtime.Mono` packages are generated from CI pipelines in the dotnet/runtime repository with versioning matching the rest of packages. Unfortunately, previous builds from mono/mono CI pipelines were uploaded to the same blob storage and used different versioning strategy (ie. match Mono major.minor version and commit distance). The result is tha

[2020-03-03 17:09] filipnavara commented on #33111
![image](https://user-images.githubusercontent.com/1764393/75800573-12248d00-5d7a-11ea-8451-a04471a97168.png)

[2020-03-03 17:17] dlyz opened #33112 "Add AttributeTargets.Interface to JsonConverterAttribute"
JsonConverterAttribute does not contain target AttributeTargets.Interface. I did not find any design notes about this behavior.

It's strange that JsonConverterAttribute can be applied to abstract classes, but not to interfaces.

In fact, JsonConverterAttribute can be used on property of an interface type, and it will work as expected. Also, specific JsonConverter that works with an interface type

[2020-03-03 17:20] danmosemsft commented on #31949
Fixed by #32243

[2020-03-03 17:20] #31949 closed

[2020-03-03 17:22] akoeplinger commented on #33111
@dotnet/runtime-infrastructure can we easily delete these 6.x package versions from dotnetfeed.blob.core.windows.net?

[2020-03-03 17:36] janvorli opened #33114 "Crossgen2 incorrectly marks some method calls as using instantiating stub."
When comparing crossgen1 and 2 compiled System.Private.CoreLib, I've found that there is a bug in crossgen2 leading to the following difference in the method
``!0 System.Collections.ObjectModel.Collection`1<__Canon>.get_Item(Int32)``
[code]
The CG2 adds the READYTORUN_METHOD_SIG_InstantiatingStub flag for the call while CG1 doesn't.

When looking into startup performance of Powershell some time ag

[2020-03-03 17:42] janvorli commented on #32171
Here is an updated coreclr.dll (and this time I've included the corresponding pdb too). @vanashimko can you please give it a try (with the stress log enabled)?
https://1drv.ms/u/s!AkLV4wRkyHYhyEkg3wPuUVYFCQ_H?e=p4W2KE

[2020-03-03 17:44] #33055 closed

[2020-03-03 18:01] sebastienros commented on #33084
The AMD machine has been available for a week only, and is on Linux.

I have seen other unusual behaviors on this machine that I need to investigate, related to the number of cores, so this might be related to Adam's suspicion. I will gather some data.

[2020-03-03 18:08] ViktorHofer commented on #33111
I don't have permissions to do so but I believe @MattGal or @mmitche should have.

[2020-03-03 18:24] #19582 closed

[2020-03-03 18:24] #28881 closed

[2020-03-03 18:24] jaredpar opened #33115 "Getting HTTP 500 errors sending tests to Helix"
Error text

[code]

|Build|Kind|Timeline Record|
|---|---|---|
|[543996](https://dev.azure.com/dnceng/public/_build/results?buildId=543996)|Rolling|Send to Helix|
|[543996](https://dev.azure.com/dnceng/public/_build/results?buildId=543996)|Rolling|Send to Helix|
|[543935](https://dev.azure.com/dnceng/public/_build/results?buildId=543935)|PR https://github.com/dotnet/runtime/pull/810|Send tests to

[2020-03-03 18:34] terrajobst commented on #24794
* We finished the review today. This comment repeast all the APIs and comments.
* Check whether `MaxPairwise`/`MinPairwise` should also include forms for `Vector128`
* Should the arguments for `ReciprocalStep` and `ReciprocalSquareRootStep` be something more specific than `left` and `right`?
* Looks like `ReverseElementBytes` needs more work, as well as clarity on support
* We skipped `Arm32` beca

[2020-03-03 18:43] #517 closed

[2020-03-03 18:43] NikolaMilosavljevic commented on #517
Issue moved to [dotnet/aspnetcore #19536](https://github.com/dotnet/aspnetcore/issues/19536) via [**ZenHub**](https://www.zenhub.com/)

[2020-03-03 18:44] linuxchata commented on #32915
We did migration to aspnet.core v3.1 and rerun the same set of perfromance tests. The results of the tests are below

| # | Number of certificates | Time relative to the first run |
|---|---|---|
| 1 | 2 | 1 |
| 2 | 5000 | 1.1 |
| 3 | 10000 | 1.4 |
| 4 | 15000 | 2.1 |

Since we see improvements, this issue can be closed.

Thank you very much for your help!

[2020-03-03 18:44] #32915 closed

[2020-03-03 18:44] Rick-Anderson opened #36041 "Bug: AddCommandLine(args, switchMappings) System.FormatException: The short switch '-k1=value1' is not defined in the switch mappings."
Code from [CommandLineConfigurationExtensions.AddCommandLine Method](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.commandlineconfigurationextensions.addcommandline?view=dotnet-plat-ext-3.1)

[code]

To repo:

[code]

Per the doc page, run the following command
`dotnet run -k1=value1 -k2 value2 --alt3=value2 /alt4=value3 --alt5 value5 /alt6 value6`

Unhandled excep

[2020-03-03 18:47] adamsitnik commented on #33084
While I was working on the TechEmpower recently, I found out that the max number of IO Threads is 16 (for some reason, imho it should be `Math.Max(Environment.ProcessorCount / 2, 1)`).

Could you try to run some benchmarks on this machine with a bigger number? If I remember correctly, it's configurable via `--kestrelthreadcount` argument

https://github.com/dotnet/aspnetcore/blob/34ee3324fb4a8c8de

[2020-03-03 18:55] ViktorHofer commented on #32827
More crashes: https://dev.azure.com/dnceng/public/_build/results?buildId=544843&view=ms.vss-test-web.build-test-results-tab&runId=17240396&resultId=172435&paneView=attachments

- System.Reflection.Tests
- System.Runtime.Extensions.Tests
- System.Runtime.Loader.Tests

ping @steveisok @marek-safar

[2020-03-03 18:56] GrabYourPitchforks commented on #30740
We have scenarios (particularly in the _Intrinsics_ namespace) where certain APIs expect constant values as parameters. For instance, [`Sse2.ShiftLeftLogical(Vector, byte)`](https://apisof.net/catalog/System.Runtime.Intrinsics.X86.Sse2.ShiftLeftLogical(Vector128%3CInt16%3E,Byte)) expects a constant value for its last argument, as the constant value needs to be encoded as part of the instruction. Y

[2020-03-03 18:57] ViktorHofer commented on #32827
[code]

[2020-03-03 19:02] akoeplinger opened #33118 "Change System.Native name to have lib prefix"
While working on bringing up the Android support I found out that on Android native libraries **must** conform to the naming convention of `lib<name>.so` otherwise the file won't be extracted from the .apk and you can't load them.

The current naming used for the PAL assemblies like `System.Native.so` won't work there.

Right now I just modified the build to include the `lib` prefix on Android but

[2020-03-03 19:03] jaredpar commented on #32827
Looks like this hit two builds so far

### Builds
|Build|Pull Request | Test Failure Count|
| --- | --- | --- |
|[#543058](https://dev.azure.com/dnceng/public/_build/results?buildId=543058)|#32865|9|
|[#544207](https://dev.azure.com/dnceng/public/_build/results?buildId=544207)|#33094|9|
### Configurations
- netcoreapp5.0-Linux-Debug-x64-CoreCLR_checked-Ubuntu.1804.Amd64.Open
- netcoreapp5.0-Linux-

[2020-03-03 19:08] vanashimko commented on #32171
@janvorli Here it is https://drive.google.com/file/d/15qeGmfm98gcfTmkAUASswFCa6lLZFAL2/view?usp=sharing

[2020-03-03 19:24] kouvel opened #33119 "System.Timers.Timer may activate repeating timer in a way in which Stop() would not stop it"
When a non-repeating timer ticks, the `_enabled` field is set instead of the `Enabled` property here, which does not null out the internal timer:
https://github.com/dotnet/runtime/blob/db5dd993c29d47c128b2aeb2bba036637963bd08/src/libraries/System.ComponentModel.TypeConverter/src/System/Timers/Timer.cs#L289-L292

Then, when the `Interval` or `AutoReset` properties are set, the timer is reactivated

[2020-03-03 19:25] terrajobst commented on #31324
* Confirm that `ShiftLeftLogicalAndInsert` under `ArmBase` should move under `AdvSimd`, but is it 32 bit or 64 bit?
* Some of instructions are destructive on ARM32 and non-destructive on ARM64. Should we split these up into a 32-bit version with a different shape?

[code]

[2020-03-03 19:28] joperezr commented on #33118
cc @ericstj since he might think of consequences that this may have with the runtime. AFAIK there shouldn't be much problem on doing this, as we don't expect people PInvoking into these directly from their code, so changing the name shouldn't be much of a problem but I may definitely be missing something.

[2020-03-03 19:34] ellismg commented on #30740
I've seen a few cases in the wild where there will be a call to `object.ReferenceEquals` where one or both of the arguments are value types.  Consider adding a rule that would fire in this case, since in these cases, the arguments are going to be boxed (since the method takes two `object`'s) and hence it can never return true.

[2020-03-03 19:35] joperezr commented on #32815
Correct me if I'm wrong but I believe this would actually first require language support for it, so instead of logging this here, we should probably first try logging this on the https://github.com/dotnet/roslyn repo, so that it starts the discussion over there, would that be ok?

[2020-03-03 19:39] joperezr commented on #32144
I believe that @jkotas answered most of the questions above, so I'll go ahead and close this, but @am11 and @kfrolov feel free to reopen if you think otherwise or have any follow up questions.

[2020-03-03 19:39] #32144 closed

[2020-03-03 19:42] terrajobst commented on #32462
* We modelled it off of `DllImportAttribute`, which is why it's named `EntryPoint` and those are fields.

[code]

[2020-03-03 19:43] mikemcdougall commented on #1784
What is the workaround?

[2020-03-03 19:47] steveisok commented on #32827
We had a PR merge too soon and it's been reverted.

https://github.com/dotnet/runtime/pull/33116

[2020-03-03 19:48] wfurt commented on #18258
WSL2 is conceptually different beast. I don't think we should lump them together. WSL1 lacked many /proc entries and had different behavior since there was no real Linux kernel.

As far as I know, @ManickaP did not encounter any issues with WSL2. She is probably the best person to comment on the stability of networking on WSL flavors.

[2020-03-03 19:49] joperezr commented on #1464
The problem here seems to be more specific to the `ef migrations` command which is not really developed in this repo, so I think that a better place for an issue like this would be https://github.com/dotnet/aspnetcore-tooling. Do you mind openning the issue there so that the right people get engaged and look into this?

[2020-03-03 19:51] steveisok commented on #33118
Assuming there isn't a big problem, I would prefer `lib<name>.so`

[2020-03-03 19:51] joperezr commented on #358
Closing this per @jkotas comment above and the lack of activity.

[2020-03-03 19:51] #358 closed

[2020-03-03 19:53] #32827 closed

[2020-03-03 19:55] joperezr commented on #319
I agree with @stephentoub in terms of readability. I'm closing this one for now but @tannergooding feel free to reopen if you think otherwise and we can revisit and ask more people about their preference.

[2020-03-03 19:55] #319 closed

[2020-03-03 20:02] ericstj commented on #33118
So we've been telling folks not to depend on these as public surface because we wanted to reserve the right to make this type of change (also we change the name of exported methods release-by-release).

I did a quick scan of packages and found the following culprits that violate this:

- System.Security.Cryptography.OpenSsl -> depends on System.Security.Cryptography.Native.OpenSsl
  - This can be

[2020-03-03 20:12] danmosemsft commented on #18258
I guess what I was wondering about is whether we care about WSL1 any more. As I understand it, WSL2 is strictly better unless you are doing heavy IO against the Windows file system. @bitcrazed ?

Also, I don't think we got many customers asking about it. We mostly did this exercise originally to enable our own dev team to work on it.

[2020-03-03 20:14] ViktorHofer commented on #18258
I don't think we should continue supporting WSL1 for building/testing. That's just a waste of resources.

[2020-03-03 20:15] wfurt commented on #32812
I did a quick test with  https://st.so.com/ @ddgweb and it works for me.
[code]

If you get repro code, we can investiagte.

[2020-03-03 20:17] janvorli commented on #32171
@vanashimko it seems that you have accidentally not replaced the coreclr.dll by the new one I've shared or accidentally used the previous one? The stresslog doesn't contain any of the new events I've added. I've looked the disassembly of one of the methods where I've added the logging and the call to the logging is not in it in the dump. But if I disassemble the coreclr.dll, the call is there.
The

[2020-03-03 20:19] tarekgh commented on #18258
Note that WSL2 is not fully released. I suggest waiting for a little keeping the attributes for WSL1. We don't have to provide extra support or work for WSL1 though.

[2020-03-03 20:22] wfurt commented on #18258
I think there are two aspects: making product working on WSL1 and making all tests pass on such platform. I would agree with @ViktorHofer that fixing second maybe waste of resources. We can still respond to real customer issues as WSL1 is still valid MS product even if WSL2 is available.

[2020-03-03 20:25] ViktorHofer commented on #18258
How do you define working? Building the repo on WSL1 or running .NET application on it? I wouldn't do any of that as I don't think we ever stated to officially support WSL1 as a distro for .NET.

[2020-03-03 20:25] vanashimko commented on #32171
@janvorli Hmm, coreclr.dll I unpacked from _2.zip has the same commit hash in Product Version, as the previous one. Is it correct?

[2020-03-03 20:27] terrajobst commented on #1845
* Looks good as proposed
* We should align the naming `Vtable` vs. `vftbl`
* Some comments are out sync
* The design should be validated by people who are wrapping COM objects

[code]

[2020-03-03 20:30] wfurt commented on #18258
I don't think we need to build on or for WSL1. We shall triage bug reports from official releases and prioritize them accordingly. (and the priority may be low)

[2020-03-03 20:36] vanashimko commented on #32171
@janvorli ahh sorry seems to be I've uploaded wrong dump! Could you please check this one: https://drive.google.com/file/d/1M5qCy1J8FYgKljdEX-zae6cr3qUb96Mi/view?usp=sharing

[2020-03-03 20:38] ManickaP commented on #18258
Yep, WSL2 is not considered as "WSL" in our tests (the conditional attribute is not hit and these tests are executed). AFAIK, we don't have any tests disabled against it, the list above is for WSL1.

We have also already decided in some issues that we're not making changes just to support WSL1 (e.g. #26730)

Lastly, WSL2 is not without its issues, e.g. https://github.com/microsoft/WSL/issues/4322

[2020-03-03 20:39] jkoritzinsky commented on #1845
Design has been validated by the CsWinRT team.

[2020-03-03 20:43] danmosemsft commented on #18258
If the goal is simply "make sure developers working on our libraries can get a clean test run on WSL2" then if I understand @tarekgh correctly, there is nothing to do, except remove the attributes (purely for tidiness)

[2020-03-03 20:46] jkotas commented on #33118
Renaming System.Native -> libSystem.Native should not break anything. The DllImport probing we try with `lib` prefix. I would say to just do this.

We should still get the bad dependencies of non-inbox libraries on inbox shims fixed.

[2020-03-03 20:47] tarekgh commented on #18258
Right, in addition to closing all WSL1 issues. I don't know if there are any specific build/test scripts handle WSL1 though. @ViktorHofer may know better about that.

[2020-03-03 20:49] ViktorHofer commented on #18258
No there's is no infra related to WSL1 except the PlatformDetection.IsWindowsSubsystem property. FWIW I think Santi did some networking work in the past specifically for WSL1 in the product.

[2020-03-03 20:51] ManickaP commented on #18258
@danmosemsft I'd personally keep the attributes until WSL2 is officially out. If you get rid of them now, the only thing it will do is to make test failing on WSL1. We're not running them anywhere, it's just for people working on WSL1, who usually do not want to do Insider Preview. And we might see some issues pop up due to it.

Though we should be clear on not supporting WSL1 and decide to what e

[2020-03-03 20:51] ViktorHofer commented on #33058
I spoke with the SDK team, they changed that behavior so that `dotnet build /t:XYZ` doesn't trigger buidl implicitly anymore. Sorry for the noise.

[2020-03-03 20:51] #33058 closed

[2020-03-03 20:52] danmosemsft commented on #18258
Either seems reasonable

[2020-03-03 20:54] wfurt commented on #18258
I'm wondering if it would make sense to update the name to *1 for clarity as well as add some explicit notes to building instructions to avoid wasted time for people who may try on WSL1 ... and fail.

[2020-03-03 20:56] ManickaP commented on #18258
@wfurt That's actually a great idea. We might need detection for WSL2 in the future and this would make it easier and more clear.

[2020-03-03 20:58] tarekgh commented on #18258
I think we don't want this detection. users can run `wsl -l -v` and that will give them the needed information.

[2020-03-03 20:58] ViktorHofer commented on #18258
Sure we could do that or wait another month until Win10 2004 is released and remove the property and all the attributes with it.

[2020-03-03 21:02] danmosemsft commented on #33097
@markwilkie didn't we add built-in validation that packages contained symbols (same as we added validation for symbols containing sourcelink)?

[2020-03-03 21:03] danmosemsft commented on #33097
Actually, re-reading it sounds like symbols resolved but did not point to sources - sounds like sourcelink perhaps.

[2020-03-03 21:29] jaredpar commented on #32764
Blocked by https://github.com/dotnet/sdk/issues/10759

[2020-03-03 21:35] charlesroddie commented on #32047
How will this project compare to https://github.com/peteroupc/CBOR?

[2020-03-03 21:42] MattGal commented on #33115
This is not 8591, rather https://github.com/dotnet/core-eng/issues/9201 .  I've already merged a fix for this to Arcade so it should radically drop HTTP 500s once this flows to you via arcade.

[2020-03-03 21:46] janvorli commented on #32171
Great, that moved my understanding of the problem further. What happens is that the LoaderAllocator ends up being on the cleanup list twice. This is the relevant part of the stress log that shows that:
[code]

I am going to add some more instrumentation to catch the spot when the double-adding happens.

[2020-03-03 21:55] markwilkie commented on #33097
Any insight @tmat ?

[2020-03-03 21:57] JeremyKuhne commented on #27272
The fix for the other part of this this is https://github.com/dotnet/extensions/pull/928.

[2020-03-03 21:57] #31997 closed

[2020-03-03 22:09] JeremyKuhne commented on #31390
Triage: @stephentoub Do you have any further comments on @poizan42's updates? Is the deadlock risk addressed?

[2020-03-03 22:13] JeremyKuhne commented on #31425
I agree that updating the behavior consistently when users explicitly change state is the way to go. We need to document this breaking change, of course.

[2020-03-03 22:17] JeremyKuhne commented on #31429
@filipnavara Any luck on a fix?

[2020-03-03 22:22] filipnavara commented on #31429
@JeremyKuhne I submitted a PR the same day as my last comment (https://github.com/dotnet/corefx/pull/42458) but it was not merged because it was making duplicated code (on native and managed side) which neither I nor @stephentoub liked. Currently there's PR #1495 which should also fix it in slightly cleaner way. Unfortunately it still requires some tweaking to pass the tests and there was no feedb

[2020-03-03 22:23] tmat commented on #33097
I don't know what the current status of Source Link validation is. I think it was disabled at some point.
@JohnTortugo

[2020-03-03 22:24] scalablecory opened #33124 "Make HttpClient use a singleton SocketsHttpHandler"
## Proposal

We update the parameterless `HttpClient` constructor to use a singleton `SocketsHttpHandler`.

## Why

There are well known articles online discussing how to use `HttpClient` correctly: specifically, recommending to keep a singleton/etc. around instead of using a per-request client. It is very common on Stack Overflow for people to comment about this when a question involving `HttpCli

[2020-03-03 22:25] JeremyKuhne commented on #13753
This has always been the behavior and is an artifact of the underlying Win32 API- https://docs.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-readdirectorychangesw. You need to watch the parent directory. You can mitigate cost by not watching recursively and adding as many filters as possible.

[2020-03-03 22:25] #13753 closed

[2020-03-03 22:27] JeremyKuhne commented on #31476
Triage: Closing, @ss4adam please reopen if you get a repro that shows that we're losing data.

[2020-03-03 22:27] #31476 closed

[2020-03-03 22:36] matthew-a-thomas commented on #13753
@JeremyKuhne Even so, the problem remains that `e.FullPath` contains an incorrect path as shown in my example. IMHO the API is broken: it promises to give the correct full path and it doesn't but gives non-existent paths. Apparently the only portion of that property's string that is guaranteed to be correct is the very last path segment, but that's not a "full" path in any sense.

[2020-03-03 22:36] wfurt commented on #33124
_If_ DNS update is one of the cons I'm wondering that is something we can also improve. For example, do DNS lookup more frequently and not open a new connection when the name resolves to the IP of an existing pool connection. Of course, getting API when we can get TTL for DNS would be better but we may be able to make some improvements without it.

[2020-03-03 22:37] JohnTortugo commented on #33097
The SourceLink validation has a toggle parameter to enable/disable it. Currently it is disabled for [dotnet/runtime](https://github.com/dotnet/runtime/blob/master/eng/pipelines/official/stages/publish.yml#L32) and [dotnet/corefx@3.1](https://github.com/dotnet/corefx/blob/release/3.1/.azure-ci.yml#L101)

I think we missed re-enabling it when this issue was closed: https://github.com/dotnet/runtime/

[2020-03-03 22:37] scalablecory opened #33125 "Obsolete old HTTP APIs"
`ObsoleteAttribute` will be getting an update to support [diagnostic IDs and URLs](https://github.com/dotnet/runtime/issues/33089) to help IDEs better manage obsolete API usage.

We should consider annotating `WebRequest` and `WebClient` with this. I frequently see asks for help with HTTP in .NET, and it's not uncommon to find them using one of these APIs without knowing we prefer them use `HttpCl

[2020-03-03 22:45] #32875 closed

[2020-03-03 22:47] charlesroddie opened #33126 "Flesh out Decimal API and allow rounding to negative decimal places"
The `Decimal` API (taken here to include `System.Double` API where this includes decimal representations) is rather thin and needs rounding out.

1. Rounding to negative decimal places:
`Decimal.Round(_,digits:int)` and `Math.Round(_,digits:int)` should allow `digits` to be negative.
For example `Decimal.Round(123M,-1)` should give `120M`.

2. Creating a Decimal from components, and getting the co

[2020-03-03 22:51] JeremyKuhne commented on #31509
Triage: Not sure having `FileStream.Flush(true)` `fsync()` the parent directory is a wise idea. If someone is willing to put the time in to validate that it works we might be able to consider adding an additional option to do so.

[2020-03-03 22:56] wfurt commented on #31509
I don't understand triage comment @JeremyKuhne. I don't think there was any proposal for adding `fsync()`.  Fundamentally OSX implementation will cache events as well as the filesystem access is different than Windows.

[2020-03-03 22:57] JeremyKuhne commented on #31516
Triage: Closing. If we get a repro for this that doesn't involve other dependencies please reopen and we'll look at it.

[2020-03-03 22:57] #31516 closed

[2020-03-03 23:00] RUSshy opened #33127 "Remove use of reflection in System.Net.NameResolutionPal"
Hello

What is the exact reason you are using reflection here? https://github.com/dotnet/runtime/blob/9c82a36c23235c4d50954cb33a4d5d89b787a1aa/src/libraries/System.Net.NameResolution/src/System/Net/NameResolutionPal.Win32.cs#L13-L14

Can this be avoided? could Assembly.GetExecutingAssembly be used instead?

I personally see no reason to pull in reflection use inside this API, it is has lot of over

[2020-03-03 23:00] Wraith2 commented on #33126
What does it mean to be a canonical decimal?

[2020-03-03 23:04] svick commented on #33126
`decimal` doesn't support infinite values, so I think `IsFinite` and `IsInfinite` don't make sense.

[2020-03-03 23:05] davidwrighton commented on #32175
I'm working on adding an ability to specify to crossgen2 the minimal instruction set support, and hopefully that will allow the faster code to kick in more quickly for more scenarios, but the current model is that for CoreLib ONLY, Avx2.IsSupported will return false from the R2R code, and will change to true when it is re-tiered. (This requires your code to work in such a situation, we decided we

[2020-03-03 23:07] JeremyKuhne commented on #31523
Triage: @JTrotta, we're all moved now, can you start on a proposed fix? If we change the API we'll need to go through the [API proposal process](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md).

[2020-03-03 23:25] JeremyKuhne commented on #31538
This behavior is by design. System.IO path strings are always considered OS local paths, they are not evaluated as possible URI/URLs (we simply pass them on to the OS in most cases).  UNC paths (`\\Server\Share`) are only special on Windows where such paths are handled by the OS APIs.

`Path.GetFullPath` delegates directly to Windows on Windows. On Unix we replicate the same sort of semantics. If

[2020-03-03 23:25] #31538 closed

[2020-03-03 23:37] JeremyKuhne commented on #504
Triage: Closing. Please reopen if this gets hit in the runs again.

[2020-03-03 23:42] softworkz commented on #31538
@JeremyKuhne - While I knew the correct answer I had subscribed to this issue wondering where it would go, but I probably better ask right away:
Are you aware of any plans or projects for a platform independent C# implementation of the SMB protocol from the side of MS?

[2020-03-03 23:45] JeremyKuhne commented on #29586
https://github.com/dotnet/runtime/issues/513 is the same issue, closing and tracking there.

[2020-03-03 23:45] #29586 closed

[2020-03-03 23:53] jkotas commented on #33127
`typeof` and `Type.Assembly` are light weight constructs. They are not the expensive reflection APIs that need to be avoided for performance reasons.

I believe that you have opened this because of the experimental limited reflection mode in CoreRT.  This should be addressed in the limited reflection mode in CoreRT. I do not expect we are going to be doing unnatural changes in dotnet/runtime to ma

[2020-03-03 23:53] #33127 closed

[2020-03-03 23:55] JeremyKuhne commented on #513
Triage: We can consider hosting the raw filename bytes in `FileSystemInfo` when enumerating and handling them there. I don't think we can handle all cases or should try to. Making the implementation change isn't hugely difficult, but it is a fair amount of work to update all of the entry points. How we handle the filename representation as `string` is something we should do some thinking about. Ho

[2020-03-04 00:03] janvorli commented on #32171
@vanashimko here is a new version of the patched coreclr.dll: https://1drv.ms/u/s!AkLV4wRkyHYhyEot9KwZ3VS8N5UX?e=Jlx7Eh

I've added more stresslog entries and also added a failure right at the spot when a handle gets added into the cleanup list for the 2nd time. I hope we are really close to figuring out the culprit.

[2020-03-04 00:04] JeremyKuhne commented on #557
Triage: Unfortunately we're a little constrained by the constructors we already have in adding defaults. We've discussed it in https://github.com/dotnet/runtime/issues/29096 which discusses exposing the default buffer size.

Closing in favor of https://github.com/dotnet/runtime/issues/29096. If someone can come up with a proposal for default constructor additions that doesn't introduce ambiguity w

[2020-03-04 00:04] #557 closed

[2020-03-04 00:09] #32175 closed

[2020-03-04 00:21] briansull commented on #33091
investigating

[2020-03-04 00:22] jkoritzinsky opened #33128 "Move Libraries test host setup out of the Libraries product build"
Today, the setup of the libraries test host is done during the product build. This creates a dependency on the full CoreCLR or Mono build having been completed. The product build should just depend on getting a copy of System.Private.CoreLib to build against (either an implementation assembly or a ref assembly).

If this is implemented, then we can move the Libraries product build in PR/CI/Officia

[2020-03-04 00:24] briansull commented on #33091
Repros with:
COMPLUS_JitDump=Fibonacci2
COMPLUS_JitStress=2

[2020-03-04 00:26] briansull commented on #33091
@erozenfeld

Dump ends with:

[code]

[2020-03-04 00:35] MattGal commented on #33111
I have the permissions, but deleting packages from a sleet feed is not as simple as deleting the blob.  One has to use their API to prevent messing up the manifests.  @jcagme has experience with this and is coincidentally on FR this week so should be able to handle it.

[2020-03-04 00:51] jcagme commented on #33111
There are 1,037 6.x versions for `Microsoft.NETCore.Runtime.Mono`. Do you want all those removed?

[2020-03-04 00:53] filipnavara commented on #33111
@jcagme Yep, also the `runtime.<rid>.Microsoft.NETCore.Runtime.Mono` packages of which there is plenty.

[2020-03-04 00:53] briansull commented on #33091
[code]

[2020-03-04 00:56] jcagme commented on #33111
Ok. Doable but it will take up to days depending on how busy the feed is. I can provide status as things move forward.

[2020-03-04 00:59] briansull commented on #33091
[code]

[2020-03-04 01:00] filipnavara commented on #33111
It was broken for weeks (including the time the packages were not published after repository consolidation) so a day or few won't make a big difference. I am just happy that there is a way to resolve this. Thanks!

[2020-03-04 01:09] 333fred opened #33129 "Calli with thiscall convention fails at runtime"
This program (IL at the bottom of the issue) causes .net core 3.1 to fail with:
[code]

The program defines a delegate type that takes a pointer to a structure and a float, and returns a structure that contains a field from that first pointer and the float. It then creates a `thiscall` function pointer stub around the delegate by using `Marshal.CreateFunctionPointerForDelegate`, and `calli`'s that

[2020-03-04 01:11] jkoritzinsky commented on #33129
This is likely related to #12375

[2020-03-04 01:12] ericstj opened #33130 "System.IO.Ports should not depend on System.Native"
We don't consider System.Native to be a stable public API, yet System.IO.Ports depends on it.  This can cause someone using an older System.IO.Ports to break when running on a newer shared framework where we update System.Native.

System.IO.Ports should remove this dependency, for example by including the same exports in its own native library, or eliminating the usage by moving functionality into

[2020-03-04 01:12] ericstj commented on #33118
Opened https://github.com/dotnet/runtime/issues/33130 to track fixing System.IO.Ports.

[2020-03-04 01:14] JeremyKuhne commented on #31538
We don't have any plans and I'm not aware of any elsewhere, sorry.

[2020-03-04 01:45] danmosemsft commented on #33037
@tarekgh is this familiar?

[2020-03-04 01:53] briansull commented on #33091
Problem is cause by the insertion of a GT_NOT node:

[code]

[2020-03-04 02:15] MBurtsev opened #33131 "ConcurrentDictionary perfomance optimization"
Lock-Free hash table implementation.
1. [Article](https://www.linkedin.com/pulse/lock-free-hash-table-maksim-burtsev/)
2. [Benchmarks](https://github.com/MBurtsev/MBur.ConcurrentDictionary)
3. All tests passed
[code]

API changes:
This class was written from scratch. The new design does not use concurrencyLevel for load balancing. Therefore, users no longer need to pay attention to this. In this r

[2020-03-04 02:20] softworkz commented on #31538
Thanks a lot for your reply. There are a few C# implementations, yet of moderate quality.

Back to the dotnet runtime I wonder, when rephrasing this issue similar to

**"On Linux, redirect handling of UNC paths to Samba (if available)"**

wouldn't this make be a legitimate request?

[2020-03-04 02:25] CodeBlanch opened #33133 "Performance regression in .NET Core 3.1 when awaiting Task that completes synchronously?"
Consider this simple code:

[code]

Basically a bunch of awaits but everything is really completing synchronously.

That program when run on .NET Core 3.1 allocates the async state machine 5000 times:

![image](https://user-images.githubusercontent.com/28367120/75838684-6f6d0e00-5d7b-11ea-87c9-85ad3c184c2c.png)

Same test run on net462 and netcoreapp2.1 do not allocate at all, which was the expect

[2020-03-04 02:32] benaadams commented on #33133
/cc @stephentoub

[2020-03-04 03:04] QueenCitySmitty commented on #33131
@MBurtsev the Benchmarks link is giving me a 404?  Is it a private repo?

[2020-03-04 03:09] MBurtsev commented on #33131
@QueenCitySmitty yeah sorry )

[2020-03-04 03:10] QueenCitySmitty commented on #33131
Can see now, thanks.

[2020-03-04 03:27] radityoardi opened #33136 "API extension proposal for System.String: string.Format function for string template"
- name: System.String API proposal
- about: Propose an additional extension function for System.String, so that it can be used for string template
- title: ''
- labels: api-suggestion
- assignees: ''

## Background and Motivation
I've been using this extension function for a number of years. It would be awesome if I can share it with the world through this dotnet runtime.
Previously, we used to go

[2020-03-04 03:51] GrabYourPitchforks commented on #33136
@radityoardi Have you taken a look at the C# [string interpolation syntax](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/tokens/interpolated)? It's intended to solve largely the same problem you had called out here.

[code]

[2020-03-04 04:14] jkoritzinsky commented on #3972
I think with the work that @am11 did a few months ago to improve and unify our compiler discovery we can close this.

[2020-03-04 04:14] #3972 closed

[2020-03-04 04:25] v-haren opened #33138 "Test failure in JIT/Regression/VS-ia64-JIT/V1.2-M02/b28158/b28158/b28158.sh"
failed in job: [runtime-coreclr outerloop 20200303.6](https://dev.azure.com/dnceng/public/_build/results?buildId=545440&view=ms.vss-test-web.build-test-results-tab&runId=17260168&resultId=105964&paneView=debug)

Error message:
`
\nAssert failure(PID 8876 [0x000022ac], Thread: 8876 [0x22ac]): Assertion failed '!"PerfScore: unhandled instruction"' in 'test:Main():int' during 'Emit code' (IL size 267

[2020-03-04 04:27] jkoritzinsky commented on #4845
This issue is from 2015 and our infra has change significantly multiple times since then. Closing this issue for now since our current docs are up to date. If there's still documentation issues, I'd suggest opening a new issue since that will be more visible.

[2020-03-04 04:27] #4845 closed

[2020-03-04 04:27] jkoritzinsky commented on #4848
We don't use project.json any more, so I'm going to close this.

[2020-03-04 04:27] #4848 closed

[2020-03-04 04:29] jkoritzinsky commented on #4854
@richlander it looks like this issue is from back in the DNX days. Should we keep this issue open?

[2020-03-04 04:32] jkoritzinsky commented on #5171
We moved off smarty quite a while ago and (at least for now) are planning on keeping the Xunit wrappers. Closing for now.

cc @jashook

[2020-03-04 04:32] #5171 closed

[2020-03-04 04:32] danmosemsft commented on #33097
Ouch. Maybe we need a validation step for the validation step ☹️

@ericstj not sure when @safern is back, or maybe @anipik could look? We should fix for Preview 2

[2020-03-04 04:33] jkoritzinsky commented on #5227
This was related to the old Groovy scripts for Jenkins. Closing as those scripts are gone.

[2020-03-04 04:33] #5227 closed

[2020-03-04 04:33] danmosemsft commented on #33097
I also see ` enableSymbolValidation: false` on the line above....

[2020-03-04 04:36] jkoritzinsky commented on #5316
With repo consolidation, the libraries build as part of the same repo as crossgen, so it isn't being used via packages. I'm going to close this for now.

[2020-03-04 04:36] #5316 closed

[2020-03-04 04:38] jkoritzinsky commented on #5525
Closing as this issue very old is not reproducible in master.

[2020-03-04 04:38] #5525 closed

[2020-03-04 04:39] jkoritzinsky commented on #5609
We now use official lldb packages or build from official sources when constructing our docker images.

[2020-03-04 04:39] #5609 closed

[2020-03-04 04:41] jkoritzinsky commented on #5723
@jkotas should this issue still be open?

[2020-03-04 04:45] #5723 closed

[2020-03-04 04:47] smoogipoo commented on #32852
Yes, the otool output comes from the 10.14.5. We were also compiling on a 10.15.3 and running the binaries on the 10.14.5, and the binaries I posted are indeed byte-for-byte identical...

We are currently unable to reproduce the failure on the 10.14.5, likely as a result of our systems being power cycled this week.

We've recently found out that local builds of our project work on the 10.14.5, but

[2020-03-04 04:51] jkoritzinsky commented on #6817
The rootfs scripts now live in dotnet/arcade. I'm going to close this for now.

[2020-03-04 04:51] #6817 closed

[2020-03-04 04:55] jkoritzinsky commented on #7332
With the live builds in the consolidated repo, this no longer exists, so we can close this issue.

[2020-03-04 04:55] #7332 closed

[2020-03-04 04:56] kouvel commented on #1537
Fixed in 3.1 with https://github.com/dotnet/coreclr/pull/28006, and fixed in master with https://github.com/dotnet/runtime/pull/32250 (original PR https://github.com/dotnet/runtime/pull/2380)

[2020-03-04 04:56] #1537 closed

[2020-03-04 05:36] AriNuer commented on #32725
Tests failed in same error here: [runtime-coreclr crossgen2 #20200303.1](https://dev.azure.com/dnceng/public/_build/results?buildId=545735&view=results)

**Failed tests:**
[code]

**Error message**
`
Error: Operation is not valid due to the current state of the object.\nSystem.InvalidOperationException: Operation is not valid due to the current state of the object.\n at Internal.TypeSystem.LayoutI

[2020-03-04 05:43] AriNuer commented on #32729
Test `JIT/opt/ObjectStackAllocation/ObjectStackAllocationTests/ObjectStackAllocationTests.sh` failed again.
**Job:**
[runtime-coreclr crossgen2 #20200303.1](https://dev.azure.com/dnceng/public/_build/results?buildId=545735&view=results)

**Error message**
`
\nReturn code: 1\nRaw output file: /home/helixbot/work/ACBB0982/w/A90508C8/e/JIT/opt/Reports/JIT.opt/ObjectStackAllocation/ObjectStackAllocati

[2020-03-04 05:54] vscodewinodws opened #33139 "How to build .net core on local machine"
This is not a bug , this is request regarding the clear documentation for building .net core on local machine along with BCL.

i want to contribute to .net core and bcl libs so i want to build it on my local computer and use visual studio to edit code of bcl , even after attempting many times i am failing to do so by following this docs

https://github.com/dotnet/runtime/blob/master/docs/workflow/

[2020-03-04 05:56] AriNuer opened #33140 "Test failure : JIT/superpmi/superpmicollect/10w5d_cs_do/10w5d_cs_do.sh"
**Job:**
[runtime-coreclr crossgen2 :#20200303.1](https://dev.azure.com/dnceng/public/_build/results?buildId=545735&view=results)

**Error message:**
`
Managed assembly not found: No such file or directory\n\nReturn code: 1\nRaw output file: /home/helixbot/work/ACBB0982/w/A90508C8/e/JIT/superpmi/Reports/JIT.superpmi/superpmicollect/10w5d_cs_do/10w5d_cs_do.output.txt\nRaw output:\nBEGIN EXECUTION\n

[2020-03-04 06:02] AriNuer commented on #32723
Test `JIT\\Regression\\CLR-x86-JIT\\v2.1\\DDB\\B168384\\LdfldaHack\\LdfldaHack.cmd` failed again.

**Job:**
[runtime-coreclr crossgen2:#20200303.1](https://dev.azure.com/dnceng/public/_build/results?buildId=545735&view=results)

**Error message:**
`
Fatal error. System.AccessViolationException: Attempted to read or write protected memory. This is often an indication that other memory is corrupt.\r

[2020-03-04 06:07] AriNuer commented on #32724
Test `JIT\\opt\\ObjectStackAllocation\\ObjectStackAllocationTests\\ObjectStackAllocationTests.cmd` failed again.

**Job:**
[runtime-coreclr crossgen2:#20200303.1](https://dev.azure.com/dnceng/public/_build/results?buildId=545735&view=results)

**Error message:**
`
\r\nReturn code: 1\r\nRaw output file: C:\h\w\AE250995\w\B53509E0\e\JIT\opt\Reports\JIT.opt\ObjectStackAllocation\ObjectStackAllocation

[2020-03-04 06:21] vanashimko commented on #32171
@janvorli Got the message "double register of a handle", seems to be the correct one: https://drive.google.com/file/d/142g0JYD8MgC91Vzx2AxA2MXojAIddsRI/view?usp=sharing

P.S. Just out of curiosity, can I look at the changes you're making somewhere?

[2020-03-04 06:30] wfurt opened #33141 "SendAsync_ConcurentSendReceive_Ok is failing in CI"
We had 24 failures in the last 90 days. It either fails with `IOException` or with `NullReferenceException`. I was able to reproduce latter in my local runs:

[code]

[code]

from quick debug, it seems like this part of test runs before SerializeToStreamAsync completes. (Complete() sets _waitForCompletion back to null)
[code]

From duplicate reports (#33661), the `IOException`:
[code]

[2020-03-04 06:42] AriNuer opened #33142 "Test failure: Loader/classloader/generics/Layout/General/Base01b_seq_ser/Base01b_seq_ser.sh"
**Job:**
[runtime-coreclr gcstress0x3-gcstress0xc:#20200302.1](https://dev.azure.com/dnceng/public/_build/results?buildId=543557&view=results)

**Error message:**
`
/root/helix/work/workitem/Loader/classloader/generics/Layout/General/Base01b_seq_ser/Base01b_seq_ser.sh: line 275: 696 Segmentation fault $LAUNCHER $ExePath "${CLRTestExecutionArguments[@]}"\n\nReturn code: 1\nRaw output file: /root/he

[2020-03-04 06:42] radityoardi commented on #33136
Oops... I guess I've missed that out. Shall I close this issue instead, since it's supported in C# 6.0?

[2020-03-04 06:46] JohnTortugo commented on #33097
The symbol validation should be kept disabled. We were having some issues with that validation and decided to implement it as part of the release automation process: https://github.com/dotnet/arcade/issues/3735

[2020-03-04 06:47] GrabYourPitchforks commented on #33136
If you think it suits your needs, go ahead and close this out. Otherwise if you think it's missing functionality feel free to leave any feedback here and we'll route it appropriately. Thanks!

[2020-03-04 06:49] AriNuer opened #33143 "Test failure :Loader/classloader/generics/Layout/General/Base01b_seq/Base01b_seq.sh"
**Job:**
[runtime-coreclr gcstress0x3-gcstress0xc:#20200302.1](https://dev.azure.com/dnceng/public/_build/results?buildId=543557&view=results)

**Error message:**
`
\nReturn code: 1\nRaw output file: /root/helix/work/workitem/Loader/classloader/Reports/Loader.classloader/generics/Layout/General/Base01b_seq/Base01b_seq.output.txt\nRaw output:\nBEGIN EXECUTION\n/root/helix/work/correlation/corerun B

[2020-03-04 07:03] jkoritzinsky commented on #12334
Fixed by #33123

[2020-03-04 07:03] #12334 closed

[2020-03-04 07:04] skype007 opened #33144 "NETCore 2.1+ - "Could not get any response" when Calling API secured with Certificate"
We have a NETCore2.1+ API project with the following environments:
- Environment Development
- Environment DEMO
- Environment Quality (Secured with Certificate)
- Environement Staging (Secured with Certificate)

Using Postman, when I call a POST API with a JSON body (6263 lines according to Postman), the call works successfully in "Development" and "DEMO" environments. But not in "Quality" and "St

[2020-03-04 07:30] KalleOlaviNiemitalo commented on #31389
The source code in the master branch of the dotnet/runtime repo likewise seems to have the overflow checks: <https://github.com/dotnet/runtime/blob/a10559d8fe770e41c3f274c215948d6373179be7/src/libraries/Microsoft.Diagnostics.Tracing.EventSource.Redist/src/Microsoft.Diagnostics.Tracing.EventSource.Redist.csproj#L12> <https://github.com/dotnet/runtime/blob/a10559d8fe770e41c3f274c215948d6373179be7/sr

[2020-03-04 07:45] wfurt opened #33145 "BeginGetHostAddresses returns unexpected results when using systemd-resolved"
I bump to this while running HTTP functional tests on local machine but we do see similar failures frequently in CI.

[code]

While running the test, I did packet capture for DNS traffic as well as I instrumented `SystemNative_GetHostEntryForName` in PAL to log more details on failures of `getaddrinfo`.

I did not see any sign of failure in packet capture but is it is curious that if an invalid na

[2020-03-04 07:54] KalleOlaviNiemitalo commented on #31927
Is this a duplicate of #31500?

[2020-03-04 07:55] izzetuslu commented on #32977
string contents = File.ReadAllText(@"D:\serviceresponse\serviceresponse.xml");
var xmlSerializer = new XmlSerializer(typeof(GetAvailabilityResponse));
GetAvailabilityResponse resp;
using (var stringreader = new StringReader(contents))
{
resp = (GetAvailabilityResponse)xmlSerializer.Deserialize(stringreader);
}

[2020-03-04 07:56] mikhail-barg commented on #27191
@tmds

While this is true for hardware audio, it's not true for other scenarios, like VoIP where you need to send media via network.

@tannergooding

The thing here is that while it's possible to write a tight loop in a thread, it still would be affected by the thread scheduler running undercover. So you would be unable to assure precise timing for events.

Let's imagine you have a tight loop like

[2020-03-04 07:56] sywhang commented on #31927
@KalleOlaviNiemitalo Yes, it is.

[2020-03-04 08:07] tmds commented on #27191
My experience tells me different. I've built low latency RTP-based voice-and video over IP systems for 5+ years.

[2020-03-04 08:12] dlyz commented on #33112
I found a nice workaround. But still, I think it should be supported out of the box with JsonConverterAttribute.

[code]

[code]

[2020-03-04 08:23] tmds commented on #33145
@wfurt interesting issue, and findings.

What is the return value of `getaddrinfo` in this case?
It would be interesting to figure out what process `ESRCH` is referring to.

It should be thread-safe... except for bugs.

Let me know if/when you want an extra pair of eyes.

[2020-03-04 08:25] ViktorHofer opened #33146 "System.Private.CoreLib isn't binplaced into the runtime directory anymore"
System.Private.CoreLib isn't binplaced into the artifacts\bin\runtime\netcoreapp5.0-...\ directory anymore which results in test assembly build failures when using ReferenceFromRuntime items.

This isn't caught in CI because we don't build tests assemblies there: https://github.com/dotnet/runtime/blob/a10559d8fe770e41c3f274c215948d6373179be7/eng/pipelines/common/global-build-job.yml#L41

This like

[2020-03-04 08:25] iron9light opened #36376 "More flexible Host Environment name"
### Is your feature request related to a problem? Please describe.
Our service has more environments than just Development, Staging and Production. For example, we have 2 Production environments for serving different region.
Let's call them "Production1" and "Production2"

### Describe the solution you'd like
There are some extension methods like "IsDevelopment", "IsStaging" and "IsProduction" (ht

[2020-03-04 08:27] Shyam-Gupta opened #33147 "RollForward from 3.1 to 5.0 fails to load System.Drawing.Common"
**Repro Steps:**

1. Create a WinForms .NET Core 3.1 application
2. Declare a variable of type `System.Drawing.Font` somewhere in the code
3. Build the application with `rollForward` set to `major`
4. Run the application on a machine having no 3.1 SDK but having latest .NET Core 5.0 SDK installed

**Result:**
System.IO.FileLoadException
  HResult=0x80131040
  Message=Could not load file or assembl

[2020-03-04 08:29] ViktorHofer commented on #33146
OK false alarm, I wasn't passign in the `-runtimeConfiguration` flag. Sorry for the noise.

[2020-03-04 08:29] #33146 closed

[2020-03-04 08:51] marek-safar commented on #33118
@ericstj could someone on your team do the work?

[2020-03-04 08:58] ViktorHofer opened #33148 "System.IO.Tests.Enumeration.SpecialDirectoryTests_Enumerable.SkippingHiddenFiles test fails on Windows 10 2004"
[code]

OS build: 19574.1000

cc @JeremyKuhne @carlossanlop @jozkee

[2020-03-04 09:00] ViktorHofer opened #33149 "4 TimeZone tests failing on Windows 10 2004"
[code]

OS build: 19574.1000

cc @tarekgh @bartonjs @joperezr

[2020-03-04 09:04] ViktorHofer opened #33150 "Building System.Net.Http.Functional.Tests fails locally"
[code]

[msbuild.zip](https://github.com/dotnet/runtime/files/4286326/msbuild.zip)

cc @dotnet/ncl

This is probably not caught in CI as we use a different path there and the pipeline that mimics the lcoal dev flow doesn't build the test assemblies (which we should fix): https://github.com/dotnet/runtime/blob/9bcf3b12f4e7ad2667ca00afc804877d78b81a46/eng/pipelines/common/global-build-job.yml#L41

[2020-03-04 09:05] charlesroddie commented on #33126
@svick @Wraith2 maybe I copied too much from the Swift api. Deleted those parts.

[2020-03-04 09:14] zhxymh commented on #32848
Hi @fadimounir, do you think this is a bug or something else?

[2020-03-04 09:26] scalablecory commented on #33150
Is it possible your repo needs cleaning? System.Net.Quic is no longer an assembly as of https://github.com/dotnet/runtime/pull/32549.

CC @Tratcher

[2020-03-04 09:29] janvorli commented on #32852
@smoogipoo thank you for letting me know.

[2020-03-04 09:29] #32852 closed

[2020-03-04 09:32] scalablecory commented on #33131
@stephentoub

[2020-03-04 09:36] janvorli commented on #32171
Sure, you can take a look at it here. The changes are just adding more stress log events and a hashtable to keep track of allocated handles. They are meant only to debug the issue and are a bit hacky.
https://github.com/janvorli/coreclr/pull/new/loader-allocator-handle-debugging

[2020-03-04 09:38] ManickaP commented on #18258
So let's wait for official WSL2 rollout, then get rid of the `PlatformDetection.IsNotWindowsSubsystemForLinux` and if any issues for WSL1 pops up afterwards, we'll steer the users to use WSL2.

[2020-03-04 09:50] scalablecory commented on #33131
Thanks! This looks like cool stuff. From a quick view of your code this doesn't appear to actually be lock-free, but that isn't a blocker.

One way you could help evaluate this is to add more benchmarks from different angles -- I.e. zero contention, low contention, high contention, mix of operation types, collisions, key/value types/sizes, NUMA, and so on. You might also check the [dotnet/performa

[2020-03-04 10:00] PillowMetal commented on #30820
Verified this works as specified when making Serialize and Deserialize calls, but does not work when trying to apply this property globally in startup.cs with:

[code]

Will this also eventually be added in .NET 5.0?

[2020-03-04 10:27] stephentoub commented on #33133
Are you building debug rather than release? The state machine generated by Roslyn is a class rather than struct in debug builds.

[2020-03-04 10:34] stephentoub commented on #33124
You mean HttpClientHandler (which on some platforms wraps SocketsHttpHandler), right?

[2020-03-04 10:55] janvorli commented on #32171
So thanks to the last dump, I've found what causes the double registration of the handle. The RuntimeType.InitializeCache uses the Interlocked.CompareExchange pattern to ensure the cache handle gets created just once even if multiple threads are racing for it. It calls RuntimeTypeHandle.GetGCHandle (which registers the handle) and then tries to set the m_cache to that using Interlocked.CompareExch

[2020-03-04 11:06] janvorli commented on #32171
Here is the updated System.Private.CoreLib.dll:
https://1drv.ms/u/s!AkLV4wRkyHYhyEsNZ_RpNAhe2Dgf?e=afOgD2

[2020-03-04 11:16] #32514 closed

[2020-03-04 11:24] vanashimko commented on #32171
@janvorli can no longer observe the issue with patched System.Private.CoreLib.dll, tests work fine now! 🎉

[2020-03-04 11:47] stephentoub commented on #33133
If you are in fact building release, you might also try disabling tiered compilation (`set COMPlus_TieredCompilation=0`). It's possible you're measuring code without the JIT's boxing optimizations applied.

[2020-03-04 11:59] mwadams commented on #29538
@reazhaq - this is exactly the scenario we have - I have a custom `JsonConverter<object>` which examines a type discriminator to instantiate the relevant type.

It then wants to populate the contents of the type it has instantiated, using the default behaviour, otherwise you get into an infinite recursion.

It would be nice to be able to do a `JsonDocument.ParseValue()` over the reader so I could

[2020-03-04 12:08] eiriktsarpalis commented on #2293
Addressed by #32488

[2020-03-04 12:08] #2293 closed

[2020-03-04 12:14] MicahEdwards commented on #14819
A .Net Core trial version of XmlPrime 4.1.3 is now available as a signed NuGet package.

Just send me a message or drop us an email ( info@xmlprime.com ) saying what area you would like to test it in and we will send you a download link.

Micah Edwards.
XmlPrime.

[2020-03-04 12:19] Shriyanshmit opened #33154 "How to Load C Shared object file (.so) file in .Net core"
I am having one .so file which I want to use in .Net core.

Once I use the same library in c with below code it is working fine but I don't know how to add these references in .Net Core.

Code in C

add_library(capi SHARED IMPORTED)
set_target_properties(capi PROPERTIES
IMPORTED_LOCATION "/opt/lib/libcapi.so"
INTERFACE_INCLUDE_DIRECTORIES "/home/src/api/capi/include;/home/src/api/capi/include/Linu

[2020-03-04 12:24] tannergooding commented on #27191
I don't believe this is a concern in real world/modern applications. Games can run just fine at 144+ frames per second all while dealing with disk IO, networking, graphics rendering, audio buffering, etc (and still fully saturating a system).
Modern step timers may also take things like scheduling concerns into consideration and may trigger an event early if the elapsed time is "close enough". Tha

[2020-03-04 12:30] trylek opened #33155 "Crossgen2 build of framework assemblies is failing due to missing hostpolicy.dll / libhostfxr.so"
Example run:

https://dev.azure.com/dnceng/public/_build/results?buildId=546025&view=logs&j=3cca9cb6-fa2f-5752-29bd-c1a454d766a9&t=23eb0527-6ff4-535f-2f76-7f76e2f1841d

On Windows it complains about missing hostpolicy.dll.
On Linux it complains about missing libhostfxr.so.
On OSX it claims that it cannot find the crossgen2 executable under Core_Root/crossgen2.

[2020-03-04 12:37] DanAtkinson commented on #14819
@MicahEdwards What are the costs? You don't display them online. Some pages say that I can purchase licenses online but then when I go to those pages, I'm told that I can't purchase it online.

So I guess the simple question is where can I see a breakdown of your prices? I shouldn't need to contact you to get these - they should just be available on your website.

[2020-03-04 12:45] tannergooding commented on #33126
The `System.Decimal` and the Swift `decimal` types are not the same and are intended for different usages.

`System.Decimal` is based on the Win32 `DECIMAL` type: <https://docs.microsoft.com/en-us/windows/win32/api/wtypes/ns-wtypes-decimal~r1>
While I believe the `Swift `decimal` type is closer to one of the defined IEEE 754 decimal types (documentation is sparse here and I'm not very familiar wit

[2020-03-04 12:59] tannergooding commented on #18244
@agocke, @jaredpar.

Would this be covered or more readily implementable with something like the `shapes` proposal for C#?

[2020-03-04 13:04] gfoidl commented on #33057
I tried the code with current _master_ (from a checked build).

<details>
  <summary>C# code (just copied together)</summary>

[code]
</details>

It is quite "jumpy".
[code]

I'll try something to improve this...

[2020-03-04 13:04] tannergooding commented on #16094
Going to close this for now as it hasn't garnered much attention and is more readily handled on the user side now that we have constructors taking in `Span<T>`.
Much of the discussion has also centered around `Vector<T>` growing in size in the future and how to best handle that, which will need a bit more thought/design.

If someone feels strongly about this, please feel free to open a new issue.

[2020-03-04 13:04] #16094 closed

[2020-03-04 13:12] tannergooding commented on #20681
I'm going to close this issue as it will be unactionable for the purposes of the [API review process](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md).

If someone feels strongly about a particular type, they should feel free to open a new issue following the layout of the "good example" given under step 1 of the review process linked above. Ideally the new issue w

[2020-03-04 13:12] #20681 closed

[2020-03-04 13:15] tannergooding commented on #20858
Going to close this for now. This hasn't gained much traction and likely needs more thought around cross platform implementation (such as how it would function on ARM devices) before it could move forward.

If someone feels strongly about this, please feel free to open a new issue. Our API review process is detailed here with a "good example" being listed under step 1. Ideally the new issue would

[2020-03-04 13:15] #20858 closed

[2020-03-04 13:16] tannergooding commented on #21372
Going to close this as current unactionable.

I'm aggregating this along with the other similar issues locally and will write up a proposal on how to address these cross platform differences moving forward.

[2020-03-04 13:16] #21372 closed

[2020-03-04 13:19] tannergooding commented on #22293
Going to close this as it hasn't garnered much attention and the primary scenario should be covered by the constructor overloads that take a `Span<byte>`.

If someone feels strongly about this, please feel free to open a new issue. Our API review process is detailed [here](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md) with a "good example" being listed under ste

[2020-03-04 13:19] #22293 closed

[2020-03-04 13:20] tannergooding commented on #22609
Marking this as `up-for-grabs`. Anyone should feel empowered to pick this up and prototype the improvements detailed.

[2020-03-04 13:23] tannergooding commented on #22857
Going to close this as it hasn't garnered much attention and is at least user implementable with the new APIs for converting between the S.N.Vector and S.R.Intrinsic.Vector types.

If someone feels strongly about this, please feel free to open a new issue. Our API review process is detailed [here](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md) with a "good exampl

[2020-03-04 13:23] #22857 closed

[2020-03-04 13:29] tannergooding commented on #25622
Going to close this as unactionable.

If someone feels strongly about a particular missing API, please feel free to open a new issue. Our API review process is detailed [here](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md) with a "good example" being listed under step 1. Ideally the new issue would provide many of the sections given, but would at a minimum provid

[2020-03-04 13:29] #25622 closed

[2020-03-04 13:34] vcsjones commented on #33139
Hello, have you made sure all of the [build requirements][1] have been installed? There are a few things that need to be installed aside from Visual Studio.

Can you share the first few so that we might better understand what is not working for you? Once we figure this out we'll have a better idea of what is missing from the documentation.

[1]: https://github.com/dotnet/runtime/blob/master/docs/w

[2020-03-04 13:35] tannergooding commented on #27377
Going to close this as it hasn't garnered much attention and doesn't seem to mesh with the general look and feel of APIs exposed on .NET (these type of methods are typically static, not instance methods).
Users wanting this type of functionality could trivially add their own extension methods that call the existing static methods exposed and could provide this via a 3rd party NuGet package.

If so

[2020-03-04 13:35] #27377 closed

[2020-03-04 13:40] JuhBoy commented on #1050
I'm in the same situation with a Post build tool i'm developing. However, the previous implementation which are close to what I have done is not working.

**Context:**
My AssemblyResolver is living inside a .netstandard 2.1 lib. The lib itself is referenced by a Dotnet Core 3.1 console app. The target assembly - i'm trying to load - is a Dotnet Core 3.1 console app.

**Exception:** "Could not load

[2020-03-04 13:47] TylerBrinkley commented on #18244
I apologize for the shameless plug, but if anyone is looking for this sort of functionality currently you may want to consider my library [Genumerics](https://github.com/TylerBrinkley/Genumerics).

[2020-03-04 14:00] Tratcher commented on #33150
I had to suppress warnings like this in aspnetcore because the dll was still part of the runtime and I had no way to suppress the reference to it. Is this build using an old runtime?

[2020-03-04 14:08] ViktorHofer commented on #33150
That could be the reason. I'll check that later

[2020-03-04 14:15] tannergooding commented on #22132
Going to close this for now as there has been relatively little attention and users wanting "fast" equivalents can currently unblock themselves by utilizing the System.Runtime.Intrinsics feature.

Moving forward, I think a general purpose mechanism for allowing "fast" math optimizations might be warranted and that would be a separate design proposal.

[2020-03-04 14:15] #22132 closed

[2020-03-04 14:19] tannergooding commented on #24482
Going to close this as unactionable for right now. We can't change the existing signatures and it isn't clear that adding additional overloads will be beneficial long term.

If someone feels strongly about this, please feel free to open a new issue. Our API review process is detailed [here](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md) with a "good example" bein

[2020-03-04 14:19] #24482 closed

[2020-03-04 14:24] tannergooding commented on #24678
@aaronfranke, I'll take this to API review if you could update the original post to follow the "good example" listed under step 1 of our [API Review Process](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md. You don't strictly speaking need all the sections, but providing the rationale/usage and proposed API sections would be ideal as it helps the API review process

[2020-03-04 14:26] tannergooding commented on #25004
Going to close this as currently unactionable. The issue covers a good number of types and doesn't represent something that we could easily take to API review.

If someone feels strongly about any particular type, please feel free to open a new issue for that type. Our API review process is detailed [here](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md) with a "go

[2020-03-04 14:26] #25004 closed

[2020-03-04 14:28] tannergooding commented on #25608
@dangi12012, could you please update the original post to follow the "good example" listed under step 1 of our [API Review Process](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md)? You don't need to provide all sections, but ideally you would provide the rationale and proposed API surface sections as those help the API review process.

[2020-03-04 14:35] tannergooding commented on #25715
Going to close this as currently unactionable as it is not something we could take to API review.

If someone feels strongly about this, please feel free to open a new issue for the desired scenario. Our API review process is detailed [here](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md) with a "good example" being listed under step 1. Ideally the new issue would

[2020-03-04 14:35] #25715 closed

[2020-03-04 14:37] tannergooding commented on #25784
@TheMinefighter, could you please update the original issue to roughly follow the "good example" listed under step 1 of our [API Review Process](https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md). Not all sections are needed, but ideally you would provide the rationale and proposed API surface sections as it helps with the review process.

It would also be appreciate

[2020-03-04 14:42] tobbe303 commented on #13685
Having the same issue debugging from VSCode on MacOS 10.15.3 and dotnet core 3.1.102.

[2020-03-04 14:55] tannergooding commented on #956
I had done an initial investigation of this in https://github.com/dotnet/coreclr/pull/27483, but it was closed due to generating more complex trees and therefore missing some optimizations. This is not something that could be readily handled today.

@CarolEidt, @jkotas, @AndyAyersMS.

Unless you have any objections, I plan on closing this as unactionable until the blocking issues are addressed. Do

[2020-03-04 15:17] HASSEN-MEDDEB-ATOS commented on #33105
Hello @stephentoub ,

Still have same problem, i have changed path, i haved used Combine metod but always get error in redhat, System.IO.FileNotFoundException: Could not find file '/home\VSMP_Setting.xml'.
File name: '/home\VSMP_Setting.xml'
   at Interop.ThrowExceptionForIoErrno(ErrorInfo errorInfo, String path, Boolean isDirectory, Func`2 errorRewriter) in /_/src/System.Private.CoreLib/shared/In

[2020-03-04 15:21] stephentoub commented on #33105
There's no way you're using the code `@"/VSMP_Settings_File.xml"` and getting an exception that says `/home\VSMP_Setting.xml` :wink:.  Something is wrong either in what you've shared or in what you tried to execute.

[2020-03-04 15:21] mmitche commented on #33111
They probably also need to be deleted from the .net 5 feeds..i'm guessing.

[2020-03-04 15:24] HASSEN-MEDDEB-ATOS commented on #33105
Exactly i can't understand when i run projet in RedHat, i get error /home\VSMP_Setting.xml

[2020-03-04 15:27] ericstj commented on #33147
This issue belongs in https://github.com/dotnet/windowsdesktop but I cannot transfer it. The problem is that it isn’t getting updates from dotnet/runtime.
https://github.com/dotnet/windowsdesktop/blob/602ac1ea60b8a2639adccb959cdd659e6598fb06/eng/Versions.props#L59

@vatsan-madhavan @mmitche @dagood

[2020-03-04 15:28] HASSEN-MEDDEB-ATOS commented on #33105
![image](https://user-images.githubusercontent.com/58071802/75894904-31ccbb80-5e35-11ea-8f78-a347947dc4ef.png)

[2020-03-04 15:30] stephentoub commented on #33105
If your code says "/VSMP_Settings_File.xml", and you're getting an error about "\VSMP_Setting.xml", then the answer is likely simple: you're not executing the code you think you're executing.

[2020-03-04 15:32] filipnavara commented on #33111
@mmitche Which feed is that? I don't think these NuGets were published to any other feed, at least not a public one.

[2020-03-04 15:38] HASSEN-MEDDEB-ATOS commented on #33105
![image](https://user-images.githubusercontent.com/58071802/75895765-65f4ac00-5e36-11ea-8e67-157569fe7863.png)
![image](https://user-images.githubusercontent.com/58071802/75895895-89b7f200-5e36-11ea-918b-56e8f828b0af.png)

[2020-03-04 15:45] gfoidl commented on #33057
An attempt for better codegen for `Math.Min(double, double)` is in https://github.com/dotnet/runtime/compare/master...gfoidl:math-max-min-double

During the work I noticed that same test-cases in https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d5f227d30e723/src/libraries/System.Runtime.Extensions/tests/System/Math.cs#L1150 are missing for `double.NaN`-case (or I did just miss oth

[2020-03-04 15:47] tarekgh commented on #33149
I'll take a look

[2020-03-04 15:54] tarekgh commented on #33118
@ericstj I'll pick it up. I assume this is not super urgent as I want to flush some work items before doing that.

[2020-03-04 15:55] BrennanConroy commented on #30820
What version of the .NET Runtime are you using with your web app?

cc @pranavkm

It should already be in 5.0.

[2020-03-04 16:13] bazzilic commented on #22293
As I understand, neither Core nor .Net Framework support the `Span<byte>` constructor as of now, though?

[2020-03-04 16:14] jkotas commented on #33118
@tarekgh When do you expect to get to this - days or weeks?

This is needed to enable Xamarin workloads in .NET 5. This work is a key .NET 5 deliverable and a long pole for .NET 5 that makes anything that contributes to it somewhat urgent.

[2020-03-04 16:15] tarekgh commented on #33118
should be done next week at most if it is not earlier.

[2020-03-04 16:16] tannergooding commented on #22293
It has existed since .NET Core 2.1: <https://apisof.net/catalog/System.Numerics.BigInteger..ctor(ReadOnlySpan%3CByte%3E,Boolean,Boolean)>

[2020-03-04 16:19] tarekgh commented on #33037
This was intentional change https://github.com/dotnet/runtime/commit/0663f87e1689f7e7d04bafbe99df5286095573ca

Why need to have the standard name match the display name? the display name is intended to be used for display purposes and shouldn't assume will change or match the standard names.

@cristina-dorotan could you please clarify your scenario and why you need to have the 2 names match? Also,

[2020-03-04 16:19] tannergooding commented on #22293
.NET Framework is not getting any new APIs as per https://devblogs.microsoft.com/dotnet/net-core-is-the-future-of-net

[2020-03-04 16:29] mmitche commented on #33111
dotnet5. https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet5&package=Microsoft.NETCore.Runtime.Mono&protocolType=NuGet&version=6.11.0.265-preview

Btw, We're going to stop publishing to the dotnet-core feed soon, and the AzDO feeds will be the only feeds regularly getting new packages.

[2020-03-04 16:29] jkoritzinsky commented on #33155
This is due to my changes to the CoreCLR build. Crossgen2 needs to be run on CoreRun now. Looks like I missed a spot where we were running it via the apphost.

[2020-03-04 16:31] tarekgh commented on #33037
@cristina-dorotan I am closing this issue but feel free to respond back with any question or request and we'll be happy to assist you and reactivate if necessary.

[2020-03-04 16:34] filipnavara commented on #33111
Uh, didn't know that, thanks for the heads up. I rely on the dotnet-core feed in quite a few projects.

[2020-03-04 16:39] jeffschwMSFT commented on #33144
@karelz

[2020-03-04 16:43] mmitche commented on #33111
The dotnet5 and dotnet5-transport feeds (you probably only need dotnet5 if you're relying on shipping packages) have any of the new packages (from ~september onwards). See https://github.com/dotnet/arcade/blob/master/Documentation/CorePackages/Publishing.md#which-feeds-does-arcade-infra-publish-to

We're stopping publishing to the dotnet-core feed for a couple reasons:
- It's a 'fake' feed that ha