[2020-07-18 18:21] AlgorithmsAreCool commented on #39601
I just mean that looping to call `MoveNext()` for each byte is always going to incur more overhead than bulk operations that can read many bytes at once. For shorter streams it wouldn't matter much, but streams are typically used for for "large" data.

Ah, I see. I agree, that restricting access to a sub-section of a seekable stream is an interesting (albeit niche) use case, I now see that in your

[2020-07-18 18:23] slavanap commented on #39443
@jnm2 you dispose data while enumerating (and with IQueryable you query each half separately without loading any data from another half).

If source IEnumerable sources data from file or network, then your IEnumerable size is not constrained by RAM capacity.

While buffered IEnumerable is simpler it has its limitations, like RAM constraints.

[2020-07-18 18:34] jnm2 commented on #39443
I am not comfortable with this concept of querying each half separately by default. Especially not after the single-query discussion in EF Core (https://github.com/dotnet/efcore/issues/18022).

File and network also seem to have concurrency issues close enough to a database unless you have exclusive control. And still, how could the Partition method avoid buffering the source enumerable when it is

[2020-07-18 18:37] BruceForstall commented on #37223
After https://github.com/dotnet/runtime/pull/39335, this is back:

https://dev.azure.com/dnceng/public/_build/results?buildId=736732&view=ms.vss-test-web.build-test-results-tab&runId=22818242&resultId=173953&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

[2020-07-18 18:40] Joe4evr commented on #33360
@slavanap For code that you own, you can simply apply `[Obsolete]` with your own value for the new `DiagnosticId` property.

[2020-07-18 18:41] BruceForstall commented on #11177
This just failed in Linux arm (JitStress=2, JitStressRegs=3):

https://dev.azure.com/dnceng/public/_build/results?buildId=736732&view=ms.vss-test-web.build-test-results-tab&runId=22818246&resultId=174249&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab
[code]

@VSadov Looks like you only disabled it for arm64, not for arm32.

[2020-07-18 18:43] BruceForstall commented on #39241
Failed again:
https://dev.azure.com/dnceng/public/_build/results?buildId=736732&view=ms.vss-test-web.build-test-results-tab&runId=22818708&resultId=102444&paneView=debug

[2020-07-18 18:43] slavanap commented on #33360
What about the case when I want to restrict usage of implicit operator, code of which I do not own?

[2020-07-18 18:57] davidfowl commented on #1793
@scalablecory it occurs to me that we need a way to control pipe creation on the SocketsListenerFactory  as well. Kesterl will want to use a different pipe implementation than the default (assuming the default will be network stream based).

[2020-07-18 20:00] jeffhandley commented on #33360
Note that we are working to fully productize the `platform-compat` analyzer, to get it integrated into the .NET SDK for .NET 5.  It will use the new [`DiagnosticId` and `UrlFormat` properties on `[Obsolete]`](https://github.com/dotnet/runtime/pull/33248) and respect the new [`IsOSPlatformOrLater` and `IsOSPlatformEarlierThan` methods](https://github.com/dotnet/runtime/pull/39005).

Here's the [dra

[2020-07-18 20:42] jeffhandley opened #43484 "Consider marking net5.0 obsoleted APIs obsolete in downlevel targets for OOB packages"
Many APIs are being [obsoleted in .NET 5](https://github.com/dotnet/designs/blob/master/accepted/2020/better-obsoletion/obsoletions-in-net5.md). During the PR review for marking those obsoletions, the [question was raised](https://github.com/dotnet/runtime/pull/39269) for whether or not we should apply the obsoletions to OOB packages with downlevel targets such as netstandard2.0 and netcoreapp2.0.

[2020-07-18 22:05] AaronRobinsonMSFT commented on #39584
I don't think there is much in the way of making this faster in GCStress. Uses of the COM are slow under GCStress and uses of `dynamic` are also slow. The combination is simply an immense impact on the GCStress methodology. I am going to close for now.

[2020-07-18 22:05] #39584 closed

[2020-07-18 22:37] vcsjones opened #39603 "macOS: Cannot add to X509Store [regression from 3.1]"
I cannot seem to write to an `X509Store` in macOS. Code to reproduce:

[code]

This seems to always fail on `store.Add(cert)`. Exception:

[code]

The unit tests for this appear to be in `X509StoreMutableTests_OSX`. When I attempt to run them, all of them are skipped because the "can I write to the store?" conditional fails:

This is not an SSH session, or a VM, or anything out of the ordinary, it

[2020-07-18 23:09] tarekgh commented on #39522
@GrabYourPitchforks

I am trying to investigate the issue. I doubt Windows removed it intentionally but any way I am accessing some machine with same reported version and seeing the casing not changed here. I'll dig more to understand what could be the problem. I'll report back when having more info.

[2020-07-19 00:24] radical commented on #39449
@CincySteve Thanks, that helps. This is a known issue, and being fixed. The issue being that member references like `a.b`, `a.b.c`, don't work. So, just `a` would work, or `this.a`.
As for all those property getters, there is a PR up for that already - https://github.com/mono/mono/pull/20045 .

[2020-07-19 02:24] wfurt commented on #39475
~12 failures in last few days - mix of CI & PRs.

[2020-07-19 04:19] yyjdelete commented on #39442
@HASSEN-MEDDEB-ATOS
Maybe an mistake and not sure if it's related, the url contains an addition `&` in C#: `.../contracts/?&startDate=...` in C# but `.../contracts/?startDate=...` in bash.

[2020-07-19 05:12] JoshSchreuder commented on #31127
Updated PR with the new Obsoletion stuff, and removed the `EditorBrowsable` attribute, thanks all!

[2020-07-19 06:09] jkotas opened #39604 "AF: GetOptimizationTier() == NativeCodeVersion::OptimizationTier0"
Repro:

1. Build checked coreclr
2. Unzip
[repro.zip](https://github.com/dotnet/runtime/files/4943309/repro.zip) to `artifacts\bin\coreclr\Windows_NT.x64.Checked`
3. Run `runme.bat`

Result:
[code]

[2020-07-19 06:12] jkotas commented on #39604
The problem is that JIT lock does not guarantee that the method is JITed exactly once. The method can be JITed multiple times in some situations to break deadlocks. My repro is single threaded, there are also multithreaded versions of the same problem possible. I believe https://github.com/dotnet/runtime/pull/39082 is blocked on the multithreaded version of this problem.

[2020-07-19 06:12] jkotas commented on #39604
@kouvel Could you please take a look?

[2020-07-19 06:17] kouvel commented on #39604
Will take a look

[2020-07-19 06:37] CyrusNajmabadi commented on #39601
Can you explain how your impl of these methods would work:

[code]

I'm not really getting how this would work given arbitrary underlying implementations you can't control. Thanks!

[2020-07-19 06:39] juliusfriedman commented on #39601
I don't see how, But I will attempt to explain none the less, these would use the `ReadOnlyStream` and `WriteOnlyStream` right?

What is it exactly your asking...

[2020-07-19 06:44] Clockwork-Muse commented on #39443
@jnm - Well, a custom one for a file could potentially have two file pointers, which would allow you to avoid buffering.

That said, I would regard any `IQueryable` that performed two queries for something like this to be unsafe.  I would far rather either branch in the `foreach` (or do something like one of the workarounds to generate it), or realize the list as part of the partition.  If the lis

[2020-07-19 07:32] juliusfriedman opened #39605 "Like Tiering, Levels of Verification And Safety"
## Background and impetus

Consider `-Xverify:none`  from java...

Consider this code which is valid on Mono 5 but not the clr

[code]

With just some small modification similar code runs on .net core:

[code]

I propose we offer levels of verification such that we can even have the options to completely turn off anything such as but not limited to:
gc (-nogc)
exception handling (-noexcept)
memory

[2020-07-19 07:33] juliusfriedman commented on #39605
cc @danmosemsft @jkotas @GrabYourPitchforks

[2020-07-19 09:26] 1426781227 commented on #38069
时刻关注着，dotnet发展！一起进入新的元年！

[2020-07-19 09:40] Wraith2 commented on #39605
I want anyone doing any of this sort of thing to think very very hard indeed.

[2020-07-19 11:39] ststeiger opened #39606 "Litany of bugs with ICustomMarshaler"
Consider this pinvoke call
[code]

Here we use an ICustomMarshaler to marshal string to char*, because netstandard 2 doesn't support `MarshalAs(System.Runtime.InteropServices.UnmanagedType.LPUTF8Str)`.
So inside the ICustomMarshaler, we allocate const char *pathname as nonconst char* pathname

[code]

Which works fine, just until ICustomMarshaler cleans up the native data.

[code]

Now, the syscal

[2020-07-19 12:23] KalleOlaviNiemitalo commented on #39605
Can you use [Zero Garbage Collector](<http://tooslowexception.com/zero-garbage-collector-for-net-core-2-1-and-asp-net-core-2-1/> "Zero Garbage Collector for .NET Core 2.1 and ASP.NET Core 2.1 – TooSlowException")?

So if any exception is thrown, then the CLR immediately terminates the process without looking for handlers?

Is this for BIOS code that cannot use any RAM until it has configured the c

[2020-07-19 14:35] vcsjones commented on #39605
Java is trying to remove this, and deprecated it in Java 13, I don't think .NET should add something similar for the same reasons Java is trying to prevent it from being used.

Can you elaborate on this?

Hand rails should make finding bugs easier, not harder. All too often when you are intentionally not using gaurs rails, folks end up doing things that are very hard to track down, like a use-afte

[2020-07-19 15:07] juliusfriedman commented on #39605
Yes, you can more quickly find weather you have problems of scale or resources such that if you know your code is already not buggy, you can turn off some switches and the program should get faster and run the same, if it crashes (you might not get a stack trace without the right switches) then you know your probably doing something wrong.

[2020-07-19 15:23] juliusfriedman commented on #39605
Should I have to?

Basically many also an option to hookup a single handler like `OnUnhandledException` in such cases then terminate.

...

Potentially both, if I am using stackalloc an unsafe and I know my stack size then I shouldn't need any arrays but definitely in less extreme cases all the bounds checking.

Then I would need to use arrays.

What about their stack size, thread quantums etc?

[2020-07-19 15:38] john-h-k commented on #39432
why not just `MemoryMarshal.Read<T>` and shift the outputted bits (as that is probably the most efficient way anyway)?

[2020-07-19 15:54] FiniteReality commented on #39432
Most of the values in MPEG streams are actually aligned to some useful position: each set of related values is packed into a single byte, so you can easily use masking and shifting to read them. Looking at the documentation on wikipedia, I can do this:

[code]

[2020-07-19 16:03] juliusfriedman commented on #39432
Endian and BitOrder are seperate things and not all bits are contiguous...

[2020-07-19 16:04] juliusfriedman commented on #39432
The point is that this can give a more general API, see some of the RFC's for accessing things like [AAC Audio headers ](https://tools.ietf.org/html/rfc6416)

[2020-07-19 16:10] FiniteReality commented on #39432
The same applies to RTP streams - most related values are bitpacked into a single byte, and then you read the stream using masking and shifting on single bytes.

As for "AAC audio headers", I believe the RFC you linked is not the correct one, since that RFC only goes over the RTP stream header for MPEG-4 streams. RTP is designed so that the payload of a packet is opaque, meaning that the RTP layer

[2020-07-19 16:11] juliusfriedman commented on #39432
Sorry try this:

https://github.com/juliusfriedman/net7mma_core/blob/fd895adbce2f4776eee5695431c7b35eb9c1be78/RtspServer/MediaTypes/RFC3640Media.cs#L106

[2020-07-19 16:18] jkotas commented on #39605
[`ilverify`](https://github.com/dotnet/runtime/tree/master/src/coreclr/src/tools/ILVerify) is the tool for tracing down bad IL. It works very nicely for your example:

C:\repro>dotnet ilverify x.exe -r "c:\Program Files\dotnet\shared\Microsoft.NETCore.App\3.1.3\*.dll"
[IL]: Error [UnsatisfiedMethodInst]: [C:\repro\x.exe : .<Module>::Main()][offset 0x00000006][found [Hello]<Module>.M<Test>()] Metho

[2020-07-19 16:23] FiniteReality commented on #39432
I'm going to be honest, the bit shifting one looks more correct and better looking. And it also has the better performance potential, since it's `O(1)` rather than what looks like at least `O(N)`. Shifts and masks can be confirmed and checked just by looking over the code with more than one set of eyes, while your other code is pretty hard to skim through; especially since you're not saying clearl

[2020-07-19 16:27] juliusfriedman commented on #39432
I am not sure what you mean, just because my current impl is not optimized does not it cannot be done, see R2R ReadBits linked above, it uses shifts and masks that it computes so why not share this logic every similar to Hex conversion? What makes it cleaner to do this manually?

[2020-07-19 16:28] GrabYourPitchforks commented on #39605
That said, IL can represent things like "please deref this element from the array with no bounds check." I'd personally like it if there were a nicer syntax for this that didn't involve three levels of nested `Unsafe` statements. You'd still want the call site to make it perfectly clear that the checks are being disabled. While not having to scroll the IDE left and right to fit the entire line on

[2020-07-19 16:28] juliusfriedman commented on #39605
My only response would be why offer Unsafe and the verification around memory checking at all then?

Thank you for your time and consideration!

[2020-07-19 16:39] GrabYourPitchforks commented on #39605
Those are opt-in at the individual call sites. They don't affect program-wide execution. Even SkipLocalsInit applies only to the library where it's annotated, not the entire app.

The runtime needs to allow the ability for high performance or interop code to be written, and that involves allowing the code author to make the conscientious decision to _selectively_ disable certain checks. Doing this

[2020-07-19 16:41] FiniteReality commented on #39432
Could you link that as a gist, please? It's hard to browse through code in issue comments unless it's short snippets. However, from what I can see, it's much harder to understand *where* each bit is going, which is important when you're doing bit packing.

Compare:
[code]
It's hard to actually know what `0`, `4`, and `2` actually mean, so you'd end up documenting them:
[code]
And even then, the ar

[2020-07-19 16:44] juliusfriedman commented on #39432
I didn't realize we measure performance with typed characters, and you named every single parameter... I think the example you give is a bit contrived. Thank you for your input.

[2020-07-19 16:46] juliusfriedman commented on #39605
There is no reason the same things could not be turned on or off at call sites as well although I will admit that is getting to add quite a bit of metadata and checks to things, perhaps though it's worth it especially as the JIT eventually moves to C#.

[2020-07-19 16:55] FiniteReality commented on #39432
Performance is hard to improve if the code is unreadable. The easier to read and understand you can make things, the easier it is to focus on the algorithm at work and actually writing the high performance code.

I don't think my scenario is too contrived, and I named the parameters because `WriteBits(myPackedValue, myByte, 2, 0, 4)` is a bit vague when you look at it. If I've been away from the c

[2020-07-19 17:43] CyrusNajmabadi commented on #39601
Could you give a small sketch on how this would work?  Thanks!

[2020-07-19 19:19] juliusfriedman commented on #39601
Sorry for my delayed response, I will do more than give a sketch, I make make a fork of the repo and add the implementation and well as some unit tests if that would be easier?

There are a lot of ways and of lot of potential things you would be able to expose e.g. this entire added API set would also all be able to live in `System.IO.Concurrent` I will make a prototype implementation if that is w

[2020-07-19 19:21] KirillOsenkov commented on #39233
I've tried wrapping the GZipStream in a BufferedStream, but against expectations it didn't change the picture much at all. There must be some real regression in the native ZLib library.

For easier investigations we should take the binlogs and the BinLogReader out of the picture and just write a simple console app that uses ReadByte() to scan a large gzip stream (~30MB compressed). I'm sure we'll

[2020-07-19 19:23] Wraith2 commented on #39233
A repro with direct code rather than using a library would make things easier to track down. The use of the channel for events also complicates the traces a lot because you see a lot of waiting. I suspect you'll see this behaviour anytime you read individual bytes from the netcore stream.

[2020-07-19 19:27] alefranz commented on #34742
Hi @maryamariyan, I've played with this and it is super great!
I hope you don't mind if I jump into this conversation with some personal observations, but I believe this aspects haven't been discussed yet.

I personally think that it is quite common to need the json to conform to a particular format (e.g. to meet the requirement of a 3rd party tool to ingest the logs or to be compatible with logs

[2020-07-19 20:41] Clockwork-Muse commented on #39605
... this sounds suspicious.  Like, if array bounds checks are making the difference, that should show up in a regular profiler.  That's ignoring something like the JIT eliding bounds checking, which it does already.  Toggling this sort of flag is not the first thing I'd try.

[2020-07-19 20:59] davidfowl commented on #34742
We should do this for all console loggers not just JSON (maybe that's a breaking change but it seems small). Anyways I'm not opposed to that change but it's unrelated to JSON formatting.

That seems like a bug.

KeyValuePair isn't understood by any of the loggers, the contract is `IReadOnlyCollection<KeyValuePair<string, object>>`, I don't think that should be part of this change.

[2020-07-19 21:02] JamesNK opened #39608 "HTTP2: Hang when concurrent calls with cancellation"
### Description

Grpc.Net.Client (which uses HttpClient internally) is hanging when there are 20 concurrent calls with cancellation happening in a loop.

Repo: [repos.zip](https://github.com/dotnet/runtime/files/4944674/repos.zip)

1. Extract to directory
2. dotnet run -p GrpcService28
3. dotnet run -p ConsoleApp50
4. ConsoleApp will throw timeout exceptions after a few hundred/thousand iterations

[2020-07-19 21:04] SingleAccretion commented on #39605
If you make something easier (and a CLI switch is really easy compared to a custom IL rewriter), you implicitly signal that it should be more widely used (and it will be widely used, I am sure you can already see people "speeding up" their apps by using "this magic switch Microsoft won't tell you about"), which, I am sure you'll agree, is not a good thing for such a fundamental security thing like

[2020-07-19 21:17] mrj001 commented on #34612
@ViktorHofer
[code]
now successfully restores the projects prior to opening Visual Studio.  However, in Visual Studio, one still gets the following when building:

which, as I recall, is the Nuget bug referenced above.

Also a "dotnet restore System.Private.Xml" from the command line was successful.

[2020-07-19 22:15] Xalcon opened #39609 "AssemblyLoadContext.Unload() not closing assembly file handle in .Net 5.0 Preview 6"
### Description

I'm currently testing the .Net 5.0 Preview 6 with some code that was written for .Net Core 3.1, specifically the AssemblyLoadContext's unloading capabilities.
Unloading assemblies does seem to work in 5.0, but the runtime does not close the file handle - the same code works fine in .net core 3.1.5. A minimal example project can be found here: https://github.com/Xalcon/DotNet5Assem

[2020-07-19 22:42] Jetski5822 commented on #38629
I think I am seeing this in .netcore 3.1.5, is there any chance of getting this fix backported?

[2020-07-19 23:06] BreyerW opened #39610 "Questions about kasiabulat writable jsondom"
I was scanning kasiabulat effort [writable jsondom](https://github.com/kasiabulat/corefx/tree/kasiabulat/writable-json-dom-refactor/src/System.Text.Json/src/System/Text/Json/Node)

And it seems almost done except it doesnt support latest features like preserve reference but thats a given considering they are very recent additions and maybe some bits are slighty incomplete

What prevented shipping

[2020-07-19 23:15] BreyerW commented on #39610
@333fred  oh right sorry i had opened runtime and csharplang in browser side by side and didnt notice this slip up xD

[2020-07-19 23:30] AlekseyTs opened #39612 "It looks like runtime verifies variance safety for static members in interfaces and throws System.TypeLoadException"
Below is IL equivalent to the following C# code:
[code]

The IL:
[code]

An attempt to run it produces the following output:
[code]

Expected output:
[code]

This is blocking implementation of the following C# feature: https://github.com/dotnet/csharplang/blob/master/proposals/variance-safety-for-static-interface-members.md

[2020-07-19 23:30] AlekseyTs commented on #39612
CC @davidwrighton

[2020-07-20 01:11] vsfeedback opened #39613 ".NET 5.0 Preview 6.20318.15 (X64) Not Handling CultureInfo/RegionInfo Correctly"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1093484/net-50-preview-62031815-x64-not-handling-culturein.html)._

---
I have the following code in a static 'gazeteer' function that loads country names, time zone id's, etc:

[code]
It worked fine until just now when I installed the SDK 5.0 preview noted in the title.
No

[2020-07-20 01:18] tarekgh commented on #39613
It is not right to use `CultureInfo.LCID` property. It is kind of deprecated property. It is recommended to use `CultureInfo.Name` instead. OS's introduced a lot of cultures which not having a valid LCID and get assigned LCID 0x1000. You'll find many cultures has same LCID. this LCID cannot be used to create RegionInfo or CultureInfo.

[2020-07-20 01:18] #39613 closed

[2020-07-20 01:32] sidney-pauly opened #39614 "Linq Expression.TypeIs produces an InvalidProgramException when using open generics"
### Description
If the type provided in Expression.TypeIs is an open generic, compiling a lambda with that expression produces an InvalidProgramException  ("Common Language Runtime detected an invalid program").

### Minimal example
[code]
### Explenation
As mentioned in the code, the open generic gets directly used as the right side for the "is" operator, which produces a compiler error. In the c

[2020-07-20 02:04] v-haren opened #39615 "Test failure: System.NullReferenceException : Object reference not set to an instance of an object."
failed in job: [runtime 20200718.40 ](https://dev.azure.com/dnceng/public/_build/results?buildId=737083&view=ms.vss-test-web.build-test-results-tab&runId=22828620&resultId=122456&paneView=debug)

failed tests:
System.Text.Json.Tests.Utf8JsonReaderTests.InvalidJsonWhenPartial
System.Xml.Tests.TCGetExpectedParticles.CallForExtendedSequence_Before_After_ValidatingSeqOrAllBaseElements

Error message
[

[2020-07-20 02:08] terrajobst opened #39616 "Analyzer should flag unintentional shadowing of fields when using `out`"
I just spend ten minutes debugging the following code:

[code]

Of course, instead of assigning to the field, the expression created a local variable `_filter` and threw it away.

In order to reduce noise, the analyzer should only flag hiding of fields if the naming convention for fields and locals differ (editor.config can answer that). This drastically increases the likelihood that the developer

[2020-07-20 02:14] v-haren commented on #36195
also failed in job: [runtime-coreclr gcstress0x3-gcstress0xc 20200719.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=737239&view=ms.vss-test-web.build-test-results-tab&runId=22831294&resultId=100009&paneView=debug)

failed test: profiler/eventpipe/eventpipe/eventpipe.sh

Error message
[code]

[2020-07-20 02:24] v-haren opened #39617 "Test failure: Consistency check failed: AV in clr at this callstack:"
failed in job: [runtime-coreclr gcstress0x3-gcstress0xc 20200719.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=737239&view=ms.vss-test-web.build-test-results-tab&runId=22831338&resultId=104684&paneView=debug)

failed tests:
profiler\\unittest\\getappdomainstaticaddress\\getappdomainstaticaddress.cmd
JIT\\opt\\AssertionPropagation\\ArrBoundBinaryOp\\ArrBoundBinaryOp.cmd
Interop\\PI

[2020-07-20 02:35] tarekgh commented on #39522
@Gnbrkm41 I am not able to repro it so far. I have tried on 2 machines with different architecture. could you please create a stand alone dotnet app and run the following code:

[code]

and the project:

[code]

on my machine I am getting the output:

[code]

[2020-07-20 02:35] v-haren opened #39618 "Test failure: JIT/HardwareIntrinsics/Arm/ArmBase.Arm64/ArmBase.Arm64_ro/ArmBase.Arm64_ro.sh"
failed in job: [runtime-coreclr jitstress-isas-arm 20200718.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=736979&view=ms.vss-test-web.build-test-results-tab&runId=22826408&resultId=108736&paneView=debug)

failed tests:
JIT/HardwareIntrinsics/Arm/ArmBase.Arm64/ArmBase.Arm64_ro/ArmBase.Arm64_ro.sh
JIT/HardwareIntrinsics/Arm/ArmBase/ArmBase_ro/ArmBase_ro.sh
JIT/HardwareIntrinsics/Arm

[2020-07-20 04:44] mavasani commented on #39616
Also tagging @CyrusNajmabadi. Cyrus, I thought you implemented something similar in Roslyn as an IDE analyzer or refactoring? If not, this sounds like a reasonable analyzer to add.

[2020-07-20 04:57] v-haren opened #39619 "Test failure: System.Net.Tests.HttpWebRequestTest_Sync.GetResponseAsync_ParametersAreNotCachable_CreateNewClient"
failed in job: [runtime-coreclr libraries-jitstress2-jitstressregs 20200718.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=736792&view=ms.vss-test-web.build-test-results-tab&runId=22820312&resultId=156897&paneView=debug)

Error message
[code]

[2020-07-20 05:08] scalablecory commented on #1793
The default is not network stream based, but does lack some of the Kestrel-specific features (scheduler, throwing certain exceptions).

[2020-07-20 05:11] davidfowl commented on #1793
Right, that's a fine default but we'd like to override it. I think that should be possible or we'll need to write a custom transport which wouldn't be as ideal.

[2020-07-20 05:17] m10k commented on #2129
@ericstj we have already built and released a runtime together with the release of Asianux Server 8, and we intend to release updates on a regular basis. As of now, we are applying Asianux-specific patches on top of the upstream source during the RPM build process, but the patches are somewhat awkward since we needed to work around the problem of Asianux being unknown to the bootstrap cli that is

[2020-07-20 06:09] CoffeeFlux commented on #38826
This failure is somewhat interesting, and likely a true interpreter bug. I tried last week to come up with a standalone repro and failed, but for a summary of what's happening:

On the line in question (below), we call `LoadLibraryAdvanced`. In that, we call `NativeLibrary.Load` from inside another function `Run` that is intended to catch a variety of exceptions, including `DllNotFoundException` (

[2020-07-20 06:15] yyjdelete opened #39620 "Strange logic in System.Data.ProviderBase.DbMetaDataFactory.FindMetaDataCollectionRow()"
### Description
https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/Common/src/System/Data/ProviderBase/DbMetaDataFactory.cs#L225-L314

Seems the code here want to do an case-sensitive match first, and fallback to an case-insensitive match, and throw if get more than one matches(in case-sensitive or case-insensitive).
But if it first hit an case-sensitive

[2020-07-20 06:30] Gnbrkm41 commented on #39522
I get the following output with the code:
[code]

However, I did miss out something when writing the initial issue, that this only seems to happen for the test case when nothing is specified for the culture name (I figured that copying the rows from the test explorer would also copy the details about the data, turns out it doesn't):
![image](https://user-images.githubusercontent.com/42944058/87906

[2020-07-20 06:40] Gnbrkm41 commented on #39593
Just in case it wasn't clear: This happens before the test is run. It looks like the test runner likely attempts to build the library/tests when I ask for it to run the tests, and the error happens during the build phase. This results in a build failure and thus the tests are not run.

[2020-07-20 06:46] CoffeeFlux commented on #37489
The real problem here is with `Type.GetElementType()`. Repro is as follows:

[code]

CoreCLR output:
[code]

Mono output:
[code]

This causes the infinite recursion because our `ContainsGenericParameters` implementation includes the following lines:
[code]

[2020-07-20 06:47] CoffeeFlux commented on #31713
This can't be re-enabled yet, held up by https://github.com/dotnet/runtime/issues/37489

[2020-07-20 06:54] ClementeGao opened #39634 "get datas from odbc with impala faild, can you tell me how to do ?"
i use the System.Data.Odbc

Jul 20 14:16:38.114 ERROR 20928 Connection::SQLGetInfoW: [Cloudera][ODBC] (11180) SQLGetInfo property not found: 10025
Jul 20 14:16:38.547 ERROR 20928 Connection::SQLGetInfoW: [Cloudera][ODBC] (11180) SQLGetInfo property not found: 1750
Jul 20 14:16:38.568 ERROR 20928 Statement::SQLSetStmtAttrW: [Cloudera][ODBC] (10210) Attribute identifier invalid or not supported: 122

[2020-07-20 06:55] KalleOlaviNiemitalo commented on #39605
An application could define its own `static ref T UnsafeElementRef<T>(this T[], int index)` with code similar to your comment <https://github.com/dotnet/runtime/issues/29003#issuecomment-474164060> and then each element access would syntactically be just one call. I have not tested how well that would get inlined, though.

I could also imagine a C# syntax for omitting the bounds check:

[code]

bu

[2020-07-20 07:01] CoffeeFlux commented on #38826
@danmosemsft can you turn off notifications for Bernhard? See https://github.com/mono/mono/pull/19895

[2020-07-20 07:59] #39445 closed

[2020-07-20 08:03] Evangelink opened #39622 "Extend the AttributeUsageAttribute to specify access type (instance, static)"
## Background and Motivation

Working toward improving the quality of the results for analyzer rule `CA1822` we have noticed that there are a lot of feedback for cases where such or such attribute set on the method/property prevents the member to be made static.  Going on the path of excluding all members marked with an attribute seems rather brutal and may prevent the detection of some true cases

[2020-07-20 08:07] Evangelink commented on #39622
I am not sure who's the right person to tag looking at the area owners, tagging @joperezr which seems to be the closest (sorry if I am wrong).

[2020-07-20 08:11] vitek-karas commented on #39609
@janvorli I was able to repro this locally (exactly as described above, just make sure you switch to the output as your current directory when running the app). It does look like a regression in 5.0. As far as I can tell the app itself doesn't do anything clearly wrong - and the ALC does get unloaded (at least from the outside it looks like it).

[2020-07-20 08:41] KalleOlaviNiemitalo opened #39624 "HashCode.GetHashCode and HashCode.Equals lack ObsoleteAttribute in Microsoft.Bcl.HashCode reference assembly"
### Description

In System.HashCode, the GetHashCode() and Equals(object) methods always throw NotSupportedException, and they have ObsoleteAttribute and EditorBrowsableAttribute to discourage their use. However, in the Microsoft.Bcl.HashCode 1.1.0 NuGet package, the methods in the reference assembly do not have these attributes, so the compiler does not warn if they are used.

### To reproduce

H

[2020-07-20 08:56] vitek-karas commented on #39167
I think this issue/question has been answered. The one remaining question is tracked separately in https://github.com/dotnet/runtime/issues/39587.

[2020-07-20 08:56] #39167 closed

[2020-07-20 08:57] Jessie-Zhang01 opened #39875 "FileSystemWatcher is missing Description Attribute"
* .NET Core Version:
.Net SDK 5.0.100-rc.1.20367.2

* Have you experienced this same bug with .NET Framework?:
No

**More Info**

1. All events of BackgroundWorker and FileSystemWatcher has no functional description.
2. BackgroundWorker's "Misc" item name is different from framework.
![image](https://user-images.githubusercontent.com/45864649/87918993-bef17380-caa9-11ea-9cc9-7203579a3156.png)

**M

[2020-07-20 09:06] otto-gebb opened #39911 "WebApplicationFactory.Dispose() deadlocks under xUnit"
Sometimes xUnit tests using a `WebApplicationFactory` hang trying to dispose it.

The call stack of the hanging thread:

[code]

For me it was happening on a Linux build agent.
For some reason could not reproduce on a Windows machine.

If we look at `Microsoft.AspNetCore.Hosting.WebHost.Dispose()` we see that it's doing sync-over-async:

https://github.com/dotnet/aspnetcore/blob/4b3fcaf7695a56ffa8

[2020-07-20 09:25] vitek-karas commented on #37132
The second failure makes no sense to me:
It's failing because the `this.loadsToTrack` is `null` here: https://github.com/dotnet/runtime/blob/9a5ef961b9e6ef6fa3d88741189c96cc8c09e48d/src/tests/Loader/binding/tracing/BinderEventListener.cs#L361

But that variable is initialized to the `.ctor` argument in the `.ctor` here: https://github.com/dotnet/runtime/blob/9a5ef961b9e6ef6fa3d88741189c96cc8c09e48

[2020-07-20 09:34] rseanhall commented on #39587
This may not be supported, but if you call `hostfxr_initialize_for_runtime_config` or `hostfxr_initialize_for_dotnet_command_line` then that is enough to get `AssemblyDependencyResolver` to work. You can then load the runtime through Mscoree.h as you did before. This is assuming that you're loading the runtime from the same directory that `hostfxr` was going to load it from.

[2020-07-20 09:41] #39361 closed

[2020-07-20 10:03] ManickaP opened #39625 "Simplify MailAddressDisplayNameTest"
Follow up of https://github.com/dotnet/runtime/pull/37874
Many of the tests in [MailAddressDisplayNameTest.cs](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Mail/tests/Unit/MailAddressTests/MailAddressDisplayNameTest.cs) are duplicates of the same test, only with different inputs.
--> Change the tests from `[Fact]` to `[Theory]` and parametrize them with `[MemberData]`.

S

[2020-07-20 10:21] roji commented on #39620
I agree this seems like a bug... @ajcvickers?

[2020-07-20 10:50] sywhang commented on #39339
Hi @Roe92 ,

I tried to repro this issue using the following app:
[code]

This produces the following output on both .NET Core 3.1 and .NET 5:
[code]
which looks like it is doing the correct thing - it prints events up to verbose event when only when it is enabled at verbose level, and only the critical event when it is enabled with `EventLevel.Critical`, both before/after disabling it at verbose

[2020-07-20 11:02] clamp03 commented on #38981
Thank you all. I checked all works well except ARM32 disassemble.

Could you please answer remained questions?

[2020-07-20 11:31] jskeet commented on #34742
Oops - I hadn't realized that preview 8 isn't actually out yet. I'll wait until there's a preview I can install a little more simply than building it from source, but I'll try to jump on it promptly at that point.

[2020-07-20 12:25] MichalStrehovsky commented on #39606
was part of the interface

It cannot be part of the interface because the method must be static - this is how the runtime gets an instance in the first place. Interface methods can only be invoked once there is an instance.

`LPUTF8Str` is just an enum constant. I think it should be possible to whack a `MarshalAs((UnmanagedType)48)` and it's going to work. The reason why it's not in netstandard 2.

[2020-07-20 12:46] ericpincus opened #39627 "GetFromJsonAsync(HttpClient, String, Type, CancellationToken) Losing Track of its Type"
Using GetFromJsonAsync(HttpClient, String, Type, CancellationToken) via Blazor hosted WebAssembly (Version 16.7.0 Preview 4.0 and WebAssembly v5.0.0-preview.6.20312.15.

I don't want to use the `GetFromJsonAsync<TValue>(HttpClient, String, CancellationToken)` because I specifically don't want to make any explicit casts. The following only works successfully with the explicit cast, it won't return

[2020-07-20 13:45] akoeplinger commented on #39593
@Gnbrkm41 You can't build the Browser/WebAssembly runtime pieces on Windows right now, you'd need to do that on Linux or Mac. That also means running the System.Runtime.InteropServices.JavaScript assembly tests from inside VS on Windows won't work.

There seems to be something wrong with the project reference, I'll take a look

[2020-07-20 13:49] akoeplinger commented on #39593
@Gnbrkm41 would you mind checking whether this change fixes it:

[code]

[2020-07-20 13:51] davidfowl commented on #34742
@jskeet you don't need to wait, in fact:

https://github.com/dotnet/installer#installers-and-binaries

Add the dotnet5 nuget feed. Then add the package:

[code]

[2020-07-20 13:55] gtbuchanan commented on #728
To add another use case for controlling serialization order, [Safe Exam Browser](https://safeexambrowser.org) requires generating a sorted JSON object for their [Config Key](https://safeexambrowser.org/developer/seb-config-key.html) algorithm since it involves comparing hashes.

[2020-07-20 13:57] jskeet commented on #34742
@davidfowl: Thanks for that. I assume that means using the absolute latest installer? Happy to do so, given how stable .NET Core has been for uninstalling things, just thought I'd check. (I'm assuming trying to use the preview 8 ASP.NET Core bits against the preview 7 .NET Core Runtime would be a bad idea...)

[2020-07-20 13:57] #39279 closed

[2020-07-20 13:59] davidfowl commented on #34742
@jskeet you don't need to install anything, you can just add the feed and a reference to the package and it should work like magic. I'm trying it out right now on an ASP.NET Core 3.1 application 😄

[2020-07-20 14:01] jskeet commented on #34742
Aha! In that case, that makes it a slam dunk to try *today*. Thanks for clarifying!

[2020-07-20 14:01] Gnbrkm41 commented on #39593
That results in a different kind of compilation failure, where it fails to find the `System.Runtime.InteropServices.JavaScript` namespace while trying to build `src\libraries\System.Net.Http\src\System\Net\Http\BrowserHttpHandler\BrowserHttpHandler.cs`.

[2020-07-20 14:11] vcsjones commented on #39603
Some other background on this, removing from the keychain does work, so it seems not related to the keychain being locked or in an inconsistent state. I did note that Big Sur is getting changes to how importing certificates _as root_ is handled, but saw nothing describing this exact use case.

Other thing to note: I can't reproduce this in netcoreapp3.1. I wonder if this has anything to do with ho

[2020-07-20 14:24] akoeplinger commented on #39593
This should fix the issue: https://github.com/dotnet/runtime/pull/39629

[2020-07-20 14:31] precision-sean commented on #715
Thank you, @HongGit, for the milestone confirmation.

[2020-07-20 14:42] maryamariyan commented on #34742
Issue https://github.com/dotnet/runtime/issues/33598 is tracking the ask to make PooledByteBufferWriter public.

[2020-07-20 14:46] jaymin93 commented on #39625
should i do pr for that since i added test i am aware of test case and usage i think i can take this one and make it as expected

[2020-07-20 15:02] mtaylorfsmb opened #39630 "System.Text.Json should honor fields that are already initialized during deserialization"
I couldn't find this written up anywhere in here so if it is a dup then feel free to close this one.

As documented System.Text.Json always creates a new object and assigns it to the public settable fields. This is different than Json.NET and introduces problems that may not be easily solvable. Here is a simple example.

[code]

The `Template` class is used in a REST API wrapper around a third par

[2020-07-20 15:04] vitek-karas commented on #39598
The other native binaries from libraries regressed in similar fashion:

| | netcoreapp3.1 (KB) | net5.0 (KB) |
| --- | --- | --- |
| libSystem.Security.Cryptography.Native.so | 115 | 160 |
| libSystem.Net.Security.Native.so | 15 | 19 |
| libSystem.Native.so | 64 | 93 |
| libSystem.IO.Compression.Native.so | 771 | 900 |
| **Total** | **965** | **1172** |

That's 207KB / 21% regression.

[2020-07-20 15:11] trylek commented on #13388
@mangod9 - I think we should move this issue to .NET 6 as to my knowledge .NET 5 isn't expected to ship support for Managed C++.

[2020-07-20 15:15] tommcdon commented on #39412
@jeffhandley I assume #39269 resolved this issue, if so is it OK to close this issue?

[2020-07-20 15:28] planogramsinc commented on #39613
This property should be marked as deprecated in the online docs.  Currently it is not.

[2020-07-20 15:31] maryamariyan opened #39631 "Add new overloads for AddSystemdConsole and AddJsonConsole not needing configure argument"
## Background and Motivation

Recently added new APIs for logging in console using formatters (AddJsonConsole, AddSystemdConsole, and AddSimpleConsole).

As it is going through feedback in preview8. Here are the tweak suggestions:

## Proposed API

- [ ] Introducing two new overloads below without configure arguments

[code]

- Note: Not adding an overload for AddSimpleConsole because it would beh

[2020-07-20 15:40] ManickaP commented on #39625
I'd first focus on finishing https://github.com/dotnet/runtime/pull/37874. After that, you can tackle this one if you wish.

[2020-07-20 15:45] AaronRobinsonMSFT commented on #36659
@marek-safar @jkotas @eerhardt Thoughts on putting this under `RuntimeFeatures.IsComSupported` for the public version? This would be how I would add the public API and I can put out an API review and PR shortly. For an internal version creating an `internal static bool Marshal.IsComSupported` seems the most appropriate. If we need this public I would prefer to put this in the "canonical" place for

[2020-07-20 15:56] eerhardt commented on #36659
I'm not convinced this is a "must have" for 5.0. The target scenario for 5.0 is to enable Blazor WASM applications, which use the Mono runtime. In those apps, the COM support is completely stripped (except for the Microsoft.CSharp case, which Blazor apps don't use by default). So either way I don't think this is something we need to address in 5.0.

As for the question "Should this bool be public

[2020-07-20 15:59] jeffhandley commented on #39412
#39269 didn't resolve it; I worked around it there. The potentially unused constant is still in place. I was tempted to remove it from the code I was touching but filed this issue instead since it's referred to elsewhere too.

If the constant is truly unused in all builds, it would help to remove references to it.

[2020-07-20 16:11] jkotas commented on #36659
The "canonical" place for feature support properties is the "main" type for the feature, so `Marshal.IsSupported` sounds appropriate.  `System.Runtime.CompilerServices.RuntimeFeature` is only for core runtime features that are not exposed as public APIs.

[2020-07-20 16:11] eerhardt commented on #37356
Closing as this was fixed. See @wtgodbe's response above for how to get the fix.

[2020-07-20 16:11] #37356 closed

[2020-07-20 16:16] vargaz commented on #38573
This is fixed now by 4647328f7699a11b39297883791fcf7056906e9e.

[2020-07-20 16:16] #38573 closed

[2020-07-20 16:19] dagood commented on #2129
You might be interested in https://github.com/dotnet/source-build, where we add the current machine's RID to the graph during the build rather than as a Git patch. That repository is intended for distro package maintainers, so it has tooling to bootstrap and use previously-built assets for the next time (if re-bootstrapping is not acceptable in your distro). Feel free to file issues or chat on Git

[2020-07-20 16:19] AaronRobinsonMSFT commented on #36659
Great question. For pre-.NET 5.0 they could fallback to some user generated approach (e.g. [SharpGenTools](https://github.com/SharpGenTools/SharpGenTools)). For .NET 5.0, [with some work on our side](https://github.com/dotnet/runtime/issues/36582), they could leverage the ComWrappers approach again with some external tooling  (e.g. [SharpGenTools](https://github.com/SharpGenTools/SharpGenTools)).

[2020-07-20 16:21] steveharter opened #39632 "Support AggressiveInlining in mono interpreter?"
The mono interpreter does not support `[MethodImpl(MethodImplOptions.AggressiveInlining)]` and appears to only inline leaf methods that do not have conditionals. This was determined by logging the interpreter calls and discussion with @BrzVlad.

Some data and examples are shown below.

However, supporting inlining is not expected to significantly affect performance for the System.Text.Json scenari

[2020-07-20 16:28] Anipik commented on #33286
@safern  https://github.com/dotnet/runtime/pull/38550 disabled and removed the pinvoke analyzer

[2020-07-20 16:33] mangod9 commented on #13388
yup makes sense. On a related topic there is a recent issue, where a mc++ assembly is not failing fast.

[2020-07-20 16:33] AaronRobinsonMSFT commented on #36659
Okay. I will move this to .NET 6.0. Feel free to remark if this becomes a need for .NET 5.0.

[2020-07-20 16:35] trylek commented on #13388
Thanks @mangod for the heads-up, I assume you're talking about https://github.com/dotnet/runtime/issues/39493. I am going to take a look shortly.

[2020-07-20 16:35] alexcovington commented on #39568
The Windows 10 SDK is installed, is there an environment variable that needs to be set for Visual Studio to find the SDK?

[2020-07-20 16:36] AaronRobinsonMSFT commented on #34701
This can be addressed by following the pattern in https://github.com/dotnet/runtime/pull/37536.

[2020-07-20 16:39] akoeplinger commented on #39473
I also tried the same with a bit more logging to print out the exception stacktrace and it is indeed the NullReferenceException:

[code]

We currently think that this might have been there all the time, it's just that https://github.com/dotnet/runtime/commit/c80cc2a035b1915f84361eeb1046ba1e7861035b now properly propagates the exception instead of hiding it.

Since there shouldn't be a way to hit a

[2020-07-20 16:41] joperezr commented on #39270
@yecril71pl is correct that this doesn't represent an API proposal as it would just be a behavior change so I marked it as enhancement proposal.

@stephentoub do we have the precedent of adding things into the exception's property bag when it makes sense to do so?

@yecril71pl can you elaborate a bit more on which type of scenario you were thinking off here? I ask because most of the time when dev

[2020-07-20 16:42] mkArtakMSFT commented on #39635
Thanks @JamesNK.
@marek-safar this is important for the gRPC scenario.

[2020-07-20 16:47] Anipik commented on #1167
Thanks @Robo210 for resolving this.

[2020-07-20 16:49] jkotas commented on #36659
Yes, each feature exposed as API is responsible to expose its own local `bool IsSupported` properties as necessary. IIRC, it was discussed during API reviews of this problem space and the local `bool IsSupported` properties were agreed upon as the right pattern to follow. This pattern scales well to 3rd party libraries among other things.

[2020-07-20 16:53] tarekgh commented on #39522
Thanks, I'll take a deeper look. this is very helpful.

[2020-07-20 16:54] #39499 closed

[2020-07-20 16:55] #35391 closed

[2020-07-20 16:57] joperezr commented on #39174
I believe so we should do this basically to clean dead code and if we need we can always bring stuff back. @danmosemsft can you share a bit more here of the effort you went through last time you did this? Specifically, it would be good to know if there was a lot of manual intervention required as @am11 calls out above.

[2020-07-20 16:59] cheverdyukv commented on #39587
@rseanhall I don't really want to initialize it twice. It may create some unwanted effects.
And I think that it not that hard to add support for what I want. Let's say I will set gv_hostfxr_set_runtime_property_value value "UNSUPPORTED.APPDOMAIN_IGNORE_UNHANDLED_EXCEPTIONS" to 1 and then couple of lines that will read it and set it.
I think it is way simpler than initialize runtime twice.

[2020-07-20 17:06] yecril71pl commented on #39270
It is for PowerShell mainly, scripters are unlikely to call TryParse.

[2020-07-20 17:18] wfurt commented on #39347
dup of #39445

[2020-07-20 17:18] #39347 closed

[2020-07-20 17:20] josalem commented on #36195
@davmason this test failure looks different than the ones before.  It looks like the test passed, but the harness didn't observe the `PROFILER TEST PASSES` in the test output.  Any ideas?

[2020-07-20 17:25] JulieLeeMSFT commented on #39617
CC @dotnet/jit-contrib

[2020-07-20 17:25] jskeet commented on #34742
Wahoo - tried it earlier, and it worked out of the box. I wasn't doing anything complicated, admittedly.

Thanks so much for this - I don't have any feedback on the API yet, as I'm not really deeply enough into ASP.NET Core logging (or the general logging abstraction) to have well-informed comments, but this definitely looks like it'll be a huge help.

[2020-07-20 17:33] davidfowl commented on #34742
@jskeet show us a screenshot or something 😄

[2020-07-20 17:33] BruceForstall commented on #39617
This is a dup of https://github.com/dotnet/runtime/issues/38518

[2020-07-20 17:33] #39617 closed

[2020-07-20 17:33] BruceForstall commented on #38518
Note: more cases filed from this weekend: https://github.com/dotnet/runtime/issues/39617

[2020-07-20 17:35] joperezr commented on #39622
Would it probably make more sense to have a new attribute entirely instead of adding a property to AttributeUsage?

[2020-07-20 17:39] tarekgh commented on #39613
Fully agree @planogramsinc. We were trying to not exposing it in the .NET Core at all but there was some migration blocking scenario which made us to expose it. anyway, I am pasting a couple of links which can be useful too.

https://docs.microsoft.com/en-us/dotnet/api/system.globalization.cultureinfo.lcid?view=netcore-3.1#remarks
https://docs.microsoft.com/en-us/globalization/locale/locale-names

[2020-07-20 17:43] eiriktsarpalis commented on #38966
Hi @daxian-dbw

I tried your reproduction locally, but couldn't reproduce the issue. This is what I get on the powershell terminal:
![image](https://user-images.githubusercontent.com/2813363/87968484-637ab200-cab8-11ea-9f97-db1b0f7979f6.png)

And this is what I see using powershell core on Windows terminal:

![image](https://user-images.githubusercontent.com/2813363/87968426-4f36b500-cab8-11ea-89b

[2020-07-20 17:44] planogramsinc commented on #39613
Got it.  Thx.

[2020-07-20 17:47] CarolEidt commented on #37223
@AndyAyersMS - the failure can be duplicated using the arm altjit on 32-bit Windows. Not all the methods behave nicely with the altjit, but if you set `COMPlus_AltJit=Remove` (and `COMPlus_AltJitName=protononjit.dll` plus the variables mentioned above), you can duplicate the assert.

[2020-07-20 17:51] AaronRobinsonMSFT commented on #39606
This is documented [here](https://docs.microsoft.com/dotnet/api/system.runtime.interopservices.icustommarshaler#implementing-the-getinstance-method). There are rough edges with the `ICustomMarshaler` API. It is for advanced scenarios so we have historically simply documented it as much as possible rather than optimizing the API for ease of use. As @MichalStrehovsky mentions this would involve more

[2020-07-20 17:53] AndyAyersMS commented on #38230
Closing this as we've reverted #37679.

[2020-07-20 17:53] #38230 closed

[2020-07-20 18:05] jskeet commented on #34742
I'll do better than that - tomorrow I'm going to start on a prototype of the actual `GoogleCloudLoggingConsoleFormatter` (with a briefer name if possible!) in https://github.com/googleapis/google-cloud-dotnet :)
Will cc you in the first PR (which I'm sure will do very little).

This really feels like a *huge* step forward.

[2020-07-20 18:06] fredrikhr commented on #34742
Yeah, I'll adapt my Azure Pipelines logger to use this as well :)

[2020-07-20 18:08] CincySteve commented on #39449
@radical Any ETA on the fix?  This is a really, really big productivity problem.  Thanks.

[2020-07-20 18:11] ViktorHofer commented on #1678
Triage: We believe the current log output make sense for most people. If you need further details of the build, you can look into the binlog that we upload into the artifacts of the AzDO build.

[2020-07-20 18:11] #1678 closed

[2020-07-20 18:12] ViktorHofer commented on #995
Dup of https://github.com/dotnet/runtime/issues/2017

[2020-07-20 18:12] #995 closed

[2020-07-20 18:14] ViktorHofer commented on #13610
Triage: will need to trigger runfo to get current data to decide if this issue should be closed or further action is necessary.

[2020-07-20 18:17] ViktorHofer commented on #24101
Triage: we need this for 5.0 as the Mono runtime is used on WASM. Assigning @safern

[2020-07-20 18:17] Jozkee commented on #39610
@layomia

[2020-07-20 18:18] jashook commented on #12392
Addressed

[2020-07-20 18:18] #12392 closed

[2020-07-20 18:18] ViktorHofer commented on #26187
Triage: We want to keep this in 5.0 as we want to fix the parameter name mismatches.

[2020-07-20 18:19] jashook commented on #12339
No repro now

[2020-07-20 18:20] ViktorHofer commented on #27503
Triage: keep this in 5.0 and at least manually test the meta-package.

[2020-07-20 18:21] jashook commented on #11793
@dagood is this issue still relevant?

[2020-07-20 18:22] ViktorHofer commented on #28488
Triage: @ericstj will take a look

[2020-07-20 18:22] ViktorHofer commented on #30383
Dotnet test now works in master. Closing.

[2020-07-20 18:23] #30383 closed

[2020-07-20 18:24] ViktorHofer commented on #30520
Triage: we support this but not necessary for 5.0.

[2020-07-20 18:31] dagood commented on #11793
Looks like it was completed by moving onto the arcade publish stages and other related efforts.

[2020-07-20 18:31] #11793 closed

[2020-07-20 18:31] ericstj commented on #28488
We agreed to stop using Pure and removed its usage from the codebase.  We could now remove the exception from our attribute lists; @Anipik feel free to clean that up.  Closing this as the OP is addressed

[2020-07-20 18:31] #28488 closed

[2020-07-20 18:33] ViktorHofer commented on #30962
@StephenBonikowsky do we still need this? I don't see any 5.0 preview packages shipped.

[2020-07-20 18:33] ViktorHofer commented on #31253
Triage: Closing as we haven't heard back from @ramsubbaraoc.

[2020-07-20 18:33] #31253 closed

[2020-07-20 18:35] alexcovington commented on #39568
I uninstalled/reinstalled the Windows 10 SDK, now I am receiving this error when I try to build:

Severity	Code	Description	Project	File	Line	Suppression State
Error		CMake Error at C:/Program Files (x86)/Microsoft Visual Studio/2019/Community/Common7/IDE/CommonExtensions/Microsoft/CMake/CMake/share/cmake-3.17/Modules/CMakeTestCCompiler.cmake:60 (message):
  The C compiler

    "C:/Program Files (

[2020-07-20 18:36] ViktorHofer commented on #31295
@elmodev001 is it possible for you to upgrade to .NET Framework >= 4.6.1 or to .NET Core? We fixed this for 4.6.1 upwards.

[2020-07-20 18:39] #37168 closed

[2020-07-20 18:41] ViktorHofer commented on #31785
@eerhardt assigning you. Is the tracking work already done or is there something else necessary to be done for 5.0?

[2020-07-20 18:44] josalem commented on #13610
@ViktorHofer I think there are few different issues being discussed in this thread.  The last one in the thread was resolved with the same fixes in here I believe: #35451.  I'm not sure about the other issues discussed here though.

[2020-07-20 18:49] ViktorHofer commented on #33303
@jkoritzinsky assigning to you until we figured out if this needs to happen for 5.0.

[2020-07-20 18:51] ViktorHofer commented on #33631
@dseefeld do we need this for 5.0? If yes we should prioritize this accordingly.

[2020-07-20 18:51] CyrusNajmabadi commented on #39601
I would *prefer* a sketch.  However, if you can just show the code, that will likely help as well.  However, it might be a lot to get through, and i can't necessarily promise that.

[2020-07-20 18:53] #39593 closed

[2020-07-20 18:55] ViktorHofer commented on #34066
Triage: we don't believe this is an issue anymore since we changed how CoreLib is referenced during the build. If you still facing trouble, please open a new issue with a repro. Thanks.

[2020-07-20 18:55] tommcdon commented on #39394
@jashook

[2020-07-20 18:55] #34066 closed

[2020-07-20 18:55] joperezr opened #39641 "Some OOB packages are getting NETStandard.Library package dependency on .NET 461 which shouldn't happen now that we always have net461 configurations"
One concrete example for this is Microsoft.Extensions.Logging.Console, if you build this package today you will get a package that looks like this:

![image](https://user-images.githubusercontent.com/13854455/87974806-791fb580-ca7f-11ea-9d1f-8fdd2d8261e5.png)

I haven't done much digging on this yet but we should investigate this as this will have an impact on package restore size. My hunch here i

[2020-07-20 18:58] trylek commented on #38919
@ViktorHofer - As I want to move the <code>build-test</code> scripts under <code>src/tests</code>, I'm wondering where to put the script <code>src/coreclr/setup_vs_tools.cmd</code> that is called both from the CoreCLR build scripts and from the test build script; do you think it would be reasonable to move it under <code>eng</code> with the rationale that it's more or less generally usable?

[2020-07-20 18:59] ericstj commented on #34200
This should be working now.  All of the problem types were removed from CoreLib with https://github.com/dotnet/runtime/pull/36715

[2020-07-20 18:59] #34200 closed

[2020-07-20 18:59] eerhardt commented on #31785
It is tracking filling out this TODO:

https://github.com/dotnet/runtime/blob/c6520585b6f48d80228241320198b2efdb8e0fe5/src/libraries/System.Private.CoreLib/src/System.Private.CoreLib.Shared.projitems#L20

Which is blocked on the underlying linker issue.

[2020-07-20 19:00] ViktorHofer commented on #34203
I agree that we should cleanup creating targeting and runtime packs just once. Not necessary for 5.0, moving.

[2020-07-20 19:07] joperezr commented on #39641
Just adding more info here, I think the Task adding this dependency is ApplyMetaPackages Task but knowing exactly what might be going on will probably require debugging the Task. My hunch for this particular package is that it depends on System.Runtime.InteropServices.RuntimeInformation which is a netstandard1.1 assembly and it is part of .NETStandard.Library package so that is most likely what is

[2020-07-20 19:08] ericstj commented on #39641
Maybe we should just universally suppress NETStandard.Library meta-package on .NETFramework.

[2020-07-20 19:10] kouvel commented on #39604
Thanks for the repro, worked great

[2020-07-20 19:18] joperezr commented on #39641
yup that is what I meant with what I said above 😆

[2020-07-20 19:20] AndyAyersMS commented on #37223
Thanks, that might be easier than looking at arm linux.

[2020-07-20 19:22] jkotas commented on #38919
Yes, it would be nice to switch other places where we have this logic duplicated while you are on it:
https://github.com/dotnet/runtime/blob/master/src/libraries/Native/build-native.cmd#L43
https://github.com/dotnet/runtime/blob/master/src/installer/corehost/build.cmd#L48

[2020-07-20 19:24] VSadov commented on #11177
@BruceForstall - the failure was on Windows ARM64. This is something new. Is there only one hit?

[2020-07-20 19:25] ViktorHofer commented on #38919
Ideally we would use what comes with Arcade. I believe they are doing something similar.

[2020-07-20 19:27] agocke commented on #39409
@VSadov Could you look at this as next? We'll need to fix this for 5.0

[2020-07-20 19:28] MattKotsenas commented on #30457
Hey @stephentoub @danmosemsft ! With the PRs I opened Friday / today, all the issues listed in this issue have been addressed. How would you like to proceed?

Since keeping this rule clean isn't enforced I would assume new issues will / have crept in, but even so, my vote would be to close this issue to avoid accumulating mentions forever, and if desired open a new issue to track turning on enforc

[2020-07-20 19:30] jkotas commented on #38919
I do not see anything close enough in Arcade.

[2020-07-20 19:30] wfurt commented on #35844
Should `SslStreamCertificateContext.Create` throw if we cannot construct full chain or guarantie operation (on Windows)?
Or should we proceed as best-effort and possibly send incomplete chain and let client deal with it?
First option seems invasive but it would make issues more visible.
(In either case I will add tracing)

[2020-07-20 19:31] trylek commented on #38919
Thanks @jkotas and @ViktorHofer for your quick feedback. It seems to me that somewhat similar logic resides in the script

https://github.com/dotnet/runtime/blob/6998f4c575324b6d1b3311d91212b078034306ca/eng/common/tools.ps1#L287

I can look into switching over the existing scripts to use this logic instead of using several open-coded versions; I have not yet verified if it's a full replacement of

[2020-07-20 19:31] jkoritzinsky opened #39646 "Add PR templates (default and servicing)"
As we approach .NET 5, we are nearing branching off .NET 5 and moving to a servicing model after release. For the servicing model, we have an ad-hoc PR template that we require, but we don't have it saved anywhere. We end up pointing people to previous servicing PRs as examples.

We should add a servicing PR template to simplify this process and make it easier to set up servicing PRs right the fir

[2020-07-20 19:32] BruceForstall commented on #11177
@VSadov I've only seen one failure of this Linux arm32 case. However, I don't trust the Kusto data because it looks to me like the scripts to upload failures from Linux arm32 to Kusto have been broken.

[2020-07-20 19:34] ViktorHofer commented on #39646
cc @danmosemsft

[2020-07-20 19:36] ahsonkhan commented on #39610
Here's the issue and post which captures the state of the writable dom and what work items are left:
https://github.com/dotnet/runtime/issues/30436#issuecomment-535301281

The primary blocker is making sure folks are happy with the API design and customers are successful with it. From the linked issue:

There are benefits and drawbacks of having the `JsonNode` types being a public hierarchy on the

[2020-07-20 19:37] vcsjones commented on #35844
My two cents: no. Clients can still potentially build a valid chain by performing their own AIA fetching, perhaps to a place where a server cannot fetch from. As I have expressed concern before, there is no “singular chain”. A client may end up building a different path, anyway.

Agree tracing is a useful though.

[2020-07-20 19:38] geoffkizer commented on #39608
@JamesNK Just to clarify... it's not always hanging, right? Only after some period of time/load?

I can see one possible issue introduced by my change. If we get stuck waiting for a write on the connection to complete, then we will fail to cancel the outstanding request write. Do you know if that could be happening here? I.e. is the server itself possibly reading from the connection very slowly, c

[2020-07-20 19:40] TimLovellSmith commented on #39542
@wfurt
Scenario - I looked at captured profile data from the cloud. In production, in aggregate, all calls to `SslState.ReadFrameCallback` from IO threads were spending about 81% of their total execution time blocked on this one API.

That factoid wouldn't worry me as much if it were not happening on the IO threads. The worry is that by blocking these it will affect the latency of IO handling for

[2020-07-20 19:47] jashook opened #39647 "Add source-build "smoke-test" product build"
This would do the following build:

With the following dependencies:

- `cmake 3.6.2`
- `llvm-3.9`

[2020-07-20 19:47] scalablecory opened #39648 "Create H2C tests"
H2C was an experimental feature and has no functional tests. Now that it is a supported scenario with https://github.com/dotnet/runtime/issues/987, we should add some proper tests for it.

[2020-07-20 19:50] jashook opened #39649 "[Source-build] Add innerloop correctness tests for source-build product"
This will allow us to test https://github.com/dotnet/runtime/issues/39647. This will only be done on outerloop runs.

[2020-07-20 19:50] geoffkizer commented on #39608
@JamesNK I'm trying to repro and I get this from the client:

`
Unhandled exception. Grpc.Core.RpcException: Status(StatusCode="Internal", Detail="Error starting gRPC call. HttpRequestException: The SSL connection could not be established, see inner exception. AuthenticationException: The remote certificate is invalid according to the validation procedure.", DebugException="System.Net.Http.HttpReq

[2020-07-20 19:52] StephenBonikowsky commented on #30962
I'm not on the WCF team anymore, adding @HongGit and @mconnew

[2020-07-20 19:54] jashook commented on #39394
It looks like their may have been build issues as clrjit is not at the correct location on disk @carlossanlop can you post the full build log?

[2020-07-20 19:55] steveisok opened #39650 "[Wasm] Assembly.Location does not return the full path"
When calling `Assembly.Location`, it is expected to return the absolute path of the assembly.  In wasm, only the assembly name itself is returned.

For example:

[code]
Path will return `Foo.dll` instead of the expected `/Foo.dll` and `Assembly.LoadFile` will throw an exception because `path` is not absolute.

The primary problem is wasm is that we load the runtime assemblies from a byte array.  W

[2020-07-20 19:56] jkotas commented on #38919
It is not. `eng/common/tools.ps1` is locates msbuild. We need to setup environment for C++ compilers that is quite different.

Also,  `eng/common/tools.ps1` has non-desirable reliability characteristics. It downloads vswhere from the network, instead of just using the one one the machine. I do not think we want yet another place where the build can fail due to network glitch.

[2020-07-20 20:04] tommcdon commented on #39333
@davmason

[2020-07-20 20:07] tommcdon commented on #39115
@mikem8361 can you take a look?

[2020-07-20 20:23] JamesNK commented on #39608
You need to trust the ASP.NET Core dev cert: https://docs.microsoft.com/en-us/aspnet/core/grpc/troubleshoot?view=aspnetcore-3.1#call-a-grpc-service-with-an-untrustedinvalid-certificate

You could also change the client to use http://localhost:5000 (if you do this then you'll need the AppContext switch to support h2c)

[2020-07-20 20:24] JamesNK commented on #39608
Correct

It might not necessarily be from your change. I have only just started running gRPC unit tests against net5.0.

[2020-07-20 20:25] #38156 closed

[2020-07-20 20:25] davmason commented on #39333
I looked at this last week with @WilliamXieMSFT, it's just plain broken and there's no workaround to make the API work.

The options for getting finalizer references are:
- Ask us to fix this API, which wouldn't happen until .net 6 at the earliest and won't be backported
- Use the same approach SOS does to scan the finalizer queue, where you call in to the DAC to get the address of the finalizer q

[2020-07-20 20:27] ericstj commented on #31428
So the following attributes need to be applied to all the types that had them in desktop:
[code]

These types should be pushed down as low as necessary to apply them in all cases.

In places where these attributes depend on other types, like here
https://github.com/dotnet/runtime/blob/0e23ef47ff8a2de6a5b5898a849ba00303aba8df/src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentMod

[2020-07-20 20:28] agocke commented on #38304
Fixed in https://github.com/dotnet/runtime/pull/38684

[2020-07-20 20:28] #38304 closed

[2020-07-20 20:29] halter73 commented on #39608
@JamesNK You also need to put the server into h2c mode for this to work, right? E.g:

[code]

[2020-07-20 20:31] trylek commented on #38919
Thanks @jkotas for clarifying. Adding @dotnet/runtime-infrastructure to chime in as I believe JanK's responses imply that:

1) We cannot use the existing Arcade scripting logic to locate and set up VS build environment.

2) Should we perhaps create a new future-facing issue to work with Arcade on adding such logic?

3) As a corollary of (1), for now we need to keep some homebrew scripting logic fo

[2020-07-20 20:35] JamesNK commented on #39608
Not needed. The default template has http on 5000, https on 5001, and both are HTTP/2 only because of appsettings.json.

[code]

[2020-07-20 20:53] BreyerW commented on #39610
@ahsonkhan  how do you envision unifying hierarchy with `JsonElement` considering it is `struct`? Could you provide some rough sketch (eg `JsonBoolean`<->`JsonElement`)? Or did you mean `JsonDocument`? Unless ur ok to change to `class` which i m highly doubtful about? I must say being `class` is crucial for writable version. lm using `JSON.NET` version of writable dom and being able to use referen

[2020-07-20 21:10] jkotas commented on #39650
Are the assemblies actually present in the VFS? If not, `Assembly.Location` should return empty string.

[2020-07-20 21:11] bartonjs commented on #35844
As @vcsjones said, even if we're sending a sensible-looking chain there's no guarantee that the other side agrees it's sensible looking... and just because we send something partial doesn't mean it wasn't complete-enough for the remote, so throwing seems bad.

And, like everyone else, I think tracing seems valuable.

[2020-07-20 21:16] mikem8361 commented on #9282
This is now supported on Linux arm32, arm64, amd64 and MacOS amd64.

[2020-07-20 21:16] #9282 closed

[2020-07-20 21:21] geoffkizer commented on #39608
#39654 does not fix this. I suspect it is unrelated to my change.

[2020-07-20 21:22] AaronRobinsonMSFT commented on #38950
@jozefizso Thank you for taking the time to file this issue. Would it be possible to supply a trivial add-in that can be used to reproduce the issue? The C# part of the extension would probably be enough.

[2020-07-20 21:24] safern commented on #39615
Dupe of: https://github.com/dotnet/runtime/issues/39473

[2020-07-20 21:24] #39615 closed

[2020-07-20 21:24] #34701 closed

[2020-07-20 21:31] safern commented on #39583
I think that sounds reasonable unless we still support any distro that comes with > 53 by default.

[2020-07-20 21:33] safern commented on #39568
@alexcovington could you share which project are you trying to build, what process are you following, etc? That would be helpful for the diagnostics of this.

[2020-07-20 21:34] safern commented on #39528
Closing as this locale is not supported in wasm ICU.

[2020-07-20 21:34] #39528 closed

[2020-07-20 21:37] safern commented on #39394
@carlossanlop it would be helpful if you could try and repro this again with the latest changes on master and share the log as now the build stops on first failure, so we would have a way cleaner log.

[2020-07-20 21:39] safern commented on #39352
I believe this could be related that `Blazor` uses Invariant globalization on 3.1.

cc: @kg @EgorBo @tarekgh

[2020-07-20 21:39] CoffeeFlux commented on #37213
There's been discussion on `__Internal` in https://github.com/dotnet/runtime/issues/7267, but I'll redirect discussion here.

From my perspective, the biggest gaps in functionality are `__Internal` and symbol name remapping.

First, `__Internal`. A user can implement this with the `DllImportResolver` snippet, but it is such a common use case in embedding, with a years-established pattern for deali

[2020-07-20 21:51] AaronRobinsonMSFT commented on #39606
Given the OP indicates the following is failing in their scenario (doesn't repro in coreclr) and given the multiple references to mono, I am going to reassign this to interop-mono.

[2020-07-20 22:00] #39604 closed

[2020-07-20 22:01] ericstj commented on #39635
Could use the managed implementation of DEFLATE, which will likely be very slow.  Seems like something better should be available.

[2020-07-20 22:04] JamesNK commented on #39635
FYI I mentioned that this error started after moving Blazor app from netstandard2.1 to net5.0. It is a regression from Blazor WebAssembly on .NET Core 3.1.

[2020-07-20 22:05] tarekgh commented on #39352
@safern Invariant mode should handle the ASCII character casing fine. so, I guess it is different issue or it can be other invariant part affecting this scenario.

[2020-07-20 22:13] briansull commented on #13701
@jkotas
Is there a repro that can be run on the desktop?

[code]

[2020-07-20 22:17] eerhardt commented on #13701
You need to add a reference to https://www.nuget.org/packages/System.Runtime.CompilerServices.Unsafe/

[2020-07-20 22:22] briansull commented on #13701
How do I add that reference?

[2020-07-20 22:23] alexcovington commented on #39568
I uninstalled/reinstalled Visual Studio and the workload dependencies, the missing library issue above seems to be resolved.

Now when I try to build using either Visual Studio or the command line I get the following errors:

[code]

and

[code]

I am currently trying to build using the command:

[code]

But I get the same errors when I build with Visual Studio as well.

[2020-07-20 22:24] davmason commented on #35396
Fixed with #39139  and #38146

[2020-07-20 22:24] #35396 closed

[2020-07-20 22:28] eerhardt commented on #13701
1. Create an empty directory and a `Repro.csproj` with the following contents:
[code]
2. Add the code from https://github.com/dotnet/runtime/issues/13818 to a `repro.cs` file next to the above `.csproj` file.
3. `dotnet run -c Release` from the directory with `Repro.csproj` and `repro.cs` files.

[2020-07-20 22:30] AntonLapounov commented on #39568
@alexcovington Are you doing a clean build?  If not, I would suggest running `git clean -xdf` to remove old artifacts and trying again.  You might want to run `git clean -xdn` first to see what files would be removed.

[2020-07-20 22:42] ericstj commented on #39635
I think Mono was using a managed implementation.  So I guess that could mean the bar is low for perf.

[2020-07-20 22:49] tarekgh commented on #39522
I discovered this is repro in any WIn 10 machine and not specific to the reported version. Also, the test make sense to fail with the Invariant culture. The question I am trying to find answer for is why this failure didn't show up before?

[2020-07-20 22:55] naricc commented on #38919
So, in this new directory structure, where should any runtime test related utilities go? Undr /src/tests?  Specifically I am thinking of the wasm/android test runner I am creating.

[2020-07-20 22:58] maryamariyan opened #39664 "JsonConsoleFormatter: Should not put the same key in the scopes multiple times (not allowed in Json)"
### Description
_From https://github.com/dotnet/runtime/issues/34742#issuecomment-660708530:_

If there are multiple scopes which are a string with a place holder, the {OriginalFormat} get added multiple time, but having duplicated keys in JSON, while correct, it is generally not recommended (see RFC8259 section 4. Also I'm unsure if it makes sense to have {OriginalFormat} when the content is only

[2020-07-20 23:03] kzu opened #39665 "Introduce QuaranTime: a relatable modern-day relative time"
## Background and Motivation

Just like [Unix time](https://en.wikipedia.org/wiki/Unix_time) is a system for describing a point in time relative to the Unix epoch, **QuaranTime** (from *quarantine time*) is also a way to represent time relative to the beginning of a [specific quarantine lockdown](https://en.wikipedia.org/wiki/COVID-19_pandemic_in_Argentina#Mandatory_lockdown).

The Unix epoch, bei

[2020-07-20 23:03] mikem8361 commented on #38792
It doesn't look used to me either.  Have you tried to removing it and building?

[2020-07-20 23:06] alexcovington commented on #39568
I tried this as well as recloning the repository, same error.

[2020-07-20 23:16] jkotas commented on #37213
I believe that there is also third meaning that is "static linking". It is used for example here: https://github.com/grpc/grpc/blob/04cdb1826666e0de67cfd11c1f5214e0fd53a018/templates/src/csharp/Grpc.Core/Internal/NativeMethods.Generated.cs.template#L81

The official Xamarin documentation tells people to P/Invoke `objc_msgSend` directly and depend on the runtime to do the remapping for them: https:

[2020-07-20 23:18] yuiichiiros opened #39666 "CAA Record Capabilities with .NET"
I'm working on a program where one of the features is that, given a domain name, it will query for that domain's CAA records and return the CAA records in a string format. I first tried finding a way to do this using .NET, but it seems that this capability doesn't exist. I mostly looked in the DNS class, so maybe I'm missing something, but can someone confirm/deny if this capability already exists

[2020-07-20 23:18] trylek commented on #38919
@naricc - Right now the various scripts and utilities reside under <code>src/tests/Common</code> inherited from <code>src/coreclr/tests/src/Common</code>; I don't think it's ideal but it was the option causing the least amount of churn. I'm thinking about adding a new folder <code>src/tests/eng</code> where I'd move the various remaining scripts from <code>src/coreclr/tests</code> (perhaps under a

[2020-07-20 23:23] bartonjs commented on #30457
Closing the issue once all the PRs are merged seems fine to me.

[2020-07-20 23:32] BruceForstall commented on #37117
Failed again, Windows x86 tailcallstress:
https://dev.azure.com/dnceng/public/_build/results?buildId=737405&view=ms.vss-test-web.build-test-results-tab&runId=22836446&resultId=100333&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

[2020-07-20 23:32] JamesNK commented on #39635
No one has complained about performance of this in 3.1. If performance is equal in 5.0 then that is fine.

[2020-07-20 23:43] BruceForstall opened #39669 "Test failure: profiler/eventpipe/eventpipe/eventpipe.sh"
OSX, x64, Checked, JitStress=1

https://dev.azure.com/dnceng/public/_build/results?buildId=737405&view=ms.vss-test-web.build-test-results-tab&runId=22835648&resultId=100002&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

[code]

@janvorli looks like a PAL / OS failure?

[2020-07-20 23:45] VSadov commented on #11177
@BruceForstall - looked at the test again. I think there is a memory ordering issue in the test code.

[2020-07-20 23:57] jeffhandley commented on #39665
Should methods that compare two `QuaranTime` values just return random `TimeSpan` values since perception of time is disrupted during quarantine?

[2020-07-20 23:58] tarekgh commented on #39522
It is a change in Windows with the Invariant culture. I have reported it to the Windows team. Meanwhile, I'll try to submit a fix from our side to have us immuned against such a change.

[2020-07-21 00:06] josalem commented on #38843
Fixed by #39129

[2020-07-21 00:06] #38843 closed

[2020-07-21 00:06] AndyAyersMS commented on #37223
I can't get this to repro with windows altjit, but just realized I'm using a release testhost. Will retry with checked.

[2020-07-21 00:08] BruceForstall opened #39672 "Assert failure: ptrdiff_t(GetNumSeries()) > 0"
Failure in System.Security.Cryptography.X509Certificates.Tests,

`net5.0-Linux-Release-arm-CoreCLR_checked-jitstress2_jitstressregs4`

https://dev.azure.com/dnceng/public/_build/results?buildId=736792&view=ms.vss-test-web.build-test-results-tab&runId=22820270&paneView=debug

https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-master-8dd82918500f477296/System.Security.C

[2020-07-21 00:11] BruceForstall opened #39673 "Test failure: System.Dynamic.Runtime.Tests"
System.Dynamic.Runtime.Tests

`net5.0-Linux-Release-arm64-CoreCLR_checked-jitstress2_jitstressregs0x80`

https://dev.azure.com/dnceng/public/_build/results?buildId=736792&view=ms.vss-test-web.build-test-results-tab&runId=22820716&paneView=debug

[code]

possible GCStress issue?

category:correctness
theme:testing
skill-level:intermediate
cost:medium

[2020-07-21 00:15] AndyAyersMS commented on #39023
Still working on tracking this down.

@dellamonica has shared some non-crash examples showing the GC info is fine right after jitting. So either the GC info is produced incorrectly at times, or gets corrupted after it's produced. Given how surgical and repeatable the corruption is, the former seems far more likely.

In particular if the IG flags or liveness state for an IG can be corrupted that co

[2020-07-21 00:17] maryamariyan commented on #39664
As I was in search a proper expected behavior, I looked up what Serilog would do. Here's a sample:

#### Code:
[code]

#### Output:
[code]

#### Takeaway
For the sample in the description of this issue, we could consider changing the below Actual behavior:
[code]
To below expected behavior
[code]

But, BeginScopes allows to have multiple named properties like below:
[code]
which I'm not sure if it

[2020-07-21 00:19] layomia opened #39674 "Skipping Json NumberHandlingTests.DictionariesRoundTrip test for mono interpreter"
This test fails as a long running test and will be skipped.  This issue exists to make sure we address it moving forward.

[2020-07-21 00:24] AntonLapounov commented on #39568
I noticed you are using Ninja build system instead of MSBuild ("ninja: build stopped").  Not sure whether it is supported for Windows.

[2020-07-21 00:28] briansull commented on #13701
Thanks,  I have a repro case and have tested the fix.  It looks good

[2020-07-21 00:28] maryamariyan commented on #39664
I think the proper expected behavior could look like this:
[code]

[2020-07-21 00:32] alexcovington commented on #39568
How do I change this? I'm still a little new to Visual Studio and can't find a reference to it in the documentation.

[2020-07-21 00:38] jeffhandley commented on #33360
Ha -- my goodness, I got my wires crossed on the previous comment, @slavanap, and I referenced the wrong attributes that the Platform Compat Analyzer will be using.  I've fixed the comment above to be accurate.

[2020-07-21 00:39] echesakovMSFT commented on #39618
The issue here is that ArmBase intrinsics (e.g. LeadingZeroCount, ReverseElementBits) are pre-jitted and when  `COMPlus_EnableHWIntrinsic=0` JIT emits a call to a pre-jitted version of the intrinsic effectively ignoring the COMPlus variable setting. I believe this started failing after #38060

cc @tannergooding @dotnet/jit-contrib

[2020-07-21 00:39] tarekgh commented on #39583
Looking at the supported MacOS matrix https://docs.microsoft.com/en-us/dotnet/core/install/macos I am seeing teh minum OS version we support it `macOS 10.12 "Sierra"` which comes with ICU version `59`. so I believe it will be safe to turn on `HAVE_SET_MAX_VARIABLE` for MacOS.

[2020-07-21 00:41] kzu commented on #39665
Might not be such a good idea in the end. Closing. Maybe the start of the new millennium (01-01-2000) might be better and more neutral.

[2020-07-21 00:41] #39665 closed

[2020-07-21 00:43] BruceForstall commented on #39619
This failure is occuring in a variety of different test runs, including:

`runtime-coreclr libraries-jitstress`:

`net5.0-Windows_NT-Release-x64-CoreCLR_checked-jitstress1-Windows.10.Amd64.Open`
`net5.0-Windows_NT-Release-x86-CoreCLR_checked-zapdisable-Windows.10.Amd64.Open`
https://dev.azure.com/dnceng/public/_build/results?buildId=737443&view=ms.vss-test-web.build-test-results-tab&runId=22837402

[2020-07-21 00:45] safern commented on #39583
Sounds good. I'll take care of this.

[2020-07-21 00:47] BruceForstall commented on #39673
Possibly related, also `JitStressRegs=0x80`:

`runtime-coreclr libraries-jitstressregs`
`net5.0-Windows_NT-Release-arm64-CoreCLR_checked-jitstressregs0x80-Windows.10.Arm64.Open`

[code]

[2020-07-21 00:54] noahfalk commented on #39591
Hey @macrogreg, thanks for filing the issue! I'm sympathetic to your goal and a little skeptical of this particular approach. First some issues I am wary of and then some alternate suggestions on how we might accomplish a similar outcome.

Activity tends to be a type that people want to attach state to and we already have quite a few (Tags, Baggage, CustomProperties, Events, Links). At the same ti

[2020-07-21 00:57] BruceForstall opened #39678 "Test failure: System.Security.Cryptography.X509Certificates.Tests"
Crash running System.Security.Cryptography.X509Certificates.Tests:

https://dev.azure.com/dnceng/public/_build/results?buildId=736792&view=ms.vss-test-web.build-test-results-tab&runId=22820272&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab&resultId=173683

Configurations:
`net5.0-Linux-Release-arm-CoreCLR_checked-jitstress2_jitstressregs3`
`net5.0-Linux-Release-arm-Co

[2020-07-21 01:05] tarekgh commented on #39591
I want to add for the current release we should look at the Set/GetCustomProperty perf and try to enhance it in term of speed and allocation which should help in the requested scenario.

@@macrogreg if you agree, I'll go ahead and close this issue for now.

[2020-07-21 01:17] macrogreg commented on #39591
Hi @noahfalk ,

Thank you for your feedback.
I actually submitted a PR before I noticed your response:
https://github.com/dotnet/runtime/pull/39679

However I follow your argument.
There are a few small points to consider, as we continue your line of thought.

True. However, it feel wrong to have auto-instrumentation rewrite Framework code for improving performance (rather than adding tracing-spec

[2020-07-21 01:23] macrogreg commented on #39591
@tarekgh re your question above: I am OK with either decision, but if we decide to close this issue, I just would encourage you to explicitly consider this for a moment:

As long as the decision on this is explicit (rather than just not focusing on this aspect) I am fine with the direction of the runtime team. If we decide to consider perf-optimizing that API (not change its shape), I'd be happy t

[2020-07-21 01:24] BruceForstall commented on #33949
More failures, especially in HeapVerify runs:
https://dev.azure.com/dnceng/public/_build/results?buildId=737350&view=ms.vss-test-web.build-test-results-tab&runId=22834060&paneView=debug&resultId=110463

[2020-07-21 01:27] BruceForstall commented on #39571
Failed again in the CI:

`CoreCLR Windows_NT x86 Checked gcstress0xc_jitstress2 @ Windows.10.Amd64.Open`
https://dev.azure.com/dnceng/public/_build/results?buildId=737350&view=ms.vss-test-web.build-test-results-tab&runId=22834310&paneView=debug
Interop\NativeLibrary\AssemblyLoadContext\ResolveUnmanagedDllTests\ResolveUnmanagedDllTests.cmd [FAIL]

[2020-07-21 01:28] tarekgh commented on #39591
@macrogreg sure. we can keep this issue opened to track the perf work. please change the issue title to reflect that.

If you want to help in this perf optimization, that will be great. let's know if need any help in that. Are you familiar with dotnet benchmark https://github.com/dotnet/BenchmarkDotNet to use for measuring the perf before and after the changes to know the gain?

Thanks for willing

[2020-07-21 01:29] BruceForstall opened #39681 "Test failed: JIT\Regression\CLR-x86-JIT\V1-M10\b04574\b04574\b04574.cmd"
Windows x64

with:
[code]

[code]

[2020-07-21 01:32] BruceForstall commented on #39571
Actually, there are quite a few failures in Windows x86 tests in this run:

https://dev.azure.com/dnceng/public/_build/results?buildId=737350&view=ms.vss-test-web.build-test-results-tab&runId=22834310&paneView=debug&resultId=101135

[2020-07-21 01:32] GrabYourPitchforks commented on #10106
@mconnew I tried serializing an empty `MemoryStream` using .NET Framework's DCS and got the following xml:

[code]

Is this the expected output? That looks like something we don't want to send across the wire.

[2020-07-21 01:35] #39556 closed

[2020-07-21 01:36] macrogreg commented on #39591
Hi @tarekgh ,

I changed the title as requested.

I am not familiar with https://github.com/dotnet/BenchmarkDotNet, however, it looks like a useful thing to learn about. :)
Can you please indicate the following:

* What release would such perf improvements target? (If current, how much time do I have?)
* Is being thread-safe a requirement? Why? (or why not?)

Thanks!

[2020-07-21 01:37] BruceForstall opened #39682 "Test failed: eventpipe_readevents "A callback was made on a garbage collected delegate""
`Linux {x64,arm64}` x `GCStress=C` x `{JitStress=1,Jitstress=2}`

https://dev.azure.com/dnceng/public/_build/results?buildId=737350&view=ms.vss-test-web.build-test-results-tab&runId=22834098&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab&resultId=100011

e.g.,
[code]

[2020-07-21 01:43] mconnew commented on #10106
@GrabYourPitchforks, while it's true that this isn't ideal to send across the wire, it does actually work to serialize and deserialize correctly. When the serializable attribute was placed on the class, it should have been designed better but it wasn't. I suspect that's the result of whoever did that only thinking about a single serialization case (BinaryFormatter). It's a mistake which gets repea

[2020-07-21 01:46] BruceForstall opened #39683 "Test failed: pauseonstart"
https://github.com/dotnet/runtime/pull/39129 re-enabled the `pauseonstart` test, which is now failing in every outerloop run.

https://dev.azure.com/dnceng/public/_build/results?buildId=738397&view=ms.vss-test-web.build-test-results-tab&runId=22868214&resultId=110551&paneView=debug

[code]

@josalem

[2020-07-21 01:47] tarekgh commented on #39591
@macrogreg

Is the current release 5.0. you should have enough time (at least 6 weeks from now). but if you can get it earlier that will be better.

Yes, this is why we used concurrent dictionary in the implementation. And if you look at the rest of the Activity code, you'll find it handle the threading safety. I think the original design of Activity is to have it thread safe but I don't know if t

[2020-07-21 01:50] josalem commented on #39683
`received: { Header={ Magic=System.Byte[]; Size=24; CommandSet=255; CommandId=255; Reserved=0 }; Payload=[ 0x85 0x13 0x13 0x80  ]}`

The `255` in command set and command ID means that an error occurred and the payload has the HRESULT.  For some reason it looks like the command is responding with `#define CORDIAGIPC_E_UNKNOWN_COMMAND = 0x80131385`.  Let me take a look at the test.

[2020-07-21 01:53] GrabYourPitchforks commented on #13349
The current [plan of record](https://github.com/dotnet/designs/pull/141) is to not mark any more inbox .NET types as `[Serializable]`, including types that were marked as such in Full Framework.

@ericstj Should this work item be instead used for tracking an arbitrary binary blob storage mechanism in .resx files? Otherwise I'll close the issue as a dupe of https://github.com/dotnet/runtime/issues/

[2020-07-21 01:53] macrogreg commented on #39591
Thanks, @tarekgh . I have no opposition to thread safety, just looking to learn the background. :)
If we stick to being thread-safe: In my opinion we can optimize for the Get-scenario (i.e. a slight perf decrease in SetXxx is OK, if if yields a significant improvement in GetXxx). Would you (and @noahfalk ) agree with such an approach?

[2020-07-21 01:55] hamarb123 commented on #39132
@danmosemsft @Jozkee I have a few questions.
What sort of exception should I throw [here](https://github.com/hamarb123/runtime/blob/b9f0fd01dcf632cffc8d1e7a9c88b292b34e2e04/src/libraries/Common/src/Interop/OSX/Interop.libobjc.cs#L95)?
Should I keep the comments on [these lines](https://github.com/hamarb123/runtime/blob/b9f0fd01dcf632cffc8d1e7a9c88b292b34e2e04/src/libraries/Common/src/Interop/OSX/I

[2020-07-21 01:56] josalem commented on #39683
Ah, found this issue, PR incoming.

[2020-07-21 01:57] GrabYourPitchforks commented on #10106
This scenario involves deserialization into private instance fields, which is one of the things we were trying to move away from across our serializers. (It's one of the main reasons we obsoleted `BinaryFormatter`.)

Can the scenario be accomplished through the use of a custom `IDataContractSurrogate` or similar?

[2020-07-21 02:06] #476 closed

[2020-07-21 02:07] GrabYourPitchforks commented on #27429
We're [winding down](https://github.com/dotnet/designs/pull/141) usage of `BinaryFormatter` within the framework and do not plan on attributing any new or existing types with `[Serializable]`. Additionally, the API proposal at https://github.com/dotnet/runtime/issues/27429#issuecomment-422994456 received only 3 upvotes, indicating little interest.

Closing this issue for now. If there is interest

[2020-07-21 02:07] #27429 closed

[2020-07-21 02:08] GrabYourPitchforks commented on #39090
@marek-safar These code paths should no longer be called in wasm applications, so there should be no remaining references to the Formatters package. Anything else we need to do here?

[2020-07-21 02:10] AndyAyersMS commented on #37223
Issue seems to be that R2 is considered live throughout a return block as it holds a kept-alive this. Thus when armarch's
`genProfilingLeaveCallback` tries to update R2's GC liveness to be non-gc , the update is ignored by `gcMarkRegSetNpt` as it will not modify live registers to be non-gc. So R2 remains gc live and hence the assert.

Seems like the fix is that for arm, we need to make sure kept-a

[2020-07-21 02:14] jeffhandley opened #39687 "For .NET 5 Obsoletions - use partial ref source classes instead of ifdefs"
In #39269, we had heavy use of `#ifdef` statements in the `ref` source files.  This will make the ref source generator harder to re-run for those assemblies.

Instead, we should use sidecar source files and utilize the partial classes to maintain all of the conditional obsoletions.  That file can then be conditionally compiled based on the target framework.

[2020-07-21 02:23] AndyAyersMS commented on #37223
Relevant part of the jitdump, during codegen, with a bit of extra logging I added. Note after "Moving R0 to R2 around leave profiler callback" there is no GC update for R2, it remains GC live, and that V00 == R2 is live throughout.
[code]

[2020-07-21 02:27] sywhang commented on #39669
cc @davmason

[2020-07-21 02:28] GrabYourPitchforks commented on #1733
This will be captured in the breaking change document (see https://github.com/dotnet/docs/issues/19604). Thank you for reporting the issue!

[2020-07-21 02:28] #1733 closed

[2020-07-21 02:28] jkotas commented on #39682
This looks like a bug in EtwEventProvider.

[2020-07-21 02:31] GrabYourPitchforks commented on #26656
@Anipik @ViktorHofer This issue hasn't had activity in 2 years. Is there anything for us to do here? It looks like the threading issue was asked and answered in https://github.com/dotnet/runtime/issues/29198, so I don't think this issue is actionable any longer by us.

[2020-07-21 02:34] tommcdon commented on #39682
@davmason

[2020-07-21 02:37] jkotas commented on #39100
I have extended this workaround to apply to all Mono targets in https://github.com/dotnet/runtime/pull/39082

[2020-07-21 02:38] carlossanlop commented on #39394
I synced to the latest bits in master today and ran this command:
[code]
@jashook @safern I'll save the binlog in a shared location and send you the link via email.

[2020-07-21 02:47] carlossanlop commented on #39394
Summarized - I am getting an error in what seems to be the same location, although the last message lines seem to be hidden, compared to the first error I posted above:

[code]

[2020-07-21 02:55] tarekgh commented on #39591
I would start by having some goals for a scenario like yours and try to address it. Optimizing for reading over writing looks reasonable to me but I am expecting writing perf should still be reasonable. @noahfalk suggested before to have like a linked list (which we use inside Activity for other purposes). The list can be reasonable for this release but in the future, I expect we'll change it if p

[2020-07-21 03:20] macrogreg commented on #39591
What I had in mind was:

The first 5 elements are stored in an array of KeyValue pairs. Modifications use optimistic concurrency: copy the array and interlocked-replace the array if it has not changed, otherwise, try again. On look-ups, first search the array using reference equality, and if not found. search again using string comparison.

If the number of properties grows beyond 5. the rest goes

[2020-07-21 03:28] tarekgh commented on #39591
Give it a shot and we can review the details and look at the benchmarks. Please note the SetCustomProperty has a behavior when setting null value it delete the entry which has same input key.

[2020-07-21 03:29] mconnew commented on #10106
It can be done by a custom IDataContractSurrogate, and in fact that's the workaround we've recommended in the original issue on WCF. The problem though is it might go completely undetected for a while as it doesn't throw any errors. It just silently deserializes an empty MemoryStream. So the steps which would be needed are:
1. Hopefully notice deserialization isn't working right before going into

[2020-07-21 03:30] macrogreg commented on #39591
I'll create a draft and if the approach looks fine to all involved, I'll follow up with perf measurements and additional unit tests.

[2020-07-21 03:52] DougSchmidt-AI commented on #39352
If it helps, my Blazor project where I first discovered this issue has its [source here](https://github.com/AquaticInformatics/tabular-field-data-plugin/tree/master/src/BlazorTestDrive) is [hosted here](https://aquaticinformatics.github.io/tabular-field-data-plugin/test-drive/).

The project is currently using [Western European localizations](https://github.com/AquaticInformatics/tabular-field-dat

[2020-07-21 03:58] #39683 closed

[2020-07-21 04:13] #30255 closed

[2020-07-21 04:48] ClementeGao commented on #39634
thanks @mkArtakMSFT @ajcvickers  i found way for solve the question , i only upgrade driver of ODBC for impala，then  it work well

[2020-07-21 04:48] #39634 closed

[2020-07-21 04:53] ClementeGao commented on #39634
I hope you can provide a set of big data solutions, because NET has very little information in the field of big data, such as computing framework, data cleaning framework and so on

[2020-07-21 04:55] KalleOlaviNiemitalo commented on #39666
There is a third-party DNS client library that claims to support CAA records. <https://dnsclient.michaco.net/docs/DnsClient.Protocol.CaaRecord.html>

Its author filed <https://github.com/dotnet/runtime/issues/19443> to request adding such features to .NET.

[2020-07-21 05:05] KalleOlaviNiemitalo commented on #30817
What would `new ReadOnlyIndexSet(5..^5).Contains(10)` return?

[2020-07-21 05:22] rseanhall commented on #39587
I'm just trying to point out a potential workaround in versions of the runtime where this isn't implemented. It's not possible to initialize the runtime multiple times. The `hostfxr_initialize_*` methods don't initialize the runtime, they initialize `hostfxr` and get everything ready to initialize the runtime. The potentially unsupported thing is that the "get everything ready to initialize the ru

[2020-07-21 05:40] v-haren commented on #37117
failed again in job: [runtime-coreclr jitstress 20200719.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=737405&view=ms.vss-test-web.build-test-results-tab&runId=22836446&resultId=100333&paneView=debug)

failed test: profiler\\unittest\\getappdomainstaticaddress\\getappdomainstaticaddress.cmd

Error message
[code]

[2020-07-21 06:50] AndyAyersMS commented on #37223
it occurs to me that ensuring R2 was free was what #37679 was after, so I'll take a look at where that went wrong; perhaps it's a similar GC liveness transfer issue...?

[2020-07-21 07:15] Evangelink commented on #39622
I don't know, my first thought was to create a new attribute but it seems functionally related to the attribute usage scope. Besides there are already guidelines + analyzers to enforce adding this attribute when creating a new attribute so it would just be an extended use.

[2020-07-21 07:19] koszeggy commented on #13349
From my side the issue can be closed.

In the meantime I implemented the needed workarounds to provide compatibility between the Framework and .NET Core. It's just a bit odd that one needs 3rd party solutions for it.

For anyone who struggles with such issues:
* The [ResXResourceManager](https://docs.kgysoft.net/corelibraries/?topic=html/T_KGySoft_Resources_ResXResourceManager.htm) can be used to

[2020-07-21 07:47] davmason commented on #36195
@josalem The wording is bad. The profiler test runner expects the app to return the magic exit code of 100 from the managed part and the output to contain the PROFILER TEST PASSES from the native profiler part.

What happened here is the native profiler did everything and wrote PROFILER TEST PASSES but the managed bit that verifies the bit saw an out of order event.

That's a weird failure. It wri

[2020-07-21 07:51] ststeiger commented on #39606
I think to report, you need to return Utf8CustomMarshaler instead of System.Runtime.InteropServices.ICustomMarshaler  in FileNameMarshaler, while Utf8CustomMarshaler returns ICustomMarshaler .

[2020-07-21 08:11] En3Tho opened #39689 "[Might be Roslyn] Jit produces different ASM results when working with pointer[index] syntax opposed to star syntax"
Well, this might be a Roslyn issue as such code actually produces different IL
So a code like this:
[code]
produces different asm:
I got this ASM using @EgorBo 's Disasmo

This is Test:
[code]

and this is Test2:
[code]

Note redundant inc and movsxd instructions

As I said before, this might be a Roslyn bug as IL code produces is different:

This is Test:
[code]

And this is Test2:
[code]

Seen o

[2020-07-21 08:17] macrogreg commented on #39591
I created a draft here: https://github.com/dotnet/runtime/pull/39690

It is slightly different from what I described above to keep things shorter and simpler. But the high-level idea is the same.
Please let me know if this looks good in general.
If we all agree on the approach, I can follow up with perf data and tests later.

Thanks!

[2020-07-21 09:22] akoeplinger commented on #39635
This should work but it was only enabled recently. @JamesNK could you please try out a later preview8 build?

[2020-07-21 09:55] Guluis opened #39783 "It's possible to load the same Assembly(DLL) twice to a single AppDomain"
# Issue Title

I ran into this issue in a more complicated scenario but it boils down to that you can load a single DLL Assembly into the currentDomain twice. The assembly appears twice in the AppDomain assemblies array and each one has it's own set of classes. As a result, you can have two singletons of the same class in a single AppDomain.
This is not true for .net framework.
I order to achieve

[2020-07-21 10:02] akoeplinger commented on #37213
I don't think that's a third meaning since the usage should be covered by the `dlopen(NULL)` meaning that @CoffeeFlux mentioned.

I think now that we support QCalls in mono (so there's no need for `__Internal` to mean "the runtime library" afaik) I think we could remove the ambiguity and support only the `dlopen(NULL)` case.

[2020-07-21 10:03] #39493 closed

[2020-07-21 10:17] noahfalk commented on #39591
My expectation is that a high performance scenario would either use 1-3 get operations per set operation, and/or the exporter would issue a series of get operations for the keys the Activity creating code never populated on a particular Activity. Beyond a few Get operations it probably gets faster to have an enumeration API for custom properties, but I'd suggest we constrain this to optimizing the

[2020-07-21 11:14] dougie1970 opened #39693 "out-of-proc COM feature in Core 3.x missing"
@DoCode I am a big fan of out-of-proc COM, has some performance concerns but addresses many issues. As far as setting up an activatable COM server in a .NET Core application, that is probably possible but will require working with the [hosting API](https://github.com/dotnet/runtime/blob/master/docs/design/features/native-hosting.md) and having a good understanding of authoring a [COM server](https

[2020-07-21 11:17] ViktorHofer opened #39694 "Performance pipelines depends on OOBs being present in the testhost"
Current the perf pipelines depends on OOBs being present in the testhost folder instead of being acquired app-local (which represents the customer scenario). We are removing OOBs from the testhost with https://github.com/dotnet/runtime/pull/35606.

I added a workaround to manually copy the runtime directory's content which includes OOBs into the testhost. This is a hack and should be fixed i.e. by

[2020-07-21 11:19] dougie1970 commented on #39693
@AaronRobinsonMSFT - how does this feature for out-of-proc COM get completed and into a Core 3.x version?  It would be really nice to have this same feature as it works in Framework, where regasm.exe (or similar/new command), would register a .NET Core 3.x executable.  Without this capability, it would be essentially losing a nice to have feature in existing software to port it to .NET Core.  I as

[2020-07-21 11:43] jkotas commented on #39689
The two versions of your methods are not equivalent. They will have different behavior when `width` is `Int32.MaxValue`. In this case, `width + 1` will overflow in Test1 and so you will end up with `*ptr`, `ptr + width + 1` won't overflow in the second case and so you will end up with the expected `ptr + 2147483648`. It explains the different code you are seeing for the two versions.

[2020-07-21 11:43] #39689 closed

[2020-07-21 11:59] jkotas commented on #37213
For CoreCLR, QCalls are internal implementation detail that only works in CoreLib. They are intentionally not recognized anywhere else.

[2020-07-21 12:41] ww898 opened #39698 "Profiling API doesn't report objects from POH in graph"
Profiling API skips pinned objects allocated in POH with  `System.GC.AllocateUninitializedArray` and `System.GC.AllocateArray`. I see these objects in the `ICorProfilerCallback::ObjectAllocated` callback. However, all other callbacks such as `ICorProfilerCallback::RootReferences`, `ICorProfilerCallback::RootReferences2` and `ICorProfilerCallback::ObjectReferences` ignore these objects. Could you p

[2020-07-21 12:54] GrowSharp commented on #38610
Finally found time to do this.
It took some time but I manage to reproduce it (it seems to be happening pretty random). Now I have +- 250 MB dump file (Heap) and one smaller like 70 MB (Mini). I will now upload only the smaller file, let me know if you will need the bigger one.

File:
[core_20200721_141538.zip](https://github.com/dotnet/runtime/files/4953579/core_20200721_141538.zip)

[2020-07-21 12:56] GrowSharp commented on #38611
Special characters that I know off:
`!, $, *`
@ericstj

[2020-07-21 13:12] ww898 opened #39699 "Windows ARM64 and CORECLR_PROFILER_PATH_xxx"
Hi Everybody,

Windows ARM64 has 3 architecture in installation: ARM64, ARM and x86. My question is about CORECLR_PROFILER_PATH_32. How can I select separate profiler DLLs for x86 and ARM architectures?

Can CoreCLR team implement something like CORECLR_PROFILER_PATH_ARM, CORECLR_PROFILER_PATH_X86 and CORECLR_PROFILER_PATH_ARM64 or you already have better solution?

[2020-07-21 13:36] En3Tho commented on #39689
@jkotas Thank you for answer. Is such behaviour intented? Code with index syntax is way more readable but suffers perf problems for general applications because of a corner case, am I wrong?

[2020-07-21 13:37] fanyang-mono commented on #38718
With Imran's recent PR #39322, RPS for mono JIT went from 8,351,923 to 8,409,044.

[2020-07-21 13:44] jkotas commented on #39689
Yes, this is the expected behavior per C# language spec. You may consider using nint (new in C# 9). It should not have this problem.

[2020-07-21 13:45] jkotas commented on #39689
ie:
[code]

[2020-07-21 13:47] dseefeld commented on #33631
@ViktorHofer Yes, this is needed for 5.0.  What can I do to help get this prioritized?

[2020-07-21 13:55] ladipro opened #39701 "FCall implementation collision on Windows ARM64"
Multiple FCalls are implemented by the same native function on ARM64:

[code]

Repro:

[code]

Expected: Works fine.

Actual:

[code]

[2020-07-21 13:58] #38076 closed

[2020-07-21 13:59] bartonjs commented on #587
Moving the milestone to Future because it's not a commitment for .NET 5.  But PRs are welcome.

[2020-07-21 14:00] bartonjs commented on #413
Moving the milestone to Future because it's not a commitment for .NET 5. But PRs are welcome.

[2020-07-21 14:06] lukas-lansky commented on #39149
@johnterickson There already is a limited retry logic. We might want to wait longer between the retries though.

@jkotas We contacted Azure DevOps with this and we no longer observe the problem to be happening. According to what I've heard from @ilyas1974, there is a long term plan to move artifact storage that would make us less prone to this kind of issues. Until them, please let us know if this

[2020-07-21 14:07] jnm2 opened #39703 "CollectionBase implements IList.Remove to throw, contrary to docs"
https://docs.microsoft.com/en-us/dotnet/api/system.collections.ilist.remove?view=netcore-3.1#notes-to-implementers:

[code]

[code]

[2020-07-21 14:08] ViktorHofer opened #39704 "System.Runtime.Serialization.Formatters.Tests.FormatterServicesTests.GetUninitializedObject_COMObject_ThrowsNotSupportedException fails with Mono"
Configuration: net5.0-Windows_NT-Debug-x64-Mono_release-Windows.10.Amd64.Server19H1.ES.Open

The test wasn't running before because it was excluded via `TargetsWindows` even though the test project is runtime agnostic. https://github.com/dotnet/runtime/blob/632cdcab09fda363e460296a77be0be32096f512/src/libraries/System.Runtime.Serialization.Formatters/tests/System.Runtime.Serialization.Formatters.T

[2020-07-21 14:13] eerhardt commented on #39090
I don't believe there is anything else we need to do here. After linking a Blazor WASM app with the latest runtime, I am not seeing `System.Runtime.Serialization.Formatters.dll` in the output at all.
Closing.

[2020-07-21 14:13] #39090 closed

[2020-07-21 14:24] ViktorHofer commented on #33631
We (@ericstj @safern @joperezr @Anipik) discussed yet another possible solution which is leveraging Roslyn's refout feature and use the linker to trim everything unwanted out and throw PNSE. We were in favor of this approach as it removes the necessity of GenAPI and uses the linker which is a shipping product. Unsure if we have enough time to follow this approach.

[2020-07-21 14:24] ViktorHofer commented on #33631
Will discuss with @ericstj in our 1:1 later today.

[2020-07-21 14:30] ManickaP commented on #39619
Triage: I need to investigate, it's likely due to change from async to sync in `HttpWebRequest.GetResponse`

[2020-07-21 14:45] roji commented on #28633
Because it's getting quite late in the 5.0 release cycle and a lot of other work remains, we'll be postponing this to 6.0. It's a bit risky to merge such a large/significant API addition at the last minute; I'll likely merge this early for 6.0, to have enough lead-time to get feedback from implementing providers and adjust as needed.

Sorry for anyone expecting this for 5.0...

[2020-07-21 14:57] WCLucas42 opened #39706 "Disallow unrestricted polymorphic deserialization in DataSet #39304 appears to break usage of Dataset.xmlReader in SQL CLR routines"
### Description

After update a previously working CLR assembly now throws an error when called.  System.Drawing is not a supported Library. https://docs.microsoft.com/en-us/sql/relational-databases/clr-integration/database-objects/supported-net-framework-libraries?view=sql-server-ver15

The Error is raised in the call to **dataSet.ReadXml(xmlSR)**; in this block of code:

       // Add headers sp

[2020-07-21 15:02] PeterSolMS commented on #39600
Well, we have 4 flavors of the sorting code (two instruction sets - AVX2, AVX512F, and two types - int32_t and int64_t). We can limit the amount of inlining in the bitonic sorters that are called for small arrays - doing this immediately reduced the size of coreclr.dll by 180 kB. There are more tricks we can do, or dial back on the number of sorting code flavors.

[2020-07-21 15:11] vitek-karas opened #39707 "Removal of debugger attributes causes linker warnings in code which refers to those attributes"
With the recent debugger feature switch linker is now tasked to remove some attributes which are related to the debugger. Linker will do that for all attribute instantiations, but if there's code which refers to the removed attribute's type directly, linker will generate a warning since it's likely the behavior of that code will change.

Currently this produces 4 warnings in CoreLib:
[code]

We sh

[2020-07-21 15:26] blowdart commented on #39706
This is a deliberate change due to security issues, although it's not the error I'd expect.

@GrabYourPitchforks

[2020-07-21 15:26] scalablecory commented on #39627
The behavior you're seeing is that you can't cast a List of one type as a List of another type. This is happening outside of `GetFromJsonAsync`.

As an example of what you're seeing, this will fail for the same reason:
[code]

Calling `.Cast<TableEntity>.ToList()` is one correct solution, if you do need a `List`. Another, if you don't need to modify the list, is to use the covariant `IEnumerable`

[2020-07-21 15:29] ericstj commented on #33631
Not sure `/refout` will help here since PNSE needs to be the primary output of compile and it feels wrong to use some other configuration as the source of a PNSE.  I bet the quickest way to solution is to leverage the checked in reference source + transformation to build PNSEs today.  Transformation could happen pre-compile (some task), through ifdef, or post compile (linker).  I'd prefer pre-comp

[2020-07-21 15:34] trylek commented on #25979
Just hit something similar in

https://dev.azure.com/dnceng/public/_build/results?buildId=739309&view=ms.vss-test-web.build-test-results-tab

in the test

<pre>
System.Security.Cryptography.Dsa.Tests.DSASignVerify_Array.InvalidKeySize_DoesNotInvalidateKey
</pre>

<pre>
  Starting:    System.Security.Cryptography.Cng.Tests (parallel test collections = on, max threads = 2)
    System.Security.Crypto

[2020-07-21 15:35] scalablecory commented on #39546
@vahida this exception indicates you are either elapsing `HttpClient.Timeout` (which defaults to 100 seconds) or are triggering a cancellation token.

Try setting `HttpClient.Timeout` to `Timeout.InfiniteTimeSpan` here as an easy way to confirm.

[2020-07-21 15:38] scalablecory commented on #39489
@terrajobst do you have thoughts here?

[2020-07-21 15:38] MaximLipnin opened #39709 "[wasm] Enable System.Xml.Linq.Tests.XTypeDescriptionProviderTests class"
While enabling `System.ComponentModel.TypeConverter.Tests` on Browser WASM, I faced the failures in  [System.Xml.Linq.Tests.XTypeDescriptionProviderTests](https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.ComponentModel.TypeConverter/tests/XTypeDescriptionProviderTests.cs) test class.

There are 7 test cases which mostly test the property-related

[2020-07-21 15:40] GrabYourPitchforks commented on #39706
This is Full Framework servicing, not Core. I'll loop in the servicing team.

[2020-07-21 15:52] ststeiger opened #39713 "DevCert install is invalid on Windows"
The .NET DevCert seems to yield invalid certificate for NodeJS (Microsoft.AspNetCore.NodeServices).
Operating system is Windows 10.
Domain is localhost, .NET Core 3.1.

Sample:
https://github.com/ststeiger/MyBlog/blob/master/MyBlogCore/Startup.cs

Here, parsoid downloads a configuration file from "https://localhost:PORT/w/api.php".
On https, this fails, because NodeJS complains about "invalid cert

[2020-07-21 15:57] MattGal commented on #25979
Interesting.  This is the only failure like this in the past 1000+ runnings of this work item, but the machine is actually still around; the machine this failed on actually passed this test around 2020-07-21 12:16 UTC, then failed it in this run at 2020-07-21 14:52, running 32 other work items in between all of which passed and didn't crash.

If there's something super interesting about the machin

[2020-07-21 16:09] WCLucas42 commented on #39706
First, I am not serializing anything from System.Drawing.  See below for the current xml and presumed issue.

Second I, have not read the security guidance, I can do that to see if it presents and alternative, but I am not sure how pertinent it is to this issue, my xml only contains strings.

Finally, I did move away from datasets to a comma separated string of the format name1|value1, name2|value

[2020-07-21 16:10] mangod9 commented on #39600
is avx512 significantly better to keep both implementations?

[2020-07-21 16:20] jkotas commented on #39149
ok, thanks for investigating this.

[2020-07-21 16:20] #39149 closed

[2020-07-21 16:26] AArnott opened #39718 "System.IO.Pipelines AsStream() compat issues"
While replacing Nerdbank.Streams' own `PipeStream` class (which adapts a `PipeReader` and/or `PipeWriter` to a `Stream`) with the `PipeReader.AsStream()` and `PipeWriter.AsStream()` methods, my unit tests discovered several behavioral differences:

1. `PipeWriterStream.Write(byte[], int, int)` does not throw `ArgumentNullException` when passed a null buffer.
1. `PipeReaderStream` and/or `PipeWrite

[2020-07-21 16:30] terrajobst commented on #28285
I've recently discussed this. The problem is this:

1. `ValueTuple` was a bit of disaster. That's because we shipped an out of box (OOB) and in-box version on .NET Framework. This has caused significant pain with binding redirectcs and friends.
2. `Range` itself doesn't suffer from this because there is no version of .NET Framework that included it. We don't have any issues with pure OOBs (span, J

[2020-07-21 16:32] eiriktsarpalis commented on #39701
cc @richlander

[2020-07-21 16:34] blowdart commented on #39706
OK. Frankly we never even thought of folks trying to use DataSet and DataTable XML functions in SQL CLR due to SQL having it's own XML parsing, and of course the CLR also having XML parsing.

As we safe listed some enums for System.Drawing in the patch for DataSet and DataTable that's where the exception is coming from, and there's not a lot you can do other than uninstall the patch, or adjust you

[2020-07-21 16:34] danmosemsft commented on #38826
@CoffeeFlux done

[2020-07-21 16:37] layomia commented on #30255
@paulhickman-a365 this issue addresses support at the serializer level only. Please open a new issue with the "API proposal" format for your suggestion for the writer to be considered.

[2020-07-21 16:45] akoeplinger commented on #39704
@lateralusX does this seem like something that should work on netcore-mono on Windows?

[2020-07-21 16:46] Joe4evr commented on #39622
What I imagine the trade-offs would be is something like:
* Maintaining support for a *new* attribute in the same space as `AttributeUsageAttribute`
* Preventing down-level compilers from bypassing the new checks (if desired)

This probably isn't even exhaustive, and I have no idea if this is what the people at MS would consider, but I feel it does demonstrate that one approach doesn't automatical

[2020-07-21 16:54] layomia commented on #30436
From @BreyerW in https://github.com/dotnet/runtime/issues/39610#issuecomment-661327392:

[2020-07-21 16:55] layomia commented on #39610
As @ahsonkhan mentioned, https://github.com/dotnet/runtime/issues/30436#issuecomment-535301281 highlights what the next steps for the writable JSON DOM are, and that is the tracking issue.

Closing this issue as a duplicate - I'll copy your comments over there and we'll be sure to consider them as we continue the effort for the feature. @BreyerW

[2020-07-21 16:55] #39610 closed

[2020-07-21 16:56] tommcdon commented on #39699
@davmason

[2020-07-21 16:59] tommcdon commented on #39698
@davmason

[2020-07-21 17:10] DrewScoggins opened #39720 "[Perf -19%] System.Net.NetworkInformation.Tests.PhysicalAddressTests.PAShort"
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.18362
Changes | [diff](https://github.com/dotnet/runtime/compare/cf774155778050ad93a9158caf389e26d49f1411...bf0076c80b9b2f1d2080016c7c7edb66ed61fa73)

### Regressions in System.Net.NetworkInformation.Tests.PhysicalAddressTests

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
PAShort

[2020-07-21 17:11] DrewScoggins opened #39721 "[Perf -30%] System.Memory.Span<Byte>.BinarySearch"
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.18362
Changes | [diff](https://github.com/dotnet/runtime/compare/cf774155778050ad93a9158caf389e26d49f1411...bf0076c80b9b2f1d2080016c7c7edb66ed61fa73)

### Regressions in System.Memory.Span<Byte>

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
BinarySearch | 14.86 ns | 19.26 ns | 1.3

[2020-07-21 17:13] DrewScoggins opened #39722 "[Perf -35%] System.Memory.Span<Char>.IndexOfValue"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Changes | [diff](https://github.com/dotnet/runtime/compare/cf774155778050ad93a9158caf389e26d49f1411...7f7e795fe4f7854bebf6c1a149e74b91b0f635f0)

### Regressions in System.Memory.Span<Char>

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
IndexOfValue | 11.56 ns | 15.57 ns | 1.35 | Bi

[2020-07-21 17:13] DrewScoggins commented on #39722
This one is a bit noisy, but @AndyAyersMS and @kunalspathak wanted to take a look at it.

[2020-07-21 17:14] DrewScoggins opened #39723 "[Perf -40%] System.Tests.Perf_Char.Char_ToUpperInvariant"
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.18362
Changes | [diff](https://github.com/dotnet/runtime/compare/cf774155778050ad93a9158caf389e26d49f1411...bf0076c80b9b2f1d2080016c7c7edb66ed61fa73)

### Regressions in System.Tests.Perf_Char

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
Char_ToUpperInvariant | 23.68 ns | 33.19 n

[2020-07-21 17:16] DrewScoggins opened #39724 "[Perf -14%] System.Memory.ReadOnlySpan.IndexOfString (2)"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Changes | [diff](https://github.com/dotnet/runtime/compare/cf774155778050ad93a9158caf389e26d49f1411...bf0076c80b9b2f1d2080016c7c7edb66ed61fa73)

### Regressions in System.Memory.ReadOnlySpan

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
IndexOfString | 27.38 ns | 31.11 ns | 1.14 |

[2020-07-21 17:25] danmosemsft commented on #37970
Per https://github.com/dotnet/runtime/blob/master/docs/area-owners.md this is owned by @HongGit @StephenMolloy

[2020-07-21 17:25] AaronRobinsonMSFT commented on #39693
@dougie1970 It comes down to priorities and customer demand. Right now we have some interest but not enough compared to other feature request in interop. Adding first class support would be a non-trivial amount of work and there would be some very sharp edges to fix up. Adding this for Core 3.x isn't something that is going to happen to be honest. The amount of feature work to enable this would no

[2020-07-21 17:25] #39693 closed

[2020-07-21 17:26] AaronRobinsonMSFT commented on #38814
@dougie1970 @DoCode Would a sample for creating an out of proc server help or is the need for real first class support?

[2020-07-21 17:28] wfurt commented on #39590
That seems rather complicated and if I understand correctly, you really just want this inside of CertificateCustomValidationCallback, right?
[code]
and of course you can add you custom CA to users/system CA store.

[2020-07-21 17:33] layomia commented on #30258
Updating the title here to generalize this to a problem where we need to modify an already initialized property or field. An equivalent to `Newtonsoft.Json`'s [ObjectCreationHandling](https://www.newtonsoft.com/json/help/html/T_Newtonsoft_Json_ObjectCreationHandling.htm) should help solve this issue.

[2020-07-21 17:34] macrogreg commented on #39591
Thank you. I'll measure different options mentioned, but it will be several days until I can get to it. :)

I see at least 2 scenarios where mutating an Activity may be necessary. I am curious about a recommendation:

1. Enriching an Activity with some environment Information. This may be service name, instance name, or some environment info that is APM-vendor specific and was configured by the us

[2020-07-21 17:37] terrajobst commented on #33397
* Looks good, but we'd prefer `SupportsSavepoints`
* We considered exposing a new type `DbSavepoint` but we felt it's overkill for a niche feature like this
* The `System.SqlClient` and `Microsoft.SqlClient` APIs should be updated to override these new base methods (instead of just hiding them) as well as `SupportsSavepoints`.

[code]

[2020-07-21 17:39] layomia commented on #30258
From @mtaylorfsmb in https://github.com/dotnet/runtime/issues/39630:

[2020-07-21 17:40] layomia commented on #39630
https://github.com/dotnet/runtime/issues/30258 addresses the ask here. This feature cannot be enabled by default (without additional configuration), as this would be a behavioral breaking change in the serializer.

I'll close this as a duplicate.

[2020-07-21 17:40] #39630 closed

[2020-07-21 17:40] danmosemsft commented on #35284
@Anipik is this a must have to ship 5.0? My reading is that this should be in the Future milestone. If it get into 5.0, fine.

[2020-07-21 17:40] csteegz commented on #39590
I didn't know about those APIs being added in Dotnet 5.0! That's good enough for me, I was asking more along the lines of 3.1 where you have to do stuff like this (https://stackoverflow.com/questions/33627593/c-sharp-net-how-to-allow-a-custom-root-ca-for-https-in-my-application-on).

It'd be nice to have a docs page with that specific code (or on the CertificateCustomValidationCallback or X509Chai

[2020-07-21 17:40] MichalStrehovsky commented on #39707
How would a user go about resolving this warning? (I only looked at titles of linker pull requests around this, so I'm as oblivious of this behavior as anyone else).

Querying for CompilerGenerated is actually pretty common (EF does this, ASP.NET does this, Newtonsoft.Json does this - off the top of my head). I think people are going to hit this warning pretty often.

[2020-07-21 17:46] terrajobst commented on #39631
* Makes sense
* We should also add `AddSimpleConsole` without `configure`, just for consistency

[code]

[2020-07-21 17:56] danmosemsft commented on #36617
@GrabYourPitchforks thoughts about my note above? Wondering whether this ought to be un-marked api-ready-for-review as several folks aren't sure this is a good direction for the base libraries. (Unless you want to use the tag to trigger a larger discussion in that group about mocking)

[2020-07-21 17:57] echesakovMSFT commented on #39618
The following are more detailed analysis what is happening.

During `impImportCall` on `LeadingZeroCount` since `COMPlus_EnableHWIntrinsic=0` the call to `impIntrinsic` would return `nullptr` with the following stack trace:

[code]

and, as a consequence, we treat the call as a regular call:
[code]

However, since `LeadingZeroCount` was pre-jitted we ended up calling the R2R code.

The *correct* b

[2020-07-21 17:58] karelz commented on #33947
Closing as not actionable. Feel free to reopen if/when there is more info. Thanks!

[2020-07-21 17:58] #33947 closed

[2020-07-21 18:02] wfurt commented on #39590
It is unlikely for  3.1 or Framework to get any API changes. For old releases, I think something along the stackoverflow is reasonable. You generally test if root of the chain is what you expect and if UntrustedRoot is only one reported issue.
Since this is probably not very common scenario, doing little bit of code does not seems that bad. (and it is easier with 5+)

It seems like neither https:/

[2020-07-21 18:06] danmosemsft commented on #13610
@safern is this test now stable? (Also is there info on the OneNote to remind me how to make such queries myself)

If the test is stable we can close this issue.

[2020-07-21 18:10] terrajobst commented on #2127
* Makes sense

[code]

[2020-07-21 18:11] daxian-dbw commented on #38966
@eiriktsarpalis Thanks for looking into this!
Please try out the repro from cmd.exe. I don't know why it works in PowerShell, but it repros consistently when running it from cmd.exe. Below is a screen gif of it when I paste "l –F" with right clicking. The input/output encoding's are:

[code]

![tabcom](https://user-images.githubusercontent.com/127450/88090191-16432280-cb42-11ea-86a6-7b733a104be9.g

[2020-07-21 18:12] terrajobst commented on #31996
* Makes sense

[code]

[2020-07-21 18:13] GrabYourPitchforks commented on #36617
@danmosemsft As manager, isn't it your privilege to say "Let's spin up a working group!"? :)

I'd be supportive of this if we wanted to have a wider discussion regarding mockability within the BCL. Though honestly the _Microsoft.Extensions.\*_ libraries have become something of a dumping ground for these sorts of APIs, so I don't know how much discussion need take place. We still consider these li

[2020-07-21 18:16] davidwrighton commented on #32725
I'll take this. I've found a number of casting related issues.

[2020-07-21 18:17] terrajobst commented on #36617
We could expose a new type, but what does this mean for the existing packages that already defined their own version `ISystemClock`, like auth? Would we break them?

[2020-07-21 18:20] danmosemsft commented on #39132
@jozkee's area but my guesses
1. IOException seems fine, but string needs to be in the resources
2. The SetCreationOrModificationTimeOfFileInternal method probably shouldn't be in the Interop file but instead in FileStatus.OSX.cs. Those files are generally just extern declarations, enums etc. There is sometimes a little implementation there eg when it's really necessary to use the API correctly, i

[2020-07-21 18:25] terrajobst commented on #38244
* For better or worse, framework spelling is en-us.
* If this would be parsing, supporting both `grey` and `gray` seems reasonable, but duplicating API surface to offer AE and BE feels wrong, so we don't feel we should be exposing those.

[code]

[2020-07-21 18:28] ericstj commented on #39624
Thank you for the report.  We no longer build these compat packages and are unlikely to make this type of breaking change in servicing.

[2020-07-21 18:28] #39624 closed

[2020-07-21 18:29] ViktorHofer commented on #38559
Triage: @steveisok will update the table. We might want to add a column to track completeness.

[2020-07-21 18:29] josalem commented on #38847
I'll be tracking my research into this failure in this issue.

I've got a repro of this under the debugger locally.  It looks like somehow, the polling loop rarely gets in a weird state on Windows x86 where the first two entries in the `pHandles` array fed to `WaitForMultipleObjects` _both point to the server_ instead of one of them pointing to the reversed connection.  The server doesn't have any

[2020-07-21 18:30] FiniteReality commented on #36617
Since `ISystemClock` is usually an internal type (which is forced to be public, IIRC) I don't think people would be too upset if there was a breaking change for 5.0 or even 6.0, since that's a major version bump.

[2020-07-21 18:30] ViktorHofer commented on #33631
@dseefeld I talked with @ericstj about this and he will assign someone to start working on this soon.

[2020-07-21 18:31] ericstj commented on #37496
Closing as we found that it's not feasible to eliminate all reference assemblies across all past packages we've shipped.  For folks hitting problems related to reference assemblies the first thing to do is pursue a fix to the component which is attempting to load the reference assembly,  If blocked you can consider a workaround such as https://github.com/dotnet/sdk/issues/1522#issuecomment-3241417

[2020-07-21 18:31] #37496 closed

[2020-07-21 18:33] jkotas opened #39726 "SuppressGCTransitionAttribute hitting asserts in the JIT"
See https://github.com/dotnet/runtime/pull/39474#issuecomment-662033060 for details and repro.

[2020-07-21 18:33] terrajobst commented on #36209
* Looks reasonable
* `configPath` looks like a file system path; maybe we should name it `configSectionPath`?

[code]

[2020-07-21 18:34] jkotas commented on #39726
cc @erozenfeld

[2020-07-21 18:36] mangod9 commented on #39039
could be related to https://github.com/dotnet/runtime/issues/39600

[2020-07-21 18:36] kunalspathak commented on #39618
Need to investigate what happens to prejitted methods containing `SSE2` APIs and when ran with `COMPlus_EnableHWIntrinsic=0`. Same thing should happen for ARM64 as well.

[2020-07-21 18:43] terrajobst commented on #28114
* The existing API already deviated from the Win32 naming convention (`Load`)
* We should give it a better name, to make it clear what it does
* We should mark the API as Windows-specific

[code]

[2020-07-21 18:49] maryamariyan opened #39728 "[Logging]: Improve AnsiParser"
When using Logging.Console, at the stage to parse out any embedded ANSI color, we are using TryParse to get digits in the ANSI code. Based on the certain expectation we have on the ANSI code, we could improve the logic and performance there and in effect be able to remove the #ifdef below as well.

Code location:

https://github.com/dotnet/runtime/blob/23611e16a93c9056ceeb27c55e93809e1baf56c4/src/

[2020-07-21 18:49] VSadov commented on #37803
Could be the cost of tiered compiler indirection showing up on a fast cast. Native implementation did not have that expense.

The cost of tiering indirection could be easily avoided by opting out the cating helper from tiering. That would mean jitting it at start up time. We decided against that, since these are "fast" casts and generally not a perf concern.

I will take a look to be sure.

[2020-07-21 18:52] dougie1970 commented on #38814
A sample would be awesome.  I only have 2 classes that are
      exposed to COM.

    On 7/21/2020 1:27 PM, Aaron Robinson
      wrote:

      @dougie1970
        @DoCode
        Would a sample for creating an out of proc server help or is the
        need for real first class support?
      —
        You are receiving this because you were mentioned.
        Reply to this email directly, view it

[2020-07-21 18:52] danmosemsft commented on #39132
I don't think so since a code search finds the callers.

Unfortunately I don't know the answer for the build failure. Bad sync point perhaps? Maybe git clean -fdx and git pull forward and try again.

[2020-07-21 18:53] danmosemsft commented on #39598
@ViktorHofer @jkoritzinsky  did anything relevant change in how we build these,  since 3.1?

[2020-07-21 18:56] tarekgh commented on #39723
@DrewScoggins I am seeing you have assigned @kunalspathak to this issue. is he doing anything with that?

[2020-07-21 18:57] AaronRobinsonMSFT commented on #38814
@dougie1970 Okay. A sample is something we might able to offer up. I would also give us a chance to prototype a proper solution which would enable more accurate costing.

/cc @jeffschwMSFT @jkoritzinsky @elinor-fung

[2020-07-21 18:59] terrajobst commented on #28198
* The existing API already deviated from the Win32 naming convention (`Load`)
* We should give it a better name, to make it clear what it does
* We should mark the API as Windows-specific

[code]

So this code:

[code]

becomes

[code]

With respect to custom attributes, you can already do this:

[code]

[2020-07-21 19:04] cheverdyukv commented on #39587
I appreciate your help and got your idea. I just feel that workaround will bite me later. But looks like there is no other choice.
Thank you.

[2020-07-21 19:07] danmosemsft commented on #39598
@vitek-karas is it possible to crack the so's with some tool (similar to dumpbin on Windows) to get an idea where the size increase was? Of course it might be across the board, eg., different compilation flags.

[2020-07-21 19:08] Jozkee commented on #39132
@hamarb123 are you able to perform `./build.sh` without any switch or that also fails?

Perhaps you may want to take a look at https://github.com/dotnet/runtime/blob/master/docs/workflow/README.md#workflow-guide and once your build suceeds you can go into the folder of one of the test projects and run it individually with `dotnet msbuild /t:test`

[2020-07-21 19:09] danmosemsft commented on #39598
OK now I see the linked issue and I'm confused. @jkotas is it the case that @janvorli 's fix fixed the other 3, but not (for some reason) compression? And @vitek-karas's  numbers happened to be without that fix?

[2020-07-21 19:13] safern commented on #13610
I think we could still hit this issue it just depends the available memory at the test execution but we don't hit it that often.

I don't think so, we can add it.

[2020-07-21 19:15] jkotas commented on #26250
UAP is no longer supported in dotnet/runtime

[2020-07-21 19:15] #26250 closed

[2020-07-21 19:20] danmosemsft commented on #2082
@mthalman given https://github.com/dotnet/dotnet-docker/issues/1840 I am going to close this. Please reopen if there is evidence it occurs in supported scenarios.

[2020-07-21 19:20] #2082 closed

[2020-07-21 19:23] nietras opened #39732 "CQ: Big Value Type Suboptimal Inlining Code Generation"
Improve support for "functor" pattern in .NET, reduce code duplication and help resolve an issue in #39543 which tries to consolidate sorting code on a generic `TComparer` code path. It would be great if the JIT could be improved in the face of big value types.

## Benchmark Code
[code]

## Benchmark Results
[code]
|                    Method |     Mean |     Error |    StdDev | Ratio | Code Size

[2020-07-21 19:25] jkotas commented on #28198
Generic `Enum.GetValues` was approved as #2364 and added by #33589 two weeks ago.

The `EnumMember` family of APIs was rejected as too high-level for `System.Enum`, so there is nothing left to do. @terrajobst Is this the right conclusion?

[2020-07-21 19:26] TylerBrinkley commented on #28198
Thanks for the consideration. `Enum.GetValues<TEnum>()` was already added in https://github.com/dotnet/runtime/issues/2364 so no work to be done there. While `.ToString()` doesn't handle the duplicate values case I understand if this API is too high-level here, especially including the reflection case of attributes.

[2020-07-21 19:27] nietras commented on #39732
cc: @EgorBo help! 😉

[2020-07-21 19:28] echesakovMSFT commented on #39618
We don't pre-jit SSE2 on x64. Below are the output of x64 сrossgen running on S.P.C.dll
[code]

[2020-07-21 19:29] jkotas commented on #39598
@janvorli fix affected libcoreclr.so and libclrjit.so only. It did not touch the libraries native shims. You should be able to still see the regression in latest nightly builds.

`objdump` is Linux equivalent of `dumpbin`.

[2020-07-21 19:31] karelz commented on #35088
@scalablecory please ping API review to use `bool` also for `SocketsHttpHandler`. Thanks!

[2020-07-21 19:32] #9628 closed

[2020-07-21 19:39] HurricanKai opened #39734 "System.Half backport to .Net Standard"
Half is an amazing type, and I'm sure many Math-related projects would like to integrate it, but currently can't / have to multi-target to .Net 5
A behaviour like with `Span`/`Memory` on .Net Standard would be great, with a NuGet package bringing the functionality on older platforms, while not doing anything on .Net 5+

[2020-07-21 19:42] Perksey commented on #39734
+1 Something akin to Microsoft.Bcl.HashCode (but for Half obviously) would be great.

[2020-07-21 19:46] terrajobst commented on #28198
Ha, my spider senses told me we already had the API :-)

Correct

[2020-07-21 19:46] #28198 closed

[2020-07-21 19:56] sandreenko opened #39737 "assert failed `!IsDummyUse()` for an `OBJ` under `HWINTRINSIC`."
Try to compile and run the following test (Windows x64, SSE41 supported, tiering disabled, checked Runtime):
[code]

it will fail with:

[code]

That happens because when we delete the dead `Sse41.BlendVariable` we extract side effects from arguments and one of them is:
[code]
that we don't expect to see later.

There are a few things that could be fixed here:
1. the local var in this example shou

[2020-07-21 19:57] sandreenko commented on #39737
PTAL @dotnet/jit-contrib

[2020-07-21 19:57] karelz commented on #39542
Triage: Not important for 5.0, we may look into it later, but we may also decide it is not worth it on .NET Core.
It would require some perf numbers.

Workaround: Increase number of IO threads.

[2020-07-21 19:57] sandreenko commented on #39737
cc @tannergooding

[2020-07-21 19:59] karelz commented on #39720
Triage: Not important for 5.0, still might be nice to see what caused it, but there haven't been any changes in the space ...
Fine to just close it as "OK" in future.

[2020-07-21 20:02] karelz commented on #39489
Triage: Conceptually it makes sense, but we may want to use some more general approach / pattern - something for @dotnet/fxdc to discuss? Marking as ready for API review.

[2020-07-21 20:04] ericstj commented on #28285
I think we've created a pattern with the Microsoft.Bcl additions that solves the technical problems.   I briefly looked at @bgrainger's solution and it follows this pattern.  There is still the annoyance that the entire stack needs to target the framework with the component inbox to eliminate the need for the package, for example https://github.com/dotnet/runtime/issues/35984.

[2020-07-21 20:05] karelz commented on #39011
It would be really great to have a minimal repro without SignalR -- directly on `HttpClient` or `WebSockets`. Is that possible?

[2020-07-21 20:16] BrennanConroy commented on #39011
Is:
[code]
not exactly that?

[2020-07-21 20:17] kunalspathak commented on #39723
My initial investigation is to check if this is because of codegen or something else by diffing the assembly code between baseline vs. test and go from there.

[2020-07-21 20:18] vitek-karas commented on #39707
Then we should not blame the warning but rather the attribute.

There are 3 options depending on who the user is:
* Us - we can remove the CompilerGeneratedAttribute from the list of attributes to be removed - that said if I remember correctly this one saved a lot of size (as it's apparently all over the place) - but if we think removing it is too dangerous...
* Library authors - just like any oth

[2020-07-21 20:19] csteegz commented on #39590
I'll disagree about "Not very common scenario" and the <=3.1 amount of code not being bad (it's not the amount of code, it's the documentation and general skittishness about writing security code), but the 5+ apis are excellent. I'll look into opening an issue or PR in the API-docs repo.

[2020-07-21 20:19] #39590 closed

[2020-07-21 20:25] tarekgh commented on #39723
@kunalspathak thanks for the info. please update the issue when you have more news. I was asking because I am already looking at some perf issues related of using ICU.

[2020-07-21 20:35] campersau opened #39760 "Blazor WebAssembly HttpClientHandler "Supports*" properties regressions in 5.0.0-preview.7.20365.19"
### Describe the bug
Before upgrading to `5.0.0-preview.7.20365.19` the following `HttpClientHandler` properties returned `false` as they are not supported on wasm:
- `SupportsAutomaticDecompression`
- `SupportsProxy`
- `SupportsRedirectConfiguration`

which was useful to feature detect and avoid `PlatformNotSupportedException`s thrown by their corresponding properties:
- `AutomaticDecompression`

[2020-07-21 20:35] WCLucas42 commented on #39706
Confirming this is intentional and persistent, I updated my code to just use an XML document and I have it working in our development environment.  I would agree nobody in their right mind should be doing what I am doing here. So, other than a little grumbling this came down as a patch, this isn't an issue for me.

[code]

[2020-07-21 20:40] KalleOlaviNiemitalo commented on #39624
That is unfortunate. I'll use [Microsoft.CodeAnalysis.BannedApiAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.BannedApiAnalyzers), then.

[code]

[2020-07-21 21:35] jkotas commented on #39734
cc @terrajobst @ericstj

Related: https://github.com/dotnet/runtime/issues/28285

[2020-07-21 21:50] DrewScoggins opened #39740 "[Perf -31%] PerfLabTests.EnumPerf (2)"
### Run Information

Architecture | x64
-- | --
OS | Windows 10.0.18362
Changes | [diff](https://github.com/dotnet/runtime/compare/a4a49f07fbf986d496ef57521e76b22caaf9bfb3...ccd701fe23f236755650af3ce3d9ab6bdd8a4af9)

### Regressions in PerfLabTests.EnumPerf

Benchmark | Baseline | Test | Test/Base | Modality | Baseline Outlier
-- | -- | -- | -- | -- | --
ObjectGetType | 1.25 ns | 1.67 ns | 1.33 |

[2020-07-21 21:51] #39740 closed

[2020-07-21 21:55] am11 commented on #28114
In case of Unix, `bash` for instance has `--norc` and `--noprofile` args, which can be implied with:

[code]

[2020-07-21 21:58] RubenMateus commented on #27665
any news on this? will it enter in any release?

[2020-07-21 22:08] #39100 closed

[2020-07-21 22:10] blowdart commented on #39706
Well now I'd never accuse customers of not being in a right mind. In public.

I'm glad you're up and running, so I'll close the issue (which didn't really apply, because this is for .net core, rather than framework), but I'm glad you opened it nevertheless because it's interesting to see how people are using dataset and datatable in unexpected ways.

[2020-07-21 22:10] #39706 closed

[2020-07-21 22:15] karelz commented on #39442
@HASSEN-MEDDEB-ATOS I am a bit concerned how you compare the requests between bash and C# -- the above comment https://github.com/dotnet/runtime/issues/39442#issuecomment-660584325 demonstrates they are not exactly the same.

Given that it does not make sense for the server to tell the difference between client when the requests are EXACTLY (byte by byte) same, it is most likely some problem in yo

[2020-07-21 22:15] #39442 closed

[2020-07-21 22:17] karelz commented on #39014
Closing for now as it is not actionable. We need a minimal repro we can run locally without code that is not needed to provide any further advice or help.
Feel free to reopen when you have standalone minimal repro available. Thanks!

[2020-07-21 22:17] #39014 closed

[2020-07-21 22:29] karelz commented on #39011
@BrennanConroy I think we missed that part during our discussion based on what everyone remembered.
Are those 2 lines in HelloWorld app sufficient to reproduce it? How do I set up server to run against? Is HelloWorld ASP.NET server enough? Or does it have to be SignalR?

[2020-07-21 22:31] ericpincus commented on #39627
Thank you @scalablecory - IEnumerable is an acceptable workaround for my purposes.

[2020-07-21 22:31] #39627 closed

[2020-07-21 22:33] BruceForstall commented on #38847
It failed again in outerloop:

https://dev.azure.com/dnceng/public/_build/results?buildId=739871&view=ms.vss-test-web.build-test-results-tab&runId=22913462&resultId=110543&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

`CoreCLR Windows_NT x86 Checked no_tiered_compilation @ Windows.10.Amd64.Open`

[2020-07-21 23:02] josalem commented on #38847
I think we should turn this test off for Windows x86 until I can diagnose what this issue is.

[2020-07-21 23:07] BrennanConroy commented on #39011
SignalR not required, just a simple Server with Windows Auth enabled. You can use the app provided in the original comment and just hit the base url endpoint.

[2020-07-21 23:08] trylek opened #39742 "JIT assert "operand->gtUseNum == -1" in Crossgen2 composite framework compilation"
Example run:

https://dev.azure.com/dnceng/public/_build/results?buildId=739393&view=logs&j=51b3a21a-09ba-511f-aa9a-61ddd88da4cb

Platform:

<code>Unix x64 (reproes neither on Windows x64 nor on Linux arm64)</code>

Repro command:

<code>src/coreclr/build-test generatelayoutonly composite</code>

(As this is an assertion failure, it requires Debug or Checked build of CoreCLR to repro.)

Call stack

[2020-07-21 23:14] #39631 closed

[2020-07-21 23:28] reflectronic opened #39744 "Add MeasureDriverString/DrawDriverString functionality to System.Drawing"
### Background

There are a couple of APIs related to advanced text drawing in GDI+. These APIs, MeasureDriverString and DrawDriverString, allow complete control over the appearance of text: layout, formatting, etc. For whatever reason, these APIs were left out of System.Drawing. This is in the same bucket as the previous CachedBitmap proposal (#36105) of features originally in GDI+ but were (perh

[2020-07-21 23:37] MgSam commented on #31580
@stephentoub

Actions speak louder than words. Rx and Ix have been 3rd class citizens for years. For anyone who does the most basic Google search they'll find ancient documentation for Rx v1 much of which is wrong. `introtorx.com`, one of the top results, was last updated in 2015.

Every .NET Core release you write an enormous blog post detailing the performance and other enhancements going into .

[2020-07-21 23:38] BruceForstall commented on #38847
Only x86? I see a very recent Windows x64 timeout failure here:

https://dev.azure.com/dnceng/public/_build/results?buildId=740028&view=ms.vss-test-web.build-test-results-tab&runId=22919092&resultId=102835&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

[2020-07-21 23:40] eerhardt opened #39745 "Annotate DependencyInjection to make it linker friendly"
The DependencyInjection library uses IL Emit and Reflection in order to create service implementations. However, this isn't linker friendly because the ILLinker will trim the constructors from these types, since it doesn't know anyone is using them.

We should annotate the DependencyInjection library with `DynamicallyAccessedMembers` attributes, so the ILLinker knows to preserve the constructors c

[2020-07-21 23:42] abhaycashikar opened #39746 "Overload Console.Write and Console.WriteLine to take ConsoleColor as a parameter"
(I was directed to repost [this feature request](https://github.com/dotnet/csharplang/issues/3711) here.)
I'm trying to create a user-friendly command-line application, and as such I wanted to color my output to the console. However, I found myself frequently writing code like this:
[code]
I thought it might be a lot easier for `Console` to have an overload on `Write` and `WriteLine` that takes in

[2020-07-22 00:02] Stryxus opened #39757 "Blazor WebAssembly Client cant create WebSockets in Preview 7"
After upgrading my Blazor WebAssembly Client project to .NET 5 Preview 7, ClientWebSocket doesnt seem to connect at all via .ConnectAsync()

No websocket appears in the browsers dev tools network list and yes, the servers socket is live, iv connecting to it manually.

How to reproduce?
Simply create a ClientWebSocket and connect it to a websocket receiver (In my case was ws://localhost:5000/state)

[2020-07-22 00:50] danmosemsft commented on #39746
@abhaycashikar thanks for the suggestion. Could you please edit your suggestion above to follow the format here: https://github.com/dotnet/runtime/issues/new?assignees=&labels=api-suggestion&template=02_api_proposal.md&title=
(you don't need to create a new issue)

Making it explicit and formatted like that will help us review it.

[2020-07-22 01:20] jnm2 commented on #27665
I recently learned that Distinct has a documented guarantee that values will be returned in the original order in which they are seen, but GroupBy documentation explicitly does not guarantee that groups will be returned in the original order in which each key was first seen.

[2020-07-22 01:26] abhaycashikar commented on #39746
Hi @danmosemsft, I apologize for not using that formatting initially! I've edited the issue to match it now, with the exception of the diff block in Proposed API (I thought it didn't really make sense since it would just be all additions).

[2020-07-22 01:36] Anipik commented on #35284
that sounds good to me.

[2020-07-22 01:36] danmosemsft commented on #39746
@abhaycashikar looks good...could you add that diff block although it's just an add? That helps the review process.

[2020-07-22 02:12] abhaycashikar commented on #39746
Sure, no problem.

[2020-07-22 02:55] JinShil opened #39756 "Cannot find `libSystem.Security.Cryptography.Native.OpenSsl` assembly when using Roslyn in Blazor WASM"
### Describe the bug
I am using Roslyn (e.g. Microsoft.CodeAnalysis.CSharp.*) in a Blazor WASM project.  My code was working fine in 3.2, but after upgrading to 5.0-Preview7, I now receive the following runtime error when calling `SemanticModel.GetDiagnostics()`.

[code]

### To Reproduce
In a Blazor WASM .Net 5.0-Preview7 project, add references to latest C# Roslyn compiler assemblies, and invoke

[2020-07-22 03:10] jkotas commented on #34023
Failed in #39717

[2020-07-22 03:18] Lydia-Shi opened #39872 "[DesignOnly] attribute not supported for extender properties"
* .NET Core Version:
5.1.100.rc.1.20371.1

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
Extra '(Name)' property appears in Property Browser window for 'splitContainer.panel'
![image](https://user-images.githubusercontent.com/54019172/88128699-165a2580-cc09-11ea-8042-f0763a8d277c.png)

**Expected behavior:**
No (Name) property appears in Property Browser w

[2020-07-22 03:19] Turnerj commented on #36621
Just tested out Preview 7, now with a related (but not the same) error.

[code]

CI Test Result: https://dev.azure.com/schema-net/Schema.NET/_build/results?buildId=776&view=logs&j=c7dcf16a-b484-548d-e1f9-8e1c62e0ef67&t=882dcaa3-8da3-56bd-4ce5-e13b1ad98e80&l=23

[2020-07-22 03:40] layomia commented on #36621
@Turnerj - do you have project/code sample that you can share that can repro this error?

[2020-07-22 04:33] pranavkm commented on #39756
/cc @marek-safar

[2020-07-22 04:33] pranavkm commented on #39757
/cc @lewing \ @marek-safar

[2020-07-22 04:41] lewing commented on #39757
wasm WebSocket support isn't in in preview7, it will be in preview8

[2020-07-22 04:43] glihm opened #39758 "HttpClient throws InvalidOperationException for two very different reasons"
Link to the file of interest: [HttpClient.cs](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.cs)

## Background and Motivation

Currently, HttpClient throws `InvalidOperationException` in two cases:

1. Inside `CheckRequestMessage` function, if the message was already sent.
2. Inside `PrepareRequestMessage` function,  if the `requestUri`

[2020-07-22 04:45] Turnerj commented on #36621
@layomia - that latest error was generated by the latest commit in this PR: https://github.com/RehanSaeed/Schema.NET/pull/100

The test that failed in the latest error was this one: https://github.com/Turnerj/Schema.NET/blob/5df8731a317c5173a1ace4870188ef82b270c95a/Tests/Schema.NET.Test/core/ItemListTest.cs#L59-L63

My various other comments earlier about IL errors are also from the same PR on ear

[2020-07-22 05:06] safern commented on #38138
We just hit this:
https://dev.azure.com/dnceng/public/_build/results?buildId=740369&view=results

https://helix.dot.net/api/2019-06-17/jobs/9648d2d9-73e9-422c-a883-accac6f7badb/workitems/release.Partition19/files/MSBuild_CommTrace_PID_26670.txt
https://helix.dot.net/api/2019-06-17/jobs/9648d2d9-73e9-422c-a883-accac6f7badb/workitems/release.Partition19/files/MSBuild_CommTrace_PID_27745.txt
https://

[2020-07-22 05:10] tommcdon opened #39759 "Stackwalking using ICorDebug fails on Linux dumps"
### Description:

https://github.com/dotnet/coreclr/pull/28035 Changed the layout of several types used in the DBI. The code to verify these layouts was only enabled on Windows. Therefore these layout changes were not detected and the TargetTypes/DataTargetReader code responsible for binary translation was not updated.

This results in ICorDebugStackWalk::GetFrame() returning CLDB_E_FILE_CORRUPT

[2020-07-22 05:11] pranavkm commented on #39760
cc @lewing \ @kjpou1

[2020-07-22 05:13] tommcdon commented on #39759
Draft PR fix for this issue: https://github.com/dotnet/coreclr/pull/28063

[2020-07-22 05:28] danmosemsft commented on #34023
@maryamariyan please fix or disable

[2020-07-22 05:53] vahida commented on #39546
H @scalablecory , Thanks for the reply. Please find attached the result after applying your suggestion.
![Capture](https://user-images.githubusercontent.com/6835254/88139615-69e16900-cc33-11ea-84b8-a02b01e73804.JPG)
![Capture1](https://user-images.githubusercontent.com/6835254/88139627-6d74f000-cc33-11ea-9591-9df43a3eb7d2.JPG)

[2020-07-22 06:32] heggi opened #39762 "Could not load assembly on published project"
### Description

Project builded, but can not run with error:
[code]

If I downgrade SDK to 3.1.201 and leave runtime at 3.1.6 - works fine.

From .deps.json file:
[code]

Project file:
[code]

### Configuration

[code]

[2020-07-22 06:45] secana opened #39776 "Blazor WASM: Update to .NET 5 Preview 7 breaks app"
### Describe the bug

After the update of my Blazor Webassembly application I get an empty page and the following error: `System.DllNotFoundException: libSystem.Security.Cryptography.Native.OpenSsl assembly:<unknown assembly> type`

This breaks the complete application such that an update to .NET 5 Prev 7 is currently not possible.

### To Reproduce

Use .NET 5 Preview 7 for a Blazor WASM app and

[2020-07-22 07:21] DrewScoggins commented on #38138
Here is another instance of this.

https://helix.dot.net/api/2019-06-17/jobs/8ead7b32-0a3b-439d-a3f2-902b8b23fed5/workitems/release.Partition18/files/MSBuild_CommTrace_PID_16652.txt

https://helix.dot.net/api/2019-06-17/jobs/8ead7b32-0a3b-439d-a3f2-902b8b23fed5/workitems/release.Partition18/files/MSBuild_CommTrace_PID_14970.txt

https://helix.dot.net/api/2019-06-17/jobs/8ead7b32-0a3b-439d-a3f2-902

[2020-07-22 07:52] WernerMairl opened #39764 "Host and Application Lifetime Notifications (order) Bug/Question"
# Description
Namespace: Microsoft.Extensions.Hosting.Internal
Class: Host
I'm using current (3.1.xxx) Hosting Environment for a Winforms demo, and i have lot of problems with the Host and Application shutdown.

I found one one place in the source code that may the reason:

Source code file: [src/libraries/Microsoft.Extensions.Hosting/src/Internal/Host.cs](https://github.com/dotnet/runtime/blob/ma

[2020-07-22 07:53] m10k commented on #2129
@dagood thanks for the heads-up - At the end of the day, that's actually where our tarballs are coming from! :)
The only issue I have experienced with those tarballs is that, during the build process, our build system is recognized as Asianux, and the prepackaged bootstrap cli subsequently stumbles over the missing asianux rid in the graph - which is the reason I opened this issue. If I remember c

[2020-07-22 07:58] KalleOlaviNiemitalo commented on #39746
If you have source code that calls this method, but compile it against a target framework that does not have the method, then overload resolution chooses [`WriteLine(string format, object arg0, object arg1)`](https://docs.microsoft.com/dotnet/api/system.console.writeline?view=netstandard-2.0#System_Console_WriteLine_System_String_System_Object_System_Object_), which unexpectedly treats the string

[2020-07-22 08:10] DrewScoggins commented on #39720
@tannergooding who mentioned that he thought there was some change in this space.

[2020-07-22 08:18] MichalStrehovsky commented on #39707
Would it make sense to hook up the attribute removal into the `--used-attribs-only` infrastructure in MarkStep?

* If we see an attribute that is of a "removable type", don't mark it, just add it into the lazily marked list.
* If the attribute type ended up getting marked (e.g. because there was a `typeof`), mark the attributes as well (this is what the `--used-attribs-only` does too, but the twis

[2020-07-22 08:18] gavnlh commented on #1390
I'm trying to connect to SQL Server Reporting Services to generate multiple PDF files (Invoices) without needing to display any UI - so just need the service connection to ReportExecution2005.asmx.  I have code that works fine in a Net Framework WinForms project, but cannot get it to work with Net Core 3.1 in a WPF project.

I've tried to use the method suggested at https://docs.microsoft.com/en-u

[2020-07-22 08:20] alefranz commented on #39664
Do you mean `{OriginalFormat}` to be an array?

Also a similar problem will arise not only with the format but also with properties, if you have for example multiple scopes with the same property name, or if a property as the same name of one of the keys used in the json, which practically became banned property name, unless the properties are moved in a dedicated object.

Serilog put the properti

[2020-07-22 08:24] KalleOlaviNiemitalo commented on #39746
I think the name of the string parameter should be `value`, for consistency with [`WriteLine(string value)`](https://docs.microsoft.com/dotnet/api/system.console.writeline?view=netstandard-2.0#System_Console_WriteLine_System_String_).

[2020-07-22 08:39] hopperpl opened #39765 "Pattern Matching ... is this a hidden feature, or not?"
I ran into an issue with a bson serializer.

    using System;

    object Array = new int[1];

    switch (Array)
    {
      case uint[] A: Console.WriteLine("this should not match!"); break;
      case  int[] A: Console.WriteLine("match"); break;
    }

I expected it to match `int[]`, but it matches `uint[]` first. That's utmost unexpected, to say the least.

Reordering the switch cases is not

[2020-07-22 09:27] vitek-karas commented on #39707
Yes - we could do that, that's a good idea. I filed https://github.com/mono/linker/issues/1378 to track that.

[2020-07-22 09:27] heggi commented on #39762
dotnet publish place Microsoft.Extensions.Logging.Abstractions.dll version 2.1.1,  but must be 3.1.6.
Manual replace dll with correct version do app running fine again.

[2020-07-22 09:32] fSharpMinor opened #39805 ".NET BCL error: System.Runtime.DateTime debug in win7 and win10 have a different."
# Issue Title

# General
IDE: vs 2019 preview 16.7.0 preview 4，SDK: .NET 5.0 preview 7 x86，if use win7 os to debug，Datetime DebugDisplay is : 2020/7/21 15:00:00, if use win10 os, DebugDisplay is : 2020/7/21 下午3:00:00，these two different text influenced some APIs(ToLongDateString \ ToShortTimeString...)

[2020-07-22 09:33] adams85 commented on #35962
@john-h-k FYI, plain `WaitHandle`s (including `ManualResetEvent`) can be wrapped with an awaitable `Task` by means of `ThreadPool.RegisterWaitForSingleObject` as it's shown by Stephen Cleary in his excellent [AsyncEx library](https://github.com/StephenCleary/AsyncEx/blob/v5.0.0/src/Nito.AsyncEx.Interop.WaitHandles/Interop/WaitHandleAsyncFactory.cs). For the moment, I follow this approach when I ne

[2020-07-22 09:53] John0King commented on #33618
@terrajobst I can not access youtube , could you  explain more on here ?

I see `XmlReader` is implement the `IDisposeable`  so  why it should not implement `IAsyncDisposeable`,

and which version of .net   I can use the `IAsyncDisposable` on `XmlWriter`

[2020-07-22 09:59] scalablecory commented on #39765
This happens because this code (what your switch compiles down to) tests as `true`:

[code]

This is the first time I've seen this with integer arrays so I'm not 100% certain about this but it may be a form of array covariance aka C#'s most unfortunate feature.

[2020-07-22 10:00] scalablecory commented on #39765
CC @jaredpar I can't seem to move this over to csharplang.

[2020-07-22 10:03] svick commented on #27665
@jnm2 Where did you see that? [The documentation for `GroupBy<TSource,TKey>(IEnumerable<TSource>, Func<TSource,TKey>)`](https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.groupby?view=netcore-3.1#System_Linq_Enumerable_GroupBy__2_System_Collections_Generic_IEnumerable___0__System_Func___0___1__) says:

So, at least this overload does guarantee the order. (Though not all overloads h

[2020-07-22 10:03] Noppey commented on #39296
Does this vulnerability also affect .Net core 2.2 applications?

[2020-07-22 10:20] heggi commented on #39762
Problem was with publishing two app in one directory (one project with two executable files)
One of projects (cli tool) has dependency Grpc.Net.Client, what has dep Microsoft.Extensions.Logging.Abstractions 2.1.1 and nothing any.
Sequential launch for each project `dotnet publish` replaced lib 3.1.6 with 2.1.1 (cli tool build lastest)
Previous versions of SDK don't replace libs with old versions.

[2020-07-22 10:21] #39762 closed

[2020-07-22 10:48] SingleAccretion commented on #39746
Linking as related: #34742. There was a lot of discussion in the reviews of that API about color, and the consensus was that BCL should consider adding some `StreamWriter`-type API for writing ANSI escapes and that's how color should be done in the future. Not that it invalidates these additions to `Console`, just another point in the bucket for `ANSIEscapesWriter`.

[2020-07-22 10:57] KalleOlaviNiemitalo commented on #39746
According to <https://github.com/PowerShell/PowerShell/issues/13071#issue-648596590>, PowerShell has prototyped [System.CommandLine.Rendering](https://www.nuget.org/packages/System.CommandLine.Rendering) for colors. However, that package is still in prerelease, lacks documentation, and is far more complex than the API being proposed here.

[2020-07-22 11:28] RichardVogelij opened #39785 "When migrating from 3.2 core to 5.0 preview 7 HttpClient PostAsJsonAsync code stopped working because BaseAddress property seems to be ignored"
HttpClient's PostAsJsonAsync ignores BaseAddress when passing a Uri - but does not ignore it when passing a string.

I set the BaseAddress property in my Main.cs like so:

```builder.Services.AddSingleton(sp => new HttpClient { BaseAddress = new Uri(builder.HostEnvironment.BaseAddress) });```

My code in a service is doing:

```var response = await _client.PostAsJsonAsync<TokenContainer>(new Uri("

[2020-07-22 11:38] genyx opened #39769 "Misbehaving RegionInfo.Name in net core vs net framework"
### Description

The string property RegionInfo.Name has different output on dotnet framework vs dotnet core. This seems to be a bug.

When using the string-parameter constructor like `new RegionInfo("de-CH").Name` in an dotnet core (3.1) app vs a framework app (4.8) the output is different.

According to the [doc](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.regioninfo.name?vi

[2020-07-22 11:54] Gnbrkm41 opened #39770 "`System.Half` doesn't generate correct ordered comparison results when both sides are negative"
### Description
The comparison methods / operators do not return the correct comparison result when both numbers are negative. For example, `-1 <= NegativeInfinity` returns `true`, when it is obvious that -1 is greater than `NegativeInfinity`.

### Configuration

The code likely isn't specific to a certain H/W or OS. There's only software implementations of those comparison methods.

### Regressio

[2020-07-22 11:56] Gnbrkm41 commented on #39770
cc @tannergooding

[2020-07-22 12:25] MaximLipnin opened #39771 "[wasm] System.Linq.Expressions tests fail with "System.BadImageFormatException : Method has no body""
While running on Browser WASM, several `System.Linq.Expressions` tests, invoking `Expression.Compile(true)`, fail with something like:
[code]
STR:
1. Set up prereqs to build for wasm/browser  ([docs](https://github.com/dotnet/runtime/blob/master/docs/workflow/building/libraries/webassembly-instructions.md))
2. Build for wasm/browser `./build.sh --arch wasm --os Browser --configuration release`
3.

[2020-07-22 12:31] dagood commented on #2129
Interesting, thanks for the extra info. 🙂 We have some extra validation we plan to do in source-build to make sure it works on distros that aren't in the upstream RID graph (https://github.com/dotnet/source-build/issues/297), but it seems reasonable not to try to tackle that yet. It might give us a head start if you can describe what you run into in that issue, actually.

I wouldn't expect any cha

[2020-07-22 12:37] ManickaP commented on #39648
Also add H2C remote server.
We should also probably move the test remote servers code somewhere into dotnet space, since it's still sitting in David's repo.

[2020-07-22 13:18] krishvoor commented on #13277
Team -
I am working towards enabling dotnet/runtime ( coreclr ) on Power Systems (ppc64le arch).

To get started with and keeping in view the nature of build process - the cross-compile option seems as the best fit - we need to supply an equivalent ppc64le debootstrap image via dotnet-buildtools-prereqs-docker - for that purposes  dotnet/dotnet-buildtools-prereqs-docker#346

[2020-07-22 13:22] WCLucas42 commented on #39706
In what little defense I can muster. The problematic code came from an MS supplied example.

And sorry about opening in the wrong repo this was the only reference I could find to the newly added call and I thought core made its way into all of the stuff at this point.

Thanks for the prompt replies.

[2020-07-22 13:24] ladipro commented on #38902
The root cause of the hang is https://github.com/dotnet/runtime/issues/39701

It's rearing its ugly head at this callstack:

[code]

The exception goes unhandled and the out-of-proc packet processing loop breaks.

Until the underlying  FCall issue is fixed, please try setting the `MSBuildUseLegacyStringInterner` environment variable to 1. This disables the code that calls `GCHandle.set_Target`, wh

[2020-07-22 13:53] tannergooding commented on #39770
CC. @jeffhandley, @pgovind

[2020-07-22 13:59] alnikola commented on #35088
@dotnet/fxdc It was decided to remove the connection limit from `SocketsHttpHandler` to make implementation a way of magnitude simpler. Thus, `SocketsHttpHandler` will get the same API as `WinHttpHandler`.

[code]

[2020-07-22 14:00] pranavkm commented on #39776
/cc @lewing

[2020-07-22 14:15] Symbai commented on #30083
Why has this been removed from 5.0 roadmap?! We can currently not deserialize any POCO class, as well as any class which has an interface. This is definitely not a minor issue as both is widely used. Its a blocking issue for anyone currently using Newtonsoft. And its a known issue since about a year, so there was plenty of time. I'm sorry to say but I'm disappointed if this is something we need to

[2020-07-22 14:27] bartonjs commented on #39776
Same problem, but different scenario, yeah.  This one is directly trying to use crypto.

[2020-07-22 14:43] akoeplinger commented on #39706
Would you mind linking to the example in case it is online? I assume we might want to take it down :)

[2020-07-22 14:51] WCLucas42 commented on #39706
I looked earlier, and checked my commit comments. No luck there…  I will look a little more.

Bill Lucas
IT Systems Architect / Senior Software Engineer
Blue Mountain Quality Resources, Inc.
(814) 234-2417 | WCLucas@coolblue.com
www.coolblue.com<http://www.coolblue.com/> | Connect with us!<https://www.linkedin.com/company/blue-mountain-quality-resources-inc-?trk=biz-companies-cym>

[cid:2020summit

[2020-07-22 15:18] GrabYourPitchforks commented on #39296
@Noppey 2.2 is no longer supported and we do not provide patches for it. See https://dotnet.microsoft.com/download/dotnet-core for the current support matrix.

[2020-07-22 15:18] Duke4848 opened #39780 "Request.HttpContext.Features.Get<IStatusCodeReExecuteFeature>() always returns null"
Please delete, made a mistake.

[2020-07-22 15:31] kzu opened #43483 "Provide default activity name value from [CallerMemberName] in ActivitySource.StartActivity"
The improvements up to [part 2](accepted/2020/diagnostics/activity-improvements-2.md) have made things substantially more usable for the Activity API. This is a small proposed improvement to introduce a sensible default activity name.

## ActivitySource.StartActivity

We currently require an activity `name` to be provided as the only required argument in `ActivitySource.StartActivity` overloads. F

[2020-07-22 15:35] eiriktsarpalis commented on #38966
I'm still not reproducing :/

![image](https://user-images.githubusercontent.com/2813363/88196505-2db10700-cc39-11ea-9b81-df8ede332d82.png)

@adamsitnik when you get back, would you be able to try and reproduce locally?

[2020-07-22 15:35] jkotas commented on #13277
Related discord channel: https://discord.com/channels/732297728826277939/732619640253055096

[2020-07-22 15:35] eerhardt commented on #943
Moving to 6.0 as this won't be completed in 5.0.

[2020-07-22 15:38] eiriktsarpalis commented on #39703
I feel that we should probably just update the docs to reflect the current behaviour. Changing the behaviour could break users.

[2020-07-22 15:40] GrabYourPitchforks commented on #39706
(Ed. note: I scrubbed part of the most recent comment since it contained personal contact information. Apologies if this was inappropriate.)

[2020-07-22 15:44] eerhardt commented on #36656
Closing since we've decided not to make these attributes available outside of `net5.0`. If a library needs to apply them in a down-level assembly, they can compile internal versions of these attributes into the library.

[2020-07-22 15:44] #36656 closed

[2020-07-22 15:45] eerhardt commented on #36526
Moving to 6.0 since this scenario isn't needed for Blazor WASM apps.

[2020-07-22 16:06] smoogipoo opened #39782 "Inefficient codegen when a lambda references an instance member"
### Description

We've recently encountered a method allocating even though there was no allocate-y code running. We've since tracked this down to the following:

IL shows the capturing lambda's `DisplayClass` always seems to be "allocated" as soon as the method is entered, but the JIT has the ability to control when the object is initialised. When the lambda captures `this`, the JIT is suddenly u

[2020-07-22 16:18] #35428 closed

[2020-07-22 16:28] danmosemsft commented on #39746
@abhaycashikar nit, the diff section would just look like
[code]
At this stage, we don't care about implementation.

As other folks pointed out above, this is not as simple an addition as it may seem 😄

[2020-07-22 16:28] mangod9 commented on #38981
This will be an effort to improve the compilation time for binaries when compiling with crossgen2. We are aware of some startup wins we can get in that scenario. but our current focus has been on building larger composites.

[2020-07-22 16:30] mkArtakMSFT commented on #39785
@lewing FYI

[2020-07-22 16:31] alexcovington commented on #39568
I've uninstalled/reinstalled the Windows 10 SDK again, now some pieces are building, but not the CoreCLR. I'm going to close this issue and open a new one with more specifics on those issues.

[2020-07-22 16:31] #39568 closed

[2020-07-22 16:33] josalem commented on #38847
Well, darn... That looks to be the same symptom.  I hadn't seen it on x64 yet.  It definitely seems more prevalent on x86.  I'll turn the test off for _all_ Windows legs, then spina draft PR with the tests turned back on to do further CI triaging.

[2020-07-22 16:38] smoogipoo commented on #12706
Just reporting in since I've recently changed dev environments, and I can now confirm the issue is reproducible on linux. Using my [sample code from above](https://github.com/dotnet/runtime/issues/12706#issuecomment-505745822)

| Platform (Runtime) | ns per invocation |
| ------------------- | ----------------- |
| Linux (.NET Core 3.1.0, Not attached) | 14ns |
| Linux (.NET Core 3.1.0, Attached)

[2020-07-22 16:40] joperezr commented on #37677
Closing as this is done now. Check initial comment for PRs that addressed each item.

[2020-07-22 16:40] #37677 closed

[2020-07-22 16:44] alexcovington opened #39787 "Cannot build CoreCLR on Windows"
I'm having trouble building the CoreCLR on Windows both in and outside of Visual Studio using the building workflow in the documentation.

Currently, whenever I run the command:

[code]

I get the error message:

[code]

The content of the error log file is:

[code]

I am able to build using the equivalent scripts in WSL, just not Windows. Any help would be appreciated.

[2020-07-22 16:46] gregg-miskelly commented on #12706
To be clear: calling Debugger.NotifyOfCrossThreadDependency while a debugger is attached is always going to be much much slower than when a debugger isn't attached on all platforms. I am actually surprising that it is as fast as your are seeing. #38736 tracks this.

This issue is about the fact that on macOS it is extra slow compared to Linux/Windows.

[2020-07-22 16:50] smoogipoo commented on #12706
I'm finding it's equally as slow on Linux as macOS. It's only fast on Windows.

Both my benchmarks above and the original issue which attempted to resolve this (https://github.com/dotnet/runtime/issues/10605) will confirm this.

[2020-07-22 16:50] ViktorHofer opened #39788 "Infrastructure - Rollout (September 2020)"
# Overview

We'll use this issue to announce planned Infrastructure changes that will impact the developer workflow in `dotnet/runtime`. Changes will be merged on the first Monday of the month (9/7). The target branch is master.

| Change |  Impact | Assignee |
| --- | --- | --- |
| https://github.com/dotnet/runtime/issues/38919 | Test build script path changes | @trylek |
| https://github.com/dot

[2020-07-22 16:51] gregg-miskelly commented on #12706
On Linux, did you attach a debugger to an already running process or launch?

[2020-07-22 16:52] smoogipoo commented on #12706
That was attached at launch.

[2020-07-22 16:53] gregg-miskelly commented on #12706
Sorry, I am not quite following what you mean. Is the target process a child process of the debugger?

[2020-07-22 16:54] daxian-dbw commented on #38966
@eiriktsarpalis I found the OutputEncoding may plays a role here. I added `Console.OutputEncoding = Encoding.UTF8` below to the original repro code, and now I can reproduce the issue in both cmd.exe and powershell core.

[code]

### Run from cmd.exe

#### paste "l –F" by right clicking:

![tabcom](https://user-images.githubusercontent.com/127450/88200987-c163e280-cbfb-11ea-800d-83347db788ed.gif)

[2020-07-22 17:02] vsfeedback opened #39790 "System.Text.Json.JsonSerializer.Serialize ignores JsonPropertyName on abstract properties"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1118138/systemtextjsonjsonserializerserialize-ignores-json.html)._

---
<p>Consider the following code:</p><pre>abstract class A
{
    [JsonPropertyName(&quot;id&quot;)]
    public abstract string Id { get; }
}

class B : A
{
    public override string Id =&gt; &quot;Value&

[2020-07-22 17:04] smoogipoo commented on #12706
Yes, it's a child process. However this is also replicable by attaching to an already running process.

[2020-07-22 17:07] daxian-dbw commented on #38966
@eiriktsarpalis Additional data point: I found this only reproduce in Windows Terminal. If I do the same in the conhost, then the 'EN DASH' character can always be captured as `[45 OemMinus 0]`, no matter launching `console.exe` from cmd.exe, or PowerShell core, or Windows PowerShell.

[2020-07-22 17:10] #39780 closed

[2020-07-22 17:11] YohanSciubukgian commented on #32954
Thanks @KalleOlaviNiemitalo, the alternative solution is working great.
The only downside is that the `BannedSymbols.txt` + the nugget installation have to be applied on each csproj.
Is there a way to apply the same behavior for a specific solution (.sln) ? or at Visual Studio level ?

[2020-07-22 17:13] AndyAyersMS commented on #39732
I'm going to mark this as future.

Passing large structs by value through layers of calls puts a premium on struct optimizations like copy prop and reverse copy prop; the jit is not proficient at these opts.

We should be able to extend the "tail call copy avoidance" change to optimize away the last of these; all we need is a call in tail position, not an actual tail call (see #33004).

SysV codeg

[2020-07-22 17:15] KalleOlaviNiemitalo commented on #32954
@YohanSciubukgian, yes, it can be done with a `Directory.Build.targets` file that applies to projects in all subdirectories. See <https://github.com/dotnet/roslyn-analyzers/blob/b9bd53c045a46a383f4a7affb2f4a75043de4167/src/Directory.Build.targets#L39-L42> for an example, although you'd have to change the `Version` attribute.

[2020-07-22 17:17] wfurt commented on #39720
hmm That lines up with #37546 on Jul 17. That change did not go through ncl.

[2020-07-22 17:20] krishvoor commented on #13277
This channel looks like a closed one - how can I request to be part of it ?

[2020-07-22 17:22] joperezr commented on #38782
If you are usihg SDK-style projects like the example I gave above for all ClassLibraryForPS, ClassLibrary_1, and ClassLibrary_2 then it should all just work. The reason is that when you use SDK style projects and PackageReference model, all of transitive dependencies will flow up to the consuming app, while if you are doing so via traditional MSBuild projects it won't so it is possible to hit issu

[2020-07-22 17:28] KalleOlaviNiemitalo commented on #39746
A developer writing

[code]

could expect that the third line is again blue on black. However, that is difficult or impossible to implement if `Console` is using [Console Virtual Terminal Sequences](https://docs.microsoft.com/windows/console/console-virtual-terminal-sequences) rather than the Win32 console API. It would just have to be documented.

[2020-07-22 17:29] stephentoub commented on #39270
Not really.  You can see all of our own accesses to Exception.Data here:
https://source.dot.net/#System.Private.CoreLib/Exception.cs,33f0ea57f71b3a1e,references
and its very little from the core libs.

[2020-07-22 17:44] jnm2 commented on #27665
Oh no, I had them exactly backwards! GroupBy preserves ordering and [Distinct does not](https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.distinct?view=netcore-3.1#remarks).

[2020-07-22 18:00] jkotas commented on #13277
Try https://aka.ms/dotnet-discord

[2020-07-22 18:09] maryamariyan commented on #39664
yes.

Thanks for trying out the preview. These are great feedback which should definitely be looked into.

Yes. Would you please add a separate issue to track this too?

[2020-07-22 18:10] tarekgh commented on #39769
@genyx this is intentional change we did since the .NET Core 1.0. returning the region name and not the culture name is the right behavior. could you explain more why this is a problem for you?

[2020-07-22 18:10] danmosemsft commented on #38138
Nothing jumps out to my eyes, but MSBuild folks know these logs better.

If they don't see it, I suggest
* Add more logging, possibly to `dotnet build` (MSBuildServer.cs eg) as well as to MSBuild eg have `ShutdownAllNodes()` log that it's entering, and list off each process it finds as it goes to connect to it.
* Change the logging to add UTC times, so they can be correlated with each other and th

[2020-07-22 18:11] tarekgh commented on #39769
We need to fix the documentation though.

[2020-07-22 18:15] #28683 closed

[2020-07-22 18:26] josalem opened #39792 "Rebrand Diagnostics Server"
I'll continue to think about the naming. I'm not attached to the specific ones I suggested but I do worry that the term "reversed server" isn't currently planned to show up anywhere else in the overall experience or documentation. I know we have used the phrase internally, but if it shows up in the public facing name I anticipate customers won't find it intuitive. In order to understand 'reversed

[2020-07-22 18:28] josalem commented on #39792
I like this idea. Essentially all the plumbing for multiple connections has already been done to enable the reverse scenario. This suggestion would simplify the semantics and make it easier to reason about for customers.

A couple sticky bits come with this though (we discussed some of these offline):

This change would allow different connections to request the suspend features. This would mean t

[2020-07-22 18:29] josalem commented on #39792
The word "port" as a noun is used in other areas of computing beside TCP (especially for physical hardware). In general, it just means some endpoint from which you can access (or provide) information when connected.

If you add support, for example, for getting diagnostics information over TCP ports rather than pipes/domain sockets, would you use the same environment variables? Something like "DOT

[2020-07-22 18:29] josalem commented on #39792
Yep!

This is fine by me. A couple nit questions to fully scout the naming:
1. Should it be DOTNET_DIAGNOSTIC_PORTS (removed the 'S' in DIAGNOSTICS)? I can't come up with technical reason why, but pronouncing the two words that end in 's' is harder. Is it just me?
2. I could imagine even if the runtime supports multiple ports that tools are under no obligation to do so. Anyone find it confusing if

[2020-07-22 18:44] tarekgh commented on #39769
I have created the doc PR https://github.com/dotnet/dotnet-api-docs/pull/4560 to fix the doc. @genyx I am closing this issue but feel free to respond back with any question. Thanks for your report.

[2020-07-22 18:44] #39769 closed

[2020-07-22 18:47] mangod9 commented on #37804
Closing based on analysis above.

[2020-07-22 18:47] #37804 closed

[2020-07-22 18:47] ericwj opened #39793 "`System.IO.Path` API's are too restrictive about the case of the `\\?\UNC\` prefix"
### Description

Windows and other .NET API's accept the `\\?\UNC\` prefix case-insensitively, but `System.IO.Path` requires it to be uppercase.

This just works in PowerShell 7.0.3 which is running on .NET 3.1.5:
[code]

But these are then in comparison wrong:
[code]

I have tested these through an Xunit test project as well, with the same results.

### Configuration

[code]

### Regression?

Pro

[2020-07-22 18:49] hypeartist commented on #39787
@alexcovington Try this:

`build.cmd -subset Clr -os Windows_NT -arch x64 -configuration Debug -runtimeConfiguration Debug`

[2020-07-22 18:53] wfurt commented on #32749
It also failed recently on Windows with CoreCLR.
[code]
or
[code]

this looks like dup of #34337
I did not see any Linux failure in last 90 days.

[2020-07-22 18:53] #32749 closed

[2020-07-22 18:54] mangod9 commented on #39701
@AntonLapounov could you please take a look? Not sure whether this needs to be assigned to codegen?

[2020-07-22 18:54] alexcovington commented on #39787
@hypeartist Same error.

[2020-07-22 18:56] josalem commented on #39792
I've come around on `Port` I think.  It collates the idea of a communication mechanism and a "location" to access the mechanism succinctly and in a recognizable manner to most users.

To your points, Noah:

1. I think `DOTNET_DIAGNOSTIC_PORTS` sounds better as well, but I don't know why.  Part of me wants to be consistent in how we name these things, but this is meant to rebrand the feature so we

[2020-07-22 18:58] vsfeedback opened #39794 "ConnectionStringBuilder returns invalid connection string"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1102653/connectionstringbuilder-returns-invalid-connection.html)._

---
OleDBConnectionStringBuilder returns ConnectionString such as:
"................. Data Source=""C:\Database.accdb"" ......................"

But oleDbConnection requires like this:
"................. Da

[2020-07-22 19:01] jkoritzinsky commented on #1765
@zealeyes can you post the struct definition that you're working with?

[2020-07-22 19:03] #38643 closed

[2020-07-22 19:06] danmosemsft commented on #39793
https://github.com/dotnet/runtime/blob/c87e75e8ef260ccc6e979f9df1cc012536ee036f/src/libraries/Common/src/System/IO/PathInternal.Windows.cs#L44-L45
https://github.com/dotnet/runtime/blob/c87e75e8ef260ccc6e979f9df1cc012536ee036f/src/libraries/System.Private.CoreLib/src/System/IO/Path.Windows.cs#L279
https://github.com/dotnet/runtime/blob/c87e75e8ef260ccc6e979f9df1cc012536ee036f/src/libraries/System.

[2020-07-22 19:10] danmosemsft commented on #38872
Missed this, excuse me.

I think it looks good -- would you mind breaking the diff into additions and subtractions? That isn't what we normally do but this is a bit special because the "subtractions" are internal. So they are irrelevant to API review, only to the implementer.

It would be good to either find a way to hit this (and ideally add a test) or remove it, so we can decide whether we need

[2020-07-22 19:10] jkoritzinsky commented on #33303
I've started a test official build to see if we can re-enable it: https://dev.azure.com/dnceng/internal/_build/results?buildId=741875&view=results

[2020-07-22 19:10] mangod9 commented on #39599
Assume this means we have to conditionally compile using constexpr only on Linux?

[2020-07-22 19:14] DrewScoggins commented on #38138
OK, we can add the node reuse disable for now.

[2020-07-22 19:15] mangod9 commented on #13704
@ares128 could you please try to repro this on 3.1?

[2020-07-22 19:17] akoeplinger commented on #34023
@maryamariyan I think this is the result of different GC on Mono, we disabled some similar tests with the `PlatformDetection.IsPreciseGcSupported` which returns false on Mono. The same should be done with this test.

[2020-07-22 19:17] danmosemsft commented on #38872
Some other low value comments
- some refer to XXXNamedReference, some to XXBackReference. I think named backreferences are still backreferences?
- some describe the problem eg ShorthandClassInCharRange, InsufficientOrInvalidHexDigits, AlternationHasTooManyConditions and some the broken rule eg NestedQuantifiersMustBeParenthesized, AlternationCannotHaveComment, ExclusionGroupMustBeLast. Maybe it sh

[2020-07-22 19:20] joshlang opened #39795 "In JsonConverter, .Skip() throws, but .TrySkip() never returns false during DeserializeAsync"
Details here:  https://stackoverflow.com/questions/63038334/how-do-i-handle-partial-json-in-a-jsonconverter-while-using-deserializeasync-on

Essentially, calling `.Skip()` in my custom `JsonConverter<T>` during a `DeserializeAsync<T>(stream, ...)` throws `InvalidOperationException: Cannot skip tokens on partial JSON. Either get the whole payload and create a Utf8JsonReader instance where isFinalBl

[2020-07-22 19:21] mangod9 commented on #12145
Old issue, closing out.

[2020-07-22 19:21] #12145 closed

[2020-07-22 19:21] vcsjones commented on #39713
Node, to my knowledge, does not use the OS trust store. My understanding then is that you need to export the developer certificate as a X509 certificate, then specify [`NODE_EXTRA_CA_CERTS`][1].

I don't know the best way to get a DER or PEM encoded version of the developer certificate, but since you are on Windows you should be able to find it in the certificate store, and export it from there.

[2020-07-22 19:24] mangod9 commented on #13590
Hello @softwaretirol, @TheMinefighter would it be possible to provide a dump for this issue? Also what version of .net core does this repro on? Thx

[2020-07-22 19:28] joshlang commented on #39795
Looking through source, I see "Skip" is not even attempted if a non-final block is passed in.  I was expecting the logic to be basically `if (!TrySkip()) { throw new Explosion(); }`.  Looks like I was wrong.

[2020-07-22 19:28] #39795 closed

[2020-07-22 19:30] hypeartist commented on #39787
Yeah. My bad. Sorry. Just pulled the current tree and got build error too. Strange. Worked for me before.

[2020-07-22 19:31] abelbraaksma commented on #38872
I've tested a handful of them while going over each error and generally they appear correct. Not sure whether they remain correct for, let's say multi-line regexes littered with comments and irrelevant whitespace and the like. When implementing this change we may add a few more tests to that effect?

@danmosemsft  I'm not sure I understand. There have been no additions to the `enum`, only changes

[2020-07-22 19:36] mangod9 commented on #11003
@tannergooding @AaronRobinsonMSFT triaging through old .net 5 issues. Is this something which is critical for 5?

[2020-07-22 19:36] danmosemsft commented on #38872
I'm suggesting to just have the "adds". That's all they need to review. When implementing it, it will be easy to figure out which corresponds to which existing entry.

For XXXreference - what you have is fine by me if you think it's best.

I wasn't clear, I meant if you have UnrecognizedControlCharacter should it be ShorthandClassInCharacterRange ? Naming guidelines also say to avoid contraction.

[2020-07-22 19:39] abelbraaksma commented on #38872
Totally misunderstood "contracts" here in the meaning of "abbreviates" or "shortens". Got it. Will fix.

[2020-07-22 19:41] #39342 closed

[2020-07-22 19:45] echesakovMSFT commented on #39581
The following is the minimal setup to reproduce the issue

[code]

[2020-07-22 19:47] abelbraaksma commented on #38872
@danmosemsft, something like how it is now? I just edited it. I still have to go over some other naming suggestions, but they require a moment of thought.

[2020-07-22 19:49] mangod9 commented on #38626
@jkotalik do you have steps to repro? Will move to .net 6 as well since doesnt seem critical for 5?

[2020-07-22 19:56] mangod9 commented on #11117
Closing this issue since this is old. If this still repros please reactivate.

[2020-07-22 19:56] #11117 closed

[2020-07-22 19:57] tannergooding commented on #11003
It isn't and isn't something we can fix either; it is a bug in the MSVC compiler when fp:fast is specified.

[2020-07-22 20:00] alexcovington commented on #39787
@hypeartist No worries! I'll wait for a fix and pull then.

[2020-07-22 20:04] danmosemsft commented on #38872
Yup, looks good - although they are all "adds" from the API review point of view

[2020-07-22 20:04] mangod9 commented on #11003
ok thanks for the info. Should it be moved to a different area than vm-coreclr? Will move to 6 for now.

[2020-07-22 20:04] gregg-miskelly commented on #12706
What debugger are you using? Are you testing exceptions or NotifyOfCrossThreadDependency? Are you in a container? Or is this a VM?

On Linux, the runtime will try to use the Linux APIs to read memory from another process, which should give a significant performance advantage, but only for launch, and only if PTrace is enabled.

[2020-07-22 20:05] jkotas commented on #39599
Or move the static data to the .cpp files and stop depending on these fancy features that do not work...

[2020-07-22 20:05] saucecontrol commented on #31292
Looks like there are HWIntrinsics implementations for all applicable benchmarks now.  n-body was the last I remember being very slow, and it's now in line with other language/platform implementations.

[2020-07-22 20:07] mangod9 commented on #12638
Might be worth checking if this still repros

[2020-07-22 20:26] CyrusNajmabadi commented on #38872
Quick question: who is this API intended for?  i.e. is there an existing customer asking for this?  I ask because I think it would make sense for that customer to actually vet this and confirm this will solve whatever use case they had in mind here.  Thanks!

[2020-07-22 20:27] BeastLe9enD opened #39798 "Advanced Embedding API in .NET5 like Mono"
## Background and Motivation
In recent years, .NET has established itself in the gaming world. Many game engines like Unity or CryEngine use .NET for scripting entity components and other gameplay related stuff.

This was made possible using the mono runtime, which Unity and CryEngine use. It offers a diversified embedding API with detailed methods that provide precise access to the CLR and all re

[2020-07-22 20:28] abelbraaksma commented on #38872
@CyrusNajmabadi, I'm one such customer, and I do have a strong use case for this (a language compiler that supports regexes, in my case XPath). And there have been a few requests here and there, I assume they're listening in.

[2020-07-22 20:32] ares128 commented on #13704
sorry,my base code has changed. and the problem on longer occurred since i removed the trystartnogcregion. so i cannot test it anymore.

Get Outlook for Android<https://aka.ms/ghei36>

[2020-07-22 20:33] danmosemsft commented on #31292
Thanks @saucecontrol .

Looking at the [list](https://benchmarksgame-team.pages.debian.net/benchmarksgame/fastest/csharp.html) we are slower than Java only on reverse-complement. Could that use intrinsics?

https://benchmarksgame-team.pages.debian.net/benchmarksgame/program/revcomp-csharpcore-6.html

[2020-07-22 20:34] zMarlonYT commented on #39798
Very good ideas 👍

[2020-07-22 20:34] CyrusNajmabadi commented on #38872
I don't know what that means :)

Could you clarify how you intend to do that here?  Thanks! :)

[2020-07-22 20:40] CoffeeFlux commented on #39756
Seems like a loader or build problem? The runtime can't find OpenSSL. cc: @lewing @kg

[2020-07-22 20:46] 333fred opened #39799 "ImmutableArray.CastUp and Cast should be annotated with `class?`"
### Description

https://github.com/dotnet/runtime/blob/master/src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray_1.Minimal.cs#L327
https://github.com/dotnet/runtime/blob/master/src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray_1.Minimal.cs#L347

Both of these methods are annotated as `where TOther : class`. However,

[2020-07-22 21:07] saucecontrol commented on #31292
Oh yeah, looks like there's a [relatively new C++ version](https://benchmarksgame-team.pages.debian.net/benchmarksgame/program/revcomp-gpp-2.html) that uses a clever SIMD LUT implementation.  It's quite a bit faster than the others, despite being single-threaded.

[2020-07-22 21:15] mangod9 commented on #13704
Ok, thanks for the update -- will close this issue for now. Please reactivate if you see it again.

[2020-07-22 21:15] #13704 closed

[2020-07-22 21:16] Jaykul commented on #39746
I don't think it's worth the risk to add 16 color support to the Console api when we should be adding 16 million color support.

@KalleOlaviNiemitalo is on the right track here, the [Windows Console supports RGB colors](https://docs.microsoft.com/en-us/windows/console/console-virtual-terminal-sequences#extended-colors) now, and does *not* support controlling those colors through the Win32 API. The

[2020-07-22 21:23] SingleAccretion commented on #39746
That's a little harsh in my view. `System.Console` is widely used and widely known to be useful, so any improvements there will have the highest impact on the ecosystem.