[2020-08-15 22:34] layomia commented on #38939
@jamalabo1 - I couldn't repro any errors on .NET Core 3.1 or .NET 5.0 here given the issue description and the provided code samples. Please take a look at my repro to see if it correctly captures the scenario you have - https://dotnetfiddle.net/rm05JE.

I'm going to move this issue to future since it is not actionable as currently reported. We can triage again if needed. If your issue is not solv

[2020-08-15 22:59] mjsabby commented on #36849
So does .NET have its own resolution for dns to ip or does it use the glibc/musl API? We should actually follow what the Go community did and parse resolv.conf and not use glibc/musl at all.

Reason: https://github.com/kubernetes/kubernetes/issues/62628

The K8s world loves to add proxies and sidecars for many things, and they use iptables a lot. Combined with iptables and IPv6 being enabled, glib

[2020-08-15 23:19] bclothier commented on #3740
Would it be easier if you were given a IDL file and generate .NET types derived from the IDL which can be then implemented as interfaces? I'd rather be able to directly consume an IDL file which also would help guarantee ABI compatibility without getting lost in the marshalling quagmire.

[2020-08-15 23:40] mjsabby commented on #40892
@jkotas yes on both your comments. When you say piggy backing on the MemoryMappedFile set of APIs, are you proposing changing the namespace? I agree that the enums are valuable, but is there much more than that?

Perhaps you're thinking we could also support MAP_SHARED?

[2020-08-15 23:54] AndyAyersMS commented on #40061
No repros yet using 6ed1e41e590c4, 100 tries (each ~4 mins). Will queue up another set.

[2020-08-15 23:54] AndyAyersMS commented on #39393
No repros yet using 6ed1e41e590c4, 100 tries (each ~4 mins). Will queue up another set.

[2020-08-16 00:50] steveharter commented on #31326
Due to Ios policy, Reflection.Emit is not supported. The netstandard version of System.Text.Json needs to be used which uses standard reflection instead of Emit.

[2020-08-16 01:45] ericwj commented on #39370
I don't want `Directory.EnumerateFiles` to be case-sensitive, but context-sensitive. I don't see how that could be a breaking change since the situation where it matters could only have been encountered very recently with the introduction of that global switch which is off on most systems I presume - such that the context-sensitivity will always have it remain case-insensitive.

[2020-08-16 02:15] ericwj commented on #39300
Yes thanks for those links.

lol

Didn't know that `\\?\C:\foo` and `\\?\C:\foo.` would refer to different files. That is nasty.

What these don't say explicitly is that these paths with `\\?\` are also always absolute paths, so, considering everything I know so far, `\\?\.` would mean the root of the DOS device namespace - referring to whatever 'current directory' would mean there, which can neve

[2020-08-16 02:18] tommcdon commented on #32004
Moved this issue to internally tracked bug 1174100

[2020-08-16 02:18] #32004 closed

[2020-08-16 02:40] lewing commented on #40732
This isn't a runtime issue.   Sounds like something in blazor preview 7 linking wasn't including all referenced assemblies.

cc @pranavkm

[2020-08-16 02:59] FiniteReality commented on #40890
Personally, I think a better route would be to define a set of attributes and associated analyzers for transferring and retaining ownership of IDisposable instances, and have these IOC libraries respect them. That way, it's much easier to opt-in or opt-out and is likely more applicable on a larger scale.

[2020-08-16 03:04] davidfowl commented on #40890
The problem is it needs to be registration based not based on the type itself.

[2020-08-16 03:04] YairHalberstadt commented on #40890
@FiniteReality

One problem is that when using an IOC container, you need to make sure that not only the individual instance passed in is disposed, but all transient dependencies of that instance. There's no way to do that without a wrapper of some sort.

[2020-08-16 03:18] safern commented on #39285
@EgorBo might be worth adding these browser limitations into this doc? https://docs.microsoft.com/en-us/dotnet/standard/globalization-localization/globalization-icu

[2020-08-16 03:21] TimLovellSmith commented on #14032
@Jlalond Hence the proposal here, huh? I have no objection to heap based array implementation. I now recall the biggest objection I had versus selectors, is that its not easy enough to do priority updates *right*. A plain old queue doesn't have a priority update operation, but updating element priority is an important operations for many priority queue algorithms.
People should be forever thankful

[2020-08-16 03:24] jkotas commented on #40892
This functionality has large overlap with memory mapped files, so I do not see a problem with having it the same namespace as memory mapped files.

[2020-08-16 03:33] Turnerj commented on #40878
Interesting find @am11 - `OneOrMany<T>` does have an [implicit conversion from `T[]``](https://github.com/Turnerj/SchemaNet_SystemTextJson/blob/573830d5081fb2383fb26460c28dfce7bb4dda04/SchemaNet_SystemTextJson/Schema.NET/OneOrMany%7BT%7D.cs#L155) which (as far as I understand) would occur outside of System.Text.Json's understanding.

If I understand you right, you're saying that it didn't implicit

[2020-08-16 03:43] Jlalond commented on #14032
@TimLovellSmith Sorry Tim, I should've clarified the inheritance from `IDictionary`.

Do we have a use case where the priority would change?

I like your implementation, but I think we can reduce the replication of IDictionary Behavior. I think we shouldn't inherit from `IDictionary<>` but only ICollection, because I don't think the dictionary access patterns are intuitive,

However I do really th

[2020-08-16 04:16] am11 commented on #40878
I am getting `EntryPointNotFoundException` from `get_Count` with both netcoreapp3.1 and net5.0 preview 8 on macOS. To run your project with net5.0, I only applied this patch:

[code]

This is because the runtime type of `value` (on that line 111) is `string[]`, despite the fact that the compile time type of `values` is `IValues`.

I have not looked into internal mechanics on S.T.J, so I am not sur

[2020-08-16 04:32] am11 commented on #40878
Maybe because we are using different operating system (Windows, macOS)?

Btw, this mysterious EntryPointNotFoundException due to usage of generic structs has also been reported to roslyn repo few times: https://github.com/dotnet/roslyn/search?q=EntryPointNotFoundException&type=Issues. A self-contained repro is bit tricky but would be great to nib the bug.

[2020-08-16 05:07] Thealexbarney opened #40895 "FileVersionInfo.GetVersionInfo reports different versions depending on OS"
### Description
`FileVersionInfo.GetVersionInfo` will report different versions on Windows and Unix.

For example, the published NuGet package System.Runtime.CompilerServices.Unsafe v4.7.1 will report `4.700.20.12001` on Windows and `4.0.0.0` on Unix.

One effect of this is breaking deterministic builds when using a NuGet package where it happens.

[2020-08-16 05:30] Turnerj commented on #40878
I wonder if this occurs for other types then like `int?` or more complex types like `Uri`. Like, do you see anything different with this for example using `int?`?

[code]

For me, it is still the same error for the same configuration as in the issue description (.NET Core 3.1, S.T.J v5 Preview 7).

Interesting - this is the first I think Ive seen of an `EntryPointNotFoundException` - I feel like i

[2020-08-16 05:33] danmosemsft commented on #38872
Yeesh Msybe you can fix the env vars on your original machine by looking at the ones in your VM..

[2020-08-16 05:44] RaymondHuy commented on #1998
@Jozkee I have just had a look on this issue. My approach is to add a new property for storing elements of value collection type into `IListOfTConverter` class:
`[MaybeNull]`
`private TCollection listStruct;`
Inside the `CreateCollection` method, I will create an instance of this property if the `TypeToConvert` is value type and also modify the `Add` method:
[code]
Do you think it is a good approa

[2020-08-16 06:25] ayende commented on #40585
Maximum GC pause, yes.

The problem actually happened on a machine with 128GB of RAM, and the system was using maybe 6GB ?

[2020-08-16 06:56] YairHalberstadt commented on #29513
@bartonjs I'm wondering what the risks are for doing this?

[2020-08-16 07:16] MihaZupan opened #40896 "HttpTelemetry instrumentation for HTTP/3"
Newly added `System.Net.Http` [Telemetry](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Http/src/System/Net/Http/HttpTelemetry.cs) should be expanded to HTTP/3 in the future.

Explicitly disabled in #40839.

[2020-08-16 08:37] ayende commented on #40585
Another possibility that come to mind is that we have a GC pause because we have had gen0 collections that couldn't collect the values, since they were used during indexing.
That move them to Gen1/2, and make the collection harder.

[2020-08-16 08:39] Symbai commented on #40862
Extremely often developers also want to get the directory path instead. Yes I know this is a one liner from the new executable path propery but since we're discussing this proposal.  Would it make sense to add a property for this as well considering how often it is going to be used? (FYI: On Winforms there is `Application.StartupPath` besides the `Application.ExecutablePath`)

[code]

**Usage Exam

[2020-08-16 09:16] tommcdon commented on #40799
Resolved via #40799

[2020-08-16 09:16] #40799 closed

[2020-08-16 10:08] Happypig375 opened #40897 "Complex.Log(Complex value, Complex baseValue)"
## Background and Motivation

Currently, there are two overloads for Complex.Log, namely Complex.Log(Complex value) and Complex.Log(Complex value, double baseValue).

From https://en.wikipedia.org/wiki/Complex_logarithm#Logarithms_to_other_bases, the baseValue can be Complex and the current implementation of
[code]
will work just fine for this new overload.

It is unclear why baseValue is restrict

[2020-08-16 10:22] Symbai commented on #38636
https://github.com/dotnet/runtime/issues/40862 could help with this.

[2020-08-16 11:08] am11 commented on #40878
Tested with few alternatives (value types included) and it is throwing EntryPointNotFoundException on macOS for all T in `OneOnMany<T>`, with `netcoreapp3.1, OOTB preview 7 S.T.J` and `net5 preview 8 inbox S.T.J`. I have also seen it in other cases where AccessViolationException on Windows for the exact same code is something else on Unix-like OS with CoreCLR.

[2020-08-16 12:06] devsko commented on #40878
I had a look into the `ReflectionEmitMemberAccessor` that causes the problem in the description. The dynamically generated getter is of type `IValues` but leaves an `OneOrMany<string>` on the stack. Clearely this must go horrible wrong without boxing - what it does. It seems an additional `generator.Emit(OpCodes.Box, typeof(OneOrMany<string>));` solves the problem for this case.

[2020-08-16 12:26] Turnerj commented on #40878
Might explain why @am11 had `string[]` rather than `OneOrMany<string>` in the `Write` method. In `OneOrMany<T>`, the first property is a readonly array of `T` - wouldn't surprise me if it accessed that instead under certain conditions.

[2020-08-16 12:47] devsko commented on #40878
Yes, makes sense.

[2020-08-16 12:48] jakobbotsch commented on #40864
Here is this approach: https://github.com/jakobbotsch/runtime/commit/32570f252eab43973ce99ec0bb09de13e3e51687
It fixes Andy's case above and should be much more pay-for-play than doing it unconditionally. Also, it is pretty self-contained and should work with delegates and virtual calls for free. On the other hand I could not anything similar in the runtime and I don't know if this kind of inspect

[2020-08-16 12:49] am11 commented on #40878
Ran with checked build of CoreCLR, this assertion is failing:

[code]

with mono (built from same code revision as CoreCLR), it gives:

[code]

[2020-08-16 12:51] Zetanova opened #41353 "RijndaelManaged decrypt sometimes fails on the same cipher"
# Issue Title

My encrypt/decrypt with RijndaelManaged UnitTest In the CI/DI pipline failes sometimes.
with "Padding is invalid and cannot be removed."

# General

I tried to increase the test-iteration of encrypt/decrypt to reproduce the error on my developement machine
and they runs where all successful.

But still sometimes in the gitlab CI/DI system "Padding is invalid and cannot be removed."

[2020-08-16 14:00] klogeaage commented on #31326
@mc0re thanks for your comments, which led me to the solution: setting `PropertyNamingPolicy = System.Text.Json.JsonNamingPolicy.CamelCase` on the front-end. I don't set this on the back-end, but apparently Asp.NET Core does, which I guess makes sense as it results in more idiomatic JSON.

@steveharter so with the above change, I was able to get it working also on a physical iOS device, which is w

[2020-08-16 14:29] am11 commented on #40874
Also, `typeof(Program).Assembly.Location` and `.CodeBase` return same absolute path to the non-existent `zzz.dll`.

[2020-08-16 14:58] eiriktsarpalis commented on #40727
Addressed by #40851

[2020-08-16 14:58] #40727 closed

[2020-08-16 15:03] Gnbrkm41 commented on #40846
Looks like we might be able to use `mmap`<sup id="a1">[1](#f1)</sup>and `mprotect` to achieve something similar. Most of the logics seem similar enough so I could give this a go, if nobody is already working on it. (although admittedly I lack experiences with Unix)

<b id="f1">1</b> "POSIX says that the behavior of mprotect() is unspecified if it is applied to a region of memory that was not obtai

[2020-08-16 15:15] jkotas commented on #40864
I agree it will fix this problem. The potential problems with this change:
- It introduce performance regression when the instantiating stub is used in situations where tailcalls do not matter (e.g. delegates mentioned above)
- It may have unpredictable behavior for obfuscated IL that sometimes does not have fully well-formed IL stream

[2020-08-16 15:20] jkotas commented on #40864
Also, it may have GC hole for collectible types (not 100% about it). Is the hidden argument going to be reported to GC correctly to keep the collectible type alive when we are inside the tailcall dispatcher?

[2020-08-16 15:27] meziantou opened #79875 "CA1812 false-positive when type is used as a generic type"
### Describe the bug

CA1812 false-positive

### Steps To Reproduce

[code]

[code]

### Expected behavior

No diagnostic

### Actual behavior

It reports a diagnostic that is not appliable in the context

### Analyzer

**Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.0 (Latest)

**Diagnostic ID**: [CA1812

[2020-08-16 15:28] jkotas commented on #40862
`Application.StartupPath` on WinForms just returns `AppContext.BaseDirectory`. `AppContext.BaseDirectory` is virtualized and it is the right option in most situations where people want to look for files that are part of the application. I think is ok to write the extra code in the less common situations where you really want the actual process .exe path.

[2020-08-16 15:35] RamType0 opened #40900 "Question : What is the most performant way to represent constant System.Runtime.Intrinsics.VectorXXX<T>?"
When we want some constant vector,what is the most performant way?
(e.g. `static Vector256<int> Stair => Vector256.Create(1,2,3,4,5,6,7,8);`,
`static readonly Vector256<int> Stair =  Vector256.Create(1,2,3,4,5,6,7,8);`)
I hope it documented on MSDN.

[2020-08-16 15:40] charlesroddie commented on #40897
log(x) where x is complex: an arbitrary choice from a set `S={y:exp(y)=x}={k+2𝜋i n}`. This is a relatively simple set and the choice is understandable in terms of a branch cut. The answer will be some x for which exp(y)=x.

log_b(x) when b is real is very niche and probaly shouldn't have been part of the API, but doesn't add conceptual difficulties. It's just the set being chosen from is of the fo

[2020-08-16 15:44] eiriktsarpalis opened #40901 "[WSL1] Socket created on top of socketpair fd reported as not connected"
Creating this issue to document the root cause of #40727.

Wrapping a socketpair fd with a System.Net.Socket results in its `Connected` property being reported as false. The root cause seems to be this [`getsockopt` syscall](https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/Native/Unix/System.Native/pal_networking.c#L2522) which fails with an `EINVAL` er

[2020-08-16 15:45] jkotas commented on #40585
I sounds like you want to prepare the system for the GC before it actually kicks in. We have APIs like that already: https://docs.microsoft.com/en-us/dotnet/api/system.gc.waitforfullgcapproach?view=netcore-3.1#System_GC_WaitForFullGCApproach . I am not sure whether the existing APIs will work for your specific case, but APIs like this would be solution to the problem you are describing (assuming t

[2020-08-16 15:51] jakobbotsch commented on #40864
IMO, if the target method has explicit tail calls out of it, then the user has already declared that tailcalls do matter and the instantiating stubs should conservative about it. Otherwise it seems we won't be able to support higher order code relying on tailcalls. Again, not sure how academic this problem is.

Ok, I see. I don't know how to deal with this.

Hmm, I'm not too familiar with how this

[2020-08-16 15:52] gfoidl commented on #40900
Beginning with .NET 5 just use `VectorXYZ.Create` with constant values. E.g.
[code]
Then the JIT will emit a "constant" which is then loaded from memory.
https://github.com/dotnet/runtime/pull/35857 introduced that.

Before .NET 5 there are two patterns:
[code]
Or if the constant vector is of a type with size of one byte (so byte, sbyte, ...):
[code]
This version uses C#'s ability to read ROS from

[2020-08-16 15:58] am11 commented on #4558
Since .NET Core 3.1, it is returning `<NaN, NaN, NaN>` from both `Repro()` method. The [x64 disassembly](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIAYACY8gOgDkBXfGKASzFwBuGvSasAShwB2GXtxYBhCPgAOvADY8AyjwBu/GEJGNmLSTLkwWASRk8IKnVH1hDw6jQDEUjuvXZgTQYYKQDNGhEAZiZSBgUGAG8aBhTUtKZo5iQGADUYMAxoFAZxGBUoCAAKAEpk9JSk6nr6vIKihikIDDZsKQYAXg6YAHdc/MKoFEq6avdm9NaJ4tC+wakRsbbJyoAzdQh

[2020-08-16 15:58] am11 commented on #4558
Since .NET Core 3.1, it is returning `<NaN, NaN, NaN>` from both `Repro()` methods. The [x64 disassembly](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIAYACY8gOgDkBXfGKASzFwBuGvSasAShwB2GXtxYBhCPgAOvADY8AyjwBu/GEJGNmLSTLkwWASRk8IKnVH1hDw6jQDEUjuvXZgTQYYKQDNGhEAZiZSBgUGAG8aBhTUtKZo5iQGADUYMAxoFAZxGBUoCAAKAEpk9JSk6nr6vIKihikIDDZsKQYAXg6YAHdc/MKoFEq6avdm9NaJ4tC+wakRsbbJyoAzdQ

[2020-08-16 16:36] WhiteBlackGoose commented on #40897
@charlesroddie yes, unlike real-based logarithms, here you won't be able to change the branch. But as it's numerical, in most cases you really need *any* solution, exactly the same way as other multivalued functions work (say, square root or arc functions). Also, some other languages compute it the same way @Happypig375 proposed.

[2020-08-16 16:58] YairHalberstadt commented on #40862
I would like to use this for forking the current process - I've use that a couple of times for console applications.
For that purpose returning `dotnet` is not that useful - we want `myprogram.dll`.

[2020-08-16 17:21] jkotas commented on #40862
To start second instance of the current process, you need both `dotnet` and `myprogram.dll` (or even full command line - depends on what you want to do).

[2020-08-16 17:27] abelbraaksma commented on #38872
@danmosemsft the starting point is there, but I'll need a little help on how to proceed w.r.t. inline documentation (I assume that's supposed to be added here as well): https://github.com/dotnet/runtime/pull/40902.

[2020-08-16 17:31] jkotas commented on #40874
Related: #11305

[2020-08-16 17:35] charlesroddie commented on #40897
@WhiteBlackGoose what do you mean by "any solution". It's not exactly the same as other multivalued solutions as explained above: since the pseudo-equation `b^y = x` has many interpretations depending on which branch you use to interpret `b^y`.

In what circumstance would you need any solution to any of the interpretations of `b^y=x`?

[2020-08-16 19:34] devsko commented on #40878
Hi @layomia, I have a test and fix for this ready. Are you interested in a PR?

[2020-08-16 20:43] YeskaNova opened #40906 "[System.Text.Json] Converters aren't used when ReferenceHandler is set"
I have a custom converter to convert object to a more specific clr type. It works great, but if I set the ReferenceHandler ( to avoid some cyclic serialization ) it fails to deserialize.

Exception : System.InvalidCastException: 'Unable to cast object of type 'System.Boolean' to type 'System.Text.Json.JsonElement'.'
Version : 5.0.0-rc.1.20416.2

[code]

[2020-08-16 21:19] layomia commented on #40878
@Turnerj, thanks for the detailed repro.

@devsko, thanks for digging into this. Yes, please open a PR and I'll take a look.

[2020-08-16 21:59] Perksey opened #40908 "Fail nicely for non-blittable function pointer signatures"
## Overview
Today I spent too long debugging an error code of `-1073740940` only to find that my source generator wasn't manually marshalling string returns for function pointers like it's supposed to. This is fine because (eventually) I got to where I was going wrong, however the manor in which is failed was less than desirable.

## Actual Suggestion
To ensure noone experiences something like ton

[2020-08-16 23:53] Emzi0767 opened #40911 "Environment Variable configuration provider doesn't work if the prefix has 2 underscores"
### Description
Environment variable loader doesn't load variables if the prefix is set to a string with one or more double underscores.

The problem lies in the incorrect order of operations here: https://github.com/dotnet/runtime/blob/98eecc721d5ad27561fc4463eb521930c2d21a5f/src/libraries/Microsoft.Extensions.Configuration.EnvironmentVariables/src/EnvironmentVariablesConfigurationProvider.cs#L53

[2020-08-17 00:11] MihaZupan commented on #37428
Current list of implemented events and counters in `System.Net.*`:
Unless otherwise specified:
- Event level is `Informational`
- Counter type is `PollingCounter`

#### [`System.Net.NameResolution`](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.NameResolution/src/System/Net/NameResolutionTelemetry.cs)

Events:
- `ResolutionStart(string hostNameOrAddress)`
- `ResolutionStop

[2020-08-17 01:12] JulieLeeMSFT commented on #13837
That seems the best solution. We will skip transforming NEG when non negated operand is constant. Will check if bitwise shift pattern needs to be revisited where NEG was replaced with SUB pattern.

[2020-08-17 01:38] #37047 closed

[2020-08-17 01:55] mjsabby commented on #37919
While this issue talks about Linux, I just wanted to note that one of reasons for regression is the fact that OrdinalIgnoreCase for NLS has a call to `kernel32!FindStringOrdinal` in the jitted code vs in the ICU case, the call is to `GlobalizationNative_IndexOfOrdinalIgnoreCase` which has an indirect call ICU's toupper functions. So, there is no Control Flow Guard impact in the NLS case vs. the IC

[2020-08-17 02:04] apayero opened #40912 "Math.Pow only has overload of type double. It is important to include overload for decimal type."
Is not exactly an Issue but is important.

Math.Pow only has overload of type double. It is important to include overload for decimal type.

[2020-08-17 02:43] benaadams opened #40913 "CI: System.ArgumentException : The supplied System.Net.Internals.SocketAddress is an invalid size for the System.Net.IPEndPoint end point."
Libraries Test Run release coreclr OSX x64 Debug failed
[code]
https://helix.dot.net/api/2019-06-17/jobs/cbdca4c0-455d-445a-b4be-f66a996ae91b/workitems/System.Net.Sockets.Tests/console

Seen in https://github.com/dotnet/runtime/pull/40877

https://dev.azure.com/dnceng/public/_build/results?buildId=773532&view=logs&jobId=4724cd84-0a26-56bc-9b1d-ca1983f340b0&j=4724cd84-0a26-56bc-9b1d-ca1983f340b0&t=

[2020-08-17 03:32] apayero commented on #40912
Label not found, but is from:  System.Math

[2020-08-17 03:42] davidfowl commented on #27748
I think I've finally hit a scenario that shows how badly this behaves. I'm still gathering more data but it's looking like the shared array pool is a poor default for pipelines in some cases

[2020-08-17 03:53] v-haren opened #40916 "Test failure: JIT\\Methodical\\tailcall_v4\\hijacking\\hijacking.cmd"
failed in job: [runtime-coreclr outerloop 20200816.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=773466&view=ms.vss-test-web.build-test-results-tab&runId=24166582&resultId=108727&paneView=debug)

Error message
[code]

[2020-08-17 04:00] RevensofT opened #40917 "Is op switch bad performance or it just hard to use when compile code ?"
### Sample code
[code]

### IL compile from code
[code]

### What I think it should be
[code]
I thought op switch work like Pigeonhole sort or indexing array, should it better performance then conditioning each branch ?

[2020-08-17 04:10] danmosemsft commented on #40558
@nohwnd do you have an issue to update the dump name pattern here ? https://github.com/microsoft/vstest/blob/9394924dba5c3b6b84edb771ae8bc0e5ca405f93/src/Microsoft.TestPlatform.Extensions.BlameDataCollector/BlameCollector.cs#L14*

[2020-08-17 04:27] benaadams commented on #40917
Compiling in debug?

e.g. `dotnet build` vs `dotnet build -c Release`

Debug [sharplab.io](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBLANmgExAGoAfAAQCYBGAWAChyBmAAipYGEWBvBl/tq2wA7DCwDOAd2wYwACxhQAFCLEBJYQAcArhgCUfAb3oDTE6bLkslGnfsNmeDxwLABDcTBYAGEM5dm5ADsLJQArGEA3P4u7p4s1H4mAS7BCZQAHNHJKSxxXpRJufz5LExFxaZpTJTZlQQwAGZu2rhYMblpcNR1LgC+zgP0fUA=)
[code]

Release [sharplab.io](https://sharplab.

[2020-08-17 04:37] RevensofT commented on #40917
Thanks @benaadams , I see so it was out of update VB compiler cause this, I use ILadsm and recheck with Shapelab.io but not recheck with C# code.

### Original code
[code]

[2020-08-17 04:47] benaadams commented on #40917
Yeah the VB does generate that [sharplab.io](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AbEA3YaAuIAlhgD4CwAUFQA4CuwGRYABGBgIYDOXLAwlRZCWAMToA7MPiIRxLLgHci+MAAsYUABQBJcfXwsAgr134YAcw0BKIyfFnLUQcJcBlGBhhT+3GC136zi7BPlx+AAxBIdEASjD4dFByAEwArKlR0aF+AIyZWcJxCUksOckAHPkhfL4sySwAKhAsAMxVBUWJci3J7S41YSwAohhhfbHxXSxweZRZQ+IAJizunlJRC8tiktKyVJv8nDxAA); however its because of the `2 To 3`; which is using

[2020-08-17 04:54] RevensofT commented on #40917
Case 2 goto IL_002f, it will return -1 instead 32; VB can't go through like C#.

[2020-08-17 05:08] benaadams commented on #40917
Ah 😢 [sharplab.io](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AbEA3YaAuIAlhgD4CwAUFQA4CuwGRYABGBgIYDOXLAwlRZCWAMToA7MPiIRxLLgHci+MAAsYUABQBJcfXwsAgr134YAcw0BKIyfFnLUQcJcBlGBhhT+3GC136zi7BPlx+AAxBIdEASjD4dFByAEwArKlR0aF+AIyZWcJxCUksOckAHPkhfL4syVUFRYlyAMz1lAXCNWEsLQ1ZTSVt/V21AKIYPSMhg3JweR3RY+IAJizunlJRy2tiktKyVDv8nDxAA)

[code]

[code]

[2020-08-17 05:18] v-haren commented on #38518
failed again in job: [runtime-coreclr gcstress-extra 20200815.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=772850&view=ms.vss-test-web.build-test-results-tab&runId=24142742&resultId=108812&paneView=debug)

failed test: JIT\\Directed\\intrinsic\\pow\\pow3_cs_r\\pow3_cs_r.cmd

Error message
[code]

[2020-08-17 05:30] #40917 closed

[2020-08-17 06:08] karelz commented on #35126
Based on team discussion yesterday, we decided to punt it from 5.0 for now. The solution is more complicated than we thought with too high risk at this moment.

Summary of ideal solutions (in order of preference):
- A. Any strongly-typed header change is reflected by enumeration
- B. Any strongly-typed header change makes enumeration throw UnsupportedOperation Exception
- C. Any strongly-typed hea

[2020-08-17 06:15] karelz commented on #37428
@MihaZupan is there anything left, or should we close this issue as everything we planned is now implemented?

[2020-08-17 06:19] #37428 closed

[2020-08-17 06:33] ayende commented on #40585
I don't think that this is a correct way to express what I want.
I don't actually care when the GC is going to happen, only that it isn't going to cause a pause.
If I were to be notified that it is approaching, I would be able to stop the batch, but stopping the batch still means that I have to do some (non trivial) amount of processing.

That in turn means that it is likely that by the time the G

[2020-08-17 07:12] Gnbrkm41 opened #40919 "`./build.sh Clr+Libs` fails during crossgen"
Current `HEAD` is 0862d48, and this is after a `git clean -xdf`. I'm using Ubuntu 20.04 on WSL2, running on Windows 10 Pro Insider Preview Build 20190 (ko-KR).

`/home/gotos/source/repos/runtime/src/coreclr/crossgen-corelib.sh: line 29: /home/gotos/source/repos/runtime/artifacts/bin/coreclr/Linux.x64.Release/crossgen: No such file or directory`

Indeed such file/directory does not exist - There's

[2020-08-17 07:30] agocke commented on #3671
I'm no Mac notarization expert, but I thought that was what https://developer.apple.com/documentation/bundleresources/entitlements/com_apple_security_cs_disable-library-validation was for?

[2020-08-17 07:50] v-haren commented on #30184
failed in job: [runtime-coreclr libraries-jitstressregs 20200816.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=773164&view=ms.vss-test-web.build-test-results-tab&runId=24156390&resultId=141196&paneView=debug)

failed test: System.Resources.Extensions.Tests.PreserializedResourceWriterTests.StreamResources

Error message
[code]

[2020-08-17 07:56] philieu commented on #40288
@mangod9 Let me double check the configuration.

[2020-08-17 08:10] nohwnd commented on #40558
@danmosemsft I have a task for it in this issue https://github.com/microsoft/vstest/issues/2498, did not get to do it yet. I am 90% sure it is just that line of code.

[2020-08-17 08:38] vholmer opened #40922 "int.Parse("-1") throwing FormatException due to changed NumberFormat NegativeSign in .NET 5 preview 7"
### Description

In 5.0.100-preview.7.20366.6 it seems as if the following code throws a FormatException. However, if I pass CultureInfo.InvariantCulture to the parse function it seems to work.

From what I can gather NegativeSign for my NumberFormat was changed from "-" to "−", I'm not sure whether this is due to some change in preview 7. According to my region settings the negative sign is not "

[2020-08-17 09:22] #13522 closed

[2020-08-17 10:04] kirsan31 commented on #40512
Something must be really done with this, because in many cases assert info even not written to sys. log - simple app crash. I have used memory dump just to identify that crash was cause by assert :raised_eyebrow:

[2020-08-17 10:52] antonfirsov opened #40926 "Test failure: System.Net.Http.Functional.Tests.TelemetryTest_Http11.EventSource_ConnectionPoolAtMaxConnections_LogsRequestLeftQueue"
Failed in #40841:
https://dev.azure.com/dnceng/public/_build/results?buildId=773535&view=ms.vss-test-web.build-test-results-tab&runId=24166882&paneView=debug&resultId=104442

Configurations:
[code]

Stack Trace:
<details>

[code]
</details>

[2020-08-17 10:57] antonfirsov opened #40927 "Test failure: System.Security.Cryptography.X509Certificates.Tests.RevocationTests.TimeoutTests.RevocationCheckingDelayed(pkiOptions: OcspEverywhere)"
Failed in #40841:
https://dev.azure.com/dnceng/public/_build/results?buildId=773535&view=ms.vss-test-web.build-test-results-tab&runId=24166794&resultId=103289&paneView=debug

Configuration: `net5.0-Linux-Debug-x64-CoreCLR_release-Debian.9.Amd64.Open`

[code]

[2020-08-17 10:59] eiriktsarpalis commented on #40518
@stephentoub I will try to submit a PR making the change today. What are the other APIs I would need to update as well? Presumably the ones listed in #40481?

[2020-08-17 11:13] stephentoub commented on #40518
Those are the only ones I'm aware of. I previously changed the others I knew about.

[2020-08-17 11:36] eiriktsarpalis commented on #802
Pushing to 6.0, since some of the issues listed here remain unaddressed.

[2020-08-17 12:18] am11 commented on #40922
In .NET 5, globalization is by default using ICU on Windows. Prior to .NET 5, it uses Win32 NLS.

Related #40258.

We can either switch from ICU to NLS on Windows, by exporting an environment variable: `DOTNET_SYSTEM_GLOBALIZATION_USENLS=true` or use `culture.NumberFormat.NegativeSign` for negative values with ICU.

[2020-08-17 12:39] Rand-Random commented on #38367
Can you explain in more detail why the mono runtime is used?
The reason I am picking up is you are using the Mono runtime over the CoreCLR runtime because the uno platform uses it?

If that is the case can you explain how uno and blazor are linked together, so why uno running on mono makes a difference for blazor?

What are the plans to switching to CoreCLR?

[2020-08-17 12:49] ManickaP commented on #40919
Hitting the same issue on `OS: Manjaro Linux x86_64, Kernel: 5.7.9-1-MANJARO`.

[2020-08-17 12:50] CodingMate commented on #3671
That link will disable the validation for the libraries and plug-ins only, it will not disable the app validation.
That entitlement will be really helpful after signing the app to disable validating the dlls/so files if we’re not publishing a single-file.

[2020-08-17 12:51] #27158 closed

[2020-08-17 12:51] Gnbrkm41 commented on #40919
cc @am11 - Do you happen to be aware of any specific issues with this distribution, or should this be fixed by your PR as well?

[2020-08-17 13:01] stephentoub commented on #40922
@tarekgh, this keeps coming up. What would go wrong if we changed the code to consider `-` as a negative sign when parsing in addition to whatever the data says is the negative sign?

[2020-08-17 13:02] am11 commented on #40919
I believe Manjaro distro build will also be fixed by #40923. This deprecation took place [in glibc](http://patches-tcwg.linaro.org/patch/19443/), so all glibc-based distros will hit it sooner or later.

[2020-08-17 13:14] #40919 closed

[2020-08-17 13:36] adamsitnik commented on #33051
@am11 is there any chance you could see if #40851 has fixed the problem for you?

[2020-08-17 13:41] eiriktsarpalis commented on #28929
As far as `Console.Out` is concerned, it would seem like [the current implementation is stripping the preamble](https://github.com/dotnet/runtime/blob/b41f1c5f2fde25d752d857a54c3af24145060cdd/src/libraries/System.Console/src/System/Console.cs#L220) for Windows as well. I tested the following console app:

[code]
Using the latest .NET 5.0 preview sdk:
[code]
Produces no BOM artifacts:
[code]

It sh

[2020-08-17 13:43] am11 commented on #33051
@adamsitnik, thanks for the reminder. Waiting for https://github.com/dotnet/sdk/pull/12935 to pick up that change.

[2020-08-17 13:59] akoeplinger commented on #34202
We don't plan to do this for 5.0 as the main usage of mono in 5.0 is WebAssembly, but we'll flush out the "mono on desktop" details for a later release.

[2020-08-17 14:04] akoeplinger commented on #40307
I ran a Kusto query on test failures and didn't find any matches after the fix was merged 👍

[2020-08-17 14:09] Bouke commented on #38045
I was recently thinking of a similar use-case as well. As long as nothing interesting (bad) happens, I don't need to log adjacent messages not meeting the level criterium. However when something interesting happens, I'd like to get all the adjacent messages -- even those below the level criterium.

Take the following pseudo-code:

[code]

Currently only the `Error` message would be logged with its

[2020-08-17 14:15] ManickaP commented on #40919
@am11 the PR fixed it for Manjaro. It works for me now, thanks!

[2020-08-17 14:18] CoffeeFlux opened #40933 "Mono runtime tests build occasionally times out"
When the runtime tests are being built (Mono Common Pri0 Test Build AnyOS AnyCPU release), sometimes we hit the 1h30m timeout. I noticed this here: https://github.com/dotnet/runtime/pull/40669/checks?check_run_id=973507764 Supposed it has shown up elsewhere, but I'm not sure how to check and so I have no idea as to the frequency. cc: @jaredpar

[2020-08-17 14:18] JensNordenbro commented on #36699
@richlander ; It is not clear when to expect ASP.NET Core support on Windows ARM64.
The description says "The .NET 5.0 Preview 4 SDK supports building and running ASP.NET Core and Console apps." however .NET 5 preview 6 as well as 7 renders the following message:
C:\Program Files\dotnet\sdk\5.0.100-preview.6.20318.15\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Sdk.FrameworkReferenceResolution.tar

[2020-08-17 14:20] CoffeeFlux commented on #40868
Only fails on CI Debug lanes, doesn't repro locally with a normal test build and run.

Example failure and log: https://dev.azure.com/dnceng/public/_build/results?buildId=764740&view=logs&jobId=c6f8dc49-92a1-5760-c098-ba97b8142bfb&j=c6f8dc49-92a1-5760-c098-ba97b8142bfb&t=22b0078b-0469-5ba6-8725-2121fdbae049 https://helix.dot.net/api/2019-06-17/jobs/884e8d92-3aa1-436b-8c36-445c919fe2a6/workitems/Sy

[2020-08-17 14:44] danmosemsft commented on #40512
@RussKie do you have a 5.0 issue where you're investigating TraceListener fix?

[2020-08-17 14:44] Gnbrkm41 commented on #40919
@ViktorHofer, do you happen to know the person to ask for this kind of problem? The build failed with an error while building the native part of clr, however that particular part of the build was reported as succeeded and it was allowed to proceed to crossgen where it fails with a cryptic failure of "no such file or directory". Weird it didn't fail right away... (`/home/gotos/source/repos/runtime/

[2020-08-17 14:47] janvorli commented on #40919
I've reported this some time ago in #34496

[2020-08-17 14:56] berets76 opened #40935 "ReadFromJsonAsync<dynamic> doesn't deserialize JSON"
### Describe the bug
I've a Blazor WASM PWA application and I'm trying to deserialize a post REST API result from JSON to dynamic object, using ReadFromJsonAsync<dynamic> but it returns always null.
If I use ReadFromJsonAsync<MyClass>, deserialization works fine.

### To Reproduce
To reproduce simply run this two-lines code, calling a basic auth REST API:

[code]

### Exceptions (if any)
none

###

[2020-08-17 15:00] dhhoang commented on #34568
Hi. I'm running into this performance issue. Is there any known/recommended work around for getting the event's message faster than using `FormatDescription()` ? Also, is there a timeline for when this fix is included in .NET ?

[2020-08-17 15:10] danmosemsft commented on #34568
@dhhoanoh can you confirm the problem is fixed for you on 5.0 preview 7?

We do not plan to port to.NET Framework.

[2020-08-17 15:10] Gnbrkm41 commented on #40778
Glad I noticed this issue because I had no clue what was going on with 270+ test failures. 👀

[2020-08-17 15:11] eiriktsarpalis opened #40936 "API Proposal: Make char.IsAscii public"
System.Char currently defines a [private `IsAscii` method](https://github.com/dotnet/runtime/blob/d8ca3562358b036afc14c6f1abc517154c98b095/src/libraries/System.Private.CoreLib/src/System/Char.cs#L82). It think it might make sense to make this public?

[code]

[2020-08-17 15:13] eiriktsarpalis commented on #40936
Not sure what the right area label for corelib stuff is.

[2020-08-17 15:27] directhex opened #40937 "System.Drawing.Tests.FontFamilyTests.Families_Get_ReturnsExpected failure on libgdiplus platforms"
Mono and CoreCLR both fail near-identically on this test on Helix.

CoreCLR https://helix.dot.net/api/2019-06-17/jobs/4f122c80-6e43-48c3-9793-d5c72dc59bbd/workitems/System.Drawing.Common.Tests/console
[code]

Mono https://helix.dot.net/api/2019-06-17/jobs/6648e68b-974b-4787-9345-e0223c696d09/workitems/System.Drawing.Common.Tests/console
[code]

We get the same failure on macOS 10.15, and the text

[2020-08-17 15:30] directhex opened #40938 "macOS 11: System.Net.NetworkInformation.Tests.IPGlobalPropertiesTest.IPGlobalProperties_AccessAllMethods_NoErrors failure"
Mono and CoreCLR both fail near-identically on this test on Helix.

CoreCLR https://helix.dot.net/api/2019-06-17/jobs/4f122c80-6e43-48c3-9793-d5c72dc59bbd/workitems/System.Net.NetworkInformation.Functional.Tests/console
[code]

Mono https://helix.dot.net/api/2019-06-17/jobs/6648e68b-974b-4787-9345-e0223c696d09/workitems/System.Net.NetworkInformation.Functional.Tests/console
[code]

Something about

[2020-08-17 15:34] directhex opened #40939 "macOS 11: System.Security.Cryptography.X509Certificates.Tests.CertificateCreation.CertificateRequestUsageTests.AlwaysVersion3 failure"
Mono and CoreCLR both fail near-identically on this test on Helix.

CoreCLR https://helix.dot.net/api/2019-06-17/jobs/4f122c80-6e43-48c3-9793-d5c72dc59bbd/workitems/System.Security.Cryptography.X509Certificates.Tests/console
[code]

Mono https://helix.dot.net/api/2019-06-17/jobs/6648e68b-974b-4787-9345-e0223c696d09/workitems/System.Security.Cryptography.X509Certificates.Tests/console
[code]

`Unkn

[2020-08-17 15:40] hoyosjs opened #40940 "Cleanup of ARM64 Debugger's NativeWalker"
ARM64 Linux and ARM64 Windows instruction interpretation for patch skips are currently implemented separately. The Linux implementation is much cleaner and follows the spec more rigorously. Converge the two implementations as much as possible.

[2020-08-17 15:45] danmosemsft commented on #40939
Do we need any change here in the Sept servicing? That is about to be code complete (well it was last Friday). I'm guessing that the Sept patch may be the latest available whan macOS 11 releases.

[2020-08-17 15:46] danmosemsft commented on #40938
Do we need any change here in the Sept servicing? That is about to be code complete (well it was last Friday). I'm guessing that the Sept patch may be the latest available whan macOS 11 releases.

[2020-08-17 15:46] Rand-Random commented on #40922
@stephentoub
So you are suggesting that any culture specific format should fallback to invariant culture if it fails on parsing with the current culture? If not "any" why treat the negativ sign special?

Why not ditch current culture all together and only use the invariant one? /s

When I read this:
https://docs.microsoft.com/en-us/dotnet/standard/globalization-localization/globalization-icu

This

[2020-08-17 15:49] adamsitnik commented on #39721
@kunalspathak you are right, it should not. I've dig a little bit more into that and confirmed that removal of extra `test` instruction has affected the code alignment and has caused the regression. Full details below:

<details>

[code]

[code]

|       Method | Size |     Mean |    Error |   StdDev |   Median |      Min |      Max | Code Size |
|------------- |----- |---------:|---------:|------

[2020-08-17 15:49] #39721 closed

[2020-08-17 15:53] mklement0 commented on #28929
My bad, @eiriktsarpalis - I missed that the referenced PR _did_ fix the problem on Windows too:

https://github.com/dotnet/runtime/blob/d8ca3562358b036afc14c6f1abc517154c98b095/src/libraries/System.Console/src/System/Console.cs#L220

Sorry for the noise - I'm closing this.

---

P.S.: It's a moot point now, but the example you gave is the one that showed that _in `cmd.exe`_ it always worked as exp

[2020-08-17 15:53] #28929 closed

[2020-08-17 15:56] Clockwork-Muse commented on #40912
I assume it will more likely be implemented as a member method.

I'm a bit surprised it doesn't have one, although since the type is normally used for accounting there probably isn't much call for it...

[2020-08-17 16:02] dhhoang commented on #34568
Confirmed that 5.0 preview 7 fixes the problem.
Sharing some benchmark numbers (getting `FormatDescription()` 100 times from Security and Application logs):
[code]

[2020-08-17 16:07] jashook commented on #38169
This has been fixed by https://github.com/dotnet/runtime/pull/39481

[2020-08-17 16:07] #38169 closed

[2020-08-17 16:20] tarekgh commented on #37919
https://github.com/dotnet/runtime/pull/40910

[2020-08-17 16:20] stephentoub commented on #40922
I'm not suggesting. I'm asking what the downsides would be. And specifically for - because it's close to impossible to see the difference between − and - and this specific case has tripped up a lot of people.

[2020-08-17 16:24] vcsjones commented on #40939
I can look at this soon since I have Big Sur available and was looking in to #39603.

[2020-08-17 16:29] adamsitnik opened #40942 "List of performance regressions caused by switching to ICU"
Before 5.0, we were using ICU only on Unix systems. In 5.0 we have decided to use it on Windows by default as well.

This is something that we have done in order to have the same behavior of string-related globalization APIs on every OS.

However, this particular change has affected the performance characteristics of many frequently used methods. Some of them have regressed, some have improved.

R

[2020-08-17 16:30] sharkguto commented on #40739
![image](https://user-images.githubusercontent.com/3118165/90419592-2e4c8a00-e08d-11ea-882b-83380c5d74a7.png)
@rbhanda now its working fine. thanks

[2020-08-17 16:33] tommcdon commented on #40895
@krwq

[2020-08-17 16:34] adamsitnik commented on #37815
I've confirmed that this regression has been caused by the switch to ICU:

|        Method |                                input |   value |             comparisonType |  3.1 Mean |     5.0 ICU |   5.0 NLS |
|-------------- |------------------------------------- |-------- |--------------------------- |----------:|------------:|----------:|
| IndexOfString |                           AAAAA5AAAA |

[2020-08-17 16:34] #37815 closed

[2020-08-17 16:41] tarekgh commented on #40922
I hesitate to to do that because this can make us run into other problems when assuming '-' is the negative sign for all cultures. Some scenarios, is people can expect the parse failure when not having the right negative sign. another scenario is if anyone customize a numbers to use '-' a separator or something else. last, if we need to do that I would avoid to do it now that late in the cycle of

[2020-08-17 16:41] adamsitnik commented on #40942
[System.Memory.ReadOnlySpan.IndexOfString](https://github.com/dotnet/runtime/issues/37815) 5 regressions, 5 improvements

|        Method |                                input |   value |             comparisonType |  3.1 Mean |     5.0 ICU |   5.0 NLS |
|-------------- |------------------------------------- |-------- |--------------------------- |----------:|------------:|----------:|
| IndexOfS

[2020-08-17 16:44] ChrisAhna commented on #40712
Thanks for this report.  There is probably something about the underlying issue that makes some machines much more likely to see a crash compared to others.  I have been fanning out the repro (on both net472 and net50) for the past few days across a few different execution patterns (i.e., varying parallelism and timeout), and haven't seen any crashes yet.

I'm going to spend more time digging in t

[2020-08-17 16:45] danmosemsft commented on #34568
Excellent thank you @dhhoang for sharing (and @Alois-xx for fixing for everyone else)

[2020-08-17 16:46] tarekgh commented on #40922
That will be very wrong. applications select specific culture in their profile to reflect that on the applications. You still have the option to set current user to Invariant if you want to do so.

[2020-08-17 16:47] danmosemsft commented on #40939
Many thanks @vcsjones ! It's a busy day for us today with the 6.0  branching.

[2020-08-17 16:48] IanKemp commented on #31094
I believe that the root of the problem is that `JsonSerializer`'s design is questionable: it is defined as a static class, but has an implicit dependency on a separate stateful class (`JsonSerializerOptions`) in order to function by default. I understand why this was done - to mimic `Newtonsoft.Json` as closely as possible, to simplify porting code that uses that API - but the end result is that t

[2020-08-17 16:48] danmosemsft commented on #40942
Thank you @adamsitnik good idea I'm glad you created this.

[2020-08-17 16:49] tarekgh commented on #40922
This is something we need to look at to see why this is happening. we had a bug in earlier previews so this is maybe already fixed.

[2020-08-17 16:49] radical commented on #39449
Part 1 of a fix for this - https://github.com/dotnet/runtime/pull/40836 .
Part 2 would be showing inherited members.

[2020-08-17 16:50] tarekgh commented on #40942
I have this PR opened for addressing all ordinal operations https://github.com/dotnet/runtime/pull/40910

[2020-08-17 16:52] tarekgh commented on #40942
@adamsitnik are you going to close all other bugs complaining about ICU perf against this one?

[2020-08-17 16:56] tarekgh commented on #40942
Also, I want to be clear about the expectation here. I don't think we can fix all perf here as we are limited by calling ICU. we can look at how we can improve it but I am not expecting to get the perf to the point where we used to call NLS. So, it will be good to decide which items in this list is a blocker. The only one was the Ordinal cases which I am addressing in the attached PR. I am not awa

[2020-08-17 17:01] ericstj commented on #39038
Is this issue tracking the Windows regression or Linux?  If Windows I imagine we could just use the uber-ICU regression issue (#40942) for tracking, if linux, please make that clear in title and indicate Windows issue is out of scope.

[2020-08-17 17:03] danmosemsft commented on #40895
I repro this. Here is `FileVersionInfo.GetVersionInfo().ToString()` 👍
Windows:
[code]
Ubuntu
[code]

[2020-08-17 17:05] vcsjones commented on #40939
I can repro it; which is good. This is new, this wasn't failing in beta 2. Sigh.

[2020-08-17 17:05] adamsitnik commented on #39722
Same as #39721 this regression is caused by code alignment:

<details>

[code]

[code]

EnvironmentVariables=COMPlus_JitAlignLoops=0  PowerPlanMode=00000000-0000-0000-0000-000000000000  Runtime=.NET Core 5.0
Arguments=/p:DebugType=portable  Toolchain=netcoreapp5.0  IterationTime=250.0000 ms
MaxIterationCount=20  MinIterationCount=15  WarmupCount=1

|       Method | Size |     Mean |    Error |   S

[2020-08-17 17:05] #39722 closed

[2020-08-17 17:08] danmosemsft commented on #40895
Here is ilspy output for it:
[code]
and filever -v on Windows
[code]

[2020-08-17 17:12] #36983 closed

[2020-08-17 17:18] directhex opened #40943 "macOS 10.15: System.Security.Cryptography.OpenSsl.Tests segfault"
We turned off all Helix CI on macOS 10.15 over this issue, which appears unresolved - see https://github.com/dotnet/runtime/pull/40524

If we don't use OpenSSL at all on Mac, we shouldn't be building/testing it. If we do, we really ought to resolve this issue so we can CI on 10.15 again.

The annotation on the CI disablement in the Azure pipeline points to https://github.com/dotnet/runtime/issues/

[2020-08-17 17:20] danmosemsft commented on #40895
Looks like on Windows we get it from `GetFileVersionInfoEx` which reads FILEVERSION of the VERSIONINFO resource. On Unix, we instead read the `AssemblyFileVersionAttribute` managed assembly attribute.

There is a comment in the Unix implementation that suggests we assumed they have the same value in normal circumstances:
https://github.com/dotnet/runtime/blob/27c682775b7f66c689a161966e99f6473621c5

[2020-08-17 17:20] danmosemsft commented on #40895
Oh, and this code was not changed in a long time so this is not a 5.0 issue.

[2020-08-17 17:28] svick commented on #40912
For context, here is [Eric Lippert's SO answer explaining why he thinks such a method is not necessary](https://stackoverflow.com/a/6426826/41071):

[2020-08-17 17:31] vcsjones commented on #40939
@bartonjs okay, so the issue is that Big Sur rejects X509 certificates that have an `Extensions` SEQUENCE that has 0 elements.

For example:

[code]

That certificate will fail on Big Sur:

[code]

[RFC 5280 says][1]

Emphasis mine.

I think then, we should change the `CertificateRequest` to completely omit the `extensions [3]` from the TBS if there are zero extensions when writing the ASN.

We ca

[2020-08-17 17:38] adamsitnik commented on #39106
There is no regression on Windows, but the size of the generated machine code for the benchmark itself has grown a lot.

<details>

BenchmarkDotNet=v0.12.1.1405-nightly, OS=Windows 10.0.18363.959 (1909/November2019Update/19H2)
Intel Xeon CPU E5-1650 v4 3.60GHz, 1 CPU, 12 logical and 6 physical cores
.NET Core SDK=5.0.100-rc.1.20413.9
  [Host]     : .NET Core 3.1.6 (CoreCLR 4.700.20.26901, CoreFX 4

[2020-08-17 17:41] vcsjones commented on #40939
Actually, it looks like this was considered and the current behavior is intentional:

https://github.com/dotnet/runtime/blob/3b824aafe71c42690135a6552138efc45cf270ee/src/libraries/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/CertificateRequest.cs#L661-L663

I feel like is a puzzle piece that I am missing.

[2020-08-17 17:49] adamsitnik commented on #37806
I've confirmed that this is caused by the ICU switch, closing the issue and adding it to #40942

|      Method |  Count |                    Options |        3.1 Mean |   5.0 ICU Mean |    5.0 NLS Mean |
|------------ |------- |--------------------------- |----------------:|---------------:|----------------:|
| GetHashCode |    128 |             (, IgnoreCase) |     1,806.07 ns |     1,806.0 ns |

[2020-08-17 17:49] #37806 closed

[2020-08-17 17:52] adamsitnik commented on #40942
[System.Globalization.Tests.StringHash](https://github.com/dotnet/runtime/issues/37806) 2 regressions, 4 improvements

|      Method |  Count |                    Options |        3.1 Mean |   5.0 ICU Mean |    5.0 NLS Mean |
|------------ |------- |--------------------------- |----------------:|---------------:|----------------:|
| GetHashCode |    128 |             (, IgnoreCase) |     1,806.07

[2020-08-17 17:52] bartonjs commented on #40943
For better or worse, we expose API that's available on macOS to force cryptography through OpenSSL (it would allow callers to work around limitations in the macOS crypto stack) -- that's what the failing tests are trying to test, in fact.  It's on my TODO list to expend political clout to drop support for it, though.

The S.S.C.OpenSsl tests pass on my mac (10.15.1) using the Homebrew installed Op

[2020-08-17 17:52] safern commented on #40922
This was fixed on Preview8.

[2020-08-17 18:04] ericstj commented on #30184
@safern typically for this sort of thing you can force a repro by modifying the product code to introduce a GC.Collect and WaitForPendingFinalizers right before the call that is throwing.

Agree that this doesn't meet the bar for 5.0.0 at this point, but it's something we could easily fix in 6.0.0

[2020-08-17 18:06] safern commented on #30184
Thanks, @ericstj -- I modified the milestone.

[2020-08-17 18:09] bartonjs commented on #40939
I think the comment is really just saying "we have a slightly weird behavior", the tests seem to be exercising that, just to prove they know what's what:

https://github.com/dotnet/runtime/blob/791834767b2bddf23c6ed72cc68f523728e25733/src/libraries/System.Security.Cryptography.X509Certificates/tests/CertificateCreation/CertificateRequestUsageTests.cs#L363-L382

Probably the ToArray() needs to be g

[2020-08-17 18:12] #40751 closed

[2020-08-17 18:13] adamsitnik commented on #39038
I've confirmed that it's related to ICU change, closing this and adding to #40942

|                     Method | Count |                    Options |     3.1  Mean |  5.0 ICU Mean | 5.0 NLS Mean |
|--------------------------- |------ |--------------------------- |--------------:|--------------:|-------------:|
|               Compare_Same |  1024 |             (, IgnoreCase) |    996.299 ns |

[2020-08-17 18:13] #39038 closed

[2020-08-17 18:16] bartonjs commented on #40939
(It was probably a semi-bug that was kept as an "interesting test condition", and now is a "doesn't work on macOS")

The 2012 version of X.509 (the ITU spec) didn't contain the one-or-more clause for certificate extensions (it did for CRL extensions).  I don't see that being fixed in any of the addenda/errata, but the 2016 version does state it (in section 7.2):

[2020-08-17 18:21] adamsitnik commented on #40942
[System.Globalization.Tests.StringEquality](https://github.com/dotnet/runtime/issues/39038): 8 regressions, 14 improvements

|                     Method | Count |                    Options |     3.1  Mean |  5.0 ICU Mean | 5.0 NLS Mean |
|--------------------------- |------ |--------------------------- |--------------:|--------------:|-------------:|
|               Compare_Same |  1024 |

[2020-08-17 18:23] #33949 closed

[2020-08-17 18:24] AndyAyersMS commented on #39722
Linking to #8108.

[2020-08-17 18:24] #12094 closed

[2020-08-17 18:24] #12095 closed

[2020-08-17 18:24] #12096 closed

[2020-08-17 18:24] AndyAyersMS commented on #39721
Linking to #8108.

[2020-08-17 18:24] #12097 closed

[2020-08-17 18:24] #25023 closed

[2020-08-17 18:25] uiopak opened #40946 "Memory leak in System.DirectoryServices.Protocols"
### Description
Calling LdapConnection.SendRequest method create memory leak.
Making request that returns 14500 entries in loop 100 times allocates 1.5 GB in native heap that later isn't deallocated in 5.0.0-preview.4.20251.6 version and earlier it is 7MB. When creating 100 000 users it is 96MB and 7MB.

<details>
<summary>my code</summary>
<p>

[code]

</p>
</details>

### Configuration
Windows 1

[2020-08-17 18:27] elinor-fung commented on #35193
Moving to 6.0 as test debt we need to address.

[2020-08-17 18:29] vitek-karas opened #40947 "Trace information about the origin of assembly resolution"
In .NET 5 the assembly loader tracing was added which provides great amount of detail around assembly loader, ALCs and customizations. But it lack any information about how the TPA came to be (that is basically all the assemblies resolved via the Default ALC automatically). This information is in the host and not exposed to the runtime.
It's possible to get to it using the host tracing functionali

[2020-08-17 18:29] vcsjones commented on #40939
Makes sense. This seemed like it could have been one of those "we're trying to emulate the behavior of Certificate Services from Windows Server 2000" or something. Your compat concerns are starting to rub off on me.

[2020-08-17 18:48] stephentoub commented on #35126
I actually think my ideal is a different API, namely a RawHeaders property on HttpResponseMessage.  That disassociates it from HttpHeaders and all of the strongly-typed properties on it.  It avoids API-level concerns around what happens if such properties are changed; they don't affect these.  RawHeaders on the response message would surface the results from all three header collections, making fo

[2020-08-17 18:55] agocke commented on #37208
Fixed in https://github.com/dotnet/runtime/pull/40699

[2020-08-17 18:55] #37208 closed

[2020-08-17 18:57] adamsitnik commented on #37819
I've confirmed that this is an ICU-related issue. Closing and adding to #40942

|                      Method |                           Options |      3.1 Mean |  5.0 ICU Mean |  5.0 NLS Mean |
|---------------------------- |---------------------------------- |--------------:|--------------:|--------------:|
|          IsPrefix_FirstHalf |             (, IgnoreCase, False) |    279.556 ns |    2

[2020-08-17 18:57] #37819 closed

[2020-08-17 18:58] tarekgh commented on #40922
@safern if you confirmed the user override is working, I think we can close this issue now.

[2020-08-17 19:01] adamsitnik commented on #40942
[System.Globalization.Tests.StringSearch](https://github.com/dotnet/runtime/issues/37819): 30 regressions, 32 improvements

|                      Method |                           Options |      3.1 Mean |  5.0 ICU Mean |  5.0 NLS Mean |
|---------------------------- |---------------------------------- |--------------:|--------------:|--------------:|
|          IsPrefix_FirstHalf |

[2020-08-17 19:14] adamsitnik commented on #39723
This is not caused by ICU and 5.0 is much faster than 3.1 (3x). Closing

|                Method |        input | 3.1 Mean |  5.0 ICU |  5.0 NLS |
|---------------------- |------------- |---------:|---------:|---------:|
| Char_ToUpperInvariant | Hello World! | 59.53 ns | 19.93 ns | 24.94 ns |

Codgen can be found in the details below:

<details>

## .NET Core 3.1.6 (CoreCLR 4.700.20.26901, CoreFX

[2020-08-17 19:14] #39723 closed

[2020-08-17 19:25] adamsitnik commented on #37807
I've confirmed that this is caused by ICU

|               Method | culturestring | 3.1 Mean |    5.0 ICU |   5.0 NLS|
|--------------------- |-------------- |---------:|-----------:|---------:|
| ToStringHebrewIsrael |             ? | 540.1 ns |   463.3 ns | 518.3 ns |
|             ToString |               | 254.0 ns |   248.9 ns | 245.7 ns |
|                Parse |               | 466.9 ns |

[2020-08-17 19:25] #37807 closed

[2020-08-17 19:27] adamsitnik commented on #40942
[System.Globalization.Tests.Perf_DateTimeCultureInfo.Parse](https://github.com/dotnet/runtime/issues/31273): 1 big regression for `ja` culture, 5 improvements

|               Method | culturestring | 3.1 Mean |    5.0 ICU |   5.0 NLS|
|--------------------- |-------------- |---------:|-----------:|---------:|
| ToStringHebrewIsrael |             ? | 540.1 ns |   463.3 ns | 518.3 ns |
|

[2020-08-17 19:29] adamsitnik commented on #40942
@tarekgh I've gone through all `System.Memory` and `System.Globalization` issues with `performance` tag and updated the list. It should be complete now.

[2020-08-17 19:35] ChrisAhna commented on #40712
Looking at the 10 dumps, 8 of them show that data has been corrupted in one of the following ways:
- 5 cases where bit 0x00400000 is unexpectedly set at offset 0x848 within the enclosing 4KB page.
- 3 cases where bit 0x00004000 is unexpectedly clear at offset 0xc30 within the enclosing 4KB page.

This could certainly be caused by some obscure software problem.  That said, seeing a consistent page

[2020-08-17 19:37] Anipik commented on #40822
This is fixed

[2020-08-17 19:37] #40822 closed

[2020-08-17 19:46] #40906 closed

[2020-08-17 19:46] adamsitnik commented on #39106
Overall 5.0 is much faster than 3.1 on ubuntu18.04 x64. Closing. You can see the full details below.

<details>

[code]
|            Method |     Mean |     Error |    StdDev |   Median |      Min |      Max | Gen 0 | Gen 1 | Gen 2 | Allocated | Code Size |
|------------------ |---------:|----------:|----------:|---------:|---------:|---------:|------:|------:|------:|----------:|----------:|
| Re

[2020-08-17 19:46] #39106 closed

[2020-08-17 19:48] MattGal commented on #40943
Reviewing the instructions, every machine should have 1.1.1g installed using the same instructions we've had the folks who do so using for some time.  I'll take a quick peek at the machine in question and see if I see anything unusual; it is possible to ch

[2020-08-17 19:52] vholmer commented on #40922
@tarekgh @safern @stephentoub Thanks for the quick response everyone, looking forward to preview 8! 😄

(I'll leave the closing of this issue to you)

[2020-08-17 19:57] adamsitnik commented on #39724
Overall in 3.1 vs 5.0 comparison there are 13 improvements and 1 minor regression. Closing

[code]
|        Method |                                input |   value |             comparisonType |        Mean |     Error |    StdDev |      Median |         Min |         Max | Code Size | Gen 0 | Gen 1 | Gen 2 | Allocated |
|-------------- |------------------------------------- |-------- |-----------

[2020-08-17 19:57] #39724 closed

[2020-08-17 20:00] agocke commented on #40087
One complication: we've apparently doc'd the behavior when the assembly is loaded as a byte array:

Obviously in the bundle case every case would be loaded from a byte array, so this behavior isn't well specified, but I'm not sure how we would deal with this in the code.

[2020-08-17 20:04] safern commented on #40922
I'll try to repro this with Preview8/RC1 and will update.

[2020-08-17 20:07] adamsitnik commented on #39113
Overall 5.0 is on par with 3.1 and producing smaller native code, so I am closing. Full details below.

<details>

[code]
|                             Method |     Mean |     Error |    StdDev |   Median |      Min |      Max | Code Size | Gen 0 | Gen 1 | Gen 2 | Allocated |
|----------------------------------- |---------:|----------:|----------:|---------:|---------:|---------:|----------:|-----

[2020-08-17 20:07] #39113 closed

[2020-08-17 20:08] MattGal commented on #40943
Machine in question (`dci-mac-build-140`) was indeed missing the correct links for OpenSSL 1.1.1, it should be fixed now.  If you see more of these, please open an issue in dotnet/core-eng with the `First Responder` label, and CC @IlyaS1974.

[2020-08-17 20:12] arunjvs commented on #38730
LGTM **at the moment** for the scenarios I've seen (I'm lazily guessing ProcessFile() returns false for `BEGIN TRUSTED CERTIFICATE` files).

We must however acknowledge that we will still deviate from what is defined as correct behavior as documented by SUSE.

[2020-08-17 20:22] agocke commented on #3821
Closing this out until we can get a log or repro

[2020-08-17 20:22] #3821 closed

[2020-08-17 20:30] safern commented on #40778
Note that this happens in all OSs including Windows.

[2020-08-17 20:33] #32982 closed

[2020-08-17 20:46] TimLovellSmith commented on #14032
@Jlalond
If we're have a priority queue, then it should support all operations that it simply and efficiently can, _and_ that are
'expected' to be there by people familiar with this kind of data structure / abstraction of one.

Updating priority belongs in the API because it falls into both those categories. Updating priority is important enough consideration in many algorithms that the complexity

[2020-08-17 20:48] safern commented on #40922
I can confirm that this no longer reproes with Preview8 and RC1:

Preview7:
[code]

5.0.100-preview.8.20362.3:
[code]
5.0.100-rc.1.20414.5:
[code]

Test code:
[code]
![image](https://user-images.githubusercontent.com/22899328/90442980-58ec1200-e090-11ea-8722-ba3f778c56a0.png)

![image](https://user-images.githubusercontent.com/22899328/90442997-630e1080-e090-11ea-8c73-121cd85231ac.png)

Closing th

[2020-08-17 20:48] #40922 closed

[2020-08-17 21:04] kirsan31 opened #41125 "Exception caught in FormClosing / FormClosed lead to crash in coreclr.dll"
---**UPD**---
Small repro and further investigations from [this](https://github.com/dotnet/winforms/issues/3738#issuecomment-676834773) comment.
---**UPD**---

* .NET Core Version: 3.1.7

* Have you experienced this same bug with .NET Framework?: **NO**

**Problem description:**

Hi guys, need some help here. I just figure out very strange behavior of our app.
Pre requirements:

- MDI WInForms app

[2020-08-17 21:12] samsp-msft commented on #40776
If the response is unbuffered, then we should make the stop be when we hand back control to the user code, as its not ultimately us in control.
If we want to make start/stop events for this that can be correlated, we could create a new event with its own activity ID, that is not parented (so as not to break the async generated IDs) and then reference either it or the other ID in one of other of th

[2020-08-17 21:13] ASuurkuusk opened #40954 "GetAppDomainStaticAddress only works for collectible modules"
### Description

I have previously reported an issue with an AV in GetAppDomainStaticAddress (issue #33367), which was fixed in #34677. However, as far as I can see, this fix introduces a regression. It is no longer possible to retrieve AppDomain static addresses for non-collectible modules. The fix verifies that the LoadAllocator has an initialized "ExposedObject", but this object only seems to b

[2020-08-17 21:43] #36644 closed

[2020-08-17 21:52] #40634 closed

[2020-08-17 21:54] #32354 closed

[2020-08-17 21:58] #40939 closed

[2020-08-17 21:58] #40927 closed

[2020-08-17 22:06] #40138 closed

[2020-08-17 22:16] #40507 closed

[2020-08-17 22:22] noahfalk commented on #40776
Yes (at least in the cases where the caller will still need to download the remainder of the response after SendAsync task completes). Apologies for not recognizing the potential for this issue earlier.

The main premises of Activities are:
 - Contiguous time periods of work on a logical thread (an async Task and any Task children). This requires them to have a start time, an end time, and an impl

[2020-08-17 22:25] #38872 closed

[2020-08-17 22:35] samsp-msft commented on #40776
For 5, I'd recommend we scope down and send the stop at the end of SendAsync, and make it clear either with the event name, or parameters in the payload as to what type of request it is, and so what the Stop will actually correspond to.

[2020-08-17 22:43] alexcovington opened #40956 "MathF.ScaleB performance in Windows 10 much worse than Ubuntu 20.04"
### Description

When running the `System.MathBenchmarks.Single.ScaleB` and `System.MathBenchmarks.Double.ScaleB` benchmarks from [dotnet/performance](https://github.com/dotnet/performance), there seems to be a significant performance difference between Windows 10 and Ubuntu 20.04 where Windows is taking around 10x as long to complete the benchmark.

I'm running the benchmarks using `benchmarks_ci

[2020-08-17 23:14] joperezr commented on #40946
Problem started with 5.0.0-preview.5.20278.1 version of library.

Do you mind double checking if older versions of the package don't have this problem? I ask because we did recently change this package  a lot, but it was mostly around the Linux implementation of it, not the Windows ( Windows side was practically untouched) so I doubt this is a regression.

[2020-08-17 23:19] joperezr commented on #38608
In order to properly search through a directory you do need to be bounded successfully to the server. In fact, I bet that if you go into the details of that exception you should see that the inner error is something like "A successful bind operation is required in order to search". The reason why this works on Windows is most likely because the machine you are running it from is fully domain joine

[2020-08-17 23:22] joperezr commented on #38608
From the description above this does sound like is by-design and the only bit we need to make sure is that in @GrowSharp case the reason why it works on Windows is because the machine is domain joined. Once we validate that we only need to make sure that we have the same behavior on Linux when machine in Linux is domain joined as well. I'm marking this as "needs more info" in order to double check

[2020-08-17 23:27] mikem8361 opened #40958 "Add NT_SIGINFO NOTE for each thread to createdump dumps"
On Linux, add the NT_SIGINFO note for each thread. This NOTE contains the siginfo_t struct which can be obtained with ptrace's PTRACE_GETSIGINFO or PTRACE_PEEKSIGINFO (doesn't remove signals).

See https://man7.org/linux/man-pages/man2/ptrace.2.html on ptrace.

[2020-08-17 23:28] mikem8361 commented on #40958
This helps native debuggers like lldb/gdb and windbg to get more info on native exceptions/signals.

[2020-08-17 23:48] hoyosjs commented on #40958
Is this `SA_SIGINFO`?

[2020-08-17 23:54] eerhardt commented on #40828
Thanks for the bug report, @ststeiger.

I'm having a hard time repro'ing your reported behavior. Can you help me out? I can't get the above code to compile. Using the `.csproj` listed, and the above Program.cs, I get the following compile errors:

[code]

It looks like I can't find:

[code]

or

[code]

I went ahead and commented out the usages of `s_logger` so I could move past it. I got the prog

[2020-08-18 00:00] mikem8361 commented on #40958
SA_SIGINFO is the sigaction() flag used when setting an signal handler. The siginfo_t struct is passed to the handler if SA_SIGINFO is passed to sigaction.

NT_SIGINFO is a NOTE in the ELF coredump containing the signal info.  This note contains a siginfo_t struct for the thread.

[2020-08-18 00:01] #33631 closed

[2020-08-18 00:20] danmosemsft commented on #2021
@dleeapho do you have context on why we don't have Alpine ARM images? (32 bit)

cc @richlander

[2020-08-18 00:23] janvorli commented on #2021
After chatting with @richlander  last week, I have started to look into enabling official Alpine ARM builds. I have changes in the runtime, dotnet-buildtools-prereqs-docker and sdk repos prepared locally, I am currently waiting for a fix that I've made to arcade few days ago to propagate so that I can continue working on it. It seems it should be quite straightforward.

[2020-08-18 00:28] danmosemsft commented on #40936
Note there is already `Rune.IsAscii(char)` but it seems to me this is probably a case where duplication is reasonable, as the duplication is at a trivial level, and `Rune` is much less widely used than `char`; one might operate entirely on `char` and only need this one method on `Rune`.

[2020-08-18 00:28] danmosemsft commented on #40936
@GrabYourPitchforks

[2020-08-18 00:30] danmosemsft commented on #40895
@Thealexbarney could you give more detail on this scenario?

[2020-08-18 00:32] danmosemsft commented on #2021
Oh, that's good news. Thanks @janvorli !

[2020-08-18 00:48] abelbraaksma commented on #38872
For posterity: this has now been implemented, details are in the PR: #40902. Thanks to all for reviewing this proposal and for the valuable feedback.

It was in the nick of time to make it into .NET 5 🥳.

[2020-08-18 00:59] BruceForstall opened #40963 "Assertion failed 'farthestRefPhysRegRecord != nullptr'"
Windows x86

https://dev.azure.com/dnceng/public/_build/results?buildId=772525&view=ms.vss-test-web.build-test-results-tab&runId=24122826&resultId=177239&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

[code]

Also:
[code]

[2020-08-18 01:01] BruceForstall commented on #40607
These failures are causing considerable noise in the test runs (failing every configuration, AFAICT), so we should consider temporarily disabling them if a fix isn't available soon.

[2020-08-18 01:19] Thealexbarney commented on #40895
@danmosemsft Yeah, I could have given more information there. I was referring to the deps.json build output being different on Linux vs Windows, not the .dll.

However, I just now tested doing deterministic builds with the standard classlib template on SDK 3.1.401, and the output .dll files weren't the same between Windows and Linux. The Linux builds were the same on different Linux machines and d

[2020-08-18 01:33] danmosemsft commented on #38872
We'd welcome other contributions if you're interested @abelbraaksma . There's plenty up for grabs. If you want another in regex specifically there are opportunities for perf improvement or features eg https://github.com/dotnet/runtime/issues/25598 (that one I think is a bit involved..)

[2020-08-18 02:00] miloszkukla commented on #30454
Which internal type would be chosen when parsing or converting from JsonElement? In Json.NET it is first parsed as int (or BigInt) and if it fails there is FloatParseHandling enum deciding whether to parse into float or decimal.  Would there be something similar here?
For json writing in Json.NET there is also FloatFormatHandling enum worth mentioning.

[2020-08-18 02:25] Jlalond commented on #14032
@TimLovellSmith

Sorry, I misunderstood what TPriorty meant in your key value pair.

Okay, last two questions, why they KeyValuePair with TPriority, and the best time I can see for a reprioritization is N log N, I agree it is valuable, but also what would that API look like?

[2020-08-18 03:16] v-haren commented on #38518
failed again in job: [runtime-coreclr gcstress-extra 20200816.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=773405&view=ms.vss-test-web.build-test-results-tab&runId=24164304&resultId=105739&paneView=debug)

failed tests:
JIT\\Methodical\\tailcall\\_il_relreference_i\\_il_relreference_i.cmd

Error message
[code]

[2020-08-18 03:37] mikernet commented on #31001
As a follow-up to this:

Perhaps LINQ methods that have optimized execution paths on interfaces like `IList<T>` could be updated to optimize on `IReadOnlyList<T>` instead since all `IList<T>` will implement `IReadOnlyList<T>` and then new code can begin moving to a sane development model where custom read-only collections don't need to extraneously implement the writable interfaces as well. I reca

[2020-08-18 03:59] v-haren opened #40965 "Test failure: Interop\\COM\\NETClients\\Primitives\\NETClientPrimitives\\NETClientPrimitives.cmd"
failed in job: [runtime-coreclr gcstress-extra 20200816.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=773405&view=ms.vss-test-web.build-test-results-tab&runId=24164304&resultId=104610&paneView=debug)

Error message
[code]

[2020-08-18 04:15] RussKie commented on #40512
Yes, https://github.com/dotnet/winforms/issues/3739

[2020-08-18 04:36] danmosemsft commented on #40512
Perhaps you could open a similar issue for WPF and we can close this one?

[2020-08-18 04:37] RussKie commented on #40512
Aye, will do.

[2020-08-18 04:54] GrowSharp commented on #38608
@joperezr
I'm not able to confirm or deny that. All the machines, vms and everything (except few linux machines) at work are domain joined.
Also, there is no more details for the exception I'm getting. If you think I should get a message like that, I'm afraid there is another bug, because it's not there.

[2020-08-18 04:55] RussKie commented on #40512
https://github.com/dotnet/wpf/issues/3346

[2020-08-18 06:30] KalleOlaviNiemitalo commented on #38045
I have been wondering about whether [ILogger.Log\<TState>](https://docs.microsoft.com/dotnet/api/microsoft.extensions.logging.ilogger.log?view=dotnet-plat-ext-2.1) is allowed to save its parameters to a queue, return, and have a different thread examine the TState instance or invoke the formatter delegate later.

- If this is allowed, then my applications cannot safely log TState instances that co

[2020-08-18 07:19] simcoster opened #40970 "Irregular times for UdpClient.ReceiveAsync with dotnet core running on Linux"
I’m writing a UDP client that should read packets as fast as possible.

The client is compiled for .net core 3.1 and is running on Linux. I only have 1 connection that gets many packets per second. I’m measuring the time it takes for the method ReceiveAsync to run, using a StopWatch. The variability of the running time is very large:
Of 1000 measurements min is 0 ticks, max is 518, and average is

[2020-08-18 07:21] simcoster commented on #40970
If this should be posted elsewhere please let me know

[2020-08-18 07:26] justinushermawan opened #40971 "Unable to run executable program from PHP shell_exec()"
I've built my program into a release executable file and now I'm trying to execute it through PHP `shell_exec()` function as below:
`$result = shell_exec("./myprogram 2>&1");`

But it always throwing `Failed to create CoreCLR, HRESULT: 0x8007000E` error.

Even I have allocated 16G RAM for this server. It can run **successfully** if been executed directly from internal bash instead of from PHP `she

[2020-08-18 07:26] zdhayaz opened #40972 "System.DirectoryServices.AccountManagement UserProxyPrincipal not working as expected"
### Description

We are trying to extract and display a UserProxyPrincipal from AD-LDS server onto a web application.
Ideally a userProxyFull object from ADLDS/ ADAM with System.DirectoryServices.AccountManagement library.
We can get the information as we expected with DirectorySearcher but extended PrincipalContext.FindByIdentity does not work.

Following works

[code]

Following Doesn't

[code]

[2020-08-18 07:50] KimKiHyuk commented on #38269
is it decided to change System.Text.Json's error log like newtonsoft?

[2020-08-18 08:01] v-haren commented on #40514
failed again in job: [runtime-coreclr libraries-jitstress 20200817.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=773746&view=ms.vss-test-web.build-test-results-tab&runId=24175342&resultId=131662&paneView=debug)

failed test: System.Net.Mail.Tests.LoggingTest.EventSource_EventsRaisedAsExpected

Error message
[code]

[2020-08-18 08:43] MihaZupan commented on #40514
That is a different test

[2020-08-18 10:04] JasonjhHuang opened #41416 "IO port access ok with thread but fail with timer"
# IO port access ok with thread but fail with timer

We are using a 3rd party library to do hardware monitor, such as read voltage / temperate every 5 seconds. However, it's working when we implement the periodically HWM with thread but will crash with timer.

# Code Segment

---
### Crash when using timer

	var key = Console.ReadKey();
	Timer timer = new Timer((state) =>
	{
		helper.Initialize();

[2020-08-18 10:31] adamsitnik commented on #40810
FWIW the regression is Windows-specific

## BenchmarksGame.BinaryTrees_2.RunBench

| Conclusion |         Base |         Diff | Base/Diff | Modality | Operating System       | Bit | Processor Name                              | Base Runtime    | Diff Runtime   |
| ---------- | ------------:| ------------:| ---------:| --------:| ---------------------- | --- | --------------------------------------

[2020-08-18 10:43] NN--- opened #40977 "IPEndPoint.Create can return IPEndPoint"
## Background and Motivation

With covariant return type it is possible to return a more specific type in the overridden method:

https://docs.microsoft.com/en-us/dotnet/api/system.net.endpoint.create?view=netcore-3.1

EndPoint.Create
[code]

Since IPEndPoint derives from EndPoint, IPEndPoint.Create can be
[code]

Same for UnixDomainSocketEndPoint, DnsEndPoint.

[2020-08-18 10:50] michelcedric opened #40978 "add GetRequiredSection on Configuration (raise exception if missing section)"
## Background and Motivation

When I need a configuration section and this one it's mandatory, I want to raised an exception. Because for the moment if the section is missing nothing happen, and it maybe hide bad behavior

## Proposed API
Add GetRequiredSection in Iconfiguration
`
public partial interface IConfiguration
    {
        string this[string key] { get; set; }
        System.Collections

[2020-08-18 10:56] michelcedric commented on #40978
It's a little change, and I already finished this implementation.
I created the pull request
https://github.com/dotnet/runtime/pull/40976/files#diff-4efb8afc983c3a36c453768b3802673a

[2020-08-18 11:19] apayero commented on #40912
@svick the problem is because the Math.Pow did not return a decimal type and this is important, but assume that the data type that is going to receive the result is decimal, for now you have the casting to convert it to decimal and double because Math.pow does not have a decimal type and they are all decimal in the formula and that is the problem.   Try this:

  public static decimal CalculaCuota(

[2020-08-18 12:22] lateralusX commented on #36820
Updated table with new PR's affecting EventPipe code that needs to be ported over to Mono.

[2020-08-18 13:16] sunny868 opened #40982 "error : The local source '/home/gysun/myNuGetServer' doesn't exist."
## Details about Problem

NuGet Version: 5.5.0.6382
.NET Core SDK (3.0.101)
OS version (ubuntu-16.04):

## Detailed repro steps so we can see the same problem
1. nuget sources Add -Name "MyServer" -Source /home/gysun/myNugetServer
2. nuget add new_package.1.0.0.nupkg -source /home/gysun/myNugetServer
3. git clone https://github.com/dotnet/corefx.git ;cd corefx
4. vim NuGet.config and add

[2020-08-18 13:20] DaanV2 commented on #33339
I have wanted to raise an issue myself but found this one.

Is it an idea to add extra overloads for the constructor instead of stuffing everything in one single method?

That would lead to smaller methods loaded during runtime which process quicker.

Examples:

[code]

[2020-08-18 14:03] MaximLipnin commented on #37152
It's still relevant - I get it when I've built the entire repo and want to re-build some particular solution.

[2020-08-18 14:08] vcsjones opened #40984 "OID copying in S.S.C.Pkcs may not be sufficient"
Since `Oid` is "init-once" in .NET 5, The S.S.C.Pkcs library was changed (by me) to remove defensive `Oid` copies in #38387. Since this package targets other frameworks, it has a helper function intended to continue to copy where applicable.

https://github.com/dotnet/runtime/blob/38aa0b76a6423b902cc4b6c310cad9c49ba675b6/src/libraries/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/Pkc

[2020-08-18 14:09] vcsjones commented on #40984
I'm happy to PR a fix, I want to make sure though that my understanding and assessment is correct.

[2020-08-18 14:31] provegard opened #41351 "Error: To run this application, you must install .NET Core"
Hi!

I have a winexe application which is based on [CefSharp.MinimalExample](https://github.com/cefsharp/CefSharp.MinimalExample/). The project file looks like this:

[code]

When I target netcoreapp3.1 and run the resulting exe, I get the following dialog:

![image](https://user-images.githubusercontent.com/795010/90525548-af7c4d80-e16f-11ea-9964-3c7960f34be4.png)

I have followed the link to dow

[2020-08-18 14:39] eerhardt commented on #40978
Seems useful enough - the current `IConfigurationSection GetSection(string key);` method is documented as:

https://github.com/dotnet/runtime/blob/e8c0a4cb15dad4606c74bc39df3bae33c2ae936e/src/libraries/Microsoft.Extensions.Configuration.Abstractions/src/IConfiguration.cs#L26-L29

[2020-08-18 14:41] danmosemsft commented on #40810
They measure on Ubuntu so if there's a windows regression that's coincidental 🙂

[2020-08-18 14:44] radical commented on #39449
Merged.

This is filed as a specific issue - https://github.com/dotnet/runtime/issues/40245 . Therefore, closing this in favor of that issue.

[2020-08-18 14:44] #39449 closed

[2020-08-18 15:00] michelcedric commented on #40978
Hi @eerhardt
Thanks for your answer but I find it's not enough because it's never return null. And if the section is missing in your config file nothing happen the code continue.
My Goal is if we forget a mandatory section in the configuration file the new '' GetRequiredSection" raise an exception. The method GetSection Return an empty object (and not a null).
Do you understand my goal?

[2020-08-18 15:51] vitek-karas commented on #40971
It's hard to tell without more information, things which might help to investigate this:
* Try to get it to fail under a debugger (either `shell_exec` the debugger directly or somehow attach to it), Typically CoreCLR will throw exceptions internally for failures, so it should be possible to just stop on exception and grab the callstack.
* What is the full stdout/stderr of the process? Maybe there'

[2020-08-18 15:52] dleeapho commented on #2021
@MichaelSimons @mthalman heads up on adding Alpine ARM32 dotnet-docker images once @janvorli is done.

[2020-08-18 15:53] vitek-karas commented on #40971
Also version/environment information would help:
* What is the .NET Core SDK you used to build the app
* What is the target framework for the app - `netcoreapp3.1` or something else?
* How did you build it? `dotnet build`, or `dotnet publish` - any special settings (single-file, crossgen, trimming, ...)
* What is the platform (which Linux I guess)

[2020-08-18 15:55] danmosemsft commented on #31127
Was there an answer to this question?

[2020-08-18 15:58] terrajobst commented on #31127
Yes, @jkotas mentioned it [above](https://github.com/dotnet/runtime/issues/31127#issuecomment-580388364):

And the [PR marked it](https://github.com/dotnet/runtime/pull/39261/files#diff-1d02aa10f6540e37197ff9f090ca1d9eR7572-R7573).

[2020-08-18 16:00] vitek-karas commented on #31127
What about the `AssemblyName` variants - they return basically the exact same thing... and AFAIK are not marked right now.

[2020-08-18 16:05] ENikS opened #40988 "ActivitySource performance issue"
### Description

I am working on instrumenting [Unity Container](https://github.com/unitycontainer) (a small dependency injection container) to provide runtime telemetry. I've read and searched for best practices and based on recommendations from @tarekgh chose `ActivitySource` pattern as most promising.

Unfortunately adding diagnostic pattern to methods slows them dramatically, best case scenari

[2020-08-18 16:11] geoffkizer commented on #35126
Reading between the lines here, I think this is partly motivated by the other benefits that this approach would give us -- in particular, single header collection, perf benefits, etc. In other words, if we could achieve those goals in a different manner, would you still think that RawHeaders is the right API?

I'm not sure how I feel about that approach. I think the biggest drawbacks are (a) user

[2020-08-18 16:23] scalablecory commented on #40977
Makes sense to me; @bartonjs this isn't a breaking change, right? The more derived types don't hide any of the member functions.

[2020-08-18 16:32] terrajobst commented on #40862
It seems there are three concepts:

1. The process executable
2. The module containing the developer's `Main`
3. The developer's application directory

The current proposal would represent them as follows:

1. `Environment.ProcessExecutablePath`
2. `Environment.GetCommandLineArgs()[0]`
3. `AppContext.BaseDirectory`

I don't mind having all three concepts, but I am concerned that there are three di

[2020-08-18 16:39] terrajobst commented on #40978
We shouldn't break implementers of the interface. It seems this method could be provided as an extension method, which we can put on the existing `
ConfigurationExtensions` class:

[code]

[2020-08-18 16:42] ericstj commented on #40978
How does this distinguish from a present but empty section?

[2020-08-18 16:44] samsp-msft commented on #35126
My interest/motivation here is YARP - we need to transfer the headers to/from the Kestrel side as efficiently as possible. The less we have to deal with in terms of parsing the strings for names and content the better, also avoiding having to deal with the 2 different locations of the request and message headers is one less thing to compute.

[2020-08-18 16:47] Shpendicus opened #40992 "Making "readonly" keyword available also in functions not only Constructor"
## Background and Motivation

 doesnt work!
   //All init code here..
}

public <CLASSNAME>()
{
    initialSpeed = ComputeSpeed(param1, param2 ...);   ------------------> Works ofc!
}

But you cant use constructors in unity3D for init code so it would be really awesome to allow the use of readonly anywhere FOR 1 TIME, so the moment the compiler recognizes an init to a readonly field, every other a

[2020-08-18 16:47] maryamariyan commented on #36041
Below shows where we are getting the FormatException:

https://github.com/dotnet/runtime/blob/53976d38b1bd6917b8fa4d1dd4f009728ece3adb/src/libraries/Microsoft.Extensions.Configuration.CommandLine/src/CommandLineConfigurationProvider.cs#L113-L117

The sample in the description which fails uses the workflow of
[code]

Whereas the doc sample just simply does:
[code]

[2020-08-18 16:50] Shpendicus opened #40993 "available readonly keyword beyond constructor calls"
## Background and Motivation

## Proposed API

 doesnt work!
   //All init code here..
}

public <CLASSNAME>()
{
    initialSpeed = ComputeSpeed(param1, param2 ...);   ------------------> Works ofc!
}

But you cant use constructors in unity3D for init code so it would be really awesome to allow the use of readonly anywhere FOR 1 TIME, so the moment the compiler recognizes an init to a readonly fie

[2020-08-18 16:51] janvorli commented on #39598
I've measured performance with and without loop unrolling using the Brotli benchmarks. The impact of not unrolling was significant, between 6..9% for half of the benchmarks in the suite. All the results can be seen in the following gist:
https://gist.github.com/janvorli/d4b10e4a10a7adf1e79847e8a0351152

[2020-08-18 16:51] lateralusX commented on #34068
https://github.com/dotnet/runtime/pull/35008 passed with tests failing in this issue enabled on Mono runtime.

[2020-08-18 16:51] #34068 closed

[2020-08-18 16:54] joperezr commented on #38608
The easiest way to confirm that would be for you to try to run the tools `ldapwhoami` and klist from the Linux machine where you are trying to execute the application. If you are successfully domain joined, then you should see something like:

![image](https://user-images.githubusercontent.com/13854455/90541765-f3536080-e137-11ea-9236-a701e731a584.png)

As you can see above, both commands execute

[2020-08-18 16:55] NN--- opened #40994 "Custom ICMP type and code"
## Background and Motivation

Since Ping class is already implemented using raw sockets in Unix and Osx when running as root, it makes it easy to support any arbitrary type and codes.
Adding Windows support is easy given the implementation mentioned above.

## Usage Examples

`new Ping(new PingOptions { Code = 123, Type = 234 })`

Motivation is to be able to make any custom ICMP request.
The code

[2020-08-18 16:55] tarekgh commented on #40988
CC @noahfalk

I don't think this will help much as because the Activity has to travel through the asynclocal context which will get boxed at that time.

Could you tell more what you mean the allocation in Create? and what instances you are talking about here?

This will need life time management for the Activity objects to decide when you can free such objects and add policy to such pool. it is in

[2020-08-18 17:09] lukos opened #40995 "Potential Memory Leak in WebForms application"
I don't know if this is an actual leak or just excessive use of memory but we have a LOB web forms application used by, perhaps, 100 users roughly, hosted on IIS. We noticed that the Private Bytes usage jumped very quickly from around 200MB to about 6-700MB and sometimes closer to 1GB as soon as it starts to be used.

I have use windbg to grab the allocations first at 200MB, which is after the app

[2020-08-18 17:15] carlreinke commented on #35324
Any concerns or can this be ready-for-review?

[2020-08-18 17:22] GrabYourPitchforks commented on #40995
This is a WebForms (Full Framework) issue. @HongGit / @StephenMolloy - what's the best way to route this?

[2020-08-18 17:26] michelcedric commented on #40978
@ericstj
I think it's not possible, It's the same of Exists method.
But my goal is if the section is empty or present to have an exception.
If the section is missing or empty it's return false. I reuse the same mechanism
https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Extensions.Configuration.Abstractions/src/ConfigurationExtensions.cs#L76-L82

@terrajobst
I think your soluti

[2020-08-18 17:27] bartonjs commented on #40977
It... probably... isn't?  But I don't think we've had one come up in API review yet.

"The adjusted override return type doesn't hide any members from the previous return type" is probably all that's really required.  Fixed-type destination targets won't care, and `var` should only care if `new` method appears in its way.

[2020-08-18 17:29] maryamariyan commented on #38045
Ah, you're right, scope is not what you need.

The closest thing I can think of that could help with this is to setup filter rules in appsettings.json file and then update it later during the lifetime of the application as needed.

[code]

[2020-08-18 17:30] Gnbrkm41 commented on #40992
This is a language suggestion, and therefore belongs in dotnet/csharplang repo. The runtime repo is a place for suggestions / bug reports regarding the actual runtime / library.

[2020-08-18 17:30] ENikS commented on #40988
I was referring to [these two](https://github.com/dotnet/runtime/blob/3aced828a9cd6efa5bb237db3e40aa8b93ecdfa4/src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/ActivitySource.cs#L122-L123) allocations:

[code]

I am not suggesting to replace Activity with `ValueActivity`, I am suggesting adding it, same as `ValueTask` did not replace `Task` type. Given samples from [this gu

[2020-08-18 17:32] Gnbrkm41 commented on #40993
Not sure how this differs from the other issue... but this also belongs in the csharplang repo.

[2020-08-18 17:35] bartonjs commented on #40984
Hm.  Maybe we should just do a capability probe and try to avoid the \#ifs.

[code]

Since it's an if based on a static readonly that should even JIT down to the way we had it as precompiled.

[2020-08-18 17:48] AndyAyersMS commented on #40864
Would it be feasible for the complex instantiating stubs to detect at runtime if tail calls are pending (say looking at the TLS data) and then have two call sites, one that tail calls (presumably, slowly), the other that does a normal call.

Stubs would get bigger even if we never need the tail call part. Might also have some false positives where we tail call when not needed, but perhaps not too

[2020-08-18 17:50] agocke commented on #36089
@sbomer Could you take a look at this?

[2020-08-18 17:50] AndyAyersMS commented on #40061
600 runs with no local repro. No CI failures since the one back on 8/7. Am going to close as no repro.

[2020-08-18 17:50] #40061 closed

[2020-08-18 17:51] AndyAyersMS commented on #39393
No runs after 600 local attempts. Has not failed in CI in the past month. Closing as no repro.

[2020-08-18 17:51] #39393 closed

[2020-08-18 17:53] elinor-fung commented on #40965
Looks the failure in #39175 is being hit again.
CoreCLR Windows_NT arm64 Checked gcstress0xc_zapdisable_heapverify1 @ Windows.10.Arm64

cc @jkoritzinsky

https://github.com/dotnet/runtime/blob/3aced828a9cd6efa5bb237db3e40aa8b93ecdfa4/src/tests/Interop/COM/NETClients/Primitives/Program.cs#L28

[2020-08-18 17:56] agocke commented on #40103
@tlakollo Could you take a look at this?

[2020-08-18 17:59] agocke commented on #40874
@sbomer Could you take a look at this?

I'm actually not clear on what this should return. I think the user would expect the path to the single-file app, but if we don't return the path to the app host in the self-contained case it's also a little weird to do so now.

[2020-08-18 18:00] jakobbotsch commented on #40864
My guess is that we cannot detect that in general. Consider an example where the target function can do a fast tailcall to an instantiating stub for itself (which has one fewer arguments), while the instantiating stub cannot do a fast tailcall to the target function. Then there won't be any indication in the TLS that we are currently doing tailcalls.

[2020-08-18 18:09] wfurt commented on #40970
You would need to figure out where the time is spent @simcoster. With synchronous blocking API, you only depend on kernel e.g. if data is not available kernel will block the call and wake up when ready. With non-blocking or Async you are adding overhead of scheduling. If there is nothing to read, we will need to schedule notification and wake up when notified by kernel.

BTW `strace` has option to

[2020-08-18 18:10] tarekgh commented on #40988
I am wondering why using hierarchical Ids in the activity? just curious to know your scenario. This will limit the capabilities to have the activity context transfered or collected by telemetry collectors (e.g. appinsights or similar)

Yes that is what I understood in the first place.

Anyone create Activity is starting it which will add it to the async context. so this wouldn't be once in awhile.

[2020-08-18 18:14] Shpendicus commented on #40993
Sry the other one was a mistake, i just forgot to delete the first one^^

[2020-08-18 18:15] maryamariyan commented on #40827
I think that is expected.

cc: @steveharter @HaoK do you agree?

[2020-08-18 18:16] HaoK commented on #40827
Yeah this behavior has always been a bit gnarly but at this point its expected

[2020-08-18 18:16] mateoatr commented on #40874
But self-contained apps will deploy a dll that the user can actually see.

[2020-08-18 18:18] agocke commented on #40874
@mateoatr Right, that's why I'm leaning towards the file path of the host. It just seems like the only thing we could reasonably point to.

[2020-08-18 18:24] terrajobst commented on #40978
* We should make this an extension method, yes, it would make more sense on `IConfiguration`, but that's not a strong enough to perform an API breaking change.
* The `InvalidOperationException` seems like a good choice
* The implementation should probably use the `ConfigurationExtensions.Exists()` instead of using a custom check

[code]

[2020-08-18 18:27] agocke commented on #40874
Actually @mateoatr could you look at this instead? I @sbomer is looking at https://github.com/dotnet/runtime/issues/36089

[2020-08-18 18:32] tarekgh commented on #37919
Closing this per https://github.com/dotnet/runtime/pull/40962 & https://github.com/dotnet/runtime/pull/40910

@dmeytin would be good idea if you can migrate to 5.0 without using Globalization Invariant mode. That will give better functionality and the performance should be acceptable too.

[2020-08-18 18:32] #37919 closed

[2020-08-18 18:32] ericstj commented on #40978
It looks like @terrajobst fixed the suggestion to use this.  That addresses my concern.

@terrajobst would an interface addition with a default implementation be better?  Hypothetically an implementer could create a more efficient implementation that doesn't do a double lookup (exists + return).  I know we haven't explored default interfaces much in the BCL yet.

[2020-08-18 18:33] svick commented on #40977
@bartonjs As far as I can tell, it kind of behaves like a `new` method. Consider this code:

[code]

Based on my testing, if `IPEndPoint.Create` was updated to return `IPEndPoint`, then after recompilation with that new target framework, `WriteType` would produce different output, and the last line would no longer compile.

[2020-08-18 18:36] michelcedric commented on #40978
@terrajobst
Of course I change to use an Extension method i will reuse the ExistsMethod but in my first proposal it's not available.
@ericstj and @terrajobst, if you agree, I can change to write an extension method instead new method in api and introduce breaking change?

[2020-08-18 18:40] uiopak commented on #40946
I checked it again.
In my code in each iteration SendRequest is called 15 times and receives together 14 499 entries.

Loop 100 times:
| Library version          | Windows | WSL 2    | Docker   | Manjaro  |
| ------------------------ | ------- | -------- | -------- | -------- |
| 5.0.0-preview.7.20364.11 | 1.594GB | 448MB    | 463MB    | 410MB    |
| 5.0.0-preview.6.20305.6  | 1.608GB | 447MB    |

[2020-08-18 18:43] ericstj commented on #40978
@michelcedric, please change your PR to match the API @terrajobst lists here https://github.com/dotnet/runtime/issues/40978#issuecomment-675639726, then we can review and merge.

One thing to consider, this *just* missed the cut-off for 5.0 is there any pressing need for you to get this API into the 5.0 release or can it wait for 6.0?

[2020-08-18 18:46] ENikS commented on #40988
Imagine typical production server scenario, an http server for example. It will always have some kind of telemetry running in background set to low verbosity level, so IsEnabled() will always be true and as result activities are always created.

Now, request comes in and DI is asked to provide some type, a controller for example. It starts resolving the type and all its dependencies. At one point

[2020-08-18 18:46] joperezr commented on #38611
Still unable to repro this even when using a CentOS 7 machine:

![image](https://user-images.githubusercontent.com/13854455/90552921-6d8be100-e148-11ea-9200-e3ad589a0ca7.png)

[2020-08-18 18:47] michelcedric commented on #40978
@ericstj
It's not blocking for me to wait 6.0 but i prefer to use this one as soon as possible in my project. It's a little change finally ;)

[2020-08-18 18:48] #37865 closed

[2020-08-18 18:51] AndyAyersMS commented on #40810
Benchmarks games now uses [a slightly more up to date Ivy Bridge cpu](https://benchmarksgame-team.pages.debian.net/benchmarksgame/how-programs-are-measured.html).

[2020-08-18 18:53] stephentoub commented on #40977
Or:
[code]

[2020-08-18 18:54] NN--- commented on #40977
Perhaps there can be a new method introduced which returns specific type in derived classes ?

[2020-08-18 19:04] bartonjs commented on #40977
Ah, yes, generic inference and refs.

This is why I'm a fan of "don't use var except with new/hard-cast/as-cast".  So we'll have to decide if this is a case where we're OK breaking "var" users or not for our general breaking change guidelines.  (Not even just changing it on existing overrides, but can we use covariant returns on any overrides of existing types)

[2020-08-18 19:09] ENikS commented on #40988
While we are discussing optimizations I have another question. In this scenario, would it be possible to use Dispose to fire Stop event on the `DiagnosticListener` that started it?

Now I have to do this:
[code]

Instead I'd like to do this:
[code]

[2020-08-18 19:12] michelcedric commented on #40978
@terrajobst , @ericstj
I updated my pull request.
Thanks for your time, and I hope to see this method in next version ;)

[2020-08-18 19:16] terrajobst commented on #40862
* Similar to `ApplicationProcessPath` they should probably all be marked nullable
    - We decided to make `AppContext` non-nullable and return an empty string, but we could normalize that here.
* We considered putting the APIs on `AppContext` but we don't believe that's a type people should be looking it because it's the platform's quirking mechanism
* `AppEntryPointPath` returns a non-existing p

[2020-08-18 19:20] ENikS commented on #40988
Thinking about it even further, why are we even talking about crossing async local context? Regardless where it is allocated it lives in Activity.Current and is guaranteed to not to outlive predecessors?

In this case it is absolutely irrelevant if it is on the heap or the stack. Am I missing something? Could you provide more info?

[2020-08-18 19:22] am11 commented on #40862
`ApplicationEntryPointPath` can return `AppProcessPath` for single app and `EntryPoint.Assembly.Location` for non-single app. `GetCommandLineArgs()[0]` is not strictly needed to implement it.

[2020-08-18 19:22] tarekgh commented on #40988
Yes.

[2020-08-18 19:29] tarekgh commented on #40988
`Activity.Current` is just accessing the async local to set/get the current activity object. How you'll make the following work without async local context?

[code]

[2020-08-18 19:30] scalablecory commented on #40977
I think if we were designing these classes today, we would probably do this. But, I don't think this provides enough benefit to be worth a breaking change however small.

[2020-08-18 19:30] karelz commented on #38754
Moving remaining work to 6.0.

[2020-08-18 19:35] ENikS commented on #40988
I see your point, but this code makes no sense in DI terms.
By the time it executes the activity could be obsolete and current could be changed several times.

[2020-08-18 19:40] ENikS commented on #40988
Perhaps @davidfowl could chip in? He's got wealth of knowledge on the subject and faces the same issue with high throughput systems

[2020-08-18 19:40] karelz commented on #30767
We need to verify the E2E tests tp make sure this covers everything.
@Tratcher is it something you can run easily?

We also need to document the behavior and how to opt-out.

[2020-08-18 19:45] karelz commented on #40913
Triage: Single occurrence in last 3-6 months.
We should assess if it is a regression in 5.0 - we changed the code around it. The failure is suspicious.
If we don't have anything useful, ok to punt it to 6.0.

[2020-08-18 19:46] swaroop-sridhar commented on #40874
When an app is executed using an apphost (self-contained, framework-dependent, or single-file), its intuitive to expect the host-path as `GetComandLineArgs[0]`. I'm not sure why the path to the DLL is returned in place of the host path.

@jkotas Is this because we want to maintain consistency between runs that use `dotnet` host and apphost?
Do we know of any tooling that depends on the fact that `

[2020-08-18 19:58] layomia opened #40999 "Use internal versions of linker dynamic attributes in multi-TFM libraries"
Recent work to annotate multi-TFM libraries for linker safety has introduced netcoreapp specific #ifdefs in ref assemblies, e.g. in [System.Text.Json](https://github.com/dotnet/runtime/pull/38595), in order to use `DynamicallyAccessedMembersAttribute` and `DynamicallyAccessedMemberTypes` which are netcoreapp only. From previous discussions on keeping support for netstandard2.0 TFMs, whenever we ha

[2020-08-18 19:59] wfurt commented on #40913
The relevant code is:
[code]

[2020-08-18 20:00] maryamariyan commented on #40827
closing as expected

[2020-08-18 20:00] #40827 closed

[2020-08-18 20:11] TimLovellSmith commented on #14032
That's best time for reprioritization of N items as opposed to one item, right?

I'll clarify the doc: "UpdatePriority | O(log n)" should read "UpdatePriority (single item) | O(log n)".

[2020-08-18 20:22] joperezr commented on #40946
Thanks a lot for your investigation! This will be very helpful and I will do some profiling to figure out what the problem is here.

[2020-08-18 20:25] eerhardt commented on #34809
We can't change `BackgroundService` to implement the Dispose pattern outlined below, since it has already shipped in the form it has.

https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/implementing-dispose

If we changed the class to follow this pattern it would break anyone who has already overriden the `virtual void Dispose()`.

However, this may not be an issue since the offic

[2020-08-18 20:25] #34809 closed

[2020-08-18 20:26] noahfalk commented on #40988
IsEnabled() here refers to DiagnosticListener.IsEnabled()? I see you've got a few snippets above but could you add a snippet that shows the code you were benchmarking? I want to make sure we are focused on the right thing and I didn't recall we made any change in DiagnosticListener.IsEnabled() or Activity constructor so I wouldn't have expected a regression.

... I was referring to these two alloc

[2020-08-18 20:31] alexcovington commented on #40956
I'll add what I've dug through so far, but I may need some help making sense of it. The following will all be focusing on the `System.MathBenchmarks.Single.ScaleB` benchmark but the same holds for `System.MathBenchmarks.Double.ScaleB`.

Here is the benchmark in question:

[code]

And here is the assembly emitted by the JIT on both Windows and Linux:

**Windows**
_.NET Core 5.0.0 (CoreCLR 5.0.20.40

[2020-08-18 20:35] benaadams commented on #40992
C# 9 has Init-only properties? (though its not released just yet) https://devblogs.microsoft.com/dotnet/welcome-to-c-9-0/

[2020-08-18 20:36] #40813 closed

[2020-08-18 20:46] adamsitnik commented on #40061
@AndyAyersMS thank you!

[2020-08-18 20:49] danmosemsft commented on #40956
The Linux discrepancies are discussed here https://github.com/dotnet/runtime/issues/7364

The conclusion IIRC was that it was a variation in design choices made in the libc's.

It sounds like potentially the "ideal" (but costly) fix would be to ship the implementations rather than relying on the various libc's and that's was one of the reasons @tannergooding requested that AMD open source https://

[2020-08-18 21:07] alexcovington commented on #40956
I see, so it is just reliant on whichever libm is available on the system? I can definitely see that it would be costly to ship and maintain a dedicated implementation with the runtime.

Is it possible to change which libm CoreCLR is built with?

[2020-08-18 21:33] eerhardt commented on #39911
We can't change `IHost` by adding `IAsyncDisposable` to it. This would break consumers - Hosting still supports `netstandard2.0;net461`, which don't support default interface methods.

For now, the only implementation of `IHost` is our own internal `Host` class:

https://github.com/dotnet/runtime/blob/a7278fd9ba86f3e7dae72efe6e350c87a08fe926/src/libraries/Microsoft.Extensions.Hosting/src/Internal/

[2020-08-18 21:33] #39911 closed

[2020-08-18 21:38] jkotas commented on #40908
Unmanaged function pointers do support non-blittable arguments for backward compatibility. Unmanaged function pointers have existed in IL since .NET Framework 1.0. They have been used extensively by managed C++ and other non-C# code generators. Changing the runtime to throw on unmanaged function pointers with non-blittable argument would be significant breaking change.

The standard marshaling rul

[2020-08-18 22:02] jkotas commented on #40971
Potentially related: #13027

[2020-08-18 22:06] eerhardt commented on #36943
Since this is a regression in 5.0, I've put this in the 5.0 milestone. We should decide what to do here.

@Tratcher @davidfowl - does it make sense to allow for the same `BackgroundService` to be started multiple times without being stopped? I know this worked in 3.1, but the linked PR https://github.com/dotnet/extensions/pull/2823 regressed this scenario. But my initial thinking is that this shou

[2020-08-18 22:10] Tratcher commented on #36943
Agreed, this scenario conflicts with the intended design. Background services weren't intended to be run by themselves. The host creates the service, starts it, stops it, and disposes it.

[2020-08-18 22:26] ENikS commented on #40988
This is code I am benchmarking:
[code]
and these are the numbers:
[code]

The last result is the code without instrumentation

[2020-08-18 23:01] maryamariyan commented on #35986
@meareindel are you still getting the repro on your machine? could you then perhaps check if adding

[code]

to the beginning of Configure call in Startup class perhaps allows avoiding this deadlock?

[2020-08-18 23:33] jkotas commented on #40874
I believe that the code to compute the 0-th command line arg was inherited from Windows Phone, and it happened to work ok for .NET Core up until now.

I do not aware of any app that has dependency like this. It is likely that some exists. This falls into the general single-file compatibility issues. The apps that expect their managed entrypoint .dll exists on disk will need updates for single file

[2020-08-18 23:58] mhsimkin opened #41005 "Question: What is the preferred way to register custom logging provider?"
What is the preferred way of registering a custom provider?

When I review the code for the [LoggingBuilderExtensions.cs](https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Extensions.Logging/src/LoggingBuilderExtensions.cs) in the Logging Source code, I see that calling AddProvider with a type of ILoggingBuilder will add the passed logging provider as a singleton to the DI cont

[2020-08-19 00:01] wfurt commented on #40938
I could not reproduce it locally
[code]
can we verify that IPv6 is configured on the CI system?

[2020-08-19 00:11] danmosemsft commented on #40956
I don't think CoreCLR is built with libm. I think it uses whichever is the C runtime for the platform - msvc, glibc, or musl. The idea, as I undestand it, would be to compile one of these implementations (libm may be a convenient one) into CoreCLR itself, and use that on all platforms.

It would probably be best to continue this discussion with @tannergooding who I think is back in about a week or

[2020-08-19 00:15] Clockwork-Muse commented on #40912
Uh, why not:

[code]
.... note that your original version was multiplying and then dividing `tasa` by 12, which would have the effect of just... adding in slight rounding errors due to the factor of 3 (which would then get removed when you round it).

<hr />

There are some other things that irk me about the code:

 - Both switches appear to be on raw integers, as opposed to an `Enum`.
 - The orde

[2020-08-19 00:19] benaadams opened #41006 "OSX CI builds failing "Please install openssl before running this script""
[code]
All OSX, iOS, tvOS, etc legs failing with this in
https://github.com/dotnet/runtime/pull/41003
https://github.com/dotnet/runtime/pull/40877

[2020-08-19 00:22] directhex commented on #40938
@MattGal do we have an answer to that ^^ ?

And is IPv6 configured on any of the pre-Big-Sur Mac queues? i.e. has the behavior changed regarding unconfigured IPv6, or is that a config difference?

[2020-08-19 00:34] MattGal commented on #40938
@directhex not a mac expert, but a quick ifconfig looks like IPv6 is enabled on all the active adapters:
![image](https://user-images.githubusercontent.com/7862010/90578762-f6bb0c00-e178-11ea-8acc-e2183b920956.png)

I have KVM access to the macs so if you want me to check a specific thing just let me know.

[2020-08-19 00:41] danmosemsft commented on #40938
Would it be helpful to have a test that does nothing but verifies that IPv6 is enabled?

[2020-08-19 00:49] ericstj commented on #31326
That seems a significant per difference and disagrees with most of our benchmarks. Share a full benchmark in a new issue and we’ll investigate.  We stand by our perf claims.  It’s possible there is an opportunity for improvement here in STJ or mono runtime.

[2020-08-19 00:55] josalem opened #41007 "Error handling is too brittle for Windows IpcStreamFactory/IPC PAL"
If a Connect Diagnostic Port doesn't explicitly call `DisconnectNamedPipe` before closing the handle, the error handling in the runtime will erroneously treat this as a generic error rather than a hangup.  The if statement currently only marks `ERROR_PIPE_NOT_CONNECTED` as a hangup, but should also treat `ERROR_PIPE_BROKEN` as a hangup.  The current error path also does not reset the connection, s

[2020-08-19 00:56] josalem commented on #41007
See https://github.com/dotnet/diagnostics/pull/1420#issuecomment-674146842 for a description of the issue

[2020-08-19 01:05] janvorli commented on #39598
I've also looked at the other native shared libraries produced by the libraries build. Interestingly a significant part of the regression is caused by symbols. In 3.1, we were stripping all unneeded symbols, in 5.0, after unification of the stripping for all the three formerly separated repos, we are stripping only debugging symbols.

[2020-08-19 01:38] benaadams commented on #41006
Also
https://github.com/dotnet/runtime/pull/41004
https://github.com/dotnet/runtime/pull/41008

[2020-08-19 02:01] tommcdon commented on #40954
@davmason

[2020-08-19 02:13] noahfalk commented on #40988
There are a few things we should look at:
1. I wasn't able to repro the behavior you measured (my alternate code is shown below). Something specific about your scenario is 30x slower than my attempt to isolate just the Activity behavior.
2. What value are you extracting from creating presumably a large number of Activities that aren't being logged? I might be able to suggest a higher performing ap

[2020-08-19 02:25] ENikS commented on #40988
Imagine typical production server scenario, an http server for example. It will always have some kind of telemetry running in background set to low verbosity level, so `IsEnabled()` will always be true.

Now, request comes in and DI is asked to create and provide some type, a controller for example. It starts resolving the type and all its dependencies. At one point DI container encounters a probl

[2020-08-19 02:33] ToMyAF opened #41024 "The SSL connection could not be established, see inner exception. Authentication failed, see inner exception."
![image](https://user-images.githubusercontent.com/36257915/90585264-05500480-e207-11ea-8925-5f3549569409.png)
I don't do certificate validation, but it always prompts for this exception

[2020-08-19 02:47] AndyAyersMS commented on #40581
@RevensofT I have tried your repro on windows x64 with 3.1 and don't get an overflow.

Were you running into to this on some other OS or ISA?

[2020-08-19 02:55] wfurt commented on #40938
There was old issue to cleanup tests to not fail if IPv6 is not available. (sockets & HTTP)
But we did not get to it as priority ;(

If @MattGal has direct access, perhaps we could try to run the tests directly and see if that would fail.
Without repro, it would be hard to diagnose. Lack of IPv6 was guess since it failed on IPv6 path.

[2020-08-19 03:09] v-haren opened #41009 "Test failure: System.Net.Security.Tests.ServerAsyncAuthenticateTest.ServerAsyncAuthenticate_SniSetVersion_Success(version: Tls11)"
failed in job: [runtime 20200818.76 ](https://dev.azure.com/dnceng/public/_build/results?buildId=777063&view=ms.vss-test-web.build-test-results-tab&runId=24303606&resultId=155678&paneView=debug)

Error message
[code]

[2020-08-19 03:30] danmosemsft commented on #41009
@v-haren can you please include configuration information in issues about test failures? For example this one is `net5.0-Linux-Release-x64-Mono_release-(Debian.10.Amd64.Open)ubuntu.1604.amd64.open@mcr.microsoft.com/dotnet-buildtools/prereqs:debian-10-helix-amd64-bfcd90a-20200121150006`

@wfurt looks like https://github.com/dotnet/runtime/pull/39482

[2020-08-19 03:33] v-haren opened #41010 "Test failure: System.Net.Mail.Tests.LoggingTest.EventSource_EventsRaisedAsExpected"
failed in job: [runtime-coreclr libraries-jitstress 20200817.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=773746&view=ms.vss-test-web.build-test-results-tab&runId=24175342&resultId=131662&paneView=debug)

Error message
[code]

[2020-08-19 03:35] v-haren opened #41011 "Test failure: JIT/Regression/JitBlue/Runtime_40444/Runtime_40444/Runtime_40444.sh"
failed in job: [runtime-coreclr jitstress 20200817.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=775311&view=ms.vss-test-web.build-test-results-tab&runId=24241828&resultId=106521&paneView=debug)

Error message
[code]

[2020-08-19 03:42] v-haren commented on #41009
Got it. will be added in the later questions

[2020-08-19 03:45] wfurt commented on #41009
I will take a look. The PR was clean when submitted but I would not be surprised.

also note that the links do expire pretty quickly so adding copy of some basic info is generally always useful.

[2020-08-19 03:50] wfurt opened #41012 "Environment.OSVersion returns wrong info on Big Sur"
This returns 10.16 and _may_ be caveat of the beta.
However, is is curious that OS tools report 11.0 as expected:
[code]
This seems to also impact `dotnet --info` and perhaps package selection.

cc: @akoeplinger @marek-safar @danmosemsft

[2020-08-19 04:06] danmosemsft commented on #41012
https://github.com/dotnet/runtime/blob/c87e75e8ef260ccc6e979f9df1cc012536ee036f/src/libraries/Common/src/Interop/OSX/Interop.libobjc.cs#L34-L50

[2020-08-19 04:08] wfurt commented on #41012
yah, I saw that. Some objective C messaging...

[2020-08-19 04:10] danmosemsft commented on #41012
[This ](https://stackoverflow.com/a/56403143) suggests everything ultimately reads `/System/Library/CoreServices/SystemVersion.plist` - maybe not in any more. What is in there on your system?

[2020-08-19 04:21] danmosemsft commented on #36089
@agocke it's also a partner ask as @preethikurup is tracking on https://github.com/orgs/dotnet/projects/7

[2020-08-19 04:30] wfurt commented on #41012
[code]

Parsing files seems tricky. What is curious is that we seems to be using API Apple does not use for system utilities.
They may fix it eventually. If supported on mobile devices, systctl seems easies. We already have wrapper and it gives back string.

[2020-08-19 04:42] v-haren opened #41013 "Test failure: System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_SslProtocols_Test.GetAsync_SupportedSSLVersion_Succeeds"
failed in job: [runtime-libraries outerloop 20200818.1 ](https://dev.azure.com/dnceng/public/_build/results?buildId=775703&view=ms.vss-test-web.build-test-results-tab&runId=24253542&resultId=103156&paneView=debug)

net5.0-Linux-Release-arm64-CoreCLR_release-(Alpine.312.Arm64.Open)ubuntu.1804.armarch.open@mcr.microsoft.com/dotnet-buildtools/prereqs:alpine-3.12-helix-arm64v8-20200602002604-25f8a3e

[2020-08-19 06:20] mjsabby commented on #37227
@GrabYourPitchforks assuming checking the X (1000 in the above comment) ranges in addition to stack scan that already occurs for by-ref types is prohibitive, one mitigation could be that this is only done for Gen2 GCs or something. This would of course be in addition to the basic pay for play check where we wouldn't even enter this code path if there are no active memory mapped files that were map

[2020-08-19 06:26] wfurt commented on #41006
cc: @MattGal

[2020-08-19 06:28] mangod9 commented on #40712
Thanks @ChrisAhna for investigating. Moving to 6.0 based on the current theory that this is somehow hardware related.

[2020-08-19 06:31] wfurt commented on #40943
While test failure may be infrastructure, I'm wondering if segfault is the best answer @bartonjs. That seems rather unplesant.

[2020-08-19 06:38] Jlalond commented on #14032
@TimLovellSmith Makes sense, but wouldn't any update of priority actually ne O2 * (log n), as we'd need to remove the element and then reinsert it? Basing my assumption off this being a binary heap

[2020-08-19 06:45] GrowSharp commented on #38608
I know I'm not domain joined.
So, we can close this one? As it's clear that it shouldn't even work in my scenario of not domain joined environments?

[2020-08-19 06:49] GrowSharp commented on #38611
That's really weird. Is it possible that our AD server is just broken? I have no idea what to do with this, I'm trying to port our oAuth service to linux, but if I won't be able to authenticate even 1% of users, I will have to stay on Windows.
Any ideas? @joperezr

[2020-08-19 06:51] masonwheeler commented on #14032
Constant factors like that 2 are generally ignored in complexity analysis because they become mostly irrelevant as the size of N grows.

[2020-08-19 06:59] Jlalond commented on #14032
Understood, mostly wanted to know if Tim had any exciting ideas to only do
one operation :)

On Tue, Aug 18, 2020, 23:51 masonwheeler <notifications@github.com> wrote:

[2020-08-19 07:03] erich-wang commented on #40815
@KalleOlaviNiemitalo, did you really get the Initialize failure or just infer from source code? I did not get the failure you mentioned with .Net Core 3.1 on Windows.

[2020-08-19 07:22] ENikS commented on #32060
@jkotas

I been scratching my head for for a very long while trying to create a struct that holds reference to a parent.

I am using it in [Unity container](https://github.com/unitycontainer) to build dependency graphs during resolution. I had to use unsafe code to do so but it places certain limitations on where it could be executed. A solution that doesn’t require unsafe methods would be a dream

[2020-08-19 07:54] lateralusX commented on #39704
So we have disabled COM support on netcore (all platforms), this is from winconfig.h

#ifndef DISABLE_COM
#define DISABLE_COM 1
#endif

and the will result in:

#ifdef DISABLE_COM
#define mono_class_is_com_object(klass) (FALSE)
#else
#define mono_class_is_com_object(klass) (m_class_is_com_object (klass))
#endif

so IsCOMObject will always return FALSE on netcore mono runtime.

Since this is a Wind

[2020-08-19 07:55] davidfowl commented on #40988
You don't want to use ActivitySource in your DI container, IMO it's too heavy for a component this low in the stack. I'd use an EventSource, it's what the default container does in Microsoft.Extensions does.

[2020-08-19 07:56] Pikhulya opened #41018 "System.ComponentModel.Composition support for .NET Core 3.1"
I have .net core 3.1 application (targeting win-x64, also tried win10-x64 with the same results) referencing netstadard 2.0 [Microsoft.SqlServer.DACFx 150.4826.1](https://www.nuget.org/packages/Microsoft.SqlServer.DACFx/) which fails with **PlatformNotSupportedException: System.ComponentModel.Composition APIs are not supported on this platform.**:

![image](https://user-images.githubusercontent.co

[2020-08-19 08:20] devsko commented on #40878
Hi @Turnerj
root cause of this issue is that you have a single `JsonConverter<IValues>` and the implementations of that interface are value types. That means the property values have to be boxed while serializing and unboxed while deserializing.

For performance reasons, STJ generates getter/setter in plain IL and [explicitly without boxing](https://github.com/dotnet/runtimelab/blob/JsonCodeGen/sr

[2020-08-19 08:54] safern commented on #41006
Perhaps we're missing to link OpenSSL?

https://github.com/dotnet/runtime/blob/60eff3f3766631bd4e7ee256ca17619fec90e9e6/eng/Brewfile#L6

cc: @akoeplinger

[2020-08-19 09:21] NextTurn commented on #1154
Just a question. *libnethost.lib* is now 7 MB large. Does it look right?

[code]

[code]

[2020-08-19 09:33] KalleOlaviNiemitalo commented on #40815
@erich-wang, I just read the source code. Do you mean [EventSource.ConstructionException](https://docs.microsoft.com/dotnet/api/system.diagnostics.tracing.eventsource.constructionexception?view=netcore-3.1) was not set in your test?

[2020-08-19 09:34] filipnavara opened #41021 "Upcoming OpenSSL change is likely going to cause failing unit tests"
This is a heads up warning. The `PKCS12_parse` function used for certificate import on Linux systems used inconsistent ordering (https://github.com/openssl/openssl/issues/6698). Now OpenSSL was modified to reverse the order of the certificates (https://github.com/openssl/openssl/commit/fc0aae737eb1cb2d2554caa8bffea80b8cbd38f9). .NET has [unit tests that check the order of the imported certificates

[2020-08-19 11:02] noahfalk commented on #40988
There are alternative ways we could record these steps. Activity comes with some overheads you probably don't need in this task such as timestamps on start and stop, sampling support, randomized generation of W3C compliant trace ids, and tracking the current entry using async-local storage.

My general rule of thumb is that I aim to make telemetry collection not more than ~10% overhead on the usef

[2020-08-19 11:34] KalleOlaviNiemitalo commented on #40815
I now tested that .NET Core 3.1 on Windows sets MySource.Instance.ConstructionException.

[code]

[2020-08-19 12:49] cincuranet opened #41026 "Support for DECFLOAT in System.Data.DbType"
## Background and Motivation

`DECFLOAT` datatype is quite common in databases nowadays and would make sense to add the "support" for it into `DbType` enum.

## Proposed API

[code]

## Risks

I believe this is a low risk change, as it's adding only new values to the end of the enum. The support is purely in the enum and ADO.NET providers can _then_ use the values as they wish/feel usable. For exi

[2020-08-19 12:53] cincuranet commented on #20640
If/When the `(U)Int128` is added, probably also `System.Data.DbType` should be updated.

[2020-08-19 13:01] kjpou1 commented on #37152
When I executed the following:

[code]

I do not get that error anymore

[2020-08-19 13:07] MaximLipnin commented on #37152
Kenneth, could you try it for `Release` configuration?

[2020-08-19 13:09] kjpou1 opened #41027 "[wasm][build] "CreateWasmBundle" task failed unexpectedly"
The file that is not found is `dotnet.timezones.blat`

When executing the following command from the documentation [Building the WebAssembly runtime files](https://github.com/dotnet/runtime/blob/master/docs/workflow/building/libraries/webassembly-instructions.md#building-the-webassembly-runtime-files)

[code]

The following error is produced:

[code]

Adding the `/p:BuildTargetFramework=net5.0` se

[2020-08-19 13:21] adamsitnik opened #41028 "[Perf -493%] System.Linq.Tests.Perf_Enumerable.FirstWithPredicate_LastElementMatches"
I am now running an independent 3.1 vs 5.0 comparison and I've confirmed that it's actual regression introduced in 5.0.

The issue has been originally reported by a bot owned by @DrewScoggins in https://github.com/DrewScoggins/performance-2/issues/860 Since I can't transfer issues from https://github.com/DrewScoggins/performance-2/ to https://github.com/dotnet/runtime I have simply copy-pasted its

[2020-08-19 13:22] adamsitnik commented on #41028
## System.Linq.Tests.Perf_Enumerable.FirstWithPredicate_LastElementMatches(input: IOrderedEnumerable)

| Conclusion |   Base |    Diff | Base/Diff | Modality | Operating System        | Bit | Processor Name                              | Base Runtime    | Diff Runtime         |
| ---------- | ------:| -------:| ---------:| --------:| ----------------------- | --- | --------------------------------

[2020-08-19 13:24] stephentoub commented on #41028
Dup of https://github.com/dotnet/runtime/issues/39032#issuecomment-656678750

[2020-08-19 13:24] #41028 closed

[2020-08-19 13:28] jkotas commented on #32060
You have to use unsafe code for that today.

[2020-08-19 13:31] thepalbi opened #41029 "Debugger.Launch not working on MacOS"
### Description
A few days ago, while playing around with [Coyote](https://github.com/microsoft/coyote) I find out there was an issue while using a command that supposedly launches a debugger, and wait until you attach it to continue execution. This feature is not working in MacOS, but they suggested trying adding a

[code]

to trigger the debugging. This is also not working in MacOS (when running

[2020-08-19 13:32] Ninds opened #41030 "Behaviour of LogInformation inconsistent with String.Format"
Hi,
I have the following code \:
[code]
And it throws as indicated.

Perhaps it's expected behaviour in which case confirmation would be appreciated, else I guess it's an oversight.

Thanks
N

[2020-08-19 13:40] alnikola commented on #40794
@jensolsson You need Windows 10 Version 2004 **build 19573 or newer**. Could you please tell me what is the Window's build number you tested it on?

[2020-08-19 13:41] davidfowl commented on #41030
Yes it's expected. There's actually an analyzer to detect these usage patterns and warn you but it's not on by default yet. Logging wants you to use named format strings so that structured logging works (we capture the names of the format string).

This is what logging implements https://messagetemplates.org

[2020-08-19 13:42] adamsitnik commented on #39035
I confirm that this benchmark has regressed on every OS, adding the 5.0 milestone

## System.Numerics.Tests.Perf_Vector2.GetHashCodeBenchmark

| Conclusion | Base | Diff | Base/Diff | Modality | Operating System        | Bit | Processor Name                              | Base Runtime    | Diff Runtime         |
| ---------- | ----:| ----:| ---------:| --------:| ----------------------- | --- | --

[2020-08-19 13:45] adamsitnik commented on #39035
Vector3 has regressed as well, but I am not creating a new issue:

## System.Numerics.Tests.Perf_Vector3.GetHashCodeBenchmark

| Conclusion | Base | Diff | Base/Diff | Modality | Operating System        | Bit | Processor Name                              | Base Runtime    | Diff Runtime         |
| ---------- | ----:| ----:| ---------:| --------:| ----------------------- | --- | ------------------

[2020-08-19 13:47] bartonjs commented on #40943
SIGSEGV is pretty weird.  If it's just a missing dependency that should show up just as the shim failing to load, then a TypeLoadException from Interop.Crypto.

Maybe it's that newer macOS manifests the bind failure from our hyperportable loader differently than prior versions (since I'm pretty sure I manually tested the "can't find OpenSSL" case when doing the feature port)

[2020-08-19 13:49] adamsitnik commented on #39029
Confirmed, 5.0 milestone added:

## System.Numerics.Tests.Perf_Vector4.GetHashCodeBenchmark

| Conclusion | Base | Diff | Base/Diff | Modality | Operating System        | Bit | Processor Name                              | Base Runtime    | Diff Runtime         |
| ---------- | ----:| ----:| ---------:| --------:| ----------------------- | --- | ------------------------------------------- | ------

[2020-08-19 13:52] Ninds commented on #41030
Cheers mate !
It clears up a bit of confusion that I didn't realise I had had.
I read somewhere that string interpolation should be avoided so went back to using the format as demonstrated in the code above.
However All clear now \: structured logging. \neq string interpolation

[2020-08-19 13:52] #41030 closed

[2020-08-19 13:57] adamsitnik commented on #37808
I've sent a PR to remove the `0` elements benchmark case: https://github.com/dotnet/performance/pull/1465

[2020-08-19 13:58] CarnaViire commented on #1487
As it was mentioned before, the problem is caused by Unicode bidi chars (characters that say that the string should be printed right-to-left, or with right alignment, etc.). These chars are removed from the authority part of a uri during the parsing.

At first I thought that the presence of bidi chars always breaks the parsing, but now I found out it's not the case. Here are examples of uri with b

[2020-08-19 14:00] adamsitnik commented on #37808
We know that BlockCopy is bimodal, but I currently don't have enough data to close the issue. I am going to update it later this week when I get reports from others

## PerfLabTests.BlockCopyPerf.CallBlockCopy(numElements: 1000)

| Conclusion |  Base |  Diff | Base/Diff | Modality | Operating System        | Bit | Processor Name                              | Base Runtime    | Diff Runtime

[2020-08-19 14:18] adamsitnik commented on #13150
Closing in favor of https://github.com/dotnet/runtime/issues/39039

[2020-08-19 14:18] #13150 closed

[2020-08-19 14:19] vcsjones commented on #41012
It's dependent on which macOS SDK is used. If the code is built with xcode 12 beta and uses the macOS 11 SDK, then `operatingSystemVersion` returns 11. If you build using the macOS 10.15 SDK or lower, it returns a "compat" version of 10.16.

I think Apple did this to mitigate older apps making the assumption that version would be 10 forever, and only return the later version on the new SDK.

[2020-08-19 14:22] adamsitnik commented on #39039
I don't have enough data to be 100% sure that the benchmark is not just multimodal, but the data that I have so far tells that it might be Windows x64 specific issue. I am going to update it later this week when I have data from more runs and machines

## PerfLabTests.CastingPerf2.CastingPerf.ScalarValueTypeObj

| Conclusion |      Base |      Diff | Base/Diff | Modality | Operating System

[2020-08-19 14:41] georgeoprescu opened #41032 "System.IO.Ports - custom baud rate 5787 not working"
Platform: RPi v4 Model B (armv71)
dotnet runtime version: 3.1
OS: Dietpi v6.26.3

When using System.IO.Ports.SerialPort class with a baud rate set to 5787 there is no communication with the connected device.
If baud rate is changed to 4800 it works.

If I switch to .net framework on windows, I can connect to the device using either of the bad rates and works just fine.

Physical connection is acco

[2020-08-19 14:55] wfurt commented on #41012
Interesting. Since we do single build on 10.13, we may do some fix-ups here.

[2020-08-19 14:57] clguiman opened #41034 "[Cross-targeted DBI] CordbModule::InitPublicMetaDataFromFile always returns E_FAIL in the cross-targeted DBI"
### Description
Some cross-DAC/DBI changes were not backported in 3.1.*.
For example CordbModule::InitPublicMetaDataFromFile  always returns E_FAIL so the DBI caller cannot provide an external module when the module metadata is missing from the target (all CoreDump scenarios except full dumps).
I suspect the issue is caused by the `#ifdef FEATURE_FAL:`  code line here https://github.com/dotnet/cor

[2020-08-19 14:59] danmosemsft commented on #41032
Thanks for the report. Would you like to investigate a little bit?

[2020-08-19 15:09] scn-gprosper commented on #32738
@ram62836 Did you ever find a solution to this issue?

[2020-08-19 15:12] TonyValenti opened #41035 "IDictionary/IReadOnlyDictionary - ICollection/IReadOnlyCollection"
Please make the following enhacements:
1.  Please make ICollection<T> implement IReadOnlyCollection<T>
2.  Please make IDictionary<K,V> implement IReadOnlyDictionary<K,V>

I believe this is a very minor change.

[2020-08-19 15:15] EgorBo commented on #41035
Duplicates: https://github.com/dotnet/runtime/issues/31001

there are pitfalls, e.g. https://github.com/dotnet/runtime/pull/33245#issuecomment-597890374

[2020-08-19 15:15] ststeiger commented on #40828
@eerhardt:
Here you go: https://gofile.io/d/6XrTdc

With AddJsonFile as mentioned above:
[code]

[2020-08-19 15:19] scn-gprosper commented on #32738
@JeremyKuhne Why was this issue closed. Has it been resolved?

[2020-08-19 15:34] MattGal commented on #41006
I can't help with _these_ Macs unfortunately, but I would point out that right now (and through 10/1) there's a transition going on with the hosted Azure Devops mac hardware where it's moving from one place (and type of machine) to another; slightly variances there are quite possible.  Also, in order for the runtime OpenSSL-based tests to pass, we do absolutely have to link in the two dylibs refer

[2020-08-19 15:40] kjpou1 opened #41036 "[browser][wasm] Marshal tests "Could not find assembly""
The following error is now thrown in the tests due to PR: https://github.com/dotnet/runtime/pull/40478

[code]

[2020-08-19 15:45] jensolsson commented on #40794
I am on 19041. I guess 19573 is a prerelease version?

Kind regards
Jens
On 19 Aug 2020, 15:41 +0200, Alexander Nikolaev <notifications@github.com>, wrote:

[2020-08-19 15:52] alexcovington commented on #40956
That makes more sense, thanks for clearing this up. I'll wait for @tannergooding to give his input.

[2020-08-19 16:00] vitek-karas commented on #41027
@lewing Would you know who should look into this? I think this is SDK/Blazor issue, but I'm not familiar enough with that part.

[2020-08-19 16:01] ENikS commented on #40988
Gentlemen, thank you for your feedback. I appreciate your opinions and suggestions.
This is very unfortunate that such a promising technology turned out to be so slow.

I'd like to invite one more person @jbogard to this discussion. His [excellent article](https://jimmybogard.com/building-end-to-end-tracing-diagnostic-events/) inspired me to do the integration. He might want to know that it is not

[2020-08-19 16:03] steveisok commented on #40065
Not sure that file locking matters in the vfs context.  Also doesn't seem to be that high of a priority on the emscripten side. I would recommend closing and adjusting the tests accordingly.

Note that the current emscripten implementation is just going to blanket succeed.

https://github.com/emscripten-core/emscripten/blob/0d013b6af862948f322b330a8f83159e50b486e1/src/library.js#L108

[2020-08-19 16:05] mdh1418 commented on #40867
It looks like `EnsureThrowWhenCopyToNonSharedFile` does not throw an error because `flock` is not yet implemented on emscripten https://github.com/emscripten-core/emscripten/issues/11797.

[2020-08-19 16:10] eerhardt commented on #40828
Is there also another workaround that needs to be removed to see the bug? In `CreateHostBuilder` I see:

[code]

I believe this is working around the bug as well. If I remove that line,a nd change the AddJsonFile as above, then I see:

[code]

That is the problem you are reporting, right? Assuming it is, I think I know understand the issue(s).

### Issue 1 - AppContext.BaseDirectory is "wrong" in

[2020-08-19 16:10] #40828 closed

[2020-08-19 16:11] eerhardt commented on #40700
Moving to 6.0, as this isn't necessary for 5.0.

[2020-08-19 16:13] ENikS commented on #32060
Any way I could build my own `ByReference<>`? If I can build entire framework locally, why not just that single type?

NET is full of dangerous code and could be used badly, I am baffled why that particular type became such a guarded 'golden fleece'? For library authors it could be life saver. The closest thing C# could have to C++.

Write "Don't use under no circumstances!" in big letters in docu

[2020-08-19 16:14] DaZombieKiller commented on #32060
There is an example of this in the OP, using a private `Span<T>` field.

[2020-08-19 16:15] JeremyKuhne commented on #32738
Because we were waiting on more details https://github.com/dotnet/runtime/issues/32738#issuecomment-595497443.

Note that I am no longer on the runtime team.  @carlossanlop is now the primary contact for System.IO.

[2020-08-19 16:21] akanshanegi opened #41040 "Failed to resolve .net standard library referenced by a WASM in the VSTS pipeline."
I have a wasm hosted on .Net Core project. In the wasm project i have added a reference of a net standard project. It build fine locally and even publishes fine to a local folder. But when deployed through VSTS pipeline the publish task fails with mono error.
 Fatal error in Mono IL Linker
C:\Users\prgremotebuilder\.nuget\packages\microsoft.aspnetcore.components.webassembly.build\3.2.1\targets\Bla

[2020-08-19 16:21] ericstj opened #66316 "Make Runtime.json generation better support merging architectures into compatible runtimegroups"
Today when an OS like windows adds an architecture in the middle of its version range we end up applying that architecture to all versions.

We should make a way to add an architecture while still importing previous versions.

See discussions https://github.com/dotnet/runtime/pull/38832 https://github.com/dotnet/corefx/pull/42968

[2020-08-19 16:23] ENikS commented on #32060
@DaZombieKiller  Thank you, but it is rather expensive to create 3 different types (ByReference, Span, FakeByReference) to hold just one reference.

In the [IoC](https://github.com/unitycontainer) I am working on even difference in one reference field in the context structure brings performance down 15% from 14ns to 16.5ns. Multiplied by couple of million resolutions during startup of application

[2020-08-19 16:23] eerhardt commented on #36376
Just to summarize what work needs to be done for this issue:

This issue is tracking adding XML documentation to the `IsDevelopment`, `IsStaging` and `IsProduction` methods that they are intended to be used by applications, and aren't intended for library authors.

[2020-08-19 16:34] ericstj commented on #33631
@Anipik I think we can remove https://github.com/dotnet/runtime/blob/master/eng/notSupported.SourceBuild.targets now.  I'll open a new issue for this and assign it.  We should do this in 5.0.0

[2020-08-19 16:35] tommcdon commented on #41034
@sdmaclea

[2020-08-19 16:40] richlander commented on #2021
Yes, @janvorli talked to me. This is not required for 5.0. It's a nice-to-have based on the hope of a low cost profile for the work. We also don't expect many users of this.

In my mind, the real reason to do this isn't to enable support for Alpine ARM32 but that we'd now have Alpine support for all supported container configurations. This would enable us to create manifest tags for Alpine images,

[2020-08-19 16:42] ericstj opened #41042 "Ensure we can run the not-supported source generation in source build"
Follow up issue for https://github.com/dotnet/runtime/issues/33631

We should remove this file as it should no longer be needed: https://github.com/dotnet/runtime/blob/master/eng/notSupported.SourceBuild.targets

We should also change the condition on https://github.com/dotnet/runtime/blob/f0461cb51032e45cbcabf2152e0c82c8c5a890bc/src/libraries/Directory.Build.targets#L139 to
[code]

While doing th

[2020-08-19 16:46] danmosemsft commented on #33838
@ericstj do we need to add validation here and run it for 5.0 do you think?

[2020-08-19 16:47] karelz commented on #40794
@jensolsson looks like it is only in Dev channel of Insider builds: https://insider.windows.com/en-us/ (closest announced was [19577 from 2020/3](https://blogs.windows.com/windowsexperience/2020/03/05/announcing-windows-10-insider-preview-build-19577/))
Official OS versions: https://en.wikipedia.org/wiki/Windows_10_version_history

[2020-08-19 16:49] karelz commented on #40794
Closing as addressed. If you try it out, let us know how it goes.

[2020-08-19 16:49] #40794 closed

[2020-08-19 16:49] wfurt commented on #41024
What version of .NET are you on and what OS @ToMyAF?
Since you seems to be on curl path, also `curl --version`
You may need to do packet captures with Wireshark or tcpdump.

Note that SslProtocols.None is 0 so adding it via or does not do anything.
It is also default for HttpClient so if you want to use it, do not set any specific versions.

[2020-08-19 16:51] #40218 closed

[2020-08-19 16:51] danmosemsft commented on #40942
@symbai I see you've thumbs-down. Could you share your concerns?

[2020-08-19 16:55] niveditha0706 opened #41043 "TransactionAbortedException at scope.Complete() when running asynchronous operation"
I am getting TransactionAbortedException at scope.Complete() when running asynchronous operations (multiple update requests to the DB). Please find below the code snippet that i am using.

public void UpdateUsingAsyncAwait(Datawindow<DQuotRiskLocItemDdo> data)
        {
            using (TransactionScope scope = new TransactionScope(TransactionScopeOption.RequiresNew,
                       new T

[2020-08-19 17:01] jkotas commented on #32060
I would just use unmanaged pointers. Without the language safety guardrails, `ByReference<T>` and unmanaged pointers are equally unsafe.

[2020-08-19 17:02] samsp-msft commented on #40776
FYI: For your test app, make sure you aren’t running under the debugger. VS TPL analysis can conflict with the activity tracking – its something Noah mentioned to me when I was looking at some other event stuff.

Sam

From: Marie Píchová <notifications@github.com>
Sent: Wednesday, August 19, 2020 4:09 AM
To: dotnet/runtime <runtime@noreply.github.com>
Cc: Sam Spencer <Sam.Spencer@microsoft.com>; M

[2020-08-19 17:06] BruceForstall commented on #41011
This is a dup of https://github.com/dotnet/runtime/issues/40885

[2020-08-19 17:06] #41011 closed

[2020-08-19 17:07] safern commented on #33838
FWIW, we added this asset on: https://github.com/dotnet/runtime/pull/40814

[2020-08-19 17:13] Sergio0694 commented on #32060
@ENikS I've added a `Ref<T>` type (and readonly version, and Nullable ones too) to the `Microsoft.Toolkit.HighPerformance` package, if you're interested. You can find the docs for that [here](https://docs.microsoft.com/en-us/windows/communitytoolkit/high-performance/ref). I also have a PR open (should be merged shortly) that makes it use the actual `ByReference<T>` type from CoreCLR when running o

[2020-08-19 17:18] ENikS commented on #32060
@jkotas  I can't use pointer because structs contain managed references.

To give you more 'context', when IoC advances from dependency to dependency it creates a local Context on the stack frame. But unfortunately it also require a reference to parent Context living on stack frame as well. The lifetime is guaranteed to be shorter than the parent because parent is always calling method and survive

[2020-08-19 17:19] eerhardt commented on #40862
public string? AppBaseDirectory => AppContext.BaseDirectory;

One thing to be leery of is that `AppContext.BaseDirectory` is not documented as "the directory path of your application". But instead it is [documented](https://docs.microsoft.com/dotnet/api/system.appcontext.basedirectory) as

For the newly proposed property, I think we want to be explicit that this property is "the directory path of

[2020-08-19 17:21] agocke commented on #40862
`Environment.GetCommandLineArgs()[0]` is also complicated. For embedded single-file we'd like it to return the executable path, since all the modules are embedded in the host and don't have a path of their own.

[2020-08-19 17:22] joperezr commented on #38608
Thanks a lot for checking @GrowSharp! Yeah, I think we should probably go ahead and close this one as by-design for now. Feel free to log a feature request if you think that this is not the right experience and we can see if we can do something different, but at least with the native library that we are using underneath it is unfortunately not possible to perform an anonymous search if you are not

[2020-08-19 17:22] #38608 closed

[2020-08-19 17:23] georgeoprescu commented on #41032
After setting the baud rate to 5787, when calling Open() an ArgumentException with the message:  "Value does not fall within the expected range." is thrown.

Thanks,
George

[2020-08-19 17:25] jkotas commented on #32060
You can use System.Runtime.CompilerServices.Unsafe.

[2020-08-19 17:27] TimLovellSmith commented on #14032
@Jlalond
No novel ideas, I was just ignoring an constant factor, but decreases are also different from increases

If the priority update is a decrease, you don't have to remove it and re-add it, so its 1 * O(log n) = O(log n).
If the priority update is an increase, you probably have to remove it and re-add it, so its 2 * O(log n) = still O (log n).

Someone else might have invented a better datast

[2020-08-19 17:28] jkotas commented on #40862
What would you suggest that the implementation of the new property to be? I do not think there is one implementation that works for everybody.

[2020-08-19 17:29] sdmaclea commented on #41034
Master would behave the same.  Master renamed `FEATURE_PAL` to `TARGET_UNIX`.

Can you elaborate how important this is?  We need probably need to backport this to 5.0 if it is important.

[2020-08-19 17:30] TimLovellSmith commented on #14032
`KeyValuePair` crept into the interface while it was a dictionary, but survived the removal of dictionary, mainly so that its possible to iterate the collection of _elements with their priorities_. And also so that you can dequeue elements with their priorities. But maybe for simplicity again, dequeue with priorities should only be in the 'advanced' version of Dequeue API. (TryDequeue :D)

I'll ma

[2020-08-19 17:31] sbomer commented on #7120
From my testing, it looks like `ProcessExit` is correctly invoked when a terminal window is closed on Windows (which sends the `CTRL_CLOSE_EVENT`) on 5.0. A few things to watch out for (repeating some things @ygoe has already pointed out):
- The console window will be closed while `ProcessExit` runs - so don't expect to see output from `Console.WriteLine` after closing the window.
- There's a [tim

[2020-08-19 17:32] safern commented on #41006
@MattGal can you help me opening an ICM ticket to figure out what changed?

[2020-08-19 17:32] DaZombieKiller commented on #32060
That pull request (https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3367) has me not just impressed but concerned, as it's exposing a type that is (to my knowledge) considered by the .NET team a temporary workaround and may be removed when a more appropriate `ref` field solution comes along. If several projects start relying on it, then wouldn't that place the removal of `ByReferenc

[2020-08-19 17:33] itodirel commented on #40049
@Gnbrkm41 you could also try the open cache feature, where you generate the cache externally with the existing scripts, and configure it to open with Visual Studio; we don't currently have a pregenerate command that would work in local non-remote scenarios

[2020-08-19 17:33] ENikS commented on #32060
@jkotas

I can't! It will not run in some of UWP scenarios. Also, Unity is used by a lot of big financial organizations and some places restrictions on Unsafe code in libraries.

[2020-08-19 17:34] MattGal commented on #41006
Ah yes I can do that, let me chat with the team real quick though.

[2020-08-19 17:35] danmosemsft commented on #41032
I don't know this code at all, but my guess is that we're trying to set that speed, and the OS is rejecting it. Looks like we set it here:
https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/Native/Unix/System.IO.Ports.Native/pal_termios.c#L364-L369

If you're motivated, the next step is probably to write a small C program that tries to set it explicitly,

[2020-08-19 17:37] danmosemsft commented on #41032
Actually I think here
https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/Native/Unix/System.IO.Ports.Native/pal_termios.c#L513-L517
and thatt's failing causing us to throw here
https://github.com/dotnet/runtime/blob/c87e75e8ef260ccc6e979f9df1cc012536ee036f/src/libraries/System.IO.Ports/src/System/IO/Ports/SerialStream.Unix.cs#L564

[2020-08-19 17:37] jkotas commented on #32060
Then you need a slower implementation for those. Even if the proper support for byref fields gets added to the language and runtime, this support won't be backported to existing runtimes.

There is no type and memory safe way to do byref-fields today. If your requirement is to use type and memory safe code only, you cannot use byref-fields today.

[2020-08-19 17:38] Symbai commented on #40942
@danmosemsft Its not about adamsitnik work of collecting the regressions which I find very helpful. Its about the fact that switching to ICU has introduced MAJOR regressions (+4,500ns, ~ 4x slower) while the "improvements" are usually around ~2ns which I bet is only some noise and running them a couple of times will show there are no improvements at all.

I'm not into ICU and I dont know why this

[2020-08-19 17:38] jkotas commented on #32060
Yes. https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3367#issuecomment-676557220

[2020-08-19 17:41] danmosemsft commented on #7120
One datapoint might be what Mono does.

[2020-08-19 17:46] CoffeeFlux commented on #39202
Failure is for uninteresting reasons and not worth a backport, so moving to 6.0.

[2020-08-19 17:47] jkotas commented on #40916
Failed in https://github.com/dotnet/runtime/pull/41033

[2020-08-19 17:48] Jlalond commented on #14032
@TimLovellSmith Cool, I look forward to your revised proposal. Can we submit it for review so that I can start work on this? Additionally, I know there was some impetus for a pairing queue to improve merge time, but I still think an array based binary heap would be the most overall performance. Thoughts?

[2020-08-19 17:48] GrabYourPitchforks commented on #35324
How would this interact with the proposed "never" return type (https://github.com/dotnet/csharplang/issues/538)? Is this API a point-in-time patch until that feature comes online?

Presumably code coverage analyzers could already look for methods marked with [`[DoesNotReturn]`](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.codeanalysis.doesnotreturnattribute) and exclude any code

[2020-08-19 17:51] tarekgh commented on #40942
@Symbai you have the option to switch back to use NLS if you want to.

ICU is the future direction in general for the .NET and Windows too. ICU will give the opportunity to have a consistency between OS's and OS versions. The benefit of using ICU is really worth it. ICU will give opportunity to the apps to customize the globalization behavior too.

[2020-08-19 17:53] eerhardt commented on #40862
From the top post on this issue:

The path of the current process executable is often needed for logging or to find more files next to the current process executable.

Reading the golang doc, it says:

Which is exactly how `AppContext.BaseDirectory` has been used historically. And this has caused major issues in 3.x with `PublishSingleFile` which made `AppContext.BaseDirectory` returns some random

[2020-08-19 17:55] ENikS commented on #32060
@jkotas  You are not helping!

The decision seems to be rather arbitrary as there are workarounds that could provide same behavior but with higher costs. Keeping that type internal does not provide any additional measure of safety, it just prevents proper optimization.

Would it be possible to bring in more decision makers into this discussion to weigh pros and cons?
Since net5 release is still so

[2020-08-19 17:55] udlose commented on #14929
@tarekgh With all due respect, we shouldn't have to use an external library to do something so fundamental as working with TimeZones.  I had hoped that the abstraction of "concern of which OS my app is running on" should be handled by .NET Core as that was one of the main goals of the .NET Core platform. Very disappointed that this issue has been opened for a little over 5 years now with little mo

[2020-08-19 17:57] danmosemsft commented on #40942
Also note that this is already what is used on Linux and Mac, and increasingly used within Windows OS itself. So we are aligning with the industry here. If and where it is slow - we all benefit from making it faster. The .NET team have contributed bug reports and performance improvements to libicu in the past, and I expect we will do so again.

[2020-08-19 18:03] georgeoprescu commented on #41032
For sure the OS is not a problem.
I use as alternative the SerialPortStream (https://github.com/jcurl/SerialPortStream) and I modified there the libnserial C code in order to support custom baud rates, I rebuild it and it works.
I was hopping that the implementation that comes with netcore 3.x offers a better approach.

I used termios2 struct instead of termios and I ended up with something like:

[2020-08-19 18:05] jkotas commented on #32060
You can find list of area owners at https://github.com/dotnet/runtime/blob/master/docs/area-owners.md

net5 is feature complete. We are switching master branch to net 6. The changes going into net 5 release branch at this point are fit and finish bug fixes only.

[2020-08-19 18:05] ygoe commented on #7120
Wasn't SIGHUP the signal that Systemd sends when a service should be reloaded?

[2020-08-19 18:06] TimLovellSmith commented on #14032
@Jlalond
I've made the minor changes to simplify that Peek + Dequeue api.
Some ICollection<KeyValuePair> apis related to KeyValuePair still remain, because I don't see anything obviously better to replace them with.
Same PR link. Is there another way I should submit it for review?

https://github.com/TimLovellSmith/corefxlab/blob/priorityQueueSpecSolved/docs/specs/priority-queue.md

I don't mind w

[2020-08-19 18:08] danmosemsft commented on #41032
You're saying that `cfset*speed` does fail, but setting via `termios2` does not? I wonder why.

@krwq any thoughts?

[2020-08-19 18:10] tarekgh commented on #14929
@udlose I agree with you in principle. The issue here we were trying to avoid in the .NET is to carry Time zone data which will need to get updated when something change. This create a nightmare in servicing old versions of the .NET especially time zone is a core functionality. That is why we were planning to get into the point to depend on something that we can use and not require servicing the .

[2020-08-19 18:11] Jlalond commented on #14032
@TimLovellSmith I actually know nothing about API review, but I imagine @danmosemsft can point us in the right direction.

My first question is what would <TPriority> be? I assume it would be an int, or a floating point number, but for me declaring the number that is "internal" to the queue seems odd to me

And I actually prefer binary heaps, but wanted to make sure we're all okay going in that di

[2020-08-19 18:13] ENikS commented on #32060
In my view this type being internal is a bug :)

[2020-08-19 18:18] danmosemsft commented on #14032
@eiriktsarpalis @layomia  are the [area owners](https://github.com/dotnet/runtime/blob/master/docs/area-owners.md) and would have to shepherd this through API review. I haven't been following the discussion, have we reached a point of consensus?

As we've discussed in the past the core libraries are not the best place for all collections, especially those that are opinionated and/or niche. Eg., we

[2020-08-19 18:20] ericsampson commented on #14929
@tarekgh thanks for the update. It's not a small task to do 'well'. I'm happy to see the ICU changes coming in 5.0

[2020-08-19 18:27] georgeoprescu commented on #41032
Not exactly, the baud rate is an Enum, that is why it fails to set custom baud rate.
You set an arbitrary baud rate and using termios2 you override that arbitrary baud rate with the custom one

[2020-08-19 18:28] Sergio0694 commented on #32060
@ENikS About UWP, if you're tracking references **to fields within objects on the heap**, you can use the same pattern that is used by both the portable `Span<T>` type and the `Ref<T>` type from the HighPerformance package when running on runtimes without runtime support for `Span<T>` (ie. without the internal `ByReference<T>` magic type): just have your type contain an `object` field to the paren

[2020-08-19 18:30] directhex commented on #40937
I think this is actually a real issue

The test is enumerating every font on the system, creating a new font object from each entry's name, and verifying that they match (i.e. checking "i got a font with name X, and can create a font with the same name"). It appears to be failing on fonts with long names, defaulting to Verdana:

[code]

I need to see if this is _behaviour_ changed in 10.15, or the

[2020-08-19 18:31] davmason commented on #40954
Thanks for reporting this. Looking at the code you are correct that GetExposedObject should only be verified for collectible modules. Actually, the whole check can just be for collectible modules since once a non-collectible module is loaded the LoaderAllocator will never be null.

The fix is simple and will be out soon.

[2020-08-19 18:32] ENikS commented on #32060
@Sergio0694 Excellent suggestion, thank you

[2020-08-19 18:35] wvpm opened #41050 "Dependency Injection"
## Background and Motivation
When using the Microsoft.Extensions.DependencyInjection's ServiceviceDescriptor to register a service, you can register an instance, factory or implementationtype. This is great and generally works fine. However, when registering an open generic type, you can only use an implementationtype. Any other variant will cause runtime errors.

## Proposed API
I propose adding

[2020-08-19 18:37] jkotas commented on #40862
The resources were unzipped into the %TEMP% directory as well in the .NET 3.x single-file, in some cases at last. We make AppContext.BaseDirectory to return the %TEMP% directory in .NET 3 because we believed that it makes more cases work than it breaks.

[2020-08-19 18:39] Joelius300 commented on #1570
For what it's worth, here's how I'm doing it in an ASP.NET Core where I stream large amounts of data (way too much for the default `MaxIAsyncEnumerableBufferLimit`, which I don't want to increase). If anyone has improvements or remarks, feel free to comment on it. I have not done any benchmarking (because it's not important to my project) but I didn't notice performance hits from this.

[code]

An

[2020-08-19 18:40] directhex commented on #40937
Yeah, real bug.

[Catalina font list](https://support.apple.com/en-us/HT210192)

[High Sierra font list](https://support.apple.com/en-us/HT207962)

The bug wasn't previously discovered, because HS does not ship with any fonts whose name exceeds LF_FACESIZE from wingdi.h (32 chars)

Related, with possible thoughts on workarounds we'll need to implement in libgdiplus: https://github.com/microsoft/te

[2020-08-19 18:41] Sergio0694 commented on #32060
@ENikS FYI that's actually exactly how `Ref<T>` works too when running on UWP.
It offers a `Ref<T>(object, ref T)` constructor that does exactly that behind the scenes.
Just in case you don't want to reimplement that from scratch (or, you can look at the [source](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.HighPerformance/Ref%7BT%7D.cs) as a reference).

[2020-08-19 18:45] clguiman commented on #41034
Without a fix we would be able to only debug full memory core dumps. By default the "createdump" tool doesn't contain modules with metadata information, the debugger is supposed to download them from the symbol server and provide them to the DBI (using logic from that method).
dotnet-dump has the same issue when calling "clrstack -i -a". I can provide coredumps that have this issue if needed.

[2020-08-19 18:53] GrabYourPitchforks commented on #32060
I don't think it's arbitrary. https://github.com/dotnet/runtime/issues/32060#issuecomment-596624746 gave some examples of where the compiler's safety rails fall apart were this type to be publicly exposed.

The comments in this thread from the runtime and libraries and language team are all pretty consistent that we'd like to expose this feature the correct way - via proper ref fields - rather tha

[2020-08-19 18:58] TimLovellSmith commented on #14032
@Jlalond Sorry, I didn't quite get what the first question is supposed to be there. Were you asking why TPriority is generic? Or has to be a number? I doubt many folks will be using non-numeric priority types. But they might prefer to use a byte, int, long, float, double, or enum.

[2020-08-19 18:59] Sergio0694 commented on #32060
@GrabYourPitchforks I mentioned future support plans in my comment [here](https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/3367#issuecomment-676586065), that's one of the reasons why we didn't just expose `ByReference<T>` directly, but still abstracted it through our `Ref<T>` types (and related types), to give us more flexibility.

If with eg. .NET 6 (or some other future runtime) t

[2020-08-19 19:09] georgeoprescu commented on #41032
If it helps, here are some links I used when I had to modify the C libnserial library to support custom baud rate:
https://stackoverflow.com/questions/49025424/uncommon-baud-rate-on-serial-port-linux
https://stackoverflow.com/questions/12646324/how-can-i-set-a-custom-baud-rate-on-linux
https://github.com/jcurl/SerialPortStream/pull/19/files

Thanks,
George

[2020-08-19 19:17] VSadov commented on #32060
It is a pervasive assumption in GC that byref fields do not exist. That is not going to change. A lot of things are substantially simpler/faster due to this assumption.

`ByReference<T>` gets around this limitation by colluding with JIT - formally there is no ref field, but JIT reports roots as if there is one.

Basically this type works as expected only with a  JIT/AOT compiler that knows about i

[2020-08-19 19:29] eerhardt commented on #40828
One more piece of information that I discovered while investigating another issue:

When a normal ASP.NET application loads, it sets its `ContentRootPath` to `Directory.GetCurrentDirectory()` in `CreateDefaultBuilder`:

https://github.com/dotnet/runtime/blob/aa5fdab9654d74bc6274c0b5d820272c8e859621/src/libraries/Microsoft.Extensions.Hosting/src/Host.cs#L56-L60

That's why a basic ASP.NET app isn't

[2020-08-19 19:33] ENikS commented on #32060
@GrabYourPitchforks

The protection provided by keeping `ByReference` internal is easily circumvented as shown in OP. But instead of doing it properly, it is done as a slow hack. In a way it is like an abortion, when outlawed, it is still done, but instead of going to a doctor, it is done by charlatans (no relation to anyone :).

@VSadov
The type is being used left and right in framework, I don't

[2020-08-19 19:40] eerhardt commented on #40862
My uber point is - if we introduce the new API `Environment.AppBaseDirectory`, it is imperative we document it correctly, and that the documented definition of this API means it can be used for the intended use case (loading files relative to your application).

We should not say "it does the same thing as AppContext.BaseDirectory" - that is wrong. They are 2 different intended use cases.

[2020-08-19 20:08] ChrisAhna opened #41054 ".NET 5 cast operations (e.g., CastHelpers.IsInstanceOfAny) report incorrect results in some cases"
### Description

When there is high write contention on an individual CastCache entry, it is currently possible for the content of that entry to end up in an inconsistent state.  When this occurs, it is possible for programs to observe incorrect cast results (e.g., from CastHelpers.IsInstanceOfAny), which in turn can lead to a variety of failure modes.  For example, if casting an object falsely re

[2020-08-19 20:15] jkotas commented on #32060
`ByReference<T>` is as an implementation detail in 3 low level types in CoreLib (Span, ReadOnlySpan, TypeReference). I would not call it used left and right.

[2020-08-19 20:16] NikolaMilosavljevic commented on #40739
Closing the issue as it was resolved.

[2020-08-19 20:16] #40739 closed

[2020-08-19 20:18] ericstj commented on #33838
Yes, @anipik just fixed it.  The validation for this case is coming with https://github.com/dotnet/runtime/pull/41041.

I've been rethinking how we do package validation and have a better idea that would catch this case.

[2020-08-19 20:21] jkotas commented on #40862
Agree that this would need to be documented and that writing a good prescriptive documentation for the APIs like `Environment.AppBaseDirectory` is not easy. FWIW, we have at least 3 APIs that all return the same path today: `AppContext.BaseDirectory`, `AppDomain.CurrentDomain.BaseDirectory`, `Application.StartupPath`. This is adding 4th API that returns the same path.

[2020-08-19 20:21] ENikS commented on #32060
Considering that Span is being added at each and every high performance API (http, stream, buffer, pipeline, and etc.) I would say it is.

[2020-08-19 20:25] jkotas commented on #40862
Unrelated: I keep wondering whether `Environment.AppProcessPath` is the right name. This API is about the process, not the app. Should it be just `Environment.ProcessPath` ? We have `Environment.ProcessId`, not `Environment.AppProcessId`. Opinions?

[2020-08-19 20:27] danmosemsft commented on #40712
Would it help if @GeorgeAlexandria ran some memory tester tool, often the firmware includes one.

[2020-08-19 20:28] jkotas commented on #41054
cc @VSadov

[2020-08-19 20:33] carlreinke commented on #35324
`[DoesNotReturn]` and "never" do not apply in a lot of cases where `UnreachableException` would be used.

Consider a random example taken from Roslyn:
https://github.com/dotnet/roslyn/blob/e704ca635bd6de70a0250e34c4567c7a28fa9f6d/src/Compilers/CSharp/Portable/Binder/BlockBinder.cs#L64-L72

In this case, the method does sometimes return, so neither `[DoesNotReturn]` nor "never" are applicable to th

[2020-08-19 20:42] jeffhandley commented on #39603
Thank you, @vcsjones! Are you planning to investigate this further? If not, we'll get someone from the team assigned to it so we can get it into 5.0 (probably RC2).

[2020-08-19 20:46] wvpm commented on #41050
I lack the rights to push a branch to this repository, so I cannot create a pull request myself. I did work out an implementation in the CallSiteFactory which is used to actually resolve services.

[code]

[code]

[2020-08-19 20:52] eerhardt commented on #41050
You don't need push rights to make a pull request. You can [fork the repo](https://docs.github.com/en/enterprise/2.20/user/github/getting-started-with-github/fork-a-repo) yourself, and make a PR from your fork.

However, since this is proposing a new API you should wait until the API is reviewed and approved before creating a PR. See https://github.com/dotnet/runtime/blob/master/docs/project/api-r

[2020-08-19 20:54] mangod9 commented on #40712
yeah that would be helpful, or to try a repro on a different physical machine.

[2020-08-19 21:04] AntonLapounov commented on #34412
I have a fix for the Crossgen2 package; however, according to @adiaaida, there are other packages with duplicate files:

[2020-08-19 21:08] StephenMolloy commented on #40995
Since this is a full framework issue, I would suggest opening a VS Feedback item as that is how the teams still working on the full framework will be able to track it best.

I would also add that it is not unusual for an application to increase private bytes usage soon after it starts. A leak would be more of a long-running issue.  ASP.Net in particular doesn't really care if you're using 50 MB or

[2020-08-19 21:09] GrabYourPitchforks commented on #32060
Keeping things internal isn't meant to be a "protection" _per se_, so there's nothing to circumvent. It's internal because per the runtime team (of whom many have commented on this thread), we don't feel it's a good type to expose. When we expose a type publicly, at that point we sit down and hash out the full design, including any necessary language support or how the type is exposed by our API s

[2020-08-19 21:14] directhex commented on #40937
Confirmed this issue happens on Linux with big font names.

It does NOT happen on Windows, which truncates the font name differently and successfully does `new FontFamily(fontFamily.Name)` with the truncated name.

[2020-08-19 21:18] safern commented on #40937
@directhex should we pone an issue in libgdiplus?

[2020-08-19 21:23] vcsjones commented on #39603
@jeffhandley

Yeah, but I haven't made a ton of progress. I think a good first step would be to see if someone other than me can repro it, and do the unit tests actually run (not just skipped). Maybe it just doesn't like me.

I can still repro it on Big Sur beta 4, I'm installing 5 right now.

[2020-08-19 21:29] directhex commented on #40937
Yeah, probably. I'm out of time today, can do it tomorrow.

Easier repro if you don't have a Mac is to install the `fonts-noto-core` package on Ubuntu, which contains the problem NotoSansInscriptionalParthian-Regular.ttf.

[2020-08-19 21:32] twsouthwick commented on #26084
Thanks @ericstj. I've added a tool into the OpenXml library to handle sanitizing it (https://github.com/OfficeDev/Open-XML-SDK/pull/793). Downside is that this requires rewriting the document, which may have only been read only before. However, it is interesting that the format itself appears to handle malformed Uris just fine and don't have the restrictions that System.Uri has. ie Word/Excel/etc

[2020-08-19 21:40] sdmaclea commented on #41034
@mikem8361

[2020-08-19 21:48] ENikS commented on #32060
Perhaps this issue could be revisited and based on **feedback from developers** the team could readdress this decision? Times change and requirements change as well. Not so many cared about struct types except to marshal across native boundaries.

Now it is everywhere and inability to properly reference these impedes development for many, as you could see in this and other referenced threads.

I u

[2020-08-19 22:00] Jozkee opened #41061 "NullReferenceException in XML found during nullability annotations"
Repro:
[code]

Call stack:
[code]

As per [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.xml.xpath.xpathdocument.-ctor?view=net-5.0#System_Xml_XPath_XPathDocument__ctor_System_IO_Stream_), this should throw `ArgumentNullException` instead.

In addition, if the `TextReader` overload receives `null`, it throws the below exception, which seems inconsistent.
[code]

---------------

[2020-08-19 22:11] ENikS commented on #32060
Please consider this as well: inability to use this (or similar) API creates unfair advantage to MS code on certain platform (UWP for example)!

Without ability to effectively reference value types third party code can not compete in speed with APIs released by Microsoft.

[2020-08-19 22:14] mikedoug commented on #31862
I agree that the Activity system within the .NET context makes sense that anybody anywhere at anytime can create a "sub" Activity to embody a piece of work.  However, the original poster and others who have "me too" responded have a VERY valid point and I've spent the better part of two days tracking this down.  We have services that are logging trace-id, parent-id, and span-id so that we can do c

[2020-08-19 22:21] mikedoug commented on #31862
I would also offer this as a more appropriate way of connecting the null listener:

[code]

[2020-08-19 22:34] danmosemsft commented on #40359
@JeremyKuhne you've been a vocal advocate of improving FileStream in the past. Is there anything you want to add to this meta-issue?

[2020-08-19 22:36] #40946 closed

[2020-08-19 22:44] dogac00 opened #41063 "Loop Unrolling is not Enabled in Release Build"
I'm trying the following code in SharpLab. In GCC this loop is unrolled and there are no jump statements in generated assembly.

[code]

As we can see a loop code is generated with jump statements. I think the performance would be better if the loop was unrolled.

SharpLab [link.](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxASwDYB8ACBmAAhwCYCBlCMABwzgIG8BYAKALaMLQDsZyBXMAHkAZgDE0CWABUAFgjhwAorTBweU

[2020-08-19 22:44] ENikS commented on #40988
@noahfalk

Would it be possible to make Activity type an abstract and move implementation into other type, similar to Source/Listener setup?

If I can derive my `ResolutionFrame` from `Activity` and implement just a limited set of features, perhaps I could meet performance requirements while keeping compatibility with Open Telemetry?

[2020-08-19 22:49] #40886 closed

[2020-08-19 22:50] thepalbi commented on #41029
Thanks for the clarification. Left a note that this is not supported on Linux or MacOS, and ended up debugging by creating a custom Run Configuration on VS.

[2020-08-19 22:50] #41029 closed

[2020-08-19 22:50] udlose commented on #14929
@tarekgh Thank you for the update and I do appreciate the challenge you face.  I am happy to see there is a plan for it in the near future and I'm looking forward to leveraging it.  In the meantime, I will use the [TimeZoneConverter ](https://github.com/mj1856/TimeZoneConverter)you suggest.

[2020-08-19 22:52] joperezr commented on #40946
Re-opening to track the port back to rc

[2020-08-19 23:07] tarekgh commented on #40988
No, this will break all code doing `new Activity(...)`

[2020-08-19 23:09] danmosemsft commented on #41029
@thepalbi you can click the pencil in the top right of the documentation topic to fix stuff like this -- I did it in this case.

[2020-08-19 23:18] Anipik commented on #33838
fixed with https://github.com/dotnet/runtime/pull/41001

[2020-08-19 23:22] SingleAccretion commented on #41063
I am not sure why are you looking at the IL here though: it is produced by Roslyn, not an optimizing compiler. The JIT output here is perhaps more interesting in that it appears to have two (?) loops:
[code]
I also confirmed this is still the codegen on the recent-ish (~1 month) version of the runtime.

[2020-08-19 23:31] dogac00 commented on #41063
@SingleAccretion Good point. I now looked at the JIT output too. GCC 9.2 produces an assembly output like this:

[code]

I hope that in .NET we can produce a similar output to this with bounds checking.

[2020-08-19 23:34] SingleAccretion commented on #41063
I am more or less sure we can try and bend JIT to do out bidding in this particular case. E. g., this version produces saner ASM:
[code]
[code]

[2020-08-19 23:47] dogac00 commented on #41063
Interesting. But that looks a bit odd. But most of code I've seen in loops compare with `<` than `<=`.

I tried the unsafe version of this code. And it also does not do loop unrolling optimization.

[code]

x86 JIT Assembly.

[code]

[2020-08-20 00:02] Jlalond commented on #14032
@TimLovellSmith Yep, just wanted to know if it was generic

[2020-08-20 00:21] adiaaida commented on #34412
Opened https://github.com/dotnet/sdk/issues/12995 to track the sdk failures.

[2020-08-20 00:27] noahfalk commented on #40988
I'm not sure where you are setting the goal on performance, but I am suspicious you are setting it so high that no logging library in any language/platform with features similar to Activity or EventSource would meet the goal.

OpenTelemetry is part of the reason many of these features are required to exist. Removing them would make the proposed new thing incompatible with Open Telemetry's [specifi

[2020-08-20 00:40] DaZombieKiller commented on #32060
This... is a bit of a stretch. There's nothing stopping you from using `ByReference<T>`, as seen in the aforementioned pull request. It's merely not officially supported or recommended, especially because there are plans to offer a _proper_ solution for this sometime in the future.

[2020-08-20 00:57] kg opened #41068 "Outdated instructions in runtime/pr-guide.md"
The instructions for re-running failed checks seem to be invalid as a result of UI changes GitHub has made over the time period since it was written.

[code]

There is no 're-run failed checks' option on the Checks tab.

[code]

No 're-run all checks' option either. Here's what the GitHub checks tab looks like for a PR I created where the runtime pipeline failed because the builds were all cancell

[2020-08-20 00:59] Sergio0694 commented on #32060
Yeah I agree with this - I had originally opened this issue well before adding the current `Ref<T>` type to the HighPerformance package, and was curious to hear the official plans for a feature like this. The reasons that Jen, Levi, Stephen and others have mentioned for not making `ByReference<T>` public as is are perfectly valid indeed, and it does make sense to keep the type internal. Making it

[2020-08-20 01:19] AndyAyersMS commented on #41063
Thanks for raising this issue. You are observing a number of quirks in the jit's loop optimization strategy. We hope to address some of these in the not-too-distant future.

Probably so. The jit can unroll loops but it's not clear if the criteria it uses is well-tuned. See eg #4248, #8107.

This is a result of loop cloning -- because of the potential for exceptions the jit needs to produce a versi

[2020-08-20 01:20] ENikS commented on #40988
@noahfalk

Think about this, if each activity takes almost a microsecond to just initialize, it leaves little time for a library to do anything else and puts a hard physical limit on throughput a system might have. Considering that it could be hundreds of activities to resolve reasonably complex graphs the bandwidth drops down to less than a thousand resolutions per second.

Take Kestrel server, f

[2020-08-20 01:22] tarekgh commented on #32247
This is fixed by the PR https://github.com/dotnet/runtime/pull/40910.

[2020-08-20 01:22] #32247 closed

[2020-08-20 01:25] GrabYourPitchforks commented on #32060
I wonder if this is indicative of a deeper communication problem? There's definitely interest from the runtime side in doing this correctly (namely, via ref fields), which would obviate the need for any public `ByRef<T>` struct. As a strawman syntax:

[code]

And ideally non-runtime code would be able to do the same:

[code]

This isn't trivial work. It would require changes to the type loader, th

[2020-08-20 01:43] ENikS commented on #32060
I am **struggling** to implement basic things just because this one type is not public. I do understand your desire to do it properly but it does not help me now! Word struggling is not an exaggeration here, it is real thing for me.

I am replacing types, where appropriate with structures to provide better performance, but UWP and business reasons preclude me from using Unsafe code freely. Having

[2020-08-20 01:57] noahfalk commented on #31862
Thanks for the feedback @mikedoug!

I assume 'they' means Microsoft? 'They' = me in this case : ) Although I wasn't the original author I do have a large say in determining how the code evolves forward. I'm also in position to say that I (or Microsoft as a whole) has no plans to change that default behavior for exactly the reason you raised - consistent or no it is the behavior people have come to

[2020-08-20 01:57] ENikS commented on #32060
This argument is invalid: “ incorrectly used, and tricky to learn “ is patronizing and offensive. I can crush an entire app domain with simple object by improperly using it, this one is not much worse.

I do not want to sound antagonistic or offensive, but this whole thing hits the sore spot and needs to be addressed.

@Sergio0694  the library might be a solution but I have to see if UWP will comp

[2020-08-20 02:01] noahfalk commented on #31862
Also while not a direct solution to this problem there is some related work in .NET to [Add Activity Ids and Context to all logs](https://github.com/dotnet/runtime/issues/34305)

[2020-08-20 02:04] noahfalk commented on #31862
cc @tarekgh

[2020-08-20 02:40] ENikS commented on #35999
@maryamariyan

You were so helpful last time, perhaps you could help again?
I am looking for a way to run included tests inside Visual Studio, is there a guide on doing something like that?

[2020-08-20 02:55] hoyosjs opened #41070 "NonShipping non-installer packages are not publishing symbols"
Any package that's not produced by installer and that is non-shipping won't get symbols indexed. Ignoring VS insertion packages, we have the following:

Libraries:
- `Microsoft.Extensions.HostFactoryResolver.Sources`
- `Microsoft.Private.CoreFx.OOB`
- `System.Utf8String.Experimental`

Runtime:
- `runtime.linux-arm.Microsoft.CrossOsDiag.Private.CoreCLR`
- `runtime.linux-arm64.Microsoft.CrossOsDiag.

[2020-08-20 03:06] #41042 closed

[2020-08-20 03:09] GrabYourPitchforks commented on #32060
This is interesting to us! Please elaborate on this point.

One of the things I try to do is to separate "the means" vs. "the ends". Sometimes I'll have a particular scenario ("the ends") in mind, come up with a way ("the means") of accomplishing the task, and become so intensely fixated on lobbying for the mechanism I came up with that I lose sight of the fact that the scenario itself is what's t

[2020-08-20 03:58] noahfalk commented on #40988
Not at all, no worries! What I was hoping to convey is that if you expect that we can maintain compatibility with OpenTelemetry while dramatically improving the performance of the API (lets say 5x faster), then I believe your expectation is unrealistic. If your expectation is actually something else then let me know what it is so I can try to be more helpful rather than just a naysayer : )

I don'

[2020-08-20 04:00] hoyosjs commented on #41070
https://github.com/dotnet/runtime/blob/f309b53d4e435dbe4a7945676d167ef910959403/src/installer/publish/Directory.Build.targets#L77-L91

The problem is these lines. They assume the symbol packages are adjacent to the package, but the property passed into nuget pack always creates a [`symbols` subdir](https://github.com/dotnet/arcade/blob/56a95cc477558c1ccdf16d7abe962849ea970ba4/src/Microsoft.DotNet.

[2020-08-20 04:24] kouvel commented on #39944
Could not repro after several tries. Test finishes within seconds even with `GCStress=0xc`.

[2020-08-20 04:24] #39944 closed

[2020-08-20 04:41] mikedoug commented on #31862
@noahfalk Yes -- "they" was referring to Microsoft or whomever wrote that original code.  For me it is nonsensical.

I am REALLY happy to hear that .NET 5 is going to give us the ActivityListener that will allow us to follow ANY Activity regardless of its source; that's what I have been searching for to help answer this issue of mine.  Also, really glad to hear that you're working on adding all of

[2020-08-20 05:32] ENikS commented on #32060
@GrabYourPitchforks  It is exactly what I was looking for! Many thanks!

As for the struggle, this is very common scenario:

- I need to create a Context struct with Parent being another Context struct allocated within calling method and so on. Basically each method allocates it’s own Context with reference to Paren. Parent is passed to a method by reference `method(ref Context c)`  The struct has

[2020-08-20 05:42] GrowSharp commented on #38608
No problem, I'm happy to help. I'm just kind of disappointed that I haven't been able to solve any of these issues myself. I thought it would be a great opportunity for me to become contributor. 😅 But at least I learned something about Interop and how you guys do this cross OS compatibilities.

[2020-08-20 05:49] noahfalk opened #41072 "Add an option to HttpClient's default DiagnosticHandler so that it does not create an Activity"
Some of our developers are very surprised that DiagnosticHandler creates an Activity by default and they would appreciate a way that they can opt-out of this behavior. See [this thread](https://github.com/dotnet/runtime/issues/31862#issuecomment-677047256) for more background.

[2020-08-20 05:59] noahfalk commented on #31862
Excellent! That is what we were hoping for!

Yep, that feature I referenced logs the Activity which is current on the thread at the time the log message is being emitted : )

Thanks, this is great feedback. I've captured your requests [here](https://github.com/dotnet/runtime/issues/41072) and [here](https://github.com/dotnet/docs/issues/20195). If you want to add any more details about what you ar

[2020-08-20 06:04] sandreenko opened #41073 "contained `LCL_VAR_ADDR` is generated wrong in RMW."
when we have a tree like:
[code]
jit recognizes it as `RWM` and mark `LCL_VAR_ADDR` as contained but then `emitter::emitInsRMW` calls `emitHandleMemOp` and it has no idea how to generate it right.

The current version fails with asserts added in https://github.com/dotnet/runtime/pull/39424/commits/cfd544a1176d51886156b56fbe21e0f1800ae685, the preview 5(release)  and 3.1 generate code like:
[code]

[2020-08-20 06:05] sandreenko commented on #41073
cc @CarolEidt @dotnet/jit-contrib

[2020-08-20 06:16] ENikS commented on #40988
I will do research and will get back with numbers. I still don’t understand it that well, so it will take some time.

[2020-08-20 07:22] shravan2x opened #41077 "Missing nullability documentation for library types"
Some types in the .NET core library return nullable references since C# 8, but documentation does not explain what cases they may be null in.

1. `ArraySegment<T>.Array` returns a `T[]?`. Looking at [the source here](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/ArraySegment.cs#L36), the field is readonly and always has a value set in constructors so

[2020-08-20 07:27] v-haren opened #41078 "Test failure: System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2.Http2_MultipleConnectionsEnabled_ConnectionLimitNotReached_ConcurrentRequestsSuccessfullyHandled"
failed in job: [runtime 20200819.105 ](https://dev.azure.com/dnceng/public/_build/results?buildId=779242&view=ms.vss-test-web.build-test-results-tab&runId=24425752&resultId=181863&paneView=debug)

net5.0-Linux-Release-x64-CoreCLR_release-Ubuntu.1604.Amd64.Open

Error message
[code]

[2020-08-20 07:50] Wraith2 commented on #41026
It is? Which providers support it?

[2020-08-20 07:54] v-haren commented on #29683
failed again in job: [runtime-libraries outerloop 20200819.2 ](https://dev.azure.com/dnceng/public/_build/results?buildId=777697&view=ms.vss-test-web.build-test-results-tab&runId=24342364&resultId=104516&paneView=debug)

failed test: System.Security.Cryptography.X509Certificates.Tests.RevocationTests.DynamicRevocationTests.RevokeRoot(pkiOptions: IssuerRevocationViaOcsp | AllEndEntityRevocation | I

[2020-08-20 07:55] #41027 closed

[2020-08-20 07:57] cincuranet commented on #41026
First of all it's part of SQL:2016 standard. I'm aware of DB2 supporting it. Firebird 4 will/does support it. And I've heard Postgres is going to get the support (@roji surely knows more).

[2020-08-20 08:19] krwq commented on #41061
Thanks for finding. This seems like straight forward fix with relatively low risk. I'm still not sure this meets the bar for 5.0.0 considering we've lived with this bug for several years even before .NET Core

[2020-08-20 08:24] KalleOlaviNiemitalo commented on #38045
The `Exception exception` parameter of `ILogger.Log<TState>` may also contain references to mutable or thread-affine objects. That makes it difficult to implement batching as an `ILoggerFactory` that supports providers whose loggers may read properties of exceptions. (Such exceptions would not be fully serializable for remoting either, but binary serialization is being deprecated anyway.)

Another

[2020-08-20 08:36] reflectronic commented on #40862
I think something that was strong in the API review was that each member should have the `App` prefix to help discoverability in IntelliSense. That way, someone stumbling upon these APIs will be able to evaluate all of the options.

[2020-08-20 08:40] krwq commented on #40942
As a side note, ICU is open source and we can contribute to make hot paths faster

[2020-08-20 08:40] reflectronic commented on #41077
`ArraySegment<T>` is a struct, so getting a `default` instance would leave that field empty.

I believe this was fixed in https://github.com/dotnet/runtime/pull/37969. They made that change for the reason you describe; I don't think that the collection returned from `Process.Threads` will actually contain `null`.

This one was fixed in https://github.com/dotnet/runtime/pull/32486. It seems to have

[2020-08-20 08:44] ltrzesniewski commented on #32060
Even though you could force a `ByReference<T>` field into your struct the same way the PR does (you'd need to remove the `ref` in `ByReference<T>` in the shim assembly), I'm pretty sure the runtime would refuse to load a type constructed like this.

The runtime already lets you do what you need by using pointer fields in your structs (as stack data is not moved around by the GC). If your employer

[2020-08-20 08:52] noahfalk commented on #40988
Any thought on the "How fast would it need to be for you to want to use it?" It seems like you have a goal in mind but it has never been stated.

[2020-08-20 09:05] shravan2x commented on #41077
Will the fixes be available sooner than .NET 5?

[2020-08-20 09:11] reflectronic commented on #41077
Likely not. I'm not sure if those would be compatible changes to make, but regardless, I don't think they can change the reference assemblies for these APIs in servicing releases.

[2020-08-20 09:18] shravan2x commented on #41077
Alright, thanks for the quick responses!

[2020-08-20 09:18] #41077 closed

[2020-08-20 09:24] karelz commented on #40970
Also note that `Stopwatch` is very rough way to measure -- we recommend to use BenchmarkDotNet which deals with lots of statistics for you. c @adamsitnik

[2020-08-20 09:27] Sergio0694 commented on #32060
I agree with both Levi and Lucas here, this specific problem seems more about the actual restriction against unsafe code that @ENikS seemingly has in the project rather than an actual missing feature. Even if proper `ref T` fields were available (or just a public `ByReference<T>` type), they would've still not worked in this case due to the use of a non-`ref` type 😕

@ENikS you should've mentioned

[2020-08-20 10:09] karelz commented on #41010
It is a bit weird that host name string marshalling fails ... @BruceForstall any idea why it would fail during JitStress?
@GrabYourPitchforks would you expect this exception for a valid string? Is it possible we got garbage from marshalling?

cc @antonfirsov @wfurt

[2020-08-20 10:19] karelz commented on #41072
Seems to be related to #35337 and to #31261

@noahfalk is the key problem here that the activity breaks parent activities? Or something else?
cc @MihaZupan

[2020-08-20 10:33] roji commented on #509
Everyone, unfortunately I have to propose to revert this change for 5.0. When we originally had the discussion above, I didn't sufficiently consider the wider effect of the breaking change... since then, I've done a lot of work on System.Data nullability, and have come to better understand the bar for breaking changes in System.Data and their overall impact. I apologize for the mess this is creati

[2020-08-20 10:34] hughbe opened #41084 "CMP0068 CMake warning on mac"
### Description
[code]

[code]

[2020-08-20 10:40] devsko commented on #36329
@steveharter @layomia After #40914 is merged the [original version](https://gist.github.com/thomaslevesque/e191e438521ad86cd0f99c315508c838) of the converter works as expected. Are there any related issues left?

[2020-08-20 10:52] lukos commented on #40995
Thanks, I will move it to the netfx issues list. With the performance counters, the managed memory allocation was not that high hence the concern about the leak. I kind of understand the idea about the GC not worrying too much about exactly when to reclaim but with multiple applications on a server, we quickly get towards the RAM limit on the machine and need to recycling to buy more time.