[2021-07-06 00:34] #55132 closed

[2021-07-06 01:54] steveisok commented on #53097
@mdh1418 I believe this might have to do w/ the runtimecfg.json we have for the tests.

[2021-07-06 01:55] steveisok commented on #52851
May push this beyond 6.

[2021-07-06 01:56] steveisok commented on #51392
May push this beyond 6

[2021-07-06 01:56] steveisok commented on #51952
@MaximLipnin Does your PR resolve some / all of these failures?

[2021-07-06 01:59] steveisok commented on #50942
@mdh1418 We do not support binary formatter on android, so these tests can be skipped w/ `PlatformSpecific` or better yet see if they are feature detecting BF.

[2021-07-06 02:00] steveisok commented on #50943
Same problem as https://github.com/dotnet/runtime/issues/50942

[2021-07-06 02:01] steveisok commented on #50933
Same problem as https://github.com/dotnet/runtime/issues/50942

[2021-07-06 02:01] steveisok commented on #50923
Same problem as https://github.com/dotnet/runtime/issues/50942

[2021-07-06 02:01] steveisok commented on #50884
Same problem as https://github.com/dotnet/runtime/issues/50942

[2021-07-06 02:02] artemiusgreat commented on #47226
One more use case and a workaround. In my case, I wanted to generate table that has `Columns` and `Items` as parameters. To render each line in the table I would do.

[code]

If `column` property doesn't exist in `item` and `item[column]` returns `NULL`, it will raise an ambiguous runtime bind exception.
The workaround is to always convert template values to `string` before rendering them in templ

[2021-07-06 02:03] steveisok commented on #50864
@SamMonoRT This may be more runtime specific. Can someone from your team triage?

[2021-07-06 02:05] steveisok commented on #50572
May push this beyond 6

[2021-07-06 02:08] John0King commented on #54802
Now I fully understand why you oppose the "local"  time. There no DST time in my country ,  but there do have a  similar DST rule  for most company , for example :   [5-1]   ---  [10-1]   , work time  from  8:00 -- 17:30    ,  and after 10-1 to next year's 5-1, work time from 8:30 --- 18:00 .

So I'm not very understand how DST time work in `DateTime` and `DateTimeOffset` .
I guess,  the time syst

[2021-07-06 02:18] VincentBu commented on #54260
Failed again in [runtime-libraries-coreclr outerloop 20210705.5](https://dev.azure.com/dnceng/public/_build/results?buildId=1220600&view=ms.vss-test-web.build-test-results-tab&runId=36381272&resultId=104101&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-07-06 02:23] VincentBu commented on #53404
Failed again in [runtime-coreclr libraries-jitstress 20210705.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1220464&view=ms.vss-test-web.build-test-results-tab&runId=36379332&resultId=146657&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-07-06 02:30] VincentBu commented on #47444
Failed again in [runtime-coreclr libraries-jitstress 20210705.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1220464&view=ms.vss-test-web.build-test-results-tab&runId=36379600&resultId=154978&paneView=debug)

Failed tests:
[code]
**Error message:**
[code]

[2021-07-06 02:38] jkotas commented on #55144
This is a doc bug. The original C# 9 function pointer spec has the limitation listed: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp-9.0/function-pointers#systemruntimeinteropservicesunmanagedcallersonlyattribute

This was intentional limitation to keep the runtime implementation simple. Generics and interop are not supported across the board (e.g. generic DllIm

[2021-07-06 02:53] Mr-Lei-web commented on #715
Why not guarantee single-platform distributed transactions first?
If even a single platform cannot use this, It's really disappointing

[2021-07-06 03:12] dotnet-eng-status[bot] opened #55189 "Build failed: Validate-DotNet/main #runtime-96431-.NET6"
Build [#runtime-96431-.NET6](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1221157) partiallySucceeded

## :warning: : internal / Validate-DotNet partiallySucceeded

### Summary
**Finished** - Tue, 06 Jul 2021 03:12:00 GMT
**Duration** - 246 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :x: - [[Log]](https

[2021-07-06 03:32] jkotas commented on #54439
@acaly Have you used any special C++ compiler intrinsics to perform these heavy calculations? If yes, do you have any numbers for how much you gained by using these intrinsics?

[2021-07-06 03:37] jkotas commented on #53166
Yes, it is fairly common. Note that the allocations can be in the initialization of the libraries that you are using, or in the runtime itself (e.g. JITing allocates quite a bit on GC heap as well).

[2021-07-06 03:43] acaly commented on #54439
@jkotas

Yes. Specifically, `addcarry` and `lzcnt`. The latter is not quite related. In the `addcarry` case I have one function that adds four uint32 (i.e., uint128) to the lowest bits of a long big int buffer. I only write a generic long add (something like `template <std::size_t N> void LongAdd(const std::uint32_t* a, ...)`), and the C++ compiler is able to expand that loop (which repeats for 4

[2021-07-06 03:56] jkotas commented on #51451
It is up to @dotnet/area-system-runtime to drive the decision on whether this style analyzer and accompanying attribute is worth having in the core platform.

To me, it feels very niche, it would be typically just compensating for bad API design as @FilipToth said, so it is not a clear cut.

[2021-07-06 05:12] Maximys commented on #17296
@WhiteBlackGoose, I think, your suggestion can fix exactly this issue, but for correctly fixing all cases, we should use another way for parsing. Currently I try to make it.

[2021-07-06 05:16] mangod9 commented on #49368
Hi @anandcta123,

On 3.1 I notice that there is an `System.Threading.AbandonedMutexException` thrown, not `ThreadAbondonedException` you note above. In .net core there is a possibility that static initialization is done lazily, so in your case not just the main thread, but any Thread could initialize the mutex. If you move the initialization to a static initializer the code should behave as expect

[2021-07-06 05:18] JamesNK opened #55192 "[HTTP/3] ServerCertificateCustomValidationCallback causes connection error"
Adding `ServerCertificateCustomValidationCallback = HttpClientHandler.DangerousAcceptAnyServerCertificateValidator` causes a connection error on send.

Code:
[code]

Error:
[code]

[2021-07-06 05:20] mangod9 commented on #49977
Closing since this hasnt reproed for a while.

[2021-07-06 05:20] #49977 closed

[2021-07-06 05:22] JamesNK opened #55193 "[HTTP/3] Certificate name validation different than HTTP/1.1?"
I have a Kestrel server configured to serve HTTP/1.1 and HTTP/3 on the same port with the same certificate. The certificate is the ASP.NET Core development certificate.

`HttpClient` throws this error when calling with HTTP/1.1:
[code]
I need to setup a handler with `ServerCertificateCustomValidationCallback = HttpClientHandler.DangerousAcceptAnyServerCertificateValidator` to successfully call it.

[2021-07-06 05:23] mangod9 commented on #50306
@davmason do you happen to know if this issue still repros? Is this tracking any disabled test?

[2021-07-06 05:25] mangod9 commented on #53162
I am guessing this is with crossgen and not crossgen2. Please reopen if this continues to repro after replacing crossgen.

[2021-07-06 05:25] #53162 closed

[2021-07-06 05:28] mangod9 commented on #50504
Moving to host for now since the runtime is correctly bubbling up the seg fault, but dotnet run might not be showing it correctly?

[2021-07-06 05:31] mangod9 commented on #45517
Doesnt look like the test was disabled, so assume this is no longer reproing?

[2021-07-06 05:32] mangod9 commented on #50139
Closing since it hasnt shown up for a few months.

[2021-07-06 05:32] #50139 closed

[2021-07-06 05:32] popcatalin81 commented on #715
If even a single platform cannot use this, It's really disappointing

You're opening a political can of worms. It's very common to switch .Net Core from Windows to say Linux Docker. This would become an impediment towards that goal. However if instead you design your services to not use Distributed Transactions, the switch becomes seamless.

[2021-07-06 05:34] mangod9 commented on #51130
Closing since this hasnt shown up for a few months.

[2021-07-06 05:34] #51130 closed

[2021-07-06 05:36] wfurt commented on #55193
I assume this is on Windows? Can you please post your dev certificate? I would not expect differences but this would help with investigation.

[2021-07-06 05:37] mangod9 commented on #51318
Closing this since this is a dupe of #51250

[2021-07-06 05:37] #51318 closed

[2021-07-06 05:38] mangod9 commented on #51542
I think this should be fixed after @trylek 's field layout fixes. Please reopen if this reoccurs.

[2021-07-06 05:38] #51542 closed

[2021-07-06 05:41] wfurt commented on #55192
BTW if you register real callback do you see the correct certificate there?

[2021-07-06 05:43] lscorcia commented on #715
It's not political at all. The use case for DTC is much larger than an hypotetical switch to docker containers. Especially in large, business applications, DTC is not a workaround for a messy codebase but a business requirement. I have yet to see a business requirement that implies switching to a different OS, but I have seen plenty of them that require writing in a coordinate manner to - say - a

[2021-07-06 05:56] mangod9 commented on #45277
Believe this should be resolved now? @VSadov @AntonLapounov ?

[2021-07-06 06:00] mangod9 commented on #43349
@tmds @janvorli is any fix required here for .net 6?

[2021-07-06 06:01] VSadov commented on #45277
Yes, this should be fixed in  https://github.com/dotnet/runtime/pull/53739

[2021-07-06 06:07] mangod9 commented on #53174
@WizardBrony hoping your question has been resolved by the response above?

[2021-07-06 06:07] #53174 closed

[2021-07-06 06:08] mangod9 commented on #53163
Closing the r2r specific failures since crossgen has been replaced with crossgen2. Please reopen a separate issue if these tests continue to fail.

[2021-07-06 06:08] #53163 closed

[2021-07-06 06:15] mangod9 commented on #53452
@hoyosjs is this failing still for coreclr?

[2021-07-06 06:18] mangod9 commented on #53026
since this no longer repros, closing it for now.

[2021-07-06 06:18] #53026 closed

[2021-07-06 06:25] mangod9 commented on #53298
This is fixed by https://github.com/dotnet/runtime/pull/53573 hence closing this.

[2021-07-06 06:25] #53298 closed

[2021-07-06 06:32] am11 commented on #45277
Indeed, thanks! 👍
I have just tested it with the daily build (`6.0.100-preview.7.21355.1`). I will go ahead and close this issue. I think crossgen2 in .NET 5 was still work in progress, so backporting it probably does not meet the bar. If that's not the case, please reopen.

[2021-07-06 06:33] mangod9 commented on #45277
great thanks for validating.

[2021-07-06 06:49] mangod9 commented on #3321
now that crossgen2 has replaced crossgen, is this still relevant ?

[2021-07-06 06:51] davidfowl commented on #53919
@alexmg @tillig @pakrym @ENikS @ipjohnson @dadhi @seesharper @jeremydmiller @alistairjevans I assume you'll are gonna add support for this interface once .NET 6 ships?

[2021-07-06 06:53] ViktorHofer commented on #55133
Would it make sense to follow the `Host` / `Runtime` / `Target` naming schema and use
- TargetRID
- HostRID

instead?

[2021-07-06 06:54] hoyosjs commented on #53452
Not that I can see. It's fully disabled on mono, and ARM32 and Win-ARM64 on coreclr.

[2021-07-06 07:04] #55189 closed

[2021-07-06 07:05] jkoritzinsky commented on #55133
I think the split is Build/Host/Target IIRC.

If we do go that route, we need to make sure we stay consistent with the definitions.

[2021-07-06 07:17] alistairjevans commented on #53919
For Autofac, based on what we've done before, we may have a pre-release package against a 6 preview ready a little while before the release, and then yes, release a new version once .NET 6 drops.

[2021-07-06 07:26] alexaka1 opened #55194 "System.Security.Cryptography.Xml.Utils.GetAnyPublicKey returns only RSA or null?"
This is the line in question:
https://github.com/dotnet/runtime/blob/7e43f8c2b23fd29b6176edd3b7f4631e51764702/src/libraries/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/Utils.cs#L753
But what about DSA or ECDsa keys? Shouldn't it check for them when `GetRSAPublicKey()` returns null?
How about `return (AsymmetricAlgorithm) (certificate.GetRSAPublicKey() ?? certificate.GetDS

[2021-07-06 07:26] sba923 commented on #53182
Sure. Here what it gets me:

[code]

[2021-07-06 07:30] davmason commented on #50306
@mangod9 I don't have access to an apple silicon device so I don't know if it still repros. It looks like Steve disabled the profiler transitions test in https://github.com/dotnet/runtime/pull/50117

[2021-07-06 07:32] adamsitnik commented on #53182
@sba923 thank you very much! I've sent a PR with a fix: #55195

[2021-07-06 07:36] ManickaP commented on #55103
AFAIU `MsQuicStream` doesn't need to be finalizable per se, but than its `State` would have to be, because we need to, in all cases, clear number of active streams from connection, in order to properly close that connection eventually.

This could be solved differently as well. We had a chat with @wfurt about `SafeHandle.DangerousAddRef` to do the counting for us (and ignore msquic callbacks if we

[2021-07-06 07:53] ViktorHofer commented on #55133
I can't find the thread in which we discussed the nomenclature anymore but aside from that, do we expect people to pass in different values for these properties? If not, we might not want to expose them, prefix them with an underscore and care slightly less about their distinct naming.

[2021-07-06 08:00] tmds commented on #43349
Yes.

The cookie issue still causes our builds to fail from the start.
Once that is fixed, and it has rippled into the SDK that gets used from the `.dotnet` folder, I suspect we'll see the `NullReferenceExceptions` again.

Our plan is to build .NET 6 for arm64, but this issue needs to be resolved for that.

I've looked at the problem but I couldn't figure out the root cause. I think it is in the k

[2021-07-06 08:07] pinkfloydx33 commented on #55159
Oh, I was definitely not suggesting it as a fix. Just commenting that something weird was happening.

And you're right. I was so focused on the "sign-based" rules that I paid no attention to the zero-based ones. That's what I get for posting something at 3am :-)

[2021-07-06 08:26] kiminuo commented on #35962
Will this make .NET 6?

[2021-07-06 08:44] ManickaP commented on #55093
The error looks like you are trying to connect to HTTP 1.1 server while expecting H/2, probably over http and not https (versioning there should be handle by ALPN).
This doesn't seem like `HttpClient` issue, gRPC, IIS and Blazor are well beyond my knowledge.

@JamesNK is this something you could help with?

[2021-07-06 08:52] ManickaP commented on #55056
Duplicate of #53530

[2021-07-06 08:52] #55056 closed

[2021-07-06 08:52] JamesNK commented on #55192
Same error, breakpoint in callback never hit:
[code]

[2021-07-06 08:56] adamsitnik opened #55196 "Remove Net5CompatFileStreamStrategy in .NET 7 early previews"
cc @stephentoub

[2021-07-06 09:04] JamesNK commented on #55193
Yes, this is Windows.

Password is "quic"
[devcert.zip](https://github.com/dotnet/runtime/files/6768766/devcert.zip)

[2021-07-06 09:13] ManickaP commented on #55166
@aik-jahoda I see that you added the obsoletions here. Is this correct? What is the recommended replacement? `HttpClient` cannot handle ftp requests AFAIK.

[2021-07-06 09:25] ManickaP commented on #55156
Yes, we shouldn't crash in any case and for that we need to keep the connection alive until all it's associated streams are closed.

cc @nibanks

[2021-07-06 09:35] GW-Lab commented on #55166
In VS 16.11.2 using .Net 6 you get the warning  SYSLIB0014  if you use (FtpWebRequest)WebRequest.Create()  see picture 1:

It is stated to use HttpClient instead.  (but this is misleading / wrong)

1. The warning obsolate is ok bud the solution to use HttpClient is wrong!!!
2. So my questions is what is the alternative?

Picture 1:
(https://user-images.githubusercontent.com/49092462/124575982-2c79

[2021-07-06 09:37] MaximLipnin commented on #51952
I ran those tests locally and they don't hang, I'm going to re-enable them in https://github.com/dotnet/runtime/pull/54970

[2021-07-06 09:40] ViktorHofer commented on #55133
Should be fixed with https://github.com/dotnet/runtime/pull/54914

[2021-07-06 09:40] #55133 closed

[2021-07-06 09:41] ViktorHofer commented on #55133
@am11 would you mind opening a new issue with details on the remaining work in regards to renaming properties and consolidating properties further to reduce complexity and redundancy?

[2021-07-06 09:48] hoyosjs commented on #55133
They are somewhat necessary evils. Native assets - like the ones in this package - often rely on a build agent which runs some tool, hence the platform - an OS that hosts the code, and the type you are targeting. For packages, you almost always produce target OS ones, but you'd likely need to surface both. There's prior art in the separation with the cross DAC and crossgen2. Build/platform props

[2021-07-06 09:49] jakobbotsch commented on #54102
Not sure if this one is related:
[code]

[2021-07-06 10:15] medelbbalci opened #55197 "Configuration does not recognize empty sections"
As the title states, the bug occurs when an empty configuration section is defined. It is not picked up when `GetChildren()` or `GetSection(string)` is called on `IConfiguration` I believe it is a known issue and seems it is not handled. A link to the [comment](https://github.com/aspnet/Configuration/issues/292#issuecomment-311087455) discussed previously.

In our case, the appsettings.json define

[2021-07-06 10:17] teo-tsirpanis commented on #55172
I am working on it.

[2021-07-06 10:18] uweigand commented on #48720
It took me a while to get to that, sorry.  I've now posted a PR implementing this suggestion.  Let me know if there's anything I should be doing different.  Thanks!

[2021-07-06 10:21] jasonpugsley commented on #3321
Regarding the map files, I wasn't able to get perf working on FreeBSD - it seems to be very Linux specific. Otherwise, crossgen has worked on FreeBSD since at least 3.0. I don't think we can implement anything more here so closing this makes sense.

[2021-07-06 10:38] BrzVlad commented on #54567
@DrewScoggins any update ?

[2021-07-06 10:41] SkiFoD commented on #54993
Hey everyone. I did a quick research and came up with a very straightforward solution like refactoring https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/libraries/System.Private.CoreLib/src/System/IO/Path.Windows.cs#L65 which is to replace using https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/libraries/System.Private.CoreLib/src

[2021-07-06 10:44] dadhi commented on #53919
For DryIoc, yes. Will be tested first with the preview.

[2021-07-06 10:56] leppie opened #55204 ".NET 5 Unicode lowercase regression with ª (code point 00AA)"
This character is considered lowercase in all .NET versions, but regressed in .NET 5.

Repro
[code]

From https://www.unicode.org/Public/13.0.0/ucd/PropList.txt
[code]

I haven't checked any other characters, but this specific one caused a test failure for me in IronScheme. See https://github.com/IronScheme/IronScheme/issues/78

[2021-07-06 11:18] am11 commented on #55133
Sure, I will first try it on few VM's and dockers then come up with a bit concrete proposal. On top of the huge platform matrix and logic to derive RID, it gets a little complicated when one of the public properties is overridden from outside so making sure whether search-replace of these properties will actually work. :)

Consolidations ideas:
1. remove the ability to override properties (like `O

[2021-07-06 11:23] RamjotSingh commented on #54193
@GrabYourPitchforks I have written the encoder which accept Emojis (builds on top of UnsafeRelaxedEncoder) https://github.com/RamjotSingh/System.Text.Json.Extensions/blob/main/RamjotSingh.System.Text.Json.Extensions/Encoders/NewtonsoftJsonCompatibleEncoder.cs

I wrote some tests and things look to be working fine. Would you be able to take a look and see if the encoder makes sense?

I had to copy

[2021-07-06 11:57] rcollette commented on #715
I'm not advocating a single platform solution, but wasn't the entire Windows Forms capability ported over to .NET core but dependent on Windows?

[2021-07-06 12:01] ipjohnson commented on #53919
Yes I plan to support it in Grace soon after .net 6 releases.

[2021-07-06 12:10] MichalPetryka commented on #55204
Does this happen on Windows when you force .Net 5 to use NLS [as explained here](https://docs.microsoft.com/en-us/dotnet/core/run-time-config/globalization#nls)? If yes then this is caused by ICU and probably should be filed [here](https://github.com/unicode-org/icu).

[2021-07-06 12:14] smjltd commented on #54819
This Issue Still Occurs on for example:
`                <input type="number" class="form-control" value="@Math.Round(repairCostTotal.GeneralMaterialCost,2))" readonly />
`

Need to add Invariant Culture for Every Field where it's auto converting to string

`<input type="number" class="form-control" value="@Math.Round(repairCostTotal.GeneralMaterialCost,2).ToString(CultureInfo.InvariantCulture)" r

[2021-07-06 12:24] smjltd commented on #54819
please reopen the case

[2021-07-06 12:32] leppie commented on #55204
Seems the same either way
[code]

[2021-07-06 12:37] ufcpp commented on #55204
https://docs.microsoft.com/en-us/dotnet/api/system.char.islower?view=net-5.0

[2021-07-06 12:39] vinayiscool opened #55205 "Getting issue while publishing blazor client with AOTCompilation"
![image](https://user-images.githubusercontent.com/78460365/124601030-00c72580-de85-11eb-9433-9671ef8aa38c.png)

Steps :
1) As per https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-6-preview-4/ blog installed AOT with below command.
  dotnet workload install microsoft-net-sdk-blazorwebassembly-aot
2) Sets RunAOTCompilation proerpty to project path
<RunAOTCompilation>true</RunAOTCom

[2021-07-06 13:16] svick commented on #55204
@ufcpp On Windows with default settings, when I run `char.GetUnicodeCategory('ª')` on .Net Core 3.1, I get `LowercaseLetter`, but on .Net 5.0, I get `OtherLetter` (which is consistent with `Lo` from UCD). Are you saying that the previous behavior was a bug and the new behavior is correct?

[2021-07-06 13:19] leppie commented on #55204
Prior to .NET 5 any char with a `Lowercase` property was considered lowercase. Which is consistent with interpretations from other languages, eg Java, R6RS Scheme.

Also the UnicodeCategory is `OtherLetter`. `char.IsLetter` return `true`. (as returned by .NET 5)

[2021-07-06 13:24] leppie commented on #55204
Good spot! I agree it should be `OtherLetter`, but I also feel it should be considered lowercase.

[2021-07-06 13:58] adamsitnik commented on #53182
@sba923  Yes, however I have one more idea: releasing the lock after a failed write which I hope could be backported to older .NET Core releases. Could you please run the following app and share the output?

<details>

[code]

</details>

[2021-07-06 13:59] steveisok commented on #55000
@lambdageek @vargaz Can either one of you take a look and help us triage?

[2021-07-06 14:03] scott-ferguson-unity commented on #44029
No this was not not caused by an issue in the runtime, but by external memory corruption.  This issue can be closed.

[2021-07-06 14:08] seesharper commented on #53919
LightInject will implement the interface in good time before the .Net 6 release 👍

[2021-07-06 14:18] Asad-G opened #55207 "Application Crashes on IIS when server restarts"
I have created a .NET core 5.0 project, that has multiple hosted services on it, and hosted on IIS. I have enabled application initialization in Windows features and added in web.config, also enabled preload for the application on IIS. Here are the contents of my web.config:

[code]
The following are the contents of my packages config:

[code]
I have published it on my local machine and the applic

[2021-07-06 14:22] sba923 commented on #53182
Here's what I get this time:

[code]

[2021-07-06 14:31] ilyas1974 commented on #55163
Thank you for letting us know. I have created https://github.com/dotnet/core-eng/issues/13596 to investigate this.

[2021-07-06 14:34] satya-rajesh commented on #46526
$ grep -r "EVP_MD_size" .
dotnet-sdk-6.0.100/shared/Microsoft.NETCore.App/6.0.0-preview.5.21301.5/libSystem.Security.Cryptography.Native.OpenSsl.so

EVP_MD_size API seems to be causing an issue for powershell build.

As per https://www.openssl.org/docs/manmaster/man3/EVP_MD_fetch.html, this function is renamed.

Error observed with https://github.com/PowerShell/PowerShell/releases/tag/v7.2.0-previ

[2021-07-06 14:36] Clockwork-Muse commented on #54802
Technically they don't.  A couple of the constructors/properties access info that's used to get a localized time, but after that neither type really handle DST (you can cause `DateTime` to be an invalid `DateTimeKind.Local` time).  This, combined with the current API for timezones, make certain things almost impossible.

That aside, it's not just DST rules - you still need to be aware of the relev

[2021-07-06 14:46] stephentoub commented on #55196
We might want to wait a little while, in order to make it easier to port back to release/6.0 any straggling issues.

[2021-07-06 14:54] lambdageek commented on #55000
@vargaz do these arguments make sense?    I'm not sure if `static,direct-icalls,interp` is a combination that makes sense with dynamic linking.

@rolfbjarne  Do you also get problems if you're doing a fullaot build, or just interp-only?

[2021-07-06 15:08] #46300 closed

[2021-07-06 15:09] alvesmiguel1 opened #55211 "Unable to generate a core dump of .NET 5 application in OSX"
Hey there!

I am having an issue where a core dump is not generated for a .NET application upon an unhandled crash in a native library in OSX. However, I am able to generate a dump of this application at an ad hoc moment using dotnet-dump tool.

I've set the following environment variables:

[code]

And also tried to change `COMPlus_DbgMiniDumpName` and `COMPlus_DbgMiniDumpType` to get different r

[2021-07-06 15:21] tannergooding commented on #51451
This issue does come up from time to time but I'm not convinced that requiring the argument name to be specified is the correct approach. A related place this shows up is in various `Copy` APIs where we haven't always been consistent on whether `dest` or `src` comes first (or where users have their own notions).

I wonder how much of this could be covered without an attribute, simply by doing anal

[2021-07-06 15:23] tannergooding commented on #54802
@tarekgh, could you weigh in here since you've driven many of the Date/Time related changes recently.

[2021-07-06 15:26] tarekgh commented on #54819
@smjltd as stated in the comment https://github.com/dotnet/runtime/issues/54819#issuecomment-869934668 the parsing depends on the culture. if a number formatted with a specific culture, it needs to be parsed with same culture (or compatible culture). The parser cannot handle any possible formatted numbers. That is, we encourage when formatting a number, format it with Invariant culture and when pa

[2021-07-06 15:40] jogibear9988 opened #55212 "Switch between Parse/TryParse on double"
We have the following Code:

       double.Parse(doubleString, CultureInfo.InvariantCulture);

now we want to switch to TryParse, but then we need to provide a NumberStyle, cause there is no double.TryParse without NumberStyle.
And we don't know wich NumberStyle to provide so Code behaves the same.

[2021-07-06 15:44] stephentoub commented on #55212
NumberStyles.Float | NumberStyles.AllowThousands

[2021-07-06 15:48] jogibear9988 commented on #55212
@stephentoub
thanks for the info.
and what do you think about a new overload, so the functions can be exchanged (okay they can't really, cause the tryparse always has a out val)

[2021-07-06 15:48] lambdageek commented on #48663
@mangod9 No.  It's a potential issue for CoreCLR, Mono and the System.Native librareis interop code.  All calls to `open` in dotnet/runtime should be audited.

[2021-07-06 15:48] #44029 closed

[2021-07-06 15:58] tarekgh commented on #55204
We depend on how Unicode define the character property. Unicode defined it as `Lo` which is Other-Letter and not lower-case letter `Ll`. Also, if you look at the casing data, you'll find `ª` has no upper-case mapping.

`00AA;FEMININE ORDINAL INDICATOR;Lo;0;L;<super> 0061;;;;N;;;;;`

If you disagree with that, feel free to raise you issue to Unicode.org to fix that. From .NET side, we need to stick

[2021-07-06 15:58] #55204 closed

[2021-07-06 16:02] stephentoub commented on #44598
All planned work for .NET 6 has been done here, with some nice improvements on startup.  I'm going to close this; there can still be further opportunistic work for the release.

[2021-07-06 16:02] #44598 closed

[2021-07-06 16:12] mangod9 commented on #3321
ok thanks, closing for now.

[2021-07-06 16:12] #3321 closed

[2021-07-06 16:17] tommcdon commented on #55211
@mikem8361

[2021-07-06 16:20] stephentoub commented on #35962
Unlikely.

[2021-07-06 16:24] mangod9 commented on #50306
Ok, thanks.

[2021-07-06 16:27] tommcdon commented on #55011
Hi, this seems to be an issue with Visual Studio.  Please follow these instructions on reporting a problem: https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019

[2021-07-06 16:27] #55011 closed

[2021-07-06 16:31] mangod9 commented on #53452
Ok, thanks. Closing for now.

[2021-07-06 16:31] #53452 closed

[2021-07-06 16:33] svick commented on #55204
@tarekgh But [U+00AA *does* have the Lowercase property](https://www.unicode.org/Public/13.0.0/ucd/DerivedCoreProperties.txt):

[code]

Isn't that what `char.IsLower` should use, instead of being limited to just `Ll`?

[2021-07-06 16:36] tommcdon commented on #45547
This is an old issue is non-actionable, and so we are losing it until we have a project that is capable of reproducing the problem.

[2021-07-06 16:36] #45547 closed

[2021-07-06 16:38] #52042 closed

[2021-07-06 16:45] lewing commented on #55205
This has been fixed in later previews, @radical do you know when the fix went in?

[2021-07-06 16:45] #55205 closed

[2021-07-06 16:47] ENikS commented on #53919
It will be added in next major release

[2021-07-06 16:57] JulieLeeMSFT commented on #55079
Setting this to .NET 6 for now. If time is not enough, we can move to future.

[2021-07-06 17:04] vargaz commented on #55000
Those are declared using ICALL_EXTERN_C, the runtime probably needs to be built with
ENABLE_ICALL_EXPORT.

[2021-07-06 17:05] vargaz commented on #55000
Or direct-icalls needs to be dropped from the aot command line.

[2021-07-06 17:05] GrabYourPitchforks commented on #54193
@RamjotSingh The encoder logic looks fine. If you need a netstandard2.0-compatible version of the Rune sources, you can find one at https://github.com/dotnet/runtime/blob/main/src/libraries/System.Text.Encodings.Web/src/Polyfills/System.Text.Rune.netstandard20.cs. (This is the same file used by the netstandard2.0-compatible encoders package.)

I didn't check the tool which scrapes https://unicode.

[2021-07-06 17:07] JulieLeeMSFT commented on #54941
@BruceForstall PTAL. This test is failing repeatedly.

[2021-07-06 17:15] JulieLeeMSFT commented on #54739
CC @dotnet/jit-contrib @AndyAyersMS.

[2021-07-06 17:17] derekantrican opened #55215 ".NET Core 3.1 Process.Start cannot open url in OSX 10.14"
My application has a number of users hitting the following error on OSX 10.14:

[code]

The `OpenURLForAnyPlatform` method looks like this:

[code]

This exception is *not* thrown on .NET 5 and seems to work just as expected (same code - only updated the framework). The issue seems to be only with .NET Core 3.1 & OSX 10.14 (maybe others, and maybe not all users on 10.14 - I do not have that data.

[2021-07-06 17:18] GrabYourPitchforks commented on #53320
"Do nothing" is fine. It means that we're mixing thread-safe (`CreateEncryptor` / `CreateDecryptor`) and non-thread-safe (`EncryptCbc`) instance methods on the same type, but we do this with other types (like `Dictionary<TKey, TValue>`) as well and the world hasn't ended. I was probably just being paranoid. :)

[2021-07-06 17:18] AndyAyersMS commented on #55162
Guessing this is a mono related issue, the pipline is `Mono Linux x64 Release`, and internal details show it's mono:
[code]
Resetting the area path.

[2021-07-06 17:19] eerhardt commented on #55089
The content root gets defaulted to `Directory.GetCurrentDirectory()` here:

https://github.com/dotnet/runtime/blob/515f7c104975fface92b7e155c92bb3b96f67b3b/src/libraries/Microsoft.Extensions.Hosting/src/HostingHostBuilderExtensions.cs#L192

`GetCurrentDirectory` is the current working directory of the process. When you run in VS, the current working directory is the folder your .csproj is. And the

[2021-07-06 17:20] BruceForstall commented on #54941
@stephentoub Does this look to you like a libraries test issue, or a CLR issue?

[2021-07-06 17:25] lewing commented on #55214
Without digging into the details I suspect this is the expected behavior of the current code, we should consider if it makes sense to be more aggressive about filtering out the implementation details here.

[2021-07-06 17:26] GrabYourPitchforks commented on #52312
I checked the history for https://github.com/dotnet/runtime/commits/main/src/libraries/System.Memory and don't see any changes between the baseline \& compare commits.

Could this be caused by https://github.com/dotnet/runtime/pull/51593? `ReadOnlySequence<T>` goes a bit wild with inlining, so anything that affects how inlining works may have outsized impact on this set of APIs. Moving to codegen

[2021-07-06 17:34] leppie commented on #55204
Here is perhaps a better example.  Which behaves as follows for all FX.

Roman numerals. Lets take one `Ⅰ`. (2160)

`char.ToLower('Ⅰ')` => `ⅰ`  // correct (2170)
`char.ToUpper('ⅰ')` => `Ⅰ`  // correct (2160)

`char.IsLower` => `false` for both
`char.IsUpper` => `false` for both

`TextInfo.ToTitleCase("ⅰ")` => `ⅰ` // should be Ⅰ

[2021-07-06 17:42] jkoritzinsky commented on #54645
@marcpopMSFT I agree with @vitek-karas that this is a dotnet/sdk issue.

The .deps.json format already has a representation for the required concept.

The task that generates the .deps.json is in the dotnet/sdk repo.

The .NET SDK needs to provide a (either add or document an existing) mechanism for developers to specify native assets for a given RID. This work is definitely SDK work as the experi

[2021-07-06 17:42] MichalPetryka opened #55217 "Add CollectionsMarshal.SetCount API for List<T>"
## Background and Motivation

The existing CollectionsMarshal.AsSpan<T>(List<T>) API allows developers to use List<T> for performant code as a Span, however it restricts modifications of it by having no way to change the Count of the List. Exposing an API in CollectionsMarshal for doing that would solve that and help to remove redundant array allocations and AddRange copies when adding data to a L

[2021-07-06 17:42] Socolin opened #55218 "Improve ValidateDataAnnotations error message"
Hello,

When using `ValidateDataAnnotations` the error messages when there is an error validating some configuration is not  as helful as it could.

For example, if I have a class like

[code]

I'll get an error message like

[code]

Since I registered multiple time options with similar properties. like `SomeOtherKey:XXXX`
 I cannot determine if the missing configuration is `SomeKey:XXXX` or  `Som

[2021-07-06 17:42] rodrmoya commented on #45547
we can easily repro on both Mac and Linux with a specific solution, which we can't share though, as it's private code. It got quite better a couple months ago, as we fixed a couple big men leaks on our code, but it's back, but now, after that improvement, it seems to be clear it might be in our code. Still the debugger shouldn't crash though, I guess, but at least it seems we can do something on o

[2021-07-06 17:45] tommcdon commented on #45383
We have minimal testing in the runtime repo.

[2021-07-06 17:45] #45383 closed

[2021-07-06 17:49] leppie commented on #55204
[code]
`Simple_Titlecase_Mapping` is the last value.

http://www.unicode.org/reports/tr44/#Simple_Titlecase_Mapping

Seems much of the Unicode spec is simply ignored or not implemented.

[2021-07-06 17:54] jkoritzinsky commented on #48784
This is expected. The `StructA` type is not an `unmanaged` type by the C# definition. An `unmanaged` type must have no reference fields, and an array is a reference field.

Additionally, your sample code using `MemoryMarshal` would not work with `StructA` as-is. Since `StructA` is not [blittable](https://docs.microsoft.com/en-us/dotnet/standard/native-interop/best-practices#blittable-types) (which

[2021-07-06 17:54] #48784 closed

[2021-07-06 18:00] Vasar007 opened #55219 "Enumerable.Join method adds additional items when called for large collections"
### Description

I recently discovered that Enumerable.Join method can have quite a strange behavior sometimes. In my tests I use the following code (I tried to simplify it):

[code]

In the tests I create rather large collection and call `Enumerable.Join` (there are more complicated logic in my code but I erase it to make it clear). And it looks like `Enumerable.Join` method adds additional items

[2021-07-06 18:08] am11 commented on #55133
I think we should define their roles as they are not self-explanatory (or better use different name). as I am fairly certain we don't use the same meaning as, e.g. autoconf:

* https://www.gnu.org/software/autoconf/manual/autoconf-2.65/html_node/Specifying-Target-Triplets.html
* https://stackoverflow.com/a/15901574

in short, our target (OutputRid) is their host and our host (PackageRID) is their

[2021-07-06 18:23] GrabYourPitchforks commented on #55217
IMO this would be more useful and discoverable as an instance method `List<T>.Resize(int newCount)`, which also zero-inits the buffer if needed. Zero-initing is surprisingly cheap; and it can be elided entirely if _T_ contains gcrefs, as you called out; and it can also be elided if the underlying array ends up being resized as a result of the operation.

[2021-07-06 18:33] weilinwa commented on #12984
Hi, @CarolEidt. I'm interested in this issue and would like to work on it. Could you please help me to confirm if my understanding of the requirement is correct? Thanks!

What we want to improve here is to generate the best fit FMA instruction for situations that the computation result is written into one of the three input operands. To achieve this, we need to add checks and bias containment in l

[2021-07-06 18:37] BruceForstall commented on #12984
@kunalspathak @tannergooding

[2021-07-06 18:43] GrabYourPitchforks commented on #55204
Correct - .NET has considerable gaps in how it handles Unicode properties. For example, case comparison is done via normalize-to-uppercase instead of normalize-to-casefold. (I want to change this, but it would be a _substantial_ breaking change, and that's a very hard pill to swallow.) For better or worse, the `char.IsLower` method [is documented](https://docs.microsoft.com/dotnet/api/system.char.

[2021-07-06 18:45] kunalspathak commented on #12984
@weilinwa  - That looks right.

[2021-07-06 18:45] RamjotSingh commented on #54193
The code for the scraper is at https://github.com/RamjotSingh/EmojiNet/blob/026453f0a643299f7b1152d57e46185fe1380e19/EmojiNet/EmojiSiteProcessor/Program.cs#L45

It's basically downloading the unicode website and pulling all the U+ codes from it and constructing a giant switch statement with all the int values (emojis with combination of U+ values are split and each individual value considered a va

[2021-07-06 18:46] svick commented on #55219
Yes, this behavior is by design *for collections that contain duplicates*, which your random list with 100 000 items usually does.

Each integer from the first collection matches with each intenger in the second collection with the same value. And that means each duplicate matches more than once, resulting in those additional items.

To see this, you can use the collection of `new[] { 1, 2, 1 }`,

[2021-07-06 18:50] jkoritzinsky commented on #55144
As @jkotas mentioned, we decided to limit the implementation for simplicity.

With generics specifically, there's a few additional issues. Specifically, UnmanagedCallersOnly is incompatible with shared-generics based on the current design. Since UnmanagedCallersOnly is designed to present the minimal overhead for calling a .NET function from native code, it does not provide any wrapper stub. As a

[2021-07-06 18:50] Vasar007 commented on #55219
Okay, thanks @svick for the answer! I decided to reduce collection size for the tests and filter duplicates.

[2021-07-06 18:50] #55219 closed

[2021-07-06 18:54] kunalspathak commented on #52312
It might be worth checking if https://github.com/dotnet/runtime/pull/51190 affects any of the generated code for these benchmarks.

[2021-07-06 18:55] stephentoub commented on #54941
Just from the exception, and the various unrelated tests it manifests on, I'd guess runtime.

[2021-07-06 18:58] MichalPetryka commented on #55217
While an instance Resize that'd zero-init would be more discoverable, I'd rather add both APIs than just it, since probably a lot of the usecases for AsSpan that'd modify don't care about the contents of it, so it'd only prove to be an unnecessary cost.
Would adding both an instance Resize with zero init and not as exposed SetCount without it be an acceptable solution?

[2021-07-06 18:59] bartonjs commented on #50658
* Since there's already a strong delegate type for the getter, let's use a strong delegate type for the setter to name the string parameters.
* Extract(out id, out state) should use the "trace" prefix to help callers understand the alignment to (e.g.) Activity.TraceStateString
* Instead of relying on the shape of the out parameters, the different Extract methods should use purpose names
* We renam

[2021-07-06 19:01] tactical-drone commented on #35962
@stephentoub I was wondering if you had a look at the code? Does it make sense?

[2021-07-06 19:05] GrabYourPitchforks commented on #52312
https://github.com/dotnet/runtime/pull/51190 would definitely affect codegen, but it was about removing `movsx` instructions in favor of zero-latency `mov` instructions (or even being able to elide them entirely). I'll double-check the codegen to make sure nothing strange got introduced.

[2021-07-06 19:07] kiminuo commented on #35962
😢

[2021-07-06 19:13] vargaz commented on #55000
Are there any tests in dotnet/runtime which run into this problem ?

[2021-07-06 19:23] bartonjs commented on #55194
Do you have a specifically impacted scenario, or is this just a code inspection question?

My recollection is that SignedXml doesn't support ECDSA, so having GetECDsaPublicKey in there doesn't make sense.  And GetDSAPublicKey isn't part of .NET Standard 2.0, so we can't call it without splitting the library.  Given that there's not a lot usage of DSA we thought it wasn't worth splitting for it.

[2021-07-06 19:23] moliveto opened #55227 "HttpClient TLS 1.2 issue on linux with 5.0 but working in 3.1"
### Description

**I have a problem with TLS 1.2 in asp.net core 5.0 and linux. It's happening only in asp.net core 5.0, the same code run on asp.net core 3.1**

SSL connection using TLSv1.2 / AES256-GCM-SHA384

Issuer: C=GB; ST=Greater Manchester; L=Salford; O=COMODO CA Limited; CN=COMODO RSA Organization Validation Secure Server CA

[code]
I am sharing a console app bellow that you should see to

[2021-07-06 19:26] lambdageek commented on #55000
I think no, because we've been doing static linking in dotnet/runtime.  I have a PR to switch to dynamic linking (https://github.com/dotnet/runtime/pull/54241) but I didn't get far enough to finish it.  I suspect it probably hits this issue.

[2021-07-06 19:27] bartonjs commented on #53320
Alrighty, then.  Closing as no action required :smile:.

[2021-07-06 19:27] #53320 closed

[2021-07-06 19:32] bartonjs commented on #46526
Looks like EVP_MD_size got renamed to EVP_MD_get_size for Beta1, and our support was based on Alpha....14?  So we'll need to do another sweep.

[2021-07-06 19:47] lambdageek opened #55228 "[mono] block debugger attach after managed `ApplyUpdate` is called"
Block two scenarios:
1. managed `ApplyUpdate` is called with debugger attached
2. debugger tries to attach after managed `ApplyUpdate` is called.

The issue is that if updates and debugger state are out of sync, we don't have a mechanism to play the debugger up to the modified state so attaching would see outdated breakpoints, locals, etc.  Revisit in future releases.

The only supported scenarios

[2021-07-06 19:56] vlada-shubina commented on #54941
Not sure if it's related or not, however dotnet/templating CI started intermittently failing after this update https://github.com/dotnet/templating/pull/3387 with similar message.
The issue is intermittent and fails CI at 50% rate at the moment.
[Standard_Console_Output (7).log](https://github.com/dotnet/runtime/files/6772479/Standard_Console_Output.7.log)

I'll revert the runtime update to see if

[2021-07-06 19:58] #55008 closed

[2021-07-06 19:58] #55009 closed

[2021-07-06 20:08] StevenLiekens commented on #1384
In other words

![image](https://user-images.githubusercontent.com/1583241/124660594-b35bb000-dea6-11eb-96b6-546fa4b19f5d.png)

[2021-07-06 20:39] wfurt commented on #55227
can you post handshake packet captures @moliveto ?
What is your base OS/OpenSSL version?

[2021-07-06 20:42] #55029 closed

[2021-07-06 20:44] NinoFloris commented on #55029
Thanks @stephentoub!

[2021-07-06 20:50] mangod9 commented on #46093
ok thanks for the info. Adding @tommcdon @noahfalk since we might be able to provide a better error info for this?

[2021-07-06 21:15] jakobbotsch commented on #55141
Looks like #54841 is related for ARM.

[2021-07-06 21:37] moliveto commented on #55227
@wfurt  I have checked on 3 machines with these OS/SSL version

**Live Environtment**

Distributor ID: Ubuntu
Description:    Ubuntu 18.04.5 LTS
Release:        18.04
Codename:       bionic

OpenSSL> version
OpenSSL 1.1.1f  31 Mar 2020

**Test Environtment**

Distributor ID: Ubuntu
Description:    Ubuntu 20.04.2 LTS
Release:        20.04
Codename:       focal

OpenSSL> version
OpenSSL 1.0.2s  28 M

[2021-07-06 21:43] vcsjones commented on #50528
Some of these APIs that "unconditionally throw" are virtual and are expected to be overridden in derived classes, so while the base class throws, they aren't necessarily obsolete because derived classes override them and some functionality depend on these classes. I think this would be the case for all of the methods on the `HMAC` class. So I do not think those should be obsolete or otherwise anno

[2021-07-06 21:51] geoffkizer commented on #55156
Why?

My understanding is that closing the connection will kill all active streams anyway. Right?

[2021-07-06 21:55] wfurt commented on #55156
I think we need to delay the closing until last stream is gone. I originally did the counting of streams before understanding the msquic internal mechanic. While I think Dispose can free all the managed resources and throw ODE afterwards we sill need to preserve the native handles.

[2021-07-06 21:56] wfurt commented on #55227
get the packet captures @moliveto. We should be able to see more what is happening on the wire.

[2021-07-06 22:05] geoffkizer commented on #55156
I still don't understand why we need to do that. Are you saying this is an msquic requirement? If so, what's the specific requirement?

Or is it something about how we are using msquic? If so, seems like it would be better to fix how we use msquic.

[2021-07-06 22:08] wfurt commented on #55156
Let's @nibanks to comment. I think we should hook to SHUTDOWN_COMPLETED event to free MsQuic resources. AFAIK that can be before or after Dispose is called.

[2021-07-06 22:11] moliveto commented on #55227
@wfurt do you want a capture with tcpdump?
Should you tell me more about how do you prefer the capture

[2021-07-06 22:11] geoffkizer commented on #55156
Agreed... https://github.com/dotnet/runtime/issues/55044

[2021-07-06 22:11] nibanks commented on #55156
I'm not sure I follow the issue completely here. Is this related to the fact that streams that haven't been started don't get shutdown automatically? FYI, they don't get shutdown complete events because we cannot deliver a notification before you call StreamStart. Perhaps a quick call might help here.

[2021-07-06 22:13] geoffkizer commented on #55156
@wfurt Can you describe the issue you've seen? You understand this better than I do.

[2021-07-06 22:14] geoffkizer commented on #55025
I'm removing "test enhancement" here because the root issue isn't a test issue. We can't implement this properly in the loopback server because there's some product issue (not understood yet) that causes this to not work.

[2021-07-06 22:22] moliveto commented on #55227
![image](https://user-images.githubusercontent.com/1890103/124673590-7932e400-de8f-11eb-9393-617e03104422.png)

[2021-07-06 22:22] wfurt commented on #55156
This is something we discussed as well @nibanks. The ultimate question is when it is safe to free all the connection related resources e.g. configuration and the connection itself. Perhaps you can describe the optimal/safe sequence.

Prior #52800 we would try to free everything in Dispose and we saw crashes when there were still active streams. #52800 added counting to prevent that. But perhaps th

[2021-07-06 22:26] wfurt commented on #55227
can you please post the good and bad example? Zip the pcap file so you can attach it to the issue. The picture does not show all the interesting details.

Now eying the capture image, server does not send back anything before closing the connection so the client exception seems correct.

[2021-07-06 22:39] Keerthi-Mettu commented on #55093
However, when this pre-rendered solution is run locally through visual studio, it works on the H2 protocol.

_Screenshots of the browser Network tab:_

![image](https://user-images.githubusercontent.com/79932039/124674445-98217e00-de6f-11eb-8ae7-cb89793243de.png)
![image](https://user-images.githubusercontent.com/79932039/124674475-af606b80-de6f-11eb-971a-a605ae70c08c.png)

I have also tested this

[2021-07-06 22:42] BruceForstall commented on #54846
I'm going to close this, and track the work with #48897

[2021-07-06 22:42] #54846 closed

[2021-07-06 22:51] xtqqczze commented on #19089
It does seem an oversight that a `ReadOnlyCollection<T>` cannot be instantiated from a `IReadOnlyList<T>`.

[2021-07-06 22:53] bartonjs commented on #48049
Since April 1st there have been 35 total failures from DynamicRevocationTests.  28 were good old 0xC0000001 on Windows.  The remaining 7 hits were all timeouts (or some other reason why RevocationUnknown was returned).

So we could probably add some RetryHelper to this class to reduce the 7 valid failures.  Since it's a relatively small change that should help make servicing easier, I'll leave thi

[2021-07-06 22:59] terrajobst commented on #19089
I've updated the API proposal.

[2021-07-06 22:59] terrajobst commented on #19089
@dotnet/area-system-collections any objections marking this as api-eady-for-review?

[2021-07-06 23:00] SergeiPavlov opened #55233 "NRE in EncodingProvider"
Method `EncodingProvider.AddProvider()`
line https://github.com/dotnet/runtime/blame/main/src/libraries/System.Private.CoreLib/src/System/Text/EncodingProvider.cs#L74

(modified in https://github.com/dotnet/runtime/commit/aa04371cabe4c82a39d993582cf7e14a07d1f1ab#diff-78fd2ee473560a7d46ed3be3c325125036eba36d768fe32fd0fcabf80000f9daR74 )
@stephentoub please look at it

It assigns new `provider` to e

[2021-07-06 23:07] xtqqczze opened #55234 "Provide a API to get an `IList<T>` from a `Collection<T>`"
This could be implemented by making the `IList<T> Items` property public, or providing a new API in `CollectionsMarshal `.

[2021-07-06 23:16] BruceForstall opened #55235 "Improve JIT loop optimizations (.NET 7)"
This issue describes which loop optimization opportunities we intend to work on for .NET 7. A full summary of RyuJIT loop optimization opportunities is given in https://github.com/dotnet/runtime/issues/65342.

## Work in .NET 7

- [x] Generalize loop cloning to be more flexible w.r.t. the loop initialization condition. This helps OSR. https://github.com/dotnet/runtime/pull/66257
- [x] Address mult

[2021-07-06 23:18] BruceForstall commented on #43549
We don't expect to make significant additional improvements in loop optimizations in .NET 6. This issue will serve as a snapshot of the work that was considered and completed. I've opened a new meta-issue to track loop optimization planning going forward, for .NET 7 and beyond: https://github.com/dotnet/runtime/issues/55235

[2021-07-06 23:18] #43549 closed

[2021-07-06 23:21] bartonjs commented on #47410
Marked this for 7.0.  I figure if we don't do it by then we can just close it.

Latent thoughts:

[code]

It's probably a breaking change to make the existing Content property be declared nullable, so we could make the Stream ctor set it to Array.Empty.

Draining the stream is where things become complicated.

* If the first call to Sign leaves the stream drained, and there is a second call to Sig

[2021-07-06 23:21] wfurt commented on #55192
[code]
this looks like a problem mapping (Ms)Quic connection back to `HttpRequestMessage`

#55193 may have similar reason.

[2021-07-06 23:31] davidfowl commented on #29723
Is this happening in .NET 6? We'd like to take a dependency on it.

[2021-07-06 23:33] jeffhandley commented on #29723
Yes, #54985 is intended to be included in Preview 7.

[2021-07-06 23:33] bartonjs commented on #47398
This has only failed once since April 1st, and it's really an OS issue.  Closing as unactionable.

[2021-07-06 23:33] #47398 closed

[2021-07-06 23:34] bartonjs commented on #47397
Unknown error (0xc0000001) is #29683

[2021-07-06 23:34] #47397 closed

[2021-07-06 23:39] bartonjs commented on #43458
Since this is about a Windows routine, not a .NET routine, closing the issue.

Sorry we didn't end up providing routing to get closer to the problem.

[2021-07-06 23:39] #43458 closed

[2021-07-06 23:43] bartonjs commented on #46753
Since

* There hasn't been any activity on the issue in a long time
* The error code is coming out of OpenSSL's PKCS12_parse
* We stopped using PKCS12_parse with .NET 5 (wrote our own PFX loader)
* We weren't able to reproduce the error

I'm going to close the issue.

[2021-07-06 23:43] #46753 closed

[2021-07-06 23:46] bartonjs commented on #43045
Since the native callstack was deep in OpenSSL, and we haven't had recurring complaints, it doesn't seem that there's much action to take.  So closing the issue.

[2021-07-06 23:46] #43045 closed

[2021-07-06 23:47] JamesNK opened #55237 "HTTP/3: Improve user experience when TLS 1.3 is not enabled on Windows"
TLS 1.3 can be disabled via a registry key. If HTTP/3 is used on a machine that has a modern version of Windows that supports TLS 1.3, but 1.3 has been disabled, then HTTP/3 fails.

The error message isn't immediately helpful:

[code]

Options:
1. Add check for 1.3 to `QuicImplementationProviders.MsQuic.IsSupported`
2. Throw a friendly error message when attempting to do QUIC.

How to disable:
htt

[2021-07-06 23:48] bartonjs commented on #43884
We should look at this for 7, since we've done a lot of chain rework since 3.1.

Since we have the CustomRootTrust mode on X509Chain now we can ignore all the system installation pieces.  And we can use CertificateRequest to build the test chain on the fly.

[2021-07-06 23:51] joshudson opened #55239 "Unexpected performance result from Decimal vs. Nullable<Decimal>"
This isn't a serious problem right now; can somebody tag this discussion.

### Description

We discovered while attempting to remove some boxing that `Nullable<Decimal>` was much slower than` Decimal`, to the point where it's nearly as expensive as the boxing itself in some cases. Anyway, this reduced to a really small performance benchmark showing about 2x speed difference.

https://share.linqpad

[2021-07-06 23:52] BruceForstall opened #55240 "Test failure: Assert failure: list != 0 && list->list != 0"
R2R Linux arm no_tiered_compilation:

https://dev.azure.com/dnceng/public/_build/results?buildId=1221332&view=ms.vss-test-web.build-test-results-tab&runId=36394514&resultId=110344&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

[code]

[2021-07-06 23:52] #52020 closed

[2021-07-06 23:53] JamesNK commented on #52020
I think this is resolved when using modern msquic.dll. Will reopen if I see this error again.

[2021-07-06 23:56] davidwengier commented on #55058
This is currently blocking https://github.com/dotnet/roslyn/issues/52563

[2021-07-06 23:57] BruceForstall opened #55241 "Test failure: Assertion failed '(budget >= 0) && (budget <= m_mapSelectBudget)'"
System.Data.Common.Tests

win-x64

COMPlus_JitStress=2
COMPlus_JitStressRegs=2

(at least)

https://dev.azure.com/dnceng/public/_build/results?buildId=1219289&view=ms.vss-test-web.build-test-results-tab&runId=36354488&resultId=186161&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

[code]

@dotnet/jit-contrib

[2021-07-06 23:57] DrewScoggins commented on #54567
Sorry about the delay, I was OOF. All of the tests improved except the System.Reflection, System.Text.Json.Serialization, and System.ComponentModel tests. All of those are still regressed as much as we first saw. You can look at the graphs yourself by clicking on the links in the table.

[2021-07-06 23:59] BruceForstall commented on #55161
fyi, I see lots of these failures in this job: https://dev.azure.com/dnceng/public/_build/results?buildId=1219289&view=ms.vss-test-web.build-test-results-tab

[2021-07-07 00:05] bartonjs commented on #44674
Basically just reiterating things from back in November, but:

* We're not currently investing in the crypto XML APIs (other than security issues).
* This would intentionally create a somewhat hard to debug divergence between .NET (nee Core) and .NET Framework
  * Looking back through the library history, I don't think we've taken any other change that did so.  The changes are all bulk repo change

[2021-07-07 00:05] #44674 closed

[2021-07-07 00:07] wfurt commented on #55193
Is the certificate trusted @JamesNK ? I used code from #55192 without the validation callback and it works fine for me:
[code]
Now the mapping `127.0.0.1` <-> `localhost` should _not_ work IMHO unless the address is in `AlternativeSubjectName`.

[2021-07-07 00:07] jeffhandley commented on #2162
Moving this out to .NET 7.0.

[2021-07-07 00:07] weilinwa commented on #12984
Hi, @kunalspathak. Thanks for the confirmation!
I have one follow up question about what is the classical method to check whether one of the operand is overwritten. I was able to do this by checking if one of the operand's lclNum (GetLclNum()) equals to this value of the next node(node->gtNext). Is there a more decent way to get the variable that the result is written into instead of getting the n

[2021-07-07 00:08] bartonjs commented on #44981
I'm not sure why this got routed to dotnet/runtime.  It seems like a debugger problem in the break on exception filter.

If there's some specific code in dotnet/runtime that is aggravating the filter we could do something about it, but the current issue isn't actionable.  Given a lack of activity, I'm going to go ahead and close it.

[2021-07-07 00:08] #44981 closed

[2021-07-07 00:14] stephentoub commented on #44713
This is what I see now on .NET 6:

|                  Method |        Job |  Runtime | Toolchain |     Mean |   Error |  StdDev | Ratio |  Gen 0 |  Gen 1 |  Gen 2 | Allocated |
|------------------------ |----------- |--------- |---------- |---------:|--------:|--------:|------:|-------:|-------:|-------:|----------:|
|  GetCustomAttributesAll | Job-XBYXUK | .NET 5.0 |    net5.0 | 429.1 ns | 1.04 n

[2021-07-07 00:15] JamesNK commented on #55193
I think the cert is trusted.

The issue isn't that HttpClient successfully makes an HTTP/3 call. The issue is that is different behavior from HTTP/1.1 and HTTP/2 which fail.

[2021-07-07 00:17] DrewScoggins commented on #52312
All of these tests have improved with this change, https://github.com/dotnet/runtime/pull/52708. You can look at the tests by clicking on the links in the table, and see. But I am going to go ahead and close this since we are no longer seeing the regression.

[2021-07-07 00:24] jeffhandley commented on #802
We are going to move this out to .NET 7 with the intention of grouping this with other Console-related efforts as being discussed in #52374.

[2021-07-07 00:25] wfurt commented on #55193
I understand but I was not able to reproduce it. I assume it works if you use the `localhost`? Perhaps you can create simple repro with both client & server and cert from file?

[2021-07-07 00:33] xtqqczze commented on #55234
If such an API is not implemented, I guess this works:

[code]

[2021-07-07 00:37] wfurt opened #55242 "QUIC: AcceptStream_ConnectionAborted_ByClient_Throw is failing randomly"
This is one of disabled tests mentioned in #49157.
The test is pretty simple as it closed since with particular error and it expects peer to see it.
Note that the `RunClientServer` has synchronization so the connection should not be touched/Disposed until both test sides are done.

[code]

In good case the event sequence is:
[code]
for the failure we get SHUTDOWN_INITIATED_BY_TRANSPORT instead:
[c

[2021-07-07 00:42] rmencia-isv commented on #55214
I created this item because me and my team we have experienced this a number of times.
The first thing that comes to our heads is, something went wrong, the debugger/VS has failed again, restart the application or even VS. Even when we realised that it was happening consistently but nothing was broken, we just wasted some time trying to figure out what was happening. More junior guys kept asking t

[2021-07-07 00:45] JamesNK commented on #55193
Repo is in https://github.com/dotnet/aspnetcore/pull/34104

Test: `Listen_Http3AndSocketsCoexistOnSameEndpoint_ClientSuccess`. The `CallHttp3AndHttp1EndpointsAsync` method specifically. HTTP/3 call works without a callback, while HTTP/1.1 call requires it.

[2021-07-07 00:50] lewing commented on #55214
@rmencia-isv the tricky part here is passing the flags down to the wasm debugger, we are working on it.

[2021-07-07 00:50] jeffhandley commented on #45023
@terrajobst / @stephentoub - Did anything end up surfacing from the Libraries perspective on this that still needs to be addressed, or can this be closed?

[2021-07-07 00:51] stephentoub commented on #45023
Nothing beyond what I already did has surfaced as being needed.  As planned, we'll deal with additional clearing needs as one-offs as feedback dictates.

[2021-07-07 00:51] #45023 closed

[2021-07-07 00:52] tannergooding commented on #12984
We also have https://github.com/dotnet/runtime/issues/12212 and https://github.com/dotnet/runtime/issues/11260 as related issues.

IIRC, most of these issues were root caused to https://github.com/dotnet/runtime/issues/6358. That is, to allow the register allocator to set multiple operands as "optional" for the cases where the instruction is either commutative (e.g. `Add`, `Multiply`, etc) or wher

[2021-07-07 00:59] jeffhandley commented on #43971
Throughout .NET 6, we've seen less evidence that we need to have an analyzer warning about this. Our rules for this scenario have continued to be refined, and we have intentionally opened up some scenarios where nested APIs _can_ expand the parent set of platforms--particularly when dealing with cross-platform/platform-neutral libraries.

As a result, I'm going to close this issue; we can revisit

[2021-07-07 00:59] #43971 closed

[2021-07-07 01:01] jeffhandley commented on #44914
I'm closing this based on the original scope. We can file new issues to further improve this experience if needed.

[2021-07-07 01:01] #44914 closed

[2021-07-07 01:02] jeffhandley commented on #44318
We won't get to this during .NET 6; moving to .NET 7.

[2021-07-07 01:11] nibanks commented on #55242
Just from the issue description, it seems like you are racing the shutdown with something. If you sometimes get app shutdown and sometimes transport shutdown that means you are likely shutting down right around handshake complete.

[2021-07-07 01:19] ufcpp commented on #55204
@svick
I'm not sure whether docs or runtime is wrong. Maybe .NET Core 3.1 or earlier uses "Derived Property: Lowercase", but docs says "following in UnicodeCategory".

[2021-07-07 01:21] wfurt commented on #55242
I assume the handshake complete is the `CONNECTED` event?  And yes, the test will come connection after it is established using CloseAsync e.g. `ShutdownAsync(QUIC_CONNECTION_SHUTDOWN_FLAGS.NONE, errorCode)` .
The question is why the behavior is not predictable?

[2021-07-07 01:24] ufcpp commented on #55204
FYI

Go's IsLower returns false:

[code]

Rust's is_lowercase returns true:

[code]

[The Rust's api document](https://doc.rust-lang.org/std/primitive.char.html#method.is_lowercase) explicitly refers to DerivedCoreProperties, while Go does not.

[2021-07-07 01:26] nibanks commented on #55242
Before I look at logs, would you mind trying the absolute latest (from today)? I actually just made some changes in that area.

[2021-07-07 01:27] ENikS commented on #44713
It looks a lot more reasonable compared to my test. What intrigues me is why getting single attribute takes longer than getting them all. `GetCustomAttributesAll` supposedly allocates an array in addition to an attribute, but it is still faster than `GetCustomAttribute`.

[2021-07-07 01:38] aaronla-ms commented on #48219
@antonfirsov I might be missing something, but this looks a lot like [ServicePointManager.ReusePort](https://docs.microsoft.com/en-us/dotnet/api/system.net.servicepointmanager.reuseport?view=net-5.0). Is there a reason `ServicePointManager.ReusePort=true` isn't already sufficient when using HttpClient?

[2021-07-07 01:39] tarekgh commented on #55204
@ufcpp

.NET Core 3.x didn't use Derived Property but it had the `ª` classified as `Ll` instead `Lo`. run the following code on 3.1 and 5.0 and you'll see the difference.

[code]

[2021-07-07 01:50] wfurt commented on #55242
looks promising @nibanks. I did ~ 300 test iterations and I did not see any failure.

[2021-07-07 01:53] wfurt commented on #48219
`HttpClient` does not use `ServicePointManager` @aaronla-ms. The whole strategy changes and .NET Core does not depend or use single global setting and `ServicePointManager` is obsolete.

[2021-07-07 01:55] kunalspathak commented on #12984
There might be better way to do this, but one of the method that I can think of is `NodesAreEquivalentLeaves()`:

https://github.com/dotnet/runtime/blob/d4b98b91d042513917b964cf78a65bd937ead3e8/src/coreclr/jit/lower.cpp#L6257

[2021-07-07 01:58] echesakovMSFT commented on #9989
I am going to move this to Future.

[2021-07-07 01:59] kunalspathak commented on #52312
#52708 did improve many benchmarks and that does not mean it fixed the problem that caused the regression in this issue. We should understand what caused the regression in first place because it might be still present, but just that it got covered up by the inlining changes.

![image](https://user-images.githubusercontent.com/12488060/124688791-40ddd680-de8c-11eb-9086-ef84e405fc1a.png)

[2021-07-07 02:04] echesakovMSFT commented on #53848
Closing and this one seems to be one off failure.

[2021-07-07 02:04] #53848 closed

[2021-07-07 02:24] tarekgh commented on #54802
Thanks @Clockwork-Muse and @KalleOlaviNiemitalo for guiding @John0King through the issues.

The proposal as it is not the best to go with:

- If you want to have a time zone object fly through the async calls/threads, you can define your own asynclocal object and store the time zone object and handle the date/time manually according to that time zone object.
- If asking to have the TimeZoneInfo.Cu

[2021-07-07 02:58] #48851 closed

[2021-07-07 03:11] GrabYourPitchforks commented on #55234
`Collection<T>` already implements `IList<T>`.

[code]

[2021-07-07 03:17] moliveto commented on #55227
@wfurt i can post the good and bad example. but should i send you at your private email because the packet captures contains our authentication credentials.
i will send you a good example with asp.net core 3.1 and the bad example with net 5.0
do you agree?

[2021-07-07 03:23] dotnet-eng-status[bot] opened #55248 "Build failed: Validate-DotNet/main #runtime-96537-.NET6"
Build [#runtime-96537-.NET6](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1222875) partiallySucceeded

## :warning: : internal / Validate-DotNet partiallySucceeded

### Summary
**Finished** - Wed, 07 Jul 2021 03:23:02 GMT
**Duration** - 255 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :x: - [[Log]](https

[2021-07-07 03:23] dotnet-eng-status[bot] opened #55250 "Build failed: Validate-DotNet/main #runtime-96537-.NET6"
Build [#runtime-96537-.NET6](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1222875) partiallySucceeded

## :warning: : internal / Validate-DotNet partiallySucceeded

### Summary
**Finished** - Wed, 07 Jul 2021 03:23:02 GMT
**Duration** - 255 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :x: - [[Log]](https

[2021-07-07 03:34] Maoni0 commented on #55126
memory load means what's loaded in the physical memory. the test allocates ~1 mb object each time but it doesn't touch most of it so the memory load basically doesn't change. @gewarren could we please clarify this in the [doc](https://docs.microsoft.com/en-us/dotnet/api/system.gcmemoryinfo.memoryloadbytes?view=net-5.0#system-gcmemoryinfo-memoryloadbytes)?.

if you actually touch the pages of the o

[2021-07-07 03:48] JamesNK opened #55249 "HTTP/3: InvalidOperationException with many streams on a connection"
I have a test that:

1. Client is starting a QUIC connection. The server accepts it.
2. Client is starting 101 concurrent bidirectional streams simultaneously on the connection.
3. Each client stream is sending about 20 bytes to the server then finishing.
4. The server is reading the data and then waiting.
5. Once all 101 streams are open and the server has read data from each stream then the serv

[2021-07-07 04:03] JamesNK commented on #55249
More details: This error isn't consistent. With the same test, this similar error was thrown:

[code]

That one looks like it coming from the QuicStream on the server when reading incoming data.

[2021-07-07 04:07] noahfalk commented on #46093
Ideally we could eliminate the error (once we understood it), but if that isn't an option then I agree providing a more descriptive error would be an improvement. Either way I think we'll need to understand what the underlying issue is to know our options.

[2021-07-07 04:18] JamesNK commented on #55249
Repo is in https://github.com/dotnet/aspnetcore/pull/34075. Test is called `StreamPool_ManyConcurrentStreams_StreamPoolFull`.

Remove the `Task.Delay` to get bad behavior:
[code]

[2021-07-07 04:26] kouvel commented on #55169
Yes by default global mutexes can be locked by any user on Windows and Unixes.

[2021-07-07 04:36] #52614 closed

[2021-07-07 04:51] archanox commented on #36748
It looks like the support has been merged in upstream now.

[2021-07-07 05:01] alexrp commented on #36748
Just noticed this issue and wanted to clarify something:

For the record, "supports" is an overstatement here. IIRC, you can just barely run 'hello world' with the interpreter, and not much more. The JIT backend for RISC-V is like 10% done at most. There's a lot of work to be done for Mono's RISC-V support to actually be usable.

[2021-07-07 05:34] wfurt commented on #55227
sure, you can sue my GH email. In theory no one can decrypt the application data without the private key.

[2021-07-07 05:56] alexaka1 commented on #55194
@bartonjs I am trying to validate XAdES signatures in XML files. I already use SignedXML for signing such documents with ECDSA keys. The `SigningKey` property has no trouble accepting an `ECDsa` object. The only extra thing I had to do is register a [`System.Security.Cryptography.SignatureDescription`](https://github.com/dotnet/runtime/issues/36103#issuecomment-631039599).
Also I just need to put

[2021-07-07 06:16] jaredpar commented on #55250
Weird. Wonder why I'm having issues transfering at the moment. Thanks for checking!

[2021-07-07 06:16] #55250 closed

[2021-07-07 06:27] VincentBu commented on #53329
Failed again in [runtime 20210706.106](https://dev.azure.com/dnceng/public/_build/results?buildId=1223228&view=ms.vss-test-web.build-test-results-tab&runId=36450372&resultId=102856&paneView=debug)
Failed tests
[code]
**One of error messages**
[code]

[2021-07-07 06:41] VincentBu opened #55251 "Test Failure System.ComponentModel.TypeConverterTests.SizeConverterTests.ConvertToInvariantString(width: 0, height: 0)"
Run：[runtime 20210706.106](https://dev.azure.com/dnceng/public/_build/results?buildId=1223228&view=ms.vss-test-web.build-test-results-tab&runId=36449882&resultId=111292&paneView=debug)

Failed test :
[code]
**Error message:**
[code]

[2021-07-07 06:47] wsq003 commented on #49044
#52558 may significantly relief this threadpool starvation issue.

[2021-07-07 06:57] VincentBu opened #55252 "Test failure:System.Linq.Tests.LifecycleTests.UnaryOperations_SourceEnumeratorDisposed"
Run: [runtime 20210706.106](https://dev.azure.com/dnceng/public/_build/results?buildId=1223228&view=ms.vss-test-web.build-test-results-tab&runId=36449836&resultId=145128&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-07-07 06:57] ccifuentesfer commented on #2021
Hello,
We need to move to arm32 some of our IoT code, currently seems that the only option is going back to C :/
Is there any update on this issue? And also, is there any preview version we can use to test?

Best regards,

[2021-07-07 07:24] VincentBu opened #55253 "Test Failure:Microsoft.Extensions.Logging.Generators.Tests.LoggerMessageGeneratorEmitterTests.TestBaseline_TestWithTwoParams_Success"
Run [runtime-coreclr libraries-jitstress 20210706.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1221394&view=ms.vss-test-web.build-test-results-tab&runId=36396784&resultId=102882&paneView=debug)

Failed tests:
[code]
**One of error messages**
[code]

[2021-07-07 09:03] raoyang opened #55254 "huge vm usage in docker when program crash can't dump."
I use dotnet core 3.1 in docker, memory limit 8G.  config environment COMPlus_DbgEnableMiniDump=1 to collect dump file when program crash.
the program uses less than 100MB of memory, but virtual memory usage is always near 60GB. After about an hour later, the docker container uses memory approaching limit and program been killed by container.
I have noticed the same question in issue:https://githu

[2021-07-07 09:30] #47767 closed

[2021-07-07 09:38] vitek-karas commented on #54645
While I agree that the final piece of code which writes this info into `.deps.json` can be owned by the runtime (although in the last several years we were not the owners of this), I think the primary problem is in defining the desired behavior. Which is in my mind solely an SDK thing. The SDK needs to define what is the right way to declare RID specific assets in cases others then `PackageReferen

[2021-07-07 09:49] Junjun-zhao opened #55255 "[6.0.100-preview.7.21356.4] Access violation error in OrchardCMS"
**Application**: OrchardCMS
**OS**: Windows 10 RS5
**CPU:** X64
**.NET Build Number**: 6.0.100-preview.7.21356.4

**Verify Scenarios:**
1) Windows 10 RS5 X64 + dotnet-sdk-3.1.406   PASS
2) Windows 10 RS5 X64 + dotnet-sdk-5.0.200   PASS
3) Windows 10 RS5 X64 + 6.0.100-preview.6.21351.1 PASS
4) Windows 10 RS5 X64 +6.0.100-preview.7.21356.4: Fail

**App & Dump file checking at** : https://devdiv.visu

[2021-07-07 11:24] adamsitnik commented on #53182
@sba923 please excuse me to bother you again. It turned out that unlocking the file would work fine for CIFS (which returns a nice error when the write fails) but not for NFS which reports a successful write which actually does not write anything to disk and because of that I can't use the "unlock on failure" approach.

My current best idea is to use `fstatfs()` sys-call and just don't lock the fi

[2021-07-07 11:28] huoyaoyuan commented on #55239
There's no boxing in `Nullable`. It's mostly branching.

Your handrolled code does simulate `Nullable<Decimal>`, however `Nullable<Decimal>` is larger in size, thus results in slightly worse performance.

[2021-07-07 11:29] huoyaoyuan commented on #55239
https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIGYACMhgYQYG8aHunGATGGACW+bABsGAWXIAKAcNETsASgYBeAHwNsDANQNyAbi496DeSPEB+KaTmDLYmyvVad+ozQC+QA

The asm shows that the most difference is moving values around the stack and registers. Maybe there's some space to optimize though.

[2021-07-07 11:31] huoyaoyuan commented on #55234
He should be meaning the `IList<T>` passed in constructor, which is invoked by `Collection<T>`, and doesn't invoke `Collection<T>.SetItem` etc.

[2021-07-07 11:48] John0King commented on #54802
I did a small research on other languages, like  Java and PHP and python ,
They both allow set the default Timezone .

The current non settable  `TimeZoneInfo.Local`    will have problem is your OS in other Timezone that you do not want.
But with the `TimeZoneInfo.Current` proposal ， we can keep it non-settable  property, and use this new property instead.

And ,  Yes , I can use my own  `AsyncLoc

[2021-07-07 12:15] ManickaP commented on #55093
Could you collect IIS logs with protocol version: https://docs.microsoft.com/en-us/iis/get-started/whats-new-in-iis-10/http2-on-iis#logging-protocol-version

[2021-07-07 12:18] ManickaP commented on #55237
Triage: Seems reasonable, we should do it.

[2021-07-07 12:35] 0x5b25 opened #55259 "Build script terminated unexpectedly"
### Description
The python installation detection method in `src/coreclr/build-runtime.cmd` line 387 might cause batch file to stop unexpectedly without any error., which causes build steps not fully executed and build.cmd falsely reports successful build.

[code]
I installed chromium depot_tools, added to path, and above code in build-runtime.cmd will terminate batch execution silently after find

[2021-07-07 12:39] gasridha commented on #48342
I have a similar deadlock issue intermittently in a Azure Webjob process - during shutdown,  Finalizer is blocked on System_Private_CoreLib!System.Diagnostics.Tracing.EtwEventProvider.System.Diagnostics.Tracing.IEventProvider.EventUnregister, which seems to be waiting on another thread that's waiting on the finalizer itself. Its using .Net core 3.1. Is there any workaround to fix the issue (other

[2021-07-07 12:40] gasridha commented on #48342
@sywhang  I have a similar deadlock issue intermittently in a Azure Webjob process - during shutdown, Finalizer is blocked on System_Private_CoreLib!System.Diagnostics.Tracing.EtwEventProvider.System.Diagnostics.Tracing.IEventProvider.EventUnregister, which seems to be waiting on another thread that's waiting on the finalizer itself. Its using .Net core 3.1. Is there any workaround to fix the issu

[2021-07-07 12:56] #54835 closed

[2021-07-07 12:58] SamMonoRT commented on #50864
@fanyang-mono  - another of the Android failures

[2021-07-07 13:00] mthalman commented on #2021
@ccifuentesfer - Which version of .NET are you wanting? It's available in the latest servicing release of 5.0.

@rbhanda - Can we get download links for Arm Alpine added to the [release notes](https://github.com/dotnet/core/blob/main/release-notes/5.0/5.0.7/5.0.7.md#downloads) going forward?

@janvorli - Can this issue be closed?

[2021-07-07 13:02] SamMonoRT commented on #55072
This issue can be closed as this is test code only. @fb33 - please close if this satisfies the current requirements.

[2021-07-07 13:09] mcallaghan-geotab commented on #49377
@GrabYourPitchforks -

What about `<PackageReference Include="Microsoft.AspNetCore.Http.Abstractions" Version="2.2.0" />`
https://www.nuget.org/packages/Microsoft.AspNetCore.Http.Abstractions/ ?

It has not been updated since 2018, and still only depends on an insecure version of `System.Text.Encodings.Web`
[code]

Even after attempting to force our project configuration to use the latest version,

[2021-07-07 13:10] precision-sean commented on #715
It's a challenging problem. Rcollette's comment about Windows Forms is well-taken.

What bothers me most about this is the lack of clarity and feeling a bit burned by following Microsoft's recommendations.

From [Writing a Transactional Application](https://docs.microsoft.com/en-us/dotnet/framework/data/transactions/writing-a-transactional-application):
"You can utilize the explicit programming mo

[2021-07-07 13:23] ManickaP opened #55261 "H/2 stress many failure in content posting methods"
Reproduces in and out of Docker. Started happening between 6.0 Preview 4 and **6.0 Preview 6** (on 4 it ran, on 6 started failing) - tested locally.
Error:
[code]

Potentially kestrel error, cc: @JamesNK @Tratcher @halter73

Discovered in https://github.com/dotnet/runtime/pull/55098

[2021-07-07 13:23] AnthonyMastrean commented on #49726
A related issue #54274 discusses adding some of the same state tracking I was thinking about.

[2021-07-07 13:34] ManickaP commented on #55261
Some more digging:
kestrel log:
[code]

Happens with slow content sending operation much more:
NO cancellation:
[code]
Cancellation:
[code]

[2021-07-07 13:35] joshudson commented on #55239
Correct. We discovered this while removing some boxed decimals where nulls could happen so we couldn't easily change directly to `decimal`.

[2021-07-07 13:36] stephentoub commented on #55251
This looks like a dup of https://github.com/dotnet/runtime/issues/54941

[2021-07-07 13:36] stephentoub commented on #55252
This looks like a dup of https://github.com/dotnet/runtime/issues/54941

[2021-07-07 13:47] mangod9 commented on #51206
given this is win7 only moving to .net 7. If this is blocking a core scenario we could investigate sooner.

[2021-07-07 14:01] ajithvallabai opened #55269 "Facing System platform not support for Excel Interop in mac .Net core"
Hi ,
I created a  .Net core console project in Mac machine.
I tried to open a excel sheet(perform basic automation in excel) with Microsoft.Office.Interop.Excel; from COM object but i am facing below error

I am getting same error  while opening  Powerpoint, Word and for Outlook
![image](https://user-images.githubusercontent.com/8075112/124772352-93d18f80-df59-11eb-93dc-e17b00f871ef.png)

In accor

[2021-07-07 14:09] archanox commented on #36748
You're definitely right @alexrp.
I've been trying to build mono on my RISC-V hardware for a little while now with no success.
I've noticed that there is a bit of a to do list here mono:mono/docs/riscv.md

If I can get it to build, I'd be very keen to contribute to getting the mono support working, which if I understand correctly is the first step in getting .net vanilla support?

[2021-07-07 14:30] ManickaP commented on #52145
Windows version check fixed with #54488

Note that S.N.Quic is PNSE on anything non Win/Linux/OSX, e.g. wasm. Thanks to code analyzers you get compilation errors when trying to reference and use S.N.Quic on those platforms.

[2021-07-07 14:30] #52145 closed

[2021-07-07 14:52] danielleiszen commented on #51178
[Sorry about posting here. I know its off topic and sure its not the responsibility of the dotnet team to develop these things, but I could not find a better topic for my comment]

Apache Airflow is available on the Azure platform for more than 2 yrs now. So it sounds MS supports this technology in some way. However I am quite shocked not finding any .NET client for it. Is there any known roadmap

[2021-07-07 15:15] mateoatr commented on #55253
The failure is also present in win10 amd64 (net6.0-windows-Release-x64-CoreCLR_checked-tailcallstress-Windows.10.Amd64.Open).

[2021-07-07 15:25] #47374 closed

[2021-07-07 15:25] #51346 closed

[2021-07-07 15:26] SamMonoRT commented on #53740
These issues are created after investigating. More to come :
1. https://github.com/dotnet/runtime/issues/54850
2. https://github.com/dotnet/runtime/issues/54849

[2021-07-07 15:32] Umqra opened #55270 "DataContractJsonSerializer can't serialize contract with ExtensionDataObject"
### Description

If you use `DataContractJsonSerializer` with `ExtensionDataObject` and try to serialize data when extension data contains a nested complex object with the single property then the serializer throws an exception because the deserializer incorrectly decides that property of a nested object has the type of array but this assumption breaks serializer invariants.

Consider the followin

[2021-07-07 15:38] mateoatr opened #55271 "System.Net.NameResolution.Functional.Tests failing on SLES"
[runtime 20210706.106](https://dev.azure.com/dnceng/public/_build/results?buildId=1223228&view=results)

System.Net.NameResolution.Functional.Tests

First batch (disabled in PR #55446 on 7/10):
  - GetHostByNameTest.DnsObsoleteBeginEndGetHostByName_EmptyString_ReturnsHostName
  - GetHostByNameTest.DnsObsoleteGetHostByName_EmptyString_ReturnsHostName
  - GetHostEntryTest.Dns_GetHostEntry_HostString

[2021-07-07 15:58] tmat commented on #54633
How about `ReloadOnMetadataUpdate`?

[2021-07-07 16:04] vitek-karas opened #55274 "Unify RequiresUnreferencedCode and RequiresAssemblyFiles attributes"
## Background and Motivation

Currently the shape of these attributes is like:

[code]

The two attributes are very similar in their usage, they annotate a certain method as problematic when used with trimming or single-file respectively. But their usage is different:

[code]

The first attribute makes the `Message` mandatory since it's a constructor parameter which can't be omitted. The second at

[2021-07-07 16:04] huoyaoyuan commented on #55269
Nothing has changed for COM. It's still Windows only. It's hard to port to other OS because it relies on the OS to do much of work.

[2021-07-07 16:05] vitek-karas commented on #55274
@tlakollo @eerhardt @agocke @sbomer

[2021-07-07 16:09] tarekgh commented on #54802
Every platform can handle date/time and time zone differently. In .NET it is not a goal we try to mimic other platforms or languages. We need to think about the scenario need to be supported and how we can support it.

I am not sure what you mean by unify here. time zone handling in .NET is already unified and used consistently.

.NET provide the flexibility to format and parse the date and time i

[2021-07-07 16:10] Clockwork-Muse commented on #54802
Despite what you might think, this actually causes problems.  More specifically, since the property is mutable, those same libraries/frameworks/modules **will* set it, and potentially not **reset** it, leading to some rather unwanted behavior.

DST isn't relevant here, this is strictly a multiple timezone question.

Unfortunately, despite my own personal dislike of DST/Timezones, that's not the wo

[2021-07-07 16:11] tarekgh commented on #54802
CC @mattjohnsonpint

[2021-07-07 16:13] aaronla-ms commented on #48219
@wfurt Thanks for clarifying, that certainly clears up the issue.

I filled a doc bug for the potentially misleading netcore/net5.0+ documentation.

[2021-07-07 16:16] ajithvallabai commented on #55269
@huoyaoyuan  do you know any 3d party library for office automations or excel automations without licensing/purchase in Mac  ?

[2021-07-07 16:20] huoyaoyuan commented on #55269
I don't know. Anyway, there is nothing to do with .NET now.

[2021-07-07 16:29] jonathanpeppers opened #55277 "RuntimeConfigParserTask fails in .NET framework MSBuild"
### Description

This would fail inside VS Windows, but you can repro by doing:

* `dotnet new android`
* `"C:\Program Files\Microsoft Visual Studio\2022\Preview\MSBuild\Current\Bin\MSBuild.exe" -restore`
or
* `"C:\Program Files (x86)\Microsoft Visual Studio\2019\Preview\MSBuild\Current\Bin\MSBuild.exe" -restore`

Fails with:
[code]

This works fine if you use `dotnet build` instead of using .NET

[2021-07-07 16:30] ajithvallabai commented on #55269
okay thanks i will close the issue

[2021-07-07 16:30] #55269 closed

[2021-07-07 16:38] Keerthi-Mettu commented on #55093
[past 2 days log files.zip](https://github.com/dotnet/runtime/files/6778790/past.2.days.log.files.zip)

I added the log files for both my local IIS and remote system IIS (recently enabled protocol version logging in this) in separate folders for the last 2 days.

[2021-07-07 16:40] washingleavesandthensome23-434 commented on #54967
its ok i kinda taken care off it , issue can be closed thanks

[2021-07-07 16:40] BrzVlad commented on #54559
Re-enabled the test

[2021-07-07 16:40] #54559 closed

[2021-07-07 16:41] #54967 closed

[2021-07-07 16:43] wfurt commented on #55237
Seems like this this is platform OS error `SEC_E_ALGORITHM_MISMATCH`
That looks windows specific. So as ability to disable protocol version.
On Linux one can possibly disable all TLS1.3 algorithms.

I'm wondering if we can add new status code and handle the differences in msquic pal @nibanks?

[2021-07-07 16:54] Keerthi-Mettu commented on #55093
Thank you for asking the log files.

From my understanding through these logs, I see that my remote IIS server is on version 8.5, and it is supporting the non-prerendering Grpc solution via HTTP 1.1 protocol but not the prerendering solution. Now I know that IIS 8.5 doesn't support H2 protocol (stated in the same link you sent), I just need to know why is the prerendering Grpc is not at all workin

[2021-07-07 16:55] ViktorHofer opened #55281 "Infrastructure - Rollout (July 2021)"
# Overview

We use this issue to announce planned Infrastructure changes that will impact the developer workflow in `dotnet/runtime`. Changes will be merged on **TBD**.

| Change |  Impact | Assignee |
| --- | --- | --- |
| https://github.com/dotnet/runtime/issues/55281 | Update the minimum and target version of the SDK to 6.0 Preview 5. | @Anipik |

## Archive
- [June 2021](https://github.com/dot

[2021-07-07 16:56] ManickaP commented on #55093
Yep, it's 1.1:
[code]

You have to make sure you're using H/2. This might be misconfigured IIS. I recommend checking https://docs.microsoft.com/en-us/iis/get-started/whats-new-in-iis-10/http2-on-iis#iis-with-http2-demo-walkthrough and further on that page.

I'm trying to help as much as possible but IIS is out of scope of this repo and my knowledge so I cannot give you easy, precise solution to yo

[2021-07-07 17:00] bartonjs commented on #55194
It looks like:

* NET Framework's version does try all three
* GetECDsaPublicKey is part of .NET Standard 2.0, so no problems adding that one
* We recently split the compilation of this assembly as part of unifying how we build our NuGet packages, so we can add the DSA call in the .NET (nee Core) specific line.

So adding those calls is a reasonable compat thing to do.

[2021-07-07 17:01] #29932 closed

[2021-07-07 17:05] adamsitnik commented on #23196
@fabio-muramatsu thank you!

[2021-07-07 17:05] #23196 closed

[2021-07-07 17:12] jeffhandley commented on #47239
We are moving this out to .NET 7 as we haven't been able to get to it yet during .NET 6.

[2021-07-07 17:13] BruceForstall commented on #55251
Although interestingly, here there is no stress involved.

[2021-07-07 17:15] BruceForstall commented on #55253
@jakobbotsch this is apparently a new failure only in tailcallstress mode

[2021-07-07 17:24] jeffhandley commented on #44513
Moving this issue to .NET 7. We will consider this as part of a potential effort for a System.Console redesign as described in #52374.

[2021-07-07 18:00] safern commented on #55251
Which area should we assign to this issue, this doesn't look like a ComponentModel issue?

[2021-07-07 18:02] safern commented on #55277
@steveisok this looks more like mono infra, rather than libraries infra?

[2021-07-07 18:06] terrajobst commented on #45023
Makes sense. Thanks!

[2021-07-07 18:08] BruceForstall commented on #54941
@jkotas any ideas here?

[2021-07-07 18:09] vcsjones commented on #55194
@bartonjs I can pick this one up for 6.0.

[2021-07-07 18:20] jkotas commented on #54941
My guess is that this is regression introduced by https://github.com/dotnet/runtime/pull/54588 . This PR was merged 9 days ago and this issue was opened 8 days ago.

@davidwrighton Could you please take a look?

[2021-07-07 18:20] CarnaViire commented on #55103
But if I understand correctly, changing to `DangerousAddRef` counting wouldn't free you from holding the link - because you would need to call `DangerousRelease` in the end...

[2021-07-07 18:38] AndyAyersMS commented on #51587
Seems like we should now have the extended default policy override `DefaultPolicy::BudgetCheck` and allow force inlines with (sufficient) foldable opportunities.

One way to model this is to try and guestimate the effective IL size up front, and just use that for the existing budget check: assume each foldable reduces the amount of IL by some fixed heuristic fraction f. Then if there are N foldabl

[2021-07-07 18:39] eerhardt commented on #55274
Looking across our code base, I only see 2 places that don't set a message, and they are both in a class that derives from Assembly.

https://github.com/dotnet/runtime/blob/fcd12b86629c1ff6ea1ecff54645f39c442e764c/src/libraries/System.Reflection.Context/src/System/Reflection/Context/Delegation/DelegatingAssembly.cs#L76-L79

https://github.com/dotnet/runtime/blob/fcd12b86629c1ff6ea1ecff54645f39c442

[2021-07-07 18:39] jkoritzinsky commented on #42873
I just tested the repro locally against main and the "Internal CLR error" text no longer appears.

[2021-07-07 18:39] #42873 closed

[2021-07-07 18:45] tlakollo commented on #55274
Explaining the original api review, the premise was that we prefer having a url over having a message. If we have a good url that explains in detail then we don't need the message therefore it was optional. But since url is not always available that was also optional.

[2021-07-07 18:50] kunalspathak opened #55289 "Weight of RefTypeExpUse Refpositions"
When calculating the weight of a refPosition, we get it from the associated `LclVarDsc`'s `lvRefCntWtd`, only if the refposition has a treeNode associated with it. If there is no treenode associated with the refposition, [we just assign the block's weight](https://github.com/dotnet/runtime/blob/847cc5645dbe1644f76d72009893a6a86a4e0405/src/coreclr/jit/lsra.cpp#L226-L230).

For `RefTypeExpUse` RefPo

[2021-07-07 18:50] kunalspathak commented on #55289
@dotnet/jit-contrib

[2021-07-07 18:54] #47735 closed

[2021-07-07 19:00] #53875 closed

[2021-07-07 19:00] prezaei opened #55290 "Add short and URL friendly string representation to `System.Guid`"
## Background and Motivation

The shortest form of a string representation of `System.Guid` is 32 characters long (`format = "N"`). Although this is URL friendly, it is not the most concise URL friendly representation of it. From [RFC2396 Section 2.3](https://www.ietf.org/rfc/rfc2396.html#section-2.3), the URL safe characters are:

It would be worthwhile to add support for a new *format specifier*

[2021-07-07 19:01] tlakollo commented on #55274
Although something that wasn't discussed in the original RequiresAssemblyFiles API review was the actual implementation, so far we don't embed any URL information in the `RequiresAssemblyFiles` attribute and instead, we put a [help URL in the analyzer diagnostic descriptor](https://github.com/mono/linker/blob/main/src/ILLink.RoslynAnalyzer/RequiresAssemblyFilesAnalyzer.cs#L56)
The way I see it, I

[2021-07-07 19:03] geoffkizer commented on #55156
@nibanks Basically, the question here is:

(1) Can we call ConnectionShutdown when there are active streams in use. @wfurt is concerned that when we tried to do this in the past, we saw crashes.
(2) If this is okay to do, then what behavior should we expect when we call ConnectionShutdown. E.g. what events will this generate on the open streams and the connection itself, and in what order. Also, i

[2021-07-07 19:03] wfurt commented on #55193
I get it now. The complain is that QICK/H3 work but it should not. I know what the problem is.

[2021-07-07 19:06] geoffkizer commented on #55156
Not sure what you mean here...

We should always be relying on the SafeHandle to manage lifetime of the handle. That's what it's for. Used properly, it should prevent use-after-free issues with the handle.

[2021-07-07 19:09] vitek-karas commented on #55274
I could be persuaded that message should be optional - in which case we should make it optional on `RequiresUnreferencedCode` as well (can be done without breaking anything). My main concern is that the attribute are very similar in function, but the usage of them is at least on the surface very different.

[2021-07-07 19:11] nibanks commented on #55156
You can most definitely call `ConnectionShutdown` at any time on a connection (so long as you haven't called `ConnectionClose` on it) and as many times as you want (calling it again will be silently ignored). All active (not already shutdown) and started (successfully called `StreamStart` for local streams or all remote streams) streams will receive a shutdown complete event. Further/racing calls

[2021-07-07 19:15] geoffkizer commented on #55156
@nibanks Thanks, that's what I expected.

@wfurt Based on this I don't think we need to delay closing the connection. If we are seeing crashes, it's probably related to #55044.

[2021-07-07 19:19] EgorBo commented on #51587
That is exactly what I wanted to try, I just didn't include it in my pr because "run out of budget" didn't pop up in TE benchmarks for me, but still worth doing of course.

Without analysing the IL we can at least count on "NonGeneric calls Generic" and const arg is passed.

[2021-07-07 19:20] leobasilio opened #55368 "Sending Full Client Certificate Chain"
Hi. I need to send a SOAP request to a server, and a client certificate is required for authentication. The client class was automatically generated from a wsdl file. I have a pfx file, which contains the private key and three certificates (client, intermediate CA, root CA). Here's what I'm doing:

[code]

Nothing unusual here, however I keep getting this error:

The same request works fine on Pos

[2021-07-07 19:28] CarnaViire commented on #55156
@nibanks however, is that true that all `StreamClose` should be called before `ConnectionClose`? I believe `StreamClose` called after `ConnectionClose` was the cause of the crashes (or at least one of them).

[2021-07-07 19:30] nibanks commented on #55156
That's correct.

[2021-07-07 19:31] eerhardt commented on #55274
I definitely don't think RequiresUnreferencedCode should be applied without a message. Applying that basically means "you can never use this API in a trimmed or NativeAOT app. And you are on your own for figuring out why and what to use instead".

If we really believe that RequiresAssemblyFiles doesn't need a message because of this, I think that is enough reasoning to explain why the 2 attributes

[2021-07-07 19:44] vitek-karas commented on #55274
I wanted to keep the message setter in the alternative solution basically just so that it doesn't break any existing usage... but we could go with your proposal as well.

[2021-07-07 19:47] jonathanpeppers commented on #38465
Repro here: https://github.com/xamarin/xamarin-android/pull/4927#issuecomment-875876255

[2021-07-07 19:48] CarnaViire commented on #55156
That means that at least `SafeMsQuicConnectionHandle.Dispose` should wait for all streams `SafeMsQuicStreamHandle.Dispose` @geoffkizer. That is currently enforced by stream counting @wfurt did. It *might* be rewritten to `DangerousAddRef` counting but I don't see much value to do it now. Also, to my understanding, just hooking onto connection's final event wouldn't be enough here... final connecti

[2021-07-07 19:50] eerhardt commented on #55274
It's new in net6.0, right? We might as well make it "right" from the start.

Having a ctor parameter and a setter is super confusing:

[code]

[2021-07-07 19:52] jonpryor commented on #38465
Related: https://github.com/xamarin/xamarin-android/pull/4927#issuecomment-875864999

.NET 6 project: https://github.com/xamarin/xamarin-android/files/6779689/Scratch.JMJMException.zip

Unhandled exception handling is broken on .NET 6 when running within VS 2022: instead of getting a first-chance exception, or any form of unhandled exception dialog, apps *crash immediately* if they have an unhandl

[2021-07-07 19:56] fb33 commented on #55072
Thanks for your answers

[2021-07-07 19:56] #55072 closed

[2021-07-07 19:58] GrabYourPitchforks commented on #55290
Your sample has the comment _prints out something like: "abcdefgh123"_. Can you give a concrete example of the type of output you expect? For example, what would be the exact output of `Guid.Parse("7a1e687f-a5a9-47e1-b5ec-fd71abf06303").ToString("U")`?

[2021-07-07 20:08] geoffkizer commented on #55156
Okay, I think I understand the issue now -- thanks all.

In the finalization case, we cannot guarantee the ordering of calls to StreamClose and ConnectionClose -- at least not without a bunch of hassle in our finalization logic.

@nibanks Is it possible for msquic to allow StreamClose after ConnectionClose?

[2021-07-07 20:24] svick commented on #55290
I think you won't be able to do much better than base64-encoding the bytes of the GUID. If you do that, you'll get a 24 character string (22 if you remove padding). And since you can already easily do that today (e.g. `Convert.ToBase64String(guid.ToByteArray())`), it doesn't help that much and any such encoding would be completely non-standard, I don't see much reason to add this directly to `Guid

[2021-07-07 20:27] #45916 closed

[2021-07-07 20:28] Tornhoof commented on #55290
As for Web, Base64Url encoding fits better, there is a nice helper method in ASP.NET Core.
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.webutilities.webencoders.base64urlencode?view=aspnetcore-5.0

[2021-07-07 20:30] CarnaViire opened #55293 "End-to-end Benchmarks for WebSockets"
We currently don't have any end-to-end WebSockets benchmarks, only SignalR one. We want to be able to benchmark WebSockets in itself, for example, to measure and improve performance for the compression feature.

The benchmark can be done in a similar way SignalR is implemented. Both client and server should be added. All metrics are collected and calculated in client code. We would also need a new

[2021-07-07 20:31] SamMonoRT commented on #47279
@naricc - Closing based on comments above, wasn't a regression or if it was, it was fixed.

[2021-07-07 20:31] #47279 closed

[2021-07-07 20:38] sywhang commented on #48342
@gasridha There isn't any workaround. If you're the one starting the ETW session, then you might be able to replace it with other tracing alternatives like `dotnet-trace` as long as you don't need native stacks, but if the session is being started by something else, I don't think there's anything you can do.

Re: backport to 3.1, I'm no longer at .NET team so I can't answer that but @josalem shoul

[2021-07-07 20:38] kondratyev-nv commented on #55293
I can take at least the first scenario if nobody minds 🙂

[2021-07-07 20:48] prezaei commented on #55290
You got it. Effectively, we want to [base64url](https://base64.guru/standards/base64url) encode the `Guid`. Doing this outside of `System.Guid` forces a heap allocation if we use `Guid.ToByteArray()`. The only way around the heap allocation that I can think of is something like this:

[code]

This is messy and given how often we have all seen `Guid`s in URLs of the sites that we visit, it seems li

[2021-07-07 21:03] steveisok commented on #55277
@akoeplinger Can you please look into this?

[2021-07-07 21:04] davidwrighton commented on #54941
Will do. Agreed that this looks related to that work.

[2021-07-07 21:09] GrabYourPitchforks commented on #55290
I don't see much appetite for adding a domain-specific method (base64url encoding) directly on the `Guid` type. Keep in mind also that GUIDs and other identifiers tend to be used as paths in URLs rather than as query string components, and base64 is a case-sensitive encoding. Most real-world applications stick to all-lowercase identifiers for things that appear in paths and do not expect to see mi

[2021-07-07 21:12] kunalspathak commented on #52312
@GrabYourPitchforks - I am assigning this to you for now. Once you have data and you think it is a codegen issue, feel free to assign back to me.

[2021-07-07 21:16] prezaei commented on #55290
@GrabYourPitchforks, totally agree that we might end up with Base45. I would not look at this as a domain specific thing here. The actual problem I am trying to solve right now is to pass shorter correlation id ('x-correlation-id`) headers between some of our Azure products. Today, we use the simple `Guid.ToString("N")`. That wastes bandwidth.

In fact, `Guid.ToString("N")` is significantly used f

[2021-07-07 21:17] GrabYourPitchforks commented on #55234
Sorry - I still don't quite understand. Can you provide a code sample showing what you're trying to do?

[2021-07-07 21:24] nibanks commented on #55156
It's not currently possible and would not be easy to accomplish. Our entire execution model requires the connection as what manages and drives the queue of work for it and all child streams. StreamClose queues work on the connection; without the connection you can't do the work.

[2021-07-07 21:27] geoffkizer commented on #55156
I'm not saying you need to do any work during StreamClose. You can keep the way that connection teardown works today. It's fine if StreamClose after ConnectionClose is basically a no-op.

[2021-07-07 21:32] GrabYourPitchforks commented on #55290
That last response kinda provides evidence for my point that this is domain-specific, no? :) The problem as originally stated is that you wanted something appropriate for placement in URLs; but https://github.com/dotnet/runtime/issues/55290#issuecomment-875939075 shows that you actually want something that's the shortest ASCII computer-readable representation of arbitrary binary data (which doesn'

[2021-07-07 21:32] kronic commented on #54549
@adamsitnik any news?

[2021-07-07 21:42] prezaei commented on #55290
@GrabYourPitchforks, I can certainly do this and in fact have done so. My point is this pattern is pretty common out there. From websites to HTTP headers, to logs, etc. One of the reasons is that frameworks just don't make it available/easy for all devs to use these. Open any of our logs in Kusto/Cosmos and you will be shocked that no-one has taken the time to use a shorter version for a correlati

[2021-07-07 21:42] kouvel commented on #46684
Closing, as these are one-off differences and we can re-baseline on the new numbers

[2021-07-07 21:42] #46684 closed

[2021-07-07 21:42] kouvel commented on #46714
Closing, as these are one-off differences and we can re-baseline on the new numbers

[2021-07-07 21:42] #46714 closed

[2021-07-07 21:44] pranavkm opened #55296 "Latest Microsoft.Extensions.Logging.Abstractions package do not contain source generators"
Found in 6.0.0-preview.7.21352.11. The logging abstractions package is missing the analyzers folder. The bug was likely introduced between these commits: https://github.com/dotnet/runtime/compare/c1e5fcc33e65080c027ca6f7fceebcbd473b4654...e8572d3e5d23e624dac4f3744c745885a6d3addb

[2021-07-07 21:45] eerhardt commented on #55296
cc @Anipik @ViktorHofer @ericstj

[2021-07-07 22:00] jzs11 commented on #715
I am keen to see some progress for this topic.

[2021-07-07 22:07] svick commented on #55290
@prezaei

If you care about saving every byte of bandwidth, why are you using a globally unique identifier? Wouldn't an identifier that's unique just to your application serve you as well, while being much shorter?

On the other hand, [I just googled "guid to short string"](https://www.google.com/search?q=guid+to+short+string) and it seems to be a relatively common problem (with base64 usually bei

[2021-07-07 22:09] kunalspathak commented on #50737
I will have to look into the register allocation issue post .NET 6.

[2021-07-07 22:10] prezaei commented on #55290
@svick, still need something globally unique. This is not for a single application. It will potentially be used by all of Azure if I get my way. HTH

[2021-07-07 22:19] kunalspathak commented on #48609
Not urgent for .NET 6.

[2021-07-07 22:30] nibanks commented on #55156
StreamClose has to clean up stuff, and must execute on our worker thread.

[2021-07-07 22:31] wfurt commented on #55156
We call `ConnectionClose` when the SafeHandle is closed @geoffkizer. So we can call `ConnectionShutdown` to initiate the shutdown but we still need to keep the underlying MsQuic object alive. I guess we should clarify what `close` mean on UDP. There may be just terminology disconnect. The work in #52800 was meant to prevent premature `ConnectionClose`.

[2021-07-07 22:45] moliveto commented on #55227
@wfurt, i just send you an email with a good.cap written on asp.net core 3.1 and a bad.cap written on asp.net core 5.0

[2021-07-07 22:46] GrabYourPitchforks commented on #52312
Using a baseline of https://github.com/dotnet/runtime/commit/1983573fbfde80ace6a2652c7f6b2f5ec4c30f50 and a compare of https://github.com/dotnet/runtime/commit/de591a85fb1ea1da2d60ec34b8f3accc12624486, there's something strange going on with the method prolog [for this function](https://github.com/dotnet/performance/blob/686f552943ccef56e8404ed0a060fcc1e689a2a0/src/benchmarks/micro/libraries/Syste

[2021-07-07 22:55] buyaa-n commented on #43898
@maryamariyan is that meant this issue can be closed? Why did you remove `area-Microsoft.Extensions` if looks should be in that area no in Meta

[2021-07-07 23:01] buyaa-n commented on #45777
It might be by design, even it is not most likely we will not fix this at this point cc @steveharter

[2021-07-07 23:06] moliveto commented on #55227
tcpdump -nnSX port 443 -w bad.cap

bellow is the bad.cap

[bad.zip](https://github.com/dotnet/runtime/files/6780444/bad.zip)

[2021-07-07 23:10] wfurt commented on #55227
You basically running into https://docs.microsoft.com/en-us/dotnet/core/compatibility/cryptography/5.0/default-cipher-suites-for-tls-on-linux

With the good case, client offers bunch of ciphers and server will pick  `Cipher Suite: TLS_RSA_WITH_AES_256_GCM_SHA384 (0x009d)` (packet 6 -> ServerHello)
With 5.0 the default ciphers are limit to what is currently believed to be strong and safe ciphers. T

[2021-07-07 23:11] buyaa-n commented on #53217
cc @jkotas @stephentoub @terrajobst

[2021-07-07 23:15] eerhardt commented on #55255
Debugging this, I'm seeing a `NullReferenceException` in the background due to the following:

![image](https://user-images.githubusercontent.com/8291187/124839576-a397a680-df4e-11eb-9890-5d5f91f1fdda.png)

That is being called by ILEmitResolverBuilder here:

![image](https://user-images.githubusercontent.com/8291187/124839613-b611e000-df4e-11eb-9bf3-e49f6476dab9.png)

in this case `_rootScope` is

[2021-07-07 23:20] geoffkizer opened #55302 "QUIC: We should never catch an exception in event callbacks"
Currently, we have a try/catch around all our msquic callbacks. If we catch an exception, we log it and return MsQuicStatusCodes.InternalError.

We should also assert here and fix any cases in which the assert fires. There should never be a valid reason for an exception to occur here, and if it does, it's quite likely that we are in a bad state.

[2021-07-07 23:42] eerhardt commented on #55255
After fixing the NRE locally, I'm still seeing the app returning 404. I'm not sure why that is, debugging into the asp.net code, I get to the end of the request pipeline here:

![image](https://user-images.githubusercontent.com/8291187/124841494-fd01d480-df52-11eb-90c1-876381553453.png)

But I'm not sure what should have handled the request. This looks like an asp.net bug/breaking change. @davidfo

[2021-07-08 00:04] #43086 closed

[2021-07-08 00:04] #53372 closed

[2021-07-08 00:09] #48219 closed

[2021-07-08 00:12] stephentoub commented on #50527
@tmds, I merged your PR (thanks!) and I'll finish it.

[2021-07-08 00:17] wfurt commented on #55302
One  case I look at recently is for example certificate validation. That can also run user code.  The current code makes validation errors hard to diagnose.
I was thinking about capturing the exception here and throwing on next API call like SslStream does
[code]
That would allow us to propagate errors to the user.

[2021-07-08 00:29] geoffkizer commented on #55302
We shouldn't be running user code on the callback thread.

[2021-07-08 00:51] #54352 closed

[2021-07-08 00:58] jonpryor commented on #38465
Related: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1324713

[2021-07-08 01:03] AndyAyersMS commented on #54118
I think the fix is that to consider an indir tree invariant we must also show that (the right kind of) memory is also invariant in the loop, eg:
[code]

[2021-07-08 01:24] bartonjs commented on #45856
Based on a lack of reports, and a lack of complicated native memory interaction from this specific library, I'm going to close the issue as probably was something transient.

[2021-07-08 01:24] #45856 closed

[2021-07-08 01:26] bartonjs commented on #49827
Given that the conversation has died down, and this is more about the GitHub Actions environment than .NET itself, I'm going to close the issue.

Hopefully all is quiet because things just work nicely in GitHub Actions.  If not, at least we have a workaround (thanks, @vcsjones!)

[2021-07-08 01:26] #49827 closed

[2021-07-08 01:26] HongGit commented on #596
This is by design per MSDN doc on [Microsoft.XmlSerializer.Generator](https://docs.microsoft.com/en-us/dotnet/core/additional-tools/xml-serializer-generator).

[2021-07-08 01:26] #596 closed

[2021-07-08 01:28] bartonjs commented on #47289
@vcsjones I'm assuming nothing interesting came from your investigation?  I'm prepared to close this as some sort of transient runtime bug based on a lack of it coming up recently.

[2021-07-08 01:40] clamp03 commented on #2394
@alpencolt Do you have any progress on this issue? If you cannot handle it, could I take this issue?

[2021-07-08 01:40] AntonLapounov commented on #55307
@mattjohnsonpint @tarekgh @stephentoub
The `GetFileMUIPath(MUI_USE_INSTALLED_LANGUAGES, ...)` call introduced in #52992 leads to AV or native heap corruption and should be avoided.  Potential options here:
* Revert #52992.
* Call `GetFileMUIPath(MUI_USE_SEARCH_ALL_LANGUAGES, ...)` instead.  My understanding is that may start using `tzres.dll.mui` files under the `System32` directory that are prese

[2021-07-08 01:45] vcsjones commented on #47289
@bartonjs Hmmm I recall looking at this but don't have any notes from my dive in to this. I don't think I was ever able to reproduce it.

Since CI exercises the code way more often than I can, despite my best efforts to hoard computers, I would say I would not have any better luck reproducing it.

[2021-07-08 01:51] tarekgh commented on #55307
@AntonLapounov

Do you have more info why this causing heap corruption? I can look at that later but curious if you already did any investigation.

[2021-07-08 01:53] John0King commented on #54802
The `CultureInfo.CurrentCulture` is  mutable too , and it also effect parsing/displaying/Calendar etc.   It'll be the same as `TimeZoneInfo.Current`.

base on context,  I'm saying  to store (to db or elsewhere) the time ,  we should store a time point , for example :
a) unix ms tick
b)  Utc DateTime
c) DateTimeOffset
d) GMT string

if not consider about the DST and `DateTime` ,  and only think abo

[2021-07-08 01:59] AntonLapounov commented on #55307
@tarekgh I have sent you OS bug number on email.

[2021-07-08 02:57] CuteLeon commented on #47460
Met this issue https://github.com/dotnet/aspnetcore/issues/33634 when upgrading https://github.com/cuteleon/hacksystem from .Net 6 Preview 1 to .Net 6 Preview 5

[2021-07-08 03:20] Xaeco commented on #46678
Still waiting on my pull request to be reviewed. No further progress.

[2021-07-08 03:23] geoffkizer opened #55310 "[HTTP/3] QPACK: Need better exception message for non-ASCII values"
See QPackEncoder.EncodeValueStringPart, here:
https://github.com/dotnet/runtime/blob/main/src/libraries/Common/src/System/Net/Http/aspnetcore/Http3/QPack/QPackEncoder.cs#L320

The current error message is "ASCII header value." That's not an actual sentence.

[2021-07-08 03:44] vadmyst opened #55311 "Stopwatch Start/Restart/Stop incorrect ElapsedTicks value (.net 5)"
I'm trying to measure execution time of a method that performs wait with SpinWait.SpinOnce() and encountered  some counterintuitive results. I'm using .net 5, both on Windows and Linux.

My sample code below contains two Stopwatch class instances: one inside a method with SpinWait to measure how much SpinWait.SpinOnce() spinning is left and the other to measure total time elapsed of the wait.

Cod

[2021-07-08 03:44] imhameed commented on #54849
I wrote a toy implementation of an intrinsic that allows some type equality comparisons to be evaluated during AOT compilation here: https://github.com/imhameed/runtime/commit/4d747b09caa595bed2d37ae41aac7b8a9b54c527#diff-ce66e94ce2cdb8e54003a124a4057ce5d5dc5325ad32c9601a4662f8fa39367aR1808

I've disabled partial generic sharing in this exploratory branch to get genuinely monomorphic instantiation

[2021-07-08 03:59] jkotas commented on #55311
This line has a bug. `sw.ElapsedTicks` returns cumulative time since the Stopwatch was started, but you are using it as if it was time since ElapsedTicks  was called last time.

[2021-07-08 04:13] vadmyst commented on #55311
Yes, issue was with time accumulation. Thanks for catching that.
After changing to
[code]

I got proper output:
[code]

[2021-07-08 04:13] #55311 closed

[2021-07-08 04:15] AndyAyersMS commented on #54118
The change above (which is in `IsTreeVNInvariant`) fixes the 3 cases here and has just one SPMI diff.
[code]

[2021-07-08 04:16] terrajobst commented on #54633
We agreed over email to `CreateNewOnMetadataUpdateAttribute`

[2021-07-08 05:07] #55044 closed

[2021-07-08 05:14] bartonjs commented on #47289
Closing based on it seeming to have ceased happening.

[2021-07-08 05:14] #47289 closed

[2021-07-08 05:36] hoyosjs opened #55312 "Unable to connect to the remote server error blocking clean CI"
Looks like the 404's for the dotnet install are hitting us hard again in cases like: https://dev.azure.com/dnceng/public/_build/results?buildId=1225947&view=logs&jobId=9d8498d2-c5b7-54d8-6df7-a2ce7e14e68c&j=9d8498d2-c5b7-54d8-6df7-a2ce7e14e68c&t=f4223f25-7504-501d-83bc-e56a3511e7c5, except this doesn't look like the one we've tracked so far.

Runfo Tracking Issue: [Unable to connect to the remote

[2021-07-08 05:52] Clockwork-Muse commented on #54802
... [and that causes problems](https://stackoverflow.com/q/18845898/812837) (which is why I personally dislike implicit context state like this).

well, the reality is that your app/api is buggy.

The short observation here is that you have a "local" (as in, specific to you) problem in your solution space, but your proposal is asking for changes in global space.  Would it make your program easier?

[2021-07-08 06:01] #55296 closed

[2021-07-08 06:06] VincentBu commented on #54941
Failed again in [runtime 20210707.124](https://dev.azure.com/dnceng/public/_build/results?buildId=1225692&view=ms.vss-test-web.build-test-results-tab&runId=36527234&resultId=143598&paneView=debug)
Failed test:
[code]
**Error message**
[code]

[2021-07-08 06:14] VincentBu opened #55313 "Test failure:System.Diagnostics.Metrics.Tests.MetricEventSourceTests.EventSourceFiltersInstruments"
Run: [runtime 20210707.124](https://dev.azure.com/dnceng/public/_build/results?buildId=1225692&view=ms.vss-test-web.build-test-results-tab&runId=36531372&resultId=123408&paneView=debug)
Failed test:
[code]
**Error message**
[code]

[2021-07-08 06:20] VincentBu opened #55315 "Test failure:System.Diagnostics.Metrics.Tests.MetricEventSourceTests.EventSourcePublishesTimeSeriesWithMetadata"
Run: [runtime 20210707.124](https://dev.azure.com/dnceng/public/_build/results?buildId=1225692&view=ms.vss-test-web.build-test-results-tab&runId=36531372&resultId=123413&paneView=debug)
Failed test:
[code]
**Error message**
[code]

[2021-07-08 06:40] #54633 closed

[2021-07-08 06:41] VincentBu opened #55317 "Test Failure:System.Net.Sockets.Tests.TelemetryTest.EventSource_SocketConnectFailure_LogsConnectFailed"
Run: [runtime-libraries-coreclr outerloop 20210707.3](https://dev.azure.com/dnceng/public/_build/results?buildId=1223761&view=ms.vss-test-web.build-test-results-tab&runId=36472070&resultId=102820&paneView=debug)
Failed Test:
[code]
**Error message:**
[code]

[2021-07-08 06:41] jakobbotsch commented on #54118
That fix sounds much better conceptually, thanks @AndyAyersMS. I think we need to do the same for `GT_CLS_VAR` and `GT_OBJ` as well. I'll verify that it fixes the other examples I've collected and update #55081 with it.

[2021-07-08 06:42] KrzysztofBranicki opened #55318 "System.Text.Json deserialization failing on classes with field encapsulation"
### Description

When creating class that represents domain entity when we want to encapsulate collection so that it is impossible to add item to the collection without executing code that is responsible for validating domain invariants, we get exception on deserialization. Exception is thrown despite all names in the one and only constructor being correct.

Classes being serialized:

[code]

Seri

[2021-07-08 06:47] davidfowl commented on #50527
@stephentoub are you going to change Microsoft.Extensions.Hosting as well?

[2021-07-08 07:23] sba923 commented on #53182
No bother, I'm glad to help.

Here's what I get:

[code]

[2021-07-08 08:57] BrzVlad commented on #47458
Fixed by https://github.com/dotnet/runtime/pull/55180

[2021-07-08 08:57] #47458 closed

[2021-07-08 09:02] Tornhoof commented on #55318
You can do something like this, as STJ uses lists for deserialization of ``ReadOnlyCollection`` or ``ReadOnlyList`` (is there a reason you use ROC instead of the ROL?). Unfortunately as the ctor needs to be public, you could hide the ctor from your UI via ``ObsoleteAttribute``
[code]

[2021-07-08 09:03] #53530 closed

[2021-07-08 09:07] MichalStrehovsky commented on #54739
Just for posterity - setting the environment variable enables JitDump on the JIT that is compiling crossgen2 itself. It will not dump stuff that crossgen2 is compiling. To do the latter, `--codegenopt:NGenDump=...` has to be specified instead (it's a crossgen2 command line argument).

[2021-07-08 09:13] sandreenko commented on #54739
Do you have https://github.com/dotnet/runtime/pull/54861 in your branch? I have fixed one unreached case there recently.

[2021-07-08 09:13] Tornhoof opened #55321 "Wrong Exception Text for duplicate JsonConstructorAttribute"
### Description
If you apply the [JsonConstructorAttribute] to more than one constructor, the runtime exception is:
[code]
The Exception text is wrong:
- The attribute is not applied to properties at all
- The attribute type should reference the concrete type, not the base Attribute type.

The error message template should probably just be changed to say member instead of property.
The Throwhelper

[2021-07-08 09:17] ManickaP commented on #52085
@wfurt So we have officialy published linux packages, we're binplacing on Windows, can this be closed? Are we missing something still?

[2021-07-08 09:20] JamesNK commented on #52085
Is information about using the Linux package published somewhere?

[2021-07-08 09:23] ManickaP commented on #52085
Officially no, not yet, we should put that in docs though.
Do you personally want that now? I can forward you the mail.

[2021-07-08 09:38] mddubey opened #55322 "DotNet HttpClient doesn't give SSL Error While curl and Java fails"
Hello Team,

We are using DotNet to connect to one of our APIs which is using Let's Encrypt Certificate. There are some issues in the certificate and it is giving SSL issues when we try to connect using curl or java or wget but it works quite fine with DotNet HttpClient. Isn't this a security issue because it might be trusting a certificate which it should not?

Please find the code/command and er

[2021-07-08 09:46] mfilippov opened #55323 "dotnet hang in JIT"
### Description
dotnet.exe hang in JIT in ctor call with stack:
[code]

### Configuration
Windows 10 x64
dotnet-runtime-6.0.0-preview.7.21357.14-win-x64

### Regression?

yes, preview5 works fine

### Other information

I verified issue on main (7b0cdaf184a6f9a1c72973c90a13d611f0b91cff) it still there.
I can't create a small repro but I have 100% repro in our tests.

[2021-07-08 09:49] vitek-karas commented on #55274
OK- makes sense. I updated the proposal.

[2021-07-08 10:03] stephentoub commented on #50527
No, just the PosixSignalRegistration Windows implementation.

[2021-07-08 10:13] JamesNK commented on #52085
Not urgently. Update instructions about msquic in the readme and I'll figure it out from that.

[2021-07-08 10:25] lichti81 commented on #20824
@orthoxerox: I think there are more changes necessary
Lets assume the client usually do following:
[code]
A short look at the implementation of `EndOfStream` shows me that there is the stream read into cache. This means when it comes to `ReadLineAsync` it is already to late, because there the info from cache is read to identify lines in text.

I think to be able to support cancelation following is

[2021-07-08 10:27] vitek-karas commented on #54965
Just to summarize - the plan is to:
* Modify the muxer (`dotnet.exe`) to set a new runtime property called `HOSTFXR_PATH` (simplified the name) when launching SDK/CLI (`dotnet.dll`).
* SDK is expected to read this value via `AppContext.GetData("HOSTFXR_PATH")`
* SDK is expected to use this value to fix the `DllImport` problems - I'll let interop people advice what is the best way to do this (pre-l

[2021-07-08 11:18] EgorBo opened #55325 "PGO: Optimize isinst with class probes"
Example:
[code]
Current codegen:
[code]
As you can see - we give up on inlined checks and just call the `CORINFO_HELP_ISINSTANCEOFCLASS` helper.
Ideally we could emit a fast-path check from a class probe. So it could be:
[code]
I wonder if such an improvement could optimize e.g. this hot-path in JsonSerializer:
![image](https://user-images.githubusercontent.com/523221/124912927-30963a80-dff7-11eb-

[2021-07-08 11:19] EgorBo commented on #55325
cc @AndyAyersMS

[2021-07-08 11:19] jakobbotsch commented on #54118
Hmm, I'm seeing quite a few SPMI diffs with that patch applied. For example:
[code]
That seems expected since the loops have function calls, doesn't it? Did you do something more or know what I'm missing?

[2021-07-08 11:39] antonfirsov commented on #55126
Thanks! I [updated my test app](https://gist.github.com/antonfirsov/01bb6b7b8569027cd71988ff33c66228#file-program_updated-cs) to touch the pages, and the 64bit output makes sense now on my 16GB laptop now:
https://gist.github.com/antonfirsov/01bb6b7b8569027cd71988ff33c66228#file-updated-output-64bit-txt

Yes, I print the value of `Environment.Is64BitProcess` at the very beginning.

Here is the (To

[2021-07-08 11:50] KrzysztofBranicki commented on #55318
Actually in the codebase where I have this problem the type of the property is ROL. I used ROC in the reproduction sample to make the problem even more apparent but I expect this to work exactly same way no matter if my public property is ROL, ROC or IEnumerable. Agree that this limitation can be overcome with some additional code that developer needs to remember about but I have project that is b

[2021-07-08 12:06] krwq commented on #54916
@wcontayon thanks for offering help! Note you'll likely need to do a tiny refactor of code

[2021-07-08 12:12] #53692 closed

[2021-07-08 12:40] MaximLipnin opened #55328 "[iOS] System.Tests.PosixSignalRegistrationTests: RemoteExecutor is not supported on this platform."
A couple of tests, added recently in https://github.com/dotnet/runtime/pull/54136, fail with the following:
[code]

- System.Tests.PosixSignalRegistrationTests.SignalHandlerCalledForRawSignals
- System.Tests.PosixSignalRegistrationTests.SignalHandlerCalledForKnownSignals

cc @steveisok

[2021-07-08 12:43] steveisok commented on #55328
@MaximLipnin can you check if the tests you reference feature detect for RemoteExecutor?

[2021-07-08 12:47] xiaoxstz opened #55329 "How to open a WPF window in a library project(dll)?"
**My target:**
create a C# library to open a WPF Window, and then package it as a dll file. In the end, the dll can be called by other platform(for example: python)

If it's a Winform window, it's easy. Because in `Window Forms Control library`, it's easy to open a WinForm window.

So, how to open a WinForm window in a library project?

[2021-07-08 12:47] janvorli commented on #2021
Yes, it can be closed. There are no known remaining issues.

[2021-07-08 12:47] #2021 closed

[2021-07-08 12:49] MaximLipnin commented on #55328
No, they don't, I'll open a PR to update the tests with `[ConditionalTheory(typeof(RemoteExecutor), nameof(RemoteExecutor.IsSupported))]`

[2021-07-08 12:49] stephentoub commented on #55328
I will take care of it.  I'm currently editing all these files.

[2021-07-08 12:51] TheSPST commented on #45073
I am facing this in macOS 11.4

[2021-07-08 12:55] jakobbotsch commented on #54118
Ah, I see now that the patch is only doing it for constant VNs. This is also a problem for InitVal, phis and casts. Here's a test that has more cases:
https://gist.github.com/jakobbotsch/74a751527786c76fc9b7d1e53ffe45d5

[2021-07-08 13:00] WizardBrony opened #55330 "SemaphoreSlim: rationale for notify limit logic in Release"
In `SemaphoreSlim.Release`, the following logic handles notifying synchronous waiters that counts have become available:

https://github.com/dotnet/runtime/blob/1ca17cd7f7b16b5dfe7703e8e676d645da86af4d/src/libraries/System.Private.CoreLib/src/System/Threading/SemaphoreSlim.cs#L799-L823

I understand how `m_countOfWaitersPulsedToWake` can be less than the number of threads that have actually been p

[2021-07-08 13:11] ManickaP commented on #54720
Closing in favor of https://github.com/dotnet/runtime/issues/55024

[2021-07-08 13:11] #54720 closed

[2021-07-08 13:23] alvesmiguel1 commented on #55211
I was able to get a crash report from createdump:

[code]

[2021-07-08 13:26] Tornhoof commented on #55318
Not saying you should, but if you want to reduce the developer overhead and need go that route, go look the source generator direction, imho that's a classic example for that, adding boilerplate code.

[2021-07-08 13:30] SamMonoRT commented on #53329
@greenEkatherine @premun - should this be moved to the dotnet\xharness repo for tracking ?

[2021-07-08 13:58] greenEkatherine commented on #53329
@SamMonoRT nice idea, I'm going to transfer it there

[2021-07-08 14:08] ccifuentesfer commented on #2021
Hello,
I have tried with versions:
5.0.301
6.0.100-preview.5.21302.13

with runtime linux-musl-arm and self-contained, the executable uses ld-linux-armhf.so.3 libc library.

Thanks for your reply!

[2021-07-08 14:35] lambdageek commented on #54849
I guess the motivation for partial generic sharing is "we want some valuetype sharing, but we don't want gsharedvt where we can't even copy values to a registers".  But it doesn't seem like it's finding a lot of opportunities to pay off and in the case of these helper functions that use `typeof(T)` effectively as compile-time checks, it's actually an optimization blocker.

In the long term, we wil

[2021-07-08 14:36] filipnavara opened #55334 "Violation of nullability constraint for certificate validation during TLS renegotiation in HTTP request"
### Description

When TLS is renegotiated in the middle of HTTP request the validation callback receives `null` for `HttpRequestMessage` which violates the [nullability annotations of the callback](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclienthandler.servercertificatecustomvalidationcallback?view=net-5.0).

### Configuration

.NET 5.0.7
Windows 11 build 22000.51 (triggers

[2021-07-08 14:44] akoeplinger commented on #55000
We're actually missing `<_MonoCMakeArgs Include="-DENABLE_ICALL_EXPORT=1"/>` in mono.proj around L345 for iOS device builds to match the `--enable-icall-export` that we had in mono/mono.

[2021-07-08 14:50] janvorli commented on #2021
I've just tried with 5.0.301 SDK:
[code]
And then:
[code]
or
[code]

[2021-07-08 15:11] jakobbotsch commented on #55143
Since this is silent bad code gen I think we should take it for .NET 6. I'll have a look.

[2021-07-08 15:20] jkotas commented on #55323
cc @davidwrighton Related to #54941

[2021-07-08 15:21] EgorBo opened #55336 "JIT: Methods with switches aren't inlineable"
Example:
[code]
Codegen for `Test2`:
[code]
Currently it's failed to inline into `Test2`:
[code]
I guess it's tricky for the importer, but at least we could import it as a single JTRUE block when we pass a constant at the callsite (and that arg feeds that switch).

/cc @AndyAyersMS

[2021-07-08 15:23] mateoatr commented on #53708
Still failing: https://dev.azure.com/dnceng/public/_build/results?buildId=1223384&view=ms.vss-test-web.build-test-results-tab

[2021-07-08 15:24] ionmincu opened #55337 "TransactionStatePSPEOperation throws exception in valid enviroment"
### Description

Sometimes on our servers we see the following exception

[code]

Stacktrace:

[code]

[code]

### Configuration
- Runtime Linux x64 (don't really think other info is necessary)
- dotnet 5.0.203

### Regression?
- Not sure if this is a regression

### Other information

Based on the documentation page of  [Promotable Single Phase Enlistment](https://docs.microsoft.com/en-us/dotnet/

[2021-07-08 15:28] #53809 closed

[2021-07-08 15:34] BruceForstall commented on #53708
@dotnet/crossgen-contrib @mangod9

[2021-07-08 15:34] huoyaoyuan commented on #55329
How will it be called?

If it's called through `dotnet.exe`, then it is actually an executable, not a library.

[2021-07-08 15:43] lambdageek commented on #48720
Since in-process named mutex support was implemented - and is sufficient for mobile scenarios - this issue has been updated to track support for inter-process named mutex emulation.  Bumping milestone to net7

[2021-07-08 15:46] fanyang-mono opened #55339 "[Mono][TE] Optimize thread related functions"
The following performance data was collected against JsonPlatform benchmark on linux x64. The top 3 time consuming functions are

- mono_threads_state_poll_with_info (_actionable_)
- System.Threading.LowLevelLifoSemaphore/Counts:InterlockedCompareExchange -> System.Threading.Interlocked:CompareExchange (ulong&,ulong,ulong)
- mono_monitor_ensure_owned

Here is the perf results shown via speedscope

[2021-07-08 15:50] AndyAyersMS commented on #54118
Ok, I'll look at the bigger set of cases.

We might also be able to exempt `GTF_IND_INVARIANT` cases too.

[2021-07-08 15:50] lkelley-bec commented on #55013
For others finding this issue, a potential workaround would be to artificially delay the cancellation by a bit of time (building off the initial example in the issue description):
[code]
This does seem to indicate that the problem is some kind of race condition that happens if `ConnectAsync` is _immediately_ cancelled.

[2021-07-08 15:58] mateoatr commented on #43931
The test failed again in [runtime-libraries-coreclr outerloop 20210707.3](https://dev.azure.com/dnceng/public/_build/results?buildId=1223761&view=ms.vss-test-web.build-test-results-tab).

[2021-07-08 16:00] lambdageek commented on #55339
Time spent in `mono_thread_state_poll_with_info` should correlate with time spent in GC pauses.

[2021-07-08 16:01] AndyAyersMS commented on #54118
Suspect there's a broader problem where we can lose track of the (implicit) memory dependence. That is, if VN can deduce an in-loop indir has a relatively simple VN, and then that VN propagates to other computations later in the loop yielding more relatively simple VNs, those second-level VNs won't be attached to scary-looking IR nodes and changes like the one I came up with will fail to detect th

[2021-07-08 16:06] MichalPetryka commented on #55336
This is also a case for a `switch` on a `sizeof(T)` in a generic method with an `unmanaged` constraint, those switches should be completely ignored by the inlined as the JIT always knows which path will be taken.

[2021-07-08 16:17] kunalspathak commented on #55289
Also @AndyAyersMS  pointed out that the weight adjustment in LSRA is not idle (specially for PGO) and we need to fix it.

https://github.com/dotnet/runtime/blob/7ab7eaa24c318cf67ff2b5bc9713b61a86c567b4/src/coreclr/jit/lsra.cpp#L205-L208

[2021-07-08 16:17] tarekgh commented on #55315
@noahfalk looks we have issue in general on Linux arm architecture.

[2021-07-08 16:21] MichalPetryka opened #55342 "Sse41.IsSupported check blocks optimization after inlining"
### Description

Negating a `Sse41.TestZ` is normally optimized by the JIT into replacing a `sete` with a `setne`, this isn't the case though when the call is guarded by a `Sse41.IsSupported` check and the method is inlined. B2 should generate the same ASM as B1 does, but the Sharplab link in Data confirms that it does not do so.

[code]

### Configuration

Sharplab, Core CLR v5.0.721.25508
and
.N

[2021-07-08 16:21] sec commented on #14537
I would also go for PR with changes needed to compile on FreeBSD. Maybe they could go into https://github.com/dotnet/runtime/blob/main/docs/workflow/requirements/freebsd-requirements.md - that would help for sure in future.

As the bug with generating "linux" named nupkg are now fixed, crosscompiling sdk for FreeBSD produce SDK that can be used to fully build native on BSD, right? (taking in mind

[2021-07-08 16:23] #55194 closed

[2021-07-08 16:24] EgorBo commented on #55342
For reference, here is the IR we have for B2:
[code]

[2021-07-08 16:24] SingleAccretion commented on #55342
I have a few ideas on fixing this, and a few of my changes (some yet to PRed) coincide nicely with this.

I'll take it.

[2021-07-08 16:26] kunalspathak commented on #55289
Currently, we take global refcnt weight of a variable and assign it to RefPosition. We should restructure this to take into account appropriate either global or local weight.

[2021-07-08 16:32] GrabYourPitchforks commented on #49377
@mcallaghan-geotab The 2.2.x packages are out of support and are not receiving security patches. Use the 2.1.x packages or upgrade to 3.1.x instead.

The support lifecycle for .NET is listed at https://dotnet.microsoft.com/platform/support/policy/dotnet-core.

[2021-07-08 16:37] MichalPetryka opened #55343 "Optimize Vector128<T> equality against Zero/AllBitsSet"
### Description

Vector128<T> equality checks against `Vector128<T>.Zero` could be optimized to generate the same ASM (`vmovupd` + `vptest` instead of `vxorps` + `vpcmpeqb` + `vpmovmskb`  + `cmp` or `vxorps` + `vmovupd` + `vpcmpeqb` + `vpmovmskb`  + `cmp`)  as `Sse41.TestZ` does (when SSE 4.1 is supported) and against `Vector128<T>.AllBitsSet` to the ASM from `Sse41.TestC`.

[code]

[code]

### Co

[2021-07-08 16:49] EgorBo commented on #55343
@MichalPetryka should be easy to fix in `Vector128.Equals` (C#), do you want to give it a try?

llvm-mca dump: https://www.diffchecker.com/iYXeqb1h
(movmsk vs xor+vptest) - but not sure it's like that on all CPUs

[2021-07-08 16:49] AndyAyersMS commented on #55325
For cases where the object is used after the test we may already have downstream class probes that would tell us the likely class. I wonder if we could leverage that somehow?

Ideally we'd probe each object's class just once instead of at each use. We're not set up to do that now as we don't understand how definitions and uses inter-relate.

[2021-07-08 16:50] vargaz commented on #55339
CompareExchange is usually costly since its synchronization code. It could also indicate contention.

[2021-07-08 16:51] Tratcher opened #55347 "[HTTP/3] All requests have a body"
When interop testing with both Kestrel and Http.Sys, all requests from HttpClient appear to have a body, even those without an HttpContent.

Http/3 uses a quic stream per request and indicates the end of the request by closing the stream (setting the FIN flag on the quic frame).
https://www.rfc-editor.org/rfc/rfc9000.html#section-19.8
I think the issue is here, where the client sends the headers a

[2021-07-08 16:52] EgorBo commented on #55343
E.g. on Zen1 vptest is 4/2 (lat/rec.tp) while movmsk is 3/2

[2021-07-08 16:52] crummel commented on #43349
@janvorli Now that preview6 is wrapping up, any idea on when you'll be able to take another look at this?

[2021-07-08 16:53] buyaa-n commented on #53084
I do not completely understand their relation,  is `iOS` is the parent of `MacCatalys`? `iOS` supports `MacCatalyst` but `MacCatalyst` not support `iOS`?

        public static bool IsMacCatalyst();

Interesting solution, makes sense for above relation, but it is not directly comply with `Proposal A` expectation:
`OperatingSystem.IsIOS() || OperatingSystem.IsTvOS() || OperatingSystem.IsMacCatalyst

[2021-07-08 16:53] davidfowl commented on #50527
OK I will work on the hosting PR

[2021-07-08 17:14] ManickaP commented on #49574
Meeting notes:
@wfurt will spawn new issues for the missing points and this issue will be closed.
@geoffkizer promised to look into QUIC spec whether it supports SNI based cert selection. If not, the last point is moot, if yes and msquic doesn't support it, we need to file an issue there and then follow up with our code.

[2021-07-08 17:14] steveharter commented on #31274
These are mostly small extensions; I'll add samples here for now. There are many permutations to consider (to\from object, JsonElement, JsonDocument, JsonNode*) and different programming models to consider (i.e. whether to add to `JsonSerializer` as static methods, or add as instance methods to `JsonElement`, `JsonNode`, etc)

[2021-07-08 17:15] layomia commented on #40393
Related to https://github.com/dotnet/runtime/issues/31274, cc @steveharter.

[2021-07-08 17:16] ManickaP commented on #52085
Docs updated: https://github.com/dotnet/runtime/blob/main/src/libraries/System.Net.Quic/readme.md

This is resolved.

[2021-07-08 17:23] ManickaP opened #55352 "[QUIC] Add QUIC specific stress tests"
We should consider creating set of QUIC specific stress tests, apart from HTTP stress tests.
We should take into consideration creating generic `Stream` stress tests, which could be than leveraged by `SslStream`, `NetworkStream`, `QuicStream` etc.

Spin off #40389

[2021-07-08 17:24] ManickaP commented on #40389
QUIC stress testing spun off https://github.com/dotnet/runtime/issues/55352

[2021-07-08 17:24] filipnavara commented on #53084
MacCatalyst works kinda like a superset of iOS API (with very rare exception where some APIs are missing). There's TFM fallback that allows managed iOS code to be consumed by application targeting MacCatalyst. Effectively you can think of MacCatalyst as child of iOS even if it doesn't quite reflect the real heritage.

Yeah, we want to check for `OperatingSystem.IsIOS()` in a library that targets `

[2021-07-08 17:25] steveharter commented on #29960
As mentioned above, the current design avoids deserializing JSON string and bool to CLR string and bool because this would not be consistent with how JSON numbers are deserialized (since we don't know the CLR number type and don't want to "guess").

Imagine having a CLR `object[]` property and if the JSON has mixed values (strings, bools, numbers), some array elements would be are CLR `string`, so

[2021-07-08 17:28] layomia commented on #29960
Per comments above, I'll close this issue. Changing the default behavior would be a breaking change, and there are workarounds described in System.Text.Json documentation: https://docs.microsoft.com/dotnet/standard/serialization/system-text-json-converters-how-to?pivots=dotnet-5-0#deserialize-inferred-types-to-object-properties.

[2021-07-08 17:28] #29960 closed

[2021-07-08 17:39] #54941 closed

[2021-07-08 17:39] krwq commented on #12355
Hey @BartoszKlonowski are you still planning to work on this issue? In the meanwhile I'll move this issue to Future as it's not critical for 6.0

[2021-07-08 17:40] mikem8361 commented on #55211
This looks like a crash in "createdump" itself (.NET Core's dump generator). It gets exec'ed when the runtime crashes.  The createdump function (GetThreadStack) in the stack in your report doesn't look like it could seg fault unless something is really really wrong with it's internal data structures.

It looks like you have all the proper env vars  exported including the diagnostics logging one.

[2021-07-08 17:40] Thefrank commented on #14537
@sec while not build breaking, the docker images need to be updated with https://github.com/dotnet/arcade/pull/7588 and also we should: remove 11.x branch (EOL in 2 months), bump 12.1 -> 12.2, add 13.0(?). native should add the pkg requirement for `terminfo-db`

and also...

I am also still trying to figure out why doing anything multi-core via `dotnet` is causing a segfault resulting in being for

[2021-07-08 17:43] MichalPetryka commented on #55343
For checks against Zero/AllBitsSet the xor could also be omitted.

[2021-07-08 17:43] krwq commented on #36194
@GrabYourPitchforks feel free to change milestone back if you're planning to do this in this release

[2021-07-08 17:44] wfurt commented on #55334
This is interesting. SslStream has sender object and  that should be SslStream it self. HTTP has logic to map the connection back to the original HttpRequest. I don't really see how this would be impacted but underlying Schannel changes.
Do you have simple repro @filipnavara ?

[2021-07-08 17:46] jeffhandley commented on #53084
Here's my understanding of the desired experience:

| Environment | Guard                           | Result | Change Needed |
|-------------|---------------------------------|--------|---------------|
| **iOS**         | **OperatingSystem.IsIOS()**         | **true**   | **no** |
| iOS         | OperatingSystem.IsTvOS()        | false  | no |
| iOS         | OperatingSystem.IsWatchOS()     | fals

[2021-07-08 17:47] davidwrighton commented on #45326
I've checked in #54986 which should fix the intermittent assertion failure seen on x86, and hopefully some of the intemittent failures seen on other architectures.

[2021-07-08 17:49] krwq commented on #43610
Hey @StephenBonikowsky is this still needed for 6.0? Is anyone working on this?

[2021-07-08 17:51] EgorBo commented on #55325
Good idea, so we can avoid more class probes in tier0

[2021-07-08 17:51] krwq commented on #52947
@GrabYourPitchforks I'll move this to 7.0.0, please let us know if there are any updates here.

[2021-07-08 17:51] wfurt commented on #55322
To verify the certificate, you need full chain to the trusted root. Server is supposed to send everything - 1. You should see that in ServerHello/Certificate.
.NET has code to cache intermediates as well as code to try to download them is missing (based on CA distribution point from the certificate).
I don't know about Java but Curl and base OpenSSL do not have code AFAIK to fetch the missing link

[2021-07-08 17:54] krwq commented on #35189
@GrabYourPitchforks any opinions on moving this to 7.0?

[2021-07-08 17:55] StephenBonikowsky commented on #43610
@tommcdon I believe your team owns this, I know there was a question on whether this issue would be resolved as part of #45590?

[2021-07-08 17:55] mikem8361 commented on #54730
I'm including some VS folks: @gregg-miskelly, @caslan.  I'm not sure if this is the runtime yet and hot reload isn't involved in your last repro.

[2021-07-08 17:58] krwq commented on #33812
[Triage] Is there any work left on this issue? Should it be closed?

[2021-07-08 18:01] SingleAccretion commented on #55343
Noting that there is an existing optimization for the `Zero` vector in lowering: https://github.com/dotnet/runtime/blob/f30c848bfec03cadb0b9ec85234d9ec82698b78e/src/coreclr/jit/lowerxarch.cpp#L1269
It doesn't kick in this case because there's a temp in the way.

How to deal with that may perhaps be the most interesting question here.

[2021-07-08 18:02] echesakovMSFT commented on #39243
As I mentioned in https://github.com/dotnet/runtime/pull/52424#issuecomment-876635972 there are issues with current implementation of multi-reg nodes. I would need to fix these first before implementing the API.

[2021-07-08 18:02] MichalPetryka opened #55355 "Inefficient codegen for enum -> object -> int casts"
### Description

The JIT usually optimizes box + unbox cases, this isn't the case for enum -> object -> int though. Filled per request from @EgorBo

### Configuration

Sharplab Core CLR v5.0.721.25508

### Regression?

No idea.

### Data

[Sharplab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABABgAJiBGAOgCUBXAOwwEt8YaBhCfAB1YAbGFADKIgG6swMXAG4AsACgy5UQAtsUPgBlsweszYdFS5cQBMlKgHZlAb2

[2021-07-08 18:07] echesakovMSFT commented on #49077
Will not be resolved in .NET 6 time.

[2021-07-08 18:07] #49077 closed

[2021-07-08 18:07] echesakovMSFT commented on #48934
Will not make in .NET 6

[2021-07-08 18:08] echesakovMSFT commented on #42641
Not important for .NET 6.

[2021-07-08 18:09] stephentoub commented on #55334
The code expects the callback to be invoked once and nulls out the HttpRequestMessage after the first invocation so as not to keep it alive indefinitely:
https://github.com/dotnet/runtime/blob/4c92aef2b08f9c4374c520e7e664a44f1ad8ce56/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs#L50

[2021-07-08 18:13] bartonjs opened #55356 "Add an easier way of opening named keys via OpenSSL"
When a key is available via an ENGINE (or the new OSSL3 provider model) by name, it currently requires a couple of fussy P/Invokes.

### Proposal

[code]

#### Points worth mentioning

* OpenSSL Engines (deprecated in OpenSSL 3.0) make a distinction between loading private keys and loading public keys.
  * Since "load public" and "load private" are different registration points, supporting one doe

[2021-07-08 18:17] bartonjs commented on #55356
Explictly out of scope: Putting the key into the ENGINE/provider in the first place.

[2021-07-08 18:20] jkotas commented on #55356
Openssl has two APIs `ENGINE_load_public_key` and `ENGINE_load_private_key`.

I assume this will wrap `ENGINE_load_private_key`. Should the API name explicitly say `LoadPrivateKey`? Or maybe we should have both `LoadPublicKey` and `LoadPrivateKey` APIs?

[2021-07-08 18:26] MichalPetryka opened #55357 "Unsafe.As resulting in lots of unnecessary moves."
### Description

Using Unsafe.As on a struct results in a lot of unnecessary asm move instructions, especially when on method return and causes even more of them after inlining.

### Configuration

Sharplab Core CLR v5.0.721.25508

### Regression?

No idea

### Data

[Sharplab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABABgAJiBGAOgCUBXAOwwEt8YaBJFqVp3KzC4aADQAcSANwBYAFBlKtRi3aceGP

[2021-07-08 18:29] MichalPetryka commented on #55357
The area is wrong, should be `area-System.Runtime.CompilerServices `

[2021-07-08 18:30] MgSam commented on #24698
Maybe I'm missing something but why not add `Async` overloads for all these operations as well? For example, `File.AppendTextAsync()`?

I'd never even noticed the `isAsync` argument until reading this thread. The vast majority of developers are used to seeing these synchronous overloads next to newer asynchronous overloads. I think you want people to fall into the pit of success.

[2021-07-08 18:31] #48358 closed

[2021-07-08 18:39] wfurt commented on #55334
In practice, the validation _should_ be called only once during time when SSL session is established. (certainly for common case) It would be good to know if this is the case or not.

[2021-07-08 18:40] EgorBo commented on #55355
Repro: https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABABgAJiBGAOgCUBXAOwwEt8YaBhCfAB1YAbGFADKIgG6swMXAG4AsACgy5UQAtsUPgBlsweszYdFS5cQBMlKgHZlAb2Xln5ANoApVhgDiMJiOkACgwATz4YCAAzQIBRJgZ8KgBKJIBdJxdXAFkYDHUIABMASX5BQJy8wpK+QQB5PjYIJlwaAEEAc3bYXFxWCRgipkFWJhH2tIznYAgIQXIACTwAMUFsdoAeABUAPkDN8gQqNHJ9hAsk8gBebfJAkYwkwIhgACsYMAfD50vL2/vH55vD5JM6mAC+ynMAGZyH4EuQ4gkqOR7ORWscAELkMFAA==

Potenti

[2021-07-08 18:59] hoyosjs commented on #55312
I know @lukas-lansky was looking into this. This is becoming more prevalent.
cc: @dotnet/dnceng

[2021-07-08 19:01] t-mustafin opened #55360 "Lack of point 2 in instruction format-patch instruction"
There is no point 2 at instruction
https://github.com/dotnet/runtime/blob/ab64ce5f71479549222c99da3a15fd56f8328fe4/src/tests/Common/scripts/format.py#L232-L235.
Some important step was missed, because after clicking `View more details on Azure Pipelines` there is no `Summary` tab. @BruceForstall @jashook @alpencolt

[2021-07-08 19:02] lukas-lansky commented on #55312
@MattGal helped me to contact a dot.net person to look into the problem.

[2021-07-08 19:07] davidwrighton opened #55361 "Curiously recurring pattern when abstracted through interfaces does not work"
### Description

The following application when loaded using .NET 6.0 does not function. In particular, it will spin forever, and not finish.

[code]

### Configuration

.NET 6, after PR #54588
### Regression?

Yes.

[2021-07-08 19:07] AndyAyersMS commented on #54118
Here's a more general version, it causes quite a few diffs, but fixes the all the cases in the more involved test:
[code]

[2021-07-08 19:13] davidwrighton commented on #55323
Minimal repro

[code]

This is caused by PR #54588. Fortunately #54941 is unrelated and there are no race conditions to deal with.

[2021-07-08 19:14] davidwrighton commented on #55361
This is a duplicate of #55323

[2021-07-08 19:14] #55361 closed

[2021-07-08 19:14] villarst commented on #53727
Very weird. I tried testing with `var index1 = segment.IndexOfAny(new[] { '5' }, 0, 5);` and `var index2 = segment.IndexOfAny(new[] { '5' });` which resulted in 4 and -1 respectively. The only way you will get 4 as an output while having '5' as your char argument is if you have the index of  '5' be included in the two int arguments for `IndexOfAny (char[] anyOf, int startIndex, int count);`. Essen

[2021-07-08 19:15] vitek-karas commented on #48112
Thanks for the simple repro.
I verified that it is fixed (for this repro) in .NET 6 Preview 5.

[2021-07-08 19:15] #48112 closed

[2021-07-08 19:18] vitek-karas commented on #54947
This is unfortunately expected right now. On Linux (and on Windows) the single-file is created by simply appending to existing executable. We don't modify the headers in any way in this case. That means that the file is technically not valid per the file format specification, but OS loaders don't care. Some other tools do care though.

@VSadov to comment on possible ideas on how complex it would b

[2021-07-08 19:18] davidwrighton commented on #53708
This is a known issue that reproduces on all .NET applications on OSX arm64. It is most commonly seen in crossgen2 executions, but all heavily multithreaded OSX arm64 applications are vulnerable. At this time, this stress issue is not understood, although indications are that it occurs in functions which take an explicit generic context.

[2021-07-08 19:21] elinor-fung commented on #54965
I'd recommend using `DllImportResolver`.

[2021-07-08 19:28] #33812 closed

[2021-07-08 19:29] #42846 closed

[2021-07-08 19:33] tommcdon commented on #55240
@josalem

[2021-07-08 19:36] tommcdon commented on #54859
@LakshanF @vitek-karas  do you plan on fixing this issue in .NET 6?

[2021-07-08 19:45] LakshanF commented on #54859
We are talking to the network team to see if they can fix this (as in use only the source code they need instead of relying on the trimmer to remove unused code). Its possible that this might not be possible to do in 6.0 in which case, we can punt this issue

[2021-07-08 19:50] filipnavara commented on #55334
Kind of. I can reliably reproduce it on the current Windows Insider Preview when connecting to our calendar server. It happens on a request that should not require authentication so I may be able to extract it into something publicly sharable.

It is called more than once for sure. The first call proceeds successfully, the second one happens later in the request.

[2021-07-08 19:51] BartoszKlonowski commented on #12355
@krwq Yes, and sorry for the delay. I had it planned for this week, but it turned out to be busier then I thought.
It will for sure be delivered within next week.

[2021-07-08 19:52] filipnavara commented on #53084
Yes

[2021-07-08 20:02] SergeiPavlov commented on #55233
Fixed in https://github.com/dotnet/runtime/pull/55238

[2021-07-08 20:02] #55233 closed

[2021-07-08 20:02] GrabYourPitchforks commented on #55357
Related: https://github.com/dotnet/runtime/issues/55064, https://github.com/dotnet/runtime/issues/10315

[2021-07-08 20:05] speed2048 commented on #45073
I have not run into this issue since 11.3 but will keep trying to reproduce.

[2021-07-08 20:07] wfurt commented on #55334
ok. I'll try to reproduce it. Did you use Tls13 before? I'm wondering it this is co-incident Wirth the upgrade that the Tls13 is now enabled and used by default. (forcing Tls12 only may be also interesting fact)

[2021-07-08 20:07] naricc commented on #44263
@BrzVlad @SamMonoRT This actually still reproduces.

[2021-07-08 20:15] VSadov commented on #54947
It should be possible to put single-file payload into a file section in both ELF and PE case and could be more straightforward than in the case of Mach-O. The difficulties will be in carefully patching the existing file structure for the presence of another section.

Right now HostModel has very little support for parsing/writing these formats, especially for ELF [this is basically all of it](http

[2021-07-08 20:15] echesakov opened #55364 "Arm64: Generate conditional comparison and selection instructions"
Arm64 provides branchless conditional selection and comparison instructions that should be utilized by RyuJIT in the code it generates.

<img width="1181" alt="image" src="https://user-images.githubusercontent.com/12488060/158626332-1c989e7e-0480-4eaf-97b0-5e8b428dee95.png">

Reference: https://eclecticlight.co/2021/07/20/code-in-arm-assembly-conditions-without-branches/

RyuJIT already has suppor

[2021-07-08 20:18] echesakov opened #55365 "[Arm64] Peephole optimization opportunities"
- [x] #35141 : Optimize redundant memory loads with mov
  - [x] #35071 : Redundant load/stores for methods that operates/returns structs
  - [x] #35136 : Optimize pair of "str wzr, [reg]" to "str xzr"
  - [x]  #35134 : Optimize pair of "str reg, [fp]" to stp (**Done**: https://github.com/dotnet/runtime/pull/77540)
  - [x] #35133 : Optimize pair of "str reg, [reg]" to stp  (**WIP**: PR77540)
  - [x

[2021-07-08 20:19] jkotas commented on #54947
Ideally, you would want it arrange it such that the OS maps the payload in exactly as we need it, with the right executable permissions and relocs.

[2021-07-08 20:21] echesakovMSFT commented on #33975
Closing since the original issue was confirmed to be not an issue.
As for trying an idea in https://github.com/dotnet/runtime/issues/33975#issuecomment-707857923 we won't have time for this in .NET 6.

[2021-07-08 20:21] #33975 closed

[2021-07-08 20:21] buyaa-n commented on #53084
I guess the same apply to the attributes:
`[SupportedOSPlatform("iOS")]` cover `iOS` and  `MacCatalyst`
`[SupportedOSPlatform("maccatalyst")]` only cover  `MacCatalyst`
`[UnsupportedOSPlatform("iOS")]` cover `iOS` and  `MacCatalyst`
`[UnsupportedOSPlatform("maccatalyst")]` only cover  `MacCatalyst`

[2021-07-08 20:25] jrmoreno1 opened #55366 "Stringbuilder.Append should have an IFormattable overload"
## Background and Motivation

StringBuilder has several overloads, but none of them work with an interpolated string without first turning it into a string.  Given that purpose of the StringBuilder is performance, it seems like turning the interpolation into a string first is going to give a performance hit.

## Proposed API

[code]

## Usage Examples

[code]
-->

## Risks

It's possible that the

[2021-07-08 20:27] echesakovMSFT commented on #43629
Closing the epic as we are getting closer to .NET 6 feature complete date.

I opened https://github.com/dotnet/runtime/issues/55364 and https://github.com/dotnet/runtime/issues/55365 to track down future work for the following two sets of items specified here - "Conditional instructions/branch elimination" and "Peephole optimization opportunities".

I also made sure that all the hardware intrinsic

[2021-07-08 20:27] #43629 closed

[2021-07-08 20:28] filipnavara commented on #55334
Minimal repro:
[code]

Output:
[code]

[2021-07-08 20:29] sandreenko commented on #55357
We still don't have a good way to represent a struct cast without taking its address, it is a known problem that I was planning to fix for 6.0 but did not have time to finish.

There is no easy fix, but we are aware of the issue and will improve this scenario in 7.0.

[2021-07-08 20:33] filipnavara commented on #55334
Disabling TLS 1.3 by adding `clientHandler.SslProtocols = System.Security.Authentication.SslProtocols.Tls11 | System.Security.Authentication.SslProtocols.Tls12;` produces expected output:
`ServerCertificateCustomValidationCallback False`

The server uses some variation of OpenSSL and we do have access to the developers of the server side to inquire some details. It's possible that the repeated ren

[2021-07-08 20:33] echesakovMSFT commented on #35620
@tannergooding Do you know if #50832 has fixed the issue?

[2021-07-08 20:44] wfurt commented on #55334
yes it should. It is also most likely Windows specific. With https://github.com/dotnet/runtime/pull/43123 we _should_ verify the callback is called only once (at least from SslStream) but obviously we don't in some cases.

[2021-07-08 20:48] marcpopMSFT commented on #54645
@richlander has been digging into the RID behaviors and so may have an opinion here on how this should work long term.

[2021-07-08 20:51] GrabYourPitchforks commented on #35189
This package is built for netstandard2.0, which runs on platforms that support `Thread.Abort` (like Full Framework). Agree that we should use SafeHandle or CERs here for such platforms, and also agree that it's a minor enough problem that there's no rush to get it in for 6.0.

[2021-07-08 20:53] steveberdy commented on #54993
@iSazonov @SkiFoD I did some simple refactoring, no research needed. I didn't test it, but does this look about okay? I could submit a PR.

https://github.com/steveberdy/runtime/commit/16270cd8aea06263057824472a451eea6f3d4d3f

[code]

[2021-07-08 20:57] filipnavara commented on #53084
@buyaa-n Correct.

Note that there could be some APIs (none in dotnet/runtime AFAIK; few in Xamarin bindings) which exist on iOS and don't exist in Mac Catalyst. In that case I would expect an annotation like this to work:
[code]

This is mostly covering frameworks that don't make sense outside of the phone environment (CoreTelephony, CoreNFC, ARKit, VisionKit, HealthKit, HealthKitUI, AddressBookU

[2021-07-08 20:59] tannergooding commented on #35620
I don't believe #50832 addressed this.

[2021-07-08 21:00] AndyAyersMS commented on #54118
Hmm, that is too pessimistic. Need to iterate a bit more.

[2021-07-08 21:08] #44319 closed

[2021-07-08 21:14] eerhardt commented on #55255
The background NullReferenceException has been fixed by https://github.com/dotnet/runtime/pull/55340.

I've opened https://github.com/dotnet/aspnetcore/issues/34208 for the app 404'ing on the home page, as that looks like an issue with ASP.NET.

[2021-07-08 21:14] #55255 closed

[2021-07-08 21:18] filipnavara commented on #55334
The problem is that #42836 and #43123 were landed on master only (.NET 6) as far as I can see. That still leaves .NET 5 w/ TLS 1.3 broken.

[2021-07-08 21:22] filipnavara commented on #55334
For the sake of completeness I retested it on .NET 6 Preview 5 and it does behave correctly.

[2021-07-08 21:40] AndyAyersMS commented on #43618
## Updated TechEmpower Results (mean RPS)
![image](https://user-images.githubusercontent.com/10121823/124994227-625cd080-dffa-11eb-838c-d99f03c8ff0f.png)

[2021-07-08 21:41] AndyAyersMS commented on #54739
This does not repro for me with latest bits.

[2021-07-08 21:49] leobasilio commented on #55368
Today I found the issue #26323 and did some further investigation. I'll leave my findings here, in case anyone else face the same problem.

TLDR: It's not possible. You should use a proxy or an external library.

The `BasicHttpsBinding` relies on a `HttpClient` to send the requests.

[code]

https://github.com/dotnet/wcf/blob/v3.2.1-rtm/src/System.Private.ServiceModel/src/System/ServiceModel/Chann

[2021-07-08 21:56] trylek opened #58468 "Crossgen2 perfmap format version support"
As of

https://github.com/dotnet/runtime/pull/53792

Crossgen2 newly supports a new command-line option <code>--perfmap-format-version</code> that currently has two legal values, 0 and 1, where 0 corresponds to the "old style Crossgen1" perfmap naming format and 1 is the "new style Crossgen2" naming format. In particular, historically Crossgen1 used to name perfmap files like this:

<code>&lt;asse

[2021-07-08 21:58] jeffhandley commented on #53084
@buyaa-n Would this _have_ to happen inside the analyzer itself, or can you think of a way for this to work such that the analyzer doesn't need special handling of these platforms?

[2021-07-08 22:00] johnwc commented on #29960
@steveharter there was a few shared examples in these comments that gave you great examples of how to test if a JavaScript Number type can safely be deserialized as a valid CLR type.

As for the bool type you keep through into the mix with Number, what other bool type is there in JavaScript and CLR other than Bool? Why are you not at least converting bool types to valid CLR bool type? I can somewh

[2021-07-08 22:05] buyaa-n commented on #53084
Yes its need analyzer update, same for removing coverage by:
[code]

No, nothing

[2021-07-08 22:05] wfurt commented on #55368
There is really no way how to pass explicit certificates to Schannel. The fix/workaround is #47680
[code]

note that the `CertificateAuthority` is for intermediate CAs not for the trusted one.
This is not fixable directly on Windows unless OS exposes API to control the certificates.
Until then making the intermediates to OS is only known way how to get to working.

[2021-07-08 22:06] eerhardt commented on #55089
Closing as I believe I have explained the behavior here and have recommended a solution. Feel free to re-open if this is not the case.

[2021-07-08 22:06] #55089 closed

[2021-07-08 22:09] gregg-miskelly commented on #54730
Are you trying to debug code running in the browser? Or server-side code?
If the browser, how are you trying to attach to the process? (what transport, engine, process are you using)

[2021-07-08 22:10] Tratcher commented on #55089
Is there any way to detect the app was launched this way and automatically set the content root to the AppContext.BaseDirectory?

[2021-07-08 22:11] eerhardt commented on #55089
Launched which way?

I believe that would be a breaking change....

[2021-07-08 22:12] lukas-lansky commented on #55312
This might help with this problem (and others): https://github.com/dotnet/arcade/pull/7603

[2021-07-08 22:13] jkotas commented on #55126
This was introduced by https://github.com/dotnet/runtime/pull/36152/files#diff-0edd676d0ef86c3df8cd23f712913c82d9106d1ea944d62e34189534bb817a5fL402-L410

Before this change, we treated the virtual < physical case as restricted environment and used the virtual memory limit as the limit. IIRC, I made this change since the restricted environment turns on `hard_limit` that makes the system behave quit

[2021-07-08 22:15] Tratcher commented on #55089
Launched interactively from the GUI vs being run from the command line.

[2021-07-08 22:16] terrajobst commented on #53084
@buyaa-n

Have you looked at [my comment](https://github.com/dotnet/runtime/issues/53084#issuecomment-862624733)? Ideally we'd make this data driven and don't hard code compat rules.

[2021-07-08 22:38] leobasilio commented on #55368
Thank you! Now all but the root CA certificate are being sent and that seems to be enough. Finally I got a successful response from the server.

![Captura de tela em 2021-07-08 19-33-49](https://user-images.githubusercontent.com/16745138/124998889-8c76b880-e023-11eb-8675-5004ea0545d8.png)

[2021-07-08 22:42] kunalspathak opened #55374 "Auto tune register selection heuristics"
As part of https://github.com/dotnet/runtime/issues/43318, lot of experiments were performed to analyze the optimal ordering of register selection heuristics. As a continued effort, implement an auto-tuning framework which would pick the right ordering based on the method for which register allocation is happening.

[2021-07-08 22:43] jonpryor opened #55375 "JIT regression with Android+net6 P7"
### Description

Context: https://github.com/xamarin/xamarin-android/pull/6072
Context: https://github.com/dotnet/runtime/compare/02f70d0...0605bb3
Context: https://github.com/mono/linker/compare/a07cab7b71a1321a9e68571c0b6095144a177b4e...f574448d16af45f7ac2c4b89d71dea73dec86726

PR xamarin/xamarin-android#6072 is a .NET 6 P7 SDK bump from dotnet/installer@e8b3b6be to dotnet/installer@bd5653f3, wh

[2021-07-08 22:44] kunalspathak opened #55376 "Register selection heuristic tuning experiments report"
As part of #43318, lot of experiments were performed to analyze the optimal ordering of register selection heuristics. Come up with the analysis report and outcome of the experiments.

[2021-07-08 22:45] kunalspathak commented on #43318
Closing this as there are no more work items to be done in .NET 6.

[2021-07-08 22:45] #43318 closed

[2021-07-08 22:46] steveisok commented on #55375
/cc @SamMonoRT

[2021-07-08 22:48] jeffhandley commented on #51301
@karelz This is still on our radar, but we're not going to be able to look at it again before the Preview 7 snap; we'll have to follow up before RC1.

[2021-07-08 23:04] eerhardt commented on #55089
That I don't know how to detect... :(

[2021-07-08 23:08] jeffhandley commented on #53084
I agree on making it data-driven so that we don't have to hard-code the compat rules into the analyzer. But the guard attributes as illustrated wouldn't cover the cases of:

[code]

or

[code]

We could _potentially_ have the SDK automatically apply `[assembly:SupportedOSPlatform("maccatalyst")]` when targeting `net6.0-ios`, but that still wouldn't help in the `[UnsupportedOSPlatform("ios")]` case

[2021-07-08 23:08] buyaa-n commented on #53084
Yes, that makes sense, but that doesn't look like could cover all scenarios, especially for handling the relation between called API attributes and the call-site attributes

[2021-07-08 23:10] maryamariyan commented on #54771
Closing as dupe of #48567

[2021-07-08 23:10] #54771 closed

[2021-07-08 23:11] jeffhandley commented on #47593
@terrajobst / @angelazhangmsft If I recall correctly on this, we concluded that this change was not necessary; is that correct?

[2021-07-08 23:21] angelazhangmsft commented on #47593
Yes the current plan is to go the route of the alternative suggestion (CsWinRT could remove the projection for this attribute and use the to-be-designed analyzer/attribute for contract checks.)

[2021-07-08 23:21] terrajobst commented on #47593
Yes. The conclusion was that CsWinRT should stop projecting their version information as `SupportedOSPlatformAttribute` and the instead provide their own analyzer.

[2021-07-08 23:22] jeffhandley commented on #47593
Thank you both!

[2021-07-08 23:22] #47593 closed

[2021-07-08 23:24] terrajobst commented on #53084
@jeffhandley

I'm not entirely following. What I'm proposing is that we use the guard attributes on the OperatingSystem methods in order to communicate the compat relationship to the analyzer. We still need to add the generic support to the analyzer to understand the idea of "if I'm running on this OS I can also run on this other platform". Otherwise everyone who has to apply these attributes woul

[2021-07-08 23:29] jeffhandley commented on #53084
1. That we use the guard attributes on the `OperatingSystem` methods -- ✔️
2. In order to communicate the compat relationship to the analyzer -- _for the `OperatingSystem` methods, yes -- ✔️
3. We still need to add the generic support to the analyzer to understand the idea of "if I'm running on this OS I can also run on this other OS" -- that's where our communication break down is
4. Otherwise ev

[2021-07-08 23:34] terrajobst commented on #53084
Agreed, that's inescapable IMHO.

Agreed

![](https://media4.giphy.com/media/6YNMn8b4O9IxW/giphy.gif)

[2021-07-08 23:36] noahfalk commented on #55315
Thanks @tarekgh, I'll look into this today. If anyone is seeing this failure in the PRs I think it is safe to assume it is a test failure and can be ignored.

[2021-07-08 23:39] jeffhandley commented on #53084
Gotcha; thanks, @terrajobst. OK, I'm doing a proof of concept of the guard attributes being applied to the methods to make sure the analyzer will respect those as implemented now. I'll follow up once I have those findings and we can explore what it would look like for the analyzer to consume that data (during initialization) to understand platform aliases/relationships.

One question though...

Sh

[2021-07-08 23:40] jonpryor commented on #55375
Related: https://discord.com/channels/732297728826277939/732297837953679412/862827287343136839

I re-ran the suite with inlining disabled:

[code]

Using `-O=-inline` failed.  Using `-O=-all` *crashed*:

[code]

…which was unexpected.  Turns out, disabling *lots* of the optimizations *also* triggers the same assertion.

I was able to get `-O=-abcrem,-inline,-leaf,-tailc,-sched,-copyprop,-consprop,

[2021-07-08 23:41] terrajobst commented on #53084
That seems fine because if you target .NET 5 you can't see `OperatingSystem.IsMacCatalyst()` anyway.

[2021-07-09 00:01] wfurt opened #55378 "QUIC: support CipherSuitesPolicy"
This was originally tracked in #49574. Since https://github.com/microsoft/msquic/pull/1430 is done, we should be able to implement it. QUIC only support three cipher suites and requires TLS 1.3. So unlike general SslStream where one may want to eliminate or selectively add weak cipher the value is low for QUIC.

The CipherSuitesPolicy is currently ignored if set. We could possibly throw PNSP to ma

[2021-07-09 00:27] janvorli commented on #43349
I have created a PR in arcade to fix rootfs build for Alpine 3.9. After consulting it with @mthalman, I am going to get in my original change to the docker images and keep building for Alpine on 3.9 for now and move to using the 3.13 after the preview 7. Then I can get in my change to use the lld linker and start looking into the null reference issues. We still have null reference issues on Apple

[2021-07-09 00:31] am11 commented on #51770
If renaming type is possible, perhaps `MutableConfiguration` would be better than `Config`?

[2021-07-09 00:38] jonpryor commented on #55375
Another idea which came to mind was to enable `mono --trace`:

[code]

Unfortunately, this takes *significantly* longer to execute: *19 minutes*:

[code]

It also produced a 758M log `trace.txt` file.

Looking for the `ENTER:c` trace messages:

[code]

we can find something that looks reasonable:

[code]

Thing is, this *does* look weird.  We have a `.GetFeature()` invocation, which is expected, b

[2021-07-09 01:23] wfurt opened #55380 "HTTP/3 tests are crashing"
I know this was raised before but I could not find any god handle.
[code]

The assert comes from the DeadlockDetection.
[code]

we should either prove there is real deadlock or find a way how to disable the detection while preserving other debug benefits.

It may not be easy to isolate to particular sequence but it seems that it is pretty easy to trigger this in general.
I will try to get more inf

[2021-07-09 01:29] Maoni0 commented on #55126
oh interesting, I remember reviewing your PR @jkotas but I don't actually remember this particular part. maybe I missed it (if we did have a discussion about it I certainly don't remember now..). I think we should keep the previous behavior because when we get the memory load we'd want to get it based on the restricted_limit otherwise on a machine with a lot of physical mem we could be getting ver

[2021-07-09 01:32] nibanks commented on #55380
One thing that could help is if you provided the values of `SendFlags`, `PrevSendFlags` and `PrevPrevSendFlags` (I know, the names are super original).

[2021-07-09 01:49] jkotas commented on #55126
I agree that we should use the virtual address space as the limit.

The part that I have doubts about is whether `is_restricted_physical_mem` should be set to true when `virtual_address_space` < `physical_memory`. Do you think we should be setting `is_restricted_physical_mem` to true in this case? (It was the original behavior that I found questionable.)

[2021-07-09 02:08] VincentBu commented on #51831
Run: [runtime-coreclr jitstress 20210707.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1226071&view=ms.vss-test-web.build-test-results-tab&runId=36539602&resultId=110381&paneView=debug)

Failed test:
[code]

[2021-07-09 02:26] VincentBu opened #55382 "Test Failure：System.Net.Sockets.Tests.TelemetryTest.EventSource_SocketConnectsRemote_LogsConnectStartStop"
Run [runtime-libraries-coreclr outerloop 20210708.3](https://dev.azure.com/dnceng/public/_build/results?buildId=1226519&view=ms.vss-test-web.build-test-results-tab&runId=36549260&resultId=102839&paneView=debug)
Failed test:
[code]

**EventSource_SocketConnectsRemote_LogsConnectStartStop:**
[code]
 or

[code]

or

[code]

or

[code]

[2021-07-09 02:49] sarahm7 opened #55383 "signed XML CheckSignature always return Null Reference exception after upgrading to .Net 5"
### Description

We are currently verifying the certificate from Google SAML response and the signed XML CheckSignature always return Null Reference exception after upgrading to .Net 5

[code]
### Configuration

### Regression?

Yes, .Net Framework 4.7.2
### Other information

![image](https://user-images.githubusercontent.com/27810542/125015162-87584e80-e0a1-11eb-8c99-2d96f4d08c21.png)

Things i'

[2021-07-09 03:23] stephentoub commented on #55366
This is addressed by https://github.com/dotnet/runtime/pull/51653.  With it, you can just write:
[code]
and the right things happen.

Closing as a dup of https://github.com/dotnet/runtime/issues/50635. Thanks.

[2021-07-09 03:23] #55366 closed

[2021-07-09 05:00] moh-hassan commented on #23602
Four years passed and the issue is still open. I hope it's implemented in NET6.

[2021-07-09 05:11] Maoni0 commented on #55126
looking at the code before that PR, `GCToOSInterface::GetPhysicalMemoryLimit` would set `is_restricted` to false for 32-bit processes with more physical memory than virtual mem (g_UseRestrictedVirtualMemory would be true) -

[code]
is_restricted didn't matter for 32-bit processes anyway since hard_limit is only turned on for 64-bit processes.

[2021-07-09 05:16] dotnetshadow commented on #54730
@gregg-miskelly I'm trying to debug a blazor webassembly app. I'm trying to do what I've always done with a blazor webassembly app whereby I can attach my dotnet process of whatever app I'm currently runn say Foo.exe (server project), then I can debug the classic counter component in the client project.

If you can see a few comments above I've outlined exactly what I do

I also got a response fro

[2021-07-09 05:22] wfurt commented on #55380
[code]
not always but this seems to frequently fail in
[code]
so this is situation where we artificially create more demand.

[2021-07-09 05:25] wfurt commented on #55380
While diffing through, I founds another crashing pattern:
[code]
the lock seems to be all empty.

[2021-07-09 07:13] mfilippov commented on #55323
@davidwrighton I verified the fix from PR in our tests. Looks good, no hang anymore.

[2021-07-09 07:41] #40389 closed

[2021-07-09 08:00] kunalspathak commented on #55289
[Brief experimentation](https://github.com/kunalspathak/runtime/tree/singledef_spill_expuse) didn't show much benefit:

Windows x64 benchmarks:

[code]

Linux x64 benchmarks:

[code]

[2021-07-09 08:00] #55289 closed

[2021-07-09 08:04] mfilippov commented on #51250
@mangod9 Any news about this issue? It is a painful problem for Apple M1 workloads.

[2021-07-09 08:09] ManickaP commented on #55368
@leobasilio from your comment I assume the problem has been solved, questions answered and we can close this issue. Please feel free to reopen if you still have more problems.

[2021-07-09 08:09] #55368 closed

[2021-07-09 08:25] RishoT17 commented on #55089
Thanks for your help! I now understand what's happening and how to fix it.

I might be worth looking more into this. Considering usability, from the end-user's perspective, it might still look "broken": Double-clicking the executable produced by the exactly same code should probably behave in the identical way between Mac and Windows. Although I understand that a change like that could cause more

[2021-07-09 08:33] AntonLapounov commented on #55307
Another reason to revert #52992/#53119 is that it was not a correct fix in the first place.  Since `TimeZoneInfo` instances are cached, the first used UI culture for a given `TimeZoneInfo` is stuck forever unless you call `TimeZoneInfo.ClearCachedData()`:
[code]

[2021-07-09 08:40] ManickaP commented on #55380
This is what I've been seeing ever other run of S.N.Http tests. I tried to raise the value for deadlock detection to 1_000_000 and it still crashed. I tried to get the flags, but they were optimized out. After that, I didn't have more time to investigate.

[2021-07-09 08:40] jogibear9988 opened #55388 "How to Cache System text Json Converters?"
I've the following converter for nullable enums....
But it is recreated for same Type very time (I thought CreateConverter type would be cached)

Whats the best way to cache the converter?

    using MCC.Utilities.ExtensionMethods;
    using System;
    using System.Reflection;
    using System.Runtime.CompilerServices;
    using System.Text.Json;
    using System.Text.Json.Serialization;

    nam

[2021-07-09 09:22] RunningDeer opened #55389 "spelling mistake in System/Collections/Generic/LinkedList.cs line 180"
#### dotnet/runtime/blob/main/src/libraries/System.Collections/src/System/Collections/Generic/LinkedList.cs line 180
the comment is unclear, seems to be superfluous 'the'.

[2021-07-09 09:30] Sergio0694 opened #55390 "Make DefaultInterpolatedStringHandler Text and Clear APIs public"
## Background and Motivation

The new `DefaultInterpolatedStringHandler` type (supporting https://github.com/dotnet/runtime/issues/50601 and following parts) is great, but there are two design decisions that restrict its actual usefulness a lot in some scenarios. Specifically, the fact `Text` and `Clear` are internal and not public prevents developers from being able to use this type directly in a

[2021-07-09 09:32] KrzysztofBranicki commented on #55318
Yes it can be done with source generators but I'm not a fan of having source generators as part of domain model, especially in a case where this boilerplate isn't really justified by anything other than a missing feature in a framework that we don't really need to use. We can stay with Newtonsoft.Json and avoid unnecessary boilerplate (generated or not). Just wanted to point out this unsupported s

[2021-07-09 09:33] akoeplinger commented on #34193
This is done now. The Mono-based runtime packs use `.Mono` in the package ID (e.g. `Microsoft.NETCore.App.Runtime.Mono.osx-x64`) and there's a `UseMonoRuntime` property you can set in the .csproj that will opt into them by using the `RuntimePackLabels` metadata.

[2021-07-09 09:33] #34193 closed

[2021-07-09 09:38] BrzVlad commented on #44804
I think https://github.com/BrzVlad/runtime/commit/ed19f6eed681293d9891fd6b6a75dc579d98be27 is a fix for this. @steveisok Could you give it a try ?

[2021-07-09 09:43] jonpryor commented on #55375
@vargaz suggestion to disable the linker worked: the unit tests pass when linking is disabled.  This suggests something in here is responsible for the breakage: https://github.com/mono/linker/compare/a07cab7b71a1321a9e68571c0b6095144a177b4e...f574448d16af45f7ac2c4b89d71dea73dec86726

This still confuses me, because it suggests that perhaps I can't rely on `ikdasm` output...?

[2021-07-09 09:49] taori opened #55391 "HttpClientHandler issue on android - works on windows."
### Description

I am developing a small [android app](https://github.com/taori/PCRemote2) and when i try to communicate with a LAN server i am getting the following stacktrace. I've tested the same client with the project "Amusoft.PCR.App.Console" where my implementation works just fine without issues. The mono version seems to dislike me changing the HttpClientHandler instance.

I am using my Ht

[2021-07-09 10:07] xiaoxstz commented on #55329
Use a python package named `pythonnet`.

For example

# The C# part
[code]

# The python part
[code]

[2021-07-09 10:12] Joe4evr commented on #55388
Putting a Dictionary in the JsonConverterFactory is my usual quick-and-dirty method of caching in these cases.
[code]

[2021-07-09 10:14] huoyaoyuan commented on #55329
There shouldn't be anything special for WPF. A regular WPF control library should be able to do so.

[2021-07-09 10:25] vitek-karas commented on #54788
The more I think about this - if there's interest, this would be a great NuGet package, but currently I don't see enough interest in this to make it an official part of the .NET product.

[2021-07-09 10:25] #54788 closed

[2021-07-09 10:26] vitek-karas commented on #54684
It seems this is resolved - at least from the host perspective. Please create a new issue if there is anything else we can help with.

[2021-07-09 10:26] #54684 closed

[2021-07-09 10:28] vitek-karas commented on #54434
This PR https://github.com/dotnet/docs/pull/25039 adds the necessary descriptions I think. So I'll close this in favor of that PR and its tracking issue https://github.com/dotnet/docs/issues/12237.

[2021-07-09 10:28] #54434 closed

[2021-07-09 10:30] alvesmiguel1 commented on #55211
Unfortunately, in the output console I only get this:
[code]

[2021-07-09 10:31] roklenardic commented on #47460
Is there a workaround for #33634? JWT authentication is broken and this issue has been present since January...

[2021-07-09 10:33] vitek-karas commented on #43332
Version ranges are also potentially more discoverable as users are used to them from NuGet. See https://github.com/dotnet/runtime/issues/54141 for an example where current roll forward works, but it's not easily discoverable. Being able to support version ranges would solve that.

[2021-07-09 10:33] vitek-karas commented on #54141
I'm closing this in favor of #43332 which tracks the overall scenarios better.

[2021-07-09 10:33] #54141 closed

[2021-07-09 10:37] #53640 closed

[2021-07-09 10:37] vitek-karas commented on #53587
We should check if this is still happening and if it's important to try to fix this in 6 timeframe.

[2021-07-09 10:41] vitek-karas commented on #53307
I think this should be solved in the SDK specific to Xamarin.Mac - I assume there's such a thing as the core SDK will not produce apps for it. Should we maybe move the issue to the repo which track the work on that SDK?

[2021-07-09 10:42] vitek-karas commented on #52831
This is not actionable without more details. Please feel free to reopen or create a new issue if this is still a problem.

[2021-07-09 10:42] #52831 closed

[2021-07-09 10:43] vitek-karas commented on #52818
@LakshanF do  you think we need to do this in 6? Please add the right milestone and remove untriaged.

[2021-07-09 10:46] #50527 closed

[2021-07-09 10:46] #55328 closed

[2021-07-09 11:17] #24271 closed

[2021-07-09 11:46] jogibear9988 commented on #55388
I've done like this now:
(but I thought, isn't this already done by the MS code, and is this the intended way?)

    using System;
    using System.Collections.Generic;
    using System.Runtime.CompilerServices;
    using System.Text.Json;
    using System.Text.Json.Serialization;

    namespace MCC.Utilities.Serialisation
    {
        public class MccJsonStringEnumConverterFactory : JsonConverte

[2021-07-09 11:48] #42790 closed

[2021-07-09 11:48] #44546 closed

[2021-07-09 11:48] #53182 closed

[2021-07-09 11:48] #54966 closed

[2021-07-09 12:06] adamsitnik commented on #50939
@tannergooding the `System.Numerics.Tests.Perf_Matrix3x2.IsIdentityBenchmark` regression reported by @DrewScoggins in https://github.com/dotnet/runtime/issues/50939#issuecomment-816798060 seems to be not resolved:

![image](https://user-images.githubusercontent.com/6011991/125075329-bf21bf00-e0be-11eb-80c9-3b9c6b2d38ee.png)

https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%

[2021-07-09 12:06] LakshanF commented on #52818
These tests are not critical since the risk of the existing behavior changing is low;

- we are not rooting these types under a feature switch, so completely removing so as to cause problems for native hosts are low
- the default values for the feature switch is to turn off, which will not generate warnings for developers who are not using these APIs (just skeleton code that will thrown for native

[2021-07-09 12:13] vitek-karas commented on #48343
The host work has been done (host now supports arm64/x64 side-by-side), but this also needs installer changes so that the architectures are layed out into the right location.

[2021-07-09 12:14] #47799 closed

[2021-07-09 12:16] vitek-karas commented on #47481
If https://github.com/dotnet/runtime/issues/34202 should be done in 6, then this needs to be done as well. Otherwise we should move both to future release.

[2021-07-09 12:30] #46087 closed

[2021-07-09 12:32] vitek-karas commented on #45617
Related to https://github.com/dotnet/runtime/issues/48180.

[2021-07-09 12:34] akoeplinger commented on #47481
I do think this should be done for 6, we just need to agree on the approach. I think given the timeframe I prefer probing for libcoreclr and falling back to libmono if it doesn't exist, that should be a very small change to the host.

[2021-07-09 12:35] vitek-karas commented on #45542
Closing this as there's no apparent issue to fix/explain. If I'm wrong please feel free to reopen or create a new issue.

[2021-07-09 12:35] #45542 closed

[2021-07-09 12:36] vitek-karas commented on #43332
Another request for version ranges - this time to effectively specify max-version (so that the app can be tested against that and will never run on anything higher): https://github.com/dotnet/runtime/issues/45306.

[2021-07-09 12:36] vitek-karas commented on #45306
Closing this in favor of https://github.com/dotnet/runtime/issues/43332.

[2021-07-09 12:40] filipnavara commented on #55391
It would be interesting to override the `Dispose` method on your `GrpcClientHandler` and print a stack trace from there to see who disposes the handler.

[2021-07-09 12:42] steveisok commented on #55391
@taori The stack trace you provided seems like it's coming from mono/mono.  If that's the case, I would recommend moving the issue there.

You can give net6 a shot by downloading the latest preview.  If you are using grpc, you'll want to set `UseNativeHttpHandler` to false in your project.

[2021-07-09 12:45] Joe4evr commented on #55388
Why would they? All the `S.T.Json` stuff was designed to be as minimalistic as possible. It's much easier to make a consumer *add* whatever caching strategy they want if they need to, compared to having one by default and someone needing to remove/change it.

[2021-07-09 12:46] vitek-karas commented on #44602
@John-Hart https://developercommunity2.visualstudio.com/t/A-NET-Core-31-or-NET-50-application-/1248873 has been closed. Does it mean we can close this one as well?

[2021-07-09 13:08] MaximLipnin opened #55396 "Using the Mono interpreter with FEATURE_COMPILE"
This is a tracking issue for using the Mono interpreter with `FEATURE_COMPILE`, which is based on Alexander's comment https://github.com/dotnet/runtime/pull/54970#discussion_r666928947

@akoeplinger @steveisok

[2021-07-09 13:20] vitek-karas commented on #47143
Given https://github.com/dotnet/runtime/issues/47143#issuecomment-774168402 seems to indicate that this is a problem external to .NET. Please feel free to reopen the issue if that's not the case.

[2021-07-09 13:20] #47143 closed

[2021-07-09 13:21] #45306 closed

[2021-07-09 13:26] markusmobius commented on #54966
I am sorry about the delay. Thank you so much for responding so quickly.

I ran the program and here is the output:

Length: 0, position: 0
After writing one byte: length: 1, position: 1
Using LOCK_EX flock to lock the file
Length: 0, position: 0
After writing one byte: length: 1, position: 1
Using LOCK_SH flock to lock the file
Length: 0, position: 0
After writing one byte: length: 1, position: 1

[2021-07-09 13:30] steveisok commented on #55396
@akoeplinger how much work do you think this would be?

[2021-07-09 13:34] vitek-karas commented on #52335
@mateoatr Could you please see if the changes to always sign apphost on MacOS can be used by global tool installation as well?

[2021-07-09 13:36] vitek-karas commented on #53491
We should look into improving the exception message (since we should not change the exception type without a really good reason as it's technically a breaking change).

[2021-07-09 13:36] MrTA2 opened #55399 "System.Linq.Expressions.NewExpression.Constructor is marked nullable - should be not null"
## Background and Motivation

Proper nullability decoration

## Proposed API

[code]

## Usage Examples

[code]

## Alternative Designs

## Risks

[2021-07-09 13:36] #47112 closed

[2021-07-09 13:39] vitek-karas commented on #53031
There doesn't seem to be anything .NET can do about this. Please reopen the issue if that's not the case.

[2021-07-09 13:39] #53031 closed

[2021-07-09 13:43] vitek-karas commented on #52729
Closing as there doesn't seem to be any unanswered issues.

[2021-07-09 13:43] #52729 closed

[2021-07-09 13:44] vitek-karas commented on #51405
@LakshanF has this been fixed?

[2021-07-09 13:47] stephentoub commented on #55399
This will print "True":
[code]
highlighting the property can return null.

[2021-07-09 13:50] jogibear9988 commented on #55388
but if i use the ms stringenumconverter, is this cached or not?

Von meinem iPhone gesendet

[2021-07-09 13:52] fanyang-mono opened #55400 "[Mono] Fail the runtime tests, when mobile apps failed to install"
Based on the conversation happened at https://github.com/dotnet/xharness/issues/672, need to fail the runtime tests, when mobile apps failed to install.

[2021-07-09 13:52] MrTA2 commented on #55399
@stephentoub why is that even allowed? Shouldn't we force them to use `Expression.Constant(0)` for this?

[2021-07-09 13:55] stephentoub commented on #55399
I can't speak to the design or implementation here.  The nullable annotations were added subsequently and reflect the reality of what's possible.  If the implementation were changed such that null couldn't be returned here, then the annotation could be updated to reflect that, but at the moment it's accurate.

[2021-07-09 13:56] vitek-karas commented on #52477
For .NET 6 we will not introduce an "extractor", but the approach suggested by @svick (using code from ILSpy) should work.

[2021-07-09 13:56] #52477 closed

[2021-07-09 13:57] jkotas commented on #47481
@akoeplinger Why do we need to do it for 6 without #34202 ? It would be future proofing that rarely works in practice.

[2021-07-09 14:00] vitek-karas commented on #44869
I created an issue in mono/linker which is the repo where trimmer work is done. https://github.com/mono/linker/issues/2139

Currently we don't have any plans to support this, but I want to keep it in the list.

[2021-07-09 14:00] #44869 closed

[2021-07-09 14:00] MrTA2 opened #55401 "Disable System.Linq.Expressions.Expression.New(typeof(int))"
## Background and Motivation

This creates a weird `NewExpression` where the constructor is null. The result of this would be the value of 0, so why not just use `Expression.Constant(0)`. Related: [make constructor property not null](https://github.com/dotnet/runtime/issues/55399)

## Proposed API

No changes, but specifying a type without constructors (such as a primitive value type) should throw

[2021-07-09 14:00] #44743 closed

[2021-07-09 14:02] vitek-karas commented on #44260
In .NET 6 this should either work or produce warnings. We've made lot of work to make the core framework warning free, but ASP.NET has not been part of that effort yet. So trimming ASP.NET apps is currently effectively unsupported.

[2021-07-09 14:02] #44260 closed

[2021-07-09 14:24] #54834 closed

[2021-07-09 14:27] LakshanF commented on #51405
Yes, this was merged with https://github.com/dotnet/coreclr/pull/28161

[2021-07-09 14:27] #51405 closed

[2021-07-09 14:28] eerhardt commented on #44432
This will not be done in 6.0.

[2021-07-09 14:30] #45720 closed

[2021-07-09 14:30] #49014 closed

[2021-07-09 14:47] avodovnik opened #55402 "Invalid compile-time error when using inline initialization and null-conditional operator"
### Description

When the following snippet is compiled with `msbuild`, it works, as expected, but when it's compiled with `dotnet run` or `dotnet build`, it fails with:

[code]

Repro:

[code]

### (Relevant) Configuration

.NET 5.0.204
Windows 21H1 (19043.1052)

[2021-07-09 14:48] SamMonoRT commented on #49294
Closing per comment in https://github.com/dotnet/runtime/issues/44744#issuecomment-731517311

[2021-07-09 14:48] #49294 closed

[2021-07-09 14:49] SamMonoRT commented on #49216
@imhameed - did you get a chance to verify this ?

[2021-07-09 14:50] SamMonoRT commented on #45034
We aren't going to add more changes here in the 6.0 timeframe. Moving this to 7.0.0

[2021-07-09 14:51] SamMonoRT commented on #44924
@lewing - did we have any proposal targeting 6.0 release ? If not, we should move it to 7.0.0

[2021-07-09 14:52] taori commented on #55391
Thanks for the suggestions. I will give it a shot

[2021-07-09 14:53] SamMonoRT commented on #44526
@jonathanpeppers - is this still an issue, and if so, is this really required for 6.0 ?