[2021-07-27 17:55] pavelsavara commented on #55750
Calling `globalThis.ENV.DOTNET_SYSTEM_GLOBALIZATION_INVARIANT="1"` on instead of  `MONO.mono_wasm_setenv("DOTNET_SYSTEM_GLOBALIZATION_INVARIANT", "1")` fixes the issue.
Also `mono_wasm_setenv` doesn't change the `ENV`. I don't know why yet.

See also https://emscripten.org/docs/porting/connecting_cpp_and_javascript/Interacting-with-code.html#interacting-with-code-environment-variables

[2021-07-27 17:56] bartonjs commented on #33793
The proposed fixes, and situations where they won't fix things, seem a bit strange.  There's value in highlighting that the array allocation is happening in a loop, but the manner in which it gets fixed (or ignored) is too variable.  So we shouldn't have a fixer at this time.  (Ideally we'll get params-span and that'll make this go away)

* Category: Performance
* Severity: Hidden

[2021-07-27 17:57] ViktorHofer commented on #51601
Excellent find @ericstj 👍. As you can see in the change, I did update the target name in the condition but unfortunately to the wrong one :(

[2021-07-27 17:58] svick commented on #56394
Just making sure: is that actually the correct license? https://github.com/dotnet/runtime/pull/42476#discussion_r498975234 talks about adding the "Sun license", but does not mention where exactly it came from.

And if this really is a problem, should musl be notified that it contains non-open source code?

[2021-07-27 18:01] directhex commented on #55637
https://linux.die.net/man/1/pkgdata

Emphasis mine.

icudt.dat is arch specific according to the documentation.

[2021-07-27 18:03] ericstj commented on #53529
I was able to reproduce this error in another project and understand the problem (see #51601)  Will submit a fix for this.

[2021-07-27 18:10] ericstj commented on #12792
Given everything that's changed since Jun 2019 (dotnet/runtime now exists) I'm going to say this issue is too far removed from the initial report.

[2021-07-27 18:10] #12792 closed

[2021-07-27 18:10] #49728 closed

[2021-07-27 18:22] safern commented on #53476
Closing this issue as a dup of: https://github.com/dotnet/sdk/issues/18148 which was fixed and the fix should be available on the Preview7 SDK.

[2021-07-27 18:22] #53476 closed

[2021-07-27 18:25] bartonjs commented on #33800
We came up with a lot of cases where the fixer can cause surprising functional changes, so this really only applies when there's an indexer followed by a call to Remove with no other method calls in between (because any method call could have modified the dictionary).  As a specific example, in https://github.com/dotnet/runtime/issues/33800#issuecomment-853477405 if `Foo` throws then in the before

[2021-07-27 18:28] steveisok commented on #55637
So, are you suggesting "by design" then?

[2021-07-27 18:28] CarnaViire commented on #56409
Could you please provide a minimal repro @GASA94 ?

[2021-07-27 18:32] filipnavara commented on #55637
Would that explain why the size differs between arm64 on Android and iOS? (ie. essentially same arch) I would also expect x64 and arm64 to be within margin of error, that was not the case.

[2021-07-27 18:32] directhex commented on #55637
The ICU docs say it's by design.

[2021-07-27 18:34] directhex commented on #55637
@filipnavara I'd need to examine pkgdata.cpp more closely to be able to answer that

[2021-07-27 18:36] filipnavara commented on #55637
The iOS one is about 200 Kb (13%) than the Android one. That may be worth another look even if it turns out to be by design.

[2021-07-27 18:37] tarekgh commented on #56405
@rjmholt I want back and reviewed the code we had in .NET Framework 4.5 and even 3.5 and I am seeing by default we always return read only object from CultureInfo.CurrentCulture. Here is the code from 3.5 as example which is setting the object as readonly. In which version you think we used to return mutable object from CurrentCulture?

[code]

[2021-07-27 18:38] bartonjs commented on #44194
Removing the rule from AllEnabledByDefault, if possible, is reasonable.  But otherwise this is tightly coupled to the still in progress question of what we're doing with CLS compliance and we can't really take action at this time.

[2021-07-27 18:43] pavelsavara commented on #55750
Moving `mono_wasm_setenv` to `preInit` instead of `preRun` fails with `Cannot read property 'Wb' of undefined` so I think that's too early for `cwrap` and `ccall`.

Moving `mono_wasm_setenv` to `callEntryPoint` **works!**
It doesn't change `ENV` either.

[2021-07-27 18:43] maryamariyan commented on #36064
We'll add the fixers in the 7.0 timeframe.

[2021-07-27 18:44] GASA94 commented on #56409
The code used to send messages:

`public async SendMessage(MyMessage message){
    string messagedata = JsonConvert.SerializeObject(message);
    SendCommand command = new SendCommand("message", messagedata);
    string msg = JsonConvert.SerializeObject(command);
    byte[] bytes = Encoding.UTF8.GetBytes(msg);
    await client.SendAsync(new ArraySegment<byte>(bytes), WebSocketMessageType.Text, tru

[2021-07-27 18:45] directhex commented on #55637
Hm. From more docs:

[code]

http://userguide.icu-project.org/icudata

[2021-07-27 18:45] AndyAyersMS commented on #51258
These tests are quite sensitive to fine details of PGO and perf swings back and forth depending on exact block layout.

Down the road we can likely improve block layout's algorithms to avoid being quite so sensitive. But I don't think we can address this for 6.0. So am going to move to future.

[2021-07-27 18:49] AndyAyersMS commented on #55162
Failures just above were from CoreCLR tests and should be fixed by #56184.

[2021-07-27 18:53] bricelam opened #56415 "ValidationContext doesn't use IServiceContainer"
### Description

In .NET Framework, System.ComponentModel.DataAnnotations.ValidationContext has special handling for service providers that implement System.ComponentModel.Design.IServiceContainer. This logic is missing (including the `ServiceContainer ` property) in the .NET Core version.

### Regression?

Yes, from .NET Framework.

[2021-07-27 18:54] bartonjs commented on #47927
Using a messaging along the lines of "suspicious cast", having the rule identify calls to string.Split or StringBuilder..ctor that involves an implicit conversion from char to int seems like goodness (and we may add more specific API over time).  All of the methods/constructors that we group together in this rule will use the same diagnostic ID.

There are some generalizations (any implicit char->

[2021-07-27 19:05] pavelsavara commented on #55750
Also moving it to `onRuntimeInitialized` works instead of [preRun](https://github.com/dotnet/aspnetcore/blob/0610031dc58512bd71f55bcbdd1f06656b753929/src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts#L282).

[2021-07-27 19:06] bricelam opened #56418 "ScaffoldTableAttribute not found"
### Description

The System.ComponentModel.DataAnnotations.ScaffoldTableAttribute type is missing in .NET Core. However, ScaffoldColumnAttribute is present. 🤷

It looks like this was previously discussed in #20200.

### Regression?

Yes, from .NET Framework.

[2021-07-27 19:11] bricelam opened #56419 "Value of TypeId on UIHintAttribute is different from .NET Framework"
### Description

The value of the TypeId property on System.ComponentModel.DataAnnotations.UIHintAttribute and FilterUIHintAttribute is different on .NET Core from .NET Framework. I have no idea what the functional implications of this are. 🙂 ...and the types are obsolete anyway.

### Regression?

Yes, from .NET Framework.

[2021-07-27 19:17] directhex commented on #55637
The problem I have with "it says it's by design but that's likely wrong in the docs and I'm sure we can ignore them" is it may well be true today, but it might not be tomorrow. We're on ICU 67, maybe 68 is the time when it goes from "big endian vs little endian" to "big endian vs little endian, also 32 bit vs 64 bit" or "big endian vs little endian, also 32 bit vs 64 bit, also ILP32 vs LLP64 vs LP

[2021-07-27 19:19] layomia commented on #56300
Facilitating assembly trimming is a first-class goal of the JSON source-gen feature. We considered utilizing static interface methods as a vehicle for registering generated code, but did not move forward with the idea. Designing source-generated serialization implementations around interfaces is an anti-pattern for trimming because the ILLinker cannot statically determine which concrete implementa

[2021-07-27 19:19] #56300 closed

[2021-07-27 19:20] bartonjs commented on #51193
As far as performance is concerned, the best results happen when this goes from an interface to a sealed type, but there's still goodness in moving up to a more-derived type (and less so for a more-derived interface).

The main identified complication is when a field, auto-property or variable is declared of an interface and changing it to a concrete type causes a compile failure (or runtime behav

[2021-07-27 19:21] filipnavara commented on #55637
There are two separate practical issues:
- One is the size itself which happens to be significantly bigger on iOS than on other platforms and which will practically affect everyone even if no sharing takes place.
- The other one is sharing the files for universal binaries which currently only affects Mac Catalyst and it could even be done opportunistically, ie. only share the data if they are iden

[2021-07-27 19:22] alyssajotice opened #56422 "Missing prerequisite for dotnet on Alpine"
### Description

I am on the Live Share team and I am trying to troubleshoot running Live Share on [Alpine v3.13 WSL in VS Code](https://github.com/MicrosoftDocs/live-share/issues/4328). I've downloaded all of the dependencies noted here: https://docs.microsoft.com/en-us/dotnet/core/install/linux-alpine#dependencies.

I think that there may be a missing dependency for dotnet in Alpine that is not

[2021-07-27 19:25] jakobbotsch commented on #56402
The ASM diff is:
[code]

We enregister the byte arg now and the inner loop looks almost equal. There is a reg-reg `mov` instead of a memory load but I don't see why this would regress performance. I'll take a closer look tomorrow, this disasm is with R2R disabled, maybe the R2R code is different.

[2021-07-27 19:31] ViktorHofer opened #56428 "Avoid cross references from reference to source projects via protection"
https://github.com/dotnet/runtime/pull/56417 showed that it's possible to accidentally add a ProjectReference from a ref project to a source one. It should be possible to guarantee that this doesn't happen again via a Target that checks if a reference project is available when a source project is referenced from a reference project and throws in such cases. Performance should be considered as an I

[2021-07-27 19:32] jakobbotsch commented on #56402
Oops, I am looking at Windows which indeed saw improvements. Will check the Ubuntu diff tomorrow.

[2021-07-27 19:37] #52114 closed

[2021-07-27 19:38] karelz commented on #56295
@dotnet/dncenghot it looks like these 2 images changed and regressed behavior of self-resolution (empty string passed to DNS). Can they be fixed please?
It is similar to what happened recently on SLES (2-3 weeks ago). We are slowly loosing coverage./

Also, is there a way to add it as a smoke test for new images?

[2021-07-27 19:40] karelz commented on #56369
Triage: Seems legit. Are you interested in submitting PR for it?
Otherwise, moving to 7.0. Should be fairly straightforward to fix.

[2021-07-27 19:41] rjmholt commented on #56405
Ok I've looked into this further (I originally took the original user's report at face value) and I have a rather mysterious result.

Running this directly as a .NET program I get the expected error:

![image](https://user-images.githubusercontent.com/7009879/127217228-58b6aede-a075-4dd1-899f-70fae4cc9329.png)

But running the same thing from Windows PowerShell "works":

![image](https://user-imag

[2021-07-27 19:41] karelz commented on #56376
Triage: Easier to fix than to triage and punt :)

[2021-07-27 19:41] karelz commented on #56409
Triage: @GASA94 do you have a (minimal) repro we can just run? Even against public server if needed.

[2021-07-27 19:44] MattGal commented on #56295
Nothing has changed in the time range you're listing; we roll out updates on Wednesdays, and the first day you list is 7/25.    Neither image has changed since 6/25/2021, nor has anything we run on them.

I'll take a few minutes to investigate your failures; I suspect something running before your work items is badly behaved.

[2021-07-27 19:44] karelz commented on #56217
Triage: Already present in 5.0. Pushing to 7.0.
How impactful is it for you?

[2021-07-27 19:45] #56245 closed

[2021-07-27 19:47] karelz commented on #56284
Triage: As discussed above, obsoleting is not an option -- too breaking, little value. Having it properly documented is the best way. There are options we could think about in Future, though they are breaking.
BTW: `HttpClientFactory` is only for DI systems (like ASP.NET).

Closing.

[2021-07-27 19:47] #56284 closed

[2021-07-27 19:48] wfurt commented on #56295
This is not necessarily just about the image. It is about ability for machine to resolve own name.

[2021-07-27 19:48] jakobbotsch commented on #56402
The codegen changes for Unix look similar, at least with alt-jit:
[code]

[2021-07-27 19:49] MattGal commented on #56295
Sure, I was responding to " it looks like these 2 images changed" and letting you know that hasn't happened for over a month.

[2021-07-27 19:50] karelz commented on #56169
Triage: @alyssajotice did you get chance to try the above suggestion?
Also, are you in position to try it on 5.0 or 6.0 bits?

[2021-07-27 19:55] tarekgh commented on #56405
could be PowerShell is manually overriding the CurrentCulture with mutable object. It looks next step is to open issue for PowerShell :-)

https://github.com/PowerShell/PowerShell

[2021-07-27 19:57] karelz commented on #55761
Triage: Given that we didn't throw PNSE in 5.0, but relied on server reaction to unsupported feature (e.g. refused connection, etc.), it is fine to keep it in 6.0 the same way for certain older OpenSSL versions (which are on older distros which in time will be out of support anyway).
If there is business demand in future, we can reconsider.

[2021-07-27 19:57] #55761 closed

[2021-07-27 20:06] jeffhandley commented on #53084
That is correct.  However, you should be able to override that behavior if needed.

[code]

[2021-07-27 20:09] karelz commented on #56295
For completeness: We discussed making our tests resilient to this technically valid setup of Linux, however -- that would remove our code coverage as we wouldn't know if all images are already in the bucket of "tainted" or not ...
Hopefully we will find out what ran before us that caused this ...

[2021-07-27 20:12] mdh1418 commented on #52199
Not sure how to disable the test for a specific version of iOS/tvOS, so keeping the active issue for now and pushing this to 7.0.0

[2021-07-27 20:19] bricelam commented on #46678
See also (and upvote) https://github.com/dotnet/efcore/issues/14544

[2021-07-27 20:22] JamesNK commented on #56362
Can you point me at your tests for using client certs with HTTP/3? It will be easier for me to figure out how to make the client cert available to server apps if I can follow an example.

[2021-07-27 20:22] JulieLeeMSFT commented on #56371
@Maximys do comments from egorbo and svick answer your question? If so, can we close this issue?

[2021-07-27 20:23] jeffhandley commented on #53084
Sorry -- I misread -- you were asking about the _guard_ attributes... Re-reviewing...

[2021-07-27 20:29] wfurt commented on #56362
https://github.com/dotnet/runtime/blob/5938d685c4599bf46809106b4d4df294ee894749/src/libraries/System.Net.Quic/tests/FunctionalTests/MsQuicTests.cs#L313

One more caveat I forget about is the https://github.com/microsoft/msquic/pull/1728.
It seems like client certificates tests are passing for MsQuic so I'm not sure if the failure I saw and tried to fix is related to my machine/certificate or not.

[2021-07-27 20:31] poke commented on #36064
Does that mean that the analyzers are on track for 6.0? That's great news! We've been hit by the issue from diagnostic 5 a few times in production so this will help a lot. Thanks for following up with this @maryamariyan!

[2021-07-27 20:37] acaly commented on #56213
If you are mainly worried about creating too many interface implementations, would inline anonymous types helps? There are proposals in C# to allow user to implement interfaces with anomymous types inside method body like in Java.

[2021-07-27 20:46] ericstj commented on #56428
I gave this a try in https://github.com/ericstj/runtime/commit/66dca09639305ec25cfcd694ce82af0ef85088b4 and it caught both of the issues from #56417 and had no false positives.  @ViktorHofer, do you want me to put up a PR?

[2021-07-27 20:49] lambdageek commented on #55823
This is probably a tooling/packaging issue since I think System.Runtime.Experimental has a filename and assembly name that aren't the same. A lot of our tooling is sloppy about the difference.

[2021-07-27 20:50] rjmholt commented on #56405
Thanks, yeah, [that's where I came from](https://github.com/PowerShell/PowerShell/issues/15828) 🙂

[2021-07-27 20:50] SLavaLL commented on #56217
If I understood correctly, I can't use gRPC with TLS on .Net 5, and this problem will be solved only by the 7th version?
This is upsetting, we will have to think about whether it is worth using this technology, or consider alternative options.

[2021-07-27 20:55] kouvel commented on #54033
The only other result that seems possible is `WAIT_FAILED` if the event handle value is corrupted. Wasn't able to repro the issue, going to see if it happens again.

[2021-07-27 20:55] #54033 closed

[2021-07-27 21:12] am11 commented on #56422
[`strings(1)`](https://www.man7.org/linux/man-pages/man1/strings.1.html) just prints whatever is in a given file. It does not actually invoke the executable, but shows the contents of file as text.

Note that Visual Studio Code is not available for Alpine Linux (desktop) natively*, because the underlying framework electron is not available on Alpine Linux. It is possible that Visual Studio Live Sh

[2021-07-27 21:13] davidfowl commented on #43092
@maryamariyan can we investigate in .NET 6 to see if it's an easy fix?

[2021-07-27 21:15] stephentoub commented on #56409
What version are you running on?  This sounds like https://github.com/dotnet/runtime/issues/39198, which was fixed in .NET 5 in https://github.com/dotnet/runtime/pull/39199, and which was only just backported to 3.1 in https://github.com/dotnet/corefx/pull/42950 (so it hasn't been released in a 3.1 patch yet).

[2021-07-27 21:17] karelz commented on #56217
@SLavaLL why cannot you use gRPC with .NET 5? Tons of people use it successfully?
What is unique on your scenario that it does not work?
Perhaps we just misunderstood your report ...

cc @JamesNK

[2021-07-27 21:17] #56359 closed

[2021-07-27 21:22] MattGal commented on #56295
Created https://github.com/dotnet/core-eng/issues/13889.  I ran your exact failing work items on Debian 9 and Ubuntu 16.04 and am convinced the problem has nothing to do with the behaviors of any previous work items, rather this seems like a symptom of VMs starting up a bit fast and the child processes of the Helix client not having functional DNS ready.  We had worked around this in the past but

[2021-07-27 21:35] JulieLeeMSFT commented on #55033
Moving from .NET 6 to future because ILVerify is preview feature.

[2021-07-27 21:36] JulieLeeMSFT commented on #54110
Moving to future since ILVerify is preview feature.

[2021-07-27 21:37] JulieLeeMSFT commented on #48250
Moving to future since ILVerify is preview feature.

[2021-07-27 21:38] JulieLeeMSFT commented on #46236
Moving to future since ILVerify is preview feature.

@bbartels if you are still interested in working on this, I will assign you as an owner.

[2021-07-27 21:39] steveisok commented on #52332
Unless there's a solution to a null `GetEntryAssembly`, I think we should consider PNSE for IsolatedStorage

[2021-07-27 21:40] JulieLeeMSFT commented on #43502
Moving to future since ILVerify is preview feature.

@PZegar, are you still interested in working on this issue?

[2021-07-27 21:40] #47096 closed

[2021-07-27 21:40] jkoritzinsky commented on #56391
This is a known limitation with C++/CLI in .NET Core and .NET 5+. If the first time managed code in a C++/CLI assembly is executed is from a native caller, the assembly will be loaded into a separate ALC. If the first time managed code is executed is from a managed caller, the assembly will be loaded into the same ALC as the caller (usually the default).

If you add an "initialize" style call from

[2021-07-27 21:49] danmoseley commented on #51258
Are there any characteristics of regressions caused by "fine details of PGO", changing PGO data etc that we can spot in the graphs for other regressions? It feels like when I suspect PGO data I'm just waving my hands. Eg., would it look like bimodal between builds, but stable within iterations on the same build?

[2021-07-27 21:51] SLavaLL commented on #56217
I have given the errors that I get when trying to establish a connection between the gRPC client and the server.
This problem is happening on my computer. Everything works fine on other computers.
I do not know why this is happening, and what needs to be done to fix it.
And, I can't launch a technology in production that causes problems that I don't know how to solve.
I thought that I was doing so

[2021-07-27 22:01] terrajobst commented on #56300
@hez2010 @huoyaoyuan

I hear you. But there is a trade-off: waiting for a mythical runtime/language feature means we can't add value now, which usually also means we don't learn anything about how useful this feature might be.

Shipping the generator support as preview, would have been an option, but the feature to mark part of our APIs as preview is brand new in this release and we focused on get

[2021-07-27 22:11] AndyAyersMS commented on #51258
Yes, this (more or less):  if you look up at https://github.com/dotnet/runtime/issues/51258#issuecomment-859918779 you can see that the perf of the test switches between two levels over time, and the timing of the swings is correlated with PGO updates.

There other other factors that can cause this sort of behavior (memory alignment of data, etc) so checking for the correlations with PGO updates i

[2021-07-27 22:11] JamesNK commented on #56217
Something about the TLS ALPN negotiation is preventing the .NET gRPC client from connecting to the server. There is no logic specific to gRPC involved.

`HttpRequestMessage.Version` = 2 +
`HttpRequestMessage.VersionPolicy` = RequestVersionOrHigher

[2021-07-27 22:16] #50782 closed

[2021-07-27 22:17] wfurt commented on #56217
As @SLavaLL , ALPN is missing in the hello for some reason.
As @JamesNK suggested, try to set it explicitly on the request as you do in the 4.8 case.
That may give us some clues. (and possibly enable tracing for HttpClient)

[2021-07-27 22:20] danmoseley commented on #51258
Is there a file in the repo that contains the PGO update, then I can correlate it's history (ie., how do I know when there was an update)

[2021-07-27 22:24] #53223 closed

[2021-07-27 22:24] danmoseley commented on #51258
Do we still see significant impact from this? I guess there are next steps left in https://github.com/dotnet/performance/issues/1602

On that subject, I guess remaining work on code alignment in https://github.com/dotnet/runtime/issues/43227 will have to be prioritized one way or another for next cycle too.

[2021-07-27 22:30] josalem commented on #49804
The fix for what I believe you were hitting went out int he July servicing update of .net3.1 and .net5.0. I'll close this issue for now, but feel free to reopen it if you encounter this again.

[2021-07-27 22:30] #49804 closed

[2021-07-27 22:31] AndyAyersMS commented on #51258
If you look at the [test history data from the lab](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory/refs/heads/main_x64_ubuntu%2018.04/System.Collections.ContainsKeyFalse(String%2c%20String).IDictionary(Size%3a%20512).html) you can select a particular perf jump and left-click on the before level and "set baseline" and do the same for the after level and set compare.

Then you can

[2021-07-27 22:40] josalem commented on #55240
duping this to #55441

[2021-07-27 22:40] #55240 closed

[2021-07-27 22:40] paul1956 commented on #56066
@buyaa-n I currently don't have apps that use exception log, I am working on a consumer medical display application where it would be very useful but as I said [here](https://github.com/dotnet/runtime/issues/56066#issuecomment-887157115) the information to get it to work is missing. Where do I find "copy over the shared test app.config". All the app.config files that get installed with .Net have s

[2021-07-27 22:53] josalem commented on #28772
Is this still an issue? The last comments on this are from over 2 years ago at this point.

[2021-07-27 22:56] hoyosjs commented on #28772
Test is still disabled in outerloop

[2021-07-27 22:58] omajid commented on #56394
I am not familiar with musl, but I took a quick look:

[code]

So musl doesn't have any reference to "nuclear facility", the concerning bit from THIRD-PARTY-LICENSE.TXT.

[2021-07-27 22:58] GASA94 commented on #56409
that does sound very similar to my problem, the proyect is on netcore 3.1, so i will have to wait for the patch then.

[2021-07-27 22:58] #56409 closed

[2021-07-27 22:59] hoyosjs commented on #56280
Fixed in #56382

[2021-07-27 22:59] #56280 closed

[2021-07-27 23:05] brianrob commented on #50782
Thanks @tmat!

[2021-07-27 23:18] SLavaLL commented on #56217
I ran this code - nothing has changed.
[code]
How can I trace HttpClient.
Above, I applied packets received using Wireshark.

[2021-07-27 23:25] #56252 closed

[2021-07-27 23:41] #44533 closed

[2021-07-27 23:52] JamesNK commented on #56362
Does using `RemoteCertificateValidationCallback` to get the certificate mean we would lose the built-in certificate validation functionality?

[2021-07-27 23:52] terrajobst commented on #53084
Do guard methods provide the same stacking behavior as the supported attributes do? If so, then @jeffhandley's logic should apply to guard methods too.

[2021-07-27 23:54] echesakovMSFT commented on #48776
I was thinking how to mitigate the issue and one of the ideas was to have two separate calls to `Math.Sin` and `Math.Cos` (under `TARGET_WINDOWS`) in managed implementation of `Math.SinCos` in S.P.CoreLib to avoid the issue with MSVC codegen.

Unfortunately, such approach doesn't improve the situation much.

As an example, this is what `Math.SinCos` would have looked if we had that implementation

[2021-07-28 00:09] StephenMolloy opened #56440 "Document empty element behavior for DateTimeOffset and TimeSpan"
_Originally posted by @mconnew in https://github.com/dotnet/runtime/pull/55101#discussion_r670037877_

The gist is that for most primitive types, an empty element is impermissible. Nulls are represented with `xsi:nil` and 'default' values are implied by the abscence of the element. Empty elements result in exceptions for most types... except DateTimeOffset and TimeSpan.

The reasoning for these tw

[2021-07-28 00:29] jeffhandley commented on #53084
Here's a representation of what I think can be inferred for the guard attributes:

[code]

[2021-07-28 00:40] josalem commented on #56052
As part of starting to look at this, I wanted to document a few thoughts that came to mind about this feature request:

* EventSources create native representations of themselves that get registered with EventPipe and ETW. If we break the restriction of their being only one provider for a given GUID will we be causing issues in these other systems? Does this increase the potential for a change lik

[2021-07-28 00:43] tannergooding commented on #48776
The two calls in C++ get intrinsified to a call to the internal `__sincos` helper method which does "less work". I think the issue is really due to the shuffling that is happening since C++ has to assume its being used a particular way that doesn't match up with the intrinsic signature.

[2021-07-28 00:44] layomia commented on #45448
Adding a proposal to update the APIs to configure and use JSON source generation. This covers functionality added since the last review. Most of this functionality is prototyped/checked into .NET 6 and would only need minor clean-up, depending on how the review goes. cc @steveharter @eiriktsarpalis @eerhardt @stephentoub @ericstj

---

#### APIs for source-generated code to use

[code]

#### APIs

[2021-07-28 00:46] davidwrighton commented on #6924
This codebase has buckets of unit tests, but also buckets of emergent behavior that are customer visible such as exception ordering, assembly load ordering etc, and lots of extremely obscure corner cases. Unfortunately, the code that this impacts (field layout) is some of the most sensitive code in the runtime to odd, subtle, and obscure failure modes which are difficult to test. (We have thousand

[2021-07-28 00:46] JamesNK commented on #56362
Stuff:
1. I see `RemoteCertificateValidationCallback` has a SslPolicyErrors argument. Can the method return false if the value is not `SslPolicyErrors.None` to keep the default validation behavior?
2. `RemoteCertificateValidationCallback` on the server doesn't seem to get executed for me. As far as I can tell I have the same configuration options as your test. `RemoteCertificateValidationCallback`

[2021-07-28 01:05] acaly commented on #45366
Will this API be considered hopefully in 7.0?

[2021-07-28 01:07] wfurt commented on #56362
yes, default validation is always called and you cannot not avoid that (if you want to)
It will pass the chain and the result to the callback so:
1) yes, SslPolicyErrors.None means certificate and chain is good.
2) for this one I'm not sure. I can re-run the test and see if we broke something recently in attempt to validate the name as well (or something else)
3) the callback _should_ give you the

[2021-07-28 01:14] echesakovMSFT commented on #48776
Yes, I understood this part. I was more thinking what could be done now (in 6.0.0) to mitigate that problem.

@tannergooding Do you know if the helper can be called directly? It looks that it has some "custom ABI" - the values of both `sin` and `cos` returned as components of `xmm0` register. As an idea, we could introduce a "private" hardware intrinsic on win-x64 `Vector128<double> SinCos(double)

[2021-07-28 01:35] #31274 closed

[2021-07-28 01:50] #56376 closed

[2021-07-28 02:02] joshudson commented on #24271
So this doesn't trouble me anymore; I will be content to carry around my own static file provider as long as necessary; however a good test for your own symbolic link API would be fixing this: https://github.com/dotnet/aspnetcore/issues/2774 ; the bug is due to calling new FileInfo() and getting back a length of 0 and not serving any data; should be a trivial fix if your symbolic link API is right

[2021-07-28 02:09] wsq003 commented on #49044
I believe #52558 had solved the problem concerned.
So this issue will be closed.

[2021-07-28 02:09] #49044 closed

[2021-07-28 02:10] VincentBu opened #56444 "Failure test:baseservices/exceptions/simple/ParallelCrashWorkerThreads/ParallelCrashWorkerThreads.sh"
Run [runtime-coreclr jitstress 20210726.1
](https://dev.azure.com/dnceng/public/_build/results?buildId=1260236&view=ms.vss-test-web.build-test-results-tab&runId=37356246&resultId=111085&paneView=debug)
Failed test:
[code]
**Error message:**
[code]

[2021-07-28 02:13] wfurt commented on #56292
This is easy to reproduce. The test actually expects failure e.g. IOException.
The problem is that we throw
[code]

My initial reaction was to add it to expected exceptions. But that seems wrong since Quic is not public so there would be no way for users to catch it.

It seems like the right action would be to catch all Quic exceptions and convert them to either HttpRequest or IOExceptions. Though

[2021-07-28 02:18] layomia commented on #53241
I propose that we fix the regression for string keys, then address the other primitive types in .NET 7 using #46520. For 6.0, this would mean that if other primitives like `int` are used as dictionary keys, and a custom converter is needed for the `int` type, the user would need to implement a custom converter for `Dictionary<int, Value>`. PR - https://github.com/dotnet/runtime/pull/56445.

[2021-07-28 02:20] stephentoub commented on #56292
They can still catch it, just as the base Exception.

In what situation do these exceptions escape unwrapped to the caller?  From HttpClient we typically expect all exceptions to be wrapped in an HttpRequestException, or if coming out of a Stream, in an IOException.

[2021-07-28 02:25] wfurt commented on #56292
Looking at it again, it actually escapes at server side e.g. loopback
[code]
[code]

So I guess less pressing but what the fix should be? Should Http3 loopback wrap or should we add the alternative Quic exceptions to tests as we see fit?

I'll keep eyes on the client side. I just go to moving up from Quic to focusing on HTTP tests.

[2021-07-28 02:27] brianrob commented on #56052
@josalem your questions here are great and definitely worth considering.  The primary reason for single instancing EventSources was that Vance was of the belief that you shouldn't need to create any more than one, and that creation of multiple was generally wrong from a performance perspective.  From that perspective, we have evolved the runtime such that now it is more likely to end up with the n

[2021-07-28 02:28] JamesNK commented on #56362
Passing `QuicConnection` as sender in the callback doesn't really help. There is no property bag on `QuicConnection` to stash the certificate on so they return from `AcceptConnectionAsync` together.

Simplest solution is adding a `public X509Certifiacate2 PeerCertificate { get; }` property on `QuicConnection`.

[2021-07-28 03:16] qinhuaihe opened #56556 "dotnet publish with aot enabled failed"
### Describe the bug
I was publishing my blazor wasm with aot enabled. And I met some exceptions. I don't know how to figure out this problem.
Please help me, Thank you.
### To Reproduce

### Exceptions (if any)

[code]
### Further technical details
- ASP.NET Core version
`.net 6`
- Include the output of `dotnet --info`
[code]
- The IDE (VS / VS Code/ VS4Mac) you're running on, and its version

[2021-07-28 03:18] tomaszmalik commented on #56391
This is it. Now it works as before.
Thank you @jkoritzinsky !

[2021-07-28 03:19] #56391 closed

[2021-07-28 03:35] echesakovMSFT commented on #48776
We can tweak the native helper signature - only return a value of `cos(x)` by reference.

[code]

The resulting codegen for the helper is smaller https://godbolt.org/z/Ws7GPen8f on MSVC while it still uses the "faster" `sincos`. I would also expect some improvements in the codegen for managed portion of `Math.SinCos`.

[2021-07-28 03:51] hoyosjs commented on #47634
There's something odd here - this test isn't disabled but I can't find any runs of it on main in the last 30 days... I can see eventcounter and eventpipe getting run. I can't see any of: "eventlistener" "runtimeeventsource" or "eventactivityidcontrol". I can see some of them ran against 5.0.

[2021-07-28 03:59] bbartels commented on #46236
Hi Julie,
definitely still interested, however I don't know when I can get around to doing it, uni is keeping me very busy at the moment.

[2021-07-28 05:20] noahfalk commented on #56052
Fully agree that there are likely to be some ramifications to be explored. In terms of servicing my suggestion would be:
1. We should do some scenario validation / thinking about the code ourselves for any of the cases where we forsee potential trouble.
2. We should add an explicit opt-in config switch so that if our exploration in (1) missed some of the issues we have greatly limited which custom

[2021-07-28 05:42] WeihanLi opened #56448 "HttpClient question about auto redirection"
If the `HttpClient` sends a request redirected, could we get the original redirect response?

For example, I send a request which the server returned a 302 response, could I get this response with auto redirect enabled?

[2021-07-28 06:26] Thefrank commented on #56079
lttng-ust on FreeBSD is extremely old (2.9.0 from 2017) and has no maintainer. It really should not be used/required but currently (net6 previews) not having `-DFEATURE_EVENTSOURCE_XPLAT` causes segfaults.

[2021-07-28 06:28] noahfalk commented on #50454
@eerhardt - I am guessing this work is not planned for 6.0 at this point? I'm changing the milestone but if this was something you plan to do you are welcome to change it further.

[2021-07-28 06:57] jkotas commented on #56394
@alexcovington Where did the "License notice for Sun Microsystems" you have added in #42476 came from? The Sun license notice in musl is much simpler: https://github.com/bminor/musl/blob/master/src/math/scalb.c

[2021-07-28 07:19] loop-evgeny commented on #56376
Wow, a fix in less than a day! Thanks very much, @stephentoub . Will this be in 6.0.0-preview.8 ?

[2021-07-28 07:46] noahfalk commented on #48342
The bug appears to be that we are holding the lock while calling Dispose() [here](https://source.dot.net/#System.Private.CoreLib/EventSource.cs,4278). We've already resolved a similar issue in the past and went out of our way in [EventProvider.Dispose()](https://source.dot.net/#System.Private.CoreLib/EventProvider.cs,204) to avoid having the lock held. However grabbing the lock outside of Dispose(

[2021-07-28 07:56] wsq003 commented on #56448
I believe `AllowAutoRedirect = false` would help.

[code]

[2021-07-28 07:59] WeihanLi commented on #56448
Yeah, of course we could, so I'm asking about with get the response with auto redirect enabled

[2021-07-28 08:11] ViktorHofer opened #56449 "Long running test: ResolutionsWaitingOnQueue_ResolutionStartCalledBeforeEnqueued"
Looks like recent regression on 7/26

Failures 7/8-7/28 (incl. PRs) -- all of them Mono Interpreter (from console log) on Debian.9.Amd64.Open:

Day | Run
-- | --
7/26 | PR #56271
7/27 | PR #56417
7/27 | PR #56424
7/27 | PR #56321
7/27 | PR #56224
7/27 | PR #53338
7/27 | PR #56379
7/27 | PR #56374
7/27 | Official run
7/27 | PR #56346
7/27 | PR #56346
7/27 | PR #56347
7/27 | PR #55849
7/27 | PR #553

[2021-07-28 08:14] ViktorHofer commented on #56428
If the validation code allows to reference a source project that doesn't have a reference project but only a source one, i.e. System.Composition*, then sure please send a PR.

[2021-07-28 08:15] xPaw commented on #55527
I've looked more into this, and I don't really understand why this behavior needed to change. It seems that CryptoStream.Read() works in chunks of 16 bytes, so if you give it 1440 bytes, it returns as expected. Adding one extra byte will require a second Read() call to get that single byte. This just feels like CryptoStream is missing a handler for the remaining <16 byte chunk.

*The chunk size is

[2021-07-28 08:16] karelz commented on #56376
Yes, it will be in Preview8 (aka RC1)

[2021-07-28 08:22] emepetres opened #56783 "[net6.0][BlazorWasmSdk] build does not link native files"
Blazor WASM SDK only links native libraries on `dotnet publish`, so it is not possible to debug the solution while using native linking. The reason is that emscripten targets seems to be only executed on publish.

I've been playing with `WasmBuildAppAfterThisTarget` property but no luck.

How could I link native files on dotnet build?

Sample csproj:
[code]

[2021-07-28 08:23] #48663 closed

[2021-07-28 08:27] #53637 closed

[2021-07-28 08:28] karelz commented on #56448
There is no way to get to the original response when Auto redirect is enabled.
Disabling it is the only way to get to it.

Closing as answered.

[2021-07-28 08:28] #56448 closed

[2021-07-28 08:32] WeihanLi commented on #56448
Thanks

[2021-07-28 08:47] karelz commented on #56449
@MihaZupan looks like Telemetry related. Any thoughts here?

[2021-07-28 08:52] karelz commented on #56217
This is concerning. Debugging one machine problem which we cannot reproduce ourselves is super hard and time consuming.
Did you consider debugging the code side-by-side on working and failing machine to see where is the difference?

Typical suspects would be corrupted OS/.NET installation, or some weird configuration.
Here are some options you might want to try:
- .NET 6 latest Preview or .NET 5 s

[2021-07-28 08:56] karelz commented on #56295
THanks @MattGal for tracking it down! I assume it may help us also with the same problem on SLES - see #55271.

[2021-07-28 09:21] hoyosjs commented on #47634
Indeed. #56447 modified the test and no failures were seen, even though the test priority is 0 @josalem

[2021-07-28 09:23] noahfalk commented on #54284
@mikem8361

[2021-07-28 09:40] Junjun-zhao commented on #56290
@jeffschwMSFT  @agocke

6.0.100-preview.7.21320.2 is the last SDK working, so, we published the app using latest SDK(not working) and using 6.0.100-preview.7.21320.2 SDK(working).
we guess this is CLR issue, so it is hard to repro from code, we created minidump in both apps after we do the Kruskal step, then in windbg, compare the results :

Difference is Fail does not call **MS.Win32.UnsafeNative

[2021-07-28 09:42] MihaZupan commented on #56449
This is a quite new test, but [every possible wait is behind a timeout](https://github.com/dotnet/runtime/blob/cf52b7e38d28b7e28358cee052effe0ed47efb2e/src/libraries/System.Net.NameResolution/tests/FunctionalTests/TelemetryTest.cs#L154). It should never hang.

Given that this is only hanging on the mono interpreter, I suspect it's an issue with the interpreter rather than the test/product.

[2021-07-28 09:54] Junjun-zhao commented on #56290
@agocke  Thanks for helping look into this issue. Could you please help confirm whether this is blocker for Preview7?

[2021-07-28 09:55] MaximLipnin commented on #37071
Is `System.Configuration.ConfigurationManager` supported on Android?

For example, for Browser it's marked as unsupported
https://github.com/dotnet/runtime/blob/main/src/libraries/System.Configuration.ConfigurationManager/Directory.Build.props#L6
and the respective tests are ignored for CI.

[2021-07-28 09:55] jakobbotsch commented on #56402
I don't seem to be able to reproduce this:

[code]
|       Method |        Job |    Toolchain | Size |     Mean |    Error |   StdDev |   Median |      Min |      Max | Ratio | Gen 0 | Gen 1 | Gen 2 | Allocated | Code Size |
|------------- |----------- |------------- |----- |---------:|---------:|---------:|---------:|---------:|---------:|------:|------:|------:|------:|----------:|----------:|
|

[2021-07-28 09:55] karelz commented on #56449
@MihaZupan do you have data how often it fails? Or was it just this one occurrence we are aware of?

@marek-safar to triage it for Mono interpreter ...

[2021-07-28 10:12] karelz opened #56454 "Test failure: ConnectWithCertificateForDifferentName_Throws - NullReferenceException"
Test: System.Net.Quic.Tests.MsQuicTests.ConnectWithCertificateForDifferentName_Throws

Failures 5/28-7/28 (incl. PRs)

Day | Failures
-- | --
7/26 | 2x PRs -- PR #56281, PR #56306
7/27 | 4x PR -- PR #56367, PR #56215 (Mono), PR #56387, PR #56430
7/28 | PR #56463

[code]

[2021-07-28 10:16] #35374 closed

[2021-07-28 10:16] CarnaViire commented on #56454
I guess the root cause is the same as in https://github.com/dotnet/runtime/issues/56263 and it will most possibly be fixed in https://github.com/dotnet/runtime/pull/56283

[2021-07-28 10:17] adamsitnik commented on #35374
@SittenSpynne big thanks for a detailed bug report! it got fixed in #56370 and is going to be a part of .NET 6 RC1

[2021-07-28 10:18] karelz commented on #56454
@CarnaViire it is weird that it started failing few days later than the related issue #56263.
I will rather disable it now and we can re-enable and retest once the PR is merged. What do you think?

[2021-07-28 10:21] jakobbotsch commented on #56402
I also tried downloading the baseline and compare from the issue and I get the same improvement:
[code]
|       Method |        Job |         Toolchain | Size |      Mean |     Error |    StdDev |    Median |       Min |      Max | Ratio | RatioSD | Code Size | Gen 0 | Gen 1 | Gen 2 | Allocated |
|------------- |----------- |------------------ |----- |----------:|----------:|----------:|----------

[2021-07-28 10:43] MihaZupan commented on #56449
Looks like 18 times so far, consistently failing on `debian.9.amd64.open.rt` with interpreter.

[2021-07-28 11:03] am11 commented on #56079
@Thefrank, #56435 fixes the issue for all community-maintained platforms by limiting LTTng to Linux.

Btw, LTTng-ust doesn't need to be recent to get the instrumented probes values out, which is more or less the scope of .NET runtime's LTTng contract. Secondly, there is no API difference in 2.9.0 and 2.13.0 (latest). Finally, if package is rotted, it should be removed from the ports / management s

[2021-07-28 11:13] MaximLipnin commented on #43928
The underlying issue has been addressed so we can close it.

[2021-07-28 11:13] #43928 closed

[2021-07-28 11:45] adamsitnik opened #56459 "Assertion failed in PoolingAsyncValueTaskMethodBuilderT"
@stephentoub I've found one interesting failure in the [logs](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-56424-merge-c50d453f92c741ee9a/System.IO.FileSystem.DisabledFileLocking.Tests/console.c1d1b5ac.log?sv=2019-07-07&se=2021-08-16T22%3A05%3A14Z&sr=c&sp=rl&sig=befKPtSZ4zIoEl4wOIu9%2BLoUlQkS0bJzg2eIM%2FlwxNs%3D) of the CI run for #56424.

[code]

Doest it mean w

[2021-07-28 11:45] SLavaLL commented on #56217
Yes, I can debug the application on different computers, where the application is running, and where it gives an error.

An application built on another computer, in self-contained mode, gives the same error.

An application built for Visual Studio 2022, .Net 6 (Preview) returns an error:

Of course, I can reinstall Windows on my computer, but I'm worried that if I start distributing the applicati

[2021-07-28 11:52] stephentoub commented on #56459
What assert triggered?

[2021-07-28 11:59] EgorBo commented on #55001
Minor optimization, doesn't meet the bar for .NET 6.0, moving to 7.0

[2021-07-28 12:00] EgorBo commented on #52370
https://github.com/dotnet/runtime/pull/55124 found only just a few cases in real-world app and since it's just an opt - I'm moving it to 7.0

[2021-07-28 12:01] EgorBo commented on #50419
A minor issue, doesn't affect perf/correctness so moving to 7.0

[2021-07-28 12:08] CarnaViire commented on #56454
Sure. I just commented so we wouldn't forget about it

[2021-07-28 12:11] adamsitnik commented on #56459
To be honest I don't know. The log points to a line of code that has no assert at all:

Stack trace:

https://github.com/dotnet/runtime/blob/main/src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/PoolingAsyncValueTaskMethodBuilderT.cs#L419

https://github.com/dotnet/runtime/blob/d1b866eb2f6f5cb27ca8cc7b5e835a97e4148cea/src/libraries/System.Private.CoreLib/src/System/Threadin

[2021-07-28 12:20] EgorBo commented on #56402
@jakobbotsch I usually invoke benchmarks like this:
[code]
but I guess it's the same as you do.
I also pass `--iterationTime 500` sometimes.

[2021-07-28 12:30] karelz commented on #56217
Great, that should tell us best what is different on the working and failing machine ...

I understand what you mean. However, try to look at it also from another point -- right now there is no evidence it is more than one machine problem (which may be corrupted installation, HW problems and other "magic"). As such, we will be happy to help and support you, but realistically it is not something we

[2021-07-28 12:50] MarekPokornyOva commented on #50170
If there's anybody interested in async XSLT, consider to look at https://github.com/MarekPokornyOva/XsltAsyncExperiment/tree/Async02.

Does anybody know if MS would mind to add such functionality as part of a future .NET release? Or was the topic discussed and dropped/postponed?

[2021-07-28 12:51] eiriktsarpalis commented on #45366
We can certainly take a look. I have updated the milestone.

[2021-07-28 13:06] k15tfu commented on #51250
@mangod9 @janvorli Hi! After upgrading to `dotnet-sdk-6.0.100-preview.6.21355.2-osx-arm64`, it looks much more stable and I see only few failues among 10K runs on macOS 11.5 (2x System.NullReferenceException, 2x SIGSEGV):

1.
[code]

2.
[code]

3.
[code]
(full log is here [dotnet_2021-07-27-014106.crash.txt](https://github.com/dotnet/runtime/files/6893261/dotnet_2021-07-27-014106.crash.txt))

and

[2021-07-28 13:09] zlatanov commented on #56459
I want to ask something about the this code fragment:

https://github.com/dotnet/runtime/blob/38477909eeb6296664cc184d461035b1774ea2df/src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/PoolingAsyncValueTaskMethodBuilderT.cs#L356-L367

What happens if the running thread is suspended right after executing line 360
[code]
and then resumed on another processor? Wouldn't that mak

[2021-07-28 13:17] msneijders opened #56464 "System.IO.Directory.GetFiles with searchFilter is about 1000 times slower compared to .net framework"
### Description

See code below, `System.IO.Directory.GetFiles` is *much* slower in dotnet 5.0 compared to net 471.

[code]

### Configuration

Windows 10 Pro

### Regression?

Regression from net471

### Data

            // Folder size: 140.000 files -- 4 files matching searchFilter
            // net5.0: 3.3 seconds
            // net471: 0.0033 seconds (1000 times faster)

[2021-07-28 13:21] stephentoub commented on #56459
It's possible the assert could erroneously fire if between the two expressions in the assert the value went from non-null to null. I can fix that, but this doesn't correspond to the flagged stack trace.

[2021-07-28 13:23] #44526 closed

[2021-07-28 13:24] zlatanov commented on #56459
@stephentoub I think it might, because `PerCoreCacheSlot` is marked with `[MethodImpl(MethodImplOptions.AggressiveInlining)]` which is called from `ReturnToCache` method which also is being aggressively inlined, which in turn is called from `void IValueTaskSource.GetResult(short token)`.

[2021-07-28 13:27] stephentoub commented on #56459
Hmm.  Maybe?  That would mean the line number is wrong.

[2021-07-28 13:37] #56200 closed

[2021-07-28 13:39] zlatanov commented on #56459
If you run the following code with `dotnet run`

[code]
you should see something like
[code]

Line 7 is the start of the Main() method and not where the assert occurred. If I change the `Debug.Assert` with a throw statement, then the output is:

[code]

[2021-07-28 13:39] karelz commented on #56454
Test disabled by PR #56456 on 7/28.

[2021-07-28 13:41] stephentoub commented on #56459
Yes, but with the corresponding stack trace, it was highlighting the line inside the try, e.g. in your example it would have been line 10.

[2021-07-28 13:44] zlatanov commented on #56459
I am not sure if this was checked build, where the test are run with optimizations on, but if I add

[code]

to the csproj, then the output with `Debug.Assert(false)` becomes:

[code]

[2021-07-28 13:46] stephentoub commented on #56459
It would have to be, given inlining plus asserts.

[2021-07-28 13:47] stephentoub commented on #56459
Right, which suggests there's an issue with how line numbers are being mapped in such cases.

[2021-07-28 13:54] simon1749 opened #56469 "EventLogRecord.GetFormatDescription() throws "The specified resource type cannot be found in the image file." exception"
### Description

EventLogRecord.GetFormatDescription() throws "The specified resource type cannot be found in the image file." exception.  while querying the Windows EventLog

Here is the StackTrace:

   at System.Diagnostics.Eventing.Reader.EventLogException.Throw(Int32 errorCode)
   at System.Diagnostics.Eventing.Reader.NativeWrapper.EvtFormatMessageRenderName(EventLogHandle pmHandle, EventLogHa

[2021-07-28 13:57] eerhardt commented on #50454
Correct. This is a new API and 6.0 has reached feature complete.

[2021-07-28 13:59] stephentoub commented on #56464
cc: @JeremyKuhne, @adamsitnik

[2021-07-28 14:00] SLavaLL commented on #56217
This code:
[code]

returns this error:

[2021-07-28 14:04] Korporal commented on #6924
@davidwrighton - Thank you for this detailed overview, I do appreciate it as it clarifies why some of this stuff is regarded as it is by the team. I do wish I had the time to immerse myself into the codebase but I sadly do not, I'm sure its very involved too and would take weeks before I began to grasp the necessary subtleties; once again, thanks.

[2021-07-28 14:10] adamsitnik commented on #43908
I've moved it to 7.0 as I simply don't see us having time to finish it for 6.0. Please feel free to send a PR and prove me wrong ;)

[2021-07-28 14:12] adamsitnik commented on #44767
Fixed by #45139, closing

[2021-07-28 14:12] #44767 closed

[2021-07-28 14:13] lambdageek commented on #54284
I think the new capability went in (#54619).  But we don't have a testcase.

[2021-07-28 14:15] stephentoub commented on #56464
It depends.  I see similar results as with your repo, but when I change the filter to match most of the files rather than very few of the files, .NET 5 ends up being much faster.

[2021-07-28 14:22] lambdageek commented on #54586
@pranavkm ^ Possibly `dotnet watch` doesn't follow directory symlinks?

@optimizasean I'm a a little bit unclear on the directory setup.  Can you tell me a couple of directory names and all the symlinks from one folder to another, and in which directory you run `dotnet watch`.

[2021-07-28 14:29] karelz commented on #55969
Duplicate of #54034

[2021-07-28 14:29] #55969 closed

[2021-07-28 14:33] mangod9 commented on #56444
@janvorli I remember you discussing the unicode -> utf8 conversion issue yesterday. Is this assert related to the same issue?

[2021-07-28 14:34] janvorli commented on #56444
Yes, this is the issue I've fixed

[2021-07-28 14:35] janvorli commented on #56444
By #56388

[2021-07-28 14:36] jeffschwMSFT commented on #56290
Based on this analysis this looks like a UI difference, adding @merriemcgaw to see if this rings a bell.

[2021-07-28 14:36] mangod9 commented on #56444
Ok closing based on that.

[2021-07-28 14:36] #56444 closed

[2021-07-28 14:43] mangod9 commented on #51250
Ok, thanks for checking. Jan recently also fixed another issue which might be contributing to this, so that should be included in rc1.

[2021-07-28 15:00] svick commented on #56365
What exactly are the use cases where this would be useful? What makes them so common that this should be part of .Net, and not just a NuGet package?

If most uses are together with another API (like `SFTPClient` in the example), wouldn't it be better if these types were part of that API?

Also, is it necessary to copy everything from `Path`, or would a subset of the members suffice for the majorit

[2021-07-28 15:04] mangod9 commented on #52359
This appears to be fixed.

[2021-07-28 15:04] #52359 closed

[2021-07-28 15:18] mangod9 commented on #55663
Is this a requirement for .net 6?

[2021-07-28 15:27] MattGal commented on #56295
Yes, I'd expect this to help that as well, though it missed this week's "train" and wouldn't roll out until next Weds.  Fingers crossed.

[2021-07-28 15:31] mveril commented on #56365
Hello @svick
SFTPClient is just a simple example. Actually I am aiming to create an object oriented C# wrapper for [libimobiledevice](https://github.com/libimobiledevice/libimobiledevice) which is an API for interacting with iPhones and iPads and I am currently using the UnixPath library of [mono ](https://www.nuget.org/packages/Mono.Posix.NETStandard) to manipulate iOS paths (for [Apple File Cond

[2021-07-28 15:37] pranavkm commented on #54586
@Jozkee am I correct in understanding that https://github.com/dotnet/runtime/pull/52679 does not allow the FSW to follow symlinks in subdir?

@optimizasean you could consider using the polling file watcher https://docs.microsoft.com/en-us/aspnet/core/tutorials/dotnet-watch?view=aspnetcore-5.0#dotnet-watch-configuration for your app's setup.

[2021-07-28 15:39] krwq commented on #43791
@marek-safar we've moved most of the issues marked as `enhancement` to 7.0.0/Future - must've missed the comment. Should this issue have `arch-wasm` - this way it will disappear from our radar?

[2021-07-28 15:42] b-iotti opened #56474 "ComWrappers feature imbalance between platforms"
As a part of enabling support for [`ComWrappers`](https://docs.microsoft.com/dotnet/api/system.runtime.interopservices.comwrappers) on non-Windows platforms, the feature availability across platforms is now different.

Once the contents of #54838 are in place, non-Windows platforms will be allowed to use the `IUnknown` interfaces.

Currently, the following are Windows-only:
- [ ] Marshalling - Som

[2021-07-28 15:45] svick commented on #56365
So what's wrong with continuing to use that? Why should anything be added directly to .Net, if Microsoft already publishes a library that can do what you need?

[2021-07-28 16:00] lambdageek commented on #55733
Fixed by #55845

[2021-07-28 16:00] #55733 closed

[2021-07-28 16:14] xtqqczze commented on #13699
`n ?? -1` can be optimised too:

[code]

[code]

https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAZgAJiAmcgYQFgAoAbyfPcooEsA7DOiNgA2MXGBgBRBAAdYuXFwg8AFLwwB+cjwCU5Vow6HKAdi3l1muAEYA3Gw4Bfe+zLk15APLSMXfF1wwACaqfJo6es5GXABm5Mo8AHQAEngAasIArjDakUYcxKaJAOIwGOlCWR5QACIw0dgZQhjK2nYGeSbk1m2GTowOQA==

[2021-07-28 16:17] FWest98 commented on #51601
I am encountering this issue as well. I currently can't build `System.DirectoryServices.AccountManagement` (or any of the associated tests) . I got many of the `CS0006` errors (metadata not found). After updating the sln file to the entry in #56430, I get the same errors about seed assemblies as above https://github.com/dotnet/runtime/issues/51601#issuecomment-887712604...

Is there anything I can

[2021-07-28 16:23] #55885 closed

[2021-07-28 16:29] eiriktsarpalis commented on #56212
Doing a bit more digging -- the root cause appears to be [this method](https://github.com/dotnet/runtime/blob/141bd34eaf70518a7b6a4520e68624e8703529f6/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs#L130) which seems to applying different logic depending on whether the property type is a collection or not.  Not sure why though, I couldn't find any com

[2021-07-28 16:35] #55999 closed

[2021-07-28 16:40] eerhardt commented on #38433
Is this going to be completed for .NET 6? Using AppContext switches is becoming more and more important in order to support feature switches. For example, the plan in https://github.com/dotnet/runtime/pull/55102 is relying on the fact that an AppContext switch will be set in applications that will be trimmed during `F5/dotnet run`.

[2021-07-28 16:42] karelz opened #56477 "Massive long running tests on Linux"
Failures **7/8-8/13 (incl. PRs)**:

Day | Run | OS | Notes | Runtime
-- | -- | -- | -- | --
7/16 | PR #55776 - Preview 7 branch| Fedora.32.Amd64.Open | 32 tests | CoreCLR
7/16 | PR #55710 | Centos.8.Amd64.Open | 37 tests | CoreCLR
7/16 | PR #55666 | Centos.8.Amd64.Open | 39 tests | CoreCLR
7/21 | PR #56035 - Preview 7 branch | Ubuntu.1604.Amd64.Open | 43 tests | CoreCLR
7/21 | PR #55664 | Alpine.3

[2021-07-28 16:43] SamMonoRT commented on #38433
Yes, a PR should be up soon

[2021-07-28 16:46] eiriktsarpalis commented on #56212
We seem to have a test that validates the behavior as reported: https://github.com/dotnet/runtime/blob/ec2d25c03fb91d8897277f2b732b71f903b87b1a/src/libraries/System.Text.Json/tests/Common/PropertyVisibilityTests.cs#L1003-L1013
Again, I don't have context as to why we're doing this, but likely we're closing this as by-design behavior.

[2021-07-28 16:48] mikem8361 commented on #55058
Both David and I have confirmed that parameter renaming does work with the latest sdk's dotnet-watch. I'm closing this issue.

[2021-07-28 16:48] #55058 closed

[2021-07-28 16:50] jacobslusser commented on #56273
@mayorovp, I'm sorry, I'm not sure I'm following your example.... If you reuse the `SequenceReader` by `ref` on two different parsers, then I would agree this would be the expected behavior.

Maybe we need to separate the API question from the parser example I provide and just decide if there is merritt on its own for a `ConsumedSequence` property?

[2021-07-28 16:55] lambdageek commented on #56335
(Adding myself, too, because it's probably broken in Mono, too)

[2021-07-28 17:00] Georgiks commented on #56212
Understood, thanks anyway.

[2021-07-28 17:07] karelz opened #56478 "System.Net.Security test run killed on Mono Linux"
System.Net.Security test suite is rather often killed on Mono - Linux (mostly RedHat 7 and SLES 12)
- High frequency -- failure ~1/day

Data from 7/8-8/23 (incl. PRs) ... with console logs verified:

Day | Run | OS
-- | -- | --
7/14 | Official run | SLES.12.Amd64.Open
7/15 | PR #55724 | RedHat.7.Amd64.Open
7/18 | Official run | RedHat.7.Amd64.Open
7/19 | Official run | SLES.12.Amd64.Open
7/19 | Of

[2021-07-28 17:13] hoyosjs commented on #55312
Haven't seen this since the fix went in.

[2021-07-28 17:13] #55312 closed

[2021-07-28 17:17] ViktorHofer commented on #46400
Completed :)

[2021-07-28 17:17] #46400 closed

[2021-07-28 17:29] Tratcher commented on #40159
I'm hitting this null ref again on main. I've followed the normal libraries build instructions from https://github.com/dotnet/runtime/blob/main/docs/workflow/building/libraries/README.md
and then tried to load `build.cmd -vs System.Net.Quic` in VS 2019 16.11 Preview 2 and VS 2022 Preview 3.

I've rebooted, cleaned, and rebuilt the repo but am still hitting this. Any other workarounds?

[2021-07-28 17:29] ericstj commented on #51601
Try updating https://github.com/dotnet/runtime/blob/a6b9a63f3521d8217c3639aefd97001287f78ae8/eng/Versions.props#L59
To 6.0.0-beta.21378.2

The fix for the seed assemblies change hasn't made it into dotnet/runtime yet.

[2021-07-28 17:32] steveisok opened #56480 "[Mono] AOT compiler segfaults when building tests"
Discovered in https://github.com/dotnet/runtime/pull/56316

When we go to AOT our functional tests, the aot compiler crashes with a segmentation fault (11).  When peeling back what's going on, the backtrace shows us:

[code]

If we go to the 2nd frame and print the important method details, we get:

[code]

Which leads to this block that was changed in the PR  #56316 https://github.com/dotnet/runt

[2021-07-28 17:39] hoyosjs commented on #52334
Closing this one; the tracking issue doesn't exist anymore and I haven't seen this. We can open if it happens again.

[2021-07-28 17:39] #52334 closed

[2021-07-28 17:41] karelz commented on #56295
@MattGal no rush - if the number of affected distros doesn't go up in the meantime, we can live in this state for a while.

[2021-07-28 17:41] hoyosjs commented on #51585
Closing as there's no hits; #54921 tracks the centralized restore.

[2021-07-28 17:41] #51585 closed

[2021-07-28 17:43] alexcovington commented on #56394
@jkotas If I remember right, it was this one: https://github.com/simonbyrne/libmcr/blob/master/copyright

[2021-07-28 18:08] josalem commented on #47634
That's bizarre. Why would a test not be running? Looking in issues.targets I see it's disabled for Unix ARM and Windows ARM, but not other platforms. How far back can you see in the history? When was the last time this test was run on main? If you put a more obvious failure like an `Assert(false)` in #56447, so you see it fail?

[2021-07-28 18:14] eiriktsarpalis commented on #56212
After private discussion with @layomia we have concluded that we should change the [`DetermineSerializationCapabilities`](https://github.com/dotnet/runtime/blob/141bd34eaf70518a7b6a4520e68624e8703529f6/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/Metadata/JsonPropertyInfo.cs#L130) method to not distinguish between collection and object/value converters.

That being said, it is

[2021-07-28 18:15] #46678 closed

[2021-07-28 18:18] edoust opened #56482 "System.Uri constructor returns an object that does is not equal to the input"
### Description

Create a `Uri` that represents a `MAPI` item

Example code:
[code]

Expected:
`uri` should have the same value as `input`

Actual:
`uri` has this value: `mapi16:///{S-1-5-0000000}/mail@example.com/곯가가가공갫갡곤갘갖갯걆겹갹곓곌갂겥강걥겤걿갨가/{S-1-5-0000000}/mail@example.com/곯가가가공갫갡곤갘갖갯걆겹갹곓곌갂겥강걥겤걿갨가`

### Configuration

Code is running on .NET 5

### Regression?

This was working in both .NET Framewor

[2021-07-28 18:21] tannergooding commented on #56394
We should likely be taking it from the official source: https://git.musl-libc.org/cgit/musl/tree/COPYRIGHT?h=v1.2.2
and https://git.musl-libc.org/cgit/musl/tree/src/math/scalb.c?h=v1.2.2

which matches what @jkotas linked to in the person's fork above

[2021-07-28 18:21] maryamariyan commented on #36064
Yes :)

[2021-07-28 18:23] #56459 closed

[2021-07-28 18:25] davidwrighton commented on #55663
@mangod9 Not really. I'll move this issue to 7.0.0, as its not a ship blocker for any work done for use in any supported scenarios. However, if @gbalykov is able to find a fix or find a repro which applies to a non-armel scenario we will likely be able to take it into the .NET 6 product, but we will not consider this bug as part of the .NET 6 release.

[2021-07-28 18:25] weilinwa commented on #12984
@kunalspathak @tannergooding, I also have a question about instructions like
[code]

Are these two instructions in sequence redundant? I saw this type of instructions in different places. Should we consider to optimize them?

[2021-07-28 18:26] JulieLeeMSFT commented on #43895
Moved to .NET 7 as priority 1. For Vectors handling, consider a way to make it work without control flow.

CC @dotnet/jit-contrib

[2021-07-28 18:27] steveharter commented on #728
For V6, the metadata infrastructure was not opened up, so modifying the Order at runtime is not possible. The issue to expose metadata is tracked by https://github.com/dotnet/runtime/issues/36785

[2021-07-28 18:30] mangod9 commented on #48466
assume this can be moved to .net 7 as well similar to #55663 ?

[2021-07-28 18:30] JeremyKuhne commented on #56464
We do the filtering now as opposed to letting Windows do it. This is possibly where the time difference is for this. This was specifically done so that we could avoid matching 8.3 versions of filenames to provide a consistent experience no matter what drive you're hitting or platform you're on. It also enables the case sensitivity option.

It has been discussed previously about having an option (i

[2021-07-28 18:38] buyaa-n commented on #56158
Not sure it is a runtime issue, tagging @terrajobst

[2021-07-28 18:40] stephentoub commented on #56464
A quick profile shows it spending only around 2% of the time inside FileSystemName.MatchPattern.  Over 90% is spent in NtQueryDirectoryFile.

[2021-07-28 18:43] BruceForstall opened #56484 "Test failures: ildasm/ilasm round-trip with R2R"
They all seem to have the same error: `Unhandled exception. System.IO.FileNotFoundException: Module with same simple name already exists`

https://dev.azure.com/dnceng/public/_build/results?buildId=1257315&view=ms.vss-test-web.build-test-results-tab

All platforms are failing.

Failing tests:
[code]

[code]

@dotnet/crossgen-contrib

[2021-07-28 18:44] BruceForstall commented on #55518
Another case: https://dev.azure.com/dnceng/public/_build/results?buildId=1262301&view=ms.vss-test-web.build-test-results-tab&runId=37404074&resultId=109138&paneView=debug

[2021-07-28 18:48] maryamariyan opened #56485 "Add code fixer for CA1727 and CA1848"
We shipped logging analyzer diagnostics in 6.0, approved in issue https://github.com/dotnet/runtime/issues/36064.

This issue tracks adding fixer for two of them:

- `CA1727`: easy fixer, would involve uppercasing the named placeholder so it becomes pascal case.

- `CA1848`: this diagnostic encourages using LoggerMessage delegates. The fixer could involve making use of the logging source generator

[2021-07-28 18:49] maryamariyan commented on #36064
Closing this issue as fixed and opened https://github.com/dotnet/runtime/issues/56485 to track adding the fixers.

[2021-07-28 18:49] #36064 closed

[2021-07-28 18:50] mangod9 commented on #56484
assume this is a recent regression? Any recent changes in ilasm/dasm?

[2021-07-28 18:51] BruceForstall commented on #13127
Another case: Linux/arm32, JitStressRegs=2:
[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=1262316&view=ms.vss-test-web.build-test-results-tab&runId=37404882&resultId=184637&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

[2021-07-28 18:52] buyaa-n commented on #56131
I think that behavior is changed, seems just the same attribute is applied to all members, should we remove that `DynamicallyAccessedMemberTypes.NonPublicProperties` part @eerhardt?

[2021-07-28 18:53] BruceForstall commented on #51097
I see another set of these failures here:

https://dev.azure.com/dnceng/public/_build/results?buildId=1262316&view=ms.vss-test-web.build-test-results-tab&runId=37402950&resultId=125538&paneView=debug

[2021-07-28 18:55] BruceForstall commented on #51097
And here: https://dev.azure.com/dnceng/public/_build/results?buildId=1262295&view=ms.vss-test-web.build-test-results-tab&runId=37404634&resultId=124396&paneView=debug

[2021-07-28 18:59] karelz opened #56487 "MsQuic tests hang / long running"
Affected tests:
- System.Net.Quic.Tests.MsQuicQuicStreamConformanceTests:
  - ReadWrite_Success
  - ReadWrite_MessagesSmallerThanReadBuffer_Success
- System.Net.Quic.Tests.QuicStreamTests_MsQuicProvider:
  - ReadWrite_Random_Success
  - LargeDataSentAndReceived
  - MultipleReadsAndWrites

Failures 3/29-7/28 (incl. PRs):
- Always at least 2 tests -- mostly 2 tests hang at the same time
- Most hangs

[2021-07-28 18:59] ericstj commented on #56428
We don't have any cases like that today, but I can imagine us getting there if we took a piecemeal approach to ref-project consolidation. In that case I'd expect us to permit it if the src-project referenced produced a reference assembly. I've added a condition for this.

[2021-07-28 19:00] BruceForstall commented on #56237
I see a couple more of these for OSX/arm64 JitStressRegs=2/0x10:

https://dev.azure.com/dnceng/public/_build/results?buildId=1262314&view=ms.vss-test-web.build-test-results-tab&runId=37412374&resultId=110794&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab

[2021-07-28 19:04] eerhardt commented on #56131
Looking at the code, it finds NonPublic members. See `DeclaredOnlyLookup`:

https://github.com/dotnet/runtime/blob/cf52b7e38d28b7e28358cee052effe0ed47efb2e/src/libraries/System.Private.CoreLib/src/System/Reflection/TypeInfo.cs#L34-L46

https://github.com/dotnet/runtime/blob/cf52b7e38d28b7e28358cee052effe0ed47efb2e/src/libraries/System.Private.CoreLib/src/System/Reflection/TypeInfo.cs#L147

[2021-07-28 19:06] MaximLipnin commented on #42548
The issue with `System.IO.FileSystem.DriveInfoTests.DriveInfoUnixTests.PropertiesOfValidDrive` is addressed in https://github.com/dotnet/runtime/pull/56462.
According to dotnet/xharness#308, the issue with `Microsoft.Extensions.Configuration.Xml.Tests` seems to be addressed as well.
We can close this issue.

[2021-07-28 19:06] #42548 closed

[2021-07-28 19:10] karelz commented on #56478
Potentially related massive hangs from 7/8-7/28 (incl. PRs):

Day | Run | OS | Notes
-- | -- | -- | --
7/8 | PR #55354 | Ubuntu.1604.Amd64.Open | 29 tests hang
7/19 | PR #55915 | RedHat.7.Amd64.Open | 29 tests hang

[2021-07-28 19:12] steveisok commented on #56315
/cc @lambdageek @vargaz

[2021-07-28 19:13] BruceForstall commented on #56484
Yes, as of the linked build. The changes in that build are:

https://dev.azure.com/dnceng/public/_traceability/runview/changes?currentRunId=1257315

For all ilasm/ildasm changes (there has only been one recently, IIRC), I make sure this job passes before merge.

Maybe this is due to https://github.com/dotnet/runtime/pull/56061 @davidwrighton @trylek ?

[2021-07-28 19:16] wfurt commented on #56487
The `ReadWrite` tests were hanging in the past because of the thread pool issue. I'm not sure if the workaround we put it is sufficient with Mono.
Proper fix should be in https://github.com/dotnet/runtime/pull/56346 (unless Mono needs some more)
The PRs may or may not be in sync.
cc: @kouvel

[2021-07-28 19:17] josalem commented on #49338
Looks like this event is only fired when `RundownStart()` is triggered. Currently, that is only triggered by ETW sessions and not EventPipe sessions. I would say this is by design, but I don't have a good answer for why we don't allow you to request `RundownStart` via Eventpipe. I'll take a look if there is a historical reason for this or if we can just move this logic to a shared location.

For t

[2021-07-28 19:18] buyaa-n commented on #56131
Thanks, all APIs in the doc says they return a "public" member, apparently need to check all APIs and update the doc instead

[2021-07-28 19:20] wfurt commented on #56487
btw the overlap with https://github.com/dotnet/runtime/issues/55642 quite clear IMHO

[2021-07-28 19:22] kouvel commented on #56487
That fix should cover Mono as well

[2021-07-28 19:27] mveril commented on #56365
Yes but I think this library is built for Unix platform, so I don't know if the `Path` class of this Library is safe to use on Windows and what about Windows path manipulation on Unix side (maybe more rare ?)
Also I know that [I am not the only one](https://stackoverflow.com/questions/2779807/system-io-path-or-equivalent-use-with-unix-paths).
In .NET 6 preview 4 the [support for both Windows and I

[2021-07-28 19:28] danmoseley commented on #51258
Ah - that's what I need. I'll check that next time.

[2021-07-28 19:28] karelz commented on #56487
OK, closing as fixed by #56346 (on 7/27)

I will check the failure rate in a week or two.

[2021-07-28 19:29] #56487 closed

[2021-07-28 19:41] alyssajotice commented on #56169
@karelz, here is the result of the code. I added the first line above the custom validation code. There is a different error now. However, I do not see any of strings that are in the callback code you wrote.

[code]

[2021-07-28 19:43] #45238 closed

[2021-07-28 19:47] wfurt commented on #56169
[code]
something funky is going on with your code. Make sure the HttpClient/Handler is in good shape.

One way how to proceed would be minimal repro just with SslStream or HttpClient.
If the problem lives with certificate trust or SSL you should see same results without all the other layers @alyssajotice

[2021-07-28 19:52] safern commented on #51097
I'll disable the test for now.

[2021-07-28 19:53] jeromelaban commented on #56309
Applying [this patch](https://github.com/unoplatform/Uno.DotnetRuntime.WebAssembly/blob/4039991016a06fe960fd09ec6b364f1723923bae/patches/bug56309.patch) to the runtime reverts original behavior, knowing that the original exception handling scenario will be a problem.

[2021-07-28 19:57] agocke commented on #56253
Closing as resolved

[2021-07-28 19:57] #56253 closed

[2021-07-28 20:01] sandreenko commented on #49110
@janvorli do you think https://github.com/dotnet/runtime/pull/56059 could have fixed this?

[2021-07-28 20:02] #54021 closed

[2021-07-28 20:08] RikkiGibson opened #56492 "Cannot reflect on generic attributes whose constructors original definition uses type parameters"
Related to dotnet/roslyn#55190

The following program throws `CustomAttributeFormatException` (using the [generic-attributes](https://github.com/dotnet/roslyn/branches/features/generic-attributes) feature compiler):

[code]

Importantly, if we change the constructor parameter type to `string`, we don't get an exception. It's also worth noting that if we declare a property of a type parameter type,

[2021-07-28 20:16] kunalspathak commented on #56402
Make sure that you do not have any `COMPlus_` variables like `Tier=0` or `ReadyToRun=0` set. I also use `-d ` switch to print the disassembly by the harness.

I did little investigation and it seems to be jcc erratum might be affecting the performance. If you see [all test history](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_x64_Windows%2010.0.18362%2fSy

[2021-07-28 20:21] kunalspathak commented on #12984
We should understand why these are getting generated. We detect such redundant moves in arm64 using IsRedundantLdStr](https://github.com/dotnet/runtime/blob/cd1b4cff818a700b6ff82fde024c65b036979894/src/coreclr/jit/emitarm64.cpp#L15626) and should probably extend it for xarch.

[2021-07-28 20:27] adityamandaleeka commented on #55261
Can someone please try to repro this failure on .NET 5? That would help us understand if this is a regression.

[2021-07-28 20:33] mikem8361 commented on #50938
Moving to 7.0.0.

[2021-07-28 20:45] janvorli commented on #49110
There were two issues. The bus errors meant there was not a proper call to switch read-execute pages to read-write and the code attempted to write. The related holders were completely redone in my W^X change, so it is likely fixed by that. The other is the null reference exception, which could be fixed either by the PR you've mentioned or maybe rather the #53510.

[2021-07-28 20:48] jakobbotsch commented on #56402
Thanks for the additional look @kunalspathak.

I did check the disassembly too, but I didn't know about the jcc erratum. That erratum does not affect my CPU which is quite old (Haswell), so that probably explains why I see improvements.

Have we thought about adding a mitigation for this erratum that can be turned on if the user wants to? E.g. for these automatic reports that could be quite useful

[2021-07-28 20:48] rickbrew opened #56493 "Double.CompareTo() performance hurt by not being inlined"
I was profiling some Paint.NET code in WPA the other day and noticed that `Double.CompareTo()` was taking a non-trivial amount of the execution time:

![image](https://user-images.githubusercontent.com/10873410/127391513-cada28be-89ea-463e-836a-a52262c47d9b.png)

The scenario here in the app is to select an area of the canvas (Rectangle Select, Ellipse Select, Magic Wand, whatever), switch to the

[2021-07-28 20:55] davidwrighton commented on #43814
There is no formal process other than updating the augments document. I've already put the default interface method logic into the document some time ago, and am working on the covariant documentation now. That one is a bit more involved as the exisiting covariant document is incomplete and not precise as to the effect on the standard that the feature has. I'm also going to put a small table of co

[2021-07-28 20:55] kunalspathak commented on #56402
Yes, we want to add it and there was discussion frequently with @BruceForstall . I will see if I can add something behind a switch so we can try and validate it for benchmarks.

[2021-07-28 20:56] radical commented on #56166
[code]

`microsoft.net.sdk.macos` version: `11.3.100-ci.main.723`
	- does that version string look correct?
	- Also, the `-ci` is appended to versions for nugets generated on CI.
	- So, if the package is that, then it won't be in the regular dotnet6 feed. Is there a nuget source added to get those CI-generated packages?

Maybe try running the workload install with `--skip-manifest-update`.

[2021-07-28 21:00] AraHaan commented on #56493
@rickbrew what is the perf of adding inlining to Single.CompareTo?

[2021-07-28 21:00] noahfalk commented on #47634
Fwiw I noticed [this test](https://github.com/dotnet/runtime/blob/9d9b465f0be92a0d7584c4b8ad6b873be7f0dbc9/src/libraries/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsWriteEventToListener.cs#L455) appears like it would have caught the issue that @MihaZupan recently found and [fixed](https://github.com/dotnet/runtime/pull/56232). When I run it without Miha's changes I see it fail local

[2021-07-28 21:02] rickbrew commented on #56493
For the sorting benchmark the results were near identical. Same amount of time, same amount of % improvement.

[2021-07-28 21:04] josalem commented on #55441
Migrating the conversation from #55862 to here:

@noahfalk:

@brianrob:

@noahfalk:

Logging ETW manifests at the end of the trace here
With a little refactoring we could create a new internal API like EventSource.HandleShutdown() that handles only these concerns while still leaving us in a state where concurrent calls to Write don't generate failures (whether any data is logged is optional). Then

[2021-07-28 21:08] EgorBo commented on #56493
A few notes:
1) `StandardOptimizationData.mibc` profile that we ship seems to be missing a lot of FP-related methods, e.g. I couldn't find info for any of the `Double` API, we need some training scenario for those (e.g. WPF?)
2) `Double.CompareTo` is inlineable in DynamicPGO mode in hot call-sites:
![image](https://user-images.githubusercontent.com/523221/127395635-517798d3-02fa-480a-a92f-4c84495b

[2021-07-28 21:12] mattpwhite commented on #51701
Any update on this issue? I understand the window for changes in .NET 6 is likely to close soon, and it would be extremely unfortunate for an LTS release to ship with this issue/no clear workaround. Are you willing to accept a PR to revert to the .NET Core 3.1 and .NET Framework behavior?

[2021-07-28 21:17] karelz commented on #51701
@mattpwhite we still plan to address it in 6.0 - we are considering introducing a switch to opt-in/opt-out -- details are still TBD.
@wfurt do you know what the design would be and if there is something @mattpwhite might helps us with?

[2021-07-28 21:18] danmoseley commented on #56493
Maybe Paint.NET should be a training scenario somehow?

[2021-07-28 21:23] rickbrew commented on #56493
We can certainly arrange that, @richlander and I already have something in place to enable that sort of thing

[2021-07-28 21:28] danmoseley commented on #56493
In the short term, since that can't happen immediately, would it make sense to mark aggressive inlining (temporarily?) on Double and Short?

[2021-07-28 21:30] NikolaMilosavljevic commented on #54148
[Triage] Closing Snap issues to reflect current priorities.

[2021-07-28 21:30] #54148 closed

[2021-07-28 21:31] steveisok commented on #56386
@jonathanpeppers Unsure if this is right, but you should try pointing at opt / llc in the cross runtime pack of the current architecture.

[2021-07-28 21:33] LakshanF commented on #49248
Added a manifest trimming test, #56463. And there is a good smoke `EventSource `test in the same directory that should cover the basic scenarios testing for .NET6

[2021-07-28 21:39] LakshanF commented on #32863
Closing this now since the above #56154 captures the work we did related to `EventSource` in .NET6 and the work needed in future (source generators for `EventSource`).

 Also, added # 56463 that is manifest based to the existing e2e smoke test we have currently.

[2021-07-28 21:39] #32863 closed

[2021-07-28 21:45] NikolaMilosavljevic commented on #53466
[Triage] @hoyosjs can you share the reasons for moving to installer?

[2021-07-28 21:46] NikolaMilosavljevic commented on #52331
[Triage] Does not repro anymore - 2.1.27 and 2.1.28 are available.

[2021-07-28 21:46] #52331 closed

[2021-07-28 21:47] NikolaMilosavljevic commented on #51574
@jamshedd

[2021-07-28 21:48] filipnavara commented on #55637
Local build today:
[code]

I'll try to run Android builds on the same machine tomorrow to check whether there is any difference. Can someone recheck the current transport packages whether the problem still exists?

[2021-07-28 21:50] NikolaMilosavljevic commented on #50546
[Triage] Closing - no repro.

[2021-07-28 21:50] #50546 closed

[2021-07-28 21:51] AndyAyersMS opened #56495 "JIT: flow opts does an incorrect pred list update"
Repro case is:
[code]
and it leads to a jit assert
[code]
See https://github.com/dotnet/runtime/pull/56184#issuecomment-888596878 and following comments for more details.

[2021-07-28 21:54] KalleOlaviNiemitalo commented on #43814
ECMA-335 6th Edition §II.1.8.1.2.2 says a controlled-mutability managed pointer "cannot be passed as a byref argument to a method." Now it can, for a C# `in` parameter; see the IL in <https://github.com/dotnet/csharpstandard/issues/264#issuecomment-874738023>. Perhaps that needs changes in the verification algorithm.

[2021-07-28 21:55] jakobbotsch commented on #56402
I tried turning memoryRandomization on to see if I could reproduce the instability. I did --iterationTime 5000 but I got pretty much identical results.

# Without memory randomization
[code]
|       Method | Size |     Mean |    Error |   StdDev |   Median |      Min |      Max | Code Size | Gen 0 | Gen 1 | Gen 2 | Allocated |
|------------- |----- |---------:|---------:|---------:|---------:|----

[2021-07-28 21:56] noahfalk commented on #43860
@tarekgh @ericstj - do either of you recognize Microsoft.Extensions.DiagnosticAdapter assembly? According to the docs links that is the assembly which contains these APIs but I didn't find this type in our repo.

[2021-07-28 22:02] filipnavara commented on #55637
Android arm64 on the same machine is also identical:
[code]

Looks like the local vanilla builds do the correct thing. The pipelines for all iOS variants run on the same machine so that should rule out some compiler configuration differences.

[2021-07-28 22:03] ericstj commented on #53529
Closing as this is no-repro in latest.

[2021-07-28 22:03] #53529 closed

[2021-07-28 22:07] psantosl opened #56497 "ReaderWriterLock.IsLockHeld randomly fails in .NET 5"
### Description

We develop Plastic SCM, and we are creating a new GUI for it based on Avalonia and .NET 5.0. Plastic has been in development for years, starting on .net 2.0 and mono. This code uses ReaderWriterLock and has been working without issues for a long time (which does not mean it is bug free).

The problem is that the code needs to upgrade a reader lock to a writer lock, and before doin

[2021-07-28 22:08] psantosl commented on #56497
If we copy/paste the ReaderWriterLock.cs code inside our app, and rebuild, the issue does not happen. Maybe some optimization setting is killing us.

[2021-07-28 22:09] JamesNK opened #56498 "Add description to RequiresPreviewFeaturesAttribute"
It would be nice if there was a way to provide a description with `RequiresPreviewFeaturesAttribute`, like you can with `ObsoleteAttribute`. The description would show up in analyzers/build warnings.

A description would provide more information about why a feature is in preview and what a user should keep in mind if they choose to use the feature.

For example, HTTP/3 in .NET 6 is preview. Kind o

[2021-07-28 22:12] Lxiamail commented on #56166
@radical What does "--skip-manifest-update" do?

[2021-07-28 22:12] terrajobst commented on #56158
It's not a runtime issue really. Moving to dotnet/core because it's more about overall strategy. IMHO it wouldn't belong in dotnet/maui either.

[2021-07-28 22:12] tarekgh commented on #43860
@ericstj @Anipik @maryamariyan may know better about this one. I am seeing originally the code was in the extensions repo https://github.com/dotnet/extensions/blob/release/2.1/src/DiagnosticAdapter/src/DiagnosticListenerExtensions.cs but I don't from where we released the last version https://www.nuget.org/packages/Microsoft.Extensions.DiagnosticAdapter/5.0.0-preview.3.20215.2. Looks to me it is r

[2021-07-28 22:17] ericstj commented on #43860
Per https://github.com/aspnet/Announcements/issues/411 that component was dead-ended.  The last place the code lived is here: https://github.com/dotnet/extensions/tree/release/3.1/src/DiagnosticAdapter

[2021-07-28 22:19] michael-hawker commented on #31542
Yeah, we've been wanting this too. We ship a library of various helpers, so sometimes we have something when we're ready to ship that we're still not sure about. Rather than trying to maintain a branch or remove it entirely from the release bits, we can keep it in, but mark it as experimental. Then at the next release version we can unmark it, or break it in a major version still.

The dependency

[2021-07-28 22:23] danmoseley commented on #45188
@layomia can we move this to "complete" (on the project board) and close it now?

For those observing: the although the "dynamic" keyword part here was done, we have removed it for 6.0: https://github.com/dotnet/docs/issues/25105

[2021-07-28 22:28] kunalspathak commented on #56402
FYI @adamsitnik - This benchmark does allocate and access array, so I am surprised that memory randomization doesn't show anything. Is there something that we are missing to randomize?

[2021-07-28 22:34] noahfalk commented on #28772
Trial by fire, I re-enabled it to see what happens.

[2021-07-28 22:36] rickbrew commented on #56493
Sure, here's a PR for review etc. #56501

[2021-07-28 22:37] Sergio0694 commented on #31542
This proposal could probably be considered as superseded by the new [`[RequiresPreviewFeatures]`](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.versioning.requirespreviewfeaturesattribute) attribute that is available in .NET 6, which effectively provides the same support to mark individual APIs as "being experimental" and thus requiring consumers to add `<EnablePreviewFeatures>` to th

[2021-07-28 22:39] valco1994 commented on #49338
Thank you for the answer, John! It would be very nice if `RuntimeInformationStart` will be fired on EventPipe session start.

[2021-07-28 22:47] #54100 closed

[2021-07-28 22:47] davidwrighton commented on #43814
@KalleOlaviNiemitalo At this time the runtime team does not attempt to maintain the IL verification rules.

[2021-07-28 22:53] AraHaan commented on #56493
I feel like the benchmarks you made should be added to it as well (if possible) so that way they can be used in the future for future comparison.

[2021-07-28 22:59] #56038 closed

[2021-07-28 23:00] NikolaMilosavljevic commented on #49380
[Triage] Closing Snap issues to reflect current priorities.

[2021-07-28 23:00] #49380 closed

[2021-07-28 23:01] danmoseley commented on #56493
If you mean microbenchmarks (like the ones we have in dotnet/performance) it's hard to use them to measure any "benefit" from aggressive inlining. It almost inevitably makes microbenchmarks faster, although in real apps it is not necessarily a benefit.

It would be worth checking that we have good enough coverage of Compare() there, but only to protect the implementation itself.
https://github.com

[2021-07-28 23:01] omajid commented on #43313
Hey, @mangod9 do you have a link to the NullReferenceExceptions that you are tracking? I am interested in following that. We are hitting some NREs on non-macOS arm64 platforms as well, which might be the same or a different issue.

[2021-07-28 23:02] mikem8361 commented on #56037
@noahfalk, @jkotas could either of you point me in the general direction of where in the runtime to look?

[2021-07-28 23:02] NikolaMilosavljevic commented on #42894
[Triage] Closing Snap issues to reflect current priorities.

[2021-07-28 23:02] #42894 closed

[2021-07-28 23:03] NikolaMilosavljevic commented on #40331
[Triage] Closing Snap issues to reflect current priorities.

[2021-07-28 23:03] #40331 closed

[2021-07-28 23:03] NikolaMilosavljevic commented on #1471
[Triage] Closing Snap issues to reflect current priorities.

[2021-07-28 23:03] #1471 closed

[2021-07-28 23:03] NikolaMilosavljevic commented on #640
[Triage] Closing Snap issues to reflect current priorities.

[2021-07-28 23:03] #640 closed

[2021-07-28 23:04] NikolaMilosavljevic commented on #3793
[Triage] Closing Snap issues to reflect current priorities.

[2021-07-28 23:04] #3793 closed

[2021-07-28 23:04] NikolaMilosavljevic commented on #3792
[Triage] Closing Snap issues to reflect current priorities.

[2021-07-28 23:04] #3792 closed

[2021-07-28 23:05] mangod9 commented on #43313
Hi @omajid, here is the tracking issue for that: https://github.com/dotnet/runtime/issues/51250.

[2021-07-28 23:05] NikolaMilosavljevic commented on #3775
[Triage] Closing Snap issues to reflect current priorities.

[2021-07-28 23:05] #3775 closed

[2021-07-28 23:05] NikolaMilosavljevic commented on #3530
[Triage] Closing Snap issues to reflect current priorities.

[2021-07-28 23:05] #3530 closed

[2021-07-28 23:06] NikolaMilosavljevic commented on #3464
[Triage] Closing Snap issues to reflect current priorities.

[2021-07-28 23:06] #3464 closed

[2021-07-28 23:06] janvorli commented on #43313
@omajid, most of the NullReferenceExceptions ended up being fixed by my change #53510 in preview 6. It was a general ARM64 issue.

[2021-07-28 23:06] NikolaMilosavljevic commented on #3362
[Triage] Closing Snap issues to reflect current priorities.

[2021-07-28 23:06] #3362 closed

[2021-07-28 23:07] NikolaMilosavljevic commented on #3203
[Triage] Closing Snap issues to reflect current priorities.

[2021-07-28 23:08] #3203 closed

[2021-07-28 23:09] NikolaMilosavljevic commented on #49454
[Triage] Closing Snap issues to reflect current priorities.

[2021-07-28 23:09] #49454 closed

[2021-07-28 23:10] agocke commented on #3832
I believe this has been fixed by https://github.com/dotnet/runtime/pull/48774

[2021-07-28 23:10] #3832 closed

[2021-07-28 23:17] terrajobst commented on #31542
@Sergio0694 I agree. Let me read through this again and then close

[2021-07-28 23:23] hoyosjs commented on #53466
@NikolaMilosavljevic Historically, core-setup / host issues have been tracked in installer

[2021-07-28 23:28] jodydonetti commented on #31542
As the author of this proposal I would say, at a first look, definitely yes!
Tomorrow morning I'll take a better look at the new proposal, but it seems to me it gets the same results so I'd close this.
Thanks for the update and the feature itself!

[2021-07-28 23:31] jodydonetti commented on #31542
ps: I currently feel like Boromir in that catapult gif 😂

[2021-07-28 23:51] josalem commented on #47634
I ran this locally and it is passing on my mac. Juan also assuaged my fears of the test not running. He created a test PR #56447 where he explicitly set this test to fail and it _does_ show up as a failure in CI.

I'm going to close this for now. @janvorli if this is still failing for you locally, please let me know and we can reopen this.

[2021-07-28 23:51] #47634 closed

[2021-07-28 23:57] janvorli commented on #34293
I've investigated this issue. The problem is triggered by attempting to load non-mananaged dlls into the collectible context. It seems that releasing the PEImage created from those in AssemblyNative::LoadFromPath when throwing the BadImageException results in unloading some native dlls from memory.
When I experimentally added pILImage.SuppressRelease(); before each of the THROW_BAD_FORMAT invocati

[2021-07-28 23:59] lambdageek commented on #56315
@jonathanpeppers does the IL trimmer run when you AOT this test?

I see that in the `HasOverridenBeginEndRead` implementation we explicitly check whether the linker removed the Stream BeginRead / EndRead methods, but in `HasOverridenBeginEndWrite` we don't

https://github.com/dotnet/runtime/blob/6d3518520ae041fb4c6c1c54d5abf0975a38a450/src/mono/mono/metadata/icall.c#L3231-L3265

So `curr_klass_vta

[2021-07-29 00:17] BruceForstall opened #56506 "superpmi: parallel mode doesn't handle crash of superpmi"
When investigating #56156, I found that if superpmi crashes in one of multiple superpmi parallel replay processes, that crash isn't caught and the superpmi replay "succeeds".

This was on Linux/arm32. Perhaps we don't catch SIGBUS "Bus error" exceptions, compared to others? We do have try/catch in place.

The crash is:
[code]

The "successful" run looks like:
[code]

But there are 5 method context

[2021-07-29 00:24] buyaa-n commented on #53084
Thanks, @jeffhandley, all looked right initially, but now I think the section covering the `SupportedOSPlatformGuard` part needs update because multiple `SupportedOSPlatformGuard` attributes produce OR logic

[code]

[2021-07-29 00:40] sunilshahi commented on #26460
Same issue here.

[2021-07-29 00:43] #37265 closed

[2021-07-29 00:43] #43814 closed

[2021-07-29 00:45] #56428 closed

[2021-07-29 00:49] stephentoub commented on #56498
cc: @jeffhandley, @terrajobst, @pgovind, @tannergooding

[2021-07-29 01:10] davidwrighton commented on #56492
This looks like a bug in coreclr (and possibly mono). Could you provide a test written in IL to cover the scenario? The snippet above doesn't include the Attr<T> type. Also, please identify if this C# feature is expected to be enabled in the .NET 6 timeframe, or if this is a post-.NET 6 request.

[2021-07-29 01:21] ericstj commented on #47809
So the building errors no longer seem to reproduce in the latest, but the intellisense errors still repro.

I debugged the design time build and found the following in the `$(NetCoreAppCurrent)-windows` binlog:
[code]
This implies a problem with evaluation.  GeneratePlatformNotSupportedAssemblyMessage should not be set for Windows.  It looks like this is due to ordering, we cannot use `TargetFrame

[2021-07-29 01:33] vargaz commented on #56480
Which test suite is this ?
That PR has AOT failures on a lot of assemblies, not just corlib.

[2021-07-29 01:35] AviAvni commented on #56492
This bug was fixed in https://github.com/dotnet/coreclr/pull/25054 an there is test for it

[2021-07-29 01:39] AraHaan opened #56510 "[API Proposal]: Add TypeResolve event to AssemblyLoadContext"
### Background and motivation

As mentioned here https://github.com/dotnet/winforms/issues/5368 AssemblyLoadContext lacks an event where you can subscribe too when a type resolution fails (Like for example you try to load an assembly in AssemblyLoadContext that uses a type in ``System.Windows.Forms.dll`` that does not exist anymore on .NET 5 and you then need to reroute it to load a "fake" version

[2021-07-29 01:42] steveisok commented on #56480
The iOS and Android AOT functional tests.

https://github.com/dotnet/runtime/tree/main/src/tests/FunctionalTests/Android/Device_Emulator

[2021-07-29 02:16] jkotas commented on #56510
Why is it not an option to recompile these assemblies for .NET 5? It would be highly preferable to trying to patch things up at runtime.

Not going to happen - too late to consider.

[2021-07-29 02:22] jkotas commented on #3464
@NikolaMilosavljevic I see that you have closed all Span issues as won't fix. Does it mean that we are no longer trying to support Snap?

[2021-07-29 02:22] VincentBu opened #56513 "Test Failure:Wasm.Build.Tests.WasmBuildAppTest.AsyncMain(buildArgs: BuildArgs)"
Run: [runtime 20210728.99](https://dev.azure.com/dnceng/public/_build/results?buildId=1264951&view=ms.vss-test-web.build-test-results-tab&runId=37461212&resultId=100002&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-07-29 02:24] jkotas commented on #56037
The hot reload agent should be responsible for applying the changes in topological order. It does not look like an issue in the runtime to me.

[2021-07-29 02:28] AraHaan commented on #56510
Because not always are these assemblies able to be recompiled (in terms of plugins for Paint.NET some of them are covered under their own copyrights), some are unmaintained, and some are outright not open source + has a copyright preventing one from decompiling and recompiling it for .NET 5+ (well in a way that is legal / does not violate it's EULA that is) + unmaintained.

[2021-07-29 02:35] stephentoub commented on #56037
Presumably it would need to be done either in the agent, e.g.
https://github.com/dotnet/aspnetcore/blob/18a926850f7374248e687ee64390e7f10514403f/src/Components/WebAssembly/WebAssembly/src/HotReload/HotReloadAgent.cs#L193-L207
or by Roslyn as part of generating the EnC diffs and then the agent just guaranteeing it'll apply them in the exact order provided to it.

[2021-07-29 02:37] VincentBu commented on #55895
Failed again in [runtime-coreclr outerloop 20210728.8](https://dev.azure.com/dnceng/public/_build/results?buildId=1264799&view=ms.vss-test-web.build-test-results-tab&runId=37460660&paneView=debug&resultId=109090)

Failed test:
[code]
**One of error messages:**
[code]

[2021-07-29 02:43] VincentBu commented on #54801
Failed again in [runtime-coreclr gcstress0x3-gcstress0xc 20210727.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1262301&view=ms.vss-test-web.build-test-results-tab&runId=37404074&resultId=109138&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-07-29 02:43] #28772 closed

[2021-07-29 02:44] #48342 closed

[2021-07-29 02:45] pengweiqhca opened #56514 "[API Proposal]: JsonNode.FromObject(object obj, JsonSerializerOptions? options = null)"
### Background and motivation

Api compare to [JToken.FromObject(object o)](https://github.com/JamesNK/Newtonsoft.Json/blob/master/Src/Newtonsoft.Json/Linq/JToken.cs#L1912)

Current:
[code]

### API Proposal

[code]

### API Usage

[code]

### Risks

_No response_

[2021-07-29 02:45] noahfalk commented on #48342
Fixed in #56453

[2021-07-29 02:55] noahfalk commented on #43860
Thanks all!

Based on info from @ericstj this assembly was last shipped in 3.1 and we've decided not to ship new releases. It is by design that there is no 5.0 version.

[2021-07-29 02:55] #43860 closed

[2021-07-29 02:55] safern commented on #47809
If we do that, should we remove those properties entirely?

[2021-07-29 02:58] VincentBu commented on #54260
Failed again in [runtime-libraries-coreclr outerloop 20210728.5](https://dev.azure.com/dnceng/public/_build/results?buildId=1263342&view=ms.vss-test-web.build-test-results-tab&runId=37427364&paneView=debug&resultId=104315)

Failed test:
[code]
**Error messages:**
[code]

[2021-07-29 03:08] VincentBu opened #56515 "Test failure: System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_MaxConnectionsPerServer_Test.GetAsync_MaxLimited_ConcurrentCallsStillSucceed"
Run: [runtime-libraries-coreclr outerloop 20210728.5](https://dev.azure.com/dnceng/public/_build/results?buildId=1263342&view=ms.vss-test-web.build-test-results-tab&runId=37427364&resultId=104472&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2021-07-29 03:25] sonupmandal opened #56532 "Process.GetCurrentProcess().ProcessName is throwing InvalidOperationException for Blazor Webassembly project"
I have created a simple Blazor Webassembly application in which
Target Framework : .NET Standard 2.1

Contents of Counter.razor file

[code]

Upon running this application, a browser window opens, when i press click me button, i end up getting this exception.
crit: Microsoft.AspNetCore.Components.WebAssembly.Rendering.WebAssemblyRenderer[100]
Unhandled exception rendering component: Process has ex

[2021-07-29 03:26] #56299 closed

[2021-07-29 03:42] dotnet-eng-status[bot] opened #56516 "Build failed: Validate-DotNet/main real signed, .NET 6, validation-runtime-.NET 6, runtime #runtime-99865-.NET6"
Build [#runtime-99865-.NET6](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1264997) partiallySucceeded

## :warning: : internal / Validate-DotNet partiallySucceeded

### Summary
**Finished** - Thu, 29 Jul 2021 03:42:13 GMT
**Duration** - 276 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :x: - [[Log]](https

[2021-07-29 03:45] #42723 closed

[2021-07-29 03:49] dotnet-eng-status[bot] opened #56518 "Build failed: Validate-DotNet/main real signed, runtime, .NET 6 Preview 7, validation-runtime-.NET 6 Preview 7 #runtime-99700-.NET6Preview7"
Build [#runtime-99700-.NET6Preview7](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1264999) partiallySucceeded

## :warning: : internal / Validate-DotNet partiallySucceeded

### Summary
**Finished** - Thu, 29 Jul 2021 03:49:37 GMT
**Duration** - 283 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :x: - [[Log

[2021-07-29 03:50] BruceForstall commented on #56156
This is fixed by https://github.com/dotnet/runtime/pull/56375

This was actually "by design". The question is what kind of errors would it be worthwhile reporting? We still expect to see "missing data" errors (there are other GitHub issues covering that). So maybe we could report back non-missing data errors?

https://github.com/dotnet/runtime/issues/47546 and https://github.com/dotnet/runtime/iss

[2021-07-29 03:57] MihaZupan commented on #56482
Doesn't repro on `net48`, reproes on `netcoreapp2.1` and newer. Looks like a Framework => Core regression.

Simplified repro
[code]

This looks like another manifestation of #1061 that was fixed by #36429 for 5.0 - just for custom Uri schemes.

[2021-07-29 04:43] agc93 commented on #3828
This specific issue has been open for more than 18 months at this point and this behaviour has been (if I'm reading the various issues right) in place since the Core 3.x days. Is there _any_ indication of if this is going to be resolved at all, let alone when?

[2021-07-29 05:01] richlander commented on #56493
We rebuilt the whole PGO system in .NET 6. I have been thinking about how we can take advantage of real apps going forward. Clearly, Paint.NET being on .NET 5+ is a big win for that.

In the future, I'd like to establish a model where we can change PGO data as part of a servicing update. We'd need a compelling and coherent plan for that (which I don't have), but that's the direction I have in mind

[2021-07-29 05:02] #56263 closed

[2021-07-29 05:02] #56454 closed

[2021-07-29 05:22] agocke opened #56519 "Module.ScopeName returns `appname.dll` for single-file apps"
When published as a single file, this code prints `single-file.dll`.

[code]

It's unclear whether this is the correct behavior or just an oversight. `Name` and `FullyQualifiedName` both return `<Unknown>`

[2021-07-29 06:09] radical commented on #56166
It will install the workload packs based on the latest manifest that it downloads, but won't update the on-disk manifest. I can't say if it will definitely help or not.

[2021-07-29 06:40] junzhou98 commented on #27216
this problem has resolve?

[2021-07-29 06:41] junzhou98 commented on #27216
it can't resolve?

[2021-07-29 06:41] junzhou98 commented on #27216
help

[2021-07-29 06:41] junzhou98 commented on #27216
urgent

[2021-07-29 07:00] sandreenko opened #56522 "Arm64 codegen bug."
Such tests produces different results with `COMPlus_JitDoValueNumber=0` and `COMPlus_JitDoValueNumber=1`:

The issue is in `TestConvertFromFloatToU8`.

[code]

It looks like we do wrong CSE in `TestConvertFromFloatToU8` and we pass `0` instead of `long.MinValue` in some cases:
[code]

found during work on https://github.com/dotnet/runtime/pull/56450.

It is not a minimum repro but if I replace `Ge

[2021-07-29 07:01] sandreenko commented on #56522
@briansull could you please investigate this Arm64 VN bug? cc @dotnet/jit-contrib

[2021-07-29 07:25] ViktorHofer commented on #47809
Unfortunately the SDK/msbuild doesn't yet offer a good alternative to what we express with i.e. `TargetsUnix`. You would want `TargetsUnix` to be true for any rid that derives from `unix` where-as if you check for `TargetPlatformIdentifier` you will get back `Unix` when targeting `net6.0-Unix` without a way to check if the `TargetPlatformIdentifier` is compatible with another one (at least with th

[2021-07-29 07:31] ViktorHofer commented on #47809
For cases where we don't check on a parent rid, like i.e. TargetsUnix but on a rid which doesn't have any childs like TargetsWindows I'm all in for replacing those with TargetPlatformIdentifier checks, i.e.: `'$(TargetPlatformIdentifier)' == 'windows'`. As mentioned in the post above, I don't think we yet have a good way to check for TargetPlatformIdentifier inheritance.

[2021-07-29 07:33] ViktorHofer commented on #56516
@steveisok @akoeplinger can you please take a look at these "duplicated symbol files" errors?

[2021-07-29 07:49] karelz commented on #56515
Only 1 failure in last 2 months 5/29-7/29 (incl. PRs), closing.

[2021-07-29 07:49] #56515 closed

[2021-07-29 07:57] filipnavara commented on #55637
I checked some somewhat recent transport package and it's still broken:
[code]

Really not sure what is going on and what is the difference between my local builds and those from the CI.

For reference, the command line I used for the builds (taken from the YAML):
[code]

Build machine: macOS 12.0 Beta (21A5284e), Xcode 12.5, Android NDK 22.1

[2021-07-29 08:01] karelz commented on #55898
Triage: As discussed above, we don't believe this is common use case for customers and there is workaround (locking externally).
We do not believe it is worth adding complexity and perf overhead for scenarios which don't need this. Closing.

[2021-07-29 08:01] #55898 closed

[2021-07-29 08:03] karelz commented on #42211
@antonfirsov can you please add note about your analysis from last week?

[2021-07-29 08:13] filipnavara commented on #55637
New theory: Some of the CI builds are done sequentially in a tree that is not cleaned in-between the builds. Maybe there are some artifacts from previous build incorrectly packaged into later builds?

[2021-07-29 08:22] #49452 closed

[2021-07-29 08:22] jkotas commented on #56519
I think it is the correct behavior. ScopeName is meant to return the scope name from metadata, with no sugar coating.

[2021-07-29 08:23] Junjun-zhao commented on #56290
Thanks all for helping look into this issue. Normally there is always some exceptions. But for this one, we didn't see any exception during debug,  so we are not sure what is the cause root here and did the above comparation for the logs generated with the two version apps. Hope it will give some help.

[2021-07-29 08:27] filipnavara commented on #55637
Slowly making some progress:
[code]

![image](https://user-images.githubusercontent.com/1764393/127458469-4d489efd-3c21-412a-94ca-1df349ccf6d3.png)

[2021-07-29 08:38] eiriktsarpalis commented on #56514
Have you tried using the [`JsonNode.Create`](https://github.com/dotnet/runtime/blob/742ea07eff4ae09efd748ba94f96e536e0a274d0/src/libraries/System.Text.Json/src/System/Text/Json/Nodes/JsonValue.cs#L31) method? cc @steveharter

[2021-07-29 08:41] Kesmy commented on #36064
Are these analyzers available prior to .NET 6? If not, we're probably not going to be able to use them for another decade.

[2021-07-29 08:55] klogeaage commented on #41089
@layomia I have updated my small test app to latest versions of Newtonsoft, Xamarin and .NET 6.0.0-preview.6.21352.12. And things are looking a little bit better. On an iPhone12 with iOS, I really can't see much difference, but there the performance was roughly the same anyway. On a Samsung phone SM-A505FN, the performance is now also roughly the same, sometimes 3-5% faster, sometimes 3-5% slower.

[2021-07-29 09:11] krwq commented on #45988
@BartoszKlonowski still planning to fix this?

[2021-07-29 09:16] radekdoulik opened #56526 "[wasm] Memory corruption in aot crosscompiler"
When running dotnet/performance microbenchmarks, the aot crosscompiler fails with:

[code]

[2021-07-29 09:24] sandersaares commented on #45653
Thank you for the explanation @CarnaViire! Looks like my use case is satisfied by this and we can close the issue.

[2021-07-29 09:24] #45653 closed

[2021-07-29 10:14] kentlinux opened #56529 "Why on Ctrl+C my process suddenly stopped on “Task<T>.Result”, but works fine with “await Task<T>”?"
Please help to understand what's going on.

I have async method. It return `Task<T>`.

I need wait this method result BUT with correct stop by Ctrl+C.

The problem is:

If I wait in this way - all works fine:

      var result = await Task<T>
If I wait in this way - main process suddenly stoped:

      var result = Task<T>.Result
To show it in code, I write small test (sorry - I can't make it smal

[2021-07-29 10:47] karelz commented on #56042
@antonfirsov is it related to #52141?

[2021-07-29 11:24] rolfbjarne opened #56533 "iOS/AOT: XmlSerializer.Deserialize throws Attempting to JIT compile method 'void Microsoft.Xml.Serialization.GeneratedAssembly.XmlSerializerContract:.ctor ()' while running in aot-only mode."
### Description

Calling XmlSerializer.Deserialize ends up throwing a System.ExecutionEngineException: "Attempting to JIT compile method 'void Microsoft.Xml.Serialization.GeneratedAssembly.XmlSerializerContract:.ctor ()' while running in aot-only mode."

[code]

Test code: https://github.com/rolfbjarne/xamarin-macios/blob/c8014a6b6fd759159b409df19062f11b57ae8e2c/tests/dotnet/MySimpleApp/AppDelegat

[2021-07-29 11:25] rolfbjarne commented on #56533
CC @steveisok

[2021-07-29 11:26] krwq commented on #50170
@MarekPokornyOva we do not currently have any strong reasons to prioritize this over other work especially since now many developers have moved to using JSON. If we find enough people upvoting this issue or some strong motivation then we'll reconsider. We're open for contributions though. I think the main scenario here is cancellation rather than async though

[2021-07-29 11:26] stephentoub commented on #56529
Because your example is synchronously blocking the RunAsync method waiting for the handler to be invoked,  but by that point you haven't hooked up the handler.  So when ctrl-C is pressed, there isn't a handler to cancel the ctrl-C, and the OS kills the process.

[2021-07-29 11:27] #56529 closed

[2021-07-29 11:29] heppth commented on #22977
I am very surprised that such an issue remains open for so long, although the benefits are very significant. I really hope that this issue will be added to the next milestone.

To illustrate the significant limitations...

A) [Security][Performance] .net core based web servers assign TLS session IDs but do not accept them (see screenshot from SSL Labs)
![image](https://user-images.githubuserconten

[2021-07-29 11:51] jeromelaban commented on #54272
This behavior was caused by a rogue `MONO_INLINE_LIMIT=1` set for prior troubleshooting, which interferes with the ability of the AOT compiler to remove empty `finally` blocks.

Thanks @vargaz for the troubleshooting.

[2021-07-29 11:51] #54272 closed

[2021-07-29 11:59] warappa opened #56536 "GetCpuUsage: "Attempted to divide by zero.""
### Description

I just reactivated my PC after lunch, and an active debug-session was in break-mode at this exception:
[code]

StackTrace only contains this method
[code]

Looking at the code it seems like this lines cause the divide by zero:
https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/libraries/System.Private.CoreLib/src/System/Diagnostics/Tracing/RuntimeE

[2021-07-29 12:00] rolfbjarne commented on #36440
This also means that WriteLines might be split up.

Example output:

[code]

This is because the call to WriteLine might be composed of multiple calls to Write:

[code]

This is quite annoying when reading logs.

@steveisok any idea when this could be fixed?

[2021-07-29 12:17] Snipx opened #56539 "Any chance to support Microsoft.Extensions.Logging on .NET Framework 4.5.2?"
Hi, thanks for all your hard work!
I've been wondering about the possibility to support Microsoft.Extensions.Logging on .NET Framework 4.5.2 - would it be possible and is it planned? I [see](https://docs.microsoft.com/en-us/lifecycle/products/microsoft-net-framework) that version 4.5.2 is still supported till April 26, 2022. We are building a .NET library and we aim to support .NET Framework versi

[2021-07-29 12:21] antonfirsov commented on #56042
Yes, essentially the same test bug in a very similar test, linked #56399 to this issue.

[2021-07-29 12:27] janvorli commented on #42291
Ok, great, that's simple to repro for me locally then. I have a couple of Linux ARM64 devices here.

[2021-07-29 12:41] gjtorikian opened #56542 "Please consider letting a user set `MaxPayloadLength` (or, adhere to HTTP/2 spec)"
### Description

I'm working on tracking down a solution for https://github.com/alpacahq/alpaca-trade-api-csharp/issues/348, which occurs when an HTTP 2 request with a large payload is made. Inevitably, the request crashes:

[code]

This same request, however, passes when using plain curl. From the original issue:

 This is the line of code setting the payload threshold value:
  https://github.com

[2021-07-29 12:42] amsoedal opened #56543 "Can't establish SSL connection after changing project name"
Originally opened here (https://github.com/kubernetes-client/csharp/issues/673), but this seems to be a dotnet issue.

After making a small change to our project and rebuilding it from our pipeline, I started reproducing the below exception consistently on MacOS. The weird thing is that if I step backwards one commit and build the DLLs from our pipeline again, the issue goes away. The commit that

[2021-07-29 12:42] kentlinux commented on #56529
Thanks! You are right! In this code:

 1  var appTask = RunAsync();
 2
 3 Console.CancelKeyPress += OnCancelKeyPressed;
 4
 5 return appTask.Result;

Line 3 never called.

BUT, can You explain WHY?

On line 1 I create Task. Only create. I wait the task on line 5.
Why line 3 never called?

[2021-07-29 12:43] EnCey commented on #13087
I am currently evaluating whether to use large, generated `ValueTuples` to determine whether 2 sets of values are equal and thus also stumbled upon this.

In my opinion, the ValueTuple documentation should state that not all items of the tuple are factored into the hash code calculation. That would save us developers some time, since apparently there are some that are interested in such functional

[2021-07-29 12:43] rolfbjarne commented on #55000
This is still a problem in Mac Catalyst and macOS (but not on iOS):

[code]

[2021-07-29 12:49] dersia opened #56544 "System.Text.Json: Method not found System.Text.Encodings.Web.TextEncoder.FindFirstCharacterToEncodeUtf8 happening in Xamarin.Android"
### Description
After updating VS 2022 to 2.1 I am getting a `System.MissingMethodException` for `int System.Text.Encodings.Web.TextEncoder.FindFirstCharacterToEncodeUtf8(System.ReadOnlySpan``1<byte>)` when targeting Xamarin.Android. The App builds successfully and once I use `ReadFromJsonAsync<>()` on my HttpResponseMessage-Content the exception in thrown. But it works with VS 2019 Version 16.10.

[2021-07-29 12:52] stephentoub commented on #56529
I was trying to.  I'll try again.

You call RunAsync:
[code]
RunAsync calls LoadWithProcessSuddenlyClose:
[code]
Note that this is exactly the same as if you'd written:
[code]
meaning you're calling LoadWithProcessSuddenlyClose synchronously from RunAsync, and there are no awaits that complete asynchronously prior to it, so your Main method has synchronously invoked LoadWithProcessSuddenlyClose.

[2021-07-29 12:56] karelz commented on #56542
@gjtorikian it should be perfectly legal to send HEADERS in multiple frames. There is no need to send them in 1 frame.
I assume that unless the server sent SETTINGS_MAX_FRAME_SIZE with larger number, we even can't send larger frames.

I wonder if this isn't a problem of server -- is it behaving correctly? Which server is it? Are you able to test against different server?
Can you look at packet cap

[2021-07-29 13:01] steveisok commented on #56533
@MaximLipnin We probably want to set `ReflectionOnly` as a default for iOS, tvOS, and MacCatalyst.

https://github.com/dotnet/runtime/blob/8b87ada0ecbcf713a859afc1c0382ceb50e86d97/src/libraries/System.Private.Xml/src/System/Xml/Serialization/XmlSerializer.cs#L112

[2021-07-29 13:06] rolfbjarne commented on #56533
This looks similar to https://github.com/dotnet/runtime/issues/47114#issuecomment-870578042 (make the serialization mode dependent on `RuntimeFeature.IsDynamicCodeSupported`).

[2021-07-29 13:08] #56019 closed

[2021-07-29 13:09] kentlinux commented on #56529
Thank You! Now I understood!

[2021-07-29 13:18] MykolaKhilko commented on #39430
@MarioZ i got the same exception, but when i tried to write the xps document with pagination.
My solution was divide read and write file access

`
....
//saving flow document as xps
using (var xpsDocument = new XpsDocument(__TempFileName, **FileAccess.Read**)) //was  **FileAccess.ReadWrite**
{
       FixedDocumentSequence fixedDocSeq = xpsDocument.GetFixedDocumentSequence();
       var documentPag

[2021-07-29 13:23] michalk-gc commented on #45382
This one is required so we can e.g. attach a debugger to installed MSIX app. My team has just migrated the app from .NET framework, where it worked, to .NET 5.0 and it turns out that we won't be able to debug it until .NET 7.0? Feels like a big gap to me.

[2021-07-29 13:28] OlegRa commented on #56542
@karelz As a person who investigated this issue from the client side I agree - it's not a .NET problem itself. Sending requests in multiply frames is standard-conforming and better from the memory usage perspective. I think @gjtorikian just wants to have the ability to tune this behavior. Not all servers are under developers' control and in this case NGNIX server used by the API provider configure

[2021-07-29 13:32] jonathanpeppers commented on #56315
@lambdageek yes, the tests that fail like this were built for Release, and so they are trimmed.

[2021-07-29 13:34] stephentoub commented on #56536
Thanks.  I put up https://github.com/dotnet/runtime/pull/56547 to avoid the div-by-zero.

[2021-07-29 13:38] directhex commented on #55637
This is a good theory. Building ICU leaves one dirty file in the source tree (ie outside artifacts/), that could be the issue

Sent from my iPhone

[2021-07-29 13:39] lambdageek commented on #56315
Ok, I'm going to try to PR the same check for trimmed methods in `BeginWrite/EndWrite` - I'm assuming that will fix it.

[2021-07-29 13:57] #56372 closed

[2021-07-29 14:01] steveisok commented on #36440
@rolfbjarne this will be addressed before RC.

[2021-07-29 14:15] stephentoub opened #56549 "Inconsistent behavior with new GetHostAddress{Async} overloads that take AddressFamily?"
The existing GetHostAddress{Async} overloads have this in the docs:

I've not confirmed whether that's correct.  However, if it is, it seems our new overloads that accept `AddressFamily` are inconsistent with this.  I'd have expected that if I requested just IPv6 addresses and none were available, it would return an empty array, but instead it throws an exception:
[code]
Unhandled exception. Syste

[2021-07-29 14:39] antonfirsov commented on #55261
This seemed to cause massive failures in the CI `stress-http` runs in the first week of July ([see here](https://dev.azure.com/dnceng/public/_build/results?buildId=1226831&view=logs&j=0da5d1d9-276d-5173-c4c4-9d4d4ed14fdb&t=6c56d998-158d-5232-283c-5140104799fc)) but the CI failures disappeared after 7/8.

[2021-07-29 14:40] antonfirsov commented on #42211
#### Report 7/29

with manual observations after a brief look through the CI output of between 7/13-7/29, excluding the HTTP3 failures:
- There is a new failure type now tracked under #56159
- Other failures I've seen are known and described in the opening post
- There seems to be 2 cases where the [Job run is unfinished](https://dev.azure.com/dnceng/public/_build/results?buildId=1258472&view=logs

[2021-07-29 14:46] CarnaViire commented on #55261
AFAIK it started after updating to latest Kestrel version in https://github.com/dotnet/runtime/pull/55098 because we needed it for HTTP/3, but in the same PR we put "active issue" on the failures not to pollute runs. Most possibly the massive failures you've seen were for that PR only, not for main?

[2021-07-29 14:48] karelz commented on #55261
The test were disabled on 7/8, so that checks out ;)

@alnikola will you be able to run your repro easily against earlier version of Kestrel (either 5.0, or earlier 6.0 Preview)?

[2021-07-29 15:10] tim-pringle commented on #46125
Experience this also. Exactly the same scenario as @mrybson.  For me, process ends with exit code 139 every time.

**Configuration**
NET 5.0
OSX

[2021-07-29 15:12] mateoatr commented on #28949
This is being tracked in #51097.

[2021-07-29 15:12] #28949 closed

[2021-07-29 15:19] #52332 closed

[2021-07-29 15:44] danmoseley commented on #56072
ping @davidfowl ...

[2021-07-29 15:46] performanceautofiler[bot] opened #56563 "[Perf] Regressions in System.ComponentModel.TypeConverter.dll, System.ComponentModel.Primitives.dll, and System.Private.Runtime.InteropServices.JavaScript.dll"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Baseline | [2053d653bfd7fc0a5d073a5d31e01600d2d5fa3f](https://github.com/dotnet/runtime/commit/2053d653bfd7fc0a5d073a5d31e01600d2d5fa3f)
Compare | [3c253d18e88da47b4c26643b4228414c6259ce23](https://github.com/dotnet/runtime/commit/3c253d18e88da47b4c26643b4228414c6259ce23)
Diff | [Diff](https://github.com/dotnet/runtime/compare/2053d

[2021-07-29 15:49] briansull commented on #56522
I will investigate

[2021-07-29 15:53] #56495 closed

[2021-07-29 15:55] alnikola commented on #55261
I will try to run stress tests on 6.0 Preview 4 (it's reported to be healthy) or .NET 5.

[2021-07-29 15:56] #55051 closed

[2021-07-29 16:00] CarnaViire commented on #56310
I realized that it's not really a regression, it's more like https://github.com/dotnet/runtime/issues/55810 got fixed somehow. Before, we had super small numbers of requests and they didn't change since 1st minute of running. Now, we finally have more decent-ish numbers and that surfaced the issues we weren't able to see before.

I wonder if connection getting closed and then not opening again is

[2021-07-29 16:02] CarnaViire commented on #55810
Numbers are not low anymore, but we have another problem #56310

I'm closing this for now, will reopen if we'll see this again.

[2021-07-29 16:02] #55810 closed

[2021-07-29 16:03] hez2010 opened #56553 "Method not being inlined by default"
### Description
Method not being inlined by default, even when Pgo is enabled.

Repro:

[code]

Env:
[code]

Jit dump:
[code]

Method `AddPoint` is not being inlined.

If I add `MethodImplOptions.AggressiveInlining` to `AddPoint`, the JIT code will be very impressive:

[code]

### Configuration
.NET: 6.0.100-rc.1.21377.6

### Regression?

### Data

### Analysis

[2021-07-29 16:07] karelz commented on #56482
Triage: We should fix it. Not a regression against 5.0 -> moving to 7.0.

[2021-07-29 16:07] josalem commented on #54801
@VincentBu I don't think the ContextualReflection test and the TraceValidation test failures are related. I think it would be worth it to open a separate issue for the reflection failure.

[2021-07-29 16:08] josalem opened #56554 "Test failure in gcstress: Loader\\ContextualReflection\\ContextualReflection\\ContextualReflection"
Failed again in [runtime-coreclr gcstress0x3-gcstress0xc 20210727.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1262301&view=ms.vss-test-web.build-test-results-tab&runId=37404074&resultId=109138&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

_Originally posted by @VincentBu in https://github.com/dotnet/runtime/issues/54801#issuecomment-888755586_

[2021-07-29 16:08] karelz commented on #56549
Triage: We need to figure out what to do -- change docs, change product, or by design.

[2021-07-29 16:10] DrewScoggins commented on #56555
Seems related to https://github.com/dotnet/runtime/pull/55959

[2021-07-29 16:14] karelz commented on #56477
Triage: We need to look into this for 6.0. Ideally try to repro locally. If not, we can force crash via Timeouts on tests that hang with highest frequency ...

[2021-07-29 16:17] stephentoub commented on #56555
@DrewScoggins, how do I see other generic instantations of this same test for the same period?  The test runs for both object and byte:
https://github.com/dotnet/performance/blob/d7dac8a7ca12a28d099192f8a901cf8e30361384/src/benchmarks/micro/libraries/System.Buffers/ArrayPoolTests.cs#L14-L15

[2021-07-29 16:20] ericstj commented on #47809
I don't believe that works either since `TargetPlatformIdentifier` is derived from `TargetFramework` and there simply is no code that can do that work between where the designer sets `TargetFramework` and where the project consumes it.  Using any TargetFramework-derived properties in other project propertygroups does not work in design time build.

Here's a sample:
[code]

The design time binlog f

[2021-07-29 16:20] geoffkizer commented on #56542
Agreed, this is not a .NET issue. What we are sending is legal per RFC and the server should accept it.

That said, if this is a common interop issue, we can certainly look at adjusting our behavior here to deal better with nonconforming servers.

[2021-07-29 16:22] mkArtakMSFT commented on #56556
@lewing FYI

[2021-07-29 16:24] DrewScoggins commented on #56402
We are also seeing improvements from this change on Arm64. https://github.com/dotnet/perf-autofiling-issues/issues/76

[2021-07-29 16:29] ericstj commented on #36064
They have been added to the SDK so you can use them when targeting any framework and running on the latest SDK.  The analyzers are also available out-of-band in https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers.  You can even try out a nightly build of those today: https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet6&package=Microsoft.CodeAnalysis.NetAnalyzers&pr

[2021-07-29 16:32] mikem8361 commented on #56037
Yes, it does look like the assemblies are updated in the wrong order. My test app's main assembly is updated first adding the reference to the new function and then the test library that adds the function itself.

If I do the edits separately with the library first and then the main app, it works.

[2021-07-29 16:33] mateoatr commented on #55895
This looks like there's an infinite recursion when trying to get the exception message that will be thrown. Probably a dup of https://github.com/dotnet/runtime/issues/53833.

[2021-07-29 16:33] davidfowl commented on #56072
My thought was it was to help people understand how many periodic vs short lived timers they had. Ina typical application, id expect a handful of periodic timers and lots of short lived ones. As a potential signal for problems (maybe people are spinning up a crapload of http clients vs a crapload of cancellation tokens).

[2021-07-29 16:37] ViktorHofer commented on #47809
The idea is not to pass in a derived property but make use the msbuild property functions which always accept `$(TargetFramework)` as an input. The second function is just for completeness to be used inside a target or anywhere where design time builds don't matter.

This should already work today both in design time builds and normal builds:

[code]

An example with my proposal from above:

[code

[2021-07-29 16:40] karelz commented on #56269
Triage: @wfurt will add some instrumentations, so that we can make it actionable. We are unable to repro it locally (unlike other failures).

[2021-07-29 16:44] #55406 closed

[2021-07-29 16:45] alnikola commented on #55261
@adityamandaleeka I ran these POST tests on .NET Core: 5.0.8, ASP.NET Core: 5.0.8 and the completed successfully. I have not got any errors.

[2021-07-29 16:46] jkoritzinsky commented on #55487
cc: @AaronRobinsonMSFT can you take a look when you have a chance? I don't have an M1 Mac so I can't really investigate well.

[2021-07-29 16:53] jkoritzinsky commented on #55487
Actually, this looks like it's stopped repro-ing sometime after fe49e55c09cefcedc7b7d0a679267ce76eaf79cd and before bc0dc07f67672afbef97f634fbdca21ada1ca296

As there were a number of JIT changes in the commits between those two and there's been a number of runs where these three tests haven't failed since, I'm going to close this as a no-repro/fixed.

[2021-07-29 16:53] #55487 closed

[2021-07-29 16:53] kouvel commented on #55895
The second failure looks unrelated to the first failure, will track the first failure for this issue

[2021-07-29 17:01] ericstj commented on #47809
I see, sorry for misunderstanding.  Property functions are helpful as a way to do the calculation inline, but given we can't satisfy all cases it might be a bit of an unexpected cliff when you needed a runtime compatibility decision as you mentioned.  The concept of TargetPlatform compatibility/hierarchy is actually not one present in the product so even if we had more property functions added it

[2021-07-29 17:02] EgorBo commented on #56553
Unfortunately, DynamicPGO is not kicked in in your case, your `Test` function has only one basic-block => we don't instrument such functions => no PGO multiplier during inliner. E.g. add a fake block to Test e.g. `if (x < 0) x = 0;` and observe the results.

cc @AndyAyersMS any thoughts about instrumenting large single-block methods?

[2021-07-29 17:06] karelz commented on #55261
@alnikola would it be possible to use latest .NET Core libraries for client side, while using old Kestrel? That would tell us if our current client has a bug or if it is Kestrel.

[2021-07-29 17:06] lambdageek commented on #52652
@lateralusX Do we include the eventpipe component by default on Android for testing? Or would the testsuite need to include it explicitly?  It looks like this test depends on defining an EventListener.

[2021-07-29 17:07] karelz commented on #56542
@OlegRa do you know which exact version of server it was? Did you find out what is misconfigured there?

[2021-07-29 17:08] agocke commented on #56519
Is `.dll` appropriate? That was the strange part for me.

[2021-07-29 17:12] hez2010 opened #56562 "Inefficient code generated in generic call with reference type"
### Description

Repro:

[code]

Config: Release, pgo disabled, bypass tier0

Sharplab: https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIAYACY8gOgCUBXAOwwEt8YLAMIR8AB14AbGFADKMgG68wMXAG4aNBdigNcDALwMuMAO4NZAMQgQAFAEoN1ACqqM5W7kc1XuDKU9vam1dMENjMwYhazsg33dbMCCaAHoUvQ5gOAgxPnxsSQZIABMYBlM8BgBzGBMobAwYYoYACxkYHzcApKc08pblFoZefVwOMTEIXCaGDAgGYA7qPvwIBQYYMAQ0BjoEYFT0sALC5hZmAE5bAE

[2021-07-29 17:13] jakobbotsch commented on #56553
I wonder if we should instrument single block methods anyway but add a mechanism to filter such PGO data out in dotnet-pgo that we can use for the PGO data we ship. Thoughts @AndyAyersMS?

[2021-07-29 17:14] teo-tsirpanis commented on #56539
Hello, judging from dotnet/announcements#190, supporting .NET Framework 4.5.2 is pretty unlikely.

A supported framework does not necessarily mean that people should write new code targeting it, otherwise we would still write code that targets .NET Framework 3.5 which is supported until 2028. And April 2022 is not a long time; it's less than a year.

[2021-07-29 17:21] lateralusX commented on #52652
If tests are build using Android App builder it needs to be included in the runtime components or it won't get deployed. Having that said, if tests are only depending on inproc listeners I believe it should still work, since stub won't fail calls and looks like tests times out also depends on the fact that we have something generating the events as well. I could have a look at it tomorrow to bette

[2021-07-29 17:21] FWest98 commented on #47809
I'm running into these exact same issues for `System.DirectoryServices.AccountManagement`. After updating the solution file and DotGenFacades (https://github.com/dotnet/runtime/issues/51601#issuecomment-888488959), I got these "ambiguous" IntelliSense errors; building and testing worked without problems. Replacing the NotSupportedAssemblyMessage condition with `'$(TargetPlatformIdentifier)' != 'wi

[2021-07-29 17:22] agocke commented on #56519
If we do not end up changing this behavior, I think the behavior change should maybe be on MetadataLoadContext (at the suppression in https://github.com/dotnet/runtime/pull/56196) to produce a string different from `<Unknown>` when loading from memory

[2021-07-29 17:24] DrewScoggins commented on #56555
So the link is here,https://pvscmdupload.blob.core.windows.net/reports/allTestHistory/refs/heads/main_arm64_Windows%2010.0.19041/System.Buffers.Tests.RentReturnArrayPoolTests(Byte).MultipleSerial(RentalSize%3a%204096%2c%20ManipulateArray%3a%20False%2c%20Async%3a%20False%2c%20UseSharedPool%3a%20True).html

I got this by just clicking on the link in the table above and replacing the Object inside pa

[2021-07-29 17:28] ViktorHofer commented on #47809
For properties, instead of doing `'$(TargetPlatformIdentifier)' != 'windows'` you want to do the following:

`$([MSBuild]::GetTargetPlatformIdentifier('$(TargetFramework)')) == 'windows'`

For items you can use the former one. That has do with the evaluation order in msbuild (properties first, then items).

[2021-07-29 17:30] #53546 closed

[2021-07-29 17:33] AndyAyersMS commented on #56553
Yes, you can get the PGO count from the call site block (available in the inline candidate info).

[2021-07-29 17:38] mikem8361 commented on #56037
@pranavkm can you look into this issue?

[2021-07-29 17:39] Tohron commented on #56563
I noted regressions in System.ComponentModel.TypeConverter.dll, System.ComponentModel.Primitives.dll, and System.Private.Runtime.InteropServices.JavaScript.dll under SOD - Pizza App - Publish.  Seems like they might bear investigating.

[2021-07-29 17:43] pranavkm commented on #56037
@tmat is this specific to watch / Control-F5 or does it also need to change under F5?

[2021-07-29 17:43] AndyAyersMS commented on #56553
Maybe -- it would add a lot more instrumentation overhead. Given that the data for single block methods is largely redundant (at least for the purposes of inlining) I'm not sure it adds enough value.

On a related note I realized recently that we will emit a count probe for a method (even if single block) if it contains any class probes; I was thinking of fixing this to remove the count probe...

[2021-07-29 17:48] radekdoulik commented on #56526
Fixed by https://github.com/dotnet/runtime/pull/56535

[2021-07-29 17:48] #56526 closed

[2021-07-29 17:50] davidwrighton commented on #56492
@RikkiGibson please verify that your issue still reproduces on some version of .NET 5 or 6. The change @aviAvni references should have fixed it in those versions.

[2021-07-29 17:58] FWest98 commented on #47809
Great! And then, since these functions don't accept pre-net5.0 TFMs, you also need to remove `netcoreapp3.1-windows` from the `TargetFrameworks`. Now it works!

[2021-07-29 18:10] wfurt commented on #56269
I got local failure with different trace
[code]

I will investigate as well as I'll put in some instrumentation to find out more on CI failures.

[2021-07-29 18:11] ayousuf23 commented on #49998
@briansull I'm not sure if I am suited to solving this issue. I'm not sure what I should modify.

[2021-07-29 18:14] davidwrighton commented on #56493
I believe we actually already have the means for updating PGO data in a servicing update, but we don't actually have any plans to do so.

[2021-07-29 18:21] davidwrighton commented on #56484
Yes probably due to #56061. I'll take a look.

[2021-07-29 18:27] RikkiGibson commented on #56492
I ran the test again and verified that the value of `RuntimeInformation.FrameworkDescription` is `.NET 6.0.0-preview.6.21352.12`. It still seems to have this behavior.

I also dumped the IL. Unfortunately the compiler I'm using is built from source, otherwise it would be a bit easier to give you a source reproducer:

<details>
    <summary>IL dump</summary>

[code]

</details>

In case it helps I

[2021-07-29 18:30] josalem opened #56567 "Test Group Failure: System.Runtime.Tests outerloop"
Noticed these failures when I was investigating some disabled tracing tests in #56507. These failures are unrelated to the tests I turned back on in that PR, so I looked at the history.

[net6.0-Linux-Debug-x64-CoreCLR_release-Ubuntu.1804.Amd64.Open](https://dev.azure.com/dnceng/public/_build/results?buildId=1265175&view=ms.vss-test-web.build-test-results-tab&runId=37465106&resultId=104470&paneVie

[2021-07-29 18:37] RikkiGibson commented on #56492
We would like to ship the feature in the .NET 6 timeframe if possible.

[2021-07-29 18:37] TonyValenti opened #56569 "ClickOnce seems broken for .NET 6.0"
### Description
When trying to publish using ClickOnce and .NET6.0, publish fails and provides no useful information as to why.

### Configuration
[code]

### Regression?
Yes.  This used to work on .Net 5.0.

### Other information
This information is given in the log:
[code]

And the last few lines of the output log show:
[code]

I would wager that the ```GetTargetPath``` errors have something to

[2021-07-29 18:38] kunalspathak opened #56570 "windows arm/arm64: runtime-coreclr outerloop tests failing with stack overflow"
Majority of `runtime-coreclr outerloop` tests are failing with following fundamental error on windows/arm64 R2R-CG2, CoreClr windows/arm

[code]

Here is the query of failing tests: https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E2+definition%3A655 . The tests were passing in https://dev.azure.com/dnceng/public/_build/results?buildId=1264415&view=results and started failing since http

[2021-07-29 18:38] kunalspathak commented on #56570
@AndyAyersMS  - can you please take a look and confirm?

[2021-07-29 18:40] janvorli commented on #53420
@jaredpar I would like to look into this issue - is there a reasonable way to repro it locally?

[2021-07-29 18:41] mangod9 commented on #47309
Windows functionality is complete, but Linux will be done in 7.

[2021-07-29 19:01] tmat commented on #56037
/cc @isadorasophia

F5 likely has a similar problem. EnC does not since the app is suspended when changes are applied.

I think the ordering needs to happen in the code that applies changes to the process. If it was done in Roslyn it wouldn't work for C# code calling F# (if in future F# supported hot reload), or other languages that might support Hot Reload.

[2021-07-29 19:04] AndyAyersMS commented on #56570
Sure. Seems odd that if it's this change, that the behavior would be arch specific.

[2021-07-29 19:09] kouvel commented on #52379
Discussed offline, what I thought was a problem doesn't seem to be one that would cause a hang of this sort. Hopefully there'll be more info from another repro.

[2021-07-29 19:11] isadorasophia commented on #56037
@tmat yeah, sounds like this issue would happen in both F5 and Ctrl-F5. Wouldn't it be sufficient to expect that each language service order its own updates? How would we know how to order it otherwise?

[2021-07-29 19:15] dhhoang commented on #761
I have also observed a bizarre behavior, not sure if I'm misunderstanding anything here. So when a channel contains these cancelled `AsyncOperation`, setting it to `null` or making it go out-of-scope doesn't seem to free up memory. Below is the test program.
[code]
Steps: start the program, watch memory usage in Task Manager. The program starts at ~5MB, and after about 5 minutes it goes up to ~29M

[2021-07-29 19:18] terrajobst commented on #31542
BTW, a more detailed design document for `[RequiresPreviewFeatures]` is here:

https://github.com/dotnet/designs/blob/main/accepted/2021/preview-features/preview-features.md

The key difference of `[RequiresPreviewFeatures]` and `[Experimental]` seem to be:

1. `[RequiresPreviewFeatures]` is an error by default (but we're current re-reviewing to ensure this doesn't negatively affect the inner loop

[2021-07-29 19:20] #31542 closed

[2021-07-29 19:23] #49129 closed

[2021-07-29 19:27] terrajobst commented on #56498
@JamesNK I've added the API proposal and sample information and marked the issue as ready for review. We'll take a look next Tuesday, I'll send you an invite on Monday.

[2021-07-29 19:28] GrabYourPitchforks commented on #56544
Guessing this is a packaging issue? @ericstj @safern @Anipik, thoughts?

[2021-07-29 19:33] lambdageek opened #56574 "[hot_reload] Mono should ignore Param table row updates"
Roslyn will emit these for changes like this:

Old code:
[code]
New code:
[code]

Roslyn will emit a param update for 's' even though nothing about the parameter has changed.

(Note that to get a clean delta it's necessary to use hotreload-utils that includes https://github.com/dotnet/hotreload-utils/pull/65, otherwise the delta will be bloated with unnecessary field and method additions for the (

[2021-07-29 19:35] tmat commented on #56037
It wouldn't - imagine the above Lib.dll written in F# and the App.exe in C#. The ordering needs to consider contributions of all language services.

[2021-07-29 19:37] stephentoub commented on #56037
In such a scenario, who's coordinating getting all of the updates from each language service to the hot reload agent as part of the same batch?

[2021-07-29 19:39] tmat commented on #56037
The debugger receives the deltas from language services and then sends them over to all registered agents - it's M:N.

[2021-07-29 19:43] adityamandaleeka commented on #55261
Thanks @alnikola, that's very useful info. I'll second @karelz's question too :) .

[2021-07-29 19:43] kunalspathak commented on #56570
Another suspect would be 39803d4d3cbf818641437afb7402da15fa076bec by @janvorli in #52244.

[2021-07-29 19:57] #49453 closed

[2021-07-29 20:05] agocke commented on #50185
I think this is done. https://github.com/dotnet/runtime/pull/51294 closed out the only change we'd likely make here.

[2021-07-29 20:05] #50185 closed

[2021-07-29 20:05] agocke commented on #48343
Dup of https://github.com/dotnet/installer/issues/11164

[2021-07-29 20:05] #48343 closed

[2021-07-29 20:06] sandreenko opened #56576 "Stack overflow. Repeat 319 times."
We started to see such error on arm32 recently:
[code]

The first outerloop with such failures is [Yesterday ](https://dev.azure.com/dnceng/public/_build/results?buildId=1264799&view=ms.vss-test-web.build-test-results-tab&runId=37460622&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab&resultId=110654) but it has 250 changes in it so we will need additional binary search

[2021-07-29 20:11] steveisok commented on #52856
This should not work on MacCatalyst and is flagged as being skipped.

[2021-07-29 20:11] #52856 closed

[2021-07-29 20:11] AndyAyersMS commented on #56576
Looks like a dup of #56570.

[2021-07-29 20:14] AndyAyersMS commented on #56570
@janvorli I see there's what look like all-platform changes from your pr #52244 in arm/stubs.cpp and changes in unix assembly, but nothing on the windows assembly side.... ?

[2021-07-29 20:15] ericstj commented on #47809
Honestly in most cases here I'm not seeing much usage that would get more complicated by just having some comparisons with TargetFramework values, or even TargetFramework.EndsWith comparisons.  Most of these conditions are referring to literal values that are a couple lines up in the same file.

[2021-07-29 20:20] jeffhandley commented on #53084
Makes sense, @buyaa-n; thanks. I forgot that the guards produce OR logic.

[2021-07-29 20:21] janvorli commented on #56570
Oops, I've left out the Windows arm asm part. I wonder how come the CI was green.
But this is just for arm, no **arm64** changes were there.

[2021-07-29 20:24] eiriktsarpalis commented on #55135
I think that this check is intentional, apparently it is meant to support "covariant" and "contravariant" converters and will only fail if there is no subtype relationship between the two types. Here are some tests that validate this:

https://github.com/dotnet/runtime/blob/a8dacd5577b4da88555f342abc8d5a3f219edca0/src/libraries/System.Text.Json/tests/System.Text.Json.Tests/Serialization/CustomConv

[2021-07-29 20:26] AndyAyersMS commented on #56570
Pretty sure these are just arm tests failing, and not arm64 tests. The title is confusing though:
[code]

[2021-07-29 20:27] kunalspathak commented on #56570
Yes...I misread the failure titles...they are all windows/arm.

![image](https://user-images.githubusercontent.com/12488060/127561123-87c1b91c-262a-44f8-8102-33720e3e8d6e.png)

We should definitely add P0 test that will be run in CI.

[2021-07-29 20:32] danmoseley opened #56580 "TcpReceiveSendGetsCanceledByDispose timed out"
I got this on my home Windows 10 machine. Seems this happened 8 times in the last week, on Windows and macOS: https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E7+name%3ATcpReceiveSendGetsCanceledByDispose+
[code]
[code]

[2021-07-29 20:36] ericstj commented on #56544
The bug here was that the Xamarin SDKs weren't removing System.Memory.dll OOB, but would select other assets from packages that counted on System.Memory being defined in netstandard.dll, which forwarded to Xamarins copy of Span/etc in the framework.  Types didn't agree, thus MissingMethodException.

@filipnavara -- would this be the same as https://github.com/xamarin/xamarin-macios/pull/10928.  @d

[2021-07-29 20:37] steveisok commented on #51274
@touzas Is this an issue for you any longer?

[2021-07-29 20:37] wfurt commented on #56543
What is the inner Exception  @amsoedal? This is somewhat hard to decode from the post.
Now, is there chance that there is certificate where the name or host changes based on the project name?

It seems like your best chance would be small repro with just HttpClient or SslStream. You can also try to get packet captures with Wireshark and compare the good and bad handshakes. (or post the traces)

[2021-07-29 20:40] tmat commented on #56037
Another scenario that would be good to test as well:

1. Add public method `Foo()` to a class in `a.dll` and a call to `Foo()` in `b.dll` when neither dll is loaded to the process
2. `b.dll` gets loaded to the process - at this point the second change is applied
3. The method that calls `Foo()` gets invoked - at this point `Foo()` MemberRef resolution starts, which loads `a.dll`, the first change

[2021-07-29 20:40] layomia commented on #45188
@danmoseley yes we can.

[2021-07-29 20:40] #45188 closed

[2021-07-29 20:45] steveharter commented on #55827
@NinoFloris thanks for the feedback as it helps determine priority and semantics. Most of the suggestions were previously considered, but scoped out for the initial feature set.

For now, I've added sample extensions below to demonstrate the easier ones including:
- `JsonArray.GetValues<T>()` : returns a strongly-typed enumerator for `T` (for homogeneous arrays).
- `GetAccessorFromPath()` : return

[2021-07-29 20:48] wfurt commented on #27216
Are you on 2.1 @junzhou98? 2.1 support will expire in ~ month. Just catch the exception if you cannot avoid the call.
Alternatively you can p/invoke the icon but that may or may not work. And if it is not, there is no real way IMHO how .NET can make it.

[2021-07-29 20:52] mikem8361 commented on #56037
For the original scenario who is going to order the updates?  The runtime can't.  The hot reload agent would have to crack the delta from the language service(s) and order them topologically by assembly (which sounds like a lot of work this late in the release), but how would updates be "batched" from separate language services so agent knows what to order? A compromise (depending on how much work

[2021-07-29 20:55] BruceForstall commented on #56570
When Windows arm32 was removed from the supported platform set, we intentionally removed it from many testing runs. See https://github.com/dotnet/runtime/pull/39655. We keep it minimally alive via outerloop testing to aid JIT developers (mostly), for whom working on Windows arm32 can be a better experience than working on Linux arm32.

[2021-07-29 20:56] janvorli commented on #34293
I have tested it more, it crashes only with some special dlls. For example the FileTracker64.dll that is not supposed to be loaded directly or unloaded. It installs detours hooks and when it is removed, the hooks stay. There was one more similar case. So I am closing this issue as we cannot do anything about these.

[2021-07-29 20:57] #34293 closed

[2021-07-29 20:58] pranavkm commented on #56037
The agent already has to do this because ApplyUpdate requires an `Assembly` instance. We have code to do topological sort the metadata updata handlers, so it shouldn't be to hard to also use it for this case.

HotReloadAgent stashes all of the batches away and applies them on AssemblyLoad.

Most of this is doable in a few days time, I'm less certain if it would be high on our priority list.

[2021-07-29 20:58] BruceForstall commented on #56570
The format for jobs puts the Helix machine queue after the `@` sign, and Windows arm32 jobs run on Windows arm64 machines, just as Linux arm32 runs on Linux arm64 machines, and Windows x86 on Windows x64 machines.

[2021-07-29 20:58] steveisok commented on #52858
The test is not supported on MacCatalyst as it tries to spawn a process.

[2021-07-29 20:58] #52858 closed

[2021-07-29 21:11] layomia commented on #41089
@klogeaage thanks for the feedback! Did you try using the JSON source generator for your tests? https://devblogs.microsoft.com/dotnet/try-the-new-system-text-json-source-generator/

[2021-07-29 21:37] #56576 closed

[2021-07-29 21:39] #55894 closed

[2021-07-29 21:42] wfurt commented on #51701
Since this is somewhat ambiguous my plan is to add context switch so application can choose the behavior. That it self should not be too difficult. The major obstacle at this point is building test environment and verification.

[2021-07-29 21:44] vargaz commented on #56480
This was caused by a linker problem.

[2021-07-29 21:44] #56480 closed

[2021-07-29 21:48] vargaz commented on #50783
Same as
https://github.com/dotnet/runtime/issues/56309

[2021-07-29 21:48] #50783 closed

[2021-07-29 22:02] danmoseley commented on #55576
It seems to repro on my machine. Is there anything I can gather to help

[2021-07-29 22:04] safern commented on #52317
@DrewScoggins could you please confirm that this regression is not there anymore as @ericstj suggested so that we can close this issue?

[2021-07-29 22:06] safern commented on #32030
Test is disabled, moving to Future.

[2021-07-29 22:07] DrewScoggins commented on #52317
Yeah, looking through the commits that could have caused this, I don't see any real culprits besides PGO data update. And since we have seen this number come back down I think closing it is fine.

[2021-07-29 22:07] #52317 closed

[2021-07-29 22:09] danmoseley commented on #55576
TryGetNameInfo_LocalHost_IPv6 and TryGetNameInfo_LocalHost_IPv6_TryGetAddrInfo fail here
[code]
it appears that on this machine, it cannot resolve this to localhost.

I noticed this line in another file which sounds like this:
https://github.com/dotnet/runtime/blob/f5ec451f88d482a658fd3f387a808650fbaf3425/src/libraries/System.Net.NameResolution/tests/FunctionalTests/TestSettings.cs#L22

I haven't

[2021-07-29 22:09] #36582 closed

[2021-07-29 22:15] maryamariyan commented on #42877
We are moving this to 7.0 since it doesn't seem like a blocking scenario.

[2021-07-29 22:16] danmoseley commented on #55215
Setting milestone future as this is apparently not a 6.0 issue.

[2021-07-29 22:28] derekantrican commented on #55215
Sorry for the delay

My solution was to just release a new version of my program built on .NET 5. I figured I'd log here in case there was some reason to push out some fix to .NET Core 3.1.

I can ask the user for the values of those variables. Did you have a suggestion for what to do in regards to "please use DYLD_PRINT_LIBRARIES to get more info about where it's looking"?

[2021-07-29 22:31] JamesNK commented on #49423
@Tratcher

[2021-07-29 22:32] danmoseley commented on #49107
this means libproc.GetProcessInfoById(pid).Value.ptinfo.pti_virtual_size was 0.
Interop definitions are in https://github.com/dotnet/runtime/blob/e7b743cae325d4720fceaf7f84f68aaaf7bb7dbe/src/libraries/Common/src/Interop/OSX/Interop.libproc.GetProcessInfoById.cs.
It all seems done correctly as far as I can see looking at
https://opensource.apple.com/source/xnu/xnu-7195.81.3/bsd/sys/proc_info.h.auto

[2021-07-29 22:39] radical commented on #56556
@qinhuaihe Could you please run: `dotnet clean; dotnet publish -bl`, and then share the generated `msbuild.binlog`? Also, could you share your project file?

[2021-07-29 22:40] briansull commented on #56522
This doesn't appear to me to be a ValueNumbering bug.
We do make a CSE for all the references to long.MinValue and put this place into a callee saved register s8. (aka as d8)
I appears that the third call to `GenerateTest `corrupts this variable and changes it to 0.0

[2021-07-29 22:41] briansull commented on #56522
[code]

[2021-07-29 22:43] OlegRa commented on #56542
@karelz Unfortunately, not. I'm just developing/supporting the OSS SDK for this API. I've checked the NGNIX bug tracker and found several issues related to this behavior. In the case of HTTP/1.1 NGNIX returns proper responses but in the case of HTTP/2 sometimes it just drops the connecitons.

[2021-07-29 22:43] StephenMolloy opened #56589 "XmlSerializerGenerator duplicates code in System.Private.Xml"
Discovered when looking into #37970. We should look into not maintaining duplicate code and have this generating code live in just one place.

[2021-07-29 22:43] radical commented on #41160
This was fixed in https://github.com/dotnet/xharness/pull/309, and hasn't been seen since.

[2021-07-29 22:43] #41160 closed

[2021-07-29 22:44] wfurt commented on #49423
Note that MsQuicListener needs ALPN to event start. That may be fixed in future but that is current constraint.

[2021-07-29 22:45] steveisok commented on #50999
@mdh1418 These tests no longer fail on Android.

[2021-07-29 22:46] wfurt commented on #55576
What `ipconfig /all` gives you @danmoseley ?

[2021-07-29 22:46] #1520 closed

[2021-07-29 22:48] StephenMolloy commented on #50526
Many of these API's are holdovers from Full Framework that were made to throw PNSE because the features that depend on them were not yet implemented. But many of them will be used in the future.

[2021-07-29 22:49] radical commented on #47658
@thaystg Could you please check if this works now?

[2021-07-29 22:49] sandreenko commented on #56522
Do you mean that `Program:GenerateTest` does not respect callee saved contract for d8? That would be a serious issue.

[2021-07-29 22:50] radical commented on #45104
@thaystg is this fixed with `main`?

[2021-07-29 22:50] steveisok commented on #50576
@mdh1418 This no longer fails on Android and can be re-enabled.

[2021-07-29 22:51] danmoseley commented on #56214
@Dmitry-Me any interest in offering an edit to https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.process.kill?view=net-5.0  ? (click pencil button in top right)

[2021-07-29 22:54] danmoseley commented on #55685
Seems reasonable, if it works in all the same places. Do you want to offer a PR, @jaykrell ?

[2021-07-29 22:56] briansull commented on #56522
I looked at `Program:GenerateTest` and it does use d8 (and it saves and restores d8)

I believe that there is data corruption taking place when  `Program:GenerateTest` is executing,
 which corrupts the value saved in the stack used for restoring d8 in `Program:GenerateTest`.

[2021-07-29 23:00] tarekgh commented on #40803
I looked at this one and it is a duplicate to https://github.com/dotnet/runtime/issues/56155

It is an ICU issue when doing any string search operations (e.g. IndexOf, LastIndexOf, IsSuffix, and IsPrefix). This issue occurs only when having IgnoreNonSpace option which is translated to Primary Collation Strength with turning off case insensitivity and that is where ICU fail to do the right thing. W

[2021-07-29 23:00] #40803 closed

[2021-07-29 23:01] BruceForstall commented on #56237
This is a dup of https://github.com/dotnet/runtime/issues/51250

[2021-07-29 23:01] #56237 closed

[2021-07-29 23:02] danmoseley commented on #55576
Sent offline. Also,
[code]

[2021-07-29 23:18] teo-tsirpanis commented on #56569
Are you not using an SDK-style project? Try replacing your project file's fifth line with

[code]

And you can remove the lines above it, they are not needed.

[2021-07-29 23:23] #49110 closed

[2021-07-29 23:31] briansull commented on #56522
I have included the Arm64 codegen for Windows AltJit, I don't see anything that is wrong with it.
Running on real hardware you could set a data breakpoint after the store of d8

`        FD0027E8          str     d8, [sp,#72]`

And see if someone is modifying `[sp,#72]`

[code]

[2021-07-29 23:46] steveharter opened #56592 "Additional JsonNode functionality"
### Background and motivation

Add missing features that were requested by the community. Note that `System.Text.Json.Nodes.JsonNode` and derived types are new, added in 6.0 preview 4.

### API Proposal

[code]

### API Usage
DeepClone and DeepEquals
[code]

GetValueKind
[code]

JsonArray.GetValues
[code]

[2021-07-29 23:47] sandreenko commented on #56522
@briansull so your analysis was done using an altjit?

[2021-07-29 23:49] DylanGTech commented on #54242
This doesn't look too difficult to do, as you stated, @SingleAccretion, it's a matter of searching and removing code that is no longer used. I can give this a go.

[2021-07-30 00:00] danmoseley commented on #55215
The goal is to find out where it's looking for libproc, because either it's not looking in /usr/lib or somehow it's not there.

Now I think about it, `DYLD_PRINT_LIBRARIES=1` will write to stderr where successful loads come from. In this case it's not loading successfully. (I don't have a mac handy right now to try)

https://stackoverflow.com/questions/51178311/dotnet-restore-unable-to-load-shared

[2021-07-30 00:03] sandreenko commented on #50761
probably fixed by #56059, it looks like it was failing in 50% runs so I triggered 4 to confirm.

[2021-07-30 00:03] josalem commented on #49338
I tinkered with adding this code, and this is doable. I'm not sure we want to put this in for .net6 at this point since the change has the potential to affect some out of band tooling dependent on ETW as well.

Since there is a workaround (open a session and collect an EndRundown then start a second session where you use that information) I'm inclined to push this feature to .net7. I'll link to my

[2021-07-30 00:15] #50839 closed

[2021-07-30 00:16] derekantrican commented on #55215
Thanks for the stackoverflow link - I couldn't find one before.

Yeah, I personally don't have any problem with marking this as "won't fix - just use .NET 5" (though someone else may have a more specific reason why they can't upgrade). Just figured I'd report it so you guys were aware

[2021-07-30 00:38] JamesNK commented on #55988
I looked into this more and have narrowed down the cause to the status code.

`The server returned an invalid or unrecognized response` for 415:

[code]

Success for 200:

[code]

The question is, is there a bug in how Kestrel writes the status code, or a bug in how HttpClient reads it?

[2021-07-30 00:42] qinhuaihe commented on #56556
[msbuild.binlog.zip](https://github.com/dotnet/runtime/files/6904400/msbuild.binlog.zip)

[2021-07-30 00:43] qinhuaihe commented on #56556
This is my project file:
[code]

[2021-07-30 00:46] jlchavez opened #56594 "Task-Like custom implementation breaks AsyncLocal data"
I've created a custom Task object that uses a custom TaskMethodBuilder, that should interact with some scoped data that will flow through the async calls. When using the .net Task object it works fine, but when done in OperationTask (my custom task) the data get's stuck until in returns to a normal Task. The OperationTask has a Wrapper that points to the current OperationScope on the current threa

[2021-07-30 00:56] JeremyKuhne commented on #56464
Good to know. It might be worth fiddling with the buffer size option to see it's impact.

[2021-07-30 01:29] AndyAyersMS commented on #56562
Thanks for the report.

For `Test1(s)` we leave around a dead box:
[code]
we should be able to propagate non-nullness of the BOX upwards and get rid of this.

[2021-07-30 01:37] #56484 closed

[2021-07-30 01:38] wfurt commented on #55988
If we get hands on session keys and/or sever key and if we can collect packecpature we should be able to peak in, right?
Would tracing help to see what server is intending to send for given request vs what is sending? And add some unique ID to the url so it is easier to correlate.

[2021-07-30 01:48] AndyAyersMS commented on #56562
In `Test2(c)` devirtualization is blocked because our simplistic callee IL analysis thinks that arg0 can be modified (because of the `ldarga.s`) and so we won't direct sub the known-typed argument:
[code]
Not sure if there is an easy fix here as it requires doing flow analysis before devirt.

I suppose if we had a faithful stack model in the IL prescan we could defer judgement on the `ldarga.s` an

[2021-07-30 01:53] JamesNK commented on #55988
The problem is in HttpClient. I tested with curl+http3 and 415 status worked fine.

[code]

[2021-07-30 02:06] AndyAyersMS commented on #54796
I don't see why this issue is marked as 6.0 -- so I'm going to move it to future.

[2021-07-30 02:10] radical commented on #56556
It's failing to cross compile `Excubo.Generators.Blazor.dll`, which is a source generator from `Excubo.Generators.Blazor` nuget.
- The nuget has the assembly in `analyzers/dotnet/cs`, which is needed to enable it's use as a source generator
- but it also has it in `lib/netstandard2.0`, which causes it to be used as an assembly reference too

1. The upstream package (https://github.com/excubo-ag/Ge

[2021-07-30 02:14] steveisok commented on #50928
@mdh1418 These tests all appear to pass and can be re-enabled.

[2021-07-30 02:17] steveisok commented on #50571
The test has a `SkipOnPlatform` and doesn't need to be fixed.

[2021-07-30 02:17] #50571 closed

[2021-07-30 02:26] steveisok commented on #50579
@mdh1418 These tests pass on Android and can be re-enabled.

[2021-07-30 02:27] sandreenko commented on #54796
it will be closed automatically in 12 days as I was told.

[2021-07-30 02:31] VincentBu opened #56597 "Test failure: System.Net.Sockets.Tests.SendFile_SyncForceNonBlocking.GreaterThan2GBFile_SendsAllBytes"
Run: [runtime-libraries-coreclr outerloop 20210729.6](https://dev.azure.com/dnceng/public/_build/results?buildId=1265767&view=ms.vss-test-web.build-test-results-tab&runId=37479132&paneView=debug&resultId=103168)

Failed test:
[code]
**Error message:**
[code]

[2021-07-30 02:35] steveisok commented on #50925
@mdh1418 These tests pass on Android and can be re-enabled.

[2021-07-30 02:40] nike4613 commented on #54796
@SingleAccretion @jakobbotsch It seems like I am seeing the shadow stack space, thanks.

@sandreenko I am fully aware that it is an implementation detail, and that it is subject to change; that is fine. I would like it to be documented *somewhere* in this repo, whether somewhere in the BOTR or in some (preferably interlinked) place in code that can easily be read.

The "must" came from the way I w

[2021-07-30 02:40] steveisok commented on #50950
These tests are enabled.  Closing

[2021-07-30 02:40] #50950 closed

[2021-07-30 02:40] radical commented on #56556
The `Excubo.Generators.Blazor` package doesn't specify the relevant dependencies, like for `Microsoft.CodeAnalysis*`. That causes the publish step, and thus AOT, to not have some dependencies, and `mono-aot-cross` fails with that.

Solution would be to not have the assembly in `lib` folder, but if that's needed then the dependencies need to be correctly set in the nuget package.

[2021-07-30 02:42] radical commented on #56556
I opened an issue upstream - https://github.com/excubo-ag/Generators.Blazor/issues/2 . Closing this one.

[2021-07-30 02:42] #56556 closed

[2021-07-30 02:46] JamesNK commented on #56498
Ok. I might not make it because of time zones, but I think the issue is pretty self explanatory.

[2021-07-30 02:50] steveisok commented on #50948
@mdh1418 These tests pass on Android and can be re-enabled

[2021-07-30 02:51] steveisok commented on #50947
@mdh1418 These tests pass on Android and can be re-enabled.

[2021-07-30 02:55] #53359 closed

[2021-07-30 02:59] steveisok opened #56598 "APICompat exceptions when building on MacOS arm64"
On an M1, execute

`./build.sh -Subset mono+libs -os iOSSimulator -arch arm64`

Apicompat will throw this:

[code]

And then right below:

[code]

[2021-07-30 03:02] AndyAyersMS commented on #4871
Hmm, I may have actually found a viable fix... will perhaps put up a PR tomorrow after doing a bit more analysis on its impact.

[2021-07-30 03:02] steveisok commented on #50946
@mdh1418 These tests pass on Android and can be re-enabled.

[2021-07-30 03:18] briansull commented on #56522
Yes, I that is correct.

[2021-07-30 03:23] Gavin-Williams commented on #32418
".. why the System.Numerics namespace? Not that I have a better suggestion" - How about System.Graphics.

[2021-07-30 03:24] #56513 closed

[2021-07-30 03:30] safern commented on #56598
I believe this is a known issue, a limitation of CCI, but not sure. I couldn't find the issue I remembered seeing this discussed. @ericstj do you recall?

@steveisok ro unblock yourself you can build with `/p:RunApiCompat=false`

[2021-07-30 03:53] wfurt commented on #56597
[code]
This does not seems like test problem

cc: @ilyas1974 @MattGal

[2021-07-30 04:06] radical commented on #55171
With preview7,  libraries can be added with `<NativeFileReference Include="foo.dll" />`. It will get linked in.
You can wait for the preview7 release, or try it from https://github.com/dotnet/installer#installers-and-binaries .

[2021-07-30 04:06] #55171 closed

[2021-07-30 04:10] davidfowl commented on #56594
Your async method builder needs to implement execution context capture and restore. You can copy what the default implementation does to make it work the way you would expect

[2021-07-30 04:34] JamesNK commented on #56129
I'm moving this to high priority so it doesn't get missed. Getting notice of a request cancellation is important on the server, and the issue isn't specific to duplex.

[2021-07-30 04:36] JamesNK commented on #56115
It isn't specific to duplex. Unit test repo of GET request with this issue: https://github.com/dotnet/aspnetcore/commit/c8424252bb5e1fadea91fa7e15057f0ed73bff35

[2021-07-30 04:57] campersau commented on #56592
`GetPropertyIndex()` sounds wired to me what about `GetArrayIndex()`?

[2021-07-30 05:10] Lxiamail commented on #56166
Okay, I will add --skip-manifest-update option

[2021-07-30 05:24] danmoseley commented on #55215
We appreciate the report! I'll close. BTW, perhaps you'd be interested in picking up an issue to contribute a PR for something?

[2021-07-30 05:24] #55215 closed

[2021-07-30 05:37] FatTigerWang commented on #48602
I checked the historical discussion, this is a very interesting question. I want to try this, but may need some help. Can you assign this issue to me?

[2021-07-30 05:42] jeffhandley commented on #29679
I'm closing this issue out as being stale.

[2021-07-30 05:42] #29679 closed

[2021-07-30 05:46] jeffhandley commented on #55809
Thanks for the detailed report, @OldWarrior3000. This will require some investigation which we won't likely be able to complete very soon. For the time being, I'm going to mark this as `Future` and `needs further triage`. Please let us know if you get unblocked in the meantime.

[2021-07-30 05:46] dersia commented on #56544
@ericstj Iam trageting `netstandard2.1` and `Xamarin.Android v10.0`.
Unfortunately adding a reference to `<PackageReference Include="System.Memory" Version="4.5.4" IncludeAssets="None" />` in all projects (libs and android projects) did not work as a workaround.

[2021-07-30 05:54] Maximys commented on #56371
@JulieLeeMSFT , yes, you can close this issue. Thank you so much

[2021-07-30 05:58] jkotas commented on #29271
I do not think it makes sense to add this API to support legacy configuration system since we have lived for multiple releases without it now.

[2021-07-30 05:58] #29271 closed

[2021-07-30 06:01] jkotas commented on #931
.NET Framework actually used `APP_CONFIG_FILE` for this setting. This should be fixed by using the same.

[2021-07-30 06:01] noahfalk commented on #54469
I have this looping on my machine and maybe we'll get a repro. If not my plan is to add some extra instrumentation so we can catch the failure before it has deleted the linked list and then wait for CI to hit it again.

[2021-07-30 07:05] jkotas opened #56601 "[API proposal] Attribute for passing caller identity implicitly"
## Rationale

Number of libraries, including the new minimal ASP.NET host, use `Assembly.GetCallingAssembly()` for convenience. `Assembly.GetCallingAssembly()` is slow and unreliable API, and also not compatible with AOT technologies (e.g. https://github.com/dotnet/runtime/issues/53825). We need a fast, reliable and AOT-friendly replacement of `Assembly.GetCallingAssembly()`.

## Proposal

[code]

[2021-07-30 07:06] jkotas commented on #41690
I have created formal API proposal https://github.com/dotnet/runtime/issues/56601

[2021-07-30 07:06] #41690 closed

[2021-07-30 07:06] jkotas commented on #56601
@jaredpar Thoughts on this proposal?

cc @davidfowl

[2021-07-30 07:26] hoyosjs commented on #54469
@noahfalk I looked over the past 30 days and found no such failing test

[2021-07-30 08:18] davidfowl commented on #56601
So in the case of ASP.NET Core, it would look like this:

[code]

Usage:

[code]

The compiler would do this (since we're in Main):

[code]

[2021-07-30 08:28] noahfalk commented on #54469
Thanks for taking a look @hoyosjs! I've still got the test looping with no repro yet. I'm going to leave it running overnight and assuming it still hasn't reproed tomorrow I can PR in a bit of instrumentation + resolve the bug for now. We may never see it again, but if it does show up in the future we'll have a few more clues to work with.

[2021-07-30 08:32] noahfalk commented on #39353
Any change in behavior here is probably a (minor) breaking change. I don't think we'd want to change it at this point in the release.

[2021-07-30 08:34] stefanloerwald commented on #56556
Hi @qinhuaihe,

please try upgrading Excubo.Blazor.TreeViews to version 2.2.12, which references Excubo.Generators.Blazor version 1.14.0.

Thanks
Stefan

[2021-07-30 08:40] vadi2 opened #56605 "`dotnet pack` duplicating content"
How can I get `dotnet pack` to stop duplicating content in my package? Given this example:

[code]

My file is still duplicated:

[code]

I've already went over [the documentation](https://docs.microsoft.com/en-us/nuget/reference/nuspec#including-content-files), and while I got it to stop duplicating my file across `content` and `contentFiles`, it's still putting the file into the root of the pack

[2021-07-30 09:04] karelz commented on #56542
I am curious if NGINX takes it as a bug on their side which they will fix eventually. If that is true, perhaps it is not worth addressing on our side.
We should not take action until we have more details and see more customers falling into this.

Otherwise, we would have to compensate for any bug of evert HTTP/2 server out there, which doesn't make much sense ...

[2021-07-30 09:06] #37071 closed

[2021-07-30 09:09] JamesNK opened #56607 "[HTTP/3] Consider including QUIC dependencies in Docker images"
Update Docker images at https://hub.docker.com/_/microsoft-dotnet to include Linux dependencies required for HTTP/3.

[2021-07-30 09:19] msschl opened #56608 "Enrich analyzers with additional context"
As I understood from the [ConfigureAwait FAQ](https://devblogs.microsoft.com/dotnet/configureawait-faq/) written by @stephentoub it is unnecessary to call `.ConfigureAwait(false)` in ASP Net Core App code.

For people building projects with all analyzers enabled like we do as follow:
[code]
[Overview of .NET source code analysis](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/o

[2021-07-30 09:25] karelz commented on #55957
Test disabled for all configurations (incl. MsQuic) in PR #56566 on 7/30

[2021-07-30 09:27] jkotas commented on #56519
Agree. `ScopeName` should return [`ModuleDefinition.Name`](https://docs.microsoft.com/dotnet/api/system.reflection.metadata.moduledefinition.name)

Roslyn uses the filename, including the suffix, for this by default. You can override the default using `/modulename` Roslyn switch. E.g. Compile .dll with `/modulename:banana` - `ScopeName` will return `banana` without `.dll` suffix.

[2021-07-30 09:37] karelz opened #56609 "[HTTP/3] Test Timeout: Alpn_H3_Success"
Test: System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http3_MsQuic.Alpn_H3_Success

Failures 5/30-7/31 (incl. PRs):

Day | Failures
-- | --
7/27 | 2x PR #56215 -- newly introduced test, merged on 7/29
7/30 | 2x Official run + 17x PR

We need to disable the test.

<details>

Failure -- TimeoutException:
[code]

Failure -- AggregateException:
[code]
</details>

[2021-07-30 09:44] jkotas commented on #56601
We should consider marking `Assembly.GetCallingAssembly` as obsolete as part of this feature.

[2021-07-30 09:46] Martmists-GH opened #56611 "CLR should use a different file extension than DLL"
Using the DLL file extension would, to most users, imply the file can only be used on windows and works just like any other DLL, which may cause confusion to linux/macos users. As CLR uses a custom format and with dotnet core being cross-platform, it should either adapt to the platform (e.g. switching to .so on linux) or use a custom extension like .dotnet or .clr or similar.

[2021-07-30 09:48] TheCakeMonster opened #56612 "Help required on using DynamicallyAccessedMembersAttribute in .NET Standard 2.0 Libraries"
An issue was raised to have DynamicallyAccessedMembersAttribute exposed for use by libraries targeting downlevel runtimes, allowing .NET Standard libraries to have the appropriate behaviours applied by the linker.

https://github.com/dotnet/runtime/issues/36656

The decision was that this need not be done. One commenter stated that .NET 5 is the new .NET Standard, but that isn't true in the wider

[2021-07-30 09:56] #55242 closed

[2021-07-30 09:56] #55746 closed

[2021-07-30 10:00] qinhuaihe commented on #56556
@radical @stefanloerwald  Thank you both for your help. You did me a great favor.

[2021-07-30 10:10] karelz opened #56613 "Test failure: Read_DataStoredAtDesiredOffset - CONNECTION_REFUSED"
Test: System.Net.Quic.Tests.MsQuicQuicStreamConformanceTests.Read_DataStoredAtDesiredOffset

Failures 5/30-7/30 (incl. PRs):

Day | Failure
-- | --
7/19 | PR #54640
7/23 | PR #56218
7/29 | PR #56471

Failure:
[code]

[2021-07-30 10:17] adamsitnik commented on #56532
Entire `System.Diagnostics.Process` is not supported for WASM (https://github.com/dotnet/runtime/pull/41694). We have introduced new analysers that produce warnings at compile time (.NET 6) in order to avoid  such situations.

[2021-07-30 10:17] #56532 closed

[2021-07-30 10:41] stephentoub commented on #56601
Should this be in csharplang?

[2021-07-30 10:51] hoyosjs commented on #48647
@ViktorHofer is this issue still relevant?

[2021-07-30 10:51] jakobbotsch commented on #56402
With that I get:

## Without memory randomization
[code]

|       Method | Size |     Mean |    Error |   StdDev |   Median |      Min |      Max | Gen 0 | Gen 1 | Gen 2 | Allocated | Code Size |
|------------- |----- |---------:|---------:|---------:|---------:|---------:|---------:|------:|------:|------:|----------:|----------:|
| BinarySearch |  512 | 10.21 ns | 0.024 ns | 0.065 ns | 10.21 ns

[2021-07-30 10:58] #56536 closed

[2021-07-30 11:36] #55921 closed

[2021-07-30 11:42] MihaZupan commented on #47634
@noahfalk I don't know about the other issues discussed here, but that specific test is new (I added it as part of the fix).

[2021-07-30 11:59] #50879 closed

[2021-07-30 12:01] #50577 closed

[2021-07-30 12:11] #52141 closed

[2021-07-30 12:11] #55709 closed

[2021-07-30 12:11] #56042 closed

[2021-07-30 12:21] #1581 closed

[2021-07-30 12:21] #56138 closed

[2021-07-30 12:21] #56026 closed

[2021-07-30 12:31] iinuwa opened #56619 "LDAP StartTLS not working on .NET 6 Preview 6 on Linux"
### Description
Using `LdapSessionOptions.StartTransportLayerSecurity()` fails on .NET 6 Preview 6 on Linux.

[code]

fails with

[code]

### Configuration

.NET 6 Preview 6, Linux x86-64

### Regression?

This worked in .NET 6 Preview 5.

### Other information

When stepping through the problem it fails on the interop call to `ldap_start_tls_s` in [LdapSessionOptions.cs:608](https://github.com/do

[2021-07-30 12:43] MihaZupan commented on #55313
Failed again in #56614:
https://helix.dot.net/api/2019-06-17/jobs/5702a0df-b9d9-4ab2-8727-84d96b73d659/workitems/System.Diagnostics.DiagnosticSource.Tests/console

[2021-07-30 12:58] #56151 closed

[2021-07-30 12:58] steveisok commented on #50880
@mdh1418 These appear to be binaryformatter related and will be skipped on android.  Some are marked with ActiveIssue and that can be removed.

[2021-07-30 12:59] steveisok commented on #50945
@mdh1418 These tests pass on Android and can be re-enabled.

[2021-07-30 12:59] steveisok commented on #50944
@mdh1418 These tests pass on Android and can be re-enabled.

[2021-07-30 13:00] steveisok commented on #50918
@mdh1418 This test passes and can be re-enabled.

[2021-07-30 13:02] ViktorHofer commented on #48647
We reverted the change some months ago and the issue can be closed. Thanks for reminding.

[2021-07-30 13:02] #48647 closed

[2021-07-30 13:14] janvorli commented on #47634
@josalem, @noahfalk This test now passes for me locally too. Now the tracing/eventpipe/eventsourceerror is failing instead - but only if I execute all the tests. Running that test alone works. But the error is different, I'll create a separate issue for it.

[2021-07-30 13:29] pranavkm commented on #54929
@mikem8361 is this something we could address in 6.0? I ran in to this as part of the reloadable type work - the runtime throws an error trying to print a stack trace which makes it really hard to diagnose, particularly since attaching a debugger is also disallowed:

[code]

[2021-07-30 13:30] mdh1418 opened #56621 "[libraries][tvOS] System.Net.Requests Process terminated due to System.Net.Http.AuthenticationHelper.SendWithAuthAsync"
The test suite `System.Net.Requests.Tests` crashes on tvOS
[code]

[2021-07-30 13:31] mdh1418 commented on #52117
This suite no longer fails with `System.IO.DirectoryNotFoundException`, so I'm closing this issue, but it now fails with another issue https://github.com/dotnet/runtime/issues/56621

[2021-07-30 13:31] #52117 closed

[2021-07-30 13:40] eiriktsarpalis commented on #56592
I'd probably call this `GetElementIndex()`.

@steveharter not sure I understand how `GetAccessorNameFromPath()` is different than the existing `GetPath()` method.

[2021-07-30 13:55] eiriktsarpalis commented on #46522
See https://github.com/dotnet/runtime/issues/55135#issuecomment-889433874 for analysis of the issue and proposals on how to address this in the future.

[2021-07-30 13:58] ilyas1974 commented on #56597
@riarenas I believe this may be related to https://github.com/dotnet/arcade/issues/7668. Is this something you can take a look at?

[2021-07-30 13:58] gjtorikian commented on #56542
One thing I'm not understanding is why `curl` succeeds at making the call, but a DotNet program doesn't. Server misconfigurations not withstanding, what explains the differences in the client responses?

[2021-07-30 13:58] filipnavara commented on #55637
I also see the dirty file in the source tree (curr/root.txt). Additionally I was able to reproduce one more botched build and found out few more details:

There's a tool to extract the icudt.dat file (`icupkg`) and a tool to dump the extracted .res files into .txt (`derb`). On the files that differ between my local builds one of the .res files was always corrupted. Running `derb` on it returns `U_

[2021-07-30 13:58] alnikola commented on #55261
Strangely enough, but I cannot anymore reproduce this issue on my local machine on any .NET versions. Even the `6.0.0-preview.6.21352.12` where it failed initially, now works. It's not clear what could change in the last few days. I didn't install any new SDKs or runtime versions since then.

[2021-07-30 13:59] riarenas commented on #56597
@ilyas. Not related at all. This just looks like an osx machine that ran out of space?

[2021-07-30 14:08] riarenas commented on #56597
The heartbeat table lists the machine that this ran on: `dci-mac-build-058` has about 6 GB left of space. What's a healthy threshold? Should we take the machine offline?

[2021-07-30 14:10] filipnavara commented on #55637
The single modified file seems to be a red herring. It's done by the MSBuild script early on:

[code]

[2021-07-30 14:13] am11 opened #56622 "Consolidate Android cross-build setup for mono and coreclr"
The cross-build in `:/eng/` requires user to pass `-cross` argument to `:/build.sh` and set `ROOTFS_DIR` environment variable.

During the native build, it relies on setup done by the scripts under `:/eng/common/cross`. We have multiple examples in our platform matrix (`{os}-{arch}`) which make use this infrastructure.

Android, however, is at the odds. For coreclr, it uses setup from `:/eng/commo

[2021-07-30 14:14] am11 commented on #56622
cc @akoeplinger, @fanyang-mono , @ViktorHofer, @janvorli

[2021-07-30 14:17] ViktorHofer commented on #56598
@safern is the plan still to switch away from ApiCompat in arcade to the new one under dotnet/sdk? If yes, what are the remaining missing features to do so?

[2021-07-30 14:27] stephentoub commented on #56480
Isn't it still a problem?  The other code generators are accepting this apparently; shouldn't the AOT compiler not seg fault in this case?

My PR is also still blocked until something is fixed somewhere.

[2021-07-30 14:30] #48816 closed

[2021-07-30 14:31] eiriktsarpalis commented on #55388
I'm going to close this for now. Feel free to reopen whenever you are able to share a reproducing code sample.

[2021-07-30 14:31] #55388 closed

[2021-07-30 14:45] alnikola commented on #55261
I tested with `HttpClient [6.0.0-preview.6.21352.12]` and `Asp.Net Core [5.0.8]`. All runs completed successfully. No failures.

[2021-07-30 14:49] alpencolt opened #56623 "[armel] Broken build"
Build on main branch is broken for `armel` arch, but works before.
[code]

[2021-07-30 14:52] eiriktsarpalis commented on #51636
@DrewScoggins how can I get more recent readings on individual file sizes? Links [like this one](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory/refs/heads/main_x64_ubuntu%2018.04_CompliationMode=wasm_RunKind=blazor_scenarios/SOD%20-%20New%20Blazor%20Template%20-%20Publish.html) seem to only report aggregate sizes.

[2021-07-30 15:12] hez2010 commented on #56553
Will this be instrumented in StaticPGO?

[2021-07-30 15:14] ilyas1974 commented on #56597
We have automation in place that takes a system offline whenever it reaches under 3gb of space. It sounds like we may need to increase that threshold. I've taken `dci-mac-build-058` offline in helix so we can clean up space on it. I will also open an issue to increase our alerting of free space from 3gb to 7gb. I will link that issue here once it has been creased.

[2021-07-30 15:19] #56315 closed

[2021-07-30 15:26] lambdageek opened #56626 "[EnC] Implement the UpdateParameters capability"
See https://github.com/dotnet/roslyn/issues/52563 (and https://github.com/dotnet/roslyn/pull/54856). CoreCLR has this in .net6 as it's in line with what they can already support (but the capability itself is added in https://github.com/dotnet/runtime/pull/56599).

For Mono the main place where we will be affected is in the debugger agent - we will need to make sure to send the updated parameter na

[2021-07-30 15:29] amsoedal commented on #56543
Hi @wfurt, thanks so much for the reply. The inner exception is not much better than what I posted in the logs above:

Interop+AppleCrypto+SslException: {"StackTrace":null,"Message":"Internal error","Data":{},"InnerException":null,"HelpLink":null,"Source":null,"HResult":-9810}

My colleague and I have been digging through our code + pipelines but we haven't found anything dependent on the project

[2021-07-30 15:34] steveisok commented on #50919
@mdh1418 These tests pass on Android and can be re-enabled.

[2021-07-30 15:35] steveisok commented on #50917
@mdh1418 These tests pass on Android and can be re-enabled.

[2021-07-30 15:36] steveisok commented on #50934
The tests will be skipped because binaryformatter is not supported on android.

[2021-07-30 15:36] #50934 closed

[2021-07-30 15:36] steveisok commented on #50935
The tests will be skipped because BinaryFormatter is not supported on Android.

[2021-07-30 15:36] #50935 closed

[2021-07-30 15:37] ilyas1974 commented on #56597
https://github.com/dotnet/core-eng/issues/13933 to track the work to increase our free space thresholds.

[2021-07-30 15:38] maknapp opened #56627 "[API Proposal]: Add IComparable to IPAddress and PhysicalAddress classes"
### Background and motivation

I am suggesting this mainly due to changes in efcore (see dotnet/efcore#23775). In short, efcore v5+ requires unique indexes to implement `IComparable`, preventing `IPAddress` and `PhysicalAddress` from being used as unique indexes. This is blocking me from updating some projects beyond .NET Core 3.1.

This has been suggested before for `IPAddress` (see #28964). A qu

[2021-07-30 15:43] steveisok commented on #50927
To clear up confusion, a while ago we had `UseSystemResourceKeys` set to false by mistake for our test runs.  It created a lot of false failures.  This issue being one of them.

@mdh1418 you can re-enable these tests as they will pass.

[2021-07-30 15:44] EgorBo commented on #56553
Currently it won't

[2021-07-30 15:44] steveisok commented on #50881
@mdh1418 The binaryformatter failures will be skipped and the other failures will now pass.  Please re-enable the tests.

[2021-07-30 15:46] performanceautofiler[bot] opened #56631 "[Perf] Regressions in System.Linq.dll"
### Run Information

Architecture | x64
-- | --
OS | ubuntu 18.04
Baseline | [cf52b7e38d28b7e28358cee052effe0ed47efb2e](https://github.com/dotnet/runtime/commit/cf52b7e38d28b7e28358cee052effe0ed47efb2e)
Compare | [fae141227266277c4fd0979818d175e78331229a](https://github.com/dotnet/runtime/commit/fae141227266277c4fd0979818d175e78331229a)
Diff | [Diff](https://github.com/dotnet/runtime/compare/cf52b

[2021-07-30 15:49] iinuwa commented on #56619
@jeffschwMSFT, I think this should go to @dotnet/area-system-directoryservices.

[2021-07-30 15:51] fanyang-mono commented on #56622
Thanks for opening this issue. More discussions could be found from this PR https://github.com/dotnet/runtime/pull/55641

[2021-07-30 15:53] Ponant commented on #40579
Does the skipping the using also applies to `RandomNumberGenerator`?
Example
[code]

Or should we use
[code]
?

[2021-07-30 16:00] eerhardt commented on #43078
@agocke - do you think this issue can now be closed? The only issue under "Work Items" that is still open is #39274. We can track adding other platforms in that issue.

[2021-07-30 16:03] AndyAyersMS commented on #56553
@EgorBo I'm confused by your analysis here, it looks like we are making the right observation:
[code]
so how are we not seeing the right relative call site frequency?

[2021-07-30 16:04] eerhardt commented on #45649
@agocke @vitek-karas - is this something that will be addressed in 6.0?

[2021-07-30 16:06] eerhardt commented on #39274
Moving to 7.0. We added a browser-wasm leg, which covers the basic mono scenarios. We should enable android and ios in 7.0.

[2021-07-30 16:08] eerhardt commented on #44530
@SamMonoRT - I believe all 6.0 work in this area is now complete. Should we move this issue to 7.0?

[2021-07-30 16:11] eerhardt commented on #38693
Moving to Future. I don't think this work can happen until the runtime performance impact is decreased. With the current numbers, the runtime performance impact is too great for the small size reduction.

[2021-07-30 16:14] eerhardt commented on #31785
This was addressed in #42578.

[2021-07-30 16:14] #31785 closed

[2021-07-30 16:15] josalem commented on #39353
Agreed.

[2021-07-30 16:20] josalem commented on #47634
Thanks @janvorli! Please CC me on the new issue.

[2021-07-30 16:20] #56279 closed

[2021-07-30 16:31] EgorBo commented on #56553
@AndyAyersMS I'm not near the computer, but as far as I remember all methods in the repro are single-block ones, including Test() so fgHaveSufficientProfileData returns false for it

[2021-07-30 16:38] #55669 closed

[2021-07-30 16:44] eiriktsarpalis commented on #47569
When profiling your reproducing app I can see clear differences in the allocation profiles for server and workstation GC:

### Workstation GC
<img width="720" alt="Capture2" src="https://user-images.githubusercontent.com/2813363/127684455-e607bb4b-381d-4c1d-b229-c45c303e8bac.PNG">

### Server GC
<img width="927" alt="Capture" src="https://user-images.githubusercontent.com/2813363/127684400-7726a37

[2021-07-30 16:45] danmoseley commented on #931
Will this indeed fix #56066 as well? It's not clear to me.

[2021-07-30 16:46] danmoseley commented on #56597
I think we can close this then.

[2021-07-30 16:46] #56597 closed

[2021-07-30 16:46] steveisok commented on #50916
@mdh1418 These tests pass on Android and can be re-enabled.

[2021-07-30 16:47] Tohron commented on #56631
I've noted regressions in SOD - Pizza App - Publish - pub/wwwroot/_framework/System.Linq.dll, as well as the files noted in yesterday's issue.

[2021-07-30 16:49] jnm2 commented on #56267
There's a VB version of the bug:

[code]

There's also a danger that an ordinary comment in either language could accidentally turn into a doc comment with content `/<a>/` (C#) or `'<a>'` (VB).

[2021-07-30 16:50] AndyAyersMS commented on #56553
Ah, perhaps...
[code]

If all there are are single-block methods, then none of them will have PGO data. I suppose we could add probes to single-block non-leaf methods to ensure any time we want to inline we see PGO data.

But at any rate in such cases (single block flow) the relative call site frequency will be 1.0.... so all this seems unfortunate.

[2021-07-30 16:51] danmoseley commented on #56267
Seems reasonable to me.

[2021-07-30 16:51] eerhardt commented on #931
No, I don't believe this will fix #56066.

This issue is about allowing an app to specify a custom file location for their config file. #56066 is about the config system failing to initialize when a `system.diagnostics` section is present.

[2021-07-30 16:52] 0x5350 opened #56632 "The State of Future Support for .NET on the HarmonyOS platform"
Good day.

Recently, Huawei announced HarmonyOS, and their full initial product line and ecosystem for the new OS and ecosystem. The new OS will run on phones, snartwatches, smart TVs and embedded devices, fitting very much in line with .NET's idea of a cross-platform framework for developing _all_ your apps.

Huawei already has a huge user base, and anyway, HarmonyOS may gain large traction. Alre

[2021-07-30 16:57] #56371 closed

[2021-07-30 16:59] janvorli opened #56633 "tracing/eventpipe/eventsourceerror/eventsourceerror failing in local coreclr test run"
I have this test failing consistently if run as part of the coreclr test suite locally on my Linux dev box. Running it standalone doesn't repro the issue for me.

This is the test error output:
[code]

[2021-07-30 16:59] janvorli commented on #56633
cc: @josalem

[2021-07-30 17:05] agocke commented on #43078
Yup, I think this is ready to close.

[2021-07-30 17:05] #43078 closed

[2021-07-30 17:09] danmoseley commented on #54569
Thanks for all your help! Here's an update of how we're doing with bugs set to the 6.0 milestone. We have just over two weeks to get to zero before the branch for 7.0.

![graph (Small)](https://user-images.githubusercontent.com/6385855/127688035-d784782a-7313-4506-b9a9-41c0adf4a22a.png)

[2021-07-30 17:14] danmoseley commented on #54569
Your help is welcome! If you want to help root cause or fix any issues, take a look here:

https://issuesof.net/?q=is%3Aopen%20is%3Aissue%20repo%3Aruntime%20milestone%3A6.0.0

I've linked to @terrajobst handy app that allows querying across dotnet repos, and complex conditional operations with parentheses and operators.

[2021-07-30 17:15] vcsjones commented on #40579
You should use the static members when possible on `RandomNumberGenerator`. (and in the case of `GetInt32`, it is only available as a static member). The benefits are similar, there is no object to allocate and no need to reason about the lifetime of the object.

[2021-07-30 17:15] adityamandaleeka commented on #55261
Thank you for confirming, @alnikola. We'll prioritize investigating this regression.

[2021-07-30 17:25] vcsjones commented on #40579
Speaking more broadly, there has been a lot of "staticification" of the crypto stuff in .NET:

1. `RandomNumberGenerator` had static members added back in the .NET Core 3 timeframe. In .NET 6, `GetBytes(int)` was added as a convenience of doing `new byte[n]` and calling `Fill` on it.

  Similarly, `GetInt32` was added as a static-only member, out of a desire to use statics going forward.

2. .NET

[2021-07-30 17:25] steveharter commented on #56592
Yep thanks.

It returns just the immediate parent's property name \ index. So given "$.Order.Customer.Address", calling that method on Address instance returns ".Customer"

[2021-07-30 17:28] steveharter commented on #56592
There are basically two scenarios for the accessor name as I see it:
- Obtaining the string property name ("Address") or integer index value
- Obtaining either the property name or integer value in string JsonPath syntax ("$.Address" or "[1]") for use with JsonPath. Since we don't have any JsonPath functionality (like querying) today other than the Path I don't think this that relevant.

[2021-07-30 17:39] danmoseley commented on #56394
Since the implementation does indeed match

https://git.musl-libc.org/cgit/musl/tree/src/math/scalbn.c?h=v1.2.2
https://git.musl-libc.org/cgit/musl/tree/src/math/scalbnf.c?h=v1.2.2

files that contain no license headers, and the encompassing musl notice says https://git.musl-libc.org/cgit/musl/tree/COPYRIGHT?h=v1.2.2
[code]

It seems the work here is simply to remove the Sun license, leaving the m

[2021-07-30 17:39] mikem8361 commented on #54929
The stack trace issue is being tracked with https://github.com/dotnet/runtime/issues/56335. Currently isn't planned for 6.0 because it will require quite a bit of work.

[2021-07-30 17:45] danmoseley commented on #56006
For the Microsoft CRT, please report issues here https://developercommunity.visualstudio.com/report?entry=problem&space=62
(The STL is [on Github](https://github.com/microsoft/STL), but not the CRT)

I'll close this as answered. LMK if it's not.

[2021-07-30 17:45] #56006 closed

[2021-07-30 17:45] steveisok commented on #37474
The StackSpiller and Lambda tests are an issue for mono in general and are tracked in https://github.com/mono/mono/issues/14919.

The 3 System.Linq.Expressions tests pass and can be re-enabled.

[2021-07-30 17:46] #50580 closed

[2021-07-30 17:46] #50581 closed

[2021-07-30 17:46] danmoseley commented on #55809
Perhaps @joperezr is familiar with this.