[2019-12-10 23:21] jkotas commented on #638
@trylek Is there issue tracking the live-live official build that people can watch?

[2019-12-10 23:22] safern commented on #638
That would be: https://github.com/dotnet/runtime/issues/98

[2019-12-10 23:25] trylek commented on #638
Great, thanks Santi for sharing. Internally this is tracked under the work item

https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1020770

currently assigned to me.

[2019-12-10 23:37] safern commented on #736
Note that I've only seen these failures on the installer builds which currently doesn't use the single checkout step and then use the bundle to do the full checkout on subsequent jobs.

I haven't seen the checkout bundle step fail with this error. So it might just go away once: https://github.com/dotnet/runtime/pull/705 is merged as it moves the installer builds to use the checkout job?

[2019-12-10 23:40] dagood opened #749 "Clean up Installer build yaml after incorporation into runtime.yml"
Followup on https://github.com/dotnet/runtime/pull/705, based on PR comments:

* [ ] Figure out Windows way to implement `setScriptToEchoAndFailOnNonZero` (and/or make more obvious why it's not implemented?) https://github.com/dotnet/runtime/pull/705#discussion_r356199549
* [ ] Use more conditions rather than top-down assignment when assigning `skipTests`, `publicRidAgnosticPackages`, etc. https:/

[2019-12-10 23:47] terrajobst commented on #718
@vcsjones Thanks for your feedback! We have decided to give folks like you access to the CI system on a case by case basis. I'll add @vcsjones @marcelaldecoa @4creators and @qmfrederik.

In general, we don't anyone to trigger reruns and instead fix the flakiness of the system. I'm joking (but only a bit). The primary reason is that only have the option to make it publicly accessible or grant acces

[2019-12-10 23:52] jaredpar commented on #720
@jasonmalinowski

[2019-12-10 23:53] trylek commented on #736
For a short-term workaround, while I understand it's somewhat annoying I believe it to be fixable by closing and reopening the PR in question which is a technique that's been widely used forever to work around arbitrary non-deterministic infra issues.

[2019-12-10 23:54] jaredpar commented on #736
Changing the fetch depth is trivial though. It's a single entry in the build definition. Is there a reason I'm missing where we wouldn't just up it to 10 / 20 and see if the problem goes away?

In general I dislike approaches like that but this is fundamentally a heuristic hence the "best" way to approach the problem.

[2019-12-10 23:55] trylek commented on #736
OK, I'll send you the PR.

[2019-12-11 00:10] wfurt commented on #666
It looks like we get `ksectrustresultrecoverabletrustfailure`:
https://developer.apple.com/documentation/security/sectrustresulttype/ksectrustresultrecoverabletrustfailure?language=objc
The CA certificate does not have OSCP or CRL distribution list. It should _not_ matter as we set revocation to NoCheck. But it seems like something changes at OS crypto layer.
As @bartonjs mentioned, it is OS telli

[2019-12-11 00:28] jasonmalinowski commented on #720
The "this is only available on one side" logic is implemented by computing the list for both targets; it merges all the times together and if it didn't appear on one side or the other then the warning is given. You could imagine that we could instead merge and compute the warnings prior to throwing out the things for EditorBrowsableState.Never, although I'm not sure how much work that would take.

[2019-12-11 00:28] jasonmalinowski commented on #720
@dpoeschl might also know more about the behavior here as well.

[2019-12-11 00:48] lpereira opened #753 "Use io_uring instead of epoll when supported"
[io_uring](https://kernel.dk/io_uring.pdf) is a new method to perform efficient I/O on Linux systems.  It provides a completion model (rather than a readiness model), similar to what IOCP on Windows provides, and unlike the standard  poll-like interfaces, it can be used to request I/O from regular files as well (and, unlike the old/broken AIO in Linux, it doesn't require files to be opened in O_DI

[2019-12-11 00:49] jkoritzinsky opened #754 "Document AzDO YAML template structure"
As we've moved into the dotnet/runtime repository, we've significantly extended the YAML template structure that coreclr used in its Azure DevOps pipelines and moved libraries and installer to also use the same infrastructure. As a result, the template nesting/composition has gotten significantly more confusing and hard to follow.

We should add documentation (possibly in the form of ASCII art as

[2019-12-11 01:00] terrajobst commented on #720
That's what I thought. I don't think the current behavior is desirable. You show a warning in IntelliSense that never materializes as a diagnostic when building. As this issue demonstrates, this is confusing because IntelliSense claims an API to be unavailable when in fact it is available but hidden. If the API is marked as `EditorBrowsable.Never` across all configured TFMs, then hiding the API en

[2019-12-11 01:02] #678 closed

[2019-12-11 01:14] jkotalik opened #756 "[QUIC] Design of Shutdown for QuicStreams in System.Net.Quic"
### Problem

So today, we have an API for Quic which looks like the following:
[code]

Today, QuicStream derives from Stream, which is really nice for interop purposes with other things, allowing people to just read and write to and from the stream without thinking what the underlying implementation is.

When calling Dispose on the stream, that currently triggers an abortive shutdown sequence on t

[2019-12-11 01:38] 0xd4d commented on #707
I reported this 7 days ago, see https://github.com/dotnet/sdk/issues/3993

[2019-12-11 01:56] xiangzhai commented on #553
Hi @steveharter

Thanks for your response!

I am the [author](https://github.com/llvm/llvm-project/commits?author=xiangzhai) of Clang Static Analyzer Checkers.  And I try to contribute to dynamic analysis for MIPS64 :)

Yes, there are lots of False Positive!

Thanks,
Leslie Zhai

[2019-12-11 01:56] #553 closed

[2019-12-11 02:00] hbhsb commented on #727
@davidsh After I encode the '/' character,it runs.Tanks

[2019-12-11 02:01] davidsh commented on #727
Great to hear it's working now.

Using the '/' character directly in an HTTP request header value is against RFC specification for allowed characters in the header value. So, percent encoding (or other encoding such as Base64) is required.

Closing this issue since behavior is by-design.

[2019-12-11 02:01] #727 closed

[2019-12-11 02:09] scalablecory commented on #756
Q: an abortive close also needs I/O, doesn't it? Is it managed behind the scenes, or does it also need to be async?

If we implement `Stream` -- and we probably should, because so many things can use it -- then `Dispose` and `DisposeAsync` should be graceful to match the expected behavior of `Stream`. We just need to live with that extra I/O, I think :/.

Lets look at `NetworkStream.Dispose`:
* It

[2019-12-11 02:18] TingluoHuang commented on #666
Since Safari works fine with Proxyman, i assume there might be some different between Safari and Netcore ask OS to validate SSL cert, maybe some validation option difference.

[2019-12-11 02:23] jkotalik commented on #756
It does IO, but you don't need to await as it's abortive and it's managed behind the scenes.

So there could be another option which _could_ make it so we don't synchronously block in the Dispose call. Let's say Dispose didn't actually complete the graceful shutdown and kept most of the state, and rather just started it. On the callback to the graceful shutdown completing, it would finish the call

[2019-12-11 02:23] nibanks commented on #756
IMO, the most important thing that needs to be ironed out is the dispose path here. Lots of focus seems to be on the write path, whether it should be graceful or abortive, but not much on the read path.

A very important point with QUIC is that all aborts (in the read or write direction) **must have an application layer error code**. Therefore they **cannot** happen in response to a simple Dispose

[2019-12-11 02:29] AartBluestoke commented on #418
sidenote to @layomia i don't think that codebranch was taken in your example -- if nullvalue.ignore was set it would return and not show the key or value, producing
_NSJ = "{"keyC":""}"

As there is a difference in the statement "the database holds the null value" and "c# has no value for this" I don't think that this is necessarily an error.

From a language point of view:
`        Debug.Assert(D

[2019-12-11 02:30] jkotalik commented on #756
Yeah, even in the case where Dispose is graceful by default, there are still conditions where Dispose may be in an abortive state (timeout, didn't read the entire read side, etc.). We'd probably need to supply a default error code that is application specific in that case: maybe as a options when creating a QuicStream on the client or creating the Listener on the Server.

[2019-12-11 02:52] am11 commented on #678
@liesauer, you can try adding a target in your csproj, and take advantage of MSBuild's `ItemGroup`, which provides file related metadata and resolves path implicitly:

[code]

and then try different things:

[code]

and look for `Absolute PublishDir is: ....` message in output. This `MyCustomPrePublishTarget` target will run just before the actual publish target and will have `PublishDir` set to t

[2019-12-11 02:53] koyote opened #804 "System.Xaml FileNotFoundException when using XmlnsPrefix and .resx in a referenced assembly"
Hi,

When a .Net Core project references a .Net Framework project which has "XmlnsPrefix" set in AssemblyInfo AND we call code that accesses a resource in a .resx file, we get the following exception:

File name: 'System.Xaml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'
   at System.ModuleHandle.ResolveTypeHandleInternal(RuntimeModule module, Int32 typeToken, RuntimeTypeHand

[2019-12-11 02:56] richlander commented on #622
There are three questions I see:

- What is the correct behavior?
- Is this change breaking and should it be reverted?
- Is there a workaround and what is it?

I'll try to answer them, in order:

- I would say that CPU quota is a very nebulous concept. It is a synthetic concept that is about capacity, not about actual cores. I think the new behavior is more correct, because it is oriented on actua

[2019-12-11 03:24] am11 commented on #753
Going by the pdf, it seems like that polled IO might be the most suited option for PAL networking, because it is efficient, closer to epoll implementation and does not require elevated privileges (like 'kernel side polling' option). Few questions:

* should the implementation take dependency on liburing, or can it carry some boilerplate code and let go the liburing dependency (which comes from pac

[2019-12-11 03:36] AArnott commented on #720
We have the `ObsoleteAttribute` API to mark things as deprecated. Making them "Never" visible is an extreme tool to use for obsoleting something. The irony of doing so on these particular enum values is that `IDispatch` is the *default* value. How can .NET Core deprecate the default setting? It's ironic that .NET Core hides the enum value that is default anyway, making it difficult to express the

[2019-12-11 03:39] terrajobst commented on #720
I’m not sure why it’s marked as hidden. I’ll take a loom tomorrow.

FWIW, I agree with you that In 99% of cases obsoletion and hiding shouldn’t be combined.

[2019-12-11 03:55] liesauer commented on #678
@am11 thanks!

this really solve my  problem perfectly
[code]

[2019-12-11 04:59] normj commented on #622
To add some more data here. The AWS SDK for .NET has some caching logic for the number of pooled HttpClients we use based on the `Environment.ProcessorCount` property. This logic is left over from the .NET Core 1.0 performance analysis days and might not be necessary anymore but this change can cause a dramatic increase in the number of HttpClients used in a small container on a large machine. I p

[2019-12-11 05:19] richlander commented on #622
Another idea is to add an opt-in experience along the lines of: `<ConversativeProcessorCount>true</ConversativeProcessorCount>

Anyone think that's a good idea?

[2019-12-11 07:27] sywhang opened #759 "Move EventPipe env var parsing to native code"
Today EventPipe's logic for handling the environment variable `COMPlus_EnableEventPipe` is written entirely in managed code, which means that using this does not give us some of the very early events from the runtime startup.

There are some interesting runtime events that would be desirable to be tracked before managed code runs, so it would be a good idea to move the parsing logic to native code

[2019-12-11 07:33] wfurt commented on #460
I was not ab le to reproduce this. Is this container or full OS and do you have SELinux enabled? You can try to run what ever is failing under `strace -f -s 200 - t XXX`. Did you get dotnet via package feed or did you get just binary? Do you have any custom build package .. like openssl? Can you please share yout environmental variables?

[2019-12-11 08:04] xiangzhai opened #760 "[RFC] Assertion failed 'OperIs(GT_NOP, GT_CALL, GT_FIELD_LIST, GT_COMMA) || OperIsCompare() || OperIsLong() || OperIsSIMD() || OperIsHWIntrinsic()'"
Hi,

Base on this [commit](https://github.com/dotnet/runtime/commit/f1890a75f5afc6fbd8e4e0ef966523578a8d2813).

Testcase: [Hello.dll](https://github.com/dotnet/samples/tree/master/core/console-apps/HelloMsBuild)

Build and run option:

[code]

Assertion failed:

[code]

And CoreCLR [3.x branch](https://github.com/dotnet/coreclr/tree/release/3.1) for ARM64 and MIPS64 are also able to reproduce the

[2019-12-11 08:05] xiangzhai commented on #760
\cc @BruceForstall

[2019-12-11 08:10] huoyaoyuan commented on #738
It can reduce code size in common scenarios. Platform specific code may be large when calling a sequence of P/Invoke.

[2019-12-11 08:12] tmds commented on #622
I think reverting this change should be considered because of:
- backwards compatibility: the value returned can be of a completely different magnitude
- usability: cpu quota is the knob Kubernetes gives you, and this is no longer available

The change was made not because there was a functional issue, but to improve performance.
The benchmarking performed is insufficient to validate performance d

[2019-12-11 08:24] invidious9000 opened #761 "Possible CancellationTokenRegistration leak in AsyncOperation<T>"
Under profiling it appears as if BoundedChannel may leak cancellation callbacks when used in this manner:

[code]

Firstly, is this an intended use case? We have a long-running Channel that multiple readers may attempt to read from (these readers may timeout and cancel their CancellationToken as they disconnect, the 100ms timeout with CTS is to simulate this faster).

If this is an intended use ca

[2019-12-11 10:35] mrmartan commented on #622
Such an option would give us an ability to switch between what is IMHO legacy netfx behavior (present in netcore <3.1) where CLR assumes it owns the machine, which was fine in dedicated server/VM era, and the new behavior that is more accurate/true and suitable for containers/shared machines.

Would it be a bad idea to reuse `DOTNET_RUNNING_IN_CONTAINER` for this? Another idea - could `Environment

[2019-12-11 11:21] SergeMatskov opened #764 "JIT optimization removes some necessary code in .NET Core 3.0/3.1"
If the next code will be built in the Release configuration, an exception will be thrown because the object summary is null. This affects only .NET Core 3.0 and later. There is no issue in .NET Core 1.0-2.2.

[code]

There are some ways to fix an issue under .NET Core 3.0:
- Disable optimization in the project settings.
- Remove empty while loop.
- Uncomment MethodImpl attribute on `Ptr.Release()`

[2019-12-11 11:50] ceka commented on #460
vps/openvz
Linux poznan 2.6.32-042stab127.2 #1 SMP Thu Jan 4 16:41:44 MSK 2018 x86_64 x86_64 x86_64 GNU/Linux

package feed
no selinux
standalone openssl
OpenSSL 1.0.2g  1 Mar 2016

[strace.gz](https://github.com/dotnet/runtime/files/3950158/strace.gz)

[2019-12-11 11:54] Fs00 opened #765 "[Discussion] ServiceController API needs some improvements"
I've been using the ServiceController class for some time now in an application of mine and I personally find that some features of the API could be improved. Here they are:

- **Timeout for stopping dependent services in Stop() is extremely long (30 secs).**
Which service takes even half of that time to stop itself? In my experience, when a stop request timed out instead of taking a couple of sec

[2019-12-11 12:15] janvorli commented on #460
I wonder if it is yet another issue specific to the openvz. There was a recent fix to a CPU count issue on openvz @ceka, could you please try the latest alpha version of .NET Core 5.0 to see if the issue is still there? You can get it here:
https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-linux-x64.tar.gz. Just untar the file and use dotnet from the root folder of the pa

[2019-12-11 12:34] jashook commented on #702
I assume the ownership is now shared.

/cc @trylek @ViktorHofer @jkoritzinsky @dagood @jaredpar

[2019-12-11 12:37] jashook commented on #764
/cc @dotnet/jit-contrib

[2019-12-11 13:02] ViktorHofer commented on #99
@Anipik kindly asking for a status. The last time I tried the auto-merge bot, it posted the expected message but didn't merge the PR. Thanks.

[2019-12-11 13:18] stephentoub commented on #761
Thanks. Are you actually observing the effects of a leak, i.e. memory grows unbounded, or is this based on code review only?

[2019-12-11 13:49] MarcoRossignoli opened #766 "[Question]ReadOnlySequence<T> and SequencePosition"
I'm working on https://github.com/dotnet/corefx/issues/31807

[code]

Code above throws `System.InvalidCastException : Unable to cast object of type 'System.Byte[]' to type 'System.Buffers.ReadOnlySequenceSegment``1[System.Byte]'`
I understood that `SequencePosition` is an [index+index's fragment object] so pass a `SequencePosition` generated by on ROSeq to another ROSeq doesn't make sense(https:/

[2019-12-11 14:22] stylesm opened #767 "Utf8JsonReader.TryGetGuid() only parses Guids of format 'D' (nnnnnnnn-nnnn-nnnn-nnnn-nnnnnnnnnnnn)"
`System.Text.Reader.Utf8JsonReader.TryGetGuid(out Guid value)`

calls

`System.Buffers.Text.Utf8Parser.TryParse(ReadOnlySpan<byte> source, out Guid value, out int bytesConsumed, char standardFormat = default)`

However, when it does, it passes 'D' in as the `standardFormat` parameter, meaning only Guids in the format `nnnnnnnn-nnnn-nnnn-nnnn-nnnnnnnnnnnn` are parsed successfully.

There are 4 Guid

[2019-12-11 14:25] stephentoub commented on #761
Ah, I took a look at your repro and understand now why you're seeing what you're seeing.

It's not actually about unregistering from the CancellationToken.  We don't need to unregister when cancellation occurs because unregistering at that point would be a nop: cancellation already occurred, effectively automatically unregistering everything at that point.

The issue you're seeing is by-design in

[2019-12-11 14:28] richlander commented on #622
Can you elaborate on this? Or how is this different than than the `<ConservativeProcessorCount>true</ConservativeProcessorCount>` suggestion?

[2019-12-11 14:49] tmds commented on #622
3.0 is taking into account cpu quota instead of using the number of cores of the physical machine. This makes .NET Core container aware. I don't understand why you call this 'legacy netfx' behavior.

@mrmartan is proposing to keep the default behavior as 3.0 and add a way to directly control the value returned by Environment.ProcessorCount (e.g. an envvar).
It allows users to experiment, and to fi

[2019-12-11 15:05] richlander commented on #622
I took a look at what golang does. I believe that this is their implementation @ https://github.com/golang/go/blob/8174f7fb2b64c221f7f80c9f7fd4d7eb317ac8bb/src/runtime/os_linux.go#L71

It seems be similarly policy-free as the new behavior in 3.1. Do I have that right?

I get it. I'm super hesitant to just take the fix to return the old behavior w/o defining the best behavior. Obviously, we wouldn'

[2019-12-11 15:14] stephentoub commented on #611
SerializeAsync doesn't check the cancellation token before/after every property, only when performing I/O.  You're asking then not just for Serialize to take a CancellationToken, but for it to poll the token before/after every property, just in case a property getter does something that properties aren't supposed to do: take a very long time to run.

[2019-12-11 15:20] 2881099 opened #772 "System.Data.Odbc ERROR [IM002] [Microsoft] [ODBC driver manager]"
Error [im002] [Microsoft] [ODBC driver manager] No data source name found and no default driver specified

![image](https://user-images.githubusercontent.com/16286519/70633983-65e87400-1c6c-11ea-8d30-eabc2949cb4f.png)

Environment: netcoreapp 3.1

Please see the nuget package upgrade below. There will be no errors before the upgrade. The above errors occur after the upgrade.

![image](https://user

[2019-12-11 15:57] vcsjones commented on #735
Looking at this a bit more, the Win32 PAL is inconsistent between the PAL using an HRESULT and a Win32 status code when setting the HResult on the `CryptographicException`.

In some cases, `Marshal.GetHRForLastWin32Error().ToCryptographicException()` is used:

https://github.com/dotnet/runtime/blob/de12f85a9452c7b10e1e5c0f69c2d959f698ba10/src/libraries/System.Security.Cryptography.X509Certificates

[2019-12-11 16:20] tmds commented on #622
This is an interesting read https://threadreaderapp.com/thread/1149654812595646471.html.

TL;DR Google and Uber use cgroup info to set GOMAXPROCS. And: you need to measure to know what makes sense.

Do you feel confident the new behavior is better?

[2019-12-11 16:20] janvorli commented on #622
My view is that the current implementation returns the truth. If you are running on a device with 112 CPUs, then even with the quota, you can still be running on 112 different cores over time. So the environment really has 112 different CPUs, thus the Environment.ProcessorCount reflects that.
But for some cases, it seems it is also important for applications to be able to query the current quota.

[2019-12-11 16:21] lpereira commented on #753
I'd say depend on liburing.  Doing stuff by hand is possible but we would be essentially replicating it inside the runtime; better to stick with something that's been debugged and tested already.   I don't know how much they care about API and ABI compatibility at this point, so using it as a shim might not be a good idea; maybe using a git submodule?

As for the minimum kernel requirement: for io

[2019-12-11 16:22] bartonjs commented on #735
Looks like .NET Framework threw with HResult=0x80070056 in both the collection and the single-cert case.  (Largely because in .NET Framework we or-in 80070000 if the high bit isn't already set: https://referencesource.microsoft.com/#mscorlib/system/security/cryptography/crypto.cs,108; perhaps that's missing in the ToCryptographicException extension method)

[2019-12-11 16:23] tmds commented on #622
We should look at how this value is/should be used to decide what it best returns.

[2019-12-11 16:51] mrmartan commented on #622
That does not make it container aware. From my point of view it just lies to itself for its own benefit. There is a significant difference between the amount of CPU time a process is allowed to consume and the number of threads it is allowed to execute in parallel. .NET Core <3.1 ties those two things together. Moreover even with `Environment.ProccessorCount` == 1 multiple threads can be executing

[2019-12-11 16:53] damageboy commented on #753
Possible dupe of:

https://github.com/dotnet/coreclr/issues/24441

This situation with the issues not yet ported is starting to generate noise...

[2019-12-11 17:24] vitek-karas commented on #721
@Varorbc can you please describe what you're trying to do and when it fails like that?

[2019-12-11 17:24] AndyAyersMS commented on #764
The importer reorders
[code]
when inlining `Release`, so `summary` ends up being null.
[code]
This reordering doesn't happen unless `Release` is inlined; when not inlined, there are exception flags on the byref access.

Looking at what 2.x did now to see why we regressed here.

[2019-12-11 17:25] brendandburns commented on #622
There's an important difference here between CPU `shares` and `limit`. This is the same as `request` and `limit` in Kubernetes or `--cpus` and `--cpu-limit` in Docker.

`--cpus`/k8s `request` means "this is what I think I need" vs `--cpu-limit`/k8s `limit` this is where I should be capped/throttled.

I don't think dotnet should set processor count based on `--cpus`/k8s `request`. It is understood

[2019-12-11 17:45] iSazonov commented on #611
Thanks for clarify!

Yes. I believe it can be critical for serialization of script based objects.

[2019-12-11 17:45] tmds commented on #622
With 3.0 ProcessorCount is (ab)used as the `max_threads` and the heuristic is to calculate it based on `--cpus`.
I agree that `ProcessorCount` may not be semantically correct for this.
And that this heuristic can be improved.
The 3.1 change to return the #cores leaves us without any `max_thread`.

[2019-12-11 17:49] invidious9000 commented on #761
Thank you for looking at this so quickly. This came about as a result of profiling an actual application vs code review. We have also observed that if the Channel is permitted to fall out of scope or once a write occurs and queued waiters are drained then these objects are eligible for GC.

Is there any way to mitigate this behavior with a long-running Channel where there may be many reader cancel

[2019-12-11 17:53] lpereira commented on #753
Indeed it's a dupe, @damageboy.

[2019-12-11 18:03] damageboy commented on #753
@lpereira Aren't the issues moving? Has anything changed?

[2019-12-11 18:04] amrmahdi commented on #622
I've setup a small app ([high_cpu_repro.zip](https://github.com/dotnet/runtime/files/3951882/high_cpu_repro.zip))
 to repro the high CPU consumption between 3.0 and 3.1.

## Test Setup

### Environment
- Kubernetes v1.14 cluster running on azure
- VM sku: Standard_DS13_v2 (8 cpus & 56 G of memory)

### Limits
- cpu: limits & requests set to 1 core
- memory: limits & requests set to 1 G

### Server

[2019-12-11 18:08] jkotas commented on #622
@amrmahdi What does the graph look like when you switch to workstation GC on .NET Core 3.1?

[2019-12-11 18:23] sandreenko commented on #760
I will take a look.

[2019-12-11 18:25] brendandburns commented on #622
Your graph seems to show 3.1 consuming 1 core (Y axis is 1.0) which is expected since you set the CPU limit to 1 core. What happens if you set CPU limit to 0.8 for dotnet 3.1

Unless, your query is 100% of all CPUs, but in that case the 3.0 one is using 80% of all CPUs not 80% of one CPU.

[2019-12-11 18:31] jkotas commented on #622
Correct. The server GC (the default for ASP.NET apps) is optimized to maximize request per seconds and minimize latency. It will try to use as much processor cycles and memory as it is allowed to. If you would like to optimize CPU cycles / request (at the cost of lower request per seconds and higher latency), the workstation GC may be better option for you.

[2019-12-11 18:37] tmds commented on #622
With 3.0 you get workstation GC with these limits.
With 3.1 you get server GC.

[2019-12-11 18:40] VSadov commented on #622
From the graph it looks like 3.0 had underutilization issues. The limit was 1 core and it used 0.8.

Did the the throughput and latency of the app change between 3.0 and 3.1?

[2019-12-11 18:51] lpereira commented on #753
They're moving, but it should take a month or so.  I can close this one once the move is complete (can't easily mark as dupe in different repos.)

[2019-12-11 18:51] krwq commented on #563
@pawelpetruch this is not RPi specific, it's related to the issue already mentioned in here: https://github.com/dotnet/corefx/issues/33146#issuecomment-559659142

In short, we only support following baud rates at the moment:
https://github.com/dotnet/runtime/blob/master/src/libraries/Native/Unix/System.IO.Ports.Native/pal_termios.c#L147

in order to support baud rates in between those values we wo

[2019-12-11 19:01] amrmahdi commented on #622
It went up to 80% for a while then jumped to 100% and stayed there.

![image](https://user-images.githubusercontent.com/1451116/70650646-59c8cc00-1c04-11ea-95d8-93ba90f73d97.png)

This is a sample of the query I'm using

```sum(rate(container_cpu_usage_seconds_total{namespace="netcoreperf", container_name="netcore31", pod="netcore31-6cdff86f94-lsx6g"}[5m]))```

Correction: The graph is not really

[2019-12-11 19:03] VSadov commented on #622
If the same load was used for both scenarios (sending a burst of 20 messages), then the graphs seem to indicate that 3.1 dealt with requests 50% faster, while consuming 25% more CPU, which it was allowed to take by the config.

Since you want to spend only 0.8 cpus, what happens on 3.1 if you set 0.8 as a limit?

[2019-12-11 19:03] krwq commented on #563
@wfurt did you perhaps had a chance to play with higher baud rates? I can't see any larger baud rate which would divide nicely to give 128000 so I'm not sure if we can use similar baud rate or if python is doing something different (assuming the license allows it we can probably check)

[2019-12-11 19:03] danmosemsft commented on #627
OK, I'll close this again. Thanks @ngcdev for the update.

[2019-12-11 19:03] #627 closed

[2019-12-11 19:04] brendandburns commented on #622
I don't think the y-axis is showing percentage of cores (at least not based on that prometheus query)

That prometheus query is showing sum of CPU seconds which should be total # of cores. Given that, it appears that dotnet 3.1 is performing as expected and using a full 1.0 CPU core (possibly spread across multiple physical cores)

[2019-12-11 19:19] danmosemsft commented on #770
@jkotas do you have any remaining concern about implementing this? Per offline thread, there was also a request for this through support channels.

I assume we would paste in the .NET Framework implementation (and hard code false for Unix)
https://referencesource.microsoft.com/#mscorlib/system/environment.cs,87db1f60fca84037

But for anyone reading this -- if you just want to check you're not in a

[2019-12-11 19:26] danmosemsft commented on #770
Although, perhaps another option (that is less Windowsy) is to determine whether a console is attached. Presumably that would be well defined on Unix as well.

In [reference source](https://referencesource.microsoft.com/#mscorlib/system/environment.cs,87db1f60fca84037,references) it seems to be used to determine whether to pop a dialog (for an assert, credentials prompt etc). Rather than to decide

[2019-12-11 19:32] tmds commented on #622
I'd expect performance to be better with 3.1, especially if there is no contention on the server.
The more interesting benchmark is to see what happens if you run a lot of containers simultaneously on a multi-multi-core server.

.NET Core 3.1 containers are not cpu quota aware:
* gc: when no memory limit is set, the number of heaps will be equal to  #cores
* server gc is used instead of workstatio

[2019-12-11 19:35] am11 commented on #753
i think `pal_networking`, coming from corefx, deserves a separate issue as there is a defined/finite surface area which is currently using `epoll` where io_uring can be incorporated. It can be tracked here.

coreclr issue is a broader discussion on how to make use of io_uring in variety of scenarios, which currently is done in coreclr's `pal` without using `epoll` and friends in kernel-agnostic ma

[2019-12-11 19:36] poke opened #36013 "Guidance on IOptionsMonitor vs IOptions"
In aspnet/AspNetCore.Docs#9662 it was stated that the docs team should emphasize on using `IOptionsMonitor<T>` over `IOptions<T>` which resulted in the docs being rewritten to use the options monitor everywhere. The stated reason for that is that the options monitor _“supports everything IOptions does, in addition to”_ more advanced features that are often not needed.

While this is certainly true

[2019-12-11 19:36] wfurt commented on #563
no I don't @krwq. If we can trace of what Python does (or get simple C example) we can probably fix it. I look at termios.h on Linux and there are higher speeds but 128000 is not there.
One can execute setserial or pinvoke functions. As far as I know we will try to set speed only once and that can be changed later without impacting IO.Ports AFAIK.

[2019-12-11 19:39] Clockwork-Muse commented on #761
.... As a side question, why do you have so many cancelled readers between writes?

[2019-12-11 19:39] jkotas commented on #770
I see this API as Windows-specific legacy API. If we really have to fill it in for Windows for compat, I can live with it. But I do not think we should be touching this API for Unix ever.

If we want an API that checks whether console is attached to the process, we should add a new cross-platform for it with clearly defined semantics (if the existing `IsInputRedirected` is not enough...).

Note th

[2019-12-11 19:49] danmosemsft commented on #770
@gmatzen

Can you clarify? Isn't it your code's choice whether to register as a service? In what circumstances is this returning false for you, when you are not already running as a service?

[2019-12-11 19:52] danmosemsft commented on #498
@304NotModified as an aside, we recommend using Benchmark.NET for profiling. This is what we [use ourselves](https://github.com/dotnet/performance). Although, in this case the difference seems to be large enough that it doesn't matter...

[2019-12-11 19:54] peteraritchie opened #773 "Correct Nuget Project URL to new location"
The current [nuget Project URL](https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.IO.Ports/4.6.0-preview4.19164.7) points to https://github.com/dotnet/corefx instead of https://github.com/dotnet/runtime

[2019-12-11 19:59] gmatzen commented on #770
@danmosemsft

It is not the program's choice when to run as as service.  "static int Main()" is the entry point of the application whether it runs as a service or it runs interactively.

Environment.IsUserInteractive is always hard coded to return the same thing whether or not the application is running as a service.

The code needs to know whether or not to call ServiceBase.Run.

[2019-12-11 20:12] invidious9000 commented on #761
@Clockwork-Muse We're using a Channel to aggregate writes against a transport stream (gRPC) that experiences frequent transient network issues.

The transport stream itself throws when writing from more than one thread so we have a long-running Channel that aggregates response writes for a single reader that is "attached" when transport connects. When transport connects a Task runs and attempts to

[2019-12-11 20:26] VSadov commented on #622
ProcessorCount is generally used as a limiting factor. Scaling beyond that is often counterproductive, so it is used as hard/soft upperbound.

The actual parallelism of the app should be sensed from the app behavior.
Admittedly, scaling to parallelism is not always as dynamic as it could be. There is room for improvement, but it is dynamic in many cases.

ThreadPool, for example will not immediate

[2019-12-11 20:27] geoffkizer commented on #756
We want QuicStream to derive from Stream. There's a ton of code that works in terms of Stream, and user understand how Streams work.

But even if we decided that QuicStream didn't actually derive from Stream, we would just turn around and write a wrapper over QuicStream that implements Stream, which would induce all of these questions anyway. In other words, not deriving from Stream doesn't actual

[2019-12-11 20:47] AndyAyersMS commented on #764
Haven't pinned down exactly where this regressed, though I believe the following changes are related:
* dotnet/coreclr#19950
* dotnet/coreclr#22255
* dotnet/coreclr#23570

Here's what happens in the importer after creating IR for the `initobj`:
[code]
One possible avenue to explore for a fix: because the `initobj` here is storing to a struct field, so it needs spill processing similar to what we'd

[2019-12-11 20:55] NightOwl888 opened #774 "String.IndexOf and String.LastIndexOf do not behave consistently across OS platforms"
Here are a couple of tests that have different behavior on Windows, macOS and Linux. The failure always seems to happen when `StringComparison.CurrentCulture` is used. The results on Azure DevOps are as follows:

|  Platform | OS  |  Result |
|---|---|---|
| .netcoreapp3.0 | Windows  |  Pass  |
| .netcoreapp3.0 | Linux | Fail  |
| .netcoreapp3.0 | macOS  | Fail |
| .netcoreapp2.2 | Windows  |  Pas

[2019-12-11 21:05] geoffkizer commented on #756
I agree that this is an important point to consider.

In particular, I think we will need AbortRead(int errorCode) that causes the read side to abort and send a STOP_SENDING frame, and AbortWrite(int errorCode) that causes the write side to abort and send a RESET_STREAM frame.

That said, we're going to need to do something in Dispose if either the read side or write side hasn't completed yet. Tha

[2019-12-11 21:09] Clockwork-Muse commented on #774
[This is by design](https://github.com/dotnet/corefx/issues/26293).  Perhaps we should surface this more in the documentation?

As much as I think I may have preferred to have consistent behavior as well, you're not even guaranteed consistent behavior on Windows either (for a variety of reasons).

[2019-12-11 21:16] AndyAyersMS commented on #764
Using `impIsAddrInLocal` in the SPILL_APPEND logic fixes the issue here, and is probably the most surgical fix.

[2019-12-11 21:24] layomia commented on #418
Here's a converter for a workaround:

[code]

As stated above, I can't imagine a deserialization scenario where an object graph would contain a strongly-typed property of DBNull, but this converter will handle such a case.

Without the converter, the `null`  literal and any JSON object with valid syntax will map to a new DBNull instance (which is equal to `DBNull.Value`).

Newtonsoft.Json allows `

[2019-12-11 21:27] CarolEidt commented on #764
@AndyAyersMS - that makes sense. I assume you mean `impIsAddressInLocal` in place of the `lhs->AsBlk()->Addr()->IsLocalAddrExpr();`? Looking at `impIsAddressInLocal`, it occurs to me that it should also be handling `GT_LCL_VAR_ADDR` or at least asserting that it isn't called with that.

[2019-12-11 21:31] nibanks commented on #756
I cannot stress enough how absolutely not fine that is. The QUIC spec uses no uncertain terms that the application protocol **must** be the one to specify this value.

As a transport QUIC has no knowledge of this error code space. `0` might mean "everything was successful! Please continue purchasing that Ferrari." It might mean "the world has ended, please delete the user's account." Since this er

[2019-12-11 21:40] amrmahdi commented on #622
I'm not sure if this is entirely true. In my tests I observed higher throughout for 3.1. I even ran the same test with 3 cores per container

  | test duration (seconds) | limit | peak cpu | reqs | cpu per req
-- | -- | -- | -- | -- | --
3 | 600 | 1 | 1 | 145907 | 0.00411221
3.1 | 600 | 1 | 0.8 | 87157 | 0.00328977
  |   |   |   |   |  
3 | 600 | 3 | 1.3 | 161400 | 0.00534587
3.1 | 600 | 3 | 1.7 |

[2019-12-11 21:42] sandreenko commented on #760
The issue is specific to `COMPlus_JitDumpIR`, that complus is outdated and I don't think anybody on the team is using it.
The failure can be reproduced on Windows almost at any test, it happens because `cNodeIR` calls `tree->IsValue()` during early phases and `IsValue` is LIR specific.

I suggest you to use `COMPLUS_JitDump` variable instead and ask us if any parts of its output are not clear or d

[2019-12-11 21:43] mikedn commented on #764
`impIsAddrInLocal` only recognizes `FIELD` access, it doesn't recognize `ADD`. Isn't the current logic kind of backwards - spill if you can prove that it is a local access? Shouldn't it be - spill all unless you can prove that it is a local access and then spill only that local?

Not need at the moment as the importer doesn't generate `GT_LCL_VAR_ADDR`. But there may be a problem in `fgMorphOneAsg

[2019-12-11 21:47] mikedn commented on #760
That would be good IMO as it's quite a bit of code. When it first appeared I thought it's great to have this kind of linear dump. And then never used it, not even once. And instead went on improving tree dumps :)

[2019-12-11 21:52] mikedn commented on #764
I've been looking into that a while ago. In fact I already did it but it results in a small regression due to GC/non-GC type mismatch in LSRA that prevents 0 constant reg reuse.

[2019-12-11 21:55] geoffkizer commented on #756
@nibanks Is there some reason QUIC hasn't just defined 0 as a universal error code meaning "unknown" or something like that? This seems useful.

[2019-12-11 21:57] nibanks commented on #756
The entire error space is explicitly application owned. QUIC has no insights to the values. There are no default values. Feel free to open an issue on the QUIC spec. I opened one related to this, and any changes were shot down: https://github.com/quicwg/base-drafts/issues/3291

[2019-12-11 22:10] geoffkizer commented on #756
Thanks @nibanks. I commented on the linked issue.

[2019-12-11 22:19] layomia commented on #682
From @JamesNK

Even given all the correctness and round-tripping considerations, one may desire to exclude null colleciton elements when serializing to reduce JSON size or for other reasons, and not pay the cost of pre-filtering.

If a global and/or per-property option is added, should it apply to deserialization as well, i.e. don't add null elements to my collections?

[2019-12-11 22:31] BruceForstall commented on #760
I agree with @mikedn. If anyone actually uses it, speak up. But I think only the original author ever used it.

[2019-12-11 22:44] ceka commented on #460
@janvorli  Thx, that version worked.

[2019-12-11 22:52] jkotas commented on #460
@ceka Thanks for the confirmation

[2019-12-11 22:52] #460 closed

[2019-12-11 22:59] drakeaan opened #50020 "UseWindowsService() does not work on docker containers"
### Describe the bug
When creating a windows service of a .NET Core 3.0/3.1 project, the service does not start if it's running inside a container.

### To Reproduce
Steps to reproduce the behavior:
1. Create an ASP.NET Core 3.0 Project
2. Implement the Hosting extension and add app.UseWindowsService()
3. Create a docker container (.NET Framework) and install the .net core runtime
4. Register the

[2019-12-11 23:00] ceka commented on #460
will there be a planed update for dotnet3 or i should use version alpha 5.0 or downgrade to 2.x ?

[2019-12-11 23:12] jkotas commented on #460
This fix is scheduled to ship in .NET Core 3.1.2 update next year.

[2019-12-11 23:22] layomia commented on #681
@ericstj, yes this is a duplicate of https://github.com/dotnet/corefx/issues/38878. I'll close this one and transfer the older one to this repo. cc @sandersade

[2019-12-11 23:22] #681 closed

[2019-12-11 23:26] AndyAyersMS commented on #764
Yes, something like this:
[code]

It is certainly convoluted.... It would appear that the SPILL_APPEND check is only supposed to handle special cases that later analysis in `impAppendStmt` might miss, and prior opcode-specific spill logic hasn't already handled.

[2019-12-11 23:38] hnrqbaggio opened #780 "Iterating with ForEach over ImmutableArray is slower than over Array"
This is a spin off issue from https://github.com/dotnet/corefx/issues/36416, to scope down to just the ImmutableArray case.

As mentioned in other issues, the immutability sometimes comes with trade-offs in some operations, but in this case it seems that the extra overhead can be optimized, at least for when it's a collection of value type.

## Comparing with Array
Looking at the ASM code generate

[2019-12-11 23:38] hnrqbaggio commented on #780
Tagging @adamsitnik who opened the original issue about all Immutable collections.

[2019-12-11 23:41] scalablecory commented on #756
I'm beginning to worry that, given QUIC's needs for special handling, exposing `Stream` as its first-class API might cause incorrect usage expectations.

[2019-12-11 23:56] jeffschwMSFT commented on #707
The fix is being tracked here https://github.com/dotnet/sdk/pull/4038

cc @AaronRobinsonMSFT

[2019-12-12 00:11] layomia commented on #779
@nickevansuk we are planning for 5.0 and this issue is being discussed. The next step is to create a formal API proposal. The proposal should include API modifications, rationale, usage scenarios and code examples, and raise any open questions. This would be a good way to help move this along. Here is an example of a good one: https://github.com/dotnet/corefx/issues/4547#issue-117426449.

This pro

[2019-12-12 00:13] layomia commented on #673
I'll close this one and transfer the older proposal here.

[2019-12-12 00:13] #673 closed

[2019-12-12 00:21] layomia commented on #767
Duplicate of https://github.com/dotnet/corefx/issues/40609.

[2019-12-12 00:21] #767 closed

[2019-12-12 00:50] Varorbc commented on #721
@vitek-karas

    PS C:\Test> dotnet --info
    .NET Core SDK（反映任何 global.json）:
     Version:   3.1.100
     Commit:    cd82f021f4

    运行时环境:
     OS Name:     Windows
     OS Version:  10.0.18363
     OS Platform: Windows
     RID:         win10-x64
     Base Path:   C:\Program Files\dotnet\sdk\3.1.100\

    Host (useful for support):
      Version: 3.1.0
      Commit:  65f04fb6db

    .NET Cor

[2019-12-12 00:55] tgani-msft opened #783 "New custom attribute required to support C++ inline namespaces"
Namespaces in .NET are not a first class concept in metadata but are implicit in type names. C++ inline namespaces are namespaces whose contents are implicitly available in the enclosing namespace. E.g.
[code]
The type `R` is simply name `N.I.R` in the metadata and upon import the C++ compiler does not know whether `I` is an inline namespace or not. To help the compiler import this correctly, an a

[2019-12-12 00:59] layomia commented on #725
As @steveharter mentioned, this issue is about deserializing JSON strings into numbers which isn't supported by the serializer. We have an issue tracking this, so I'll close this as a duplicate: https://github.com/dotnet/corefx/issues/39473.

[2019-12-12 00:59] #725 closed

[2019-12-12 01:00] terrajobst commented on #783
Is this only emitted for assemblies? Can this also be emitted for modules?

[2019-12-12 01:18] tgani-msft commented on #783
In theory, yes, we could build a .netmodule though we don't officially support it.

An explanation of how inline namespaces work is at https://foonathan.net/2018/11/inline-namespaces/

We don't expect other compilers to do anything with this custom attribute, hence its location in VisualC.dll.

[2019-12-12 01:20] terrajobst commented on #783
Excellent, that helps!

[2019-12-12 01:32] xiangzhai commented on #760
Hi @sandreenko

Thanks for your kind response!

Yes, I use it to dump the High `IR`.  I mentioned it in the [Build and run option above](https://github.com/dotnet/runtime/issues/760#issue-536205607).  @QiaoVanke asked me that there might be some issues when porting [src/System.Private.CoreLib](https://github.com/dotnet/runtime/tree/master/src/coreclr/src/System.Private.CoreLib) and [CoreFX 3.1 bra

[2019-12-12 01:57] rgnote opened #34042 "API request: Add support for Authenticode code signing"
# Issue Title

Currently, the only officially supported library for Authenticode code signing is Windows SDK i.e. SignerSign* classes from win32 API. If would be awesome if dotnet can have an implementation of Authenticode Code Signing.

# General

Currently there is no library in dotnet for Authenticode Code Signing

[2019-12-12 02:02] xiangzhai commented on #760
How about `ildasm`?

[code]

Thanks,
Leslie Zhai

[2019-12-12 02:20] richlander commented on #622
Just an update. Thanks for all this data/reports. It is super helpful. We conducted a quick investigation and are seeing similar results. We are starting a more formal investigation now.

Please feel free to share more data. We will look at it. However, our focus will now turn to more deep performance analysis. I hope to have more info to share soon (although the upcoming holidays may slow us down

[2019-12-12 02:49] splusq commented on #622
Glad to see some agreement here. Upgrade to 3.1 directly impacted us.

[2019-12-12 02:51] cup commented on #425
Here is another example, Java:

[code]

[2019-12-12 02:57] HaloFour commented on #425
@cup

Yes, because `Arrays.toString` is equivalent to `String.Join`.

Try `System.out.println(a1)`, it does not print the contents of the array.  It prints something even less comprehensible than C# prints, the raw Java type and its hash code, e.g.:

[code]

[2019-12-12 02:58] Berrysoft commented on #425
That's fair, we may raise a proposal to add `Array.ToString`or `Array.JoinToString`.

[2019-12-12 03:19] cup commented on #425
Hm, it seems the Java method is not that great. It seems it @HaloFour is right,
only in the fact that like C# `String.Join`, Java `Arrays.toString` doesnt
account for ambiguous output at all:

[code]

[2019-12-12 06:23] sandreenko commented on #760
Does it fail with something MIPS specific?

Doesn't it work for that test? How does it fail?

[2019-12-12 07:08] xiangzhai commented on #760
Yes, we refactoried the `IG` for MIPS64, so just as `emitter::emitDispIG` failed to work at present.

`ildasm` works for MIPS64
[System.Private.CoreLib.il.zip](https://github.com/dotnet/runtime/files/3954325/System.Private.CoreLib.il.zip)

Cheers,
Leslie Zhai

[2019-12-12 07:27] damageboy opened #785 "Provide x86 CPUID related information"
# Proposal

## Rationale
There's a breadth of information available through the CPUID instruction.
Most of this information is not available today from C#, with the exception of information like
support for specific families of HW Intrinsics which **is** surfaced through the `IsSupported` JIT time constant/property in each respective group of intrinsics.

I've [lightly touched on this in a differe

[2019-12-12 07:35] NightOwl888 commented on #774
Great. Exactly what I needed to know. Inconsistent behavior does seem to make `StringComparer.CurrentCulture` practically useless for applications built on .NET Core/.NET Stanadard, though.

Yes, I suggest improving visibility of this behavior in the docs so it can be taken into account when designing tests.

[2019-12-12 07:42] damageboy opened #786 "Allow going around PDEP catastrophe on AMD processors"
At the [request of @danmosemsft](https://github.com/dotnet/corefx/issues/22660#issuecomment-564764858) I'm opening this issue...

There has been a recent and very unfortunate discovery about PDEP on AMD processors.
This comes from a very respected pair of performance gurus, namely the person running the famous [uops.info](http://uops.info) website.

Discussion:
https://twitter.com/trav_downs/statu

[2019-12-12 07:46] tmds commented on #304
We can also improve for new contributors. There is no path from README that gets you to instructions that show how to build/test/... this repo.

[2019-12-12 08:34] LadislavLang opened #35217 "CSC crashes with exception ArgumentOutOfRangeException when run with the "COMPlus_JitAggressiveInlining=1" environment variable."
**Version Used**:
All csc.exe since first release of Visual Studio 2019, tested with yesterday latest sources (master repository)

**Steps to Reproduce**:
I was able reproduce it only on one computer, but it happens every time.

1. Create empty file "Program.cs"
2. run: "C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\MSBuild\Current\Bin\Roslyn\csc.exe" Program.cs

**Actual Behavi

[2019-12-12 10:32] ViktorHofer commented on #304
There is a link to CONTRIBUTING.md which is the go-to place for such information: https://github.com/dotnet/runtime#how-can-i-contribute. We are probably missing links to the workflow docs from the CONTRIBUTING.md. Feel free to submit a PR to link to those. We still haven't cleaned up the docs.

[2019-12-12 11:41] xiangzhai opened #788 "[Doc] Calling convention rules – Caller pop vs Callee pop?"
Hi @davidwrighton

Thanks for your teaching about [Guide for porting .NET to a new processor architecture](https://github.com/dotnet/runtime/blob/master/docs/design/coreclr/botr/guide-for-porting.md)!

We are not clear about:

[code]

Unimplemented `COFF Relocations` on MIPS64 yet.

Unimplemented.

Unimplemented.

`COMPlus_GCStress=1` failed to work at present.

Unimplemented SOS.

\cc @QiaoVanke

[2019-12-12 11:58] vitek-karas commented on #721
Interesting - thanks.
Can you please try this:
* set `COREHOST_TRACE=1` and `COREHOST_TRACEFILE=t.txt`
* run the project `dotnet run test.csproj`

Look through the t.txt or if you're comfortable with it share it here (note that the file will contain local paths and potentially environment variables - so make sure you're not sharing something you don't want to).

[2019-12-12 12:47] Varorbc commented on #721
@vitek-karas how to set it?

[2019-12-12 12:48] vitek-karas commented on #721
Sorry - these are environment variables

[2019-12-12 12:53] Varorbc commented on #721
Which directory is the file in?

[2019-12-12 12:58] vitek-karas commented on #721
You can either specify a full path in the environment variable. Or if you don't it should be in the current directory.

[2019-12-12 13:05] Varorbc commented on #721
Doesn't seem to work

[2019-12-12 13:09] vitek-karas commented on #721
Can you try this:
[code]

You should see a LOT of output on the command line.
Now in the same window:
[code]

After this you should find t.txt in the current directory.
Delete it and run the project with the problem from the window - it should produce t.txt again.

[2019-12-12 13:20] msschl opened #789 "Microsoft .NET Core 3.1.0 Windiws Server Hosting installer installs .Net Core Runtime 3.1.0 Preview 3"
I have downloaded and installed the latest [Hosting Bundle 3.1.0-win](https://download.visualstudio.microsoft.com/download/pr/fa3f472e-f47f-4ef5-8242-d3438dd59b42/9b2d9d4eecb33fe98060fd2a2cb01dcd/dotnet-hosting-3.1.0-win.exe). But the installer installs the .Net Core Runtime - 3.1.0 Preview 3 (x64) and (x86)

![image](https://user-images.githubusercontent.com/5054780/70715329-5ad42900-1cea-11ea-96

[2019-12-12 13:21] bjornen77 commented on #779
Regarding:
"granularity: should the option be global (on JsonSerializerOptions), per-property (probably leveraging the JsonIgnoreCondition enum being proposed in dotnet/corefx#40600), or both?"

If the granularity is per-property, this could probably be used to solve:
https://github.com/dotnet/runtime/issues/512

[2019-12-12 13:31] Varorbc commented on #721
![image](https://user-images.githubusercontent.com/5714438/70716098-a1e00f80-1d26-11ea-83bb-edc3c7ae6544.png)
Are you sure this is the setting?

[2019-12-12 13:48] Varorbc commented on #721
@vitek-karas I have emailed the file to you

[2019-12-12 14:31] roji commented on #772
@2881099 this issue is lacking some important information. Can you please clarify exactly what you're trying to do, and preferably submit a minimal code sample which illustrates the problem?

[2019-12-12 14:41] OneCyrus commented on #789
same issue here. there seems to be missing files in the NETCore.App directory. Just one file while there are over 200 for every other version.

![image](https://user-images.githubusercontent.com/7747800/70721363-b48e2080-1cf5-11ea-91f6-6fe3e392a0b1.png)

[2019-12-12 15:52] tannergooding commented on #785
I had thought a bit about this previously and believe an appropriate API would look something like:

[code]

We could then additionally expose helper properties for certain key information. For example:
[code]

[2019-12-12 16:08] geeknoid opened #805 "Unexpected HttpClient cert validation & timeout failures"
Below is a simple program that tries to read the home page of a few common web sites. I'm persistently experiencing two types of errors:

- For certain sites (e.g. www.apple.com), the GET request fails due to a cert validation error. Installing a cert validation callback hook lets me see that the validation error is due to `RemoteCertificateNameMismatch`.

- For certain sites (e.g. www.opentable.c

[2019-12-12 16:09] taion809 commented on #485
Hello,
Attached here

[regread15.txt](https://github.com/dotnet/runtime/files/3956735/regread15.txt)

[2019-12-12 16:31] damageboy commented on #785
I think this would be a great sort of addition.

Some properties are surfaced all the way as static native types, treated as JIT time constants.
I think that the "minimum" set (in my opinion, that is, of course)  would have to include some more data about cache layout, processor layout, and topology, while leaving the really nutty stuff to be queried through the `QueryCpu()` methods you propose.

[2019-12-12 16:53] JohnyL opened #796 "Incorrect COMReference entries when including Office interop"
To include Excel interop libraries, I do the following: `Dependencies -> Add Reference -> COM -> Microsoft Excel 14.0 Object Library`. When I do this, I get the following `ItemGroup`:
[code]
However, I get the following error:

In order to work, I have created .NET Framework app, added COM reference there and copied its COMReference - and **it works**:
[code]

[2019-12-12 17:01] rkeithhill opened #801 "Implement an async version of the blocking System.Console.ReadKey"
In the PowerShell extension for Visual Studio Code, we have an async REPL loop where we'd love to be able to `await Console.ReadKeyAsync()` rather than blocking on `Console.ReadKey()`.

The current implementation is problematic because we need cancellation support.  We have tried to work around the blocking ReadKey() call by using KeyAvailable() but there is a known issue with KeyAvailable() causi

[2019-12-12 17:01] #801 closed

[2019-12-12 17:19] dseefeld opened #803 "ilasm gens incorrect assembly with generic extension methods"
## Description
 When generating an assembly using ilasm, any generic extension methods do not get the "this" keyword generated correctly.

## Steps to reproduce:
1. Round-trip System.Linq.dll using ildasm/ilasm
2. Inspect newly built System.Linq.dll
3. Note that Count\<TSource\>() methods no longer have the "this" keyword.  Other extension methods that are not generic are generated correctly.

[2019-12-12 17:31] scalablecory commented on #805
news.com fails for me in browser, so I think that one is a legit cert issue.
opentable.com is performing browser detection and works when adding relevant headers.

apple.com works on Windows. @aik-jahoda can you try to repro in OSX?

[2019-12-12 17:37] OdeToCode opened #806 "The documentation for using your build is out of date"
The documents available to describe how to use a fresh build are outdated and still target a 3.0 preview. Specifically [Using Your Build](https://github.com/dotnet/runtime/blob/master/docs/workflow/testing/UsingYourBuild.md) and [Using Your Runtime Build with dotnet cli](https://github.com/dotnet/runtime/blob/master/docs/workflow/UsingDotNetCli.md).

[2019-12-12 17:39] JohnyL commented on #805
I'd like to add that sometimes I experience `Task was cancelled` without any explanations and inner exceptions.

[2019-12-12 17:40] scalablecory commented on #799
ASP.NET Core has the `IHostedService` feature which partially satisfies this. CC @Pilchie

[2019-12-12 17:43] scalablecory commented on #805
@JohnyL `HttpClient.Timeout` will manifest as an `OperationCancelledException`, this might be what you're seeing. If not and if you have more specifics, please open a separate issue so we can take a look.

[2019-12-12 17:47] scalablecory commented on #766
@GrabYourPitchforks

[2019-12-12 17:55] #735 closed

[2019-12-12 17:55] ericstj commented on #670
We may want to consider this for 3.1 servicing if we think this will be a common case.  Will this be hit for any case of a nested dictionary?

[2019-12-12 17:57] JohnyL commented on #805
@scalablecory It's a luck I have found that piece of code:
[code]
As you see, it's `TaskCanceledException` and it appeared randomly.

[2019-12-12 18:04] tannergooding commented on #785
I believe we resolved the naming issues that prevented them from being used and now merely recommend against their use.

@CarolEidt could probably comment on the best way to expose the signature that can also work efficiently with the register allocator. Namely, `cpuid` returns its result in `rax, rbx, rcx, and rdx`. C++ takes a `int cpuInfo[4]` (which is effectively just a `int*` that is has spac

[2019-12-12 18:06] geeknoid commented on #805
@scalablecory news.com works great for me in a browser on Mac and on Windows. It's a redirect to cnet.com/news. As I mentioned in my initial report, it also works with curl on the same machines.

[2019-12-12 18:08] geeknoid commented on #805
@scalablecory Also, opentable.com works fine with curl with no special headers.

[2019-12-12 18:11] scalablecory commented on #805
@JohnyL thanks, please move to separate issue so we can keep track of it. from what I can tell it is unrelated to this issue.

[2019-12-12 18:14] geeknoid commented on #805
@scalablecory What headers are needed to get opentable.com to work? I added User-Agent and Accept to the same values supplied by curl, but no luck. I still get the error about not being able to read from the transport.

[2019-12-12 18:20] scalablecory commented on #805
@geeknoid

news.com discrepancy is possibly the browser using a private cert store -- for me, it works on Chrome but fails on Edge. HttpClient will use the platform's cert store. @bartonjs @krwq do you have any tips to help diagnose that?

For opentable.com, I ran Fiddler to grab all the headers my browser generates and added them all to HttpClient.DefaultRequestHeaders. I did not perform further

[2019-12-12 18:24] geeknoid commented on #805
@scalablecory Presumably, curl would be using the platform's cert store, right? I would expect it to have the same behavior as HttpClient.

Note that I also tried replacing SocketsHttpHandler with HttpClientHandler for the HttpClient instance. It behaved in an identical way.

[2019-12-12 18:25] davidfowl commented on #698
This is about updating just the runtime and not the ref correct?

[2019-12-12 18:28] bartonjs commented on #698
Correct.  From the initial post: `This extra support will not be in any ref.cs, it's only intended for the .NET Framework assembly running on .NET Core shim.`

[2019-12-12 18:31] bartonjs commented on #805
The hostname mismatch from macOS may be the same thing that's being looked at in #666. (We let the OS tell us if the hostname mismatches, but can only really do it as a side effect of a different chain build, and it seems that some ambient state is causing failures on newer macOS versions that never failed in the past).

[2019-12-12 18:36] msschl commented on #789
I have enabled stdout, looked into the logs and found the reason for the "HTTP Error 500.31 - ANCM Failed to Find Native Dependencies" error:

[code]

So the installation of the 3.1.0 Preview 3 (x64) is not the reason for the HTTP Error 500.31

[2019-12-12 18:44] CarolEidt commented on #785
A struct/value tuple with 4 elements would be quite problematic to do efficiently (given current JIT capabilities) if it were an actual call. As it is, since intrinsics are expanded early in the JIT, it's just a bit less problematic. The remaining issue is that we'd really like to express this as an instruction that defines multiple (register) values, and the register allocator (indeed, the JIT mo

[2019-12-12 18:48] scalablecory commented on #805
Your curl may be compiled to use a different cert store (like openssl/libressl) rather than the macos cert store which HttpClient uses.

curl, on Windows and compile to use the Windows cert store, fails in the same way that Edge and HttpClient does.

[2019-12-12 18:51] jkotas commented on #785
I do not think CPUID instruction needs to be handled as HW intrinsic by the JIT. It can be a regular call to C or assembly helper that the JIT knows nothing about. CPUID is expensive. You want to call it once and cache the result.

[2019-12-12 18:53] jnm2 opened #809 "Directory.EnumerateFilesAsync API returning IAsyncEnumerable<string>"
Due to the slowness of network calls, it became important for a desktop app to stream file results in before waiting for all of them.

Equally important was to respond to each MoveNextAsync/Current call on a threadpool thread since each call to FindFirstFileEx and FindNextFile are blocking on I/O. On a UI thread, this deteriorates the responsiveness. [Raymond Chen](https://devblogs.microsoft.com/o

[2019-12-12 19:00] scalablecory commented on #809
There are many filesystem ops which are still blocking purely because OS has no async version of them.

I think this opens up a broader question of if we want to expose async APIs for many of these (possibly by a lot of fake async, which we currently avoid and also recommend users avoid)

[2019-12-12 19:00] stephentoub commented on #809
Not really.

I don't think so.

I'd prefer to just see the caller be explicit about what they want, e.g.
[code]

Unless we had APIs on the various OSes to actually perform the directory walk using async I/O (and to my knowledge we don't), I wouldn't want such an EnumerateFilesAsync method exposed from the core libraries.

[2019-12-12 19:05] #709 closed

[2019-12-12 19:06] jnm2 commented on #809
That is very helpful. Thank you for the quick answer!

If a single OS begins supporting async directory enumeration I/O, would that be a good reason to open a new issue proposing the API?

[2019-12-12 19:06] #809 closed

[2019-12-12 19:26] stephentoub commented on #809
It's hard to speculate.  Ideally we only add functionality that can be properly implemented everywhere.  If it can only be implemented properly in one place and needs to be inefficiently emulated in others, then it would nee to be proven to be really important, so much so that it's worth the potential pit of failure to enable the important case.

[2019-12-12 19:34] vcsjones commented on #807
I assume then that the operating system you are running on is Windows, correct?

Can we double check if a firewall / TLS inspection proxy is at least a factor? If you change your code to something like below, it will output the certificate chain.

[code]

If a proxy is _not_ being used, it will output something like this:

<pre>
CN=*.google.com, O=Google LLC, L=Mountain View, S=California, C=US
CN

[2019-12-12 19:35] Pilchie commented on #799
@scalablecory I'm not actually sure what beyond the systemd support for services this would track.  @danmosemsft - worth keeping, or close based on systemd support?

[2019-12-12 19:37] damageboy commented on #785
I think @jkotas is right.
CPUID is not the sort of thing you don't need to optimize in general, but rather cache.

The only reason to even consider CPUID as an full-blown intrinsic would be if for some reason .NET/CoreCLR programmers would benefit somehow by CPUID's only _other_ saving grace: **the fact that it is a serializing instruction**, and the easiest one to issue userspace.

Quoting Intel'

[2019-12-12 19:41] aik-jahoda commented on #805
It is reproducible on my machine.

[2019-12-12 19:49] tannergooding commented on #785
Are you indicating that a CpuId API, if exposed, would be more akin to an `InternalCall` that invokes `__cpuid` and `__cpuidex`?

Right and there are certain key CPUID properties that it would be beneficial to be more broadly exposed and which are x86 specific. For example, `IsGenuineIntel` and `IsAuthenticAMD` checks which would be used in conjunction with other hardware intrinsics.

Will the exi

[2019-12-12 19:52] ahsonkhan commented on #766
If I recall correctly, this was discussed in a PR during implementation and we ended up avoiding an explicit check/throw to keep the slice method as small as possible (particularly for single segment), for perf.

Like you mentioned, it isn't valid to use a sequenceposition from one ROSequence to slice another. We could consider revisting this, add the appropriate checks, and see the perf impact:
h

[2019-12-12 19:56] MarcoRossignoli commented on #766
Understood...fair, hope nobody do the error in my snipped...found the bug would be nightmare 😄 because could work.

[2019-12-12 20:17] scalablecory commented on #805
Thanks @aik-jahoda

[2019-12-12 20:23] scalablecory commented on #773
@dagood

[2019-12-12 20:32] 0xd4d commented on #796
Looks like a dupe of https://github.com/dotnet/sdk/issues/3993 and https://github.com/dotnet/runtime/issues/707

[2019-12-12 20:55] AaronRobinsonMSFT commented on #796
@JohnyL Is this a run time or build time error? It seems like a run time error and is because of the missing types. The fix would be to deploy the PIA or add the `<EmbedInteropTypes>True</EmbedInteropTypes>`.

[2019-12-12 20:56] msschl commented on #789
Solved the following error by supplying the `--no-self-contained` flag to the `dotnet publish` command:

[code]

[2019-12-12 20:57] msschl commented on #789
But I am still not able to update to 3.1 since the Hosting Bundle Installer installs .net core 3.1 preview 3

[2019-12-12 21:12] OneCyrus commented on #789
i installed the runtime as well now and it fixed the issue for me

[2019-12-12 21:17] weltkante opened #812 "Regression: System.Windows.Size getting picked up unintentionally"
Apparently adding WindowsBase references automatically is leading to a [regression](https://github.com/dotnet/winforms-datavisualization/issues/24) in some code which has been ported but not tested much: System.Windows.Size gets picked up instead of System.Drawing.Size by source imported from Desktop Framework which wasn't referencing WindowsBase before.

Just trying to get some attention to it si

[2019-12-12 21:24] layomia commented on #418
One open question with DbNull is with `options.IgnoreNullValues`, and potentially per-property ignoring support (https://github.com/dotnet/corefx/issues/40600): if DBNull is serialized as null, should it semantically be considered `null` in the serializer and ignored when indicated in the options?

[2019-12-12 21:39] stephentoub commented on #761
With the shipped bits, I can't think of any, other than doing a write.

We / I didn't think this would be an issue, so we explicitly don't make any effort to remove AsyncOperations from the deques when they're canceled, and just let them get purged naturally.

The right fix for the next release is probably to make these into doubly-linked lists, and change how cancellation callbacks are handled to

[2019-12-12 21:49] ericstj commented on #730
Per @mmitche https://github.com/dotnet/corefx/pull/42768#issuecomment-564342764

[2019-12-12 21:53] layomia commented on #512
A `JsonElement` is a value type and can't be null even when it has no value, so I don't think the serializer should treat it as such. cc @ahsonkhan

Since you want to ignore `Params` on serialization when `default`, an option is to change the type to `JsonElement?` and use `options.IgnoreNullValues`.

As you mention in https://github.com/dotnet/runtime/issues/779#issuecomment-565004122, [condition

[2019-12-12 21:56] stephentoub commented on #667
There'd be some complexity.  We'd need to move the comparer from being stored on the dictionary to being stored on the tables object, so that when we resize and swap in a new tables instance, the comparer and the hashed data are always in sync.  Related, we'd also need to change the code paths that currently access the comparer before accessing the tables, as they'd now have to get the comparer fr

[2019-12-12 22:20] ahsonkhan commented on #512
I agree. Is there a reason why you can't use `JsonElement?` here?

This specific issue isn't actionable and we have existing issues to enable more flexible ignore semantics, so I consider this issue as a duplicate of the others that @layomia linked to.

[2019-12-12 22:20] #512 closed

[2019-12-12 22:43] jkotas commented on #785
Right.

Yes, with tirered JITing.

[2019-12-12 22:43] stephentoub opened #817 "Consider adding netstandard21 build of System.Threading.Channels"
Requested here:
https://github.com/dotnet/corefx/issues/32742#issuecomment-549060817

[2019-12-12 22:44] dagood commented on #773
I believe this will happen automatically for the Libraries (formerly CoreFX) packages when they start getting released from 5.0 builds rather than 3.0/3.1 builds. It isn't easy to tell which branch packages like https://www.nuget.org/packages/System.IO.Ports/4.7.0 are associated with, though, as far as I know.

It's more clear-cut for the Installer (Core-Setup) packages, like `Microsoft.NETCore.Ap

[2019-12-12 22:49] AndyAyersMS commented on #785
FWIW the native compiler has to play some tricks to safely emit `cpuid` for x86, since it kills so many registers. Would be nice if we didn't have to propagate those tricks to the jit.

[2019-12-12 23:10] dhusemann commented on #806
Think some of the links will have to wait for CLI to finish its move to the SDK repo. ??

[2019-12-12 23:31] BruceForstall opened #818 "Remove COMPlus_JitDumpIR"
As described [here](https://github.com/dotnet/runtime/issues/760#issuecomment-564745955), consider removing unused and unmaintained `COMPlus_JitDumpIR` code.

category:implementation
theme:jit-coding-style
skill-level:beginner
cost:small

[2019-12-12 23:32] BruceForstall commented on #760
This issue is resolved, so closing. I opened https://github.com/dotnet/runtime/issues/818 to cover the suggestion to remove `JitDumpIR`.

[2019-12-12 23:32] #760 closed

[2019-12-12 23:42] dhusemann commented on #304
@danmosemsft @ViktorHofer @maryamariyan Believe that all the links for Contributing.md have been updated. with #815.

[2019-12-12 23:55] bbarry opened #819 "SRE CustomAttributeBuilder constructor nullability attributes incorrect"
The constructors:

        public CustomAttributeBuilder(ConstructorInfo con, object?[] constructorArgs,
                                      PropertyInfo[] namedProperties, object[] propertyValues)

        public CustomAttributeBuilder(ConstructorInfo con, object?[] constructorArgs,
                                      FieldInfo[] namedFields, object[] fieldValues)

        public CustomAttrib

[2019-12-12 23:56] ahsonkhan opened #820 "JsonNull should not return true when compared to null using Equals (or ==)"
See https://github.com/dotnet/runtime/pull/528#discussion_r355094922 for details.

Currently the `==` operator on JsonNull always returns true. It should instead follow what other `JsonNode` types do and treat `null` differently.

This is about making sure JsonNull equality works as expected along with adding appropriate tests.

https://github.com/dotnet/runtime/blob/d8f744dbd3ee9f3189a46e1886b63d

[2019-12-13 00:14] Executor-Cheng commented on #670
The following types work well
`System.Collections.Generic.SortedDictionary<TKey,TValue>`
`System.Collections.Generic.SortedList<TKey,TValue>`
`System.Collections.Immutable.ImmutableDictionary<TKey,TValue>`
`System.Collections.Immutable.ImmutableSortedDictionary<TKey,TValue>`

If I warp `ConcurrentDictionary<string, string>` in `ReadOnlyDictionary<string, string>`, it will throw.
Warp `Dictionary<s

[2019-12-13 00:27] #764 closed

[2019-12-13 00:32] danmosemsft commented on #804
@ericstj do you know where this should go?

[2019-12-13 00:50] reflectronic opened #822 "Align API surface of immutable collections and their corresponding builder types"
## Rationale
There is a slight mismatch between the API surface of each immutable collection type and its corresponding builder. To improve the usability of these APIs, we should consider more closely aligning the APIs exposed in each immutable collection type and its corresponding builder. (I automatically generated this list, but of course some differences should be left be; for example, [`Union

[2019-12-13 00:57] ericstj commented on #804
We do our best to make .NETCore work with .NETFramework libraries when the types exist, but in the case of this sample the type used by the .NETFramework library (System.Xaml) doesn't exist in the base shared framework.

You can change your .NETCore console project use the WindowsDesktop sdk instead, this contains WPF and will be able to resolve System.Xaml.  That's probably the best workaround if

[2019-12-13 00:58] ericstj commented on #804
/cc @steveharter

[2019-12-13 01:06] peteraritchie commented on #773
Yeah, I tried to find out where, but no luck :-)

[2019-12-13 01:26] layomia commented on #670
<details>
<summary>This issue appears limited only to nesting that involves concurrent dictionaries:</summary>
<br>

[code]

</details>

I believe this is because this is the only generic BCL type where we use a different runtime type than was declared (I don't think this needs to change).

<details>
<summary>The PR https://github.com/dotnet/corefx/pull/42772 also has a deserialization fix for an

[2019-12-13 01:35] davidwrighton commented on #788
I'm not really sure what your question here is, but I'm assuming it has to do with the term callee pop vs caller pop.

In a caller pop calling convention, the caller is responsible for de-allocating space for the arguments of functions that it calls, but in callee pop the called function (the callee) is responsible for popping the arguments off of the stack. In .NET we use a callee pop abi for Win

[2019-12-13 01:47] liesauer opened #824 "Missing version tag and can not backtrack"
let's say i need the corehost `v2.1.0` or any `vx.y.z`'s source codes, i cannot back to any matching commit cause i don't have any related commit information.

[2019-12-13 02:30] xiangzhai commented on #788
Hi @davidwrighton

Thanks for your kind response!

For example,

[code]

That is my `Caller push`.

Thanks,
Leslie Zhai

[2019-12-13 02:32] bkatms opened #827 "Log timings from SocketsHttpHandler"
As part of a running a high scale service detailed network performance metrics are required in order to understand the complete end-2-end latency profile of requests and where delays are occurring in the network stack.

Currently these metrics are available from WinHttp, the ask is to improve the instrumentation in the .Net Core stack to get the equivalent timings.

The intent is to get these timi

[2019-12-13 03:13] drewswiredin opened #829 "Installing .NET Core on Ubuntu failing"
[code]

[2019-12-13 03:17] AustinSchoen commented on #829
I posted a similar problem here: https://github.com/microsoft/dotnet/issues/1152

[2019-12-13 03:23] 2881099 commented on #772
![image](https://user-images.githubusercontent.com/16286519/70766993-93334000-1d9a-11ea-931b-2962325807ed.png)

Test Oracle ODBC in the picture.

If SQL Server ODBC is tested successfully.
Only SQL Server succeeded, all other errors.

Exception StackTrace:

[code]

[2019-12-13 03:34] MichaelSimons commented on #829
This was also reported at dotnet/core#3988.

[2019-12-13 03:35] 2881099 commented on #772
[debug_odbc.zip](https://github.com/dotnet/runtime/files/3958905/debug_odbc.zip)

This is a well organized debugging project.

[2019-12-13 03:36] 2881099 commented on #772
[code]

Using these versions is normal. @roji

[2019-12-13 03:47] wangkanai opened #830 ".NET Core Installer"
Please make a .NET Core Installer that you can install multiple version of the SDK and/or runtimes like the same way you manage with Visual Studio Installer.

I have create a markup concept.
![image](https://user-images.githubusercontent.com/10666633/70425824-7948e300-1aa4-11ea-9466-eeac9d575a49.png)

Reference to Visual Studio Installer
![image](https://user-images.githubusercontent.com/10666633/

[2019-12-13 03:54] danmosemsft commented on #830
@wangkanai interesting. Can you say a little more about why you need this? Would this be only for developer machines?

[2019-12-13 03:57] 2881099 commented on #772
The above error prompt occurred in the latest version of vs2019.
I try to execute the test through the "dotnet test" console, as if there is no error. @roji

[2019-12-13 03:59] danmosemsft commented on #829
@livarcocc  where should this one go?

[2019-12-13 04:02] danmosemsft commented on #824
Hi @liesauer . There are git tags for each release - if not here, then in the repos this code recently came from: dotnet/core-setup, dotnet/corefx, dotnet/coreclr.

Does that help?

[2019-12-13 04:04] danmosemsft commented on #812
@joperezr

[2019-12-13 04:25] danmosemsft commented on #772
What happens if you try from a .NET Framework project?

[2019-12-13 04:27] 2881099 commented on #772
[debug_odbc.zip](https://github.com/dotnet/runtime/files/3958905/debug_odbc.zip)

@danmosemsft "netcoreapp 3.1" test project

[2019-12-13 04:30] dagood commented on #829
An update on the problem: I've filed an internal ticket and emailed the repo admins. I'm going to use https://github.com/dotnet/core/issues/3988 for more followup as it happens.

---

*Some* issues about the Linux package repo have traditionally gone on the Core-Setup repo, which is probably why one was filed over here after the consolidation. I think we should find a better place for issues like

[2019-12-13 04:31] liesauer commented on #824
if a new release comes out, where will the new tag be in? here or original repo?2019年12月13日 12:02，Dan Moseley <notifications@github.com>写道：Hi @liesauer . There are git tags for each release - if not here, then in the repos this code recently came from: dotnet/core-setup, dotnet/corefx, dotnet/coreclr.
Does that help?

—You are receiving this because you were mentioned.Reply to this email directly,

[2019-12-13 04:47] danmosemsft commented on #829
Thanks, @dagood

[2019-12-13 04:51] danmosemsft commented on #824
@liesauer we will service 3.x and earlier from the old repos. So tags will go there. Eventually this repo will have tags like 5.0preview1 and onwards.

[2019-12-13 04:54] danmosemsft commented on #772
@2881099 right, I’m asking whether you can also try .NET Framework , same code and same machine and tell us whether that works

[2019-12-13 05:10] 2881099 commented on #772
![image](https://user-images.githubusercontent.com/16286519/70770837-f7a9cb80-1da9-11ea-9bdd-bdfad0154c1f.png)

@danmosemsft . net framework 4.6.1 same error

[2019-12-13 05:20] wangkanai commented on #830
@danmosemsft Well maintaining version of dotnet with `[major].[minor].[patch]` is cumbersome. Just to make sure that i have only the major and minor release installed on my machine and to reduce the disk space. each install is already almost 200MB. In your release version [major] and [minor] would get features, while [patch] would get fixes. Also I see that the [patch] is made up of 3 digits.

`XX

[2019-12-13 05:21] richlander commented on #622
Here are some relevant links for folks looking at this:

* https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/
* https://kubernetes.io/docs/tasks/configure-pod-container/assign-cpu-resource/
* https://docs.docker.com/config/containers/resource_constraints/
* https://github.com/dotnet/designs/blob/master/accepted/support-for-memory-limits.md
* https://devblogs.micr

[2019-12-13 05:22] Executor-Cheng commented on #670
Well done! Thank you for looking into the issue and providing the quick fix.

[2019-12-13 05:37] danmosemsft commented on #670
We leave issues open until final PR is merged and any servicing also merged

[2019-12-13 06:07] JohnyL commented on #796
@AaronRobinsonMSFT Yes, it's run time error. Adding `<EmbedInteropTypes>True</EmbedInteropTypes>` did work! This means that this COMReference lacks this entry.

[2019-12-13 06:21] wfurt commented on #731
As far as I know Linux does not keep any track of Peak usage.  It may be similar for rest.

cc @tmds

[2019-12-13 06:33] elonmallin commented on #807
Yes, I'm on windows 10. I've run that powershell script that I suspect is the problem since I could run the same code fine in the windows container.

I'll try that code when I get to work. Please also check the stackoverflow question if you've missed it since there's way more info there.

[2019-12-13 07:43] wfurt commented on #805
It seems like this is distinct issue from  #666 even if observed behavior is same. #666 fails only on Catalina for me with internal error `-2147408889 CSSMERR_APPLETP_INVALID_EXTENDED_KEY_USAGE` (Invalid Extended Key Usage for policy).
However, access to www.apple.com fails with `-2147408836 CSSMERR_APPLETP_CA_PIN_MISMATCH` (Certificate authority pinning mismatch)
In both cases Apple's validation

[2019-12-13 07:47] wfurt commented on #666
I'm still not sure what exactly is going on as Catalina sources are not available yet.
Internally this fails with `-2147408889 CSSMERR_APPLETP_INVALID_EXTENDED_KEY_USAGE ` (Invalid Extended Key Usage for policy). It should _not_ matter as the certificate generated by Proxyman does _not_ have any EKU.

[2019-12-13 07:49] tmds commented on #731
@dngur807 when you report an issue, please include code (so I can copy-paste :smile: ) and copy text output instead of making screenshots.

For me:
[code]
outputs a non-zero value with .NET Core 3.1 on Fedora 31:
[code]

[2019-12-13 08:14] elonmallin commented on #807
The second call still fails. This is the output of the first call:
[code]

[2019-12-13 08:18] elonmallin commented on #807
Tried these TargetFrameworks too with the same failing result:
`<TargetFramework>netcoreapp3.1</TargetFramework>`
`<TargetFramework>netcoreapp2.2</TargetFramework>`

[2019-12-13 09:31] vitek-karas commented on #721
This is weird - for some reason `Microsoft.AspNetCore.App 3.1.0` has a framework reference to `Microsoft.NETCore.App 3.1.1-servicing.19572.8`.
When I look at my install of 3.1.0, I see a normal reference to 3.1.0.

@JunTaoLuo - any idea what's going on?

[2019-12-13 09:44] xiangzhai commented on #606
Hi @BruceForstall

`export COMPlus_JitHalt="*"` failed to work for ARM64, gdb just hang without response:

[code]

But [my JitCompBreakPoint](https://github.com/dotnet/runtime/issues/606#issue-533731323) is able to work for ARM64, MIPS64 and X86.

Thanks,
Leslie Zhai

[2019-12-13 11:29] roji commented on #772
@2881099 can you clarify exactly which package you upgraded? Which version worked, and which version caused the failure?

[2019-12-13 11:31] roji commented on #772
Also, can you please confirm this? Are you saying that when you run the test from the console (with dotnet test), it always passes, and fails only when the test is executed from the Visual Studio test runner?

[2019-12-13 11:36] Symbai commented on #830
Do not make such an installer for **runtime** versions. Consumers have no idea what kind of runtime and which version they need. If you give them too many options to choose they end up picking the wrong version. That's why the download page has been changed (thanks for that, once again).

For SDKs as far as I know all minor version will replace the currently installed. While all major will be inst

[2019-12-13 11:37] 2881099 commented on #772
Yes.

[Please look debug_odbc.zip](https://github.com/dotnet/runtime/files/3958905/debug_odbc.zip)

[2019-12-13 11:57] ceka commented on #460
I really appreciate Your help, Thank You!

[2019-12-13 12:36] roji opened #834 "DbConnectionStringBuilder.ConnectionString should return identical strings for identical settings"
DbConnectionStringBuilder internally uses a dictionary to keep key/value pairs, and the ConnectionString property iterates over the keys when building the string. Since Dictionary iteration order isn't stable, that means different strings can be returned for the same settings because keywords are ordered differently. This can lead to issues if resulting strings are used as keys to connection pools

[2019-12-13 12:37] adamsitnik commented on #780
Inlining `GetEnumerator` looks good to me. The code size is going to grow, but I believe that x4 speed improvement is worth it.

I am suprised that `ThrowNullRefIfNotInitialized` is not getting inlined by default. Are you sure about this? To verify that you can use `--profiler ETW` and open the trace file with PerfView and go to events tab. There should be events for inlining succeeded and failed.

[2019-12-13 13:28] henrikse55 commented on #820
An existing test will fail if Equals return false when comparing against null.

https://github.com/dotnet/runtime/blob/71d7e6cd72e9d4154f595cc43adac4b66ca53e48/src/libraries/System.Text.Json/tests/JsonNullTests.cs#L47-L53

I wouldn't mind updating the test as well but I can't find anything in the docs stating whether modifying existing tests is allowed

[2019-12-13 14:58] bjornen77 commented on #512
@ahsonkhan There is no reason why I can´t use JsonElement? at the moment and this is what I ended up doing. If there will be other possibilities in the future I could change this(if it will be better in some way).

I would like to thank you all for the great work you do with dotnet, I also think the new S.T.J is a good addition to the platform and it works great!

[2019-12-13 15:00] jozefizso commented on #720
Fixing this will greatly improve the quality of IntelliSense we get when we develop Office Add-in and other COM interop code which we plan to target for .NET Framework and .NET Core.

[2019-12-13 15:07] cedricmelancon commented on #535
The issue happens also if we try to load another assembly. It's not only related to loading the same assembly over and over.

[2019-12-13 15:09] bernd5 opened #836 "Mark Value and HasValue of System.Nullable<T> as readonly"
accessing Value and HasValue of System Nullable in a readonly context causes a copy...

=> please mark these properties readonly
(best would be a static analyzer which marks as much readonly as possible)

[2019-12-13 16:11] bartonjs commented on #805
That's frustrating.  I don't see an obvious way that we can get into the hostname verifier without the additional baggage.  (I also don't see where the CSSMERR_APPLETP_INVALID_EXTENDED_KEY_USAGE error is coming from, since the SSL policy does have the "if it's not present, that's fine").

[2019-12-13 16:24] bartonjs commented on #820
@henrikse55 For a feature that already shipped, it's generally a bad idea.  This one is still in development, and we're correcting guidelines violations... so changing the tests is correct.

[2019-12-13 17:20] AaronRobinsonMSFT commented on #796
@rainersigwald I don't have access to the MSBuild repo, but this work is going to happen in there. I believe that contains the logic for adding the `ComReference` node? This might actually be in the VS side of things, but I am not entirely sure.

@Pilchie Does VS handle the updating of the `.csproj` file when adding a COM reference? If so, would it be possible to move this issue to a VS repo or sh

[2019-12-13 17:39] Pilchie commented on #796
I'm not on the project system team anymore, so tagging @jjmew, but you can use https://github.com/dotnet/project-system for issues there.

[2019-12-13 18:31] jkoritzinsky opened #839 "The dotnet/runtime repo is now live-live!"
After a few weeks of infrastructure work resulting in the merge of #494, the dotnet/runtime repository now uses live-built components between the coreclr, libraries, and installer builds. More specifically, the dotnet/runtime build now uses the results of locally building coreclr when building libraries and the results of coreclr and libraries when building installer. As a result, this will change

[2019-12-13 18:36] joperezr commented on #812
@weltkante I can't really find the original report and this issue doesn't have enough info for me to go and start investigating, do you mind either adding full repro steps (ideally with a sample project as well) or at least the original report which would hopefully have more info? I went to the regression you linked and found the issue logged in corefx repo, but that still didn't provide enough in

[2019-12-13 18:37] reflectronic commented on #720
Are these even supposed to be deprecated? There is an [issue](https://github.com/dotnet/corefx/issues/40376) about some COM features that mistakenly were marked obsolete.

[2019-12-13 18:53] jkoritzinsky opened #840 "Enable building different subset categories in different configurations from same root build script invocation"
As part of enabling live-live (#839), developers now have to build from the root in Release mode once to get the dependencies they need in the right configuration. We should enable building different projects in different configurations the root build script. This will require changes in Arcade's `Build.proj` to support passing additional properties when building projects, as well as changes in ou

[2019-12-13 19:06] joperezr commented on #812
cc: @zsd4yr since this seems to be a problem with the https://github.com/dotnet/winforms-datavisualization repo.

[2019-12-13 19:17] lpereira commented on #753
Another thing I think we can use io_uring -- maybe not right now, but we could contribute a patch to the Linux kernel -- is to implement WaitForMultipleObjectsEx() using futexes directly, and have a command in io_uring to perform operations in multiple futexes at the same time.

[2019-12-13 19:31] davidwrighton commented on #788
Ah, there is a misunderstanding here. The important detail between caller pop and callee pop has to do with adjusting the call stack. While this snippet indicates that the mips64r2 is a caller push abi, the important detail is where the $sp register is adjusted. (the daddiu $sp,$sp,-48 line and the daddiu $sp,$sp,48 line). In a caller pop architecture the stack pointer is adjusted on a per functio

[2019-12-13 20:03] ahsonkhan commented on #512
Great. That sounds good.

Appreciate it. We have a few up-for-grabs issues if you are interested in contributing :)
https://github.com/dotnet/corefx/issues?q=is%3Aopen+is%3Aissue+label%3Aup-for-grabs+label%3Aarea-System.Text.Json

[2019-12-13 20:10] ThadHouse opened #847 "Setting LD_LIBRARY_PATH to single file exe extraction folder"
I have some native libraries for my project, which depend on each other. When using a single file exe, these get extracted properly, however because LD_LIBRARY_PATH isn't set, they don't load correctly. Setting the extract base dir doesn't work, since there are subfolders that are not fixed names. Is there any way to get the bundle id at runtime to be able to set up the library path correctly?

[2019-12-13 20:17] vcsjones commented on #666
@wfurt

I think perhaps Apple started requiring the EKU as per the CAB/F baseline requirements in 10.15. Apple has a support article on this here: https://support.apple.com/en-us/HT210176

[2019-12-13 20:17] weltkante commented on #812
@joperezr I linked it above, its dotnet/winforms-datavisualization#24

Project file:
[code]

Program:
[code]

Stacktrace:
[code]

[2019-12-13 20:38] AArnott opened #849 "PipeReader.AdvanceTo throws InvalidCastException"
I'm puzzled by the fact that `PipeReader.AdvanceTo` accepts a `default(SequencePosition)` but throws `InvalidCastException` when provided a position from an empty sequence. Is that by design?

[code]

Should it throw `ArgumentException` instead given the `SequencePosition` came from an unrelated `ReadOnlySequence<byte>`?

I'm a bit puzzled that `PipeReader.AdvanceTo` can be called before reading a

[2019-12-13 20:41] hnrqbaggio commented on #780
Thanks for the pointer @adamsitnik. I didn't know I could use PerfView for the Inline Events and was having trouble with the InliningDiagnoser because it emits the output to the screen it was too much info.

Looking now, it seems that the JIT is successfully inlining the `ctor` and `ThrowNullRefIfNotInitialized ` inside `GetEnumerator` but then on the caller it says that `GetEnumerator` is not pro

[2019-12-13 21:27] terrajobst commented on #720
OK, I've created https://github.com/dotnet/roslyn/issues/40370 to track the potential for changing how IntelliSense deals with hidden APIs. Now let's keep this thread focused on the why these particular APIs are hidden/obsoleted.

[2019-12-13 21:33] jkotas opened #850 "Runtime not respecting the “current” cgroups that is associated to a process, but only the system one"
From @sebastienros :

First thing I found is that the runtime is getting the quotas from the global cgroup, and not from a custom one that it could run from.

When we use “docker --cpus" it’s actually defining the quotas in the global cgroup files, and this is these files that the runtime is reading. In my services I was creating named groups, and starting the process using these. What I was seein

[2019-12-13 21:41] jkotas opened #853 "ArrayPool trimming does not respect GCHardLimit"
From https://github.com/dotnet/coreclr/pull/25437#discussion_r299797776 :

Let's say I have 32GB physical memory with 16GB of free memory, set COMPlus_GCHeapHardLimit to 200MB, and start using array pool heavily. The array pool is going to see HighMemoryLoadThresholdBytes=~30GB and MemoryLoadBytes=~16GB, so it will not make any attempt to trim and it can cache way over 200MB

[2019-12-13 21:42] AaronRobinsonMSFT commented on #720
These APIs were marked hidden/obsolete when the original port to coreclr was made. At that time we had no COM support so it made sense. In 3.0, we have that support so they are technically still valid. Issue https://github.com/dotnet/corefx/issues/40376 was created based on my comments at https://github.com/dotnet/coreclr/issues/26207#issuecomment-522070936.

At a minimum these APIs shouldn't mark

[2019-12-13 21:45] jkotas commented on #850
cc @janvorli

[2019-12-13 21:51] AndyAyersMS opened #855 "JIT: Examples where long decomposition could be improved"
On x86 (and presumably, arm32), operations on longs must be broken down into sets of operations on ints. This process can sometimes introduce unnecessary register pressure and lead to poor CQ.

Some examples:
* For indirs, it would be better to reuse addresses: https://github.com/dotnet/coreclr/issues/18339#issuecomment-468355602
* For copies, it would be better not to create overlapping lifetimes

[2019-12-13 21:52] BruceForstall commented on #606
Doesn't your JitCompBreakPoint and JitHalt generate the same instruction (some kind of break instruction) into the code stream?

[2019-12-13 21:57] AndyAyersMS opened #856 "JIT: GTF_GLOB_REF set unnecessarily on some local field accesses"
In particular, for address of a field.

We also should clarify or remove the x64/arm64 conservatism around implicit byref struct params.

See notes over in #845.

category:implementation
theme:ir
skill-level:expert
cost:medium

[2019-12-13 22:20] sandreenko opened #857 "crossgen: skipping method is slower than compiling it."
https://github.com/dotnet/runtime/blob/ff386383623a8dc809c20f2ab3e18bef4370d451/src/coreclr/src/jit/compiler.cpp#L5126 is used to skip altjit methods and with complus variables like`JitInclude`.

In theory `JitInclude/JitExclude` should allow faster debugging iterations in crossgen mode, but right now `JitInclude=oneMethods` works a few times slower than compiling everything (x64 windows System.Pr

[2019-12-13 22:22] sandreenko commented on #857
cc @jkotas @dotnet/jit-contrib

[2019-12-13 22:32] BruceForstall opened #858 "CodeGen (JIT) issue classification"
The CodeGen team attempts to classify GitHub issues with label `area-CodeGen` with additional classifications beyond the GitHub labels. Each issue is given a "category", "theme", "skill level", and "cost". These are added as a block of text at the bottom of the main issue description, e.g.:

[code]

We have a tool that allows us to extract these to Excel, modify and analyze them there, and update

[2019-12-13 22:39] BruceForstall commented on #858
Including the issues in https://github.com/dotnet/coreclr, this is the current state of CodeGen issues:

Row Labels | Count of Category
-- | --
cq | 462
correctness | 109
implementation | 104
testing | 35
throughput | 35
design | 17
proposal | 16
documentation | 8
eng-sys | 8
reach | 5
security | 1
Grand Total | 800

Row Labels | Count of Theme
-- | --
basic-cq | 96
optimization | 66
vector-codege

[2019-12-13 23:19] josalem commented on #168
Quoting my comments on the PR I opened and then closed.

The issue here seems to be one with the c++ runtime version in RHEL6 and not an issue with the code itself.  I'm going to do a little more investigation into what is specifically causing the error, but I'm inclined to believe this is an issue with the c++ runtime incorrectly deleting the `thread_local` `Wrapper<...>` member on `EventPipeThre

[2019-12-13 23:43] Tratcher opened #860 "Http/2 headers not getting flushed if there are Continuation frames"
When writing interop tests between SocketsHttpHandler and Kestrel I've found a case where HTTP/2 requests with large headers are sometimes not flushed to the network and eventually time out.

The default HTTP/2 frame size limit is 16kb, so any request with more headers than that will be broken up into a Headers frame and Continuation frames. For a request without a body the FrameFlags.EndStream fl

[2019-12-13 23:45] CarolEidt commented on #858
Thanks @BruceForstall ! It's a bit daunting, but it's great to have these tools.

[2019-12-13 23:50] AndyAyersMS commented on #856
Prototype: [NoGlobalFlagForFieldsOfLocals](https://github.com/dotnet/runtime/compare/master...AndyAyersMS:NoGlobalFlagForFieldsOfLocals)

Doesn't change things much...
[code]

[2019-12-14 00:06] joperezr commented on #812
I've been taking a look at this one today, and I think I'm close to figuring out what is going on.

Basically when you call Reset, the Winforms DataVisualization code is using System.ComponentModel.TypeConverter to inspect all properties of the type (Chart in this case) and try to reset each one back into it's default value. One of those properties is `Size` of type `System.Drawing.Size` but when

[2019-12-14 00:15] janvorli commented on #850
This is strange. Out cgroups code actually uses the cgroup of the current process. It gets is from /proc/self/cgroup. I've verified that it works by creating my own memory cgroup called janvorli-subgroup:
[code]
Then I've started lldb with a testing .NET Core app in that memory cgroup:
[code]
Then I've set a breakpoint at CGroup::Initialize, ran the application and once I've hit the breakpoint, I'

[2019-12-14 00:26] sebastienros commented on #850
@janvorli

I verified with `Environment.ProcessorCount` only, and confirmed what I was seeing from this call: https://github.com/dotnet/runtime/blob/master/src/coreclr/src/gc/unix/cgroup.cpp#L120-L126

[2019-12-14 00:27] sebastienros commented on #850
So maybe not everything is taken from named cgroups

[2019-12-14 00:43] sebastienros commented on #850
I understand the code that I pointed to better now, I missed the part where it was looking for the current process group. Will try to find where it failed in my case, and only worked once I started setting the global one. Maybe the way I started the process.

[2019-12-14 00:44] ewolfman opened #867 "gRPC and Ambassador issues"
Hi,

Not sure if bugs or not but I have a couple of problems when my gRPC is behind Ambassador on AKS.

The target url of the microservice is for example: https://my.examples.com/grpc-web-dot-net/SayHello.

**Issue 1**

```GrpcChannel.ForAddress("https://my.examples.com/grpc-web-dot-net")```

It looks like the "grpc-web-dot-net" path is not used. Therefore method calls fail as they target the root

[2019-12-14 00:47] davidsh commented on #867
@JamesNK

[2019-12-14 01:06] janvorli commented on #850
It gets the process specific path for the cpu groups too (verified now too). Have you used the same way to create a group and run your service in it as I've used in my example?
I've also sticked call to the GetCpuLimit into the Initialize function to verify the full paths we are using. In my case, we were correctly using `/sys/fs/cgroup/cpu,cpuacct/janvorli-subgroup/cpu.cfs_quota_us`  and `/sys/fs

[2019-12-14 01:16] sebastienros commented on #850
I am closing the issue because you have validated what I had questioned, so it must have been an issue on my side. I will add some comment when I find out what my mistake was. Thanks for your time.

[2019-12-14 01:16] rwasef1830 opened #869 "[ComRegisterFunction]/[ComUnregisterFunction] decorated public static methods do not run during regsvr32 registration"
Hello,
I have discovered that contrary to documentation in .NET Core, [ComRegisterFunction] and [ComUnregisterFunction] are not called by the COM registration system if they are not in a public class decorated by `[ComVisible(true)]` and a `[Guid(...)]` in the immediate assembly being registered.

See repo for a playground project:
https://github.com/rwasef1830/netcore31comregistrationbugs

In the

[2019-12-14 01:19] rwasef1830 opened #870 "Regsvr32 fails with 0x80008093 (seems to be invalid configuration error) on COM Host DLL when it is published in self-contained mode. Works correctly in framework dependent publish."
Hello,
I found a bug in COM registration system. To reproduce this error perform the following steps:

1. Create a .NET Core Project with the following contents:
[code]
2. Create a simple class that is exposed to COM:
[code]

3. In the project directory, run this command: `dotnet publish -r win-x64 -c Release --self-contained`
to create a self-contained publish.

4. Go to the publish output direct

[2019-12-14 01:34] JamesNK commented on #867
This isn't a bug with grpc-dotnet.

Don't include a path in the address. `https://my.examples.com/` is fine.

Your request is being made using HTTP/1.1 by something in between the client and the server. Ambassador seems like a good first suspect to investigate.

[2019-12-14 01:37] AaronRobinsonMSFT commented on #869
Appears to be a logical flaw when trying to discover the entry points.

https://github.com/dotnet/runtime/blob/be71bafdbe138fbf4c3f3e46b20679034e5826be/src/coreclr/src/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComActivator.cs#L145

It is unclear if loading of dependent assemblies is something I was not aware of.

[2019-12-14 01:38] danmosemsft commented on #304
I hit the same issue, contributing doesn't tell me HOW to contribute.

@maryamariyan any thoughts? i can help organize/move docs around, if you suggest what we need/ what should link where?

[2019-12-14 01:39] xiangzhai commented on #606
[code]

`JitHalt` generate [INS_bkpt](https://github.com/dotnet/runtime/blob/master/src/coreclr/src/jit/compiler.h#L10610).

But `JitCompBreakPoint` generate INS_brk for ARM64, INS_int3 for X86 and INS_break for MIPS64.

Thanks,
Leslie Zhai

[2019-12-14 01:40] #788 closed

[2019-12-14 02:03] BruceForstall commented on #606
From the ARMv8 manual, it looks like perhaps we should never be generating INS_bkpt for ARM64, and should only generate INS_brk. It looks like INS_bkpt is an arm32-only instruction. So maybe you can just change the definition of `INS_BREAKPOINT` for ARM64 to be INS_brk.

@briansull @TamarChristinaArm comments?

[2019-12-14 02:10] xiangzhai commented on #606
[code]

Thanks,
Leslie Zhai

[2019-12-14 04:58] Tratcher commented on #860
Reliable repro: Prime the connection with a simple `await client.GetAsync(url);` so that the settings ack gets handled. Then you can send the large request shown above and it never gets flushed.

Server logs for this scenario, the second request never arrives:
[code]

[2019-12-14 05:13] davidsh commented on #839
For those devs working primarily in the libraries, you don't have to build everything with build.cmd/build.sh. I found the following workflow useful:

### Windows
[code]

### Linux
[code]

[2019-12-14 05:27] cshung opened #871 "tools.ps1 should ensure sdk.txt is always created if createSdkLocationFile is true"
I think I have spotted a bug in the `dotnet.cmd`/`tools.ps1` interaction:

Here is the relevant content of [dotnet.cmd](https://github.com/dotnet/runtime/blob/master/dotnet.cmd):

https://github.com/dotnet/runtime/blob/496c2a628aef7ebf1fd5b92775d6eb1d19d996d3/dotnet.cmd#L3-L10

Apparently, `dotnet.cmd` assumes `tools.ps1` will ensure `sdk.txt` exists after `InitializeDotNetCli $true $true` is ran.

[2019-12-14 09:02] TamarChristinaArm commented on #606
Yeah that's correct, the two execution states have different breakpoint instructions.

[2019-12-14 09:04] xiangzhai commented on #606
Hi @TamarChristinaArm

Thanks for your kind response!

@BruceForstall

May I create PR to fix the issue?

Cheers,
Leslie Zhai

[2019-12-14 09:17] weltkante commented on #812
Probably because the source got compiled wrong, due to the added WindowsBase reference, like I said abvove.

There is [this](https://github.com/dotnet/winforms-datavisualization/blob/master/src/System.Windows.Forms.DataVisualization/ChartWinControl.cs#L1317) line ```DefaultValue(typeof(Size), "300, 300")``` which references `Size` unqualified. Since the `Chart` class lives in `
namespace System.Wi

[2019-12-14 13:43] stephentoub commented on #839
Can we make libraries.cmd just default to doing that, and then allow flags to suppress/change it?

Also, libraries.cmd doesn't describe what it does. I'd personally prefer build-libraries. cmd. Or just use build.cmd -libraries, or some such thing.

[2019-12-14 15:58] mikedn commented on #620
Another case:
[code]
Prints -65026 which again is out of `short`'s range.

The original tree is:
[code]
and it becomes:
[code]
The problem is that the variable is "normalize on store" but no normalization is done when such a partial update occurs. We'll probably need to mark the variable "address exposed" just to force it to be "normalize on load". Not ideal but then this is such a corner case tha

[2019-12-14 16:20] layomia commented on #552
Closing this as this will be achieved with public field support - https://github.com/dotnet/corefx/issues/36505.

[2019-12-14 16:20] #552 closed

[2019-12-14 17:18] mikedn opened #877 "Broken GC copy when assigning to stack arg in x86 varargs method?"
This line from `fgMorphStackArgForVarArgs` is suspect:
https://github.com/dotnet/runtime/blob/f621f44cfad59eade2d263a19f39f38f7dc4a51b/src/coreclr/src/jit/morph.cpp#L5769

It's not clear why a `BLK` is used instead of an `OBJ`. But you can assign to an arg that contains GC pointers and then you end up with code like:

[code]
This copies a GC pointer containing object using unrolled block copy. And

[2019-12-14 18:08] Mgamerz commented on #739
Hopefully there is a service fix in the near future, as I am starting to notice many of my users are affected by this. I don't run an enterprise grade application, but I do make a lot of releases, so keeping track of all of the version numbers is not super simple (especially since I use an SFX archive to extract the self-extracting exe as it cuts the size almost 75% down - if I am doing single exe

[2019-12-14 19:11] richlander commented on #852
This issue is now very old. Do people still see this behavior with 3.x? We know that memory limits were a problem with 1.x and 2.x.

[2019-12-14 19:41] richlander commented on #851
Same question as https://github.com/dotnet/runtime/issues/852#issuecomment-565743896 ... is this issue still a problem with 3.x.

Info on 3.x for containers: https://devblogs.microsoft.com/dotnet/using-net-and-docker-together-dockercon-2019-update/

[2019-12-14 21:25] dhusemann commented on #304
another question, some of the DOCS for building refer to repos that are going to be consolidated. Such as referring to [dotnet/cli](https://www.github.com/dotnet/cli) which has moved to [dotnet/toolset](https://github.com/dotnet/toolset) which in turn will eventually be consolidated into [dotnet/sdk](https://github.com/dotnet/sdk).

Do ya'll want to wait for those repo's to fully consolidate befor

[2019-12-14 23:07] Groxan opened #882 "[System.Text.Json] JsonSerializer ignores MaxDepth option"
I caught an exception in production, and my service was stuck due to a bug in deserialization of objects with large depth using custom converters. I have created a sample repository which demonstrates the bug: https://github.com/Groxan/JsonSerializerDepthSample

In short, I have the following custom json converter:

[code]

And the code:

[code]

So, when I call `JsonSerializer.Deserialize<T>` whe

[2019-12-15 12:03] Symbai opened #885 "Is there a faster way than using Encoding.Unicode.GetChars(byte[])?"
Is there a faster way for getting unicode chars out of a byte array using Encoding.Unicode.GetChars? Unfortunately the Char struct is Utf16 otherwise we could use MemoryMarshal.Cast:

[code]

I assume the .NET does not have a primitive structure of unicode character yet (unlike the upcoming Utf8 struct)? What else could I use then?

[2019-12-15 12:25] mikedn commented on #885
What do you mean by "Char struct is Utf16"?

Well, it the byte array really contains UTF16LE characters then you likely could do that.

It's not really clear what you want to achieve.

[2019-12-15 13:06] ViktorHofer commented on #304
An interim update sounds fine. We can a final update after the repos consolidate with a search&replace then.

[2019-12-15 14:20] Symbai commented on #885
Converting a byte array into an array of unicode characters using Encoding.Unicode.GetChars. But that allocates memory and costs too much performance. I was asking if anyone knows a faster way which may even allocate less memory.

[2019-12-15 15:00] stephentoub commented on #885
There is an overload of GetChars that takes the destination span to write into; also one for pointers. Those overloads don't allocate.

[2019-12-15 15:13] Symbai commented on #885
Nice, thank you.

[2019-12-15 15:13] #885 closed

[2019-12-15 17:49] strich opened #886 "Exception quality of life improvements"
Although I believe C# ranks fairly highly in actionable exception reporting, I do find that there is a lot of low hanging fruit that could measurably improve the quality of life for developers.

As an example, let's take one of the most famous of exceptions (**NullReferenceException**) and the first line of it's stacktrace:

It's pretty clear where to look, but there are at least 4 variables I nee

[2019-12-15 18:55] davidsh opened #887 "NTLM interop problems with MacOS"
.NET Core NTLM support is broken on MacOS. It has probably been broken for a while. But due to lack of test coverage we didn't notice. I did my testing on MacOS X 10.15.2 (Catalina).

The root cause is complex and due to possible interop issues with the NTLM support in the Heimdal library that ships with the Mac. Prior to MacOS 10.7, the Mac used MIT Kerberos open-source libraries. In 10.7, it swi

[2019-12-15 19:09] stephentoub commented on #886
Dup of https://github.com/dotnet/coreclr/issues/25. It isn't an easy problem, unfortunately.

[2019-12-15 19:09] #886 closed

[2019-12-15 21:21] felipepessoto opened #888 "CoreCLR Build docs mention a non-existing flag"
https://github.com/dotnet/runtime/blob/master/docs/workflow/building/coreclr/README.md

-skiptests doesn't exist anymore

[2019-12-15 22:02] ajcvickers commented on #834
@roji Certainly not against this, but experience has shown that, at least for SQL Server, there are:
* Many forms of what is essentially the same connection string. For example, there are multiple different key names that can be used for same option.
* Connection strings are not stable. For example, username and password may be removed after the connection is used for the first time.

Therefore us

[2019-12-15 22:14] roji commented on #834
That is actually what I'd like to accomplish here. Npgsql already does connection normalization internally, as follows:

1. When a connection is opened, Npgsql does a simple dictionary lookup from the given connection string (as given by the user) to a pool. If it's found we're done.
2. If the connection string was not found, it is parsed by initializing an NpgsqlConnectionStringBuilder from it.
3

[2019-12-16 00:01] Symbai opened #889 "Mark StringDictionary as obsolete"
I recently discovered StringDictionary. To me it is not clear what's the benefit of using it instead of Dictionary<string,string>. Also benchmarks reveal that it is slower comparing to Dictionary<string,string>. When I searched the internet for its purpose people said its coming from old times https://stackoverflow.com/questions/627716/stringdictionary-vs-dictionarystring-string. So I am suggestio

[2019-12-16 00:55] swaroop-sridhar commented on #739
@Mgamerz  yes, I expect that this issue will be fixed in the next servicing early next year. In the meantime, probably the better option for users is to set `DOTNET_BUNDLE_EXTRACT_BASE_DIR` instead of recycling the `tmp` directory.

[2019-12-16 01:24] BruceForstall commented on #606
@xiangzhai

Yes, that would be great.

[2019-12-16 01:42] Clockwork-Muse commented on #889
Hm.  We've traditionally been against marking things `Obsolete` (or removing them) due to breaking changes.  Although possibly the next version of things will allow this.

Anecdotally, part of a class I took in college was writing your own specialized versions of collections.  So basically this code.

[2019-12-16 01:52] xiangzhai commented on #606
Hi @BruceForstall

Please review it  https://github.com/dotnet/runtime/pull/892

Cheers,
Leslie Zhai

[2019-12-16 03:39] CharlesPublic opened #893 "Possible issue with BinaryReader.ReadString()"
Hi, i'm creating a web service and i'm using BinaryReader / BinaryWriter to serialize some data.
(System.IO.BinaryReader)

I've noticed that the
- BinaryReader.ReadString()

 function allocates a StringBuilder capacity with the value from the start of the string bytes:

- StringBuilderCache.Acquire(Read7BitEncodedInt());

This might be a problem for my service because some malicious data with a va

[2019-12-16 04:52] CharlesPublic commented on #893
Here is my Test:

    public class TestBugBinaryReader
    {
        public static void Test()
        {
            var ms = new MemoryStream();

            // generate a fake length
            var fakeLength = To7BitEncodedInt(int.MaxValue / 10 * 2);

            var writer = new BinaryWriter(ms);
            writer.Write(fakeLength);
            // add 200 random bytes
            writer.Writ

[2019-12-16 06:28] Gnbrkm41 commented on #889
This (and probably many other specialised collections) are from pre-.NET Framework 2.0 when there was no generics. I guess this reduced the needs for having to write strongly-typed wrappers over HashTable/ArrayList/Etc. I think nobody just bothered to work on it because generic collections are superior over these specialised ones due to generic ones being multi-purpose compared to this.

I bet the

[2019-12-16 06:46] drewnoakes commented on #796
This can be closed in lieu of https://github.com/dotnet/project-system/issues/5735

[2019-12-16 06:47] Gnbrkm41 commented on #893
I'm not sure if there's much to be done here; it's doing what it's supposed to do, even if it's with possibly crafted data to cause problem. There's no way to tell because who knows if the string is very long for legitimate reason?

Perhaps you could introduce a length limit of some sort in your service and validate the string length before you read? Take this to read a 7-bit encoded int: https://

[2019-12-16 07:18] CharlesPublic commented on #893
@Gnbrkm41 thanks i might just do that.

i think this issue might still be a problem if you look at where ReadString() is also used in the .NET Framework...
- ASP.NET: read and initialize Security.Claims
- HttpStaticObjectsCollection deserialize
- SessionState
- Reading Authentications tickets, this is for cookies i think

[2019-12-16 07:22] dehghani-mehdi opened #895 "[RijndaelManaged] System.PlatformNotSupportedException: 'BlockSize must be 128 in this implementation.'"
Hi,

What should I do to fix this?

Example code:

[code]

 `<TargetFrameworks>netstandard2.1;net461</TargetFrameworks>`

[2019-12-16 07:34] Gnbrkm41 commented on #893
It's already known to be dangerous anyway: https://github.com/dotnet/corefx/issues/38760 🙂 Can't tell about the rest though.

[2019-12-16 07:41] Gnbrkm41 commented on #895
Which framework do you get the error from? [The document seem to suggest any other size than 128 is not supported on .NET Core:](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.rijndaelmanaged?view=netframework-4.8)

Though your `TargetFrameworks` is set to target .NET Framework 4.6.1 as well, so I can't tell. Also interesting that there's mention in the document that you

[2019-12-16 07:47] dehghani-mehdi commented on #895
I get the error when I changed `<TargetFrameworks>netstandard2.1;net461</TargetFrameworks>` to `<TargetFramework>netstandard2.1</TargetFramework>`  too. (I'm using same code in my other project which target net461 without problem).

I'm using some web service which gives me the `key` and `iv` and I have to send back the encrypted data in order to use their sevice, using `Aes` will be provide same

[2019-12-16 08:04] Gnbrkm41 commented on #895
Targeting .NET Standard doesn't tell much about the runtime you're running it on, though as far as I'm know .NET Core and Mono is the only framework that is compatible with .NET Standard 2.1 so it's probably .NET Core.

From what I understand AES is a subset of Rijndael which supports fixed block size of 128 bits and a key size of 128, 192, or 256 bits. The block size being 256 here might cause pr

[2019-12-16 08:09] dehghani-mehdi commented on #895
Thank you @Gnbrkm41

I tried https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.aes?view=netframework-4.8#examples (`EncryptStringToBytes_Aes` method) in LINQPad with the key which I got from that service provide, and I got same error. (but using `RijndaelManaged` everything works as expected). so I think I have to use `RijndaelManaged`.

I have no idea what should I do, it's

[2019-12-16 09:55] cincuranet opened #897 "Self-contained C++/CLI"
Is there a way to force a C++/CLI (using `Ijwhost.dll`) to load runtime etc. from local (or some) directory, instead of looking into `C:\Program Files`?

[2019-12-16 11:39] esso23 opened #898 "System.Data.Odbc PlatformNotSupportedException"
System.Data.Odbc v4.7.0
**Platform:** Windows Server 2019 version 1809 (build 17763.805)
**Runtime:** .NET Core 3.1 (Library with odbc dependency is .NET Standard 2.1)
**Exception:**
[code]
**Code:**
[code]

**Additional info:**
Just migrated from .NET Framework 4.6.1 to .NET Core 3.1 on the same machine. OdbcConnection worked fine on .NET Framework 4.6.1.
Application is x86.

[2019-12-16 12:12] radenkozec commented on #475
This was not extra properties problem.
I was sending "5" in JSON instead of 5 for integer property. JSON.NET probably fixed these conversion issues however I fixed my errors in code. I don't prefer these kind of "auto-fixing" because it will affect performance. So on your side you don't need to do anything

[2019-12-16 13:50] ewolfman commented on #867
I have resolved Issue 1 by changing the prefix on my Ambassador service to match the grpc package.service.

However **Issue 2** remains. Based on another issue (https://github.com/grpc/grpc-dotnet/issues/654), I deployed the grpc service on an Ambassador without TLS to see how it works. Here are a couple of findings:

1. Using `AppContext.SetSwitch("System.Net.Http.SocketsHttpHandler.Http2Unencryp

[2019-12-16 14:27] vcsjones commented on #895
.NET Core does not support AES/Rijndael with a block size other than 128. @Gnbrkm41 gave a pretty good summary of the issue.

Rijndael (pre AES-specification) supported different block sizes. The final, standardized version of AES only uses a block size of 128 and different block sizes were removed from its specification.

`RijndaelManaged` in .NET Framework was a pure, C# implementation of Rijnda

[2019-12-16 14:37] vitek-karas commented on #847
@swaroop-sridhar

[2019-12-16 14:46] vitek-karas commented on #473
@lpereira can you please take a look - the JSON parser seems to fail parsing:
[code]

There's a secondary issues that it fails to correctly report the error to `stderr`. The error in `stderr` is something like:
[code]

While the same error printed to tracing file is:
[code]

[2019-12-16 14:48] vitek-karas commented on #486
This currently a known limitation.
@sbomer - do we have a master issue tracking this? (or should we use this one).

[2019-12-16 15:27] ViktorHofer commented on #871
Submitted a PR to fix this https://github.com/dotnet/arcade/pull/4546

[2019-12-16 15:28] ViktorHofer commented on #871
Thanks for reporting @cshung

[2019-12-16 16:20] tannergooding opened #904 "Consider allowing user-defined structs to be typed as TYP_SIMD"
Currently the JIT has various specialized handling for `TYP_SIMD8`, `TYP_SIMD12`, `TYP_SIMD16`, and `TYP_SIMD32`. However, this specialized handling is limited to the framework defined `Vector2`, `Vector3`, `Vector4`, `Vector<T>`, `Vector64<T>`, `Vector128<T>`, and Vector256<T>`.

In various cases and for various reasons, users may define their own types rather than using the framework types. This

[2019-12-16 16:20] tannergooding commented on #904
This was brought up by @saucecontrol here: https://github.com/dotnet/corefx/issues/36379#issuecomment-545105766 and has been raised on a couple of different other threads in the past.

[2019-12-16 16:21] tannergooding commented on #904
CC. @CarolEidt for thoughts

[2019-12-16 16:24] tannergooding commented on #904
System.Drawing, Windows Forms, and WPF would all likely benefit as they have various low-level structs defined that use 2-4 float elements (WPF also has a fair number using `TYP_DOUBLE`). There are also several System.Numerics and ML.NET types that may benefit.

[2019-12-16 16:45] montyclt opened #905 "[Proposal] Add byte[] and Stream overloads to AssemblyName.GetAssemblyName method"
I'm in situation where I need to get assembly name from byte array that content the assembly.

I solved it writting the file into the disk (tmp directory), calling `AssemblyName.GetAssemblyName(string)` and deleting the file.

[code]

I propose add two overloads, that accept `byte[]` and `Stream` as assembly sources.

[2019-12-16 17:06] CarolEidt commented on #904
Could you articulate the scenario(s) and expected benefit? I don't foresee auto-vectorization in the JIT any time soon, and other than that I'm not sure what value this would provide. I'm hoping that we can eliminate, or at least seriously reduce, the abstraction penalty for wrapping the SIMD types, but I gather that wouldn't address this issue.

[2019-12-16 17:25] jkotas commented on #905
Take a look at System.Reflection.Metadata and [`AssemblyDefinition.GetAssemblyName`](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.metadata.assemblydefinition.getassemblyname?view=netcore-3.1`) API. It allows you to get the assembly name from an assembly in a byte array, Stream or anything else that you can instantiate the MetadataReader over.

[2019-12-16 17:39] john-h-k commented on #904
@CarolEidt From what I see, it could be useful if also supported with a new intrinsic overload of `Vector{nnn}.Create`, where such types would not need to be loaded from memory. E.g

[code]
where `Foo` is a `TYP_FLOAT`, the JIT could elide any moving around if it has been promoted to a SIMD register

[2019-12-16 17:43] CarolEidt commented on #904
@john-h-k - this is a scenario that is (theoretically) already covered - that is, the JIT should have already put `x` into a floating point register, such that the `Create` intrinsic should never have to load it from memory. If there are cases where that's not happening, it would be great to see an example.

[2019-12-16 17:47] john-h-k commented on #904
Surely not if `Foo` is
[code]
I didn't think it put that (entire) struct in a FP register?

[2019-12-16 17:47] tannergooding commented on #904
The primary benefit would be zero/low cost conversion between the built-in types and user-defined types

That is, I might define the following struct
[code]

Today, in order to get a `Vector3` "efficiently" you need to either implement it internally as a `Vector3` or you need to use `Unsafe.As` . Representing it as `Vector3` may be undesirable because `Vector3` is mutable and can lead to undesirab

[2019-12-16 17:54] tannergooding opened #908 "Building coreclr tests with the Windows SDK v10.0.19025.0 Preview installed fails"
If you have installed the Windows SDK v10.0.19025.0 Preview and you attempt to build coreclr tests, the build for `tests\src\Interop\WinRT\NativeComponent` fails with multiple errors.

The unique errors are as follows (several of the errors are duplicated on other lines or sections of code):
[code]

[2019-12-16 17:57] davidsh commented on #907
@terrajobst @scalablecory I don't think Uri is the best pattern to follow here. Most of the other types in .NET follow the Parse/TryParse pattern.

[2019-12-16 18:01] joperezr commented on #812
I think you are right, that line seems to be the culprit. Unfortunately I don't believe that we can just remove an entire assembly from the targetting pack just because it may introduce clashes, instead I would expect that the assembly that created the wrong assumption (in this case winroms-datavisualization repo) should get a fix for this and add the fully qualified type. In any case, whether the

[2019-12-16 18:02] mikedn commented on #904
It may have been better if the intrinsic support wasn't designed around well known types and methods but rather around attributes, layouts and signatures. For example:
[code]
The developers wouldn't be forced to use the particular types and method the runtime provides or be forced to pay the potential overhead of building an abstraction layer.

Bonus - if you can get the VM to handle the intrinsic

[2019-12-16 18:03] ohadschn opened #909 "Make HttpKnownHeaderNames public"
Any reason why it's internal? Perhaps it's all the unsafe stuff going on at _HttpKnownHeaderNames.TryGetHeaderName.cs_ but at least the constants could be factored out and exposed - they can be very useful. See for example: http://stackoverflow.com/questions/11037004/asp-mvc-are-there-any-constants-for-the-default-http-headers.

[2019-12-16 18:06] lpereira commented on #473
That's strange; RapidJSON should support surrogate pairs.  Will take a look.

[2019-12-16 18:22] dehghani-mehdi commented on #895
@vcsjones very nice explanation. thank you.

You mean I have to make separate .NET Framework project just for decrypting and re-encrypting, and then use the result inside my .NET Core app? it's not possible for me and I think it's not ideal solution.

Also what about cross-platform support if we add such a dependency to NET Framework?

[2019-12-16 18:23] jaredpar opened #910 "Instructions for building not linked on CONTRIBUTING.md"
CONTRIBUTING.md should link to the instructions on how to build the repository.

Note: AFAICT neither README.md or CONTRIBUTING.md links to the build instructions.

[2019-12-16 18:40] #796 closed

[2019-12-16 18:40] AaronRobinsonMSFT commented on #796
@drewnoakes Thanks!

[2019-12-16 18:43] vcsjones commented on #895
I suppose it depends on what you use-case is for using a non-standard block size. If you are trying to decrypt / encrypt your own data, my personal recommendation would be to migrate to Aes by making a one-time-use .NET Framework application that would decrypt the data using the 256-bit block size, then re-encrypt it with a 128-bit block size. That way everything is migrated. Once your data is enc

[2019-12-16 18:44] CarolEidt commented on #904
@john-h-k - It sounds like you intended your example to mean that `Foo` was a struct containing multiple floats, in which case it seems like it's the one that Tanner describes.

@mikedn - I think you're right that what you describe would have been a better way to go, and perhaps we can work toward a model that is at least closer to that in usability.

I'm still unconvinced that, from a JIT perspec

[2019-12-16 18:55] dagood opened #913 "Create openSUSE Leap 15.1 dotnet-runtime-deps"
In 15.1 (15 sp1), openSUSE took this change to remove the `libicu` Provides clause:

https://build.opensuse.org/request/show/736411

This breaks the .NET Core package dependency. We need to create a new `dotnet-runtime-deps` package for 15.1 that depends directly on `libicu60_2`, and additional ones for each future Leap release if ICU is upgraded.

Reported at https://github.com/dotnet/docs/issues

[2019-12-16 18:56] montyclt commented on #905
Thanks @jkotas

I done using PEReader

[2019-12-16 19:03] montyclt commented on #905
A note, I created a PEReader with async stream and I get exception that cannot read the stream synchronously, so I transformed first to byte array asynchronously and then created the PEReader.

I sugest add too `GetAssemblyDefinitionAsync` method that use `stream.ReadAsync` into the stram to `PEReader` and `MetadataReader`.

[2019-12-16 19:12] scalablecory commented on #907
The feedback API review had for this was that this does not follow `TryParse` convention:

[code]

`TryParse` typically only has a single string + optional style + optional formatter as input, i.e. every argument is intrinsic to parsing. What we have here with `MailAddress.TryParse`, though, is half-way between a parser and a constructor: some of the params are only used for initialization, not pa

[2019-12-16 19:25] odhanson opened #924 "API Proposal for System.Interprocess namespace"
Due to the tight coupling with windows API, many of the current System.Threading IPC constructs do not support the "Named" flavours on all platforms. This leaves out important IPC objects such as Semaphores, shared memory and events. Writing cross platform applications that deal with multiple processes that need to communicate with each other, definitely lack these APIs.

I propose to add a new na

[2019-12-16 19:29] Neme12 opened #926 "Define and add `FileSystemError` enum and matching property to IOException"
(similar to dotnet/corefx#34220)

Scenario: I want to create and write some default data into a file unless it already exists.

A naive implementation would be:
[code]

The problem with this is that I'm accessing the file system at 2 points in time. As @jaredpar has taught me, `File.Exists` is evil. There's no guarantee that because `File.Exists` returned false, the file still won't exist when cal

[2019-12-16 19:30] iSazonov opened #927 "[Ping] Unix - some problems in ping API"
Related https://github.com/dotnet/corefx/issues/9350

In PowerShell repo we port [TestConnection cmdlet](https://github.com/PowerShell/PowerShell/blob/master/src/Microsoft.PowerShell.Commands.Management/commands/management/TestConnectionCommand.cs) and catch some problems in the ping API.

The problems documented in the [cmdlet tests](https://github.com/PowerShell/PowerShell/blob/master/test/power

[2019-12-16 19:32] danmosemsft opened #928 "Support for Unix ACLs?"
What is our story for ACL's on Unix, where file system supports it?

[Mono.Posix](https://www.nuget.org/packages/Mono.Posix.NETStandard) (what we point at for API for Unix primitives) does not support them. Do we need to offer support for them somewhere?

Whereever that support lies, do we need to add extension methods (like [this](https://github.com/dotnet/corefx/issues/41614)) to allow objects t

[2019-12-16 19:39] dagood commented on #929
As a workaround, run this command before the normal .NET Core install command to grab the correct version of this package:

[code]

---

Looks like a bunch of these got published for 3.1.0, and the centos one "stuck" in the metadata:

https://packages.microsoft.com/opensuse/15/prod/

[code]

[2019-12-16 19:47] webczat opened #932 "Sending file descriptors on unix sockets"
Hello,
I was wondering for some time: if unix sockets are supported directly by sockets api, how would I send unix file descriptors over them? It is a feature supported by every unix flavor, and pretty useful for example for implementing a dbus library, that comes to my mind first but it's not the only use case.
My question is, how would I do this with support for async/await? I am able to get a s

[2019-12-16 19:51] GrabYourPitchforks opened #933 "Introduce a Utf8String type"
This is the API proposal for `Utf8String`, an immutable, heap-allocated representation of UTF-8 string data. See https://github.com/dotnet/corefxlab/issues/2368 for the scenarios and design philosophy behind this proposal.

Included in this are also APIs to improve text processing across the framework as a whole, including changes to
existing types like `String` and `CultureInfo`.

[code]

**Edits

[2019-12-16 19:54] danmosemsft opened #935 "Add Dequeue functionality"
We have `Queue<T>` but no double ended queue (Deque) capability.

Opening this issue as a placeholder to gauge level of community need for the type and anyone interested in proposing an API.

Channels has added a [private one](https://github.com/dotnet/corefx/blob/master/src/System.Threading.Channels/src/System/Collections/Generic/Deque.cs) for its own use. It looks a lot like the existing `Queue<

[2019-12-16 20:05] swaroop-sridhar commented on #847
@ThadHouse  you can use the `Assembly.Location` on the app's main assembly -- which will point to the extraction location. Can you construct paths to the native DLLs based on this path?

[2019-12-16 20:16] mikedn commented on #856
FWIW I suspect that my current crusade against `GT_ADDR` will take care of this eventually. `LocalAddressVisitor` will handle more and more cases of "indirect access to a local" or "address of a local" and in the process clear `GTF_GLOB_REF` so at least we'll reach global morph without such issues. Remains to be seen when I'll be able to take care of the part before `LocalAddressVisitor`...

Also,

[2019-12-16 20:19] ThadHouse commented on #847
That wouldn't work correctly. Its not having trouble finding the native library I load via P/Invoke, but instead that library has trouble finding its dependents, since the extracted location is not in the Library Search Path. I guess I could P/Invoke manually into the linux loader and set the library search path before my library loads. Seems a bit convoluted and something that should be supported

[2019-12-16 20:29] mcp1979 commented on #517
My problem is that the aspnetcoresharedframework-x64.msi is missing from the Package Cache:

AspNetCoreSharedFramework_x64, action: Repair, path: C:\ProgramData\Package Cache\{43AC1AE8-A320-3C4B-BA83-37F5DE40757C}v3.1.0.0\AspNetCoreSharedFramework-x64.msi

no matter how many times i uninstall & reinstall, the problem persists...

[2019-12-16 21:01] weshaggard opened #940 "Update package label to "final" for the stable prerelease builds."
https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks.Packaging/src/PackageFiles/Packaging.targets#L16 instead of excluding the build number change it to "final". That will help make sure the package version is the higher then any of the existing packages that have that build number.

We should consider renaming IncludeBuildNumberInPackageVersion to better align with th

[2019-12-16 21:01] #940 closed

[2019-12-16 21:12] ericstj opened #942 "Add validation for packages that ship different API per TFM without versioning the assembly"
When adding API to a specific TFM we must version the assembly and ensure that we only ever grow an implementation that is applied to that TFM.

This is essentially the old contract versioning rules.  Adding API to a specific framework will effectively lock the "portable" framework until that API is added is added to the portable framework.

We were loose with this rule in 2.0 and may have instanc

[2019-12-16 21:15] maryamariyan commented on #942
in corefx, it used to have milestone 3.0 prior to future, so I assume the "blocking-release" label can be removed now that the label is set as future.

[2019-12-16 21:21] #871 closed

[2019-12-16 21:29] jkotas opened #946 "System.Globalization.Native shim: Unknown Numeric Patterns"
System.Globalization.Native shim had this assert (since forever): https://github.com/dotnet/runtime/blob/1983518fa4c901d35bb3ac7b1f76d7fa810c3543/src/coreclr/src/corefx/System.Globalization.Native/pal_localeNumberData.c#L203

This codepath was not exercised on debug builds of the shim due to test hole. I have confirmed it by test-only PR #890.  This test hole got fixed as side-effect of moving the

[2019-12-16 21:29] jkotas commented on #946
The unknown number pattern triggering this assert is ` C`.

[2019-12-16 21:32] ericstj opened #947 "Ability to build at root same as at leaf (or vice versa). Right now I have to learn two commands with different parameters in order to work."
CC @danmosemsft could you please provide more details?

[2019-12-16 21:35] carlossanlop commented on #941
@terrajobst @bartonjs @stephentoub @JeremyKuhne @jkotas ,

We need to add this API to this proposal and make it public:
https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d5f227d30e723/src/libraries/System.IO.MemoryMappedFiles/src/System/IO/MemoryMappedFiles/MemoryMappedFile.cs#L18

As you can see in [the current PR discussion](https://github.com/dotnet/runtime/pull/465#discussion_r

[2019-12-16 21:38] danmosemsft opened #950 "Need infrastructure to run tests in varying hardware intrinsic modes"
Increasingly we are taking changes that use hardware intrinsics to accelerate parts of CoreFX. Without special care, our testing will only ever cover the AVX2 (or AVX) path, not the software path and not any SSE path.

We need a way to easily cause selected tests to re-run in each mode so every codepath is exercised.

In the ML.NET repo they repeat relevant tests under each of regular, no AVX, and

[2019-12-16 21:38] safern opened #951 "Add a local live live leg in PR validation to protect local development."
Since CI and local live live have different behaviors as on CI we take some shortcuts, it is very simple to introduce a break in local development. We should add 1 leg that does build.cmd/sh with a simple plaform matrix of something like:

- Windows_x86_Release
- Unix_x64_Debug
- macOS_x64_Release

cc: @dotnet/runtime-infrastructure

[2019-12-16 21:47] SteveL-MSFT opened #955 "en-GB has different fallback on .NET Framework than .NET Core"
Repro using Windows PowerShell on a system with `en-GB` as default language

[code]

Using PowerShell 7 (.NET Core 3.1):

[code]

Using Windows PowerShell and explicit `en-GB` CultureInfo:

[code]

So .NET Framework seems inconsistent with itself if using `CurrentUICulture` (being `en-GB`) vs explicit `GetCultureInfo` with `en-GB` in terms of the fallback chain.  And this differs between .NET Fram

[2019-12-16 21:49] CarolEidt opened #957 "Improve APIs for Intel string handling intrinsics"
See https://github.com/dotnet/coreclr/pull/17637 for some discussion and context.
The fundamental issues revolve around how much of the behavior should be controlled by enums passed into the intrinsic method, versus separating the different behaviors into differently-named intrinsics.

The current API includes both `StringComparisonMode` (https://github.com/dotnet/corefx/blob/master/src/System.Run

[2019-12-16 21:54] trylek commented on #951
How do we deal with the CoreCLR checked mode? Should we cater for that too?

[2019-12-16 21:57] safern commented on #951
I don't think so. I think this is just a matter of protecting the local development dependency flow as we've seen some issues since this was enabled on Friday because the behavior on CI and local is different and the paths can change. So we should just protect from breaking the local development. Configurations shouldn't change this as the paths are calculated based on the configuration property w

[2019-12-16 22:11] trylek commented on #951
Hmm, I was under the impression that, as the CoreCLR repo supports the three configurations (build / checked / release), the "combined build" should also support the same three configurations - build, checked, release - and either just collapse them for CoreFX that just supports two configurations (Debug / Release) or optionally allow specifying an explicit configuration for CoreFX build. I can ea

[2019-12-16 22:16] trylek commented on #951
In fact, I would be inclined to suggest we run all 6 combinations building the product and maybe a small set of tests, perhaps without actually running them. By six combinations I mean the Cartesian product of the three CoreCLR configurations (build - checked - release) times the two CoreFX configurations (Build - Release) we can probably distribute among the three OS'es (for now I'd be inclined t

[2019-12-16 22:40] assyadh opened #959 "Building core-setup: Microsoft.NETCore.DotNetAppHost.nuspec: no viable conversion from 'X' to 'Y'"
Hi,

When trying to build core-setup on Amazon Linux (RHEL 64), I am running into the following error:

[code]

I am having trouble figuring out what is going on here. I don't have trouble building .NET Core 2.1, but the host_context.cpp file was introduced with 3.0. Any ideas?

Thanks for the help.

[2019-12-16 22:46] swaroop-sridhar commented on #847
@ThadHouse, I understand the point you're making -- that the dependent libraries would be found in the current directory, but not from the extraction location.

I was trying to answer the specific requirement, about locating the extraction location/bundle-ID:

At runtime, assembly-location will be the extraction location, and the last component of that path is the bundle-id.

[2019-12-16 22:58] danmosemsft commented on #930
@JeremyKuhne is the fix here simply to add
[code]
to these
https://github.com/dotnet/corefx/blob/master/src/System.Configuration.ConfigurationManager/src/System/Configuration/ImplicitMachineConfigHost.cs#L78

[2019-12-16 22:59] danmosemsft commented on #934
@bbartels , dotnet/runtime is open for business :)

[2019-12-16 23:08] JeremyKuhne commented on #930
Yes. And add tests, of course. The repro [above ](https://github.com/dotnet/runtime/issues/930#issuecomment-412988350) should be relatively easy to add a test for. Loading a custom `Configuration` with that in it via `ConfigurationManager.OpenExeConfiguration` (as other tests do) should suffice.

[2019-12-16 23:13] wfurt commented on #932
You still should be able to use poll/select to know that you can read something.
Question is what you do with descriptor passed to your process?
We may be able to get https://github.com/dotnet/runtime/issues/862 but I don't know how would you for example use it with files.

[2019-12-16 23:18] webczat commented on #932
generally I believe FileStream accepts handles, don't remember if SafeFileHandle or UIntPtr, but it probably does. in the first case not sure if SafeFileHandle accepted UIntPtr, would have to check, but I believe it was possible. Othervise not sure how all that systemd activation support works in kestrel, when it gets a raw fd from systemd? it is actually file descriptor passing I believe.
As for

[2019-12-16 23:21] jkotas commented on #961
This is no longer relevant after repo consolidation.

[2019-12-16 23:21] #961 closed

[2019-12-16 23:27] wfurt commented on #932
Yes, it seems like `SafeFileHandle` can be created from IntPtr. As far as the second part, are you talking about function on socket used for passing or about processing once new descriptor is received?

[2019-12-16 23:32] marek-safar commented on #961
Is there any doc/pointer how are CoreCLR tests run during CI in the new repo?

[2019-12-16 23:33] cshung opened #966 "Handle the warnings in R2RDump"
In order to extract the parsing code from `R2RDump` to a separate library, I silenced a couple of warnings from the code in #267. This issue is filed to track the work to surface the warning in some TBD way.

https://github.com/dotnet/runtime/blob/1e3842446d661cb7dcfc6c197150f6f883bd2b1d/src/coreclr/src/tools/crossgen2/ILCompiler.Reflection.ReadyToRun/R2RHeader.cs#L89-L93

https://github.com/dotne

[2019-12-17 00:19] webczat commented on #932
I mean the function on socket used for passing. I have to call sendmsg instead of send or recvmsg instead of recv depending on the context. in case of async send/receive it would do select/poll/epoll on linux wouldn't it? and call actual send/recv after notification. If I implement my own handling like ReceiveDescriptorsAsync/SendDescriptorsAsync (let's assume such naming) then suddenly I have to

[2019-12-17 00:26] wfurt commented on #932
yes, that is correct. Since there is no way how to pass descriptor to/from PAL, you will have to p/invoke native functions directly.  I would probably use dedicated socket to pass auxiliary data and I would not mix it with any other use.

[2019-12-17 00:38] webczat commented on #932
note that that way you directly force-restrict any use of such features for protocols you don't control. nothing known to me uses sockets in such a way that they exist only to pass aux data. especially when this data is not a fd, but for example something like process info/user credentials. These data are, as said, aux, so they are being send with something else, for example with a dbus message, o

[2019-12-17 00:45] jaredpar commented on #951
The goal here is to add a reasonable level of confidence that changes to the repository don't break the local developer work flow. For most repositories this only needs a small sanity check because the build paths between local and CI are virtually the same. The runtime repository diverges quite a bit more because of the number of configurations that we need to test and the improvements we can get

[2019-12-17 00:48] bbartels commented on #934
@danmosemsft I really should have commented here, but already submitted a PR a couple weeks ago! https://github.com/dotnet/runtime/pull/295

[2019-12-17 00:50] trylek commented on #951
Sounds good to me.

[2019-12-17 01:09] janvorli commented on #850
I am reopening this issue as @sebastienros and I were able to figure out what's wrong with the named cgroups in his case. The difference between his and my testing was that he was testing the named cgroups inside of a docker container while I was testing it out of a docker container. There is a subtle difference in how the /proc/self/mountinfo and /proc/self/cgroup files report the paths in each c

[2019-12-17 01:10] janvorli commented on #850
To summarize my previous comment, the named cgroups don't work only in the case they are used inside of a docker container.

[2019-12-17 03:01] wfurt commented on #932
yes, you need to implement IO functions as what you want is not part of official API contract.
However you can still implement it in asynchronous way and get it scheduled on thread pool.
Once you know you can read/write data, there really is not that much difference between sync/async method (as even Async can finish synchronously)

[2019-12-17 03:08] jkotas commented on #702
Libraries Build Windows_NT x86 Release leg is failing 100% of time. See https://github.com/dotnet/runtime/pull/967

[2019-12-17 03:15] Grauenwolf commented on #907
Where are all of these extra parameters coming from? We're just asking for the parsing of a single string.

    bool TryParse(string s, out MailAddress result)

While I assume it's possible, I can't think of any situation where I've had a separate display name and email address but didn't already know the email address was valid.

What we're looking for is to check a single column of values from a

[2019-12-17 03:20] danmosemsft commented on #930
@yvinap any interest in offering a PR - i know this is old now...

[2019-12-17 03:22] Grauenwolf commented on #907
Also note we do have multi-parameter TryParse methods. For example, `DateTime.TryParseExact`.

https://docs.microsoft.com/en-us/dotnet/api/system.datetime.tryparseexact?view=netframework-4.8

Other multi-parameter TryParse include `Int32.TryParse` and `Timespan.TryParse`

So there is no basis for the claim that TryParse strictly has a single input parameter.

[2019-12-17 03:30] yang-xiaodong opened #971 "Same culture behaves inconsistently across Windows and Linux"
**Environment** :  netcoreapp 3.0

[code]

**Windows output:**
[code]

**Linux output:**
[code]

[2019-12-17 04:48] dehghani-mehdi commented on #895
Yes, this is the case

It's too scary for me, I have no idea about cryptography stuff.

I'm wondering is there any similar migration (from .NET Framework to .NET Core) problems? If so, I guess using .NET Core could be problem for lot's of companies, they have some sort of working projects (as we do) and for using .NET Core they have to convert their code to .NET Core world __AND__ start implementi

[2019-12-17 04:59] wfurt commented on #971
cc: @tarekgh

[2019-12-17 05:05] wfurt commented on #831
cc: @janvorli

[2019-12-17 05:13] wfurt commented on #800
This seems like weird request as TAB does not constitute end of line e.g. if the function returns it would give less than line.
It seems like if handling of special keys is needed best approach would be reading keys into buffer and adding handlers for TAB or any other special keys (like '?').

[2019-12-17 05:22] iSazonov commented on #800
@wfurt It seems you say about implementing a power line editor class which allows customizations and hooks/handlers. Looks good to me.

[2019-12-17 05:23] wfurt commented on #687
cc: @krwq @ManickaP

[2019-12-17 05:37] scalablecory commented on #912
Not sending QUIT shouldn't be an issue if the socket is otherwise shutdown properly and the server is checking for recv()=0. I can vaguely see a less than robust server behaving unexpectedly when it doesn't receive one and is still processing messages, but we haven't really had reports of incompatibilities so far.

Given that this appears to be non-critical, and that I'd love to avoid spending I/O

[2019-12-17 05:48] wfurt commented on #356
FTP may not get much active development but it is not going away. While it may be in used for legacy reasons, one should consider security aspects.
It is also open for contributions from community if there is enough interest.
This does not seems actionable. cc: @karelz

[2019-12-17 06:02] karelz commented on #356
Agreed, FtpWebRequest is supported in its current form. It does not mean we have to recommend the API going forward though.

[2019-12-17 06:02] #356 closed

[2019-12-17 06:07] wfurt opened #972 "add test queue for RedHat 8"
While we sunsetting RH6, (#423) RH8 is out. Since we support last to major versions we should be testing them as well.

https://developers.redhat.com/blog/2019/05/07/red-hat-enterprise-linux-8-now-generally-available/

cc: @tmds

[2019-12-17 06:18] mguinness commented on #912
This feels like groundhog day, it caused a lot of issues in .NET Framework 2.0 since [SmtpClient not sending QUIT](https://social.msdn.microsoft.com/Forums/vstudio/en-US/945d740b-5b43-406c-94bf-a6f1e619ea84/smtpclient-not-sending-quit) then eventually fixed in .NET Framework 4.0 and still exists in the [full framework](https://github.com/Microsoft/referencesource/blob/master/System/net/System/Net/

[2019-12-17 06:22] tarekgh commented on #971
It is expected to have different behaviors between different OS's or different versions of the same OS. we use the underlying OS to perform the collation operations. This is by design for the .NET. on Windows we use the NLS Win32 APIs for collations while on Linux/OSX we use ICU library.

In next release (i.e. net core 5.0) we are going to support using ICU on Windows which will allow consistent b

[2019-12-17 06:22] #971 closed

[2019-12-17 06:28] Varorbc commented on #721
@vitek-karas Is there any progress? How can I solve this problem?

[2019-12-17 07:37] tmds commented on #921
[code]

This one will throw PNSE on non-Windows:

https://github.com/dotnet/runtime/blob/35fe82c2e90fa345d0b6ad243c14da193fb123fd/src/libraries/System.Net.Sockets/src/System/Net/Sockets/Socket.Unix.cs#L106-L110

[2019-12-17 07:44] wfurt commented on #971
While this may be generally true, why do we think `http://google.com` starts with `?` @tarekgh

[2019-12-17 08:02] tarekgh commented on #971
Characters have sort weights. different cultures can assign different sort weights for characters. For culture like "th-TH" it can assign 0 sort weight for '?' which will make the character treated as if it is not exist at all. which will make any string will start with '?' like

[code]

Users can switch to use Ordinal comparisons if they want to avoid such interesting cases.

[2019-12-17 08:14] yang-xiaodong commented on #971
By default, The Thai developers need to pass `StringComparer.InvariantCulture` in all places that affect string sorting, and they cannot found it on Windows

[2019-12-17 08:23] yang-xiaodong commented on #971
I think this issue should not be closed, so anyone who develops international applications using dotnet core may encounter this problem

[2019-12-17 08:34] scalablecory commented on #907
The proposed API currently mirrors all the ctors, which take more than a single string.

This is not a claim anyone made.

Current `TryParse` take only parameters that are specifically *involved in parsing*. In the example above, `displayName` and `displayNameEncoding` are not used for parsing but instead to initialize values.

[2019-12-17 09:07] trylek commented on #702
Interesting. To me it looks like a code issue rather than an infra hiccup though:

<pre>
Fatal error. 0xC0000005
   at DynamicClass.WriteTypeWithDateTimeOffsetTypePropertyToJson(System.Runtime.Serialization.XmlWriterDelegator, System.Object, System.Runtime.Serialization.Json.XmlObjectSerializerWriteContextComplexJson, System.Runtime.Serialization.ClassDataContract, System.Xml.XmlDictionaryString[]

[2019-12-17 09:36] MarcoRossignoli commented on #907
I'm working on this and I agree with @scalablecory if we want to return and "instance" of `MailAddress` from parse we should allow all "possible" combinations allowed by ctors, for intance current code allow to override the display name also if it's present inside address part, we would lose this. I believe that api should be simmetric in this case.
Would be different if the semantic is only a "va

[2019-12-17 10:20] ManickaP commented on #687
I'll check it out and report back.

[2019-12-17 10:43] andrew-vdb opened #974 "System.Text.Json The collection type 'Microsoft.Graph.ISiteColumnsCollectionPage' on 'Microsoft.Graph.Site.Columns' is not supported."
I have to revert back to NewtonsoftJson because of this error, tested also with 4.7, its also not working
[code]

[2019-12-17 10:47] zengqinglei opened #976 "Unable to delete assembly file after plugin uninstall"
**Describe the bug**

When I use the sample code: https://github.com/dotnet/samples/tree/master/core/tutorials/Unloading
Then I want to remove the assembly file after the plugin is uninstalled and I get an exception:

![image](https://user-images.githubusercontent.com/7374317/70961451-cb998d80-20bc-11ea-837c-601b70c8e52a.png)

**Run Environment**
* .NET CORE 3.1
* Windows 10
![image](https://user-

[2019-12-17 11:04] ViktorHofer commented on #702
cc @ahsonkhan @steveharter

[2019-12-17 11:27] vitek-karas commented on #721
@anurse - can somebody from the ASP.NET side take a look? This feels like some pre-release bits, but they show up as release 3.1.0 on the machine.

@Varorbc just to be 100% sure, can you please look at `C:\Program Files\dotnet\shared\Microsoft.AspNetCore.App\3.1.0\Microsoft.AspNetCore.App.runtimeconfig.json` - and copy the content here?

[2019-12-17 11:36] Varorbc commented on #721
@vitek-karas https://github.com/aspnet/AspNetCore/issues/17727

Microsoft.AspNetCore.App.runtimeconfig.json

    {
      "runtimeOptions": {
        "tfm": "netcoreapp3.1",
        "framework": {
          "name": "Microsoft.NETCore.App",
          "version": "3.1.1-servicing.19572.8"
        },
        "rollForward": "LatestPatch"
      }
    }

[2019-12-17 11:40] vitek-karas commented on #721
Thanks @Varorbc .

This feels wrong:
* `3.1.1-servicing.19572.8` is a pre-release version (per SemVer rules).
* Release version `3.1.0` of ASP.NET should not be referencing a pre-release version of NETCore.App.
* I would expect patch version to match across frameworks - as we sim-ship frameworks. So in this case I would expect `3.1.1` NETCoreApp to only by referenced from `3.1.1` ASP.NET framework

[2019-12-17 12:10] mikedn commented on #702
That looks like it came from my #737, I'm pretty sure I know what the problem is. The odd thing is that the CI was green when the PR was merged and it's not very clear why.

[2019-12-17 12:43] albertomandlate opened #978 "UWP App on Release stop function when it starts using the System.Text.Json on version 4.7.0"
I have an application that was built in UWP. When I test the app on Debug mode, it works very well, but when I change to Release, the app stop working.

The error is:
`**System.Reflection.MissingMetadataException:** 'This operation cannot be carried out because metadata for the following object was removed for performance reasons:\n\n  EETypeRva:0x000AF350\n\nNo further information is available. R

[2019-12-17 12:44] webczat commented on #932
won't it conflict with other async ops? also if I would like select/poll/epoll support I have problems as I have to reimplement that for fd passing...?
It would be useful to be able to attach to the io workers. It is already possible on windows because there is the mechanism of overlapped io and you have the ability to attach to this mechanism, but that is not possible here.

[2019-12-17 13:05] henrikse55 commented on #702
Looks like the same CI (Libraries Build Windows_NT x86 Release) failed in my PR #842

https://helix.dot.net/api/2019-06-17/jobs/068da4f0-9282-4e18-a1de-c2baaecf32b0/workitems/System.Runtime.Serialization.Json.Tests/console

[code]

[2019-12-17 13:09] janvorli commented on #976
I've just tried that locally and it worked fine. I wonder if the issue is due to something in your visual studio. Can you please try to run the tests without debugging (use Debug / Start Without Debugging menu option and see if that helps? You can add `Console.WriteLine($"Delete file: {ex}");` to the catch so that you'd see if there was a problem or not.

[2019-12-17 13:47] ViktorHofer commented on #273
@safern can you please try this out.

[2019-12-17 14:00] safern commented on #702
The reason why your PR was green is because of the current state we’re in.

1. In order to achieve building live live, we needed to disable running the libraries tests on coreclr PRs.
2. The only pipeline that runs libraries tests is runtime-libraries which is conditioned to only run when the change includes a change to src/libraries/*. Since your change only touched coreclr, it didn’t run in your

[2019-12-17 14:17] ViktorHofer commented on #951
Why not instead build the same way on CI as locally? I understand that testing isn't that trivial and needs to have the artifacts output available but I was under the assumption that just building the repo with `build.cmd/sh` under a single pipeline should be sufficient for at least the Build step.

[2019-12-17 14:30] MikeBishop commented on #756
Thinking about this from an application's point of view and looking at your interface, this seems to be an artifact of duplicating stream state tracking between the app and the transport stack.  The root problem is that they can get out of sync, and the Dispose() method is supposed to reconcile the differences.  Maybe the right solution is to have a different reconciliation method.

Suppose that t

[2019-12-17 15:49] danielSt-dev opened #981 "AccessViolationException using System.Data.OleDb"
Hi all,

we get a AccessViolationException when using System.Data.OleDb with "Microsoft OLE DB Provider for Visual FoxPro 9.0" (vfpoledb) after inserting a new row with a DataTable and OleDbDataAdapter.Update().

[code]

associated Code:
[code]

We ported the code from classic .Net Framework (4.8) where the code works without a problem.

[2019-12-17 15:54] safern commented on #951
Because we want to parallelize the build in order to make CI faster. Running build.cmd/sh doesn’t allow us building multiple partitions in parallel.

[2019-12-17 15:55] safern commented on #273
Yep. I’ll try it out.

[2019-12-17 16:16] Tratcher commented on #912
I was. How did you know?

@scalablecory @tmds @davidsh I know the Dispose design might be a bit outdated, but it's still the best option here.
- Having .NET Framework compatible behavior is a high priority for existing API.
- SmtpClient.Dispose is included in netstandard and should have consistent behavior, library authors depend on this. Any new Shutdown API would not be available in netstandard.

[2019-12-17 16:28] ViktorHofer commented on #951
How much do we gain by doing that? I would instead focus on improving the local build time by parallizing where possible.

[2019-12-17 16:33] alexdrl opened #982 "Application crash when calling a function in Linux"
Hello, I am getting an application crash when calling a Library with PInvoke in Linux.

The library is https://github.com/alexdrl/lkh and is made using CMake.

The .NET 3.0 code is this https://github.com/alexdrl/ReproNetCore30. The library also builds on windows, and the calling .NET code works as expected in the TSP and TSP2 files.

I have tried to remove all the parameters from the library entr

[2019-12-17 16:48] scalablecory commented on #912
@Tratcher I'm not strongly opposed if it's the right think to do, but I have yet to find an example of this causing an issue.

[2019-12-17 17:02] jkotas commented on #982
cc @jkoritzinsky

[2019-12-17 17:24] Tratcher commented on #912
Here's the original issue and fix:
http://vstfdevdiv:8080/DevDiv/Dev10/_queries/edit/703015/?triage=true
http://vstfdevdiv:8080/DevDiv/Dev10/_versionControl/changeset/1202965

Customer creates an SmtpClient object and uses it to send email to an Smtp server.  When the underlying Smtp connection times out, it will force-close the connection by sending a RST instead of gracefully closing it by sendi

[2019-12-17 17:36] trylek commented on #951
I think that one fundamental difference is that, in the CI, we often run variations for multiple platforms and I'm not sure if we always want to have CoreCLR and CoreFX correspond to each other 1:1 so we basically need to build a cross-machine graph for the build - for instance, I would expect that CoreCLR checked and release builds in the PR run should collapse to the same CoreFX Release build.

[2019-12-17 17:39] mabrahamsen opened #983 "System.IO.Packaging.InternalRelationshipCollection.GetRelationshipIndex doesn't scale"
**Use case**
The Microsoft OpenXml SDK relies on the System.IO.Packaging API to generate Microsoft Excel files. This allows adding hyperlinks to Excel columns, but with the current resource consumption this is impossible when you have an excel sheet with about 100.000 records that each has a link to some additional record information - for instance a deep link to a HTTP resource. This API uses Pac

[2019-12-17 17:40] safern commented on #951
I think first we need to get the single pipeline working and then see if it is worth doing the optimizations or not.

however, with regards to the optimizations, whenever we get a S.P.CoreLib and if we make our tests assemblies not depend on runtime assemblies, we could gain a LOT, because once we have the ref assembly for S.P.CoreLib, and we could build libraries ref assemblies in parallel, and t

[2019-12-17 17:55] danmosemsft commented on #981
I wonder whether you could get more callstack out of a native debugger? Probably this is all there is, but worth a try?

[2019-12-17 18:12] jeffkl commented on #949
I have submitted a PR to fix this in NuGet: https://github.com/NuGet/NuGet.Client/pull/3170

[2019-12-17 18:19] scalablecory commented on #912
No. We do a `shutdown()`+`closesocket()` on `Dispose()`.

[2019-12-17 18:20] krwq commented on #687
@ManickaP can also reproduce python is working for you? What license is the python code, can we see what we do differently?

[2019-12-17 18:32] Tratcher commented on #912
Oh good, that does make this a less severe issue. It also means you already have a non-abortive callstack where it would be appropriate to send the QUIT for RFC compliance so it would be a small fix.
https://github.com/dotnet/runtime/blob/9bf91f8d178e09bb81fb1749a82d588cbe8028cf/src/libraries/System.Net.Mail/src/System/Net/Mail/SmtpTransport.cs#L200

SmtpClient has a seperate Abort code path non-g

[2019-12-17 18:47] ViktorHofer commented on #951
Building coreclr and libraries in the same build invocation shouldn't necessarily mean that they build against the same _configuration, platform or OS_. I can already do that with the [switches](https://github.com/dotnet/runtime/blob/master/eng/liveBuilds.targets#L4-L7) that @jkoritzinsky introduced.

Definitely, I was not proposing to do this right now as official builds, live-live everywhere and

[2019-12-17 18:49] carlossanlop commented on #941
@terrajobst @bartonjs @stephentoub @GrabYourPitchforks @JeremyKuhne @jkotas ,

We also need to include two new classes to the API proposal, they were not mentioned in the main description. They did not exist in Framework, the concept is new in Core. All the ACL changes we have already fixed had similar classes: an `AccessRule` and an `AuditRule`. We need them for `MemoryMappedFiles` too:

[code]

[2019-12-17 18:54] JeremyKuhne commented on #941
Why do we need these? Can you provide more context/links?

[2019-12-17 19:00] scalablecory opened #987 "HTTP version selection"
This API will update HttpClient behavior to enable more useful version selection from users. This will make possible [prenegotiated HTTP/2 cleartext](https://github.com/dotnet/corefx/issues/41621), H2C upgrade, prenegotiated HTTP/3, and leave the door open for Alt-Svc to migrate connections in the future.

If accepted, would supersede #988 and allow us to get rid of the current AppContext switch f

[2019-12-17 19:03] carlossanlop commented on #941
You can see [in my PR](https://github.com/dotnet/runtime/pull/465/files) that the new MemoryMappedFileSecurity class needs to define two properties: `AccessRuleType` and `AuditRuleType`.

All the previous ACL changes already had Security/AuditRule/AccessRule classes defined.

The `AuditRule` and `AccessRule` objects allow setting the rights and the access control of the security object. For exampl

[2019-12-17 19:20] ManickaP commented on #687
@alexxxz1977 Could you please post python repro?

[2019-12-17 19:22] wfurt commented on #687
I think key is to understand what 203 error is. I could not find any information about it. As minimum, we should also update mapping so it does not show as `unknown`.

[2019-12-17 19:32] davidsh commented on #912
Being standards compliant here is important, especially since this has been a known source of issues in the wild over a long period. Please address this or allow someone else to do so.

@Tratcher Good summary of pros/cons of this issue. Based on this and the advantage of .NET Framework compat and netstandard compat, I'm fine with keeping the original design and doing the QUIT in the Dispose().

[2019-12-17 19:37] JamesNK commented on #987
1. What would happen if you've configured prenegotiated H2C, but you're using TLS?

2. What would happen here?

[code]

3. Is HTTP/3 without TLS ever a thing?

[2019-12-17 19:37] terrajobst commented on #941
@carlossanlop

* Adding the constructor is fine; it should be documented to transfer ownership to the `MemoryMappedFile` instance (like `FileStream` does)

[code]

* It's unclear why we need these new types. If we're porting a .NET Framework feature, we should port the existing .NET Framework types.

[code]

[2019-12-17 19:42] Tratcher commented on #987
Seems workable. A few questions and corner cases:
- What about per-request overrides for this behavior? If I needed to use multiple protocols then keeping track of multiple handlers and clients would be inconvenient. Consider that request scheme is per-request and causes significantly different behavior depending on the protocol version.
- You said this allows for H2C upgrade, but don't give an ex

[2019-12-17 19:45] MarcoRossignoli commented on #912
@davidsh to the fix of this issue, but have also shutdown/quit method could be useful for new users, if someone call shutdown/quit before dispose, dispose will be a no-op and performance will be better and we won't have a blocking dispose(shareable Cory concern), for old code and new code with only Dispose() call behaviour will be compat with past one.
I mean I wouldn't kill the idea of the new ap

[2019-12-17 19:55] Tratcher commented on #912
How realistic is the performance issue? The connection would have to be backlogged before sending QUIT would block.  The connection should only be backlogged while a message is in flight, and calling Dispose during a message send would trigger Abort rather than QUIT.

[2019-12-17 19:57] scalablecory commented on #987
Yes, I've added an example.

[2019-12-17 19:59] scalablecory commented on #987
This seems useful to consider. Perhaps these properties should be on the `HttpRequestMessage`.

[2019-12-17 20:06] scalablecory commented on #987
Alt-Svc can do it, but we probably won't allow it ... automatic insecure->secure transition is a bit iffy.

[2019-12-17 20:07] scalablecory commented on #987
Yes, and this is intentional.

[2019-12-17 20:19] tmds commented on #912
Protocol close doesn't belong in Dispose.
Sending/receiving to a peer may block, and Dispose offers no way out.
Dispose should stick to resource cleanup. A separate method for the protocol close which can be cancelled is better.
This is the pattern followed by [WebSocket.CloseAsync](https://docs.microsoft.com/en-us/dotnet/api/system.net.websockets.websocket.closeasync?view=netcore-3.1).

[2019-12-17 20:19] MarcoRossignoli commented on #912
@Tratcher is not possible that in a congested server(where we use smtpclient) a possible true async quit scale better than dispose in same condition?Or are you saying that this is not possible because if we have sent the message on same connection dispose won't block?

[2019-12-17 20:25] Drawaes commented on #912
Add a dispose async for those that are worried about the blocking and thread starvation, it will be as accessible as the close method, and put the quit in the dispose to maintain compatibility.... My 2c

[2019-12-17 20:36] assyadh opened #992 "Building coreclr fails: emmintrin.h:57:27: error: unknown attribute '__target__' ignored"
Hello!

When building coreclr for .NET Core 3.1.0, I run the following command:

[code]

I eventually run into the error below.

I can build .NET Core 2.1 successfully. It looks like I have all the requirements correctly set, but it may be something new that was introduced for 3.0, as this error seems to be related to the ReadyToRun feature?

I am running my builds on Amazon Linux (RHEL5).
[code]

[2019-12-17 20:36] Tratcher commented on #912
@MarcoRossignoli Dispose already Aborts if there are any operations still in progress.
https://github.com/dotnet/runtime/blob/416ef2aa2f71565fa19697aa41f9e0d0e5f83066/src/libraries/System.Net.Mail/src/System/Net/Mail/SmtpClient.cs#L1102-L1106
Given that, it should be difficult to get into a situation where sending QUIT would block.

[2019-12-17 20:45] MarcoRossignoli commented on #912
It's not clear to me why inflight data send and quit are "related" to blocking...I mean AFAIK every data send to network can block, unrelated to previous send data, am I wrong?I mean I can send message and at the end block on send quit. My concern is not related to dispose that wait for the inflight message, but the normal workflow send->quit.

[2019-12-17 20:46] tarekgh commented on #971
I am not I understand what you mean by "and they cannot found it on Windows"? The same APIs exposed on Linux is exposed on Windows.

As I mentioned we are going to support using ICU on Windows in the next release and that will help in this scenario. In general the apps cannot expect to have consistent sorting behavior even between different versions of the same OS. Apps should evaluate the exact s

[2019-12-17 21:00] maryamariyan commented on #981
cc: @divega

[2019-12-17 21:00] scalablecory commented on #912
@Tratcher's assumption is that `SmtpClient` will not be used in a way which would fill up your TCP send buffer. In this case, writing a QUIT will just write to the same buffer without blocking.

[2019-12-17 21:00] tmds commented on #912
If you want to send QUIT in Dispose, set `Socket.Blocking` to `false` before sending. That avoids the blocking behavior.

[2019-12-17 21:00] scalablecory commented on #912
Note, the spec actually calls for more than QUIT -- it calls for us to wait for the reply. So, if we really wanted to be compatible, we would be blocking regardless of `SmtpClient` usage.

[2019-12-17 21:28] scalablecory commented on #907
Triage: we like `TryCreate`, can adjust later if there is more discussion. @MarcoRossignoli  would you like me to assign this issue to you?

[2019-12-17 21:34] MarcoRossignoli commented on #907
Yes @scalablecory feel free to assign to me.

[2019-12-17 21:38] MarcoRossignoli commented on #912
Yep per spec we should wait reply.

[2019-12-17 21:44] sandreenko commented on #857
I have checked that again and found that I was not right, the reason why it is slow is in the printing of these messages to the console:
`InvalidProgramException while compiling method methodName for 20000+ methods`

[code]

So for local debugging I suggest to comment out that printing as a solution.

It is not clear for me why printing of `Compiling    0 methodName, IL size = 7, hash=30851379 Ful

[2019-12-17 21:44] #857 closed

[2019-12-17 22:00] safern opened #996 "ApiCatalog build infrastructure should be updated"
The ApiCatalog build should just run after the official build and use its artfacts to restore. Also, it should be shared to generate the docs layout that we use for the docs team. I already have some targets to generate the docs layout that I should tweak for this to work for both scenarios.

https://github.com/safern/corefx/commit/099258b357d72c5582ea6b87404a51211cb3e2a6

cc: @ahsonkhan @ericstj

[2019-12-17 22:06] ViktorHofer commented on #92
Closing as the live built is finished. Signed builds are tracked by a different issue.

[2019-12-17 22:06] #92 closed

[2019-12-17 22:07] scalablecory commented on #987
You would accomplish this by setting `AllowVersionDowngrade = false` and `AllowVersionUpgrade = true`, and `Version = HttpVersion.Version20`.

[2019-12-17 22:10] Tratcher commented on #987
That's not a preference for HTTP/3, that's a preference for HTTP/2.

[2019-12-17 22:11] ViktorHofer commented on #423
Those are already removed so I'm closing the issue. Let me know if we should re-open in case we need to remove source code as well.

[2019-12-17 22:15] Tratcher commented on #987
It seems like I should be able to with this configuration:
[code]

[2019-12-17 22:15] leculver commented on #997
What will the first version range for .Net 5 look like?  I just wanted to confirm it doesn't overlap with Silverlight Watson crashes.

[2019-12-17 22:16] #660 closed

[2019-12-17 22:19] ericstj commented on #978
@albertomandlate can you share a repro or call stack of the failure here?

I suspect you are using the serializer and it’s failing to do runtime reflection or code generation.  /cc @steveharter

[2019-12-17 22:21] ViktorHofer commented on #773
We don't plan to port the servicing branches into the dotnet/runtime repo. Work for < 5.0 will be done in the archived repositories (corefx, coreclr and core-setup).

cc @jaredpar

Right, as soon as we publish new packages to nuget (when we release .NET 5), the link will be updated automatically and point to dotnet/runtime.

Closing as no action needed.

[2019-12-17 22:21] #773 closed

[2019-12-17 22:23] jkotas commented on #423
Yes, it would be nice to mop-up RedHat 6 related code:

Search for "rhel6":

[code]

Search for "RedHatFamily6":
[code]

[2019-12-17 22:25] ericstj commented on #974
Thank you for the report. This will be handled with https://github.com/dotnet/corefx/issues/39031.

[2019-12-17 22:25] #974 closed

[2019-12-17 22:30] scalablecory commented on #987
Under the rules outlined in the issue, this would mean "starting from HTTP/1, upgrade up to HTTP/3 if server advertises it".

[2019-12-17 23:02] Tratcher commented on #987
Ok, I re-read the rules and think I understand. AllowVersionDowngrade is going to need a clearer name, it doesn't match the description. These rules might be alternately summarized as `UpgradeToSpecifiedVersion` `UpgradePastSpecifiedVersion`.

When both options are true does HttpRequestMessage.Version matter at all?

I'm starting to think this should be an enum rather than a set of bools. That wou

[2019-12-17 23:27] NinoFloris opened #1000 "Default ImmutableArray.ToBuilder capacity can cause expensive resize and copy right away"
When creating a builder from a filled ImmutableArray it allocates the exact size of the original array, leaving no room to grow at all. I'd wager calling ToBuilder is mostly done to add elements (instead of remove/update) causing a resize + copy right away.

https://github.com/dotnet/runtime/blob/master/src/libraries/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray_1.Mi

[2019-12-17 23:29] scalablecory commented on #987
Yes, that seems more clear.

We currently have a weird behavior in that `HttpClient.DefaultRequestVersion` actually doesn't do anything if you set it to HTTP/2. I would love to revisit that choice, but if we stick with it, we might follow suit and not put this upgrade logic on `HttpClient either.

Nope. I put it on `SocketsHttpHandler` originally because other handlers would simply ignore such a p

[2019-12-17 23:32] Tratcher commented on #987
? I've used this, it works great. Or are you talking about the non-TLS scenarios?

[2019-12-17 23:35] scalablecory commented on #987
I should clarify: it only works for the convenience methods, not the base `SendAsync`. See https://github.com/dotnet/corefx/issues/41836

[2019-12-17 23:45] Tratcher commented on #987
Oh, I don't mind the current behavior, it's clear enough with the doc clarification.

[2019-12-17 23:47] MattWhilden commented on #978
@albertomandlate sorry to hear it's causing you issues. As Eric mentioned, getting more information will be quite helpful for getting to a resolution (workaround/compiler fix etc).

If you're able to share an [ilcRepro](https://github.com/dotnet/core/blob/master/Documentation/ilcRepro.md) file with me, that's the most robust way to make sure I'm investigating exactly the issue you're reporting.

[2019-12-18 00:00] danmosemsft commented on #1002
transferring so I can put it in the better for linux project.

[2019-12-18 00:40] BruceForstall commented on #606
Unfortunately, it looks like the situation is a little more complicated that it should be.

I reproduced the failure and your fix on Linux, and it looks good.

I tried the existing code and your fix on Windows, and it doesn't work. With the existing code (using `bkpt`), setting `COMPlus_JitHalt` to some function and running a test, the Windows windbg debugger works as desired, and stops at that in

[2019-12-18 00:41] BruceForstall commented on #606
Oops. I should have put this comment in the PR #892; I'll do that.

[2019-12-18 01:28] zengqinglei commented on #976
I just tested it and it works fine in non-debug mode. Is this a problem with Visual Studio? Will you solve this problem?

[2019-12-18 01:47] safern commented on #273
This:  https://github.com/dotnet/arcade/pull/4450 indeed fixed it.

[2019-12-18 01:58] JunTaoLuo commented on #721
I have responded to the AspNetCore issue. It looks like an unreleased servicing build of ASP.NET Core is being installed on the machine but I'm unsure how that happened. This is likely not a dotnet/runtime issue so I think we can close this issue.

[2019-12-18 02:01] Varorbc commented on #721
track https://github.com/aspnet/AspNetCore/issues/17727

[2019-12-18 02:01] #721 closed

[2019-12-18 02:32] safern commented on #149
I tried this out with latest VS Preview (v16.5.0-pre.2.0) and latest CMake 3.16.1 and it didn't repro. Please re-open if you hit this with a CMake version greater or equal than 3.15.5.

[2019-12-18 02:32] #149 closed

[2019-12-18 02:37] xiangzhai commented on #606
You are welcome :)

[2019-12-18 04:02] ahsonkhan commented on #882
This bug is not specific just to converters (nor just to `MaxDepth`) and will be hit whenever the caller passes in a `Utf8JsonReader` to the `JsonSerializer.Deserialize` method with non-default `JsonReaderOptions` set (which currently includes `MaxDepth`, `JsonCommentHandling`, and `AllowTrailingCommas`).

For example, this code snippet incorrectly fails with an exception:
[code]

Here's the issue

[2019-12-18 04:12] ahsonkhan commented on #728
Do you have a scenario in which you need to control the serialization order where the current behavior/order is blocking you? I am asking to understand the help motivate the feature since JSON is generally unordered (i.e. folks shouldn't be relying on the ordering of the properties within the payload).

Is that the primary benefit? Having the payload written in a specific order so it is easier to

[2019-12-18 04:30] #273 closed

[2019-12-18 04:38] danmosemsft commented on #983
@carlossanlop  would we accept a PR here?

[2019-12-18 04:53] AaronRobinsonMSFT commented on #982
@alexdrl If you could narrow down where the crash is occurring that would be helpful. Is this crashing at invocation, during the call, or during the return? Simple `printf()` style output at the beginning and end of the native function would help us to narrow down where the problem might be.

[2019-12-18 04:56] AaronRobinsonMSFT commented on #992
@assyadh It would be helpful to know the version of the clang compiler being used here.

/cc @janvorli

[2019-12-18 05:03] jduncanator opened #1007 "Creating a Span from a struct causes stack to be zeroed twice"
Using `MemoryMarshal.CreateSpan` to create a `Span<T>` from a single struct instance `T` causes RyuJIT to emit code to zero the stack twice.

Here is a simple [example](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABABgAJiBGAOgCUBXAOwwEt8YaBJFmKCAA4BlPgDdWYGLgDcAWABQC4gGZKAJnIBhcgG8F5A+QDaQjFAZgMAGWwBPCAwwAKG/ccBpVkwAmNEQEcGGBZWbAAbNHIhVgAvGHIAXnI1UgBKAF19QxVyXDMLDHIAIQYAM1K+LIM9eUM6y

[2019-12-18 05:18] jduncanator commented on #1007
It actually seems the stack zeroing code is non-optimal in a number of different circumstances, regardless of using Span's.

[Here](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABABgAJiBGAOgCUBXAOwwEt8YaBhCfAB1YAbGFADKIgG6swMXAG4AsACgylWoxbtOASRYiIfcVCkz5y5cQDMlAEzku5AN7Lyr8gG1RGKAzAYAMtgAnhAMGAAUgSFhANKsTAAmNOIAjgwwmtiCaOSirABeMOQAvOQ2pACUALoublbkuN6+GOQAQgwAZh0ita7OSm6DlNYMghBMAObkA

[2019-12-18 05:36] jduncanator opened #1008 "Creating a Span from a stackalloc'ed array doesn't eliminate buffer overflow detection"
With the following code, the buffer overflow protection is still present, even when the JIT can eliminate it in other (similar) circumstances:

[code]

[code]

Emulating this with a fixed size struct generates more optimal code (ignoring the double zeroing which has been reported in [another issue](https://github.com/dotnet/runtime/issues/1007)):

[code]

[code]

The ideal code-gen for the stackal

[2019-12-18 06:09] assyadh commented on #992
Hi Aaron. I am running lvvm with clang 3.6.2.

[2019-12-18 06:38] janvorli commented on #976
I think that the problem is that Visual Studio has that Assembly loaded for debugging purposes and holds on it. Which version of Visual Studio are you using?
cc: @tommcdon

[2019-12-18 06:51] janvorli commented on #992
@assyadh you can edit the `__DEFAULT_FN_ATTRS` and remove the `__target__("sse2")` from it. We've copied this stuff from llvm 3.9 and I can see that in llvm 3.6, it was not present yet as the compiler has clearly not supported it.

[2019-12-18 06:55] assyadh commented on #992
@janvorli thanks for the tip, I'll try that and will let you know.

[2019-12-18 06:59] zengqinglei commented on #976
I have tried Visual Studio 16.4.0 and Visual Studio 16.4.2, both have this problem.

[2019-12-18 07:19] AndreasHeisel opened #1009 "Question: Are ChannelWriter<T>s fair?"
Supposed I have a bounded Channel<T> that is fed by multiple producers. This channel blocks because it is full. Producers call WriteAsync multiple times without awaiting it.

Will these writes be executed in order if  the channel gets drained?

[2019-12-18 08:13] yahorsi commented on #965
Hi,

Could you please share the plans on fixing this in 3.0/3.1?
Our team observes ~25% perf degradation after migrating to the 3.1
We are currently investigating but this might be it.

Thank you!

[2019-12-18 08:20] Clockwork-Muse commented on #1009
Define "in order": if you have multiple producers, even if the channel executes the writes in the exact same order as `WriteAsync` was called, this isn't necessarily the same order as you're expecting.  The reality is much more complicated, of course, and prone to wacky timing issues.

[2019-12-18 08:25] janvorli commented on #976
It works fine for me in Visual Studio 16.4.0. Does it still happen to you if you don't have any breakpoints and don't step through the code and run it with debugging?

[2019-12-18 08:40] AndreasHeisel commented on #1009
@Clockwork-Muse
I meant chronologically. This would (at least) guarantee that the calls of one producer will be executed in the exact order.
I know that there is some uncertainty if two producers call 'at the same time' due to thread scheduling and multicore issues.   But apart from that?

[2019-12-18 08:52] MarcoRossignoli commented on #1009
Mmm it's not clear this statement if channel is bounded and full `WritaAsync` will await

From Stephen post https://devblogs.microsoft.com/dotnet/an-introduction-to-system-threading-channels/

[code]

[2019-12-18 09:13] zengqinglei commented on #976
When I didn't have any breakpoints and didn't step through the code and run it through debugging, the file was finally deleted successfully without exception.
But I think it should also be deleted in debug mode.
Is it necessary to improve it?

[2019-12-18 09:35] janvorli commented on #976
Thank you for testing it. I just wanted to try to understand why VS behaves differently on your and my machine. I can repro the problem too now if I set breakpoint somewhere in the plugin (e.g. on the PluginClass.GetMessage method. This confirms that it is a problem in the Visual Studio.
Using ProcessExplorer during the time the host is trying to delete the Plugin.dll to search for process holding

[2019-12-18 10:08] zengqinglei commented on #976
OK, I have followed your comments to report this issue on Visual Studio!
thank you very much!

[2019-12-18 10:15] AndreasHeisel commented on #1009
@MarcoRossignoli
Thanks for the link. I see the problem, but it is still interessting to know what would happen if one violates this.

[2019-12-18 10:18] alexdrl commented on #982
@AaronRobinsonMSFT I have tested this with printf and I have "solved" the problem.

The application crashed in this line https://github.com/alexdrl/lkh/blob/423a05253b8394150546dea016cea750b54d9fcc/SRC/LKHmain.c#L21
which is defined here https://github.com/alexdrl/lkh/blob/423a05253b8394150546dea016cea750b54d9fcc/SRC/LKH.h#L357.

I changed the code in the header file to a int pointer reference and

[2019-12-18 10:29] janvorli commented on #535
@cedricmelancon can you please report this to the Visual Studio team using the "Send feedback" button / "Report a problem" submenu in the Visual Studio itself (in the upper right corner of the visual studio window)?

[2019-12-18 10:32] MarcoRossignoli commented on #1009
What do you mean for violates?Producers are awaiting(light block...no thread) and consumer is draining items and signal consumer when there is free space, so from the perspective of single producer item are ordered, but you don't know(and you cannot do assumptions) respect other producers.

[2019-12-18 10:34] mingazhev opened #1010 "WinForms Self Executable: The application to execute does not exist"
**Situation:**
We build a small winforms app targeting netcoreapp3.1 as a single executable.
Somehow (we couldn't figure how and why), after about a week since last successful start application accidentally fails to start.
There is an error in windows event logs:

After some experiments we found out that app starts successfull if the whole folder deleted but fails to start if only application DLL

[2019-12-18 10:34] AndreasHeisel commented on #1009
Calling WriteAsync  "fire and forget" without awaiting the result.

[2019-12-18 10:45] MarcoRossignoli commented on #1009
Ah understood if you don't await "continuation" won't be setup so you don't have guarantee that non overlap with other `WriteAsync`(on the same path) so you're not violating nothing from channel perspective is your code that declare this behaviour, you "forget" to await the result, you won't be sure in that case about ordering on that path.

[2019-12-18 10:46] MarcoRossignoli commented on #1009
BTW cc: @stephentoub that works on this and can confirm or reject my thought.

[2019-12-18 10:49] danielSt-dev commented on #981
@danmosemsft
So, I have tried to get the exception details out of windbg (the new windbg preview from microsoft store ;-)

Here is the output from windbg command window:
[code]
.net core 3.1 sample project including foxpro-Database attached:
[OleDbTest.zip](https://github.com/dotnet/runtime/files/3977934/OleDbTest.zip)

Visua FoxPro oledb driver downloaded from:
https://www.microsoft.com/en-us/dow

[2019-12-18 10:53] ManickaP commented on #687
I've been digging around about this 203 error and couldn't find anything either. Also if I extract the C code called underneath and call it directly I get different errno.

@alexxxz1977 I need the full repro, including the instantiation of the `SerialPort` and the python repro you say is working.

[2019-12-18 10:58] bugproof commented on #728
order is very helpful when testing the API with tools like insomnia, postman etc. you instantly see what's the most important at the top, and naturally ID comes first and it's later easier to navigate in code because you know that base properties come first... JSON is meant to be human-readable otherwise I wouldn't use it. The ordering would be only helpful for the developer and many existing APIs

[2019-12-18 11:10] alepikhov opened #1011 "System.Drawing.ImageConverter raise the System.PlatformNotSupportedException on Linux"
dotnet --version
3.1.100
nuget packeges:
- System.Drawing.Common  4.7.0
- System.Configuration.ConfigurationManager 4.7.0
OS: Linux

**Steps to reproduce:**
Environment: Linux with dotnet 3.1.100

1) dotnet new console
2) dotnet add package System.Drawing.Common
Installed version: 4.7.0
3) modify Program.cs file
add  new lines:
`var converter = System.ComponentModel.TypeDescriptor.GetConverter(typ

[2019-12-18 11:24] AndreasHeisel commented on #1009
Exactly. I have a bounded channel because I need backpressure to prevent the system blowing up. In most cases this ist fine. But in one code path (a sync to async boundary) I can't afford to wait and also can't afford to loose the information. In this very rare situation it is better to exceed the boundary. The idea is, if the WriteAsync calls would queue up to use this as "emergency queue"

[2019-12-18 11:43] MarcoRossignoli commented on #1009
You could use a new unbounded sync write channel to offload item of this particular sync path and correctly `await ReadAsync/WriteAsync` on consumer that write on "main" bounded channel, you should keep the order in this way. It's a basic TPL Dataflow scenario.

[2019-12-18 12:34] esso23 commented on #898
Ok, I figured out it was because of the .NET Standard, which is not supported. I still see some problems with this though:
It's not the **platform** that is not supported. I was targeting win-x86 **platform** which **is** supported.
I had to go to dotnet/corefx repo, check the System.Data.Odbc.csproj to find out what's going on. On this line:
[code]

I think the exception is misleading and should

[2019-12-18 12:53] AndreasHeisel commented on #1009
I know, but this doubles the memory footprint for a rare szenario. It's also difficult to maintain order between the entries in the unbounded channel an the ones directly insterted into the bounded channel.

Maybe a new feature: `ChannelWriter.WriteForced(T item)` that ignore bounds :-)

[2019-12-18 12:56] Drawaes commented on #1009
Make it unbounded and use a senaphoreslim on the async path if you are really stuck. Making a bounded channel able to be unbounded sometimes means you lose some of the optimisations you can do in theory around the internal data structures.

[2019-12-18 13:12] alexxxz1977 commented on #687
Hello guys,

I did some research on this issue and found the following. The error happens in native code when calling ioctl function:

[code]
I really don't know why it happens, I tried to play with permissions for COM port but nothing is working. The mentioned python script you can find here https://github.com/sameer/python-openzwave-sniffer. However it doesn't help you too much, since it require

[2019-12-18 13:16] airbreather opened #1012 "JIT: getting seemingly redundant assembly for particular pattern-based switch"
I was playing around with various patterns to see what optimizations the JIT is doing these days, and I stumbled across what appears to be some redundant assembly code.

Consider the following C# code:

[code]

`M` will return 0 if the argument is `null`, 1 if the argument is a (non-`null`) `string`, or 2 if the argument is anything else.

The following is the disasm from .NET Core 3.1.0:
[code]

[2019-12-18 13:17] albertomandlate commented on #978
![image](https://user-images.githubusercontent.com/14326204/71089343-50fa6c00-21a9-11ea-9dc2-1833400dbb54.png)

This is the error message:

**System.Reflection.MissingMetadataException:** 'This operation cannot be carried out because metadata for the following object was removed for performance reasons:\n\n  EETypeRva:0x000AF350\n\nNo further information is available. Rebuild in debug mode for bet

[2019-12-18 14:14] deokershesh opened #1014 ".NET Core 3.1 build error on Windows"
Hi,

I downloaded .NET Core runtime code successfully as follows:
“git clone https://github.com/dotnet/runtime.git”
post that I go to “runtime” folder and do “build”, it reports below errors, I was able to do .NET Core 2.2 build using the same steps successfully. Any help to resolve these build errors would be highly appreciated.

D:\shesh\corefx3_60506_commits\runtime\eng\referenceFromRuntime.tar

[2019-12-18 15:06] SanjayVyas opened #1015 "JsonSerializer throws error if the property is a Func<> or delegate"
JsonSearilizer throws exception if it comes across a delegate method

[code]

The error message is misleading (object cycle or max depth)
Unhandled exception. System.Text.Json.JsonException: A possible object cycle was detected which is not supported. This can either be due to a cycle or if the object depth is larger than the maximum allowed depth of 0.
   at System.Text.Json.ThrowHelper.ThrowInva

[2019-12-18 15:50] cedricmelancon commented on #535
@janvorli Sure I will do that. Thank you.

[2019-12-18 15:58] Remorc opened #1028 "NetworkInterface.GetAllNetworkInterfaces() not returning all interfaces"
# NetworkInterface.GetAllNetworkInterfaces() not returning all interfaces

# General

I am working on migrating a code base from mono to dotnet core. I am attempting to get all of the network interfaces on my machine, including can0 and vcan0. I am calling NetworkInterface.GetAllNetworkInterfaces() to get all of the interfaces.

Here is an article that might be relevant? https://stackoverflow.com/