[2022-09-03 19:06] aqweeva commented on #75062
NOTE: I've already installed AspNetCore.App 6.0.0 and verified it's install using 'dotnet --info'

.NET SDKs installed:
  No SDKs were found.

.NET runtimes installed:
  Microsoft.AspNetCore.App 3.1.13 [C:\Program Files\dotnet\shared\Microsoft.AspN
etCore.App]
  Microsoft.AspNetCore.App 3.1.20 [C:\Program Files\dotnet\shared\Microsoft.AspN
etCore.App]
  Microsoft.AspNetCore.App 6.0.0 [C:\Program F

[2022-09-03 19:20] vitek-karas commented on #75062
Note that it's complaining about `Microsoft.NETCore.App`, not `Microsoft.AspNetCore.App` (I know the names are a bit confusing).

How did you install the `AspNetCore.App` 6.0? All our installers should also include the required `NETCore.App` of a matching version.

[2022-09-03 19:57] deeprobin commented on #64658
In my opinion, a good idea.
What do you think? @terrajobst @stephentoub

[2022-09-03 20:15] stephentoub commented on #64658
It's trivial for someone to implement those themselves in terms of the proposed ones.

Why are you asking @deeprobin?

[2022-09-03 20:17] deeprobin commented on #64658
@stephentoub Oh I thought something like that always has to be strictly re-reviewed.
I ask because I plan to implement this API if no one objects.

[2022-09-03 20:31] stephentoub commented on #64658
It does if it were to be included.

I'm concerned this may be too complex. What is your plan?

[2022-09-03 20:35] teo-tsirpanis commented on #75060
[NativeAOT does not support built-in COM interop even in the presence of the `BuiltInComInteropSupport` property.](https://github.com/dotnet/runtime/blob/4c662b16e3e6fe688f9bbff2a9423fdee799ecfe/src/coreclr/nativeaot/docs/limitations.md#:~:text=No%20C%2B%2B/CLI%2C%20no%20built%2Din%20COM%20and%20WinRT%20interop%20support) To support NativeAOT, work has to be done on Avalonia's side.

[2022-09-03 20:35] #75060 closed

[2022-09-03 20:36] youss2017 commented on #74992
Thanks, I was looking in the wrong place. I need research smart card authentication.

[2022-09-03 20:38] AhmedZero commented on #75060
It worked before, Why now?

[2022-09-03 20:41] deeprobin commented on #64658
You are right. I took a look at the whole thing. I would probably have to include instructions like CMPXCHG8B & CMPXCHG16B, which I would still consider feasible, but the ARM implementation would worry me because I haven't dealt with it yet.

Then the issue is better for someone else :D

[2022-09-03 20:41] teo-tsirpanis commented on #75060
@jkotas, @MichalStrehovsky

[2022-09-03 21:04] Stannieman opened #75065 "Task.Delay in UI app takes too long on macOS"
### Description

In any cross platform UI app (I tried .NET MAUI, Xamarin Cocoa and Avalonia) Task.Delay sometimes takes way to long to return. When this happens the machine is idle.

It happens on macOS, never (or is extremely rare?) on Windows, have not tested on Linux.

Since it occurs on .NET MAUI, Xamarin Cocoa and Avalonia I believe it is a general .NET issue and not specific to any of these

[2022-09-03 21:10] aqweeva commented on #75062
sheesh! well now that you pointed it out, it's very obvious what I missed.
Installed: aspnetcore-runtime-6.0.0-win-x64.exe
Yeah, I'm confused where to get the correct version it's complaining about:  Microsoft.NETCore.App?

[2022-09-03 22:10] deeprobin commented on #71288
How about something like this?
![grafik](https://user-images.githubusercontent.com/10373452/188289055-50ce7b5e-692e-497d-b815-850c9352b584.png)
[DotnetHost.zip](https://github.com/dotnet/runtime/files/9483456/DotnetHost.zip)

[2022-09-03 22:29] castholm commented on #65408
Many times have I found myself in situations where I've needed a floored/Euclidean remainder and wished there was a `Math.Mod` or `Math.EuclideanRem` instead of needing to implement it on my own over and over again.

One thing I'd like to add to the discussion is that the remainder is not the only interesting result of Euclidean division and that the quotient is also useful. For example, when grou

[2022-09-04 00:45] stephentoub commented on #75065
Thanks for trying all these approaches. For comparison, what happens if you just Thread.Sleep in a loop... does that exhibit similarly large spikes? Or use await Task.Run(() => Thread.Sleep(250))? (Or instead of Thread.Sleep, WaitOne(250) on an AutoResetEvent that's never set?)

[2022-09-04 01:50] Marusyk commented on #73712
Hi @SilentCC, are you working on this?

[2022-09-04 03:17] jkoritzinsky commented on #73971
It’s been 2+ weeks since the rollout, so closing this issue.

[2022-09-04 03:17] #73971 closed

[2022-09-04 04:04] jkotas commented on #75060
Built-in COM Interop was never implemented in native AOT. It might have "worked" at some point due to other bugs that masked this problem.

https://github.com/AvaloniaUI/Avalonia/pull/7506 has the correct fix for this issue. I believe that it is included in latest Avalonia preview.

[2022-09-04 04:12] mrsharm commented on #74541
@mangod9, this bug isn't actionable and as a result, I'll be closing this since:

1. The Jit Stress Bugs don't have Trace GC enabled for us to peer into the GC logs from the dumps.
2. This failure hasn't repro'd since the one and only time.

My follow ups are to reach out to the Jit Stress team and get the Trace GCs enabled.

[2022-09-04 04:12] #74541 closed

[2022-09-04 04:13] mrsharm commented on #74541
@v-wenyuxu, please reopen this issue if this repros. Seems like it was hit only once and I am unable to repro this locally.

[2022-09-04 05:33] perjahn opened #75073 "Console output gets messed up after GetCursorPosition is called, if application has been started with "dotnet run"."
### Description

* In Linux, output of console gets messed up after abrupt exit, if application has called Console.GetCursorPosition.
* Reproduce: Create a console app that is calling Console.GetCursorPosition and then waits in a loop. Start application with "dotnet run", and then break the application using Ctrl+C.
* After the .net/c# application has quit, text output in terminal gets disabled.

[2022-09-04 07:02] vitek-karas commented on #75062
You can get it here: https://dotnet.microsoft.com/en-us/download/dotnet/6.0
Look for the ".NET Runtime 6.0.8" section.

@joeloff any idea why the ASP.NET installer didn't also install runtime?

[2022-09-04 07:42] MoienTajik opened #75066 "Linq IntersectBy() just returns first item on same keySelector"
### Description

Currently, Linq `IntersectBy()` works as follows:
[code]

Due to the fact that [`IntersectBy()` currently uses Hashset's `Remove()` method](https://github.com/dotnet/runtime/blob/ebba1d4acb7abea5ba15e1f7f69d1d1311465d16/src/libraries/System.Linq/src/System/Linq/Intersect.cs#L95) instead of `Contains()` in its implementation, it just picks the **first** item found by `keySelector`

[2022-09-04 08:01] Seabizkit opened #75067 "AssemblyLoadContext is unloading or was already unloaded."
### Description

My code **fails** to run when **deployed,** seem to work when running through VS

Details I have a plugin which im using AssemblyLoadContext and have marked as `isCollectible: true`
It all seem to work, but does not work when deployed.

**every project is on .net 6** to ensure no other variables when trying to debug this AssemblyLoadContext  and usage.

-Web
 ---- Hosts - Backgrou

[2022-09-04 08:36] tactical-drone commented on #75065
I have also had issues with `Task.Delay`. If your thread pool queues are large for whatever reason I think `Task.Delay` wont work which makes sense.

Try using `PeriodicTimer` instead.

[2022-09-04 08:45] #73808 closed

[2022-09-04 10:41] KeterSCP commented on #75066
`IntersectBy` is one of the [set operations](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/linq/set-operations). Result of this method is a set, and by definition, set is something that does not contain duplicate elements. So for your case it correctly eliminated duplicates using provided `keySelector`

[2022-09-04 10:58] MoienTajik commented on #75066
That makes sense, but I think it's better to have a proper method summary (description) for these cases.

I believe an extra argument could be added to these methods as well to accept/reject duplicate items. The current results are unexpected for developers IMO, and I realized this while debugging why many of my collection items are removed after applying `IntersectionBy()`.

[2022-09-04 11:18] Seabizkit commented on #75067
update i added

[code]

and it appears to be working... like surely not? what is going on here, are some how required to call unload in release..?

[2022-09-04 11:18] KeterSCP commented on #75066
If you think that method's summary or documentation is not fully described, you can make a PR with suggested changes.

I really doubt that libraries team will accept that ever, as these methods were designed to operate on sets and there should be no exceptions

[2022-09-04 11:25] mahmoud-syr opened #77548 "DOTNET_SYSTEM_GLOBALIZATION_INVARIANT is not working on linux-alpine base images"
### Issue Description
When running `.net 6` docker containers in debug mode with `DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=false`, when the base image is `6.0-alpine`, container crashes with exit code `4294967295` and VS shows the message:
"One or more error occurred.
Failed to launch debug adapter. Additional information may be available in the output window.
The Operation was cancelled"

The output

[2022-09-04 11:38] Stannieman commented on #75065
Thread.Slee, ResetEvent and PeriodicTimer don't. Someone in the Avalonia issue suggested it might be due to a macOS feature called App Nap, and YES, disabling App Nap globally resolves the issue! Though this could affect battery life.
`defaults write NSGlobalDomain NSAppSleepDisabled -bool YES`

https://lapcatsoftware.com/articles/prevent-app-nap.html
This articale describes a way for an app to op

[2022-09-04 11:42] En3Tho commented on #75066
Fixing it like this is

 1) a breaking change

 2) I assume you want all intersections, meaning all items with given key if key is present in both set1 and set2. But your implementation will simply ignore items in set1 and return only those of set2. Also, set will be constructed in similar fashion - only first item will be inserted.

[2022-09-04 11:54] stephentoub commented on #75065
That's surprising, since PeriodicTimer is based in the same Timer-based mechanism as Task.Delay.

Yeah, I think this is something the app is going to need to choose to do. I don't think we should make this decision automatically on behalf of all users.

[2022-09-04 12:09] Stannieman commented on #75065
Ok then I think this can be closed and I will try to add a switch for this to the macOS specific options for Avalonia. Something similar might be useful for MAUI as well.

[2022-09-04 15:22] AaronRobinsonMSFT commented on #75034
This isn't a false positive. it is undefined behavior, this is alluded to in the following statement:

Right, it is abuse that triggers undefined behavior which can potentially cause a compiler to do unexpected things. I'd recommend not abusing the language here and instead making a single static function that accepts an instance and either calling the member on the instance or using the static as

[2022-09-04 15:35] AraHaan opened #75069 "[Bug]: At runtime sometimes the wrong overload is selected."
### Description

For some reason in my code (my code looks fine to me), however at runtime somehow it calls the wrong overload effectively making the implementationFactory not run.

In my code I do:

[code]

However for some reason both ``serviceCollection.AddSingleton<T>(implementationFactory)`` calls get changed to ``serviceCollection.AddSingleton(Type serviceType)`` calls.

### Reproduction Ste

[2022-09-04 15:46] AraHaan commented on #75069
cc: @dotnet/jit-contrib

[2022-09-04 16:33] RyanThomas73 opened #75070 "[API Proposal]: Add a DequeueEnqueue method to the PriorityQueue Type"
### Background and motivation

When working with d-ary heap structures, insert-then-extract and extract-then-insert operations can be done which are generally more efficient than sequentially executing the separate insert/extract operations.

The existing `PriorityQueue<TElement, TPriority>` collection type has an existing method signature named `EnqueueDequeue` which is an optimized implementatio

[2022-09-04 17:05] jkotas commented on #75034
The GC has `pGenGCHeap` defined as:
[code]
This problem affect all 100+ places where this define is used. Can we replace the `pGenGCHeap` macro with a different macro that avoids the null this pointer? Something like:
[code]

Current code:
[code]
New code:
[code]

This would likely introduce a measurable performance hit once done on all 100+ effected places.

[2022-09-04 17:16] #74731 closed

[2022-09-04 17:25] #74667 closed

[2022-09-04 18:25] AhmedZero commented on #75060
I understand now, thanks.

[2022-09-04 18:41] RobertHenry6bev commented on #75034
Which ISA was the "measurable impact" on register allocation noted?

[2022-09-04 18:49] jkotas commented on #75034
x86/x64. It was years ago.

[2022-09-04 18:53] jkotas commented on #75053
Try to apply this patch to your rd.xml:
[code]

[2022-09-04 19:05] mrsharm commented on #74756
@MartinZid, thank you for the CPU traces. I have taken a look at them and concluded similar results as above that the % time spent in GC for .NET 7.0 without setting the CLR GC isn't large enough to justify the large increase in test execution duration. As a follow up, we should be moving this issue out of the GC area Path.

A couple of issues I ran into while examining the traces were the followi

[2022-09-04 19:45] AaronRobinsonMSFT commented on #75034
I'd prefer the other abstraction, but if there was measurable impact, especially in the GC, that approach would also work.

[2022-09-04 19:53] #41792 closed

[2022-09-04 20:02] teo-tsirpanis commented on #75069
The JIT calling a different method than the one specified in IL seems like a wild scenario, let's see what the DI owners think. In the meantime @AraHaan can you test your code with more cases (Debug vs Release, and various versions of .NET) and provide a small complete repro?

[2022-09-04 20:22] AntonLapounov commented on #74541
"Can't repro" bugs should be closed as "not planned":
![image](https://user-images.githubusercontent.com/21268817/188332010-9ad40567-2897-4698-adfa-017a6f3c10b7.png)

[2022-09-04 20:28] AraHaan commented on #75069
I will see what I can do then.

[2022-09-04 20:37] mrsharm commented on #74541
Thanks, @AntonLapounov! Done.

[2022-09-04 20:54] jeffhandley commented on #54715
Reopening based on additional feedback from @damieng that there are scenarios where additional control of the written content is valuable.

@damieng if you could, please add a comment citing your scenarios so that we can consider them and if we proceed on this use them as acceptance criteria.

[2022-09-04 22:32] trampster commented on #74966
I just read the docs for GC.KeepAlive  https://docs.microsoft.com/en-us/dotnet/api/system.gc.keepalive?view=net-6.0

And I quote "The purpose of the KeepAlive method is to ensure the existence of a reference to an object that is at risk of being prematurely reclaimed by the garbage collector."

There is nothing on that page that says it doesn't work with async code.

While I understand your explan

[2022-09-04 22:43] stephentoub commented on #74966
From the runtime's perspective, it's doing exactly what the docs say it does: it extends the lifetime from the start of the current routine.  It's just that the C# compiler is rewriting the method, so what looks like a single method and single method call isn't.

The docs are open source and welcoming of contributions.  They could certainly be expanded upon.

[2022-09-04 22:45] trampster commented on #74966
Maybe the c# compiler needs to create a GCHandle for the reference in this case? So the behaviour one would expect as a c# programmer is preserved.

[2022-09-04 22:48] AFranklin520 commented on #74884
Tested working with Android Emulator (WSL2) on Windows, which was throwing errors with System.IO....
Thank you!
Output:

[DOTNET] SPECIAL FOLDER PATH: /data/user/0/com.companyname.taskmaster_dev/files/TaskMaster_DEV/DailyLogs
[DOTNET] DIRECTORY EXISTS
[DOTNET] FILE CONTENTS: THIS IS A TEST
[DOTNET] SPECIAL FOLDER PATH: /data/user/0/com.companyname.taskmaster_dev/files/TaskMaster_DEV/DailyLogs
[DOT

[2022-09-04 22:49] AraHaan commented on #75069
Yep, Debug and Release builds for .NET 6 both fail with the same issues. Let's see if ``net7.0``'s version of DI also fails.

[2022-09-04 23:04] stephentoub commented on #74966
I don't think that's particularly feasible. In addition to the performance implications, the generated code would need to ensure the handle was always freed at and prior to that point, even if control flow exited at arbitrary points (returns, throws, etc), which would yield non-trivial complication to the generated code.  And more importantly, it would lead to leaks if control flow never returned

[2022-09-04 23:06] trampster commented on #74966
In that case, I think improving the docs and adding an Analyzer would be good additions, it would definitely have saved me a lot of time and also would have resulted in me not needing to bug you about it and also waste your time.

[2022-09-05 01:15] MichalStrehovsky commented on #74681
The meat is in the tests.singlefile.targets file I linked, but the PRs are https://github.com/dotnet/runtime/pull/42972 for single file testing and https://github.com/dotnet/runtime/pull/63781 for NativeAOT testing.

[2022-09-05 01:24] mjolka opened #75071 "Unused variable addrCostSzDelta in gentree.cpp"
### Description

It looks like the variable should be used on the next line:

[code]

### Reproduction Steps

N/A

### Expected behavior

N/A

### Actual behavior

N/A

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

_No response_

### Other information

_No response_

[2022-09-05 01:44] jkotas commented on #75069
Are you sure that it is not just a JIT inlining the generic AddSingleton call? The generic AddSingleton is a thin wrapper around the non-generic AddSingleton.

[2022-09-05 02:19] jammehcow commented on #75049
Tested with a Windows 10 host, does not exhibit same behaviour. Seems to be a Linux-specific bug.

[2022-09-05 02:48] AntonLapounov commented on #75071
@SingleAccretion @jakobbotsch #71455

[2022-09-05 02:53] trantamcdt92 commented on #67461
I also encountered this issue on MacOS (12.0), is there a way to fix this issue?

[2022-09-05 03:04] jkotas commented on #23487
If this is still a problem, please open a new issue with repro steps.

[2022-09-05 03:04] #23487 closed

[2022-09-05 03:06] jkotas commented on #25198
We have no plans to add any net35 targets in this repo.

[2022-09-05 03:06] #25198 closed

[2022-09-05 03:21] #74040 closed

[2022-09-05 03:22] RobertHenry6bev commented on #75034
The bulk of the responses seem to imply that this situation is fortunately harmless, since we are running workstation gc.  But note that my environment has         DOTNET_gcServer="1"  and I'm asking for 4 heaps.

[2022-09-05 04:13] c-ohle opened #75072 "NET7 Int128, UInt128 - bugs in ToString"
### Description

## Wrong ToString results for Int128, UInt128

Self explaining, in UInt128ToDecStr(UInt128) since CountDigits ignores the highword.
CountDigits and its variants should be rewritten as it is the most stupid and slowest implementation I ever saw.

![image](https://user-images.githubusercontent.com/63112403/188355611-0a05ef84-356d-44cd-b0c4-a3707dc6b55e.png)

### Reproduction Steps

[2022-09-05 04:22] vitek-karas commented on #75067
It's hard to tell for sure without seeing everything, but based on your description I would guess that it has to do with lifetime of local variables. The runtime is free to unload the context if there are no references to it anywhere. If the only reference is in local variable I could see the JIT releasing the reference at different spots between Debug/Release. It would also explain why adding the

[2022-09-05 06:19] MichealDanida commented on #75053
thanks for your support, that bug is resolved.
Unfortunately, I still got an error -> No parameterless constructor defined for type 'System.ArgumentNullException'.
Reproduce:
1. build and run the firsttime -> ok,
2. Ctrl+C and run again -> throw that exception and can not run
3. delete all build folder and rebuild it again -> it run ok, once time

[2022-09-05 07:08] rzikm commented on #74952
yes, now that the CI failures are fixed, we can close this and continue in #74629.

[2022-09-05 07:08] #74952 closed

[2022-09-05 07:20] lateapexearlyspeed opened #75075 "Utf8JsonWriter.WriteCommentValue() method overloads behavior differently"
### Description

Utf8JsonWriter.WriteCommentValue(string) and Utf8JsonWriter.WriteCommentValue(ReadOnlySpan of char):

[code]

Utf8JsonWriter.WriteCommentValue(ReadOnlySpan of byte):
[code]

### Reproduction Steps

[code]

### Expected behavior

These 2 overloads make same indented json result about comment.

### Actual behavior

These 2 overloads have different indented json comment position.

##

[2022-09-05 07:40] lateapexearlyspeed commented on #52408
Hi, I would like to learn and try this, but not sure if we have decided to be able to change based on description in this issue ?
Also during learning related code, I just found and raised another clearer and straightforward [issue](https://github.com/dotnet/runtime/issues/75075) about json comment, about which I have raised [PR](https://github.com/dotnet/runtime/pull/75074), could anyone help hav

[2022-09-05 07:49] wch1618 opened #75076 "There is room for improvement in the performance of the Stream.Write"
I found the performance of Stream.Write(byte[], 0, length)  is better than Stream.Write(byte[]). This is very strange. I found that Write(byte[]) automatically converts to Write(ReadOnlySpan<byte>),
[code]
This is the reason for the problem.
 It was simple for Write(byte[] buffer)=>Write(buffer, 0, buffer.length), but for some reason it becamed Write(ReadOnlySpan<byte>).

[2022-09-05 07:54] krwq commented on #52408
@eiriktsarpalis @layomia I'm fine with this breaking change considering this change should not break any parsers and I'm guessing most of the people who see comments formatted this way will be rather annoyed.

[2022-09-05 07:56] teo-tsirpanis commented on #75076
There is no `Write(byte[])` method in the `Stream` class. The byte array gets casted to a `ReadOnlySpan<byte>` and `Write(ReadOnlySpan<byte>)` gets called.

`Write(ReadOnlySpan<byte>)` has this inefficient default implementation for compatibility reasons; when `Stream` got introduced spans did not exist and so we forward the new overload's default implementation to the old overload. This is not a

[2022-09-05 07:56] #75076 closed

[2022-09-05 07:56] krwq commented on #52408
@lateapexearlyspeed send a patch and it will be easier to discuss it there. If the change will end up super complicated for whatever reason we might decide against it but honestly I doubt it and this looks like reasonable breaking change.

[2022-09-05 07:59] krwq commented on #75075
Closing this as duplicate of https://github.com/dotnet/runtime/issues/52408

[2022-09-05 07:59] #75075 closed

[2022-09-05 08:06] wch1618 commented on #75076
If 'this inefficient default implementation for compatibility reasons', it is default so why my `public static void Write(this Stream s, byte[] buffer) => s.Write(buffer, 0, buffer.Length);` didn't work!

This is a performance problem. Don't deny it.

[2022-09-05 08:10] teo-tsirpanis commented on #75076
What do you mean by "it didn't work"? The extension method you wrote seems fine to me.

[2022-09-05 08:10] wch1618 commented on #75076
This is not one example. Many system classes like BinaryWriter also use write (buffer) directly.

[2022-09-05 08:12] krwq commented on #75070
Proposal looks good to me. Note we're not sure when this will get picked up by API proposal. Assuming it gets approved are you interested in creating PR with implementation and tests?

[2022-09-05 08:13] wch1618 commented on #75076
Thank you for your reply.
You can do it in vs2022 net6.0. The compiler does not use the extension method I wrote, but calls Write(ReadOnlySpan<>)

[2022-09-05 08:14] krwq commented on #75070
Schedule is here: https://apireview.net/ - if you offer help I can bump milestone to 8.0 to increase priority

[2022-09-05 08:14] teo-tsirpanis commented on #75076
Can you provide a simple repro? You can use https://sharplab.io.

[2022-09-05 08:18] gfoidl commented on #75076
@wch1618 can you show a benchmark that manifests the perf-problem?

Most (all?) stream derived types in .NET use a pattern like
[code]
So it doesn't matter if `MyStream.Write(ROS)` or `Stream.Write(ROS)` is used on the call-site.
The rest is as @teo-tsirpanis said.

[2022-09-05 08:20] wch1618 commented on #75076
@teo-tsirpanis
https://sharplab.io/#v2:CYLg1APgAgTAjAWAFBQAwAIpwHQEkDyA3MslAMyYzoDC6yA3sus5hVACzoCyAFAJR0kLdIyHCWAZQAuAJwCmAQwC26AM6zFKgLzoAYgEsANnOz4ADnIB2AdRn6pcngCInfYmPHoARgE8HAbQBdbwBXADMwuRl0HUs5AHdvPzl/OED3T2Z1eWVsW3tHL3DImTcmFgBfZCqkUjY4ADZKdGkcpQBRAA8pBnLmckxGzE58hx4pAAt9VRaNZTUAGiSA4KKIqL4tAD5VPLsxtZKl1CXDqOwAGSsAc0mypAqgA=

[2022-09-05 08:33] rzikm commented on #74629
This will need a change in MsQuic: https://github.com/microsoft/msquic/pull/3041, so backporting to 7.0 would require porting updated MsQuic as well, do we still want to do that? @karelz?

cc: @stephentoub

[2022-09-05 08:40] gfoidl commented on #75076
This is normal C# method-binding rules. Instance methode are favored over extension methods.
Cf. [Binding Extension Methods at Compile Time](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/extension-methods#binding-extension-methods-at-compile-time).

Give it a different signature (e.g. different name) and C# will pick the extension-method.

[2022-09-05 08:44] wch1618 commented on #75076
@gfoidl
You right. Although this is a small problem, it does cause a redundant copy operation when Stream.Writes(byte[]).

[2022-09-05 08:46] alex-jitbit opened #75077 "Cache Task.FromResult(String.Empty) or Task.FromResult("")"
### Background and motivation

I review a lot of .NET code at many companies at my day job and see a lot of calls to `Task.FromResult("")`

TPL already offers some precompiled tasks cache for `bool`s, some `int`s and value type defaults here https://github.com/dotnet/runtime/blob/main/src/libraries/System.Private.CoreLib/src/System/Threading/Tasks/TaskCache.cs

I suggest to cache an "empty string"

[2022-09-05 08:48] gfoidl commented on #75076
It doesn't -- see https://github.com/dotnet/runtime/issues/75076#issuecomment-1236682728
The `FileStream` follow that pattern (in fact a more sophisticated one) so it has special and performant code to write the buffer to the (file-) stream.

Can you show a benchmark or perf-numbers to demonstrate that there's a perf-hit?
(again: there's no perf-hit in the common .NET stream-derived types, the bas

[2022-09-05 09:03] jakobbotsch commented on #74260
Codegen without stress:
[code]

Codegen with stress (that throws exception):
[code]

Presumably we are missing some handling for this case that ensures potentially unaligned floating point stores go through integer registers.

[2022-09-05 09:24] WenJunJi01 commented on #53009
This issue can also repro with .NET 6 in VSCode.

[2022-09-05 09:25] wch1618 commented on #75076
FileStream MemoryStream NetWorkStream all override Write(ReadOnlySpan<>), it won't has this problem. All that has the problem is user defined Stream to inherit the Stream, it can be solved it by [gfoidl](https://github.com/dotnet/runtime/issues/75076#issuecomment-1236682728). @gfoidl, Thanks .

@teo-tsirpanis, Thanks .

[2022-09-05 10:03] Wraith2 commented on #75072
This is inflamatory and unhelpful. Please learn to communicate more effectively with others.

[2022-09-05 10:07] jakobbotsch commented on #74260
Morph relies on recognizing
[code]
to set `GTF_UNALIGNED`:
https://github.com/dotnet/runtime/blob/b90a734e1c7d7d1e0a7e1a25ca054a3b76dd2dfa/src/coreclr/jit/morph.cpp#L11304-L11321

For large field offsets there is a comma added between the IND and ADD with an explicit null check.
Fix should be simple but it does seem pretty fragile (I suppose "correct" IL needs `unaligned.` prefix, so this might be

[2022-09-05 10:16] maxkatz6 commented on #75065
@Stannieman I think this issue should be kept open with available workaround. For most applications disabling app nap might decrease user experience. And if the issue is in the runtime, and can be fixed, somebody should pick it up one day.

[2022-09-05 10:38] Stannieman commented on #75065
Ok reopened.
For reference a PR for Avalonia is in the making: https://github.com/AvaloniaUI/Avalonia/pull/8894
So either each UI technology needs to implement something like this on its own or it can be added to .NET itself.

[2022-09-05 10:46] ViktorHofer commented on #74681
@MichalStrehovsky is talking about self-contained testing which is the more prominent mode these days. Back in the 2.0 days, it was mostly framework dependent testing as features that made self-contained deployment more useful link the linker integration, single-file, crossgen2, nativeAOT, etc. didn't exist. Our testhost folder is a fake representation to make testing framework dependent apps poss

[2022-09-05 11:04] MartinZid commented on #74756
Thank you, @mrsharm, for your research.

I've collected the data again and also added the `6.0+clrgc` traces, which may IMO resolve the problems with the missing symbols since I've copied the clrgc.dll to the `dotnet/.../6.0.7/` folder.

[PerfViewData7.0+clrgc(1).etl.zip](https://github.com/dotnet/runtime/files/9489185/PerfViewData7.0%2Bclrgc.1.etl.zip)
[PerfViewData7.0(1).etl.zip](https://github.

[2022-09-05 11:04] kristjanjogi-msft opened #75079 "Kestrel TLS handshake fails for every 2nd request when specifying the ClientCertificateMode.AllowCertificate option on Linux with .NET 7"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Given a Linux server with .NET 7 and a Windows client with .NET 6 or 7, Kestrel TLS handshake fails for every 2nd request when specifying the `ClientCertificateMode.AllowCertificate` option. The server being Linux and client being Windows is important.

A Linux server with .NET 6 is not affec

[2022-09-05 11:13] stephentoub commented on #75065
It's not if changing the app nap setting fixes it.

What action is left to do in this repo? Open issues need to be actionable.

[2022-09-05 11:15] stephentoub commented on #75077
This would make Task.FromResult more expensive for every reference type. I don't think it's an appropriate tradeoff.

[2022-09-05 11:32] c-ohle commented on #75072
@Wraith2 ok, can I help you?

[2022-09-05 11:33] filipnavara commented on #67232
Yep, you are right. I checked the theory and this should be fairly easy to fix.

[2022-09-05 11:51] teo-tsirpanis commented on #75070
Should we also have a `TryDequeueEnqueue` variant?

[2022-09-05 11:52] akoeplinger opened #75080 "sendtohelixhelp.proj always includes openssl as a Helix correlation payload"
I noticed that we're sending openssl-1.1.1l-beta-1.zip to all jobs, even though only the Linux Bionic ones need it, we should have a condition here:

https://github.com/dotnet/runtime/blob/b90a734e1c7d7d1e0a7e1a25ca054a3b76dd2dfa/src/libraries/sendtohelixhelp.proj#L255

/cc @directhex

[2022-09-05 12:18] #74061 closed

[2022-09-05 12:24] EgorBo commented on #75072
I guess it's fixed with https://github.com/dotnet/runtime/pull/74501

[2022-09-05 12:31] EgorBo commented on #75071
Thanks for noticing it!

[2022-09-05 12:43] #75072 closed

[2022-09-05 12:53] #34690 closed

[2022-09-05 12:56] akoeplinger commented on #74667
Turns out this is still happening, will re-disable the tests and let's continue investigating in https://github.com/dotnet/runtime/issues/74795 since it's the same issue

[2022-09-05 13:07] akoeplinger commented on #74795
Turns out this is still happening on Mono even after https://github.com/dotnet/runtime/pull/74994 so this was an unrelated issue.

Interestingly I am able to repro it locally in the Docker container we also use on Helix fairly reliably when it is the first thing that runs in the new container instance, e.g. I start the container and then run the repro -> it crashes. If however it works the first t

[2022-09-05 13:23] radekdoulik opened #75084 "[wasm] Add Vector128 Dot and Sum intrinsics on WebAssembly"
I ported simple raytraycer to Vector128 https://github.com/radekdoulik/dotnet-wasm-raytracer. The lack of fast Dot and Sum methods in S.R.I.Vector128 was clearly visible.

[2022-09-05 13:36] maksperovpm opened #75086 "Grpc.Net.Common .NETStandard is missing "Grpc.Net.Compression.DeflateCompressionProvider""
### Description

I'm using a host application which targets .NET 6.0 with GRPC service developed under windows which references "Grpc.Net.Common". under windows all works great but when the solution is built and packages restore under a debian machine (docker), it restores this library as .NETStandard v2.0 which is not the same one which is restored on my machine (mine is .NETCoreApp v6.0).
when i

[2022-09-05 13:56] vsfeedback opened #75087 "Erroneous leading space in ShortTimePattern and LongTimePattern in Burmese Cultures ({my} and {my-MM})"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Erroneous-leading-space-in-ShortTimePatt/10039233)._

---
In .Net 5 and 6 the following statements show that the ShortTimePattern and LongTimePattern properties of DateTimeInfo in the Burmese Cultures ({my} and {my-MM}) contain an erroneous leading space. In .Net 3.1 there is no space.
C

[2022-09-05 14:03] akoeplinger commented on #74795
I added logging the PID to the "Error while reaping child" error message and also log each RemoteExecutor-PID and the crash doesn't seem to be specific to one single test.

[2022-09-05 14:07] tmds commented on #74795
You are reproducing this on arm64 using Mono?

Can we make some correlation between the failures and the container images being used?

The last change (https://github.com/dotnet/runtime/pull/73963) was for enabling Quic support. That sounds like it could affect `System.Net.Requests.Tests`.

[2022-09-05 14:15] gaui commented on #67465
Having same issue with .NET 7 preview and the dotnet-sdk snap package.

**Context:**

[code]

[2022-09-05 14:15] akoeplinger commented on #74795
@tmds yes this is using Mono. Some of the threads are indeed inside msquic code, see the full thread dump I get due to the FailFast here: https://gist.github.com/akoeplinger/b5768ec63cc36a4c672085c621690853.

[2022-09-05 14:22] jkotas commented on #75053
What is the stacktrace of the latest crash?

[2022-09-05 14:45] akoeplinger commented on #74795
I tried using the new Docker container and removing `/usr/lib/aarch64-linux-gnu/libmsquic.so.2` as the first step.
It ran for 10 minutes without a crash.

Adding msquic back and it crashed after a couple iterations. So I think Quic is the most likely culprit.

[2022-09-05 14:50] MichealDanida commented on #75053
please check my-git, you can reproduce by run, stop and re-run

[2022-09-05 15:01] nycdotnet commented on #73094
@Asivaprasadam I took a look and it appears that `BitArray` is working as expected with shift, though honestly it's funny because the bits "visually" shift in the opposite direction than expected when formatted as an array of booleans formatted as 1 and 0.  for example with a `BitArray` with content `010`, `LeftShift` produces `001`, `RightShift` produces `100`.

Here's a comprehensive test with y

[2022-09-05 15:06] deeprobin commented on #73969
If you want I can do that as well.
/cc @reflectronic @danmoseley

[2022-09-05 15:09] jeffschwMSFT commented on #72297
![image](https://user-images.githubusercontent.com/9561583/188478699-c78c0228-0416-43b5-a6ef-03d39b303cf8.png)

[2022-09-05 15:09] nycdotnet commented on #73094
This format method will return your identity input at least.

[code]

[2022-09-05 15:18] jkotas commented on #75053
This is the stacktrace of the crash:
[code]
The problem is this library creates exceptions using reflection here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/59d1307a260829c0f8609a183a962aceaeffba89/src/Microsoft.IdentityModel.Logging/LogHelper.cs#L318

As always, you can workaround by adding the ArgumentNullException constructor to rdxml. Given the nu

[2022-09-05 15:27] ygoe opened #75089 "IConfiguration.GetValue<T>() is no longer defined in .NET 6"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm upgrading an application from ASP.NET Core 3.1 to 6.0. I've read the migration documents completely but this issue wasn't mentioned anywhere. I'm not sure in which repository to report it, so I'll go with what I'm using.

This is the code that worked fine in 3.1:

[code]

Now I get a comp

[2022-09-05 15:31] MichalPetryka commented on #75077
Could be worked around with IsKnownConstant if the method's inlineable though.

[2022-09-05 15:32] MichealDanida commented on #75053
thanks for your advise.
We can close this topic.
Many Thanks jkotas

[2022-09-05 15:34] #75053 closed

[2022-09-05 15:36] davidfowl commented on #75089
It's still there https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.configurationbinder.getvalue?view=dotnet-plat-ext-6.0#microsoft-extensions-configuration-configurationbinder-getvalue-1(microsoft-extensions-configuration-iconfiguration-system-string-0)

[2022-09-05 15:38] jnix-abk commented on #73770
ZLib data does not have an easy size indicator that I could use to grab just the compressed data.  If I knew the size, I'd just extract it and shove it in a MemoryStream.  That is why I need the above property exposed.

[2022-09-05 16:40] antonfirsov commented on #42211
#### Report 2022/9/5:

Unfortunately, I noticed late that #74422 was not sufficient to enable 7.0 runs. Because of that we lost 2 weeks of stress run info :( There is a backport PR #75082 that has to be merged to have 7.0 runs working (hopefully).

There are a few data points of from manual runs against 7.0 and the current main (which is still mostly identical): [1](https://dev.azure.com/dnceng-pu

[2022-09-05 17:07] adamsitnik opened #75091 "Various Runtime assert failures on both Windows and Linux"
While working on https://github.com/dotnet/runtime/pull/75012 I've hit few different runtime assert failures that repro on Windows x86 (but not x64) and other configs like Linux x64.

I've narrowed it down to the method that changes character case in vectorized way:

https://github.com/dotnet/runtime/blob/ba1102d49b297003db6c71699f7c93a8d55234b5/src/libraries/System.Private.CoreLib/src/System/Buff

[2022-09-05 17:07] adamsitnik commented on #75091
### Windows x86 Standalone repro

You need to build runtime in Checked configuration, build following app in `Debug` and run it using `corerun.exe`

<details>

[code]

[code]

</details>

[code]

[2022-09-05 17:08] #74117 closed

[2022-09-05 17:13] adamsitnik commented on #75091
### Windows x86 repro using my fork

[code]
[code]

[2022-09-05 17:16] adamsitnik commented on #75091
### Linux x64 repro using my fork

[code]

[code]

[2022-09-05 17:20] ygoe commented on #75089
@davidfowl Tell that Visual Studio, it probably hasn't read the documentation. I have that compile error anyway after upgrading the project (changing target framework and updating all NuGet packages). Is there anything else I have to do here that isn't in the migration docs?

[2022-09-05 17:22] davidfowl commented on #75089
It's possible there's some detail missing here. Let me see if I can help by asking more questions:

- What type of project is this? (class library, console app, web application)
- What package references does this project have?
- What usings are included in the file with this code?

[2022-09-05 17:35] alex-jitbit commented on #75077
OK, closing the suggestion then.

[2022-09-05 17:35] #75077 closed

[2022-09-05 17:49] ygoe commented on #75089
This project in particular targets `net6.0`. It's a library that is used by an ASP.NET Core web application and a console app.

This project has these package references (not showing internal packages):

[code]

The file with the compile error has these usings (not showing internal namespaces):

[code]

[2022-09-05 17:49] RyanThomas73 commented on #75070
It's an option. Seems like it could be ambiguous on what the behavior would be though; e.g. would it still enqueue if there was nothing to dequeue first? Also, unlike the DequeueEnqueue signature, I wouldn't expect a significant performance difference with checking using a sequential call to TryPeek first.

Yes I can put together an implementation and tests PR.

[2022-09-05 17:58] njavilas2015 commented on #67465
I have fixed it by just installing apt install dotnet

[2022-09-05 18:07] #74604 closed

[2022-09-05 18:11] davidfowl commented on #75089
Excellent, that helps alot! A couple of things:

-  `<PackageReference Include="Microsoft.AspNetCore.Mvc.ViewFeatures" Version="2.2.0" />` You shouldn't be using a 2.2.0 reference to ASP.NET Core when writing a library that targets ASP.NET Core 6.0 (or 3.1 for that matter). The migration guide explains how to move libraries that support ASP.NET Core >= 3.x https://docs.microsoft.com/en-us/aspnet/c

[2022-09-05 19:09] ygoe commented on #75089
Thanks a lot for the missing package. It's always hard to find stuff that needs extra packages before it's even discoverable, especially when it's moved into nowhere from one version to the other.

I'll look into the 2.2.0 package. I've never cared about it since there was no upgrade for it and it did the job. This is required for a part that does the view model input handling in the Web UI but al

[2022-09-05 19:21] radekdoulik opened #75094 "[wasm] Add Vector128.Min and Max for WebAssembly"
Currently the AOT compiler fails with assertion, when these methods are used.
[code]

[2022-09-05 19:39] jkotas commented on #67232
Or fix the JIT to produce frames that are compatible with compact unwinding.

[2022-09-05 19:44] filipnavara commented on #67232
That's also an option. I started reading the design document and there are some limits on what the instruction encoding allows in terms of offsets... Overall I think there are multiple viable ways to fix it but it's relatively easy to get it working in some way now that I know what is happening.

[2022-09-05 19:47] vitek-karas commented on #74700
There's a cleaner way - the plugin should not contain assemblies provided by the host - it should only build against them. Take a look at https://docs.microsoft.com/en-us/dotnet/core/tutorials/creating-app-with-plugin-support#simple-plugin-with-no-dependencies specifically this:
[code]

The `Private=false` and `ExcludeAssets=runtime` make it so that the build output of the project doesn't contain

[2022-09-05 19:47] #74700 closed

[2022-09-05 20:23] #75035 closed

[2022-09-05 20:35] AraHaan commented on #75069
7.0 also fails.

[2022-09-05 20:43] alexandrehtrb commented on #1511
+1

I think WebSockets is an alternative...

[2022-09-05 20:43] antonfirsov commented on #74794
A smaller repro:

[code]

Starting from .NET 5, this code prints 1 instead of 3. I can't immediately tell what is happening, but Chrome seems to keep the cookies we drop, so it's worth an investigation.

[2022-09-05 21:44] am11 commented on #67232
Agreed, this looks like the case. I tried borrowing some helpers from coreclr/pal yesterday, but it has not fixed the issue (so far).

Can we handle it in https://github.com/dotnet/runtime/blob/ab2d195f169a08bf8eb978b472b2d3aca61b0a46/src/coreclr/tools/aot/ILCompiler.RyuJit/JitInterface/CorInfoImpl.RyuJit.cs#L96 considering the coreclr/jit/unwind* is serving non-NativeAOT modes on osx-arm64 well?

[2022-09-05 21:59] #75071 closed

[2022-09-05 22:01] danmoseley commented on #75086
@JamesNK  can you help route?

[2022-09-05 22:02] SingleAccretion commented on #75091
I looked at this briefly, it appeared to be a managed buffer overrun - an object next to `destinationBytes` was being overwritten with a byte sequence of the lower-cased letters. I did not identify the overrun's exact source.

<details>
<summary>A bit smaller reproduction derived from the x86 one above</summary>

[code]
</details>

[2022-09-05 22:12] danmoseley commented on #74970
When it fails, that means ThrowsAsync throws XunitException? Could we catch that, log the output there that we captured in the existing catch, and returned?

[2022-09-05 22:15] danmoseley commented on #74771
Is there an environment variable to try that would force it to be optimized? Although, I thought BDN defeats tiering.

[2022-09-05 22:58] JamesNK commented on #75086
It sounds like a NuGet problem. This bit seems suspicious:

[2022-09-05 23:13] AntonLapounov commented on #74913
Duplicate of #75041.
[code]

[2022-09-05 23:13] #74913 closed

[2022-09-05 23:22] radical opened #75098 "[wasm] Test failure when AOT'ed with SIMD support - `JSException : TypeError: globalThis.WebSocket is not a constructor`"
- `System.Net.Http.Functional.Tests` compiled with AOT, and SIMD support, running with `nodejs`.

- [Build](https://dev.azure.com/dnceng-public/public/_build/results?buildId=5178&view=logs&j=91ff7e37-f718-569b-44af-9cdf6094eb11&t=005122f9-2519-5f5c-efa7-ed9f9f555bb4), and [log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-75064-merge-b9ad1111b8754999b5/WasmTestOn

[2022-09-05 23:30] AntonLapounov commented on #75041
This might be the cause of intermittent crossgen2 failures, e.g., #74913 (we started to collect dumps just recently).  Note that the race condition existed even before #61346. Line 200 in the old code below would set the `m_pNextEntry` pointer of the first bucket's entry to `NULL`. https://github.com/dotnet/runtime/blob/b68328abb0d9a9bdcd7d27a5334e1ecc7e0cfbfd/src/coreclr/vm/dacenumerablehash.inl#

[2022-09-05 23:32] #74390 closed

[2022-09-05 23:55] jkotas commented on #75091
Yes, it is buffer overrun at this stacktrace:
[code]

[2022-09-06 00:47] stephentoub opened #75100 "JIT doesn't eliminate dead loops"
[code]
After passing through tier 0, in tier 1 the body of the loop is eliminated, but the loop itself remains:
[code]
I was expecting the whole benchmark to just be:
[code]

Related, I also tried with tiering disabled, and I was a bit surprised that with `if (s_year == 2021)`, although the read of s_year was hoisted out of the loop, the comparison to 2021 wasn't:
[code]

[2022-09-06 01:43] quan0zhou commented on #72644
[code]

[2022-09-06 02:18] danmoseley commented on #67583
@steveisok 🙂

[2022-09-06 02:19] steveisok commented on #67583
Sorry, yes, we can help with this one.

[2022-09-06 02:27] tarekgh commented on #75087
I couldn't reproduce this. When running code I am getting the following result:

[code]

Please let's know more about your environment and how we can produce that.

[2022-09-06 02:27] #75087 closed

[2022-09-06 02:46] stephentoub commented on #74266
I added an EDIT note in the text of the post.

[2022-09-06 03:07] gitlsl commented on #74794
@antonfirsov  I  change `31-Dec-37` to `31-Dec-27`  , your code return  `count:3 `   ,   also  I have no idea why some keys prefixed with ` $ `

[2022-09-06 03:30] quan0zhou commented on #72644
[code]

[2022-09-06 03:58] maikami opened #75103 "Fails Reflection to System.Private.CoreLib at Generic method on IIS"
### Description

Attempting to get MethodInfo with GenericMethod returned null.
It happened only in production environment.

- If type is System.DateTime, returned null
- fine in debug on VS2022
- If call succeeds even once, it will work properly after that

### Reproduction Steps

[code]

### Expected behavior

_method is assigned an instance.

### Actual behavior

_method is null.

### Regressio

[2022-09-06 04:01] hungdoan-groove opened #75104 "Why does my .NET 6.0 application hit Thread Starvation easier than the .NET Framework ?"
### Description
I ported my Service Fabric Application from .NET Framework 4.6.1 to .NET 6.0
It seems, after the migration:
- .NET 6.0 version will make it easier to hit Thread Starvation.
-  In some cases + heavy load, the .NET 6.0 **has less throughput** than the .NET  Framework version. Is this the side effect of Thread Starvation?

My questions are:
- Is the reduction of throughput the result

[2022-09-06 04:12] danmoseley commented on #75104
Are you creating (pooling?) threads yourself, queuing work to the thread pool manually, using Tasks, ..?

[2022-09-06 04:21] AntonLapounov commented on #75034
I agree with @RobertHenry6bev that the issue has nothing to do with the definition of `pGenGCHeap` as you can spot the `SVR::` prefix in the call stacks above.

It is not if I am reading [this](https://en.cppreference.com/w/cpp/language/static) correctly:

[2022-09-06 04:21] jkotas commented on #75103
The behavior that you are seeing is caused by trimming. See https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/configure-trimmer .

You may want to set `SuppressTrimAnalysisWarnings` to false in your project file to see all places that have potential problems with trimming in your app.

[2022-09-06 04:45] danmoseley commented on #74794
https://github.com/dotnet/runtime/blob/e55c908229e36f99a52745d4ee85316a0e8bb6a2/src/libraries/Common/src/System/Net/CookieParser.cs#L649

"31-Dec-37" is parsed as "12/31/1937" as CultureInfo.InvariantCulture.Calendar.TwoDigitYearMax = 29

[2022-09-06 05:20] danmoseley commented on #74794
BTW does this

https://github.com/dotnet/runtime/blob/e55c908229e36f99a52745d4ee85316a0e8bb6a2/src/libraries/Common/src/System/Net/CookieParser.cs#L663

Imply that the first of Expires and Max-Age wins? As the RFC (4.1.2.2) says if both are supplied then Max-Age should win.

https://www.rfc-editor.org/rfc/rfc6265

[2022-09-06 05:51] TheBuzzSaw commented on #53154
So, now that I see this is marked as "needs work", what direction can it go in? Is there a reasonable way to make this work?

[2022-09-06 05:54] AaronRobinsonMSFT commented on #75034
I agree you are reading that correctly. I was not aware of this permission and given the warning assumed it was UB. Seems I was wrong here. Thanks for pointing this out @AntonLapounov.

So are we missing the underlying issue that was triggered here? I've not run this scenario locally yet.

[2022-09-06 06:05] AaronRobinsonMSFT commented on #75034
Following the supplied link uncovered the primary source for what I had always considered UB - https://www.open-std.org/jtc1/sc22/wg21/docs/cwg_closed.html#315. Calling a static method through the `.` was/is weird but I've always accepted as valid. However, calling via `p->` when `p` is `nullptr` was what I thought was UB, the link does confirm it is valid.

[2022-09-06 06:10] quan0zhou commented on #72644
.NET 7 Preview has the same problem
[code]

[2022-09-06 06:11] vdanche opened #75105 "[NetSDKE2E]Installing .NET 7.0 RC2 SDK, .NET Runtime version is RC1"
### Description

Installing .NET 7.0 RC2 SDK, .NET Runtime version is RC1

### Reproduction Steps

Download and install .NET 7 RC2 SDK (7.0.100-rc.2.22454.1) from Release/7.0.1xx" column in https://github.com/dotnet/installer

### Expected behavior

The .NET Runtime version should be 7.0.100-rc.2.xxx.

### Actual behavior

The .NET Runtime version is 7.0.0-rc.1.22422.12
![image](https://user-image

[2022-09-06 06:12] VSadov opened #75106 "[NativeAOT] Implement `MethodTable::HasCriticalFinalizer`"
If we could know at runtime if an object derives from `CriticalFinalizerObject`, we could trivially implement the finalization pattern for it, instead of relying on workarounds like `DelayedFinalizer` in `SafeHandle` and similar types.

[2022-09-06 06:17] VSadov opened #75107 "[NativeAOT] Implement GCToEEInterface::EagerFinalized"
WeakReference has a special codepath in GC to finalize eagerly, which avoids using finalizer queue. We could easily do that in NativeAOT as well, if we could tell if an instance is a `WeakReference` or `WeakReference<T>`

Weak references could be used in big quantities, so such optimization would be a noticeable improvement.

There is also a subtle correctness issue.
If, for example, a weakref get

[2022-09-06 06:25] VSadov opened #75108 "[NativeAOT] Implement thin locks"
CoreClr is able to use object header bits for locking in trivial cases. That makes typical use of `lock` fairly cheap. NativeAOT does not have that and `lock(obj)` is always a "fat lock".

This is likely the reason for regressions in ConcurrentDictionary benchmarks.
(re: https://github.com/dotnet/runtime/issues/68891)

[2022-09-06 06:29] jkotas commented on #75105
dotnet/runtime rc2 build was not merged into the installer repo yet. This will be fixed once https://github.com/dotnet/installer/pull/14412 is merged.

[2022-09-06 06:29] #75105 closed

[2022-09-06 06:30] MichealDanida opened #75109 "native build, have an issue in Swagger"
I create a default Web API, tested with System.Text.Json and NewtonJson, Both are getting the bellow issue if using Swager
Can you help me to fix?
----
fail: Microsoft.AspNetCore.Server.Kestrel[13]
      Connection id "0HMKFON5J262T", Request id "0HMKFON5J262T:00000007": An unhandled exception was thrown by the application.
      System.Reflection.MissingMetadataException: 'System.Text.Json.Serial

[2022-09-06 06:30] VSadov opened #75110 "[NativeAOT] Enable card bundles and software writewatch on Windows"
That would be consistent with Unix and is likely faster (worth measuring though).

It would also be nice to align implementations of write barriers. It appears the write barriers in NativeAOT for different platforms were implemented at different times and based on different prototypes. As a result the implementations, while being semantically the same, are very different. It would be nice to recon

[2022-09-06 06:33] MichealDanida commented on #75109
i used
builder.Services.AddSwaggerGenNewtonsoftSupport();
Net 6

[2022-09-06 06:41] jkotas commented on #75109
You have to use System.Text.Json source generator for AOT compatibility. System.Text.Json without source generator has number of issues with trimming and AOT.

Does SwaggerUI have APIs to support System.Text.Json source generator?

[2022-09-06 06:41] JamesNK commented on #72619
Make a change: https://github.com/dotnet/aspnetcore/pull/43630

Does it have any impact?

[2022-09-06 06:42] karelz commented on #72619
@CarnaViire would you be able to check it?

[2022-09-06 06:43] VSadov opened #75111 "[NativeAOT] Consider porting/sharing CastCache form CoreClr"
It would be nice to never take locks when casting. Reduces chances for various deadlocks and reentrancies.

[2022-09-06 06:51] VSadov opened #75112 "[NativeAOT] Ensure that suspending thread priority is not below normal."
GC could be caused by a low-priority thread.
It would help if the thread that performs the suspension and release of the runtime changes its priority temporarily to Normal.

[2022-09-06 06:58] Ellerbach opened #75114 "[API Proposal]: Adding GpioPin to GpioController in .NET IoT"
### Background and motivation

In .NET IoT (https://github.com/dotnet/iot/) we do have a GpioController allowing operations on GPIO (referred as pin later). To open, write, read or close a pin, it is necessary to use the GpioController.
We want to propose adding a GpioPin class that will make it easier to access directly a pin.

This GpioPin is already present and used in .NET nanoFramework (https

[2022-09-06 06:59] MichealDanida commented on #75109
Hi jkotas,
Happy to meet you again.
I will update, list all of native issues and ask for your help.

[2022-09-06 07:00] JamesNK opened #75115 "QuicListener.AcceptConnectionAsync rethrowing exceptions"
`QuicListener.AcceptConnectionAsync` throws in the following scenarios (that I know of):

1. `QuicException` with `QuicError.OperationAborted`. Happens when the listener is disposed while waiting for a connection.
2. `ObjectDisposedException`. Happens when `AcceptConnectionAsync` is called after disposing the listener.
3. `AuthenticationException`. Happens when the client and server fail to negoti

[2022-09-06 07:01] danmoseley commented on #75114
@Ellerbach @krwq  do we track API reviews on IoT API here? I wonder whether apireviews.Net should look at that repo also. @terrajobst

[2022-09-06 07:05] karelz commented on #75115
Split from discussion: https://github.com/dotnet/aspnetcore/pull/43730#issuecomment-1236922210

It sounds reasonable to me. @ManickaP @rzikm @CarnaViire @wfurt any thoughts?
If we agree, we should try to do it in 7.0 to prevent breaking changes in 8.0 ... even though QUIC APIs are preview, so we will be allowed to make them.

[2022-09-06 07:10] JamesNK commented on #75115
Currently, aspnetcore has to assume any exception thrown from `AcceptConnectionAsync` can be retried, unless it is OperationAborted or ODE.

[code]
This feels a little dangerous. What happens if a bug causes `AcceptConnectionAsync` to break and throw for another reason? We'd be stuck in this loop.

It would be nice if there was a known exception type (or QuicError type) for failed accepting of con

[2022-09-06 07:18] MichealDanida commented on #75109
Hi jkotas,
Just commit to git -> https://github.com/MichealDanida/Native-Build
please help me

[2022-09-06 07:22] adamsitnik commented on #75073
Hi @perjahn

It looks like you have hit issue #64166, which was already fixed in .NET 7 and is currently being backported to .NET 6 (#64985). The fix is going to be released very soon as part of .NET 6.0.9.

Is there any chance you could try reproducing it with .NET 7?

[2022-09-06 07:31] filipnavara commented on #67232
You would need to map the memory with MAP_JIT flag (see MEM_RESERVE_EXECUTABLE in CLR code). Writes to both the data section and the thunk section have to be protected by the `pthread_jit_write_protect_np` call. Since the data chunk of memory is written from the managed code you would need to also expose the helper to enable/disable write protection to the managed code.

[2022-09-06 08:17] PopeyeZhong opened #75116 "The IDataRecord interface does not have methods to get the value of an unsigned integer field."
Are there plans to add `GetSByte(int i)`, `GetUInt16(int i)`, `GetUInt32(int i)`, and `GetUInt64(int i)` methods to the `IDataRecord` interface and its implementation classes?

Because now we can only use the `GetValue(int i)` method to process unsigned integer types in data access to MySQL, but this will lead to boxing/unboxing, which is not good for high-frequency data access.

[2022-09-06 08:19] sajjadarashhh commented on #74988
there's any way to change path's manually!?

[2022-09-06 08:26] huoyaoyuan commented on #75116
Adding members (without default implementation) to existing interfaces is a breaking change, which is not going to happen.

[2022-09-06 08:30] filipnavara commented on #67232
Reflection tests are failing because `GetUnwindProcInfo` doesn't understand compact unwinding yet. I have a local fix but it needs polishing before I push it.

[code]

[2022-09-06 08:38] hungdoan-groove commented on #75104
@danmoseley yes there is a `Task.Run()` to queue a thread manually.  I also agree that creating extra threads would lead to Thread Starvation earlier.
But both the .NET Framework and .NET 6.0 versions have the same logic.

Why would .NET 6.0 get Thread Starvation, but .NET Framework?

[2022-09-06 08:59] roji commented on #75116
@PopeyeZhong IDataRecord is generaly considered obsolete; when working against a database, [DbDataReader](https://docs.microsoft.com/en-us/dotnet/api/system.data.common.dbdatareader) is typically used instead. That base class has a generic [`GetFieldValue<T>`](https://docs.microsoft.com/en-us/dotnet/api/system.data.common.dbdatareader.getfieldvalue?view=net-7.0#system-data-common-dbdatareader-getf

[2022-09-06 08:59] #75116 closed

[2022-09-06 09:03] NMSAzulX commented on #53493
@Maoni0  How's the progress? :)

[2022-09-06 09:14] roji commented on #75031
@eerhardt @jkotas the distributed transactions part of System.Transactions - which is what does the COM interop - is something we ported mainly in order to unblock .NET Framework users and allow them to move to modern .NET. We don't expect to invest in this component in the future; if a significant need is signaled for cross-platform distributed transactions (#71769), we'll consider implementing n

[2022-09-06 09:27] 1zhhhhh opened #75117 "variable is not as expected in System.Threading.Tasks"
### Description

![image](https://user-images.githubusercontent.com/112938734/188598432-76bf242f-bb83-41ef-8534-433e6388fece.png)

the variable "id" I passed to Task is not from 0 to 5. it is always 5. Is it by design?

### Reproduction Steps

using System;
using System.Threading.Tasks;

namespace ConsoleApp1
{
    class Program
    {
        static private Task[] someTasks = new Task[20];

[2022-09-06 09:34] MineCake147E opened #75119 "Possible optimization opportunity of integer multiplication by constant"
## Description

Unlike the LLVM, RyuJIT is reluctant to optimize integer multiplication.

### Example: Multiplying by 7

#### C#

[code]

[code]

#### C++ with Clang 16.0.0

[code]

[code]

## Configuration

For unsigned integer constants less than 127 that is optimized by LLVM with no `imul` instruction:
[SharpLab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIGYACY8pJ0hg

[2022-09-06 09:38] roji commented on #74170
@kunalspathak @AaronRobinsonMSFT how can we make progress on this arm64-specific issue? @kunalspathak neither @AaronRobinsonMSFT nor I have access to an arm64 machine - are you able to help us iterate on this as per https://github.com/dotnet/runtime/issues/74170#issuecomment-1227538603? I'm worried not so much about arm64 distributed transaction support, but more that there's some deeper bug in in

[2022-09-06 09:44] DaBeSoft commented on #72173
We are facing the same issue, thanks for providing an workaround @skelendal

[2022-09-06 09:49] rolfbjarne opened #75120 "SerialPort is not supported on Mac Catalyst"
_From @trantamcdt92 on Tue, 06 Sep 2022 09:07:49 GMT_

### Steps to Reproduce

1. Create a SerialPort class
2. Configure the serial port settings
3. Open the serial port

### Expected Behavior
Can connect to device
### Actual Behavior
Exception "System.DllNotFoundException: libSystem.IO.Ports.Native" occurred
### Environment
Monterey, Visual Studio Preview

<details>
<summary>Version information</

[2022-09-06 09:49] rolfbjarne commented on #75120
_From @rolfbjarne on Tue, 06 Sep 2022 09:48:57 GMT_

The SerialPort class is currently not supported on Mac Catalyst:

[code]

Since this works for macOS apps, it seems to me that it just needs to be implemented for Mac Catalyst, so I'm moving this to dotnet/runtime where that code lives.

[2022-09-06 09:53] AntonLapounov commented on #75117
Yes, that is by design.  You need to make a local copy of `i`:
[code]
Please see this [blog post](https://docs.microsoft.com/en-us/archive/blogs/ericlippert/closing-over-the-loop-variable-considered-harmful) for details.

[2022-09-06 10:06] vitek-karas commented on #75031
I think it's OK if we decide to not support trimming for Sys.Tx (depends on scenarios and resource availability and so - also if we get ComWrappers source generated it might become a lot easier). In that case we should annotate the APIs which can lead to the COM usage with `RequiresUnreferencedCodeAttribute` (and probably also `RequiresDynamicCodeAttribute`) - so that developers which try to trim

[2022-09-06 10:09] trantamcdt92 commented on #75120
@rolfbjarne
Are you planning to support SerialPort on MacOS? if you are, when it will be officially released?
I copied  libSystem.IO.Ports.Native.dylib from Visual Studio (Preview) to my application and could communicate with my device.
Is this safe to use it now?

[2022-09-06 10:17] #57918 closed

[2022-09-06 10:25] krwq commented on #75066
@En3Tho sets are not supposed to have duplicate entries. I assume that what you actually want is something like:

[code]

and not intersect. For efficiency might be a good idea to make names a HashSet.

Note that in your specific example set is identified by (id + name) but you ignore the id which causes weird behavior.

[2022-09-06 10:31] krwq commented on #75066
If you feel like it you can send a patch to the documentation to mention that elements (https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.intersectby?view=net-6.0 and click edit button).

[2022-09-06 10:47] Therzok commented on #75120
VSMac pulls that from the System.IO.Ports nuget: https://www.nuget.org/packages/System.IO.Ports/7.0.0-preview.7.22375.6

[2022-09-06 11:11] En3Tho commented on #75066
I think @krwq meaned to tag @MoienTajik, not me. So retagging.

[2022-09-06 11:18] krwq commented on #75066
You're right, I also edited😄

[2022-09-06 11:42] adamsitnik commented on #75091
@SingleAccretion @jkotas you were right, it was a managed buffer overrun. Thank you for your help!

https://github.com/dotnet/runtime/pull/75012/commits/0ffd3ee574dd5c34e49baea7416ac1a2c3116e32

[2022-09-06 11:42] #75091 closed

[2022-09-06 11:56] #75117 closed

[2022-09-06 11:58] EgorBo commented on #75119
Thanks, it'd be nice to know the exact performance difference
Anyway, sounds like a good task for new jit contributors

[2022-09-06 12:31] danmoseley commented on #74970
Right, I'm suggesting at the point we currently log the output , to instead capture it into a string. Then later, if the test will fail (XunitException is thrown) log that string then rethrow the exception so the test fails.

[2022-09-06 12:34] danmoseley commented on #53493
I think you mean @mangod9

[2022-09-06 12:34] tmds commented on #74795
@akoeplinger can you share how you build the repo and run the test to reproduce the issue?
Will you or @wfurt investigate further?

[2022-09-06 12:38] simonrozsival opened #75123 "[browser][MT] System.Xml.Tests.TC_SchemaSet_Add_URL.v4"
The test internally calls the `XmlDownloadManager` which makes a GET HTTP request to `http://bla/` and at that point the test execution gets stuck and eventually timeouts. I assume that this is caused by making a HTTP request on a non-browser thread but there might be something else going on.

Ref #74408

Stack:
[code]

`GetNonFileStreamAsync` is called with a comment:
[code]
Expected exception fo

[2022-09-06 12:40] jkotas commented on #75031
System.Data.Common references System.Transactions.Local.

In the current state, I believe that pretty much any database access will generate trim warnings due to System.Transactions.Local reference.

[2022-09-06 12:44] tmds commented on #74402
The behavior is as expected on Linux.

@Jozkee you can see how this behaves on Windows using the code from my previous comment. I am surprised it behaves different on Windows than Linux.

[2022-09-06 12:44] jkotas commented on #75112
Is this NativeAOT-specific problem or is this a problem in regular CoreCLR too?

[2022-09-06 12:45] akoeplinger commented on #74795
Here's what I did:

1. Clone the repo and run `./build.sh mono+libs -rc Release -c Debug` (that's the config on PR builds, no idea if it's relevant)
2. Run this to build the tests once on the host: `./dotnet.sh build /t:Test /p:RuntimeFlavor=mono /p:MonoConfiguration=Release src/libraries/System.Net.Requests/tests/`
3. Run `docker run -v $(pwd):/repo -i mcr.microsoft.com/dotnet-buildtools/prereqs:

[2022-09-06 12:48] roji commented on #75031
@jkotas that's true, but is there a reason we can't just leave the assembly with IsTrimmable=false? Wouldn't the entire assembly be trimmed away if the user doesn't use any Sys.Tx (or System.Data) APIs? If so, that sounds like it could be an acceptable state of affairs until we have ComWrappers source generation etc.

[2022-09-06 13:01] krwq commented on #75070
Ok, you're now somewhere in the middle of the list up for review (I'm guessing it will take at most couple of weeks), you can update the proposal with TryDequeEnqueue and similar, make sure to be consistent with remainder of the APIs

[2022-09-06 13:07] kunalspathak commented on #74771
I did try `COMPlus_TC_QuickJitForLoops=0`, but the codegen doesn't change. So don't think that is an issue.

[2022-09-06 13:11] krwq commented on #37483
Theoretically we could also extend JsonTypeInfo (maybe also in the options) and add something along the lines of:

[code]

then such behavior could be controlled per type.

That obviously couldn't be used with conjunction of extension data properties.

[2022-09-06 13:13] Jack-Edwards commented on #74352
They also maintain an `emscripten.sh` build script, which I believe is meant to output a JS implementation.  It includes exports for various `random` functions, including `randombytes_buf`, which the libsodium author references in the linked issue.  Does this help?

[2022-09-06 13:22] krwq commented on #75114
I'm not sure if API review does it (guessing no), we only do occasional API reviews in IoT so I don't think it makes sense to set it up permanently.

This one was explicitly requested because we had some more discussion on this particular set of APIs and need advice from API review folks.

I'd prefer we make this as one time thing since for most of the APIs we'd do API review during our weekly tri

[2022-09-06 13:23] hopperpl commented on #75119
This could be very tricky for performance analysis.

Usually, the CPU nowadays has multiple ALU "types" with one focusing on Shifting and the other on Multiplication. While both allow Addition. On top is the memory address calculation "ALU" used by LEA. The most performance is achieved if one distributes instructions on the most ALU sub units possible.

* imul nowadays has a 2 cycle latency with 1

[2022-09-06 13:33] adamsitnik opened #75125 "[Mono] Behavior difference between optimized and non-optimized build"
While working on https://github.com/dotnet/runtime/pull/75012 I have encountered something that seems to be a Mono Runtime bug (the code is working fine with CLR). It's reproducible only for **Release** builds.

You can find the repro in the details below:

<details>

[code]

You can add it to `src\libraries\System.Memory\tests\System.Memory.Tests.csproj` and run following command:

[code]

[code]

[2022-09-06 13:39] krwq commented on #75114
Hmm I missed the fact this was filed on dotnet/runtime and not dotnet/iot. I think that's fine in that case, this is a one time request for API review, we normally don't want that. I'm not strongly opinionated where issue should live - if there is easier way we can request one time API review then we can go ahead with that

[2022-09-06 13:41] roji commented on #75031
Thanks for the info, I wasn't aware that `IsTrimmable=true` was necessary even for assembly trimming (in partial mode).

I'm not sure what our options here are... I think it's probably too late to switch to ComWrappers for 7.0. If this can be somehow handled by marking the assembly `IsTrimmable=false` during the libraries build but `IsTrimmable=true` for shipping, as you suggest, maybe that's the

[2022-09-06 13:43] lateralusX commented on #75125
@adamsitnik Is this on main? What platform did you run on?

[2022-09-06 13:46] adamsitnik commented on #75125
@lateralusX It's in my branch (https://github.com/adamsitnik/runtime/tree/asciiAPIs), I've synced it with main 6 days ago. I am going to sync it again and re-try.

For the CI it was failing for macOS and Linux x64, I was able to repro it on Windows x64.

[2022-09-06 13:53] jkotas commented on #75109
I am sorry there is not much to say than what I have said in https://github.com/dotnet/runtime/issues/75053#issuecomment-1237195972 . You can workaround this by adding the missing type to rd.xml, but it is very fragile solution.

https://github.com/dotnet/aspnetcore/issues/27384 is the tracking issue to make ASP.NET compatible with trimming that will require switching to source generation for Json

[2022-09-06 13:53] #75109 closed

[2022-09-06 13:54] lateralusX commented on #75125
OK, I can take a look tomorrow on Windows x64 to see if I can spot something.

[2022-09-06 13:56] lateralusX commented on #75125
Can I just run the test above on main or do I need more stuff from your branch?

[2022-09-06 14:03] adamsitnik commented on #75125
@lateralusX I've synced my fork with main and it still reproduces.

You can either clone my fork and remove the following line:

https://github.com/dotnet/runtime/blob/8ab53c2fcca300c26dfde79d8b4af09fee9206d3/src/libraries/System.Memory/tests/Ascii/IndexOfTests.cs#L11

Or copy-paste the code I've provided in https://github.com/dotnet/runtime/issues/75125#issue-1363297554 and just run it (it's a fu

[2022-09-06 14:20] ajcvickers commented on #74488
@jkotas @roji Does anything need doing here?

[2022-09-06 14:21] maurei opened #75126 "NullabilityInfoContext reports `Unknown` instead of `NotNull` for `ClassRestrictedGeneric<>`"
### Description

I'm following up on the overview in https://github.com/dotnet/runtime/issues/63660#issuecomment-1010934151.

The case `ClassRestrictedGeneric<>.K` is currently not behaving as outlined in this overview. It equals `Unknown`, but should be `NotNull`.

Tangent to this: it is unclear to me why `NullClassRestrictedGeneric<>.M` should equal `Unknown`. Why is it not `Nullable`?

### Repr

[2022-09-06 14:27] jkotas commented on #74488
I do not see any hits in last week, so there is a good chance that this is fixed.

[2022-09-06 14:32] #58249 closed

[2022-09-06 14:33] MoienTajik commented on #75066
Thanks for your explanations.
It was exactly what I needed and tried that at first but with large collections it's too slow, so I decided to go with a `HashSet`, and I thought `IntersectBy()` would do the same thing (as it's using `HashSet` internally) as its code summary does not mention removing duplicate items, so I got weird results.

I will open a separate PR on the documentation about this a

[2022-09-06 14:36] roji commented on #74059
@ajcvickers I don't think so.

@EfrSyn sorry for not answering earlier. The above seems to be an error in your specific ODBC driver, as opposed to the .NET System.Data.Odbc layer, which simply calls into your driver; the exception stack trace indicates that it's coming from the constructor of OdbcConnectionHandle, which is where the native call to the ODBC driver is done. This also seems corrobora

[2022-09-06 14:36] #74059 closed

[2022-09-06 14:37] janvorli commented on #74962
I am investigating it now, trying to install Pop OS locally.

[2022-09-06 14:52] MihaZupan commented on #58249
Sorry I noticed the docs PR too late, @liveans can you please also fix the samples in the docs that show bypass patterns like `;*.contoso.com` which make no sense in Regex?

Using the current sample from the docs:
[code]

[2022-09-06 15:02] simonrozsival opened #75129 "[browser][mt] XmlSystemPathResolverTests.TestResolveInvalidPath timeout"
The `XmlReader.Create(invalidUri)` function blocks indefinitely and the test eventually timeouts. This failure seems to be the same as in #75123

Ref #74406

[2022-09-06 15:07] lewing commented on #65211
fixed in rc1

[2022-09-06 15:07] #65211 closed

[2022-09-06 15:12] tannergooding commented on #75119
I think hopperpl's analysis is pretty spot on and while this might provide improvements in some cases, it might also make it "worse" in others.

The TL;DR is I do expect there are a couple more scenarios where we could filter this down to "two instructions", much like we do for `* 6` today. I don't expect any scenario where we'd change to 3 or more instructions would be better as that means more s

[2022-09-06 15:14] chamons opened #75131 "ProtocolException with iOS .NET 6.0 Application: The number of bytes available is inconsistent with the HTTP Content-Length header."
_From @DuncWatts on Mon, 05 Sep 2022 12:20:03 GMT_

I'm porting some code over from an existing Xamarin.Forms application however the WCF client I've written fails when run as a .NET 6.0 iOS application.

As WCF connected services don't work within iOS due to the restrictions on emitted code, I use a reference generated by the Silverlight tooling as a workaround and add System.ServiceModel.Http to

[2022-09-06 15:14] chamons commented on #75131
_From @chamons on Tue, 06 Sep 2022 15:07:56 GMT_

Given all of the assemblies in the stack trace are BCL (Base Class Library), in particular System.ServiceModel.*, I believe this should be looked at by the dotnet folks first.

[2022-09-06 15:20] tannergooding commented on #75114
@krwq, I think its probably better to live in `dotnet/iot` with requests like we do for winforms and other repos. It helps with tracking/labeling/etc.

It's worth noting to @Ellerbach that API review would appreciate if the following could be fixed up to actually contain the API surface:

Doing so will greatly help with API review and ensure that its short/clear/immediately available. We don't nee

[2022-09-06 15:22] simonrozsival opened #75132 "[wasm-mt] The System.Xml.Tests.TCValidateAfterAddInvalidSchema.AddValid_Import_Include_Redefine test gets stuck on Browser with multi-threading enabled"
The test fails processing the `schB8.xsd` input file. This input differs from the other test inputs by including a schema with a HTTP location:

[code]

This is likely related to #75123

Ref #74407

[2022-09-06 15:24] VSadov commented on #75112
CoreClr does this. I think it is good to have, but not necessarily in 7.0

https://github.com/dotnet/runtime/blob/4da3eae7a54a4a6abeb59df4953b6de4c65b53ea/src/coreclr/vm/threadsuspend.cpp#L3295

Tweaking thread priorities is a rare scenario as it often causes unwanted consequences.
Even more rare is when a low-priority thread is the one who triggers GC (statistically it is the one who allocates th

[2022-09-06 15:24] liveans commented on #58249
Sure, I'll fix it on another PR

[2022-09-06 15:40] danmoseley commented on #74771
I believe @stephentoub you said that you'd tried various scenarios (lengths, position of hits if any) and it was slower in general. So this is not a case of "are the improvements worth the regressions" -- we have to either fix the regression or revert this change for 7.0 to get back to a known state. Given the schedule, we need to do one or the other by the end of the week.

Is there a clear next

[2022-09-06 15:47] eerhardt commented on #75089
https://www.nuget.org/packages/Microsoft.Extensions.Logging/3.1.28#dependencies-body-tab

`Microsoft.Extensions.Logging` in `3.1` depended on Microsoft.Extensions.Configuration.Binder directly. This was removed in 5.0 when these libraries were ported to dotnet/runtime.

To get your code to work again, you can add

[code]

to your list above.

[2022-09-06 15:47] #75089 closed

[2022-09-06 15:48] MihaZupan opened #75134 "Edge-case race condition in WebProxy"
#73803 (7.0) introduced a race condition when recreating the internal `Regex` list.
The issue is that we update the `IsChanged` flag before we replace the `_regexBypassList` field [here](https://github.com/dotnet/runtime/blob/4da3eae7a54a4a6abeb59df4953b6de4c65b53ea/src/libraries/System.Net.WebProxy/src/System/Net/WebProxy.cs#L128-L145).
If two threads query `GetProxy` or `IsBypassed` at the same

[2022-09-06 15:56] ryan-motive commented on #1511
Yep, using Websockets currently and it's working well, but it feels like a placeholder until .NET gets proper support for HTTP/2 streaming.

[2022-09-06 15:58] stephentoub commented on #75134
Accessing a WebProxy instance while its bypass list is being changed concurrently is already not thread safe and isn't supported.

[2022-09-06 15:58] #74172 closed

[2022-09-06 15:58] MihaZupan commented on #74869
ASP.NET will fix the erroneous use in `SpaProxy`, but we don't have any plans to change the behavior of `Uri` unless we see this being a common pain point for many users in the future.

[2022-09-06 15:58] #74869 closed

[2022-09-06 15:58] lambdageek commented on #74654
Ah there's one more issue:

[code]

results in

<img width="923" alt="Screen Shot 2022-09-06 at 11 54 26" src="https://user-images.githubusercontent.com/480437/188681645-82ec3fe7-c798-4589-b607-62922d07e2f5.png">

Which means we didn't build CoreLib for threading.  Probably needs to check for `MonoWasmBuildVariant` when defining `FeatureWasmThreads` in the CoreLib proj. I'll start a PR

[2022-09-06 16:00] #72133 closed

[2022-09-06 16:01] danmoseley commented on #75109
@MichealDanida BTW I added triple back tick: ``` above and below your stack trace to make it easier to read.

[2022-09-06 16:01] MihaZupan commented on #75134
Yes.

[code]

[2022-09-06 16:05] stephentoub commented on #75134
I see; yeah, that's worth fixing.

[2022-09-06 16:05] #72986 closed

[2022-09-06 16:05] #74415 closed

[2022-09-06 16:05] karelz commented on #74416
Fixed in 8.0 (main) in PR #74473 and in 7.0 (RC2) in #75014.

[2022-09-06 16:05] #74416 closed

[2022-09-06 16:07] danmoseley commented on #74795
should this be set to milestone 7.0?

[2022-09-06 16:08] jeffschwMSFT commented on #74631
@cshung can we disable this test for .NET 7? (it has been consistently failing for over a week)

[2022-09-06 16:08] mangod9 commented on #75049
Hi @jammehcow, what is the available memory in the linux container, there has been some increases for 64gb+ available memory, but if you restrict it to something reasonable around 4/8gb do you still observe the increase?

[2022-09-06 16:15] danmoseley commented on #75086
@JamesNK it seems DeflateCompressionProvider is 6.0 and later:

https://github.com/grpc/grpc-dotnet/blob/884d918e3c136d18eada731f89babe1dd3a976aa/src/Grpc.Net.Common/Compression/DeflateCompressionProvider.cs#L19

Does it compile successfully against .NET Standard 2.0?

[2022-09-06 16:15] danmoseley commented on #75086
BTW, I guess this issue should be reopened in https://github.com/grpc/grpc-dotnet ?

[2022-09-06 16:16] SwapnilGaikwad commented on #64451
Are you looking at `SpanHelpers.T.IndexOf(ref T, T, int)` ?

[2022-09-06 16:18] MihaZupan opened #75137 "Add an analyzer warning of erroneous usage of MaxResponseHeadersLength"
`HttpClientHandler` has a `MaxResponseHeadersLength` property that controls how much data we'll buffer for the response headers before giving up.

The value is in KB, not bytes, so it's easy for users to set it way too high by mistake (e.g. #73848).
The default is 64 KB which should be plenty for the vast majority of use cases, but users sometimes choose to set it even lower.

I propose that we ad

[2022-09-06 16:23] vargaz commented on #74021
Might have been fixed by:
https://github.com/dotnet/runtime/pull/74796

[2022-09-06 16:26] vitek-karas commented on #75067
Moving this to Future for now since for so far this doesn't look like a bug in the product to me (just complex behavior , which is probably by design for now).

[2022-09-06 16:27] vitek-karas commented on #75062
Leaving open to try to get to the bottom of the installer behavior, but the product behavior is as expected.

[2022-09-06 16:30] antonfirsov commented on #42211
@CarnaViire is the crash I noticed #72696 or a new issue?

https://dev.azure.com/dnceng-public/public/_build/results?buildId=3446&view=logs&j=0da5d1d9-276d-5173-c4c4-9d4d4ed14fdb&t=1451f5f3-0108-5a08-5b92-e984b2a85bbd

[2022-09-06 16:30] lewing commented on #75123
@pavelsavara @lambdageek @kg this would be a good first issue for threaded js interop

[2022-09-06 16:30] tarekgh commented on #75087
I did some more investigation and here are some more details:

Starting from .NET 5.0, .NET started to use the ICU library instead of NLS Windows legacy APIs. The benefit here is .NET will be using the Unicode standard data and achieve consistency between different operating systems.

The current reported regarding the Burmese time format, this issue was in the ICU/CLDR. You may look at this cultu

[2022-09-06 16:31] karelz commented on #75134
Triage: Rare reliability problem. However, it is regression against 6.0. We should try to fix it in 7.0 if the fix is low-risk.

[2022-09-06 16:31] CarnaViire commented on #42211
Yes, that's https://github.com/dotnet/runtime/issues/72696. The fix is not merged yet, so it is bound to appear from time to time.

[2022-09-06 16:34] pinkfloydx33 opened #75139 "S.T.J. Source Generation serialization to stream fails for record types"
### Description

With System.Text.Json `7.0.0-preview.7.22375.6`, source generation fails to serialize to a `Stream` for `record` types with `JsonSourceGenerationMode.Serialization`. Serialization succeeds when serializing to a `string` or when changing the generation mode to `Metadata` or `Default`

I am not deserializing in my application, only serializing. I shouldn't need the constructor param

[2022-09-06 16:35] karelz commented on #75137
Triage: We believe it is going to help prevent mistakes by developers where they might thing the unit is Bytes, while we are multiplying it by 1024.

[2022-09-06 16:37] karelz commented on #74937
Triage: Looks environmental - CI and our machines work just fine. We should try to track it down on @steveharter's machine ...
Not critical for 7.0.

[2022-09-06 16:37] jkotas commented on #75005
We have known crashes and hangs on osx-x64. https://github.com/dotnet/runtime/issues/73299 is the top one.

osx-x64 is not officially supported in .NET 7. This does not need to be fixed in .NET 7.

We can disable this test for osx-x64 in servicing if it becomes a problem.

[2022-09-06 16:41] karelz commented on #75115
Triage: We should look at how we deal with these things in `HttpClient` and `SslStream` callbacks.
- `HttpClient` wraps it with `HttpWebRequest` exception (per @MihaZupan).

Note: We might still decide to wrap exceptions in QUIC APIs.

[2022-09-06 16:50] vargaz commented on #73304
Does this still happen with the latest 7.0 rc ?

[2022-09-06 16:52] tarekgh commented on #74794
@danmoseley when running on ICU we don't read the system settings https://github.com/dotnet/runtime/blob/2a747212d2bf60b633a567b8992b06ceab3bb85f/src/libraries/System.Private.CoreLib/src/System/Globalization/CalendarData.Icu.cs#L88.

It looks like this was the original behavior when started using ICU as we were supporting non-Windows platforms only with ICU. Nothing prevent us now to try to read t

[2022-09-06 16:56] karelz commented on #74568
Triage:
- We agree that `Stream.ReadTimeout` and `Stream.WriteTimeout` should NOT apply to async operations.
- We agree `HttpClient.Timeout` should NOT extend to stream read/write operations. It would break WebSockets, YARP and other customers.
- We agree that handling these timeouts only via cancellation is less than ideal and perhaps we should have something more user friendly exposed. E.g. some

[2022-09-06 16:57] layomia commented on #74852
We won't fix this in 7.0 at this point but we'll work on a fix in 8.0 and backport as appropriate.

[2022-09-06 17:09] danmoseley commented on #74794
OK, I'll open an issue to consider, as this is quite separate from what if anything is decided for cookies here.

[2022-09-06 17:12] matouskozak opened #75144 "Code duplication between amd64 and arm64 intrinsics"
There is a lot of arm64 code inside mini-llvm.c that could be used for amd64. For example the OP_ARM64_XNEG:

https://github.com/dotnet/runtime/blob/2a747212d2bf60b633a567b8992b06ceab3bb85f/src/mono/mono/mini/mini-llvm.c#L10516-L10533

which could be used for emitting negation on amd64 as well. Maybe we could reorganize the code so that it could be used on other platforms as well.

[2022-09-06 17:14] SamMonoRT commented on #75144
cc @jandupej @vargaz

[2022-09-06 17:16] bartonjs commented on #67082
Looks good as proposed

[code]

[2022-09-06 17:22] layomia commented on #73992
In .NET Core 3.1 the serializer failed early with OverflowException due to faulty buffer growth logic. This bug has since been fixed (https://github.com/dotnet/runtime/pull/1308) and an explicit OOM is thrown instead, hence the perceived behavior change.

A “hang” here is the serializer being slow to serialize the data, but in all cases it eventually completes with OOM, not a stack or numeric over

[2022-09-06 17:32] JulieLeeMSFT commented on #75100
cc @BruceForstall @dotnet/jit-contrib.

[2022-09-06 17:34] vcsjones commented on #67082
@bartonjs i have a branch for this, so removed [help wanted].

[2022-09-06 17:37] JulieLeeMSFT commented on #74280
@jkoritzinsky, did you have a chance to look into this?

[2022-09-06 17:46] JulieLeeMSFT commented on #74130
Reassigned this to @jakobbotsch.

[2022-09-06 17:54] bartonjs commented on #72625
* ToImmutableAndClear, as proposed, has a problem where when Capacity==Count Capacity changes to 0, and otherwise it remains.
* We instead think the "do the cheapest thing possible" would be DrainToImmutable, always making Capacity 0 as a result of being called.
  * We debated many verbs (Drain, Extract, Empty) and prefix vs post-fix, but prefix matched the existing MoveToImmutable vs ToImmutable

[2022-09-06 17:56] danmoseley opened #75148 "Consider increase to TwoDigitYearMax"
TwoDigitYearMax is the century assumption we use when parsing a date string with a two digit year. Currently all our calendars seem to use 29, ie., 29 implies 2029 but 30 implies 1930. [This ](https://docs.microsoft.com/en-us/office/troubleshoot/excel/two-digit-year-numbers#using-the-regional-settings-in-control-panel) suggests back in Windows 98, Windows chose 29 and that's where we got 29 from.

[2022-09-06 17:57] danmoseley commented on #74794
Opened https://github.com/dotnet/runtime/issues/75148. Incidentally I noticed [RFC3339](https://www.rfc-editor.org/rfc/rfc3339#page-4) says

         received, it should be accepted ONLY if an incorrect
         interpretation will not cause a protocol or processing failure
         (e.g. if used only for logging or tracing purposes).

[2022-09-06 18:02] BruceForstall opened #75150 "superpmi: add collection of run of libraries tests"
Based on the work in https://github.com/dotnet/runtime/pull/74961, add a job to the superpmi collection pipeline to collect a run (not just PMI or crossgen2) of the libraries tests.

[2022-09-06 18:02] bartonjs commented on #68616
Based on low current demand, and there being arguably better alternatives already implemented (such as xxHash32), this doesn't seem like a thing we should be adding at this time.

(If this makes you sad and you really wanted this, then please speak up.)

[2022-09-06 18:02] #68616 closed

[2022-09-06 18:03] CarnaViire commented on #74896
Also hit in #74669 ([log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-74669-merge-aebbdcb8ec304fd898/System.Net.Http.Functional.Tests/3/console.1eea56ed.log?helixlogtype=result)) and #74645 ([log](https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-74645-merge-d8e88aef58c34b8983/System.Net.Http.Functional.Tests.Attempt.3/3/console.be2

[2022-09-06 18:06] liveans commented on #72177
I tried to reproduce the issue with both given project and steps, but I couldn't be able to.

[2022-09-06 18:09] jkoritzinsky commented on #74280
I'll take a look today.

[2022-09-06 18:09] karelz commented on #72177
@shadow-cs are you able to reproduce the problem on more than 1 machine? -- looks like we can't reproduce it :(

[2022-09-06 18:11] CarnaViire commented on #72696
Reopening for 7.0 backport

[2022-09-06 18:16] wfurt commented on #74795
I will try it with the fresh docker. I was talking to @MattGal last week how Helix orchestrates the test runs in docker but I was out on Friday and yesterday.

[2022-09-06 18:19] tarekgh commented on #75148
My preference here is trying to read the settings when running on Windows. And we change the default values to `49` as it is reasonable number to me. `68` can be ok too. If we go with that, we'll need to document that as a breaking change and update any existing docs as needed.

[2022-09-06 18:20] lambdageek opened #75152 "[wasm-mt] Settle on MonoWasmBuildVariant to control build variants"
Instead of `WasmEnableThreads=true` (resp `WasmEnablePerfTracing=true`) just use `MonoWasmBuildVariant=multithread` (resp `MonoWasmBuildVariant=perftrace`) everywhere.  I'm not sure why we need two mechanisms for doing the same thing.

[2022-09-06 18:21] lambdageek commented on #75152
We should hold off on this until net7 is done. There's value in being able to backport from `main` to `release/7.0` right now

[2022-09-06 18:22] Clockwork-Muse commented on #75148
RPGLE uses a [cutoff of 39](https://www.ibm.com/docs/en/i/7.4?topic=formats-date-data-type#ddate) (In case we should possibly consider interactions with some "legacy" systems)
DB2 SQL uses [the first two digits of the current year](https://www.ibm.com/docs/en/db2/11.5?topic=functions-timestamp-format)
SQL Server uses a [cutoff of 49](https://docs.microsoft.com/en-us/sql/database-engine/configure-w

[2022-09-06 18:23] kg commented on #75123
I wonder if unhandled exceptions in workers get forwarded to the console during tests?

[2022-09-06 18:28] wfurt commented on #74970
We could @danmoseley. But that seems line unnecessary complication. The decision on failure is somewhere else so we would need to check if we _would_ fail and then we would need to spit it out before actual failure. AFAIK we don't store this anywhere in Kusto so I really see no penalty for using `ITestOutputHelper`. It is not just this particular test. If we have real concern. we should fix Unit I

[2022-09-06 18:28] bartonjs commented on #73583
* Rather than take a breaking change here, it seems less confusing to just expose a new comparer for the concept.

[code]

[2022-09-06 18:29] stephentoub commented on #74771
I spent a bit more time running various tests.  I suspect this is actually not related to the Replace PR and instead related more to something allocation-related, like regions in .NET 7.  I see comparable regressions with these:
[code]

|          Method |  Runtime |      Mean | Ratio |
|---------------- |--------- |----------:|------:|
|    WithContent1 | .NET 6.0 | 105.97 ns |  1.00 |
|    WithC

[2022-09-06 18:30] danmoseley commented on #75148
A (weak) argument for 69 is that the start of the Unix epoch is 1970.

[2022-09-06 18:31] halter73 commented on #74755
What is this error currently reported with? `QuicError.AddressInUse`? That's what I'd expect.

Wouldn't it be weird for the following not to retry just because I specified an ALPN protocol while binding?

[code]

Do we just stop ever using `QuicError.AddressInUse` when you're binding with ALPN in the same process?

If the problem is what's described in #73045:

And.

That can easily be fixed by us

[2022-09-06 18:31] perjahn commented on #75073
Yes, it's reproducible with .net7. I've tested with the latest mcr.microsoft.com/dotnet/nightly/sdk docker image, and using TargetFramework net7.0. Running this image on both macos and kubuntu.
Kubuntu/x64 had dotnet 7.0.0-rc.1.22409.3 in the docker image and Macos/arm64 had dotnet 7.0.100-rc.1.22415.4 in the docker image. Same problem when running a console app with "dotnet run" and exiting it ab

[2022-09-06 18:32] bartonjs commented on #73842
Looks good as proposed

[code]

[2022-09-06 18:33] CarnaViire commented on #74896
@MihaZupan I meant specifically a "timeout from inactivity". Because there were a bunch of different failures as well

[2022-09-06 18:37] bartonjs commented on #74085
Looks good as proposed

[code]

[2022-09-06 18:39] tmat opened #75154 "EnC: Update metadata when entities are deleted in an EnC edit"
Roslyn now allows to delete type members. Deleted method bodies are updated to throw MissingMethodException or to call to the new method (WIP). The deletions are however not reflected in metadata returned by Reflection which may affect Frameworks that depend on Reflection information.

Consider adding a naming convention for names of deleted members that Roslyn can use to mark deleted members and

[2022-09-06 18:41] tmat commented on #75154
@tommcdon @lambdageek

[2022-09-06 18:45] MichalPetryka commented on #74771
Does disabling GC regions help?

[2022-09-06 18:52] bartonjs commented on #24460
Looks good as proposed

[code]

[2022-09-06 18:53] danmoseley commented on #74970
Whatever you prefer is of course fine by me.

@MattGal can you confirm that stuff inside (in xunit terms)  `<output>` in testResults.xml is not ingested into Helix/Kusto systems?

[2022-09-06 18:54] jammehcow commented on #75049
Running on my local machine it would've had access to all 32GB - container or native. I can try reducing it later today.

Interested as to why this was assigned to the 8.0.0 milestone as it's a regression that will impact .NET 7

[2022-09-06 18:54] tommcdon commented on #75154
cc @mikelle-rogers

[2022-09-06 18:58] MichalPetryka commented on #75049
Does disabling GC regions with `DOTNET_GCName=clrgc` remove the issue?

[2022-09-06 18:59] pjcollins opened #75155 "NetworkInterface.GetPhysicalAddress().GetAddressBytes() seems problematic with LLVM enabled on Android x86_64"
### Description

We have a test in xamarin-android that [compares network interface information](https://github.com/xamarin/xamarin-android/blob/5ebac332adc967b944d5f893ebc73c266ef62624/tests/Mono.Android-Tests/System.Net/NetworkInterfaces.cs#L105) obtained from mono vs java that is producing inconsistent results. When this test runs on an x86_64 emulator without AOT+LLVM enabled it passes, but wh

[2022-09-06 19:04] bartonjs commented on #33805
Seems good as proposed.  Steve and Stephen pointed out that it's eventually a problem beyond performance, so the category is now Reliability.

* Analyzer to detect when Task.Delay with no cancellation token is used in Task.WhenAny, using the next available diagnostic ID.
* A fixer which suggests to use WaitAsync with a timeout over the WhenAny approach, in the cases where it is safe to do so (and

[2022-09-06 19:10] rzikm commented on #74755
It used to be QUIC_STATUS_INVALID_STATE I think, but MsQuic changed it on our behalf (added QUIC_STATUS_ALPN_IN_USE). Now System.Net.Quic throws QuicException with QuicError.InternalError.

This will only occur if you explicitly specify the port, i.e. if you explicitly try to listen on a port that an existing QuicListener in the process is listening. If you don't specify a port, then I assume MsQu

[2022-09-06 19:10] steveisok commented on #67583
@simonrozsival can you please help out with this one?

[2022-09-06 19:11] mangod9 commented on #75049
yeah please try with lower limits. Current thinking is that with reasonable limits you shouldnt be seeing a regression in 7.

[2022-09-06 19:16] halter73 commented on #74755
I see System.Net.Quic as a thin wrapper around msquic, so I agree we should avoid reporting a different error if possible.

That's why I cc'd some msquic folks. Does msquic really need to provide a new status for this? I'm not sure why you need to programmatically distinguish these error cases. It only happens if there's an in-process conflict, right? App developers can synchronize and avoid these

[2022-09-06 19:29] layomia commented on #73992
We might want to also consider a quality of life improvement to throw an exception sooner.

[2022-09-06 19:33] SingleAccretion opened #75157 "Performance regressions from #74665 and #74777"
- https://github.com/dotnet/runtime/pull/74665#issuecomment-1238400852
- https://github.com/dotnet/runtime/pull/74777#issuecomment-1238397104

These need to be investigated and fixed (this may prove challenging for the first set; the presumed source is a correctness fix).

category:performance
theme:benchmarks
skill-level:intermediate
cost:small
impact:small

[2022-09-06 19:36] layomia commented on #75139
Fast-path logic isn't used for async serialization. Due to the overload being used, the serializer assumes an async mode and wants to fall back to metadata-based serialization, hence the exception. I'm looking into whether we can use fast-path in this case since it is "sync-over-async". If not, we might just improve the exception message here.

[2022-09-06 19:43] elinor-fung commented on #74418
I had been trying to get a local repro without much luck using .NET 6.

I switched to 3.1 and was able to repro. Haven't had a chance to look more, but the trace looks similar, where `stat64` returns 0, but we don't attempt opening the runtime config.
[code]

For .NET 6 (where it is working for me), we end up calling `lstat64` and do open/read the runtime config:
[code]

We did have a [fix in 6.0]

[2022-09-06 19:45] nibanks commented on #74755
I do think it's worth distinguishing the error conditions, because there is another aspect. If you're in the same process, then MsQuic can multiplex different apps, so you would get `AlpnInUse`. If you're in different processes, then you'll get `AddressInUse` because another process has the UDP port already.

[2022-09-06 19:50] elinor-fung commented on #74418
Also checked that I could only repro on 32-bit ARM (used the arm32v7/debian:buster docker container). I wasn't able to repro with arm64 or x64.

[2022-09-06 19:53] steveharter commented on #74937
Additional info:

Both the `true` and `false` argument for the test case input fails when debugging.

Run root exception causing the test to fail is `System.Security.Cryptography.CryptographicException: 'Access is denied.'` with this call stack
[code]

[code]

However, `CryptographicException: 'Access is denied.'` also occurs during test start-up in `System.Net.Quic.Tests.CertificateSetup()`, but

[2022-09-06 19:57] layomia commented on #75139
Marking this as 8.0 given that there's a workaround for 7.0 (using a different generation mode).

[2022-09-06 19:58] wfurt commented on #74937
nice, thanks for the update @steveharter. It seems like we should deal with the error and skip the test when we cannot add needed certificates. Can you pass tests in `System.Net.Security/tests/FunctionalTests` ???  There is similar pattern and I'm wondering if it works there or not.

[2022-09-06 20:04] shadow-cs commented on #72177
@karelz yes at least on our production server and my development laptop (haven't tried more). Is there a problem with the repro I submitted?

[2022-09-06 20:05] AntonLapounov commented on #69192
No repro since June 18th?

[2022-09-06 20:06] MattGal commented on #74970
Correct, I think because often times this would be excessive to fit into the Kusto DB.  One can easily get back the result XML though for reading this as needed.

[2022-09-06 20:06] pinkfloydx33 commented on #75139
I'm actually using the async overload in my project. I figured they have the same bits since they both throw, so didn't bother including both in the repro.

Either way, makes sense. Thanks for looking.

[2022-09-06 20:08] mangod9 commented on #74178
Not actionable at the moment. Local repro attempts have been unsuccessful. We could reopen if we rehit with RC1 sdk.

[2022-09-06 20:08] #74178 closed

[2022-09-06 20:14] mangod9 commented on #69192
Ok to close then and re-evaluate if it shows up again.

[2022-09-06 20:14] #69192 closed

[2022-09-06 20:14] wfurt commented on #72177
Timing? The original post says you use `WinHttpHandler` @shadow-cs but the traces looks like `SocketsHttphandler`....????

[2022-09-06 20:19] jkoritzinsky commented on #74280
Both of these are test issues. Re-labeling as such and moving to .NET 8.

[2022-09-06 20:21] jkoritzinsky commented on #74280
For more information when we get back to fixing these tests:

1. This test currently is actively getting the signature wrong, so a failure here is expected. We should look at re-writing these tests to not mess up the stack.
2. The DllImports here have the wrong calling convention on Win-x86. They should be explicitly cdecl, not WinAPI (stdcall on windows, cdecl on non-windows).

[2022-09-06 20:21] steveharter commented on #74937
Also note that the tests pass when running in administrator mode. They fail when running as current user, although I am an admin on the machine.

In Sytem.Net.Security.Tests I do also get an auth failure that doesn't occur is running as admin:
[code]

[2022-09-06 20:23] David-Engel commented on #73779
I don't see this happening any time soon. As Wraith2 said, this has some technical blockers in that the server doesn't surface the information in a guaranteed way that the client can rely on to implement it.

[2022-09-06 20:25] wfurt commented on #75079
This is likely regression from #57079.
Setting this should workaround it @kristjanjogi-msft.
[code]
I have repro and I'm going to investigate root cause.

[2022-09-06 20:40] lambdageek commented on #74654
I'm not sure how to fix

As far as I can tell the file is in the template directory https://github.com/dotnet/runtime/tree/main/src/mono/wasm/templates/templates/browser

Note also that `README.md` didn't get installed either.  Do we need to do something to `.template.config\template.json` ?  I think the default `sources.include` should have copied us.  And neither `*.md` or `runtimeconfig.templat

[2022-09-06 20:42] mangod9 commented on #75104
@kouvel to provide some guidance.

[2022-09-06 20:45] mangod9 commented on #74792
@trylek / @AlekseyTs is this required for 7?

[2022-09-06 20:47] lambdageek commented on #74654
@sayedihashimi Do you know why `dotnet new wasmbrowser` wouldn't install `runtimeconfig.template.json` from our template https://github.com/dotnet/runtime/tree/main/src/mono/wasm/templates/templates/browser by default?  Should we be using `sources.copyOnly` ?

[2022-09-06 20:52] trylek commented on #74792
Well, there isn't a specific fix here, I just made a regression test and used it to double-check that the test now passes, I assume that means that the fix, whatever it was, has made it into .NET 7. I'm not sure if it makes sense to backport the regression test as such; I would assume that if someone in the future breaks it, they will see it from a PR failure and fix it before backporting their ch

[2022-09-06 21:00] stephentoub commented on #74771
Latest RC2:

|          Method |      Mean |
|---------------- |----------:|
|    WithContent1 | 121.54 ns |
|    WithContent2 | 121.04 ns |
| WithoutContent1 |  95.10 ns |
| WithoutContent2 |  93.52 ns |

Latest RC2 w/ DOTNET_GCName="clrgc.dll"

|          Method |      Mean |
|---------------- |----------:|
|    WithContent1 | 107.23 ns |
|    WithContent2 | 108.93 ns |
| WithoutContent1 |  87.1

[2022-09-06 21:04] sayedihashimi commented on #74654
@lambdageek do you have a nuget package that I can try out? Or is there some specific steps that I should follow to try it out?

[2022-09-06 21:06] Rarisma commented on #51574
The lack of a framework package has directly affected me and if one was made available it would make my life easier.

[2022-09-06 21:08] joperezr commented on #75114
Oh, I also missed the fact that this is in the wrong repo. Will transfer to dotnet/iot. I already sent an internal email to API Review board to get it on the books.

@danmoseley I don't think we need to have API Review monitor dotnet/iot as most of the API changes we make don't go through API Review. This particular one is a rather impacting one that could use expert's advice, which is why we are

[2022-09-06 21:13] tarekgh commented on #75040
@carlossanlop do you see this happened again or just one failure instance? looks not a real failure and something was happening during the run.

CC @MattGal @dotnet/dnceng any idea what could be the problem?

[2022-09-06 21:14] MattGal commented on #75040
This is the second time, out of many thousands of instances, that I've seen this.  I think it's a very brief transient issue in certificate validation happening but without a repro it's quite difficult to investigate.

[2022-09-06 21:19] David-Engel commented on #70989
I just tried to reproduce this by copying and pasting your code into two new projects and database creation succeeded using both .NET Core 3.1 and .NET 6 using the same relative path that included `..\..\..`. Given that the SqlClient library is just passing that entire string straight to the server, I'm not sure how this could be a bug in that library. Are you sure the only difference was the .NET

[2022-09-06 21:25] sayedihashimi commented on #74654
@lambdageek I cloned the repo and ran `dotnet pack` in the `runtime\src\mono\wasm\templates` folder to create the nuget package. I used `dotnet new --install` to install and try out the `wasmbrowser` template. It appears to be dropping that file, see the gif at the end of this. You may be running into a caching issue. There are two levels of caches when working with NuGet packages, the NuGet cache

[2022-09-06 21:46] steveharter commented on #74938
I believe this is an issue with the benchmarks. Running locally the benchmarks can vary wildly. If I add a counter of `100,000` to the loop, the results are more consistent. Here's a couple runs:

[code]

where the `runtime` folder is the "after": https://github.com/dotnet/runtime/commit/6c3c2347bd99582fc42a62e5b68edba2e0ab1483
[code]
and the `runtime10` folder if the commit just "before": https:/

[2022-09-06 21:47] steveharter commented on #74938
I'll look into having a more stable benchmark.

[2022-09-06 21:55] carlossanlop opened #75164 "CI failure in System.Net.Http.Functional.Tests.SocketsHttpHandler tests"
17 networking tests were hit in this unrelated release/7.0 backport PR: https://github.com/dotnet/runtime/pull/75042

@dotnet/ncl Can you please help determine if this issue needs a fix backported to 7.0?

Queue: Libraries Test Run release coreclr Linux x64 Debug
Job results: https://dev.azure.com/dnceng-public/public/_build/results?buildId=3827&view=logs&j=71afe768-e493-597c-228c-037834193aeb&t=f

[2022-09-06 22:01] tarekgh commented on #75040
Thanks @MattGal. I am closing it as it looks like no action for now. We can look more if we get it again.

[2022-09-06 22:01] #75040 closed

[2022-09-06 22:04] carlossanlop commented on #75005
For the record, I am seeing it again in another release/7.0 PR: https://dev.azure.com/dnceng-public/public/_build/results?buildId=3827&view=logs&j=2de479a8-eae7-5324-c49d-bebaef329288&t=bb577e75-8247-55f1-4164-04f3b0f2d1eb

@jkotas  @MichalStrehovsky if it's not officially supported, can you please disable the tests in 7.0? Feel free to reopen this issue so the PR resolved it.

[2022-09-06 22:25] mangod9 commented on #74771
some of similar smaller microbenchmarks have regressed based on GC writer barrier work. Please see: https://github.com/dotnet/runtime/issues/74014. @PeterSolMS has investigated and determined that the write barrier work should help with most real world workloads. Does `COMPLUS_GCWriteBarrier=3` help improve perf for this?

@dotnet/gc

[2022-09-06 22:27] mangod9 commented on #74792
So ok to close this or any action is still pending for this issue?

[2022-09-06 22:34] alhimik45 opened #75166 "PauseWriterThreshold and ResumeWriterThreshold options of PipeOptions not validated properly"
### Description

It is possible to pass values of _ResumeWriterThreshold_ and _PauseWriterThreshold_ that causes program to hang. There is a check that disallows _ResumeWriterThreshold_ to be greater than _PauseWriterThreshold_ ([code](https://github.com/dotnet/runtime/blob/108d82802754e81e972079fc17c5bcab283031b6/src/libraries/System.IO.Pipelines/src/System/IO/Pipelines/PipeOptions.cs#L66)), but

[2022-09-06 22:42] AaronRobinsonMSFT commented on #74694
Moving this to .NET 8 for now.

[2022-09-06 23:01] halter73 commented on #74755
I understand that in theory you could listen on the same address using a different protocol to avoid the conflict if you're in the same process. I do not think that's worth a separate status.

I think this will likely lead to more bugs in code that assumes `catch (QuicException ex) when (ex.QuicError == QuicError.AddressInUse)` is sufficient to catch all address conflicts. And what code is going t

[2022-09-06 23:03] wfurt commented on #75164
[code]
looks particularly weird. Looks like some environmental problem to me. either unrelated load on the system or network connectivity issues.

[2022-09-06 23:05] stephentoub commented on #74014
Have we seen any impact on ASP.NET apps that are optimized to reduce allocation? Based on this description, I'd expect some of those workloads that are tuned to avoid allocating and instead do lots of pooling will end up taking a hit.
cc: @davidfowl

[2022-09-06 23:05] JamesNK commented on #75086
Yes. Grpc.Net.Common and Grpc.Net.Client have multiple targets. The .NET Standard 2.0 target doesn't have `DeflateCompressionProvider`. For some reason the netstandard2.0 `Grpc.Net.Common` is being restored with net6.0 `Grpc.Net.Client`.

There is no reason to open a bug in grpc-dotnet because this isn't a bug in grpc-dotnet. Something is wrong with how NuGet is restoring assemblies. And a custom

[2022-09-06 23:08] joperezr commented on #70754
PR isn't merged yet 😄. PR should be ready to go but I'm still waiting on making sure that all upstack repos have ingested an arcade update that will bump their compiler and SDK versions so that they'll be able to ingest the new source generators.

[2022-09-06 23:09] antonfirsov commented on #61840
I opened https://github.com/dotnet/dotnet-api-docs/pull/8363 and https://github.com/dotnet/docs/pull/31029.

After reading the thread, I actually think it would make sense to follow up on https://github.com/dotnet/runtime/issues/61840#issuecomment-1011903215, and consider fully matching the curl behavior. This is reflected in the wording of my doc change proposal.

/cc @wfurt

[2022-09-06 23:10] lambdageek commented on #74654
Thanks @sayedihashimi, I'll try your simplified repro steps. It's entirely possible that it's some old cache on my machine. (Our existing repro steps involve a local .net sdk install followed by workload installation from artifacts/, so it may be that my local install has some older bits in it)

[2022-09-06 23:10] trylek commented on #74792
I concur with @AlekseyTs's comment that

32817.501.main]) and it runs fine. I guess, it should be fine to add the test and close the issue as fixed.

[2022-09-06 23:10] #74792 closed

[2022-09-06 23:10] elinor-fung commented on #75062
The ASP.NET runtime installer only includes the ASP.NET runtime, not .NET runtime, while the hosting bundle (for example, from the Hosting Bundle link on https://dotnet.microsoft.com/download/dotnet/6.0) includes both the ASP.NET and .NET runtime. I believe this is intentional - @wtgodbe can confirm.

[2022-09-06 23:11] Beau-Gosse-dev commented on #70848
Closing this since we're working towards enabling static builds starting with this PR https://github.com/dotnet/runtime/pull/72896 more details here: https://github.com/dotnet/runtime/blob/main/src/coreclr/nativeaot/docs/compiling.md#using-statically-linked-icu

Eventually, we hope to add other libraries outside of libicu

[2022-09-06 23:11] #70848 closed

[2022-09-06 23:12] wtgodbe commented on #75062
That's correct

[2022-09-06 23:13] joperezr commented on #74992
@SteveSyfuhs thanks for the reply. @youss2017 even if the issue gets closed, you can still post how you worked around your issue. If it's ok with you, I'd rather close this issue for now due to housekeeping purposes, but feel free to re-open or comment after the issue gets closed.

[2022-09-06 23:13] #74992 closed

[2022-09-06 23:15] BruceForstall opened #75169 "Remove Arcade HelixResultsDestinationDir workaround"
Due to a bug in the implementation of `HelixResultsDestinationDir`, many superpmi and related .proj files in the src\coreclr\scripts directory contain explicit code to set this variable, namely:
[code]

After https://github.com/dotnet/arcade/pull/10630 is available, this should no longer be necessary, as the default is set to exactly this value.

When https://github.com/dotnet/arcade/pull/10630 pr

[2022-09-06 23:16] joperezr commented on #74868
Thanks for the report @madelson, and also for checking when did this regressed. From your original post though, I see that this issue was present in .NET 6 (meaning it wasn't a regression from .NET 6 to .NET 7), so I'm going to move this issue out of .NET 7 by setting the milestone to .NET 8 for now. Thanks again for working on this!

[2022-09-06 23:19] joperezr commented on #74918
Thanks for the report @madelson. Let us know if you are interested in throwing in a PR for this fix as well 👍

[2022-09-06 23:23] maxcoh3n opened #75170 "Chain.build() fails for custom certs in certain environments"
My company is using custom certs to verify our internal servers, and after upgrading to gRPC dotnet, we tried to implement this ServerCertificateCustomValidation Callback:
https://stackoverflow.com/questions/64905704/using-custom-root-ca-with-httpclient

While this works locally, it breaks when running from a gitlab pipeline.
The automatically created X509Chain.ChainStatus object that is created f

[2022-09-06 23:26] lambdageek commented on #75154
Mono has had this code since time immemorial (but only for fields, not methods, properties, events, etc):

[code]

Perhaps we could formalize something like this?  (on the other hand, this affects more than reflection in Mono, it's also used in the instance layout calculation, for example)

In any case, the "special name" flags on members might be useful

[2022-09-06 23:26] #45613 closed

[2022-09-06 23:26] Maoni0 commented on #75049
hi @jammehcow would you mind telling me how much value we are seeing for the GC heap usage? you could get it via sos's !eeheap -gc command (it should print out how much is committed for the whole GC heap in the last line).

[2022-09-06 23:27] vcsjones commented on #75170
It sounds like you have an incomplete certificate chain that sometimes works because AIA fetching is performed, and other times it does not work because AIA fetching fails, or perhaps your local environment has the intermediate certificate in the system cache.

If you have intermediate certificates, you can specify them on the [`ExtraStore`](https://docs.microsoft.com/en-us/dotnet/api/system.secur

[2022-09-06 23:33] sayedihashimi commented on #74654
@lambdageek after you give it a try, let me know if you have any more questions.

[2022-09-06 23:38] trantamcdt92 commented on #75120
@Therzok  yes, I know. I'd like to confirm whether using System.IO.Ports on MacOS is OK?

[2022-09-06 23:43] madelson commented on #74868
@joperezr it isn't a regression from 6->7, but it _is_ a regression from the previous LTS release (3.1) to the current LTS release (6). I imagine that the bar is too high to consider backporting this to 6 but given the severity of the issue if you encounter it (deadlocking the app) and the fact that apps may be unprepared for this given its previous fix, it would be nice to at least consider that.

[2022-09-06 23:45] madelson commented on #74918
@joperezr sure I'll put together a quick fix for this!

[2022-09-06 23:48] nibanks commented on #74755
IMHO, most apps fall into the following buckets:

1. Bind to a protocol specific port. Only that work can be used for the protocol.
2. Don't care. Let the stack pick.

In case (1) both `AlpnInUse` and `AddressInUse` are fatal errors. There is nothing else to do. No point in retry with the general assumption the current own is likely still going to be using it. In case (2) the errors won't occur be

[2022-09-06 23:49] joperezr commented on #74868
That's right, I didn't mean that this shouldn't get fixed in servicing, sorry for not making that clear. What I meant was that the fix is likely not going to hit .NET 7 before we ship, so I just adjusted the milestone to vNext for now. The process to get this regression fixed in servicing would be to:
1. Fix the issue in main branch (which today means 8.0 and the reason why I picked that milestone

[2022-09-06 23:53] MichalStrehovsky commented on #75005
This started happening around the time background GC was enabled. I wonder if background GC made things worse for macOS. We can disable the test for mac but I wonder if we should consider disabling background GC on mac as well given people would still like to try using it (https://github.com/dotnet/runtime/issues/61231#issuecomment-1212875418). If the SharedLibrary test is crashing, the GC is prob

[2022-09-07 00:21] elinor-fung commented on #71288
I was actually playing with this a bit last week too. Didn't try anything with the .NET icon, since we don't include that with `apphost` to keep its size down and I don't think we want to introduce it just for this error.

Newer visual style via embedded manifest (not as exe/dll manifest) and activation context:
+1kB to Windows `apphost`
![image](https://user-images.githubusercontent.com/47805090/

[2022-09-07 00:34] AraHaan commented on #75069
The repo (aka the discord bot I use and should be small, excluding code generated by ``dotnet ef scaffold``): [MyBot.zip](https://github.com/dotnet/runtime/files/9501677/MyBot.zip)

Note: SQL Database connection strings is to my local PC and cannot be accessed externally from our own private wifi and I even use Windows Authentication so there is no risk for any passwords being leaked. Also a littl

[2022-09-07 00:35] mrsharm commented on #74771
Figured this was a good opportunity to make use of the new tooling we created during quality week that automates running microbenchmarks and generates comparative results. (CC: @dotnet/gc)

## Summary

I was able to repro this regression locally (.NET7 execution time is much higher than that of .NET6 for longer strings) where I ran all microbenchmarks matching the filter ``System.Tests.Perf_String

[2022-09-07 00:52] BruceForstall commented on #69807
Enabled by https://github.com/dotnet/runtime/pull/75167?

[2022-09-07 00:57] AndyAyersMS commented on #64626
Just looking at default behavior for now, locally I see 10% regressions vs .NET 6:

BenchmarkDotNet=v0.13.1.1847-nightly, OS=Windows 11 (10.0.22000.856/21H2)
Intel Core i7-8700 CPU 3.20GHz (Coffee Lake), 1 CPU, 12 logical and 6 physical cores
.NET SDK=7.0.100-rc.1.22425.9
  [Host]     : .NET 7.0.0 (7.0.22.42316), X64 RyuJIT AVX2
  Job-LJOSDL : .NET 5.0.17 (5.0.1722.21314), X64 RyuJIT AVX2
  Job-UK

[2022-09-07 01:03] lambdageek commented on #74654
I'm all set. it works on another machine. I think I had an older build

[2022-09-07 01:25] #12098 closed

[2022-09-07 01:37] stephentoub commented on #74771
Not really, in fact it sometimes makes it worse. DOTNET_GCName="clrgc.dll" to disable regions consistently improves things:

|          Method |                             EnvironmentVariables |      Mean | Ratio |
|---------------- |------------------------------------------------- |----------:|------:|
|    WithContent1 |                         COMPLUS_GCWriteBarrier=3 | 118.50 ns |  1.05 |
|

[2022-09-07 01:40] AndyAyersMS commented on #74771
Seeing possibly similar issues over in #64626 (ignore the PGO aspect; we're regressed even w/o PGO).

[2022-09-07 01:42] radical commented on #74104
- I'm not able to reproduce this locally.
- it happens for `CopyTo`, `CopyToOverride`, and `ReadAllBytes`, but not always
- it happens only with `wasm/AOT`
- I *think* the exception is thrown from the `SetupReadAllBytes` method:

https://github.com/dotnet/performance/blob/5f63e8dcf81a0f9ddf5a80bd791d1fbaf0babd61/src/benchmarks/micro/libraries/System.IO.FileSystem/Perf.File.cs#L92-L113

.. and all

[2022-09-07 02:11] stephentoub opened #75175 "Consider adding more IndexOf variations"
Searching is a key aspect of many workloads.  Historically, we provided just the variations that everyone needed, e.g. IndexOf.  Then we expanded to IndexOfAny with a few arguments.  We just recently expanded to IndexOfAnyExcept.  But beyond these, our general stance has been "if you need something any more customized, it's easy to just write it yourself".  And historically, it has been easy.  Let

[2022-09-07 02:29] elinor-fung commented on #74418
For the repro I had with 3.1, the `stat` call was failing with `Value too large for defined data type`. In 6.0+, we have https://github.com/dotnet/runtime/blob/71adfb003aa57f4c8801fc9079c9339342c58524/eng/native/configurecompiler.cmake#L307
I verified that if I rebuild 3.1 sources for `hostfxr` with that define and patch my 3.1 install, my repro goes away. Since you mentioned consistently hitting

[2022-09-07 02:38] eerhardt commented on #75069
Is there any way you can narrow the repo down further? There aren't many of us that can take the time to learn how to create a discord bot and test Discord server.

Eliminating all external dependencies is ideal, if possible.

[2022-09-07 02:52] jkotas commented on #75175
An alternative to providing number of specialized APIs may be to create a source generator or something like that that produces the vectorized version from the simple form.

[2022-09-07 02:54] jkotas commented on #75175
https://www.microsoft.com/en-us/research/wp-content/uploads/2016/07/SimdSynth.pdf

[2022-09-07 02:59] v-wenyuxu commented on #74631
Failed again in: [runtime-coreclr outerloop 20220906.3](https://dev.azure.com/dnceng-public/public/_build/results?buildId=6005&view=ms.vss-test-web.build-test-results-tab&runId=113080&resultId=106153&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-09-07 03:01] v-wenyuxu opened #75177 "Test failure JIT\\Regression\\JitBlue\\GitHub_17777\\GitHub_17777\\GitHub_17777.cmd"
Run: [runtime-coreclr outerloop 20220906.3](https://dev.azure.com/dnceng-public/public/_build/results?buildId=6005&view=ms.vss-test-web.build-test-results-tab&runId=112982&resultId=103266&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-09-07 03:02] stephentoub commented on #75175
It's an option; Tanner had a prototype of something similar.

But if it's possible to do that with perfect fidelity, it should be possible to do the same in the compiler/JIT with an auto-vectorizing implementation and save the dev the trouble. And if it's not possible with perfect fidelity and the generated code would be more of a starting point the dev would need to copy and mutate, it's not real

[2022-09-07 03:19] #75041 closed

[2022-09-07 03:29] jammehcow commented on #75049
@MichalPetryka  tested, no it does not.

@mangod9 setting explicit limits on a docker container greatly reduces the base memory usage - even if the explicit value is equal to the system's available memory:
![image](https://user-images.githubusercontent.com/4962764/188781470-47a64c0b-45ad-4eb9-bc4e-27ba55171067.png)

That's only for a container though - running outside of a container has the same h

[2022-09-07 04:09] danmoseley commented on #74104
@radical Dupe of https://github.com/dotnet/runtime/issues/73721 ?

[2022-09-07 04:10] danmoseley commented on #73721
Who owns next step on this one, and what is it?

[2022-09-07 04:13] vslee commented on #75070
Perhaps `TryDequeEnqueue()` could take an additional `bool` parameter which specifies whether to enqueue if there was nothing to dequeue first?

[2022-09-07 04:24] radical commented on #74104
Possibly, though here it runs with v8 instead of nodejs.
The code here just needs a random name for the file, but `Path.GetTempFileName` will try to create the file, and is probably running into this issue. I'll open a PR to update that.
Thanks @danmoseley!

[2022-09-07 04:32] tmds commented on #73721
I think the next step is to create our own random name function for wasm that has more entropy.

[2022-09-07 04:37] danmoseley commented on #73721
Yup. Anyone interested..

[2022-09-07 04:39] danmoseley commented on #73721
This, or some form of it, will need a backport into 7.0..

[2022-09-07 04:40] wfurt commented on #74795
I could reproduce it with `docker run`. I did not see any signs that either `MsQuic` or `Process` is misbehaving. (may be just timing difference) Interestingly, I could not reproduce it with `dotnet exec` (e.g. variant of running container with more tools)
I'll continue with investigation and I may try it with coreclr to see if `Mono` really matters.

[2022-09-07 05:28] v-wenyuxu commented on #74730
Failed again in: [runtime-coreclr gcstress0x3-gcstress0xc 20220904.1 ](https://dev.azure.com/dnceng-public/public/_build/results?buildId=4364&view=ms.vss-test-web.build-test-results-tab&runId=75524&resultId=107108&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-09-07 05:33] v-wenyuxu commented on #69092
Failed again in: [runtime-coreclr gcstress-extra 20220904.1 ](https://dev.azure.com/dnceng-public/public/_build/results?buildId=4488&view=ms.vss-test-web.build-test-results-tab&runId=77348&resultId=110587&paneView=debug)

Failed test:
[code]

**Error message:**
[code]

[2022-09-07 05:36] v-wenyuxu commented on #69092
Queued | OS | Arch | Column1
-- | -- | -- | --
2022-08-13T23:14:59.543Z | osx.1200.arm64.open | arm64 | [runtime-coreclr gcstress-extra   Checked-gcstress0xc_zapdisable](https://dev.azure.com/dnceng/public/_build/results?buildId=1942151&view=ms.vss-test-web.build-test-results-tab&runId=50057282&resultId=110931&paneView=debug)

[2022-09-07 05:36] deeprobin commented on #71288
The host size is basically decisive in the single file host.
For the normal apphost, I think we should prioritize convenience/UX over size.

+2kB to Windows apphost:

Looks also good to me. But I like the icon ;)

[2022-09-07 05:48] iSazonov commented on #74568
No, 3rd case cover all. Who will open new issue? I feel we need to discuss timeouts for CopyToAsync() in common since it has a loop with base operations (ReadAsync and WriteAsync) which we can not control with CopyToAsync() interface as needed. Then the solution for HttpClient will be clear too.

[2022-09-07 05:55] karelz commented on #72177
@wfurt original post mentions the problem is with `SocketsHttpHandler` and that `WinHttpHandler` is a workaround. What am I missing?

@liveans was not able to reproduce the problem with your repro @shadow-cs

[2022-09-07 06:01] karelz commented on #1511
@ryan-motive can you share some details about your scenario? Why do you need it? Is it server requirement you need to match?

[2022-09-07 06:02] #74662 closed

[2022-09-07 06:07] adamsitnik commented on #75073
@perjahn thank you for verification!

@tmds is there any chance you could take a look?

[2022-09-07 06:10] ryan-motive commented on #1511
It's not really relevant why I need it--the spec was written in 2015 and yet this part of the spec is still not supported by the .NET networking library. This seems like a pretty significant missing piece.

[2022-09-07 06:15] karelz commented on #1511
@ryan-motive I respectfully disagree. There are things RFCs specify which are rarely used and not all stacks implement them. We believe this might be one of them in HTTP/2 RFC.
In general, we prioritize work based on customer demand -- when we know about user scenarios requiring the features and/or when there are lots of +1s. If you want to help us prioritize the work in upcoming releases, then sh

[2022-09-07 06:28] tmds commented on #75073
I can't reproduce this on Fedora using .NET 7.
When I terminate the `dotnet run` using `Ctrl+C` the console echo is working.

When I do the same thing in a container, it also works.
I start my container using `podman run -ti mcr.microsoft.com/dotnet/nightly/sdk` and then use these commands:
[code]

Are these steps similar to what you are doing with `docker`?

For the `System.Environment.FailFast(s

[2022-09-07 06:30] ryan-motive commented on #1511
Then at a minimum make this the official policy and include it in the documentation so that we don't spend days digging through Github forums trying to figure out why the feature is not there.

[2022-09-07 06:39] karelz commented on #74568
@iSazonov why do you think we need to discuss `Stream.CopyToAsync` specifically?
I assume that once `ReadAsync` and `WriteAsync` are solved, that one should just built on them and therefore be addressed as well. Am I missing something?

I will file the issue.

[2022-09-07 06:41] rzikm commented on #73688
Reopening for servicing 7.0

[2022-09-07 06:47] iSazonov commented on #74568
@karelz We can use CTS with timeout for ReadAsync and WriteAsync in any scenario without problem - the timeout will terminate these methods. But if we use CST with timeout for CopyToAsync we can not control every ReadAsync and WriteAsync in the loop - the timeout will will only apply to the _whole_ cycle.

[2022-09-07 07:09] rzikm commented on #74732
Now that all changes are ported to docs (in https://github.com/dotnet/dotnet-api-docs/pull/8353), I am closing this as finished

[2022-09-07 07:09] #74732 closed

[2022-09-07 07:16] JulieLeeMSFT commented on #75177
@AndyAyersMS PTAL, cc @dotnet/jit-contrib.

[2022-09-07 07:16] Elufimov opened #75180 "cgrpoups v2 for dotnet 3.1"
I found this issue https://github.com/dotnet/runtime/issues/30337 and as far as I understand support landed in 5 and 6. Is there any chance of backport to 3.1?

[2022-09-07 07:36] maraf commented on #74352
I'm going to close this one as there isn't anything to do on our side.
Feel free to reopen if you have more questions.

[2022-09-07 07:36] #74352 closed

[2022-09-07 07:43] CommonLoon102 commented on #57365
So the issue is still there when hot reload takes minutes. Will it be fixed as part of this issue?

Issue is now part of .NET 8.0. Is this mean that real hot reload where we don't have to wait minutes for seeing the result of adding a class to a div takes 2 minutes will only happen in around 2024 November?

https://developercommunity2.visualstudio.com/t/Blazor-Net-Core-6-Slow-for-big-Projects/1645

[2022-09-07 07:52] pavelsavara commented on #75123
We improved it here https://github.com/dotnet/runtime/pull/74751

[2022-09-07 07:58] vitek-karas commented on #71288
Agree that we should not include the icon due to its size.
If we were to use TaskDialog I would remove the red cross icon - feels too jarring to me. I think a big (which this will be) dialog clearly explaining what the problem is looks better.
With TaskDialog I would also include the link the dialog redirects to in its text as a link (getting the URL the dialog points to is tricky since when opene

[2022-09-07 08:25] #75180 closed

[2022-09-07 08:26] tmds commented on #53550
@ericstj I'm source-building .NET 7 with https://github.com/dotnet/runtime/pull/74504 on an unknown distro (I changed my `/etc/os-release` to `Fedora 39`). Besides the PR, I made a change to source-build so it sets `RuntimeOS` to `linux` during the runtime build to make it use the `linux-x64` prebuilts/sdk.

The build passes.

The `shared/Microsoft.NETCore.App/7.0.0-rc.2.22451.11/Microsoft.NETCore

[2022-09-07 08:37] teo-tsirpanis commented on #75154
Can you rename the label to `area-EnC-coreclr` to match with the others' naming style (and I will keep only this because issues have only one area)? `docs/area-owners.md` needs to be updated as well.

[2022-09-07 08:42] krwq commented on #75066
I'm closing this issue in that case since this is by design. Feel free to open new issue in the [api-docs repo](https://github.com/dotnet/dotnet-api-docs)

[2022-09-07 08:42] #75066 closed

[2022-09-07 08:44] krwq commented on #75070
another option is to simply throw, if you're calling that API rather than just enqueue you most likely have bug in your app

[2022-09-07 08:48] simonrozsival opened #75183 "[wasm-mt] Some of the System.Xml.Tests.TC_SchemaSet_XmlResolver tests get stuck on Browser when multi-threading is enabled"
One of the `v4` and `v5` tests gets stuck when both of them run. Both of them pass when they run individually. I tried disabling parallelization but that didn't resolve the issue.

[2022-09-07 08:56] eiriktsarpalis commented on #75070
@RyanThomas73 for completeness, could you point out a couple of use cases/algorithms where using extract-then-insert is beneficial?

[2022-09-07 08:57] #69266 closed

[2022-09-07 08:57] #37150 closed

[2022-09-07 08:58] eiriktsarpalis commented on #75070
This method seems redundant. A `queue.Count > 0` check should suffice to verify that the operation will succeed.

[2022-09-07 09:01] eiriktsarpalis commented on #1566
Writing dedicated converters for nullable types is not recommended. Authoring a custom converter for the underlying struct should suffice, the generic nullable converter will compose with that.

[2022-09-07 09:09] rzikm opened #75184 "[API Proposal] QuicError.AcceptConnectionFailed"
# Background and motivation

Context: #75115

`QuicListener.AcceptConnectionAsync` can currently throw in the following cases:
- `QuicException` with `QuicError.OperationAborted` when the listener is disposed while there is a pending `AcceptConnectionAsync` call
- `ObjectDisposedException` if called after the listener was disposed
- `AuthenticationException` when the TLS handshake fails (e.g. due

[2022-09-07 09:12] eiriktsarpalis commented on #37483
I like the idea of using a per-type handler, but how would the JSON of the missing property be deserialized into an `object` if we're missing metadata on how to do it?

[2022-09-07 09:21] maraf commented on #75098
The log is missing line saying the the websocket is being loaded from the npm package.
Eg:

[code]

[2022-09-07 09:22] pavelsavara commented on #75098
case sensitive `WasmTestOnNodeJS` != `WasmTestOnNodeJs`

[2022-09-07 09:23] pavelsavara commented on #75098
I guess we have new combination in .yaml files ?

[2022-09-07 09:25] OskarKlintrot commented on #1566
And you can access the other converters from inside your converter (to avoid doing the convertion yourself if there's already a perfectly good converter at your disposal once you done with type checks or whatever you want to do):
[code]

[2022-09-07 09:27] vitek-karas commented on #75062
Thanks for confirmation - closing as resolved.

[2022-09-07 09:27] #75062 closed

[2022-09-07 09:31] eithe commented on #1566
Thanks @eiriktsarpalis and @OskarKlintrot, will edit.

[2022-09-07 09:54] pavelsavara commented on #73721
Fixing it upstream would take long time and we don't have easy way how to patch it in C code on our side.
Perhaps WASM specific version of `SystemNative_MkdTemp` would do it ?

[2022-09-07 10:33] karelz commented on #75184
LGTM, thanks @rzikm! @CarnaViire can you please take a look? cc @ManickaP if she will have time today.

[2022-09-07 10:47] karelz opened #75188 "HttpClient - provide timeout per read/write operation in async methods"
Users need timeout per read/write operation in async operations when using `HttpClient` -- i.e. on `HttpContent`:
Read/write operations can achieve it via CancellationTokens, however **`CopyToAsync`** has timeout only for the overall operation, not for individual read/write operations.

Note: `Stream.ReadTimeout` and `Stream.WriteTimeout` intentionally don't apply to async operations. Changing tha

[2022-09-07 10:52] karelz commented on #74568
Created #75188. Closing.

[2022-09-07 10:52] #74568 closed

[2022-09-07 10:56] karelz commented on #75115
Duplicate of #75184

[2022-09-07 11:03] JamesNK commented on #75184
Correct me if I’m wrong but I didn’t see a  QuicException ctor overload with an inner exception.

[2022-09-07 11:06] JamesNK commented on #75184
I don’t think it changes anything, but a 6th exception is probably OperationCanceledException if the CT passed to the method is canceled.

[2022-09-07 11:14] karelz commented on #74629
Triage: We plan to get the msquic change into 2.1.1 release.
@rzikm do you think we should start depending on the 2.1.1 version (on Linux), or is that not necessary? (aka users will see failures if they choose not to update msquic)

[2022-09-07 11:16] rzikm commented on #75184
Good catch! I forgot we removed that overload in the final proposal

[2022-09-07 11:24] rzikm commented on #74629
I think we can keep 2.1.0, it is, after all, the minimum required version.

But I would expect that most people regularly update packages on their systems so most people would run with 2.1.1 anyway.

[2022-09-07 11:35] jakobbotsch commented on #74130
Looks like a test bug, the test has `AllocAndTrackObject<T>` that allocates an object with a finalizer. It calls this several times and then asserts that the finalizers were called, but `AllocAndTrackObject<T>` is not marked as no-inlining, and in stress the JIT inlines one of them and extends the lifetime of the finalizable object.

[2022-09-07 11:36] JamesNK commented on #75184
The exception is thrown internally. You could use an internal ctor. Up to you on whether to make it public or not.

[2022-09-07 11:44] rzikm commented on #75184
When we had API Proposal for QuicException, there was pushback against having internal constructors, so I think we should stick to that

[2022-09-07 12:16] kouvel commented on #10420
I believe most of the problematic ones have been fixed, there are specific issues for some other ones.

[2022-09-07 12:16] #10420 closed

[2022-09-07 12:25] stephentoub commented on #75188
We could certainly add an API for this if we wanted to. Just noting this would be about usability more than anything else, since it's already possible to achieve the desired semantics with the existing APIs.
https://github.com/dotnet/runtime/issues/74568#issuecomment-1231635157

[2022-09-07 12:35] stephentoub commented on #1511
I'm a little confused. This is already possible with HTTP/2, has been since .NET Core 3.0; that's how gRPC works.  What specifically isn't working?  The core of this issue was addressed as described in https://github.com/dotnet/runtime/issues/1511#issuecomment-509864597.

[2022-09-07 13:02] MihaZupan commented on #74568
Note that even if such a helper existed, it isn't what PowerShell should be using anyway if you are also tracking progress.
You are currently relying on `destination.Length`, but not all `Stream`s support querying the `Length` (as indicated by `CanSeek`).

[2022-09-07 13:11] kouvel commented on #12107
`ReaderWriterLockSlim` has several issues with reentrancy and it doesn't appear to be a simple fix. Deferring to https://github.com/dotnet/runtime/issues/8710.

[2022-09-07 13:11] #12107 closed

[2022-09-07 13:26] CarnaViire commented on #75184
LGTM in general. I feel like I would like it more if it was not specifically bound to AcceptConnection though, more like "UserCallbackError" or something in the same meaning, so it could be reused for the same purpose in other callbacks. But I think we only have a callback for Accept now, so maybe it's ok.

(Also, I feel like "AcceptConnectionFailed" might be too general name, so it might not be c

[2022-09-07 13:31] iSazonov commented on #75188
If we consider only HttpClient, then yes, I agree, since HttpClient itself is designed for _convenience_.
But there's another side to it that we haven't discussed. I see that classes derived from Stream are widely used in various web APIs. This means that such streams can also hang in case of unexpected network or service loss. If this is indeed a problem, perhaps it should be discussed in a separ

[2022-09-07 13:32] rzikm commented on #75184
I could not find a better name, so I am open to suggestions :)

[2022-09-07 13:39] eerhardt commented on #73721
We could also use a WASM specific C# method that always called `Encoding.UTF8.GetBytes` on the string. This would allocate memory on the heap, which would change the `template` pointer passed into the `__randname` function every time GetTempFileName was called.

[2022-09-07 13:41] iSazonov commented on #74568
This could help us to avoid the bug with hang we caught and make the code more reliable. (Progress bar is implemented in PowerSHell specific way in another thread.)

The destination is always a file in PowerShell in the scenario.

[2022-09-07 13:44] stephentoub commented on #75188
We have discussed. They're cancelable. That's what the token is for.

[2022-09-07 13:49] simonrozsival commented on #67583
@am11 I tested the code on my device with API 32 and on emulators with API 21 and 24 and it worked well on all of these levels. It seems to me that the only problem with the PR is that you're checking `TARGET_LINUX` and not `TARGET_ANDROID`.

[2022-09-07 13:50] perjahn commented on #75073
The first example with while(true) appear to have been fixed in .net7, could you also test the second example with FailFast in fedora/podman?

[2022-09-07 14:00] maksperovpm commented on #75086
If we use native nuget from Debian image, we get errors even on install just one package. Example

`nuget install Autofac

WARNING: Error: TrustFailure (Authentication failed, see inner exception.)
WARNING: Error: TrustFailure (Authentication failed, see inner exception.)
WARNING: An error occurred while loading packages from 'https://api.nuget.org/v3/index.json': Error: TrustFailure (Authenticati

[2022-09-07 14:14] jeffschwMSFT commented on #75154
I deleted area-enc-clr and added the area label area-diagnostics-coreclr

[2022-09-07 14:16] magnusbakken commented on #67577
I expect that some people want it to be public because they're trying to use it in unit test assertions, e.g. with Moq:

[code]

You can call `ToString()` on the object to get the fully formatted string, but then you have to also construct the same formatted string in the test code. It would be nicer to be able to get the unformatted input string.

I expect this is a common use case because until

[2022-09-07 14:32] danmoseley commented on #73721
Depending on what other allocations are happening concurrently perhaps it might also need a random sized dummy allocation (e.g. after the first try)

[2022-09-07 14:37] eerhardt commented on #67577
We added a source generator to reduce/eliminate the boilerplate. See https://docs.microsoft.com/en-us/dotnet/core/extensions/logger-message-generator

[2022-09-07 14:44] antonfirsov opened #75199 "NO_PROXY: consider matching curl behavior"
This is a follow-up on the discussion in #61840.

As @vjrantal states in his https://github.com/dotnet/runtime/issues/61840#issuecomment-1011903215:

We may consider trimming the leading dot and matching subdomains without it. See also the article referenced in the discussion:

https://about.gitlab.com/blog/2021/01/27/we-need-to-talk-no-proxy/

[2022-09-07 14:45] antonfirsov commented on #61840
The documentation PR-s are merged, I'm closing this in favor of #75199.

[2022-09-07 14:45] #61840 closed

[2022-09-07 14:49] tmds commented on #75073
As mentioned, I don't expect the `FailFast` to restore echo. It has been like this for all .NET versions.

The terminal reset logic is registered with `atexit`, and these handlers don't run when calling `abort` (which is what `FailFast` does).

Maybe mac does something after the child terminated to restore the terminal settings.

[2022-09-07 14:52] vargaz commented on #75044
Does this work with that PR merged ?

[2022-09-07 14:54] steveharter commented on #73992
When I tested locally, performance was normal or as-expected until the 2GB was approached, then performance tanked and appeared to hang (I didn't wait too long). @layomia did you encounter this as well?

[2022-09-07 15:02] #74130 closed

[2022-09-07 15:16] #75103 closed

[2022-09-07 15:20] stephentoub commented on #24460
@bartonjs, in implementing this and using it in various places, I think we should make `getHashCode` optional. It's common to only need Equals and not need GetHashCode (e.g. passing a comparer to SequenceEquals), and I expect a significant number of the consumers for this API will be tests, in which case it's actually beneficial for GetHashCode to throw if it's not supplied in order to validate Ge

[2022-09-07 15:31] steveharter commented on #73860
Just a note for potential implementation: we should be able to keep the size of `System.Type` the same by using this existing field which is used to cache information for special types:

https://github.com/dotnet/runtime/blob/f52d8c59bb49360eb2cbeeb863c5856ebd62adda/src/coreclr/System.Private.CoreLib/src/System/RuntimeType.CoreCLR.cs#L1492

[2022-09-07 15:42] jkurdek opened #75201 "Port redundant warning suppression detection from ILLink to NativeAOT"
We added a feature allowing for detecting redudant linker warning suppressions to [ILLInk](https://github.com/dotnet/linker/pull/2922). The functionality should be ported to NativeAOT. This will allow for detection of redundant suppressions within NativeAOT codebase.

[2022-09-07 15:52] RyanThomas73 commented on #75070
Hi Eric. Expanding on my background information/example, one common use case is when the heap/priority queue needs to be kept within a fixed initial size/max size.

[code]

[2022-09-07 16:01] ericstj commented on #53550
It should be.  You do see that runtime listed in the `runtime.json` in the built `Microsoft.NETCore.Platforms`?

If so I believe all that's needed to fix this is to plumb the generated runtime.json into the shared framework build.
If not - then there might be more needed to plumb the new runtime into the RID graph generation process.

[2022-09-07 16:07] ryan-motive commented on #1511
I don't see how this solves the problem but maybe I'm not understanding that comment? Basically I just need a stream for writing and a stream for reading a duplex connection. I wasn't able to find a solution and this thread suggested there wasn't one. I do recall reading your comment when I was trying to solve this, but frankly I didn't really understand it 😆

You're correct though--the use cases

[2022-09-07 16:12] davidfowl commented on #1511
I wanted to reply with what @stephentoub said but I was waiting for a code sample to show what the problem was. I wrote this a long time ago, what am I missing https://github.com/davidfowl/StreamingSample?

[2022-09-07 16:14] bartonjs commented on #24460
I'm not sure that I agree that "null-accepting" should immediately jump to "null-defaulting", but I guess I agree with the logic that the exception is fast-coming.

But, yeah, if anyone had said "oh, it's super common in writing tests to not specify an implementation for GetHashCode" then we'd've slapped on the question mark.

[2022-09-07 16:15] stephentoub commented on #1511
Right, what David just said. A custom HttpContent-derived type set on the request supports copying concurrently with the HttpContent on the response stream. So you can author an HttpContent that's the send side that you write to for the duration of the operation, and consume from the response HttpContent for the duration of the operation.  The comments in this thread about it not working were from

[2022-09-07 16:17] ryan-motive commented on #1511
Wow, I wish I'd seen this! It's long in the past now, but this is helpful to know for the future.

[2022-09-07 16:56] vslee commented on #75070
What if the contents of the `queue` changes between the `queue.Count > 0` check and the calling of `DequeueEnqueue()`?

[2022-09-07 16:57] stephentoub commented on #75070
Then a non-thread-safe collection is being mutated concurrently erroneously.

[2022-09-07 17:16] directhex commented on #75002
@steveisok ^^ ?

[2022-09-07 17:19] developerss opened #75203 "why there is lot differences in download speed between framework and dotnet"
getstream httpclient  StreamAsync dotnet [framework 481 or lower] download speed 6-8 mb per second and very smooth download process
but
when same project httpclient  StreamAsync[ .net 7 or lower] getting 1-2 mb per second also lot of hang and also very very laggy process ? why ??

[2022-09-07 17:19] c-ohle opened #75204 "System.Half ToString() bug"
### Description

### System.Half ToString() produces incorrect numbers.

Example: Half.MaxValue shows 65500, Half.MinValue -65500
but should be 65504 and -65504.
Binary, the values are correct as I have checked:

![image](https://user-images.githubusercontent.com/63112403/188938770-2684d5e8-f412-4b1a-8a56-b39ec95faab8.png)

### Reproduction Steps

[code]

### Expected behavior

[code]

### Actual

[2022-09-07 17:22] steveisok commented on #75002
For mobile, we want to take what's in runtime-extra-platforms and split the mobile configurations into different pipelines.

To answer your questions directly:

a.) yes, the pipelines should run all tests when triggered manually. We don't want to run these on a schedule.

b.) correct

[2022-09-07 17:28] layomia commented on #37483
Is this supposed to be implemented and set by users only (and not the serializer)?

`HandleMissingProperty` seems nice.

[2022-09-07 17:32] karelz commented on #75203
@developerss that is hard to believe. Do you have a minimal repro you can share?
If you were testing on .NET 6.0, we had a perf problem with HTTP/2 with large RTT, which we fixed in .NET 7.0. Beyond that we are not aware of any perf problems in the space.

[2022-09-07 17:32] VSadov commented on #67254
Did you mean fmov + stlr ?
As in:

[code]

[2022-09-07 17:54] deeprobin commented on #75204
Can reproduce.

@teo-tsirpanis Can you assign the right labels (`bug` and `area-System.Numerics`, I think)?

[2022-09-07 17:59] developerss commented on #75203
`var client = new HttpClient();
HttpRequestMessage httpRequestMessage =
                    new(HttpMethod.Get, downloadRequest.Address);
                SetRequestClientRange(ref httpRequestMessage);

                var stream =
                    await client.SendAsync(httpRequestMessage,
                    HttpCompletionOption.ResponseHeadersRead, token).ConfigureAwait(false);

[2022-09-07 18:00] deeprobin opened #75206 "Codegen difference: Local vs IL Stack"
[Sharplab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIGYACMhgYQYG8aHunGBLAHYYGAQQAUg4XwCUHLjwV8GAagC8DUgG55C7krUMU26rp7EA7Az7GFAXx28rQhgCEJzmXJOmGAN2xQDABWDOrWDgohBloRPFHqRrHcFsE2PPbeyfzOLBACuACu+DDiklayqgB8ohLSaVlOwrn5RTBuZZ5VrrXGtkA=)

[code]

According to @SingleAccretion, this is because Roslyn prefers to use the IL stack for locals instead of parameters.
So an opti

[2022-09-07 18:01] #13437 closed

[2022-09-07 18:02] developerss commented on #75203
`var stream =
                    await client.GetStreamAsync(downloadRequest.Address).ConfigureAwait(false);`

same dotnet vs .net big difference download speed

[2022-09-07 18:12] SingleAccretion commented on #75206
The optimization for locals is fairly simple and can be done in global morph (a bit like the SIMD assignment coalescence works right now). The perhaps more interesting case is making this work for indirect (aka field) stores:
[code]
This would have the benefit of avoiding relatively expensive memory operations, but would also require more thorough analysis to determine legality.

[2022-09-07 18:14] deeprobin commented on #64451
@stephentoub `String.MakeSeparatorList(ReadOnlySpan<char>, ref ValueListBuilder<int>)` is already using vectors? Is there anything missing or did you forget to check it off?

[2022-09-07 18:32] cshung opened #75207 "Repeated commits for mark array"
Suppose we have a region that has the associated mark array committed. It is returned to the free region list through `return_free_region` and then got back to the heap through `get_free_region`. The code in `init_heap_segment` called by `get_free_region` will reset the `heap_segment_flags_ma_committed` flag and we will commit the mark array again when we need it.

In case we are running on a supp

[2022-09-07 18:40] steveharter commented on #73992
I suspect the algorithm, once past 1GB, is causing the buffer to only grow a small amount (the size needed or the min of 256 bytes) per resize until it hits 2GB. See https://github.com/dotnet/runtime/blob/c785a0b5ff94d879c55a9a67a18da0edf1070f32/src/libraries/Common/src/System/Text/Json/PooledByteBufferWriter.cs#L173-L183.

If instead it detects size is already at 1GB or more, it could change the

[2022-09-07 18:48] tannergooding commented on #75204
This isn't a bug, we return the "shortest roundtrippable string". Due to the underlying algorithm, it preferences `65500` over `65504`, as both round to `65504`.

You'd need to explicitly ask for `G5` to see the longer version (the string that guarantees roundtripping without being the shortest possible) and `G19` to see the most precise string.

[2022-09-07 18:48] #75204 closed

[2022-09-07 19:04] karelz commented on #75203
@developerss can you please post a repro we can try on our side as well? (minimal one)
The above code uses types and methods which are not posted.

BTW: Do you see same results against different URL, or is it specific to some URL?
Did you try to check if the same HTTP version is used -- e.g. via Wireshark?

[2022-09-07 19:06] karelz commented on #1511
@stephentoub what is left to track on this issue then?

[2022-09-07 19:10] radical commented on #75044
Testing in https://github.com/dotnet/runtime/pull/75210 .

[2022-09-07 19:28] stephentoub commented on #64451
That was addressed by https://github.com/dotnet/runtime/pull/64899.

[2022-09-07 19:29] stephentoub commented on #1511
https://github.com/dotnet/runtime/issues/1511#issuecomment-538574216
"Notes re remaining work: We added an internal "AllowDuplex" property on HttpContent. We should consider making this public."

[2022-09-07 19:32] tannergooding commented on #75204
Just to clarify, it's preferenced because `6.55e4` is shorter than `6.5504e4` (because `6.55` is 3 digits, where-as `6.5504` is 5 digits).

The algorithm doesn't take into account things like the length of `e##` or that we only use the `e` format for more than 6 or so digits. We just determine that `6.55` is the shortest sequence of significant digits (plus trailing zeros) that rounds to the infin

[2022-09-07 19:33] c-ohle commented on #75204
@tannergooding hi, there is a better and more simple algorithm that produces precise rounded string results. Not only for Half, not only for border cases. Check it out, you know where you can find it.

[2022-09-07 19:40] TheXenocide commented on #68162
Ooh, just came to check in on how things were going on the mono wasm side of this and came across this tracking issue. Nice to see this being tracked on the dotnet/runtime side now. It's good to see that the browser-wasm RID was the final answer on that particular design challenge, but I remember how much discussion there was about trying to avoid adding additional runtimes unnecessarily. Trying t

[2022-09-07 19:45] jkoritzinsky opened #75214 "Out of bounds array access in GC"
When GCHeapHardLimit configuration is set, there's an out of bounds access in `gc_heap::virtual_commit` when `h_number == -1`.

When `heap_hard_limit > 0` and `bucket >= total_oh_count` and `h_number == -1`, the array access on https://github.com/dotnet/runtime/blob/426d9d2704b145eb9aab5ac4a19e89e4e72d4149/src/coreclr/gc/gc.cpp#L6913 can go out of bounds.

This was found while running the `JIT/Met

[2022-09-07 20:06] mangod9 commented on #75214
+ @cshung since he was validating hard limit within containers.

[2022-09-07 20:10] AraHaan commented on #75069
I would have to see if I can reproduce it by commenting out the Discord stuff, but that might be possible as well.

[2022-09-07 20:11] tannergooding commented on #75204
This is not a question about precision.

The current behavior is to return the shortest roundtrippable string and that is exactly what the algorithm is doing. This is the same behavior done by many different programming languages/runtimes and is done using one of the faster algorithms available. Changing this is undesirable and is not something we're interested in doing.

We have a different algor

[2022-09-07 20:25] Jozkee opened #75215 "Tar: Not able to write a PaxTarEntry from a TarReader."
Consider this method that creates a new archive copying the entries from an existing one:
[code]
When the archive is in pax format, it throws the following exception:
[code]

This is because the `TarWriter` attempts to add "Path" to the Extended Attributes when the entry read with `TarReader` already contained one.

This is somewhat important since PAX is our default format, but there may be a wor

[2022-09-07 20:26] Jozkee commented on #75215
cc @carlossanlop

[2022-09-07 20:30] stephentoub commented on #75215
FWIW, I hit this as the very first thing I tried with TarReader/Writer, as part of writing a perf test to roundtrip a tar file.  I forgot to open a bug on it, so thanks for doing so.  If there's a straightforward fix, I think we should fix it for 7.

[2022-09-07 20:32] c-ohle commented on #75204
@tannergooding I know these things and I understand the situation. Cannot simply changed as users expect same results as previous versions. Are you aware that midpoint rounding is also wrong? for float and double too.
I followed many discussions over the years about this. What I do is to implement both, that the user can switch. Not ready yet since I completely rework the templates approach. All m

[2022-09-07 20:33] AndyAyersMS commented on #75177
I don't see how this can be a 7.0 issue; moving to 8.0.

[2022-09-07 20:41] NikolaMilosavljevic commented on #53550
@MichaelSimons

[2022-09-07 20:53] danmoseley commented on #74170
I'm marking blocking-release so this stays on the radar.

[2022-09-07 21:19] kunalspathak commented on #74773
Yes, not .NET 7. The loop's state is not updated and got caught by recent loop table checks.

[2022-09-07 21:52] #52025 closed

[2022-09-07 22:17] wtgodbe commented on #75166
Thanks for the report - we think this is a good candidate for a community contribution, so applying the `help wanted` label

[2022-09-07 22:23] AndyAyersMS opened #75221 "JIT: check/release diff in arm SPMI libraries_tests.pmi"
https://dev.azure.com/dnceng-public/public/_build/results?buildId=4324&view=results

[code]

[2022-09-07 22:26] AndyAyersMS commented on #75221
This was introduced sometime after Aug 28 (48a3dbe5509f53f89db0a48c8285a2eec0758fea).

cc @dotnet/jit-contrib

[2022-09-07 22:47] tannergooding commented on #75204
Can you share an example? If this is `Math.Round()` I've already stated on the other issues that there is a longstanding known issue that's been around since .NET Framework.

[2022-09-07 23:01] radical opened #75223 "[wasm] `Wasm.Build.Tests` are broken on `main`"
#75200 is WIP to fix the issue.

Massive wasm failures on both Windows and Linux (**net7.0-Browser-Release-wasm-Mono_Release**):

Day | Run | Details
-- | -- | --
9/8 | Rolling run [8461](https://runfo.azurewebsites.net/view/build/?number=8461) | 621x failures
9/7 | Rolling run [7799](https://runfo.azurewebsites.net/view/build/?number=7799) | 285x failures

**Regression as of 9/7**: First failure

[2022-09-07 23:12] mangod9 commented on #73782
@mrsharm @PeterSolMS can this be closed out, based on your investigation?

[2022-09-07 23:13] mangod9 commented on #73783
@PeterSolMS can this be closed out based on your investigation?

[2022-09-07 23:34] jkoritzinsky opened #75224 "Vxsort on Windows x64 accessing past the end of the buffer on some runtime tests"
As part of the work to bring AddressSanitizer online, I've found a violation in vxsort in the GC. I've tried to repro-locally, but have not had success (I have a feeling that my machine has too much memory to repro, and when I tried setting the heap hard limit to something lower, I hit https://github.com/dotnet/runtime/issues/75214).

Here's the report from AddressSanitizer, and a link to the Heli

[2022-09-07 23:35] WalkerCodeRanger opened #75225 "Stream.ReadAtLeastAsync and ReadExactlyAsync read an unknown number of bytes when cancelled, no way to recover"
### Description

Both of the new methods `Stream.ReadAtLeastAsync` and `Stream.ReadExactlyAsync` can be canceled in a state where a number of bytes have been read from the stream into the `buffer` argument but the number of bytes read is unknown. It is therefore not possible to recover from this state.

I strongly believe that either no bytes should be consumed when these methods are canceled or t

[2022-09-07 23:45] EgorBo commented on #75224
Sometimes it's normal for SIMD algorithms to read more than needed for last vector if it's proved that it won't cross page boundary, not sure it's the case here

[2022-09-07 23:45] zcsizmadia opened #75226 "Initial version for resolver for supporting DataContract and DataMember attributes in System.Text.Json"
System.Text.Json serializer does not support DataContact and DataMember attributes prior .NET 7.0. System.Text.Json v7.x+ supports custom type resolvers. This library adds support for DataContract and DataMember attributes using a custom resolver.

https://github.com/zcsizmadia/ZCS.DataContractResolver

The library has many test cases for DataContract, which are serialized with System.Text.Json an

[2022-09-07 23:46] VSadov commented on #75005
When trying to build locally with  `./build.sh -arch x64 -s OSX -s clr.aot+libs -rc Release -lc Release /p:CrossBuild=false`  I am geting errors like:

[code]

Is something missing in my local setup?
(I am able to do a regular clr build regular ARM64, but x64 has these issues)

[2022-09-07 23:46] wfurt commented on #75203
`ThrottledStream` certainly looks suspicious :) I would suggest to simplify and and remove any extra crust. Perhaps just measure pure download and take a peek with Wireshark as @karelz suggested. This issue is really not actionable at the moment.

[2022-09-07 23:50] mangod9 commented on #75224
tagging to 8 for now, if we can repro/fix we can port

[2022-09-08 00:17] VSadov commented on #75005
I also hit https://github.com/dotnet/runtime/issues/74973 , which is probably causing the above error.
The x64 on M1 build appears to be broken.

[2022-09-08 00:20] AndyAyersMS commented on #74877
Note this test has been disabled for now (https://github.com/dotnet/runtime/pull/75141).

Since this issue is a dup of https://github.com/dotnet/runtime/issues/74631, I'll close.

[2022-09-08 00:20] #74877 closed

[2022-09-08 00:20] AndyAyersMS commented on #74878
cc @dotnet/jit-contrib

[2022-09-08 00:31] VSadov commented on #75005
old x64 machine seems to be able to build, but it will take time

[2022-09-08 00:45] cdbullard commented on #75148
Hi all,
I thought I would give this a shot for updating the value from 2029 to 2049 per the discussion above, but had a couple of questions:

1. Would this change be limited to files currently listing 2029 as the TwoDigitYearMax value inside of the System.Globalization projects? (Calendar.cs, CalendarData.cs, EastAsianLunisolarCalendar.cs, GregorianCalendar.cs, JulianCalendar.cs)?
2. Would a chang

[2022-09-08 01:00] lonix1 opened #75228 "[Docs] When can `AssemblyName.Version` be null"
The docs show that [`AssemblyName.Version`](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assemblyname.version?view=net-6.0) is nullable. So this could be null:
[code]

Under what conditions could `Version` be null?

(Please also consider updating that page in the docs.)

I asked on [SO](https://stackoverflow.com/q/73642734/9971404) too. Thank you.

[2022-09-08 01:15] AndyAyersMS opened #75229 "JIT: perf regression from improved local struct copy prop"
See https://github.com/dotnet/runtime/pull/74384#issuecomment-1240105086

[2022-09-08 01:34] danmoseley commented on #75148
@cdbullard  you would be welcome, but I'm not sure there's consensus yet on what number to choose. Also on whether we should load the Windows OS value - if the date being parsed is directly from the user (e.g. a UI) then it would make sense, but if the code is processing data from a file one would likely want to have consistent behavior across OS.

@dotnet/area-system-globalization  would probably

[2022-09-08 01:35] danmoseley commented on #75148
If a change didn't break a unit test, it probably would mean we are missing necessary unit tests and should add s them.

[2022-09-08 01:45] kouvel commented on #34800
The first image seems to indicate that the bad speculation is mostly caused by machine clears and not branch misprediction. I'm not sure what exactly would be causing those, perhaps the `cmpxchg` or false sharing between sync blocks? In .NET 6 too I don't see the ideal code ordering. Was this happening on a benchmark?

The fast paths for exiting `AwareLock` and `LowLevelLock` also currently use CA

[2022-09-08 01:47] v-wenyuxu opened #75231 "Test failure System.Xml.Tests.SubtreeReaderTest.RunTests(testCase: 105376: ReadBase64 runs into an Overflow)"
Run: [runtime-coreclr libraries-jitstress 20220907.1](https://dev.azure.com/dnceng-public/public/_build/results?buildId=6899&view=ms.vss-test-web.build-test-results-tab&runId=133004&resultId=149938&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-09-08 01:49] MihaZupan commented on #75225
Why are you canceling the initial read if you still want to perform read operations on the `Stream`?

If Stream operations like `ReadAsync` throw, it's expected that you will no longer call them.
For example, `HttpClient` response streams will close the underlying connection if a `ReadAsync` is canceled - it's not recoverable beyond this point.

[2022-09-08 01:50] davidwrighton commented on #74681
#75230 contributes the basic ability to run the library tests under R2R, we'll need some follow on to enable testing in the lab. We may also need to implement a selection of various crossgen2 modes (composite, cross-module inlining enabled, etc)

[2022-09-08 01:55] AndyAyersMS commented on #74900
This comes up under stress because normally we'd have promoted `V18` but here we don't:
[code]
If V18 is promoted, morph replaces its appearance in the GT_RETURN:
[code]
So the question is, why doesn't this replacement also happen when we copy prop V21 there?

[2022-09-08 02:07] wiktor-golonka commented on #68578
Can we have API methods that allow getting a result for argument/option without having to pass the exact instance, but only a name?

For example like these:
[code]

This would be especially useful if you have a handler that implements the `ICommandHandler` interface from `System.CommandLine.Invocation` and you register it with `UseCommandHandler` from `System.CommandLine.Hosting`

https://github.c

[2022-09-08 02:23] stephentoub commented on #75225
Knowing exactly how many bytes were read prior to cancellation is a rare need. While I can understand it being important to whatever your use case may be, these helpers are intended to support the 90% case of utility code we saw developers writing over and over.  If there's an additional case they don't handle, it's of course fine for you to continue writing the same few lines you would have writt

[2022-09-08 02:25] AndyAyersMS commented on #74900
Experimenting with running local AP before the return swap (as well as later when the child is morphed). Fixes the test case, anyways, with the struct being propped to another struct, then swapped to a local, and then that local being propped to another local.

If this doesn't show any non-stress diffs it might be a bit odd to leave it in there. One thing I see looking at diffs here is that we mig

[2022-09-08 02:29] h5aaimtron opened #75233 "Security team claims .NET 6 deleted app pools in IIS"
We installed .NET 6 onto some Windows Servers running IIS as part of our upgrade to some applications. About 2-3 weeks later, the servers (2 of them) both had their application pools deleted. Our security team is claiming it was the .NET 6 install from a few weeks back, we're skeptical.  Even more so as other servers have not had this issue and we cannot find any issues regarding such an incident

[2022-09-08 02:33] hoyosjs opened #75234 "ExportPem_ExportEncryptedPkcs8PrivateKeyPem fails with 0 iteration count"
## Build Information
Build: https://dev.azure.com/dnceng-public/public/_build/results?buildId=6200
Build error leg or test failing: System.Security.Cryptography.Tests.AsymmetricAlgorithmTests.ExportPem_ExportEncryptedPkcs8PrivateKeyPem
Pull request: https://github.com/dotnet/runtime/pull/75011

From the test:

[code]

## Error Message

[code]

[2022-09-08 03:01] Noisrev opened #75236 "MEF2: Cannot get the same instance with ```SharedAttribute```."
Nuget Package: System.Composition v6.0.0

***Code:***
[code]
***Description:***
In ```MainApp.Invoke```, The Value has been changed.
But ```PrintValue``` always print 0.
![image](https://user-images.githubusercontent.com/62750690/189017829-41179e78-0a73-403d-9be5-2444fdce5fc4.png)

During debugging, the ```TestService``` constructor is called twice (Two instances were created).
The first call is f

[2022-09-08 03:09] Noisrev commented on #75236
If I ```GetExport``` the ```ITestService```, that's only going to have one instance and ```PrintValue``` is going to print the correct value.
![gif](https://user-images.githubusercontent.com/62750690/189025251-c9dab9fa-9467-4f9a-a035-9084dd377c61.gif)

[2022-09-08 03:09] stephentoub commented on #75228
This will print true:
[code]

[2022-09-08 03:11] AndyAyersMS commented on #74900
There are a few diffs, so this might work. But first am going to try deferring the swap until after op1's been morphed.

[2022-09-08 03:24] #73607 closed

[2022-09-08 03:28] danmoseley commented on #75233
I don’t know of any connection here. Moving to aspnet team though, as they will know for sure.

[2022-09-08 04:43] sajjadarashhh opened #75242 "Publish .net 7 Error dotnet.exe(Optimization stack overflow Error)"
### Description

I don't know why this is produced and why I have this issue in publish (ReleaseMode -> with Publish trimming and with out trimming)
BUT jus I Have this Result in Output window :
 Stack overflow.
   at Mono.Cecil.MetadataReader.HasEvents(Mono.Cecil.TypeDefinition)
   at Mono.Cecil.TypeDefinition+<>c.<get_HasEvents>b__49_0(Mono.Cecil.TypeDefinition, Mono.Cecil.MetadataReader)
   at

[2022-09-08 05:55] cshung commented on #75224
This looked like a real bug in the implementation of vxsort

https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/coreclr/gc/vxsort/machine_traits.avx2.h#L63-L67

To begin with, `perm_table_32` is an array of 2048 bytes defined here.

https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/coreclr/gc/vxsort/machine_traits.avx2.cpp#L28

In

[2022-09-08 06:19] bdestercke commented on #73610
We have the same issue at one of our clients with the same configuration.
Rolling back to net5.0 seems resolve this, but not exactly a wanted situation since 5.0 is no longer supported.

docker image: mcr.microsoft.com/dotnet/aspnet:6.0-bullseye-slim
Also 6.0.7, taken from the logs of building the image:
"Env": [
                "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin",

[2022-09-08 06:30] tmds commented on #53550
Yes, it's in the package `runtime.json` file.

[2022-09-08 06:37] developerss commented on #75203
BTW: Do you see same results against different URL, or is it specific to some URL?
ans: tried in different url have same result and same url have same result between dotnet and framework . framework give bigger faster result ,
 if you want to see a valid evidence then i can post a video just change change the framework and debug but i think i gave a screenshot it enough may be .
 .net is very slow

[2022-09-08 06:48] developerss commented on #75203
here is ThrottledStream
https://gist.github.com/ramtinak/5e27ba77b9f2eb20e460190182e6cb2d
`destinationStream = new ThrottledStream(streaming)`

file part = file url lenth / 100

[2022-09-08 06:48] hoyosjs opened #75243 "[User Story] CI Health: Redefining CI investigations and Health"
# [User Story] CI Health: Redefining CI investigations and Merge on Green

The purpose of this issue is to document the different work streams happening throughout the runtime to improve the UX and reliability
of the CI system. The main goal is to help developers feel productive while maintaining product risk low. The aim of this project is to
achieve a system where 80%+ off all PRs are merged wit

[2022-09-08 06:49] liveans commented on #75203
Repro means: Reproduce steps or project

[2022-09-08 06:53] karelz commented on #72696
Fixed in 8.0 (main) in PR #74669 and in 7.0 (RC2) in PR #75192.

[2022-09-08 06:53] #72696 closed

[2022-09-08 06:54] mfkl commented on #47563
Does anyone has any objections or can I start working on that implementation?

[2022-09-08 06:56] karelz commented on #74794
Triage: Not a regression, moving to 8.0. Not clear if anything has to be done -- @antonfirsov can hopefully shed some light when he is back.

[2022-09-08 07:10] 3HMonkey commented on #73617
Hello, here is some additional info about this. I prepared the same stacktrace in firefox:

FNA3D Driver: OpenGL dotnet.js:2292:16
OpenGL Renderer: ANGLE (NVIDIA, NVIDIA GeForce GTX 980 Direct3D11 vs_5_0 ps_5_0) dotnet.js:2292:16
OpenGL Driver: OpenGL ES 3.0 (WebGL 2.0) dotnet.js:2292:16
OpenGL Vendor: Mozilla dotnet.js:2292:16
MojoShader Profile: glsles dotnet.js:2292:16
vt@http://localhost:5000/

[2022-09-08 07:14] karelz commented on #73851
@filipnavara can you please create the PR in dotnet repo? You created it (I assume by accident) against your fork only.
@wfurt can you please CR the change as well?

[2022-09-08 07:17] filipnavara commented on #73851
Of course.🤦‍♂️

[2022-09-08 07:25] karelz commented on #75164
Agreed, looks like environmental hiccup. Unless it happens on regular basis, it is not worth follow up.
Closing.

[2022-09-08 07:25] #75164 closed

[2022-09-08 07:34] patrickmurray18 commented on #42372
This (or something similar) also happens to me on .net6; the "birth" time of the file on linux seems to be inaccessible from `FileInfo`. Both LastWriteTime and CreationTime seem to refer to the modify time (which is preserved if the file is copied). So if you copy a file there's no foolproof way of distinguishing (only option is `LastAccessTime` which of course would be insufficient since it updat

[2022-09-08 07:55] v-wenyuxu opened #75244 "Test failure Loader\\classloader\\DictionaryExpansion\\DictionaryExpansion\\DictionaryExpansion.cmd"
Run: [runtime-coreclr outerloop 20220907.7](https://dev.azure.com/dnceng-public/public/_build/results?buildId=8236&view=ms.vss-test-web.build-test-results-tab&runId=163742&resultId=108148&paneView=debug)

Failed test:
[code]

[code]

## Error Message
Fill the error message using [known issues guidance](https://github.com/dotnet/arcade/blob/main/Documentation/Projects/Build%20Analysis/KnownIssues.m

[2022-09-08 08:01] karelz commented on #73610
@bdestercke can you try to isolate a repro?
Or at least do you have ability to reproduce in some environment where you can experiment? (collect logs, etc.)

@rzikm is there any additional logging that might help us if we do not have standalone repro? (which is IMO unlikely)

[2022-09-08 08:06] jogibear9988 opened #75245 "Crash with unmanged DLL did not create a StackTrace in Eventlog"
### Description

We have an error, were we access Pointers from an unmanged DLL wich we freeed before.
If we do this in a Net4.8 Application in Debug Mode, we get a Stacktrace in the Eventlog.

If we du this in a Net6 Application in Debug Mode we get only this:

        Application: MCC.Common.Services.NTServiceHost.exe
        CoreCLR Version: 6.0.822.36306
        .NET Version: 6.0.8
        Des

[2022-09-08 08:17] JoakimJohesan commented on #73610
We do not have the time to create a repro at the moment, but are open for enabling logging which can provide insight.

[2022-09-08 08:17] filipnavara commented on #67232
I pushed changes to my branch that get the PInvoke smoke test passing. The MAP_JIT protection was the easy part. Apparently TLS access was trashing some registers in `tls_get_var` function and that prevented the stubs from working correctly.

[2022-09-08 08:27] liveans commented on #75134
Reopening for backport to 7.0

[2022-09-08 08:43] rzikm commented on #73610
I am not sure, do you know of anything, @wfurt?

[2022-09-08 08:52] #75098 closed

[2022-09-08 08:54] jakobbotsch opened #75249 "JIT: Bad codegen on win-x86"
[code]

[2022-09-08 08:56] am11 commented on #67232
Looks like we don't need to change `gcenv.unix.cpp` now that `OS_PAGE_SIZE` is fixed?

[2022-09-08 08:58] maksperovpm commented on #75086
UPD:

We found alternative that solves our project restore issue. If we restore it with dotnet restore command, it works.

`dotnet restore ./PATH_TO_SOLUTION_FILE -s MYGET_REPO -s https://api.nuget.org/v3/index.json`

So, the problem is definitely somewhere in NuGet.

[2022-09-08 09:25] c-ohle commented on #75204
@tannergooding in short and with my words:

When I look to the Math.Round [implementation](https://source.dot.net/#System.Private.CoreLib/src/libraries/System.Private.CoreLib/src/System/Math.cs,1331) it is a pure floating-point evaluation.
But this ops round already, especially the division using internal a bit-logic over the last extended bit(s) of the mantissa and a even-rule for error-diffusion

[2022-09-08 09:32] filipnavara commented on #67232
Apparently we still have to, I checked. Not sure what's different from regular CoreCLR though.

[2022-09-08 09:34] filipnavara commented on #67232
The remaining failures seem to have some memory trashing going on. There may be something suspicious going on in `RhpCheckedLockCmpXchg` since the trashed locations seem to be variables written by `Interlocked.CompareExchange`.

[2022-09-08 09:38] jakobbotsch opened #75253 "JIT: Recheck CSE defs in hot blocks for uses in cold blocks on non-xarch"
Given there is less containment on non-xarch architectures it should be more attractive to create CSEs that have defs in hot blocks but uses in cold blocks. VTable GDV and delegate GDV are two places where this frequently occurs.
https://github.com/dotnet/runtime/pull/75140#discussion_r965729928

[2022-09-08 09:44] jakobbotsch opened #75255 "JIT: Expand delegate calls early"
We currently expand delegate calls in lowering. There are potential CSE opportunities of the target instance and target address if we expand it in morph, similar to what we do for vtable calls.

@AndyAyersMS had a prototype for dotnet/coreclr here: https://github.com/AndyAyersMS/coreclr/tree/InlineDelegateInvoke

[2022-09-08 09:47] tmds commented on #75073
Now we're failing really fast, and don't take the time to reset the terminal.

We could do it. The request hasn't come up before. Maybe because `FailFast` is uncommon.

Do your apps often terminate by `FailFast`?

[2022-09-08 09:49] andrau opened #75256 "HostingEnvironmentExtensions.IsDevelopment() etc. seem more strict than necessary"
In our project, we have different development configuration flavors which we select by setting the environment name to Development.Flavor and naming the config files accordingly so we can load $"appsettings.{environmentName}, e.g appsettings.Development.Vanilla.json, appsettings.Development.Chocolate.json

This together with run configurations for VS has proven quite useful

In addition we make us

[2022-09-08 09:51] andrau commented on #75256
seems to fit area-Extensions-Configuration

[2022-09-08 09:58] ilonatommy commented on #74328
I am hitting it every time on main, HEAD: cc9d46546b8e72b34a5f387a5ec9615197d79f1f, running: WasmBuildTests InvariantGlobalizationTests for Browser, wasm.
If we add `result.buildOutput` to BuildTestBase's error:
`throw new XunitException($"Build process exited with non-zero exit code: {result.exitCode} {result.buildOutput}");`
we are getting the reason:
[code]
So we're looking for `RuntimeList.xml

[2022-09-08 10:22] pinkfloydx33 commented on #75256
We have a similar case, although our additional environments don't fall into the same naming pattern (rather they *end* with "Development"). We also have a QA environment that we classify similarly--sometimes.

We ended up writing our own extension methods to cover
`IsAnyDevelopment` and `IsDevelopmentOrQa` which works, although we've had to override/replace spots in the runtime/asp that default t

[2022-09-08 10:33] tmds commented on #75073
To reset the terminal on `FailFast` we need to add some specific handling.

[2022-09-08 10:36] ebarnard commented on #33388
I think what @chemistrytocode is saying is that, given there is a method for equality comparison of `JsonElement`s in the `System.Text.Json` tests, it would be straightforward to expose this as a method on `JsonDocument`/`JsonElement`.

It is not ideal that the recommended way to compare `JsonDocument` for equality is for everyone to copy 70 lines of untested code into their codebase.

[2022-09-08 10:48] Hazardu opened #75257 "Blazor wasm dynamic linking native sidemodules"

[2022-09-08 11:02] gregsdennis commented on #33388
... or reference a library that has.

That said, I utilize the comparison functions I have in Json.More.Net throughout my suite of libs in json-everything.  I'd say it's fairly well-tested.

[2022-09-08 11:14] andrau commented on #75256
Well, at the very least there is no harm in catering at least to some of those special needs by being less strict since there seems to be no downside/risk. Also, it seems your case could also be covered by doing something like

return environment.Equals("Development") || environment.StartsWith("Development.") || environment.EndsWith(".Development")

Those who completely break from the convention b

[2022-09-08 11:55] SamMonoRT commented on #75125
@lateralusX @adamsitnik  -- please can you verify if this happens on 7.0 release RC1 and determine if the fix needs to be backported ?

[2022-09-08 11:58] filipnavara commented on #67232
Somewhere along the way I broke the `Reflection` test... the weird part is that it's because of a corrupted pointer in the data section and it's already corrupted at the process start before any code is run:

<img width="478" alt="image" src="https://user-images.githubusercontent.com/1764393/189115958-df27fb91-ed25-42f9-a1ee-ab973dd45ed7.png">

[code]

...and the section has no relocations:

<img

[2022-09-08 11:59] marek-safar commented on #75155
I think this is worth backporting either way.

@SamMonoRT could you assign this?

[2022-09-08 12:04] filipnavara commented on #67232
Eh, I traced back the `Relocation` failure to https://github.com/dotnet/llvm-project/blob/cb1c615abd1a871bd2d2a105325aaa84ee5913b5/llvm/tools/objwriter/objwriter.cpp#L257-L262 ... will try to fix it, or submit revert of the code block to llvm-project for objwriter.

[2022-09-08 12:07] SamMonoRT commented on #75155
@vargaz can you take a look?

[2022-09-08 12:17] adamsitnik commented on #67583
@simonrozsival thank you for your help!

[2022-09-08 12:22] #74104 closed

[2022-09-08 12:23] karelz commented on #1511
Thanks @stephentoub! Top post updated to clarify for future.

[2022-09-08 12:24] filipnavara commented on #67232
With the current state of things the smoke tests sometimes pass on my machine. Other times it fails here:
[code]

[2022-09-08 12:39] karelz opened #75262 "Update msquic to 2.1.1"
New servicing release for msquic 2.1.1 - https://github.com/microsoft/msquic/releases/tag/v2.1.1
Contains:
- arm64 / arm32 Linux packaging support
- Creation of threads without affinization on error (https://github.com/microsoft/msquic/pull/3041) to unblock #74629

We need to:
- [ ] Update Docker images for testing (TODO: List all Docker images we need to change and the PRs)
    - [x] Debian 10 &

[2022-09-08 12:39] filipnavara commented on #67232
I'll probably try to clean up my branch and submit a PR soon.

[2022-09-08 12:42] jakobbotsch commented on #75221
I can reproduce the asmdiff even with 48a3dbe so seems like this was uncovered by a new collection.

[2022-09-08 12:48] krwq commented on #37483
yes, by default we'd do nothing or use extension data property

@eiriktsarpalis good point, I guess it would need to be Utf8JsonReader (which would require delegate since it would need to be `ref`) or JsonElement/JsonNode instead.

[2022-09-08 12:50] lambdageek opened #75263 "[wasm-mt] Emscripten SDK runtime pack is missing multi-threaded static libraries"
In https://github.com/dotnet/emsdk/pull/43 we removed `*-mt.a` from the emscripten sysroot.

Unfortunately this means that `/p:WasmBuildNative=true` does not work for multi-threaded builds.

We should either put the libraries back in the main SDK, or figure out how to provide an additional nuget with the threaded libs along with required build flags to make `emcc` look for them in another director

[2022-09-08 12:51] lambdageek commented on #75263
Not sure if we will be able to do this in time for 7, or if it will have to wait until 8

[2022-09-08 12:52] lambdageek commented on #75263
A workaround is for users to manually copy the required libraries from an  EMSDK install

[code]

[2022-09-08 12:57] krwq commented on #75226
Good idea :-) one thing to consider is to perhaps provide implementation as modifier which can be passed `DefaultTypeInfoResolver.Modifiers` (which would also allow to serialize other types).

Since this issue is in dotnet/runtime, what output do you expect from this issue? Should we treat this as an FYI announcement (something we can point to other people asking for this) or more like something y

[2022-09-08 13:07] jakobbotsch commented on #75221
Looks like a case where we end up with some odd behavior around non-canonicalized NaNs, maybe due to MSVC optimizations. The test is this one:
https://github.com/dotnet/runtime/blob/2ed931d06a662eb416e363f2dde798729eae4c25/src/libraries/System.Numerics.Vectors/tests/GenericVectorTests.cs#L852
It was added in #74517, so the timing lines up with this being a new collection.

In checked we have the f

[2022-09-08 13:14] zcsizmadia commented on #75226
At this point it was more like an announcement, however considering the fact that for many people this is a major pain point for switching to STJ and the fact that the DataContract and DataMember attributes are part of the .NET runtime libraries, this feature could be part of STJ. E.g as `System.Text.Json.Serialization.Metadata.DataContract` library. If there is interest for that, this can be turn

[2022-09-08 13:16] karelz commented on #74795
This is heavily impacting CI -- most failures are on arm64 Mono -- can someone familiar with Mono please take a look ASAP? @akoeplinger @steveisok

[2022-09-08 13:29] vargaz commented on #75155
Probably fixed by:
https://github.com/dotnet/runtime/pull/74991
which is not in rc2

[2022-09-08 13:46] jonathanpeppers opened #75267 "Android app size regression in .NET 7 RC 1"
### Description

We noticed this here: https://github.com/xamarin/xamarin-android/pull/7303

It has changes in both linker and runtime:
* https://github.com/dotnet/linker/compare/6252a21...313671b
* https://github.com/dotnet/runtime/compare/f52d8c5...516f061

If you `dotnet new android` and then `dotnet build -c Release -r android-arm64`, then new assemblies are now present:

[code]

The overall a

[2022-09-08 13:58] danmoseley commented on #75073
On any FailFast? I believe we try to run as close to zero code as we can before exiting, as it's a security mitigation.

[2022-09-08 14:00] radical opened #75268 "[wasm] All wasm jobs failing on perf pipeline with `.withExitOnUnhandledError is not a function`"
See log for `20220908.2` on `dotnet-runtime-perf` pipeline:

[code]

This is building c3ccb8a3dcfb7b5fa23fcb00b9a5346a39e049ed .

cc @pavelsavara @maraf

[2022-09-08 14:00] danmoseley commented on #75267
@eerhardt

[2022-09-08 14:01] jakobbotsch commented on #75221
The debug/checked difference seems to be because the x87 FPU will turn signaling NaNs into quiet NaNs on `fld`. This means that all functions in the code base that return floating point values may silently do this in x86 builds when they aren't inlined, due to the ABI returning floats on the x87 stack.

The particular case that hits assert is this one:
https://github.com/dotnet/runtime/blob/3776c9

[2022-09-08 14:01] SefaOray opened #75269 ".NET 7 Preview 7 - Polymorphic Deserialization ignores PropertyNameCaseInsensitive setting"
### Description

I have the following class structure

[code]

### Reproduction Steps

Deserializing following json doesn't work

[code]

while the following works

[code]

Mind that only difference is the capical A in `ActivityType`

### Expected behavior
Deserializes correctly without error

### Actual behavior

Throws error

`System.NotSupportedException: Deserialization of types without a para

[2022-09-08 14:02] dewanymca commented on #74827
Any pointer on this will be helpful @kouvel/ @mangod9

[2022-09-08 14:03] stephentoub commented on #75267
Fixed by https://github.com/dotnet/runtime/pull/74828?

[2022-09-08 14:12] karelz opened #75270 "Test failure: System.Net.Http.Functional.Tests.HttpClientHandlerTest_Http3.ServerClosesOutboundControlStream_ClientClosesConnection - Status code: Unknown (0xdde6f334)"
Affected test:
- **ServerClosesOutboundControlStream_ClientClosesConnection** - `System.Net.Http.Functional.Tests.HttpClientHandlerTest_Http3.ServerClosesOutboundControlStream_ClientClosesConnection`

Day | Run | OS | Details
-- | -- | -- | --
9/6 | Rolling run [6173](https://runfo.azurewebsites.net/view/build/?number=6173) | net7.0-Linux-Release-x64-CoreCLR_release-(Alpine.314.Amd64.Open)Ubuntu.1

[2022-09-08 14:21] lateralusX commented on #75125
Looks like I at least was able to reproduce it on release/7.0 branch Windows x64.

[2022-09-08 14:28] vcsjones commented on #74684
@Jozkee Do you want me to pick this one up? Happy to knock it out if you haven't started it.

[2022-09-08 14:33] MihaZupan commented on #75203
At the very least, try to reproduce the issue without your `ThrottledStream`.
Immediately at least one bug in it is that it throttles based on the buffer size, not on the number of bytes actually read.

[2022-09-08 14:37] jonsequitur commented on #68578
@wiktor-golonka The API allowed this in earlier previews. The problem was that it's much slower (because options can be looked up by several potential aliases and the lookup needs to traverse the command tree in case the option was declared on a parent command, e.g. accounting for `myapp --option verb`, `myapp -o verb`, `myapp verb --option`, etc.)

Another concern with the name-based lookup was t

[2022-09-08 14:41] Jozkee commented on #74684
@vcsjones I think the crypto board is still debating whether we should address it or not.

[2022-09-08 14:49] shadow-cs commented on #72177
@karelz funny thing, I couldn't reproduce it again on either my laptop (Windows 11) or desktop (Windows 10). So I decided to give our DEV environment a spin (Window Server 2019 VM) and the problem has revealed itself:

![image](https://user-images.githubusercontent.com/4301974/189151739-1b6107ae-9c5e-4df9-8995-874aafd7f8ea.png)

I also tested with the legacy HTTP server (on my PCs) and it worked w

[2022-09-08 14:56] am11 commented on #67232
one test is failing with https://github.com/dotnet/runtime/pull/75264:

[code]

[code]

[2022-09-08 14:56] CarnaViire commented on #72619
I confirm that there are no such failures anymore, neither locally nor in CI.
HTTP/3 stress now is green in CI on both main and release/7.0 🥳
Thanks @JamesNK!

[2022-09-08 14:56] #72619 closed

[2022-09-08 14:58] shadow-cs commented on #72177
@wfurt I guess if you leave the client some time, it will hide the issue even more (make it less likely). But I don't think this is the problem here (well unless the Windows scheduler got some serious updates 😉). I originally thought that the sockets client had a flag somewhere saying the connection is closed (because `recv` has returned `0`) but it failed to recognize there are some data left in

[2022-09-08 15:00] SergeyRazmyslov opened #75275 "TimeZoneInfo.FindSystemTimeZoneById() is case-sensitive on Linux"
### Description

According to [official documentation](https://docs.microsoft.com/en-us/dotnet/api/system.timezoneinfo.findsystemtimezonebyid?view=net-6.0#remarks) the passed time zone identifier argument in method `TimeZoneInfo.FindSystemTimeZoneById()` is case-insensitive on Linux. There is no issue on Windows.

For example, `var timezoneInfo = TimeZoneInfo.FindSystemTimeZoneById("Central Standa

[2022-09-08 15:06] am11 commented on #67232
this assertion is failing:
[code]

[2022-09-08 15:06] radical commented on #75268
This is the [test-main.js](https://gist.github.com/radical/ae8b796c281f0455207d0f061e774a57#file-test-main-js-L262) being used.

[2022-09-08 15:08] filipnavara commented on #67232
Yep, that matches what I get. Not every time though.

[2022-09-08 15:19] wasabii opened #75276 "UseWindowsService should support some method to invoke ServiceBase.RequestAdditionalTime"
I run into this quite often, having a service which takes longer than 30 seconds to startup. After 30 seconds of startup, the Windows SCM kills the service.

The Windows SCM provides a way to request additional time. ServiceBase.RequestAdditionalTime can be invoked to do this. But it's not exposed inside the Hosting support for Windows Services, nor is there any decent way to get access to it, tha

[2022-09-08 15:23] eerhardt commented on #75256
See also https://github.com/dotnet/runtime/issues/36376, which is very related to this (almost a duplicate).

[2022-09-08 15:32] am11 commented on #67232
I ran this loop in zsh, it consistently fails on my machine (Monterey 12.5.1):

[code]

[2022-09-08 15:35] stephentoub commented on #63176
It _could_. It'd require investigating the same things discussed in https://github.com/dotnet/runtime/issues/63176#issuecomment-1228987854.  I think it would also need to be explicitly implemented, as the APIs on IBufferWriter wouldn't make any sense individually as public members on StringBuilder.

[2022-09-08 15:44] maraf commented on #75268
The method is there for the commit you mentioned

https://github.com/dotnet/runtime/blob/c3ccb8a3dcfb7b5fa23fcb00b9a5346a39e049ed/src/mono/wasm/runtime/run-outer.ts#L61

[2022-09-08 15:51] lateralusX commented on #75125
I have isolated the area under debugger and currently debugging the codegen related to a specific construct, need to continue digging tomorrow.

[2022-09-08 15:51] Jozkee commented on #47563
@mfkl I think you can start working on a PR.

[2022-09-08 15:54] tlakollo opened #75278 "Move Linker repo to Runtime repo"
# Move linker repo to runtime repo
This issue tracks progress and discussion for moving the dotnet/linker repo into dotnet/runtime repo.

## Progress

- [x] Selected the location of the repository as runtime\src\tools\linker
- [x] Ability to transfer Linker history to runtime using the consolidation script
- [x] Add cecil as an arcade package in order to avoid having a submodule
  - [x] Rename pac

[2022-09-08 15:54] tlakollo commented on #75278
cc @dotnet/linker-contrib @dotnet/ilc-contrib

[2022-09-08 15:54] tannergooding commented on #75221
The IEEE 754 spec allows `NaN` normalization and specifies users should not rely on the payload or sign bits of NaN in most cases.

Most platforms will at most quiet a signaling NaN and preserve sign/payload otherwise, which is what SSE and the x87 FPU do. They do this to minimize the number of hardware exceptions thrown, in that once a sNaN "raises" its exception, it is then quieted to prevent ea

[2022-09-08 15:55] #74406 closed

[2022-09-08 15:55] #74407 closed

[2022-09-08 15:55] #74408 closed

[2022-09-08 15:55] tlakollo commented on #75278
cc @marek-safar @radekdoulik

[2022-09-08 15:56] tannergooding commented on #75221
We don't have very good handling of `NaNs` in the JIT today in general and pessimize several scenarios when we encounter them. I expect this is just another where we likely should be slightly more lenient to account for what the hardware allows and does.

[2022-09-08 15:56] jeffhandley commented on #75059
Thank you for reporting this, @AoshiW! And thanks for providing a fix, @Blokyk! We'll get this fix into 7.0.

[2022-09-08 15:57] tarekgh commented on #75148
Before using ICU and when using NLS, the .NET and .NET Framework depended on the system settings which can be changed by the users. This means parsing dates with 2 digits years will still be dependent on that. Usually, users parsing dates with 2 digits and want to ensure the consistent results will set the [Calendar.TwoDigitYearMax](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.