[2022-04-07 02:27] VincentBu opened #67683 "Test failure: System.Net.Security.Tests.CertificateValidationRemoteServer.CertificateValidationRemoteServer_EndToEnd_Ok(useAsync: False)"
Run: [runtime-libraries-coreclr outerloop 20220406.7
](https://dev.azure.com/dnceng/public/_build/results?buildId=1702680&view=ms.vss-test-web.build-test-results-tab&runId=46401768&paneView=debug&resultId=104004)

Failed test:
[code]
**Error message:**
[code]

[2022-04-07 02:28] danmoseley commented on #67682
@wfurt would it be possibly helpful if this error message listed the algorithms that each side has (if it has this information)

[2022-04-07 02:30] tetrisplusplus opened #67684 "failure to load a C++/CLI assembly from embedded resources"
Visual Studio 2019 version 16.11.3
.NET 5.0

My code is as follows.
I set a breakpoint at Class1.Func();.
For loading from the embedded resources I removed the file DLL1.dll when the program stopped at the breakpoint.
BadImageFormatException occurred when I restarted the program.

ConsoleApp1.csproje
[code]

program.cs
[code]

ClassCLI
[code]

[2022-04-07 02:34] VincentBu opened #67685 "Test failure：System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_SslProtocols_Http2_Test.GetAsync_SupportedSSLVersion_Succeeds(sslProtocols: Tls11, url: \"https://www.ssllabs.com:10302/\")"
Run: [runtime-libraries-coreclr outerloop 20220406.7](https://dev.azure.com/dnceng/public/_build/results?buildId=1702680&view=ms.vss-test-web.build-test-results-tab&runId=46401768&paneView=debug&resultId=104132)

Failed test：
[code]
**Error message:**
[code]

[2022-04-07 02:36] VincentBu opened #67686 "Test failure: System.Net.Security.Tests.CertificateValidationRemoteServer.DefaultConnect_EndToEnd_Ok(host: \"api.nuget.org\")"
Run:[ runtime-libraries-coreclr outerloop 20220406.7](https://dev.azure.com/dnceng/public/_build/results?buildId=1702680&view=ms.vss-test-web.build-test-results-tab&runId=46401590&paneView=debug&resultId=103501)

Failed test:
[code]
**Error message:**
[code]

[2022-04-07 02:39] VincentBu opened #67687 "Test failure: Attempt #1 - System.Net.Security.Tests.CertificateValidationRemoteServer.CertificateValidationRemoteServer_EndToEnd_Ok(useAsync: True)"
Run: [runtime-libraries-coreclr outerloop 20220406.7](https://dev.azure.com/dnceng/public/_build/results?buildId=1702680&view=ms.vss-test-web.build-test-results-tab&runId=46401590&paneView=debug&resultId=103502)

Failed test:
[code]
**Error message:**
[code]

[2022-04-07 03:44] kouvel commented on #66571
Hit again in https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-67160-merge-fce57385286b4acdbd/System.Runtime.InteropServices.Tests/1/console.51df3830.log?sv=2019-07-07&se=2022-04-27T01%3A23%3A31Z&sr=c&sp=rl&sig=HGoNjqy5wdwOJiN%2B4k9dooAvVHHVn7myC2nYC5cshT4%3D

[2022-04-07 04:12] wfurt commented on #67682
There is no public API to access that. This generally should be predictable and visible via packet capture.

[2022-04-07 05:04] tmds commented on #64222
My guess is that qemu doesn't support inotify, which causes:

Is `DOTNET_USE_POLLING_FILE_WATCHER=true` set in your container? That should stop it from using inotify.

[2022-04-07 05:49] jeffhandley commented on #67545
I am hitting the same hang on my Surface Laptop 2 when using WSL2/Ubuntu 20.04. This is x64. I can repro it consistently while running only this benchmark. I'll connect with @adamsitnik to collect a dump.

[2022-04-07 06:23] Thefrank commented on #14537
With almost a month of "nightly" builds. Here is a general look at the tests (tap to enlarge):

![image](https://user-images.githubusercontent.com/1910378/162131843-8e944b95-39e6-462a-960d-ce0dfac257c5.png)

Days with zero results are because the build hit the 120min failsafe. There were due to the same hanging test each time:

`System.Net.Mail.Functional.Tests: [Long Running Test] 'System.Net.Mai

[2022-04-07 07:07] saber-wang commented on #58974
This problem is also encountered in the container
[code]

[2022-04-07 07:11] jeffhandley commented on #67545
I uploaded the dump file to the location where we're posting our manual run results. And I observed a peculiar behavior:

* While plugged in, on the Windows host Performance power plan, the benchmark hangs frequently (but not every time)
* When on battery power, on the Performance power plan, I've been unable to repro the hang
* When plugged in or on battery power, on the Balanced power plan, I've

[2022-04-07 07:25] adamsitnik commented on #67545
@janvorli I assume you were not using WSL?

[2022-04-07 07:43] t00 commented on #58930
Is there a workaround, so that empty array can be enumerated by GetChildren() or is there a way to determine keys of all empty arrays present in a section?

[2022-04-07 07:48] jeffhandley commented on #67545
ReadAsync caused a hang on my WSL/Ubuntu 20.04 config as well. I uploaded dumps from that benchmark too.

[2022-04-07 08:21] janvorli commented on #67545
Right, it was a physical device in my case.

[2022-04-07 08:23] janvorli commented on #67545
I just noticed that I have a hang in the ReadAsync  in another benchmark run that I've started yesterday on the same device, this time in Alpine docker container.

[2022-04-07 08:39] xiaofeng-zheng commented on #67480
It works for my named pipe server. But if I use it to write data to another named pipe, it hangs. Do you have any idea?

[2022-04-07 09:32] sba923 commented on #61175
@adamsitnik How can I help with this issue?

[2022-04-07 09:36] jakobbotsch opened #67693 "Improve SOS diagnostics for OSR methods"
It would be very useful if SOS reported either IL offsets or IP for the patchpoint that was triggered in the output of `dumpmd`/`ip2md`. Otherwise it is very hard to reconcile the codegen seen in these methods with the original IL. In #66983 I ended up tracking this down by doing several pointer searches through memory to find the key of the `PerPatchpointInfo` structure.

cc @AndyAyersMS

[2022-04-07 09:53] krwq commented on #58927
https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-67526-merge-41cb23d3bab94f4085/System.Net.Security.Tests/3/console.b5d46d0f.log?sv=2019-07-07&se=2022-04-27T09%3A25%3A13Z&sr=c&sp=rl&sig=3IzAK88wetjdUG%2BhzjnEGycOsgnfBgykFxNb0dRiHAQ%3D

doesn't seem like flaky, it consistently fails on this configuration.

Relevant log in case full log disappears:

[code]

[2022-04-07 10:45] eiriktsarpalis commented on #66102
Hi @mattchidley, I believe the two issues are unrelated.

[2022-04-07 10:47] SupinePandora43 commented on #67649
Make them a virtual methods?

[2022-04-07 10:50] #67627 closed

[2022-04-07 13:00] MihaZupan commented on #67645
Moving to ASP.NET Core as that's where this list is mantained.

[2022-04-07 13:04] wokis opened #67702 "Exceptions from EventRecordWrittenEventArgs are missing the original win32 error code"
### Description

One can retrieve a `HResult` error code from `System.Diagnostics.Eventing.Reader.EventRecordWrittenEventArgs.EventException` but it has no connection to the underlying win32 error code from the `EvtNext` function used (https://github.com/microsoft/referencesource/blob/master/System.Core/System/Diagnostics/Eventing/Reader/EventLogWatcher.cs#L228).

For example subscribing to an non

[2022-04-07 13:16] #65634 closed

[2022-04-07 14:37] crummel commented on #62440
@agocke @jkoritzinsky @hoyosjs @trylek any of you want to volunteer to take a look?

[2022-04-07 14:48] wokis commented on #67702
I see that the `EventLogException` ([EventLogException.cs#L23](https://github.com/microsoft/referencesource/blob/5697c29004a34d80acdaf5742d7e699022c64ecd/System.Core/System/Diagnostics/Eventing/Reader/EventLogException.cs#L23)) actually converts the `errorCode` to exceptions but as error 6 isn't among those converted the error code is lost since there is no method from which to retrieve the error

[2022-04-07 15:06] AraHaan commented on #67684
The only way this will work is to dump the stream into a temp file, then load it to do that you would figure out some way to create a hidden file from the process where when the process exits the OS will automatically delete it.

[2022-04-07 15:13] #67488 closed

[2022-04-07 15:14] #67668 closed

[2022-04-07 15:30] AndyAyersMS commented on #67675
Updated area path.

[2022-04-07 15:49] karelz commented on #67518
Triage: We should document it properly.

[2022-04-07 15:56] karelz commented on #67480
Triage: Looks like the API question is needed - there is a way and no need to add the new API.
Regarding NamedPipe not working properly - please slim it down to small repro, try it with and without HttpClient and then file an issue if it is indeed a problem that needs attention. Thanks!

[2022-04-07 15:57] karelz commented on #67478
@WeihanLi can you point us to some of the libraries? How popular are they?

[2022-04-07 15:59] janvorli commented on #67684
Also, it is worth mentioning that it not possible to load C++/CLI assembly into an unloadable context at all by design. See https://github.com/dotnet/runtime/blob/main/docs/design/features/unloadability.md#unsupported-scenarios
@tetrisplusplus I am mentioning it just in case you were planning to do that.

[2022-04-07 16:04] steveisok commented on #67529
Appears that this is known issue in the xamarin-macios repo.  That's where NSUrlSessionHandler lives.

https://github.com/xamarin/xamarin-macios/issues/14632

From the looks of the issue above, there was a PR, but it will only apply to .NET 7.  Since there is an issue filed, I'm closing in favor of it.

[2022-04-07 16:04] #67529 closed

[2022-04-07 16:05] mattjohnsonpint commented on #66170
Just wanted to check in on this.  Is it planned to be addressed for 3.1 servicing?  Thanks.

[2022-04-07 16:06] pjanotti commented on #67276
Thanks @tarekgh the numbers look good. I will update the description to reflect Noah's design.

[2022-04-07 16:07] AraHaan commented on #67684
Another options is to have it be a pure C++ assembly, export the functions, then p/invoke it from .NET (which can be embedded).

[2022-04-07 16:09] tarekgh commented on #67276
wait, we may need to tweak the proposal a little. We still use Noha's idea but the public API may need some little change.

[2022-04-07 16:16] pjanotti commented on #67276
np @tarekgh - I already updated it but will do it again as needed.

[2022-04-07 16:17] fernandozago opened #67706 "PeriodicTimer Backpressure"
Hello all.

I'm doing some tests with the new `PeriodicTimer`, and i'm experiencing problems that i didn't have with `Task.Delay()`..

`PeriodicTimer` is building a `backpressure` because the `Ticks` accumulate overtime if you dont call `WaitForNextTickAsync()`.

I had to manually control the instance of the `PeriodicTimer` to avoid this situation when the process takes more time than next periodi

[2022-04-07 16:26] EgorBo commented on #67594
Arm64 https://github.com/dotnet/perf-autofiling-issues/issues/4424

[2022-04-07 16:30] #67706 closed

[2022-04-07 16:36] ASL07 commented on #67293
I was setting self-contained to false when the project was actually supposed to be build as self contained.
It's running now. Thanks.

[2022-04-07 16:45] BruceForstall opened #67707 "Clean up CORINFO_HELP_ASSIGN_BYREF for x86/x64"
1. Precisely define the registers trashed by x64: currently it appears to be overstating the set.
2. Define/use RBM_CALLEE_TRASH_WRITEBARRIER_BYREF, RBM_CALLEE_GCTRASH_WRITEBARRIER_BYREF, consistently. Maybe also REG_WRITE_BARRIER_DST_BYREF, REG_WRITE_BARRIER_SRC_BYREF, and related.
3. Add a detailed header comment to targetamd64.h, targetx86.h, like there is in targetarm64.h

[edit: 2 and 3 were

[2022-04-07 16:46] mangod9 commented on #58974
@saber-wang your issue seems to be unrelated to this. Could you please create a separate bug with repro or dumps? Usually OOMs are not GC related, but the application not freeing memory appropriately.

Also for this particular issue this looks to be something to be fixed in ArrayPool?

[2022-04-07 16:55] jakobbotsch commented on #67707
Note that this comment indicates that there may be some more work involved with this:
https://github.com/dotnet/runtime/blob/c288acdb794b1f2edba90868a823b161d88bd2b0/src/coreclr/jit/codegencommon.cpp#L564-L584

[2022-04-07 17:04] layomia commented on #65493
This is by design, please see https://github.com/dotnet/runtime/issues/54184#issuecomment-882644924.

[2022-04-07 17:04] #65493 closed

[2022-04-07 17:07] jeffhandley commented on #65254
Thank you, @Therzok. Since you have the (albeit unfortunate) workaround in place are are unblocked, and the backport isn't 100% straightforward/contained, I'm not inclined to backport the fix. If others report the same issue in a way that they are blocked, that would encourage the backport though.

[2022-04-07 17:11] BruceForstall commented on #67707
Yes, unfortunately there are somewhat sparse details in that comment...

[2022-04-07 17:12] greyhoundgames commented on #66203
Hey. Sorry I missed your initial reply. So I went to reproduce this again in the same 2 projects and now the error is not showing up.. I guess we can close this and I will re-open if it comes back again.
Thanks.

[2022-04-07 17:28] fernandozago commented on #67506
Not sure. But i ran it on windows 10 (Ryzen 3700x)
Command: CMD /c dir

[code]

But i think it maybe something with multiple threads running at the same time.
If you change your code to run single instance at a time (like on the sync code), it returns nearly the same result for me.

[code]

[2022-04-07 17:41] PeterSolMS commented on #67707
It would definitely be nice if JIT_ByRefWriteBarrier (CORINFO_HELP_ASSIGN_BYREF) could use one more register in release builds, maybe r11, which would make it consistent with debug builds.

[2022-04-07 17:45] BruceForstall commented on #67600
Here's the IR at point of failure:
[code]

[2022-04-07 17:50] carlossanlop commented on #67545
FYI - I hit this hang in:

- Ubuntu 20.04 x64 (Physical laptop)
- Ubuntu 20.04 arm64 (WSL)
- Debian 11 (WSL)

[2022-04-07 17:55] kunalspathak commented on #67102
We are currently busy with other high pri items but will plan to investigate this soon.

[2022-04-07 17:58] kunalspathak commented on #67180
@AntonLapounov - any further update on this?

[2022-04-07 18:06] runfoapp[bot] opened #67712 "Test clientandserver_oneorbothusedefault_ok failing in recent builds"
Runfo Tracking Issue: [Test clientandserver_oneorbothusedefault_ok failing in recent builds](https://runfo.azurewebsites.net/tracking/issue/319)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Results|Run Client|
|---|---|---|---|---|---|---|---|
|[1715560](https://dev.azure.com/dnceng/public/_build/results?buildId=1715560)|[runtime](https://dnceng.visualstudio.com/public/_build?definitionI

[2022-04-07 18:07] agocke commented on #67712
fyi @carlossanlop

[2022-04-07 18:11] adamsitnik commented on #67545
@janvorli is there any chance you could take a look at dump provided by Jeff? I am quite sure it's not a `FileStream` issue (we have not touched the code since 6.0) but I have no idea what is causing it and what is the right area

[2022-04-07 18:23] rzikm commented on #67687
Seems to be newly failing, 6 hits so far

[2022-04-07 18:25] tommcdon commented on #67633
This is a codegen bug

Assert failure(PID 11272 [0x00002c08], Thread: 9180 [0x23dc]): Assertion failed 'addr->TypeIs(TYP_BYREF)' in 'System.Runtime.CompilerServices.DefaultInterpolatedStringHandler:AppendFormatted(int):this' during 'Morph - Global' (IL size 180; hash 0x79f34ab6; FullOpts)

    File: D:\a\_work\1\s\src\coreclr\jit\gentree.h Line: 5791
    Image: D:\h\w\AC350984\p\dotnet.exe

[2022-04-07 18:40] vcsjones commented on #65874
@tmds @omajid I can get the tests to fail in CentOS 9 Stream. Here is a Docker file which does so.

This was done with the base image sha256:c498ab29be98c552440487f06e78ba22b3892f4b29d37aa208fe7ded95280f17. Note: this hard-codes some paths to assume ARM64. If you are running this docker image on x64, you will need to adjust some paths in the `CMD`.

I think this probably means somewhere in your bu

[2022-04-07 18:42] AntonLapounov commented on #67180
I have started discussion #67308 and an internal email thread with OS folks regarding this.  I assume you can set the environment variables as a workaround until we have a fix.

[2022-04-07 19:00] danmoseley commented on #67634
dupe of https://github.com/dotnet/runtime/issues/60933

issue believe understood: https://github.com/dotnet/runtime/issues/60933#issuecomment-958146471

[2022-04-07 19:00] #67634 closed

[2022-04-07 19:00] janvorli commented on #67545
@adamsitnik sure, I'll take a look.

[2022-04-07 19:01] ManickaP commented on #67560
:+1:

---

:+1:

---

Currently we don't send anything to the client and the client waits on connection idle timeout. We even finish the handshake before we decide to not to accept the connection. This is the result of cumulative changes/fixes in 6.0 without proper design and I'm not fond of the way it works now. Options to improve:
- Get rid of this limit. It's possible, but accept queue might gr

[2022-04-07 19:03] rzikm commented on #67509
Strangely enough, I can't find this failure in the AzureDevOpsTests table (nor any other failures, for that matter), but this test seems to frequently require retry in order to pass.

[2022-04-07 19:21] janvorli commented on #67545
@jeffhandley how did you take the dumps? The readasync one is mostly readable, but it doesn't contain sufficient amount of information for viewing managed method names. The other two are somehow broken - the stack traces are not complete and SOS is unable to resolve any managed methods.

[2022-04-07 19:27] jeffhandley commented on #67545
I used `~/.dotnet/shared/Microsoft.NETCore.App/6.0.3/createdump` folder. I used a normal minidump. Should I use a full dump or do something different?

[2022-04-07 19:33] janvorli commented on #67545
Can you please try to take a full dump (with the `-u` option) instead?

[2022-04-07 19:50] Socolin commented on #61243
I had this error and the problem was a mismatch between the version of the nuget and the version of the `DotNetCliToolReference` it it can help someone. I worked for me with those 2

[code]

[2022-04-07 19:53] jkotas commented on #67193
The reflection-free mode is an experiment to demonstrate how far can reflection stripping get us. I do not expect we are going to build full end-to-end experience around it, including warnings, analyzers, etc. The reflection use in .NET libraries is too wide spread for the reflection-free mode to be useful for real-world projects.

It may be more interesting to work on improving IlcTrimMetadata=tr

[2022-04-07 19:56] carlossanlop opened #67716 "Rolling build test failure: System.Private.Uri.Unit.Tests - iOSSimulator-Release-x64-Mono_Release-OSX"
- Rolling build (`runtime-extra-platforms`): https://dev.azure.com/dnceng/public/_build/results?buildId=1702568&view=results
- Pipeline: Build iOSSimulator x64 Release AllSubsets_Mono
- Job: https://dev.azure.com/dnceng/public/_build/results?buildId=1702568&view=logs&j=accacb66-0a14-52ef-4079-6344686d9d4c&t=34fbd35e-866b-51a1-9063-fb50703b1957&l=58
- Artifacts: https://dev.azure.com/dnceng/public/

[2022-04-07 20:15] anthonycanino commented on #66467
Thank you @tannergooding , I think this is ok for now. Thanks for moving it to the .NET 7 milestone.

[2022-04-07 20:35] carlossanlop commented on #67712
This failure has two pre-existing issues that were already tracking this problem in previous times last year:

https://github.com/dotnet/runtime/issues/58927
https://github.com/dotnet/runtime/issues/30724

I started seeing it in this rolling build from 2022/04/06: https://dev.azure.com/dnceng/public/_build/results?buildId=1703604&view=results

Found 3 times in the pipeline: `Libraries Test Run rel

[2022-04-07 20:53] steveisok commented on #67716
There's a 3 minute launch timeout and from the looks of the logs, it took 3 minutes to actually find the simulator.

@carlossanlop Can you ask FR to take a look at and bounce `dci-mac-build-148.local`?

[2022-04-07 20:59] #65417 closed

[2022-04-07 20:59] davidbrinton commented on #67369
I created a string that can be used to reproduce the problem by generating new signing keys for a fake Cognito account that has now been deleted. The problem description has been updated to contain this new data.

[2022-04-07 21:01] stephentoub opened #67720 "Improve code coverage of RegexOptions.NonBacktracking"
We have some areas that aren't being touched by existing tests.  Some of this is known to be dead code that needs to be removed (e.g. SymbolicRegexNodeKind.Or), some of it is probably due to missing tests.  We need to go through, reviewing all the gaps, removing code as is appropriate and adding new tests where appropriate.

[2022-04-07 21:29] tarekgh commented on #67276
After looking at the design guidelines and talking to some people, here are a couple of proposals we can choose from:

[code]

### Alternative Proposal

[code]

@pjanotti @noahfalk let me know what you think.

[2022-04-07 21:29] AhmedZero commented on #67537
i already post it
KeyAuth.cs
[code]
Program.cs

[code]

t

[2022-04-07 21:34] MihaZupan commented on #67537
@AhmedZero could you please reduce this to a minimal runnable sample that still reproduces the issue?

[2022-04-07 21:40] AhmedZero commented on #67537
Ok.
[code]

[2022-04-07 21:52] kunalspathak commented on #64820
Done. Thanks for preparing the report.

[2022-04-07 21:57] tommcdon commented on #67631
Test failures are in codegen-team owned tests- https://github.com/dotnet/runtime/tree/main/src/tests/JIT/PGO

[2022-04-07 22:04] mangod9 commented on #65694
Moving to the codegen area, since this looks to be an issue with missing initialization of local structs in certain cases.

[2022-04-07 22:04] jakobbotsch opened #67723 "JIT: Missing sign extension for `bswap16`"
### Description

The following program gives a wrong result when optimizing:

### Reproduction Steps

[code]

### Expected behavior

Same result.

### Actual behavior

Different results.

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

_No response_

### Other information

We do insert the cast when we import. Looks like value numbering ends up assigning th

[2022-04-07 22:18] pjanotti commented on #67276
@tarekgh assuming that perf for both is similar I prefer the first one.

Small suggestions regarding names:

1. Rename the event to `CurrentChanged` since the usage will already includes Activity - thus avoiding stuttering when reading the code.
2. IIRC the parameter should end in `EventArgs`, something like `CurrentActivityChangedEventArgs` - in this case `Activity` seems necessary since the type

[2022-04-07 22:31] tarekgh commented on #67276
That makes sense.

I thought about that, but I didn't do it because users can think this type is subclassing [EventArgs](https://docs.microsoft.com/en-us/dotnet/api/system.eventargs?view=net-6.0). I didn't use [EventArgs](https://docs.microsoft.com/en-us/dotnet/api/system.eventargs?view=net-6.0) or subclass it because this will cause memory allocation which we need to avoid. I am not objecting to

[2022-04-07 23:00] pjanotti commented on #67276
I see and agree with you: it is more important to avoid the allocation. The name then shouldn't have `EventArgs` to avoid confusion.

[code]

and then the user code will look like:

[code]

Any ideas for the `sender` value?

[2022-04-07 23:03] tarekgh commented on #67276
I think it will always be `null`.

[2022-04-07 23:34] pjanotti commented on #67276
@tarekgh I just updated the description per our conversation above, ptal.

[2022-04-07 23:46] tarekgh commented on #67276
Could you please delete the part:

[code]

This is implementation details and not part of the new APIs we need to expose. Just to not confuse anyone reviewing that. Feel free to move this part under some remarks section as needed.

Also, you may include the alternative proposal I sent just in case the reviewers can compare and discuss it too.

Thanks @pjanotti

[2022-04-08 00:00] pjanotti commented on #67276
Done.

[2022-04-08 00:04] hoyosjs commented on #47022
Looks like this took a 1:15
`"C:\src\dotnet\runtime\src\coreclr\build-runtime.cmd" -x64 -release -pgodatapath "C:\Users\ericstj\.nuget\packages\optimization.windows_nt-x64.pgo.coreclr\1.0.0-prerelease.22121.2"
    Executing "C:\src\dotnet\runtime\src\coreclr\build-runtime.cmd" -x64 -release -pgodatapath "C:\Users\ericstj\.nuget\packages\optimization.windows_nt-x64.pgo.coreclr\1.0.0-prerelease.2212

[2022-04-08 00:09] tarekgh commented on #67276
@noahfalk let's know if you are ok with the final proposal.

[2022-04-08 00:27] AndyAyersMS commented on #67410
Seems plausible this is OSR related as the test method contains a few loops.

But I can't repro this at c288acdb794b1f2edba90868a823b161d88bd2b0 so perhaps it's fixed by one of the OSR fixes I pushed yesterday? Going to try some older builds to see.

[2022-04-08 00:41] AndyAyersMS commented on #66439
One failure in the past 14 days (arm64 alpine). So still happening occasionally.

https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-6b0095219baf4ace8a/JIT.HardwareIntrinsics.General.Vector128/1/console.2852bf84.log?sv=2019-07-07&se=2022-04-26T11%3A06%3A23Z&sr=c&sp=rl&sig=uNo7LDgljtxhJGXUlTFbHFCCR54E0HrXGeQaD8hlgQA%3D

[2022-04-08 00:55] tetrisplusplus commented on #67684
Thank you for your quick response and much helpful information.

I understand that loading C++/CLI assemblies from streams will not be supported in the future, so I will use a combination of .NET and C++ Dll.

[2022-04-08 00:55] carlossanlop opened #67728 "runtime-extra-platforms rolling build failure: Docker Internal Server Error - The container operating system does not match the host operating system."
Seen in the two latest rolling builds from `runtime-extra-platforms`:

- 309 errors: https://dev.azure.com/dnceng/public/_build/results?buildId=1703729&view=results
- 312 errors: https://dev.azure.com/dnceng/public/_build/results?buildId=1704666&view=results

Both rolling builds had a general problem causing most tests to output this to the log:

[code]

The run_client.py log from artifacts show t

[2022-04-08 01:02] danmoseley commented on #67671
@agocke which team owns this?

[2022-04-08 01:04] AndyAyersMS commented on #67410
Can repro on windows x64 at ade99ed7cb678abe93461906928f33d544e0debe.

Via `COMPlus_JitEnablePatchpointRange` isolation, the issue seems to be in
[code]

[2022-04-08 01:19] AndyAyersMS commented on #67410
JitStress=2 here forces a no-way fallback so we rejit the OSR method with minopts.
[code]
so presumably there's some bad interaction of minopts and OSR to sort out.

[2022-04-08 01:25] Maoni0 commented on #66569
I don't think there's anything new here - it's just when @cshung checked in this test, it was never run with heap verification. we just need to check to filter out the object if it's in an ro region when we check if we need a card for it.

[2022-04-08 01:30] VincentBu opened #67730 "Test failure: System.IO.Tests.StreamReaderWithBufferedStream_Tests.ReadToEndAsync_WithCancellation"
Run: [runtime-libraries-coreclr outerloop 20220407.2](https://dev.azure.com/dnceng/public/_build/results?buildId=1704798&view=ms.vss-test-web.build-test-results-tab&runId=46435126&resultId=102087&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-04-08 02:53] gemSender opened #67734 "[Mono] aot build error when a delegate return struct by reference"
code:

[code]

compile error :
Unable to compile method '(wrapper delegate-invoke) Test.Handle& <Module>:invoke_Handle&_TestClass (Test.TestClass)' due to: 'Invalid IL code in (wrapper delegate-invoke) <Module>:invoke_Handle&_TestClass (Test.TestClass): IL_0079: stloc.s   5

 assembly:<unknown assembly> type:<unknown type> member:(null)'.

[2022-04-08 05:09] schehlmj opened #67738 "[API Proposal]: Allow IReadOnlyDictionary GetValueOrDefault parameter key to be nulllable"
### Background and motivation

Dictionaries do not allow keys to be null. Because of that, it can be assured that calling GetValueOrDefault with a null key would not return a value, therefore, it is safe that if a null value for key is passed in, that returning the default is acceptable.

This code change allows code like:
var nullableInt = (int?)null;
var dict = new Dictionary<int, string>();
var

[2022-04-08 05:15] #64135 closed

[2022-04-08 05:22] GrabYourPitchforks opened #67739 "JIT might emit unnecessary null check when enumerating arrays of KVP"
Reported via Discord. A null check is being emitted that we'd reasonably expect to have been elided. Repro code:

[code]

Codegen, x64 release (per sharplab):

[code]

L0017 - L0023 taken as a whole are interesting. It seems like all of those lines could have been the single instruction `movsxd r9, [rdx + r9 + 0x18]`. But for some reason, on L001f and L0023, the two instructions are not being fold

[2022-04-08 05:45] NN--- commented on #67642
Once I needed to start process suspended in order to change permissions to the main thread.
After performing all necessary work, the main thread downgraded its permissions to be the same as the process.

[2022-04-08 05:49] zuntio commented on #67577
For example in customer facing APIs it is usually handy to return human readable error. When customer contacts about problem encountered, the first thing they send is the error message but not any traceable guids. It makes triaging customer issues much faster.

[2022-04-08 05:58] noahfalk commented on #67276
yep looks great to me. I don't care if you get rid of my original proposal btw. The essential element was just that we could use a callback + 2nd async local. I spent maybe two seconds thinking about the names and types in the example : )

[2022-04-08 06:50] Jagbri opened #67740 "System.Text.Json options throws an exception setting DefaultIgnoreCondition = Always"
### Description

Exception creating new System.Text.Json.JsonSerializerOptions with DefaultIgnoreCondition = JsonIgnoreCondition.Always

### Reproduction Steps

`var options = new JsonSerializerOptions
{
    DefaultIgnoreCondition = JsonIgnoreCondition.Always
};
`

### Expected behavior

Get a new instance of configured JsonSerializerOptions

### Actual behavior

System.ArgumentException: The valu

[2022-04-08 06:53] MichalStrehovsky opened #67741 "Expand libraries testing"
Currently running a single test only (look for NativeAOT in src\libraries\tests.proj) because in runtimelab we saw some odd race conditions when building multiple test projects. I think I fixed it for .NET 7, but we would need to update the .NET used to build the repo to .NET 7 to pick up the fix and see if the race is gone.

- [ ] Make PR validation run at least the System.Runtime, System.Reflect

[2022-04-08 06:53] MichalStrehovsky opened #67742 "Publish NativeAOT compiler with NativeAOT"
Once crossgen2 is published with NativeAOT, we should publish the NativeAOT compiler the same way to keep them in sync.

[2022-04-08 06:57] MichalStrehovsky opened #67743 "Expand CoreCLR testing"
Add means to run all Pri-0 CoreCLR tests in rolling builds.

A full test pass takes about 4 hours on the CI machine, as long as we have 2500+ tiny test exes to compile. This number is for multimodule configuration mode that we don't ship. A full test pass in singlemodule compilation mode (that recompiles corelib every time we build a test) takes almost 7 hours on my 2015 MacBook. Never tried it in

[2022-04-08 07:06] tannergooding opened #67744 "Determine recommended behavior of checked/unchecked operators for DateTime and similar types"
As per https://github.com/dotnet/runtime/pull/67714#discussion_r845516461, there is some an open decision needed around how `checked`/`unchecked` operators work for types like `DateTime`. This likely will play into guidance we give customers for their own similar types as well.

The four basic options are:
1. Don't implement the generic math interfaces on these types.
2. Leave the behavior as is.

[2022-04-08 07:06] tannergooding commented on #67744
CC. @stephentoub

[2022-04-08 07:06] MichalStrehovsky opened #67745 "Runtime type loader support for static abstract interface methods"
The compiler currently generates Invalid dictionary entries for constrained calls. So if we have static abstract methods used in code that got MakeGenericType'd/MakeGenerciMethod'ed at runtime, we'll get a MissingRuntimeArtifactException even if the type loader template was available for such type. The workaround is RD.XML the specific instantiation.

We should add type loader support for this.

[2022-04-08 07:14] tannergooding commented on #67744
I'll take this to API review as part of this next round of generic math. Would be good to get some initial thoughts from interested @dotnet/fxdc members beforehand, however.

My own leaning is that 3 is the least breaking and potentially the most useful overall. Utilizing the code from a generic context is an entirely new concept here and so there won't be users relying on an existing behavior. Th

[2022-04-08 07:35] zhuoyang commented on #62216
I am getting the same exception after upgrading to .NET 6, not quite sure if it's the same problem.
My service is hosted in Google Cloud Run and goes like this
Web App <---> Ocelot API Gateway (.NET 6) <---> .NET 6 Web API (HTTP/2 enabled)

`
System.IO.IOException: The response ended prematurely while waiting for the next frame from the server. at System.Net.Http.Http2Connection.<ReadFrameAsync>g_

[2022-04-08 07:58] premun commented on #67349
@carlossanlop please note that the fix has already been merged into Arcade, however Arcade hasn't been promoted for well over a week because runtime has problem with ingestion of it. This is probably something to look into for the @dotnet/runtime-infrastructure team?

https://dnceng.visualstudio.com/internal/_build/results?buildId=1706764&view=results

[2022-04-08 08:03] BrzVlad commented on #66694
Fixed by https://github.com/dotnet/runtime/pull/67663

[2022-04-08 08:03] #66694 closed

[2022-04-08 08:04] rzikm commented on #53507
Proposal to make `ServerCertificateContext` properties public: #67552

[2022-04-08 08:04] BrzVlad commented on #56449
I expect this to be fixed by https://github.com/dotnet/runtime/pull/67663. Re-enabled the test

[2022-04-08 08:04] #56449 closed

[2022-04-08 08:25] krwq commented on #67740
Assuming this worked, wouldn't that always produce `{}` on serialize and deserialize everything to null?

[2022-04-08 08:35] Jagbri commented on #67740
It should ignore properties with null or default values and not serialize them.

[2022-04-08 08:50] rzikm commented on #67301
The problem is the `QUIC_ADDRESS_FAMILY` we pass into the `QuicConnectionStart` function, which still uses the windows value for IPv6.

We can either plug `UNSPECIFIED` temporarily. The value is not used because we set the `REMOTE_ADDRESS` connection parameter separately before calling `QuicConnectionStart`. Or we can just wait for #67377.

[2022-04-08 08:53] DanPristupov commented on #67506
I decided to run the profiler.

<details>
  <summary>Source code</summary>

[code]
</details>

Run the profiler on M1 Max:
[code]

The hot point is the `Interop.Sys.ForkAndExecProcess` call in `runtime/src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs`.

<img width="1118" alt="Screenshot 2022-04-08 at 10 39 09" src="https://user-images.githubusercontent.com/618115/162

[2022-04-08 08:55] premun commented on #67716
As @steveisok says, this is really unfortunate timing of things.

I think this is a bug in XHarness where it doesn't recognize that it is the launch timeout cancellation happening and not failing operations (finding device, reading app bundle info...).

I have logged this: https://github.com/dotnet/xharness/issues/855

This should result in some exit code that will be retried and the machine reboo

[2022-04-08 09:09] DanPristupov commented on #67506
There is a comment in ForkAndExecProcess which implies that allowing multiple processes to start concurrently was at least considered during initial the implementation.

https://github.com/dotnet/runtime/blob/6a889d234267a4c96ed21d0e1660dce787d78a38/src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs#L502

[code]

Maybe if has never been working properly or it could be

[2022-04-08 09:16] ManickaP commented on #62216
@zhuoyang If your problem is the same, disabling dynamic window sizing might help:
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-environment-variables
`DOTNET_SYSTEM_NET_HTTP_SOCKETSHTTPHANDLER_HTTP2FLOWCONTROL_DISABLEDYNAMICWINDOWSIZING` or `AppContext` switch: `System.Net.SocketsHttpHandler.Http2FlowControl.DisableDynamicWindowSizing`.

This should be done on the client side, I guess

[2022-04-08 09:24] eiriktsarpalis commented on #67740
Tagging @layomia for context. I'm guessing this was added because specifying `Always` globally was deemed too destructive and is only meant for property-level configuration?

[2022-04-08 09:31] zhuoyang commented on #62216
I disabled it just awhile ago, so far so good it seems, will monitor if the issue shows up again.
Is there any ongoing plan on fixing this issue ?

[2022-04-08 09:32] eiriktsarpalis commented on #67369
@davidbrinton I tried running the isolated deserialization snippets you shared but didn't observe anything out of the ordinary. We'd need some kind of standalone reproduction to further evaluate this. Would it be possible to share a concole app (not an aspnetcore app) that deterministically demonstrates the problem?

[2022-04-08 09:45] EgorBo commented on #67739
Minimal repro:
[code]

First of all it looks like a missing forward sub oportunity:

![image](https://user-images.githubusercontent.com/523221/162410787-66b5beea-0543-46c2-834e-bf7ec6cf6b08.png)

[2022-04-08 09:52] EgorBo commented on #67671
I can take a look at this myself since I got familiar with how it works last week 🙂

[2022-04-08 10:04] jakobbotsch commented on #67739
I suppose the forward sub part doesn't have anything to do with the ADDR node since LocalAddressVisitor is already replacing that entire tree with the promoted local. We do not handle the assignment until morph, and it's hard for forward sub to do much with the block assignment and field read.

[2022-04-08 10:11] danielklecha commented on #46064
According to [documentation](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-6.0#windows-eventlog) event log ignore default settings:

Configuration should be similar to this:
[code]

[2022-04-08 10:14] jakobbotsch commented on #67739
Even in the "forward" direction we do not manage to elide the copy of the unused field:
[code]

[code]

[2022-04-08 10:44] eiriktsarpalis commented on #67738
If I'm honest I don't believe there is a lot of value in adding this extensions, since they can be trivially expressed as one-liner expressions or factor into user-defined extension methods. What might be more useful is supporting dictionaries with null keys (technically this is possible using IEqualityComparer implementations that support null values, but most dictionary implementations hardcode

[2022-04-08 11:09] eiriktsarpalis commented on #67641
@psychomonkey9 your issue doesn't describe a standalone reproduction, but having reconstructed one based on your snippets I believe that your code has the following issues:

* There are casing mismatches between the class and JSON properties. For your example to work you need to pass a `JsonSerializerOptions` instance with `PropertyNamingPolicy` set to `JsonNamingPolicy.CamelCase`. More importantl

[2022-04-08 11:11] eiriktsarpalis commented on #67454
Sure, [this guide](https://github.com/dotnet/runtime/tree/main/docs/workflow) should help getting your started.

[2022-04-08 11:18] adamsitnik commented on #67730
It's an infra issue

[2022-04-08 11:29] karelz commented on #62216
@zhuoyang we do not have plans yet. You are the first customer hitting it outside of CI in the real world. When we see more people hitting it, we will raise priority of the issue.

[2022-04-08 11:38] karelz commented on #64941
Fixed in 7.0 (main) in PR #65020 and in 6.0.3 in PR #65046.

[2022-04-08 11:46] adamsitnik commented on #67595
I agree that I would not expect such big difference from this change, unless the benchmark started executing the slow path. But the setup logic prevents from it:

https://github.com/dotnet/performance/blob/d7dac8a7ca12a28d099192f8a901cf8e30361384/src/benchmarks/micro/libraries/System.Globalization/StringSearch.cs#L58-L59

it's configurable to use high chars, but for this particular test case it's

[2022-04-08 11:48] adamsitnik commented on #67595
That is a great question, as it seems to affect only Ubuntu **x64**. ARM64 is fine:

https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_arm64_ubuntu%2018.04%2fSystem.Globalization.Tests.StringSearch.IsSuffix_DifferentLastChar(Options%3a%20(en-US%2c%20IgnoreNonSpace%2c%20False)).html

@EgorBo is it possible that it's a code gen issue?

[2022-04-08 11:51] karelz commented on #62136
@kevinwedwards .NET releases are always aiming at patch Tuesday - 2nd Tuesday in each month. It is useful in case it includes also security fixes.
So the estimation is Tue 4/12.

[2022-04-08 11:51] karelz commented on #62136
Fixed in 7.0 (main) in PR #66305 and in 6.0.4 in PR #66315

[2022-04-08 11:58] Akarinnnnn opened #67751 "[API Proposal]: Default `IEnumerator<T>` implementation for `object IEnumerator.Current { get; }`"
### Background and motivation

`IEmumerator<T>` has a historical burden: `object IEnumearble.Current { get; }`, which erases type and conflicts with generic version. In most strong typed enumerator, the ancient `Current` just returns the value which got from generic version, consider below snippet:
[code]
Almost every strong typed enumerator have to paste `object IEnumerator.Current => Current;`.

[2022-04-08 12:07] karelz commented on #63624
Fixed in 7.0 (main) in PR #64023 and in 6.0.3 in PR #64032.

[2022-04-08 12:09] karelz commented on #64943
Fixed in 7.0 (main) in PR #64966 and in 6.0.4 in PR #65024.

[2022-04-08 12:11] qmfrederik opened #67752 "Occasional "Keyset does not exist" exception when calling .GetRSAPrivateKey on Windows"
### Description

For the last couple of years, we've been seeing flakiness in unit tests which access private keys of certificates.  The issue is exclusive to Windows.

Typical symptoms are:

[code]

And, occasionally, the `Export Policy` of the private key to be missing the `AllowPlaintextExport` value.

There's an incentive to reduce this flakiness, so I did some further digging.

### Reproducti

[2022-04-08 12:12] qmfrederik commented on #67752
Forgot to mention that https://github.com/qmfrederik/rsacng/ contains the code and GitHub actions which reproduce the issue.

[2022-04-08 12:16] karelz commented on #63523
Fixed in 7.0 (main) in PR #63702 and in 6.0.3 in PR #63888.

[2022-04-08 12:16] karelz commented on #63522
Fixed in 7.0 (main) in PR #63702 and in 6.0.3 in PR #63888.

[2022-04-08 12:16] karelz commented on #63521
Fixed in 7.0 (main) in PR #63702 and in 6.0.3 in PR #63888.

[2022-04-08 13:03] trylek opened #67756 "[Mono Linux arm64 Release] JIT/Methodical/tailcall/compat_i4_u_il_r and compat_i4_u_il_d fail in merged wrapper mode"
OS: **Linux**
Architecture: **arm64**
Configuratrion: **release**
Runtime: **mono**

Example run: https://dev.azure.com/dnceng/public/_build/results?buildId=1705961&view=ms.vss-test-web.build-test-results-tab&runId=46455818&resultId=100392&paneView=debug

There is almost no useful diagnostic information, the test just says that

<pre>
Running test: JIT/Methodical/tailcall/compat_i4_u_il_r/compat_i

[2022-04-08 13:12] vcsjones commented on #67752
To help me understand and reproduce: does this _only_ happen in GitHub actions? Can you reproduce it on a local Windows install or VM?

[2022-04-08 13:37] krwq commented on #63686
I've updated the APIs with following changes:
- static factory for JsonTypeInfo now returns `JsonTypeInfo<T>`
- added linker annotations
- removed Converter on JsonTypeInfo because it already can be changed

IMO better do it separately as it will separate set of issues

I'm unsure yet, will refrain from that change for now

[2022-04-08 13:40] EgorBo commented on #67595
I'll run locally and see if there are any diffs. I wonder if we can collect diffs automatically in the perf infra for auto-file regressions 🙂

[2022-04-08 13:53] qmfrederik commented on #67752
It's not specific to GitHub actions; I've seen it fail with Azure DevOps and GitLab pipelines as well.  I just created the GitHub workflow to "provide public evidence", if you want ;-)

I haven't been able to reproduce this on a Windows client; failures were always on a Windows server (in a CI context).  Not sure if this is because something is different on Windows Server, because the CI machines

[2022-04-08 14:03] a74nh commented on #55364
I've been speaking to various people within Arm, and the benefit for switching to using csel (and friends) for AArch64 isn't obvious. This is due to modern branch prediction. Branches are predicted many cycles before the condition is evaluated (and before the branch itself is even fetched), so if the prediction is accurate, it results in significant speedups when using branches. In addition, depen

[2022-04-08 14:30] danmoseley commented on #67730
Area-infrastructure doesn't own the test machines.

@dotnet/dnceng  could you check on the machine used here? Is it too late to determine what is using the space?

[2022-04-08 14:39] GrabYourPitchforks commented on #67751
Dupe of https://github.com/dotnet/runtime/issues/29513.

[2022-04-08 14:40] #53090 closed

[2022-04-08 14:40] #58078 closed

[2022-04-08 14:48] premun commented on #67730
Unfortunately, this was running on a VM and the VM is long gone. However, the VM processed 148 work items in a row:

[code]

I will have a look and check what files it was downloading. Maybe there was some huge correlation payload being downloaded.

[2022-04-08 15:09] qmfrederik commented on #67752
Update: I've been able to reproduce this on Windows client using the following application:

[code]

which generates this output:

[code]

which is a slightly different symptom (`AllowPlaintextExport` missing in the export policy and  `The requested operation is not supported.` error)

[2022-04-08 15:10] sgmunn opened #67760 "createdump / signals do not work with macOS application that has LSUIElement=true"
### Description

Writing a Xamarin.mac app that does not show in the Dock using

`LSUIElement=true` or `NSApplication.SharedApplication.ActivationPolicy = NSApplicationActivationPolicy.Accessory`

results in an application that does not generate crash dumps with createdump, nor can it handle signals via `PosixSignalRegistration.Create(PosixSignal.SIGTERM, SignalReceived);`

### Reproduction Steps

[2022-04-08 15:11] krwq commented on #67333
this code path doesn't exist anymore after my changes. Let's see if the same issue resurfaces after my changes

[2022-04-08 15:11] #67333 closed

[2022-04-08 15:20] krwq commented on #59678
Ok, finally got lucky - random Assert.Contains failed where `actualString.IndexOf(expectedSubstring, StringComparison.CurrentCulture)` returned -1 but `actualString.IndexOf(expectedSubstring, StringComparison.Ordinal)` returned non-negative value.

IMO some issues we're seeing are some kind of globalization issue - maybe cultures didn't get initialized correctly when it happens on multiple threads

[2022-04-08 15:23] premun commented on #67730
Looking at the payloads of the job, they don't seem overly huge (200 MB altogether downloaded to that machine).

[code]

Is it possible the job creates a lot of files?

[2022-04-08 15:29] krwq opened #67761 "JSON flaky tests"
We're seeing some random JSON tests failing. So far I've seen following types of issues:
- random Assert.Contains failing where string seem to actually contain value but yet assert fails - [see my comment here for more details](https://github.com/dotnet/runtime/issues/59678#issuecomment-1092996809) - most likely there are other CurrentCulture related APIs which could be affected
- MemoryStream end

[2022-04-08 15:31] krwq commented on #67761
Seen on PR, seems perhaps we somehow ended up without properties on JsonTypeInfo (or one of the flags preventing serialization to happen)

[code]

[2022-04-08 15:38] vcsjones commented on #67752
An observation on the PFX, it has the following bag attributes:

[code]

Since the RSA key has CSP Identifier, I think this is a thread race issue. Every time the PFX is imported, it imports the RSA key with a container ID Quamotion924ce70f-610c-4839-b671-c964a6950da4. Then one thread is done, it deletes it. But another thread may have been using the key at that time, and it gets deleted out from

[2022-04-08 15:42] krwq commented on #60962
This stack trace will definitely need repro anymore because that code path no longer exists. I've created https://github.com/dotnet/runtime/issues/67761 to track all flakiness in JSON tests so I'll close this issue in favor of the other one. I've already seen this manifest in some other way. We'll most likely need to add much more logging (i.e. printout all fields on JsonSerializerOptions/JsonType

[2022-04-08 15:43] #60962 closed

[2022-04-08 15:43] akoeplinger opened #67762 "Enabling SIMD for System.Numerics.Vector4 causes an assertion in mini-llvm.c:5817"
In https://github.com/dotnet/runtime/pull/67503 I noticed that we didn't mark `System.Numerics.Vector4` as being a SIMD class since it now lives in System.Private.CoreLib.dll instead of System.Numerics.dll:
https://github.com/dotnet/runtime/blob/eb223d8514fb0b3166cc0824d492ca3c0a5736ed/src/mono/mono/metadata/class-init.c#L701-L706

Fixing that however revealed an issue when AOT compiling with LLVM

[2022-04-08 15:44] premun commented on #67730
I have also recently dealt with an FR question where we found out that some of the build happened inside of the **correlation payload directory** which is common for the whole job, is uploaded only once per job and downloaded to the machine to one place where in case it happens that an agent processes 2+ workitems from the same job, it is re-used (it is kept for some time).

Is it possible somethi

[2022-04-08 15:46] krwq commented on #59678
I'll locally do Ordinal compare for now to flush out other flaky issues and meantime I'm checking with @tarekgh if he's seen anything similar happening elsewhere...

[2022-04-08 16:08] tommcdon commented on #67760
@mikem8361

[2022-04-08 16:09] bartonjs commented on #67752
Yeah, my immediate reaction was the same as what @vcsjones just identified: That the PFX has the `friendlyName` attribute on the key.

Windows PFXImportCertStore has a race condition where opening two PFXes (including "the same PFX") that have identical `friendlyName` values in parallel may result in the two objects becoming inter-linked, and deleting one deletes the key out from under the other.

[2022-04-08 16:21] akoeplinger commented on #67762
/cc @SamMonoRT

[2022-04-08 16:30] danmoseley commented on #59678
Trying to figure out whether it's Mac specific, Kusto isn't cooperating well, but this query suggests two failure modes: on Windows where lots of nulls are found in the buffer, and on Mac where there is simply an unexpected char repeated after a certain point?

[code]

|Type|Method|Pipeline|Pipeline_Configuration|OS|Arch|Finished|Build|Message|StackTrace|
|---|---|---|---|---|---|---|---|---|---|

[2022-04-08 16:31] tarekgh commented on #59678
This is possible to happen and can be legitim. Sometime with the cultural search there can be some clusters (multiple consequent characters) which you cannot break inside, and the search cannot stop in the middle of this cluster. In the other hand ordinal search work per character which will not have this case. Send me the text you have used in such case and I can try to find out this specific cas

[2022-04-08 16:31] danmoseley commented on #59678
And all the mac failures above are on "osx.1200.amd64.open"

[2022-04-08 16:36] ilyas1974 commented on #67728
To keep you in the loop, this is what I found - "It depends on the isolation type being used. On Windows Server, process isolation is used by default. With process isolation, the host and container must be the same version. With Hyper-V isolation, the container can be the same version or a lower version than the host. This is described at https://docs.microsoft.com/en-us/virtualization/windowscont

[2022-04-08 16:37] qmfrederik commented on #67752
@vcsjones I'll give that a try and let you know.  I did ran the tests without the multi-threading and cannot reproduce it if I just open the certificate sequentially, so that seems to confirm your analysis.  That's also why we've seen these issues in CI, presumably because they are slower/under higher load so there's more multi-threading.

Does that also explain why the `AllowPlaintextExport` poli

[2022-04-08 16:38] danmoseley commented on #67730
These are IO tests, so certainly it's possible that it creates a lot of files/large files. Can you think of a way that the infrastructure could help us figure out what is using the disk space? Maybe hold a VM for investigation if it his out of disk space?

[2022-04-08 16:49] ayakael opened #67763 "Build of coreclr fails with musl 1.2.3"
### Description

Build of coreclr fails with musl 1.2.3 due to following error:
[code]

Caused by the following change in musl:
https://git.musl-libc.org/cgit/musl/commit?id=98e688a9da5e7b2925dda17a2d6820dddf1fb287

### Reproduction Steps

1) Setup Alpine Edge environment with musl 1.2.3.
2) Attempt a build

### Expected behavior

Build should pass, as with musl 1.2.2

### Actual behavior

Failure

[2022-04-08 16:55] nekopsykose commented on #67763
could you try replacing `if(NULL` with `if(nullptr` in `src/init/pal.cpp:350`..? it seems like that would fix it

[2022-04-08 16:56] ayakael commented on #67763
On it

[2022-04-08 17:00] Hello71 commented on #67763
huh? wouldn't you need to change `, NULL)` to `, nullptr)`? anyways, it won't work because nullptr doesn't match T*: https://gcc.godbolt.org/z/odvj99rK5. the correct solution is s/int/nullptr_t/ in palinternal.h, and then s/NULL/nullptr/ in pal.cpp.

[2022-04-08 17:01] Hello71 commented on #67763
https://github.com/dotnet/runtime/blob/main/docs/coding-guidelines/clr-jit-coding-conventions.md#15.1.4 already says "Do not use NULL." anyways.

[2022-04-08 17:03] am11 commented on #67763
JIT coding conventions do not apply in PAL.

[2022-04-08 17:21] carlossanlop commented on #67349
@hoyosjs please let me know when we update the arcade dependency in runtime so we consume this fix and close this issue.

[2022-04-08 17:23] vcsjones commented on #67752
Probably. It's likely that one thread was reading that property at the same time the key was re-imported but before the export property was set.

[2022-04-08 17:27] bartonjs commented on #66623
* We've generally stopped using "Ptr" and instead use "Pointer", so PtrArrayMarshaller got renamed to PointerArrayMarshaller
* Consider if it's valuable to put these (and future) marshallers in a sub-namespace, e.g. `System.Runtime.InteropServices.Marshallers`
  * If it seems valueable to also move the new LibraryImport attribute, something slightly more general, like `System.Runtime.Marshalling`

[2022-04-08 17:31] danmoseley opened #67766 "Results of the Feb 2022 repo survey for dotnet/runtime"
Thanks to everyone who participated in the 2022 repo survey. We got 51 responses for dotnet/runtime, one of the highest number for any of the repos surveyed.

## Overall experience

The most important question is “Overall how do you rate your experience in this repo" and that has gone up:
![image](https://user-images.githubusercontent.com/6385855/162489489-3c79d182-954a-44bf-a0ac-0297865bc7cd.png)

[2022-04-08 17:35] carlossanlop opened #67768 "Rolling build CI failure: System.Threading.Tasks.Tests.TaskContinueWithTests.LongContinuationChain_Await_DoesNotStackOverflow"
- Rolling build: https://dev.azure.com/dnceng/public/_build/results?buildId=1706886&view=results
- Pipeline: `Libraries Test Run release mono OSX x64 Release`
- Job: https://dev.azure.com/dnceng/public/_build/results?buildId=1706886&view=logs&j=d8aa34eb-4280-5100-d989-99a78ab22b6c&t=683b5689-715c-520d-1153-f2b6228fe807&l=58
- Log: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runti

[2022-04-08 17:38] ayakael commented on #67763
No dice on either the follwing solutions
1) `s/if(NULL/if(nullptr/ pal.cpp`
2) `s/NULL/nullptr/g pal.cpp`
[code]
3) `s/int/nullptr_t/g palinternal.h`  `s/NULL/nullptr/ pal.cpp`
[code]

[2022-04-08 17:43] joperezr commented on #65011
I have done some experimentation on this, and have also discussed offline with both @stephentoub and @bartonjs. Based on this I have made a few changes on my prototype and I will update the above proposal as such. Here are the main points:

- Instead of naming the method `Enumerate` we will change it to be `EnumerateMatches`. There are a lot of similarities between the API being proposed and the e

[2022-04-08 17:45] carlossanlop commented on #67728
Continues affecting the `runtime-extra-platforms` rolling builds from 2022/04/08:

308 failures: https://dev.azure.com/dnceng/public/_build/results?buildId=1706951&view=results
310 failures: https://dev.azure.com/dnceng/public/_build/results?buildId=1705858&view=results

[2022-04-08 17:51] q66 commented on #67763
the issue is this: https://github.com/dotnet/runtime/blob/a44b7c2059bd584b755b6a8ed4f63e7aacfb1441/src/coreclr/pal/src/include/pal/palinternal.h#L707

basically there is multiple overloads of the functions and the code abuses the fact that in older versions of C++, `NULL` was defined to be the constant 0, so the function overloading rules would pick up the version with `int` argument first

and no

[2022-04-08 17:54] ayakael commented on #67763
Which is why following the solution here: https://github.com/dotnet/runtime/issues/23650 fixes the issue, that is to say « coreclr didn't build on freebsd (due to https://github.com/dotnet/coreclr/commit/08d39ddf02c81c99bd49c19b808c855235cbabdc) - when I reverted this commit, it builds. cc janvorli for the error below (simple change from NULL to 0 fixed those errors, but it was in many places, so

[2022-04-08 18:02] q66 commented on #67763
the fix is to change the `int` arguments to `std::nullptr_t` (or `decltype(nullptr)`); that way it will resolve the ambiguity and still allow taking both explicit NULL and nullptr constants

[2022-04-08 18:10] maryamariyan opened #67769 "Add extension method to help set DI injectable `MemoryCache` with enabled statistics tracking ability"
With https://github.com/dotnet/runtime/issues/50406, we added `IMemoryCache.GetCurrentStatistics()` API, which helps us track statistics such as cache hits, misses, cache count and size for `IMemoryCache`. This capability is turned off by default.

The new `GetCurrentStatistics()` API allows app developers to use either event counters or metrics APIs to track statistics with code snippets illustra

[2022-04-08 18:11] maryamariyan opened #67770 "Allow tracking statistics for multiple instances of `MemoryCache` built-in in the library"
In the first issue in https://github.com/dotnet/runtime/issues/50406, we added support for adding metrics for `IMemoryCache`, by adding `GetCurrentStatistics()` API.

`GetCurrentStatistics()` API allows app developers to use either event counters or metrics APIs to track statistics with code snippets illustrated in [this gist](https://gist.github.com/maryamariyan/1a7c6fbd4b2f065157ac3d92abcaf7ba).

[2022-04-08 18:12] danmoseley commented on #67545
I hit this hang on x64. I'll share a link to dumps @janvorli as soon as they're uploaded.

I'm not sure how helpful it will be -- there is really only one active thread,
[code]

[2022-04-08 18:16] #50406 closed

[2022-04-08 18:21] joperezr commented on #65011
For Capture support, we can later propose something like:

[code]

[2022-04-08 18:27] bartonjs commented on #67207
Rather than expose an abstract class to describe the concept, we feel that it's solvable with just one struct iterator type defined on Activity

[code]

[2022-04-08 18:38] ayakael commented on #67763
We're getting somewhere
[code]

Now its  a matter of adapting `reinterpret_cast<T*>(comparand));`

[2022-04-08 18:39] bartonjs commented on #67368
Looks good as proposed

[code]

[2022-04-08 18:40] q66 commented on #67763
change the `reinterpret_cast<T*>(comparand)` to `nullptr` in the function where you changed the argument

[2022-04-08 18:40] am11 commented on #67763
https://github.com/dotnet/runtime/commit/fcdffe39e49851e3af6ca9dcbc42c57e7b482ec7 fixes the coreclr build for me. @ayakael can you test it?

[2022-04-08 18:41] ayakael commented on #67763
Reckoned that would be the next step, thank you :)

[2022-04-08 18:41] q66 commented on #67763
@am11 that'll fix it too probably, but it's not a good fix, it's just adapting usage to the bad API

the API itself should be changed like i wrote above

[2022-04-08 18:44] Danyy427 commented on #67201
@danmoseley I fixed all of the tests and they all passed on my local system. Instead of deleting the `ThrowsException` tests, I merged the entirety of them into my own test function that I have written initially so we can test all of the invalid and null zip file test cases. I have pushed the code to #67332 and if they pass here as well they should be good to go.

[2022-04-08 18:44] #66971 closed

[2022-04-08 18:46] am11 commented on #67763
I disagree. The API expects an integer value, we should pass 0.

[2022-04-08 18:48] q66 commented on #67763
no, the API expects a pointer

the integer type in there is a bad hack to overload the function for explicit NULLs, which now broke, so the API should be fixed

[2022-04-08 18:55] ayakael commented on #67763
Build passes with this patch
[code]
Seemed odd for `reinterpret_cast<T*>(value)` to become `nullptr` rather than `value`, but feel free to correct me in this matter.

[2022-04-08 18:59] am11 commented on #67763
Feel free to put up a PR.

[2022-04-08 19:00] q66 commented on #67763
[code]

you are accidentally dropping an argument here

[2022-04-08 19:02] agocke commented on #67349
@premun Is there any way to bring in a fix for this without updating the version of the SDK we use in runtime? That's a big task and might take us some time

[2022-04-08 19:02] #67632 closed

[2022-04-08 19:08] tarekgh commented on #67276
I updated the text telling the callback will be called only when Activity.Current is set.

[2022-04-08 19:08] bartonjs commented on #65011
We broke Range up into Index and Length to better match the current Match type.  We can easily add a Range property later if it's desired.

The `ValueMatch` type is being approved as a ref struct because we have concerns that it will need it with a more complete implementation of ValueMatch.  In either this release, or a subsequent one, when we're confident we can drop it we would like to do so.

[2022-04-08 19:08] jam40jeff commented on #28482
@jeffhandley That's bad news.  Isn't this a very simple change?  How are we supposed to throw `JsonReaderException` properly without these values being exposed?

[2022-04-08 19:23] danmoseley commented on #67545
I was able to reduce this 1 out of 5 tries with `python3 ./scripts/benchmarks_monthly.py net7.0-preview3 --filter *FlushAsync*` (which takes a couple minutes). So looping that should hit it in a reasonable period of time. Or perhaps looping just the innermost command it runs, after running it once to set everything up.

[2022-04-08 19:26] pjanotti commented on #67276
Forgot to mention that I had updated the usage per Noah's [comment](https://github.com/dotnet/runtime/issues/67276#issuecomment-1092468798).

Not sure if useful but I wrote a quick test to validate the proposal, anyway here it goes:

[code]

[2022-04-08 19:57] madelson commented on #67566
@tarekgh ok I ran a quick benchmark (https://gist.github.com/madelson/a00d163d6aa3b6add4f01f206f4fbde2). The `Options` object here is based on `MvcOptions` in terms of field count and types. The results were surprising:

Results are `(scalar fill factor, collection size) -> bytes (ratio)`

BEFORE BindingPoint change:
[code]

AFTER BindingPoint change:
[code]
In ratio form (1.0 is before):
[code]

[2022-04-08 20:07] radical commented on #67538
This is fixed now, thanks.

[2022-04-08 20:07] #67538 closed

[2022-04-08 20:17] eerhardt commented on #67566
Can you try using BenchmarkDotNet and a MemoryDiagnoser? https://adamsitnik.com/the-new-Memory-Diagnoser/

[2022-04-08 20:26] krwq commented on #59678
@tarekgh 3 example texts can be seen in the stack traces here:
https://github.com/dotnet/runtime/issues/59678#issuecomment-1090626404 - the only thing is that it happens only once per many runs of JSON tests (it might be anything between 0 up to 24h, the 3 cases linked here were around 8h of running all tests in a loop each)

[2022-04-08 20:33] noahfalk commented on #67769
I think adding a new API largely defeats the purpose. The goal is that users will be able to get the stats for the cache created by AddMemoryCache() without needing to modify their code. Creating a new API and asking users to use it changes this back into an explicit opt-in that will be easy for users to miss until the day comes they want to see those stats. At that point it is generally very inco

[2022-04-08 20:44] ayakael commented on #67763
The build of runtime is stalling here:
[code]

[2022-04-08 21:28] AaronRobinsonMSFT opened #67776 "Consider hand-written JIT helpers for more platforms"
There are some JIT helpers that are hand-written assembly but are only available on Windows-x64. The impact of these helpers can be profound, which means we might be missing benefits on non-Windows-x64 platforms.

JIT helpers as assembly with fallback to VM (C++), Windows-x64 only.
|                    Method |      Mean |     Error |    StdDev |
|-------------------------- |----------:|----------

[2022-04-08 21:30] davidwrighton commented on #67776
I'd really like to avoid hand-coded assembly for these things. I don't think the performance of these scenarios is quite important enough to justify hand coded assembly on all of our architectures, but if we could write C# (even C# which required some magic intrinsics to work) it would probably be worth it.

[2022-04-08 21:31] davidwrighton commented on #67776
Could you attach a copy of the benchmark you're using to get these numbers?

[2022-04-08 21:33] AaronRobinsonMSFT commented on #67776
Oops. Looks like I missed the dynamic options used on non-Windows. See

https://github.com/dotnet/runtime/blob/ff6abfea0bb9b71eb3215157749047dd120a4d9f/src/coreclr/vm/jitinterfacegen.cpp#L76-L79

Let me try them on Windows and compare that as well.

[2022-04-08 21:41] jeffhandley commented on #28482
We agree that it would be nice, as such this feature will remain in our backlog. Issue #63762 captures what we're focusing on during .NET 7.

Thanks!

[2022-04-08 21:46] insinfo commented on #1544
I'm having the memory leak issue if I use Update Mode, Any idea when this will be fixed?

[code]
https://github.com/sshnet/SSH.NET/issues/948

https://github.com/dotnet/runtime/issues/23750

[2022-04-08 21:52] sake402 opened #67781 "Json.net can't deserialize simple struct, throws System.NullReferenceException"
### Description

System.Text.Json is unable to deserialize a very basic struct

### Reproduction Steps

[code]

Result
[code]

See fiddle here https://dotnetfiddle.net/n21G3a

### Expected behavior

No exception. And if something is wrong with class/struct declaration, throw a more descriptive exception.

### Actual behavior

Throws null reference

### Regression?

_No response_

### Known Workaro

[2022-04-08 21:55] matheussouza97 opened #67782 "[Android] System.Text.Json MissingMethodException"
### Description

MissingMethodException - Constructor on type 'System.Text.Json.Serialization.Converters.DictionaryOfTKeyTValueConverter`3[[System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Version=2.0.5.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e],[System.Object, mscorlib, Version=2.0.5.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]], mscorlib, Version=2.0.5.0, Cultu

[2022-04-08 22:07] kunalspathak commented on #64820
**.NET 7 items:**

| Issue                                                                                                          | Owner                     | ETA      |
|----------------------------------------------------------------------------------------------------------------|---------------------------|----------|
| Arm64: Align methods containing loops to 32B #59828

[2022-04-08 22:36] tarekgh commented on #59678
@krwq can you copy and paste the strings here? I have hard time to see them from https://github.com/dotnet/runtime/issues/59678#issuecomment-1090626404.

What @danmoseley mentioned in the comment https://github.com/dotnet/runtime/issues/59678#issuecomment-1093067266 suggest there could be some memory corruption happening somewhere. Also, do we know what current culture is used when running the tes

[2022-04-08 23:00] kunalspathak commented on #67326
Few years ago, we already switched to using platform memset/memcpy in linux/arm64 in https://github.com/dotnet/coreclr/pull/17536 and likewise for windows and linux on x64 in https://github.com/dotnet/coreclr/pull/25750. The only left out was windows/arm64 which was still using the hand written assembly code. The platform implementation is highly optimized and has ways to use appropriate routines

[2022-04-08 23:04] tlakollo opened #67784 "Generation of references will generate several changes"
### Description

This [document](https://github.com/dotnet/runtime/blob/main/docs/coding-guidelines/updating-ref-source.md#for-systemruntime) provides the steps you need to take to update the reference assembly when adding new public APIs to an implementation assembly. The problem with executing the commands currently (no changes added to the API surface) will generate the following info
[code]
Th

[2022-04-08 23:09] GrabYourPitchforks commented on #43973
I agree with @StingyJack's comment [above](https://github.com/dotnet/runtime/issues/43973#issuecomment-1089290922), which also reflects what I mentioned [earlier](https://github.com/dotnet/runtime/issues/43973#issuecomment-549579561). We know that `new Guid()` is particularly unintuitive and troublesome. It has [appeared](https://stackoverflow.com/questions/7972150/guid-is-all-0s-zeros) [multiple]

[2022-04-08 23:13] CodeBlanch commented on #67207
@tarekgh I updated the implementation branch I have been using for the new API surface. One hiccup, in order to return the new `Activity.Enumerator<T>` via the existing `IEnumerable<T>` props it needs to declare/implement the `IEnumerator<T>` contract. We could keep the existing `internal` enumerator to drive those (and have 2) but I'm guessing it isn't a big deal to add that to the design?

[2022-04-08 23:19] EgorBo commented on #67781
Likely dupe of https://github.com/dotnet/runtime/issues/62983 (fixed in 7.0)

[2022-04-09 00:10] BruceForstall commented on #67413
Yes. Doesn't appear to fail without JitStress.

Looks like (probably) a dup of https://github.com/dotnet/runtime/issues/67411.

@tannergooding

[2022-04-09 00:10] #67413 closed

[2022-04-09 00:43] #67763 closed

[2022-04-09 00:50] fstugren commented on #63706
@ManickaP, @karelz, @stephentoub - I've given the latest .Net 6.0 a try and here's what I saw when the caller catches an exception triggered by a call to HttpClient.SendAsync:

exception.GetType().Name = TaskCanceledException
exception.Message = "The request was canceled due to the configured HttpClient.Timeout of 100 seconds elapsing."

**This message is inaccurate** - yes, the client default tim

[2022-04-09 00:54] lonix1 opened #68840 "Under what conditions can `TypeBuilder.CreateType()` return null"
**Issue description**
Under what conditions can `TypeBuilder.CreateType()` return null?

**Target framework**
- [x] .NET Core 5, 6
- [ ] .NET Framework
- [ ] .NET Standard

**Details**
The `TypeBuilder.CreateType()` method is defined [as nullable](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.typebuilder.createtype#system-reflection-emit-typebuilder-createtype):
[code]

Under

[2022-04-09 01:12] JustinSchneiderPBI opened #67789 "Microsoft.XmlSerializer.Generator tool cannot be installed as a tool"
### Description

I'm unable to install the XmlSerializer.Generator tool on 2 separate machines. dotnet reports that the package is not DotnetTool type. I'm not finding others hitting this issue and I do see a blogpost by someone discussing how to parameterize the calls, so clearly others are getting farther than me.
I've tried including the packageReference and DotNetCliToolReference at the projec

[2022-04-09 01:51] wfurt commented on #67353
We can (should?) improve platform detection and skip the tests as needed instead of failing. This will bite us once #67345 is merged.
We may also choose to solve it via manage NTLM.

[2022-04-09 01:56] wfurt commented on #58927
This is different failure than the original `The Local Security Authority cannot be contacted`. The resent failure is specific to Windows 7 and likely caused by Helix changes.

[2022-04-09 03:30] #67269 closed

[2022-04-09 04:48] Li7ye opened #67791 "The !name2ee command of SOS doesn't work in .Net 6"
I use default Program.cs code in .Net 6 console app as below:

`Console.WriteLine("Hello, World!")`

I wan to use Windbg Preview to set breakpoint to main function.

1. I open Windbg Preview and select **Launch executable** to debug the console app.
2. I type `.load sos` and `sxe ld clrjit` command. After that, I type `g` command to init CLR load.
3. I type `.loadby sos coreclr` to load coreclr mo

[2022-04-09 05:43] joperezr opened #67793 "RegexIgnoreCase Outerloop is causing OOM exceptions on some platforms"
While fixing some tests in https://github.com/dotnet/runtime/pull/67709 it was discovered that a recently added test seems to be causing OOM exceptions on some of the platforms. We should investigate if the test can be re-written so as to not OOM on any platform, or if not possible then skip the test in those platforms.

[2022-04-09 05:43] #60697 closed

[2022-04-09 05:43] #60899 closed

[2022-04-09 06:45] GSPP commented on #67506
Even if there were a global lock I'd expect the total time to be roughly the same. A global lock would at most reduce concurrency to 1, as before. Lock overhead can't be relevant here. Why is it 10x slower?

[2022-04-09 07:54] Sri-darshan opened #67796 "It was not possible to find any installed .NET Core SDKs *when running in a docker container*"
I am also facing the similar issue, but I havent mounted any volume externally

Below is my dockerfile

================================
FROM mcr.microsoft.com/dotnet/aspnet:3.1 AS base
WORKDIR /app
EXPOSE 80

FROM mcr.microsoft.com/dotnet/sdk:3.1 AS build
WORKDIR /src
COPY ["API/API.csproj", "API/"]
COPY ["Domain/Domain.csproj", "Domain/"]
COPY ["Utility/Utility.csproj", "Utility/"]
COPY ["DataCo

[2022-04-09 08:17] MihaZupan commented on #63706
No, the way a ConnectTimeout bubbles up is not intentional.
Tracked by #67505

[2022-04-09 09:27] ShuiRuTian opened #67798 "Avx2.IsSupported not work correctly for release CoreRun"
### Background

Hi, I am implementing SwissTable(a new HashMap, which uses SIMD to accelerate) for C#.  But meet one strange problem.

Rust is a [positive example](https://github.com/rust-lang/hashbrown), so I want to have a try for C# to have a look. And the implementation references rust implementation.

At first I only use SSE2(like rust), but I find C# generates AVX2 command on my machine, whi

[2022-04-09 09:51] EgorBo commented on #67798
I am not entirely sure I understand what you're doing but I suspect you modify corelib. Then that corelib is prejitted as part of `clr.nativecorelib` command. Currently, we prejit code using SSE2 (or sse41?) as a baseline - it means until code is not recompiled by jit to tier1 it doesn't use AVX/AVX2 paths and Avx2.IsSupported returns true. Once method is executed long enough (e.g. 30 times) it mi

[2022-04-09 10:03] Wraith2 commented on #67798
I usually set `DOTNET_TieredCompilation=0` when looking at changes around optimization just to force things into tier1

[2022-04-09 10:12] creator1creeper1 opened #67800 "Docs: File `src/Native/format-code.sh` is referenced even though it doesn't exist"
According to `docs/coding-guidelines/coding-style.md`, "After changing any Cpp or H file and before merging, src/Native/format-code.sh must be run.". However, this file does not actually exist in the repository.

[2022-04-09 12:14] kwkaiwang opened #67802 "The dynamic type created is thrown FileLoadException when using the GetCustomAttributes method"
Which version of .NET you have tested on: Version: 6.0.3;  Commit:  c24d9a9c91
Which OS and architecture were you using: Windows 11 x64
Expected result: System.Reflection.CustomAttribute.GetCustomAttributes works with dynamic Type (AssemblyBuilder/ModuleBuilder).
Actual result: FileLoadException

The issue seems related to System.Reflection.Emit.AssemblyBuilder.Location

[code]

The Location prope

[2022-04-09 12:18] eiriktsarpalis commented on #67782
Could you please share a project that demonstrates the issue? Either a link to repo or a zip file might help. Thanks.

[2022-04-09 12:21] am11 commented on #67802
@kwkaiwang, please provide additional details:
* which version of .NET you have tested on
* which OS and architecture were you using
* Expected result
* Actual result

[2022-04-09 12:30] eiriktsarpalis commented on #67781
Can confirm that the issue has been resolved with the latest builds in .NET 7

[2022-04-09 12:30] #67781 closed

[2022-04-09 13:33] EgorBo commented on #67776
From my understanding this helper is only used for unoptimzed code and JIT inserts a `CORINFO_HELP_NEWSFAST` instead (in contrast with `CORINFO_HELP_BOX_NULLABLE`)

[2022-04-09 13:37] #67800 closed

[2022-04-09 13:37] danmoseley commented on #67781
Should we consider for backport?

[2022-04-09 13:38] AhmedZero opened #67804 "[NativeAOT] ILC: AOT analysis error IL1005 Vararg call not supported"
### Description

there is an error when building the driver

### Reproduction Steps

[code]

### Expected behavior

build without any problems

### Actual behavior

`ILC: AOT analysis error IL1005: testdriver.Program.DriverEntry(): Method will always throw because: Vararg call to 'UInt64 testdriver.WDK._DbgPrint(Char*)' not supported`

### Regression?

_No response_

### Known Workarounds

_No res

[2022-04-09 13:44] albahari commented on #44986
Will this ever get fixed? LINQPad's debugger doesn't work properly as a result of it. I'm getting more and more complaints, and there's absolutely nothing I can do in terms of a workaround.

[2022-04-09 13:45] jkotas commented on #67804
varargs are supported only on Windows for C++/CLI compatibility. C++/CLI is not supported by NativeAOT.

More general support for varargs is tracked by #48796.

[2022-04-09 13:47] EgorBo commented on #67776
So I am looking at `JIT_NewS_MP_FastPortable` and it seems it can be easily converted to C# but might require an intrinsic to get current `allocContext` (double indirect load basically to a global location) but I am not sure what exactly it solves?
I assume in theory we can make it inlineable for hot paths? (and e.g. emit object size as a constant)

Is the problem that C++ version of it emits wors

[2022-04-09 14:05] EgorBo commented on #67776
Something like this I assume:
![image](https://user-images.githubusercontent.com/523221/162577674-a1356f3c-586a-422e-9070-98b4440406eb.png)

[2022-04-09 14:42] alexrp commented on #47237
What needs to happen next to move this forward?

[2022-04-09 15:31] jkotas commented on #67776
You would also need to make sure that the whole method is non-interruptible. We cannot take a GC in the middle of the allocation helper.

[2022-04-09 15:40] jkotas commented on #67802
This was likely fixed by #64662 that deleted `InternalAssemblyBuilder`. Any chance you can try this on [.NET 7 preview](https://dotnet.microsoft.com/en-us/download/dotnet/7.0)?

[2022-04-09 15:46] jkotas commented on #66987
I have transferred https://github.com/dotnet/runtime/issues/67805 to dotnet/runtime and resolving this as duplicate.

[2022-04-09 15:46] #66987 closed

[2022-04-09 15:49] jkotas commented on #67796
This should be just `ENTRYPOINT ["dotnet", "app/API.dll"]`.

`dotnet run` is meant to be used with the .csproj file and it needs SDK to be installed.

[2022-04-09 15:49] #67796 closed

[2022-04-09 15:53] jkotas commented on #67804
Listed in https://github.com/dotnet/runtimelab/issues/155

[2022-04-09 15:53] #67804 closed

[2022-04-09 15:53] AaronRobinsonMSFT commented on #67776
Right. This was why I alluded to "new intrinsics" for a helper in IL. Do we have a mechanism already to indicate a managed method is non-interruptible?

[2022-04-09 16:03] schehlmj commented on #67738
I agree that a dictionary supporting null keys would be be better, but even with that, I believe allowing a nullable key to be passed in when the Dictionary key is a struct (and so can't be null) is still needed.

The proposed would provide a lot of value in that they would be expected behavior (principle of least surprise).

I guess, in my line of thinking, I would say, because the "GetValueOrDef

[2022-04-09 16:12] AaronRobinsonMSFT commented on #67791
@Li7ye The steps above seem to indicate that the `DotCore.dll` isn't loaded yet. This means there is no mapping because the assembly hasn't been loaded yet. Instead, I would look at using the `bpmd` method to set a breakpoint - https://github.com/dotnet/diagnostics/blob/fb6cad70656827f6a5a3e82f7fa56f13dcc50c6b/src/SOS/Strike/strike.cpp#L8349-L8363.

[2022-04-09 16:33] huoyaoyuan commented on #67151
What will be it's ABI? Treat it as a normal struct, or spill into two integer registers like some C++ compilers?

[2022-04-09 17:00] coypoop opened #67807 "FreeBSD's Interop.Process.cs has an off-by-1000 error"
In [Interop.Process.cs#L186-L187](../blob/main/src/libraries/Common/src/Interop/FreeBSD/Interop.Process.cs#L186-L187) we see the following lines:

[code]

This has to be a mistake.

[2022-04-09 17:12] medo64 opened #67808 "[API Proposal]: Interlocked operation should allow for nint"
### Background and motivation

If one does interlocked operations, they can do so with uint, int, ulong, and long. However, nint and nuint as native integer sizes do not have their overloads in Interlocked class.

I believe it would be useful that nint and nuint overloads be added to Interlocked class as updating them in thread safe manners currently requires a lock.

### API Proposal

[code]

###

[2022-04-09 17:24] medo64 opened #67809 "[API Proposal]: Interlocked class should contain Xor and Not members"
### Background and motivation

Currently Interlocked class contains And and Or logical operations. For completeness, it would be nice if also Xor and Not were supported. Implementation would be exactly the same as for the existing logical operations.

### API Proposal

[code]

### API Usage

Usage would be equivalent to usage of And and Or functions.

[code]

### Alternative Designs

_No response_

[2022-04-09 17:24] jkotas commented on #67776
We do not have a way to indicate in IL that the method has to be non-interruptible.

[2022-04-09 17:28] madelson commented on #67566
@eerhardt sure. For my understanding, can you explain why you expect the memory results will be different with BenchmarkDotNet? From the link you sent, it also uses `GC.GetAllocatedBytesForCurrentThread()` to measure memory allocations.

[2022-04-09 17:46] danmoseley commented on #67807
It does on the face of it. Are you interested in offering (and testing) a fix?

[2022-04-09 17:55] stephentoub commented on #67809
Can you share some concrete examples in some repos where these would be used?

[2022-04-09 18:02] eerhardt commented on #67566
I don't necessarily expect them to be different. But I trust the BenchmarkDotNet MemoryDiagnoser since I've used it in the past. If it comes out with the same results, then we know your hand-written code is correct.

[2022-04-09 18:07] medo64 commented on #67809
Actually a surprising number of simple hardware devices use either pure XOR for checksums (for example NMEA protocol) or as a part of computation. In my example, I was trying to parallelize CRC32 calculations which essentially consist of a lookup table (thread-safe) and a Xor.

That said, it's not that xor is really needed but seeing "And" and "Or" operations without it seems incomplete. :)

[2022-04-09 18:26] Sri-darshan commented on #67796
Even after adding ur suggested changes, still no change :(
Step 21/21 : ENTRYPOINT ["dotnet", "app/API.dll"].
 ---> Running in ba4b63c9ea70
Removing intermediate container ba4b63c9ea70
 ---> 3b73248856e3
Successfully built 3b73248856e3
Successfully tagged backend:latest
$ sudo docker run -d -p 2345:80 backend
6b8cb7e83518720d629c605c442175b99a98ed3189d3716425e4b0a0bc97c008
======================
d

[2022-04-09 18:42] stephentoub commented on #67809
We discussed Xor when And and Or were added and opted not to include it because of lack of real uses in C#.

[2022-04-09 19:01] tannergooding commented on #67809
I'm still of the mindset that these "primitive operations" are worth adding regardless. It represents functionality that only the JIT can reasonably provide. Users can technically implement some much less efficient version themselves, but for the variants that provide hardware acceleration and are as performant as possible is something that only the runtime can provide.

`Xor` in particular is nec

[2022-04-09 19:21] stephentoub commented on #67809
And I'm still of the mindset it doesn't matter how fast we make something if it's not used meaningfully (also, And and Or were merged two years ago and still aren't optimized as intrinsics by the JIT). I've also stated numerous times I'm fine adding Interlocked.Xor if folks can share real examples where it'd be used in real .NET apps/services/libraries, e.g. where devs have implemented and are usi

[2022-04-09 19:33] jkotas commented on #67796
You do not need SDK installed in the final container.

Could you please run `ls app/API.dll` in the final container to verify that the file exists?

[2022-04-09 19:38] Wraith2 commented on #67809
Is there an issue tracking this? If not then it's unlikely that the jit team would have the time to do it and no-one else would know about it.

[2022-04-09 19:39] stephentoub commented on #67809
Yes, there is:
https://github.com/dotnet/runtime/issues/32239

[2022-04-09 21:24] MichalStrehovsky commented on #67232
Looking at the relocations that seem to be actually supported around the error message in https://github.com/zzjconcent/ollvm/blob/d28107a3d30dfadde47ae0118d62d8d7951491f9/src/lib/ExecutionEngine/RuntimeDyld/Targets/RuntimeDyldMachOAArch64.h doesn't give us many options. It might be possible to represent this as ARM64_RELOC_SUBTRACTOR (make a temp symbol for current address and do a difference to

[2022-04-09 21:37] 0xced commented on #61243
I don't think it was a mismatch, it was just version 5.0.0 that was buggy. Trying with `Microsoft.XmlSerializer.Generator` 6.0.0 works as expected and indeed produces a `xsg.XmlSerializers.dll` file that is being picked up by `XmlSerializer`.

Now I wonder if this is going to work with single file executables since the `*.XmlSerializers.dll` file is not listed in the `*.deps.json` file. 🤔

[2022-04-09 23:26] am11 commented on #67232
With `SupportRelativePointers=false`, now backtraces are also working. We reach: https://github.com/dotnet/runtime/blob/6de7147b9266d7730b0d73ba67632b0c198cb11e/src/coreclr/nativeaot/System.Private.TypeLoader/src/Internal/Runtime/TypeLoader/ModuleList.cs#L367 and it returns false followed by the FailFast from next line which results in SIGABRT. This `Find` method is returning null (so it doesn't e

[2022-04-10 01:06] Li7ye commented on #67791
@AaronRobinsonMSFT Thank you reply. `bpmd` command can solve my problem.

[2022-04-10 01:06] #67791 closed

[2022-04-10 01:10] #65758 closed

[2022-04-10 02:14] kwkaiwang commented on #67802
.NET 6 is expected, the fix/workaround is needed for production environment.

[2022-04-10 03:18] danmoseley commented on #65625
linking https://github.com/dotnet/runtime/pull/65700

[2022-04-10 03:58] StingyJack commented on #43973
Because "Declare and instantiate a new Globally Unique Identifier" (aka `var g = new Guid();`)  incorrectly sets the expectation that the variable will have a Globally Unique Identifier in it, and not a non-unique 0 equivalent.

It's inconsistent with all the other basic types people will use in programs.
[code]

In the last 15 years I've worked at small and large companies in several different in

[2022-04-10 04:39] tmds commented on #67506
The reader lock gets taken while starting processes, the writer lock is taken when a process exits.

In the async case, different processes are starting simultaneous, so the `WaitForExit` is blocked by acquiring the writer lock.

For the sync case, you need to sum the elapsed times.
For the async case, they are measuring concurrent events.

If you move the `StopWatch` to the `Run` method you get t

[2022-04-10 04:47] tmds commented on #67506
For some additional info, see https://github.com/dotnet/runtime/issues/25879.

[2022-04-10 04:50] jkotas commented on #65914
Failed again in #67814:

Log: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-67814-merge-13cfab2643634d36a7/System.Diagnostics.Process.Tests/1/console.28eadef9.log?sv=2019-07-07&se=2022-04-30T01%3A08%3A28Z&sr=c&sp=rl&sig=PEnfFrDD5jQ%2FBfOij6LHnhovcKo4X4JLOXM2QBwscqc%3D

[code]

[2022-04-10 04:54] jkotas opened #67816 "Assertion failed in System.Text.Json.JsonSerializer.LookupProperty"
[code]

Failed in https://github.com/dotnet/runtime/pull/67814

Log + dump: https://dev.azure.com/dnceng/public/_build/results?buildId=1709347&view=ms.vss-test-web.build-test-results-tab&runId=46503608&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab&resultId=190696

[2022-04-10 04:54] jkotas commented on #67816
A new race condition in the System.Text.Json tests?

[2022-04-10 05:15] jkotas commented on #67816
Failed again in #67788

[2022-04-10 05:43] jkotas commented on #67802
Where is the event handler that is responsible for resolving `ODataExtensionec551e7e1c3540a1b486e4be222060dc` assembly registered? The simplest workaround may be to register this event handler before the `LoadFromResolveHandler` event handler.

[2022-04-10 05:55] danmoseley commented on #67818
This seems like it's for the diagnostics team.

[2022-04-10 05:59] ShuiRuTian commented on #67798
Interesting.
I do not know the official name, just call command like `Avx2.IsSupported` as `hardware check`.
Does this mean when using hardware check command, I should not use other static variables initialized by hardware check?
Let's take this code as an example
[code]
For the first time it is cold, so it will be the prejitted value. For now, it is Sse2 so the `GROUP_WIDTH` is Sse2Group.WIDTH.
T

[2022-04-10 08:16] kwkaiwang commented on #67802
The event handler seems inside CLR runtime:

System.Reflection.CustomAttribute._CreateCaObjec (C++ method)
  --> ...
  --> System.Runtime.Loader.AssemblyLoadContext.OnAssemblyResolve
  --> ... System.Reflection.Assembly.LoadFromResolveHandler
  --> System.Reflection.Emit.InternalAssemblyBuilder.Location

[code]

The dynamic types were already built in memory with AssemblyBuilder/ModuleBuilder, I a

[2022-04-10 08:16] powercode commented on #67642
In my use case, I attach the process to a job, both to ensure termination of all children, and to set a priority class.

[2022-04-10 08:37] NN--- commented on #67642
Windows makes the t possible to set priority during the process creation:

https://docs.microsoft.com/en-us/windows/win32/procthread/process-creation-flags

.NET AFAIK doesn't provide access to this API, only to update the priority after the process is running.
https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.process.priorityclass?view=net-6.0

[2022-04-10 10:26] EgorBo commented on #67671
I hacked this locally for `libSystem.IO.Compression.Native.so` and this:
[code]
now compresses/decompresses code slightly faster ~4% (it's not a noise) - I expected more but I guess brotli is already heavily optimized by hands

[2022-04-10 12:09] AhmedZero commented on #67804
I hope to support it soon. thanks.

[2022-04-10 12:18] tfenise commented on #63474
The example in the [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.threading.interlocked.compareexchange?view=net-6.0#system-threading-interlocked-compareexchange(system-double@-system-double-system-double)) of `Interlocked.CompareExchange` has codes like following:

[code]

In ECMA-335 I.12.6.4:

The read `initialValue = totalValue;` is not a volatile operation. By ECMA-335, it

[2022-04-10 12:21] EgorBo commented on #67798
This is not a reliable "does hardware support avx2" checks, it's more like "can jit/aot use Avx2 managed intrinsics?" kind of check.

I guess this issue can be closed then?

[2022-04-10 12:23] EgorBo commented on #67798
it won't help - TieredCompilation=0 means it might stuck with R2R with Avx2=false while some other method we don't have r2r for will be jitted straight to tier1 with Avx2=true

[2022-04-10 12:37] am11 commented on #67232
According to `x/64s $x0`, the message is:

This is a huge address out of all module ranges. 🤔

[2022-04-10 13:34] madelson commented on #67566
Ok I had the chance to make a dotnet/performance benchmark for this (https://github.com/dotnet/performance/pull/2360) and run a comparison against a branch before the recent changes and main. I used [this workflow](https://github.com/dotnet/performance/blob/main/docs/benchmarking-workflow-dotnet-runtime.md).

The results are consistent with what I found with my manual measurement:

## BEFORE

|

[2022-04-10 14:58] DanPristupov commented on #67506
@tmds

I'm might be missing something, but it looks like `WaitForExit` is not related. At least on the profiler graph in my previous post (https://github.com/dotnet/runtime/issues/67506#issuecomment-1092616906) it doesn't take a significant time (~20ms comparing to ~200ms of `ForkAndExecProcess`).

Do you think like this?

<details>
  <summary>Source code</summary>

[code]
</details>

In my case,

[2022-04-10 15:20] andreakarasho commented on #50609
Landed here by the following readme: https://github.com/unoplatform/Uno.Wasm.Bootstrap#full-aot-mode

This has been removed [?]
https://github.com/dotnet/runtime/pull/57735

[2022-04-10 15:25] Sri-darshan commented on #67796
Pipeline exiting here
![image](https://user-images.githubusercontent.com/63836175/162626850-2b584ac3-5144-4f56-bd7c-db66369ccbb6.png)

[2022-04-10 15:26] Sri-darshan commented on #67796
But build is getting succeeded...very weird

[2022-04-10 15:27] jkotas opened #67821 "Windows arm64 Tests failing on DDARM64-132"
Example of the log: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-67774-merge-bbcfa5ff54a3482cb8/profiler.transitions/1/console.cc2581a0.log?sv=2019-07-07&se=2022-04-30T07%3A34%3A10Z&sr=c&sp=rl&sig=%2FEI53WaNPE73mV2L3H0ORI4rqfH87tVi0DfxRVx97fw%3D

The log does not have any details about the failure.

Console log: 'profiler.rejit' from job 1bec3f43-7d47-4f00-9299-6

[2022-04-10 15:28] jkotas commented on #67821
@dotnet/dnceng Could you please remove `DDARM64-132` from the pool and check its health?

[2022-04-10 15:54] #67368 closed

[2022-04-10 15:59] jkotas commented on #67802
Yes, it does not look right that OnAssemblyResolve was called in this case.

My guess is that the problem is caused by mixing types from different assembly load contexts.

[2022-04-10 16:26] ghostinside commented on #67691
GetAsync does not have content disposotion header too despite having it in browser

`
attachment; filename=CoverLetter.xdp; filename*=UTF-8''CoverLetter.xdp
`

[2022-04-10 17:21] robertmclaws commented on #40074
Yep, totally understand.

Wanted to point out that the lack of support for these APIs is presently blocking us from using WalletConnectSharp and Nethereum natively in a Blazor app. We will have to fall back on JSInterop for this, but it is not ideal.

[2022-04-10 17:25] EgorBo opened #67824 "gcenv.interlocked's Interlocked use full memory barriers even with 8.1 Atomics"
All `Interlocked` functions from [gcenv.interlocked.inl](https://github.com/dotnet/runtime/blob/main/src/coreclr/gc/env/gcenv.interlocked.inl) seem to insert full memory barriers, e.g. consider this usage (GC seems to heavily use them under BACKGROUND_GC):
[code]
Disassembled on Apple M1:
![image](https://user-images.githubusercontent.com/523221/162631504-b35b9810-a6d0-40b2-ab74-8b4dacad7287.png)

[2022-04-10 17:57] EgorBo commented on #67824
I removed these barriers and lowered number of `dmb ish` from 305 to 5 in `libcoreclr.dylib`

[2022-04-10 18:25] danmoseley commented on #67821
Cc @dotnet/dncenghot

[2022-04-10 18:47] AndyAyersMS commented on #65694
I have a prospective fix and a simpler repro case.

[2022-04-10 18:47] jkotas commented on #67630
Failed again in #67823

[2022-04-10 18:53] tmds commented on #67506
Sorry, I had overlooked this issue was for macOS specifically.

On macOS, process starts are serialized due to missing `pipe2`:

https://github.com/dotnet/runtime/blob/cde7799901885d47c6c9c12dc3e2166d1a33d90a/src/native/libs/System.Native/pal_process.c#L286-L297

[2022-04-10 20:26] tarekgh commented on #67566
@madelson Looks we are good then. There is no regression even if the improvement comes from the runtime.  If you are interested in measuring only your changes (without the runtime factor), you can build the main (which includes the runtime changes and your changes) then run the BDN tests using these bits. Then revert only your commit changes and rebuild and rerun the BDN on these built bits again.

[2022-04-10 21:26] danmoseley commented on #49404
In the last 589 executions (at least 90 days) there have been zero failures.

[2022-04-10 21:26] #49404 closed

[2022-04-10 21:37] Symbai commented on #67798
What's the behavior on this when using NativeAOT? Does this solve the OP's problem or would be the same as R2R?

[2022-04-10 23:44] #67664 closed

[2022-04-10 23:56] danmoseley commented on #67664
Not sure whether it's worth opening a separate issue to add the path to the profiler into these messages. (On Unix, you're passing that in.)

[2022-04-11 00:31] VSadov commented on #67824
Right. If `-mcpu=apple-m1` is guaranteed to use 8.1 atomic instructions, there is no need for the extra membarrier.

Also - I think GC has its own copy of Interlocked, separate from what runtime uses. I wonder if Interlocked in the runtime could use the same change.

[2022-04-11 01:26] VincentBu opened #67826 "Test failure profiler\\gc\\gc\\gc.cmd"
Run: [runtime-coreclr jitstress2-jitstressregs 20220410.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1709799&view=ms.vss-test-web.build-test-results-tab&runId=46509850&paneView=debug&resultId=101149)

Failed test:
[code]
**Error message:**
[code]

[2022-04-11 01:30] VincentBu commented on #63325
Failed again in: [runtime-coreclr jitstress-isas-x86 20220409.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1709207&view=ms.vss-test-web.build-test-results-tab&runId=46504132&resultId=108179&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-04-11 01:53] VincentBu commented on #60753
Failed again in: [runtime-libraries-coreclr outerloop 20220410.7](https://dev.azure.com/dnceng/public/_build/results?buildId=1709660&view=ms.vss-test-web.build-test-results-tab&runId=46507490&resultId=104159&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-04-11 01:57] VincentBu opened #67828 "Test failure System.Collections.Concurrent.Tests.ConcurrentQueueTests.ManyConcurrentAddsTakes_CollectionRemainsConsistent"
Run: [runtime-libraries-coreclr outerloop 20220410.7 ](https://dev.azure.com/dnceng/public/_build/results?buildId=1709660&view=ms.vss-test-web.build-test-results-tab&runId=46507548&resultId=100052&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-04-11 02:05] VincentBu commented on #64888
Failed again in:[ runtime-coreclr libraries-jitstress 20220410.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1709535&view=ms.vss-test-web.build-test-results-tab&runId=46505806&paneView=debug&resultId=123722)

Failed test:
[code]
**Error message:**
[code]

[2022-04-11 02:09] steveisok opened #67829 "[Mono] Official build fails with libdbgshim.so missing from manifest"
This is hitting OSX, Linux, and Windows x64 builds.  This is the error message:

[code]

[2022-04-11 02:10] steveisok commented on #67829
/cc @akoeplinger

[2022-04-11 02:12] VincentBu commented on #67411
Failed again in:  [runtime-coreclr libraries-jitstress 20220410.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1709535&view=ms.vss-test-web.build-test-results-tab&runId=46505788&paneView=debug&resultId=148172)

Failed test:
[code]
**One of error message:**
[code]

[2022-04-11 02:15] VincentBu commented on #67410
Failed again in: [runtime-coreclr libraries-jitstress 20220410.1
](https://dev.azure.com/dnceng/public/_build/results?buildId=1709535&view=ms.vss-test-web.build-test-results-tab&runId=46505788&paneView=debug&resultId=137300)

Failed test:
[code]
**Error message:**
[code]

[2022-04-11 02:27] VincentBu opened #67830 "Test failure System.Text.Json.SourceGeneration.Tests.SerializationWithPerTypeAttributeContextTests.RoundTripIndexViewModel"
Run: [runtime-coreclr libraries-jitstressregs 20220410.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1709602&view=ms.vss-test-web.build-test-results-tab&runId=46506436&paneView=debug&resultId=161720)

Failed test:
[code]
**Error message:**
[code]

[2022-04-11 02:30] tommcdon commented on #67826
@davmason would you mind taking a quick look?

[2022-04-11 02:33] jeromelaban commented on #50609
@andreakarasho The issue is actually wider than that, as for now, the runtime needs the use of the interpreter for parts of Exception Handling. That dependency has been drastically reduced in net7, but it is still needed (@vargaz may be able to confirm).

That being said, current AOT mode which compiles everything it can is pretty close to FullAOT, so the performance is not as impacted as it once

[2022-04-11 02:35] tommcdon commented on #67818
@hoyosjs

[2022-04-11 03:09] ShuiRuTian commented on #67798
Thanks for the perfect response!

Sure. But there is one more comment, Should I close it now? Anyway, I have no more questions.

[2022-04-11 03:21] kwkaiwang commented on #67802
Tried .NET 7 Preview, got ArgumentException: The path is empty. (Parameter 'path')

[code]

[2022-04-11 04:01] lonix1 commented on #63389
*I'm unsure whether below use case is relevant, please tell me if I should open a new issue? I was directed here from [SO](https://stackoverflow.com/q/71818935/9971404).*

A common inheritance pattern:
[code]

I can 1) use `[NotNull]` in child class signature (but if parent is in a class library then users must be instructed to do this, which is not a pleasant API to use), 2) suppress warning, 3)

[2022-04-11 04:33] ByboyCn opened #67832 "ecdh sharekey"
### Description

When I use ecdh for cross-language projects, I find that if the pubkey returned by the other party is already at the beginning of 02 (or 03), there is no way to successfully produce sharekey. Does c # provide a way to calculate Q.Y through Q.X?

### Reproduction Steps

Return sharekey normally

### Expected behavior

Return sharekey normally

### Actual behavior

Return sharekey n

[2022-04-11 04:35] ByboyCn commented on #67832
I know how to calculate Q.Y through Q.X, but the calculation of that big number gives me a headache. His formula is probably `y^2 = x^3 + ax + b (mod p) `

[2022-04-11 04:43] heathbm commented on #67199
This appears to be a quick fix, I hope I can help with this

[2022-04-11 04:44] heathbm commented on #67199
Should the "or had a known parser and was just whitespace" work be a separate PR?

[2022-04-11 04:46] jkotas commented on #67826
Duplicate of #67630

[2022-04-11 04:46] #67826 closed

[2022-04-11 05:21] ByboyCn commented on #67832
In addition, how should I produce a public key like 02 (or 03)? I know it only has Q.X, but it is not clear whether to use 02 or 03.

[2022-04-11 05:59] cxmplex commented on #67807
@danmoseley I submitted a PR for it since it's been a few days.

[2022-04-11 06:28] cmcmarrow opened #67835 "Struct values with no set fallback to default."
### Description

Struct values with no `set` fallback to default. I cant find anything saying this is excepted behavior.

### Reproduction Steps

[code]

### Expected behavior

struct should be populated with data

### Actual behavior

struct is populated with default values

### Regression?

_No response_

### Known Workarounds

1. give all values `set`
2. making the struct into a class

### Conf

[2022-04-11 06:58] tmds commented on #67506
And for similar reasons, Windows has a lock also:

https://github.com/dotnet/runtime/blob/2087c07830770d3c7b8e8452e42a398b16ac0a0b/src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Windows.cs#L451-L455

[2022-04-11 07:35] GSPP commented on #58329
Resharper does that. You type `3.14.ToString("` and it offers you a list of format strings each with an example output. Very handy.

[2022-04-11 07:55] Maoni0 commented on #67824
thank you very much for noticing this @EgorBo ! how stressful are tests run with TE infra (I thought they were mostly small perf tests?)? we do have a [stress infra](https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/docs/workflow/testing/coreclr/gc-stress-run-readme.md) for GC.

[2022-04-11 08:40] KalleOlaviNiemitalo commented on #58329
<https://github.com/dotnet/runtime/pull/47353> did not affect System.Buffers.StandardFormat, where the limit is still 99, as of v6.0.4.

[2022-04-11 08:40] premun commented on #67349
@agocke I'm not sure but this SSL error is a transient occasional error which is probably not blocking anything so I am not sure whether it makes sense to try to somehow build some .NET 6 Arcade with it.

Do you have some ETA for the Arcade bump?

[2022-04-11 08:41] krwq commented on #67816
I think it's same one surfaced elsewhere https://github.com/dotnet/runtime/issues/67761

[2022-04-11 08:46] tmds opened #67837 "[API Proposal]: APIs for working with unix file mode"
### Background and motivation

Add direct support for getting/setting Unix file permissions and special bits.

These APIs allow to restrict/extend access to files and directories from .NET.

There have been some requests for these APIs: https://github.com/dotnet/runtime/issues/925, https://github.com/dotnet/runtime/issues/928, https://github.com/dotnet/runtime/issues/17540.

The tar implementation

[2022-04-11 08:46] Tornhoof commented on #67835
You need to add ``[JsonConstructor]`` to your constructor. It's documented here:
https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-immutability?pivots=dotnet-6-0

[2022-04-11 08:48] tmds commented on #67837
@eerhardt @carlossanlop @stephentoub @dotnet/area-system-io ptal.

[2022-04-11 09:01] EgorBo commented on #67781
I asked that in https://github.com/dotnet/runtime/pull/62989 but since nobody responded I didn't file one

[2022-04-11 09:33] TobiasKnauss commented on #64735
Please reopen! We see exactly the same behaviour. `IPGlobalProperties.GetActiveTcpConnections()` definitely has a memory leak.
We also use .NET 5.0.13.

To reproduce, execute the following lines multiple times, e.g. using the demo program below:
[code]
The memory usage increases not immediately, but more or less precisely after every 76th call:
 76, 76, 76, , 53, 23, 57, 19, 76, 76, 76, 76, 76, 76

[2022-04-11 10:13] jakobbotsch commented on #67821
Similar looking failure in https://dev.azure.com/dnceng/public/_build/results?buildId=1709921&view=ms.vss-test-web.build-test-results-tab&runId=46511082&resultId=108903&paneView=debug on a different machine: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-67238-merge-9e174ab97ff8449ab2/JIT.HardwareIntrinsics.X86.Avx1/1/console.310ed48e.log?sv=2019-07-07&se=2022-04-3

[2022-04-11 10:25] dkurepa commented on #67821
Hello, I'll take the machine offline, you can follow the issue on our side at https://github.com/dotnet/arcade/issues/9016

[2022-04-11 10:32] npehrsson commented on #55146
Any progress on this issue, is there still an issue in .NET 6.100?
We discovered this bug as well running .NET Core 3.1, and need to know if it's solved in .NET 6 and if it is worth upgrading to solve this issue.

[2022-04-11 10:47] eiriktsarpalis commented on #67781
I'm guessing it got dropped because it happened over the holidays. I think we should backport it.

[2022-04-11 10:48] eiriktsarpalis commented on #67835
@cmcmarrow does @Tornhoof's response answer your question?

[2022-04-11 10:50] eiriktsarpalis commented on #67816
@krwq I'm guessing by the stacktrace that this is not related to JsonTypeInfo initialization? Is it a new failure?

[2022-04-11 11:12] steveisok commented on #67829
Fixed by https://github.com/dotnet/runtime/pull/67831

[2022-04-11 11:12] #67829 closed

[2022-04-11 11:33] krwq commented on #67816
I'm pretty sure it is related to initialization. I suspect that with my changes same thing just shows in different place as I'm changing when initialization happens.

[2022-04-11 11:34] KalleOlaviNiemitalo commented on #67837
File.OpenHandle with UnixFileMode looks useful for fixing the race condition in <https://github.com/AzureAD/microsoft-authentication-extensions-for-dotnet/pull/168> and could simplify [NuGetExtractionFileIO](https://github.com/NuGet/NuGet.Client/blob/5b0ee2562df6cf2c66cc9905a8a65f2b09ea5473/src/NuGet.Core/NuGet.Packaging/NuGetExtractionFileIO.cs).

[2022-04-11 11:41] MihaZupan commented on #67199
Yes, I think it's closely related - any implicit `Remove` calls should be removed.

[2022-04-11 11:41] eiriktsarpalis commented on #67738
Why would you want to do that when `TKey` itself is not nullable? If it's null then clearly it can't be part of the dictionary (even if the implementation hypothetically supported null keys) so this is simply validating the key parameter before passing it in. I wouldn't support the inclusion of such an extension method in BCL.

Doesn't `TryGetValue` help in that regard? I normally just write `TryG

[2022-04-11 11:53] ewoutkramer commented on #28482
@jam40jeff - I wrote a set of extension methods to get to these properties using reflection. Yeah, that's definitely not something I like to do, but it works (for now ;-)).

[2022-04-11 11:56] premun commented on #67730
This is not a feature we currently have unfortunately. @MattGal would you advise some other debugging steps in case of problems with running out of disk space?

I am also seeing that there was probably enough disk space (47 GB) around the time this happened:
[code]

I have no knowledge about the tests themselves but the stacktrace seems to include methods such as `CreateLargeFile` so I am a bit su

[2022-04-11 12:14] EgorBo commented on #67671
Yeah I tested both -O2 and -O0 and notice zero difference

[2022-04-11 12:16] hez2010 commented on #67837
Should those API be put in a separate TFM `net7.0-linux` or `net7.0-unix` since they are not available on Windows platforms?

[2022-04-11 12:30] jeromelaban commented on #50609
Are the exception handlers/finally fully AOTed as well ? I though there were still some small interpreted portions.

[2022-04-11 13:18] ltrzesniewski opened #67842 "EqualityComparer<TEnum?>.Default allocates"
### Description

`EqualityComparer<TEnum?>.Default` (when `T` is a *nullable enum*) is resolved to `ObjectEqualityComparer<TEnum?>`, which boxes the enum when performing equality comparison. This causes an unnecessary allocation.

Here is a reproduction:

[code]

This results in:

[code]

If you replace `DayOfWeek?` with `DayOfWeek`, or if you use a type such as `int?` instead, the code will print

[2022-04-11 13:18] LakshanF opened #67843 "Aot Compiler need to handle increased RequiresDynamicCode scope"
The above attribute target scope was extended to class, #67368, and the Aot compiler should handle this.

[2022-04-11 13:37] EgorBo commented on #67842
I'll take a look, the problem that `getDefaultComparerClassHelper` currently only devirtualizes `Nullable<>` for `T : IEquatable<T>` so we might want to introduce a `NullabelEnumComparer`

[2022-04-11 13:42] EgorBo commented on #67824
Sure, will try the stress infra, thanks!

[2022-04-11 13:42] ViktorHofer commented on #67784
cc @tannergooding as you just recently opened https://github.com/dotnet/arcade/pull/8769. Are you aware of the diff being reported here? I wasn't.

[2022-04-11 13:55] nschuessler opened #67844 "Help: .Net 6 and emitting IL to call constructors and methods that have pointers as arguments"
Can someone please chime in [here](https://github.com/ninject/Ninject/issues/389) to help us fix Ninject to work with .Net 6.
Note: There is a commit hash of his code changes.

@scott-xu Is trying to make a fix that emits delegates that wrap constructors and methods that have pointers as args. In addition, there is an unbox pointer scenario. (I didn't think pointers were boxed ....)

Thanks

[2022-04-11 13:57] DanPristupov commented on #67506
@tmds is there any possible workaround for that particular use case (i.e. running about 10 processes about 60ms each). I'm just trying to decrease the delay a user must wait for data to appear.

[2022-04-11 13:57] vargaz commented on #50609
The finally code will be AOTed, and run using AOT in the non-exception case, and using the interpreter in the exception case.

[2022-04-11 14:18] premun commented on #67716
This has been fixed in dotnet/xharness#859 so bumping XHarness in dotnet/runtime should resolve this (a work item retry will happen)

[2022-04-11 14:20] eerhardt commented on #67837
Those TFMs don't exist. We don't have TFMs for `-linux` or `-unix`.

But instead we can use the SupportedOSPlatform and UnsupportedOSPlatform attributess that work with https://docs.microsoft.com/dotnet/standard/analyzers/platform-compat-analyzer. Then you will get `CA1416` warnings when you try using APIs that are unsupported in code that could run on Windows.

[2022-04-11 14:23] JohnGalt1717 commented on #58770
@jeffhandley Just to chime in on the importance of this: Right now, Records are the recommended way of doing DTOs in .NET.  If you use the recommended way of doing DTOs in .NET then you can't use the source generator. That's a major issue because your recommendations are in direct conflict and makes Json source generators largely useless unless you open yourself up to mutable DTOs which is exactly

[2022-04-11 14:36] eerhardt commented on #67837
This looks great @tmds. Thanks for writing this up. I have the following questions:

1. Should we put the UnixFileMode on `File.Create` instead of `File.OpenHandle`?
2. In `Example 3`, why are we setting the UnixFileMode twice? Once on `File.OpenHandle` and then again with `File.SetUnixFileMode`?
3. >The mode argument is filtered by the process umask.
    - Do we need a way to set `umask` from .NE

[2022-04-11 14:58] schehlmj commented on #67738
Hi @eiriktsarpalis ,

In my cases, I have a Dictionary to find objects based on their database primary key.  Naturally, the primary key is non-nullable, and in my cases its an int.  When finding values from that dictionary, I very often have an int? because foreign keys are often nullable.

Logically, it is very clear that a Dictionary<int, object> cannot contain a key that is null, and therefore,

[2022-04-11 15:12] kouvel opened #67845 "The thread pool's global queue doesn't scale well on machines with a large processor count"
The time spent spin-waiting in the `ConcurrentQueue` increases as the processor count increases and worker threads spend less time processing work. May consider queuing work more locally, introducing multiple queues, or other techniques.

[2022-04-11 15:21] srxqds opened #67846 "[source build] use of undeclared identifier 'kSecUseDataProtectionKeychain'"
### Description

build mono using `./build.sh mono+libs -c release`

### Reproduction Steps

1. install requirement: brew bundle --no-lock --file eng/Brewfile
2. build `./build.sh mono+libs -c release`

### Expected behavior

build success

### Actual behavior

make: *** [all] Error 2
  ~/Documents/github.com/runtime/src/native/libs
  Failed to build "native libraries component".
/Users/dsqiu/Docu

[2022-04-11 15:24] eerhardt commented on #67837
I meant a public API that .NET developers could call to set the `umask`.

[2022-04-11 15:27] tmds commented on #67837
Because .NET is multi-threaded, it would end badly.

One thread doing 'untar', would set it to `umask` `0`.

While another thread doing `File.OpenWrite` would end up creating a file that is readable and writable by other.

[2022-04-11 15:31] danmoseley commented on #58329
@CyrusNajmabadi is that contemplated in VS?

[2022-04-11 15:31] eerhardt commented on #67837
I can write multi-threaded C code. Does it end badly there as well?

I'm not talking about `tar`. I'm talking about any .NET application. `umask` is a system-level API that allows applications to manipulate file modes. Do .NET applications need to control it?

[2022-04-11 15:32] adamsitnik opened #67847 "System.Diagnostics.Perf_Process.GetProcessById has regressed 50% on Windows"
`System.Diagnostics.Perf_Process.GetProcessById` has regressed 50% on Windows

[Reporting System](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_x64_Windows%2010.0.18362%2fSystem.Diagnostics.Perf_Process.GetProcessById.html):

![image](https://user-images.githubusercontent.com/6011991/162775224-5a98262f-8613-4f2b-add8-4c7e1e07eacd.png)

Looking at the [comm

[2022-04-11 15:35] stephentoub commented on #67847
I believe this is expected. The previous code was simply wrong, and doing the right thing is more expensive.

[2022-04-11 15:36] stephentoub commented on #58329
That's https://github.com/dotnet/roslyn/issues/60593.

[2022-04-11 15:47] wfurt commented on #64735
Does it reproduce with 6.0 @TobiasKnauss ? This could be https://github.com/dotnet/runtime/pull/48059. You can also try to get `GetIPGlobalProperties` out of the loop to see if the growth really comes from the TCP list.

[2022-04-11 15:53] ViktorHofer commented on #67784
@tlakollo I'm closing this issue as the current behavior is documented. Even though it's not ideal, it's the best that we currently have based on the tooling that we use underneath to generate these reference source files.

[2022-04-11 15:53] #67784 closed

[2022-04-11 16:01] eiriktsarpalis commented on #67738
Fundamentally the proposed methods are meant to handle input sanitization responsibilities, in a very particular way. I don't think using extension methods over dictionary is the right way to achieve this (wrapping or extending your dictionary using a custom class might be preferable). One might argue that we need a "GetValueOrDefault" that accepts an `object` key just so that _every_ conceivable

[2022-04-11 16:02] tmds commented on #67837
I had a look. nodejs and python APIs that create files preserve the default behavior of applying umask.

Both also provide a umask function. Still, I don't think we should add it in .NET because of the multi-threading issues. The other APIs allow to set the permissions in a thread-safe way without using `umask`.

[2022-04-11 16:04] tannergooding commented on #67623
This one should be relatively straightforward for `R`, it just needs to be treated the same as `G` for the built-in Integer types.

The hexadecimal support is a bit more complex but is tracked by https://github.com/dotnet/runtime/issues/1630.

[2022-04-11 16:10] AArnott opened #67849 "crossgen2 fails when a Managed C++ dll is passed as a reference assembly"
### Description

When trying to crossgen2 a C# assembly that was originally compiled with a reference to a Managed C++ dll, crossgen2 fails

This is *not* asking for support to crossgen a managed C++ dll. But given crossgen2 produces the best native code when the transitive closure of assemblies referenced by a C# assembly are provided, my build script passes in *all* the reference (or copy local

[2022-04-11 16:11] tannergooding commented on #67388
I'm ok with taking a proposal to make this implement `IFormattable` + the new `IParsable` (and potentially `ISpanFormattable`, `ISpanParsable`) for consistency with the other primitive types.

I think that the proposal should be updated to fully cover those bits and the need/usage scenario around it first, however.

[2022-04-11 16:14] tannergooding commented on #58329
`StandardFormat` has a broader issue in that its design explicitly takes `byte` and special-cases the value `255` today, so we can't "as easily" update it to support the full range.

[2022-04-11 16:18] tannergooding commented on #67294
@cdlliuy could you please confirm if this is resolved in .NET 6 as indicated by David?

[2022-04-11 16:19] tannergooding commented on #67296
@tarekgh, does TimeZoneInfo fall under the things you generally look at?

[2022-04-11 16:20] stephentoub commented on #67388
I'm also curious about the exact casing that would be supported.  Three casings would seem to make some sense:
- True / False (what you get today)
- true / false
- TRUE / FALSE

This proposal covers the first two.  Is there ever a need for all uppercase, and if so, how does that play into this?

[2022-04-11 16:20] tannergooding commented on #67063
CC. @ericstj, @dotnet/area-infrastructure-libraries should this be reassigned? I don't think there is much the area-System.Runtime owners can do here since it seems infra/packaging related

[2022-04-11 16:21] tmds commented on #67837
Something like:

[code]

The `FileMode`/`FileAccess` match the existing `Create` but they are different from what I had picked for `OpenHandle`.

@eerhardt what do you think?

[2022-04-11 16:23] KalleOlaviNiemitalo commented on #67837
Setting umask in ProcessStartInfo would be safe, but if an application cares about that, then it likely wants to control ulimit and file descriptors as well, so just adding umask support there would not be worthwhile.

[2022-04-11 16:24] tarekgh commented on #67296
Yes.

[2022-04-11 16:28] mikem8361 commented on #65017
Done.

[2022-04-11 16:28] #65017 closed

[2022-04-11 16:30] jkotas commented on #67837
We have introduced `FileStreamOptions` that aggregate all file creation options to avoid the ever-growing list of overloads. Should the `UnixFileMode` be added on `FileStreamOptions` instead?

[2022-04-11 16:33] adamsitnik commented on #60659
The benchmark has regressed for the following range of commits: https://github.com/dotnet/runtime/compare/a883caa0803778084167b978281c34db8e753246...c251dbb17b76b23248d25ecca7aa99c3c280dcdc

![image](https://user-images.githubusercontent.com/6011991/162787791-90b2ab12-5a54-4d08-93c9-c92825f555f5.png)

It's very likely caused by the GC regions (cc @mangod9)

https://pvscmdupload.blob.core.windows.n

[2022-04-11 16:36] rhuijben commented on #62113
I would like to see some way how many bytes of the original source were read to generate the output, to allow the next decompress to continue right there. Currently the implementation only shows the output buffer results, while the input buffer is just as useful.

This is especially so in case some other information (e.g. not compressed) is written right after the zlib data, such as within Git pac

[2022-04-11 16:42] matheussouza97 commented on #67782
yes, of course.
[SystemTextJsonError.zip](https://github.com/dotnet/runtime/files/8466143/SystemTextJsonError.zip)

[2022-04-11 16:45] olivier-spinelli opened #67850 "[API Proposal]: Enable JsonEncodedText to be initialized with already encoded bytes."
### Background and motivation

I'm trying to efficiently serialize/deserialize `JsonEncodedText`: I just need to write the `EncodedUtf8Bytes` and read then back as bytes, letting the constructor expanding the string. Unfortunately, the constructor that does this is private (called by the `Encode`
methods and this makes perfect sense since this ctor would be clearly ambiguous):
[code]
There is no w

[2022-04-11 16:46] cmcmarrow commented on #67835
@eiriktsarpalis [JsonConstructor] makes everything work like the doc says. But class and struct init differently when no `[JsonConstructor]` is given. Which seems like undefined behavior.

[2022-04-11 16:49] lewing commented on #67349
The work is happening here https://github.com/dotnet/runtime/pull/67771

[2022-04-11 16:50] agocke opened #67851 "S.P.C PDB is being overwritten by NativeAOT PDB in folder"

[2022-04-11 16:55] tannergooding commented on #66873
At the very least, this proposal needs to be updated to follow the `API Proposal` outline, similarly to https://github.com/dotnet/runtime/issues/66467

These instructions are available in user-mode and don't appear to have any oddities that would prevent their support in the JIT. `waitpkg` is a relatively new ISA that I believe is only supported in `Tremont, Alder Lake, Sapphire Rapids` at the mom

[2022-04-11 16:56] devhawk commented on #67465
I'm seeing a similar issue. I have a .NET tool [Neo.Express](https://github.com/neo-project/neo-express#installation) that has a dependency on native RocksDB library. Native dependencies installed via APT.

Using a fresh Ubuntu 20.04 VM + .NET 6 installed via SNAP, I can execute the neo express `create` command (which uses only managed code) but the if I execute the `run` command (which loads the

[2022-04-11 16:59] simonrozsival opened #67853 "[tests][tvOS] Some System.IO tests are failing"
OS: tvOS
Architecture: arm64
Configuration: release
Runtime: mono

It appears that some System.IO tests on tvOS have been silently failing for at least a month. The #67746 bugfix removes a crash that prevented xharness from reporting the test failures properly (e.g. [rolling build from 4/10](https://dev.azure.com/dnceng/public/_build/results?buildId=1709824&view=logs&j=f4520fb1-1559-5885-1d9c-3cb3

[2022-04-11 17:04] adamsitnik opened #67854 "System.Text.Tests.Perf_StringBuilder.Append_Char_Capacity has regressed on x86"
`System.Text.Tests.Perf_StringBuilder.Append_Char_Capacity` has regressed a lot on x86.

[Reporting System](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_x86_Windows%2010.0.18362%2fSystem.Text.Tests.Perf_StringBuilder.Append_Char_Capacity(length%3a%20100000).html):

![image](https://user-images.githubusercontent.com/6011991/162791794-3faea350-f9a2-4673-88f

[2022-04-11 17:05] AArnott opened #67855 "crossgen2 fails on assemblies that include embedded types"
### Description

The .NET 6 runtime supports type equivalence which comes from embedding types (EmbedInteropTypes=true on a reference, or using the `/link` parameter to csc.exe instead of `/reference` for an embeddable assembly).
Crossgen2 fails to compile assemblies that contain embedded types (one that was compiled with `/link`).

### Reproduction Steps

The minimal embeddable type in the assemb

[2022-04-11 17:05] #66615 closed

[2022-04-11 17:06] AArnott commented on #67849
#38096 might be related.

[2022-04-11 17:08] OronDF343 commented on #67388
I have updated the proposal to reflect implementing formatting and parsing interfaces. I have also expanded upon the alternative design to address having more casing formats.

Basically, if necessary, we could make the standard format specifier different for each casing and make it case-insensitive (like many other standard format specifiers). `G`/`g` can be the default behavior, `L`/`l` can be lo

[2022-04-11 17:20] jkoritzinsky commented on #67855
Related: https://github.com/dotnet/runtime/pull/64413

[2022-04-11 17:20] mangod9 commented on #60659
Ok thanks, we will take a look. Should we create a separate issue for this since it appears this issue has been tracking other possible issues?

[2022-04-11 17:27] jkotas commented on #66873
It would be interesting to experiment with replacing the lock spin loops using these intrinsics. It should provide better overall performance, especially on machines with many cores.

The common locks are implemented in C/C++ in CoreCLR today, so we would need to reimplement them in C# first before the managed intrinsics can be used for those.

[2022-04-11 17:27] simonrozsival commented on #67853
There is some overlap with #51371

[2022-04-11 17:33] EgorBo commented on #67854
I bet it's inlining related

[2022-04-11 17:39] jeffhandley commented on #58770
Thank you for the valuable input, @JohnGalt1717. I appreciate each aspect of your recommendations here.

[2022-04-11 18:00] ViktorHofer commented on #64616
That got fixed with https://github.com/dotnet/runtime/commit/4c2ea7e9010e9c71bfba332e430e92f00e19c04e. Closing.

[2022-04-11 18:00] #64616 closed

[2022-04-11 18:01] #66149 closed

[2022-04-11 18:01] #65665 closed

[2022-04-11 18:04] steveisok commented on #67853
A lot of the failures are asserting at

https://github.com/dotnet/runtime/blob/51d11ebbaff4e967652e61b2b371e0d2f04c6fba/src/libraries/Common/tests/TestUtilities/System/IO/FileCleanupTestBase.cs#L159

https://github.com/dotnet/runtime/pull/63877 was intended to fix these issues and it appears they did on iOSSimulator, but we got a false positive from CI when it came to devices.

[2022-04-11 18:08] AraHaan commented on #62113
Currently what I use this for does an all in approach where I just shove all of a file's data in as an one-op, however like you said, most people fragment the data into smaller buffers that gets fed in sequentially.

Also with spans, I think that size can be obtained without needing to change the apis (if I remember right it's ``Span<T>.Length``)?

[2022-04-11 18:17] carlossanlop commented on #67349
Happened again on runtime rolling builds during the weekend:

- 04/09: https://dev.azure.com/dnceng/public/_build/results?buildId=1708699&view=logs&j=f4520fb1-1559-5885-1d9c-3cb3f6a85e23&t=6c7a8cfe-f92e-569a-eef9-b2ad3e13056d&l=76
- 04/10:https://dev.azure.com/dnceng/public/_build/results?buildId=1709879&view=logs&j=a5078f86-b345-5a4a-85ee-f64916152c6f&t=b1d0531b-2b6c-5e64-cc59-e2e1ffcc72bf&l=76

[2022-04-11 18:20] #67555 closed

[2022-04-11 18:20] #67556 closed

[2022-04-11 18:33] fanyang-mono commented on #67762
This issue is reproducible when running LLVM JIT with the following program

[code]

[2022-04-11 18:40] carlossanlop opened #67864 "Rolling build failure: LibraryImportGenerator.UnitTests.Diagnostics.StringMarshallingForwardingNotSupported_ReportsDiagnostic"
@elinor-fung @jkoritzinsky please disable the test or merge a fix as soon as possible since it's affecting rolling builds.

- Pipeline: https://dev.azure.com/dnceng/public/_build/results?buildId=1709879&view=results

Two failures:

Queue: `Libraries Test Run release coreclr OSX x64 Release`
  - Job: https://dev.azure.com/dnceng/public/_build/results?buildId=1709879&view=logs&j=05e92ac1-194e-59cf-6

[2022-04-11 18:42] ManickaP commented on #67552
Yeah, I only took the fields as they are now and made them public. Getters are fine choice here as well, I'll update the proposal to reflect that.

[2022-04-11 18:50] carlossanlop commented on #67728
Continues happening on runtime-extra-platforms consistently:
- 04/10 (first rolling build) 331 failures: https://dev.azure.com/dnceng/public/_build/results?buildId=1709605&view=results
- 04/10 (second rolling build) 348 failures: https://dev.azure.com/dnceng/public/_build/results?buildId=1709911&view=results
- 04/11: 329 failures: https://dev.azure.com/dnceng/public/_build/results?buildId=1710404&

[2022-04-11 18:53] elinor-fung commented on #67864
@jkoritzinsky this is https://github.com/dotnet/roslyn-sdk/issues/974, right? Do we just need to update to a version of the roslyn testing packages that has the fix from last week?

[2022-04-11 19:21] cybertyche commented on #58770
@jeffhandley @JohnGalt1717 I just want to second the sense of urgency here. My team is actively trying to do two things simultaneously: follow guidance for best practices on newest frameworks, and optimize performance in a setting where microseconds matter. Not having this feature means that we are having to do some uncomfortable half-measures throughout our code. In particular, we're trying to us

[2022-04-11 19:23] AlgorithmsAreCool opened #67868 "[API Proposal]: Poolable / Resettable CBOR Readers"
### Background and motivation

Today, `CborReader` is a "one-shot" type that must be discarded after it has finished reading the buffer it was created with. Internally the reader allocates multiple collections for bookeeping. If you are reading multiple CBOR documents in a hot loop, this can generate a lot of garbage.

It would be desirable to be able to "reset" the `CborReader` and provide it a n

[2022-04-11 20:07] gfr-g commented on #65368
I was interested in investigate the issue but it seems it might be fixed already.

[code]

[2022-04-11 20:08] TIHan opened #67869 "ARM64 - GT_MADD - do not emit 'msub' in code-gen"
At the moment, GT_MADD op can emit 'msub' - since we are adding GT_MSUB, we should remove this behavior and instead make the decision to emit 'msub' by using GT_MSUB in lowering.

[2022-04-11 20:13] jeffhandley commented on #65633
Per discussion with the team, we will consider backporting the fix for this issue into .NET 6 if we can get validation that the user's scenario is addressed with the fix.

[2022-04-11 20:18] JulieLeeMSFT commented on #67854
Assinged to you, @EgorBo. :)

[2022-04-11 20:39] BruceForstall opened #67870 "Assertion failed '(constIndexOffset % elemSize) == 0'"
Test: JIT\Regression\JitBlue\Runtime_56953\Runtime_56953\Runtime_56953.cmd

`coreclr windows arm Checked @ Windows.10.Arm64v8.Open`

https://dev.azure.com/dnceng/public/_build/results?buildId=1710403&view=ms.vss-test-web.build-test-results-tab&runId=46520194&paneView=debug

[code]

@dotnet/jit-contrib

category:correctness
theme:value-numbering
skill-level:intermediate
cost:small
impact:small

[2022-04-11 20:41] kunalspathak opened #67871 "Assertion failed 'fgDomsComputed' during 'Determine first cold block' (Tier0-FullOpts)"
[code]

[2022-04-11 20:41] kunalspathak commented on #67871
@dotnet/jit-contrib

[2022-04-11 20:56] danmoseley opened #67872 "[API Proposal]: Expose method to get system message for system error code"
### Background and motivation

This optionally (and typically) retrieves the last system error (with `Marshal.GetLastPInvokeError()`) and the matching system error string (internally using `strerror` or `FormatMessage`) for you:
[code]
(Separate discussion of the unfortunate naming we have inherited for Win32Exception is [here](https://github.com/dotnet/runtime/issues/26227#issuecomment-747842770)

[2022-04-11 20:56] MattGal commented on #67821
for -046 (more recent log) I filed https://github.com/dotnet/arcade/issues/9024 (@agocke FYI)

[2022-04-11 21:05] danmoseley commented on #57941
hit again https://github.com/dotnet/runtime/pull/67827/checks?check_run_id=5979100266
on net7.0-Linux-Debug-x64-mono_interpreter_release-(Debian.10.Amd64.Open)Ubuntu.1804.Amd64.Open@mcr.microsoft.com/dotnet-buildtools/prereqs:debian-10-helix-amd64-20210304164434-56c6673

@BrzVlad any theory why this is happening on interpreter? Not sure whether it's hung or just very slow.

[2022-04-11 21:07] jkotas commented on #67872
Nit: GetMessageforPinvokeError -> GetMessageforPInvokeError

[2022-04-11 21:13] bartonjs commented on #67868
A much simpler variant seems to be just to add

[code]

And not bother letting the two options change, or ever have a state of having unassigned data.  For your described scenario it'd be

[code]

or just empty-initialize the reader, if you want to get rid of the branch.

[code]

As-proposed, there's ambiguity.  What happens if you're in deep state and call SetBuffer?  What does Reset do without a

[2022-04-11 21:14] GrabYourPitchforks opened #67873 "StringComparison.OrdinalIgnoreCase does not consistently match ToUpperInvariant"
Per the following two documents, comparing strings using `StringComparison.OrdinalIgnoreCase` is explicitly documented as equivalent to calling `ToUpperInvariant` on each string, then performing an ordinal comparison against the contents.

- https://docs.microsoft.com/dotnet/api/system.stringcomparer.ordinalignorecase#remarks
- https://docs.microsoft.com/dotnet/standard/base-types/best-practices-s

[2022-04-11 21:14] MattGal commented on #67730
@danmoseley  / @premun I did see one interesting thing.  Yes, this test was added a month or so ago and is designed to make big files in https://github.com/dotnet/runtime/commit/0e8422d918b859800ce6d176db0903d76ca074c0.  I'd note that it's trying to create a 2.08 GB (not 1 GB like noted in the comments) text file.

The "one interesting thing" bit is in the exception message:

'/tmp/StreamReaderWit

[2022-04-11 21:15] bartonjs commented on #67868
Also, so far as I can tell: Congratulations on having the first feature request to the System.Formats.Cbor library :smile:

[2022-04-11 21:17] kunalspathak commented on #67870
Hit this on Antigen run as well.

[code]

[2022-04-11 21:40] JulieLeeMSFT commented on #67869
@TIHan please change to .NET 7 from future if you get to work on it.

[2022-04-11 21:43] CodeBlanch commented on #67207
One of the questions brought up on the design review was (more or less): Does this lead to a measurable impact on the export process inside the OpenTelemetry SDK?

Here are some benchmarks to try and answer that question.

Scenarios:

1) Single activity with 6 tags.
2) Single activity with 6 tags + single event with 3 tags. This would be the case of an exception, which is added as an event with ta

[2022-04-11 22:14] eiriktsarpalis commented on #58770
I would recommend upvoting the original post, since we use that signal to drive prioritization in the backlog.

[2022-04-11 22:15] danmoseley commented on #67872
fixed.

[2022-04-11 22:26] danmoseley commented on #67730
@MattGal the above script will not work on Unix.
On Unix, the variable used is TEMPDIR (https://en.wikipedia.org/wiki/TMPDIR) and my guess is that if that's not set it is hard coded to `/tmp`
Wikipedia also says "ther forms sometimes accepted are TEMP, TEMPDIR and TMP, but these alternatives are used more commonly by non-[POSIX]..."
On Windows, GetTempPath() looks at TMP first, then TEMP, then som

[2022-04-11 22:28] danmoseley commented on #67730
It looks like the `Path.GetTempPath()` code falls back to `/tmp/` if `TEMPDIR` is not defined. I suppose one could argue it maybe should check `TMP` and/or `TEMP` first, but that might be pure Windows leakage, plus would need thought about security possibly.

[2022-04-11 22:30] MattGal commented on #67730
@danmoseley so if we just also set TMPDIR that'd be OK right?  This is important for testing because we redirect not for disk space but rather per-workitem isolation.

[2022-04-11 22:39] MattGal commented on #67730
I went ahead and made this into [a PR](https://dnceng.visualstudio.com/internal/_git/dotnet-helix-machines/pullrequest/22266)

[2022-04-11 22:39] danmoseley commented on #67730
You should set TMPDIR for non Windows and TMP (or TEMP or possibly both, why not) for Windows.

If this script runs on either, I'd set all three to be sure.

[2022-04-11 22:50] AArnott opened #67877 "Custom apphost fails to flush nettrace file on shutdown"
### Description

A native apphost for .NET 6 works fine, except I can't collect .nettrace files for it. I set all the requisite env vars:

[code]

And the nettrace file is created, but then the process closes and the file remains at its < 1KB size.

### Reproduction Steps

Talk to me offline for repro steps.

### Expected behavior

A clean process shutdown (ExitProcess or returning from native mai

[2022-04-11 22:56] #59491 closed

[2022-04-11 23:04] AaronRobinsonMSFT opened #67878 "Timeouts in `System.Text.Json.Tests` on arm32"
https://github.com/dotnet/runtime/pull/67858
[code]

https://github.com/dotnet/runtime/pull/67852

[2022-04-11 23:04] wfurt opened #67879 "discrepancy between TcpClient constructor and Connect method"
`TcpClient` has public constructor that takes host name and port and when used, it connects underlying Socket. However the behavior is different when creating `TcpClient` and calling `Connect` method to the same host.

[code]

will produce something like
[code]

So in some cases use dual mode socket and sometimes we use socket for specific address family. `Connect` and `ConnectAsync` produce same

[2022-04-11 23:07] devhawk commented on #67465
I created a simple console app via `dotnet new` on my SNAP based VM. I can *run* the app from the command line, but if I open up VSCode on the folder I get a warning that the .NET Core SDK cannot be located and OmniSharp can't load this very simple one line project w/o zero additional dependencies. But if I open the terminal *inside VSCode*, I can `dotnet run` the app and get "Hello, World!" as th

[2022-04-11 23:11] danmoseley commented on #67877
@vitek-karas is this area-Host?

[2022-04-11 23:14] danmoseley commented on #67877
Or perhaps @noahfalk @brianrob can help confirm where this should go.

[2022-04-11 23:19] brianrob commented on #67877
This looks like a PGO crash on shutdown, which likely means that the runtime doesn't get fully shutdown, and that's where I'd expect `EventPipe` to flush.  Which area covers PGO?

[2022-04-11 23:22] danmoseley commented on #67877
Normally codegen, but in this case it's perhaps VM -- @mangod9 ?

[2022-04-11 23:28] danmoseley commented on #55146
@npehrsson I don't believe so. We would accept a PR, but otherwise it may be some time (months) before we can give it attention.

[2022-04-11 23:28] danmoseley commented on #55146
If we had a fix in main, we could potentially discuss backporting to 6.0 as well depending on the risk.

[2022-04-11 23:30] danmoseley commented on #28482
@jeffhandley is this a change that a community member could feasibly contribute? It's a little unclear from comments higher up whether there are subtleties that have to be considered, or perhaps exposing "good enough" values is straightforward and acceptable for now.

[2022-04-11 23:40] stephentoub commented on #67872
`GetPInvokeErrorMessage`?

[2022-04-11 23:43] danmoseley commented on #67872
That's an improvement. Updated.

[2022-04-11 23:48] MattGal commented on #67730
I went ahead and set all 4.  I also did a little experiment (test helix log [here](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/results-19ccb555290645dfa1/dumping-file-info-1/1/console.bef0ab22.log?sv=2019-07-07&se=2022-05-01T23%3A39%3A39Z&sr=c&sp=rl&sig=FJ%2B34aUjNGdk9DyxC4hpiCXSads9BGS%2FwXq5wIxbTWA%3D))

Relevant excerpt:
[code]

This shows us /tmp has only 2 GB free with no automated

[2022-04-11 23:58] Simonl9l commented on #59866
As a solution developer who happens to be using an M1 Pro, that is developing something that performs intensive multi-concurrent task processing this seems to be a major architecture support issue for the dotnet runtime.

The solution we have under development is (by intention) intended to leverage all the cores of what ever system it's running on, inc the M1 (Max/Pro/Ultra) using the default trea

[2022-04-12 00:01] #35460 closed

[2022-04-12 00:15] #10077 closed

[2022-04-12 00:17] danmoseley opened #67880 "HashAlgorithmTest.ComputeHashAsync_SupportsCancellation() fails to throw OperationCanceledException"
Console log: 'System.Security.Cryptography.Tests' from job 4f51ef79-15d1-474b-abcc-36d29680439b (ubuntu.1804.amd64.open.rt) using docker image mcr.microsoft.com/dotnet-buildtools/prereqs:debian-10-helix-amd64-20210304164434-56c6673 on a00BSOC

net7.0-Linux-Debug-x64-mono_interpreter_release-(Debian.10.Amd64.Open)Ubuntu.1804.Amd64.Open@mcr.microsoft.com/dotnet-buildtools/prereqs:debian-10-helix-amd

[2022-04-12 01:00] ByboyCn commented on #67832
Do I now have to write my own large numbers to complete the ECDH operation?

Do I now have to write my own large numbers to complete the ECDH operation?

[2022-04-12 01:05] vcsjones commented on #67832
If you have compressed EC keys, you will need to convert them to uncompressed keys (A full X and Y). Rather than do the implementation yourself, I would recommend using a 3rd party library that is capable of doing this. BouncyCastle for .NET might be able to.

[2022-04-12 01:07] ByboyCn commented on #67832
3Q

3Q

[2022-04-12 01:13] AndyAyersMS commented on #67631
@egorbo fyi

[2022-04-12 01:19] tarekgh commented on #67296
These time zones cannot currently be supported on Windows. The reason is there is no specific Windows time zone Id match such time zones. In other words, Windows doesn't carry zone data for such time zones. Even using such time zones on Linux will not be desirable, the reason is some countries using such time zones while the daylight savings are not applying to them.
For example, according to http

[2022-04-12 01:19] #67296 closed

[2022-04-12 01:34] jkoritzinsky commented on #67878
Happening here as well: https://github.com/dotnet/runtime/pull/67676#partial-pull-merging

[2022-04-12 02:25] #62923 closed

[2022-04-12 03:40] jam40jeff commented on #28482
Could we at least get a helper method like the internal `JsonException ThrowHelper.GetJsonReaderException(...)` (accepting a string error message rather than a resource) to create a `JsonReaderException` with the appropriate values set?

[2022-04-12 03:52] MiyamuraMiyako commented on #67093
[code]

![图片](https://user-images.githubusercontent.com/10345361/162876794-1fa195bb-0c0b-48e0-921d-76c026e39e7d.png)

@eerhardt  Exception throw  on line 9.

[2022-04-12 04:03] jkotas opened #67886 "System.Text.RegularExpressions.Tests.RegexMatchTests.Match_InstanceMethods_DefaultTimeout_Throws failing on CoreCLR checked runs"
[code]

[2022-04-12 04:03] jkotas commented on #67886
Failed in #67885, #67884, #67882, ...

[2022-04-12 04:05] jkotas commented on #67886
Test introduced by #67775

cc @stephentoub

[2022-04-12 04:40] danmoseley commented on #67886
Let's just mark it release only.

[2022-04-12 04:50] AaronRobinsonMSFT commented on #67844
@nschuessler It would be helpful to see an example of the IL that being emitted. Additionally if you could provide an example of what is being attempted it would help understanding the problem.  Based on the title, I am assuming the general idea is the following:

[code]

[2022-04-12 04:52] runfoapp[bot] opened #67887 "EMSDK-.WasmNativeDefaultsTests work item failing"
Runfo Tracking Issue: [EMSDK-.WasmNativeDefaultsTests work item failing](https://runfo.azurewebsites.net/tracking/issue/321)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Results|Run Client|
|---|---|---|---|---|---|---|---|
|[1758177](https://dev.azure.com/dnceng/public/_build/results?buildId=1758177)|[runtime](https://dnceng.visualstudio.com/public/_build?definitionId=686)|[PR 68991](ht

[2022-04-12 04:53] runfoapp[bot] opened #67888 "jit.1 work item failing on mono"
Runfo Tracking Issue: [jit.1 work item](https://runfo.azurewebsites.net/tracking/issue/366)
|Build|Definition|Kind|Run Name|Console|Core Dump|Test Results|Run Client|
|---|---|---|---|---|---|---|---|
|[1897450](https://dev.azure.com/dnceng/public/_build/results?buildId=1897450)|[runtime](https://dnceng.visualstudio.com/public/_build?definitionId=686)|[PR 72021](https://github.com/dotnet/runtime/p

[2022-04-12 04:55] jkoritzinsky commented on #67864
Fixed by https://github.com/dotnet/runtime/pull/67676

[2022-04-12 04:55] #67864 closed

[2022-04-12 05:23] TobiasKnauss commented on #64735
@wfurt I cannot test with .NET 6 yet because we still use VS 2019. Do you see the failure in .NET 6?
I can confirm that the behaviour is the same with `GetIPGlobalProperties` outside the loop.
And no matter which variant I use in the test, the memory usage increases after every 82nd call today:
20, 19, 1, 13, 7, 40, 40, 7, 33, 73, 9, 82, 15, 67, 82, 82, 21, 61, 82, 82, 55, 27, 82, 82, 20, 62, 82,

[2022-04-12 05:28] danmoseley commented on #64735
You can use the .NET 6 SDK to target .NET 6 without Visual Studio. Or install Visual Studio 2022 side by side for this purpose.

[2022-04-12 05:41] GSPP commented on #67330
After compiler reordering, there is no more defined order. This is, therefore, a meaningless constraint. I don't believe that the number of cores has any bearing on the guaranteed behavior of the program.

[2022-04-12 05:42] GSPP commented on #63474
I'm referencing a thread about the memory model that is posing difficult questions with lively discussion:

- https://github.com/dotnet/runtime/issues/67330

[2022-04-12 06:45] #67730 closed

[2022-04-12 06:49] GSPP opened #67891 "Parsing format string precision intends to validate for overflow but the check does not work"
In https://github.com/dotnet/runtime/pull/47353 the way format strings are validated was changed. This resulted in this code:

https://github.com/dotnet/runtime/blob/5707668eac999163740e42c70f228772e6bc3680/src/libraries/System.Private.CoreLib/src/System/Number.Formatting.cs#L1705-L1718

The `temp < 0` check does not catch all forms of overflow. It is possible to overflow but to create a positive

[2022-04-12 07:00] #67807 closed

[2022-04-12 07:16] vova-lantsov-dev opened #67892 "Ability to define the System.Text.Json attributes on implemented interfaces"
### Description

Sometimes, in source generator scenarios, you need to add the STJ metadata to existing classes. There is no `partial property` feature yet, so the only way is to generate an interface that will be implemented by a target class.

What I suggest is an attribute that can be specified for a target class, like this:
[code]

Naming could be another, but the most important is behaviour.

[2022-04-12 07:18] manofstick commented on #64659
Hi!

...Sorry if this isn't the correct place for this post...

I've been playing around with PGO in .net 6 with mostly excellent results, but...

I've hit one case where it appears (to ignorant me) that the statistics collecting method isn't being replaced by the optimized version (well at least that is my simple understanding of what PGO should be doing...)

Anyway I'm not sure what information

[2022-04-12 07:25] tmds commented on #67837
I've included it as a `FileStreamOption`, and extended the notes on the `umask` masking performed by the kernel.

[2022-04-12 07:26] agocke commented on #64337
Yup, unfortunately we don't have enough resources to commit to it for .NET 7, but would accept external contributions if they come in.

[2022-04-12 07:28] simonrozsival opened #67893 "[tvOS] Failing System.Numerics.Vectors.Tests"
Architecture: arm64
Configuration: Release

Some `System.Numerics.Vectors.Tests` are failing on tvOS:
- MultiplicationWithScalarSByte
- MultiplicationWithScalarInt16
- MultiplicationWithScalarInt32
- MultiplicationWithScalarInt64
- MultiplicationWithScalarByte
- MultiplicationWithScalarUInt16
- MultiplicationWithScalarUInt32
- MultiplicationWithScalarUInt64
- MultiplicationWithScalarSingle
- Multi

[2022-04-12 08:05] performanceautofiler[bot] opened #67913 "Regressions in System.Text.RegularExpressions.Tests.Perf_Regex_Industry_Leipzig"
### Run Information

Architecture | x64
-- | --
OS | alpine 3.12
Baseline | [0c5e7daf58e5d79cb7a2a8767d1f0e6ec4de4dd4](https://github.com/dotnet/runtime/commit/0c5e7daf58e5d79cb7a2a8767d1f0e6ec4de4dd4)
Compare | [22870c2e31ae3c028cece52babd3cae57b560713](https://github.com/dotnet/runtime/commit/22870c2e31ae3c028cece52babd3cae57b560713)
Diff | [Diff](https://github.com/dotnet/runtime/compare/0c5e7d

[2022-04-12 08:05] performanceautofiler[bot] opened #67914 "Regressions due to Roslyn update"
### Run Information

Architecture | x64
-- | --
OS | alpine 3.12
Baseline | [dbc966aa2dca791a145a08c227b06ba23886e876](https://github.com/dotnet/runtime/commit/dbc966aa2dca791a145a08c227b06ba23886e876)
Compare | [7db963a298b5be0903279b1dcfd333371a04324c](https://github.com/dotnet/runtime/commit/7db963a298b5be0903279b1dcfd333371a04324c)
Diff | [Diff](https://github.com/dotnet/runtime/compare/dbc966

[2022-04-12 08:05] performanceautofiler[bot] opened #67915 "Regressions in System.Text.RegularExpressions.Tests.Perf_Regex_Industry_Mariomkas"
### Run Information

Architecture | x64
-- | --
OS | alpine 3.12
Baseline | [c288acdb794b1f2edba90868a823b161d88bd2b0](https://github.com/dotnet/runtime/commit/c288acdb794b1f2edba90868a823b161d88bd2b0)
Compare | [bed8bc7094f24360256ee4c014da3c5cadc2e3d2](https://github.com/dotnet/runtime/commit/bed8bc7094f24360256ee4c014da3c5cadc2e3d2)
Diff | [Diff](https://github.com/dotnet/runtime/compare/c288ac

[2022-04-12 08:05] performanceautofiler[bot] opened #68031 "Regressions in System.Globalization.Tests.StringSearch"
### Run Information

Architecture | x64
-- | --
OS | alpine 3.12
Baseline | [dc030a0362e3177389f4d4e73e1332c345eab891](https://github.com/dotnet/runtime/commit/dc030a0362e3177389f4d4e73e1332c345eab891)
Compare | [7c21927c257f8eff7ceb3f3c0fd4ee2c8fe6c414](https://github.com/dotnet/runtime/commit/7c21927c257f8eff7ceb3f3c0fd4ee2c8fe6c414)
Diff | [Diff](https://github.com/dotnet/runtime/compare/dc030a

[2022-04-12 08:05] performanceautofiler[bot] opened #67916 "[Perf] Changes at 4/8/2022 8:59:46 PM"

[2022-04-12 08:09] krwq commented on #67761
I've had this specific Assert.Contains fail 3 times overnight (out of 4 failures total):

[code]

[2022-04-12 09:29] jogibear9988 opened #67897 "Crash of our NetCore 6 Application"
### Description

Our Application crashed with a internal NetCore Runtime error

![image](https://user-images.githubusercontent.com/364896/162928637-64e19ae1-c31c-4c15-a776-6faf2e05dff6.png)

Name der fehlerhaften Anwendung: MCC.Common.Services.NTServiceHost.exe, Version: 6.0.0.0, Zeitstempel: 0x61954b73
Name des fehlerhaften Moduls: coreclr.dll, Version: 6.0.121.56705, Zeitstempel: 0x619543a3
Ausn

[2022-04-12 09:31] eiriktsarpalis commented on #67892
This is by design, contracts of implemented interfaces should have no impact on the contract of the implementing class (since one class could be implementing multiple interfaces or might be implementing it explicitly). You should still be able to get the expected behavior if you cast the model to the interface type ahead of serialization:
[code]

[2022-04-12 09:45] devsko commented on #58773
Hi @ManickaP.  Basically, I am done with this change. It contains the following:

- Support RFC 6265 by default

  - Adding `CookieVariant.Rfc6265` (I do not consider this a breaking change) and set it as the default for all cookies.
  - Enforce the rules for cookie name and value. This can be considered a breaking change because it allows less than before.
  - Parse cookie headers compliant to RF

[2022-04-12 09:51] trylek commented on #54512
By now we're approaching merge of the JIT/Methodical tests switchover (currently blocked on the GC bug https://github.com/dotnet/runtime/issues/64263 taking down all r2r-extra runs on Unix) after which we'll have 3574 tests switched over or about 1/3 of the entire Pri1 test tree. Before we start a next phase merging additional test subtrees, I believe it's useful to analyze post-mortem observation

[2022-04-12 09:55] Li7ye opened #67899 "How to get the memory size of value type correctly in Windbg with SOS extension?"
I defined an empty value type in .Net6 as below:
`  struct EmptyValueType{}`

I use `sizeof(EmptyValueType)` to get memory size in code. The result is 1 byte.

I try to use Windbg to get memory size for `EmptyValueType` as below:

1. new `EmptyValueType` in Program.cs of console app
[code]
2. Launch Windbg to debug the console app
3.  `!dso` command to find all stack obj and '!DumpObj' command to

[2022-04-12 10:54] #67374 closed

[2022-04-12 10:56] jakobbotsch commented on #54512
There is undocumented syntax to specify attribute values without having to deal with binary blobs. I have used it in [this](https://github.com/dotnet/runtime/blob/e9915df6320aadf73be4717a3396b2f26d6e4c9a/src/tests/JIT/Directed/debugging/debuginfo/tests.il#L44-L47) test.

[2022-04-12 12:33] rzikm commented on #67687
Seems to be failing sufficiently often, so far on Win7 only, I will put up a PR to disable the test

[2022-04-12 12:44] rzikm commented on #67509
Still no records in the DB, I suggest we close this until it resurfaces

[2022-04-12 12:55] rzikm commented on #66632
Currently happens roughly once a day (for the past 6 days at least), so far seen mostly on x86 runs on Windows. The tests still frequently fail and require a retry on multiple platforms.

[2022-04-12 12:57] jharjung commented on #58770
Would it be possible to prioritize a smaller fix to the analyzer that just silences the SYSLIB1037 warning for init-only properties that are also parameters of the deserialization constructor? This warning is inaccurate, as source generator deserialization does work exactly as it should for such properties.

Making the source generator logic work well with init-only properties in general is import

[2022-04-12 12:59] #67802 closed

[2022-04-12 13:05] srxqds commented on #67846
hi, who can help me?

[2022-04-12 13:11] nschuessler commented on #67844
So it appears  @scott-xu  closed the Ninject issue so he may not need help fixing. I was trying to connect everyone to resolve the issue.

[2022-04-12 13:11] #67844 closed

[2022-04-12 13:38] DanPristupov commented on #67506
No. I removed it and the result is the same :(

With `WaitForExit` (Total time async `335ms`):
[code]

Without `WaitForExit` (Total time async `400ms`):
[code]

<details>
  <summary>Source code</summary>

[code]
</details>

[2022-04-12 13:45] tmds commented on #67506
[code]
You get these lower values due to not waiting for exit.

[2022-04-12 13:51] dobsa commented on #34126
Advisory locking means, that the reader is free to ignore the lock if it decides so. In order to implement any kind of Linux tool that interoperates with other Linux tools via files there must be a way how to ignore the advisory file locks. A tool that does not allow that is useless in Linux IMO. It seems that dotnet 6 has implemented at least [something](https://devblogs.microsoft.com/dotnet/file

[2022-04-12 13:54] dobsa commented on #34126
BTW: since PowerShell is implemented in .NET (I suppose), it suffers from the same "uselessness" as a system maintenance tool.

[2022-04-12 14:26] carlossanlop commented on #67837
Thank you for proposing this. Getting UnixFileMode approved and implemented in 7.0 with all these usages would allow us to remove TarFileMode, which is what ended up being approved here (instead of UnixFileMode): https://github.com/dotnet/runtime/issues/65951

I think this proposal should explicitly mention that TarFileMode would be removed once UnixFileMode is approved. @bartonjs agree?

[2022-04-12 14:26] tmds commented on #65874
@vcsjones you're right. Our rhel9 builds were not using the default policy. Using the default, it doesn't work.

[2022-04-12 14:36] danmoseley commented on #67897
Hello. Are you able to get a crash dump?

[2022-04-12 15:08] tommcdon commented on #58471
Thanks to @kouvel  https://github.com/dotnet/runtime/pull/67160 should have fixed the issue in 7.0.   @noahfalk is working on a 6.0-servicing version of the fix.

[2022-04-12 15:15] jharjung commented on #58770
I don't think that's right.

When a property happens to have an init-only setter, but is _also_ included in the constructor chosen for deserialization, then deserialization will not use the init-only setter - it will pass the value in via the constructor. The fast path isn't disrupted, and the values DO round trip.

This is exactly the pattern that arises from desugaring record types into classes.

[2022-04-12 15:21] tannergooding commented on #67891
@GSPP, you're missing that `n` is reassigned each iteration:
[code]

This isn't checking is it positive/negative but rather `is the new temp less than the previous temp`.

For `4294967300` it would:
* `n = 0`, `temp = 4`
* `n = 4`, `temp = 42`
* ...
* `n = 42949673`, `temp = 429496730`
* `n = 429496730`, `temp = 4`
* FormatException

[2022-04-12 15:24] AArnott commented on #67877
@jkotas suggested not setting `DOTNET_TieredPGO=1`. That does indeed avoid the AV. But it doesn't get the file flushed either.

[2022-04-12 15:29] wfurt commented on #67509
I think we don't keep passes in database any longer.I check that t the test is not disabled so I think it would be OK to close.

[2022-04-12 15:30] BrennanConroy commented on #65400
FixedWindow and SlidingWindow have not been dropped, they are in progress and will be in .NET along-side Concurrency and TokenBucket.

[2022-04-12 15:32] eiriktsarpalis commented on #63747
I have updated the original post with what I believe is going to be the finalized shape and semantics of the feature. Please take a look, your feedback would be greatly appreciated.

[2022-04-12 15:34] SupinePandora43 commented on #58939
What about CoreCLR ARM64?

[2022-04-12 15:34] Juniorsnet commented on #25375
Here is my binlog.
I testing more and the version of .net maybe the problem.
On manjaro I remove the 6.0.0.102 from packages.
I install manually the 6.0.0.202 from dotnet-install.sh
Now the project runs.
The function SerialPort.GetPortNames() returns nothing but at least not crash with System.PlatformNotSupportedException
What is the diference between 6.0.0.1xx vs 6.0.0.2xx?
[msbuild.binlog.gz](ht

[2022-04-12 15:44] markmcgookin commented on #31301
Just something for someone else that eventually stumbles across this... I was using `GetFileSystemEntries` to iterate over secrets provided by the Azure Keyvault Secret provider for K8S (which mounts secrets as files in a volume) and after an update I was getting "Unhandled exception. System.UnauthorizedAccessException: Access to the path '/mnt/secrets-store/..data' is denied."

I don't know enoug

[2022-04-12 15:49] eiriktsarpalis commented on #58770
I was going to write a comment about the init-only setter being redundant in your `Foo` example, but then I saw your remark of it being the codegen for the record type. I'd support a PR that improves the analyzer for _that particular case_ but we likely won't be able to dedicate cycles for such a change ourselves.

[2022-04-12 15:53] mikem8361 commented on #58067
Fixed with above PR.

[2022-04-12 15:53] #58067 closed

[2022-04-12 15:57] dakersnar opened #67909 "System.Tests.Perf_Enum.EnumToString has regressed across multiple configurations"
System.Tests.Perf_Enum.EnumToString has regressed across multiple configurations.

[Reporting System](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_x64_Windows%2010.0.18362%2fSystem.Tests.Perf_Enum.EnumToString(value%3a%20Yellow).html):

![image](https://user-images.githubusercontent.com/18474647/163002203-ef08453e-f6a3-415d-bd48-0066c9942568.png)

Looking

[2022-04-12 16:06] lambdageek commented on #34196
Some more comments on `GitHub_23411.il`:

I went through [GitHub_23411.il](https://github.com/dotnet/runtime/blob/975398086ed525a8b133c495346b2c1de0e6b6ff/src/tests/JIT/Regression/JitBlue/GitHub_23411/GitHub_23411.il) and split the basic blocks by hand (I'm not sure if I'm doing the exact algorithm that we implement).  The critical instructions are this code:
https://github.com/dotnet/runtime/blob

[2022-04-12 16:07] #67588 closed

[2022-04-12 16:16] Jnagasuresh opened #67911 "Assertion at..., condition '<disabled>' Blazor Web assembly (.NET 6.0)"
Hello Team,

we are facing issue with blazore web assembly. we are using .net core 6.0. Code is working fine in local machine but when code is deployed to azure app service, home screen is not loading in the browser and console window is log with following error.

Assertion at..., condition '<disabled>'

more over this issue is causing with zip deployment where as code is deploying with vs code 20

[2022-04-12 16:18] krwq commented on #63747
I have some naming suggestions:
- `JsonDerivedType` => `JsonAllowDerivedType`
- `typeDiscriminatorId` => `typeIdentifier`

also couple of questions:
- how to specify type identifier for base class (assuming base class can be instantiated directly) or no identifier means base?
- how to specify allowed derived types for types outside of your control (assembly in someone else's nuget package - only t

[2022-04-12 16:21] EgorBo commented on #67912
Most likely https://github.com/dotnet/runtime/pull/67133 cc @stephentoub

[2022-04-12 16:24] SCLDGit commented on #63747
Some kind of [JsonShouldDerive] tag for base classes would be nice for writing IDE tooling to automatically generate [JsonDerivedType] tags when creating inheriting classes, or to have Intellisense (or similar) recommend it as an action. Anything to make proper tagging less prone to human error would be a big plus.

[2022-04-12 16:24] maraf commented on #66384
@xinsiyu2008 Both uploads already expired. Can you please reupload your sample code?

[2022-04-12 16:26] EgorBo commented on #67913
https://github.com/dotnet/runtime/pull/67184 cc @joperezr

[2022-04-12 16:30] EgorBo commented on #67914
Most likely some IL changes after https://github.com/dotnet/runtime/pull/67440

[2022-04-12 16:34] karelz commented on #67879
Triage: Makes sense to make the behavior consistent (and predictable) - we should remove the craft in `TcpClient` and call `socket.Connect`.
Should be simple to do.

[2022-04-12 16:37] jharjung commented on #58770
It looks like a simple enough fix, around line 1031 in gen/JsonSourceGenerator.Parser.cs.

The current code is:

[code]

We have easy access to the `paramGenSpecArray` that tells us whether the init-only property is a constructor parameter or not. So it should be as simple as:

[code]

I don't know if it needs any optimization beyond that. eg, a hashed or sorted collection to hold all the Paramete

[2022-04-12 16:37] DanPristupov commented on #67506
I was curious how that case is handled by **Swift**. It turned out on Swift async is always faster.

M1 (sync: `17ms`, async: `3ms`). Async is `5.65` times faster!
[code]

Intel (sync: `31ms`, async: `4ms`). Async is `7.75` times faster!
[code]

<details>
  <summary>Source code</summary>

[code]
</details>

[2022-04-12 16:40] karelz commented on #66632
Triage: Specific to Server2022 after Helix update last week (on 4/6).

[2022-04-12 16:41] EgorBo commented on #67916
Most likely caused by https://github.com/dotnet/runtime/pull/66357 cc @steveharter

[2022-04-12 16:45] karelz commented on #67353
Triage: Platform detection needs to be improved to handle the case as well.

Note: This will be addressed once we have managed NTLM implementation - but there is no guarantee when it will happen.

[2022-04-12 16:46] EgorBo commented on #67916
ubuntu-x64: https://github.com/dotnet/runtime/pull/66357

[2022-04-12 16:48] karelz commented on #67509
Triage: We need to track down why the failures are missing from test results DB @dotnet/dncenghot can you please help?

[2022-04-12 16:49] EgorBo commented on #67914
ubuntu-x64 https://github.com/dotnet/perf-autofiling-issues/issues/4524

[2022-04-12 16:50] EgorBo commented on #67915
ubuntu-x64 https://github.com/dotnet/perf-autofiling-issues/issues/4523

[2022-04-12 16:50] karelz commented on #67537
Triage: Thanks for the simple repro!
NativeAOT is preview in 7.0, so moving to Future for now.

[2022-04-12 16:52] EgorBo commented on #67912
alpine-x64 https://github.com/dotnet/perf-autofiling-issues/issues/4300

[2022-04-12 16:53] karelz commented on #67687
Triage: Likely some test infra problem. We should address it.

[2022-04-12 17:00] rzikm commented on #65098
For Server 2022, its `IOException`

[2022-04-12 17:04] rzikm commented on #66632
The "wait" in question in the test is 3s, and the timeout for entire test is 1 minute.

[2022-04-12 17:06] stephentoub commented on #67915
Thanks.  This one is expected.  We had an unbounded memory leak due to a static cache, which I deleted.  This test is measuring construction time, so the change essentially reverted the ctor cost to what it should have been all along, rather than reusing the objects from a previous construction of the exact same regex.

[2022-04-12 17:06] #67915 closed

[2022-04-12 17:09] stephentoub commented on #67912
This one is very surprising.  I'll take a look.

[2022-04-12 17:14] eiriktsarpalis commented on #63747
It would still be possible to specify a discriminator for the base class (using the same `JsonDerivedType` mechanism for the base type itself).

Correct -- only the contract resolver would be able to unblock this scenario.

No. If multiple types in a hierarchy specify polymorphism attributes these specify configuration for the given declared type only.

[2022-04-12 17:17] deeprobin commented on #65634
What about adding a `StringSyntaxAttribute` connection strings?
See <https://docs.microsoft.com/de-de/dotnet/api/system.data.sqlclient.sqlconnection.connectionstring?view=dotnet-plat-ext-6.0>

[code]

[2022-04-12 17:17] krwq commented on #63747
@SCLDGit once you fully automate it you're super prone to remote code execution on de-serialization :-) It's purposefully made harder so you use it only when you have to

[2022-04-12 17:18] deeprobin commented on #65634
didn't saw this was also discussed

[2022-04-12 17:20] jeffhandley commented on #28482
@danmoseley I don't want to set a community contributor up for frustration by inviting a pull request that we won't be able to promptly review.

As is mentioned in #63762, we are continually revising our scope for .NET 7 as we progress through the release. When we hit our next notable checkpoint on the work we have underway right now, we will reassess our availability for being able to champion a

[2022-04-12 17:21] SCLDGit commented on #63747
@krwq I'm not talking full automation, I'm more talking something where if I define a `Base` class and then `Derived : Base`, and I have base decorated with something like `[JsonShouldDerive]`, the IDE can recommend an action to generate the `[JsonDerivedType(typeof(Derived), "derived")]` tag on the parent class automatically.

[2022-04-12 17:43] danmoseley commented on #28482
Fair enough

[2022-04-12 17:47] elinor-fung commented on #67878
Hit again in https://github.com/dotnet/runtime/pull/67635.

A bunch of different tests being detected as long running - from one of the logs:
[code]

[2022-04-12 17:47] deeprobin commented on #58492
I would assume based on the exception that this bug only occurs on Windows.
Can you label this `os-windows`?

Does the error also occur with `ShellExecute`, because internally different paths are chosen in the ShellExecute case?

https://github.com/dotnet/runtime/blob/42044c65e9a09ae3d6f056d53bb1af83aa6ae449/src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Win32.cs#L25-L27

[2022-04-12 17:51] terrajobst commented on #67276
* Makes sense, but we should rename the struct and make the properties `init`

[code]

[2022-04-12 17:55] deeprobin commented on #52374
If we do a redesign I think we should leave the old `System.Console` API for now and create a new one (e.g. `System.Terminal`) so that we don't have any breaking changes in `System.Console`.

In this new API we can then modify all the sins we know of in `System.Console` without hesitation.

[2022-04-12 17:56] MattGal commented on #8843
I'm going to close this out.  We have regular testing now on a "best effort" latest Rhel 7 setup, which is currently 7.9, and this runs on most PRs and in inner/outerloop scenarios every day.

[2022-04-12 17:56] #8843 closed

[2022-04-12 17:57] elinor-fung commented on #67878
There over 50 hits in the past day - marking as blocking-clean-ci. Nothing in the week before that though - some recent change?
[code]

[2022-04-12 18:14] fanyang-mono commented on #64072
I am closing this issue, as all the work planed for this issue has been finished.

[2022-04-12 18:14] #64072 closed

[2022-04-12 18:15] terrajobst commented on #28795
* We'd prefer a less-Yoda like name such as `IndexOfAnyExcept` which would also allow us to fold the single case into the multiple case.

[code]

[2022-04-12 18:17] AndyAyersMS commented on #67631
This doesn't repro (on windows arm64) and hasn't failed since 4/3.

Suspect it is another symptom of #66924 (fixed by https://github.com/dotnet/runtime/pull/67563).

[2022-04-12 18:17] #67631 closed

[2022-04-12 18:19] KathleenDollard commented on #52374
@deeprobin That's the expectation. We're not going to break System.Console. This is to collect info on what the 'sins" of System.Console are.

[2022-04-12 18:22] terrajobst commented on #29368
* Looks good as proposed

[code]

[2022-04-12 18:29] eiriktsarpalis commented on #58770
@jharjung would be interested in contributing a PR?

[2022-04-12 18:30] terrajobst commented on #54979
* Looks good as proposed

[code]

[2022-04-12 18:34] ericstj commented on #67063
That same framework (4.7.2) contains a higher version of `System.Runtime.InteropServices.RuntimeInformation.dll`
[code]
When packages are "absorbed" by a framework we don't go back and ship new versions of those packages for a new framework.  Instead we recommend that folks move to the new framework and remove their dependency on the package that is no longer needed.

I would expect MSBuild / SDK

[2022-04-12 18:50] saucecontrol commented on #28285
I wouldn't hesitate to use @bgrainger's package in an app, but as a library author, I'm more concerned about the likelihood of downstream conflicts if I were to take a dependency on it.  Not being an 'official' package, it doesn't show up in places like https://apisof.net/, making it more likely a similar third-party shim or a copy/paste of the BCL source might end up in a consuming project alongs

[2022-04-12 18:51] noahfalk commented on #58471
The fix @kouvel made thus far addresses the issues that were caused by TieredCompilation and RejitOnAttach. Some of the folks on this thread said that was sufficient to resolve the issue for them but others said they could still reproduce deadlocks after those two features were disabled. We did identify a likely 3rd culprit which is theorized to produce a similar looking deadlock but it hasn't yet

[2022-04-12 18:58] terrajobst commented on #64271
* Looks good as proposed
    - Need overloads so that it shows up on instances of `Span<T>`
    - We should constrain the first one to `IEquatable<T>`
    - We might need to add an overload that is specific to `char` and takes `StringComparison`

[code]

[2022-04-12 19:04] terrajobst commented on #66467
* Looks good as proposed

[code]

[2022-04-12 19:05] tannergooding commented on #66467
@anthonycanino, this is approved now and we can feel free to implement it whenever someone has availability.

[2022-04-12 19:05] RikkiGibson commented on #66167
CompilerFeatureRequired with an IsOptional property seems like a strange combination of names.

[2022-04-12 19:10] MagicAndre1981 commented on #67897
look if update to 6.0.4 from todays patchday helps

[2022-04-12 19:13] MagicAndre1981 commented on #66884
check todays updates, here there is an updated package:

https://www.nuget.org/packages/System.Runtime.Experimental/6.0.2

[2022-04-12 19:46] ChadNedzlek commented on #67509
I'll take a peek at the table and logs to see why this guy is missing.

[2022-04-12 19:51] ChadNedzlek commented on #67509
I see 5 tests for this workitem in the DB, I believe the first one is the test in question? The names are pretty long and hard to keep in memory, so I might have misread:
Name | Outcome
-- | --
System.Net.Http.Functional.Tests.Http1SingleChunkResponseStreamZeroByteReadTest.ZeroByteRead_IssuesZeroByteReadOnUnderlyingStream | Failed
System.Net.Http.Functional.Tests.Http1CloseResponseStreamZeroByteRe

[2022-04-12 19:57] kouvel commented on #58471
I've looked over a couple of options on that theorized issue after TieredCompilation and RejitOnAttach are disabled, though it's not clear yet what is actually causing that deadlock. There is a promising option for the theorized issue, more to look at.

[2022-04-12 20:02] buyaa-n commented on #63960
Yest i was OK with the API shape/name because @VSadov moved the existing API implementation from `AssemblyName` into `MetadataReader`, and the new API naming just same as the one in `AssemblyName` https://github.com/dotnet/runtime/blob/cfd1241efc7ea54a00db848c6d00cd773ed6ae50/src/libraries/System.Private.CoreLib/src/System/Reflection/AssemblyName.cs#L190
But I believe it is not have to be same as

[2022-04-12 20:16] #63413 closed

[2022-04-12 20:25] wfurt commented on #64735
good to know. https://github.com/dotnet/runtime/pull/48059 is probably biggest suspect. I'm not sure if this would meet servicing bar @karelz

[2022-04-12 20:25] #67402 closed

[2022-04-12 21:13] maryamariyan commented on #67577
@davidfowl @pakrym was there a strong reason to keep this internal in the PR https://github.com/dotnet/extensions/pull/513

[2022-04-12 21:18] maryamariyan commented on #67093
Did you try changing the recommendation in the exception message to use `WebApplication.CreateBuilder(WebApplicationOptions)` instead?

[2022-04-12 21:19] #67566 closed

[2022-04-12 21:48] terrajobst commented on #63960
Personally, I think `assemblyFile` is fine, but so is `assemblyPath` or just `path`.

@dotnet/fxdc, any preferences?

[2022-04-12 21:52] AndyAyersMS commented on #64659
No worries, this is a good place.

What environment vars are you setting? If you've set `COMPlus_TC_QuickJitForLoops=1` then it's possible for methods to get "trapped" in Tier0 code for long stretches of time, which would be consistent with what you're seeing above.

If so, the general fix for this is [On Stack Replacement](https://github.com/dotnet/runtime/blob/main/docs/design/features/OnStackRe

[2022-04-12 21:53] danmoseley commented on #67913
@DrewScoggins is it possible to have the script include not just the test name, but also the parameters? In this case, it runs with many inputs.

Assuming the report is listing them all, there was only one that regressed: `[System.Text.RegularExpressions.Tests.Perf_Regex_Industry_Leipzig.Count(Pattern: "(?i)Tom|Sawyer|Huckleberry|Finn", Options: NonBacktracking)]`

[2022-04-12 21:55] danmoseley commented on #67897
Saying a little more -- a crash in a .NET app is usually not caused by the runtime, but instead by unsafe code or incorrect pinvoke signatures.
Did this start crashing after a .NET update? Did it eg only crash on 6.0 but not 5.0?
If you can get a native callstack, it might suggest whether the bug is .NET or not. But the info above is not enough to tell us.

[2022-04-12 21:56] danmoseley commented on #67913
Oh, excuse me, I see it's in the screenshot. Of course that's not searchable, so having in the text would be great.

[2022-04-12 22:10] AlgorithmsAreCool commented on #67868
I should have included that in my

[2022-04-12 22:17] jkotas commented on #67537
@AhmedZero What is the NativeAOT compiler package version that you have reproduced it with? Does it still reproduce with the current packages (7.0.0-preview4) ?

[2022-04-12 22:18] jkotas commented on #67537
Potential duplicate of https://github.com/dotnet/runtimelab/issues/1883

[2022-04-12 22:27] radical commented on #67911
cc @javiercn

[2022-04-12 22:28] radical commented on #67911
@Jnagasuresh could you please share a screenshot of the error? Also, which version of dotnet are you using, exactly?

[2022-04-12 22:29] radical commented on #67887
Issue is being tracked at https://github.com/dotnet/arcade/issues/9025

[2022-04-12 22:37] dakersnar opened #67932 "System.Tests.Perf_DateTime.GetNow has regressed across multiple configurations"
System.Tests.Perf_DateTime.GetNow has regressed across multiple configurations.

[Reporting System](https://pvscmdupload.blob.core.windows.net/reports/allTestHistory%2frefs%2fheads%2fmain_x64_Windows%2010.0.18362%2fSystem.Tests.Perf_DateTime.GetNow.html):

![image](https://user-images.githubusercontent.com/18474647/163065631-92659809-0cb4-4f31-942e-fb70215a496f.png)

Looking at the [commit diff](h

[2022-04-12 22:47] EgorBo commented on #67932
This is expected, `DateTime.Now` regresses and improves once a year at fixed dates due to DST ;-) https://twitter.com/EgorBo/status/1460697206667763714

[2022-04-12 22:54] danmoseley commented on #67932
this code only runs when we're in DST: https://github.com/danmoseley/runtime/blob/67761043f1b0e1514a1b8c1c6d99a353737a24a1/src/libraries/System.Private.CoreLib/src/System/TimeZoneInfo.cs#L1383-L1412

[2022-04-12 22:57] LoopedBard3 commented on #67545
We are also seeing this issue in the performance runs. We don't have any dumps, but this was occurring with the FlushAsync, WriteAsync, and ReadAsync Perf_Filestream benchmarks in our Linux x64 tests on Ubuntu.1804.

[2022-04-12 23:00] EgorBo commented on #67932
@danmoseley I don't think it executes that code as part of `DateTime.Now`, I assume the regression is internal in kernel32

[2022-04-12 23:02] EgorBo commented on #67932
oh, or maybe it does?
![image](https://user-images.githubusercontent.com/523221/163068395-8c6ea8d3-cdc0-4e6b-8479-eef763b13802.png)

[2022-04-12 23:23] wfurt commented on #66980
Is the `CertificateFile` PFX with private key? In general, on Windows the client certs with ephemeral keys do not work. I would suggest to enable tracing for SslStream. The logs should show some info about certificate selection. For historical reasons the `ClientCertificates` is only collection with possible candidates and the selection logic is not trivial.

[2022-04-12 23:35] trylek commented on #64263
Based on @cshung's suggestion I have investigated why we're globally turning on the potentially expensive option <code>ShouldTrackSurvivorsForProfilerOrEtw</code> that is making the runtime tests vulnerable to the GC bug tracked in this issue. I have landed in this place:

https://github.com/dotnet/runtime/blob/1043f003c2b6e404014845e42d25513cebe2b9d9/src/tests/run.sh#L219

I'm not sure how to go

[2022-04-12 23:57] performanceautofiler[bot] opened #68565 "Regressions in System.Text.RegularExpressions.Tests.Perf_Regex_Industry_Leipzig"
### Run Information

Architecture | x86
-- | --
OS | Windows 10.0.18362
Baseline | [0c5e7daf58e5d79cb7a2a8767d1f0e6ec4de4dd4](https://github.com/dotnet/runtime/commit/0c5e7daf58e5d79cb7a2a8767d1f0e6ec4de4dd4)
Compare | [22870c2e31ae3c028cece52babd3cae57b560713](https://github.com/dotnet/runtime/commit/22870c2e31ae3c028cece52babd3cae57b560713)
Diff | [Diff](https://github.com/dotnet/runtime/compare

[2022-04-12 23:57] performanceautofiler[bot] opened #68429 "[Perf] Regressions in System.Text.RegularExpressions.Tests.Perf_Regex_Industry_Mariomkas"
### Run Information

Architecture | x86
-- | --
OS | Windows 10.0.18362
Baseline | [c288acdb794b1f2edba90868a823b161d88bd2b0](https://github.com/dotnet/runtime/commit/c288acdb794b1f2edba90868a823b161d88bd2b0)
Compare | [bed8bc7094f24360256ee4c014da3c5cadc2e3d2](https://github.com/dotnet/runtime/commit/bed8bc7094f24360256ee4c014da3c5cadc2e3d2)
Diff | [Diff](https://github.com/dotnet/runtime/compare

[2022-04-12 23:57] performanceautofiler[bot] opened #68428 "[Perf] Changes at 4/9/2022 9:54:15 AM"
### Run Information

Architecture | x86
-- | --
OS | Windows 10.0.18362
Baseline | [285b8259af30e255980b1ebfb2ddd60ca291a83a](https://github.com/dotnet/runtime/commit/285b8259af30e255980b1ebfb2ddd60ca291a83a)
Compare | [0c64bdf3afc1fdc9166ad6c22c1990d3e0a6c509](https://github.com/dotnet/runtime/commit/0c64bdf3afc1fdc9166ad6c22c1990d3e0a6c509)
Diff | [Diff](https://github.com/dotnet/runtime/compare

[2022-04-12 23:57] performanceautofiler[bot] opened #68427 "[Perf] Regressions in System.Collections.Tests.Perf_BitArray"
### Run Information

Architecture | x86
-- | --
OS | Windows 10.0.18362
Baseline | [daf25da8e67857fde603b16d92192cd1368bafc7](https://github.com/dotnet/runtime/commit/daf25da8e67857fde603b16d92192cd1368bafc7)
Compare | [a29a33456bd4df703e4ff675f36fe0f22903953d](https://github.com/dotnet/runtime/commit/a29a33456bd4df703e4ff675f36fe0f22903953d)
Diff | [Diff](https://github.com/dotnet/runtime/compare

[2022-04-13 00:09] hoyosjs commented on #64263
I am relatively surprised `COMPlus_EnableEventLog` is needed at all (cc: @dotnet/dotnet-diag). I doubt any test uses LTTNG and event pipe should automatically. LTTNG is also relatively expensive... I'd say runtests should have this disabled by default and the flag should be a positive ( --enableEventLogging -> eventLogging = 1 -> `COMPlus_EnableEventLog=1`) to make it pay for play.

[2022-04-13 00:16] danmoseley commented on #67932
Is that with DST, or without? If GetDatePart is larger in DST, then it's perhaps because it's getting Year out of the DateTime in that block. The code before already gets Day and Month and Year, though. I wonder if there is opportunity to have GetDatePart() return all of those together rather than repeat its work.

is the codegen for GetDatePart() reasonable?

[2022-04-13 00:26] stephentoub commented on #67913
@joperezr, prior to your change, was NonBacktracking's case folding for i and k the same as we now use in general? That's the only thing I can think (without debugging).for why there might be a (small) regression here due to your change. Might be worth generating a dgml graph for the expression before and after your change and see if it's different. We would have already been generating sets for e

[2022-04-13 00:36] AhmedZero commented on #67537
i use 7.0.0-preview-4.22212.4.

that's my csproj.
[code]

[2022-04-13 00:40] AndyAyersMS commented on #66720
I think this is "too early" as we only need this for memory args, and don't know this yet?

@sandreenko any suggestions on where to try and fix this? My current thinking is to add a cast in morph if we have a stack `PUTARG_TYPE` -- if we see the putarg type is wider than the underlying node we need to extend the underlying node to the wider size.

[2022-04-13 00:42] DrewScoggins commented on #67913
Yeah, it is also in the Test Report link, and it is in the details tab. If you want I can add it somewhere else as well.

[2022-04-13 00:54] #64263 closed

[2022-04-13 01:13] VincentBu commented on #58699
Failed again in: [runtime-coreclr jitstress 20220411.1](https://dev.azure.com/dnceng/public/_build/results?buildId=1712134&view=ms.vss-test-web.build-test-results-tab&runId=46547532&resultId=109921&paneView=debug)

Failed test:
[code]
**Error message:**
[code]

[2022-04-13 01:59] stephentoub opened #67942 "Vectorize the new {Last}IndexOfAnyExcept methods"
Simple implementations were added in https://github.com/dotnet/runtime/pull/67941.  These should be vectorized, ideally sharing as much implementation as possible with {Last}IndexOf{Any}.

[2022-04-13 02:17] saber-wang opened #67943 "JsonNode.ToJsonString(JsonSerializerOptions options) Throw OutOfMemoryException"
### Description

Occasionally throw memory overflow when using JsonNode.ToJsonString

### Reproduction Steps

The size of a single JsonObject is within 30000000 bytes

var transObj = new JsonObject();
transObj .ToJsonString(new JsonSerializerOptions(JsonSerializerDefaults.Web)
                {
                    Encoder = System.Text.Encodings.Web.JavaScriptEncoder.UnsafeRelaxedJsonEscaping

[2022-04-13 02:18] saber-wang commented on #67943
@mangod9

[2022-04-13 02:30] mangod9 commented on #67943
hi @saber-wang, could you also please provide what memory configuration you are using for the container? If you possibly have a sample json input that might help too. thanks

[2022-04-13 02:53] wfurt commented on #63162
That is not necessarily true. Since we use SafeHandle under the cover `Close` does not really work while in `connect` system call - at least on Linux. And AFAIK we did not mix sync methods with `CancellationToken` so far. For consistency, it may be best if synchronous methods depend on timeout values while `*Async` use the token.  However, through some other discussion I feel there is sentiment fo

[2022-04-13 02:54] wfurt commented on #66970
This looks like regression from https://github.com/dotnet/runtime/pull/65738
thanks @jkotas for the pointer cc: @janvorli

basically when the coreclr starts it fails with SIGSEGCV
[code]

The steps are tedious but it is easy to reproduce once the containers are all built. I don't know if the main trigger is ` /p:NativeOptimizationDataSupported=false` as we fail to build PGO so we build bits withou

[2022-04-13 02:59] jharjung commented on #58770
Sure, I’ll see what I can do. Will need to clone the repo and get a build going and such so it might be a few days.

[2022-04-13 03:25] AArnott commented on #67063
That may explain why I couldn't repro the problem outside one specific project in a repo with old and custom targets. Given what's been explored here, and that I have a workaround, I'll close the bug.
Thanks.

[2022-04-13 03:25] #67063 closed

[2022-04-13 03:43] MiyamuraMiyako commented on #67093
But I can't change `builder.Host.UseWindowsService();` logic.

[2022-04-13 03:52] Sapana-Khemkar commented on #67428
If I change Architecture enum to PowerPC64 then `System.Runtime.InteropServices.RuntimeInformationTests.RuntimeIdentifierTests.VerifyOSRid` testcase fails.
This test case compares Architecture enum value and the architecture component of the RID.  On Power machine Linux reported architecture name is `ppc64le`.
So if we go as per this test case we have to keep enum name as PPC64LE or Ppc64le. Other

[2022-04-13 04:02] #29368 closed

[2022-04-13 04:04] danmoseley commented on #67943
Please if you can share minimal, runnable code that repros this.

[2022-04-13 04:08] AaronRobinsonMSFT commented on #3904
We now build using Ninja. Seems like this issue can be closed.

[2022-04-13 04:08] #3904 closed

[2022-04-13 04:11] wfurt commented on #63162
I did look at the link @tactical-drone but lot of the code does not make sense to me - like `Poll` before `WriteAsync`.  It would be more useful IMHO to describe what problems you trying to solve.

I did more searching within runtime and found [TlsStream](https://github.com/dotnet/runtime/blob/main/src/libraries/Common/src/System/Net/TlsStream.cs) that wraps `SslStream` as `NetworkStream` and then

[2022-04-13 04:12] tmds commented on #67506
This uses the macOS specific `POSIX_SPAWN_CLOEXEC_DEFAULT` which means child processes only inherit specified handles.

With .NET, any inheritable handle is available to any child.

There is an open issue for an API that would allow to specify the inheritance: https://github.com/dotnet/runtime/issues/13943.

However, because there may be a child `Process` that enable inheritance, the lock that cau

[2022-04-13 04:16] wfurt commented on #63162
Lastly, the https://github.com/dotnet/runtime/issues/1793 is dead as right now. I think it may be because it tried to solve everything.  While related, I see this proposal as way how to make writing simple networking endpoints easier. In order to do that, I think we should focus on simplicity and consistency. If combined with TLS it may go beyond the `TCP`     @geoffkizer envisioned but we can sti

[2022-04-13 04:17] danmoseley commented on #43976
@TKharaishvili hello, are you still working on this ?

[2022-04-13 04:20] danmoseley commented on #67201
fixed by https://github.com/dotnet/runtime/pull/67332

[2022-04-13 04:20] #67201 closed

[2022-04-13 04:22] danmoseley commented on #57881
@leandromoh my bad, I missed your comment.

Many of our long time contributors started by contributing some small changes. Perhaps you would like to do that first? If you are interested, you could look through https://github.com/dotnet/runtime/issues?q=is%3Aissue+is%3Aopen+label%3Aup-for-grabs for something that seems easy (there is actually an 'easy' label, but not applied to all easy things). Th

[2022-04-13 04:23] wfurt commented on #63162
[code]

that would optionally negotiate TLS if `sslOptions` is not null. (The server may be little bit more complicated)

[2022-04-13 04:23] danmoseley commented on #57046
@vcsjones is this fixed by your #67158? if not, do you plan to do this or should we mark up for grabs?

[2022-04-13 04:24] danmoseley commented on #42154
@GrabYourPitchforks ...

[2022-04-13 04:24] danmoseley commented on #54979
@eerhardt should this be labeled 'up for grabs'

[2022-04-13 04:25] danmoseley commented on #36105
@reflectronic it's been a while, but are you interested in offering a PR? It's not clear from above. If not, we can mark up for grabs.

As you probably know, we have removed the Unix implementation of Drawing.

[2022-04-13 04:26] danmoseley commented on #39406
@deeprobin going through old issues. do you plan to continue with this one?

[2022-04-13 04:29] carlossanlop opened #67946 "[release/6.0] SSL and authentication failures affecting branch CI"
@dotnet/ncl @rzikm @wfurt @karelz There are many SSL and authentication-related failures in the 6.0 branch. Example:

- PR: https://github.com/dotnet/runtime/pull/67928
- Pipeline results: https://dev.azure.com/dnceng/public/_build/results?buildId=1713348&view=results
- Jobs: https://dev.azure.com/dnceng/public/_build/results?buildId=1713348&view=logs&j=b4344b0d-0f92-5d69-ccaf-e0b24fbf14a2&t=65a58

[2022-04-13 04:49] carlossanlop opened #67947 "[release/5.0] SSL and authentication failures affecting branch CI"
@dotnet/ncl @rzikm @wfurt @karelz Similar to release/6.0, there are many SSL and authentication-related failures in the 5.0 branch. Example:

- PR: https://github.com/dotnet/runtime/pull/67927
- Pipeline results: https://dev.azure.com/dnceng/public/_build/results?buildId=1713318&view=results
- Jobs: https://dev.azure.com/dnceng/public/_build/results?buildId=1713318&view=logs&j=85312bf4-08bc-52d1-d

[2022-04-13 04:52] reflectronic commented on #36105
I would certainly like to offer a PR, but I think this needs to go through API review again, since #39406 missed this API. So, we would need something like:
[code]

Since this has to go through API review again, I also think we should change the namespace... `System.Drawing.Imaging` is mostly about advanced encoding and decoding functionality; I think `System.Drawing.Drawing2D` is much more approp

[2022-04-13 04:58] wfurt commented on #67946
seems like something more is missing form the server 2022 bucket. We should never shrow `SkipException ` in remote executor. This is something @MihaZupan  fixed while back.

I think the rest mimics mainline - caused by recent changes to Helix queues.  I think I gout Windows7 under control, and I'll look at the Server 2022 next. We will probably need to push fixes down to the release branches or ro

[2022-04-13 05:14] radical opened #67948 "System.Text.Json.SourceGeneration.Tests.MetadataWithPerTypeAttributeContextTests.RoundTripCollectionsDictionary failing with Actual: 0001-01-01T00:00:00.0000000+00:00"
[Build](https://dev.azure.com/dnceng/public/_build/results?buildId=1714482&view=logs&jobId=c6f8dc49-92a1-5760-c098-ba97b8142bfb&j=c6f8dc49-92a1-5760-c098-ba97b8142bfb) for https://github.com/dotnet/runtime/pull/67944:

[code]

Runfo Tracking Issue: [system.text.json.sourcegeneration.tests.mixedmodecontexttests.roundtripcollectionsdictionary](https://runfo.azurewebsites.net/tracking/issue/329)
|Bui

[2022-04-13 05:17] saber-wang commented on #67943
@mangod9
[code]
Sample JSON I try to print it out the next time the memory overflows

[2022-04-13 05:47] mconnew opened #67949 "Adding Dictionary<K,V> to XsdDataContractExporter adds KeyValuePair<K,V> as well"
### Description

When adding `Dictionary<K,V>` to XsdDataContractExporter, it also implicitly adds `KeyValuePair<K,V>` to the set. This is causing extra schema to be added when generating a WSDL in CoreWCF compared to .NET Framework.

### Reproduction Steps

Add `Dictionary<string,string>` to XsdDataContractExporter then export all the schema.

### Expected behavior

The schema will only contain a

[2022-04-13 06:23] GSPP commented on #67209
I find it very common to have read-only dictionaries. This is more than 95% of my usage (I'm sure it varies by codebase). It could be worth creating specialized collections for that. Build once and use many times.

This could provide additional performance due to a number of factors:

- Free list management can be removed.
- The version field can be removed.
- Optimized building from an `IEnumerab

[2022-04-13 06:28] vinaykk5 opened #67950 "C# Change this code to not construct the OS command from user-controlled data, vulnerability is coming for process.StartInfo.Arguements(args) in .net Framework 4.8"
Complaint solution suggests to use   p.StartInfo.ArgumentList.Add(arg); // Compliant. But .Net framework 4.8 doesnt have ArguementList. Its only available in  .net 6. How to fix this issue in framework 4.8.

                  var m_BotStartInfo = new ProcessStartInfo();
                m_BotStartInfo.EnvironmentVariables["JAVA_HOME"] = JREPath;
                m_BotStartInfo.UseShellExecute = fals

[2022-04-13 06:43] manofstick commented on #64659
Yes indeed I had `COMPlus_TC_QuickJitForLoops` set, and setting `COMPlus_TC_OnStackReplacement` did indeed solve this. Thanks.

I did try splitting the loop, but couldn't seem to force it out of Tier0. I also looked at setting `AggressiveOptimization` on the method, but it was in f# and found that the f# compiler currently doesn't propagate that attribute to the generated IL, so that was a failure

[2022-04-13 06:43] AndiRudi commented on #1566
This is a really annoying thing when you want to upgrade to .net 6 because the default de-serialiser of a view model will add the timezone given by the frontend. If you forward this to a Postgres database you will get an error like `Cannot write DateTimeOffset with Offset=02:00:00 to PostgreSQL type ...`. Or am I missing something?

[2022-04-13 06:46] ViktorHofer commented on #67091
Let's reopen the issue as it demonstrates that VS doesn't work well when the build graph isn't satisfied via the project listed in our solution files.

[2022-04-13 06:57] wfurt opened #67952 "consider presenting IPv4-Mapped addresses as IPv4"
This is somewhat related to  #67879 but it is more general. In #67879 the local and remote address can be presented either as `127.0.0.1` or as `[::ffff:127.0.0.1]` while connecting to identical host.

While sematintially same, the former seems easier to read and process.
Since .NET's promise is simplification and ease of use, we may consider hiding the trickery of underlying `Socket` type and we

[2022-04-13 07:24] deeprobin commented on #39406
@danmoseley
System.Drawing` will probably die in the long run anyway.

In the PR it is only about testfailures that fail due to a double-dispose.
Since they are 2 objects (the initial object and the by-handle object), the finalizer will always implicitly call Dispose, so an exception will be thrown in any case.
`GdipDeleteRegion` is for ex. not safe to call twice 😞.

Basically the implementation o

[2022-04-13 07:39] tmds commented on #34126
Are you sure? Looking at the code: `DeleteFile` doesn't check the lock, and just calls `unlink`.

https://github.com/dotnet/runtime/blob/5c57f2c0cda44176e237574ceb51d659ef9915fa/src/libraries/System.Private.CoreLib/src/System/IO/FileSystem.Unix.cs#L242-L244